[2015-03-18 01:45] ellismg commented on #1146
@ericleigh007 Opening an issue on User Voice is a great idea.  If there end up being a lot of votes, we will certainly reconsider about creating a first class implementation.

If you wouldn't mind, please do share the link in this issue so folks who find it will know to vote.  I'll close the issue after you've added the link.

[2015-03-18 01:54] ericleigh007 commented on #1146
Here's the link to UserVoice.
http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/7222682-add-efficient-xml-interchange-support-to-net

[2015-03-18 01:56] ellismg commented on #1146
Thanks!

[2015-03-18 01:56] #1146 closed

[2015-03-18 02:40] stephentoub commented on #1143
@rafidka, thanks. Hold off for now; I want to investigate a little more... I think there are more tests, and I'd like to avoid you doing duplicate work, if possible. I'll get back to you soon.

[2015-03-18 05:20] ConradMellin commented on #1129
Hi, thanks for the quick responses all.

I'm not sure exactly what is meant by "Should the Vector class offer SIMD operations that do not map directly to hardware SIMD instructions". According to https://software.intel.com/sites/default/files/a6/22/18072-347603.pdf exp is an intrinsic.

At any rate, I see that this issue has been assigned to mellinoe, so just wondering what the plan is for adding

[2015-03-18 05:34] mikedn commented on #1129
What that doc shows is a "compiler intrinsic" - a C runtime function that is treated specially by C/C++ compilers. For example, during auto-vectorization Visual C++ can replace calls to `exp` with calls to a custom library function that computes 2/4/8 values at the same time. But there is no SSE/AVX instruction that computes `exp`.

[2015-03-18 05:56] ConradMellin commented on #1129
Ok, I see. But it is still using SIMD instructions for Vectorization, so we would still see a 2/4/8 times speed up by using compiler intrinsics, not so?
In which case, I would think it makes sense to add support for Math.Exp to RyuJIT/System.Numerics.Vectors via these compiler intrinsics.

[2015-03-18 06:27] mikedn commented on #1129
Yes.

Perhaps.

The problem is that what Vector offers now is mostly a 1:1 mapping to SSE/AVX instructions (I don't know ARM Neon so I can't comment on that). `Max` is `maxps/maxpd`, `SquareRoot` is `sqrtps/sqrtpd` and so on. There are some exceptions (for example DotProduct requires a sequence of SSE instructions if the CPU doesn't support SSE 4.1) but those are special cases generated by Vector'

[2015-03-18 08:25] rafidka commented on #1143
Thanks @stephentoub for letting me know. I will put #1149 on hold as there is not much point in refactoring before we get the full code.

[2015-03-18 14:52] Aevitas commented on #1118
@ellismg The request is a compiled list of all API members included in src-full that include an indication of time in minutes, seconds, milliseconds?

[2015-03-18 16:04] KrzysztofCwalina commented on #1151
Ah, makes sense. Having said that, I wonder if there is some compatible approach that would allow us to have these members on the Math class. Maybe we could add methods with some naming scheme (prefix or suffix) or add a nested type to Math.

[2015-03-18 16:33] tannergooding commented on #1151
Well C uses the `sqrt(double)` and `sqrtf(float)`... Although the naming convention doesn't exactly fit (seeing as we have `Single` and not `Float`).

`Single` and `Fast` make sense as prefixes... `32` could be used as a postfix, but is somewhat ambiguous as it could also imply `Int32`.

I think a nested type would make it more difficult to access/use the methods. So in a language that doesn't all

[2015-03-18 17:35] MikePopoloski opened #1168 "Vector Shuffling Operations"
As mentioned in #993, a lot of useful SIMD code relies on shuffling data around within registers. There are a whole bunch of instructions available to do this, so we'd like to expose a coherent subset of these via Vector<T>.

## Rationale and Usage
Simple stream processing, such as the operations already supported on Vector<T>, are entirely parallel and thus don't benefit from shuffling operations

[2015-03-18 19:21] stephentoub commented on #1143
@rafidka, I did some digging around, and it looks like we do have tests, but they need a lot of work, so much that it'd probably be just as fast to write new ones from scratch rather than to port them.  So, feel free to go ahead and work on this.  If you also plan to do something around #1149, I'd ask that you do this first; refactoring can introduce bugs, and it'd be important to have tests to ca

[2015-03-18 19:44] MikePopoloski commented on #1151
Note that Unity already has a Mathf class that does exactly this: https://docs.unity3d.com/ScriptReference/Mathf.html

That's an indicator that such an API is useful and can help influence the vote for a good name.

[2015-03-18 20:40] rafidka commented on #1143
OK, thanks for the update, I will start on this task soon this. As for #1149, I will add my comments there.

[2015-03-18 20:43] rafidka commented on #1149
@stephentoub, just wanted to give you my opinion on this task. Mainly, I want to move classes to their own files rather than everything in one big file which makes it hard to follow. I don't see this breaking anything, and additionally, if we add the unit tests first, then we can be confident about this refactoring.

[2015-03-18 21:02] alexperovich opened #1170 "IEnumerator.Current does not throw after hitting the end of the collection."
This issue is in the `List<T>.Enumerator` class. When the collection is enumerated to then end and then modified, accessing `IEnumerator.Current` returns `default(T)` rather than throwing. According to the [documentation](https://msdn.microsoft.com/en-us/library/vstudio/system.collections.ienumerator.current%28v=vs.100%29.aspx) it should throw.

Simple Test case:

[code]

This test fails currently

[2015-03-18 21:55] chcosta commented on #1165
The test appears to determine a value sufficient to overflow the buffer and then it attempts to overflow the buffer and ensure that an error occurs (this works as expected).  It then increases the size of the buffer to a value which should be sufficient to contain the previous buffer overflow and performs the same operation it previously did.  In the second iteration, because the buffer size was i

[2015-03-18 21:56] chcosta commented on #1165
@stephentoub

[2015-03-18 22:53] stephentoub commented on #1165
I don't know; this was part of a CI build for a PR.

[2015-03-19 00:06] rafidka commented on #1143
@stephentoub, I am trying to run the unit tests but I am not being able to; I am getting this error when I try to run the tests using ReSharper:

Unable to run xUnit.net tests: Unknown test framework: Could not find xunit.dll or xunit.execution.desktop.dll.
Parameter name: C:\Users\Rafid\Workspace\corefx\bin\Windows_NT.AnyCPU.Debug\System.Linq.Tests\System.Linq.Tests.dll

When I check the path abo

[2015-03-19 00:14] chcosta commented on #1165
Thanks Stephen.

I don't think this test was performing as intended.  UnblockHandler gets reset after the first exception is dealt with.  This causes the watcher to stop receiving change events and thereby to stop raising error events (error events are called, mostly, during System.IO.FileSystem.Watcher's CompletionStatusChanged).  The result is that the 2nd operation in the method which is suppos

[2015-03-19 00:26] stephentoub commented on #1143
You can't use the desktop xunit, which presumably is what ReSharper is trying to use.  It needs to be run with .NET Core.  If you look in the msbuild output, you can see the command-line that's used to invoke the tests.

From what directory?  You need to do it in the System.Linq\tests directory.  If that's where you're doing it, what output are you seeing?

[2015-03-19 07:39] Maxwe11 opened #1174 "System.Runtime.Numerics.Tests fails on machine with decimal symbol differ from ".""
On machine with decimal symbol differ from "." (dot)

	  Discovering: System.Runtime.Numerics.Tests
	  Discovered:  System.Runtime.Numerics.Tests
	  Starting:    System.Runtime.Numerics.Tests
		 System.Numerics.Tests.ToStringTest.RunStandardFormatToStringTests [FAIL]
			Unexpected Exception:Xunit.Sdk.TrueException: Assert.True() Failure
			   at Xunit.Assert.True(Boolean condition)
			   at System

[2015-03-19 07:45] rafidka commented on #1143
Ah, yeah, it worked now when I tried msbuild /t:BuildAndTest from the tests directory. Just wondering, is there a better to execute the tests than the command line? It is a little bit hard to follow it and see what the problem is.

[2015-03-19 07:52] Maxwe11 commented on #1143
in VS2015 only
https://github.com/dotnet/corefx/wiki/Developer-Guide

[2015-03-19 08:02] rafidka commented on #1143
Oh yeah, I should have remembered that. I tried it now and it is working. Thanks @Maxwe11 .

[2015-03-19 08:26] rafidka commented on #1143
I added some simple tests and sent a PR to get some feedback. Please let me know if you have any concern, otherwise I will proceed with adding more tests.

One thing I would like to discuss is the input we should feed to the tests. Currently, I am using Enumerable.Range. However, I don't think this is realistic, and I believe we should use some randomly generated data. Obviously, for our tests to

[2015-03-19 08:59] Clockwork-Muse commented on #1143
... for this kind of testing, isn't `Enumerable.Range(...)` _already_ a custom enumerator?

You can do something akin to what I'm doing - generating via `Enumerable.Range(...).AsParallel()`, ParallelEnumerable.Range(...)`, `sourceArray.AsParallel()`, `Paritioner.Create(sourceArray).AsParallel()` (Obviously you wouldn't do it with parallel versions...).  Maybe add `Iterator`?  Note that Linq isn't

[2015-03-19 12:04] stephentoub commented on #606
Another, from http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/430/console
[code]

[2015-03-19 16:07] KrzysztofCwalina commented on #1151
@tannergooding why don't you create a formal API proposal? We would discuss it at the next API review. I think, in general, the addition is something we should do. It's just a matter of deciding on the right shape/location/naming of the APIs.

[2015-03-19 16:08] KrzysztofCwalina commented on #1151
BTW, you can read about the API review process at https://github.com/dotnet/corefx/wiki/API-Review-Process.

[2015-03-19 17:24] pallavit commented on #606
I briefly looked at the code defect however any fix will give us a divergent behavior from the desktop. I don't think that should be a concern in this particular case but that means we might have to go through some process.

I will send a PR to disable the test for now, and work on the fix in parallel.

[2015-03-19 18:12] Priya91 commented on #597
Assigning to @pallavit since she is looking at the process tests.

[2015-03-19 20:14] tannergooding commented on #1151
@KrzysztofCwalina, I have updated the first comment to more closely resemble a *speclet*. Please let me know if any additional changes should be made.

[2015-03-19 20:15] plabovich commented on #652
In the `System.Resources.ResourceWriter.Generate()` I noticed a list created (https://github.com/dotnet/corefx/blob/7116584186f8f3a886616aaf8cb5d4a982c60e27/src/System.Resources.ResourceWriter/src/System/Resources/ResourceWriter.cs#L115) that is only used to write the count (always 0) to the output stream later in the code. As far as I understand, in the framework's version of the class it is supp

[2015-03-19 20:31] troydai opened #1181 "DateTime.Parse inconsistent with other platforms"
Source: https://github.com/aspnet/dnx/issues/773

This passes in .NET 4.5 and Win 8 Store but fails on CoreCLR:

[code]

Standalone repo: https://github.com/troydai/dnx-issue773/blob/master/dnx-issue773/Program.cs

@JamesNK

[2015-03-19 20:43] weshaggard commented on #652
@plabovich we would love for you to contribute. I don't know much about that particular code you point out but it does certainly look like some dead code, so feel free to submit a PR for cleaning it up. If nothing else it may point out something we missed and the owner @ramarag can help figure out if that is in fact dead code or if we are missing some implementation.

[2015-03-19 20:49] tarekgh commented on #1181
I'll take a look at this one.

[2015-03-19 21:48] ikopylov opened #1182 "System.Linq performance improvement suggestions"
With Linq-to-Objects it is quite common practice to perform a series of transformations, and then materialize sequence to a concrete collection type by calling _ToArray(), ToList(), ToDictionary()_. These operations would work much faster if they knew the number of elements in the sequence.

Currently System.Linq.Enumerable has special treatment for _ICollection\<T\>_ interface only.
I suppose tha

[2015-03-19 23:50] Clockwork-Muse commented on #1182
The underlying problem seems to be because `Select` is combined with a `Where` operation (`Where` has it's own standalone operation, too, but not `Select` it seems).  This was probably done for a common case of the two operations being combined, but it means that it can't preserve the original count in the first place...

You may want to mention this particular problem in issue #1149

[2015-03-20 01:20] MattWhilden commented on #17
Don't mind me too much, just bumping old items that are perhaps completed.

What's the state here @krwq?

[2015-03-20 03:23] stephentoub commented on #1165
Thanks for investigating.

[2015-03-20 04:21] yufeih opened #1187 "Improve the exception message of ToDictionary when keys are duplicated"
`Enumerable.ToDictionary` makes it easy to turn an array into a dictionary. But when the keys are duplicated in the source array, it just throws an `ArgumentException` that says **An entry with the same key already exists**. It is hard to know what keys are duplicated.

To improve the exception message without adding extra overhead, the exception message can be modified to **$"An entry with the ke

[2015-03-20 05:41] ellismg commented on #1187
We've had this sort of feedback before (around Dictionary.Add()) and I think it's a great idea.  I sort of thought we had already done it, but I guess not?

/cc @davkean

[2015-03-20 05:56] yk000123 opened #1188 "ConvertToStringTests.FromDateTime in System.Runtime.Extensions.Tests fails because the test case uses current culture"
In my local machine, the test case ConvertToStringTests.FromDateTime always fail with below information:
[code]

Obviously, the case uses current culture to test. Suggest to create customized culture to avoid depending on system calendar settings.

[2015-03-20 06:38] pdelvo commented on #1187
Problems I see with that:
- I think it is very likely that there are people who are using the message and comparing it to figure out what kind of ArgumentException it was.
- Now .ToString whould have to be called for an element. This could introduce side effects.
- .ToString maybe even throw another exception. What would you do then?

So I don't think it is worth the risk of breaking peoples code.

[2015-03-20 06:51] ellismg commented on #1187
Related (and what I was thinking of: #185).

I don't think the message comparison argument holds water.  We localize the text of these messages anyway so folks are already on thin ice if they do this sort of comparison.  I think that we are okay to introduce breaks in these cases.

The "ToString()" having side effects or throwing exceptions angle is interesting, but we've [already said in the cont

[2015-03-20 07:12] Maxwe11 commented on #1188
Yours culture is not en-US?

[2015-03-20 07:31] yk000123 commented on #1188
@Maxwe11 My culture is en-US. But I changed the time format from "h:mm:ss tt" to "HH:mm:ss". It's not reasonable that the test case requires en-US locale.

[2015-03-20 08:00] MarcinJuraszek commented on #1182
Did you mean something like this: https://github.com/MarcinJuraszek/corefx/commit/efd50b9f56be93047f3b7b2a6929637b6b567f7d

It's not really tested or anything, but that's the general idea how I see some improvements around LINQ queries that use `Select` but don't use `Where`.

It would be nice to have tests around System.Linq first before attempting to optimize some corner cases (and to make sure

[2015-03-20 11:17] ikopylov commented on #1182
Exactly. But the implementation of ```ICollection<T>``` is overkill here. That's why I suggested to add special support for ```IReadOnlyCollection<T>```.
Also the same approach (using a special _IEnumerable\<T\>+IReadOnlyCollection\<T\>_ implementation) can be applied to ```Cast```, ```OrderBy```, ```Reverse```, ```Range``` and ```Repeat``` methods.

[2015-03-20 11:55] #1156 closed

[2015-03-20 13:04] cnblogs-dudu commented on #1159
Same failure.
[code]

[2015-03-20 13:12] yufeih commented on #1187
So if this change makes into immutable collections, it should also be included in `System.Collections.Generic.Dictionary`. I am not sure if the non generic `Hashtable` needs this, as that class is considered obsolete.

I can help come up with a pull request if this change Is considered acceptable.

[2015-03-20 14:22] akoeplinger commented on #1187
@yufeih It already did, see https://github.com/dotnet/corefx/pull/185.

I'm just waiting for `Dictionary` to show up in corefx to send a similar PR :smile: Can't wait to have this finally fixed :+1:

[2015-03-20 14:33] cnblogs-dudu commented on #1159
Fixes `System.Diagnostics.ProcessTests.ProcessTest.Process_AsyncOutputStream [FAIL]` by changing the code page of console from 1252(ANSI - Latin I) to 65001(UTF-8) with `CHCP 650011` command.

[2015-03-20 15:05] davkean commented on #1187
Dictionary is coming soon.

[2015-03-20 15:48] yk000123 opened #1191 "Win32Exception test case InstantiateExceptionWithLongErrorString fails in Simplified Chinese OS"
One target of this test case is to validate that the Win32Exception can support message longer than 256 characters. It assume that error message length of error code 0x268 is greater than 256. But in Simplified Chinese OS, the message length is 84.

[code]

[2015-03-20 15:56] #1188 closed

[2015-03-20 16:01] MarcinJuraszek commented on #1182
Basing it on `IReadOnlyCollection<T>` would require a change in `List<T>` constructor, because right now [it only tries to be smart for `ICollection<T>`](http://referencesource.microsoft.com/#mscorlib/system/collections/generic/list.cs,d2ac2c19c9cf1d44,references). The same applies to [`Buffer<TElement>`](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Enumerable.cs#L3

[2015-03-20 18:12] pallavit commented on #1159
@cnblogs-dudu Not sure why would this cause intermittent failure?
Unfortunately I can't still repro it on my system. I will spend some time looking at it today. Worst case I will add some logging in the test to help identify the issue.

[2015-03-20 18:25] pallavit commented on #597
I made some changes to the Process test in the recent past and I am not seeing any new reports of this failure and so closing this for now.

[2015-03-20 18:25] #597 closed

[2015-03-20 19:13] ellismg commented on #1159
I don't think the codepage is the issue.

My current suspicion is that there's a race where the process exits before we have finished the callback to push the stdout data into the string builder and so we end up with an empty string when we do our comparison, but I haven't dug into the implementation of the callbacks or WaitForExit yet.

Note that the arguments to Assert.Equal are passed backwards

[2015-03-20 19:15] pallavit commented on #1159
Yes, I have a local fix to change this across process tests :). Should be out for PR soon.

[2015-03-20 19:17] pallavit commented on #1159
Hmm. It is strange that we are seeing this only on output and not error , I would expect the code to be similar. I will take a look at the code as well. Thanks!

[2015-03-20 19:23] pallavit commented on #1191
Thanks for reporting the issue, I have created a PR request to fix this.

[2015-03-20 20:20] ikopylov commented on #1182
Yes, it would require a change in ```List<T>``` and ```Buffer<TElement>```. Also definitely it would affect the ```Count``` and ```ToDictionary``` methods. But this modifications should make Linq-to-Objects faster for immutable collections that only implements ```IReadOnlyCollection<T>``` (not a full ```ICollection<T>```).

For ```Buffer<TElement>``` the change is very simple. It should just preal

[2015-03-20 20:24] MarcinJuraszek commented on #1182
I really like all the suggestions.

I think this issue could be split into couple smaller ones, e.g. one for `Select` improvements, one for `OrderBy(Descending)/ThanBy(Descending)`, etc. This way it will be smaller of a change + can be split between multiple people. What do you think?

Also, whoever will end up working on any of them should also include unit tests around given method, to make sure

[2015-03-20 20:42] mellinoe commented on #1168
+@caroleidt

When we have discussed Shuffle operations internally, this was the general roadblock we hit, and never came up with a great solution. Our initial designs had this notion of a "BitVector" type, which could act as a sort of variable-sized mask for operating with different-sized data types. It was part of our very early designs, so I'm struggling to remember how you interacted with it ex

[2015-03-20 21:03] rosieks commented on #1182
Maybe good idea would be to just provide a few additional overloads that allow provide initial capacity:
* `ToList(int capacity)`
* `ToArray(int capacity)`
* `ToDictionary(..., int capacity)`

[2015-03-20 21:08] khdang commented on #909
This implementation assembly has been renamed to System.Xml.XmlSerializer to match with the contract.

[2015-03-20 21:08] #909 closed

[2015-03-20 21:23] ikopylov commented on #1182
From my point of view, the number of changes would not be very large, so I suggest not to split this issue into several smaller ones. But the tests (which definitely should be done) potentially will be much larger than modifications by themselves. So it would be a good idea to create a separate issue for them. In fact, I found that one already exists for the entire System.Linq (#1143). So I don't

[2015-03-20 21:40] ikopylov commented on #1182
@rosieks, good suggestion. But it would require a change in public API.

[2015-03-20 21:44] MarcinJuraszek commented on #1182
@rosieks  I think that library should be smart enough to use all possible information to make it more efficient, without forcing users to explicitly specify it. E.g. when input is `ICollection<T>` we already know how many elements there are, no need for `capacity` after all.

@ikopylov Getting UT for the entire System.Linq will take a while as there is quite a bit of code to test. I think it would

[2015-03-20 22:05] tannergooding commented on #1151
Updated the speclet to include the full set of proposed API changes and to provided extended details on the changes that would be provided.

[2015-03-20 23:02] sokket opened #1196 "Implement a SafeHandle / Disposable infrastructure for OS X"
OS X has a very clear-cut pattern for Create and Release for P/Invoked objects where if a *Create* function is called, the callee is responsible for calling CFRelease on the object to destroy it. It'd be great to make a wrapper for this pattern to do this automatically

[2015-03-21 00:08] AdamsLair commented on #1151
While I definitely support the addition of float-specific / single precision Math functions, I think that moving all math functions out of a centralized static class and into each separate type is not a good idea with regards to developer productivity.

Consider the following example code:

[code]

"Whoops, I found out I actually need a different type. Let's change this"

[code]

While the example

[2015-03-21 00:09] stephentoub opened #1198 "Improve code coverage for System.Linq.Expressions"
According to the current code coverage report, this library is only at ~40%. Our general goal is closer to 90%, though this will depend on the library. We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-03-21 00:11] stephentoub opened #1199 "Improve code coverage for System.Xml.XmlSerializer"
According to the current code coverage report, this library is only at ~42%. Our general goal is closer to 90%, though this will depend on the library. We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-03-21 00:17] mellinoe commented on #1187
Yes, Dictionary should be coming soon, hopefully within the next two weeks.

[2015-03-21 01:41] ZigMeowNyan commented on #1151
I wouldn't mind having `int.Max(a,b)` styled methods, myself, because, while you wouldn't have the simplicity of a single starting namespace, you would now be able to easily specify the return type and know that return type just by looking at the methods. It might require more developer work, but sometimes it's better to have the *option* to be more explicit and descriptive.

Also keep in mind tha

[2015-03-21 02:39] MikePopoloski commented on #1168
How attached are you guys to this particular implementation? I feel like dynamically sized vectors are an interesting idea for specialized workloads but not tractable for more general cases. It's easy to imagine running into further issues with trying to expose things like horizontal adds.

It may be worth looking at how different C++ libraries provide abstractions over SIMD; the venerable Agner F

[2015-03-21 04:26] tannergooding commented on #1151
@AdamsLair, thanks for the support.

I agree that moving them out of a centralized static class is probably not the greatest of options. However, unless the CoreCLR/CoreFX team decides they are willing to break backwards compatibility, it seems that we will end up with at least two distinct locations for any additional math APIs.

I think that, logically, it makes sense to provide these methods th

[2015-03-21 05:42] MarcinJuraszek commented on #1182
I've updated my fork to use `IReadOnlyCollection<T>` instead of `ICollection<T>` + added simple tests: https://github.com/dotnet/corefx/compare/master...MarcinJuraszek:linq-select?expand=1

[2015-03-21 08:03] cnblogs-dudu commented on #1159
Added `p.StartInfo.StandardOutputEncoding = Encoding.UTF8;` into Process_AsyncOutputStream() and fixed warning MSB3073.
[code]

[2015-03-21 09:09] rafidka commented on #1143
Thanks for the comments everyone. I made some changes to improve the code. Could you please have a look now and let me know if it looks good, so that I can proceed with adding more tests.

[2015-03-21 09:50] Maxwe11 commented on #1143
@rafidka you doing something wrong because 31c4df0 not displayed in your PR #1175.

[2015-03-21 11:08] rafidka commented on #1143
@Maxwe11, I think the reason is that I created a new branch for the new change, because I forgot to do so initially so I was working against my master branch. What do you think I should do?

[2015-03-21 11:24] Maxwe11 commented on #1143
@rafidka continue working with `master` branch or close #1175 and open new one

[2015-03-21 11:38] rafidka commented on #1143
OK, I updated my master branch and submitted it so that the PR is updated. Once it is approved and merged, I will use the new branch and create a new PR.

[2015-03-21 11:43] GeirGrusom commented on #1151
Also perhaps something like `sincos` since it's common to use both.

[2015-03-21 13:06] ikopylov commented on #1182
Ok. Let's split this issue into several smaller ones.
I propose the following sub-tasks:
1. ```Select```: add iterators for ```List<T>```, ```Array[T]```, ```ICollection<T>``` and  ```IReadOnlyCollection<T>```;
2. ```ToArray```, ```ToDictionary```: add special support for ```IReadOnlyCollection<T>``` to get the initial capacity;
3. ```ToList```: add special support for ```IReadOnlyCollection<T>```

[2015-03-21 13:09] ikopylov commented on #1182
Awesome.

I have some thoughts on this task.
1\. ```Count``` should not be stored as a local field, but should be read from the original sequence each time. Your implementation is perfect, but it would be nice to add a test like this:
[code]
2\. One advantage of ```ICollection<T>``` is the method ```CopyTo```. With it, we can make a copy using only a single virtual call. With ```IReadOnlyCollectio

[2015-03-21 13:45] AdamsLair commented on #1151
Slightly off-topic, but isn't .Net Core *the* opportunity to break things for once and remove old cruft? As far as I understood, it is a distinct framework similar to .Net, but not interchangeable at all anyway.

Anyway! On Topic:

------------

With regards to backwards compatibility, I think introducing a generic Math class like you proposed might indeed be a very interesting idea.

[code]

...

[2015-03-21 14:27] cdrnet commented on #1151
It is *not* a distinct framework. Portable libraries on newer PCL profiles are supposed to work seamlessly on both .Net Framework and .Net Core, so they must be fully compatible at least for what is offered by these profiles, which does include System.Math.

[2015-03-21 14:54] tannergooding commented on #1151
@AdamsLair
I think the even bigger issue than breaking backwards compatibility, is that in doing so, the user would get no warning since `System.Int32` to `System.Single` and `System.Single` to `System.Double` are implicit conversions. The compiler would happily recompile the old code and provide precision loss with the consumer (possibly) being completely unaware.

The other issue with implementi

[2015-03-21 15:23] tannergooding commented on #1151
@GeirGrusom I think `sincos` would be a great addition and I've added it and `Exp2M1` to the speclet

[2015-03-21 15:36] stephentoub opened #1205 "TraceSourceTests.TraceSourceTests.SwitchLevel failure in CI"
[code]

[2015-03-21 15:37] stephentoub commented on #1205
FYI, @MarkPflug

[2015-03-21 15:58] AdamsLair commented on #1151
@tannergooding
`using static` directives in the way you suggest would be not that great for most places, because you usually want to be able to use more than one primitive type for math. And using the shorthand version for exactly one type and the explicit Math.XY or primitive.XY method calls for all else looks a bit ugly to me.

Very nice writeup of the current discussion state though! :+1:

[2015-03-21 16:44] MarcinJuraszek commented on #1182
1. Good idea.

2. `CopyTo` would still need to iterate over all elements because `selector` needs to be called on every element of `source` collection. Unless I'm missing something.

[2015-03-21 17:23] MarkPflug commented on #1205
What is the "prtest" environment? I've looked through the wiki and I can't find any info about the CI build environment.

[2015-03-21 17:27] akoeplinger commented on #1205
@MarkPflug It is part of the CI that tests pull requests: http://dotnet-ci.cloudapp.net/view/All/

[2015-03-21 18:18] colombod commented on #1151
I think that functions as real first class citizen (like CLR level) would make it easier to avoid breaking changes in this scenarios. Unfortunately CoreFX is born "old" due to the backward compatibility required. That being said. I really like your proposal. I think that this kind of extensions should be easier to make for developers. I few video games and rendering based code we had to implement

[2015-03-21 19:12] ikopylov commented on #1182
Great.
I have added a checkbox list of tasks to this issue. Work on them can be done in separate PRs. Do I need to create a separate GitHub issue for every task mentioned here?

Iteration should still be there, but it will be a fast _for-cycle_ instead of heavy _foreach-cycle_. ```CopyTo``` is a part of a concrete iterator class, so it is aware of the specific collection type and can use a _for-cy

[2015-03-21 22:29] MarkPflug commented on #925
@stephentoub I've started working on this. My efforts currently put it at 85% coverage. I have a few more classes to go then I'll open a PR. It might be a while until I get around to finishing it up though.

Just wanted to put a note on this so that no one else starts duplicating effort.

[2015-03-21 23:32] hpshelton commented on #1174
I can repro this by setting the machine's region to "French (Canada)", but it goes back to at least fb8fb441b3e5414590b8d1af4ec5f52ca52c0dff, shortly after the initial commit to GitHub. It appears that the issue is usage of CurrentUICulture, which usages the application's culture, rather than CurrentCulture, which uses the machine's culture.

[2015-03-21 23:58] Maxwe11 commented on #1174
@hpshelton thanks for investigation. At first look I didn't understand why it fails. Will try fix.

[2015-03-22 00:01] hpshelton commented on #1174
I can take this one - I already did a find/replace and verified the changes work on multiple languages, but I'll also add a test case to actually sanity test different cultures rather than just system one.

[2015-03-22 00:21] Maxwe11 commented on #1174
@hpshelton okay, but note that test case against system culture should consider that decimal symbol with "friends" (date and time formats, etc) could be changed independently from culture.

[2015-03-22 00:50] hpshelton commented on #1174
Take a look at https://github.com/dotnet/corefx/pull/1206, and if you think more tests need to be added for custom cultures, let's discuss.

[2015-03-22 01:10] MarcinJuraszek commented on #1182
I think one issue with a list of tasks is OK.

How about starting with perf tests, so we can actually see if implementing improvements like `ICollection<T>` vs. `IReadOnlyCollection<T>` makes sense and how much gain it gives.

Also, would be nice to see someone from .NET team approving the plan and/or giving some comments about it.

[2015-03-22 02:10] talebi commented on #1001
no sure if its related but when I add a reference to Autodesk Revit 2013/2015 to a project I get a compile error in (VS 2015 CTP):
Metadata file 'E:\dev\cadtools_revit\Source\Lib\RevitAPI\RevitAPI_x64_2013.dll' could not be opened -- Row ID or heap offset is too large.

[2015-03-22 12:47] key-value opened #1208 "Microsoft.Win32.RegistryTests Build FAILED."
15:59:34.460 59>RunTestsForProject: (TargetId:1070)
Microsoft.Win32.RegistryTests.RegistryKey_GetValue_str_obj_b.Test03 FAIL
Error Unexpected exception occured.... exception message...:Xunit.Sdk.FalseException: Error null return expected (TaskId:731)
at Xunit.Assert.False(Boolean condition, String userMessage) (TaskId:731)
at Microsoft.Win32.RegistryTests.RegistryKey_GetValue_str_obj_b.Test03() in

[2015-03-22 14:38] ikopylov commented on #1182
I have prepared the changes for _ToArray, ToDictionary_ task:  https://github.com/dotnet/corefx/compare/master...ikopylov:linq_to_array_to_dictionary

I agree. I'll try to add some perf-tests.

[2015-03-22 14:45] AlexSikilinda commented on #449
Is there a workaround for this? I tried changing the extensions of Xamarin xmls but it didn't work as for me. Will uninstalling Xamarin help?

[2015-03-22 14:46] tannergooding commented on #1151
@AdamsLair Interestingly enough, the following works correctly:

[code]

It isn't the most optimal solution, and wouldn't work in languages that don't support `using static` statements, but it does work.

It's too bad you can't redirect `using static` statements into a single location, such as:

[code]

Method redirection of some sort (either syntactic sugar, as above, or direct support by the CLI

[2015-03-22 14:48] stephentoub commented on #925
That's awesome, @MarkPflug.  Thanks!  Looking forward to seeing the PR.

[2015-03-22 15:42] Maxwe11 commented on #1170
MSDN:

So why it should throw?

[2015-03-22 18:33] txdv commented on #1153
What do you mean with ' is quite difficult for users to implement in a non-Windows-specific way'? Is it hard to implement on other platforms?

[2015-03-22 19:10] Petermarcu opened #1211 "Process test should assert that timeouts aren't happening on process WaitForExit calls"
See https://github.com/dotnet/corefx/pull/1207 for the suggestion. Generally, we should start using:

[code]

[2015-03-22 19:21] akoeplinger commented on #1211
What does the second `p.WaitForExit();` achieve here? If the first one finished in time the process exited anyway and if not we'll raise an exception because of the assert.

[2015-03-22 19:28] Petermarcu commented on #1211
The second wait WaitForExit() is only needed when you have async event handlers to allow them to ensure they complete. Its somewhat orthogonal to this issue. I'll remove that from the issue.

Sent from my Windows Phone
________________________________
From: Alexander Köplinger<mailto:notifications@github.com>
Sent: ‎3/‎22/‎2015 12:21 PM
To: dotnet/corefx<mailto:corefx@noreply.github.com>
Cc: Peter

[2015-03-22 21:29] mbeidler commented on #574
I happened upon this PR because I too was interested in adding a priority queue to .NET. Glad to see someone went to the effort of making this proposal :). After reviewing the code, I noticed the following:

- When the `IComparer` ordering is not consistent with `Equals`, the behavior of this `Contains` implementation (which uses the `IComparer`) may be surprising to some users, as it is essential

[2015-03-23 01:04] ikopylov commented on #1182
I've completed performance tests: https://github.com/dotnet/corefx/compare/master...ikopylov:linq_perf_tests
I plan to submit them as Pull-Request tomorrow.
@MarcinJuraszek, it would be great if you could look at them.

[2015-03-23 01:44] MarcinJuraszek commented on #1182
Didn't look deeply, but looks good after taking a quick look.

I was thinking about making perf tests separate project instead of putting it in the UT project. I don't think it's worth running them as part of UT, I would rather have separate .exe I could run (outside of VS) that would print perf for all the operations.

[2015-03-23 05:37] dsplaisted commented on #449
@AlexSikilinda Changing the extensions for the Xamarin .xml files in the PCL Profile SupportefFrameworks folders worked for me after dotnet/buildtools#51 was merged.  However, I haven't tested this recently.  It's also possible that you missed renaming some of them.

[2015-03-23 09:40] taherchhabra commented on #1199
I want to pick up this issue. Can you assign it to me

[2015-03-23 11:02] rafidka commented on #1198
Since I am working on improving the coverage for System.Linq, can I get this one as well?

[2015-03-23 13:12] svick commented on #574
`Queue<T>` and `Stack<T>` also don't shrink their arrays (based on [Reference Source](http://referencesource.microsoft.com/), they're not in CoreFX yet).

[2015-03-23 13:58] ebickle commented on #574
@mbeidler I'd considered adding some form of automatic array shrinking in dequeue, but as @svick pointed out it doesn't exist in the reference implementations of similar data structures. I'd be curious to hear from anyone on the .NET Core/BCL team whether there's any particular reason they chose that style of implementation.

Enqueue should support nulls, and is documented as allowing them. Did yo

[2015-03-23 15:00] rosieks commented on #1182
What about `Skip` and `Take` methods. I think that magic could be also introduced in this methods.

[2015-03-23 15:15] stephentoub commented on #1199
@taherchhabra, great!  I've marked it as grabbed by community.

[2015-03-23 15:17] stephentoub commented on #1198
@rafidka, this library is fairly different, so I'd be surprised if there was a lot of reuse possible.  You're still interested?  I love the enthusiasm, but do you want to hold off until you're further along with System.Linq?

[2015-03-23 15:32] rafidka commented on #1198
Yeah, I know it is different actually, but since I have experience working on Compilers and Computer Algebra, I found this task interesting to work on.

I don't mind holding off until I make progress with System.Linq.

[2015-03-23 17:28] tomspilman opened #1216 "Code Style Guidelines: Internals"
So the existing coding style guidelines...

https://github.com/dotnet/corefx/wiki/Coding-style

... do not give guidance with regard to internal members.

In the existing code base we see several different styles in use for field members:

https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ThreadInfo.cs#L15
[code]

https://github.com/dotnet/corefx/bl

[2015-03-23 17:50] #910 closed

[2015-03-23 17:51] #901 closed

[2015-03-23 17:51] #900 closed

[2015-03-23 17:51] #899 closed

[2015-03-23 17:51] #898 closed

[2015-03-23 18:05] troydai commented on #1181
Hi @tarekgh. Can you confirm this issue?

[2015-03-23 18:50] sharwell commented on #1118
I am very much a fan of this, and believe `TimeSpan` is the correct type to use.

[2015-03-23 18:57] tarekgh commented on #1181
@troydai I'll get into this in the first chance. is it blocking? I was planning to look at it around tomorrow

[2015-03-23 19:09] pallavit commented on #1191
@yk000123, The issue should be fixed as - https://github.com/dotnet/corefx/pull/1194. Please let me know if you still see the issue.

[2015-03-23 19:09] #1191 closed

[2015-03-23 19:44] dotnetchris opened #1218 "Provide ConcurrentDictionary the ability to set initial capacity with DefaultConcurrencyLevel"
It's absurdly difficult to create a ConcurrentDictionary with an initial capacity. This forces you to set the arcane DefaultConcurrencyLevel integer. I absolutely want to defer that to the platform. This leads to using this horrific code:
[code]

So either add a constructor that allows this. Add magic number support that providing < 1 results in this, or just make DefaultConcurrencyLevel be a publ

[2015-03-23 19:46] dotnetchris commented on #382
+1

[2015-03-23 20:13] ramarag commented on #652
Yes the list mentioned above was an artifact of the port from the Resourcewriter which allowed arbitrary types to be written to the resource stream. We can delete the code and just write a zero to the correct position in the resource stream

[2015-03-23 20:16] troydai commented on #1181
@tarekgh it's not blocking but it comes from our customer, so it impacts their scenarios.

[2015-03-23 20:50] alexperovich commented on #1170
The enumerator has already hit the end of the collection. So current is set to an invalid element. It should throw because it is not set to a valid element.
There is a dissagreement between the segment you quoted and the following.

My perspective is that Current has been set to a state that throws an exception. Modifying the collection shouldn't change that.

[2015-03-23 21:16] ikopylov commented on #1182
I checked how performance tests implemented in other projects and found that they all done in the same way.

That can easily be done for unit-tests by executing them with ```xunit.console.netcore.exe```:
[code]
Actually, I haven't found a way to run tests inside VS, so I always run them using the stated command.

Right. I've added them to the task list.

[2015-03-23 21:32] FiveTimesTheFun opened #1220 "Need a mechanism to be able to run dangerous Outerloop tests (that require machines to be recycled)"
Of the System.IO.FileSystem tests ported over, there were a couple that modified the current directory.  Some set the current directory directly, some used the CurrentDirectoryContext helper class.  Most of these instances were testing the behavior of APIs that acted on relative paths.  For example, CreateDirectory_DotDotAsPath_WhenCurrentDirectoryIsRoot_DoesNotThrow() in CreateDirectory.cs does w

[2015-03-23 21:35] FiveTimesTheFun opened #1221 "System.IO.FileSystem tests need a mechanism to test mounting drives"
System.IO.FileSystem tests need a way to test machine-wide state, specifically mounting network drives.

[2015-03-23 21:42] FiveTimesTheFun opened #1222 "Investigate IO differences in sanitizing characters when creating directories"
Investigate three IO test failures that could imply behavioral difference between desktop / core:
Creating a subdirectory consisting only of spaces
Creating a subdirectory named ".."
Creating a directory with trailing \t\t\t\n whitespace

[2015-03-23 21:44] FiveTimesTheFun opened #1223 "Investigate IO test - DirectoryInfo.Exists"
A ported test from desktop verifies the instance property DirectoryInfo.Exists is updated when the directory is deleted from the same instance of DirectoryInfo.  The test fails when ported, need to investigate the desired behavior.

[2015-03-23 22:10] MarcinJuraszek commented on #1182
Sounds good. I didn't actually look. What projects already have perf tests?

You can run tests in VS15 by setting test project as Startup Project and just running debug session.

For perf tests it's important to compile using Release flavor and run them outside of devenv. Can you add a command that can be used to do that into your Pull Request + update first post in this issue when it's accepted?

[2015-03-23 22:58] ikopylov commented on #1182
For example, ```System.Collections.Immutable```. In fact, there's not so much projects with perf tests.

Steps are quite simple:

1. Uncomment ```[Fact]``` attribute above the test method that you need;
2. Build test project by Visual Studio in Release mode;
3. Go to the folder with tests binaries: ```bin\tests\Windows_NT.AnyCPU.Release\System.Linq.Tests\aspnetcore50\```;
4. Open command prompt (c

[2015-03-23 23:33] KrzysztofCwalina commented on #1170
This is a performance optimization. If we wanted Current to throw, we would have to do a check in get_Current. Such check would hurt performance in 99+% of cases where people use enumerators through foreach statement (which will never call Current past the end of the list).

If you are arguing that we should fix the docs, then I tend to agree. If you are arguing that we should add the check, then

[2015-03-24 00:08] #371 closed

[2015-03-24 01:11] pallavit commented on #1159
I am opportunistically closing this issue against https://github.com/dotnet/corefx/pull/1207 PR request. Please reopen an issue if you can still repro this.

[2015-03-24 01:11] #1159 closed

[2015-03-24 01:15] pallavit commented on #1211
Fixed with https://github.com/dotnet/corefx/pull/1229

[2015-03-24 01:15] #1211 closed

[2015-03-24 04:17] weshaggard commented on #1148
This has been fixed as the build tools that contains my fix has been integrated into corefx.

[2015-03-24 04:17] #1148 closed

[2015-03-24 04:17] stephentoub commented on #1205
I took a quick look at this, and I believe the cause is a race between the tests in TraceClassTests and the SwitchLevel test in TraceSourceTests.  The former makes calls to Trace.Refresh(), which iterates through all registered TraceSource and Switch instances and resets them to their initial state, including resetting the switch level.  As such, if Refresh is called during the SwitchLevel test, i

[2015-03-24 04:53] weshaggard commented on #1208
@key-value the text you provided doesn't actually contain the errors from the test logs can you provide that information?

[2015-03-24 05:45] weshaggard commented on #1216
I just updated https://github.com/dotnet/corefx/wiki/Coding-style to call out that we use follow the same naming guideline for both internal and private fields. So the first one is correct and the second two are not correct. I know the xml code was put out before we ran the formatting tool on it and we have a issue to format it all correctly. I suspect the same is true of the System.Linq.Parellel

[2015-03-24 05:45] #1216 closed

[2015-03-24 06:01] tomspilman commented on #1216
Thanks @weshaggard !

[2015-03-24 06:39] weshaggard commented on #780
This test is still failing in random test runs. see http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/509/console as an example of a recent one. We should see if there is something that we can do within the test to avoid this identity comparison perhaps.

[2015-03-24 07:57] Maxwe11 commented on #652
reopen this issue

[2015-03-24 09:39] key-value commented on #1208
@weshaggard

16:00:08.381    98>F:\SvnCode\corefx\packages\Microsoft.DotNet.BuildTools.1.0.25-prerelease-00018\lib\tests.targets(67,5): warning MSB3073: The command "corerun.exe xunit.console.netcore.exe System.Runtime.Serialization.Json.Tests.dll  -xml .\testResults.xml -notrait category=failing " exited with code 1. [F:\SvnCode\corefx\src\System.Runtime.Serialization.Json\tests\System.Runtime.Se

[2015-03-24 09:42] key-value commented on #1208
@weshaggard
16:00:06.939    98>RunTestsForProject: (TargetId:1861)
                        DataContractJsonSerializerTests.DCJS_ContainsLinkedList [FAIL] (TaskId:1306)
                           System.FormatException : Input string was not in a correct format. (TaskId:1306)
                           Stack Trace: (TaskId:1306)
                                 at System.Text.StringBuilder.AppendFo

[2015-03-24 09:49] key-value commented on #1208
@weshaggard
15:59:34.460    59>RunTestsForProject: (TargetId:1070)
                        Microsoft.Win32.RegistryTests.RegistryKey_GetValue_str_obj_b.Test03 [FAIL] (TaskId:731)
                           Error Unexpected exception occured.... exception message...:Xunit.Sdk.FalseException: Error null return expected (TaskId:731)
                              at Xunit.Assert.False(Boolean conditio

[2015-03-24 14:50] stephentoub opened #1230 "GCTests.KeepAlive test failed in CI"
[code]

[2015-03-24 16:01] weshaggard commented on #652
Yes the closing of this was github trying to be smart about closing issues when the associated PR is closed :)

[2015-03-24 16:02] weshaggard commented on #1208
@khdang these look like potential serialization test failures can you have a look?

[2015-03-24 17:22] alexperovich commented on #1170
We should probably fix the docs. Though for non generic `IEnumerable` we already check that the enumerator is not in the bounds of the list, and the non generic `IEnumerator` will almost never be used in foreach loops unless the developer explicitly casts to `IEnumerable`

[2015-03-24 17:35] khdang commented on #1208
@key-value it looks like a few tests are failing in your build. I don't seem to get the failures with a clean build. Do you have special steps to repro this issue?

[2015-03-24 21:13] taherchhabra commented on #1199
Was writing test case for XmlAnyElement where I encountered the situation below

     public class Program
    {
        public void Main(string[] args)
        {
            XmlSerializer serializer = new XmlSerializer(typeof(Product));
            string text = @"<?xml version=""1.0""?>
                            <Product xmlns:xsi=""http://www.w3.org/2001/XMLSchema-instance"" xmlns:xsd=""http:

[2015-03-24 21:19] #1174 closed

[2015-03-24 22:17] ellismg commented on #1170
Let's just do the documentation update.

[2015-03-24 22:21] pallavit commented on #1100
Fixed as part of https://github.com/dotnet/corefx/pull/1167.

[2015-03-24 22:21] #1100 closed

[2015-03-24 22:29] ellismg commented on #49
Now that MSBuild has been open sourced, I think the direction we want to take here is to work with the MSBuild folks to get it working on Linux and OSX and then create a build.sh that mirrors build.cmd, just a lightweight wrapper around MSBuild.

I don't think we should try to adopt a different build system, eg. make, or take a long term dependency on xbuild.

[2015-03-24 22:34] ellismg commented on #247
@jkotas recently made a change in CoreCLR so that .NET Core projects ignore these attributes.  I believe the plan is to do a pass across all of CoreFX and remove the attributes.  Is that correct @jkotas and @stephentoub?

[2015-03-24 22:35] ellismg commented on #313
@mellinoe Do you know if this got addressed?

[2015-03-24 22:40] ellismg commented on #118
@EmptyKeys If you are still interested in this, can you take a stab at writing up a speclet for all the new methods you are proposing?  We can then start discussing the changes in earnest both on GitHub and eventually in an API review.

[2015-03-24 22:41] jkotas commented on #247
Correct. It was done by change https://github.com/dotnet-bot/coreclr/commit/725d6a91fffdf4603c8a9c74e15cbc83ebf0e3d6.

We should clean this up when we get a chance.

[2015-03-24 22:42] ellismg commented on #142
@rtlayzell Do you mind fleshing the above APIs out a little bit?  It's hard for me to understand exactly what you want?  An outline of the API review process is [here](https://github.com/dotnet/corefx/wiki/API-Review-Process#steps).

[2015-03-24 22:54] ellismg commented on #157
Is the proposal here to do this for all methods on these types or a subset?  It would be helpful to understand what exactly is in scope and have some sample code fragments that exhibit bad codegen today so we can compare the present codegen to the codegen we would get if we made changes.

[2015-03-24 22:56] ellismg commented on #94
@Tragetaschen We've listed the APIs we plan to expose in .NET Core in the [corefx-progress](https://github.com/dotnet/corefx-progress) repo.  Can you take a look at what is exposed and help us understand if this is sufficient for Mono.Posix?

[2015-03-24 22:56] stephentoub commented on #1199
@davkean?

[2015-03-24 23:13] EmptyKeys commented on #157
pretty much what @mikedn said. If you want better performance ref/out methods are good candidate and should be implemented, where it makes sense ie big struct types like Matrix/Quaternion etc.

[2015-03-24 23:30] jasonwilliams200OK commented on #49
@ellismg, :+1:
For sake of DRY, IMO it would make sense to collaborate with mono guys: https://github.com/mono/msbuild/commit/fdd90936f1c9b4640ad25be996a9efc6bf01845e and get things moving forward sooner rather than later.
Thanks in advance!

[2015-03-24 23:36] akoeplinger commented on #49
@jasonwilliams200OK there's already work going on extending msbuild to linux/mono: https://github.com/Microsoft/msbuild/issues/26

@ellismg sounds good. I'll continue to build corefx with xbuild on my fork and send PRs for xplat issues like the file casing changes I recently sent. This allows us to find problems until msbuild is ready.

[2015-03-24 23:56] ellismg commented on #49
@akoeplinger Love to see these PRs.  Thanks so much and keep them coming!

[2015-03-25 00:02] ellismg commented on #157
For cases like ```public static Matrix CreateFromQuaternion(Quaternion quaternion)```, I can imagine how passing the argument by ref could provide different codegen that is better in some cases (since you don't have the copy the data into the callee).

However, is the rewrite of the return value to an out parameter really that helpful?  I would have sort of assumed there would be some return value

[2015-03-25 00:12] theoy commented on #1182
Actually - @vsadov, can you take a look at reviewing this? Thanks!

[2015-03-25 00:22] tarekgh commented on #1181
"2000-12-15T22:11:03.055+23:30" is not correct date as there is no TZ offset can be greater than 14:00 hours. unfortunately the desktop allowed such date but we cannot  change it for app compat reason. the behavior of CoreClr is the correct one

[2015-03-25 00:22] #1181 closed

[2015-03-25 00:47] EmptyKeys commented on #157
this thread and posts are like Déjà vu, it's almost surreal.

https://social.msdn.microsoft.com/Forums/en-US/e715c16b-6b02-454a-b836-d402093bd36f/end-users-shouldnt-have-to-rewrite-xna-math-functions-in-order-to-improve-performance?forum=xnaframework

Almost 9 years old thread. XNA managed to get that API correct on the end. Something changed since then in compiler for this issue?

If you can chan

[2015-03-25 01:36] benaadams commented on #157
I don't know what the jitter does but a byval Quaternion can be a single cpu register and if so, a byref would give you worse performance as it could be referenced in multiple places on multiple threads so always needs to memory backed rather than register backed.

[2015-03-25 01:50] key-value commented on #1208
@khdang  I do not have special steps and with out any change.There are three Computer failure with the same error.

[2015-03-25 02:28] davkean commented on #1199
Yeah, this should work. Owners aren't on git, pinging them offline.

[2015-03-25 02:39] richlander commented on #1147
This has all been resolved. It does look like I made the issue on the wrong wiki. Not sure how I managed that.

[2015-03-25 02:39] #1147 closed

[2015-03-25 03:03] talebi opened #1238 "VS 2015 CTP 6 compile error"
I've already added a comment to this thread:
https://github.com/dotnet/corefx/issues/1001#issuecomment-84494151

Simply cannot compile a project having a reference to Revit API 2013. It says:
Metadata file 'E:\dev\cadtools_revit\Source\Lib\RevitAPI\RevitAPI_x64_2013.dll' could not be opened -- Row ID or heap offset is too large. The same project compiles in previous VS versions.

[2015-03-25 04:58] eatdrinksleepcode commented on #1089
Is there any update on this?

[2015-03-25 05:58] stephentoub commented on #1205
Fixed by #1210

[2015-03-25 05:58] #1205 closed

[2015-03-25 06:02] stephentoub commented on #925
Thanks to @MarkPflug, the coverage for this library is now at 98%!

[2015-03-25 06:02] #925 closed

[2015-03-25 06:13] stephentoub commented on #1157
This has happened several more times over the past few days, such as in http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug/217/console

[2015-03-25 06:48] eatdrinksleepcode opened #1240 "MemoryMappedFile test failures on Win 7"
#1179 (92ebda3212c05c1f8b972c84be5012d581938311) introduced a failure in all three MemoryMappedFile test projects on Windows 7:

   at Interop.mincore.CreateFileMapping(IntPtr hFile, SECURITY_ATTRIBUTES& lpFileMappingAttributes, Int32 flProtect, Int32 dwMaximumSizeHigh, Int32 dwMaximumSizeLow, String lpName)

[2015-03-25 06:54] eatdrinksleepcode commented on #1240
The target DLL for this entry point was changed from "api-ms-win-core-memory-l1-1-0.dll" to "api-ms-win-core-memory-l1-1-1.dll". The latter is only present in Windows 8.

[2015-03-25 07:19] ellismg commented on #1238
This is a better fit for the roslyn repo.  I will move this there.

[2015-03-25 08:44] mikedn commented on #157
Good question, struct returns are already converted to `out` returns by the JIT compiler since there's no other (sane) way of returning a struct that doesn't fit in a register. And it turns out that the JIT compiler does an optimization and eliminates one of 2 copies that are normally required. For code like `field = CreateFromQuaternion(...)` the JIT compiler generates code that looks identical t

[2015-03-25 09:19] EmptyKeys commented on #157
well compiler could check if struct is big (ie Matrix) and do that optimization (ref) for us, but not sure if there is any issue with this kind of behavior.

Yeah, you are right. Ref/out solution was always workaround (even for XNA), but I thought that changing API (in one small library) would be easier than changing how compiler works (for everyone).

[2015-03-25 09:44] cnblogs-dudu commented on #1208
See #566

[2015-03-25 14:53] axel-habermaier commented on #157
Could the (relatively new) ``AggressiveInlining`` flag be used to force the jitter to inline those methods? If SIMD code is emitted, it shouldn't bloat the generated code too much, should it?

[2015-03-25 15:47] mikedn commented on #157
I don't see SIMD code being emitted for Matrix4x4 and Quaternion.

Inlining doesn't remove unnecessary copies by itself, the JIT compiler must do that as a separate optimization. As far as I can tell it doesn't do that currently:

[code]
generates the following code:
[code]

[2015-03-25 15:53] benaadams commented on #157
@mikedn related? http://blogs.msdn.com/b/clrcodegeneration/archive/2014/10/31/ryujit-ctp5-getting-closer-to-shipping-and-with-better-simd-support.aspx

[2015-03-25 15:58] axel-habermaier commented on #157
@mikedn: I haven't checked, but if matrix multiplication, for instance, isn't using SIMD, then what is?

[2015-03-25 16:46] mmitche opened #1243 "Build should disallow OS versions (and other parameters) that aren't supported"
We should have an allowable OS list and disallow parameters not matching the list.  This avoids issues where someone sets OS=Mac vs OS=OSX.

[2015-03-25 17:01] #1230 closed

[2015-03-25 17:30] khdang commented on #1199
@taherchhabra Thanks for the information. There are some changes in XmlSerializer on corefx that it behaves differently in this case. I'm looking into details.

[2015-03-25 17:47] ChrisEelmaa opened #1244 "Add overloads to string trimming"
The proposal is to add new extension methods for string,

namely

[code]

I feel like they should've be there. It seems kind of weird to me, as I've implemented these by myself in the past few times, and am sure there are quite few people who miss this & would find it useful:

http://stackoverflow.com/questions/7170909/trim-string-from-end-of-string-in-net-why-is-this-missing
http://stackoverflow.

[2015-03-25 18:28] terrajobst commented on #1182
I really like the overall direction. We should do an API review for this. I've labelled the issue accordingly.

[2015-03-25 19:15] mellinoe commented on #157
Lots of comments in here so sorry if I don't address a couple.

@caroleidt and I had discussed this briefly a while back. A couple of things are problematic and prevent us from just "adding the methods":

1. It would greatly complicate the JIT's recognition of these intrinsics, as there could be two forms for any given operation.
2. This can be a strange pattern for new users, and might confuse so

[2015-03-25 19:21] Maxwe11 opened #1247 "Serialization tests fail"
DataContractSerializerTests.DCS_ContainsLinkedList [FAIL]
			System.Exception : Test failed for input : SerializationTypes.ContainsLinkedList
			Stack Trace:
			   d:\Workspace\corefx\src\System.Runtime.Serialization.Xml\tests\DataContractSerializer.cs(1717,0): at DataContractSerializerTests.SerializeAndDeserialize[T](T value, String baseline, DataContractSerializerSettings settings, Func`1 serial

[2015-03-25 19:31] khdang commented on #1208
@key-value thanks for the information. I'll look at this issue #1247.

[2015-03-25 20:00] stephentoub commented on #1050
This failed again at http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/555/console:
[code]

[2015-03-25 20:07] stephentoub commented on #1157
And again:
    http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/554/console
This issue is taking out PR CI builds not infrequently... we should really try to figure out the cause.

[2015-03-25 20:14] ellismg commented on #1157
Has anyone tried running this locally in a loop and seeing if you can hit the same xunit failure?

[2015-03-25 20:16] stephentoub commented on #1050
And again! http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/557/console
[code]

[2015-03-25 20:20] eatdrinksleepcode commented on #1157
I am not sure if it is the same issue, but in my local builds (on Win7) I have seen CoreCLR crash with a Watson dialog several times during FileSystemWatcher tests.

[2015-03-25 20:35] mmitche commented on #1157
I haven't seen it yet locally.  The CI machines have Watson turned off.  Next time we see this i'll pull the machine immediately out of rotation and see whether running it over and over can reproduce the issue.

[2015-03-25 21:20] stephentoub commented on #1165
This is still happening, and more frequently.  I've seen it several times today, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/566/
If the test is flaky, we should take it offline until it can be fixed.

[2015-03-25 21:24] chcosta commented on #1165
I agree. I'm surprised by the frequency with which this has occurred, but don't want any "flakiness" in our CI tests.  I'll disable this test.

[2015-03-25 21:34] chcosta commented on #1165
@stephentoub, is the preferred way to disable a test just to remove its "[Fact]" attribute?

[2015-03-25 21:37] stephentoub commented on #1165
Add the [ActiveIssue(...)] attribute with this GitHub issue number; that'll disable it by default.

[2015-03-25 21:42] Praburaj commented on #311
@ellismg - is this available now?

[2015-03-25 21:44] chcosta commented on #1165
Thanks Stephen.  My first attempt at adding the ActiveIssue trait failed, so I thought there was something else I was missing.  You confirmed that was the preferred method and I noticed that XUnitTraitsDiscoverers was not being included in the proj.  I'll create a PR for this now.

[2015-03-25 21:56] ellismg commented on #311
Sorry, been busy with other stuff.  Will try to get to this soon.

[2015-03-26 00:30] ellismg commented on #1017
I think we do need to expose something like the Platform your are running on (Linux/Windows/Mac) and the processor.

For example, Kestrel does the following to figure out if they are running on windows or not:

[code]

Which is completely busted when you want to run .NET Core on CoreCLR.  If we don't provide an API I can imagine the next best thing being just trying to P/Invoke to random Windows o

[2015-03-26 05:30] MarcinJuraszek commented on #1182
What are the next steps? Should we just wait to hear back from the API Review Board? When should we expect that to happen?

[2015-03-26 07:41] theoy commented on #1182
@MarcinJuraszek - for the API reviews, I believe @terrajobst conducts API reviews in the open for this on a weekly cadence.

@terrajobst - do we have a more lightweight process since this doesn't change public surface area, but instead is suggesting for implementation optimizations for being aware of more knowledge-rich collections?

[2015-03-26 14:31] rverdier opened #1254 "Enumerable.Single and Enumerable.SingleOrDefault overloaded implementations are inconsistent"
There is an inconsistency between the implementations of [Enumerable.Single()][1] and [Enumerable.Single(predicate)][2]. Similarly there is another similar inconsistency between the implementations of [Enumerable.SingleOrDefault()][3] and [Enumerable.SingleOrDefault(predicate)][4]

The overloads which accept a predicate enumerate the whole sequence before eventually throwing, even if more than one

[2015-03-26 16:24] KrzysztofCwalina commented on #1244
I think this would be a good addition.
If we could make these to be simply overloads of the existing methods, maybe it would be better to have these directly on System.String. The only problem is that if we add them directly to System.String, we need to version the System.Runtime.dll contract.
Either way, I think it would be a great topic to discuss at the next API review.

[2015-03-26 16:24] weshaggard opened #1255 "Create Win7 CI build"
We currently have a number of folks that are still working on Win7 which we support and we keep breaking things from time to time. We need to get a CI build/test for Win7.

[2015-03-26 16:26] KrzysztofCwalina commented on #1244
Chris, could you please add the following details to this proposal: namespace, type, assembly for these APIs. Once you have it, I will mark it as ready for review.

[2015-03-26 17:38] khdang opened #1256 "Fix issue with serialization of XmlElement"
From #1199
The following code runs on .net 4.5 but does not run on corefx.
There is an exception  {"To be XML serializable, types which inherit from IEnumerable must have an implementation of Add(System.Object) at all levels of their inheritance hierarchy. System.Xml.XmlElement does not implement Add(System.Object)."}   System.Exception {System.InvalidOperationException}
[code]

[2015-03-26 17:55] eatdrinksleepcode commented on #1255
+1

[2015-03-26 19:01] Maxwe11 opened #1257 "How folder `tests` should be structured"
There is some inconsistency with how test projects structured in theirs `tests` folders.
Most common case is:

    tests\
        test_project_1.csproj
        test_1.cs
        test_2.cs

in case of multiple test projects (e.g. MemoryMappedFiles):

    tests\
        test_project_1.csproj
        test_project_2.csproj
        test_folder_1\
            test_1.cs
            test_2.cs
        test

[2015-03-26 22:03] weshaggard commented on #1257
I don't think we have called out this structure explicitly anywhere but I would expect either the first case or the last case I don't personally like case 2, as I think the csproj file should be in the directory that contains the source code. The only time we have the potential for multiple csproj files in the same directory is if we need to split up the same set of sources/tests on some pivot lik

[2015-03-26 22:55] krwq commented on #1257
I honestly think it doesn't matter as you open the solution anyway and that information is transparent.

[2015-03-26 23:09] Maxwe11 commented on #1247
test added in #1235 also fail

		 DataContractSerializerTests.DCS_BaseClassAndDerivedClassWithSameProperty [FAIL]
			System.ArgumentOutOfRangeException : The UTC time represented when the offset is applied must be between year 0 and 10,000.
			Parameter name: offset
			Stack Trace:
				  at System.DateTimeOffset.ValidateDate(DateTime dateTime, TimeSpan offset)
				  at System.DateTimeOffset..ctor(

[2015-03-26 23:13] ellismg commented on #1257
FWIW, I do a bunch of work via msbuild from the command line, so having a single csproj in a folder is helpful, as I don't need to specify what project to build.

[2015-03-26 23:13] krwq opened #1263 "System.Xml.ReaderWriter encoding test failure"
The test failed on @Maxwe11 's machine but did pass on mine. I saw similar issue appearing from time to time on some remote machines but could never repro locally.

@Maxwe11 provided with following info:
OS: Win 8.1 64-bit
Culture: uk-UA

[code]

[2015-03-26 23:14] ellismg commented on #1255
Dupe of #1058?

[2015-03-26 23:15] ellismg commented on #1244
Would also be interesting to understand if we need IgoreCase variants and if they are ordinal or linguistic comparisons.

[2015-03-26 23:34] khdang commented on #1247
@Maxwe11 Thanks for the information. Did you run the DCS_BaseClassAndDerivedClassWithSameProperty test in your native timezone (not changing system clock to another time zone)?

[2015-03-26 23:39] weshaggard commented on #1255
Yes it is a duplicate (I did try to find a preexisting one but failed to find the right key words). I will assign 1058 to @mmitche

[2015-03-26 23:39] #1255 closed

[2015-03-26 23:40] weshaggard commented on #1058
@mmitche it would be great to get a Win7 build going so we can stop regressing those scenarios.

[2015-03-26 23:43] mmitche commented on #1058
@joshfree @weshaggard Martin Woodward is on the hook to figure out about getting Win7 into our Azure subscription.  I pinged him today.  If we don't have something soon I'll set up a non-VM CI machine early next week.

[2015-03-26 23:50] Maxwe11 commented on #1247
I've used native timezone

[2015-03-26 23:57] eatdrinksleepcode commented on #1257
+1 @ellismg

[2015-03-27 00:53] terrajobst commented on #1182
If there are no APIs being added then it doesn't need to be API reviewed. Based on the task from the description I assumed that this will result in new APIs:

[2015-03-27 00:59] MarcinJuraszek commented on #1182
No, there is no API change. It will add new internal iterator classes to make publicly available API faster for some cases.

[2015-03-27 01:03] ikopylov commented on #1182
While improving ToArray and ToDictionary methods I encountered an unexpected drawback of type conversion. As it turned out, casting to the generic interface with covariant or contravariant type parameter is a very slow operation. According to my tests it is __20 times__ slower than the cast to the interface (generic or non-generic) without covariance and contravariance.

Unfortunately, ```IReadOnl

[2015-03-27 01:14] ikopylov commented on #1182
@terrajobst, public API will not be changed. All changes are internal to _System.Linq_.
The only side effect is that ```IEnumerable<T>``` returned from ```Select``` could be casted to ```ICollection<T>``` (or ```IReadOnlyCollection<T>```), while previously it was not possible.

[2015-03-27 03:16] weitzhandler opened #1267 ".NET Core for web"
Hello everyone!

I'm a C# dev, and I'm also one of those who invested long time in Silverlight and XAML, and shipped gorgeous apps with it. Mostly LoB applications.

As the plugin era is over, and with the death of Silverlight, JS got great glory back again.
Silverlight and RIA services and controls (can you believe that trend is gone!?), and the app development in C#-XAML (will refer to it as CX)

[2015-03-27 04:06] VSadov commented on #1182
@ikopylov  - since the optimization mostly relies on Count, perhaps specialcasing nongeneric ICollection is sufficient?

I am not sure if we can rely on indexing (or copying) functionality when iterating something hat is not an array. There is one, fairly inconvenient from performance prospective contract, that many mutable collections implement - they do not allow mutations while iterating. On th

[2015-03-27 04:25] VSadov commented on #1182
@terrajobst - yes, I believe there is no public API changes. However there could be subtle changes in behavior that might need to be called out.
* LINQ iterators will become convertible to more interfaces. While observable, I do not think implementing more interfaces is considered breaking.
* What happens if implementation of Count is incorrect (like returns N-1), very slow, or simply throws NotSu

[2015-03-27 04:27] MarcinJuraszek commented on #1182
@ikopylov I tried using your instructions to run perf tests and run into some problems: *bin\tests\Windows_NT.AnyCPU.Release\System.Linq.Tests\aspnetcore50\* doesn't exist :)

To be more specific: *bin/tests* doesn't exist.

[2015-03-27 09:03] Maxwe11 commented on #1240
Seems fixed by #1246

[2015-03-27 10:19] ChrisEelmaa opened #1271 "Add overload for case insensitive string Replace"
# Introduction

`String` does not provide `Replace` method for case-insensitive replacements, but only for case-sensitive replacements.
# Rationale and usage

The idea here is to make programmers life easier & move closer to API consistency.

It is fairly common scenario where you have user inserted data that has some kind of place-holders (tokens), that later have to be replaced by some templatin

[2015-03-27 13:58] psmolinsky opened #1272 "Make System.Collections.Immutable [Serializable]"
Please make collections from namespace System.Collections.Immutable serializable if it is possible - mark them with `[Serializable]` attribute and do other related changes. There can be many cases when this would be useful. Thanks.

[2015-03-27 15:42] #744 closed

[2015-03-27 16:41] ChrisEelmaa commented on #1244
I've updated the post to clarify & put the details.

[2015-03-27 17:11] KrzysztofCwalina commented on #1244
Thanks! I marked it as ready for API review.

[2015-03-27 18:23] jaredpar commented on #1272
Binary serialization isn't available in the portable subset so `[Serializable]` isn't possible.  At least to my knowledge.

[2015-03-27 18:25] pallavit commented on #1240
As @Maxwe11 pointed out this should be fixed now. Please sync to the latest changes and let me know if you still see any issues.

[2015-03-27 20:40] ikopylov commented on #1182
```ICollection``` is very similar to its generic twin ```ICollection<T>```, but latter already has a special support in several places in _System.Linq_. So I prefer to rely on ```ICollection<T>```.

I agree with that. In order not to break the behaviour we should use ```IEnumerator<T>``` to iterate over any collection (with the exception of Array).
But the copying (with ```CopyTo```) does not brea

[2015-03-27 22:34] krwq opened #1275 "Incremental build prevents tests from being run when changing traits"
When you run tests for any project like:
msbuild /t:BuildAndTest AnyTestProject.Tests.csproj
tests are successfully run.

When you specify property to its default value exactly the same should happen:
msbuild /t:BuildAndTest /p:RunTestsWithCategories=InnerLoop AnyTestProject.Tests.csproj
but no tests are run

I nailed down the issue to this (tests.targets):
[code]

removing:
[code]
does fix the is

[2015-03-27 22:37] krwq commented on #1257
@ellismg, good point, completely agree :+1:

[2015-03-27 22:50] joshfree commented on #1058
/cc @martinwoodward

[2015-03-27 22:52] chcosta commented on #1165
This test has been disabled.

[2015-03-28 03:16] eatdrinksleepcode opened #1277 "Incremental Build gets longer while doing less work"
Ingesting the latest build tools brought in dotnet/buildtools#116, which skips running tests when nothing has changed since the last successful run. This means that a fully incremental build (a build after a successful build with no changes) is doing much less work than it was doing before; however, it is also taking a lot longer (about 50%) than before. This apparently has something to do with th

[2015-03-28 03:19] eatdrinksleepcode commented on #1275
I think we can use the semaphore file to work around this. I will look into it.

[2015-03-28 03:47] weshaggard commented on #1272
Correct @jaredpar the Serializable attribute isn't available in .NET Core because binary serialization isn't supported. @psmolinsky which serializer are you trying to use with Immutable collections?

[2015-03-28 03:47] #1240 closed

[2015-03-28 04:03] weshaggard commented on #1275
Yes @eatdrinksleepcode I think we can probably use the traits in part of the semaphore file name.

[2015-03-28 04:15] eatdrinksleepcode commented on #1275
Am I correct that these three properties (RunWithTraits, RunWithoutTraits, TestDisabled) are mutually exclusive?

[2015-03-28 04:26] weshaggard commented on #1275
RunWithTraits and RunWithoutTraits are mutually exclusive but TestDisabled is not necessary. TestDisabled can be set explicitly or computed based on the traits and categories of a test project.

[2015-03-28 09:27] martinwoodward commented on #1058
I've put in the application to get an MSDN account but it'll not arrive until Wednesday at the earliest. Do you need me to set up a separate Windows 7 Enterprise SP1 machine under my personal subscription in the meantime?

[2015-03-28 23:34] MarcinJuraszek commented on #1254
There is a really old Connect report about that by Jon Skeet that was *Won't Fix*ed: https://connect.microsoft.com/VisualStudio/feedback/details/639955

[2015-03-29 00:44] ChrisEelmaa opened #1281 "OSX System.EntryPointNotFoundException for Console.WriteLine()"
Here is the error I am getting (latest yosemite), running very simple HelloWorld program:
[code]
The problem is that libc does not have open64/lseek64, only open/lseek. I verified it by changing Interop.CoreFileIO.Unix.cs, and it worked. I'd send PR, but I am not 100% sure how to solve this problem or if this is being solved by someone - as of right now, no System.FileSystem.dll is produced when y

[2015-03-29 00:59] kangaroo commented on #1281
Are you on an old revision?

https://github.com/dotnet/corefx/issues/715

[2015-03-29 01:07] ChrisEelmaa commented on #1281
Huhhh, you're right. I forked corefx today, but apparently I had already an old fork of this, which has not been updated. Did not notice I was working with old one :/

Thanks.

[2015-03-29 01:07] #1281 closed

[2015-03-29 01:46] MarcinJuraszek commented on #1182
I've just sent a Pull Request for `Select` improvements, without optimizing for `IReadOnlyCollection<T>` based on comments by @ikopylov.

[2015-03-30 03:19] ellismg commented on #1267
I think this conversation may be a better fit for the [.NET Foundation Forums](http://forums.dotnetfoundation.org/).

[2015-03-30 03:23] ellismg commented on #1271
If we are to do this, I would not want the implementation to be written in terms of regular expressions.  Instead, I would imagine a solution around something like calls to ```IndexOf```.

We should also discuss the factoring around this.  Could we implement this via an extension method in a higher level contract?

[2015-03-30 09:16] rverdier commented on #1254
Hello Marcin,

I found that Connect issue, as well as this one:

https://connect.microsoft.com/VisualStudio/feedback/details/810457

In the issue you mention, the reason why it was marked as "Won't fix" seems to be related to bug triage/schedule/priority. The answer even states (in 2011) that this issue will be re-opened for a future release. So I thought that in 2015, given the context – i.e. Cor

[2015-03-30 12:34] Clockwork-Muse opened #1286 "xunit.console.corerun.exe choosing wrong .dll"
xunit.console.corerun.exe doesn't use the complete folder path when running against a .dll

The command `corerun.exe xunit.console.netcore.exe System.Linq.Parallel.Tests.dll` (run from, say, `/bin/tests/Windows_NT.AnyCPU.Debug/System.Linq.Parallel.Tests/aspnetcore50`, where VS-built files _used_ to get placed...) runs against the .dll in the same folder.
The command `corerun.exe xunit.console.netc

[2015-03-30 12:54] ChrisEelmaa commented on #1271
There is also one idea to consider; is it possible to reuse String.cs existing `Replace` method? As of right now, `String.Replace()` will call internally CoreClr's `ReplaceString`  (https://github.com/dotnet/coreclr/blob/cbf46fb0b6a0b209ed1caf4a680910b383e68cba/src/classlibnative/bcltype/stringnative.cpp).

If we could port that code (`ReplaceString`)  to String.cs instead, we could just modify it

[2015-03-30 15:32] mmitche commented on #1058
@martinwoodward we can wait.

[2015-03-30 18:06] bordoley opened #1290 "Implement IEquatable on ImmutableCollection implementations"
Would it be possible to implement IEquatable on the concrete implementations of ImmutableStack etc. The benefit of this is that it allows the use of ImmutableCollections as hashkeys etc. It would also bring the immutable collections in line with their F# counterparts FSharpList, etc.

[2015-03-30 18:07] weshaggard commented on #1286
@eatdrinksleepcode I suspect this may be caused by the move on where you are running the CopyTestsToTestDirectory target.

[2015-03-30 19:12] eatdrinksleepcode commented on #1286
Will take a look.

[2015-03-30 19:19] eatdrinksleepcode commented on #1286
@Clockwork-Muse, can you clarify what scenario this is actually breaking? Is it building from VS and then running tests from the command line?

[2015-03-30 19:28] plabovich commented on #937
@stephentoub, when you have a chance, could you please take a quick look at the PR 1269. I'd like to get feedback on the style and approach so that I can continue working on this issue.

[2015-03-30 19:58] bordoley opened #1291 "Add Option type"
C# lacks type safe semantics to express an optional value. This results in APIs which return null in order to express the lack of a result value. The negative impacts of null pointers are well documented, and an alternative already exists in F# in the form of FSharpOption. It would be useful to extend the BCL to natively support an Option type, preferably in a compatible fashion with the existing

[2015-03-30 20:15] Maxwe11 commented on #1291
dup #538

[2015-03-30 20:17] bordoley commented on #1291
resolving sorry i missed that one.

[2015-03-30 20:17] #1291 closed

[2015-03-30 20:53] venkat-raman251 commented on #1089
I haven't been able look at it yet. Will do so later this week.

[2015-03-30 21:43] khdang commented on #1208
Failures in this issue are tracked in #566 and #1247.

[2015-03-30 21:43] #1208 closed

[2015-03-30 22:35] cheers00 opened #1293 "SIMD at System.Numerics.Vectors: Could not load type 'System.Numerics.Vector`1'"
Hi,
I wanted to try SIMD after reading the article at http://blogs.microsoft.co.il/sasha/2014/04/22/c-vectorization-microsoft-bcl-simd/ and I am getting the following error.

[code]
I am using VS 15 CTP6 and the project is set to x64.

I've added the package using Nuget manager.
[code]
I can build without any problem but at execution I get the above exception. I can not also step-into MinMax vecto

[2015-03-31 00:56] Clockwork-Muse commented on #1286
@eatdrinksleepcode - yes.
I think I'm more concerned with the fact that it end up looking at/for two different files (specified directory vs origin directory) than having to build from the command line.
Not having an easy way to run individual tests is annoying, though.  It increases cycle time for code-build-test quite a bit.

[2015-03-31 04:02] jcotton42 commented on #313
Still having this issue, VS 2015 CTP 6

[2015-03-31 04:03] jcotton42 commented on #313
It looks like the nuget assembly is being forwarded to the one that ships w/ the framework, which lacks many members and types

[2015-03-31 10:15] liddellj commented on #626
I have witnessed countless bugs over the years caused by developers using `DateTime.Now` where they *should* have used `DateTime.UtcNow`. I would therefore love to see `DateTime.Now` marked as obsolete, and `DateTime.LocalNow` introduced in it's place. A simple, non-breaking change that increases clarity and reduces the chance of bugs.

Any chance of re-opening this bug on that basis?

[2015-03-31 15:41] Suchiman commented on #626
@liddellj As already mentioned:

Also it's pretty much default that .NET APIs are by default locale aware unless specified otherwise.

The overall settlement of this issue was to opt-in for this in a less intrusive way by using roslyn analyzers which could optionally auto-fix all occurrences.

[2015-03-31 16:04] KrzysztofCwalina commented on #1290
I think Equals/GetHashCode,Compare should have O(1) complexity. Otherwise such APIs can become performance traps.

[2015-03-31 16:26] FiveTimesTheFun opened #1298 "System.IO.Compression test asset and native dependency proposal"
System.IO.Compression provides an API to compress and decompress files.  It supports the ZIP and gzip archive formats and the Deflate compression algorithm.

***Testing***

System.IO.Compression has existing test assets that fit three categories:
1.	Round trip data through compression and verify it remains intact
2.	Extract and verify data compressed through other compatible compression libraries

[2015-03-31 17:24] jcotton42 commented on #1293
I think this is related to #313

[2015-03-31 17:28] pallavit commented on #1016
The source has been updated.

[2015-03-31 17:28] #1016 closed

[2015-03-31 18:04] mj1856 commented on #626
Also, changing the name of the property *would* be a breaking change, and wouldn't necessarily solve the problem.

[2015-03-31 19:22] liddellj commented on #626
@Suchiman I'm aware about the warnings as errors issue discussed above, but I maintain that in this scenario the benefits outweigh the costs - since the fix for such a warning would be trivial (replace usages of `DateTime.Now` with `DateTime.LocalNow`. In fact - addressing suchs warnings may actually result in undiscovered bugs being fixed by forcing developers to consider whether they actually wa

[2015-03-31 21:25] #1247 closed

[2015-03-31 21:37] mmitche opened #1303 "XmlConvertTests.XmlConvertTests.ToTypeTests failing in outerloop"
MESSAGE:
Assert.Equal() Failure Expected: 0 Actual: 1
+++++++++++++++++++
STACK TRACE:
at XmlConvertTests.XmlConvertTests.RunTestCase(CTestBase testCase) in d:\j\workspace\dotnet_corefx_outerloop\src\System.Xml.ReaderWriter\tests\XmlConvert\XmlConvertTests.cs:line 208 at XmlConvertTests.XmlConvertTests.ToTypeTests() in d:\j\workspace\dotnet_corefx_outerloop\src\System.Xml.ReaderWriter\tests\XmlCon

[2015-03-31 22:16] ellismg commented on #1293
@mellinoe Can you take a look?

[2015-03-31 22:21] ellismg commented on #1257
Let's go with option 3 for cases where we have multiple tests.  I will update the wiki with the new guidance

[2015-03-31 22:26] #1257 closed

[2015-03-31 22:29] ellismg commented on #1290
When we first designed these types, we had IEquatable implemented.  However, during design reviews, feedback like @KrzysztofCwalina's pushed us to remove these interfaces.

We'd like to keep them off unless there was a super compelling reason to have value equality over stacks and other collections.  As is, we are worried about it being a pit of failure.

[2015-03-31 22:29] #1290 closed

[2015-03-31 22:31] ellismg commented on #1272
Tagging as "needs more info" to understand what serialization technologies @psmolinsky is using.  As noted above, we don't have binary serialization in .NET Core.

[2015-03-31 22:35] ellismg commented on #1271
@ChrisEelmaa mind flushing this out as a speclet and we can take it through API review?

[2015-03-31 22:40] ellismg commented on #1267
I'm going to close this issue.  We'd rather not track these long lead efforts as issues in CoreFX, especially in cases where we don't ourselves driving the work.

I think your repo or the .NET Foundation Forums are better places for folks that are passionate about this scenario to figure out a long term plan and execute on it.

[2015-03-31 22:40] #1267 closed

[2015-03-31 22:43] ellismg commented on #1254
@AlekseyTs fixing this to early out seems reasonable, what do you think?

[2015-03-31 22:57] ericstj commented on #927
@FiveTimesTheFun would you consider this resolved with your change?

[2015-03-31 23:02] pallavit commented on #924
This needs to go to @Karelz who owns tracing support now. I am not sure how this can be assigned to him(I don't see him in the assignee list), can someone please help me here.

[2015-03-31 23:50] plabovich opened #1305 "Inconsistent behavior of XmlAttributeCollection.InsertBefore and InsertAfter"
I've noticed an inconsistent behavior of `XmlAttributeCollection.InsertAfter(XmlAttribute newNode, XmlAttribute refNode)` comparing to `InsertBefore` when the reference node is the last in the collection (the first for `InsertBefore`) and it's a duplicate of the new node. The duplicate node (attribute) needs to be removed before inserting. `InsertAfter` is unable to handle the case and throws `Sys

[2015-03-31 23:54] tarekgh commented on #926
@stephentoub I will look at this at some point. I agree we need better test coverage for this area

[2015-04-01 00:19] tarekgh commented on #1271
ReplaceString is not well written to handle the cultural aware strings. yes we can take it and modify it but I would say just writing the new method and using IndexOf/LastIndexOf would be better I think. Also I believe we need to search from the beginning of the string and not from the end as ReplaceString is doing. but anyway this is details we can get into later.

my question now, do we have any

[2015-04-01 00:56] akoeplinger commented on #1298
Another alternative might be forking https://github.com/madler/zlib into https://github.com/dotnet and applying the few changes there, to keep the corefx repo on a single license.

[2015-04-01 04:46] weitzhandler commented on #1267
@ellismg agreed thanks.

[2015-04-01 05:50] #1286 closed

[2015-04-01 05:54] #1275 closed

[2015-04-01 07:40] mbeidler commented on #574
Interesting, I noticed in the reference source linked by @svick that `Queue<T>` has an unused private constant named `_ShrinkThreshold`. Perhaps that behavior existed in a previous version.

Concerning the use of `IComparer` instead of `Equals` in the implementation of `Contains`, I wrote up the following unit test, which would fail currently: https://gist.github.com/mbeidler/9e9f566ba7356302c57e

[2015-04-01 08:18] mj1856 commented on #626
@liddellj - Yep.  I hear you loud and clear. However, I raised the issue and the community responded quite clearly that this change would have too far reaching of an impact without a whole lot of direct benefit.  Say we did as you proposed.  All it would do is create a lot of warnings, and many people would either ignore them or just change the name without considering the impact.

I'm still advoc

[2015-04-01 09:28] ryanbnl commented on #626
The language + framework should be designed to support the entire set of programs which will be built upon them; they should not be optimized for a specific (but important) subset.

Your goal is to avoid an extremely common error that is made in globalized "information" systems. This is a very common use case on the .Net platform, so it's clear that there should be some way improve the handling fo

[2015-04-01 10:08] aggsol commented on #626
@ryanbnl  The framework is the root and needs to be fixed regardless how long it takes of changes to emerge. I find arguing that way risky because you are arguing for "custom Analyzer" bandaid that can only be used by the knowing,

[2015-04-01 11:56] weitzhandler commented on #1267
@ellismg Agreed.

[Here](http://forums.dotnetfoundation.org/t/net-core-web/1007?u=shimmy) is the post, thanks.

[2015-04-01 14:28] ChrisEelmaa commented on #1271
@ellismg, @tarekgh : updated to speclet.

[2015-04-01 14:33] ronnyek commented on #626
Strongly disagree... besides "needing to be fixed" and what constitutes the fix are totally subjective... To me this still feels an awful lot like someone latched on to one teeny tiny little concept, and is suggesting big breaking changes to get that one little thing working how THEY want it.

Frankly, I like the idea of analyzer over just changing objects, and deprecating (or just removing them a

[2015-04-01 14:36] dsaf opened #1306 "Release the Microsoft.Experimental.Collections.MultiValueDictionary"
As far as I understand it is pretty much implemented, yet there were no updates for over 7 month and it is still alpha.

https://www.nuget.org/packages/Microsoft.Experimental.Collections

http://blogs.msdn.com/b/dotnet/archive/2014/08/05/multidictionary-becomes-multivaluedictionary.aspx

PS: is there a better GitHub repository to post it in?

[2015-04-01 15:29] axelheer opened #1307 "Improve performance of BigInteger"
Looking at other implementations like...

* [IntXLib][0] by @devoyster (faster for really huge numbers)
* [NeinMath][1] by @axelheer (faster for numbers with a few thousand bits)
* [GNU MP][2] (not .NET based, but super fast, if not the fastest at all)

...there should be room for one or another performance tweak.

Using managed code is by it's nature not as fast as working bare to the metal, but

[2015-04-01 15:44] ebickle commented on #574
@mbeidler Good point. According to MSDN, IComparer<T> / IComparable<T> only guarantees that a value of zero has the same sort order.

However, it looks as though the same issue exists in the other collection classes. If I modify the code to operate on SortedList<Patient, Patient>, the test case still fails on ContainsKey. The implementation of SortedList<TKey, TValue>.ContainsKey calls Array.Binar

[2015-04-01 16:35] bpschoch commented on #1142
Please add me as doing this.  I've started to do some of these tests; first I'm doing parameter checking tests ie verify that bad parameters throw the appropriate errors

[2015-04-01 16:48] FiveTimesTheFun commented on #1306
Thanks @dsaf - I was thinking about this recently.  I was thinking about putting it first in https://github.com/dotnet/corefxlab until it became RTM quality.

[2015-04-01 16:56] FiveTimesTheFun commented on #1298
Thank you, very good suggestion, I'll reach out to Mark.

[2015-04-01 17:55] ebickle commented on #574
Committed a fix and the test case into my fork branch. The new implementation of Contains is based directly on the behavior of List<T>.Contains. Since List<T> doesn't accept an IEqualityComparer, the behavior is functionally equivalent.

When I get some time later today, I'll likely submit bug reports for the other built-in collections. The probably can't be fixed due to regression behavior, but a

[2015-04-01 18:53] mmitche opened #1308 "If .coverage.xml is deleted, a minimal rebuild will not regenerate the coverage data"
If coverage is specified, but the coverage report gets deleted, it will not get regenerated on a subsequent build + test.  It's not listed in the outputs for tests when code coverage is specified.  The report generation still runs though, which causes the build to fail.

[2015-04-01 21:50] PedroLamas commented on #1298
Though it does seem reasonable to me to have the test assets in separate nuget packages, I'd probably would just bypass nuget, and add a build target to download a specific revision of the assets separate GitHub repository.

One can even take advantage of GitHub builtin download feature to bypass git and just get the files at a specific commit (target would then download and unzip the assets).

[2015-04-01 22:17] KrzysztofCwalina commented on #1306
Yeah, seems like corefxlab would be a great place for this.

[2015-04-02 02:04] Clockwork-Muse commented on #1286
@eatdrinksleepcode , @weshaggard

I haven't been able to find a way to get this working otherwise, I'm assuming that we're still waiting for corefx to pick up updated build tools...
Do we have an ETA for that?

As a side note, the barrier to testing seems artificially inflated for this project:
 - no individual test run from IDE (and assuming build tools haven't been updated yet, currently runs ag

[2015-04-02 06:08] mellinoe commented on #1293
Unfortunately, this is going to be broken on preview versions of VS 2015 and the .NET 4.6 preview right now. In the meantime, I believe (not 100% sure) that it is possible to build the library yourself from source and use it, as long as the one you build yourself has a sufficiently high version number. When we release the final version of .NET 4.6, we will have a much better story for using the li

[2015-04-02 14:22] Maxwe11 opened #1313 "FileInfo: get_LastWritTime test fail"
EXEC : warning : (runTest, d:\corefx\src\System.IO.FileSystem\tests\FileInfo\get_LastWriteTime.cs, 100) Eror_f984f! LastWriteTime is way off [D:\corefx\src\System.IO.FileSystem\tests\System.IO.FileSystem.Tests.csproj]
	  FAiL! get_LastWriteTime.cs ,iCountErrors==1
		 FileInfo_get_LastWriteTime.runTest [FAIL]
			Assert.Equal() Failure
			Expected: 0
			Actual:   1
			Stack Trace:
			   d:\corefx\sr

[2015-04-02 15:27] FiveTimesTheFun commented on #1298
Hi @PedroLamas - thanks for the reply.

To elaborate, I planned to host the test asset nuget packages on a myget.org feed "dotnet-corefxtestdata", because we already have dependencies on myget.org and nuget.org engrained in to our build.  I'd avoid introducing a new build-time dependency on github.com unless there was a compelling reason to.

I'm also unfamiliar with the github feature to download

[2015-04-02 15:47] eatdrinksleepcode commented on #1298
Although I understand the desire to not commit large binary assets to the same repo, I am not especially comfortable with keeping test assets in another repo.

As an alternative, would it be possible to generate these assets, with the code to generate them checked in to the main repo?

[2015-04-02 15:49] eatdrinksleepcode commented on #1298
Also, is it possible to look at the existing tests and understand whether the size and number of existing tests assets is actually required? 60GB of test assets feels particularly excessive.

[2015-04-02 15:53] akoeplinger commented on #1298
@FiveTimesTheFun

Sounds fine to me. In reality, almost no-one is going to clone that repo anyway and the test data is not changing constantly as well, so the arguments for "don't put binaries in the repo" don't really apply.

Having said that, the 60 gigabytes of test assets are a different story, not sure if that should really be checked into a git repository (does GitHub even support repos with

[2015-04-02 15:56] mmitche opened #1314 "Regression: Comparer_DefaultInvariant.ExecuteComparer_DefaultInvariant"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release/lastFailedBuild/testReport/junit/(root)/Comparer_DefaultInvariant/ExecuteComparer_DefaultInvariant/

MESSAGE:
Assert.True() Failure
+++++++++++++++++++
STACK TRACE:
at Comparer_DefaultInvariant.ExecuteComparer_DefaultInvariant() in d:\j\workspace\dotnet_corefx_windows_release\src\System.Collections.NonGeneric\tests\Comparer\Comparer_D

[2015-04-02 16:02] FiveTimesTheFun commented on #1298
Yes... 60GB is a lot... I don't directly own that area so I don't have full context on the test assets, so I'm not sure if they should be reduced but operating on the assumption that they shouldn't.

Unfortunately @eatdrinksleepcode it's not feasible to generate these test assets on the fly.  To elaborate on @akoeplinger 's response, many of these test assets are designed to maintain compatibility

[2015-04-02 16:04] eatdrinksleepcode commented on #1298
@akoeplinger Why would that be the case? Our build should always be deterministic; if it's not, we need to fix that. And there is no reason for the dependencies of the binary generator to change, so I don't see that as a problem either.

[2015-04-02 16:09] akoeplinger commented on #1298
@eatdrinksleepcode as Matt mentioned, some of them are designed to ensure compatibility. You'd need to e.g. keep a Windows XP machine around to generate a ZIP file with Windows Explorer as later OSes might've changed the implementation.

@FiveTimesTheFun .nuspec in the repo, yep. sounds acceptable.

[2015-04-02 17:08] mmitche opened #1316 "Use roslyn compiler to build corefx"
We should be using the Roslyn compiler to build

[2015-04-02 17:37] eatdrinksleepcode commented on #1286
@Clockwork-Muse

Correct. GitHub closed this issue because I marked the PR in BuildTools as fixing it, but it won't really be fixed until CoreFX picks up a new BuildTools package. I don't know on what frequency that happens; I believe publishing BuildTools is currently a manual step.

You can pass xunit parameters to the build by setting the XunitOptions property:

[code]

The wiki needs to be upd

[2015-04-02 21:39] Clockwork-Muse commented on #1286
@eatdrinksleepcode -
Thanks so much, that really helps.

Yeah, once the updated build tools are picked up that last one is less of an issue.  I'm just more curious about why the need to copy everything around like that.  Especially because each "source" test project ends up with the same copy of everything, as opposed to everything in one folder (or even no copying, but I'm assuming it only looks

[2015-04-02 21:45] Clockwork-Muse commented on #1316
I kind of assumed this was waiting on VS2015 to be officially released?  The other option is what, requiring the 2015 build tools to be installed?

[2015-04-02 23:26] mmitche opened #1318 "Single tests should be able to be run through the IDE"
Currently there seems to be some miscommunication between the corefx repo/project setup and the IDE, and the test discovery inside the IDE for xunit is broken.

This makes it difficult to run single tests

[2015-04-03 00:39] Clockwork-Muse commented on #1318
Or debug single tests.

[2015-04-03 03:08] Clockwork-Muse opened #1320 "System.Linq.Parallel queries not always running in Parallel"
`System.Linq.Parallel` queries (consistently) don't always run in parallel by default (not forcing parallelism), if `ElementAt(...)` or `ElementAtOrDefault(...)` is called (especially on unordered collections).

Calling `First()` _does_ run things in parallel, so I didn't think it was a performance optimization.

Take, for example, `Where`: `unorderedQuery.Where(e => e.SomeCheck()).ElementAt(8)`.

[2015-04-03 03:12] stephentoub commented on #1142
Thanks, @bpschoch.

[2015-04-03 04:54] mbeidler commented on #574
I think it makes sense for `ContainsKey` to use the `IComparer<TKey>` implementation, since that is what specifies the key. However, I think it is a bug that `ContainsValue` uses `IComparable<TValue>` in its linear search.

It appears that in the MSDN documentation for `SortedList<TKey, TValue>`, the remarks section for `ContainsValue` does indicate that the TValue's sort ordering is used in lieu

[2015-04-03 14:16] stephentoub commented on #606
Fixed by #1301

[2015-04-03 14:16] #606 closed

[2015-04-03 14:23] stephentoub commented on #1320
@Clockwork-Muse, thanks.  Before we investigate further, have you read http://blogs.msdn.com/b/pfxteam/archive/2011/11/11/10235999.aspx ?  In particular, it calls out ElementAt as an operator that forces fallback to sequential.

[2015-04-03 22:31] Clockwork-Muse commented on #1320
Oy, no, I didn't know about that.  Guess that explains it.
Looks like I have a test to change.

[2015-04-03 22:31] #1320 closed

[2015-04-04 00:49] FiveTimesTheFun opened #1326 "System.IO.Compression tests need to remove a workaround for not understood DST issue"
The System.IO.Comprssion tests verify the last modified metadata of zip file entries.  There is currently a workaround where the check will succeed if the entry is 1 hour earlier than expected.  This is to work around a not understood DST issue either in the test, or in the library.  I need to understand if the issue is a test or product issue, and fix.

[2015-04-04 06:37] sharwell commented on #1290
This is what `IEqualityComparer<T>` is for, and it's widely supported by hash-based data structures in .NET.

[2015-04-04 06:45] sharwell commented on #1306
So this is like `ILookup<TKey, TValue>`, except that it can be modified?

[2015-04-04 07:00] weshaggard commented on #1316
I agree this is waiting for VS2015 to be released. @mmitche why do you want to use Roslyn?

[2015-04-04 07:03] weshaggard commented on #1318
We currently do not have support for hosting and running xunit within VS. That actually requires a fair amount of work but we can use this issue to track that work.

This is called out in our wiki https://github.com/dotnet/corefx/wiki/Developer-Guide

[2015-04-04 15:38] Clockwork-Muse commented on #1326
Ouch.
This has the potential to become a Heisenbug, given DST can change.

[2015-04-04 23:13] stephentoub opened #1329 "Add support for named, non-persisted memory-mapped files"
We currently don't support names for memory-mapped files. We should be able to add such such support by using POSIX shared memory objects, at least for non-persisted maps (as opposed to persisted ones, those backed by files on disk).

[2015-04-05 02:04] eatdrinksleepcode commented on #1286
Yes, I would like to reduce the need for copying as well, but it is currently necessary (as you noted, dependencies are loaded from the same location as the test assembly). I have a couple of ideas on how to reduce or possibly eliminate that need, not only to reduce the amount of work done during a testing cycle, but also to reduce the required disk space. I am going to file an issue in BuildTools

[2015-04-05 03:58] ellismg commented on #1316
FWIW, build.cmd is set up to prefer VS2015 when installed, so if you have Roslyn, we will use it.

[2015-04-05 04:10] ellismg commented on #1314
I expect that this is due to races in the tests.  Hashtable tests also muck with this shared property and if run concurrently, you will run into issues.

We should either not run these in parallel or stop using shared mutable state.

[2015-04-05 06:57] Clockwork-Muse opened #1330 "Parallel.Linq.Distinct not returning first element equal element in ordered queries."
Parallel.Linq.Distinct doen't return the first "equal" element in ordered queries.

Take, for example, the following set: `{0, 1, 2, 3, 4, 5, 6, 7}` - and use a comparator that says everything `mod 4` is identical (so, `0` is the same as `4`, `1` and `5`, etc).  I'm somewhat expecting to get `{0, 1, 2, 3}`, but I don't - any of the 'later' identical values can be returned.

For those of you conten

[2015-04-05 07:25] Clockwork-Muse opened #1331 "Parallel.Linq.Union not completely ordered"
...or perhaps this is just a documentation issue (insufficient specification):

`Union` is a binary operator, and as such takes two `ParallelQuery`s.  When dealing with ordered queries, only the portion coming from an ordered source is returned ordered.
That is:

    ParallelEnumerable.Range(0, 8).AsOrdered().Union(ParallelEnumerable.Range(8, 8))

...returns the first 8 elements (`{0, 1, 2, 3, 4,

[2015-04-05 12:06] Clockwork-Muse opened #1332 "Parallel.Linq.Concat not consistent with ordered input"
`Parallel.Linq.Concat` isn't behaving consistently when given ordered input sources.

As `Concat` is a binary operator, two sources may be supplied.  The inconsistency surfaces depending on which, and how, operand is ordered.

If both **or** either (only the left or the right) is ordered via `AsOrdered()`, the entire output is ordered.
If the left operator is ordered via any of the `OrderBy(...)`

[2015-04-06 14:39] Kukkimonsuta opened #1333 "Missing types while attempting to port a library with native dependency"
I'm playing with library with a native dependency (LibGit2Sharp) and attempting to port it over to core clr, however aside from some minor issues I'm having trouble locating following types:

[code]
[code]
[code]

I haven't found any mention of those in https://github.com/dotnet/corefx-progress nor http://packagesearch.azurewebsites.net/ , so I'd like to ask whether these are going to be included,

[2015-04-06 15:46] mmitche commented on #1314
I thought we already disable parallelism for these...?  @stephentoub

[2015-04-06 16:18] stephentoub commented on #1314
I don't see any attributes in that test project that would cause parallelism to be disabled, though it sounds like it should be until the tests can be fixed.

[2015-04-06 17:20] FiveTimesTheFun opened #1334 "Investigate async usage for System.IO.Compression"
@stephentoub pointed out two suspect uses of Async in System.IO.Compression in https://github.com/dotnet/corefx/pull/1309 -

In System\IO\Compression\DeflateStream.cs:

	347	+                // If there is no data on the output buffer and we are not at
	348	+                // the end of the stream, we need to get more data from the base stream
	349	+                readTask = _stream.ReadAsync(bu

[2015-04-06 22:32] pkothare opened #1336 "Collections should have extensions to compute order statistic"
`System.Linq` has extensions implemented for computing the minimum and maximum.

Example:

[code]

While these are useful values when dealing with collections, they are merely special cases of nth order statistics. More often than not, people are also interested in a specific cases. For example, when querying the collection in the sample code above, the question may be posed, what is the 3rd small

[2015-04-07 14:59] mmitche commented on #1316
@weshaggard It was suggested...by @richlander I think...that we do this.  I believe the reasoning was that Roslyn is our OSS C# compiler, it would be great to use it to build corefx/other projects.  However, since 2015 isn't far away it might make sense just to wait.  The other option would be to pull in that build tool in a package.  What do you think @richlander?

[2015-04-07 15:09] richlander commented on #1316
My view is that Roslyn and VS 2015 are logically separate. I don't think that we should gate on release bits, although distribution is a legit concern. There are three distinct scenarios:

- build (mscorlib) coreclr
- build corefx
- build user code

As soon as Roslyn can reliably do any of these scenarios, we should switch to it for that scenario(s). Right now, we don't have a source compiler for

[2015-04-07 17:55] akoeplinger opened #1339 "Make encoding of .cs files consistent"
Here's a list of the .cs files that aren't ASCII/UTF8 in the repo:

[code]

While the encoding should theoretically not matter, some third-party tools don't cope with those well, see e.g. the issue @MattWhilden raised for linguist https://github.com/github/linguist/issues/2310 and GitHub's diff in https://github.com/dotnet/corefx/pull/1338#issuecomment-90667234.

We should investigate converting t

[2015-04-07 19:27] #311 closed

[2015-04-07 20:19] mellinoe opened #1342 "Improve use of Assert's in DispatchProxy tests"
See comments here for some potential improvements:

https://github.com/dotnet/corefx/pull/1341

* Improve use of Assert.Throws
  * DispatchProxyTests.cs line:94
* Improve use of Assert.IsAssignableFrom
  * DispatchProxyTests.cs line:22
* Improve use of Assert.IsType
  * DispatchProxyTests.cs line:48

[2015-04-07 22:46] terrajobst commented on #1339
Another problem is that Git(Hub) doesn't consider UTF-16 encoded files as text; so diffs will ~~suck~~ not be idea.

@krwq can you take a look at this?

[2015-04-07 22:49] terrajobst commented on #1336
@theoy, can you make sure this gets triaged?

[2015-04-07 22:53] terrajobst commented on #1333
Thanks @Kukkimonsuta. These are good question. Would you mind splitting this into three issues?

1. Support for CERs
2. Support for ICustomMarshaller
3. Support for binary serialization

This way, we can track and assign corresponding owners more easily.

[2015-04-07 22:58] terrajobst commented on #1318
Thanks @weshaggard. I've added the link to the paragraph in the wiki you quoted.

[2015-04-07 23:00] MattWhilden commented on #1318
Work around courtesy @mmitche in gitter:
I am guessing it has something to do with the build tools
we have a set of shared msbuild build tools for various projects
(along with a custom xunit runner that can run on Linux, since the stock one uses features that coreclr doesn't have)
I think the build tools targets and such are interfering
here's a bit of a workaround suggestion
you could add a new c

[2015-04-07 23:03] terrajobst commented on #1316
@richlander what's the value we'd get out of it? I understand the desire to use the latest tools for everything but as @ellismg pointed, we already support it indirectly.

As far as cross platform builds go, we're currently depending on MSBuild. It seems solving the cross platform builds would require addressing the MSBuild dependency in a meaningful way first.

[2015-04-07 23:03] MattWhilden commented on #1339
I haven't poked around but some of these may be UTF16 by design. Be careful :-)

[2015-04-07 23:08] terrajobst commented on #1307
Do you have a concrete scenario for which the performance is substantially worse?

[2015-04-07 23:15] #1333 closed

[2015-04-07 23:56] eatdrinksleepcode commented on #1318
@MattWhilden @mmitche Is that a workaround for running a single test from the command line? If so, there is a [much simpler way](https://github.com/dotnet/corefx/issues/1286#issuecomment-88984607):

[2015-04-08 00:01] mmitche commented on #1318
I think you can even get more specific with the version of xunit we have:

-method <MethodName>

[2015-04-08 00:04] eatdrinksleepcode commented on #1318
Yes, sorry, I was just quoting my previously posted example.

Specific examples should be added to the wiki, but I don't have access to do that, and GitHub doesn't allow PRs for wiki pages.

[2015-04-08 00:51] richlander commented on #1316
@terrajobst I was trying to make 2 main points:

- VS 2015 RTM shouldn't be the gating factor. Tangent: I hope its not a gating factor for any of our decisions.
- Once Roslyn is available for a scenario that it unblocks (e.g. compiling simple apps on OS X and Linux), we should recommend that people use it. As Matt says, It is already available for VS 2015, and we already use it there (which is gre

[2015-04-08 02:11] Clockwork-Muse commented on #1318
Well, I know how to run single tests from the command line, which was less complicated than whatever this workaround is supposed to be (I'm not entirely clear on what the intended process is supposed to be - thanks to @eatdrinksleepcode for finding the current command I use).  Of course, since the build tools are out of date (fixed, but corefx hasn't picked it up yet), it doesn't use what the IDE

[2015-04-08 05:44] Kukkimonsuta opened #1345 "Support for CERs"
Split from #1333

Are CERs going to be supported or is there viable alternative?

Recorded uses in (3rd party) libraries:
 - [LibGit2Sharp](https://github.com/libgit2/libgit2sharp/search?utf8=%E2%9C%93&q=ReliabilityContract&type=Code)

[2015-04-08 05:47] Kukkimonsuta opened #1346 "Support for ICustomMarshaler"
Split from #1333

Recorded uses in (3rd party) libraries:
- [LibGit2Sharp](https://github.com/libgit2/libgit2sharp/search?utf8=%E2%9C%93&q=ICustomMarshaler&type=Code)
- Mono.Posix see #94

[2015-04-08 05:52] Kukkimonsuta opened #1347 "Support for binary serialization"
Split from #1333

Turns out binary serialization is not really needed in my case as it's used only on exceptions, but it would still be nice to know whether it's coming back or whether it is depreciated.

[2015-04-08 05:55] Kukkimonsuta commented on #1333
Done. Funny thing, that I always complain about people putting multiple things together into single ticket and now I'm apparently doing the same.. :expressionless:

[2015-04-08 05:56] sharwell commented on #1345
The `ReliabilityContract` attributes could probably be removed without any other changes when targeting a framework that doesn't support them.

I would think `CriticalFinalizerObject` already exists since it's the base class of `SafeHandle`. However, if it doesn't the use of it in LibGit2Sharp could probably be rewritten using [`CriticalHandle`](https://msdn.microsoft.com/en-us/library/system.runt

[2015-04-08 08:48] karldodd opened #1348 "System.Configuration is missing"
Hi corefx team,

If I am right, classes under System.Configuration namespace are missing. I know asp.net 5 introduces some new json-based configuration mechanism but the old xml-based configurations are still widely used. Moving System.Configuraiton to corefx will benefit a lot of legacy code.

Kind regards,
Karl

[2015-04-08 10:02] Clockwork-Muse commented on #1332
But wait, there's more!

It turns out that neither array-sourced or `ParallelEnumerable.Range(...)`-sourced queries are safe after all (or `List`-sourced, either).  It turns out that it doesn't run the `OrderBy` on the inner query, if the outer query doesn't have some form of ordering on it (`OrderBy`, `AsOrdered`, whatever).  Instead, you get the equivalent of `AsOrdered` on those sources.

That

[2015-04-08 17:46] #566 closed

[2015-04-08 19:50] axelheer commented on #1307
Any scenario involving big numbers with thousand bits or more.

The current multiplication implementation relies on "grammer-school" methods (as called by literature), which is good for "small" big numbers, but becomes very inefficient for "not so small" big numbers since it operates at *Θ(n^2)*. Usually a switch to [Karatsuba's algorithm][0] (*Θ(n^1.585)*) at some threshold helps, after that a sw

[2015-04-08 23:49] krwq opened #1355 "Failure in System.IO.FileSystem.DriveInfo"
[code]

I think this is consistent failure on my box (at least repeated few times)

This happens for my DVD drive when there is no drive inside. @Priya91 seemed to also have checked it on her computer but she was unable to repro. When I use DriveInfo class on my DVD drive it is able to get the DriveType but trying to access VolumeLabel or DriveFormat (also for read) causes the same failure.

[2015-04-09 01:52] JeremyKuhne opened #1358 "Intermittent failure in get_LastWriteTime.cs"
This class has failed multiple times today.

MESSAGE:
Assert.Equal() Failure Expected: 0 Actual: 1
+++++++++++++++++++
STACK TRACE:
at FileInfo_get_LastWriteTime.runTest() in d:\j\workspace\dotnet_corefx_windows_release_prtest\src\System.IO.FileSystem\tests\FileInfo\get_LastWriteTime.cs:line 126

[2015-04-09 03:17] stephentoub commented on #1358
Just adding the relevant log details from the CI run:
[code]

[2015-04-09 08:15] Maxwe11 commented on #1358
dup #1313

[2015-04-09 10:58] stephentoub commented on #1358
Closing as dup

[2015-04-09 10:58] #1358 closed

[2015-04-09 11:07] Maxwe11 commented on #890
Fixed by #1133

[2015-04-09 11:08] Maxwe11 commented on #888
Fixed by #1131

[2015-04-09 11:09] Maxwe11 commented on #889
Fixed by #1178

[2015-04-09 11:12] Maxwe11 commented on #887
Fixed by #1259

[2015-04-09 11:21] #890 closed

[2015-04-09 11:21] #888 closed

[2015-04-09 11:21] #889 closed

[2015-04-09 11:21] #887 closed

[2015-04-09 11:44] Maxwe11 commented on #1308
Fixed by #1340

[2015-04-09 12:04] #1308 closed

[2015-04-09 12:34] rafidka commented on #1307
@axelheer, out of curiosity, how can GNU MP library be used within C#? I know in C# we can use DllImport to link to libraries built for Windows, but the aim here should be cross platform, right? Unless BigInteger is moved to coreclr so that we can use C/C++, I can't think of any way to use GNU MP for it.

[2015-04-09 12:51] axelheer commented on #1307
@rafidka yeah, I think some kind of movement to / involvement of *CoreCLR* would be required. Since the GNU MP library is already cross platform, I'm fanciful enough to imaging that... Actually, I don't have any idea how to do that, I'd just like a faster BigInteger, which we can get with C# too (but not that fast, and not that mature).

[2015-04-09 12:54] rafidka commented on #1307
I see. Yeah, now it makes more sense to me, it definitely need some support from CoreCLR.
@joshfree, I see you added 'upforgrabs' label for this issue, but it looks like there is no agreement on plan on how to do this, so what is the status?

[2015-04-09 13:08] Maxwe11 commented on #1307
from issue # 1298

So GNU MP could be used :smile:

[2015-04-09 16:38] mmitche commented on #1313
Also seen at: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_outerloop/lastFailedBuild/testReport/junit/(root)/FileSystemWatcher_4000_Tests/FileSystemWatcher_Changed_LastWrite_File/

[2015-04-09 16:49] ericstj commented on #1313
@FiveTimesTheFun  feel free to pick this up if you can since you added this failing test.

[2015-04-09 17:01] joshfree commented on #1307
@rafidka @axelheer if you're interested in working on BigInteger and improving some aspect of it's performance (for example GCD), then you can suggest an improvement and get feedback on your design.

[2015-04-09 18:28] krwq opened #1360 "System.Collections.Specialized.Tests.GetItemObjTests.Test01 [FAIL]"
[code]

I coudln't repro locally, probably some threading issue

[2015-04-09 20:08] joshfree commented on #1355
@FiveTimesTheFun can you take a look?

[2015-04-09 20:53] #817 closed

[2015-04-09 20:57] #829 closed

[2015-04-09 23:18] Petermarcu opened #1363 ".NET Core should have a System.Drawing.Primitives Contract with core Types from System.Drawing."
Based on analysis, these types are commonly used even outside Image processing scenarios. We should factor them out to allow for greater code reuse and portability on .NET Core.

•	Color
•	KnownColor
•	Point
•	PointF
•	Rectangle
•	RectangleF
•	Size
•	SizeF

[2015-04-10 04:54] ellismg commented on #1360
Is very likely related to the fact that that we do ToUpper() on the keys and values and expect this to be stable while some of the NameValueCollection tests set the current culture to turkish, which cases "I" differently.

This is racy when they run concurrently.

[2015-04-10 06:41] glennblock opened #1367 "Add a Prompt method for System.Console that accepts an output message."
A very common pattern in a Console application is to collect input from the user. Generally preceding this is a message informing the user what they should enter. Today this results in a pattern of `Console.WriteLine("...")` followed by `Console.ReadLine()`.

A `Prompt` method which accepts a string, would consolidate this to a single line of code.

I've come across this zillions (obvious lie) of

[2015-04-10 06:47] satish860 commented on #1367
+1 This will be helpful . But the method Name can ReadLineWithMessage() may be good ..

[2015-04-10 06:48] glennblock commented on #1367
@satish860 wouldn't it be obvious by the name? Maybe change the `message` param to `outputMessage` to make it more clear?

[2015-04-10 07:01] kangaroo commented on #1367
@glennblock For what its worth, I started writing a comment similar to @satish860 but backed away.  My concern was API confusion.  I'm not 100% convinced on it, but felt I should throw my vote of uncertainty in considering someone else put it out there :)

[2015-04-10 07:02] kangaroo commented on #1367
@glennblock Also, I think a param name change could help significantly for those who use intellisense (but thats not 100% of people) -- that said instead of outputMessage, perhaps promptMessage?

[2015-04-10 07:05] zabulus commented on #1367
What if I don't need to write new line after prompt, instead read user input in the same line?
[code]
It would need another extension method.
I think Console class has good API, that allows every user to create his own extension methods fits for his project.

[2015-04-10 07:14] glennblock commented on #1367
@zabulus great point. But that could easily be addressed by having the new `ReadLine` do `Console.Write` instead of `Console.WriteLine`. Then if one wants to add the CRLF they just do that in the string they have passed.

[2015-04-10 07:16] glennblock commented on #1367
@kangaroo sure or just `prompt`. It is a string so it should be obvious it is writing out a message.

[2015-04-10 07:17] kangaroo commented on #1367
@glennblock Like I said, I was on the fence and don't feel strongly one way or the other about this one, I just had an initial reaction that aligned with @satish860 so I figured it was worth calling out.

[2015-04-10 07:18] glennblock commented on #1367
Well just found one problem with this. `Console` is a static type. This means it cannot be an extension method, it must be on the type.

[2015-04-10 07:19] glennblock opened #1368 "Add a ReadLine method for System.Console that accepts a prompt."
A very common pattern in a Console application is to collect input from the user. Generally preceding this is a message informing the user what they should enter. Today this results in a pattern of `Console.WriteLine("...")` followed by `Console.ReadLine()`.

A `ReadLine` extension method which accepts a string, would consolidate this to a single line of code.

I've come across this zillions (obvi

[2015-04-10 07:19] zabulus commented on #1367
I think adding such method to API is a little mixing of concerning. User formats his string himself and places CRLF in places he wants.
API serve for this well as it is.
You always can create ConsoleEx static class which adds all functionality you want.

[2015-04-10 07:20] #1368 closed

[2015-04-10 07:29] glennblock commented on #1367
@zabulus One could add their own static class. That being said, I've probably had to do this hundreds of times over the years. I am sure I am not the only one. Having an overload that handles this, doesn't prevent using the standard methods, it is a convenience method.

In terms of separation of concerns, you can argue that for almost any convenience method. ;-)

[2015-04-10 08:00] glennblock commented on #1367
OK thinking about this more, how about the method is called `Prompt`

[2015-04-10 09:44] davidfowl opened #1370 "Provide an API for traversing/reasoning about async call stacks"
Any tool that shows exceptions today also shows the callstack. With the introduction of the async keyword (yield was the same I guess), it's becoming increasingly harder to show reasonable call stacks because of the async state machine. It would be nice if there was an API somewhere that could be used to clean up the async state machine and pretty print a call stack with readable method names (too

[2015-04-10 10:01] Maxwe11 commented on #1370
:+1: :clap:

[2015-04-10 13:05] Clockwork-Muse opened #1373 "enumerable.AsParallel().LongCount() can only count int.MaxValue elements"
... as well as `enumerable.AsParallel().LongCount(x => true)` (I thought this override had a successful run, but it isn't now)

The overflow is encountered at [PartitionedDataSource.cs, line 967](https://github.com/dotnet/corefx/blob/master/src/System.Linq.Parallel/src/System/Linq/Parallel/Partitioning/PartitionedDataSource.cs#L697).  The problem is that these partitioned data sources all presume

[2015-04-10 13:13] stephentoub commented on #1373
Thanks. Yes, this is expected:
http://blogs.msdn.com/b/pfxteam/archive/2012/11/16/plinq-and-int32-maxvalue.aspx

[2015-04-10 13:51] Clockwork-Muse commented on #1373
@stephentoub - heh.  I was just about to ping you about that too (I'd bumped into it before, but forgot it was a complete restriction on Enumerable source sizes).
The MSDN documentation (at least for `LongCount(predicate)`) explicitly lists the OverflowException as occurring at `long.MaxValue`, which is clearly not the case...
Is the plan to potentially "fix" this (and leave the documentation as-i

[2015-04-10 13:58] stephentoub commented on #1373
There are currently no plans to modify PLINQ to support enumerables with more than Int32.MaxValue elements; doing so is a non-trivial amount of work, and it's yet to show up as a real problem.  While LongCount could be special-cased, there's little-to-no benefit in doing so; it's only useful when operating on the results of other PLINQ operators (otherwise you'd just use Enumerable.LongCount), whi

[2015-04-10 14:03] psmolinsky commented on #1272
In my use case I'm trying to save some list of serializable objects to AppFabric cache. Serialization of generic `List<>` or array is fine. As far as immutable collections are mostly wrappers (`ImmutableArray<>` just wraps regular array), I don't understand why they also can't support serialization (be marked as `[Serializable]`). Thanks for clarification.

[2015-04-10 14:04] trayburn commented on #1367
I like the name `Prompt` for the name.  I am curious if it ignores the possibility Color changes (for prompt text, for example) but basic functionality I see the win and support it.

[2015-04-10 14:17] ericlaw1979 commented on #1367
It'd be especially excellent if it allowed arrow-key navigation around the input area. That way app could propose a response (e.g. a default filename) and the user could edit it.

[2015-04-10 16:30] stephentoub commented on #827
Fixed by #1309

[2015-04-10 16:30] #827 closed

[2015-04-10 16:33] stephentoub opened #1375 "Enable System.IO.Compression to use zlib on Unix"
The Unix compilation of System.IO.Compression is using the managed deflater implementation.  We want to switch it to using the zlib implementation (at least by default; we could consider having the managed implementation as a fallback if zlib isn't installed).

[2015-04-10 18:59] ellismg opened #1378 "Add IEnumerable<KeyValuePair<TKey, TValue>> variants to Dictionary's .ctors"
We should consider adding constructors to `Dictionary<TKey, TValue>` which allow building a Dictionary from an IEnumerable of KeyValueParis.
## Rationale and Usage

Given an `IEnumerable<KeyValuePair<TKey, TValue>>` there's no simple way to construct a dictionary, around it.  Instead you have to do something like:

[code]

or

[code]

`ConcurrentDictionary<TKey, TValue>` already provides such .cto

[2015-04-10 23:26] ramarag commented on #853
is present now at https://github.com/dotnet/corefx/blob/master/src/System.Resources.ReaderWriter/tests/ResourceWriterUnitTest.cs

[2015-04-10 23:26] #853 closed

[2015-04-10 23:43] ramarag commented on #932
With the change 67da6227c3 System.Resources.ResourceWriter has become System.Resources.ReaderWriter and has the following coverage details with aggregate to 80 %, the product coverage is 86% and 95%. To improve upon net coverage is only possible by a thorough testing of the spec line by line

@stephentoub :I am closing this issue for now. Do reopen it if you think higher coverage is needed !!

Nam

[2015-04-10 23:43] #932 closed

[2015-04-11 00:14] ramarag commented on #948
With the 67da6227c39c5eca7fa5ce98fc2cdb91c27e40e4 you can implement the Resource Manger for example like [here] (https://gist.github.com/ramarag/6e6f58a210dd00745582)

[2015-04-11 00:14] #948 closed

[2015-04-11 00:18] ramarag commented on #947
With the  67da622  you can implement your own Resource Manger for example like here

[2015-04-11 00:18] #947 closed

[2015-04-11 01:02] stephentoub opened #1387 "Add protection to SecureString on Unix"
We have a "working" implementation of SecureString on Unix, meaning that it'll run and provide the consumers with the expected inputs/outputs, but it doesn't actually encrypt any data in memory.  We should investigate adding that.  The implementation today does make other attempts at keeping the data confidential, such as using mlock to lock the pages in memory and using mprotect to remove read/wr

[2015-04-11 02:19] justinvp commented on #1298
GitHub announced [Git Large File Storage (LFS)](https://github.com/blog/1986-announcing-git-large-file-storage-lfs) a couple days ago, which might be useful for the test assets.

[2015-04-11 12:59] stephentoub commented on #826
@FiveTimesTheFun, is this still an issue?

[2015-04-11 13:04] stephentoub commented on #880
Was this addressed by https://github.com/dotnet/corefx/pull/1128?

[2015-04-11 19:15] sharwell commented on #1378
You should also include this as a viable workaround for comparison:

[code]

[2015-04-11 21:06] sharwell opened #1390 "Consider making ImmutableArray<T>.SyncRoot throw NotSupportedException"
Currently `ImmutableArray<T>` (a value type) returns `this` in its implementation of `ICollection.SyncRoot`. I believe a more appropriate implementation would be to throw `NotSupportedException`, a behavior which would match the collections in `System.Collections.Concurrent`.

[2015-04-11 21:37] sharwell opened #1391 "Consider throwing a more appropriate exception in ImmutableDictionary<TKey, TValue>.HashBucket.Equals"
Currently `ImmutableDictionary<TKey, TValue>.HashBucket` has an implementation of `IEquatable<HashBucket>.Equals` which throws `Exception`. While this class is internal (so user code cannot hit this), code analysis tools may flag this. Consider throwing a `NotSupportedException` or `InvalidOperationException` from this method instead.

[2015-04-11 23:48] plabovich commented on #937
@stephentoub @krwq I've been working on tests for the next class XmlAttribute. Unfortunately, it's not possible to improve the code coverage a lot due to a technically unreachable code. There are at least 7 overridden methods in the class having code similar to:

        public override XmlNode AppendChild(XmlNode newChild)
        {
            if (PrepareOwnerElementInElementIdAttrMap())

[2015-04-12 04:12] advancedrei commented on #1298
In regards to the native dependencies, I maintain a fork of the Zlib Silverlight implementation from DotNetZip that is portable, and currently distributed on NuGet. Would it make sense to provide that code for use in the Framework?

HTH!

[2015-04-12 05:35] Kukkimonsuta commented on #1363
I don't think KnownColor should be included since it is system dependant and most values have no meaning under console only environments.

[2015-04-12 10:49] axelheer commented on #1307
@joshfree @mellinoe then let me ask one concrete question: is "integrating" the *GNU MP* library (as already pointed out) an option?

[2015-04-12 10:53] stephentoub commented on #1390
I agree, the current implementation is not a good place to be.  And if I'm reading it correctly, the comment in the implementation justifying it also looks wrong, e.g. this
[code]
will print out false, even though the array is only being boxed once (the comment seems to indicate that once the array is boxed, its SyncRoot will return that boxed object).

While array itself is immutable, folks use S

[2015-04-12 16:45] AArnott commented on #1390
Agreed

[2015-04-13 06:19] ellismg commented on #1378
@sharwell Thanks!

[2015-04-13 14:18] StevenLiekens opened #1395 "Questionable MSBuild project reference"
Regarding the first import statement in file `dir.props`
https://github.com/dotnet/corefx/blob/c5295ac33f158a68801a93405a2f105df840cfcc/dir.props#L2

If the file exists, the highlighted line of code imports a project file that is outside of the corefx repository. Why is that?

[2015-04-13 16:32] KrzysztofCwalina commented on #1316
I would prefer to do the update asap. I just ran into a problem where code compiles locally (I use 2015 locally) but then fails the CI build.

[2015-04-13 16:36] mmitche commented on #1316
@KrzysztofCwalina does this imply that as soon as we switch to 2015, we stop supporting building on 2013?

[2015-04-13 16:45] KrzysztofCwalina commented on #1316
That would be the implication. The alternative is that we switch locally away from dogfooding VS2015, which we probably don't want to do.

[2015-04-13 17:12] KrzysztofCwalina commented on #1307
I understand that there might be additional performance benefits from using C++/assembly, but I think it would be worth trying to simply use the algorithms @axelheer mentions but leave the implementation in C#. Axel, would you be interested in doing such experiment to see what the perf gains and gaps would be?

[2015-04-13 17:53] ellismg commented on #1316
I believe the alternative is that we don't use new C# 6.0 features, which is not nearly as bad as not dogfooding 2015.

I think we should decouple the "build using pre RTM Roslyn" from the "adopt 6.0 language features" discussions.

FWIW, I'm very opossed to taking changes that make it impossible to build the stack using only VS2013 Community.

[2015-04-13 18:02] jaredpar commented on #1316
All Roslyn compilations are done today using the roslyn compiler.  Hence I'm fairly certain there should be no quality / capability or perf issues in doing the same to corefx.  And if there are I'd sure like to find out about them now instead of later :smile:

Roslyn does this by doing the following:

- Uses the latest NuGet package for Microsoft.Net.ToolsetCompilers.
- In our core [targets file](

[2015-04-13 18:02] jaredpar commented on #1316
If you all are interested in pursing this for corefx I can definately take a stab at it.

[2015-04-13 18:08] ellismg commented on #1316
If we do this, we should make sure we understand the impact when building CoreFX internally in razzle.  Are we ok with restoring Roslyn in that case or should we be using the toolset version?

[2015-04-13 18:16] mmitche commented on #1316
Building using a package we deploy (like @jaredpar suggests) was what I was originally referring to.  We should still only require 2013 as the base installed VS, but we could decouple the compiler actually used from that.

[2015-04-13 18:21] ellismg commented on #1316
If we did that, and adopt c# 6.0 features, does that break intellisense in VS2013 or does everything just work?

[2015-04-13 18:21] jaredpar commented on #1316
@ellismg you will not be able to use the NuGet package in a razzle environment due to limitations of razzle.

[2015-04-13 18:48] axelheer commented on #1307
@KrzysztofCwalina if you prefer a (safe?) C# based implementation, I can contribute code of mine (if not all of it). It's based on "raw" computations on `uint[]` objects, which leaves much room for optimizations and is still very readable (more readable for me, in fact -- but that's opinion based). Thus, it would mean dropping much of the current `BigIntegerBuilder` construction (if not all of it)

[2015-04-13 18:52] ellismg commented on #1316
@jaredpar Okay.  It's a requirement that we continue to be able to build the CoreFX sources here from within Razzle, so whatever we do, we need to make sure that continues to work.

[2015-04-13 20:02] KrzysztofCwalina commented on #1307
@axelheer, yeah, C# based implementation. If it has some unsafe code, that would be fine too (if needed for perf or other reasons).

[2015-04-13 20:05] jaredpar commented on #1316
@ellismg razzle does have a version of Roslyn as the toolset at the moment. Not exactly sure which version but so long as you don't venture into exception filters the code should compile in both scenarios.

[2015-04-13 21:13] ellismg commented on #1395
@weshaggard or @chcosta can confirm, but the rationale, I believe, is to enable some internal scenarios we have where we take this source and build it internally out of our TFS repository.  In this case, the parent directory has some additional build rules we need consume in order to work with that build system.

[2015-04-13 21:47] chcosta commented on #1395
Confirmed. Matt is correct as to the intention of this file.  Long-term, I'm not certain that this file will be necessary, but as we are transitioning to open source it is a needed gap filler.

[2015-04-13 22:04] #1395 closed

[2015-04-14 00:37] #1196 closed

[2015-04-14 00:59] HaloFour commented on #1370
Check out this article from MSDN Magazine:

[Async Programming: Async Causality Chain Tracking](https://msdn.microsoft.com/en-us/magazine/jj891052.aspx)

It would have something like that built-in.  However if it would have to capture the stack trace at the point of awaiting it would probably add a non-trivial amount of overhead, as the article mentions.

[2015-04-14 13:49] jaredpar commented on #1316
@ellismg had another thought last night.  It is possible for the CoreFx repo to switch to Roslyn and still enforce C# 5.0 compatibility by specifying the [/langversion:5](https://msdn.microsoft.com/en-us/library/f4ckecs0.aspx) switch.

That would get CoreFx onto roslyn, allow for 2013 to work unaltered and guarantee razzle compatibility.

[2015-04-14 14:59] mmitche commented on #1316
+1 to that.

[2015-04-14 15:04] ellismg commented on #1316
That sounds good to me.

[2015-04-14 15:31] weshaggard commented on #1316
Yes I just learned about the /langversion switch yesterday so I'm also willing to entertain this idea. @jaredpar are you going to put together a PR in our buildtools repo?

[2015-04-14 15:34] jaredpar commented on #1316
@weshaggard yes.  I've assigned this issue to myself.

[2015-04-14 19:25] Maxwe11 opened #1407 "Default construction of TextWriterTraceListener"
public TextWriterTraceListener()

[msdn](https://msdn.microsoft.com/en-us/library/9hhycxf3(v=vs.110).aspx) says that:

but it's not true. [The default is an empty string ("").](https://msdn.microsoft.com/en-us/library/system.diagnostics.tracelistener.name(v=vs.110).aspx)

[2015-04-14 19:56] akoeplinger opened #1408 "Add System.Threading reference to System.Linq for Mono mcs"
Mono's mcs compiler implements `yield` internally using `System.Threading.Interlocked`. This causes a compilation error on mcs when the `System.Threading` contract isn't referenced.

I've sent PRs in the past to add that reference (https://github.com/dotnet/corefx/pull/951, https://github.com/dotnet/corefx/pull/774, https://github.com/dotnet/corefx/pull/328, etc.) to projects that needed it and go

[2015-04-14 20:17] weshaggard commented on #1408
I think it is acceptable to add the reference to System.Threading for System.Linq.

cc @VSadov

[2015-04-14 21:12] axelheer commented on #1307
@KrzysztofCwalina I made a few tests today for an unsafe implementation for squaring / multiplying (to get rid of some index calculations). It's faster, but not that much. Thus, I would stick to the more convenient safe version for now (but I can provide an unsafe version too, if you prefer).

How should we / I start? Should I just try to "migrate" my Code to BigInteger? Or should we discuss other

[2015-04-14 21:47] KrzysztofCwalina commented on #1307
It would be great if you could simply migrate the code and submit a PR (assuming no API changes are required). If API changes are required (which I don't think you need), then it might be better to do an API review first.

Initially a smaller PR would be best (e.g. just multiplication) to see how it goes. If you could provide perf deltas for memory (allocations) and speed (either elapsed time or s

[2015-04-14 23:05] Priya91 commented on #1051
Pushing into future branch on corefx.

[2015-04-14 23:05] #1051 closed

[2015-04-14 23:56] AlfredoMS commented on #1370
@HaloFour @davidfowl   Async Causality tracking existsin mscorlib, see https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Tasks/AsyncCausalityTracer.cs
VS2013 uses it to populate some of the information in the Task window.
Although I would agree it needs to be improved for xplat and there could be more tools taking advantage of its output.

[2015-04-14 23:57] ashmind commented on #1051
It's awesome that this got implemented, but I am confused about the process -- shouldn't it have gone through "Accepting PRs"? Or was it judged to be important enough to do internally without going through community?

(I'm asking because I considered working on it myself, but was waiting for "Accepting PRs" flag)

[2015-04-15 00:10] HaloFour commented on #1370
Hrm, doesn't look like something you can use programmatically from within
your own program?  I used the tricks from that MSDN Magazine article to
implement better exception messages in my web app as it was heavily async.
On Apr 14, 2015 7:57 PM, "Alfredo Menendez Sancho" <notifications@github.com>
wrote:

[2015-04-15 00:14] Priya91 commented on #1051
@terrajobst : What's the process around this? I assumed, if it's assigned, then i can implement it?

[2015-04-15 01:21] gregoryyoung commented on #915
I was getting ready to send a PR in this area but want to make sure this is what is being refered to:

https://github.com/dotnet/corefx/blob/master/src/System.IO.MemoryMappedFiles/tests/MemoryMappedFile/CreateViewAccessor.cs#L501

If so I'll get together the PR

Cheers,

Greg

[2015-04-15 01:24] ellismg commented on #915
@gregoryyoung, Yes.  I would expect in cases like what you had here we would just let the unexpected exception go unhandled, and xUnit would catch it and give a nice message.

[2015-04-15 01:25] VSadov commented on #1408
Adding a reference seems ok. I am a bit curious how MCS uses it.
It may be interesting to note that Roslyn CSC has similar requirement for events. Or at least used to have - we contemplated a fallback strategy for cases where CMPXCH is not available, buy I do not remember if we actually implemented it.

[2015-04-15 01:27] gregoryyoung commented on #915
OK just wanted to check..

Cheers,

Greg

[2015-04-15 01:46] gregoryyoung commented on #915
In looking through some are simple some are less so.

As an example here https://github.com/gregoryyoung/corefx/blob/master/src/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStream/ReadWrite.cs

It appears the reason why they are printing is that basically all the tests are being done in a single method (I guess its expected that you would go read the output).

If you just mechanically change

[2015-04-15 01:50] akoeplinger commented on #1408
Cool, I'll prepare a PR for adding the reference tomorrow :)

@VSadov this is roughly what mcs generates:

[code]

vs. Roslyn:

[code]

[2015-04-15 02:13] stephentoub commented on #847
Fixed by #1361

[2015-04-15 02:13] #847 closed

[2015-04-15 02:15] stephentoub opened #1412 "FileSystem tests leave temporary files/directories behind"
The System.IO.FileSystem tests do not fully clean up after themselves.  Here's the garbage left behind after I just did a successful run of those tests:
[code]

[2015-04-15 03:21] VSadov commented on #1408
Interesting. Many years ago CSC also had GetEnumerator codegen like that, but then it was changed to use CurrentManagedThreadId since that was found to be faster.
CurrentManagedThreadId is a JIT intrinsic on CLR/Windows - it fetches the native thread ID directly via FP register and in the targeted singlethreaded scenario is a fairly cheap operation. However, it makes me think whether it is not too

[2015-04-15 07:28] #1391 closed

[2015-04-15 08:07] MihaMarkic opened #1414 "ImmutableList<T> (and Builder) IList.Contains, IndexOf, Remove methods throw instead of return -1 given unexpected argument types"
A bit longer story

http://blog.rthand.com/post/2015/04/10/A-hidden-bug-in-Windows-Stores-ComboBox.aspx

Basically a Windows Store (8.1 and 10 at least) ComboBox first tries ComboBoxItem against its ItemsSource IList.IndexOf and if that gracefully fails (returns -1) then it tries with the actual type. This works with normal List<T> because this guy returns -1 when an incompatible type is used, whe

[2015-04-15 08:34] mikedn commented on #1414
The [documentation](https://msdn.microsoft.com/en-us/library/system.collections.ilist.indexof(v=vs.110).aspx) of `IList.IndexOf` doesn't mention any exceptions but that's not very relevant as neither `IList.Add` mentions the possibility of an `ArgumentException` yet `List<T>.IList.Add` has no choice but to throw.

The [documentation](https://msdn.microsoft.com/en-us/library/bb352278(v=vs.110).aspx

[2015-04-15 09:08] MihaMarkic commented on #1414
Yeah. Most probably is a gray area. OTOH WPF ComboBox doesn't have these problems.

[2015-04-15 09:14] Aevitas commented on #1414
If the WPF combo box doesn't exhibit the same behaviour when using the exact same `ImmutableList`, I'm inclined to say this isn't a problem with `ImmutableList<T>`, but with the platform's specific implementation of the ComboBox instead.

[2015-04-15 15:22] mmitche commented on #1058
@martinwoodward DId this get resolved yet?

[2015-04-15 15:30] Ricciolo opened #1415 "Propose: new method Enumerable.IndexOf"
Hi, I would like to propose a new member for Enumerable class:

    int IndexOf<T>(IEnumerable<T> source, T item, IEqualityComperer<T> comparer)

It's useful to find the index of an item inside the source. Only `IList` has a similar method but it forces me to completely materialize all the source. The implementation can enumerate list or, if the original source type is `IList`, call the `IList.Ind

[2015-04-15 15:50] svick commented on #1415
When is that useful? Finding an index is useful for `IList`, because you can then use that index to quickly read or write the item at that index. But that doesn't apply to `IEnumerable` (`ElementAt()` can be O(n)).

[2015-04-15 16:06] Ricciolo commented on #1415
Many times I need to find the index of an item inside an IEnumerable. An easy example

    var source = new [] { 1, 2, 3, 4 };
    var i = source.Skip(2).IndexOf(3);
    // i == 0

[2015-04-15 16:46] svick commented on #1415
My question is, how are you going to use that index?

[2015-04-15 17:18] Aevitas commented on #1415
You cannot index directly into an `IEnumerable`, therefore it'd make little sense to provide an `IndexOf` for this specific case in my opinion.

[2015-04-15 17:22] saguiitay commented on #1415
I can see scenarios where the index itself is the needed information. For example, sorting high-scores of a game, and getting the "position" of the player ("You are in the 4th place")...

[2015-04-15 17:37] Aevitas commented on #1415
@saguiitay There are already ways to achieve this: calling either `ToArray()` or `ToList()` on the `IEnumerable` and then using `IndexOf`. `IEnumerable` is a declaration of a certain behaviour while `List<T>` et. al implement this behaviour.

Using an `IEnumerable` provides the option of deferred execution, something you would have to sacrifice in order to provide an `IndexOf` as the compiler woul

[2015-04-15 18:05] bbarry commented on #1415
You could also do it with `.TakeWhile(...).Count()`

[2015-04-15 19:11] tannergooding commented on #1151
@mellinoe, I have provided a pull request to cover these changes (see dotnet/coreclr#710).

Please note that it is still a work-in-progress.

[2015-04-15 21:30] Clockwork-Muse commented on #1415
...And would return nonsense results for unordered PLINQ queries.  You'd need to use ordering **and** completely run it out to an array/list - what happens if your ordering key is non-unique?
(Granted, that's true of a number of other order-requiring operations, like `ElementAt(...)`)

[2015-04-15 22:09] martinwoodward commented on #1058
Sorry folks - apparently it got stuck because I hadn't ordered it correctly. I just re-ordered and got confirmation it should come with-in 2 business days from now.

[2015-04-15 22:48] mellinoe commented on #1363
I would also agree that KnownColor, and also all of the static "named" colors on the Color struct should probably be eliminated. We can always have some sort of helper library that has a "Colors" class with a bunch of pre-defined colors in it.

[2015-04-15 22:54] mellinoe commented on #1407
Hm, the documentation does say that, but the page for "Name" itself actually says that "" is the default:

Also, I believe this is consistent with our desktop behavior, where the field is left uninitialized (null), but the property returns "" in that case.

[2015-04-15 23:34] Priya91 commented on #1363
From our internal discussion:
We decided to go with WPF types over System.Drawing ones, however, these WPF types use doubles for their coordinate system, the extra precision over floats is never necessary and floats can be used for SIMD. For now, we will implement these types with float, and add integer versions later, if they are needed. The proposal is to create the following new types under Sys

[2015-04-16 00:44] krwq commented on #1415
I believe you should be using IList instead of IEnumerable. IEnumerable by design doesn't have indices. You can always add static extension method if you need that functionality

[2015-04-16 03:54] #1390 closed

[2015-04-16 06:56] Maxwe11 commented on #1407
Exactly. Documentation for default constructor should be fixed.

[2015-04-16 09:56] Ricciolo commented on #1415
@Aevitas `ToList` and `ToArray` force me to materialize all the list. Why should I create an in memory array for all elements when the item I've to find is at the beginning? You are right, `IEnumerable` is for deferred exceution, but some methods are for final execution. `Single`, `SingleOrDefault`, `First`, `FirstOrDefault`, `Count`, `Any`, ecc do the final execution. So `IndexOf` can be added wi

[2015-04-16 13:24] mikedn commented on #1363
Not to say I'm against using floats but I'm not quite sure what this has to do SIMD. Is it because a double based Rectangle would require 2 SSE registers instead of one?

Why not create a speclet on GitHub first so the community can provide feedback?

[2015-04-16 13:34] Clockwork-Muse commented on #1415
@Ricciolo - It has those methods/overrides because **LINQ** has them.
It would be extremely expensive to use an `IndexOf`/`ElementAt` pair (safely) - you're looking at `O(n)` for both (and an additional `O(n log(n))` each if the needed ordering is different than the current), plus the actual costs of the parallelization (which isn't cheap either).  You're materializing the entire range at least tw

[2015-04-16 13:49] Ricciolo commented on #1415
@Clockwork-Muse the PLINQ problem is not mine :-) but it's example done by you. If it's slow in a particular case, is up to me. It's slow if I use `Select` or other methods too. We're not talking about if the method is slow or fast in particular case. If we think in this way we should remove all LINQ methods.
I have an `IEnumerable` and I need the index of an item. If the source is parallized I kn

[2015-04-16 14:34] patricksadowski commented on #1363
+1 for a speclet. I have some thoughts about color (RGB, HSV, HSL) and namespace (why System.Numerics and not System.Drawing.Primitives?)

[2015-04-16 14:56] aggieben opened #1420 "Where have StackTrace and StackFrame gone?"
I'm working on a migration of an existing .NET project and for the most part have been able to find where things have gone in the CoreCLR landscape, but I've been having trouble with `StackFrame` and `StackTrace`.  They can't be found on http://packagesearch.azurewebsites.net/, and indeed when I try to compile code that references those types, the compiler pukes an error message indicating that it

[2015-04-16 14:57] Marfusios commented on #1363
Same as patricksadowski , Color type under System.Numerics it's a little weird

[2015-04-16 15:53] weshaggard commented on #1420
Can you share what scenario you are using them for? Depending on what you are using them for you can potentially use Exception.StackTrace or Environment.StackTrace instead. With that said we are working on trying to bring some form of these APIs to .NET Core.

cc @noahfalk

[2015-04-16 16:19] aggieben commented on #1420
Well, in this particular case, I'm trying to get a version of MiniProfiler to work in ASP.NET 5 using CoreCLR (and I say "a version" because by the time I'm done with all the `#if DNXCORE50` directives it's going to be a little different...).  In MiniProfiler, StackTrace is used to show where time is spent in a webrequest, and each individual timing can display a partial stack trace which necessit

[2015-04-16 17:21] jnm2 commented on #970
+1 Please do this! As it stands there is no difference between `ReadOnlyObservableCollection` and `ReadOnlyCollection` unless you cast which is not API-friendly. The sole reason for the existence of `ReadOnlyObservableCollection` is to add events to `ReadOnlyCollection`.

[2015-04-16 18:41] Priya91 commented on #1363
By SIMD, the .NET implementation of Vector and other SIMD related types in System.Numerics.Vectors is based on floats, hence using the same primitive type for these types as well. For example a color with rgb can be represented as a Vector3.

A color is RGB, or RGBA which can be represented as Vector3, Vector4. The Color type here will not have any named colors, but vector functions like Lerp, Mul

[2015-04-16 18:45] ericstj opened #1422 "*Breaking Change* project.json"
I just made changes to http://github.com/dotnet/buildtools and http://github.com/dotnet/corefx to support Nuget V3 style packages, as well as consume those in the build.  This was essential since all of the work for our shipping packages is taking advantage of Nuget v3 features and up until now we were unable to consume these package.

## What this means to you:
* For framework package dependencie

[2015-04-16 22:18] krwq commented on #1422
Can we move that locking json files to bin directory? Currently my whole repo is spammed with json files after building.

[2015-04-16 22:24] ericstj commented on #1422
We could, however it's actually a key piece of the nuget v3 design and considered to be a user asset.  In the future we'll actually be checking them in.  @davidfowl @lodejard @Eilon @yishaigalatzer

[2015-04-16 22:47] CarolEidt commented on #1129
While it is true that Vector currently offers a pretty straightforward 1:1 mapping to SSE/AVX instructions, that is largely due to the fact that this is a v1 implementation.  I would really like to see a greater range of Math functions supported, building upon (and adding to) the existing intrinsics support in RyuJIT.

[2015-04-16 22:59] noahfalk commented on #1420
@aggieben

Unfortunately this is one of the scenarios that the new StackTrace/StackFrame APIs still aren't going to support. For running in the windows environment we would encourage people to use profiling tools based on ETW for a few reasons:
   1) The overhead of ETW is lower
   2) ETW allows tracing both managed and native code
   3) ETW can be analyzed offline, which doesn't force symbolic in

[2015-04-16 23:30] Eilon commented on #1422
Correct. For now adding project.lock.json to .gitignore is generally recommended because the versions of dependencies change all the time. But eventually it's generally recommended to check them in (and actually set locked=true) to avoid getting randomly matching packages.

[2015-04-16 23:57] weshaggard commented on #1051
@Priya91 yes we should try following the API Review process https://github.com/dotnet/corefx/wiki/API-Review-Process.

[2015-04-17 00:04] FiveTimesTheFun opened #1427 "Need to implement AppContext.BaseDirectory on .NET Core"
The AppContext.BaseDirectory property is documented on MSDN (https://msdn.microsoft.com/en-us/library/system.appcontext.basedirectory(v=vs.110).aspx)

"Gets the pathname of the base directory that the assembly resolver uses to probe for assemblies."

When running in an appcontainer, we use the WinRT API Package.InstalledLocation

https://msdn.microsoft.com/en-us/library/windows/apps/xaml/windows.a

[2015-04-17 02:30] kangaroo commented on #247
I think we shouldn't clean this up.  Security transparency has many uses outside of the browser security model.  Think if I have a large application, and I want to conduct a security review.  The safe-critical and critical levels are of the most important, and I can have some lower level of concern with transparent code.

I agree CAS should be removed, but I think the coreclr and corefx should ret

[2015-04-17 02:36] SamuelEnglard commented on #1415
I'm against this under the idea the `IEnumerable<T>` and the Linq methods are stream like and `IndexOf` breaks that. `IndexOf` is an idea that belongs on collections that are ordered at the very least. something that `IEnumerable<T>` does not provide.

If you want to put it on `IOrderedEnumerable<TSource>` that I could see making some sense, though I'm still not a huge fan of the idea.

As I'm wri

[2015-04-17 08:27] Ricciolo commented on #1415
Thank you @SamuelEnglard. I like the idea of `Till` :-) I understand the worries about the stream approach, but if so, why there is `ElementAt`? Moreover consider that `Array.IndexOf` and `List.IndexOf` don't use `IEqualityComparer` and this is very important in LINQ

[2015-04-17 09:29] Clockwork-Muse commented on #1415
@Ricciolo - I'm becoming rather less fond of `ElementAt`, too, for the exact same reason (although I'm starting to think of LINQ more like SQL).
What actual, real-world problem are you trying to solve?  If you're working with streams, `IndexOf`/`ElementAt` sound like the wrong approach.  Can you show us something where'd you actually use it?  In your previous snippet, **why** do you need to know t

[2015-04-17 14:21] aggieben commented on #1420
I don't think ETW is a good fit for what I'm trying to do here: the whole point is to not need profiling tools at all, at least not to start with.  This is especially so with CoreCLR where cloud and containers are the primary deployment targets, and access to more robust profiling tools may be cumbersome to obtain, or simply not available.

I'm not terribly interested in `new StackTrace()` *per se

[2015-04-17 14:30] mattwarren commented on #1420
I was wondering the same thing, my understanding of ETW is that it's great for looking at a process from the outside, but it seems a bit overkill for doing something like this, when you're already inside a process?

Also it you are removing `new StackTrace()` are you removing [`Environment.StackTrace`](https://msdn.microsoft.com/en-us/library/system.environment.stacktrace(v=vs.110).aspx) as well?

[2015-04-17 15:39] SamuelEnglard commented on #1415
@Clockwork-Muse I think `ElementAt` is meant to be a shortcut for `Skip(x).First()`
@Ricciolo The fact that `IndexOf` does not use `IEqualityComparer` or provide a way to use a lambda to compare with is something that should be fixed but not on `IEnumerable<T>`. I'd put such a method as an extension to `ICollection<T>`, which arrays indirectly implement.

[2015-04-17 16:31] sharwell opened #1429 "NuGet license information does not match repository"
I noticed that the LICENSE link on the following page is substantially different from the license included in this repository. Is this intended?

https://www.nuget.org/packages/System.Collections.Immutable

In case things change in the future, the link currently takes you to [MICROSOFT SOFTWARE LICENSE TERMS - MICROSOFT .NET LIBRARY](http://go.microsoft.com/fwlink/?LinkId=329770).

[2015-04-17 17:27] #20 closed

[2015-04-17 17:37] krwq commented on #1422
Checking in sounds good to me!

[2015-04-17 18:32] richlander commented on #1429
For clarity, are you comparing the above MS .NET Library License and [LICENSE.TXT](https://github.com/dotnet/coreclr/blob/master/LICENSE.TXT)?

[2015-04-17 19:02] ellismg commented on #1001
@nguerrera The VS folks think this is a problem in the metadata reader.  Who's a good person to take a look at this?

[2015-04-17 19:05] Priya91 commented on #1017
Exposing the desktop types in cloud platform, is not desired, as we need to keep adding support back to desktop. A good way to go will be to create a new contract, with the following api-definition:
[code]
cc @KrzysztofCwalina @ellismg @weshaggard @davkean: If this api design is agreeable i'll start implementing this.

[2015-04-17 19:35] davkean commented on #1017
Can you help me understand that conclusion? Adding enum values to .NET Framework ("desktop") is extremely easy, especially given NET Framework will never return them or plumb them through. In fact, it already contains the values (Unix/Linux, MacOS and Win32NT) that currently we're planning to port to.

Adding this into a new assembly is even more problematic, and we're now forced to introduce a ne

[2015-04-17 19:37] sharwell commented on #1429
Yes

[2015-04-17 19:56] ellismg commented on #1017
The BSD port of CoreCLR is underway by the community now and they are making good progress.  I assume as soon as they are done, we will want to be answer the question "am I running on BSD".  So we would have to version the contract anyway.  With the above design we can say call RuntimeInfo.IsOSPlatform(new OSName("BSD")) even if we can't quickly rev the contract.

Not having a dependency on the ru

[2015-04-17 20:06] richlander commented on #1429
It didn't occur to us to make the licenses the same, since the scenarios are very different. One is for the source code and the other is for our commercial binary distribution. Very little about our process for commercial distributions has changed since we went open source, and that's how many of our customers want it.

Here's how the typical conversation goes with our larger customers:

- Custome

[2015-04-17 20:10] nguerrera commented on #1001
@ellismg  @talebi. I can take a look even though I'll be out of the office.

I've reopened #1238 as this tracks a separate issue. The RowId/Offset bounds checking is believed to be entirely correct and this tracks some engineering work (only slightly related) to have less use of uint in the codebase, but I see no reason why this would fix the issue.

[2015-04-17 20:11] nguerrera commented on #1238
@talebi Is that Revit API publicly available?

[2015-04-17 20:19] nguerrera commented on #1238
@talebi Nevermind, found it here: http://usa.autodesk.com/adsk/servlet/index?siteID=123112&id=2484975

[2015-04-17 20:32] nguerrera commented on #1238
@talebi I found a download here: http://usa.autodesk.com/adsk/servlet/index?siteID=123112&id=2484975, but seems it has only docs and templates and that I need the full Revit product.

[2015-04-17 20:33] nguerrera commented on #1238
I'm checking with some folks internally about contacting Autodesk so that we can work with them on this.

[2015-04-17 21:06] davkean commented on #1017
For every port to a new OS, the runtime is going to have to rev, so I'm not understanding that concern. It's not just building multiple times; it's creating the contract, the multiple projects, NuGet packages, etc. It feels like we're adding complexity to an area that is not needed. The APIs ```already``` exist and given the large amount of code already in mscorlib that probably needs to do someth

[2015-04-17 21:51] ellismg commented on #1017
@Priya91 I really like what you have here.  My only piece of feedback is around the namespace.  Could we use something like ```System.Runtime.InteropServices``` instead?  Do you have an idea for the contract name itself?

[2015-04-17 21:56] Priya91 commented on #1017
@ellismg : Yes, system.runtime.interopservices sounds good. Since these apis relate to runtime environment information how about System.Runtime.Environment..

[2015-04-17 21:57] ellismg commented on #1017
I like that a lot!

[2015-04-17 21:59] davkean commented on #1017
(Side note that will clash with Environment class in the System namespace)

[2015-04-17 22:01] ellismg commented on #1017
@davkean What clashes?  If the contract is called System.Runtime.Environment?

[2015-04-17 22:03] davkean commented on #1017
Ah, I thought you were talking about the namespace.

[2015-04-17 22:16] Priya91 commented on #1017
Ok, sounds like we have reached a conclusion with the latest proposal. I'll mark the issue with accepting PRs.

[2015-04-17 22:40] weshaggard commented on #1017
The API looks good overall to me as well but I was curious about why you need the OSName struct? Is there a particular reason that is necessary instead of just using a string? We could still use OSName as a place holder for predefined sets.

[2015-04-17 23:01] noahfalk commented on #1420
The portion of StackTrace API we are enabling now only has the constructor for StackTrace(Exception, bool), which can give you programmatic access to the same data you would get from Exception.StackTrace.
You certainly could throw and catch an Exception immediately, but the stack trace on an exception only contains the frames it has unwound through so far. Thus you would only get one frame, the cu

[2015-04-17 23:06] sharwell commented on #1429
Yes thank you.

[2015-04-17 23:08] Priya91 commented on #1017
@weshaggard : Any string parsing that has to be done, can be abstracted in OSName instead of IsOSPlatform, moreover, we expect a string that represents an OSName, instead of any string.

[2015-04-17 23:11] ellismg commented on #1017
It also helps with discoverability.  You know you need an OSName and that guides you to the static properties.

[2015-04-18 00:16] akoeplinger commented on #1017
How is this supposed to work under the hood, i.e. will it end up calling `uname`?
Linux also seems to be quite broad (there are many different flavors), are there plans to expose more detailed info?

Just to confirm I understand this correctly: this can't be put into `Environment` because it'd mean it needs to be backported into Desktop .NET ?

[2015-04-18 00:32] stephentoub opened #1432 "standardNumericalFunctions_PowTest failed in CI"
[code]

[2015-04-18 01:42] ellismg commented on #1017
Linux also seems to be quite broad (there are many different flavors), are there plans to expose more detailed info?

The current thinking is we would provide a different implementation assembly for each platform, which would hard-code the result, so we wouldn't call uname.  We don't have current plans to expose something like Distro information from this type, but that's more because we don't und

[2015-04-18 02:58] talebi commented on #1238
@nguerrera Revit api dlls are part of the actual Revit installation so no, it's not part of the api download.

[2015-04-18 03:00] talebi commented on #1238
But if you install Revit you can find it alongside Revit.exe (called RevitAPI.dll)

[2015-04-18 05:14] #1429 closed

[2015-04-18 11:47] Maxwe11 opened #1434 "[FileSystem] ValidFileOptions test failure"
[from CI](http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/849/console)

	Discovering: System.IO.FileSystem.Tests
	  Discovered:  System.IO.FileSystem.Tests
	  Starting:    System.IO.FileSystem.Tests
	  <Laks_jvhht23u>
	  .
		 System.IO.FileSystem.Tests.FileStream_ctor_str_fm_fa_fs_buffer_fo.ValidFileOptions [FAIL]
			System.UnauthorizedAccessException : Access to the path 'd

[2015-04-18 13:47] blobor commented on #1017
@Priya91 For now, only contributing the issue.

[2015-04-18 14:49] stephentoub commented on #1434
This is consistently causing builds to fail.

[2015-04-18 23:34] Maxwe11 commented on #847
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/tests/Directory/Ansichars.cs
marked with `ActiveIssue`

[2015-04-18 23:37] stephentoub commented on #847
@Maxwe11, yes, but for a different issue. There are multiple file system tests currently disabled for globalization reasons.

[2015-04-18 23:39] stephentoub commented on #847
That's actually tagged with the wrong issue: should be 846, not 847. It's disabled for reasons of globalization. I'll fix the tag.

[2015-04-19 19:18] hpshelton commented on #1434
Despite the fact that `GetTestFilePath` claims to generate a file path unique for each of its callers, it does not since there are multiple tests that call `GetTestFilePath` within a loop of some sort, which would lead to identical file paths being generated in the current implementation. This is likely causing collisions between files with the same name but various file modes or access handles.

[2015-04-19 20:02] hpshelton commented on #1434
The following seems to be sufficient to assign a unique suffix to every path generated by `GetTestFilePath`, but I'm not sure about the recommended method for adding a reference to System.Collections.Concurrent to the project since there doesn't seem to be documented guidance anywhere on the wiki. Let me know the right approach and I can submit a PR or it's probably faster for someone who knows to

[2015-04-20 16:02] eatdrinksleepcode opened #1438 "DNX breaks on Windows 7"
The build currently fails on Windows 7 during RestorePackages:

"c:\Users\danelson\Projects\Personal\dotnet\corefx\packages/dnx-coreclr-win-x86.1.0.0-beta5-11562\bin\dnu.cmd" restore --packages "c:\Users\danelson\Projects\Personal\dotnet\corefx\packages" "c:\Users\danelson\Projects\Personal\dotnet\corefx\src\System.ComponentModel\src/project.json"
System.EntryPointNotFoundException: Unable to find

[2015-04-20 16:47] richlander commented on #1438
Tangentially related, we don't have CI on Windows 7 right now. That's about to change.

[2015-04-20 16:49] richlander commented on #1438
/cc @davidfowl, @eilon, @ellismg

[2015-04-20 17:39] khdang opened #1440 "Improve code coverage for data contract serializers"
Improve code coverage for DataContractSerializer and DataContractJsonSerializer

[2015-04-20 17:39] #1256 closed

[2015-04-20 18:08] Eilon commented on #1438
I think some Win7 stuff was indeed recently broken. @victorhurdugaci do you perhaps know what was broken, and/or ETA for a fix? Was it a CoreCLR issue or a DNX issue?

[2015-04-20 18:10] ellismg commented on #1438
(This is due to Eric's recent change to start using project.json for dependencies, which means we run dnu restore as part of the build).

[2015-04-20 18:10] victorhurdugaci commented on #1438
Should be fixed by https://github.com/aspnet/dnx/commit/cb3b40a872b4bc23c87d5c9982d4349f0382d43c
Update to the latest DNX

[2015-04-20 18:22] ellismg commented on #1438
Thanks, I will push a change through.

[2015-04-20 18:25] aggieben commented on #1420
I'm not sure I see the problem with this.  All kinds of reflection can be done synchronously, including the gathering of runtime information about the current thread, process, etc.  Are we to understand that in the new .NET world, all features that could allow "bad coding patterns" will be removed?  Wouldn't the .NET Framework become dramatically less useful if that were to be the case?

Why isn't

[2015-04-20 21:46] noahfalk commented on #1420
Its not a blanket rule, but rather a case by case judgment for this particular API. Based on the evidence we've seen so far, on balance, new StackTrace() caused more problems for our developer community than it solved. For the new managed surface area we are also trying to be cautious in what we add because once something is present its hard to ever remove it. I don't treat our current choice as t

[2015-04-20 21:46] Petermarcu opened #1445 "How to train your dragon 2!"
This is a duplicate of this issue for this repo: https://github.com/dotnet/coreclr/issues/744

As you know, the .NET Team, as a broad group, is new to open source. We're doing some things right and other things less so. We might as well just get this out in the open and detail the specific things that  could/would/should go better. It's an issue!

Certain contributors (*cough* @kangaroo) have been

[2015-04-20 23:25] ubershmekel opened #1448 "Dead link in framework guidlines"
At the bottom of https://github.com/dotnet/corefx/wiki/Framework-Design-Guidelines-Digest there's a link to http://code.msdn.microsoft.com/codeanalysis which redirects and says "The Archive Gallery has been retired."

[2015-04-21 02:28] #17 closed

[2015-04-21 03:42] aggieben commented on #885
Is this going to be coming soon?

[2015-04-21 05:16] sharwell commented on #1445
**DO** tag commits that are used for releases to NuGet. :smile:

[2015-04-21 05:56] mj1856 opened #1450 "Make TimeZoneInfo.AdjustmentRule.BaseUtcOffsetDelta public"
I would like to propose that `TimeZoneInfo.AdjustmentRule.BaseUtcOffsetDelta` be marked `public` instead of `internal`.  This can be seen [here](https://github.com/dotnet/coreclr/blob/d46b09d4dfc8e25d7e61a9994f89720cf01b5086/src/mscorlib/src/System/TimeZoneInfo.cs#L3754).

There are several reasons:

- The `AdjustmentRule` class is loaded from registry information, loosely matching the `_REG_TZI_F

[2015-04-21 05:57] mj1856 commented on #1450
@tarekgh - your thoughts please. :smile:

[2015-04-21 06:20] Maxwe11 commented on #1445
- **DO** Make comments on the diff of a pull request only [in this way](https://help.github.com/articles/commenting-on-the-diff-of-a-pull-request/)
- **DO** [Close issues via commit messages](https://help.github.com/articles/closing-issues-via-commit-messages)

[2015-04-21 08:17] ellismg commented on #1445
I think this is a general case of "write good commit messages".  Ideally, you don't need anything other than the commit message to understand the problem a change is addressing and how it fixes it (this also means I shouldn't have to go look at some GitHub issue to understand why a change is happening).

We do have a bit of a problem in the sense that we have some changes which we continue to do i

[2015-04-21 11:09] akoeplinger commented on #1445
@ellismg I agree that the focus should be on getting things into GitHub. For the cases where there's a commit mirrored from TFS that mentions a TFS issue, a simple solution might be to just open a GitHub issue and paste the relevant content in, so it shows up in search results.

[2015-04-21 12:01] bpschoch commented on #1142
I would keep this open. there is more that I'm working on to increase code coverage in this component.

[2015-04-21 12:02] stephentoub commented on #1142
Reopened.  It got closed automatically because of your "Fix" reference to it #1430's description.

[2015-04-21 12:47] axel-habermaier commented on #1050
Possibly related: I get a similar error when trying to compile C# code with Roslyn in the context of the Jetbrains Reshaper test runner. That has never happend before, but now happens almost always when executing the entire test suite. It doesn't happen when I only execute a small amount of tests. It seems to be random which test fails, but its usually at the end of the test run.

``
error CS0009:

[2015-04-21 12:49] stephentoub commented on #937
@krwq, is this actually dead code to be removed?

[2015-04-21 14:14] richlander commented on #1445
@Maxwe11 I didn't know you close issues in that way. Nice. On the comments point, have you seen that be a problem or its just general guidance?

[2015-04-21 14:38] jbevain commented on #1238
@nguerrera this is not related to uints :)

The issue is that the assembly is so big that you can find a string heap index that uses more than 24 bits.

Currently PeekReference and StringHandle assume that heap indexes won't be that big.

[2015-04-21 15:12] Maxwe11 commented on #1445
@richlander comments left through "Files changed" tab are persistent comments - stable for amending/rebasing. After amending commit persistent comments marked as "outdated diff" (e.g. #1421). Comments left directly on commit got deleted from PR but left in referenced issue (#924 see referenced commits)

[2015-04-21 15:41] #924 closed

[2015-04-21 16:15] tarekgh commented on #1450
@Matt what you have proposed make sense for current implementation. the question I am thinking in which I didn't investigate yet is, at some point we need to switch to use IANA data, does the current types will still make sense? I mean type like AdjustmentRule still make sense for instance. It may still be valid but I am not sure yet.

other point is we'll not be able to expose this for current re

[2015-04-21 16:17] tarekgh commented on #1450
by the way, I was trying to expose this API when we add it but couldn't as it was added in the servicing release

[2015-04-21 17:08] richlander commented on #1445
Ah, yes. The "Files changed" tab is the way to go. That's what I always do, modulo process comments (@Sally, can you look at this?).  Agreed. We can add that one.

[2015-04-21 17:26] sharwell commented on #1445
@ellismg I'm not talking about all TFS issues. I'm talking about pull requests like dotnet/roslyn#2056 which are submitted for public code review without context. In those cases we are just left guessing. :smile:

[2015-04-21 17:34] ellismg commented on #1445
@sharwell Gotcha. For work where the code change originates in git, like the issue to linked to, I agree we could do much better.

[2015-04-21 17:42] terrajobst commented on #1445
I think what @ellismg is saying that ideally the details are in the commit and neither buried in TFS work items nor GitHub issues. In the end, the source control is the thing that folks always have. I personally consider the other pieces transient.

[2015-04-21 17:42] #284 closed

[2015-04-21 17:53] GuardRex commented on #1006
I was just directed here by @Eilon on https://github.com/aspnet/Home/issues/467. I have a need for basic SMTP capabilities in CoreCLR, and I was hoping to **not** need to roll my own `TcpClient` SMTP functionality. Can you say why it is thought that CoreCLR installs wouldn't need basic E-mail functionality? I thought it was a very popular API.

[2015-04-21 17:54] cheers00 commented on #1422
It is not clear to me how to use buildtools to build corefx.

I am also wondering if this change helps me to add corefx packages to corefxlab helloworld commandline program and debug.

[2015-04-21 17:55] #1438 closed

[2015-04-21 18:09] ericstj commented on #1422
Corefx's build.cmd pulls down BuildTools and uses it when building the repo.  I think @KrzysztofCwalina uses a different set of build targets for helloworld.

[2015-04-21 18:11] GuardRex commented on #1006
I've posted a UserVoice request for this: [Please vote for it here](https://aspnet.uservoice.com/forums/252111-asp-net-vnext/suggestions/7648077-corefx-should-include-system-net-mail) if you are in favor of having System.Net.Mail in CoreFX.

[2015-04-21 18:26] KrzysztofCwalina commented on #1422
Yes, today the hello world demo uses a different project template and targets. Once Eric's work stabilizes, it would be good to move hello world to the official system.

[2015-04-21 18:51] mj1856 commented on #1450
Thanks.

I have mixed feelings on about supporting IANA time zones in `TimeZoneInfo`.   Sure - they're better (IMHO) than Windows zones on many levels.  But there's a lot of legacy code out there that expects `TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time")` to work.

Are you suggesting that the story for `TimeZoneInfo` in CoreCLR on OSX & Linux would be that you can call `TimeZoneInf

[2015-04-21 18:54] mj1856 commented on #1450
I guess the big question is, what is more important? Legacy compatibility, or feature enhancements?  For many things, I'll all about feature enhancements. But in this particular regard, I think the expectation would be for compatibility.

[2015-04-21 19:00] tarekgh commented on #1450
My thinking is if we can keep the compatibility and support  the new data in same time that will be perfect. As I mentioned before I didn't investigate that yet but this is what I am currently thinking.
so we can support both Windows and IANA zone names and we'll depend on IANA data for calculations and try to move away from using Windows registry data. this can help giving better calculation resu

[2015-04-21 19:13] mj1856 commented on #1450
I'd love that in general.  The devil is in the details of course. :wink:

When you're ready, let's open another issue to talk through the points.  I think this issue can move forward separately.  Thanks.

[2015-04-21 19:17] tarekgh commented on #1450
Yes this issue is marked as ready for API review. we'll just wait a little bit till this review get scheduled

[2015-04-21 19:56] #956 closed

[2015-04-21 19:57] krwq commented on #409
I think all long tests are marked OuterLoop, running XPath tests takes really quickly on my machine

[2015-04-21 19:57] #409 closed

[2015-04-21 19:59] krwq commented on #1045
Fixed with https://github.com/krwq/corefx/commit/864501ab1a2f22b26e3f6e285965a94b1e685bf1

[2015-04-21 19:59] #1045 closed

[2015-04-21 20:01] krwq commented on #962
That would require rewriting some tests are the tests were initially not meant for XDocument implementation of XPath.

Differences:
- Attributes/Namespaces are sorted in XDocument implementation
- Whitespace nodes (Whitespace, SignificantWhitespace) as treated as Text nodes in XDocument implementation

[2015-04-21 21:27] mmitche opened #1459 "dnx.exe ocassionally hangs on mac during package restore"
Seeing occasional hangs in dnx.exe when running package restore, specifically on mac.

http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_debug/160/console

[2015-04-21 22:02] krwq opened #1460 "Building in VS doesn't affect the startup binary"
Either the project is never built or the output directory is different than:
bin\tests\Windows_NT.AnyCPU.Debug\TESTPROJECT\dnxcore50

I also believe it is required to use build first.

This prevents to use "Set us StartUp project" and running easily from VS.

Also if the project is OuterLoop even msbuild /t:BuildAndRun doesn't update the binaries (you need to specifically do /p:RunTestsWithCategor

[2015-04-21 22:10] krwq commented on #1303
@mmitche @JeremyKuhne I'm unable to repro, could you provide me with some more details about the failure? (What machine/culture/os are you running on)

[2015-04-21 22:32] citizenmatt opened #1461 "Cannot build from clean checkout"
If I perform a clean checkout, and run the `build.cmd` file, I get a ton of errors complaining that `Type or namespace name "Fact" could not be found (are you missing a using directive or an assembly reference?)`.

I've tried building with both the VS2013 and VS2015 command prompts, with the same results. I've followed the steps in the [Developer Guide](https://github.com/dotnet/corefx/wiki/Develo

[2015-04-21 22:39] krwq opened #1462 "Spam messages during the build"
When building from clean repo I get bunch of warnings like (not repeating similar ones):
[code]

Also there is a significant portion of spam like (I really mean significant, it is like every few lines and can occur multiple times in a row):
[code]

[2015-04-21 22:41] mmitche commented on #1303
That was on 2012 R2,. en-us.  Jeremy disabled the test, so make sure you reenable:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx_outerloop/394/testReport/

[2015-04-21 22:49] krwq commented on #1461
Do you have the newest VS 2013 updates?

Looks like xunit (and perhaps other) package(s) didn't get restored.

Do you get any warnings in the beginning before you start getting errors?

Could you attach you build log? (or upload it somewhere) You can find it under: <Your repo path>\msbuild.log

I'm currently building after cleaning nuget cache and it works fine here. It looks like it might be some

[2015-04-21 22:54] JeremyKuhne commented on #1303
Note that I didn't disable it, for some reason it is tagging me from a sync on my own fork.

[2015-04-21 23:26] citizenmatt commented on #1461
Yeah, I'm all up to date with VS2013 (apart from some Azure stuff). I've [uploaded msbuild.log here](http://1drv.ms/1K36WlK).

Just before seeing errors, I get this warning:

    Unable to resolve the assets of xunit.core.netcore: Couldn't find a matching group

[2015-04-21 23:52] twsouthwick opened #1463 "MetadataReader MethodSignature does not set genericParameterCount"
The MethodSignature<TType>.ctor looks like this:

        public MethodSignature(SignatureHeader header, TType returnType, int requiredParameterCount, int genericParameterCount, ImmutableArray<TType> parameterTypes)
        {
            _header = header;
            _returnType = returnType;
            _genericParameterCount = 0;
            _requiredParameterCount = requiredParameterCount;

[2015-04-22 00:20] krwq commented on #1461
I don't seem to be able to access the log, one drive is loading indefinitely

[2015-04-22 00:23] krwq commented on #1461
I believe this might be related to your problem: https://github.com/dotnet/corefx/pull/1416

[2015-04-22 00:29] AlfredoMS commented on #1462
That specific message comes from the Task 'ResolveNuGetPackageAssets'.

@ericstj should now if those messages are actually important.

But seems they have already changed from MessageImportance.High to MessageImportance.Low, so maybe they won't appear when we bump the buildtools version in corefx.

https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/ResolveNuGetPackag

[2015-04-22 05:29] weshaggard commented on #1448
cc @terrajobst

[2015-04-22 06:58] FransBouma commented on #1420
Profiling .NET apps which target databases is what our ORM Profiler does, and we too use StackTrace, to obtain call stacks to methods which perform work which is timed. If StackTrace and StackFrame are gone, we can't offer that to our users when we port our interceptor library (which runs in the app and intercepts the calls to ADO.NET elements).

I'm sorry, but removing it because some poorly educ

[2015-04-22 09:45] citizenmatt commented on #1461
Oops. Perhaps I closed the laptop before it finished uploading. I've taken a look at that issue, and can't see anything that's helpful. I'm at a bit of a loss to know how to start investigating this - it looks like the failing test .csproj files are referencing packages.config, but nothing else - there are no references to any of the packages that they're supposed to be referencing. Is that right?

[2015-04-22 10:07] noahfalk commented on #1420
@FransBouma
Thanks for the feedback!
I fully agree that removing an API merely because it is possible to shoot yourself in the foot isn't the goal. The evaluation we aim for is cost/benefit... how likely is it that the API will make things worse vs. how likely is the API to be useful. Getting feedback that the API is useful in your scenario feeds directly into that equation, and helps balance the

[2015-04-22 10:13] citizenmatt commented on #1461
Ah, found it. It's an issue with the build tools not working when Xamarin is installed. See #449.

[2015-04-22 10:13] #1461 closed

[2015-04-22 10:14] citizenmatt commented on #449
If anyone else hits this, the workaround is to look for any `Xamarin.*.xml` files under `%ProgramFiles%\Reference Assemblies\Microsoft\Framework\.NetPortable`. They'll be in several `ProfileX\SupportedFrameworks` folders, and should be deleted, moved or renamed so that they don't end in `.xml`.

[2015-04-22 10:19] citizenmatt opened #1465 "How to build wiki page should provide workaround for Xamarin"
The [Developer Guide wiki page](https://github.com/dotnet/corefx/wiki/Developer-Guide) should mention #449, which prevents a clean checkout from building when Xamarin is installed. It should also mention the workaround, which is to delete, move or rename the `Xamarin.*.xml` files from the `SupportedFolders` folder in `%ProgramFiles%\ReferenceAssemblies\.NetPortable`.

[2015-04-22 14:56] justinvp commented on #1017
I'd vote for just exposing the existing `Environment.OSVersion.Platform` API. This has been in .NET forever; introducing a new API that does the same thing is going to confuse and annoy developers.

[2015-04-22 14:58] jaredpar commented on #1017
@justinvp wanted to avoid the use of `enum` for the platform portion which is how `OperatingSystem` defines the platform.

[2015-04-22 15:16] stephentoub commented on #1415
@Ricciolo, you provided a code sample, and @svick asked "My question is, how are you going to use that index?".  I don't think I saw an answer to that (apologies if I just missed it), and I have the same question... after getting the index, what do you then do with it?

[2015-04-22 15:18] stephentoub commented on #1408
@akoeplinger, I may have missed the PR.  Is this still active?

Thanks!

[2015-04-22 15:20] stephentoub commented on #1407
@rpetrusha, sounds like we need some doc tweaks to TextWriterTraceListener.

[2015-04-22 15:23] aggieben commented on #1420
@noahfalk I don't know about others, but MiniProfiler is widely used.  It has a fairly high-traffic [repository](https://github.com/miniprofiler/dotnet):

![image](https://cloud.githubusercontent.com/assets/1321/7277704/27e131a6-e8d7-11e4-803e-41a56340232c.png)

and is frequently downloaded from [NuGet.org](https://www.nuget.org/packages/MiniProfiler):

![image](https://cloud.githubusercontent.com

[2015-04-22 15:23] akoeplinger commented on #1408
Sorry, I missed updating this. The recent move to newer contract libs and project.json broke my ability to sanity check on Mono due to some bugs in mcs. I'll follow up when those are fixed and close this issue since I got my answer :)

[2015-04-22 15:23] #1408 closed

[2015-04-22 15:47] stephentoub commented on #1408
Ok, thanks :)

[2015-04-22 15:47] #228 closed

[2015-04-22 15:49] FransBouma commented on #1420
Our system is a commercial product so it's not used by a massive amount of users, maybe a couple of hundred. It's however a crucial aspect of our application to have a stacktrace to the calling code for a given query: with that call stack the user can determine where the slow query originates and can fix it more easily. Without the stacktrace this is a needle/haystack problem. So if this api is go

[2015-04-22 15:55] FransBouma commented on #1420
Reading @aggieben 's reply I agree with him regarding the .NET Native remark: size is of no concern, we're talking 'the future', not floppy disks, so I don't see why reflection data has to be stripped because it otherwise is too large. And if it is stripped because some low-memory device (an Amiga 500 Watch for example, running on 512KB memory, yes that's a joke) can't deal with the sizes, then ou

[2015-04-22 16:07] weshaggard commented on #1347
@Kukkimonsuta There are no plans to support binary serialization in .NET Core. The serialization team is pushing more towards DataContract Serialization and other open source projects like Json.Net as the serialization technologies of choice.

[2015-04-22 16:07] #1347 closed

[2015-04-22 16:20] davkean commented on #1017
@jaredpar For reasons I still don't understand. :)

[2015-04-22 16:25] akoeplinger commented on #1017
I also don't fully grok why all of this is necessary.

@ellismg can you summarize the problems again?

[2015-04-22 16:26] mmitche commented on #1459
Sorry, this is on windows building for mac.

[2015-04-22 17:03] ericstj commented on #1459
@mmitche where can I get logs?  I see console spew but need a log to see where it was hanging.

[2015-04-22 17:07] mmitche commented on #1459
Is more interesting info printed somewhere (like the msbuild log)?  In this case, dnx.exe just sat there and had be killed while running this command:

""d:\j\workspace\dotnet_corefx_mac_debug\packages/dnx-coreclr-win-x86.1.0.0-beta5-11580\bin\dnu.cmd" restore --packages "d:\j\workspace\dotnet_corefx_mac_debug\packages" "d:\j\workspace\dotnet_corefx_mac_debug\src\Microsoft.CSharp\src/project.json"

[2015-04-22 17:09] ericstj commented on #1459
Yes: msbuild log.  All of the DNX console spew should be in the log.

[2015-04-22 17:23] mmitche commented on #1459
Okay I modified the job so that msbuild.log always gets pulled off the machine, but last failed run still existed. i'm grabbing the log now and finding a good place to put it.

[2015-04-22 18:43] #957 closed

[2015-04-22 19:55] mellinoe commented on #1462
Additionally, there are some new messages (warnings, actually) about test projects having no tests to run. Why is that a warning if it's normal and expected behavior?

[2015-04-22 20:14] GuardRex opened #1471 "CoreFX way to get the NetBIOS Machine Name?"
Not available/working:
[code]
How can I get the machine name?

[2015-04-22 20:14] krwq commented on #1263
I wasn't able to repro after changing locale on my computer (intl.cpl -> Format and Administrative tabs)

[2015-04-22 20:19] HellBrick commented on #1017
Frankly, I don't see how the proposed API is better than the old one. From the readability point of view, `OSName.Windows` is not that different from `PlatformID.Windows`, and all these values are going to be exposed anyway, whether through static properties or through enum values. However, using enum simplifies discovery a bit: you immediately have Intellisense suggesting correct values. Compare

[2015-04-22 20:22] GuardRex commented on #1471
Nevermind ...
[code]
Works! I had a configuration issue that prevented my getting the computer name.

[2015-04-22 20:22] #1471 closed

[2015-04-22 20:32] krwq commented on #1017
@HellBrick :+1: Agree 100%

[2015-04-22 20:38] davkean commented on #1017
Can we have some of the fxdc members who were in the room when the decision was made (@weshaggard @KrzysztofCwalina @ellismg) please respond back to the thread around this conclusion was reached?

@terrajobst for context.

[2015-04-22 20:50] Maxwe11 commented on #1263
It fails from time to time, not all the time (I've checked it with enabled test).

[2015-04-22 20:56] ellismg commented on #1017
I can try.

There are a few problems here.  Some are pure design issues, some are reflections of our goals with the project and where we are in the engineering cycle with other platforms.

The basic problem is we expect that we will need to continue to add to the list of supported platforms at a quick cadence.  For example, some folks are making good progress on porting CoreCLR to BSD, what is goi

[2015-04-22 21:03] krwq commented on #1462
+ @Priya91

[2015-04-22 21:12] akoeplinger commented on #957
As I was curious what this dashboard is I asked in gitter, here's the answer from @ellismg (so it's more visible for other curious folks):

[2015-04-22 21:25] ericstj commented on #1459
//cc &@lodejard @pranavkm

[2015-04-22 21:41] akoeplinger commented on #1263
fwiw, I've seen this as well here when I quickly tried it, but it just happened once and even running the test in a `while(true)` for some minutes didn't repro it again...

[2015-04-22 21:45] akoeplinger commented on #1471
Just as a note: this is a Windows-specific environment variable and won't work cross-platform.

[2015-04-22 21:56] krwq commented on #1263
Did you try to run it in different threads in `while(true)`? It might be some race condition. I just changed my locale again and will play around with this test a little bit more

[2015-04-22 22:08] #1334 closed

[2015-04-22 22:17] stephentoub commented on #814
Fixed by #1325.

[2015-04-22 22:17] #814 closed

[2015-04-22 22:18] noahfalk commented on #1420
Appreciate it guys. For .Net Native its not that reflection info suddenly takes more space than it used to, but rather it isn't all turned on by default. When developers have to explicitly opt-in it makes it more obvious to them what perf costs of those features are. As a very rough estimate I usually assume half of any given MSIL image is metadata, and half of the metadata represents data that AO

[2015-04-22 22:18] stephentoub commented on #1032
Fixed by #1048

[2015-04-22 22:18] #1032 closed

[2015-04-22 22:49] richlander opened #1474 "CoreFX Primer"
I'm writing a [.NET Primer](https://github.com/dotnet/coreclr/pull/725) in the CoreCLR repo that has a strong bias to the runtime features. I'd like to start one that has a strong bias to the framework libraries. It makes sense for it to live in this repo. Naturally, there would be cross-linking between the two.
- Good idea?
- What should this primer be called?

I don't want to call one ".NET Core

[2015-04-22 22:54] Petermarcu commented on #1474
Great Idea!
"Book of the Framework"?

[2015-04-22 22:57] richlander commented on #1474
A definite option. It's a question of whether it should mimic the "Book of the Runtime", which focusses on how the develop the runtime, or ".NET Primer", which focusses on what the features are for and how to use them. Both are good ideas, but we should avoid mixing them together. Thoughts?

[2015-04-22 23:09] shahid-pk commented on #1474
:+1:  for  ".NET Core Framework Primer"
I think it should live in this repository because most people would prefer docs in one place.