[2019-02-27 20:31] ericstj commented on #31362
This is related to https://github.com/dotnet/corefx/issues/11669.  Behind the scenes System.IO.Packaging is using System.IO.Compression on .NETCore.  On desktop IO.Packaging had it's own internal zip implementation with different behavior.

In this case I think we need a new API on ZipArchiveEntry to honor the options exposed by PackagePart.GetStream.  Once we have the API suggested in https://git

[2019-02-27 20:45] wtgodbe commented on #34501
@bradygaster can this issue be closed in favor of the larger issue/work item?

[2019-02-27 20:46] masterwok commented on #23780
@wparzych Why does the X509Store initialization matter? You're not referencing it.

[2019-02-27 20:52] AfsanehR commented on #35527
Duplicate of #29147

[2019-02-27 20:52] #35527 closed

[2019-02-27 20:58] ericstj commented on #11669
Another interesting consideration for this is something like the approach taken by System.IO.Packaging in desktop.  It implemented an abstraction over the deflate stream that would change modes depending on how you interacted with it: https://referencesource.microsoft.com/#WindowsBase/Base/MS/Internal/IO/Packaging/CompressStream.cs,e0a52fedb240c2b8

Exclusive reads small seeks would operate on a d

[2019-02-27 21:07] ericstj commented on #25294
Correct.  Given that this repo is only implementing System.IO.Packaging on .NETCore which doesn't use IsolatedStorage I'm closing this.

[2019-02-27 21:07] #25294 closed

[2019-02-27 21:12] SoptikHa2 commented on #32185
Hi,

I've eventually solved it, but I no longer have any way to test it, so I think this issue may be now closed as invalid.

The solution process included certificate regeneration and using PHP script to actually call the server with the certificate. The certificate regeneration step was basically me downloading existing certificates (that were unchanged) and converting them myself (as their were

[2019-02-27 21:15] ahsonkhan commented on #34799
Yes.

[2019-02-27 21:27] wtgodbe commented on #22826
@ViktorHofer @joshfree @ericstj @joperezr does anybody know where these packages live? I'm having trouble figuring out how we used to restore them

[2019-02-27 21:29] ericstj commented on #24457
I took a closer look at this.  It's very much related to the ZipArchiveEntry behavior mentioned here; https://github.com/dotnet/corefx/issues/11669#issuecomment-468016815
Also mentioned by @twsouthwick  above.

When opening a Package with ReadWrite access the underlying archive is opened in Update mode which causes all entries to be buffered completely to a MemoryStream.  The MemoryStream has an u

[2019-02-27 21:30] ericstj commented on #33720
Duplicate of https://github.com/dotnet/corefx/issues/29959

[2019-02-27 21:30] #33720 closed

[2019-02-27 21:31] ericstj commented on #29959
@onovotny please open a separate issue for that.  Let's let this issue track reconciling the WPF System.IO.Packaging API and behavior with that which already exists in CoreFx.

[2019-02-27 21:35] onovotny opened #35635 "System.IO.Packaging has no way to support private keys that are external"
Splitting off from https://github.com/dotnet/corefx/issues/29959

I've hit issues with `public PackageDigitalSignature Sign(IEnumerable<Uri> parts, X509Certificate certificate);`

Basically there's no way to account for an external private key. There should be some overload that takes an RSA object (or something else), along with a public cert, and does the signing.

[2019-02-27 21:38] #34501 closed

[2019-02-27 21:48] ericstj commented on #35635
/cc @vatsan-madhavan @rladuca

[2019-02-27 22:23] trylek commented on #22826
The nightly drops get published to the share

<pre>
\\cpvsbuild\drops\dev14\ProjectN\layouts\x86ret\27427.00\enu\netfx\projectnx86\net\netfx_ProjectNx86.msi
</pre>

(there's also the raw TestILC folder under that path). As these are internal only, I'm not sure if we publish them anywhere, most certainly not on any publicly available nuget feed :-).

[2019-02-27 22:31] bartonjs commented on #35630
@aboldarev I just tried this on .NET Framework and on .NET Core 2.1 + System.Security.Principal.Windows (version) 4.6.0-preview.19073.11; and I don't see any ObjectDisposedExceptions.

What package version are you running, and what does `dotnet --info` say?

[2019-02-27 22:34] bartonjs commented on #35630
I see that I missed that: System.Security.Principal.Windows (4.5.1), Microsoft.NETCore.App 2.2.0.

I tried using the 4.5.1 version of the package and also don't get an exception.  Can you share your exception callstack?

[2019-02-27 22:49] wtgodbe commented on #22826
Hmm, interesting. Do you know what the intented restore mechanism was back in 2.0.0? Did we just access them from that location? I see that we expected the package to get to the `packages` dir: https://github.com/dotnet/corefx/blob/583aa597cec05337f07319056aaa648509f524c1/external/test-runtime/XUnit.Runtime.depproj#L147

I'm not sure what the best way is to deal with this now, since only Microsoft

[2019-02-27 22:52] trylek commented on #22826
I've never become a nuget pro. @zamont may know more.

[2019-02-27 22:55] ViktorHofer commented on #22826
What are you trying to achieve @wtgodbe? I should be able to help you here.

[2019-02-27 23:00] wtgodbe commented on #22826
To re-enable multifile tests for `uapaot`. This will only work if we've restored the TestIlc Package: https://github.com/dotnet/corefx/blob/f1336fa043309e587dee5e3d59ee04249ddff97b/src/pretest.builds#L13

Which is supposed to happen here: https://github.com/dotnet/corefx/blob/a619534cac9b7d000f0899248656d232cb44f61f/external/test-runtime/XUnit.Runtime.depproj#L170-L191

But I'm not sure how we use

[2019-02-27 23:09] ViktorHofer commented on #22826
We restore ILC as part of the internal tools: https://github.com/dotnet/corefx/blob/master/eng/InternalTools.props#L10-L14

Currently we only do that for official builds. The paths in the target are still correct.

[2019-02-27 23:10] bartonjs commented on #32334
-1 also seems like the right answer (to me) for `span.IndexOfAny(default)`.

Marking as 3.0 because we need to make a conscious decision to change the return value on the major version bump, or not.

[2019-02-27 23:11] joshfree commented on #22826
@wtgodbe the landscape and infra here has likely changed a lot since this bug was filed.  It would be worth chatting with @tommcdon @zamont @nattress first before spending time on work here.

[2019-02-27 23:12] trylek commented on #22826
I'm also curious why this only affects multifile tests - I'd assume we need to pull down a reasonable version of TestILC no matter whether we build against the shared library or not.

[2019-02-27 23:18] trylek commented on #22826
In other words, I dare claim that most anything that builds in single file mode with a given TestILC drop should build in multi-file (/useSharedAssemblies) mode. Tons of work have been spent in the last 3-4 years to maintain this invariant. If there seems to be a principal problem where tests don't build in the /useSharedAssemblies mode, that's most likely an infra deficiency and I'll gladly take

[2019-02-27 23:30] wfurt commented on #35332
should be fixed by #35506

[2019-02-27 23:30] #35332 closed

[2019-02-27 23:32] wfurt commented on #31294
actually, I think #35266 should cover remaining wokr.

[2019-02-27 23:32] #31294 closed

[2019-02-27 23:40] davidsh commented on #33753
Closing for now since there is no actionable information.

[2019-02-27 23:40] #33753 closed

[2019-02-27 23:43] SoerenBusse commented on #34909
Thank you very much for the fast fix @tmds.

@danmosemsft
As far as I see all changes are approved and ready to merge. Are you able to provide a date when this will happen? We really like to use the nightly builds containing this fix to continue our development.

Or are there any net core builds available for each PullRequest request we could use?

[2019-02-27 23:47] AfsanehR commented on #33930
@Wraith2  we are not sure what the potential fix for this issue is right now. If you have time to investigate, please feel free to do so and let us know what any potential options are, otherwise we will come back to this issue in the future.

[2019-02-27 23:50] #33950 closed

[2019-02-27 23:51] Wraith2 commented on #33930
I think the best thing might be to remove the check which is asserting. If you run the tests in release mode everything behaves as expected and the logic for the assertion is of dubious quality in my opinion,
I can see why it was added when the state object was split into managed and native but I can't see any purpose for the more stringent behaviour in the managed case. My only reservation is tha

[2019-02-27 23:58] richlander opened #35638 "Process.MaxWorkingSet should read from /sys/fs/cgroup/memory when available"
I am playing with the Process.MaxWorkingSet API. I am getting results that I don't expect. Should the values be so different in Linux containers? Is that some container-ism or something wrong with our Linux PAL?

[code]

[2019-02-28 00:04] AfsanehR commented on #32634
@kieronlanning  Would you be able to provide a repro?

[2019-02-28 00:09] David-Engel commented on #32208
This question is more of a "how do I do X in C#". I would ask in the TechNet SQL Server SMO/DMO forum: https://social.technet.microsoft.com/Forums/en-US/home?forum=sqlsmoanddmo

[2019-02-28 00:09] #32208 closed

[2019-02-28 00:21] Wraith2 commented on #35607
What level of information are the ref assemblies designed to provide? I had thought that they were present to provide a description of the api surface area that an ide or other metadata consuming tool could use to provide intellisense or some sort of binding. If they are for ide type use then any attribute which can affect consumer behaviour would need to be included, things like EditorBrowsable e

[2019-02-28 00:38] David-Engel commented on #32056
This sounds familiar. I don't think you can enlist multiple connections in a single transaction without them becoming distributed, regardless of the connection string being identical. And since SqlClient in CoreFx does not support distributed transactions, it's not going to work. @saurabh500 Does this sound correct?

Forward thinking, MSDTC communication is probably never going to be easy to imple

[2019-02-28 00:44] bartonjs opened #35640 "Linux SslStream sends intermediate certificates in wrong order"
When a certificate chain has 4 or more elements (end-entity -> low issuer -> ... -> high issuer -> root) the intermediate certificates are written in the wrong order on the wire.

* Create a certificate whose chain has 4 or more elements
* Trust the root
* Use the end-entity certificate in a server-role SslStream
* Connect to the endpoint using `openssl s_client` (e.g. `openssl s_client -connect l

[2019-02-28 00:48] ahsonkhan commented on #35607
I agree and understand why attributes like `EditorBrowsable` or `Obsolete` would need to be included. I am not sure about the utility of `ToolboxItem` and some of the other attributes though.

[2019-02-28 00:50] tanguero commented on #26996
will try this, thanks for sharing the wisdom

[2019-02-28 00:52] wtgodbe commented on #22826
I mostly just know what's described in this issue, and what I posted above from my brief investigation. It seems that we only use TestILC on official builds, and never do any multi-file testing - this issue just refers to turning it back on for `uapaot` (which seems to be the only Framework we ever did multi-file testing for). I'm happy to chat offline about what it means to fix this tomorrow

[2019-02-28 01:21] stephentoub commented on #35638
What do you see if you change your program to be:
[code]

[2019-02-28 01:22] richlander commented on #35638
Just discovered this. It seems important.

[code]

[2019-02-28 01:24] stephentoub commented on #35638
What specifically?  Without specifying the 60 MB limit, docker allows the app as much memory / swap memory as it wants.

[2019-02-28 01:26] danmosemsft commented on #35638
It is getting it from proc/PID/stat, 25th field, `rsslim`. Here it is dumping the raw value as well:

[code]
Note the raw value is UInt64.MaxValue. This is an unsigned long, and we're reading it as such, but because the API was originally defined to return `IntPtr`, we are explicitly clipping the value to Int64.MaxValue and that's what we return.

Running outside of docker, in WSL, I get the same

[2019-02-28 01:26] richlander commented on #35638
I just meant that this mechanism reports the values I expect.

Results you asked for: https://gist.github.com/richlander/abc3e69b76b02d4103f5c0766be6d1d3

[2019-02-28 01:27] danmosemsft commented on #35638
It looks like this crossed with @stephentoub comment. I agree it seems it is the correct value - there is no limit.

[2019-02-28 01:31] richlander commented on #35638
There is no limit according to that API. My view is that our APIs should be cgroup-friendly. These ones don't seem to be.

JFYI: we should be using .NET Core nightly docker images. This is what that looks like:

[code]

[2019-02-28 01:33] stephentoub commented on #35638
From where do you recommend we get the maximum working set value?  This is what the OS is reporting to us via /proc.

[2019-02-28 01:34] janvorli commented on #35638
I agree with @richlander that we should be getting the limit from cgroups instead of /proc/self/stat, as the latter is container agnostic and always provides limits for the whole system.

[2019-02-28 01:36] stephentoub commented on #35638
/sys/fs/cgroup isn't always available.  Your recommendation is to try to read it from there, and if we can't, fall back to /proc?

[2019-02-28 01:39] janvorli commented on #35638
We can fall back either to that or the value we get from getrlimit api, like we do in coreclr pal:
https://github.com/dotnet/coreclr/blob/master/src/pal/src/misc/cgroup.cpp#L385-L428

[2019-02-28 02:14] stephentoub commented on #35638
Ok, sounds reasonable.

[2019-02-28 02:19] geoffkizer opened #35642 "HTTP2: Improve handling of status code pseudo-header"
Currently, we will happily receive 0, 1, or more status codes on a response. We should require exactly 1.

Also, we will happily accept a status code header that comes after regular headers. Again, we should disallow this. The status code must be the first header received.

Reference: https://tools.ietf.org/html/rfc7540#section-8.1.2

[2019-02-28 02:21] geoffkizer opened #35643 "HTTP2: Disallow request pseudo-headers on response"
We allow these today. We should disallow them.

Reference: https://tools.ietf.org/html/rfc7540#section-8.1.2.1

[2019-02-28 02:55] #34909 closed

[2019-02-28 02:56] danmosemsft commented on #34909
@soerenbusse I did not notice it was not merged. Now it is. Please let us know if you discover any issue. Thanks @tmds! this was bigger than we had all expected.

[2019-02-28 03:00] divega commented on #35611
@roji Also, if we are having `ValueTask<T>` returning versions of these, then the version that takes the ordinal int needs to exist first. If we do something with nullabilily, that that is also a cross-cutting concern that is going to affect all sync and async versions, as well as string and int flavors of the methods.

So yes, I only created this issue for the short term goal of making things a b

[2019-02-28 03:23] #1474 closed

[2019-02-28 03:25] richlander commented on #35638
Who should take this on?

[2019-02-28 03:44] andrei-m-code commented on #23518
@sisoje please create a PR

[2019-02-28 03:56] don01001000 opened #35644 "Using VS 2019 Community Mac, rzc discover exited with code 150. when building Web Application template"
I'm trying to build web applications using VS Community 2019 Preview for Mac but keep getting the error `rzc discover exited with code 150.` whenever I try to build the default ASP.NET MVC template. (I originally pasted the wrong error message writing this issue: ~~`The "ResolvePackageAssets" task failed unexpectedly.`~~) Since the corefx page says to file a new issue if I have a question, here it

[2019-02-28 04:08] danmosemsft commented on #35629
@viktorhofer owns it and can comment.

[2019-02-28 04:12] stephentoub commented on #35638
Normally I'd say this doesn't seem particularly high priority and it should be handled like any other filed issue.  But since I'm already here and it'll take five minutes, I'll just do it now.

[2019-02-28 05:00] richlander commented on #35638
Thanks much. The missing context is that we have an important scenario we're enabling which is "support for cgroups and docker-limits". That's what this is oriented on: https://github.com/dotnet/designs/pull/49. Certainly, that design doesn't talk to this at all. However, this issue is the first thing I found wanting to validate the GC change. It makes sense to improve the near neighbors. Any othe

[2019-02-28 05:49] dotnet-mc-bot opened #35646 "Test failure: System.Collections.Specialized.Tests.OrderedDictionaryTests/PassingEqualityComparers"
Opened on behalf of @AriNuer

The test `System.Collections.Specialized.Tests.OrderedDictionaryTests/PassingEqualityComparers` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190227.9 (Core Tests)
Failing configurations:
- ubuntu.1604.amd64@mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.9-helix-ce7c948-20190227232728-x64
  - Release

Details:
https://mc.dot.net/#/pr

[2019-02-28 05:56] hannasm opened #35647 "AggregateException.ToString() when wrapped in another exception loses data"
When AggregateException is wrapped in another exception, the ToString() method no longer populates the complete list of exception details.

Full MSTest code:

[code]

Test003 (which does not wrap AggregateException) displays:

Test004 however, (which wraps AggregateException in an Exception) is missing the details on "Exception 2"

I would like to see the output from Test004 include all the same s

[2019-02-28 06:07] dzmitry-lahoda commented on #34770
So workflow of developers will be:
- decompile `Unsafe` and `MemoryMarshall` or grab IL code generated-written from corefx
- put into Nuget package called `Unofficial.....Unsafe`
- use

Notes
- other languages which do no know about `in` will see `ref` anyway
- F# and C# seems (only languages I use) do understand `in` on source level
- CLR seems have no `in` on binary level, only `ref`

[2019-02-28 06:17] geoffkizer opened #35648 "HTTP2: Don't send RST_STREAM in response to WINDOW_UPDATE on closed stream"
See here:

https://github.com/dotnet/corefx/blob/694eeba312046e2097c731d40f32c1cac675aa03/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs#L562

Per the RFC, I think this is wrong. We should just ignore the WINDOW_UPDATE.

See in particular:

https://tools.ietf.org/html/rfc7540#section-6.9
"WINDOW_UPDATE can be sent by a peer that has sent a frame bearing the
   END_ST

[2019-02-28 06:19] jkotas commented on #34770
@dzmitry-lahoda There is a official System.Runtime.CompilerServices.Unsafe package: https://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe/ . I do not see why you would need to create unofficial version of it.

The official System.Runtime.CompilerServices.Unsafe package has `public static partial class Unsafe { public static ref T AsRef<T>(in T source); }` method that allows you to

[2019-02-28 06:24] dotnet-mc-bot opened #35649 "Test failure: XmlSerializerTests/XmlSchemaTest"
Opened on behalf of @AriNuer

The test `XmlSerializerTests/XmlSchemaTest` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190227.9 (Core Tests)
Failing configurations:
- ubuntu.1604.amd64@mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.9-helix-ce7c948-20190227232728-x64
  - Release

Details:
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2

[2019-02-28 06:51] geoffkizer opened #35651 "HTTP2: Deal with client-initiated stream abort"
Currently, there is a TODO in the code to track this:

[2019-02-28 06:51] geoffkizer commented on #35651
ignore this

[2019-02-28 06:51] #35651 closed

[2019-02-28 07:24] geoffkizer opened #35652 "HTTP2: Deal with client-initiated stream abort"
Currently, there is a TODO in the code to track this:
https://github.com/dotnet/corefx/blob/694eeba312046e2097c731d40f32c1cac675aa03/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs#L358

The TODO references #31310, but this is really a more general issue, and unfortunately rather complex, so I'm filing a separate issue to track this.

Client-initiated abort can happen for

[2019-02-28 07:32] jmezach commented on #33506
Are there any plans to make this work? I understand that FtpWebRequest is deprecated, but as mentioned before this is also an issue for third party client libraries, unless they plan on implementing SSL themselves. I'm currently working on a project that has very high security requirements that we currently cannot meet due to this issue.

[2019-02-28 07:32] aboldarev commented on #35630
dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.2.104
 Commit:    73f036d4ac

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.104\

Host (useful for support):
  Version: 2.2.2
  Commit:  a4fd7b2c84

.NET Core SDKs installed:
  2.1.503 [C:\Program Files\dotnet\sdk]

[2019-02-28 07:34] CrossBound commented on #33115
I really hope the new abstraction does not rely on attributes. I try to use clean POCO objects in the underlying libraries and use DI to avoid them having to know about the implementation. I definitely don't want to be decorating my underlying classes with attributes required for the implementation. This could end up causing extra classes to be created in the ui layers which essentially just map a

[2019-02-28 07:39] CrossBound commented on #33115
Does that mean the new APIs are going this route? Has the design been finalized?

[2019-02-28 07:46] Jens-G commented on #24040
Is there a way this could be fixed? The whole PipeSecurity package is useless without this.

[2019-02-28 07:55] geoffkizer commented on #35388
Note that if we do increase the stream window size, we should also consider enforcing the connection window size. Currently we don't do this, because we assumed that the stream-level enforcement was sufficient. However, if we increase the stream-level window significantly, then this may no longer be true.

[2019-02-28 08:00] geoffkizer opened #35653 "HTTP2: Add test for inbound window size enforcement"
We should add a test like the following:

(1) Issue a simple GET request
(2) Don't read the response stream at all (so no window updates are sent)
(3) Have the server send enough response body data to exceed the stream window (currently 64K)
(4) Ensure the client detects that the window was exceeded, and fails the request and generates a stream error (RST_STREAM) or connection error (kill connecti

[2019-02-28 08:06] aboldarev commented on #35630
a problem seems to appear only together with broken connection to domain controller.
If a connection OK, the Program behaves as expected:

[code]

If I take off a computer from a net, I’ll get an exception for a valid account also and is still to throw exception until a restart of program. For an web application its critical, it couldn’t be restarted anytime.
[code]

[2019-02-28 08:14] khellang commented on #33115
The serialization support is landing [as we speak](https://github.com/dotnet/corefx/pull/35609). Check out the PR and leave your comments there.

[2019-02-28 08:29] kieronlanning commented on #32634
@AfsanehR I'm afraid not. We had to re-engineer (and re-host) the solution because we couldn't get past that problem.

[2019-02-28 09:18] dzmitry-lahoda commented on #34770
@jkotas, may be i read [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.unsafe.as?view=dotnet-plat-ext-2.1#System_Runtime_CompilerServices_Unsafe_As__2___0__) wrong or documentation is stale, not sure. But as of now documentation looks like broken.

[code]

[2019-02-28 10:11] KPixel commented on #33115
@lemire Wow, that's really cool. simdjson is indeed super fast.

Any chance that you can implement the [JSON serialization benchmark of TechEmpower](https://www.techempower.com/benchmarks/#section=data-r17&hw=ph&test=json)? (I know it will be a lot more work)

I found these implementations: [In the TechEmpower repo](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/CSharp/a

[2019-02-28 10:19] thefringeninja commented on #13329
@swaroop-sridhar do you have an example of this working for dotnet core on linux? according to https://github.com/dotnet/ILMerge/blob/master/ILMerge/ILMerge.csproj#L13 this is a windows / mono only project.

[2019-02-28 11:27] stephentoub commented on #34828
@terrajobst, the PR for this got merged. Can we please prioritize reviewing this at the next meeting?

[2019-02-28 12:48] kbaladurin opened #35654 "X509Chain.Build returns different results for the same certificate"
In the following sample the first and second calls of the `X509Chain.Build` return different results ([`certificate.pem`](https://gist.github.com/kbaladurin/df44b26fb12d2ef0ef54a40786636ec2) - corrupted google's certificate)

[code]
Results:
[code]
This difference occurs due to openssl doesn't verify certificate in the second time ([`internal_verify`](https://github.com/openssl/openssl/blob/902f3f

[2019-02-28 12:51] kbaladurin commented on #35654
@alpencolt

[2019-02-28 12:51] kbaladurin commented on #35654
@jkotas PTAL

[2019-02-28 12:54] jkotas commented on #35654
cc @bartonjs

[2019-02-28 13:01] roji commented on #31595
@TheBlueSky thanks for your work on the PR.

Unfortunately, once this was merged Entity Framework Core broke, since it was using reflection to look up the methods, and assuming that only one method exists with the given name (e.g. `DbDataReader.GetInt32()`). While this has been fixed in EF Core (https://github.com/aspnet/EntityFrameworkCore/pull/14853) it has raised the question of the backwards c

[2019-02-28 13:10] lemire commented on #33115
@KPixel This is serialization, right? Meanwhile simdjson is a parser... Unless I am confused about the terms, these things go into opposite directions?

[2019-02-28 13:17] zlatanov commented on #15430
@karelz @Tratcher If the task is still up for grabs, I would like to express interest in contributing here. I have already implemented this in a custom library of mine - https://github.com/zlatanov/websockets but my implementation differs from the suggested API.

What I did is introducing the ability to create a send buffer that implements IBufferWriter<Byte> - see https://github.com/zlatanov/webs

[2019-02-28 13:25] KPixel commented on #33115
My bad. I assumed there was a deserialisation part (which would use the parser).

[2019-02-28 13:29] jkotas commented on #34770
Yes, this wrong. It should be `public static ref T AsRef<T> (in T source)`. Submitted https://github.com/dotnet/dotnet-api-docs/pull/1968 to update the docs.

It is for the same reason `MemoryMarshal.Write` has `ref` in the signature. These methods were introduced before the C# readonly/in feature was invented.

[2019-02-28 14:14] gaborposz opened #35656 "MissingMethodException: Method not found: System.Net.Http.WinHttpHandler.set_ServerCertificateValidationCallback"
I'm using the **System.Net.Http.WinHttpHandler 4.5.2** NuGet package from a **.NET Framework 4.7** project, and I get the following exception when I use the _ServerCertificateValidationCallback_ property:
`System.MissingMethodException: 'Method not found: 'Void System.Net.Http.WinHttpHandler.set_ServerCertificateValidationCallback(System.Func'5<System.Net.Http.HttpRequestMessage,System.Security.Cr

[2019-02-28 14:21] dzmitry-lahoda commented on #34770
Thanks. I understand. and looks not so well for me. I am trying to push `types` to the max in entity component system data-oriented design of networked first-person shooter game. While retaining sanity of what can do what with a small boilerplate as possible. So I use all new features attached to `in`, `readonly`, `ref`, and also interfaces with implementions, Unsafe, Memory, Buffers, constrained

[2019-02-28 14:50] davidsh commented on #33506
This is not planned for .NET 3.0.  It is a difficult thing to implement completely since it relies on the behaviors of the OS TLS/SSL stack.  It isn't something solvable at the .NET layer.  It's possible to make it work perhaps just on Linux using the OpenSSL support that @bartonjs mentions.  But then there is the question on how to enable/disable that behavior which might involve introducing new

[2019-02-28 14:54] davidsh commented on #35656
That is causing the mismatch since the 4.0.0 System.Net.Http.dll assembly from . NET Framework doesn't have the required property.

@ericstj can you advise on this? Is this a packaging problem?

cc: @karelz

[2019-02-28 15:16] ViktorHofer commented on #35629
@bcbeatty can you please post the serialization payload that is generated with the .NET Core sample? More precisely speaking, this result. Please encode it as base64 (you can use this helper function: https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Runtime/Serialization/Formatters/BinaryFormatterHelpers.cs#L104):

[code]

[2019-02-28 15:36] bcbeatty commented on #35629
It's pulling the payload created in Program 1, to populate a dataset. The actual content hasn't seemed to matter.

I changed this:
`using (var da = new SqlDataAdapter("Select * from Code_Job_Status", connection))`

to this, to remove any real database dependency on the source ,
`using (var da = new SqlDataAdapter("Select 1,2,3,'four' union select 4,5,6,'seven'", connection))`

and I get this excep

[2019-02-28 16:14] gaborposz commented on #35656
Hi,
Some additional info:

The **4.2.0 System.Net.Http.dll** is copied during build from the following path:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\lib\System.Net.Http.dll
`

If I overwrite it here with the **4.0.0 System.Net.Http.dll** from GAC, then everything works fine.

It seems **System.Net.Http.WinHttpHandler**

[2019-02-28 16:36] TylerBrinkley commented on #34372
Is it really necessary for implementers of `JsonValueConverter<TValue>` to implement both `Write` overloads? The logic in them are going to be identical except for the call to `Utf8JsonWriter`'s `WriteXXXValue` vs `WriteXXX` method.

Could we add a method to `Utf8JsonWriter` to prep it with a property name so that the next `WriteXXX` call writes the value as a property instead of value?

Or altern

[2019-02-28 17:11] Tratcher commented on #15430
When messages can be of an arbitrary size needing to compress them all in memory isn't great. We're working through a lot of similar issues in AspNetCore where too much needs to happen before we can flush data and it impacts scalability.

[2019-02-28 17:13] tarekgh commented on #34233
This is unlikely will be in v3.0. Please apply the request I mentioned in my comment https://github.com/dotnet/corefx/issues/34233#issuecomment-455354106 to be able to look at it as whole and move forward.

[2019-02-28 17:18] tarekgh commented on #35558
As I mentioned .net core depends on the underlying OS behavior and we know the Windows and ICU not 100% compatible so I expect there could be some other cases but I expect these cases will be corner cases.

Just wondering, would ordinal comparisons can work in your scenario. this is the only way you can get 100% consistent results between Linux and Windows.

I am closing this issue but feel free t

[2019-02-28 17:18] #35558 closed

[2019-02-28 17:18] bartonjs commented on #35654
It looks like OpenSSL dropped that optimization for the 1.1.x series (https://github.com/openssl/openssl/commit/0e76014e584ba78ef1d6ecb4572391ef61c4fb51#diff-06463ef55f4d9d5411a243b09e66c06f).

It probably makes sense for us to just clear that flag on the 1.0.x series when exiting the chain process, since that'll make us behave more like 1.1.

[2019-02-28 17:28] ViktorHofer commented on #35629
Thanks, I will take a look.

[2019-02-28 17:43] Gnbrkm41 commented on #35563
Actually... I still am experiencing the same issue. Tried removing and re-cloning the repo from the latest one. Can I re-open the issue?

[2019-02-28 17:52] ViktorHofer commented on #35563
Sure.

[2019-02-28 17:52] ViktorHofer commented on #35563
What command do you use?

@tmds does that also still affect you?

[2019-02-28 17:59] zlatanov commented on #15430
I understand. So what if the API looked like this:

[code]
In this case though we need to be careful when we really do send. For example the compressed version of the payload (when endOfMessage is false) is too small, there will be negative impact if we flush the data to the underlying connection for every send.

Is it acceptable for this API to return Task.CompletedTask when the underlying compre

[2019-02-28 18:00] jeffschwMSFT commented on #34555
cc @bartonjs

[2019-02-28 18:11] danmosemsft commented on #34555
@morganbr are you still championing this now you moved teams, or is there someone else who will do that now?

[2019-02-28 18:28] jeffschwMSFT commented on #34555
@morganbr transferred understanding to @bartonjs afaik.

[2019-02-28 18:31] danmosemsft commented on #34555
Ah great.

[2019-02-28 18:33] emilssonn commented on #34095
I have been troubleshooting this for quite some time. After discussion with the Azure support, one possible cause is resource exhaustion on the Azure Webapp. The main reason I created this issue was that almost all references to hitting the connection limit in Azure Webapps says it results in a exception, “An attempt was made to access a socket in a way forbidden by its access permissions aaa.bbb.

[2019-02-28 18:33] #34095 closed

[2019-02-28 18:38] ViktorHofer opened #35661 "Developer Workflow Changes"
With multiple changes that went into master in the last weeks we addressed some long standing issues related to our **developer workflow**. With the move to arcade (a common build infrastructure and SDK) we were able to streamline and move a lot of our infrastructure upstream so that other repositories can consume it.
One of the things that we didn't attempt to unify in the initial move was the co

[2019-02-28 18:38] ViktorHofer commented on #35661
Please let me know if you face any issues with the new changes.

[2019-02-28 18:45] Gnbrkm41 commented on #35563
It is the same as before. build -restore, build then build -test.

[2019-02-28 18:51] jkotas commented on #35661
What's the difference between unit test and  integration test in CoreFX?

[2019-02-28 18:53] jkotas commented on #35661
Are VSIXes relevant to CoreFX? It sounds very specific to Roslyn and maybe a very few other repos that build VS-specific parts. I do not think it should be in common.

[2019-02-28 19:06] wtgodbe commented on #22826
So we only restore the ILC package during official builds. Should we only enable multi-file tests during those official builds? @ViktorHofer looks like we restore from `https://devdiv.pkgs.visualstudio.com/`, so probably we shouldn't ever have these run by default

[2019-02-28 19:07] davidsh commented on #32809
I originally wrote this test. I'm disappointed that it is still unstable. We've disabled it on most platforms except it still runs on Windows 8.1 CI and fails still at times.

I don't think it is required to fix for 3.0 so I will move the issue to Future.

[2019-02-28 19:08] wfurt commented on #35661
Is it possible to cross-build code & test s from top?
I'm primarily interested in ARM32/64 (assuming that I do have rootfs created)

[2019-02-28 19:16] safern commented on #35661
Yes, just how we do our CI and official buils -- just set the ROOTFS_DIR env var. i.e:
`ROOTFS_DIR=/crossrootfs/arm64 ./build.sh -restore -build -buildtests -arch arm64`

[2019-02-28 19:18] ericstj opened #35662 "Make CoreFx pick up optimization data through darc rather than maestro v1"
I've been trying to switch from using maestro v1 to darc for the `optimization.windows_nt-x64.IBC.CoreFx`

I've set up the darc subscription as
[code]

Note `.NET Core 3 Dev` channel.  This works for the PGO package that CoreCLR uses but not the IBC package.

Something is wrong with the publishing of dotnet-optimization such that the IBC package we depend on is not being updated.

/cc @hoyosjs @ad

[2019-02-28 19:21] GrabYourPitchforks commented on #9369
On Win10+, the OS exposes a one-shot p/invoke API [`BCryptHash`](https://docs.microsoft.com/en-us/windows/desktop/api/bcrypt/nf-bcrypt-bcrypthash). You don't even need to open or cache an algorithm handle; you can pass the well-known constant `BCRYPT_SHA256_ALG_HANDLE` (for SHA256) in as the first parameter and let the OS take care of everything on your behalf. Pseudohandles for other hash routine

[2019-02-28 19:23] GrabYourPitchforks commented on #33602
@terrajobst Yes, I'll clean up call sites throughout coreclr and corefx.

[2019-02-28 19:32] TheBlueSky commented on #31595
@roji, I am interested in making this change.

I have a question related to EF Core issue. What makes this "special"? Is it because we got to know about it, or is there a rule on when and where we can add new APIs? I mean any additional API in any random Core FX class can break someone's library.

[2019-02-28 19:35] ViktorHofer commented on #22826
The plan is that we restore from dnceng in the future so that we don't need a secret anymore to access devdiv and enable these runs in public CI again.

For now yes, until we bring the public jobs back in CI.

[2019-02-28 19:36] Clockwork-Muse commented on #35563
@Gnbrkm41 - did you specifically build the tests:  `build -buildtests` (#35661)

[2019-02-28 19:38] adiaaida commented on #35662
I think I am overwriting the AssetManifest artifacts because they have the same artifact name. I'm fixing that now.

[2019-02-28 19:44] masterwok opened #35663 "Question Regarding X509Certificate2, SslStream, and EphemeralKeySet"
Hello,

I have a few questions regarding _X509Certificate2_ and _EphemeralKeySet_. I'm attempting to use _SslStream_ with an _X509CertificateCollection_ in an application deployed to IIS.

The discrepancy between the application functioning as expected on my local machine versus when it's deployed seem to stem from the lack of a user profile.

The IIS instance doesn't have "Load User Profile" enab

[2019-02-28 19:50] steveharter commented on #34372
@TylerBrinkley

I've been working with @ahsonkhan on addressing this by either pre-populating the property name and just calling WriteValue methods, wrapping the writer somehow, or by having the Write methods in the writer detect whether the property name is empty and call WriteValue if so (however unfortunately json allows empty property names so that may not work).

[2019-02-28 19:53] ViktorHofer commented on #35563
1. Make sure that `git log` tells you that you are on the latest master, preferrably from today.
2. Use this command: `build.cmd -restore -build -buildtests -test`.

[2019-02-28 19:54] roji commented on #31595
@TheBlueSky please hold off for a day or two before actually implementing anything, we're still discussing the level of backwards compatibility we want to provide.

You're right, and I think there aren't any completely clear-cut rules about this. It's more of a pragmatic choice trying to consider the risk of breakage - and in this case we do have the indicator that a major O/RM was broken by it. I

[2019-02-28 20:00] Gnbrkm41 commented on #35563
Right, I must have missed something from the docs... I remember `build -test` taking care of all the things, was missing that one. 😶 Blame my ignorance. Ran `build & build -buildtest -test

Feel free to close the issue again, sorry about that.

[2019-02-28 20:05] ViktorHofer commented on #35563
No reason to apologize. `build -test` also built the tests before but with a change that went into master last week we fixed the CLI experience. Not your fault! Make sure to read https://github.com/dotnet/corefx/issues/35661 :)

[2019-02-28 20:05] #35563 closed

[2019-02-28 20:11] ViktorHofer commented on #35661
In corefx we don't have that differentiation yet! But as that comes from arcade it nevertheless is helped in the help message which we invoke.

When you say common what do you mean? In the common build script or just in the help message so that isn't advertised? Note that we directly invoke the help message from the arcade build script after invoking our specific help message. cc @tmat

[2019-02-28 20:25] devsko commented on #35254
@ahsonkhan Should `default(SequencePosition)` just throw `ArgumentOutOfRangeException` in this case or does it have any special meaning when used for slicing?

[2019-02-28 20:26] jkotas commented on #35661
I care about the "new to the repo" experience. The help message of the build script is a key part of that experience. 25% are of the actions listed in help message are irrelevant to the repo. It is not a good experience to have such high noise ratio in the help message.

I think that these special options that are relevant to just small fraction of repos should not be printed in the default arcade

[2019-02-28 20:33] ViktorHofer commented on #35661
I do too! I agree with you. We should trim the help message down. Two options:
1) Don't invoke the arcade help script and just copy the relevant parts into our help text.
2) Trim down the arcade build script (either remove parts or as you proposed move stuff into the advanced section)

[2019-02-28 20:43] stephentoub commented on #34095
You could try setting the MaxConnectionsPerServer property on the handler, in order to throttle how many connections you actually open.

[2019-02-28 20:49] davidsh commented on #35663
@bartonjs

[2019-02-28 20:54] davidwrighton commented on #34631
@terrajobst Could you organize the api folks to take a look at this and provide some comments? Thanks.

[2019-02-28 20:55] steveharter commented on #34372
@BrennanConroy update: we are working on extending `JsonElement` and `JsonDocument` to make them more usable in your scenario and for scenarios where the (de)serializer has to support "overflow" properties and cases where a property is of type `object` or `JsonElement`.

[2019-02-28 21:03] wtgodbe commented on #22826
I tried downloading the packages locally & re-enabling the multifile tests, got the following:

MSBUILD : error : Shared assemblies 'System.Collections - System.Collections.Concurrent - System.Diagnostics.Tools - System.Diagnostics.Tracing - System.Linq - System.Linq.Expressions - System.Memory - System.ObjectModel - System.Private.CoreLib - System.Private.Interop - System.Private.Reflection.Core

[2019-02-28 21:10] trylek commented on #22826
That is … sad. Apparently ongoing refactorings in CoreFX require a [most likely targeted patching-incompatible] change to the shared library definition. This is a complex situation that will require coordination with the ProjectN side. At some point I have no competence to choose (@tommcdon and @HollyAM should be the primary contacts for making the call) we should ingest the new CoreFX; this will

[2019-02-28 21:14] wtgodbe commented on #22826
Sounds like re-enabling the multifile tests should be put on hold into that issue is resolved, then. Should we re-target this issue to track fixing what you've described? That isn't something I have much context on & is probably better tackled by the people you mentioned.

[2019-02-28 21:14] Gnbrkm41 opened #35664 "Test failure: System.Drawing.Tests.SystemFontsTests fail if ran on Korean Windows"
Tested environment: Surface Pro 4, running Korean Windows 10 Pro 1809 (Build 17763.316)

Directly from Command prompt, build results:
[code]
Relevant parts extracted from testResults.xml:
[code]
(For ease of understanding, `맑은 고딕` is `Malgun Gothic` and `굴림` is `Gulim`)

A few of the tests, specifically `System.Drawing.Tests.SystemFontsTests.SystemFont_Get_ReturnsExpected_WindowsNames` in the Syst

[2019-02-28 21:17] trylek commented on #22826
Yes, I believe your experiment uncovered that today CoreFX is out of sync with today ProjectN w.r.t. shared library build. This is something like a "cross-repo cascading build break" which needs fixing in the ProjectN closed source code before CoreFX UAPAOT multifile testing can be re-established.

[2019-02-28 21:17] ahsonkhan commented on #35254
Maybe, but I think one of the following makes more sense:
1. Return an empty sequence (you have sliced past the end)
2. Return the original sequence (you haven't sliced at all)

I think (1) makes more sense to me. @davidfowl, @pakrym - what do you think?

[2019-02-28 21:41] Gnbrkm41 opened #35665 "COR_E_FAILFAST while running System.IO.FileSystem.Tests"
Ran on Surface Pro 4, Korean Windows 10 Pro 1809 (Build 17763.316)

[code]
when executing the given command separately in cmd, I got this:

[code]

[2019-02-28 21:52] bartonjs commented on #35663
* EphemeralKeySet and SslStream is a known problem (#24454)
* MachineKeySet (explicit or implicit) requires admin rights (by virtue of the fact that you're altering machine-wide state)
* UserKeySet (explicit or implicit) requires the user profile to be loaded.

Of those, the only one that really sounds like it's in your control is to load the user profile.  (I mean, if you wanted to jump in and he

[2019-02-28 21:58] AraHaan opened #35666 "Add a version of System.Windows.Forms.Application.ThreadException to System.Environment"
I would like the ``ThreadException`` event that is in the ``System.Windows.Forms`` assembly at https://github.com/dotnet/winforms/ to be in ``System.Environment`` in the ``System.Runtime`` or ``System.Runtime.Extensions`` assemblies because of the fact that a console application that spauns new threads that can possible throw exceptions that are possible not handled are not handled forcing the use

[2019-02-28 22:14] pakrym commented on #35254
I'm torn between exception and not slicing. What happens when you use a default(Range) with array?

[2019-02-28 22:16] ahsonkhan commented on #35254
cc @tarekgh - can you help answer that?

[2019-02-28 22:19] pakrym commented on #35254
I couldn't come up with a scenario where it would be useful.

[2019-02-28 22:20] maryamariyan opened #35668 "test nano"
This issue tracks the Linux failures on `Save_SimpleSettings_Ok`, a test that is added in PR https://github.com/dotnet/corefx/pull/28894.
The Linux issue may be something weird about how our machines are configured on our CI machines.

Failing on Linux with:
[code]

(Taken from comment https://github.com/dotnet/corefx/pull/28894#issuecomment-396789297)

[2019-02-28 22:24] tarekgh commented on #35254
Default Range will have 0 start index and 0 End index. The start index is inclusive and end index is exclusive.  using this range with array should produce empty array as the length of the range will be 0.

CC @agocke

[2019-02-28 22:24] tmat commented on #35661
Do [1]. Actually, don't invoke `common/build.ps1` at all. Just import `common/tools.ps1` and use the functions there directly.

[2019-02-28 22:27] tmat commented on #35661
@jkotas

That would be at least 10 repos, btw. But yes, I agree, you should not deal with VS specific parts in CoreFX.

[2019-02-28 22:27] pakrym commented on #35254
@ahsonkhan I'm leaning towards treating default(Position) as "0" position.

So `ros.Slice(default)` would return the whole thing and `ros.Slice(0, default)` would return empty.

[2019-02-28 22:36] danmosemsft commented on #35664
Thanks @Gnbrkm41 . Do you have any interest in offering a PR that makes them work on this locale?

[2019-02-28 22:40] danmosemsft commented on #35665
[code]
@JeremyKuhne apparently GetFileAttributesEx can return ERROR_SEM_TIMEOUT ..!

@Gnbrkm41 does this happen consistently/regularly? Any idea what might be special, we never got this report before?

[2019-02-28 22:44] danmosemsft commented on #35665
Hmm, could it actually be `DE_PATHTOODEEP      0x79` ? The code is the same as ERROR_SEM_TIMEOUT. Looking at Windows sources seems it is used in some case related to file redirection.

[2019-02-28 22:44] seanmcd-msft commented on #2315
Having a *standard* primitive 3 or 4 byte RGB value type for dealing with simple peripherals such LEDs and LCD panels would be helpful.  It should be independent of System.Drawing or other specific UI technology.

[2019-02-28 22:45] Gnbrkm41 commented on #35665
I actually tried running again with `build -restore -buildtest -test` and haven't got the error this time. Trying again after `clean -all`.

[2019-02-28 22:46] Gnbrkm41 commented on #35665
is there any difference between doing  `build -restore` then `build & build -buildtest -test`, and the one mentioned above? I cannot seem to reproduce it. Weird.

[2019-02-28 22:58] dotnet-mc-bot opened #35669 "Test failure: System.Diagnostics.Tests.ProcessTests/TestCheckChildProcessUserAndGroupIdsElevated(useRootGroups: False)"
Opened on behalf of @wfurt

The test `System.Diagnostics.Tests.ProcessTests/TestCheckChildProcessUserAndGroupIdsElevated(useRootGroups: False)` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190228.8 (Core Tests)
Failing configurations:
- ubuntu.1604.amd64@mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.9-helix-a1cb429-20190228124956-x64
  - Release
- Alpine.38.Amd

[2019-02-28 23:00] wfurt commented on #35669
may be result of #34961. Failing on Alpine and ARM - all running in containers.

cc: @tmds

[2019-02-28 23:00] danmosemsft commented on #35665
@Gnbrkm41 if you can reproduce, you can try running with Sysinternals process monitor in order to see what the path is that it's failing on. That might suggest whether redirection is involved.

[2019-02-28 23:05] joshfree commented on #35491
@Metalnem do you mind posting the repro code as a gist?

[2019-02-28 23:23] Gnbrkm41 commented on #35664
Actually, I am not able to reproduce the failure right now - There's one failure but it's not this one.

Weird thing though is that if I do `Console.WriteLine(System.Drawing.SystemFonts.GetFontByName("CaptionFont"));` on a Console Application (.NET Core 3.0, with `System.Drawing.Core` NuGet package installed), I do get `[Font: Name=맑은 고딕, Size=9, Units=3, GdiCharSet=1, GdiVerticalFont=False]` writ

[2019-02-28 23:36] Gnbrkm41 commented on #35665
Only getting a completely irrelevant error `
C:\Users\gotos\source\repos\corefx\src\Microsoft.XmlSerializer.Generator\tests\Microsoft.XmlSerializer.Generator.Tests.csproj(51,5): error MSB3075: The command "C:\Users\gotos\source\repos\corefx\artifacts\bin\testhost/netcoreapp-Windows_NT-Debug-x64/dotnet C:\Users\gotos\source\repos\corefx\artifacts\bin\Microsoft.XmlSerializer.Generator.Tests\netcorea

[2019-02-28 23:52] vancem commented on #35607
I know very little about ToolBoxItem, but it seems it is used in a VS designer (I vaguely remember that there was a designer for event log and system management stuff.

I could believe the designers that use these two types are broken for .NET Core, but I really don't know.

If I were you, if we have ToolboxItemAttribute in .NET Core then we should not try to provoke policy but uniformly simply pa

[2019-03-01 00:17] Foxtrek64 commented on #32959
Sorry for the delay on this guys. I had a lot of trouble getting my environment to work. You should have the requested changes now though. Do let me know if I forgot anything.

[2019-03-01 00:21] joshfree commented on #33543
@tarekgh @krwq

[2019-03-01 00:25] tarekgh commented on #33543
This proposal make sense and I believe we already have this internally implemented.

@GSPP I think we need to add the APIs that takes spans too to this proposal.

[2019-03-01 00:28] #35560 closed

[2019-03-01 00:31] danmosemsft commented on #35665
5 = access denied. I would use process monitor to get an idea where it's trying to write.

[2019-03-01 00:41] ericstj commented on #35662
I see, maybe @jcagme can help figure out how to publish the different legs of the optimization repo.  Maybe you need to give them different build ids, or something.  Not sure if darc is good about a repo publishing independent legs.

[2019-03-01 00:41] #24457 closed

[2019-03-01 00:45] hoyosjs commented on #35662
I talked to him. It's not a scenario supported by DARC/BAR/Maestro++. The only solution, at least for now, is to do a single-step publish to bar.

[2019-03-01 00:56] swaroop-sridhar commented on #13329
@thefringeninja ILMerge is a windows tool, I don't know of any plans to port ILMerge to other platforms.
The [Single-file](https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md) solution will be implemented cross-platform. This is in the process of development.

[2019-03-01 01:12] dotnet-mc-bot opened #35676 "Test failure: System.Diagnostics.TextWriterTraceListenerTests.XmlWriterTraceListenerTests/TraceData_NullDataParams"
Opened on behalf of @wfurt

The test `System.Diagnostics.TextWriterTraceListenerTests.XmlWriterTraceListenerTests/TraceData_NullDataParams` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190228.9 (Core Tests)
Failing configurations:
- OSX.1014.Amd64-x64
  - Release
- OSX.1013.Amd64-x64
  - Release
- OSX.1012.Amd64-x64
  - Release
- Fedora.28.Amd64-x64
  - Release
- Fedo

[2019-03-01 01:14] danmosemsft commented on #35676
I would guess it was because the tests were running while UTC changed from February to March, although perhaps it's a little unlikely that 6 configurations did that.

[2019-03-01 01:37] stephentoub commented on #35676
There's probably some comparison happening between a local and utc time, making it so that there's a several hour window where the month is different.

[2019-03-01 02:31] benaadams opened #35679 "API change SequenceReader.ctor pass ReadOnlySequence via in"
[code]

Drops 32-bytes of stack zeroing and this from call site
[code]
Its a 4 element struct so its unlikely to be covered by calling convention; however it is also an Aggressive Inline (albeit a frighteningly large one) and there has been speculation that the Jit could eventually elide the copy (@mikedn mentioned it on the ValueTaskAwaiter PR); though it doesn't currently.

@stephentoub raised t

[2019-03-01 03:39] davidfowl commented on #35254
That seems fine and more friendly

[2019-03-01 05:41] #34683 closed

[2019-03-01 05:49] danmosemsft commented on #35676
Ah - of course.

[2019-03-01 05:55] danmosemsft commented on #35669
Perhaps we should run Alpine.38.Amd64-x64 on checkins. (@safern

[2019-03-01 06:45] mikedn commented on #35679
It seems that the `SequenceReader` already has `AggressiveInlining` and if it inlines, the fact that the parameter is passed by value or ref shouldn't matter. If it matters then it's likely because of something that the JIT doesn't do today but could probably do later.

In general I advise caution about passing parameters by reference. If the method doesn't end up being inlined then you might just

[2019-03-01 06:57] wfurt commented on #35676
they come at wrong time to wrong place and become heroes. It would be nice nice to fix tests so they pass at any time of the day.  (if that is the problem)

[2019-03-01 07:05] jaydeept commented on #35583
Hi @wfurt ,

This issue got resolved after changing signature of `Main()` method. I did modify Main() method to return `Async Task` instead of `void`.
Here is how was my `Main `method earlier in `Startup `class:
[code]

And I had one class which I was invoking from Test case which was calling the method using `Task.Run()`

[2019-03-01 07:06] mikedn commented on #34882
Removing the duplicates is IMO a must. As for the names, well, I have no idea why MS is so obsessed with the name of intrinsics.

[2019-03-01 07:37] kbaladurin commented on #35654
Thank you! So can we add code that clears `valid` field to the `CryptoNative_X509VerifyCert` or better to add new interop method for it?

[2019-03-01 08:07] Metalnem commented on #35491
@joshfree:

Here's the gist: [Program.cs](https://gist.github.com/Metalnem/a02409b336e989dae8f33629650b1825) (the important thing when running this is to name the project/assembly as **CoreFX.Fuzz**, because the assembly name is part of the serialized data).

@danmosemsft:

This is the definition of the class I was using:

[code]

As you can see, it's just a plain class with some fields. I would e

[2019-03-01 08:09] tmds commented on #35669
[code]
It seems calling [getgroups](http://man7.org/linux/man-pages/man2/getgroups.2.html) can return something that contains the same group multiple times. I'll adjust the test for this.

[2019-03-01 08:19] devsko commented on #35254
I'm not sure if default(SequencePostion) should be equal to position 0. There is a different representation of position 0: SequencePosition(fistSegment, 0).
For me throwing  an ArgumentOutOfRangeException is the right thing.
If I had to give it a meaning, I find most intuitive when default behaves as kind of a neutral position. When used as start it is the first and when used as last it is the end

[2019-03-01 08:49] tmds commented on #35563
I was also missing the `--buildtests`.

[2019-03-01 09:37] ViktorHofer commented on #35563
Note that now the single hyphen (cross-plat) syntax also works: `-buildtests` as described in https://github.com/dotnet/corefx/issues/35661

[2019-03-01 09:41] ViktorHofer opened #35681 "RemoteExecutorConsoleApp sometimes doesn't get built when building a test project inside VS"
Looks like a p2p configuration not to be passed over correctly.

cc @ericstj

[2019-03-01 09:53] roji commented on #35592
@bgribaudo, sorry it took so long to answer - I only just recently realized this issue existed (always a good idea to mention relevant people to make sure they're aware).

First, it's really great to see this: regardless of what I think of the proposal or what happens to it, it shows that there's real interest and passion around this subject, and it makes me confident that we're on the right track

[2019-03-01 10:26] tmds opened #35685 "api suggestion: extend stdin/in/out/err control when launching a Process"
The default configuration when launching a process is the child remains connected to the terminal of the parent process.
When the application shouldn't interact with the user, it is preferable to have an easy way to disconnect the child from the terminal.

This can done by adding the following properties to `ProcessStartInfo`:

[code]

CC @jhudsoncedaron

[2019-03-01 11:33] emilssonn commented on #34095
@stephentoub, is that only per HttpClient object (I have multiple services using typed HttpClients that connects to the same domain)? What happens if the MaxConnectionsPerServer is hit?

At the moment I use a shared Polly bulkhead policy to throttle outgoing requests.

[2019-03-01 12:29] stephentoub commented on #34095
It's per handler, so if you were to use the same handler instance with multiple HttpClient instances, all of those clients would share in the same max. The parameterless HttpClient ctor creates its own handler, in which case it ends up having the same effect as being per client.

[2019-03-01 12:30] #35669 closed

[2019-03-01 13:02] avonheimburg commented on #33506
I don't quite follow that point. All we are asking for is that SSLStream on Linux be brought to feature parity with SSLStream on Windows, which automatically does session resumption. There is no way to disable that behavior on Windows, there would need to be no way to do so under Linux.

[2019-03-01 14:17] TylerBrinkley commented on #34372
Would it make sense to add a `JsonSerializerReadOptions` class that either inherits or is composed with `JsonReaderOptions` and include `IgnoreNullPropertyValue` in the new class? Same applies for writer options.

It wouldn't surprise me if we would want to add more options related to reading and writing and having some options in `JsonSerializerOptions`' `Reader/WriterOptions` property and some o

[2019-03-01 14:37] masterwok commented on #35663
I see, thanks for confirming. While fixing the EphemeralKeySet/SslStream sounds like an interesting problem, I'll probably have to pass this time haha Best of luck though!

[2019-03-01 14:37] #35663 closed

[2019-03-01 14:45] ericstj commented on #35681
Can you be more specific about a repro?

[2019-03-01 15:19] benaadams commented on #35679
Can always add both overloads?
[code]

[2019-03-01 15:28] wexman opened #35691 "PlatformNotSupportedException in XmlSerializer constructor when type to be serialized contains properties with XmlElementAttribute(Type=...)"
I think I found a bug in the constructor of XmlSerializer. It happens when the class to be serialized contains a member with an XmlElement-Attribute which specifies a Type. The constructor will (irritatingly) throw a PlatformNotSupportedException with the text "Compiling JScript/CSharp scripts is not supported".

[code]

[2019-03-01 15:44] stephentoub opened #35693 "Packaging All Configurations leg takes a really long time in CI"
This leg now ends up being the long-pole by far in CI.  It's taking around 30 minutes to build but then almost an hour in the Send To Helix phase, apparently for package validation.

cc: @ViktorHofer, @safern

[2019-03-01 15:46] GeertvanHorrik opened #35694 "[System.Management] ManagementObjectSearcher throws MarshalDirectiveException"
Version: 4.5.0
Platform: .NET Core 3.0 (WPF) app

[code]

Then I get this exception:

[code]

The exact issue is in `ManagementPath.GetWbemPath`:

![image](https://user-images.githubusercontent.com/1246444/53648732-ef303c00-3c40-11e9-8614-dc37d48aa4ac.png)

It could be caused by a "wrong" p/invoke here:

https://github.com/dotnet/corefx/blob/000aa2e0740524bdc2db690201e1b3521dd417a3/src/System.Mana

[2019-03-01 16:06] safern commented on #35693
Note that sometimes it takes 20 mins to run the tests in the Sen to Helix step. It depends on how long Helix takes to provisión machines, how clogged is the queue.

@MattGal could you please help me looking how long does this tests really end up taking, and how much they take on waiting for a machine? We could potentially move this tests to a different queue that is no that busy and has enough age

[2019-03-01 16:16] jhudsoncedaron commented on #35685
In general, this is a really good idea. I've emulated this with dumb pipes and background threads way too many times.

Starting process `stdin/stdout/stderr` closed is actually very badly defined on unix systems but glibc repairs this to avoid security vulnerabilities that have appeared in the past. Correct solution: replace the handle with a handle to `/dev/null` instead. You already have propert

[2019-03-01 16:33] tmds commented on #35685
Interesting. Updating proposed:

[code]
to:

[code]

The process that is started with `EmptyStandardInput` gets a readable standard in that is at the EOF.

[2019-03-01 16:42] rtaylor72 commented on #17002
I am having an issue with Enum.TryParse() always returning true if the string looks like any number.  This is causing major issues because there is no way to tell if the string is really a true value in the Enum or not!

[2019-03-01 16:46] rtaylor72 opened #35697 "Enum.TryParse() Is Always Returning True for String Numbers"
I am having an issue with Enum.TryParse() always returning true if the string looks like any number. This is causing major issues because there is no way to tell if the string is really a true value in the Enum or not!

[2019-03-01 16:57] #35676 closed

[2019-03-01 17:03] jcagme commented on #35662
Independent legs can publish but ideally there is only a single publish to BAR leg. In almost all other build definitions we use it a fork-closing mechanism where 1. only runs if all previous legs succeeded and 2. all the created asset manifests will be merged into one before publishing to BAR so nothing is missed. So the correct thing to do would be to:

1. Publish to the feed in as many legs as

[2019-03-01 17:03] danmosemsft commented on #35685
Thanks @tmds. Can you please keep the top post updated with your proposal (since API review look there). You might also extend the text to a bit more match the format mentioned here
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2019-03-01 17:05] ajcvickers commented on #35592
@roji Often when there is a common, simple experience that will work for most people, but then some things that may need to be tweaked or may need more access for advanced cases, we approach that by creating building blocks that allow the customization when needed but then we also create convention/sugar experiences on top of that so that it doesn't become "harder for everyone". Do you think there

[2019-03-01 17:08] ahmettahasakar opened #35698 "HttpClient has many TIME_WAIT or CLOSE_WAIT connections"
I use AddHttpClient() dependency injection to add a client to a service. At times, when I execute netstat -a on the server, I see many connections open with TIME_WAIT or CLOSE_WAIT status. I believe that these connections take up so much resource that, other TCP connections are unable to operate. Is this possible? Is there a way to stop these, and is it safe?

[2019-03-01 17:11] danmosemsft commented on #35666
@AraHaan can you give an example of code that throws an exception that you cannot conveniently handle without the `ThreadException` even handler?

[2019-03-01 17:13] adiaaida commented on #35662
Ok, so I set it up wrong. I didn't realize that was how we were meant to do things (I think the docs in arcade might be out of date).

[2019-03-01 17:21] danmosemsft commented on #35646
How curious. I cannot see how this could be platform dependent.

@wfurt have you seen anything like this.

[2019-03-01 17:21] danmosemsft commented on #35644
@ericstj any idea which is the right repo for this issue?

[2019-03-01 17:23] jcagme commented on #35662
It would be great if you could point us to such doc so we can update what's wrong/out of date.

/cc: @garath

[2019-03-01 17:37] bartonjs commented on #35697
`Enum.TryParse` parses the numbers because the ToString value from an enum might produce them.

If you want to know if it's defining the name of a field you could do something like

[code]

Or manually compare against the array from `Enum.GetNames(typeof(T))`.

[2019-03-01 17:39] danmosemsft commented on #35646
I understand that we are only just starting runs on Alpine ARM64. Maybe this is an issue below us in the platform.

[2019-03-01 17:40] danmosemsft commented on #35694
@GeertvanHorrik would you like to offer a PR? Right now our focus is on other libraries so it might be some time before we could look at this ourselves.

[2019-03-01 17:41] davidsh commented on #35698
This usually means that your code using HttpClient is not disposing of the HttpResponseMessage objects etc.

In order to provide further guidance, you'll need to submit a code sample of how you are using HttpClient.

[2019-03-01 17:49] ahmettahasakar commented on #35698
It's very standard actually. I created a named http client. I have injected IHttpClientFactory a transient service. I created a httpClient with the IHttpClientFactory.Create("namedClient") in the service constructor. Then I just started posting requests via service methods. I just followed https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2#named-clients

Th

[2019-03-01 17:56] roji commented on #35592
@ajcvickers it's certainly possible to think about two layers here - a lower-level one which doesn't flatten command results and an upper-level one which does. As you wrote, I'm also not keen to go down that path for reasons of complexity, perf, etc.

But a crucial point is that at the moment, I'm not aware of anything which wouldn't be possible with the simpler API being proposed (#35135) and tha

[2019-03-01 18:02] #35493 closed

[2019-03-01 18:06] don01001000 commented on #35644
I just noticed that the error trace I pasted is not for the same error as the one I described above. I edited the issue to correct. I updated the issue and title and will try to reproduce the other error message as well.

[2019-03-01 18:10] #35662 closed

[2019-03-01 18:21] wfurt commented on #35646
This is x64 @danmosemsft, do not get confused by amd64. This is very likely environmental problem. There were many basic tests failing with strange errors. We pulled in new Alpine image yesterday afternoon and things are more reasonable now.

https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190228.9

core-eng

[2019-03-01 18:37] David-Engel commented on #28922
We aren't seeing these failures anymore. Closing this issue.

[2019-03-01 18:37] #28922 closed

[2019-03-01 18:56] GeertvanHorrik commented on #35694
I will do it, but only for the endless credits, fame and joy it will bring!

But jokes aside, I will try to PR and fix this, might be next week. Is there a time limit?

[2019-03-01 18:57] safern commented on #35669
Should be fairly simple. We already do runs in official builds. I'll get it on a spare time.

[2019-03-01 18:58] MohammadHamdyGhanem opened #35700 "Generic with params array Math.Max and Math.Min"
Why doesn't Math class have a generic form of Max and Min like this:
[code]

So we can use them directly to compare more than two numeric values (or even any objects that implement IComparable)  like this:
[code]

[2019-03-01 19:10] jcagme commented on #35662
@adiaaida should we open (if there is non yet) a tracking bug for the optimization change?

[2019-03-01 19:12] hoyosjs commented on #35662
There's a change up for it already.

[2019-03-01 19:15] Wraith2 commented on #35700
It's easy to write it correctly and cheaply yourself so it doesn't need to be in the BCL, The BCL is a base, not exhaustive and each method has a maintenance and size cost associated with it.

There are also no other aggregates defined in Math, those are on Linq which I would assume also has a Max(IEnumerable<int>) function somewhere.

[2019-03-01 19:28] Hartdrooz commented on #32634
Same issue here, running .Net Core 2.2 on Linux Container and this happen frequently, we are using SQL Server Azure don't know if this is a factor.  Any update on this ?

[2019-03-01 19:42] mconnew commented on #35561
For the .NET Framework sgen.exe tool, it don't think it matters either way as it can't work with an assembly targeting netstandard. The problem is a data assembly will be compiled against the reference assembly netstandard.dll but sgen has no capability to find reference assemblies so it ends up using runtime assemblies. The runtime assembly netstandard.dll for the .NET Framework is just a façade

[2019-03-01 19:46] brunocapu opened #35702 "C14N transform not omitting xml default namespace"
# Bad C14N

The [XmlDsigC14NTransform](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.xml.xmldsigc14ntransform.-ctor?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(System.Security.Cryptography.Xml.XmlDsigC14NTransform.%2523ctor)%3Bk(DevLang-csharp)%26rd%3Dtrue&view=netcore-2.2) (and other Transforms) class does not om

[2019-03-01 20:15] roji commented on #35592
One additional important note about CommandBehavior. In your proposal there are two places where CommandBehavior can be specified:
1. `DbCommandSetResults.GetReader()`
2. `DbCommandSet.Add()` (and `AddRange()`).

The first one doesn't work as I explained above, since it occurs after everything has already been sent to the database, and so cannot really impact performance as it should.

However, th

[2019-03-01 20:23] ericstj commented on #35644
It looks to me like RazorTagHelper isn't honoring the SDK location but instead finding dotnet on the path.

Code appears to live here:
https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/RazorTagHelper.cs

Here's the bug:
https://github.com/aspnet/AspNetCore-Tooling/blob/0598ec449702813456129996dc854b75ac64649a/src/Razor/src/Microsoft.NET.Sdk.Razor/Dotnet

[2019-03-01 20:26] roji commented on #31595
Discussed again with @divega and we feel that this proposal should indeed include the string overloads for `GetFieldValueAsync()` and `IsDBNullAsync()`, returning Task. The idea here would be to maintain API consistency - if all other column getters have these overloads, we don't see why this one shouldn't. We think that other overloads returning ValueTask (and possibly behaving better with regard

[2019-03-01 20:27] MohammadHamdyGhanem commented on #35700
@Wraith2
All Math methods are easy to write. Max(a, b, c) is frequantly used more than huperpolic functions.
And I am not talking about collections here. Why have I to put three or four values in an array just to compare them?

[2019-03-01 20:55] mikedn commented on #17002
You can use `Enum.IsDefined` to check if the parsed values has a corresponding enum member.

[2019-03-01 21:02] jkotalik opened #35703 "Make Pipe limits not throw when hitting backpressure and instead call Complete on the writer awaitable"
Today, when hitting backpressure when calling AdvanceReader in Pipes, we normally would just throw saying we hit backpressure preventing a deadlock. This has a few issues though:

- Whoever is calling AdvanceTo on the pipe has no idea whether the call will hit backpressure or not.
- There is simply no way to use a Pipe to buffer something larger than the pause/reader threshold.

The change would i

[2019-03-01 21:08] Wraith2 commented on #35700
Using params would create an array, granted it's done for you but it still requires a container object. The alternative is providing multiple overloads of the function with different arities which increases the surface area.

As I said, you can easily build your own n-ary max using the base Math.Max function and it's hard to get wrong so there is no immediate need for it. The base methods can be i

[2019-03-01 21:09] danmosemsft commented on #35646
Ah. That won't be the first time I misread AMD64 and ARM64. 👓

[2019-03-01 21:09] pakrym commented on #35703
@halter73 proposed a much better solution of applying backpressure limits to the amount of non-observed data instead of non-consumed. This both gives us the desired behaviour and avoids
thrashing.

[2019-03-01 21:12] pranavkm commented on #35644
This issue was moved to aspnet/AspNetCore#8110

[2019-03-01 21:12] #35644 closed

[2019-03-01 21:16] jkotalik commented on #35703
Yeah that’s a lot better.

[2019-03-01 21:33] ericstj commented on #35644
Thanks @pranavkm

[2019-03-01 21:34] MohammadHamdyGhanem commented on #35700
@Wraith2
Max and Min already has dozen overloads to use different numeric types, so it will not heart to add 3 more generic overloads to have 3, 4 and 5 params which will cover most of use cases.

[2019-03-01 21:56] tannergooding commented on #35700
`Math.Max` and `Math.Min` are not always guaranteed to operate the same as `CompareTo() > 0` or `CompareTo < 0`, respectively. The floating-point types (`double` and `float`), in particular, have special semantics defined in the IEEE 754 specification that if either parameter is `NaN` then the other parameter should be returned (and it is implementation defined which `NaN` is returned if both inpu

[2019-03-01 22:00] yujayee commented on #35691
Thank you for reporting this issue @wexman.
According to documentation [here](https://docs.microsoft.com/en-us/dotnet/api/system.xml.serialization.xmlelementattribute.type?view=netcore-3.0), Type property is to specify a derived type for a field or property. In your code snippet, `SomeSerializationHelper<AnotherTestClass>` is not derived from `AnotherTestClass`, so the exception is expected.

[2019-03-01 22:06] #35288 closed

[2019-03-01 22:35] Dixin commented on #35552
@joshfree @tarekgh Thank you for labeling this issue. Since it is now in the Future Milestone ([issues not triaged to a planned release. Work in this milestone may happen, or may not](https://github.com/dotnet/corefx/milestone/5)). Does it mean there is not much chance of actions for the next release? Please suggest what should I do next.

[2019-03-01 22:40] tarekgh commented on #35552
We'll look at the details to ensure the proposed APIs is reasonable and then we'll have the issue reviewed by the design committee. expect will get traction on this when we ship 3.0. if you didn't see any activities by then, please ping us. Usually we'll get into that in right time. Thanks for the proposal.

[2019-03-01 22:54] jkotalik opened #35707 "Api proposal: Make SequenceReader.TryReadTo* accept an int for maxReadSize"
## Rationale

When using SequenceReader, it would nice to be able to limit calls to TryReadTo by passing an int for a maxReadSize. This would make all calls to TryReadTo* return preemptively if they read too much. These apis would be useful for parsing scenarios where we have a limit on the max length allowed for a value.

Without this API, I don't see a great way to limit a read size without slic

[2019-03-01 23:09] jkotas opened #35708 "System.Diagnostics.Tests.ProcessTests.CheckUserAndGroupIds test failure"
Failed in https://github.com/dotnet/corefx/pull/35606/checks?check_run_id=71345269 on Ubuntu.1604.Amd64.Open-x64-Release:

[code]

[2019-03-01 23:30] bartonjs commented on #35702
I just went code spelunking, and it looks like that function has had that definition (with the commented out code) since it was introduced in .NET Framework 1.1 (back in 2003).

Running the corefx tests doesn't show that anything that we test depends on this behavior; but that's both good and bad... I'm 99.9% sure that this wouldn't meet the requirements for an update to .NET Framework without a "

[2019-03-01 23:40] #34933 closed

[2019-03-01 23:49] Dixin commented on #35552
Thank you @tarekgh. I will wait by then.

[2019-03-02 00:00] JeremyKuhne commented on #35707
Can you provide some "real world" examples? The big trick here is we spent months needling to make these APIs as fast as possible- additional checks do register in the perf traces (as well as any additional arguments being passed around). Not saying we can't, we just need to be really careful and measure everything. :)

[2019-03-02 00:52] MohammadHamdyGhanem commented on #35700
@tannergooding
Ok, I already moved away from param array, and suggested:

They can written carefuly to avoid the rounding and NaN issues you mentioned, amybe just calling Max(a,b) overload to compare values in pairs.
Many times, I had to write somthing like this in my code, and aleays felt bad about it:
`var x = Math.Max(c, Math.Max(a, b));'
This gets uglier if you're compering 4 values. So, Why c

[2019-03-02 00:58] #28784 closed

[2019-03-02 01:00] MohammadHamdyGhanem commented on #35700
By the way, I asked C# team to add a Numeric constraint to allow us to deal with type params of basic numeric types, so it can use arithmetic and logic operations, but it didn't happen! Such a constraint will save writing tons of code used in overloads or type check conditions just to to deal with Math operands and vectors of different numeric types!

[2019-03-02 01:04] danmosemsft commented on #32959
WAiting on https://github.com/dotnet/corefx/pull/35673.

[2019-03-02 01:07] danmosemsft commented on #35694
No, but the sooner you do it the sooner you have the fix 😉

Please do let us know if you need any help with setup, etc. The materials in the documentation folder in this repo should cover it all. Start with the developer guide.

[2019-03-02 01:07] MohammadHamdyGhanem commented on #35700
Or, you can solve the problem in CoreFx by defining IArithmetic Interface that contains method for both arithmetic and comparison operations, and make all the numeric types implement it, so we can use it as a constraint

[2019-03-02 01:15] MohammadHamdyGhanem commented on #27167
@yaakov-h
I tried the Enum constraint but it refuses to use int as type params, saying int can't be converted to Enum. So, unfortunately, Enum is not for basic numeric types!

[2019-03-02 01:31] stephentoub commented on #35708
cc: @tmds

[2019-03-02 01:43] Wraith2 commented on #35700
A new interface wouldn't help because you can't define operators in interfaces and you don't use method to add numbers you expect arithmetic operators to work. Assuming that everyone was ok with stopping using operators and would move to the interface you're now adding an interface to an intrinsic type provided by the runtime. int float etc are special and you're going to cause a lot of reflection

[2019-03-02 02:04] DragonSpit opened #35710 "Linq sort .AsParallel is not stable when .AsP"
Under the following usage Linq sorting is stable and parallel:

uint[] ArrayOne = { 21, 43, 16, 5, 54, 3 };
uint[] sortedArrayOne;

sortedArrayOne = ArrayOne.AsParallel().OrderBy(i => i).ToArray();

However, placing .AsParallel() as follows is still parallel, but becomes unstable:

sortedArrayOne = ArrayOne.OrderBy(i => i).AsParallel().ToArray();

Both versions should be parallel and stable.

[2019-03-02 02:14] wexman commented on #35691
Didn't know that the type had to be derived from the declared property type, it didn't have to in .net framework, so it is at least inconsistent behavior. And even if that would be intended, the exception is extremely misleading, both exception type (platform not supported?) and text (Jscript?!? Compiling scripts?!?)

In .net framework, it didn't actually have to be derived, even if the docs say s

[2019-03-02 02:18] MohammadHamdyGhanem commented on #35700
@Wraith2

Numeric generics issue can be solved as a special language feature. Roslyn can use a Nymeric constraint so it can treat the T variable as a dynamic object, allowing any arithmitic and logic operators, without giving design time errors.  Giving that the numeric constraint will alllow the type param only to be of basic numeric types (byte, int, float, ... etc) these operators will be OK at

[2019-03-02 02:39] stephentoub commented on #35698
That example should be disposing of the HttpResponseMessage that results from awaiting the SendAsync call. Can you try doing the same in your code and see if that makes a difference?

[2019-03-02 03:16] stephentoub commented on #35710
PLINQ's OrderBy is explicitly documented to not be stable:
https://docs.microsoft.com/en-us/dotnet/api/system.linq.parallelenumerable.orderby?view=netframework-4.7.2
"In contrast to the sequential implementation, this is not a stable sort."

[2019-03-02 03:16] #35710 closed

[2019-03-02 03:22] DragonSpit commented on #35710
Thank you Stephen!

[2019-03-02 03:25] danmosemsft commented on #35708
Xunit could be more useful than
[code]

[2019-03-02 03:52] jkoritzinsky commented on #35694
Have you tried the newest preview version of the System.Management package? When we added that exception, we also updated System.Management to use char arrays instead of strings for those out parameters.

[2019-03-02 03:53] davidsh commented on #35698
Example of a better recommended pattern:

[code]

[2019-03-02 04:02] jkotas commented on #35419
Exposed by https://github.com/dotnet/corefx/pull/35606

[2019-03-02 04:02] #35419 closed

[2019-03-02 04:44] divega commented on #31595
@roji I have added the label before I forget, but could you please make sure before Tuesday we have the right set of APIs for review on the first comment? E.g. the extension methods, including the two existing async methods? I can close the issue I created for the async ones afterwards.

I was also re-reading the initial comments from @benaadams and now that we have to do extension methods anyway,

[2019-03-02 05:10] jkotas commented on #35697
Duplicate of https://github.com/dotnet/corefx/issues/17002

[2019-03-02 05:10] #35697 closed

[2019-03-02 05:29] Clockwork-Muse commented on #35710
...Although what we're looking at here isn't the stability of `OrderBy()`, but the stability of `ToArray()` - PLINQ only provides parallel operations to the right of the `AsParallel()` call, not the left.
PLINQ doesn't actually know that the enumerable you've handed it in the second case is ordered - it doesn't check for the type returned by the sequential `OrderBy()`, and thinks it's a regular `I

[2019-03-02 05:56] davidfowl commented on #30689
We're going to be making this change as part of 3.0 https://github.com/dotnet/corefx/issues/35703. Closing this issue out. Thanks for the discussion.

[2019-03-02 05:56] #30689 closed

[2019-03-02 08:25] GeertvanHorrik commented on #35694
@jkoritzinsky just tried 4.6.0-preview.19073.11, but that seems not to work either. Will double check next week, if it doesn't work, I will fix & PR.

[2019-03-02 11:19] GeertvanHorrik commented on #35694
Just forked & build a local copy using the latest sources, and that no longer contains the exception! No need to create a PR, but I learned how to fork & build corefx so still lots of added value 👍

[2019-03-02 11:19] #35694 closed

[2019-03-02 12:48] AlexeiScherbakov commented on #34372
Also it will be usefull to have something like custom Exression serializer builder
[code]
It will be usefull when class is separated from json serializer logic

[2019-03-02 12:52] #30350 closed

[2019-03-02 15:13] ahmettahasakar commented on #35698
It looks like it worked. Thank you. Perhaps you should update the code on Microsoft site as well.

[2019-03-02 15:19] karelz commented on #33506
To clarify priority: This is not high on our priority list and will most certainly not happen in 3.0.
If anyone has idea how to fix it, we would welcome a contribution (I'd recommend to start with discussion how to fix it first).

[2019-03-02 15:33] DragonSpit commented on #35710
Is there a way to keep the whole process still stable overall? Otherwise, this still seems like a bug and making .ToArray() stable should be much simpler than making parallel sorting stable, since it already seems to be stable.
My stability tests show that the first usage seems to be stable, whereas the second usage fails stability tests. This is not necessarily a fully conclusive result, and Step

[2019-03-02 16:07] pasikarkkainen commented on #24843
@karelz yeah, well, wrapping libldap.so is an option aswell. Pretty much what @dogguts did.

@dogguts how has your POC been working? What's currently missing?

[2019-03-02 17:06] MihaZupan commented on #34233
@tomesendam if you want I can open the api proposal issue

I think that a base parallel foreach should accept a `Func` that takes a `CancellationToken`.
[code]
The same CT that is passed in `ParallelOptions` can then be passed along.

There could be other overloads, not accepting a CT for the body that would call the "base" overload, discarding the CT.

So in essence:
[code]

[2019-03-02 17:15] maryamariyan commented on #18832
_From @ericstj on Feb 28, 2019, 8:49 PM PST_

I don’t think this should be failing with NotSupported. I’d expect this to just forward to the desktop implementation. The linked issue looks like it’s lacking a good root cause analysis.

[2019-03-02 19:07] jefffhaynes opened #35716 "Add Socket.ReceiveFrom overloads that accept Span<byte>"
Currently it is possible to perform a socket receive from a connection-oriented protocol using Socket.Receive(Span<byte>, ...).  In some cases it would be desirable to do the same for datagrams, especially in high-performance streaming scenarios.  However, currently the Socket.ReceiveFrom method, necessary to receive datagrams from unconnected sources, does not include any overload which accepts a

[2019-03-02 19:14] memoryfraction commented on #574
+1

[2019-03-02 19:15] memoryfraction commented on #574
In which version of .Net Core can we begin to use PriorityQueue?

[2019-03-02 19:19] tomesendam commented on #34233
@MihaZupan Thanks! @tarekgh I'll look into everything next week as I have a week off then. But maybe I can find time this weekend!

[2019-03-02 19:22] davidsh commented on #35716
See similar issues: #28131 #30915

[2019-03-02 19:39] wfurt opened #35717 "tests failing epically with LANG='C.UTF-8' on Alpine"
Since Alpine/musl-linux does not really have locale like glibc based distributions, this inherently default.  However, when set explicitly, many tests do fail with strange errors:

for example Microsoft.VisualBasic.Core.Tests
[code]
related to  #35646 and  #32250

According to discussion in #32250, this is "expected".
We should update tests so they do not fail with default system setting. I also t

[2019-03-02 19:40] wfurt commented on #35646
I opened #35717 to tack issues with LANG='C.UTF-8'
The Alpine image has been updated and this test class is no longer failing.

[2019-03-02 19:40] #35646 closed

[2019-03-02 19:43] Clockwork-Muse commented on #35710
...`ToArray()` isn't stable here because PLINQ doesn't know it "needs" to be kept stable.  It knows you gave it an `IEnumerable<T>`.... and that's it.  It doesn't know you cared about the order of the elements.  If you want the same ordering in your output, you have to explicitly tell PLINQ that.

It's like you told a couple of kids to put away a set of markers you previously neatly sorted by name

[2019-03-02 19:45] wfurt commented on #32250
This still seems wrong @tarekgh I could see that the lang could impact default comparison but I would expect functions where explicitly asked for "IgnoreCase" do case-insensitive comparison.

[2019-03-02 20:21] danmosemsft commented on #574
@memoryfraction .NET Core itself does not have a PriorityQueue yet (there are proposals - but we have not had time to spend on it recently). There is no reason why it has to be in the Microsoft .NET Core distribution however. Anyone in the community can put one on NuGet. Perhaps someone on this issue can suggest one.

[2019-03-02 21:13] danmosemsft commented on #35694
@GeertvanHorrik in that case do you have any interest in contributing something else 😃  What are your interests?

https://github.com/dotnet/corefx/issues?q=is%3Aopen+is%3Aissue+label%3Aup-for-grabs

[2019-03-02 21:25] jefffhaynes commented on #35716
After playing with this some more, there's really no great workaround.  Also, I think it's worth noting that the underlying PAL seems to implement ReceiveFrom with Span, but it isn't exposed.

[2019-03-02 21:34] danmosemsft commented on #35088
Up for grabs. If anyone in the community is interested in having a go at this, please let me know so that I can make sure you don't waste time on the libraries we don't want to change (the ones that ship downlevel)

[2019-03-02 21:42] danmosemsft opened #35719 "Documentation available for new Azure CI pull request commands"
See https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/pullrequest-builds.md

Creating this issue merely to pin to the top of the homepage, as an experiment.

[2019-03-02 21:42] #35719 closed

[2019-03-02 21:44] danmosemsft commented on #35717
If we fix tests to be robust against this we probably should add CI coverage to protect that or it will rot.

[2019-03-02 21:57] danmosemsft commented on #35661
Should we put this info into a markdown? I guess it could get out of date there, but equally if this is the documentation it could get out of date here.

I pinned it meantime.

[2019-03-02 22:21] jkotas commented on #35661
Yep, this issue should not be the documentation. This issue is an announcement about what changed recently, and it will be irrelevant and outdated in month once more things change.

We should make sure that the (existing) repo documentation is up to date and reflects the current state. For example, the main developer guide doc https://github.com/dotnet/corefx/blob/master/Documentation/project-docs

[2019-03-02 22:48] danmosemsft commented on #34809
Still reproing.

[2019-03-02 23:11] danmosemsft opened #35722 "On Windows ARM64, serial ports"
This means that in Windows IoT, ports were not found under HKLM\HARDWARE\DEVICEMAP\SERIALCOMM (by product) that were found under QueryDosDevice (by test)

This was discussed here https://github.com/dotnet/corefx/issues/18023 and apparently it hides real ports.
[code]
https://mc.dot.net/#/user/dotnet-mc-bot-2/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Farm64/test~2Ffunctional~2Fcli~2F/20190302.5/wo

[2019-03-02 23:13] danmosemsft commented on #18023
Looks like (we?) dropped the ball here and never fixed this. I am setting up an official Windows IoT run(*) and this test is failing there #35722.

(*) we have still not declared formal support but the test results otherwise look good.

[2019-03-02 23:18] danmosemsft commented on #35661
Maybe this is what is referred to above, but `-?` is still wrong:
[code]

[2019-03-02 23:31] danmosemsft commented on #35722
We should also manually run all the serial port tests on Windows IoT on a box with actual serial hardware.

[2019-03-02 23:36] ahmettahasakar commented on #35698
Nope. I spoke too early. Again I have over 4000 CLOSE_WAITS right now with `response.Dispose()` added. Do you think setting a `Connection: close` would help and is it necessary? @davidsh @stephentoub

[2019-03-02 23:36] stephentoub commented on #35698
Can you please share a repro?

[2019-03-02 23:40] danmosemsft opened #35724 "JSON tests timing out on some distros"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F35100~2Fmerge/test~2Ffunctional~2Fcli~2F~2Fouterloop~2F/20190302.1/workItem/System.Text.Json.Tests/wilogs

Dump files aren't working but I see these
[code]

They appear on several instances, the entire library only gets 10 minutes, can you make these much faster, maybe that will be enough?

@ahsonkhan

[2019-03-02 23:41] danmosemsft commented on #35724
https://github.com/dotnet/corefx/pull/35100

[2019-03-02 23:41] ahmettahasakar commented on #35698
It will take some time to prepare the repro. But meanwhile if it will help. Below is the `netstat -a` shows. Over 4000 rows of it. I'm using it to send push notifications to Firebase Cloud Messaging. And as I stated, i don't set base url. I just do http post with full urls, if it makes a different. So maybe Google is doing some weird stuff with their load balancers and servers perhaps to keep the

[2019-03-02 23:51] jkotas commented on #35708
Failed again in https://github.com/dotnet/corefx/pull/35720

[2019-03-03 00:27] ahsonkhan commented on #35724
I will see what I can do on Monday. At the very least, this test should be outerloop. Thanks for bringing it up.

[2019-03-03 00:33] danmosemsft commented on #35724
We are trying to get outerloop consistently green (without retries). If it is not fast, certainly it should be outerloop, but it is not a place for flaky tests (in case that's what you meant..)

[2019-03-03 00:35] ahsonkhan commented on #35724
This test shouldn't be flaky and pass consistently. I'll verify before moving it though.

[2019-03-03 00:51] tarekgh commented on #32250
@wfurt did you read the comment https://github.com/dotnet/corefx/issues/32250#issuecomment-420749205? it has the explanation there. IF you don't like the behavior switch off from POSIX and C.

[2019-03-03 00:56] tarekgh commented on #35717
The comment on https://github.com/dotnet/corefx/issues/32250#issuecomment-420749205 for more info. please switch such images to use different defaults than POSIX and C.

Also, my knowledge on Alpine we use the invariant mode. do you install ICU there?

[2019-03-03 02:42] danmosemsft opened #35727 "System.Linq.Parallel tests hang on NETFX"
Was https://github.com/dotnet/core-eng/issues/5399

The problem seems to be the messaging generated by the 200K tests in this single assembly. In the NETFX configuration, xunit runs tests in a separate appdomain, and passes "test started" "test finished" etc to the main app domain using .NET remoting. It appears this is overwhelmed - when I break in I see 100K+ messages in its queue. .NET Core obv

[2019-03-03 02:57] danmosemsft commented on #35727
Disabling appdomains takes the "rundown" time down to ~1 sec
[code]

[2019-03-03 03:29] danmosemsft commented on #35727
These libraries have over 50K tests. I'll make the same change to S.L.Expressions.

[code]

[2019-03-03 04:05] danmosemsft commented on #35491
<details>
    <summary>Pasted code below</summary>
    <p>
 
[code]
</p></details>

[2019-03-03 04:08] danmosemsft commented on #35491
@ViktorHofer these seem like expected exceptions in the face of arbitrary input. Do you agree? I guess we should update docs.

[2019-03-03 04:14] danmosemsft commented on #35369
Also relevant (especially for port to 2.1) is how many reports we get from customers of this actually causing impact.

[2019-03-03 07:52] ViktorHofer commented on #35661
Unfortunately -? invokes the native powershell help. I haven't yet found a hook to override that.

[2019-03-03 07:53] kislovs commented on #35088
@danmosemsft I'm the guy from the community who is interested to help with that. Please, tell what libraries you want to clean up. And, if it's possible, give a couple of examples to help understand what exactly you want to clean up (I think it's be helpful for any future helpers).

[2019-03-03 08:00] ViktorHofer commented on #35661
@jkotas I tried to keep the Developer guide updated. Apart from the clean scripts which were replaced by the clean command, what are you missing?

I agree that the scenario table could be useful in the docs. We might want to add it and overhaul the developer-guide with it, which is currently hard to read.

[2019-03-03 08:16] #35703 closed

[2019-03-03 08:36] ppekrol opened #35730 "Discrepancy between Utf8Parser and double.TryParse between x64 and x86"
Hi,

I'm using .NET Core 2.2.2 and this is my code:

[code]

The output on x64 (Windows) is as follows:

[code]

And the x86 (Windows) output is:

[code]

Please note that `double.TryParse` is handling the difference between 'R' format on both platforms in the same manner, but `Utf8Parser` does not.

I'm aware that 'R' format does not guarantee successful round-trips, but I would expect the same b

[2019-03-03 10:29] vermorel commented on #4491
We have finally rolled our own open-source version of `AssemblyBuilder.Save` based on `System.Reflection.Metadata` (and no further dependencies). It targets .NET Standard and works under .NET Core. It does support dynamically generated assemblies.

Check-out https://github.com/Lokad/ILPack Feedback will be most welcome.

[2019-03-03 11:46] AntonDavydov1 opened #35732 "System.BadImageFormatException"
Hello!

I have **.Net Core 2.1** project with following code:

`Tools.Serialize(new Dictionary<string, object> { { "1", null } });`

The method Tools.Serialize placed in **.Net Framework 4.5.1** project (to which **first one refers to**). This method looks as follows:

`public static string Serialize(Dictionary<string, object> d)
        {
            var serializer = new JavaScriptSerializer();

[2019-03-03 13:31] ahmettahasakar commented on #35698
@stephentoub  I have created a test repo for this. https://github.com/ahmettahasakar/HttpClientTest
I made it so that there are 100 concurrent posts to Firebase Cloud Messaging. Even though I post blank payloads, the connections still seem to stay open.

In order for project to work, you need a Firebase authentication file. You can generate one easily from https://firebase.google.com/docs/admin/se

[2019-03-03 13:53] stephentoub commented on #35698
Thanks. I'll take a look.

It's expected that the connections stay open. You don't want them to stay open at all? By default connections are kept alive in a connection pool for several minutes in order to avoid the expense of creating and tearing them down for every request.

[2019-03-03 14:10] ahmettahasakar commented on #35698
@stephentoub  I don't mind having the connections open. As you said, it's good to reuse them for performance. However, I think there is something else going on here.

Although I post requests to the same URL, I believe because of Google's load balancers and DNS settings, it connects to different server most of the time. So it rarely reuses the same opened connection. And when I do 1000 posts, inst

[2019-03-03 14:25] NickCraver commented on #30644
Just saw pings - we haven't gotten to this at all. I doubt it'll make it high up enough our priority list to dig in further. The issue I hit was I don't see how to do this without adding overhead *everywhere* and I wasn't sure if that was a futile effort for never being worth the performance trade-off.

[2019-03-03 14:42] jkotas commented on #35661
Here are a few:
- The full/half-full/empty dots in the platform matrix at the top do not match current state, arm64 is missing. (I think it would look better if the table is just full dots and empty cells.)
- It does not mention that both `-` and `--` work on Unix.
- It mentions integrationTests that are not a thing

Maintaining good docs is hard. Thanks for doing that!

[2019-03-03 16:11] danmosemsft commented on #35661
build.cmd wraps build.ps1 doesn't it? Why does it invoke the latter if the parameters include /?

[2019-03-03 17:21] ViktorHofer commented on #35661
Not sure I follow. The build.cmd does nothing else than invoke the build.ps1 scripts with all arguments passed in.

[2019-03-03 17:42] ViktorHofer commented on #35661
Thanks, updated the doc. I updated the table but am not 100% sure if the support matrix is right, please take a look.

[2019-03-03 18:07] danmosemsft commented on #35661
Can't it translate /? To -h before it passes them.

[2019-03-03 18:09] ViktorHofer commented on #35661
/? is not the problem, -? is. Not sure, I think a better option would be to call the help powershell function from the cmd.

[2019-03-03 18:57] Eilon opened #35738 "await SmtpClient.SendMailAsync never ends"
_From @BogCZE on Tuesday, 26 February 2019 21:31:18_

### Describe the bug
Hi guys,
We've got problem with SmtpClient.SendMailAsync method. When try to send MailMessage with null or empty Body SendMailAsync never ends or throws exception and thread is stucked.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2.1'
2. Run this code - not full code just the

[2019-03-03 18:57] Eilon commented on #35738
_From @muratg on Tuesday, 26 February 2019 22:44:20_

@BogCZE you may want to move this bug to `dotnet/corefx` repo. It doesn't appear it's related to ASP.NET Core.

[2019-03-03 18:57] Eilon commented on #35738
_From @benaadams on Tuesday, 26 February 2019 23:07:22_

Link here https://github.com/dotnet/corefx

[2019-03-03 19:45] JeremyKuhne commented on #35167
I want to get this change in for 3.0 as it is technically breaking. I think we've satisfied @vancem feedback for the bar on this. @mikernet, do you have an interest in creating a PR for this?

This simplification will make my non allocating proposal easier to pull off as this logic is hard to replicate.  https://github.com/dotnet/corefxlab/pull/2595

[2019-03-03 20:48] geoffkizer commented on #35698
Are you sure you are using the same HttpClient instance each time?

If you are using the same URL and the same HttpClient instance, then connections should be reused, regardless of stuff like DNS round robin.

[2019-03-03 21:01] ahmettahasakar commented on #35698
@geoffkizer I create the initiliaze with the line below
` _client = clientFactory.CreateClient(FirebaseServiceClient);`

So from my understanding from https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2#named-clients The transient services are supposed to use the same client. Am I wrong? Isn't the whole point of IHttpClientFactory to manage HttpClients to be

[2019-03-03 21:05] geoffkizer commented on #35698
I'm not really familiar with the IHttpClientFactory stuff; this is not part of HttpClient proper.

As a quick test, try something like `Console.WriteLine($"{_client.GetHashCode()}")` each time before you use it.

[2019-03-03 21:08] ahmettahasakar commented on #35698
@geoffkizer I asked the same question in https://github.com/aspnet/Extensions/issues/1196 . @muratg  said that it's a HttpClient issue

[2019-03-03 21:13] geoffkizer commented on #35698
It could well be an HttpClient issue, but it would be good to verify that you are actually using the same HttpClient instance here.

[2019-03-03 21:15] Marusyk commented on #35007
Hello @MarcoRossignoli,
I've tried to fix that but it seems was wrong place. I've followed this

and added that headers manually (just for test) but it doesn't fix the problem. I can't debug it (don't know how).

[2019-03-03 21:24] ahmettahasakar commented on #35698
@geoffkizer You are right. The `GetHashCode()` is different for each client

[2019-03-03 21:27] geoffkizer commented on #35698
Great, thanks for the info.

[2019-03-03 21:41] stephentoub commented on #35491
NullReferenceExceptions should never happen, even if the input is invalid.  That should be fixed.

OutOfMemoryException can happen in many APIs, e.g. File.ReadAllText could OOM, and we don't document that; it's just the nature of the system.  That doesn't need to be documented.

The rest of these are because the input data is corrupt and BinarySerializer can't make sense of it.  I'd suggest these

[2019-03-03 21:54] stephentoub commented on #35698
HttpClientFactory.CreateClient is guaranteed to return a new HttpClient instance each time, but it may wrap a shared HttpMessageHandler, which is actually what would be pooling connections.
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.ihttpclientfactory.createclient?view=aspnetcore-2.2
so the hash code of the HttpClient instance being different unfortunately doesn't necessarily mean

[2019-03-03 21:58] ahmettahasakar commented on #35698
So what's the problem then? 😕

[2019-03-03 22:20] danmosemsft commented on #35491
That makes sense to me, catch and wrap, and fix the NRE.

[2019-03-03 23:17] ahmettahasakar commented on #35698
I did a quick debug. Perhaps it will give you a better picture. If I make HttpClient static (HashCode remains the same), then only a few connections open. The connection seems reused.

If I create a named HttpClient, HashCode changes each time as it's supposed to. However, as you mentioned HttpMessageHandler is supposed to be reused. I have verified that in fact this is happening. IHttpClientFacto

[2019-03-03 23:26] stephentoub commented on #35724
My understanding is this is configurable. We should consider making it bigger, at least for outerloop. Sometimes long running tests are unavoidable, in particular when testing edge cases. Obviously we should strive to run tests as quickly as possible and not use a longer timeout as a crutch.

[2019-03-03 23:34] davidsh commented on #35738
I've reproduced the hang with .NET Core 2.2.

It doesn't seem to hang if the SmtpClient.Send() API is used instead.

[2019-03-04 00:19] danmosemsft commented on #35730
@tannergooding

[2019-03-04 00:24] kmhigashioka commented on #35088
Me too 🙋‍♂️

[2019-03-04 00:47] rui-ktei commented on #33594
Hi guys, just want to mention that, this is currently affecting our production. @davidsh is there going to be a fix in versions 2.x? Thank you very much.

[2019-03-04 00:52] danmosemsft commented on #35708
Doesn't seem to be failing today.

[2019-03-04 01:09] danmosemsft commented on #35088
@kislovs @kmhigashioka welcome.

You are looking for
1. Unit tests that _only_ apply to .NET Framework. These should simply be deleted

Tests are marked to only run on .NET Framework using attributes like this `[SkipOnTargetFramework(~TargetFrameworkMonikers.NetFramework)]`. Such tests can simply be deleted.

2. Paths within other tests that only apply to .NET Framework. These paths should be dele

[2019-03-04 01:10] danmosemsft commented on #35088
@ericstj what is the simplest way to designate the libraries that are still shipped for .NET Framework?
Eg., they have a pkgproj and within that is a `ProjectReference` to their src whose `SupportedFramework` list includes `net...`. Is that right? Is there a better way?

[2019-03-04 01:35] danmosemsft commented on #35724
In that context presumably the timeout is the same across architectures including some whose hardware is much slower than a dev machine. Soon we will stand up regular 32 bit ARM runs. So on a dev machine the tests ought to consistently finish well within whatever timeout they have.

[2019-03-04 01:43] danmosemsft commented on #35203
This type is actually internal to DCS.

[2019-03-04 04:44] wfurt commented on #35717
This is primarily about working out of box in each distribution. One should be able to tun tests or production code without much fiddling IMHO. I did not go back to far but current Alpine image has icu 62.1 - similar to other distributions:

[code]

[2019-03-04 04:56] kislovs commented on #17905
In [start post](https://github.com/dotnet/corefx/issues/17905#issue-219402729) `System.Console` marked as done, but in [regenerated data](https://github.com/dotnet/corefx/issues/17905#issuecomment-424893880) it's not marked. I found that it's only some `SR`'s strings are needed to be cleared.
So, @ericstj, is it kind of mistake or I can take a look on other libraries and fix such small dead codes?

[2019-03-04 04:56] wfurt commented on #32250
Yes, I did read through and I think the argument is not correct.
  I did also testing with native libc implementation and strcasecmp() keeps comparing in case _insensitive_ matter regardless of LANG.
I did not find any documentation suggesting that CurrentCultureIgnoreCase may or may not perform case insensitive matching.

[2019-03-04 05:15] wfurt commented on #32250
https://wiki.musl-libc.org/functional-differences-from-glibc.html
musl-linux like Alpine is different from other distributions. The "normal" ways how to generate or changer locale does not quite work.
https://bugs.alpinelinux.org/issues/7374

[2019-03-04 06:20] MkazemAkhgary opened #35742 "Stable BinarySearch overload"
It would be nice to have this options for Array/List BinarySearch methods.

[code]

And here is the quick implementation

[code]

[2019-03-04 06:28] dotnet-mc-bot opened #35743 "Test failure: System.Diagnostics.Tests.CounterSampleCalculatorTests/CounterSampleCalculator_ElapsedTime"
Opened on behalf of @AriNuer

The test `System.Diagnostics.Tests.CounterSampleCalculatorTests/CounterSampleCalculator_ElapsedTime` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190303.8 (Core Tests)
Failing configurations:
- Windows.10.Arm64-arm64
  - Release

Details:
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/typ

[2019-03-04 06:35] dotnet-mc-bot opened #35744 "Test failure: System.Drawing.Drawing2D.Tests.GraphicsPathTests/AddArc_Rectangle_Success"
Opened on behalf of @AriNuer

The test `System.Drawing.Drawing2D.Tests.GraphicsPathTests/AddArc_Rectangle_Success` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190303.8 (Core Tests)
Failing configurations:
- Windows.10.Arm64-arm64
  - Release

Details:
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctio

[2019-03-04 07:44] shadow-cs opened #35746 "Call to ValueStringBuilder.EnsureCapacity may result in unexpected (smaller) size of the buffer"
`ValueStringBuilder.EnsureCapacity` calls `Grow` with `requiredAdditionalCapacity` argument se to `capacity - _chars.Length` but `Grow` calculates the new buffer size by adding `requiredAdditionalCapacity` to `_pos`.

Following test demonstrates the issue:

[code]

Currently the `_chars` buffer will be allocated to `64` chars not `128` chars as expected.

To fix this `EnsureCapacity` should call `

[2019-03-04 07:53] shadow-cs commented on #35746
I've fixed the issue in my fork [here](https://github.com/shadow-cs/corefx/tree/issue/value-string-builder) including a few more tests that cover `Grow` and `EnusreCapacity`. I'll be happy to submit a PR ;-).

[2019-03-04 08:11] ViktorHofer commented on #16694
Fixed.

[2019-03-04 08:11] #16694 closed

[2019-03-04 08:13] ViktorHofer commented on #35011
I'll take a look.

[2019-03-04 08:19] ViktorHofer commented on #25382
Do we still want that? The additional legs in official builds aren't much to pay, I wouldn't remove the Debug legs unless there's a strong reason to do so.

[2019-03-04 09:34] kislovs commented on #17905
## Summary
I created a [small tool](https://github.com/kislovs/corefx-deadcode/) which remove some useless stuff from [this data](https://github.com/dotnet/corefx/issues/17905#issuecomment-424893880).

___

## It removes:
1. All const which are marked red.

2. All stuff which aren't marked red (that code is not dead).

___

## It remains:
1. Any nesting level class or struct which contains dead co

[2019-03-04 10:00] kislovs commented on #17905
@ericstj is it safety to remove `internal enum`?

[2019-03-04 11:16] MichalStrehovsky commented on #22826
Targeted patching is not a concern for what's in the mainline branch. We do TP compatible releases strictly in the release/servicing branches and keep the mainline branch free-for-all.

You're right that we'll be able to flip this back to multifile testing when we flip Project N to consume 3.0 version of CoreFX. We typically do that when we have the RTM build of CoreFX. Until then, testing single

[2019-03-04 11:42] kislovs commented on #17905
After using [that tool](https://github.com/dotnet/corefx/issues/17905#issuecomment-469182596) I've checked all assemblies. Some of them doesn't have any dead code.
Updated list looks something like below. I change links to htmlpreview for cleared files from [tool's repository](https://github.com/kislovs/corefx-deadcode). Hope nobody won't mind.

* [x]  [Microsoft.CSharp](http://htmlpreview.github.

[2019-03-04 12:14] GSPP commented on #33543
@tarekgh I have added the APIs you suggested plus StartsWith/EndsWith. Anything else that would make sense?

In my opinion we should *not* add overloads without `StringComparison comparisonType`. They would create a mess. This is an advanced scenario. Let's just have callers specify the comparison type they want.

[2019-03-04 12:32] ViktorHofer commented on #35088
I think just looking at Configuration.props in the pkg folder should be enough. Check if netfx|net\d{2,3} is present.

[2019-03-04 12:37] ViktorHofer commented on #35088
Or do you also want to find packages that harvest netfx resources? I would not recommend including those to the exclusion list as they will stay in the package infinitely.

You probably thought about that but please don't forget to include packages with a <= netstandard2.0 configuration to the exclusion list.

[2019-03-04 12:41] ViktorHofer opened #35748 "Make sure that all throwing exception types are serializable"
I think I saw at least one which wasn't serializable.

[2019-03-04 13:24] PatrickHofman commented on #34728
Sorry it took me some time. I was on leave for personal reasons.

The issue reproduces using HttpClient unfortunately. Both attempts in the code I used failed:

[code]

[2019-03-04 13:26] PatrickHofman commented on #34728
As noted, this problem does not reproduce on .NET Core 2.0, but does on 2.1 and 2.2.

[2019-03-04 13:55] jeremyVignelles opened #35751 "Support for ISO8601 durations in TimeSpan"
# Rationale
As far as I know, there is currently no support for ISO8601 durations for `TimeSpan.Parse` and `TimeSpan.ToString`.

Per [wikipedia's definition](https://en.wikipedia.org/wiki/ISO_8601#Durations) , it would allow to write durations like `P10M1D` for a duration of ten month and one day, `P1DT2H10M` for 1 day, 2 hours and 10 minutes, or `PT0,5M` for 30 seconds.

# Proposition

- Make `Ti

[2019-03-04 14:05] GSPP commented on #34912
Is it really wise to just suppress protocol errors? The RFC allows for suppressing and for treating it as an error. Making it an error helps with debugging.

<hr>

Normally, client code should know by the structure of the code whether the response has been read already or not. I don't see why someone would want to test whether we have arrived at the trailer section in the stream or not.

Accessing

[2019-03-04 14:10] rtaylor72 commented on #35697
The other issue is closed also.  This was also a code break for me.  This has always thrown an exception in the original framework if any string did not match.  A string is a string, not a number.  Should float.TryParse("pi", out float x) return true based on the logic given?

[2019-03-04 14:37] davidsh commented on #35738
I've debugged this and can see that in the NULL/empty body case, the 'SendMessageCallback' is not getting called via the IAsyncResult.  This code was originally ported from .NET Framework so it should work the same.  Not sure why it isn't.

[2019-03-04 15:33] danmosemsft commented on #25382
@viktorhofer I have no opinion. If they are not distracting and we aren't asked to free machines I guess it should be OK to keep them.

[2019-03-04 15:37] MarcoRossignoli commented on #35007
To debug:
1) download VS 2019 preview https://visualstudio.microsoft.com/vs/preview/
2) Open solutionhttps://github.com/dotnet/corefx/blob/master/src/System.Net.Http/System.Net.Http.sln here you should find functional test projects for http classes.
3) Search a correct test(that cover your issue) and add breakpoint
4) Go to project properties and on debug tab add filter to your tests i.e.
![image]

[2019-03-04 15:47] pavelovcharov opened #35753 "TypeConverter.CanConvertFrom method has been changed"
While porting our app to NetCore3, we've noticed that the TypeConverter's CanConvertFrom and ConvertFrom methods work diffrently in Net Core 3 and Net Framework 4.7.2

https://referencesource.microsoft.com/#System/compmod/system/componentmodel/TypeConverter.cs
[code]

https://github.com/dotnet/corefx/blob/release/3.0/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeConverter.c

[2019-03-04 16:07] #27014 closed

[2019-03-04 16:08] #28152 closed

[2019-03-04 16:10] #29459 closed

[2019-03-04 16:10] #29498 closed

[2019-03-04 16:11] #29881 closed

[2019-03-04 16:11] #30253 closed

[2019-03-04 16:12] #30538 closed

[2019-03-04 16:32] tannergooding commented on #35730
Looking into this.

Just as an FYI. In netcoreapp3.0, "R" now does guarantee successful round-trips and should always return the shortest roundtrippable string.

In netcoreapp3.0, your program (for both x86 and x64) will give:
[code]

[2019-03-04 16:36] stephentoub commented on #35697
Can you please share an example?

[2019-03-04 16:43] ViktorHofer commented on #25382
OK great, let's close this until somebody asks.

[2019-03-04 16:44] jkotalik commented on #35707
One example I ran into was reading application/x-www-form-urlencoded data where we have limits on how long the values can be: https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http/src/Features/FormOptions.cs#L47-L53.

Totally understand the perf consideration; if this api is added, it could add another if check per byte examined in TryReadTo, which may or may not appear in perf traces.

[2019-03-04 16:56] BogCZE commented on #35738
Thanks for moving. I was on vacation thus I was unable to respond nor move. This topic. Thanks a lot :)

[2019-03-04 17:00] BogCZE commented on #35738
Well in old implemntation we used sync version and it worked without a problem but now we started to using async version and hit this problem. So I am happy you were able to reproduce this and hopefully it will be fixed in future version :) thank a lot 👍

[2019-03-04 17:08] MattGal commented on #35693
I think you're actually running into the "idling at 0 machines" problem here.  I took a recent run as an example:

https://dev.azure.com/dnceng/public/_build/results?buildId=113318&view=logs
Whose packaging test is Correlation Id `0ccde088-5da9-46bf-bf18-2951c6270689`

- Job was queued at 2019-03-04 10:36
- First work item starts at 2019-03-04 10:48 (~12 minutes)
- The 72 work items ran a total ti

[2019-03-04 17:32] karelz commented on #34728
2.1 brought brand new implementation of Networking stack, so I am not shocked there are compat bugs ... we will take a look.
If it is blocking you, you can opt-out from SocketsHttpHandler in the meantime ...

[2019-03-04 17:34] safern commented on #25382
You can't remove them, because there are no Debug legs now in official builds :smile: -- I  think this issue is to add 1 weekly run for Debug builds of our official matrix.

[2019-03-04 17:34] Clockwork-Muse commented on #35751
Implementation note: we'd have to adopt a non-quite-conforming parser/formatter (similar to Java's `Duration.parse(...)`, because ISO8601 durations are positive only, and `TimeSpan` allows for negative values

[2019-03-04 17:53] tannergooding commented on #35369
OK, I think I've finished investigating this.

Taking the fix described in https://github.com/dotnet/corefx/issues/35369#issuecomment-464535412, resolves the exact case listed in the issue and a few other similar cases. However, it does not solve the underlying issue described here, which is that `value.ToString("G17")` does not always roundtrip back to `value`.

Even after fixing the formatting i

[2019-03-04 17:53] danmosemsft commented on #25382
Oh! We should certainly have regular runs at some frequency.

[2019-03-04 17:56] tannergooding commented on #35369
I think what should happen is:
1. We take the fix for the formatting regression through shiproom. It is a trivial, one-line, fix and will remove at least one source of issues for people moving from netcoreapp2.1/netcoreapp2.2 to netcoreapp3.0.
2. We update the documentation to explain that prior to netcoreapp3.0, there was no formatting specifier which would guarantee the string produced would rou

[2019-03-04 18:01] tannergooding commented on #35730
The issue is that, prior to netcoreapp3.0, x86 and x64 had different algorithms for parsing floating-point numbers. I removed this difference in https://github.com/dotnet/coreclr/pull/19775 as part of the netcoreapp3.0 work.

I would speculate that backporting the relevant commit (https://github.com/dotnet/coreclr/pull/19775/commits/b7c368658f5dd853abd821c642c59c89057aed48) to make x64 and x86 con

[2019-03-04 18:02] tannergooding commented on #35730
Also worth noting that this difference only exists on x86 for Windows. x86 Unix systems use the same C algorithm that x64 uses.

[2019-03-04 18:03] wfurt commented on #35722
cc: @krwq

[2019-03-04 18:09] ViktorHofer commented on #25382
Ok 😀

[2019-03-04 18:12] safern commented on #25382
I think to do this periodically we would need to create a new build def and do some plumbing on the yml files. Shouldn't take long, but don't have bandwidth now, I'll probably work on it in 5 weeks or so :smile:

[2019-03-04 18:18] joshfree commented on #29736
@steveharter can you look into this enhancement with https://github.com/dotnet/corefx/issues/29736 post-JSON?

[2019-03-04 18:22] ViktorHofer commented on #35159
IMO I think it would be nice to fix this. Customers/Devs/me always look at the license section on a GH repo. Not clearly pointing out that we are MIT licensed results in confusion or in the worst case, in partners not supporting us.

[2019-03-04 18:26] tarekgh commented on #33543
Thanks @GSPP. it looks good to me.

I agree with that and if anyone will need it later we can add it at that time.

[2019-03-04 18:28] ericstj commented on #32769
Just double check that we aren't doing something that's already been done.  What does roslyn do? arcade?

[2019-03-04 18:31] ViktorHofer commented on #35681
I'll try 😁

[2019-03-04 18:32] joshfree commented on #35167
My two cents is to leave this code behavior alone -- the string formatting has been this way since ~2001 with .NET Framework 1.0 beta 2 - the benefit of tweaking this for .NET Core-only doesn't seem high to me.

[2019-03-04 18:39] ericstj commented on #33798
This was an unfortunate side effect that we made knowingly when @weshaggard switched to Arcade versioning.   We had planned to mitigate it by cleaning up the old packages, but that turned out to be not-possible due to how myget enlisting worked.  Given we are past this bubble in versioning we can close this now.  Next time around we'll try to avoid this (assuming our release PMs don't twist our ar

[2019-03-04 18:39] #33798 closed

[2019-03-04 18:40] joshfree commented on #34671
We wouldn't obsolete Concat because Join is arguably a nicer name 😉

I'm going to close this api-suggestion given the discussion wrapped up in January.  Feel free to reactivate with more details.  Thank you

[2019-03-04 18:40] #34671 closed

[2019-03-04 18:41] joshfree commented on #34281
@jeffschwMSFT @KKhurin

[2019-03-04 18:42] joshfree commented on #34273
@tarekgh can you PTAL

[2019-03-04 18:43] DanielS4n opened #35755 "CustomAttribute implementation missing in MetadataLoadContext for dynamic loading of Razor Components (DLLs) and relative MVC rounting support"
It is important to be able to dynamically load razor component libraries to make modular asp applications. I've managed to use MetadataLoadContext to load multiple DLLs but the MVC service can not function without the GetCustomAttributes implementation.

**When will it be possible to use them?**

see :
...
// Operations that are invalid for ReflectionOnly objects.
        public sealed override ob

[2019-03-04 18:48] tarekgh commented on #34273
@lostmsu Index and Range are not in netstandard 2.0. These types will be in netstandard 2.1. You may look at https://github.com/dotnet/standard/pull/1018.

[2019-03-04 18:49] MattGal commented on #32769
@ericstj the new behavior is to let the AzDO Agent do the work for you, some docs here:

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azure-devops&tabs=yaml

If you check out the Linux x64_Release leg here, you'll see it's already in use for master: https://dnceng.visualstudio.com/internal/_build/results?buildId=113431

For release-branch building, it seems

[2019-03-04 18:51] JeremyKuhne commented on #35167
I understand that it has been there forever and I don't take this lightly. I'm very much for this given that it:

1. Fixes a real-world usage problem
2. Simplifies a perf-critical code path
3. Facilitates other formatting work in progress
4. Is a dot zero release
5. Is expected to break close to, if not, zero customers

[2019-03-04 18:53] wtgodbe commented on #32287
@bartonjs is there any update for the status on this one?

[2019-03-04 18:54] kouvel commented on #32062
CoreCLR repo would be appropriate, moving

[2019-03-04 18:55] #32062 closed

[2019-03-04 18:55] kouvel commented on #32062
Issue moved to [dotnet/coreclr #22998](https://github.com/dotnet/coreclr/issues/22998) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-04 18:58] lostmsu commented on #34273
@tarekgh , yes, and that is the nature of the problem. The indexing feature C# 8 will be unusable on .NET Framework.

[2019-03-04 19:02] joshfree commented on #34257
I've created a tracking issue in the docs repo for this:

https://github.com/dotnet/docs/issues/11018

[2019-03-04 19:02] #34257 closed

[2019-03-04 19:07] safern commented on #34851
@ulisesh what is the status of all ARM queues having `tzdata`?

[2019-03-04 19:08] MarcoRossignoli commented on #33392
Thank's @ViktorHofer confirm that it works well.

[2019-03-04 19:20] TylerBrinkley commented on #34372
A big gap I see in the proposal as specified is constructor handling. `Json.NET` invokes the default constructor or else the constructor specified with the `JsonConstructorAttribute` applied.

For a domain-driven design I think it is common to instantiate required parameters in constructors so that the object is always in a valid state. Since this current proposal only looks for a constructor with

[2019-03-04 19:31] caesar1995 commented on #34912
Forgot to update this thread, we will [throw for protocol errors](https://github.com/dotnet/corefx/pull/35337/files#diff-300922d9e15c1d874df079b5746c8f10R929). For the most recent discussion on the issue, please see the in progress PR here: #35337.

We don't throw for property getters, it's a violation of standard .NET design guidelines for good API design: https://docs.microsoft.com/en-us/dotnet/

[2019-03-04 19:36] eerhardt commented on #34273
It's not just the indexing feature of C# 8 being available on .NET Framework that I'm concerned about. (There are other C# 8 features that flat out won't ever work on .NET Framework 4.8. See [Building C# 8.0 Blog](https://devblogs.microsoft.com/dotnet/building-c-8-0/)).

But the core issue here is that you can't have a `netstandard2.0` or less library that exposes APIs that will allow the indexing

[2019-03-04 19:37] mikernet commented on #35167
@JeremyKuhne Yeah I can do a PR on this if you can leave it with me for a couple days.

[2019-03-04 19:43] ericstj commented on #35681
Something does come to mind: VS only builds project references that are in the solution.  So if your SLN didn't have this and the vertical build didn't previously build it for you it would cause this.

[2019-03-04 19:54] osman-turan opened #35758 ".NET Core runtime refuses to load assemblies serialized with PEHeaderBuilder.CreateLibraryHeader"
`PEHeaderBuilder.CreateLibraryHeader()` method does not set `Characteristics.ExecutableImage` bit of image characteristics.

https://github.com/dotnet/corefx/blob/5419ecd858d11f08938019ba49477039de93ec3f/src/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/PEHeaderBuilder.cs#L104-L107

As a result, .NET runtime refuses to load assemblies which were serialized by using `PEHeaderB

[2019-03-04 19:54] ericstj commented on #35088
Should be `src` folder, and yes it is any one that has a net* or netstandard2.0 or less value.

Another way that's more programmatic is to build the `-allconfigurations` leg, then examine the package reports (eg: f:\dotnet\corefx2\artifacts\packages\Debug\reports) for all .netframework targets which have a locally built binary (eg: under artifacts).  You can do this with JSON, or reference the pac

[2019-03-04 19:56] am11 commented on #35753
Seems like `CanConvertFrom` is returning `false` since it was ported to .NET Core v1.0.0-rc1 in Feb 2015: https://github.com/dotnet/corefx/pull/739/files#diff-12e5d00657bd456dff4cfb2149a3e3beR29

`InstanceDescriptor` was not part of the initial port, it was added later (2016) in https://github.com/dotnet/corefx/pull/12081. Recently, the derived `TypeConverter` types were adapted to support `Instan

[2019-03-04 19:59] tarekgh commented on #35717
Is this just our test image? or this is the global image for Alpine? the whole point originally for Alpine image is to get it small and one way we got it small is not having ICU on the image. we need some more information here.

This make me worried and the reason can be something else than what we are talking about. could you please help with the following (sorry I don't have things setup or I co

[2019-03-04 20:06] ericstj commented on #17905
When regenerating the diffs I started with everything cleared again.  The mechanism for doing the dead-code-diffs is too manual.  It's using an internal tool for the assembly diffs.

It depends on what is done with that internal enum.  Enums will often show up as dead in the binary since the compiler turns their source reference into integer literals.  You'll likely find that the source may still

[2019-03-04 20:07] safern commented on #35088
To test it, we should actually build it in the netfx vertical, so only values that would apply, would be netstandard/netfx right? If not we can't run its tests against netfx, right?

[2019-03-04 20:15] ericstj commented on #35088
Yeah since you're only looking for a true/false that'd work.  You can just do a netfx vertical build then examine the runtime folder (F:\dotnet\corefx2\artifacts\bin\runtime\netfx-Windows_NT-Debug-x64), omitting stuff that was copied instead of built.

[2019-03-04 20:26] ajcvickers commented on #33767
Fixed by community PR for .NET Core 3.0. Thanks @Liero!

[2019-03-04 20:26] #33767 closed

[2019-03-04 20:34] ViktorHofer opened #35761 "Consider moving RemoteExecutorConsoleApp to arcade"
Currently we live build the RemoteExecutorConsoleApp even though it never changes. Building test projects inside VS often fail with an error that VS can't find the `RemoteExecutorConsoleApp.dll` assembly. VS doesn't build ProjectReferences outside of the solution (https://github.com/dotnet/corefx/issues/35681#issuecomment-469393454).

As the RemoteExecutorConsoleApp is a netstandard application wi

[2019-03-04 20:35] ViktorHofer commented on #35681
Thanks Eric! Closing this in favor of https://github.com/dotnet/corefx/issues/35761.

[2019-03-04 20:35] #35681 closed

[2019-03-04 20:49] joshfree commented on #34018
@fhchina @ViktorHofer is there any further progress on this issue?

[2019-03-04 20:52] joshfree commented on #33577
@tarekgh could you PTAL

[2019-03-04 20:55] joshfree commented on #33482
Closing this issue as the question has been answered above by several people.  The randomized ephemeral hashcode is indeed by design and not cross-version tolerant.

[2019-03-04 20:55] #33482 closed

[2019-03-04 20:57] tarekgh commented on #33577
This issue is already fixed by the PR https://github.com/dotnet/coreclr/pull/21968

[2019-03-04 20:57] #33577 closed

[2019-03-04 20:57] joshfree commented on #32748
@Maoni0 PTAL

[2019-03-04 21:05] joshfree commented on #30845
@tommcdon

[2019-03-04 21:06] joshfree commented on #30706
@jeffschwMSFT

[2019-03-04 21:12] ahoefling commented on #10752
Before I realized that the mono corefx implementation is forked from here I got AddRange and InsertRange working locally. Today I spent some time porting it to the main repository to see if I could get it to work with the XUnit tests.

@weitzhandler I would be happy to combine our efforts so we can get this wrapped up as I am able to get the CoreCLR build working with my XUnit tests.

My Current I

[2019-03-04 21:19] devsko commented on #33291
@ahsonkhan is this still a problem? Utf8JsonReader seems to work…

[2019-03-04 21:27] Maoni0 commented on #32748
thanks for the repro @Cryowatt. who should I work with from the BCL team on this? I actually don't own this API at all. but I think container scenarios are very important and would be happy to help out with the investigation.

[2019-03-04 21:28] ahsonkhan commented on #33291
There's still an issue with the ROSequence `.Slice` API. `GetPosition` works as expected which is why `Utf8JsonReader` can use it.

[2019-03-04 21:31] ViktorHofer commented on #34018
@fhchina a sample code would be ideal to reproduce the issue.

[2019-03-04 21:31] devsko commented on #33291
I'm asking because I think I just fixed #35254 (PR coming soon) and thought it might be related.

[2019-03-04 21:32] ViktorHofer commented on #32980
That is fixed with https://github.com/dotnet/corefx/commit/a8fc4418080e66d97f337e7b663a88b047f1e2e0#diff-b2c0f8d4ddbc9f9edb5eb80cc6adc964. Closing.

[2019-03-04 21:32] #32980 closed

[2019-03-04 21:33] devsko commented on #33291
But I don't understand this issue. I would say the sample throws the exception as expected.

[2019-03-04 21:38] ahsonkhan commented on #33291
[code]

Why would you consider the exception when calling slice, expected?

[2019-03-04 21:41] brunolau commented on #32752
@mshenoy83 Sorry it took a bit longer, here goes my dirty hack. In order to use it, please check the "Custom execution strategy" section of this documentation https://docs.microsoft.com/en-us/ef/core/miscellaneous/connection-resiliency

class CustomExecutionStrategy:
[code]

class SqlRecoveryAttemptor
[code]

[2019-03-04 21:44] devsko commented on #33291
As I understand the API this means a slice from position 1 back to position 0. The second parameter is the end of the resulting slice. The second param of .GetPosition() has a different meaning. What slice would you expect it to return?

[2019-03-04 21:47] osman-turan commented on #35758
I can create a pull-request if it's ok to fix it by changing `PEHeaderBuilder.CreateLibraryHeader()`.

[2019-03-04 21:52] ViktorHofer commented on #35011
For this to work we would need to enable project restore for test projects and package reference Microsoft.Net.Test.Sdk instead of our current solution to restore everything upfront and manually reference the test sdk assemblies. This is something I really would like to see but I don't think it's feasible in the short-term.

[2019-03-04 22:00] danmosemsft commented on #35037
Work here is mainly to test it (need CD or floppy )

[2019-03-04 22:10] tannergooding opened #35765 "Expose the System.Numerics.Tensors interchange types as interfaces"
### Rationale

We would like to expose a set of types that  allow exchange and interop between the various tensor frameworks. Today, the types that enable this are a set of classes with an abstract base and were taken from the initial investigations in corefxlab. However, these types put an unnecessary burden on each framework exposing a Tensor type in that they either need to extend these types t

[2019-03-04 22:10] tannergooding commented on #35765
### Open Questions

Some general open questions:
* Should we expose the concept of a `IReadOnlyTensor<T>`?

Some open questions about `ITensor<T>`:
* Should `ITensor<T>` implement `IEnumerable<T>` and if so, what would it mean for a sparse tensor?
  * If no, should we make `IDenseTensor<T>` implement it instead?
* Should `ITensor.Dimensions` be called `Shape` instead? Other frameworks exposing thi

[2019-03-04 22:10] tannergooding commented on #35765
CC. @danmosemsft, @eerhardt.

[2019-03-04 22:11] tannergooding commented on #35765
CC. @terrajobst. This will require a dedicated session to review (after I finish get sign-off from the partner teams on the proposal).

[2019-03-04 22:13] tannergooding commented on #35765
CC. @interesaaat, @markusweimer, @ericstj

[2019-03-04 22:14] vancem commented on #35167
@JeremyKuhne  - while I am not against the code you put above (it is simple and straightforward enough), what bad thing happens if we simply drop the code for '{'
[code]
It is arguably simpler (less lines of code), it is every-so-slightly more compatible (we don't fail in cases with {), and achieves the original goal.

Are their secondary effects that I am overlooking?

For what it is worth, I don

[2019-03-04 22:15] ahsonkhan commented on #33291
Actually, you are totally right. I confused the parameters of `GetPosition` and `Slice` (end vs origin). Passing in `sequence.Start` as the **end** position should continue to throw.
[code]

For now, it looks like this issue is non-actionable. Let me page back the scenario where I was seeing an issue and double check the expected behavior.  I'll either update the issue or close it based on my find

[2019-03-04 22:19] ViktorHofer commented on #15323
Fixed with https://github.com/dotnet/corefx/commit/f75d8e8d9cb48abe623cf43f649fc49b6b8435d8

[2019-03-04 22:19] #15323 closed

[2019-03-04 22:20] karelz commented on #35758
Yes please, it is marked up-for-grabs, so PR is welcome!

[2019-03-04 22:23] ViktorHofer commented on #23774
Duplicates https://github.com/dotnet/arcade/issues/64

[2019-03-04 22:23] #23774 closed

[2019-03-04 22:26] devsko commented on #33291
Sounds good. Other PR is ready.

[2019-03-04 22:28] ViktorHofer commented on #21722
I don't think we absolutely need this. Should we close it? @danmosemsft @ericstj

[2019-03-04 22:32] ViktorHofer commented on #20875
We should consider adding [dotnet-format](https://www.nuget.org/packages/dotnet-format) as a repo tool when we switched to CLI 3.0.

[2019-03-04 22:32] ViktorHofer commented on #20737
Closing for age.

[2019-03-04 22:32] #20737 closed

[2019-03-04 22:36] ViktorHofer commented on #20114
The uap and uapaot remote executor functionality is integrated in the runner itself. The RemoteExecutorConsoleApp in corefx which builds against netstandard is just doing the minimum necessary stuff. I don't think we need to clean stuff up.

Also related: https://github.com/dotnet/corefx/issues/35761

Closing.

[2019-03-04 22:36] #20114 closed

[2019-03-04 22:37] ViktorHofer commented on #18401
We are not going to change this anytime soon. Let's close this and reopen if we feel a strong necessity to switch to a capability mechanism.

[2019-03-04 22:37] #18401 closed

[2019-03-04 22:40] rmkerr commented on #35652
I agree that (b) is the right approach. I don't think that the additional complexity associated with tracking cancelled or aborted streams is worth the minor improvement in spec compliance.

[2019-03-04 22:43] ViktorHofer commented on #21271
I think we addressed most of this. Also we moved away from pipelines.json to AzDO where we don't use these anymore. Please let me know if something is left todo and reopen if necessary.

[2019-03-04 22:43] #21271 closed

[2019-03-04 22:48] saucecontrol opened #35768 "HWIntrinsics API Proposal: VPMOVZXBD and friends need pointer-based overloads"
Currently, the `V?PMOV[SZ]X[BWD][WDQ]` HWIntrinsics methods define only `Vector128<T>` arguments, but most of these instructions consume less than 128 bits.

These instructions also support both `[xy]mm,xmm` or `[xy]mm,mem` encoding.  In order to use the mem-encoded version of the instruction, we must currently write something like

[code]

And the JIT folds the load, emitting the correct

[code]

[2019-03-04 22:48] saucecontrol commented on #35768
cc @tannergooding

[2019-03-04 22:50] rmkerr commented on #35652
The only thing I have to add is that we may want some additional state indicating _how_ the abort was initiated so that we can make sure to send the right error code along with any RST_STREAM frames.

[2019-03-04 22:51] #30558 closed

[2019-03-04 22:51] tannergooding commented on #35768
CC. @CarolEidt on the bug. We need to mark these instructions as `no-containment` for the time being.

[2019-03-04 22:51] caesar-chen opened #35769 "Consider adding folded trailing header support"
In RFC 2616, HTTP/1.1 header field values can be folded onto multiple lines. Later in RFC 7230, folded header is obsoleted.

Since our code supports folded headers (`Header` property) for compat reason - there are some servers still use it. We may want to add folded header support to `TrailingHeaders` property as well.

Also notice that:
1. In RFC 7230, folded header is obsoleted.
2. HTTP/2 doesn'

[2019-03-04 22:56] ViktorHofer commented on #33550
Seems like this doesn't happen anymore on RS5 :)

[2019-03-04 22:56] #33550 closed

[2019-03-04 22:57] tannergooding commented on #35768
@saucecontrol, we should likely instead fix the SSE4.1 methods to return the unsigned type regardless of argument type. The various `PMOVZX` instructions are all documented as having `zero-extend` semantics, in which case returning the unsigned type is probably the most logical option.

[2019-03-04 22:57] ViktorHofer commented on #34055
cc @ericstj

[2019-03-04 23:01] tannergooding commented on #35768
I do agree that we should likely expose overloads that take an address. Given that you have cases like `PMOVZXBW` which takes a `xmm/m64` and we don't have any intrinsics which could represent `load 8 scalar bytes`, I think this makes sense.

[2019-03-04 23:10] saucecontrol commented on #35768
Ah, ok, if the convention elsewhere is that zero-extend always returns unsigned, that's fine as long as it's consistent.  In my case, I'm taking the result of `_mm256_cvtepu8_epi32` and passing it to `_mm256_cvtepi32_ps` so a signed result would be more convenient.  I'll go ahead and flip that around.

I had a look through the rest of the API to see if there were similar cases.  Seems like `insert

[2019-03-04 23:15] danmosemsft commented on #21722
Your call

[2019-03-04 23:21] tannergooding commented on #35768
Definitely. I think it becomes a question of "unexpected" vs "convenience" here. Generally speaking, narrowing just drops the higher bits and and widening either zero-extends (coming from an unsigned type) or sign-extends (coming from a signed type).

For example:
[code]
vs
[code]

These are all widening operations. The ones that emit `PMOVSX` are documented as sign-extending and the ones that emi

[2019-03-04 23:22] tannergooding commented on #35768
Maybe we could have both if they were called `ZeroExtendToInt16` vs `SignExtendToInt16`, but I'm not sure that is worthwhile given you have the zero-cost conversion via `As`

[2019-03-04 23:26] safern commented on #18832
I think the problem is that this tests are actually using the netstandard implementation rather than the netfx implementation, therefore not working correctly. We should add a netfx configuration to the tests and I would expect them to pass.

[2019-03-04 23:30] saucecontrol commented on #35768
Yeah, definitely not worth it for that.  I've updated the API proposal.

[2019-03-04 23:30] #35753 closed

[2019-03-04 23:42] wtgodbe commented on #32769
I'll close this, as it's fixed in master & probably not worth doing for our servicing branches

[2019-03-04 23:42] #32769 closed

[2019-03-04 23:51] kislovs commented on #17905
Sounds good 😄, but it requires a lot of work for that.

By the way, are there reasons why AsmDiff is working with IL code? Isn't it possible to get information about redundant code from sources?

___

Anyway, I'll clean up some assemblies in couple of next days and send a pull request here :)

[2019-03-04 23:54] terrajobst commented on #34828
Totally. I'll add it to the list tomoorow.

[2019-03-04 23:57] joshfree opened #35771 "Problem with Assembly.LoadFile and Activator.CreateInstance in .net core 2.2"
_From @tamasVajda on March 1, 2019 13:47_

Problem with Assembly.LoadFile and Activator.CreateInstance

.net core version: 2.2
dll to load: .net framework 2.0

We tried to implement a kind of dependency injection in .net standard what could use out client from .net framework side and our server from .net core 2.0.

The location of class described in json configuration file, like following:

[code]

[2019-03-04 23:57] joshfree commented on #35771
_From @karelz on March 2, 2019 15:55_

Can you post a minimal .NET Core repro? Something we can copy-paste into VS, run and see the problem?
cc @steveharter @joshfree

[2019-03-04 23:57] joshfree commented on #35771
_From @tamasVajda on March 4, 2019 9:36_

For code axample see the following repository:
https://github.com/tamasVajda/ClassLoadTest.git

[2019-03-05 00:02] stephentoub commented on #34828
Thanks.

[2019-03-05 00:08] bricelam commented on #31002
EF Core's scenario for this also involves native library loading. It's pretty advanced, but here's the gist of it:

We call into the native SQLite library which in turn tries to load another native library (a SQLite extension). Since it's native code loading a native library, it bypasses all of .NET Core's logic to find native libraries in NuGet package assets. Instead, before calling into SQLite,

[2019-03-05 00:10] eerhardt commented on #35765
I assume these are "linearized" indices? Do we have any convenience APIs planned to get the index collection in dimensions from a "linearized" index?

I wonder if `Span` helps or hurts here. If the values and indices aren't stored in a contiguous piece of memory for a SparseTensor, it would force implementers to copy the values/indices, right?

We do for DenseTensors, right? `IDenseTensor.Buffer[i

[2019-03-05 00:10] ericstj commented on #34055
NuGet claiming the downgrade is actually a bug: https://github.com/NuGet/Home/issues/3541

The one reference to 4.3.0 package brings in the new version of the runtime.json which is what triggers the "downgrades".

I believe you can workaround it by referencing all of the 4.3.0 packages at a higher point in the dependency graph, so NuGet will avoid seeing the downgrade.  I've suggested in the past

[2019-03-05 00:20] jkotas commented on #31002
@bricelam Could you please share the link to the code? How do you decide that the extension library is compatible with the current RID?

[2019-03-05 00:27] ericstj commented on #17905
Today the mechanism we use for tree-shaking dead-code is the [linker](https://github.com/mono/linker) which operates on the binaries.  So to map that back  to source we diff its output with input and emit the ids.  Another thing I've discussed with the linker folks in the past is to emit more logging that could more directly map back to things our developers care about.  It's also operating on PDB

[2019-03-05 00:43] yanrez commented on #20296
Hi! We hit this issue recently as well. Just curious if it's still on your radar for 3.0 ?

[2019-03-05 00:45] mairaw commented on #34257
There was already another issue tracking this problem (https://github.com/dotnet/dotnet-api-docs/issues/1482), so I'll close the new one as duplicate. Docs are also open source so PRs with suggestions are always welcome as well. 😉

[2019-03-05 00:54] pakrym commented on #35254
I think Slice on `ros.Slice(0, default)` should behave the same way as `span.Slice(0, default)` or `memory.Slice(0, default)` or `s.Substring(0, default)`.

Assigning contextual meaning to `default(SP)` doesn't feel right.

[2019-03-05 00:57] HollyAM commented on #22826
Just to make sure that we are all on the same page: I don't believe we have a customer scenario/request to add CoreFx 3.0 features to Project N/.NET UWP.... Do we? I believe we don't yet have a reason for Project N (.NET UWP) to support .NET Standard 2.1 and, if so, won't be until after it ships in .NET Core. Project N doesn't currently have resources allocated to add .NET Core 3.0 features, and i

[2019-03-05 01:03] danmosemsft commented on #35159
@ViktorHofer seems that Eric pinged github support and they are aware of the issue.

[2019-03-05 01:20] winiciuscota commented on #15118
Any suggestions on how to deal with this issue in 2019 while working on a "legacy" project written on dotnet 1.1?

[2019-03-05 01:28] danmosemsft commented on #35744
Thanks @AriNuer feel free to add the arch-arm64 label for bugs on ARM64 runs.

[2019-03-05 01:29] danmosemsft commented on #35744
@tannergooding I guess there's no good way to figure out whether this is expected numeric imprecision or not without detailed investigation. There are several drawing failures of this sort.

[2019-03-05 01:36] bartonjs commented on #15118
@winiciuscota The general answer will be that you need to build the native shim for crypto on your new platform (`./build-native.sh` after cloning down/checking-out the release/1.1.0 branch).

(If you're on an OS that we (Microsoft/DotNet) distribute packages for, and using that package (or using a docker container that we maintain) then that'd be something different... we shouldn't be producing b

[2019-03-05 02:13] dotnet-mc-bot opened #35774 "Test failure: System.Tests.ArgIteratorTests/ArgIterator_Throws_PlatformNotSupportedException"
Opened on behalf of @wfurt

The test `System.Tests.ArgIteratorTests/ArgIterator_Throws_PlatformNotSupportedException` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190304.7 (Core Tests)
Failing configurations:
- Windows.10.Arm64-arm64
  - Release

[2019-03-05 02:36] Grauenwolf commented on #10752
Do we have an open ticket for adding AddRange to the concurrent collections?

[2019-03-05 03:38] JeremyKuhne commented on #35167
We used to fail with single `{` so I'm not sure it would be any better to have them work now. It certainly would be easier to document that brackets aren't supported at all as opposed to left brackets are and they aren't escaped any more. :)

[2019-03-05 03:41] JeremyKuhne commented on #35167
@vancem and I spoke at length today about this and we're both on the same page on this- we want to fix the issue here. @mikernet I've assigned you as an owner, if you have any issues getting to this please let me know. :)

[2019-03-05 04:32] danmosemsft commented on #35730
@tannergooding it would have to have a large impact to consider requesting servicing. I do not see that here. Also if it is feature level work it would not be considered for servicing.

[2019-03-05 04:43] ahsonkhan commented on #35724
I just realized these tests are already part of outerloop.

+1

I will pick a sentinel permutation of the writer options rather than testing all combinations.

[2019-03-05 04:52] wfurt commented on #29779
I downloaded new certificate for www.microsoft.com and verification works.
The old certificate used in test is expired. ca2 in my test is old issuer e.g. `C=US, O=Symantec Corporation, OU=Symantec Trust Network, CN=Symantec Class 3 EV SSL CA - G3`  and it fails to verify on 10.14 for me.

[code]

[2019-03-05 06:04] bartonjs commented on #29779
Yeah, that's a thing the test checks for, an expected false return :smile:

[2019-03-05 06:20] krwq commented on #33543
Proposal looks good to me

[2019-03-05 06:27] AaronRobinsonMSFT commented on #32999
Fixed with https://github.com/dotnet/coreclr/pull/22846

[2019-03-05 06:27] #32999 closed

[2019-03-05 07:05] divega commented on #31595
@roji let me know when we can review and I will ping @terrajobst to get a slot to re-review this one.

[2019-03-05 07:50] fadamsen commented on #35265
Per https://github.com/Azure/app-service-announcements/issues/160:

[2019-03-05 08:04] ahsonkhan commented on #34938
**API Proposal:**
[code]

**Open Questions:**
- Should we provide `string`/`ReadOnlySpan<char>` overloads?
   - `public bool ValueEquals(string other) { throw null; }`
   - `public bool ValueEquals(ReadOnlySpan<char> other) { throw null; }`
- API name? Parameter name?
   - ValueEqualsTo? IsEqual{To}? ValueIs? Matches?
   - otherValue? utf8Span? utf8{Json}Value?

**Sample Usage:**
[code]

[2019-03-05 08:16] ahsonkhan commented on #35386
@ycrumeyrolle, in what  scenario would you want to get back the JSON string as a `byte[]`?

If its mainly for comparison/search for a particular string/property name, would https://github.com/dotnet/corefx/issues/34938#issuecomment-469579731 be sufficient?

If that's not sufficient, I would love to see sample usage to motivate this API addition.

[2019-03-05 08:35] ahsonkhan commented on #34938
cc @BrennanConroy, @davidfowl

[2019-03-05 09:30] Metalnem opened #35780 "Double.Parse throws AccessViolationException on .NET Core 3.0"
**Double.Parse** sometimes throws **AccessViolationException** on .NET Core 3.0. Here's the snippet you can use to reproduce this:

[code]

The stack trace:

[code]

I'm using the latest .NET Core 3.0 daily build:

[code]

Found via [SharpFuzz](https://github.com/Metalnem/sharpfuzz).

[2019-03-05 09:37] filipnavara opened #35782 "Double-free in OverlappedTests?"
I tried to turn the code from OverlappedTests into a local benchmark and it was crashing on my machine due to double-free:

https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Threading.Overlapped/tests/OverlappedTests.cs#L149-L170

https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Threading.Overlapped/tests/OverlappedTe

[2019-03-05 09:40] filipnavara commented on #35782
Nvm, answering my own question. I missed that `MyCallback` allocates a second `NativeOverlapped` structure:

[code]

[2019-03-05 09:40] #35782 closed

[2019-03-05 09:44] ahsonkhan opened #35783 "System.Diagnostics.Tests.ProcessTests.GetProcessesByName_ProcessName_ReturnsExpected test failure"
Failed in this PR: https://github.com/dotnet/corefx/pull/35776 (https://github.com/dotnet/corefx/pull/35776/checks?check_run_id=72655929) on Windows.81.Amd64.Open-x64-Debug:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F35776~2Fmerge/test~2Ffunctional~2Fcli~2F~2Fouterloop~2F/20190305.1/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.Pro

[2019-03-05 10:08] roji commented on #31595
@divega sorry this took so long. I have updated the proposal above (both for extensions and for adding back the two async overloads), this should be ready for review again.

FWIW I'm still not entirely convinced about the extensions, but it's not very important :) When the option of extensions was originally discussed, I think one of the main points was bringing this functionality to older TFMs as

[2019-03-05 10:21] Wraith2 commented on #31595
The extensions could always be put into a source nuget for older TFMs if needed. I know i've written those extensions several times so people may not need them in older projects but if we prevent them having to find and pull in those snippets of code in new projects i think it's a success.

[2019-03-05 10:36] MarcoRossignoli opened #35784 "[Question]Append -skipbuildpackages to local coreclr build"
On benchmarking guide we added a workflow for coreclr https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/benchmarking.md#benchmarking-apis-implemented-within-systemprivatecorelib

On point 9 when we want to compile changes on coreclr we use
[code]

I found `-skipbuildpackages` that speedup a lot the build(we need only to compile System.Private.Corelib and not rebuild all coref

[2019-03-05 11:17] devsko commented on #35254
The 2nd parameter of the `.Slice()` overloads of `Span`/`Memory`/`string` always determines the `length` of the result. Therefore the result for a `length` of `default(int)` is always empty there.

On the other hand this overload of `ROS.Slice()` takes a `SequencePosition end` as parameter which points to the position of the end of the resulting slice. These two operations look similar but are not

[2019-03-05 11:41] jkotas commented on #35784
Yes, it is fine to use `-skipbuildpackages` here

[2019-03-05 11:44] ViktorHofer commented on #35784
@MarcoRosignolli would you like to send a PR to update the docs?

[2019-03-05 12:38] dark2201 opened #35785 "Reflection caching"
Reflection is slow, why isn't it cached by default?

[2019-03-05 13:18] ycrumeyrolle commented on #35386
@ahsonkhan half of the use cases is for comparison, and the `public bool ValueEquals(ReadOnlySpan<byte> other)` is fine.
For example:
https://github.com/ycrumeyrolle/Jwt/blob/master/src/JsonWebToken/JsonHeaderParser.cs#L70
In this case I look for some well-known JSON property names.

The other half is for the string property values. In this case, I have to store the byte array that I use later.
Fo

[2019-03-05 13:24] ycrumeyrolle commented on #35386
Another example with Base64-URL encoded value within a JSON property:
https://github.com/ycrumeyrolle/Jwt/blob/master/src/JsonWebToken/RsaJwk.cs#L484

In this case, the JSON value is directly decoded in its binary representation, because the string representation is just for the transport.

[2019-03-05 15:15] danmosemsft commented on #35783
Interesting.

[2019-03-05 15:20] tmds commented on #35783
Not my cup of tea.

[2019-03-05 16:17] MBODM commented on #34983
Thx Stephen for this additional infos!

I didn´t know this fact about MemoryStream. Also can not see above where this was mentioned? But: Thx for this information! This is a first step in the right direction, because if i really do not have to care about the disposing of the underlying MemoryStream in HttpContent.cs (used for that buffering mentioned above) in the .NET Core source, because Dispose

[2019-03-05 16:21] karelz commented on #20296
Yes, it is still on our 3.0 list - I would still give it 90% chance it will get addressed in 3.0.

[2019-03-05 16:46] mikernet commented on #35167
@JeremyKuhne Are there `StringBuilder` tests sitting somewhere that I'm missing? If not, should I just throw a few into a new test file in Common.Tests?

[2019-03-05 16:52] danmosemsft commented on #33543
cc @benaadams

I know the IndexOf methods are heavily optimized - to implement these, I wonder whether it would have measurable effects on perf - unless we duplicated all the code.

[2019-03-05 16:53] pakrym commented on #35254
@davidfowl @KrzysztofCwalina any preference here?

[2019-03-05 16:56] roji commented on #35611
Closing in favor of #31595 which includes this now.

[2019-03-05 16:56] #35611 closed

[2019-03-05 16:57] eerhardt opened #35791 "Add Single and Double overloads to BinaryPrimitives"
We currently have overloads to read `short`, `int`, `long`, etc for big and little endian. However, we don't have overloads for `float` and `double`. We should add them to complete the types that are supported by this class.

[code]

This API is useful when you are reading/writing to a memory stream that you know is little or big endian. For example, it would have been useful in the following code

[2019-03-05 17:02] cjbush commented on #2538
For what it's worth, I appear to also be having @exiled78's problem when running on Linux containers. The following code:

[code]

correctly produces UTC-5 on Windows, but produces UTC-4 on Linux. All DateTimeWithZone is doing under the hood is calling TimeZoneInfo.ConvertTime(dateTime, timeZone).

[2019-03-05 17:07] KrzysztofCwalina commented on #35254
I think default(SequencePosition) should be "position 0", and so:
Slice(default, default) returns empty sequence
Slice(default, x) returns sequence from beginning to x
Slice(x, default) return empty if x == 0 and throws "end has to be after start" ix x > 0

[2019-03-05 17:07] tarekgh commented on #33543
@danmosemsft the new APIs will just need plumbing as the code doing this functionality is there. I am not expecting this will affect the perf of other APIs.

[2019-03-05 17:08] benaadams commented on #33543
Not sure the non-ordinal versions (i.e culture) are greatly optimized; they just differ to the platform's implementation

/cc @GrabYourPitchforks

[2019-03-05 17:17] tarekgh commented on #2538
@cjbush could you please try to print the values of the created time zone (e.g. BaseUtcOffset and calling IsDaylightSavingTime on request.ExpirationDate.Value). Also, print the value of request.ExpirationDate.Value on Windows and Linux with the DateTimeKind to ensure you have exact same date/time object.

[2019-03-05 17:38] bricelam commented on #31002
https://github.com/aspnet/EntityFrameworkCore/blob/2.2.0/src/EFCore.Sqlite.Core/Infrastructure/SpatialiteLoader.cs#L109-L135

[2019-03-05 17:54] JeremyKuhne commented on #35167
Note that tests for `StringBuilder` live at https://github.com/dotnet/corefx/tree/master/src/System.Runtime/tests/System/Text.

[2019-03-05 18:12] ericstj opened #35792 "Remove suppression for EventRegistrationToken when we get a new shared framework with the fix"

[2019-03-05 18:17] roozbehid-ic opened #35793 "Using async inside Paralle.ForEeach"
Using async inside Parallel.Foreach is not supported.
If you use it, statements after `await` wont run.

First, how can I know this is the case? For example is there anything specific to look for in the statement of method to know that async is supported or not, or anything in documentation to say that?

Second, is it possible to have a warning or something informational from compiler?

For exampl

[2019-03-05 18:24] jkotas commented on #31002
Thanks for the link. This supports the hypothesis that the RID returning API is only useful with the library that lets you reason about the RID graph.

[2019-03-05 18:26] karelz commented on #31595
@divega removing api-approved as you apparently need another round of API review ...

[2019-03-05 18:42] sidravi commented on #25157
I don't know the solution mentioned above, but there is a different solution I tried that works.

You can append ":/usr/local/lib:/usr/lib" to "NATIVE_DLL_SEARCH_DIRECTORIES" property value  when you initialize CoreCLR from your native code using "coreclr_initialize" function.

[2019-03-05 18:43] wtgodbe commented on #29549
Looks like if we set `DotNetFinalVersionKind` to `prerelease` (which we never do in CoreFx), we'll get the packages labeled as `final`:

https://github.com/dotnet/arcade/blob/af3f89b87ac2d5a5bf8f108f7a3b1a166ac20f76/src/Microsoft.DotNet.Arcade.Sdk/tools/Version.props#L90

[2019-03-05 19:10] ericstj commented on #29549
Cool.  We could try it out. A decent test would be to set that, build, and examine that all the nuspecs got final (for both package version as well as dependencies).

[2019-03-05 19:20] wtgodbe commented on #29549
I’ve already got a build with that change running locally, will see how it behaved after I get back from lunch 😊

[2019-03-05 19:33] cjbush commented on #2538
@tarekgh I just checked and IsDaylightSavingTime was indeed coming back as true. And then I realized that's because the value for the date coming back for my request was the day after DST kicks in. So tl;dr I'm an idiot who doesn't know when daylight savings starts and the API works fine. I wonder if that was exiled78's original problem, since it occurred around the same time last year.

[2019-03-05 19:47] #35724 closed

[2019-03-05 19:47] ericstj commented on #35159
From GitHub:

[2019-03-05 19:47] divega commented on #31595
@roji @Wraith2 I believe since DbDataReaderExtensions already exists and ships in the System.Data.Common package as a real implementation (as opposed to type-forwarding), these extension methods will probably be available everywhere.

Anyway, we can go over the details in the API review.

[2019-03-05 19:55] wtgodbe commented on #29549
The built packages have versions that look like `4.6.0-dev.final`. I see the following in the .nuspec for `Microsoft.Private.CoreFx.NetCore.App`:

      <group targetFramework=".NETCoreApp3.0">
        <dependency id="Microsoft.NETCore.Platforms" version="2.0.0" />
        <dependency id="Microsoft.NETCore.Targets" version="2.0.0" />
      </group>
    </dependencies>

And the following in the .nu

[2019-03-05 20:05] mikernet commented on #35167
My tests in `StringBuilderTests.cs` are building and running properly but changes made to StringBuilder.cs don't seem to be building or having any effect on the tests. Even if I just write a bunch of nonsense in `StringBuilder.cs` to try to get it to fail a build, nothing happens...I can still build from corefx root or from System.Runtime just fine.

Any suggestions?

[2019-03-05 20:07] mikernet commented on #35167
What's the actual solution I should be opening when editing StringBuilder.cs?

[2019-03-05 20:12] wtgodbe commented on #29549
@mmitche is there some easy way we can wire this up to ProdCon/DARC's notion of Stable builds? I believe we want the following behavior matrix (@ericstj can correct me if I'm wrong)

- Non-stable builds: `DotNetFinalVersionKind` should be empty, package version suffix will be `$(_PreReleaseLabel)$(_BuildNumberSuffix)`
- Prerelease stable builds: `DotNetFinalVersionKind` should be `Prerelease`, pac

[2019-03-05 20:15] JeremyKuhne commented on #35167
You need to make the change in CoreCLR as that is where the code is actually compiled into. It is a little contorted for code that lives in System.Private.Corelib.dll. I'll dig up the links for you in a minute.

[2019-03-05 20:17] Wraith2 commented on #31595
Sure, sounds like a good place to put them.

[2019-03-05 20:18] mmitche commented on #29549
@wtgodbe You mean for 3.0?  For 2.2/2.1 it's already wired up

[2019-03-05 20:18] mmitche commented on #29549
For 3.0 the stable build scenario isn't quite figured out yet, but I have some ideas around how it's going to work.

[2019-03-05 20:20] wtgodbe commented on #29549
Just for 3.0. We can circle back to this once we have a story for how stable 3.0 builds will work.

[2019-03-05 20:21] JeremyKuhne commented on #35167
Here's the link on how to use your local build of CoreCLR: https://github.com/dotnet/corefx/blob/master/Documentation/building/advanced-inner-loop-testing.md

Generally what we do is create a PR in both repos- code in CoreCLR and tests in CoreFX. The test PR is marked as blocked on the CoreCLR change being merged.

We keep the tests aligned with the assembly where the type is exposed, not where it

[2019-03-05 20:22] JeremyKuhne commented on #35167
https://github.com/dotnet/coreclr/tree/master/src/System.Private.CoreLib is where the code is compiled in.

[2019-03-05 20:24] mikernet commented on #35167
Since my tests are testing the new behavior where escaped strings don't make it into the custom format specifier, should they be conditionally executed based on which runtime it's running on?

[2019-03-05 20:34] mikernet commented on #35167
Last question - do I leave StringBuilder.cs that's inside corefx alone then, only change it in coreclr or both?

[2019-03-05 20:37] geoffkizer commented on #35769
I think the main issue here is that the folded header line processing is in ReadNextResponseHeaderLineAsync, which is an async method that keeps reading from the underlying stream as necessary.

But we want to use this from ChunkedEncodingReadStream.ReadChunkFromConnectionBuffer, which is synchronous and only operates over the current buffer.

So we need to factor out something like TryReadNextRes

[2019-03-05 21:05] danmosemsft commented on #34437
@2E0PGS hello, are you still working on this one? I think only test remains? You could throw up a PR just for work in progress, that others could comment on.

[2019-03-05 21:09] 2E0PGS commented on #34437
Yes I been busy with work. Probably wouldn't have another chance to look until weekend.

If you need quicker fix then I'll create a PR for someone else to create the test for?

⁣Cheers,

On 5 Mar 2019, 21:06, at 21:06, Dan Moseley <notifications@github.com> wrote:

[2019-03-05 21:09] caesar1995 commented on #35769
Yes, this inline with my observation.

[2019-03-05 21:20] AraHaan commented on #35666
It seems after testing that that handler is in fact only used after I use ``Application.Run`` with a form, and does not apply for console applications even if I explicitly add ``[STAThread]`` to the entrypoint. I assumed this incorrectly and that the cases actually are thrown in the normal ``UnhandledException`` handler in the default ``AppDomain``.

So, in this case for console and .NET Core < 3.

[2019-03-05 21:20] #35666 closed

[2019-03-05 21:21] vancem commented on #35167
Anything in the 'shared' directory (which includes StringBuilder.cs) in coreclr is automatically cloned into core-fx at a fast cadence.    I believe you should be modifying it in coreclr is the correct procedure, it will be propagated for you.

[2019-03-05 21:26] danmosemsft commented on #34437
@2E0PGS totally fine. It's just us keeping the pipes flowing rather than any particular urgency for this one.

[2019-03-05 21:28] danmosemsft commented on #33987
https://github.com/dotnet/arcade/issues/1584

[2019-03-05 21:29] mattwarren commented on #35785
There's is already some caching, for instance if you fetch a single field/property/method all the other fields/properties/methods on the Type are cached internally.

This is done using `RuntimeTypeCache` ([here](https://github.com/dotnet/coreclr/blob/7ddd038a33977b152e856448443425cbc6b591c6/src/System.Private.CoreLib/src/System/RtType.cs#L145-L1700)) and [this search](https://github.com/dotnet/cor

[2019-03-05 21:37] danmosemsft commented on #26745
Proposal is currently to leave this as is.

[2019-03-05 21:39] danmosemsft commented on #33616
@AaronRobinsonMSFT given your comment above, shall we move to CoreCLR? I think it makes a lot of sense to do this in 3.0 if it will help customers unblock themselves without having to reach out to us.

[2019-03-05 21:46] tannergooding commented on #35765
CC. @migueldeicaza

[2019-03-05 21:53] AustinWise commented on #20755
Sadly it looks like #31511 got implemented instead of this proposal, which only add supports for controlling the `MOVEFILE_REPLACE_EXISTING` flag. There is still no built in way to not pass the `MOVEFILE_COPY_ALLOWED` option.

[2019-03-05 21:59] jkotas commented on #35785
What are the specific reflection operations you would like to run faster?

[2019-03-05 22:00] Wraith2 opened #35797 "Can StreamWriter buffers be rented?"
Doing text to binary conversions often ends up using StreamWriter because it's much easier than using the encoding api directly. StreamWriter uses char and byte buffers internally which are created in the [Init](https://github.com/dotnet/corefx/blob/327d8ed428b40491b499cad4d4114af4fa3f8f30/src/Common/src/CoreLib/System/IO/StreamWriter.cs#L158) method, and while you can specify the buffer size you

[2019-03-05 22:05] JeremyKuhne commented on #35167
Yes, and we do that in a variety of ways. If there is new API surface we use a `.netcoreapp` file where the tests are only compiled for runs on .NET Core. Otherwise we use this attribute to test old (on 4.x) and new behavior:

[code]

[2019-03-05 22:07] filipnavara commented on #26745
@danmosemsft I have one case tracked in issue #35114 that breaks our application for a code path where serialized resources are not allowed yet. I'd be willing to prototype a fix and submit a PR. The security impact would be quite minimal since it would affect only manifest resources for which there is already an exception to allow deserialization.

[2019-03-05 22:07] jkotas commented on #35746
@shadow-cs The PR with this fix would be very welcomed. Could you please submit it?

[2019-03-05 22:18] JeremyKuhne commented on #35797
We don't pull in a shared buffer in the streams as they have asynchronous APIs. The concern is that streams get disposed with pending writes. The buffer could be re-rented before those writes complete. We couldn't guard for that without tanking perf.

[2019-03-05 22:22] AaronRobinsonMSFT commented on #33616
@danmosemsft Yep. Moving this to CoreCLR makes sense. Is there a way to move the issue across repos so we don't lose context?

[2019-03-05 22:29] Wraith2 commented on #35797
Ah, i thought it was too obvious to be missed but couldn't see the reason. That should only be possible with a non-awaited async operation right?

[2019-03-05 22:29] jkotas commented on #35755
MetadataLoadContext is for inspecting metadata. It does not allow running the code from the assemblies being inspected. GetCustomAttributes methods throw exception because of they run code.

Are you actually trying to run the razor components? If yes, you may be want to look at the plugin samples at https://github.com/dotnet/samples/tree/master/core/extensions/AppWithPlugin

[2019-03-05 22:43] danmosemsft commented on #26745
@ericstj what are your thoughts on this above?

[2019-03-05 22:54] mlptownsend opened #35799 "Vector2 Normalize Differs between Debug vs Release"
I know it's probably coming down to some floating point rounding issue, but I'm seeing different results with Vector2.Normalize between Debug and Release mode in both .NET Core 2.1.8 and .NET Framework 4.7.2. I would think one would receive the same value in either mode.

All you need to do to reproduce it is to create a new .NET Core Console App and paste this into Program.cs:
[code]

In Debug Mo

[2019-03-05 23:17] bgribaudo commented on #35592
@roji, thank you for taking the time to read this proposal and for the detailed comments. We are both pulling toward the same big picture goal.

Taking a step back from implementation details, one question I’ve been thinking about is “what are the use cases for command sets?” There are many different ways to slice and dice when grouping and describing use cases. Here’s one attempt….

# Use Cases

[2019-03-05 23:17] bgribaudo commented on #35592
# How results are returned
Describing use cases still leaves the big question we’ve been discussing about how result are returned. :-)

Under ether proposal, in the case of _ORM Scenario/Template Command_, the `DbCommand`s in the command set are not—in essence—separate distinct commands but rather _instances_ of the same command paired with different parameters. In this context, there is no need o

[2019-03-05 23:19] bgribaudo commented on #35592
@roji, some thoughts on specific comments you graciously shared. All of these are primarily given in the context of/from the prospective of the _General Use Case_.

Actually, only commands (a.k.a. batches) would have their results segmented into separate data readers. However, if a single command returns multiple result sets (e.g. because several SQL statements are concatenated together), nothing

[2019-03-05 23:38] tarekgh commented on #35793
I don't think this is true. it will run but you have it to give it a time to run as you adding some delay.

Just try something like the following (not I added some Sleep at the end to give time to the other for each to completely run.

[code]

I am closing this issue but feel free to reply back with any more questions and I'll be happy to help with.

[2019-03-05 23:38] #35793 closed

[2019-03-05 23:44] bgribaudo commented on #35592
@roji

Maybe this varies client by client. With SqlClient, I believe only `KeyInfo`, `SchemaOnly` [change the query](https://github.com/dotnet/corefx/blob/ee6cf5ab949c05cf85cdf44678fa7763cd59910c/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlCommand.cs#L3741) while `SingleResult`, `SingleRow` and `SequentialAccess` come into play in the data reader (e.g. [ref1](https://github.com/dotnet/c

[2019-03-05 23:52] GrabYourPitchforks commented on #33543
@benaadams is correct. We do have some limited optimizations even for the culture-specific operations, but the APIs being proposed here aren't candidates for those optimizations.

@tarekgh, are you sure we have access to this information from our non-Windows globalization routines? I'm unfamiliar with those APIs, and from browsing the code it looks like some code paths (`LastIndexOf`, for instance

[2019-03-06 00:05] tarekgh commented on #33543
Yes. here is the code https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Globalization/CompareInfo.Unix.cs#L238 look at the last parameter which is the info we need :-) we already have it.

[2019-03-06 00:10] GrabYourPitchforks commented on #33543
@tarekgh Here's the actual p/invoke.

https://github.com/dotnet/coreclr/blob/98cd595b35ced3adb6efe0c667f5160f21067e0b/src/System.Private.CoreLib/shared/System/Globalization/CompareInfo.Unix.cs#L291

In the `LastIndexOf` code path _specifically_, it's not flowed backward. This was the basis of my concern re: whether the underlying lib doesn't support it or if we just need to change our p/invoke.

[2019-03-06 00:22] tarekgh commented on #33543
@GrabYourPitchforks yes, that is the pluming I was referring to in my comment https://github.com/dotnet/corefx/issues/33543#issuecomment-469765841. we can use the existing pinvok with adding one extra parameter which I don't think will affect the perf. we'll just handle the extra parameter only in the new introduced cases to avoid affecting the existing APIs.

[2019-03-06 00:28] qcc-na commented on #31775
This is one of the last things keeping us from moving to .net core.

[2019-03-06 00:29] ericstj commented on #35114
This seams reasonable.  The IResourceReader is the thing that's managing the stream and doing the serialization, so if we see that readerTypeName is `System.Resources.ResourceReader` ewe can directly invoke that constructor and avoid the CreateInstance call.

[2019-03-06 00:30] ericstj commented on #26745
I took a look at the linked issue and it seems like a reasonable tweak to my earlier change.  I'm ok with that.

[2019-03-06 00:47] dark2201 commented on #35785
GetCustomAttributes, getting and setting values of fields etc. Emitting IL or using expressions is almost always faster than using vanilla reflection.

There are many libraries like fasterflect or fastmember solving those performance problems so why couldn't it be faster out of the box? Would be cool

[2019-03-06 00:52] filipnavara commented on #35114
Great. I'll submit a PR shortly.

[2019-03-06 01:21] danmosemsft commented on #35088
I'm trying to figure what that means in concrete terms. I built `build -f netfx` and now I have lots of files in `artifacts\bin\netfx\netfx-Debug` but they all have the same timestamp and they definitely mostly aren't in this category. I think folks here need explicit instructions.

[2019-03-06 01:41] tarekgh commented on #28001
talked offline with @ViktorHofer and moving this issue to future release as it is not urgent to 3.0

[2019-03-06 01:46] justintoth commented on #31775
@qcc-na This ended up working for us...

1. Download the Microsoft.SqlServer.Types nuget package into a .NET Framework project.
2. In your .NET Standard class library, do Dependencies > Add Reference and browse to the Microsoft.SqlServer.Types.dll from the nuget package (although really you'll want to store this dll somewhere better like {workSpace}/References.
3. Copy the SqlServerSpatial140.dll

[2019-03-06 01:56] JeremyKuhne opened #35806 "API Proposal: Add Variant type to avoid boxing .NET intrinsic types"
Currently there is no way to pass around a heterogeneous set of .NET value types without boxing them into objects or creating a custom wrapper struct. To facilitate low allocation exchange of value types we should provide a struct that allows passing the information without heap allocations. The canonical example of where this would be useful is in `String.Format`.

**Related proposals and sample

[2019-03-06 02:35] omajid opened #35807 "Error building non-portable against OpenSSL 1.1"
With OpenSSL 1.1 development headers installed, I can't build corefx in non-portable mode:

    $ git checkout master
    Already on 'master'
    Your branch is up to date with 'upstream/master'.
    $ git rev-parse --short HEAD
    758c059b3d
    $ git clean -xdf
    Removing artifacts/
    $ cd src/Native/
    $ ./build-native.sh

[code]

These functions are defined in [safestack.h](https://gith

[2019-03-06 02:41] benaadams commented on #35806
Would this be a 16 byte (Guid/Decimal) + enum sized struct? (24 bytes with padding on x64)

[2019-03-06 02:50] jkotas commented on #35806
These all can be fixed, without too much work. TypedReference has been neglected, but that does not mean it is a useless type. (Some of this is described in https://github.com/dotnet/corefx/issues/29736.)

I think fixing TypedReference would be a better choice than introducing a new Variant type.

I think the design should allow *all* types without falling back to boxing.

This should be a non-goa

[2019-03-06 02:53] bartonjs commented on #35807
Weird, it works fine for me on Ubuntu 18.10 :smile:

[2019-03-06 03:16] mjrousos commented on #26745
@danmosemsft, double-checking that I understand you correctly - the proposal is that @ericstj's fix here will be left as is (modified, perhaps, by the suggestion in #35114)?

Do we have a proposal for the writing side?

[2019-03-06 03:38] JeremyKuhne commented on #35806
Goal is 24 bytes. We've looked at a lot of different ways of packing that in. A pointer and 16 bytes of data. It might involve some contortions or dropping down to 12 bytes of data.

Not trying to infer it is useless, just not appropriate in this case. I'm not sure how you'd make it a non-ref struct or make as fast as something targeted at key types.

Fair enough, I've changed it to nice-to-have.

[2019-03-06 03:43] stephentoub commented on #35806
FWIW, this approach feels very limited to me, in that I see supporting every value type as a key scenario.  I would rather see, for example, a simple unsafe annotation/attribute that would let the API tell the JIT that it promises wholeheartedly an argument won't escape, and then add an overload that takes a `[UnsafeWontEscape] params ReadOnlySpan<object> args`, where the JIT would stack-allocate

[2019-03-06 03:56] JeremyKuhne commented on #35806
To be super clear, I don't see this as a solves-all-boxing solution. I absolutely think we can benefit from broader approaches, but I have a concern about being efficient with core types. Being able to quickly tell that you have an int and extract it is super valuable I think. Certainly for the `String.Format` case, for example. :)

[2019-03-06 04:08] jkotas commented on #35806
Depends on how the actual formatting is implemented. If you can dispatch a virtual formatting method, ability to switch over a primitive type does not seem super valuable.

Something like this would work too. It is pretty similar to `ReadOnlySpan<TypedReference>` on the surface, with different tradeoffs and low-level building blocks.

[2019-03-06 04:11] jkotas commented on #35785
Some of the potential solutions are discussed in https://github.com/dotnet/corefx/issues/24390

[2019-03-06 04:11] stephentoub commented on #35806
I'd be fine with that as well if it was similarly seamless to a caller.

[2019-03-06 04:39] jaredpar commented on #35806
Rather than an attribute and a promise I'd like to leverage the type system if possible here. 😄

What if instead we added a JIT intrinsic that "boxes" value types into a `ref struct` named `Boxed`. This type would have just enough information to allow manipulation of the boxed value:

[code]

The JIT could choose to make this a heap or stack allocation depending on the scenario. The important part

[2019-03-06 04:53] stephentoub commented on #35806
That also sounds reasonable.

(Though the [UnsafeWontEscape] approach could also work on the existing APIs: we just attribute the existing object arguments in the existing methods, and apps just get better.)

[2019-03-06 04:57] stephentoub commented on #35746
+1; Thanks!  And the fix looks right.  Though we might also want to:
- Rename the argument to Grow to make it clear it's about additional capacity beyond the current position rather than beyond the current span length.
- Add a Debug.Assert to Grow to validate that _pos > _chars.Length - additionalCapacityBeyondPos.

[2019-03-06 05:00] jkotas commented on #35806
How would `struct Boxed` differ from existing `TypedReference` (with extra methods added to make it useful)?

Either way, it sounds reasonable too.

[2019-03-06 06:13] am11 commented on #35807
Seems like it was marked unused 19 days ago: https://github.com/openssl/openssl/pull/8246 (v1.1.1).

Going by the code and discussion thread https://github.com/openssl/openssl/issues/8102, `sk_` can be replaced with `OPENSSL_sk_`; as the former is wrapper around the latter. For portable, they are already replicated in opensslshim: https://github.com/dotnet/corefx/blob/148623a7cd0eb2789dfb0d1fd2bfb

[2019-03-06 06:34] bartonjs commented on #35807
It seems like maybe we just want to turn off `-w-used-but-marked-unused`, since their description was "We therefore need to mark those generated functions as unused, so the compiler knows that we know, and stops complaining about it."

Based on my understanding of the `unused` attribute it's supposed to only mean "don't warn me if I don't use it"; so I'm not sure why clang's warning about having u

[2019-03-06 06:53] safern commented on #35088
I don't think you need to look under `artifacts\bin\netfx` -- they should look under `artifacts\bin\runtime\netfx-Windows-*\` which is where we binplace what we build. However that folder has more than just what we build, we also bring some stuff from packages and some tooling. So I just wrote a small msbuild target, and plumb it into `Directory.Build.targets` that gets whatever is been binplaced

[2019-03-06 07:07] davidfowl opened #35808 "Introduce abstractions for buffer managed reading and writing"
The goal here is to introduce a minimal abstraction into the stack that supports asynchronous buffered reading and asynchronous buffered writing. **System.IO.Pipelines** would implement these interfaces and various places in the stack that wanted to support buffered reading and writing would take these as arguments.

[code]

Alternatively, these could be interfaces so that we could potentially eve

[2019-03-06 07:58] ststeiger commented on #31775
@justintoth: Copying a native *.dll will not work on Linux, Mac or Android. <br />
Come to think of it, if you just copied a 32 xor 64-bit dll, it will not work with AnyCPU on Windows either. <br />
Come to think of it further, if you didn't xcopy the C/C++ runtime libraries (of the right version) along with any other dependencies, it won't work for sure on a single CPU either.

[2019-03-06 08:57] benaadams commented on #35808
They'd become the base classes to `PipeWriter` and `PipeReader`?

[2019-03-06 08:58] shadow-cs commented on #35746
@stephentoub will do

[2019-03-06 09:39] #35784 closed

[2019-03-06 09:53] ShutterQuick commented on #16364
Thanks for your answer, @bartonjs

You raise some excellent points, and of course you're right, my suggestion of null to determine if the store should be active or not is obviously ridiculous.

I agree that it might make more sense to allow adding trust anchors rather than roots, but as long as Windows 7 is supported that doesn't seem feasible.
The `CERT_CHAIN_EXCLUSIVE_ENABLE_CA_FLAG`, which is n

[2019-03-06 10:16] am11 commented on #35807
`./build-native.sh x64 release  cmakeargs -DCMAKE_C_FLAGS=-Wno-used-but-marked-unused`
for quick test or if we don't want to persist this suppression. :)

[2019-03-06 11:37] #35732 closed

[2019-03-06 12:00] juho-hanhimaki commented on #34126
Any timeline when the ReadOnlySpan<T> implementation might be included in the product?

[2019-03-06 12:06] discostu105 opened #35814 "Simple Number parsing performance (NumberStyles.None)"
Triggered by this [SO question](https://stackoverflow.com/questions/55009621/parse-ids-from-input-string-to-long-number-using-spant-in-net), I've tried to parse numbers (longs) as fast as possible. Assume these numbers are ID's (always positive, decimal, no fancy characters) I was puzzled to see that `long.TryParse` performs far worse than a hand-rolled implementation like this:
[code]

Results:

[2019-03-06 12:12] discostu105 commented on #35814
As a side-note, I see that there has been a big improvement over .NET Core 2.2 already. Same benchmark in 2.2:

[code]
|                          Method |      Mean |     Error |    StdDev |    Median |
|-------------------------------- |----------:|----------:|----------:|----------:|
|                      Long_Parse | 90.583 ns | 1.8210 ns | 3.9586 ns | 91.002 ns |
|                   Long_TryP

[2019-03-06 12:16] juho-hanhimaki opened #35815 "System.Security.Cryptography KeyedHashAlgorithm add support for ReadOnlySpan<byte> as Key"
At the moment the `Key` must be `byte[]`.

In our scenario we have a key that is stored as `ImmutableArray<byte>`. In future `ImmutableArray<byte>` might be compatible with `ReadOnlySpan<byte>`.  https://github.com/dotnet/corefx/issues/34126

It would be neat if the `ReadOnlySpan<byte>` could then be used as a key for the hash algorithms.

[2019-03-06 12:27] #35780 closed

[2019-03-06 12:58] lil-Toady commented on #21833
I understand that Application/Private/ContextSpecific tag classes might be out of scope here, but it would be great to not leave them out absolutely, as they are widely used in smart cards industry, for example, including banking (see EMV specifications). And it's all mostly related to cryptography in those areas too.

The major complexities I see here are:
1. X-690-201508 BER/DER/CER encodings no

[2019-03-06 13:04] vcsjones commented on #35814
Might be worth looking at the discussions in #13293

[2019-03-06 14:10] bartonjs commented on #21833
@lil-Toady I'm not sure what the context of your comment is...

The `AsnReader` and `AsnWriter` types, both the corefx-internal versions and the corefxlab-public ones, handle Application, Private, Context-Specific, and Universal tags.

The `asn.xslt` code generator in corefx doesn't handle Application or Private, but it isn't really a public aspect.

I don't follow. `AsnReader` and `AsnWriter` und

[2019-03-06 14:23] bartonjs commented on #35751
`TimeSpan` also doesn't know what "months" are, since "2 months and a day" is anywhere from 60 days (Jan/Feb or Feb/Mar in a non-leap-year) to 63 (Dec/Jan); which is a pretty large range for a single-value with a 100ns precision.

`P63D` would be possible input/output; if the negative problem is ignored.

[2019-03-06 15:46] adamsitnik commented on #35814
As I thought, the optimizations brought by @tannergooding to .NET Core 3.0 are already visible in our benchmarks.

[code]

| Method |     Toolchain |                value |      Mean |
|------- |-------------- |--------------------- |----------:|
|  Parse | netcoreapp2.1 | -9223372036854775808 | 139.16 ns |
|  Parse | netcoreapp2.2 | -9223372036854775808 | 137.49 ns |
|  Parse | netcoreapp3.0 | -9

[2019-03-06 15:48] omajid commented on #35807
I can confirm that `./build-native.sh cmakeargs -DCMAKE_C_FLAGS=-Wno-used-but-marked-unused` works on my end.

[2019-03-06 15:50] jonathanpeppers opened #35818 "[question] System.Reflection.Metadata how to "resolve" a TypeReference?"
Let's say I have:
* Assembly `Foo.dll` with class `Bar`: `public class Bar { }`

If I grab `Bar`'s `TypeDefinition` and look at `BaseType`:
[code]

If I want to get the `TypeDefinition` for `System.Object` here, I have to:
* Get a `MetadataReader` for `mscorlib.dll` (that part is easy)
* Loop over all the `reader.TypeDefinitions` and compare the full name...

If I need to do this a lot, such as a

[2019-03-06 15:51] #35746 closed

[2019-03-06 15:53] stevejgordon commented on #35698
I'm a bit late to the party!

@davidsh and @stephentoub - One of the areas I've been trying to establish some consistent common advice for is the disposal requirements of HttpRequestMessage and HttpResponseMessage. I did a small amount of digging myself, spoke to a few people and also a bit of GitHub searching.

One reference I found was...

For request content at least, I believe the disposal sta

[2019-03-06 15:59] bartonjs commented on #35807
Cool.  So adding `add_compile_options(-Wno-used-but-marked-unused)` to src/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt should do the trick.

[2019-03-06 16:11] jkotas commented on #35815
If you need to interop with existing APIs that take `byte[]` and do not modify it, you can get `byte[]` from `ImmutableArray<byte>` by doing:

[code]

[2019-03-06 16:48] pakrym commented on #35808
What if the reader doesn't consume the incomplete data? It would be impossible for it to know that no more data would ever arrive.

We can throw if `advance == End` and no more data would be available.

[2019-03-06 16:56] tannergooding commented on #35814
Yes, I think there is still room for improvement. However, I'm not sure we can expose those improvements directly via mechanisms like `long.Parse`.

The reasoning is that the default parsing logic needs to be able to handle various cultures, styles, etc. We are also culture aware by default. This is not very efficient when it comes to wanting a "fast path" that just spits out invariant culture dat

[2019-03-06 17:00] jkotas commented on #35818
`System.Reflection.Metadata` is a low level component. It does not resolve type references. The components that build on top of `System.Reflection.Metadata` are responsible for resolving type references.

You may want to take a look at https://github.com/dotnet/corefx/tree/master/src/System.Reflection.MetadataLoadContext . This is higher level component that provides the familiar reflection object

[2019-03-06 17:01] tmat commented on #35818
Re ExportedTypes: please refer to ECMA 335 specification:

[2019-03-06 17:11] karelz commented on #33506
Here are technical notes on feasibility from @bartonjs about SSL session resuing:

Windows seemingly maintains the sessions per-process.  OpenSSL has support for it on SSL_CTX*, but we make a new one of those for each connection.  So we’d need to move to something like a static singleton SSL_CTX* and then everywhere we touch it would need to get reassessed.

A quick glance at how we interop with S

[2019-03-06 17:12] ericstj opened #35821 "Facades and NotSupported assemblies are bloated with resources they don't use"
Often times we have builds that cross-compile and have very different implementations.  Our resource conventions don't force folks to think about this, so the resources are often a superset of all configurations.

We should change the defaults so that this isn't the case.

I propose the following:
1. By default PartialFacades should not include any resources, unless a project opts-in.  Folks shoul

[2019-03-06 17:30] danmosemsft commented on #35088
Thanks @safern. OK @kmhigashioka @kislovs are you good to go? If you're still interested, please go through libraries in this repo that are NOT in the list above, and follow the guidance I put [above](https://github.com/dotnet/corefx/issues/35088#issuecomment-469086598).

Thanks! That will simplify our tests.

[2019-03-06 17:32] ericstj commented on #21197
@eric-raes / @Treit you're running the netstandard implemenation of this package in a netframework application.  This is happeneing because you haven't referenced the ConfigurationManager package in the netframework application and it's using Package.config (which doesn't flow transitive package dependencies).  The only reason you aren't seeing a FileNotFoundException here is because the library m

[2019-03-06 17:33] ViktorHofer commented on #35088
Also exclude System.Runtime.Serialization.Formatters as that is important for cross-serialization testing.

[2019-03-06 17:35] mikernet commented on #35167
Not sure how the CI testing is going to work given that both PRs depend on one another to succeed but I think that should do it.

[2019-03-06 17:43] jkotas commented on #35808
Yes, I think it would be better for these to be interfaces. We have started on this path with `IBufferWriter` already.

I am not sure whether we are ready to start using default interfaces in the BCL itself in 3.0. We had several discussions about that and it looked like a minefield.

What is the `examined` used for?

Overall, this direction looks reasonable to me. Thanks for writing it down!

[2019-03-06 17:45] jonathanpeppers commented on #35818
So this NuGet package is exactly what I'm looking for: https://www.nuget.org/packages/System.Reflection.MetadataLoadContext

This example is basically what we need to do:
[code]
These APIs will be much easier to work with than using SRM directly.

Thanks!

[2019-03-06 17:45] #35818 closed

[2019-03-06 17:45] bartonjs commented on #35807
@omajid (Assuming the CMakeLists.txt also makes your build succeed, it should probably be combined with #35805)

[2019-03-06 17:48] wfurt commented on #35743
Following tests are failing as well on Windows ARM64

<img width="688" alt="image" src="https://user-images.githubusercontent.com/14356188/53901962-08483c80-3ff5-11e9-965b-39a1ba652847.png">

[2019-03-06 17:50] pakrym commented on #35808
It's used by the reader to request more data. If ReadOnlySequence was examined to the end (even if it wasn't consumed) ReadAsync has to wait for more data to arrive. It's also used for backpressure - we limit the maximum amount of unobserved data that's stored in the Pipe to avoid using too much memory.

[2019-03-06 17:58] Gnbrkm41 commented on #35664
Able to repro... for now. does fail on my desktop PC.

[2019-03-06 17:59] Gnbrkm41 commented on #35664
I'd like to give it a go, but not entirely sure when I'd be able to work on this. If others would like to try before I can, please do. :^)

[2019-03-06 18:06] benaadams opened #35824 "API: TextPipe : TextWriter"
The TextPipe can encode directly to the PipeWriter and needs no additional encoding buffers (unlike StreamWriter)

[code]

/cc @davidfowl

[2019-03-06 18:14] wfurt commented on #35708
note the:
[code]

This may be fixed by #35680

[2019-03-06 18:27] Gnbrkm41 commented on #35665
Was able to reproduce. :tada: I have both the MSBuild binlog and Procmon event data. Now only to find that exact file....

[2019-03-06 18:28] Gnbrkm41 commented on #35665
Any hint/tips when finding? there's literally millions of events in total, and I have no idea where to start from. 😦

[2019-03-06 18:45] Gnbrkm41 commented on #35665
Found this amongst the log. Perhaps... perhaps related?
![image](https://user-images.githubusercontent.com/42944058/53905233-56a81a80-408b-11e9-82be-26477c25dba2.png)
`\\LOCALHOST\ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss