[2015-01-30 18:55] #193 closed

[2015-01-30 21:32] krwq commented on #566
@pallavit, is it known issue? On the first glance it looks like a product bug or some concurrency problem.

@cnblogs-dudu, does it repro all the time?

[2015-01-30 21:46] ebickle opened #574 "The core generic collection types should include a priority queue"
Issue https://github.com/dotnet/corefx/issues/163 requested the addition of a priority queue to the core .NET collection data structures.

This post, while a duplicate, is intended to act the formal submission to the corefx API Review Process. The issue contents are the *speclet* for a new System.Collections.Generic.PriorityQueue<T> type.

## Rationale and Usage

The .NET Base Class Libraries (BCL

[2015-01-30 23:16] svick commented on #574
I think this should be Θ(n). You need to at least iterate the input.

[2015-01-31 00:11] bartonjs opened #579 "System.Globalization.Extensions.Tests fail on Windows 7"
On Win7 (7601) the globalization extensions have several failures:

System.Globalization.Extensions.Tests.IdnaConformanceTests.TestAsciiPositive [FAIL]
    System.ArgumentException : Decoded string is not a valid IDN name.
    Parameter name: Unicode

System.Globalization.Extensions.Tests.IdnaConformanceTests.TestUnicodePositive [FAIL]
    Expected: <+á.+É¦ê>. Actual:<xn--0ca.xn--ssa73l>. Error on

[2015-01-31 00:15] HoracioFilho commented on #574
+1

[2015-01-31 00:15] paulcbetts commented on #574
Rx has a highly production-tested priority queue class:

https://github.com/Reactive-Extensions/Rx.NET/blob/master/Rx.NET/Source/System.Reactive.Core/Reactive/Internal/PriorityQueue.cs

[2015-01-31 01:37] pharring opened #580 "PERF: System.IO.Win32FileStream.Read allocates buffers unnecessarily"
On Win32, if you create a FileStream over a small file (less than 4KB) and try to read the entire contents into a byte array, you'll end up calling this overload:
[code]
On line [731 of Win32FileStream.cs] (
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/Win32FileStream.cs#L731) there is a check to see if `count` is greater than or equal to `_bufferSize` in ord

[2015-01-31 03:30] YingP99 commented on #516
Actually I've handled that case too, and it's the result of running some tool.
For using "Roslyn', you don't need wait for VS2015. It's available as Nuget packages; but you do need install MSBuild 15.0 Preview. You can download it from VS2015 download site - http://www.visualstudio.com/en-us/downloads/visual-studio-2015-downloads-vs.
The code is less than 200 lines (power of Roslyn). Let ask aroun

[2015-01-31 04:44] cnblogs-dudu commented on #566
@krwq
all the time

[2015-01-31 05:13] cnblogs-dudu commented on #566
@krwq
[code]
obj value is 0.

[2015-01-31 09:19] Clockwork-Muse opened #584 "ParallelEnumerable.Range(...).AsOrdered().Concat(...) ...out of order"
I'm getting a pretty distressing error:

    int leftSize = 4;
    int rightSize = 4;
    int[] leftData = new int[leftSize];
    for (int i = 0; i < leftSize; i++) leftData[i] = i;
    int[] rightData = new int[rightSize];
    for (int i = 0; i < rightSize; i++) rightData[i] = i;

    ParallelQuery<int> query = ParallelEnumerable.Range(0, leftSize).AsOrdered().Concat(ParallelEnumerable.Range(0, r

[2015-01-31 14:00] stephentoub commented on #580
@pharring, I think it'd be great to be able to avoid that buffer allocation in such situations.  However, at this point in the code, we don't necessary know the length of the file, right (if the file stream is even seekable)?  Which implies we'd have to do additional I/O (GetFileSizeEx) in order to get it.  Even for the cases where the buffer allocation could be avoided, do we know that would be a

[2015-01-31 15:12] stephentoub commented on #584
@Clockwork-Muse, thank you very much for finding and reporting this.  I believe I found the problem and submitted a PR to fix it (#585).

@weshaggard, @AlfredoMS, I know it's on your radar, but we really need to get back to the more generic implementation as quickly as possible.  Not only are there the performance implications we've previously discussed, but as is demonstrated by this bug, the lac

[2015-01-31 15:22] stephentoub commented on #387
As of #563, this should be fixed in all of the tests.  A change made to xunit (https://github.com/xunit/xunit/commit/2f2efc5be1be468a3efe72ff5faa858b9f99926a) will also help to ensure such issues don't manifest in the future, should any additional usages sneak in.

[2015-01-31 15:22] #387 closed

[2015-01-31 15:23] stephentoub commented on #323
Fixed by #408

[2015-01-31 15:23] #323 closed

[2015-01-31 15:24] stephentoub commented on #283
Reenabled with #465.

[2015-01-31 15:24] #283 closed

[2015-01-31 15:27] stephentoub commented on #163
Closing to consolidate with same feature being requested in detail in #574

[2015-01-31 15:27] #163 closed

[2015-01-31 15:30] stephentoub commented on #495
You can definitely count on this being the case; even if we wanted to change it (we don't), we wouldn't be able to as too much code depends on it.  But your suggestion to improve the docs with the information is a good one.

[2015-01-31 15:36] Yomodo commented on #549
According to MSDN, a SUBST.EXE created mapping should NOT be considered a valid mapped drive.

We follow the same in our project, https://github.com/alphaleonis/AlphaFS

[2015-01-31 20:11] pharring commented on #580
I notice that the implementation of [System.IO.File.InternalReadAllBytes] (https://github.com/dotnet/corefx/blob/377dde76c5df105a7bab2c0a3002c0d835ff1b07/src/System.IO.FileSystem/src/System/IO/File.cs#L436) also uses the default buffer size (4KB) which would be needlessly allocated for files smaller than that. Perhaps that could be addressed by specifying a very small buffer (1 byte?)

[2015-01-31 20:30] stephentoub commented on #580
Yup, exactly. I'll take a look at a few of these helpers and see what can be done.

[2015-01-31 20:53] justinvp commented on #574
I'd lean towards using the struct enumerator to be consistent with `Queue<T>` which uses a struct enumerator. Also, if a struct enumerator isn't used now, we won't be able to change `PriorityQueue<T>` to use one in the future.

[2015-01-31 21:33] stephentoub opened #587 "Untangle FileStream's async implementation"
In .NET Core, Stream doesn't provide the legacy virtual Begin/EndXx methods, just the XxAsync methods, yet FileStream still implements the Begin/EndXx methods internally with the XxAsync methods wrapping them. This results in what appears to be a non-trivial amount of overhead that's unnecessary. This should be cleaned up to improve both the maintainability and performance of the code.

[2015-01-31 23:13] Clockwork-Muse commented on #584
Actually, the current tests _are_ reporting this (`ParallelQuery.cs`), but given the way the error is being reported (because of how the tests are written...), it's difficult to figure out what it's complaining about.  Well, that, and those particular tests are "commented out" (`[KnownIssue(235)]`), so aren't being run as part of the overall build.  Since I'm just compiling and running tests for o

[2015-01-31 23:56] Nickesm opened #588 "Window chrome ignoring mouse clicks when using TransparencyKey"
(Not sure if it's the right place to post this kind of issue, but, anyways)

Read this thread: http://stackoverflow.com/questions/20596163/bug-using-transparentkey-and-resizing-form

And perform the steps to get this bug.

[2015-02-01 00:24] stephentoub commented on #584
Ugh, I didn't know those tests were disabled, and they were disabled apparently exactly because of this bug, as well as another that I just fixed in the same PR in Union.  With both of those fixed, the test passes, so the PR (#585) removes the ActiveIssue from the test to reenable it.

[2015-02-01 07:54] mj1856 commented on #439
FYI - The "Predefined type 'System.Object' is not defined or imported" mentioned in this issue will also show up if Xamarin is installed (see #449).

[2015-02-01 08:04] mikedn commented on #588
I don't think that this belongs here, it's a Windows Form (or DWM) bug. You probably want to post this on [Connect](http://connect.microsoft.com/VisualStudio).

[2015-02-01 14:10] stephentoub commented on #566
@cnblogs-dudu, if you open regedit and click on HKEY_CURRENT_USER, in the right pane you should see an entry for "(DEFAULT)".  For that row, under the Data column, do you see "(value not set)" or do you see something else, like "0"?

I ask because the four tests you're seeing fail are verifying that no default value is set for HKEY_CURRENT_USER.  Doesn't seem like a valid assumption for the test t

[2015-02-01 15:04] cnblogs-dudu commented on #566
@stephentoub
Yes, found "0".
![screen shot 2015-02-01 at 22 50 58](https://cloud.githubusercontent.com/assets/3196961/5992435/2ca053ee-aa65-11e4-960f-ae0671063a2f.png)
After deleted the "(Default)" entry, the tests were passed.

[2015-02-01 15:49] stephentoub opened #592 "Failure in DriveInfoTests.Get_VolumeLabel sporadically in CI builds"
Discovering: System.IO.FileSystem.DriveInfo.Tests
  Discovered:  System.IO.FileSystem.DriveInfo.Tests
  Starting:    System.IO.FileSystem.DriveInfo.Tests
     System.IO.FileSystem.DriveInfoTests.Get_VolumeLabel.Test01 [FAIL]
        Error, Wrong volume label returned. Expected: BCLTest, Returned:
        Stack Trace:
c:\j\workspace\dotnet_corefx_windows_prtest\src\System.IO.FileSystem.DriveInfo\te

[2015-02-01 22:12] FWest98 opened #594 "Parsing string to enum with digit as first char takes a very long time"
Note: This has to do with mscorlib. https://github.com/Microsoft/referencesource sent me here, but this doesn't look like the place where this is handled. Am I right?

When parsing strings to enums with TryParse, in some cases this takes way longer than in all the other cases. After a bit of research I found that all the strings with a digit as first char are slower. This is due to the attempt to

[2015-02-01 22:59] stephentoub opened #597 "Failure in Process_EnableRaiseEvents tests in CI build"
Starting:    System.Diagnostics.Process.Tests
     System.Diagnostics.ProcessTests.ProcessTest.Process_EnableRaiseEvents [FAIL]
        Process_CanRaiseEvents0001: isExited Event not called when EnableRaisingEvent is set to true.
        Stack Trace:
           c:\j\workspace\dotnet_corefx_windows_prtest\src\System.Diagnostics.Process\tests\System.Diagnostics.Process.Tests\ProcessTest.cs(97,0): at

[2015-02-02 05:00] cnblogs-dudu commented on #566
@stephentoub
"(Default)=0" appeared again.
![screen shot 2015-02-02 at 12 50 40](https://cloud.githubusercontent.com/assets/3196961/5996054/7f584094-aadb-11e4-96df-e78647010c9b.png)

[2015-02-02 10:45] patricksadowski commented on #588
Wrong place. Same issue was closed on [roslyn](https://github.com/dotnet/roslyn/issues/185)

[2015-02-02 15:43] stephentoub commented on #566
Thanks, @cnblogs-dudu. And yeah, this is why I said "Doesn't seem like a valid assumption for the test to be making"... something else on your machine seems to be setting that value to 0, which is then causing a subsequent execution of the tests to fail.  The tests should really be fixed to not assume that HKEY_CURRENT_USER's (Default) value is unspecified.

[2015-02-02 16:37] stephentoub opened #600 "Failure in MemoryMappedFile tests due to naming conflict"
#543 fixed related issues, but this just happened in a CI build for #577...

Starting:    MemoryMappedFile.Tests
  ERROR, Loc411: Unexpected exception, System.IO.IOException: Cannot create a file when that file already exists.
     at System.IO.MemoryMappedFiles.MemoryMappedFile.CreateCore(SafeFileHandle fileHandle, String mapName, HandleInheritability inheritability, MemoryMappedFileAccess access

[2015-02-02 17:20] KrzysztofCwalina commented on #450
Commit #602 should fix this issue.

[2015-02-02 17:20] #450 closed

[2015-02-02 17:49] ebickle commented on #587
Fantastic, glad to see this issue listed here!

[2015-02-02 17:53] ebickle commented on #519
BitConverter needs a lot of work, potentially a new API altogether. It's once place that desperately needs both Little Endian and Big Endian support. The number of lacks on StackOverflow with people trying to flip the order of their byte arrays before calling BitConverter methods is truly frightening.

[2015-02-02 18:06] ebickle commented on #467
Seems like a sensible idea to me.

My preference is option E1 - include the overloads for the built-in numeric data types and omit the generic IComparable<T> variant unless the same is done for there rest of the Math class' API surface area.

There's a potential for some very weird patterns using the generic variant - consider Clamp<bool>, for example.

[2015-02-02 19:06] stephentoub opened #606 "Failure in ProcessTest.Process_MainModule in CI build"
System.Diagnostics.ProcessTests.ProcessTest.Process_MainModule [FAIL]
        Process_MainModule failed
        Stack Trace:
 c:\j\workspace\dotnet_corefx_prtest\Config\Debug\OS\Windows_NT\Tests\false\label\windows\src\System.Diagnostics.Process\tests\System.Diagnostics.Process.Tests\ProcessTest.cs(242,0): at System.Diagnostics.ProcessTests.ProcessTest.Process_MainModule()
  Finished:    System.Di

[2015-02-02 19:16] stephentoub commented on #584
Fixed with #585.  Thanks, again, for reporting this.

[2015-02-02 19:16] #584 closed

[2015-02-02 19:17] stephentoub commented on #553
Disabled parallelization in #595

[2015-02-02 19:17] #553 closed

[2015-02-02 19:19] stephentoub commented on #176
Addressed with #598.

[2015-02-02 19:19] #176 closed

[2015-02-02 19:20] stephentoub commented on #240
Addressed with #589.

[2015-02-02 19:20] #240 closed

[2015-02-02 19:20] stephentoub commented on #235
Addressed with #585 and #589.

[2015-02-02 19:20] #235 closed

[2015-02-02 19:26] stephentoub commented on #580
Addressed ReadAllBytes implementation in #590.  Thanks.

[2015-02-02 19:26] #580 closed

[2015-02-02 19:33] nguerrera commented on #597
Just hit this. Looking to fix it.

[2015-02-02 19:37] zii-dmg commented on #519
Maybe .NET Core should include [DataConverter class](https://github.com/mono/mono/blob/master/mcs/class/corlib/Mono/DataConverter.cs) from Mono?

[2015-02-02 19:58] Eyas commented on #176
@stephentoub I think you mean addressed with #589.

[2015-02-02 19:59] nguerrera commented on #335
Closing because there's not enough detail here. The one test that was triggering this will soon be [OuterLoop] and I'll remove the ActiveIssue attribute. I believe that carrying forward [OuterLoop] tests will require a very controlled environment which can fully isolate each test from the others.

[2015-02-02 19:59] #335 closed

[2015-02-02 20:00] stephentoub commented on #176
Oops, yes, thanks Eyas... fixed my typo.

[2015-02-02 22:58] nslottow opened #610 "Failure in System.Collections.Concurrent tests in CI build"
Test.BlockingCollectionCancellationTests.ExternalCancel_AddToAny [FAIL]
ExternalCancel_AddToAny:  At this point the cancel should not have occurred.
Stack Trace:       c:\j\workspace\dotnet_corefx_prtest\Config\Debug\OS\Windows_NT\Tests\false\label\windows\src\System.Collections.Concurrent\tests\BlockingCollectionCancellationTests.cs(137,0): at Test.BlockingCollectionCancellationTests.ExternalCanc

[2015-02-02 23:01] stephentoub commented on #610
This was fixed by #586.  It's been merged into v1.0 but not yet into master.

[2015-02-02 23:01] #610 closed

[2015-02-02 23:04] nslottow commented on #610
Thanks, Stephen.

[2015-02-03 08:15] weshaggard opened #612 "UmsSecurityTests.ChangePositoViaPointer failing"
Every other run or so I keep hitting the following test failure in UnmanagedMemoryStreamTests

    UmsSecurityTests.ChangePositioViaPointer [FAIL] (TaskId:528)
        System.IO.IOException : An attempt was made to move the position before the beginning of the stream. (TaskId:528)
            Stack Trace: (TaskId:528)
            d:\git\corefx\src\System.IO.UnmanagedMemoryStream\src\System\IO\Unma

[2015-02-03 08:17] weshaggard commented on #592
I keep hitting this error locally as well.

[2015-02-03 10:30] nvivo commented on #461
This can be an extension method to `IEnumerable<T>`.

Here is what I'm using, based on Jon Skeet's post here: http://stackoverflow.com/a/1287572/1902354

[code]

It would be nice to have this integrated to .NET.

[2015-02-03 10:50] nvivo commented on #461
Just wanted to say I'm with @Eirenarch on this. This should be integrated into .NET to be useful. A nuget package for this won't do it.

Contraty to @MgSam, I think this general enough to be included into core, but as an extension to Enumerable instead of touching Array and List.

[2015-02-03 11:19] cdrnet commented on #461
@nvivo this method should probably not allow a null random instance as it is not thread-safe in this case (and will fail in nasty ways hard to track down).

[2015-02-03 13:16] Eirenarch commented on #461
@nvivo I kind of dislike this method since it forces the creation of a new list. If we have a method that can shuffle an array or a list we could easily use it on an IEnumerable by forcing the enumerable to become an array or a list (which this method is doing). However if we have this method on an IEnumerable we can't easily create an in-place version from it.

[2015-02-03 15:33] stephentoub commented on #612
This is the same basic problem as in #450: the test is assuming that new byte array allocations will come later in memory, and it fails when the assumption proves incorrect.  I'll fix it.

[2015-02-03 17:14] stephentoub commented on #612
Fixed in #613

[2015-02-03 17:14] #612 closed

[2015-02-03 18:51] bartonjs opened #614 "Some System.Threading.Tasks.Dataflow.Tests [OuterLoop] tests intermittently fail due to timing issues"
As of the issue being opened the intermittent tests have been observed in HardeningTests RunHardeningTests1 and RunHardeningTests2.  The timing characteristics that they're expecting hold in isolation, but don't hold at high CPU load (during a build+OuterLoop test run, where many processes are running in parallel).

[2015-02-03 18:59] ebickle opened #615 "Provide cross-platform coding guidelines"
Please consider creating a document or wiki entry for the cross-platform coding guidelines and style. As the corefx and coreclr projects add additional cross-platform logic, a consistent way of organizing the code is going to become more and more important.

Topics could include:
* When should define statements be used rather than including different source files in the build environment?
* When s

[2015-02-03 19:34] troydai opened #616 "DirectoryInfo.Exists returns incorrect results when it is cast from FileSystemInfo"
When test the same directory, `DirectoryInfo` and `Directory.Exist(...)` gives different answers. The bug is repo on `System.IO.FileSystem 4.0.0-beta-22530`

Repo code:
[code]

[2015-02-03 20:07] troydai commented on #616
I guess I file this bug at wrong place. I'll move it to https://github.com/dotnet/coreclr.

[2015-02-03 20:24] troydai commented on #616
Reopen, as suggested by crew from coreclr the issue should be indeed opened here.

[2015-02-03 20:26] jeremymeng opened #617 "Failure in System.Diagnostics.FileVersionInfoTest on Chinese Windows 8.1"
Four out of the six tests in System.Diagnostics.FileVersionInfoTest failed when ```build``` on Chinese Windows 8.1.  They might also fail on other non-ENU OS'es.
-    FileVersionInfoTest.FileVersionInfo_Normal [FAIL]
        Error - Property 'Language' incorrect.  Expected == "English (United States)", Actual == "\u82f1\u8bed(\u7f8e\u56fd)", Alternate == &lt;null&gt;
-     FileVersionInfoTest.File

[2015-02-03 20:37] jeremymeng opened #619 "Failure System.Diagnostics.ProcessTests on Chinese Windows 8.1"
Looks like it's because there's localized string for "at" in the exception messages.
-      System.Diagnostics.ProcessTests.ProcessTest.Process_SyncErrorStream [FAIL]
        Assert.Contains() Failure
        Not found: Unhandled Exception: System.Exception: Intentional Exception
   thrown   at ProcessTest_ConsoleApp.Program.Main(String[] args)
        In value:  Unhandled Exception: System.Except

[2015-02-03 20:46] ericstj commented on #616
I see.  I missed initializing _asDirectory in WIN32_FIND_DATA constructor.

[2015-02-03 20:58] stephentoub commented on #615
Thanks, @ebickle.  I agree we should probably have a wiki page outlining such things, but for now let me take a stab at quick answers to your topics:

Our expectation is that the majority (estimating around 70%) of CoreFX assemblies will have no platform-specific code.  These assemblies should be binary-compatible across platforms.

In some cases, the managed binary will be used across all platfor

[2015-02-03 20:58] stephentoub commented on #615
cc: @ellismg

[2015-02-03 23:00] mmitche opened #621 "Multiple nuget src\ dirs?"
Why are there multiple nuget src dirs.?  There is a .nuget with a single file and a nuget with multiple files.  Was this an oversight?  Can I fix/combine them?

[2015-02-04 00:03] Alexx999 commented on #281
Do you have any tests for File.Exists that show it's behavior?
If I understand it correct - File.Exists checks (or at least should check) for 2 primary cases:
 1. File exists
 1. User has permission to read that file
It's not that hard to check for this two cases. But it surely makes no point to re-implement all File.Exist quirks just to drop dependency.

[2015-02-04 00:54] Nickesm commented on #588
Thanks

[2015-02-04 00:54] #588 closed

[2015-02-04 01:10] Alexx999 commented on #619
This can be reproduced on any non-English locale in general since test looks for exact error message

[2015-02-04 02:16] weshaggard commented on #621
@mmitche  Can you list the paths to these directories, it is unclear to me from your description. Are you referring to src\.nuget and src\nuget directories?

[2015-02-04 04:51] ProTip opened #625 "HelloWorld WinRT Dependency?"
Hello,

I'm trying to build the HelloWorld demo based off the Blog post instructions.  It looks like the nuget.org packages aren't quite synced up, so that's a shame and I'm using 22416 instead.  After I build and attempt to run the program I get an error stating that winrt-string is missing.  Should this be working on Windows 7?

-Thanks

[2015-02-04 04:51] ellismg opened #626 "Deprecate DateTime.Now"
(The original issue was at dotnet/coreclr#45), but I've moved it over here as the meat of the issue is about framework design.

From @mj1856

I would like to propose that [`DateTime.Now`](https://github.com/dotnet/coreclr/blob/ef1e2ab328087c61a6878c1e84f4fc5d710aebce/src/mscorlib/src/System/DateTime.cs#L904-L920) be deprecated.  This is most developer's first introduction to working with time, and

[2015-02-04 05:22] jakesays commented on #626
I'm sorry but I sincerely believe this is a HORRIBLE idea. I read your "Case Against" argument - you're making all sorts of assumptions that are just not valid (or perhaps more accurately push your somewhat myopic view on time.)

While I agree there are many instances where capturing the timezone would be appropriate, it certainly isn't necessary in all cases.

Your argument that local time is wit

[2015-02-04 05:26] ronnyek commented on #626
Two people's ideas of what datetimes should be, automatically mean this is a bug/issue? I would strongly disagree with this change. The reality is that while I think Utc time is probably more valid/relevant date time value/format, I think the reasoning for this change is trivial. As jake points out.. .there are many .net systems out there with no concept/context of timezones or needing to run on s

[2015-02-04 06:01] mj1856 commented on #626
I'm not arguing for everyone using UTC in all cases.  I'm well aware of the use cases of using local time, and that many people work within a single time zone.

Let me restate the problem another way.  Imagine an application that's developed offshore, as many applications are. Perhaps it was developed in a location that does not use daylight saving time, so the developers may not even be familiar

[2015-02-04 06:16] jakesays commented on #626
So you're suggesting the framework be optimized for offshore development? You're not, obviously, but that sure is an absurd example.

You're also dismissing 10+ years of code written around DateTime.Now. You're going to have developers maintaining code bases and arbitrarily changing Now to UtcNow to fix build warnings. Now we have a whole new raft of bugs to fix, thank you very much.

[2015-02-04 06:28] SamuelEnglard commented on #626
The problem is less the idea of using local time and more the fact that a developer can easily use `DateTime.Now` and not realize the issues. I think though that is should be more of a documentation issue than an API one. Just like string concatenation vs. `StringBuilder` you allow the developer to chose which is the best for their situation.

I vote for clearer documentation.

[2015-02-04 08:09] Suchiman commented on #626
So you suppose i should always have to write ```DateTime.UtcNow.ToLocalTime()``` or  ```DateTimeOffset.Now.DateTime``` everytime i need to present my user on a local operating desktop system the current time? Developers developing enterprise server applications accessed around the world should be aware of the concept of Utc.

Marking ```DateTime.Now``` as ```[Obsolete]``` will trigger a build warn

[2015-02-04 08:15] mat0thew opened #628 "Devil CoreFX :D"
![](http://i.imgur.com/w52bgbA.png)

[2015-02-04 08:25] #628 closed

[2015-02-04 08:31] mikedn commented on #626
This proposal is anything except reasonable. Yes, ideally UTC should be used but obsoleting DateTime.Now won't do that, the only thing this would achieve is making old code produce a bunch of warnings that needs to be fixed, at the cost of introducing bugs, or silenced. Or ignored, I've seen plenty of warnings ignored just like I've seen plenty of bad uses of local time.

This should be handled li

[2015-02-04 09:59] Clockwork-Muse commented on #626
Personally, I'd prefer a new date/time API in general (whether we ask John Skeet for NodaTime, or go with something closer to Java's new JSR310, or some third option, I don't much care - although I think NodaTime would likely need to have extensible calendars).

This is more about providing things scoped for least-use, and clearing up ambiguity.
Have a "business date", that is used globally (ie, "

[2015-02-04 10:09] Clockwork-Muse commented on #584
@stephentoub - related question -
the documentation for `Concat` states:

    4287         /// <summary>
    4288         /// Concatenates two parallel sequences.
    4289         /// </summary>
    4290         /// <typeparam name="TSource">The type of the elements of the input sequences.</typeparam>
    4291         /// <param name="first">The first sequence to concatenate.</param>
    4292

[2015-02-04 10:43] ellismg commented on #615
@stephentoub Thanks for tagging me.  This all sounds reasonable to me.

[2015-02-04 10:47] ellismg commented on #52
@terrajobst Can you handle this?

[2015-02-04 10:48] AdamSpeight2008 commented on #461
Array.Sort also has an issue as you can't specify how the swapping is to occur. What if synchronisation is required? How do you specify which lock to take? etc.
Since at of example have been provide of how relatively simple it is to implement I'm of the opinion it should be an additional non-core library method. There are existing nuget package that implements it. Thus doesn't need to Microsoft im

[2015-02-04 11:57] aggsol commented on #626
What would be the alternative then? Calls like `DateTime.LocalNow` and `DateTime.UtcNow`?

[2015-02-04 12:21] Clockwork-Muse commented on #626
You end up with different types, depending on what you're doing, usually. So stuff like `LocalDate.Today` (no time portion, so "now" isn't quite right), or `Instant.Now` (which incorporates no notion of timezones, or even year/month/day divisions - it's an offset from a specific earlier instant).

This doesn't prevent somebody from being an idiot while misusing a type, but it does allow conscienti

[2015-02-04 14:08] nydehi commented on #626
it would be nice if there was a rating thumbs up or down to get the general sense of the community. oblivating  aol me too message like this.

I dont think this is a good idea.

But as an aside @aggsol  DateTime.LocalNow and DateTime.UtcNow  are great additions but as extension methods.. there is opensource .net library for date time that is fairly popular. that would the thing to reccomend

[2015-02-04 15:08] #617 closed

[2015-02-04 15:15] stephentoub commented on #70
A "Hello, World" sample is now available at https://github.com/dotnet/corefxlab/tree/master/demos/CoreClrConsoleApplications/HelloWorld.  The blog post at http://blogs.msdn.com/b/dotnet/archive/2015/02/03/coreclr-is-now-open-source.aspx has a walkthrough of getting started.

[2015-02-04 15:15] #70 closed

[2015-02-04 16:04] stephentoub commented on #615
I've ported this question and response over to a new wiki page at [[Cross Platform Code Guidelines]].  We can evolve it there as needed.  Thanks for the suggestion, @ebickle.

[2015-02-04 16:04] #615 closed

[2015-02-04 16:12] mmitche commented on #621
src\.nuget and src\nuget

It seems unclear to me why we have both if these.

[2015-02-04 16:23] mmitche commented on #621
(btw apparently the markup is eliminating the \ before .nuget, it's src \ .nuget

[2015-02-04 16:38] CoderDennis commented on #409
What are you doing to run these tests? When I run build.cmd it only runs the tests from System.Collections.Immutable, but no others. I see that using the VS test runner isn't supported yet. Could you share the command line command you're using?

[2015-02-04 16:49] mj1856 commented on #626
@Suchiman - No, I'm proposing you would write `DateTimeOffset.Now` for that.  Converting back to a `DateTime` defeats the purpose.

[2015-02-04 16:51] mj1856 commented on #626
@Clockwork-Muse NodaTime is great.  But I don't think introducing new types into the clr is going to stop people from misusing the existing ones.

[2015-02-04 16:56] mj1856 commented on #626
@mikedn - yes - it would and should produce a warning.  Using `DateTime.Now` is very easy - and is almost always in error.  (Especially in an ASP.net app)

I like your idea though that perhaps this should be a Code Analysis warning instead of a compiler warning.  That feels like a better balance.

[2015-02-04 16:59] citizenmatt opened #632 "Cannot build from clone"
As per the [developer guide](https://github.com/dotnet/corefx/wiki/Developer-Guide), if I clone the repo, start a VS2013 command prompt and run `build.cmd`, I don't get a clean build. There are lots of warnings shown, as well as several errors regarding to references to `System.Runtime`. The tests for `System.Collections.Immutable` are run, but no others. Loading the solutions in VS2013 doesn't wo

[2015-02-04 17:03] Alexx999 commented on #594
@KrzysztofCwalina @stephentoub  Have you started working on this yet? If not - I'd like to look into it.

I believe this can be speed up done using some greedy assumption that any signed value must fit into long, and any unsigned - into ulong to speed up "is integer" check.
Or maybe just walk through the string with for-loop and check if every symbol is digit - that'll make it too (probably even b

[2015-02-04 17:07] weshaggard commented on #621
Yes I will look into fixing this as part of some of the other things I'm looking into.

[2015-02-04 17:08] mmitche commented on #621
Awesome, thanks!

[2015-02-04 17:18] stephentoub opened #633 "Failure in ProcessTests, unable to find specified file"
Every now and then, our CI builds are failing spectacularly with 28 out of 36 ProcessTests failing to run due to a Win32Exception stating that the specified file could not be found.

[2015-02-04 17:24] FWest98 commented on #594
Ah great. I wonder why I didn't see that repo before. I will file an issue over there as well!

I think using TryParse instead of normal Parse is better, but then you have to circumvent the Convert class and find another way to convert to the base type. I think your solution is a better compromise then.

[2015-02-04 17:26] KrzysztofCwalina commented on #594
I have not started to work on this. I think it would be great if you could submit a proposal for API change and then implement the addition. You can read on submitting API change proposals on https://github.com/dotnet/corefx/wiki/API-Review-Process

[2015-02-04 17:40] jakesays commented on #626
@mj1856 Can you justify your assertion that DateTime.Now is almost always in error with empirical evidence? Because honestly I have rarely come across the issues you raise, and when I have the fixes have been trivial. You're making this out to be a huge issue, and I'm just not seeing it. @SamuelEnglard pretty much hit the nail on the head - Let the developer make the decision. Contrary to popular

[2015-02-04 18:34] nguerrera commented on #633
@weshaggard I had already changed this locally, see https://github.com/nguerrera/corefx/compare/dotnet:v1.0...nguerrera:process-console-app-build

If this is the fix you had in mind, I can submit it as a PR. If not, I'll hold my changes...

[2015-02-04 18:53] Alexx999 commented on #594
@KrzysztofCwalina I hope that there is no real need to make API behavior change here - hence no need to make API change proposal. Just make existing one faster.
At least if we're not going to implement non-throwing version of Convert methods (while this has some sense in general it will be probably overkill for this case)

[2015-02-04 18:58] FWest98 commented on #594
@Alexx999 The implementation of non-throwing Converts would be another case, but may be nice as well. But indeed, I think changing the single if-statement to a for-loop or something else doesn't need an API change.....

[2015-02-04 21:28] mj1856 commented on #626
@jakesays - Thank you for the valuable feedback.  I appreciate your viewpoint.  I will work on gathering empirical evidence, if that will help the argument.  I'm not saying this is a *huge* issue - if it was, we likely would have seen offset as part of the original `DateTime` type instead of introduced later.   But it is indeed an issue that can be avoided with proper guidance.

I think a good com

[2015-02-04 21:35] mj1856 opened #636 "Possible typo in FileVersionInfoTest"
This is low priority, but logging here so it doesn't get lost.

In [FileVersionInfoTest.cs line 239](https://github.com/dotnet/corefx/blob/0252409de5d77d4a104903a68d9ee34d54992e54/src/System.Diagnostics.FileVersionInfo/tests/FileVersionInfoTest.cs#L239):

    s_fviSecondNativeLibrary.ProductName = "Unkown_Product_Name";

"Unkown" should be "Unknown", but correcting it fails the test.  It should pr

[2015-02-04 21:38] mj1856 opened #637 "Typo in MetadataReaderTests"
This is low priority, but logging here so it doesn't get lost.

In [MetadataReaderTests.cs lines 60 and 62](https://github.com/dotnet/corefx/blob/53abb169b8f7874db770c083aa52e9c1736aa7b4/src/System.Reflection.Metadata/tests/Metadata/MetadataReaderTests.cs#L60-L62):

            mdtAssemblyProperssor = 0x21000000,
            ...
            mdtAssemblyRefProperssor = 0x24000000,

Is "Properssor" a

[2015-02-04 21:45] weshaggard commented on #633
@nguerrera Yes that is very similar to what I had in mind. Please go ahead and submit the PR for that. Thanks.

[2015-02-04 21:51] jogibear9988 opened #638 "Implement Quicksort as Unsafe Code for better Performance"
There are 2 impl. of Quicksort here in Code:

https://github.com/dotnet/corefx/search?utf8=✓&q=quicksort

why are they not programmed using pointers like here:
http://stackoverflow.com/a/3720041/579623

and maybe we also don't need two implementations

[2015-02-04 22:12] AdamSpeight2008 commented on #638
It's not swapping the actual elements but the indices of the elements. The result of the QuickSort is where the indices of the elements, will be in the sorted verison

[2015-02-04 23:54] krwq opened #641 "Some System.Xml.Linq.XDocument tests are failing"
Some of the tests used to print error messages but did not fail. I added Asserts assuming that they fail and created this issue. I did not check if this is a test bug, product bug or not a bug at all (we need to check what happens on desktop and if this is something we should fix).

[2015-02-05 00:03] benaadams commented on #574
Also perhaps a method for batch inserts? Can always then sort and continue from previous insertion point rather than starting at the beginning if that would help?:
[code]

[2015-02-05 00:34] stephentoub commented on #638
@jogibear9988, was this just a question or is there an issue here you're concerned about?  If so, can you be more specific?  The two implementations in your search results are operating over different inputs.  Regarding pointers, what would the advantage of using such unsafe code be?  Thanks for your interest.

[2015-02-05 00:50] sharwell commented on #638
Neither of these sections of code use a particularly fast implementation of the quick sort algorithm, and changing the code to use `unsafe` blocks would not resolve this. Have you noticed a particular performance problem with it?

[2015-02-05 01:04] nguerrera commented on #632
The steps are up to date. Do you have VS 2013 Update 3 or later installed?

[2015-02-05 01:19] krwq opened #642 "Clean up System.Xml.Linq.XDocument tests"
- [x] Remove spam messages (there are few left)
- [x] Some of the tests might be failing but not throwing (look at the messages - https://github.com/dotnet/corefx/issues/641)
- [x] Convert tests to use Xunit (right now they are only partially)
- [ ] Replace if (expr) throw new TestException, etc with proper use of Xunit asserts

[2015-02-05 01:54] #633 closed

[2015-02-05 01:56] HaloFour opened #644 "Proposal: Additional methods to aid in reflection of generic types"
I don't know if this is the appropriate place to make such a suggestion.
## Problem

I've always found it a bit annoying that the reflection APIs in .NET haven't been improved much since the advent of generics and when working with generic types or methods that considerable additional boilerplate needs to be written in order to correctly work with these types.
## Solution

In the past I've impleme

[2015-02-05 07:00] JeremyKuhne opened #645 "Support long file names on Windows"
Now would seem to be the time to finally tackle the MAX_PATH nightmare. With the Win32FileSystem and other abstractions we can convert incoming paths to their long path equivalent if needed before handing off to the actual Win32 APIs. It appears that all of the APIs currently in use support the extended syntax (\\?\), with the exception of Get/SetDirectory.

[2015-02-05 08:09] Suchiman commented on #626
@mj1856 for this https://github.com/DotNetAnalyzers/StyleCopAnalyzers might be a good starting point

[2015-02-05 09:33] aggsol commented on #626
@jakesay When ever you store `DateTime.Now` in a database in some other format than ticks you loos the `DateTime.Kind` value. The `DateTime` is then local or UTC only by convention. This is especially bad when machines from different timezones store local timestamps.

[2015-02-05 09:36] citizenmatt commented on #632
Yep, running VS2013 Update 4. Here's [a gist with the console output](https://gist.github.com/citizenmatt/1b69b5f4c2bd219e18e4). There's also a 4.5 Mb msbuild.log that doesn't shed any more light - it reports the same warnings about being unable to "find a matching group".

[2015-02-05 09:42] MartinJohns commented on #626
@aggsol He is well aware of this. `DateTime.Now` can be bad at some situations (like the one you mentioned), but the point is that it's not *always* bad. There are legitimate uses for it.

[2015-02-05 11:33] akoeplinger commented on #632
@citizenmatt This looks like https://github.com/dotnet/corefx/issues/449

[2015-02-05 11:40] nvivo commented on #461
@AdamSpeight2008,

By your logic, .NET shouldn't have implemented String.IsNullOrWhitespace, because it is too easy to implement. Also, by your logic nothing will ever be implemented again, as everything can be implemented as a non-core nuget package. We already have C for that.

[2015-02-05 13:45] Richiban commented on #538
@Eyas Regarding match vs select, I'd have both. You get match syntax so that you can use the same paradigm you're used to from functional programming, but Option<T> should implement IEnumerable<T>, or even ICollection<T>. Think about it, isn't Option<T> merely a 'collection' that contains either 0 or 1 elements of type T?

[2015-02-05 13:47] AdamSpeight2008 commented on #461
@nvivo ```String.IsNullOrWhitespace``` was likely a commonly user implemented pattern, especially since it very likely being used to against a data input WinForm (maybe a double digit amountof use).  So it was made easier to implement and thus add to `String`.

I haven't needed to shuffle the contents of collection that often. @nvivo  How often have you need to do that?

I prefer to import a numbe

[2015-02-05 14:00] AdamSpeight2008 opened #646 "(Proposal) VB Local Namespace imports."
This is will bring VB.net into line with C#, that can specify imports that are in scope within the body of a namespace.
**C#**
[code]

**Proposed VB**
[code]

[2015-02-05 14:01] AdamSpeight2008 commented on #646
Closed - Wrong Repo

[2015-02-05 14:01] #646 closed

[2015-02-05 14:03] Eyas commented on #538
@Richiban: definitely agreed about implementing `ICollection<T>`. As an aside, that would be another (minor) reason why I wouldn't want `Option` to be a struct-- the cost of boxing/unboxing of the struct every time we call a LINQ extension method on it.

I'm still not convinced by `Match`, though. I think anything the API does here would be un-ideal, and given the fact that the C# team is discussi

[2015-02-05 14:04] KOLANICH opened #647 "Integrate BouncyCastle into CLR Core and CoreFX"
[BouncyCastle](http://www.bouncycastle.org/csharp/) is a free crypto library which implements a lot of functionality missing in System.Security.Cryptography. But it was designed in that way that they don't use System.Security.Cryptography at all and a lot of crypto primitives are reimplemented there and designed not in the best and optimal way. Also its API is not very convenient.
It is bad becaus

[2015-02-05 14:09] Alexx999 commented on #647
I believe it's not that easy with crypto - it needs all sorts of validation/verification/certification to be sure it works as expected (and has no side effects at all).
For bright example - remember that famous heartbleed thing. And that's with lib that is used everywhere.

Plus - why should it be part of CoreFx at all and not separate library?

[2015-02-05 14:10] naasking commented on #538
Definitely a firm "no" on implementing ICollection<T>. Option<T> does not satisfy the ICollection<T> contract in any meaningful sense.

I personally don't even see the advantage of Option<T> implementing IEnumerable<T>. Sure, you get some of the LINQ methods to use the query syntax, but it's absolutely trivial to just add those extensions for Option<T>, which is what Sasa's Option<T> does. No boxi

[2015-02-05 14:34] KOLANICH commented on #647
Aggree with it. Audit is needed in any case because BC is one of the most used .net crypto libs. But audit and certification is not panacea (Dual EC DRBG is example).

Why should System.Security.Cryptography be part of CoreFx at all and not separate library? By the same reason BC should be.

[2015-02-05 15:05] louthy commented on #538
Implementing IEnumerable means it can be used in LINQ expressions with
other IEnumerables, and it can be used as a 'switch' to turn subsequent
'from' clauses on and off.  That means for many tasks where you're
processing lists, you don't need to use match, or if/then/else.

I agree that ICollection is the wrong interface, IEnumerable is fine.

On Thu Feb 05 2015 at 14:11:16 naasking <notifications

[2015-02-05 15:43] RichiCoder1 commented on #647
:+1:
It's not unusual in the general language community for something to be developed separate or in addition to official libraries, and later get merged in because it adds a lot of value. I'd be all for merging it in, especially since .Net Core is more agile than .Net Framework.

[2015-02-05 15:59] KOLANICH commented on #647
It was not developed in addition, it is a separate library ported from Java.

[2015-02-05 15:59] Alexx999 commented on #647
@KOLANICH Basically, CoreFx is now just a set of libraries that is developed and maintained by Microsoft.
Personally I think that having multiple APIs to do same tasks is confusing - look at XML, it has fairly high learning curve (you start looking here and there and all samples do it in different ways), plus it's hard to choose approach and sometimes it gets pretty bad when it turns out that your

[2015-02-05 16:01] RichiCoder1 commented on #647
@KOLANICH Hence why I said "seperate or in addition too" :).
@Alexx999 Agreed. I don't think @KOLANICH was suggesting a wholesale merge, but a smart absorption of functionality.

[2015-02-05 16:13] Alexx999 commented on #647
@RichiCoder1 Then we need some more info - I tried using CryptoAPI and succeeded back some time. It's hard to use - maybe, but crypto in general requires developer to know what he's doing.
Probably my point of view is a bit biased here due to my "OK" experience with crypto in .NET, and no experience with BC, so I'm asking - what's so great out there to adopt?

[2015-02-05 16:15] KOLANICH commented on #647
That's why we need to merge the API. We need
1 design additions to current MS API
2 implement the functionality using BC implementation
3 reimplement the functionality using low level protectons, and existing functionality
4 reimplement BC to make it rely on clrcore

[2015-02-05 16:26] RichiCoder1 commented on #647
@Alexx999 This is were I'll admit ignorance. I've only ever worked with developers who have been forced to utilize BouncyCastle to address .Net's shortcomings, so I don't have first hand experience. I do know that BC covers more variations of crytography and I believe it also provides more flexibility and ease-of-use for varations that exist with in the BCL.

I would agree with @KOLANICH

[2015-02-05 16:38] naasking commented on #538
I'm skeptical that using Option in list-like contexts actually happens at all in practice. I'd like to hear a realistic scenario you've actually encountered.

If you want integration with the full LINQ API, it's trivial to provide an AsEnumerable() overload that returns an IEnumerable\<T\> from an Option\<T\>. That's arguably more idiomatic too.

Otherwise, I'd recommend reproducing the LINQ API d

[2015-02-05 16:49] Richiban commented on #538
@naasking One of the first computation expressions that learners of F# write is an optional monad. Many people have asked for it to be in the F# core library.

E.g. Given a domain with type A which has an optional B, which has an optional C which has a name, in F# using the maybe monad you could write

[code]

If Option<T> implements IEnumerable then in C# you can write:
[code]

It gives you nice

[2015-02-05 16:54] shahid-pk commented on #647
@KOLANICH
This can make a good api addition proposal. You should come up with an API addition proposal , following the guidelines given in contribution guidelines.

[2015-02-05 17:21] svick commented on #538
@Richiban Except that C# 6 already has a way to write that in a better way:

[code]
Or, if you want to keep the intermediate variables:

[code]

So I don't see what would LINQ support add here.

[2015-02-05 18:54] louthy commented on #538
@svick - `null` is a dangerous property for a variable to have.  It says it honours the contract of MyType, but when you go to use it your application throws an exception.  The reason for `Option` is to never present the MyType contract unless you've confirmed (through matching) that it has a value.  There is no explicit declaration in a nullable variable that is may be `null`, and that lack of de

[2015-02-05 19:02] svick commented on #538
@louthy I was not arguing against `Option`, I was arguing against using LINQ syntax for it, when a better syntax is already available.

[2015-02-05 20:10] IDisposable commented on #77
+1 for UTF8

[2015-02-05 21:02] naasking commented on #538
@Richiban The option/maybe monad pattern doesn't need Option to implement IEnumerable, it simply needs Option to provide extension methods for Where, Select, and SelectMany. Sasa's option type already does this, and the rest of the LINQ operators aren't really useful in this case, ie. ordering and grouping on options, while not exactly an error, doesn't have much utility either.

@louthy "If you t

[2015-02-05 21:24] louthy commented on #538
@naasking
As with earlier, your examples don't stack up.  That wouldn't compile unless `Option<T>` is also an `IEnumerable<T>`  You can't have an Option<T> and an IEnumerable<T> in subsequent `from` clauses.  That's why `Option<T>` implementing `IEnumerable<T>` is so useful!

[2015-02-05 22:02] eatdrinksleepcode commented on #538
It will compile if you implement a SelectMany method on Option which takes an IEnumerable parameter.

I agree that implementing IEnumerable on Option is both counter-intuitive and unnecessary.

[2015-02-05 22:33] shanselman opened #649 "String.Equals isn't intuitive and forces us to do the OrdinalIgnoreCase thing"
We're doing a sample and we are FOREVER doing this

    if (sort.Equals("Title", StringComparison.OrdinalIgnoreCase))

I think it's time for an overload or an extension that "does the right thing." This is a 10 year old pattern and if the default is wrong (as we tell people to do this) then let's make a better method. Everyone has a version and extension that does this.

[2015-02-05 22:34] naasking commented on #538
@louthy, as @eatdrinksleepcode mentioned, you simply need two new overloads, which I mentioned in my last post that I added. I simply didn't push them to the sourceforge repo. They are up now.

[2015-02-05 22:37] jongalloway commented on #649
I agree +10e8

[2015-02-05 22:37] madskristensen commented on #649
+1

This drives me nuts and forces me to do multi-line `if` statements due to very long lines this produces. I hate that. A better and much shorter syntax would be super awesome!

[2015-02-05 22:37] rustd commented on #649
the default should really be changed as most apps have to have this check

[2015-02-05 22:38] Bhaal22 commented on #649
+1
Makes me crazy.

[2015-02-05 22:44] csharpfritz commented on #649
Agreed - lets help our community by making the framework use the correct pattern by default

[2015-02-05 22:45] joshfree commented on #649
var oic = StringComparer.OrdinalIgnoreCase;

if (oic.Equals(sort,"Title"))

[2015-02-05 22:48] ellismg commented on #649
I'm not pushing back against this request, but does someone have a strawman to kick off the design?  The best thing I can think of is:  EqualsOrdinalIgnoreCase as a method on String.  Is this still too long?

[2015-02-05 22:55] shanselman commented on #649
Why not EqualsIgnoreCase. Is Ordinal that obvious, or needed? (although semantically it would be implied.)

[2015-02-05 22:55] jogibear9988 commented on #638
@stephentoub: I havn't tested, but the author posts with pointers is 10% faster.

@stephentoub: Is there a better Version? maybe we then should replace the existing ones...

[2015-02-05 23:07] ellismg commented on #649
@shanselman I guess that's reasonable.  Personally I dislike how some operations on the string class do linguistic comparisons where as others do ordinal and it's not clear from the method name what's going on.  This proposal would be making the problem worse, but perhaps we should optimize for folks that have already learned for each method if it's doing ordinal or linguistic conversions.

[2015-02-05 23:25] mellinoe commented on #637
@nguerrera

[2015-02-05 23:29] shanselman commented on #649
@ellismg I hear you. I'm trying to optimize for the 80% or even the 90% case. What is the "pit of success" option? What's the one that if folks who don't know the difference pick is more likely to be correct?

[2015-02-05 23:32] nguerrera commented on #637
Yes, that should be mdtAssemblyProcessor and mdtAssemblyRefProcessor. :)

[2015-02-05 23:33] nguerrera commented on #637
Self-assigning to indicate that I'll help check that the right thing happens and merge it, but feel free to fix this and send a PR.

[2015-02-05 23:36] mj1856 commented on #637
Thanks for the clarification.  I'll update #591 to include this.  Thanks.

[2015-02-05 23:51] krwq opened #652 "Remove dead code"
Many libraries and tests has some dead code. Please remove it per library.

At minimum we should run FxCop

(list might not be complete, following is just a list of folders under src/)
- [ ] Microsoft.Win32.Primitives
- [ ] Microsoft.Win32.Registry
- [ ] System.Collections.Concurrent
- [ ] System.Collections.Immutable
- [ ] System.Collections.NonGeneric
- [ ] System.Collections.Specialized
- [ ] S

[2015-02-05 23:56] Priya91 opened #653 "Fill test gap in System.ServiceProcess.ServiceController"
Needs a test to verify the properties of dependent services.

[2015-02-06 00:00] plemanach commented on #649
+1 EqualsIgnoreCase

[2015-02-06 00:02] stephentoub commented on #652
Could we open an issue for each library that has dead code so that we can close each issue when we're done with it?  Or is this issue tracking the opening of all of those other issues? :smile:

[2015-02-06 00:19] mmitche opened #655 "Code coverage doesn't work for all assemblies"
Code coverage is broken for a few assemblies (tests or coverage fails when enabled).  Investigate.

All test projects with <CoverageEnabledForProject>false</CoverageEnabledForProject> have had their coverage disabled.

[2015-02-06 00:26] nguerrera commented on #637
@mj1856 Thanks!

[2015-02-06 00:55] nguerrera opened #657 "System.Runtime tests fail on Win10, non en-US culture"
The code for the Single and Double.TryParse and ToString tests seem to assume OS < Win10 and CultureInfo = en-US.

Here's a failure running on Win10 due to the same infinity issue as #136

[code]

I did not repro similar issues with non en-US culture, but I think from code inspection it won't work there either (even on Win7 or Win8)...

[2015-02-06 00:55] nguerrera commented on #657
/cc @nslottow

[2015-02-06 01:02] nslottow commented on #600
More hits in Win32 Release CI builds for #627 and #656

[2015-02-06 01:20] ProTip commented on #625
I believe this problem is related to this issue in CLR: https://github.com/dotnet/coreclr/issues/65

[2015-02-06 04:44] weshaggard opened #659 "GCTest TotalMemory tests failing."
GCTests.TotalMemory [FAIL]
        Assert.True() Failure
        Stack Trace:
           d:\j\workspace\dotnet_corefx_prtest\Config\Release\OS\Windows_NT\Tests\false\label\windows\src\System.Runtime\tests\System\GC.cs(68,0): at GCTests.TotalMemory()

See: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/Config=Release,OS=Windows_NT,Tests=false,label=windows/91/console

[2015-02-06 09:10] citizenmatt commented on #632
Yep. Sounds like it's the same thing. Thanks for pointing it out - I wouldn't have found it otherwise!

[2015-02-06 10:15] krwq commented on #652
We can add checkboxes here and just select them once it is done. I don't personally like hundreds similar issues.

[2015-02-06 14:33] stephentoub opened #661 "ActionBlockTests.TestFaulting failed (ironically) in lab"
Starting:    System.Threading.Tasks.Dataflow.Tests
     System.Threading.Tasks.Dataflow.Tests.ActionBlockTests.TestFaulting [FAIL]
        Assert.True() Failure
        Stack Trace:
           d:\j\workspace\dotnet_corefx_prtest\Config\Release\OS\Windows_NT\Tests\false\label\windows\src\System.Threading.Tasks.Dataflow\tests\Dataflow\DataflowTestHelper.cs(22,0): at System.Threading.Tasks.Dataflow.T

[2015-02-06 16:43] davkean commented on #649
@rustd Are you suggesting that ignore case should be the default? Changing defaults around this is pretty much a non-starter. We've tried similar things in the past (such as switching all operations to ordinal by default in Silverlight) but ended up backing it out for a variety of reasons. There's just too much legacy code between copied and pasted around.

I like `static bool EqualsIgnoreCase(str

[2015-02-06 16:54] davkean commented on #497
Thanks for the suggestion. Trying to understand the purpose here - by removing, do you mean literally remove? If so, we're not going to be removing any APIs - we care very much about compatibility, and most of .NET Core's surface area has previously shipped in earlier versions of Windows Store and Windows Phone applications.

I can see that there might be a suggestion here that says that we no lon

[2015-02-06 17:10] scalablecory commented on #497
@davkean It has been suggested elsewhere that .NET Core presents an opportunity to remove some of the older cruft. I'm asking these redundant overloads to be considered for this treatment. Like other APIs under consideration for removal from .NET Core, I'm not suggesting we remove them from the existing monolithic .NET distributions -- only from .NET Core.

[2015-02-06 17:23] RichiCoder1 commented on #497
My understanding is that .NET Core is less of a divorce from .Net Framework and more of a more Agile version. .Net core changes would eventually filter back into .Net Framework. Correct me if I'm wrong @davkean

[2015-02-06 17:25] weshaggard commented on #652
@krwq What is your idea for finding this dead code? As for running FxCop at some point when we switch to using only the Roslyn compiler we will be enabling the code analytics that come with it.

As for the check-boxes I've personally found them way to easy to accidently check/uncheck. I think for now keep that list is good but perhaps instead of a check-box we just update each item with the associ

[2015-02-06 17:29] Alexx999 opened #663 "Should state OS support in developer documentation"
Should explicitly state which OS should be supported.
This is required so everyone can understand what API can be used.
For example, it's obvious that Windows 7, 8 and 8.1 must be supported, it turns out that XP is not supported (see #303), what about Vista?
I think the same goes for Linux.

[2015-02-06 17:32] nvivo commented on #461
@AdamSpeight2008,

I use shuffle quite a lot actually. Almost every business app ever did requires some shuffling. Most cases boil down to:

* Selecting a random products to show in a front page
* Shuffling banners and ads before serving pages

The thing here is that I don't think shuffling a list is such a rare thing to do. I think it is even more common than some methods like "Intersect" that ar

[2015-02-06 17:40] stephentoub commented on #661
Addressed with #662

[2015-02-06 17:40] #661 closed

[2015-02-06 18:06] ebickle commented on #649
@davkean @shanselman Agree on EqualsIgnoreCase.

[code]

I did a quick scan through the String class, other methods that take a StringComparison overload include ```Compare, CompareOrdinal, CompareTo, StartsWith, EndsWith, IndexOf, LastIndexOf, Replace```. None of them seem like a high priority for an IgnoreCase overload.

This may be a bit more of a stretch, a new IStringEquatable<T> interface co

[2015-02-06 18:18] nslottow opened #666 "System.ComponentModel.EventBasedAsync.AsyncOperationTests.Cancel Failure in CI Build"
I just ran into this failure that seems like a race condition:
[code]
I haven't been able to repro this locally.  It may be worth trying on a single core machine.

[2015-02-06 18:53] krwq commented on #652
I just added this item so we won't forget to do it. Any tool is fine. If we are switching to Roslyn compiler soon then let's wait until then so we can test their features in real scenario.

I agree about adding PR to the item when checking.

[2015-02-06 19:16] Alexx999 commented on #461
@nvivo while that's true - it's sometimes really needed. But it's just "sometimes" - once or twice per whole product. For example, personally I use String.IsNullOrEmpty quite often, and while it can be easily implemented this method leads to better coding practices (one method call instead of bunch of checks) and probably allows for better performance (String.Trim leads to memory allocation for ne

[2015-02-06 19:22] Alexx999 commented on #497
@scalablecory I don't think that this overloads are particularly harmful. And, that's what overloads are for - you either use particular feature (cancellation) or you don't use it. And if you don't - you won't be punished by forcing you to type CancellationToken.None for every API call.
Please don't forget that WinRT API are async-only - developers using it will hate you for this idea :smile:

[2015-02-06 19:37] rpetrusha opened #668 "Implement a generic Enum.Parse method"
Although the Enum.TryParse method (https://msdn.microsoft.com/en-us/library/system.enum.tryparse(v=vs.110).aspx) has two generic overloads, the Enum.Parse overloads (https://msdn.microsoft.com/en-us/library/System.Enum.Parse(v=vs.110).aspx) were added to the .NET Framework in version 1.0, before the introduction of generics. They create the need for rather redundant code, such as

    Colors color

[2015-02-06 19:38] scalablecory commented on #497
@Alexx999 My general opinion -- and I'm of no delusion that a lot of devs will disagree -- is that if you can write cancellable code, you should. It's so painless to pass a token along an invocation stack that there's really not much point in not supporting it. From that standpoint, these overloads are useless clutter.

As I said, I know a lot of people will disagree so I'm not strongly fighting f

[2015-02-06 19:41] scalablecory commented on #647
:+1: I think your end-goal -- that .NET's crypto support not be so limited -- is a good one.

[2015-02-06 19:52] mellinoe commented on #668
I think for this to be feasible, we would need an enum generic type constraint, which isn't currently possible. There is some discussion on the Roslyn repo/forum around this, and it is listed as a possible point of discussion for C#7. I would definitely agree that this is a good API to add if such a feature is implemented.

[2015-02-06 20:04] Alexx999 commented on #668
Yeah, I'm now working on that Enum.TryParse issue.
And I had the same thoughts as you do - "Why not make it generic?"
Well, I came to conclusion that it will be really major breaking change, and the most viable option would be adding generic wrappers around non-generic functions because we can't remove old non-generic API.
Or create generic API in parallel to non-generic - that would be interestin

[2015-02-06 20:06] shanselman commented on #649
I love the possible case-insensitive string operators. Until then, let's do
EqualsIgnoreCase.

On Fri, Feb 6, 2015 at 10:06 AM, Eric Bickle <notifications@github.com>
wrote:

--
Scott Hanselman
Donate to fight diabetes: http://hnsl.mn/fightdiabetes

[2015-02-06 20:07] #659 closed

[2015-02-06 20:50] pdelvo commented on #649
I don't like the operator. It does not really self explain what it does because "approximate equals" is not well defined and could mean many different things. Is "Hello" approximate equals to "Hello!"? The Levensthein distance is 1 so it is approximatly the same, isn't it? If it is implemented for string it will probably be available to be implemented for other types. If I implement a numeric type

[2015-02-06 21:17] nslottow opened #670 "NativeTestService.exe binary should be removed from the repo"
I should've caught this in the PR, but it looks like we committed a binary for System.ServiceProcess.ServiceController's NativeTestService to the repo.  This should get built as a dependency of the test project.  There's no need to have the binary committed and referenced directly.  See the System.Diagnostics.Process tests for an example.

Since this is a Win32 specific contract, we shouldn't need

[2015-02-06 21:22] mellinoe commented on #670
Do we build any native binaries in corefx right now? FileVersionInfo also has native test binaries checked in because, at the time I added those, there was no process for building native binaries. System.Diagnostics.Process uses a managed executable, which works fine in our build system.

[2015-02-06 21:23] mellinoe commented on #655
Do we know why it is broken for some of them? How can we investigate and implement a fix for that, i.e. can we make a pull request and have a "code-coverage run" happen?

[2015-02-06 21:29] nslottow commented on #670
It makes a little more sense for FileVersionInfo because that's not in a Win32 specific contract, but I think we may want to come up with a process for building native binaries for tests.  That way we can avoid growing the repo by ~100KB (modulo compression) every time we need to update these binaries.

I was about to look into a couple bugs I have on ServiceController, and noticed this because I

[2015-02-06 21:30] Priya91 commented on #670
The test project is a portable project, portable projects can only reference other protable library projects and assemblies. Since the win32 console application is not portable, the reference doesn't get resolved and the binary is not copied as a dependency to the test drop. Adding it as a content solved this problem.

[2015-02-06 21:33] mellinoe commented on #670
Yeah, I totally agree, I was just providing some context for why this is probably necessary now.

[2015-02-06 21:40] mmitche commented on #655
It’s not currently run as a PR test, so hmm.  But it can easily be run locally (just use /p:Coverage=true)

Not sure why it is broken for some of them.  It may be altering test timing enough to make some tests fail, there were some permissions issues with the filesystem tests, an assertion popup in xml, etc.

What would be AWESOME..would be if you could request a specific job for a PR.   Like, I s

[2015-02-06 21:40] Priya91 commented on #670
Instead of copying the binary locally near the csproj, i can change it to pick from the drop of nativetestservice project, so that local copy gets updated automatically on newer build of nativetestservice

[2015-02-06 21:44] joshfree commented on #663
Thanks for bringing this issue up.  The current minimum supported OS is Windows 7.

/cc @richlander

[2015-02-06 23:09] stephentoub commented on #638
@yogibear9988, you're very welcome to experiment, and if you find a change that makes a measurable difference, open an issue and/or submit a PR. Other than that, this issue doesn't seem particularly actionable right now (there's no demonstrated problem or deficiency) so I'd like to close it. Ok?

[2015-02-06 23:11] stephentoub commented on #614
Addressed by #669

[2015-02-06 23:11] #614 closed

[2015-02-06 23:24] nslottow opened #674 "FileVersionInfo tests' native assemblies and exes do not have sources"
We should at least provide the sources for these native binaries so that we can tell what's going on if we hit issues.

The next time we need to make a change to these tests, it would also be worth getting the native binaries to build as vcxprojs, relying on the VS2013 prerequisite for now (see [System.ServiceProcess.ServiceController.Tests](https://github.com/dotnet/corefx/tree/v1.0/src/System.Se

[2015-02-06 23:26] rpetrusha commented on #495
We'll update the documentation to note that default(CancellationToken) is equivalent to default(CancellationToken). The changes should appear in the next documentation update later this month.

Thanks for making this suggestion.

[2015-02-06 23:27] stephentoub commented on #495
Thanks, @rpetrusha.

[2015-02-06 23:36] Priya91 commented on #670
closed with #675

[2015-02-06 23:36] #670 closed

[2015-02-06 23:40] jaredpar commented on #400
Fixed via dbfb49bbdcef9346a60e9af4a0f8bc9e7126b22b

[2015-02-06 23:40] #400 closed

[2015-02-06 23:51] Alexx999 commented on #674
I believe that sources are not *really* needed here since that binaries are never loaded and/or run.
They only serve purpose of "test data".
I even suppose that it's not that great to rebuild them since older legacy binaries built with previous versions of compilers should work fine too - that's the point of that test. It should test PE format in general.
And this will actually break cross-platfor

[2015-02-06 23:54] stephentoub commented on #666
Just eye-balling the code, I believe the race stems from lines 209-211.  The code is setting the completed event and then setting the canceled event.  As soon as completed is set, the wait on line 153 and thus line 75 can wake up.  It's then a race as to whether line 211 sets canceled before line 77 and thus line 131 checks whether canceled is set.

[2015-02-07 00:12] nslottow commented on #666
That makes sense.  So as long as _cancelEvent is set before _completeEvent in OnOperationCompleted(), the wait on line 75 won't be awoken prematurely with a chance of reading operation.Cancelled before it is set.  I'll send a PR to fix this.

[2015-02-07 00:25] jogibear9988 commented on #638
I'll close! When I've investigated further, I'll vome back...

[2015-02-07 00:25] #638 closed

[2015-02-07 02:40] Inverness commented on #649
I don't like the operators myself for the reason mentioned, it isn't something that would be broadly used.

As someone who once used Java before moving to C#, I always create an EqualsIgnoreCase() extension method as my shorthand. I think that is the best option here along with a static version.

[2015-02-07 02:53] nslottow commented on #666
Closed by #677

[2015-02-07 02:53] #666 closed

[2015-02-07 02:54] nslottow commented on #657
Closed by #667

[2015-02-07 02:54] #657 closed

[2015-02-07 03:07] nslottow commented on #674
All good points.  I should've examined these tests more closely before filing this.  I was coming from looking at the System.ServiceProcess.ServiceController tests which got initially committed with a binary that turns out to be unnecessary.

I'll leave it up to @mellinoe to decide whether to provide source.

[2015-02-07 04:51] ebickle commented on #574
I've tossed a copy of the initial implementation [here](/ebickle/snippets/tree/master/c%23/PriorityQueue). Test coverage is far from complete, but if anyone is curious please take a look and let me know what you think. I've tried to follow the existing coding conventions from the System.Collections classes as much as possible.

[2015-02-07 05:06] weshaggard commented on #674
I agree with @alexx999 that in general we should just make the source available in case we need to examine or rebuild but it shouldn't be part of the build for these tests.

[2015-02-07 05:18] ebickle commented on #645
A bit of classic reading from the BCL team for anyone digging into this issue:
http://blogs.msdn.com/b/bclteam/archive/2007/02/13/long-paths-in-net-part-1-of-3-kim-hamilton.aspx
http://blogs.msdn.com/b/bclteam/archive/2007/03/26/long-paths-in-net-part-2-of-3-long-path-workarounds-kim-hamilton.aspx
http://blogs.msdn.com/b/bclteam/archive/2008/06/10/long-paths-in-net-part-3-of-3-kim-hamilton.aspx

[2015-02-07 05:33] ellismg commented on #632
Closing this duplicate issues.  If it ends up being something different feel free to reopen.

[2015-02-07 05:33] #632 closed

[2015-02-07 05:41] paulcbetts commented on #645
No, no, no, no, no. This will never happen, and should never happen. Please do not add implicit long path support to .NET, it will be a nightmare for users, who now have files that they have created in one app are inexplicably unopenable in other apps.

MAX_PATH being a #define in Win32 means that it is hard-coded into tens of thousands of applications, in a way that is almost impossible to change

[2015-02-07 06:08] eatdrinksleepcode opened #678 "Support incremental test runs"
(This is really an issue in the Build Tools; however, the lack of activity around that project makes me wonder whether an issue submitted there would be noticed. So I am filing here for now. If it would be better to file it there I would be happy to do that.)

Executing a build twice in a row should ideally be as close to a no-op as possible. In CoreFX, unit tests are always executed during the se

[2015-02-07 06:42] weshaggard commented on #678
@eatdrinksleepcode Yes I think this is very annoying as well and I'm doing some looking into some of this. Please do feel free to submit PRs/Issues to the buildtools repo as well. I've been debating whether or not an incremental build should still run the tests. Right I think it should still run the tests but not do all the copying it is doing today. I'd be interested to know your thoughts.

[2015-02-07 06:50] justinvp commented on #574
Cool. Some initial feedback:

 - `Queue<T>.Enumerator` implements `IEnumerator.Reset` explicitly. Should `PriorityQueue<T>.Enumerator` do the same?

 - `Queue<T>.Enumerator` uses `_index == -2` to indicate the enumerator has been disposed. `PriorityQueue<T>.Enumerator` has the same comment but has an extra `_disposed` field. Consider getting rid of the extra `_disposed` field and use `_index == -2

[2015-02-07 07:02] justinvp commented on #574
Also...

 - Other collections that take a comparer (e.g. `Dictionary<TKey, TValue>`, `HashSet<T>`, `SortedList<TKey, TValue>`, `SortedDictionary<TKey, TValue>`, `SortedSet<T>`, etc.) allow null to be passed in for the comparer, in which case `Comparer<T>.Default` is used.

[2015-02-07 07:06] justinvp commented on #574
Also...

 - `ToArray` can be optimized by checking for `_size == 0` before allocating the new array, in which case just return `Array.Empty<T>()`.

[2015-02-07 07:09] eatdrinksleepcode opened #679 "Refactor build to run tests based on targets and dependencies rather than properties"
The build system currently runs tests by setting the RunTestsForProject to execute after PrepareForRun. Because we don't want to run the tests after a Visual Studio build (because VS has its own mechanisms for running tests), since #508 the BuildingInsideVisualStudio property is used to disable the RunTestsForProject target.

Making the build system aware of the context in which its running in ord

[2015-02-07 08:22] nvivo commented on #461
@Alexx999, the thing is that we cannot reach consensus for this. People have different needs. I'm pretty sure if you just ask 10 people at random what is the single most important thing that should be added to corefx right now, you'd be lucky to get 3 people agreeing on the same thing. But it doesn't really matter.

List shuffling is not important because I use it, it is important because it is a

[2015-02-07 09:16] ellismg commented on #678
BuildTools is quieter because of its more focused nature, but we are definetly taking contributions there.  I think it makes sense to move this over there,.

[2015-02-07 10:38] smbecker commented on #645
The reality is that you already have tons if files that are unopenable by .Net applications because the framework doesn't let you bypass MAX_PATH. Or you have to resort to rewriting System.IO classes using P/Invoke like in the case of AlphaFS. This should be possible to enable long path support from within .Net. Should it be implicit? I could be convinced either way. However, it is possible in Win

[2015-02-07 12:25] stephentoub opened #682 "Contract.Assert vs Debug.Assert"
Some of the CoreFX libraries use Contract.Assert.
Others use Debug.Assert.
We should be consistent, and if possible sweep the source to unify this.

[2015-02-07 13:35] stephentoub commented on #461
Just a point of clarification on process: just because the issue was assigned to someone doesn't mean it's been accepted.  We're now striving to have every issue quickly assigned to someone who will be on point to make sure it's dealt with appropriately... that could mean fixing it, that could mean finding someone else to fix it, that could mean working with the team to decide to close it, etc.

[2015-02-07 14:38] ebickle commented on #574
@justinvp Great feedback, thanks!

* I implemented Enumerator<T>.Reset explicitly since it's core, non-deprecated functionality of an enumerator. Whether or not it's exposed seems inconsistent across the collection types, and only a few use the explicit variant.

* Removed the _disposed field in favor of _index, thanks! Tossed that in at the last minute that night and missed the obvious. Decided t

[2015-02-07 15:11] AdamSpeight2008 commented on #461
Since there can be no consensus about what it random, swapping, shuffling, etc.
Let's go to the extreme and leave most of the decisions to the programmer.
[code]
"Core" implementation (sorta)
[code]

[2015-02-07 15:30] stephentoub commented on #616
Fixed in #640

[2015-02-07 15:30] #616 closed

[2015-02-07 15:31] stephentoub commented on #600
Fixed in #672

[2015-02-07 15:31] #600 closed

[2015-02-07 15:39] stephentoub commented on #497
That's true, but David's point is that some of .NET Core has previously shipped:

If surface area for .NET Core has shipped, those APIs won't be removed. Only for pieces that haven't shipped could they potentially be removed. And most of these async methods, e.g. on Stream, did on fact already ship.

A conversation about the right patterns moving forward for new APIs would be fine to have, though.

[2015-02-07 15:46] akoeplinger commented on #574
@ebickle

Not anymore: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Array.cs#L1060-L1069

[2015-02-07 15:56] linquize opened #683 "Why having System.Console.dll?"
Why having a new DLL called `System.Console.dll`?
`System.Console` class is already in `mscorlib.dll` since .NET Framework 1.0

[2015-02-07 16:11] Alexx999 commented on #497
@scalablecory there is possible scenarios when you don't want cancellation.
For example, user clicks a "open file" button - in 99.9% of application you won't be able to cancel.
Or even better - you have an application that just passes data between source and destination - there is *absolutely no way* I'd want to cancel out sending that already started (except if user force-closes app - but it'll c

[2015-02-07 16:24] Alexx999 commented on #645
@paulcbetts  I believe that this change is *really* needed because backwards-compatibility with some ancient software is actually *not* a goal. Even worse, if this kind of backwards compatibility is enforced in such ways.
.NET should not enforce MAX_PATH if this is not required. It's legacy platform-specific stuff that shouldn't be present in modern platform.
If what you say is important - this sh

[2015-02-07 16:39] Alexx999 commented on #461
@AdamSpeight2008 And what if I want to have controllable weights for every item? :smile:
[code]
If talking seriously - it needs some actual use-case. This one will probably require too much code for simple case "just shuffle that damned list!"

[2015-02-07 17:46] Alexx999 opened #684 "Add non-throwing methods to Convert class"
Convert class is the only method to convert boxed values to needed integer type. However, it throws exceptions, so it is too hard to implement behavior that matches simple explicit cast between integer types.
As a solution - add TryXXX methods to Convert class.

Additionally, it would be nice to have option to make Convert behave like explicit cast.
For example, this is valid:

[code]

But this is

[2015-02-07 19:36] paulcbetts commented on #645
The Windows 8.1 SDK defines MAX_PATH to be 260 characters. That's *brand new* software, written _today_, that has all of the issues that I described. The situation between 15 years ago when Win2k came out, and software written 10 minutes ago, is 100% identical - trying to fix this won't break ancient software, it'll break software written today too

[2015-02-07 20:14] Alexx999 commented on #645
Yes, Windows 8.1 SDK has MAX_PATH defined to 260.
But it doesn't make it any less legacy - .NET BCL still contains non-generic collections for the very same reason. That doesn't mean that anyone will use them (actually, I hope that no-one uses them this days).

And this doesn't mean that we shouldn't support something new only because old applications will not be able to open resulting files. Usin

[2015-02-07 21:59] AdamSpeight2008 opened #686 "(Proposal) Coding Guidelines."
The coding guidelines should be alter to permit the following styles. which aids the readability of the code.

* Align on the `:` of named parameters rather than lefthand edge of parmeter name
[code]
vs
[code]

* Simple IF
If the If statement is small and has no else, and the code block is small enough.
The combined width is less than the 80 character width limit.
[code]
vs
[code]
Consider multipl

[2015-02-07 22:45] nguerrera commented on #320
PR #687 in progress with fix.

[2015-02-07 23:03] am11 commented on #686
+1 for avoiding [K&R style](http://en.wikipedia.org/wiki/Indent_style#K.26R_style) if-else blocks (note it is mentioned under "Variant 1TBS" that K&R actually says that):

[code]
(for example: [File.cs#L352-L361](https://github.com/dotnet/corefx/blob/12a1df91cec56ea2dbee6e10160909e1a8b775e6/src/System.IO.FileSystem/src/System/IO/File.cs#L352-L361))

in favor of:

[code]

[2015-02-07 23:05] #320 closed

[2015-02-07 23:11] theoy commented on #320
Awesome! Thanks, @nguerrera! :smile:

[2015-02-07 23:21] nguerrera commented on #219
@alexandrnikitin Sorry for not replying to this for a while. That's pretty cool and compelling. I think we should do this, but I'm not sure about the API shape. I don't like the Common prefix I used in my strawman. I kind of wish it could be Action.Empty, but there's no way to add a static factory to a delegate. Do you have any thoughts on how a public API should look? How about others on the team

[2015-02-07 23:58] nguerrera commented on #597
@Priya91 Assigning to you since you are looking at other Process test stability issues. I had a theory about this being due to the timeout added to "infinite" process, but it did not pan out...

[2015-02-08 00:02] sharwell commented on #686
I disagree with every suggested change in the original post. However, since these aren't part of the existing coding styles I'll reserve further comments (my rationale) for the event where it looks like one or more of these might be included in a future release of the style guide.

[2015-02-08 00:04] svick commented on #219
Actually, I think there is. Only you have to write the delegate in IL: https://gist.github.com/svick/2d6ce35f9608fe5e7e7f.

Though I'm not sure whether it's worth the increased complexity of implementation. Especially considering that it could also be confusing to users.

[2015-02-08 00:07] nguerrera commented on #219
@svick Yes, good point. :) I wouldn't consider this design unless C# and VB were willing to adopt for the same reason - it's complicated for us to define and it's unexpected for callers to discover.

[2015-02-08 00:32] Yomodo commented on #645
Whatever you choose, we're right here:
Your GitHub neighbor: https://github.com/alphaleonis/AlphaFS

[2015-02-08 00:40] ellismg commented on #683
One of the design goals of .NET Core was to re-factor the framework surface are into a collection of smaller assemblies, each focused on particular thing.  We wanted to remove monolithic assemblies like mscorlib which contain unrelated components that evolve at different rates.

For example, in .NET Core, there is no mscorlib.  Instead, the base types are in in System.Runtime.dll, collections are

[2015-02-08 00:48] ellismg commented on #678
Closing in favor of the issue in buildtools.

[2015-02-08 00:48] #678 closed

[2015-02-08 01:00] AArnott commented on #530
Using the Builder might avoid the allocation, but creating the Builder itself is an allocation hit.
Also if you're trying to avoid a single allocation, the `Func` parameter alone might not cut it--we would probably want to add an overload that takes an argument to pass to the function as well.
But I'm not seeing the significant win here to justify 1-2 more method overloads. In the few cases where

[2015-02-08 01:18] AdamSpeight2008 commented on #686
**2 Spaces**
[code]
**4 Spaces**
[code]

[2015-02-08 01:37] smbecker commented on #645
Yes Windows defines MAX_PATH at 260 but it at least gives you a means to go beyond that if you need to and has for a number of years. Today, core .Net gives you no options but to bypass System.IO almost entirely and drop down to P/Invoke. It is pointless to debate whether or not you should be able to go beyond MAX_PATH or whether that will break backwards compatibility because Windows already deci

[2015-02-08 01:37] nguerrera commented on #511
I've added information to https://github.com/dotnet/corefx/wiki/developer-guide#running-tests.

It is possible to debug tests in VS or run the tests for a single project on the command line.

[2015-02-08 01:38] #511 closed

[2015-02-08 02:18] ellismg commented on #686
Of the proposed changes, I think the two which might be useful are the "simple case clause" and the "simple if" rules.  I believe we don't have strict guidance on either today (so the proposed code would be fine).  Note that we do allow a similar thing for properties.  Allowing:

[code]

over

[code]

@am11's example first example is disallowed by the style (I believe our rule is if any of the cla

[2015-02-08 02:22] ellismg commented on #682
While Contract.Assert produces the nicer experience (the assert box is much clearer), I think I would push for Debug.Assert everywhere.  The rationale is that parts of the contract class require the rewriter to run (which we don't do) in order to be useful.  I would rather folks not have access to a type when half of the members on it are unusable in our system.

The other rationale is that having

[2015-02-08 03:04] jakesays commented on #686
I'd have to say the suggested changes in the original post are some of my least favorite style rules. They do absolutely nothing to improve readability (especially the compressed if statements) and increase the style maintenance burden on code that uses them.

[2015-02-08 04:07] linquize commented on #683
There is `mscorlib.dll` in coreclr. And it has types like `System.Object` and `System.Console`. Is it for backward compatibility so the binaries built from VS2010 can be run?

[2015-02-08 04:51] ellismg commented on #663
I added some notes to the Wiki about what OS's .NET Core needs to support.

[2015-02-08 04:51] #663 closed

[2015-02-08 05:27] weshaggard commented on #682
@ellismg +1 on being consistent with Debug.Assert.

[2015-02-08 05:44] ellismg commented on #158
This is fixed.

[2015-02-08 05:44] #158 closed

[2015-02-08 05:44] weshaggard commented on #683
@linquize what are you expecting it to be backwards compatible with? It certainly isn't compatible with mscorlib that ships on the full .NET framework as it is much smaller. It is compatible with the mscorlib that ships for Windows Phone which also runs on CoreCLR. However for .NET Core we don't expect anyone to ever compile directly against mscorlib and instead compile against System.Runtime, etc

[2015-02-08 05:48] ellismg commented on #159
Thus far our strategy is to use CMake in cases where we need to build native components cross platform and MSBuild for our managed components.  Thus far we've taken an approach of hand authoring MSbuild files which use the OS property for cases where we have to something platform specific.  If we end up outgrowing this approach, we'll definitely look at Protobuild (what've you've come up with look

[2015-02-08 05:48] #159 closed

[2015-02-08 05:50] linquize commented on #683
If I compile my program with `System.Runtime.dll` which works in CoreCLR, does it also work in Full .NET Framework?

[2015-02-08 05:56] weshaggard commented on #683
@linquize Yes it will work on the full .NET Framework as well.

[2015-02-08 06:02] linquize commented on #683
thanks!

[2015-02-08 06:02] #683 closed

[2015-02-08 06:09] JeremyKuhne commented on #645
To make sure I'm super clear- I'm not suggesting that .NET return \\?\ paths. Just that it convert internally when talking to Win32 APIs that require it and strip the prefix off again.

I struggled with all of this years ago when I was writing the project system for Expression Blend. It was super common to get relative paths that were longer than 260 characters when combined with their base source

[2015-02-08 06:27] ellismg commented on #187
Marking this as "enhancement" as it wasn't obvious that doing so would introduce new surface area.

[2015-02-08 06:54] jaredpar commented on #686
I agree with @ellismg here.

Some specific feedback:

- The guidance on `if` was discussed but it looks like we failed to codify it in the guidelines.  I will follow up to get it added but IIRC the rough guideline was: no single line `if` and either all blocks on `if`, `else if` and `else` have braces or none have braces.
- Very opposed to allowing two space indent.  The main goal of the coding st

[2015-02-08 07:19] mikedn commented on #686
* Single line if - tempting in cases like argument validation but no thanks, inconsistency doesn't actually improve readability. It's much easier to read that code when you know that the code guarded by if is always on separate line(s). Besides, I don't think that coding styles should be a LOC competition.
* 2 space indentation - nope, makes indentation useless
* vertical alignment - absolutely no

[2015-02-08 07:22] weshaggard commented on #686
@jaredpar the single line if statement is in the contribution guidelines:

While if statement isn't called out explicitly it was generalized to all statement blocks. If people feel that should be reworded then we can certainly update it. That guideline also covers the simple case  statements blocks as well and argues they should be on their own line. I don't want to relax this guideline to allow s

[2015-02-08 07:24] jaredpar commented on #686
@weshaggard ah okay.  I was looking for something specific to `if`, nice that we could boil it down to something that simple.

[2015-02-08 08:17] ellismg commented on #534
@davkean My guess is that you're going to do this work and it entails taking existing internal tests and making them open source.  If you're not going to do the work, can you please assign it to someone else?

[2015-02-08 08:23] ellismg commented on #498
@ChrisEelmaa I think this is a worthwhile improvement, I'm tagging this as "grabbed by community" under the assumption that you still want to do the work.  If so, go for it, I'll be happy to take a look at the PR once you have one.  If you're no longer willing to work on this, I understand, just let me know.

[2015-02-08 08:27] ellismg commented on #455
Based on the new guidance on the Wiki for how we deal with issues, we'll keep two labels for work which is approved but currently unclaimed.  "up for grabs" for small items we think are well scoped and would be approachable by someone new to CoreFx and "feature approved" for larger scale work.

[2015-02-08 08:27] #455 closed

[2015-02-08 08:29] ellismg commented on #439
@weshaggard Is this still an issue?

[2015-02-08 08:45] ellismg commented on #218
Fixed with #651.

[2015-02-08 08:45] #218 closed

[2015-02-08 08:47] ellismg commented on #102
@nguerrera I'm assuming that you're still looking into this.  Let me know if that's not the case.

[2015-02-08 08:47] yufeih opened #692 "Add a non-generic version of Enum.TryParse"
These are the methods in Enum class related to string parsing.
[code]
Apparently Parse is exposed only in non-generic form, while TryParse is only exposed in generic form. This is somewhat inconsistent.

It is simple enough to call a non-generic method in a generic method, but not the other way around. So Parse can be made generic using the following helper. But it is a lot harder to wrap TryParse

[2015-02-08 08:55] ellismg commented on #94
Moving this to Immo, since I feel this is more about the set of types we expose in .NET Core than cross platform specific stuff.

[2015-02-08 08:57] ellismg commented on #692
Can you help me understand why you'd want the non generic version?  What are the scenarios where you have an opaque type you know is an enum and a string and you need to parse it?

[2015-02-08 09:00] ellismg commented on #652
FWIW, I too would prefer multiple issues.  It would also make it easier for the community to help since the scope of the work would be clear and multiple folks could work on independent parts in parallel.

[2015-02-08 09:04] yufeih commented on #692
It is mostly for serialization, where the type of the enum is reflected and not fixed in the code upfront.

[2015-02-08 09:04] ellismg commented on #619
It looks like @Alexx999 is fixing this.  Thanks!

[2015-02-08 09:30] yufeih opened #693 "Add Enum.SetFlag and Enum.RemoveFlag to make bitwise flagging easier"
To maintain multiple bool states in a class, instead of declaring many bool fields, an enum flag can be used to compact these states in to a single member to optimize for memory usage.
[code]
It is simple to test if a flag is set using `Enum.HasFlag(DirtyFlags.X)`, but the scenario is not complete. Without the ability to set and remove a flag, the following code needs to be maintained manually:
[c

[2015-02-08 09:37] am11 commented on #686
@ellismg, that is true; I merged various practices into one example.
The idea is to always have curlies for each if/else block, regardless
of single statement.

[2015-02-08 09:43] mikedn commented on #693
With the current language and runtime capabilities there's no way to implement SetFlag and RemoveFlag efficiently. Even the existing HasFlag has horrible performance compared to the "manual" way of testing flags.

[2015-02-08 11:08] Alexx999 opened #694 "State policy on mscorlib"
I see a lot of confusion around mscorlib, since it's part of coreclr project, but it feels more like part of corefx. Some issues are open here (and sent to coreclr, like #594), some are open there and sent to here (like #684).
Plus, there is some classes that exist in both repos with some differences like ConcurrentDictionary (for example of pull request open to one repo and sent to another see do

[2015-02-08 12:20] stephentoub commented on #682
I'm happy with Debug.Assert as the consistent answer.

[2015-02-08 12:52] benaadams opened #696 "Add Environment.CurrentCoreId API"
## Background

Currently you can have a `ThreadLocal<T>` field or mark something with a `[ThreadStatic]` attribute which can help with concurrency, as unless references are passed around generally only the currently executing thread accessing it.

However, there are high performance, highly parallel and task based situations where what would be more ideal is something focused around cores rather t

[2015-02-08 13:12] poizan42 commented on #645
System.IO is in mscorlib. Shouldn't this issue be tracked at [CoreCLR](https://github.com/dotnet/coreclr) instead?

[2015-02-08 13:23] ChrisEelmaa commented on #498
@ellismg, sounds good, I'll start working on it. Though, last I checked, there was no "System.Collections.Generic" in the master branch. Am I missing something?

[2015-02-08 13:25] svick commented on #696
Are such scenarios actually common? Using `Task`s and `async`-`await` should mean that the thread count is not high, so core-local data might not help that much.

Do you have measurements of realistic situations that indicate this would help enough to be worth it?

How come? The state must be flowed currently, because an `await`-based `Task` can move between threads. But all `Task`s can move betwe

[2015-02-08 13:26] stephentoub commented on #696
Thanks for the suggestion.

Why?  The reason this state needs to be flowed is that the async operation may not continue on the same thread on which it started, and that in the meantime state on that thread could have been changed.  What would guarantee that the async operation would continue on the same core on which it started, or that even if it did the state wouldn't have been changed in the in

[2015-02-08 13:53] kendaleiv opened #697 "Minor wiki text edit"
On https://github.com/dotnet/corefx/wiki/Issues, see error in bold below:

"grabbed by community: Someone outside the CoreFx team **as** called "dibs" on this issue and is working on a fix."

[2015-02-08 14:09] akoeplinger commented on #697
Some more typos:

* "It may be **a** simple as a small product or test bug" -> as
* "we'll try to find a better home for the issue and open it **their** on your behalf." -> there
* "This started as User Voice request, " --> as a

Regarding the "has called dibs on this issue" phrase: I'm not sure this particular idiom is well-known enough to people who don't have English as their first language to

[2015-02-08 14:20] stephentoub commented on #697
Thanks for noticing these.  I've fixed these issues.

[2015-02-08 14:20] #697 closed

[2015-02-08 14:27] benaadams commented on #696
and

In a lot of the situations you don't really care, which why I included the change to StringBuilderCache to demonstrate this. A use of `ThreadStatic` for caching doesn't particularly care about the thread state an would use a flow similar to:
[code]
so only partial semantics of `ThreadStatic` are needed; however because `ThreadStatic` has other guarantees using it must invoke full ambient stat

[2015-02-08 14:40] stephentoub commented on #696
TLS (whether [ThreadStatic] or ThreadLocal) is not actually part of ExecutionContext and isn't flowed with it.  My "this state" was referring to the ExecutionContext.  I should have been more clear in my initial response.  I was just trying to point out that your argument around a core-local state being better for async methods than thread-local state doesn't really pan out; if the state is not fl

[2015-02-08 14:49] stephentoub commented on #696
Also, I didn't understand the ConcurrentBag example.  ConcurrentBag is designed such that each thread has its own thread-local list, such that each thread can make assumptions about the synchronization required to access that list.  How do you see that playing out if it were to use your core-local example, if thread affinity is not used?  Or was that not what you were suggesting?

[2015-02-08 14:57] benaadams commented on #696
I'm not suggesting `Task`-local data; that essentially already there in the regular execution flow or local variables hoisted to the state machine. Its `Thread`-global variables from `ThreadStatic` and `ThreadLocal` that cause the problem.

They are for me, though I can't speak for the wider community. Our use case is in high throughput async websockets as used by https://msdn.microsoft.com/en-us/

[2015-02-08 15:10] benaadams commented on #696
I do have a microbenchmark I'll see if I can upload to github; been a little while since I looked at it. With the call to kernel32.dll it starts off more expensive in low contention/threading, but scales better as contention/threading increases. I don't have an example for ThreadStatic as that would be a bit of weird one to measure but might be able to contrive something :)

In [ConcurrentBag](htt

[2015-02-08 15:24] omariom commented on #649
Just found this in CoreClr's sstring.h :)

[code]

[2015-02-08 15:35] stephentoub commented on #696
I think this is a good example of where this breaks down, though.

The work-stealing algorithms employed by ConcurrentBag allow a thread to operate on its own thread-local list without locks in some cases, such as in the case of adding to its own list when it has at least [two elements](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Concurrent/src/System/Collections/Concurrent

[2015-02-08 15:44] benaadams commented on #696
Microbenchmark still runs :) Results as follows:

Conc: Speed improvement vs 1 thread.
Scale: Threading improvement vs ideal.

[1 thread ] ave 234.6ms, min 68.0ms, max 863.0ms
[2 threads] ave 277.3ms, min 183.0ms, max 587.0ms, conc 1.7x, scale 85%
[4 threads] ave 599.9ms, min 304.0ms, max 1,264.0ms, conc 1.6x, scale 39%
[8 threads] ave 1,283.9ms, min 843.0ms, max 1,371.0ms, conc 1.5x, scale 18%
In

[2015-02-08 15:57] benaadams commented on #696
Might be helpful if there were some context!

4 physical core machine, 8 logical (HT) Intel Core i7 - 3632QM @ 2.20Ghz so don't have 8 cores for the 8 threads

[2015-02-08 16:02] omariom commented on #696
Quite often when dealing with core local data structures one has to cache align them - another concern for users of such feature to take into account.

Imo, currently CLR provides good enough mechanisms to implement them.  The only question, as @benaadams noted, is portability. If CoreFx could provide us with portable way of getting current core number and as performant as GetCurrentProcessorNumbe

[2015-02-08 16:05] benaadams commented on #696
@omariom agreed, would be happy with something like Environment.CurrentCoreId

[2015-02-08 16:07] LeonidVasilyev commented on #653
@Priya91 each dependent service must be tested on the same conditions as `ServiceController` tested in `ConstructWithServiceName()`, `ConstructWithDisplayName()` and `ControlCapabilities()`?

[2015-02-08 16:08] stephentoub commented on #696
@benaadams, @omariom, something like Environment.CurrentCoreId is a reasonable request.  We'll add it to the list of API additions to consider.  Thanks for the discussion.

(@benaadams, I'd still be interested in seeing the code for your microbenchmark... it also looks like it's missing a TLS case for comparison purposes, but maybe I've misunderstood what the various cases are.)

[2015-02-08 16:25] benaadams commented on #696
@stephentoub there are a couple things missing for this particular issue, its from a cache effects benchmark I did in 2013 for use in a Task based system; my coding isn't that fast! :)

TLS would probably do very well for the thread tests, I assume as well as the core-local test, if not better. Is just for a Task approach TLS becomes a bit weird it makes the abstraction become leaky as the threads

[2015-02-08 17:09] benaadams commented on #696
@stephentoub from the "code never meant to be seen" school of development: https://github.com/benaadams/CoreLocalTest apologies for the quality!

[2015-02-08 17:21] Alexx999 commented on #645
@poizan42 see dev guide for coreclr - it states that API review should happen in corefx, and this item definitely requires review

[2015-02-08 17:49] poizan42 commented on #645
@Alexx999 well I think it says that cases which requires changes to mscorlib will be addressed on a case-by-case basis.

[2015-02-08 18:12] mikedn commented on #645
The relevant IO stuff is no longer in mscorlib for .NET Core, it's in System.IO.FileSystem and that's already part of this repository:

https://github.com/dotnet/corefx/tree/master/src/System.IO.FileSystem/src/System/IO

[2015-02-08 19:11] nguerrera commented on #102
@ellismg Thanks for bringing this back to my attention.

@laanaithossam Sorry for the delay. I cannot reproduce this using Visual Studio 2013 Update 4. Is it possible that you had a bad build that was still considered 'up-to-date' after the upgrade? Does it still repro for you after a rebuild?

/cc @theoy Any idea what might be happening. Does this look like a (pre-Roslyn) compiler bug that got pa

[2015-02-08 19:13] JeremyKuhne commented on #645
What exactly is the deal with mscorlib System.IO vs. System.IO.FileSystem?  Looking at the implementation in FileSystem is what caused me to kick off this thread here. System.IO.FileSystem seems mostly isolated from mscorlib's System.IO and implements most of the functionality (GetFullPath being one of the few calls I see going to System.IO.Path).

[2015-02-08 19:15] nguerrera commented on #262
Just as an update, a dump of a work-in-progress design was checked in to my fork at https://github.com/nguerrera/corefx/tree/mdreader-vnext

[2015-02-08 19:57] nguerrera commented on #682
+1 Debug.Assert for precisely the reasons that @ellismg states.

Is this something we can make the code formatter handle?

[2015-02-08 20:02] stephentoub commented on #682
I think it'll require updating some package.config files, as IIRC some of the assemblies are missing the right reference.

[2015-02-08 20:37] ericstj commented on #645
MSCorlib contains the old desktop & phone implementations.  We are trying to move as much as possible out of mscorlib that doesn't need to be there.  Getting things out of mscorlib lets us ship them independently and enables more pay-for-play eventually when we can slim down mscorlib.

The long path work will need to touch the Path class primarily, which is still in mscorlib, but we do have plans

[2015-02-08 23:54] benaadams commented on #696
Updated [with TLS, updated sample to x64 rather than x86](https://github.com/benaadams/CoreLocalTest) as there is a speed difference, increased repeats, decreased tight loop size.

Conc: Speed improvement vs 1 thread.
Scale: Threading improvement vs ideal.
Benchmarking Unsync'd raw variable
[1 thread ] ave 6.9ms, min 6.0ms, max 70.0ms
[2 threads] ave 22.6ms, min 11.0ms, max 63.0ms, conc 0.6x, scal

[2015-02-09 00:05] JeremyKuhne commented on #645
I'm not sure how helpful the Framework can be for interacting with components that don't handle >MAX_PATH. Ultimately there is nothing preventing you from sending a really long path to some random component. While I can imagine that IO.FileSystem throwing PathToLong might help in some cases- that seems more likely to be accidental than intentional. If callers do robust error handling on System.IO,

[2015-02-09 01:04] Alexx999 commented on #645
@JeremyKuhne I don't think that having restrictions on select APIs will really help - I don't see real difference between long path from iterator vs long path from some user input. It may go to some native code/network/whatever anyway.
Moreover, in many cases having iterators with long path is required - for example some resource compilation when you go through directory tree and process what you

[2015-02-09 01:10] davkean commented on #498
@ChrisEelmaa You are correct, we've not yet ported the generic collections. I'm not sure, but I suspect it will be at least a month away.

[2015-02-09 01:12] Alexx999 commented on #693
@yufeih enum is now implemented in, well, not nice way. It's half-struct half-class which can turn out be any type in practice, and framework uses *tons* of hacks and quirks to make it work like it should.
So @mikedn is probably right - it will be hard to make it work fast.
However, it's probably worth trying.

[2015-02-09 02:15] JeremyKuhne commented on #645
@Alexx999 That is sort of my main point. I don't really think restrictions would be that useful as there are no guarantees people will call them on all paths before passing them on. And, to be clear, I would not recommend any of these APIs do anything but support long filenames by default. Just brainstorming possible opt-in behaviors.

Along the lines of mitigation- Kim pointed out that the Window

[2015-02-09 03:57] HaloFour commented on #644
Here is my current implementation which is fully functional, at least on the full .NET framework up to 4.5.2.

[TypeExtensions.cs](https://gist.github.com/HaloFour/f5f04da9147a3673b9ff)

[2015-02-09 04:53] HellBrick commented on #693
This is another example where enum constraint on a generic argument (https://github.com/dotnet/roslyn/issues/262) would be useful. It would allow something like

[code]

[2015-02-09 08:21] davidfowl opened #699 "Implement ForEachAsync in System.Collections.Concurrent"
@stephentoub has some great blog posts about higher level operations that can be implemented all using public API that exists today. Some of these would be great to see in the library itself:

http://blogs.msdn.com/b/pfxteam/archive/2012/03/05/10278165.aspx

In particular

[code]

And

[code]

[2015-02-09 08:58] mikedn commented on #694
It may also worth discussing how .NET Native fits into all this, it has been mentioned in the .NET Core open source blog post but details about it are ultimately scarce. And the problem is, some of the issues that show up here touch code that doesn't exist or is different in .NET Native.

For example, https://github.com/dotnet/coreclr/pull/81. The corresponding .NET Native doesn't appear to have t

[2015-02-09 09:38] mikedn commented on #645
I think the compatibility concerns may be a bit exaggerated. It's already possible to create files with long paths. Granted, the mechanism that can achieve this isn't common but I done this once or twice by accident and end up with files that cannot be opened and that's simply illogical.

[code]

[2015-02-09 12:51] etishor commented on #530
I understand and agree that adding complexity to the API to save a few allocations is not necessarily desired. The ImmutableArray gives the user a very good balance between a safe and sane API while maintaining the performance of native arrays and I think a relevant part of its usage will be in high performance code.

I've tried writing the code using a builder and this is what I ended up with:

[

[2015-02-09 12:51] #530 closed

[2015-02-09 13:36] HaloFour commented on #693
@HellBrick Even with the `enum` constraint the problem is that the underlying type could be anything from `sbyte` to `ulong` and the IL for the bitwise math would have to be different for each of those types.

Some of this came up on the [CodePlex Roslyn forums](http://roslyn.codeplex.com/discussions/572464) when I proposed supporting an `enum` constraint for C# generics with support for `|` and `

[2015-02-09 13:59] stephentoub commented on #696
Thanks, @benaadams.  I've reopened the issue and renamed it to help track the API request.

Thanks for sharing your microbenchmark code.  I totally understand the "code never meant to be seen", so I didn't spend a lot of time looking over it, but one thing did pop out at me that could affect the results.  You're using Task.WhenAll(t1, t2, ...) to wait on your tasks, but WhenAll just returns a Task

[2015-02-09 14:32] mikedn commented on #693
As I explained before, the bitwise operations themselves are fine. The problem is with conversions that are needed in certain cases. That's something that could probably be fixed in the runtime, at least in the specific case of enums.

[2015-02-09 14:57] AdamSpeight2008 commented on #686
@jaredpar  Don't like it.

The align of `|` in pattern-matching block, with the ma**t**ch is used as aide memoire,
Match with **t**his clause to
[code]

Aligning the `=>` also aids visual that this clause are part of the same match block.
Snippet from yours'
[code]
whereas using alignment of the `=>` in a match block.
[code]

The use of `=>` in a match-clause isn't the same as lambda, so formattin

[2015-02-09 15:07] AArnott commented on #530
Great. Thanks for the flexibility @etishor

@terrajobst Can you answer @etishor's question about release dates:

[2015-02-09 15:34] jaredpar commented on #686
@AdamSpeight2008

I don't see why `match` would be treated different than any other block level language construct here.  There are no cases today where the indentation is geared towards matching a particular letter in a block construct keyword, if it does happen to line up with 4 space indent it is merely coincidence.

Further looking at other languages which use `match` expressions none take the

[2015-02-09 15:57] jaredpar commented on #649
Should we consider both an instance and static method `EqualsIgnoreCase`?

The instance method is great for cases outlined in @shanselman example when one `string` is guaranteed to be non `null`.  In more general cases though this isn't true and developers have to write out the more elaborated form:

[code]

A static method which considers `null` for both arguments would be a bit more concise:

[c

[2015-02-09 16:52] AdamSpeight2008 commented on #686
@jaredpar pick two functional language that have significant whitespace indentation.
A better language to compare against would be [Nemerle](https://github.com/rsdn/nemerle), which is close to C# in style.
Nemerle does have `match` expression and does align on the `t` of match.
A majority of match-clause align on `=>` in match blocks.
As well as vertically aligning of `:` in method parameters.

[2015-02-09 17:08] jaredpar commented on #686
@AdamSpeight2008

F# does have significant white space indentation.  Fairly certain OCaml does as well.

Nemerle's alignment on the `t` seems to just be a product of the standard indent being 2 spaces vs. anything to do with the `t`.  I couldn't find any hard guidelines about indent in Nemerle but every sample I could find used two space indent.

Again though, this is debating formarting of a prop

[2015-02-09 17:13] benaadams commented on #696
Whoops, fixed that. Largely this request has arisen from a misunderstanding I had about the interaction of TLS and await; specifically in the previously linked blog post:

but I then missed this bit

So really TLS fits my needs, which is why I closed the issue. Also contrary to my earlier suggestion I'd suggest it should be in System.Diagnostics rather than Environment.

Around this area, the thre

[2015-02-09 17:17] stephentoub commented on #696
Thanks for the aditional follow-up, @benaadams.  In that case, I agree, we should close this out.  Thanks for the discussion!

[2015-02-09 17:17] #696 closed

[2015-02-09 17:29] sergiy-k commented on #686
I 100% agree with @mikedn on each of his statements especially with “inconsistency doesn't actually improve readability”. In my opinion, coding guidelines can be very subjective and we can argue about them indefinitely. So as long as coding guidelines are consistent, simple and applicable to majority of the existing codebase, we should just stick with them.

[2015-02-09 17:39] AdamSpeight2008 commented on #686
Pattern Matching is a much wanted addition to the C# and VB.net languages
So should the "style guide" for feature also be discussed during its development?

The point is you are comparing against the wrong languages, for style guidance (in the match expression aka pattern-matching). Both stated language ain't C-Style in there approach.
So you should be comparing against other C-Style languages and

[2015-02-09 18:00] jaredpar commented on #686
@AdamSpeight2008

Sure the guidelines should evolve as the language evolves.  In this case though you are trying to evolve the guidelines before the language feature exists.

I still don't agree with the argument that Nemerle style is the best argument here.  As I said in my comment it seems that Nemerle lining up the `|` with `t` is merely an artifact of block constructs in their samples using 2

[2015-02-09 18:30] paulirwin opened #700 "Proposal: System.Date type"
Currently, trying to use System.DateTime to represent just calendar dates is overkill and is an easy way to introduce bugs. SQL Server supports a native date-only type, and having a date-only type in .NET to match would be very handy. But not only from SQL: accepting an MVC action method parameter from an HTML5 input type="date" field would be simplified with a native Date type.

Examples:
[code]

[2015-02-09 18:32] shanselman commented on #649
Can't folks do this now? That handles the foo is null situation.

    foo?.EqualsIgnoreCase("Whatever")

On Mon, Feb 9, 2015 at 7:57 AM, Jared Parsons <notifications@github.com>
wrote:

--
Scott Hanselman
Donate to fight diabetes: http://hnsl.mn/fightdiabetes

[2015-02-09 18:40] jaredpar commented on #649
@shanselman

That won't work as typed because it produces a `bool?` instead of a `bool`.  It would need another step to convert the value to a `bool`

[code]

[2015-02-09 18:41] AdamSpeight2008 commented on #686
I can't evolve the guidelines to include a potential language?
I can evolve the guidelines for existing language features?

How on earth is this open?

Just follow the style dictated by your Microsoft Overlord.

[2015-02-09 19:04] AdamSpeight2008 commented on #494
Also consider making some of the exist methods on System.Array generic.

[2015-02-09 19:20] ellismg commented on #649
I think the other problem with that sample is that ```(foo?.EqualsIgnoreCase(bar).GetValueOrDefault())``` where foo and bar are both null would produce false, whereas you might expect true to be produced (like the static ```string.Equals``` method does).

[2015-02-09 19:31] weshaggard opened #701 "Add Contract Reference Asssemblies to the repo"
We need to enabling building our contract reference assemblies in the CoreFX repo. They are be needed for a number of reasons:

1) We need to build them to put them in our nuget packages.
 2) We need them to produce our facades for our nuget packages.
 3) People would like to see a reference for what is supported (see #147 as example) and for what we will be bringing online overtime.

We will need

[2015-02-09 19:48] terrajobst commented on #686
I've to admit that I'm with @jaredpar: I don't see the point of evolving a document, that is meant to be actionable today, to include speculative language features. It does, however, make sense to me to discuss styling guidelines in the context of the design of the language feature and propose changes [there](http://github.com/dotnet/roslyn).

Yes. And as @ellismg ([link](https://github.com/dotnet

[2015-02-09 20:00] AdamSpeight2008 commented on #686
@terrajobst I did and @jaredpar told me do it here.

[2015-02-09 20:29] AdamSpeight2008 commented on #686
@ellismg Where in the style guide are single line properties allowed?

[2015-02-09 20:41] jaredpar commented on #686
@AdamSpeight2008 the Roslyn issues thread wasn't discussing new language features hence I asked it to be moved here.

[2015-02-09 20:58] nslottow commented on #653
Specifically, @Priya91 and I discussed asserting that the dependent services at least have the name that we expect because I spotted a bug in the dependent service name parsing logic in the initial pull request.

Fixing this entails modifying NativeTestService.cpp so one of the dependent services depends on both the main test service and the other dependent test service.  This would give us a Depe

[2015-02-09 21:04] nslottow opened #702 "Open-source System.Threading.Tasks unit tests"
Note: The implementation of this contract lives in mscorlib in the [coreclr](https://github.com/dotnet/coreclr) repository, but we are planning to put tests in this repo and test against the NuGet package produced by the coreclr repo.

[2015-02-09 21:05] nslottow opened #703 "Open-source System.Globalization unit tests"
Note: The implementation of this contract lives in mscorlib in the [coreclr](https://github.com/dotnet/coreclr) repository, but we are planning to put tests in this repo and test against the NuGet package produced by the coreclr repo.

[2015-02-09 21:07] nslottow opened #704 "Open-source System.IO unit tests"
Note: The implementation of this contract lives in mscorlib in the [coreclr](https://github.com/dotnet/coreclr) repository, but we are planning to put tests in this repo and test against the NuGet package produced by the coreclr repo.

[2015-02-09 21:09] nslottow opened #705 "Open-source System.Reflection unit tests"
Note: The implementation of this contract lives in mscorlib in the [coreclr](https://github.com/dotnet/coreclr) repository, but we are planning to put tests in this repo and test against the NuGet package produced by the coreclr repo.

[2015-02-09 21:10] nslottow opened #706 "Open-source System.Reflection.Extensions unit tests"
Note: The implementation of this contract lives in mscorlib in the [coreclr](https://github.com/dotnet/coreclr) repository, but we are planning to put tests in this repo and test against the NuGet package produced by the coreclr repo.

[2015-02-09 21:14] nslottow opened #707 "Open-source System.Threading unit tests"
Note: The implementation of this contract lives in mscorlib in the [coreclr](https://github.com/dotnet/coreclr) repository, but we are planning to put tests in this repo and test against the NuGet package produced by the coreclr repo.

[2015-02-09 21:16] nslottow opened #708 "Open-source System.Text.Encoding unit tests"
Note: The implementation of this contract lives in mscorlib in the [coreclr](https://github.com/dotnet/coreclr) repository, but we are planning to put tests in this repo and test against the NuGet package produced by the coreclr repo.

[2015-02-09 22:29] #302 closed

[2015-02-09 22:31] ellismg opened #709 "Write a test for PROCESS_QUERY_LIMITED functionality"
Per #303 we have some debt here we need to get tested.  It's not clear the best strategy here.  Should this be an inner loop test?  Does the test need to run elevated somehow or can we run at regular permissions and create a low integrity process?

[2015-02-09 22:40] krwq commented on #652
Feel free to create multiple issues. I'd rather leave one until we actually start working on that. It might appear that the scope of this work is pretty small and we will just do all libraries in 1 commit.

[2015-02-10 04:29] kangaroo opened #715 "Unix interop uses non-posix open64"
The unix interop layer currently pinvokes open64.  open64 is a non-POSIX extension.  We should move to using open() with O_LARGEFILE.

This currently blocks using System.Console and System.IO on osx.

[2015-02-10 04:30] kangaroo commented on #715
Trivial fix without O_LARGEFILE:

[code]

[2015-02-10 04:45] weshaggard commented on #439
@ellismg Yes this issue is actually fixed I'm still working on some packaging changes but they aren't blocking this issue. The only issue I'm aware of is #449 which is related to Xamarin tools being installed, so I'm closing this one.

[2015-02-10 04:45] #439 closed

[2015-02-10 05:07] HaloFour commented on #700
Wouldn't it be more appropriate for `Date.Add(TimeSpan)` and Date.Subtract(TimeSpan)` to return `DateTime` since `TimeSpan` contains a time portion?

Beyond little details, though, I fully agree.  There needs to be a type that conveys the concept of a date without time and vice versa.  I actually like how Java 8 revamped their date/time libs so that date, time and zone are individual immutable com

[2015-02-10 05:12] stephentoub commented on #715
Thanks, @kangaroo.  I'll fix this.

[2015-02-10 05:16] mj1856 commented on #700
The idea is sound.  In fact, you'll find a similar type called `LocalDate` in the [Noda Time](http://nodatime.org) that is designed exactly for this.

There's a few general problems to consider though:

- `Date` is a keyword in VB.Net, and it's already mapped to `System.DateTime`. Creating `System.Date` would confuse the heck out of VB programmers.
  - I suggest `CalendarDate`, as it describes exa

[2015-02-10 05:20] mj1856 commented on #700
@HaloFour - Regarding `Date.Add(TimeSpan) == DateTime` - That would be making the assertion that all days start at midnight - which is not true (again, due to DST).  That is another problem `DateTime` has presently - `DateTime.Today` can actually return a `DateTime` with `Local` kind, that doesn't exist in the local time zone.

[2015-02-10 05:25] mj1856 commented on #700
Also - It might make sense to consider extracting all date/time related stuff to it's own Nuget package.  (`System.Bcl.Time` perhaps?)   I'm not sure if `TimeSpan` could go - given that it's used for elapsed-time measurement in many other areas - but probably `DateTime`, `DateTimeOffset`, `TimeZoneInfo` and whatever new types come out of this discussion - could all go in there.

[2015-02-10 05:26] weshaggard commented on #694
@AlexGhiondea added some of this information in the [CoreCLR contribution guidelines](https://github.com/dotnet/coreclr/wiki/Contribution-guidelines), as he calls out the rule of thumb should be: *Start with the CoreFX repository for any managed API changes and the CoreCLR repository for any runtime changes unless otherwise directed by the area owner*. We are still working on figuring out how to w

[2015-02-10 06:11] stephentoub opened #717 "New BufferBlock negative test case failed in CI"
This is one of the new negative test cases recently added.  Will fix.

Discovering: System.Threading.Tasks.Dataflow.Tests
  Discovered:  System.Threading.Tasks.Dataflow.Tests
  Starting:    System.Threading.Tasks.Dataflow.Tests
     System.Threading.Tasks.Dataflow.Tests.BufferBlockTests.TestReleasingFailsAtCompletion [FAIL]
        System.InvalidOperationException : The source completed without pr

[2015-02-10 07:59] Giorgi commented on #709
@ellismg PROCESS_QUERY_LIMITED_INFORMATION Is used in [GetProcessTimes](https://github.com/dotnet/corefx/blob/7da9e8de780a46459daa8bd4a23a83f12b4f7166/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs#L612) too so it's probably also missing a test

[2015-02-10 11:40] michaelstaib commented on #700
@mj1856  I wouldn't name it `CalenderDate`. I would prefer `System.Date` but for vb one could add an language alias that is named `CalenderDate`.

[2015-02-10 11:45] michaelstaib commented on #700
@HaloFour I also think  `Date.Add(TimeSpan)`  and  `Date.Subtract(TimeSpan)` would be more consistent than `Date.AddDays(int)` but if there is an need for shortcuts so that you do not have to provide all the time a `TimeSpan` object there should be also a `SubtractDays(int)`.

[2015-02-10 12:35] benaadams opened #721 "Registered I/O Extensions"
Expose Winsock's RIO Extensions to .NET. [Registered I/O is available](https://msdn.microsoft.com/en-gb/library/windows/desktop/ms740642%28v=vs.85%29.aspx) for desktop from Windows 8, Windows Server 2012, Windows Store apps from Server 2012 R2 and 8.1, and phone from Windows Phone 8

User code would want to pre-register a buffer, which would need to be pinned and go via [RIORegisterBuffer](https:/

[2015-02-10 13:20] #715 closed

[2015-02-10 13:37] stephentoub commented on #717
Fixed with #719

[2015-02-10 13:37] #717 closed

[2015-02-10 14:31] stephentoub opened #722 "Another name conflict with MemoryMappedFile tests"
Just hit this running build locally, fully sync'd to master...

[code]

[2015-02-10 16:03] cnblogs-dudu opened #723 "System.ConsolePal.TermInfo.ReadDatabase() does not work on Mac OS X"
In [line 448](https://github.com/dotnet/corefx/blob/5deb320669242090b28ed63d7faec4834b07201f/src/System.Console/src/System/ConsolePal.Unix.cs#L448) of ConsolePal.Unix.cs:
[code]
If run on Linux Ubuntu, the filePath is `/lib/terminfo/x/xterm-256color`.
If run on Mac OS X, the program will seach following paths:
[code]
But on Mac OS X, the xterm-256color is in `/usr/share/terminfo/78/xterm-256color`

[2015-02-10 16:24] tarekgh commented on #700
@michaelstaib I agree CalendarDate name will be confusing as it can indicate the date is related to some calendar (Japanese, Gregorian, Hijri...).
maybe we can come up with a name which can work and not conflict with VB. something like AbsoluteDate, PureDate...etc.

[2015-02-10 17:44] paulirwin commented on #700
@mj1856 Thanks for the detailed comments! Regarding VB, I assume an "Option" flag a la "Option Strict" is off the table? :-) Alternatively, couldn't we leave VB's Date keyword to mean System.DateTime, but allow them to do Imports Date = System.Date as a type alias?

[2015-02-10 17:56] mmitche commented on #525
Closed, committed at #724

[2015-02-10 17:56] #525 closed

[2015-02-10 18:37] mj1856 commented on #700
`Imports Date = System.Date` won't work since `Date` is a language keyword.  If you were to escape it, `[Date] = System.Date`, you would also have to escape all usages,  `Dim dt as [Date] = [Date].Today`

@tarekgh How do you feel about `CalendarDate` if the type actually has a `Calendar` reference?

    using System.Globalization;

    public struct CalendarDate
    {
        private readonly Cale

[2015-02-10 18:46] tarekgh commented on #700
@mj1856 CalendarDate will make sense if we are going to support all calendars with that type (as you have demonstrated in your code). I think this is not the intend from the original request to have a simple light weight Date type. I am seeing Date and CalendarDate can be used in different scenarios

[2015-02-10 18:49] mj1856 commented on #700
@michaelstaib - I don't think there's anything wrong with `SubtractDays` and similar methods, though they are essentially the same as `AddDays(-days)`.  Having them wouldn't hurt.

But with `TimeSpan`, consider the case Paul gave at the top of this proposal:

    Date d5 = d.Subtract(TimeSpan.FromYears(2));`

That just can't work, because `TimeSpan` has no `FromYears` method.  It can't have `FromY

[2015-02-10 18:53] mj1856 commented on #700
@tarekgh - Ok. If the intention is to keep the type lightweight, meaning it's only field would be an integer representing the whole number of days since some epoch, then I understand why `CalendarDate` would be a potential confusion.

I actually *like* `System.Date` - I'm just not sure how the VB folks would reconcile.  Perhaps there are some VB devs that are fluent with idiomatics that could weig

[2015-02-10 18:58] paulirwin commented on #700
@mj1856 @michaelstaib Good point re: TimeSpan. Further reading: reference source of DateTime.AddYears/AddMonths: http://referencesource.microsoft.com/#mscorlib/system/datetime.cs,0b982f3a57816426,references

[2015-02-10 19:09] eatdrinksleepcode commented on #700
I would strongly suggest we not re-invent the wheel here. The [NodaTime](http://nodatime.org/) project has already done a lot of work building a solid date/time API and working through the myriad of issues that naturally arise in such an effort. It incorporates many of the ideas from JodaTime and the newer date/time JSRs, while remaining idiomaticly .NET and actually improving on many of the flawe

[2015-02-10 19:18] paulirwin commented on #700
@eatdrinksleepcode I'd be happy to see NodaTime in the BCL directly, like what Java 8 did by working with the Joda-Time developer. But having a separate library as a dependency just to have a calendar date type is painful. Opinion and rationale: If DateTime is in "mscorlib" or whatever the equivalent is with Core CLR, it feels like a calendar date type should be, too. Slippery slope acknowledged.

[2015-02-10 19:24] paulirwin commented on #700
@eatdrinksleepcode Also, isn't it true that the overwhelming majority of issues that NodaTime aims to solve (and the bugs they encounter) are related to times and time zones, rather than calendar dates? Calendar dates is a relatively easy problem to solve compared to times.

[2015-02-10 19:29] mj1856 commented on #700
As an active contributor to Noda Time, I would hope for better integration support rather than embedding it in the BCL.  For example, it would be great if we could override the default mapping of SQL's `date` to `System.DateTime` to use `NodaTime.LocalDate` instead, in [ADO.Net](https://msdn.microsoft.com/en-us/library/cc716729(v=vs.110).aspx) and [Entity Framework](https://data.uservoice.com/foru

[2015-02-10 19:40] nslottow opened #728 "Open-source EncodingData tool"
This tool is used to generate [System.Text.Encoding.CodePages\src\System\Text\EncodingTable.Data.cs](https://github.com/dotnet/corefx/blob/master/src/System.Text.Encoding.CodePages/src/System/Text/EncodingTable.Data.cs).

[2015-02-10 21:15] michaelstaib commented on #700
@mj1856 @paulirwin I also would prefere a simple and small calender type in the BCL which would solve the 80%. When I just want to map some date data from the database the type is just there at my fingertips. Whenever there is need for more one can opt for NotaTime ist just an install-package nodatime away ;).

[2015-02-10 21:21] chcosta opened #729 "Case-insensitive comparisons in System.IO.FileSystem.Watcher need to be refactored for Unix"
There are a couple of instances of case-insensitive comparisons occurring in System.IO.FileSystem.Watcher.  These will need to be addressed to support Unix (case-sensitive).

Example 1: https://github.com/dotnet/corefx/pull/713/files#r24413960
Example 2: https://github.com/dotnet/corefx/pull/713/files#r24414030

This will need to be addressed after the merge of System.IO.FileSystem.Watcher complet

[2015-02-10 21:23] michaelstaib commented on #700
@mj1856  regarding the `AddDays(-days)`. I know that you can subtract days from the DateTime-object by passing in a negative ints but I think the contract is much cleaner by providing a clearly named method. This makes it also more discoverable for developers that just start with .net. So, if we could give the date type methods for adding/subtracting Days/Weeks/Months/Years it would make the type

[2015-02-10 21:26] michaelstaib commented on #700
@paulirwin do you plan to provide the date type with similar formatting options like DateTime?

[2015-02-10 21:30] paulirwin commented on #700
@michaelstaib Yes, I would expect Date.LocalToday.ToString("MMMM d, YYYY") to work as well. The format string options would be a subset of the ones for DateTime, obviously removing the time-based ones.

[2015-02-10 21:52] mj1856 commented on #700
:+1: Also, it should support `Parse`, `ParseExact`, `TryParse`, `TryParseExact`, and perhaps also `Convert.ToDate` for completeness.

I wonder if it's too late to consider remapping `DateTime.Date`, `DateTimeOffset.Date` and `DateTime.Today`.  Likewise if `System.TimeOfDay` were to be added, perhaps consider remapping `DateTime.TimeOfDay` and `DateTimeOffset.TimeOfDay`.   This could probably be do

[2015-02-10 22:12] paulirwin commented on #700
:+1: As well as implement the same interfaces as DateTime: `IComparable, IFormattable, IConvertible, ISerializable, IComparable<Date>, IEquatable<Date>`

[2015-02-11 01:03] cnblogs-dudu opened #733 "Interop.libc.lseek64 should be replaced with Interop.libc.lseek in ConsolePal.Unix.cs"
Same with #715
If use Interop.libc.lseek64, it will result in the following failure.
[code]
Changing to Interop.libc.lseek will fix it.
[code]

[2015-02-11 15:10] stephentoub opened #735 "NativeServiceTest fails to build with /p:OS=Unix"
When running the following command from the root of my corefx repo:

    build /t:rebuild /p:SkipTests=true /p:OS=Unix

I consistently get the following error towards the end of the build:

    C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsoft.Cpp.Platform.targets(57,5):
    error MSB8020: The build tools for v120 (Platform Toolset = 'v120') cannot be found.
    To build using the v

[2015-02-11 15:27] Clockwork-Muse opened #737 "Unordered `System.Linq.Parallel.Concat(...)` confusion."
The documentation for `Concat` states:

    4287         /// <summary>
    4288         /// Concatenates two parallel sequences.
    4289         /// </summary>
    4290         /// <typeparam name="TSource">The type of the elements of the input sequences.</typeparam>
    4291         /// <param name="first">The first sequence to concatenate.</param>
    4292         /// <param name="second">The s

[2015-02-11 15:58] stephentoub commented on #737
@Clockwork-Muse, I believe the comments are just leading you astray, as you say.  To my knowledge, it was never the intention that Concat would guarantee such ordering if order preservation was disabled, and it's certainly not guaranteed by the current implementation.

[2015-02-11 18:32] AlexGhiondea opened #738 "Add more tests around Enum.TryParse"

[2015-02-11 18:32] AlexGhiondea commented on #738
@Alex999 I know you did some work around this -- would you be interested in picking this up?

[2015-02-11 19:20] Alexx999 commented on #738
@AlexGhiondea yeah, sure, I can do it.
This tests must cover all the edge cases I found?

[2015-02-11 19:27] AlexGhiondea commented on #738
Thank you @Alexx999

Ideally yes, we should cover all of them.

We might have some issues with the ones that can't be expressed in C# as we don't have any other tests (in CoreFx) like that :).

[2015-02-11 20:54] Alexx999 commented on #738
Actually there is something - System.Reflection.Metadata has at lest 2 tests with IL files (and pre-compiled assemblies).
Probably here we can go same way - add pre-compiled binaries plus IL sources.

[2015-02-11 21:17] #733 closed

[2015-02-11 21:22] weshaggard commented on #694
I'm closing this issue now please to feel free to reopen if there is further clarification needed.

[2015-02-11 21:22] #694 closed

[2015-02-11 21:24] stephentoub commented on #737
@Clockwork-Muse, I'm going to close this issue, as it doesn't look like there's actually a problem here.  If you disagree and there's an additional issue I'm not aware of, please feel free to reopen or to open a new issue.  Thanks.

[2015-02-11 21:24] #737 closed

[2015-02-11 22:59] Petermarcu opened #743 "Feature: Need to create a solution for building localized binaries"
We need to come up with a solution to enable building localized binaries as well as taking contributions to localized content.

[2015-02-11 23:16] #723 closed

[2015-02-11 23:19] #682 closed

[2015-02-11 23:46] nguerrera opened #744 "Top level bin\ output folder has become cluttered with overly generic names"
Many of the files below are specific to a given library's tests, but there is no convention to identify them as such. e.g. 'Assembly1' is specific to FileVersionInfo tests and 'ModuleCore' is for Xml. We should either:

1. Rename all test assemblies to include a prefix matching their parent.
2. Create a hierarchical structure in bin\

I think 1 would be better as it would also make the build log e

[2015-02-11 23:46] nguerrera commented on #744
cc @weshaggard @joshfree @krwq

[2015-02-11 23:57] nguerrera opened #745 "Many solutions fail to build in VS without a full build.cmd first"
The culprit in most cases is a missing project reference to XunitTraitsDiscoverers. VS needs the targets of project references to be in the scope of the current solution. While we could go and add this project everywhere, I think it will clutter the solutions. A better approach might be to use shared source files that we pull in the test targets/props.

[2015-02-11 23:57] nguerrera commented on #745
cc @weshaggard @krwq

[2015-02-12 00:04] nguerrera opened #746 "The top-level src/ folder is cluttered with all of those .slns"
IMHO, each library should have its sln file within its own folder.

Instead of
[code]

We should have

[code]

I believe the reasons why we had the former originally are obsolete now.

1) We liked the idea of grouping related libraries together in a solution. Today, only System.Xml.* does this. However, it will not really work long-term because we shouldn't have library-to-library project-to-proje

[2015-02-12 00:04] nguerrera commented on #746
cc @weshaggard @davkean

[2015-02-12 00:38] davkean commented on #746
+1

[2015-02-12 03:09] #619 closed

[2015-02-12 04:54] AdamSpeight2008 opened #748 "A de-facto Option type."
Consider having an `Option(Of T)` that is common across the .net languages.
[code]
If it's traits were allowed to be inherited..
[code]
Would be the basis of an iterator / sequence.

[2015-02-12 10:55] Clockwork-Muse commented on #700
I think I'd prefer getting a complete, integrated date/time library (NodaTime, port of JSR310, or whatever), rather than little things piecemeal.  Personally, I think that's what got us into some of the current mess in the first place - people adding things as they were requested, instead of a comprehensive whole.  Date/time stuff is generally more complicated than people expect, with pieces  rela

[2015-02-12 12:45] svick commented on #700
[code]

Why does `Date` have the concept of local or UTC date? Wouldn't it make more sense to specify that when converting to `DateTime`?

E.g.:

[code]

[2015-02-12 13:14] a-todorov opened #751 "Number of API method requests"
Greetings.

I would like to request several method implementations for different .NET collections and classes. We develop a mission critical NoSQL .NET database (STSdb project) and we need these methods to gain maximum performance. We already use the best indexing algorithms, we already have the best implementations for them - but in some places in our code we need to get a little more from the ex

[2015-02-12 14:25] paulirwin commented on #700
@svick - The Date object itself doesn't store the timezone, but to determine which day is "today" depends on the timezone. At 10pm Eastern Time tonight, LocalToday would be 2015-02-12 while UtcToday would be 2015-02-13. If Date.Today assumes "local" time, that leads to many of the same bugs that DateTime.Now causes.

[2015-02-12 14:40] akoeplinger commented on #751
I'd suggest splitting this up into several issues / speclets as outlined in the [API Review Process](https://github.com/dotnet/corefx/wiki/API-Review-Process).

[2015-02-12 15:02] Clockwork-Muse opened #753 "`System.Linq.Parallel.Cast<TCastTo>()` doesn't."
The following throws `InvalidCastException`:

    foreach(double d in ParallelEnumerable.Range(0, 10).Cast<double>()) {}

This is because `ParallelQuery.Cast<TCastTo>()` looks like this (ParallelQuery.cs, starting at line 98):

    internal sealed override ParallelQuery<TCastTo> Cast<TCastTo>()
    {
        return ParallelEnumerable.Select<TSource, TCastTo>(this, elem => (TCastTo)(object)elem);

[2015-02-12 15:15] rojepp commented on #312
To add to the list, it would be great to add implicit expansion of '~' on OSX/Linux.

[2015-02-12 15:17] mikedn commented on #753
This isn't specific to ParallelEnumerable, Enumerable's Cast behaves identically.

In general, you can't to numeric conversions in generic methods since the conversion code depends on the involved types. You can use `dynamic` but it's pretty inefficient to do so.

You can use Select instead of Cast in such cases:

[code]

And of course, in your particular example you could eliminate the cast compl

[2015-02-12 16:17] mburbea commented on #753
This has been the case since .net 3.5 sp1.

[2015-02-12 16:28] tarekgh commented on #700
@paulirwin DateTime already have "Now" and "UtcNow" properties. so I think there shouldn't be any confusion with this one. may be you mean Now should be called LocalNow but I never see anyone confused when using "Now". DateTime.Today can be confusing if don't know it is always returns local date. In general I think having LocalToday and UtcToday would be a good idea as it is explicit.

[2015-02-12 17:17] mj1856 commented on #700
Exactly. `Date` would not have anything like `DateTimeKind`, but the *current* date can vary per time zone.  I'm fine with any of the proposed names for that.

One might also consider adding a `Now` (`DateTime`) and a `Today` (`Date`) on `TimeZoneInfo`.  Currently, to get the time in a particular time zone, it's like this:

    TimeZoneInfo tzi = TimeZoneInfo.FindSystemTimeZoneById("Eastern Standa

[2015-02-12 17:35] mj1856 commented on #700
@Clockwork-Muse - Regarding piecemeal vs comprehensive - I agree in some aspects, and disagree in others.  (I'm been thinking about this for a very long time! :smile: )

Noda Time is certainly comprehensive, and aligns quite well with Java 8 / JSR-310 concepts.  There are some subtle differences, which are mostly due to Java vs .Net idioms.  But in general - it's a great library and a viable optio

[2015-02-12 17:47] michaelstaib commented on #700
I agree with @mj1856. Most of the time you are just fine with a simple Date/Time API that is fairly easy to learn/use. And whenever you need more there is nodatime.

[2015-02-12 17:56] mj1856 commented on #700
Re-reading this thread, it would appear I have been dominating the conversation.  Sorry about that!  I'd love to hear more from the community - including dissenting opinions.  I have no agenda.  (Thanks!)

[2015-02-12 18:13] paulirwin commented on #700
@tarekgh The issue I was referring to is that the name of DateTime.Now sounds like something you want to always use, causing bugs mainly amongst beginner .NET programmers. When I started doing .NET over 10 years ago I created bugs due to lack of understanding of the API and how it works with time zones. Nowadays, I almost always use DateTime.UtcNow or DateTimeOffset to store dates and times, i.e.

[2015-02-12 18:16] HaloFour commented on #700
My opinion would be that it stinks to have two completely different methods of working with dates and times.  I'd love to see something that both brings `System.DateTime` and `System.DateTimeOffset` together and combines them with a few more types to better express things like dates.  I *think* that this could be done while remaining compatible with the existing BCL.

Borrowing from Java 8, you'd

[2015-02-12 18:26] paulirwin commented on #700
@HaloFour I like the table you propose here. As for the LocalDate name, technically you could think of the name LocalDate as making sense, as a UTC date *is* a local date at a place in the world.

Regarding VB, the `Date` keyword is a vestige from VB6, correct? IMO, assuming we go with the `Date` type name, VB.NET developers should be using the DateTime type name anyways as it is not a primitive t

[2015-02-12 18:33] FiveTimesTheFun opened #754 "Simplify and modernize System.Collections tests"
The System.Collections tests were mechanically ported from existing test assets using a different test framework.  Some of the tests also include misleading comments, and complication and obfuscation relating to constraints at the time they were written.

[2015-02-12 18:36] mj1856 commented on #700
@paulirwin - :+1: for the `Option Date` idea!

[2015-02-12 20:37] ilmax commented on #700
Would love to welcome ```System.Date``` & ```System.Time``` to corefx

[2015-02-12 20:50] ilmax commented on #746
+1

[2015-02-12 21:46] richlander opened #756 "Test Issue --"
Testing a webook

[2015-02-12 21:47] richlander commented on #756
It works!

[2015-02-12 21:47] #756 closed

[2015-02-12 22:38] Clockwork-Muse commented on #753
@mikedn - Well, yeah, I'm aware you can use `Select(...)` instead, and that explicitly listing the cast when enumerating isn't necessary.  I just thought it was liable to throw people off, since the exception thrown is `InvalidCast`, when the destination type was obviously auto-assignable from the source...

[2015-02-12 23:52] ellismg commented on #748
I think this is the same as #538?

[2015-02-12 23:53] ellismg commented on #751
Yes, please follow the process @akoeplinger outlined.  It will make it easier to discuss all of these.

[2015-02-13 02:11] #748 closed

[2015-02-13 02:19] ellismg commented on #699
@stephentoub I'm interested to get your take here.  Are there things we can do which do not pull in too much policy to the runtime (or places where we can hit the 99% case where some default choices for policy)?

[2015-02-13 03:07] stephentoub commented on #753
@Clockwork-Muse, while it may be counter-intuitive, as @mikedn stated, this is the behavior of both Enumerable.Cast and ParallelEnumerable.Cast.  What outcome are you hoping for here?  Is it that you're just interested in seeing this made more clear in the documentation for Cast?

[2015-02-13 03:34] Clockwork-Muse commented on #753
@stephentoub - maybe, or possibly changed so it works "as expected" (I'm aware that this is possibly only as -I- expect it to...)

After all, the documentation states you can change between types, and you can generally cast single primitives to each other.. "why can't I cast between types?" seems like a natural question consumers might raise.

[2015-02-13 08:01] weshaggard opened #758 "BuildPackages target fails because GetPackageVersion needs a version number"
BuildPackages target is broken currently because GetPackageVersion requires more than we are currently setting in corefx repo right now. Luckily (:)) we had another bug that prevented this target from running on clean builds so not many people have hit it yet including our CI system. I'm fixing the other bug however I'm going to disable BuildPackages for now until we get this fixed.

Task "GetPack

[2015-02-13 08:25] weshaggard commented on #679
@eatdrinksleepcode while I somewhat understand your ask here I'm not sure I know how to address it. I want the tests to be able to run via the target where ever you build either the root build.proj or an individual test csproj file. So we there isn't an easy way to detect that you are on the command line or in VS outside of the "BuildingInsideVisualStudio" property. As of now we only have the two

[2015-02-13 14:34] HaloFour commented on #700
@paulirwin Thanks.  It's a logical progression and more or less how Java 8 approached it.  I just *really* want to avoid having two completely separate APIs.  I also think that the BCL should add structs to represent durations and intervals that support ISO formatting/parsing.

Something we can talk about in the Bahamas in a couple of weeks.  :smile:

[2015-02-13 15:40] cnblogs-dudu opened #761 "Weird console problem on Mac OS X"
It happens when I run [CoreClrHelloWorld](https://github.com/dotnet/corefxlab/blob/master/demos/CoreClrConsoleApplications/HelloWorld/HelloWorld.cs) console app to draw Linux logo on Mac OS X.
When I type `runtime_mac/corerun app/HelloWorld.exe linux` to run it, the console draw an incomplete penguin. See the below screen shot.

![screen shot 2015-02-13 at 23 30 28](https://cloud.githubusercontent

[2015-02-13 16:01] AdamSpeight2008 commented on #748
Nope. This is about having a Option / MayBe that is common across .net languages. F#. C#, VB.net.
If you end up doing anything functional in style, having a Option type is useful, as the T can be a Struct or a Class. Unlike Nullable(Of T) which constricts T to a Struct and for a class type Null could also be a valid valid of that type.

[2015-02-13 16:32] HaloFour commented on #700
@paulirwin The `Date` keyword is a vestige from earlier versions of VB, yes, but not unlike how `int` is a vestige from c or C++.  The keyword is effectively an alias to `System.DateTime` and VB.NET programmers can use them interchangeably.

Having an `Option Date` mechanism it might not be a bad idea, although VB.NET is up to four options already for various things.  This would be better than arb

[2015-02-13 16:34] stephentoub commented on #761
My guess is that this is due to lack of GC at the moment.  Changing colors generates some allocations due to needing to evaluate the parameter strings in the terminfo file, and this sample is changing colors a lot.  But that's just a guess.

[2015-02-13 16:37] pgavlin commented on #761
I have also seen this locally--it does appear that the runtime ends up hung while performing a GC in these cases.

@cnblogs-dudu, you should be able to kill the program (press CTRL-C or otherwise send SIGKILL) and run the "reset" command (even though you won't be able to see what you're typing) to get your terminal back to normal.

[2015-02-13 17:00] eatdrinksleepcode commented on #679
My proposal is to change the default target of all projects to Compile. Since Visual Studio always runs the default target, it would only compile the code, not run tests. From the command line, just running "msbuild" would only compile, but running "msbuild /target:build" would compile and run tests. While this is slightly more verbose, I actually prefer to specify a target when I execute a build,

[2015-02-13 17:02] paulirwin commented on #700
@HaloFour Absolutely, let's chat on the trip :-)

I view `int` in C# as different, though: `int` is a primitive type, while `DateTime` is not. Is `Date` the only keyword in VB that represents a non-primitive type? If so, I'm in favor of deprecating it. `string` in C# is a keyword for a non-primitive type, but not only could one argue that `string`s are treated more like a primitive type than `Date

[2015-02-13 17:05] paulirwin commented on #700
That said, I'm also still fine with `CalendarDate` or `LocalDate` in that order of preference. The argument for not using `Date` could also include reduced confusion with Java's and JavaScript's `Date` type.

[2015-02-13 17:35] crowwhite opened #764 "status"
payment

[2015-02-13 17:37] #764 closed

[2015-02-13 17:55] ellismg commented on #748
How is this different than 538 which also wants to add an option type?  It also is not constrained to just a struct.

[2015-02-13 19:14] #761 closed

[2015-02-13 19:41] mj1856 commented on #700
@HaloFour - .Net actually *does* have built-in ISO duration parsing.  It's just not where you'd expect it.

    // parsing
    TimeSpan ts = System.Xml.XmlConvert.ToTimeSpan("PT15M");

    // formatting
    String s = System.Xml.XmlConvert.ToString(TimeSpan.FromMinutes(15));

One could argue that they should *probably* be a built-in standard formatter, rather than off in System.Xml.

Also, since `

[2015-02-13 21:05] AdamSpeight2008 commented on #748
I thought in #538 that they wanted to change Null to Option.

[2015-02-13 21:08] ellismg commented on #748
From the issue:

The discussion is focused more on adding the Option type than changing existing APIs which use null to consume/produce Option.

[2015-02-13 21:23] stephentoub commented on #735
Fixed with #760

[2015-02-13 21:23] #735 closed

[2015-02-13 21:44] AdamSpeight2008 commented on #538
If this Interface could be restricted to the follow interface and types.
[code]
Concrete implementation.
[code]

[2015-02-13 23:31] stephentoub commented on #753
@Clockwork-Muse, as @mikedn alluded to, there's no good/efficient way to change the implementation to provide the behavior you're hoping for.  This is the behavior that's existed in LINQ for a long time; I think it's going to remain as-is.  But thank you for the suggestion.

[2015-02-14 00:11] Clockwork-Muse commented on #700
It's stupid stuff like this that's the reason why I think we need a full, complete, integrated date/time library.  I had enough problems with similar behavior in DB2, thank you.  You only need `Date` (regardless of what we call it)?  Then fine, only use that.  The whole point is to make it easier to use types correctly, by making sure consumers take just a little time to think about which one they

[2015-02-14 00:45] Priya91 opened #770 "Make XunitTraitDiscoverers as a part of the custom Xunit."
Inorder to skip tests and other xunit functionality, the projects require an extra project reference to XunitTraitDiscoverers. Making this a part of the netcore xunit will be good. It's basically an extension on Xunit functionalities, and we should merge these two projects.

[2015-02-14 00:53] mellinoe commented on #770
I'm not sure we should do this, since it's an independent layer built on top of XUnit. Also, in the long-term, I hope that we won't have a forked version of XUnit in the first place. Maybe it would make more sense to simply package up our trait discoverers into their own package that is more easily referenced?

[2015-02-14 01:24] bartonjs commented on #770
I agree with @mellinoe that we don't want to keep having a forked build of xUnit.  It might make sense to move the custom traits into dotnet/buildtools as a standalone assembly, then we can share it across dotnet/corefx and dotnet/coreclr (at least).

[2015-02-14 03:06] nguerrera commented on #102
@laanaithossam  I am closing this bug because there is no repro available and it only affected debug builds in the single place it was reported. The code generated by both the latest VS 2013 compiler and VS 2015 Preview is correct in all configurations that I've been able to try.

[2015-02-14 03:06] #102 closed

[2015-02-14 03:08] nguerrera commented on #102
@laanaithossam With that said, if you are still tracking and seeing this and can answer the question about whether you hit it with a full rebuild and the upgraded VS installation, I can gladly reopen and investigate further.

[2015-02-14 07:56] #753 closed

[2015-02-15 00:08] dpaoliello commented on #587
I'm currently looking into this, but I have one question: is USE_OVERLAPPED still relevant?
It seems like it is there for legacy reasons, and as far as I can tell it is always compiled with it set.

[2015-02-15 05:22] weshaggard commented on #679
@eatdrinksleepcode I think that will likely cause all sorts of other issues. For better or worse there are lots of targets that chain themselves off of build target and so changing the default target to Compile will cause a fair amount inconsistency.

For reference see:
                   CoreBuildDependsOn =
                         BuildOnlySettings;
                         PrepareForBuild;

[2015-02-15 06:46] cnblogs-dudu opened #779 "ComVisible break file operation on Mac OS X"
Run the following very simple console app that creates a file on Mac OS X by corerun.
[code]
But result in the following failures.
[code]
So no file has been created.
After that ... While I comment `[System.Runtime.InteropServices.ComVisible(true)]` in FileAccess.cs and FileMode.cs and FileShare.cs in System.IO.FileSystem.Primitives, the file was created successfully.

[2015-02-15 13:15] stephentoub commented on #722
This happened again in a recent CI run, but in a different test (maybe the two are related?)

MemoryMappedFile.Tests -> d:\j\workspace\dotnet_corefx_windows_release_prtest\bin\Windows_NT\Release\MemoryMappedFile.Tests\MemoryMappedFile.Tests.dll
  xUnit.net console test runner (32-bit .NET Core)
  Copyright (C) 2014 Outercurve Foundation.

  Discovering: MemoryMappedFile.Tests
  Discovered:  Memory

[2015-02-15 13:19] stephentoub opened #780 "Immutable collections test failure in CI"
An immutable collections test failed in a CI run:

[code]

[2015-02-15 13:28] stephentoub commented on #779
@jkotas, do you know why this would fail like this?

Regardless, beyond any changes that may be needed in coreclr, should we be stripping all ComVisible attributes from all of the corefx libraries, since they're not needed with .NET Core, right?  There are currently ~130 of them in the GitHub repo.

[2015-02-15 15:02] richlander commented on #779
@stephentoub ComVisible really only makes sense if we're providing an in-proc server for .NET Core, which we're not. That would push us back down the mscoree.dll activation path, since COM type registrations (by default) are global. I'm sure that there is a way to make this all work with reg-free app-local fusion-style registrations, but that seems like an even worse idea.

I assume that sharing c

[2015-02-15 16:30] jkotas commented on #779
Methods that read ComVisible attribute in vm\interoputil.cpp are not under FEATURE_COMINTEROP, and I guess there is a problem on that path somewhere. coreclr side of the fix should include placing the ComVisible attribute reading under FEATURE_COMINTEROP.

Yes. I believe it has been discussed a couple of times but nobody have done it yet...

[2015-02-15 18:17] stephentoub commented on #779
I'll do it.

[2015-02-16 16:29] stephentoub commented on #587
@dpaoliello, it's not set if EnableWinRT is true:
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System.IO.FileSystem.csproj#L15

[2015-02-16 16:48] dpaoliello commented on #587
Thanks @stephentoub, that makes things fun...
Also, feel free to assign this to me - I'm most of the way through the change (I have one race condition between cancellation\starting the IO\receiving the callback to sort out, and putting back in the !USE_OVERLAPPED code path)

[2015-02-16 17:15] eatdrinksleepcode commented on #679
Indeed, the limited ability of declaring dependencies when MSBuild was first released resulted in the "standard" build resembling a Maven-esque linear lifecycle, with targets "hanging off" of particular steps and relying on previous steps having already been executed rather than explicitly declaring their own dependencies. Dependency declaration is much richer now, but the standard build structure

[2015-02-16 18:19] sgtfrankieboy commented on #467
I see that System.Math is now available in mscorlib, will it be moved over from CoreCLR to CoreFX?  Because the documentation said that new API additions should happen in CoreFX unless specified.

[2015-02-16 18:42] joshfree commented on #722
One more

http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug/38/console

=== TEST EXECUTION SUMMARY ===
     System.IO.FileSystem.Tests  Total: 338, Errors: 0, Failed: 0, Skipped: 0, Time: 0.583s
  System.IO.MemoryMappedFiles -> d:\j\workspace\dotnet_corefx_windows_debug\bin\Windows_NT\Debug\System.IO.MemoryMappedFiles\System.IO.MemoryMappedFiles.dll
  MemoryMappedFile.Tests -> d:\j\wor

[2015-02-16 18:43] joshfree commented on #722
@FiveTimesTheFun can you look into fixing this test case today as you switch over to working on more of System.IO?

[2015-02-16 18:52] stephentoub commented on #779
Fixed by #782

[2015-02-16 18:52] #779 closed

[2015-02-16 18:54] stephentoub commented on #587
Thanks for working on this, @dpaoliello.

[2015-02-16 22:34] #287 closed

[2015-02-16 22:49] FiveTimesTheFun commented on #722
Thanks @joshfree, will do.

[2015-02-16 22:58] AlfredoMS opened #790 "Refactor similar test into simpler helpers for ParallelFor tests"
There's a lot of repetition in these tests that could easily be refactored into helpers.

see https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Parallel/tests/ParallelFor.cs

[2015-02-16 23:46] FiveTimesTheFun commented on #722
Fixed with a31691d65faf9028483e4f9aabe725286d89b0e6

[2015-02-16 23:46] #722 closed

[2015-02-17 03:17] AlfredoMS opened #794 "Fix naming conventions on Tasks.Parallel Library"
Address comments made in PR 768 (https://github.com/dotnet/corefx/pull/768).
- Fix naming convention for constants and private members (ParallelLoopState.cs)
- Make some private static members readonly (ParallelLoopState32/64)
- Change Contract.Asserts over to Debug.Assert and Debug.Fail calls.

[2015-02-17 05:19] weshaggard commented on #529
Addressed with #759

[2015-02-17 05:19] #529 closed

[2015-02-17 05:20] weshaggard commented on #679
Addressed with #783.

[2015-02-17 05:43] weshaggard commented on #770
I agree with @mellinoe and @bartonjs that it doesn't make sense for them to go into our xunit fork as we want to eliminate that and I'm not sure these are general enough for addition into xunit it itself so I think these are just for us.

This project is also causing #745. Right now there is only 4 cs files and two concepts, ActiveIssue and OuterLoop (so we could collapse to two files) and I'm lea

[2015-02-17 06:55] weshaggard commented on #770
After a little closer looking there isn't really a good way to have these be linked shared source code because the type and assembly name need to be contained in a custom attribute.

    [TraitDiscoverer("Xunit.TraitDiscoverers.OuterLoopTestsDiscoverer", "XunitTraitsDiscoverers")]
    [AttributeUsage(AttributeTargets.Method, AllowMultiple = true)]
    public class OuterLoopAttribute : Attribute, I

[2015-02-17 18:05] ericstj commented on #721
I think this is a request for System.Net.Sockets.  Ben, is that correct?

[2015-02-17 18:33] benaadams commented on #721
Yes, would be in System.Net and Sockets for raw exposure; but could always be used in other areas TcpClient, HttpListener etc though don't know how the underlying implementations work at this time

[2015-02-17 18:52] benaadams commented on #721
Also depends where NetworkStream lives

[2015-02-17 19:03] benaadams commented on #751
Replace might be better named AddOrUpdate as per the concurrent collections?

[2015-02-17 19:03] #679 closed

[2015-02-17 19:05] #794 closed

[2015-02-17 19:40] benaadams commented on #157
The example of CreateFromQuaternion shouldn't allocate any memory as its entirely stack based?

You would pay a 64 byte copy cost if you were storing the return value rather than just using it.

Reusing a local declared vary by ref shouldn't gain much and I think things get weird when you start passing addresses of local stack variables around if not careful. (If you are storing the return its pro

[2015-02-18 01:24] nslottow opened #804 "Add test to verify expected set of environment variables"
It looks like we have a test to verify that ProcessStartInfo gets the right environment variables, but we don't have a test to verify the environment of the child process itself.

[2015-02-18 06:56] MattWhilden opened #805 "change "up for grabs" to "up-for-grabs""
This appears to be the more common usage in my spot checking. Roslyn and CoreCLR have the dash version of the tag.

Consistency will make it so that sites like this: http://up-for-grabs.net/#/tags/.net%2Cc%23 work correctly.

[2015-02-18 07:46] ellismg commented on #805
Since I was the one that changed it, I will explain my rationale.

Previously, we had the hyphens, but when I redid all of the tags, I cleaned up all of the hyphens because this looked much nicer to me when I looked at our issues.

As far as I can tell, Roslyn uses ["Up for Grabs"](https://github.com/dotnet/roslyn/labels/Up%20for%20Grabs) with spaces.

We can submit a PR to up-for-grabs.net and us

[2015-02-18 08:30] MattWhilden commented on #805
See this is what happens when I take some pain meds and wander our repos... What was I thinking.

Closing this one out.

[2015-02-18 08:30] #805 closed

[2015-02-18 09:15] Clockwork-Muse opened #806 "`System.Linq.Parallel` - `Average` vs. `Sum` on empty sets."
For parallel collections, the `Average` operator throws `InvalidOperationException` if there are no elements (empty).  In contrast, `Sum` returns 0.
I'm not really seeing a good reason for there to be a difference here - it's not like a 0 result is any more or less valid for `Sum` than it would be for `Average` (for what it's worth, SQL returns null for both operations).

(This looks to be a simpl

[2015-02-18 09:34] ellismg commented on #806
FWIW, I believe the behavior matches the standard LINQ operations.

I think it's a little odd that sum is defined over the empty set, but I worry about changing that behavior.

Whatever we do, we should make sure LINQ and PLINQ behave the same way.

[2015-02-18 09:41] Clockwork-Muse opened #807 "`System.Linq.Parallel` - `Any` vs `All` on empty sets."
On an empty set, `Any(delegate)` returns false.
On an empty set, `All(delegate)` returns true.
(This appears to be an artifact of the implementation as direct opposites of each other)

This seems nonsensical for two reasons:
 1. The documentation of the return value is identical in wording, save for `'any'`/`'all'`.
 2. Conceptually, the result of asking the delegate 'question' would be the same f

[2015-02-18 10:00] ellismg commented on #807
In my opinion, the behavior here is sensible and correct.  The documentation on MSDN calls out the specific case that All returns true for an empty enumerable.

We should just add test coverage.

[2015-02-18 10:02] Clockwork-Muse commented on #806
@ellismg  - it does, but that brings up another problem - I don't think the `System.Collections.Generic` namespace has been open-sourced yet (looks like we have tests, but no implementation source).

[2015-02-18 10:56] ellismg commented on #806
That's correct.  We are working on getting it up here.

What's the rationale for changing either of these?

[2015-02-18 11:55] mikedn commented on #806
The fact that Average throws an exception for empty collections is a natural consequence of Sum returning 0 for empty collections:
[code]

And Sum returns 0 for empty collections because that's the [convention](http://en.wikipedia.org/wiki/Empty_sum) in mathematics. If you make `sum(empty)` null then you end up with weird situations such as:
[code]
SQL kind of screwed up when it decided that SUM(e

[2015-02-18 12:18] #807 closed

[2015-02-18 12:19] #806 closed

[2015-02-18 12:34] Clockwork-Muse commented on #806
@mikedn - Okay, I can get returning 0 for an empty sum like that.  SQL really only returns null when you've got a null source column (usually from a `LEFT JOIN` that's not fulfilled) - otherwise you usually end up with an empty set, so get no rows returned (no value returned).
...Hmm, looks like SO [already had a question on this](http://math.stackexchange.com/questions/909395/what-is-the-average-

[2015-02-18 12:47] stephentoub commented on #699
I think it'd be a reasonable addition, though I think it'd make sense in a separate library of some kind, along with other more specialized combinators over Tasks.  I've been thinking of starting such a project on https://github.com/dotnet/corefxlab.  There is a fair amount of policy that would be included, e.g. what to do in the face of exceptions, how much parallelism to employ, whether that's a

[2015-02-18 13:18] stephentoub commented on #780
@AArnott, my theory here is that this is due to a very subtle and rare race.  If two immutable collections tests ran concurrently, it's possible they could both access ```Comparer<T>.Default``` for the first time concurrently.  ```Comparer<T>.Default``` doesn't guarantee it'll return the same object every time... it usually does, as it caches a result in a static, but it doesn't use any synchroniz

[2015-02-18 13:33] #495 closed

[2015-02-18 13:57] stephentoub opened #809 "Implement System.IO.Pipes on Unix"
The library has been refactored to have the Unix implementation stubbed out.  It needs to be properly implemented.

[2015-02-18 13:58] stephentoub opened #810 "Implement System.Globalization.Extensions on Unix"
The library has been refactored to have the Unix implementation stubbed out.  It needs to be properly implemented.

[2015-02-18 14:00] stephentoub opened #811 "Implement System.Diagnostics.FileVersionInfo on Unix"
The library has been refactored to have the Unix implementation stubbed out.  It should be implemented to the extent that makes sense on Unix.

[2015-02-18 14:03] stephentoub opened #812 "Implement async I/O support in System.IO.FileSystem/Pipes on Unix"
System.IO.FileSystem has an initial implementation on Unix, but it doesn't yet have special support for async I/O (right now the async operations just rely on the base Stream type's implementation, which will schedule a work item to invoke the synchronous implementations).

[2015-02-18 15:08] AArnott commented on #780
Thanks, @stephentoub.
I guess it would be *very* unfortunate for an immutable collection's Empty instance to accidentally capture an unusual instance of `Comparer<T>.Default` as that would mean this would happen for the whole life of the process, causing more allocations than designed for.
Perhaps the library should defend by calling `Comparer<T>.Default` _twice_ and always using the result of the

[2015-02-18 15:12] stephentoub commented on #780
If it's something important to defend against, you could maintain your own:
[code]
and then the library would use that s_defaultComparer everywhere instead of using Comparer<T>.Default.  This wouldn't defend against external code passing in Comparer<T>.Default (which could possibly differ from s_defaultComparer), but it would ensure that every internal code path consuming s_defaultComparer would g

[2015-02-18 15:14] AArnott commented on #780
I was more concerned about external code passing one in. I'm thinking about modifying the constructor from this:

    _comparer = comparer ?? Comparer<T>.Default;

to this:

    if (comparer != null)
    {
        _comparer = comparer;
    }
    else
    {
        var dummy = Comparer<T>.Default; // ensure we get the right singleton on the second call.
        _comparer = Comparer<T>.Default;

[2015-02-18 15:15] stephentoub commented on #780
I don't understand how this defends against external code calling WithComparer(Comparer<T>.Default).  Can you elaborate?

[2015-02-18 15:16] AArnott commented on #780
By the time they call WithComparer, they already have an instance of the collection. And that instance is based on Empty. And the Empty constructor has already run and called Comparer.Default. Therefore there is no race.

In fact we could instead move this double-call into the Empty initializer's constructor call so that we only do the double-call for Empty and not any other instance.

[2015-02-18 15:20] stephentoub commented on #780
Ah, I see.  This wouldn't be 100%, but it would address the common case.  It wouldn't, for example, address the corner case where the user themselves cached ```Comparer<T>.Default``` concurrently with ```Empty``` being initialized rather than accessing Default as part of the call to ```WithComparer```.

I think doing it instead as part of Empty's construction would address it, since the field that

[2015-02-18 15:24] AArnott commented on #780
Right. I don't think we can deal with the case of the caller using a cached odd instance. I'll start a pull request so you can review what I'm thinking. I'm nearly done with it.

[2015-02-18 15:25] stephentoub commented on #780
Actually, no, that still wouldn't address the issue, at least not with how ```Default``` is currently implemented.  It's logic is basically:
[code]
So if thread 1 calls:
[code]
concurrently with thread 2 doing:
[code]
thread 2 could get to the point of being inside of the null check, then thread 1 could execute, and then thread 2 would continue to create its own copy and overwrite what's in s_defa

[2015-02-18 15:26] stephentoub commented on #780
Actually, no, that still wouldn't address the issue, at least not with how ```Default``` is currently implemented.  It's logic is basically:
[code]
So if thread 1 calls:
[code]
concurrently with thread 2 doing:
[code]
thread 2 could get to the point of being inside of the null check, then thread 1 could execute, and then thread 2 would continue to create its own copy and overwrite what's in s_defa

[2015-02-18 15:27] scalablecory commented on #495
Thanks.

[2015-02-18 15:29] stephentoub commented on #495
Thanks for the suggestion.

[2015-02-18 15:32] AArnott commented on #780
Hmmm... I see. Too bad there's no `Interlocked.CompareExchange` there. Surely that wasn't due to a perf concern with an interlocked call as this is just in lazy init.

[2015-02-18 15:34] stephentoub commented on #780
I didn't write that code, so I can't speak to the reasoning, but there are lots of places where a CompareExchange isn't used in places where object identity isn't expected to be needed.  For example, a CompareExchange isn't used when the C# compiler caches delegate instances.

[2015-02-18 15:39] stephentoub opened #814 "Implement System.Diagnostics.Process for Mac"
Process' implementation is currently Linux-specific, relying heavily on procfs to gather information on processes.  To my knowledge, procfs doesn't exist on OS X, so we'll need a specialized implementation for Mac.

[2015-02-18 15:41] AArnott commented on #780
The pull request might be a step toward the solution. But perhaps the solution is to switch to using interlocked in the Comparer initializer then. Assuming that's in corefx we could fix it here, and then file a bug against .NET 4.6 too.

[2015-02-18 15:44] stephentoub commented on #780
I think it'd be a reasonable change to ```Comparer<T>.Default``` and ```EqualityComparer<T>.Default```.  Since this is about performance rather than correctness, it'd be ok for the fix not to show up everywhere, especially since the negative perf consequences would only likely happen once in a blue moon.

[2015-02-18 15:46] AArnott commented on #780
OK. I'll see if I can find the Comparer implementation in Corefx and update the pull request.
Do you think the existing pull request commit is not worth keeping any form of at this point? If it doesn't really solve the problem, IMO it's not worth the complexity.

[2015-02-18 15:49] stephentoub commented on #780
I believe the source is in the System.Collections library, for which tests but not yet source are up on GitHub.  Hopefully it'll be up soon.

And, yeah, IMHO the PR isn't worth it.

[2015-02-18 15:50] AArnott commented on #780
Sounds good. I'll cancel it. And I noticed the src for the lib is missing too. I'll hold off on fixing this till it's available.

[2015-02-18 15:58] stephentoub opened #815 "Implement System.IO.FileSystem.DriveInfo for Mac"
The current implementation of System.IO.FileSystem.DriveInfo on Linux uses getmntent_r and friends for accessing file system descriptions, and to my knowledge those APIs don't exist on OS X.

[2015-02-18 16:03] stephentoub opened #816 "MemoryMappedFiles light-up in System.Reflection.Metadata needs to pull from standalone lib"
The implementation currently uses reflection to check for and access the memory-mapped files implementation in System.Core.  It needs to at least first consult the stand-alone implementation of System.IO.MemoryMappedFiles.dll, in part because that's where the cross-platform implementation lives.

[2015-02-18 16:19] stephentoub opened #817 "Implement System.IO.FileSystem.Watcher for Mac"
The Linux implementation uses inotify, which is Linux-specific.  We'll need a different implementation for Mac, such as one based on FAM, kqueue, or FSEvents.

[2015-02-18 17:36] mmitche commented on #386
No issues these days.

[2015-02-18 17:36] #386 closed

[2015-02-18 19:27] joshfree opened #820 "Run compliance tool against Project K"

[2015-02-18 20:53] ikopylov commented on #492
I think that the implementation of a complex statistical library within CoreFx is not a good idea.
But for me it would be great to see a Random generator with normal distribution as a part of BCL.

[2015-02-18 21:07] dotnet-bot opened #821 "Collect telemetry from test runs"

[2015-02-18 21:07] dotnet-bot opened #822 "Auto upload packages to nuget/myget"

[2015-02-18 21:07] dotnet-bot opened #823 "Strategy for test hooks/mocks that works everywhere"

[2015-02-18 21:07] dotnet-bot opened #824 "Contract Generation"

[2015-02-18 21:08] dotnet-bot opened #825 "Runtime Facade Generation"

[2015-02-18 21:08] dotnet-bot opened #826 "Open Source ClrCompression.dll"

[2015-02-18 21:08] dotnet-bot opened #827 "Open Source System.IO.Compression"

[2015-02-18 21:08] dotnet-bot opened #828 "Open Source System.IO.Compression.ZipFile"

[2015-02-18 21:08] dotnet-bot opened #829 "Open Source System.Security.SecureString"

[2015-02-18 21:08] dotnet-bot opened #830 "Open Source System.Xml.ReaderWriter"

[2015-02-18 21:08] dotnet-bot opened #831 "Open Source System.Security.Cryptography.Rsa"

[2015-02-18 21:08] dotnet-bot opened #832 "Open Source System.Security.Cryptography.DerivedBytes"

[2015-02-18 21:08] dotnet-bot opened #833 "Open Source System.Security.Cryptography.Encoding"

[2015-02-18 21:08] dotnet-bot opened #834 "Open Source System.Security.Cryptography.Encryption"

[2015-02-18 21:08] dotnet-bot opened #835 "Open Source System.Security.Cryptography.Hashing"

[2015-02-18 21:08] dotnet-bot opened #836 "Open Source System.Security.Cryptography.Hashing.Algorithms"

[2015-02-18 21:08] dotnet-bot opened #837 "Open Source System.Security.Cryptography.RandomNumberGenerator"

[2015-02-18 21:08] dotnet-bot opened #838 "Dashboard: Caclulate product confidence from test and code coverage data."

[2015-02-18 21:08] dotnet-bot opened #839 "enable perf and stress infrastructure"

[2015-02-18 21:08] dotnet-bot opened #840 "Align ToF and xunit reporting"

[2015-02-18 21:08] dotnet-bot opened #841 "Run OuterLoop tests on officially built binaries"

[2015-02-18 21:08] dotnet-bot opened #842 "System/System.Core refactor"

[2015-02-18 21:08] dotnet-bot opened #843 "File/Directory/FileInfo/DirectoryInfo tests"

[2015-02-18 21:08] dotnet-bot opened #844 "System.Xml.ReaderWriter"

[2015-02-18 21:17] dotnet-bot opened #845 "Whitehat Security Program"

[2015-02-18 21:18] dotnet-bot opened #846 "Cross Platform System.Globalization"
This a meta-workitem tracking a bunch of smaller stuff, now that we have multiple folks working on this stuff concurrently.

- [x] TimeZone
- [x] Encodings (#2774)
- [x] Collation (#2769)
- [x] Casing (#2772)
- [x] Locales (#2770)
- [x] Calendars (#2773)

[2015-02-18 21:19] dotnet-bot opened #847 "Cross FileSystem Tests"

[2015-02-18 21:20] dotnet-bot opened #848 "Open Source System.Threading.Timer Tests"

[2015-02-18 21:21] dotnet-bot opened #849 "Open Source System.Threading Tests"

[2015-02-18 21:22] dotnet-bot opened #850 "Open Source System.Threading.Tasks Tests"

[2015-02-18 21:23] dotnet-bot opened #851 "Open Source System.AppContext Tests"

[2015-02-18 21:24] dotnet-bot opened #852 "Open Source System.Resources.ResourceManager Tests"

[2015-02-18 21:25] dotnet-bot opened #853 "Open Source System.Resources.ResourceWriter Tests"

[2015-02-18 21:26] dotnet-bot opened #854 "Open Source System.Security.Principal Tests"

[2015-02-18 21:27] dotnet-bot opened #855 "Open Source System.Reflection.Emit Tests"

[2015-02-18 21:28] dotnet-bot opened #856 "Open Source System.Reflection.Emit.Lightweight Tests"

[2015-02-18 21:29] dotnet-bot opened #857 "Open Source System.Reflection.Emit.IlGeneration Tests"

[2015-02-18 21:30] dotnet-bot opened #858 "Open Source System.Text.Encoding.Extensions Tests"

[2015-02-18 21:31] dotnet-bot opened #859 "Open Source System.Text.Encoding Tests"

[2015-02-18 21:32] dotnet-bot opened #860 "Open Source System.Globalization Tests"

[2015-02-18 21:33] dotnet-bot opened #861 "Open Source System.Globalization.Calendar Tests"

[2015-02-18 21:34] dotnet-bot opened #862 "Open Source System.IO Tests"

[2015-02-18 21:35] dotnet-bot opened #863 "Open Source System.Reflection Tests"

[2015-02-18 21:36] dotnet-bot opened #864 "Open Source System.Reflection.Primitives Tests"

[2015-02-18 21:37] dotnet-bot opened #865 "Open Source System.Reflection.Extensions Tests"

[2015-02-18 21:38] dotnet-bot opened #866 "Open Source System.Reflection.TypeExtensions Tests"

[2015-02-18 21:39] dotnet-bot opened #867 "Open Source System.ObjectModel Tests"

[2015-02-18 21:40] dotnet-bot opened #868 "Open Source System.Diagnostics.Tools Tests"

[2015-02-18 21:41] dotnet-bot opened #869 "Open Source System.Diagnostics.Debug Tests"

[2015-02-18 21:42] dotnet-bot opened #870 "Open Source System.Diagnostics.Contracts Tests"

[2015-02-18 21:43] dotnet-bot opened #871 "Open Source System.Runtime.CompilerServices Tests"

[2015-02-18 21:44] dotnet-bot opened #872 "Open Source System.Runtime.Loader Tests"

[2015-02-18 21:45] dotnet-bot opened #873 "Open Source System.Runtime.InteropServices Tests"

[2015-02-18 21:46] dotnet-bot opened #874 "Open Source System.Runtime.Handles Tests"

[2015-02-18 22:16] stephentoub opened #875 "OS-independent libraries should be built to an OS-independent folder"
Once #818 gets merged, we should refactor how our binaries are built to output paths.  Libraries that have no direct OS-dependencies and do not have an OS-specific build should go into a neutral folder, and libraries that have OS-specific builds should go into an OS-specific folder.

[2015-02-18 22:54] jhendrixMSFT commented on #758
This has been resolved in https://github.com/dotnet/corefx/pull/765.

[2015-02-18 22:54] #758 closed

[2015-02-18 23:20] mj1856 commented on #626
@ellismg - I think the feedback here is valid.  This would be a better fit for code analysis than for the framework.  Feel free to close if you agree.

[2015-02-18 23:22] ellismg commented on #626
Makes sense.

[2015-02-18 23:22] #626 closed

[2015-02-18 23:31] joshfree opened #877 "Publish enu resources (mscorlib.txt, system.txt) to microsoft/referencesource"
publish enu resource txt files to microsoft/referencesource.

Tracking the issue here since we have Issue Tracking disabled on that repo.

[2015-02-19 00:27] nguerrera commented on #637
Fixed by #591

[2015-02-19 00:27] #637 closed

[2015-02-19 00:45] mmitche commented on #541
This reason this is happening is that powershell was being launched with low-priority.  All sub-processes were inheriting this base priority.

The test could be hardened so that we somehow knew the parent process priority and checked against that, but then the validity of the check might be suspect.  However, having a non-normal base priority is pretty rare.  I'm closing this as won't fix for now.

[2015-02-19 00:45] #541 closed

[2015-02-19 00:52] #845 closed

[2015-02-19 00:57] dotnet-bot opened #879 "Open Source Internal.InterfaceProxy.dll"

[2015-02-19 01:07] dotnet-bot opened #880 "Open Source Microsoft.CSharp.dll"

[2015-02-19 01:07] dotnet-bot opened #881 "Open Source Microsoft.VisualBasic.dll"

[2015-02-19 01:08] dotnet-bot opened #882 "Open Source Networking.dll"

[2015-02-19 01:08] dotnet-bot opened #883 "Open Source ServiceModel.dll"

[2015-02-19 01:08] dotnet-bot opened #884 "Open Source System.ComponentModel.TypeConverter.dll"

[2015-02-19 01:09] dotnet-bot opened #885 "Open Source System.Data.Common.dll"

[2015-02-19 01:09] dotnet-bot opened #886 "Open Source System.Diagnostics.Tracing.dll"

[2015-02-19 01:10] dotnet-bot opened #887 "Open Source System.Dynamic.Runtime.dll"

[2015-02-19 01:10] dotnet-bot opened #888 "Open Source System.Linq.dll"

[2015-02-19 01:10] dotnet-bot opened #889 "Open Source System.Linq.Expressions.dll"

[2015-02-19 01:11] dotnet-bot opened #890 "Open Source System.Linq.Queryable.dll"

[2015-02-19 01:11] dotnet-bot opened #891 "Open Source System.Net.Http.dll"

[2015-02-19 01:12] dotnet-bot opened #892 "Open Source System.Net.Http.WinHttpHandler.dll"

[2015-02-19 01:12] dotnet-bot opened #893 "Open Source System.Net.NameResolution.dll"

[2015-02-19 01:13] dotnet-bot opened #894 "Open Source System.Net.NetworkInformation.dll"

[2015-02-19 01:13] dotnet-bot opened #895 "Open Source System.Net.Primitives.dll"

[2015-02-19 01:13] dotnet-bot opened #896 "Open Source System.Net.Sockets.dll"

[2015-02-19 01:14] dotnet-bot opened #897 "Open Source System.Net.Utilities.dll"

[2015-02-19 01:14] dotnet-bot opened #898 "Open Source System.Private.DataContractSerialization.dll"

[2015-02-19 01:15] dotnet-bot opened #899 "Open Source System.Runtime.Serialization.Json.dll"

[2015-02-19 01:15] dotnet-bot opened #900 "Open Source System.Runtime.Serialization.Primitives.dll"

[2015-02-19 01:16] dotnet-bot opened #901 "Open Source System.Runtime.Serialization.Xml.dll"

[2015-02-19 01:16] dotnet-bot opened #902 "Open Source System.ServiceModel.Http.dll"

[2015-02-19 01:16] dotnet-bot opened #903 "Open Source System.ServiceModel.Primitives.dll"

[2015-02-19 01:17] dotnet-bot opened #904 "Open Source System.ServiceModel.Web.dll"

[2015-02-19 01:17] dotnet-bot opened #905 "Open Source System.Threading.ExecutionContext.dll"

[2015-02-19 01:18] dotnet-bot opened #906 "Open Source System.Threading.Overlapped.dll"

[2015-02-19 01:18] dotnet-bot opened #907 "Open Source System.Threading.Thread.dll"

[2015-02-19 01:19] dotnet-bot opened #908 "Open Source System.Threading.ThreadPool.dll"

[2015-02-19 01:19] dotnet-bot opened #909 "Open Source System.Xml.Serialization.dll"

[2015-02-19 01:19] dotnet-bot opened #910 "Open Source System.Xml.XmlSerializer.dll"

[2015-02-19 01:28] joshfree opened #911 "create githubusercontent assets for reference from readme.md"
![backlog](https://cloud.githubusercontent.com/assets/1302850/6260412/38987b1e-b793-11e4-9ade-d3fef4c6bf48.png)

![in progress](https://cloud.githubusercontent.com/assets/1302850/6260414/41b0fc30-b793-11e4-9d50-d09563cd138a.png)

![up next](https://cloud.githubusercontent.com/assets/1302850/6260418/4c2c7a54-b793-11e4-8ce1-a27ff5378d08.png)

quick hack to upload 3 images to githubusercontent.com so

[2015-02-19 01:29] #911 closed

[2015-02-19 05:59] weshaggard commented on #875
I'm was thinking about this more and I want to figure out the high level build scenarios we support. I believe we have:

1. Building via configuration in VS:
    * {Flavor}
    * {OS_Flavor}
2. Building via command line (either from root or local project)
    * /p:Configuration={Flavor} /p:OS={OS}
    * /p:Configuration={OS}_{Flavor}

While we can control the VS configurations by only including th

[2015-02-19 07:02] ellismg opened #914 "Write a test for GetGroup never returning Empty Group"
We merged #253 without a corresponding test.  We need to write one.

[2015-02-19 07:29] ellismg commented on #869
We need to do this sooner rather than later because we require a version of cross plat that doesn't depend on System.dll (which we won't have on Unix/Mac).  The decision to use Debug.Assert vs Contract.Assert forces our hand here, since the implementation which is just a facade over System.dll is no longer sufficient.

[2015-02-19 07:50] ellismg opened #915 "Remove uses of Console.WriteLine in the Unit Tests?"
A bunch of our unit tests do `Console.WriteLine` either on regular paths or on error cases.  By my count there's bout 1600 hits for `Console.Write*` in our tests.  This is a bit of an over-count because some of these are the Console tests themselves.

I don't really like this very much.  It feels like something we inherited when porting our legacy test assets.  Is it worthwhile to go clean this up

[2015-02-19 13:43] stephentoub opened #918 "Improve code coverage for Microsoft.Win32.Primitives"
According to the current code coverage report, this library is only at 63%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:44] stephentoub opened #919 "Improve code coverage for Microsoft.Win32.Registry"
According to the current code coverage report, this library is only at 77%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:46] stephentoub opened #920 "Improve code coverage for System.ComponentModel"
According to the current code coverage report, this library is only at 37.5%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:46] stephentoub opened #921 "Improve code coverage for System.ComponentModel.Annotations"
According to the current code coverage report, this library is only at 75%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:47] stephentoub opened #922 "Improve code coverage for System.ComponentModel.EventBasedAsync"
According to the current code coverage report, this library is only at 74.5%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:48] stephentoub opened #923 "Improve code coverage for System.Console"
According to the current code coverage report, this library is only at 58%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:49] stephentoub opened #924 "Improve code coverage for System.Diagnostics.TextWriterTraceListener"
According to the current code coverage report, this library is only at 73%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:49] stephentoub opened #925 "Improve code coverage for System.Diagnostics.TraceSource"
According to the current code coverage report, this library is only at 24%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:50] stephentoub opened #926 "Improve code coverage for System.Globalization.Extensions"
According to the current code coverage report, this library is only at 51%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:52] stephentoub opened #927 "Improve code coverage for System.IO.FileSystem"
According to the current code coverage report, this library is only at 44%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

The low number is certainly due to missing part of the test suite.  We should reevaulate once #843 is

[2015-02-19 13:53] stephentoub opened #928 "Rewrite System.IO.MemoryMappedFiles tests"
According to the current code coverage report, this library is only at 77%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:54] stephentoub opened #929 "Improve code coverage for System.IO.UnmanagedMemoryStream"
According to the current code coverage report, this library is only at 79%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:55] stephentoub opened #930 "Improve code coverage for System.Numerics.Vectors"
According to the current code coverage report, this library is only at 72%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:55] stephentoub opened #931 "Improve code coverage for System.Reflection.Metadata (71.6%)"
According to the current code coverage report, this library is only at 51%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:56] stephentoub opened #932 "Improve code coverage for System.Resources.ResourceWriter"
According to the current code coverage report, this library is only at 56%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:56] stephentoub opened #933 "Improve code coverage for System.Text.Encoding.CodePages (74.8%)"
According to the current code coverage report, this library is only at 66%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:57] stephentoub opened #934 "Improve code coverage for System.Xml.XPath"
According to the current code coverage report, this library is only at 51%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:58] stephentoub opened #935 "Improve code coverage for System.Xml.XPath.XDocument"
According to the current code coverage report, this library is only at 54.5%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:59] stephentoub opened #936 "Improve code coverage for System.Xml.XPath.XmlDocument"
According to the current code coverage report, this library is only at 15%! Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 13:59] stephentoub opened #937 "Improve code coverage for System.Xml.XmlDocument"
According to the current code coverage report, this library is only at 47%.  Our general goal is closer to 90%, though this will depend on the library.  We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-19 14:01] akoeplinger opened #938 "Code coverage reported as zero for some debugger proxy classes"
E.g. [ImmutableHashSet`1DebuggerProxy.cs](https://github.com/dotnet/corefx/blob/6cc61f2c1c976fc1e392c415d9f592ca509d747f/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableHashSet%601%2BDebuggerProxy.cs)  is listed with zero coverage on the [last coverage report](http://dotnet-ci.cloudapp.net/job/dotnet_corefx_coverage_windows/37/Code_Coverage_Report/)

It should be exclude

[2015-02-19 14:17] stephentoub commented on #938
Thanks, @akoeplinger. Maybe this should be filed as an issue over at https://github.com/opencover/opencover?

[2015-02-19 14:18] stephentoub commented on #938
That said, I actually think we should have unit tests for debugger-related types like this.  It's really easy to break these when refactoring and not realize it until someone actually tries to use that particular proxy or visualizer or display while debugging, only to find that VS doesn't provide the right details.  Testing these often involves some kind of reflection.

[2015-02-19 14:25] stephentoub commented on #938
Actually, looking more at OpenCover, it looks like we may be able to do these exclusions by augmenting what we pass to at as command-line arguments.  I'll follow-up.

[2015-02-19 16:05] #938 closed

[2015-02-19 16:43] stephentoub opened #942 "Failed CI build reported it completed successfully"
PR #917 had a bad P/Invoke declaration that caused a TypeLoadException and a huge number of tests to fail.  But even though the build lists a large number of test failures:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/138/#showFailuresLink

the build still shows as green / successful, and GitHub reports "all is well".

[2015-02-19 16:54] mmitche commented on #942
@stephentoub Looks like somehow build.cmd got messed up again.  MSBuild is reporting errors but build.cmd returns 0.  This might be related to recent changes in the way we run tests.  I'll check.

[2015-02-19 16:56] stephentoub commented on #942
Thanks for investigating, @mmitche.

[2015-02-19 16:58] weshaggard commented on #942
I suspect this may be my recent change to dir.tarversals.target where I added ContinueOnError="ErrorAndContinue" in an attempt to make sure we continue to run all the tests and not fail fast on the first test failure. I will take care of this issue.

[2015-02-19 17:02] mmitche commented on #942
@weshaggard Actually, that part is okay.  It's the AfterTargets + ContinueOnError that causes this problem.  There is a bug in msbuild that causes it to not keep track of the error state for tasks that are ContinueOnError in AfterTargets.

I fixed this bug a while back (when we ran tests after bujlding) by gathering up an itemgroup of the exit codes and making that an output to the test task.  The

[2015-02-19 17:04] weshaggard commented on #942
Yes I remember your other change I will try to apply in to the new way we are running the tests.

[2015-02-19 17:11] mmitche commented on #942
@weshaggard I think it might be slightly different now...before it looked like we were running all of the assemblies on the same xunit command line, now we're running multiple xunit instances.  I think it might be more challenging.

The other way to fix this is to avoid using AfterTargets.  Instead use DependsOnTargets in some fashion.

[2015-02-19 17:13] mmitche commented on #875
That sounds reasonable.  We actually had something similar to this in the old Phoenix days.

We had builds like this:

msbuild /p:Arch=*;Host=x86

Arch would be evaluated to the set of Architectures for which Host=x86 was valid.  We did it using some form of Supported* properties.