[2016-05-24 20:41] ianhays commented on #8719
It'd be a bit odd to have the operator overloads for the shifts but not for the other binary operations i.e. not/or/and.

[2016-05-24 21:24] cesarbs opened #8825 "CLR throws InvalidProgramException when a class contains a single static Vector<byte> field"
**Happens on full CLR only.**

Repro:

    using System.Numerics;

    namespace VectorRepro
    {
        public class Program
        {
            static Vector<byte> _vector = new Vector<byte>(42);
            //static Vector<byte> _vector2 = new Vector<byte>(43);

            public static void Main(string[] args)
            {
            }
        }
    }

Error:

    Unhandled Exception: S

[2016-05-24 21:26] cesarbs commented on #8825
I'm using System.Numerics.Vectors 4.1.0.

[2016-05-24 21:28] cesarbs commented on #8825
Verified on .NET 4.5.1 and 4.6.

[2016-05-24 21:28] benaadams commented on #8825
/cc @CarolEidt

[2016-05-24 21:36] halter73 commented on #8825
This only seems to happen if `Vector.IsHardwareAccelerated == True`

[2016-05-24 21:37] steveharter commented on #5167
I believe there is an issue with x509 code support w.r.t. using the new EC Curves; still researching but when importing an ecdsa key the curve name apparently needs to be specified, and that information is not being passed from the x509 side to CngKey.Import API because that API was not modified to accept the curve name. In addition, the certificate class on the x509 side does not expose the curve

[2016-05-24 21:44] Clockwork-Muse commented on #1683
...Okay then, so any changes will have to go into both places, gotcha.

[2016-05-24 21:45] seesharper opened #8828 "Net Platform Standard Question"
I am the author of the LightInject DI framework and I am trying to get things out the door based on the new RC2 bits

This means moving from the old TFM's (DNX451 and DNXCORE50) to the new (and hopefully final) NETSTANDARDx.x TFM´s.

Okay, so let's start with what I used to do prior to this.

The Nuget Package used to contain a version of lightinject.dll for each platform. These platforms were net

[2016-05-24 21:56] SamuelEnglard commented on #8719
By the same token it's weird that it doesn't have them at all currently.

[2016-05-24 21:58] ericstj commented on #8815
Apologies for calling out @MattGal here.  Wes, can you fix this up?  I think this means folks aren't running APICompat on Unix, right?

[2016-05-24 22:00] janvorli commented on #8501
Fixed by https://github.com/dotnet/coreclr/issues/5183

[2016-05-24 22:00] #8501 closed

[2016-05-24 22:11] ianhays commented on #1683
Yup, manually. There isn't any sort of consolidation between the two afaik so source drift is a (scary) possibility.

[2016-05-24 22:17] JeremyKuhne commented on #8810
It is unlikely that your path is longer than a [short.MaxValue](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/IO/PathHelper.Windows.cs#L69). The more likely scenario is that it has a segment that is too [long](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/IO/PathHelper.Windows.cs#L128).

Of course it also might be a bu

[2016-05-24 22:18] CarolEidt commented on #8825
This appears to be AVX-related. I can't repro it on my non-AVX2 system, and if I set COMPlus_EnableAVX=0 on the AVX2 machine, the problem goes away. I will have a look at this.

[2016-05-24 22:28] ellismg commented on #8815
I am working on validating a fix.

[2016-05-24 22:32] ianhays commented on #8719
Mathematical operation overloads are pretty sparsely used in the framework and I can't think of any instances where they're used for Collections. For example, why doesn't List allow addition through the '+' operator? Or removal through '-'? Those are more common scenarios than the bitwise operations, so surely it would make more sense to have them than it would to have bitwise BitArray operations?

[2016-05-24 22:37] ianhays commented on #8803
Weren't there a bunch of PRs recently to move those to CoreFX?

[2016-05-24 22:37] JeremyKuhne commented on #8810
Sorry- I totally misread the stack. The string is updated on CoreFx.  Your stack appears to be running on Desktop.  FileSystemInfo doesn't get FileIOPermission on Core- it doesn't even exist.

[2016-05-24 23:57] weshaggard commented on #8815
Thanks for fixing @ellismg, sorry I didn't fix this earlier. In https://github.com/dotnet/buildtools/pull/721 I even saw this error but I never got back around to digging in to repro it and understand (I really want to setup an ubunto docker image so I can repro these things).

[2016-05-25 00:06] svick commented on #8719
@ianhays

I don't think operators make sense for mutable types. If `+` returned a new `List<T>`, then that would be inefficient. If it modified the existing `List<T>`, that would be very confusing.

On the other hand, it is used for immutable types like `BigInteger`, `TimeSpan` or `string`. And since, for better or worse, `BitArray` was designed as a mutable type, it makes sense to me that it does

[2016-05-25 00:07] joshfree commented on #8763
Closing this issue now that the typeforwarder workaround is in place in both branches

[2016-05-25 00:07] #8763 closed

[2016-05-25 00:08] joshfree commented on #8579
Moving to 1.1

[2016-05-25 00:08] joshfree commented on #8578
Moving to 1.1

[2016-05-25 00:08] joshfree commented on #8577
Moving to 1.1

[2016-05-25 00:08] joshfree commented on #8576
Moving to 1.1

[2016-05-25 00:10] #7191 closed

[2016-05-25 00:13] joshfree commented on #8367
Could this be related to https://github.com/dotnet/corefx/issues/8501 ?

[2016-05-25 00:14] joshfree commented on #8200
@barrytang what is the right location to track this?

[2016-05-25 00:15] ellismg commented on #8367
It's probable.

[2016-05-25 00:21] chcosta opened #8835 "Updating versions of externalpackages in pkg\ExternalPackages\versions.props"
This PR, https://github.com/dotnet/corefx/pull/8824, is introducing pkg\ExternalPackages\versions.props which we are using to determine version numbers for external packages (System.IO.Compression for example).

We need some method (similar to UpdatePackageDependencyVersion), so that we can keep this file up to date w.r.t. the latest stable package version for these packages (perhaps making use of

[2016-05-25 00:28] joshfree commented on #8681
cc: @sergiy-k

[2016-05-25 00:30] joshfree commented on #7953
Moving this to 1.1

[2016-05-25 00:32] joshfree commented on #5875
@danmosemsft I'm assuming you're driving this one from here on out

[2016-05-25 00:34] joshfree commented on #8367
Moving to 1.1 until there's more info to go on.

[2016-05-25 00:43] joshfree commented on #6936
@tarekgh could you please move this to a .NET 4.6x bug?

[2016-05-25 00:56] CIPop commented on #4071
I don't have a repro for this yet.

[2016-05-25 01:08] AlexGhiondea commented on #6936
They are actually not in 4.6.2. I updated the AppContext library to support 1.6 with the new contract.

I think we can close this issue.

[2016-05-25 01:08] joshfree commented on #7825
Moving to 1.1.  We can reconsider for 1.0 if a fix is available in time.

[2016-05-25 01:09] tarekgh commented on #6936
@joshfree I believe we should have some change (at least updating the baseline of the tool). I'll follow up with @AlexGhiondea to see if we can just close this issue and track it on TFS

[2016-05-25 01:10] joshfree commented on #8042
@leecow can you help @kapilash get this into the RTM release notes?

[2016-05-25 01:16] tarekgh commented on #6936
@AlexGhiondea do we need to update the tool baseline file?

[2016-05-25 01:17] AlexGhiondea commented on #6936
@tarekgh I can't remember if my change updates the baseline file. If it does not, then I will do that against this issue.

[2016-05-25 01:19] joshfree commented on #6936
Thanks.  @tarekgh and @AlexGhiondea

[2016-05-25 01:23] #8813 closed

[2016-05-25 01:32] ellismg opened #8836 "System.Diagnostics.StackTrace depends on 1.3.0 version of System.Reflection.Metadata"
When @nguerrera downversioned the System.Reflection.Metadata in the release branch, we did not update System.Diagnostics.StackTrace's project.json to compile against the old version.

Doing this is not straight forward as we depend on some surface area that was made internal, but we need to come up with a fix here before RTM.

[2016-05-25 03:17] AlexGhiondea commented on #6936
@joshfree @tarekgh -- it looks like we cannot yet remove the baseline file. The 2 APIs currently in the baseline were introduced in 4.6.3 and we don't yet have a targeting pack for 4.6.3. Once we have it, we can remove the baseline file.

[2016-05-25 04:53] Clockwork-Muse commented on #1683
yeah, that's an accident waiting to happen.  Or sabotage, maybe.
It would be better to have a single source for things, but I'm ignorant of the packaging strategies being used, so don't know end effects or what can be done.

[2016-05-25 05:03] sravan1022 opened #8839 "Unable to load DLL 'sni.dll'"
I have seen several threads and applied all the solutions but unable to resolve my issue. I am building a simple console application which uses SQL Client for connecting to a database and execute the query in VS 2015 and i am getting this error. I installed visual c++ also for VS 2015 but it didn't solve my issue. What else i can do to resolve this ?
P.S I am using .NET core 1.0.0. version

[2016-05-25 05:06] SamuelEnglard commented on #8719
@ianhays I do see your points. Agreed that it should be a separate issue though, will open one

[2016-05-25 05:24] ellismg opened #8841 "Stop pulling live CoreCLR"
We've been hitting issues left and right recently because some of our jobs pull live CoreCLR bits and that breaks us.  We've hit issues due to the mscorlib rename, changes that expose test issues, and the inability to get a consistent mscorlib/coreclr pair because of how we pull from jobs.

Windows, OSX and Ubuntu 14.04 consume CoreCLR from packages.  It's time that we do the same for the other di

[2016-05-25 05:26] ellismg commented on #8841
@stephentoub I know in the past you've been wary of this.  It feels like I've fixed multiple issues over the past few days that are root caused to us picking up live CoreCLRs.  It's even worse because this impacts every PR.

Thoughts?

[2016-05-25 06:22] tmds commented on #8768
I forgot about that. Have you thought of how you want to tackle this problem in general?

For the (long) time being.
I prefer option 4. If you pass multiple addresses and it throws an unabletoconnect exception, I'd assume it couldn't connect to any of them. If it can't connect to the first and the platform is unable to connect to another, platformnotsupported exception seems more fitting.

[2016-05-25 07:02] ellismg commented on #8815
The fix has landed in BuildTools.  I will update the tools we use tomorrow to pick it up.

[2016-05-25 07:41] #3480 closed

[2016-05-25 07:51] saurabh500 commented on #7874
@AndrewZakharkin There is no plan for such forwarders in .Net core.
The library authors will need to recompile the libraries against .Net Core.

[2016-05-25 07:51] #7874 closed

[2016-05-25 09:45] erikzhang opened #8843 "ECDsaCng doesn't work on Red Hat"
When I use ECDsaCng on Red Hat, it throws a PlatformNotSupportedException.

[2016-05-25 10:33] NickCraver commented on #8768
I'd still opt for option 3 here after this discussion. If we're not actually going to execute the input that was handed to the method, it should fail and indicate how to fix it on the platforms that don't support it. This results in immediate and actionable failure.

Option 4 is bad to me, because it's silently *not doing what I told it to*. When people go a look up the methods on MSDN, they won't

[2016-05-25 10:56] tmds commented on #8768
When I resolve "localhost" on my machine, it already gives me 2 addresses: 1 for IPv4 and 1 for IPv6. So option3 would fail to connect to localhost and option 4 wouldn't.

[2016-05-25 11:11] vcsjones commented on #8843
That's expected. *Cng classes only work on Windows. You likely want to use ECDsaOpenSsl depending on what you're trying to do.

[2016-05-25 11:28] NickCraver commented on #8768
@tmds Awesome - that's a good thing. It means we're failing early and changing calls early, not finding them later in deployment (which was one of the primary concerns). I'm not sure how common v6 will be on test VMs, though.

[2016-05-25 11:30] erikzhang commented on #8843
Is there anything such as ECDsa.Create() to create ECDsa in any platforms?
Otherwise I have to use conditional compilation, which is uncomfortable.

[2016-05-25 11:37] mgravell commented on #8768
I have to second Nick's thoughts with a preference to 3, but again with an improved message telling them *what they should be doing instead*, i.e. which "supported pattern" you want them to change their code to. This has the advantage of not biting anyone *unnecessarily*, while also never hiding *actual runtime problems* (i.e. by ignoring all-but-one address).

[2016-05-25 11:55] tmds commented on #8768
@NickCraver @mgravell if you like catching problems early. The current implementation tells you your code isn't xplat and you should use the single IPAddress Connect method.

Hostname to IPAddress resolution returns addresses in the order they should be tried. So trying the first will succeed in most cases.

It is not uncommon to resolve names to multiple addresses (IPv6 being a major reason).

Op

[2016-05-25 12:06] vcsjones commented on #8843
It looks like there will be eventually: https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECDsa.cs#L13

But currently it throws a NotImplementedException and is marked "todo". /cc @bartonjs

[2016-05-25 12:13] erikzhang commented on #8843
Great!
Another question, is there any way to import/export keys to/from ECDsaOpenSsl?

[2016-05-25 12:29] laskoviymishka commented on #8809
Guys, any information what happens here?

[2016-05-25 12:37] gdoron commented on #8453
@gkhanna79 @onovotny So there's no way a .Net core app could target both Full .Net Framework and Core CLR Framework?
Wasn't that the whole point behind the .NET core?

Am I missing something?
(I really need Full CLR support since there're many libraries that still don't support Core CLR)

Thanks

[2016-05-25 12:58] omariom opened #8844 "EqualityComparer<T>.Default, IEquatable<T> and boxing"
The implementation of [EqualityComparer<T>.Default](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/EqualityComparer.cs#L31) makes me think that calling innocent `ContainsKey` of `Dictionary` will produce garbage even for value types that designed to be good keys (override `GetHashCode`, `Equals` and implement `IEquatable<T>`),   because the defau

[2016-05-25 12:59] Dmitry-Me opened #8845 "System.Security.Cryptography.X509Certificates.X509Store inconsistent hardcoded string literal"
`System.Security.Cryptography.X509Certificates.X509Store` parameterless constructor goes like this:

       public X509Store() : this("MY", StoreLocation.CurrentUser) {}

and uses `MY` (ALLCAPS) as store name. There's another constructor that goes like this:

        public X509Store(StoreName storeName, StoreLocation storeLocation)
        {
            // WHATEVER
            switch (storeName)

[2016-05-25 13:14] stephentoub commented on #8841
This is my primary concern here.  While it's frustrating when we've had legs broken, many of those breaks have actually been real product issues, and it's much easier to root-cause them when you can narrow down the window to one or just a few commits within a particular and small time window.  If such breaks occurred at a time (like now) when we've not updated which coreclr package we use for a we

[2016-05-25 13:40] bartonjs commented on #8843
If you're looking at RC2, ECDSA is effectively only supported via X509Certificate2.GetECDsaPublicKey() and GetECDsaPrivateKey().

For RTM, ECC Import/Export was added last week; and the ECDsa.Create methods should be getting implementations today.

But, like @vcsjones said, the \*Cng types are Windows-only; so I'm going to close the issue (though feel free to keep asking questions on it).

[2016-05-25 13:40] #8843 closed

[2016-05-25 13:40] benaadams commented on #8844
Looks like the comment relates to a non-jit environment? https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/EqualityComparer.cs#L116-L119

[2016-05-25 13:45] gkhanna79 commented on #8453
@gdoron AssemblyLoadContext (within System.Runtime.Loader) is specific to CoreCLR as that is the only runtime that supports the defined semantics. To support this for Desktop, we are tracking that investigation via https://github.com/dotnet/corefx/issues/8526.

[2016-05-25 13:47] omariom commented on #8844
Yes, but it will influence non AOT environments.

[2016-05-25 13:52] gdoron commented on #8453
@gkhanna79 And its milestone isn't even 1.0.0 but "future".
How can people use ASP.NET core application while most libraries don't support as of yet Core CLR?

[2016-05-25 13:57] Tsabo commented on #8453
I would like to know the answer to @gdoron's question as well.

For me this is very important. I'm an access control developer and have to communicate with a lot of different hardware; alarm panels, video recorders, bio-metrics and many other integration's (the last time I counted was up to 93). Which provide their own SDK's, most just targeting .NET 2.0. The others are low level protocols that I

[2016-05-25 14:06] glatzert opened #8848 "LinQ GroupBy fails with TResult"
I have the following Linq Expression (after loading elements from the database):

[code]
Where `memberships` is a `List<Membership>` of *non null* `Membership` instances.
`Role` and `Membership` are simple classes.

Running that Linq will fail with a NullReferenceException in the inner `Count(m => m..)` Expression, since `m` is `null`.

We first thought, it would have to do with EF, which loads th

[2016-05-25 14:09] gkhanna79 commented on #8453
AssemblyLoadContext was only targeted for .NET Core for the initial release. Our goal is to figure out how to support it for the Desktop FX as well. However, since the load semantics (and design) for Desktop FX are considerably different from .NET Core, it will require some non-trivial amount of work to support the same. This is why the milestone is future as we intend to first investigate what it

[2016-05-25 14:14] stephentoub commented on #8844
The code you linked to is only used with .NET Native.  The ```EqualityComparer<T>``` implementation used with coreclr is in mscorlib in the coreclr repo.

[2016-05-25 14:18] #8845 closed

[2016-05-25 14:19] girish-a opened #8849 "Remove explicit version number requirement for project references"
Prior to rc2, we could refer to another project without specifying a version number. But now, it looks like the version number requirement is enforced. See the following StackOverflow link:

http://stackoverflow.com/questions/37438833/net-core-rc2-package-dependencies-are-not-resolved/37439188?noredirect=1#comment62381252_37439188

Wouldn't it be simpler to remove the version number requirement fo

[2016-05-25 14:25] omariom commented on #8844
Aha!

But does it mean to avoid boxing in   .NET Native we have to provide a type specific implementation of 'IEqialityComparer' to dictionaries?

[2016-05-25 14:36] glatzert commented on #8848
Here is the full Repro

[code]

[2016-05-25 15:17] nguerrera commented on #8836
Working on this. The MetadataReaderProvider API is really handy and scoped. I'll work to get it approved by FXDC and bump the version back to 1.3. This will also unblock some logistic problems with the change in version from 1.3 to 1.2.1.

cc @eerhardt

[2016-05-25 15:18] erikzhang commented on #8843
So the only thing I need to do is wait for RTM.
Thank you very much!

[2016-05-25 15:38] bartonjs commented on #8657
Drat.  Well, thanks for looking, @janvorli.

I don't suppose you have any tips for getting the repro under a debugger?  Right now I'm just telling lldb "run" over and over again, haven't caught it yet.

[2016-05-25 15:40] vcsjones commented on #8843
You could *probably* grab nightlies from the MyGet feeds once this is implemented if you're eager to try things out. That's my plan, at least.

[2016-05-25 16:00] joperezr commented on #8495
Moved to 1.1.0 given that we'll wait for the new tool-runtime to get this fixed.

[2016-05-25 16:02] NoneGiven commented on #8719
If only event listeners adhered to this common sense.

[2016-05-25 16:15] bartonjs commented on #8787
I'm hoping that this is a "we haven't produced the right packages / off by one" error; we'll hopefully find out today.

[2016-05-25 16:40] svick commented on #8453
@gdoron @Tsabo

ASP.NET Core (and project.json projects in general) runs just fine on .Net Framework. What you need to do is to specify e.g. `net461` as the framework (instead of `netcoreapp1.0`) and remove dependency on `Microsoft.NETCore.App`.

If you depend on libraries that won't be ported to `netstandard`, then you won't be able to use CoreCLR or CoreFX, even if this issue is fixed.

[2016-05-25 16:55] janvorli commented on #8657
This is what I do to repro it (it also includes enabling stress log that can be used to trouble shoot GC related issues and disables concurrent and server GC to make investigations of possible GC issues easier).
First, `cd` to the test folder:
`cd bin/tests/Unix.AnyCPU.Release/System.Security.Cryptography.X509Certificates.Tests/dnxcore50`
I would also recommend building coreclr for x64 checked and

[2016-05-25 16:56] steveharter commented on #5167
Note a certificate can contain either a curve name or explicit curve parameters – both should be supported.

[2016-05-25 17:43] mellinoe commented on #8849
You don't need to specify version. Just use:

[code]

[2016-05-25 17:51] joshfree commented on #8091
At a bare minimum we need to document this for 1.0
cc: @leecow

[2016-05-25 17:52] nguerrera commented on #8836
Fixed by #8850

[2016-05-25 17:52] #8836 closed

[2016-05-25 18:00] ellismg commented on #8836
Thanks for the quick turn around, Nick.

[2016-05-25 18:03] bartonjs commented on #8657
Thanks, Jan.  I forgot about just grabbing a coredump, and was only thinking about live capture.

[2016-05-25 18:09] niemyjski opened #8855 "Any reason System.Reflection.TypeExtensions can also target Profile151"
I see no reason why it can't profile 151 when it already targets a lot of similar profiles.

[2016-05-25 18:09] ianhays commented on #8719
# Proposal

The BitArray class in System.Collections should include BitWise right and left shift operations. BitArray is used to represent a collection of on\off values and currently contains And, Or, Xor, and Not operations. Adding RightShift and LeftShift would increase the usefulness of the class and provide a canonical, fast solution to save developers the hassle of coming up with their own.

[2016-05-25 18:15] DavidObando opened #8856 "SqlClient high memory consumption when there is disk IO saturation"
### Repro environment
  * Windows 10
  * LocalDb
  * [npm](https://nodejs.org/en/)
  * loadtest: `npm install -g loadtest`
  * dotnet 1.0.0-preview2-002823

### Scenario description
Stress test for ASP.NET and Entity Framework. The code is [here](https://github.com/aspnet/Performance/tree/dev/testapp/BasicApi). There's a server side and a client side to the test.
For the server side, execute the a

[2016-05-25 18:16] DavidObando commented on #8856
/cc @divega @rynowak @mnltejaswini @AndriySvyryd

[2016-05-25 18:22] joshfree opened #8857 "Regression threading.NamedMutex.test1 (from (empty))"
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_1.0.0/job/debug_centos7.1_prtest/11/testReport/junit/threading/NamedMutex/test1/

Stacktrace

MESSAGE:
'paltest_namedmutex_test1' failed at line 355. Expression: m != nullptr 'paltest_namedmutex_test1' failed at line 421. Expression: WriteHeaderInfo(BuildGlobalShmFilePath(name, NamePrefix), -1, 0, &fd) 'paltest_namedmutex_test1' failed a

[2016-05-25 18:23] joshfree commented on #8857
cc: @sergiy-k

[2016-05-25 18:24] rynowak commented on #8856
The most interesting part of this is that we're seeing really significant time spent in `ReadSniSyncOverAsync` inside a call to `DbTransaction.Commit` done by EntityFramework.

![temp](https://cloud.githubusercontent.com/assets/1430011/15551399/a55872e8-226a-11e6-9ef0-aeb9067e27e8.png)

CPU usage of process is very very low (~2% cpu) and the number of threads grows to 50-58.

Our suspicion is that

[2016-05-25 18:30] ericeil commented on #8768
It looks to me like Mono tries connecting to all addresses.  If an attempt fails, they destroy the underlying native socket and create a new one.  When an attempt succeeds, they keep the socket that was connected.

A disadvantage of this would be that any configuration that had been done on the original socket would be lost; Mono doesn't appear to make any attempt to, for example, remember socket

[2016-05-25 18:44] kouvel commented on #8857
The permissions on /tmp/.dotnet folder are incorrect. Probably it was created before the permissions issue was fixed in CoreFX. I have fixed it manually on this machine, but try to look at the image as well and see if there's an inherent issue there.

[2016-05-25 19:00] joshfree commented on #8857
Note that this is from the /coreclr/release/1.0.0 branch.

[2016-05-25 19:11] kouvel commented on #8857
This is a machine config issue with leftover invalid state from before. It should be fixed now, at least on that machine. Shouldn't matter which branch.

[2016-05-25 19:13] saurabh500 commented on #8839
@sravan1022 can you provide the stack trace?  Can I also see your project.json?

[2016-05-25 19:33] #8803 closed

[2016-05-25 20:05] ianhays commented on #5406
On Win32 we can mimic the WinRT behavior and toss the isostore base folder into AppData or whatever. On Unix we can put it into `~/.local/share`.

We would have to make some custom logic to mimic how WinRT creates directories on a per-application basis within the appdata folder. That'd be the only real work item though.

My only concern is that I don't get the impression that anyone really uses Is

[2016-05-25 20:25] tmds commented on #8768
@ericeil I'd like to keep the options and so would StackExchange.Redis: https://github.com/StackExchange/StackExchange.Redis/blob/master/StackExchange.Redis/StackExchange/Redis/SocketManager.cs#L178-L179

As for the discussion on whether to connect when there is exactly 1 address (option 3) or at least 1 address (option 4): in my real-world home network when I resolve "localhost", my pc's hostname

[2016-05-25 20:27] Priya91 opened #8860 "Update CI to use dotnet cli to build Ubuntu16.04"
This is a tracking bug, to ensure using dotnet cli packages once available. dotnet/cli#2957

cc @joshfree

[2016-05-25 20:39] #8801 closed

[2016-05-25 20:39] mmitche commented on #8801
Fixed by rollback to openJDK 7

[2016-05-25 20:42] niemyjski commented on #1784
+1

[2016-05-25 20:49] CarolEidt commented on #8825
It would be great to have a Connect bug filed for this (http://connect.microsoft.com/).
It is indeed AVX-related. The method triggers `Compiler::compQuirkForPPP()` which works around a bug that was not exposed by jit64.It requires a method that has exactly two locals (which includes compiler temps, which is what is created in this case - and if you uncomment the second static, you get another), on

[2016-05-25 21:01] ericstj commented on #8849
Closing this.  If you have further questions please re-open the issue in the dotnet/CLI repo.

[2016-05-25 21:01] #8849 closed

[2016-05-25 21:37] mellinoe commented on #7375
This has been fixed for a while, forgot to close it out.

[2016-05-25 21:37] #7375 closed

[2016-05-25 21:37] ramarag commented on #8754
This is a CLI issue closing this and opening as https://github.com/dotnet/cli/issues/3247

[2016-05-25 21:37] #8754 closed

[2016-05-25 21:47] kouvel commented on #8857
Looks like the image is fine, so it must have just been that the machine hadn't gotten reset yet. Please let me know if this happens again on other jobs, it's possible that there are more CI machines with this invalid state, I can fix them manually.

[2016-05-25 21:47] #8857 closed

[2016-05-25 21:47] Priya91 commented on #4466
The access denied error from the native call doesn't repro anymore. Could have been because of permissions linked to folders in test, and maybe this changed with netstandard folder structure change. Closing this.

[2016-05-25 21:47] #4466 closed

[2016-05-25 21:57] jhendrixMSFT opened #8864 "Improve reliability of official builds."
Official builds have been failing for the following reasons in order of severity.

1. Race in the build when building tests with one or more TargetGroups defined.
2. Missing retries when making Azure REST API calls.
3. Missing retries when downloading the CLI.

These fixes have been tested and made in master, we need to port them to the release/1.0.0 branch as they are the only known issues causin

[2016-05-25 22:23] jhendrixMSFT commented on #8864
Regarding #1, here is a description of the issue.

When we build tests spanning target groups we get a nested directory structure like this.

System.Globalization.Extensions.Tests\
                                     System.Globalization.Extensions.Tests.dll
                                     System.Globalization.Extensions.Tests.pdb
                                      Net46\

[2016-05-25 22:32] tarekgh commented on #7351
@joshfree I moved this to RTM milestone and I am going to send the request to the shiproom very soon.

[2016-05-25 22:45] #8360 closed

[2016-05-25 22:45] #8361 closed

[2016-05-25 22:52] bartonjs commented on #8657
Hmm, I've now had 2000 runs succeed without crashing on my machine.  I do have a single-core VM, so maybe there's some sort of parallel processing that isn't happening for me.

The second 1000 were with -maxthreads 4 on xunit to try to coerce some sort of parallel load into the equation.

[2016-05-25 22:58] ericstj opened #8866 "Environment.StackTrace throws BadImageFormatException"
From: https://github.com/dotnet/corefx/pull/8842

This appears to be a regression from the recent StackTrace/symbol work.

To repro clone the branch mentioned in above PR, and build the System.Net.Http.WinHttpHandler\tests\unittests directory with /t:BuildAndTest.

For now I'm disabling the code that is triggering this failure during test.  Please re-enable after StackTrace is fixed and the fixed

[2016-05-25 23:07] CIPop commented on #4968
@himadrisarkar @davidsh I tried this on Desktop and Core and found the following:

* Calling Socket.Connect works on both Desktop and CoreFX
* Calling the APM or TPL implementations works only on Desktop
* Calling `ConnectAsync(SocketEventArgs)` fails on both Desktop and CoreFX

The reason, as @stephentoub already found is that all async implementations on CoreFX call ConnectEx.
Winsock [ConnectEx

[2016-05-25 23:14] jhendrixMSFT commented on #8864
This was resolve in https://github.com/dotnet/corefx/pull/8863.

[2016-05-25 23:14] #8864 closed

[2016-05-25 23:15] ericstj opened #8867 "Test with NETCoreApp1.0 instead of DNXCore50"
We have many packages which now have implementations targeting netstandard1.6.  These will never be picked up when resolving with DNXCore50 since DNXCore50 is deprecated and never got the compat mapping for netstandard1.6.  We've been hacking around this for a while, but the number of packages requiring the hack has reached critical mass and we need to stop hacking and make the switch.

[2016-05-25 23:35] joshfree opened #8868 "Regression System.Net.Sockets.Tests.DualMode.SendToV4IPEndPointToV6Host_NotReceived (from (empty))"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/osx_release_prtest/24/testReport/junit/System.Net.Sockets.Tests/DualMode/SendToV4IPEndPointToV6Host_NotReceived/

Stacktrace

MESSAGE:
Assert.Throws() Failure\nExpected: typeof(System.TimeoutException)\nActual: typeof(System.Net.Sockets.SocketException): Connection refused
+++++++++++++++++++
STACK TRACE:
at System.Net.Sockets.S

[2016-05-25 23:44] ericeil commented on #8868
Duplicate of #8636.

[2016-05-25 23:44] #8868 closed

[2016-05-25 23:45] ericeil commented on #8636
We hit this again:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/osx_release_prtest/24/testReport/junit/System.Net.Sockets.Tests/DualMode/SendToV4IPEndPointToV6Host_NotReceived/

Stacktrace

MESSAGE:
Assert.Throws() Failure\nExpected: typeof(System.TimeoutException)\nActual: typeof(System.Net.Sockets.SocketException): Connection refused
+++++++++++++++++++
STACK TRACE:
at

[2016-05-25 23:46] joshfree commented on #6767
@terlochan any update since March?

[2016-05-25 23:47] janvorli commented on #8657
I was running it on my 16 processor native box with Ubuntu and with release version of the runtime, it reproduces in several hundreds of runs. So I guess the parallelism plays a role here.

[2016-05-26 00:12] joshfree opened #8869 "Regression - 10 CharTests failures in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_tst/490/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

16:33:59    System.Tests.CharTests.IsNumber_String_Int [FAIL]
16:33:59       Assert.False() Failure
16:33:59       Expected: False
16:33:59       Actual:   True
16:33:59       Stack Trace:
16:34:00             at System.Tests.CharTests.IsNumber_Strin

[2016-05-26 00:13] joshfree commented on #8869
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/debian8.2_debug_tst/482/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

Appears to be all distros.

[2016-05-26 01:03] tarekgh commented on #8869
this should be fixed by https://github.com/dotnet/corefx/pull/8873

[2016-05-26 01:03] #8869 closed

[2016-05-26 01:06] Priya91 commented on #8787
@bartonjs Bringing this to rtm, same failures happening in release builds..

[2016-05-26 01:11] Priya91 commented on #8787
The failures are happening only in release build, not in debug.. Investigating.

[2016-05-26 02:56] davidsh commented on #4968
Agreed

We should fix for CoreFx.  We can consider for Desktop after we review app-compat.

[2016-05-26 03:03] bartonjs commented on #8712
@hsorbo I don't suppose you have a static repro?  I'm not sure how to go about making use of any of the stuff from IdentityModel, so it'd help speed things up if I could jump straight into figuring out the failure.

[2016-05-26 03:27] stephentoub opened #8877 "SendToAsyncV4IPEndPointToDualHost_Success timeout on OSX in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/1605/consoleText
[code]

[2016-05-26 05:41] sravan1022 commented on #8839
@saurabh500 I just thought that it may be missing the sni.dll so i copied it to the bin folder of the project and the error changed to "An attempt was made to load a program with incorrect format". Is it because i am using windows 7 ?

[2016-05-26 07:21] fubar-coder commented on #8165
I just want to be sure: I can ensure that the HttpClient uses my own client certificate - even when Windows thinks that it's invalid when I use `ServerCertificateCustomValidationCallback`? This property suggests, that it's only for the server certificate validation?

The current behavior is, that when I use a self-signed client certificate, which Windows thinks it's invalid, then it doesn't get us

[2016-05-26 07:55] hughbe opened #8880 "Code coverage broken recently"
Code coverage doesn't seem to be working anymore (I think after dnxcore50 -> netcoreapp1.0).

## Steps to reproduce
- Clone the repo
- Initialize build tools
- Navigate to a test project (e.g. System.Collections.NonGeneric)
- Run `msbuild /T:BuildAndTest /P:Coverage=true`

## Expected
- ~100% code coverage

## Actual
- 0% code coverage reported
![untitled](https://cloud.githubusercontent.com/asset

[2016-05-26 08:11] sandersaares commented on #4278
I can attest that this (and also the slightly related XML Encryption) is relevant for us. The existing form in .NET Framework would be just fine - no need for innovation here, from my perspective. Copy & paste implementation would be very welcome!

Is there currently any workaround available?

[2016-05-26 08:57] rahulkotecha commented on #6767
@joshfree, The fix for this is in third party linux packages (kerb5-libs and gssntlmssp). We've been working with RedHat engineer for this and expected to get the details of the fix this week.

[2016-05-26 09:15] Clockwork-Muse commented on #1683
@ianhays - Actually, they've already drifted:
[coreclr](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/BitArray.cs#L390):
[code]
[corefx](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/BitArray.cs#L422):
[code]
Tests pass against mscorlib, and not the corefx implementation, of course, which is going to cause confusion t

[2016-05-26 10:46] JonHanna commented on #8848
It's actually that `ApplyResultSelector()` was bypassed and the optimised `ToList()` that bypassed it didn't trim extraneous elements as `ApplyResultSelector()` does.

If you need a workaround before the fix is applied, use:

[code]

That of course won't work with anonymous types, though a helper method that provides an the same effect can be used.

[2016-05-26 10:46] JonHanna commented on #8848
@joshfree strictly this should be under System.Linq rather than System.Linq.Expressions.

[2016-05-26 12:33] silverferrum opened #8882 "buildOptions/copyToOutput do not copies folders by relative path"
Please remove. My mistake.

[2016-05-26 12:47] sravan1022 commented on #8839
@saurabh500 I tried the same code using windows 10 and guess what, it worked perfectly. Now the connection is successful. So with windows 7, 32-bit sni.dll "The error is An attempt was made to load a program with incorrect format" whereas with 64-bit sni.dll "The error is Unable to load sni.dll".
Now with windows 10,32-bit sni.dll "The error is An attempt was made to load a program with incorrect

[2016-05-26 14:28] Kaithos commented on #8810
@JeremyKuhne This has been a problem in .NET since before .NET Core. The maximum length a path can be is dependent on how it is accessed. In Windows Explorer, you can make use of the full ~32000 character limit, but not through the APIs that .NET uses.

https://msdn.microsoft.com/en-us/library/aa365247(VS.85).aspx#maxpath

[2016-05-26 14:54] joshfree commented on #8882
Done.

[2016-05-26 14:54] #8882 closed

[2016-05-26 15:00] adamt06 commented on #1973
The [immutable collections package](https://www.nuget.org/packages/Microsoft.Bcl.Immutable) has been unlisted from nuget while still beta.
I think this is a pretty common use case and should be handled in standard libs.

[2016-05-26 15:28] niemyjski commented on #4741
+1 I really need this.

[2016-05-26 16:11] dazinator commented on #8810
@JeremyKuhne - ok so I think you are saying this is fexed on .net core, but as I am targeting desktop so i won;t see this fix. Do you know if this fix will also go into full / desktop .net framework or whether these is an apporpriate place to raise an issue for that?  It looks like you guys fixed it here (my guess): https://github.com/dotnet/corefx/pull/3001

[2016-05-26 16:20] #8867 closed

[2016-05-26 16:41] ericstj commented on #8855
I believe at least some version of the surface area can. We used to have a version that was building for Win8/WinPhone8.

[2016-05-26 16:44] ericstj commented on #8855
/cc @nguerrera

[2016-05-26 17:40] bartonjs commented on #8787
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_osx_release/50/ passed, which was after we had the new package baselines.

So some part of OuterLoop (release only, by the description of things) is causing it to run with the old native binary but the new managed binary.   Since you were looking into the infrastructure piece of the puzzle I'm sending this back to you, @Priya

[2016-05-26 17:57] ericstj commented on #8828
Thanks for a good write up of this situation.

NuGet selects each asset group independently.  So it chooses the best dependency group, the best ref, the best lib, etc.  You would have had the same problem before if you had dependencies specific to your PCL library (since that PCL moniker would have also applied to desktop).

@joelverhagen / @emgarten / @davidfowl what are the precedence rules for

[2016-05-26 18:02] ericstj commented on #8822
Looks like NuGet+packages.config isn't happy about seeing a package with only a runtime.json.  I suspect if you switched your net461 project to use project.json it would fix this.

We'll need to add a dummy directory to the package to make NuGet+packages.config happy with this.

[2016-05-26 18:03] ericstj commented on #8758
Ping.  Please let me know.

[2016-05-26 18:03] #8848 closed

[2016-05-26 18:12] stephentoub commented on #8768
Seems like it could end up being super expensive, especially when needing to support methods like ```public void SetSocketOption(SocketOptionLevel optionLevel, SocketOptionName optionName, byte[] optionValue)```, as we'd need to copy the byte array just in case it was modified after this call and just in case multiple addresses might be used.

How about a compromise between options 3 and 6:
7.We c

[2016-05-26 18:30] tmds opened #8890 "Parsing /etc/resolv.conf throws exception when iterating network interfaces"
The default generated /etc/resolve.conf for a docker container causes enumeration of network interfaces to throw because the file does not end with a newline.

[code]

stacktrace

[code]
/cc @mellinoe

[2016-05-26 18:49] JeremyKuhne commented on #8810
@dazinator

Without seeing your path I'm going to assume it is too long (e.g. over `MAX_PATH` (260) or the directory is over 248). I initially assumed that you hit >= 260 on Core because you opened the issue here. If it is < 260 we've got an issue we need to follow up on.

@Kaithos, @dazinator

We're working towards getting the limits down in the desktop framework. In the upcoming 4.6.2 you'll be

[2016-05-26 18:50] YoungGah commented on #8856
We will investigate the issue but meantime, we will move it to 1.1.0.

[2016-05-26 18:54] YoungGah commented on #8701
@natemcmaster, so far our investigation revealed that we have decreased scalability going through connection pool on Linux. We will continue to investigate, but meantime, I recommend you to use OpenAsync rather than trying to do sync open on 50 tasks. OpenAsync will give the best scalability.

[2016-05-26 19:02] mellinoe commented on #8890
Thanks for the bug report, @tmds. I should have a fix for this shortly. We're simply not handling that case right now:

https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/Common/src/System/IO/RowConfigReader.cs#L85

[2016-05-26 19:10] tmds commented on #8768
Option 7 is the best solution given the constraints of the problem.

In order of increasing probability of connect succeeding:
Option 2 > Option 3 > Option 4&5 > Option 6&7

We should aim for 4&5 as a minimum as occurrence of multiple addresses is high.

Note if you want some more info on the order of addresses returned when resolving a name, see [man getaddrinfo](http://man7.org/linux/man-pages/m

[2016-05-26 19:24] davidsh commented on #8496
Moving post RTM.

[2016-05-26 19:25] davidsh commented on #8426
Moving post RTM.

[2016-05-26 19:25] davidsh commented on #8061
Moving post RTM.

[2016-05-26 19:25] davidsh commented on #8663
Moving post RTM.

[2016-05-26 19:48] mellinoe commented on #8890
Should be fixed by https://github.com/dotnet/corefx/pull/8891

[2016-05-26 19:49] tmds commented on #8890
A bit lower in the code there is also the case where no space/tab is found. It looks like the whole file is returned then.
Instead it should ignore the line and try to parse the next.

[2016-05-26 20:16] tmds commented on #8890
Looking at the code a bit more, it looks like the key is matched anywhere in the file. If the line is commented out or the key is part of a larger string it will also be matched.

The resolv.conf format is well described in [man resolv.conf](http://man7.org/linux/man-pages/man5/resolv.conf.5.html).

[2016-05-26 20:22] ianhays commented on #1683
@weshaggard is there a plan in place to deal with code drift between the sources in mscorlib that live in coreclr for the netstandard build and corefx for the netcore50 build?

[2016-05-26 20:23] tmds commented on #8890
@mellinoe I am happy the code no longer throws, let me know what you still want to tackle as part of this issue.

[2016-05-26 20:43] #8810 closed

[2016-05-26 21:22] ericeil commented on #8768
With Option 7, wouldn't the StackExchange code still get PlatformNotSupportedException (since it configures the socket prior to calling Connect)?

[2016-05-26 21:44] eerhardt commented on #8755
The latest version of `Microsoft.NETCore.App` is on Roslyn as of https://github.com/dotnet/core-setup/pull/12.

CLI is almost on it.  See https://github.com/dotnet/cli/pull/3260.

Once #3260 is merged, I'll close this issue.

[2016-05-26 21:55] stephentoub commented on #8768
Yes, unless the properties it configures are ones we choose to special-case.

[2016-05-26 22:03] #8315 closed

[2016-05-26 22:53] jhudsoncedaron opened #8895 "System.IO.Stream missing Close()"
So normally you would think Dispose() does the same job including writing out the file to disk.

It turns out there is one extra case. Space for the file is not guaranteed to have been allocated until calling close() or CloseHandle() and may not in fact exist. This means that writing a file swallows knowledge of certain errors that should be thrown.

Close() must throw to catch write errors
Dispos

[2016-05-26 23:06] mellinoe commented on #8890
I fixed the other issues, except for this one:

Instead it should ignore the line and try to parse the next.

Are you referring to a situation like this?

[code]

I'm inclined to just bail out on strings like that. They don't seem to be valid resolv.conf files based on the description. The revised version of the code will just return `false` from TryGetNextValue.

[2016-05-26 23:11] eerhardt commented on #8755
https://github.com/dotnet/cli/pull/3260 is now merged.  This issue can be closed.

[2016-05-26 23:11] #8755 closed

[2016-05-26 23:11] mellinoe commented on #8890
Another thing I noticed: Some examples for `/etc/resolv.conf` contain comments at the end of lines, after a key-value pair, like this:

[code]

 I don't think this is allowed according to the man page, so I'm not handling that right now.

[2016-05-26 23:12] eerhardt commented on #8755
CLI is now on Roslyn `1.3.0-beta1-20160525-03`

[2016-05-26 23:25] gkhanna79 opened #8896 "Enable overriding assemblies from TPA"
CoreFX issue to track corresponding CoreCLR issue at https://github.com/dotnet/coreclr/pull/5144

[2016-05-26 23:31] #8787 closed

[2016-05-26 23:39] weshaggard commented on #1683
Yes it is unfortunate that we have various forks of the source code that need to be kept in-sync. As much as possible we try to have the source-of-truth be in corefx but for some of the lower libraries there is definitely duplication that needs to be maintained. As you can imagine maintaining them can also be very difficult, especially given various set of requirements for each of the forks (i.e.

[2016-05-26 23:39] #1683 closed

[2016-05-26 23:46] mikem8361 commented on #8866
The PR for this fix is in coreclr: https://github.com/dotnet/coreclr/pull/5265

[2016-05-26 23:48] bartonjs commented on #8657
Hmm, I've bumped the VM up to 4, and then 8 processors and still have had several thousand successful runs with 0 failures.

[code]

@janvorli, if you still have a coredump and the associated collateral, can you pack it up and give me access so I can try from my end to see what's happening?  (I'm currently using a debug build off of 5cb2d1f8596ffeabe3c77a561b216dbd7c17f138, from the release/1.0.0

[2016-05-26 23:54] ellismg opened #8899 "Enable ApiCompat on Linux"
I am disabling this because it is broken presently and the breaks will cause problems when MSBuild actually starts to catch them.

We need to fix up the problems (there are some file casing issues that need to be tracked down).

[2016-05-27 00:42] gkhanna79 commented on #8841
I concur with this.

[2016-05-27 00:44] gkhanna79 commented on #8841
We should also have a way to make a CoreFX build target a private CoreCLR build on a dev box (assumption is that dev can build the master of CoreFX and point it to their private CoreCLR binaries). This will help identify issues even before CI is hit.

[2016-05-27 00:45] svick commented on #8895
I don't see what you're describing in reference source:

* [`Stream.Dispose()` is not `virtual` and calls `Close()`](http://referencesource.microsoft.com/#mscorlib/system/io/stream.cs,f1b4285950a82354)
* [`Stream.Close()` is `virtual` and calls `Dispose(true)`](http://referencesource.microsoft.com/#mscorlib/system/io/stream.cs,dc4ffe046b847b84)
* [`Stream.Dispose(bool)` is `virtual` and empty](htt

[2016-05-27 01:04] joshfree commented on #8825
@CarolEidt here's a connect bug for .NET 4.6 @ https://connect.microsoft.com/VisualStudio/feedback/details/2751596

[2016-05-27 01:26] ellismg commented on #8841
Once https://github.com/dotnet/buildtools/pull/753 is merged and we update our builds tools we will support this again.

[2016-05-27 01:36] joshfree commented on #8487
This is in release/1.0.0 with https://github.com/dotnet/corefx/pull/8885

[2016-05-27 01:36] #8487 closed

[2016-05-27 03:18] zhenlan opened #8901 "Reduce ETW events impact on WCF perf"
@vancem is currently looking into a fix of an ETW issue that has an impact of 2~3 times on the throughput of WCF. The fix is tracked for RTM release.

[2016-05-27 05:52] gkhanna79 commented on #8896
Closing since PR is merged.

[2016-05-27 05:52] #8896 closed

[2016-05-27 07:27] tmds commented on #8890
The code calling TryGetNextValue will call it until it returns false. If it returns false on an invalid row, valid rows below it will no longer be read. Since this is a reader for row configs each row should get a fair chance.

[2016-05-27 07:41] Angelixion opened #8907 "How to get all keys in resourceManager?"
Before i could do something like this
`var result = resourceManager.GetResourceSet(CultureInfo.CurrentUICulture, true, true);`

but now i cant find a way to get all keys in ResourceManager in RC2,

Thank you for your help.

[2016-05-27 07:54] jyoungyun opened #8908 "Improve the CoreFX test runner"
Print out the detail information about discovered, passed or failed test case counts.
And catch a ctrl-c event and stop the execution and print the results.

I will post PR soon.

[2016-05-27 09:22] Tasteful opened #8910 "Question: Is there any way to get all types from all loaded assemblies?"
Hi.

In our solution we are during startup scanning all loaded assemblies (AppDomain.CurrentDomain.GetAssemblies()) and fetching all types and depend on custom attributes register the classes in different factories and/or ServiceProvider. When I tried to use netstandard as TFM I didn't find a way to get the assembly. I was trying with the DependencyContext that I found in some other issue that was

[2016-05-27 11:32] tmds opened #8912 "Console.ReadKey returns escape sequence instead of expected key on Ubuntu 14.04"
Code snippit:
[code]
Pressing the right and left arrow outputs:
[code]
Expected output:
[code]

[2016-05-27 12:48] Angelixion opened #8913 "FileExtensionsAttribute always says invalid"
Hello, i have a property that the model always says is invalid, i have tried to not put any extensions only with `[FileExtensions]` but doesnt work,  only works if i dont put the attribute, what i have is this.

[code]

[2016-05-27 13:40] stephentoub commented on #8901
Can you provide more details on the issue?

[2016-05-27 14:20] stephentoub commented on #8912
What terminal are you using?  What's the value of the TERM environment variable? etc.

Your repro works fine for me.  Most likely the issue is that you have a mismatch between the terminal being used, what's set as the TERM environment variable, and thus what terminfo file is being used, with sequences defined that don't match the sequences being sent.  Or something like that.

[2016-05-27 14:35] stephentoub opened #8916 "WaitForChangedTests.Changed_Success failed on Unix in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/1619/consoleText
[code]

[2016-05-27 15:05] jhudsoncedaron commented on #8895
Unfortunately this means only I've turned up an old design flat in .NET long before .NET Core. Which of the two states do you suppose we're in, the one where Dispose() throws on IO Error or the one where Close() doesn't?

[2016-05-27 15:08] tmds commented on #8912
I've started the 'Terminal' app in my desktop environment which has:
[code]

[2016-05-27 15:09] jchannon opened #8917 "RC2 netstandard1.5 'Object' is defined in an assembly that is not referenced."
I have a class library on `netstandard1.5`, my `project.json` is below.  When running `dotnet build` I get errors like:

[code]

In RC1 packages I could reference `System.Runtime` and this would be fixed. However now RC2 and I reference `NETStandard.Library` that package is included.

I am completely stumped as to why I get these errors.

**project.json**
[code]

[2016-05-27 15:40] stephentoub commented on #8912
What do you see if you type ```sed -n l```, then right arrow and left arrow, and then enter?

And what is the output from ```infocmp xterm```?

[2016-05-27 15:41] stephentoub commented on #8912
Also, did you do any special configuration of your terminal, above what comes in a default Ubuntu 14.04 install?  Did you modify your startup scripts at all? Etc.

[2016-05-27 15:42] jhudsoncedaron commented on #8895
I think I found the code in coreclr/safehandle.cpp; I'm not sure but I think it asserts on close() raising EIO, which in turn causes ReleaseHandle() to return false.

    CLR_BOOL fReleaseHandle = FALSE;

    DECLARE_ARGHOLDER_ARRAY(args, 1);
    args[ARGNUM_0] = OBJECTREF_TO_ARGHOLDER(sh);

    PREPARE_SIMPLE_VIRTUAL_CALLSITE_USING_SLOT(s_ReleaseHandleMethodSlot, sh);

    CRITICAL_CALLSITE;

[2016-05-27 16:20] jchannon commented on #8917
I've tried to isolate but I just can't replicate it. The project references are simply libs with classes like below in them, no logic or dependencies
[code]

[2016-05-27 17:09] tmds commented on #8912
I just created a new user on my machine and the behavior is exactly the same in that account.

sed -n l output
[code]

infocmp xterm output
[code]

[2016-05-27 17:18] tmds commented on #8912
I've just tested the behavior on a Debian 8 machine, it doesn't work either.

[2016-05-27 17:21] stephentoub commented on #8912
What build are you using?  How are you building / running the repro?  I'm unable to repro the behavior you're seeing.  @ianhays, are you?  @ellismg?

[2016-05-27 17:28] tmds commented on #8912
project.json
[code]
Program.cs
[code]
NuGet Config files used:
    /home/tmds/.nuget/NuGet/NuGet.Config
[code]
dotnet --version
[code]

[2016-05-27 17:29] ellismg commented on #8912
Also, what is $LANG set to?

[2016-05-27 17:34] ianhays commented on #8912
This reproes for me.

[2016-05-27 17:34] ianhays commented on #8912
$ echo $LANG
en_US.UTF-8

[2016-05-27 17:45] joperezr commented on #8386
Thanks for fixing this @ellismg :smile:

[2016-05-27 17:51] BrennanConroy opened #8920 "Add mono detection to RuntimeInformation"
Currently the RuntimeInformation class has a FrameworkDescription which will display `.NET Framework 4.0.0.0` on Mono. There should be a different value for Mono so that is easier to tell if you are running on Mono

[2016-05-27 18:02] ianhays commented on #8912
This appears to be an issue in the CLI runner in version 1.0.0-preview1-002702.

Running the dll produced by the CLI on corerun functions as expected:
[code]

[2016-05-27 18:03] stephentoub commented on #8912
Thanks, @ianhays. Yeah, this is why I asked how it was being built / run.  I expect it has to do with how "dotnet run" is scheduling the process in that particular build.  Note that I'm not able to repro using either corerun or a more recent "preview2" CLI build.

[2016-05-27 18:27] tmds commented on #8912
How does the cli affect the key readout? Is this a known issue which was fixed in the cli?

[2016-05-27 18:32] stephentoub commented on #8912
Understanding how to interpret keys is impacted by the environment, by environment variables, by redirection, etc.  "dotnet run" runs another process that then invokes the app that got compiled.  There are a variety of ways that shelling out to another process could impact the environment as seen by the running app.

If you try a newer CLI and find this issue fixed with "dotnet run", I expect it w

[2016-05-27 19:25] pauldotknopf commented on #8809
Seriously? 1.1.0? There are HUGE performance issues here.

[2016-05-27 19:30] niemyjski opened #8924 "IsolatedStorageFileStream no longer derives from FileStream..."
The base implementation was changed and the class name wasn't updated.

https://github.com/dotnet/corefx/blob/master/src/System.IO.IsolatedStorage/src/System/IO/IsolatedStorage/IsolatedStorageFileStream.cs

[2016-05-27 19:32] pauldotknopf commented on #8809
Update, there was a bug in @laskoviymishka's demo repository. Replace ```Milliseconds``` with ```TotalMilliseconds```. Otherwise, you only see the milliseconds within the current second.

Here is the new output, which _clearly_ illustrates a **HUGE** issue with .NET Core.

```ConsoleApp1``` output:

[code]

```ConsoleApplication1``` output:

[code]

**THIS IS A HUGE ISSUE** - 20 seconds vs 1 secon

[2016-05-27 19:38] laskoviymishka commented on #8809
@pauldotknopf good catch, I'll fix it

[2016-05-27 19:45] laskoviymishka commented on #8809
I think root issue with incorrect refactored HTTP Client for async/await.
_https://github.com/dotnet/corefx/commit/3860eab0d26527b0e5b931ef4084d40f2886ccc7_ this check-in, but i don't know what exact goes wrong. So may be @stephentoub can clarify what goes wrong?

[2016-05-27 19:59] stephentoub commented on #8809
Why? What do you believe is incorrect?

[2016-05-27 19:59] pauldotknopf commented on #8809
@laskoviymishka, I updated the ```ConsoleApp1``` .NET Core app to use ```HttpWebRequest```, and I am getting similar numbers.

[code]
Here is the new output from ```ConsoleApp1```.

[code]

I think the issue is deeper.

[2016-05-27 20:01] laskoviymishka commented on #8809
@stephentoub i just tried to check what changed between rc1 and rc2 version of http client, and this one was biggest change. I not really understand what exactly goes wrong :cry:, but this issue is really annoying.

[2016-05-27 20:03] tmds commented on #8912
Strange enough if I set TERM to linux it works.
I'll close the issue and re-open in case it isn't fixed when I switch to preview2.
Thanks for the quick follow-up.

[2016-05-27 20:03] #8912 closed

[2016-05-27 20:03] stephentoub opened #8926 "System.Net.Http.Functional.Tests randomly hanging on Windows in CI"
e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1753/consoleText

[2016-05-27 20:03] laskoviymishka commented on #8809
@pauldotknopf can you trace each line? What exact line take this 1000 ms?

[2016-05-27 20:05] ericstj commented on #8917
One of your packages is bringing in an mscorlib-based PCL (likely due to your use of `"imports":"portable-net45+win8+wp8+wpa81"`) .  To resolve that you need to reference "Microsoft.NETCore.Portable.Compatibility": "1.0.1-rc2-24027".  This package enables compat with mscorlib-based PCLs.

[2016-05-27 20:05] pauldotknopf commented on #8809
```GetResponseAsync``` is the culprit.

[2016-05-27 20:07] ericstj opened #8927 "NETStandard.Library should be versioned 1.6"
Previous: https://github.com/dotnet/corefx/issues/5216

We now have API included in NETStandard.Library that has netstandard1.6
specific surface area so we should bump the version of the package to
1.6:
- System.AppContext
- System.Security.Cryptography.Algorithms

[2016-05-27 20:07] stephentoub opened #8928 "GetAsync_AllowedSSLVersion_Succeeds failure on Windows in CI"
"The handle is invalid"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1778/consoleText
[code]

[2016-05-27 20:14] laskoviymishka commented on #8809
@pauldotknopf well this method made `Task.Run` for `WebRequest.BeginGetResponse`. It will be difficult to check what goes wrong here

[2016-05-27 20:31] benaadams opened #8931 "Obsolete Task<T>.Result, Introduce Task<T>.TryGetResult"
Related https://github.com/dotnet/corefx/pull/8902 "Remove "Result" property of ValueTask<T>"
- `Task<T>.Result` has can have implicit blocking. If you invoke an async method in a UI app, and try to fetch the .Result of the returned task before it is completed, you’ll get a deadlock.
- `.GetAwaiter().GetResult()` will force a blocking value return if required
- An expected test to see if the resul

[2016-05-27 20:33] stephentoub commented on #8809
Have you tried changing the sample to reuse the same HttpClient instance across all requests, rather than creating and destroying a new one for each use?

[2016-05-27 20:37] jchannon commented on #8917
Thanks that package did it, after speaking to @davidfowl we highlighted it was `FubarCoder.RestSharp.Portable.HttpClient` and the `imports` bring in the BCL.

[2016-05-27 20:37] #8917 closed

[2016-05-27 20:38] stephentoub commented on #8809
All of the time is being spent in HttpClient.Dispose.  If you change the repro to use the same HttpClient instance for all calls, it's super fast again, and if you change your repro to be like this:
[code]
you can see that basically all of the time is spent in HttpClient.Dispose:
[code]

[2016-05-27 20:45] laskoviymishka commented on #8809
@stephentoub great, thank you!
But why this behaivior changed from rc1? Does this change documented anywhere?

[2016-05-27 20:49] bartonjs commented on #8783
I think we've solved this for RTM (#8865), which even included Stephen's comment about the other char\*.  So I'm changing the milestone to 1.1.0, assuming this is still open to track that the fix was different in master (one char\*, one IntPtr) and RTM (two IntPtr).

[2016-05-27 20:50] #8386 closed

[2016-05-27 20:50] #8495 closed

[2016-05-27 20:50] #8815 closed

[2016-05-27 20:51] bartonjs commented on #8657
8-proc overnight 10,000 runs, no errors.

[2016-05-27 20:53] janvorli commented on #8657
I'll try to sync to the latest sources and re-test on Monday.

[2016-05-27 20:56] stephentoub commented on #8809
I don't know.  I was simply narrowing down where the cost was coming from (and highlighting that it wasn't my change :wink:).  @davidsh would need to comment.

[2016-05-27 21:04] laskoviymishka commented on #8809
@stephentoub sorry for this dirty trick to get you involved :sweat:, i just saw that you was last who made major change into probably root cause. Thx for really fast reply!

[2016-05-27 21:12] ericeil commented on #8768
It sounds like option 7 is not tenable for v1.0.  Without adding some state to track at least some of the options set on a socket, it's not going to solve the problem.  If we add state to track options, we are going to have to live with that extra overhead forever, even after we add static Connect methods to handle this properly.  And, it's not clear to me that we could pick a suitable subset of a

[2016-05-27 21:12] davidsh commented on #8928
FYI: I'll be opening a new issue to track all of my "Handle Invalid" issues.  They have single root cause.

[2016-05-27 21:22] joshfree commented on #7114
What's the timeline for this?

[2016-05-27 21:26] onovotny commented on #7180
One update to the above list - in light of https://blogs.msdn.microsoft.com/dotnet/2016/05/27/making-it-easier-to-port-to-net-core/, `System.Threading.ThreadPool` needs to come back to UWP / .NET Native. Lots of existing code uses it instead of Tasks.

[2016-05-27 21:30] ericeil commented on #4002
I think the answer is that ```::ffff:127.0.0.1``` is a v6 address that maps to the *v4* loopback address, and so it not technically a *v6* loopback address.  It doesn't route to a v6 endpoint.

[2016-05-27 21:31] joshfree commented on #8758
Point it to https://dot.net/

[2016-05-27 21:39] stephentoub commented on #8809
I had a feeling I was being baited :wink:

[2016-05-27 21:45] ericeil commented on #8727
From the Linux ["unix (7)" man page](http://man7.org/linux/man-pages/man7/unix.7.html):

          pathname socket) by the fact that sun_path[0] is a null byte
          ('\0').  The socket's address in this namespace is given by the
          additional bytes in sun_path that are covered by the specified
          length of the address structure.  (Null bytes in the name have no
          special

[2016-05-27 21:45] #8727 closed

[2016-05-27 21:49] stephentoub commented on #8926
Again:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1777/consoleText

[2016-05-27 21:52] joperezr commented on #8369
It did repro on my box. I guess we need to add the requirement of msbuild 12.0 to be installed to the md file.

[2016-05-27 21:53] ianhays commented on #8924
Looks like @dsgouda ported this; any particular reason we dropped the FileStream inheritance?

[2016-05-27 22:05] Mike-EEE commented on #5766
Sooooooo... does this mean that  System.Xaml is finally going to join the party??? :smile: :smile: :smile:
https://blogs.msdn.microsoft.com/dotnet/2016/05/27/making-it-easier-to-port-to-net-core/

[2016-05-27 22:47] ericstj commented on #7114
I don't think we're going to do it.  It risks breaking folks that have built against earlier package versions and its really just a cleanup fix.

I'll remove the AssemblyVersionTransition property from the dev branch and add a comment about why the impl doesn't match ref.

[2016-05-27 23:01] #8927 closed

[2016-05-27 23:25] #8822 closed

[2016-05-28 00:05] ramarag commented on #8907
There is no single API that does this. Can you please elaborate your scenario so that we can think about adding a enumeration API.

For the time being you could look at using ResourceReader, a StreamingResourceManager example can be found in https://gist.github.com/ramarag/6e6f58a210dd00745582#file-streambasedresourcemanager-L34

[2016-05-28 00:22] #5875 closed

[2016-05-28 00:29] tarekgh commented on #7351
This is fixed by the linked PR's

[2016-05-28 00:29] #7351 closed

[2016-05-28 00:30] tarekgh commented on #5645
This is fixed by the linked PR's

[2016-05-28 00:30] #5645 closed

[2016-05-28 01:45] stephentoub commented on #5185
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/windows_nt_release_prtest/44/consoleText

[2016-05-28 02:14] stephentoub commented on #8423
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/rhel7.2_release_tst/497/consoleText

Sorry, Jeremy :)

[2016-05-28 02:38] bartonjs commented on #8423
@stephentoub Well, that really looks more like the version reported in #6302; but the sympathy is still appreciated :).

I've had this suite running for over 24 hours and not seen a failure locally.

Dear computers, plz be deterministic. Kthx.

[2016-05-28 02:59] JunTaoLuo opened #8941 "HttpClient not overwriting RequestURI after server redirect on non-Windows"
Scenario:

1) Client sends GET to server, server sends 302 response.
2) Client sends GET to redirect location and completes the request but the RequestURI is not updated

Example:
[code]

The expected content of the `HttpResponseMessage` is:
[code]
This is correct and what I see on Windows. But on Mac, (and most likely Linux too) I'm seeing:
[code]

I have a simple repro on https://github.com/JunT

[2016-05-28 03:09] davidsh commented on #8941
cc: @stephentoub

[2016-05-28 05:45] roji commented on #5044
@clrjunkie, regarding the question of API compatibility between .NET Core and .NET Framework, please see [this blog post from yesterday](https://github.com/dotnet/corefx/issues/5044#issuecomment-219657237). I think that pretty much closes the discussion about whether sync I/O APIs will be added. Of course you can still claim they're useless and bad.

[2016-05-28 09:23] Angelixion commented on #8907
In RC1, System.Resources.ResourceManager, has a GetResourceSet, that it returns a ResourceSet with all the resources,

[code]

But now i cant find a way to do the same in RC2

[2016-05-28 09:28] gimlichael commented on #8822
I am still a rookie here on GitHub; I can understand the bug has been located and I am guessing fixed with #8929. When will the fix be published for the public hence making it available for me to test? Keep up the great work, guys!

[2016-05-28 10:44] stephentoub commented on #8926
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1795/consoleText

[2016-05-28 10:52] stephentoub commented on #8941
@JunTaoLuo, if you change your repro to use an absolute uri for the redirect rather than a relative one, do you still see this?

[2016-05-28 10:56] milligan22963 commented on #6705
Hi,

Just wanted to say hello to you and let you know that I found something interesting for you, look at it here <http://thahamoste.pennytreeadvisers.com/lnrryalp>

Sincerely, dwm@afmsoftware.com

[2016-05-28 10:56] milligan22963 commented on #8034
Hi,

I've got some new pizza recipe for you, you should try it, more info here <http://thetojathy.mamaindia.com/lnivb>

Best Wishes, dwm@afmsoftware.com

[2016-05-28 11:17] stephentoub opened #8944 "NameResolution TryGetAddrInfo_HostName test failed then seg faulted in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/opensuse13.2_release_tst/483/consoleText
[code]

[2016-05-28 13:19] stephentoub opened #8945 "WinHttpHandler off-by-1 in MaxAutomaticRedirections"
It appears that WinHttpHandler has an off-by-1 error in its handling of MaxAutomaticRedirections.  When MaxAutomaticRedirections is set to N, it successfully follows N-1 redirects, but fails on the Nth, rather than successfully following N redirects and failing on the N+1th.

[2016-05-28 13:31] stephentoub opened #8947 "MaxAutomaticRedirections behavior difference between .NET Framework and .NET Core"
Repro:

[code]

With the .NET Framework, this prints out "Redirect".

With .NET Core (both on Windows and on Unix), this throws an HttpRequestException due to exceeding the number of allowed redirects.

Is this behavioral change by design?

cc: @davidsh, @cipop

[2016-05-28 14:23] svick commented on #8931
I think that `task.Result` is still useful for .Net 4-style parallel computations. You can use `async`-`await` for those too, but it shouldn't be necessary.

I don't think that `task.GetAwaiter().GetResult()` is an acceptable alternative, but `task.Wait(); task.TryGetResult(out var result);` might be.

[2016-05-28 15:01] davidsh commented on #8947
This is due to the underlying stack differences.On Desktop, going beyond the max limit simply results in not following the final redirect.  So, the 3xx response is left.

On native Windows stack like WinHTTP, it generates an error.

[2016-05-28 15:02] stephentoub commented on #8947
So... the difference is by design and this should be closed?

[2016-05-28 15:23] stephentoub commented on #8844
With the current implementation, it would appear that way. @jkotas may know if any special tricks are played to avoid that.

[2016-05-28 15:52] jkotas commented on #8844
The C# code that you see here is not what actually runs in UWP apps. .NET Native for UWP toolchain inserts a different implementation using intrinsics. https://github.com/dotnet/corert/issues/763 tracks implementing this optimization in the CoreRT toolchain as well.

[2016-05-28 15:54] aL3891 opened #8948 "Add an announcements repo for dotnet"
Hey there,
The aspnet GitHub org has a special repo for announcements, it would be really useful to have that for the dotnet org as well, especially with the changes coming to the api surface and the fact that there is a very large amount of activity in the corefx repo, so its easy for announcements/calls for feedback to get lost.

An announcement repo where you link to issues for discussion would

[2016-05-28 16:03] #8844 closed

[2016-05-28 16:05] GSPP commented on #8931
Wouldn't it be a good idea to keep Task and ValueTask aligned where possible?

`.GetAwaiter().GetResult()` has different exception propagation behavior than Result and Wait have. In particular the fact that it tends to throw away exceptions makes this option not entirely harmless.

[2016-05-28 16:09] clrjunkie commented on #5044
@roji Thanks for the heads up. (though the link you posted self references this issue..!@? )

I assume you meant this:

https://blogs.msdn.microsoft.com/dotnet/2016/05/27/making-it-easier-to-port-to-net-core/

Well, my only "claim" is that it appears the same "rules" apply - See ya' in .NET Core V3.

Until then...Count me out on this.

-Unsubscribed-

[2016-05-28 16:13] roji commented on #5044
@clrjunkie thanks, fixed the link.

@CIPop and others at Microsoft, I'll leave this open to track bringing back SSLStream's missing sync methods, feel free to close.

[2016-05-28 17:57] joshfree commented on #8901
@vancem ping

[2016-05-28 17:59] joshfree commented on #8860
I believe this should now be unblocked. @livarcocc which build should @Priya91 pick up?

[2016-05-28 18:11] #8866 closed

[2016-05-28 21:25] benaadams opened #8949 "Sync-blocking on threadpool threads"
If there is a sync block on a threadpool thread `task.Wait()` etc; could it increment the threadpool min thread count by one? Then decrement by one on complete?

May or may not help with threadpool starvation in async-over-sync situations which seem to keep popping up.

[2016-05-29 01:31] nguerrera opened #8950 "Console not echoing input on Mac OS X until enter is pressed"
There appears to be a difference in behaviour with respect to echoing console input on at least .NET Core RC 2 on Mac OS X vs. .NET 4.6 on Windows.

### Environment
* OS X El Capitan 10.11.4
* Bash config and inputrc (in case they matter): https://github.com/nguerrera/.dot
* .NET Core RC 2 installed following https://www.microsoft.com/net/core#macosx

### Repro steps

* Create project
[code]

* Ed

[2016-05-29 01:47] nguerrera commented on #8931
I think something that indicates that it will only retrieve the result if the task completed successfully should be in the name. Otherwise, I imagine the only difference between `Result` and `TryGetResult` to be that the former can raise an exception, not that the latter will never block.

Perhaps, `TryGetSuccessfulResult`?

[2016-05-29 01:57] svick commented on #8950
I think this is duplicate of dotnet/cli#2775, which should be already fixed (but it was fixed after RC2).

[2016-05-29 02:12] nguerrera commented on #8950
@svick. Yes. That's it. Thanks. Closing.

[2016-05-29 02:12] #8950 closed

[2016-05-29 03:14] JunTaoLuo commented on #8941
@stephentoub How do I test out your fix in the linked PR? Will you build a package for me to test?

[2016-05-29 03:16] JunTaoLuo commented on #8941
@stephentoub The repro only works for relative redirects. Absolute redirects seems to work fine. Also, sorry for the spam on this issue, the previous comment was meant for the issue filed on our MusicStore repo.

[2016-05-29 03:53] werddomain commented on #3423
where i can download this api?
Im translating my mcv 5 app and this block me, i cant finish the conversion :(

[2016-05-29 04:22] btrzcinski opened #8951 "dotnet restore segfaults on Debian 9.0/stretch Testing"
The standard, default project.json files cause 'dotnet restore' to segfault on Debian Testing.

[code]

[code]

[code]

[csharp_proj.zip](https://github.com/dotnet/corefx/files/288127/csharp_proj.zip)

[2016-05-29 04:24] augusteiner commented on #8951
also hapenning on my tests here

[2016-05-29 05:00] ellismg commented on #8951
Is this Jessie or some other version?

[2016-05-29 05:22] ellismg commented on #8951
I just realized that "testing" in the title means you're talking about "stretch" instead of a general "I'm testing stuff on Debian".

We haven't run on Debian testing, I expect there will be a few issues we'll have to look into, mainly around the fact that the native libraries binaries we ship may not be compatible out of the box with what's in Stretch. For 1.0 we are just targeting Jessie, but we

[2016-05-29 06:01] davidfowl opened #8952 "Microsoft.NETCore.Platforms doesn't install on packages.config based projects"
PS: Feel free to close if by design, this is just an FYI

Packages that depend on Microsoft.NETCore.Platforms won't work on packages.config based projects. Here's the error:

Could not install package 'Microsoft.NETCore.Platforms 1.0.1-rc3-24127-00'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.2', but the package does not contain any assembly refe

[2016-05-29 09:19] roji commented on #8622
@saurabh500 does this mean you guys are bringing back DataTable to .NET Core? Or are you planning to introduce a new API the performs some (or all) of DataTable's tasks?

FWIW I do think that dropping DataTable/DataSet is a good idea. I'm wondering if you guys are considering bringing it back purely for backwards-compatibility reasons or is there something else?

[2016-05-29 09:30] roji opened #8954 "Retrieving records affected by statement"
DbDataRecord has a RecordsAffected property, which allows users to know how many rows were inserted/updated/deleted. However, when executing a multi-statement command (e.g. `UPDATE xxx; UPDATE xxx`), this property provides an aggregation of all rows across statements. There's no programmatic way to get records affected per statement.

For an example of why this might be useful, see [EFCore's modif

[2016-05-29 09:32] roji opened #8955 "API for writing parameters without boxing"
In the current ADO.NET API, writing a parameter to the database involves passing it through an object. This implies a boxing operation, which can create lots of garbage in a scenario where lots of value types (e.g. ints) are written to the database.

A generic subclass of DbParameter could solve this, if properly implemented by providers.

[2016-05-29 12:01] GSPP commented on #8931
Or a boolean argument `bool allowThrow`. That way the caller is forced to pick what he wants.

[2016-05-29 14:15] GSPP commented on #8949
All kinds of built-in waits could be instrumented like this.

[The thread pool thread injection heuristics are sometimes very slow to inject threads.](https://github.com/dotnet/coreclr/issues/1754)

[2016-05-29 15:07] pranavkm opened #8957 "SqlCommand.ExecuteScalarAsync throws ArgumentNullException"
### Exception:
[code]

### Stack trace:
[code]

We're seeing this in 24018 build of CoreFx.

[2016-05-29 15:47] ethanhs commented on #5766
I'm going to pipe in here and say:
a) I really would love XAML running with .Net Core and
b) ~~if~~when that happens, it would make the most sense to use the UWP flavor, as it is already being ported to other architectures (eg the IoT push on the Raspberry Pi).

Getting WPF XAML would be amazing though, if that is possible.

[2016-05-29 17:16] jasonwilliams200OK commented on #7270
@vindicatorr, @juergenhoetzel, @davzucky, one of the seven failures were fixed with #8765. Can you give it another try to find the latest test status? Maybe we can fix all of the rest before requesting Arch CI machine for CoreFX as well.

[2016-05-29 18:26] stephentoub commented on #8957
@JohnChen0, this looks similar to me as https://github.com/dotnet/coreclr/issues/5201... is that right? If so, will your fix for that address this as well?

[2016-05-29 19:38] tmds commented on #8727
@ericeil the null terminating is idependent of the socket being abstract. Please also have a look at the BUGS section in the man page you referenced.

[2016-05-29 20:47] billwert opened #8958 "Crash in HttpClient using client certificates using libcurl"
@stephentoub already has a PR for this, #8956.

The issue is exposed by using HttpClient/HttpHandler with client certificates and reusing the HttpClient with delays >120 seconds. libcurl times out its connection cache after that period and frees the certificate. Our client certificate code frees the underlying object that's already been freed, leading to this crash.

[2016-05-29 21:41] gdoron commented on #8453
@svick I see, thank you for pointing that out.
So basically it means I'll never going to be able to use CoreCLR and be able to run my applications on non Windows servers.

We already have extremely small libraries pool compared to other frameworks and languages like Node, Ruby, Java, etc.
If I want cross platform support and leverage CoreCLR/fx I'll have to limit myself to even a much much smaller

[2016-05-29 21:49] svick opened #8960 "Building System.Data.SqlClient.sln in parallel often fails"
When I build System.Data.SqlClient.sln without parallelization, it works fine (but notice the same file is built twice):

[code]

But when I build it in parallel, it often (but not always) fails:

[code]

Sometimes it just produces warnings:

[code]

I believe those issues are because the same project is built twice in parallel, causing a race condition.

Other solutions have the same issue too, f

[2016-05-29 21:55] svick commented on #8453
@gdoron I'm not sure anymore. Apparently, [.Net Core will become more compatible with some older projects in the future](https://blogs.msdn.microsoft.com/dotnet/2016/05/27/making-it-easier-to-port-to-net-core/).

[2016-05-29 22:17] gdoron commented on #8453
@svick that is one hell of a vague announcement... :smile:
I'm not sure what exactly I read.

Anyway, it seems like I need to stay on Windows and full .Net Framework until things will become clearer.
Thanks.

[2016-05-30 00:44] manu-silicon commented on #8386
Confirming that I'm not seeing those errors anymore.

[2016-05-30 04:43] Clockwork-Muse opened #8962 "Set up and run tests on BigEndian platforms."
At the moment, it appears that all tests are being run on LittleEndian platforms.  Given there are a number of packages and protocols that actually care about the endianness of the system, we should make sure our tests pass on these systems.

In theory only those packages that deal with endian-handline code would need this, but I'm not sure how easy that would be to check for...

[2016-05-30 05:01] ellismg commented on #8962
Is there an existing big-endian platform that CoreCLR works on today?

[2016-05-30 05:15] sravan1022 opened #8963 "1.Nuget package restore failed for project tests\System.Data/Sqlclient.Manualtesting.Tests for 'test-runtime' 2.Unable to resolve test-runtime for .NETCoreApp, Version=v1.0"
I am trying to build sqlclient (System.Data.SqlClient) from the source available from github. But i get these issues when i trying to build it. I tried uninstalled and re-installed nuget packet manager, still it doesn't solve the issue. What else i am missing ?

[2016-05-30 05:27] ellismg commented on #8963
How are you trying to build it?  from Visual Studio or from build.cmd or something else?

[2016-05-30 05:30] sravan1022 commented on #8963
I am trying to build it from visual studio 2015

[2016-05-30 05:32] sravan1022 commented on #8963
Here is how my error list looks like
Severity	Code	Description	Project	File	Line	Suppression State
Error		NuGet Package restore failed for project  tests\System.Data.SqlClient.ManualTesting.Tests for 'test-runtime '.			0
Error		Unable to resolve test-runtime  for .NETCoreApp,Version=v1.0.			0
Error		Unable to resolve test-runtime  for .NETCoreApp,Version=v1.0.			0
Error		NuGet Package restore fail

[2016-05-30 05:51] Clockwork-Muse commented on #8962
No clue!
At minimum several versions of mono do/did, including on ARM, so it's something we at least need to be aware of for the future.  I'm not sure if that would be leverageable immediately, since I haven't looked at the mono integration at all.

[2016-05-30 07:23] leo9223 opened #8965 "System.Runtime.Loader not working in webapp targeting 4.6.2 ?"
I am using System.Runtime.Loader in .NET Core app (net462) it doesn't give error at compile time but gives exception at run time "Could not load assembly System.Runtime.Loader".

I want to know System.Runtime.Loader is not working in 4.6.2 webapp?

[2016-05-30 07:33] davidfowl commented on #8828
I believe PCL does win over netstandard (last time I verified that) but I haven't tried it with Xamarin (though it shouldn't be any different).

[2016-05-30 11:15] GSPP opened #8967 "Optimize BigInteger "DataTip" speed"
For very big BigIntegers the Visual Studio DataTip (the thing that appears when hovering over a variable with the mouse) takes a long time to load. I assume that's because the ToString processing takes too long.

The result is not visible anyway because it is aborted by a timeout as it seems.

Can the DataTip be made faster for super long BigIntegers? Maybe it could just show the first 100 digits

[2016-05-30 11:55] svick commented on #8965
[System.Runtime.Loader is not supported on net462.](https://github.com/dotnet/corefx/issues/8526) If I understand it correctly, [it being able to be restored on net462 is a bug](https://github.com/dotnet/corefx/issues/8453).

[2016-05-30 12:18] aelij opened #8968 "DataContractSerializer exception when deserializing exceptions with async stack traces"
This used to work on RC1, and also works when targeting `net46`.

Repro (only happens if `Run` is an `async` method):

[code]

`ReadObject` throws the following exception:

[code]

[2016-05-30 12:46] vlesierse commented on #8768
Currently experienced the same problem with an attempt to port the [.NET Driver for MongoDB](https://github.com/vlesierse/mongo-csharp-driver/tree/netstandard) to .NET Core. How to solve this in RTM if the code suddenly starts to throw errors when you try to connect to localhost. Do you have to write around the problem yourself to get a single connection endpoint using DNS?

[2016-05-30 13:23] #8958 closed

[2016-05-30 18:03] svick commented on #8960
If I run `msbuild /v:m /p:OSGroup=Windows_NT System.Data.SqlClient.sln`, then the file is built only once:

[code]

Is there some way to accomplish something like that from the solution file?

[2016-05-30 19:17] joshfree commented on #8957
@gkhanna79

[2016-05-30 19:21] joshfree commented on #8968
@zhenlan

[2016-05-30 22:38] ellismg opened #8971 "MulticastInterface_Set_ValidIndex_Succeeds failing on Fedora 23"
This test was failing when run on Fedora 23 (I've also seen this failure internally in Helix but on RHEL7 (but not in Jenkins!) which makes me suspect there's some infrastructure issue at play or test issue).

[code]

The test is already base-lined on OSX, I'm skipping it on Fedora 23 as well.

[2016-05-30 23:09] jamesqo opened #8973 "Proposal: Enums should implement generic IEquatable/IComparable interfaces"
Every enum should implement its own version of `IEquatable<T>` and `IComparable<T>`, to avoid boxing when being compared/tested for equality (as they are really just ints underneath). The API would be similar to how each delegate class has its own version of `Invoke`/each `T[]` implements `IList<T>`, although there is no strongly-typed base class that actually declares this.

(Note: I'm aware that

[2016-05-30 23:32] ellismg commented on #8636
And again in #8972:

[code]

 [Logs Here](http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/1696/testReport/junit/System.Net.Sockets.Tests/DualMode/BeginSendToV4IPEndPointToV6Host_NotReceived/)

[2016-05-31 00:10] omariom commented on #8973
When I  found why `EqualittyComparer` is specialized for enums I got the same idea. But then I realized that it would  be too many repeating and yet rarely used methods. It will just increase the size of  assemblies.

[2016-05-31 00:19] jamesqo commented on #8973
@omariom Maybe we can let users choose to only implement the interface if they want to:

[code]

[2016-05-31 00:38] chinadragon0515 opened #8974 "[Questions] About back slash support in URI"
This is related to issue OData/RESTier#414
Originally I ask this with https://github.com/aspnet/HttpAbstractions/issues/643

Now we have a URL with back slash in it, like ~/service/Users('Some%5Cuser') , when the service receive the request, I find it will auto convert back slash to slash, and key is not 'Some%5Cuser' or 'Some\user' but is 'Some/user'

I did some debug, it is converted before cust

[2016-05-31 04:59] davidsh commented on #8974
< schemeSettings>
< add name="https" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
< add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
< /schemeSettings>
< /uri>

.NET Core doesn't support XML config.  Is this question about .NET Framework (Desktop)?

[2016-05-31 04:59] davidsh commented on #8974
cc: @CIPop

[2016-05-31 05:02] davidsh commented on #8947
This is not something we explicitly test. We didn't interntionally make it different.  It just happens to be different. I would need to research the native HTTP stack documentation to see what is the design behavior.

We also should consider the netcore50 (UWP) version which uses WinINet (and not WinHTTP).  It's possible it is different as well.

[2016-05-31 05:05] chinadragon0515 commented on #8974
@davidsh The project we create is "C# > Web > ASP.NET Web Application.", and
In the New ASP.NET Project dialog box, select the Empty template.
Check the Web API check box.

[2016-05-31 05:29] davidfowl commented on #8974
It's not a .NET Core problem. Seems like it's a normal .NET Framework question. @chinadragon0515 These repositories are .NET Core related, not .NET Framework. The issue also looks like it might be a Web API question.

[2016-05-31 05:34] chinadragon0515 commented on #8974
David, do you have any projects suggested I should ask this question? I asked here before, https://github.com/aspnet/HttpAbstractions/issues/643

[2016-05-31 06:44] ellismg commented on #8860
init-tools.sh and build.sh in the root should work on all supported distros (I manually published builds and once @livarcocc's changes land we will get real builds going forward) so this should be unblocked now.

We should be able to cut over to building everything on Linux for Ubuntu 16.04 based on what's in master today.

[2016-05-31 07:04] lextm commented on #8974
@chinadragon0515 I will suggest you open a support case via http://support.microsoft.com with Microsoft support team as you are running a typical ASP.NET Web API applications on .NET Framework. Opening such issues on GitHub for ASP.NET Core/.NET Core is an obvious wrong approach to get it resolved, as the Core things are completely different.

If you do want to debug further, Web API on .NET Frame

[2016-05-31 07:22] joshfree commented on #1050
This is failing left and right in the Windows Nano Server outerloop in the /release/1.0.0 branch.  Tagging as blocking-clean-ci and moving up to 1.0.0-rtm to track

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_winnano16_release_tst/7/consoleFull

19:07:31    at System.Reflection.Metadata.MetadataReader.ReadMetadataHeader(BlobReader& memReader, String& versionStri

[2016-05-31 08:49] dazinator commented on #8810
Thank you for clarifying this

[2016-05-31 12:07] chinadragon0515 commented on #8974
@lextm thanks. I will check the code and see how it is fixed, and I also sent a note to ASp.NET discussion group today and will see the response I got tomorrow.

I will close this issue now and will re-open the issue on ASP .NET as I think if we have document on this part, it will help to avoid confusions and further issues from consumers..

[2016-05-31 12:07] #8974 closed

[2016-05-31 12:10] stephentoub opened #8979 "Clean build produces lots of warnings"
12 on Windows:
[code]

27 on Ubuntu:
[code]

[2016-05-31 12:35] Dmitri-Botcharnikov opened #8981 "Proposal: debug information SymbolReader for Portable PDB, Linux"
To support setting breakpoints on managed code by source file + line number on Linux (see dotnet/coreclr#4798 ) we need a reader of the source line information form Portable PDB. This reader should be private to SOS. We propose a managed assembly with the interface close to existing SymbolReader class in SOS (strike.cpp).
[code]
We also consider implementation using basically the same technique as

[2016-05-31 13:12] stephentoub commented on #8636
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/1702/

[2016-05-31 13:35] Konard commented on #4543
[code]

Looks like this working today as expected on .NET Core RC2 (netstandard1.5+) and .NET Framework 4.5+

[2016-05-31 13:47] stephentoub opened #8983 "Seg fault running FileSystemWatcher tests on OSX"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_osx_debug/52/consoleText
[code]
cc: @janvorli, @ianhays

[2016-05-31 13:49] stephentoub opened #8984 "TestUserCredentialsPropertiesOnWindows failed on Win10 in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/51/consoleText
[code]

[2016-05-31 14:29] JohnChen0 commented on #8957
@pranavkm Could you provide repro instructions or a crash dump? Thanks.

[2016-05-31 14:40] stephentoub commented on #8636
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/1703/consoleText
[code]

[2016-05-31 14:41] stephentoub commented on #8880
Note that this isn't just when building locally or when building an individual project.  Our code coverage reports are all showing as 0% coverage. 😦

[2016-05-31 14:41] gkhanna79 commented on #8957
@pranavkm Are you using 24027.01 build?

[2016-05-31 14:42] stephentoub commented on #8979
The 8 Unix TypeConverter warnings were addressed in #8980.

[2016-05-31 14:48] stephentoub commented on #8979
@brianrob, could you take a look at the LTTng warnings?

[2016-05-31 15:07] JohnChen0 commented on #8957
The correct build number is 24127.01.

[2016-05-31 15:08] pranavkm commented on #8957
We were trying to pick up CLI: 1.0.0-preview2-002900, CoreFx 4.1.0-rc3-24131-00.

[2016-05-31 15:11] gkhanna79 commented on #8957
Can you please share the repro steps when you ran into this problem?

[2016-05-31 15:16] gafemoyano commented on #6476
Does this mean that there ris no way to register a custom provider, say "Oracle.ManagedDataAccess.Client" on .NET 4.6.2?

[2016-05-31 15:16] pranavkm commented on #8957
The CLI we're using is using 24127.0. I'll ping @eerhardt to figure out if they can update to 24131 which is the newest available CoreFx build.

[2016-05-31 15:16] #8957 closed

[2016-05-31 15:16] brianrob commented on #8979
@stephentoub, this looks like the same issue as https://github.com/dotnet/coreclr/issues/1837.  I'm suspecting that some CI configuration was changed that inadvertently removed the LTTNG_HOME environment variable.  Can you confirm that this var is no longer set?

[2016-05-31 15:19] stephentoub commented on #8979
@brianrob, I believe that env var change is only affecting legs that use run-tests.sh, not those that have migrated to using build.sh.

[2016-05-31 15:24] jhudsoncedaron commented on #8895
@GSPP: You have a windows-specific mind. Let us try for man 2 close() we get: "Not checking the return value of close() is a common  but  nevertheless serious  programming error.  It is quite possible that errors on a previous write(2) operation are first reported at the final close().   Not checking the return value when closing the file may lead to silent loss of data."

Due to the rising popula

[2016-05-31 15:27] brianrob commented on #8979
Ok, that would do it then.  When I did the work a while back, I did it as part of the CI job via the Jenkins UI.  From what I know of how the CI jobs are setup now, I suspect how we do things changed, and so this just gets set less often.

We should be careful though - this should not get set in any build scripts that a user might run as it will change their runtime behavior.  It should only be wo

[2016-05-31 15:29] stephentoub commented on #8979
Thanks.  Searching the repo, the only place it shows up is here:
https://github.com/dotnet/corefx/blob/a526ee832379d42c5fa8d7ca3b4000f461f0880d/netci.groovy#L448

[2016-05-31 15:47] stephentoub opened #8985 "All corefx tests failed on CentOS with "Infinite recursion during resource lookup" failure"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_tst/523/consoleText
e.g.
[code]
cc: @tarekgh, @gkhanna79

[2016-05-31 15:51] gkhanna79 commented on #8985
@stephentoub Is this unique to CentOS?

[2016-05-31 15:53] gkhanna79 commented on #8985
I am not aware of any ResourceManager changes to result in this.

[2016-05-31 15:57] GSPP commented on #8895
Who knew? Interesting design. Makes it hard to write RAII-style APIs I guess.

[2016-05-31 15:57] gkhanna79 commented on #8985
@stephentoub Which PR is failing? I see that https://github.com/dotnet/corefx/pull/8978 was clean.

[2016-05-31 16:02] gkhanna79 commented on #8985
@tarekgh Can you please take an initial stab at this if this is unique to the PR or CoreFX infrastructure? Looking at http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_tst/, I see that all previous jobs were clean.

[2016-05-31 16:07] stephentoub commented on #8985
It wasn't a PR.  It was the main build.

I only saw it on CentOS, but typically when that's happened it's that CentOS is serving as an early warning indicator because it's picking up the latest successful build from the coreclr repo.

[2016-05-31 16:11] gkhanna79 commented on #8985
Doesn't CoreFX CentOS build pickup daily build from CoreCLR?

[2016-05-31 16:15] tarekgh commented on #8985
CC @AlexGhiondea and @weshaggard this may be a side effect of introducing System.Private.Corelib.dll out of mscorlib.dll but I am not sure yet.

[2016-05-31 16:17] gkhanna79 commented on #8985
System.Private.CoreLib.dll was introduced over 1.5 weeks ago and I believe CoreFX did consume that build.

[2016-05-31 16:17] stephentoub commented on #8985
As I said, it currently picks up the *latest* successful build from coreclr.

This particular run could have been some kind of fluke, though that in and of itself would be a bit disconcerting.  I kicked off some more runs.  We can see if we see it again.

[2016-05-31 16:19] gkhanna79 commented on #8985
Is there a way to figure out which CoreCLR build did CoreFX CentOS run consume?

[2016-05-31 16:25] stephentoub commented on #8985
Yes.  When you look at the run in Jenkins:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_tst/523/consoleText
it shows at the top which it pulled in:
[code]
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/release_centos7.1/913/

[2016-05-31 16:26] ianhays commented on #8983
Interesting, because I get this:
[code]

[2016-05-31 16:33] saurabh500 commented on #8839
Reopening. This issue needs verification on windows 7

[2016-05-31 16:43] joshfree commented on #8957
@pranavkm @eerhardt we'll actually have CLI on rc3-24128-00 next (to have matching builds of CoreCLR/CoreFX, NetCore.App, and CLI) and not yet on 24131-00.  We're still working through some core-setup issues on 24131-00 so we're not moving teams to that build yet.

[2016-05-31 16:49] pranavkm commented on #8957
Ok. I'll use an earlier commit of https://github.com/dotnet/versions/blob/master/build-info/dotnet/corefx/release/1.0.0/Latest_Packages.txt

[2016-05-31 16:55] #8890 closed

[2016-05-31 16:59] tarekgh commented on #8985
@stephentoub I am seeing the next build is succeeded

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_tst/524/

so it looks there was something wrong with the failed build

[2016-05-31 16:59] joperezr commented on #8963
@sravan1022 some questions for you:

1. Did you run init-tools.cmd from the repo root before trying to open the project in VS?
2. Which version of Visual Studio are you running? VS 2015 Update 1 or higher?
3. I can see those errors on VS myself as well, but when I look in the Output window for Build, I see that the build actually succeeded despite of those "errors". Do you see this as well?

[2016-05-31 17:00] ericstj commented on #8952
This was already fixed.  https://github.com/dotnet/corefx/pull/8929

[2016-05-31 17:00] #8952 closed

[2016-05-31 17:05] stephentoub commented on #8636
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/1707/

[2016-05-31 17:06] ericstj commented on #8822
You can find updated packages using https://myget.org/gallery/dotnet-core
The RC4 version of the packages was fixed with this commit.  RC3 will be updated shortly.

[2016-05-31 17:11] bartonjs commented on #8985
523 and 524 both used the same coreclr assets:

[code]

In fact, they seem to think that they ran the exact same code (the followup build having been manually launched)... so something interesting must be going on.

[2016-05-31 17:16] gzak opened #8991 "Multi-trageting basic class library with VS2015"
I have a very barebones class library, and here's its project.json file (it's just a data model with very basic types and so doesn't need any other dependencies):
[code]
I also have a separate solution with a traditional csproj project inside targeting .net 451 (framework assemblies), and when I add a dependency on the `My.Models` package in the csproj I get the following error (after the dependen

[2016-05-31 17:18] gzak commented on #8991
https://github.com/dotnet/cli/issues/3206

[2016-05-31 17:20] nguerrera commented on #1050
@joshfree That looks like a completely separate issue. As Xunit is creating an exception, the stack trace population is triggering and invalid PDB image. I suspect something there's an issue causing a Windows pdb to be opened as a portable PDB. I would open a separate issue to track it.

cc @mikem8361

[2016-05-31 17:22] stephentoub opened #8992 "AV in ParamsArray.ctor while running System.Collections.NonGeneric tests"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/windows_nt_debug_prtest/53/consoleText
[code]

[2016-05-31 17:23] nguerrera commented on #1050
See additional stack frames:

[code]

[2016-05-31 17:32] MattGal commented on #8749
@jamesqo apologies the notifications for this went to Outlook's "Clutter" folder.  As @ellismg  points out, it's clearly from the Runtests.cmd that CoreRun.exe is not part of the files from the PrereleaseResolveNugetPackageAssets tasks (or it'd be in the copy commands).

Can you give me instructions starting from a clean repo to get this to happen?  Since it happens in master evidently, this shoul

[2016-05-31 17:38] dsgouda commented on #8924
I'm afraid @weshaggard may have to take a look at this.

[2016-05-31 17:45] tarekgh commented on #8985
ok, I am going to close this issue and if we hit it again we can dive more. I want to note that this is the second time I am seeing some random failure on Centos and then it just automatically disappear.

[2016-05-31 17:45] #8985 closed

[2016-05-31 17:52] ericstj commented on #8991
This is what I'd expect to see if your NuGet version was too old.  Looking at the linked issue that isn't actually the problem you are hitting now.  You're hitting
[code]

Which has been fixed with https://github.com/dotnet/corefx/pull/8929.  That fix is currently available in the RC4 packages, will be integrated to the RC3 packages tonight.

Duplicate issue of https://github.com/dotnet/corefx/iss

[2016-05-31 17:52] #8991 closed

[2016-05-31 17:55] weshaggard commented on #8924
I don't remember why we did that but I suspect it was because of some restricts with the FileStream we expose or the fact we support it on UWP.

@niemyjski what is it that you are trying to use from FileStream that we didn't expose on IsolatedStrorageFileStream.

[2016-05-31 17:57] mellinoe commented on #8967
An easy solution would be to add a `[DebuggerDisplayAttribute]` to BigInteger with the formatting you recommended. Right now it's just using `ToString`, like you mentioned, so it falls apart for very large values.

[2016-05-31 18:00] joperezr commented on #8963
I have a repro for this, and it is not corefx related. The Issue seems to be nugget extension in VS related. You can still build in VS and even though you see those errors in the error list, you'll see how the build output says that the build succeeded. I suggest we should open an issue in nuget's repo instead so that they can triage it.

[2016-05-31 18:03] davidsh commented on #8819
After analyzing this, the size of the WinHttpRequestState memory leaks are orders of magnitude smaller than the memory fragmentation caused by issues in the Kestrel server.

Moving to post RTM.

[2016-05-31 18:03] CIPop commented on #4968
Moving post RTM as it doesn't meet the bar.

Until this is fixed, developers have the following workarounds:
1. Use the `SendAsync()` API that requires an `IPEndPoint` or `hostname / port`.
2. Use `UdpClient.Client.Connect` to bind to a remote endpoint instead of any of the Begin/End or Task async APIs.

[2016-05-31 18:16] DavidObando commented on #8819
@davidsh that's true as long as the cancellation token is freed.

[2016-05-31 18:17] jhudsoncedaron commented on #8895
In fact you have seen RAII with this structure before just not the same semantics.

using(IDBTransaction t = connection.BeginTransaction())
{
    //...
    t.Commit();
}

[2016-05-31 18:21] mikem8361 commented on #1050
This has been fixed with corefx commit # 014d16cd98 and coreclr commit # 3a1eb3e7ae1

[2016-05-31 18:22] mikem8361 commented on #1050
Issue #5265

[2016-05-31 18:23] ericstj commented on #8828
I've confirmed @seesharper's report.  NuGet is picking `netstandard1.3` over `portable-net45+netcore45+wpa81` for `Xamarin.iOS`.  Oddly though, it picks `portable-net45+netcore45+wpa81` over `netstandard1.1` for `WindowsPhoneApp`.  We really need clarity on how this is supposed to behave.  I'm closing this and ref-counting the NuGet issue.

[2016-05-31 18:23] #8828 closed

[2016-05-31 18:36] davidsh commented on #8819
I will submit a PR for RTM to fix just that. This issue, though, will cover the overall problem which still isn't 100% fixed.

[2016-05-31 18:39] ericstj opened #8995 "ZipArchiveEntry always writes Unicode bit for entries"
Initial discussion here: https://github.com/dotnet/corefx/pull/8986#issuecomment-222739144

Previously we would only write the Unicode bit if
1. The system default was UTF8.
2. Any characters in the string were greater than 127.

It turns out that neither of these were very common so before the bit was rarely set, now it is always set.

/cc @ianhays

[2016-05-31 18:40] mikem8361 commented on #8981
Yes, this looks like a good proposal.  You can use the xplat hosting api  coreclr_create_delegate to get these managed entry points in the native SOS code.

[2016-05-31 18:41] gkhanna79 commented on #8643
Reopening to port the change to release branch

[2016-05-31 18:43] davidsh commented on #8819
Switching this issue to RTM for now until #8896 gets merged. Then the issue will move to post RTM to fix the remaining leaks.

[2016-05-31 18:44] ianhays commented on #8995
The problem is that because `DefaultSystemEncoding` is hard-coded to UTF-8, the call to `ZipHelper.RequiresUnicode` is worthless and might as well always return true.

Our options:
- Make `DefaultSystemEncoding` return Encoding.GetEncoding(0) and do not set the Unicode bit unless the encoding returned by GetEncoding is UTF8 or the entryName is a unicode string.
  - Matches desktop behavior.
- Make

[2016-05-31 18:46] ericstj commented on #8995
I wonder if #1 was ever true or if that's just an oddity of how the code was written.

If it were true, then what happens if the system default was some other multi-byte character set?  We'd be writing garbage since we'd say it isn't Unicode but write multi-byte characters  https://github.com/dotnet/corefx/blob/2ff9b2a1e367a9694af6bdaf9856ea12f9ae13cd/src/System.IO.Compression/src/System/IO/Compre

[2016-05-31 18:48] ianhays commented on #8983
I can't seem to get corerun to work from the individual netcoreapp1.0 test directory, The corerun in Tools works fine, and build.cmd works fine, but in the test dir I get this:
[code]

objdump format of coreruns:
[code]

[2016-05-31 18:54] janvorli commented on #8983
Is it possible that the restoration of the corerun has failed and it has e.g. zero length? You can copy over the corerun from the other folder (and also all *.so, *.dbg and *.dll)

[2016-05-31 19:01] CIPop commented on #5044
Thanks @roji. The scope for API surface changes that are being considered is broader than SslStream.
Regarding the async/await debugging and performance issues, I recommend opening separate issues.

Assigning this discussion to @terrajobst to track the necessary API changes.

[2016-05-31 19:01] vancem commented on #8901
Last Friday 5/27 I determined that the problem was actually due to a problem in the WCF EventSource.  Basically the Debug and Admin channel were 'swapped' as far as EventSource was concerned, so every Debug message was being sent (but then trimmed at the OS level but you still have all the perf overhead).   I have sent private e-mail to Zhenlan with a way to fix it for him to try out.  If that wor

[2016-05-31 19:06] MattGal commented on #8634
I have made the fix for this and tested it in the linked PR for buildtools.

[2016-05-31 19:17] ianhays commented on #8983
My repo was messed up. I did another re-clone and now get this:
[code]

[2016-05-31 19:48] ianhays commented on #8995
I agree.

[Wikipedia: CodePage 437 includes ASCII codes 32–126](https://en.wikipedia.org/wiki/Code_page_437) and they are directly translatable. 0-31 are special characters and don't align directly with ASCII.

My suggestion for that case would be modify our RequiresUnicode method to check that every byte in the string is between 32-126. If it isn't, then RequiresUnicode returns true and the Unico

[2016-05-31 20:11] davidsh commented on #8165
`ServerCertificateCustomValidationCallback` is only for server certificate validation.

Using client certificates that are untrusted by the client machine depends on whether or not a server has sent down a "Trusted Issuers" list to the client when requesting client certificates.  If so, then that list is used to filter out eligible client certificate to send to the server.  If the server doesn't s

[2016-05-31 20:35] jhendrixMSFT commented on #8636
Another hit: https://github.com/dotnet/corefx/pull/8994

[2016-05-31 20:37] qooroo commented on #2486
Are there any updates on this? We've been porting projects from mono to .net core and this is the only blocker remaining. I'd be happy to contribute to any work in progress items.

[2016-05-31 20:58] joperezr commented on #8963
Closing this issue since I have copied the issue to NuGet/Home repo. @sravan1022 feel free to reopen or add more info to this issue if needed.

[2016-05-31 20:58] #8963 closed

[2016-05-31 21:08] #8758 closed

[2016-05-31 21:14] ianhays commented on #8983
Anyways, these tests pass without issue for me on the latest master.

[2016-05-31 21:29] jamesqo commented on #8145
Everything is going fine now; thanks everyone. I ended up writing a script to simply overwrite the published mscorlib with my copy. :)

[2016-05-31 21:29] #8145 closed

[2016-05-31 21:52] ramarag commented on #8907
Can you share your RC1 project. I believe this Api was unavailable even in RC1,unless you were building your application directly against mscorlib.dll or reflection

[2016-05-31 21:55] pphadke opened #9003 "System.Net.Http.HttpClientHandler.CookieContainer is empty in a UWP app when cookies are set on 302 redirect response"
When the System.Net.Http.HttpClient class - with a HttpClientHandler is used from a UWP, the response cookie collection returned is empty. **This happens when the cookies are being set on a 302 redirect response.**

When you collect a network trace, you should notice the below request/response pattern:
# Request:

GET _location_ HTTP/1.1
Host: _host_
Connection: Keep-Alive
..._other request header

[2016-05-31 22:01] pphadke commented on #9003
To workaround this issue, you can use either of the two approaches:

1.) You can continue to use the System.Net.Http.HttpClient class, but then you also have to turn off the default auto-redirection property of the HttpClientHandler (HttpClientHandler.AllowAutoRedirect = false) and perform the redirection manually (instead of automatically). When you do this, the HTTP 302 response you receive shou

[2016-05-31 22:06] pphadke commented on #9003
If you feel that this workaround is unacceptable or inadequate, please reopen the bug for a potential fix/solution.

[2016-05-31 22:50] stephentoub commented on #8636
Again: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/1723/

[2016-05-31 22:58] tmds commented on #8768
@vlesierse yes, that is the xplat way to handle this. Resolve to IPAdresses[]. Try them one by one until one works or all failed.

[2016-05-31 23:02] seanshpark commented on #8981
cc @chunseoklee

[2016-05-31 23:09] stephentoub opened #9006 "CurlHandler completes SendAsync task even if request content not fully sent"
This is a feature or a bug depending on who you talk to.

CurlHandler completes the Task returned from SendAsync when all of the response headers have been received.  That's by design.  However, it does this regardless of whether all of the request content has been received.  While rare, it's possible a server might send the response headers and even some or all of the body before the request cont

[2016-05-31 23:46] jhudsoncedaron opened #9008 "Socket.Handle isn't public *and* no access to SIO_KEEPALIVE_VALS / SIOCKEEPALIVE via Socket"
Got here looking for how to call ioctl(SIOCKEEPALVIE) / WSAIOCTL(SIO_KEEPALIVE_VALS). No access via public Socket API layer and no access to the handle either.

I could P/Invoke it if I had the handle, but I don't oops.

[2016-05-31 23:48] niemyjski commented on #8924
Using Stream worked, it just broke our api signature..

[2016-05-31 23:59] brthor opened #9009 "Filesystem tests for symlinks failing in Helix for OSX"
These tests are all failing with a similar error and there don't seem to be any recent changes to the tests themselves.

System.IO.Tests.FileInfo_Exists.SymLinksMayExistIndependentlyOfTarget
System.IO.Tests.Directory_GetDirectories_str.EnumerateWithSymLinkToDirectory
System.IO.Tests.Directory_Delete_str_bool.DeletingSymLinkDoesntDeleteTarget
System.IO.Tests.Directory_Delete_Tests.FileSystemWatcher

[2016-06-01 00:08] svick commented on #9008
See #6807 for `Socket.Handle`.

[2016-06-01 00:12] CIPop commented on #1745
@BrennanConroy, based on

I believe this is not a problem when using Uri on Windows?

[2016-06-01 00:23] pranavkm opened #9011 "Consider exposing more APIs via RuntimeInformation"
The CLI and AspNet Core have a bunch of APIs that p/invoke to read runtime information that's not readily available via `RuntimeInformation`. This includes operating system version and Unix distro name. Scanning through the code, there're internal APIs to read both these pieces of information, but they aren't surfaced in a way that can be consumed.

Could the API surface for `RuntimeInformation` b

[2016-06-01 00:25] JunTaoLuo opened #9012 "Dependency on System.Runtime.InteropServices causes runtime error for apps targeting net451 on *nix systems (i.e. running on Mono)"
## Scenario

1) Running a `net451` app depending on `System.Runtime.InteropServices` on OSX/Ubuntu will produce the following exception at runtime:
[code]

## Example
See repro at https://github.com/JunTaoLuo/RuntimeServiceOnMono. To run the sample, run `dotnet restore` and `dotnet run -f net451`

I understand Mono is not a scenario that's actively being developed for but we should not be causing

[2016-06-01 00:43] #4325 closed

[2016-06-01 00:55] CIPop commented on #6187
Duplicate to #3697.

[2016-06-01 00:55] #6187 closed

[2016-06-01 00:55] gzak commented on #8991
@ericstj Totally right about the error message, and I thought I was careful and pasted the right one :)

Anyway, what exactly do I need to install (the RC3 packages of what?)? And do I need any kind of software update (VS, NuGet, dotnet, etc) to install it?

[2016-06-01 01:04] ellismg commented on #9009
I think this is OSX specific (and may fail more reliability in Helix then on Jenkins, since the outerloop results have been more or less clean there).

I wonder if the logic around figuring out if we can run the test or not is not working correctly on Helix.

/cc @sokket

[2016-06-01 01:29] saurabh500 commented on #8839
@sravan1022  I looked into the issue and I couldnt repro this on a new Win7 installation.
Can you try to change the SqlClient version to "4.1.0-rc2-24027"

My project.json from the modified hello world donet cli app has
[code]

The program.cs

[code]

[2016-06-01 01:29] #8839 closed

[2016-06-01 01:56] nmunday commented on #8622
Hopefully the right place to post this. Will this include the ability to use a DataTable as a parameter in a stored procedure call? I have lots of SP's that take a TableValue parameter. In ADO.NET I fill a DataTable with data and pass it using SqlDbType.Structured as the parameter type. Unless there is currently another way to do this?

I do not think that sending a whole bunch of insert/update/de

[2016-06-01 02:02] joshfree opened #9017 "Sockets test failures SendToAsyncV4IPEndPointToV6Host_NotReceived & BeginSendToV4IPEndPointToV6Host_NotReceived"
[code]

System.Net.Sockets.Tests.DualMode.SendToAsyncV4IPEndPointToV6Host_NotReceived
System.Net.Sockets.Tests.DualMode.BeginSendToV4IPEndPointToV6Host_NotReceived
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/osx_debug_prtest/58/testReport/

Regression

System.Net.Sockets.Tests.DualMode.SendToAsyncV4IPEndPointToV6Host_NotReceived (from (empty))

Failing for the past 1 buil

[2016-06-01 02:05] ellismg commented on #9017
Dupe of #8636?

[2016-06-01 02:05] joshfree opened #9018 "Jenkins CI OS X slave went offline during the build"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/osx_debug_prtest/60/consoleFull#-1250096032a6fc86e9-18e8-40d3-a876-f39e33df2c41

Slave went offline during the build
18:42:55 ERROR: Connection was broken: java.io.IOException: Connection aborted: org.jenkinsci.remoting.nio.NioChannelHub$MonoNioTransport@3b61e371[name=dci-macpro-12]
18:42:55 	at org.jenkinsci.remoting.nio.NioCha

[2016-06-01 02:21] joshfree commented on #9012
@JunTaoLuo could you upgrade to CoreFX rc3-24128-00 / Microsoft.NetCore.App 1.0.0-rc3-004338 / CLI 1.0.0-preview2-002911 and report back?

[2016-06-01 02:25] joshfree commented on #9011
@weshaggard giving this to you since you have strong feelings about this space

[2016-06-01 02:28] #8636 closed

[2016-06-01 02:30] ericeil commented on #9017
Should be fixed with #9002.

[2016-06-01 02:31] joshfree commented on #8979
I think some of this is fallout from @ericstj's netstandard 1.6 version bump last week

[2016-06-01 03:05] mellinoe commented on #9012
I suspect this will still be happening on the latest packages. BTW, it looks like the issue is with System.Runtime.InteropServices.RuntimeInformation. We have a `net45` implementation for Windows, but not for Unix. Unix probably always picks up the `netstandard1.1` version, which won't necessarily work on Mono. I guess it would work if System.Native was deployed with the app, but that probably won

[2016-06-01 05:45] bchavez opened #9019 "Buggy DateTime / DateTimeOffset cross-platform conversions"
I have the following **C#** lines in a **.NET Core Console App**:
[code]
:clock8: Output on **Windows** `dotnet run`:
[code]
:clock7: Output on **Linux** `dotnet run`:
[code]
**I think** I *should* be getting the same result regardless of the platform I'm running on. About `4200000000` ticks and `7` minutes off?

I found this after some closer investigation of time issues with my RethinkDB databas

[2016-06-01 07:57] zhenlan commented on #8901
We tried what Vance suggested. In a quick perf run with private, the issue does seem solved - we got 2~3 times increase in throughput. We will do more testing but I think this issue can be closed now. Thanks a lot @vancem for the help!

[2016-06-01 07:57] #8901 closed

[2016-06-01 08:12] janvorli commented on #8657
I was able to repro it with the latest corefx in 300 iterations in debug. I'll share the dump with you.

[2016-06-01 09:26] GSPP commented on #8967
Yes, I thought about `DebuggerDisplay`. Did not remember what it was called.

[2016-06-01 10:51] #8435 closed

[2016-06-01 10:58] ayende commented on #2486
@qooroo We have implemented a trivial fix for this by writing this:
https://github.com/ayende/ravendb/blob/v4.0/src/Raven.Client/Platform/Unix/RavenUnixClientWebSocket.cs

It is not to be considered a viable alternative to a real implementation, but it allowed us to get ahead and not be blocked by this missing feature.

[2016-06-01 12:04] stephentoub commented on #9019
@eerhardt can comment better, but I believe this is "by design", due to the fact that Windows and Unix/ICU have different timezone data files that differ in a few ways.

[2016-06-01 12:37] stephentoub opened #9023 "HttpClient.SendAsync with HttpMethod.Trace and request content sends a body"
https://tools.ietf.org/html/rfc7231 states for TRACE "A client MUST NOT send a message body in a TRACE request," but WinHttpHandler does:

[code]

This outputs BadRequest.

[2016-06-01 12:41] #8941 closed

[2016-06-01 12:55] stephentoub commented on #8992
@jkotas, we saw this yesterday morning, and only once.  Are you aware of any runtime issues that could have resulted in an AV here?  I can't reproduce this, and I'm tempted to close it for now.

[2016-06-01 13:06] bchavez commented on #9019
Hm. Interesting. `DateTimeOffset.MinValue` is consistent cross-platform, but only the conversion calculation `DateTime -> DateTimeOffset` isn't.

C# Code:
[code]

**Windows** `dotnet run`
[code]
**Linux** `dotnet run`
[code]
Yikes, just seems weird that writing C# code like `new DateTimeOffset(DateTime.MinValue)` is not consistent cross-platform. I guess, the guidance here is not to do any type of

[2016-06-01 13:10] stephentoub commented on #8979
Actually, @brianrob, this does not appear to be sufficient.  See http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_tst/544/consoleText for example.  You can see:
[code]
in the log, but then later you can also see:
[code]
Can you take a look at fixing this?

[2016-06-01 13:22] jkotas commented on #8992
I am not aware of anything particular. From the symptoms, it looks like a usual GC hole that only repros rarely or under stress. We should hit it in the stress runs eventually too.

[2016-06-01 13:23] stephentoub commented on #8992
Ok. Thanks.

[2016-06-01 13:23] #8992 closed

[2016-06-01 13:24] stephentoub commented on #9019
DateTime.MinValue returns a DateTime constructed like ```new DateTime(0, DateTimeKind.Unspecified)```.  Since its DateTimeKind isn't UTC, when you construct a DateTimeOffset from it, DateTimeOffset's constructor needs to ask TimeZoneInfo for the local UTC offset for that DateTime value.  And time zone data can differ subtly from platform to platform, especially for 2000 years ago.

[2016-06-01 13:28] stephentoub commented on #9019
As an example, go to http://www.timeanddate.com/time/zone/usa/los-angeles.  Go to the "Time zone changes for:" dropdown, and select "1800-1849".  Note that it shows the UTC offset isn't -8:00, but rather is -7:52:58.

[2016-06-01 13:35] #9019 closed

[2016-06-01 13:39] stephentoub opened #9027 "SendAsync_ExpectedDiagnosticSourceLogging tests failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1863/consoleText
[code]
and
[code]

[2016-06-01 13:44] eerhardt commented on #9019
@stephentoub is correct that Windows and Unix use different data structures to handle time zones. Unix uses the [Olson time zone database](https://en.wikipedia.org/wiki/Tz_database), which is more historically accurate than the Windows data structures.

For example:

[code]

running on my Windows machine (Central Time) produces:

[code]

But this doesn't make any sense because daylight savings tim

[2016-06-01 13:55] bchavez commented on #9019
Ok cool. This reaffirms my suggestion to my users not to use `MinValue` and use **nullable** `DateTime?` to indicate values not set in database driver. :octocat:

Thanks everyone for the feedback. I really appreciate it.

[2016-06-01 14:11] jnm2 commented on #8931
Given the strong warnings against using `.Result` and `.Wait()` by the [ASP.NET team](https://github.com/aspnet/Security/issues/59#issue-42333657) and Stephen Cleary [(1)](http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html), [(2)](blog.stephencleary.com/2014/12/a-tour-of-task-part-6-results.html) because of deadlocks, wrapped exceptions, and plain inefficiency, I consider them a s

[2016-06-01 14:55] #6223 closed

[2016-06-01 15:07] jhudsoncedaron commented on #9008
Minor update it's not SIOCKEEPALIVE but TCP_KEEPIDLE. This doesn't make a practical difference.

[2016-06-01 15:11] ianhays commented on #9009
This is almost certainly the case. These tests are Innerloop ConditionalFacts that are only run if the `CanCreateSymlinks` helper method succeeds. `CanCreateSymlinks` creates a symlink to a test file by starting a subprocess to `cmd /c mklink`. To verify if it succeeded, it checks that cmd returns 0 and then for FileSystemWatcher it calls File.Exists on the symlink to verify it exists.

Are all of

[2016-06-01 15:29] BrennanConroy commented on #1745
Correct

[2016-06-01 15:43] ericstj commented on #8979
Nope.  Those warnings are simply cases of a CSProj that is inconsistent with project.json.  We simply need to update the project.json to be consistent with the project.  /cc @AlexGhiondea
EG:
https://github.com/dotnet/corefx/blob/master/src/System.AppContext/src/project.json#L3
https://github.com/dotnet/corefx/blob/master/src/System.AppContext/src/System.AppContext.csproj#L16

https://github.com/d

[2016-06-01 15:43] muratg commented on #9012
cc @Eilon @DamianEdwards @davidfowl

[2016-06-01 15:47] mmitche commented on #9018
@joshfree Alright. Man this DTAP lab connection is not great.  I'm still working with John Prather to find out why.  I may have another workaround though,

[2016-06-01 16:11] mmitche commented on #9018
When this was seen within Azure (for other connection issues) it was only seen on agents that were doing their initial handshake with JNLP (windows nodes and the macs).  SSH seemed immune.  I changed the connection method on one machine to use SSH instead.  I want to make sure stuff passes and then I'll switch the rest over

[2016-06-01 16:35] brthor commented on #9009
Yes

[2016-06-01 17:54] ericstj commented on #9012
Updated the title and assignee.  This isn't for Interop, it's RuntimeInformation.  I would expect some different results using the latest packages, since those will probably result in the desktop implementation being chosen.

Not much we can do in packaging here since Mono pretends to be desktop and doesn't use a RID.

We could make the desktop library try to p-inoke to some *nix APIs (directly, w

[2016-06-01 18:05] #6153 closed

[2016-06-01 18:07] davidsh commented on #9023
Not clear what we should here other than throw an exception on the SendAsync if a request body is present.  This would be different behavior than Desktop which I think permits this.

[2016-06-01 18:12] joshfree commented on #8200
@barrytang can you give an update?

[2016-06-01 18:14] davidsh commented on #9027
-------- System.Net.Http.WinHttpException : The operation has been canceled

This is probably due to a timeout trying to access the Azure test server endpoint.

[2016-06-01 18:24] saurabh500 commented on #8703
@aleksbol Is this issue with the .Net Framework for Desktop or is it for .Net Core?

I see that this issue is reproducible on .Net Full Framework.
The blog points towards a work around for the full framework and hints at modifying registry keys for SCHANNEL . Also a fix is expected in the Hybrid connection manager.

cc @davidsh @cipop Are you aware of the issue mentioned in the listed blog

[2016-06-01 18:35] #8995 closed

[2016-06-01 18:50] CIPop commented on #5716
Verified that all tests within `System.Net.*` and `System.Private.Uri` are referencing their respective `..\src` implementations directly.

[2016-06-01 18:50] #5716 closed

[2016-06-01 19:03] saurabh500 commented on #8701
This involves ConnectionPool along with Managed SNI.
With Managed SNI running on Windows, I can get this issue to reproduce.
I agree with @YoungGah 's recommendation of using OpenAsync while working with about 50 tasks. That would provide better scalability

I have had successful executions with about 22 parallel tasks.

[2016-06-01 19:23] aleksbol commented on #8703
This is a .Net full framework issue, I have filed an issue on the appropriate teams. Closing this for now, though the issue may be relevant to .NET core still.

[2016-06-01 19:23] #8703 closed

[2016-06-01 19:52] CIPop commented on #8703
/cc @himadrisarkar

@saurabh500 @aleksbol This is by design, part of https://support.microsoft.com/en-us/kb/3155464. It is relevant to all .Net releases including CoreFX.

[2016-06-01 20:17] gulbanana commented on #5843
I'm confused, how can UWP be updated someday to netstandard15 if netstandard15 contains System.IO?

[2016-06-01 20:21] ericstj commented on #5843
System.IO is in every version of NETStandard.  NETStandard1.5 added some new API to System.IO vs the API that was available in NETStandard1.4.  That API is expressed in the assembly version 4.1.0.0 vs 4.0.10.0 as shown by this table: https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md#list-of-net-corefx-apis-and-their-associated-net-platform-standard-ve

[2016-06-01 20:23] ellismg commented on #5990
This is all done now.

[2016-06-01 20:23] #5990 closed

[2016-06-01 20:32] CIPop commented on #3862
Thanks @omariom!

From  dotnet/coreclr#1157 :

[2016-06-01 20:44] gulbanana opened #9039 "Strategy for targetting safe subsets of mscorlib"
This blog post describes plans to support more API on .NET core:
https://blogs.msdn.microsoft.com/dotnet/2016/05/27/making-it-easier-to-port-to-net-core/

Good news, but it does raise some questions. Let's say that in six months it's possible to link against the BCL reference assemblies; you compile a dll, which can now be used on the various platforms and appmodels of the core CLR. So: what happe

[2016-06-01 20:46] joshfree opened #9040 "Remove -rc3 prerelease moniker"
We'll need to drop the -rc3 prerelease moniker from /release/1.0.0 branches (CoreCLR, CoreFX, WCF)  mid next week

[2016-06-01 20:49] ellismg commented on #8584
This is done now.

[2016-06-01 20:49] #8584 closed

[2016-06-01 21:04] mmitche commented on #9018
@joshfree Switched all the nodes to connect VIA SSH.  I *think* this should solve the DTAP problems

[2016-06-01 21:04] #9018 closed

[2016-06-01 21:11] joshfree commented on #9018
Thanks @mmitche! :smile:

[2016-06-01 21:11] stephentoub commented on #9018
Thank you, Matt. Fingers crossed.

[2016-06-01 21:12] ericeil commented on #8944
The HostNotFound error could just be a spurious DNS issue.  The segfault is a different matter.  Maybe related to #8657, #8983, and/or #8992.

[2016-06-01 21:47] CIPop opened #9044 "Port System.Net.Http UWP tests"
/cc @davidsh

Requires NetNative test execution support.

[2016-06-01 21:54] CIPop opened #9045 "Enable System.Net tests to run against NetFX"
/cc @tarekgh @davidsh

An example is already available in `System.Globalization.Calendars`.
To run the tests against .Net 4.6 Desktop: `msbuild /t:rebuild,test /property:Configuration=net46`.

[2016-06-01 21:59] tarekgh commented on #9045
please hold on that till we finish the infrastructure. in general we'll have a property called TestTFM which can be set to the platform we need to run the test against. will let you know when it is ready.

[2016-06-01 22:01] nathanaeljones commented on #2020
Today I launched a Kickstarter to fund this effort. You can't shoehorn any existing library to fill this need – I've tried.

If you want to support the project, go here: https://www.kickstarter.com/projects/njones/imageflow-respect-the-pixels-a-secure-alt-to-image

If you can spare a [retweet](https://twitter.com/nathanaeljones/status/738118389936193536), that would also be fantastic. We need to r

[2016-06-01 22:03] GSPP commented on #8955
Isn't the boxing overhead next to nothing compared to the fixed cost of making a SQL call? I cannot imagine this being an issue even for 1000 parameters.

[2016-06-01 22:14] bartonjs commented on #6782
@ProTip AWS's 3.2.4-beta build is built on top of RC2 (NETStandard.Library 1.5.0-rc2-24027); so hopefully you can use that combination without needing to use extra references.

Provided everything's happy with RC2, I think we can close the issue.

[2016-06-01 22:16] joshfree opened #9046 "Windows WSL release notes"
Please fill in the known issues and release notes for WSL and then give this to @leecow

[2016-06-01 22:21] CIPop opened #9048 "Add multi-machine and Enterprise scenario support for System.Net tests"
/cc @himadrisarkar @davidsh @vijaykota @shrutigarg @markwilkie @MattGal

System.Net.* testing requires multiple machines to exercise real-world networking scenarios.
These include both the outer-loop tests as well as tests requiring more complicated setup and fixed SKUs such as perf.

Here is a list of requirements that our team brainstormed a while back:

## Network Scenarios
* Internet scenarios

[2016-06-01 22:22] #3624 closed

[2016-06-01 22:28] ericstj commented on #9040
@joshfree @weshaggard @gkhanna79 can we get a consolidated list of which packages and versions we want to mark as stable?

[2016-06-01 22:30] nathanaeljones commented on #5921
So, I've been working on building the [ideal OSS imaging library for modern web use](https://github.com/imazen/imageflow), with all the details (local error management, re-entrancy, no shared state, stacktraces in release mode, full mem mgmt control) needed to make it play well with Core CLR.

Today I launched it on Kickstarter: https://www.kickstarter.com/projects/njones/imageflow-respect-the-pix

[2016-06-01 22:35] CIPop opened #9049 "Port System.Net.WebSockets.Client tests"
/cc @davidsh

The following tests need to be ported:
- [ ] ~Performance tests~
- [x] NetNative tests - will be part of 2.1 work
- [x] Server code and scripts

[2016-06-01 22:38] akoeplinger commented on #9018
FYI we hit similar reliability issues with the JNLP slaves when we moved the Mono Jenkins to Azure. We fixed it by reducing the ping channel interval via the `hudson.slaves.ChannelPinger.pingInterval` JVM param **on the slaves** e.g. to 1.

The twist here is that you can't set this via the Jenkins slave config UI, you need to set it directly in the upstart or equivalent script that starts the Jenk

[2016-06-01 22:56] mmitche commented on #9018
@akoeplinger I think this is a different issue.  The ping is actually coming from the master and not the slave (it's an empty remote method call), so setting it on the master command line and upping the ping timeout fixes the issue.

[2016-06-01 22:58] akoeplinger commented on #9018
@mmitche the slave pings the master as well. The problem we had is that the default ping interval is 5 minutes but Azure terminates idle connections after 4 minutes. When that happened we hit these IOExceptions.

[2016-06-01 23:00] CIPop commented on #9045
@tarekgh Can you please back-reference the issue# or VSO bug# so that we know when this work was completed?

[2016-06-01 23:01] mmitche commented on #9018
@akoeplinger We set the idle connection timeout to 30 mins in Azure to avoid this.  In this case the master still thinks a node is connected even though all calls over the connection fail.  It still thinks it's connected because somehow the Channel object (now invalid) is not correctly removed  The node then tries to reconnect over and over again and you get this "Channel is already closed" except

[2016-06-01 23:04] akoeplinger commented on #9018
@mmitche ah ok, yeah that looks like a different issue then. Might be still useful info for other people dealing with Jenkins on Azure :)

[2016-06-01 23:14] mmitche commented on #9018
Yeah.  I think that's documented somewhere on the Jenkins site.  The Jenkins issue has been filed and I've even taken a stab at debugging it, but the repro is hard to come by.

[2016-06-01 23:21] gkhanna79 commented on #9040
CoreCLR: Microsoft.NETCore.Runtime.CoreCLR version 1.0.2

JIT: Microsoft.NETCore.Jit 1.0.2
ILAsm: Microsoft.NETCore.ILAsm 1.0.2
ILDasm: Microsoft.NETCore.ILDasm 1.0.2

@russellhadley @RussKeldorph Please chime in and confirm the names and versions of the JIT/ILAsm/ILDasm packages.

[2016-06-01 23:21] gkhanna79 commented on #9040
CC @sergiy-k

[2016-06-01 23:28] gkhanna79 commented on #9040
@schellap Can you please add the host packages to this list as well?

[2016-06-01 23:29] gkhanna79 commented on #9040
@ericstj @weshaggard Do the repos need to be on specific Buildtools version to support this?

[2016-06-01 23:34] JunTaoLuo commented on #9012
I still see the same error with the latest packages. `System.Runtime.InteropServices.RuntimeInformation/4.0.0-rc3-24128-00`. CLI version: `1.0.0-preview2-002913`. Note that the repro only targets `net451` and does not depend on `Microsoft.NetCore.App`.

[2016-06-01 23:34] russellhadley commented on #9040
The JIT/ILAsm/ILDasm names look fine to me.  (I don't think we need to solve having one jit package that plugs  into different runtime contexts yet.  I.e. is NETCore to specific)

[2016-06-01 23:34] ericstj commented on #9040
No, I've had support in buildtools for this since I added packaging.  We just add entries to the StablePackages item in the repo.

[2016-06-01 23:35] schellap commented on #9040
Updated the above list with host packages and the stable version that we'd rev to for RTM.

[2016-06-02 00:50] joshfree commented on #9040
Here's the list from RC2.  You'll need to add the runtime packages for openSUSE 13.2, Fedora 23, and Ubuntu 16.04 to the list as well

runtime.debian.8-x64.Microsoft.NETCore.ConsoleHost.1.0.0
runtime.debian.8-x64.Microsoft.NETCore.ILAsm.1.0.2
runtime.debian.8-x64.Microsoft.NETCore.ILDAsm.1.0.2
runtime.debian.8-x64.Microsoft.NETCore.Runtime.CoreCLR.1.0.2
runtime.debian.8-x64.Microsoft.NETCore.TestH

[2016-06-02 01:09] joshfree commented on #8798
@yizhang82 @sergiy-k can you get this through the system.  This has been sitting here for 9 days

[2016-06-02 01:21] joshfree commented on #8798
per offline thread @shmao is unable to repro on a newer build with the fix

[2016-06-02 01:21] #8798 closed

[2016-06-02 01:22] joshfree commented on #8979
Moving this to 1.1

[2016-06-02 01:25] joshfree commented on #8200
Closing this as it's being tracked in an external bug repo and there's been no action or update here for 3 weeks that requires action from corefx.  @barrytang feel free to reactivate if there is an issue here on the corefx side

[2016-06-02 03:44] stephentoub opened #9053 "MathTests.Pow test failing after recent coreclr change"
e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_tst/558/consoleText
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/fedora23_debug_tst/167/consoleText
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu16.04_debug_tst/347/consoleText
[code]
I believe this was caused by https://github.com/dotnet/coreclr/pull/4847
cc: @tannergoodin

[2016-06-02 04:32] tannergooding commented on #9053
@stephentoub, I understand the cause of failure.

`COMDouble::Pow` had a line removed which did roughly `if (IS_INFINITY(y) && (x == 1.0)) { return x; }`. The line was removed because MSVC is now producing the correct result.

However, `PAL_pow` was not updated accordingly. So it still has code that says roughly `if(IS_INFINITY(y) && (abs(x) == 1.0)) { return NAN; }`. This is causing non windows p

[2016-06-02 04:57] RussKeldorph commented on #9040
@gkhanna79 I'm fine with the JIT/ILAsm/ILDasm package names as well.  I'm not familiar with the versions.  Are those not obviously the correct ones?

/cc @pgavlin

[2016-06-02 06:15] gkhanna79 commented on #9040
@RussKeldorph The versions look correct and correspond to the ones in the package that is produced. This is merely to ensure you are in the loop.

[2016-06-02 06:15] roji commented on #8955
@GSPP I'm definitely not talking about the overhead of allocating the memory and copying the value - i.e. the cost of the boxing operation itself. The problem is that boxing allocates an object on the heap, producing potentially large amounts of garbage. This garbage creates pressure on the GC, which can be a problem for some applications. Basically it's a different kind of overhead compared to ma

[2016-06-02 06:30] joshfree commented on #7557
@ericstj how's this tracking?

[2016-06-02 07:28] erikzhang opened #9058 "Port ProtectedMemory"
I found the class ProtectedData in System.Security.Cryptography, but did not find the class ProtectedMemory.

[2016-06-02 07:53] weshaggard opened #9060 "ApiCompat issue with System.Diagnostics.Tracing"
@vancem I was looking at the ApiCompat errors with System.Diagnostics.Tracing library in the release branch and we are still seeing:

[code]

So while you made this an internal helper it is still public in the contract.  See https://github.com/dotnet/corefx/pull/7442/files#diff-4e6fc7375b9eeb2cbb687c1513ccdc14R124

So that means anyone using that method and trying to run on .NET 4.6.2 they will fa

[2016-06-02 07:58] weshaggard commented on #6939
@VSadov this actually needs to be fixed by RTM otherwise we will be shipping a stable package with invalid APIs.

[2016-06-02 08:21] weshaggard opened #9061 "ApiCompat issues with System.Text.RegularExpressions"
@Priya91 as part of PR https://github.com/dotnet/corefx/pull/7456 you baselined the following APIs which need to be fixed before we ship this package stable.

[code]

Currently with these baselined it means people that use these APIs and try to run on .NET 4.6.2 they will fail because those APIs do not exist. Since these APIs did not ship in .NET 4.6.2 you need to update the contract to be netstan

[2016-06-02 08:23] weshaggard commented on #6017
@VSadov this needs to be fixed before 1.0.0-rtm.

[code]
The above APICompat issues represent real erros and so we need to fix this before we ship this System.Linq package as stable otherwise people using these API will not actually work on desktop.

[2016-06-02 13:20] stephentoub commented on #8880
@sawilde, does OpenCover have a hard dependency on mscorlib.dll being named "mscorlib"?  The core library has been renamed for .NET Core from "mscorlib" to "System.Private.Corelib", and I'm wondering if that change explains why OpenCover is reporting 0 hits on everything.

[2016-06-02 13:50] benaadams opened #9063 "Thread.IsThreadPoolThread not exposed in coreclr"
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Thread.cs#L645-L649

Some times we want to queue things on the threadpool; but if we are already on the threadpool continue executing rather than queue - however the thread can't be checked if is threadpool thread currently.

Coreclr issue https://github.com/dotnet/coreclr/issues/5407

[2016-06-02 13:58] scott-martin commented on #1624
+1 for the interface.

Like others, I am a newcomer to HttpClient and need it in a class, started searching on how to unit test it, discovered this thread - and now several hours later I effectively have had to learn about it's implementation details in order to test it. The fact the so many have had to travel this road is proof that this is a real problem for people. And of the few that have spok

[2016-06-02 14:06] Kyagos opened #9064 "System.Data.SqlClient | UWP ARM Build"
## Win 10 IoT ARM Build

The .NET Core Foundation Libraries already got Builds for most common platforms and architectures.

Since the release of Windows 10 IoT Preview Version and announced support for Raspberry Pi Products many developers want to use it in a commercial way but the current build does not inherit the full core. The main issue with the current IoT-Build is the missing ability to co

[2016-06-02 14:40] gulbanana commented on #5843
Makes sense, but does that mean UWP will never support NETStandard1.5?

[2016-06-02 14:41] gulbanana commented on #5843
My concern here is that NETStandard1.5/later contains other api which *can* be supported in a sandbox environment, and I would like to build libraries which use that API and can be used in Store apps.

[2016-06-02 14:42] tannergooding commented on #9053
@stephentoub, I have a PR here: https://github.com/dotnet/corefx/pull/9065, which adds test coverage for areas which have custom handling in PAL but did not have tests covering them in the managed layer.

[2016-06-02 14:47] stephentoub opened #9066 "CI tests pass, but plugin fails to report results, failing leg"
[code]

e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_release_prtest/1749/consoleText
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/1790/consoleText

[2016-06-02 15:31] weshaggard commented on #5843
@gulbanana yes it is a goal for us to make UWP apps support a higher netstandard version but it isn't clear when we will be able to do that yet because it requires not only updates to the library packages but also updates to the UWP tool chain which need to be in-sync.

[2016-06-02 15:36] stephentoub opened #9068 "Two outerloop Process tests failing on OSX with "Permission denied""
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_osx_debug/55/consoleText
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_osx_release/58/consoleText
[code]
and
[code]
Both of these tests have a comment next to them "// This test requires admin elevation on Unix
"... maybe the runs where these fail isn't being done elevated?

[2016-06-02 15:50] brianrob commented on #8979
@ellismg, thanks for fixing the LTTng warnings.

[2016-06-02 16:17] ellismg commented on #9068
We are also seeing these failures (across all Unixes) in Helix which runs exclusively non elevated, but all outerloop tests.

@mmitche Did something change which the macs?  Do we now need to explicitly sudo our test runs?

[2016-06-02 16:21] mmitche commented on #9068
@ellismg Yes, it's not launching as non-elevated.  We'll need to disable sudo psswd for the commands we need.  We don't have the same flexibility as we did with the other Ubuntu machines (which have separate startup scripts and VMs).  We changed from using JNLP remoting, which was launching as root to launching VIA SSH from Jenkins itself, which is launching as non-root.  This is to avoid the disc

[2016-06-02 16:22] mmitche commented on #9068
Alternatively, we could dedicate some computers to root access only, but we have limited mac resources

[2016-06-02 16:24] ellismg commented on #9068
I am going to adding metadata to our tests that describe which ones require elevation.  It sounds like we should just start passing that in Jenkins for OSX and maybe try to get elevated coverage internally in Helix.

[2016-06-02 16:26] mmitche commented on #9068
@ellismg What about cases where we want coverage in PR builds?

[2016-06-02 16:27] mmitche commented on #9068
I am thinking that we can easily do both on the Jenkins side by setting up the right permissions on the machine and then running them as a developer would (with sudo)

[2016-06-02 16:28] davidsh commented on #8713
Closing this issue since the question was answered and HttpMessageContent is not part of CoreFx but part of ASP.NET. Please follow up directly in the ASP.NET repo for future inquiries about HttpMessageContent.

[2016-06-02 16:28] #8713 closed

[2016-06-02 16:36] joshfree commented on #9060
@vancem can you try to get this fixed in /rel today?

[2016-06-02 16:40] joshfree commented on #9066
Moving to 1.1 as this isn't blocking shipping from the /release/1.0.0 branch

[2016-06-02 16:42] joshfree commented on #8924
@ianhays what's the plan here?

[2016-06-02 16:46] davidsh commented on #6107
This issue was only opened up when we removed the TcpClient.Client property in the development phase of the 4.1 System.Net.Sockets contract.

However, based on feedback, we put the .Client property back.
#8603

So, this issue is not necessary anymore. The .Client property returns the Socket object and hence already has the LocalEndPoint and RemoteEndPoint properties.

[2016-06-02 16:46] #6107 closed

[2016-06-02 16:52] davidsh commented on #4934
@shmao

The WinHTTP team has fixed this bug in the native WinHTTP layer. The fix will be available in the Windows 10 update released later this year. You can try out the public flights of Windows 10 to confirm that your scenario is fixed.

Closing this issue.

[2016-06-02 16:52] #4934 closed

[2016-06-02 16:55] vancem commented on #9060
I will take a look now.

[2016-06-02 16:58] ellismg commented on #9040
That should be 1.6.0, right?

Regarding TestHost and ConsoleHost, I am surprised we are marking them as stable/shipping them at all.  I thought we only use the CLI host for now?

[2016-06-02 17:08] vcsjones opened #9070 "X509Certificate2.GetECDsaPrivateKey fails"
I have a certificate in the certificate store that `GetECDsaPrivateKey` fails on in Windows Server 2012 R2. It fails with the exception:

Parameter name: key

First, some details on the certificate. It is a self signed (for now) certificate with a 256-bit ECC key, the public key parameters are ECDSA_P256. The keyUsage extension is Critical:digitalSignature (80) and the EKU is codeSigning. The cert

[2016-06-02 17:09] bartonjs commented on #9070
Is this on .NET Core, or .NET Framework?  And, if Framework, which version?

[2016-06-02 17:15] ericstj commented on #7557
I believe @jhendrixMSFT is working on getting the existing package building in the core-setup repo.

/cc @MichaelSimons
We've actually changed the plan a bit since it's likely for NETCore SDK (UWP) to be out of sync with the latest CoreFx/CLI packages.

At RTM time we will make the NET Core SDK reference the 5.1.0 stable package and its closure.  This MSI will be responsible for satisfying the UWP

[2016-06-02 17:18] ianhays commented on #8924
It makes me nervous to change the signature so late into RTM, particularly since we don't know why it was changed in the first place. Testing on UWP is tricky and the implications of a major change with a day left in RTM and maybe one more test build before escrow scare me.

That said, I could think of a few reasons why we wouldn't want to have it inherit from FileStream (FileStream restrictions,

[2016-06-02 17:19] vcsjones commented on #9070
This was desktop .NET Framework net461. I'll try with rc2 in a moment.

[2016-06-02 17:20] joshfree commented on #9012
@ellismg is going to take a look

[2016-06-02 17:21] ianhays commented on #8983
@janvorli I've been running these tests for 3 hours now (~300 iterations) on latest without seeing a segfault.

[2016-06-02 17:25] bartonjs commented on #9070
@vcsjones Oh, good, I like when my psychic debugging works :smile:.

In Core this was #3771, which got fixed in net462 preview.

https://github.com/Microsoft/dotnet/blob/master/releases/net462/dotnet462-changes.md

So I'd expect that you'll see success in core-rc2, and if you install net462-preview it should also work there.

[2016-06-02 17:27] joshfree commented on #8880
Moving this to 1.1.0.  We can fix this in master and then look to port the changes back to 1.0.0, possibly during a servicing event or other related branch maintenance.

[2016-06-02 17:29] joshfree commented on #8645
@saurabh500 @corivera any update on this? Are you planning to have a fix ready to review today or tomorrow?

[2016-06-02 17:33] Priya91 commented on #9061
working on this

[2016-06-02 17:36] AtsushiKan commented on #9058
Is there a specific scenario that you need this for?

ProtectedData/Memory is very Windows-specific and normally not the sort of thing we'd add but we had very specific reasons for adding ProtectedData. ProtectedMemory requires apis that aren't in the UWP api list so adding them alongside ProtectedData would require forking the package.

So it would be good to know if the lack of this api is actua

[2016-06-02 17:37] ericstj commented on #8924
/cc @pallavit

We shipped it stable at UWP RTM (package 4.0.0) deriving from Stream. This isn't any sort of regression so we can move this request out of 1.0.0-rtm.

IIRC There were a couple reasons for stripping the base type.  We wanted to separate FileSystem out as an exchange type from all contracts.  We wanted Stream to be the exchange type.  You can implement IsolatedStorage without a full f

[2016-06-02 17:40] stephentoub opened #9071 "Add HttpContent.SerializeToStreamAsync overload with cancellation"
We should consider adding overloads for methods like SerializeToStreamAsync, so that cancellation can be passed in and threaded through to the underlying ReadAsync/WriteAsync operations performed.

Note: Read* methods are now covered in #32615
[code]

[2016-06-02 17:41] ianhays commented on #8924
I did a bit of digging into this.

IsoStream is a wrapper around a FileStream that enforces the stream's location be limited to a certain location. In the old code, IsoStream inherited from FileStream but overrided everything and used none of FileStreams public constructors. Instead, FileStream added a zero-arg constructor specifically for IsoStream:

[code]

Since IsoStream is no longer internal

[2016-06-02 17:52] vcsjones commented on #9070
Wow. Good call.

Here's what is going on, I think and why it works on Windows and not openssl.

When you create the key on Windows, the CNG key gets the "Key Usage" attribute set on the key in the KSP. Crucially, when you export the certificate with the CNG key to PKCS#12, the key usage gets set as an attribute in the PKCS#12 structure called Key Attributes.

When doing this with openssl, there is

[2016-06-02 18:01] joshfree opened #9072 "Add NuGet serviceable attribute to all packages"
Tracking bug on the CoreFX/CoreCLR/WCF side for https://github.com/NuGet/Home/issues/2870

@ericstj @gkhanna79 @rohit21agrawal

[2016-06-02 18:06] ianhays commented on #8924
Thanks Eric!

@niemyjski Could you provide more information on how the FileStream->Stream change broke your API signature i.e. in what way were you relying on the IsoStream?

Changing the IsoStream to inherit from FileStream would require some major changes both to the IsoStream implementation as well as to FileStream since the internal zero-arg FileStream constructor is no longer an option. It's

[2016-06-02 18:07] joshfree commented on #9040
@ellismg yes.  That's the RC2 list as a starting point.

[2016-06-02 18:09] weshaggard commented on #9040
I agree about TestHost/ConsoleHost we don't need to ship them stable. Can we get a diff of this an all our packages so we can see the delta? Another one I didn't see in the list is System.Security.SecureString which we are plan to ship now.

[2016-06-02 18:23] stephentoub opened #9075 "[CurlHandler] HttpClientHandler.SendAsync on Unix completes at start-of-body, not end-of-headers"
The implementation currently looks for the first byte of the body (or no more processing to be done) as an indication that the response message should be published, but it should really be when the last byte of the headers are received.  Ideally we'd find some mechanism to be notified by libcurl of end-of-headers (including end-of-headers for the final request when doing automatic redirection) so

[2016-06-02 18:30] Priya91 opened #9076 "Port Regex APIs to net463"
[code]

[2016-06-02 18:31] Priya91 commented on #9076
#9074

[2016-06-02 18:32] tannergooding commented on #9053
@stephentoub, this should probably stay open until #9069 is merged (after CoreFX is consuming a CoreCLR build that includes https://github.com/dotnet/coreclr/pull/5399). That way the `[ActiveIssue]` attribute gets removed and the new tests covering the currently failing scenario are in.

[2016-06-02 18:36] ericstj commented on #9040
Ok, creating that here https://gist.github.com/ericstj/7eb848890c19e992c928fe26486235bf  will ping when I have it filled in to the best of my ability.  Should we have specific leads sign off on which packages are in there as well as that they have all of their packages listed?

[2016-06-02 18:40] ellismg commented on #9012
https://github.com/dotnet/cli/issues/3350 is a CLI problem that is causing a unix asset to be deployed instead of the Windows one.  Even if we deploy the correct asset, we still end up with p/invokes into kernel32 (which won't work) but we'd at least be able to provide some light-up mono implementation via late-binding.

[2016-06-02 18:45] stephentoub commented on #8979
After my fixes, Matt's fixes, and Alex's fixes, it looks like we're down to just these four warnings remaining:
[code]
@bartonjs, since these are mostly crypto, could you take a look?

[2016-06-02 18:47] ericstj commented on #9072
I already have a prototype: https://github.com/ericstj/buildtools/commit/86343cb6efe41e3235e6816f2b97bb1f90c2e932

Right now we're blocked on getting real nuget bits that implement the feature.

[2016-06-02 18:49] YehudahA commented on #1624
@scott-martin, ```HttpClient``` does nothing, he just send the requests to ```HttpMessageHandler```.

Instead of test the ```HttpClient``` you can test and mock the ```HttpMessageHandler```. It's very simple, and you can also use [richardszalay mockhttp](https://github.com/richardszalay/mockhttp).

[2016-06-02 18:51] khdang commented on #8968
So far I haven't been able to confirm that this work in RC1.
@aelij Could you share the package versions that works for you?

[2016-06-02 18:54] aelij commented on #8968
@khdang Check out this project.json
https://github.com/aelij/AsyncFriendlyStackTrace/blob/master/src/AsyncFriendlyStackTrace.Test/project.json

[2016-06-02 18:58] corivera commented on #8645
@joshfree Currently trying to diagnose the problem.

[2016-06-02 19:00] corivera commented on #8645
@kostix Do you get this error on any other Linux distro, or is it limited to just Debian? If you haven't tested this, that's fine. Just wondering.

[2016-06-02 19:27] gkhanna79 commented on #8643
Fixed with https://github.com/dotnet/corefx/pull/9038 in release branch

[2016-06-02 19:27] #8643 closed

[2016-06-02 19:31] kostix commented on #8645
Sorry, I happen to use Debian whereever I run GNU/Linux systems.

I have a couple of Wheezy (7.x) installations around but since corefx
RC2 explicitly states it's not a supported platform I see little reason
trying things there.

[2016-06-02 19:34] CIPop commented on #5116
Let's actually track this in one place: #5120.

[2016-06-02 19:34] #5116 closed

[2016-06-02 19:45] kostix commented on #8645
@corivera, a dumb question: did you try `telnet mssql2005.server.host 1433` to verify TCP connectivity to that box is actually OK?

You can also install `tcpdump` and `wireshark-common` there, capture the traffic to your server and then run `editcap` on the resulting dump to produce a file suitable for digestion by NM on your development workstation.  Or just run Wireshark right there on Ubuntu if

[2016-06-02 19:47] CIPop commented on #6897
@ianhays, @pgavlin and I ported everything we had in ToF to CoreFX. New tests were actually added.
I know of a single instance where @ericeil merged the System.Net.Sockets.Legacy within the System.Net.Sockets tests. Also, the Sockets perf tests are not ran part of CI.

@ericeil @stephentoub, did we loose any tests? Any idea why we're not seeing the same coverage here?

[2016-06-02 19:50] CIPop commented on #6897
Forgot to mention: I've diffed all System.Net ToF and CoreFX tests yesterday and opened the following tracking issues, mostly to get UWP coverage: #9049, #9044

[2016-06-02 19:58] joshfree commented on #6767
@rahulkotecha @terlochan what about for non-RHEL distros? What about OS X?

[2016-06-02 20:01] CIPop commented on #5296
@himadrisarkar @stephentoub I think this is a System.Net item, not a System.Data based on the title and original request from @clrjunkie.

[2016-06-02 20:08] joshfree commented on #9076
This should probably be a TFS bug against .NET 4.6.3; /cc @AlexGhiondea as FYI

[2016-06-02 20:11] ianhays commented on #6897
There are a ton of reasons coverage could differ and missing tests is only one of those reasons. It's certainly possible that differences in execution result in touched lines differing between runs. It's also possible that the ToF tests cover exceptions that aren't easily testable from an xunit test and so those were left out in porting to CoreFX. Sometimes the missing lines are from classes or me

[2016-06-02 20:12] richardszalay commented on #1624
@scott-martin as was mentioned only few comments up, you don't inject HttpMessageHandler. You inject HttpClient, and inject _that_ with HttpMessageHandler when you are unit testing.

[2016-06-02 20:15] gulbanana commented on #5843
Ouch. Well, good luck bringing the threads together.

[2016-06-02 20:40] corivera commented on #8645
@kostix Connectivity from Windows is fine.

[2016-06-02 20:42] scott-martin commented on #1624
@richardszalay thanks for the tip, that does work better at keeping low-level abstractions out of my implementations.

@YehudahA, I was able to get it working by mocking the HttpMessageHandler. But "getting it working" is not why I chimed in. As @PureKrome said, this is a problem of discover-ability. If there was an interface, I would have been able to mock it and be on my way in a matter of minut

[2016-06-02 20:57] CIPop commented on #6897
Thanks for sharing @ianhays. I don't remember us leaving any of the tests behind because it wasn't easily testable from xunit. Some of the tests did get converted to OuterLoop but should still cover roughly the same.

[2016-06-02 20:58] AlexGhiondea commented on #9076
The 'netfx-port-consider' tag triggers the creation of the TFS bug.

[2016-06-02 21:54] saurabh500 commented on #8645
@kostix The connectivity to the DB machine that we are using is fine.

We have however facing a timeout in the Post Login phase of the connection

`
Unhandled Exception: System.Data.SqlClient.SqlException: Connection Timeout Expired.  The timeout period elapsed during the post-login phase.  The connection could have timed out while waiting for server to complete the login process and respond; Or i

[2016-06-02 22:16] stephentoub commented on #5296
Potentially.  I just labeled based on the clarification of desired outcome: "Stress test SqlClient under Linux using Azure benchmark infrastructure"

[2016-06-02 22:32] #6017 closed

[2016-06-02 22:44] MattGal opened #9083 "UCRT dependencies means running apps using System.IO.Compression on Windows 7 can not "just work"."
@joshfree , @gkhanna79
CLRCompression.dll, as built for the win7-* runtime ID in CoreFX today, has a dependency on the following:

API-MS-WIN-CRT-HEAP-L1-1-0.DLL
API-MS-WIN-CRT-RUNTIME-L1-1-0.DLL

When publishing the application from dotnet.exe, for instance, these files are not included.  This means that when users want to make a cross-platform .NET Core application that works on Windows 7, they

[2016-06-02 22:49] joshfree commented on #9083
@gkhanna79 what's the plan forward here?  This is a really bad user experience.

@Petermarcu

[2016-06-02 23:01] VSadov opened #9085 "Enumerable Append and Prepend should be ported to the netfx"
Enumerable.Append and Enumerable.Prepend are new public API added in CoreFX

[2016-06-02 23:02] VSadov commented on #9085
related to https://github.com/dotnet/corefx/pull/9079

[2016-06-02 23:04] VSadov commented on #6939
Fixed by https://github.com/dotnet/corefx/pull/9079

[2016-06-02 23:04] #6939 closed

[2016-06-02 23:06] VSadov opened #9087 "NETFX: Port Compile(System.Boolean) overloads in Linq.Expressions to netfx"
Preferrable with full interpreter support.

It would be acceptable just to port the API and fallback to compiling since API does not strictly require interpretation.

[2016-06-02 23:07] VSadov commented on #9087
related to https://github.com/dotnet/corefx/pull/9079

[2016-06-02 23:09] khdang commented on #8968
For NetCore, the version of System.Runtime.Serialization.Xml you mentioned is 4.1.0-beta-23516.

I've tried with some earlier and later versions including 4.0.10, 4.1.0-beta-23419, 4.0.11 and all of them have this issue. So if this works in RC1 it could be due to issue other than serialization.

[2016-06-02 23:10] gkhanna79 commented on #9083
Static linking of CRT puts the servicing burden of CRT on us. uCRT is a consistent CRT implementation across all Windows platforms and an OS component that is available as part of the OS update. If someone has WU disabled, then they are already in a bad state with regards to servicing.

@blackdwarf is working on his pre-req dependency document that will call this out (and similar dependencies for

[2016-06-02 23:12] vancem commented on #9060
Pull request is available.  Mail has ben sent to .NetShiproom.

[2016-06-02 23:15] jamesqo opened #9088 "The build.cmd script should accept more common options"
Currently to build the repo as release you have to do this:

[code]

This is very error-prone to typos, since you can write something like `/p:ConfigurationGrouo=Release` and go away from your computer for 40 minutes only to realize you built on Debug configuration. We should provide `--debug` and `--release` shortcuts like is done in [the `build.sh` script](https://github.com/dotnet/corefx/blob/m

[2016-06-02 23:21] PureKrome commented on #1624
:arrow_up: this. It's all about, this.

[2016-06-02 23:26] clrjunkie commented on #5296
I thought it was good approach to address socket issues affecting database connectivity first as RTM seemed just around the corner. Idealy, the socket api would be stress tested independent of any consumer in a physical LAN enviroment.

[2016-06-02 23:40] Priya91 commented on #9061
this is merged.

[2016-06-02 23:40] #9061 closed

[2016-06-02 23:56] sawilde commented on #8880
@stephentoub - Alas yes - the cuckoos attach to `System.CannotUnloadAppDomainException` which it looks for when mscorlib is loaded.

I suspect the change is easy - see https://github.com/OpenCover/opencover/blob/0f406744660456ec67e4aa3a6d77d2e28a8788ee/main/OpenCover.Profiler/CodeCoverage_Cuckoo.cpp#L221 - but it depends where you keep that class in your new scheme.

You could try the `-oldstyle`

[2016-06-03 00:02] stephentoub commented on #8880
Thanks, @sawilde. I'll give that a try.

[2016-06-03 00:07] victorgu2001 opened #9091 "Sometimes Socket.Dispose() doesn’t trigger ws2_32!closesocket() in NanoServer"
I have a full SKU physical machine on which I created a Nanoserver virtual machine (i.e., VM). If I run below PowerShell command on physical machine twice, the second command sometimes will either hang or fail. This is due to the fact that Socket.Dispose() sometimes doesn’t trigger ws2_32!closesocket() in Nanoserver. Statistically the repro rate is about 50%, but for the same physical machine-VM p

[2016-06-03 00:10] jhendrixMSFT opened #9092 "Fix blocking issues in official builds"
This is a port of the following commits.

329de5ea298885637d01ae85186a42436a375b8b
7307337eee2884a631d0c5495f360a0aa77b2d40
23850bd98a17495c24392a5b2d47a52fc7b46e18

All of these changes are to fix issues that affect the official build (reliability and/or correctness).

[2016-06-03 00:47] blackdwarf commented on #9083
@gkhanna79 this is not so much about pre-reqs as it is about the promise of self-contained applications. However, this is the same on Linux, right? You need various native dependencies in order to run your application, depending on what it does (for instance, you need a specific version of `libssl` if you are going to "talk" HTTPS).

[2016-06-03 00:51] richardszalay commented on #1624
While I completely agree that it could be more discoverable, I'm not sure how it could take "several hours". Googling "mock httpclient" brings up this [Stack Overflow question](http://stackoverflow.com/questions/10693955/stubbing-or-mocking-asp-net-web-api-httpclient) as the first result, in which the two highest rated answers (though, granted, not the accepted answer) describe HttpMessageHandler.

[2016-06-03 00:51] gkhanna79 commented on #9083
Correct - this is what you are calling out in your document as well.

The only way this is achieved is by taking on servicing burden of CRT. Alternately, CLI could carry the uCRT binaries (see the very end of https://blogs.msdn.microsoft.com/vcblog/2015/03/03/introducing-the-universal-crt/) with itself and publish it alongwith the app when publishing it as standalone (however, the security burden

[2016-06-03 00:54] blackdwarf commented on #9083
@gkhanna79 actually, I was making a point that we have this problem across the board, not just for Windows. The core problem is only solved, as it currently stands, if `dotnet publish` packs native dependencies that are needed with the self-contained app for **all platforms we support**. Now, this is hard, but regardless of that, it is also quite risky.

Another option would be to not depend on na

[2016-06-03 00:56] gkhanna79 commented on #9083
Correct and correct.

[2016-06-03 00:57] blackdwarf commented on #9083
I cannot really think of a "smart" way to solve this and I agree that the UX is not good. For now, the guidance in the docs I've written calls out the need to prep the machine with .NET Core needed native dependencies in order to run **any .NET Core app**.

[2016-06-03 01:00] joshfree commented on #9083
which versions of Windows does this impact?

[2016-06-03 01:00] blackdwarf commented on #9083
@gkhanna79 man, I think you just like assigning issues to me. :)

[2016-06-03 01:01] gkhanna79 commented on #9083
@blackdwarf Assigning to you to reference this in your pre-req docs.

[2016-06-03 01:01] blackdwarf commented on #9083
@joshfree @MattGal mentioned win7-* RIDs in the original issue. I would assume any < Win 10 are impacted?

[2016-06-03 01:02] gkhanna79 commented on #9083
@joshfree Pre-Win10 machines that dont have SharedFX installed and do not have Windows Updates enabled.

[2016-06-03 01:07] blackdwarf commented on #9083
@gkhanna79 is this a mandatory update?

[2016-06-03 01:11] gkhanna79 commented on #9083
See https://blogs.msdn.microsoft.com/vcblog/2015/03/03/introducing-the-universal-crt/

[2016-06-03 01:29] blackdwarf commented on #9083
Hm, this blog post really doesn't say if this is a mandatory update. If its not, this means that someone may skip it potentially. Doesn't really change what we talked about here, but WU in this case only helps as a distribution mechanism.

[2016-06-03 02:01] PureKrome commented on #1624
NP - we still agree to disagree. Tis All good :)

[2016-06-03 02:12] niemyjski commented on #8924
We have public interfaces that people can have custom implementations for storage and he like and this changed our Api signature from using file streams to stream... People will need to update there code after upgrading our nuget package..

Also the name of the class should have changed after the base class change as per the frameworks guidelines..

Finally, wouldn't we want those iso security fea

[2016-06-03 02:31] tannergooding commented on #1151
Is there any chance this can move forward with an API Design Review? At the very least, I would like to expose single-precision equivalents to the existing double-precision functions (the ones in `System.Math`).

It would be very helpful (and would allow me to submit a PR against both CoreFX and CoreCLR) if I knew where to expose the new APIs.

The bare minimum that would need to be exposed (so th

[2016-06-03 03:28] luisrudge commented on #1624
you can close this issue, since mscorlib is coming back with all it's baggage :)

[2016-06-03 03:41] SunnyWar commented on #1151
I love this proposal.

[2016-06-03 03:45] jhendrixMSFT commented on #9092
Resolved with https://github.com/dotnet/corefx/pull/9090

[2016-06-03 03:45] #9092 closed

[2016-06-03 03:49] jhendrixMSFT opened #9094 "Port build fixes to unblock official builds"
Need to port the following commits from master to unblock building on new Linux distros.

3e3ab10bc37fb4379b7e38366ca0978ce8efa4b0
1d8bac52febbaf4f1cc626cc8ef4c030054e92ef
02f40870f59eda6dae5c55550670dc4b433cb59e
217289492a53b9972a9c0f9d0ce3503c422fe601

[2016-06-03 04:08] aelij commented on #8968
That's weird, because the project I linked to definitely worked. Maybe I'm wrong and it was a beta rather than RC1.

Even so, is there no chance of fixing this? It's definitely a regression from the desktop framework.

It looks like that it's ignoring ISerializable during deserialization, but using it during serialization. Does that make sense?

[2016-06-03 05:00] jhendrixMSFT commented on #9094
Fixed in https://github.com/dotnet/corefx/pull/9093

[2016-06-03 06:02] mellinoe commented on #1151
Personally, I like the proposal. I am very familiar with the naming scheme. Unity uses the `Mathf` name, so I've seen it a million times and already know what it means. I suspect that other folks on the team might have objections to the name since it is only one character different from `Math`, and we have also shied away from using the "f" suffix elsewhere (we briefly considered it for the `Vecto

[2016-06-03 06:20] mellinoe commented on #9088
I think if we add some options, we should try to match what is available in `build.sh`. TBH I'd prefer if both scripts took exactly the same arguments, minus platform-specific ones (cross, clang version, etc.). @maririos Any thoughts here?

[2016-06-03 06:37] Angelixion commented on #8907
I cannot share the project, but i used this (mscorlib)
https://msdn.microsoft.com/en-us/library/system.resources.resourcemanager.getresourceset(v=vs.110).aspx

it worked for me in RC1 but now i cannot do it.

[2016-06-03 06:48] cdrnet commented on #1151
Note that the term "float" (where the "f" suffix comes from) does not stand for System.Single in all .Net languages (e.g. in F# `float` is System.Double while `float32` is System.Single).

[2016-06-03 07:04] erikzhang commented on #9058
It is useful to protect in-memory data, such as key, password and so on.

[2016-06-03 08:59] kenticomartinh commented on #8622
@nmunday maybe there already is an option to do that. SqlBulkCopy now accepts DbDataReader as an input instead of DataTable so I expect that this could work similar way, try pass DbDataReader instead of DataTable as the parameter. If not, I second that it should be possible somehow.

[2016-06-03 09:49] rahulkotecha commented on #6767
The fix has been pushed upstream in MIT Kerberos source (https://github.com/krb5/krb5/pull/436). Hence we can expect the fix to be available on all *nix platforms, starting krb5-1.15. As per RedHat engineer, the fix will be backported to RHEL 7 which will have 1.14+ patches.

[2016-06-03 12:33] kostix commented on #8645
@saurabh500, is it possible to enable debug logging on the server? It's interesting what the server thinks about the malfunctioning client.

I'd also try to see at the traffic dump captured on Ubuntu in NM: it could happen you are merely sending malformed TDS message.  Say, in the message header you advertise it has N bytes of payload and then send M < N, so the server waits for the rest and event

[2016-06-03 12:54] stephentoub commented on #8482
@chcosta, is this still an issue?  The surface area should be right now.

[2016-06-03 12:55] stephentoub commented on #8926
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1908/consoleText

[2016-06-03 13:52] stephentoub commented on #8880
Thanks, @sawilde. The ```-oldStyle``` workaround appears to have unblocked us.

[2016-06-03 13:52] #8880 closed

[2016-06-03 14:27] SamuelEnglard commented on #1151
We have done `PointF` and `RectangleF` in the framework though

[2016-06-03 14:46] bartonjs commented on #5314
This was designed as #7688, and then implemented.  Closing.

[2016-06-03 14:46] #5314 closed

[2016-06-03 15:00] ianhays commented on #8983
I ran them all night and didn't see a segfault. Closing.

[2016-06-03 15:09] tannergooding commented on #1151
`Math32` seems like another logicial possibility that would avoid ambiguity for languages (such as F#) where `float` or `f` represents the `System.Double` type.

I think some combination of `Math` and `Single`, `Scalar`, or `32` is the key to having something unambiguous and easily recognizable as to what it does.

[2016-06-03 15:16] joshfree commented on #9060
Closing as this has been ported to release

[2016-06-03 15:16] #9060 closed

[2016-06-03 15:28] joshfree commented on #6767
Thanks @rahulkotecha.  I'll switch this to a release notes bug.  Please work with @leecow to get this extra information tracked in the release notes and known issues

[2016-06-03 15:46] #9094 closed

[2016-06-03 16:15] #7436 closed

[2016-06-03 17:02] ericstj opened #9108 "System.IO.Compression ZipArchive improvements"
I've been spending some time with zips and found our APIs lacking in a few places:
1. Cannot rename an entry, have to remove it and re-add-it
2. Cannot open multiple entries at once since they seem share the same underlying stream.
3. Cannot control the order/re-order entries in the zip

[2016-06-03 17:38] maririos commented on #9088
Yes I agree that the cmd/sh scripts should be as similar as possible. The other dev workflow scripts (build-packages, build-tests, clean) are as similar as they can. We didn't wanted to change build.cmd too much by adding parsing commands logic but we could do that and have parity in build.cmd too.

[2016-06-03 17:56] khdang commented on #8968
@zhenlan and I verified that this doesn't work on RC1 with serialization package version 4.1.0-beta-23516. On NetCore ISerializable is not in the contract so we handled exception a bit different compared to Desktop. That may be the reason of this issue.

[2016-06-03 18:16] ianhays commented on #9009
These errors are caused by Helix not running the tests with elevated privileges. Matt Ellis is adding a trait to declare that a test requires elevated privileges in #9080. I'll push a quick PR adding that trait to these tests whenever he merges his PR.

[2016-06-03 18:41] ellismg commented on #9009
Ian, I thought that these tests were conditional on `CanCreateSymbolicLinks`?  Do you know why the tests would even run in this case?

[2016-06-03 18:52] ramarag commented on #8907
You are not supposed to build against mscolrib for .Net Core. As I mentioned above this scenario is not supported on .Net Core. But we should be happy to look into adding the capability if  we get to know more about what you would like to do with the enumerated resources.

cc @tarekgh

[2016-06-03 18:59] jhudsoncedaron commented on #5381
Found this by accident.

Assembly.EscapedCodeBase is something we've had to depend on for its ability to locate the real assembly directory when hosted by IIS, while the normal path function returns something stupid (IIS scratch directory).

[2016-06-03 18:59] stephentoub opened #9114 "VerifyCrlCache test failed in release branch: "Chain should not build validly""
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_ubuntu14.04_debug_prtest/1/consoleText
[code]

[2016-06-03 19:10] ianhays commented on #9009
Weird, huh? `CanCreateSymbolicLinks` only checks that we can make a symlink to a file and the test failures above all make directory symlinks. If a system allowed File symlinks but not directory symlinks, we would see those failures.

That'd be my first guess. Second guess would be we can create a symlink - to a directory or file - without issue, but then when we try to *do* something to it (e.g.

[2016-06-03 19:22] benaadams commented on #2209
unpacklo and unpackhi for example converting ascii to c# utf-16 string (8 bit to 16 bit widening)

Few others if you want to do utf8 e.g. https://woboq.com/blog/utf-8-processing-using-simd.html

[2016-06-03 19:35] dsgouda opened #9116 "System.IO.Compression perf tests failing on linux machines"
When running the System.IO.Compression perf tests locally on a linux machine, a bunch for FileNotFoundExceptions show up

Eg.: System.IO.Compression.Tests/netcoreapp1.0/GZTestData/Canterbury/GZCompressed/grammar.lsp.gz not found

To repro the error:
On a linux machine, build the CoreFX repro and run the following command
[code]

[2016-06-03 19:35] sqmgh commented on #8622
You can just use an `IEnumerable<SqlDataRecord>` in place of a DataTable

[2016-06-03 19:41] dsgouda opened #9118 "System.IO.Pipes perf tests never finish exection on linux machine"
When running System.IO.Pipes perf tests on a linux machine, the tests seem to run infinitely and need to be killed/timed out

To repro the error:
On a linux machine, build the CoreFX repo and run the following command

`Tools/corerun Tools/MSBuild.exe src/System.IO.Pipes/tests/System.IO.Pipes.tests.csproj /t:BuildAndTest /p:Performance=true /p:OSGroup=Linux`

[2016-06-03 19:45] ianhays commented on #9116
Just the perf tests?

[2016-06-03 19:48] stephentoub commented on #9116
Can you add /p:XunitOptions="-parallel none -showProgress", and if it hangs, see which test started but didn't finish?

[2016-06-03 19:50] ianhays commented on #9116
@stephentoub did you mean to comment on https://github.com/dotnet/corefx/issues/9118?

[2016-06-03 19:50] stephentoub commented on #9118
Can you add  /p:XunitOptions="-parallel none -showProgress" , and if it hangs, see which test started but didn't finish?

[2016-06-03 20:01] dsgouda commented on #9116
@ianhays yes, it's just the perf tests

[2016-06-03 20:09] ianhays commented on #9118
Doesn't look like that works with the perf runner now. I don't see a way to pass args to the perf runner's invocation of the regular test runner:

[code]

[2016-06-03 20:23] jhendrixMSFT opened #9122 "Port build fixes from master to unblock official builds."
For SqlClient, specify the runime package as a dependency instead of a
runtime dependency.
Port the following commits to unblock the official test build.

01c56fc
6753ec4
7f051c9

[2016-06-03 20:29] ericstj commented on #9009
You can create file symlinks unelevated but directory symlinks require elevation.

[2016-06-03 20:30] ericstj commented on #9009
N/m, I misspoke all symlinks require elevation.  File hardlinks do not.

[2016-06-03 20:56] bartonjs commented on #9114
This very, very strongly suggests that it was a parallel execution problem on CI.

[2016-06-03 20:59] saurabh500 commented on #8645
We will continue to investigate this issue but may not be targeting a fix for RTM. I verified that the connectivity from Sql Server 2008 and above is working.

[2016-06-03 21:11] CIPop commented on #3635
This was incorrectly closed: we have several ActiveIssue pointing to it.
Reopening & changing the title.

[2016-06-03 21:12] stephentoub commented on #9114
As in a bug in the test, or as in an issue that multiple apps might hit when running on the same machine?

[2016-06-03 21:13] joshfree commented on #8944
@ericeil are you actively trying to reproduce this seg fault with a loop run or is there no further action being taken?

[2016-06-03 21:17] joshfree commented on #8663
Fixed by https://github.com/dotnet/corefx/pull/9110 for /release/1.0.0

[2016-06-03 21:17] stephentoub commented on #9118
I didn't realize a separate runner was used :(

[2016-06-03 21:20] dsgouda commented on #9118
@stephentoub yes we use a separate runner to execute the microbenchmark tests, I doubt if it is possible to repro the same issue without using the xunit performance runner
@brianrob Can you confirm this

[2016-06-03 21:21] bartonjs commented on #9114
A requirement that the test has of operating by itself.  It first deletes the cache entry, and makes sure that everything is behaving "as expected" with no cache, then causes the cache to fill.  If anything else in/out-of-proc populates the cache between clean and test, it'll fail a precondition.

So, either test (it should be using resources unique to that test so no parallelism gets in the way)

[2016-06-03 21:23] ericeil commented on #8944
I've been unable to reproduce this.  Closing this as non-actionable; hopefully this was the same issue as one of the other segfault/AV issues that can be reproduced.

[2016-06-03 21:23] #8944 closed

[2016-06-03 21:28] stiliev opened #9124 "HttpClient.GetAsync throws an exception, if server response has more than one"WWW-Authenticate: Basic" header with different realm"
HttpClient.GetAsync throws an exception, if server response has more than one "WWW-Authenticate: Basic" header with different realms. The sample client code is:
`

                var handler = new HttpClientHandler();
                handler.UseDefaultCredentials = false;
                handler.Credentials = System.Net.CredentialCache.DefaultCredentials;

                handler.AllowAutoRedirec

[2016-06-03 21:36] CIPop commented on #5296
@clrjunkie I agree with your observation. Our SocketsPerformance tests have been disabled with #3635 and, since then, the code got stale and has some build issues in CoreFX. I'll see if I can fix the build then move them in the OuterLoop category so that they can at least be executed on a private box using loopback.

I'll leave this issue to track System.Data performance investigations and keep #3

[2016-06-03 22:00] vindicatorr commented on #7270
Oh man, something is out of whack. Now I can barely run any of the tests.
[code]
They're failing with the same old "0x80004005":
[code]

It looks like it might be related to CoreLib (https://github.com/dotnet/coreclr/issues/5319)
strace:
[code]

[2016-06-03 22:31] CIPop commented on #3635
Looks like the SocketsPerf APM tests were not brought back with the APM changes to the Sockets APIs. Using this item to bring them back.

@stephentoub @ericeil Outside of #7196, do you remember if any other System.Net tests were removed?

[2016-06-03 22:36] jhendrixMSFT commented on #9122
Fixed in https://github.com/dotnet/corefx/pull/9111

[2016-06-03 22:36] #9122 closed

[2016-06-03 22:38] blowdart opened #9127 "Add greater validation to HttpClient SSL cerificate validation"
Add more checks in addition to the host name, validity periods and chaining to trusted roots.

[2016-06-03 22:48] #9053 closed

[2016-06-03 22:58] CIPop commented on #9091
@victorgu2001 It's unclear how your code is using CoreFX.

The call to Socket.Dispose() is not guaranteed to call closesocket() in certain cases. See the complicated implementation at https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L5143.

To better understand this please provide the following:
1. An isolated repro of the Sockets pattern you are

[2016-06-03 23:02] CIPop opened #9130 "System.Net.Security: Authentication failed because the remote party has closed the transport stream."
In #9115:

On a `Standard_D3_v2` Azure machine:

Windows_NT Debug Build and Test failed because:

[code]

[2016-06-03 23:05] ellismg commented on #9130
BTW, "Windows_NT" is what we call Windows Server 2012 R2

[2016-06-03 23:58] CarolEidt commented on #2209
@benaadams I think it makes sense to have a collection of conversions operations. See #1605

[2016-06-04 00:09] benaadams commented on #1605
unpacklo and unpackhi for example converting byte ascii to c# utf-16 string (8 bit to 16 bit widening)

Few others if you want to do utf8 e.g. https://woboq.com/blog/utf-8-processing-using-simd.html

going from @mellinoe last comment that would be something like

[code]

[2016-06-04 00:11] benaadams commented on #2209
@CarolEidt yep, that is the right issue for it, thank you for directing me :+1:

[2016-06-04 00:23] #8968 closed

[2016-06-04 00:44] nmunday commented on #8622
@sqmgh where would I find such a class (SqlDataRecord) in .NET Core? I tried the docs and intelisense in VS and it does not seem to be there. In the full framework SqlDataReader implements IDataRecord but not so in .NET Core.

[2016-06-04 00:47] nmunday commented on #8622
@kenticomartinh that may work for some of the SP's that do straight inserts. Many SP's contain other logic that is executed at the same time, some SP's do not even end up inserting data at all. I will look into SqlBulkCopy for sure and use it when it does the job. Thanks.

[2016-06-04 00:48] vindicatorr commented on #7270
Looks to be 2 steps back (or rather 111).
[code]
Looks like the structure of the test output is different now too (no more "EXECUTION SUMMARY")

[code]
I'm seeing a theme here, so a grep of 'The specified module could not be found' returns (trimming consecutive duplicates):
[code]

[2016-06-04 01:07] #9116 closed

[2016-06-04 01:57] sawilde commented on #8880
I am so glad I didn't delete that code 3 years ago :)

[2016-06-04 01:59] stephentoub commented on #8880
Hah :) Me, too.

[2016-06-04 02:10] bartonjs opened #9142 "Unix SslStream may not be sending intermediate CA certs when required"
As a followup to #9109 I was looking for the equivalent code in SslStream, and there doesn't seem to be any.

This issue is currently "determine if there really is a problem", with the implicit "if there was, fix it".

This is somewhat hard to test, since the only way to get the intermediate certs on the request given the current API (I think) is to have them in a CA store; but if they're in a CA

[2016-06-04 02:18] bartonjs opened #9143 "Dispose unneeded certs in chain walk"
Followup to #8978.

OpenSslChainProcessor.FindCandidates causes a lot of X509Certificate2 objects to be spawned (https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs#L495-L498).  When the toProcess queue is empty it should find all certificates not referenced in `candidates` and Dispose() them

[2016-06-04 02:42] tannergooding commented on #1151
https://github.com/dotnet/coreclr/pull/5492 -- Probably won't get merged/approved quite yet, but maybe it will help push things along ;)

[2016-06-04 03:50] davidsh commented on #9127
We should also consider if SslStream should be enhanced as well.

And in terms of HttpClient, those enhancements would have to be at the native OS level (WinHTTP for Windows, Curl for *Nix).

[2016-06-04 03:50] davidsh commented on #9127
cc: @stephentoub

[2016-06-04 03:59] jhudsoncedaron opened #9145 "Interruptable read on a pipe"
Challenge: Try reading from System.Console.StandardInput.BaseStream without blocking a thread such that another thread can't interrupt the read without resorting to P/Invoke.

ReadAsync does indeed return immediately, but the Task's cancellation token isn't bound to the task thanks to "Tuple.Create(this, buffer, offset, count), CancellationToken.None, " in Stream.cs and no descendant path to Windo

[2016-06-04 04:54] bartonjs commented on #8657
I haven't been able to reproduce it, which has significantly hindered my ability to assess what a fix might be.  There's clearly some bad here, but I don't think we're going to make much progress on this for RTM without a fast-acting test case.

Moving to 1.1.

[2016-06-04 06:56] tannergooding commented on #1151
Posting here as well... Some perf numbers from dotnet/coreclr#5492

All performance tests are implemented as follows:

100,000 iterations are executed
The time of all iterations are aggregated to compute the Total Time
The time of all iterations are averaged to compute the Average Time
A single iteration executes some simple operation, using the function under test, 5000 times
All of the functions

[2016-06-04 08:06] nietras commented on #1605
For image processing, machine learning we often used conversions so adding these would be a great addition. However, we really need all possible conversion and not a subset.

Example, often in image processing source data is in `byte` (unsigned 8-bit) and many operations (e.g. addition, subtraction, kernels, etc.) then need to convert this to `short` (signed 16-bit) before doing these operations t

[2016-06-04 08:36] ericstj commented on #8926
Again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1950/consoleText

[2016-06-04 09:57] nietras commented on #1605
One extra thing, I do not like that you are always forced to get *both* `hi` and `lo`, there are cases where we only need one or the other. And for some conversions it is just too expensive to do both. So I would at least split them so you actually have something like:
[code]

Basically, as thin and direct calls as possible to the underlying instructions.

Regarding a generic solution, It should b

[2016-06-04 14:16] Noeek commented on #6180
I had the same issue too.
When I publish my app to iis on server 2008, it went so slow,
but it works good on my pc(which I use cmd: "dotnet run")

and then, I change my code with " **handler.UseProxy = false** ", seems no problem

[2016-06-04 18:39] weshaggard commented on #8835
Fixed by https://github.com/dotnet/corefx/commit/329de5ea298885637d01ae85186a42436a375b8b which now uses the properties we use for validation and get updated when we do our updates.

[2016-06-04 18:39] #8835 closed

[2016-06-04 19:49] jmurphzyo opened #9155 "HttpClient and PreAuthenticate"
I am just curious why PreAuthenticate has never worked as expected. On several occasions when I am using Server to Server auth the nounce needs to stay the same on consecutive request  but with the way HttpClient behaves I cannot implement that.

[2016-06-04 20:13] clrjunkie commented on #9048
Regarding setupclient.ps/cleanupclient.ps1
Consider using one script that has /u uninstall switch. Having install and uninstall logic in one file is simpler to maintain and reduces the chance of forgetting to properly update the inverse logic.

[2016-06-04 20:14] ellismg opened #9156 "Official Build Frequency?"
Today, in the new build pipeline, we have triggers set to build CoreFX 4 times a day, every day, and CoreCLR 3 times a day, every day.

This leads to tons on version updates everyday and it's generating a lot of noise, IMHO.

I think we should consider doing some (all?) of the following:
- Reduce the frequency of triggered builds.  As we can launch these on demand and have results in an hour, ther

[2016-06-04 20:31] tugberkugurlu opened #9158 "'Cyrillic' is not a supported encoding name."
When I run this:

[code]

I am now getting this:

[code]

which wasn't the case before, it started happening in RC2.

dotnet CLI:

[code]

project.json

[code]

[2016-06-04 20:33] eerhardt commented on #9156
Here was the "master plan" that @piotrpMSFT and I first laid out when we were in the early stages of designing Maestro.

A lower repo can build as often as it wants, it always updates the "Latest" pointer in `dotnet/versions` with its absolute latest build. Anyone who wants to listen to the "Latest" build can do so.

Our idea was that the repo's tests could be kicked off every time the "Latest" bu

[2016-06-05 00:03] davidsh commented on #9155
Can you please provide more details? What sort of project?  Is this is a Windows UWP app or ASP.NET app or Linux etc.?  Can you provide a small repro solution?  Thx.

[2016-06-05 03:09] jmurphzyo commented on #9155
@davidsh David I solved the issue by writing a helper class. It was more ignorance on my part of how to setup credential cache.

[2016-06-05 03:09] #9155 closed

[2016-06-05 03:54] hongdai opened #9160 "NegotiateStream AuthenticateAsClientAsync does not work for non default credential"
NegotiateStream AuthenticateAsClientAsync works for default credential, but not non default credential.

I have a repro app similar to the sample in https://msdn.microsoft.com/en-us/library/system.net.security.negotiatestream(v=vs.110).aspx

The repro app is passing in desktop, but failing in .net core. I have observed that the client has got a NTLM credential instead of kerberos and failed to log

[2016-06-05 09:58] vermorel opened #9162 "Introduce System.Json as a Json.Net-compatible foundational library"
JSON has entered the global software ecosystem with a force that is as strong, arguably stronger, than XML was in its time. In the .NET ecosystem, for years, it has been striking that the framework was not supporting JSON in a built-in way. As a result, `Newtonsoft.Json` is now the No1 package on Nugget.

I suggest that the foundational libraries should include a `System.Json` library with an API

[2016-06-05 12:09] svick commented on #9162
Are you saying that the proposed System.Json should be part of NetStandard.Library? Wouldn't it be easier to just make Newtonsoft.Json part of it instead?

[2016-06-05 12:30] #8860 closed

[2016-06-05 13:35] thild commented on #8584
Please, add openSUSE Tumbleweed to the RID graph also.

[2016-06-05 17:06] af0l commented on #4278
Would like to know what @sandersaares asked, too. There's no built in way to sign xml in the CoreFX now?

[2016-06-05 18:18] vermorel commented on #9162
Maybe. The package name feels inconsistent though. .NET developers - present and future - should not have to investigate packages one by one to be sure they can be trusted. Consistent naming is one of strong point of .NET compared to many alternative frameworks.

[2016-06-05 23:07] joshfree opened #9166 "[release/1.0.0] LoadFromAssemblyName failed - could not load System.Runtime"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/opensuse13.2_debug_tst/75/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

07:44:46       System.IO.FileLoadException : Could not load file or assembly 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.
07:44:46       Stack Trace:
07:44:46 Finished:    System.Runtime.Serialization.Fo

[2016-06-05 23:15] joshfree opened #9167 "[release/1.0.0] OS X ProcessTests.TestPriorityClassUnix permission denied"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_osx_debug/lastCompletedBuild/testReport/System.Diagnostics.Tests/ProcessTests/TestPriorityClassUnix/

System.Diagnostics.Tests.ProcessTests.TestPriorityClassUnix (from (empty))

MESSAGE:
System.ComponentModel.Win32Exception : Permission denied
+++++++++++++++++++
STACK TRACE:
at System.Diagnostics.Process.set_PriorityC

[2016-06-05 23:20] stephentoub commented on #4833
These tests were re-enabled.  Closing the issue.

[2016-06-05 23:20] stephentoub commented on #4882
These tests were re-enabled. Closing the issue.

[2016-06-05 23:21] stephentoub commented on #8552
Thanks. Client was added back. Closing.

[2016-06-05 23:21] #8552 closed

[2016-06-05 23:22] stephentoub commented on #8219
Dup of https://github.com/dotnet/corefx/issues/3718

[2016-06-05 23:22] #8219 closed

[2016-06-05 23:25] stephentoub commented on #9167
This is a dup of https://github.com/dotnet/corefx/issues/9068.  These tests require elevated privileges to run, and they'r enot being run as such.

[2016-06-05 23:28] gkhanna79 commented on #9166
@joshfree This should not be unique to open-suse. It seems like the CoreCLR package used for Open-Suse does not have https://github.com/dotnet/coreclr/commit/58a45de30d6ee7d61510968f34569832c0a40dbe#diff-8bc86ef9cf95adfc911933f21b5530cc change but is using CoreFX build that has https://github.com/dotnet/corefx/commit/6c8088a07034e979619bfc6db80fa21930ce73d4#diff-f83ac88aa51d019559710c3404c9322c ch