[2019-01-23 18:42] janvorli commented on #34777
Ah, I didn't know the corefx managed part had no concept of checked builds. In coreclr, it does.

[2019-01-23 18:50] tannergooding commented on #34778
Do the reference assemblies produced by the C# compiler include these types of attributes. CC. @jaredpar?

[2019-01-23 18:59] Sevsoad commented on #29620
@AfsanehR
Having same issue on 2.1.4 sdk, trying to connect from redhat to sql server 2005.
Same setup works fine with sql server 2011.

[2019-01-23 19:04] AArnott commented on #34778
@tannergooding I just confirmed that csc *does* emit `[Pure]` attributes in ref assemblies.

**But** the `PureAttribute` class itself has `[Conditional("CONTRACTS_FULL")]` applied, so unless that constant is defined, the attribute will be dropped from the ref and the impl assembly alike.

[2019-01-23 19:08] NonSecwitter commented on #34744
@jkoritzinsky Okay, so C# is built in such a way to allow you to circumvent data encapsulation, so it may be incapable of fully and properly encapuslating an array in this way. It's a language limitation. I also concede that some people will call this a feature and find it functionally valuable.

Implementation could look different in a language that doesn't allow this, too. Another potential solu

[2019-01-23 19:14] joperezr commented on #33643
I just tried your repro and it works fine for me:

![image](https://user-images.githubusercontent.com/13854455/51630586-64507900-1eff-11e9-8e3d-5779080182cf.png)

Correct, the reason why you see that is because System.ComponentModel.Annotations.dll in .NET Framework is a facade that just type forwards to System.ComponentModel.DataAnnotations. That means that if you check with dotpeek, you should b

[2019-01-23 19:20] benaadams commented on #34744
@NonSecwitter a different approach might be a new type that encapsulates an array; for example like [`SortedList<TKey, TValue>`](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/SortedList.cs) does?

[2019-01-23 19:20] AArnott opened #34781 "Execute only the first TPL Task continuation inline"
One particularly nasty problem though that we've hit due to inlining await continuations:

It creates an unwanted dependency between unrelated code when multiple folks await on the same task. We've seen *very* subtle deadlocks because the inlining behavior is such that when *multiple* continuations are added to a task and that task completes, the continuations are executed *in order* on the origin

[2019-01-23 19:36] NonSecwitter commented on #34744
@benaadams yea, that might work. I don't have an immediate need. I was reviewing some OOP theory and had an epiphany that "sort" is a state condition and it's not included in the class implementation.

this operation in itself is not very demanding. (? represents the place of "IsSorted" in the objects structure)
    ```mov [rcx+0x?], 0```

i do realize that doing this A LOT of times could be signi

[2019-01-23 19:52] AfsanehR commented on #29620
@codesphinxx  what version of SQL Server are you using?
@Sevsoad  Sql Server 2005 is out of support. Please use an updated version. [Link](https://support.microsoft.com/en-us/lifecycle/search?alpha=Microsoft%20SQL%20Server%202005)

[2019-01-23 20:03] #34739 closed

[2019-01-23 20:04] irperez commented on #31181
@KathleenDollard can you please ensure that this is at least .netstandard 2.0 compliant?  We would like to incorporate this library so we can port over a lot of our code.  .netstandard 2.1 won't work for us.

[2019-01-23 20:08] SimonCropp commented on #33643
Any thoughts on this
https://github.com/dotnet/corefx/issues/33643#issuecomment-452451857 ?

[2019-01-23 20:48] TylerBrinkley commented on #15453
I've implemented the generic implementation proposed here without any API changes in [coreclr#22161](https://github.com/dotnet/coreclr/pull/22161).

[2019-01-23 20:55] jimcarley commented on #34401
Well, I think I may have just made a mistake.
This is System.Transactions from .NET Core, right?

On .NET Core, transaction promotion to MSDTC cannot happen thru System.Transactions.

However, there is a feature that allows for a "promoter type" other than MSDTC. And System.Data.SqlClient takes advantage of that feature in certain circumstances.

Looking at SqlInternalConnection.EnlistNonNull (whi

[2019-01-23 21:06] ericstj commented on #34765
We can disable this by setting DisableImplicitFrameworkReferences.  I'll submit a PR.

[2019-01-23 22:10] #34731 closed

[2019-01-23 22:46] Grauenwolf commented on #34778
Can we get that changed? I don't see any reason to strip away the PureAttribute without warning the developer that they need to add a hidden compiler flag. That is just going to lead to confusion.

[2019-01-23 23:13] danmosemsft commented on #34771
@FixBo can you please give us some information about your configuration? Is this Linux, Mac? What distro? If so what version of libgdiplus is being used?

[2019-01-23 23:28] sdmaclea opened #34791 "AssemblyLoadContext .NET Core 3.0 improvements"
## Motivations
### Concrete Type
There is a desire to simplify `System.Runtime.Loader.AssemblyLoadContext` usage by making it a concrete type.  (from #34535)

The existing class is abstract because the `Load()` method is not implemented.  Recommend adding a default implementation of `Load()` as a method returning `null` and make the constructors public. This is a logical default implementation as

[2019-01-23 23:31] sdmaclea commented on #34791
#34535 and #34530 have reached consensus.  Since they are both affecting ALCs, it seemed best to close the original proposals to create a combined proposal.

I have marked this ready for review.  The API review will help set the final shape.

/cc @jkotas @vitek-karas @swaroop-sridhar @jeffschwMSFT @terrajobst

[2019-01-23 23:32] sdmaclea commented on #34535
Moved to #34791

[2019-01-23 23:32] #34535 closed

[2019-01-23 23:33] sdmaclea commented on #34530
Moved to #34791.  @vitek-karas comment was addressed in the merge.

[2019-01-23 23:33] #34530 closed

[2019-01-24 00:51] jeffschwMSFT commented on #34791
@sdmaclea where did we land with the various extension events for missing Native/Managed assemblies?  Can you link any other updates to ALC to this issue?

Double checking that my 'wish list' of having an early load callback (eg. the equivalent of TryLoad) is still not part of any plan, correct?

[2019-01-24 00:53] ahsonkhan opened #34793 "Hide the S.T.Json sources within the consuming project or move to a custom subdirectory"
Currently, when the user consumed the source package, the S.T.Json source files show up at the root of their project (for example within VS). Ideally, the source package would behave like other NuGet packages and the sources wouldn't bloat the consumers solution view and hide their own source files.

If that is not feasible, then we should consider moving the source files to a custom named subdire

[2019-01-24 01:01] jaredpar commented on #34778
Yes we do keep (as @AArnott confirmed). Consider that if we did not then it would significantly hamper analyzers. Any analyzer based on attributes would essentially be un-usable in the face of reference assemblies.

[2019-01-24 01:24] ahsonkhan opened #34794 "Option to support trailing commas with JsonReader"
@JamesNK commented on [Mon Oct 29 2018](https://github.com/dotnet/corefxlab/issues/2576)

Comments and trailing commas are the most common differences from the JSON spec found in configuration files.

Consider adding an option to allow JsonReader to support trailing comments in JSON arrays and objects.

[code]

[code]

---

@danmosemsft commented on [Wed Nov 07 2018](https://github.com/dotnet/core

[2019-01-24 01:35] JamesNK commented on #34794
Two options is fine. I have never had the situation where someone asked for anything beyond turning them on or off. Up to you guys whether it is an enum or boolean.

I think this is an important option for ASP.NET Core's JSON config files. JSON like this is extremely common in JSON config files:

[code]

@rynowak @davidfowl

[2019-01-24 01:47] bartonjs commented on #34794
I can't think of another mode for commas to be in, so boolean seems fine.

[2019-01-24 02:35] FixBo commented on #34771
.NET Core 3.0 preview on Windows 10.

[2019-01-24 02:51] MgSam commented on #34794
As this introduces no ambiguity in the parsing, I think it should default to on. Pit of success.

[2019-01-24 02:55] sdmaclea commented on #34791
#32850 & #32015 are approved

I closed #34536 because I couldn't justify the API.  @jkotas wanted to make sure we were not creating another way to break the consistency requirements for the ALC.  If we fail to load an assembly by name in one context, the result is cached.  We won't even try again.  If we succeed in one context, we will always use the cached result.  My main argument for having the

[2019-01-24 03:45] jkotas commented on #34791
Correct, we had the Load extensibility point in the original .NET Core 1.0 implementation and it was full of infinite recursion land mines, impossible to use. It was no-brainer to pull that feature. If you think that we need something along these lines, I think we should start with discussing the concrete problems/scenarios that we are trying to solve.

[2019-01-24 04:13] ewassef commented on #32976
Here is a simple repro:

 private static readonly HttpClient Client = new HttpClient(new HttpClientHandler { UseCookies = false });
var req = new HttpRequestMessage();
req.RequestUri = new Uri("https://www.cnn.com/");
 var response = await Client.SendAsync(req);

This is giving me the same error..

[2019-01-24 04:35] wfurt commented on #32976
What is your environment @ewassef ??? I did quite test with your fragment and everything works fine for me.

Can you check that your system time is correct and "issuer: C=BE; O=GlobalSign nv-sa; CN=GlobalSign CloudSSL CA - SHA256 - G3" is in your trust store?
(if this is container it needs to be within that container)

You can also try different client (like wget or curl)

[2019-01-24 04:55] ewassef commented on #32976
@wfurt
Im on a windows machine and this snippet works if you run a .net core 2.2 console application. If you try this from a mvc core running kestrel , it fails everytime. I am configured to run in Linux docker containers, but this occurs when debugging on a windows 10 machine

The site comes up in all browsers and in the console app like i mentioned... only in a kestrel based mvc app

 public cla

[2019-01-24 05:52] tonesnotes opened #34801 "SequenceReader TryCopyTo does not increment Consumed"
Running 3.0.0-preview-27122-01

This may be by design, but using a combination of TryReadLittleEndian and TryCopyTo methods on a SequenceReader results in a Consumed value that only reflects the TryReadLittleEndian calls.

All the calls return true.
All the calls extract an appropriate value from the SequenceReader.

[2019-01-24 06:01] #34699 closed

[2019-01-24 06:47] karelz commented on #32976
In that case it is something specific to your environment setup in debug mode.
Check your firewall settings. Try it on freshly installed VM to see what else could cause it.

[2019-01-24 07:00] iSazonov commented on #34578
@karelz Is https://github.com/aaubry/YamlDotNet a _trusted_ repository that can be used in Microsoft projects (like PowerShell Core)?

Related issue in PowerShell Core repo https://github.com/PowerShell/PowerShell/issues/3607

/cc @SteveL-MSFT

[2019-01-24 07:03] karelz commented on #34578
@iSazonov that is decision of each project which dependencies to trust / support, etc. For example, ASP.NET Core decided to built on top of JSon.NET.

[2019-01-24 07:08] NextTurn commented on #34578
@karelz Not exactly. They plan on removing dependency from ASP.NET Core to Json.NET now.

33115

[2019-01-24 07:10] karelz commented on #34578
@NextTurn sure, I know. From various reasons. But the dependency shipped in multiple versions - 1.0, 1.1, 2.0 and 2.2.

[2019-01-24 07:30] karelz commented on #34578
@iSazonov this is not only about security policy, much more is involved. Either way, it is PowerShell Core team decision to take the dependency, or find alternatives (e.g. its own implemented, etc.).

[2019-01-24 07:38] iSazonov commented on #34578
@karelz Thanks!

@SteveL-MSFT Could you please comment? Could we use YamlDotNet or we need more trusted API for https://github.com/PowerShell/PowerShell/issues/3607?

[2019-01-24 08:03] ahsonkhan commented on #34590
This was completed as part of https://github.com/dotnet/corefx/pull/34485

[2019-01-24 08:14] GrabYourPitchforks opened #34799 "MemoryExtensions ToUpper / ToLower don't properly support overlapping buffers"
Per the devdoc on `MemoryExtensions.ToUpper` / `ToLower` and similar methods, these APIs are supposed to behave correctly if the source and destination buffers partially overlap.

[code]

However, I don't think any shipped version of `ToUpper` or `ToLower` ever had this behavior. At least, the most recent version just blasts forward without checking to see if the buffers are overlapped.

[code]

W

[2019-01-24 08:36] GrabYourPitchforks commented on #34752
If we want to do this purely at the JIT pattern recognition level I'll support that. But my fear is that if we go this route this will turn into yet another issue that stays open for years, where a new API (even an internal one used as an implementation detail of an existing public helper) could allow us to get this up and running in much less time.

[2019-01-24 09:35] SimonCropp commented on #33643
binding redirects are to resolve version conflicts. if u only ref one version, with no diamond dependencies, there should be no conflicts and no binding redirects.

[2019-01-24 10:07] smartmaster opened #34800 "build failed with error "SourceRevisionId is not set, which means the SourceLink targets are not included in the build.""
repro steps:
- download zip and extract to a local folder (note: not built in a git repo)
- run build.cmd in the root folder of corefx
- error reported as "C:\Users\admin\.nuget\packages\microsoft.dotnet.arcade.sdk\1.0.0-beta.19072.5\tools\Version.targets(69,5): error : SourceRevisionId is not set, which means the SourceLink targets are not included in the build. Those are needed to produce a corr

[2019-01-24 10:46] christiantinauer commented on #31507
@danstur I would be happy if you could do that publicly on GitHub.

[2019-01-24 11:56] #30423 closed

[2019-01-24 12:51] ewassef commented on #32976
@karelz What do you recommend i look at? I am running the console app and the web app on the same machine and one works while the other doesn't. This isnt a VM, but i can try one if you think the problem can be isolated that way somehow.

I even tried running the mvc app in a docker container based off of microsoft/dotnet:2.2-aspnetcore-runtime container and have the same issue.

This looks to be

[2019-01-24 14:21] tonesnotes commented on #34801
I dusted off my extension method writing skills and found that I can encapsulate the behavior I want:

	public static class SequenceReaderExtensions {

		[MethodImpl(MethodImplOptions.AggressiveInlining)]
		public static bool TryCopyToA<T>(ref this SequenceReader<T> reader, Span<T> destination) where T : unmanaged, IEquatable<T> {
			if (reader.TryCopyTo(destination)) {
				reader.Advance(destinat

[2019-01-24 14:22] #34801 closed

[2019-01-24 14:51] davidsh commented on #32976
@Tratcher Can you assist here?  Perhaps this issue needs to be moved to ASP.NET repo?  The problems are tightly coupled with ASP.NET Core.  Thx.

[2019-01-24 15:04] twenzel opened #34803 "ADOMD.NET support for .NET Core"
This is a follow up for #20809.

When does MS provide a client library to connect to SSAS supporting .NET Core/.netstandard?
At the moment the only option to query cubes is the [unofficial adomd.net client](https://github.com/bdebaere/Unofficial.Microsoft.AnalysisServices.AdomdClientNetCore).

There must be a library from Microsoft that can access SSAS.

[2019-01-24 15:10] ViktorHofer commented on #30423
Finally this is now fixed in master and I will backport it into the UWP 6.2 branch.

[2019-01-24 15:10] ViktorHofer commented on #30399
This is now fixed with https://github.com/dotnet/corefx/pull/34678

[2019-01-24 15:10] #30399 closed

[2019-01-24 15:22] wingrime opened #34804 "HttpClient socket file descriptor leak"
After days of work, on linux server dotnet process had ~16000 open TCP socket file descriptors (not open/established connections). After restart count slowly increments

This count does not hit process open descriptior limit, and does not hit ephemeral ports count (~32000).

Another indication of issue presence, frequent exception:
[code]

Same code deployed on WinServer+IIS seems does not give su

[2019-01-24 15:37] Wraith2 commented on #34803
Would it not be better to ask the group in charge of developing the SSAS package? This repo is developing .net core itself which is essentially the BCL and some core packages. Upstream consumers are free to consume or not as they wish.

[2019-01-24 15:47] Tratcher commented on #32976
@ewassef AspNetCore/MVC host does not mess with the ServerCertificateCustomValidationCallback. This may be an issue with the container infrastructure. Try simplifying the web app repro by removing all of the code in Program.Main and calling HttpClient directly from there.

[2019-01-24 15:58] karelz commented on #34578
@iSazonov I think that discussion would be best in PowerShell repo where it is most relevant.

[2019-01-24 16:04] karelz commented on #33643
@SimonCropp while compelling idea, unfortunately the reality is more complex than that :(.
You can have collisions between references. You can have collisions with Framework built-in versions. You can have collisions with assemblies in GAC, or publisher policies. Binding redirects are mechanism to deal with all these problems (or cause more).
Addressing diamond dependencies is just one of the main

[2019-01-24 16:58] dotnet-mc-bot opened #34807 "Test failure: System.Json.Tests.JsonPrimitiveTests/ToString_TimeSpan"
Opened on behalf of @danmosemsft

The test `System.Json.Tests.JsonPrimitiveTests/ToString_TimeSpan` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190124.1 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS4-x86
  - Release

[2019-01-24 17:00] danmosemsft commented on #34807
@ahsonkhan I know this isn't your library but maybe you own JSON in general..

I do not konw why .ToString() is formatting as if it was not using en-US or invariant culture. In UAP tests, changing the "thread" culture actually affects the whol process, which is normally the issue, but I do not see anywhere in the JSON test library that changes the thread culture.

[code]
It's a flaky failure - pas

[2019-01-24 17:07] dotnet-mc-bot opened #34808 "Test failure: System.Media.Test.SoundPlayerTests/Load_SourceLocation_Success(sourceLocation: \"adpcm.wav\")"
Opened on behalf of @danmosemsft

The test `System.Media.Test.SoundPlayerTests/Load_SourceLocation_Success(sourceLocation: \"adpcm.wav\")` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190124.1 (Core Tests)
Failing configurations:
- Windows.10.Nano.Amd64-x64
  - Release

[2019-01-24 17:08] danmosemsft commented on #34808
@maryamariyan looks like many or maybe all the S.Media tests need disabling on Nano:
`System.EntryPointNotFoundException : Unable to find an entry point named 'mmioOpen' in DLL 'winmm.dll'.`

https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190124.1/workItem/System.Windows.Extensions.Tests

You might use a sim

[2019-01-24 17:09] danmosemsft commented on #34808
@safern I don't know how many Nano machines we have but we might want to add Nano to CI at some point since we get Nano specific breaks checked in fairly regularly.

[2019-01-24 17:15] dotnet-mc-bot opened #34809 "Test failure: System.Net.Sockets.Tests.SocketOptionNameTest/MulticastInterface_Set_AnyInterface_Succeeds"
Opened on behalf of @danmosemsft

The test `System.Net.Sockets.Tests.SocketOptionNameTest/MulticastInterface_Set_AnyInterface_Succeeds` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190124.1 (Core Tests)
Failing configurations:
- RedHat.6.Amd64-x64
  - Release

[2019-01-24 17:18] danmosemsft commented on #34809
@wfurt although this would seem like a random timeout, this actually seems to be failing consistently on RedHat 6, along with MulticastInterface_Set_IPv6_AnyInterface_Succeeds

https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190124.1/workItem/System.Net.Sockets.Tests

https://mc.dot.net/#/product/netcore/30/s

[2019-01-24 17:23] tannergooding commented on #34778
Given that the C# ref assembly feature does preserve the attributes (where applicable), this should probably be moved to dotnet/arcade so we can update `GenFacades`.

I think the removal of `[Conditional("CONTRACTS_FULL")]` from the `PureAttribute` class is likely a separate proposal (which would likely live in CoreFX).

CC. @ericstj, @ViktorHofer

[2019-01-24 17:25] stephentoub commented on #34807
The test is comparing `TimeSpan.Zero.ToString("G")`, which will respect the current culture, against `new JsonPrimitive(TimeSpan.Zero).ToString()`, which will end up using the InvariantCulture: https://source.dot.net/#System.Json/System/Json/JsonPrimitive.cs,163

I'll fix the test; it should also use invariant.  Not sure why that's only failing now sporadically; presumably there's some other test

[2019-01-24 17:30] stephentoub commented on #34807
There are a bunch of places in this test suite that do so, e.g. in the JsonValue_Parse_Double test.

[2019-01-24 17:46] danmosemsft commented on #34807
Doh - my grep had a typo. Yes, I see two tests - they should be using `RemoteInvoke`.

[2019-01-24 17:49] maryamariyan opened #34810 "System.Media.SoundPlayer using Thread.Abort which throws PNSE"
System.Media.SoundPlayer is using Thread.Abort which throws PNSE in .NET Core.

More synchronization related issues in SoundPlayer class commented in the following PR which need to be address: https://github.com/dotnet/corefx/pull/32505#issuecomment-437122365

Related to #31426

[2019-01-24 17:49] rmkerr commented on #34809
I know that we had some issues with this before because of the [default firewall rules in RH6](https://github.com/dotnet/corefx/issues/24114#issuecomment-348037327). Maybe our updates to those rules aren't applying anymore?

[2019-01-24 17:49] #31426 closed

[2019-01-24 17:55] stephentoub commented on #34807
Interestingly, my analysis was slightly wrong: the System.Json code has a bug.  Specifically, it's using NumberFormatInfo.InvariantInfo in the call to ToString, rather than CultureInfo.InvariantCulture.  NumberFormatInfo.InvariantInfo is an IFormatProvider, but not one recognized by TimeSpan, so when TimeSpan asks the provider for the DateTimeFormatInfo to use, it can't get one from a NumberFormat

[2019-01-24 17:58] #9350 closed

[2019-01-24 18:01] AArnott commented on #34778
Is it `GenFacades` that needs to define the symbol or corefx? Are the assemblies generated from the corefx repo, and if so, wouldn't corefx be the repo that needs to be changed to define the symbol?

Or we could resolve this issue by removing the `[Conditional]` attribute. Either way, it seems like corefx is the repo to change, isn't it?

[2019-01-24 18:01] danmosemsft commented on #34807
I wonder if there is a hook we could run code before every CoreFX test (ideally at the end of every test) where we can assert invariant culture so these failures become deterministic

[2019-01-24 18:01] danmosemsft commented on #34800
@ViktorHofer

[2019-01-24 18:07] wfurt commented on #34809
I think best next step is to get repro machine and give it try.

[2019-01-24 18:09] safern commented on #34807
I think that can be achieved by implementing IClassFixture<T> in the test class  to do a per-class setup or tear-down: https://xunit.github.io/docs/comparisons.html

But that seems a ton of work for all the tests in CoreFX :smile:

Also, to do a per-test cleanup run, you can achieve that with an IDisposable test class and do the cleanup in the Dispose method.

[2019-01-24 18:10] tannergooding commented on #34778
The ref assemblies in CoreFX are special and are not generated by the C# compiler, instead they are (outside a couple exceptions) generated by some special tooling in the arcade repo. The root issue here is that the tooling in arcade is doing something different than the C# compiler (specifically, it isn't counting attributes as part of the public API). There have been other cases of this in the p

[2019-01-24 18:10] stephentoub commented on #34807
I'm not understanding this, @danmosemsft.  Can you clarify?  The current culture will very rarely be InvariantCulture.

[2019-01-24 18:11] stephentoub commented on #34810
@maryamariyan, are you working on this, or do you want me to take it?

[2019-01-24 18:13] wfurt commented on #32976
I'm not too familiar with ASP.NET @ewassef but if you post complete repro I can run, I can see if I get repro as well. That would show if there is something with the combination or if there is something truly environmental. I would suggest to stay out of Docker for now as it decreases complexity.

BTW your second example uses https://demo.identityserver.io:44333
What CA do you use to sign the cert

[2019-01-24 18:15] jkoritzinsky commented on #34791
Is there any particular reason that the `Contexts` member is an `IEnumerator<AssemblyLoadContext>` instead of an `IEnumerable<AssemblyLoadContext>`?

[2019-01-24 18:16] ericstj commented on #34778
That is not true.  We use tools to generate source code and that source code is checked in and directly compiled by CSC.

Did you mean GenAPI?  GenAPI will persist the pure attribute if it exists.  That's controlled by an exclusion list and PureAttribute isn't in it.  https://github.com/dotnet/corefx/blob/master/eng/DefaultGenApiDocIds.txt

If the PureAttribute is present in the source you can run

[2019-01-24 18:21] AArnott commented on #34778
I assume you mean after the `[Conditional]` attribute is removed, or if the `csc` tool is invoked to generate that ref assembly with the `CONTRACTS_FULL` symbol defined, right @ericsj?

[2019-01-24 18:23] maryamariyan commented on #34810
Sure, please go ahead on this one. I would like to see how you address the changes.

[2019-01-24 18:31] joperezr commented on #33643
Here is a good link that should get you started: https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer . Basically fuslogvw is a very useful tool whenever you get errors with TypeLoadExceptions, AssemblyLoadExceptions, FileNotFoundExceptions and MemberNotFoundExceptions. It helps by telling you exactly which assemblies each process is loading and also wil

[2019-01-24 18:35] ericstj commented on #34778
This worked for me:
1. Add CONTRACTS_FULL to  https://github.com/dotnet/corefx/blob/8fea941db55fd79635fde1a54058620ddac16961/src/System.Collections.Immutable/src/System.Collections.Immutable.csproj#L12
2. dotnet msbuild
3. dotnet msbuild /t:GenerateReferenceSource
4. observe the differences to the generated source file in the rfeference assembly folder (and add back the ifdefs as you wish)
5. add

[2019-01-24 18:38] ViktorHofer commented on #34800
I think we fixed that early this morning in arcade.

[2019-01-24 18:38] #34800 closed

[2019-01-24 19:04] sdmaclea commented on #34791
@jkoritzinsky Thanks for pointing out the unintended inconsistency.

`IEnumerable<T>` for creating `IEnumerator<T>`.  I think logically it is added because an enumerator is logically an instance which is disposed when it is no longer needed.

Therefore, I think
- using properties returning `IEnumerator<T>`, is semantically incorrect.
- using properties returning `IEnumerable<T>` seems clumsy
- met

[2019-01-24 19:08] jkoritzinsky commented on #34791
You don't need the `GetEnumerator()` call in a foreach statement. You can do `foreach (AssemblyLoadContext alc in AssemblyLoadContext.Contexts)` if `Contexts` is an `IEnumerable<AssemblyLoadContext>`. I at least find it clumsier to use `IEnumerator<T>` directly. Others may feel differently though.

[2019-01-24 19:11] davidsh commented on #34804
Can you post a sample application that reproduces this problem?  We need a repro in order to diagnose.

[2019-01-24 19:17] GSPP commented on #34791
Nowhere is `IEnumerator` ever used directly if not absolutely necessary. This is best for convenience reasons and now also for consistency.

[2019-01-24 19:55] danmosemsft commented on #34807
You're right, in fact we even run the tests on es-ES. What I should have said is: some code that runs before and after every UWP test that verifies the culture at the start and end is the same. But I guess we do not have such hook, and it would still not be entirely deterministic, as generally the test cases changing culture in proc are changing it back when they're done.

[2019-01-24 19:57] joperezr commented on #34793
Chatted offline with @ericstj and we believe that it wouldn't be good to completely hide the sources from the .csproj since that would give the feel that this is a regular NuGet package and hide the fact that we are actually compiling the source. PR #34812 is addressing this by moving the contents into a subfolder instead.

[2019-01-24 20:04] CarolEidt commented on #33566
@tannergooding - Is this still under discussion? It seems unlikely that we will be able to incorporate the `Unsafe` forms for 3.0, with JIT support. I'm moving this to Future - let me know if you think this needs to be in for 3.0. Since the latest proposal doesn't impact existing APIs, it seems that we can introduce it later without breaking existing code.

[2019-01-24 20:33] tannergooding commented on #33566
Yes, this is still under discussion.

I agree that addressing this post 3.0, if it is needed, is fine. Based on the last feedback received, these methods (if exposed) would have new names containing `Unsafe` and the existing APIs would remain untouched.

[2019-01-24 20:56] ericstj opened #34816 "Add package testing for dekstop that does strict closure validation (exact match) on desktop"
Some of our libraries need the characteristic that they not require binding redirects when run on desktop (for example, they need to be used in msbuild tasks, or in some other plugin model that doesn't permit definition of bindingRedirects).

This is most often broken by cases where some dependency in the middle of the stack needs to freeze its netstandard version when it moves inbox.  If other pa

[2019-01-24 20:56] ericstj commented on #34816
Related to https://github.com/dotnet/corefx/pull/34813

[2019-01-24 22:08] vcsjones commented on #34144
What is the behavior of this API if `source` and `destination` partially overlap?

[2019-01-24 22:39] stephentoub commented on #12590
I'm going to close this.  It's not really actionable as-is.

[2019-01-24 22:39] #12590 closed

[2019-01-24 22:41] stephentoub commented on #21371
What is the remaining work here?

[2019-01-24 22:49] GrabYourPitchforks opened #34822 "API proposal: Rune.DecodeFirstRune and friends"
These APIs are useful for reading the first and last `Rune` from a sequence. Unlike the existing `Rune.TryGetRuneAt` API which returns a Boolean "success" / "failure", and unlike the existing `String.EnumerateRunes` API which silently replaces invalid sequences with `U+FFFD`, this API instead returns to the caller information about the UTF-\* subsequence itself.

These APIs can be used by higher-l

[2019-01-24 22:51] Cephei commented on #32751
I'm still having this issue when running locally my app in Docker on MacOS using `dotnet:2.2.103-sdk`. Is this a known issue to be resolved? When running locally without Docker everything is fine.

[2019-01-24 23:05] Cephei commented on #32976
I'm having the same issue running a dotnet core app. Targeting framework 2.2. When debugging in VS Code everything is fine. My HttpClient (within the Azure DocumentDB Client) can connect to my CosmosDB emulator.

When I run the app within a Docker container using `microsoft/dotnet:2.2.103-sdk`to build and runtime `microsoft/dotnet:2.2.1-runtime`, The `DocumentClient` fails, stating: `HttpRequestEx

[2019-01-24 23:08] wfurt commented on #32976
That seems like different problem @Cephei . It looks like container does not have proper trust established. What server do you connect to and what certificate does it use?

[2019-01-24 23:15] Cephei commented on #32976
@wfurt My mistake. I'm connecting to a local Windows VM. The VM is running CosmosDB emulator over port 8081. I've taken the necessary steps to export the emulator's certificate and imported into my Mac's Keychain. I've assigned it to `Trust Always`. I can view the emulator's Data Explorer just fine in Chrome - no certificate issues; it states it's trusted.

I can't reason why the app, when run wit

[2019-01-25 00:06] danmosemsft commented on #33987
Arcade issue to validate: https://github.com/dotnet/arcade/issues/1873

[2019-01-25 00:10] dotnet-mc-bot opened #34823 "Test failure: System.IO.Tests.FileInfo_GetSetTimes/CopyToNanosecondsPresent"
Opened on behalf of @danmosemsft

The test `System.IO.Tests.FileInfo_GetSetTimes/CopyToNanosecondsPresent` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190124.2 (Core Tests)
Failing configurations:
- OSX.1014.Amd64-x64
  - Release

[2019-01-25 00:11] danmosemsft commented on #34823
@Anipik  😢

[2019-01-25 00:12] danmosemsft commented on #34361
Similar but different callstack. Failing about every 5th build on eg Redhat 7
[code]

@JeremyKuhne

[2019-01-25 00:12] dotnet-mc-bot opened #34824 "Test failure: MonoTests.System.Runtime.Caching.MemoryCacheTestExpires11/TimedExpirationAsync"
Opened on behalf of @danmosemsft

The test `MonoTests.System.Runtime.Caching.MemoryCacheTestExpires11/TimedExpirationAsync` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190124.2 (Full Framework Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS4-x64
  - Release

[2019-01-25 00:13] danmosemsft commented on #34824
@kouvel this is on full Framework which we only run for "comparison purpose" so if it's a full Framework specific issue feel free to disable just for that.

[2019-01-25 00:15] dotnet-mc-bot opened #34825 "Test failure: System.Numerics.Tests.ToStringTest/RunRegionSpecificStandardFormatToStringTests"
Opened on behalf of @danmosemsft

The test `System.Numerics.Tests.ToStringTest/RunRegionSpecificStandardFormatToStringTests` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190124.2 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS4-x86
  - Release

[2019-01-25 00:16] danmosemsft commented on #34825
RunRegionSpecificStandardFormatToStringTests() and RunParseToStringTests() are both modifying current culture, which on UWP is a process wide value. they should use RemoteExec

[2019-01-25 00:17] Anipik commented on #34823
have there any change in any CI legs ?
As far as i remember the osx filesystem on is ```HFS``` and this code path should not have been executed

I will try with my mac which has non-HFS filesystem

[2019-01-25 00:19] GrabYourPitchforks opened #34826 "API proposal: Complex Rune enumeration over spans of UTF-16 and UTF-8 text"
(This is the follow-up to https://github.com/dotnet/apireviews/pull/76.)

These `Rune` enumeration APIs are similar to existing APIs like `String.EnumerateRunes()`, but instead of returning a simple enumerator of `Rune` they return an enumerator of a data structure which allows deeper inspection of the underlying data.

## API proposal

[code]

And the factories that give you enumerators over thes

[2019-01-25 00:36] ahsonkhan commented on #34793
Fixed in https://github.com/dotnet/corefx/pull/34812. Tyvm @joperezr

[2019-01-25 00:36] #34793 closed

[2019-01-25 01:02] danmosemsft commented on #34823
The test ideally would be robust to the disk format, eg., it checks whether it is HFS or not through API and acts accordingly

[2019-01-25 01:06] Anipik commented on #34823
yes i am working on checking if Addticks work correctly on mac .

[2019-01-25 01:06] #34808 closed

[2019-01-25 01:10] ahsonkhan commented on #34807
I can't compete with @stephentoub's responsiveness :)

[2019-01-25 01:15] vancem opened #34828 "API Changes to System.Activity To support W3C Style IDs and Propagation"
There is a World Wide Web Consortium (W3C) draft standard for the format and propagation of IDs used to correlate logging from various machines in a distributed application (for details see [TraceContext](https://w3c.github.io/trace-context/).     Microsoft (in particular the Applications Insights team), wishes to support this standard in a first-class way.

There is a corresponding Pull Request #

[2019-01-25 01:21] vancem commented on #34828
@noahfalk  @lmolkova  FYI

[2019-01-25 01:32] danmosemsft commented on #34824
Sorry, I meant @KKhurin not @kouvel

[2019-01-25 02:07] terrajobst commented on #34828
@vancem

Is this a feature we plan on shipping as part of .NET Core 3.0?

[2019-01-25 02:31] GrabYourPitchforks opened #34830 "API proposal: UTF-8 web encoders"
(This is the follow-up to https://github.com/dotnet/corefx/issues/33509, where the review was marked as "needs work".)

Some customers (notably, the JSON libraries) need to perform UTF-8 escaping of strings. The existing UTF-16 encoding APIs are insufficient for their needs. This proposal is for a sister set of APIs that operate on UTF-8 data.

## Proposed API

[code]

And the subclassed types and

[2019-01-25 03:15] KKhurin commented on #34824
This is a strange one and I can't come up with a good explanation right away...
[Dan](@danmosemsft), do you know how often we run these tests on full Framework?

[2019-01-25 03:15] benaadams opened #34831 "API Proposal: Console.CancellationToken"
To compose better with `async` and particularly `Task Main(...)` it would be good to have a `CancellationToken` for Console
[code]

Other signals would be desirable like `sighup`, but that might be unix only?

/cc @terrajobst @vcsjones

[2019-01-25 03:34] stephentoub commented on #34831
Just to help me understand what you're proposing, this would functionally be equivalent to something like:
[code]
such that when CancelKeyPress is raised, the token gets signaled?

How do you envision it working with regards to being able to do the equivalent of setting args.Cancel = false?

Also, can you elaborate on the "To compose better with async and particularly Task Main(...)" part?  What's

[2019-01-25 03:43] #34807 closed

[2019-01-25 03:47] #34825 closed

[2019-01-25 03:54] karelz commented on #21371
We had a meeting where we decided to dig deeper into it. Part of it is prove or disprove there is something left.
@GrabYourPitchforks I assume your simple-setup experiment didn't finish back then ...

[2019-01-25 03:58] danmosemsft commented on #34831
@jeremykuhne

[2019-01-25 04:20] benaadams commented on #34831
Something like that.

Not sure, the idea is around if you didn't exit; how would you then relisten to cancellation?

What's the top level CancellationToken to feed into the top level tasks?
[code]

Should be `true` if something is listening on Cancellation and `false` if not. Issue with the race condition you mentioned.

[2019-01-25 04:42] Grauenwolf opened #34833 "MemoryPool<T>.RentSlim for allocation-free leases"
The current design of `MemoryPool<T>.Rent` returns an interface, which means an object has to be allocated.

`MemoryPool<T>.RentSlim` would instead return a struct. While this would still be usable in a `using` statement, it wouldn't require heap-allocating memory.

`RentSlim` would be less user-friendly. As a struct, we cannot prevent copying which in turn means we can't prevent the object from b

[2019-01-25 04:50] benaadams commented on #34833
Can also use `ArrayPool<T>.Rent` though you have to then use `ArrayPool<T>.Return` rather than `Dispose` as it returns a raw array.

[2019-01-25 04:53] Grauenwolf commented on #34833
That's actually what led me here. There was a proposal to add a disposable version of `Rent` to `ArrayPool<T>`. It was closed with a pointer to `MemoryPool<T>`, where I was surprised to learn that it returned an interface rather than a struct.

[2019-01-25 05:03] benaadams commented on #34833
Don't know if they are in the docs anywhere, but these docs might help as to why they are interfaces

[`Memory<T> API documentation and samples`](https://gist.github.com/GrabYourPitchforks/8efb15abbd90bc5b128f64981766e834)

[`Memory<T> usage guidelines`](https://gist.github.com/GrabYourPitchforks/4c3e1935fd4d9fa2831dbfcab35dffc6)

/cc @GrabYourPitchforks

[2019-01-25 05:06] Grauenwolf commented on #34833
Interesting. This does make the idea of a struct-based version of Rent impossible to generalize. That's too bad, but at least only you and I spent any time thinking about it.

[2019-01-25 05:06] #34833 closed

[2019-01-25 05:43] GrabYourPitchforks commented on #34144
@vcsjones I assume undefined. See also https://github.com/dotnet/corefx/issues/34799, where I contemplated this same question with the existing span-based text case conversion APIs.

[2019-01-25 06:25] lostllama opened #34835 "Using X509Certificate2 under Linux (Docker) produces different results"
I'm trying to read subjects (domains) and expiry from SSL certificates using `X509Certificate2`, but my results when running my code in a Docker Linux container with .NET Core 2.2 differ to running the same code on Windows. I'm wondering if there is a bug with the code.

I've posted an issue about it on [StackOverflow](https://stackoverflow.com/questions/54358492/cant-read-certificate-when-running

[2019-01-25 07:07] dotnet-mc-bot opened #34837 "Test failure: System.Diagnostics.Tests.EventLogTraceListenerTests/TraceEventTest(eventType: Information, expectedType: Information, id: 65536, expectedId: 65535)"
Opened on behalf of @AriNuer

The test `System.Diagnostics.Tests.EventLogTraceListenerTests/TraceEventTest(eventType: Information, expectedType: Information, id: 65536, expectedId: 65535)` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190124.6 (Core Tests)
Failing configurations:
- Windows.7.Amd64-x64
  - Release

Details:
https://mc.dot.net/#/product/netcore/30/source

[2019-01-25 07:09] twenzel commented on #34803
Unfortunately, I don't have any contact for this group.

[2019-01-25 08:05] Drawaes commented on #21371
I am still interested in the topic if it is going to be picked up again.

[2019-01-25 08:37] dotnet-mc-bot opened #34839 "Test failure: System.Net.Sockets.Tests.LoggingTest/EventSource_EventsRaisedAsExpected"
Opened on behalf of @AriNuer

The test `System.Net.Sockets.Tests.LoggingTest/EventSource_EventsRaisedAsExpected` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190124.6 (Core Tests)
Failing configurations:
- Windows.10.Nano.Amd64-x64
  - Release
- Windows.10.Amd64.ClientRS4-x64
  - Release
- Windows.10.Amd64.Core-x64
  - Release
- Windows.10.Amd64.ClientRS4-x86
  - Rele

[2019-01-25 09:04] jannikbuschke opened #34840 "Deserializing System.Security.Claims.Claim throws System.IO.EndOfStreamException"
### problem description
Using **net461** the following code throws `System.IO.EndOfStreamException: 'Unable to read beyond the end of the stream.'` when **deserializing a Claim**. I think this is a bug.

[code]

Details
[code]

### related

#22818
https://developercommunity.visualstudio.com/content/problem/236195/claimsprincipal-deserialization-fails-on-net-frame.html

### to reproduce
**used VS 2

[2019-01-25 09:10] smartmaster commented on #34800
just now tried C:\Users\admin\.nuget\packages\microsoft.dotnet.arcade.sdk\1.0.0-beta.19074.1\tools, still same error.

[2019-01-25 09:14] isc30 opened #34841 "ExpressionVisitor calls protected Accept and VisitChildren"
I just checked the implementation of [`ExpressionVisitor.cs`](https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Linq.Expressions/src/System/Linq/Expressions/ExpressionVisitor.cs) and you can see that it calls `.Accept` and [`.VisitChildren`](https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Linq.Expressions/src/System/

[2019-01-25 10:31] bmpcon commented on #32870
Hello,

we are still facing this issues and even when trying to run .NET Core based VSTS Agent on local server we get the same error:

[code]

[2019-01-25 11:11] Wraith2 commented on #30913
I'm trying to use preview2 and getting a native build problem. I synced from master, clean -all and then build -debug and the native component compilation fails to identify the cmake version. I've had this working on the 2017 tools for months now so it's unlikely that my version of cmake isn't working but I updated to 3.13 anyway, still no go. I've checked [development environment](https://github.

[2019-01-25 11:22] ravenboilinux commented on #33643
@joperezr
I repaired my visual studio and the the .net frameworks and still get the error.
I tried the fuslogvw(which is a useful tool that i did not know about(
*** Assembly Binder Log Entry  (1/25/2019 @ 6:19:35 AM) ***

The operation was successful.
Bind result: hr = 0x0. The operation completed successfully.

Assembly manager loaded from:  C:\Windows\Microsoft.NET\Framework\v4.0.30319\clr.dll

[2019-01-25 11:34] wingrime commented on #34804
Updated

[2019-01-25 11:40] ToonVanhoutte commented on #18276
Highly demanded feature!!!  Incredible that there's still no support for this in .NET Core, after two years!

[2019-01-25 14:40] abelykh0 opened #34845 "Ability to get metadata about foreign keys for ODBC"
Ability to get metadata about foreign keys for ODBC. I propose to add support for "Foreign Keys" collection when you call System.Data.Odbc.GetSchema. Internally call SQLForeignKeysW from "odbc32.dll" (Windows) or "libodbc.so.2" (Linux).

[2019-01-25 14:48] benaadams commented on #34831
My original thought was for Main to take the cancellation; so a startup for ASP.NET could look like this:
[code]
With the Token responsing to SIGTERM and/or its equivalent on Windows; so you could go some graceful cleanup.

[2019-01-25 14:54] stephentoub commented on #34831
That's a much, much bigger change, one that actually requires C# to know about CancellationToken, Console.CancelKeyPress, etc.

That usage is also achievable with:
[code]

[2019-01-25 14:58] benaadams commented on #34831
Yea, is why I went with this 😄

[2019-01-25 15:18] Symbai opened #34847 "Request for Double.HasExponent()"
I have a code where I'm iterating through more than a million of double values and have to check if each value contains an exponent. Currently I'm using code like this:

[code]

But instead of creating a string for more than a million of times I'm wondering if there is a faster approach. Somehow .NET has to know if there is an exponent like it does on ToString() when inserting an 'e' so there coul

[2019-01-25 15:38] Halofreak1990 commented on #31265
As far as I'm aware, the .NET CLR itself, is little-endian, and the BinaryReader/Writer implementations are built with this in mind, swapping bytes as necessary when running on a big-endian machine. This simplifies running code on the CLR, as endianness is completely taken out of the equation.

[2019-01-25 15:50] stephentoub commented on #34804
This is likely the problem.  This is asking HttpClient to return to you the response message having only read the response headers and not the response body, so it's giving back to you a response that's holding open a connection and everything along with it, expecting you to consume the remainder of the data.  Since you're not, and since you're not disposing of it, the only way it'll get cleaned u

[2019-01-25 16:01] tarekgh commented on #32870
Thanks @bmpcon for the more info. I'll try to take a look and get back to you in few days.

[2019-01-25 16:05] danmosemsft commented on #34847
@tannergooding

[2019-01-25 16:07] wingrime commented on #34804
thanks! seems helps

I am not expected so much different behavior
Behavior is different between OSes

[2019-01-25 16:07] #34804 closed

[2019-01-25 16:43] stephentoub commented on #32870
Do you have any custom culture data installed for the sv-SE culture?

From a cursory inspection of the method, it would seem this could only come from:
https://github.com/dotnet/coreclr/blob/e0d680101a93797c9e1a049bf582a874e2cb4113/src/System.Private.CoreLib/shared/System/Globalization/CultureData.cs#L2364
which assumes we'll get back exactly ten characters from the call to Windows (one for each d

[2019-01-25 16:53] ericstj opened #34849 "Play_InvalidFile_ThrowsInvalidOperationException throwing web exception for URL"
See https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F34786~2Fmerge/test~2Ffunctional~2Fcli~2F/20190124.33/workItem/System.Windows.Extensions.Tests/analysis/xunit/System.Media.Test.SoundPlayerTests~2FPlay_InvalidFile_ThrowsInvalidOperationException(sourceLocation:%20%5C%22http:~2F~2Fgoogle.com%5C%22)

[code]

We don't need to test the web here, can this be a local invalid s

[2019-01-25 16:58] tarekgh commented on #32870
nit:
the line

[code]

should be

[code]

[2019-01-25 16:59] #34765 closed

[2019-01-25 17:01] rammaram06 commented on #32976
I'm trying to build a .net core project using dotnet core sdk image getting same error..

I tried adding the CA cert but no luck

**Import-Certificate -FilePath C:/temp/CA-Bundle.crt -CertStoreLocation Cert:/LocalMachine/Root/**

[code]

[2019-01-25 17:09] stephentoub commented on #21371
@Drawaes, if you're still interested, there's a bunch of code that's still APM based that could stand to become async/await-ified :smile:  That would help with clarity and maintainability, but I suspect it would also help at least a tad with perf (or at least shouldn't hurt).

[2019-01-25 17:09] tannergooding commented on #34847
A double-precision floating-point value is a 64-bit value constructed from 3 parts:
* A 1-bit sign
* An 11-bit exponent
* A 52-bit signifiand

So in all cases, floating-point values have exponents.

It seems like what you are asking for, however, is whether a resulting call to `ToString()` will cause the value to be output in "scientific" notation. This is difficult because it not only depends on

[2019-01-25 17:20] safern commented on #29191
https://github.com/dotnet/corefx/pull/34764#discussion_r251059874

[2019-01-25 17:21] danmosemsft commented on #34839
@wfurt I'm afraid this was bd3b5d2f1de9f4a9e6bbc0f154085de7f8228375

The assert is catching that you are capturing `_output` into the `RemoteExec` delegate, which will not work because it is run in a different process. The only output we capture from the remote process is the exit code and the console output. So you'll want to change the body of that delegate to log to console output.

This got th

[2019-01-25 17:22] danmosemsft commented on #34839
Super rare to have a test fail on all legs including Windows 😄

[2019-01-25 17:25] danmosemsft opened #34851 "Lots of DateTime tests failing on Ubuntu ARM64 due to missing London timezone"
All the ones I looked at seem the same.

https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190125.1/workItem/System.Runtime.Tests
[code]
Ubuntu.1804.Arm64-arm64-Release
Get Repro environment
[code]

@joperezr I think you own S.Runtime

[2019-01-25 17:46] kevinlo commented on #34608
@bartonjs.   I am sorry that I need to ask you again.

I try deleting the MachineKey file right after the X509Certificate2 is created:

[code]

At first, I thought it works, but I find out I have the certificate in the Personal store.   After I delete the certificate in the personal store and run the program again, I get this exception:

[code]

After I remove that File.Delete line, it works fine.

[2019-01-25 17:47] dotnet-mc-bot opened #34852 "Test failure: System.Threading.Tasks.Tests.AsyncTaskMethodBuilderTests/AsyncMethodsDropsStateMachineAndExecutionContextUponCompletion"
Opened on behalf of @danmosemsft

The test `System.Threading.Tasks.Tests.AsyncTaskMethodBuilderTests/AsyncMethodsDropsStateMachineAndExecutionContextUponCompletion` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190125.1 (Core Tests)
Failing configurations:
- Ubuntu.1810.Amd64-x64
  - Release

[2019-01-25 17:48] danmosemsft commented on #34852
@stephentoub this test is normally stable. I assume increasing the timeout won't help here. Do you see any flaw in the test?

[2019-01-25 17:49] Symbai commented on #34847
I'm sorry, yes this is what I meant. I'm reading a large array of bytes where I know all of them are numbers and I know all of these numbers are stored in a human readable format but I don't know which type (i.e. integer, float, double). So I have to guess. Could it be type integer, long, double etc. My approach is that if you for example convert a long number (8 bytes) to byte array and then to d

[2019-01-25 17:49] safern commented on #34851
I will change official builds to run tests in Ubuntu16.04 either, because we're building in 16.04 and running in 18.04 and that causes some dependency issues because the build is not fully portable. After I update official build to run tests in 1604, we should see if tests keep failing.

[2019-01-25 17:49] dotnet-mc-bot opened #34853 "Test failure: System.Media.Test.SoundPlayerTests/CancelDuringLoad_ThenPlay_Success(sourceLocation: \"adpcm.wav\")"
Opened on behalf of @danmosemsft

The test `System.Media.Test.SoundPlayerTests/CancelDuringLoad_ThenPlay_Success(sourceLocation: \"adpcm.wav\")` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190125.1 (Core Tests)
Failing configurations:
- Windows.10.Nano.Amd64-x64
  - Release

[2019-01-25 17:50] danmosemsft commented on #34853
@maryamariyan there are 4 more tests that still need the IsSoundSupported annotation.

https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190125.1/workItem/System.Windows.Extensions.Tests

[2019-01-25 17:52] danmosemsft commented on #34823
NOTE: this is failing sporadically not consistently, so it's unlikely that the filesystem is just unexpected type.

https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190125.1/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.FileInfo_GetSetTimes~2FCopyToNanosecondsPresent

[2019-01-25 17:54] maryamariyan commented on #34853
OK adding

[2019-01-25 18:02] tannergooding commented on #34847
There are a bunch of code-paths, each with their own logic. For the default format specifier (which is `G`), the logic is here: <https://source.dot.net/#System.Runtime.Numerics/System/Globalization/FormatProvider.Number.cs,3983315d94b55804>

Basically, it depends on the number of "significant" digits the user wants included in the string and the actual resulting number. Basically, for `G`, if the

[2019-01-25 18:02] tannergooding commented on #34847
Other format specifiers each have their own behavior. `E`, for example, always uses scientific notation. `C`, `F`, `N`, and `P` never do.

[2019-01-25 18:03] danmosemsft commented on #34717
@maryamariyan is is now failing differently

https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190125.1/workItem/System.Console.Tests/analysis/xunit/WindowAndCursorProps~2FTitle_Get_Windows_NoNulls

[code]

I think we misread the previous failure.
[code]
Nano was returning `\0峴` (null followed by garbage?) poss

[2019-01-25 18:14] Symbai commented on #34847
I'm interested in the default format specifier like in my example above. Thanks for the link, I believe it's exactly what I was looking for.

[2019-01-25 18:14] #34847 closed

[2019-01-25 18:23] maryamariyan commented on #34849
Looking.

cc: @stephentoub

[2019-01-25 18:25] satano commented on #5523
Info about how to fix this from @Tratcher [during this PR](https://github.com/dotnet/corefx/pull/33174#issuecomment-454581924).

Proposal: Change TryComputeLength to a public API, call it directly from the transports, and set ContentLength manually before sending the request.

[2019-01-25 18:33] dotnet-mc-bot opened #34855 "Test failure: System.IO.Tests ... Unix_NotFoundDirectory_ReadOnlyVolume and Unix_ExistingDirectory_ReadOnlyVolume"
Opened on behalf of @danmosemsft

The test `System.IO.Tests.FileInfo_Delete/Unix_ExistingDirectory_ReadOnlyVolume` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190125.1 (Core Tests)
Failing configurations:
- Ubuntu.1804.Arm64-arm64
  - Release

[2019-01-25 18:34] danmosemsft commented on #34855
`            Assert.Equal(0, AdminHelpers.RunAsSudo($"mount --bind {sourceDirectory} {readOnlyDirectory}"));`
returned 32 which means "mount failure"
https://linux.die.net/man/8/mount

[2019-01-25 18:43] Wraith2 commented on #30913
hmm, no lib environment variable and I don't have the `Enterprise` part of the path, the rest underneath it is correct. I can find the MSVCRTD.lib file in both the x86 and x64 folders so it looks like it just isn't finding that path. Setting lib to that path (in the command prompt, not machinewide) and re-running doesn't change the error.

[2019-01-25 18:52] danmosemsft commented on #34855
The console log shows why
`[mmount: /tmp/File_Delete_4ra1nnth.tpf/ReadOnly_FileSystemHelper_112_1d5168be: permission denied.`

It looks like `sudo` sets exit code to 1 if it fails, otherwise it just passes through the exit code. So apparenlty `sudo` succeeded, but still `mount` hit access denied.

[2019-01-25 18:53] danmosemsft commented on #30913
If you're in a VS2017 Developer command prompt, I am very surprised that LIB (and INCLUDE?) are not defined. I don't know how Cmake works, but generally I would expect native compilation to expect those.

Any idea what changed since this worked for you last?

[2019-01-25 18:58] Wraith2 commented on #30913
The build process runs the prompt, I never needed to:
[code]

What changed is using preview2, on 2017 it was working fine. Given that you have a different path and until preview2 was available it may be that internal builds installed to a different path and it needs that extra subdirectory, I can't work out what file it's actually trying to build though so i'm having trouble tracking it down.

[2019-01-25 18:59] danmosemsft commented on #34855
The paths are in tmp, no idea why permission denied. I assume tmp is set up normally, or many tests would fail.

@safern on ARM64, are tests running as a user that has permission to sudo? As above it seems sudo is succeeding, but I don't have another theory

[2019-01-25 19:00] danmosemsft commented on #30913
Did you reboot since installing preview 2? It modifies global environment variables, which is why VS install sometimes requests a reboot.

[2019-01-25 19:03] danmosemsft commented on #34824
@KKhurin several times a day. It almost always passes:-
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20190124.2/workItem/System.Runtime.Caching.Tests/analysis/xunit/MonoTests.System.Runtime.Caching.MemoryCacheTestExpires11~2FTimedExpirationAsync

[2019-01-25 19:04] NonSecwitter opened #34857 "Array should be intrinsically sortable"
### Rationale
The condition of being sorted is about the internal state of the array. Without an internal representation to convey it's state, knowing the internal state of being sorted depends on (a) compliance with requirements known by successful communication through documentation or (b) implementing the routine to always perform a sort operation on a received array.

The first case pushes the

[2019-01-25 19:09] Wraith2 commented on #30913
Yes. It requested one and got one.

[2019-01-25 19:35] HaloFour commented on #34857
Not only is this permitted by every .NET language, it is the idiomatic way of accessing/modifying arrays in .NET by every .NET language.

[2019-01-25 20:00] #34853 closed

[2019-01-25 20:07] NonSecwitter commented on #34857
Maybe this is why so much of the commercial software we deploy in our environment breaks so often with out of bounds errors.

[2019-01-25 20:12] Wraith2 commented on #34857
Data abstraction and encapsulation are high level concerns, they're up there in OO territory. Array is a primitive type, a really really primitive type, provided and defined by the runtime.

The implementation of an array aligns closely with that of a "native" array in that it is a region of memory which contains sequential blocks of data which will contain object data. As a piece of contiguous me

[2019-01-25 20:13] HaloFour commented on #34857
That makes no sense, you get literally the same exception using `ldelem`/`stelem` as you do with `Array.GetValue`/`Array.SetValue`.  Failing to ensure that your index is in bounds has nothing to do with how you decide the access the array, and the CLR ensures that attempts that are out of bounds fail, as they should.

[2019-01-25 20:14] ewassef commented on #32976
I think the docker stuff might be causing some confusion, but I am not in Docker ... i am running MVC core app using the exe directly on a windows machine. This code is running directly in the PRogram.cs already and the same code works in a .net core 2.2 console application.

the code variants were created via the built in templates in visual studio 2017 and still have the default plumbing

[2019-01-25 20:18] ViktorHofer commented on #30913
Yes that's a known issue. Please use the Developer Command Prompt for VS 2017 when building. This should be fixed in a few days / weeks.

[2019-01-25 20:20] yuezengms opened #37044 "Address "System.Net.Sockets.SocketException: Address already in use" on K8S/Linux using HttpClient/TCP"
~Assumption: Duplicate of #32027 which was fixed by #32046 - goal: Port it (once confirmed it is truly duplicate).~
This is HttpClient/TCP spin off. UdpClient is covered fully by #32027.

# Issue Title

"System.Net.Sockets.SocketException: Address already in use" on Linux

# General

Our .net core(v 2.2.0) services are running on Azure Kubernettes Linux environment. Recently we experimenced a lot

[2019-01-25 20:36] BillArmstrong commented on #24683
I ran into this several months ago. At the time we didn't investigate further because we didn't need to connect using default credentials. Now we do, which led me to discover this thread.

The provided workaround assumes that the logged on user does not have permissions to access the resource being targeted and that the 401 error being returned is a legitimate error. In my scenario the user actual

[2019-01-25 20:42] #34839 closed

[2019-01-25 20:59] danmosemsft commented on #30913
Do you have `Developer Command Prompt for VS 2017 ` in your start menu? If so open that, then run the build inside that.

[2019-01-25 21:00] Wraith2 commented on #30913
oh, that simple, neat. I'll give it a try, thanks.

[2019-01-25 21:04] mthalman-msft commented on #32790
If the decision ends up being that there are two distinct queue classes (the original Queue class and the proposed double-ended queue class), might I then propose that there be a common interface between the two?  The interface would contain all the same public members as the original Queue class (e.g. Dequeue, Enqueue, etc.).  This would then allow for code to consume either instance but of cours

[2019-01-25 21:23] Clockwork-Muse commented on #34857
@NonSecwitter -
To give you an idea of how primitive an array really is, consider that many older/lower level languages make (almost) no distinction between runtime arrays and pointers to memory.  C/C++ doesn't even maintain the size of the array in the native array type (so that you don't have to allocate new memory for a slice - just move the pointer forward and subtract some amount from the len

[2019-01-25 21:47] danmosemsft opened #34863 "Fix the baseline files for NS2.1"
@wtgodbe owns this and it is in progress.

[2019-01-25 21:49] NonSecwitter commented on #34857
@Clockwork-Muse A fair argument. I could see this working out better as an ``` ISortableArray ```

[2019-01-25 21:49] Tratcher commented on #32976
@ewassef can you upload that app for confirmation?

[2019-01-25 21:53] terrajobst opened #34864 "Ensure we add a NuGet mapping for .NET Standard 2.1 and .NET Core 3.0"

[2019-01-25 22:04] terrajobst commented on #32959
@Foxtrek64

The issue needs to be API approved, which we can hopefully do next Tuesday. Once down, you can work with @danmosemsft to see whether you can claim this.

[2019-01-25 22:12] Clockwork-Muse commented on #34857
There isn't an "array" interface in C# - the equivalent is `IList<T>`  So normally you'd expect it to be `ISortedList<T>`, except probably the existing `SortedList` wouldn't implement (given how it functions/is defined), which would cause no end of confusion.

The usual method for dealing with sorting tends to be "sort it just before you do something that requires sorted input", in almost every la

[2019-01-25 22:23] terrajobst commented on #1565
Looks like we're now consistent:

[code]

I looked at the other methods and with respect to `StringComparison` nothing sticks out. And with respect to .NET Standard, the overloads taking `StringComparison` got added in https://github.com/dotnet/standard/pull/823.

[2019-01-25 22:23] #1565 closed

[2019-01-25 22:32] #34659 closed

[2019-01-25 22:46] krwq opened #34867 "Add SslStream.NegotiatedCipherSuite"
Spin off from: https://github.com/dotnet/corefx/issues/33809 - currently we do not have agreement on how cipher suite policy should look like, this part of the feature is fairly stable and unlikely to change - regardless of how that API will look like we will need to test it and be able to provide some correct information on what exactly happened during negotiation.

Current APIs on SslStream repo

[2019-01-25 22:47] safern commented on #29906
Fixed by: https://github.com/dotnet/corefx/pull/34764

[2019-01-25 22:47] #29906 closed

[2019-01-25 23:06] mguinness opened #34868 "SmtpClient not sending QUIT on Dispose?"
Per the documentation at [SmtpClient.Dispose](https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.smtpclient.dispose?view=netcore-2.1) this method should send QUIT:

However when using in .NET Core, this does not appear to be the case.

In the .NET Reference Source, the underlying SmtpTransport class does this:
https://github.com/Microsoft/referencesource/blob/master/System/net/System/Net/

[2019-01-25 23:09] Anipik commented on #34823
I found the problem
[code]
In our attempt to make the test deterministic we were setting the nanoseconds attribute by ourselves using Utimensat
but is not available on mac machines hence we cant set the nanoseconds attribute on those machines.

We can add retries for mac but for nanoseconds it was failing quite often.
Or what we can do is skip the test if the os is mac and we have gotten a file wi

[2019-01-25 23:10] safern commented on #26084
Closing for age, one year without update/reply. Please feel free to re-open if necessary.

[2019-01-25 23:10] #26084 closed

[2019-01-26 00:08] wtgodbe commented on #34501
I've dug into this, and it is indeed the same issue as Stephen mentions in https://github.com/dotnet/corefx/issues/34501#issuecomment-453362727. Here's what's happening under the hood:

- You call `Console.ReadKey`
- `ReadKey` calls `ConsolePal.ReadKey`: https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/Console.cs#L109
- `ConsolePal.ReadKey` calls `SyncTextReader.ReadKey`:

[2019-01-26 00:18] davidsh commented on #34868
This is a likely a product bug in .NET Core.

[2019-01-26 00:45] PatoBeltran commented on #34687
Any update on this?

Also, is SignerInfo.GetSignature() part of the APIs that will get exposed because of this? [this comment](https://github.com/dotnet/corefx/issues/24524#issuecomment-361337499) suggests that it should, since it is used as part of verification of the timestamped data.

This is blocking the NuGet package signature verification migration to cross platform.

[2019-01-26 01:50] #34178 closed

[2019-01-26 03:08] Foxtrek64 commented on #32959
I'll hold off until the review meeting. As noted in my last comment, this component seems to be spread into a few places, among them corefx, corecrl, and corert, so I want to make sure I'm focusing my time in the right place and that I follow all of the correct procedures. In the mean time though, I'll get the CLA taken care of.

[2019-01-26 04:02] ewassef commented on #32976
Heres the mvc site... thanks for taking a look
[HttpClientSample.zip](https://github.com/dotnet/corefx/files/2798566/HttpClientSample.zip)

[2019-01-26 10:30] nil4 commented on #34868
@davidsh would it make sense to implement `DisposeAsync` on `SmtpClient`, given that network packets would be sent (and flushed) when disposed? /cc @stephentoub

[2019-01-26 11:35] mitja-p commented on #25128
@ajcvickers It is not common to use custom strings. For basic things like Field xxx is required the message is evident enough. And in most cases is used just as is. So for all the people not living in English speaking nations or working on multilanguage products there should be an option for translation. I am actually sad to see issues dating back 2 years to fix this and nothing has been done in t

[2019-01-26 13:45] benaadams opened #34875 "API Proposal: Avx.Zeroupper"
The Jit normally issues `vzeroupper` commands at entry and exit of methods, however when when mixing Avx and Sse code in the same method it is helpful to manually issue `vzeroupper` at the transitions:

Proposed api
[code]

Also added `vzeroall` for discussion.

Use case: https://github.com/dotnet/coreclr/pull/22187#discussion_r251189236

/cc @CarolEidt @fiigii @tannergooding @jkotas

[2019-01-26 14:05] #34875 closed

[2019-01-26 14:06] benaadams commented on #34875
from: @mikedn https://github.com/dotnet/coreclr/pull/22187#discussion_r251200150

[2019-01-26 16:12] davidsh commented on #34868
There is no SmtpClient.DisposeAsync() method on the API.  In fact, this method was added to .NET Framework long before Task async pattern was available.  So, it would need to be implemented as a blocking/synchronous API.

[2019-01-26 16:21] tannergooding commented on #28457
Using the new hardware intrinsic feature users are now able to write their own implementations using (nearly) any SIMD hardware instruction made available via SSE to AVX2 and that should be a reasonable workaround.

That being said, there are likely still some "general-purpose" algorithms that we could expose on `System.Numerics.Vector<T>`. This would ideally be reviewed on a case-by-case basis wi

[2019-01-26 20:51] ehajri opened #34876 "CryptographicException: Error occurred during a cryptographic operation"
# Issue Title
Getting "_CryptographicException: Error occurred during a cryptographic operation._" on macOS Mojave.
# General
While trying aspnet core Identity from [this repo](https://github.com/aspnet/Docs/tree/master/aspnetcore/security/authentication/identity/sample/src/ASPNETCore-IdentityDemoComplete/IdentityDemo), I get this exception

while executing [this line](https://github.com/aspnet/Do

[2019-01-26 21:34] davidsh opened #34877 "Incorrect exception message shown during NTLM authentication"
Split from #28961

As of .NET Core 2.1, the default HTTP stack is based on SocketsHttpHandler.  SocketsHttpHandler uses the GSSAPI for handling HTTP AUTH schemes of 'Negotiate' and 'NTLM'.

On *Nix and OSX machines, this requires installing the GSSAPI support packages for both Kerberos and NTLM. The default docker images for .NET Core do not include the NTLM support package (i.e. gss-ntlmssp). As

[2019-01-26 21:48] davidsh opened #34878 "Negotiate to NTLM authentication fallback not working"
Split from #28961

As of .NET Core 2.1, the default HTTP stack is based on SocketsHttpHandler. SocketsHttpHandler uses the GSSAPI for handling the HTTP AUTH scheme of 'Negotiate'.

On Windows, support for the 'Negotiate' scheme includes the use of Kerberos where possible. Otherwise, it falls back to using NTLM.  This is handled in the Windows SSPI Negotiate module.

On *Nix and OSX machines, Negot

[2019-01-26 21:59] davidsh opened #34879 "HTTPS and NTLM authentication throw PlatformNotSupportedException"
Split from #28961

As of .NET Core 2.1, the default HTTP stack is based on SocketsHttpHandler. SocketsHttpHandler uses the GSSAPI for handling the HTTP AUTH scheme of 'NTLM' when all the required GSSAPI packages are installed including 'gss-ntlmssp' (which directly supports NTLM authentication). See related issue #34877.

Currently when HttpClient tries to authenticate to a server over TLS (HTTPS)

[2019-01-26 22:02] davidsh commented on #28961
After looking through this thread and investigating all the mentioned problems, I have split this issue into new issues and will be closing this issue.

New issues:

* Incorrect exception message shown during NTLM authentication #34877
* Negotiate to NTLM authentication fallback not working #34878
* HTTPS and NTLM authentication throw PlatformNotSupportedException #34879

[2019-01-26 22:02] #28961 closed

[2019-01-26 23:28] tannergooding opened #34881 "Take another look at the `COMISS` and `UCOMISS` hardware intrinisics"
It was raised in https://github.com/dotnet/coreclr/pull/22043#discussion_r251106117 that the names for the `COMISS` and `UCOMISS` hardware intrinsics might be confusing as the names (such as `CompareEqualOrderedScalar` and `CompareEqualUnorderedScalar`) might give the impression that the condition is ordered/unordered, when in fact it is the compare instruction that is ordered/unordered.

We shoul

[2019-01-26 23:36] tannergooding opened #34882 "Fixing naming of `Sse41.Test*` and `Avx.Test*` methods"
This issue is tracking 6 APIs in the `Sse41` class (3 of which have corresponding 256-bit overloads in the `Avx` class):
* These 3 exist in both
  * TestZ
  * TestC
  * TestNotZAndNotC
* These 3 exist only in `Sse41`
  * TestAllOnes
  * TestAllZeros
  * TestMixOnesZeros

The original issue was tracking both coming up with better names for the first three and determining what to do about the second

[2019-01-26 23:36] tannergooding commented on #34882
CC. @eerhardt, @terrajobst, @fiigii, @CarolEidt

[2019-01-26 23:36] tannergooding commented on #34882
_From @eerhardt on November 19, 2018 16:3_

Do we have a list of proposed/recommended new names?

[2019-01-26 23:36] tannergooding commented on #34882
I don't believe we currently have any proposed names. However, if this is being done, it needs to be done before 3.0.

[2019-01-26 23:38] tannergooding commented on #34882
It was raised in https://github.com/dotnet/coreclr/pull/22043#discussion_r251215809 that the `TestC`, `TestZ`, and `TestNotZAndNotC` methods are just duplicates to the `TestAllOnes`, `TestAllZeros`, and `TestMixOnesZeros` methods (respectively).

We could probably just delete the three former ones.

[2019-01-26 23:46] mikedn commented on #34882
`TestAllOnes` isn't a duplicate. Though it's not a real intrinsic either, it's a helper. It may be better to not have it in the first place, but the way to get an "all ones" mask is a bit cumbersome so perhaps it's useful to keep it.

[2019-01-27 00:30] karelz commented on #32751
@Cephei are you using EXACTLY the same OS in Docker vs. outside?
If not, it may be the reason.
If you do, then check settings around certificates and if they differ.

[2019-01-27 01:33] epignosisx commented on #33070
I took another stab at the memory dumps with my limited Windbg knowledge and I found something curious:

[code]

This is the breakdown of the SqlConnection's innerConnection:

System.Data.ProviderBase.DbConnectionClosedPreviouslyOpened: 2629
System.Data.ProviderBase.DbConnectionClosedNeverOpened: 128
System.Data.SqlClient.SqlInternalConnectionTds: 1

@saurabh500 @Wraith2  Do these numbers say anyt

[2019-01-27 07:55] fiigii commented on #34882
Perhaps we can add a new platform-agnostic intrinsic `Vector64/128/256<T>.AllOnes`.
That would be good for user experience and compiler implementation/optimization.

With the `AllOnes` intrinsic, we can remove some "helper" intrinsic from the JIT inside or just provide them in managed implementation. Meanwhile, the current certain helper intrinsic (e.g., `TestAllOnes` and `Gather`) may have subopt

[2019-01-27 08:10] fiigii commented on #34882
Yes, these duplicated APIs are from C/C++ intrinsic design. We kept them for helping developers easily porting C/C++ SIMD code to C#.

But I do not think `TestAllZeros`, and `TestMixOnesZeros` are good names. For example, `TestAllZeros` makes sense when it operates over "masks", but `TestEqual` is a better name when it operates over "data". So, I prefer `TestC`, `TestZ`, and `TestNotZAndNotC` if w

[2019-01-27 08:11] mikedn commented on #34882
Perhaps, though that's just a convenient name for `Create(-1)`, if the JIT recognizes that.

Doing value numbering for all intrinsics it's a ton of work and it's not clear if that's truly useful, developers can do their own hoisting. I think the main problem is that we offer this "test all ones" helper that may appear to be useful to developers but that the JIT doesn't handle well enough. Perhaps

[2019-01-27 08:16] fiigii commented on #34882
Ah, yes, we can let JIT recognize that in the constant vector optimization.

[2019-01-27 08:18] mikedn commented on #34882
That's a dubious argument. The "easy porting" part was thrown out of the window together with the native intrinsic names that have been replaced by .NET names. At this point, if you want to port a large piece of intrinsic code from native to managed, you'll need a big mapping table. Otherwise you're going to waste a lot of time figuring it out. And if you have such a table, well, you can mention t

[2019-01-27 08:20] fiigii commented on #34882
Agree, I prefer removing the duplicate APIs.

[2019-01-27 08:57] ModestasK opened #34887 "Timer class issue on ARM (Raspbian/ubuntu stretch)"
Setup:

**RaspberyPi 3**
- Distributor ID:	Raspbian
- Description:	Raspbian GNU/Linux 9.4 (stretch)
- Release:	9.4
- Codename:	stretch

**DotNet**

- Host (useful for support):
Version: 2.1.5
Commit:  290303f510

- .NET Core SDKs installed:
No SDKs were found.

- .NET Core runtimes installed:
Microsoft.AspNetCore.All 2.1.5 [/opt/dotnet/shared/Microsoft.AspNetCore.All]
Microsoft.AspNetCore.App 2.1.

[2019-01-27 09:04] Cephei commented on #32751
@karelz ... not to my knowledge, however, my expertise in Docker is severely lacking. Perhaps that is the issue. I'm running Docker for Mac on OSX Sierra. I'm using Microsoft's Linux amd64 container images from https://hub.docker.com/r/microsoft/dotnet/

I actually found a better solution for my problem (https://github.com/Azure/azure-cosmos-dotnet-v2/issues/605).

[2019-01-27 09:04] damageboy opened #34885 "Provide Canonical API to read console cursor position in one call"
Today, the `Console` class in corefx provides two properties that provide the `CursorLeft`and `CursorTop` properties.

Unfortunately, there seems to be no way of reading the cursor position "atomically" from the OS through the existing console APIs, although the actual OS does indeed support this for Windows / Unix inside the respective `ConsolePal` classes:
* Windows:
  https://github.com/dotnet/

[2019-01-27 09:17] ViktorHofer opened #34886 "Road to code coverage"
The list of remaining work necessary for automated code coverage:

### Full code coverage
Currently cc for System.Private.CoreLib is broken. These steps are necessary to fix that:
- [ ] Merge https://github.com/tonerdo/coverlet/pull/322
- [ ] Consume a new released version in https://github.com/dotnet/corefx/pull/34641 and use the IL version of S.P.CoreLib.
- [ ] Port official cc run to AzDO (and

[2019-01-27 10:59] ViktorHofer commented on #34886
@safern do we use Helix for official runs too? It would be nice if we could use helix for the official code coverage run(s).

[2019-01-27 11:59] nietras commented on #32943
I think it is unfortunate the `Create(object, ref T, int)` or equivalent has been removed. As @Sergio0694 mentioned there are other uses of `ReadOnlySpan/Span<T>` outside the one-dimensional array scope.

I think the lack of this method is problematic for interoperability with the `Span<T>` types, basically the type is limited to the scenarios that you think is possible without regard for what oth

[2019-01-27 14:34] danmosemsft commented on #34886
We also need to solve the early termination problem right? I see in the vstest issue they say it needs to be a DiagnosticCollector to avoid early termination.

Re speed, I dont believe we often use branch coverage today . Is there a flag to only instrument for block coverage, would that help?

[2019-01-27 14:39] danmosemsft commented on #34887
@ModestasK transferred here (seems github issue move does not leave any bread crumb behind

[2019-01-27 17:08] ViktorHofer commented on #34886
No that issue doesn't affect us as we don't use vstest right now.

[2019-01-27 19:11] davidsh commented on #34867
.NET Design guidelines frown on throwing exceptions for property getters.  So, it shouldn't throw.

Since it is an enum value, it can't return `null`.  But it should return some sentinel value that represents uninitialized.

[2019-01-27 20:18] rahuldutta90 commented on #34325
@karelz  @davidsh

i managed to write a small repo using a mock server using "WebListener" (this is simpler to understand than above live test) which did repo this problem for .net framework (i used .net472), however it did not repo for net core.

Httpclient code in my sdk - I managed to extract the httpclient code from my library which I feel relevant
[code]

My server code:
[code]

And then i ju

[2019-01-27 20:37] TylerAP commented on #29210
Any linux option?

[2019-01-27 21:48] davidsh commented on #29210
In general, the .NET EventSource traces are cross-platform.  There are several different ways to view them, either in code or external.  Unfortunately, we don't have current documentation for that.  But LTTng is used on Linux for that.

See: http://blogs.microsoft.co.il/sasha/2017/03/30/tracing-runtime-events-in-net-core-on-linux/

[2019-01-27 21:49] danmosemsft commented on #34885
Could you please format like an API proposal (info in docs folder)? That will make API review meeting quicker.

[2019-01-27 21:52] danmosemsft commented on #34885
@wtgodbe owns this area.

If on at least one platform we can get the value atomically, this seems like a reasonable idea to me.

[2019-01-27 21:54] danmosemsft commented on #34885
I am not sure the best type as we seem to avoid adding API with tuples (based on a discussion I can't find right now). Point would be nice but it's in winforms.

[2019-01-27 22:09] stephentoub commented on #34885
It's in System.Drawing.Primitives in corefx.

[2019-01-27 23:41] #34877 closed

[2019-01-27 23:44] danmosemsft commented on #34885
@stephentoub thank you, maybe I should not comment on phone where I can't look.

[2019-01-27 23:47] stephentoub commented on #34885
:smile:

[2019-01-27 23:55] gafter commented on #33284
It is `SwitchExpressionException` as reviewed https://github.com/dotnet/corefx/issues/33284#issuecomment-448332714

[2019-01-28 02:47] a14907 commented on #33643
I have the same problem, any solution?

[2019-01-28 03:45] krwq commented on #34867
@davidsh, does `TlsCipherSuite.TLS_NULL_WITH_NULL_NULL` sound reasonable? It's hard to tell which other value to use since new values can be added in the future - other option would be to change backing type from ushort to int and use `-1` for that.

[2019-01-28 05:00] riverar opened #34892 "System.IO.Compression.ZipArchive reads entire input stream before failing when non-Zip specified"
Consider this example with a large [sample cabinet file](http://go.microsoft.com/fwlink/p/?LinkID=74689):
[code]

ZipArchive does not support Microsoft Cabinet files, so I expected a quick check of the magic `MSCF (4D 53 43 46)` would result in failure. Instead, ZipArchive consumes the entire input stream -- this could be a long time and prove to be costly on Azure Blob Storage-backed streams. The

[2019-01-28 05:01] davidsh commented on #34867
Typically, .NET design guidelines don't do that usually.  For non-reference types, sometimes making them nullable is the answer.  I suggest getting guidance from the API design group.

@terrajobst can you comment on this?

[2019-01-28 07:40] wfurt commented on #34719
Updating to longs wold make sense - follow same pattern as the TCP change. Do you want to put up PR? If so, please do include tests as well  (you can use snapshot from your /proc file)

[2019-01-28 09:03] CodeTherapist commented on #34768
I would like to do this :)

[2019-01-28 09:05] ahsonkhan opened #34894 "Provide an in-box implementation of IBufferWriter<byte> backed by a resizable byte array"
## Motivation

The `Utf8JsonWriter` is a ref struct which accepts `IBufferWriter<byte>` for synchronous writing. Today, we provide one implementation of this interface, `PipeWriter`. If the user wants to write to an array or stream, or wants to write asynchronously to an output sink other than `PipeWriter`, they end up implementing their own custom `IBufferWriter<byte>`. To enable writing JSON to

[2019-01-28 09:07] ViktorHofer commented on #34886
There isn't such a flag yet. Fixing the above linked issue would be the ideal first step to increase perf. The current instrumentation logic is suboptimal.

[2019-01-28 09:18] ahsonkhan commented on #34768
Awesome!

This API change is waiting for API-review and approval (which happen on Tuesdays). We generally wait for that before opening up a PR.

However, if approved, the API shape will likely not change, so imo, feel free to get started on a PR if you like (marking it as blocked against this issue). Feel free to ping me for review or if you are blocked on anything. There are only two pending ques

[2019-01-28 09:24] filipnavara opened #34895 "No new builds are published on MyGet"
The last package on https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.Private.CoreFx.NETCoreApp is from 23 Jan 2019. The lack of newer packages prevents me from ingesting new code in CoreRT.

[2019-01-28 10:13] CodeTherapist commented on #34768
Thanks for the comprehensive information about the API-Review part - I guess it's the session that is streamed over youtube.

Accordingly to other similar API's ([Json.NET](https://github.com/JamesNK/Newtonsoft.Json/blob/509643a8952ce731e0207710c429ad6e67dc43db/Src/Newtonsoft.Json/JsonTextReader.cs#L2578), [XmlReader](https://github.com/dotnet/corefx/blob/90e11f77895a5c5363dd818b5c89c6f811eef2e6/s

[2019-01-28 10:16] ehajri commented on #34876
Appreciate any help or tip. I am not able to develop on my mac at the moment with the new Identity.

[2019-01-28 10:53] GSPP commented on #34822
If a caller wants to process an entire string the overhead of creating many new spans and invoking this method many times might be significant. Maybe there should be an API that enumerates all this data. Maybe this could take the form of a `ref struct` that behaves like an enumerator.

[2019-01-28 10:56] GSPP commented on #34831
`ResetCancellation` is a design based on side-effects. Maybe just this instead?

    static CancellationToken Console.WhenCancelled();

Callers can get a new token whenever they want. It tracks the next cancel signal.

[2019-01-28 11:06] GSPP commented on #34885
This API should return a struct to not force the caller to accept side-effects with those `out` parameters. Expressions compose better than statements.

[2019-01-28 11:07] GSPP commented on #34892
I wonder what the Zip API actually does with all of that data that it reads. Is it trying to skip over leading garbage? It should not do that at all.

[2019-01-28 11:13] GSPP commented on #34781
If people go to such length to deal with this then the problem must be very bad. This is my impression as well.

The downside here is that reentrancy becomes even more non-deterministic. It now matters in what order continuations are being attached. This makes bugs more spurious and harder to reproduce.

Ordinary .NET developers cannot effectively deal with such bugs and might simply be unable to

[2019-01-28 11:15] ViktorHofer commented on #34895
I think @safern knows more about this package than I do.

[2019-01-28 11:26] Zheng-Li01 opened #34897 "An error pops up when using the method AddResource() of ResXResourceWriter in the .NET Core 3.0 winforms application"
**OS:** RS4 X64
**VS:** Visual Studio 2019 Version 16.0.0.0 Preview 4.0 [28526.15.d16.0stg]
**.NET SDK:** .NET Core 3.0 3.0.100-preview-10184

**More Info:**
1. In .Net framework application adding the same code, no exception pops up.
2. Replace Bitmap value = new Bitmap(64, 64) with Bitmap value = new Bitmap("C:\\Users\\v-jiaol\\Desktop\\new.png") , no exception pops up.

**Steps to Reproduce:**

[2019-01-28 11:35] ViktorHofer commented on #30913
Closing this issue as debugging with Visual Studio 2019 Preview 2 works again as expected.

[2019-01-28 11:35] #30913 closed

[2019-01-28 11:35] PedroLamas commented on #34775
Hi @GSPP, thank you for your feedback.

I have this on my own open-source [Cimbalino Toolkit](https://cimbalino.org) exposed on the method extensions in [Cimbalino.Toolkit.Core](https://www.nuget.org/packages/Cimbalino.Toolkit.Core) nuget package.

Indeed, there are a lot of possible ideas for tree enumeration, my proposal is to have a basic one (as most Linq method are) part of the BCL.

[2019-01-28 11:35] #34897 closed

[2019-01-28 11:49] omariom commented on #34894
ValueStringBuilder has interesting ability to use whatever initial span it is provided and then switch to ArrayPool.
The span is ususally stack allocated.
https://github.com/dotnet/corefx/blob/90e11f77895a5c5363dd818b5c89c6f811eef2e6/src/Common/src/CoreLib/System/Text/ValueStringBuilder.cs#L12

[2019-01-28 13:36] stephentoub commented on #34822
You mean like https://github.com/dotnet/coreclr/blob/57fd77e6f8f7f2c37cc5c3b36df3ea4f302e143b/src/System.Private.CoreLib/shared/System/String.cs#L546 ?

[2019-01-28 13:43] stephentoub commented on #32665
Yes, we do:
https://github.com/dotnet/corefx/blob/90e11f77895a5c5363dd818b5c89c6f811eef2e6/src/System.Runtime/ref/System.Runtime.cs#L1394-L1397

No, that's an oversight on my part.  Will fix.  Apparently I added the DisposeAsync methods in the refs but didn't actually mark the types as implementing the interface.

[2019-01-28 13:44] stephentoub commented on #34886
@danmosemsft, what do you mean by this?  Where do we "use" line/block coverage but don't branch coverage?  I personally look at both.

[2019-01-28 13:47] stephentoub commented on #34781
FWIW, it's hyperbole like this that causes me to start ignoring these discussions.

[2019-01-28 13:51] stephentoub commented on #34831
await Task.Delay(-1, token);

WhenCancelled has a side effect as well, in that it'll necessary need to cause us to set args.Canceled to false, and if we don't permanently do that, even after an initial Cancel call, then there are race conditions to be dealt with (there are of course race conditions regardless, e.g. whether you register with CancelKeyPress today before or after ctrl-C is pressed).

[2019-01-28 14:01] Wraith2 commented on #34892
The header is at the front but the central directory is at the end, and while there is a magic number in the header it isn't required, see [Wikipedia zip file format page](https://en.wikipedia.org/wiki/Zip_(file_format)#End_of_central_directory_record_(EOCD)).

[2019-01-28 14:09] stephentoub commented on #34895
Similarly, corefx hasn't ingested an updated coreclr since the 22nd; it's currently using one based on this commit:
https://github.com/dotnet/coreclr/tree/b9e88989458e24fa9764e045917b141e3338eae7
cc: @danmosemsft, @safern

[2019-01-28 14:25] danmosemsft commented on #34886
If it made a significant difference in perf it might mean we could afford to get at least some coverage data automatically in CI rather than none. If we can get both great.

[2019-01-28 14:31] syedabidali commented on #25138
Microsoft.XmlSerializer.Generator v2.0.0 stable not working due to large no.of references.
![image](https://user-images.githubusercontent.com/14038836/51842670-433ebc80-2333-11e9-8a67-cf6a7acd3917.png)
![image](https://user-images.githubusercontent.com/14038836/51842681-49cd3400-2333-11e9-90dc-087d031c51de.png)

[2019-01-28 14:35] syedabidali opened #34899 "Microsoft.XmlSerializer.Generator v2.0.0 not working"
why it picking up all the references, please suggest how can i resolve this for now , i removed the reference from dotnet CLI and configure it on Post Build event in VS 2017 but this run one after post built code , does removing the generated serializer.cs file.

![image](https://user-images.githubusercontent.com/14038836/51842823-9284ed00-2333-11e9-91eb-f67d69206c9b.png)
![image](https://user-ima

[2019-01-28 14:56] ViktorHofer commented on #34895
Ah now I finally remember what's going on. We currently hit a quota limit in our myget feed and can't publish new packages. https://github.com/dotnet/core-eng/issues/5070#issuecomment-457658390

[2019-01-28 15:02] ViktorHofer commented on #34895
Sure, I will let you know.

[2019-01-28 15:10] sharwell commented on #34886
I strongly recommend _not_ going down this path. Branch and/or sequence point coverage is an extremely valuable metric for the primary value-add of code coverage (guided code reviews).

[2019-01-28 15:21] sharwell commented on #34886
I recommend starting with Windows Debug and observing stable uploads for _at least_ a week. After that, we can add one additional Debug upload (Linux Debug or Mac Debug), and let it stablize for _at least_ a week. Our uploads will stress the report merge process used by codecov on multiple fronts:

1. The reports will be large, possibly approaching or exceeding the system limits even without multi

[2019-01-28 15:36] GSPP commented on #34781
@stephentoub now that I read it again it seems I got a bit too excited :laughing:. I apologize for causing annoyance.

[2019-01-28 15:42] GSPP commented on #34822
@stephentoub yes, exactly.

[2019-01-28 15:49] GSPP commented on #34892
It seems that a Zip file must always end with the `End of central directory record (EOCD)` which is of fixed size. It should never be necessary so scan through the data stream to find this record. I wonder how the current scanning code deals with the situation that uncompressed stored data might store data that looks like an EOCD. I guess only the last found EOCD would be used.

[2019-01-28 16:08] svick commented on #34419
@rocketRobin I don't think adding an option to support parsing invalid XML would be a good idea.

I think you have two options:

1. Contact the author of the XML and ask them to fix it.
2. Fix the XML before passing it to `XmlDocument`. As far as I can tell, there is no way to express the `\x10` character inside a CDATA section, so I would just remove it with code like:

[code]

    The problem wi

[2019-01-28 16:12] tannergooding opened #34902 "Consider moving several HWIntrinsic instance methods to be extension methods"
As per https://github.com/dotnet/coreclr/issues/22235#issuecomment-457988077, moving several of the hardware intrinsic "helper" methods to be instance methods has caused a regression in certain code hot-paths due to additional locals being created in order to pass the `this` parameter.

We should look at making these extension methods instead, so that users still have the "nice" calling syntax but

[2019-01-28 16:16] tannergooding commented on #34902
The issue specifically referred to the various `As` methods, but it likely applies to the other instance methods as well. These include:
* `GetElement`
* `WithElement`
* `GetLower`
* `WithLower`
* `GetUpper`
* `WithUpper`
* `ToScalar`
* `ToVectorXXX`
* `ToVectorXXXUnsafe`

At least in the case of `ToScalar` and `ToVectorXXXUnsafe`, they are methods that, like `As`, are meant to provide zero-cost c

[2019-01-28 16:16] tannergooding commented on #34902
CC. @GrabYourPitchforks, @terrajobst

[2019-01-28 16:20] jjxtra commented on #26257
This works for me. The IntPtr parameter does not receive the count, but if you have a null anywhere that means you are at the end. IEnumVARIANT is built in with .NET core 2.2.

[code]

[2019-01-28 16:39] KexyBiscuit commented on #34236
Should this issue being transferred to CoreCLR repo?

[2019-01-28 16:51] danmosemsft commented on #34419
Or, perhaps there is a "fuzzy" XML parser out there you could use.

[2019-01-28 17:13] jkotas commented on #34236
cc @AaronRobinsonMSFT

[2019-01-28 17:46] AaronRobinsonMSFT commented on #34236
@KexyBiscuit This is more than likely due to lack of support for COM Events. That is still an area we are exploring to add support. I am not confident that is the issue here, but it definitely could be. In either case, this bug should be moved to CoreCLR and closed in the CoreFX repo. Thanks.

[2019-01-28 17:48] danmosemsft commented on #34876
@bartonjs

[2019-01-28 17:53] danmosemsft commented on #34876
@bartonjs I obviously am unfamiliar with this area but I notice the exception is the default text. I wonder whether in any of the cases we use the parameterless constructor for `CryptographicException` we have a little more info we can add to it?

eg in this case `ret` perhaps.
[code]

[2019-01-28 18:41] SUPERSC0TT commented on #14797
Bumping to see if there are any plans to get this fixed. This bug means that users who create custom time zones via [microsoft's documentation](https://docs.microsoft.com/en-us/dotnet/standard/datetime/create-time-zones-with-adjustment-rules) will not be able to use GetAdjustmentRules() to see the correct definitions, namely the Transition Rules Start/End are not returned correctly.

[2019-01-28 18:51] peterhuene opened #34904 "Windows lies to dotnet.exe abouts the OS version"
_From @heaths on January 26, 2019 23:13_

## Steps to reproduce
On Windows 10:
1. `mkdir test`
2. `cd test`
3. `dotnet new console`
4. Change Program.cs to call `Console.WriteLine(Environment.OSVersion.Version)`
5. `dotnet run`

## Expected  behavior
See "10.0.17663" (for example, on RS5)

## Actual behavior
See "6.2.9200.0"

This is because dotnet.exe's RT_MANIFEST resource is auto-generated with

[2019-01-28 18:51] peterhuene commented on #34904
_From @heaths on January 26, 2019 23:35_

Based on dotnet/core-setup#3638 it looks like a decision was made to fix this for the dotnet CLI in the dotnet/core-setup project, though I'm not clear on the relationship of that with this CLI. The commit from `dotnet --info` above is found here in this dotnet/cli project.

[2019-01-28 18:51] peterhuene commented on #34904
Hi @heaths,

It's a tad bit confusing, but this repo is responsible for building `dotnet.dll` which implements the .NET Core SDK; technically the "CLI" interface, whereas the `dotnet/sdk` repo implements the MSBuild-side of the SDK.  As you've already discovered, `dotnet.exe` (the native "muxer" responsible for finding and loading .NET Core SDKs) is actually built out of `dotnet/core-setup` and th

[2019-01-28 18:51] peterhuene commented on #34904
_From @heaths on January 28, 2019 16:38_

I have that version currently installed on my other box and still seeing it. Seems everything is 3.0:

[code]
The source is the same as what I described in my repro.

"DevHood" - wow, I had completely forgotten about that. It's been a long time! :)

[2019-01-28 18:51] peterhuene commented on #34904
I have a later SDK installed (`3.0.0-preview-27321-5`) and I see the `supportedOS` elements in the manifest for the muxer (`C:\Program Files\dotnet\dotnet.exe`):

[code]

However, I still get `6.2.9200.0` when running the example.  Perhaps this is a corefx issue not calling the appropriate API?

[2019-01-28 18:51] peterhuene commented on #34904
_From @livarcocc on January 28, 2019 18:45_

Yes. Let's move the issue to corefx to be investigated there.

[2019-01-28 18:55] huanwu commented on #25138
@yujayee Can you take a look?

[2019-01-28 19:05] GrabYourPitchforks commented on #34822
@GSPP See https://github.com/dotnet/corefx/issues/34826 for the proposal. It's the follow-up to the comments given at https://github.com/dotnet/apireviews/blob/master/2018/System.Utf8String/Session2.md.

[2019-01-28 19:06] wfurt commented on #32976
That command only imports certificate but that does not necessarily means it would be trusted as CA @rammaram06 Depending on OS/Version you need to import to OS trusted CA store.
Also this was originally discussion about Docker.
It may be better to open separate issues for non-docker cases.

[2019-01-28 19:08] peterhuene commented on #34904
I figured out the issue and it's one for the apphost.  I'll re-open the CLI issue and transfer to core-setup.  Sorry about that.

[2019-01-28 19:08] #34904 closed

[2019-01-28 19:12] yujayee commented on #34899
Hello @syedabidali thank you for reporting the issue but I don't quite understand your problem. How are you using Microsoft.XmlSerializer.Generator in your project? What did you configure as a post build event?

[2019-01-28 19:14] adiaaida commented on #34486
This was actually a python exit 103 error, which is no longer happening. Closing.

[2019-01-28 19:14] #34486 closed

[2019-01-28 19:15] wfurt opened #34905 "improve usability of SSL handshake exception"
There is growing number of cases (like #32976) where uses see something like:

[code]

From that, it is very difficult to diagnose real root cause
It would be nice if the exception can provide more specific reason. This may not be complete list but it would be nice to distinguish following cases:
- wrong time
- unknown/untrusted CA
- name mismatch
- CRL/OSCP revocation issues
- custom verification

[2019-01-28 19:22] wfurt commented on #31749
The yellow lines suggest that this will run under sudo to get temporary privilege elevation. You can check if your current account is capable of doing that.

[2019-01-28 19:23] natemcmaster opened #34906 "Duplication of corefx assemblies between the in-box shared frameworks: NETCore.App, WindowsDesktop.App, and AspNetCore.App"
We currently have overlap between the 3 in-box shared frameworks. There are three problems as a result of this:

1. AspNetCore and WindowsDesktop contain the same assemblies. This might create problems later for conflict resolution at runtime and/or by the SDK. Both AspNetCore.App and WindowsDesktop.App include these in their **runtime** packs.

	- System.Security.Cryptography.Pkcs.dll
	- System.S

[2019-01-28 19:35] rahuldutta90 commented on #34325
@karelz @davidsh

CORRECTION: This issue is not in .netcore. I was wrong to mention that this issue exists in NET core. If you call ReadAsync method on the stream and pass the timeout cancellation token, it works fine.

This issue is only .NET framework, and I have given the mock reproduce code above. Please let me know if you need any more information.

[2019-01-28 19:38] safern commented on #34886
Yes, we do use Helix for official runs. Yes we should figure out how to hook up code coverage with helix 😄

[2019-01-28 19:50] tarekgh commented on #14797
@SUPERSC0TT there is no plan to address this very soon but we may get into that in the near future. the reason is we need to look at the whole TZ support and address the issues in more better designed way.

Could you please share some more information about your TZ usage? like do you use custom TZ? why? what is your scenarios you are using with?

We appreciate your feedback.

[2019-01-28 19:54] ahsonkhan commented on #34894
Yep, but that forces the type to be a ref struct which doesn't work for this scenario.
We could consider accepting an initial array though but not sure how useful that is.

[2019-01-28 19:59] pakrym commented on #34894
Should this be a `ReadOnlySequenceBuilder` kind of thing? Would allow to reduced copies and use `IMemoryPool`?

[2019-01-28 20:02] dfoulk commented on #25988
We perform NTLM like this (this example is a snippet from a .NET Core app that uses the new HttpClientFactory- that's why HttpClient is a property here...):

[code]

It's also worth mentioning that Windows Integrated Authentication appeared to not be working in our applications (even using this example) until we realized that Chrome and Firefox require some additional configuration to enable WIA.

[2019-01-28 20:10] ahsonkhan commented on #34894
My goal here is to provide support for writing to an array and stream. How would this help for that case, and how would it reduce copies?

[2019-01-28 20:16] pakrym commented on #34894
To use it with a stream you can write every segment of ROS via Stream.WriteAsync. An array can be created by calling `.ToArray()`.

There would be way less array resizing and data copies if we can just append segments to a linked list for new data. Would also cause less memory fragmentation for large payloads because it avoids allocating arrays of larger and larger size.

[2019-01-28 20:20] damageboy commented on #34885
@GSPP I know what you are talking about, but I thought that it would be slightly weird to have an impedance mismatch between the `Set` and the `Get` methods... and since the old API isn't going away...

Do you feel I should re-write this into TWO NEW methods accepting a single struct?

[2019-01-28 20:55] fiigii commented on #34902
And `Equals`.

[2019-01-28 20:59] tannergooding commented on #34902
`Equals` has to be an instance method (as it is satisfying an interface/override).

We might be able to expose an explicit static method if that is believed to be helpful (and have the instance method just call it), but I'm unsure how useful that actually is in practice (especially with the other generally trivial workarounds that are available).

[2019-01-28 21:02] fiigii commented on #34902
We have two `Equals` APIs. Can the non-override version be static methods?

[2019-01-28 21:05] benaadams commented on #34902
The non-override is needed for the `IEquatable` interface `Vector128<T> : IEquatable<Vector128<T>>`

[2019-01-28 21:06] tannergooding commented on #34902
No, it is satisfying the `IEquatable<>` interface. The best we could do is have them call an equivalent static non-instance method (which would be exposed, like the extension methods, in the `Vector128.cs`).

However, given the implementation doesn't require runtime support (it just calls existing intrinsics), users have a valid workaround on this one. I would also expect that most users will, in

[2019-01-28 21:08] danmosemsft commented on #33284
@gafter OK thanks, I was confused by your subsequent comment suggesting you disagreed. https://github.com/dotnet/corefx/issues/33284#issuecomment-448385260

[2019-01-28 21:09] fiigii commented on #34902
Ah, thanks for explaining.

When is the next API review session? I suggest reviewing this issue as soon as possible since it requires JIT changes as well.

[2019-01-28 21:19] tannergooding commented on #34902
Tomorrow (it happens almost every Tuesday).

The changes, overall, are rather trivial (we basically just have to update a couple of lines in the metadata table and indicate they are no longer instance methods). More importantly is ensuring that we get the public surface area fixed before they ship; as it is not as easy to fix afterwards 😄

[2019-01-28 21:21] filipnavara commented on #34895
Builds are back up!

[2019-01-28 21:21] #34895 closed

[2019-01-28 21:58] SoerenBusse opened #34909 "Unix process start - missing user groups"
Hey there,

I've written a daemon which runs as root and starts some gui applications on a users desktop. For this I used the ProcessStartInfo.Username feature to start the subprocesses as a specific user. This sets the UID and the GID of the subprocess correctly.

However the started process doesn't contain any additional groups which are assigned to this user. This is especially important when y

[2019-01-28 22:20] falahati commented on #26257
@jjxtra
To get the length you should allocate some memory before calling the method.

[code]

[2019-01-28 22:27] TheBuzzSaw opened #34910 "AnonymousPipeClientStream.ReadAsync only returns zero in Windows."
This is my first contribution. I hope I'm in the right place. Feedback please. :)

My parent process has an `AnonymousPipeServerStream` with `PipeDirection.Out`. It spawns a child process, which creates an `AnonymousPipeClientStream` with `PipeDirection.In`. If the parent process calls `Dispose` on its stream, the child process observes this, and `ReadAsync` returns `0`. This is desired behavior,

[2019-01-28 22:35] ehajri commented on #34876
After hours of investigation, upgrading/changing the installed nugets seem to have this exception fixed.
I am still not sure what was the real cause of the exception. I thought `Identity` uses some crypted kind of DbContext, tried to look deeper but couldn't find anything.

I, then, tried to create another DbContext for another purpose that (I am 100% sure) works on my machine (different project),

[2019-01-28 22:43] jjxtra commented on #26257
Gotcha. I thought it would just set the pointer address to the count. I updated my comment.

[2019-01-28 22:46] caesar-chen opened #34912 "Implement trailing headers support on SocketsHttpHandler"
gRPC (Google RPC) protocol uses HTTP trailers to send/receive metadata. On the client side, SocketsHttpHandler needs to implement support for trailing headers to [receive metadata.](https://grpc.io/docs/guides/concepts.html#client-streaming-rpc)

[code]

## API Proposal
To support trailing headers come with the response message, we need a new Property in `HttpResponseMessage` class.

[code]

## Us

[2019-01-28 22:49] davidfowl commented on #34912
cc @Tratcher

[2019-01-28 22:54] jkotas commented on #26257
Right, that would be a much leaner way to do this. Allocating and freeing a small piece of memory works too, but it is like 100x more expensive.

[2019-01-28 22:54] rmkerr commented on #34912
+@shirhatti

[2019-01-28 23:01] danmosemsft commented on #34876
Thanks @ehajri . I'll leave this open just for my question above. Perhaps there's a little more diagnostic info we can log in this kind of case, even if it's an opaque value.

[2019-01-28 23:13] falahati commented on #26257
The best way would have been a `ref int count` parameter handled by marshalling.

[2019-01-28 23:17] jjxtra commented on #26257
Yes agreed.

[2019-01-29 00:04] tarekgh commented on #32870
@bmpcon did you have a chance to try what @stephentoub suggested?

[2019-01-29 00:04] stephentoub commented on #34910
Your server stream is being created as inheritable. Is that on purpose?

[2019-01-29 00:10] Tratcher commented on #34912
@JunTaoLuo isn't GRPC primarily interested in HTTP/2 trailers?

Comparing Case 1 and Case 2 calls out a hidden state field devs may need access to: weather or not a given instance of HttpContent has been read/buffered. If I examine TrailingHeaders and find it empty it's ambiguous to me if that's because the response is incomplete or if there were no trailers. HttpContent needs an API like `bool Is

[2019-01-29 00:35] JunTaoLuo commented on #34912
@Tratcher yes we need HTTP/2 trailers in the response for gRPC, as mentioned by @caesar1995.

[2019-01-29 00:51] caesar1995 commented on #34912
I can work on HTTP/2 implementation first. It's similar - the HEADERS frame starting the trailers header block is sent after DATA frames have been sent.

According to RFC 7230:

   the recipient MAY process the fields (aside from those forbidden
   above) as if they were appended to the message's header section.

I think `HttpResponseMessage.TrailingHeaders` is more appropriate. But your example i

[2019-01-29 00:54] JunTaoLuo commented on #34912
we don't need request trailers for the work that's currently planned for gRPC.

[2019-01-29 01:17] stephentoub commented on #34910
No, you're correct.

I think that's also the bug (not yours).  The client handle is being created as inheritable, but so is the server handle.  As such, even though the server process is closing its file descriptor, the client still has one for the same file and is thus keeping it open.  If you change your repro to communicate the server handle to the child process as well and then P/Invoke to clo

[2019-01-29 01:20] natemcmaster commented on #34906
Here are 2 specific, concrete things I am concerned about.

* It appears `IsNetCoreAppRef=false` was a deliberate attempt to hide runtime API, such as Microsoft.Win32.Registry, from apps targeting netcoreapp unless they opt-in via package reference. I'm not sure why this was done, but I'd like to understand why. Does including this ref assembly in the WindowsDesktop and AspNetCore targeting packs

[2019-01-29 01:41] karelz commented on #34912
That's good to know for scoping, but if possible, I'd like to see API design for both request and response. They should be consistent. Then we can decide to implement just half of it (the response trailing headers) in 3.0.

[2019-01-29 01:52] ahsonkhan commented on #34894
Going through `Memory.Span` each time you write a JSON element isn't great for performance and the call to `.ToArray()` ends up allocating. I don't think it is a beneficial trade-off to append `ReadOnlySequenceSegment` from `MemoryPool` to a linked list in order to avoid the intermittent data copies every time we have to resize (which should be rare), which we have to eventually walk/copy to write

[2019-01-29 01:56] dsplaisted commented on #34906
@terrajobst @DustinCampbell this seems related to the conversation about what becomes of the Microsoft.Windows.Compatibility NuGet package and the APIs that are shared between WPF and Windows Forms in the WindowsDesktop shared framework.

[2019-01-29 02:10] nguerrera commented on #34906
Guessing the files that are same version but different are due to one being crossgened and the other not, based on size. Is WindowsDesktop not being crossgened yet?

Also even if both were crossgened, I don't know that crossgen is fully deterministic. And I think signing isn't (includes a timestamp IIRC).

[2019-01-29 02:31] ericstj commented on #34906
IsNetCoreAppRef=false was typically used for things in the implementation closure that were not in the reference closure and that we didn't want to make available by default in references for a couple reasons. For example, the API was not cross-platform and would throw (Cng, Windows.Principal, Registry), or the api was legacy and should be avoided (CAS).  You could choose to exclude from the ASPNe

[2019-01-29 03:12] ahsonkhan commented on #34144
It was done intentionally.

I would keep it consistent and return an int.

Here is the context for why we returned an int: https://github.com/dotnet/corefx/issues/31340#issuecomment-407866739

[2019-01-29 03:20] ahsonkhan commented on #34799
Hmm, that's strange. These tests would have failed if overlapping spans don't work:
https://github.com/dotnet/corefx/blob/db7daabdb592da062d8a80f27bbad1178c364530/src/Common/tests/Tests/System/StringTests.cs#L5185

FYI, here is when we added the comment + tests: https://github.com/dotnet/corefx/pull/27193/commits/3131eefab18053725521cbdb98c7b7c6d93b1671

[2019-01-29 03:34] pakrym commented on #34894
What scenarios do you need `.ToArray` in? In case of ArrayPool-backed implementation do you returned rented array? When do you return it to the pool?

How is "rare" determined? If 256 used as default size and 2x as resizing algorithm you'll go through 256-512-1024-2048-4096 to write some non primitive JSON output.

[2019-01-29 04:11] syedabidali commented on #34899
Hi,
please see the below snapshot
![image](https://user-images.githubusercontent.com/14038836/51883559-48d4ea80-23a5-11e9-95e7-d9c77062f604.png)
my project targets both net47 and netcoreapp2.2 , Microsoft.XmlSerializer.Generator include large no.of references which i mentioned in my previous  does it failing to run , so i did use this command in postbuildevent dotnet Microsoft.XmlSerializer.Genera

[2019-01-29 04:15] danmosemsft commented on #34909
@tmds thoughts? This seems like the kind of thing where you have more expertise.

[2019-01-29 04:46] TheBuzzSaw commented on #34910
I actually committed great evils to accomplish this in all managed code.

    static string GetHandle(SafePipeHandle handle)
    {
        var fieldInfo = typeof(SafePipeHandle).GetField(
            "handle",
            BindingFlags.NonPublic | BindingFlags.Instance);
        return fieldInfo.GetValue(handle).ToString();
    }

With this method, I was able to send the server handle over to the c

[2019-01-29 04:47] MkazemAkhgary opened #34918 "mutable structs as readonly field should be a warning"
for beginners this behavior can be unexpected. (yes it happened to me before). especially if you are using a library and you are not sure if struct is safe to be readonly or not. for example SpinLock must not be readonly.

[code]

If struct is immutable (via c# 7.2 readonly keyword) its ok to have it as readonly field.

[2019-01-29 04:49] MkazemAkhgary opened #34919 "Why SpinLock is not re-entrant?"
if spin lock has enough information to detect deadlock (via thread owner tracking) and throw exception, why is it not re-entrant? (or why there is no option to make it re-entrant).

[2019-01-29 04:55] tannergooding commented on #34918
This should likely be in the dotnet/csharplang repo. It is worth noting that this can't be done currently because it would be a breaking change (without some other feature like warning waves). There are also several similar proposals around this and true immutability in the csharplang repo already.

Writing an analyzer that looks for this pattern and flags it would be your next best option.

[2019-01-29 05:04] benaadams commented on #34918
Is an issue in roslyn for it https://github.com/dotnet/roslyn/issues/17310

[2019-01-29 05:05] benaadams commented on #34918
Is an issue in roslyn for it dotnet/roslyn#17310 (also is about spinlock)

[2019-01-29 05:13] pakrym commented on #34894
It's not exactly required in that scenario.  You can just `foreach` over ReadOnlySequence.

Writing HelloWorld goes from ~220 ns to ~300ns. Larger payloads regress by 7-10%.

What benchmarks are you using? I thought we are caching span inside Utf8JsonWriter so why does it matter so much how fast GetSpan is?

[2019-01-29 05:45] dotnet-mc-bot opened #34920 "Test failure: System.Tests.EnvironmentProcessorCount/Unix_ProcessorCountTest"
Opened on behalf of @AriNuer

The test `System.Tests.EnvironmentProcessorCount/Unix_ProcessorCountTest` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190128.7 (Core Tests)
Failing configurations:
- Ubuntu.1604.Arm64-arm64
  - Release
Details:
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2

[2019-01-29 07:16] AaronRobinsonMSFT commented on #34770
@stephentoub Is this at all possible in your mind? Should we close this issue?

@dzmitry-lahoda Do you have any further suggestion here? Does what @stephentoub wrote make sense to you?

[2019-01-29 07:37] renzoburo opened #34921 "zxc\ty,.\"

[2019-01-29 07:37] renzoburo opened #34922 "zxc\ty,.\zxc\ty,.\"

[2019-01-29 08:11] dzmitry-lahoda commented on #34770
I have checked IL and it seems changing `ref` to `in` is incompatible on binary level(i.e. in compiled assemblies)? So not only compilation will fail, but runtime, I guess. Issue may be closed. My workaround - start writing `unsafe` code to get `readonly` API now lacking as part `corefx` API, which seems where done before `in` and `readonly` where invented.

[2019-01-29 08:46] Clockwork-Muse commented on #34919
Because it's supposed to be low-level, and by default there's **no** tracking - [deadlock detection is for debug behavior, not normal behavior](https://docs.microsoft.com/en-us/dotnet/standard/threading/how-to-enable-thread-tracking-mode-in-spinlock).

Note that the "Deadlock detection" present here guards you from **ONE** specific type of deadlock - not properly releasing the lock before trying t

[2019-01-29 09:00] vitek-karas commented on #34906
Re resolution algorithm:
* Higher assembly version wins.
* If equal higher file version wins.
* If equal the one from higher level FX/app will win (so app wins over FX and ASP.NET wins over NetCore and so on)
* Peer frameworks have stable but undefined ordering (I think it's based on the order in `runtimeconfig`) - nobody should rely on this.

So if the same assembly exists in 2 peer frameworks an

[2019-01-29 09:36] MkazemAkhgary commented on #34919
I see. I worded my sentence badly, what I meant by detecting deadlock was just the case for reentrancy (same thread entering the same lock again). I wont use that word again :)

So in other words for SpinLock to have any kind of performamce benefits is to be as simple as possible and overhead of thread owner tracking most likely defeats the purpose of having SpinLock. Except it only makes sense to

[2019-01-29 09:36] #34919 closed

[2019-01-29 09:43] tmds commented on #34909
It makes sense to do what is proposed: calll `setgroups` with the return value of `getgrouplist`.

That is correct. The process groups and gid are independent. Without a call to `setgroups` we inherit the groups of the parent. In most cases this will be root because changing uid/gid/groups is privileged.

@danmosemsft you can assign this issue to me.

[2019-01-29 11:41] ViktorHofer opened #34924 "BinaryFormatter Bitmap serialization test failed"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F34871~2Fmerge/test~2Ffunctional~2Fcli~2F~2Fouterloop~2F/20190128.1/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlobs(obj:%20Bitmap%20%7B%20Flags%20=%2077840,%20FrameDimensionsList%20=%20%5B7462dc86-6180-4c7e-8e3f-ee7

[2019-01-29 11:45] Masus commented on #31448
Any updates on this issue?

We have used the event log for a very long time and our customers expects to find their logging information from our products in there.

It is not an option to log directly to the Application Log since we need to provide our own manifest (and make the log appear under "Application and services logs").

[2019-01-29 11:50] damageboy commented on #34885
@tannergooding I can't find the exact link and therefore the exact name for "this", but I *think* @GSPP is referring to the fact that `out` parameters force the JIT to output memory fences/barriers in case the output is a member of a class on the heap.

I also might be completely wrong in my interpretation... :)

[2019-01-29 11:56] Akaion opened #34925 "Adding more IntPtr arithmetic"
IntPtr's can currently only be added or subtracted onto by using an int like so

[code]

It would be a welcome improvement if this was expanded to include longs and other IntPtr's.

Currently, the work around for this is to cast the IntPtr(s) into a long, perform the arithmetic and then cast the new value back into an IntPtr like so

[code]

or

[code]

Whilst this works, it would be nice if this

[2019-01-29 13:02] MarcoRossignoli opened #34926 "Concurrent build.cmd corefx/coreclr random fail"
I'm trying to concurrently build corefx/coreclr repo to save time, but I get strange random errors(maybe due to nuget libs share etc...).
To be sure is it expected?

[2019-01-29 13:07] stephentoub commented on #34924
Hasn't this been failing for a long time in outer loop?

[2019-01-29 13:32] ViktorHofer commented on #34924
I pinged him as he is the owner of System.Drawing who also added some serialization tests for it. I didn't notice that failing test in Outerloop before so that's why I created this issue now.

[2019-01-29 13:37] MarcoRossignoli commented on #34926
I'll try to repro

[2019-01-29 13:50] couven92 opened #34927 "API Proposal : System.IO.Pipelines generic APIs"
# Background

Currently, the `System.IO.Pipelines` package only allows for pipelines that operate on raw bytes. With some trickery and the usage of `MemoryMarshal` et.al., the usage of Pipelines can be extended to blittable types.

The package description on [NuGet](https://www.nuget.org/packages/System.IO.Pipelines/) states:

However, single producer single consumer scenarios are not necessarily

[2019-01-29 13:58] stephentoub commented on #34924
Got it. :)

[2019-01-29 14:00] pavelovcharov opened #34929 "Math.Max/Min methods work differently in .Net Core 3 and Net Framework"
The Math.Max and Math.Min methods with double arguments work differently in .Net Core 3 and Net Framework:

`Math.Max(double.NaN, 0d)`  returns 0 in .Net Core 3

`Math.Max(double.NaN, 0d)`  returns double.NaN in Net Framework

## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview-010124
 Commit:    41a73b60f2

Runtime Environment:
 OS N

[2019-01-29 14:06] MarcoRossignoli commented on #34929
/cc @tannergooding

[2019-01-29 14:08] hognevevle opened #35376 "HttpWebRequest with default SocketsHttpHandler hangs for certain endpoints"
Hello,

I'm trying to consume a third party API via .NET Core 2.2. I'm experiencing that the request will simply hang, using both .NET Core 2.2 and 2.1. The hang appears to be indefinite, and I have not yet reached any timeout.

Attempting the same in .NET Framework or .NET Core 2.0 works as intended.

Also, by issuing the code below prior to executing the request, my request will also work in .NE

[2019-01-29 14:19] #34921 closed

[2019-01-29 14:25] MarcoRossignoli commented on #34926
@ViktorHofer I restarted my machine and after that I cannot repro the issue(2 corefx and 1 coreclr concurrently). I'll close this and re-open if it'll happen again.

[2019-01-29 15:06] stephentoub commented on #34770
I don't think there's a binary-breaking change impact, as long as we're talking about static/non-virtual methods.  But there's definitely a source-breaking change.  We've been discussing whether the language could be relaxed here a bit, to allow ref at call sites when a method takes in, but it has a potential impact on overload resolution, which is always something that's fraught with complexity a

[2019-01-29 15:06] #34770 closed

[2019-01-29 15:07] stephentoub commented on #34925
Thanks.  Dup of https://github.com/dotnet/corefx/issues/32775.

[2019-01-29 15:07] #34925 closed

[2019-01-29 15:12] stephentoub commented on #34920
The results here are strange.  The `Expected: 46` suggests that this was run on a machine with 46 cores; is that true?  If that's actually true, this could be a race condition; on ARM we use _SC_NPROCESSORS_CONF, which returns the number of processors _currently online_... if that number were to change between the time we call sysconf and Environment.ProcessorCount, this could fail. Alternate expl

[2019-01-29 15:14] stephentoub commented on #34852
The test generally looks ok.  @Maoni0, the test is trying to validate that a finalizer is called, and invokes `GC.Collect(); GC.WaitForPendingFinalizers();` twice.  Are there cases where that would be insufficient if the object is definitely unreachable?

[2019-01-29 15:21] stephentoub commented on #34910
You don't actually need reflection.  You can just do:
[code]

[2019-01-29 15:25] TheBuzzSaw commented on #34910
Oh! I overlooked that method. Thanx! That's much better.

[2019-01-29 15:46] tannergooding commented on #34929
This change was by design in order to ensure that the functions had the appropriate IEEE 754 compliant behavior.

Most IEEE 754 operations indicate that the `NaN` payload should be preserved. However, `minNum` and `maxNum`, in particular, require that the other number be returned if one is `NaN`.

[2019-01-29 16:34] danmosemsft commented on #34852
I'm curious why it does it twice, is two special?

[2019-01-29 16:35] stephentoub commented on #34852
@kouvel had previously suggested to me that once may be insufficient in certain cases.  But @Maoni0 would know for sure :)

[2019-01-29 16:58] ericstj commented on #34906
Yes, we've been comfortable with that assumption since the feature was created.

[2019-01-29 17:08] ViktorHofer commented on #34777
@janvorli I'm going to close this. If you think we need support for checked builds in our managed part please reopen.

[2019-01-29 17:08] #34777 closed

[2019-01-29 17:44] Clockwork-Muse commented on #34919
Right.

Essentially, `SpinLock` is for the situation where your operations are going to be short.  For instance, in a linked list, inserting an item requires updating two memory addresses - one on the existing list, and one on the new node.  These are fast, but the entire operation can't be made atomic with anything short of a lock (or not simply, anyways).  So, `SpinLock`, since the updates are a

[2019-01-29 17:46] GSPP commented on #34885
`out` forces the caller to create variables and to assign to them. That's the side-effect I meant. I am not talking about global state mutation.

Before C# got `out var` this was much more clunky than it is now. But it still feels impure to me from the perspective of preferring functional code over imperative code. Using functional constructs is a very powerful heuristic for increasing code qualit

[2019-01-29 18:38] yujayee opened #34932 "Two System.Private.Xml tests failed on UapAot"
[code]

[code]

[2019-01-29 18:46] rmkerr commented on #34920
Yeah, If I remember correctly the ARM 64 test machines do have 46 cores. @wfurt is that still true?

[2019-01-29 18:46] benaadams commented on #34881
`CompareScalarUnorderedEqual` and `CompareScalarOrderedEqual`

​i.e. `CompareScalarXxx`

or

`​​CompareScalarEqualUnordered` and `CompareScalarEqualOrdered`

[2019-01-29 18:48] terrajobst commented on #34881
A derivative of @benaadams suggestion @tannergooding suggested (where `Xxx` is `Equals`, `LessThan` etc):

* CompareOrderedScalarXxx
* CompareUnorderdScalarXxx

[2019-01-29 18:55] wfurt commented on #34920
The machineI have access to does have 46 cores:
[code]

As far as I know the CPUs are initialized during boot and unless we do something to explicitly bring them down I would not expect this to change.

Since I have access to arm64 system I can do some testing. We can also decorate test with debug info written to testResults.xml

[2019-01-29 18:59] yujayee commented on #34932
These tests seem also fails in other architectures.

[2019-01-29 18:59] MichalStrehovsky commented on #34124
Marking easy/up for grabs if someone from the community would like to add a brand new exception type.

This would be work in the CoreCLR repo to add it to System.Private.CoreLib and once the change propagates, add it to the System.Runtime contract in this repo (@terrajobst can you confirm the contract name please?)

[2019-01-29 19:00] wfurt commented on #34920
Note that if Environment.ProcessorCount is wrong, than we will also size thread pool wrong and possibly cause other harm.

[2019-01-29 19:08] doggy8088 opened #34933 "HttpRequestHeaders unable to add malformed User-Agent header"
The following code snippet will produce `IndexOutOfRangeException`.  Is this a bug?

[code]

[2019-01-29 19:13] wfurt commented on #34920
This looks like CoreCLR bug to me as Environment.ProcessorCount is wrong. cc: @janvorli

[2019-01-29 19:22] davidsh commented on #34933
The header value you are adding is malformed.  So, you would expect an exception.

If you're trying to add malformed headers and don't want validation, you can do this:

[code]

[2019-01-29 19:25] stephentoub commented on #34920
Not necessarily.  This is what I meant "this could be a race condition; on ARM we use _SC_NPROCESSORS_CONF, which returns the number of processors currently online".  It's possible in theory that the value can change over time; the test is assuming it won't.

[2019-01-29 19:31] wfurt commented on #34920
Environment.ProcessorCount should always return 46 right? (based on reading API documentation) and It seems like it is returning 2 in this case.

[2019-01-29 19:33] davidsh commented on #34933
How are you actually accessing the header?  What is the code you're using?

Usually if you are using the strongly-typed properties such as `HttpRequestHeaders.UserAgent` then it will return `null` is there is no header value or the header value cannot be parsed into a valid value/strong type.  In that case (i.e. for malformed headers), you use methods like `GetValues` or `TryGetValues`.

[2019-01-29 19:35] terrajobst commented on #31595
We concluded that we want to leave these ones off for now. The reason being that ADO.NET really wants to expose a `ValueTask<T>` as opposed to `Task<T>` but we'll need to revisit how we'd plumb this through:

[code]

This one is a mistake:

[code]

Which leaves us with this:

[code]

[2019-01-29 19:38] stephentoub commented on #34920
_SC_NPROCESSORS_ONLN is what I meant to be referring to, thanks.

Maybe we're following the wrong branch in the test:
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Runtime.Extensions/tests/System/Environment.ProcessorCount.cs#L37-L38
for some reason?

Not necessarily.  The physical machine is 46 cores, but are the test run in docker, and has it configure

[2019-01-29 19:44] doggy8088 commented on #34933
My case is in a Proxy server.  I have to copy the context's Headers to forwarded Headers.  I also have to determine which headers have the required data to write conditions such as `User-Agent` header.  If I can't read it out, I can't check the header value.

I was just checking the following code in my LinqPad.  The `IndexOutOfRangeException` still happen:

[code]

[2019-01-29 19:46] deinok commented on #31265
@Halofreak1990 If somebody from CoreCLR could provide us a bit more of help

[2019-01-29 19:50] safern commented on #34920
This queue, runs in docker. I just confirmed with the eng team that they limit the number of cores to be 2.

However, the queue we use for PRs: Ubuntu.1604.Arm64-arm64 -- doesn't run inside a docker container, so the number of cores is 46. I think this should somehow be fixed by the engineering team to have a consistent behavior across all queues. It is wrong to get different behaviors if we're us

[2019-01-29 19:51] doggy8088 commented on #34933
Due to many of the users use some weird Browsers who sent the malformed `User-Agent` header, that cause my ASP.NET Core app throw `IndexOutOfRangeException`.  I don't know how to workaround this.

How can I read the `headers` safely without any Exception happen?

[2019-01-29 19:51] wfurt commented on #34920
according to @safern and @ulisesh there are differences between ARM64 queues and some do run in containers and some do not. The one with containers do limit cores. So there should not be random failures but it is possible that the test is not aware of container limits and the expected value is incorrect.

[2019-01-29 19:52] janvorli commented on #34920
The Environment.ProcessorCount returns value limited by the docker configuration, while the sysinfo values always return system-wide values.

[2019-01-29 19:54] wfurt commented on #34920
We can confirm than with test result database. If this is root cause we should see consistent behavior per queue.

[2019-01-29 19:55] ericsampson commented on #20296
@karelz what would be required to get this on schedule for 3.0, an API proposal from someone?

[2019-01-29 19:59] ulisesh commented on #34920
Ubuntu.1604.Arm64.Open will be moved to containers late this week or early next week

[2019-01-29 20:12] davidsh commented on #34933
What is the version of .NET Core you are using?  Can you show output from "dotnet --info"?

[2019-01-29 20:32] Kein commented on #19773
Hey, just a small question if you dont mind - I see all the issues in Unloadability project
https://github.com/dotnet/coreclr/projects/9
target `Milestone 3.0` - is this still up to date and actual or the project not gonna make its way into the 3.0?

[2019-01-29 20:39] jkotas commented on #19773
It is on track for .NET Core 3.0. It has been mentioned in the official .NET Core 3.0 Preview 2 blog post: https://blogs.msdn.microsoft.com/dotnet/2019/01/29/announcing-net-core-3-preview-2/

[2019-01-29 20:41] karelz commented on #20296
This is not about API proposal. This is about finding the right implementation. It is on our 3.0 backlog and fairly high on the list (behind HTTP/2 and enterprise scenarios). It is very good chance to be addressed in 3.0 by our team.
Of course if someone in the community is motivated, we will take a contribution as well.

[2019-01-29 20:59] JamesNK opened #34935 "JsonDocument.Empty"
Consider adding a readonly property/field with an empty JsonDocument, or a friendly way to create an empty document.

Currently you need to do this - `JsonDocument.Parse(string.Empty)` - https://github.com/aspnet/AspNetCore/pull/7105/files#diff-4561b022ab7f492d2dc25af071e9c74eR36

@bartonjs @ahsonkhan

[2019-01-29 21:11] tannergooding commented on #34929
Closing this as "by-design" as this was fixed as part of the IEEE 754 compliance work.

Feel free to leave any additional comments or re-open if you feel this needs further discussion.

[2019-01-29 21:23] Wraith2 commented on #8955
I saw this mentioned in the issue review earlier and thought it might be useful to provide some feedback since it isn't dead.

I did some investigation on doing this with SqlClient because I wanted to try and remove the parameter box. It's messy and I'm not sure how you would achieve it without having the parameter instance write the data into the tds buffer..

At the moment the parameter is asked

[2019-01-29 21:31] wtgodbe opened #34937 "Decide if UAP should include System.Reflection.Emit"
CoreFx will soon be moving to target `netstandard2.1`, so we need to decide whether or not UAP will include RefEmit. The other option would be to not move UAP from `netstandard2.0` to `netstandard2.1`

CC @terrajobst @ericstj @karelz

[2019-01-29 21:38] vcsjones commented on #34867
I assume that if a cipher suite is negotiated that is not in the enum, this will still work since an enum can contain any value that is of it's base type?

I realize that in the real world no sane client or server would negotiate this, but I feel that it is cleaner to have a distinction between uninitialized and a null cipher suite.

I think being consistent with the class's other members is likel

[2019-01-29 21:51] JamesNK opened #34938 "Helper method for comparing Utf8JsonReader value"
`Utf8JsonReader` has `ValueSpan` for when the value is within a single segment and `ValueSequence` for when it spans multiple.

This requires users to do something like:

[code]

Issues:
1. A developer might write code that only checks `ValueSpan`, and then get random errors when JSON is parsed than is large enough that a JSON property name spans segments.
2. Allocating an array from `ValueSequenc

[2019-01-29 21:57] vcsjones commented on #34835
The issue seems to be that `Format(true)` has different output for different platforms. Using this:

[code]

on macOS, the output is:

[code]

whereas on Windows the output is:

[code]

Your regular expression is only looking for `DNS Name`. You will need to update your regular expression to account for different platform outputs.

[2019-01-29 22:11] ahsonkhan commented on #34935
@Anipik, @danmosemsft - incorrect label added

[2019-01-29 22:13] ahsonkhan commented on #34935
`JsonDocument` is a read-only representation of JSON. I am not sure if empty JSON makes sense, and given that's considered invalid JSON, we actually throw `JsonReaderException` if someone passes an empty document.

https://github.com/dotnet/corefx/blob/5197c8dc78adcb130a08944724f1b49c3765a4b1/src/System.Text.Json/tests/JsonDocumentTests.cs#L1204

What is the utility of adding such a property? Unli

[2019-01-29 22:16] fiigii commented on #34902
cc @hanblee @yweijiang

[2019-01-29 22:33] JaggerJo commented on #11898
are there any updates on this ? :)

[2019-01-29 22:33] JamesNK commented on #34938
Before:

[code]

After:

[code]

[2019-01-29 22:34] karelz commented on #22818
@jannikbuschke the associated PR claims it was fixed in 2.1. Maybe you're hitting different issue?

[2019-01-29 22:37] ericstj commented on #21103
This was just hit recently by @maryamariyan.   We should look into a fix for this.  /cc @safern

[2019-01-29 22:39] ericsampson commented on #23544
@karelz we ran into this too (per-message custom headers for getasync) because like Ben said originally this is getting to be a more common pattern, is there any interest in reviving this request in some form? Thanks!

[2019-01-29 22:40] JamesNK commented on #34935
Yeah, the idea of an empty JsonDocument probably doesn't make sense.

I think the indent of the code I linked to is really `JsonDocument.Parse("{}")`

[2019-01-29 22:42] ericsampson commented on #20296
@karelz how can the community help in this case? The reason I mentioned if an API proposal was needed is that I wasn't sure from your message that starts "We have several options what to do when timeout happens:" if the team had decided on their preferred alternative from the ones you listed. If you have decided on a direction then we can go from there. Thanks!

[2019-01-29 23:03] thomaslevesque commented on #11898
@JaggerJo [my implementation](https://github.com/thomaslevesque/WeakEvent/) targets netstandard1.1, netstandard2.0, net35, net40, and net45, so it should work on almost all current platforms

[2019-01-29 23:16] safern commented on #21103
Can we do something similar to what we do for netcoreapp2.0? https://github.com/dotnet/corefx/blob/master/src/shims/manual/Directory.Build.props#L20

[2019-01-29 23:18] stephentoub commented on #34501
The only thing I'm aware of would be to disable echo himself.

[2019-01-29 23:19] ericstj commented on #21103
Yes: runtimepath needs to change to something else that takes project configuration into account.  It should likely be something similar to one of the runtime binplace paths that's active during allconfigurations build.

We should also make sure we have configurations defined for every runtime we build for.  I think we were missing one for uapaot.

[2019-01-29 23:20] karelz commented on #20296
Technically speaking it is not API proposal question. The decision will not require API approval. However, I agree that we should be aligned on how to expose the difference - there will likely be some discussion.
I don't expect that the options differ from each other too much in the implementation -- if community wants to help, getting implementation of any of the options will get us 98% there (as

[2019-01-29 23:31] karelz commented on #23544
Eventually, we will be interested. Most likely post-3.0.
It has 10 heart-votes, which is on higher end (although I sort only by thumbs up votes - now I have to remember to look at heart-sort as well)

[2019-01-29 23:33] jannikbuschke commented on #34840
I tried to isolate the issue further. Following examples works only if line 2 is commented. Uncommenting yields above mentioned Exception when deserializing. So having a Properties.Count > 0 causes issues.

[code]

[2019-01-29 23:34] jannikbuschke commented on #22818
Im seeing above exception when targeting 461 in a netcore 2.1 app deserializing a claim that has a Properties.Count > 0. See https://github.com/dotnet/corefx/issues/34840#issuecomment-458750316

[2019-01-29 23:56] MarkPflug commented on #31595
Those currently require boxing internally (at least the SqlClient impl). The type-specific getters avoid that.

[2019-01-30 00:00] karelz commented on #22818
What does it mean targeting 461 in netcore 2.1? Do you run it on .NET Framework as the linked issue says?
Should we just keep the discussion on the main issue, or is there value to have it here as well?

[2019-01-30 00:04] mguinness commented on #34868
From the \<summary> tag used by Intellisense.

![image](https://user-images.githubusercontent.com/14002844/51948595-ee0bb500-23dd-11e9-8be1-57fce4a5ef8a.png)

[2019-01-30 00:05] roji commented on #31595
That seems like an SqlClient implementation detail, no? Npgsql doesn't box in these implementations...

[2019-01-30 00:06] Wraith2 commented on #31595
The implementation uses an `SqlBuffer` which contains a discriminated union of common value types rather than throwing everything in an object. If you request an int and it's typed as an int in the metadata it should not box to return it from what I can see.  There's a ton of other stuff that allocates when you read data but that one doesn't as far as I can see.

[2019-01-30 00:08] eerhardt commented on #33434
This hasn't been fixed, re-opening.

[2019-01-30 00:10] roji commented on #8955
@Wraith2 you're right that this isn't necessarily a trivial thing to do inside an ADO.NET provider, and can mean serious refactoring to actually avoid refactoring. The main idea here is to at least allow providers to do this API-wise - if they do it or not is a different question. The default implementation for this new generic API would in any case delegate to the existing generic API, in order t

[2019-01-30 00:14] MarkPflug commented on #31595
@roji
I'd be curious to see the npgsql implementation of those. Is it a big switch on the `typeof(T)`, or something more elegant? I remember when I saw those generic field accessors I was curious how they were implemented in SqlClient, because doing it without boxing didn't seem straightforward to me. Internally it just calls GetValueFromSqlBufferInternal which returns "object", the generic method

[2019-01-30 00:16] jannikbuschke commented on #22818
yes exactly. Running dotnet core on the fullframework. Lets follow up on my original issue

[2019-01-30 00:21] Wraith2 commented on #31595
I see it now, `GetFieldValueFromSqlBufferInternal`. Since that's generic though it should be possible to use jit branch elimination to prevent that. I'll investigate when I get chance.

[2019-01-30 00:39] MarkPflug commented on #31595
@roji And the answer to my question is: "something more elegant". The column metadata has a handler that implements a concrete interface to read the specific type of that column. This concrete implementation is used in a generic way to get the T without boxing. @Wraith2  I don't know anything about "jit branch elimination", but the npgsql pattern was what I was expecting to find in the SqlClient i

[2019-01-30 00:42] maryamariyan commented on #12055
Closed by https://github.com/dotnet/corefx/pull/34532

[2019-01-30 00:42] #12055 closed

[2019-01-30 00:45] davidsh commented on #34868
Are you showing the screenshot from Visual Studio or some other tool?

In general, the documentation is correct.  That is how the API should work.  And on .NET Framework, the API works correctly.  We don't change the documentation for a bug like this.  This is a product bug with .NET Core and will be fixed in a future release.

[2019-01-30 00:46] dangi12012 opened #34941 "Proposal: Add Range as List indexer Paramter"
Add range as accessor to list<T> ? Most business data etc is in list form and not array and selecting subsets there would be much easier with the new range type. This could be implemented in a few lines.

[code]

[2019-01-30 00:47] Wraith2 commented on #31595
Can you point me at the pattern you were expecting?

[2019-01-30 00:58] krwq commented on #34867
@vcsjones correct, values which are not in enum will work as well - AFAIR all platforms have a way of getting 16bit cipher id (Windows and Linux do, OSX almost sure it does).

[2019-01-30 01:09] divega commented on #18276
As mentioned by @vickyharp previously, it is now planned for 3.0. I have updated the milestone assignment to reflect this.

[2019-01-30 01:17] mguinness commented on #34868
From Visual Studio.  I understand that this is how the API is *supposed* to work, but if it doesn't and it's a known bug it should be documented/referenced somewhere.  Especially if the fix doesn't make it into the 3.0 release.  Just my 2¢ worth.

[2019-01-30 01:48] karelz commented on #34905
@wfurt just one area label please ;)

[2019-01-30 01:51] roji commented on #31595
@MarkPflug the internal Npgsql architecture seems like it's a bit simpler... There's a type handler hierarchy, with a handler being a generic class that knows how to read and write a certain type. When you call [`GetFieldValue()`](https://github.com/npgsql/npgsql/blob/dev/src/Npgsql/NpgsqlDefaultDataReader.cs#L95), a type handler has already been resolved for that column based on the type OID sent

[2019-01-30 01:52] karelz commented on #34746
Duplicate of #34033

[2019-01-30 02:12] ahsonkhan commented on #34935
In that case, feel free to close the issue.

[2019-01-30 02:38] MarkPflug commented on #31595
@Wraith2 This line: https://github.com/npgsql/npgsql/blob/2b417165e69bd5187b1b067b6981f233f06824b6/src/Npgsql/NpgsqlDefaultDataReader.cs#L95.

Which calls into a abstract Read<T> method, see this implementation:
https://github.com/npgsql/npgsql/blob/2b417165e69bd5187b1b067b6981f233f06824b6/src/Npgsql/TypeHandling/NpgsqlSimpleTypeHandler.cs#L102

Each of the concrete "handlers" implements INpgsqlSi

[2019-01-30 02:54] #34935 closed

[2019-01-30 03:17] Akaion opened #34942 "Proposal - Changes to the way Windows process modules are found"
There's currently an issue with the way Windows process modules are found where If you attempt to get the modules loaded into an x86 process from an x64 program you are only presented with Ntdll.dll + the Wow64 dll's, which aren't the only modules loaded.

The current method that is being used is EnumProcessModules from psapi.dll - Whilst I don't know what this function is doing internally I'm gue

[2019-01-30 04:18] ahsonkhan commented on #33279
We didn't discuss the parameter names in the review. Should they both be called `span` to match the `array` overloads (or both be called `buffer`)? Why is one called `buffer` and the other `data`?

[code]

[2019-01-30 05:43] TheBlueSky commented on #31595
@roji, I'll give the implementation a go, is that okay?

[2019-01-30 05:57] lostllama commented on #34835
@vcsjones Thank you. I understand the issue now. Hopefully this can be simplified in future versions of .NET.

[2019-01-30 06:47] bgrainger commented on #31595
This looks like a typo (the return type is wrong?).

I also think it should not be public because its sibling method `GetDbDataReader(int ordinal)` is currently `protected`.

[2019-01-30 06:52] pavelovcharov commented on #34929
Thank you for explanations. By the way, the documentaion still says that the double.NaN value is returned in a such cases:
![2019-01-30_09-47-12](https://user-images.githubusercontent.com/1357165/51963359-5d33e880-2474-11e9-8bb1-3b876edaaf21.png)

[2019-01-30 09:17] JaggerJo commented on #11898
Thank you, this might help a lot.

I’m working mostly in F# so I have to test if your implementation “feels right”.

[2019-01-30 09:39] MichalStrehovsky commented on #33434
@eerhardt Could you clarify what you mean? Are you using a pre-release build that has Zach's change and see the issue is still present?

[2019-01-30 12:05] MichalStrehovsky commented on #34937
UAP has a [throwing implementation](https://github.com/dotnet/corert/tree/master/src/System.Private.CoreLib/src/System/Reflection/Emit) for the whole Ref.Emit surface area and apps can use [RuntimeFeature.IsDynamicCodeSupported/IsDynamicCodeCompiled](https://github.com/dotnet/corert/blob/aa4f9db019c6754d638a238d12af243df6fbb5d3/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/Runtime

[2019-01-30 12:48] #34489 closed

[2019-01-30 14:24] pavelovcharov commented on #34929
It would be a huge breaking change in scenarios, when WinForms and WPF controls can be used as is in .Net Core 3 applications. Are you planning to add some sort of a feature toggle to restore the previous behavior?

[2019-01-30 14:25] jbartlau opened #34949 "Marshal.GetObjectForNativeVariant is obsoleted with no workaround provided"
When using Marshal.GetObjectForNativeVariant, this gives a warning:

We heavily rely on being able to interop with variants (which actually works just fine in Core 3 Preview 2). Would be happy to move to a different technique, however the warning doesn't contain a suggested way to do things right. Does the obsoletion make sense? What's the future proof way to marshal variants then?

[2019-01-30 14:44] synercoder commented on #32413
@karelz I wish to create a "digital assistent" in a windows console app (perhaps later hosted on a raspberry pi). That uses Azure services for text-to-speech for the responses. Currently I can't do this in netcore.
So that is one scenario example.

[2019-01-30 15:06] vcsjones commented on #33279
Hm. Probably just a poor decision on my part when writing this up.

I think I avoided `span` for both because one is a `ReadOnlySpan` and calling it span seemed out of place. If that is an ill-placed thought then `span` works for me, as does `buffer`.

[2019-01-30 15:21] ramsubbaraoc commented on #34740
@davidsh Please can you provide a way to debug on Linux

[2019-01-30 15:26] MarcoRossignoli commented on #34926
@ViktorHofer happened again:
[code]
I'm building coreclr and 2 corefx repo.

[2019-01-30 15:28] MarcoRossignoli commented on #34926
NB. Not fundamental, no priority, maybe interesting.

[2019-01-30 15:48] colathro commented on #34840
Ahhh, I believe I'm understanding where the confusion is. .Net Core 2.1 and .Net Framework 4.6.2 are almost on identical .Net Standard Verisons: https://docs.microsoft.com/en-us/dotnet/standard/net-standard

This means the Objects and Methods would generally be identical between the versions; but the actual foundation libraries will be different. I believe this bug was fixed a couple years ago in

[2019-01-30 16:08] TheBuzzSaw commented on #34910
Now that I understand the underlying issue a bit better, I'm wondering what the supposed fix is. It seems non-trivial to address in an automated way. Is there a way to prevent the server handle from being inherited in the first place (while still letting the client handle through)? The work-around I've implemented works, but I suspect it'll be there longer than I want it to.

[2019-01-30 16:12] stephentoub commented on #34910
The actual fix will be trivial; the question will be whether it's an acceptable change in behavior (I think it is).

[2019-01-30 16:19] tannergooding commented on #34929
Thanks for catching this. I've logged a bug tracking updating this here: https://github.com/dotnet/dotnet-api-docs/issues/1736

We normally only add a toggle after there has been enough feedback indicating that it is necessary/worthwhile. Do you have some more data on existing WinForms/WPF code that would hit an issue due to this?

[2019-01-30 16:19] eerhardt commented on #33434
@MichalStrehovsky - can you point me to Zach's change?

[2019-01-30 16:21] TheBuzzSaw commented on #34910
Oh! Shows how much I know.

Considering the behavior is different across operating systems, one could argue that the change is necessary one way or another.

Thanks!

[2019-01-30 16:22] MichalStrehovsky commented on #33434
It's linked to the bug above in one of the entries above: #33980

GitHub would have autoclosed this when it got merged, but it's waiting for the change to reach master. It won't reach master because it's a servicing only change.

[2019-01-30 16:23] stephentoub commented on #34910
Nah, it's complicated stuff, and it's always difficult judging the complexity of a particular fix when unfamiliar with the codebase.

[2019-01-30 17:02] kevinlo commented on #34608
@bartonjs, do you think you can answer my question above?  If not, where is the right place to ask?

[2019-01-30 17:32] tannergooding opened #34953 "CoreCLR has not pumped back in a week"
This is blocking codeflow in general and is also blocking people from making fixes to the public API surface area for types that are implemented in S.P.Corelib.

This is also causing test failures for some outer-loop CI legs as the CoreFX tests can't be fixed to match the updated behavior in S.P.Corelib.

[2019-01-30 17:32] tannergooding commented on #34953
CC. @danmosemsft, @safern, @mmitche

[2019-01-30 17:44] JanEggers opened #34955 "where is the latest System.Memory nuget"
Hi there,

I would like to try out SequenceReader but I cant find a nuget with it.

the latest version of System.Memory I found (4.6.0-preview3-26501-04 is 6 month old)
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Memory

and by the way I dont understand why the assembly is  System.Memory and the namespace is System.Buffers.

[2019-01-30 17:47] DustinCampbell commented on #34252
Yes, hopefully, since this blocks a key feature of the WinForms Designer working. :smile:

[2019-01-30 17:56] mmitche commented on #34953
@tannergooding this was entirely intentional, around the Preview 2 shutdown.  I've turned the flow back on.

[2019-01-30 18:06] zamont commented on #33434
Eric is correct that shipping this change would change the CoreFx surface area, which is a breaking change and requires a new TFM, which is work we have not done for the 6.2 update. Taking this change will have to wait.

[2019-01-30 18:14] wfurt commented on #34920
I have repro on x64 when running inside container with cpu limits:
[code]

So this is not architecture dependent problem but more test issue as the test is not aware of container and it makes incorrect assumption.

[2019-01-30 18:39] safern opened #34957 "Plan for CoreCLR and Mono to run corefx tests in their CI"
I've opened this issue to have a discussion on what would be the best plan to follow regarding on CoreFX delivering test assets to Mono and CoreCLR.

I know that @mikem8361 has been doing some work to publish tests assets to an azure blob storage with a well known name, and then CoreCLR would restore that. However there has been some discussion on why using blob storage and not NuGet packages.

I

[2019-01-30 18:50] ycrumeyrolle opened #34958 "Utf8JsonWriter.WriteString do not honor escape=false"
When writing an unescaped value like "jwt+secevent", the `Utf8JsonWriter` is honoring the contract by not escaping the value, as illustrated in the following test:
[code]
When writing an unescaped value, the `Utf8JsonWriter` is not honoring the contract by escaping the value:
[code]
In this test, the '+' character is escaped to '\u002b'.

The expected behavior is to have an unescaped string when i

[2019-01-30 18:50] GSPP commented on #34631
Multiple static properties would force multiple native calls and would introduce race conditions. I don't know if this is relevant. But if it is, a `struct` would solve that.

In order to design this API we should think about what other "data" APIs could be made available in the future. It should be a concept that is extensible enough to maintain a clean and uniform API surface.

I believe all byt

[2019-01-30 19:02] danmosemsft commented on #34308
@ericstj can you advise what is required here?

[2019-01-30 19:08] mikem8361 commented on #34957
My plan so far. I already have the corefx uploading steps prototyped.

* Change corefx the builds to add a step to upload the test asset zips (around 270) to blob storage. It only takes 30-50 seconds to upload these zip file per "config".
    * Using Arcade’s Microsoft.DotNet.Build.Tasks.Feed/PushToBlobFeed build tasks.
    * Give the blob storage a strongly named like: corefx-tests/$(OfficialBuil

[2019-01-30 19:15] wpbrown commented on #34697
More research:

**HttpClientHandler (WinHTTP)**
I've debugged this scenario. The COREFX code is doing everything correctly. It is handling the challenge and retrying with `WINHTTP_AUTOLOGON_SECURITY_LEVEL_LOW`. This appears to be a limitation in WinHTTP with impersonation. It will send the credentials with the thread access token level is Impersonate, but not Identify (as is the case for S4U2Self

[2019-01-30 19:17] danmosemsft commented on #34096
OK. Deferred.

[2019-01-30 19:18] ericstj opened #34959 "Remove UAPvNext from 3.0 packages"
We don't know what the next version of UWP is going to be.  Right now we aren't shipping the UWP framework packages out of master, but are shipping individual packages that refer to UAPvNext.  In the past we've disabled UWPfrom the packages in this case: https://github.com/dotnet/corefx/commit/cea2df0fe2921a363dd035371b7c24c28980ff29.  I think we need to do the same in master right now.  The packa

[2019-01-30 19:18] danmosemsft commented on #33616
@AaronRobinsonMSFT I'd like to get consensus on what if anything to do here so we can get it to happen for 3.0 if we need to..?

[2019-01-30 19:18] ericstj commented on #34937
Correct, but that's currently not exposed as a default reference in the UAP framework package.  For an application to get it you need to use the package.  In the past that was because the implementation only existed on coreclr and folks didn't want to lead developers on by having it work in debug and not release.

This issue is tracking making it a default reference in UAP.  That will have to be d

[2019-01-30 19:20] davidsh commented on #34697
We have a issue in CoreFx repo about this.  SocketsHttpHandler should be able to use the 'Host' request header for the default SPN calculation instead of the authority portion of the Uri itself.  In fact, .NET Framework goes even further by providing a AuthenticationManager class and CustomTargetDictionary for SPN lookup. We currently don't have in .NET Core.

@geoffkizer @mconnew

[2019-01-30 19:22] davidsh commented on #34369
It turns out that Negotiate being able to downgrade from Kerberos to NTLM is not working on Linux. This is a bug in our HTTP stack on Linux.

See: #34878.

[2019-01-30 19:31] davidsh commented on #34697
Yes, native WinHTTP does not do impersonation.  This is a known design limitation of it.  The WinHTTP team is aware of it.

See: https://docs.microsoft.com/en-us/windows/desktop/WinHttp/winhttp-vs-wininet

![image](https://user-images.githubusercontent.com/7684835/52007034-7ba0e080-2482-11e9-92d6-949e207fe691.png)
![image](https://user-images.githubusercontent.com/7684835/52007052-86f40c00-2482-11

[2019-01-30 19:47] CrossBound commented on #33115
I agree with @JonasZ95 and @gregsdennis, I hope the implementation will not be a simple abstraction of the same JSON.Net implementation details but will instead focus on what it _should_ look like.

I also think it should be approached as 2 separate functions...
1. serialization / deserialization
2. json version of said serialization and deserialization.

Hopefully the ASP.NET Core framework will

[2019-01-30 19:48] danmosemsft commented on #26519
@mdisg it's not currently scheduled, but we would accept a PR. Any interest in contributing?

[2019-01-30 21:00] wtgodbe opened #34963 "Remove the versionless netstandard alias"
Based on conversations with @ericstj, this should involve (at least) the following:

1. Move all package configurations to versioned TargetGroups
2. Remap versionless `netstandard` to `netstandard2.1`

CC @danmosemsft @terrajobst @karelz @ViktorHofer

A couple TODOS:
https://github.com/dotnet/corefx/commit/c05b1971dc2e554522218810f663f534b75934e6#diff-085f6f9ba6ffb73170783b85bbf23af8R78
https://gi

[2019-01-30 21:03] ViktorHofer commented on #34963
2) involves changing https://github.com/dotnet/corefx/blob/master/eng/configurations/targetgroups.props#L131 and additionally adding a dedicated targetgroup for netstandard2.1 in that file.

[2019-01-30 21:07] wtgodbe commented on #34501
@bradygaster is there anything else I can do to help with this particular issue? My understanding here is the same as Stephen's, which is that your best bet would be to either manually disable Echo in native code, like in https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Native/Unix/System.Native/pal_console.c#L121, or to add a manual delay before you call `ReadKey

[2019-01-30 21:09] vcsjones commented on #34949
@AaronRobinsonMSFT may know?

[2019-01-30 21:13] marek-safar commented on #34957
@mikem8361 could the payload url builder and test runner be available in some form of shared/reusable component outside of coreclr?

[2019-01-30 21:18] wpbrown commented on #34697
Thanks for the info @davidsh. WinHTTP is working with impersonation when the access token level is Impersonation or Delegation which is most likely what they are referring to in the documentation. I'm using a very specialized scenario of S4U2Self logon without SeTCB privilege which only provides an Identification level token on the local system. I'm going to focus on getting the SocketsHttpHandler

[2019-01-30 21:40] ericstj commented on #34308
With https://github.com/dotnet/corefx/commit/51e1541da82253ab7d10a7c00a2fd93b8e41c341 we pushed types down from System.Security.Permissions to System.Runtime.Extensions.  TypeForwards were added to System.Security.Permissions that permit code compiled against the old location of the types to continue to work.

I don't reproduce a run-time failure.  On preview1 bits (prior to change) I see that the

[2019-01-30 21:43] danmosemsft commented on #33392
@MarcoRossignoli yes there should be enough perf test coverage already, and Adam has made it super easy to run the tests in the [perf repo](https://github.com/dotnet/performance)

Would you like me to assign this to you?

[2019-01-30 21:46] erikness opened #34966 "Inaccurate comment in HttpHandlerDefaults"
# Problem

I suspect this comment is inaccurate and out-of-date:
https://github.com/dotnet/corefx/blob/dfd25d13a9d0f5f86d3964eb5bf6b33b7b22a3cc/src/Common/src/System/Net/Http/HttpHandlerDefaults.cs#L10

I suspect it's out of date because UnixHttpHandler is now CurlHttpHandler and because the commit was made 3 years ago. I suspect that it's inaccurate because the settings are used selectively and b

[2019-01-30 21:51] MarcoRossignoli commented on #33392
Yes I'm on it right now, https://github.com/MarcoRossignoli/marcorossignoli.github.io/compare/dicbackporting https://github.com/dotnet/BenchmarkDotNet/issues/1031
I disposed some PRs, I've got only one to merge, usually I don't work on new stuff if I've more that 2/3 PR ongoing to avoid too slow reply in case of rush, this is the reason why sometimes I ask for PTAL :blush: but I'm aware that you'r

[2019-01-30 21:55] danmosemsft commented on #33392
😄 yes don't hesitate to ping code reviewers.

[2019-01-30 21:59] jeffschwMSFT commented on #32630
Per @richlander "It requires a dependency that we don’t want to take in a lean stack. That said, it would be straightforward for anyone to build a layer on top that did this."

[2019-01-30 22:01] MarcoRossignoli commented on #33392
Oh yes `benchmarks_ci.py` works like a charm 🚀 🚀 🚀 Adam and José are doing amazing work.

[2019-01-30 22:01] ycrumeyrolle commented on #34958
I haven't seen the comment:
        /// The value is always escaped
It is inconsistent to always escape a value from a property, but not from an array.

[2019-01-30 22:11] ycrumeyrolle commented on #34958
In addition, I do not understand the reason that the '+' is escaped. Same remark for  '&', '<', '>' and '`'.
This characters are legit (I assume...)

[2019-01-30 22:20] Maoni0 commented on #34631
@davidwrighton because they are all values from the last GC which makes it very natural to group them together. things like highMemLoadThreshold currently don't change per GC but they could which was why they are returned with each call. as @GSPP pointed out, multiple calls to properties can mean you are now getting values from different GCs. not sure how I can explain the last 2 parameters more c

[2019-01-30 22:36] jeffschwMSFT commented on #32630
@dotMorten perhaps we can find a way to enable this without the use of dynamic.  Check out the Excel sample: https://github.com/dotnet/samples/tree/master/core/extensions/ExcelDemo
You can use native com objects in a statically typed way.

[2019-01-30 22:41] mikem8361 commented on #34957
Yes, I try to make it shareable/reusable.

[2019-01-30 22:57] Lxiamail commented on #34070
@alexdrl Hope you have work out of the problem. Closing the issue due to inactive for a while.

[2019-01-30 22:57] #34070 closed

[2019-01-30 22:57] danmosemsft commented on #34662
Is https://github.com/dotnet/corefx/issues/27098 relevant?

BTW when pasting from console please paste as text, it is easier to read and search.

[2019-01-30 23:05] Gnbrkm41 commented on #34662
On .NET Frameworks 4.7.2:
[code]
On .NET Core 3.0 Preview 1:
[code]

[2019-01-30 23:07] caesar1995 commented on #34912
Per offline discussion today:

- We should use `HttpResponseMessage.TrailingHeaders`. In order to get `HttpContent`, developer will always get `HttpResponseMessage` first.
- Request trailing header support doesn't has customer report nor required by gRPC, and API design is different. The decision is that we will only implement response trailing headers in 3.0.

The API review is scheduled for next

[2019-01-30 23:16] rmkerr commented on #34912
I took a look at the relevant code, and I think I can actually answer your question about stream buffering. We currently maintain a per-stream response buffer in Http2Stream:
https://github.com/dotnet/corefx/blob/ee57e77c81a18ced855685f519b521e6a34d9821/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs#L50

This keeps individual streams from being able to block the whole co

[2019-01-30 23:18] Tratcher commented on #34912
@caesar1995 That's a non-starter for streaming scenarios. Http2 requires some per-stream buffering to multiplex, but not full buffering.

[2019-01-30 23:21] Tratcher commented on #34912
What about bool `IsComplete { get; }`?

[2019-01-30 23:21] ahsonkhan commented on #34955
The API surface for the portable System.Memory assembly was frozen after .NET Core 2.1. APIs like `SequenceReader` are available in-box in .NET Core 3.0 so you don't need to reference the `System.Memory` package explicitly to access it (on the newest TFM).

We no longer ship a standalone System.Memory package.

cc @jkotas, @JeremyKuhne, @ericstj

[2019-01-30 23:34] Tratcher commented on #34912
@rmkerr how do you differentiate between "the trailers haven't arrived yet" and "there are no trailers"? Or do you assume the component that consumes the response is always going to be the one that reads the trailers?

You are right to worry about the trailers showing up early. At a minimum there's a concurrency issue if you try to populate them on the background connection thread and check for th

[2019-01-30 23:35] bradygaster commented on #34501
@wtgodbe not that i know of at this time, but we still need to sync up on the main issue, which is we can mitigate the slow experience in 1804 and High Sierra that we're seeing on the http-repl. I'll facilitate a conversation to try to move forward on that. Would you or @stephentoub be the appropriate person from your side to get into a room with @mlorbetske and Ahmed and myself to discuss?

[2019-01-30 23:37] Gnbrkm41 commented on #34662
The outputs above are compiled with the platform set as AnyCPU.

When I ran the same code but with the platform set as x86, I got this result from .NET Framework:
[code]

Though somewhat irrelevant to this repo (corefx), it does yield a bit different result, as the hashcode generated by StringComparer.Ordinal are not the same now (whereas ones from OrdinalIgnoreCase do). It behaves the same as Mon

[2019-01-30 23:39] Gnbrkm41 commented on #34662
Ah, was missing x86 runtime. 🤦‍♂️

[2019-01-30 23:43] danmosemsft commented on #34851
They're still failing this way. If we can fix this then System.Runtime.Tests will 100% pass. If you can dump that folder maybe I/we can figure out how to fix them

https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190130.2/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.TimeZoneInfoTests~2FNewfoundlan

[2019-01-30 23:45] wtgodbe opened #34969 "Add target to ApiCompat.proj that determines when the baseline shrinks"
Right now, unless a dev manually updates the baseline files for APICompat, we have no way of knowing if a check that's currently in the baseline has stopped triggering. We get an error when new checks pop up, so we'll know if the baseline grows, but nothing happens when old checks disappear, so we don't know if the baseline shrinks.

CC @ericstj @terrajobst

[2019-01-30 23:49] rmkerr commented on #34912
That's a good question, and I'm not actually sure what the answer is.

@caesar1995, do you know how we would handle a server sending the `Trailers` header, and then not actually including any trailers? Is that even a realistic concern?

[2019-01-30 23:52] Tratcher commented on #34912
The Trailers response header is only a hint, there's nothing stopping the server from sending any trailers it wants.

[2019-01-30 23:55] Gnbrkm41 commented on #34662
.NET Core 3.0 Preview 2, x86
[code]

[2019-01-30 23:57] caesar1995 commented on #34912
Server sends `Trailer` header to inform the recipient to prepare for the metadata. If it sends the Trailer header and doesn't including any trailers, we should treat the response as malformed and `TrailingHeaders` field should just return an empty `HttpResponseHeaders` collection.

[2019-01-31 00:03] ericstj commented on #34969
Generically, I believe that is by-design.  The baseline files often are shared per framework and may contain entries only needed for one of many frameworks.  This could be changed but would be a feature in APICompat in dotnet/arcade.

That said, you could hack something together that captures the output of the tool when run and compares that to the checked in baseline.  Here's some psuedo code:
[c

[2019-01-31 00:06] caesar1995 commented on #34912
I think in this case, we should ignore any unexpected trailing headers - just like ignoring all disallowed trailers. https://tools.ietf.org/html/rfc7230#section-4.1.2

[2019-01-31 00:11] wtgodbe commented on #34501
Either or both of us would be good - @stephentoub is more knowledgeable in the area, but also a lot more busy ;)

[2019-01-31 00:13] bradygaster commented on #34501
@wtgodbe sounds good, will set it up

[2019-01-31 00:15] caesar1995 commented on #34912
The component that consumes/buffers the response content is always the one reads(knows) about the trailers information. I don't think we need to differentiate these two cases - by default we return the `HttpResponseMessage` after parsing & storing the trailing headers. If developers want to do that themselves (by setting completion option to `ResponseHeadersRead`), and they decided to dispose the

[2019-01-31 00:16] danmosemsft opened #34970 "Ping tests don't work on Ubuntu 1604 ARM64 - ping is not available"
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190130.2/workItem/System.Net.Ping.Functional.Tests

[code]

ping is not installed by default (it is gotten like `apt-get install iputils-ping`)

or tests need to be updated to skip on this platform -- or skip the tests if none of `/bin/ping` / `/sbin/ping` `/usr

[2019-01-31 00:20] Tratcher commented on #34912
The [Trailer](https://tools.ietf.org/html/rfc7230#section-4.4) header is only a SHOULD.

The client should be loose on accepting trailers other than those explicitly prohibited, regardless of the contents of the Trailer header. Cross checking with the Trailers header would be more work on your part, not less.

If the server sends a Trailer header and does not send the associated trailer, oh well,

[2019-01-31 00:21] wfurt commented on #34970
I think it would be nice to add that package so we can run the tests. That should be easy IMHO as we own the images.

cc: @safern

[2019-01-31 00:32] caesar1995 commented on #34912
This makes sense. Also the algorithm proposed by the RFC inline with your approach as well. (https://tools.ietf.org/html/rfc7230#section-4.1.3)
I will use this approach in implementation. Thanks!

Agree.

[2019-01-31 00:38] safern commented on #34970
@ulisesh could you also install ping in all the helix images?

[2019-01-31 00:40] Wraith2 opened #34972 "Build: individual release builds don't work"
Started with `clean -all` synced to master. `build -allconfigurations` ran successfully.
`build src\System.Data.SqlClient -debug` works
`build src\system.Data.SqlClient -release` fails with:

[code]

The same occurs with System.Data.Odbc and presumably any other library using the same approach. It's a bit inconvenient when I'm working on perf.

cc @safern, @ViktorHofer, @ericstj

[2019-01-31 00:40] ulisesh commented on #34970
Sure, I will add ping to out helix images

[2019-01-31 00:43] safern commented on #34972
build -allConfigurations was built in debug mode and you're trying to build a project in release mode. So there are no assets for Release build in bin/obj folders, so we can't build. Try running build -release beforehand.

[2019-01-31 00:46] wfurt commented on #34970
BTW we had some dependencies for dumplinks to work.
Did we verify that it works and we can get stack traces?
(depends on Python and lldb, maybe more)

[2019-01-31 00:57] dotnet-mc-bot opened #34974 "Test failure: System.Tests.EnvironmentProcessorCount/Unix_ProcessorCountTest"
Opened on behalf of @danmosemsft

The test `System.Tests.EnvironmentProcessorCount/Unix_ProcessorCountTest` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190130.2 (Core Tests)
Failing configurations:
- Ubuntu.1604.Arm64-arm64
  - Release

[2019-01-31 01:00] danmosemsft commented on #34974
The test already makes sure to use _SC_NPROCESSORS_CONF instead of _SC_NPROCESSORS_ONLN when on ARM*. It seems to have the correct constants (83, 84)..

I'm not sure why it's getting 46.

`get_nprocs_conf` and `get_nprocs` are alternatives that don't require hard coding those constants, but may not be available everywhere.

Incidentally the test also has values for NetBSD but FreeBSD has different

[2019-01-31 01:03] Wraith2 commented on #34972
Ok, building. So what is allconfigurations if it isn't all confirations? I thought trying to use allconfigurations and debug/release together used to fail.

[2019-01-31 01:06] danmosemsft commented on #34974
@safern we should execute this one one of those machines
[code]

[2019-01-31 01:07] Wraith2 commented on #34972
Sorted. Sorry for the noise, it's hard to keep up with the build system at times.

[2019-01-31 01:07] #34972 closed

[2019-01-31 01:18] safern commented on #34972
Not a problem! Actually -allConfigurations means - All TargetFrameworks for all projects. So for example if a project has

[code]

So all configurations will build that project for netcoreapp, netfx and uap in one build. But you still need to specify the ConfigurationGroup you want those frameworks to be built on, Debug or Release.

Naming might not be the best, and it should change in the future,

[2019-01-31 01:19] dotMorten commented on #32630
@jeffschwMSFT Yeah I tried that and failed (it doesn't generate any APIs). After your post I tried again, and somehow it now works. That's awesome.

I would however have preferred a way where System.Device.dll didn't have to be completely rewritten, but a straight port "just works"

[2019-01-31 01:45] stephentoub commented on #34974
Dup of https://github.com/dotnet/corefx/issues/34920

[2019-01-31 01:45] #34974 closed

[2019-01-31 02:30] glenn-slayden opened #34976 "Clarify ungrammatical comment in 'FixedBufferExtensions.cs'"
The following is not English, as far as I can tell:

https://github.com/dotnet/corefx/blob/9e074e4a3f3626fa953f36ab79e3cd3e6db1c9de/src/Common/src/System/Memory/FixedBufferExtensions.cs#L33

[2019-01-31 04:00] danmosemsft commented on #34976
Want to offer a fix?

[2019-01-31 06:18] JanEggers commented on #34955
Im working on a library. I cannot lock myself into netcore (still have too many netfx users)? I would like to target some form of netstandard like 2.1 (that should have span support I thought) or is it the ref struct thingy that needs core 3.0 runtime?

[2019-01-31 06:21] ramsubbaraoc commented on #34740
@davidsh @bartonjs
I was able to resolve the issue by modifying my sample which adds the certificate to the keystore.Following is the sample that i had used:

[code]

By adding the following couple of lines of code made it work

            personalStore.Add(certificate1);
            personalStore.AddRange(collection);

[2019-01-31 06:35] jkotas commented on #34957
I would like the scheme to work well for test asserts of other repos, not just for corefx.

@KevinRansom Do you think the scheme described above (https://github.com/dotnet/corefx/issues/34957#issuecomment-459069106) would work for packing  FSharp xunit tests?

[2019-01-31 07:01] mdisg commented on #26519
@danmosemsft my knowledge on linux are not good enough to do that and i have no time to dig into it.
I if i had, is there a documentation on how to start contributing to the framework? To get to the point submitting a PR there must be first the environment set up to see what the actual code does and what is missing.

[2019-01-31 07:13] AaronRobinsonMSFT commented on #34949
Thanks @vcsjones.

@jbartlau The obsolete statement is a nuanced indication about the intent of certain APIs and scenarios involving CoreCLR. As you probably know `VARIANT` is related to the COM and OLE technologies on the Windows platform. This fact makes it somewhat hard to reconcile with CoreCLR's goal of being an environment where one can build enterprise level cross-platform applications. The

[2019-01-31 07:29] dotnet-mc-bot opened #34980 "Test failure: System.Composition.Convention.Tests.PartBuilderInterfaceTests/StandardExportInterfacesInterfaceFilterConfiguredContractShouldWork"
Opened on behalf of @AriNuer

The test `System.Composition.Convention.Tests.PartBuilderInterfaceTests/StandardExportInterfacesInterfaceFilterConfiguredContractShouldWork` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190130.4 (UWP ILC Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS4-x86
  - Release
- Windows.10.Amd64.ClientRS4-x64
  - Release

Details:
https

[2019-01-31 07:45] karelz commented on #34840
cc @ViktorHofer

[2019-01-31 07:52] ahsonkhan commented on #34955
Span will be part of netstandard2.1: https://github.com/dotnet/standard/pull/909

No, ref structs don't need the 3.0 runtime. They need .NET Core 2.1 and higher (which is why we shipped a portable System.Memory and an in-box one).

cc @terrajobst

[2019-01-31 08:03] JanEggers commented on #34955
thx for clarifing, I think I wont use the new features then... :(

[2019-01-31 08:03] #34955 closed

[2019-01-31 08:08] dotnet-mc-bot opened #34982 "Test failure: System.Numerics.Tests.Vector2Tests/Vector2ClampTest"
Opened on behalf of @AriNuer

The test `System.Numerics.Tests.Vector2Tests/Vector2ClampTest` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190130.4 (UWP ILC Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS4-x86
  - Release
- Windows.10.Amd64.ClientRS4-x64
  - Release
Details:
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fh

[2019-01-31 09:10] pavelovcharov commented on #34929
We faced this issue while porting the DevExpress WPF Controls suite to Net Core 3 - some of our tests failed. Of course, we can modify our code and re-write our tests (in fact, we have already done it). However, in a general case, such differences between Net Core 3 and Net Framework will definitely complicate cross-platform development. If an application or a component was developed under Net Fra

[2019-01-31 09:35] pavelovcharov commented on #34929
I believe that it would be very helpful for developers

[2019-01-31 09:36] MBODM opened #34983 "How to dispose HttpResponseMessage.Content without closing Stream ?"
Hi,

it looks like the HttpRequestMessage Problem (a using around "new HttpRequestMessage()" also disposing a Stream given as method parameter) was fixed in .NET Core 2.0. @stephentoub wrote about it here: https://github.com/dotnet/corefx/pull/19082

But this problem still exists with HttpResponseMessage. Here is some example Code:

[code]
This is code in a library. Problem here is, we do not wann

[2019-01-31 10:06] ATimmeh33 commented on #7779
This issue also occurs for us after our upgrade to ASP.NET Core. Returning a `CryptoStream` with a `FileStreamResult` and then aborting the request results in the same exception:

[code]

Why is it necessary to depad the block when it's getting disposed? It seems like any partially read CryptoStream can no longer be disposed without throwing this exception.

Sample code:
[code]

[2019-01-31 12:02] davidfowl commented on #34927
I’m having a hard time seeing anything outside of char. Do you have any concrete examples that can help show why this is useful beyond that?

[2019-01-31 12:53] aloysiustany commented on #34349
I am also facing this issue. Any support here would be much appreciated.

[2019-01-31 12:56] abjrcode opened #34984 "Process.Start Cannot find file when UseShellExecute is set to false"
I am using `Process.Start()` to start two different processes. In my case the two processes are `docker` and `aws`, the latter which is the AWS command line utilities.
`Process.Start` is able to run the `docker` process successfully regardless of the `UseShellExecute` value
It is not able to run `aws` command though unless I specify `UseShellExecute = true`

I have noticed this behavior on both th

[2019-01-31 13:14] stephentoub commented on #34984
Yes, it matters, that's what UseShellExecute=true is there to support. It's the shell that understands how to run scripts.

[2019-01-31 13:22] abjrcode commented on #34984
That actually used to work somehow before, I don't know what broke it though
What you are saying makes sense but I can't explain how it used to work before

[2019-01-31 14:46] #34910 closed

[2019-01-31 14:53] stephentoub commented on #7779
I tried your sample on both .NET Framework 4.7.2 and .NET Core 2.1/2.2/3.0.  I added in the location of corelib just to confirm where it was coming from.  I see the same exception in all cases:
[code]

Is there a version of the repo that succeeds on netfx but fails on netcore?

Thanks.

[2019-01-31 14:55] davidsh commented on #34983
In general, the objects inside the HttpResponseMessage are owned by the HttpResponseMessage.  So, disposing the HttpResponseMessage disposes everything inside it including the .Content object (HttpContent) which owns the underlying content which is the HTTP response stream.

Changing this behavior would probably require a new API to control this behavior.

@stephentoub @geoffkizer @Tratcher

[2019-01-31 14:56] stephentoub commented on #34983
Just don't dispose the response?  The resources will be cleaned up when the stream is disposed.

[2019-01-31 15:00] Tratcher commented on #34983
Yeah, the stream is the only thing on the response that really needs disposing, so if you're not ready to dispose it then don't.

[2019-01-31 15:08] stephentoub commented on #34984
Not sure how from the .NET side of things.  Maybe `aws` used to be an executable and changed in an SDK update or something to be a script?

Regardless, it sounds like this are behaving the way they're supposed to behave in .NET, for better or worse.

You can't redirect stdin/out/err when UseShellExecute is true.

[2019-01-31 15:12] Symbai opened #34988 "System.Runtime.Intrinsics.X86.Sse2 missing overloads"
The System.Runtime.Intrinsics.X86.Sse2 are missing overloads for certain types such as:

[code]

There are many more. Is there a reason why they are missing? Is there a chance they will be added? I'm asking because there is no contiguity, it rather feels just incomplete. I'm sorry if there has been an explanation to this before, I couldn't find it.

[2019-01-31 15:13] ATimmeh33 commented on #7779
No, problem does indeed occur on both netfx and netcore. Only became apparent after switching to ASP.NET Core though. I'm guessing because it's more efficient with it's resources and thus disposes as soon as a request is aborted.

[2019-01-31 15:15] stephentoub commented on #7779
I'd like @bartonjs' opinion, if there's a security reason that we need to do this validation as part of disposal.  It seems reasonable otherwise that when just reading you should be able to stop reading whenever you want.

[2019-01-31 15:19] abjrcode commented on #34984
I am thinking the same

Thanks a lot for your help

[2019-01-31 15:21] #33336 closed

[2019-01-31 15:37] asthana86 opened #34989 "[Test] ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2019-01-31 15:38] #34989 closed

[2019-01-31 15:44] benaadams commented on #34927
The pattern I envisioned is using Pipelines to drive to and from the byte stream (as now); then use `System.Threading.Channels` to drive the object stream https://ndportmann.com/system-threading-channels/

Though AsyncEnumerables could work well here also.

Pipelines is batch (N bytes at once); and you push back to the Pipe if the batch isn't large enough (either in size or not yet complete, delim

[2019-01-31 16:05] couven92 commented on #34927
@benadams, thanks for the links to Channels! I was not aware of these APIs and on first glance I agree that my CSV example and other line-by-line parsing scenarios probably would be better suited for use by a Channel instead of a pipeline...

[2019-01-31 16:07] couven92 commented on #34927
However, wouldn't it still be easier (or even more performant) to use a Pipe<char> instead of paying the MemoryMarshal cost for casting the buffer to chars on each read/write?

[2019-01-31 16:08] tannergooding commented on #34988
@Symbai, these intrinsics map directly to the underlying CPU instructions of a given ISA so they can only expose what the underlying hardware exposes.

For example, with `CompareGreaterThan` the corresponding instruction (`PCMPGTB/PCMPGTW/PCMPGTD`) is explicitly documented as comparing packed signed integers.

The same applies to the other missing functions listed above, either only signed vs unsi

[2019-01-31 16:11] niemyjski opened #34990 ".NET Core 2.2 - HttpClient throws IOException: The server returned an invalid or unrecognized response."
This occurs to be happening on Linux (docker) and OSX on both .NET Core 2.1 and 2.2 (latest), I've heard it's also reproducible on windows but I've yet to confirm.. We have many jobs that talk to Elasticsearch and it's only this one specific one that occasionally blows up. I've brought in all the dependency source code minus the CoreCLR and have been able to get it under the debugger:

[code]

The

[2019-01-31 16:13] CodeTherapist commented on #7072
Is that still open? If so, I would like to add the following perf tests:

- [ ] Stack
- [ ] Queue
- [ ] LinkedList

- [ ] SortedList
- [ ] SortedDictionary
- [ ] SortedSet

[2019-01-31 16:13] jeffschwMSFT commented on #32630
@AaronRobinsonMSFT is taking a closer look, but I am happy to see that our recent work enabling COM is at least one path forward.

[2019-01-31 16:16] karelz commented on #34990
@wfurt can you please advise on the logging?

[2019-01-31 16:36] #34988 closed

[2019-01-31 16:45] jkotas commented on #34957
It would be a good idea to talk about requirements of the solution. Here is my take:

## Requirements

- It is easy for any repo with ordinary xunit tests to participate. It should be less than a day of work to onboard a new repo into the system (e.g. to add a option to run the repo tests in CoreCLR CI). We can use FSharp to validate this.

- The underlying storage and versioning scheme is same as

[2019-01-31 16:51] vincedan commented on #33643
It is really bad thing. almost 20 years ago, when we said Goodbye --COM dll hell and embraced brand dotnet... but right now what happened?  the same thing.. maybe worse.   wish MS reconsiders the way for releasing production component(dlls).

[2019-01-31 16:51] danmosemsft opened #34991 "proc.StandardOutput.ReadAsync doesn't cancel properly if no output is sent from the process"
_From @jeremyVignelles on December 7, 2018 9:36_

I went several times into this, in .net framework as well as in .net core on windows:

I have a process, and I read its output asynchronously using `ReadAsync()`. I want to be able to abort the process, so I'm passing in a `CancellationToken`.

However, if the child process is not emitting any output at that moment, the `ReadAsync` method will wait

[2019-01-31 16:51] danmosemsft commented on #34991
_From @MarcoRossignoli on December 8, 2018 15:46_

I don't think that read is sync check the comment above https://github.com/dotnet/coreclr/blob/baa4f19a7158e31b7012ff2dafebfb5f1b1edee4/src/System.Private.CoreLib/shared/System/IO/FileStream.Windows.cs#L863
and register for cancellation only if there is IO pending https://github.com/dotnet/coreclr/blob/baa4f19a7158e31b7012ff2dafebfb5f1b1edee4/src/

[2019-01-31 16:51] danmosemsft opened #34992 "FileStream.Seek & FileStream.Position does not check if current position is same as desired position"
_From @rahku on October 23, 2018 22:15_

FileStream.Seek and FileStream.Position should check if the current position is same as desired position then bail out early. This avoids having to disregard buffers when using buffered IO.

_Copied from original issue: dotnet/coreclr#20556_

[2019-01-31 16:51] danmosemsft commented on #34992
_From @jkotas on October 24, 2018 2:53_

cc @JeremyKuhne

[2019-01-31 16:51] danmosemsft commented on #34992
_From @rahku on October 24, 2018 19:36_

or better yet check if desired position is in buffer and then adjust pointers accordingly

[2019-01-31 16:51] danmosemsft commented on #34992
_From @benaadams on October 24, 2018 20:40_

Probably shouldn't call `SetFilePointer` either "Windows Server Performance Team Blog: [Designing Applications for High Performance – Part III](https://blogs.technet.microsoft.com/winserverperformance/2008/06/25/designing-applications-for-high-performance-part-iii-2/)" (June 25, 2008)

[2019-01-31 16:51] danmosemsft commented on #34992
_From @JeremyKuhne on October 24, 2018 21:1_

@benaadams Thanks for the link.

We've got a lot of serious work to do with FileStream. An overhaul is on our wishlist.

cc: @stephentoub

[2019-01-31 16:51] danmosemsft opened #34993 "Binding duplicated handle to ThreadPool fails?"
_From @poizan42 on June 13, 2018 4:6_

When I run the following code I get a System.ArgumentException: ''handle' has already been bound to the thread pool, or was not opened for asynchronous I/O.'

This seems weird since it is a copy of the handle bound and it is definitely opened for async I/O. From a glance it looks like the error ultimately comes from CreateIoCompletionPort, but that is weird b

[2019-01-31 16:56] danmosemsft commented on #26519
@mdisg for sure, the developer guide is [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md)  and there are other docs in that folder and the parent folder that should be up to date.

I did not know much about coding on Linux until I joined this project ~3 years ago. This would be a good one to start with if you want to learn.

[2019-01-31 16:58] #34982 closed

[2019-01-31 16:59] danmosemsft commented on #34980
Closing while we decide how best to tackle the ILC test backlog.

[2019-01-31 16:59] #34980 closed

[2019-01-31 17:05] benaadams commented on #34992
As a counter point `File.CopyToAsync` is very fast

[2019-01-31 17:25] benaadams commented on #34927
Have the Pipeline feed the Channel

bytes => `Pipe` => look for new line => `string` => Add to `Channel`

Or if you are working with push

bytes => `Pipe` => look for new line => sync parse

@davidfowl did write an example line parser in the second style in response to a blog post

https://github.com/davidfowl/StringsAreEvil/blob/davidfowl/spanification/StringsAreEvil/Program.cs#L118-L226

Its an

[2019-01-31 17:31] jkotas commented on #34949
I think so.

[2019-01-31 17:35] wfurt commented on #34990
Your repro talks to loopback @niemyjski. That may prevent you from getting repro. Timing is different if the issue lives in some race condition in client and it will never happen if the server does return malformed response occasionally.

I would also suggest to add some X-header to request with counter or GUID of some form. So when it blows up, you can log it in your app and than search for it in

[2019-01-31 17:38] krytarowski commented on #2046
I've finally managed to fill this gap and I got Linux/Windows to run on NetBSD with hardware-accelerated and wrote a quick summary on it:

http://blog.netbsd.org/tnf/entry/the_hardware_assisted_virtualization_challenge

Now I need to get LLDB fully functional in order to investigate future crashes of .NET on NetBSD... working on it.

[2019-01-31 17:48] ViktorHofer commented on #34840
Right I fixed that for netcoreapp2.1 upwards here: https://github.com/dotnet/corefx/commit/462da72b8409cd2ef8f6915ed92795231e8d0b95#diff-b47a74e2c06e04fe69c6278f5a178561. We have an internal issue tracking the port to .NET Framework (602744). Closing.

[2019-01-31 17:48] #34840 closed

[2019-01-31 18:01] wfurt commented on #1626
It would be great if some FreeBSD guru could take look at https://github.com/dotnet/coreclr/issues/22124 I would expect binaries build for 11 to run on 12 but it does not seems to be the case ;(
It is easy to reproduce with simple app and 12.0 release seems to break something dotnet depends on.

[2019-01-31 18:04] jgoyvaerts opened #34995 "Is it possible to force SSL client certificate reauthentication on every connection?"
I was wondering if it's possible to force clients connecting to a kestrel/IIS server to have to re-authenticate with a client certificate after closing the SSL connection.

Given the difference between an SSL connection and an SSL session, clients can reuse the same SSL connection, but when the SSL connection is closed (either by timeout, by sending a Connection: close from the server, or any othe

[2019-01-31 18:04] colathro commented on #34976
This sounds fine to me. The span's actual length is different from the logical length that's interpreted in the method.

`span['a', 'b', 'c', 'd', '\0', 'f', 'g'] != ['a', 'b', 'c', 'd', 'f', 'g'] `

[2019-01-31 18:05] ericsampson commented on #23544
@karelz would this be a good candidate for a community member to submit a PR as a starting point?

[2019-01-31 18:07] davidsh commented on #34995
@Tratcher

[2019-01-31 18:18] Tratcher commented on #34995
This is likely a client behavior, what client are you using? E.g. browsers are prone to caching the user's cert selection and providing that cert again for future connections. I haven't seen anything the server can do about this.