[2019-06-05 22:55] tarekgh commented on #38279
Yes

Yes, that is what I suggest too.

Looks no one objecting so far :-)

[2019-06-05 23:02] wfurt commented on #38050
is the slowdown possibly coming from accessing the filesystem? If so, can we cache and hook in file change notifier?

[2019-06-05 23:09] danmosemsft commented on #38130
@r-ramesh this should do it. Several changed.
[code]

[2019-06-05 23:12] wfurt commented on #38033
note, that the quotes are processed by shell it self. When you use excecv() (Or dotnet)  that does not happen so the utility will get what you passed in.

I don't think this is bug. You should not depend on shell processing unless you start  `/bin/sh -c smartctl -A '/dev/sda'`

You should be able to see that when running:
`strace -f -e trace=%process mycoolapp`

[2019-06-05 23:22] danmosemsft commented on #38206
I don't think you need do anything elaborate @tannergooding just 5 minutes thought whether we missed anything.

[2019-06-05 23:42] Akaion opened #38285 "SafeAccessTokenHandle is missing from .Net Core"
I've just noticed that you provide a SafeHandle [implementation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.win32.safehandles.safeaccesstokenhandle?view=netcore-2.2) for thread access tokens, however, this doesn't seem to be part of the Microsoft.Win32.SafeHandles namespace on .Net Core.

Any insight into why this wasn't included?

[2019-06-05 23:50] ericstj commented on #38130
@RussKie you or someone else from WinFroms may want to look at the other values in this file.  I see plenty of visualizers for WinForms types that rely on private fields here too.
https://devdiv.visualstudio.com/DevDiv/_git/VS?path=%2Fsrc%2Fcsharp%2Fautoexp%2Fautoexp.cs&version=GBmaster&line=58&lineStyle=plain&lineEnd=91&lineStartColumn=1&lineEndColumn=122

[2019-06-06 00:43] cspotcode commented on #37948
I tested, and it's fixed in 3.0.

The relevant commit: https://github.com/dotnet/corefx/commit/007571b90c3cc555cd30f3b467b87c22f9f665e0

echo is turned off here:
https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_console.c#L180-L184

Sorry for the issue spam.

[2019-06-06 00:43] #37948 closed

[2019-06-06 01:09] davidfowl opened #38289 "Handle portable PDBs in System.Diagnostics.StackTrace tests"
See the discussion here https://github.com/dotnet/corefx/pull/38214#discussion_r290842837. We can either skip this test when test pdbs are embedded or write a trickier test 😄

cc @tmat

[2019-06-06 01:20] RussKie commented on #38130
We'll do a review, thank you

[2019-06-06 02:14] lmolkova opened #38292 "API review: Allow suppressing Activity creation in System.Net.HttpClient"
# Background

See  #36954:  it enables propagation of Activity in HttpClient if there is a parent Activity. I.e. allows ASP.NET Core (or other incoming layer instrumentation) to control distributed tracing.

End-to-end distributed tracing requires Activity creating on incoming (ASP.NET Core) layer and outgoing. Incoming instrumentation gets context from request headers, outgoing request instrument

[2019-06-06 02:22] davidsh commented on #38292
cc: @dotnet/ncl @stephentoub

[2019-06-06 02:28] davidsh commented on #38292
IMHO, I think it premature to mark this issue as "api-ready-for-review". I understand the motivations of it, but I think more discussions with area owners (networking) is needed before it can be discussed in the API review meeting.

The current diagnostic tracing model that DiagnosticListener uses in HttpClientHandler uses the HttpClient architecture handler pipeline with minimal exposure on the A

[2019-06-06 02:29] davidsh commented on #38292
@karelz

[2019-06-06 02:36] ccic commented on #38050
I used "perf record -g" to get the following profiling data. Any idea?

+   69.73%  swapper          [kernel.kallsyms]                                  [k] native_safe_halt                                                                       ?
+    3.26%  x509             libcrypto.so.1.1                                   [.] X509_NAME_cmp

[2019-06-06 02:36] stephentoub commented on #38292
Could this be sufficient for 3.0?

[2019-06-06 02:39] JamesNK opened #38293 "HTTP/2 cancellation and object null reference"
HttpClient is throwing NullReferenceException when it gets RST_STREAM INTERNAL_ERROR from the server.

Wireshark log attached.

[code]
[httpclient-nre.zip](https://github.com/dotnet/corefx/files/3259733/httpclient-nre.zip)

[2019-06-06 02:46] davidsh commented on #38293
@wfurt

[2019-06-06 02:57] WinCPP commented on #37786
Got it @ahson. I haven't left a comment in #36125. Please check there.

Thanks!

Sent via mobile. Please excuse typos.]

On Wed, Jun 5, 2019, 3:20 PM Ahson Khan <notifications@github.com> wrote:

[2019-06-06 02:58] WinCPP commented on #37786
Got it @ahsonkhan. I haven't left a comment in #36125. Please check there.

Thanks!

[2019-06-06 03:16] davidfowl opened #38294 "Writing large JsonElement via JsonSerializer.WriteAsync hangs"
There's a bug in the writing loop that causes writing a JsonElement to hang forever. Here's the sample code:

[code]

cc @rynowak @steveharter @ahsonkhan @JeremyKuhne

[2019-06-06 03:18] jkotas commented on #38285
`SafeAccessTokenHandle` and other Windows-specific APIs for accessing security tokens is in a separate NuGet package: https://www.nuget.org/packages/System.Security.Principal.Windows

You can add it to your project by running `dotnet add package System.Security.Principal.Windows`

[2019-06-06 03:18] #38285 closed

[2019-06-06 03:23] lmolkova commented on #38292
@davidsh you are right, I changed label to api-needs-work

Today DiagnosticsHandler is not public. Exposing it creates other issues:
* it will be possible to add it to the pipeline in addition to the one added automatically in HttpClientHandler
* need to pass SuppressActivityPropagation to the instance of DiagnosticsHandler created by HttpClientHandler.

So as long as DiagnosticsHandler is added i

[2019-06-06 04:17] wfurt commented on #38293
can we reproduce it with interop tests @JamesNK ?
Even if that takes a while I can trace it down.

[2019-06-06 04:21] wfurt commented on #38050
are you low on memory @ccic ? You can disable swap to take that out of picture.

[2019-06-06 05:28] liu123456789 opened #38295 "aspnetcore linux docker X509Certificate2 error not enough data"
error: 0D06B08E:asn1 encoding routines:ASN1_D2I_READ_BIO:not enough data

Who can help me?

[2019-06-06 05:58] shravan2x commented on #37689
@Fabi Sorry I hadn't seen your comment a few weeks ago, my email notification seems to have gotten lost.

I haven't had a chance to try it with the 3.0 SDK. I'll try it and post back in a few days.

[2019-06-06 06:26] wangzhaoguan commented on #37691
我们遇到了同样的问题，dotnet core在Linux平台下的性能，比windows差好几倍，核心态CPU非常高。今天下载了3.0 Preview验证，发现此问题仍然存在。真实使用场景是向Oracle批量插入数据时，ODP内部频繁调用的String.Compare(s1,  s2,  true)触发了calling System.Globalization.Native.so!pthread_mutex_lock。lldb的堆栈日志显示如下

---------------------------------------------
Thread 233
TEB information is not available so a stack size of 0xFFFF is assumed
Current frame: libpthread.so.0!__lll_lock_wait +

[2019-06-06 06:42] stevenruizhang opened #38297 "can not target .Net Core 3.0 in VS 2019 16.1.2"
1) install the latest VS 2019
![image](https://user-images.githubusercontent.com/13114985/59012041-0185cb80-8869-11e9-91ac-475b0ef367d9.png)
2) create console App , can not target to .net core 3.0 even sdk install
![image](https://user-images.githubusercontent.com/13114985/59012083-25491180-8869-11e9-883c-e4ffcdd59062.png)
![image](https://user-images.githubusercontent.com/13114985/59012092-32fe97

[2019-06-06 07:13] ygoe commented on #38033
How would you suggest doing this with .NET?:

* call executable: `smartctl`
* argv[1]: `-A`
* argv[2]: `a path with spaces`

[2019-06-06 07:42] dasMulli commented on #37935
I just put up the code at https://github.com/dasMulli/hungarian-algorithm with various stages of optimizations. And even though it is still not optimal, it is already a huge improvement and I'll likely be spending more time on other parts of the system, but the code dump is up now. Btw the system this is going to be run on will be a new Cascade Lake Xeon, so that's why i've been asking about the s

[2019-06-06 07:52] weltkante commented on #38130
I wonder what takes priority if visualizers are defined both in .NET Core assemblies and in the VS extension. If the defining assembly takes precedence then you could just add the corrected attributes in .NET Core and leave the VS extension in place for Desktop Framework.

[2019-06-06 08:27] svick commented on #38297
The preview option is under Environment → Preview Features:

![](https://user-images.githubusercontent.com/287848/59018191-9676cd80-8845-11e9-9904-2321fa1f47fd.png)

[2019-06-06 08:39] iwhp opened #38301 "MEF2 - Breaking Change in MEF2 (compared to MEF1) - Cycling Reference"
Please also see: https://github.com/iwhp/Mef1-vs-Mef2-CycleComposition

**MEF1**
Im MEF1 it is possible to have a cycling reference between two components (see ClassA and ClassB), even if the components are non-shared (`[PartCreationPolicy(CreationPolicy.NonShared)]`).

This is possible by using `Lazy`

` public Lazy<ClassB> ClassB { get; set; }`

**MEF2**
Im MEF2 this is not working.
Is there a w

[2019-06-06 08:46] VGib opened #38302 "use a foreach with for if input foreach enumerable is an array"
Hello,

i don't know if it has been done, since I use the .net Framework 4.5.

But i get big performance increase when dealing with calculating code with lot of arrays, which such a method (I just check  that the IEnumerable is IList, since this has been lot done in your Linq code)

[code]

the foreach is a good way for code lisibility. And I have the advantage of for boost , with foreach lisibili

[2019-06-06 08:49] Wraith2 commented on #38302
`T[]` is `ILIst<T>` so it is already done

[2019-06-06 08:53] VGib commented on #38302
OK thanks,

I'll wait that we migrate to .net core 2.2 (and then 3.0 when it's out)

[2019-06-06 09:06] #37802 closed

[2019-06-06 09:28] AriNuer opened #38303 "Test failure: System.Net.NetworkInformation.Tests.PingTest/SendPingWithIPAddressAndTimeout"
Test `System.Net.NetworkInformation.Tests.PingTest/SendPingWithIPAddressAndTimeout ` has failed.

Message :
[code]

Stack Trace :
[code]

Build : -2[0190605.78](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190605.78)(Master)

Failing configurations:

- OSX.1012.Amd64.Open-x64-Release

Details:
https://mc.dot.net/#/user/d

[2019-06-06 09:37] Wraith2 commented on #38302
This isn't a recent change, it's behaviour added with generics in the 2.0 desktop framework a decade ago. Casting to IList<T> will work with arrays because otherwise you have to special case them everywhere.

[2019-06-06 10:01] maciejw commented on #38219
Sure I can, I've downloaded 3.0.0-preview5-27626-15, retargeted my project and exception is propagated correctly, this one from code snippet I've provided here as well as security exception related to certificates

[code]

witch was my original problem I stumbled upon.

[2019-06-06 11:06] marek-safar commented on #38279
Do you have any data backing this up? nuget.org does not show this package as to be super popular.

I agree that the installed shared framework size is not as important as application size. It's also quite likely we'll grow the shared framework size for .NET 5.

[2019-06-06 11:57] VGib commented on #38302
I think you didn't understand what i mean. I said foreach with array (and IList)  should not use enumerator, but for loop.

I know that array are IList and can be used with for loop.

This is an optimization.

I reopen the issue, until you tell me that foreach behave like this.

[2019-06-06 12:11] svick commented on #38302
It sounds like you want to change the language, the right repo for that is dotnet/csharplang, maybe someone can move this issue there?

Also, there is already a very similar issue there: https://github.com/dotnet/csharplang/issues/1424. But note that that feature very likely wouldn't apply to `IList<T>`, because that would be a breaking change, and it has also been rejected.

[2019-06-06 12:26] VGib commented on #38302
Yes that's right.

But, I don't want to change the langage, only CLR implementation.

If there is a foreach with a IList, do as it is a for loop. (The langage syntax should be the same, only the compiler should be aware of it).
Howerver I don't master the drawbacks.

Can some one confirm me, that this is not a breaking change ?

[2019-06-06 12:34] Wraith2 commented on #38302
It would be a language change. It would be a breaking change.

[2019-06-06 12:56] adrianoc-unity3d commented on #37892
@ericstj why does this work for *non virtual methods* ?

I've added a ```Foo()``` in class ```B``` (above) and recompiled both assemblies and verified that
the call (in **C**) was emitted as:

```IL_0008: callvirt instance int32 [SomeLib]B::Foo()```

Then I moved ```Foo()``` to ```A``` and recompiled only classes **A** & **B** and I expected it to fail but it works and peverify also does not compl

[2019-06-06 13:26] jkotas commented on #37892
Right. It is how it is speced in [ECMA-335](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-334.pdf). Look for: This implements “call base class” behavior.

[2019-06-06 13:27] vcsjones commented on #38295
This makes me think that the file being used in `path` is not a pkcs12 file. It appears that you are running this code on Linux. From a linux command line, can you do something like:

[code]

If openssl successfully prints out something like, then the p12 file is probably fine:

[code]

If openssl fails, then there is an issue with the file you are trying to load, either it is corrupt or it is not

[2019-06-06 13:29] #32021 closed

[2019-06-06 13:34] ericstj commented on #37892
I believe so.  @carolEidt or @bruceforstall might be able to elaborate on JIT behavior.  Here’s what the spec says:

[Rationale: This implements “call base class” behavior. end rationale]

[2019-06-06 14:06] MarcoRossignoli commented on #38294
Signature on master is
[code]
I get a different error
[code]
Seems related to evaluation order on value write [`finishedSerializing`](https://github.com/dotnet/corefx/blob/7626863d5a48f771513f7d22977189aab14dcd0b/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs#L56) is evaluated too late and serialization go on.
I'm working on a solution.

[2019-06-06 14:10] davidsh commented on #38295
@bartonjs

[2019-06-06 14:48] KSchlobohm commented on #38268
The exception I'm encountering does happen during serialization with the BinaryFormatter from the CAB's FileStatePersistenceService. However, the dependency is more pervasive in the project than just serialization.

CAB uses NameObjectCollectionBase as a base class to implement objects like the StateElement and State classes. The StateElement provides a dictionary of information which provides not

[2019-06-06 14:50] CarolEidt commented on #37892
The JIT isn't really involved in looking up the methods. It always asks the VM to provide it with the call info, given the metadata for the call. The behavior described by @jkotas and @ericst describe is correct. Note, though that this is the right link for the CLI spec: http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf.

[2019-06-06 15:26] r-ramesh commented on #38130
@danmosemsft
You can make the changes here (you can do it in the web UI itself) and create a PR against the same branch:
https://devdiv.visualstudio.com/DevDiv/_git/VS?path=%2Fsrc%2Fcsharp%2Fautoexp%2Fautoexp.cs&version=GBteam%2Fdebugger%2Fd16.2stg

[2019-06-06 15:30] bartonjs commented on #38050
We're already doing that (it was the change that moved the decimal point).

[2019-06-06 16:05] davidfowl commented on #38292
Yes it's reasonable for 3.0

[2019-06-06 16:07] ericstj commented on #38130
@weltkante see https://github.com/dotnet/corefx/issues/38130#issuecomment-499160228.  I confirmed the behavior described by @r-ramesh in the debugger after changing System.Drawing.Common so we do require changes to VS to fix this.

[2019-06-06 16:08] davidfowl commented on #34277
I'm going to close this, I don't think we need to expose the local queues (as it's pretty much an implementation detail anyways).

[2019-06-06 16:08] #34277 closed

[2019-06-06 16:13] tarekgh commented on #37691
@wangzhaoguan thanks for sending the stack. I posted on the PR a couple of questions regarding your targeting version. does you app can target 3.0?

[2019-06-06 16:33] wfurt commented on #38033
Good question. This should work:
[code]
I think the behavior comes from Windows where single quote is not uses.  Since there is no variable expansion `'` and `"` are basically same.

Better yet, you could use ArgumentList:
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.argumentlist?view=netcore-2.1#System_Diagnostics_ProcessStartInfo_ArgumentList

That would take o

[2019-06-06 16:40] DustinCampbell opened #38311 "ReflectPropertyDescriptor no longer works for non-public properties"
On .NET Framework, ReflectPropertyDescriptor will find property accessors, and "Reset" and "ShouldSerialize" methods, even if they're not declared publicly. Component and control designers in the WinForms designer typically take advantage of this by declaring design-time properties as private. In addition, the WinForms designer also exposes existing non-public properties as public for the purpose

[2019-06-06 16:45] bartonjs commented on #38260
That would be a bit weird, since CspParameters lets all of its properties be rewritten.  It shouldn't really have any methods on instances, just be used as the input to other methods.

Windows has deprecated it (e.g. the banner at https://docs.microsoft.com/en-us/windows/desktop/api/wincrypt/nf-wincrypt-cryptacquirecontexta).  In .NET we have a harder time marking something as deprecated, though w

[2019-06-06 18:02] corranrogue9 opened #38315 "Image.FromStream can throw undocumented exceptions"
The [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.image.fromstream?view=netcore-2.2) for ```Image.FromStream``` indicates that an ArgumentException can be thrown if the provided image is not of a supported format. However, on Windows, it can also throw InvalidOperationException, ExternalException, FileNotFoundException, etc. as per the [StatusException](https://github.

[2019-06-06 18:31] Dargazo opened #38316 ".NET Core 2.2.5 Release notes and download links result in 404"
For .NET Core release 2.2.5 (https://github.com/dotnet/core/releases/tag/v2.2.5 ) the "Release Notes" link points to:
https://github.com/dotnet/core/blob/master/release-notes/1.1/2.2.5/2.2.5.md (which 404s)
this should be (I'm assuming):
https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.5/2.2.5.md

Similarly, the "Download and Install" link points to:
https://github.com/dotnet/core/

[2019-06-06 18:33] sgf commented on #27033
request too,
like C Bit Fields https://docs.microsoft.com/en-us/cpp/c-language/c-bit-fields?view=vs-2019
this is a very useful.
im parse the IP or TCP Header. thats many Bit-Filed in there.
but its hard use C# define that now.
One Way is use shifting operation in Property getter setter.
But the code is hard to read.
but If c# have this feature, then it will become simple.

[2019-06-06 18:42] marklio commented on #38199
Marking reliability as we've seen unexpected cancellation behaviors lead to reliability issues.

[2019-06-06 18:51] stephentoub commented on #38199
This is different than the ones you've seen though, Mark, no?  This case is promptly responding to a cancellation request, and an OperationCanceledException is being thrown, it's just a question of whether that exception is wrapped in something else or not.

That said, I don't really care what labels are used.  If there's value to you in it being tagged as reliability, ok :)

[2019-06-06 19:00] marklio commented on #38199
I definitely agree. I wanted to mark this because it is "related" to the class of issues we've seen. Like exception handling in general, we see that code dealing with cancellation has poor test coverage across the ecosystem, and because it is "stress-like" in its difficultly to achieve meaningfully good coveragein unit tests (you need to cancel at every possible code location with a unique behavio

[2019-06-06 19:04] ahsonkhan commented on #38294
For reference, here's the whole stack:
[code]

[2019-06-06 19:08] stephentoub commented on #38199
Ok :)

[2019-06-06 19:12] MarcoRossignoli commented on #38294
@ahsonkhan fixed in #38308

[2019-06-06 19:47] FailedShack commented on #38260
I see. Well, then they both could be static as per your initial suggestion:
[code]

By "inaccessible", I don't mean as in the case in which it doesn't exist, which is already covered in the documentation as throwing a CryptographicException, but rather the case where it's thrown due to `NTE_BAD_KEY_STATE`, which is currently undocumented. So in that sense, it would not be changing but rather addin

[2019-06-06 20:10] danmosemsft commented on #38316
@leecow ?

[2019-06-06 20:12] danmosemsft commented on #38315
@corranrogue9 is this the same in .NET Framework?

I'm wondering whether we should just document this. (would move to https://github.com/dotnet/dotnet-api-docs)

[2019-06-06 20:13] PiotrKowalski93 commented on #36416
Great, I wanted to debug the code but I hit the wall. Build went great. I wanted to see how the code is working in System.Collections.Immutable so I created .sln with simple console app in which I create ImmutableList<int> and iterate through it.

Separately when I open solution System.Collections.Immutable.sln i can build code etc. but when I add System.Collections.Immutable.csproj to my "testing

[2019-06-06 20:17] leecow commented on #38316
Sorry about that ... fixed.

[2019-06-06 20:17] #38316 closed

[2019-06-06 20:19] terrajobst commented on #38109
@dotnet/fxdc

Alright this looks good to me, unless someone objects, I'll approve this by EOD.

[2019-06-06 20:24] danmosemsft commented on #38302
@vgib I agree this should go in the csharplang repo. Can you please move there ? Thanks for opening it.

[2019-06-06 20:24] #38302 closed

[2019-06-06 20:25] lmolkova commented on #38292
Thanks for the feedback everyone, closing this.

[2019-06-06 20:25] #38292 closed

[2019-06-06 20:38] danmosemsft commented on #38303
We have a long history of dealing with corrupt ping output on OSX that @wfurt is familar with I think.

Incidentally it might be good if these ping exceptions consistently included the inner exception. Some don't (like this one)
[code]
https://github.com/dotnet/corefx/issues/28390 is another example.

[2019-06-06 20:38] Dargazo commented on #38316
It works now, thank you!

[2019-06-06 20:50] martincostello commented on #37078
For me, it's as simple as cloning the repo and running `dotnet test` 😕

[code]

[2019-06-06 21:04] wfurt commented on #30197
This should now work with 3.0 Preview or daily builds.

Note, that what we get is basic ability to create Socket with AddressFamily.Packet. If somebody wants to do anything fancy like setting BPF filter, you will need to get socket.Handle and pinvoke functions from libc or libpcap. By default, you will get all packets from all interfaces and that may or may not be what you want.
I added simple exa

[2019-06-06 21:04] #30197 closed

[2019-06-06 21:07] wfurt commented on #25115
#30197 is resolved. This should work now with 3.0

[2019-06-06 21:13] corranrogue9 commented on #38315
Yes, the same in .NET framework as well. I think there are two parts here: the documentation reflecting reality, and that some ExternalException cases make it difficult to differentiate whether the callee or the caller has caused the error.

[2019-06-06 21:14] wfurt commented on #38303
There are two issues I'm aware of:
-1 DNS in CI is unstable we get occasional failures
-2 In some OSX version ping6 was crashing

[2019-06-06 21:26] MarcoRossignoli commented on #37078
no issue with nightly https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.zip
[code]

[2019-06-06 21:26] bartonjs commented on #38109
Assuming that
[code]

actually meant

[code]

(moving typeName to last, like in the PR)

LGTM.

[2019-06-06 21:52] ahsonkhan commented on #37335
Closing as not worth fixing.

[2019-06-06 21:52] #37335 closed

[2019-06-06 21:55] ahsonkhan commented on #36125
@WinCPP, sound good to me. Assigning to you. Thanks.

[2019-06-06 22:02] jariq commented on #22437
I should probably also mention that I'm aware of limitations that accompany proposed solution in managed2native scenarios. It would most likely not be possible to use such `X509Certificate2` for creation of SSL connections and for other operations that are handled by platform native crypto libraries (Schannel, OpenSSL, etc.) because AFAIK these native libraries cannot call back to managed implemen

[2019-06-06 22:09] ericstj commented on #38109
Thanks, fixed the issue body. 🤕

[2019-06-06 22:13] #38311 closed

[2019-06-06 22:16] #34151 closed

[2019-06-06 22:18] JeremyKuhne commented on #35993
API is merged in.

[2019-06-06 22:18] #35993 closed

[2019-06-06 22:27] bartonjs commented on #22437
I am of two minds.  On the one hand, I agree that it feels like a viable thing, and is probably a thing that I would want if I were Oren.

But based off of the questions that I get internally via email, internally via hallway conversations, via GitHub, and see on StackOverflow, I'm hesitant to make more cases where X509Certificate2.HasPrivateKey is true, and SslStream (and its transitive closure,

[2019-06-06 22:31] Anipik commented on #36168
@steveharter the exception message will change here after your converter change goes in ?

[2019-06-06 22:55] ahsonkhan commented on #33291
I haven't gotten a chance to look again. Moving to future for now.

[2019-06-06 22:56] Anipik commented on #37545
@MarcoRossignoli are you working on it ?

[2019-06-06 23:40] maryamariyan commented on #37580
Here's more info on API review process:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2019-06-06 23:42] maryamariyan commented on #37517
cc: @vivmishra

[2019-06-06 23:57] davidsh commented on #37183
I am working on a PR to revert some of those changes in .NET Core 3.0 branch (master).  This will allow SqlClient OOB to work on either .NET Core 2.x or .NET Core 3.x runtimes.

[2019-06-07 00:28] davidsh commented on #25205
We discussed this in an offline email thread.  The new plan is that for we will fix System.Net.Security.Native.* shims so that they remain compatible across either .NET Core 2.x or .NET Core 3.x runtimes.  So, System.Data.SqlClient and Microsoft.Data.SqlClient can keep the existing dependency.

Long term (.NET 5), we plan to address this in #36896 with a public API in .NET Core that will expose Ke

[2019-06-07 01:33] kofifus commented on #33115
SignalR has now moved to use System.Text.Json for sending types and my code does not run anymore :(

It seems that System.Text.Json demands a parameterless constructor where Json.Net did not

Here is a very simple sample:

[code]
the last line raises:

If I add a parameterless constructor the exception is not raised however in many of my classes I don't want a parameterless constructor and everyth

[2019-06-07 01:51] tarekgh commented on #38279
Looks everyone agreeing we should move the library to the shared framework.

[2019-06-07 02:51] stephentoub commented on #38094
Fixed by https://github.com/dotnet/corefx/pull/38325

[2019-06-07 02:51] #38094 closed

[2019-06-07 02:58] #38252 closed

[2019-06-07 03:03] eanova commented on #37260
Is there an effective way to debug a local build of System.Drawing.Common.   I've tried the method described in the dogfooding article but Nuget can't seem to find the nupkg.  Or is there away to see the debug output within the xUnit console?

[2019-06-07 03:14] stephentoub commented on #38156
Failed again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38304~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190606.9/workItem/System.IO.Pipelines.Tests/analysis/xunit/System.IO.Pipelines.Tests.ReadAsyncCancellationTests~2FFlushAsyncCancellationDeadlock
(This one's actually FlushAsyncCancellationTests.)

And here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdot

[2019-06-07 05:49] davidfowl commented on #38294
FYI the hang exists in preview6 then?

[2019-06-07 05:57] JamesNK commented on #38293
1. git clone https://github.com/JamesNK/grpc-dotnet.git
2. git checkout jamesnk/httpclient-nre
3. grpc-dotnet\testassets\InteropTestsWebsite -> dotnet run
4. grpc-dotnet\testassets\InteropTestsClient -> dotnet run --use_tls false --serv
er_port 50052 --client_type httpclient --test_case timeout_on_sleeping_server

[2019-06-07 06:29] #38297 closed

[2019-06-07 06:35] ygoe commented on #38033
Good info, I didn't know that `ArgumentList` existed. Seems to be new. But not explained much. I've created an [issue about that](https://github.com/MicrosoftDocs/feedback/issues/1601).

[2019-06-07 07:04] antonioortizpola commented on #37044
Ok, I have the example!!! @wfurt, @karelz, I will make a readme, but the results are clear.

I created two projects, one with core 3 and one with core 2.1, It should be virtualy the same code, but after some stress tests, the version with core does not release the ports:

[code]

While the 2.1 it does

[code]

It is a little late now, but tomorrow I can upload the project and give you access so yo

[2019-06-07 07:12] agilmore30 commented on #23542
Hi

First, thanks for porting OleDb over to .NET. It's very important for bulk load type applications.

As soon as this is available, I'll be testing for both SQL Server and IBM DB2 iSeries.

I have a .NET Core 3.0 ETL type application that accesses an IBM iSeries DB2 data source via ODBC currently. The ODBC data source is very slow. There are reports that the Microsoft DB2 OleDb driver is twice a

[2019-06-07 07:27] jaiminsoni2017 commented on #29461
@bartonjs,
We are facing this issue : **Unknown encryption algorithm System.Security.Cryptography.RSACng**
Code :

Is there any update for this open ticket in .net core 2.2 version? or is it still open.

[2019-06-07 07:38] danmosemsft commented on #23542
Thanks @agilmore30. The preview should be our in about a week I expect

[2019-06-07 07:42] antonioortizpola commented on #37044
Ok, I have the repo, I invited @karelz and @wfurt, I hope this can help with something, please let me know if I can help with something else.

[2019-06-07 07:45] Wraith2 commented on #36416
the build system relies on a lot of complex logic so you won't be able to easily get a project that needs it to compile without it. I'd suggest you take the code logic from the collections you want to debug and add that code directly to your project then debug it that way.

[2019-06-07 07:47] wfurt commented on #37044
thanks @antonioortizpola, I will take a look. Are you suggesting 3.0 fixes the problem?

[2019-06-07 07:49] antonioortizpola commented on #37044
@wfurt nooo, the problem did not happen in core 2.1, but it is happening in 2.2 and 3, and you are welcome, again, if I can help in something else just let me know

[2019-06-07 08:02] karelz commented on #37044
This is AWESOME! Thanks a lot @antonioortizpola, fingers crossed that we will be now able to quickly root-cause it and fix it in 3.0/2.1! 🙏

[2019-06-07 08:33] MarcoRossignoli commented on #37545
I worked on some of these here https://github.com/dotnet/corefx/pull/38061
I fuond other non covered cases with this https://github.com/dotnet/corefx/issues/37188#issuecomment-495267071

[2019-06-07 08:47] PiotrKowalski93 commented on #36416
@Wraith2 Thank you, fair point, I will do that

[2019-06-07 09:11] tomkerkhove opened #38329 "Console logs timestamps in local timezone instead of UTC"
When configuring the Console logger to output timestamps as following:
[code]

The generated logged message uses my local timezone rather than UTC without an option to change this.

Would be good to be able to influence this and use UTC by default.

[2019-06-07 10:53] #38199 closed

[2019-06-07 11:04] ViktorHofer opened #38332 "OSX tests might not run in CI"
The SendToHelix step only takes ~5min and MC doesn't show tests run on that platform.

cc @stephentoub @safern @ericstj

[2019-06-07 11:05] ViktorHofer commented on #38332
Example: https://dnceng.visualstudio.com/public/_build/results?buildId=214735

[2019-06-07 11:06] ViktorHofer commented on #38332
Of course I could be wrong here but we should make sure that they indeed run.

[2019-06-07 11:07] safern commented on #38332
In the example you pointed out there is a test failure in OSX: https://dnceng.visualstudio.com/public/_build/results?buildId=214735&view=ms.vss-test-web.build-test-results-tab&runId=5263996&resultId=347262&paneView=debug

Could it have been timing or that MC errored when fetching the results?

[2019-06-07 11:08] safern commented on #38332
We could send a PR changing the HelixCommand when in OSX to something that would fail and see if everything is marked as failed?

[2019-06-07 11:11] safern commented on #38332
This other one also has results for OSX... https://dnceng.visualstudio.com/public/_build/results?buildId=215950&view=ms.vss-test-web.build-test-results-tab&runId=5296666&paneView=debug&resultId=130099

The example you provided has 2 attempts, could’ve been that MC got confused for the multiple attempts? I opened an issue that was closed by design a couple of days ago suggesting this behavior.

[2019-06-07 11:13] ViktorHofer commented on #38332
I don't think this has to anything to do with helix. Usually in every PR tests only run for five minutes. I suggest we should take a look at the infra logs to check if the test execution is triggered correctly. I hope I'm mistaken here.

[2019-06-07 11:15] ViktorHofer commented on #38332
OK I believe I'm just super paranoid. Infra logs show that tests are invoked correctly. Closing.

[2019-06-07 11:15] #38332 closed

[2019-06-07 11:16] safern commented on #38332
That’s is what I’m trying to check by suggesting to send a PR with a WorkItemCommand instead of calling RunTests.sh — call something that fails like a non-existent .sh script. That will prove if they’re are running.

[2019-06-07 12:13] yahorsi opened #38334 "Api Proposal: Enumerable.Type extension"
Hi Guys!

Imagine we have a ```IEnumerable<T>``` where T is a bit ugly to declare explititly. Like big tuple full of names and types. And we need to iterate over that enumerable using cycle where we have to explicitly declare variable type of T. That EXPLICIT DECLARATION will look ugly and actually hard to declare/maintain.

If we could have an extension for the IEnumerable that returns just defau

[2019-06-07 12:14] VGib commented on #38302
done [here](https://github.com/dotnet/csharplang/issues/2586)

[2019-06-07 13:20] #30643 closed

[2019-06-07 13:51] svick commented on #38334
I don't think such method should be part of .Net. If you have an ugly type name, then you should fix that, probably by using a custom type, the framework should not encourage you to keep using it.

Also, how is this specific to `IEnumerable<T>`? Wouldn't you have the same issue in other situations too?

[2019-06-07 14:02] vcsjones commented on #38334
Hm, I see the point of it. But, given how easy it is to add to your own projects with 2 LOC exlcuding braces:

[code]

And that it is somewhat specialized, by which I mean I am not sure a large percentage of developers would use it, I'm not convinced it should be in-the-box so many of the reasons @svick said.

[2019-06-07 14:13] yahorsi commented on #38334
You are guys right that it would be good to have such a thing in the compiler, but we don't have it and not sure will get at all. The reason it make sence now is after Tuple introduction. As, once we have tuples we could start using them all over the place and they could get really big e.g. imagine we use tuples to access database. Like the tool generates tuples instead of POCO classes and it make

[2019-06-07 14:21] svick commented on #38334
@yahorsi

I don't understand what you're saying; what thing?

That doesn't mean you should use them everywhere or that .Net should include methods that make using them that way easier.

Yes, but I don't think this actually is common functionality.

[2019-06-07 14:41] yahorsi commented on #38334
I mean that C# as a language and compiler could potentially solve this issue better. Like imagine

[code]

Tuples are in the language now and people will start use them a lot coz they are in many cases way more convinient than POCO. I do not see why we can't make ourself life easier.

I still thing we need something to avoid explicit type declaration when possible.

[2019-06-07 14:52] TRegan3 commented on #23686
@myloveCc thank you for posting your RSAKeyExtentions class.  I have a question.

I'm using .Net Core 2.2 and the NETCore.Encrypt 2.0.7 nuget package.  When I try to compile your code I get a compile-time error "RSAParametersJson' is inaccessible due to is protection level." The workaround is obvious--use the xml methods instead--but if you have any suggestion for what I am missing to get this to

[2019-06-07 14:59] stevenruizhang commented on #38297
The preview option is under Environment → Preview Features:
works well

[2019-06-07 15:08] fawdlstty opened #39324 "redirect process failed"
# Issue Title

redirect process failed

# General

.net core 2.1
os version: centos 7.5
build env: win10 x64 (cross compile, linux-x64 independent)

my program is a single http server, powered by HttpListener, it run well a long time. I have try to add a function that it Git updates and restarts when a special HTTP response is received. code like this:

[code]

and the code run success for my win1

[2019-06-07 15:24] AbhiAgarwal192 opened #38342 "Unable to run System.Text.Encodings.Web.Tests locally"
When I try to run the test case project System.Text.Encodings.Web.Tests locally, i get an error message saying missing microsoft.net.test.sdk.

Also three other sdks are missing like microsoft.sourcelink.vsts.git, microsoft.net.compilers.toolset and microsoft.sourcelink.github

[2019-06-07 15:38] bartonjs commented on #29461
@jaiminsoni2017 There's no type in .NET called `X509Certificate2Signature`, it must come from some library built on top of us.  You'll have to work with whoever provides it.

[2019-06-07 15:44] vivmishra commented on #37517
As this is in CoreFX, we can set the milestone to Future as CoreFX is not in scope for loc in 3.0.

[2019-06-07 16:04] vcsjones commented on #38342
Can you explain how you ran the tests (Command line, Visual Studio, etc)? I was able to run the tests properly through the command line.

Are you able to run other test projects successfully?

![image](https://user-images.githubusercontent.com/361677/59117560-0b1c3b80-891c-11e9-8c27-b317c0a84e39.png)

[2019-06-07 16:06] #35513 closed

[2019-06-07 16:10] ericstj commented on #30714
I had a chat with @jbevain about this.  Since we haven't seen a new failure here since January and we cannot imagine anything that might have caused this due to the way that the linker loads metadata, we're going to close as no-repro.  One can imagine that this could have been caused by a GC hole that hosed the Collection, thus version is garbage, or various other runtime / environment issues that

[2019-06-07 16:10] #30714 closed

[2019-06-07 16:13] Clockwork-Muse commented on #38334
.... You can just [use `var` though](https://dotnetfiddle.net/fCHrKT)?

[code]
...and in most other cases where you'd want the type, you're using generics?

So what's your actual use case here?

[2019-06-07 16:35] gfoidl commented on #38329
@tomkerkhove can you move this issue to https://github.com/aspnet/Extensions as it belongs to there?

(Close this one, open a new one over there and put the link to the new one here).

[2019-06-07 16:38] AbhiAgarwal192 commented on #38342
Hi @vcsjones , I was trying to run through visual studio test explorer. Though i was able to run the test cases through command line.

[2019-06-07 16:39] tarekgh commented on #38342
@AbhiAgarwal192 did you build the repo before trying to run the tests? I mean from the command prompt, run build.cmd first.

[2019-06-07 16:40] AbhiAgarwal192 commented on #38342
Yes i did that.

[2019-06-07 16:41] vcsjones commented on #38342
Does it work in Visual Studio now that you've got it running from the command line once? Which version of Visual Studio are you using?

[2019-06-07 16:49] MarcoRossignoli commented on #37078
@ahsonkhan can we close for now?In case we'll reopen.

[2019-06-07 16:52] AbhiAgarwal192 commented on #38342
visual studio 2019 with the latest build. And even after the test cases passed from command line, i was unable to run it from visual studio.

[2019-06-07 16:55] tarekgh commented on #38342
I'll try that and will get back to you. Thanks.

[2019-06-07 16:57] tarekgh commented on #38279
@jkotas @stephentoub any concern regarding moving this library to the shared framework?

[2019-06-07 16:59] danmosemsft commented on #38329
I moved to https://github.com/aspnet/Extensions/issues/1808

[2019-06-07 16:59] #38329 closed

[2019-06-07 17:01] jkotas commented on #38279
I am fine with it.

[2019-06-07 17:02] stephentoub commented on #38279
Seems ok.

[2019-06-07 17:08] tarekgh commented on #38279
thanks all. I'll go ahead with the implementation.

[2019-06-07 17:51] tomkerkhove commented on #38329
Sorry for that @gfoidl 	and thanks @danmosemsft 	!

[2019-06-07 18:07] tarekgh commented on #38342
I just tried it and worked fine. even the debug logs I got didn't have any reference to microsoft.net.test.sdk.

did you load the solution https://github.com/dotnet/corefx/blob/master/src/System.Text.Encodings.Web/System.Text.Encodings.Web.sln first and then press F5 to run?

[2019-06-07 18:10] krwq commented on #38342
One other thing is to make sure to right click on the test project in solution explorer and "Set as startup project" and that you have previously did full build of corefx (presumably you did since tests run from the command line)

[2019-06-07 18:12] tarekgh commented on #38342
@krwq this is the default settings in the solution.

[2019-06-07 18:17] vcsjones opened #38346 "Revisit AES-GCM on macOS"
Right now macOS has quasi-support for AES-GCM. It's there, but you need a modern version of OpenSsl to use it, which isn't there by default and users need to install via homebrew, or software projects need to package it themselves.

There are two new-ish options on the table.

1. Apple's upcoming `CryptoKit` has support for AES-GCM (in fact, as of writing, GCM is the only thing it supports). This

[2019-06-07 18:25] danmosemsft commented on #38130
@r-ramesh done https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/185456?_a=overview

[2019-06-07 18:29] vcsjones commented on #38346
/cc @GrabYourPitchforks too.

[2019-06-07 19:01] alexkeh commented on #37599
I uploaded the test case to the MS Support case this morning. You can use to reproduce the issue and perform further diagnostics.

[2019-06-07 19:09] Wraith2 commented on #28001
I just hit this when trying to avoid string allocations in SqlClient. Every time you ExecuteReader() it'll allocate strings for the metadata column names and I can't avoid it because I can't use a CompareInfo.

[2019-06-07 19:12] steveharter commented on #37787
Yes the plan is to support polymorphic opt-in behavior on serialization only. Likely enabled through an option on `JsonSerializerOptions`.

The [custom converter feature](https://github.com/dotnet/corefx/issues/36639) will enable polymorphic deserialization but in a one-off manner.

[2019-06-07 19:17] steveharter commented on #37613
Closing this as duplicate of https://github.com/dotnet/corefx/issues/37787.

In summary, the 3.0 release depends on static typing by default for secure-by-default scenarios. This is somewhat loosened for properties of type `object` where we do call `GetType` on serialization. In addition for 3.0 we plan to have an opt-in model for polymorphic serialization, and the custom converter feature will en

[2019-06-07 19:17] #37613 closed

[2019-06-07 19:25] ViktorHofer commented on #28001
This shouldn't be too hard to implement. The apis are already approved. I gave it a try once but had to stop because of other prios.

[2019-06-07 19:25] ViktorHofer commented on #28001
If you feel strongly about it you could give it a try.

@tarekgh @danmosemsft what do you think. Is it already too late for this or is there still some time?

[2019-06-07 19:33] ahsonkhan commented on #38294
No, preview6 fails with the error shown above (not a hang). Just verified on the corefx release branch.

I don't know where you are getting the hang from. Can you share the `dotnet.exe --info` output and your sample repro (is it targeting 3.0?)?

[2019-06-07 19:35] #36197 closed

[2019-06-07 19:58] tschultz1216 commented on #30040
Hello is there any update on this issue @DanBovenzi pointed out that he was only receiving this failure when passing the http message through a hybrid proxy. I am experiencing the exact same behavior when utilizing IBM Cloud Secure Gateway which is the functional equivalent of Azure Hybrid Connection. The source code always succeeds with a direct invocation of the API but when running through the

[2019-06-07 20:04] terrajobst opened #38348 "Ensure JSON serializer can handle common F# types"
We should make sure that the JSON serializer can handle types / structures that commonly occur in F#, such as

* Discriminated unions
* Option types

/cc @steveharter @ahsonkhan

[2019-06-07 20:05] danmosemsft commented on #28001
Generally I'd like community work to be able to continue but this is code is fiddly and perf sensitive so I'd be inclined to suggest it wait until master becomes 5.0. No reason not to work on a PR though, we'd very much welcome that and we can certainly look at it.

[2019-06-07 20:05] danmosemsft commented on #28001
I would certainly love to see this happen.

[2019-06-07 20:09] cartermp commented on #38348
Should be:

* Discriminated Unions
* Record types
* Anonymous Record types (should be identical but we emit some slight special names)

[2019-06-07 20:10] #37516 closed

[2019-06-07 20:25] ahsonkhan commented on #38348
This requires careful design to make sure it is handled correctly to meet consumer expectations. We should flesh out the requirements of what the behavior should be, especially for cases like round-tripping, etc.

[2019-06-07 20:29] danmosemsft commented on #32539
Thanks @ericstj

[2019-06-07 20:31] ahsonkhan opened #38349 "The netstandard S.T.Json library should depend on Microsoft.Bcl.AsyncInterfaces to keep the surface area identical across platforms"
We should add a conditional dependency on the compat package which would let us get rid of the manual ref file.

https://github.com/dotnet/corefx/blob/de1da50fc5f972348aba2fa40ff14e1cbadb13de/src/System.Text.Json/ref/System.Text.Json.Manual.cs#L10

cc @joperezr

[2019-06-07 20:39] ViktorHofer commented on #34338
uapaot isn't a concern here anymore. uap will continue to use our custom runner.

[2019-06-07 20:39] ViktorHofer commented on #34886
Status: dotnet test 3.x soon supports coverlet inbox which would help a lot here. Maybe we should give https://github.com/dotnet/corefx/issues/34338 another try.

[2019-06-07 20:43] sdmaclea commented on #18718
The tests are still disabled in corefx

[2019-06-07 20:55] MarcoRossignoli commented on #34886
@ViktorHofer we have also a nightly build https://www.myget.org/feed/coverlet-dev/package/nuget/coverlet.collector
Could be interesting if "sometimes" we can "propose" in some way(throught a PR on some deps config) a usage of particular nightly version to catch issue asap, I mean corefx repo has got a lot of users and if we introduce some bug it's  highly probable that someone here hit issue immed

[2019-06-07 21:00] ViktorHofer commented on #18718
@sdmaclea which tests are still disabled? I look at a few above and they are running.

[2019-06-07 21:05] sdmaclea commented on #18718
I misread it in part I guess.

[code]
[code]

Only disabled for UAP.  Maybe the disable reason is wrong???

[2019-06-07 21:09] sdmaclea commented on #18718
Maybe it should be
[code]

I am in that file making a change, I looked at this issue to figure out why the test was disabled...

[2019-06-07 21:10] scalablecory commented on #35528
I've implemented this to both constrain the encoded string and the decoded string. Waiting for #38324 to get merged before PRing.

[2019-06-07 21:12] stephentoub commented on #35528
Nice.

[2019-06-07 21:13] ViktorHofer commented on #18718
We are not that concerned about Uap. You can leave it as it is, we mostly care about .NET Core test coverage here.

[2019-06-07 21:13] sdmaclea commented on #18718
`ActiveIssue` on a closed issue is just wrong. I am in the file changing those tests anyway.

[2019-06-07 21:24] ViktorHofer commented on #18718
whatever you prefer.

[2019-06-07 21:38] #35103 closed

[2019-06-07 22:06] tarekgh commented on #28001
@Wraith2 which API you want to use? I am asking to know if we can provide this API now and provide the rest later.

[2019-06-07 22:08] stephentoub opened #38353 "WriteInt16_StructWithReferenceTypes_ReturnsExpected test failed in CI"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38347~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190607.42/workItem/System.Runtime.InteropServices.Tests/analysis/xunit/System.Runtime.InteropServices.Tests.Int16Tests~2FWriteInt16_StructWithReferenceTypes_ReturnsExpected
[code]
cc: @AaronRobinsonMSFT

[2019-06-07 22:14] xifedi7 commented on #24555
Hi I'm a new to this. Working with an API where I get now data but with a for my unclear time stamp (format) e.g.: "636926976000000000" & "636927840000000000"
The time difference is 24h ,I verified that.
How can I this converted to a date/time that make any sense ?

[2019-06-07 22:21] tarekgh commented on #24555
do the following:

[code]

This will print it as:

[code]

[2019-06-07 22:22] ahsonkhan opened #38354 "Should JsonSerializer.ToString output minimally escaped JSON by default?"
We have the following JsonSerializer "write/serialize" APIs:
[code]

All these APIs (along with the `Utf8JsonWriter`), currently follow the escaping behavior of `JavascriptEncoder.Default`:
https://github.com/dotnet/corefx/blob/c63e5ebecc5449a360b6293ecdbf151bfd11a1a6/src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/JavaScriptEncoder.cs#L52-L79

Should the `ToString()` overloads escape

[2019-06-07 22:23] davidhunter22 opened #38355 ".NET Core 3 and WPF library"
I just tried some existing WPF code using .NET Core 3.0 preview 5 and VS 16.2 Preview 1. I read the porting guide for WPF and it seems to only talk about apps not libraries. The main changes seem to be
[code]
When I try
[code]
I get unresolved references for all the WPF related stuff. I did try WinLibrary but that is rejected. Does this only work for applications at present?

[2019-06-07 22:26] Wraith2 commented on #28001
'GetHashCode(ROS<char>)' which is under https://github.com/dotnet/corefx/issues/31942 and from this pproposal 'Compare(ROS<char>,ROS<char>,CompareInfo)'. With those I can have a char[] source wrapped in a struct that I can use as a dictionary key in the ordinal case and then fall back to the Compare if the ordinal lookup fails and I need to compare cased on the collation reported by the database.

[2019-06-07 22:43] tarekgh commented on #28001
@Wraith2 for GetHashCode(ROS<char>) you can today call the following so you don't have to wait to get the one from StringComparer

[code]

For the Compare(...) one, does your scenario need to pass different CompareOptions? or you always call with same options?

[2019-06-07 23:04] liu123456789 commented on #38295
@vcsjones
<img width="932" alt="1559948529(1)" src="https://user-images.githubusercontent.com/16849931/59137691-926cbc00-89bb-11e9-9762-8c516b41da60.png">

I was wondering if the server lacked the corresponding codec package.

[2019-06-07 23:12] Wraith2 commented on #28001
The specific use case i'm looking at is [here](https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Common/src/System/Data/Common/BasicFieldNameLookup.cs#L81). It builds a dictionary using ordinal hashcodes and tries a dictionary lookup. If it fails it then does a linear OrdinalCaseInsensitive search which I can replicate. If that fails it grabs the current culture in

[2019-06-07 23:50] maryamariyan opened #38359 "Debug.Print(string) should behave the same as Debug.WriteLine(string)"
In .NET Framework, Debug.Print(string) behaves the same as with Debug.WriteLine(string) not Debug.Write(string).

.NET Core needs to do the same. (This is an easy fix, just need to call WriteLine instead of Write in Debug class)
Refer to: https://github.com/dotnet/core/issues/2843
This issue was present since the initial port to .NET Core (locally tested against netcoreapp2.1 and netcoreapp3.0).

[2019-06-08 00:18] bartonjs commented on #38346
I'm perfectly fine with the GCM code on macOS to try CryptoKit if it's on 10.15, and continuing with the OpenSSL fallback on 10.13/10.14.  (If it's kept tidy it might be a reasonable thing to backport into the release/3.x family, once it can all be written).

[2019-06-08 00:37] vcsjones commented on #38346
Ok, glad to hear! I will finish up what is on my plate already soon, and explore this next.

[2019-06-08 00:45] tarekgh commented on #28001
To ensure I am fully understanding you:

Are you saying, trying to implement your

[code]

but instead of taking string, it take ROS<char)?

Also, you are saying, if you get the CompareInfo method

[code]

You will be able to implement the whole scenario without any allocation.

Am I understanding correctly?

[2019-06-08 01:10] Wraith2 commented on #28001
Without allocating strings, yes I think so. Still working through an isolated partial implementation.

[2019-06-08 01:24] AaronRobinsonMSFT commented on #38353
@jkoritzinsky Opinions on this area? This must be a flaky test issue. I am unsure why this would be the issue though.

[2019-06-08 01:49] sdmaclea opened #38361 "AppDomainTests.AssemblyResolve() fails to test event handler."
`AppDomainTests.AssemblyResolve()` & `AppDomainTests.AssemblyResolve_RequestingAssembly()` are not correctly testing `AssemblyResolve` the event handler is not being triggered.

This is probably because the requested assembly is in the TPA list.

[2019-06-08 02:19] RussKie commented on #38130
Thank you.
Is it reasonable to expect changes that would allow us decorate types the visualiser attributes in containing assemblies, and those decoration would take precedence over those declared in VS assemblies?

[2019-06-08 03:01] rynowak commented on #36639
My feedback on this as-written at 7:45 PST 😆

- I'm not totally sold on the need to expose the built-in converters publicly or the need for a `.Converters` namespace.
- `JsonConverter.TypeToConvert` should be removed, it's not needed since we went with the `CanCreate` approach

[code]

I don't recall us talking through this. What does this enable?

[code]

I think what we have here is the best we

[2019-06-08 04:34] davidfowl commented on #38294
`.NET Core 3.0.0-preview7-27806-02`

[2019-06-08 04:34] davidfowl commented on #38294
[code]

[2019-06-08 05:03] davidfowl opened #38362 "Deprecate PipeWriter.OnReaderCompleted"
PipeWriter.OnReaderCompleted is basically impossible to implement on anything but the default `Pipe` implementation. When there's no reader on the other side consuming the data (like the StreamPipeReader), this method can't do anything but noop. It should have been put on the concrete implementation but not on the abstract class.

[2019-06-08 05:29] maryamariyan opened #38363 "JsonSerializer.Parse throws for UInt64 backed enum with value -1"
parsing
`"{ \"MyByteEnum\" : -1, \"MyUInt32Enum\" : -1 }";`
returns successfully but

`"{ \"MyByteEnum\" : -1, \"MyUInt32Enum\" : -1, \"MyUInt64Enum\" : -1 }";`
will throw

Below shows a comparison between JsonConvert.DeserializeObject and JsonSerializer.Parse for this case:

[code]

For more info, refer to @ahsonkhan 's comment here https://github.com/dotnet/corefx/pull/37895#discussion_r29179234

[2019-06-08 05:49] ahsonkhan commented on #38363
cc @steveharter, @JeremyKuhne

[2019-06-08 06:16] ahsonkhan commented on #38294
Yep, I can repro that now. Thanks! I was trying in debug-mode earlier which is why I couldn't see the failure - we have SkipValidation off on the writer in debug.
https://github.com/dotnet/corefx/blob/20ba99aaf60ba91180f304211b096e1147564a7c/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs#L298-L307

https://github.com/dotnet/corefx/pull/38308 does fix the underlyin

[2019-06-08 07:15] wangfu91 commented on #38355
@davidhunter22  For libraries, you need change the ```Sdk``` to ```Microsoft.NET.Sdk.WindowsDesktop```, and add the ```<UseWPF>true</UseWPF>``` tag.
[code]

[2019-06-08 09:20] WinCPP commented on #36125
@ahsonkhan I followed the steps given in [updating-ref-source.md](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/updating-ref-source.md) to add new `Get*` and `TryGet*` APIs to `ref` assembly. This generates a lot of changes such as adding `readonly` to some `getters` etc. apart from changing order of some existing APIs. Additionally it introduces following change and

[2019-06-08 09:54] prkhandelwal opened #38364 "Add a DateTime method to return all a list of all datetimes within a range."
Add a DateTime method to return all a list of all datetimes within a range. The method could take in start and end date, and the period for the range.

[2019-06-08 11:35] svick commented on #38364
Do I understand it correctly that what you want is basically:

[code]

To me something like that appears to be too simple and not useful often enough to be worth adding to .Net.

[2019-06-08 11:36] gfoidl commented on #38364
Aside from @svick's comment:

@prkhandelwal see [API Review Process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) for adding a formal proposal.

[2019-06-08 14:03] davidhunter22 commented on #38355
Ah can't believe I didn't see the WindowsDesktop thing. That works great thanks.

[2019-06-08 14:43] #38355 closed

[2019-06-08 15:16] ericstj commented on #38130
No.  You need to update the VS assembly.  Debugger is **not changing** precedence.

[2019-06-08 15:31] vcsjones commented on #38295
Hello, thanks for checking the file with `openssl`.

At this point it seems evident that the issue is not with .NET Core, but rather that the p12 file is not compatible with OpenSSL. Why that is could be for numerous reasons, such as the file not being a pkcs12 file at all, or it is corrupt/incompatible for one reason or another.

OpenSSL does have the notion of "engines" but unless you are expect

[2019-06-08 15:53] MarcoRossignoli commented on #38363
Found the issue if we have a negative ulong we don't fallback with any result https://github.com/dotnet/corefx/blob/c81cb6f165ae44c5885bb36ff89e4aa1cf1e504d/src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterEnum.cs#L42

Working on solution

[2019-06-08 16:07] davidfowl commented on #38294
Might be worth bubbling this up in a known issues list

[2019-06-08 16:36] vova-lantsov-dev opened #38370 "JsonSerializer does not support EOL added by some text editors"
I've had an exception with next stacktrace:
[code]

Problem was caused by a new line symbol, that is added by default by a lot of existing text editors (such as nano, vim). There are [some options](https://askubuntu.com/a/13324) how to disable EOL insertion but it'd be better to add support into the new JSON library.

[2019-06-08 17:33] Clockwork-Muse commented on #38364
Side note: @svick 's implementation may produce surprising results if `DateTimeKind` is `Local`, because it won't account for DST changes.
A mismatch in `DateTimeKind` between `start` and `end` may also produce surprising results, particularly if one of them is `Unknown`.

You would be better off using `DateTimeOffset` (or switching to NodaTime).

[2019-06-08 17:57] scalablecory commented on #38364
In addition to @svick's recommendation, I've had good results using [ncrontab](https://www.nuget.org/packages/NCrontab/) for more advanced needs.

[2019-06-08 18:27] davidfowl opened #38372 "JsonSerializer cannot serialize types that implement IDictionary<string, object>"
I was trying to serialize the event counter payload (https://github.com/dotnet/coreclr/blob/25878db0c11bfb8d52088c75ccfcc13e4c8383f2/src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/TraceLogging/EventPayload.cs#L28) which is a type that implements `IDictionary<string, object>` and it failed with:

[code]

I then tried do to this:

[code]

But it still failed.

Seems like this should wo

[2019-06-08 21:03] ahsonkhan commented on #38372
cc @layomia, @steveharter

[2019-06-08 21:12] ahsonkhan commented on #38363
Yep. See https://github.com/dotnet/corefx/pull/37895#discussion_r291792346

The question is what **should** actually happen. I don't think we should allow out-of-bounds enum values. For example: It's one thing to say any int32 value is allowed in an int32-backed enum (even if the enum itself doesn't have it), it's another to say, things that don't even fit an int32, we will still allow (by overflo

[2019-06-08 21:32] ahsonkhan commented on #38370
What is the EOL character value (in hex)? The `Utf8JsonReader` explicitly only allows whitespace according to the JSON RFC https://tools.ietf.org/html/rfc8259#section-2

[code]

I would like to know if the character at the end of the JSON file is outside that range. If so, maybe the stream overload on the serializer can special case it, but I wouldn't modify the default "allow" list on the reader

[2019-06-08 21:36] MarcoRossignoli commented on #38372
I did some check, the problem is that we cast all dictionary to [`IDictionary`](https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs#L34) I think to have access to Key,Vaulue object throught [`IDictionaryEnumerator`](https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/src/System/Text/Json/Seriali

[2019-06-08 22:44] SeeminglyScience opened #38374 "System.Drawing.Primitives structs are missing TypeConverterAttribute decorations"
Several structs in the `System.Drawing.Primitives` assembly are missing their `TypeConverterAttribute` decoration that was present in netfx. Below is a list of the structs that are missing the decoration including the converter they referenced.

|Struct|Converter|
|---|---|
|System.Drawing.Point     |System.Drawing.PointConverter|
|System.Drawing.Rectangle |System.Drawing.RectangleConverter|
|Syst

[2019-06-08 23:51] ahsonkhan commented on #36125
This is a known limitation and requires a manual change to remove (currently the DisposeAsync API surface is within the manual ref since the API surface is different between platforms).
https://github.com/dotnet/corefx/blob/e175429fc706ae9ef6ab6afd9d746937872d922e/src/System.Text.Json/ref/System.Text.Json.Manual.cs#L12
https://github.com/dotnet/corefx/issues/38349

Can you file an issue regarding

[2019-06-09 00:23] stephentoub commented on #36125
Can we fix that?

[2019-06-09 00:59] rynowak commented on #38354
The specific concern here is about the default escaping behavior. Which will escape:
- `+` (used in dates)
- non-ASCII letter characters such as Cyrillic or Chinese characters

JSON is supposed to be a human-readable format, but if you're not using another alphabet, our JSON serializer will produce non-human-readable output.

We've gotten feedback from users repeatedly about the HTML encoding beha

[2019-06-09 01:17] stephentoub commented on #38168
This failed again, but now with the extra diagnostics I added.  This is the state of the state machine while it's hung:
[code]
This state means it's stuck in the last await of the test:
https://github.com/dotnet/corefx/blob/82e49157906d6c9c1ed7013e99d50dca74e7fafc/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs#L846

[2019-06-09 01:36] stephentoub commented on #38245
This looks like a dup of https://github.com/dotnet/corefx/issues/32278, which was fixed in .NET Core 3.0 via https://github.com/dotnet/coreclr/pull/20471.

[2019-06-09 01:36] #38245 closed

[2019-06-09 01:44] Clockwork-Muse commented on #38364
@scalablecory - from the look of that library, it'll fall into (at least some of) the same issues as the earlier recommendation wrt DST.

[2019-06-09 01:55] #36954 closed

[2019-06-09 03:00] DualBrain opened #38378 "VB.NET 'End' not available and odd error message."
Start with a .NET Core 3.0 Console app and simply modify Sub Main.

Module Program
  Sub Main(args As String())
     End '<--- I added this.
  End Sub
End Module

By all appearance, Visual Studio thinks things are just fine (no squiggles).  When I build, the build fails with the following error:

"BC37234: Unstructured exception handling is not supported in current project type."

Huh?  How is 'En

[2019-06-09 03:20] wcontayon commented on #37930
The overload will need to write a new signature on these functions `Open` and `DoCreateFromDirectory` of the `System.IO.Compression.ZipFile`

[code]
It'll be the same with a little bit of difference for `ExtractToDirectory`.

@wfurt , I could try a PR for this

[2019-06-09 06:30] davidfowl commented on #35580
Is there anything to do here?

[2019-06-09 07:12] vova-lantsov-dev commented on #38370
@ahsonkhan this character is [Line feed](https://www.fileformat.info/info/unicode/char/000a/index.htm). According to info from you, it should be supported, but when this symbol presents as the last byte of the file, code is broken

[2019-06-09 07:54] ElijahReva commented on #6204
MSMQ bindings for WCF Core is really needed to make the flawless switch to the dotnet core.
The same as WF and WCF, it was used a lot in enterprise solutions. Is there any chance we could get this in 3.1?

[2019-06-09 12:51] alexalok commented on #34990
I am experiencing the same problem. I have two servers - Ubuntu 18.04 and Debian 9 and on the latter 100% of responses to the same server with the same content end up with the aforementioned exception, while there are no problems with the first one at all.

What is more interesting, I'm trying to create a minimalistic repro and if I copy/paste the relevant code with barely any changes and run in o

[2019-06-09 12:56] sw0 commented on #31895
**Got same issue:**
I am using CentOS 7 and .NET Core 2.2, using `System.Drawing.Common` package, got same error: "error: The type initializer for 'Gdip' threw an exception.".
And I tried to use `sudo yum install libgdiplus`, it looks good but I cannot find neither `libgdiplus.so`, nor `gdiplus.dll` in the folder.

BTW, it's working fine on my local Windows 10 when debugging, but does not working

[2019-06-09 13:29] adamsitnik commented on #37691
The lock has been removed in https://github.com/dotnet/coreclr/pull/24973 and the issue is now solved for good.

Tomorrow I am going to fill the servicing request to merge my backport to 2.1 https://github.com/dotnet/coreclr/pull/25042

[2019-06-09 13:29] sw0 commented on #31895
**Fixed**
I use `# find -name libgdiplus*` and find the files exists in `/usr/lib64` instead of `/usr/lib`, so I follow the instructions as mentioned above after replacing the correct folder `/usr/lib64`. It works!
Thank for the instructions here.

[2019-06-09 16:48] danmosemsft commented on #38378
This seems like it should move to the dotnet/Roslyn repo.

[2019-06-09 17:34] maxkoshevoi opened #38385 "Improve Enumerable.Single(predicate), Enumerable.First(predicate) and Enumerable.Count(predicate) Logic"
### Problem

I noticed some unexpected performance hit when using `.Single(predicate)` in comparison to `.Where(predicate).Single()`.
<details>
  <summary>Here is code used for testing</summary><p>

[code]
</p></details>

And here are test results:

BenchmarkDotNet=v0.11.5, OS=Windows 10.0.17763.503 (1809/October2018Update/Redstone5)
Intel Core i7-8550U CPU 1.80GHz (Kaby Lake R), 1 CPU, 8 logical

[2019-06-09 17:48] rfrappier commented on #23426
Needed to connect to a system where the connection needed to be whitelisted but the it could only be configured with one IP.

[2019-06-09 18:04] tarekgh commented on #37691
sorry closed this by mistake. @adamsitnik can close it though.

[2019-06-09 18:09] tarekgh commented on #29462
@sebastienros

@adamsitnik has merged just a fix which likely fix this one too. could you try it with your scenario and look if you see any improvement?

[2019-06-09 19:05] wdolek opened #38387 "Improve System.IO.StreamReader buffer allocation"
## Description

Got bitten by `System.IO.StreamReader` last week. Long story short, I found out that default `bufferSize` is set to [1024](./../blob/master/src/Common/src/CoreLib/System/IO/StreamReader.cs#L26) _and_ [new byte array](./../blob/master/src/Common/src/CoreLib/System/IO/StreamReader.cs#L169) of that size is allocated when `StreamReader` is instantiated. It is OK for small buffers, but

[2019-06-09 19:32] ahsonkhan commented on #38387
Somewhat unrelated to the main issue here, but I would be interested to see if the new `System.Text.Json` serializer would help in your use case. Have you tried that or is it not feasible?

[2019-06-09 22:04] danmosemsft commented on #38374
@Anipik

[2019-06-10 01:13] Clockwork-Muse commented on #38385
To better grasp the extent of the improvements, could you add/list the sizes of the collections, please?

[2019-06-10 01:43] stephentoub commented on #38387
Attempt at / discussion around pooling in StreamWriter (StreamReader would be similar): https://github.com/dotnet/corefx/pull/23727
Proposal for pooling-related ctors on StreamWriter/Reader: https://github.com/dotnet/corefx/issues/23874

[2019-06-10 04:59] JamesNK opened #38391 "HTTP2: SendAsync cancellation token does not send RST_STREAM - Add test"
Canceling `HttpClient.SendAsync` does not send a RST_STREAM from the client to the server.

Repro:
1. git clone https://github.com/JamesNK/grpc-dotnet.git
2. git checkout jamesnk/httpclient-cancel-bug
3. examples\Server -> dotnet run
4. examples\Clients\Greeter -> dotnet run

Expected:
HttpClient sends RST_STREAM (CANCELLED) when the cancellation token is triggered. Server receives cancellation an

[2019-06-10 05:13] liu123456789 commented on #38295
@vcsjones But I use this certificate on windwos, no problem, it can work properly...

[2019-06-10 05:23] wfurt commented on #34990
If this is HTTP, you can do packet captures.

[2019-06-10 05:48] bartonjs commented on #38295
Without seeing a file that has this characteristic, it's hard to provide guidance.  If your file is a PFX and contains private keys, do not post it to github unless it contains keys that you're okay leaking.

If it's base64 text, Windows seems to sometimes decode it and process it.  On Linux it has to be either binary or PEM (base64 with an appropriate header and footer).

One potentially interest

[2019-06-10 08:07] timandy opened #38392 "Enumerable.Min() performance improve"
effected methods
[code]
- If a float sequence whose first nonull element is NaN and next elements is not NaN. like `[null, NaN, 1f, 2f, 3f]`.
- Then we call `Min()` ,we expect the method visit the first NaN and return. but the method visit all elements now.

Should determine IsNaN after these lines.
https://github.com/dotnet/corefx/blob/7e56d8bd8b224d834b782a98bfd7035f71c3f547/src/System.Linq/src/

[2019-06-10 09:44] Gnbrkm41 commented on #38208
The assertion does trigger, but it looks like the the `DefaultTraceListener` does nothing on .NET Core 2.1 and 2.2 (not sure if others don't as well). You can confirm this behaviour by adding your own TraceListener (e.g. `Trace.Listeners.Add(new TextWriterTraceListener(Console.Out, "TWTL"));`), as this would print `Fail: Assert TRACE` on assertion failure.

One weird thing I noticed is that on .NE

[2019-06-10 10:47] maxkoshevoi commented on #38385
Sure, each test is performed with collection of 100 000 elements.

[2019-06-10 11:04] meygnanamp opened #38394 "HangFire is not Fire in IIS"
Hi All,
I have created a Dot Core 2.1 WebAPI. Working fine in Machine, but when I hosted in IIS it is throwing an error.

I have changed the below setting and hosted in IIS.

 <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <IsServiceFabricServiceProject>True</IsServiceFabricServiceProject>
    <RuntimeIdentifier>win7-x64</RuntimeIdentifier>
    <TargetLatestRuntimePatch>F

[2019-06-10 11:19] craigwardman opened #38395 "SortedList should support IReadOnlyDictionary"
I have some changes I'd like to PR to corefx repo which requires a change to the API of the System.Collections.SortedList class.

Namely I would like to add the following ctor options:

[code]

[2019-06-10 13:13] mthalman commented on #38027
It's important this get done very soon because we already have published Docker images for .NET Core 2.x and 3.0 on Alpine 3.9 and we've got a requirement to make this the default Alpine version.

[2019-06-10 13:33] Kalyxt opened #38399 "X509Certificate error:0D07803A:asn1 encoding routines:ASN1_ITEM_EX_D2I:nested asn1 error"
Hello
I have signed .dll file using a sha1 algorithm.
To verify if .dll file is signed by me I compare thumbprint of the certificate.
Everything works just fine under windows but I couldn't find what might be wrong under linux-arm and linux-x64.

Here is the code:

`Dim theCertificate As New X509Certificate2
            Dim theSigner As New X509Certificate
            Try

                theSigne

[2019-06-10 14:18] ajamrozek commented on #32024
I'm running into this with my client's on-prem K8S clusters. I've set the reloadOnChange false to my appsettings and the USE_POLLING flag true. Even using a vanilla, boilerplate WebAPI project I get this with enough consistency that we now have a script to "refresh" the IOException throwing pods.

Where/when would Sources.Clear() be practicle? When I have an IConfigurationBuilder is in the CreateW

[2019-06-10 14:32] stephentoub opened #38400 "InterlockedTests.MemoryBarrierProcessWide failed in CI"
netcoreapp-Linux-Release-arm64-(Ubuntu.1604.Arm64.Open)Ubuntu
https://dev.azure.com/dnceng/public/_build/results?buildId=218360&view=ms.vss-test-web.build-test-results-tab&runId=5372384&paneView=debug
[code]

[2019-06-10 14:33] stephentoub commented on #38400
This test was just re-enabled in https://github.com/dotnet/corefx/commit/7e56d8bd8b224d834b782a98bfd7035f71c3f547.

cc: @vsadov

[2019-06-10 14:36] stephentoub commented on #38400
Also failed here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38381~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190610.14/workItem/System.Threading.Tests/analysis/xunit/System.Threading.Tests.InterlockedTests~2FMemoryBarrierProcessWide
[code]

[2019-06-10 15:41] bartonjs commented on #38399
Using X509Certificate2 to see the signer of an Authenticode-signed file isn't supported on any OS other than Windows.

This is tracked by https://github.com/dotnet/corefx/issues/2910.

[2019-06-10 15:41] #38399 closed

[2019-06-10 15:42] bartonjs commented on #38363
Yep.

[2019-06-10 15:44] MarcoRossignoli commented on #38363
@bartonjs so no more support for `-1` = `MaxValue`?Can you confirm?

[2019-06-10 15:47] ericstj commented on #38400
Again: https://dev.azure.com/dnceng/public/_build/results?buildId=216796&view=ms.vss-test-web.build-test-results-tab&runId=5366168&resultId=245930&paneView=debug

[code]

[2019-06-10 15:55] bartonjs commented on #38363
For an enum backed by UInt32?  The serializer can't write `-1` for that type, so why would the deserializer support reading it?

[2019-06-10 15:55] ericstj opened #38402 "RandomNumberGeneratorTests.GetInt32_MaskRangeCorrect failing sporadically in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=216796&view=ms.vss-test-web.build-test-results-tab&runId=5324506&resultId=383947&paneView=debug

System.Security.Cryptography.RNG.Tests.RandomNumberGeneratorTests.GetInt32_MaskRangeCorrect(fromInclusive: 16777214, toExclusive: 16777217)

[code]

I've seen this failure on a few PRs but haven't yet seen a bug.  In this case it was ARM64.

[2019-06-10 16:01] stephentoub commented on #38400
I've disabled the test.

[2019-06-10 16:04] MarcoRossignoli commented on #38363
I'm with you...I would only know how to fix https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/tests/Serialization/EnumTests.cs#L107
It will changes to `Parse_Negative1ForUInt64Enum_Throw`

[2019-06-10 16:13] wtgodbe commented on #38027
I'll work with @wfurt to get this done before the next 2.x release. @mthalman Can I find the new 3.9 images in the list from https://github.com/dotnet/dotnet-buildtools-prereqs-docker? I see the following tags:

    "alpine-3.9-helix-09ca40b-20190521001803",
    "alpine-3.9-helix-34f2903-20190227035445",
    "alpine-3.9-helix-3e800f1-20190501005341",
    "alpine-3.9-helix-3e800f1-20190502142303",

[2019-06-10 16:35] wfurt commented on #37930
we need to get API approval first.
https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md

cc: @carlossanlop

[2019-06-10 16:37] mthalman commented on #38027
CC @MattGal
Yes, the latest would be `alpine-3.9-helix-09ca40b-20190521001803` in that list.

[2019-06-10 16:40] Anipik commented on #38374
I am on it

[2019-06-10 16:59] ericstj commented on #29218
Had a chat with @wtgodbe about an idea to solve this and potentially #35156 #35157 #36577

We can check for "redundant refs" : references which are the same version and API as other compatible references
In the same pass we can check for "unversioned refs" : references which are the same version but different API as other compatible references.

Finally in doing this we can assert API of more comp

[2019-06-10 16:59] bartonjs commented on #38402
@vcsjones Looking at the numbers, I think that means that instead of 333 of one of the values there were 357; which is (per the error message) just barely out of conformance.

For RandomNumberGenerator.Fill, the test does 2048 bytes, then checks that the bits are within 7% of 50/50; allowing a maximum off-perfect of 573 (the 574th skewed bit fails the test).

I think the int tests are failing beca

[2019-06-10 17:00] vladd commented on #38385
If we want to go this way (specialcasing the common types), we can just hardcode specialcasing into `Single` like it's [done in `Where`](https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Linq/src/System/Linq/Where.cs#L30):

[code]

This produces even better results:

[code]

However, do we really want to endorse using just primitive lists? This way would pen

[2019-06-10 17:00] steveharter commented on #36639
@rynowak thanks for the feedback.

Converters will not be public for 3.0 (maybe never). However it may be desirable to extend or re-use these converters for convenience and performance when (de)serializing non-trivial POCO properties including Enums and collections. So I think it the converters have a good chance of being public at some point pending feedback.

However, since we're not sure if the

[2019-06-10 17:41] VSadov commented on #38400
It is a serious concern that this is not working reliably. We rely on process-wide fences in GC, for example.

We should reactivate the bug then. (https://github.com/dotnet/coreclr/issues/20215)

I hope it is a test issue.

[2019-06-10 17:42] VSadov commented on #38400
Or just use this bug for tracking.

[2019-06-10 18:03] antonioortizpola commented on #37044
@wfurt, were you able to reproduce the scenario? just to know if the repo code worked for you, or if there is something more that I can help with

[2019-06-10 18:20] wfurt commented on #37044
I'm still diffing through @antonioortizpola .
I got services up and I could see
[code]

but if I wait a little bit, all the connections go away.
[code]

I also could not find any direct usage of HttpClient. Everything seems to be wrapped in some high-level calls so I'll need to unwind that.

[2019-06-10 18:26] MattGal commented on #38027
@wtgodbe I am going to be updating all the helix-named images to have python 3 by default as part of https://github.com/dotnet/core-eng/issues/6668, you might hold off til then.

[2019-06-10 18:29] rh78 opened #38407 "Random Thread Pool Starvation on ASP.NET Core 2.2.4"
We're experiencing random thread pool starvations on ASP.NET Core 2.2.4 on CentOS Linux. The .NET Core worker threads are constantly being consumed without freeing up again.

The issue occurs completely random, every 2 or so weeks, sometimes only once a month, sometimes every 2nd day. Sometimes under full production load, sometimes with nearly no load or absolutely no load at all.

When it occurs,

[2019-06-10 18:30] ericstj commented on #35580
It may have been fixed in with the latest baselining that @joperezr did in master.  @AArnott does it still repro in the latest packages?

[2019-06-10 18:32] sebastienros opened #38408 "System.Text.Json.Serialization namespace discrepancies"
FYI

In this folder `https://github.com/dotnet/corefx/tree/master/src/System.Text.Json/src/System/Text/Json/Serialization` there are classes under the namespaces `System.Text.Json`, `System.Text.Json.Serialization` and `System.Text.Json.Serialization.Policies` at least (there might be others).

[2019-06-10 18:37] tarekgh commented on #38342
@AbhiAgarwal192 do you have any update here?

[2019-06-10 18:38] maryamariyan commented on #36178
@MarcoGix this link explains the equivalent workflow for .NET Core: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/index?view=aspnetcore-2.2

Hope this helps.

[2019-06-10 18:38] #36178 closed

[2019-06-10 18:41] ericstj commented on #38374
This is by design.  TypeConverter is much higher in the stack in .NETCore so a lot of places that had TypeConverterAttribute in framework instead are handled intrinsically in TypeConverter itself.  Powershell should not be examining metadata on types itself: just let the TypeConverter infrastructure do that.  TypeDescriptor.GetConverter should tell you if a typeconverter is available, and typeconv

[2019-06-10 18:41] #38374 closed

[2019-06-10 18:48] AArnott commented on #35580
The versions in the repro are still the latest (stable) packages. Did you want me to test the preview packages that have been pushed to nuget?

[2019-06-10 18:48] ahsonkhan commented on #38408
This was brought up previously during the namespace move: https://github.com/dotnet/corefx/issues/37896#issuecomment-495750336

We should fix this once there is less code-churn.

cc @steveharter

[2019-06-10 18:50] AArnott commented on #35580
Using the latest preview packages, the problem **still** repros.

[code]

[2019-06-10 18:50] jkoritzinsky commented on #38353
Looks like the same issue as #34422. We should either remove the assert that failed since we aren't really testing that offset with the `WriteInt16` call or do the same thing we did to fix #34422.

[2019-06-10 18:54] ericstj commented on #35580
That's not latest.  Why are you not using a preview6 build for pipelines?  Looks like Nuget.org only has preview 5.  Can you grab the latest off of https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json.

[2019-06-10 18:58] ericstj commented on #35580
Worked for me when referencing
[code]

@AArnott please give a try and close if you're fixed.

[2019-06-10 19:06] stephentoub commented on #38407
@rh78, for one of these hung threads, can you share the output of `clrstack -f` rather than just `clrstack`?

To make sure I understand, when this happens you're saying you end up with 1000 threads, all with a call stack like the above, all stuck inside a helper frame from StartReadFrame, and you hang at 1000 threads because you've explicitly set the max number of thread pool threads to 1000?

[2019-06-10 19:19] ericstj commented on #35580
Or if you prefer Preview6 (upcoming release):
[code]

I found that the `4.6.0-preview6.19259.10`  version of Unsafe was a one-off build out of master that isn't a complete set of packages.

[2019-06-10 19:29] MarcoRossignoli commented on #38178
@maryamariyan should tests fail?I removed `[ActiveIssue(38178)]` but works on my local win.

[2019-06-10 19:35] #32539 closed

[2019-06-10 19:39] crummel opened #38412 "Source-build patch removal for CoreFX"
Source-build has some patches that we are currently applying to your repo.  This issue tracks removing the patches.  These patches can be found at https://github.com/dotnet/source-build/tree/release/3.0/patches/corefx.

Patches that have the responsibility "Repo" and the Disposition "Incorporate" are patches that we believe are valid source-build fixes that should be moved into your repo.  Please

[2019-06-10 20:01] antonioortizpola commented on #37044
Did you run over the 3 version or 2.1? that is the behavior that i got from the 2.1 version. In the core 3 version the sockets would never exit the `CLOSE_WAIT`

[2019-06-10 20:05] maxkoshevoi commented on #38385
@vladd thank you for detailed response.
True, if we lived in a perfect world, JIT would handle all the optimization for us, but unfortunately its not the case.

In the meanwhile, what would you prefer: calculations optimized for most commonly used types or equally slow performance for all of them? Especially if you consider that LINQ methods is frequently used ones and even small improvement in pe

[2019-06-10 20:16] buyaa-n opened #38414 "JsonSerializer not parsing correctly nested object having null dictionary"
JsonSerializer not parsing a class with nested class having a null Dictionary property.
- if the Dictionary in inner object is initialized then no issue
- if the Dictionary in inner object is null all properties defined after that object has null or 0, properties defined before that object are set properly
- if inner object is not initialized then no issue
- this issue is also root cause of https:

[2019-06-10 20:36] adamsitnik commented on #37691
np, I wanted to close it once I port the fix to 2.1, but since we are not going to do that I can close it right now.

Btw I've also benchmarks to track the performance of `string.GetHashCode` and `string.Compare` for different comparisons and sizes in https://github.com/dotnet/performance/pull/535

[2019-06-10 20:42] ericstj opened #38415 "Package Testing spends a ton of time downloading packages"
See https://github.com/dotnet/corefx/pull/38357#issuecomment-500575247

I've reproduced this locally and see similar times 1+ minutes.  If I delete all the assets files and rebuild, then I see much faster times all less than a couple seconds.

So we should look into this to see how we can avoid all this redundant downloading to speed up the tests.

[2019-06-10 20:46] JeremyKuhne commented on #32167
These were re-enabled in https://github.com/dotnet/corefx/commit/d29c16c99c6045ee67444a7a693dd4476861c463.

[2019-06-10 20:46] #32167 closed

[2019-06-10 20:48] JeremyKuhne commented on #25674
Presuming this was a one-off. The test is enabled.

[2019-06-10 20:48] #25674 closed

[2019-06-10 20:54] tannergooding opened #38416 "Allow a precision to be provided for the 'G' format in UTF8Formatter"
Full framework and .NET Core prior to 3.0 have different floating-point formatting behavior as compared to .NET Core 3.0 or higher. In particular, they do not produce roundtrippable strings by default.

In order to provide the best possible results for roundtripping and consistency between the UTF8 and UTF16 formatters, the UTF8Formatter should be fixed to allow a precision to be given for the 'G'

[2019-06-10 20:54] tannergooding commented on #38416
CC. @ahsonkhan, @danmosemsft

[2019-06-10 20:55] AaronRobinsonMSFT commented on #38353
Sounds good. Let's just remove it.

[2019-06-10 20:56] ahsonkhan opened #38418 "The UTF-8 BOM within a file should be ignored when calling JsonSerializer.ReadAsync"
Similar to other APIs within the JSON stack that accept a stream (such as `JsonDocument.ParsAsync`), the `JsonSerializer.ReadAsync` should ignore the [UTF-8 BOM](https://en.wikipedia.org/wiki/Byte_order_mark#UTF-8) at the beginning of the stream (if one exists).

Currently, we throw an exception since that is invalid JSON:
[code]

For example:
https://github.com/dotnet/corefx/blob/dae07b7c0ef23d52

[2019-06-10 20:58] AArnott commented on #35580
Yes, with `4.6.0-preview6.19303.8` it works. Thanks.

[2019-06-10 20:58] #35580 closed

[2019-06-10 21:00] JamesNK commented on #38391
@wfurt

[2019-06-10 21:05] wfurt commented on #38391
That should be fixed with https://github.com/dotnet/corefx/pull/38226/
I will trey to add test for that scenario.

[2019-06-10 21:05] danmosemsft commented on #38416
Would this change any existing observable behavior? (Assuming no mistakes are made.) This sounds like it was simply not possible to specify a precision before.

[2019-06-10 21:12] tannergooding commented on #38416
Correct. The PR resolving this is here: https://github.com/dotnet/corefx/pull/38419.

The logic currently just does:
[code]

The fix is removing the check so that precisions can be specified.

[2019-06-10 21:17] rh78 commented on #38407
Hello sorry I cannot do clrstack -f because I had to restart the process and minidump failed.

Yes it is like that, we hardcoded to 1000. Before we had no dedicated limit, and it was growing further until it ran into some internal limits.

[2019-06-10 21:17] hyspace opened #38421 "Discuss: Any plan to let System.Private.Uri following WHATWG URL Standard?"
Hi all,

We noticed that `System.Private.Uri` is not following [the living standard of URL](https://url.spec.whatwg.org/), which results in some different parsing result comparing to major browsers.

For [example](https://url.spec.whatwg.org/#example-url-parsing):
[code]
Will return `false`, but the *Standard* is considering `http:////example.com///` as valid input and will auto correct it to `htt

[2019-06-10 21:23] kouvel opened #38422 "[API review] Add Timers.Count"
From https://github.com/dotnet/coreclr/issues/20372#issuecomment-497013866:

[code]

Enables tracking the number of timers currently scheduled.
- Used `long` instead of `int` because this API is somewhat similar in nature to `ThreadPool.PendingWorkItemCount` and the choice there was to use `long`

[2019-06-10 21:29] JamesNK commented on #38391
Cool.

A unit test would be good. Cancelling HTTP/2 calls is used quite often in gRPC. Accidentally regressing it in the future would have a large effect.

[2019-06-10 21:29] stephentoub commented on #38422
What are the scenarios for this?  I'm wondering if this data is sufficient, or if the scenarios would actually need more details for things to be meaningful, e.g. the distribution of when the timers are scheduled to fire next.

[2019-06-10 21:30] stephentoub commented on #38422
@kouvel, I see you marked this as api-suggestion and Future, but then you also submitted PRs to coreclr to implement this and corefx to expose it.  Which is it? :)

[2019-06-10 21:30] jarlehal commented on #37044
a little confused by the comment from @karelz. the fix should be applied to 3.0/2.2, as 2.1 does not have this socket issue, but the memory thing that should be fixed/merged in 2.2

[2019-06-10 21:31] kouvel commented on #38422
CC @davidfowl

[2019-06-10 21:39] kouvel commented on #38422
A scenario is to be able to track the number of scheduled timers, and to be able to report and view it over time such that timer leaks can be spotted easily. If more details are necessary I imagine that would need a different API. Are you thinking of something that could support future additions to metrics? I was thinking along those lines before (like maybe a separate class that provides runtime

[2019-06-10 21:40] kouvel commented on #38422
The corefx PR to expose it is targeted for post-3.0. The coreclr PR is targeted for 3.0 such that the value can be obtained through reflection. @davidfowl wanted a solution for 3.0.

[2019-06-10 21:46] ericstj commented on #38412
Already done in https://github.com/dotnet/corefx/commit/ecfb60b67d09b992f24af0625305299710bc128f

[2019-06-10 21:46] #38412 closed

[2019-06-10 21:49] danmosemsft commented on #34318
ping @wtgodbe

[2019-06-10 21:51] karelz commented on #37044
@jarlehal typo, fixed, thanks for pointing it out.

[2019-06-10 21:51] danmosemsft commented on #34826
@GrabYourPitchforks this does not seem essential for 3.0

[2019-06-10 21:52] danmosemsft commented on #34018
Moving to Future as this is not actionable right now.

[2019-06-10 21:53] stephentoub commented on #38422
Just gonna leave this here:
https://github.com/dotnet/coreclr/pull/22396#issuecomment-463033411
:wink:
cc: @jkotas

This API is trivial.  If we believe in it, let's get it reviewed and merged for 3.0 and avoid taking a private reflection dependency.  If we don't, let's not depend on it via private reflection.

My question was mainly about the scenarios it was meant to target.  If it's just about d

[2019-06-10 21:53] wtgodbe commented on #34318
Verifying the fix locally now

[2019-06-10 21:53] danmosemsft commented on #30612
Will not make 3.0

[2019-06-10 21:54] danmosemsft commented on #32334
@ahsonkhan do you expect to be able to do this for P7? And is the risk acceptable? If not please move milestone now to the next major release.

[2019-06-10 21:55] danmosemsft commented on #35167
@stephentoub was this not fixed by https://github.com/dotnet/coreclr/pull/23062 ?

[2019-06-10 21:58] stephentoub commented on #35167
@danmosemsft, yes, it was.  Are you asking me because of my moving it to 3.0 back in March?  The fix was only merged two weeks ago.

[2019-06-10 21:58] #35167 closed

[2019-06-10 21:59] stephentoub commented on #30612
Most of them did.  I'd be ok closing this at this point.

[2019-06-10 21:59] #30612 closed

[2019-06-10 22:00] kouvel commented on #38422
There have been cases before where there was no timer leak but there were so many short-period timers that it showed other perf effects. Although this doesn't provide any info about the average frequency of repeating timers (which I think would be useful in some cases), it can help to spot a high number of timers and if other perf effects related to timers are seen, further investigation may be pr

[2019-06-10 22:01] jkotas commented on #34018
This needs a repro to be actionable.

[2019-06-10 22:01] #34018 closed

[2019-06-10 22:06] danmosemsft commented on #35629
Ping @viktorhofer, should this stay in 3.0

[2019-06-10 22:07] danmosemsft commented on #34454
Need to mine Kusto to see how this performed recently

[2019-06-10 22:07] stephentoub commented on #33500
Thanks, @kevingosse.  Just took a quick look, and your analysis of the issue looks right; more generally, some of the comparisons here aren't accounting for the potential for overflow, so e.g. instead of "a < b", they should be "a - b < 0".  I have a fix locally with which I'm not able to repro the assert.

Regarding your "don't think this is related to the issue, but this condition looks fishy"..

[2019-06-10 22:08] danmosemsft commented on #33492
Moving to Future as this need not happen for 3.0 as these changes are additive.

[2019-06-10 22:09] danmosemsft commented on #35167
Ah of course, the PR is linked when created not when merged. Thanks.

[2019-06-10 22:10] stephentoub commented on #38422
Ok, thanks. I changed the issue to be 3.0.

[2019-06-10 22:11] davidfowl commented on #38422
I wanted to specifically target this case as a counter value. Detecting Timer leaks would be a plus as well.

[2019-06-10 22:13] pgovind commented on #35254
Ugh, random clicked on "Close". I'm looking at this at the moment.

[2019-06-10 22:18] danmosemsft commented on #30752
Moving to Future as BinaryFormatter is deprecated in .NET Core. @viktorhofer @adamsitnik feel free to make the case for 3.0.

[2019-06-10 22:19] danmosemsft commented on #35319
@KKhurin we are ZBB'ing this month, is this on track or should you move to Future?

[2019-06-10 22:20] vcsjones commented on #38402
@bartonjs hm. I see. I thought I stressed all of them enough to make sure sporadic failures weren't going to happen when I looked at the last PR. I'll revisit.

I'm currently traveling on vacation where the most sophisticated computer I have with me is an iPhone - I won't be able to look at it until early next week.

[2019-06-10 22:23] danmosemsft commented on #38400
If this is tracked by https://github.com/dotnet/coreclr/issues/20215, I don't think we need this issue open as well.

[2019-06-10 22:23] #38400 closed

[2019-06-10 22:29] Gnbrkm41 opened #38425 "`System.Drawing.Common.Bitmap` throws `ArgumentException` instead of `ObjectDisposedException` when attempted to access properties"
* Runtime Ver.: .NET Core 3.0 P5 27626-15
  * System.Drawing.Common package Ver.: 4.6.0-preview5-19224.8
* OS Ver.: Windows 10 Home (Build No. 18912)

Consider the following code:
[code]

Normally I'd expect this to throw `ObjectDisposedException` as the object is being used after its disposal. However, on both .NET Core and Framework, this results in `ArgumentException` being thrown instead:
[cod

[2019-06-10 22:30] sdmaclea opened #38426 "WIP API Proposal - AssemblyBuilder.DefineDynamicAssembly for AssemblyLoadContext"
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.assemblybuilder.definedynamicassembly?view=netcore-3.0

`AssemblyBuilder` is implemented as a type of RuntimeAssembly, but there seems to be no mechanism to create it directly in a specific AssemblyLoadContext.

I assume we need at least one mechanism.

This issue is highly similar to that described in #36236

If we chose a similar

[2019-06-10 22:33] sdmaclea commented on #38426
Maybe these automatically should get their own private AssemblyLoadContext?

[2019-06-10 22:36] stephentoub commented on #38422
Does that mean monotonically increasing to count how many timers there have ever been? Or you just mean what Kount has, where it's tracking the current number of active timers?

[2019-06-10 22:37] SystemKeeper commented on #32611
I'm seeing the same problem in .Net Core 2.2.5. Was there ever a fix for this?

[2019-06-10 22:38] davidfowl commented on #38422
Number of active timers. Thought i can see where the number of timers ever could also be interesting. Number of counters can be another signal to look at when looking at system health (basically all of the shared resources in .NET are useful to look at)

[2019-06-10 22:41] KKhurin commented on #35319
@StephenMolloy could you please take a look?

[2019-06-10 22:41] sdmaclea commented on #38426
Or maybe these should not be deriving from `RuntimeAssembly` but rather `Assembly`.  It seems very odd to be building an assembly while it is already loaded.

[2019-06-10 22:48] #38279 closed

[2019-06-10 22:53] wtgodbe commented on #34318
I can verify that the expected error is now thrown when building with the latest VS2019 & targeting `netstandard2.1`:

[2019-06-10 22:53] #34318 closed

[2019-06-10 23:16] stephentoub commented on #38422
Ok, thanks. This seems reasonable to me.

[2019-06-10 23:21] manums commented on #33957
I'm seeing OperationCanceledException exception from HttpClient often from

 `httpClient.SendAsync(httpRequest, HttpCompletionOption.ResponseHeadersRead)`

**.NET Core 2.1**

Exception Trace:

   at System.Net.Http.HttpClient.HandleFinishSendAsyncError(Exception e, CancellationTokenSource cts)
   at System.Net.Http.HttpClient.FinishSendAsyncUnbuffered(Task"1 sendTask, HttpRequestMessage request, C

[2019-06-10 23:28] pgovind commented on #35254
The null dereference was because we now allow nullable objects in `SequencePosition`. Once I fixed that, there's still the issue of what `default(SequencePosition)._object` should be. If the expectation is that the default start position is 0, it makes sense that `default(SequencePosition)._object = Start`?

[2019-06-11 00:07] krwq commented on #35907
I've got:

[code]

hanging locally on Ubuntu after I left the test running for several hours. I'm unsure if this is related, anyone have any clues?

[2019-06-11 00:11] ahsonkhan commented on #38370
Thanks @vova-lantsov-dev. This was fixed in the synchronous APIs by @watfordgnf, and I couldn't repro it for the async APIs either (since the underlying logic/workhorse method is shared between them): https://github.com/dotnet/corefx/issues/37500 / https://github.com/dotnet/corefx/pull/37549.

What version of the SDK are you on (please share the output of `dotnet.exe --info`)?

Can you try with th

[2019-06-11 00:12] wfurt commented on #35907
That may be more related to  #38168. There may be some setup problem with that group of tests.

[2019-06-11 00:22] jcouv commented on #36222
FYI the metadata format produced by the compiler is going to change in the next week or so. We'll be adding more attributes (`NullableContextAttribute` and `NullableMembersAttribute`).
More details forthcoming in https://github.com/dotnet/roslyn/pull/36152

[2019-06-11 00:32] buyaa-n opened #38435 "JsonSerializer throwing "System.NotSupportedException : Collection was of a fixed size" for some array/collection parsing"
~~Before adding ` SimpleTestClass MySampleTestClass { get; set; }` property to the SimpleTestStruct struct and json test was running successfully, after adding object type JsonSerializer cannot parse it anymore~~
`Update:` The original test failure is fixed with recent update, but the below case is still failing so updated the test case
Exception: `System.NotSupportedException : Collection was of

[2019-06-11 00:37] jkotas commented on #38426
I am not sure how this would look like. `RuntimeAssembly` is internal impl detail of CoreLib.

[2019-06-11 00:45] jlestercastro opened #38436 "Cannot consume scoped service from singleton"
Hello, someone who can help me to fix this error.
I always got "System.InvalidOperationException: 'Cannot consume scoped service 'Lib.Data.LibContext' from singleton 'Lib.Data.RepositoryFactory'.'"

Where my Startup.cs is:

![image](https://user-images.githubusercontent.com/39945211/59235640-ec23ef00-8c24-11e9-94ec-f82856450f05.png)

And my StartupHelper.cs is :

![image](https://user-images.githu

[2019-06-11 01:14] antoinebj opened #38437 "Specify for which URL component to encode in DefaultUrlEncoder"
Currently, the `DefaultUrlEncoder` forces a set of forbidden characters that is the intersection of what is not permitted in various components of the URL.
That is regardless of what was specified as allowed in the TextEncoderSettings that can be injected through the constructor.

However in my use case, I'd like to encode for the query string only, and I would benefit from the `:` not being encod

[2019-06-11 01:53] davidsh commented on #38437
Which .NET Core class are you referring to?  I can't find 'DefaultUrlEncoder' as a type name in .NET Core.

[2019-06-11 01:57] davidsh commented on #38421
In general, the System.Uri class of .NET Framework and .NET Core aligns with the IETF RFC 3986 and RFC 3987.  The WHATWG URL Standard is not something that we have considered at this point.

We can consider it in the future as that standard becomes more mainstream. I also don't understand why WHATWG is not incorporating these interesting updates into the official IETF RFC standards.

[2019-06-11 01:57] davidsh commented on #38421
@karelz @wtgodbe

[2019-06-11 02:04] antoinebj commented on #38437
Sorry, I'll edit the OP to add the full name:
`System.Text.Encodings.Web.DefaultUrlEncoder`
https://github.com/dotnet/corefx/blob/master/src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/UrlEncoder.cs

[2019-06-11 02:06] #37183 closed

[2019-06-11 02:06] #25205 closed

[2019-06-11 02:15] davidsh commented on #38394
Can you please post your program here?  We need to be able to reproduce the problem.

[2019-06-11 02:18] stephentoub commented on #37044
@wfurt has been doing a good job digging into this, and shared with me that he noticed something suspicious, that in a repro when analyzing it with SOS there ended up being a small number of Sockets on the heap but a large number of SafeSocketHandles.  Based on that, I have a theory that this is due to https://github.com/dotnet/corefx/pull/32845 / https://github.com/dotnet/corefx/pull/32793.  I do

[2019-06-11 02:36] hyspace commented on #38421
In short, releasing of RFC is too slow comparing to fast evolving web technology today<sup>1</sup>.

Before the new URL standard become RFC, all major browsers may have already implemented WHATWG Standard for years.
Being left behind the standard may result in security vulnerability.

For example, consider a program using `System.Uri` to detect malware link in web pages. Today, intentionally malfo

[2019-06-11 02:57] meygnanamp commented on #38394
Dear David,

We ignore the SSL. Now it is working fine.

Regards,
Meygnanm.P

[2019-06-11 02:57] #38394 closed

[2019-06-11 04:56] #38294 closed

[2019-06-11 07:01] ramsubbaraoc opened #38440 "Socket.SetSocketOption throws invalid argument exception on Mac OS but works fine on Linux"
socket.SetSocketOption(SocketOptionLevel.Socket, SocketOptionName.ReceiveTimeout, timeout);

Using the above method throws the following exception

System.Net.Sockets.SocketException (22): Invalid argument
   at System.Net.Sockets.Socket.UpdateStatusAfterSocketErrorAndThrowException(SocketError error, String callerName)
   at System.Net.Sockets.Socket.SetSocketOption(SocketOptionLevel optionLevel,

[2019-06-11 07:11] tmds commented on #18924
Closing due to limited interest.

[2019-06-11 07:14] tmds commented on #16179
Closing due to age.

[2019-06-11 07:14] #16179 closed

[2019-06-11 07:19] Kalyxt commented on #2910
Hello, my project based on linux relying on reading cert from PKCS#7 signed file, which is not working atm. Is this going to be fixed in upcoming .NET Core versions (3.0) or what is the situation around this?  I would greatly appreciate any info about this issue and its future.

[2019-06-11 07:22] jkotas commented on #16123
This is solved by the new `NativeLibrary.SetDllImportResolver` API in .NET Core 3.0. This API allows you to supply a custom logic that loads the native library - different versions depending on the platform, etc.

[2019-06-11 07:22] #16123 closed

[2019-06-11 07:31] stephentoub commented on #38440
What is the type and value of `timeout` in your example? This error is coming from the OS; it may be that Windows and Linux are more forgiving about invalid inputs.

[2019-06-11 07:36] jkotas commented on #38426
This sounds good to me. `AssemblyBuilder.DefineDynamicAssembly` is one of those APIs that uses the implicit load context of the immediate caller: https://github.com/dotnet/coreclr/blob/master/src/vm/assembly.cpp#L561

[2019-06-11 07:47] tmds opened #38441 "Interop+Sys.EnumerateInterfaceAddresses error with 3.0-preview5"
I've seen this a couple of times, I've not looked into it further yet.
[code]

CC @wfurt

[2019-06-11 07:56] ramsubbaraoc commented on #38440
Timeout is an int and value is -1

[2019-06-11 08:03] stephentoub commented on #38440
Negative receive timeout values are invalid with setsockopt; that's why the OS is giving you back an error. But POSIX didn't specify these failure modes, so they can be different across OSes.

Socket.SetSocketOption is meant to just pass the inputs through to the OS. If you want .NET to express is in opinion, you can use Socket.ReceiveTimeout... You'll see that it throws for < -1 but translates -1

[2019-06-11 08:20] ramsubbaraoc commented on #38440
Thank you.That worked

[2019-06-11 08:22] #38440 closed

[2019-06-11 08:38] AriNuer opened #38442 "Test failure: Microsoft.CSharp.RuntimeBinder.Tests.ArrayHandling/ArrayTypeNames"
Test `Microsoft.CSharp.RuntimeBinder.Tests.ArrayHandling/ArrayTypeNames ` has failed.

Message :
[code]

Stack Trace :
[code]

Build: -[20190610.76](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190610.76)(Master)

Failing configurations:

- Debian.10.Amd64.Open-x64-Release

Details:
https://mc.dot.net/#/user/dotnet-bot/p

[2019-06-11 08:49] ahsonkhan commented on #36639
As part of the `JsonConverter` scenario to work, there is a need within the `JsonSerializer` implementation for a stand-alone `WritePropertyName` method on the `Utf8JsonWriter`. This method does not need to be public, as long as `JsonSerializer`/`Utf8JsonWriter` interop APIs have a way to pass in the property name.

However, we should consider adding the `WritePropertyName` API as public and simpl

[2019-06-11 08:50] jkotas commented on #38441
Duplicate of https://github.com/dotnet/coreclr/issues/25018. Fixed in preview6.

[2019-06-11 08:50] #38441 closed

[2019-06-11 08:52] AriNuer opened #38443 "Test failure : System.Diagnostics.Tests.ProcessTests/LongProcessNamesAreSupported"
Test `System.Diagnostics.Tests.ProcessTests/LongProcessNamesAreSupported ` has failed.

Message :
[code]

Stack Trace :
[code]

Build: -[20190610.76](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190610.76)(Master)

Failing configurations:

- Debian.10.Amd64.Open-x64-Release

Details:
https://mc.dot.net/#/user/dotnet-bot/

[2019-06-11 09:02] AriNuer opened #38444 "[Debian 10] Test failure: System.Net.Security.Tests.ApmSslStreamSystemDefaultTest/ClientAndServer_OneOrBothUseDefault_Ok(clientProtocols: Default, serverProtocols: null)"
Test `System.Net.Security.Tests.ApmSslStreamSystemDefaultTest/ClientAndServer_OneOrBothUseDefault_Ok(clientProtocols: Default, serverProtocols: null) ` has failed.

Message :
[code]
Stack Trace :
[code]
Build: -[20190610.76](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190610.76)(Master)

Failing configurations:

- Debia

[2019-06-11 09:02] vitek-karas commented on #38426
👍 I agree we should try to modify the existing APIs in 3.0. The new API - we'll see, this is relatively small change, so maybe it would still be possible to fit it in.

[2019-06-11 09:17] bluetianx commented on #38194
I dose not find deadlock after I have analyzed dump of the app,
![TIM截图20190611090950](https://user-images.githubusercontent.com/29353661/59259418-5f9d1f00-8c6c-11e9-95f6-02b06a7db194.png)
![TIM截图20190611091007](https://user-images.githubusercontent.com/29353661/59259447-6af04a80-8c6c-11e9-9ca0-16ea42b1636d.png)
![TIM截图20190611091021](https://user-images.githubusercontent.com/29353661/59259454-6e8

[2019-06-11 09:37] vladd commented on #38385
@maxkoshevoi
I assume that with the introduction of the teared JIT the JIT is going to compile to the near-native quality code.

[2019-06-11 09:51] shaulbehr commented on #32024
@rynowak I'd love to share my code with you, but there are a lot of moving parts in this machine.
Here's the code in the `TestFixture` base class that creates the `TestServer`:
[code]
I could dump a bunch of other accompanying code here, but I don't want to overload you or anyone else with noise; better you should ask me more specific questions about which code snippets you'd like to see. Alternat

[2019-06-11 09:55] secana commented on #2910
@Kalyxt Maybe https://github.com/secana/PeNet can do what you want (I'm the author). The PeNet library is able to extract the cert from signed files on Windows, Linux and Mac.

[2019-06-11 10:22] Castaneda1914 opened #38445 "Undefined symbols error while building CoreFx"
Hi all, I tried to build CoreFx using this instructions [https://github.com/dotnet/corefx/blob/a619534cac9b7d000f0899248656d232cb44f61f/Documentation/building/unix-instructions.md](url)  and faced the next error during executing build script:

`[ 82%] Linking C shared library System.Security.Cryptography.Native.OpenSsl.dylib
  Undefined symbols for architecture x86_64:
    "_X509_STORE_CTX_get0_st

[2019-06-11 10:35] XieJJ99 commented on #13532
@ajcvickers @stephentoub The SQL Server team had already provided MSDTC for SQL Server on Linux.  Is there any plan to promote the MSDTC for linux as a generic service so that it's possible to support distributed transaction on Linux?

[2019-06-11 10:52] benaadams commented on #32334
https://github.com/dotnet/coreclr/pull/25075

[2019-06-11 11:40] vladd commented on #38385
Staying at constructive side, I have a feeling that the we are trying to target a problem that is too particular and should be fixed elsewhere in a much more general way. The question is, whether a short-term workaround/improvement of this particular case is worth doing?

[2019-06-11 12:00] stephentoub commented on #38445
cc: @bartonjs

[2019-06-11 12:13] stephentoub commented on #38407
@jkotas, @janvorli, any thoughts here? The line showing as current in the stack frame is https://github.com/dotnet/corefx/blob/7ff91c4ea9157d27456909e2387af9e1f0ba6b02/src/System.Net.Security/src/System/Net/Security/SslState.cs#L879 which is throwing the exact exception type and error message showing as current on the thread, and it's then apparently hung in some helper runtime call. That suggests

[2019-06-11 12:15] Kalyxt commented on #2910
Thanks! This is exactly what I was looking for. I've tested it on win and linux-arm.

[2019-06-11 12:22] janvorli commented on #38407
It looks like a possible hang in the exception handling code. But to be able to tell more, I would need to get the `clrstack -f` (or just `bt`) command output at the time of failure.

[2019-06-11 13:20] bartonjs commented on #2910
No, there's not a lot of time left in the 3.0 release and I'm already over committed. (Though PRs are welcome if someone wants to contribute a fix...)

[2019-06-11 13:53] jkotas commented on #38407
Dynatrace is profiler. It may be hang inside Dynatrace. `clrstack -f` or `bt` would confirm or disprove this hypothesis.

[2019-06-11 14:06] rh78 commented on #38407
OK I will check next time. What does the `-f` flag do?

[2019-06-11 14:07] stephentoub commented on #38407
It includes native frames in addition to the managed ones.

[2019-06-11 14:18] am11 commented on #38445
related: https://github.com/dotnet/corefx/pull/37964#discussion_r288236051

[2019-06-11 14:49] stephentoub commented on #38168
Hit again, this time with the additional details added in the test:
[code]

[2019-06-11 14:54] stephentoub commented on #38168
Based on the above, this looks to be a combination of a product bug and a test bug.
cc: @wfurt, @geoffkizer, @krwq

The `EstablishConnectionAndProcessOneRequestAsync` method initiated a SendAsync:
https://github.com/dotnet/corefx/blob/0b0df51dab6f641e2988846dd6913de2db30789c/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs#L700
and that task failed:
[code]
That's a product

[2019-06-11 15:15] bartonjs commented on #38445
I just tried on my Mac and the build succeeded:

[code]

[code]

Did you `git clean -xdf` after Homebrew upgraded OpenSSL from 1.0.2q to 1.0.2r?

[2019-06-11 15:17] #38035 closed

[2019-06-11 15:34] #33500 closed

[2019-06-11 15:45] Castaneda1914 commented on #38445
No, I didn't . I installed openssl from scratch.
Here what I got when launched build script without any parameters:

[code]

And with setting OPENSSL_ROOT_DIR variable:
[code]
[code]

[2019-06-11 15:52] bartonjs commented on #38445
/usr/lib/libcrypto.dylib isn't version 1.0.2r, that's version 0.9.8.  I'm not sure why the build chose to link against that one.

The corefx instructions don't use the environment variable, but register the brew install path into pkgconfig: https://github.com/dotnet/corefx/wiki/Development-environment-setup-for-MacOS#openssl

You definitely want your line to say something more like

[2019-06-11 16:11] Castaneda1914 commented on #38445
Yep, after creating links to libraries and pkgconfigs and cleaning git directory all works fine.
Thanks a lot.

Probably it is needed to remove lines about setting  OPENSSL_ROOT_DIR  in [https://github.com/dotnet/corefx/blob/a619534cac9b7d000f0899248656d232cb44f61f/Documentation/building/unix-instructions.md](url) to avoid same issues in the future?

[2019-06-11 16:14] bartonjs commented on #38445
@Castaneda1914 Yeah, probably good to not have two different sets of instructions floating around :smile:.

[2019-06-11 16:29] pranavkm opened #38455 "Decimal.Parse with culture does not allows spaces inside numbers with libicu64"
Repro code:

1) Create a new Ubuntu 16.04 machine. It should have libicu55 installed by default. Run this code and see that it prints the decimal as `32000`

[code]

2. Install `libicu64`  (I used the `ppa:ondrej/php` repository because I couldn't figure out any other way to apt-get install the package).

3. Run the app again. See that it fails with:

[code]

It's weird that spaces are allowed wit

[2019-06-11 16:33] MatthewLymer commented on #27604
I would like this very much, I don't want to know the underlying handler, but I would like to configure the connect timeout.

[2019-06-11 16:40] MatthewLymer commented on #38436
I believe this is on purpose, otherwise the singleton would be able to keep the instance of the `repositoryFactory` around for longer than expected, and could run into very bad logic errors where you're assuming the context to be different than what it is.

Alternatively, you can update your code to do this:

    using (var scope = serviceProvider.CreateScope())
    {
        var repositoryFactory

[2019-06-11 16:53] BrennanConroy commented on #34963
Are you open to moving individual projects to netstandard2.1? SignalR would like System.Text.Channels to have a netstandard2.1 target

[2019-06-11 17:01] kjkrum opened #38457 "API proposal: use SocketAsyncEventArgs.SetBuffer(int, int) with Memory buffer"
I'm using SAEA for the first time, so apologies if I've overlooked something obvious. I'm interested in the ability to set a `Memory` buffer and reuse it for numerous operations without reallocating it. But I don't see any API to set the offset and number of bytes to send or receive independently from the `start` and `length` parameters to the `Memory` constructor. `SetBuffer(int, int)` throws an

[2019-06-11 17:09] safern commented on #37260
Does running the CoreFX test's doesn't help?

If you want to use a local build of corefx rather than running the tests you can do the following:
run `build -allConfigurations` in your corefx repo. That will produce some packages in your local repository under `artifacts\packages\<BuildConfiguration>` which in this case `<BuildConfiguration>` will be `Debug`. You will find a `System.Drawing.Common`

[2019-06-11 17:15] StephenBonikowsky commented on #33120
Closing as won't fix.

[2019-06-11 17:15] #33120 closed

[2019-06-11 17:20] terrajobst commented on #36999
Personally, I'd prefer this being a method but it seems folks on the thread have strong opinion that this should be method, which is also accetable.

If that's a method it should be called `SetIdFormat`.

[code]

[2019-06-11 17:21] steveharter commented on #38087
Does the proposed API attempt to also tie in `Nullable<>` semantics?

[2019-06-11 17:27] terrajobst commented on #37510
Looks like we're OK with this. The default return value would be `string.Empty`.

[code]

[2019-06-11 17:43] wtgodbe commented on #34963
@BrennanConroy yes, feel free to do so - @ViktorHofer is already doing this with RefContext & CompRegistration: https://github.com/dotnet/corefx/pull/38196#issuecomment-500637439

[2019-06-11 17:45] tannergooding commented on #38455
Will follow up here, it sounds like a bug in libicu, and so there is likely little we can do here.

CC. @tarekgh

[2019-06-11 17:47] terrajobst commented on #38422
After long discussion, we agreed on:

[code]

[2019-06-11 17:49] tarekgh commented on #38455
I'll try to take a look

[2019-06-11 17:49] ahsonkhan commented on #38435
cc @YohDeadfall

[2019-06-11 17:49] ahsonkhan commented on #38414
cc @YohDeadfall

[2019-06-11 17:52] terrajobst opened #38460 "Add NullableContextAttribute"
Related to #36222

@jcouv, what's the shape for this one?

[2019-06-11 18:01] tannergooding commented on #18924
I think this is something that would be very useful for certain high-performance apps.

[2019-06-11 18:03] terrajobst commented on #36222
We decided to keep doing the code spit because

1. Any code reasoning about the attribute has to assume that attribute is emitted, so you can't optimize the path.
2. The size is small

[2019-06-11 18:03] #36222 closed

[2019-06-11 18:11] #37250 closed

[2019-06-11 18:13] scalablecory commented on #32809
Just took a look and I do not think #38038 resolves this, as this test does not CONNECT to the LoopbackProxyServer nor does it rely on proper `shutdown()` on the loopback side.

[2019-06-11 18:26] stephentoub commented on #34422
Failed again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38454~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190611.24/workItem/System.Runtime.InteropServices.Tests/analysis/xunit/System.Runtime.InteropServices.Tests.Int16Tests~2FReadInt16_StructWithReferenceTypes_ReturnsExpected
[code]

[2019-06-11 18:35] GrabYourPitchforks commented on #37503
My understanding is that the `System.Runtime.Serialization` namespace contains members related both specifically to dangerous serialization (`BinaryFormatter`, `ObjectManager`, etc.) and to serialization in general (`DataMemberAttribute`, `IgnoreDataMemberAttribute`, etc.).

If we deprecate the existing serialization namespace all-up we may want to consider moving the more general-purpose attribut

[2019-06-11 18:51] jkoritzinsky commented on #34422
@AaronRobinsonMSFT I'm just going to remove this specific check since we hit it again.

[2019-06-11 18:56] kouvel commented on #38422
Thanks, updated proposal inline to reflect the above

[2019-06-11 19:18] kjkrum commented on #38457
This is an issue with `byte[]` buffers as well; see this [SO Q&A from 2013](https://stackoverflow.com/questions/18042097/how-to-specify-the-number-of-bytes-to-send-when-using-socket-sendtoasync) for the clumsy workaround.  Perhaps more generally, `SocketAsyncEventArgs` should have `OpOffset` and `OpCount` properties that are set by a new `SetOpBuffer` method, and constrained by `Offset` and `Count

[2019-06-11 19:29] Anipik commented on #34358
[code]

[code]

We are returning -1 if the second argument ```(string)null```

is this behaviour by design?

cc @ahsonkhan

[2019-06-11 19:34] jcouv commented on #38460
Below is the shape for `NullableContextAttribute` and `NullableMembersAttribute` (copied from https://github.com/dotnet/roslyn/pull/36152).

From our discussion this morning, I assume the decision for `NullableAttribute` applies to those as well. Namely, we'll let the compiler inject those types for now.

[code]

FYI @cston

[2019-06-11 19:37] karelz commented on #37078
@Jozkee can you please take a look at this one?

[2019-06-11 19:40] joshfree commented on #38370
Closing as this is fixed in the latest daily builds

[2019-06-11 19:40] #38370 closed

[2019-06-11 19:44] krwq commented on #35907
I think I got stack trace for this issue this time, hopefully we can make some progress with it:
https://gist.github.com/krwq/40de7df5187e44ffba26cd5332de6cb7

I haven't got a chance to analyze this further. I still got live debugging session running in case some more info would be useful.

[2019-06-11 19:45] danmosemsft commented on #38176
Can we simply increase the 900 second timeout on ARM64? If ARM64 is X times slower than X64 generally speaking, it makes sense to have a larger timeout. If there's evidence any tests are pathological on ARM64 we should deal with that separately.

[2019-06-11 19:45] joshfree commented on #37725
@JeremyKuhne can you PTAL as part of your Enum work

[2019-06-11 19:46] davidsh commented on #38457
@stephentoub @wfurt

[2019-06-11 19:47] stephentoub commented on #35907
Can you run `!dumpasync -stacks`?

[2019-06-11 19:49] karelz commented on #33710
@Jozkee another one for you ...

[2019-06-11 19:49] ericstj commented on #38176
That's already done. https://github.com/dotnet/corefx/pull/38343

[2019-06-11 19:52] ViktorHofer commented on #38176
No the workitem timeout is defined here: https://github.com/dotnet/corefx/blob/master/eng/sendtohelix.proj#L12

[2019-06-11 19:52] ViktorHofer commented on #38176
I will add it to the PR to unblock the hangs temporarily.

[2019-06-11 19:54] danmosemsft commented on #38130
This was fixed in VS.

[2019-06-11 19:54] #38130 closed

[2019-06-11 20:00] danmosemsft commented on #38176
Thanks. Maybe for ARM32 as well?

[2019-06-11 20:02] ViktorHofer commented on #38176
I didn't see timeout on ARM32?

[2019-06-11 20:05] wfurt commented on #37044
I'm making some progress. On the note above: If you add `cenamOperationClient.Close()` to GetSubscriberDetailsF() after response is received to close wfc, there are no lingering sockets at all @antonioortizpola
With old platform handlers, socket can be closed independently but now usual reference counting works and disposing HttpClient when not used can lead to delayed release of resources. So as

[2019-06-11 20:18] davidsh commented on #38219
Closing this since it is fixed in .NET Core 3.0.

[2019-06-11 20:18] #38219 closed

[2019-06-11 20:22] davidsh commented on #37927
@bartonjs

Who is "we" in this context? The bug seems like a client-side bug. So, the client isn't sending any intermediates to anyone. It would be a server that would presumably send some chain of server-side certs to the client.

Which "loop" are you referring to? Is this for a server-side or client-side operation?

[2019-06-11 20:23] jkotas commented on #38087
Is `MethodBase.GetReturnTypeNullableState()` even necessary? It is just a shortcut for `MethodInfo.ReturnParameter.GetNullableState()`.

[2019-06-11 20:24] krwq commented on #35907
@stephentoub:

<details>
<summary>dumpasync -stacks output</summary>

[code]

</details>

[2019-06-11 20:27] stephentoub commented on #35907
Thanks.  Based on that, and in particular this piece:
[code]
this is the same issue described here: https://github.com/dotnet/corefx/issues/38168#issuecomment-500878765

[2019-06-11 20:29] davidsh commented on #37607
@arkoc

The SocketsHttpHandler digest bug might be #37729 which is fixed with PR #38225.  You'll need to use our daily builds or try out .NET Core 3.0 Preview 7 next month for that fix.

[2019-06-11 20:37] benaadams commented on #34358
The `string[]` would convert to `Span<string>`.Length == 0` so be searching for a zero length sequence of strings, so like:

`"Hello".IndexOf(string.Empty)` == 0

If it was `strings.IndexOf((string)null)` then it would be looking for null and be like

`"Hello".IndexOf((char)'\0')` == -1

 So should be correct? /cc @GrabYourPitchforks @danmosemsft

There is an issue that IndexOfAny not doing right

[2019-06-11 20:39] krwq commented on #35907
I'll leave it for another night running and see if I'm more lucky this time

[2019-06-11 20:45] terrajobst commented on #36639
Notes from today:

**Callback attributes**

* **Why didn't we re-use the existing attributes?** We decided to not reuse the existing serialization attributes; this would mean that it's hard for consumers to figure which feature/attribute applies to which serialization framework.

* **Why are these attributes?** The general belief is that attributes are less invasive in the object model and it mirr

[2019-06-11 20:46] terrajobst commented on #38460
Closing, because we closed #36222 too.

[2019-06-11 20:46] #38460 closed

[2019-06-11 20:47] scalablecory commented on #38436
These features are not part of CoreFX; you may get better responses on Stack Overflow or over [on the ASP.NET repo](https://github.com/aspnet/AspNetCore). That said, this seems to be a [well](https://dotnetcoretutorials.com/2018/03/20/cannot-consume-scoped-service-from-singleton-a-lesson-in-asp-net-core-di-scopes/) [known](https://blog.markvincze.com/two-gotchas-with-scoped-and-singleton-dependenc

[2019-06-11 20:47] #38436 closed

[2019-06-11 20:56] #34422 closed

[2019-06-11 20:56] #38353 closed

[2019-06-11 21:01] stephentoub commented on #37695
Failed again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38459~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190611.35/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.SqlConnectionBasicTests~2FIntegratedAuthConnectionTest

[2019-06-11 21:13] ahsonkhan commented on #38372
@layomia, can you please work with @MarcoRossignoli to get this bug resolved? Thanks.

[2019-06-11 21:17] ahsonkhan commented on #38435
@YohDeadfall, we are shooting for 6/26 for the preview 7 code freeze. Please let us know if you can get the fix in for this before then (along with field support).

[2019-06-11 21:20] ahsonkhan commented on #38074
cc @bartonjs

[2019-06-11 21:25] ahsonkhan commented on #37522
@NinoFloris, is this issue still reproducible with the latest build (https://github.com/dotnet/core-setup#daily-builds)?

If so, please feel free to re-open and provide additional info on how to reproduce it.

[2019-06-11 21:25] #37522 closed

[2019-06-11 21:30] Priya91 opened #38467 "Https requests on linux distro fails with SSL error"
**.NET Core Version:**
2.1.9

**OS version and info:**
Debian GNU/Linux 10 (buster),
and just in case -- OpenSSL 1.1.1b

**Error:**

[code]

[2019-06-11 21:30] maciejw commented on #38219
...so this will not end up in 2.1 LTS I guess, you are right, this is not huge bug after all... I'll tell my OPS that we are abandoning 2.1 LTS and move on with 3.0 preview5 in production they will agree with this move without any hesitations...

[2019-06-11 21:31] rh78 commented on #38407
Hello. It occured again. But before I go into detail, here is what I've changed:

- When I reported this issue our Azure load balancer did TCP based health checks to HTTPS port - I thought this might be a problem - so I switched the Azure load balancer health checks to HTTP on HTTP URL/port
- I installed updated versions of LLDB to our servers, it is now LLDB 5.0.1

Now, what happened. It now occu

[2019-06-11 21:32] ahsonkhan commented on #37351
I have not seen this test fail in CI recently. I will try to repro locally, and if not, will close.

[2019-06-11 21:34] Anipik commented on #33710
I actually did this morning. sorry I forget to assign.
https://github.com/dotnet/corefx/pull/38468.

[2019-06-11 21:34] ahsonkhan commented on #33299
@adamsitnik, let me know if you are unable to port these tests over to dotnet/performance. It is important that we get these tests in by 6/26 to track regressions between releases.

[2019-06-11 21:35] davidsh commented on #38467
Debian GNU/Linux 10 (buster),
and just in case -- OpenSSL 1.1.1b

@bartonjs

[2019-06-11 21:53] jkotas commented on #38407
How many other threads are inside `__dl_iterate_phdr`? Are all of them stopped on `__lll_lock_wait` or is one of them making progress?

The problem may be that the exception handling on Linux too slow to keep up with an exception to be thrown for every request.

[2019-06-11 21:54] ahsonkhan commented on #37694
@maryamariyan, are you working on this issue for the 6/26 target?

[2019-06-11 21:57] ahsonkhan commented on #36168
@Anipik, are you working on this issue for the 6/26 target?

[2019-06-11 21:57] ericstj commented on #38109
Fixed in #38272

[2019-06-11 21:57] #38109 closed

[2019-06-11 21:57] bartonjs commented on #38074
Is the idea that the database building routine be in a try/catch where the catch modifies the exception object and then continues the same callstack/dispatch with `throw;`?  Next most obvious alternative: That in the catch it throws a new Exception, wrapping the old one, and the outer one has the path set.

Either of those seems doable; either by making the StackRow value also keep track of the St

[2019-06-11 21:59] scalablecory commented on #38421
Are there any specific use cases you're targeting that current `Uri` does not support?

[2019-06-11 22:04] bartonjs commented on #38467
Nah, you're loading 1.0 :).

Dupe of https://github.com/dotnet/corefx/issues/33179.

The three solutions:

1) Comment out the `ssl_conf` value in /etc/ssl/openssl.cnf
2) Uninstall OpenSSL 1.0.x
3) Set CLR_OPENSSL_VERSION_OVERRIDE=1.1 to force OpenSSL 1.1 to be used.  (2.1 prefers binding to OpenSSL 1.0.x because that's what it shipped with... it only uses 1.1 if explicitly told to, or if 1.0 isn't

[2019-06-11 22:04] #38467 closed

[2019-06-11 22:12] Anipik commented on #36630
I just verified and the version number for all these transport packages(for windows and non-windows pacakages) on preview 7 is non zero
This must have been fixed when we  started use sourceGenerator for generating all the facades.
![Capture](https://user-images.githubusercontent.com/10516582/59310278-c1548d80-8c5a-11e9-9e8b-1121ec58fc02.JPG)

The attached image is for rhel. I verified for linux as

[2019-06-11 22:12] #36630 closed

[2019-06-11 22:12] steveharter commented on #36168
No. However, due to JsonPATH changes the message is now:

```The JSON value could not be converted to System.String. Path: $ | LineNumber: 0 | BytePositionInLine: 1.```

IMO this is acceptable.

[2019-06-11 22:12] rh78 commented on #38407
All of them are stopped, same stack trace, same situation. None is making any progress.

We now disabled Dynatrace monitoring and also created an issue with Dynatrace referencing this one.

[2019-06-11 22:13] steveharter commented on #36168
Recommend closing or Future.

[2019-06-11 22:13] Anipik commented on #36168
Yeah I also think that we could just close this one .

[2019-06-11 22:14] #36168 closed

[2019-06-11 22:20] rh78 commented on #38407
What I think happens is:

Some issue occurs in our code. E.g. exception above.

It occurs here: https://github.com/restsharp/RestSharp/blob/master/RestSharp/Extensions/MiscExtensions.cs line 92 - it is immediately being catched and handled, so it should be a non-issue to do this.

BUT: Dynatrace wants to report that exception and blocks everything somehow, the code never goes beyond line 92.

Now

[2019-06-11 22:29] maryamariyan commented on #37694
yes. but I plan to start this on Thursday, 6/13.
I will unassign in case someone can pick this up earlier and can reassign back if it is available by then.

[2019-06-11 22:37] tarekgh commented on #38455
@tannergooding was right. ICU has changed the NumberGroupSeparator from "\u00a0" to "\u202f".

We have special cased handling "\u00a0" https://github.com/dotnet/coreclr/blob/96c8a1259f5605f52a4d08d804c5f0cdb59308b2/src/System.Private.CoreLib/shared/System/Number.Parsing.cs#L1903 so we may need to special case \u202f too :-(

[2019-06-11 22:39] stevenbrix commented on #36794
@ericstj i'm investigating this now. Is this related to https://github.com/dotnet/corefx/issues/34219? Are you suggesting that the API throws exceptions when it doesn't need to, or are there certain combinations here that don't work due to the seekability of the streams?

If there is a workaround, we are most likely willing to make the necessary changes to use them. With that being said, I'm still

[2019-06-11 22:53] Anipik commented on #37694
@ahsonkhan do we finally want to go with the "last value wins" approach ?

[2019-06-11 23:03] steveharter commented on #37485
Potential workarounds:
1) Set the property to some placeholder\singleton value which will get overridden during deserialize if the JSON contains the value
2) Implement the setter for the property(s) and set some private bool to track.
3) Implement a [custom converter](https://github.com/dotnet/corefx/issues/36639) and track whether the property exists in the JSON or not.

@JamesNK does Json.NET ha

[2019-06-11 23:04] steveharter commented on #28403
Proposing to move the to future.

[2019-06-11 23:07] ericstj commented on #36630
Yep, your work plus the change that built these from csproj rather than rewriting fixed it.

[2019-06-11 23:07] sebastienros commented on #37691
I don't think the issue has been fixed, running on ASP.NET I still get `271,737 RPS` for Windows and `39,740 RPS` for Linux. I checked as the benchmark that triggered the issue (data updates on Npgsql) didn't get any significant improvement.

[2019-06-11 23:08] sebastienros commented on #37691
FYI the command to run the benchmarks (if you know how to use our service).

[code]

[2019-06-11 23:13] sebastienros commented on #37691
And some event counters:

|  | Windows | Linux |
|-------------|------------|------------|
| ThreadPool Threads Count |     48 | 76 |
| Lock Contention (#/s) |        77 | 1,281 |
| ThreadPool Queue Length |      222 | 106 |
| ThreadPool Items (#/s) |      89,701| 581,628 |

[2019-06-11 23:19] JamesNK commented on #37485
No. There is `[Required]` that will throw an error if there is no JSON for that property, but nothing like this.

All three of the options you listed are good solutions.

[2019-06-11 23:19] tarekgh commented on #37691
@sebastienros just double checking, are you sure you were running with @adamsitnik fix?

[2019-06-11 23:21] sebastienros commented on #37691
Trace here https://microsoft-my.sharepoint.com/:u:/p/sebros/EbPBKcbM8ZtOg8oY1wF5GT4B4uOXzCM3-BJ5AwvdLFBYfw?e=n8rtb1

Yes, I verified the build I am using has it (currently the latest `3.0.0-preview7-27811-09`)

[2019-06-11 23:23] sebastienros commented on #37691
I can see two jumps in perf due to the two commits you both made, but nothing close to what would be comparable:

![image](https://user-images.githubusercontent.com/1165805/59313299-46dd3b00-8c65-11e9-83d4-16a284484da6.png)

[2019-06-11 23:26] ericstj commented on #36794
This is not related to either of those issues.  I opened this issue as a result of the internal discussion here:  https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-int/pullrequest/662?discussionId=5856&_a=files&path=%2Fsrc%2FMicrosoft.DotNet.Wpf%2Fsrc%2FWindowsBase%2FMS%2FInternal%2FIO%2FPackaging%2FPackagingExtensions.cs.

Here's the current code that's calling this:
https://github.com/dotnet

[2019-06-12 00:04] bcronce commented on #35054
Just wanted to mention that Enumerables are a form of  generator. By definition they cannot be empty, but you can check if they produce/generate **any**thing. I could see `ICollection` having `IsEmpty` added.

For correctness sake, don't conflate generators and collections. /opinion

[2019-06-12 00:28] buyaa-n commented on #38435
Another case, Serializer not parsing struct with an object havign single value correctly
Note: below example runs successflully when object is key value pair like `string json = @"{""MyObject"":{""One"":12}}";`
[code]

[2019-06-12 00:42] stephentoub commented on #38442
Dup of https://github.com/dotnet/corefx/issues/38443 (different failing test, but they both stem from the same PlatformDetection.ToVersion exception on Debian).

[2019-06-12 00:42] #38442 closed

[2019-06-12 00:46] stephentoub commented on #38407
Thanks.  If you don't mind, it'd be great to hear back from you after you hear from Dynatrace, in case others run into a similar situation and could learn from your efforts.

In the https example, the exception is occurring because the server has closed the connection.  We're expecting data related to establishing the SSL connection and instead we're getting back end-of-stream.  I can't see detail

[2019-06-12 00:46] #38407 closed

[2019-06-12 01:28] wcontayon commented on #38435
The exception is raised here
https://github.com/dotnet/corefx/blob/41998315ef96832cfe93d7e0eca451eb0d4a6f47/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs#L257-L265

On line **255**, the convertion produce sometimes, an IList with a fixed size, and the line **264** will raise the exception.
 I tried a sample solution by replacing the 264 with the code be

[2019-06-12 03:03] ahsonkhan commented on #38435
That is expected. The json string you passed in is invalid JSON. A JSON object cannot contain just a string value. It must have `property name: value` pairs.

[2019-06-12 03:17] ahsonkhan commented on #37694
Yes. Trying to validate up front for duplicate property names and disallowing it would likely be too expensive (in terms of perf), so I don't think throwing by default is worth the trade-off. @steveharter, let us know if you agree with that.

[2019-06-12 03:24] danmosemsft commented on #38435
Specifically must have completed CI and merged by noon.

[2019-06-12 03:46] AbhiAgarwal192 commented on #38342
Hi @krwq, If i set it up as startup project and run it using f5 i am able to run the test cases. But my concern was running it from the test explorer which is still not working for me.

[2019-06-12 03:48] Zenexer commented on #35054
@bcronce IEnumerable makes no assertions about where the data is coming from—it could be a generator, it could be a collection, or it could be something else entirely. Not only does it make no sense for IEnumerable to provide IsEmpty, it has no way of doing so because that test can’t be performed for many of the types that implement IEnumerable (particularly generators, as you mentioned).

This is

[2019-06-12 04:04] StephenMolloy opened #38472 "System.Runtime.Caching.MemoryCacheStatistics.SetTrimStats DivideByZeroException"
From VS Feedback for .Net 4.5.2 - https://developercommunity.visualstudio.com/content/problem/539608/net-452-systemruntimecachingmemorycachestatisticss.html

1. private readonly MemoryCache messageStore = new MemoryCache("Message Store");
2. Thread 1: this.messageStore.Add(messageId, message, new CacheItemPolicy { AbsoluteExpiration = DateTimeOffset.UtcNow.AddMinutes(5), RemovedCallback = argument

[2019-06-12 04:08] danmosemsft commented on #38472
@kkhurin?

[2019-06-12 05:31] krwq commented on #38342
@AbhiAgarwal192 this is a known issue: https://github.com/dotnet/corefx/issues/34314
I think everyone would like this to work but unfortunately it's a bit more complex to make that work with corefx vs other repos.

[2019-06-12 05:37] hyspace commented on #38421
@scalablecory
Generally there are 2 use cases we are targeting that current `Uri` does not support.

### We want to validate whether an URL is able to be opened in major browsers.

I would like to use same example in the issue:
[code]
Browser is able to open it, but `Uri` says it is invalid.

### We want to know if two URLs is actually pointing to same destination.
Example
[code]
Are those URLs sa

[2019-06-12 05:38] ericstj commented on #38395
I bet there are more collections than just this that could benefit from this treatment.  Dictionary, ConcurrentDictionary, SortedDictionary.

Might also make sense to consider IReadOnlyList and IReadOnlyCollection as possible constructor parameters where their corresponding R/W interfaces are already accepted.

[2019-06-12 06:01] #37119 closed

[2019-06-12 08:07] rh78 commented on #38407
Hello yes I will keep you updated if I learn something from Dynatrace. Thanks for helping!

[2019-06-12 08:07] adamsitnik commented on #37691
This is weird, I get sth around 90k RPS for Windows and 60k for Linux

[code]

[code]

[code]

[code]

[2019-06-12 08:10] ViktorHofer commented on #34963
Of course we don't want to do this for every project as it will result in more cross-compilation but for selected projects where it makes sense, sure.

[2019-06-12 08:15] tmds commented on #38457
@kjkrum can you use `Memory<T>.Slice` to do what you want?

[2019-06-12 08:18] adamsitnik commented on #37691
I have run the oldest preview7 that was available at dotnet-core feed (BTW why there are not preview6 packages there?) to make sure it did not contain https://github.com/dotnet/coreclr/pull/24973 :

[code]

[code]

The locks were all over the place:

![obraz](https://user-images.githubusercontent.com/6011991/59334308-7be79d00-8cfa-11e9-9d7f-8666b0dd4779.png)

With the fix:

[code]

[code]

The loc

[2019-06-12 08:21] adamsitnik commented on #37691
@sebastienros could you please take a look at the commands I run? The results we get for Windows are very different: 271k vs 90k RPS.

In the meantime, I am going to take a look at the two hottest method from the stack trace:

[code]

[2019-06-12 08:59] adamsitnik commented on #37691
Ok, it looks like `CriticalHandle` is what we need.

[2019-06-12 09:02] kierenj commented on #35445
As an update - I've captured some profiler tracers and sent to Azure support, who are investigating.

We can repro this easily enough on our production systems here.  I'd be happy to jump on a screen-share or allow access if anyone here wanted to dig in, or look at our code.

[2019-06-12 09:04] ViktorHofer commented on #38268
None of the comparer (https://referencesource.microsoft.com/#System/compmod/system/collections/specialized/nameobjectcollectionbase.cs,140) support serialization in .NET Core. It's not trivial to support these types as some of them have a dependency on `TextInfo` which itself has a dependency on some internal types that can't be made serializable.

The list of supported types can be found here: ht

[2019-06-12 09:06] AbhiAgarwal192 commented on #38342
@krwq Thank you!

[2019-06-12 10:06] vasicvuk commented on #37044
We have a same issue. All ports created with IHttpClientFactory stays in CLOSE_WAIT state

[2019-06-12 10:39] JanEggers commented on #38457
just use Pipelines.Sockets.Unofficial or have a look how to use the api there:

https://github.com/mgravell/Pipelines.Sockets.Unofficial/blob/master/src/Pipelines.Sockets.Unofficial/SocketConnection.Send.cs

[2019-06-12 10:48] adamsitnik commented on #37691
Ok, I was able to get 110k RPS using my local build of `System.Private.CoreLib.dll` passed via `--outputFile`.

[code]

![obraz](https://user-images.githubusercontent.com/6011991/59345323-27e7b300-8d10-11e9-8029-0191b5966140.png)

I have created a PR in CoreCLR: https://github.com/dotnet/coreclr/pull/25117 I hope it's not a very bad idea.

[2019-06-12 13:25] stephentoub commented on #37044
@glennc, @rynowak, is HttpClientFactory disposing of all handlers it creates?

@vasicvuk, are you disposing of all HttpResponseMessages you're given and response Streams you're given?

[2019-06-12 14:06] bartonjs commented on #37927
SslStream, in either server mode or mutual auth client mode.

https://github.com/dotnet/corefx/blob/c6d9138def9be7c92f33a2f44897841142058a96/src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs#L152-L175

If `chain.ChainStatus.Any(s => s.Flags == X509ChainStatusFlags.PartialChain)` then stop should be elements.Count, not elements.Count - 1.

[2019-06-12 14:10] arlm opened #38480 "Problem when comparing boolean values after IL conv.i1"
I am working on some tests for an DynamicMehtod IL generator called [Sigil ](/kevin-montrose/Sigil) and I hit some interesting behavior on comparing booleans:

The dynamic method (`Func<int, bool>`) looks like:
[code]

When I invoke this function using `1` everything goes as expected for `true`.  Although, when I invoke this function using `2` and start testing the results it happens that Visual S

[2019-06-12 15:00] benaadams commented on #37691
  | Windows | Linux
-- | -- | --
ThreadPool Items (#/s) | 89,701 | 581,628

That's an interesting difference...

[2019-06-12 15:05] ahsonkhan opened #38481 "GoAwayFrame_NoPendingStreams_ConnectionClosed failing with ObjectDisposedException"
From https://github.com/dotnet/corefx/pull/38306

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38306~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190612.4/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FGoAwayFrame_NoPendingStreams_ConnectionClosed

System.Net.Http.Functional.Tests.SocketsHttp

[2019-06-12 15:08] #38238 closed

[2019-06-12 15:09] stephentoub commented on #38168
After #38462, this no longer manifests as a hang and instead properly surfaces the underlying cause, so I'm closing this issue.  The underlying cause is now tracked by https://github.com/dotnet/corefx/issues/38481.
cc: @ahsonkhan

[2019-06-12 15:09] #38168 closed

[2019-06-12 15:25] stephentoub commented on #37691
Presumably coming from asynchronously completing socket operations that need to queue from the epoll thread back to the thread pool to run user code.

[2019-06-12 15:36] CoffeeFlux opened #38483 "ProcessStartInfo.Arguments follows Windows conventions on all platforms"
Related issue in Mono: https://github.com/mono/mono/issues/14724

It seems that currently in .NET Core, ProcessStartInfo.Arguments follows Windows argument conventions on all platforms. As shown in the linked issue, this leads to significant differences in common scenarios, single quotes being an easy example.

I wanted to open this issue to clarify whether that is intended, or if there's any chan

[2019-06-12 15:42] ajamrozek commented on #32024
My issue seemed related to using the same user across all pods in the cluster. Pro-tip: running as root isn't a good idea for more than just security concerns. Now that each pod has their own user,  my issue appears to be resolved.

[2019-06-12 16:00] tarekgh commented on #38342
closing this per discussion. @AbhiAgarwal192 thanks for the report and let's know if you still have any question.

[2019-06-12 16:00] #38342 closed

[2019-06-12 16:19] steveharter commented on #37694
Yes - the code should be changed to use last-value-wins via TryAdd or an indexer (which doesn't throw, unlike Add).

We could always add an opt-in option in the future to prevent duplicates.

[2019-06-12 16:37] stephentoub commented on #38481
Another, on Fedora:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38476~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190612.15/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FGoAwayFrame_NoPendingStreams_ConnectionClosed
[code]

[2019-06-12 16:37] ericstj commented on #37527
Closing this as the workaround is sufficient for now.  APICompat needs a feature to understand nullable.

[2019-06-12 16:37] #37527 closed

[2019-06-12 16:46] #31316 closed

[2019-06-12 16:50] krwq commented on #35907
Ok I think this time I got more reasonable stack:

<details>
<summary>dumpasync -stacks</summary>

[code]

</details>

eestack: https://gist.github.com/krwq/75348480c85241d4f5393e0287557c6b

[2019-06-12 16:52] Priya91 commented on #38467
@bartonjs My understanding was that irrespective of the openssl version loaded, .netcore should be compatible with the native implementation used.. Is this the case where .netcore is detecting openssl 1.0, when in fact it is loading 1.1, hence the mismatch? I don't understand why the user needs to do any configuration if he has both versions of openssl..

[2019-06-12 16:53] Anipik opened #38485 "No exception being thrown when truing to parse en empty object inside an array to an int array"
Adding a new test:
[code]
Finds the following failure cases:
[code]

[code]

cc @steveharter

[2019-06-12 16:57] stephentoub commented on #35907
@krwq, this output is from when the test suite has been hung for a long time / there's no activity?  It's odd to me to see async stacks like:
[code]
as that top frame should have theoretically completed and gone away after its timeout.

Do you still have the debugger attached?

[2019-06-12 16:59] buyaa-n commented on #38435
@wcontayon i am not that familiar with the code base, so not sure why that llist has fixed size or if it is really need to be fixed size. But creating new list to add a new value is most likely not an option.

@ahsonkhan yes you are right, never mind

[2019-06-12 17:00] krwq commented on #35907
@stephentoub yes, it's still attached

[2019-06-12 17:48] stephentoub commented on #35907
Can you do `dumpasync -stacks -fields`?  It'll be a lot more output, but it'll show the values of everything in all of the state machines.

[2019-06-12 17:49] sebastienros commented on #37691
This is exactly how a fix should be validated, testing your local changes on the scenario before sending the PR, that's awesome!

Yeah they are perfect, I was just using the TechEmpower machines which are more beefy, and were probably more prone to locking as it handles more load. The fact you got faster on Linux than Windows means it's really fixed. You can also try `--collect-counters` to verify

[2019-06-12 17:51] sebastienros commented on #37691
FYI for everyone, I added the support for Event Counters on the benchmarking service (--collect-counters) and it's tracked with every ASP.NET scenario now. We'll get continuous charts for these numbers too now.

Sneak peek:
[code]

[2019-06-12 18:01] krwq commented on #35907
@stephentoub
`dumpasync -stacks -fields`: https://gist.github.com/krwq/1bc57b833e5a6f8f3c6096d9d7babefb

[2019-06-12 18:12] steveharter commented on #37694
Also offline discussion with @Anipik:
- Determine semantics of Json.NET for duplicate properties. Does it throw or allow?
- If it allows, for collections\dictionaries what semantics does it have? Replace or add to the current (previous) collection\dictionary.

Currently I'm assuming:
- Allow duplicate properties
- Add semantics to previous list\collection

[2019-06-12 18:13] steveharter commented on #37694
Also we should see a perf improvement for dictionaries - please run some perf numbers for the dictionary change (@layomia added some recent benchmarks) and report on that. Thanks!

[2019-06-12 18:31] lmolkova opened #38486 "Activity should generate new random ids when receives invalid W3C traceId and spanId"
https://www.w3.org/TR/trace-context/#trace-id

`Implementations HAVE TO ignore the traceparent when the trace-id is invalid. For instance, if it contains non-allowed characters.`

https://www.w3.org/TR/trace-context/#parent-id

`Implementations HAVE TO ignore the traceparent when the parent-id is invalid. For instance, if it contains non lower case hex characters.`

Now, when incoming traceId or s

[2019-06-12 19:06] WinCPP commented on #36125
@ahsonkhan Additions for (Try)Get for byte, sbyte, short, ushort are almost ready.
1. IIUC we don't want to do the `Write` APIs. Please confirm.
2. Do we have conclusion on the (Try)GetChar API?
3. I see that JsonDocument doesn't have equivalent `TryGetValue` APIs. (Noticed it when going through changes for #37838). So do we want to have them and if yes, in this issue or in separate issue?

[2019-06-12 19:23] KKhurin commented on #38472
[Steve](StephenMolloy) and I talked about this - this is a copy/paste bug that made is all the way from System.Web.Caching. Steve is the new owner of S.R.Caching so he'll come up with ways to fix it in as many products as possible (or at least find workarounds).

[2019-06-12 19:27] stephentoub commented on #38180
Failed again:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38484~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190612.28/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.Diagnostics.Tests.PerformanceCounterTests~2FPerformanceCounter_NextValue_ProcessorCounter
[code]

[2019-06-12 19:29] danmosemsft commented on #38472
Thanks @kkhurin and I see he even updated area owner.

[2019-06-12 19:29] danmosemsft commented on #38472
cc @karelz to update his bug reminder tool.

[2019-06-12 20:01] steveharter commented on #36639
Seemingly it is possible to use a converter implementation to do the before\after on read\write instead of OnXXX methods. However, calling back into the serializer for the same type will lead to infinite loop since the same converter will be called. We need to detect this somehow in general (as to not throw StackOverflow and instead throw JsonException or InvalidOperation), but using the converter

[2019-06-12 20:10] kjkrum commented on #38457
@tmds I thought of that, but it would introduce unnecessary allocations. Instead, I changed what I was trying to do to better fit the existing API. If I received half a message, I was going to leave it in the SAEA's buffer until I received the rest of it, so the next call to receive would require a different offset. But now I'm just requiring that the consumer always copy all the data into its own

[2019-06-12 20:10] #38457 closed

[2019-06-12 20:12] stephentoub commented on #38457
`Memory<T>` is a struct.  What allocations are you concerned with?

[2019-06-12 20:13] YohDeadfall commented on #38435
Sorry for not answering early, was very busy. I will take a look at it tomorrow and fix ASAP.

[2019-06-12 20:40] buyaa-n opened #38490 "IndexOutOfRangeException on parsing struct having a class property"
Note: 1. Serialization part producing correct/valid json., Error happening on parsing it back.
2. When the row 3 `testObject.MySampleTestClass = new SimpleTestClass  { MyString = "Hello", MyDouble = 3.14 } ;` is not set there is no error, test class: [TestClasses.SimpleTestStruct.cs.txt](https://github.com/dotnet/corefx/files/3312576/TestClasses.SimpleTestStruct.cs.txt)
[code]

[2019-06-12 20:43] kjkrum commented on #38457
If I replaced the SAEA's `MemoryBuffer` with a new slice before every async operation, the new `Memory` would be stored on the heap and the previous one would have to be GCed, right? Anyway, it's a moot point since I realized I don't need to do that. (I was trying to treat the SAEA's buffer like Java's `ByteBuffer`, with flip and compact operations.)

[2019-06-12 20:45] stephentoub commented on #38457
No, `Memory<T>` is a struct; creating a new one does not involve a heap allocation.

[2019-06-12 21:16] #38392 closed

[2019-06-12 21:19] ryanbrandenburg opened #38492 "Implement a concept of "Required" properties"
### Current situation
There's no way to indicate that if an object doesn't have a particular property that serialization should fail.

For example:
[code]
[code]

Trying to deserialize the above json as a `Person` will succeed, even though it's been indicated that the name attribute is required, and is missing.

### Describe the solution you'd like
System.Text.Json should respect either `System.Co

[2019-06-12 21:19] joshfree commented on #33485
Marking the bug with `needs more info` and closing.  @YetiAnt feel free to reactivate with more info that @steveharter requested.  Thank you.

[2019-06-12 21:19] #33485 closed

[2019-06-12 21:20] joshfree commented on #33806
Marking as `up-for-grabs`

[2019-06-12 21:21] joshfree commented on #30820
@ViktorHofer can you confirm that you're handling this for Preview 7?

[2019-06-12 21:24] danmosemsft commented on #33982
@pgovind this is a quick one

[2019-06-12 21:28] ericstj commented on #30820
@ViktorHofer's PR will handle this.

[2019-06-12 21:38] Clockwork-Muse commented on #38492
.... if `Name` is a non-nullable reference type, wouldn't that indicate that it was required?

So:
[code]
would fail the deserialize, but:
[code]
... would let it succeed.

[2019-06-12 21:39] joshfree commented on #34454
@tarekgh could you PTAL

[2019-06-12 21:51] kjkrum commented on #38457
@stephentoub But it _can_ be stored on the heap, and I think it will be if it's a field of an object.

[2019-06-12 21:53] scalablecory commented on #38492
If we implement `Required` we'd also want to implement all the other validation attributes. I'm not sure that System.Text.Json is the correct place to do this.

[2019-06-12 21:54] bartonjs commented on #38467
When OpenSSL 1.0 is loaded it loads the config file (/etc/ssl/openssl.cnf), but Debian's default configuration file now has an option in it that OpenSSL 1.0 says is invalid.

.NET works with OpenSSL 1.0 or 1.1; in this case, Debian's OpenSSL 1.0 doesn't work with Debian's (default) OpenSSL config file.

[2019-06-12 22:05] pranavkm commented on #38492
Having another look at https://github.com/dotnet/corefx/issues/37485, it looks like there's already another issue that is effectively asking for the same thing. Perhaps we should just close this and use the other issue to track work here?

[2019-06-12 22:06] bartonjs commented on #37595
Given that this isn't new in 3.0 I'm moving to Future (PRs while 3.0 is still open are still welcome).

[2019-06-12 22:08] bartonjs commented on #33278
Given that this isn't new in 3.0 I'm moving to Future (PRs while 3.0 is still open are still welcome).

[2019-06-12 22:19] bartonjs commented on #30561
Given that no one has complained about this, and Core has done this for 5 releases, closing this issue.

[2019-06-12 22:19] #30561 closed

[2019-06-12 22:24] antonioortizpola commented on #37044
@wfurt, thanks a lot for your investigation! I will change the code so the service closes the connection.

I am glad the repository could help to replicate the problem and I hope it could help others.

Please correct me if I am wrong, but I think the main problems are:

- People who is not using HttpClient correctly.
- People who use libraries that use sockets or HttpClient and make assumptions ba

[2019-06-12 22:29] rynowak commented on #36639
These are some of my raw notes from design discussions that we had when coming up with the proposal for converters. I'm including these because @ahsonkhan thought they might be useful. I've cut samples and API designs from my notes, but the top post here is the authoritative place for that info.

Some of these notes include details or decisions that have already been revised, so consider yourself

[2019-06-12 22:29] bartonjs commented on #29779
Given that 509Certificate2.Verify() hasn't changed implementation in a long time, I'm okay with letting this test stay off for the rest of 3.0.

Leaving the issue open to decide if we just outright delete it, or come up with a clever way of keeping it passing (given that it depends on a lot of system state, and time)

[2019-06-12 22:47] wfurt commented on #37044
The repro was extremely useful, thanks  @antonioortizpola.

In either case we should not leak OS resource and we do right now in some cases with 2.2 code.
Disposing explicitly is best as everything is released when not needed. In the other case socket can stay opened until GC kicks in and that may take some time depending on many variables.

[2019-06-12 22:51] pranavkm commented on #37485
@JamesNK, did you mean [JsonPropertyRequired](https://www.newtonsoft.com/json/help/html/JsonPropertyRequired.htm)

MVC users have often asked for a way to identify when a property isn't on the wire. While @steveharter's solutions are acceptable for the trivial cases, it really doesn't scale well if you want the behavior to apply in general. Plus, you're forced to manually perform the checks which

[2019-06-12 22:55] terrajobst commented on #36639
Raw notes from today:

* @KrzysztofCwalina: send some sample code how the Azure SDK would like to convert types?
    - Most types are classes, some are structs.
    - Most of the time, they are in collections?
* Converters are an "escape hatch" to handle serialization/deserialization
    - We need a way to customize the behavior without having to modify the type
    - We also want a design that al

[2019-06-12 23:36] ryanbrandenburg opened #38494 "Path of ModelState is not informative in certain cases"
Take the following example:

[code]

This will produce an `ex.Path` of `$` and an `ex.Message` of `The JSON value could not be converted to System.Byte[]. Path: $ | LineNumber: 0 | BytePositionInLine: 1.`, neither of which is particularly informative about what went wrong. The particular information I think would be helpful is the Path of the specific element that failed to convert and the BytePos

[2019-06-12 23:43] bartonjs commented on #31746
It's possible, with the new Pkcs12Info class and ImportPkcs8PrivateKey/ImportEncryptedPkcs8PrivateKey to overcome this manually.

I was hoping to replace our PFX code with a manual importer for the 3.0 release, but we've just run out of time.  Hopefully this was just a bug in OpenSSL and they've fixed it (particularly since we've gained support for OpenSSL 1.1.x this release (and backported to 2.1

[2019-06-12 23:51] wfurt commented on #35445
@davidsh may have some recommendations what to look for.

[2019-06-12 23:55] #38422 closed

[2019-06-12 23:58] Anipik commented on #37694
Yes it does not throw, it follows last win approach

For collections it just replaces the collections and for dictionaries it concatenates the keys. the behavior is same for System.Text.Json

I ran the performance numbers. The change improves the performance by 5-8 percent for dictionaries and  for object the change doesn't affect the performance. (Even with the linq)

The size of the object and d

[2019-06-13 00:03] scalablecory commented on #37673
I'm betting the error you're getting is an optimistic concurrency check. If so, it should be safe to call in a loop without negatively impacting the system. Are you able to try it and see?

Will throw out some feelers to get a more specific answer.

[2019-06-13 00:12] LLRDevGirl opened #38495 "Could not load file or assembly 'System.Net.Http with .NET 4.6.1"
System.Net team and @karelz , met you at Build conference and you asked me to submit an issue.  I have 5 webjobs having this problem.  I'm describing only **one** of the five webjob issues here.  **Need your help figuring out how to fix so webjob can be deployed with DevOps Pipeline.**
Thank you,
Myrna

OrderSync project - .NET 4.6.1., project builds with warnings in Visual Studio.  Our CI/CD pipe

[2019-06-13 00:17] karelz commented on #38495
First question: Is it possible for you to target (and run on) 4.7.1+? We believe all similar issues are fixed in that release.

@joperezr can you please help take a look?

[2019-06-13 00:35] stephentoub commented on #37044
There are two issues here:
1. There's a bug in Sockets on Unix where if you allow a connected Socket to be collected without it having been disposed, it'll leak the underlying handle.
2. Consumers of HttpClient are sometimes not using it correctly, leading to the above bug getting triggered.

Fixing either of those is technically sufficient to address this issue, although even when (1) is fixed, i

[2019-06-13 00:38] stephentoub commented on #38457
@kjkrum, the `Memory<T>` is stored as a field on the `SocketAsyncEventArgs` class.  Yes, that `SocketAsyncEventArgs` is on the heap, but no matter how many times you overwrite the `Memory<T>` that's stored on it, you're not allocating anything beyond that initial allocation for the `SocketAsyncEventArgs` instance.  In other words, this code:
[code]
is allocation-free.

[2019-06-13 00:50] ahsonkhan commented on #38492
I believe we should have the support for `Required` (similar to how we have the `JsonIgnore` attribute), but this will likely be something we would address in the future.

This issue talks more directly to the issue at hand, so I would prefer keeping this one as a feature request.

cc @steveharter

[2019-06-13 02:21] iexapl commented on #36391
I hope to fix the following:
1, I want to make no word-for-word drawing, all the text can be successfully drawn on the canvas;
2, linux can be wrapped; 3, when drawing round, linux under no gray arc edge

[2019-06-13 04:22] ericstj commented on #38445
Fixed in #38458

[2019-06-13 04:22] #38445 closed

[2019-06-13 04:24] danmosemsft commented on #38443
@AriNuer can you please update this issue when you see this happen again? It should have more diagnostics.

[2019-06-13 04:29] ericstj commented on #38253
/cc @JeremyKuhne

[2019-06-13 04:50] danmosemsft commented on #38443
Never mind, I just looked in Kusto. Here you are @stephentoub . It just doesn't have ID or VERSION_ID in /etc/os-release.
[code]
[code]

[2019-06-13 04:58] AArnott opened #38497 "Debug.Fail crashes .netcoreapp2.x and 3.0 processes"
Create an xunit csproj test project with these targets:
[code]

Define the following test method:
[code]

Run the tests using `dotnet test` or Test Explorer.

**Expected**

All tests pass

**Actual**

The test passes on .netcoreapp1.0, but *crashes the process* for .netcoreapp2.0, 2.1, 2.2, and 3.0.

See repro project: [XUnitTestProject1.zip](https://github.com/dotnet/corefx/files/3284264/XUnitTes

[2019-06-13 05:18] ahsonkhan commented on #38492
From @pranavkm (https://github.com/dotnet/corefx/issues/37485#issuecomment-501482970):

[2019-06-13 05:19] ahsonkhan commented on #37485
I believe @steveharter has provided the relevant info for the question being posed in this issue. Hence closing. The discussion related to the `[Required]` property can continue in https://github.com/dotnet/corefx/issues/38492.

Thanks.

[2019-06-13 05:19] #37485 closed

[2019-06-13 05:59] ahsonkhan commented on #34663
Fixed in https://github.com/dotnet/corefx/pull/38275

[2019-06-13 05:59] #34663 closed

[2019-06-13 06:24] sgf commented on #13329
im always against using zip/unzip solution for  **Single exe self contained feature**.
because this will cause the next issue.
**How to reduce the Single exe file size !**

[2019-06-13 06:44] ahsonkhan commented on #38494
The reason for this issue is that we only deserialize Base-64 encoded strings as byte[] (and also serialize byte[] as Base-64 encoded JSON strings). In this case, the deserializer expected a JSON string (since when it sees a byte[] in the model, it maps to the byte-array converter which expects base64). See https://github.com/dotnet/corefx/issues/36974.

So, looking at the payload as a whole, and

[2019-06-13 08:09] zrajnai commented on #18789
We are also running into this problem. This seems to be an easily reproducible issue (base on the code above).
Is there a plan to fix this in the foreseeable future (perhaps as a new System.Composition nuget, even before the next Core release)?

[2019-06-13 08:32] AriNuer commented on #38443
same test `System.Diagnostics.Tests.ProcessTests/LongProcessNamesAreSupported ` has failed again with
similar exceptions.

Message :
[code]

Stack Trace :
[code]
Build: -[20190612.69](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190612.69)(Master)

Failing configurations:

- Debian.10.Amd64.Open-x64-Release

Details:
htt

[2019-06-13 08:51] MarcoRossignoli commented on #38178
@ahsonkhan seems ok now https://github.com/dotnet/corefx/pull/38411

[2019-06-13 08:53] stephentoub commented on #38497
It's Environment.FailFast.

In .NET Core 1.0, it actually did throw an exception, which as you say was unexpected. That was fixed to fall fast, the same as in netfx.

[2019-06-13 08:55] AriNuer opened #38498 "Test failure: System.Security.Cryptography.Algorithms.Tests.AesCcmTests/AesCcmNistTests(testCase: NIST CCM Test Vectors - DVPT128.rsp - 0 (128/56/0/32/0))"
Test `System.Security.Cryptography.Algorithms.Tests.AesCcmTests/AesCcmNistTests(testCase: NIST CCM Test Vectors - DVPT128.rsp - 0 (128/56/0/32/0)) ` has failed.

Message :
[code]

Stack Trace :
[code]

Build: -[20190612.69](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190612.69)(Master)

Failing configurations:

- OSX.10

[2019-06-13 08:57] stephentoub commented on #38498
Build or deployment problem?
cc: @bartonjs

[2019-06-13 09:06] AriNuer commented on #36330
Failed again:
[code]
Message :
[code]
Stack Trace :
[code]
Details:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190612.69/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/System.Security.Cryptography.X509Certificates.Tests.CertificateCreation.PrivateKeyAssociationTests~2FAssociatePersistedKey_

[2019-06-13 09:34] RUSshy commented on #13329
There shouldn't be a debate, this is time waste, nobody asked for zip/unzip the whole thing, and yet they came with this design and wasted their time and ours

People ask for single executable and AOT, stop waste our time Microsoft

[2019-06-13 09:34] vasicvuk commented on #37044
@stephentoub  Hi,
We are using HttpClientFactory and using for HttpResponseMessages. So as i understand issue is that socket is not beign disposed after some time if there is no strict dispose in code. I guess that **using** block will fix this?

[2019-06-13 09:41] tmds commented on #37044
yes, a using block causes Disposed to be called.

[2019-06-13 10:02] jackwangchs opened #38500 "Access is denied: 'OpenQA.Selenium.Remote.DesiredCapabilities'. -> AppiumOptions.ctor()"
To solve the port leaking issue https://github.com/SeleniumHQ/selenium/issues/4162, I upgrade the selenium to v4.0.0a1 and use AppiumOptions. However, it always reports 'Access is denied' error.

The driver setup is like this:
[code]
Any solution on that?

[2019-06-13 10:47] jnm2 commented on #13329
I explicitly want single-file *without* AOT. I prefer the ability to JIT so that I can use reflection, generics, and runtime-generated code.

[2019-06-13 11:27] cup commented on #13329
@jnm2 then this issue seems wholly unsuited to you needs. Perhaps you could post another

[2019-06-13 11:46] khellang commented on #36639
I've just come across a scenario, porting some code away from Newtonsoft.Json, where I really need an equivalent to `JsonTextWriter.WritePropertyName` on `Utf8JsonWriter`. I can't see any follow-up on this particular API after https://github.com/dotnet/corefx/issues/36639#issuecomment-500748970. Has this been considered?

[2019-06-13 11:50] svick commented on #38500
What makes you think this is a corefx issue?

[2019-06-13 11:59] dbeinder commented on #37673
I have not been successful in triggering this behavior by creating artificial loads - but I have now started a test program that will keep polling until it gets the exception and will then count the number of retries and the time it takes on a server where I have seen the issue before.

[2019-06-13 12:17] jackwangchs commented on #38500
Just open the ticket when checking the issue of Selenium branch, didn't notice it open in there. If you don't think it comes from corefx, just let me know.

[2019-06-13 12:21] wcontayon commented on #38435
I suspected that too, but I was not sure, thanks @buyaa-n

[2019-06-13 12:22] andtii commented on #33346
@sebastienros Any updates on this? We also see memory beeing eaten up on .net core 2.2. We are running in linux container on aks

[2019-06-13 12:58] AArnott commented on #38497
But Netfx doesn't crash in this scenario. It only crashes if the assert dialog appears and the user clicks Abort, I think.
In netcore2+, it's crashing immediately without a dialog.

Folks have used Debug.Assert for "soft" warnings and debugger launch/break assistants on Netfx for years. But netcoreapp2.1 seems to crash immediately without a VS debugger even being given a chance to attach or break.

[2019-06-13 12:59] HermanEldering opened #38507 "Extend usage of DisplayNameAttribute"
DisplayNameAttribute currently only has the UsageAttribute targets shown below. This limits how the DisplayNameAttribute can be used. The targets should be extended to allow specifying display names for enums and structs.

`[AttributeUsage(AttributeTargets.Property | AttributeTargets.Event | AttributeTargets.Class | AttributeTargets.Method)]`

### Rationale and usage
It can be useful to define Dis

[2019-06-13 13:00] ViktorHofer opened #38508 "Investigate feasibility of enabling deps.json generation for test projects"
Issues with enabling the deps.json file generation:

- AssemblyLoadContext will behave differently
- Loading copied assemblies that aren't in the deps.json file will fail
- others...

cc @ericstj

[2019-06-13 13:07] RUSshy commented on #13329
i guess MS don't want to hear, ok

[2019-06-13 13:17] PRIMETSS commented on #13329
Not sure I understand, as if its Zipped its already compressed. Or are you meaning reduction of redundant dependencies and therefore reduced size before compression?

[2019-06-13 13:20] PRIMETSS commented on #13329
Not understanding the negativity. Ive not used it yet other than quick test. But seems the single executable works well for the situation deploying an app to client, or as a CLI tool. Which is where I believe this feature is useful. Outside of that, in Dev or other environment I dont see a use case for it, so what they have done works fine as a solution for now..

[2019-06-13 13:30] stephentoub commented on #38497
A GUI dialog is tracked by https://github.com/dotnet/coreclr/issues/20973.

You can do that in .NET Core 3.0, e.g.
[code]
prints out:
[code]

cc: @danmosemsft, @maryamariyan, @jkotas

[2019-06-13 14:03] bartonjs commented on #38498
`dci-mac-build-011` ran the OpenSSL tests successfully, so at least one of the 10.14 machines has it; but the failing CCM and GCM tests in this run ran on `dci-mac-build-107`.

@MattGal What's the best way for me to ask if dci-mac-build-107 is missing the OpenSSL prereq? :)

[2019-06-13 14:19] steveharter commented on #35755
Closing this as by design.

[2019-06-13 14:19] #35755 closed

[2019-06-13 14:24] AArnott commented on #38497
Ooh, does that mean #16596 is fixed in .NET Core 3.0? Perhaps the issue should be re-resolved as such. That's great news!

[2019-06-13 14:24] steveharter commented on #38492
Required was discussed but didn't meet the bar for 3.0 in lieu of other features. A workaround is to create a custom converter (pending feature) and override the Read method.

[2019-06-13 15:02] jnm2 commented on #13329
@RUSshy

On the contrary, they are asking for and collecting a wide range of use cases which you can see in related threads. Based on your statement I think you might have mistaken me for Microsoft. I'm just a community member like yourself who does not speak for Microsoft in any capacity.

[2019-06-13 15:02] steveharter commented on #36639
@khellang yes a `writer.PropertyName` feature is planned. cc @ahsonkhan

[2019-06-13 15:11] sgf commented on #13329
if u use WebApi or MVC or ConsoleApp write an HelloWorld! ur well know what my mean.
the packed file is too large.its bring too much code but never will be execute.
IL-Merge ways will Reduce unused code branch.

[2019-06-13 15:20] tmds commented on #38443
Can someone `cat /etc/os-release` on the Debian.10 VM?

The docker image seems to have an ok VERSION_ID:
[code]

[2019-06-13 15:21] tmds commented on #38443
I had missed this comment from @danmosemsft . Since the docker image looks fine, maybe an issue with the version installed in the VM?

[2019-06-13 15:32] PRIMETSS commented on #13329
Yes sure I did a console HelloWorld and yes sure its 68K
![Capture](https://user-images.githubusercontent.com/11331370/59445430-d25df400-8e3e-11e9-8c86-62cea82b9111.JPG)
The none self contained was 67K
But its C# not assembly. If I wanted a <1K HelloWorld then why use c#?
Larger apps use more of the framework, so at a point its more custom code than framework..
Are we really worried about a few 10

[2019-06-13 15:33] pranavkm commented on #38492
Fair enough. I think we're ok with that for this release. We can keep this issue around to track the feature work for the Future.

[2019-06-13 15:39] swaroop-sridhar commented on #13329
@sgf there are two somewhat separate issues here:
* How to reduce the code for an app?
* How to package the app into a single file?

For code-reduction, there are further several techniques
* Merging IL: This is not for all apps, because it loses assembly identity in the process. This is not a goal for the current single-exe work.
* Trimming unused IL: The [ILLinker](https://github.com/mono/linker

[2019-06-13 15:40] MarcoRossignoli commented on #37120
I did some more tests and seem related to usage with impersonation of different user(also on same machine, no domain)

.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview5-011568
 Commit:    b487ff10aa

[code]
[code]

For async scenario `GetAddrInfoExW`  is used because supports async operations `GetAddrInfoW` doesn't.

[2019-06-13 15:41] pranavkm opened #38510 "Explore performance improvements when JsonSerializerOptions.PropertyNameCaseInsensitive is set"
ASP.NET Core uses camel case serialization for it's serialization, but needs to be able to read content sent using `HttpClient.PostAsJsonAsync` which uses property casing. MVC supports this by setting `PropertyNameCaseInsensitive = true`. This works as expected, however has a significant performance penalty for deserialization:

![image](https://user-images.githubusercontent.com/1165805/58991269-b

[2019-06-13 15:41] danmosemsft commented on #38443
I'm confused, the docker image is what the tests run on isn't it? @wfurt , thoughts?

We could easily tweak https://github.com/dotnet/corefx/pull/38463 to also include the full text of /etc/os-release in the exception it throws.

[2019-06-13 16:17] sgf commented on #13329
sorry as ur img shown,with self contianed.Thats 68626KB,its about 68mb=68KK,not only 68KB!!!

[2019-06-13 16:48] joshfree commented on #38498
It would be nice if the tests printed this diagnostic information in the event of this class of failure.

[2019-06-13 16:50] stephentoub commented on #38498
As a bit of a hack, we print out a bunch of diagnostic data in:
https://github.com/dotnet/corefx/blob/5955ee2583d4509d37ecf55243e9e3c9af128487/src/System.Runtime.InteropServices.RuntimeInformation/tests/DescriptionNameTests.cs#L16
This could be added to the mix.

[2019-06-13 17:02] ryanbrandenburg commented on #38494
Given that context this seems reasonable to me. I don't have a "real" scenario to need this behavior, it's just something I noticed while writing tests for one of our components that uses System.Text.Json. Feel free to close this out.

[2019-06-13 17:04] MattGal commented on #38498
@bartonjs best way is to ask me and I'll look at the machine (looking)

[2019-06-13 17:05] layomia commented on #38372
Thanks for your insight, Marco. This is indeed the problem. We need to first check if we can cast. I have a fix in https://github.com/dotnet/corefx/pull/38512. Please let me know if you have further thoughts.

[2019-06-13 17:09] Anipik commented on #37694
I was earlier getting a compile error that "Not able to convert IO.Stream to generic type parameter"
but for some reason its no logger exists. i will try to debug why it occured in the firstplace

[2019-06-13 17:10] #38363 closed

[2019-06-13 17:19] MattGal commented on #38498
@bartonjs looks like this isn't explicitly added as an artifact and 011 was an older machine (machines are now auto-configured and due to a strange set of circumstances I can't even log into one) https://helix.dot.net/api/2018-03-14/info/queues/osx.1014.amd64.open .  I filed https://github.com/dotnet/core-eng/issues/6702 to track updating this, whoever takes it will want some details about .NET Co

[2019-06-13 17:40] JeremyKuhne commented on #38510
@pranavkm Can you provide more details on the inputs/outputs here?

[2019-06-13 18:21] pranavkm commented on #38510
Json payload: https://github.com/aspnet/Benchmarks/blob/master/scripts/mvcjsoninput.lua#L2-L15 (repeated 8x times).

Type being deserialized: https://github.com/aspnet/Benchmarks/blob/master/src/Benchmarks/Controllers/HomeController.cs#L79-L96

Interestingly the test input is camel-cased because the benchmark was written prior to the `PropertyNameCaseInsensitive` change was made.

[2019-06-13 18:30] layomia opened #38521 "Support (de)serializing types that implement `IDictionary` and `IDictionary<string, TValue>` without hint of implemented type"
e.g. Given

[code]

After https://github.com/dotnet/corefx/pull/38512 is merged, this will work:
[code]

This doesn't work
[code]

[2019-06-13 19:28] yatli opened #38522 "NuGet package `microsoft.netcore.app` version 3.0+ removes reference assemblies"
In 2.x versions we have, for example, `ref\netcoreapp2.2\netstandard.dll` -- that's easy to understand, and we can just feed the assemblies in this folder to the compiler services for type checking etc.
But now in 3.0 preview packages this folder is gone. The compiler service complains about missing types.

Where should we look now?

[2019-06-13 19:47] davidfowl opened #38523 "Add support for asynchronously serializing IAsyncEnumerable<T>"
It would serialize to a JSON array but in a streaming manner. This would be very useful for things like MVC that want to support returning entity framework queries (which implement IAsyncEnumerable) to the response steam without buffering the entire enumeration first (which is what is currently being implemented https://github.com/aspnet/AspNetCore/pull/11118/files).

[2019-06-13 19:52] #30812 closed

[2019-06-13 19:52] #30820 closed

[2019-06-13 19:58] tquerec commented on #37127
duplicate of #34730

[2019-06-13 20:06] #37127 closed

[2019-06-13 20:22] wtgodbe commented on #38522
I believe the new location for these bits is the `Microsoft.NetCore.App.Ref` package - @dagood can you confirm?

[2019-06-13 20:31] dagood commented on #38522
Yes, in 3.0, `Microsoft.NETCore.App` is no longer the entry point to grab a framework/runtime. If you need to obtain ref assemblies as a package, that's `Microsoft.NetCore.App.Ref`, but if you install the SDK it's already installed at e.g. `C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Ref\3.0.0-preview6-27804-01`. (That's what projects compile against now.) https://github.com/dotnet/designs

[2019-06-13 20:57] joperezr commented on #38495
Actually, all these issues were fixed in 4.7.2, so it'd be better to target 4.7.2 if possible.

@LLRDevGirl I need a bit more info in order to figure out what is going on. Can you please provide:
 - An msbuild.binlog of your project. In order to produce one, simply run the following on a developer command prompt: `msbuild yourSolution.sln /t:rebuild /bl:msbuild.binlog` which will generate a msbuil

[2019-06-13 21:04] stephentoub commented on #38497
Yes.  On .NET Core 3.0 that example outputs:
[code]

[2019-06-13 21:04] stephentoub commented on #16596
This was addressed for .NET Core 3.0.

[2019-06-13 21:25] stephentoub commented on #37989
Also failed on .NET Core on Windows 7:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38506~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190613.12/workItem/System.Runtime.Caching.Tests/analysis/xunit/MonoTests.System.Runtime.Caching.MemoryCacheTest~2FContains
[code]

[2019-06-13 21:27] stephentoub commented on #29166
Another failure here, on netfx:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38506~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190613.12/workItem/Microsoft.Win32.SystemEvents.Tests/wilogs
[code]

[2019-06-13 21:34] Priya91 commented on #38467
Hmm, which stable version of .NETCore loads OpenSSL 1.1 by default? So that we can upgrade our app to that version, .NET Core 3.0 is still in preview mode, hence we cannot upgrade to that per the release rules.

[2019-06-13 21:41] rwkarg opened #38526 "[System.Text.Json] Write to pooled array(s)"
I'm working on a Tcp server to talk to a legacy service and I need to serialize an object to bytes to be eventually written to a PipeWriter.
I'm using `System.Text.Json.Serialization.JsonSerializer`

The `Envelope` type has a string message type and the json bytes of the payload. I currently represent this as a type similar to the following:
[code]
This works alright for deserializing off the wire

[2019-06-13 21:53] bartonjs commented on #38467
@Priya91 2.1 and 2.2 are 1.0 preferred, 1.1 possible.  3.0 is 1.1 preferred, 1.0 possible.  So there is no RTM version that prefers 1.1

[2019-06-13 22:05] Anipik opened #38528 "Error Being thrown for Duplicate properties"
https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs#L80
This error gets thrown when we try to deserialize Dicitonary with duplicate properties (As it increases the count). However it might now throw and give random output if the cacheCount is lesss than propertyRefCount

[code]

[2019-06-13 22:10] #37188 closed

[2019-06-13 22:21] safern commented on #38481
Another on Alpine3.9: https://dev.azure.com/dnceng/public/_build/results?buildId=224245&view=ms.vss-test-web.build-test-results-tab&runId=5522090&resultId=436613&paneView=debug

[2019-06-13 23:07] eanova commented on #37260
@safern Thanks,   I was finally able to get the -allconfigurations flag to work.  I'll be pushing some simple fixes that I needed to get it to work.   Adding the restore to the project file is working as well.

[2019-06-14 00:27] PRIMETSS commented on #13329
Apologies, late at night mistake with the K's
Thanks for the added explanation/info swaroop-sridhar, some new switches there I was not aware of.
Just tried with 3.preview 6 with the following switches

and now down to 29,000K

Sure not all apps will be Hello World, but for a C# Core SelfContained App, that also contains the runtime... Personally Im not to worried. Sure I understand if your writing

[2019-06-14 01:47] AbhiAgarwal192 commented on #38184
Submitted a PR for this. This will get fixed in the next release.

[2019-06-14 03:32] dayAndnight2018 opened #38533 "Aop aspect Technology Addition？"
Is there any official intention to add Spring Aspect-like AOP technology? It is undeniable that the middleware pipeline provided by Microsoft provides great convenience for software design, but Aop technology can provide more flexibility and aspect programming ideas.Pray for officials to consider joining Aop technology into .Net Core.

[2019-06-14 03:44] ahsonkhan commented on #38510
As a first step, we should add such a benchmark to [dotnet/performance](https://github.com/dotnet/performance) so that we can track the performance change in a tighter loop.

[2019-06-14 03:57] ericstj commented on #38522
Curious why you’re looking at the package directly rather than letting nuget / SDK do their job to raise the references.  @dsplaisted @nguerrera

[2019-06-14 04:39] Aung30 opened #38534 "yoony3748@gmail.com/TrackView video"
I want to delete old video

[2019-06-14 04:55] AbhiAgarwal192 commented on #38534
Can you provide more details as in what you are trying to do and where are you facing problem.

[2019-06-14 05:53] danmosemsft commented on #38534
this is not clearly related to this repo.

[2019-06-14 05:53] #38534 closed

[2019-06-14 05:56] yyjdelete opened #38535 "#2241 still happen when convert between Enum[] and signed/unsigned version of it's underlying type with Enumerable.Cast<>()"
#2241 still happen for convert Enum, int to uint and some opposite case, should that also be fixed?

Maybe related to
https://github.com/dotnet/roslyn/issues/29680#issuecomment-424549785
and
https://blogs.msdn.microsoft.com/ericlippert/2009/09/24/why-is-covariance-of-value-typed-arrays-inconsistent/

Should some check be add to Enumerable.Cast() to workaround this?
[code]

The below code still get

[2019-06-14 06:31] ahsonkhan commented on #38494
Sounds good. Thanks @ryanbrandenburg. Please do file and share issues like these as we want to make sure the exception messages are meaningful and help users understand what went wrong.

[2019-06-14 06:31] #38494 closed

[2019-06-14 06:52] AbhiAgarwal192 commented on #38490
@buyaa-n Checking.

[2019-06-14 06:57] AbhiAgarwal192 commented on #38490
Can you share your repo url?

[2019-06-14 07:11] yatli commented on #38522
@ericstj I'm working on a F# language server, so it is a bit different than just getting things to build properly.

The basic workflow is to first figure out what are the source files in the project, what assemblies doe the project reference, and send the information to `FSharp.Compiler.Services`.

So there needs to be an "out-of-band" step to extract references. We first use Buidalyzer to populat

[2019-06-14 07:46] Dreamescaper opened #38536 "JsonSerializer does not support System.Uri"
### Describe the bug
JsonSerializer fails to handle Uri's properly.
Version: 3.0 Preview 6

### To Reproduce

[code]

### Expected behavior
`requestJson == {"uri": "https://someserver.co/"}`

### Actual behavior
`requestJson == {"Uri":{"AbsolutePath":"\u002f","AbsoluteUri":"https:\u002f\u002fsomeserver.co\u002f","LocalPath":"\u002f","Authority":"someserver.co","HostNameType":2,"IsDefaultPort":true

[2019-06-14 08:23] yyjdelete commented on #38535
I have some mistake. Infact, the non generic version, `(uint)(object)0` or `(uint)(object)(DayOfWeek.Monday)` also get an `InvalidCastException`. But it's still an question, should the linq report the right Exception for cast?

[2019-06-14 09:05] ramsubbaraoc commented on #38440
Hi @stephentoub

Can we have -1 for Windows and 0 for Linux. Will the behavior be same?

-1 is used for infinite poll. Setting it to 0 on Mac and Linux will do a infinite poll

[2019-06-14 09:48] RUSshy commented on #13329
30mb LOL, call me when it'll be something like 1-3mb, runtime is full of bloat, check GO, people migrate in wave

https://www.jetbrains.com/lp/devecosystem-2019/

Even kotlin starts to gain shares, and with kotlin native it put c# to shame

And Swift is comming to windows https://forums.swift.org/t/swift-win32-programming/20686

[2019-06-14 10:28] stay2be commented on #13329
I think this is not fair. .NET was not designed for building the smallest single file console applications. We use it for Asp.Net websites and apis. Therefore, the framework itself brings a ton of features with it in addition to tons of nuget packages that you can include. I can't imagine that there is a concern if an web application is 50 or several hundreds of megabytes in size. The primary conc

[2019-06-14 10:57] RUSshy commented on #13329
What to reply to such non sense, lies and lack of sense of efficiency ?

You fail to realize how wrong .net core direction was, and only just recently they started to realize it by working on Distribution/IL Merge/AOT

And now to move on the web-assembly wagon they can't because .net runtime is such a HUGE bloat that they are unable to deploy decent sized files

And you still stuck with "Who cares

[2019-06-14 11:25] gfoidl commented on #38526
You can create a stream from a PipeWriter -> [PipeWriter.AsStream](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipelines.pipewriter.asstream)
and use that stream for serializing.

Will this work for your usecase?

[2019-06-14 11:34] stephentoub commented on #38440
For ReceiveTimeout it should be the same. You're seeing otherwise?

[2019-06-14 11:38] ramsubbaraoc commented on #38440
Yes, i see a difference in behavior when i use 0.
Mine is a multi threaded application and when i use 0,my application intermittently fails with an error.

"Cannot Read & Write to a socket at the same time " exception with the sslstream class.

When i use -1 i never see this exception.

[2019-06-14 11:42] stephentoub commented on #38440
-1 and 0 are 100% identical with ReceiveTimeout because the former is just converted to the latter:
https://github.com/dotnet/corefx/blob/c3f4524c785a226bae79cc82a96f7525460e2b5e/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L469-L472

[2019-06-14 11:58] dmytro-gokun commented on #32615
Will .NET 3.0 have these methods?

[2019-06-14 12:00] stephentoub commented on #32615
No

[2019-06-14 12:12] jnm2 commented on #13329
You sound rude, period. That, and your dismissals and jumping to conclusions, do not have the effect of being persuasive.

[2019-06-14 12:40] mshobohm opened #38540 "System.Text.Json.Serialization.JsonSerializer doesnt work with class members"
System.Text.Json.Serialization doesnt work with class members:
using System;
using System.Text.Json.Serialization;

namespace json.prep
{
    class Program
    {
        public class Product
        {
            public String Name; /*works only with:  { get; set; } */
        }
        static void Main(string[] args)
        {
            Product product1 = new Product
            {

[2019-06-14 12:43] Dreamescaper commented on #38540
Probably duplicate:
https://github.com/dotnet/corefx/issues/36505

[2019-06-14 13:02] ericstj commented on #38522
Why wouldn’t you evaluate the project and invoke a target to do this?  MSBuild has a rich API that supports this sort of thing. That is how VS interacts with projects. /cc @davkean

[2019-06-14 13:07] NerdyDuck opened #38543 "JsonSerializer creates unnecessary escape sequences when encoding strings."
Using SDK 3.0.0-preview6-27804-01
I played around with different ways of serialization (binary, JSON, BSON) regarding size and speed, using randomly generated data. I noticed that JSON generated with System.Text.Json.Serialization.JsonSerializer was a bit larger than the same data serialized with Newtonsoft.Json.JsonSerializer/JsonWriter. The difference is in the serialized strings, as System.Text

[2019-06-14 13:37] sgf commented on #13329
don't as a modern language should have a little ambition to unify the world?
Do you want all developers writing c# back home for C++? or push them to Go,Kotlin,Swift ?
Market share and further erode c#?

.Net because does not implement cross-platform missed the first 15+ years of the great development opportunity.
But Now .net is back to right Way.

[2019-06-14 13:42] PRIMETSS commented on #13329
Yeah as I commented before Im not sure why the negativity.
.Net Core has been nothing but fantastic if you are coming from Full Framework. And the .Net Standard +Core amalgamation vision I think is sensible and progressive.

Comparing .NET to GO or any other language/framework is pointless.
Anyway, Im OUT on this topic, as I think the solution they are working on and improving for Single .exe has

[2019-06-14 13:55] karelz commented on #13329
I would like to remind everyone on this thread about [Code of Conduct](https://github.com/dotnet/corefx/blob/master/CODE_OF_CONDUCT.md).

It is ok to disagree or have different opinion, but please, let's be civil and let's express that as technical discussion. No need to use strong words.
Also, targeting ideas, implementations with your opinions is fair game. HOWEVER, it is NOT ACCEPTABLE to attac

[2019-06-14 13:58] vonders opened #38545 "Binaries should enable the compiler control guard feature (CFG) at build time"
# Platform

clrcompression.dll

# Author or host

Host

# Version

latest master

# Issue

Control flow guard is not enabled in release mode, which is a vulnerability. In clrcompression.dll

[binSkim] error BA2008: EnableControlFlowGuard : Binaries should enable the compiler control guard feature (CFG) at build time

[2019-06-14 14:14] ViktorHofer commented on #30223
Just happened again: https://dev.azure.com/dnceng/public/_build/results?buildId=225212&view=ms.vss-test-web.build-test-results-tab&runId=5561424&resultId=189187&paneView=debug

[2019-06-14 14:18] dmytro-gokun commented on #32615
@stephentoub Okay, it was a straight answer) Thanks for the update, anyway.

[2019-06-14 14:28] dmytro-gokun opened #38546 "Feature request: CancellationToken as a cross-cutting concern"
So, i was looking at this issue here: https://github.com/dotnet/corefx/issues/32615 and then at my code where i have to pass CancellationToken all the way down through the call stack.. And then it hit me: why do we have to that crap manually in 2019? Is not this CancellationToken a clear example of a cross-cutting concern and it is best served by infrastructure? Should not we have something like C

[2019-06-14 14:29] stephentoub commented on #30223
That link doesn't appear to work, unfortunately:
![image](https://user-images.githubusercontent.com/2642209/59516437-5344dc00-8e8f-11e9-90b8-5a60b1d70be2.png)