[2019-04-28 15:01] benaadams opened #37258 "ValueTuple should use readonly methods"
E.g. Equals, GetHashCode etc

/cc @tannergooding

[2019-04-28 15:42] tannergooding commented on #37258
More specific instance of https://github.com/dotnet/corefx/issues/36586.

It would probably be good to blanket cover `Equals`, `GetHashCode`, and `ToString` for all mutable structs

[2019-04-28 16:07] benaadams commented on #36586
`GetHashCode` also?

[2019-04-28 16:32] davidsh commented on #36553
@epignosisx

I just implemented environment variables support for Windows to match Linux/OSX with PR #37238.

[2019-04-28 16:55] tarekgh commented on #37226
Maybe you can probe first to look if the resources exist and then fallback to something else. You can use [Assembly.GetManifestResourceNames](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.getmanifestresourcenames?view=netframework-4.8) to enumerate the existing resource sets in the assembly.

[2019-04-28 17:00] davidsh commented on #36553
cc: @karelz @stephentoub @dotnet/ncl

I have updated the top post of this issue and will be using it as the API proposal issue.

[2019-04-28 19:23] Wraith2 commented on #29147
@tarekgh can you suggest how I would detect invariant mode? I can see the code in Coreclr which sets it according to the docs but there doesn't seem to be a public method to check it, since it can be set in a number of ways I can't just check the environment variable.

This problem isn't Linux specific, if you set invariant mode on windows it'll do the same thing. The problem is that SqlClient nee

[2019-04-28 19:59] tebeco commented on #36553
if you got a nightly or something you want me to test at work (except between 04/05 and 11/05), i will gladly test it
What is failing so far for us is :
* Azure SignalR (websocket pool i guess)
* Any httpclient to public dns
* CosmosDb (using DocumentDb / because DocumentDb does not expose(s/d) handler
* Azure KeyVault
* almost everything in Azure Sdk that does http call, if has not been fixed in

[2019-04-28 20:07] davidsh commented on #37000
I took a look at this.  I'm not sure throwing an exception is right answer. But I think we can fix this to just make it work.

The lack of a trailing slash doesn't break things when just the hostname is used as the base address, i.e. the following examples all correctly request the "/api/request/7" resource.

[code]

One of the reasons that this works is because the following Uri's are equivalent:

[2019-04-28 20:52] svick commented on #37000
@davidsh

How sure are you that people are not depending on the current behavior?

For example, imagine I'm implementing a web crawler. I'm on `http://example.com/a/b` and encounter the link `<a href="c">c</a>`. Today, I can resolve that correctly to `http://example.com/a/c` by using `new HttpClient { BaseAddress = new Uri("http://example.com/a/b") }.GetAsync("c")`. With the proposed change, this

[2019-04-28 21:06] davidsh commented on #29613
I'm not sure if this issue is actually describing a problem with .NET Core or with the Azure Blob Storage SDK. There is no "IfExistsAccessCondition" property or method in HttpClient.

The only reference to the "ETag" header is in the [HttpResponseMessage.ETag](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.headers.httpresponseheaders.etag?view=netcore-2.2#System_Net_Http_Headers_HttpR

[2019-04-28 21:06] #29613 closed

[2019-04-28 21:21] davidsh commented on #37000
They might be.  As your example shows, merging the relative Uri "c" against the BaseAddress path of "/a/b" ends up with the path as "/a/c".

This issue will be studied further to determine the best next step.

[2019-04-28 21:27] davidsh commented on #27064
Tracking against #32000 which disabled the test for now.

[2019-04-28 21:27] #27064 closed

[2019-04-28 22:11] davidsh commented on #27400
These tests have been enabled for a while now against SocketsHttpHandler. No failures are being reported.

There were some problems with CurlHandler but that was solved by #28065

[2019-04-28 22:11] #27400 closed

[2019-04-28 22:18] davidsh commented on #32771
@dkhanaferov

We've added more diagnostics and better error messages as of PR #37251. We very rarely now have a simple error message of "The server returned an invalid or unrecognized response." The errors will be more descriptive about what part of the server response might be "invalid or unrecognized".

Please try out the latest daily build or wait until .NET Core 3.0 Preview 5. If you are able

[2019-04-28 22:18] #32771 closed

[2019-04-28 22:25] stephentoub commented on #32771
Just FYI, the error message changes from #37251 will be in Preview 6.

[2019-04-28 22:42] davidsh commented on #35390
@code2mars

There have been several fixes/optimizations made to HttpClient, SslStream and related classes in .NET Core 3.0.  Can you try out the latest preview release of .NET Core 3.0?  If this problem is still occurring, please let us know and we can re-activate this issue.  Thanks.

https://devblogs.microsoft.com/dotnet/announcing-net-core-3-preview-4/

[2019-04-28 22:42] #35390 closed

[2019-04-28 22:50] davidsh commented on #15017
We expect #36896 to be the answer to this issue.

[2019-04-28 22:50] lmolkova commented on #36999
From API simplicity it should override anything, otherwise it becomes very confusing.

I have an alternative proposal I'd like to entertain:
For tracing scenarios, setting Id format on the Activity that has local parent does not make sense. If local parent and child Activities have different Id formats - something is broken.

If there is a remote W3C parent - we are good (ASP.NET Core should not e

[2019-04-28 23:53] davidfowl commented on #36999
It's a bit weird to call it with a null id. This also looks expensive to call (all of those branches) when there's no parent. I'm not a fan of adding more to the hot path, Activity turns out is already quite heavy and we're attempting to chip away at it.

[2019-04-29 01:16] lmolkova commented on #36999
ok, so for the sake of simplicity, let SetIdFormat()  override anything else.

[2019-04-29 02:14] danmosemsft commented on #37249
Unfortunately we have no real expertise in MEF remaining on the team. @weshaggard did you work on this code?

[2019-04-29 02:42] jlestercastro commented on #31895
Hello guys, someone please help me to fix this error,

I've always got "The type initializer for 'Gdip' threw an exception." when i deploy my .NetCore API in ubuntu server. But the codes is working in my local machine (Windows).

I'm trying to get a image icon in my server folder named pictures/3FALogo.ico

<img width="576" alt="12" src="https://user-images.githubusercontent.com/39945211/56874170-

[2019-04-29 02:52] zhangsquall commented on #29633
I have this issue in debugging mode on windows 10.  But in production mode, it does not appear.
Below is my dotnet --info

.NET Core SDK (reflecting any global.json):
 Version:   2.2.203
 Commit:    e5bab63eca

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.203\

Host (useful for suppor

[2019-04-29 02:57] jlestercastro opened #37260 "Improve GDIP exception when failing to load `libgdiplus` or GDI+"
Hi ,
Someone please help to fix this error

I've always got "The type initializer for 'Gdip' threw an exception." when i deploy my .NetCore API in ubuntu server. But the codes is working in my local machine (Windows).

I'm trying to get a image icon in my server folder named pictures/3FALogo.ico
<img width="576" alt="12" src="https://user-images.githubusercontent.com/39945211/56874563-439f3e80-6a6

[2019-04-29 03:29] pranavkm opened #37261 "GetCustomAttributes(inherit: true) does not return multiple instances of the same attribute"
[code]

I'd expect both instances of `GetCustomAttributes` to return the same results. However, here's the actual result:

[code]

Environment: Microsoft.NETCore.App 3.0.0-preview6-27622-26

[2019-04-29 05:21] LHeczko commented on #31895
Have you installed libc6-dev on linux? For me it was the problem.

[2019-04-29 06:03] satyendrasinghpanwar commented on #37120
@Tratcher , I tried running Dns.GetHostAddress inside RunImpersonated. It is returning correct IP address. But with HttpClient I am getting error.

[2019-04-29 07:04] PicOLinO commented on #37016
Thank you, @joperezr, for your help.
Following your recommendation i'll try to migrate to PackageReference in my solution but this process is long-time so I'll post comment here if this process will be succeeded or failed.

[2019-04-29 07:17] snowwaft opened #37262 "CurrentPrincipal changed after await a task"
I use Thread.CurrentPrincipal to store user's information, such as username, token, etc. through difference threads.
In .Net Framework 4.6.1, this works well.
However, when I switch to .NetCore, the CurrentPrincipal changed after awaited a task.

[code]

[2019-04-29 10:33] Rabbit021 commented on #37232
I an sorry, I am a little puzzle. I am dynamic load assembly. I use that  code and resolver dependency.

[code]

[code]
but when i am reference plugin assembly to my start up project . It is  ok.

[2019-04-29 12:26] omariom commented on #37260
GDI+ is Windows only tech.
[ImageSharp](https://github.com/SixLabors/ImageSharp) is cross-platform.

[2019-04-29 12:38] matendie commented on #36401
I'm not sure how to run it outside of VS and have visibility to exceptions thrown... I published this API to Azure and I don't see any exceptions thrown in Application Insights. Maybe this is a VS 2017 issue?

[2019-04-29 14:35] rainersigwald commented on #31559
Not that I know of, and the switch to Arcade seems to have eaten my old workaround, so that's not why. I'm comfortable closing as "no repro" at this point.

[2019-04-29 14:42] stephentoub commented on #31559
Ok, thanks.  Let's close for now.

[2019-04-29 14:42] #31559 closed

[2019-04-29 15:58] weshaggard commented on #37249
I'v reviewed some of the MEF2 stuff but I didn't code it. I did however code the MEF1 stuff many years ago and from what I know of MEF2 the APIs seems like they would be reasonable but I would suggest someone doing a proof of concept implementation of them before formally accepting the API proposal. The reason for that is to ensure that these fit into the model that MEF2 uses.

[2019-04-29 16:06] karelz commented on #36401
You can try to isolate it and move it outside of ASP.NET Core first. Or you can try to create repro on brand new VM (fresh install).

Rather than VS 2017 issue, it is more likely to be some weird environment setting / debugging setting in your VS.
I recommend to not chase it down, unless you have something actionable - you may opt in to debug the exception and find out what triggered it.
Closing f

[2019-04-29 16:06] #36401 closed

[2019-04-29 16:07] steveharter commented on #36166
Closing this as https://github.com/dotnet/corefx/pull/36486 address the serialization case.

[2019-04-29 16:07] #36166 closed

[2019-04-29 16:23] danmosemsft commented on #37249
Thanks @weshaggard . Does anyone around have knowledge of MEF2 specifically?

[2019-04-29 16:25] jaddie commented on #23426
I am certainly adding in my vote towards wanting this functionality, it has many uses, such as one I am trying to use it for which is to make requests from varying IP addresses, to the system all the IPs are legit choices, however I have my own set of progamatically dictated rules to follow ontop of that, which eliminates IPs.

Also the NULL routing comment is spot on, I have used this many times,

[2019-04-29 16:26] danmosemsft commented on #37260
On Unix, we use libgdi+ for GDI+ so I would think this should work. I would start by investigating this as a possible failure to load the shared library. Set LD_DEBUG and go from there.

Longer term you might consider other libraries, since System.Drawing is not expected to get much investment - it is very old.

[2019-04-29 16:41] karelz commented on #23426
@jaddie no update. This is one of the top issues in our backlog for post-3.0.

[2019-04-29 16:50] NinoFloris commented on #26528
A split api that returns ranges is pure genius @grant-d. That would be a really nice api to aim for.

[2019-04-29 16:59] davidsh commented on #22464
This is most likely fixed in the latest UWP 6.2.8 release:
https://www.nuget.org/packages/Microsoft.NETCore.UniversalWindowsPlatform/

[2019-04-29 16:59] #22464 closed

[2019-04-29 17:02] davidsh commented on #20362
This is fixed now as of PR #36975

[2019-04-29 17:04] davidsh commented on #23204
This is most likely fixed with the latest UWP 6.2.8:
https://www.nuget.org/packages/Microsoft.NETCore.UniversalWindowsPlatform/

[2019-04-29 17:04] #23204 closed

[2019-04-29 17:06] jaddie commented on #23426
@karelz  Appreciate the heads up, I'll go back to look for another way to achieve this or stop using .net core until a later date :)

[2019-04-29 17:09] davidsh commented on #22904
This is most likely fixed with the latest UWP 6.2.8:
https://www.nuget.org/packages/Microsoft.NETCore.UniversalWindowsPlatform/

[2019-04-29 17:09] #22904 closed

[2019-04-29 17:24] IanKemp commented on #36992
@karelz I can confirm this issue is present in Core 2.2.106 as well as Framework 4.7.x and 4.8.

[2019-04-29 17:27] zappyzhao commented on #37209
@gfoidl Thank you so much for the fast investigate and quick fix! May I know how long it will take the code to be checked in and how soon I'll be able to refer to the lastest System.Drawing.Common library please? Since my project is blocked by this now.

[2019-04-29 17:30] steveharter opened #37272 "Add JsonException and make JsonReaderException internal"
Proposal to add a single exception class called `JsonException` and make `JsonReaderException` internal instead of public.

The new exception contains a "Path" property used by the serializer, and the `LineNumber` and `BytePositionInLine` become nullable since they are not always set.

The original proposal was to add two new exception classes, but during review there was not enough justification

[2019-04-29 17:31] steveharter commented on #37272
cc @ahsonkhan @rynowak

[2019-04-29 17:33] karelz commented on #36992
Thanks for confirmation @IanKemp!
We should either create new issue for Core, or edit title and text of this one and reopen it as scoped to Core. Do you have preference?

Also, given that you have good understanding of the code, are you interested in submitting a PR? (not pushing, just asking)

[2019-04-29 17:40] tarekgh commented on #29147
The easiest way to detect the Invariant mode is simply calling some thing like:

[code]

In the Invariant mode this should return true. otherwise, it will return false.

[2019-04-29 17:51] #31315 closed

[2019-04-29 18:01] davidsh commented on #35886
Fixed with PR #37200

[2019-04-29 18:01] #35886 closed

[2019-04-29 18:03] davidsh commented on #35283
@karelz @geoffkizer @stephentoub Are we still planning on reviewing and implementing this?

[2019-04-29 18:05] stephentoub commented on #35283
The entirety of the implementation is adding ` = default` in two or four places, depending on how you count :)  Assuming we can review it in the next few API review meetings and it's approved, we should do it in 3.0.

[2019-04-29 18:16] davidsh commented on #37262
Could be related to:
#34489
#36562

Thread.CurrentPrincipal behaves differently in .NET Core compared with .NET Framework

[2019-04-29 18:17] gfoidl commented on #37209
I can't answer this, as I'm not part of the team.

The bug is not in `System.Drawing.Common`, so there's no need to update this library.
The bug is in `libgdiplus.so`.

So to unblock your project you could build `libgdiplus.so` by your own and use that version.
Take care that you checkout the branch with the fix

[code]
(hope I typed it right).

[2019-04-29 18:18] zappyzhao commented on #37209
@gfoidl Thanks a lot! will try this out

[2019-04-29 18:29] JeremyKuhne commented on #37156
That was my understanding as well. In designing the reader it was driven primarily by performance. `AdvanceToEnd` isn't something you can do efficiently without new API, so it is a very easy sell for me. `ReadToEnd` you can easily compose externally (say, via an extension method). That isn't a reason to punt on the concept unconditionally, but it is a reason to take our time given the somewhat awk

[2019-04-29 18:33] antonioortizpola commented on #37044
@stephentoub well, if the docs are wrong then I am lost.

The last update is from 01/06/2019, should I ask for an update?, could you please tell us exactly what is wrong so they can make the updates?

Also, if the best solution is to keep the `HttpClient` for as long as you can, I should not be better just use it as singleton? this would render the IHttpClientFactory pretty much useless, it would

[2019-04-29 18:37] jjxtra commented on #304
So writing your own extension with a try/catch on 'new Regex(...)' is still the best way?

[2019-04-29 18:41] JeremyKuhne commented on #35707
I think this needs prototypes and comprehensive perf analysis to go forward. We should also look at possibilities of efficiently slicing off the reader / creating some sort of "end state".

My presumption is that the impact to the existing perf makes this impossible without adding new methods. I most concerned about the perf of the the `Span` returns.

[2019-04-29 18:48] ahsonkhan commented on #37272
Would the JsonWriter continue to throw the InvalidOperationException/ArgumentException/etc.?

[2019-04-29 19:17] PinpointTownes commented on #36719
I can confirm I'm seeing the same issue when using `ValueTask` in a .NET Standard 2.1 class library referencing a .NET Standard 2.0 library that relies on the `System.Threading.Tasks.Extensions` package (with the preview4 tooling):

[code]

Good to hear it's something you'll be able to fix in 3.0 RTM.

[2019-04-29 19:20] wfurt commented on #37175
fixed by #37194

[2019-04-29 19:20] #37175 closed

[2019-04-29 19:23] stephentoub commented on #37044
SocketsHttpHandler, which is the default handler implementation backing the HttpClient starting in .NET Core 2.1, has two properties on it: PooledConnectionIdleTimeout (https://docs.microsoft.com/en-us/dotnet/api/system.net.http.socketshttphandler.pooledconnectionidletimeout?view=netcore-2.2) and PooledConnectionLifetime (https://docs.microsoft.com/en-us/dotnet/api/system.net.http.socketshttphandl

[2019-04-29 19:24] Kuinox opened #37276 "HttpContent.SerializeToStreamAsync should throw ObjectDisposedException instead of NullReferenceException"
Hello.
If you dispose the stream provided by the method SerializeToStreamAsync, the httpClient throw a NullReferenceException when you send the request.
I think it should be an ObjectDisposedException to point out the error to the dev.

[2019-04-29 19:38] #22635 closed

[2019-04-29 19:38] #28777 closed

[2019-04-29 19:38] #33401 closed

[2019-04-29 19:51] alexperovich commented on #37205
The AzDO feature is available now. There is a "Flaky" button you can click on the test results page to mark a test as flaky.
![Capture_LI](https://user-images.githubusercontent.com/10565410/56922641-8b2dc680-6a7d-11e9-8fb6-8d9e7ec1e0dd.jpg)

[2019-04-29 19:54] rbrugnollo commented on #37044
So, nothing was changed from 2.1 to 2.2 that would explain the errors showing up on 2.2 but not 2.1 right?!

[2019-04-29 19:55] rynowak commented on #37272
For the reader/writer I think it depends case by case.

Misuse of APIs should result in InvalidOperation/Argument exceptions

Incorrect JSON should result in JsonExceptions

[2019-04-29 19:55] rynowak commented on #37272
For the reader/writer I think it depends case by case.

Misuse of APIs should result in InvalidOperation/Argument exceptions

Incorrect JSON should result in JsonExceptions

[2019-04-29 20:10] davidsh commented on #35002
The tests were changed to disable parallelism with PR #35004. At this point, the tests are stable and we don't need to track this issue.

[2019-04-29 20:10] #35002 closed

[2019-04-29 20:13] davidsh commented on #32013
Closing since this was most likely infrastructure issue.

[2019-04-29 20:13] #32013 closed

[2019-04-29 20:14] davidsh commented on #32012
Closing since this was most likely infrastructure issue.

[2019-04-29 20:14] #32012 closed

[2019-04-29 20:28] steveharter commented on #37272
This is not proposing changing any exception semantics except:
- The deserializer now always throws `JsonSerializationException` on invalid JSON (instead of `JsonReaderException`) - even when `JsonReaderException` is originally thrown from the reader.
- The serializer will throw `JsonSerializationException` (currently the only exception case is MaxDepth exceeded).

Otherwise as @rynowak states yes

[2019-04-29 20:31] karelz commented on #37044
Correct. We did just handful of targeted servicing-level bug fixes in 2.2/2.2.x over 2.1.x.
It is quite possible that the "regression" is caused by another component, or we're just "lucky" to hit it on 2.2 due to "random" reasons.
Just to confirm: Did anyone hit it in 2.1 at all?

[2019-04-29 20:56] #32430 closed

[2019-04-29 21:15] stephentoub commented on #37262
This test consistently passes for me on .NET Core 3.0 Preview 4.

Previous .NET Core releases did not flow the current principal as part of ExecutionContext.  Now it does, as of https://github.com/dotnet/corefx/pull/34747.

[2019-04-29 21:21] ViktorHofer commented on #37205
Does that mean we can start publishing test results again to AzDO and need to mark flaky tests manually so that they are retried?

[2019-04-29 21:40] stephentoub commented on #37198
I'm disabling this test temporarily, as it's causing all outerloop linux runs to fail.

[2019-04-29 21:43] alexperovich commented on #37205
Yea, they won't be retried though. The azure devops thing will just flag them as "failed but unimportant". I haven't had a chance to mess with it though, so I don't know how they will look.

[2019-04-29 21:46] HaoK opened #37282 "SelfSigning cert failures on Linux"
As part of our work adding a new certificate authentication to Asp.Net, we are seeing 2 failures only on linux with respect to self signed cert expiration:

[code]

@bartonjs mentioned:
"It’s possible that OpenSSL is treating the self-signed certs differently (and ignoring time checks).  Looks like the only tests that we have on that flag are chain-signed."

[2019-04-29 21:50] blowdart commented on #37282
The certificates are validated by building a X509ChainPolicy, based on options set

[code]

So `X509VerificationFlags.IgnoreNotTimeValid` seems to be behaving differently on linux.

[2019-04-29 21:51] cston commented on #37037
Fixed in https://github.com/dotnet/corefx/pull/37277.

[2019-04-29 21:51] #37037 closed

[2019-04-29 22:19] davidsh commented on #26042
These tests have been active for a while now and no failures reported.

[2019-04-29 22:19] #26042 closed

[2019-04-29 22:24] #25206 closed

[2019-04-29 22:47] carlossanlop commented on #29872
@joshfree @karelz This is not a regression in 3.0, I was able to repro it in .NET Core 2.1. I'm going to chat offline with @JeremyKuhne because when attempting to repro in .NET Framework, the behavior was different.

Is this still a bug we need for 3.0 or should we change it to Future?

[2019-04-29 22:59] carlossanlop commented on #29872
@slakul thank you for reporting the bug. What kind of stream did you use that cannot seek (step 1 in your repro steps)? I had to create my own class that inherits from FileStream and forced the CanSeek property to always return false, but I suspect you used one of the stream classes we have that cannot be seeked (maybe PipeStream?).

[2019-04-29 23:00] JeremyKuhne commented on #37207
The behavior is actually to spec. The contract is that it _fills_ the given buffer- if it can't fill it completely it fails. I'll work on backfilling tests where we're missing them and try to be more explicit in the comments.

[2019-04-29 23:03] ahsonkhan commented on #37207
Hmm... Do you mean the destination span has to be of the exact size? It can't be larger?

[2019-04-29 23:15] slakul commented on #29872
@carlossanlop I was using files from MS Word (*.docx), Ms Excel (*.xlsx) and OpenOffice (*.odt) and treated them as zip files. After analysis of the binary structure of the files I discovered how to reproduce the bug.

[2019-04-29 23:19] JeremyKuhne commented on #37207
Has to be same size or smaller.

Yes, that's the reason. If you want everything up to a given size you need to check `Remaining` first and slice if that is what you want.

[2019-04-29 23:52] bartonjs commented on #37282
In my local testing things seem to be working fine (Ubuntu 16.04 / OpenSSL 1.0.2 / .NET Core 3.0 master).  Can you share a certificate that exhibits the behavior you're seeing?

[code]

With my chain tester tool:

[code]

[code]

[code]

[code]

[code]

[code]

[2019-04-29 23:55] #35924 closed

[2019-04-29 23:55] tarekgh commented on #37246
@sdmaclea this scenario work fine if you are using this scenario in VS. The issue is specific to the corefx infrastructure. I am seeing in corefx we build the binaries fine but placing the generated satellite assemblies is not happening. I am CC'ing @joperezr and @safern for that.

Considering the issue looks specific to corefx, I think the issue you opened in SDK repo should be closed.

[2019-04-30 00:27] davidsh commented on #37276
HttpContent.SerializeToStreamAysync is an abstract method.  It is implemented by several different derived classes of HttpContent.

https://github.com/dotnet/corefx/blob/a26fd9bb1b17510d51a9b5a2ce7aadc1a5b631ee/src/System.Net.Http/src/System/Net/Http/HttpContent.cs#L316

Can you post a repro for this?

[2019-04-30 00:27] laceous commented on #37056
Follow-up question: Would the fix here handle the following? Or would there be an exposed way to handle this on Linux (if the user drops down to a 2nd line)?
[code]

[2019-04-30 00:50] rynowak commented on #37272
API proposal looks like what I would expect.

[2019-04-30 00:53] danmosemsft commented on #2046
We can keep tracking this but it's not aligned to work on the 3.0 schedule

[2019-04-30 01:00] AaronRobinsonMSFT commented on #36039
@drearyrainDeng Thank you for the project that shows the failure. This is failing because of how the assembly is being referenced. The issue here is related to missing entries in the `.deps.json` file for the project. I would try calling `dotnet restore` on your project or alternatively embedding the COM types using the `EmbedInteropTypes` property on the `COMReference` item - see below for an exa

[2019-04-30 01:03] AaronRobinsonMSFT commented on #36039
@drearyrainDeng I am going to close this issue. If this problem persists please file an issue in https://github.com/dotnet/coreclr.

[2019-04-30 01:03] #36039 closed

[2019-04-30 01:09] jlestercastro commented on #37260
Thank you.
I've installed "libc6-dev" in my linux server and it works.

[2019-04-30 01:10] davidfowl commented on #37207
How are you supposed to use this API with the array pool?

[2019-04-30 01:29] JeremyKuhne commented on #37207
Slice based on `Remaining`. This API is "give me exactly this much". It's origin was in the binary reader methods.

https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Buffers/SequenceReaderExtensions.Binary.cs#L39-L56

[2019-04-30 01:37] davidfowl commented on #37207
I think if our existing implementation breaks people's intuition then we need to reconsider the contract. Here's where it was originally found:

https://github.com/neuecc/MessagePack-CSharp/blob/8861abdde93a3b97180ac3b2eafa33459ad52392/src/MessagePack/MessagePackReader.cs#L775

So this code should be:

[code]

cc @AArnott

[2019-04-30 01:54] GrabYourPitchforks commented on #35491
I realize I'm very late to this party. :)

Corrupted input can perform literally _any_ action, including rewriting the x86 code of `BinaryFormatter.Deserialize` on-the-fly to remove the "wrap all exceptions" logic. So from a strict security perspective, we see no problem with allowing arbitrary exceptions to escape the `Deserialize` routine. If there's a non-security reason to add the "wrap all ex

[2019-04-30 02:18] JeremyKuhne commented on #37207
The signature being the way it is we can't really change the behavior as we can't return the copied count. I'm fine with changing this to `int CopyTo(Span<T> destination)` if we have enough consensus on that being better.

[2019-04-30 03:07] jkotas commented on #37262
Duplicate of #34489

[2019-04-30 03:07] #37262 closed

[2019-04-30 05:28] HaoK commented on #37282
This is the test cert that's failing: https://github.com/blowdart/idunno.Authentication/blob/master/test/idunno.Authentication.Test/TestCertificates/selfSignedNoEkuCertificateExpired.cer

This is the test: https://github.com/blowdart/idunno.Authentication/blob/master/test/idunno.Authentication.Test/ClientCertificateAuthenticationTests.cs#L177

[2019-04-30 07:26] tmds commented on #37056
When writing `\b` to the terminal, it doesn't move across rows. The fix doesn't change this. It detects when backspace occurs at the start and handles that differently:

https://github.com/dotnet/corefx/blob/12db0eaedeabaf19a77c3432d2918f499f0b2d9e/src/System.Console/src/System/IO/StdInReader.cs#L145-L158

[2019-04-30 07:27] IanKemp opened #37293 "HttpClient header date parsing fixes should be backported to Core 2.x"
Initial issue: #36992
PR containing the fixes: #28843

I have tested against .NET Core SDK 2.2.106 and these fixes are not present - I believe they should be backported. Is it intentional that they are not, or will this work only be done after 3.0.0 has shipped, or...?

[2019-04-30 07:28] IanKemp commented on #36992
@karelz new issue opened at #37293.

[2019-04-30 07:33] SPEMoorthy commented on #8126
Solution should support the following styles also.
{0:On;Off;Unknown}
{True:Yes;False:No}
{true:Yes;yes:No}
{True:Yes;False:No;null:N/A}  // ??? How to specify nullable Bool?

[2019-04-30 08:37] Kuinox commented on #37276
[code]
And there the reproduction:
https://gist.github.com/Kuinox/96ba564e6c4c0aae7e716b26813b8738

[2019-04-30 08:52] satyendrasinghpanwar commented on #37120
BeginGetHostAddresses doesn't work with impersonation.
GetHostAddresses internally call NameResolutionPal.TryGetAddrInfo, while BeginGetHostAddresses calls NameResolutionPal.GetAddrInfoAsync.
Both method have different way for resolving host.
TryGetAddrInfo uses Interop.Winsock.GetAddrInfoW for resolving host
GetAddrInfoAsync uses Interop.Winsock.GetAddrInfoExW for resolving host which always retu

[2019-04-30 10:44] ViktorHofer commented on #37205
@danmosemsft is that sufficient for our runs or do we need them to be retried?

[2019-04-30 10:49] Tim-Bijnens commented on #18276
I guess this is still not in any preview? This issue is making porting our website to .Net Core a real pain.

[2019-04-30 11:30] ViktorHofer commented on #37205
I don't think we have any alternatives at the moment. Changing to the Test Explorer would also guard us against MC outages, like the one that we just had over the weekend.

[2019-04-30 12:27] ViktorHofer opened #37295 "AllConfigurations and code coverage leg should use helix IncludeDotNetCli feature"
https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Helix/Sdk/Readme.md#all-possible-options

Currently we are packaging the dotnet cli ourselves. Instead we should use the pre-built feature in the Helix sdk by specifying `IncludeDotNetCli`, `DotNetCliVersion` and `DotNetCliPackageType`. That will download the dotnet cli and update PATH.

[2019-04-30 13:03] znakeeye commented on #28046
Funny. This allocator has become an outstanding hotspot in our memory intensive project as well. Maybe time to write a custom concurrent dictionary in the meantime? Or did you find a way to get rid of the allocations?

[2019-04-30 13:12] stephentoub commented on #37276
It looks like there are several issues here.  I'll take a look.

[2019-04-30 14:31] amagrath opened #38247 "Environment.OSVersion"
The .NET Core property `Environment.OSVersion` is reporting my Windows 10 Professional PC as being:

`Microsoft Windows NT 6.2.9200.0`

I know that software version numbering is bizarre at the best of times, but I'm sure this is wrong.

That version corresponds to Windows 8 according to: https://en.wikipedia.org/wiki/List_of_Microsoft_Windows_versions

If I run:

`dotnet --info`

at the command li

[2019-04-30 15:55] tarekgh commented on #37246
Talked offline to @joperezr and he is going to take a look fixing it in Arcade.

[2019-04-30 16:18] antonioortizpola commented on #37044
Not for us, I can confirm, no problems in 3 months with 2.1, the problem started the day we switched to 2.2.

I am in the process of make my WSDL clients singletons, I hope to end by the next week, that way I could confirm if it is a problem with the HttpClient alone or if WCF is making something wrong

[2019-04-30 17:03] carlossanlop commented on #33486
@terrajobst Immo, it seems you've modifided these files in the past. Could you please confirm if what I stated above is correct?

[2019-04-30 17:16] rbrugnollo commented on #37044
App working for 6 months on 2.1 without any issues, now happening on 2.2.

I'm trying to filter exactly which call is throwing the error, so I can isolate and run more tests.

[2019-04-30 17:23] steveharter commented on #36169
Closing this per the feature link above.

[2019-04-30 17:29] joperezr commented on #37246
Changes are in arcade now. Once the arcade packages are ready I'll submit a PR into corefx to manually ingest those in order to fix this.

[2019-04-30 17:45] steveharter commented on #36169
@JeremyKuhne do we have a feature issue for the JsonElement work? If so, please close this. Thanks

[2019-04-30 18:00] terrajobst commented on #35143
We should rename `Can` to `ControllerAreaNetwork` to avoid confusion with it being a word in English. `Packet` seems generic, but we can't think of a better, so it's fine.

[2019-04-30 18:04] carlossanlop commented on #29872
Thank you @slakul.

Step 4 of your repro steps is the key here. If I do steps 1-3 in C#, then do steps 4-9 in 7-Zip or Windows File Explorer, the file does not get corrupted.

I may have a fix for this. I was able to make the bug go away and the existing unit tests are still passing. I need to add some unit tests, but first I need to understand the edge cases.

[2019-04-30 18:38] danmosemsft commented on #35665
ping @JeremyKuhne

[2019-04-30 18:58] #37276 closed

[2019-04-30 19:14] danmosemsft commented on #37260
@jlestercastro ideally that message would be more helpful.  @safern would it make sense to wrap the `Gdip()` static constructor in a try/catch to add some more useful information, such as to make sure `libgdiplus` version XYZ or later is available, and possibly to try LD_DEBUG?

If we load by the runtime API, it will show this message today, and I know it has helped some people:
[code]

[2019-04-30 19:15] pavelovcharov opened #37304 "Dynamically generated method throws System.BadImageFormatException: 'Bad IL format.'"
.NET Core Version: 3.0.100-preview6-011672

In our project, we are using Reflection.Emit to create a class descendant at runtime. When we call the dynamically generated method of this descendant, it throws the BadImageFormatException with the message 'Bad IL format'. The same code works without any exceptions in .Net Framework 4.7.2.

I've prepared a small sample to demonstrate the issue: https://

[2019-04-30 19:20] merriemcgaw opened #37305 "[.Net Core]The icons still show the gear icon"
@Judy-Gao commented on [Wed Apr 24 2019](https://github.com/dotnet/winforms/issues/866)

**OS**: RS4 X64
**VS**: Dev16 16.1 d16.1 branch 28823.117 build
**.NET Core**: 3.0.100-preview5-11552 from Release branch

**More Info:**
1. This issue not reproduce .NET Framework project.
2. Affect controls and these's dependence dll.

Controls | DLL | Repositories
-- | -- | --
FileSystemWatcher | System.IO.

[2019-04-30 19:23] merriemcgaw commented on #37305
The resources associated with these binaries need to be ported to Core. This is required for compat with .NET Framework. DevExpress controls have runtime scenarios with designer functionality, and may need these icons.

[2019-04-30 19:37] JeremyKuhne commented on #35665
Yes, although I was hoping to get an easy repro to document how to get into this state.

[2019-04-30 19:56] jeffschwMSFT commented on #35034
Thanks for tracking this down @ericstj et. al.  Just so I am clear on what is needed for this issue.. I need to duplicate the contents of 'build' into a folder called 'buildTransitive'?  Correct?

[2019-04-30 20:00] verelpode commented on #37204
Aha, I didn't realize that.  In that case, shouldn't the Modulus method be renamed to **Modulo**?  Here's the definition of ["modulus" in Oxford English Dictionary](https://en.oxforddictionaries.com/definition/modulus):

Definitions 1 and 1.1 are also examples of the problem that I mentioned -- elitism and deliberate obfuscation -- and such behavior is unprofessional and bad for teamwork and shoul

[2019-04-30 20:29] carlossanlop commented on #29872
@slakul, would you mind clarifying the second part of the sentence in case I am not understanding it correctly?

I have a fix for the first part of the sentence: You were right, we are missing code that would clear the DataDescriptor flag if we are [in Update mode](https://github.com/dotnet/corefx/blob/8d2714b8af06bd563a2015c1b3155f04a91a4b1a/src/System.IO.Compression/src/System/IO/Compression/Zip

[2019-04-30 20:56] ericstj commented on #35034
Yep, that will do it.

[2019-04-30 21:30] davidsh commented on #37120
I agree this difference needs to be investigated. We should be using the same underlying Windows Winsock APIs for of the different overloads of the `*GetHostAddresses*` methods.

@wfurt

[2019-04-30 21:43] ViktorHofer commented on #35466
Another HTTP2 test failed, probably becaues of this:

[code]

[2019-04-30 21:56] ericstj commented on #36452
I'm going to experiment using the netstandard shims as the seeds for this only when in source build.

[2019-04-30 22:04] davidsh commented on #37282
This is a self-signed certificate.  But the KeyUsage is missing the "Certificate Sign" attribute.  On Linux, OpenSsl requires that attribute for self-signed certificates. @bartonjs example above shows his test certificate having that.  By this certificate doesn't.

![image](https://user-images.githubusercontent.com/7684835/56996399-44ad9a00-6b59-11e9-8901-1acd376afd41.png)

[2019-04-30 22:09] #33967 closed

[2019-04-30 22:14] pranavkm opened #37313 "[System.Text.Json]: Recursive property in collection type results in stackoverflow"
[code]

Environment: Microsoft.NETCore.App 3.0.0-preview6-27629-07

[2019-04-30 22:15] pranavkm commented on #37313
cc @steveharter \ @ahsonkhan

[2019-04-30 22:17] terrajobst commented on #34863
@wtgodbe

Unless I can't read it seems the only non-attribute violations are Ref Emit, which is tracked by #36716. So we can close this one then.

[2019-04-30 22:17] #34863 closed

[2019-04-30 22:23] AfsanehR commented on #37183
Thanks @jkotas . I will take a look at this.

[2019-04-30 23:18] pranavkm opened #37317 "[System.Text.Json] Serializing multi-dimensional arrays as properties throws"
[code]

This seems to work though:

[code]

[2019-05-01 00:23] GrabYourPitchforks commented on #36716
Looks like this work will be split across coreclr and corefx. For example, adding the `IEquatable<OpCode>` interface to `OpCode` requires a change to corelib. Since this might result in a game of ping pong I'll probably send some \[WIP\] PRs while we work to drive this down.

[2019-05-01 00:53] danmosemsft commented on #37305
It looks like these are wired up by convention. There is no code in the libraries that references them. They are embedded as resource streams that are named for the type, with the bmp suffix, ie.,
[code]
I'm guessing that somewhere in the designer is the other side of this assumption. We should be able to tweak it to look in a different assembly, and put these in winforms. That keeps 10KB of bloat

[2019-05-01 02:05] #31927 closed

[2019-05-01 02:15] slakul commented on #29872
@carlossanlop The second part of the sentence was crucial in case DataDescriptor flag was not cleared. The fix for the first part of the sentence is sufficient to solve the issue.

[2019-05-01 02:51] davidsh commented on #37282
See: https://github.com/openssl/openssl/issues/1780#issue-185177699

[2019-05-01 02:52] wfurt commented on #36494
I was able to get some improvements @Clockwork-Muse.
However I don't have time to keep experimenting so  #37319 disables the tests for now. Somebody with better inner knowledge of Linq should investigate.

[2019-05-01 03:16] safern commented on #37260
Yes it would make sense. We could potentially just wrap this call: https://github.com/dotnet/corefx/blob/dee434428ee392302ff2050bbee304c9fce68b2f/src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs#L77

I will rename the title and mark as up for grabs and 3.0.

[2019-05-01 03:26] wfurt commented on #36872
fixed by  #37213

[2019-05-01 03:26] #36872 closed

[2019-05-01 03:31] #36474 closed

[2019-05-01 03:33] wfurt commented on #35902
fixed by #37132

[2019-05-01 03:33] #35902 closed

[2019-05-01 04:32] danmosemsft opened #37321 "Writes to /home/helixbot failing on Ubuntu1904"
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190430.5/workItem/System.Security.Cryptography.X509Certificates.Tests

[code]
possibly due to
[code]

@bartonjs

[2019-05-01 04:36] danmosemsft opened #37322 "Environment SpecialFolder tests failing on Ubuntu 1904"
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190430.5/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.EnvironmentTests~2FGetFolderPath_Unix_NonEmptyFolderPaths(folder:%20MyDocuments,%20option:%20None)

it appears we can't find the Documents, etc folders on this distro.

eg GetFolde

[2019-05-01 04:39] danmosemsft commented on #37322
also some like

GetFolderPath_Unix_SpecialFolderDoesNotExist_CreatesSuccessfully(folder: MyPictures)
[code]

[2019-05-01 04:40] bartonjs commented on #37321
@MattGal Did 19.04 get set up with a different permissions model (or perhaps isn't redirecting $HOME to a different location)?

[2019-05-01 04:40] danmosemsft commented on #37321
Similarly: https://github.com/dotnet/corefx/issues/37322

[2019-05-01 04:41] danmosemsft commented on #37321
Yeah it's clearly not @bartonjs's code at fault --

[code]

[2019-05-01 04:44] danmosemsft commented on #37322
dupe of https://github.com/dotnet/corefx/issues/37321

[2019-05-01 04:44] #37322 closed

[2019-05-01 04:50] ahsonkhan commented on #37192
For reference, based on API-review discussion, here's the approved surface area for `JsonEncodedText`:
1) Static factory methods rather than ctor.
2) Optional `JavascriptEncoder` parameter rather than overload.
3) Return `ROS<byte>` instead of `byte[]` and rename the property. Remove string property.
4) Keep `IEquatable`, add `Equals(obj)` and `GetHashCode()`.
5) Struct instead of class.

The prop

[2019-05-01 04:55] danmosemsft commented on #37261
Output on 4.7.2:
[code]
Output on 2.1.9
[code]
Output on 3.0.0-preview3-27503-5
[code]

[2019-05-01 04:58] danmosemsft commented on #37261
Very likely related to one of these changes:
[code]

[2019-05-01 05:03] wfurt commented on #33794
I have setup as described but I was not able to reproduce this so far. I tried to run bombardier tool several times and than access it from Safari and curl. I also added `bool bombardier = requestText.StartsWith("GET / HTTP");` and I dump more debug when accessing x.x.x.x/test url.
I have 16.04.6 on 4 core VM.

[2019-05-01 05:04] danmosemsft commented on #37232
@tarekgh any idea bout this one?

[2019-05-01 05:09] wfurt commented on #37166
Correct link was  #35528 HTTP2: Implement MaxResponseHeadersLength setting.

It also seems like this is dup of  #35490 HTTP2: HPackDecoder has hard-coded max string size.
But it was pushed to future so it got off radar.

[2019-05-01 05:57] laceous commented on #37056
It looks like if the console changes size then this fix can cause issues. I took a stab at a proposed fix here:

https://gist.github.com/laceous/7f265e1affaef81df06b31a1300bf67d

I used the public APIs, but I believe the logic should be similar.

[2019-05-01 06:54] ericstj commented on #37305
It's defined in ToolboxBitmapAttribute, which we don't apply to any of the CoreFx types.  Can the designer apply this attribute via TypeDescriptor, or add some fallback for known types at a higher level?

[2019-05-01 10:25] NickCraver commented on #37261
Hmmm, definitely not an intentional change (recommend we add a test for this of course) - PR links for easier readability of my optimizations in this area:
- https://github.com/dotnet/coreclr/pull/20779
- https://github.com/dotnet/coreclr/pull/20795
- https://github.com/dotnet/coreclr/pull/21462

[2019-05-01 10:32] ViktorHofer opened #37325 "HandleCountChanges test fails frequently with AssertException"
Disabling the test. We should investigate if we make the test more robust without the need of a retry mechanism.

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=174161&view=ms.vss-test-web.build-test-results-tab

cc @stephentoub

[2019-05-01 13:01] ViktorHofer commented on #31609
Fails on master as well. Disabling the test.

[2019-05-01 13:30] zwread commented on #16364
@bartonjs and @vcsjones, thank you for the information, that would have been unfortunate. I will definitely start off with coming up with an API surface then.

My initial plan was similar to what @ShutterQuick mentioned in his last post. With a trust mode that would either allow the default root or a custom collection of certificates to replace it. The `System` mode would function exactly as it do

[2019-05-01 13:53] jkotas commented on #37261
The problem is here: https://github.com/dotnet/coreclr/blob/7a24a538cd265993e5864179f51781398c28ecdf/src/System.Private.CoreLib/src/System/Reflection/CustomAttribute.cs#L1163

`derivedAttributes` that is used as a filter gets modified with the new attributes. Maybe pass in a local copy of `result`?

[2019-05-01 14:22] davidsh commented on #37120
Is it possible this PR  #37327 will fix this?

@stephentoub

[2019-05-01 14:28] ViktorHofer commented on #30223
Just happened again: https://dev.azure.com/dnceng/public/_build/results?buildId=174978&view=ms.vss-test-web.build-test-results-tab

[2019-05-01 14:49] bartonjs commented on #16364
@zwread I like that it encompasses

* Do the current thing as a default
* Start with a limitation of self-issued
* Has an expansion point for different policy (e.g. add a new enum member).

Questions it leaves me with:
* Why would calling chain.Build() actually remove things from the collection?
  * I can't think of any BCL API that removes things from configuration state like this.  Generally, in

[2019-05-01 14:58] steveharter commented on #37313
Duplicate of https://github.com/dotnet/corefx/issues/36510

[2019-05-01 15:06] ViktorHofer commented on #37239
Happened again on `netcoreapp-Windows_NT-Debug-x64-Windows.7.Amd64.Open`:

[code]

[2019-05-01 15:19] stephentoub commented on #37166
I'll take this one.

[2019-05-01 16:02] tmds commented on #37056
Can you be more specific in what way it can cause issues?

[2019-05-01 16:06] tarekgh commented on #37232
@sdmaclea may know better here for assembly loading.

@Rabbit021 are you trying to load a desktop assemblies? what is the path of the System.Net.Http assembly you are loading? I am asking because in the .NET Core assemblies the resource set named as ```FxResources.System.Net.Http.SR.resources``` and not System.Net.Http.resources which means you were loading wrong version of such assembly.

[2019-05-01 16:08] tarekgh commented on #36494
Is it possible we can get a machine or VM for a couple of days we can use to investigate more?

[2019-05-01 16:12] pranavkm commented on #37313
@steveharter the other issue is for a cycle in the serialization graph. However, in this case, there isn't an actual cyle in fact, Children` node is entirely empty and has no back reference to the parent. I would expect this to serialize just normally.

[2019-05-01 16:13] wfurt commented on #36494
@ulisesh can give you access.

[2019-05-01 16:13] pranavkm commented on #36510
@ajcvickers this might be of interest to EF.

[2019-05-01 16:15] tarekgh commented on #36494
@ulisesh would the machine be isolated and not used for any other purpose? I won't disturb any running service there.

[2019-05-01 16:23] MattGal commented on #37321
@bartonjs I copied what our other Dockerfiles did but I agree that's what this looks like.  I'm guessing either a difference in how the public dockerhub Ubuntu 19 base image behaves or one of the base images I took from in the mcr repository already did that.

I'll look a bit more; if you figure it out either of us can make a PR to https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/ma

[2019-05-01 16:37] MattGal commented on #37321
Ah.  UserAdd doesn't work the same on this linux as Fedora.  This should fix it: https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/130

[2019-05-01 16:44] ajcvickers commented on #36510
@pranavkm Thanks.
@steveharter Is there some mechanism for the serializer to handle cycles without throwing? If not, this will be pretty much a show-stopper for anyone serializing object graphs from an OR/M.

/cc @divega

[2019-05-01 16:45] merriemcgaw commented on #37305
That makes sense, @Tanya-Solyanik can you see where we can do this in the designer codebase? @dreddy-work do you see _any_ runtime scenarios needing these icons? I, for one, do not.

[2019-05-01 16:52] sdmaclea commented on #37232
@Rabbit021 From the exception in the top post. It looks like an exception was thrown, then a handler tried to get the localized version of an exception related message.

The `System.Net.Http.resources` is a satellite assembly. It would normally be located in a culture specific directory next to `<path>/System.Net.Http.dll`.  So for culture name `en`, it would be in `<path>/en/System.Net.Http.resou

[2019-05-01 18:15] moh-hassan commented on #35558
I know it's closed, by I faced the same problems in Nunit test which causes the test success in Windows but fail in Linux ( Ubuntu) due to string comparison

I replaced

           StringComparer.CurrentCultureIgnoreCase
To

        StringComparer.OrdinalIgnoreCase
and test pass successfully
[Recommendations for String Usage](https://docs.microsoft.com/en-us/dotnet/standard/base-types/best-practic

[2019-05-01 19:18] ahsonkhan opened #37335 "Consider re-using the Utf8JsonWriter instance within the Serializer"
Currently, the serializer creates a new instance of the Utf8JsonWriter every time. Consider re-using an existing instance and resetting it each time.

https://github.com/dotnet/corefx/blob/5ed8c52f6a6d78267fe5857f7a67780ea02cc7a8/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs#L56

https://github.com/dotnet/corefx/blob/5ed8c52f6a6d78267fe5857f7a67780ea02cc7a8

[2019-05-01 19:24] sdmaclea commented on #37232
The FileNotFoundException seems to be coming from your OnAssemblyResolve handler.  There appear to be two functional errors...
[code]

[2019-05-01 19:52] stephentoub opened #37336 "Test failure with "Provider could not perform the action since the context was acquired as silent""
I've been seeing this error not-infrequently in local System.Net.Http test runs.
"Error -2146893790 calling WINHTTP_CALLBACK_STATUS_REQUEST_ERROR, 'Provider could not perform the action since the context was acquired as silent.'"
[code]

[2019-05-01 19:55] davidsh commented on #37336
![image](https://user-images.githubusercontent.com/7684835/57039018-5bfb8e80-6c10-11e9-9d2c-2884bd19f502.png)

I've never seen this error before.

[2019-05-01 19:59] davidsh commented on #37336
This is a test bug.  The problem is that the test is trying to use a client certificate via 'Automatic' selection.  That can have random effects on machine. It's probably picking a certificate on your machine in the PerUser/MY store that requires user consent, i.e. a smart-card PIN or something.

We probably should disable this test and try to fix it later.

[2019-05-01 20:03] wtgodbe commented on #33557
@tarekgh does this look like something that might be related to libicu?

[2019-05-01 20:06] tarekgh commented on #37232
Right. It looks the event handler is the cause then. Thanks for your reply.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Steve MacLean <notifications@github.com>
Sent: Wednesday, May 1, 2019 12:25:36 PM
To: dotnet/corefx
Cc: Tarek Mahmoud Sayed; Mention
Subject: Re: [dotnet/corefx] could not find file 'System.Net.Http.resources' (#37232)

The FileNotFoundExcep

[2019-05-01 20:18] stephentoub commented on #37336
Thanks, David.  I'll disable it.

[2019-05-01 20:53] #35490 closed

[2019-05-01 20:53] #37166 closed

[2019-05-01 21:00] stephentoub opened #37341 "Microsoft.VisualBasic.Tests.ErrObjectTests/Clear test failed on netfx"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37339~2Fmerge/test~2Ffunctional~2Fcli~2F/20190501.54/workItem/Microsoft.VisualBasic.Core.Tests/analysis/xunit/Microsoft.VisualBasic.Tests.ErrObjectTests~2FClear
[code]
cc: @cston

[2019-05-01 21:07] tarekgh commented on #33557
@wtgodbe I cannot tell without looking :-) does this issue not repro on Windows?

[2019-05-01 21:12] ViktorHofer commented on #37203
@safern with your work here, can you please also check why tests in dnceng/public master are skipped?

[2019-05-01 21:14] safern commented on #37203
Sure.

[2019-05-01 21:15] ViktorHofer commented on #37203
Updated the title. Full matrix = everything from the official build except the uapaot tests (2k tests are currently failing there).

[2019-05-01 21:15] jshin47 opened #37343 "Use custom ICU data directory at runtime"
On Linux, the default sorting behavior is StringSort, which places symbols _before_ numbers and letters.

On Windows, the default is to place symbols _after_ numbers and letters.

There is an easy way to get `CompareInfo.Compare` to make Windows and Linux behave consistently - if you are okay with the `StringSort` behavior.

However if you want the Windows-style behavior, there is no easy path. Th

[2019-05-01 21:20] stephentoub commented on #37341
It looks like this ends up using a shared ErrObject, and with tests running concurrently, there are race conditions.  We should either a) mark the test project as requiring sequential test execution, b) use RemoteInvoke.Execute to run the code in a separate process, and/or c) change the test to not use a shared object (though I imagine that's part of what the test is testing).

[2019-05-01 21:29] tarekgh commented on #37232
@Rabbit021 per @sdmaclea comment the issue looks in the event handler code. Closing this issue but feel free to reply back with any more questions.

[2019-05-01 21:29] #37232 closed

[2019-05-01 21:43] pranavkm commented on #37317
cc @ahsonkhan \ @steveharter

[2019-05-01 21:48] #37205 closed

[2019-05-01 21:55] stephentoub commented on #14041
cc: @wfurt

[2019-05-01 21:55] wtgodbe commented on #33557
On Windows I get a `URIFormatException`, which also seems wrong

[2019-05-01 22:17] #36553 closed

[2019-05-01 22:24] danmosemsft commented on #37343
@tarekgh

[2019-05-01 22:31] davidsh commented on #37282
@HaoK

Based on the analysis above, you should probably re-try your testing but generate your self-signed certificates to include the "Certificate Sign" in the KeyUsage attribute.

[2019-05-01 22:43] tarekgh commented on #37343
Did you try to do https://askubuntu.com/questions/21316/how-can-i-customize-a-system-locale?

[2019-05-01 22:55] tarekgh commented on #33557
It looks on Windows this is by design as the Uri cannot start with one '/' char.

https://github.com/dotnet/corefx/blob/master/src/System.Private.Uri/src/System/Uri.cs#L3737

and on Linux this can be a valid Uri according to https://github.com/dotnet/corefx/blob/master/src/System.Private.Uri/src/System/Uri.cs#L3663

I didn't look at Linux yet to know why we are returning the result we are seeing h

[2019-05-01 23:59] davidsh commented on #32007
I don't think this is actionable at this point.  We can re-activate if this is still a problem for release/1.1.x branch.

[2019-05-01 23:59] #32007 closed

[2019-05-02 00:12] davidsh commented on #32009
I don't think this is actionable at this point.  Please let us know if this is still blocking something in the release/1.1.x branch.

[2019-05-02 00:12] #32009 closed

[2019-05-02 00:21] #37341 closed

[2019-05-02 01:11] stephentoub commented on #37198
I'm also disabling ProcessTests.LongProcessNamesAreSupported against this issue.

[2019-05-02 01:12] stephentoub commented on #37198
And ProcessTests.ProcessStart_OpenFileOnLinux_UsesSpecifiedProgramUsingArgumentList

[2019-05-02 01:35] laceous commented on #37056
It's possible that my use of the public APIs is creating different behavior... but here's some things I've seen happen:

![prefix1](https://user-images.githubusercontent.com/2517907/57052494-692e7280-6c3c-11e9-8367-4cd78f316f49.gif)

![prefix2](https://user-images.githubusercontent.com/2517907/57052505-88c59b00-6c3c-11e9-9c51-1210ae4655bf.gif)

My "fix" involves clearing the current lines, and re-

[2019-05-02 01:49] #37325 closed

[2019-05-02 02:55] pielegacy opened #37348 "Firebird SQL over ODBC crashes application when importing VARCHAR(MAX)"
**Problem**

When trying to import data from a Firebird SQL database, the .NET Core host will crash when using SQL BulkCopy with a table that contains an `NVARCHAR(MAX)` column.

This is occurring within a `try-catch` block yet still crashes the application, there are no errors logged in the console and when ran as a Windows Service it crashes the entire service.

**Configuration**

![image](https

[2019-05-02 04:08] stephentoub opened #37351 "TestPartialLargeJsonReader failure in CI"
[code]
cc: @ahsonkhan

[2019-05-02 04:11] stephentoub opened #37352 "GetAsync_UnicodeHostName_SuccessStatusCodeInResponse test failing in CI"
The server this test is trying to reach is currently unreachable:
[code]

[2019-05-02 04:14] stephentoub opened #37353 "JsonEncodedTextTests.InvalidLargeEncode failing with OOM in CI"
[code]
cc: @ahsonkhan

[2019-05-02 04:15] davidsh commented on #37352
[code]

We'll need to find a new Unicode server on the internet or figure out another way to test this scenario.

[2019-05-02 04:15] #35138 closed

[2019-05-02 04:15] #37224 closed

[2019-05-02 04:19] stephentoub opened #37354 "Move new TaskExtension extension methods to new types"
Already moved in coreclr.  Once corefx ingests an updated coreclr with the change, we need to:
- Update the refs to delete the previous location and add the new location
- Add the types to the Microsoft.Bcl.AsyncInterfaces assembly
- Delete the old types from coreclr

[2019-05-02 04:54] ahsonkhan commented on #37351
Do you know which PR/CI leg this failed in? Presumably its an intermittent issue since not much has changed here so additional info will help me repro it.

[2019-05-02 05:04] IanKemp commented on #10632
Why not?

[2019-05-02 05:15] ahsonkhan commented on #37353
I am assuming this was an **on-demand outerloop** CI run, correct?

[2019-05-02 05:29] tmds commented on #37198
@stephentoub we need some input here: https://github.com/dotnet/corefx/pull/37294#discussion_r280190584

[2019-05-02 05:41] Tratcher commented on #10632
Microsoft.Net.Http.Headers duplicated many of the types in System.Net.Http.Headers but then made many breaking changes to improve how they work. CoreFx is strongly against taking breaking changes so re-unifying is going to be very hard.

The HeaderNames class would be one of the easiest since CoreFx doesn't have that type, but moving it would breaking existing AspNetCore customers.

[2019-05-02 05:43] IanKemp commented on #10632
Couldn't you forward that type?

[2019-05-02 05:55] Tratcher commented on #10632
Type forwards have limits, like you can't change the namespace.

[2019-05-02 06:07] paaland opened #37357 "string.Equals with InvariantCultureIgnoreCase differs from .Net Framework behaviour"
The following code shows the two strings as equal in .Net Framework (4.7) while .Net Core 2.2 says they are different.

[code]
I just ported a lot of code from .Net Framework to .Net Core and this is causing lots of errors.

[2019-05-02 09:40] bauca opened #38245 "AddRange doesn't throw System.InvalidOperationException if a collection was modified."
# AddRange doesn't throw System.InvalidOperationException if a collection was modified.

# Environment

Microsoft Windows 10 Pro
10.0.17763 N/A Build 17763
Visual Studio Professional 2017 - 15.9.10
**.NET Core 2.2.102**
Console Application

# Problem description and repro steps
Considering the following scenario and classes described:
[code]

[code]

**Found result:**
The application get stucked i

[2019-05-02 11:30] stephentoub commented on #37353
Yes, why?

[2019-05-02 12:08] stephentoub commented on #10632
Can you enumerate what the breaking changes are? Are they all API signature changes? Internal details that change behavior? A mix? We should evaluate whether the changes individually; it's possible some of the breaks could be tolerable, depending on what they are

[2019-05-02 12:28] CyberSinh commented on #30861
Hi, do you have a plan to address this issue in the near future? Thanks.

[2019-05-02 13:05] zwread commented on #16364
@bartonjs,

Thank you for the response, the simplest way I see of resolving these questions is to fix the validation in `X509Chain`.

[code]

With this the collection is no longer being mutated and an exception is being thrown if the collection contains any non-self-issued certificates, or the mode is set to `System` and their are certificates in the `CustomTrustCollection`.

I might be misunderst

[2019-05-02 13:24] ViktorHofer commented on #37353
on x86 AFAIK

[2019-05-02 13:41] ViktorHofer opened #37362 "GetHostName is unreliable on OSX"
Failing here: https://dev.azure.com/dnceng/public/_build/results?buildId=176435&view=ms.vss-test-web.build-test-results-tab

Seems like this call in the Unix PAL sometimes returns an error: https://github.com/dotnet/corefx/blob/master/src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Unix.cs#L133

Failing tests which I will disable:

1. `System.Net.NameResolution.Tests.GetHostByNameTe

[2019-05-02 13:56] karlra opened #37365 "RNGCryptoServiceProvider is really slow on linux"
We are very heavy users of RNGCryptoServiceProvider and .net core on Linux.

We've found that its performance is great on Window but quite bad on Linux.

[code]

**Output on my 10W CPU laptop running windows 10:**
[code]

**Same machine but in VMWare (Ubuntu 16.04, dotnet version 2.1.302)**
[code]

**Intel(R) Xeon(R) CPU E5-1650 v4 @ 3.60GHz (bare metal, Ubuntu 16.04, dotnet version 2.1.503)**

[c

[2019-05-02 13:57] stephentoub commented on #37365
cc: @bartonjs

[2019-05-02 13:57] stephentoub commented on #37357
cc: @tarekgh

[2019-05-02 13:59] Izumemori opened #37366 "Environment.GetEnvironmentVariable with something other than EnvironmentVariableTarget.Process silently fails on systems without registry"
I have noticed that calling
[code]
silently "fails", ie returns an empty string, instead of falling back to `EnvironmentVariableTarget.Process` or throwing a `NotSupportedException`.

Is there any reason for this? Because this seems like an easy thing to overlook when porting an application from Windows to Unix, and might confuse users.

[2019-05-02 14:07] FiniteReality commented on #37204
Since there's a way to get a byte[] from the Builder, shouldn't there be a way to get a Span<byte> from the builder? BigInteger has TryWriteBytes, so I'm guessing this was missed.

[2019-05-02 14:09] stephentoub commented on #37366
This was discussed at length in https://github.com/dotnet/corefx/issues/32685 and https://github.com/dotnet/corefx/issues/20147. Thanks.

[2019-05-02 14:17] Izumemori commented on #37366
Thank you, I guess I can't really argue with it. A warning on the docs might be enough, but I'd love to see it actually throw or at least fall back to Process, as many people might not check the docs because it does return the same as an unset variable.

[2019-05-02 14:17] #37366 closed

[2019-05-02 14:33] bartonjs commented on #37365
Nope.  We just call into OpenSSL.  You might get better performance numbers on Ubuntu 18.04 (OpenSSL 1.1.0 instead of OpenSSL 1.0.2) or Ubuntu 18.10 (OpenSSL 1.1.1).

[2019-05-02 15:20] bartonjs commented on #16364
`ExtraStore` is just an extra collection (store) of certificates to look at when doing chain resolution.  It doesn't impart trust, and it doesn't care if the certs in it are valid-vs-expired, end-entity-vs-intermediate-vs-root, et cetera.

So, yeah, something like

[code]

with a truth table of

* TrustMode == System, CustomTrustStore.Count == 0  => Current behavior
* TrustMode == System, CustomTr

[2019-05-02 15:32] vcsjones commented on #16364
@bartonjs It's simple and I like it, I assume `ExtraStore` would continue to work then? e.g. I have a leaf issued from an intermediate off a custom root. So I would:

1. Put my root in `CustomTrustStore`.
1. Populate `ExtraStore` with my intermediates.
1. Build the chain off my leaf.

That is a scenario I care about; I don't want to put my intermediates in CstuomTrustStore because I don't trust th

[2019-05-02 15:38] vcsjones commented on #16364
Is that something worth enforcing? Does `CustomTrustStore` need to require the cert to be self signed, or just that it is just a point of being ultimately trusted?

[2019-05-02 15:53] danmosemsft commented on #30861
@CyberSinh do you want to write the API proposal as suggested above? that is the next step.

[2019-05-02 16:03] karlra commented on #37365
I see.

I tried it on Ubuntu 18.04 and it's even slower than 16.04, almost twice as slow. Wow.

In any case, if you can't do anything about it, thank you for your time.

[2019-05-02 16:04] stephentoub opened #37370 "SendPingAsyncWithHostAndTimeoutAndBuffer_Unix failed in CI"
[code]
cc: @wfurt

[2019-05-02 16:08] wfurt commented on #37370
Do you have link to the failure @stephentoub ? I assume this is OSX?

[2019-05-02 16:10] safern commented on #37054
Note that I've made this test a No-op test when running on alpine: #37350

[2019-05-02 16:11] stephentoub commented on #37370
Yup:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37368~2Fmerge/test~2Ffunctional~2Fcli~2F/20190502.14/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.PingTest~2FSendPingAsyncWithHostAndTimeoutAndBuffer_Unix

[2019-05-02 16:14] wfurt commented on #37362
This is generally infrastructure issue.

[2019-05-02 16:24] ViktorHofer commented on #37362
you mean the osx machines aren't configured correctly?

[2019-05-02 16:27] wfurt commented on #37370
Seems related to  #37362.  The assert is confusing but it is on path where ping timed out.

[2019-05-02 16:31] wfurt commented on #37362
not necessarily. There may be network outages or timing. Part of the problem is that this (and some other networking tests) depend on external services. I've seen cases when ping or nslookup on OS it self fails to resolve. With that, there is not much we can do at the test level.

[2019-05-02 16:37] ViktorHofer commented on #37362
And exactly for such cases @stephentoub added the RetryHelper feature: https://github.com/dotnet/corefx/blob/master/src/CoreFx.Private.TestUtilities/src/System/RetryHelper.cs. Still its usage should be as spare as possible, otherwise we will get back to the state where we don't capture actual product issues like races.

[2019-05-02 16:37] bartonjs commented on #16364
Yep.

The default for the custom trust chain builder on Windows is to ignore non-self-issued (I don't remember if they check the signature during the filter or not).  They have a flag to opt in to doing "custom anchors" vs "custom roots".

So, assuming we start with "custom roots", on macOS and Linux we'd need to copy the collection.  Saying this, I guess we ultimately need to copy it anyways (int

[2019-05-02 16:39] stephentoub commented on #37362
I'm not sure about that.  @wfurt, isn't this the case where when there's a failure it's a failure for a really long time, maybe even until the machine is restarted or something like that?

[2019-05-02 16:44] stephentoub opened #37372 "ArrayBufferWriterTests_String.MultipleCallsToGetSpan test failed in CI"
On macOS.
[code]
cc: @ahsonkhan

[2019-05-02 16:48] tarekgh commented on #37357
We depend on the underlying OS collation behavior so it is expected you can see some differences. Please do the following to get the behavior you desire:

[code]

The issue https://github.com/dotnet/corefx/issues/17052 has some more info too.

I am closing this issue but feel free to send any more question you may have.

[2019-05-02 16:48] #37357 closed

[2019-05-02 16:48] ViktorHofer commented on #37372
The tests asserts that the Span that is returned from GetSpan is always at the same memory location. Do the pointers need to be pinned maybe? https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/ArrayBufferWriter/ArrayBufferWriterTests.T.cs#L375

[2019-05-02 16:50] stephentoub commented on #37372
The spans need to be pinned.  I'm about to push a PR.

[2019-05-02 16:51] ViktorHofer commented on #37372
Ah yeah, I meant the spans... You were faster, as always 😁

[2019-05-02 17:00] tannergooding commented on #37199
I think this should be fine as long as there is a single and consistent way to check for a given extension. It might be something that needs further thought if the instructions that are backported aren't consistent with what were exposed upstream...

I believe we require the FP extension, but I don't think we require the SIMD extension. Someone on the JIT team would know better.

[2019-05-02 17:00] tannergooding commented on #37199
The key points for the classes and methods we expose are:
* Each class has a single `IsSupported` check so if that check returns `true`, all methods in that class must work (otherwise, we need to split them into groups where that condition holds).
  * That is, we should never end up in a situation where a user can do `if (Isa.IsSupported) { Isa.Method(); }` and then have that fail because the emit

[2019-05-02 17:01] wfurt commented on #37362
I'm not sure but I can do some digging. I wanted to run caching name server locally on each machine but I was not able to convince infrastructure to do it.

[2019-05-02 17:03] vcsjones commented on #16364
OK, I think I like this API surface - it's simple enough.

I'm less familiar with OpenSSL's APIs but this should be achievable on macOS using `SecTrustSetAnchorCertificates` that works on `SecTrustRef`.

[2019-05-02 17:04] davidsh commented on #32576
@bartonjs How hard is this to implement? It seems like something at your layer.

[2019-05-02 17:04] #37353 closed

[2019-05-02 17:39] bartonjs commented on #32576
Hard? Not particularly.  But it definitely wouldn't be "fail means recheck" since that starts allowing for some I/O based aggression (not really DoS, but aggression) with client auth certs.  I'm going to be looking at changing how often non-system stores are rescanned in the next couple of days (to slow it down), it could make sense to allow refreshing the system stores at the same time with a sim

[2019-05-02 17:40] buyaa-n commented on #37104
There is 2 steps before schema validation:

1. Adding schema to schema set: `cfg.Schemas.Add(null, schema);` where the schea is loaded and parsed, also included schemas loaded and parsed on this step. The error we want to show could be thrown here, but seems we should ignore unsuccessfully loaded schemas included, from ShemaSet.Add() method documenation:
![image](https://user-images.githubusercont

[2019-05-02 17:42] bartonjs commented on #16364
https://github.com/dotnet/corefx/blob/bf0fb29fb55cf4c3d9063c78e8f72fb9cd4d041b/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs#L94

I've already scoped our shim down to "here's the STACK_OF(X509*) representing the trust list", so just requires using a different value thereabouts.

[2019-05-02 17:55] wyf5188 commented on #32948
Not working on my case until I put the application pool account running the the web site into Administrators group. Does the function: RunImpersonated really requires Administrative rights in order to call a second web api with the first incoming request context user identity?

[2019-05-02 18:05] tebeco commented on #36553
@davidsh
how can we make sure all Azure Sdk will be tested against this for 3.0 ?

SignalR creates websocket in order to connect to Azure SignalR
as this change focus on `http_proxy` for httpclient handler i'm not sure websocket will benefits from it

also as CosmosDb/KeyVault and other Api manually creates their own httpclient manually with custom handler
It's would be lovely to have a way to mak

[2019-05-02 18:06] karelz commented on #37044
Based on the replies here, I don't think it will be simple to create a repro.
I would recommend to get any repro environment where we can experiment - collect more data, try private builds, etc.
If anyone has such environment (incl. production) where they can experiment and work closely with us, please let me know and let's dig deeper into it ...

[2019-05-02 18:12] davidsh commented on #36553
as this change focus on http_proxy for httpclient handler i'm not sure websocket will benefits from it

If they are creating a .NET Core websocket via System.Net.WebSockets.Client, then they will benefit from it.  The implementation of .NET Core websocket uses the common HTTP stack on .NET Core (which uses SocketsHttpHandler) to start the websocket.  SocketsHttpHandler will query HttpClient.Defaul

[2019-05-02 18:13] davidsh commented on #36553
@karelz

[2019-05-02 18:15] davidsh commented on #37293
@karelz

[2019-05-02 18:39] stephentoub opened #37378 "System.Tests.GCTests.GetGCMemoryInfo test failed in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=176754&view=ms.vss-test-web.build-test-results-tab&runId=4250734&resultId=463789&paneView=debug
netcoreapp-Linux-Release-x64-Ubuntu.1804.Amd64.Open
[code]
cc: @luhenry

[2019-05-02 18:39] davidsh commented on #14041
We should do this as well: #26193

[2019-05-02 18:41] #37372 closed

[2019-05-02 18:51] ViktorHofer commented on #21037
Happened again here: https://dev.azure.com/dnceng/public/_build/results?buildId=176728&view=ms.vss-test-web.build-test-results-tab&runId=4249774&resultId=482981&paneView=debug

[code]

[2019-05-02 18:56] JeremyKuhne opened #37380 "OleDbConnectionTests.GetSchema failing with DISP_E_BADVARTYPE in CI"
Haven't dug into it. Race maybe? Bad 32 bit signature? (Saw the failure on netcoreapp-Windows_NT-Release-x86-Windows.7.Amd64.Open)

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=175935&view=ms.vss-test-web.build-test-results-tab&runId=4252532&paneView=debug&resultId=312713

[2019-05-02 18:59] ViktorHofer commented on #21037
@davdish @wfurt this one just failed on OSX. Would it help to guard this line with the RetryHelper? https://github.com/dotnet/corefx/blob/master/src/System.Net.HttpListener/tests/HttpListenerResponseTests.cs#L22

[2019-05-02 18:59] ViktorHofer commented on #21037
@davidsh

[2019-05-02 19:01] davidsh commented on #21037
No.  We need to root cause this.  This exception

should never been exposed to the API caller.  It should have been a public SocketException or something with this exception possibly as InnerException.

We shouldn't need to use "retries" when doing loopback I/O.

[2019-05-02 19:04] ViktorHofer commented on #21037
OK great, even better!

[2019-05-02 19:09] onovotny opened #37381 "Cannot use ConfiguredAsyncDisposable or ConfiguredCancelableAsyncEnumerable with Microsoft.Bcl.AsyncInterfaces"
With `Microsoft.Bcl.AsyncInterfaces`, it's impossible to use `ConfiguredCancelableAsyncEnumerable<T>` or `ConfiguredAsyncDisposable`'s

The factory methods that create them are in `TaskExtensions`, which is missing currently from the `netstandard2.0` version. As those ctor's are internal, there's no way to use them correctly.

/cc @stephentoub @terrajobst

[2019-05-02 19:10] stephentoub commented on #37381
Dup of https://github.com/dotnet/corefx/issues/37354
Addressed by https://github.com/dotnet/corefx/pull/37379

[2019-05-02 19:10] #37381 closed

[2019-05-02 19:11] DSBRBrasil commented on #37104
Hi,
I did can do works it, this way:
[code]
 I listed all files schemas names, thats  worked it for me.

Thank you guys !

[2019-05-02 19:11] #37104 closed

[2019-05-02 19:14] tarekgh commented on #33557
I have looked at the issue on Linux, the problem has nothing to do with icu. here is what is the problem:

The URI code detect that running on Linux and the string starts with '/' which means it could be a valid file path. and store the internal uri._string as the original value "/üri". Later, the code will call the method ParseRemaining which will call EscapeUnescapeIri.

https://github.com/dotne

[2019-05-02 19:33] wtgodbe commented on #37211
Closing as part of https://github.com/dotnet/corefx/issues/37198

[2019-05-02 19:33] #37211 closed

[2019-05-02 19:40] CyberSinh commented on #30861
@danmosemsft, thank you for your trust but I think @JeremyKuhne is more qualified than I am to do it. That's why I wanted to know if you had this feature on your roadmap. Thanks again.

[2019-05-02 19:43] wtgodbe commented on #34837
Closing as no-repro, tests have been green for quite some time: https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190502.2/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogTraceListenerTests~2FTraceEventTest

[2019-05-02 19:44] #34837 closed

[2019-05-02 19:53] wtgodbe commented on #34002
Looks like the first was done by https://github.com/dotnet/corefx/commit/229fad3002e6f986b3ae6eab08bc023abaf99bec#diff-290552751e0ce621017c8a655f3deec1, looking into the second.

[2019-05-02 19:59] wtgodbe commented on #34002
Closing as this looks to be fixed, if @joperezr sees another failure like this in the next arm32 run we can reopen.

[2019-05-02 19:59] #34002 closed

[2019-05-02 20:14] davidsh commented on #33976
With current .NET Core 3.0 master branch, I see similar results as @wfurt

[code]

Results:
[code]

This means that we are successfully connecting with HTTP/2.0.

I didn't test the full scenario since there is no client certificate available for us to try out.

I am going to close this issue since the "Unknown Exception" reported against .NET Core 2.2 doesn't occur w/ .NET Core 3.0 current code.

[2019-05-02 20:14] #33976 closed

[2019-05-02 20:19] Tanya-Solyanik commented on #37305
@Shyam-Gupta is working on the toolbox.
@ericstj  - what was the reason these attributes were not applied? We did not know they were needed?

[2019-05-02 20:21] wtgodbe commented on #31433
@SteveL-MSFT @mlorbetske @vijayrkn were you able to try this scenario again with the preview4 bits?

[2019-05-02 20:27] davidsh commented on #23518
With current .NET Core 3.0 master branch, I now see this:

[code]

Results:
[code]

This means that we are successfully connecting with HTTP/2.0.

I didn't test the full scenario since there is no client certificate available for us to try out.

We enabled HTTP/2.0 now as of .NET Core 3.0 Preview 6 (not yet released).  The default HTTP stack in .NET Core 3.0 (similar to .NET Core 2.1, 2.2) is our

[2019-05-02 20:32] ericstj commented on #37305
See https://github.com/dotnet/corefx/issues/37305#issuecomment-488165692.  These are designer assets that don’t belong in runtime assemblies. If you can put them in the designer you’ll have more control of them (just think of high dpi and theming changes in the IDE).

I haven’t looked at all the types but I can imagine layering is also a problem since drawing needs to be higher in the stack on .NE

[2019-05-02 20:47] GrabYourPitchforks commented on #36716
For the below errors, the types / APIs in question don't even exist in System.Private.CoreLib. We may want to keep these suppressions for now while we figure out how to add the missing implementations back to coreclr.

[code]

[2019-05-02 20:48] danmosemsft commented on #30861
@CyberSinh that's fine. To answer your question, we don't have a plan to do this in the near future.

[2019-05-02 20:56] davidsh commented on #31524
This exact issue came up while analyzing this issue: https://github.com/Microsoft/msbuild/issues/4335#issuecomment-488125520

This behavior is "by-design" for System.Uri.

See the issue linked above and:
https://davescoolblog.blogspot.com/2011/11/uri-empty-path-segments-matter.html

[2019-05-02 20:56] #31524 closed

[2019-05-02 20:58] ygoe opened #37385 "Source code for System.Threading.Timer is missing"
It should be here: https://github.com/dotnet/corefx/tree/master/src/System.Threading.Timer

But that project is empty. It doesn't look correct. I need to look at the implementation of the `Change` method to evaluate its performance characteristics. (I.e. is it okay to call it repeatedly in a hot path.)

[2019-05-02 21:06] stephentoub commented on #21037
It is a public SocketException... this type derives from it:
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Common/src/System/Net/Internals/SocketExceptionFactory.cs#L11-L34

[2019-05-02 21:12] vcsjones commented on #37385
The implementation for this is in CoreLib, which is in the coreclr repository here: https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Threading/Timer.cs

[2019-05-02 21:15] ericstj commented on #37305
Yeah, lots of these are actually much lower in the .NETCore stack and won't be able to take a dependency on ToolboxBitmapAttribute.  We can't push ToolboxBitmapAttribute down due to its dependency on Image / gdiplus.   /cc @safern

Here's where WInForms reads these: https://github.com/dotnet/winforms/blob/ee3a37b37de437d04f542e650bd5c26e504b73cc/src/System.Windows.Forms.Design/src/System/Drawing/D

[2019-05-02 21:19] tebeco commented on #36553
The main issue for us now is to be able to benefits from "outside" resource from :
* LAN (production)
* Dmz (production)
* LAN (on premise / DevInt / Uat...)
* Developper computer

the nightmare for us today is that, in order to simply press F5, we have to:
* run local a `fake proxy` that authenticate request in our name (CNTLM / Px ....)
* run fiddler
* start the app (`dotnet run`)

these "outsid

[2019-05-02 21:21] divega commented on #23542
System.Data.OleDb was ported to .NET Core in https://github.com/dotnet/corefx/pull/37101 by @maryamariyan. It will be released as a package and as part of the Windows Compatibility Pack in 3.0.

Thanks everyone for the feedback.

[2019-05-02 21:21] #23542 closed

[2019-05-02 21:22] davidsh commented on #36553
All environment variables are now working across all platforms.  See: #37200, #37238

[2019-05-02 21:22] Tanya-Solyanik commented on #37305
Thank you for the investigation, Eric! We were hoping to reuse the existing extensibility model here:(. Seems like we have to follow WPF-y model. FYI @dustincampbell

[2019-05-02 21:23] #37385 closed

[2019-05-02 21:25] tebeco commented on #36553
@davidsh

i edited the previous comment, do you want me to edit and put the rest here for clarity for further readers ?

[2019-05-02 21:26] tebeco commented on #36553
i feel bad i did not even read the title of the PR ;) (jumped too fast to part of the code)
my bad

[2019-05-02 21:30] SteveL-MSFT commented on #31433
ping @jianyunt

[2019-05-02 21:31] helbize opened #37386 "System.Net.Http.HttpConnection.SendRequestContentWithExpect100ContinueAsync can cause an UnobservedTaskException in certain scenarios"
In certain scenarios, the sendRequestContentTask within HttpConnection.SendAsyncCore can be leaked causing an UnobservedTaskException to occur. I have observed this in 2.1, but I believe it can still happen in master.

At one point we start the task (HttpConnection.cs:493):
[code]

But we don't necessarily wait for the task prior to leaving this function. I believe the offending line is probably H

[2019-05-02 21:41] stephentoub opened #37389 "TimeZoneInfo_DisplayNameStartsWithOffset tes failing locally for Casablanca"
[code]
cc: @tarekgh

[2019-05-02 21:43] tarekgh commented on #37389
thanks @stephentoub for reporting it.

[2019-05-02 21:48] jshin47 commented on #37343
Hi Tarek,

I didn't see this reply, thanks for getting back so quickly!

Yes, that's the first thing I did. I verified that it works by using the `sort` command.

I don't get the impression that any of the system locale stuff matters because it all goes through ICU. Is that not the case?

[2019-05-02 22:01] JeremyKuhne commented on #36069
I don't see a problem with exposing this on `NamedPipeServerStream`. @carlossanlop can you help get this to a more formal proposal?

[2019-05-02 22:04] tarekgh commented on #37343
That is I am not sure of. We just call ICU for the collation. If your custom locale is picked by ICU, it should be reflected on the .NET. Maybe you can try to call the native ICU API first to see if the locale change is reflected there.
Or, if you can share the changes you did and how did you install it, I can try it myself.

By the way, the steps in  https://askubuntu.com/questions/21316/how-can-

[2019-05-02 22:07] JeremyKuhne commented on #36151
If there are any other questions we can reopen this.

[2019-05-02 22:07] #36151 closed

[2019-05-02 22:08] admilazz commented on #3188
Mono.Posix doesn't let you send a signal to a process given its process ID. It is, therefore, pretty useless for the purpose of this issue.

[2019-05-02 22:10] jshin47 commented on #37343
Sure, I can share the changes.

All I did was edit the file /usr/share/i18n/locales/iso14651_t1_common to edit the rule for the apostrophe:

`<U0027> <TIF-A>;IGNORE;IGNORE;<U0027> # 61 '`

And then rebuilt with `locale-gen "en_US.UTF-8`

[2019-05-02 22:12] JeremyKuhne commented on #36197
There is a problem with Windows in that there is a dependency on a dll being loaded that isn't. We'll load that here to work around it.

[2019-05-02 22:17] tarekgh commented on #37343
Thanks @jshin47 for sharing. I'll try to take a look in the next couple of days.

[2019-05-02 22:22] davidsh commented on #36553
Not sure I understand.  But if you feel that there is some new issue not addressed here regarding configuration with either .NET Core or other components, please open up a new issue. For things outside of .NET Core, it would be best to open up the issue in those repo's.  Thx.

[2019-05-02 22:27] JeremyKuhne commented on #36680
`FileStream` allocates a 4K buffer by default. That's not gigabytes for sure. If we can get more info on this we can look into possible mitigations if, in fact, FileStream is eating all of the space.

[2019-05-02 22:27] jshin47 commented on #37343
Sure thing. I used the `sort` command with a text file containing just the strings

`100 Mile House`
`'s-Hertogenbosch`

And it correctly sorted.

But my test program still puts the second string before the first.

[2019-05-02 22:31] JeremyKuhne commented on #36713
Similar to #37121. We should match the legacy behavior (i.e. Windows).

[2019-05-02 22:39] Kevat commented on #29164
I'm seeing similar issues with oData and EFCore. Was a correct issue created in the oData/webapi project? If so, could someone please link to that issue here?

[2019-05-02 23:00] danilobreda commented on #31278
Im having the same issues, [https://github.com/JeremySkinner/FluentValidation/issues/1105](Here)
The problem is occorring only on linux, On my build server (Ubuntu 18.04) and on production docker microsoft/dotnet:2.2-aspnetcore-runtime (old repo).
The Tests is getting some fails and when published the rest calls is returning the json with REPLACEMENT CHARACTER (�) when ã, é, ç... #1105

[2019-05-02 23:11] danilobreda commented on #31278
The problem can be the [ICU](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/globalization-invariant-mode.md)?
I think this is not installed on my linux build machine, and probably on the docker image, @tarekgh can you help me with that?

[2019-05-02 23:18] tarekgh commented on #31278
@danilobreda  for ```microsoft/dotnet:2.2-aspnetcore-runtime``` I think you are running into the issue https://github.com/Microsoft/Oryx/issues/68 which is the image is enabling the Globalization Invariant mode. They are working to fix the image.

For ```server (Ubuntu 18.04)``` could you check if you have the same issue as you indicated? Could you double check if the ICU is installed on that serv

[2019-05-02 23:22] jshin47 commented on #37343
One more thing.

I think that ICU data files typically have the name `icudtl.dat` and for other apps, like `chromium-browser` for instance, are customized on a per-app basis. There may also be a similar default data file embedded in some `so` file, I imagine. I think that these files drive ICU behavior, not the system locale. I have no idea how to compile the files, and even if I did, no idea how

[2019-05-02 23:45] tarekgh commented on #37343
Right, ICU carry its own collation data and that is what it uses for performing the sort operations. .NET don't care how ICU installed there as .NET just calls the ICU native APIs. So, if you customize the ICU and install it, that will get reflected on .NET automatically.

What you can do is download the ICU sources from https://github.com/unicode-org/icu/releases/tag/release-64-2 and then do your

[2019-05-03 00:54] kburgoyne opened #37394 "ZipArchive() seems to read deadloop under UWP on a defective test file"
I have a ~330MB test ZIP file which Microsoft.NETCore.App "new ZipArchive(…)" will read for about  1 minute and then finally throw System.IO.InvalidDataException("End of Central Directory record could not be found.").

That's "acceptably correct" because the file is truncated by one byte at the end due to a bad download. A couple older ZIP utils also reject the file (although Windows File Explorer

[2019-05-03 03:14] vcsjones commented on #16364
One other thought - should the enum be `[Flags]`?

Maybe Not for v1 of the implementation - but there may be a time where you want to specify additional roots to the other existing trust stores, not exclusive roots. OpenSSL (as you described it) and MacOS support this, though it seems like Win32 doesn't?

[2019-05-03 03:47] benaadams opened #37396 "Remove in and readonly ref from Activity apis"
From "Shrink System.Diagnostics.Activity by 40 bytes" https://github.com/dotnet/corefx/pull/37395

`ActivitySpanId` and `ActivityTraceId` can be shrunk to a single pointer size and made immutable meaning `in` and `readonly ref` are no longer required and become a disadvantage.

Also change the enums `ActivityIdFormat` and `ActivityTraceFlags` to be `byte` sized.
[code]

/cc @stephentoub @davidfowl

[2019-05-03 04:48] bartonjs commented on #16364
As far as I know, that's correct.  While we could enumerate LocalMachine\Root, LocalMachine\ThirdPartyRoot, and CurrentUser\Root manually to add to the collection, it'd miss the WU backchannel for automatic trust.... and maybe other stuff that we don't accurately model in the Linux and macOS chains (because I don't know about it).

The best answer would be "try explicit, if it failed, return syste

[2019-05-03 04:49] ericstj commented on #37305
You can keep the exisitng model for user code, but for these framework types add a fallback.  We've done similar things elsewhere in .NETCore (see TypeConverter).  It's not a big change.

[2019-05-03 05:10] danmosemsft commented on #37305
@merriemcgaw perhaps this bug should move back...

[2019-05-03 05:18] AndreasTruetschel commented on #36680
@danmosemsft I don't know the assembly it tries to load. As this is a closed source project at work, I am not able to provide you the repro/source code. I tried to build a small repro mut was not able to repo the bug this way.

@JeremyKuhne It is exactly the case that the memory allocated by the process that this occurs in allocates gigabytes of memory after the operation on the file-stream. The s

[2019-05-03 05:24] davidfowl commented on #37055
I'm likely going to change ASP.NET Core to remove these calls and replicate what they are doing just passing in the right names. It avoids bloating activity further, and the strings can be static/const.

[2019-05-03 05:25] davidfowl commented on #36999
Now I also want this API so I can unit test this thing properly 😄

[2019-05-03 05:28] GrabYourPitchforks opened #37397 "Investigate allowing Utf8String package to work on netstandard 2.0"
Currently the package requires netcoreapp3.0 nightly. We'd reach a wider audience if our customers could experiment and give feedback with a netstandard 2.0 compatible package.

[2019-05-03 06:14] davidfowl commented on #36680
@AndreasTruetschel a memory dump might help. Sending it directly to somebody at MSFT (before it reaches 32GB though...)

[2019-05-03 06:15] divega commented on #23542
Everyone,

System.Data.OleDb for .NET Core will be available as part of preview 6 (and much sooner in our nightly builds). Once it is available, it would be great if you could give it a try and let us know how it is working for you. We want to make sure this works with various existing OLEDB providers and effectively unblocks you.

@IrinaPykhova, would it be possible to have at least some of the s

[2019-05-03 06:23] #35643 closed

[2019-05-03 06:31] #36665 closed

[2019-05-03 07:09] tebeco commented on #36553
Yes you are right

is it technically possible to get the nightly of 3.0 running against current azure sdk ?
or does the sdk needs to be first built against the nightly then used here for test ?

[2019-05-03 07:23] #37365 closed

[2019-05-03 07:56] yahorsi opened #37399 "Meybe/Optional"
Hi Guys,

Just wondering why in the .NET there is no Meybe/Optional type. Nullable is a bit different thing.
Having full support for the Meybe/Optional will make programming much cleaner/simpler.
By full I mean not just adding Meybe/Optional but adding corresponding support in collections/linq and so on.

Thanks

[2019-05-03 08:13] sergethedev17 opened #37400 "MemoryCache.GetValues method implementation incorrect"
Documentation for [MemoryCache.GetValues(IEnumerable<String>, String) Method](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.caching.memorycache.getvalues?view=netframework-4.8#remarks) specifies that:

[GetValues](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Caching/src/System/Runtime/Caching/MemoryCache.cs#L835) implementation is different.

1. First, `null` entrie

[2019-05-03 08:49] eanova commented on #37389
The problem seems to be that even though the standard name is (UTC+01:00) Casablanca,  Windows sets the BaseUtcOffsetoff to 00:00.  The PS timezone also behaves this way.

[2019-05-03 08:51] aalmada commented on #32645
@stephentoub True but `ICollection<T>` and `IList<T>` perform a lot better in many scenarios. For this reason, LINQ and many other third-party libraries, are full of conditions like `if (source is ICollection<T>)`. Returning different implicit contracts under different conditions will be a source of confusion. I stepped into this issue while unit testing #37388.

Unfortunately, casts are expensive

[2019-05-03 09:05] tmds commented on #37056
I don't see this when using 'gnome terminal' or 'terminator'. I wonder if it is 'Konsole' specific.

[2019-05-03 09:35] GalaxiaGuy commented on #37399
https://github.com/dotnet/corefx/issues/18159
(and potentially https://github.com/dotnet/csharplang/issues/426)

[2019-05-03 10:06] stephentoub commented on #36680
You can send me one at stoub at microsoft. I can share it with Jeremy/Dan/David as well.

[2019-05-03 10:10] matendie commented on #36401
Ok will do, thank you!

On Mon, Apr 29, 2019, 12:08 PM Karel Zikmund <notifications@github.com>
wrote:

[2019-05-03 10:38] ViktorHofer commented on #37063
Fixed.

[2019-05-03 10:40] ViktorHofer commented on #37063
Sorry I thought was just about the test experience. We enabled Test Explorer integration in AzDO for corefx, so you don't need to click the links anymore and go to MC for most cases. The other issue with the logs was already submitted to the AzDO team, they are aware of it.

There is no immediate action required or possible here from our side, closing.

[2019-05-03 10:40] #37063 closed

[2019-05-03 10:41] ViktorHofer commented on #37174
@roji would you like to help here and submit a PR?

[2019-05-03 10:43] ViktorHofer commented on #36789
Flagging as 3.0 issue.

[2019-05-03 10:44] filipnavara commented on #37063
How do I get to this "Test Explorer"? Is it the "Tests" tab on the Azure Piplines page (eg. https://dev.azure.com/dnceng/public/_build/results?buildId=177744&view=ms.vss-test-web.build-test-results-tab) ?

[2019-05-03 10:46] safern commented on #37063
Yes :smile:

[2019-05-03 11:38] roji commented on #37174
I can certainly try to take a look, sure. Will try to submit a PR in the next week.

[2019-05-03 11:48] ViktorHofer commented on #37174
Awesome, thanks Shay!

[2019-05-03 11:56] thomasdc opened #37402 "Setter on Transaction.Current doesn't respect TransactionScopeAsyncFlowOption"
When reassigning `Transaction.Current`, I seem to lose the original `TransactionScopeAsyncFlowOption` behavior of my `TransactionScope`. The code after the `await` loses it's `Transaction.Current` value.

Sample code:

[code]

I [know](https://docs.microsoft.com/en-us/dotnet/api/system.transactions.transaction.current?view=netframework-4.8) I should be using a `using` statement on `TransactionScop

[2019-05-03 12:29] robertpi opened #37404 "gssapi error when building CoreFx on Fedora"
Hello all,

I'm trying to build corefx on a Fedora, as an external to the mono project, I get an error when trying to build the `corefx/src/Native/Unix/System.Net.Security.Native` directory.

The make output is:

[code]

I think this is a dependency issue, but I'm not sure what Fedora package needs to be added.

Kind regards,
Robert

[2019-05-03 12:57] robertpi commented on #37404
After running `./build.sh` directly, rather than via mono, I get the below error message that `pal_config.h`, so it seems pretty clear that this is the missing dependency, but I haven't been able to identify where this should come from.

[code]

[2019-05-03 14:12] pranavkm commented on #37192
In MVC, we have a scenario where we use a user configured `JsonSerializerOptions`, but need to reset the `JavaScriptEncoder` to ensure that it always encodes HTML text. This way MVC can preserve a user's choice for things such as naming and indentation, but ensure it's safe to be injected in to HTML.

Could we add a copy constructor to `JsonSerializerOptions` so that MVC isn't responsible for sett

[2019-05-03 14:12] stephentoub commented on #37399
Closing as a dup of the cited issues.  Thanks.

[2019-05-03 14:12] #37399 closed

[2019-05-03 14:19] stephentoub opened #37411 "System.Data.OleDb.Tests.OleDbConnectionTests.GetSchema failed in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=177929&view=ms.vss-test-web.build-test-results-tab&runId=4279892&paneView=debug&resultId=315208
[code]

[2019-05-03 14:20] stephentoub opened #37412 "System.Data.SqlClient.Tests.SqlConnectionBasicTests.IntegratedAuthConnectionTest failed in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=177929&view=ms.vss-test-web.build-test-results-tab&runId=4279894&paneView=debug&resultId=390106
[code]

[2019-05-03 14:20] stephentoub opened #37695 "System.Data.SqlClient.Tests.SqlConnectionBasicTests.IntegratedAuthConnectionTest failed in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=177929&view=ms.vss-test-web.build-test-results-tab&runId=4279894&paneView=debug&resultId=390106
[code]

[2019-05-03 14:20] stephentoub commented on #37411
Failed again here: https://dev.azure.com/dnceng/public/_build/results?buildId=178077&view=ms.vss-test-web.build-test-results-tab&runId=4286988&resultId=270163&paneView=debug

[2019-05-03 14:47] bartonjs commented on #37396
I feel like they were originally proposed as byte-sized, but got expanded back to default/int in API review.

[2019-05-03 15:03] stephentoub commented on #37396
Right.  There shouldn't be anything preventing them from being stored as a `byte` even if the enum itself has `int` as the underlying type... which Vance said is what was either already the case or was going to be the case, i.e. have our cake and eat it, too.  If in the future we needed more than what `byte` could handle, we could change the implementation without needing to affect the API.

[2019-05-03 15:05] #37042 closed

[2019-05-03 15:29] davidfowl commented on #37397
@GrabYourPitchforks is that just an unoptimized UTF8String?

[2019-05-03 15:58] jshin47 commented on #37343
Thanks @tarekgh . But what if I want to compile just the data file and not the entire ICU, like an `icudtl.dat`? If I set the environment variable `ICU_DATA_DIR`, should it be reflected at runtime? I see other applications like Google Chrome and Slack do this.

[2019-05-03 16:04] tarekgh commented on #37343
I think you need to to set the environment variable ```ICU_DATA``` to the folder has the ICU data. I believe this should work. for more info, look at the section [ICU Data Directory](http://userguide.icu-project.org/icudata)

[2019-05-03 16:20] jshin47 commented on #37343
I have tried setting `ICU_DATA` to a nonsense value to see if it throws an error. It doesn't. But maybe that's part of the internal ICU error handling.

I will try it with a real data file once I rebuild my custom data file and report back to you my findings.

[2019-05-03 16:35] yahorsi commented on #18159
The proposal above adresses a bit different problem a bit different way. It helps you to deal with existing nulls and avoids breaking API changes.

What we as developers need is to explicitly say the function may or may not return result.
My todays case:
  There is func that takes some input and runs several validation functions
  The it wants to aggregate all errors is there are and return them u

[2019-05-03 16:35] tarekgh commented on #37389
@eanova I have reported the issue to Windows team. ```(UTC+01:00) Casablanca``` is the display name and not the standard name.

[2019-05-03 16:46] christineLDavis commented on #27358
I had the same problem and was unable to solve it by changing any combination of storage flags.
My workaround:
You can access a private cert by adding its thumbprint to your application settings under "WEBSITE_LOAD_CERTIFICATES" which will put it in the local users' store.

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-ssl-cert-load

[2019-05-03 16:47] jshin47 commented on #37343
@tarekgh it didn't seem to have any effect. But I am wondering if there is something wrong with my data files. Could you point me toward an example project that I can use to test ICU from C++ ? (how are you doing it?)

[2019-05-03 16:54] benaadams commented on #37396
K, removed that bit

[2019-05-03 17:02] svick commented on #18159
@yahorsi

How is that different from nullable reference types? Those also let you explicitly say whether a function will always return result, or only sometimes.

Regarding your code:

1. That's not how APIs that use `Maybe<T>` are usually built. For example, `'T list` in F# does not have a function for appending `'T option`, even though there are some functions in the `List` module that use `opti

[2019-05-03 17:02] tarekgh commented on #37343
try https://gist.github.com/tarekgh/71ad02888da20ce33b776806ee7ca9cb the comment on the top of the file is how you can compile it.

[2019-05-03 17:22] stephentoub opened #37415 "RsaCngTests.SignVerifyDataRoundTrip failed in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=178176&view=ms.vss-test-web.build-test-results-tab&runId=4289936&resultId=427177&paneView=debug
[code]
cc: @bartonjs

[2019-05-03 17:42] Tanya-Solyanik commented on #37305
This is a great idea!

[2019-05-03 17:48] jshin47 commented on #37343
Thanks! I am working with it now. I get the same undesirable result even after setting data directory using `u_setDataDirectory` so maybe something wrong with my file.

[2019-05-03 17:51] yahorsi commented on #18159
That is exactly how usually such API is built.  E.g. in scala: List(1,2,3) ++ None ++ Some(4) ++ Some(5) ++ None
And it must work this way, otherwise the whole idea is almost useless.
By having Maybe/Option we want to avoid If's at all where possible, and that's the goal.

F# is far from being the best functional lang to take examples from as it shares BCL with .NET and BCL is not designed for thi

[2019-05-03 18:21] verelpode commented on #37204
@FiniteReality I agree.  This should be supported in both directions.  For the direction Span-to-BigInteger, see my [previous comment](https://github.com/dotnet/corefx/issues/37204#issuecomment-487212366), and for the direction BigInteger-to-Span, I suggest the following methods.  What do you think?
[code]

The name `CopyTo` is consistent with `System.Collections.Generic.ICollection<T>.CopyTo(T[]

[2019-05-03 18:28] tarekgh commented on #37343
https://github.com/unicode-org/icu/blob/master/docs/userguide/icu_data/buildtool.md has some useful info. looking at the end, it has file substitution which you may try too. Sorry, I am not able to try myself now but if you couldn't do it, I'll try it next week. Thanks for your effort here.

[2019-05-03 18:43] jshin47 commented on #37343
I'll try that too! What I really want to see is at least instance of using `u_setDataDirectory` or `ICU_DATA`, and then having the collation result be different as a result. If I keep not getting any differences with my current method of building the data I will try that build tool (I am using their ant build right now).

[2019-05-03 18:46] ViktorHofer commented on #29166
Just hit this on `Windows.81.Amd64.Open-x64:Debug`. I'm going to disable `Microsoft.Win32.SystemEventsTests.CreateTimerTests.ConcurrentTimers`.

[code]

[2019-05-03 18:48] ViktorHofer commented on #29166
@maryamariyan @ericstj are we concerned about these hangs and want to fix them for 3.0? Currently the milestone is set to Future.

[2019-05-03 18:50] verelpode commented on #37204
I also suggest adding the following "TryConvertTo" methods to both of `BigInteger.Builder` and `BigInteger`.  These methods attempt to typecast/convert the BigInteger or BigInteger.Builder *without* throwing `System.OverflowException`, unlike the existing typecast operators in BigInteger.  The following methods should return false if conversion is unsucccessful (meaning return false if the BigInte

[2019-05-03 19:05] danilobreda commented on #31278
On ubuntu 18.04 (Build Machine)
[code]

And no DOTNET_SYSTEM_GLOBALIZATION_INVARIANT on env command.
The Problem on this build machine is when  i execute a test(mstest) with Azure Devops Agent OR manually (dotnet test example.csproj)
[code]
The test code of the .cs file in this machine is ok with the correct accent when i execute a "cat"

 cat Validations/Entities/ContratoValidationTest.cs

[code]

[2019-05-03 19:35] tannergooding commented on #37204
Just wanted to say, as much as there are some great ideas for new APIs, they need to be split out into a separate proposal.

The initial proposal for the `BigInteger.Builder` should just try to provide parity with the existing `BigInteger` struct. This simplifies the review process and will give it a higher chance of being merged.

The entirely new APIs can then be reviewed/processed independently

[2019-05-03 19:40] verelpode commented on #37204
I thought further about this issue:  On one hand, the idea of "MultiplyBy" with `return this;` was liked, and it works well with multiplication etc., but not with certain other special operations such as `Builder.GreatestCommonDivisor`, therefore I suggest the following API where suitable operations are represented in "By" form whereas other operations are represented in "return void" form.
[code]

[2019-05-03 19:45] davidkaya commented on #36713
I will take this one if possible :)

I also noticed that the unit test for this logic false positively passes on macOS because:

[code]

If I remove the `Assert.Throws` and just try to copy it, test throws this `System.IO.IOException : The file '/var/folders/v_/9rh7c5816_gfl6zg4mr8ck8sd9720x/T/File_Copy_str_str_sgluhewm.nv5/CopyOntoDirectory_37_43a79351' already exists.`

So as part of the fix, th

[2019-05-03 19:47] GrabYourPitchforks commented on #37397
@davidfowl Some of it is performance. You don't want to see the throughput numbers for `Utf8String.Equals(..., StringComparison.CurrentCulture)` or `Utf8String.ToUpper()` in an unoptimized implementation. Additionally, an unoptimized implementation would waste 20 bytes or so per `Utf8String` instance. It's really not the worst thing in the world. But there will be _some_ number of people who will

[2019-05-03 19:53] BruceForstall commented on #29166
fyi, https://github.com/dotnet/coreclr/issues/22442 tracks timing out Win32.SystemEvents tests, and https://github.com/dotnet/coreclr/pull/24201 disabled some of these.

[2019-05-03 19:53] danilobreda commented on #31278
I changed the dockerfile:
microsoft/dotnet:2.2-aspnetcore-runtime -> mcr.microsoft.com/dotnet/core/aspnet:2.2-stretch-slim
microsoft/dotnet:2.2-sdk -> mcr.microsoft.com/dotnet/core/sdk:2.2-stretch

The problem persist.
the strangest thing is that the problem occurs only when it goes through validation (fluentValidation package).
{"errors":[{"errorMessage":"Nome � obrigat�rio","field":"Nome","value

[2019-05-03 20:02] verelpode commented on #37204
@tannergooding

OK.  When you update the Builder proposal, you could place the summary/API of the separate proposal in a commented-out section like follows:
[code]

The reason for summarizing the separate proposal in a commented-out section is this:  Sometimes a design appears good when we see and consider only the small picture, but it no longer appears good when we see **the big picture**.  Thus

[2019-05-03 20:06] ViktorHofer opened #37422 "System.Xml.RW.SubtreeReader.Tests crashing on Ubuntu.1604.Arm64-arm64:Release"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37420~2Fmerge/test~2Ffunctional~2Fcli~2F/20190503.33/workItem/System.Xml.RW.SubtreeReader.Tests/wilogs

This happens frequently. Please investigate if this is a product issue.

[code]

[2019-05-03 20:10] ViktorHofer commented on #37422
Seems like the test is causing a buffer overflow intentionally but on arm64 this causes a crash of the whole process: https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/XmlReaderLib/TCReadContentAsBase64.cs#L137-L139

[2019-05-03 20:52] carlossanlop opened #37423 "build-native.cmd exited with code 1"
Since I updated Visual Studio 2019 to version 16.1.0 Preview 3.0 [28829.227.d16.1] yesterday, I started seeing the same issue @ahsonkhan (https://github.com/dotnet/corefx/issues/34613) back in January when attempting to build corefx.

I haven't touched CMake. I had version 3.14.0 preview, then I installed version 3.14.3 (the latest available in the website) but I still get the same error.

I also

[2019-05-03 20:57] Eilon commented on #37135
A fair question, but there are no plans at this time to port the functionality of these namespaces to ASP.NET Core.

[2019-05-03 21:08] frabert opened #37425 "System.Numerics.Vectors types are not serializable"
Currently, none of the types in `System.Numerics.Vectors` are marked as `[Serializable]`.
Is there are reason for not having the annotation, or is it simply lack of request/need?

[2019-05-03 21:08] AfsanehR commented on #37412
This is passing on our CI. Will try locally and will keep an eye on it if this occurs.

[2019-05-03 21:32] stephentoub commented on #33500
Just saw it again on Windows:
[code]
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37391~2Fmerge/test~2Ffunctional~2Fcli~2F/20190503.16/workItem/System.Collections.Concurrent.Tests/wilogs

[2019-05-03 21:33] #37386 closed

[2019-05-03 21:44] krwq commented on #37422
@ViktorHofer have you perhaps seen SEH in other places as well? This kinda look like problem with MemoryStream.Read (possibly BlockCopy) - quick inspection in XML seems like it only uses managed `byte[]` which should never end up with SEH

[2019-05-03 21:49] krwq commented on #37423
when you installed cmake did you add it to your path? When you type in Developer Command Prompt are you seeing something similar to:

[code]

[2019-05-03 22:01] carlossanlop commented on #37423
Yes, I made sure to select the checkbox that asked me to install it for all users.
Yes, that's the version I have.
As discussed in person, I am reinstalling all the VS 2019 packages indicated [here](https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md).

[2019-05-03 22:01] ericstj commented on #36451
We actually may be able to avoid this.  Source build has infra for proucing ref-only packages to consume for this purpose: https://github.com/dotnet/source-build-reference-packages/tree/master/src/referencePackages/src.

I'm going to see about leveraging this instead of complicating our repo with source that we don't ship.

[2019-05-03 22:02] JeremyKuhne commented on #36713
Assigned to you, thanks!

[2019-05-03 22:20] danmosemsft commented on #37412
@AfsanehR we are trying to stabilize our CI and even rare failures add up across all our tests. Is there any place we can increase the timeout (on the assumption that this is a rare issue of CPU or network congestion that would eventually succeed)

..Ideally these messages would say "ms" - I had to check the code.

[2019-05-03 22:25] danmosemsft commented on #37411
@maryamariyan

It looks like it has failed 3 times actually
https://dev.azure.com/dnceng/public/_build/results?buildId=178077&view=ms.vss-test-web.build-test-results-tab&runId=4286988&resultId=270163&paneView=history

All three were Windows 7. That's unlikely to be chance. Suggestion: disable this for Windows 7 for now.

[2019-05-03 22:27] maryamariyan commented on #37411
Looking

[2019-05-03 22:36] tarekgh commented on #31278
@danilobreda what exactly is failing? I mean what is the call to .NET that cause the failure in your test? could you please create a simple repro so we can help?

Is it possible for any reason the text get encoding to something different during this call?

[2019-05-03 22:42] tannergooding opened #37429 "System.Xml.RW.CharCheckingReader.Tests terminates with SEHException on Ubuntu 16.03 Arm64"
[code]

[2019-05-03 22:44] tannergooding opened #37430 "System.Net.Tests.HttpWebRequestTest/HaveResponse_GetResponseAsync_ExpectTrue failed due to timeout"
[code]
[code]

[2019-05-03 22:44] JamesNK opened #37431 "Unfriendly error when calling HTTP/2 endpoint with mismatched TLS settings"
I have a .NET Core client calling a HTTP/2 server. The server has TLS enabled. When I call the server without TLS enabled on the client (I was not using TLS in dev and forgot to change it for the test environment which has TLS) I get an unfriendly error from SendAsync.

Code:

[code]

Error:

[code]

I would have expected an error saying that the server requires TLS and TLS is not enabled for this

[2019-05-03 22:45] tannergooding opened #37432 "System.Net.NetworkInformation.Functional.Tests timeout on Ubuntu 16.04 Arm64"
[code]

[2019-05-03 22:54] danmosemsft commented on #37432
@wfurt

[2019-05-03 23:06] danmosemsft commented on #37429
That doesn't look like a timeout. It looks like an assertion failure in the runtime. We don't throw SEHException ourselves I think.

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37424~2Fmerge/test~2Ffunctional~2Fcli~2F/20190503.38

I would expect to see "FailFast" at the top but perhaps it doesn't always get logged:
[code]

[2019-05-03 23:06] kjeske opened #37434 "JsonSerializer does not serialize structs"
When I try to serialize struct to JSON I get an error.

Struct:
[code]

Execution:
[code]

**Exception:**
Exception has been thrown by the target of an invocation.
[code]

**Inner exception:**
Cannot bind to the target method because its signature is not compatible with that of the delegate type.
[code]

[2019-05-03 23:07] danmosemsft commented on #37429
We really need a dump (cc @markwilkie  😈 ) or repro

[2019-05-03 23:08] danmosemsft commented on #37429
dupe of https://github.com/dotnet/corefx/issues/37422

[2019-05-03 23:08] #37429 closed

[2019-05-03 23:12] danmosemsft commented on #37422
Buffer.BlockCopy is implemented in the runtime itself.

cc @janvorli but it may be we need a dump file or repro for this one.

BTW @jkotas I am guessing it terminated through this path, but did not write "FailFast:". Would it make sense for this always to write "FailFast:" - that would make it clearer that it hit a fatal exception rather than managed code wrote out an exception and exited graceful

[2019-05-03 23:13] swaroop-sridhar opened #37435 "API: Single File Bundle APIs"
This issue proposes adding a few APIs to support operations corresponding to .Net core apps that are published as single-file bundles. The APIs are based on customer requests.

## Proposed API

[code]

## Discussion

### IsBundle()

It is likely that some apps are used in both single-file and normal publish modes (ex: for testing vs distribution, distributed differently on different platforms, etc

[2019-05-03 23:16] ericstj commented on #37423
Just a guess but it looks like errors accessing temp.  C:\Users\calope\AppData\Local\Temp\lnk{56750EBF-481D-4B1D-B3CD-41DDA5DC052E}.tmp.  Have you double checked that your temp directory isn't acl'ed in an unusual way and that your C: drive isn't full?

[2019-05-03 23:17] swaroop-sridhar commented on #37435
CC: @sbomer  @jeffschwMSFT  @fadimounir

[2019-05-03 23:17] danmosemsft commented on #37404
pal_config.h is generated from pal_config.h.in src\Native\Unix\configure.cmake

What version of cmake do you have? Can you check you have all prerequisites:
https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md
then maybe `git clean -fdx` and try again?

[2019-05-03 23:51] #34061 closed

[2019-05-04 00:02] Anipik commented on #34640
@ptoonen are you still working on it ?

[2019-05-04 00:34] danmosemsft commented on #21037
Again, on OSX
[code]

[2019-05-04 01:55] wfurt commented on #37432
seems like the test run did not leave any evidence.
It iterates through all interfaces and grabs IP info for each.
I don't see anything unusual in the test. Only suspicion at the moment would be unusual cumulation of networking objects (sockets etc.) as out processing is quite inefficient.

[2019-05-04 02:02] jkotas commented on #37422
I am not sure whether `FailFast:` would be the most appropriate for fatal crashes like this one; but it would be certainly nice to print something in this case. Maybe `Fatal error:` ?

[2019-05-04 02:02] Suchiman commented on #36553
@davidsh When you wrote https://github.com/dotnet/corefx/issues/34466#issuecomment-452845198 i kinda expected a completely new API. Given that the new design still sticks with `IWebProxy`, what gave adding a new property on `HttpClient` that isn't exclusively used for `HttpClient` the edge over just fixing `WebRequest.DefaultProxy`? Given that .NET Core's `HttpClient` is not respecting `WebRequest

[2019-05-04 02:15] wfurt commented on #21037
I will add some instrumentation, possibly also some retry logic to GetConnectedSocket() if it looks like there may be race condition in HttpListener startup.

I also see same tests failing often with:
[code]

and some test runs have negative duration. That seems interesting.

[2019-05-04 03:50] ahsonkhan commented on #37434
Serializing structs is not supported atm and is out-of-scope for 3.0. This is a known issue.

There's a PR out for top-level struct support atm: https://github.com/dotnet/corefx/pull/36506

cc @steveharter

[2019-05-04 05:21] YohDeadfall commented on #37434
@ahsonkhan There is #36240 to track this.

Does it mean that my PR will be merged only after 3.0 release?

/cc @karelz

[2019-05-04 07:00] ahsonkhan commented on #37434
Nope. I think we can review and merge your PR. If we can pull the whole feature in for 3.0 (including fields and nested structs), that would be great (especially if you are up for it)!

[2019-05-04 08:18] RobertGBryan commented on #35694
It works when I built against a .NET Core 3 project preview 4. Make sure that when installing the NuGet package that the previews checkbox is selected. I initially installed version 4.5, which is over a year old, and which throws the exception. The new version gives the correct number of physical cores and does not throw any errors.

[2019-05-04 08:38] YohDeadfall commented on #37434
Sure, I will start as soon as the current PR gets merged. The next issue depends on it.

[2019-05-04 10:46] CyberSinh commented on #20296
The timeout exception thrown by `HttpClient` in case of http timeout shouldn't be of type `System.Net.HttpRequestException` (or a descendant?) instead of generic `System.TimeoutException`? For example, the good old `WebClient` throws `WebException` with a `Status` property which can be set to  `WebExceptionStatus.Timeout`.

[2019-05-04 11:10] ViktorHofer commented on #37422
I think we have a dump for this which can be retrieved with the ReproTool (click MC link in the post to get the ReproTool link).

[2019-05-04 15:31] danmosemsft commented on #35694
Great!

[2019-05-04 16:37] jkotas commented on #37422
When I try to get the `Repro API access key`, it fails for me with:
[code]
Also, it does not look right that the repro tool runs on behalf of Mariana's account - she is not on the team anymore.

[2019-05-04 18:51] ViktorHofer commented on #37422
cc @MattGal. Unfortunately I can't help here as it doesn't work behind the vpn

[2019-05-04 19:13] BackDoorManUC opened #37444 "Result<T, TError> helper type for error handling without exceptions"
https://github.com/dotnet/csharplang/issues/113

https://medium.com/@michael_altmann/error-handling-returning-results-2b88b5ea11e9

F# has `Result<'T,'TFailure>` struct
https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/results

[2019-05-04 19:49] vcsjones commented on #35538
Thinking about this a bit more, I think an API with this API surface is a good place to start a discussion:

[code]

I think this is probably the API that a lot of folks want. Implementing wildcard matching yourself has a lot more sharp edges than one might think, and I think this API should help solve that as well.

I do think there should be a flag for including or excluding matching the CN. I w

[2019-05-04 20:30] tomrus88 commented on #37435
Will all stages mentioned in design doc be finished for 3.0 RTM? Or we will have to wait post 3.0 for them?

[2019-05-04 20:45] ptoonen commented on #34640
@Anipik yes I am, but am only slowly making progress here. One issue at a time. I hope to have it working somewhere within the next two weeks.

[2019-05-04 21:38] svick commented on #37444
Are you proposing adding just this type, or also exposing it throughout corefx methods?

If the latter, for which methods do you suggest adding this version? How would the added methods look like? Specifically: What would they use for `TError`? What would be their names (you can't have two overloads whose only difference is that one returns `T` and the other returns `Result<T, SomeError>`)?

[2019-05-04 21:45] Clockwork-Muse commented on #37444
The problem is that adding a `Result<T, TError>` type to the base library doesn't help much, **unless** the base library wholly adopts it.

So we would expect to see things like:
[code]

Because the idea is to force consumers - at some point in the stack - to handle _unusual, but foreseeable_ situations.  Note that this would also normally be used as a replacement result type for `bool TryXXXX(T i

[2019-05-04 21:55] Anipik commented on #34640
okay sounds good

[2019-05-04 23:18] JamesNK opened #37445 "HTTP2: System.OverflowException: Arithmetic operation resulted in an overflow."
An error is raised from the gRPC interop tests with HttpClient.SendAsync:

[code]

https://source.cloud.google.com/results/invocations/b97f0bdb-5797-4f24-b9b1-54b30875a5b7/targets/github%2Fgrpc%2Finterop_test/tests;group=tests;test=cloud_to_cloud:aspnetcore:c%2B%2B_server:cancel_after_begin:tls;row=1

[2019-05-04 23:31] stephentoub commented on #37445
What is the test doing? How do we repro?

[2019-05-04 23:48] JamesNK commented on #37445
That's going to be tough. The error happens against non-.NET servers in the gRPC interop environment, but not against Kestrel on my computer.

I've looked through the interop tests and this error only comes up for the cancel_after_begin test. In this test scenario content is being streamed to the server via HttpRequestMessage.HttpContent and the request is cancelled via SendAsync's cancellation to

[2019-05-04 23:50] mrpantsuit commented on #18159
There is an excellent course on PluralSight that explains the benefits of applying functional principles in C# named, aptly, "Applying functional principles in C#".  The gist is that a method signature should be honest.  If you return T and sometimes return null, you're lying to those that would call your method.  Return Option<T> on the other hand and your signature is honest and explicit about w

[2019-05-05 01:11] verelpode commented on #24390
Re a high-performance API to use instead of `System.Reflection.MethodBase.Invoke(object obj, object[] parameters)` or `System.Delegate.DynamicInvoke(params object[] args)`, how about the following?

[code]

The above-proposed method `System.Reflection.MethodBase.DynamicInvoke(object, IDynamicInvocationParameters)` would be implemented in CoreFX and written to accept any implementation of `IDynamic

[2019-05-05 02:24] JamesNK opened #37446 "HTTP2: System.IO.IOException: The request was aborted."
An error is raised from the gRPC interop tests with HttpClient.SendAsync:

[code]

https://source.cloud.google.com/results/invocations/b97f0bdb-5797-4f24-b9b1-54b30875a5b7/targets/github%2Fgrpc%2Finterop_test/tests;group=tests;test=cloud_to_cloud:aspnetcore:c%2B%2B_server:empty_unary:tls;row=4

[2019-05-05 02:31] JamesNK commented on #37446
This test works against some HTTP2 gRPC servers:

* ASP.NET Core in Kestrel
* Java
* Go
* Dart

And fails in others

* C Core
* Languages that wrap C Core (Ruby, Python, C#)
* NodeJS

[2019-05-05 02:37] JamesNK commented on #37446
Wireshark captures of success against ASP.NET Core and failure against C Core: [wireshark.zip](https://github.com/dotnet/corefx/files/3145065/wireshark.zip)

[2019-05-05 03:17] Rabbit021 commented on #37232
I publish project，but i not found System.Net.Http.resources.dll in my program folder.
when i change my plugin assembly project`s output type to **console**  ,like this
![image](https://user-images.githubusercontent.com/2327876/57187805-2368f700-6f27-11e9-8330-82dae3cf4556.png). it seem working fine,my **OnAssemblyResolve**  code not changed.

[2019-05-05 03:42] LouisStAmour commented on #33016
It’s possible this is resolved in other networking APIs? https://forums.developer.apple.com/thread/116193

[2019-05-05 04:34] JamesNK commented on #37445
Wireshark captures of success against ASP.NET Core and failure against C Core: [wireshark-cancel_after_begin.zip](https://github.com/dotnet/corefx/files/3145142/wireshark-cancel_after_begin.zip)

[2019-05-05 05:32] Clockwork-Muse commented on #18159
@mrpantsuit -
We're getting nullable reference types (although I personally might prefer stronger enforcement).  That takes care of the primary use case for `Option<T>`.  We'd probably have to use static, non-extension methods for all the mapping you can do, if we wanted a more functional style, but at the very least we _are_ going to have the necessary information in the type system.

[2019-05-05 09:51] svick commented on #18159
@mrpantsuit

You're not lying. For a reference type `T`, `null` is always a valid value in C# 7.0. The problem is that there is no way to express that a method will never return `null`. And C# 8.0 nullable reference types solve that.

In my opinion, solving this just by adding the `Option<T>` type is not good enough. Adding nullable reference types is more work, but the end result is *much* better

[2019-05-05 11:18] Grammarian opened #37447 "BoundedChannelWriter.TryWrite() returns true when Channel is full and FullMode is DropWrite"
I would expect this unit test to pass, but it fails on the `IsFalse` assert:

[code]

Given these docs for the `TryWrite()`:

[code]

The second `TryWrite()` does not write to the channel, and I think should return false.

[2019-05-05 11:28] stephentoub commented on #37447
It's behaving correctly. The Drop modes mean that writes succeed even if the channel is full. To do that, something must be removed, and in the DropWrite case, it's the item just written. Think of it like the buffer temporarily expanding to fit the written item and then getting rid of something to shrink back down.

If you want TryWrite to return false here, you should use the default mode that do

[2019-05-05 11:28] #37447 closed

[2019-05-05 12:29] Grammarian commented on #37447
Thanks for your response. I do understand the behaviour.

However, given that the docs say "true if the item was written; otherwise, false if it wasn't written". And in this case, it clearly wasn't written, so returning `true` seems somewhat inaccurate.

[2019-05-05 12:55] BackDoorManUC commented on #37444
I'm proposing adding just this type, exposing it throughout corefx methods would be more time consuming and a huge breaking change.

To promote writing better code without throwing exceptions when it's not necessary. Surely, there's TryXXX pattern but it's not sufficient if your method is asynchronous because `out` and `ref` won't work. I mean specifically - there's no standard way to handle error

[2019-05-05 13:15] agilmore30 commented on #24953
Hi

I am getting a similar issue with DateTimeOffset as the OP.

The exception is 'Unknown SQL type - -155.Unknown SQL type - -155.)'

If you look at this link:
https://docs.microsoft.com/en-us/sql/relational-databases/native-client-odbc-date-time/data-type-support-for-odbc-date-and-time-improvements?view=sql-server-2017

you see that DateTimeOffset

maps like this:

DatetimeOFFSET | SQL_SS_TIMEST

[2019-05-05 13:53] ViktorHofer commented on #37411
Still failing in CI.

[2019-05-05 13:59] ViktorHofer commented on #37411
I will disable the test on Win7 for now but this seems likely to be a product issue. Marking as 3.0.

[2019-05-05 14:07] ViktorHofer commented on #22849
Reopening, happens again: https://dev.azure.com/dnceng/public/_build/results?buildId=180050&view=ms.vss-test-web.build-test-results-tab&runId=4346600&resultId=252381

[code]

[2019-05-05 14:52] atykhyy commented on #32640
Having played for a week with the extension-method approach that I'd called kludgy above, it actually feels quite natural, and is not especially burdensome compared to `IAsyncEnumerable` because in library code every enumeration of an `IAsyncEnumerable` needs a `.ConfigureAwait(false)` tacked on, too. These same extension methods let me express explicitly whether a given `await foreach` has to dis

[2019-05-05 14:57] mrpantsuit commented on #18159
So then how will you solve the further dishonesty of exceptions, i.e., method signatures lie by pretending that they'll never throw?  (The dishonesty here is lying by omission.)  Another language feature, like, God forbid, checked exceptions? :-O  Alternatively, you could just solve it by returning a Result type (holds a result OR an error/exception), similar to how you solved the null dishonesty

[2019-05-05 16:00] Clockwork-Muse commented on #37444
The issue is more that the "anticipated error" and "programming bug error" models both use exceptions, as opposed to something separate.

[2019-05-05 16:17] JoergMittagLawo commented on #18159
The main advantage of an `Option` type is that `Option` is essentially a collection with a maximum size of 1, i.e. it is either empty or contains exactly one element. What this means is that `Option` implements `IEnumerable` and thus *automagically* works everywhere `IEnumerable` works. What this means is that I never need to care whether there is a value there or not, I can, for example, simply `

[2019-05-05 16:18] ViktorHofer commented on #37422
Happened again: https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37450~2Fmerge/test~2Ffunctional~2Fcli~2F/20190505.8/workItem/System.Xml.RW.CharCheckingReader.Tests/wilogs

[2019-05-05 16:21] JoergWMittag commented on #18159
The main advantage of an `Option` type is that `Option` is essentially a collection with a maximum size of 1, i.e. it is either empty or contains exactly one element. What this means is that `Option` implements `IEnumerable` and thus *automagically* works everywhere `IEnumerable` works. What this means is that I never need to care whether there is a value there or not, I can, for example, simply `

[2019-05-05 16:21] svick commented on #36706
Since `ZipArchive` already pretty much requires a seekable stream (or rather, if you give it a stream that is not seekable, it will read the whole stream into memory on construction, so you wouldn't save anything), couldn't you just store that one entry uncompressed to achieve the same savings?

In other words, consider code like the following:

[code]

Assuming the `archiveStream` is well impleme

[2019-05-05 16:23] ViktorHofer opened #37452 "System.Collections.Concurrent.Tests crashing on OSX.1013.Amd64.Open-x64:Debug"
[code]

Failed here: https://dev.azure.com/dnceng/public/_build/results?buildId=180191&view=logs

Repro Tool link and execution log:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37450~2Fmerge/test~2Ffunctional~2Fcli~2F/20190505.8/workItem/System.Collections.Concurrent.Tests/wilogs

@MattGal should be able to help access the ReproTool for the dump. As Santi is out, mayb

[2019-05-05 17:02] stephentoub commented on #37452
Dup of https://github.com/dotnet/corefx/issues/33500

[2019-05-05 17:02] #37452 closed

[2019-05-05 17:41] Clockwork-Muse commented on #18159
This is the first time I've heard of such a use of `Option<T>`.

To be fair to nullable reference types, it's pretty trivially solvable via something like:

[code]

[2019-05-05 18:17] ViktorHofer opened #37453 "System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.Http2_DataSentBeforeServerPreface_ProtocolError failing in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=180254&view=ms.vss-test-web.build-test-results-tab&runId=4352366&resultId=324794&paneView=debug

[code]

cc @stephentoub @davidsh

[2019-05-05 19:32] danmosemsft commented on #37453
Btw @viktorhofer can you figure out why there are literal \n there? It would be nice to make these more readable (not specific to this test obviously).

[2019-05-05 20:42] W19117225a commented on #17454
H

[2019-05-05 21:16] ViktorHofer commented on #30223
Happened again: https://dev.azure.com/dnceng/public/_build/results?buildId=180234&view=ms.vss-test-web.build-test-results-tab&runId=4352094&resultId=150061&paneView=debug

[code]

[2019-05-05 22:13] ViktorHofer opened #37455 "System.Net.Http.Functional.Tests crashed with Debug.Fail"
Failed in CI on `Windows.7.Amd64.Open-x64:Debug`: https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37454~2Fmerge/test~2Ffunctional~2Fcli~2F/20190505.14/workItem/System.Net.Http.Functional.Tests/wilogs

[code]

cc @davidsh @wfurt

[2019-05-05 22:15] ViktorHofer commented on #37422
And again: https://dev.azure.com/dnceng/public/_build/results?buildId=180290&view=logs

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37454~2Fmerge/test~2Ffunctional~2Fcli~2F/20190505.14/workItem/System.Xml.RW.CharCheckingReader.Tests/wilogs

[2019-05-05 22:27] danmosemsft commented on #30223
We should disable this test. Low importance scenario

[2019-05-05 22:38] jkotas commented on #37435
Have we considered bundling the apps assets as managed resources instead of introducing new set of APIs that look very similar?

GetContentRoot looks very similar to `AppContext.BaseDirectory`. Are we going to have a clear guidance when to use `GetContentRoot` vs. when to use `AppContext.BaseDirectory`?

[2019-05-05 23:23] sdmaclea commented on #37232
This is probably normal.  The satellite resource fallback algorithm looks for the the specific culture, then its parent cultures, then will look for the language neutral resources in the main assembly.  Likely there is no localized version of System.Net.Http, so not found is normal expected behavior.

[2019-05-05 23:23] roji commented on #37174
@ViktorHofer opened #37456.

[2019-05-06 01:21] meziantou opened #37457 "XDocument.SaveAsync has a blocking call"
`XDocument.SaveAsync` has a blocking call. In ASP.NET Core 3 this is not allowed (by default).

[code]

I think `SaveAsync` should call `FlushAsync` before calling `Dispose` (or maybe `XmlWriter` should implement `IAsyncDisposable`).

[code]

[2019-05-06 01:23] davidfowl commented on #37457
Nice! 😄 Yes we should be doing an async flush here.

[2019-05-06 01:23] mashles commented on #36706
We have ~100MB zip files in blob storage with many small files inside, and rather than pull the whole blob down and then just read a single file, we are just pulling the byte range of the file we need from the blob. Then we decompress that range by doing a new deflatestream on the bytes.

Before we write the zips up to the blob storage we are parsing them to get the offset and length of each compr

[2019-05-06 07:58] #37174 closed

[2019-05-06 08:00] ViktorHofer commented on #30223
Don't you think we should at least fix the NRE and throw the most appropriate exception?

[2019-05-06 08:02] ViktorHofer commented on #37453
Yeah the Unix logs produce \n and AzDO doesn't transform them to line breaks. Will open an issue on their side for it.

[2019-05-06 09:14] thefringeninja opened #37461 "SQL.OperationCancelled Returns InvalidOperationException Instead of OperationCancelledException"
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlUtil.cs#L391

This is making cooperative cancellation difficult.

[2019-05-06 10:20] robertpi commented on #37404
I have `cmake version 3.14.1`, a clean and rebuild still fails to generate 'pal_config.h'.

The file `src\Native\Unix\configure.cmake` just contains this somewhat cryptic message:

[code]

The rebuild did cause me to notice there are some missing methods from openssl, I think, could this be the source of this issue? I have openssl 1.1.0 installed, which is not the last but one release:

[code]

[2019-05-06 10:39] ViktorHofer commented on #37453
https://dev.azure.com/dnceng/internal/_workitems/edit/149

[2019-05-06 11:06] ViktorHofer commented on #37455
Happened again: https://dev.azure.com/dnceng/public/_build/results?buildId=180529&view=logs

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37459~2Fmerge/test~2Ffunctional~2Fcli~2F/20190506.3/workItem/System.Net.Http.Functional.Tests/wilogs

[2019-05-06 12:33] sergii-kryzh opened #37465 "SqlNullValueException in SqlBulkCopy when SqlServer FLOAT/REAL is converted to SqlServer DECIMAL"
SqlBulkCopy throws SqlNullValueException due to special SqlDataReader type tweak which does not check for NULL.

Sample application: https://github.com/sergii-kryzh/netCore-SqlBulkCopy-Bug
Copy is attached: [netCore-SqlBulkCopy-Bug.zip](https://github.com/dotnet/corefx/files/3147838/netCore-SqlBulkCopy-Bug.zip)

When source cell is SqlDouble and cell is NULL then SqlDouble.Value will throw SqlNull

[2019-05-06 12:40] pragmaticadam opened #37467 "ProcessInfo Linux/Windows incompatibility"
Hi,

I'm trying to run same process as a child of current process. Showed below code works just fine under windows, but fails in Linux with  error

No executable found matching command "dotnet-MyDll.dll"

[code]

Ive also tried
         `       FileName = "dotnet MyDll.dll"+ id.ToString(),`
but it ends up with different error
Unhandled Exception: System.ComponentModel.Win32Exception: No such file

[2019-05-06 13:44] pavelovcharov opened #37471 "Build is broken in version 3.0.100-preview6-011767"
I've a simple app that references the following packages:
[code]
https://github.com/pavelovcharov/netcore3_buildbrokenpreview6

The project is successfully built with .NET Core 3.0.100-preview4-011223. However, after upgrading to the version 3.0.100-preview6-011767, the build fails with an error:
[code]

**dotnet --info:**
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview6-01

[2019-05-06 13:54] danmosemsft commented on #30223
Sure if there's  an obvious quick fix.

[2019-05-06 14:36] roji commented on #37174
Change milestone?

[2019-05-06 15:14] shapeh commented on #36491
Here is an update.
After switching to Pbkdf2 we no longer have this issue.

[2019-05-06 15:28] bartonjs commented on #37444
From a Krzysztof Cwalina personal quote in Framework Design Guidelines, 2nd edition:

And, of course, the rule in that section (7.1, Exception Throwing)

* DO NOT return error codes.

[2019-05-06 15:32] bartonjs commented on #36874
Based on "I also added your code together to my call, and it works now" it seems like there's not more work here.  So closing the issue.

[2019-05-06 15:32] #36874 closed

[2019-05-06 15:58] carlossanlop commented on #37423
I reinstalled all VS 2019 and CMake, but that didn't help.
Building from the Developer Command Line throws the exact same error as in PowerShell.

@ericstj I checked the access control lists and they look fine (Joe double checked). The C drive is only 20% full.

I tried working on my personal machine at home during the weekend, and I am hitting the exact same issue. Currently I can't build on any

[2019-05-06 16:07] Clockwork-Muse commented on #37444
@bartonjs -

Except there's a giant swath of "don't throw an exception for things we foresee as commonly happening".  All the various `TryXXX(...)` methods, for example.

[2019-05-06 16:17] weshaggard commented on #37249
I doubt there is anyone that has any recent knowledge but @nblumhardt wrote it originally and might have some memory of the code.

[2019-05-06 16:26] bartonjs commented on #37444
The Try-Parse pattern doesn't return a "why" it went wrong, just that the operation did not complete successfully (and the pattern is that if two different problems have two different recovery actions, only one should return false, the other should throw).

OperationStatus extends it by adding one extra state in the table (success, destination too short, data failure, other=exception).

These are

[2019-05-06 16:29] pavelovcharov commented on #37471
I've just checked, the project builds successfully with the .NET Core version 3.0.100-preview5-011568.

[2019-05-06 16:37] MattGal commented on #37422
Note that while we're working to have ARM repro tool machines, we simply don't have them today, so repro tool isn't really an option.  I can work with either of you if there's no one local who can do the investigation to get you onto a representative machine when you're ready to look at it.

[2019-05-06 17:14] #37389 closed

[2019-05-06 17:15] Wraith2 commented on #37465
I can run your reproduction app on corefx 3.0 preview 3 with the latest SqlClient  and verify that it does throw an Exception. I don't quite understand where it's doing wrong though, I'll see if I can get a debugger attached.

[2019-05-06 17:19] wfurt commented on #37455
I'l try to reproduce it. Related to  #35466

[2019-05-06 17:22] jnm2 commented on #6073
I'm tremendously excited to see https://github.com/dotnet/csharplang/issues/874#issuecomment-489697285:

This looks exactly like my final example in https://github.com/dotnet/corefx/issues/6073#issuecomment-422136663 and I can't think of anything I'd like better. Once `foo is [var bar]` is added to C#, I would never use `foo.TrySingle(out var bar)` anyway.

[2019-05-06 17:26] joshfree commented on #37305
Closing out issue as it's unrelated to dotnet/corefx libraries per investigation above.

[2019-05-06 17:26] #37305 closed

[2019-05-06 17:31] joshfree commented on #37221
Closing out the issue as this is intentional in the code.  @davidkaya feel free to reactivate the issue with more comments if I misunderstood the request.  Thanks

[2019-05-06 17:31] #37221 closed

[2019-05-06 17:32] Tratcher commented on #35195
I noticed this while doing some auth testing. IE, Chrome, and Edge all have this fallback behavior. Also, the downgrade isn't just for the auth handshake, all subsequent requests are made on the HTTP/1.1 connection so they share the cached auth context.

WinHttpHandler is a bit different. The first HTTP/2 request challenges, falls back to HTTP/1.1, authenticates, and completes successfully. Howeve

[2019-05-06 17:32] joshfree commented on #37209
/cc @safern

[2019-05-06 17:36] satano commented on #34008
@harish-kumar13, @danmosemsft Is somebody working on this? If not, I would take it.

[2019-05-06 17:43] divega commented on #37348
@pielegacy would it be possible for you to provide a repro project? Also, do you happen to know if the same functionality works with the .NET Framework version of System.Data.Odbc?

cc @saurabh500.

[2019-05-06 17:51] MattGal commented on #37321
This is fixed in mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-19.04-helix-amd64-b43bf34-20190503204407, I'll go make a PR.

[2019-05-06 17:56] MattGal commented on #37321
Will be fixed via https://github.com/dotnet/corefx/pull/37474 , I verified the helixbot user was created and has access in `mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-19.04-helix-amd64-b43bf34-20190503204407`

[2019-05-06 18:06] GSPP commented on #24333
The .NET Regex engine executes expressions through backtracking. Some other engines build a finite state automaton instead. It is possible to match a string in O(N) time as opposed to possibly exponential time with backtracking.

Two downsides:

1. Engineering work
2. This does not support all features (e.g. backreferences)

Most regex expressions that occur in practice are supported. FSA matching

[2019-05-06 18:08] nkosi23 commented on #1626
Just a quick remark.

With mono about to be swallowed by .NET 5 as per the recent announcement [1], providing decent support for FreeBSD has become urgent.

Mono has proven to have really good cross-platform support and can be built without problem from FreeBSD ports. Many shops run their .net loads on FreeBSD since this OS has many unique features. So far, mono has been bridging the gap but with

[2019-05-06 18:09] harish-kumar13 commented on #34008
Oh i thought someone else took it, havent worked on it, please go ahead
with it.

On Mon, May 6, 2019, 1:37 PM Stano Peťko <notifications@github.com> wrote:

[2019-05-06 18:10] #37239 closed

[2019-05-06 18:24] divega commented on #18276
Everyone,

A new out-of-band version of SqlClient was released in preview today on [NuGet](https://www.nuget.org/packages/Microsoft.Data.SqlClient/). It is a new package called Microsoft.Data.SqlClient, and it includes support for Always Encrypted on .NET Core and other enhancements like UTF-8 and data classification support on both .NET Core and .NET Framework.

Initial details about the new pack

[2019-05-06 18:25] MattGal commented on #37321
PR merged, will keep this on myself until the next official corefx run to check it out.

[2019-05-06 18:45] ViktorHofer commented on #37422
@krwq I didn't see SEHException anywhere else yet. Are you sure this isn't isolated to XML?

[2019-05-06 19:01] Wraith2 commented on #37465
Ok, easy fix now I understand the problem.

The code is attempting to normalize all floating point types into `SqlDecimal`, when it encounters a null double field it creates the `SqlDouble` and then calls .Value to get the internal `double` value to pass into the `SqlDecimal` .ctor. The problem is that .Value throws, the choice of .Value is probably because there is no public .ctor for `SqlDecimal

[2019-05-06 19:05] KKhurin commented on #37400
Thank you @sergethedev17 for reporting this. My instinctive reaction would be to update the documentation since this is the same behavior on Core and Desktop.

[2019-05-06 19:13] Tratcher commented on #10632
@stephentoub MediaTypeHeaderValue makes a good example:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/MediaTypeHeaderValue.cs
https://github.com/aspnet/AspNetCore/blob/master/src/Http/Headers/src/MediaTypeHeaderValue.cs

Breaking Changes: Constructors, properties, and parsers changed from string to StringSegment to reduce allocations. The constructors

[2019-05-06 19:24] voltcode commented on #23542
Now that System.Data.OleDb is going to be available on .NET Core, is there a chance that Adomd libraries will be ported as well? What's the best place to report such need? There are many enterprise apps that talk to SQL Server Analysis Services that are screaming to be ported to .NET Core, but can't due to lack of ported client and administration libraries !

[2019-05-06 19:42] BackDoorManUC commented on #37444
They shouldn't be named exceptions then. There are many benchmarks floating around showing that exceptions are slower in non-exceptional situations.

[2019-05-06 19:47] roji commented on #37461
See also https://github.com/dotnet/corefx/issues/9245, where apparently SqlException sometimes gets thrown.

[2019-05-06 19:52] junkbondtrader commented on #33643
@joperezr fuslogvw gives me the following:
[code]

My .Net Framework 4.7.2 project (ComExtensions) uses PackageReference to consume a .Net Standard 2.0 project that has an indirect dependency on System.ComponentModel.Annotations 4.5.0 (Microsoft.EntityFrameworkCore.SqlServer 2.2.4 -> System.ComponentModel.Annotations 4.5.0).

The .Net Framework project has automatic binding redirection and enabled

[2019-05-06 20:36] steveharter commented on #37272
Updated to make `JsonReaderException` internal.

[2019-05-06 20:43] wfurt commented on #37467
cc: @tmds

[2019-05-06 20:46] wfurt commented on #37446
can we reproduce this in house @JamesNK?

[2019-05-06 20:49] Clockwork-Muse commented on #37444
@bartonjs -
Ah, sorry, what I was getting at is that, to an extent, we already _have_ two levels of "exceptional" behavior, usually based around cases where failure is going to be common (simply because of performance issues).  That the `TryXXX(...)` pattern doesn't usually tell you _why_ is largely immaterial (that `OperationStatus` is a widening doesn't particularly change much).

As I said befo

[2019-05-06 20:52] wfurt commented on #37431
Can you please try current build? I think this was fixed last week but you may not have it in your build.

[2019-05-06 20:55] wfurt commented on #37404
cc: @bartonjs

[2019-05-06 20:56] #30968 closed

[2019-05-06 20:59] mifurm commented on #32634
Same in here. Can give repo if required by all has been said already!

[2019-05-06 21:02] bartonjs commented on #37404
This mainly seems like a nesting problem in the Mono tree.

FWIW, if `SSL_get0_alpn_selected` is detecting as not present, that suggests you don't have the OpenSSL 1.1.0 headers (probably 1.0.2).  I don't know about Mono's usage of OpenSSL, but .NET Core's shims can build against 1.0.1, 1.0.2, 1.1.0, or 1.1.1.

[2019-05-06 21:05] janvorli commented on #35956
@mthalman it would be great to get one or two core dump where the issue reproed so that I can take a look and see if it really looks the same each time. Then I may be able to try to instrument our binaries so that we print some details on the current state and the error before we crash.

[2019-05-06 21:10] jimcarley commented on #37402
The TransactionScopeAsyncFlowOption applies to the TransactionScope. Manually modifying Transaction.Current while there is an "active" TransactionScope resets the "logical call context" data and reverts back to assuming TLS usage.

Could you elaborate on the reasons why you need to manually set Transaction.Current while using TransactionScope?

Remember that there is a TransactionScope constructor

[2019-05-06 21:10] Clockwork-Muse commented on #37444
@BackDoorManUC -
The situations that prompt them are almost always still "exceptional conditions", in that you have to plan for misuse or miscommunication.  For example, trying to pass the wrong request body to a web service; most people might be using a client library you distribute, but you should be able to foresee and deal with the incorrect data people are going to send you manually.

That be

[2019-05-06 21:28] BackDoorManUC commented on #37444
@Clockwork-Muse is it exceptional for you when it happens 100+ times during 1 minute?

[2019-05-06 21:33] buyaa-n commented on #33058
@agr I have created bug for .Net framework so that they would decide if they would ship the fix https://devdiv.visualstudio.com/DevDiv/_workitems/edit/888193/

Also @agr could we use the file `tttt.zip` for testing purpose and distributee it on nuget?

[2019-05-06 22:15] ViktorHofer commented on #37471
cc @wtgodbe

[2019-05-06 22:16] benaadams commented on #37471
You likely need to add a NuGet.config to pick up the right feeds as they aren't on NuGet (as are pre-preview); from https://github.com/dotnet/core-sdk#installers-and-binaries it suggests
[code]

[2019-05-06 22:23] ViktorHofer commented on #37471
You should only need "https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" for the base .NET Core workload.

Thanks Ben!

[2019-05-06 22:24] joperezr commented on #33643
@junkbondtrader from what I can see, that binding redirect is not getting honored. Take a look at this line in particular:
[code]

That basically means that the .dll.config was not loaded. If it was, then this would have worked as it clearly found your app-local 4.2.1.0 version of the assembly, but didn't unify to it because it didn't find a redirect.
@AaronRobinsonMSFT is this expected on ComExte

[2019-05-06 22:29] agr commented on #33058
Yeah, sure. If you want a code that generates such files, you might salvage something from here:

https://github.com/NuGet/NuGetGallery/blob/1eff45eac940922495af949ea30fda4daee6045f/tests/NuGetGallery.Facts/Services/PackageUploadServiceFacts.cs#L1038-L1066

`packageStream` there is the memory stream with zip archive contents, `fileName` is the filename inside the archive which gets it size patched

[2019-05-06 22:34] Clockwork-Muse commented on #37444
@BackDoorManUC - Frequency isn't the defining factor.  Exceptions - whatever they're called, and however they're implemented - are merely a way of stating that a program has state that indicates something has "gone wrong" in the general sense.  For instance, consider a popular web api - proper clients will never trigger error behavior and (usually) far outnumber the exceptional misbehaving ones (w

[2019-05-06 22:38] ericstj commented on #36154
I gave this a try and it did not reproduce for me.  Here's what I see upon second build:
[code]

If you can make it reproduce  please reactivate this issue and provide either an msbuild binary log or a repro project.

[2019-05-06 22:38] #36154 closed

[2019-05-06 22:58] buyaa-n commented on #33058
Great, thank you @agr

[2019-05-06 23:46] 0x53A opened #37483 "Consider changing the CodeAccessPermission.PermitOnly stub to NoOp"
``PermitOnly`` currently throws a PNSE. We use a third party WinForms Control which calls this.

Could this instead be stubbed to be a NoOp?

This would help us get one step further in the .net core 3 port.

[2019-05-06 23:48] swaroop-sridhar commented on #37435
The dependencies for an app are embeded into the native host. On non-windows platforms, the host binaries are not PE files. So, in order to have a uniform implementation, we write the file dependencies at the end of the host-binary instead of embedding them as resources.

Currently `GetContentRoot()` and `AppContext.BaseDirectory` are always the same. However, once we start processing IL files dir

[2019-05-06 23:50] 0x53A commented on #36433
We use a WinForms Grid control which also uses this.

The third party code is good and checks the result for null, but the missing method exception of course breaks it.

So just adding the property back, regardless of value, would help our port to .net core 3.

[2019-05-07 01:00] #36025 closed

[2019-05-07 01:22] namdinh0312 commented on #29620
I have same issue as @jetdev said.
Dotnet core : 2.2
Operarion system: Ubuntu 16.04
MongoDB
I use docker compose to scale many web services. All Web services connect to one VPS MongoDB.

System.IO.IOException: Unable to read data from the transport connection: Connection reset by peer. ---> System.Net.Sockets.SocketException: Connection reset by peer --- End of inner exception stack trace --- at S

[2019-05-07 01:34] jshin47 commented on #37343
Okay, so here's what I've discovered.

First, you have to compile ICU with the option `--with-data-packaging=archive` if you want to be able to use `ICU_DATA` at runtime. That said, it works if you do.

Second, I have thus far been unsuccessful in reproducing Windows-style collation rules on Linux.

Any idea where I might find the Windows rules defined?

[2019-05-07 02:42] nblumhardt commented on #37249
Hey @danmosemsft @weshaggard @gthvidsten !

This is a pretty straightforward addition; I wrote and included it as an extension `WithExport()` in the [original MEF2 Code drop](https://github.com/MicrosoftArchive/mef/blob/master/oob), along with another useful one, `WithFactoryDelegate()`:

[code]

The terminology `WithExport()` could be the some bikeshedding but as far as I remember it's the most a

[2019-05-07 03:01] danilobreda commented on #31278
Found some issues with [FluentValidator Here](https://github.com/JeremySkinner/FluentValidation/issues/1105#issuecomment-489887538).
Probably the problem is not from .net initially.
Thanks for your time 👍

[2019-05-07 03:21] jkotas commented on #37435
Manifest resources are an existing technology for bundling data files into binaries. What is not going to work if we just tell people to bundle data files as managed resources, and use the existing manifest resource APIs to access the files?

The apps and libraries that access auxiliary files need to change to support single file bundling anyway. We can either tell them to use the existing manifes

[2019-05-07 03:42] JamesNK commented on #37446
Yes.

1. git clone https://github.com/JamesNK/grpc-dotnet.git
2. git checkout jamesnk/nativeinteropserver
3. dotnet run -p testassets\InteropTestsNativeWebsite
4. dotnet run -p testassets\InteropTestsClient --server_port 8070 --test_case empty_unary

[2019-05-07 03:42] JamesNK commented on #37445
Repo:
1. git clone https://github.com/JamesNK/grpc-dotnet.git
2. git checkout jamesnk/nativeinteropserver
3. dotnet run -p testassets\InteropTestsNativeWebsite
4. dotnet run -p testassets\InteropTestsClient --server_port 8070 --test_case cancel_after_begin

[2019-05-07 03:54] wfurt commented on #37455
with many tries I was able to reproduce it on OSX.

[2019-05-07 05:21] iSazonov commented on #24333
I also think that we could have several engines and choose the right one after regex parsing.

[2019-05-07 05:45] yyjdelete commented on #33643
Have an similar issues for use any(No build-time warns, so it's hard to see whether it's affacted or not) library which target only ns2.0 and depend an multi-target lib with different dependencies for different target, and then use it in net472 program.
And see no warns at build time, but an `FileNotFoundException` at runtime, seems `transitive dependencies` never works in that case, and no warns

[2019-05-07 05:53] jkbrito opened #37485 "[System.Text.Json] About difference between property with null and does not exists"
How do we deal with the difference between a json property being null, and there is no property?
For example:

[code]
[code]

We could create a struct that contains the information of whether a property exists or not in deserialization. For exemple.

[code]
Is this possible? Is there any way to handle this case in the current implementation?

[2019-05-07 06:10] niklasholm commented on #12352
That is excellent @danroth27 but how is this [not mentioned in the documentation](https://docs.microsoft.com/en-us/dotnet/api/index?term=HttpContentMultipartExtensions)? I searched forever before finding this. It's much more convenient than [MultipartReader](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webutilities.multipartreader?view=aspnetcore-2.2).

[2019-05-07 06:17] ahsonkhan commented on #37485
cc @steveharter

[2019-05-07 06:49] shibaev commented on #27312
I found similar issue related to PageUnit: https://github.com/mono/libgdiplus/issues/545. Might be related to this one.

[2019-05-07 07:11] #37471 closed

[2019-05-07 07:11] ViktorHofer commented on #37483
cc @danmosemsft

[2019-05-07 07:46] thomasdc commented on #37402
This [issue](https://github.com/rebus-org/Rebus.TransactionScopes/issues/7) occurred in an open-source messaging framework called [Rebus](https://github.com/rebus-org/Rebus).

I was using a relational database table as a queue and wanted the message handling and (de)queueing to happen in the same ambient transaction.

However, the frameworks polling for new messages and handling happens on seperat

[2019-05-07 08:05] pavelovcharov commented on #37471
Thanks @ViktorHofer, @benaadams

[2019-05-07 09:21] pragmaticadam commented on #37467
I've also tried :

var parrentP = Process.GetCurrentProcess();
        string fullPath = parrentP.MainModule.FileName;
        var command = "\"" + fullPath + "\" " ;
        var args = Assembly.GetEntryAssembly().Location + " " + id;
        var processInfo = new ProcessStartInfo
        {
            FileName = command,
            Arguments = args
        };
            var process = Process.St

[2019-05-07 10:00] Wraith2 commented on #37412
The connect timeout on the test server it sets up for this test is set to 5 seconds. The default can be increased or it could be increased for this specific test. I can do either if you want me to pick this up since i know the sql team are busy.

[2019-05-07 10:00] darrenstarr commented on #4647
AesImplementation.Unix.cs comments :

However [CNG Docs](https://docs.microsoft.com/en-us/windows/desktop/seccng/cng-features) clearly state that CFB is in fact supported.

OpenSSL also supports it

Apple Common Crypto supports it through CCCryptorCreateWithMode with kCCModeCFB

The comment about passing feedback is valid, but simply requires passing the property.

As others have mentioned, SNMPv3

[2019-05-07 10:03] tmds commented on #37467
This works:

[code]

If you want to use the `Arguments` property, you need to surround the individual arguments with double quotes. For example:
[code]

If it doesn't work for you, what is the values of: `Process.GetCurrentProcess().MainModule.FileName` and `Assembly.GetEntryAssembly().Location`.

Don't use CAPS unless you're angry and want to yell at someone.

[2019-05-07 11:46] sebader commented on #18276
@divega thanks for the awesome news!

I just wanted to try to migrate a sample project from .NET Framework 4.7 to .NET Core 2.2 that is using Always Encrypted on a Azure SQL Database and Azure KeyVault. It was originally built from [this example](https://docs.microsoft.com/de-de/azure/sql-database/sql-database-always-encrypted-azure-key-vault#register-the-azure-key-vault-provider).
But I'm failing

[2019-05-07 11:48] sergii-kryzh commented on #37465
OK. Good to hear.

We are running a home-grown ETL tool. Similar to SSIS but more lightweight (no metadata check, data buffers, etc.).

I've also tested it on a .NET Framework 4.7.X which is running as a standalone windows service and SQLCLR and issue is also there.

On workaround which we currently use is to create a proxy class and wrap SqlDataReader when calling SqlBulkCopy.WriteToServer:
[code

[2019-05-07 12:14] MovGP0 opened #37488 "UWP: Input interpretation of multi layered keyboards"
There seems to be a bug in UWP, such that mutli-layered keyboard layouts like the german [Neo2](https://neo-layout.org/) are not interpreted correctly.

Ie. on Neo2, layer 1 (lowercase characters) and 2 (uppercase caracters) are interpreted correctly, while layers 3 (special caracters), 4 (control caracters), 5 (greek letters), and 6 (math symbols) are falsily interpreted as lowercase and uppercas

[2019-05-07 12:14] stephentoub commented on #37467
Only if they may have whitespace, right?

[2019-05-07 12:15] MovGP0 commented on #37488
applies to `Windows.UI.Xaml.Input` `KeyUp` any `KeyDown` events.

[2019-05-07 12:51] tmds commented on #37467
Yes, only needed then. They get stripped of the other arguments, so adding them everywhere is a simple way to avoid forgetting them somewhere.

[2019-05-07 13:39] gleocadie commented on #4647
In our case, we forked and did the plumbing for OpenSSL :/

[2019-05-07 13:57] HassanHashemi opened #37493 "Path.GetDirectoryName dose not work on linux"
Consider this code snippet:

     var path = "zj\\qj\\zjqjyed9vclmuljlky2nxv-6v-Thumbs\\zjqjyed9vclmuljlky2nxv-6v01.jpg";
     var directory = Path.GetDirectoryName(path);
     Console.WriteLine(directory);

On Windows `Path.GetDirectoryName(path)` returns:

       zj\qj\zjqjyed9vclmuljlky2nxv-6v-Thumbs

Which is expected while on Linux returns **empty**.

dotnet --version:
   .Net core 2.2.104

W

[2019-05-07 14:02] Wraith2 commented on #37493
On windows \ is the standard and / is the alt directory separator char. On linux / is the only separator char and \ is a valid filename character. So linux interprets the path you give it according to the local rules and finds no directory separator char to split on, this is behaving as expected.

[2019-05-07 14:04] #37493 closed

[2019-05-07 14:04] HassanHashemi commented on #37493
Sorry, that was a terrible mistake.

[2019-05-07 14:38] AaronRobinsonMSFT commented on #33643
@joperezr I think the "ComExtensions" project mentioned above is one of @junkbondtrader's projects and not something we provide. If it is I am happy to look, but I have never heard of it.

[2019-05-07 14:42] junkbondtrader commented on #33643
@joperezr My .Net Framework dll is invoked via COM by an unmanaged C++ app.

Interestingly, the binding redirect isn't taking effect even after duplicating it in both the .exe.config and the machine.config.

Hi @AaronRobinsonMSFT! Hope you're well :) You're correct - ComExtensions is my project name. COM interop is in the picture but I doubt that everyone experiencing this issue is using it.

[2019-05-07 14:51] Tim-Bijnens commented on #18276
I still have the same issue with Column Encryption Setting in the connection string in my .Net Core app that uses EF.
I use all the previews that were released the 6th of may 2019.
I have the following related NuGet packages installed:

- Microsoft.EntityFrameworkCore v3.0.0-preview5.19227.1
- Microsoft.EntityFrameworkCore.SqlServer v3.0.0-preview5.19227.1
- System.Data.SqlClient v4.7.0-preview5.1

[2019-05-07 15:09] danilobreda commented on #31278
Problem was file encoding, need to be UTF8 (without BOM).

[2019-05-07 15:29] sebader commented on #18276
@Tim-Bijnens your issue as actually a bit different, as the reason for yours is that EF Core does not yet use the new package. The exception is thus thrown by the old *System.Data.SqlClient*
There is already an issue for the update here: https://github.com/aspnet/EntityFrameworkCore/issues/15636

[2019-05-07 16:16] tarekgh commented on #37343
Thanks for the update.

Windows has a collation weights table (not exactly rules). you can find these tables [here](https://www.microsoft.com/en-us/download/details.aspx?id=10921) if this can help.

[2019-05-07 16:18] mattzink commented on #4647
@gleocadie Why not create a pull request with your changes?

[2019-05-07 16:26] SeanFarrow commented on #33115
Are there plans to make the System.Text.Json.Serialization.Policies.JsonValueConverter<TValue> class public to allow replacing converter classes from Json.net?

[2019-05-07 16:41] marksmeltzer commented on #33115
Will `System.Text.Json` ship with full .Net support via nuget? It would sure be nice to ensure full interop as well as leverage the benefits from the full framework.

[2019-05-07 16:54] Eilon opened #37496 "System.Text.Json serializer doesn't work with Guid and Guid?"
_From @nguyenquyhy on Tuesday, 07 May 2019 08:58:20_

### Describe the bug
System.Text.Json serializer doesn't work with `Guid` and `Guid?`. The behavior is as following:

- For `Guid`: the serialized data is always `{}` regardless of the `Guid` value.
- For `Guid?`: get exception `ArgumentException: Cannot bind to the target method because its signature is not compatible with that of the delegate

[2019-05-07 16:54] Eilon commented on #37496
_From @pranavkm on Tuesday, 07 May 2019 16:18:26_

@Eilon could you transfer this to https://github.com/dotnet/corefx?

[2019-05-07 16:59] #35792 closed

[2019-05-07 17:13] divega commented on #18276
@David-Engel would you be able to answer this? I think it is the second time the idea of having a minimal sample comes up.

@Tim-Bijnens good point. Unfortunately the current preview of EF Core still uses System.Data.SqlClient. We are moving to Microsoft.Data.SqlClient in an upcoming preview. You can follow https://github.com/aspnet/EntityFrameworkCore/issues/15636 to know when the change will mak

[2019-05-07 17:14] bartonjs commented on #4647
I have some initial tests and the start of CFB-via-CNG at https://github.com/bartonjs/corefx/commits/cipher_modes

I just don't have time to finish tests with TripleDES, DES, and RC2; then also do macOS CommonCrypto and OpenSSL versions... and then negative tests (exceptions for bad feedback size, etc).

If anyone wants to roll with this, a PR providing netfx compatibility that are ready and signe

[2019-05-07 17:22] jimcarley commented on #37402
I suspect this all stems from the need for backward compatibility in "full" .NET when TransactionScopeAsyncFlowOption was introduced.

As you know, before that time, Transaction.Current was kept track of in Thread Local Storage (TLS). So setting of Transaction.Current modified the TLS entry. But this obviously presented problems with Tasks. So the TransactionScopeAsyncFlowOption was introduced whe

[2019-05-07 17:24] khellang commented on #33115
`System.Text.Json` was recently changed to produce `netstandard2.0` binaries for shipping OOB; https://github.com/dotnet/corefx/pull/37129:

What are these again? 🤔

[2019-05-07 17:32] marksmeltzer commented on #33115
@khellang

My preference would be a nuget with multiple flavors, including full framework (4.5 or whatever acceptable minimum), standard, and core. Using in box assemblies is preferable.

[2019-05-07 17:34] marksmeltzer commented on #33115
To answer my own question:

https://www.nuget.org/packages/System.Text.Json

[2019-05-07 17:38] khellang commented on #33115
Why would you prefer that? If there's no need to multi-target, i.e. all used APIs are part of the standard, it's much better to just have a single target 😊

[2019-05-07 17:55] marksmeltzer commented on #33115
@khellang it depends on the specifics -- I was making a general statement.

If the net standard version had to omit anything from the net core version that would be possible with the net full version, I would prefer all three flavors to be available. Same general reasoning, I suspect, as the original statement from the linked issue above about preferring users to target the in box version.

When a

[2019-05-07 17:56] tarekgh commented on #29703
I have submitted the linked PR if anyone interested to have a look.

[2019-05-07 18:07] thomasdc commented on #37402
OK, thanks for the clarification! I guess this issue can be closed then.

[2019-05-07 18:07] #37402 closed

[2019-05-07 18:13] JesperTreetop commented on #33115
Many applications use .NET Framework not because they absolutely want to stay off .NET Core but because .NET Core is not an option. I use .NET Core when it is an option; when I have to target Windows versions lower than Windows Server 2012 (the minimum .NET Core 3.0 version), I *have* to use .NET Framework. Much as I'm sure it was a very painful decision to drop support for Windows Server 2008 R2

[2019-05-07 18:27] YohDeadfall commented on #36505
@ahsonkhan Should this be implemented via emitting IL or via reflection accessors?

[2019-05-07 18:34] joperezr commented on #32355
Given that this issue is not really caused by the framework and it is instead a problem with NuGet's legacy way of referencing packages, I'm closing this issue from the repo. Feel free to add more info or reopen if you think otherwise.

[2019-05-07 18:34] #32355 closed

[2019-05-07 18:35] jemiller0 commented on #33115
If it is supported by .NET Framework, it would go against Microsoft's general policy of screwing over .NET Framework developers to the maximum extent possible. It would be by accident.

[2019-05-07 18:37] jkotas commented on #37425
A limited version of binary serialization (ie `[Serializable]` attribute) was included in .NET Core to ease migration of code from .NET Framework. The binary serialization is legacy technology with number of problems. We do not plan to make more types binary serializable.

We recommend to switch to alternative serialization schemes (e.g. based on JSON) that do not depend on binary serialization.

[2019-05-07 18:37] #37425 closed

[2019-05-07 18:44] marksmeltzer commented on #33115
@JesperTreetop not to mention lack of LTS support for the versions of .NET Core worth using for an enterprise ;) I am hoping we'll get LTS support on 3.x -- as my org's .NET architect, I will be pushing for .NET Core adoption iff we get a 3.x version with LTS support.

[2019-05-07 18:47] jkotas commented on #37488
This is bug in the Windows operating system, not in the open source .NET Core project.

Could you please report this issue via
https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub instead?

[2019-05-07 18:47] #37488 closed

[2019-05-07 18:49] svick commented on #33115
@marksmeltzer The blog post [*Introducing .NET 5*](https://devblogs.microsoft.com/dotnet/introducing-net-5/) from yesterday shows that .Net Core 3.1 will be LTS and is planned to be released in November 2019.

[2019-05-07 19:15] brandonh-msft commented on #19837
Here's an example doing this in .NET Core v2 from w/in an Azure Function:
https://github.com/brandonh-msft/EmbeddedXsltTestFunction

[2019-05-07 19:19] watfordgnf opened #37500 "JsonSerializer throws with trailing whitespace or comments"
Passing JSON with trailing whitespace causes JsonSerializer.Parse to throw (dotnet core 3 preview 5):
[code]
(note single trailing space)
[code]

[2019-05-07 19:38] #35034 closed

[2019-05-07 20:22] David-Engel commented on #18276
@divega It appears that when the AE port to Core was done, the Core ref classes were not updated with the new APIs. Tests were/are run against the non-ref implementation so we didn't catch it. We'll get an update to the package out ASAP.

[2019-05-07 20:23] Pinox commented on #33222
MS Build 2019 - it's great to see that MS is indeed unifying everything into "best of breed" components  that will be used by all platforms in the new .NET 5 version. Therefor,  Xamarin for instance will also use highly performant corefx code in the base .NET 5.  AOT and JIT standard features in .NET 5. Awesome !!

Quote from MS blog :
"All .NET 5 applications will use the CoreFX framework. We wil

[2019-05-07 20:48] lextm commented on #33222
@Pinox third party UI frameworks like Uno are on their way to enable XAML based cross platform UI apps, https://platform.uno

[2019-05-07 21:00] rliman commented on #33115
Will this new JSON serializer support F# types?

[2019-05-07 21:25] yanrez commented on #35086
Is this still on your radar for .net core 3? I wanted to track the progress for https://github.com/aspnet/AspNetCore/issues/7081 , but can't find the right dashboard metric in powerbi.

[2019-05-07 21:27] bartonjs commented on #35086
Yes, seeing if it can be improved further (some ideas come to mind) is still in scope for 3.0.

[2019-05-07 22:27] carlossanlop commented on #37423
@joperezr @ericstj

The exact same error shows up if I use the developer command prompt for VS 2017.

I put a bunch of echos in all the batch files invoked by build.cmd. I found where the error is coming from, but I need help understanding it. The failing script is:

`corefx\src\Native\Windows\gen-buildsys-win.bat`

Almost at the end of the file, we have this line:

`"%CMakePath%" %__SDKVersion% "

[2019-05-07 22:35] #29703 closed

[2019-05-07 22:45] carlossanlop commented on #37423
I noticed the tmp file I reported in my first comment shows up with the Azure Protection icon. Could that be the issue? This file:

AppData\Local\Temp\lnk{56750EBF-481D-4B1D-B3CD-41DDA5DC052E}.tmp

[2019-05-07 23:00] wfurt commented on #37445
I'm able to reproduce it. Since it involves RemoveStream(), it may be fixed by changes for #37455
I'll do more testing when we have fix in place but the issue is understood.

[2019-05-07 23:09] carlossanlop commented on #37423
I fixed it. Visual Studio and Code were both being protected by Azure Protection, not sure why (no one else seems to have this). I had to whitelist those apps, plus dotnet.exe, rc.exe and msbuild.exe to be able to compile again.

[2019-05-07 23:09] #37423 closed

[2019-05-07 23:18] Marusyk commented on #37335
I will try to prepare PR for this, if nobody is against it

[2019-05-07 23:19] wfurt commented on #37445
with updated code:
[code]

[2019-05-07 23:23] wfurt commented on #37446
I will investigate. With latest code I get:
[code]

[2019-05-07 23:34] wfurt commented on #37446
It seems like the test does send RST_STREAM[1] with INTERNAL_ERROR. Could you please clarify expected behavior @JamesNK

[2019-05-07 23:38] Eilon opened #37502 "ArgumentOutOfRangeException thrown when posting Newtonsoft.Json serialized object to System.Text.Json endpoint"
_From @jmezach on Tuesday, 07 May 2019 20:53:01_

### Describe the bug
I'm seeing an ArgumentOutOfRangeException being thrown when I try to POST a JSON object serialized with Newtonsoft.Json on the client to an endpoint that is using System.Text.Json (or at least the exception stacktrace seems to suggest that is the case).

### To Reproduce
Steps to reproduce the behavior:
1. Create new gRPC proje

[2019-05-07 23:38] Eilon commented on #37502
_From @rynowak on Tuesday, 07 May 2019 22:24:44_

This seems like a bug in `System.Text.Json`. Would it be possible for you to share the class definition that's causing this?

[2019-05-07 23:38] Eilon opened #37503 "[OnSerializing] attribute callback not triggering when using System.Text.Json"
_From @alextech on Tuesday, 07 May 2019 17:52:35_

`[OnSerializing]` Attribute is not triggered when using System.Text.Json . The .Net Core Preview 5 blog post suggests moving from NewtonSoft serializer to builtin one, but does not mention any migration paths, so I assume they should work the same way. Is this the case?

### To Reproduce
In object to be serialized, such as output of a REST API con

[2019-05-07 23:46] JamesNK commented on #37446
It should work. All the other gRPC HTTP/2 clients (C++, Java, JavaScript, Dart, Ruby, Python, C# C Core) are able to successfully call this server.

I will update the server to log its internals to the console. You could also examine what HttpClient sends to the server vs what the C# C Core client sends in the wireshark logs I attached to this issue.

[2019-05-07 23:55] wfurt commented on #37446
can I run the other clients anyhow? (one passing would be good enough so I can look for differences. It almost looks like we send something in the request server does not like.

[2019-05-08 00:24] MarcusWichelmann opened #37504 "Add Convert.ToByte(value, fromBase) overload for ReadOnlySpan<char>"
I'm not sure, what your common practice regarding adding Span-ified overloads to old framework methods is, but here is a case, where one would be very handy:

There is a `Convert.ToByte(string? value, int fromBase)` method which I'm calling like that:
[code]
As you can see, I need to call `ToString()` because the method expects a `string`.

But in the called method, this string is converted back t

[2019-05-08 00:24] JamesNK commented on #37446
Here is a repo that will run successfully:
1. git clone https://github.com/JamesNK/grpc-dotnet.git
2. git checkout jamesnk/nativeinteropserver
3. dotnet run -p testassets\InteropTestsNativeWebsite
4. dotnet run -p testassets\InteropTestsClient --server_port 8070 --test_case empty_unary **--client_type ccore**

Only the last part is different.

[2019-05-08 02:08] ahsonkhan commented on #36505
It would depend on which approach yields better performance. I believe IL emit is the way to go (with a fallback to a reflection-based code path if necessary). @steveharter can provide additional guidance, or correct me if I am mistaken.

[2019-05-08 02:13] ahsonkhan commented on #37335
Absolutely, go for it. Thanks!

[2019-05-08 02:30] ahsonkhan commented on #37500
cc @steveharter

[2019-05-08 02:32] ahsonkhan commented on #37503
cc @steveharter

[2019-05-08 02:34] ahsonkhan commented on #37496
cc @steveharter, @layomia - what do we need to do to enable Guid support?

[2019-05-08 02:42] wfurt commented on #37446
thanks. I did look at differences in requests. For now, I can only see that functional request also sends accept-encoding, grpc-accept-encoding and TE: trailers.
I don't know if that can make difference but it would be nice to match it. I assume I would need to build the grpc package somehow, right? I did quick search through the repo and I did not see anything obvious.

[2019-05-08 03:19] laceous commented on #37056
Yeah, Gnome and Xfce4 terminal seem to behave "correctly".

I think it's related to this Konsole bug: https://bugs.kde.org/show_bug.cgi?id=196998

[2019-05-08 03:22] JamesNK commented on #37446
Thanks for the info, I fixed it.

The C Core server logs mentioned the TE header. I looked into the spec and the TE header is required, and some gRPC servers use it absence to detect bad proxies.

Adding "te:trailers" succeeds:
[code]

[2019-05-08 03:22] #37446 closed

[2019-05-08 04:22] nguyenquyhy commented on #37496
May I know if Guid support is planned for .NET Core 3.0 release?
We are building a new application on 3.0 preview and are planning to migrate our existing applications from 2.2 to 3.0 once 3.0 is released, so we would like to know if we have to stick with JSON.NET.

[2019-05-08 04:39] ahsonkhan commented on #37496
Yes, it is. You should be able to serialize/deserialize `Guid`. We'll try to get it in for preview6. Thanks

[2019-05-08 04:53] Zenexer opened #37506 "System.Text.Json fails to parse enums with negative values"
This is a regression from Newtonsoft that causes existing ASP.NET Core applications to fail when upgrading to .NET Core 3.0.

Reproduction:

[code]

Output:

[code]

[2019-05-08 05:22] Zenexer commented on #37506
There problem is most likely here: https://github.com/dotnet/corefx/blob/2c75f5a09f770f3118e09abc35bdf88c1c7120b0/src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterEnum.cs#L37

I'm working on a PR to fix this.

[2019-05-08 05:23] i-sinister commented on #32276
@joperezr, could you plz explain why adding System.Threading.Tasks.Extensions package to console project targeting 4.5/4.5.1/4.5.2 does not require "extra shims", but if projects target changed to 4.6/4.6.1/4.6.2 all of a sudden all of them are required?

Steps to reproduce (at least in VS2017)
1. Create console project "NetStandardTest"
2. Change target framework to 4.5/4.5.1/4.5.2
3. Add System.

[2019-05-08 05:40] Zenexer commented on #34254
The documentation specifies that 3.14.0 should be sufficient, but it's not.  I had to install 3.14.3.

[2019-05-08 06:37] jmezach commented on #37502
I'm actually using the same types that are being used by my gRPC client as I'm trying to compare between the two. I was expecting the type definition to be rather trivial, but it turns out it is a lot more complex than I thought.

That being said, I had a look at the JSON being serialized from it by Newtonsoft.Json and it looks like this:

[code]

That doesn't look all that weird to me, so I tried

[2019-05-08 07:06] sywhang opened #37510 "Add DisplayUnits property to EventCounter and friends"
`IncrementingEventCounter` and `IncrementingPollingCounter` were introduced as new types that tracks metrics that are always incrementing and therefore is better reported as a rate. We added the property `DisplayRateTimeScale`.

This proposal is to add one more property: `string DisplayUnits`.

To track rates, the units of the metric being tracked is often needed. For example, "Allocated bytes per

[2019-05-08 07:39] JamesNK opened #37511 "HTTP2: Response trailers not loaded with some gRPC calls"
HttpClient is sometimes not loading response trailers into `HttpResponseMessage.TrailingHeaders`. I've confirmed that the server is returning trailers in Wireshark.

[code]

This exception comes from the managed gRPC client. The response content stream has been completely read yet the expected trailer is missing.

Repo:

1. git clone https://github.com/JamesNK/grpc-dotnet.git
2. git checkout james

[2019-05-08 09:10] JamesNK commented on #37431
I get this error with the current build:
[code]

[2019-05-08 10:24] noahfalk commented on #37510
We should define the exact type(s) this property is being added to. I assume there is a similar scenario for our non-incremeting counters as well? Ie:

GC Heap Size (MB) vs GC Heap Size (KB)

[2019-05-08 10:54] FiniteReality commented on #37504
`byte.TryParse` and `byte.Parse` accept a ROS<char> and also accepts a NumberStyle and IFormatProvider, which you can use to specify that the input number is hexadecimal. You'd probably be better off using those instead of `Convert.ToByte`.

[2019-05-08 15:54] Eilon opened #37515 "System.Text.Json serialize accurate DateTime incorrectly!"
_From @kennywangjin on Wednesday, 08 May 2019 06:35:39_

aspnetcore3.0 preview5 using System.Text.Json as input- and outputformatter:
if DateTime is too accurate (sqlserver datetime2), it will serialize it to invalid format like: **2019-05-08T00:00:5406760219**
This kind of result could not even be recognized by **DateTime.Parse**.
I think it should be **2019-05-08T00:00:54.06760219** (with a dot

[2019-05-08 15:54] Eilon commented on #37515
_From @pranavkm on Wednesday, 08 May 2019 21:17:00_

@Eilon please move to dotnet/corefx.

[2019-05-08 16:09] bartonjs commented on #37483
There's no CAS, but we also don't want the illusion of CAS working.

Methods that ask if a permission is held return true, methods that grant permissions return true, methods that try to take permissions away throw.

[2019-05-08 16:20] crgarcia12 commented on #31275
Your problem is that you are using var where you should not:

var something = GetSomething() //How can you review this PR? What is it returning?
Something something = GetSomething(); // would not build if you are missing await

[2019-05-08 16:25] lhsomoza commented on #36401
I have the same issue, it does not provide much information for troubleshooting.

[2019-05-08 16:33] zwread commented on #16364
For the second point here are we expecting the build to succeed? I'm just completing the Windows implementation and if we are replacing the system trust with `CustomRootTrust` shouldn't build return a partial chain?

[2019-05-08 16:40] tarekgh commented on #34830
@GrabYourPitchforks are we still targeting 3.0 here?

[2019-05-08 16:41] ericstj commented on #37246
@joperezr you should have the Arcade fix in CoreFx now.  Can you resolve this?

[2019-05-08 16:42] tarekgh commented on #33509
@GrabYourPitchforks are we still targeting 3.0 here?

[2019-05-08 16:42] bartonjs commented on #16364
I'd expect either a) the system trust stores are used as part of chain population (without trust assignment) or b) AIA-follow would kick in and it would find the certificate anyways.  Either way, my expectation is that it would give UntrustedRoot, not PartialChain.

If I'm wrong, that's OK, we'd just want to see what macOS does, and as long as that matches Windows we can make the Linux version mat

[2019-05-08 16:48] sdmaclea commented on #37246
@ericstj The arcade fix is not in master yet.  The updates have been closed due to breaking arcade changes.

[2019-05-08 16:49] ericstj commented on #29331
@ViktorHofer does this repro in 3.0?  If not then I imagine we won't fix in the 3.0 milestone.

[2019-05-08 16:50] ericstj commented on #37246
It was merged on monday. https://github.com/dotnet/corefx/pull/37340/files#diff-8b8f08ffbf7b863fb3700c1718eeb4cbR35

[2019-05-08 16:52] ericstj commented on #29549
@mmitche any update?

[2019-05-08 16:55] ericstj commented on #32539
We should be done adding packages for 3.0, lets do an audit and make sure this references everything we want it to.

[2019-05-08 16:56] sdmaclea commented on #37246
I still see
[code]

[2019-05-08 16:56] ericstj commented on #31650
@ViktorHofer should this be moved over to Arcade where the test runner lives?

[2019-05-08 16:59] sdmaclea commented on #37246
The arcade change was removed from that PR as noted here https://github.com/dotnet/corefx/pull/37340#issuecomment-489445805

[2019-05-08 16:59] vcsjones commented on #37515
Dupe of #37147.

[2019-05-08 17:02] aseduto opened #37516 "TLS Client Authentication fail on Linux"
Hi,

I have a simple ClientTLS code that run fine in windows but always fail in linux.

I have setup a repository with sample code here: https://github.com/aseduto/ClientTLS

And a build here: https://ci.appveyor.com/project/aseduto/clienttls/builds/24399814

The build run exactly the same code in both win and linux and succeed in win but fail in linux.
In the linux build I test the same http call

[2019-05-08 17:03] wfurt commented on #36401
can you isolate simple corefx repro @lhsomoza
notes here are not actionable so far.

[2019-05-08 17:06] wfurt commented on #37431
note, that now we also have more details when tracing is enabled. I'm not sure how informative the trace is but at least it is distinct and describes external condition rather than error on internals.
I'm gonna close it for now per @stephentoub recommendation.

[2019-05-08 17:06] #37431 closed

[2019-05-08 17:11] vcsjones commented on #37515
It looks like the fix was committed in 5f4dede but preview5 was cut at d06ce9d (two days before the PR was merged), so the fix isn't in preview5.

[2019-05-08 17:12] ericstj commented on #35693
I think this is reasonable now.  I sampled 5 recent PRs and we are between 40 and 50 minutes.

[2019-05-08 17:12] #35693 closed

[2019-05-08 17:14] ericstj commented on #36570
Closing as this is tracked in arcade issues

[2019-05-08 17:14] #36570 closed

[2019-05-08 17:26] danmosemsft commented on #37483
That was the reasoning. @0x53A have you reached out to the owner of the control?

[2019-05-08 17:27] JuditRose opened #37517 "[.Net Core][LOC]The item '(Collection)' in PropertyGrid is not translated in .Net core"
@Jessie-Zhang01 commented on [Sun Apr 14 2019](https://github.com/dotnet/winforms/issues/775)

**OS**: RS3 X64 JPN
**VS**:  Dev16 16.1 d16.1 branch 28811.12 build JPN
**.NET Core**: 3.0.100-preview4-011198 from Release branch

**More info:**
This issue also can reproduce with all 13 local languages: CHS, CHT, CSY, DEU, ESN, ITA, JPN, KOR, PLK, PTB, RUS, TRK, FRA

**Steps to reproduce:**

1. Instal

[2019-05-08 17:40] ericstj commented on #37246
Arcade SDK was undone but not the Configuration package as I indicated in the diff.  Please try it and you should see it is fixed.

[2019-05-08 17:49] layomia commented on #37515
+1. This has been fixed.

[2019-05-08 17:49] #37515 closed

[2019-05-08 17:54] 0x53A commented on #37483
No, as far as I know the company no longer exists.

My backup plan is to just rewrite the dll with Cecil and remove the call. I did a prototype and it seemed to work.

[2019-05-08 17:54] joshfree commented on #37496
@JeremyKuhne could you grab this one since you're also working on the EnumConverter?

[2019-05-08 18:03] joperezr commented on #37246
I just validated that this change is in corefx master now. @sdmaclea you should be able to see now that the Binplace.targets will set the new TargetPath by including the satellite subdirectory correctly. Closing this issue as I've validated the change is in corefx now, but feel free to reopen if you think otherwise.

[2019-05-08 18:03] #37246 closed

[2019-05-08 18:05] sdmaclea commented on #37246
Thanks

[2019-05-08 18:09] danmosemsft commented on #37483
OK. I"ll close this then. If others hit this problem, please open a new issue (since we're more likely to see it) and if it's common enough then we can think about other options.

[2019-05-08 18:09] #37483 closed

[2019-05-08 18:18] sywhang commented on #37510
Thanks @noahfalk! I updated the description above

[2019-05-08 18:22] JeremyKuhne commented on #37496
Sure, on it.

[2019-05-08 18:22] layomia commented on #37515
The fix will be added in preview 6. You can also use the fix by consuming the [nightly .NET Core build.](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md)

[2019-05-08 18:24] layomia opened #37520 "Refactor System.Text.Json tests to remove redundancy"
The tests have a lot of copy/paste redundancy that could be cleaned up with some refactoring.

[2019-05-08 18:34] danmosemsft commented on #24333
I do agree regex performance has fallen behind. The way forward may not be major engineering work in the existing Regex engine. As well as the cost there is some risk of breaking behavior (possibly necessarily).

My thinking was we may want to do a combination of
1. selected tweaks to the existing engine, such as maybe API that takes span.
2. offer an alternative engine based on existing code. pos

[2019-05-08 18:35] danmosemsft commented on #24333
cc @ltrzesniewski

[2019-05-08 18:36] joperezr commented on #32276
The reason why this is happening is because you get different assets from the package when you target < 4.6 than the ones you get when you target >= 4.6. If you target < 4.6 you would get the portable asset: `lib\portable-net45+win8+wp8+wpa81\System.Threading.Tasks.Extensions.dll` which won't require all of the .net standard facades given it is itself not targeting .net standard. If you target hig

[2019-05-08 18:49] GSPP commented on #24333
The best quality of implementation would be to upgrade the existing API. Exact same syntax and API surface. It might make sense to add a parallel API surface that is more optimized (less allocations etc.).

I understand it's attractive to just drop the existing API and create something new in a greenfield way. The better solution for customers, though, is to avoid that fragmentation and just fix t

[2019-05-08 18:52] JonathanPCGuy commented on #36555
just following up on this... i'm hoping to have this for http/1 stuff (http/2 is outside my needed scope anyways). it's kind of a niche edge case but there are a few APIs out there that take advantage of ALPN over HTTP, so having this level of control right out of the box would be awesome. i know it may not be a high priority but i would like to know if it would never be done.

@wfurt @davidsh @st

[2019-05-08 18:59] NinoFloris opened #37522 "TargetInvocationException System.Text.Json.Serialization"
Don't have a repro yet but this threw an exception during serialization.
Running on 3.0.100-preview5

[code]

[2019-05-08 19:01] danmosemsft commented on #24333
This is not cheap. Writing a new regex engine that is competitive is a big investment and would take time. Where possible it would be good to build on the work others have done and spend our dev dollars in other places. Making it fully compatible is likely an opposing requirement anyway.

You are quite right - we did an audit of a large quantity of code and this is correct. You can get an idea of

[2019-05-08 19:09] mmitche commented on #29549
@ericstj Some of the plan is place.  We are working on a feature which will automatically propagate input feed and blob urls to repos during dependency updates.  Then that will combine with the release pipeline, so that when a stable build is published, a fresh feed is created each time for stable outputs, and propagated during dependency update.

The last bit of the puzzle is how to put the repo

[2019-05-08 19:23] ltrzesniewski commented on #24333
That's understandable if performance is the only thing you're going after, but IMO that would be a missed opportunity. PCRE has a *very* rich feature set which you can leverage to do things that are just not possible in other engines. That's why I decided to support *everything* in PCRE.NET - it gives the user so much tools.

There's one feature I left out because I deemed it unnecessary and I had

[2019-05-08 19:41] karelz commented on #36555
We should re-assess after shipping 3.0.
I don't have enough insights to tell never / maybe one day.

[2019-05-08 19:44] slozier opened #37524 "double.ToString fixed-point formatting does unexpected rounding"
`(0.0046).ToString("F2")` returns `0.01` instead of the expected `0.00`. @tannergooding

[2019-05-08 19:47] bryanchen-d commented on #37249
+1 vote for this feature.

[2019-05-08 19:55] vcsjones commented on #37522
Usually this happens when you try to serialize a type that is not supported yet, such as a struct. Is one of the types in the object graph a struct or a Guid?

[2019-05-08 19:57] David-Engel commented on #18276
We pushed an update to the Microsoft.Data.SqlClient 1.0 preview. It should resolve the issues noted around Always Encrypted.

@sebader - I want to note, though, custom key store providers like the Azure Key Vault provider need to be updated to work with Microsoft.Data.SqlClient. Only the built-in providers will work until that happens (hopefully soon!). So the example you were following using Azur

[2019-05-08 20:06] wfurt commented on #29742
Got another failure on Window.

[code]
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37505~2Fmerge/test~2Ffunctional~2Fcli~2F/20190508.15/workItem/System.Net.Sockets.Tests/wilogs

[2019-05-08 20:10] i-sinister commented on #32276
@joperezr, thank you for the reply, but there'll be one more question then. As you confirmed this happens because there are no "different assets" for 4.6/4.6.1/4.6.2 and when nuget decides which "assets" to use it picks netstandard2.0 due to it is considered "newer" then 4.5, I guess. So the question is why there are no "different assets" for 4.6/4.6.1/4.6.2 just like there are for 4.5? Is there a

[2019-05-08 20:15] joseftw commented on #18449
This appear to still by an issue, see below for repro and fiddler response.
[code]

[code]

The above code produces the following result in Fiddler (notice the spacing in the Accept header but not in the ```whatever``` header):

[code]