[2017-12-20 17:14] mikedn commented on #25974
Here's the code generated by the JIT for the `Add` benchmark:
[code]
There's also a 64 byte copy inside `Matrix4x4.Add`.

There are some cases where the JIT might be able to eliminate these copies but in this case (arguments are class fields) it's almost impossible. The JIT would need to look at `Matrix4x4.Add` and figure out that it doesn't in fact modify its arguments and thus copies are not nee

[2017-12-20 17:17] karelz commented on #25895
@KennethLundberg sorry for the delay, I missed the original message.
Done. Pro-tip: GitHub will auto-subscribe you to all notifications on the repo (500+ per day), which is quite a lot. We recommend to disable the notifications to "just your mentions".

[2017-12-20 17:19] karelz commented on #25974
@mikedn I agree that adding more APIs is not worth it. I assume we could just add `in` attribute on the args. I don't think that is a breaking change ...

[2017-12-20 17:22] mikedn commented on #25974
I don't think so, the resulting metadata signature would be incompatible with the existing signature so any C# code that uses `System.Numerics` would have to be recompiled.

[2017-12-20 17:26] karelz commented on #5377
Thanks @kassemsandarusi for your contribution! I have sent you collaborator invite - that will allow us to assign this issue to you (GitHub limitation). Assigning the issue to myself temporarily, once you accept, please ping me here and I will reassign it to you.
Pro-tip: GitHub will automatically subscribe you to all repo notifications (500+/day). We recommend people to switch to notifications wh

[2017-12-20 17:28] FenrisWolfAtMiddleEarth commented on #25988
Ok. Thanks for the update.
I can see the issue has been added to the 2.1.0 milestone. ETA for that is Q2, right ?

[2017-12-20 17:40] karelz commented on #25785
FYI: Second part of API review discussion on 2017/12/19 was recorded - see https://www.youtube.com/watch?v=IIKqOagRdWA (1h 43min duration) (video is mostly frozen)

[2017-12-20 17:45] karelz commented on #25988
Yes, ETA is currently Q2: https://github.com/dotnet/core/blob/master/roadmap.md#upcoming-ship-dates (it could change)

I set the milestone based on my best assessment of the impact (compat with .NET Framework and @davidsh's notes). It is however possible we may change it later and push it out of 2.1.

[2017-12-20 18:04] karelz commented on #25974
If it is encoded as modopt in the signature, then yeah, we cannot just simply add it as it breaks binary compatibility. `out` and `ref` were not encoded that way. Is `in` different?

[2017-12-20 18:18] karelz commented on #25995
Please ask on [ASP.NET repos](https://github.com/aspnet) or on StackOverflow ("cant post there" seems weird unless there was a ban or something like that)

[2017-12-20 18:18] #25995 closed

[2017-12-20 18:19] mikedn commented on #25974
`in` is like `ref`, the signature would contain a managed pointer:
[code]
instead of the original one:
[code]
Code that is not recompiled and attempts to load the new System.Numerics would fail with a `MissingMethodException`.

[2017-12-20 18:19] tannergooding commented on #25974
`in` has the same signature as `ref` and is differentiated by the compiler via the `S.R.CS.IsReadOnly` attribute.

I additionally uses a more for virtual members to guarantee the readonly contract when overriding.

Since you cannot switch the methods to ref without it being breaking, you also cannot switch it to in.

Additionally, as commented above. Making many of these methods use in, or providi

[2017-12-20 18:23] tannergooding commented on #25974
The PR where this (and similar) change was already rejected is https://github.com/dotnet/corefx/pull/25388

[2017-12-20 18:24] kassemsandarusi commented on #5377
@karelz Accepted.

[2017-12-20 18:29] mikedn commented on #25974
The main problem with that PR was that it was trying do add `in` versions for many other `System.Numerics` types (e.g. `Vector3`) and for those types the benefits of using `in` are minor. In fact, some benchmarking showed that adding `in` can also make things slower sometimes.

The case of `Matrix4x4` is more complicated. It's much larger then the rest of the types and while the JIT may be able to

[2017-12-20 18:35] benaadams commented on #24445
Suppose you could do
[code]
When you were pooling the Dict, but wanted no greater than a size of 256 carried forward (in-case run had dict of 100k items)

[2017-12-20 18:39] SamuelEnglard commented on #6073
1) @terrajobst is right that I based the `TrySingle` on the `TryParse` pattern. The existing [`Single`](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.single?view=netframework-4.7#System_Linq_Enumerable_Single__1_System_Collections_Generic_IEnumerable___0__) and [`SingleOrDefault`](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.singleordefault?view=netframew

[2017-12-20 19:06] tmds commented on #25354
hi @kurtschelfthout , I have some questions to better understand the rationale.

I guess one way of using this is for files that are sent often can be opened once and then the same FileStream can be passed multiple times (even concurrently). Is that is what is meant here?

Can you elaborate more on this? What default settings (file access, sharing, options, buffer size) used now when opening the f

[2017-12-20 19:17] wfurt commented on #25633
Hello @maurocolella for the delay. I posted new sdk here: https://github.com/wfurt/blob
It is version 2.2 based on daily snapshots and 2.1 runtime. I've done very limited testing.

[code]

note, that first two environmental variables are mandatory at this point.

Also going back to your original questions:  As @karelz mentioned, you can skip the 'run' keyword and simply pass in your assembly. Publ

[2017-12-20 19:40] karelz commented on #21809
Unblocked, it is ready to roll. Any takers? -- should be fairly straightforward to add

[2017-12-20 20:11] SamuelEnglard commented on #6073
Also @karelz, maybe remove the up-for-grabs tag?

[2017-12-20 20:33] alexsandro-xpt commented on #11897
Is this issue still paused?!

[2017-12-20 20:43] KrzysztofCwalina commented on #15687
Could we change IScheduler to an abstract class, hide the implementations (InlineScheduler and TaskRunScheduler) and expose the implementations as properties on the abstract class??

[2017-12-20 20:47] jcouv commented on #21809
Tagging @alrz who is working on compiler change to see if he could implement the type as well.

[2017-12-20 20:48] KrzysztofCwalina opened #26002 "Change OwnedMemory<T> to IOwnedMemory<T>"
This would allow many types with existing class hierarchy to work with Memory<T>.
For example, SafeBuffer, Utf8String, etc.

cc: @stephentoub, @terrajobst, @davidfowl, @ahsonkhan, @joshfree, @jkotas

[2017-12-20 21:15] sereeth commented on #22142
Having the exact same issue, something is definitely wrong here.   Side by side .netcore 2/4.7.1/.NET STD 2 and System.Runtime.Loader is never copied.   Blows up standard dependency injection code using AssemblyLoadContext

[2017-12-20 21:19] jnm2 commented on #22142
I take issue with the abbreviation ".NET STD." 😂

[2017-12-20 21:20] Horusiath opened #26003 "Uniform tuple representation"
Right now, tuples/value tuples are implemented as set of types with distinct arity (max to 7 elements). However they could be implemented in more uniform manner:

[code]
With this implementation and some helper methods we could represent Tuples of any size:

[code]
While this design can work (and potentially can be even as efficient as `ValueTuple<>` thanks to generic nature of this data structure

[2017-12-20 21:25] bording commented on #24847
@karelz To follow up on this, we ended up shipping a patch that added the public key token of netstandard.dll to our internal list of assemblies to skip trying to load, which solved the issue for us.

Our scenario is basically a plugin model, so we're scanning assemblies on disk for relevant types.

[2017-12-20 21:30] JonHanna commented on #26003
How does this differ in practice from what we already have with `(1, 2, 3, 4, 5, 6, 7, 8, 9)` being a `ValueTuple< int, int, int, int, int, int, int, ValueTuple<int, int>>`? This seems perhaps a bit theoretically simpler, a bit less convenient if one does have to deal with the type without the sugar, and about the same for most use.

How would this be made compatible with the existing syntax that

[2017-12-20 21:50] Priya91 commented on #24766
Closing as no repro.

[2017-12-20 21:50] #24766 closed

[2017-12-20 21:54] Priya91 commented on #20559
The test failure is on windows 7.

[2017-12-20 21:58] Priya91 commented on #21431
This hasn't reproes after 6/27. Closing as no repro.

[2017-12-20 21:58] #21431 closed

[2017-12-20 22:00] Priya91 commented on #21432
This hasn't reproed after 6/27, and possible issue could be with tests using wait pattern instead of async/await.

[2017-12-20 22:00] #21432 closed

[2017-12-20 22:35] Priya91 commented on #23098
looks similar to #22434

[2017-12-20 22:50] alrz commented on #21809
I didn't find other caller info attributes in this repo. sounds like System.Private.CoreLib.csproj is private.

[2017-12-20 22:54] jcouv commented on #21809
@alrz The implementation lives in corert ([example](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/CallerFilePathAttribute.cs)).

I'm not sure whether adding the new attribute to corert is sufficient for it to appear (or whether some change in corefx is also needed). @karelz can clarify.

[2017-12-20 22:56] kurtschelfthout commented on #25354
@terrajobst @karelz   I have some concerns around the addition of CountLong to SendPacketsElement.  It seems the main drive is a vague concern about "future proofing". If I had a crystal ball...I'd bet that CountLong will be noise for future API reviewers to rant about ;)

This API is a direct wrapper around a [winsock API.](https://msdn.microsoft.com/en-us/library/windows/desktop/ms740566(v=vs.85

[2017-12-20 22:57] Horusiath commented on #26003
I think, that the most advantages will target library designers and systems using heavy code emitting and generic programming. I.e. right now there is no way of defining things like `DoSmth<T>(T args) where T: ITuple`. Even then, if a person would like to present any kind of generic programming over tuples, he/she needs to check for every of 8 possible variants and build the same repetitive thing

[2017-12-20 23:26] kurtschelfthout commented on #25354
@tmds

Yes, that's what I meant, though in the API review discussion people implied that was nonsense because once you pass the file handle to windows, it essentially owns it. If true, I'd appreciate some elaboration/documentation on that. E.g. the management of disposal of FileStreams in the implementation - see references to [this field](https://github.com/dotnet/corefx/blob/master/src/System.Ne

[2017-12-21 00:02] bergmeister opened #26008 "System.IO.Directory.Exists(string path) does not trim trailing whitespace of provided path on Linux"
The documentation of `System.IO.Directory.Exists(string path)` [here ](https://docs.microsoft.com/en-us/dotnet/api/system.io.directory.exists?view=netcore-2.0#System_IO_Directory_Exists_System_String_) states that

This is true for Windows, but not for Linux (tested on Ubuntu 17 and WSL)
## Expected
[code]
## Actual

The second assertion fails only on Linux (Ubuntu 17.04 VM in Azure and also WSL)

[2017-12-21 00:05] 4creators commented on #25926
@fiigii @tannergooding
Just went through SSE2 shift intrinsics again and based on the list from top post and my double check it seems we are missing:
1. the following logical shifts:
[code]
2. the following right arithmetic shifts:

[code]

Can we have decision on implementing these APIs and get them merged?

[2017-12-21 00:17] maurocolella commented on #25633
Thank you so much @wfurt !

[2017-12-21 00:26] karelz commented on #19285
Next time it happens, we need to jump right on it to find out what is happening - @wfurt @Priya91

Closing.

[2017-12-21 00:26] #19285 closed

[2017-12-21 00:32] wfurt commented on #19285
I think now dumpling should kick in on hang tests @karelz
That should give us more insight.

[2017-12-21 00:39] CIPop commented on #16029
@bartonjs We're hitting the same issue from new tests for the Azure IoT SDK.
The certificate is here: https://github.com/Azure/azure-iot-sdk-csharp/blob/master/provisioning/service/tests/Config/AttestationMechanismTests.cs#L22

According to @mamokarz this is working fine in our Java SDK on both Windows and Linux and may cause some confusion for our customers. Is there any documentation on supporte

[2017-12-21 00:40] fiigii commented on #25926
@4creators Thank you! Actually, I already have a fix on my local machine. Will upload tomorrow.

[2017-12-21 00:41] karelz commented on #19387
Closing - the tests were refactored on 7/30 in commit https://github.com/dotnet/corefx/commit/0fc03bf5c39661def02ce99fa9482d1e2923df99#diff-51e56139ca2f787f4d80e1a002321919

There is only 1 entry for the failure (AcceptAsync_IPv6_Success test) in our history. No entries for the original failure ConnectAsync_IPv6_Success.

[2017-12-21 00:41] #19387 closed

[2017-12-21 00:51] karelz commented on #19990
No failure of the test in Helix history since 2017/5. Closing.

[2017-12-21 00:51] #19990 closed

[2017-12-21 00:51] 4creators commented on #25926
Great to hear that 😄

[2017-12-21 00:53] karelz commented on #19992
No failure in Helix history since 2017/5. Closing.
The original failure was on 20170519.01 **portable** - probably some hiccup in that build/run - see #19990.

[2017-12-21 00:53] #19992 closed

[2017-12-21 00:53] karelz commented on #19990
The original failure was on 20170519.01 portable - probably some hiccup in that build/run - see #19992.

[2017-12-21 01:02] bartonjs commented on #16029
@CIPop nope.  But the problem with the one you linked to is it's invalid PEM.  A newline is required at the end of line 22's string, and before line 32's.

[2017-12-21 01:24] CIPop commented on #16029
Thanks @bartonjs! Still, it's odd that Windows works...

[2017-12-21 01:39] Tornhoof commented on #21395
FWIW, @Tragetaschen

This is not correct anymore, there is a ẞ in Unicode for years now, U+1E9E. It's part of german Orthography Dinge July 2017. https://en.wikipedia.org/wiki/Capital_ẞ
I Imagine there are still other examples though.

[2017-12-21 02:15] jamesqo commented on #21809
WOOT! Been waiting for this for so long :tada:

[2017-12-21 02:17] bartonjs commented on #16029
Just means that OpenSSL and CAPI (and Security.framework) have different laxities in their PEM readers.  The joys of calling system functions in the past is we don't really know what the edge cases are until people hit them and report them.

[2017-12-21 02:35] divinity76 commented on #26008
this shouldn't be done anyway on linux, because on linux, folder names ending in spaces is perfectly legal. in fact, a folder name only containing spaces is perfectly legal.  if this was "fixed", it would be impossible to use this function to deduce if the folder "   " (3 spaces) exists or not.

[2017-12-21 03:09] jcouv commented on #21809
@jamesqo glad to hear. I must say there is one more language issue that came up afterwards: how can existing APIs adopt the attribute? Adding an optional string parameter causes problems in typical methods we're thinking of (such as asserts).

[2017-12-21 03:18] jamesqo commented on #21809
@jcouv Just gave you a really long response about binary compatibility on the csharplang issue.

[2017-12-21 04:48] maryamariyan opened #26010 "Inconsistencies between netfx and netcoreapp in string random hashing"
While trying to add tests to check if the randomized string hashing is working fine ([issue 24466](https://github.com/dotnet/corefx/issues/24466)), I noticed that netfx is not using random function for GetHashCode.

The randomized string hashing function is working properly in netcoreapp but not in netfx.
```"abc".GetHashCode()``` should be randomized and be returning a different hashcode in diffe

[2017-12-21 05:26] danielcrabtree commented on #24832
I found that if I remove `<RuntimeIdentifier>win-x64</RuntimeIdentifier>` from the csproj, `dotnet run` uses `C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.3\System.Private.CoreLib.dll`, and infinite recursion error is gone.

However, without `<RuntimeIdentifier>win-x64</RuntimeIdentifier>`, the .exe is not generated. So the only way to run the program is via dotnet run.

I expected tha

[2017-12-21 07:31] cosminstirbu commented on #19914
My workaround was to add the following AfterBuild task that removes the .NET Standard .dll:

[code]

[2017-12-21 07:43] Sunny-pu commented on #24537
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/3874

[2017-12-21 07:59] jkotas commented on #26010
This is not a bug. It is the expected behavior. Randomized hashing was not in .NET Framework originally. When we have introduced it, it was not turned on by default because of the bug-for-bug .NET Framework compatibility bar.

.NET Framework programs that wish to have randomized hashing have to opt into it using config file: https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-sch

[2017-12-21 08:17] bergmeister commented on #26008
Ok. I see your point. Then either the documentation needs to be updated or the breaking change to not trim trailing whitespace on Windows should be made to make the implementation consistent. I don't understand why the trimming is implemented/needed on Windows at all.

[2017-12-21 08:43] razzemans commented on #24421
For anyone interested: the logger issue was caused by having stdout logs enabled in the web.config. We disabled this and timeouts are no longer occurring. This only happened during extremely high load, but it happened nonetheless.

[2017-12-21 08:46] 0xd4d opened #26012 "Microsoft.CSharp is missing DynamicMetaObjectProviderDebugView"
Why isn't `Microsoft.CSharp.RuntimeBinder.DynamicMetaObjectProviderDebugView` available in .NET Core? It's a debug view used by debuggers to show properties of dynamic types.

[2017-12-21 08:54] ashishnegi opened #26013 "Add implementation for SetTcpKeepAlive in ServicePoint"
Hi

I am porting my .NetFramework project to .NetStd 2.0.

I have long running workloads. I need to set Tcp Keep-Alive messages. This is supported in .NetFramework.
Its implementation in corefx is not doing anything after validation.
https://github.com/dotnet/corefx/blob/master/src/System.Net.ServicePoint/src/System/Net/ServicePoint.cs#L101

Hence, my HttpClient Api calls don't send tcp keep alive

[2017-12-21 09:09] aobatact commented on #25974
I came up with something like this
[code]
but the user has to write "in" in the current way of overloading.
[code]

[2017-12-21 09:14] tmds commented on #25354
On Linux, the sendfile implementation leaves the current state of the handle. That is: the offset doesn't change, and the handle isn't closed either.
This is important to enable this re-use.
The concurrency aspects and how the operation affects FileStream state need to be defined.

Does that means you are sending parts of files which are being modified concurrently?

It seems meaningful to add thi

[2017-12-21 09:42] mikedn commented on #25974
Yes, that's main reason why I said that the ship has kind of sailed. `in` has been specifically designed to be easier to use compared to `ref`, in normal circumstances you can call such methods without specifying `in`. But this only works if such methods aren't overloaded. Now we're sort of stuck:

* If such overloads are added now then existing code fails to compile.
* If C# overload resolution r

[2017-12-21 09:43] kurtschelfthout commented on #25354
Ha. Yes, caching seem like an easy problem :joy:  Just search for file system cache trashing.

[2017-12-21 10:41] divinity76 commented on #26008
my vote goes to updating the docs ^^

(also, funfact, on windows, mkdir() is a wrapper for the CreateDirectory winapi, CreateDirectory is a wrapper for NtCreateFile, but first CreateDirecotry calls ntdll.dll!RtlDosPathNameToRelativeNtPathName_U , which fails if there are trailing spaces, and if that fail, CreateDirectory refuse to create the directory, but if you call NtCreateFile directly, you ca

[2017-12-21 11:01] hmdhasani commented on #25967
the normal minus is an one ascii char: '-'
but in Linux servers it is in fact two character witch first one has no graphical representation and is '‎' (note that there is actually a hidden charter between quotes if you use arrow keys for moving cursor you will find it )
and the next charter is I think '—'

[2017-12-21 11:18] evil-shrike opened #26014 "Provide release notes per package and per version for all packages published on nuget.org"
Currently there's the lack of transparency what is going on with corefx packages published on nuget.org.
For example, in VS with my solution I open "Manage NuGet Packages for solution" and on "Updates" tab I can see that there's an update for System.Data.SqlClient. I have 4.4.0 but there's a newer 4.4.2 already.
Cool. Of cause I'll install it but I wonder what have changed.
There's no link to pack

[2017-12-21 12:05] magol commented on #26014
I have the same question when a new version is released.

[2017-12-21 12:49] tannergooding commented on #25974
@mikedn, the overload ambiguity is being resolved for 7.3.

Byval will be preferred when both exist and users will need to explicitly specify in to call the other overload.

https://github.com/dotnet/csharplang/issues/945
https://github.com/dotnet/roslyn/pull/23122

[2017-12-21 12:59] mikedn commented on #25974
Exactly as I suspected it will happen :smile:

[2017-12-21 14:59] #25638 closed

[2017-12-21 15:47] MansoorJafari commented on #22184
hi
my connection string is this.
"ConnectionStrings":{
    "Default":"server=localhost;database=db;user id=sa;password=mmrrJJ@2222;"
  }

but I get this error

`Cannot access Kerberos ticket. Ensure Kerberos has been initialized with 'kinit'.
ErrorCode=InternalError, Exception=Interop+NetSecurityNative+GssApiException: GSSAPI operation failed with error -  An unsupported mechanism was requested (u

[2017-12-21 16:42] karelz commented on #25967
@hmdhasani can you please post a self-contained repro as I asked?
You seem to suggest that Linux doesn't recognize 'normal' minus character and that it has 2 alternative UTF characters. That sounds very weird to me and suspicious. If it is true, please link official documentation.

[2017-12-21 16:47] karelz commented on #24832
AFAIK, the EXE is generated only for self-contained apps. Not sure how that looks in CSPROJ files.

I don't think the behavior above is any special for point releases - at least I am pretty sure we didn't implement intentionally anything special.

@steveharter do you know who to loop in to shed some light here?

[2017-12-21 16:48] karelz commented on #21809
Marking as blocked again, until we resolve the language feature.

[2017-12-21 16:50] karelz commented on #19285
Yes, that as well.

[2017-12-21 17:12] karelz commented on #20069
Helix run history:

Day | Build | OS | Error message
-- | -- | -- | --
8/14 | 20170814.02 | OSX 10.12 | Timed out assert

Closing for now (it is rare enough to not be worth tracking with an open issue at this point). Please reopen if it happens again.

[2017-12-21 17:15] evil-shrike opened #26015 "XmlSchemaSet.Compile throws XmlSchemaException: Undefined complexType is used as a base for complex type extension"
Given a XSD-schema `base.xsd` with an abstract complexType ("abstract-component") and another XSD-schema which includes the base schema - `main.xsd`. Main schema contains a complexType ("abstract-data-source") which extends "abstract-component" from the base schema.

It works fine on .net framework (any version).

But on .net core (2.0.3) a try to compile main.xsd throws XmlSchemaException: "Undef

[2017-12-21 17:20] karelz commented on #19848
No failure in Helix history since 2017/5. No PR failure in last month.
Closing. Please reopen if it happens again.

[2017-12-21 17:20] #19848 closed

[2017-12-21 17:30] evil-shrike commented on #26015
The same result if instead of `include` use `import`
`main.xsd`:
[code]
on .net framework it works fine.

[2017-12-21 17:57] navarrorc commented on #10054
Ok, I'm lost. I'm using dotnet version 2.1.2 on Windows 10 with VS2017 v15.5.2
I was trying to print the smiley face, using '\u263A' but was getting a question mark instead. After adding the following line right after my Main method, the smiley face printed correctly.
`Console.OutputEncoding = System.Text.Encoding.UTF8;`

Would I have to add that line in every console application that uses special

[2017-12-21 17:58] karelz commented on #20223
History of test failure updated in to post

[2017-12-21 17:59] karelz commented on #20746
No failure in official Helix runs since 2017/5
Closing. Please reopen if it happens today.

[2017-12-21 17:59] #20746 closed

[2017-12-21 18:00] #24114 closed

[2017-12-21 18:25] wfurt commented on #25633
Closing now. I updated documentation with notes how to rebuild Frankenstein SDK for FreeBSD.
I have some fixes for bootstrap script and I'll try to get them in soon. I can also provide patch if needed. Notes should outline steps and strategy. I'll try to keep them updated as fixes get submitted (or code broken)

[2017-12-21 18:25] #25633 closed

[2017-12-21 18:52] steveharter commented on #24832
When you compile\run with a RID (win-x64) the app is considered self-contained meaning it should not look in the shared location `\Program Files\dotnet\`. When running the published build, all framework\runtime files should be next to the .exe and loaded there.  When not running the published build (and running the .dll, such as F5), then `.nuget\package` could be searched; that nuget location and

[2017-12-21 19:11] wtgodbe commented on #25906
@danmosemsft where does the code for ReflectionTypeLoadException live? A search in the repo only comes up with tests.

[2017-12-21 19:30] kasper3 commented on #21537
This seems to be implemented by https://github.com/dotnet/corefx/pull/24846 months ago, but waiting for OOB decision which will still take some time? Please consider that many many people are relying on WebSockets in ASP.NET. If it isn't a package-update step away in ASP.NET WebSockets, then we will be in the situation where we are today that ASP.NET WebSockets copy is quite old.

Until 2.1 or for

[2017-12-21 19:43] karelz commented on #21037
Updated history of the test failure in top post

[2017-12-21 19:45] karelz commented on #21702
Only 3 known failures in half year, moving to Future.

[2017-12-21 19:45] kasper3 opened #26018 "HttpStatusCode to implement RFC 6585"
Please implement complete list of HTTP status codes.  See https://tools.ietf.org/html/rfc6585 for many status codes that are missing in:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Primitives/src/System/Net/HttpStatusCode.cs

Ignoring the `Unofficial codes` section from this list: https://en.wikipedia.org/wiki/List_of_HTTP_status_codes, we basically should have all status codes co

[2017-12-21 19:46] karelz commented on #21851
No failure in official Helix runs since 2017/5.
Closing. Please reopen if it happens again.

[2017-12-21 19:46] #21851 closed

[2017-12-21 19:50] karelz commented on #21855
Helix official runs history shows only 1 failure of AcceptAsyncV6BoundToSpecificV4_CantConnect test and no failures for AcceptAsyncV6BoundToAnyV6_Success test.
Closing. Please reopen if it happens again.

[2017-12-21 19:51] davidsh commented on #26018
This issue is basically a duplicate of this: #4382

[2017-12-21 19:51] steveharter commented on #24832
@danielcrabtree

That is by design - the patch version is not included in the runtimeconfig.json because the host by default will "roll-forward" to the latest patch, so specifying 2.0 will roll forward to the latest patch version available (e.g. 2.0.3).

If you want to use a specific patch version (with no roll-forward), you can use `dotnet --fx-version 2.0.3 app.dll`

[2017-12-21 19:52] kasper3 commented on #26018
Thanks!

[2017-12-21 19:52] #26018 closed

[2017-12-21 19:52] karelz commented on #22814
Updated history of failures in top post.

[2017-12-21 19:53] karelz commented on #22900
Only 1 failure since 2017/5 in Helix official runs.
Closing. Please reopen if it happens again.

[2017-12-21 19:53] #22900 closed

[2017-12-21 19:56] kasper3 commented on #4382
Redirected from #26018

`api-needs-work`

technically this doesn't seem like an API addition but merely a bunch of missing enums that are covered by standard authorities. Microsoft's own Azure DocumentDB servers are using the Standard HTTP codes like 429, that HttpStatusCode is unaware of.

Ignoring the `Unofficial codes` section from this list: https://en.wikipedia.org/wiki/List_of_HTTP_status_co

[2017-12-21 20:08] steveharter commented on #24832
@danielcrabtree, if you're running with a RID and standalone app \ exe, try running from the publish folder (e.g. `C:\myconsoleapp\bin\Debug\netcoreapp2.0\win10-x64\publish`). You may have to re-publish your app to get the latest framework binaries in there.

Also to debug, set `COREHOST_TRACE=1` and then re-run your app to capture the output. It'll have information on whether the app is in standa

[2017-12-21 20:16] karelz commented on #23121
Updated history of failures

[2017-12-21 20:30] johnnyRose commented on #13970
@karelz: can I give this a shot? I've been interested in contributing for a while.

[2017-12-21 20:58] karelz commented on #13970
Sure thing! Welcome aboard!
I just sent you collaborator invite. Ping me when you accept - I will be able to assign the issue to you then (GH limitation) (assigning to myself for now).
Pro-tip: Collaborators are auto-subscribed to all repo notifications (500+/day), we recommend to switch to notifications where you are mentioned to keep some sanity ;).

[2017-12-21 21:01] Priya91 opened #26020 "Adding certificate chain to local user store on linux doesn't reflect in chain building"
Repro code:

[code]

Output on Linux:

[code]

Output on Windows:

[code]

Using the certificate file: https://github.com/pepone/netstreamtest/blob/master/server/s_rsa_cai1.p12

[2017-12-21 21:02] Priya91 commented on #25581
I did the following tests:

Windows Server | Linux client the client keychain length is 2
Linux Server | Linux client the client keychain length is 1

Also I've verified that the chain length is only 1 at the server side where the chain gets built, as linked above. It looks like the certificates are not correctly installed on linux to the openssl store. I opened an issue #26020 isolating the issue

[2017-12-21 21:02] #25581 closed

[2017-12-21 21:03] Priya91 commented on #26020
cc @pepone @bartonjs

[2017-12-21 21:04] johnnyRose commented on #13970
@karelz: thanks, I accepted!

[2017-12-21 21:13] karelz commented on #25906
It's in CoreCLR repo: https://github.com/dotnet/coreclr/blob/da66c3a146563d5841502a8dec76fe082ee9fef6/src/mscorlib/shared/System/Reflection/ReflectionTypeLoadException.cs

[2017-12-21 21:31] karelz commented on #24566
No Helix official run failure, closing.

[2017-12-21 21:31] #24566 closed

[2017-12-21 21:35] karelz commented on #23779
The failures are now tracked in #25979

[2017-12-21 21:35] #23779 closed

[2017-12-21 22:41] karelz commented on #23533
History of test failures updated in top post.

The test did not fail since @Drawaes's change on 11/28 - https://github.com/dotnet/corefx/commit/d2670c6e5b98375604850d072e65be4f22d5a5fb#diff-018414b4fffa636f2e5e9ef6099c07b0. Closing.

@Drawaes @stephentoub it seems that the last change to the test `Connect_MultipleIPAddresses_Success` was to remove the (10s) time out, which made the test pass. Any

[2017-12-21 22:41] #23533 closed

[2017-12-21 22:46] karelz commented on #19586
No failures in official Helix runs after 5/12 (the one above).
Closing.

[2017-12-21 22:46] #19586 closed

[2017-12-21 22:56] karelz commented on #20559
No failure in official Helix runs for these tests:
* CertificateValidationClientServer_EndToEnd_Ok
  * The test had 26 non-timeout failures 6/22-6/27
* ServerAsyncAuthenticate_UnsupportedAllServer_Fail
* SslStream_ClientAndServerUsesAuxRecord_Ok

Closing

[2017-12-21 22:56] #20559 closed

[2017-12-21 23:03] Drawaes commented on #23533
Yes, there are a number of tests that seem to go for waaaay too long in the networking area. But it was decided that the 10 second timeout I added was just adding CI noise. However I still think its a problem and should be tracked/fixed?

[2017-12-21 23:29] karelz commented on #22434
Updated test failures history analysis in top post.

The passes after 11/13. It was failing at least daily consistently until 11/1. And had only 5 failures 11/1-11/13.
@Priya91 any idea what could have fixed it after 11/13?

Closing. Please reopen if it happens again.

[2017-12-21 23:34] Priya91 commented on #23098
@karelz This looks like the same bug as #22434, this can be closed as well.

[2017-12-21 23:59] karelz commented on #23098
Yes, I was just looking at the history - the test failures are very correlated - both tests ALWAYS failed in tandem back to 7/18.
Duplicate of #22434

[2017-12-21 23:59] #23098 closed

[2017-12-22 00:02] karelz commented on #23291
Only 1 failure in official Helix runs on 11/28 since 2017/6 (when another unrelated problem was addressed in the test):

Build: 20171128.03 - Win7
[code]

Moving to Future for now as rare test failure.

[2017-12-22 00:14] karelz commented on #24356
The failure `The client and server cannot communicate, because they do not possess a common algorithm` wasn't hit in Helix official runs since 7/11.
The only failures happaned 7/6-7/11 -- 55 failures, each day at least 8.

BTW: There are other, likely unrelated failures in these tests later on - not tracked by this issue.

Closing. Please reopen if it happens again.

[2017-12-22 00:14] #24356 closed

[2017-12-22 00:17] karelz commented on #23533
Thanks! That would be more of a test improvement to analyze why the tests run for so long and if it is desirable.
It should not be tracked by "test failure".

[2017-12-22 00:25] kasper3 commented on #9503
This is excellent! Lets invest energies in making the ManagedWebSocket the BEST and most performant implementation, zero copy, memory pools and and and.. all the goodness one can possible imagine these days

Btw, how where do we get the preview System.Net.WebSockets package today? When I searched `WebSocket` on https://dotnet.myget.org/gallery/dotnet-core, I found `System.Net.WebSockets 4.4.0-beta

[2017-12-22 01:12] safern commented on #18649
@dougajmcdonald or @mafav I can't repro this issue locally, could you please share the project where you're hitting this? I want to see what you're targeting, what APIs you're using and the package version that you're using.

[2017-12-22 01:19] Drawaes commented on #23533
Agreed 100% this is "fixed", just that it shouldn''t be "lost" it's why I made this

https://github.com/dotnet/corefx/issues/25346

[2017-12-22 02:46] IEvangelist opened #26023 "Simplify Nullable<T> usage with deconstruction semantics"
Recently I upgraded to using C# 7.* and I finally got to do more with tuples. I love the `.Deconstruct` capabilities and how they extend into anything. I have found this to be particularly useful for `Nullable<T>`. I tweeted about it <a href="https://twitter.com/davidpine7/status/941759704363085825" target="_blank">here</a> and it caught a lot of positive attention from the developer community. In

[2017-12-22 05:40] pranavkm opened #26024 "File.GetLastWriteTimeUtc on Ubuntu is precise only up to seconds"
### Steps to reproduce:
1. Create a new console app
2. Edit Program.cs to print it's last write time out:

[code]

On my Windows machine, here's the output:

On my Ubuntu VM, here's the output:

Notice the missing precision after the seconds digits. The filesystem does seem to have a higher precision timestamp associated with the file:
[code]

[code]

### Further background:
I noticed this when I

[2017-12-22 05:41] pranavkm commented on #26024
cc @rynowak

[2017-12-22 06:02] MansoorJafari opened #26025 "Mac: 'Cannot access Kerberos ticket' after `dotnet ef database update`"
Hello
After create model in project and set to dbcontext, for creation database give me this error
please help me.

[code]

[EDIT] Fix exception formatting by @karelz

[2017-12-22 07:02] Crimscent opened #26026 "Application crash because of unhandled exception in DbConnectionPool"
This line of code is causing application to crash, because of unhandled exception. This exception is thrown in other thread, started by ThreadPool.QueueUserWorkItem and there is no way for user code to handle it.
https://github.com/dotnet/corefx/blob/ec22edc155aa13289770c9f49630cc7ab588fca4/src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.cs#L755

[2017-12-22 07:51] TechnikEmpire commented on #9503
@kasper3 lol feel free to submit a PR.

[2017-12-22 09:21] TechnikEmpire commented on #9503
@qmfrederik The preview1 packages you mention are even older, october 2016, unless I'm missing something. Can you direct link to what you're seeing?

[2017-12-22 10:23] evil-shrike commented on #26015
I wonder whether it's a correct place to report issues in System.Xml.XmlSchemaSet.

[2017-12-22 10:37] qmfrederik commented on #17135
@jkotas Something like this?

[code]

[2017-12-22 12:25] danielcrabtree commented on #24832
@steveharter

Just tested publish and it does copy all the required framework/runtime files.

Unfortunately, it copies in the older / wrong libraries, presumably from `.nuget\package` as the files match those exactly. So running the published version produces the infinite recursion error.

The behavior is the same whether you publish in Visual Studio or via `dotnet publish` at the command line.

I

[2017-12-22 12:37] qmfrederik commented on #9503
See this comment on how to get the latest build: https://github.com/dotnet/corefx/issues/5120#issuecomment-348617702

[2017-12-22 13:13] ma-bjo commented on #25773
I have finally managed to get our solution to build without getting any System.Net.Http.dll assemblies copied to the output folder, with no redirects and no removal of dlls from the build environment. I thought I should share some information about my findings if it helps investigating similar issues.

As I mentioned earlier, we target .NET Framework 4.7.1 and use PackageReference to bring in the

[2017-12-22 14:21] stephentoub commented on #26024
@pranavkm, how do you suggest getting a more precise result? e.g. stat gives back time_t values with second-level precision.

[2017-12-22 14:43] pranavkm commented on #26024
@stephentoub running `getmtime` in python gives me a higher precision result:

[code]

Their implementation also seems to use os.stat: https://github.com/python/cpython/blob/6f0eb93183519024cb360162bdd81b9faec97ba6/Lib/genericpath.py#L53-L55.

[2017-12-22 14:50] couven92 commented on #10054
@navarrorc Okay, first you need to add the `System.Text.Encoding.CodePages` NuGet package to your netstandard or netcoreapp project.
Then add the following line to the first line of your Main method:
[code]

Normally, you should not set the `OutputEncoding` of your `Console` (unless you redirect the output of your app to a file that requires a specific encoding, which in most cases will be very un

[2017-12-22 14:58] stephentoub commented on #5120
Not currently. Feel free to open an API proposal issue.

[2017-12-22 15:52] jkotas commented on #17135
I meant something like this:

[code]

`DllImportSearchPath` is existing enum, used together with regular `DllImport` today.

[2017-12-22 15:53] jkotas commented on #17135
Also, to allow implementation custom probing logic like the one in https://github.com/dotnet/corefx/blob/35d0838c20965c526e05e119028dd7226084987c/src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs#L39 we may want to have non-throwing factory like:

[code]

[2017-12-22 15:58] dajeffri opened #26028 "Wrong exception thrown with invalid external table mask"
In system.reflection.metadata\src\system\reflection\metadata\metadatareader.cs, an invalid External Table Mask should throw a BadImageFormatException but always throws a System.FormatException.

[2017-12-22 16:25] steveharter commented on #24832
So in summary this is an issue with CLI build\publish standalone apps where the newer runtime files are not loaded (when running a non-published build) or copied (when running a published build).

This returns the version of the SDK\CLI which in turn depends on 2.0.3 of the runtime.

@joperezr so dotnet build\publish is tied to the TFM (netcoreapp2.0 I presume), and not the version of the runtime

[2017-12-22 16:36] qmfrederik commented on #17135
@jkotas Ah, that makes sense. I updated the API spec.

So the libgdiplus probing logic could be rewritten to something like this:

[code]

Assuming `SafeDirectories` and `ApplicationDirectory` are the `DllImportSearchPath` values to to express "search in system paths only" vs "search in NuGet packages"

[2017-12-22 16:37] karelz commented on #26010
I don't think it is worth to add .NET Framework-specific tests into CoreFX. We can stick with just what we have IMO and skip the test on .NET Framework.

[2017-12-22 16:41] karelz commented on #26014
@weshaggard @leecow are there any plans here?

[2017-12-22 16:47] softlion commented on #24559
+1

I would like to use RegionInfo and add some missing regions like Guadeloupe, Saint-Martin, Nouvelle-Caledonie ....

[2017-12-22 16:51] karelz commented on #26025
Did you make sure Kerberos is initialized as the exception suggests? (`kinit`)
cc @Priya91 @wfurt

[2017-12-22 17:14] karelz commented on #17135
@qmfrederik did you leave out @jkotas's constructor overload on purpose?

Also, should `NativeLibrarySearchDirectories` be `IEnumerable<string>` instead of `string[]` to prevent mutation of the array?

[2017-12-22 17:18] joelday commented on #17135
@karelz the interface alone doesn't really enforce immutability. There a standard pattern for this in corefx? I should read up on that. :)

[2017-12-22 17:51] hemabhushanr commented on #8723
Very Big yes please !
We are trying to expose our WCF services as REST (.NET Core 2.0) but we are unable to call WCF as our WCF services use message security
We really need this support.

[2017-12-22 17:57] karelz commented on #17135
I don't think there is a standard pattern documented. But in general I think we try to expose interfaces instead of underlying collections (at least I vaguely remember that being discussed in API reviews).
Evil users can cast to the underlying collection - that is not something we typically guard against. Breaking such users might not be considered a breaking change though.
Technically speaking we

[2017-12-22 18:01] qmfrederik commented on #17135
@karelz That was an oversight on my side, although having both a constructor and a static `Open` method may be a bit of overkill.

Good point on IEnumerable vs string[]. I changed that; it does help communicate the values are read-only.

[2017-12-22 18:12] karelz commented on #17135
Top post updated with latest proposal.
Naming-wise we should probably rename `NativeLibrarySearchDirectories` to `DefaultSearchDirectories`.

@jkotas can you mark it api-ready-for-review when you are ok with the API shape?

[2017-12-22 18:17] jkotas commented on #25972
This is CoreCLR bug.

[2017-12-22 18:17] #25972 closed

[2017-12-22 18:31] karelz commented on #24277
No hit in official Helix runs since 2017/5
Closing. Please reopen if it happens again.

[2017-12-22 18:31] #24277 closed

[2017-12-22 18:36] karelz commented on #21643
This particular error is gone. Closing.
Remaining test failures of this test are tracked by #24276.

[2017-12-22 18:36] #21643 closed

[2017-12-22 18:43] jkotas commented on #17135
My comments about API shape:

- How are `LoadFunction` and `SymbolAddress` different, except for their name? Is their implementation going to differ in any way?

- LoadFunction is not loading anything. It is just doing lookup in what was loaded already. Should it be rather called GetFunction?

- Add non-throwing variant of LoadFunction to allow probing for entrypoints that may not exist?

Is it ro

[2017-12-22 19:14] karelz commented on #25676
This is failing CI pretty badly: 58 failures 12/2-12/18 (avg 3+/day)

First failures on 12/2:
* b6394f5b4c31cb07e14e6c3b5575eacfb265c5e4
* ec0c6df968ba315114a317d25bfbd9ba5a322bc1
* 5e70fee9f1339db71f723caac7a85d55346c9a09

We need to identify the breaking change and roll it back ASAP (or disable test if the change was really good and the test is bad) - @Priya91 can you please help?

[2017-12-22 19:21] karelz commented on #24276
@rmkerr FYI: Another set of similar failures

[2017-12-22 19:27] karelz commented on #23327
The test failed consistently several times per day (usually 6+) between 8/12-9/1.
No test failure after 9/1, not test disabled against this issue.
Closing.

[2017-12-22 19:27] #23327 closed

[2017-12-22 19:43] karelz commented on #24509
Duplicate of #25640.

[2017-12-22 19:43] #24509 closed

[2017-12-22 19:46] karelz commented on #23102
Most of the failures were in ManagedHandler. Closing for now as the tests are disabled and tracked by general ManagedHandler work.

Day | Build | OS | Error message
-- | -- | -- | --
8/1 | 20170801.01 | Ubuntu17.04 | Assert.Equal() Failure\nExpected: 42\nActual:   -117 | ManagedHandler - SendAsync_ExpectedDiagnosticSourceUrlFilteredActivityLogging
8/22 | 20170822.01 | Centos73 | Exit code was 139

[2017-12-22 19:46] #23102 closed

[2017-12-22 19:50] karelz commented on #23037
Official Helix runs history:
* The test was failing 8/8-9/3 several times a day (115 total failures).

No failures after 9/3, closing.
@Priya91 please check what you meant by https://github.com/dotnet/corefx/issues/23037#issuecomment-330386277 and if there is something else here I am missing.

[2017-12-22 19:56] karelz commented on #22996
Let's track test failures separately from this issue - deleting the comments.

[2017-12-22 19:59] Priya91 commented on #23037
@karelz I believe I had a stable repo, and shared with @bartonjs I don't remember the context now.

[2017-12-22 20:00] karelz commented on #22084
GetAsync_AllowedSSLVersion_Succeeds test failures are tracked by #25980

[2017-12-22 20:00] #22084 closed

[2017-12-22 20:00] karelz commented on #24886
Duplicate of #25980

[2017-12-22 20:00] #24886 closed

[2017-12-22 20:02] karelz commented on #19345
Duplicate of #25980

[2017-12-22 20:02] #19345 closed

[2017-12-22 20:05] karelz commented on #21430
SetDelegate_ConnectionSucceeds test failures are tracked by #24276

[2017-12-22 20:05] #21430 closed

[2017-12-22 20:05] qaqz111 opened #26031 "There should be an `ObservableDictionary<TKey, TVal>` in contrast to `ObservableCollection<T>`!"
Yes we can find many implements on web for example [this](http://blogs.microsoft.co.il/shimmy/2010/12/26/observabledictionarylttkey-tvaluegt-c/) one, but I still think that there should be one reside in .NetFx!

[2017-12-22 20:13] karelz commented on #21429
Official Helix test failures analysis:
* Test `SetDelegate_ConnectionSucceeds` failed only during 6/27-7/4 -- 4x in each run on Mac only. No repro since.
* Test `InvalidCertificateServers_CertificateValidationDisabled_Succeeds` failed only during 6/22-7/4 -- 1x per each run on Mac only. No repro since.

The Mac failures were likely unrelated to the original problem reported here, deleting the comm

[2017-12-22 20:17] karelz commented on #22316
Duplicate of #19701

[2017-12-22 20:17] #22316 closed

[2017-12-22 20:18] karelz commented on #19964
Duplicate of #19701

[2017-12-22 20:18] #19964 closed

[2017-12-22 20:21] karelz commented on #19637
Seems to be gone. Official Helix runs have only 3 failures in 2017/8, then nothing:

Day | Build | OS
-- | -- | --
8/8 | 20170808.02 | Win8.1
8/23 | 20170823.04 | Win10
8/23 | 20170823.04 | Win10

Closing. Please reopen if it happens again.

[2017-12-22 20:21] #19637 closed

[2017-12-22 20:23] karelz commented on #19634
Duplicate of #25878

[2017-12-22 20:23] #19634 closed

[2017-12-22 20:25] karelz commented on #19345
`GetAsync_AllowedSSLVersion_Succeeds` test failures are tracked by #25980

[2017-12-22 20:26] karelz commented on #17537
No repro since 2017/6 in official Helix runs.
Closing.

[2017-12-22 20:26] #17537 closed

[2017-12-22 20:30] karelz commented on #23209
Deleting comments with ManagedHandler test failures to remove clutter.

[2017-12-22 20:31] karelz commented on #24275
@rmkerr FYI: Another set of similar failures

[2017-12-22 20:38] qmfrederik commented on #17135
* `LoadFunction` vs `SymbolAddress`: I think we can drop `LoadFunction` now that we have `SymbolAddress`.
* Yes, probably better names would be `GetSymbolAddress` and `Get(Function)Delegate`
* I always assumed (although it was never made explicit) that the functions would return `IntPtr.Zero`/`null` if they fail. I added a `throwOnError`, this way the caller can decide which behavior they want.

D

[2017-12-22 20:40] karelz commented on #22090
Does not fail in master anymore (no failure since 2017/5/9). Let's ignore the 2.0.0 branch failures.

[2017-12-22 20:40] #22090 closed

[2017-12-22 20:45] karelz commented on #21605
Test `GetAsync_IPBasedUri_Success` didn't fail in official Helix runs since 2017/5 except 2 builds broken badly on 7/6 (56 failures) and 8/29 (bad build - many other tests were also broken)

Closing

[2017-12-22 20:45] #21605 closed

[2017-12-22 20:49] karelz commented on #20493
There is only 1 failure in official Helix runs history:

Day | Build | Error message
-- | -- | --
12/8 | 20171208.01 | Assert.Throws() Failure<br/>Expected: typeof(System.OperationCanceledException)<br/>Actual:   typeof(System.Net.Http.HttpRequestException): An error occurred while sending the request.

Closing as rare hiccup.
Please reopen if it happens again

[2017-12-22 20:49] #20493 closed

[2017-12-22 20:54] jkotas commented on #17135
I do not think we need the public constructors. (If you remove them, you can also make the type sealed.)

[2017-12-22 20:55] karelz commented on #21854
Only one occurrence in Helix official runs history since 2017/5 -- on 8/21 - build 20170821.03

Closing.
Please reopen if it happens again.

[2017-12-22 20:55] #21854 closed

[2017-12-22 21:22] maryamariyan commented on #26010
So far, I have noticed the following problems while adding random hashing tests:

1. Dictionary exposes internal type comparer

2. Behavior inconsistencies between netfx and netcoreapp:
a. For Dictionary, netfx uses a randomized comparer by default but netcoreapp uses non-randomized and switches to randomized after reaching collision threshold
b. StringComparer.OrdinalIgnoreCase does not produce r

[2017-12-22 21:24] karelz opened #26032 "Test failures: Remote servers unreachable"
## Types of failures

Affected tests:
* System.Net.Tests.TaskWebClientTest / [UploadFile_Success](https://github.com/dotnet/corefx/blob/b227000d7d2b3d79224a95278d3e76dc74ff6b0c/src/System.Net.WebClient/tests/WebClientTest.cs#L669)
* System.Net.Tests.TaskWebClientTest / [UploadString_Success](https://github.com/dotnet/corefx/blob/b227000d7d2b3d79224a95278d3e76dc74ff6b0c/src/System.Net.WebClient/tes

[2017-12-22 21:25] karelz commented on #20307
Duplicate of #26032

[2017-12-22 21:25] #20307 closed

[2017-12-22 21:25] karelz commented on #23777
Older error message for failure to connect to EchoServers
Duplicate of #26032

[2017-12-22 21:25] #23777 closed

[2017-12-22 21:29] maryamariyan opened #26033 "Dictionary exposes internal type comparer"
According to @jkotas, Dictionary is not supposed to leak the fact that it is internally using the NonRandomizedComparer as it does below:

[code]

For more information please take a look at the following PR #24779

[2017-12-22 21:32] jkotas commented on #26033
This is regression from .NET Core 2.0.

[2017-12-22 21:38] psantosl opened #26034 "TcpListener.Stop hangs if Accept is in progress"
Hi,

We are experiencing an issue on Linux, building with publish -r linux-x64.

It looks like TcpListener.Stop() hangs when we try to orderly shutdown the server.

The socket is waiting for an Accept, then other thread does TcpListener.Stop().

The same code works fine on Windows (.NET Core) and also on Linux/Mono.

Here the sequence is:
* We start the server.
* We try to stop it.
* It takes fore

[2017-12-22 21:39] maryamariyan commented on #26010
@jkotas, in netcoreapp, StringComparer.OrdinalIgnoreCase is not producing randomized hash codes.

The other StringComparers (Ordinal, CurrentCulture, CurrentCultureIgnoreCase, InvariantCulture, InvariantCultureIgnoreCase) are producing randomized hash codes.

in netfx, all 6 above string comparers are producing non random hash codes.

I added a test reflecting this in #24779

[2017-12-22 21:42] jkotas commented on #26010
This is .NET Core 1.0 -> .NET Core 2.0 regression. It was producing randomized hash codes in .NET Core 1.0.

[2017-12-22 21:43] maryamariyan commented on #26033
@jkotas what is the expected fix for this?

[2017-12-22 21:46] johnnyRose commented on #23588
@stephentoub any update on this? I haven't had luck with any of the workarounds. Or do you know of somewhere I can pull a recent coverage report for System.Private.CoreLib?

[2017-12-22 21:47] davidsh commented on #26032
These errors might be due to DNS resolution issues on the test machines or infrastructure.  They are not necessarily that the actual test servers are unavailable.

[2017-12-22 21:47] jkotas commented on #26033
I think the implementation of the Dictionary Comparer property should be changed to:

[code]

[2017-12-22 22:08] karelz commented on #26032
Fair, title changed.

It would be still good to mark all errors against remote servers in a unified way for easier categorization and filtering out noise from real test failures - no matter if the remote server errors are caused by infra misconfiguration, or real remote server hiccup.

[2017-12-22 22:17] Priya91 commented on #25676
Looks like it is this commit that can cause this failure of the 3, https://github.com/dotnet/corefx/commit/ec0c6df968ba315114a317d25bfbd9ba5a322bc1

The other two are not product changes or test changes that can affect this test. Will submit a PR to rollback the 2nd commit.

[2017-12-22 22:22] johnnyRose commented on #13970
Update on this: I spent about a day trying to generate a code coverage report for mscorlib before I found #23588. I'll do my best to determine untested paths manually for now.

[2017-12-22 22:23] qmfrederik commented on #17135
Great! I also renamed `NativeLibrarySearchDirectories` to `SearchDirectories` as it would just duplicated `NativeLibrary`. I think it looks much better now.

[code]

[2017-12-22 22:26] karelz commented on #20245
Removed test `WebProxy_BypassOnLocal_MatchesExpected` from the issue as it last failed on 9/2 and between 2017/5-9 it failed at least every 2 weeks.

[2017-12-22 22:31] karelz commented on #13970
Ooops, sorry to hear that, I didn't realize that's the case. Manual analysis based on the original report is probably best at this moment.

[2017-12-22 22:33] karelz commented on #20227
Only one more failure  of the test from official Helix runs:
* Day: 8/26
* Build: 20170831.01
* Error message: System.Net.Internals.SocketExceptionFactory+ExtendedSocketException : Connection refused 127.0.0.1:1444

Closing.
Please reopen if it happens again.

[2017-12-22 22:33] #20227 closed

[2017-12-22 22:39] karelz commented on #19939
No failure of the test `AcceptWebSocketAsync_InvalidSubProtocol_ThrowsArgumentException` in official Helix runs.

Closing.

[2017-12-22 22:39] #19939 closed

[2017-12-22 22:40] karelz commented on #19388
This particular error is now gone. The test is failing with other errors - tracked in #26032

[2017-12-22 22:40] #19388 closed

[2017-12-22 22:41] karelz commented on #17878
Duplicate of #20245

[2017-12-22 22:41] #17878 closed

[2017-12-22 22:44] stephentoub commented on #25676
@Drawaes, did you make progress on identifying the issue here? That was a very important fix; I'm loathe to roll it back if we can fix the problem instead.

[2017-12-22 22:52] Drawaes commented on #25676
Well I did some tidy up in this PR
https://github.com/dotnet/corefx/pull/25680

about 2 weeks ago I marked it as no longer WIP. With those changes I couldn't get it to fail after running the outerloop over and over (I got bored at about 20 in a row on Ubuntu).

But as it's intermittent I would say the fix needs to go in and see if the CI settles down after it. In theory that PR should see the same

[2017-12-22 23:15] karelz commented on #25984
Merged into issue #26032 -- several other tests failed in similar way, also mostly on Fedora25 and Fedora26.
All these tests use EchoServers.

[2017-12-22 23:15] #25984 closed

[2017-12-22 23:18] karelz commented on #26032
@wfurt it seems it is often broken on Fedora25 and Fedora26. Maybe some occasional misconfiguration?
All these tests hit remote servers and are unable to do so.

[2017-12-22 23:49] karelz commented on #25878
BTW: Similar incident happened in builds 20171214.03, 20171214.07 and 20171215.02

[2017-12-23 00:30] rmkerr commented on #25983
I took a look at a wireshark capture of this failure, and it looks to me like the correct request is being sent to the LoopbackGetRequestHttpProxy. The request includes the correct credentials (rightusername:rightpassword), but no response is ever received. That leads me to think that the issue might be another server problem, since the LoopbackGetRequestHttpProxy ultimately makes a request to the

[2017-12-23 00:43] karelz commented on #25983
Why do you think `LoopbackGetRequestHttpProxy` forwards to echo server?
Based on the name and brief code inspection, it should be just local on loopback. Is it not the case?

[2017-12-23 00:45] karelz commented on #25983
Or did you mean the test itself uses echo servers?

https://github.com/dotnet/corefx/blob/7bdd866d7711c2d766772ab50b5c8367f227a2eb/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredentials.cs#L64

[2017-12-23 00:55] rmkerr commented on #25983
That's what I assumed was happening after looking at the code, particularly lines 96-100 of the LoopbackGetRequestHttpProxy:
[code]
But yes, that would be specific to this particular test since it takes the remote url from the request.

[2017-12-23 01:06] karelz commented on #26031
If it is not something we think CoreFX will use itself, it may be better fit for CoreFxExtensions repo (driven by community) - see #20902

[2017-12-23 01:29] tannergooding commented on #16428
Contract and tests are up in #26035

[2017-12-23 04:14] kassemsandarusi commented on #1593
I have a few questions about this. When playing around with implementing this, I noticed that the ApiCompat tool started to fail.

My understanding is that even though the GetEnumerator method (```public virtual IEnumerable<XPathNodeIterator> GetEnumerator()```) has technically changed, it should not break any existing code that is expecting a non-generic IEnumerable to be returned.

1. Is this ac

[2017-12-23 06:52] qaqz111 opened #26036 "`ListEqualityComparer<TList>.Default` in contrast to `EqualityComparer<T>.Default`"
The `EqualityComparer<T>.Default` returns a default implement of `EqualityComparer<T>` which was returned by `EqualityComparer<T>.CreateComparer()`, but this one do not consider for the situation of `T`=`IEnumerable<TSource>`.

The basic thought is, add this logic to `EqualityComparer<T>.CreateComparer()`:
[code]
The `SequentialEqualityComparer<T>` is a derived class of `EqualityComparer<T>`:
[cod

[2017-12-23 07:33] qaqz111 commented on #26031
The CoreFxExtensions is a good idear.
But where can I submit my implementations?

[2017-12-23 08:05] tmds commented on #17135
The current proposal doesn't support turning a pointer returned by `dlvsym` into a delegate. (https://github.com/dotnet/corefx/issues/17135#issuecomment-343844607)

It's also not clear whether/how the behavior changes of the delegates returned by `GetDelegate` once the `NativeLibrary.Dispose` method is called. (https://github.com/dotnet/corefx/issues/17135#issuecomment-344507664)

[2017-12-23 08:14] psantosl commented on #26034
In the meantime, is there any workaround we can use? I guess we can use the async code instead? Or do we need to go for bare sockets? Any of the two would be fine, we want to get ready to release Plastic SCM in .NET Core :)

[2017-12-23 10:29] JonHanna commented on #26036
This could be useful in many cases (if you fix that the `GetHashCode()` is wrong as it doesn't match the equality criteria) but wouldn't be safe for all enumerations (there's no guarantee that an `IEnumerable<T>` can be successfully cycled through twice) and more importantly would be a very strongly breaking change.

[2017-12-23 10:53] qmfrederik commented on #17135
That's correct, and because `dlvsym` is glibc-specific I don't know how to create a general API that supports that. You can use this API to P/invoke into dlvsym, though (https://github.com/dotnet/corefx/issues/17135#issuecomment-343850978).

When you call `NativeLibrary.Dispose()`, the underlying native library is freed. All pointers to symbols are void, using delegates returned by `GetDelegate` w

[2017-12-23 12:31] tmds commented on #17135
I'm looking for a way to turn the pointer returned by `dlvsym` into to a delegate, e.g.
[code]

:+1:

[2017-12-23 13:01] qaqz111 commented on #26036
I know that the `GetHashCode` should not be implemented like that, the main purpose is to give a thought and a basic implementation snippet as a reference.

And, yes you are right, looks like there is not a stable way to solve the problem of enumerating twice on an `IEnumerable<T>`, maybe this is why `EqualityComparer<T>.Default` does not walk into `IEnumerable<TSource>`.

[2017-12-23 13:09] tmds commented on #17135
After some googling, I learned this is already available: `Marshal.GetDelegateForFunctionPointer` :smile:

[2017-12-23 14:02] JonHanna commented on #26036
The biggest issue remains the incompatibility. Until now anyone who wanted reference equality on such types got it as the default. This would break all such code.

[2017-12-23 14:10] danielcrabtree commented on #24832
@steveharter Is there a way to control that, other than perhaps manually removing older copies of the nuget cache?

Deleting the version in the nuget cache does not work. When you build, the nuget cache is repopulated with the wrong version and that is what gets used.

Here's what I think needs resolving:

1) I think that in all circumstances, the behavior should be consistent: whether you build o

[2017-12-23 17:27] qaqz111 commented on #26036
Yes, any logic change of `EqualityComparer<T>.Default` will break existing code that using it. So, there can be a new class called `ListEqualityComparer<TList>` but not making change to `EqualityComparer<T>.Default`.

[2017-12-23 17:27] #26036 closed

[2017-12-23 18:22] JonHanna commented on #26023
I don't see much of an advantage here. Generally one takes one path when `HasValue` and another otherwise, and only cares about the value in the former case.

There are plenty of places where either a `TryXXX` or `Deconstruct` offers a performance benefit, but with nullables, in the path for `HasValue` is true we can use `GetValueOrDefault()` which is generally inlined and pretty cheap (simple fie

[2017-12-23 18:40] JonHanna commented on #26023
If we were to have it, I would say it should definitely be an instance method on `Nullable<T>` rather than an extension method. (And if we really did have to have it as an extension method for some reason I'm not grasping, then on `Nullable` rather than a new class).

[2017-12-23 18:45] JonHanna commented on #26023
Hmm. I've thought of a counter to my first comment above. I can find a few places where there are several branches on `HasValue` in the same method, which means there is indeed an advantage in pulling both `HasValue` and `Value` local before the first such branch.

[2017-12-23 20:19] karelz commented on #26023
Can you share few examples where it would show the benefit?

[2017-12-23 20:35] jkotas commented on #26023
Both Nullable and ValueTuple are structs with two fields. Nullable will work just fine for caching Nullable in a local. You won't get much benefit by caching it in ValueTuple instead.

This proposal is a pure syntax sugar that some people find attractive. It makes things bigger and slower because of extra generic type and method instantiations needed to be loaded. It does not help to make things f

[2017-12-23 23:02] JonHanna commented on #26023
I was thinking that it would be a readability win, but after playing with it I'm not seeing it helping.

[2017-12-24 00:35] karelz commented on #23038
No repro since 8/9.

Overall failures (198) were just on 2 days: 8/8-8/9.
Closing

[2017-12-24 00:35] #23038 closed

[2017-12-24 00:38] karelz commented on #23037
Can you check your email or something? We need to track this info in GH issues in future.
If we can't find anything, let's let it be.

[2017-12-24 00:41] karelz commented on #18907
@wfurt ping?

[2017-12-24 01:43] #23881 closed

[2017-12-24 01:55] #22292 closed

[2017-12-24 05:51] karelz commented on #22812
Duplicate of #23765

[2017-12-24 05:51] #22812 closed

[2017-12-24 05:52] karelz commented on #22845
Duplicate of #23765

[2017-12-24 05:52] #22845 closed

[2017-12-24 06:08] karelz commented on #22956
Duplicate of #23768 (although this one has ManagedHandler failures)

[2017-12-24 06:08] #22956 closed

[2017-12-24 08:20] karelz commented on #23960
Original test `Cookies_GetSet_ReturnsExpected` didn't fail in official Helix runs history since 2017/5.
General Mac problems with "Connection refused" are tracked by #21037.

Duplicate of #21037

[2017-12-24 08:20] #23960 closed

[2017-12-24 08:20] karelz commented on #22850
Duplicate of #21037

[2017-12-24 08:20] #22850 closed

[2017-12-24 09:30] karelz opened #26042 "Test failures: System.Net.Http.Functional.Tests.DiagnosticsTest / *"
## Types of failures

Affected tests:

* System.Net.Http.Functional.Tests.DiagnosticsTest:
  * SendAsync_ExpectedDiagnosticSourceLogging
  * SendAsync_ExpectedDiagnosticSourceNewAndDeprecatedEventsLogging
  * SendAsync_ExpectedDiagnosticSourceUrlFilteredActivityLogging
  * SendAsync_ExpectedDiagnosticStopOnlyActivityLogging
* System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentia

[2017-12-24 09:31] karelz commented on #23102
Test failures tracked by #26042

[2017-12-24 09:35] karelz commented on #23231
Duplicate of #23766

[2017-12-24 09:35] #23231 closed

[2017-12-24 09:58] karelz commented on #19940
Closing as there is not repro + we have a few similar tracking bugs.

[2017-12-24 09:58] #19940 closed

[2017-12-24 10:26] qmfrederik commented on #17135
@tmds Cool, looks like we're all set then ;-)

[2017-12-24 14:33] marcwittke commented on #24786
I am facing the same issue, see [ConsoleApp3](https://github.com/marcwittke/ConsoleApp3) for a reproduction

[2017-12-24 14:38] marcwittke commented on #24786
Okay, it's definitely a problem with Visual Studio:

[code]

[2017-12-24 16:08] #25412 closed

[2017-12-24 16:08] #25615 closed

[2017-12-24 16:41] Maxim-Kornilov opened #26043 "Unsubscribe from Console.CancelKeyPress hangs after Task.Delay was cancelled"
This will happen only if all of these conditions are met:
1) use Task.Delay
2) token source was cancelled inside ConsoleCancelEventHandler;
3) token source was cancelled with CancellationTokenSource.Cancel method;
4) method marked as async and Task.Delay is awaited.

Bug is not reproduced if any of these conditions is violated:
- **Condition №1 is violated:** Use any other task instead of `Task.De

[2017-12-24 17:37] dezsiszabi commented on #21825
I started working on this in my coreclr fork and while running the corefx tests with my local coreclr changes related to this issue, I got the below test failure:

NT-Debug-x64/testResults.xml for details! [h:\Practice\GitHub\corefx\src\System.Globalization\tests\System.Globalization.Tests.csproj]
h:\Practice\GitHub\corefx\Tools\tests.targets(492,5): error : One or more tests failed while running

[2017-12-24 18:53] the-dwyer commented on #17099
Hi,

I just submitted a pull request (#26044) for tests on a couple more classes.

If you have any questions or comments, please let me know.

Thanks,

Michael

[2017-12-24 19:02] tannergooding commented on #25926
The `Shuffle` APIs are also going to be less than easy to work with.

With MSVC, they provide a `_MM_SHUFFLE` macro:
[code]

However, C# doesn't provide any macros nor does it support `constexpr`.

As such, you will end up having to make your code extra verbose or have additional comments to ensure you understand how the values are being shuffled.

It might be helpful to have an intrinsic for gene

[2017-12-24 22:35] danmosemsft commented on #21825
The test should not be broken by your windows settings.

[2017-12-24 22:47] dezsiszabi commented on #21825
So just to confirm, that test is incorrect in its current form, right?

[2017-12-24 22:53] realvictorprm opened #26045 "Add another constructor to Span using IntPtr"
Hello,

in F# we cannot cast ptr's to void ptr's (the type `nativeptr<unit>` is disallowed due to `unit` isn't an unmanaged type). Therefor it's currently not possible for me to create a Span from stackallocated memory in F# 😢 (Signature of the constructor is funnily `ptr:nativeptr<unit>* length:int -> Span`).

Easiest solution short-term would be to add another constructor to the Span class which

[2017-12-24 23:29] danmosemsft commented on #21825
Right it some how needs to be made more robust, eg to get the day of week through another API and compare the value, or just check there is some non empty value, or set the first day of the week just in the test, get, then set back. The latter seems appealing if it can be done through a.NET API.

[2017-12-25 00:58] jkotas commented on #26045
Similar overload was proposed and rejected in https://github.com/dotnet/corefx/issues/18946.

[2017-12-25 01:57] fiigii commented on #25926
The dynamic semantic makes sense, but the static semantic seems not working with `const` parameters.

[2017-12-25 08:55] realvictorprm commented on #26045
Hm okay. Well I think my reason for adding such a constructor is quite different than the one in the issue so maybe it could be considered again?

[2017-12-25 11:04] Luoyingliang opened #26048 "IPEndPoint cannot return the correct value when compare the same value"
There are wrong value return when I do the execute this code:
ip1==ip2
both ip1 and ip2 are IPEndPoint type,and value both are "192.168.31.15:55360",but it doesn't return true.
now I used the ToString() method to instead of that

[2017-12-25 11:07] Dmitry-Me opened #26049 "Unnecessary "is"-"cast" sequence in IPEndPoint.Equals()"
Here's the current code:

    //class IPEndPoint
    public override bool Equals(object comparand)
        {
            if (!(comparand is IPEndPoint))
            {
                return false;
            }
            return ((IPEndPoint)comparand)._address.Equals(_address) && ((IPEndPoint)comparand)._port == _port;
      }

`is` is followed by two casts. This can be replaced with single `as`

[2017-12-25 11:11] Dmitry-Me commented on #26048
This is because the class doesn't have `operator ==` overloaded. You could try `Equals()` method instead.

[2017-12-25 11:16] Luoyingliang commented on #26048
could you consider to add the operator overloaded method to next version?

[2017-12-25 11:22] #26048 closed

[2017-12-25 15:53] svick commented on #1593
@kassemsandarusi

It is a breaking change according to [corefx breaking change rules](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#signatures).

Consider for example this code:

[code]

Before the change, it would print `System.Collections.IEnumerator`, after it, it would print ``System.Collections.Generic.IEnumerator`1[System.Xml.XPath.XPat

[2017-12-25 16:00] poizan42 commented on #26045
@realvictorprm I agree it's a bit silly that F# complains here, but you can just use IntPtr.ToPointer as a workaround, so no need for another .NET constructor:

[code]

And yes, the inferred type of voidPtr is nativeptr<unit> even though you are forbidden from declaring it as such.

[2017-12-25 16:04] realvictorprm commented on #26045
@poizan42 Thanks, I didn't know about that trick!

[2017-12-25 16:04] #26045 closed

[2017-12-26 00:56] JamesNK opened #26053 "Getting a ref return value using PropertyInfo"
[code]

The code above throws this exception from PropertyInfo.GetValue: `System.NotSupportedException: 'ByRef return value not supported in reflection invocation.'`

Can you use a PropertyInfo to get the value of a ref return property?

[EDIT] Add C# syntax highlight by @karelz

[2017-12-26 01:30] benaadams commented on #26053
Perhaps related?

Bring back `TypedReference` https://github.com/dotnet/corefx/issues/14088 (Resolved and part of .NET Standard 2.0)
"Proposal for high-performance codegen-less Reflection factory APIs" https://github.com/dotnet/corefx/issues/24390

Though I assume is a current issue for serializing to and from `ref` returns?

[2017-12-26 04:50] yishaigalatzer opened #26054 "Potential unexpected null in httpclient"
This [SO](https://stackoverflow.com/questions/47973590/httpclient-header-getting-nulled-when-using-in-async-methods) question alludes to a potential unexpected header being null.

This [line](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs#L600) does not check for header value being possibly null, leading to the argument null exception.

[2017-12-26 05:06] mqudsi commented on #20325
@mellinoe and others: it has taken me considerable time but I’ve read - carefully - through each article nd every comment here. Without weighing in on some of the implementation specific details, I have a question that was mentioned in passing but not addressed.

What is the benefit to providing this as a part of .NET Core? Please do not misunderstand me - I appreciate the importance of System.Dra

[2017-12-26 05:15] mqudsi commented on #26054
Shouldn’t you test it against .NET Core before opening this issue?

[2017-12-26 05:18] benaadams commented on #20325
@mqudsi I assume its being provided via the [Windows Compatibility Pack for .NET Core](https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/) rather than being part of .NET Standard

[2017-12-26 05:20] safern commented on #20325
If I understand clearly your concern is that by adding System.Drawing to .NET Core it would make really hard to extend/port this platform to another framework, platform using different libraries right?

If that is your concern and I understood correctly, System.Drawing is not inbox in .NET Core neither netstandard, which means that it is shipped as an independent package in NuGet and if people wan

[2017-12-26 05:21] safern commented on #20325
Correct, and also as an individual package in NuGet.

[2017-12-26 05:56] roji commented on #25891
One more thought: `DataTypeName` might be a more consistent naming, as "data type" is already used in ADO.NET to refer to the database type (as opposed to CLR types), e.g. `DbDataReader.GetDataTypeName()`.

[2017-12-26 06:22] mqudsi commented on #20325
Thank you! This is my second forray into the github page for CoreFX (first was my PR from earlier today) and presumed the issue being here meant it was part of “core” CoreFx.

Thanks for clarifying!

[2017-12-26 07:05] Sunny-pu opened #26055 "Tests under "System.Text.RegularExpressions.Tests" failed with "Exit code was 131 but it should have been 42""
failed test: RegexMatchTests.Match_SpecialUnicodeCharacters_Invariant
Configuration: oxs10.12_release
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/lastCompletedBuild/testReport/System.Text.RegularExpressions.Tests/RegexMatchTests/Match_SpecialUnicodeCharacters_Invariant/
MESSAGE:
Exit code was 131 but it should have been 42\nExpected: True\nActual: False
[code]

[2017-12-26 07:07] Sunny-pu commented on #26055
Failed tests:
Match_SpecialUnicodeCharacters_Invariant
Match_SpecialUnicodeCharacters_enUS
GroupsBasic
GroupsTurkish
GroupsAzeriLatin
GroupsDanish
GroupsEnUS
GroupsCzech

[2017-12-26 07:50] dotnet-mc-bot opened #26056 "Test failure: System.ComponentModel.Composition.CompositionExceptionTests/Message_ShouldFormatCountOfRootCausesUsingTheCurrentCulture"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.Composition.CompositionExceptionTests/Message_ShouldFormatCountOfRootCausesUsingTheCurrentCulture` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.ComponentModel.Composition.CompositionExceptionTests.AssertMessage(CompositionException exception, Int32 rootCauseCo

[2017-12-26 07:55] AlexG2017 commented on #26049
Hi guys,
Could you please assign the issue to me?

[2017-12-26 10:11] kevingosse commented on #26054
The `HeaderStoreItemInfo` wraps the value of the header. So even if the value of the header is null, the `HeaderStoreItemInfo` itself shouldn't ever be.

When adding a header, `PrepareHeaderInfoForAdd` is called: https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs#L74

Which itself retrieves the existing `HeaderStoreItemInfo` if any, otherwis

[2017-12-26 10:46] fabricefou opened #26058 "Provide ImmutableSortedSetArray<T> an ImmutableSortedSet based on array not on tree"
# Rational

ImmutableSortedSet<T> is based on an AVL Tree also:
* property Item[Int32] has compexity in O(Log(N))
* We can't have an "equivalent" ImmutableArray without make a copy

In the ImmutableCollections framework, we already have the same type of choice for our data structures.
I think to the distinction between ImmutableArray<T> vs ImmutableList<T> (based on tree data structure)

With this

[2017-12-26 11:10] dawud-tan opened #26059 "Make SignedCms interoperate with openssl cms -verify"
https://github.com/dotnet/corefx/commit/075cec7a82fe2cdec403315c3350b88973119abe I have difficulty in making Detached `System.Security.Cryptography.Pkcs.SignedCms.cs` interoperate with [openssl cms](https://www.openssl.org/docs/manmaster/man1/cms.html), the openssl command that I execute is `openssl cms -verify -in signedCusdec.p7s -certfile kepabeanan.crt -noverify -nointern -no_alt_chains -out v

[2017-12-26 11:23] JonHanna commented on #26049
This seems like a reasonable case for implementing `IEquatable<T>` too, though that would need an API change.

[2017-12-26 12:03] kevingosse commented on #26043
The continuation is inlined when calling `tokenSource.Cancel()`. Therefore, we end up calling `Console.CancelKeyPress -= cancelled;` inside of the callstack of the `Console.CancelKeyPress`, which causes the process to hang (some kind of deadlock in the native part I suppose).

A simpler repro, without tasks:

[code]

[2017-12-26 12:27] davidfowl commented on #15687
@KrzysztofCwalina I think that would be fine.

@stephentoub That name sounds good as well. I also added another API that I think would fit well for cancellation token callbacks.

[2017-12-26 12:53] sharwell commented on #26058
:memo: Several of the use cases for this would be mitigated by #1502.

[2017-12-26 13:11] kevingosse commented on #26043
Digging one step further, after capturing a dump with the above repro code (captured on a .NET Framework process, but I think the issue is the same as .NET Core).

The `CancelKeyPress` callback is stuck on the callstack:

[code]

If we investigate the critical section the thread is waiting on:

[code]

The owning thread turns out to be:

[code]

Putting it together:

- When Ctrl+C is pressed, the

[2017-12-26 13:12] diamondo25 opened #26060 "Setting HttpWebRequest.ContentLength throws exception with incorrect message"
https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L239-L259

As you can see, it uses the `net_io_timeout_use_ge_zero` (Timeout can be only be set to 'System.Threading.Timeout.Infinite' or a value >= 0.) message, while it should have its own message.

[2017-12-26 15:26] iftahbe opened #26061 "Hang in x509certificate build chain when using a ```Let's Encrypt``` cert."
In Ubuntu 16.04, dotnet core 2.0.3
Running a webhost console app with a server certificate issued by `Let's Encrypt`
Server is listening to https://172.31.46.243:443 (my private IP address)

Trying to run:
[code]
Output:
[code]

I ran strace on the server app - during the handshake it tries to connect to 192.35.177.64 on port 80!
This IP address belongs to a certificate authority (IdenTrust).
The

[2017-12-26 15:50] ayende commented on #26061
What is more, we obviously don't know want any incoming TCP connection to result in a remote call.
The same behavior is not present on Windows
This is Let's Encrypt cert on the server

[2017-12-26 17:01] Clockwork-Muse commented on #26061
You might try specifying the [`SSL_CERT_DIR`/`SSL_CERT_FILE`](https://github.com/dotnet/corefx/issues/24281) environment variables, although presumably that's going to behave the same.

Are you doing client certificate authentication?  Might it be trying to check certificate revocation?

[2017-12-26 17:56] mnordhoff commented on #26061
@Clockwork-Muse Maybe. The IP is used for both the CA Issuers and CRL URIs in the intermediate certificate. So it could be trying to download the root, or check if the intermediate is revoked. Or both. https://crt.sh/?id=15706126

[2017-12-26 18:53] Clockwork-Muse commented on #26061
@mnordhoff - ...is the server going to be checking the revocation status of its _own_ certificate?

Further question for OP - does this happen with each connection, or only on the initial one?

[2017-12-26 19:30] benaadams commented on #26053
Currently it looks like is definately going to [`ThrowNoInvokeException`](https://github.com/dotnet/coreclr/blob/aacefc0f47ba94f228281da9a4a8fe64a29e92da/src/mscorlib/src/System/Reflection/RuntimeMethodInfo.cs#L506-L510)

![image](https://user-images.githubusercontent.com/1142958/34362925-a0fdde26-ea6f-11e7-813b-069d451a6ad8.png)

Ref returns themselves are an issue with boxing; however...

I thin

[2017-12-26 19:36] jkotas commented on #26053
cc @AtsushiKan @KrzysztofCwalina @ahsonkhan `Span<T>` end-to-end gap.

[2017-12-26 21:32] ayende commented on #26061
@Clockwork-Muse We want to use client cert, yes. But as you can see from `openssl s_client -connect <my-public-dns-name>:443 -msg` even without the client cert, indeed, before the `ServerHello` is sent we are already hanging.

It happens on _any_ connection, only for that particular Let's Encrypt cert.
We tested this on a self signed cert, and it didn't occur.

[2017-12-26 22:18] JamesNK commented on #26053
There is a difference between getting a ref return by value and by ref, right?

e.g.
[code]

I would expect PropertyInfo.GetValue to do the first instead of throwing.

[2017-12-26 23:13] benaadams opened #26064 "DbConnectionPool shouldn't capture AsyncLocals into its Timer"
Causing those AsyncLocal values to live forever

As seen in https://github.com/dotnet/corefx/issues/25477#issuecomment-346866897

For ASP.NET Core can capture logging scope, HttpContext, ConcurrentBag items, Authentication (example https://github.com/dotnet/corefx/issues/25477#issuecomment-346866897); other state etc

[2017-12-27 00:00] benaadams commented on #25627
Added Issue for the DB pool capturing stuff it shouldn't https://github.com/dotnet/corefx/issues/26064 and fixes https://github.com/dotnet/corefx/pull/26066 and https://github.com/dotnet/corefx/pull/26065; will also be capturing stuff like a logging scope and a HttpContext (via IHttpContextAccessor) an rooting them forever.

Which are different from the WindowsIdentity issue.

[2017-12-27 00:49] benaadams opened #26067 "HttpConnectionPools shouldn't capture AsyncLocals into its Timer"
Causing those AsyncLocal values to live forever

For ASP.NET Core can capture logging scope, HttpContext, ConcurrentBag items, Authentication (example https://github.com/dotnet/corefx/issues/25477#issuecomment-346866897) etc

[2017-12-27 01:13] benaadams opened #26069 "Activity shouldn't capture AsyncLocals into its Timer"
Causing those AsyncLocal values to live forever

For ASP.NET Core can capture logging scope, HttpContext, ConcurrentBag items, Authentication (example https://github.com/dotnet/corefx/issues/25477#issuecomment-346866897); other state etc

[2017-12-27 01:22] benaadams opened #26072 "NetworkChange should capture AsyncLocals (but not to its static Timer)"
Causing those AsyncLocal values to live forever

For ASP.NET Core can capture logging scope, HttpContext, ConcurrentBag items, Authentication (example https://github.com/dotnet/corefx/issues/25477#issuecomment-346866897); other state etc

[2017-12-27 01:43] benaadams opened #26074 "EventCounter shouldn't capture AsyncLocals into its Timer"
Causing those AsyncLocal values to live as long as the EventCounter for no benefit

For ASP.NET Core can capture logging scope, HttpContext, ConcurrentBag items, Authentication (example https://github.com/dotnet/corefx/issues/25477#issuecomment-346866897); other state etc

[2017-12-27 02:58] benaadams opened #26076 "MemoryCache shouldn't capture AsyncLocals into its Timer"
Causing those AsyncLocal values to live forever for the default cache and as long as the cache for custom caches

For ASP.NET Core can capture logging scope, HttpContext, ConcurrentBag items, Authentication (example https://github.com/dotnet/corefx/issues/25477#issuecomment-346866897); other state etc

[2017-12-27 12:17] ayende commented on #26061
I've used `strace -k` to try to dig deeper, the call is actually invoked via:

[code]

[2017-12-27 12:47] JimBobSquarePants commented on #20325
I would argue that offering System.Drawing support on Unix would offer zero incentive to move to  .NET Core

[2017-12-27 13:05] qmfrederik commented on #20325
There seems to be demand for System.Drawing on .NET Core; CoreCompat.System.Drawing, CoreCompat.System.Drawing.v2 and System.Drawing.Common combined have over 300,000 downloads on NuGet.

To put the "giant effort to support it across all platforms" in some context: Mono has ported System.Drawing to Linux and macOS more than 10 years ago. They've also made libgdiplus compatible with ARM-based OSes

[2017-12-27 13:42] clrjunkie commented on #20325
Now that System.Drawing is out of the BCL (a good thing) I think it's important we have new basic (but quality) image manipulation support as part of the BCL, specifically for image resizing and rotation which does not mandate any external dependency.

[2017-12-27 14:17] SomeAnon42 commented on #21395
It would be great if we could also `switch` on Spans of `char` as if they were strings.

[2017-12-27 16:22] jnm2 commented on #21395
@SomeAnon42 Special-casing `ReadOnlySpan<char>` the way `string` is special-cased would be a language-level change. (https://github.com/dotnet/csharplang)

[2017-12-27 17:15] Clockwork-Muse commented on #26061
...okay, can we get a minimal repro?  In particular, how are you loading the server certificate; if it's via a .pfx, what happens if you add the entire chain to the file?  If it's via a store and `X509CertificateCollection.Find(...)`, what happens if you supply `validOnly: false`?

[2017-12-27 19:10] niemyjski opened #26078 "ManagedWebSocket.ReceiveAsyncPrivate: Object reference not set to an instance of an object."
Running on ASP.NET Core 2.0.3 under IIS.

I'm not sure of the exact repo that's causing this but I'm seeing a few hundred of these exceptions and figured I'd report it :).. I can link to the code that calls receive if required..

[code]

[code]

[2017-12-27 19:28] agatlin commented on #19773
It is very important to be able to dynamically load and unload assemblies. I have a situation where I dynamically load one or more of MANY (as in >10^2) assemblies for specialized processing of selected data. Once the data has been processed, those assemblies are no longer needed (until some relatively distant future time) and can and should be unloaded. Loading all of those assemblies in memory a

[2017-12-27 19:53] madelson commented on #26023
It seems like a TryGetValue method would be more useful in practice. Most of the time when I would use this I’m going to immediately branch off the HasValue result. With TryGetValue we can cleanly inline by doing something like:

expression.TryGetValue(out var value) ? DoStuff(value) : ...

[2017-12-27 19:55] madelson commented on #26014
Related too https://github.com/dotnet/corefx/issues/23570

[2017-12-27 20:46] karelz commented on #26049
Fixed in #26057

[2017-12-27 20:46] #26049 closed

[2017-12-27 20:52] karelz commented on #26060
Looks like copy-paste bug. Do you want to check if there is appropriate existing resource we could use?
Are you interested in submitting a PR for the change?

[2017-12-27 21:43] madelson commented on #25295
I have several projects where this would be useful (today I use the try-catch hack).

In my mind this would be very similar to the Uri.TryCreate method which already exists. The idea is to validate the structure, which is then exposed via MailAddress properties like Host.

Like with Uri, this of course cannot validate whether the address points to an actual email account.

[2017-12-27 21:49] bbowyersmyth commented on #21395
@Tragetaschen @benaadams CoreCLR already operates under the assumption that the case change produces the same length string. https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Globalization/TextInfo.Windows.cs#L26-L76
This may be a bug. If not, it would be consistent for span to do the same thing.

[2017-12-27 21:53] danmosemsft opened #26079 "Proposal: add GetEnvironmentVariableAsBool to netstandard"
@diddledan commented on [Tue Dec 19 2017](https://github.com/dotnet/standard/issues/608)

Currently the dotnet cli has a function which is located at: [src/Microsoft.DotNet.Cli.Utils/EnvironmentProvider.cs Line 106](https://github.com/dotnet/cli/blob/fffe3142ad8043743d83885df2166fd2f80dceca/src/Microsoft.DotNet.Cli.Utils/EnvironmentProvider.cs#L106)

I think it would be useful to consider this fun

[2017-12-27 22:01] ayende commented on #26061
@Clockwork-Muse Okay, I managed to get a proper reproduction of this, see the code below.

In order to reproduce, you'll need to have a Let's Encrypt certificate.

Run this command on a Ubuntu box as:

`dotnet run /path/to/cert`

Then use another shell window to run:

`openssl s_client -connect 127.0.0.1:5000`

[code]

The output of running this with strace:

[code]

Note that to reproduce the han

[2017-12-27 22:01] ayende commented on #26061
By the way, the output of the console app is connected (immediately) and then waiting for about two minutes for the handshake to complete.

[2017-12-27 23:44] danmosemsft opened #26081 "System.Management not initializing on some Server SKUs"
Copied from https://github.com/dotnet/corefx/pull/24719

@jianxuanbing commented on Nov 16
Hello,I have a questin.I use examples
[code]
 @pjanotti
     Member
pjanotti commented on Nov 16
Hi, thanks for reporting it. I can't repro the issue. Please, provide the details and a small repro - feel free to open a separate issue with those details.

Notice that System.Management namespace is intended fo

[2017-12-28 00:04] wfurt commented on #18907
fixed by #26063

[2017-12-28 00:04] #18907 closed

[2017-12-28 00:07] danmosemsft commented on #26055
This is not actionable without local repro at least until OSX dumps are fixed.

[2017-12-28 00:07] #26055 closed

[2017-12-28 00:12] tmitchel2 commented on #25669
dotnet build works correctly in my case, however, vscode shows the error as a tooltip and in the 'problems' pane.  I presume its not using the correct roslyn version but i can't figure out how to change that.

[2017-12-28 00:13] wfurt commented on #26034
I'll take a look @psantosl

[2017-12-28 00:33] wfurt commented on #26032
I don't know. We don't have enough evidence to triage.  I can run tests on Fedora to see if I can reproduce it. I can also try to get repro snapshot on next failure. With the WinHttpException there is probably more than just Fedora.

[2017-12-28 01:18] diddledan commented on #26079
thanks for moving this to the correct place, @danmosemsft :-)

Some thoughts for rationale:
I'm looking at powershell on Linux systems which could benefit from this or a similar function which is currently only available via copy+paste from dotnet cli or via reimplementation from scratch. As this seems to be a potentially beneficial API for the wider community I think it worthy of including as an

[2017-12-28 01:20] danmosemsft commented on #26079
@diddledan sounds good, can you please reformat with sections as suggested in https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

That would organize the proposed API in C# format, suggestion of the implementation, rationale/why it's important enough and folks can't roll their own.

[2017-12-28 01:22] danmosemsft commented on #26079
BTW you mentioned adding to netstandard. .NET Standard 2.0 is shipped and fixed. Because .NET Standard defines a common subset of API's across various .NET platforms, for an API to get into a future .NET Standard version it must exist in those various platforms first. The first one to start with is CoreFX.

[2017-12-28 01:42] bartonjs commented on #26059
@dawud-tan Does your snippet work from .NET Framework, but not .NET Core; or does it fail from both?

[2017-12-28 02:29] dawud-tan commented on #26059
@bartonjs It fail from both, what I do is just put the base64 encoded of `signedCms.Encode()` into the body of `application/pkcs7-signature`, then concatenate all of the required string to form standard S/MIME (RFC 3851), following is the snippet of my `.csproj` file. mm, could you point me to an example of `SignedCms` that could be verified with `openssl cms -verify` please?

[code]

[2017-12-28 05:36] v-cagome commented on #24488
# SOLVED: Both packages solved the issue.

Thank You.  The preview1 nuget package versions worked.

**Either**
_Install-Package Microsoft.Windows.Compatibility -Version 2.0.0-preview1-25914-04_
**or**
_Install-Package System.DirectoryServices.AccountManagement -Version 4.5.0-preview1-25914-04_
**Worked**.

Repo has been updated with fix. https://github.com/CarlosOnline/DotNetCore2DirectoryServices

[2017-12-28 05:39] safern commented on #24488
Thanks for reporting the issue, I’m glad it worked. Will close for know, if you have more questions please don’t hesitate to ask them :)

[2017-12-28 05:39] #24488 closed

[2017-12-28 06:14] CarlosOnline opened #26084 "System.Threading.AccessControl won't load from asp.net Core 2.0 (netcoreapp2.0) website"
# System.Threading.AccessControl won't load from asp.net Core 2.0 (netcoreapp2.0) website

Referencing .net 4.5.1 framework class library from asp.net Core 2.0 (netcoreapp2.0), where class library references System.Threading.AccessControl leads to receives FileNotFound exception.

**System.IO.FileNotFoundException** occurred
  HResult=0x80070002
  Message=Could not load file or assembly '**System.

[2017-12-28 06:20] CarlosOnline commented on #26084
# System.MissingMethodException when preview1 nuget package added.
Install-Package System.Threading.AccessControl **-Version 4.5.0-preview1-25914-04** into the .netcore20 app project

# Exception
  HResult=0x80131513
  Message=**Method not found: 'Void System.Threading.Mutex.SetAccessControl**
[code]

# Repro
_Install-Package System.Threading.AccessControl -Version 4.5.0-preview1-25914-04_ into th

[2017-12-28 06:22] CarlosOnline commented on #24488
FYI: Similar issue found for  [System.Threading.AccessControl](https://github.com/dotnet/corefx/issues/26084)

[2017-12-28 07:21] Guru-Soft opened #26085 "Windows 2012 System.Drawing is not supported on this platform"
On .Net core 2.0, windows 2012 server, when trying to get a thumbnail (Image.GetThumbnail()) I am getting an exception System.Drawing is not supported on this platform.
This happens for most of the image types, where this seems to be working on Window 10 Desktop

[2017-12-28 09:47] mrwcjoughin commented on #16994
as per help received on aws-lambda-dotnet issue 181, you have to reference more than just specific versions of those 2 dll's - there are quite a few.
after taking the advise of @ibuchan72390 on there i found the following packages had to be there, and at these specific versions, for sql to work in lambda:
`<PackageReference Include="Microsoft.AspNetCore.Http.Abstractions" Version="1.0.3" /> <Packa

[2017-12-28 10:36] chetski commented on #25997
@karelz is this a confirmed bug now and I presume will be resolved in v2.1.0?
Also, are there any workarounds in the meantime?

[2017-12-28 12:50] sebastianroesch commented on #25761
We are still experiencing that quite often. There are multiple errors that we see in our logs:

`"Win32Exception: Unknown error 258: "`

[code]

[code]

[code]

I found issues like this https://github.com/aspnet/EntityFrameworkCore/issues/5989
where people seem to have resolved it by using a newer SQL Server version. However, since we're using Azure SQL, I think we're using a much later version th

[2017-12-28 13:30] mmaguigan-dti commented on #2522
Hey folks, just curious if this one is pending community contribution or if it's in the MS teams backlog (if so, any idea if it will make it into 2.1?)?

[2017-12-28 14:34] jariq commented on #21833
I was hoping to use this ASN.1 reader/writer in .NET 4.x projects. @bartonjs do I understand it correctly that  it will available only for .NET Core?

[2017-12-28 16:38] gfoidl commented on #17318
I see the __up-for-grabs__ and submitted https://github.com/dotnet/corefx/pull/26086 and https://github.com/dotnet/corefx/pull/26087, and though I'm tempted to take it I won't because I don't know how much time I can spent, so the result might not be the one I excpect. Anyway I'll try to help where possible.

[2017-12-28 17:31] karelz commented on #26078
@niemyjski is it something unique to 2.0.3 vs. 2.0.0?

@Priya91 can you please take a look if the information above is sufficient?

[2017-12-28 17:33] karelz commented on #26085
@safern @qmfrederik is it possible that System.Drawing depends on some component that is not available on server OS?

[2017-12-28 17:38] niemyjski commented on #12064
I get that we probably shouldn't of been using 256 blocksize or this encryption in general. But this really sucks and now I have to have a migration for all existing encrypted values.

[2017-12-28 17:39] karelz commented on #26084
How does the ASP.NET Core app play a part here? Can you reproduce it with simple console app?

[2017-12-28 17:49] karelz commented on #26079
Note: We don't even have a method to parse environment value as an integer.

The proposal above adds parsing logic and several variants of possible true/false encodings into .NET Core. I don't think it is a good idea.
The values are not localized and it feels weird that we should decide in the platform how true/false can be encoded (it is not as straightforward as integer encoding and involves muc

[2017-12-28 17:52] CarlosOnline commented on #26084
It works on .netcore 1.1 and in .net451 wpf application.  It doesn't work
in .netcore2.0.

On Dec 28, 2017 9:39 AM, "Karel Zikmund" <notifications@github.com> wrote:

[2017-12-28 17:52] #26060 closed

[2017-12-28 17:57] kassemsandarusi commented on #1593
@svick That reference doc for breaking rule changes is incredibly useful. And in general, thanks for your advice on this issue.

[2017-12-28 18:00] danmosemsft commented on #26079
I agree with @karelz : what does this add over 2 lines: GetEnvironmentVariable and bool.TryParse.

[2017-12-28 18:02] danmosemsft commented on #26085
@Guru-Soft can you give the callstack of the exception?

[2017-12-28 18:12] karelz commented on #26061
@Priya91 can you please take a look? DO we have enough information to analyze / reproduce locally?

[2017-12-28 18:16] karelz commented on #25997
@chetski it is likely a bug (my best guess based on your report). Area experts need to validate.
Given that it is compatibility difference against .NET Framework, we should try to address it in 2.1 (unless there are special circumstances).

[2017-12-28 18:18] niemyjski commented on #26078
I’m not sure, I just ported the app from asp.net legacy and chose the latest meta package

[2017-12-28 18:23] karelz commented on #26084
OK, if it works on .NET Core 1.1, that is important information.
Back to my previous question - are you able to reproduce it with console app (no ASP.NET Core involved)?

[2017-12-28 18:41] diddledan commented on #26079
I've added some search results to the post indicating projects that I found from a quick browse of Github. The first 5 pages of the 100 pages of results from the first search (Terms: GetEnvironmentVariable bool; Filtered to only c# files) yeilded the second list of items:

[Dotnet CLI](https://github.com/dotnet/cli/blob/fffe3142ad8043743d83885df2166fd2f80dceca/src/Microsoft.DotNet.Cli.Utils/Enviro

[2017-12-28 18:53] benaadams opened #26089 "Compression Dispose_WithUnfinishedWriteAsync Fail"
`Windows.7.Amd64.Open-Release-x86`

https://github.com/dotnet/corefx/pull/26086#issuecomment-354316908 System.IO.Compression.DeflateStreamUnitTests/Dispose_WithUnfinishedWriteAsync [FAIL]
[code]

https://github.com/dotnet/corefx/pull/26068#issuecomment-354036924 System.IO.Compression.GzipStreamUnitTests.Dispose_WithUnfinishedWriteAsync [FAIL]
[code]

[2017-12-28 19:06] danmosemsft commented on #26089
The 2nd one was on NETFX

[2017-12-28 19:08] benaadams commented on #26089
Also intermittent :(

[2017-12-28 19:09] ayende commented on #26061
Was able to dig a bit deeper, here is the stack trace that it is holding:

[code]

[2017-12-28 19:25] karelz commented on #1593
@krwq what is the API shape? Please add [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) (see the example there).

[2017-12-28 19:35] CarlosOnline commented on #26084
Yes it does work on console app.
Problem is that it works everywhere except for .netcore2.0.

See similar issue: [System.DirectoryServices.AccountManagement ](https://github.com/dotnet/corefx/issues/24488)

It would be great if it was added to the [Windows Compatibility Pack](https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/)

[2017-12-28 19:52] krwq commented on #1593
@karelz, I thought the title was enough but adding for clarity

[2017-12-28 20:11] karelz opened #26091 "[ManagedHandler] Test failure: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_ServerCertificates_Test / UseCallback_ValidCertificate_ExpectedValuesDuringCallback"
## Types of failures

[code]

## History of failures

Date | Build | OS | Details
-- | -- | -- | --
12/17 | 20171217.01 | Centos73 | [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171217.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_Server

[2017-12-28 20:28] karelz commented on #1593
@krwq we should probably keep the IEnumerable as explicit interface -- I think there are subtle differences in explicitly / implicitly implemented interfaces.
Can you please add some justification to the top post? For people who don't have deep background in XML.

[2017-12-28 20:31] karelz commented on #26084
@safern @weshaggard can you check this please? Seems to be similar to #24488.

[2017-12-28 20:35] safern commented on #26084
Yes, I will take a look.

[2017-12-28 20:36] krwq commented on #1593
@karelz done

[2017-12-28 20:50] justinvp commented on #26079
This might be a good candidate for a standalone helper API outside of corefx (corefxlab or 3rd party nuget package) that can be used to parse boolean strings in this way from any source (e.g. environment variables, command line args, windows registry, etc.).

[2017-12-28 21:12] qmfrederik commented on #26085
Which version of Windows Server is this? Is it Core or Nano or another edition?

[2017-12-28 21:14] karelz commented on #24355
Updated test failure history in top post.

[2017-12-28 21:34] Clockwork-Muse commented on #26061
So (without digging into the actual code) it looks like it's building the server certificate chain for whatever reason.  Shouldn't a normal certificate have whatever is necessary to say "I'm me, these guys say so"?

Hm, try setting those environment variables, maybe openssl isn't looking at wherever you put them into the trust store.
And possibly try loading the certificate (server and the chain)

[2017-12-28 21:40] ayende commented on #26061
Even more minimal reproduction, use with the attached certificate.

[code]

The root cause here is the following:

[code]

[cert.zip](https://github.com/dotnet/corefx/files/1592125/cert.zip)

In particular, this seems to be related to this code:
https://github.com/dotnet/corefx/blob/0101324f1ac8555c910bbbfb46c511bb86f0fbe4/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography

[2017-12-28 21:40] karelz commented on #26032
On 2017/**11/16** - build **20171116.51** there was even larger number of test failures:
* 1 failure of OpenWrite_Success test on Fedora26 - see this issue
* 4 failures of NameResolution tests on SLES12 - #24355
* 15 failure of TcpClientTests on Ubuntu17.04:
  * `System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test` / [`InvalidCertificateServers_Certifica

[2017-12-28 21:42] ayende commented on #26061
@Clockwork-Muse This looks like it impacts only `AuthenticateAsServer`

[2017-12-28 21:55] ayende commented on #26061
Regarding the severity of this issue.
Assuming I'm correct with my thinking, anything that uses `Authority Information Access` (which at least Let's Encrypt but I saw that in many other certs as well) is going to be making a remote call to the cert issuer (or multiple of them, actually) with no timeout.
This is if there is nothing blocking the call, of course.

What is worse, it is downloading the

[2017-12-28 22:03] ayende commented on #26061
It looks like a workaround might be to put the issuer of the certificate in the stores, but I can't get it to work.
https://github.com/dotnet/corefx/blob/0101324f1ac8555c910bbbfb46c511bb86f0fbe4/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs#L530

This code also hangs:

[code]

[2017-12-28 22:22] karelz opened #26092 "[Windows] Test failures: The operation has been cancelled / The handle is invalid / etc."
## Types of failures

Affected tests:

Test | # | Test type / notes
-- | -- | --
MaxResponseContentBufferSize_ThrowsIfTooSmallForContent | 11x | System.Net.Http.Functional.Tests.HttpClientTest / System.Net.Http.Functional.Tests.HttpProtocolTests
GetAsync_SupportedSSLVersion_Succeeds | 9x | System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test<br/>Note: also known dependency on SslLa

[2017-12-28 22:23] karelz commented on #26092
@rmkerr this is 'misc' test failures which are similar to a few buckets you are already looking at ...

[2017-12-28 22:45] jemiller0 commented on #5982
Just my two cents, but, I think it is ridiculous to even include TraceSource if you aren't reading the settings from the configuration file. It is useless without support for that. If all you are going to do is port unusable code to .NET Core that does nothing more than make your app compile, I think you shouldn't waste your time. Or waste other people's time trying to get it to work and then find

[2017-12-28 22:59] mj1856 commented on #11897
The exception message is correct.  `Antarctica/Troll` does not currently have an equivalent Windows time zone.  Nothing could be done in .NET to change that.

For years 2015 and prior, Troll Station rotated through three distinct time zone offsets (+0, +1, +2), causing the transitions between offsets also to deviate (+1, +1 -2).  [See reference here](https://www.timeanddate.com/time/zone/antarctic

[2017-12-28 23:05] yishaigalatzer commented on #26054
@mqudsi given a limited amount of available time, I could have chosen to ignore it or to post, these race conditions (as describe in the SO post) are hard to reproduce, and IMHO it is better to raise the awareness that to let things slide so they break customers. If the team doesn't want such bug reports (@karelz ?), I'd be happy not to post again, unless I have a fully reproducible problem.

[2017-12-28 23:11] molinch commented on #25190
@JonHanna  Is there a way to workaround the issue in a 4.6.2 project?
Maybe I can install Microsoft.Csharp from nuget?

[2017-12-28 23:16] JonHanna commented on #25190
@molinch maybe work from nightlies? I know less about the various packaging versions than I really should, so someone else would give a better answer (@karelz ?)
The best I can think of is to use explicit reflection instead of `dynamic`.

[2017-12-28 23:21] molinch commented on #25190
Basically in my case I am using Roslyn scripting API, and provide some dynamic into the globals object passed to scripting API.
[code]
I have a couple of scripts, and they assign different values to g.
But at some point I get this ResetBindException. I'm pretty sure your commit would fix it.

I guess there is no way to clear the DLR cache?

[2017-12-28 23:26] JonHanna commented on #25190
@molinch. You should never see the `ResetBindException` as it should never escape MS.CSharp. Generally it should, as the name suggests, reset its global state and try again and only if it happens again in the second attempt — which would mean there were two different but identically-named types in the same operation — it should throw `RuntimeBinderInternalCompilerException` (or for a brief period

[2017-12-28 23:58] geoffkizer commented on #25439
@stephentoub I can't repro on my linux box (Ubuntu 16.04).  Am I understanding correctly that you only saw this on Fedora?

[2017-12-29 00:06] karelz commented on #26054
IMO it doesn't hurt to have such reports, however, it is good to clarify the background: If repro was attempted, on which platforms and if it was not attempted, then why (e.g. it is extremely rare).
Understanding that if it is not actionable for us, we may close it, also helps :)

Right now it is waiting on code expert to take a look and judge (@davidsh)

[2017-12-29 00:07] wfurt commented on #26034
The problem with the code @psantosl is that the listener.AcceptSocket() is BLOCKING call.
Documentation is pretty clear about it. What it means that it won't return and unblock thread until either error happened or connection is accepted. You can see that easily by hitting the closing path and than connecting to the listening port. Once new connection is accepted, everything works as you expect e.

[2017-12-29 00:31] bartonjs commented on #26059
I'm pretty sure OpenSSL is upset with you for violating the base64 encoding rule that says no more than 76 characters per line.

https://tools.ietf.org/html/rfc2045#section-6.8

   than 76 characters each.  All line breaks or other characters not
   found in Table 1 must be ignored by decoding software.  In base64
   data, characters other than those in Table 1, line breaks, and other
   white spa

[2017-12-29 00:36] karelz commented on #25190
Packaging is sill a bit of black magic for me as well :( (way too complicated with too many exceptions)

In general / high-level, we do not release standalone NuGet packages for all CoreFX-produced packages for all platforms -- Microsoft.CSharp seems to be in that category (from looking at its [latest nuget package](https://www.nuget.org/packages/Microsoft.CSharp/4.4.1)).
If there is a workaround,

[2017-12-29 00:36] stephentoub commented on #25439
I was able to repro relatively frequently on my Ubuntu 17.10 box.

[2017-12-29 00:36] psantosl commented on #26034
Thanks @wfurt,
I know it is blocking. But if you close the listener (or the socket), the accept should exit. At least this is what you get in windows, and this has been the behavior on mono for years. I mean, yes, it blocks, no problem, but if the underlying socket is closed , it returns with an error or whatever

I will try the async code you suggest. I wonder if using a socket instead of tcplist

[2017-12-29 00:39] geoffkizer commented on #25439
Hmmm, strange.  I ran 4x in a row on my Ubuntu 16.04 box and didn't see a failure.  I'll run a few more times and see what happens...

[2017-12-29 00:56] karelz commented on #23207
Duplicate of #24804

[2017-12-29 00:56] #23207 closed

[2017-12-29 01:02] karelz commented on #23595
Duplicate of #24804

[2017-12-29 01:11] karelz commented on #20128
I haven't seen another hit after 2017/8 - in duplicates or official test runs in Helix (see updated top post).
Closing. Please reopen if it happens again.

[2017-12-29 01:11] #20128 closed

[2017-12-29 01:15] karelz commented on #26042
Analysis from @vancem in duplicate bug: https://github.com/dotnet/corefx/issues/24807#issuecomment-348545336

[code]

[2017-12-29 01:15] wfurt commented on #26034
The problem is that the close() does not happens because socket blocks for Accept().
You can  also try following fragment:

[code]
The shutdown will cause Accept() to fail and that breaks the blocking.

[2017-12-29 01:15] karelz commented on #24807
Duplicate of #26042

[2017-12-29 01:15] #24807 closed

[2017-12-29 01:18] karelz commented on #24768
No hits in master -- it is affecting only servicing branch.
No repro for last 2 months, closing. Please reopen if it happens again.

[2017-12-29 01:18] #24768 closed

[2017-12-29 01:31] karelz commented on #19619
Note: The test-run-core part was addressed in #19526

[2017-12-29 01:36] dawud-tan commented on #26059
@bortonjs ah, I'm sorry for being naive, thanks for the url spec :smile:, it's my fault. This issue could be closed.
[code]
I didn't break the output of the above call into 76 chars. So, the problem it's not related with SignedCms class, but, does .NET Framework or .NET Core do have S/MIME support out of the box?

self-signed cert error is supposed to be happen. What I do in my environment is just

[2017-12-29 02:00] karelz commented on #16757
Deleting unrelated test failures

[2017-12-29 02:02] karelz commented on #16757
No hit ever in official Helix test runs since 2017/5. No CI hits since 2017/3, closing.

[2017-12-29 02:02] #16757 closed

[2017-12-29 02:12] karelz commented on #23209
History of failures updated in top post from official Helix runs

[2017-12-29 02:27] karelz commented on #23788
No response, closing.
Feel free to reopen when there's more info/follow up. Thanks!

[2017-12-29 02:27] #23788 closed

[2017-12-29 02:31] karelz commented on #23745
@mayconbeserra do you still see the problem? Can you please try to reproduce it on .NET Core 2.0?
Are you able to reproduce it on any Linux VM?
Can you please provide full repro steps how to set up the (minimal) repro locally?

[2017-12-29 02:33] karelz commented on #23009
@wfurt can you please take a look?
cc @Priya91

[2017-12-29 02:34] karelz commented on #25816
No response for 17 days, assuming the response above was satisfactory.
Closing.

[2017-12-29 02:34] #25816 closed

[2017-12-29 02:39] Sunny-pu commented on #24763
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/3874/testReport/

[2017-12-29 02:41] karelz commented on #24074
@shao200 can you please provide a minimal repro? (ideally without database, ASP.NET, WPF, etc.)

[2017-12-29 02:46] wfurt commented on #23009
ok @karelz , I'll take a look.
Do we know if this is docker specific @anjmao ? The notes in source repo claims you are running on MacBook. Is that correct? I'll try to reproduce it locally and any more specific information may be useful.

[2017-12-29 03:03] karelz commented on #24104
Updated title - to sum it up, when using http://localhost, .NET Core can hit 1s timeout on Win10 resolving it to ::1 first, then to 127.0.0.1.

Workaround: Resolve IP yourself, don't use `http://localhost`.

Open question: Why is .NET Core different than .NET Framework? Can it be fixed?

[2017-12-29 03:08] karelz commented on #24495
cc @valenis

[2017-12-29 03:11] karelz commented on #24496
I assume @jkotas's answer was sufficient. Closing.
Feel free to reopen if it is not the case.

[2017-12-29 03:11] #24496 closed

[2017-12-29 03:29] karelz commented on #24373
No response in 20 days. Closing.
Feel free to reopen when you have repro available. Thanks!

[2017-12-29 03:29] #24373 closed

[2017-12-29 03:49] karelz commented on #20994
Seems to be answered by last reply from @davidsh. In general we are not trying to be fully bug-by-bug compatible. If the impact on customers is non-trivial, we can reconsider it case by case.

Closing.

[2017-12-29 03:49] #20994 closed

[2017-12-29 03:52] karelz commented on #20816
Seems that the behavior is by design and according to the RFC.
Closing.

[2017-12-29 03:52] #20816 closed

[2017-12-29 04:02] NVentimiglia opened #26098 "Exception thrown: 'System.NullReferenceException' - No Stack Trace"
I have a netcoreapp2.0 console app. I am throwing an unhandled exception somewhere in my class library. I have no idea whereas there is no stack trace or usual information. I see closed issues with other people having similar problems. Not sure what to do, this is really annoying.

[2017-12-29 04:24] #26098 closed

[2017-12-29 05:42] bartonjs commented on #26059
Not that I'm aware of.  @davidsh is there S/MIME anywhere in System.Net.Mail?

[2017-12-29 05:42] #26059 closed

[2017-12-29 06:49] karelz commented on #20296
Seems like by design + there were only 2 customers complains in last 6+ months.
Closing.

[2017-12-29 06:57] karelz commented on #18614
#23544 seems to be reasonable way how to solve the problem.

[2017-12-29 06:57] #18614 closed

[2017-12-29 07:28] Guru-Soft commented on #26085
1.OS verinfo:
a. Windows Server 2012 R2 v6.3 Build 9600 (Standard edition)
b. Windows Server 2016 v1607 Build 14393.1066 (Datacenter edition)

2. StackTrace does not have any info:
catch (PlatformNotSupportedException pex)//
 Trace.TraceError(forImageFileName + "; ex:" + pex.ToString());
output: "**System.Drawing is not supported on this platform**"

[2017-12-29 07:30] molinch commented on #25190
Thanks a lot @JonHanna with your explanation it's much more clear. In fact my debugger was always breaking on this ResetBindException, so I thought it was a real issue, but you are right: it is handled internally and then the evaluation works.

@karelz thanks for the time to answer me.

[2017-12-29 08:05] ayende commented on #26061
Another impact here, this will do the call in a _synchronous_ fashion, even if you called `AuthenticateAsServerAsync`

[2017-12-29 17:02] jnm2 commented on #19773
I mean... it might be better than rewriting the functionality without understanding the initial reason it was added to begin with. 😜

[2017-12-29 17:06] jnm2 commented on #12064
Why doesn't .NET Core support whatever block size the native implementation does? Or doesn't CNG support any block size but 128?

[2017-12-29 17:11] Looooooka commented on #12064
As suggested above I switched to BouncyCastle and since the code works for. NET and core life is good again. There was no need to change the existing encrypted entries at all :)

[2017-12-29 17:18] niemyjski commented on #12064
@Looooooka Would you mind sharing the code you used for .NET Core for 256bit. I tried for a few hours to convert my encrypt and decrypt with bouncy and a different library but failed.

[2017-12-29 17:21] jnm2 commented on #25295
I'd be okay with this so long as it allows just about any combination of special characters, as valid email addresses do. I'd be hard-pressed to find a reason to go further than checking something like `\S\s*@\s*\S` (at least one non-whitespace character on each side of the '@'). Even better (thanks @tannergooding):

[code]

[2017-12-29 18:15] jnm2 commented on #26048
Out of curiosity, why was `==` left as reference equality? This has bugged me.

[2017-12-29 19:42] Priya91 commented on #26061
Based on @ayende's condensed repro, looks like the hang is happening in building the cert chain. Routing to System.Security.

[2017-12-29 19:52] Priya91 commented on #26078
@niemyjski Can you provide a small concise repro? The stack just reports the outcome, and doesn't provide any useful diagnostic information to chase down the issue. Since you mention IIS, is it happening only on windows?

[2017-12-29 20:21] bartonjs commented on #12064
That's what the situation is.  CNG, OpenSSL, and Security.framework all support AES, none of them support Rijndael (except for Rijndael with a 128-bit block, which is AES).

.NET Framework has a managed implementation of the Rijndael algorithm.  .NET Core does not.

[2017-12-29 20:29] karelz commented on #26061
@bartonjs can you please comment?

[2017-12-29 20:31] jnm2 commented on #12064
@bartonjs So I'm looking at the first entry under CNG Cryptographic Algorithm Providers:

Name | Supported modes | Key size in bits (Default/Min/Max)
:-- | :-- | :--
Advanced Encryption Standard (AES) | ECB, CBC, CFB8, CFB128, GCM, CCM, GMAC, CMAC, AES Key Wrap, XTS | 128/192/256

(https://msdn.microsoft.com/en-us/library/windows/desktop/bb931354.aspx#symmetric_algorithms)

[2017-12-29 20:32] jnm2 commented on #12064
@bartonjs Oh, never mind. This is hard to google for.

[2017-12-29 20:43] bartonjs commented on #26061
Just like Windows, if the next step in the chain cannot be completed it will try to download the next element from the AIA record before failing.

The solution would be to download the chain via some other process and put the intermediates into the CurrentUser\CA (intermediate) store.

If the chain successfully builds and the root was trusted then any intermediates that were downloaded along the w

[2017-12-29 23:31] davidsh commented on #26059
There is no S/MIME support in System.Net.* APIs in neither .NET Framework or .NET Core.

[2017-12-30 01:20] AraHaan opened #26101 "[Windows] PictureBox Control does not consider and honor Alpha Channels correctly."
Earlier today I filed an ticket with Microsoft for this exact issue on VS2017 for their .NET Framework's 4.5.x, 4.6.x, and 4.7.x

Basically if you got an PNG image with an alpha channel, which has an partially transparent glow, or shadow on it.

Basically the following steps can be taken to reproduce this (reporting this here as well for .NET Core can have this fixed as well if desired):

1. make

[2017-12-30 01:42] jnm2 commented on #26059
I like https://github.com/jstedfast/MimeKit.

[2017-12-30 02:19] bgulanowski opened #26103 "Drawing.Common issue on macOS High Sierra"
After much trial and error, I believe I installed/configured/referenced the correct packages/references successfully. (The language around packages/references is not well explained in docs on Microsoft's website.)

I can build and run a .Net Core CLI app, from Visual Studio for Mac, but it freezes when it tries to access objects from the Drawing.Common package.

I can't create a Bitmap or a Colour

[2017-12-30 02:22] madelson commented on #25295
@jnm2 presumably this would run the exact same validation as a what the MailAddress constructor already does.

[2017-12-30 02:29] bgulanowski commented on #26103
As a test, I created a Mac (Xamarin) app from the template and added the same code to create and use a `Color`  object. The app froze in the same way.

I looked into the macOS Console app but there was nothing relevant.

[2017-12-30 04:12] jnm2 commented on #26101
.NET Core doesn't have PictureBox or any of Windows.Forms.

[2017-12-30 05:18] joelbraun commented on #17126
Hi all, I did a PR for a constructor off this list a few months back and I'd be willing to help out with some more of the work here. I've looked over some of the items off this list and it seems like a good number of them are just method overloads or items that can be pulled from reference source. If it sounds OK I can do some more on this (tests and all, of course- which should help with #14346).

[2017-12-30 05:29] danmosemsft commented on #17126
@joelbraun that sounds great.
@saurabh500 which post should he tackle?

[2017-12-30 05:41] davidsh commented on #24104
This is the root cause of the problem.  Why does this server only listen on IPv4 addresses, especially for loopback.  That is not optimal.  And disabling IPv6 is not a good idea since IPv6 is really baked into Windows.

The problem, however, is not due to DNS resolution, per se. But rather trying to determine quickly which IP address to use for a given DNS name.

When a DNS name is resolved, there

[2017-12-30 05:45] mnordhoff commented on #26061
It seems to be downloading the root, not the intermediate.

For example:

* End-entity certificate: https://crt.sh/?id=249911840
* Intermediate: https://crt.sh/?id=15706126
* Root: https://crt.sh/?id=8395

The IP address in the original post matches http://apps.identrust.com/, which is where the intermediate says you can download the root. Not where the end-entity certificates say you can download

[2017-12-30 05:48] joelbraun commented on #17126
Sounds good - this is more related to the testing side, but as discussed on #14346 if there are any internal netfx tests that can be made available for these it'd be nice. No problem if not, I can look at Mono's stuff or write my own.

[2017-12-30 05:52] davidsh commented on #26054
Yes, this is probably a bug in both .NET Core and .NET Framework.  The headers dictionary object (HttpHeaders) itself is not thread safe.  Usually those header collections are used only for a single HttpRequestMessage or HttpResponseMessage.  But that header collection object is also used by HttpClient.DefaultRequestHeaders which is being shared in this case. So, there are potential race condition

[2017-12-30 07:23] jimevans commented on #24104
@davidsh

While I don’t disagree that is the ideal solution, I feel compelled to reiterate that consumers of the .NET Core API of the project I hit this issue with have no control over how the server ends listen. The server in question can come from any of a list of major browser vendors (including Google via the Chromium project, Mozilla, Apple, and even Microsoft). If I could modify the behavior

[2017-12-30 07:39] tmds opened #26104 "Utf8Parser/Utf8Formatter: no string overloads"
Why don't `Utf8Parser` and `Utf8Formatter` have `string` overloads?

https://github.com/dotnet/corefx/blob/270be00f569abea3b4b7fb6e0191130e50b17ecf/src/System.Memory/ref/System.Memory.cs#L396-L441

[2017-12-30 08:21] mikedn commented on #26104
What should the string overloads do? Strings are UTF-16 so it would be kind of strange to deal with strings in a UTF-8 formatter/parser.

[2017-12-30 09:26] mikedn commented on #26054
This does not look like a framework bug to me. Even if that dictionary would be thread safe the way `DefaultRequestHeaders` is used in the SQ question is simply incorrect. There will be multiple threads attempting to clear the headers and add a certain header back so it's possible that a request will be sent with no headers (or with the wrong headers if some other code adds something different fro

[2017-12-30 09:43] oldrev commented on #9657
Hi @simonegli8 , I did a toy project to implement the 7-zip style multi-threaded encoding/decoding too!

In my opinion, the way split coder and stream that 7-zip uses is much easy to use when you need combines multiple coders like preprocessing/encryption/compression.

My program uses a customed stream connection to avoid memory allocation in traditional implemention like PipedStream.

[MaltCompre

[2017-12-30 10:24] ayende commented on #26061
@bartonjs That doesn't seem right, see the code sample here:
https://github.com/dotnet/corefx/issues/26061#issuecomment-354364996

I'm explicitly registering anything in there in the current user store, but that doesn't help.
We have also tried to manually registered anything, without any help.

[2017-12-30 13:03] tmds commented on #26104
This provides a conversion mechanism between two common representations of text: `string` and UTF8 encoded `Span<byte>`.

[2017-12-30 15:02] niemyjski commented on #26078
@PriyaPurkayastha I don't have a small concise repo as I have no idea how it's being triggered besides I'm getting hundreds of these running in azure websites with the following code: https://github.com/exceptionless/Exceptionless/tree/master/src/Exceptionless.Api/Hubs

[2017-12-30 16:14] kasper3 commented on #8647
Does it mean NEVER or sometime after 2029? Please SHIP the stuff if it isn't a rocket science doesn't require more than few hours of work. Delaying this kind of petty stuff is only letting down folks who are actually using the product, maybe "Not immediately" even from majority's use-case doesn't explain the intensity of of hundreds of use-cases that are using xsd.exe.

Will it be a dontet-cli too

[2017-12-30 18:09] markekraus opened #26105 ""Function not Implemented" on FileInfo.MoveTo() when source and destination File System are both exFAT"
`FileInfo.MoveTo()` produces a `System.IO.IOException` excepetion with the `Function not implemented` method when the source file and destination file are both on an exFAT partition.

Repro Program.cs code:

[code]

Prep:

[code]

Repro actions:

[code]

Result:

[code]

Additional testing shows that if the source or destination is on another FS it works. for example,

[code]

That works without i

[2017-12-31 02:40] VenkateshSrini commented on #2394
Hi,
This is a world of micro services and the entire stuff is broken down into components . Now if we have to orchestrate it we will have to depend on Azure logic apps or some other external vendor who charges premium for a workflow. Though very little non .NET WF product like Netflix Conductor, we would love to have one in pure .NET core version. You can take the clues from Netflix conductor at h

[2017-12-31 03:27] davidfowl commented on #26104
I think it makes sense to go string -> utf8 byte[] so TryFormat not so much TryParse.. Also would be overlap with any `UTF8Encoding.GetBytes()` method

Any thoughts @KrzysztofCwalina ?

[2017-12-31 04:11] Clockwork-Muse commented on #26061
@ayende -
You're wrong, the code sample works correctly (doesn't hang/dial out) - **if you gave it a pfx with a chain**.  The one you included has only the leaf certificate, so _of course_ it goes looking for the chain.  Your repro is "broken" because it's not giving the system enough information.

I don't know what's going wrong with the manual registration, but it's possible it's the wrong "curr

[2017-12-31 06:22] danmosemsft commented on #26105
Thanks for the great bug report. Any interest in debugging a little?

[2017-12-31 06:27] danmosemsft commented on #26103
Thanks for the report. Can you get managed and native call stacks for the hang?

[2017-12-31 07:10] tmds commented on #26104
TryParse also has its use-cases. e.g. parsing a string from a UDP packet/memory mapped file.

[2017-12-31 07:58] ayende commented on #26061
@Clockwork-Muse Okay, when registering the full chain with this code, first running it with port 80 open and then port 80 closed, the problem is resolved.

[code]

However, given that this has such a sever impact, and that this is something that is not really needed (everything still works, just very slowly), is there a way to turn this off?
I'm concerned that the certificate may change in the fut

[2017-12-31 10:57] morganbr opened #26107 "Add WebAssembly CoreFX build architecture"
As the [CoreRT](https://github.com/dotnet/corert/issues/4659) and [Mono](http://www.mono-project.com/news/2017/08/09/hello-webassembly/) WebAssembly experiments progress, we'll want to start running CoreFX libraries (starting with System.Console). As a first step, we need to add a new build architecture in the CoreFX repo that can produce architecture-specific packages.

This should allow running

[2017-12-31 11:36] markekraus commented on #26105
@danmosemsft I'm actually reporting this for someone else who discovered it.

@matthew-macgregor Would you be able to work through some debugging on this?

[2017-12-31 15:17] stephentoub commented on #26105
My guess is that this link call is returning ENOSYS:
https://github.com/dotnet/corefx/blob/31427a32991617c3b918fadcb4fa0a39ba8fc50a/src/System.IO.FileSystem/src/System/IO/UnixFileSystem.cs#L94
(even though the man page doesn't list that as a possible error), and we need to add another condition for it to the fallback here:
https://github.com/dotnet/corefx/blob/31427a32991617c3b918fadcb4fa0a39ba8fc

[2017-12-31 15:47] matthew-macgregor commented on #26105
@markekraus @danmosemsft Yes, absolutely willing to help debug the issue.

[2017-12-31 16:40] kasper3 commented on #2295
Interesting part is: product-wise, Microsoft is the largest consumer of XML serialization in the world, just search how many `*proj` and `*.config` files alone are in existence for MSBuild execution.. then every enterprise product by Microsoft relies on or primarily supports XML data. If IBM and Oracle have heavily invested in XML techs in past two decades to continuously implement new standards,

[2017-12-31 18:40] Clockwork-Muse commented on #26061
Except you shouldn't need to do that at all.

If you add the chain to the pfx file (so it contains the server cert and the entire chain) and load via `X509Certificate2Collection.Import` and grab the cert from there, it doesn't dial out.
If you generate a chain cert file and set the OpenSSL environment variables I mentioned, it doesn't dial out.

You don't have to add the certificates to the store

[2017-12-31 19:08] ayende commented on #26061
@Clockwork-Muse The certificate is actually generated by Let's Encrypt, so I don't control that.
I guess that I can do this at certificate generation time, right?

[code]

[2017-12-31 20:00] karelz commented on #26107
a

[2017-12-31 20:11] karelz commented on #26101
The latest best way to report .NET Framework issues is via https://developercommunity.visualstudio.com or VS Feedback.
Closing here, as it does not impact .NET Core.

[2017-12-31 20:11] #26101 closed

[2017-12-31 22:58] davidfowl commented on #26104
@tmds That would be odd to put on the Utf8Parser class no? If you're parsing UTF16 text?

[2018-01-01 01:33] tmds commented on #26104
I'm parsing utf8 into a string instance.

[2018-01-01 02:09] Clockwork-Muse commented on #26061
....that might work, although the more usual thing is probably to use OpenSSL to include the chain.  For that matter, you could probably have Let's Encrypt include the chain when it signs your cert.
Which brings up another question - I'm assuming that **you** are generating the private key (which you should be), which means **you** are generating the .pfx, which means it was **you** who wasn't inc

[2018-01-01 03:05] ahsonkhan commented on #26104
That sounds more like encoding, i.e. utf-8 to utf-16.

Are you looking for something like this?
https://github.com/dotnet/corefxlab/blob/master/src/System.Text.Primitives/System/Text/Encoders/Utf8.cs#L41
[code]

[2018-01-01 08:37] tmds commented on #26104
This is the method on the utf8 class:
[code]

[2018-01-01 11:53] ahsonkhan commented on #26104
To clarify, would you expect the ToString method to perform the following transformations in sequence?

string ToString(ReadOnlySpan<byte> utf8Bytes)
   1. convert utf8Bytes to utf16Bytes
   2. convert utf16 byte span to byte array
   3. Use existing Encoding.GetString to convert byte array to string

One we finalize the shape of the APIs in the utf8 class (which provides utf8 -> utf16), all the p

[2018-01-01 12:56] ayende commented on #26061
I actually want to have the full chain there, yes.
And yes, I'm generating the whole thing.

I'm generating the CSR for Let's Encrypt using this code:

https://github.com/ravendb/ravendb/blob/v4.0/src/Raven.Server/Commercial/SetupManager.cs#L383-L392

Using:
https://github.com/fszlin/certes/blob/master/src/Certes/Pkcs/CertificationRequestBuilderBase.cs#L146

I tried searching for this, but I don't

[2018-01-01 13:37] tmds commented on #26104
I'd expect the `Utf8Parser.TryParse(ReadOnlySpan<byte> text, out string value, ...)` to parse the UTF-8 bytes in `text` and return them in `value` and return `true` on success. In case text is an invalid UTF8 sequence I'd expect a `value` to be `null` and the method to return `false`.
I don't have suggestions on the implementation other than it should minimize allocations and maximize performance

[2018-01-01 16:38] matthew-macgregor commented on #26105
@danmosemsft I set up a dev environment and built corefx with the change you suggested. This does appear to resolve the issue.

[2018-01-01 17:06] tofutim commented on #15570
How funny, it has been a year and I just now ran into exactly the same issue. Maybe 4.3.2 can be released that solves this issue?

[2018-01-01 18:01] jnm2 commented on #25762
Would use. I often end up declaring my own. I have an API like `CustomComparer<T>.OrderBy(_ => _.Property1).ThenBy(_ => _.Property2)`. Think this is possible or useful in the BCL?

[2018-01-01 18:17] Clockwork-Muse commented on #26061
...hmm, from a cursory look it seems to be including the chain by default.

Oh, it turns out I was slightly wrong - the certs do have to make it into the store to be used to build the chain, not just imported into a collection that you pull from (I must have been leaving them in the store on accident between tests).  Still, the initial code you posted should have worked just fine (I cleaned it up

[2018-01-01 19:53] iSazonov commented on #25945
I think @jkotas meant https://github.com/dotnet/corefx/issues/15329. It is another proposal and it is currently being implemented by @nietras.
If the proposal were approved, we could ask him to implement it also.

[2018-01-01 19:53] ayende commented on #26061
@Clockwork-Muse Okay, I might be missing something, but I just created this certificate:
[server3.zip](https://github.com/dotnet/corefx/files/1596332/server3.zip)

You can see that it does include the root certificate and the entire chain.

![image](https://user-images.githubusercontent.com/116915/34470586-68ddc056-ef3d-11e7-8d4a-7d1d49bd1d43.png)

This is still going to make a remote call when we

[2018-01-01 20:04] nietras commented on #25945
I am indeed currently implementing sorting for spans. As I understand this proposal, it sounds like some kind of partioning like `std::nth_element` i.e. partition so 0-9 are less than elements in 10-99, followed by a full sort on elements 0-9. One can the continue by partitioning 10-19 and 20-99, sort 10-19 etc.

Thus, this could be implemented by adding an equivalent function to `std:nth_element`

[2018-01-01 20:10] nietras commented on #25779
I very much agree with @jkotas that this proposal needs time to mature before making a proper proposal for the BCL. Not the least being real usage in different use cases.

One also has to consider what the target area is for this? Is it for running inference in production? Is it for "off-line" learning? Real time learning? Ease of use? Each area would have their own requirements,

I favor somethin

[2018-01-01 20:35] danmosemsft commented on #26105
It was @stephentoub who made that suggestion actually. Great! Do you want to throw up a PR?

Incidentally the [one other place we use Link,](https://github.com/dotnet/corefx/blob/31427a32991617c3b918fadcb4fa0a39ba8fc50a/src/System.IO.FileSystem/src/System/IO/UnixFileSystem.cs#L52) we don't fall back to a copy like we do there.

[2018-01-01 20:39] danmosemsft commented on #26085
This means that the .NET Standard version of System.Drawing.Common.dll is getting deployed/loaded, not the .NET Core version. What target framework is your app or library targeting? Can you reduce it down to a minimum and push a branch with the repro?

[2018-01-01 20:39] danmosemsft commented on #26081
I can't investigate this further myself since I don't have a repro.

[2018-01-01 20:51] danmosemsft commented on #26056
My first guess was this is caused by the fact that in UAP, there is no per-thread culture. This test sets the culture and is being disrupted by another MEF test running concurrently that also sets the culture. Thus it needs to be RemoteInvoke similar to 9b4a7535e4.

However I do not see any other test fixture (class) in the MEF tests that sets current culture.

[2018-01-01 21:46] JonHanna commented on #25945
@nietras `nth_element` is a partitioning selection operation and hence uses a partitioning selection algorithm (generally introselect to avoid the worst-case of quickselect) there are partial sort algorithms that more directly do that operation.

[2018-01-02 00:29] danmosemsft commented on #26024
I think this is relevant in stat.h:
[code]

My guess is Python is compiled with some define that enables the first block so their st_mtime is actually getting st_mtim.tv_sec. Whereas our SystemNative is not. We apparently need to define `_POSIX_C_SOURCE=200809L` or explicitly get st_mtim.tv_sec etc and stick them on the end.

Note that the CoreCLR PAL defines `_POSIX_C_SOURCE=200809L`  for Linux.

[2018-01-02 03:29] Guru-Soft commented on #26085
Targeting dotnet-sdk-2.0.3-win-x64
System.Drawing.Common.dll nuget package 4.5.0-preview1-25914-04 netstandard2.0
(see available target folders screenshot)
Can you please suggest on the location from where to pick up the System.Drawing.Common.dll from, in case netstandard2.0 folder is wrong?

[2018-01-02 03:44] danmosemsft commented on #26024
The above is not correct. Nanoseconds are available in both senses of the define above (either with st_mtim.tv_nsec or with st_mtimensec). However that is the kernel shape of the struct. The API shape can be different and glibc converts between as needed (xstatconv). The shape we are reading off the API only has the time_t.

I'm not famlilar with how to navigate the headers efficiently so I'm havi

[2018-01-02 05:00] Clockwork-Muse commented on #26061
...you don't have to remove the certs.  In fact, I'd expect you to **not** do so (except during an uninstall), I was only doing it because test code should clean up after itself.

That would be extremely strange.  The only people who would be complaining would be **you**, currently, right?  If you're distributing this as server software that you're expecting customers to install/deploy, _they shou

[2018-01-02 05:22] bartonjs commented on #26061
Once the PFX has been read nothing remembers that it any particular cert therein had affinity to other files in that same container.  Since the PFX itself is defined in terms of authsafes I'll make a safe-based analogy:

The end-entity certificate is like a laser-inscribed diamond.  You can look at the diamond and see that it has an issuance number.  So now the jeweller wants to see that it matche

[2018-01-02 05:36] aobatact opened #26112 "Add Enumerable.Repeat overlode"
Currently Enumerable.Repeat<T> method create an IEnumerable<T> which values are same instance but sometimes I want an IEnumerable<T> with same value but different instance.

[code]
And for Array.Fill too.
[code]

[2018-01-02 06:38] danmosemsft commented on #26024
By adding `save-temps=obj` to `src/Native/Unix/CMakeLists.txt` I can see the preprocessor output and it shows our ConvertFileStatus code like
[code]
is becoming
[code]
So I was right the first time. We simply need to access st_atim instead of st_atime.

[2018-01-02 06:43] danmosemsft commented on #26024
It looks like this is where Python is getting the full nsec out of the native struct and putting it into the Python struct as `st_mtime` even though it may have come from `st_mtim`.
https://github.com/python/cpython/blob/bbdb17d19bb1d5443ca4417254e014ad64c04540/Modules/posixmodule.c#L2018
That explains why the Python implementation linked above is including nanoseconds despite seemingly using `st_

[2018-01-02 07:19] mnordhoff commented on #26061
Is it really necessary to download the CRL to check if the intermediate certificate has been revoked? If an intermediate with tens of millions of previously valid certificates is being suddenly revoked, it would be headline news.

[2018-01-02 09:26] nietras commented on #25945
@JonHanna you are right, of course, it wasn't the best example since it is not exactly what I was proposing either. It isn't `std::partition` either so perhaps the name `Partition` is not ideal either... instead it is in fact `std::partial_sort` (not sure why I forgot that 😦) that could be used as a blueprint for similar functionality in C# i.e. something like:

[code]
`PartialSort` rearranges ele

[2018-01-02 09:36] shravan2x commented on #25800
@Priya91 @karelz I'm not able to reproduce this on a vanilla VM. The issue still occurs on my existing machines. I will try to update to 2.0.4 and report back.

[2018-01-02 09:53] ayende commented on #26061
A common scenario for us is that the user generates the certificate via Let's Encrypt, so we handle the whole thing. In fact, that is the most likely scenario for a developing setting up a local instance is just that, and then we may need to walk the chain and add it.

@bartonjs Make perfect sense with regards to not getting into recursive HTTPS. And thanks for the note on the blocking of port 80

[2018-01-02 10:11] ayende commented on #26061
I've tracked this further and I think that this is quite serious. The same code path is invoked when using `SslStream` as a server and as a client.
That means that if you have a server that is using client certificate authentication, a malicious user can cause the server to make a request on any SSL handshake.
That request is done in an synchronous manner and hold up the thread, the user can setup

[2018-01-02 10:21] ayende commented on #26061
A mitigation here is that the `X509Chain` already _has_ a timeout property that will avoid this, but this is not used in this particular code path and there is no way to set it from the outside.

[2018-01-02 11:12] battlebottle commented on #22940
This API looks really great. There is one thing I would like to see changed however. Could we support a software fallback?

I know I'm very late to this discussion, but I'd like to make the case for this.

I can see the momentum in this discussion is for not having any software fallback, but I don't see any in-depth discussion of the pros and cons of this. For pros, I see someone mention that any

[2018-01-02 12:04] gfoidl commented on #26112
Is this then still the meaning of __Repeat__? In a sense of "repeat the (exactely) same value count times". I mean no.

In your proposal the factory should also take the current index into account -> `Func<int, TResult> factory`. How would you else create instances of different types (i.e. based on what decision)?

So _Repeat_ sounds like a wrong name for the method. It's just a factory for creati

[2018-01-02 12:51] aobatact commented on #26112
What I wanted to have is like
[code]
I know there is a way like `Enumerable.Range(0,count).Selcet(x=>new A()); ` but I thought it would be useful and faster to have a direct way.

[2018-01-02 13:21] wspait commented on #26081
We were able to debug and found it was throwing the exception at the Initialize_f line as you expected. It seems like it was unable to load both "GetErrorInfo" and "Initialize" from the library.

The problem was resolved after upgrading .NET Framework to 4.7.02558. The initial version was 4.5.51641.

Thank you for the help @danmosemsft

[2018-01-02 14:12] JonHanna commented on #26112
The `Enumerable` part of this is a duplicate of #13909

[2018-01-02 14:13] MikeDempseyFL commented on #5982
The built in .NET Core logging for sockets is basically useless since that 1024 byte limit is built into the logging code without any way to override it. (It is defined as a constant) The issue is not just a PerfView issue.

In order to get around this we have added our own EventSource to our data provider and configure the buffer limit from a config file. This allows us to see the full contents o

[2018-01-02 14:58] jemiller0 commented on #5982
I think they should port over the same trace source logging that is in .NET Framework. It has been working fine for years. No need to implement a new solution that doesn't work.

[2018-01-02 16:14] Ben-Pattinson commented on #15570
I can confirm that the Algorithms version has now mysteriously changed to 4.0.0.0, this is even though I have 4.3.0.0 referenced .... which is hilarious. Might I suggest that the pranksters responsible change the public key token next, everyone loved it when log4net did that!
The changes suggested by tofutim above work around the issue, but there's no way we should be battling this!

[2018-01-02 16:29] tofutim commented on #15570
Don't give them any ideas!

I wonder if this is related at all to Versions, AssemblyVersions and
FileVersions, and msbuild issues. I recently ran into this using
VS2017-style netstandard projects. If you 'msbuild /t:build /p:Version=...'
it changes the nuget package version but not the AssemblyVersion or
FileVersion. You have to 'msbuild /t:restore,build /p:Version' to get it to
actually change th

[2018-01-02 16:46] KrzysztofCwalina commented on #26104
I don't think string overload makes sense on Utf8Formatter. First it's not really formatting, and so the StandardFormat parameter does not make much sense. Secondly, strings are variable length, and so I think a Try API is a bit of pit of failure. I think much better low level API for string encoding would be similar to the Base64 encoder which allows callers to do partial encoding (when output bu

[2018-01-02 16:51] KrzysztofCwalina commented on #15687
@pakrym has changed [it](https://github.com/dotnet/corefxlab/blob/master/src/System.IO.Pipelines/System/Threading/Scheduler.cs) to an abstract class. Thanks!

[2018-01-02 16:58] karelz commented on #25800
I don't think 2.0.4 will make any difference for your case.
It seems to be configuration/environmental problem. Until you can identify what exactly that is or someone else is able to reproduce the problem, sadly there is nothing we can do on our side :(

Closing for now. Feel free to reopen if there is actionable repro / more people hitting the problem.

[2018-01-02 16:58] #25800 closed

[2018-01-02 17:06] karelz commented on #26112
Let's first make the Linq extension, then we can consider the Array methods.
Duplicate of #13909.

[2018-01-02 17:06] #26112 closed

[2018-01-02 17:12] davidsh commented on #25773
@weshaggard needs to answer this question.  He is the subject matter expert on this topic.

[2018-01-02 17:12] Priya91 commented on #26078
@niemyjski Can you provide more information on the runtime environment, which OS, which version of .NET, etc.

[2018-01-02 17:24] shravan2x commented on #25800
@karelz One thing is that I have I side-by-side installation of dotnet 1.1.4 on the VMs with the issue. I'll try removing to see if that makes a difference.

[2018-01-02 17:37] Clockwork-Muse commented on #26061
false
With client certificates, you can completely disable revocation checking, or make it do offline checking.  You could also instead implement custom chain validation that does things like make sure the chain is trusted before trying the CRL (the current method is going to get _all_ the information, I would assume).  Since you wouldn't accept an unknown CA for client certificate validation any

[2018-01-02 17:45] pjanotti commented on #26081
Thanks for the investigation @wspait, so there is a hard dependency on the version of the .NET Framework. I will leave this open for now while we look at investigating what we can do for these lower level versions.

[2018-01-02 17:47] danmosemsft commented on #26081
@pjanotti you might want to sync back your .NET Framework enlistment to roughly 4.5 era and see what the S.Management code looked like -- perhaps it wasn't using "GetErrorInfo" and "Initialize".

The Initialize_f call should be inside the null check, but we would be guaranteed to fail very soon after if it wasn't called.

[2018-01-02 17:48] weshaggard commented on #25773
@AlexGhiondea @joperezr there seems to be a number of issues related to the tooling and support package throughout this thread. Can you please make sure that your current tooling fixes handle these cases?

[2018-01-02 17:49] karelz commented on #25676
Failed also in official Helix run 20171230.01 - (part of "catastrophic failure" - see [logs](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171230.01/workItem/System.Net.Http.Functional.Tests/wilogs)):
[code]

[2018-01-02 17:52] danmosemsft commented on #25855
If a common use case would be to terminate process trees, then exposing GetParentProcessId() might lead callers to the "pit of failure" since they will not necessarily know to check the start time.

It also suggests that perhaps we should have an API to terminate a process tree "correctly"

[2018-01-02 17:59] #17299 closed

[2018-01-02 18:16] dmetzgar commented on #24410
Sorry @BlaiseD, forgot to respond to this earlier. The problem with BizTalk is cost. About $11K per core for Enterprise. I think for people that want to use the System.Workflow rules in .NET Core/Standard, your repo and NuGet packages work fine. I encourage you to add issues to the repo so other people know how to contribute.

[2018-01-02 18:19] terrajobst commented on #25846
It's a bit odd that the existing `Equals(StringBuilder)` does an ordinal comparison -- that's inconsistent with how string comparisons work (defaults to current culture). Hence, it seems acceptable to have an `Equals(string)` that is ordinal only too. Adding `Equals(string, StringComparison)` would be doable too, but the only efficient one would be ordinal (all others likely have to enumerate char

[2018-01-02 18:26] mikedn commented on #25846
`String.Compare` defaults to the current culture but `String.Equals` does not, it uses ordinal by default.

[2018-01-02 18:26] terrajobst commented on #25671
Looks good as proposed; my only question is whether we need/should expose this on `TypeInfo` as well?

[2018-01-02 18:29] bartonjs commented on #16493
API Proposal:

[code]

[2018-01-02 18:29] danmosemsft commented on #25846
OK, well we will be consistent with String's inconsistency :)

[2018-01-02 18:32] terrajobst commented on #1593
Implementing `IE<X>` would be fine, but this doesn't buy you anything for avoiding the cast in the `foreach` scenario as the compiler will still call through the existing non-generic `GetEnumerator()` method.

Am I missing anything?

[2018-01-02 18:37] mikedn commented on #25846
Kind of late to the part but shouldn't it be `bool Equals(ReadOnlySpan<char>)`? :grin:

[2018-01-02 18:38] safern commented on #26085
@Guru-Soft thanks for the information. Could you please push a branch with the repro also so that I can take a deeper look of what is happening?

[2018-01-02 18:43] terrajobst commented on #16493
Looks good as proposed.

[2018-01-02 18:43] danmosemsft commented on #25846
Post script from API review thanks to @mikedn : yes, we want:
[code]
But, if @KrzysztofCwalina can confirm that the cast from string to ReadOnlySpan<char> has negligible ovehead, the string overload can be omitted.

[2018-01-02 18:48] karelz commented on #25846
cc @stephentoub as he might have an opinion

[2018-01-02 18:54] karelz commented on #25800
@shravan2x there may be even more machine-wide configurations. Removing things one by one is usually good strategy to understand how to build a new VM from scratch to reproduce it. If you succeed, just post more details and let us know, or reopen the issue.

[2018-01-02 19:03] BlaiseD commented on #24410
@dmetzgar - thanks for the heads-up.  I hadn't realized that this was in the 2.1 milestone.  That's great news.  I had created a separate not-online-yet repo with a different namespace as previously recommended.  I'll double check that the code is otherwise identical.

[2018-01-02 19:06] stephentoub commented on #25846
My $.02: Compared to the other overheads here, the cast should be negligible and we should not add the string overload until someone proves otherwise and that it's actually valuable.

[2018-01-02 19:19] ayende commented on #26061
@Clockwork-Muse Did I miss something with disabling revocation checking?
Here is the code from the repro I sent.

[code]

At least on the face of it, it looks like it is trying to disable certificate revocation, but it is still doing that.
Is there something else I also need to do to avoid this?

As for why this worth bothering with? The answer is timeout, or to be rather more exact, lack thereof.

[2018-01-02 19:21] eerhardt commented on #25024
@joperezr - there are 2 issues here.  The first one has nothing to do with conflict resolution.

### Issue 1:

Adding `System.Memory` as a NuGet package to a new UWP app doesn't let me reference the `System.Span<>` type.  `System.Memory` says it supports `netstandard1.1`, which UWP 10.0 implements.  I stated the reason why this doesn't work above:

However, this should work because we are saying t

[2018-01-02 19:27] wtgodbe commented on #25906
@danmosemsft it looks like ReflectionTypeLoadException has no ToString() method. Instead the String is created here - https://github.com/dotnet/coreclr/blob/master/src/vm/invokeutil.cpp#L771, in this cpp utility file. It is defined here https://github.com/dotnet/coreclr/blob/122acaaad78cefbed71bdb137505f70552e13265/src/mscorlib/Resources/Strings.resx#L3286. The AggregateException is also defined i

[2018-01-02 19:31] karelz commented on #25846
FYI: The API review discussion was recorded - see https://youtu.be/dOpH6bUNbcw?t=62 (15 min duration) + few ad-hoc mini discussions later on:
* https://youtu.be/dOpH6bUNbcw?t=1420 (2 min)
* https://youtu.be/dOpH6bUNbcw?t=2049 (3 min)
* https://youtu.be/dOpH6bUNbcw?t=2746 (3 min)

[2018-01-02 19:32] karelz commented on #25671
FYI: The API review discussion was recorded - see https://youtu.be/dOpH6bUNbcw?t=992 (8 min duration)

[2018-01-02 19:32] alexsandro-xpt commented on #11897
@mj1856 thank you for reply, I tell `Antarctica/Troll` as an example of that I can't trust in TimeZone Convertion between Linux and Windows and I knowing why. I was looking for some kind of conversion but like you said, It's more about Windows limitation and how it is implemented today.

So, to solve my question temporarily I'm using fixed IANA TimeZone.
Thank you for attention.

[2018-01-02 19:33] karelz commented on #1593
FYI: The API review discussion was recorded - see https://youtu.be/dOpH6bUNbcw?t=1567 (8 min duration)

[2018-01-02 19:33] karelz commented on #16493
FYI: The API review discussion was recorded - see https://www.youtube.com/watch?v=dOpH6bUNbcw (2 min duration)

[2018-01-02 19:36] karelz commented on #17135
FYI: The API review discussion was recorded - see https://youtu.be/dOpH6bUNbcw?t=2391 (5 min duration)

Key takeaways:
* We need @jkotas in the room next time, to talk about motivation details, etc.
* Unloading opens door to security vulnerabilities - either the delegates have to detect unloading, or we should not allow unloading at all

[2018-01-02 19:42] rmkerr commented on #23783
Hey @richardprobert, can you give any more details on the version of .NET Core you were running when you encountered this issue? Looking into it, I have been unable to reproduce the issue with either the 2.0.4 release, or with the latest nightly build. This issue definitely exists in the current .NET Framework releases, and I'd really like to track down whether or not it occurs in .NET Core as wel

[2018-01-02 19:43] karelz commented on #24410
@BlaiseD the 2.1 milestone means that this issue (question) was closed during 2.1 time-frame. There is no work associated with it for 2.1 - at least not as part of this issue. Given that there is no plan to add any code to CoreFX repo, I would recommend to find better place for follow up discussions.

[2018-01-02 19:43] Drawaes commented on #25676
The above PR is still waiting. Without that in and some time (due to
intermittent failure) we can't 100% tell if that fixes it.

[2018-01-02 19:49] danmosemsft commented on #25906
@wtgodbe if you add a ToString() to RTLE analogous to AE's, by the time it is called, the RTLE objects' LoaderExceptions will be populated right? It can just walk through those. Shouldn't need any work on the native side?

[2018-01-02 19:58] karelz opened #26117 "Test failed: System.Net.Http.Functional.Tests.CancellationTest / GetAsync_ResponseContentRead_CancelUsingTimeoutOrToken_TaskCanceledQuickly"
## Types of failures

20171231.01 build:
[code]

## History of failures

Day | Build | OS | Details
--- | --- | --- | ---
12/8 | 20171208.01 | Win7 |
12/31 | 20171231.01 | Win7 | [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171231.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional

[2018-01-02 20:13] danmosemsft commented on #25846
OK so for explicitness, we only need
[code]

[2018-01-02 20:14] jkotas commented on #17135
Happy to come to the next API review meeting - send me invite.

This was answered in https://github.com/dotnet/corefx/issues/17135#issuecomment-353719848 by @qmfrederik

This API is proposed `System.Runtime.InteropServices` namespace. Every other method in this namespace turns into security vulnerability when used incorrectly. If you are using the Dispose method, you have to know that it is safe t

[2018-01-02 20:17] wtgodbe commented on #25906
That was my thinking, I just wasn't sure if there was a particular reason why the ToString-y behavior was being handled on the native side instead of in RTLE.cs. Would you think any of that native code would become redundant if I added a ToString()?

[2018-01-02 20:19] tarekgh commented on #24559
Are there any locales currently support such regions? if not, then I would ask you to report your request to ICU to add locales support such regions. Otherwise, you may create your own custom locale (as I mentioned in my previous comment) but such regions would not be portable on the machines don't have your custom locale.

[2018-01-02 20:21] danmosemsft commented on #25906
Some exceptions, like RTLE, are essentially thrown from native code. In those cases they are constructed in native rather than thrown from managed code. As far as I know it isn't any more interesting than that. After they are constructed they behave just the same either way.

[2018-01-02 20:25] wtgodbe commented on #25906
I see. I am still unclear on if https://github.com/dotnet/coreclr/blob/46ab1d132c9ad471d79afa20c188c2f9c85e5f20/src/vm/commodule.cpp#L1110 or any other code in that file becomes redundant after adding a ToString(). Is it sufficient to just add a ToString() to RTLE.cs, not change anything else, and confirm locally that the exception looks how I expect it to?

[2018-01-02 20:38] KennethLundberg commented on #25895
@ahsonkhan I'm not sure what the etiquette is for this. but I was finally assigned this task. however I stopped working on it a few days ago as I saw AlexG's commit referenced earlier. I'm not sure how things are resolved for these matters, so should I commit my similar changes, or let Alex proceed and give the task to him?

[2018-01-02 20:48] BlaiseD commented on #24410
Ah - that makes more sense. Thanks @karelz .  Sorry for misunderstanding.

@dmetzgar - I'll ping you from the new repo soon as it's posted (to Github) and published (to Nuget).

[2018-01-02 20:52] Priya91 commented on #26025
Closing due to lack of response.

[2018-01-02 20:52] #26025 closed

[2018-01-02 21:00] AtsushiKan commented on #25254
@ahsonkhan - is there still a reason for this to be open?

[2018-01-02 21:10] niemyjski commented on #9728
Any updates on this issue when running on macOS?

[2018-01-02 21:24] stephentoub commented on #25254
Yes, tests are still disabled against it.

[2018-01-02 21:36] karelz commented on #9728
@niemyjski it would be best to not continue discussion on closed issues - we do not monitor them in general.
For this particular case, I am not sure what you're asking for -- there have been several spin offs, none is tracked by this issue anymore.

[2018-01-02 21:49] Priya91 commented on #24407
I checked the client certificate echo server, it doesn't prompt renegotiation if the client cert is not sent, and does a normal handshake when client cert is done. I'm not sure what you mean by sending an http request, there's no TLS/SSL with that..

[2018-01-02 22:11] AtsushiKan commented on #25254
Can't repro this locally.

Was it hung in one of those two tests or was the hang appearing somewhere else as a result of these two tests existing?

These two tests are the only ones performing two big allocations in a single test, but I can't come up with a theory of why that would be problematic. They're also among the hoggiest tests (8Gb) - could be they're just causing random OM exceptions in s

[2018-01-02 22:25] AtsushiKan commented on #25895
cc @joshfree

Hi @AlexG2017 - were you planning to turn your commit into a PR for this in the next few days?

This issue got reassigned to me because it's internal priority got bumped up and we'd like to close in the next week or so. If you can't get to it in the next few days, that's no problem - I can grab it or reassign it back to Kenneth - I just need to know your plans. Thanks!

[2018-01-02 22:30] pjanotti commented on #26081
@danmosemsft you are correct: both `GetErrorInfo` and `Initialize` were added together. We can make it work without them but I am worried about test coverage in this case. So at this point my preference isto throw PNSE and say that we require a higher version of the .NET Fx.

Let me ponder a bit about it and look more at the code.

[2018-01-02 22:37] ahsonkhan commented on #25895
There is already a PR out for this (in review):
https://github.com/dotnet/corefx/pull/26100

[2018-01-02 22:40] AtsushiKan commented on #25895
Ah, ok. Looks like it's approved and CI is green too so I expect it'll be merged shortly.

[2018-01-02 22:55] benaadams commented on #25254
Can it use a MemoryMappedFile  instead of allocating 8Gb of RAM? Used to give my computer a fit when it was in corefxlab and I ran it:

![image](https://user-images.githubusercontent.com/1142958/34503380-e31b57de-f00f-11e7-8abc-79c254b0d73f.png)

Can the tests potentially run in parallel so need 16Gb?

[2018-01-02 23:03] benaadams commented on #25254
Everything would die on the test with nothing running after; last output when details output was on was:
[code]

[2018-01-02 23:04] Drawaes commented on #24407
No you need to connect as TLS initially. Should not need a certificate. Then you make an http request over the TLS channel for the page that has client certs. At this point it will send you a hello again (without dropping the TLS and encrypted still) but this time its asking for a client cert.

Basically using openssl I did

[code]

This will then connect and it's waiting for input. I just copied

[2018-01-02 23:06] benaadams commented on #25254
Everything would die on the test with nothing running after; last output when details output was on was:
[code]
My local experience was Windows was very unhappy working swap for a single contiguous block of memory larger than available memory. It did eventually complete after total system unresponsiveness

[2018-01-02 23:14] Drawaes commented on #24407
The reason the above works is because the server itself doesn't seem to require a cert, but that page does so you can connect without the cert, and then it forces you to provide a cert when you hit the page.

[2018-01-02 23:16] Drawaes commented on #25254
Yeah but it also doesn't run in isolation, so it truly kills the test run.

[2018-01-02 23:21] AtsushiKan commented on #25254
Are we reasonably confident a MemoryMappedFile for 8gb won't cause the same agony as a 8gb memory allocation?

The AllocationHelper serializes big memory tests that uses it so they shouldn't be running in parallel.

[2018-01-02 23:41] benaadams commented on #25254
Don't know; however it only pretends to be contiguous memory and files can often be far larger than RAM - so hopefully the disk cache will be more used to it than the swap with actual live allocated memory

[2018-01-02 23:42] danmosemsft commented on #24744
No work planned for 2.1 currently.

[2018-01-02 23:43] tempworks-paul commented on #25717
I just hit this bug today using microsoft/aspnetcore:2.0.4-nanoserver-1709. Is there any confirmation of a pending bug fix or a workaround?

[code]

[2018-01-02 23:45] Priya91 commented on #24407
So, I tried to simulate that repro with .NET APIs, and it does result in a renegotiation request. But looks like there's a bug, results in ```NullReferenceException```.

[code]

outputs,

[code]

[2018-01-02 23:46] Priya91 commented on #24407
It could be that my test is wrong, or there's a product bug.

[2018-01-02 23:53] danmosemsft commented on #24445
I'm surprised TrimExcess came up again due to the issues we discussed earlier with agreeing on the algorithm/goals. I think the scenario is not perf but size. If you are holding a large dictionary that may have had most of the items removed (or many such smaller dictionaries) and you want to save memory.

As a straw man what about making TrimExcess equivalent to newing up a new Dictionary passing

[2018-01-03 00:21] weshaggard commented on #26014
I'm not aware of any plans but I agree it would be nice, although it is a fair amount of data collection and coordination with our releases which are generally handled by our PM team @leecow @richlander @terrajobst.

[2018-01-03 00:43] benaadams commented on #24445
It makes sense; though 99% of the time TrimExcess will probably be not a good function to call; however I can now see a few corner cases where it might be useful.

I have been tweaking Dictionary recently https://github.com/dotnet/coreclr/pull/15419; however I got the impression from the review that adding these apis was already an assigned task so I'll not do it :)

[2018-01-03 00:46] danmosemsft commented on #24445
@benaadams right, @maryamariyan already started on this one ...

[2018-01-03 01:04] karelz commented on #26014
Maybe all we need to do is to update the FWD link to point to the latest? Would that be sufficient middle ground?

[2018-01-03 01:18] #16493 closed

[2018-01-03 01:18] CarlosOnline commented on #26084
Another missing issue: **System.Runtime.Remoting** fails to load from **.netcore 2.0**.  Works from .netcore 1.1.

[2018-01-03 01:24] weshaggard commented on #26014
That would be a step in the right direction but it sounds like what folks are after are release notes for individual packages which I don't think we really maintain currently.

[2018-01-03 01:24] weshaggard commented on #26084
Do you have a sample .NET Core 1.1 application where these work? I wouldn't expect either of them to work on .NET Core 1.1 either.

[2018-01-03 01:38] wtgodbe commented on #281
Resolved by https://github.com/dotnet/corefx/pull/25978

[2018-01-03 01:38] #281 closed

[2018-01-03 02:04] eschneider999 opened #26121 "Improve System.Data.SqlClient Error messages"
I would like to improve some error message, why it has never been done "Who knows"

example: String or binary data would be truncated.

Include the column name or parameter name would be helpful right?

There's a few others that have been driving us devs nuts for years...

Currently I'm targeting Sql Client and I think I have a fix for it, but can't figure out how to test it. The tests in the sln

[2018-01-03 02:42] IEvangelist commented on #26023
@JonHanna

I prefer this being an extension. I am not sure I like the idea of having a `Deconstruct` method show up on intellisense for any nullable instance. This would mean that this code would be possible:

[code]

With an extension method this is at least more hidden away from the consumer, yeah?

[2018-01-03 02:46] eschneider999 commented on #26121
tried the f5 run of System.Data.SqlClient.Tests:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0006	Metadata file 'D:\Dev_Temp\corefx-master\bin\AnyOS.AnyCPU.Debug\RemoteExecutorConsoleApp\netstandard\RemoteExecutorConsoleApp.exe' could not be found	System.Data.SqlClient.Tests	D:\Dev_Temp\corefx-master\src\System.Data.SqlClient\tests\FunctionalTests\CSC	1	Active

[2018-01-03 03:17] morganbr commented on #17135
Dispose is not normally an unsafe operation, rather tooling strongly pushes developers toward using it. There's a difference between allowing something unsafe and encouraging it. Do we really have to support unloading at all? If this is just a way to better parameterize P/Invokes, I don't see a need to support it and we can avoid the problem.

[2018-01-03 03:53] jkotas commented on #17135
Dispose is often unsafe operation for *interop* types: `System.Runtime.InteropServices.CriticalHandle.Dispose`, `System.Runtime.InteropServices.GCHandle.Free` or recently introduced `System.Buffers.MemoryHandle.Dispose` are about as unsafe as this one - you have to make sure that the stuff they are tracking is not in use.

I think it should be supported for completeness.

[2018-01-03 04:01] jkotas commented on #17135
We can consider calling the method `Free` to make it clear that it is not an ordinary safe Dispose.

[2018-01-03 04:12] jkotas commented on #17135
And/or we can rename the type to `NativeLibraryHandle` to make it clear that it is just a handle to the library.

[2018-01-03 04:20] Clockwork-Muse commented on #26061
I think you might be: I can't repro.  Note that we're not necessarily dealing with just revocation, but verifying the entire chain.  Personally, I think what's happening is that your individual hosts are still validating **their own certs**, not the incoming ones.

Try these projects on for size (you'll have to update the paths for the included certs and location you put the project, but I don't k

[2018-01-03 04:40] morganbr commented on #17135
Would it make sense to make it derive from ```SafeHandle``` and to have the delegate go through an extra indirection that makes it keep the ```SafeHandle``` alive? That would make it safe as long as you only use the delegate. Changing ```GetSymbolAddress``` to ```UnsafeGetSymbolAddress``` (or ```DangerousGetSymbolAddress```) would likely match our other standards if the delegate was safe.

[2018-01-03 05:00] jkotas commented on #17135
I have no problem with that.

What kind of indirection you have in mind? There are number of different options, none of them is complete solution. The best we can do is to ref-count on the way in and on the way-out, that would kill the performance of this - nobody would want to use this wrapper. And even that does not completely guarantee safety because of it ignores the library state. There can b

[2018-01-03 05:11] morganbr commented on #17135
I don't have the entire picture due to signature matching, but assuming we have some way to generate the arbitrary signatures this API needs anyway, something like pointing the delegate to the ```NativeMethod.Invoke``` method below.

[code]

Interop code could probably do something roughly equivalent in the VM if that's more convenient on CoreCLR.

I agree it could still be a problem if a call kic

[2018-01-03 07:25] Sunny-pu opened #26122 "Test failure: System.Diagnostics.Tests.FileVersionInfoTest / FileVersionInfo_RelativePath_CorrectFilePath"
The test System.Diagnostics.Tests.FileVersionInfoTest.FileVersionInfo_RelativePath_CorrectFilePath has failed.

Configuration: osx10.12_debug

Details: https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug/4948/testReport/System.Diagnostics.Tests/FileVersionInfoTest/FileVersionInfo_RelativePath_CorrectFilePath/
MESSAGE:
[code]
[code]

[2018-01-03 08:21] ayende commented on #26061
The sample code I sent was actually on _Windows_, where the problem also exists and reproduces.
I agree that the issue is not just with revocation.
I'm testing now on the Linux box.

[2018-01-03 08:32] ayende commented on #26061
Also, I'm not sure if this is related, but in the certs, you have:
[code]

While the Let's Encrypt cert has:

[code]

I'm guessing that there might be an issue here with invalid URL that might contribute?

[2018-01-03 08:46] dotnet-mc-bot opened #26123 "Test failure: System.Security.Cryptography.Tests.Asn1.SimpleDeserialize/Choice_CycleRoot_Throws"
Opened on behalf of @Sunny-pu

The test `System.Security.Cryptography.Tests.Asn1.SimpleDeserialize/Choice_CycleRoot_Throws` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Security.Cryptography.Asn1.AsnSerializationConstraintException)\r
    Actual:   typeof(System.InvalidOperationException): There is no metadata token available for the given member.

        Stack Trace:

[2018-01-03 08:48] ayende commented on #26061
On Linux, with outgoing 80 port blocked (and without `SSL_CERT_FILE`), hang.
With port 80 unblocked, no hang.

In both cases, the client is using cert: `unknown-only.pfx`

With the `SSL_CERT_FILE` set to the `ca-chain.cert` file, there is no hang.

However, what is the equivalent of doing this on Windows?

Also, this means that I've to set it up on my Linux box (easily done, of course).
I don't re

[2018-01-03 08:53] ayende commented on #26061
Okay, testing further on Linux shows that this isn't actually a workaround.
Only for _that_ particular certificate.

When I tested the certificate with:

[code]

Using the `SSL_CERT_FILE`, it is still haning.

[2018-01-03 10:17] Guru-Soft commented on #26085
@safern: Sorry, I am unable to follow your last comment. I have no code to push here, if that's what you are asking. All other info is already provided above.

[2018-01-03 11:08] niemyjski commented on #9728
They shouldn't be closed if they are still an active issue ;) There are issues when you have this handler registered on macOS...

[2018-01-03 11:10] niemyjski commented on #26078
Microsoft Azure Web Apps, ASP.NET Core 2.0.3 (Code in repo is exactly the code I'm running, can also attach ci artifacts that get deployed). Wish I had more info on how this is triggered. Would be awesome if pdb's could also be deployed :)

[2018-01-03 11:11] niemyjski commented on #12064
I get that, not sure why it wasn't ported since it had a managed implementation and marked obsolete. We moved to data protection api but the migration isn't easy.... It would be much easier if there was options once you are on .net core.

[2018-01-03 11:11] anjmao commented on #23009
@wfurt Hi, I made all tests on docker, but was getting similar results running on mac. You should be able to reproduce it very easily but cloning repo and running docker compose. Steps are described in README.md, but let me know if something is not working for you :)

[2018-01-03 12:17] henkmollema commented on #25102
This problem seems to reproduce on Debian as well. However linking `libdl.so` to `libdl.so.2` doesn't work.

[2018-01-03 12:45] davidfowl opened #26124 "DangerousCreate throws NullReferenceException if obj is null"
Was using System.Memory (4.5.0-preview1-26025-02) on .NET Core 2.0 (not using the portable span).

[code]

[code]

/cc @ahsonkhan

[2018-01-03 13:18] stephentoub commented on #9728
@niemyjski, what is it you're concerned is still active?  With the default libcurl on macOS, ServerCertificateCustomValidationCallback is simply not supported with arbitrary delegates.  However, the issue you originally opened was using a delegate that always returned true, and that has been fully addressed via the DangerousAcceptAnyServerCertificateValidator member that was added in .NET Core 2.0

[2018-01-03 13:19] ayende opened #26125 "On Linux, cannot create PFX with private key if has more than single cert in collection"
Sample code:

[code]

The `output` is a pfx value that has a _single_ certificate in place, the second one, without the private key.

I tracked it down to this piece of code:
https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/ExportProvider.cs#L75

In particular,  this loop:

https://github.com/dotnet/corefx/blob/d7dd6a

[2018-01-03 13:19] ayende commented on #26125
Note that the same code on Windows generates the PFX properly

[2018-01-03 13:26] jchannon commented on #9728
What's the 2.1 change you mention? Any docs etc?

On 3 January 2018 at 13:19, Stephen Toub <notifications@github.com> wrote:

[2018-01-03 13:27] stephentoub commented on #9728
It's not done yet.
https://github.com/dotnet/corefx/tree/master/src/System.Net.Http/src/System/Net/Http/Managed
Search issues for "ManagedHandler".

[2018-01-03 13:38] weitzhandler commented on #25762
Sounds good, but at least the basic functionality for conversion between the various types of comparisons and equalities should be part of the BCL.

[2018-01-03 14:26] #26067 closed

[2018-01-03 14:30] saluton-mundo opened #26126 "Configuration - Invalid file paths"
To reproduce create a pfx file and add it your machine. Make a note of where you hold it on the file system.

For simplicity I just created a Test.pfx within a directory named "Test" on my machine's D drive. I inspected the directory permissions and made sure the read access is permitted. I opened a new Project targeting Core 2.0.1 with Visual Studio 2017 running as administrator (full env details

[2018-01-03 14:31] jnm2 commented on #12064
Shipping an encryption implementation is a huge liability.

[2018-01-03 14:48] niemyjski commented on #12064
Could have been marked as deprecated and not supported and even put in a shim / compat library. This is really a huge pain point for those converting to .net core.. As they now have to figure this out once they hit this (it compiles) and then figure out the issue and then back port a migration to legacy code.

[2018-01-03 15:04] JonHanna opened #26128 "How to test WinRT types and dynamic?"
Of the uncovered code in Microsoft.CSharp, quite a bit involves WinRT types, which I don't know anything about. Does anyone know how to go about testing these?

(@jamesqo do I remember you having a question about WinRT types and corefx on stackoverflow, or am I was that someone else?)

[2018-01-03 15:23] jamesqo commented on #26128
@JonHanna I don't think I can be of help here, sorry.

[2018-01-03 15:56] jkotas commented on #26124
DangerousCreate expects `o` to be non-null. You should not be using this method if there is no wrapping object. Use constructor that takes `void*, int` instead.

[2018-01-03 15:57] jkotas commented on #26124
DangerousCreate expects `o` to be non-null. You should not be using this method if there is no wrapping object. Use constructor that takes `void*, int` instead.

[2018-01-03 15:58] karelz commented on #12064
Maybe we should mark it as compat difference in https://github.com/dotnet/platform-compat?

[2018-01-03 16:23] alexdrl commented on #23830
We're having an issue with a Xamarin project, which as we added System.IO.Packaging 4.4.1 nuget package dependency, the reference is resolved as the ref/netstandard1.3 DLL, a reference assembly. It seems that because of that, the Xamarin app fails to start because this DLL does not get packaged, and so the app fails to start with this common xamarin error https://forums.xamarin.com/discussion/6358

[2018-01-03 16:38] bartonjs commented on #21833
@jariq When the ASN.1 types become public API they will become public only for netcoreapp; and then would appear in .NET Framework at some later point; but it won't be applicable retroactively to existing .NET Framework versions.

The code for the reader/writer/serializer/deserializer should work on .NET Framework (since it was built using only netstandard references) if you want to copy it into a

[2018-01-03 16:54] eerhardt commented on #25792
Thanks @mikedn.  #1849 answers this question, and along with the description of the PR that changed from fifo to sockets - #6833.

Closing as this is answered.

[2018-01-03 16:54] #25792 closed

[2018-01-03 17:15] Clockwork-Muse commented on #26061
With port 80 unblocked, no hang.

Yeah, but it's not hanging due to the **client**, it's hanging due to the **server** checking its own chain (although I'll verify that by getting a better URI/reverify that that URL should be used anyways).  That's because setting `SSL_CERT_FILE` is equivalent to putting the certificates into the Windows trust store (although for that process only - at least I'm a

[2018-01-03 17:22] weshaggard commented on #26085
@guru-soft are you manually picking up the library from the nuget package? Or are you using the dotnet cli tooling to build your application? I highly suggest you use the tooling as it should select the correct asset for you but if you need to pick it up manually for some reason you likely want the version under "runtimes\win\lib\netcoreapp2.0".

[2018-01-03 17:28] Petermarcu opened #26129 "System.IO.Packaging 4.4.0 in .NET Framework depends on .NETStandard.Library"
@msmolka commented on [Thu Aug 31 2017](https://github.com/dotnet/core/issues/919)

# System.IO.Packaging 4.4.0 in .NET Framework depends on .NETStandard.Library

I'm trying to upgrade System.IO.Packaging in my old project .NET Framework 4.6.2  from version 4.3. However it tries to install a lot of useless dependencies already available inside framework, because it depends on  .NETStandard.Library

[2018-01-03 17:33] Guru-Soft commented on #26085
@**weshaggard**:  Thank you, picking up manually from "runtimes\win\lib\netcoreapp2.0" seems to resolve the issue (first look). I will check thoroughly and confirm (close the comment)

[2018-01-03 17:36] danmosemsft commented on #26121
@eschneider999 did you first do "build" and "build-tests" from the root of corefx? You need to do that once before any builds will work at project level.

[2018-01-03 17:38] danmosemsft commented on #26121
If you haven't already, take a look at https://github.com/dotnet/corefx/tree/master/Documentation/building particularly https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md

[2018-01-03 17:39] weshaggard commented on #26129
For tracking purposes https://github.com/dotnet/corefx/issues/25171 is similar in nature in that more dependencies are showing up because we switched to referencing NETStandard.LIbrary package instead of the individual packages.

@JCPuerto it looks like that error is a different issue, it appears as though a restore was not done. If you still have the issue please file a separate issue and I can t

[2018-01-03 17:43] danmosemsft commented on #26122
@wtgodbe I can't see how kernelbase.dll is supposed to get onto this OSX machine? How did this get through CI?

[2018-01-03 17:43] Priya91 commented on #26078
@niemyjski There's a lot of variables here, so again it would be great if you can provide a small repro.

Also, are you able to repro this issue outside of azure web apps? Can you try this on a separate vm and see if this happens under the same load? The stack shows operation cancelled because it got aborted, maybe the other end aborted or the azure web apps service aborted connections and this ob

[2018-01-03 17:44] danmosemsft commented on #25102
@henkmollema what version of .NET Core are you using? @qmfrederik 's change above would be in master, not released yet.

[2018-01-03 17:46] danmosemsft commented on #26121
By the way, I think in general the improvements to error messages that you describe would be welcomed. It is consistent with what we are doing elsewhere to add parameter values into error messages eg for IO errors. I suggest putting up a small PR first to gauge area owner feedback.

[2018-01-03 17:50] tarekgh commented on #25960
I have followed the same steps mentioned above and I cannot repro this on my machine.
In my case, I have used the domain name which my client machine is connected to. And I have used my default credentials (passing username and password as nulls). And I have used the group name as "guests".

my question, does your client machine running this code is domain joined machine? I am trying to understand

[2018-01-03 17:59] #20497 closed

[2018-01-03 18:05] benhysell commented on #25960
@tarekgh In my tests I tested both ways, with a domain joined machine, and a machine off of the domain.  Same results...both failed with the repo test code.

Would the type/configuration of the domain controller come into play here?

[2018-01-03 18:07] KrzysztofCwalina commented on #25801
I am not sure if there are more questions/discussion related to this. If people feel some specific Try APIs should be changed, please reopen.

[2018-01-03 18:07] #25801 closed

[2018-01-03 18:07] kassemsandarusi commented on #1593
@karelz Based on the conversation it sounds like the PR should be closed out till the api is approved. Does this sound correct?

[2018-01-03 18:08] eschneider999 commented on #26121
I did the batch build from the root, also the tools set-up thing prior, but still having issues.

[2018-01-03 18:09] tarekgh commented on #25960
Could be. I'll try with different configuration and look if I can get this repro on our side.

[2018-01-03 18:10] PinpointTownes commented on #25801
@KrzysztofCwalina I don't think the concern was addressed. Could you please re-open? (I can't do it myself).

[2018-01-03 18:14] danmosemsft opened #26130 "Mutex name null causes FailFast in chk on Unix"
This caused a test failure in CoreCLR CI:

[code]

https://github.com/dotnet/coreclr/pull/14181 left a Debug.Assert upstream of the ArgumentException:
[code]

The fix may be to remove the assert (if the resulting error for null is also acceptable). Plus make sure we have for long and null mutex names in both Unix and Windows.

[2018-01-03 18:14] danmosemsft commented on #26130
@ViktorHofer

[2018-01-03 18:15] DeanoFino commented on #24421
@Html.Partial still can cause downtime in 1.1.5. Is there any reason to ever use this as opposed to @await Html.PartialAsync? Its a long road to find out what the issue is :) . Could @Html.Partial be changed to something like @Html.PartialDangerous?

[2018-01-03 18:16] bartonjs commented on #25801
@PinpointTownes What do you feel wasn't addressed?

@GrabYourPitchforks Expressed the concern with OperationStatus-type responses here.  @KrzysztofCwalina quoted the rules-as-written for the Try pattern (which, I'll admit, are different than the "it won't throw" that most people seem to have internalized).

`TryDecrypt` is consistent with `Convert.TryFromBase64String` and many other Spanified meth

[2018-01-03 18:16] karelz commented on #1593
Sounds like a very reasonable plan, if you don't mind. Sorry for the confusion.

[2018-01-03 18:16] danmosemsft commented on #26130
Also please change the exceptions to include the actual name if it's invalid, especially this one

                    throw new ArgumentException(SR.Format(SR.Argument_WaitHandleNameTooLong, Interop.Sys.MaxName), nameof(name));

[2018-01-03 18:25] PinpointTownes commented on #25801
He also said the resulting story was inconsistent, which was confirmed by @morganbr:

It's perhaps consistent with `Convert.TryFromBase64String` but it's inconsistent with `Base64.DecodeFromUtf8`, that - unlike the `Try` equivalent - doesn't throw for invalid input.

IMHO it doesn't make much sense for `Convert.TryFromBase64String` to throw an exception if the input string is malformed, just like

[2018-01-03 18:26] KrzysztofCwalina opened #26131 "Productize ReadOnlyBuffer"
The prototype is at
https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Primitives/System/Buffers/ReadOnlyBuffer.cs

[2018-01-03 18:30] rmkerr commented on #25548
Closing this since the 2.0.x servicing port has been merged.

[2018-01-03 18:30] #25548 closed

[2018-01-03 18:31] saluton-mundo commented on #26126
![image](https://user-images.githubusercontent.com/7760994/34533910-16f0f7fe-f0b4-11e7-8c30-b4e4d9d4cae2.png)

Thanks for the response. Perhaps I am doing something silly here but a / in my case results in

 'The filename, directory name, or volume label syntax is incorrect'

and my config simply has a strongly typed config class with a string with a value of "‪C:/Test.pfx"

[2018-01-03 18:35] karelz commented on #26122
It failed on 16 platforms in Helix official runs as well: [20180103.03](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180103.03/workItem/System.Diagnostics.FileVersionInfo.Tests/analysis/xunit/System.Diagnostics.Tests.FileVersionInfoTest~2FFileVersionInfo_RelativePath_CorrectFilePath)

@wtgodbe can you please look at it ASA

[2018-01-03 18:39] PinpointTownes commented on #25801
If `OperationStatus` is not a good option for `Span`-based methods, then it shouldn't be used at all for consistency.

I'm sure there are also other patterns you could explore. E.g you could add a new type offering an implicit conversion to `bool`:

[code]

[code]

[2018-01-03 18:40] karelz commented on #12228
Another failure in official Helix run: [20171224.02](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171224.02/workItem/System.Transactions.Local.Tests/analysis/xunit/System.Transactions.Tests.AsyncTransactionScopeTests~2FAsyncTSTest(variation:%2012)) on Debian87

[2018-01-03 18:43] wtgodbe commented on #25906
Resolved by https://github.com/dotnet/coreclr/pull/15688

[2018-01-03 18:43] #25906 closed

[2018-01-03 18:43] danmosemsft opened #26132 "IsolatedStorage tests can use too long Mutex name on Unix"
This failure is because the name is too long.

It is using
`@"Global\" + **IdentityHelper.GetStrongHashSuitableForObjectName(pathName))`

apparently this is producing something longer than Unix's GetMaximumPath

It starts with "rootdirectory" which originates in one of the applicationdata folder equivalents
GetStrongHashSuitableForObjectName does a SHA1 hash which is 20 bytes
then ToBase32StringSu

[2018-01-03 18:43] danmosemsft commented on #26132
Fixing https://github.com/dotnet/corefx/issues/26130 should log the max and the actual making this actionable.

[2018-01-03 18:43] #26132 closed

[2018-01-03 18:43] wtgodbe commented on #26122
Looking now

[2018-01-03 18:49] karelz opened #26133 "Test failed: System.ServiceProcess.ServiceController.Tests / * - Cannot delete file in use"
## Type of failures

Build [20180101.02](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180101.02/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.ServiceBaseTests~2FTestOnPauseThenStop):
[code]

All first 3 failures failed in `System.ServiceProcess.Tests.TestServiceProvider.D

[2018-01-03 18:50] wtgodbe commented on #26122
@danmosemsft it isn't the system kernel.dll, it is a temp file named 'kernelbase.dll' added to the current folder to test that .dll search paths aren't kicking in when passing a relative path to GetVersionInfo. It was passing in CI, trying to figure out why it's failing in Helix now.

[2018-01-03 18:55] danmosemsft commented on #24040
Update, Roslyn/MSBuild will use https://app.zenhub.com/workspace/o/dotnet/corefx/issues/25427

[2018-01-03 19:01] danmosemsft commented on #26122
Ah. You are using FileShare.None. All access within the "using" has to be via the handle opened with the FileStream. I'm not sure how this worked in CI.

Instead you should create the temp file yourself (possibly by creating and disposing a FileStream), then delete it in a finally clause when youar edone with it.

[2018-01-03 19:03] rmkerr commented on #26092
It looks to me like these can be traced back to #9228, since they all relate to WinHttp handles unexpectedly becoming invalid. So the failure happens when the http request is cancelled (probably via timeout?), and all of these failures are just how things fall apart after that. @davidsh you know a lot more about that issue, do you agree?

[2018-01-03 19:05] wtgodbe commented on #26122
@danmosemsft ah, that makes sense. Not sure why this was passing in CI either, then. I'll put up a fix.

[2018-01-03 19:07] weshaggard commented on #23889
Estimate of 5 includes remaining work to fix build/test to work against actual NETFX, and add missing NETFX configurations

[2018-01-03 19:09] rmkerr commented on #25289
Closing this since the 2.0.x servicing port has been merged.

[2018-01-03 19:09] #25289 closed

[2018-01-03 19:13] weshaggard commented on #25039
Investigate what IL is emitted for readonly structs, parameters, returns.
Update CCIExtensions to understand readonly structs, parameters, returns (based on IL metadata)
UPdate APICompat to verify each of these match
Update GenAPI's to emit these into the reference assembly code.

Cost assumes its @weshaggard

Will be done along with #6185. Total 5 days between them.

[2018-01-03 19:14] weshaggard commented on #6185
Update CCIExtensions to understand private struct fields
Update GenAPI's to emit these private modifiers into the reference assembly code.

Cost assumes its @weshaggard

Will be done along with #6185.

[2018-01-03 19:15] Clockwork-Muse commented on #26126
:shrug:
Don't know what to tell you there, other than "double check the value under debug".  Maybe you have errant non-valid whitespace or something.  Works just fine, including under vanilla .NET Framework.

[2018-01-03 19:17] weshaggard commented on #21722
This is to make any additions to shims\ApiCompatBaseline.netcoreapp.netfx461.txt cause a build error. Treat it as a baseline.

We don't see this as essential for 2.1.

[2018-01-03 19:18] stephentoub commented on #26078
Seems like the websocket is being used after/while it's already been closed or canceled or aborted?

[2018-01-03 19:18] karelz commented on #25718
@shmao can you please call in into next API review? Please ping @terrajobst to send you the invite ;)

[2018-01-03 19:20] weshaggard commented on #24517
Part of #23889

[2018-01-03 19:20] jkotas commented on #6185
How are you going to deal with the fact that the private fields are different between different implementations in number of cases?

[2018-01-03 19:22] weshaggard commented on #25382
We can't do this automatically without core-eng#2176.
For 2.1 we will have to manually queue builds periodically.

[2018-01-03 19:23] weshaggard commented on #23588
@danmosemsft what is the status of this?

[2018-01-03 19:25] weshaggard commented on #25252
@karelz is this something @wtgodbe could look at?

[2018-01-03 19:26] weshaggard commented on #25251
Dupe of #6185.

[2018-01-03 19:26] #25251 closed

[2018-01-03 19:28] weshaggard commented on #21103
Future as this does not currently impact us.

[2018-01-03 19:29] shmao commented on #25718
@karelz Sure. Will do. Thanks, @karelz

[2018-01-03 19:34] niemyjski commented on #26078
Yeah, I agree I wonder if it's possible to trigger this if you kill the server, fire up a few browser instances which are retrying with a timeout of 1 second and then start up the server as sockets will try to connect / be abandoned.  Are there tests for scenarios like this? @Priya91 I'll try and get a smaller sample but I'm super super busy 25/7 like everyone in this thread :\