[2016-11-22 16:03] bartonjs commented on #13872
CryptoStream::FlushAsync has a non-trivial implementation in desktop, so should be reintroduced.  (And since it's not a sealed type it not being present in the netstandard contract would cause a `base.FlushAsync` binding to go to different targets between netfx and netstandard... if it's just missing from corefx then no biggie, except for the method being different than the default FlushAsync)

[2016-11-22 16:21] #13784 closed

[2016-11-22 16:22] bartonjs commented on #13310
@m4x1202 Only finding System.Security.Cryptography.Native.OpenSsl.so makes sense, because we switched to it.  Do you have a local copy of System.Security.Cryptography.X509Certificates, or are you loading the one from the shared framework?

You could use strace to find out where it's coming from:

[code]

(or without filtering to just lstat)

[code]

[2016-11-22 16:22] tmds commented on #13323
This isn't going well...
[code]

[2016-11-22 16:35] danmosemsft commented on #13882
@dotnet-bot help

[2016-11-22 16:37] danmosemsft commented on #13882
Well, that's supposed to print help. Meantime, the trick is to do `@dotnet-bot` followed by `test` followed by the leg name copy and pasted eg `Innerloop OSX Debug Build and Test`. Or to retest everything miss the leg.

[2016-11-22 16:38] danmosemsft commented on #13882
@mmitche the help command didn't work

[2016-11-22 16:42] JonHanna commented on #13882
I think @dotnet-bot help only works in PRs as it delegates helping people in issues to the human contributors.

[2016-11-22 16:43] karelz commented on #13323
That's unrelated problem - you are unable to sync. Maybe a firewall?

[2016-11-22 16:46] mmitche commented on #13882
@danmosemsft Yeah it only tracks PRs.

[2016-11-22 16:47] karelz commented on #13869
Wouldn't it be better to track a larger issue with all/most of the APIs extensions we want?
Tracking one offs does not seem to be very effective ...

[2016-11-22 16:49] davidsh commented on #13609
Can you please attach some sample code that describes your scenario?  I'm not sure where the `DispatchProxy` class is defined.

[2016-11-22 16:50] karelz commented on #13882
And we should have it documented in our contribution guide ... I'll take care of that in my larger sweep of the docs next month.

[2016-11-22 16:50] AlexRadch commented on #13881
Now BigInteger is not part of Standard library, so Decimal class can not have explicit operator to convert from BigInteger value, because Standard library knows nothing about BigInteger.

Now BigInteger should have something like ToDecimal method.

[2016-11-22 16:51] #13882 closed

[2016-11-22 16:54] davidsh commented on #10702
Closing this issue since the repro logs are no longer available.

[2016-11-22 16:55] tmds commented on #13323
Don't think that's it. I can wget those urls. When I run the same thing in my ubuntu vm, it works fine. Going to give it a try in Fedora 23.

[2016-11-22 16:58] davidsh commented on #9227
The only time that an `HttpRequestException` could be thrown in the case of a successful request/response transaction is from the `EnsureSuccessStatusCode` call.  That is a narrow set of conditions for which all other   `HttpRequestException` throws won't have a StatusCode at all. So, it doesn't seem generalized enough to add a StatusCode property to HttpRequestException when it will always be nul

[2016-11-22 16:58] #9227 closed

[2016-11-22 16:59] mmitche commented on #9293
@karelz We've already worked around it.  We run the initial startup script as root now, which makes the drive writable.

[2016-11-22 17:00] #13804 closed

[2016-11-22 17:02] davidsh commented on #7750
Closing this as a duplicate of #9003.

[2016-11-22 17:02] #7750 closed

[2016-11-22 17:02] davidsh commented on #13768
Closing this as a duplicate of #9003.

[2016-11-22 17:02] #13768 closed

[2016-11-22 17:03] AlexRadch commented on #13882
@karelz It will be nice if https://github.com/dotnet-botpage will have link on dotnet-bot commands description also.

[2016-11-22 17:09] svick commented on #13881
@AlexRadch `Decimal` never had explicit operator from `BigInteger`. Instead, [`BigInteger` has explicit operator to `Decimal`](https://apisof.net/catalog/M%3ASystem.Numerics.BigInteger.op_Explicit(System.Numerics.BigInteger)~System.Decimal). And that operator is part of `netstandard1.1`.

[2016-11-22 17:09] bartonjs commented on #9293
@mmitche "writable" or "ext4"?  The X509Certificates tests fail when HOME is bound to an NTFS volume, so it needs to be a filesystem supporting chmod.

[2016-11-22 17:11] davidsh commented on #7622
Closing this issue since is using very old code.  If this happens again with .NET Core 1.1 RTM, please open up a new issue. Thx.

[2016-11-22 17:11] #7622 closed

[2016-11-22 17:11] mmitche commented on #9293
Oh that's right.  It's made writeable.  I haven't done anything else with it.  Have you seen this recently?

[2016-11-22 17:14] ianhays commented on #13884
@kronic please take a look at our [Api Review Process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) to get an idea of the process for adding new API. Generally we look for a detailed post with the proposed API, use cases, and some examples of the desired functionality to stir up discussion. You can look at [some of our approved API to use as a guid

[2016-11-22 17:14] #13884 closed

[2016-11-22 17:15] karelz commented on #13882
Which link? The you posted above is inaccessible. How does a new contributor find out about the page?

[2016-11-22 17:19] brentschmaltz commented on #11082
@RussKie thanks, I will post some sample code. Wait for it.

[2016-11-22 17:24] bartonjs commented on #9293
We have a fair number of tests that are disabled because of this problem.  I don't know that we've specifically tried re-enabling them, but if the mount type is still NTFS they'll still fail.

[2016-11-22 17:27] mmitche commented on #9293
@bartonjs still looks like fuseblk

Filesystem     Type      Size  Used Avail Use% Mounted on
devtmpfs       devtmpfs  6.9G     0  6.9G   0% /dev
tmpfs          tmpfs     6.9G  8.0K  6.9G   1% /dev/shm
tmpfs          tmpfs     6.9G  380K  6.9G   1% /run
tmpfs          tmpfs     6.9G     0  6.9G   0% /sys/fs/cgroup
/dev/sda2      xfs        30G  4.8G   25G  17% /
tmpfs          tmpfs     6.9G   71M

[2016-11-22 17:31] danmosemsft commented on #13872
Correct, this is purely a "please check there isn't implementation missing" request

[2016-11-22 17:33] davidsh commented on #8692
Obsolete, now that the test is using a loopback server with delay.

[2016-11-22 17:33] #8692 closed

[2016-11-22 17:45] mellinoe commented on #13323
Can you try upgrading your "nss" package with `dnf`? We were hitting similar problems in our CI runs before we did that. On Fedora 24 primarily.

[2016-11-22 17:50] AlgorithmsAreCool commented on #13757
It would be great to have a CRC32 implementation provided by the library too.

[2016-11-22 17:50] svick commented on #3419
@jamesqo `AppendFormat` is syntactically correct English, but interpreted that way, it's not correct semantically, since you're not appending any "format", you're appending a formatted string. The way I interpret it, `AppendFormat` means "format and append", so `AppendJoin` (understood as "join and append") is the right name.

`AppendJoin` is also consistent: `string.Format` is related to `StringB

[2016-11-22 17:57] ianhays commented on #13207
I think that makes sense, though `entryName` isn't a very fitting title anymore. Maybe something like `baseEntryPath` or `baseEntryName`?

My vote would be to leave it out since we don't include it in any of the other extension methods.

The `includeBaseDirectory` parameter doesn't seem necessary since you could easily add the base directory name to "entryName"/`baseEntryName`/whatever.

[2016-11-22 17:58] karelz commented on #8034
@jamesqo @JonHanna why do we need the `Combine<T>(T obj)` instead of `Combine(object o)`?

[2016-11-22 18:01] AlgorithmsAreCool commented on #13757
A couple of thoughts:

I imagine that the various implementations should share a common interface or abstract class and should be easy to hook into `Stream` (and perhaps pipelines in the future).

I was a fan of the `ICryptoTransform`/`CryptoStream` API since it provided an easy way to either consume or "listen" to a stream and grab the hash from it. I think something similar to it should be a dec

[2016-11-22 18:05] stephentoub commented on #8034
The latter would allocate if the instance was a struct.

[2016-11-22 18:07] svick commented on #8034
@karelz With `Combine(object o)`, adding any value type would require boxing, using generics avoids that.

[2016-11-22 18:10] danmosemsft commented on #12272
@Thaina thank you for your suggestion. Please present it in the format specified in https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md so we can review.

[2016-11-22 18:13] terrajobst commented on #2317
Seems like it's only a source breaking change. While unfortunate, we believe the value add for supporting covariance is higher.

[2016-11-22 18:18] karelz commented on #8034
duh, thanks for clarification.

[2016-11-22 18:20] terrajobst commented on #3419
The API looks good. We've also approved an overload of `String.Join` that uses `char` for the separator (#5552). We should probably do the same here, so:

[code]

[2016-11-22 18:23] terrajobst commented on #4928
Looks good!

[2016-11-22 18:25] karelz commented on #4928
Warning: We approved only the `Append` methods, not the constructors.

[2016-11-22 18:26] ianhays commented on #5964
resolved in https://github.com/dotnet/coreclr/pull/8233.

[2016-11-22 18:27] stephentoub commented on #5964
Do we still need tests?

[2016-11-22 18:27] ianhays commented on #5964
Actually, I'm going to leave this open to track re-enabling the lock/unlock tests for Unix. I'll put up a PR for that as soon as we get a new mscorlib version in CoreFX to consume the fix

[2016-11-22 18:28] terrajobst commented on #7175
We think floating points make the most sense, thus @tarekgh's shape is the approved one:

[code]

[2016-11-22 18:28] ianhays commented on #5964
@stephentoub beat me to it yet again :)

[2016-11-22 18:31] ianhays commented on #13244
This is failing because I added additional functionality to handle zips encoded with deflate64 in .Net Core. We of course don't have that support in full framework, so the test does not pass.

[2016-11-22 18:37] terrajobst commented on #7593
This is an area that we're actively working on in CoreFxLab (see [roadmap](https://github.com/dotnet/corefxlab/blob/master/docs/roadmap.md)). For details on how we think about parsing, take a look at this [speclet](https://github.com/dotnet/corefxlab/pull/1011).

Given that everything around spans is experimental, it's too early to do regular API reviews against CoreFx, that's why I'm closing it h

[2016-11-22 18:37] #7593 closed

[2016-11-22 18:40] JonHanna commented on #7175
What about dividing a span by a span?

[2016-11-22 18:48] mmitche commented on #9293
@dotnet/dnceng FYI

[2016-11-22 18:57] terrajobst commented on #8034
We don't like the nested type because it seems to complicate the design. The root problem was that that we can't name the statics and the non-statics the same. We've two options: get rid of the statics or rename. We think that renaming to `Create` makes the most sense as it creates fairly readable code, compared with using the default constructor.

Unless there is some strong opposition, that's th

[2016-11-22 18:59] karelz commented on #8034
Let's wait for couple of days for additional feedback to find out if there is strong feedback on the approved proposal. Then we can make it 'up for grabs'.

[2016-11-22 19:00] terrajobst commented on #11220
Alright, looks good as proposed.

[2016-11-22 19:02] karelz commented on #11220
Anyone wants to grab it? Just let me know and I will assign it to you ...

[2016-11-22 19:03] khellang commented on #11220
To do the work or the hand holding? 😝

[2016-11-22 19:09] terrajobst commented on #13746
@MadsTorgersen, @KrzysztofCwalina asked whether exposing a casting operator from TypeX to Tuple/ValueTuple would work, too. Does it have to be a `Descontruct` method?

I assume converting from a `KeyValuePair<,>` to `ValueTuple<,>` would work with an implicit conversion, while decontructing into multiple locals would not. Is that understanding correct?

[2016-11-22 19:13] ellismg commented on #8034
Why does it complicate the design?  I could understand how it would be bad if we actually had to use the HashCode.State in code (e.g. to define the type of a variable) but do we expect that is often the case?  Most times I will end up either returning the Value outright or converting to an int and storing that.

I think the combination of Create and Combine is worse.

[2016-11-22 19:25] jamesqo commented on #8034
@terrajobst There is another option... We could also just get rid of the nested type entirely, make HashCode a static class, and name the struct HashCodeState.

[2016-11-22 19:26] MichaCo opened #13890 "Proposal for DNS client and custom DNS queries"
In `System.Net.NameResolution` the `DNS` class gives us a simple API to get the host name and addresses by using the internals of Windows or Linux.

What is missing is an interface to query actual DNS servers (custom endpoints/ports) and get more information then just the IP or local host name.

# Use Case
One use case could be accessing service discovery (e.g. Consul) to ask for available service

[2016-11-22 19:26] MichaCo commented on #13613
@CIPop  thanks! I submitted my proposal, hf reading that wall of text ;)

[2016-11-22 19:26] #13613 closed

[2016-11-22 19:28] gencebay commented on #13609
Sure, here you are!
https://gist.github.com/gencebay/4164df17aec31c91c272492efb0a3edc

[2016-11-22 19:37] nietras commented on #13427
@jkotas I think that sounds reasonable. I, of course, have questions regarding the perf of this e.g. will `initblk`/`cpblk` use optimized functions (like `memmove`) if suitable e.g. when native memory? Or similar?

Could there be future optimization opportunities in keeping the generic versions of `CopyBlock<T>/InitBlock<T>` which can see that step size is say 8 bytes for e.g. `double` enabling th

[2016-11-22 19:42] karelz opened #13892 "Tracking: Revisit APIs to use Span<T>"
We just need to wait for `Span<T>` to mature a bit.

- #7593 - `Int32.Parse`, `Int32.TryParse`
  - https://github.com/dotnet/corefx/issues/13892#issuecomment-262382196 - `Parse` on all primitive types (`sbyte.Parse` `byte.Parse` `short.Parse` ... `ulong.Parse`, `DateTime.Parse`, `Guid.Parse`, etc)
- #13869 - `StringBuilder.Append`
- https://github.com/dotnet/corefx/issues/13892#issuecomment-262576

[2016-11-22 19:46] #12142 closed

[2016-11-22 19:56] danmosemsft commented on #13583
We discussed this and don't think it's worth adding the struct unless and until we add APIs that use it. Thanks for the suggestion...

[2016-11-22 19:56] #13583 closed

[2016-11-22 20:00] safern opened #13893 "Optimize WebUtility.HtmlEncode and WebUtility.HtmlDecode"
When porting `WebUtility` missing members:
[code]

We found that we already had a private method on .NET Core that would do exactly the same as this two members but instead of having a `TextWriter` as the output they have a `StringBuilder`. This members where ported on PR #13875 with a simple solution of just calling the existing private member and writing the result to the `TextWriter output` [He

[2016-11-22 20:04] tarekgh commented on #13892
@karelz why this not under System.Runtime area?

[2016-11-22 20:34] jnm2 commented on #7175
Yes please. If units of `time` * `scalar` = `time` is allowed, you have to allow `time` / `time` = `scalar`.

[2016-11-22 20:38] AlexGhiondea opened #13894 "Remove P2P references from S.S.Crypto.* projects"

[2016-11-22 20:42] AlexGhiondea commented on #7175
@terrajobst including @JonHanna's suggestion:

[code]

[2016-11-22 20:47] divega commented on #12034
For completeness, Microsoft developed another set of spatial types known as System.Spatial. The code lives here: https://github.com/OData/odata.net/tree/ODataV4-7.x/src/Microsoft.Spatial (thanks @robertmclaws for the link).

[2016-11-22 20:51] steveharter commented on #12315
Will add issue to implement the Xml methods

[2016-11-22 20:51] #12315 closed

[2016-11-22 20:54] CIPop commented on #13871
@kouvel this is by running a local build of CoreFX.
I've restarted the builds today. Per @danmosemsft CLR should be up to date now.

Closing. Will reopen if I see this happening today.

[2016-11-22 20:56] CIPop commented on #13613
@MichaCo Thanks! I like 👍 .

[2016-11-22 20:57] CIPop commented on #13890
@davidsh @terrajobst @stephentoub PTAL
/cc @karelz

[2016-11-22 21:01] CIPop commented on #13890
In general we don't use `var` when we cannot infer the type from the same line of code. It's best if you could update with the actual type returned.

[2016-11-22 21:04] JonHanna commented on #7175
Also, multiplication should be commutative, so something like:

[code]

[2016-11-22 21:05] MichaCo commented on #13890
@CIPop yup np, done

[2016-11-22 21:06] CIPop commented on #13890
For now, I think this is enough for an initial review but in the final spec we will require the following fully defined `DnsResponseMessage`, `QueryType`, `DnsHeaderFlag`, `DnsOpCode`, `DnsName`, `DnsResourceRecord`, `DnsResponseHeader`.

[2016-11-22 21:08] CIPop commented on #13890
Thanks @MichaCo! LGTM

Maybe not a good place to discuss this but: have you investigated ways to implement the features using OS-level APIs or are you proposing a managed-only (Sockets-based) DNS implementation. (If the latter, would it include DNSSec?)

[2016-11-22 21:09] jnm2 commented on #7175
What's the reasoning behind the names `multiplicand` and `multiplier`? I think it should be either unit-specific (`timeSpan` and `factor`) or treated equally (`left` and `right` as per design guidelines).

[2016-11-22 21:11] JonHanna commented on #7175
Of those two, I favour `left` and `right`.

[2016-11-22 21:15] danmosemsft commented on #13832
@AlexRadch you're welcome to submit a PR if you get to it before @sepidehMS does.

[2016-11-22 21:15] karelz commented on #13890
@CIPop @davidsh please submit the API for review after it is complete from your point of view (feel free to update the original API proposal post or work with @MichaCo) -- simple LGTM agreement from each of view is sufficient.
Given that it is larger API and domain specific, please review it first yourself, before submitting it for formal API review.

cc: @Priya91 @geoffkizer @stephentoub

[2016-11-22 21:19] karelz commented on #12034
@divega did you mean `Microsoft.Spatial`?

Given that there are already solutions, I don't think it makes sense to add more such types into corefx. Closing.

If you think I am wrong, please say so - please also explain what do you expect in corefx in such case.

[2016-11-22 21:26] karelz commented on #11220
To do the work ;-)

[2016-11-22 21:28] karelz commented on #13892
I expected it to be cross-cutting. It will also grow. I don't have strong preference between Meta vs. Runtime in this case.

[2016-11-22 21:29] karelz commented on #13869
Tracking it in general issue (see above) - closing this one

[2016-11-22 21:29] #13869 closed

[2016-11-22 21:30] khellang commented on #11220
I'll do it 😁

[2016-11-22 21:34] danmosemsft commented on #13872
OK, I updated the title to track just adding CryptoStream::FlushAsync.

[2016-11-22 21:36] karelz commented on #11220
Cool, thanks!

[2016-11-22 21:38] #12828 closed

[2016-11-22 21:40] MichaCo commented on #13890
@CIPop I was actually looking at [DnsQuery](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682016(v=vs.85).aspx), but I had no time playing with it. I also have no idea about the Linux equivalent so that's why my [implementation](https://github.com/MichaCo/DnsClient.NET) is managed code only.

Regarding DNSSec, the signature would be transferred as another RR with the response, which c

[2016-11-22 22:12] bartonjs commented on #11646
We should check for what Desktop does in these situations.  If there's no placeholder then we may have localization concerns, if we're just not providing it that's probably an easy fix.

[2016-11-22 22:14] bartonjs commented on #11802
This should be straightforward, copying the pattern from the RSACertificateExtensions class.

[2016-11-22 22:15] jamesqo commented on #13892
@karelz If you have `int.Parse`, then you need to add `Parse` apis for all the other primitive types too, plus some others. e.g. `sbyte.Parse` `byte.Parse` `short.Parse` ... `ulong.Parse`, `DateTime.Parse`, `Guid.Parse`, etc.

[2016-11-22 22:34] #12320 closed

[2016-11-22 22:42] jkotas commented on #13427
`Unsafe.CopyBlock/InitBlock` should be thin wrappers over cpblk/initblk IL instructions. They will use whatever the JIT on the given runtime decides to compile them into.

- Use this issue for `Unsafe.CopyBlock/InitBlock`
- Use https://github.com/dotnet/coreclr/issues/1135 for `ContainsReferences`
- Create a new issues for `Span<T>.Clear()`

Sounds potentially interesting. I think we should focus

[2016-11-22 22:58] karelz commented on #13892
Updated

[2016-11-22 22:59] suprduprmn commented on #11100
Unfortunately following the above still only fixes my dev environment and not azure prod.  I checked the latest pub file and the web.config was properly set along with my dll that is published being the version pictures above.  Unfortunately, my issues is pertaining to the Azure Search library, so this fix was proving to be promising.  Any other ideas out there?  At a bit of a loss.  Thanks for th

[2016-11-22 23:02] CIPop commented on #13372
Other difference @karelz @danmosemsft FYI:

Missing EditorBrowsableAttribute. I can see this within NetFX code:

[code]

[2016-11-22 23:04] CIPop commented on #13372
Another one @karelz @danmosemsft FYI:

Internal within Standard, private in CoreFX:

[code]

[2016-11-22 23:06] CIPop commented on #13372
@weshaggard @karelz @danmosemsft
/cc @stephentoub

I see a lot of cases where in the netstandard/ref the classes are `partial` but in corefx they are not:

[code]

[2016-11-22 23:10] CIPop commented on #13372
`NetworkChange` is `static` in netstandard but not in CoreFX:

[code]

[2016-11-22 23:11] jamesqo commented on #8034
@terrajobst

I hear you, but I had a last-minute thought while I was working on the implementation... could we simply add a static `Zero` / `Empty` property to `HashCode`, and then have people call `Combine` from there? That would free us from having to have separate `Combine` / `Create` methods.

[code]

Anyone else think this is a good idea? (I'll submit a PR in the meantime, and if people think

[2016-11-22 23:18] AndriySvyryd opened #13897 "Reflection breaking change in Microsoft.NETCore.App 1.1.0"
One of the packages that `Microsoft.NETCore.App` brings in has a breaking change in 1.1.0 compared to 1.0.1 that causes an exception when using `Microsoft.CodeAnalysis.CSharp.Scripting.CSharpScript`:

   at System.Reflection.RuntimeMethodInfo.CreateDelegateInternal(Type delegateType, Object firstArgument, DelegateBindingFlags bindingFlags, StackCrawlMark& stackMark)
   at System.Reflection.Runtime

[2016-11-22 23:21] CIPop commented on #12134
@karelz  FYI

This is in Standard here: https://github.com/dotnet/standard/blame/master/netstandard/ref/System.cs#L5465

[2016-11-22 23:26] CIPop commented on #13372
`FileWebRequest` has some extra members:
* The internal ctor.
* Nit: The serialization ctor is also adding the derivation within the ref file (probably not hurting but doesn't seem necessary).

[code]

[2016-11-22 23:29] karelz commented on #8034
I would be fine with that (no strong preference between `Empty` vs. `Create` factory) ... @weshaggard @bartonjs @stephentoub @terrajobst what do you guys think?

[2016-11-22 23:36] CIPop commented on #13372
FtpWebResponse should be disposable (checked NetFX as well) but it's not currently in CoreFX:

[code]

[2016-11-22 23:36] AlexGhiondea opened #13899 "Cleanup the tests around PaddingMode"
See comments from: https://github.com/dotnet/corefx/pull/13859#pullrequestreview-9779198

[2016-11-22 23:37] bartonjs commented on #8034
I personally think Create() is better; but I like `HashCode.Empty` better than `new HashCode()`.

Since it allows for a version which has no operator-new, and it doesn't preclude deciding later that we really want Create as a bootstrapper... ::shrug::.

That's the full extent of my pushback (aka not very much).

[2016-11-22 23:39] danmosemsft commented on #13372
Should not be breaking I think.

Only a source breaking change.

I suspect the tool that generated standard uses the internal constructors as a placeholder to tell the compiler that there is no public parameterless constructor on the type. `private` works just as well for this purpose.

I already noted this higher up.

[2016-11-22 23:39] CIPop commented on #13372
FtpWebResponse defines the overriden ContentType API within the ref in CoreFX although the original NetFX implementation or netstandard doesn't:

[code]

[2016-11-22 23:40] CIPop commented on #13372
Sorry, missed that one.

[2016-11-22 23:43] CIPop commented on #13372
HttpWebRequest is not marked as Serializable:

[code]

[2016-11-22 23:45] karelz commented on #13372
BTW: We are reusing this issue to discuss tons of things, while useful in general, it is extremely hard to track. Please do not forget to update the top post with things that still need to happen as part of this issue. Feel free to submit PR addressing just subsets of the problems.

[2016-11-22 23:45] danmosemsft commented on #13372
This probably doesn't matter. I believe the presence of overrides is irrelevant to binary compatibility. If they are missing from the implementation that is sometimes a bug in the implementation: porting overlooked part of the code and did not notice because apicompat will not complain.

I'm not sure what you're diffing here. I believe least one of the partial classes in the ref, and in the impl,

[2016-11-22 23:57] CIPop commented on #13372
@danmosemsft I'm diffing between netstandard/ref and corefx/**ref. I'm seeing that within the /ref folder, HttpWebRequest is not marked as ISerializable:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/ref/System.Net.Requests.cs#L126

At the same time, I see FileWebRequest is ISerializable within the ref:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/ref

[2016-11-23 00:02] khellang commented on #8034
FWIW I'd vote for `Create` rather than `Empty`/`Zero`. I'd rather start out with an actual value than hang everything off `Empty`/`Zero`. It just feels/looks weird.

[2016-11-23 00:02] danmosemsft commented on #13372
ISerializable needs to be in the ref so compiler sees it.

[2016-11-23 00:05] karelz opened #13900 "HttpWebRequest and HttpWebResonse - expose missing members"
Implement + expose + test these methods:
[code]

[2016-11-23 00:07] karelz opened #13901 "HttpListener - expose missing APIs"
Implement + expose + test these APIs:

[code]

[2016-11-23 00:22] JonHanna commented on #8034
It also discourages people seeding with zero, which tends to be a poor seed.

[2016-11-23 00:24] stephentoub commented on #8034
I prefer Create. It jives with how I think about it: I want to create hash code and mix in additional values.

[2016-11-23 01:01] redknightlois commented on #8034
While I was going to say that calling it Empty was not a good idea (and that have been said already), after like a third thought I do still think is not a bad solution. How about something like Builder. While still possible to use zero, the word kinda discourage you to use it right away.

[2016-11-23 01:03] karelz commented on #8034
@JonHanna just to clarify: You meant it as vote for `Create`, right?

[2016-11-23 01:04] redknightlois commented on #8034
And on a fourth thought how about With instead of Create.

HashCode.With(a).Combine(b). Combine(c)

[2016-11-23 01:12] svick commented on #13824
@tarekgh That's an interesting option. I don't like that it would mean that the method name `GetTextElementEnumerator` and the type name `TextElementEnumerator` would become inaccurate, but it's nice that it does not increase API surface by much.

[2016-11-23 01:23] Priya91 opened #13903 "Implement authentication for HttpListener using NTAuthentication from Common location."
cc @karelz

[2016-11-23 01:34] jamesqo commented on #8034
@redknightlois I don't think that conveys meaning very well; we're creating a hash code out of an existing hash, not tacking on the hash code to some other value.

[2016-11-23 01:45] dotnet-mc-bot opened #13906 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test/ProxyExplicitlyProvided_DefaultCredentials_Ignored"
Opened on behalf of @jiangzeng

The test `System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test/ProxyExplicitlyProvided_DefaultCredentials_Ignored` has failed.

System.AggregateException : One or more errors occurred. (Error while copying content to a stream.) (One or more errors occurred. (Error while copying content to a stream.))\r
    ---- System.Net.Http.HttpRequestE

[2016-11-23 01:46] bleroy commented on #13035
The MIT-licensed source code to port can be found here: https://github.com/Microsoft/referencesource/tree/4fe4349175f4c5091d972a7e56ea12012f1e7170/System.Data/System/Data/Odbc

[2016-11-23 02:01] justinvp commented on #8034
Example usage based on latest discussion (with `Create` possibly replaced w/ an alternative name):

[code]

We went down the path of this chaining approach, but didn't reconsider earlier proposals when the static & instance `Combine` methods didn't pan out...

Are we sure we don't want something like the existing `Path.Combine` pattern, that was proposed previously, with a handful of generic `Comb

[2016-11-23 02:07] jamesqo commented on #8034
@justinvp Would lead to inconsistent code + more jitting probably b/c of more generic combinations. We can always revisit this in another issue.

[2016-11-23 02:10] dotnet-mc-bot opened #13907 "Test failure: System.Net.Sockets.Tests.DualModeConnectToIPAddress/ConnectV4IPAddressToV6Host_Fails"
Opened on behalf of @jiangzeng

The test `System.Net.Sockets.Tests.DualModeConnectToIPAddress/ConnectV4IPAddressToV6Host_Fails` has failed.

Assert.Throws() Failure
    Expected: typeof(System.Net.Sockets.SocketException)
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Net.Sockets.Tests.DualModeConnectToIPAddress.ConnectV4IPAddressToV6Host_Fails()
Build : Master

[2016-11-23 02:16] AlexRadch commented on #13882
@karelz dotnet-bot page https://github.com/dotnet-bot have a link to dotnet blog http://blogs.msdn.com/b/dotnet/.
I suggest to add link to dotnet-bot commands description.

[2016-11-23 02:19] JonHanna commented on #13882
You can also find it by clicking on @dotnet-bot whenever they are mentioned

[2016-11-23 02:42] AlexRadch commented on #13832
@danmosemsft I do not know how to fix this test. It should check than `current thread  UI culture` is equal to `current user UI culture`. Now it checks that `current thread UI culture` is equal to `windows system UI culture` with can be different from `current user UI culture` if user changed language after windows installation. On one computer different users can have different language settings.

[2016-11-23 02:47] jamesqo opened #13909 "Add Enumerable.Repeat overload accepting a Func."
## Background

The current `Enumerable.Repeat` function, accepting a `T`, returns an enumerable with the same value repeated N times. Sometimes, however, you don't want the same value repeated N times but the same function called N times. For example:

[code]

The current workaround for this is to do something like `Enumerable.Range(0, size).Select(_ => r.Next())`, which is not really as readable.

[2016-11-23 02:48] jamesqo commented on #13909
cc @JonHanna & @svick

[2016-11-23 02:51] mellinoe commented on #8034
For what it's worth, I prefer the originally-proposed version, at least in usage (not sure about the comments regarding code size, jitting, etc.). It seems like overkill to have an extra structure and 10+ different members for something that could be expressed as one method with a few overloads of different arity. I'm also not a fan of fluent-style API's in general, so perhaps that is coloring my

[2016-11-23 03:16] justinvp commented on #8034
I wasn't going to mention this because it's a little unusual and I'm still not sure how I feel about it, but here's another idea, just to make sure all alternatives have been considered...

What if we did something along the lines of ASP.NET Core's mutable `HashCodeCombiner` "builder", with similar `Add` methods, but also included support for the collection initializer syntax?

Usage:

[code]

Wit

[2016-11-23 03:46] robertmclaws commented on #12034
Please do not close this issue. The point was not to create/identify a "new" solution. The point was to promote a solution for "Spatial" to full-fledged ".NET Framework" status, meaning that more code besides OData should be relying on it. Right now, that namespace is "Microsoft.Spatial". It needs to be promoted to "System.Spatial" and needs to be used as the core library for all Spatial types in

[2016-11-23 03:48] clarkis117 commented on #11715
@ianhays  Currently I'm using the scripts in the root directory to build corefx:
[code]

branch: https://github.com/clarkis117/corefx

[2016-11-23 04:04] jamesqo opened #13910 "Run the selector on items during Select.Count chains."
Per @VSadov's comment at https://github.com/dotnet/corefx/pull/12703#issuecomment-262051319:

So in other words, we should undo all the `GetCount` optimizations that skip running the selector if `onlyIfCheap` if false. But if it's true, we're probably using it to preallocate a buffer of some sort, & are probably going to use it anyways. So in those scenarios it should be ok to not run the selector

[2016-11-23 04:23] #12304 closed

[2016-11-23 04:28] danmosemsft commented on #13832
@tarekgh

[2016-11-23 04:38] jamesqo opened #13911 "FileLoadException when trying to run tests for a different TestTFM"
I followed the directions [here](https://github.com/dotnet/corefx/blob/0300e2c42e3ce96240e05daff6f6c5a5e03081a6/Documentation/project-docs/developer-guide.md#running-tests-in-a-different-tfm) and tried running the tests for System.IO on desktop by executing `msbuild /p:TestTFM=net46 /t:RebuildAndTest` in System.IO\tests. Unfortunately, I get the following output when I try to do so:

[code]

The s

[2016-11-23 05:32] AlexRadch commented on #13832
I think we should add UserUICulture property into CultureInfo class.
UserUICulture should be like InstalledUICulture but return culture not for GetSystemDefaultUILanguage but for GetUserDefaultUILanguage.

[2016-11-23 07:17] divega commented on #12034
@karelz It was called System.Spatial at some point :smile:

I agree with @robertmclaws this issue deserves more discussion.

[2016-11-23 07:18] nietras commented on #10931
As a note this looks related to https://github.com/dotnet/coreclr/issues/3539 and code gen around compound value types causing too many `mov`s.

[2016-11-23 07:25] ArshBunny commented on #13568
The issue had to with my code and the stack, and not with the limitation of System.BigInteger as I initially thought. This is the code I ended up with (using accumulator pattern for the exponentiation function):
[code]
I shyed away from `Pow()` because I only knew it to work with float values and adding ".0" after every number became tedious, and also [the number I was working to obtain](https://a

[2016-11-23 07:25] #13568 closed

[2016-11-23 08:38] jbarden commented on #9846
Like many of the comments above, I updated to the latest NuGet packages and was disappointed but unsurprised to still have the issue. However, whilst not a "Fix", I did find that the Microsoft.IdentityModel.Clients.ActiveDirectory package (V3.13.7) still installs System.Net.Http but it is possible to simply uninstall it - everything still works.

[2016-11-23 08:59] Priya91 commented on #12526
Going down the path of using Task instead of AsyncResult seems too expensive for the issue, given that there are multiple layers of async calls down to Tcp connection. @justinvp's solutions seems feasible here. Looked at ```IsDefaultInCache``` implementation and this counter is increased/decreased whenever ```SystemNetworkCredential``` is added to the ```CredentialCache```. So checking if ```Syste

[2016-11-23 09:29] AlexRadch commented on #13832
I made PR https://github.com/dotnet/coreclr/pull/8276 in coreclr to resolve this issue.

[2016-11-23 09:50] tipa opened #13914 "ARM: ZLibException when working with GZipStream (System.IO.Compression.ZipFile 4.3.0)"
In my UWP app, I am using the NuGet packages `Microsoft.Data.Sqlite 1.1.0` and `Microsoft.EntityFrameworkCore.Sqlite 1.1.0`, both requiring the package `System.IO.Compression.ZipFile 4.3.0` .

When using a GZipStream in my app, I get a `System.IO.Compression.ZLibException ("The underlying compression routine could not be loaded correctly.")`. InnerException: `Unable to load DLL 'clrcompression.dll

[2016-11-23 09:53] tmds commented on #13323
Tests run fine on my machine:
[code]
This test has the [Outerloop] attribute. Am I sure it gets executed?

Off topic:
I ran the ./build.sh script to get everything built and the test executed. This off course took a long time. Was there a shorter way?
Suppose I now want to go and make some changes to the managed&native part and verify those with a specific test suite. What commands could I use for

[2016-11-23 09:56] JonHanna commented on #13910
There's an irony here that the idea of a `ForEach<T>(IEnumerable<T> source, Action<T>)` was argued against (elsewhere, not here) on the basis that linq should really be dealing in pure functions, but that makes it all the more likely that there could be `Count()` called on something with delegates that aren't purely functional.

I think I reluctantly agree with @VSadov on this.

Unless you or some

[2016-11-23 10:10] ChristophvanderFecht commented on #9675
Hi everybody!
I just spend a good two days looking for a way to retrieve the subnetmask of my network adapters, for now no luck. Each "solution" I found point to the not implemented method System.Net.NetworkInformation.NetworkInterface.GetAllNetworkInterfaces()...

My question now is, did anybody here figured out a way to get the subnetmask of the available interfaces?

thx, bg

[2016-11-23 10:10] mellinoe commented on #13323
Not specifically. On Fedora, libcurl uses NSS for SSL handling, so presumably it has some effect on the code that handles downloading stuff in NuGet. Beyond that we didn't really understand what exactly was going wrong.

Not by default, no (using `/t:rebuildandtest`). It's probably easiest to just navigate to the test runtime directory and run `./corerun xunit.console.netcore.exe System.Net.Socket

[2016-11-23 10:15] mellinoe commented on #13323
I ran the ./build.sh script to get everything built and the test executed. This off course took a long time. Was there a shorter way?
Suppose I now want to go and make some changes to the managed&native part and verify those with a specific test suite. What commands could I use for that?

The easiest way to run tests for a single project is to run `Tools/msbuild.sh /t:rebuildandtest <test-project-

[2016-11-23 10:29] JonHanna commented on #13523
FWIW I ran coverage on one of my PRs to see if things were any different from that context, but it was the same 27%.

[2016-11-23 10:45] tmds commented on #13323
Thanks @mellinoe

The test succeeds:
[code]

[2016-11-23 11:17] stephentoub commented on #13323
(fyi, you can also add /p:Outerloop=true to the msbuild command to include outerloop tests)

[2016-11-23 12:05] nietras opened #13915 "Span: Add Span<T>.Clear()"
As discussed in https://github.com/dotnet/corefx/issues/13427 we would like to add a `Clear()` method to `Span<T>` to make span the goto place for safe and fast memory operations.

### Rationale and Usage
Provide a safe yet fast way of clearing (settings memory to zero) for any type of contiguous memory; managed or unmanaged.

[code]

### Proposed API
Add a single method `Clear()` to the existing

[2016-11-23 12:06] nietras commented on #13427
But this is only possible for non-overlapping memory, right? What about overlapping memory? For native one could forward to `memmove` via `Buffer`.

Yes, so we want to add one or more of the below overloads:

[code]
AND/OR
[code]

Added comment for this https://github.com/dotnet/coreclr/issues/1135#issuecomment-262494258

Created the proposal https://github.com/dotnet/corefx/issues/13915

[2016-11-23 12:17] nietras commented on #13427
We should also consider whether to add `Fill` like https://github.com/dotnet/corefx/issues/6695 to provide functionality like this on `Span<T>`, I could make an API proposal for that too, if this is of interest.

[2016-11-23 12:20] #13047 closed

[2016-11-23 12:24] svick commented on #13832
@AlexRadch That's not how it works. If you want to propose adding a new API to .Net Core, you need to go through [the API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md), which means first writing an issue containing "speclet" of the proposed API in this repo (even if it's "just" changing some `internal` methods to `public`).

(And the

[2016-11-23 13:03] martincostello commented on #13890
Would the ```Question``` property on the ```DnsRequestMessage``` class be better as an ```ICollection<DnsQuestion>``` or ```IList<DnsQuestion>```? Then calling code could create an instance and then add things to the property, rather than do that separately and then create an array?

**As-is**

[code]

**Proposed**

[code]

[2016-11-23 13:07] #13840 closed

[2016-11-23 13:15] sureba73 commented on #1039
Tracking.... need DataTable/DataSet badly :(

[2016-11-23 13:19] chadbr commented on #1039
@sureba73 it in... https://github.com/dotnet/corefx/issues/8622

[2016-11-23 13:48] jnm2 commented on #11715
On net462 I'm getting `šber.txt` instead of `Über.txt`. I've actually run up against this issue in production. Please port this back to full framework.

[2016-11-23 14:57] softlion commented on #7473
Hey, i'm using a netstandard 1.3 portable library using the System.Net.NetworkInformation package, in a .NET Framework 4.6.1 console app using packages.config

It compiles fine and runs until it hits a type in networkinformation. At this point an exception occurs "could not find System.Net.NetworkInformation assembly".

As the console project does not use project.json, is there a way to make this

[2016-11-23 14:58] jkotas commented on #13915
It cannot just forward to `Unsafe.InitBlock` for types that contain GC references. The GC requires the pointers to be cleared atomically and InitBlock does not make this guarantee. It makes for a super hard to trace down crashes in the background GC. We have been there - somebody spent like a month of their life to trace it down. But this is implementation detail... .

[2016-11-23 14:58] omariom commented on #13915
Will it be filling  with `default(T)`? Another question is alignment as  unaligned Spans are legal.

[2016-11-23 15:00] jkotas commented on #13915
@KrzysztofCwalina @terrajobst  @AtsushiKan This should be no-brainer API addition to Span. Could you please review?

[2016-11-23 15:02] jkotas commented on #13915
Yes. It will do the exactly same thing as `Array.Clear`, except for Span.

[2016-11-23 15:08] jkotas commented on #13915
Unaligned Spans are gray area. They are not explicitly prohibited, but they are non-portable. E.g. they will only work on platforms like x86/x64 that allow misaligned access.

[2016-11-23 15:20] JonHanna commented on #11415
Are changes to this generally considered breaking?

It seems to me this would be more consistent and less misleading (`&&=` suggests short-circuiting) if we did:

[code]

But it's likely not worth causing a break if it would.

[2016-11-23 15:22] omariom commented on #13915
I mean the scenario when  `NonPortableCast` and the `ctor` taking a pointer used to create unaligned spans which then passed to  safe consumers. Shouldn't  `Clear` call `InitBlockUnaligned` then (if `T` is blittable)?

[2016-11-23 15:29] AtsushiKan commented on #13915
Sounds good to me.

[2016-11-23 15:47] jkotas commented on #13915
No. It would pessimize the 99+% case for no good reason.

[2016-11-23 15:51] gugray commented on #10211
I am getting a variation of this error when running an ASP.NET Core app on Debian 8. My entry point is also MailKit.MailService.Connect (MailKit 1.8.1; see error details below). The error occurs when the process runs as a non-privileged user. The call succeeds when I run the process as root.

[code]

[2016-11-23 15:59] CarolEidt commented on #10931
The problem with wrapping of SIMD types is a known issue (https://github.com/dotnet/coreclr/issues/7508). I will try to have a look at it again in the next week or so to assess how much work it entails.
I've made some improvements in the struct copying recently, but it doesn't reduce the copies in this case. I think it's a combination of the fact that the optimization phases don't treat SIMD value

[2016-11-23 16:05] bartonjs commented on #10211
@gugray Whatever process context your user is running under, it's reporting that their home directory (or the $HOME variable) is /root/.

[2016-11-23 16:13] #11400 closed

[2016-11-23 16:16] dagood commented on #11098
It's still something that we can improve if we ever want branches like dev/api again. (Branches that have official builds and depend on their previous official build.) It's fairly minor and I've got other things on my plate so I'm unassigning it from myself for now.

[2016-11-23 16:28] patricksadowski commented on #13207
I changed it to `baseEntryName`. `baseEntryPath` doesn't seem to be consistent with other `ZipFile` and `ZipArchive` methods.

Well, I'd like to know why the parameter exists in method `ZipFile.CreateFromDirectory`. Your explanation leads to the conclusion to also remove the parameter from `ZipFile.CreateFromDirectory`. Is there a important historical reason to keep the parameter or should we drop

[2016-11-23 16:33] gugray commented on #10211
I created the user in question (intentionally) with "adduser --system --no-create-home". The process is launched by start-stop-daemon. I can imagine $HOME then ends up pointing to /root/ in my scenario.

Is it intentional that the user that accesses the certificate validation functions must have a home directory? It is _somewhat_ counter-intuitive to me, but admittedly I'm not coming from the Linu

[2016-11-23 16:38] dagood commented on #7952
Even if we only update it periodically and intentionally, the PRs could still be sent out automatically. Then if there are errors for some product repos, the generated branches can be used as the basis for fixing up the repo. Doing updates less often just changes the desired update trigger to "stable" versions rather than "LKG", where the current "stable" version might just be updated manually.

I

[2016-11-23 16:38] karelz commented on #11715
@jnm2
We can consider it when we will be porting changes over to full Framework (no ETA at this moment), if the fix is is low risk, reasonable value and there is no reasonable workaround.
If you need faster turnaround, I would recommend to use Microsoft Support.

[2016-11-23 16:42] bartonjs commented on #10211
@gugray Downloading CRLs is somewhat expensive (and a complicated performance lag when it happens) so the CRL is cached for future lookup.  However, it does look like we ignore IO failures, but not UnauthorizedAccessException; so that's probably worth changing for future versions.  Since your issue is different than the original, please open a new issue for it.

[2016-11-23 16:45] karelz commented on #7952
We should be very careful about automatic PRs cadence - we want to avoid noise from them.

[2016-11-23 16:46] VSadov commented on #13910
The call is really whether it is possible for a customer to have code like
[code]
I think the code like above is quite possible.

Also it is a slightly different case from direct Count like in
[code]
In the first case we have a selector supplied by the user. I think he expects the selector to run.
In the second case he just wants to get the Count, and therefore we could check if we can know the co

[2016-11-23 16:56] jkotas commented on #13427
Yes, it is what Span<T>.Copy implementation should do, in cases where it is profitable at least.

I am not sure about the generic InitBlock/CopyBlock overloads that take `ref T`. I am worried that they are too easy to call on something that contains GC references by accident. On the other hand, I understand that they are convenient - you do not have to cast to `byte` and/or do the pointer math.

@

[2016-11-23 16:57] JonHanna commented on #12950
`Convert(p, to)` will already find an available `op_Implicit` if it exists. It will though also use `op_Explicit` if it exists instead, built-in conversions when applicable, and lifted conversions when applicable.

Is there a reason why you want to not use some of those possible conversions if they are the only forms available?

As is:

[code]

Do you need something beyond that?

BTW, `Expression.

[2016-11-23 16:57] karelz commented on #12034
Spatial seems to me to like a specialized type. At minimum we need people/teams who use it heavily to design it -- design it in such a way it can be reused as suggested above. @divega is it something you could drive?
It should probably also sit on top of corefx libraries, so that it can be reused across .NET platforms (like ImmutableCollections). After that it can easily live in any repo, incl. co

[2016-11-23 16:58] jamesqo commented on #13427
@nietras, note that `Fill` should work on an element-per-element basis, not a per-byte one. Using `initblk` will only work if the sizeof T is 1, for example. I think since it cannot be easily expressed in IL, we should add it as an extension method somewhere in C#.

[2016-11-23 17:06] jamesqo commented on #13915
@jkotas, maybe it would be a good idea to provide a `ClearUnaligned` method or `UnalignedClear`, then? I think reinterpreting binary data (e.g. casting `Span<byte>` to `Span<T>`, where T is some bigger primitive type) is pretty a pretty common scenario for apps that e.g. read in binary files.

Also: maybe it should work with unaligned by default? `Clear` and `AlignedClear`?

[2016-11-23 17:08] AtsushiKan commented on #13427
The "ref T" overrides - I'm inclined to vote against them. If we're promoting Span as the "go to" guy for memory operations, it should be the one that offers amenities like "ref T" (with a ContainsReferences check) while the Memory class offers the raw minimal mechanisms.

[2016-11-23 17:11] karelz commented on #13914
Which UWP version do you use?

[2016-11-23 17:14] Ziflin commented on #10931
Thanks for checking it out Carol. This would really help out our project (and I'm sure anyone wishing to use the SIMD types) considerably.

[2016-11-23 17:15] jamesqo commented on #13892
@karelz, I think it may also be valuable offering an API for converting an `ImmutableArray<T>` to a `ReadOnlySpan<T>` via an implicit conversion, e.g.:

[code]

`ImmutableArray<T>` as it is it kind of hard to work with, because most of the framework methods accept plain arrays. That leads to scenarios like [**this**](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Workspa

[2016-11-23 17:20] karelz commented on #13897
Did you try to get it under a debugger to find out which code starts passing invalid data or behaves incorrectly? It would be a great help.

[2016-11-23 17:22] jamesqo commented on #8034
@justinvp, you have an interesting idea. However, I respectfully disagree; I think `HashCode` should be kept an immutable to avoid gotchas with mutable structs. Also having to implement `IEnumerable` for this seems kinda artificial/flaky; if someone has a `using System.Linq` directive in the file, then `Cast<>` and `OfType<>` will show up as extension methods if they put a dot next to a `HashCode`

[2016-11-23 17:24] karelz commented on #13892
Updated above ...

[2016-11-23 17:37] JonHanna commented on #13910
I **think** that it may suffice to make the changes in fc53753adb142540d7fbd7766310cef4c959a65a (scratch code, untested) which reject the fastpath counting in those `Select` iterators that support it when the ultimate source is `Count()`, while still allowing it to be used for pre-allocation.

[2016-11-23 17:44] tarekgh commented on #13832
I am seeing System.Globalization.Tests.CultureInfoMiscTests.InstalledUICultureTest is in System.Globalization\tests\CultureInfo tests and not in fx\src\System.Private.Xml\tests\Xslt\XsltCompiler\XsltCompiler.Tests.csproj.

I'll take care with this test.

I have closed the PR in coreclr because as @svick mentioned if you propose a new API, it has to go through the mentioned process.

why you think

[2016-11-23 17:44] jkotas commented on #13915
This is equivalent to casting your Span<T> to Span<byte> and calling a clear on it. I do not think it is worth having a convenience method for it.

This pattern is generally non-portable because of alignment requirements of different platforms. The NonPortableCast makes it possible if you know what to do to avoiding the land mines.

[2016-11-23 17:55] SamuelEnglard opened #13919 "New Type `System.Runtime.CompilerServices.DependentHandle<TPrimary, TSecondary>`"
There is an internal strut `System.Runtime.CompilerServices.DependentHandle` that is currently only used by `System.Runtime.CompilerServices.ConditionalWeakTable<TKey, TValue>`. The struct allows for a dependency between two objects to be created by a third type without modifying the first two classes, and only using up a pointer's worth of memory in the third type.

I have personally find use for

[2016-11-23 18:06] karelz commented on #2991
Should be fairly straightforward to do, especially now when all .NET Standard 2.0 APIs are in ...

[2016-11-23 18:08] jkotas commented on #13915
I expect that we are going to have methods like these to make reinterpreting of the binary data (in particular, binary data coming from the wire) fast and portable:

[code]

and similar for writes.

[2016-11-23 18:16] karelz commented on #6857
Next step: Propose a change in Composition which would not use `MemberInfo` and `ParameterInfo` as key in Dictionary.

[2016-11-23 18:24] jnm2 commented on #11715
Thanks @karelz.

[2016-11-23 18:24] karelz commented on #9425
We need [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) - note that there's also example in the link.
Please don't forget usage case(s) of the new API.

[2016-11-23 18:25] justinvp commented on #8034
@jamesqo, I agree -- hence my hesitation to even mention it. The only thing I like about it is the usage can be cleaner than chaining, but that itself is another drawback as it's not clear that collection initializers can even be used without seeing sample usage.

[2016-11-23 18:31] jkotas commented on #13816
Here is what needs to be done for this:

- Change `ArrayNative::CanAssignArrayTypeNoGC` to use GetVerifierCorElementType (https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/classlibnative/bcltype/arraynative.cpp#L320)
- Delete the one direction check for enums in CanAssignArrayTypeNoGC because of it is no longer needed (https://github.com/dotnet/coreclr/blob/32f0f9

[2016-11-23 18:34] KrzysztofCwalina commented on #8034
@MadsTorgersen, @jaredpar, why the collection initializer requires implementation of IEnumerable<T>? See @justinvp's third comment above.

[2016-11-23 18:43] ianhays commented on #13207
good call.

We've pretty well already made our bed with `ZipFile.CreateFromDirectory` - if we change it now we break compat. I'm on the fence about including it in `CreateEntriesFromDirectory`. If you feel that we should to be consistent with CreateFromDirectory then I'm fine with that.

[2016-11-23 18:43] AlexGhiondea commented on #10994
We need a formal API proposal for this. Anyone interested?

[2016-11-23 18:45] AlexGhiondea commented on #5558
The fix for this would need to go in the coreclr repo. The PR #5619 was fixing this for CoreRT.

[2016-11-23 18:45] svick commented on #8034
@mellinoe I think that would make the simple case slightly simpler, but it would also make anything beyond that more complicated (and less clear about what is the right thing to do).

That includes:
1. more items than you have overloads for
2. conditions
3. loops
4. using comparer

Consider the code from ASP.NET posted before on this topic (updated to the current proposal):

[code]

How would this

[2016-11-23 18:49] tarekgh commented on #10994
No, the change is to support "q" when have it in the datetime patterns. so theoretically there is no API change

[2016-11-23 18:51] AlexGhiondea commented on #6485
This should be a simple fix on Core. Anyone interested in taking this over?

[2016-11-23 18:55] #8516 closed

[2016-11-23 19:00] CIPop commented on #13372
[code]

[2016-11-23 19:01] svick commented on #8034
@KrzysztofCwalina According to @ericlippert's [note in *The C# Programming Language*](https://books.google.com/books?id=s-IH_x6ytuQC&pg=PT404), it's because collection initializers are (unsurprisingly) meant to be syntax sugar for collection creation, not for arithmetic (which was the other common use of method named `Add`).

[2016-11-23 19:02] CIPop commented on #13372
`HttpWebResponse` has a public ctor (no ObsoleteAttribute) in CoreFX which was obsoleted in NetFX and is not part of netstandard:

[code]

[2016-11-23 19:03] AlexGhiondea commented on #6893
Based on the comments on this thread it looks like we don't believe this is something we want to pursue. As @vancem said we could instead focus our attention at improving StringBuilder.

[2016-11-23 19:03] #6893 closed

[2016-11-23 19:03] justinvp commented on #8034
@KrzysztofCwalina, and note, it requires non-generic `IEnumerable`, not `IEnumerable<T>`.

[2016-11-23 19:04] nietras commented on #13915
@jkotas Of course not, I didn't think so either, but since you wrote "should be thin wrappers over cpblk/initblk IL instructions", I though hey Jan knows better perhaps the JIT can do some tricks 🎱 but probably more it was me interpreting "thin" incorrectly, and phrasing the text wrong :), I tried to correct the proposal text accordingly. Perhaps a little too detailed...

I would hope `Array.Clear

[2016-11-23 19:05] justinvp commented on #8034
@svick, minor nit in your first example above: the first call to `.Combine` would be `.Create` with the current proposal.

[2016-11-23 19:07] AlexGhiondea commented on #7208
@TKharaishvili would you be willing to come up with a formal API proposal? Having explicit use cases here would make it more clear how it is going to be used.

[2016-11-23 19:08] CIPop opened #13922 "SecurityProtocolType Ssl3 should be marked as obsolete"
Similar to obsolete members in `SslProtcols`.

@davidsh @karelz @blowdart PTAL

[2016-11-23 19:09] blowdart commented on #13922
But then we break serialization should someone want to serialize it. Which I'm ok with, but lots of other people aren't :(

[2016-11-23 19:10] mellinoe commented on #8034
@svick

I dunno, the second example is barely different from the first one overall, and it's not more complex IMO. With the second/original approach, you just pass in a bunch of hash codes (I think the first parameter actually should be `IsMainPage.GetHashCode()`), so it seems straightforward to me. But it seems like I'm in the minority here, so I won't push for the original approach. I don't have

[2016-11-23 19:12] weshaggard commented on #2317
Thanks @JonHanna I missed that detail. I'm good with this given it is only source breaking and people would need to explicitly retarget before they would ever see it.

[2016-11-23 19:13] danmosemsft commented on #13911
This is https://github.com/dotnet/buildtools/issues/1092 and @karajas is working on that. @karajas what is the workaround -- create an .exe.config file for corerun? Could you explain for @jamesqo ?

@ianhays

[2016-11-23 19:13] AlexGhiondea commented on #7656
As @svick suggested, a better approach to this (that would reduce string allocations) would be to write a Split method that would return you a bunch of Span object. Using the Span you can inspect the original string without needing to allocate a new substring.

I am going to close this for now but please feel free to re-open if there are use cases for this that we haven't considered.

[2016-11-23 19:13] #7656 closed

[2016-11-23 19:14] svick commented on #8034
@justinvp Thanks, updated. (I went with the first proposal in the first post, and didn't realize it's out of date, someone should probably update it.)

[2016-11-23 19:14] nietras commented on #13427
@jamesqo yes I am aware of that. I wasn't saying or implying that `Fill` should forward to `initblk`. Merely that if we want `Span<T>` to be the go to implementation of memory operations, managed and unmanaged, we should ensure all the basic ops are there e.g. copying, clearing, filling and comparing, yes I would like comparing to be there too.

Whether all functionality should be member or extens

[2016-11-23 19:16] karelz commented on #13922
How common is serialization? At minimum, it should pass through ddcc group.

[2016-11-23 19:16] AlexGhiondea commented on #7683
It looks like we need to improve our documentation around this.

@karelz how should we track documentation issues?

[2016-11-23 19:18] steveharter commented on #11118
@komby the plan is to support CspParameters; note it is optional only used to obtain\create the appropriate Csp when CryptDeriveKey is called. If it is not provided, a default version is used.

[2016-11-23 19:22] karelz commented on #7683
'documentation' label is the best at this moment for API docs.
We will flush out the whole API docs story in December/January. Until then, let's just mark the bugs with 'documentation' label.

[2016-11-23 19:22] stephentoub commented on #13372
It's probably good to fix to make things consistent, but technically I don't think it's actually required, since WebResponse itself implements ISerializable

[2016-11-23 19:25] CIPop commented on #13922
Serialization won't be broken if the change is made in the `ref` folder only.

[2016-11-23 19:25] JeremyKuhne opened #13924 "Expose a cached StringBuilder"
We use `StringBuilderCache` to improve performance for short-lived usages of `StringBuilder`. Numerous other codebases have copied this. I want to suggest that we: (1) expose `StringBuilderCache` and/or (2) expose a cached `StringBuilder` on `StringBuilder`.

### New Member Option A
Aligns with `StringBuilderCache`, although I prefer to flip the ordering of the words for `GetStringAndRelease`- it

[2016-11-23 19:26] JeremyKuhne commented on #13924
@vancem, @jkotas, @stephentoub

[2016-11-23 19:31] karelz commented on #13922
@weshaggard do we take ref-only changes?

[2016-11-23 19:35] CIPop commented on #13922
@karelz for details, please refer to https://github.com/dotnet/corefx/pull/13745

[2016-11-23 19:42] CIPop commented on #13372
Sockets defines two overrides in the ref (not part of netstandard):
[code]

[2016-11-23 19:50] tarekgh opened #13926 "Support UpperCaseFirst enum value in CompareOptions"
Currently System.Xml.Xsl support the sort option "uppercase-first" option. we have supported this on Linux by using unexposed enum value
       UpperCaseFirst = 0x01000000

https://github.com/dotnet/coreclr/pull/8283
https://github.com/dotnet/corefx/issues/13236

we need to publicly expose this  option after figuring out what is the best way to support it on Windows as the OS doesn't support this

[2016-11-23 19:50] svick commented on #13919
What is the point of having both `Free()` and `Dispose()`?

[2016-11-23 19:51] jkotas commented on #13924
I do not think we should expose this. The StringBuilderCache has bad properties: it only works for small strings, it is one per thread and stays allocated forever.

We should be snapping to ArrayPool for any kind of similar pooling. Discussed in https://github.com/dotnet/corefx/pull/13875#issuecomment-262293493.

If we need to make the string formatting cheaper, we should create an small internal

[2016-11-23 19:54] CIPop commented on #13372
WebClient:

Nit: Internal ctors have arguments:
[code]

Extra obsolete APIs not present anymore in netstandard:

[code]

[2016-11-23 19:55] redknightlois commented on #8034
@mellinoe the problem is actually that the second can generate subtle bugs. This is actual code from one of our projects.
[code]

We live with it, but we are dealing with very low level stuff every day; so not the average developer that is for sure. However it is not the same here to combine v with w than w with v ... the same in between v and w combines. Hash combinations are not commutative, so

[2016-11-23 19:55] CIPop commented on #13372
WebHeaderCollection implements IEnumerable only in CoreFX:

[code]

[2016-11-23 20:01] jtoivola commented on #9675
Create C\C++ Runtime Component and use GetAdaptersAddresses.
https://msdn.microsoft.com/en-us/library/windows/apps/aa365915.aspx

Available since Anniversary.

[2016-11-23 20:05] JeremyKuhne commented on #13924
I'm more concerned with the current "need" for it and numerous copies than exactly how we solve it. :) There are two main questions I have with your suggestion:

1. How do we normalize this with `StringBuilder` as far a usage cases? Does this one become "StringBuilder2.0"?
2. What is the P/Invoke story with an ArrayPool based builder? Use char[] in your signatures? I _believe_ that arrays of blitt

[2016-11-23 20:07] bgribaudo opened #13927 "SqlConnection.CreateCommand() - Auto-Enlist in Pending Local Transaction"
When CreateCommand() is called on a SqlConnection that is in a transaction, the SqlCommand returned by that method is **not** associated with the connection's transaction. Instead, the command must be explicitly informed of the transaction or an exception similar to the following will be thrown when the command is executed:

## Cost of the Manual Wire-Up
* The need to manually associate the comman

[2016-11-23 20:12] CIPop commented on #13372
@weshaggard @danmosemsft @karelz
/cc @terrajobst @ericstj @davidsh

I've added all the results of my diff between netstandard/ref and corefx/**/ref. I've checked that we have tracking issues for all remaining differences.
PTAL. After we take a decision on each of the issues and a change is necessary, please update the description of this issue.

[2016-11-23 20:15] karelz commented on #8034
Done.
BTW: This proposal is very hard to keep track of, especially the votes ... so many variations (which I guess is good ;-))

[2016-11-23 20:24] jkotas commented on #13924
Number of types in the classic .NET surface were designed for rapid application development of enterprise apps. They are not as fast and lean as we would like them to be. We have ad-hoc developed leaner alternatives for internal corefx use. Here is leaner `List<T>` alternative for example: https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Collections/Generic/ArrayBuilder.cs#L10. P

[2016-11-23 20:36] CIPop commented on #13900
This is solved by https://github.com/dotnet/corefx/pull/13441
/cc: @karelz @tijoytom

[2016-11-23 20:41] karelz commented on #13036
@DamianEdwards ping?

[2016-11-23 20:49] karelz commented on #13900
@CIPop @tijoytom can either of you please get it checked in?
Note: @tijoytom is OOF till end of Jan, but he mentioned he might want to finish this one ...

[2016-11-23 20:53] CIPop commented on #13900
@karelz I'll pull from @tijoytom's branch, address comments and submit another PR.

[2016-11-23 20:54] karelz commented on #13900
Great, thanks!

[2016-11-23 20:56] karelz commented on #13372
@danmosemsft can you please help us identify which items are meaningful and should be followed up on?

[2016-11-23 21:04] karelz commented on #12644
Just curious how things are going here ... anything we can do to help?

[2016-11-23 21:05] karelz commented on #10752
@robertmclaws ping?

[2016-11-23 21:06] SamuelEnglard commented on #5899
So is this done?

[2016-11-23 21:09] karelz commented on #7175
We should bring the additional APIs back for API review

[2016-11-23 21:10] SamuelEnglard commented on #13919
No real reason. The internal type has `Free()` and doesn't implement `IDisposable`. I added `IDisposable` and `Dispose()`. Having `Free()` doesn't make sense now. I'll remove it.

[2016-11-23 21:15] robertmclaws commented on #10752
Sorry, I'm working on it. Will try to have a PR over the holiday break.

[2016-11-23 21:18] robertmclaws commented on #12034
@karelz  Why do you say it's a "specialized" type? To me it is no more specialized than System.Threading.Thread. Every type has a reason for its existence.

[2016-11-23 21:25] karelz commented on #13837
@brianrob @vancem can you please help with production-level settings of PerfView to collect perf trace?

[2016-11-23 21:27] bartdesmet commented on #13864
The underlying limitation has also been lifted now, so future versions of .NET Standard (at this point 2.0 over in `corefx`) will no longer require you to work around uses of `TryExpression` in various places.

[2016-11-23 21:28] #11740 closed

[2016-11-23 21:34] karelz commented on #10752
Sure, no pressure, just want to make sure we are somewhat up to date on who is working on what.

[2016-11-23 21:36] jamesko commented on #8034
I think somebody accidentally added me to this github thread. My username
is "jamesko". Perhaps, it is because it appears to be similar to someone
else's in your collaboration. I see one guy "jamesqo". Please correct this
in subsequent "reply all" or whatnots.

Hope your project goes well!

the real Jamesko ;)

On Wed, Nov 23, 2016 at 12:16 PM, Karel Zikmund <notifications@github.com>
wrote:

[2016-11-23 21:44] JeremyKuhne opened #13931 "Move Get/SetEnvironmentVariable to CoreLib"
Due to the lack of thread safety with environment variables on Unix the values are cached in the CoreFX [implementation]( https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/Environment.Unix.cs#L19).

This causes `Path.GetTempPath()` and anything else that tries to get an environment variable in CoreLib to not have the up-to-date values. See the failing tests in h

[2016-11-23 21:46] JeremyKuhne commented on #13931
@jkotas Any issues with doing this?

cc: @ianhays, @stephentoub

[2016-11-23 21:55] jkotas commented on #13931
Sounds reasonable to me.

[2016-11-23 22:00] danmosemsft commented on #13837
If it's Windows server then [Azure Service Profiler](https://www.azureserviceprofiler.com/) may be convenient.

[2016-11-23 22:05] #13236 closed

[2016-11-23 22:10] jkotas commented on #13915
Right. Experimented with in corefxlab https://github.com/dotnet/corefxlab/blob/master/src/System.Slices/System/SpanExtensions_binary.cs#L46

[2016-11-23 22:25] jkotas commented on #13427
Span-specific optimizations will know the size of `T`.

They may be possible for standalone initblk/cpblk in some cases as well, e.g. if the multiplication with size of `T` immediately precedes. But I doubt that they will matter enough for somebody to do them.

[2016-11-23 22:26] jkotas commented on #13427
I have update the proposal above with the current proposal.

[2016-11-23 22:53] AlexGhiondea commented on #8348
@marcusien is there any workaround you can use for this?

[2016-11-23 22:56] AlexGhiondea commented on #9788
@macakmujo if I understand right, you have figure out a workaround for this? Can you confirm?

The other issue on the thread was around marking the package as stable. I will follow-up on it and will file a separate issue to address it if necessary.

[2016-11-23 23:03] karelz commented on #3189
We need formal API proposal

[2016-11-23 23:04] AndriySvyryd commented on #13897
@karelz There isn't enough information in the debugger to say for sure, because the assemblies are optimized. My best guess is that the `TypeInfo.GetDeclaredMethod(string)` has different behavior. Roslyn uses it to get the entry point method in the compiled script.

[2016-11-23 23:04] karelz commented on #3324
We need formal API proposal

[2016-11-23 23:10] AlexGhiondea commented on #9788
The package 'System.Composition' is now marked as stable:
https://github.com/ericstj/corefx/blob/master/pkg/Microsoft.Private.PackageBaseline/packageIndex.json#L2880

[2016-11-23 23:13] AlexGhiondea commented on #10013
@GSPP how about augmenting the BitConverter type with these new methods?

I feel like that would be a better place for these since that is already a type people use for converting between various formats.

[2016-11-23 23:21] lutzroeder opened #13934 "Global DTAR does not return reliable closure of NuGet packages containing .NET Core assemblies"
Need to properly communicate that .NET Core packages shipped post RTM will include a marker .nuget\packages\System.Foo\x.x.x\useSharedDesignerContext.txt.

[2016-11-23 23:24] AtsushiKan commented on #13427
Unsubscribing from thread as my year-end vacation is about to start. See 'yall in January.

[2016-11-23 23:38] #13832 closed

[2016-11-23 23:45] #13739 closed

[2016-11-23 23:45] #9997 closed

[2016-11-23 23:53] jkotas commented on #13931
The Windows-only overloads that write to registry may still stay in corefx.

[2016-11-23 23:56] jamesqo commented on #13692
Sorry, just curious: what exactly is the difference between this & a simple `ReferenceEquals`? Is there a scenario where they will return differing values? I've known for a long time that the default `object.Equals` calls this, but I wasn't able to figure it out.

[2016-11-24 00:06] AlexGhiondea commented on #1653
@colombod we currently do not have a specific feature in mind for this. This is a fairly complex area and I suspect it will be a lot of work/thinking to get this right.

Is this something you are interested in prototyping and seeing what a surface area / implementation / challenges would look like?

[2016-11-24 00:07] AlexGhiondea commented on #1652
This looks like a good place for someone to start getting familiarized with working on .NET Core.

[2016-11-24 00:09] jamesqo opened #13936 "Expose & add tests for Array.Fill implementation"
Now that the `Array.Fill` api has been added to coreclr & corert, the api needs to be exposed & tests added. I'll do this later when I have time, possibly when I finish the HashCode PR.

[2016-11-24 00:10] MattGal commented on #1652
True, but I'm not sure this race condition ever actually has been hit in real test execution so it may be theoretical only.

[2016-11-24 00:10] AlexGhiondea commented on #10013
There are at least a couple of other issues tracking something like this:
https://github.com/dotnet/corefx/issues/1647
https://github.com/dotnet/corefx/issues/4441

Let's track it with a single issue (this one).

It does look like this is something for which there is interest in implementing.

@GSPP, @GrabYourPitchforks @KrzysztofCwalina is anyone of you interested in writing up a formal API propo

[2016-11-24 00:11] danmosemsft commented on #13692
@jamesqo I actually don't know, since it appears to [call through](https://github.com/dotnet/coreclr/blob/3baf3a71dfa8a1504efd54973fe7ae5aedef0e13/src/vm/ecalllist.h#L1856) to `object.Equals`
@jkotas will know the history.

[2016-11-24 00:11] AlexGhiondea commented on #1647
@KrzysztofCwalina @karelz I am going to track this work under this issue: https://github.com/dotnet/corefx/issues/10013

[2016-11-24 00:11] #1647 closed

[2016-11-24 00:11] AlexGhiondea commented on #4441
Let's track this work with issue https://github.com/dotnet/corefx/issues/10013.

[2016-11-24 00:11] #4441 closed

[2016-11-24 00:12] AlexGhiondea commented on #1652
@MattGal so this is just based on code inspection?

[2016-11-24 00:13] karelz commented on #12034
@robertmclaws I treat it as specialized type, because I don't believe it is widely used by applications/frameworks.
As such it would be IMO better to build it in a separate NuGet package. Potentially not even from corefx repo.

[2016-11-24 00:21] robertmclaws commented on #12034
@karelz [DbGeography is a pretty widely used EF type](https://github.com/search?l=C%23&p=2&q=DbGeography&ref=searchresults&type=Code&utf8=%E2%9C%93). What I'm suggesting is to take the existing System.Spatial library, put it in a different repository (possibly .NETFX, possibly in its own separate repo), make it .NET Core compliant, and mandate it as the foundation for all location-based code Micro

[2016-11-24 00:22] jamesqo commented on #8034
@bartonjs @stephentoub Regarding your comments on `Combine` / `Create`, one thing to keep in mind is that we will have to add 2 new methods any time we want to add an overload for either. For example, if we added APIs for combining values in bulk, like

[code]

Then we would also have to provide 3 matching static `CreateRange` overloads. (I was actually planning to propose these APIs, but in anoth

[2016-11-24 00:25] #12526 closed

[2016-11-24 00:26] AlexGhiondea commented on #8126
Does this mean that you are going to have the localized values in the code?

I am not seeing a lot of value having this inside the string identifier. There will not be any intellisense for it there allowing you to easily make mistakes.

I would rather have an extension method that you control and lets you do what you need versus introducing this into the platform as a general purpose feature.

@te

[2016-11-24 00:29] jamesqo commented on #8034
@JonHanna

The hashing algorithm we're choosing will be the same one used in [`HashHelpers`](https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Numerics/Hashing/HashHelpers.cs#L9) today, which has the effect that `hash(0, x) == x`. `HashCode.Empty.Combine(x)` will produce the exact same results as `HashCode.Create(x)`, so there is objectively no difference.

[2016-11-24 00:29] AlexGhiondea commented on #8526
@mjsabby, @gkhanna79 do we need a formal API proposal for this?

[2016-11-24 00:32] AlexGhiondea commented on #8226
I believe this is just a perf improvement.

@AdamSpeight2008 is this something you are interested in tackling?

[2016-11-24 00:34] jamesqo commented on #13842
@karelz, maybe this could be marked ready-for-review? I don't think this would be a very controversial API; as I showed in the description there are many SO questions about this.

[2016-11-24 00:42] AdamSpeight2008 commented on #8226
@AlexGhiondea
Honestly I've not look at this for a while,Initially posted to that they maybe *(ie untested)* benefits. I think the premise needs a some more bake time. Since it basically replicates the code that does the parse and build, they may be a way shared code and get both.

[2016-11-24 00:43] MichaCo commented on #13890
@CIPop Regarding a native implementation. I did some tests with both [DnsQuery](https://github.com/MichaCo/DnsClient.NET/blob/dev/samples/MiniDig/Interop.DnsQuery.cs) and [DnsQueryEx](https://github.com/MichaCo/DnsClient.NET/blob/dev/samples/MiniDig/Interop.DnsQueryEx.cs) - [docs](https://msdn.microsoft.com/en-us/library/windows/desktop/hh447188(v=vs.85).aspx).

The implementation is 99% from pinv

[2016-11-24 00:47] jkotas commented on #13692
There is difference for boxed valuetypes - `RuntimeHelpers.Equals` compares the content, not the boxed reference:

[code]

[2016-11-24 00:48] MattGal commented on #1652
@AlexGhiondea Code inspection by whoever did the PR review 1.5 years ago yes.

[2016-11-24 00:48] karelz commented on #13842
@VSadov @OmarTawfik are in the middle of Linq area triage (see [areas](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md)), they will get to it ...

[2016-11-24 00:53] jamesqo commented on #13842
@karelz 👍 Thanks for linking me to that document, I did not know about it.

[2016-11-24 00:56] jamesqo commented on #13692
@jkotas Ah, I see. Doesn't `ValueTuple` override `Equals` anyway, though?

[2016-11-24 01:03] randomvariable opened #13937 "Add Fedora 25 to CI / RID Graph / Packages"
https://fedoraproject.org/wiki/Releases

https://hub.docker.com/_/fedora/

[2016-11-24 01:03] jkotas commented on #13692
This has nothing to do with ValueTuple.

[2016-11-24 01:04] karelz commented on #13936
It's already tracked by #6695.

[2016-11-24 01:04] #13936 closed

[2016-11-24 01:10] karelz commented on #13842
Docs discoverability and cleanup is on my list for December :)

[2016-11-24 01:28] jiangzeng commented on #13298
Following tests failed with the same issue in build 20161123.03
[code]
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161123.03/workItem/System.Net.Http.Functional.Tests

[2016-11-24 01:29] dotnet-mc-bot opened #13938 "Test failure: System.Net.Http.Functional.Tests.ResponseStreamTest/ReadAsStreamAsync_Cancel_TaskIsCanceled"
Opened on behalf of @jiangzeng

The test `System.Net.Http.Functional.Tests.ResponseStreamTest/ReadAsStreamAsync_Cancel_TaskIsCanceled` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Net.Http.Functional.Tests.ResponseStreamTest.<ReadAsStreamAsync_Cancel_TaskIsCanceled>d__5.MoveNext()
    --- End of stack trace from previous

[2016-11-24 01:31] mellinoe commented on #8526
@AlexGhiondea The request is to add support for the existing contract to desktop, not to design any new API's, I think.

[2016-11-24 01:34] suryapratap commented on #12034
That's a very narrow view. The perceived lack of widespread use in .Net could be because developers needed to develop almost everything from scratch in this domain.

A lot of the web and mobile app development relies on GPS location and map display, currently vendors prefer Java & Python because of the community support available and libraries that are taken as defacto standards. GeoApi, NetTopolo

[2016-11-24 01:36] jamesqo commented on #13692
@jkotas, sorry. I meant ValueType.

[2016-11-24 01:36] jiangzeng commented on #8744
Latest failure on windows 7 in build 20161123.03
Test: System.Net.Security.Tests.ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_EachSupportedProtocol_Success

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161123.03/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.ServerAsyncAuthenticateTest~2

[2016-11-24 01:39] #12302 closed

[2016-11-24 01:48] dotnet-mc-bot opened #13939 "Test failure: System.ServiceProcess.Tests.ServiceControllerTests/StopAndStart"
Opened on behalf of @jiangzeng

The test `System.ServiceProcess.Tests.ServiceControllerTests/StopAndStart` has failed.

System.InvalidOperationException : Cannot stop 51b4bcf8-1349-44d6-8b49-441d5f386761 service on computer '.'.\r
    ---- System.ComponentModel.Win32Exception : The pipe has been ended

        Stack Trace:

           at System.ServiceProcess.ServiceController.Stop()
       at Sys

[2016-11-24 01:48] karelz commented on #8034
@jamesqo you forgot to include the additional `Zero` in your last proposal. If that was an omission, can you update it? We can then ask folks to vote for your latest proposal. Looks like the other alternatives (see the top post which I updated) don't get that much following ...

[2016-11-24 01:51] karelz commented on #8526
In that case we can close it -- @AlexGhiondea's tooling for 'netfx-port-consider' will pick it up for Desktop in our next sweep.
Feel free to reopen if I am wrong.

[2016-11-24 01:51] #8526 closed

[2016-11-24 01:55] jamesqo commented on #8034
@karelz Thanks for spotting, fixed.

[2016-11-24 02:43] MadsTorgersen commented on #8034
@KrzysztofCwalina to check that you mean “Add” in the sense of adding to a collection, not in some other sense. I don’t know if I like this restriction, but that’s what we decided at the time.

From: Krzysztof Cwalina [mailto:notifications@github.com]
Sent: Wednesday, November 23, 2016 10:35 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Mads Torgersen <Mads.Torgersen@microsoft.com>; Mention

[2016-11-24 03:00] gkhanna79 commented on #8526
CC @rahku who is going to look into this once he is back from vacation.

[2016-11-24 03:11] JonHanna commented on #2317
How will this need to be in regards of versioning? Just bump the library minor version?

[2016-11-24 03:41] AlexRadch opened #13940 "Make CultureInfo properties UserDefaultCulture and UserDefaultUICulture public"
`CultureInfo` currently implement `InstalledUICulture`,  `UserDefaultCulture` and `UserDefaultUICulture` properties.  `InstalledUICulture` property is public, but `UserDefaultCulture` and `UserDefaultUICulture` properties are internal.  `UserDefaultCulture` and `UserDefaultUICulture` properties **will be very helpful to get current user cultures**. So I suggest make UserDefaultCulture and UserDefa

[2016-11-24 04:21] SunnyWar commented on #7208
I, too, see the need for this in countless projects.

[2016-11-24 06:02] colombod commented on #1653
Could give it a try!

Dr Diego Colombo PhD

[2016-11-24 06:03] bartdesmet commented on #13571
We've decided on an `infoof` based approach using delegates for now, so closing this.

[2016-11-24 06:03] #13571 closed

[2016-11-24 06:04] #13048 closed

[2016-11-24 06:04] AlexGhiondea commented on #1653
Awesome! :)

Let us know how we can help out! :)

[2016-11-24 06:22] bartdesmet commented on #13909
Related proposal and discussion @ https://github.com/dotnet/corefx/issues/5078.

One possible concern with the overloads proposed is that a closed-over resource used in the `selector` is not exclusive to the enumeration. In the example, this can lead to usage of `Random` from multiple threads. It may make sense to have an overload that has a factory for a resource that's used by the `selector`.

S

[2016-11-24 06:54] ChristophvanderFecht commented on #9675
@jtoivola Thx for the suggestion. I also found that currently you can only get the information by using native code. I will have a look at this.

Yesterday I used this [PInvoke](http://www.pinvoke.net/default.aspx/iphlpapi/GetInterfaceInfo.html) as mentioned on [Stackoverflow](http://stackoverflow.com/questions/32672520/how-to-get-unicast-dns-and-gateway-address-in-uwp). It solved the problem for

[2016-11-24 07:18] AndriySvyryd commented on #13897
On a second look `COMDelegate::IsMethodDescCompatible` might the culprit, it returns false when the delegate return type is not a framework type. Here's a simpler repro:
[code]

[2016-11-24 07:23] Clockwork-Muse commented on #13568
@ArshBunny - I meant, use `BigInteger.Pow`, which doesn't deal with floats.
Also, you don't have to subtract and multiply by a single operator each time; a logn solution is possible (an exercise left to the reader).

[2016-11-24 10:16] TKharaishvili commented on #7208
@AlexGhiondea can you give me a guide of sorts of how to create the formal API proposal? Or a template of how it should look like?

[2016-11-24 12:10] #11992 closed

[2016-11-24 13:47] tipa commented on #13914
I am targeting `Windows 10 Build 14393` and use `Microsoft.NETCore.UniversalWindowsPlatform 5.2.2`.
There is no error when using `System.IO.Compression.ZipFile 4.0.1`.

[2016-11-24 15:05] ili commented on #12950
We are building universal convert expression (it is the part of `IDataReader` to object mapping). So we can define source and destination types only in runtime. So looking for `op_Implicit` and `op_Explicit` is only one of the steps.

And it's really strange that we haven't faced with this issue before, as mentioned above it is the same on previous .net versions

Speaking about the test, it is jus

[2016-11-24 16:35] JonHanna commented on #12950
Again though, if you want to create a conversion expression between types at runtime, then why not just use `Convert(typedExpression, convertToType)` and let the factory decide which approach (built-in conversions, implicit operator, explicit operator) is available, if any.

To consider you're starting point of having a typed value `p` (that we can set to `Expression.Constant(101L, typeof(long?))`

[2016-11-24 16:37] varocarbas commented on #13293
I have submitted an [issue precisely to optimise ParseNumber](https://github.com/dotnet/coreclr/pull/3163), which is called by the `Parse`/`TryParse` methods of all the numeric types (in the specific case of `long`: `ParseInt64` -> `StringToNumber` -> `ParseNumber`). This is where all the string-analysis actions are performed (= big impact on performance).

Although this is a virtually non-improva

[2016-11-24 17:03] varocarbas commented on #13293
After doing some quick tests and confirming what the integer types can parse (i.e., virtually everything except decimal points; including currencies, hex numbers, parenthesis, etc.) and looking at the quite simplistic proposed improvement (i.e., only accounting for numbers), perhaps new faster methods for integer types (even for all the other types; only considering numbers and basic symbols) migh

[2016-11-24 17:05] ili commented on #12950
Thanks, I'll think about it :)

[2016-11-24 17:17] CodesInChaos commented on #10013
If the slices API lands before this, I'd go with something like:

[code]

perhaps add some additional overload with `byte[]`, `char[]`, `string` inputs.

[2016-11-24 17:43] m4x1202 commented on #13310
@bartonjs sry this took a little.
I basically checked my setup again and with the help of your clarification i was able to get my docker image working.
I assume that when i first tested my server with netcore 1.1.0, I failed to fully uninstall the 1.1.0 preview (dotnet-dev-1.0.0-preview2.1-003155) and therefore still got the Exception with 1.1.0 (probably missed to remove some dependencies).
With

[2016-11-24 17:43] #13310 closed

[2016-11-24 18:03] karelz commented on #13914
@ericstj @ianhays can you please help here?

[2016-11-24 18:07] karelz commented on #13897
@AndriySvyryd why did you delete the simplified repro? Didn't it repro?

cc: @jkotas to help route it

[2016-11-24 18:22] karelz commented on #10013
We don't take any new API additions if they would be obsolete when `Span` lands.
Marking as blocked on `Span` - @AlexGhiondea feel free to change it if you think I am wrong.

[2016-11-24 19:42] bartonjs commented on #13310
@m4x1202 Glad you were able to get it worked out!

[2016-11-24 19:59] softlion opened #13946 "Android: In UnixIPInterfaceProperties.cs, GetDnsAddresses does not work"
Instead on android you should get the linux properties net.dns1, net.dns2, ...

Shell:
`getprop net.dns1
`

Code:
[code]

[2016-11-24 21:03] AndriySvyryd commented on #13897
@karelz Yes, that repro was incorrect. It seems to only affect runtime emitted assemblies. I managed to save one to a file, but couldn't create a static repro with it yet.
[CompiledRepro.zip](https://github.com/dotnet/corefx/files/612174/CompiledRepro.zip)

[2016-11-24 21:45] bartdesmet opened #13951 "CI failures in WinHttpHandlerUnitTests"
See https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/733/
[code]
with errors like:
[code]
Seems different from other WinHttpHandler test failures reported earlier.

[2016-11-24 22:13] jamesqo commented on #13910
@JonHanna, are there other methods besides `Select` that need to run selectors in this method? e.g. `OrderBy`?

[2016-11-24 22:21] JonHanna commented on #13910
`OrderBy` always runs its key selector once per item no matter how much final selection is elided by the optimisations last year, because it can't compare until then.

Some things coming after a `Select` could skip items, but only if they decide they can pre-compute sizes (I'm not 100% about that, esp. since there's been a few changes since I was last at the point of being able to do the mental lo

[2016-11-24 22:26] justinvp commented on #8034
Should the parameter be named `hashCode` instead of `hash` since the passed-in value is going to be a hash code likely obtained from calling `GetHashCode()`?

If we do end up keeping this, another name to consider is `Default`.

[2016-11-24 22:54] jamesqo commented on #8034
@justinvp

I wanted to name the int parameters `hash` and the `HashCode` parameters `hashCode`. On second thought however, I do believe that `hashCode` would be better because, as you mentioned, `hash` is kinda vague. I'll update the API.

When I hear `Default` I think "the regular way to do something when you don't know which option to choose," not "the default value of a struct." e.g. Something

[2016-11-25 00:39] jamesqo opened #13960 "Substring allocations in WebUtility.HtmlDecode()"
Currently `WebUtility.HtmlDecode()` allocates a substring every time it allocates an HTML entity: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/Net/WebUtility.cs#L234. For example, running the code on something like `&quot;Hello&apos;s world&quot;` will result in substring allocations for `quot`, `apos`, and `quot`.

Ideally, we would just modify `HtmlEntiti

[2016-11-25 01:22] dotnet-mc-bot opened #13964 "Test failure: System.Net.Sockets.Tests.SendReceive/SendRecvPollSync_TcpListener_Socket(listenAt: ::1, pollBeforeOperation: True)"
Opened on behalf of @jiangzeng

The test `System.Net.Sockets.Tests.SendReceive/SendRecvPollSync_TcpListener_Socket(listenAt: ::1, pollBeforeOperation: True)` has failed.

System.AggregateException : One or more errors occurred. (An existing connection was forcibly closed by the remote host)\r
    ---- System.Net.Sockets.SocketException : An existing connection was forcibly closed by the remote hos

[2016-11-25 01:23] jiangzeng commented on #13964
Looks the same with https://github.com/dotnet/corefx/issues/7150

[2016-11-25 01:27] bartdesmet opened #13966 "CI failure in System.Security.Cryptography.Encryption.Tests.Asymmetric.CryptoStreamTests.FlushAsync"
See https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/731/.
[code]

[2016-11-25 01:49] bartdesmet opened #13967 "CI failure in System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom.ReceiveFromV6BoundToAnyV4_NotReceived"
See https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/739/
[code]

[2016-11-25 02:21] jamesqo opened #13970 "Improve test coverage for List..ctor(IEnumerable<T>) and AddRange"
In conjunction with the changes at: dotnet/coreclr#8306. In particular, it doesn't look like there are tests exercising the path where `this == c` (where `c` is the collection to be added) in https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Generic/List/List.Generic.Tests.AddRange.cs. So code coverage can probably be improved.

[2016-11-25 02:29] JonHanna opened #13972 "CI Failure in System.Diagnostics.Tests.ProcessTests.TestMinWorkingSet"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/733/

[code]

[2016-11-25 03:21] ili commented on #12950
@

[2016-11-25 03:24] ili commented on #12950
@JonHanna may be you can advice me, how can I check that `Convert` expression would be called without exception?

[2016-11-25 03:24] #12950 closed

[2016-11-25 03:29] JonHanna commented on #12950
If I wanted to know that, without triggering an exception, I'd duplicate the all of the checks that `Convert` itself does and see if it would hit a case where it throws.

TBH, I'd probably start of by just `try`ing and seeing if it threw as the easiest thing to code quickly, and then go to be effort of duplicating its checks if there were a lot of impossible conversions being hit and it had a perf

[2016-11-25 03:31] JonHanna commented on #12950
In any case, tracing through how the method works for different possible types will likely be informative: https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/src/System/Linq/Expressions/UnaryExpression.cs#L747

[2016-11-25 05:10] ili commented on #12950
@JonHanna thanks a lot for your help!

[2016-11-25 07:45] jkotas commented on #13897
The crash is caused by two copies of the same assembly getting loaded - one copy is loaded in the default load context, and second copy is loaded in the custom load context created by Microsoft.CodeAnalysis.Scripting.Hosting at this callstack:

[code]

The binding of the delegate fails because of the target signature references types from one copy of the assembly, but the delegate signature refere

[2016-11-25 07:49] jkotas commented on #13897
.NET Core 1.0 had a bug where certain assembly loads into custom load contexts were not routed through the AssemblyLoadContext.Load method correctly. This bug was fixed on .NET Core 1.1. It may explain the change in behavior.

cc @gkhanna79 @rahku

[2016-11-25 08:08] jkotas commented on #13897
@tmat What is the expected behavior of the InteractiveAssemblyLoader in this case? When does it want to load second copy of the assembly? It looks like it is loading second copy of the assembly more often than necessary.

[2016-11-25 08:10] karelz commented on #13897
In that case I assume we should move the bug to roslyn. Will wait for @tmat's assesment first.
Thanks @jkotas!

[2016-11-25 09:27] AlexRadch commented on #1271
To correctly implement Replace methods by using IndexOf,  we should implement CompareInfo.IndexOf methods that return not only index one string in other but return length one string in other as additional info also.
Now CompareInfo.IndexOf methods return only index but length in original string can be different from length of value string. So we know where value string is begin in original string

[2016-11-25 09:44] karelz commented on #1271
Yeah, it looks rather involved and tricky ...
cc: @krwq

[2016-11-25 09:49] AlexRadch commented on #1271
I suggest extend CompareInfo.IndexOf methods by return not only start index but length or end index also.

[2016-11-25 10:31] AlexRadch commented on #1942
What methods should be implemented only TryAdd or all 4 methods: TryAdd, GetOrAdd, AddOrUpdate, TryUpdate?

[2016-11-25 10:45] karelz commented on #3482
Tried it, adding all extension methods will work as soon as we add the methods also on `Dictionary`.

It will fail to source-compile code with custom 'dictionary' which implements both `IDictionary` and `IReadOnlyDictionary` and does not have its own `GetValueOrDefault` method. Is that ok source-compile change? If not, I would suggest to keep `IReadOnlyDictionary` extension method.

Updating propo

[2016-11-25 11:03] karelz commented on #1271
[CompareInfo.IndexOf](https://github.com/dotnet/coreclr/blob/98b795e2a7d76c0d854084add431d362394e9800/src/mscorlib/corefx/System/Globalization/CompareInfo.cs#L706) is virtual method on public type, which can be inherited, its virtual methods can be overridden. How will you deal with that?

[2016-11-25 11:24] karelz commented on #13946
Do you mean changing [NetworkInformation.GetDnsAddress](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/UnixIPInterfaceProperties.cs#L119) implementation? Is it going to work fine on all Linux distros?

@mellinoe I think you wrote the code, can you please comment/advise?

[2016-11-25 11:35] benaadams commented on #12425
@mellinoe @CarolEidt https://arxiv.org/abs/1611.07612 faster popcnt than popcnt using AVX2
Apache License 2.0 source https://github.com/CountOnes/hamming_weight

[2016-11-25 11:49] hughbe opened #13977 "TypeBuilder.SetParent() loops forever when setting the parent to itself"
[code]

[2016-11-25 13:12] JonHanna commented on #13977
I would imagine `InvalidOperationException` would be the best choice here.

[2016-11-25 13:16] softlion commented on #13946
Yes implementation of NetworkInformation.GetDnsAddress,  in LinuxIPInterfaceProperties (which currently uses UnixIPInterfaceProperties). Will not work on all linux distro, but should work when UnixIPInterfaceProperties does not (ie resolv.conf is not found).

[2016-11-25 14:01] stephentoub opened #13979 "CertTests.TestVerify test failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/760/consoleText
[code]

[2016-11-25 14:50] mtraudt commented on #2394
There have been many interesting and useful comments made on this topic. For my part, I believe that there is value in just the WF runtime and event tracking (i.e. without XAML, Transactions, or WCF bits) being ported to .NET Core and am glad that this was (sort of) done.

[2016-11-25 15:31] AArnott commented on #13892
I wonder when the right time to make `ImmutableArray<T>` depend on the new API. Adding such a dependency will limit who can upgrade to the latest System.Collections.Immutables. Which versions of .NET Framework define `ReadOnlySpan<T>`?

[2016-11-25 16:47] jamesqo commented on #13892
cc: @jkotas @terrajobst

[2016-11-25 17:22] jkotas commented on #13892
System.Memory for .NET Framework will be separate nuget package for foreseeable future.

Right. The current solution to this problem is this hack: https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/src/System/Reflection/Internal/Utilities/ImmutableByteArrayInterop.cs#L83 that is getting replicated around. There was a discussion about adding official method to get to the un

[2016-11-25 17:42] jamesqo commented on #13892
@jkotas Thanks for the synopsis. Very interesting to know the background on all of this.

[2016-11-25 18:20] svick commented on #3482
@karelz I looked at some data regarding the usage of `IDictionary` and `IReadOnlyDictionary`:

1. `IDictionary` is *much more* commonly used on GitHub than `IReadOnlyDictionary`: [710 000 results for `IDictionary`](https://github.com/search?l=C%23&q=IDictionary&type=Code) vs. [14 000 results for `IReadOnlyDictionary`](https://github.com/search?l=C%23&q=IReadOnlyDictionary&ref=searchresults&type=Co

[2016-11-25 18:34] hughbe commented on #13977
I'm not sure actually - this might actually want to go into the CLR (I think that ref emit shares almost all the code creating types with the code that creates types normally)
In that case a TypeLoadException would be appropriate

@jkotas, as a coreclr guy what do you think?

[2016-11-25 18:41] tmat commented on #13897
Seems like the same issue as https://github.com/dotnet/roslyn/issues/15352

[2016-11-25 19:02] bartdesmet commented on #3689
Another occurrence @ https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/775/
[code]

[2016-11-25 19:31] jkotas commented on #13977
Yes, this will need to be fixed in coreclr

[2016-11-25 20:20] AlexGhiondea commented on #7208
Sure!! We have documented the process [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) and there is an example at the bottom!

Let me know if you have any questions!

[2016-11-25 20:22] jasoncouture commented on #11100
Why is this over 2 months old? This is a huge issue. Please fix.

[2016-11-25 20:26] AlexGhiondea commented on #13293
@varocarbas please feel free to work on this. I will assign the issue to you!

Thanks for your interest in this! :)

[2016-11-25 20:28] AlexGhiondea commented on #13293
I seem to be unable to assign the issue over to you. However, I removed the up for grabs label. Consider the issue yours! :smile

[2016-11-25 20:41] varocarbas commented on #13293
@AlexGhiondea Thanks. I will come back with code, impressions and test results ASAP.

[2016-11-25 20:55] AlainBorletHote commented on #1942
One year and half later, please implement the 4 methods. It is obvious that any attempt to fill the gap with extension methods leads to two useless searches! There are plenty of good reasons to have similar surface between ConcurrentDictionary and Dictionary. Honestly, discovering .NET in 2001, I was finding completely stupid the lack of such methods preventing the double search, and now 15 years

[2016-11-25 21:26] colombod commented on #1653
Will get some proposal across, the idea is to mirror the signature of the api for async IO on socket using segments, the idea is to reduce the need for contiguous buffers at least when reading, as you point out will need quite few thinking on it.

[2016-11-25 21:42] ashmind commented on #3482
@svick While `IReadOnlyDictionary` is less used on NuGet, in my work projects I use it almost everywhere. `IDictionary` came first, so it is not surprising it is actively used, but I believe `IReadOnlyDictionary` is a better practice and people should be encouraged to use it if possible.

To me the best option is to have either both overloads, or not have this at all.

[2016-11-25 22:07] mellinoe commented on #13946
Right now it is expected that a lot of things will not work on Android, but I would be happy to review code that added support for it, depending on how complicated it is. A few things to keep in mind:

* We don't have any official support for Android right now, so even if we added code in `NetworkInformation` to support it, it's not clear how you'd even test that or use it.
* We don't have any inf

[2016-11-25 22:10] cwe1ss commented on #8034
As someone who doesn't know much about the internals of this, I really like the simplicity of `HashCode.Create(x).Combine(...)`. `Create` is very obvious, because it's used in many other places.

If `Empty / Zero / Default` doesn't provide any algorithmic usage, it shouldn't be there IMO.

PS: very interesting thread!! Good job! 👍

[2016-11-25 22:18] karelz commented on #13946
@mellinoe we can add a new label if there is enough bugs which need it :) ... I don't want to add labels just for a few issues (recently I deleted a bunch of os-*-linux-* specific labels in favor of single general os-linux label).
The main question for me is if the code change proposed above would make sense on non-Android Linux as main code path -- in such case we could just change the code and t

[2016-11-25 23:05] karelz commented on #13897
Closing as dupe

[2016-11-25 23:05] #13897 closed

[2016-11-25 23:15] softlion commented on #13946
I have successfully tested the code I put here on an android device (os version 4.4) using a xamarin project modified to use netstandard1.6 in its pcl.
I also have been able to use successfully your original unmodified code on an iOS 10 simulator. I have not been able to test on a real iOS device due to a bug in the xamarin linker.

[2016-11-25 23:27] jamesqo commented on #8034
@cwe1ss

Having an `Empty` field does provide algorithmic usage. It represents a "starting value" from which you can combine hashes. For example, if you want to combine an array of hashes strictly using `Create`, it's pretty painful:

[code]

If you have `Empty`, it becomes much more natural:

[code]

@terrajobst This type is pretty analogous to `ImmutableArray<T>` to me. An empty array is not ver

[2016-11-26 00:10] karelz commented on #3482
@svick ok, proposal updated - we will discuss it in the API review meeting.

[2016-11-26 00:48] bartdesmet opened #13994 "Failing to run AOT tests"
Following the instructions in the documentation to run
[code]
results in
[code]

[2016-11-26 00:57] bartdesmet commented on #13979
Another occurrence here: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/785/
[code]

[2016-11-26 02:30] Eilon commented on #3482
@karelz I don't see a "source compile breaking change" -- this is an entirely new API, right? At worst, code couldn't easily use the new API, but no existing code that compiles would stop compiling, would it?

[2016-11-26 02:49] jamesqo commented on #13924
👍 I think focusing on a new formatting API would be better than trying to make up for `StringBuilder`'s deficiencies via caching them.

[2016-11-26 03:33] scionwest opened #14008 "UDP Socket using SocketAsyncEventArgs garbage collects nearly every second"
I've written a small UDP server with the .Net Core `SocketAsyncEventArgs` implementation, of Sockets. When the server runs, I can see the garbage collection run in the Visual Studio Diagnostics tooling. It runs almost non-stop. Yet when I take Heap snapshots, I don't see hardly any allocations. I fetch my `byte[]` buffers from an `ArrayPool<byte>` and I fetch my `SocketAsyncEventArgs` instances fr

[2016-11-26 05:01] karelz commented on #3482
@eilon of course you're right - I got somehow carried away thinking about making `IDictionary` implement `IReadOnlyDictionary` :( ... and it clouded my view on a simple thing like this one. Sorry for that. Updating top proposal ...

The only compat source-compile problem will be with already existing extension methods of the same name (`GetValueOrDefault`).

[2016-11-26 05:10] Eilon commented on #3482
Yup that sounds right to me! Though, the statement about already-existing extension methods applies to any extension method anyone ever adds to anything, so I'm not too worried 😄

[2016-11-26 05:25] karelz commented on #3482
Yep, agreed (I had similar note in my reply earlier, but it somehow disappeared during my edits - so I added it at least to the top proposal as "*Which is general problem for any extension method we add into CoreFX.*").

[2016-11-26 05:36] mellinoe commented on #13946
I agree with @karelz that it's not really worth merging in any changes here until we're able to run them and test them on Android. And unfortunately, .NET Core does not support Android at this time, although there've been some small experiments with it. Once we get to that point, we should revisit this and look for a solution. We may even want to create a "meta-issue" to track things that we know

[2016-11-26 07:09] karelz commented on #14008
Did you try to analyze the allocated memory with [PerfView](https://channel9.msdn.com/Series/PerfView-Tutorial)?

[2016-11-26 07:14] AlexGhiondea commented on #13293
Awesome! Looking forward to it @varocarbas !

[2016-11-26 07:20] scionwest commented on #14008
I will do that now

[2016-11-26 07:29] softlion commented on #13946
Well unfortunately I'm using your lib in a net standard 1.6 lib in order to
have the same assembly and codebase for all platforms and simplify setup
(no platform service to register). Netstandard1.6 does not include this
functionality by itself so it won't be able to remap it, and finally
xamarin have no implementation of it on any platform. The dns value is
required to query DNS for SVC entries (

[2016-11-26 07:57] mellinoe commented on #13946
Unless I'm misunderstanding these documents, Xamarin.Android should support this as part of the core platform: https://github.com/dotnet/standard/blob/master/platforms/xamarin.android/System.cs#L7409. So you should be able to use the version that ships with the toolchain there. Since this is part of .NET Standard 2.0, I don't think we have any intention of shipping new versions of the code that li

[2016-11-26 07:59] karelz commented on #8034
@jamesqo I have noticed that you silently/by accident changed arg name `obj` to `value` in your proposal https://github.com/dotnet/corefx/issues/8034#issuecomment-262661653. I switched it back to `obj` which IMO captures better what you get. Name `value` is more associated with the "int" hash value itself in this context.
I am open to further discussion on the arg name if needed, but let's change

[2016-11-26 08:13] softlion commented on #13946
Ok i understand now that corefx is a separate team and product not related
to netstandard and not supporting some specific platforms, so why your
nugets do claim to support netstandard ? They should not, and they should
be marked as corefx only. Or maybe the problem resides in the netstandard
system which makes you falsely think that you can use all those netstandard
nugets in any platform support

[2016-11-26 08:18] softlion commented on #13946
And note that the link you sent does not contain any class able to query a
dns for svc entries, nor able to retrieve iPaddress of dns used by network
interfaces.
Le sam. 26 nov. 2016 à 09:13, Benjamin Mayrargue <benjamin@mayrargue.com> a
écrit :

[2016-11-26 08:23] scionwest commented on #14008
I'm not 100% sure what I should be looking at to be honest. Since this isn't a memory leak, it's hard to tell from doing a diff between a couple different Heap dumps. That coupled with my limited experience in exploring dumps in general makes the data a bit foggy for me.

- [Heap Dump 1: Baseline](http://imgur.com/7qPEvuG)
  - Taken prior to any datagrams being sent to the server.
- [Heap Dump 2:

[2016-11-26 08:28] scionwest commented on #14008
Looking at the Socket source, it looks like you guys are re-using the `SafeNativeOverlapped` handle if the Socket hasn't changed. Still kind of digging through the source a bit to see if anything stands out. Not sure why I'd be seeing so many instances being created over the life-time of the server running when I'm using the same socket for all incoming datagrams.

[2016-11-26 08:51] karelz commented on #13946
@softlion I think you got the netstandard backwards -- you can read more [here](https://github.com/dotnet/standard), especially the [FAQ on .NET Standard](https://github.com/dotnet/standard/blob/master/docs/faq.md)
The gist is that .NET Standard defines API set which each platform has to satisfy to be .NET Standard compliant. Any portable library (sitting on top of the platforms, not in them) can

[2016-11-26 08:59] mellinoe commented on #13946
dns for svc entries, nor able to retrieve iPaddress of dns used by network
interfaces.

I just linked to the same API that was being discussed here. Am I mistaken about that?

I'd also just like to re-iterate that we'd be happy to review a PR that added an Android-compatible implementation, as long as we are able to test and verify it. Since the code here is for .NET Core, that would mean when Cor

[2016-11-26 09:12] tarekgh commented on #13940
@AlexRadch could you please clarify the scenarios you need to expose these properties for? I have a concern that we have too many culture properties already exposed and can be confused to expose more without clear scenario or app requesting it. also exposing these properties will not make sense for UWP apps.

[2016-11-26 09:13] karelz commented on #12034
@robertmclaws, thanks for explanation, I am trying to understand here what needs to happen where - for which I need to understand a bit the space, current limitations and goals you're trying to achieve. So let me ask you for more details:

Why do we need to move it out? Is too tied to OData? Would it be possible to leave it in OData repo and just produce yet another NuGet package for just System.S

[2016-11-26 09:21] karelz commented on #12034
@suryapratap

I wonder why none of the 4-ish attempts of the APIs are reusable elsewhere. Are they specialized? Are they incomplete? Did they grow in parallel at the same time and therefore we have fragmented story?
If I need Spatial types in my app, why cannot I just pick one of the 4 libraries you listed and use types from there? Does anything prevent me to do that?
Or is the biggest problem the

[2016-11-26 09:26] tarekgh commented on #1271
I think @AlexRadch idea is good by adding overloading method/s for IndexOf family which can return the length of the string in addition to the index position. after that we can implement easily the requested APIs in this issue

[2016-11-26 10:09] divega commented on #12034
@karelz I am happy to drive this. Although I am no expert myself on the subject, I might have enough context to help and I am gathering some data. I actually think your questions are a great start.

[2016-11-26 11:18] softlion commented on #13946
You are the ower of the System.Net.NetworkInformation.4.3.0 nuget package or i misundersand something ?
This package does has the TFM MonoAndroid10. And you are explaining me that it is not supported on android. I am confused.
It also has a TFM.NETStandard1.3, but you just explained me that it is unsufficient to be compatible with an app supporting .NetStandard13 as it means it is only built on to

[2016-11-26 11:22] softlion commented on #13946
Anyway GetDnsAddresses on System.Net.NetworkInformation does exist in Xamarin Android, you are right.

But i thought i could use your nuget in the PCL project using netstandard, and forward types to Xamarin.Android.

[2016-11-26 11:30] softlion commented on #13946
Ok i understand now. This "bug" is in also in the Xamarin version of System.dll as they use the exact same code as yours. So there may be type forwarding in netstandard finally ....

[2016-11-26 14:07] JonHanna opened #14012 "Need tests for dynamic operations not used by C# compiler"
Tests are currently being added for a lot of the DLR-supporting classes. For obvious enough reasons, these use C# `dynamic`. This doesn't test capabilities C# doesn't make use of, such as case-insensitive binding, dynamic object creation and dynamic deletion. These features should be tested. If anything they could be all the more likely to suffer a regression without triggering an error somewhere

[2016-11-26 14:30] svick commented on #13909
I'm not sure the combination of `count` and iterative `selector` makes sense.

Compare this with F#, which has the two functions [`init`](https://msdn.microsoft.com/visualfsharpdocs/conceptual/seq.init%5b%27t%5d-function-%5bfsharp%5d) and [`unfold`](https://msdn.microsoft.com/visualfsharpdocs/conceptual/seq.unfold%5b%27state%2c%27t%5d-function-%5bfsharp%5d) (expressed using C# syntax for convenien

[2016-11-26 16:51] AlexRadch commented on #13940
@karelz Now application don't know culture  of current user. I think it is useful in multi language applications.  Also this methods are already exists as internal because framework cannot work correct without that information. But why it should hide it from applications? What reason?

[2016-11-26 17:58] Kurira commented on #11141
@danmosemsft where did it get added? I trying to use latest nuget
[code]

But it still doesn't contain the `IgnoreCase` and other properties.

[2016-11-26 19:05] JonHanna opened #14017 "CI Failure System.Data.SqlClient.Tests.SqlConnectionBasicTests.ConnectionTest"
[code]

[2016-11-26 19:20] Drawaes commented on #14008
https://github.com/dotnet/corefx/pull/12664

Was it not fixed in this... there was a fix specifically for SafeNativeOverlapped being reused.

[2016-11-26 19:39] scionwest commented on #14008
Ah, so it looks like it was - and in #12659. This didn't make it into 1.1 did it?

[2016-11-26 19:54] JonHanna commented on #14012
@hughbe any ideas? You added quite a few expression tests for things that can't be done with plain C#, though I think this goes a bit beyond that.

[2016-11-26 21:29] karelz commented on #14008
Nope, that one did not make it to 1.1.

[2016-11-26 22:01] scionwest commented on #14008
Ok, im trying to get the daily build wired up for use. If I can't get that working then I'll just wait for the next release. I assume it'll be in 1.2?

[2016-11-26 22:15] Esidar opened #14021 "Proposal: Add new GetValue method to System.Reflection"
This new method would accept an "object" to which a Value could be copied instead of being unnecessarily boxed. Example of use would look like this:

[code]
Boxing of the value would occur only once. This would eliminate unnecessarily memory allocations in situations when GetValue is called many times. When method is used on a class types, copying would not occur and stored object would be returne

[2016-11-26 22:41] tarekgh commented on #13940
@AlexRadch the framework is not hiding anything nor the point is we have the implementation and not exposing it. the point is what the scenario people need to know that.

to explain more, if the application didn't override the current culture in the thread, the thread will have the default user culture registered on the system. so the application can get this value. if the current culture get over

[2016-11-26 22:46] tarekgh commented on #1271
one other note, to progress with this issue we can implement CompareInfo.IndexOf internally which can return the length of the searched string which we can use to implement the Replace methods. we can try later to expose CompareInfo.IndexOf if needed.

@AlexRadch are you willing to help in the implementation? let me know and I can arrange with you what need to be done here.

[2016-11-26 22:56] JonHanna opened #14022 "Wrong parameter name if passing generic type to Expression.New"
`Expression.New(typeof(List<>))` throws an `ArgumentException` reporting the parameter name as "constructor" though the name of the parameter in question is "type".

[2016-11-26 23:12] jnm2 commented on #1942
@benadams When I run into this scenario, I'm always able to do this so far:
[code]
`GetValueOrDefault` being an incredibly useful extension method I have on `IReadOnlyDictionary` and `IDictionary`.

[2016-11-26 23:15] svick commented on #14021
Interesting, I didn't realize you can reassign values inside boxes.

If this is going to work with properties, I think it should be made completely general and work with any method that returns a value.

And a couple questions:

1. What should the behavior be if the passed-in boxed value is of the wrong type? The same as `null`, i.e. allocate a new box?
2. Wouldn't it be simpler if the input and o

[2016-11-26 23:25] jnm2 commented on #1942
It has crossed my mind a number of times that it could be more efficient to merge the hash table operations from `GetValueOrDefault` (`TryGetValue`) and the unconditional update. Maybe this is going too far lol?

[code]

[2016-11-26 23:34] vancem commented on #13837
Fundamentally, we need data when things go bad.   As @danmosemsft indicates, on Windows you can use Service Profiler.   Also on Windows you can use PerfView if you log onto the machine.    see
     https://blogs.msdn.microsoft.com/vancem/2016/11/02/performance-analysis-on-net-core-applications-with-perfview-on-windows/

On Linux you can also collect profiling data using the Linux 'Perf' tool
    h

[2016-11-27 00:11] jnm2 commented on #13692
Yes yes yes! I've wanted this for so long!
I was just talking about needing this the other day. Here's a practical example. https://github.com/dotnet/corefx/issues/13831#issuecomment-262018673

[2016-11-27 00:23] JonHanna commented on #13831
Ah. I only just remembered now that `RuntimeHelpers.Equals()` is field-by-field and ignores `Equals`, so it won't get caught out by weirdness there. That would be the safest bet.

[2016-11-27 00:38] jnm2 commented on #8126
Another benefit of putting it in the platform is that reporting software like DevExpress' relies heavily on .NET format strings and I can see so many use cases from day one. This exact feature is something I have wished for.

[2016-11-27 00:50] jkotas commented on #14021
FieldInfo.GetValue/SetValue are part of reflection invoke APIs.

All current reflection invoke APIs have a general problem that they expected everything boxed. It is not just a performance problem mentioned here, but also a functional deficiency problem.

Among other things, it means that it is not possible to write high fidelity IL interpreter using reflection. Let's say that you would like to in

[2016-11-27 01:12] jnm2 commented on #13692
Can this be ported to desktop framework please?

[2016-11-27 01:14] MichalStrehovsky commented on #14021
`MethodBase.Invoke` will actually modify the elements of the `parameters` array if one of the parameters is a byref (a `ref` or `out` parameter). A better example would be a method that *returns* a byref (this will be exposed as a new language feature in C# soon). There's no way to reflection-invoke those.

Another thing to consider would be finding a replacement for `FieldInfo.GetValueDirect` and

[2016-11-27 02:29] jamesqo opened #14028 "Upgrade C# compiler to C# 7"
I found out from https://github.com/dotnet/corefx/issues/13427#issuecomment-258941132 that C# 7 can now be used in corefx. However, trying to use C# 7 features does not appear to work locally; for example, this code snippet I inserted

[code]

appears to result in a syntax error from the compiler:

[code]

This was after doing a `git clean -xdf` and then `sync -p` to restore everything again. Is t

[2016-11-27 04:28] jkotas commented on #13692
This method was in .NET Framework for last 15+ years. There is nothing to port.

Note that RuntimeHelpers.Equals is somewhat broken API. It can return false negatives. For example if the valuetype layout has holes and the actual value came from interop, these holes can have random content and thus RuntimeHelpers.Equals can return false even for values that are equal. Similar problem exists if the

[2016-11-27 04:42] jkotas commented on #14028
The repo builds 2.0.0-beta3 compilers. 2.0.0-beta3 does not have all C# 7 features.

I had PR to update to  2.0.0-beta5 a while ago (https://github.com/dotnet/buildtools/pull/1175), but it run into bugs in Roslyn packaging. I guess it is time to try again with  2.0.0-rc.

[2016-11-27 04:47] JonHanna opened #14032 "Interpreter doesn't correctly validate jumps to undefined labels"
An attempt to jump to a label that does not exist within an expression does not raise an `InvalidOperationException`, but instead throws an assertion error. In release I imagine it would hit an index-out-of-range when executed but I haven't confirmed (certainly it would do something not good).

Previously building an interpreted lambda had included building a mapping of targets and branches which

[2016-11-27 04:47] JonHanna opened #14033 "Interpreter doesn't validate against jumping into an inner block with a value"
Such an expression is accepted, though elsewhere code in the compiler expressly forbids it.

The relevant validation in `Compiler.LabelInfo.ValidateJump` has never been present in `Interpreter.LabelInfo.ValidateJump`.

Perhaps it could be made to be allowed in both, but it should certainly be consistent.

[2016-11-27 09:46] hughbe commented on #14012
Interesting - im not sure having another language is the best choice as inevitably that language won't have all the features and then we need to write tests another language and then soon it becomes a mess of tests.
the custom binder implementation might be more effort but kind of aligns with dependency injection test approaches. Since it is language independent and can be put into the same projec

[2016-11-27 10:26] jaen commented on #9928
@mellinoe Is there any issue to track progress on this? I'd be happy to help with it if somehow possible, as it would let me run the backend server we develop at work in C# core (I use Arch Linux and while I can get 1.0.0-preview2-003131 to run, no such luck for 1.1).

[2016-11-27 11:26] joaoasrosa opened #14036 "ArgumentNullException produces different messages when run on Windows or Docker"
ArgumentNullException produces different messages when running on Windows or Docker.
Running a unit test for a method where sanity checks exist (for null values), produces the following output:

- Windows: "Value cannot be null.\r\nParameter name: foo"
- Docker (from microsoft/dotnet:latest): "Value cannot be null.\nParameter name: foo"

Code snippet for the sanity check:
`if (null == foo)
{
    t

[2016-11-27 12:11] avertes opened #14037 "System.Net.Sockets.Socket Accept() method throws System.ArgumentException on Linux instead of SocketException when no connection to accept"
On Windows, when using System.Net.Sockets.Socket accepting connections with Accept() method and no more connections are in queue a SocketException is thrown.

However, when same code is run on Linux, a System.ArgumentException is thrown instead.

Net Core documentation does not list ArgumentException as possible Exception. Net Core documentation does not specify what Accept throws when no requests

[2016-11-27 12:19] stephentoub commented on #14036
I assume the docker case is using Linux? If so, this is by design: Windows and Linux use different newlines, and this exception message has a newline in it.

[2016-11-27 12:20] stephentoub commented on #14037
Thanks. Could you share a minimal repro that highlights the difference?

[2016-11-27 13:06] JonHanna commented on #14012
I think a custom binder is probably going to be necessary. It's perhaps possible that some cases would be low-lying fruit to another language and reduce what the custom binder needs to cover, e.g. a case-insensitive language should make covering all of those pretty fast to do, though I really haven't much experience in any except C# and CIL myself so I'd maybe have a custom binder nearly finished

[2016-11-27 13:40] benaadams opened #14038 "SslStream should override FlushAsync"
SslStream should override FlushAsync over its internal stream; otherwise the default Stream implementation is used; which creates a new task which runs the sync/blocking flush and queues it to the threadpool.

Default Stream implementation:
[code]

[2016-11-27 16:49] jkotas commented on #8034
Why it is a good algorithm to choose as the one that should be used everywhere? What assumption it is going to make about the hashcodes being combined? If it is used everywhere, is it going to open new avenues for DDoS attacks? (Note that we have been burnt by this for string hashing in past.)

I think this is the right pattern to use. Good universal hashcode combiner can generally use more state

[2016-11-27 17:34] jamesqo commented on #8034
It shouldn't be used everywhere. See my comment at https://github.com/dotnet/corefx/issues/8034#issuecomment-260790829; it is mainly targeted at people who don't know much about hashing. People who know what they are doing can evaluate it to see if it fits their needs.

One problem with the current hash we have is that `hash(0, x) == x`. So if a series of nulls or zeroes is fed to the hash then it

[2016-11-27 17:47] jkotas commented on #8034
Will ASP.NET Core going to be able to replace [their own hashcode combiner](https://github.com/aspnet/Common/blob/master/src/Microsoft.Extensions.HashCodeCombiner.Sources/HashCodeCombiner.cs) - that has 64-bit of state currently - with this one?

Doesn't this lead to combinatory explosion? It should be part of the API proposal to make it clear what this API design leads to.

[2016-11-27 18:31] redknightlois commented on #8034
@jkotas I stated similar objections at the start of the discussion. Dealing with hash functions requires subject matter knowledge. But I understand and support fixing the problem caused in 2001 with the introduction of hash codes at the very root of the framework and not prescribe a recipe to combine hashes. This design is aimed at solving that for the 99% of the cases (where no subject matter kno

[2016-11-27 18:36] jkotas commented on #11342
Fixed by https://github.com/dotnet/corefx/pull/12598

[2016-11-27 18:46] Clockwork-Muse commented on #14036
I'm curious; the way you've written this implies you're validating the message output.  You generally want to avoid explicitly adding the message, since most messages (especially in exceptions from the base libraries) are going to be translated.
Message content should be in a resource file anyways, and has to be validated differently.  Probably with, among other things, a test-only mock resource f

[2016-11-27 18:47] jamesqo commented on #11342
@jkotas There are still some other places that need overriding, e.g. `BufferedStream` which is waiting on #13379 to be merged first. Have been super slow in sending PRs for this, sorry about that.

[2016-11-27 19:02] GSPP commented on #2146
Chunking is so common. All business apps that I have worked on needed this. Processing data in batches is often required. Many Stack Overflow questions have a simple answer provided a chunking primitive is available.

I often see ad hoc chunking code and it's nasty.

[2016-11-27 19:03] jkotas commented on #8034
I agree that it is good idea to have hashcode combiner that is no-brainer to use in 99% of cases. However, it needs to allow for more internal state than just 32-bit.

BTW: ASP.NET used the fluent pattern for hashcode combining originally, but stopped doing it because of it lead to easy to miss bugs: https://github.com/aspnet/Razor/pull/537

[2016-11-27 19:04] redknightlois commented on #8034
@jkotas regarding the hash-flooding security.
**DISCLAIMER: Not an expert (you should consult one and MS do have more than a few on the issue)**.

I have been looking around and while not the general consensus on the issue there is an argument that is gaining traction nowadays. Hash codes are 32bits sized, I posted before a graph showing the probability of collisions given the size of the set. Tha

[2016-11-27 19:06] GSPP commented on #3249
I (kind of) made an API proposal. Regardless of whether this ends up being a community contribution this should make it into the framework. The point of this ticket was to make the team aware of a need and a solution. I did not try to apply for implementing this.

[2016-11-27 19:10] jamesqo commented on #8034
@jkotas I looked into the issue you linked to. It says:

Description of https://github.com/aspnet/Common/issues/40:

[code]

Come on. That argument is like saying `string` should be mutable since people don't realize `Substring` returns a new string. Mutable structs are far worse in terms of gotchas.

[2016-11-27 19:13] jkotas commented on #8034
There are two sides of this: correct-by-construction design (robust datastructures, etc.); and mitigation of the issues in the existing design. Both of them are important.

[2016-11-27 19:38] karelz commented on #11342
It seems to me that modifying `BufferedStream` is additional perf optimization, not part of exposure of the API. I would suggest to close this issue as finished and file a new one for tracking BufferedStream improvement.

[2016-11-27 19:42] jamesqo commented on #8034
@karelz Regarding parameter naming

I am open to further discussion on the arg name if needed, but let's change it on purpose and keep track of the diff against last approved proposal.

I am considering, in a future proposal, to add APIs to combine values in bulk. For example: `CombineRange(ReadOnlySpan<T>)`. If we named this `obj`, we would have to name the parameter there `objs`, which sounds ve

[2016-11-27 19:45] redknightlois commented on #8034
@jkotas agree, but the point here is we are not mitigating anything at the combiner level...

The only thing we can do is have a random seed, which for all states and purposes I remember having seen the code at ```string``` and it is fixed per build. (could be wrong about that, because that was a long time ago though). Having a proper implementation of random seeds is the only mitigation that coul

[2016-11-27 19:56] jamesqo commented on #8034
@jkotas

Absolutely; it uses the same hashing algorithm. I just made [this test app](https://gist.github.com/jamesqo/c5c855e1ac8a62ef4a56b52204c78220) to measure the number of collisions and ran it 10 times. No significant difference from using 64 bits.

@jkotas, it will not. The design of this class will not set the design for future hashing APIs in stone. Those should be considered more advanced

[2016-11-27 19:58] jamesqo commented on #11342
@karelz, sure. In fact I believe this is already tracked by https://github.com/dotnet/corefx/issues/12860.

[2016-11-27 19:58] #11342 closed

[2016-11-27 20:00] bartdesmet commented on #14021
While that's true, it's rarely the case that the storage locations of the objects or values being passed by reference are truly in the `object[]` being passed. Typically one copies the value into the `object[]` and performs a write-back after the `Invoke` method returns. This causes issues such as https://github.com/dotnet/corefx/issues/4411 and https://github.com/dotnet/corefx/issues/13458.

The

[2016-11-27 20:01] karelz commented on #12860
@jamesqo please let us know if you're working on it ...

[2016-11-27 20:08] karelz commented on #9085
@vsadov @OmarTawfik I assume that this tracks full .NET Framework port. If that's the case, we do not need to keep the issue opened - the 'netfx-port-consider' tag will track it even if the issue is closed.
We don't use GitHub to track full .NET Framework bugs.

[2016-11-27 20:08] #9085 closed

[2016-11-27 20:26] joaoasrosa commented on #14036
@stephentoub your are right. If it is by design I will close it.
@Clockwork-Muse thanks for pointing out, the library is English only, but tomorrow it can change.

[2016-11-27 20:26] #14036 closed

[2016-11-27 20:33] bartdesmet commented on #13951
Again @ https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/825/

[2016-11-27 20:53] avertes commented on #14037
Hi.

This repro just listens to port 12345 and accepts all connections. Writes "." to console when ever it hears and accepts one. Works fine on Windows. Dies on Linux immediately after first connection has arrived.

`using System;
using System.Collections.Generic;
using System.Net;
using System.Net.Sockets;

namespace AcceptBugRepro
{
    public class Program
    {
        static void Main(string[

[2016-11-27 20:59] #13675 closed

[2016-11-27 22:33] dmirmilshteyn opened #14041 "Consider exposing Socket(SafeCloseSocket fd) constructor"
It would be really nice to be able to construct a socket instance using an existing file descriptor/handle, similar to how FileStream exposes the SafeFileHandle constructor. This would be particularly useful for interop with native code and existing unix tools.

My specific use case is for integration with systemd's socket activation feature, where systemd creates the socket and passes it to the a

[2016-11-28 00:27] jnm2 commented on #13692
@jkotas Oh my! How did I possibly miss that? 😳 Thank you.

[2016-11-28 01:56] jkotas commented on #8034
Right, the string hashcode randomization mitigation is enabled by default in .NET Core. It is not enabled by default for standalone apps in full .NET Framework because of compatibility; it is only enabled via quirks (e.g. in high-risk environments).

We still do have the code for non-randomized hashing around in .NET Core, but it should be ok to delete it. I do not expect that we will need it agai

[2016-11-28 02:51] Esidar commented on #14021
Looking through available features (to avoid major changes in FX/CLR) I've stumbled upon arglist. C# have this undocumented keyword that is supported by CLR which allow for passing varying number of arguments and the use looks like this:
[code]
As you can see, you can even pass float as a ref.

From what I can see by disassembling a code (x86-64), values are passed clean, without any boxing.

New

[2016-11-28 03:23] suryapratap commented on #12034
@karelz the 4 attempts are not divergent. [GeoAPI.NET](https://github.com/NetTopologySuite/GeoAPI) is an attempt implement [OGC GeoApi specs (reference implementation done in Java)](http://www.opengeospatial.org/standards/geoapi) it forms the base for the other projects which are basically ports of the JTS (Java Topology Suite). Proj4Net is a spatial projections library, so is DotSpatial.Projectio

[2016-11-28 03:29] Esidar commented on #14021
Problem shown in #13007 cannot be fixed by removing boxing. Boxing ensures that value types are valid during delegate invocation. In given example, variable o is valid only when delegate is created. Actual call to function f can occur much later when variable o, is no longer available, thus copy must be made.

[2016-11-28 03:41] jamesqo commented on #8034
@jkotas, the hash code combiner you linked to does not use Marvin32. It uses the same naive DJBx33x algorithm used by non-randomized `string.GetHashCode`.

@jkotas This type is not intended to be used in places that are prone to hash DoS attacks. This is targeted for people who don't know better to add/xor, and will help prevent things like https://github.com/dotnet/coreclr/pull/4654.

[2016-11-28 03:44] redknightlois commented on #8034
Then we should talk with the C# team for them to implement a mitigated ```ValueTuple``` hashing algorithm too. Because that code is going to be used in high risk environments too. And of course ```Tuple``` https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Tuple.cs#L60 or ```System.Numerics.HashHelpers``` (used all over the place).

Now, before we decide then how to implement it

[2016-11-28 03:44] #14032 closed

[2016-11-28 03:44] #14033 closed

[2016-11-28 03:45] jkotas commented on #8034
It is exactly why it is important for it to be robust. The key value of .NET is that it addresses problems for people who don't know better.

[2016-11-28 03:48] redknightlois commented on #8034
And while we are at it, lets not forget about IntPtr https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IntPtr.cs#L119
That one is specially nasty, xor is probably the worst our there because ```bad``` will collision with ```dab```.

[2016-11-28 04:17] jkotas opened #14046 "Use more robust hash code combiner in ValueTuple"
- Use random seed to randomize the hashcodes
- Use 64-bit state to combine the hashcodes (e.g. use the marvin32 hashcode combiner that is used for string hashing in coreclr)

Note: `string.GetHashCode` has the right implementation.

[2016-11-28 04:21] jkotas commented on #8034
Good point. I am not sure whether ValueTuple shipped or whether these is still time to do this. Opened https://github.com/dotnet/corefx/issues/14046.

These are past mistakes ... the bar for fixing them is much higher.

[2016-11-28 04:23] jkotas commented on #14046
(forked from https://github.com/dotnet/corefx/issues/8034)

cc @VSadov @jcouv

[2016-11-28 05:06] jkotas opened #14047 "Add RuntimeHelpers.IsReferenceOrContainsReferences<T>()"
[code]

This method will return true if T is reference type; or if T is value type that contains reference type fields. false otherwise.

This API is intended to be used primarily for optimizations:

- Generic List calls Array.Clear on its underlying array in the implementation of Clear, RemoveAll, RemoveRange methods today. It has to do so because the generic argument can contain references which

[2016-11-28 05:09] jkotas commented on #14047
cc @omariom @nietras

[2016-11-28 05:10] MichalStrehovsky commented on #14021
`TypedReference`, `ArgIterator` and `RuntimeArgumentHandle` are a no-go. None of those types are included in .NET Core or .NET Standard - they only exist in the legacy runtimes and AFAIK there are no plans to bring them back. I don't think we really need them. `MakeDynamicCall` mentioned above can get by without them, for example.

[2016-11-28 05:16] jkotas commented on #14021
The LocalVariableSet type used by MakeDynamicCall is very close to TypedReference. It is basically array of TypedReferences. It may be interesting to bring TypedReference back and making it useful, instead of creating a new same thing under a different name.

[2016-11-28 05:21] benaadams commented on #14047
In Jit terms this and its associated branch can always be elided? Shared code is always a reference; and value type code is always unique per value type?

[2016-11-28 05:27] jkotas commented on #14047
Correct. This method will be intrinsic that the JIT can optimize out.

[2016-11-28 07:45] massimocode opened #14048 "WinRT API DateModified not copied and can't create folders inside some folders"
Hi

I'm not sure if this is the correct repository to be raising this issue. Please let me know where I should raise it if it isn't.

I'm using the Windows.Devices, Windows.Foundation and Windows.Storage libraries to write a WinRT application that will sync some files from a PC to a Windows Phone. See here (https://github.com/massimocode/windows-phone-music-sync).

However, I've noticed some annoy

[2016-11-28 08:57] matekm commented on #1378
just a quick update because I was silent for 7 days. I am still interested in fixing that issue. Just didn't found any time previous week to do it. Hopefully will find some time this week!

[2016-11-28 09:00] AlexRadch commented on #10528
New API should be implemented in  [corefx](https://github.com/dotnet/corert/blob/a09de49cbf64f7c22d950a98678830bcf8d6ce82/src/System.Private.CoreLib/src/System/ArraySegment.cs) or [coreclr](https://github.com/dotnet/coreclr/blob/15ea0086a7e6f87e8237923684e100e3e1f44698/src/mscorlib/src/System/ArraySegment.cs) repository,

[2016-11-28 09:36] nietras commented on #14047
@jkotas should this employ the caching behaviour internally (e.g. via `PerTypeValues<T>` or `TypeCache<T>`) here (for the portable version)? Or are "clients" responsible for this?

I would think it best to have the cache as early as possible so there is only one cache.

[2016-11-28 10:08] SunnyWar opened #14049 "Dataflow needs performance tests"
Given that Dataflow is often used in code that is performance critical, I think it should have at least a few perf tests.  This is motivated by a change I'm considering that may, or may not, significantly improve the performance of the scheduler and found no tests available to tell one way or the other.

[2016-11-28 12:08] fujiy commented on #6485
I plan to work on it

[2016-11-28 12:08] fujiy commented on #4805
I plan to work on it

[2016-11-28 12:09] fujiy commented on #519
I plan to work on it

[2016-11-28 12:11] svick commented on #8034
@jkotas

I thought one of the points of .Net Core is that the bar for "small" changes like that should be much lower. If someone depends on the implementation of `IntPtr.GetHashCode` (which they really shouldn't), they can choose not to upgrade their version of .Net Core.

[2016-11-28 12:21] #14022 closed

[2016-11-28 12:45] michael-x opened #14050 "System.Xml.ReaderWriter 4.3.0 not compatible with .NET Framework 4.6?"
When updating our .NET Framework 4.6 projects to NuGet package System.Xml.ReaderWriter 4.3.0 it works on some machines, but fails to build on others with an error:

    CS1703: Multiple assemblies with equivalent identity have been imported: '...MySolution\packages\System.Xml.ReaderWriter.4.3.0\lib\net46\System.Xml.ReaderWriter.dll' and 'C:\Program Files (x86)\Reference Assemblies\Microsoft\Framew

[2016-11-28 13:49] jkotas commented on #14047
There is no point in having the cache if it is JIT intrinsic. And even if it is not JIT intrinsic, it would be just fetching a few bits from `MethodTable*` - no point in caching it either.

[2016-11-28 13:57] jkotas commented on #8034
Yes, it is - compared to full .NET Framework. But you still have to do the work to get this change pushed through the system and you may find that it is just not worth the pain. Recent example is change in `Tuple<T>` hashing algorithm that got reverted because of it broke F#: https://github.com/dotnet/coreclr/pull/6767#issuecomment-256896016

[2016-11-28 14:16] radenkozec commented on #9788
@AlexGhiondea Not sure how to workaround this.
I am now receiving this error:
`The dependency Microsoft.Composition 1.0.27 does not support framework .NETCoreApp,Version=v1.1.	`

[2016-11-28 14:23] JonHanna opened #14051 "Bugs with argument validation to Expression.Property with indices"
1. The argument name to use in exceptions is assumed to always be "indexer" but there is a path to it where the relevant argument is called "propertyName".
2. If a property has a setter with no parameters then before the validation check designed to catch that takes place the property-name taking overload will throw an `OverflowException`. This can happen even if another overload is correctly spec

[2016-11-28 14:26] SOM-fermonte commented on #2089
@karelz @tquerec I'd be happy to help with testing on Windows and, in the future, Linux. I subscribed to the thread, so just reply here or mention me to get in touch when you need me to get involved. Thanks for your work on this. It's been long awaited and, even if incremental, it'll be a good step to further adoption of .NET Core.

[2016-11-28 14:43] masonwheeler commented on #14047
@jkotas

Huh?  In your example, it's marked as public.

[2016-11-28 14:53] jamesqo commented on #14046
@jkotas How would we get the random seed if we were to do this? Just use `Environment.TickCount` or something similar?

[2016-11-28 14:53] jamesqo commented on #14046
For reference to everyone, I found a readable implementation of Marvin32 here:

https://github.com/floodyberry/Marvin32/blob/master/Marvin32.c

[2016-11-28 15:05] groege commented on #10752
Actually one more thing to think about--> what if we let's say want to add and remove stuff before firing the event?
Lets say as mentioned before an --> i want to remove some Items & add some Items, or even insert on different indexes, move things around all at once.
My guess is that for this specific it might be better to implement another collection with INotifyCollectionChanged & INotifyPropert

[2016-11-28 15:06] jkotas commented on #14047
Right, this issue is about adding a new public .NET Core API implemented efficiently by the runtime. The slower portable Span implementation cannot use this public API because of it needs to run on existing runtimes - that's why it needs internal version of the API.

[2016-11-28 15:10] jkotas commented on #14046
`Environment.TickCount` is not sufficient source of randomness. `Guid.NewGuid()` should be good enough.

[2016-11-28 15:21] jnm2 commented on #10752
I use this pattern with a custom-implemented list type:

[code]

In fact I've found this to be so useful that lists that do it implement a common interface. This allows extensions methods like the following:

[code]

[2016-11-28 15:24] masonwheeler commented on #14047
Ah, I see.  That makes sense.

[2016-11-28 15:56] MgSam commented on #7656
@AlexGhiondea Is there an issue, document, or blog post somewhere specifying `Span`? I keep seeing you guys reference it but I have no idea where the its specified.

[2016-11-28 15:57] karelz commented on #10752
We should probably discuss this pattern in a separate issue. If it is common enough and the need is high, we could consider it.

[2016-11-28 16:01] karelz commented on #7656
It's taking its shape in corefxlab repo: https://github.com/dotnet/corefxlab/blob/master/docs/specs/span.md

[2016-11-28 16:09] karelz commented on #10528
The low-level APIs which already live in coreclr repo ('corlib') need to be done first there. All APIs should have tests and reference assemblies in corefx repo - it is tricky and not best documented process at this moment.
If you want to help with something simpler, I would suggest to start with corefx-only changes.

[2016-11-28 16:09] karelz commented on #1378
Thanks for the update @matekm!

[2016-11-28 16:11] vancem commented on #4928
The two new Append methods look fine

[2016-11-28 16:17] djechelon opened #14053 "New generic TaskFactory.StartNew<T> API"
Hi,

I would like to suggest to add an additional overload to [TaskFactory](https://msdn.microsoft.com/library/system.threading.tasks.taskfactory_methods(v=vs.110).aspx)

To the existing

     StartNew(Action<Object>, Object, CancellationToken, TaskCreationOptions, TaskScheduler)

I would add

     StartNew(Action<T>, T, CancellationToken, TaskCreationOptions, TaskScheduler)

The reason is not to

[2016-11-28 16:28] MgSam commented on #7656
@karelz Thanks very much. Any reason this is in a whole separate repo rather than just a branch? It makes it super annoying for those of us on the outside to try and follow the development of .NET.

[2016-11-28 16:30] bradbart commented on #8348
I found the following code snippet is functionality equivalent to the usage of directory catalogs:
[code]
I think this approach works well, though it would be nice to have an extension method on the ConfigurationContainer that does this. So instead of WithAssemblies, use WithAssembliesFromDirectory() which loads the assemblies and adds them to them to the configuration.

[2016-11-28 16:35] tarekgh commented on #13940
I am closing this request, please feel free to reply back or reopen if you think you need to discuss it more. Thanks.

[2016-11-28 16:35] #13940 closed

[2016-11-28 16:43] NickCraver commented on #1514
@jkotas I agree on `String.Format()`, but our much more common use case (localization in views, etc.) is on the `StringBuilder.AppendFormat()` side of the fence, which has more to win here overall.  An example of this is in ASP.NET views, especially when we're doing localization.

Either way, we need to measure. The trouble is measuring this accurately means really doing it for comparison...to see

[2016-11-28 16:47] mattwarren commented on #7656
@MgSam The api review is [also available](https://github.com/dotnet/apireviews/pull/33)

It's in the [CoreFXLabs repo](https://github.com/dotnet/corefxlab) because that's where all the work was initially prototyped, it's now making it's way into CoreCLR, [this issue](https://github.com/dotnet/coreclr/issues/5851) tracks that process.

[2016-11-28 16:49] karelz commented on #7656
@MgSam check out the corefxlab repo main [README.md](https://github.com/dotnet/corefxlab) -- it is about experimental things. `Span<T>` starts as experiment, only baked subsets are slowly moving to corefx when they are useful on their own.

[2016-11-28 16:58] karelz commented on #14046
We will need this in 1.2 to avoid similar mistakes we did with `string` in the past.

[2016-11-28 17:03] karelz commented on #14048
These are questions about WinRT API - nothing related to .NET or .NET Core, closing.
I don't know what is the official channel for those questions :(

@MattWhilden @richlander any idea where to route WinRT API bugs / questions.

[2016-11-28 17:03] #14048 closed

[2016-11-28 17:06] karelz commented on #14050
Let's try to rule out misconfiguration of your project -- can you try to repro on HelloWolrd app?

[2016-11-28 17:32] AlexRadch commented on #10528
@karelz I made two simple PRs in corefx, but have issues with changing config files. Can you help me? https://github.com/dotnet/corefx/pull/13975 and https://github.com/dotnet/corefx/pull/13976

[2016-11-28 17:33] #13670 closed

[2016-11-28 17:35] robertmclaws commented on #10752
I don't know that the pattern is a separate issue. It's fairly relevant to the implementation her, as that *could* be the method of bypassing the events internally as well. Since I'm working on the PR right now, I'd like to see his implementation now, to see if it would make sense in the broader context of the work I'm doing.

[2016-11-28 17:40] karelz commented on #10528
@AlexRadch the more reason to not attack coreclr+corefx changes which are more tricky.

I hope that @Priya91 and @ianhays  will be able to help you with the two above. I myself still lack the experience in making those changes to be able to provide useful advice.

[2016-11-28 17:43] jkotas commented on #1514
Right, and doing it is non-trivial amount of work because of the current formatting implementation has heavy dependency on boxing.

[2016-11-28 17:44] davidsh commented on #13609
Thanks for posting the code snippet:

[code]

This question is really about the features/functionality of ASP.NET and WebAPI and not .NET Core HttpClient.  So, can you please open a question in https://github.com/aspnet/home?  Thanks.

cc: @danroth27

[2016-11-28 17:44] #13609 closed

[2016-11-28 17:46] karelz commented on #10752
@robertmclaws wouldn't it change the API shape? -- That would require a new API approval.

[2016-11-28 17:56] robertmclaws commented on #10752
If it were made public, yes. However, I could implement the pattern as an internal, and then we can talk about making it external. IF it's worth it. Won't know that until I see it.

[2016-11-28 18:00] davidebbo commented on #13267
Related forum thread: https://social.msdn.microsoft.com/Forums/azure/en-US/cf9721d1-1fc1-4ccc-a695-1a0581a5c4c5/azure-web-app-net-core-11-entity-framework-core-unable-to-start

[2016-11-28 18:16] jcouv commented on #14046
@gafter pointed out a layering concern with using `Guid.NewGuid()`, as tuple is at a lower layer than guid. Presumably, we could refactor Guid to store its state in a tuple.
Would `new object().GetHashCode()` be a workable alternative?

[2016-11-28 18:19] MgSam commented on #7656
Thanks again. Exciting stuff!

[2016-11-28 18:23] danmosemsft commented on #13939
@Priya91 I believe you own ServiceProcess. This is a test run failure. Could you please take a look?

[2016-11-28 18:25] jkotas commented on #14046
Nope. ValueTuple is slightly higher implementation layer than Guid. Guid is in System.Runtime contract. ValueTuple implementation depends on System.Runtime, as well as System.Collections, System.Diagnostics.Debug and System.Resources.ResourceManager.

[2016-11-28 18:25] AlexGhiondea commented on #3249
@GSPP thanks for pointing out the problem and offering the start of the API shape!

I think we need to think about this some more and come up with the final API proposal that we can submit for review.

Anyone interested in picking this up?

[2016-11-28 18:26] svick commented on #14053
What's wrong with using a closure? I.e.:

[code]

I believe the `object` overloads exist mostly so that you can avoid closure allocations. Since it's a performance optimization, convenience does not matter much.

Also, looking at [the source code](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Tasks/Task.cs#L2841-L2852), I think doing this would require pretty sign

[2016-11-28 18:26] AlexGhiondea commented on #6485
@fujiy that is great! Looking forward to the PR! 😄

[2016-11-28 18:29] AlexGhiondea commented on #9788
@radenkozec I don't believe Microsoft.Composition supports netcoreapp1.1.

@weshaggard @twsouthwick any plans to make that package support 1.1?

[2016-11-28 18:35] karelz commented on #10752
Got it, that makes sense.

[2016-11-28 18:53] karelz commented on #6485
Adding @fujiy to collaborators list, so that it can be assigned to him ... @AlexGhiondea please ping me in future on such assignment requests.

[2016-11-28 18:56] karelz commented on #3419
@AlexRadch please ping us when you grab issues, so that we can assign them to you ...

[2016-11-28 18:57] alexperovich commented on #14053
I have no problem with adding the API if it can be done without significant change. If it requires large changes then I don't think it is worth it.

For now this functionality can be added via an extension method on TaskFactory.

[2016-11-28 19:01] karelz commented on #6550
@bartonjs do you have timeline for the API proposal?

[2016-11-28 19:04] bartdesmet opened #14059 "Quirks with exception behavior of ReadOnlyCollectionBuilder"
There are several issues with `ReadOnlyCollectionBuilder<T>`'s exception behavior:

1. Use of `ContractUtils.Requires` results in `ArgumentException` being thrown, when a more derived type would be more appropriate (e.g. for range checks or null checks).
2. `Insert` lacks a check for `index` being larger than or equal to 0, resulting in an exception from the underlying `Array.Copy`. Note that `Lis

[2016-11-28 19:06] karelz commented on #157
@mellinoe did it go through API review?

[2016-11-28 19:08] mellinoe commented on #157
@karelz Yes, it did, and I have a branch with the changes. I need to set aside some time to finish it up and push it through a code review. We should do this for .NET Core 1.2.

[2016-11-28 19:10] karelz commented on #1151
CoreFX fixed in #12183, closing.

[2016-11-28 19:10] #1151 closed

[2016-11-28 19:20] danmosemsft commented on #13979
@steveharter you added this test recently in 2e8bfa2. It's this assert that's failing. Can you take a look?

[code]

[2016-11-28 19:23] danmosemsft commented on #14017
@saurabh500 this is a sporadic CI failure, could you please take a look? Looks like it is part of your test server commit. Tests run in parallel. Is there any possibility of a test running concurrently with this one, that uses the same resources?

[2016-11-28 19:27] #13872 closed

[2016-11-28 19:29] saurabh500 commented on #14017
@corivera can you comment out the test or investigate the failure while I am out?

@danmoseft can you post some links to any CI failures?

[2016-11-28 19:38] bartonjs commented on #6550
# API Change
[code]

# Test requirements

* Ensure that when using the new ctors that IsOpen starts as true.
* `new X509Store(Guid.NewGuid().ToString("N"), StoreLocation.CurrentUser, ReadOnly | ExistingOnly)` should throw
* Old ctors `IsOpen` is false.
* IsOpen is false after calling Close
* If #12223 has added a framework for creating temporary stores to modify them then this should create/open a

[2016-11-28 19:43] steveharter commented on #13979
The Verify() method is subject to online certificate validation; I'll see if I can add some diagnostic information and perhaps move to outer loop.

[2016-11-28 19:43] danmosemsft commented on #14017
I don't have any information beyond the above -- @JonHanna can you find the full CI log? (What was the PR)

[2016-11-28 19:48] krwq commented on #9202
I do not believe we should be investing in fixing IndexOf for invalid strings (unpaired surrogate) as IMO this is undefined behavior. I advise to use direct byte comparison in such cases. Please reopen if you really think this should be fixed.

[2016-11-28 19:48] #9202 closed

[2016-11-28 19:48] danmosemsft commented on #13972
@mmitche we lost the log here, it was only a few days ago I assume, how long do we keep them for?

It's timing out waiting for some processes to end, but without the log I can't tell what test was running. It's not necessarily a process related test.

[2016-11-28 19:53] krwq commented on #3815
@ianhays Could you please share the units of the measurements and how does that impact the whole framework? I think we should not be optimizing 1ns->40ns regression or really rarely used calls as it is simply not worth the effort. I will leave this open as up-for-grabs.

[2016-11-28 20:06] krwq commented on #395
I believe there is few things which need to be worked on here:
- check if there is linux implementation existing and if it behaves similarly to CompareStringEx with SORT_DIGITSASNUMBERS
- should we provide all permutations for all comparers now or perhaps generate comparer based on some settings (perhaps we already have something like that which we might be able to inject this log in and I might n

[2016-11-28 20:10] tarekgh commented on #395
I don't think we need to do that. it would be just option (or flag) passed with the CompareOptions and let the underlying OS handle it.

I agree with that

[2016-11-28 20:26] mmitche commented on #13972
We keep a few days of builds or a max of 100 (whichever is smaller).

[2016-11-28 20:59] brentschmaltz commented on #11082
@RussKie I wrote some samples to help us understand the issue: https://github.com/brentschmaltz/Wilson5x/blob/master/src/JsonClaims/JwtWithJsonSubClaims.cs

[2016-11-28 21:07] Priya91 commented on #13939
Not able to repro this.. Newer runs don't have this failure. Seems like a one off machine issue.

[2016-11-28 21:15] #4690 closed

[2016-11-28 21:18] karelz commented on #6550
Thanks! :)
Now it is up for grabs if anyone wants to implement the API

[2016-11-28 21:20] karelz commented on #157
Thanks for explanation!

[2016-11-28 21:21] VSadov commented on #14046
I have concerns that randomizing the hash function too often would be breaking.

If we have, for example, different hash functions in different appdomains, a trivial serializing/deserializing of ```Dictionary<K,V>``` between appdomains will make the instance completely broken.

Basically having different hash functions within the same process seems bad.

I am not even sure about "same machine" cas

[2016-11-28 21:27] danmosemsft commented on #13966
I'm guessing this is actually line 303:
`                    int numWholeReadBlocksInBytes = (amountRead / _inputBlockSize) * _inputBlockSize;`

I thought OverflowException only happened when compiling with checked, but I don't see that (either on the command line or as a checked statement)

@bartonjs @steveharter CI failure.

[2016-11-28 21:31] jkotas commented on #14046
This is not true. The hashcodes between appdomains are often different today already. (And .NET Core does not have appdomains but that's a secondary point.)

Such systems need to use their own stable hash functions. As mentioned in #8034, string hashcodes are randomized by default in .NET Core. It is done on purpose to mitigate attacks that exploit predictable hash collisions. This issue is about

[2016-11-28 21:37] danmosemsft commented on #13939
`Interop.Advapi32.ControlService(serviceHandle, Interop.Advapi32.ControlOptions.CONTROL_STOP, &status);` failed with ` ERROR_BROKEN_PIPE `

I had a quick look at the code for ControlService in Windows and only observe that it indeed creates a pipe to talk to the service.

[2016-11-28 21:37] Priya91 commented on #10528
@AlexRadch From your PR, seems like you're not adding the APIs proposed in this issue. I left feedback on one of your PRs. Please keep the conversation on related issues.

[2016-11-28 21:39] danmosemsft commented on #7806
@jiangzeng how often are we seeing this?

[2016-11-28 21:42] danmosemsft commented on #13939
@jiangzeng please note here if you see this again.

[2016-11-28 21:43] danmosemsft commented on #13972
@mmitche Any chance of keeping more? Like a week's worth?

Meantime I have to close this as there's not enough info.

[2016-11-28 21:43] #13972 closed

[2016-11-28 21:48] mmitche commented on #13972
@danmosemsft Possibly? We can also keep these by hitting "Keep this build forever" on the specific build itself (and unclicking it when done with it).  Not ideal though.  The issue here is overall space.  Right now we're using around 5.5TB with just our current policies.

[2016-11-28 21:50] danmosemsft commented on #13972
Gosh, that's a lot. Too bad. (And you'd think logs would be very compressible.) Anyway, I know this is already on your radar...

[2016-11-28 21:58] JonHanna commented on #14017
Sorry, I meant to paste the URI into the report as well as the trace, but clearly didn't. I can't find the PR. I'm not even sure if it was mine, @bartdesmet's or someone else's.

[2016-11-28 21:58] sepidehMS opened #14064 "LocalAppContext.DisableCaching does not work"
`DisableCaching` does not always return the correct value when it has been set to `True` in the tests.
Please refer to https://github.com/dotnet/corefx/blob/master/src/Common/src/System/LocalAppContext.cs

@AlexGhiondea

[2016-11-28 22:18] Myrmex commented on #13267
Following up from the related forum thread quoted by davidebbo: I too had similar issues, but targeting win7 does not seem to solve it. You can refer to that thread for more information, or just reply to this post. Could anyone provide other hints? Thanks to all.

[2016-11-28 22:23] karelz commented on #8579
Next step: Tackle the API usage one by one or in batches. It does not have to be all at once.

[2016-11-28 22:27] karelz commented on #3035
@VSadov says close it. It's better for the tests to live in Dynamic.Runtime which is changing more than MSCSharp.

[2016-11-28 22:27] #3035 closed

[2016-11-28 22:28] karelz commented on #4672
The is by design - .NET Core reflection is more restrictive.

[2016-11-28 22:28] #4672 closed

[2016-11-28 22:31] karelz commented on #7458
This is too nebulous and generic, we should track specific issues / improvements in the code.
Note: The code is very sensitive to appcompat, so any change in here has to be really worth it and has to be thought through all angles.

[2016-11-28 22:31] #7458 closed

[2016-11-28 22:32] karelz commented on #7527
We need someone to get it under debugger and find out what is wrong in .NET Core code.

[2016-11-28 22:33] karelz commented on #7596
@StefH sorry for the extra delay. Did you mean that Reflection is not working properly (`TypeInfo.GetCustomAttributes`)?

[2016-11-28 22:35] karelz commented on #7596
Next step: We need to confirm where the bug is and suggestion for a fix in MS.CSharp or in Reflection.

[2016-11-28 22:36] karelz commented on #7792
Looks like dupe of #7596, or is there something else you meant to track by this issue?

[2016-11-28 22:36] #7792 closed

[2016-11-28 22:37] karelz commented on #8577
Next step: Identify call sites and fix them in batches (don't need to fix all at once).

[2016-11-28 22:39] weshaggard commented on #13267
@myrmex I read through your forum post. I believe the missing sni.dll error is caused by publishing for win10 instead of win7. If you are going to run on win7, which is unclear to me from the post, then it will need to be published for win7. You said you tried that but then you started hitting a 404 issue, do you have any further information about that issue? I think that is the next step in under

[2016-11-28 22:39] karelz commented on #10686
At the end of the day, it doesn't matter if there is 1 large binary or multiple small ones at compile time.
Application might want to choose to use shared framework or compile into single EXE (CoreRT) - that's  where size matters.

[2016-11-28 22:39] #10686 closed

[2016-11-28 22:42] karelz commented on #2159
@VSadov couldn't reproduce it, no response for 10 days -> closing. Feel free to reopen if there is more info.

[2016-11-28 22:42] #2159 closed

[2016-11-28 22:45] jamesqo commented on #14046
@jkotas, @VSadov If we decide to make these changes, would it be OK if I submitted a PR for this?

[2016-11-28 22:46] karelz commented on #2317
@JonHanna 1.2 will already bump the version, so we can ride that train.

Next step: Do the change, add some tests.

[2016-11-28 22:48] Myrmex commented on #13267
I'm going to target win7 right because all the answers to my post pointed in that direction. I'm currently targeting win7-x86, and I have just published my web app selecting this target. This triggered the 404, without any other information to the browser (unless I have to dig somewhere in the logs on the server side).
I'm targeting x86 because my MSDN subscription does not allow to select x64, bu

[2016-11-28 22:48] karelz commented on #2327
As @VSadov says above - it does not look like always beneficial thing to do.

[2016-11-28 22:48] #2327 closed

[2016-11-28 22:52] karelz commented on #3106
@plemanach do you think you have an optimization we could/should take? (disclaimer: I didn't read all the details)

[2016-11-28 22:54] karelz commented on #6073
@VSadov says this is useful addition.
Without reading it all, we think `TrySingle` is better name. Updating proposal on the top.

[2016-11-28 22:55] davidebbo commented on #13267
Since we're back to the 404, copying the comment I had put in the forum thread:

It looks like your site is indeed up and running, but ends up returning 404 without any specific errors. After setting stdoutLogEnabled="true" in you web.config, you'll see some Core logs generated in d:\home\logfiles.

There is a bunch of SQL related output on startup, and then each request produces this:

[code]

My

[2016-11-28 23:10] karelz commented on #11029
We do not believe the value is worth the extra check (has small perf impact). We do not believe the scenario of passing `null` to `SelectMany` is that common in running applications.
We agree that it might be slightly better in development time, but that's about as much value as we can think of.
If you disagree, feel free to provide additional data.

[2016-11-28 23:10] #11029 closed

[2016-11-28 23:11] karelz commented on #11599
Closing as there is not convincing evidence, this would be a real benefit for all cases.
Feel free to reopen if/when you have new data.

[2016-11-28 23:11] #11599 closed

[2016-11-28 23:17] karelz commented on #12083
Blocked on dotnet/coreclr#603

[2016-11-28 23:20] karelz commented on #12629
Next step: Collect perf data showing that this is worth it.

[2016-11-28 23:22] karelz commented on #12681
Looks like one time infra hiccup: `/RunTests.sh: line 346: ./corerun: No such file or directory`
If it happens, please reopen.

cc: @mellinoe

[2016-11-28 23:22] #12681 closed

[2016-11-28 23:26] karelz commented on #13696
Next step: Measure carefully and come up with a plan.

[2016-11-28 23:36] SamuelEnglard commented on #6073
Should I create a PR based on my implementation?

[2016-11-28 23:38] danmosemsft commented on #13481
Jeremy is investigating.

[2016-11-28 23:44] krwq commented on #1900
I talked offline with @KrzysztofCwalina and we both agree that the volatile writes are most likely not needed. If we ever see any issue with that we will know what to revert but most likely will never happen.

[2016-11-28 23:44] #1900 closed

[2016-11-28 23:50] danmosemsft commented on #12565
I'm going to close this since there's no action to take on our part. Does seem too important whether we take the active issue off the tests, they're correctly disabled on Unix.

[2016-11-29 00:06] terrajobst commented on #8034
@jkotas

If we were to make `HashCode` 64-bit, do you think an immutable design would kill perf in 32-bit environments? I agree with other readers, a builder pattern seems to be much worse.

[2016-11-29 00:13] danmosemsft commented on #14008
@scionwest yes, this will be in 1.2.

[2016-11-29 00:14] danmosemsft commented on #14008
Seems like we're covered so closing

[2016-11-29 00:14] #14008 closed

[2016-11-29 00:17] jkotas commented on #8034
Kill the perf - no. Performance penalty paid for syntax sugar - yes.

[2016-11-29 00:19] karelz commented on #6073
Not yet, we need to do API review (scheduled every Tuesday at 10am PT).
We will likely require all Try* APIs for completness (final decision hopefully tomorrow).

[2016-11-29 00:19] karelz commented on #6073
We'll mark it up for grabs and assign it to you @SamuelEnglard when it is ready for implementation.

[2016-11-29 00:20] CIPop opened #14068 "HttpWebRequest and HttpWebResponse serialization"
Both of these types have serialization documented as being obsoleted in NetFX.
The current behavior in NetFX: `HttpWebRequest` will fail deserialization (internal property not serializable):
`System.Runtime.Serialization.SerializationException : Type 'System.Net.WebRequest+WebProxyWrapper' in Assembly 'System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' is not marked as seri

[2016-11-29 00:23] jamesqo commented on #8034
Is it something that could be optimized by the JIT in the future?

[2016-11-29 00:24] karelz commented on #14046
It's yours - I will reassign it to you once you accept the contributor invitation (limitation of GitHub when you are not the one who file d the issue :()

[2016-11-29 00:29] SamuelEnglard commented on #6073
Makes sense. And easy enough to do.

[2016-11-29 00:34] OmarTawfik commented on #6073
@karelz updated the proposal.

[2016-11-29 00:36] jamesqo commented on #14046
@karelz Sure, I accepted the invitation.

[2016-11-29 00:39] composite commented on #13881
This issue might be nonsense.
why I tried cast boxed BigInteger to decimal like `(decimal)(object)new BigInteger(long.MaxValue)`.
I'll close this issue.

[2016-11-29 00:39] #13881 closed

[2016-11-29 00:41] karelz commented on #14046
All yours now.

[2016-11-29 00:44] joperezr commented on #11321
The mapping issue was fixed by @terrajobst when he forwarded the corefx documentation to netstandard in #13702

[2016-11-29 00:50] jiangzeng commented on #7806
@danmosemsft I checked the history results from MissionControl in the last month, it looks like it does not happen.

[2016-11-29 00:52] joperezr opened #14070 "Remove hack of copying NuGet dlls to get latest mappings"
In order to get the latest nuget mappings, we decided to substitute the version of NuGet that comes inside of the CLI which today we do with [these lines](https://github.com/dotnet/corefx/blob/master/init-tools.cmd#L72-L78). We should remove that hack and figure out a way of getting latest mappings differently.

[2016-11-29 00:55] jiangzeng commented on #13939
@danmosemsft Sure, will not here if this happens again.

[2016-11-29 01:01] joperezr commented on #11321
Closing this one since this has been fixed. @weshaggard I opened #14070 to track removing the hack for copying nuget dlls

[2016-11-29 01:01] #11321 closed

[2016-11-29 01:04] sepidehMS opened #14071 "Cleanup System.Private.Xml tests"
Remove commented-out tests, remove or fix skipped tests, etc.

[2016-11-29 01:13] VSadov commented on #1691
This is how C# compiler creates the expression tree (so nothing to do with Linq.Expressions) and basically ByDesign - C# does call the least derived method.

If you want the change to be considered, the bug should go to https://github.com/dotnet/roslyn , although there could be compatibility reasons why this cannot be changed now.

[2016-11-29 01:13] #1691 closed

[2016-11-29 01:14] VSadov commented on #3556
fixed in https://github.com/dotnet/corefx/pull/4862

[2016-11-29 01:14] #3556 closed

[2016-11-29 01:15] VSadov commented on #3836
@bartdesmet - is there more work tracked by this bug?

[2016-11-29 01:18] VSadov commented on #3838
I assume, once unblocked at least tests need to be added

[2016-11-29 01:21] VSadov commented on #3995
@bartdesmet - is this issue still tracking anything in particular?

[2016-11-29 01:22] Priya91 commented on #11836
Putting it in backlog of features for Regex space.

[2016-11-29 01:24] VSadov commented on #4104
next step would be identifying what these symbols were doing (supposedly more efficient implementations  when something is available) and figure whether we should fix/enable it on CoreFX or just remove.

[2016-11-29 01:35] jkotas commented on #13915
FXDC: proposal LGTM

[2016-11-29 01:35] jkotas commented on #13427
FXDC: proposal LGTM

[2016-11-29 02:21] JonHanna commented on #2317
YWIMC

[2016-11-29 02:41] bartdesmet opened #14077 "Restore Dynamic APIs on Expression"
Now that `System.Dynamic.Runtime` has been removed, should the `Dynamic` factory methods on `Expression` come back? They are currently hiding under the `ExpressionExtension` internal class.

Also, what's the plan for the visitors? Right now, we have `DynamicExpressionVisitor` with `VisitDynamic` but we lack the method on the `ExpressionVisitor` base type. Should this be restored as well?

[2016-11-29 02:42] SamuelEnglard opened #14078 "Add HasAtLeast<TSource>(this IEnumerable<TSource>, int)"
## Motivation

When working with sequences of just `IEnumerable<T>` calling `Count()` can be very expensive if `Count()` is forced to enumerate through the whole sequence. When checking if a sequence has X elements or more calling `Count()` is not just expensive but wasteful.

## Proposal

[code]

[2016-11-29 02:42] AlexRadch commented on #3419
@karelz I made this API implementation in PR https://github.com/dotnet/coreclr/pull/8303 but nobody answer on it.

[2016-11-29 02:43] Clockwork-Muse commented on #7806
@danmosemsft - while it's true that `Random` isn't threadsafe, on further review it's unlikely that's happening here.  Tests **are** multi-threaded, but this is usually only in independent units (test classes), probably specifically to avoid something like this.

[2016-11-29 02:57] JonHanna commented on #7806
If you really need to run tests in a particular order you can force it with the attribute at https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/tests/TestExtensions/TestOrderAttribute.cs and the orderer at https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/tests/TestExtensions/TestOrderer.cs though its best avoided since it breaks isolation (the expressi

[2016-11-29 02:58] jkotas commented on #14046
@VSadov suggested that marvin32 is overkill for combining just 2 or 3 hashcodes. I tend to agree.

[2016-11-29 03:18] terrajobst commented on #8034
It's more than syntactic sugar. If we were willing to make `HashCode` a class, then it would be syntactic sugar. But a mutable value type is a bug farm.

Quoting you from earlier:

I'd argue that a mutable value type is not a robust API for the majority of the people who don't know better.

[2016-11-29 03:20] bartdesmet commented on #14059
6. `ICollection.CopyTo` throws `ArrayTypeMismatchException` rather than `ArgumentException` (which `List<T>` throws) when presented a destination array with another element type.

[2016-11-29 04:26] jkotas commented on #8034
Agree. Thought, I think it is unfortunate that it is the case for mutable struct builder types. I use [them](https://github.com/dotnet/corert/blob/26413145abcbdd49468db230a6f29784494f6f46/src/Common/src/TypeSystem/Common/Utilities/GCPointerMap.cs#L138) [all](https://github.com/dotnet/corert/blob/26413145abcbdd49468db230a6f29784494f6f46/src/Common/src/System/Collections/Generic/ArrayBuilder.cs#L12)

[2016-11-29 04:27] bartdesmet commented on #13951
Again @ https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/913/

[2016-11-29 05:02] karelz commented on #3419
Sometimes it requires patience - Thu & Fri was Thanksgiving in US, so there were plenty of PRs from lots of folks in last 4 days and the core team was OOF ... there's gotta be some backlog :).

cc: @joperezr @AlexGhiondea to help with the code review ...

[2016-11-29 05:16] karelz commented on #14078
It can be rewritten using as `Skip(atLeast).Any()`.
Personally I don't think it is worth a new API method - we do not want to bloat the list to unusable thing.
If it is popular API/wrapper, then I might be ok with it, but I don't think it is ...

[2016-11-29 05:18] VSadov commented on #4411
This bug is not actionable on Linq.Expression side. there are no reflection APIs that would allow to call method with ref parameters while preserving aliasing nature of refs.
We need a bug against FX specifically requesting such API.

[2016-11-29 05:36] VSadov commented on #4984
After rereading this again this seems to be ByDesign from the Expression Trees prospective. The functionality seems intentionally limited and there are compat concerns.

This should be dealt with at the higher level. We can reactivate this issue if it is found to be impossible.

[2016-11-29 05:36] #4984 closed

[2016-11-29 05:38] danmosemsft commented on #7806
@Clockwork-Muse also it doesn't appear that these tests rely on any particular random numbers (not that you were suggesting they were). I will add logging of the random numbers used, perhaps that will allow us to repro it locally.

[2016-11-29 05:39] danmosemsft commented on #14017
@JonHanna no problem. @corivera if you cannot figure the problem out from code inspection, please consider adding logging/tracing so we can solve this next time it's hit (assuming we get the logs in time)

[2016-11-29 05:41] danmosemsft commented on #13939
Closing since it is hard to see what to do here. If it does keep happening, we can get creative.

[2016-11-29 05:41] #13939 closed

[2016-11-29 05:43] danmosemsft commented on #12228
@jimcarley ?

[2016-11-29 05:43] VSadov commented on #5078
This seems to be a subset of the proposal in #13909

[2016-11-29 05:43] #5078 closed

[2016-11-29 05:51] VSadov commented on #5946
Expression Trees do not need to match the complexities C# binder and overload resolution. For the most scenarios Expression Tree is an already fully bound tree and some factories leave some room for not specifying exact operator methods.
I do not think we should make this more complex than it needs to be. Definitely not to the level that matches C#.

From such prospective, is the current behavior

[2016-11-29 05:54] VSadov commented on #6132
The behavior, however subtle, seems intentional and cannot be changed now for compat reasons.
The only thing that can be done is is to document it.

[2016-11-29 05:59] SamuelEnglard commented on #14078
I admittedly had not thought of that! I'll leave it open in case anyone else comes up with reasons to keep it.

[2016-11-29 06:05] karelz commented on #14078
I would suggest to close it. If someone has evidence this is indeed useful, just comment here and we can reopen it.

[2016-11-29 06:05] #14078 closed

[2016-11-29 06:57] #12134 closed

[2016-11-29 07:09] groege commented on #10752
@jnm2 May I use your code snipped as an example for creating a separate issue?
So that I won't forget to add it to the issue once it is created - would it make sense to adapt the changed event to represent all changes without the reset event?
So we can add/move/remove items without having to look at the whole collection - and if yes how could this be done in a proper and easy to understand manner.

[2016-11-29 07:40] radenkozec commented on #9788
@AlexGhiondea @weshaggard @twsouthwick  If that is true ->
Microsoft.Composition does not support  netcoreapp1.1 this means ->
Microsoft.VisualStudio.Web.CodeGeneration.Tools,
Microsoft.VisualStudio.Web.CodeGenerators.Mvc does not support netcoreapp1.1
which means that ASP.NET MVC 6 and ASP.NET 5 project does not support netcoreapp1.1

So you are saying that I cannot create ASP.NET MVC 6 netcoreap

[2016-11-29 07:47] mellinoe commented on #9788
Both packages "support" .NET Core 1.1, but the old package (Microsoft.Composition) requires that you use "imports" statements in your project file to install it, because of the way the package is authored. Ideally, downstream consumers will switch over to System.Composition because that is what we have named the package now. But it probably hasn't been at the top of the priority list because there

[2016-11-29 08:48] nietras commented on #13427
Great, I will update my PR as soon as possible. Should I include the `InitBlock`* methods in same PR?

@jkotas perhaps, this issue should be renamed as well? E.g. "Add `CopyBlock/InitBlock` overloads for `ref byte`"

[2016-11-29 09:27] michael-x commented on #14050
Installing System.Xml.ReaderWriter 4.3.0 and System.Text.Encoding.CodePages 4.3.0 together in a .NET Framework 4.6 project doesn't work on some machines with only the SDK installed.

Downgrading System.Text.Encoding.CodePages does not work.
Downgrading System.Xml.ReaderWriter to 4.0.11 works.
Changing the target framework to 4.5 doesn't work because System.Text.Encoding.CodePages doesn't support i

[2016-11-29 09:45] michael-x commented on #14050
Another test I did:

Setting the target framework version to 4.5 on the empty project and then adding System.Xml.ReadWriter 4.3.0 adds a reference to the System.Xml reference assembly. Then switching the target framework to 4.6 and installing System.Text.Encoding.CodePages 4.3.0 adds a reference to the packaged assembly and builds (with a warning in VS2015 about a NuGet package targeting the wrong

[2016-11-29 10:06] JonHanna commented on #4411
As we can expect such methods to become more popular now they have direct support in C# 7, those that return ref should also be considered.

[2016-11-29 10:28] radenkozec commented on #9788
@mellinoe I understand. I managed to import it using

however it would be nice to not use these kind of workarounds for that.

[2016-11-29 10:44] tiefling opened #14085 "Azure deploy - Unable to load DLL 'sni.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E) [but it IS there]"
I am deploying a dotnet core app to my Test environment on Azure and getting the following error. This is blocking critical product development now and I've been banging my head against it for days...

My project.json looks like this...

[code]

The project.json of the referenced library looks like this...

[code]

The app runs fine under IIS Express on my local machine.

[2016-11-29 10:48] JonHanna commented on #5946
I've been thinking about this on and off since I raised this issue. I don't think there's any perfect solution, including leaving as-is.

As-is the behaviour is confusing, and at odds with the documentation which means the confusion won't be resolved by reading them. It's also confusing enough that updating the docs would still leave it confusing.

Moving to the documented behaviour would be a bre

[2016-11-29 11:24] davidfowl commented on #12039
I think these should be Streams/Writer/Reader instead of strings. The more I think about it, the more I think there needs to be 2 sets of methods:

- StartAsync, WaitForExistAsync
- StartAndWaitForExitAsync

[2016-11-29 12:05] tiefling commented on #14085
I have tried publishing through VSTS and publishing directly from Visual Studio with the same result. I did notice that I seem unable to compile x86 at all - only the x64 runtimes are generated on build on my machine.

To maximise compatibility I tried editing my runtime settings to...

[code]

in all of my project.json files but this made little difference. I have tried direct runtime specificati

[2016-11-29 13:11] tiefling commented on #14085
I have spent 2 hours this morning trying to reproduce this by publishing to my local IIS instance but, after a little (expected) tweaking, that seems to be working fine so I am unable to reproduce the issue locally at all. I'm now open to all ideas.

[2016-11-29 13:42] Esidar commented on #14021
Is there a specific reason why `TypedReference` is being avoided? I guess there can be stability issue (reference to a local that is no longer available), but is there anything else?

Another solution would be use of new Tuples feature. `methodInfo.Invoke` could accept tuple struct instead of object[] array. CoreCR/VM could then use the same tuple if invoked method has any ref/out arguments
[code]

[2016-11-29 14:06] stephentoub commented on #2327
That said, we may still want to add a check for the internal ```IIListProvider<TSource>```.  That doesn't suffer from the same concern, as we can ask for the count only if it's deemed cheap to compute, and it also allows for operations like that described in https://github.com/dotnet/corefx/issues/14078#issuecomment-263478710 to be optimized.  e.g.
[code]
It does of course add an extra type check

[2016-11-29 14:07] stephentoub commented on #14078
I agree it's not worth adding another API, though it may make https://github.com/dotnet/corefx/issues/2327#issuecomment-263578679 more impactful to do.

[2016-11-29 14:13] JonHanna commented on #2327
An `IIListProvider<TSource>` could be ultimately wrapping one of the sorts of `IList<TSource>` that isn't super-cheap as per the above. That "onlyIfCheap" would still be cheap enough often enough to make sense as an allocation optimisation, but not necessarily cheap enough to beat the single iteration of MoveNext that Any currently does.

[2016-11-29 14:15] stephentoub commented on #2327
We have ```IIListProvider<TSource>``` implementations with ```GetCount(onlyIfCheap: true)``` implementations that aren't cheap?  Then we should fix those, as such calls are used in cases where they really need to be super cheap, like presizing a list.

[2016-11-29 14:22] JonHanna commented on #2327
Actually no. The case I was thinking of is how with arrays it was found above that going through IList to get Count was more expensive than trying to enumerate (would still be a gain when it came to allocating), but most (all?) cases where we have an array as the source to an IIListProvider it's already strongly typed to that and will use Length.

So yes, optimising of IIListProvider make sense. A

[2016-11-29 14:34] jkotas commented on #14021
TypedReference has not been very useful: C# does not have a first class support for it, it requires non-trivial custom logic in the codegenerator and runtime, not all .NET runtimes support it, and it is missing some methods that would make it useful and easy to work with, e.g. it should have a method to cast the value to strong typed value, like `ref T As<T>()` - this method is equivalent to the u

[2016-11-29 14:51] jkotas opened #14088 "Bring back TypedReference"
TypedReference has not been very useful type so far, with non-trivial implementation cost, and that is why we have decided to not include it in .NET Standard.

However, the recent discussion #14021 revealed that it is a good building block for new high-performance reflection APIs that avoid boxing and address other reflection limitations. We should consider bringing it back.

The steps are:
1. Bri

[2016-11-29 14:54] jkotas commented on #14021
I have opened #14088 to bring back TypedReference that should be the first on this.

cc @davidwrighton

[2016-11-29 14:57] jkotas commented on #14088
cc @Esidar @bartdesmet @MichalStrehovsky @davidwrighton

[2016-11-29 15:33] tiefling commented on #14085
I fixed this in the end by only having one option in my runtimes as follows...

[code]

But in order for it to take effect I had to make sure that I manually deleted all the files from the site via FTP before redeploying. That was the key. Is there a bug here where the publish files contain mixed content in some way?

There are several issues here...

1. Lack of documentation on required platform

[2016-11-29 15:59] tmds opened #14089 "rhel rid should not include a minor. rhel-7.2-x64 should be rhel-7-x64"
Just like Debian (https://github.com/dotnet/corefx/issues/6170), minor releases are point releases. The minor should not be part of the rid.

[2016-11-29 15:59] KrzysztofCwalina commented on #8034
MustNotCopy is a struct lover's dream come true. @jaredpar?

[2016-11-29 16:06] karelz commented on #14089
cc: @janvorli

[2016-11-29 16:08] karelz commented on #14088
@weshaggard @danmosemsft any thoughts?

[2016-11-29 16:10] karelz commented on #14085
Dupe of #13267

[2016-11-29 16:10] #14085 closed

[2016-11-29 16:20] tiefling commented on #14085
Is it worth adding in a target runtime of "azure" which inherits from "win7-x64" to make the developer experience here better?

[2016-11-29 16:22] svick commented on #12039
@davidfowl Why would `StartAsync` need to be `async`? If that was the convenience version that returns something like `ProcessResult`, wouldn't calling it `StartAsync`/`Start` be confusing, since the existing `Start` returns something different (`Process`)?

[2016-11-29 16:35] jimcarley commented on #12228
Sorry. I was out on vacation. We have a person working on enabling logging within the test.

[2016-11-29 16:36] danmosemsft commented on #14088
I have no objection (I imagine the cost of (2) and (3) is the main consideration)

I'm not sure why we'd put it in Standard -- it may be present in other platforms, but it's used for (1) __arglist that is not necessarily present (https://github.com/dotnet/standard/commit/6e3ad1) and (2) these new functions which won't be present.

[2016-11-29 16:39] danmosemsft commented on #13951
@davidsh @CIPop generally I'm ignoring the system.net test failures as we know they are fundamentally fragile and you have work planned to address the root cause. This one isn't so clearly due to fragility though and I haven't seen it before. Worth a look?

[2016-11-29 16:40] janvorli commented on #14089
cc: @mellinoe, @Petermarcu

[2016-11-29 16:41] danmosemsft commented on #13351
This is @sepidehMS next task.

[2016-11-29 16:41] weshaggard commented on #14088
I also don't have any concerns as it is primarily a runtime/codegen/language feature then it is a library feature. If we did add it to .NET Standard 2.0 as @danmosemsft points out it can only contain the APIs that already exist in the full .NET framework.

[2016-11-29 16:43] davidsh commented on #13951
Yes, we discussed this with KarelZ already.  This test should never fail especially since it doesn't use the real network.  I suspect changes in CoreCLR have broken this test...maybe something to do with SafeHandles, etc.

[2016-11-29 16:45] #12327 closed

[2016-11-29 16:50] karelz commented on #2327
@JonHanna @stephentoub please create a new bug if you both think it is worth pursuing.

[2016-11-29 16:53] stephentoub commented on #2327
Why a new bug rather than reopening this one?  This issue was about applying one or more of the optimizations Count includes, and Count has this one:
https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Count.cs#L25-L29

[2016-11-29 16:58] karelz commented on #2327
New bug saying "Do X (BTW: See background in bug Y if you're interested)" will be easier to comprehend and pick up as "up for grabs" than this longer discussion which folks will try to understand first.
Not a super-strong opinion from my side ...

[2016-11-29 16:59] danmosemsft commented on #14071
+netstandard 2.0 label for removing dead tests and removing or fixing skipped tests. That is part of the debt of bringing over System.Xml types and making sure they are all working well.

General test improvements/consolidation/additions are not netstandard 2.0 work and can be done at an arbitrary time and should be tracked separately.

[2016-11-29 17:00] stephentoub opened #14090 "Port thread pool's work stealing implementation to ConcurrentBag"
Every Add to a ConcurrentBag allocates a new Node to store into the thread local list, which is a linked list. In contrast, ThreadPool also uses a work-stealing queue, but one that's array-based, avoiding needing an extra allocation per item.  We should investigate using thread pool's work-stealing implementation in ConcurrentBag, to avoid that allocation.  And if for some reason it's not possible

[2016-11-29 17:07] karelz commented on #13946
I am surprised that our packages list Mono as one of the supported platforms when we do not support it. That sounds wrong. @ericstj @weshaggard is that some kind of NuGet-ism? Or bug in our packaging?

[2016-11-29 17:22] danmosemsft opened #14093 "Enable Dumpling service to collect dumps from hangs/crashes in CI/full builds"

[2016-11-29 17:22] danmosemsft commented on #4152
https://github.com/dotnet/corefx/issues/14093 is that part

[2016-11-29 17:24] danmosemsft commented on #13107
@CIPop if you agree, then @alexperovich can baseline and close this.

[2016-11-29 17:26] #4804 closed

[2016-11-29 17:26] danmosemsft commented on #4804
Issue moved to [dotnet/coreclr #8353](https://github.com/dotnet/coreclr/issues/8353) via [**ZenHub**](https://www.zenhub.com/)

[2016-11-29 17:28] danmosemsft commented on #652
@alexanderkozlenko - if you are still interested in contributing here (sorry reply is absurdly late here) that seems like a good start. @alexperovich can check your list.

[2016-11-29 17:31] danmosemsft opened #14095 "Enable and fix/baseline worthwhile FXCop rules on CoreFX codebase"
dotnet/coreclr#7880 covers this for mscorlib.

@alexperovich will drive this.

Suggested workflow
* Put checkboxes in this issue for all valuable rules (not any that are too noisy/not valuable)
* In one commit, enable a rule, fix any easy violations and baseline the rest. This prevents us going backwards.
* Open separate issue for someone to clear out the baseline for the rule/s.

[2016-11-29 17:33] karelz commented on #14085
Not sure if that is achievable or if it is a good idea - @ericstj?

[2016-11-29 17:40] #2317 closed

[2016-11-29 17:47] VSadov commented on #7953
the bug should be fixed by #11091.
Please feel free to reactivate if it does not

[2016-11-29 17:47] #7953 closed

[2016-11-29 17:49] danmosemsft commented on #7806
@jiangzeng I added some logging to help us when this fails again. Please next time you see this fail, grab as much of the log as you can and put it in this issue. In particular look for text like this

[code]

[2016-11-29 17:50] ericstj commented on #14085
That's not really correct.  Azure isn't `win7-x64` nor should that be required to deploy to azure.  The correct RID to use for standalone is the one that matches the OS you're targeting.

Not in the packages at least.  You can examine the project.lock.json to see if it had the correct information for those runtimes and sni.dll.  If I copy your project.json and restore myself I do see the correct i

[2016-11-29 17:51] VSadov commented on #8067
@chcosta - is the bug still actionable?

[2016-11-29 17:53] bartdesmet commented on #14095
Related to this, I've started to clean up some suppressions in `System.Linq.Expressions` that are no longer relevant, see https://github.com/dotnet/corefx/pull/14092. What's the recommended / well-supported way to run FxCop on .NET Core binaries? I couldn't find a note describing the steps in the Wiki.