[2017-11-18 04:04] davidsh commented on #25330
This is a bug in ASP.NET Core.  Please close this bug and move it to the ASP.NET repo:

https://github.com/aspnet/home

[2017-11-18 04:26] benaadams commented on #25330
/cc @GrabYourPitchforks

[2017-11-18 04:58] #25268 closed

[2017-11-18 05:02] anurse commented on #25330
When you accept the WebSocket with `AcceptWebSocketAsync` are you handing the `WebSocket` off to a background process? If you do so, you need to await completion of that background process in your request, or the underlying HTTP connection will be terminated and you'll get this error. See https://github.com/aspnet/WebSockets/issues/208 for more details.

[2017-11-18 12:31] dmx9600 commented on #17523
Yeah, I've got this problem now, exactly, with Visual Studio 2017

[2017-11-18 14:42] zugzwangm commented on #25330
@anurse No, I don't send the WebSocket to a background process.

Should I recreate this Issue in ASP.NET repo? It seems to be a problem on System.Net.WebSockets.

[2017-11-18 15:41] outbackdingo opened #25333 "cant cross build arm64 on Ubuntu 17.10"
simply put i cant cross build arm64 on Ubuntu 17.10
all i need is a arm64 mscorlib.dll
cant built the crossbuild rootfs to compile and cant compile it based on the guide

https://github.com/dotnet/corefx/blob/master/Documentation/building/cross-building.md

nothing in the guide appears to work

[2017-11-18 16:38] anurse commented on #25330
Can you actually start by emailing me directly? My email address is my GitHub username “@microsoft.com”. Please try to include as much of your WebSockets code as possible, particularly the code around the AcceptWebSocketAsync call. I’d like to understand the issue as much as possible to figure out where the bug may be.

[2017-11-18 17:08] #10931 closed

[2017-11-18 17:11] #2209 closed

[2017-11-18 17:13] jkotas opened #25334 "Add support System.Numerics.Vectors types with double precision"
_From @acecebov on August 25, 2017 16:50_

Add support System.Numerics.Vectors types with double precision:
Vector2d, Vector3d, Vector4d, Matrix3x2d, Matrix4x4d, PlaneD, QuaternionD.

There are lots of scientific/gaming cases when we want to work with double precision and benefit of SIMD!

_Copied from original issue: dotnet/coreclr#13591_

[2017-11-18 17:13] jkotas commented on #25334
_From @danmosemsft on August 27, 2017 19:55_

@acecebov thanks for the suggestion, can you move the issue to the corefx repo? New api proposals go there.

[2017-11-18 17:25] cpsusie opened #25335 "IntrospectiveSortUtilities.FloorLog2 method is misleadingly named."
coreclr/src/mscorlib/src/System/Collections/Generic/ArraySortHelper.cs

The method FloorLog2 does not actually return FloorLog2.  It also does not return CeilingLog2.  It returns FloorLog2 + 1 unless x is 0, where 0 is returned.

Examples (where x is a signed 32 bit integer and f(x) does what FloorLog2 actually does).

x => f(x)

    x = 1: f(x) = 1
    x = 2 : f(x) = 2
    x = 3 : f(x) = 2
    x

[2017-11-18 17:53] karelz commented on #17523
It is most likely separate problem. Please make sure you have latest Visual Studio. Create simple HelloWorld-style repro, then file a new bug if you are still hitting the problem.

[2017-11-18 17:54] karelz commented on #24371
Nor response in 3 weeks, closing.

[2017-11-18 17:54] #24371 closed

[2017-11-18 18:07] karelz commented on #25330
@zugzwangm it does not seem to be a problem in `System.Net.WebSockets` -- that is about client side of WebSockets. This seems to be on the server side, hence ASP.NET. Closing here ... please file the issue on ASP.NET repos. Thanks!

[2017-11-18 18:07] #25330 closed

[2017-11-18 18:10] karelz commented on #25333
Can you please provide specific error(s) you see? Your report is too general to be actionable.
Note: I don't think arm64 is officially supported, which may contribute to not-quite-working state.

[2017-11-18 18:16] karelz commented on #25335
Good catch, do you want to submit PR renaming the method?

[2017-11-18 19:10] wizofaus commented on #24951
Unfortunately I still haven't been able to get dotnet building, but if there's a team already looking at it that's great.

[2017-11-18 19:35] stephentoub opened #25336 "Add BigInteger.TryFormat method for outputting to a span"
I accidentally omitted this when doing the BigInteger work.
cc: @bartonjs

[2017-11-18 19:38] stephentoub opened #25337 "TryFormat with format strings as ReadOnlySpan<char> or string"
We've approved and added a bunch of `TryFormat` methods for doing the equivalent of `ToString`, but rendering into a supplied `Span<char>` instead of allocating a `string`.  Many of these `TryFormat` methods accept a `string format` argument, just as does `ToString`.  @justinvp raised the question of whether these should instead be `ReadOnlySpan<char> format`.

Example scenario:
His scenario was i

[2017-11-18 20:36] outbackdingo commented on #25333
Ubuntu 17.10 server VM on KVM  after doing sudo apt-get install git clang-3.9 cmake make libc6-dev libssl-dev libkrb5-dev libcurl4-openssl-dev zlib1g-dev

successfully, then

For Ubuntu 16.04 LTS / Bash on Ubuntu on Windows you may need to replace libicu52 with libicu55. Ubuntu 16.10 and Ubuntu 17.04 will require libicu57.

sudo apt-get install libunwind8 libicu57 curl

also successfully and
and f

[2017-11-18 22:34] Bobris commented on #16878
It pity that this didn't fit Span/ReadOnlySpan. memcmp is critical function for embedded databases.

[2017-11-18 23:40] JonHanna opened #25338 "Dynamic overload resolution with conversions fails to distinguish between numeric and string +"
Give a class implicitly castable to both `string` and a numeric type:
[code]
Then the following:
[code]
Throws `IndexOutOfRangeException` (NetFX throws `RuntimeBinderInternalCompilerException`).

[2017-11-19 01:32] Cae2 opened #25340 "Error on ComputeSignature when changing from SHA256 to SHA1"
Hello,
I need to use a service who still dont accept SHA256 Algorithm.

the following works when I execute:

but the Xml Reference stills in SHA256. If I change the Reference to also use SHA1 with:

the ComputeSignature() shows the error:

can someone give me some advices to change all algorithms in that xml signature to SHA1?

thanks!

Edit:
ops, forgot to mention that I'm using ASP.NET Core 2.0,

[2017-11-19 01:49] Drawaes commented on #19705
Looks like I have a line on solving this problem. Luckily I had to troubleshoot a similar issue for a team at work this week and it clicked that it might be the same issue. I will describe the basic issue

1. There are a load of tests that use async operations inside
2. There are a lot of separate test classes, each one is allowed to run in parallel
3. Test machines/VMs/Docker are somewhat core co

[2017-11-19 01:51] jkotas commented on #16878
@Bobris Span APIs are still work in progress. It was mentioned above that `static int SequenceCompare(this ReadOnlySpan<byte> first, ReadOnlySpan<byte> second)` may be a reasonable thing to add. We just did not see a good motivation to add it so far - SequenceEqual was sufficient for @AronParker who opened this issue originally.

If you believe that SequenceCompare is an important API to have in a

[2017-11-19 03:11] stephentoub commented on #19705
Even if that's not the cause of this, it's important to fix. Blocking in tests not only potentially leads to pool starvation, it also is often a cause of deadlocks due to blocking the threads xunit tracks in its sync ctx.

[2017-11-19 03:48] Cae2 commented on #25340
solved, I was using a wrong algorithm

changed:

`refer.DigestMethod = "http://www.w3.org/2000/09/xmldsig#rsa-sha1";`
for
`refer.DigestMethod = SignedXml.XmlDsigSHA1Url;`

[2017-11-19 03:48] #25340 closed

[2017-11-19 04:53] zcanann opened #25344 "IndexOutOfRangeException in System.Numerics.Vector<T>(array) Where array Size < 32 Bytes"
`System.Numerics.Vector<byte> vec   = new System.Numerics.Vector<byte>(new byte[] { 4, 3, 2, 1, 6, 4, 2, 4 });`

This call will crash with an `IndexOutOfRangeException` exception. I'm pulling in this library as a NuGet package. If I pass in >= 32 bytes, this code works.

The same logic applies to other data types if they do not fill enough at least 32 bytes.

Is there a reason for this behavior? M

[2017-11-19 05:54] #24817 closed

[2017-11-19 05:57] danmosemsft commented on #25335
and fix spelling on line 35..

[2017-11-19 10:31] Bobris commented on #16878
@jkotas Thanks for looking at this. I need lexicographical order in my KeyValue DB. My current pour man implementation is https://github.com/Bobris/BTDB/blob/58c1bf9bbf555e98d836c6de094f431b5dfdd8f9/BTDB/Buffer/BitArrayManipulation.cs#L171. This operation is basic for any B-Tree implementation when key is just sequence of bytes.
You probably already saw this https://ayende.com/blog/169825/excerpts

[2017-11-19 12:00] benaadams commented on #25344
`System.Numerics.Vector<byte>.Count` should tell you the size it supports (which varies based on CPU) it always chooses the largest supported vector size

[2017-11-19 13:24] Drawaes opened #25346 "Tests : Remove the number of unneeded blocking tasks in tests"
I am launching this as a tracking issue for Tests in general.

There a number of cases where Tests block (Task.WaitAll is the biggest culprit it seems) across the Repo. You can get away with this for a certain amount of time, but as the test coverage grows, you tend to hit threadpool starvation and random timeouts, it also has the potential to deadlock xunit.

I have launched this issue to track t

[2017-11-19 14:46] Drawaes opened #25349 "PerformanceCounter_IncrementBy_IncrementByReadOnly Failure for Windows 8.1"
The failure on Windows is only on Windows.81.Amd64.Open (the test is skipped on a number of the win10 versions)
System.Diagnostics.Tests.PerformanceCounterTests/PerformanceCounter_IncrementBy_IncrementByReadOnly

Assert.NotEqual() Failure
Expected: Not 0
Actual: 0

https://mc.dot.net/#/user/Drawaes/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/95937940636258caa156046fa21fca

[2017-11-19 15:51] shaulbehr commented on #22781
I'm having the same grief. Lost two working days to this problem. Eventually I solved it (I think!) by going into `\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\lib` and `\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\ref` and copying all DLLs in those fo

[2017-11-19 18:37] #12592 closed

[2017-11-19 21:02] kurtschelfthout commented on #22796
How about the following API.

[code]
Assuming backwards compatibility is important (though I doubt this API is frequently used), `Offset` still returns the offset if it fits into an `int`, even if one of the new ctors is used with a `long` offset, and throws if the offset exceeds `int.MaxValue`.

[2017-11-19 21:34] kurtschelfthout opened #25354 "System.Net.Sockets.Socket file send APIs should take a FileStream in addition to string filename"
`SendPacketsElement`, `SendFile` and `BeginSendFile` currently take a `string` filename to indicate the file (or part thereof) to send. Under the hood, the implementation of these methods creates and manages `FileStream`s. I suggest that you add overloads that take `FileStream`.

This makes it possible for applications to manage file handles directly - for example, to manage the lifetime of open h

[2017-11-19 22:18] akraines opened #25355 "Dictionary (etc) optimization suggestion, use readonly ref"
Now that readonly ref (in) is being added to the language, Dictionary.Contains, TryGetValue etc. can all use "in" parameters as they only read from the input. This would improve dictionary lookups of keys which value-tuples since they would be passed by ref and not by value.
Really this is relavent for any method that doesn't modify its parameters. This may be a clr/jit level optimization, since t

[2017-11-19 23:32] JonHanna commented on #23387
@Zaid-Ajaj the fix for what I suspect was the cause of this shipped with 2.0.3. Can you confirm that it fixes your issue?

[2017-11-20 00:33] stephentoub commented on #25349
Failed again here:
https://mc.dot.net/#/user/Drawaes/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/37fa65588ea04cc8ab194512810269723d837cfe/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.Diagnostics.Tests.PerformanceCounterTests~2FPerformanceCounter_IncrementBy_IncrementByReadOnly
[code]

[2017-11-20 00:55] jkotas commented on #25355
Modern calling conventions have this optimization built-in: Small value types are passed by value and large value types are passed by reference in the JIT code already on x64 and arm64 today.

[2017-11-20 01:28] stephentoub opened #25359 "CategoryProperties_GetCategory_ReturnsExpected failed on netfx in CI"
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/5395/consoleText
[code]

[2017-11-20 02:27] Drawaes commented on #25346
I am going to combine the Net.Http and NameResolution as there are only a few in each unless you want a seperate PR for each @stephentoub ?

[2017-11-20 02:39] davidsh commented on #25346
I would prefer separate PRs.

[2017-11-20 03:48] Squirrelies commented on #9162
Please add this into the core libraries.

[2017-11-20 08:21] dotnet-mc-bot opened #25363 "Test failure: System.Buffers.ArrayPool.Tests.ArrayPoolUnitTests/RentBufferFiresRentedDiagnosticEvent"
Opened on behalf of @Sunny-pu

The test `System.Buffers.ArrayPool.Tests.ArrayPoolUnitTests/RentBufferFiresRentedDiagnosticEvent` has failed.

Assert.Equal() Failure\r
    Expected: 1\r
    Actual:   0

        Stack Trace:

           at System.Buffers.ArrayPool.Tests.ArrayPoolUnitTests.RentBufferFiresRentedDiagnosticEvent()
       at xunit.console.netcore!<BaseAddress>+0x7eb808
       at xunit.co

[2017-11-20 08:30] #25363 closed

[2017-11-20 08:42] Sunny-pu commented on #19388
This issue is repro in 2.0.0 branch, detail:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171117.01/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.SyncWebClientTest~2FUploadString_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-11-20 08:53] dotnet-mc-bot opened #25364 "Test failure: System.IO.Tests.FileSystemWatcherTests_netstandard17/EndInit_ResumesPausedEnableRaisingEvents(setBeforeBeginInit: True)"
Opened on behalf of @Sunny-pu

The test `System.IO.Tests.FileSystemWatcherTests_netstandard17/EndInit_ResumesPausedEnableRaisingEvents(setBeforeBeginInit: True)` has failed.

Deleted event did not occur as expected\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.IO.Tests.FileSystemWatcherTest.ExecuteAndVerifyEvents($FileSystemWatcher watcher, $WatcherChangeTy

[2017-11-20 09:51] zaytsev-victor commented on #24564
First time contributor, I can take this.

[2017-11-20 10:22] Drawaes commented on #25346
Sure no problem, I will keep them separate.

[2017-11-20 13:16] #25359 closed

[2017-11-20 13:17] stephentoub opened #25367 "FromHandle_BitmapHandleOneTime_Success failed in CI on Linux"
https://mc.dot.net/#/user/tmds/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/cfe7984c51ef3590fed2e50ddfb38619dda9f89d/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Tests.IconTests~2FFromHandle_BitmapHandleOneTime_Success
[code]

[2017-11-20 14:20] MrAntix opened #25369 "Cannot catch exception on SmtpClient.SendMailAsync when no server is listening"
See repo here
https://github.com/MrAntix/cant-catch-exception

I need to be able to catch an exception when the emailing fails for what ever reason

[2017-11-20 14:28] tarurar commented on #25157
Can anything be done to fix the issue locally? Can't build dot net core solutions on mac os.

[2017-11-20 14:31] MrAntix commented on #25369
if I turn off only my own code and debug I see the exception

Exception thrown: 'System.Net.Internals.SocketExceptionFactory.ExtendedSocketException' in System.Private.CoreLib.dll
Exception thrown: 'System.Net.Internals.SocketExceptionFactory.ExtendedSocketException' in System.Private.CoreLib.dll
Exception thrown: 'System.Net.Internals.SocketExceptionFactory.ExtendedSocketException' in System.Priv

[2017-11-20 14:46] jkotas commented on #25188
We may want to mirror the whole `https://github.com/dotnet/coreclr/tree/master/src/mscorlib/shared` with corefx.

[2017-11-20 15:23] stephentoub opened #25371 "PerformanceCounterCategory_CounterExists_InterruptsPerSec test failed in CI"
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/fee59555b693b03698e9f626932d3d224fde9306/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.Diagnostics.Tests.PerformanceCounterCategoryTests~2FPerformanceCounterCategory_CounterExists_InterruptsPerSec
[code]

[2017-11-20 15:26] stephentoub commented on #25029
Failed again here:
https://mc.dot.net/#/user/Drawaes/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/930fc8796f468485d50bfe9b53b0d47b0db433e8/workItem/System.Diagnostics.Tracing.Tests/analysis/xunit/BasicEventSourceTests.TestEventCounter~2FTest_Write_Metric_EventListener
[code]

[2017-11-20 15:31] stephentoub commented on #25367
Failed again here:
https://mc.dot.net/#/user/Drawaes/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/5b36549045ac184a4016873369c91e08288502ef/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Tests.IconTests~2FFromHandle_BitmapHandleOneTime_Success
[code]

[2017-11-20 16:00] stephentoub opened #25372 "Add Decimal.TryFormat span-based method"
Separated out of https://github.com/dotnet/corefx/issues/22403 and https://github.com/dotnet/corefx/issues/22616

Add:
[code]
and use it in `StringBuilder.Append(decimal)`.

[2017-11-20 16:01] stephentoub opened #25373 "Add Double/Single.TryFormat span-based methods"
Separated out of https://github.com/dotnet/corefx/issues/22403 and https://github.com/dotnet/corefx/issues/22616

Add:
[code]
and use it in `StringBuilder.Append(double)`.

[2017-11-20 16:01] stephentoub opened #25374 "Add Single.TryFormat span-based method"
Separated out of https://github.com/dotnet/corefx/issues/22403 and https://github.com/dotnet/corefx/issues/22616

Add:
[code]
and use it in `StringBuilder.Append(float)`.

[2017-11-20 16:02] stephentoub commented on #22403
Separated decimal, double, and single TryFormat methods into their own issues.  Everything else is complete as of #25307.

[2017-11-20 16:04] stephentoub commented on #22616
Mostly addressed in dotnet/coreclr#15069.  Issues opened for the remaining primitives.

[2017-11-20 16:04] #22616 closed

[2017-11-20 16:05] tmds opened #25375 "readdir and multi-threading"
readdir_r has been made obsolete in glibc, and using readdir is recommended instead.
To accomodate, corefx falls back to readdir when readdir_r is not available (https://github.com/dotnet/corefx/pull/10795).

The readdir implementation in glibc is thread-safe in that it allows multiple different DIRs (which may point to the same path) to be enumerated simultaneously.
It does **NOT** allow a single

[2017-11-20 16:06] stephentoub commented on #25369
I get a 404 from GitHub.  Is the repo public?

[2017-11-20 16:08] jkotas commented on #25374
We should track single and double together. It is same piece of code.
Duplicate of https://github.com/dotnet/corefx/issues/25373

[2017-11-20 16:08] #25374 closed

[2017-11-20 16:10] stephentoub commented on #25375
By "simultaneously", do you mean multiple thread in parallel all accessing the same enumerator without locks?  That's definitely not supported.  But it should be valid to do:
[code]
such that the same enumerator is used serially from different threads.  This is actually common with code like:
[code]
such that different threads will all try to use the same enumerator, but they access MoveNext/Curre

[2017-11-20 16:11] stephentoub commented on #25374
Ok. Thanks.

[2017-11-20 16:13] cgountanis opened #25376 "HttpBinding HttpClientCredentialType.Windows IIS10 - Core 2.0"
Trying to connect to SSRS Execution. Works fine on my development machine, soon as I move to IIS I get errors with the same exact remote SSRS server. Any tips tricks, most of the help from Google is the old way of doing it with XML file configurations. What really gets me is that it works from my development machine using IISExpress, why not on a TEST Server using IIS?

AppPool No Managed Code

Th

[2017-11-20 16:18] MrAntix commented on #25369
it is now :) sorry about that

[2017-11-20 16:20] MrAntix commented on #25369
there is not much there in any case, its an xunit test project with one test

    public class try_to_catch
    {
        public const int NO_SERVER_PORT = 26;

        [Fact]
        public async Task when_no_server()
        {
            try
            {
                using (var smtp = new System.Net.Mail.SmtpClient("localhost", NO_SERVER_PORT))
                {
                    var mess

[2017-11-20 16:23] PeterStaev commented on #17126
+1 to add `System.Data.SqlTypes.SqlFileStream`.

Has anyone found a workaround for reading file streams from the database?

[2017-11-20 16:26] MikeDempseyFL commented on #5982
I don't see any events in which the payload is > 1080 bytes.
Since there is 56 bytes of other info  in the payload that means a data buffer of 1024.
I also see "MaxDumpSize = 1024;" in the source code so everything seems to point to the fact that it only logs the first 1024 bytes of the data buffer to the event source.
So unless there is some way to override that it would not help for me to write

[2017-11-20 16:31] tmds commented on #25375
Yes, multiple threads without locking.

The locked approach works fine.

In the readdir case, the native code does a memcpy:

https://github.com/dotnet/corefx/blob/920196986a7bd75826d810c105fab7c7c0cb517d/src/Native/Unix/System.Native/pal_io.c#L400

I don't think this copy is needed. We can use the data from the native buffer held by DIR, instead of copying into the stackalloced buffer.
wdyt?

[2017-11-20 16:32] Petermarcu commented on #25157
Did you try dotnet/cli#6225 (comment)

[2017-11-20 16:33] weshaggard commented on #25268
Sure it would require a new test queue. File an issue for core-eng to set it up.

[2017-11-20 16:36] #22403 closed

[2017-11-20 16:45] stephentoub commented on #25369
Thanks.  I believe this was already fixed with https://github.com/dotnet/corefx/pull/24536.  And I can repro your issue on 2.0 but not on 2.1.

[2017-11-20 16:48] tarurar commented on #25157
@Petermarcu , actually, this comment https://github.com/dotnet/cli/issues/6225#issuecomment-327918801 work fine for me. But it works only until restart. How can I change the env variable "forever??

[2017-11-20 17:00] KrzysztofCwalina commented on #24564
I think a conversion from Span to ROSpan is reasonable.

I don't think we should add a conversion from Memory to Span. It's relatively expensive and we want people to store the span into a local when they get it from Memory<T>. It's especially expensive when Memory points to OwnedMemory.

BTW, this is the main reason I am not super thrilled about all these requests to add APIs to Memory<T>. People

[2017-11-20 17:01] MrAntix commented on #25369
any chance it can be patched in 2.0?

basically crashes dotnet which will make it difficult for anyone writing a reliable service which sends email

[2017-11-20 17:06] karelz commented on #25376
Looks like problem with IIS configuration - if it is specific to ASP.NET Core 2.0, I would recommend to ask them. Or dig deeper into IIS.
Does not seem to be related to BCL in .NET Core 2.0, closing.

[2017-11-20 17:06] #25376 closed

[2017-11-20 17:08] karelz commented on #25376
OK, looking at @Tratcher's comment https://github.com/aspnet/Hosting/issues/1276#issuecomment-345742100 - WCF lives in https://github.com/dotnet/wcf, not in CoreFX.

[2017-11-20 17:10] karelz commented on #25369
Closing as Fixed then. Feel free to reopen if that is not the case for you.

[2017-11-20 17:10] #25369 closed

[2017-11-20 17:15] tarekgh commented on #25313
@danmosemsft I know that. I am trying to understand how old VS conflicting with the dotnet compilation at all. I don't think can compile net core app with old VS at all as the templates are not there.

[2017-11-20 17:19] cgountanis commented on #25376
I still feel this is a hosting issue personally. Works locally, works connecting remote with IISExpress, no worky in IIS 10 with the Core Hosting installed. I will move to that forum I guess :)

[2017-11-20 17:21] cgountanis commented on #25376
Moved to https://github.com/dotnet/wcf/issues/2398

[2017-11-20 17:48] stephentoub commented on #25369
It already was, in https://github.com/dotnet/corefx/pull/24727.  That should be part of whenever the next 2.0 update happens.

[2017-11-20 17:49] danmosemsft commented on #25313
I meant it's what old timers like me sometimes call VS ...

[2017-11-20 18:07] danmosemsft opened #25378 "Manually run CoreFX netstandard tests against Mono"
Get an idea of the pass rate and any complications in doing this.

[2017-11-20 18:09] danmosemsft opened #25379 "Plan for running netstandard test bed against Mono"
We assume that Mono would consume our tests out of their CoreFX submodule. What technical changes are needed on CoreFX side to make the tests run? What work is needed on the Mono side?

[2017-11-20 18:14] danmosemsft commented on #24909
This is now shipped in preview status: https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/

Still remains to finish and include MEF1, and also to ship marked stable.

[2017-11-20 18:16] stephentoub commented on #9228
Failed again here:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netcoreapp+CGroup_Release+AGroup_x64+TestOuter_true_prtest/8/
[code]

[2017-11-20 18:18] danmosemsft commented on #24751
The [API compatibility analyzer](https://blogs.msdn.microsoft.com/dotnet/2017/10/31/introducing-api-analyzer/) is important to this goal and is tracked in https://github.com/dotnet/platform-compat/. Maybe it should have a sub Epic.

[2017-11-20 18:19] Mike-EEE commented on #5766
Apparently this issue has been linked for the compat pack 2.1?  Can someone confirm?  I see that it has been tagged netfx-compat-pack, but not with a version.  I'll take that over anything that has occurred thus far, though. 😄

[2017-11-20 18:21] danmosemsft opened #25380 "Investigate and categorize Linux/Windows performance discrepancies"
Most of our performance benchmarking has been against Windows, except for the key public benchmarks like Techempower and CLBG. Our xunit `[Benchmark]` tests are run on Linux and Windows, and there are some areas where Linux does not match Windows performance on the same hardware. Investigate, categorize and triage.

[2017-11-20 18:24] stephentoub commented on #25375
Can you elaborate?  Why isn't it necessary?  What would you do instead?

[2017-11-20 18:27] weshaggard commented on #24739
A few source-build epics that we need to resource our part for the core repos:

https://github.com/dotnet/source-build/issues/145
https://github.com/dotnet/source-build/issues/251

[2017-11-20 18:31] weshaggard commented on #24739
https://github.com/dotnet/source-build/issues/229

[2017-11-20 18:34] danmosemsft opened #25381 "Update man pages documentation for Linux developers"
The `man` pages installed by .NET Core have outdated content eg relating to project.json and commands that no longer exist.  Clean this up and make it more useful: `man` pages are where Unix users start.

[2017-11-20 18:35] danmosemsft commented on #24761
Comments on this work are welcome here or on individual issues. Collaboration is also welcome: work with @eerhardt

[2017-11-20 18:35] weshaggard commented on #20110
@safern didn't you fix this issue?

[2017-11-20 18:37] weshaggard commented on #23014
cc @safern

Package has been renamed Microsoft.Windows.Compatibility but I think the issue still remains that we need some better validation.

[2017-11-20 18:39] #25301 closed

[2017-11-20 18:39] #25302 closed

[2017-11-20 18:41] weshaggard opened #25382 "Only run Debug corefx official builds and tests runs weekly"
We don't need to do official builds for both release and debug multiple times daily. Our general official builds should be defaulted to Release but we should enable a weekly Debug build for extra test validation.

@danmosemsft any preference on which day of the week so you can pay extra attention to the test results?

[2017-11-20 18:42] stephentoub commented on #25382
Maybe Sunday night?

[2017-11-20 18:43] danmosemsft opened #25383 "Outreach to Nuget package owners with potentially compatible assets"
Reach out to the owners of popular packages that do not declare compatibility with with .NET Standard 2.0 (or at least .NET Core 2.0) although their desktop assets are in fact API compatible. Ask and help the owners to add packaging and test for .NET Standard/.NET Core so that the packages can be consumed more confidently from VS, without a warning.

Also, reach out to the owners of packages that

[2017-11-20 18:44] ahsonkhan commented on #24564
Can you please clarify which API proposals is suggesting we do this?

[2017-11-20 18:47] danmosemsft opened #25384 "Daemon support for .NET Core"
Consider support analogous to what ServiceBase offers for Windows services. Either a library or sample. Need to understand how we could depend on Mono.Posix if we depend on it.

This is not committed for 2.1

[2017-11-20 18:49] danmosemsft commented on #24333
`Regex.CompileToAssembly(..)` is now supported in master, and will ship in 2.1.

Compilation is not a panacea, it has tradeoffs. There is still plenty more room to improve performance for both compiled and uncompiled.

[2017-11-20 18:49] safern commented on #20110
Yes, I fixed it in: https://github.com/dotnet/corefx/pull/23633

[2017-11-20 18:49] #20110 closed

[2017-11-20 18:50] danmosemsft commented on #25384
Comments/feedback welcome.

[2017-11-20 18:52] terrajobst commented on #5766
Hate to disappoint but I think I accidentally marked this as 2.1 when I was bulk updating the issues of the comapt pack. I've moved to Future to reflect the maybe status in the proposal.

[2017-11-20 18:53] zcanann commented on #25344
Perhaps an exception with more information would be useful then (ie expecting x bytes)

IndexOutOfRangeException is a bit vague for first-time users of this library.

[2017-11-20 18:53] danmosemsft opened #25385 "Relationship with Mono.Posix"
We don't want to replicate Mono.Posix, which has had time to stabilize. The [version that supports .NET Core ](https://www.nuget.org/packages/Mono.Posix.NETStandard/) has not been heavily downloaded. Is it sufficient? Or just poorly known? Does it need contributions or extension?

Also, if we want code in CoreFX to depend on it, we need to figure out how to do that technically.

[2017-11-20 18:55] danmosemsft commented on #24750
Linking to this epic does not necessarily imply work will happen in 2.1.

[2017-11-20 18:56] kasper3 commented on #17135
simple ObjectDisposedException?

[2017-11-20 18:59] danmosemsft opened #25386 "Use hardware intrinsics"
Intel and others are adding support for general use of hardware intrinsics (as opposed to code explicitly recognized by code gen which is the approach of Vector).

As these come on line, use them where they help: eg string searching, regex, CRC, ...

[2017-11-20 19:00] danmosemsft opened #25387 "Improve GetFiles performance (Windows)"
@JeremyKuhne has identified possibilities for substantial performance improvement. Some of this is already complete.

[2017-11-20 19:11] tmds commented on #25375
The value returned by readdir is valid till the next call to readdir/closedir. So we don't have to copy it over to keep it in scope.
`entry = result` should be enough.

If someone tries to use this 'multi-threaded' things will go wrong. That is already the case for the current code. Maybe we can add some checks for this, if desired.

[2017-11-20 19:13] weshaggard commented on #20869
We have updated to post 2.0 RTM version of the compiler.

[2017-11-20 19:13] #20869 closed

[2017-11-20 19:13] tarekgh commented on #2089
@PKGeorgiev you should get the same System.DirectoryServices support we have in the full framework.

[2017-11-20 19:16] karelz commented on #24564
@zaytsev-victor thanks for your contribution. I added you as Collaborator. Please ping me when you accept, I will be able to assign you the issue when you do.
Pro-tip: Collaborators are auto-subscribed to all repo notifications. There is plenty of them. We recommend everyone to disable them and receive just 'mention' notifications.

[2017-11-20 19:16] weshaggard commented on #20665
Lets use #15184 to track the run command conversations.

[2017-11-20 19:16] #20665 closed

[2017-11-20 19:17] weshaggard commented on #20827
Addressed with https://github.com/dotnet/corefx/pull/21063

[2017-11-20 19:17] #20827 closed

[2017-11-20 19:18] #25338 closed

[2017-11-20 19:20] karelz commented on #18405
The tooling was released as preview via nuget: https://blogs.msdn.microsoft.com/dotnet/2017/10/31/introducing-api-analyzer/

Source code is here: https://github.com/dotnet/platform-compat

[2017-11-20 19:20] #18405 closed

[2017-11-20 19:22] karelz commented on #20121
We do not plan to do that unless we can't make Networking tests more stable (which is something we're actively work on).

[2017-11-20 19:22] #20121 closed

[2017-11-20 19:32] weshaggard commented on #24776
Duplicate of https://github.com/dotnet/corefx/issues/23220

[2017-11-20 19:32] #24776 closed

[2017-11-20 19:34] weshaggard commented on #24517
@safern could you update this with your work for netfx builds.

[2017-11-20 19:34] weitzhandler commented on #5766
Meanwhile guys, have a look at this interesting library: [Ooui](https://github.com/praeclarum/Ooui)!
@Mike-EEE

[2017-11-20 19:36] safern commented on #24517
Yes I will.

[2017-11-20 19:51] akraines commented on #25355
If that is the case then what is the big gain of passing a struct by ref? Until now, I understood that value types pass by value and passing by ref is an optimization. I therefore suggested the above optimization since it is easy to implement with the new "in" feature as it doesn't effect call sites.
How does the Jitter know if it should be pass a ref of the struct or a copy? Sometimes the called

[2017-11-20 19:53] zaytsev-victor commented on #24564
@karelz I've accept invitation, thanks

[2017-11-20 20:09] jkotas commented on #25355
Value types are logically passed by value. The low-level implementation implementation may be actually passing pointers to them around.

Passing by ref is primarily a semantic change - the function can modify the value passed in. The different performance characteristics are secondary effect.

The JIT follows the standard platform calling conventions. The exact rules differ from platform to platfo

[2017-11-20 20:18] mikedn commented on #25355
Nope because that would be a breaking change. Besides, passing things by ref it's only (potentially) better for large value types. For reference types and small value types passing by ref is basically a de-optimization.

Yes but when they do pass a pointer around they first make a copy of the value being passed as a parameter and pass a pointer to that copy. Passing values by ref avoids that copy.

[2017-11-20 20:33] karelz commented on #2089
The work on DirectoryServices for Windows is finished, closing the issue.
Note:
* Final package publishing is tracked by #24909
* Linux/Mac port is tracked separately by #24843

[2017-11-20 20:33] #2089 closed

[2017-11-20 20:44] danmosemsft commented on #3906
This port is done (eg https://github.com/dotnet/corefx/pull/24579)!

It is currently up on nuget marked preview. It will be marked stable next year, but can be used now (we don't know of issues with it.) It is included in the new [compat pack.](
https://docs.microsoft.com/en-us/dotnet/core/porting/windows-compat-pack) so it's easiest to just reference that to get it.

I'll close this as complete -

[2017-11-20 20:44] #3906 closed

[2017-11-20 21:01] ViktorHofer commented on #25381
Also update MAN pages which was discussed in @eerhardt s talk.

[2017-11-20 21:45] skofman1 opened #25393 "Support for Base32 encoding"
Currently there is no official support in .NET for Base32 encoding, unlike Base64 encoding.
There is also no nuget package with this functionality that's widely used:
https://www.nuget.org/packages?q=base32

Have you considered adding this to .NET? What's the recommendation for developers that need this?

[2017-11-20 21:46] akraines commented on #25355
The pros and cons of the new "in" parameter are much clearer now.
It is still not clear why it would be a breaking change, but that is not relevant anymore.
Thanks

[2017-11-20 21:46] #25355 closed

[2017-11-20 22:06] mikedn commented on #25355
It depends on what you mean by "Dictionary.Contains, TryGetValue etc. can all use "in" parameters as they only read from the input". To me it sounds as if you're suggesting to change the existing methods and that's a breaking change.

An alternative is to add overloads (e.g. `bool ContainsKey(ref TKey key)`). Doable, though it adds more public APIs that people need to understand how and when to us

[2017-11-20 22:24] akraines commented on #25355
AFAIK, changing the **implementation** of Dictionary<T>.Contains(T) to Dictionary<T>.Contains(in T) would still work for the interface Dictionary<T>.Contains(T), and therefore wouldn't be a breaking change. This of course assumes that the other aspects of the dictionary interface also can be assumed not to mutate the key, because abvously changing assumptions is a breaking change.
(Of course, you

[2017-11-20 22:47] j3vans commented on #24843
While the work Microsoft and community have done with asp.net core is amazing, it is disappointing that it is being sold as cross platform and mature at 2.0 yet lacks a robust cross platform ldap library. All the other languages/frameworks we use have this, and ldap servers are still ubiquitous in heterogeneous enterprise networks. This is the one thing preventing us from adopting asp.net core as

[2017-11-20 22:48] brianrob commented on #24852
@huangsam, I'm still not quite sure I understand. Are you trying to process Windows EventLog files on Linux/OSX?

[2017-11-20 22:52] brianrob commented on #24618
@safern, have you had any time to look into the mirroring issues?  Thanks.

[2017-11-20 22:56] danmosemsft commented on #24993
Another variation
[code]
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20171120.02/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.ServiceBaseTests~2FTestOnExecuteCustomCommand

[2017-11-20 22:57] brianrob commented on #24085
@vancem, are there any docs that you can point @mailbala to?  Thanks.

[2017-11-20 23:06] stephentoub commented on #25355
What do you mean by changing the implementation?  Changing from Dictionary.Contains(T) to Dictionary.Contains(in T) changes the API signature and is a breaking change.

[2017-11-20 23:08] safern commented on #24618
Not yet, I'll take a look this week or next week the latest.

[2017-11-20 23:29] danmosemsft opened #25396 "There's no way to get the managed object size in memory"
# Public API to detect the size of the managed object.

As mentioned [in this article](https://blogs.msdn.microsoft.com/cbrumme/2003/04/15/size-of-a-managed-object/), we don't have such API to get the size in the runtime.

So far, if we want to do so, we have a choice to use some tools or techniques (not at the runtime), such as:
- using dotMemory.
- using WinDBG and calculate the object fields on

[2017-11-20 23:30] danmosemsft commented on #25396
https://github.com/dotnet/coreclr/issues/14561

[2017-11-20 23:47] karelz commented on #25393
What are examples where Base32 encoding is used? How common is it compared to Base64?
Which alternative of Base32 is the one most used?

I wonder if the lack of existing NuGet package is sign of lower need for the capability ...
If the encoding is not super-popular, it may be still a better choice to put it into separate NuGet package.

[2017-11-20 23:49] brianrob commented on #24618
Thanks much.  Appreciate it.

[2017-11-21 00:10] Priya91 commented on #23799
Failed here again,

https://mc.dot.net/#/user/Priya91/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/9406156a2d4305c8006d3cbda88e85351bd2c385/workItem/System.Net.Primitives.UnitTests.Tests

in PR #25261

[2017-11-21 00:10] skofman1 commented on #25393
In our scenario (nuget.org) we will use Base32 to encode ApiKeys - tokens that are used for CLI authentication. In general, from what I saw Base32 is useful when you need to create an encoded string that has a single case (unlike Base64 string). I know VSTS uses it as well to encode tokens, but have no definitive information about additional usages.
Regarding which alternative - we are using the b

[2017-11-21 00:22] danmosemsft commented on #25396
There is an internal mechanism `SizedReference` in Desktop and the linked issue is proposing porting this to .NET Core and making it public, which seems like it's what you need assuming you want the transitive size (which is what I assume it returned)

[2017-11-21 00:42] karelz commented on #25393
Yes, separate nuget package created by those who need it is the best option IMO.

In general, we want to grow BCL/CoreFX with APIs, which are widely used and either extend existing classes, or are used by BCL/CoreFX itself.
There is infinite number of additional classes we could add and customers would want, but we consider them out of scope of CoreFX: see examples in #20902.

[2017-11-21 00:52] davidsh commented on #25224
The issue is now resolved and fixes have been made to the Windows Store app submission infrastructure.

Anyone who might be impacted just needs to resubmit their app to the Windows Store without making any changes.

[2017-11-21 00:53] #25224 closed

[2017-11-21 00:59] skofman1 commented on #25393
Sounds good!
Is there a specific nuget package id format you recommend for those kinds of packages? For example: Microsoft.CoreFx.Extensions.* (and a Base32 support package will be named Microsoft.CoreFx.Extensions.Base32?

[2017-11-21 01:03] karelz commented on #25393
@terrajobst @danmosemsft any package name preference?
I think I have seen Microsoft.Extensions.* pattern used by ASP.NET

[2017-11-21 01:16] #7527 closed

[2017-11-21 02:16] juepiezhongren commented on #5766
@Mike-EEE it seems that xamarin.wasm is to arrive.

[2017-11-21 02:20] stephentoub opened #25400 ""Category does not exist." errors in PerformanceCounter tests"
https://mc.dot.net/#/user/Drawaes/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ab1336f6c46534d55ac9b1fce42111c05ca65f94/workItem/System.Diagnostics.PerformanceCounter.Tests/wilogs
[code]

[2017-11-21 02:38] wsnell commented on #9503
Desperately need

[2017-11-21 02:46] #25291 closed

[2017-11-21 03:21] #25230 closed

[2017-11-21 04:27] danmosemsft commented on #25400
@adiaaida thoughts? I can't tell what OS this was - that info is lost.

[2017-11-21 04:34] danmosemsft commented on #25400
This smells like the code is not safe against categories getting added or deleted concurrent with counters being read. Let's disable parallelizatoin.

[2017-11-21 05:21] danmosemsft commented on #25393
@terrajobst should answer that.

I guess as @karelz says base32 is much less used: our base64 encoding/decoding is heavily optimized as it is used by networking, crypto, and XML. If we needed it for any such things, we would very likely expose the function publicly, but apparnetly we do not.

[2017-11-21 05:29] danmosemsft commented on #25381
The man pages referred to are those you get with the CLI, which are quite different. That's what I had actually meant, but I'll create a new issue.

[2017-11-21 05:31] danmosemsft commented on #25381
@ViktorHofer thanks, that's what this should have been. fixed.

[2017-11-21 06:02] #25400 closed

[2017-11-21 06:11] #24442 closed

[2017-11-21 06:24] danmosemsft opened #25403 "PerformanceCounterLib is not fully thread safe"
PerformanceCounterLib instances are stored in a static table such that there's a single instance for a machine/LCID combination. As such there is an expectation that operations are thread safe (since to the caller they appear to be static operations)

The code attempts to achieve this but it appears to have holes, eg _customCategoryTable, a HashTable, is modified [here ](https://github.com/dotnet/

[2017-11-21 06:42] zcanann opened #25404 "Invalid System.Numerics.Vector Elements in Property Preview"
![ones](https://user-images.githubusercontent.com/5906208/33058114-df92c7a8-ce42-11e7-9f3e-56cfa4f7ffbe.jpg)

Mousing over an Int32 vector always shows the last 4 elements as 0, even though Vector<Int32>.Count is 8. The same logic holds for other data types (ie the last 16 bytes are zero'd out).

In the example above, even the static Vector<Int32>.Ones contains elements with the value 0. However,

[2017-11-21 06:55] dotnet-mc-bot opened #25405 "Test failure: System.Linq.Expressions.Tests.LambdaTests/AboveByteMaxArityArg(useInterpreter: True)"
Opened on behalf of @Sunny-pu

The test `System.Linq.Expressions.Tests.LambdaTests/AboveByteMaxArityArg(useInterpreter: True)` has failed.

System.PlatformNotSupportedException : Operation is not supported on this platform.

        Stack Trace:

           at System.Linq.Expressions.Compiler.DelegateHelpers.MakeNewDelegate(Type[] types) in E:\A\_work\903\s\corefx\src\System.Linq.Expressions\src\S

[2017-11-21 07:05] huangsam commented on #24852
@brianrob correct. I'm trying to process those log files on Linux/OSX using `Eventing`

[2017-11-21 07:08] huangsam commented on #24852
There's this alternative I found in the meantime: https://pypi.python.org/pypi/libevtx-python/20170122 which satisfies most, if not all of the requirements. It just doesn't process large evtx files as quickly as the code shown above

[2017-11-21 07:16] Sunny-pu commented on #24712
repro again in 2.0.0 branch:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171121.02/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FUseCallback_CallbackThrowsException_ExceptionPropagates

[2017-11-21 07:20] Sunny-pu commented on #17537
failed again:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171121.02/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SchSendAuxRecordHttpTest~2FHttpClient_ClientUsesAuxRecord_Ok

[2017-11-21 08:03] Mike-EEE commented on #5766
Thanks for the update gents.  Appreciate you thinking of me. :)  @terrajobst that is indeed disappointing, but I appreciate you taking the time to check in and update.  I wasn't sure if you were still subscribed to this thread anymore or not. 👼

Since we're taking time to shamelessly plug projects (and that it will be some time before we get our official Xaml fix), I will take a second to mention

[2017-11-21 08:54] zaytsev-victor commented on #24840
I want to take it.

[2017-11-21 09:06] Cronan commented on #25268
11 tests failed in total, I’ll rerun again after the fix has been merged and raise an issue with all the details here ...

[2017-11-21 09:21] mikedn commented on #25355
Yes, it looks like there is some confusion about what `in` really is. It looks like such a change would be source level compatible due to `in` not being required at the callsite and local temporaries being generated when literals are used as arguments (e.g. `ContainsKey(42)` would work).

But of course, in IL/metadata `in` is byref, like `ref` and `out`. So this breaks binary compatibility and pos

[2017-11-21 09:56] JonHanna commented on #7527
It might be worth making this netfx-port-consider, since there are several stackoverflow questions about it with netfx, suggesting it affects a fair number of people.

[2017-11-21 10:20] jskeet opened #25408 "Could DecompressionHandler be made public?"
I'm in a situation where I'm reading an HTTP response with a Content-Encoding of gzip. I need the output of an `HttpClient` to be the decompressed data, but I need to intercept the compressed data in order to hash it.

I can do this by creating an `HttpMessageHandler` in three layers:

- `HttpClientHandler` with decompression disabled
- A custom handler which creates a content stream to intercept

[2017-11-21 11:56] dougajmcdonald commented on #18649
@qmfrederik I've tried CoreCompat.System.Drawing and it unfortunately still errors for me with if I try to use the core compat `ImageFormat` as a param for other methods:

![image](https://user-images.githubusercontent.com/1190042/33071305-ed565902-ceb2-11e7-8560-1525391739f3.png)

[2017-11-21 12:09] qmfrederik commented on #18649
@dougajmcdonald Can you try the latest version of System.Drawing.Common instead?

[2017-11-21 12:15] dougajmcdonald commented on #18649
Certainly I gave that a whirl but still seem to a similar error. Is this likely to a problem with the library I'm providing the parameter to?

![image](https://user-images.githubusercontent.com/1190042/33071985-90ff2f00-ceb5-11e7-8058-fbbbc74275cb.png)

[2017-11-21 13:20] Cronan opened #25409 "Test failure: System.Data.Tests.AppDomainsAndFormatInfo.Bug55978"
The test `System.Data.Tests.AppDomainsAndFormatInfo.Bug55978` has failed.

[code]

- Config:  netcoreapp-Windows_NT-Debug-x64
- OS: Microsoft Windows [Version 6.1.7601]

[2017-11-21 13:22] Cronan commented on #25409
Seems to pass if I change the RowFilter string from:
StartDate >= '{0}' and StartDate <= '{1}'
to
StartDate >= #{0}# and StartDate <= #{1}#

[2017-11-21 13:25] Cronan commented on #25409
Perhaps related to the locale issue in #25268 ?

[2017-11-21 13:28] akraines commented on #25355
That is exactly what I missed. Thanks for clarifying.

[2017-11-21 14:10] eerhardt commented on #25381
I see this issue's Milestone set to `Future`, but it is in a 2.1 "Epic".  That seems contradictory to me.

[2017-11-21 14:14] eerhardt commented on #25381
See also https://github.com/dotnet/docs/issues/2791

[2017-11-21 14:26] stephentoub commented on #25404
Thanks. Dup of https://github.com/dotnet/coreclr/issues/10148.

[2017-11-21 14:26] #25404 closed

[2017-11-21 14:44] danmosemsft commented on #18649
@safern facade but working for @dougajmcdonald here...?

[2017-11-21 15:03] cgountanis commented on #25376
https://stackoverflow.com/questions/47416234/core-2-mvc-wcf-to-ssrs-execution-project-needs-administrator-iis-apppool-to-wo

[2017-11-21 15:46] Mazeror commented on #23518
Hello!
We are also interested in any progress or workaround.
Goal is the same: .net core + HTTP2 + APNs
We can confirm the reproduction.

[2017-11-21 16:01] FransBouma commented on #20903
PR is up :) #25410. I've tried to word the decisions made here as accurate as possible, please correct me if I made a mistake there. I also tried to rebase stuff but as I'm a git newbie I didn't get very far so I hope the PR is alright as it is. All tests pass. Almost there!

[2017-11-21 16:37] karelz commented on #7527
@JonHanna did you see more than the 2 StackOverflow links above? If there are any highly upvoted, that would be worth linking from here. It will be useful at the point we do the port to assess need vs. risk. Thanks!

[2017-11-21 16:52] JonHanna commented on #7527
There was also https://stackoverflow.com/q/19612325/400547 that gave me the idea of testing it in cases where it should throw RBE.

https://stackoverflow.com/q/16064085/400547 seemed to be a variant too, but it turns out to be something else, so that's my homework for this week 😉

[2017-11-21 16:55] JonHanna commented on #7527
(Actually no, that last one was just the querent doing something wrong, so that's off the list).

[2017-11-21 16:57] karelz commented on #7527
Which last one? Can you please edit your reply to keep just the relevant links? Thanks!

[2017-11-21 16:59] JonHanna commented on #7527
NP

[2017-11-21 17:18] TonyValenti commented on #22781
+1 for @shaulbehr 's solution.  Been bashing my head against this for days!

[2017-11-21 17:30] karelz commented on #22412
@ahsonkhan @KrzysztofCwalina what is the main API issue tracking the proposal now?

[2017-11-21 17:32] karelz commented on #22412
FYI: The API review discussion was recorded - see https://youtu.be/bHwCPVNQLwo?t=99 (4 min duration)

[2017-11-21 17:36] karelz commented on #23862
FYI: The API review discussion was recorded - see https://youtu.be/bHwCPVNQLwo?t=333 (37 min duration)

[2017-11-21 17:38] tarekgh commented on #25313
@viking84 I am closing the issue. If you still experience the problem, please respond back with more info and we'll be happy to help and re-activate the issue. Thanks.

[2017-11-21 17:38] #25313 closed

[2017-11-21 17:40] karelz commented on #24103
FYI: The API review discussion was recorded - see https://youtu.be/bHwCPVNQLwo?t=2568 (33 min duration)

[2017-11-21 17:46] karelz commented on #23879
We should review the final form proposed by @jkotas (ideally today).

[2017-11-21 17:54] karelz commented on #24296
FYI: The API review discussion was recorded - see https://youtu.be/bHwCPVNQLwo?t=4584 (23 min duration)

[2017-11-21 17:56] bgrainger commented on #7810
This is something I've been interested in having for a while, too (as the author of [MySqlConnector](https://github.com/mysql-net/MySqlConnector)). I got tired of manually writing test cases to check compatibility across different drivers, so I created an automated test harness. 🙂

A WIP rough draft is here: https://github.com/mysql-net/AdoNetApiTest

I bootstrapped the prototype with @bricelam's

[2017-11-21 18:24] karelz commented on #23879
API review: Let's separate @jkotas's rename change into separate issue.

[2017-11-21 18:30] karelz opened #25412 "Move (ReadOnly)Span.DangerousGetPinnableReference to MemoryMarshal"
Separated from https://github.com/dotnet/corefx/issues/23879#issuecomment-341482899

We should also rename it as part of the move. Pinnable does not make sense if it is not going to be used for pinning. And Dangerous can be omitted too because of methods under `System.Runtime.InteropServices` are dangerous by convention.

So what about:

[code]

[2017-11-21 18:33] terrajobst commented on #25412
Looks good as proposed. We should also remove the corresponding GetDangerousXxxx() instance methods.

@jkotas why are they marked as in? Does it make a difference?

[2017-11-21 18:35] terrajobst commented on #24694
As long as we're working with the code coverage tool providers to make it's honored, I sounds good (and it seems we are).

[2017-11-21 18:49] jkotas commented on #25412
Not sure. We should measure.

`in` mimics what happens to the instance method method today - the struct instance methods take reference to the structs, not copies.

[2017-11-21 18:59] terrajobst commented on #25337
We seem to gravitate to (2) because it doesn't require an implicit conversion, but also doesn't prevent us fro adding it in the future.

[2017-11-21 18:59] stephentoub opened #25413 "Add implicit cast from string to ReadOnlySpan<char>"
Proposal:
[code]

[2017-11-21 19:00] stephentoub commented on #25413
cc: @ahsonkhan, @KrzysztofCwalina, @jkotas

[2017-11-21 19:01] karelz commented on #25413
cc @GrabYourPitchforks

[2017-11-21 19:02] karelz commented on #25413
BTW: This was OK'd in the API review, waiting just for experts to raise potential concerns or agree ... it is considered conditionally approved.

[2017-11-21 19:07] huanwu commented on #24914
@Sojaner This is the expected behavior. Just like what you observed, our serialization read method use the split method without RemoveEmptyEntries, so it will output the list with the empty value.

[2017-11-21 19:17] jkotas commented on #25413
I would love to see C# compiler to construct ReadOnlySpan for constant strings directly when there is ReadOnlySpan<char> receiver. It would save us from having to allocate string objects on GC heap for things like format strings when the Format method takes Span. I assume that this implicit conversion is not going us to prevent from doing that. cc @VSadov @jaredpar

Otherwise looks good to me.

Th

[2017-11-21 19:18] stephentoub commented on #25413
Yup

[2017-11-21 19:18] stephentoub commented on #25413
+1

[2017-11-21 19:34] joperezr commented on #24663
@stephentoub Do we want to close this issue though? or do we want to keep it open to track the fact that we are using an older System.Native.so?

[2017-11-21 19:36] JonHanna commented on #24694
It may be niche to want to exclude a whole assembly, but I've been in that niche!

[2017-11-21 19:36] joperezr commented on #24652
@rianjs do you mind writing up a formal api proposal along with the usecases where you think this might be useful?

[2017-11-21 19:42] terrajobst commented on #25189
For data types like `Stack<T>` and `Queue<T>` the proposed name `ItemRef` wouldn't work. Thus, this would be more like a pattern where the name depends on the concept you add a `ref`-returning method for:

* Indexers -> `ItemRef()`
* `Peek()` -> `PeekRef()`

[2017-11-21 19:49] jcagme opened #25415 "Alpine3.6-x64: Segmentation fault on publish attempt"
@dotnet-mc-bot commented on [Tue Nov 21 2017](https://github.com/dotnet/core-eng/issues/2149)

Opened on behalf of @jcagme

Warnings: 0
Status Message: failed

Build : Master - 20171121.04 (Product Build)
Failing configurations:
- Alpine3.6
  - Debug-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/build~2Fproduct~2F/build/20171

[2017-11-21 19:50] jcagme commented on #25415
The "Push packages to Azure" build task failed with:

2017-11-21T13:18:36.6822950Z [command]/usr/bin/docker run --rm --name corefx-1161715 -v /home/DDITAdministrator/myagent/_work/427/s/corefx:/root/corefx-1161715 -w=/root/corefx-1161715 -e PACKAGEVERSIONPROPSURL= microsoft/dotnet-buildtools-prereqs:alpine-3.6-3148f11-20171119021156 /root/corefx-1161715/publish-packages.sh -AzureAccount=dotnetbuil

[2017-11-21 19:57] stephentoub commented on #24663
I don't think such an issue would be a corefx issue.  I'm fine closing it out.

[2017-11-21 19:57] #24663 closed

[2017-11-21 20:03] roji commented on #7810
@bgrainger that looks like a wonderful start - I'm excited to see this.

Although I expect to be too busy until end of December, I definitely look forward to contributing to this and evolving it. In the meantime, please take a look at the Npgsql tests - a lot of them are exactly the kind of generic, functional tests that would fit perfectly into this.

One more comment - while it's really useful f

[2017-11-21 20:15] karelz commented on #25415
@jcagme is there dump available or at least call stack?

[2017-11-21 20:30] jcagme commented on #25415
We've been seeing this kind of build errors in Alpine builds lately so we need to understand what is going on with this distro.

@DrewScoggins, @karajas could you please help getting the dumps or at least pointing out what's the process to get it please?

[2017-11-21 20:48] dasMulli commented on #24909
It would be great to know which libraries are supposed to work on which version/edition of windows.

For example, even though `System.DirectoryServices` is marked "windows only", it does not work on nano server (at least the docker image for nano server - fails with an System.DllNotFoundException for activeds.dll).
This raises questions like "does drawing work on nano server?" which I find myself

[2017-11-21 20:54] darrelmiller commented on #24652
@rianjs Is the missing bindByPosition the only thing stopping you from using [Tavis.UriTemplates](https://github.com/tavis-software/Tavis.UriTemplates) ?  Might be enough incentive to get me to do the .net Standard 2.0 port and add strong naming while I'm at it :-)

@joperezr I show a bunch of common cases for why you want to use a library to do URL construction here http://www.bizcoder.com/constr

[2017-11-21 21:27] JonHanna opened #25419 "Invalid assertion on Microsoft.CSharp's InvokeMember having a non-null context"
Calling `Binder.InvokeMember` with a null context works fine in release (as long as the member invoked is fully public, as the null context has no visibility on anything), but in debug it hits an assertion that it can't be null.

[2017-11-21 21:33] brianrob commented on #24852
@huangsam, thanks for the information.  I don't expect that we will port Windows EventLog functionality to Linux and OSX as it is Windows-specific functionality.  Thus, I am going to close this issue.

[2017-11-21 21:33] #24852 closed

[2017-11-21 21:46] abatishchev commented on #24694
We are, indeed.

[2017-11-21 21:47] abatishchev commented on #24694
@joperezr you marked this as `up-to-grabs`. I can submit a pr, sees easy. But what else I should touch/update? Tests, spec?

[2017-11-21 21:52] danmosemsft commented on #24445
Updated to review format.

[2017-11-21 21:52] joperezr commented on #24404
Closing for now as it looks like it hasn't reproed in a while. Feel free to re open in case it does again.

[2017-11-21 21:56] JonHanna commented on #24694
@abatishchev I've already submitted #25414 for this, though I'm going to add in removing the `ExcludeFromCodeCoverageAssemblyAttribute` it makes obsolete too. It's just taking a bit of time to test since I need to a full build.

[2017-11-21 21:59] abatishchev commented on #24694
Awesome, thanks! Unfortunate GitHub doesn't send email notifications when metadata (like tags) or links are getting updated, I think that's how I missed this.

[2017-11-21 22:03] #24404 closed

[2017-11-21 22:04] danmosemsft commented on #24627
@benaadams after your various CoreCLR changes including the nice  https://github.com/dotnet/coreclr/pull/14655 what if anything remains to improve the original example stack in this issue?

[2017-11-21 22:04] danmosemsft commented on #23125
@davkean ping on this one, should we leave it open?

[2017-11-21 22:04] bgrainger commented on #7810
Thanks; that's a great suggestion (and I hadn't thought that far ahead yet...). Created mysql-net/AdoNetApiTest#3 to discuss it (without hijacking this issue).

[2017-11-21 22:06] danmosemsft commented on #22771
@davkean what would be awesome is if you could profile against .NET Core to see whether there is more to do there. That would help inner loop on Linux, plus validate we are ready to port to desktop.

[2017-11-21 22:14] joperezr commented on #24653
Closing this issue as this problem is now being tracked in a different repo: https://github.com/dotnet/standard/issues/567

Just as a small FYI, this problem has been addressed in 4.7.2 and a fix for it will be serviced to 4.7.1 machines.

[2017-11-21 22:14] #24653 closed

[2017-11-21 22:15] joperezr commented on #24680
@sandorfr are you interested on writing up a formal api proposal so that we can take a look at it?

[2017-11-21 22:16] joperezr commented on #24902
cc @ViktorHofer can you take a look?

[2017-11-21 22:17] joperezr commented on #24915
@marek-safar are you interested in providing a formal api proposal so that we take a look at it?

[2017-11-21 22:17] sandorfr commented on #24680
Ok I’ll give a try at it :)
On Wed 22 Nov 2017 at 09:16, Jose Perez Rodriguez <notifications@github.com>
wrote:

[2017-11-21 22:17] JonHanna commented on #24694
Well, maybe you can see what I'm getting wrong as per my comment here https://github.com/dotnet/corefx/pull/25414#issuecomment-346179312 😢

[2017-11-21 22:18] joperezr commented on #25089
cc: @tarekgh

[2017-11-21 22:20] ViktorHofer commented on #24902
will take a look this week.

[2017-11-21 22:21] joperezr commented on #25089
Personally, I don't think this Api will give that much value given that the workaround is writing three lines as opposed to 1, but I would like to see what @tarekgh thinks.

[2017-11-21 22:24] joperezr commented on #25110
cc: @tarekgh

[2017-11-21 22:26] joperezr commented on #25222
cc: @tarekgh

[2017-11-21 22:36] tarekgh commented on #25110
Personally, I don't think bloat DateTime/DateTimeOffset with TZ functionality is a good idea. I would prefer we introduce a new type (something like ZonedDateTime) which can encapsulate the needed functionality and target this functionality.

@mj1856 what you think to create a new proposal for ZonedDateTime?

[2017-11-21 22:39] tarekgh commented on #25089
@mj1856 I have suggested in the issue https://github.com/dotnet/corefx/issues/25110 to have a new type ZonedDateTime . What you think instead of proposing all these APIs to just include them in ZonedDateTime? I mean we'll have ZonedDateTime.Now?

[2017-11-21 22:55] tarekgh commented on #25222
From my experience, I am seeing the majority of people using DateTime for formatting dates. DateTimeOffset not used much in such scenarios. so adding these to DateTimeOffset would be ok but I am not expecting many people is going to use it.

Adding Invariant APIs (e,g, ToShortDateInvariantString) is just equivalent to DateTime.ToString(CultureInfo.InvariantCulture, "d"). I don't think this is hard

[2017-11-21 22:56] benaadams commented on #24627
@danmosemsft I'd like to go further; but that should be enough to resolve the issue

[2017-11-21 22:58] tarekgh commented on #25089
@mj1856 if you want to discuss all proposals offline, that would be more effective. we can set up some time with @joperezr and go through these.

[2017-11-21 22:58] karelz commented on #25412
FYI: The API review discussion was recorded - see https://youtu.be/o5JFZtgaJLs?t=76 (17 min duration)

[2017-11-21 22:59] karelz commented on #24694
FYI: The API review discussion was recorded - see https://youtu.be/o5JFZtgaJLs?t=1084 (1 min duration)

[2017-11-21 22:59] karelz commented on #25094
FYI: The API review discussion was recorded - see https://youtu.be/o5JFZtgaJLs?t=1169 (1 min duration)

[2017-11-21 23:00] karelz commented on #10981
FYI: The API review discussion was recorded - see https://youtu.be/o5JFZtgaJLs?t=1249 (6 min duration)

[2017-11-21 23:00] karelz commented on #25337
FYI: The API review discussion was recorded - see https://youtu.be/o5JFZtgaJLs?t=1593 (18 min duration)

[2017-11-21 23:00] karelz commented on #25189
FYI: The API review discussion was recorded - see https://youtu.be/o5JFZtgaJLs?t=2879 (43 min duration)

[2017-11-21 23:07] geoffkizer commented on #23362
Maybe I'm missing something here, but it looks like you're using an IP address in your URL:

`            client.BaseAddress = new Uri("https://" + hostEntry.AddressList[0].ToString());`

We can't send SNI info if you use an IP address.  Use the DNS name instead.

[2017-11-21 23:18] Priya91 commented on #17427
The client Sslstream on Linux also sends sni headers.

[2017-11-21 23:22] #11857 closed

[2017-11-21 23:29] joperezr commented on #25393
Closing per discussion above.

[2017-11-21 23:29] #25393 closed

[2017-11-21 23:31] joperezr commented on #25396
@alden-menzalgy would you be interested in writing up a form api proposal for this?

[2017-11-22 00:00] danmosemsft commented on #24902
BTW I notice the HashHelpers in CoreFX precomputes up to 2B (highest to fit in int) whereas the one in Corelib precomputes only up to 7M (and then generates primes). This means Dictionary (which uses the Corelib one) is generating a new prime after 7M entries. I suggest replacing the CoreCLR one with the CoreFX one.

Has for ObjectIDGenerator (for BinarySerializer) ideally it would use Hashhelpers

[2017-11-22 00:02] danmosemsft commented on #25405
@JonHanna I see you added theses, would you mind disabling these tests for UAP (or else modifying) ? MakeDelegate is not supported in the native runtime.

[2017-11-22 00:03] danmosemsft commented on #25415
We should have a dump this time.

[2017-11-22 00:04] danmosemsft commented on #25409
@Cronan if you temporarily change your culture to en-US does it pass? Might be enough to just set the thread culture at the start of the test.

[2017-11-22 00:05] rmkerr commented on #25289
This issue turned out to be a lot more complicated than I had hoped, but I believe that I've found a workable fix. I'm in the process of validating the change and making sure that the code is clean before I submit for review.

[2017-11-22 00:52] danmosemsft commented on #24902
@Alois-xx I enjoyed your blog post! Thanks for pointing out these issues.

[2017-11-22 01:05] karelz commented on #14152
@tmds @joperezr @ianhays what is left to make the API ready for review? There was ask for sample code - @tmds is it something you could put together?

[2017-11-22 01:08] karelz commented on #14382
@joperezr @ianhays what is here left to do? Opinions seem to differ in the discussion ...

[2017-11-22 01:13] karelz commented on #24251
@mairaw @nokura any update?

[2017-11-22 01:58] #25419 closed

[2017-11-22 02:38] ahsonkhan opened #25425 "Try to reduce overhead of abstraction in Utf-8 integer formatter APIs"
Currently, the overhead to calling the Utf-8 integer formatter APIs is high for the simple/default case.

Let's say we just want to write the integer starting from the end of the buffer, and we provide a StandardFormat 'R' to support that.

The function calls look like this:
TryFormat(int value, ..., 'R') => TryFormatInt64(value, 0xffffffff, buffer, out bytesWritten, format) => if check + switch s

[2017-11-22 02:45] #10981 closed

[2017-11-22 02:52] terrajobst commented on #5188
[We already include the actual key](https://github.com/dotnet/corefx/pull/185) (by [calling key.ToString()](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableDictionary_2.HashBucket.cs#L157-L166)) when we encounter duplicates. We should do the same when the indexer throws `KeyNotFoundExceptions`. Otherwise [it looks dumb](https:

[2017-11-22 03:02] jkotas commented on #25425
What is StandardFormat 'R' ? I do not see it anywhere in https://github.com/dotnet/corefx/blob/d9924a578be5dab9237eaa2d324ecd66488eab96/src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Integer.Signed.cs#L18

Well, as long as you have the StandardFormat or any kind of format thing anywhere on the path to do plain vanilla integer formatting, it will be always significantly slowe

[2017-11-22 03:22] stephentoub opened #25427 "Add PipeOptions.CurrentUserOnly option"
Systems that use named pipes often want to try to lock down access, validating that only the user that created the server is able to connect to it, and similarly validating that the client is connecting to a server it expects.

On Windows this can be done with a complicated dance involving ACLs.  On Unix where our PipeStream is built on top of domain sockets, it can be done with a complicated danc

[2017-11-22 03:37] xavier-rigau commented on #9743
@weshaggard is this fixed for good? Did you ship @ianhays fix?

[2017-11-22 03:41] xavier-rigau commented on #13914
Why is this bug still closed if is still happening?

[2017-11-22 03:46] danmosemsft commented on #25427
In the persistent process reuse scenario it is also necessary to verify that the other end has the same elevation level (on Windows..presumably sudoness on Unix). Should this mechanism also help with that?

[2017-11-22 03:50] stephentoub commented on #25427
Yes, whatever mechanism we settle on, it should cover both.

[2017-11-22 05:00] JeremyKuhne opened #25428 "Remove trimming and validation for file find filter strings"
The complexity here has to do with limited trust scenarios. We shouldn't trim or care about "..".

#25426 handles this for Windows. Working on Unix.

[2017-11-22 06:13] VSadov commented on #25413
No, that is not a problem. At the end it is a special method taking a literal as an argument. We can detect that and emit something else.

Not sure how to get to the data having a string token. I assume there are ways...

[2017-11-22 06:17] jkotas commented on #25413
There would not be string token involved. It would be constant data in the data section.

[2017-11-22 06:20] weshaggard commented on #9743
Yes I expect the latest version of the package should just work. If you aren't seeing that place open another issue with the details of what you are using and seeing.

[2017-11-22 06:27] VSadov commented on #25413
Ideally there would be a helper that takes a string token or something like that - to avoid directly dealing with pointers, which us formally unsafe.
Will need to figure out how to do this.

[2017-11-22 06:29] VSadov commented on #25413
We can also do what we do for array literals.
That could lead to storing same string twice - as a string and as a blob. Not a big problem IMO.

[2017-11-22 06:40] jkotas commented on #25413
You are dealing with pointers for stackalloc, ... .

If you need to something safe, it means that we either need new IL instruction (non-starter) or the JIT needs to pattern match it: You would emit the regular ldstd + conversion to ReadOnlySpan, the JIT would pattern match it and skipped allocating the intermediate string literal. Basically, the helper that you are looking for is the API proposed

[2017-11-22 06:48] dotnet-mc-bot opened #25429 "Test failure: System.Net.Sockets.Tests.ConnectApm/Connect_Success(listenAt: 127.0.0.1)"
Opened on behalf of @Sunny-pu

The test `System.Net.Sockets.Tests.ConnectApm/Connect_Success(listenAt: 127.0.0.1)` has failed.

System.TimeoutException : WhenAllOrAnyFailed timed out after 10000

        Stack Trace:

           at System.Threading.Tasks.TaskTimeoutExtensions.<WhenAllOrAnyFailed>d__2.MoveNext()
    --- End of stack trace from previous location where exception was thrown ---

[2017-11-22 06:55] Sunny-pu commented on #22904
failed again in master branch, detail:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20171122.01/workItem/System.Net.WebSockets.Client.Tests/analysis/xunit/System.Net.WebSockets.Client.Tests.CancelTest~2FCloseAsync_Cancel_Success(server:%20ws:~2F~2Fcorefx-net.cloudapp.net~2FWebSocket~2FEchoWebSocket.ashx)

[2017-11-22 07:10] VSadov commented on #25413
We may also need a similar solution for the  `new ReadOnlySpan<int>{1,2,3,4}`, or whatever syntax will be for that, and possibly for the indexable fixed size buffers too. - No need to design it right here. Just saying that it should be possible. As a last resort there are pointers...

[2017-11-22 07:20] Cronan commented on #25409
I’ll try that this morning

[2017-11-22 07:38] aka-STInG commented on #24802
Hi, any ETA when System.Net.WebSockets.Client v4.3.2 will be available on nuget.org?

[2017-11-22 07:57] Sunny-pu commented on #23121
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/lastCompletedBuild/testReport/System.Net.Sockets.Tests/DualModeConnectionlessReceiveMessageFrom/ReceiveMessageFromV4BoundToSpecificMappedV4_Success/

[2017-11-22 08:14] Sojaner commented on #24914
As a user, it was a strange behavior to me. Wouldn't it be more logical to `Trim` the string inside an attribute before the `Split`, if there is a solid reason for not using the `RemoveEmptyEntries` flag with the `Split` method @huanwu?

[2017-11-22 09:30] Mazeror commented on #23518
I prepared short example. Create new net core console project and copy-paste this code into Program.cs:
[code]

The same request using cURL for Windows:
[code]

[2017-11-22 10:13] ahsonkhan commented on #25425
That is a format I was considering adding support for (to indicate write at the end of the buffer, instead of at the start). It isn't there yet. I was using it as an example.

It is slower for any integer, small or large, but I see your point.

[2017-11-22 10:26] marek-safar commented on #24915
I could do that, do we have any template for it?

[2017-11-22 11:25] davidfowl opened #25432 "SslApplicationProtocols.ToString() shouldn't allocate for known protocols"
For http/1.1 and h2 it shouldn't allocate a new string https://github.com/dotnet/corefx/blob/1d95739cf905df31685fed2451aedeec95880ade/src/System.Net.Security/src/System/Net/Security/SslApplicationProtocol.cs#L97. Those 2 should be hardcoded to return constants.

/cc @Priya91 @stephentoub @karelz

[2017-11-22 11:30] imcarolwang commented on #25298
Test result shows that different `style `and `use `properties of `XmlSerializerFormatAttribute ` couldn't be mixed used in different operations in same service contract.

For example, if one service operation has this attribute specified:
`[OperationContract, XmlSerializerFormat(Style = OperationFormatStyle.Rpc, Use = OperationFormatUse.Literal)]`

Then for any other operation in the service, expl

[2017-11-22 12:41] jkotas commented on #25425
I do not think we should be adding hard-to-use micro-optimized APIs like this. The extra cycles saved by this hack are not that much.

Right. It hurts the most for small integers. It gets amortized to some degree for large integers.

[2017-11-22 12:52] jkotas commented on #25425
BTW: The current implementation will be also significantly slower compared to hand-rolled implementation for 32-bit integers on 32-bit platforms because of it really formats 64-bit number underneath. The 64-bit math is multiple times slower compared to 32-bit math on 32-bit platforms.

[2017-11-22 13:57] stephentoub commented on #25432
Makes sense. @davidfowl, want to submit a PR?

[2017-11-22 14:00] drunkcod opened #25434 "SqlBulkCopy.WriteToServer fails with null reference exception when using a named column mapping and IDataReader not implemented via DbDataReader"
How to reproduce:
1) implment IDataReader *without inherting from DbDataReader*
2) Create a SqlBulkCopy object having a column mapping where from and to are column names.
3) WriteToServer will fail due to a null reference exception.

[code]

Known workaround: Create the column mapping by ordinal (change bulkCopy.ColumnMappings.Add(n, n); to 2.Add(i, n)".

[Likely culprit as far as I can discern is

[2017-11-22 15:06] alden-menzalgy commented on #25396
@joperezr sure, I'll work on that in the next few days.

[2017-11-22 15:20] alden-menzalgy commented on #25396
@joperezr yup, I'm interested.
Is there any procedure should be done before starting with the proposal ?

[2017-11-22 15:22] alden-menzalgy commented on #25396
@danmosemsft you're right, that's exactly what I'm talking about.

[2017-11-22 16:21] jchannon commented on #24843
In terms of LDAP we are using this successfully on Linux. (https://github.com/VQComms/CsharpLDAP/tree/coreclrPort) This is used for searching and authenticating LDAP users. It's not on nuget but on an internal nuget repo but if people want to help out on the project we could look to move it to Nuget for public consumption.  We have been using this for over a year.

[2017-11-22 16:34] carlowahlstedt commented on #24843
@karelz sounds like what @jchannon has is a solid beginning to solve this issue. Is there an outline of what it would take to get this going? You mentioned deciding on an x-plat library, could the decision be to use this port? If not, what’s missing from there to make it “official” enough to use?

[2017-11-22 16:45] KrzysztofCwalina commented on #25425
There are protocols that use length prefix formats. Formatting backwards in front of a buffer is super useful in such situations. Why do you call it a hack? It's a bit more tricky to use it, but not that diffuclt:

Span<byte> buffer = ...
int written = WritePayload(buffer.Slice(20));
Utf8Formatter.TryFormat(buffer.Slice(0, 20), written, 'R');

[2017-11-22 16:51] karelz commented on #24843
@carlowahlstedt taking in existing project means we have to involve lawyers, check license, etc.

The decision about x-plat library needs someone to recommend a solution - ideally with some comparison of alternative options, how popular the library is, etc. And ideally with a prototype / proof of concept. It can be done as well by community members. Internally we do not have deep knowledge of LDAP

[2017-11-22 17:03] jchannon commented on #24843
Our lib takes the old Novell LDAP code so its pretty solid

[2017-11-22 17:04] stephentoub opened #25439 "Fix AsyncOperation caching in SocketAsyncContext.Unix.cs"
https://github.com/dotnet/corefx/pull/25402 introduced caching for several key AsyncOperation objects, in order to avoid the extra allocations on hot/common paths in async socket operations on Unix.  But something about the implementation doesn't work correctly, resulting in sporadic errors where the callback is null, suggesting that we returned the object for subsequent reuse while it was still i

[2017-11-22 17:11] pasikarkkainen commented on #24843
The other option as LDAP library is: https://github.com/dsbenghe/Novell.Directory.Ldap.NETStandard
Are there other options out there?

But really .NET Core should have an official LDAP library built-in, which is opensource, and thus could be used on all the supported platforms.

[2017-11-22 17:13] jkotas commented on #25425
In your example, I think it would be fine to format into scratch buffer and then copy the Span over where it needs to be. To make that work well, we need to have good fast basic building blocks:

- Format integer: We do not have a fast way to UTF8 integer formatting: All APIs force you to pay the StandardFormat penalty.
- Copy span: Span copy has significant overhead for small spans (https://githu

[2017-11-22 17:14] jchannon commented on #24843
That uses the same Novell code underneath too

On 22 November 2017 at 17:12, pasikarkkainen <notifications@github.com>
wrote:

[2017-11-22 17:14] karelz commented on #24843
@jchannon I am not familiar with Novell LDAP.
Is that the only option out there? Is that the best option? Why? What about perf? (you commented on reliability)
What about availability on various Linux distros and on Mac?
Is it actively maintained?

Those are the questions I would go after if I was trying to give a recommendation.

[2017-11-22 17:20] karelz commented on #25434
@drunkcod where is the code snippet from? Can you please just link it instead of screenshot? (I couldn't find it in CoreFX)

[2017-11-22 17:23] vksohpaul opened #25440 "EventLog is not supported in .Net Core? When is it going to be avaiable next?"
I have trying hard to see if EventLog works in .Net Core but it doesn't.  Is it going to be also shipped with dot net core version 2.1 ?

[2017-11-22 17:48] kasper3 commented on #22355
Would it be possible to have `ToString(ReadOnlySpan<byte>)` overload as well? If we have an ArraySegment<byte> and we want string representation, it will still not be possible without allocating an extra byte[] :(

[2017-11-22 18:03] davidsh commented on #24802
We think sometime in within the next week.  We are doing final testing of packages.

[2017-11-22 18:11] davidsh commented on #24421
This bug doesn't look like a bug in CoreFx HttpClient components.  So, please open a new issue in ASP.NET repo.

[2017-11-22 18:11] #24421 closed

[2017-11-22 18:11] drunkcod commented on #25434
Doh, yes that's obviously some very important context here you go:
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlBulkCopy.cs#L848

[2017-11-22 18:14] kasper3 opened #25441 "Proposal: BitConverter.ToString to roundtrip with GetBytes(string)"
# Rationale

There are three solutions presented for BitConverter.ToString roundtriping back to byte[]: https://stackoverflow.com/questions/1230303/bitconverter-tostring-in-reverse

That is some boilerplate code which consumer code has to carry.

# Proposal

BitConverter has the following GetBytes overloads:

[code]

In addition to these, please consider:

[code]

# Usage

[code]

[2017-11-22 18:25] joperezr commented on #25396
Yes, here is a very good example of how an Api proposal should look: https://github.com/dotnet/corefx/issues/271. You can also find more info about our review process in general here https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md in case you need.

[2017-11-22 18:30] joperezr commented on #24915
Yes, here is an example that uses the template: #271. You don't need to create a new issue for it, you can just update the top comment on this one to look like that template. This is also a good resource of how the review process goes in general in case you wondered https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2017-11-22 18:32] ghost opened #25442 "Proposal BitConverter.ToString to have "N" formatter to omit the dashes"
# Rationale

With GUID, we have option to omit the dashes:

[code]

The BitConverter does not present such an overload to omit the dashes.

# Proposal

In addition to the existing ToString overloads in BitConverter:

[code]

Please consider:

[code]

# Example:

[code]

[2017-11-22 18:33] davidsh commented on #23193
Closing this issue since there is not enough information to diagnose.  Let us know if this still repro's.

[2017-11-22 18:33] #23193 closed

[2017-11-22 18:52] jkotas opened #25443 "TaskScheduler should be able to cancel pending tasks"
_From @JeffCyr on November 22, 2017 18:48_

## Rationale
After a `Task` is enqueued with `TaskScheduler.QueueTask(Task task)`, it is currently not possible to cancel or fail the task if the `TaskScheduler` can't execute the task.

This makes it hard to implement a disposable `TaskScheduler` because `Dispose` needs to block until all pending tasks are executed, which is not always possible, or have

[2017-11-22 19:14] safern commented on #11857
We have a preview version of this package now in myget:

https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.ComponentModel.Composition

[2017-11-22 19:20] davidsh commented on #21796
Thank you for the bug report.  I was able to repro the deadlock.  This is a bug in the .NET Framework and still repro's even with the latest .NET 4.7.1.

I have moved this bug to the .NET Framework bug database.  You can track the progress here:
https://developercommunity.visualstudio.com/content/problem/154698/deadlock-between-httpclienthandler-and-httpwebrequ.html

[2017-11-22 19:20] #21796 closed

[2017-11-22 19:23] Clockwork-Muse commented on #25441
...the current way to do this is via `Encoding.UTF8.GetBytes(string)`, which is probably why it's not in there currently - strings really need to be encoded for the bytes to make any sense.

[2017-11-22 19:30] davidsh commented on #19936
Based on the lastest POR, the current behavior will remain as-is.  Closing issue.

[2017-11-22 19:30] #19936 closed

[2017-11-22 19:36] davidsh commented on #9996
@Tratcher Can this issue be closed now?  There doesn't seem to be any more actionable work on this issue.

[2017-11-22 19:44] #24429 closed

[2017-11-22 19:53] davidsh commented on #24918
@@SCKlausZ

Can you please attach a Visual Studio solution that repro's this problem?  Also, please include the Windows OS version and Visual Studio 2017 version you are using?

[2017-11-22 20:00] danmosemsft commented on #25440
@vksohpaul it is available in 2.0 but you have to install the compatibility pack
https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/
Note this pack is marked preview on Nuget. We don't have a date for marking it stable (ie whether it will be when we ship 2.1, or earlier)

[2017-11-22 20:00] danmosemsft commented on #25415
@karajas ? We will also need the binaries from the machine.

[2017-11-22 20:08] satano commented on #25434
Hello

This is (very probably) duplicate of #24638, and the fix was already mreged #24655.

@drunkcod As a workaround for now, you have to inherit from `DbDataReader`.

[2017-11-22 20:11] satano commented on #25434
Hmmmm... On the second look, it seems, that it is the same issue, but another place, so another fix is needed. I will try to reproduce it and preprare PR in couple of days.

[2017-11-22 20:20] Tratcher commented on #9996
There's one minor issue left to investigate:

[2017-11-22 20:28] drunkcod commented on #25434
@satano - duplicate looks legit!
My "likely culprit" is from reading the code hunting for a non null-checked access so if it doesn't repro on current dev-bits you can likely assume it's my code reading that's at fault and the issue will disappear whenever the those bits are trickled out to nuget.

Since it works if I use "ordinal to name" instead of "name to name" column mappings and my use-case w

[2017-11-22 20:31] karelz commented on #25434
Duplicate of #24638
Thanks for detecting the dupe @satano!

[2017-11-22 20:31] #25434 closed

[2017-11-22 20:32] JonHanna commented on #25405
Is this still happening, or was this from the PR's first CI run? That run made me realise my error, and I split the test into one part that should work either way, and one part that tests the IL produced when `MakeDelegate` is supported, wrapped in ifdefs for `FEATURE_COMPILE` which should be defined if you can't `MakeDelegate`

[2017-11-22 20:58] davidsh commented on #25429
It shouldn't take 10 seconds to connect to a loopback server.  So, this is most likely due to thread starvation.  This issue is tracking the work to fix our tests: https://github.com/dotnet/corefx/issues/25346

[2017-11-22 21:06] davidsh commented on #25290
These are the current public constructors of `StringContent`.

[code]

All of them have the behavior of adding a `charset` attribute to the 'Content-Type` header.  We can't change the current behavior of these APIs.

But we could possibly a new constructor overload that takes a `MediaTypeHeaderValue` parameter.  That would enable someone to pass in a custom value that didn't include any `charset`

[2017-11-22 21:11] Alois-xx commented on #24902
@danmosemsft thanks for the kind words. I always do a root cause analysis of interesting issues. This involves quite a bit of explorartory boundary testing which often leads to nice profiling graphs or Excel charts or both.

[2017-11-22 21:28] jahmai commented on #21796
4 months to confirm a bug with an attached repro?!

[2017-11-22 21:33] davidsh commented on #22251
Closing this issue since it no longer occurs in current .NET Core versions.

[2017-11-22 21:33] #22251 closed

[2017-11-22 21:34] davidsh commented on #22021
Can't repro this since the tests have changed a lot.

[2017-11-22 21:34] #22021 closed

[2017-11-22 21:40] davidsh commented on #21612
No longer can repro in current .NET Core.

[2017-11-22 21:40] #21612 closed

[2017-11-22 21:46] Drawaes commented on #25429
Probably shouldn't take 1 second to do that :) I will take a closer look at sockets, I did a first "quick win" pass but there is a lot more that I can have a crack at

[2017-11-22 22:23] erik-mileiq commented on #8807
This is critical for Mac-based teams that are moving to Azure. Please prioritize this.

[2017-11-22 22:32] dtivel opened #25449 "CMS: enable adding certificates and unsigned attributes post-signing"
CMS permits post-signing changes to `SignedData.certificates` and `SignerInfo.unsignedAttrs` collections; however, `System.Security.Cryptography.Pkcs.SignedCms.Certificates` and `System.Security.Cryptography.Pkcs.SignerInfo.UnsignedAttributes` properties return copies of the data and mutations of these collections are not persisted back to the root `SignedCms` object.

Example 1:  to an existing `

[2017-11-22 22:35] jkotas commented on #25441
@Clockwork-Muse comment is spot on. The methods to do this are on the Encoding class. The methods on Encoding class let you choose which encoding you would like to use, and also give you control over the buffer lifetime - the BitConverter.GetBytes() method above allocate a new buffer for you every time that tends to lead to performance issues.

[2017-11-22 22:35] #25441 closed

[2017-11-22 22:36] JeremyKuhne opened #25450 "Should remove CheckInvalidPathChars"
The check for invalid path chars on the majority of System.IO APIs aggregates to a significant cost in real world performance metrics. There is little benefit to premptively checking- we should start by removing the check from everything but Path.GetFullPath().

http://source.dot.net/#System.Private.CoreLib/shared/System/IO/PathInternal.cs,486d9b8f9e6ecd64,references

We need to remove checks in C

[2017-11-22 23:10] danmosemsft commented on #25450
@Anipik work here is delete all use of CheckInvalidPathChars except for in GetFullPath, and update/remove the tests so they continue to pass.

[2017-11-22 23:11] danmosemsft commented on #23592
@mklement0 are you interested in offering a PR for this API?

[2017-11-22 23:15] danmosemsft commented on #25427
@pjanotti @jaredpar any comments or is this ready for API review?

[2017-11-22 23:34] stephentoub commented on #25439
cc: @geoffkizer

[2017-11-23 00:00] bendono opened #25452 "Proposal: Assembly.GetManifestResourceStream(string, StringComparison)"
I recently needed to workaround a bug caused by failing to load an embedded resource due to casing. Below is a simplified example of the original problem:

[code]

As indicated by the comments, the embedded resource was "foo.xml", but the code was trying to load "Foo.xml". As properly documented, Assembly.GetManifestResourceStream is case-sensitive. In the actual program, the argument "Foo.xml" wa

[2017-11-23 00:27] safern opened #25453 "System.Drawing.Common.Tests seg fault in redhat"
@qmfrederik looks like a libgdiplus issue. Would you mind helping to investigate?

We have this stack trace from the test logs:

[code]

also the logs have the memory map: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171120.02/workItem/System.Drawing.Common.Tests/wilogs

And you can download the dump from: https://dumpling

[2017-11-23 00:32] stephentoub commented on #25453
Is this different than https://github.com/dotnet/corefx/issues/24525? These seg faults happy very frequently, to the point where I've stopped logging them.

[2017-11-23 00:34] safern commented on #25453
No, will port the comment to that issue.

[2017-11-23 00:34] #25453 closed

[2017-11-23 00:35] safern commented on #24525
This was redhat. Maybe with this stack trace we are able to figure out what's happening, I would suspect all of them to be related to libgdiplus

@qmfrederik looks like a libgdiplus issue. Would you mind helping to investigate?

We have this stack trace from the test logs:

[code]

also the logs have the memory map: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/t

[2017-11-23 01:29] danmosemsft commented on #25450
Note the work is in both CoreFX and CoreCLR

[2017-11-23 01:37] EmmaZhu opened #25456 "ProcessStartInfo doesn't pass empty string to the target process"
Following code is to pass "test1" and an empty string as arguments to netcoretest application. It works well on Windows. On Ubuntu (16.10 and 17.04), it just passes "test1" to netcoretest, and ignores the empty string. Could anyone help to take a look?

[code]

[2017-11-23 01:41] danmosemsft commented on #15776
I believe we're going to rely on testing locally for now.

[2017-11-23 01:41] #15776 closed

[2017-11-23 02:52] LYP951018 opened #25459 "FindIndex/Find for IReadOnlyList<T>?"
`FindIndex` `FindAll` `Find*...` exists only in `List<T>`. But it seems that they should be put in more general interfaces or make them extension methods for `IList<T>` or `IReadOnlyList<T>`.

[2017-11-23 02:57] LYP951018 commented on #25459
It seems that make them extension methods is better and trivial to implement.

[2017-11-23 03:17] jnm2 commented on #25459
I have these as extension methods.

[2017-11-23 04:01] jkotas opened #25461 "RuntimeBinderException when using Task extension method on the result of an async method in a call tree that includes a dynamic parameter"
_From @bungeemonkee on November 22, 2017 23:31_

I ran into a very specific case where the clr appears to not properly resolve extension methods at runtime for code involving both dynamics and async and throws a RuntimeBinderException.

CLI version: 2.0.3
CLR versioin: 2.0.3

If the code below is added to a netcoreapp2.0 console project it will reproduce the exception.

Program.cs
[code]

The exce

[2017-11-23 04:24] stephentoub commented on #24900
@VSAdov, @jaredpar, @jkotas, see https://github.com/dotnet/corefx/pull/24997#issuecomment-346523578. Do we need to revert that change to nullable? How does that relate to the comments in the post here about the compiler treating it as immutable?

[2017-11-23 04:54] danmosemsft commented on #25116
@Anipik could you please fix this, it's just to add [AttributeUsage....] attributes on these two Obfuscaiton attributes in both src and ref.
Copy the correct versoin in .NET Framework:
http://referencesource.microsoft.com/#mscorlib/system/reflection/obfuscationattribute.cs,14
http://referencesource.microsoft.com/#mscorlib/system/reflection/obfuscateassemblyattribute.cs,15

[2017-11-23 04:55] danmosemsft commented on #25070
@bertdev any luck?

[2017-11-23 04:56] danmosemsft commented on #25060
@Fedorus is it possible for you to construct a minimal repro case?

[2017-11-23 05:00] danmosemsft commented on #25023
@safern or @ianhays please comment on tis proposal.

[2017-11-23 05:01] danmosemsft commented on #24860
ServiceBase is on nuget: https://docs.microsoft.com/en-us/dotnet/core/porting/windows-compat-pack

[2017-11-23 05:15] danmosemsft commented on #24602
This looks like it means either the process wasn't started, had exited, or we did not have privileges to it. Not much we can do here.

[2017-11-23 05:15] #24602 closed

[2017-11-23 05:15] danmosemsft commented on #24603
Not much we can do now

[2017-11-23 05:15] #24603 closed

[2017-11-23 05:15] danmosemsft commented on #24599
Too old.

[2017-11-23 05:15] #24599 closed

[2017-11-23 05:16] danmosemsft commented on #24598
Too old.

[2017-11-23 05:16] #24598 closed

[2017-11-23 05:16] danmosemsft commented on #24594
@jiria can this be closed now?

[2017-11-23 05:17] danmosemsft commented on #24567
This seems answered.

[2017-11-23 05:17] #24567 closed

[2017-11-23 05:17] danmosemsft commented on #24542
Nothing we can do unforunately... please reopen if I'm wrong.

[2017-11-23 05:17] #24542 closed

[2017-11-23 05:19] danmosemsft commented on #24488
You can now get it from Nuget as part of this: https://docs.microsoft.com/en-us/dotnet/core/porting/windows-compat-pack
@CarlosOnline is this working for you now? can we close this issue?

[2017-11-23 05:21] danmosemsft commented on #24408
@ianhays or @safern could one of you please give feedback.

[2017-11-23 05:27] danmosemsft commented on #23810
@anipik an easy fix, plus a test to add.

[2017-11-23 05:28] danmosemsft commented on #23748
@satano do yo ufeel like doing more of these..?

[2017-11-23 05:32] danmosemsft commented on #23592
@terrajobst in your snippet above you have `Collection<string> ArgumentList { get; }`. Is this intended to be `IReadOnlyCollection<string> ArgumentList { get; }` or something else?

[2017-11-23 05:47] danmosemsft commented on #15661
@los93sol the consensus above was to add API, and someone needs to write a proposal - you're welcome to give it a shot if you like.

[2017-11-23 05:48] danmosemsft commented on #14336
@joperezr ?

[2017-11-23 05:48] danmosemsft commented on #14323
@fujiy any interest in taking a look?

[2017-11-23 05:52] danmosemsft commented on #12644
Marking for review again to settle on parameter ordering

[2017-11-23 05:53] danmosemsft commented on #12452
this seems done?

[2017-11-23 05:53] #12452 closed

[2017-11-23 06:05] SimonCropp commented on #24468
@danmosemsft thanks for the update. and will let u know of any issue :)

[2017-11-23 07:31] davidfowl commented on #25432
Sure!

[2017-11-23 08:45] blugri commented on #3906
I am trying to use this in a .NET core 2.0 application to use a 3rd party library that is written in .NETFramework,Version=v4.6.1. Unfortunately I still get the following exception

`TypeLoadException: Could not load type 'System.Diagnostics.PerformanceCounter' from assembly 'System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'`

@danmosemsft Am I doing something wrong? Shoul

[2017-11-23 09:55] JonHanna commented on #25461
This is correct behaviour. A much shorter reproduction of the same behaviour is `((dynamic)new int[0]).Any()`. The dynamic binder does not—and should not—consider extension method syntax in deciding which overload to bind to. They should use the static method call syntax of `TaskExtensions.TaskExtension(DoSomething(thing));` instead.

[2017-11-23 10:12] JonHanna commented on #25459
`FindAll` already exists as `Where` bar for the fact that `FindAll` returns `List<T>`, which doesn't make as much sense once you've moved away from defining it on `List<T>`, and it takes a `Func<T, bool>` rather than a `Predicate<T>` which is a more modern approach. `Find` exists as `FirstOrDefault()`. and `FindLast` exists as `LastOrDefault()`. These last two are already optimised for some types

[2017-11-23 10:19] qmfrederik commented on #24525
@safern Is there a way we can get the latest version of libgdiplus (as in, the git version) on the CI servers? @hughbe [has been doing a lot of work on libgdiplus](https://github.com/mono/libgdiplus/pulls?q=is%3Apr+is%3Aclosed), so just upgrading may already improve the CI stability.

[2017-11-23 10:35] JonHanna commented on #25461
(Or alternatively, cast the result of `DoSomething(thing)` back from `dynamic` to `Task` before calling the extension method. Which is preferable would depend on the use case.)

[2017-11-23 12:10] toepoke opened #25463 "SmtpClient should enable predictable filenames when using SpecifiedPickupDirectory delivery method"
## Current Situation
Currently we can write an email to the filesystem so we can verify the content without actually sending a communication.

[code]

Which predictably writes a file to **C:\temp** - however the filename is an auto generated guid (e.g. *e98d022e-8885-4969-b87e-c16b03c02712.eml*).

## Rational and Usage
This works well, however it doesn't scale well if you have a routine that sends

[2017-11-23 13:39] stephentoub commented on #24900
I've done so in https://github.com/dotnet/coreclr/pull/15198 and https://github.com/dotnet/corefx/pull/25464.

[2017-11-23 13:59] Cronan commented on #25409
Quick question @danmosemsft , is changing the locale the right thing to do, unless the test targets a specific locale? Isn't it better to change the test so it doesn't require a specific locale to run?

[2017-11-23 14:16] MarcoRossignoli commented on #23748
i did some test on SqlClient(System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs) and i think it's a special case when exception is catch after throw. Maybe "InvalidOperationException"? @saurabh500 @corivera

[2017-11-23 14:17] #25413 closed

[2017-11-23 15:05] alden-menzalgy commented on #25396
# Public API to detect the size of the managed object.

As mentioned [in this article](https://blogs.msdn.microsoft.com/cbrumme/2003/04/15/size-of-a-managed-object/), we don't have such API to get the size in the runtime.

So far, if we want to do so, we have a choice to use some tools or techniques (not at the runtime), such as:
- using dotMemory.
- using WinDBG and calculate the object fields on

[2017-11-23 15:06] alden-menzalgy commented on #25396
@joperezr thanks you for your help, please find above proposal.

[2017-11-23 15:13] willbuildapps commented on #23545
The [solution](https://github.com/dotnet/corefx/issues/23545#issuecomment-325017094) pointed by @divega solve the issue to here!

[2017-11-23 15:35] jkotas commented on #25396
The current SizedReference API has the following characteristics:

- The size is accurate only after Gen2 GC. So you need
- These handles are expensive. Basically, the GC has to travel the whole object graph for each to compute the size.

Are you happy with these performance characteristics?

This wrapper cannot be built using the current SizedReference . The current SizedReference design requires

[2017-11-23 15:38] jkotas commented on #25396
cc @Maoni0 @swgillespie

[2017-11-23 15:59] jkotas opened #25467 "Socket.IOcontrol handles Windows-specific control codes and is not supported in linux"
_From @ms0713 on November 23, 2017 5:53_

Using DllImport in my .Net code, I was using **ws2_32.dll**. While running same in Linux it says dll cant be load.
So I stopped using DllImport and used Socket.IOControl() to read my data from socket. This time linux gives following error:
Socket.IOControl handles Windows -specific control codes and is not supported in linux.

What could be the common way

[2017-11-23 16:29] jnm2 commented on #25459
`FindLastIndex` is useful too.

[2017-11-23 16:36] JonHanna commented on #25459
And likewise easily done for any `IEnumerable<T>`, and easily optimised for `IList<T>`.

[2017-11-23 16:47] Clockwork-Muse commented on #24408
Having thought about this a little more, I'm wondering if perhaps a non-ordered collection is a better fit; one of the major operations is mutating the order of the items in (what kinda looks like) a non-deterministic fashion.  In contrast to `List`, which (besides implying "retains insertion order") has a property of "the existing order is maintained".  A non-concurrent `Bag`, I guess?

[2017-11-23 16:58] prashantchoudhary commented on #25099
yes looks more like an npm issue. I posted in dotnet section as the template was dotnet core with angular and webpack.

[2017-11-23 17:07] satano commented on #23748
@danmosemsft Yes, I will look at some other.

[2017-11-23 17:18] CarlosOnline commented on #24488
Away for holidays. I will check when I return. Thanks.

On Nov 22, 2017 7:19 PM, "Dan Moseley" <notifications@github.com> wrote:

[2017-11-23 17:33] svick commented on #24408
How is `RemoveAtUnordered` supposed to be used? You can't for example remember the position an item was inserted at, because that item could have been moved by some other `Remove*Unordered` in the meantime. So, probably the only safe way is using `IndexOf` and following that immediately by `RemoveAtUnordered`. But at that point, it's almost the same as `RemoveUnordered`.

[2017-11-23 17:47] satano commented on #23748
@MarcoRossignoli Yes, you can if you want. It is good to separate it by project. `System.Configuration.ConfigurationManager` is already done and waiting for merge. So you can take a look at the `System.Drawing` if you want. I will - later - check the others and do something.

[2017-11-23 17:59] JCKodel opened #25469 "SqlConnection should NOT be sealed (nothing should be sealed, really)"
Imagine the following scenario:

For security reasons (or performance, or policies, or whatever), I want to have a readonly sql connection to some features and a read/write connection for others.

What's the most easy way to accomplish this? Using .net core dependency injection:

[code]

Then, I could implement a simple inheritance to resolve what type of connection I want:

[code]

I could even c

[2017-11-23 18:03] ArthurBrussee commented on #24408
@Clockwork-Muse I think that definitely makes sense conceptually . I am a little concerned however that existing API's will not easily take a bag in though - passing by eg IList is not that common (in the Unity world at least). Converting a Bag to a list would defeat the performance improvments. The implementations would be almost identical, take these Remove functions.

@svick Fair point. I think

[2017-11-23 18:19] WinCPP commented on #23141
Hi @stephentoub,

The solution that I am attempting is based on one of the ways that you mentioned in the opening comment for this issue, quoted below,

I came across [this](https://blogs.msdn.microsoft.com/pfxteam/2012/10/05/how-do-i-cancel-non-cancelable-async-operations/) blog of yours on which the solution is based. I understand that it may not be clean solution but it kind of adheres to one o

[2017-11-23 18:20] danmosemsft commented on #25396
@KKhurin cc

[2017-11-23 18:21] danmosemsft commented on #25409
@Cronan yes probably that would be better.

[2017-11-23 18:22] danmosemsft commented on #25409
I just wanted to confirm it was a culture issue. Perhaps you'd like to offer that change as a PR?

[2017-11-23 18:27] danmosemsft commented on #3906
@blugri can you please instead reference the full compat pack and see I'd that fixes this?
https://www.nuget.org/packages/Microsoft.Windows.Compatibility

[2017-11-23 18:45] VSadov commented on #24900
Methods that Nullable overrides appears to propagate mutations to inderlying value. I wonder if that is deliberate. I guess that could be to match behavior of fancy boxing, which also exposes underlying to mutations.

I think we should specialcase HasValue, Value, ValueOrDefault as nonmutating in the compiler and tweak proposed verification rules for readonly refs accordingly.

[2017-11-23 19:39] valeriob opened #25470 "Port System.Messaging"

[2017-11-23 20:50] svick commented on #25023
This already exists, the method is called [`ImmutableDictionary.Create<TKey, TValue>()`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.immutable.immutabledictionary.create?view=netcore-2.0#System_Collections_Immutable_ImmutableDictionary_Create__2) (or [`ImmutableDictionary<TKey, TValue>.Empty`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.immutable.immutabledict

[2017-11-23 21:54] VSadov commented on #24900
Actually after thinking a bit about this, it looks like a bug/oversight in Nullable. And boxing/lifting would always copy.
Self-lifted ToString should do something like ‘this?.ToString() ?? “” ‘

Mutable Nullable is less convenient and is unlikely intentional. As a result methods like ToString can change the state. Even T being readonly or a primitive would not help much. ToString could still do a

[2017-11-23 23:10] grant-d commented on #25023
Thanks svick, I had looked in various places for such functionality, but missed ImmutableDictionary.

[2017-11-23 23:10] #25023 closed

[2017-11-23 23:12] VSadov commented on #24900
Perhaps we should ask ourselves - what are the chances that anyone relies on this kind of mutations though.

[2017-11-23 23:21] Anipik commented on #25116
Definations in coreclr already includes all the attributes mentioned in .Net framework

[2017-11-23 23:27] stephentoub commented on #24900
I expect relatively good. There are lots of types, even structs, that are observable immutable, but cache results generated in ToString/GetHashCode so that subsequent access is faster.

[2017-11-24 00:39] bertdev commented on #25070
Thanks guys. Sorry for forgetting update. I installed enterprise again and now it works.

[2017-11-24 00:39] #25070 closed

[2017-11-24 00:44] bendono commented on #25452
@danmosemsft Could you please label this as api-suggestion? Thanks.

[2017-11-24 03:15] lakeman opened #25477 "AsyncLocal.OnValueChanged seems to be called with a stale change, crashing the process"
I've attempted to write a middleware service to use WindowsIdentity.RunImpersonated, Wait()-ing for the next handler to return.

However I've seen that WindowsIdentity.CurrentImpersonatedTokenChanged is called a final time after my middleware finishes, with a closed but valid windows token. This leads to Environment.FailFast being called in ExecutionContext.OnContextChanged, which is logging the s

[2017-11-24 05:29] Clockwork-Muse commented on #25469
[Some reasons are mentioned in this answer](https://stackoverflow.com/a/6389669/812837) (and the linked post), but the short answer is that allowing subclassing makes any user of that type have a problem.  For instance, if I declared my own program to accept a `SqlConnection`, I'd probably expect that I could both read and write with it...

If you want something to extend, you're probably looking

[2017-11-24 07:37] juanfranblanco commented on #10727
Any update on this? Changing the service point manager values, including the DefaultConnectionLimit does not do anything (it does remember the values which it makes it more confusing).

[2017-11-24 08:35] Thaina opened #25480 "ExpressionTree serialization and reflection fallback?"
The expression tree is a great tools for making standard dynamic script. But there is 2 features I think we need to let it contain in expression tree library

One is standardize serialization/deserialization for making it portable and could transfer the logic across network and also save it as data in a file or database

Another is fallback to reflection in addition to `Compile()` to delegate. In

[2017-11-24 09:10] danmosemsft commented on #25470
@karelz who owns System.Messaging.dll...

[2017-11-24 09:23] danmosemsft commented on #25477
@lakeman thanks for the report. Can you open a separate issue for #3 (and maybe #2). For this issue, #4 I guess, is it feasible to share a repro?

@ViktorHofer for FailFast, did you look at logging the exception data? I assume it is pExceptionInfo in https://github.com/dotnet/coreclr/commit/0c4a490a74c81e9735b0b7ef5b272add75e95ddf

[2017-11-24 09:50] Cronan commented on #25409
I'll test both, and do a PR later today ...

[2017-11-24 10:38] ViktorHofer commented on #25477
If I can remember correctly `pExceptionInfo` was either always or sometimes null. There was a reason why I couldn't touch it. I will check again.

[2017-11-24 10:44] davidfowl commented on #25412
Can we do this only after we get pinning support in the compiler?

[2017-11-24 10:46] ViktorHofer commented on #25477
https://source.dot.net/#System.Security.Principal.Windows/System/Security/Principal/WindowsIdentity.cs,681
`CurrentImpersonatedTokenChanged` currently calls `Environment.FailFast(string)` and not `Environment.FailFast(string,Exception)` which probably is the reason why the exception data isn't logged. I'm not sure if passing the `Win32Exception` as the exception parameter would make sense as we cr

[2017-11-24 10:52] lakeman commented on #25477
I've seen a stack trace from ExecutionContext.OnContextChanged in my app's stdout / log. I'm fairly certain that this exception is being thrown by the safe handle, not by WindowsIdentity.

[2017-11-24 11:02] Cronan commented on #25409
Changing the locale worked, but I believe the change I've made will work in *~~all~~* more locales.

[2017-11-24 11:59] blugri commented on #3906
@danmosemsft Thanks. It is working :-)

[2017-11-24 12:52] ViktorHofer commented on #25477
I see, so the issue is not that the stacktrace is missing but that you want more exception data logged.

[2017-11-24 13:28] lakeman commented on #25477
No, the stack trace from the caught exception is missing, only the stack trace from the FailFast call is present.

[2017-11-24 13:51] benaadams commented on #25477
`OnValueChanged` gets called with the updated values as you go deeper into the await stack and change the value; then it rewinds as you await back out of the stack, giving you previous values.

What happens if you add a `try`/`catch` in your `OnValueChanged` handler rather than letting the exception escape?

[2017-11-24 13:53] JonHanna opened #25483 "NRE from MS.CSharp's Binder.Convert on identity or upcasts"
If we explicitly set the source type of a use of `Binder.Convert` and if the conversion is either the identity conversion or an upcast of a reference type to either a base type or implemented interface, then the delegate produced will throw `NullReferenceException` on execution.

[code]

The `ExpressionTreeRewriter` removes such casts whenever it finds them, since they can be skipped, but the `Exp

[2017-11-24 13:58] svick commented on #25480
While this would definitely be useful, there already are few libraries out there for expression tree serialization. Have you tried using them? (The most recently updated one seems to be [Serialize.Linq](https://github.com/esskar/Serialize.Linq).)

[That already exists, in the form of Expression Tree interpreter.](https://github.com/dotnet/corefx/tree/master/src/System.Linq.Expressions/src/System/L

[2017-11-24 14:03] ViktorHofer commented on #25477
I see. Thanks for the feeback! I created an issue for it in the coreclr repo: https://github.com/dotnet/coreclr/issues/15203

[2017-11-24 14:09] JonHanna commented on #25480
We could take this as praise for the work in making the behaviour of the interpreter match the behaviour of the compiler as closely as possible, but there's definitely a documentation gap here. The documentation for `Compile(bool)` mentions interpretation, but doesn't really explain it. The documentation for `Compile()` doesn't, and while that's arguably okay (it "just works") it adds to confusion

[2017-11-24 14:11] lakeman commented on #25477
Here's my version of an async windows impersonation middleware, that I wrote to work around this issue;
https://gist.github.com/lakeman/26af3a6d047d3de84c710711781ea709

In my testing, TokenChanged is called *after* setting the value to null, with a non-null closed token.

[2017-11-24 14:37] benaadams commented on #25477
`throw new Win32Exception()` in `TokenChanged` will crash the process

[2017-11-24 15:05] lakeman commented on #25477
Perhaps, I copied and pasted that from WindowsIdentity.RunImpersonated without looking into what that exception type does. But I'm not hitting that exception in practice, and neither is the problem I'm referring to above.

The problem is that within Kestrel middleware, I'm seeing that AsyncLocal.OnValueChanged is called once more with a stale current value, after the request pipeline has completed

[2017-11-24 15:06] #25409 closed

[2017-11-24 15:13] benaadams commented on #25477
Its an aside; type of exception doesn't matter, throwing any exception in `OnContextChanged` will crash the process as it has nowhere to go; its at the top of the stack.

FailFast probably should record the inner exception if there is one; e.g cause

OTOH, I'm interested in the `OnValueChanged` issue.

If you do add at the top of `TokenChanged`

[code]
What sequence does it output?

[2017-11-24 15:44] Thaina commented on #25480
@svick Thanks for your information. But that's as @JonHanna said, it confusing and not so clear that what it really did. I wish there would a surefire way to make it work on AoT platform like unity ios/webassembly

And about serialization. I know there was many third party but I want it to be standard in the expression namespace itself because I am very concern that third party could stop contribu

[2017-11-24 15:46] JonHanna commented on #25480
Are you finding that `Compile()` doesn't work? Because @svick's point there is that it should. Could you give us a repro?

[2017-11-24 15:49] jkotas commented on #25412
This issue is primarily about adding the new non-Dangerous APIs. The new APIs are orthogonal to the compiler pinning support.

This should be attacked separately, once the compiler pinning support is figured out. The current proposal is that these methods will stay and they will be used by the compiler pinning support: https://github.com/dotnet/csharplang/pull/1100/

[2017-11-24 15:50] Thaina commented on #25480
@JonHanna Well, I don't test it myself but it common knowledge in unity that it could not use Expression.Compile and Reflection.Emit. Maybe they was wrong or maybe it outdated knowledge since unity still using old mono profile

[2017-11-24 15:55] svick commented on #25480
@JonHanna

In that case, assuming you're not planning on submitting a PR to improve the documentation yourself, I think it would make sense if you created an issue about this on [the dotnet/docs repo](https://github.com/dotnet/docs).

[2017-11-24 15:55] lakeman commented on #25477
I did look at the current, previous and ThreadContextChanged values before raising this issue. And everything seemed to make sense. Except for the last call.

Here's a screen shot of the stack trace and source of that last call from VS;
![stack_trace](https://user-images.githubusercontent.com/590814/33217317-54c6d09a-d187-11e7-84c4-3d9b7704736e.PNG)

By this point I believe that currentValue shoul

[2017-11-24 16:02] JonHanna commented on #25480
@Thaina `Expression.Compile()` can now produce interpreted as well as IL-compiled delegates, according to platform abilities. `Expression.Compile(bool)` let's you opt for one over the other manually (for one thing, even when IL generation is available they have a performance trade-off as on average the interpreter is faster to create the set of instructions to interpret but slower to run, so some

[2017-11-24 16:05] Thaina commented on #25480
@JonHanna Thank you very much for clarification. One last thing I concern is, is it possible on any platform that both runtime and interpret is not support?

[2017-11-24 16:10] benaadams commented on #25477
So: `CurrentValue` != `PreviousValue` and both are `WindowsIdentity` and its a `async` change rather than manual change?

Which would suggest its not after `currentToken.Value = null;` but the `currentToken` is changed to `WindowsIdentity` a second time, and is being reverted at an `await`.

Can `Invoke` be called multiple times in the same call stack?

[2017-11-24 16:17] benaadams commented on #25477
Adding to
[code]
The following
[code]
Then making one request and checking the console output should provide some clarity?

[2017-11-24 16:33] tmds commented on #14152
@karelz when I created the issue I thought if would be interesting to have this to make more fancy console applications. Since I didn't get request for this and the activity on this issue is low, I'm not looking into it. Did you get a request for this? Or are you checking up on open issues? If you want to close this due to lack of progress, that is ok for me.

[2017-11-24 16:37] JonHanna commented on #25480
@Thaina You always have at least one. I suppose in theory you could build a version with neither, and it wouldn't be pointless as you could still e.g. pass the expression to a linq provider to e.g. turn into a SQL query. There are no such platforms though and right now if you tried to build a version of `System.Linq.Expression` for that, it wouldn't compile. If you look at https://github.com/dotne

[2017-11-24 16:44] lakeman commented on #25477
Request begins;

dbug: ClientDB.Code.Impersonate[0]
      Impersonating FORSYTE\jeremy
TokenChanged
- current  == null    : False
- previous == null    : True
- current  == previous: False
- ThreadContextChanged: False
TokenChanged
- current  == null    : False
- previous == null    : True
- current  == previous: False
- ThreadContextChanged: True

*Lots* of these pairs;

TokenChanged
- current  =

[2017-11-24 18:17] #25116 closed

[2017-11-24 19:13] benaadams commented on #25477
breakpoint: `logger.LogDebug($"Impersonation complete");`

Then when its hit; look at the `Tasks` view in VS?

[2017-11-24 20:56] #23810 closed

[2017-11-24 22:09] TechnikEmpire opened #25489 "Implement managed and independent websocket support"
According to the code here, there's no websocket implementation for Windows 7. Since windows 7 isn't EOL and it's listed as a supported plaform, this is a bug . Since Microsoft I guess wants to keep ubiquitous web technology out of Windows 7 I guess to coerce people into upgrading to Windows Spy edition, probably should implement this or strip windows 7 from the list of supported operating systems

[2017-11-24 22:29] fujiy commented on #14323
Hi @danmosemsft, I won't be able to do it for the foreseeable future

[2017-11-24 23:26] stephentoub commented on #25489
Thanks. Dup of https://github.com/dotnet/corefx/issues/9503.

[2017-11-24 23:26] #25489 closed

[2017-11-24 23:34] TechnikEmpire commented on #25489
Ah, my bad. I did a search but found nothing. Thanks.

[2017-11-24 23:37] stephentoub commented on #25489
No problem.  It can be very difficult to find issues for things. :smile:

[2017-11-24 23:43] TechnikEmpire commented on #9503
If people are in a crunch there are a bazillion pure managed implementations out there. My issue is that the kestrel websocket add-on fails due to this bug, so I now have to write my own plugin for kestrel.

[2017-11-24 23:44] stephentoub commented on #9503
The implementation that's used here on Unix is managed, built on sockets.

[2017-11-24 23:54] davidfowl commented on #9503
Kestrel doesn’t frail due to this. Do you mean kestrel with IIS fails?

[2017-11-24 23:58] TechnikEmpire commented on #9503
@davidfowl No I meant just straight up kestrel. I have [a library](https://github.com/TechnikEmpire/CitadelCore) that uses Kestrel to run a local transparent filtering proxy and it collapses on Windows 7 with platform not supported exception because I use the kestrel websocket addon.

[2017-11-25 00:01] TechnikEmpire commented on #9503
[code]

Windows 7 x64 home and pro, all up to date.

[2017-11-25 00:02] TechnikEmpire commented on #9503
Ah my bad it looks like it's failing on the creation of WebSocket, not on the acceptance of the kestrel websocket (they are not the same class). My bad @davidfowl

[2017-11-25 02:31] #25372 closed

[2017-11-25 03:26] danmosemsft commented on #25470
@zhenlan ?

[2017-11-25 04:27] #16766 closed

[2017-11-25 06:59] #5188 closed

[2017-11-25 07:08] zhenlan commented on #25470
We should understand how significant the demand is. This is Windows only.

@jimcarley thoughts?

[2017-11-25 07:34] mikedn commented on #25469
That expectation is not quite correct. The connection string may very well point to a database that's readonly. But then

Overriding base class methods and changing them to throw new exceptions is a dubious thing to do in OOP. Assuming you care about OOP design...

There may be other legitimate reasons to inherit from `SqlConnection` but creating new types just to get DI to work is suspect. Inject

[2017-11-25 09:03] valeriob commented on #25470
For us this is the last stopper to migrate to .net core almost all application actively developed, this means being able to keep up to date with donet core and all the benefit it brings.

This will enable nservicebus msmq transport to target netcore : Particular/NServiceBus.Transport.Msmq#58

To mee it looks like very much inline with this plan :
![image](https://user-images.githubusercontent.com/

[2017-11-25 11:44] stephentoub commented on #25467
@ms0713, what option are you using with IOControl?

[2017-11-25 14:32] jpiquot opened #25495 "Issue when calling Validator.TryValidateObject"
Hi,

The method TryValidateObject will throw an exception when trying to validate an object. It seems that the GetObjectValidationErrors method does not check if result of alidatable.Validate(validationContext) is not null. Is this a bug or a desired design?

Regards,
Jérôme Piquot

Method : System.ComponentModel.DataAnnotations.GetObjectValidationErrors

          // Step 3: Test for IValidatable

[2017-11-25 15:15] MkazemAkhgary opened #25496 "InvalidCastException(Type, Type) with appropriate message"
for lazy developers like me, id like to have `InvalidCastException(Type, Type)` that gives exact runtime error message when trying to cast from `T` to `U`.

so when I throw

     throw new InvalidCastException(typeof(int), typeof(string));

I should get this message (something like this).

currently I have to do the formatting and writing all message by myself

Why am I trying to throw invalid cas

[2017-11-25 15:18] ohadschn commented on #495
@scalablecory If you agree with me, perhaps re-open this issue?

[2017-11-25 15:25] ohadschn opened #25497 "URI thread safety documentation"
The URI class is immutable, and glancing at the [code](https://github.com/dotnet/corefx/blob/master/src/System.Private.Uri/src/System/Uri.cs) it seems as though [thread-safety](https://github.com/dotnet/corefx/blob/c4ebdbe5f5fbf53ec73b2c2e16f610387945151f/src/System.Private.Uri/src/System/Uri.cs#L128) is considered. However, the [URI docs](https://msdn.microsoft.com/en-us/library/system.uri(v=vs.1

[2017-11-25 15:53] svick commented on #25496
Is `new InvalidCastException(typeof(int), typeof(string))` actually better than `new InvalidCastException($"Cannot cast from {typeof(int)} to {typeof(string)}.")`? Especially considering that throwing `InvalidCastException` from user code is not very common.

---

In some cases, when the language doesn't allow `(U)t`, using an intermediary cast to `object` helps: `(U)(object)t`. Have you tried tha

[2017-11-25 16:00] svick commented on #495
@ohadschn Issues in .Net documentation on docs.microsoft.com belong to [the dotnet/docs repo](https://github.com/dotnet/docs), so I think you should create an issue there, instead of reopening it here. Or you could even submit a PR fixing it yourself.

[2017-11-25 16:03] jnm2 commented on #25469
I agree with the others. If you want to layer semantics on top, use composition and create an appropriate interface that gives you the control you need to enforce it. Inheritance is not a great tool in this particular scenario.

[2017-11-25 16:14] svick commented on #25497
As far as I can tell from the discussion at https://github.com/dotnet/corefx/issues/13107, even though `Uri` does use locks, it is not thread-safe.

I believe the steps to take here are:

1. Fix https://github.com/dotnet/corefx/issues/13107, so `Uri` no longer locks on a `string`.
2. Check all code in `Uri` for thread-safety.
3. If `Uri` actually contains code that is not thread-safe, fix it.
4. U

[2017-11-25 17:18] MkazemAkhgary commented on #25496
oh great! it works like a charm.

yes, its not very common to throw this exception manually (never happened to me before). but I thought its not a big deal either.

[2017-11-25 17:18] #25496 closed

[2017-11-25 18:45] maryamariyan opened #25498 "Porting remaining tests to System.ComponentModel.Composition"
I'm adding the System.ComponentModel.Composition in PR multiple steps.
This issue tracks the failing tests for this project.

[2017-11-25 18:53] davidsh commented on #25497
Also feel free to submit doc suggestions directly to the new docs location:
https://docs.microsoft.com/en-us/dotnet/api/system.uri?view=netcore-2.0

Clicking on the 'Edit' link will take you to the repo and allow you to submit PR's for suggestions.

[2017-11-25 19:08] ohadschn commented on #495
@svick done: https://github.com/dotnet/docs/pull/3787.

[2017-11-25 19:10] ohadschn commented on #25497
@davidsh thank you for the reference, but as svick explained, these is engineering work involved before the docs can be updated.

[2017-11-25 22:57] Sharpiro opened #25499 "ReadOnlySpan<T> debug view error"
VS 15.5.0 Preview 4.0
System.Memory 4.5.0-preview1-25925-02

The error occurs when viewing debug information of the "readonlySpan" variable.

repro:
[code]

error:
[code]

[2017-11-25 23:20] JonHanna opened #25500 "S.L.Expressions interpreter fails to widen rhs of coalese expressions"
With a coalesce expression where the left hand side is wider than the right hand side (ignoring that the left may be nullable and the right not), then the right hand side should be widened to the value of the node of the two (that is, the wider of the two if both are nullable, the non-nullable form of the wider of the two otherwise).

The compiler handles this fine, but the interpreter will throw

[2017-11-26 01:57] JonHanna opened #25503 "Presence of overloads with __arglist can prevent dynamic binding finding correct overload"
Given

[code]

Then the code:
[code]

Can throw a `RuntimeBinderException` with a message of `The best overloaded method match for 'UserQuery.HasVarargs.Binary(int, __arglist, ...)' has some invalid arguments` or of `No overload for method 'Binary' takes '2' arguments` or perhaps work, depending on the order the methods are put in the class' source (I would guess, affecting the order reflection fi

[2017-11-26 08:42] roji opened #25505 "Add PrepareAsync() to DbCommand"
ADO.NET includes `DbCommand.Prepare()` for command preparation, to speed up subsequent repeated executions of the command. As this method may perform I/O to create a server-side statement, it should have a `DbCommand.PrepareAsync()` counterpart. As with other ADO.NET async overloads, `DbCommand` should provide a default implementation which delegates to the sync version.

[2017-11-26 12:32] JonHanna opened #25506 "Microsoft.CSharp represents __arglist in error messages twice."
Given the following:

[code]

Then attempting:
[code]

Raises an exception with the message `The best overloaded method match for 'UserQuery.HasVarargs.OnlyVarargs(__arglist, ...)' has some invalid arguments`

Really it should either use `__arglist` to represent the varargs component or `...` but not both. Considering that the static error message would be `Argument 1: cannot convert from 'int' to

[2017-11-26 12:33] dasMulli commented on #13526
Since any new major version of SemVer will be a breaking change by definition, it will likely be a breaking change to pass a SemVer3 version to a piece of code expecting a SemVer2 version.

As much as I hate numbers on type names, future variant names like `SemanticVersion3`, `SemanticVersion4` could make sense since here. As long as there are conversion methods/constructors/operators(/interfaces?

[2017-11-26 13:07] JonHanna commented on #25505
Agreed. I remember working on that `NpgsqlCommand.Prepare()` override some time ago, and it is a very natural method for an async version. I would assume the same would be true of other providers.

The API could be:

[code]

(The implementation need only be `{Prepare(); return Task.CompletedTask();}`).

[2017-11-26 13:32] bendono commented on #25452
@karelz Could you please help categorize this? Thanks.

[2017-11-26 14:52] jkotas commented on #25499
#14376

[2017-11-26 15:08] JonHanna opened #25507 "Microsoft.CSharp picks incorrect default for optional MarshalAs(UnmanagedType.IDispatch)"
With
[code]

Then a static call to `GetVal()` will return null, but via `dynamic` it will return `System.Reflection.Missing`.

This works correctly in NetFX. (Was `UnmanagedType.IDispatch` once not available in CoreFX?)

[2017-11-26 16:01] ViktorHofer commented on #25303
For this to work we would need to make some changes in `RegexParser.cs`. Everywhere where we are currently throwing an exception with the helper method `MakeException(string)` we would need to add a condition and return null if no exceptions are desired (TryParse scenario). We would need to make sure the changes won't harm inlining optimizations which are made here.

That said it would involve add

[2017-11-26 19:15] WinCPP commented on #23141
Hi @stephentoub I could make some progress on this. As for the hang in `ReadAsStreamAsync_ReadAsync_Cancel_TaskCanceledQuickly`, I found that it needs separate fix in 'ContentLengthReadStream' as after the response has been obtained, since `ContentLengthReadStream` doesn't handle cancellation via token and hence the hang. I am working on this. Also instead of allowing the underlying operation to c

[2017-11-26 19:29] danmosemsft commented on #24902
@alois-xx what sort of problems are interesting to you in general? I could look out for an interesting perf optimization opportunity.

[2017-11-26 20:40] Alois-xx commented on #24902
@danmosemsft I work on a very large application which uses pretty much every .NET Framework (desktop) technology. Startup time is always an issue. Windows Forms/WPF interop is a source of pain with many temporary bitmaps beeing generated. The WPF measure calls to layout the UI controls are very costly if you have a large nested UI hierarchy.
The workflow foundation VB compile times and memory cons

[2017-11-26 21:01] danmosemsft commented on #24902
Would .NET Core improvements benefit you? Or is your goal that changes are stepping stone to port to .NET Framework?

For sure we are open to perf improvement suggestions or PRs for Process.

[2017-11-26 22:48] Alois-xx commented on #24902
I hope to get improvements done in .NET Core to light up in the regular .NET Framework as well which makes it very attractive to invest time right now since you are moving incredibly fast. Switching over to .NET Core is currently due to the many dependencies to WPF/WinForms/WF ... not an option for some time. But for new projects .NET Core is definitely an attractive option if the web is the new U

[2017-11-27 00:07] mklement0 opened #25512 "Remove suffix ".sh" from Unix shell scripts such as "build.sh" - let the shebang line do its job"
On Unix platforms, it is solely the executable bit that determines whether files are executable - irrespective of the filename or its suffix (extension, in Windows-speak).

A file marked as executable that happens to be a _script_ file specifies the executable (interpreter) to use via its _shebang line_,  the very first line which looks something like `#!/usr/bin/env bash`.

Therefore, **rename `b

[2017-11-27 00:32] Petermarcu opened #25513 "The certificate authority is invalid or incorrect exception while using .NET standard 2.0"
@jainankit2474 commented on [Sun Nov 26 2017](https://github.com/dotnet/standard/issues/592)

My problem here is specifically in .Net standard 2.0 and .Net core 2.0, since the same code, seems to work fine with .net framework 4.6.1.

In .NET framework, we are using following code to trust all certificates:

`ServicePointManager.ServiceCertificateValidationCallback += (o, c, ch, er) => true;`

But

[2017-11-27 01:16] lakeman commented on #25477
The tasks view is blank, I think that's a known issue with v2.

It looks like ExecutionContextSwitcher.Undo is causing the first callback after completion. The remaining callbacks from the above log seem to be triggered by a timer.

Is there anything else we can do to improve diagnosis for this issue or similar problems?

[2017-11-27 03:07] sam0302 opened #25515 "corefx build fails with zero as null pointer constant"
I am trying to build corefx for raspberry pi with clang 5.0. I am betting below error at multiple places.

/src/Native/Unix/System.Native/pal_random.cpp::9494::2222::

  errorerror: : zero as null pointer constant [-Werror,-Wzero-as-null-pointer-constant]zero as null pointer constant [-Werror,-Wzero-as-null-pointer-constant]
        srand48(time(NULL));        srand48(time(NULL));

[2017-11-27 04:24] davidsh commented on #25513
Is this for a UWP app?  The only way you will get "COMException: The text associated with this error code could not be found" error is if this is UWP app.

Can you post a small repro of this?

In .NET core, this property is not used: `ServicePointManager.ServiceCertificateValidationCallback`

So, using the HttpClientHandler.ServiceCertificateCustomValidationCallback property instead is the right c

[2017-11-27 04:25] mklement0 commented on #23592
@danmosemsft:

I can give it a shot, but it may be a while before I can give it the attention it needs.

[2017-11-27 04:30] MgSam commented on #25303
I think this is definitely worthwhile. Dynamic regexes are very common, and I've used them many times.

@karelz Why? In .NET, absolutely anything that can be defined at compile time can also be created at runtime. For that reason alone it seems like any and every convert-from-string scenario should have a corresponding Try pattern, because there's a good chance that that string will be user input

[2017-11-27 05:07] benaadams commented on #25515
When I've seen this in coreclr its because `NULL` needs to be changed to `nullptr` for  C++11 onwards

This is because of the ambiguity of `NULL` (it can also represent `int` etc)

[2017-11-27 05:10] Petermarcu opened #25516 "System.Net.Http.dll 4.6.25220.1和 System.Net.Http.dll 4.6.25514.4不兼容"
@ghd258 commented on [Thu Nov 16 2017](https://github.com/dotnet/core/issues/1098)

System.Net.Http.dll 4.6.25220.1和
System.Net.Http.dll 4.6.25514.4 不兼容 而且NuGet就没有4.6.25514.4 这个版本

---

@Petermarcu commented on [Sun Nov 26 2017](https://github.com/dotnet/core/issues/1098#issuecomment-347080256)

Translated:
System.Net.Http.dll 4.6.25220.1 and System.Net.Http.dll 4.6.25514.4 is not compatible and N

[2017-11-27 05:50] sam0302 commented on #25515
Ok, I see, is there a patch already available? I see a lot of .cpp files and header files where we need to change from NULL to nullptr.

[2017-11-27 05:53] benaadams commented on #25515
coreclr does a clang formatting check so their are no `NULL`s in there.

Don't think corefx does; is probably worth putting a patch in to change them if its causing you issue?

[2017-11-27 06:54] jainankit2474 commented on #25513
Hi Davidsh,

The above screenshot of error is from Xamarin UWP application using .NET Standard 2.0. But we have tried the same code in Console application using .NET core 2.0. The 'WinHttpException: A security error occurred' exception thrown. Please see below screenshot for the same:

![image](https://user-images.githubusercontent.com/25975246/33254220-ac1376d6-d36d-11e7-987e-3974972d26c0.png)

T

[2017-11-27 08:10] sam0302 commented on #25515
I see format-code.py  inside corefx has only checkonly option, I cannot run this to format the native code.

[2017-11-27 08:36] lakeman commented on #25477
I think I'm getting closer to understanding the role of ExecutionContext here. So this is what I've deduced;

My dodgy Impersonation middleware doesn't capture a new execution context until the first time a task is awaited. So when the AsyncLocal is first assigned, it's essentially attached to the callers context. When the AsyncLocal is cleared, it only affects the newly captured context. When the

[2017-11-27 08:45] Sunny-pu commented on #22635
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20171127.01/workItem/System.Net.WebSockets.Client.Tests/analysis/xunit/System.Net.WebSockets.Client.Tests.CancelTest~2FReceiveAsync_ReceiveThenCancel_ThrowsOperationCanceledException(server:%20wss:~2F~2Fcorefx-net.cloudapp.net~2FWebSocket~2FEchoWebSocket.as

[2017-11-27 08:54] jainankit2474 commented on #25513
Hi Davidsh,

Please see below code snippet:

`private const string ConstHubUrl = "https://signalR-test.azure.com:8800";
        private const string ConstHubName = "SignalRHub";

        private static void Main(string[] args)
        {
            //Ignore bad certificate in .NET core 2.0
            var httpClientHandler = new HttpClientHandler();
            httpClientHandler.ServerCertificateC

[2017-11-27 09:22] maurocolella opened #25517 "FreeBSD: building corefx managed components fails on ODBC32 namespace"
Dear All,

I am on Windows 10, and I am referring specifically to:
https://github.com/dotnet/corefx/wiki/Building-.NET-Core--2.x-on-FreeBSD#user-content-building-managed-components-on-windows

As well as the Linux counterpart. I tried:
1) `build.cmd` with default flags. This works, but I am well uncertain what to copy to my FreeBSD (11) system.
2) `build-managed.cmd` with the same flags recommende

[2017-11-27 09:46] demosglok commented on #8931
why this magic guid?
Guid("2e5dba47-a3d2-4d16-8ee0-6671ffdcd7b5");

[2017-11-27 12:15] appel1 commented on #25171
What about VS2017? Installing 4.8 to a project targetting .net 4.5 includes the netstandard dependencies. Is there something that can be done to fix this with the dataflow project or do we need to wait for VS2017 to include a newer version of NuGet?

[2017-11-27 12:21] jozefizso commented on #25171
I still think this is a bug in the Dataflow nuget package, because the .NET 4.x library in the package did not change.

The package 4.8.0 should not change its framework dependencies to .NET Standard 2.0 and it should work seamlessly with .NET 4.5/4.6 and VS 2015 and 2017 without manually upgrading nuget.

[2017-11-27 12:43] beyon opened #25519 "System.Uri fails for umlaut characters"
Loading a XML document (System.Xml.Linq.XDocument.Load(String uri, LoadOptions options)) fails when the path to the XML file contains an umlaut.

Call stack
[code]
Issue arose when trying to build Fable (http://fable.io/ - uses dotnet core to compile F# to javascript ) project and it seems that any umlaut in the path will case an error. More background information available here: https://github.co

[2017-11-27 12:59] stephentoub commented on #8931
Every ETW provider chooses a unique ID in the form of a guid that every consumer uses to enable/listen to it.

[2017-11-27 13:07] xrkolovos opened #25520 "Weird issue with httpClient"
I am testing my code in my win10 dev machine and works fine.

[code]

When i try it in a winServer2012 r2
I get

[code]

My pc with is in the same network with the devServer in the same AD
My code was working before upgrading to .net core 2.0.3

[2017-11-27 13:10] xrkolovos commented on #25520
This httpRequest is happening in a public https website that uses Let's Encrypt Certificate

[2017-11-27 13:18] xrkolovos commented on #25520
It also worth's pointing out that this never gets triggered.

[code]

this also doesn't helps
`handler.SslProtocols = SslProtocols.Tls12 | SslProtocols.Tls11 | SslProtocols.Tls;`

And in security tab in chome i get this info

[2017-11-27 13:21] JonHanna opened #25521 "dynamic and private protected"
Currently Microsoft.CSharp treats access to a method that `IsFamilyAndAssembly` the same as it does one that `IsAssembly`, allowing it to be called as long as the call-site is from the same assembly.

Until recently this was valid for the static compiler (since it couldn't create a method that was `IsFamilyAndAssembly` there couldn't be one in the assembly being compiled, so any encountered must b

[2017-11-27 13:59] tmds commented on #25193
@stephentoub @janvorli I'd like to do a PR for this, but I'm not sure how I should call the `PAL_GetCpuLimit` of coreclr in corefx?

[2017-11-27 14:06] jkotas commented on #25193
I think we should switch `Environment.ProcessorCount` to delegate to the runtime:
- Add ProcessorCount to https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/Internal/Runtime/Augments/EnvironmentAugments.cs and and https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/Internal/Runtime/Augments/EnvironmentAugments.Unix.cs / https://github.com/dotnet/corert/blob/mast

[2017-11-27 15:38] JeffCyr commented on #25443
cc @stephentoub , Any thoughts on this?

[2017-11-27 16:04] SoEnLion commented on #25520
Hello,

Are you logged in with the same account on bot machines?

`at NextcloudClient.NextCloudPublicSharesClient.<_getLoginRequestToken>d__15.MoveNext() in C:\Projects\httpIssues\httpIssues\NextcloudClient\NextCloudPublicClient.cs:line 396`

[2017-11-27 16:21] bartonjs commented on #24142
This issue is fixed in master already, and has been ported to the servicing branch (https://github.com/dotnet/corefx/pull/24868) to be included in the next servicing update (2.0.4 or greater).

[2017-11-27 16:21] #24142 closed

[2017-11-27 16:24] JeffCyr commented on #8371
I investigated the fix for this issue.

## Windows
### Windows 7
There is no windows API to make async dns resolving.

### Windows 8 & up
There is [GetAddrInfoEx](https://msdn.microsoft.com/en-us/library/windows/desktop/ms738518(v=vs.85).aspx) and [DnsQueryEx](https://msdn.microsoft.com/en-us/library/windows/desktop/hh447188(v=vs.85).aspx). These methods can be used for async dns resolving, but th

[2017-11-27 16:27] pepone opened #25525 "SocketOptionName.MulticastInterface not supported with Linux IPv6"
Set the multicast interface socket option on IPv6 socket causes a SocketException

[code]

When run this on Ubuntu Linux with dotnet 2.0.4 results in a SocketException

[code]

[EDIT] Add C# syntax highlight by @karelz

[2017-11-27 16:29] tmds commented on #25193
Thanks @jkotas I will take a shot at implementing that.

[2017-11-27 16:31] weitzhandler commented on #10752
@karelz @robertmclaws ping

[2017-11-27 16:42] stephentoub commented on #25525
@pepone, have you tried the equivalent code in C on the same machine?

[2017-11-27 16:44] karelz commented on #25440
Closing as duplicate of #6913

[2017-11-27 16:44] #25440 closed

[2017-11-27 16:48] pepone commented on #25525
I try the same C# code on Windows machine and it worked fine. That was part of my effort to port Ice to .NET Standard

For C++ we use

[code]

See https://github.com/zeroc-ice/ice/blob/master/cpp/src/Ice/Network.cpp#L2138

[2017-11-27 16:50] pepone commented on #25525
Shouldn't this use IPV6_MULTICAST_IF for ipv6

https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_networking.c#L1275

[2017-11-27 16:51] hvanbakel commented on #14356
@darbio This seems to be related to importing an unsupported nuget package. I ran into the same issue when I had:
https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.JwtBearer/1.1.3
installed. However, I ran into a different exception when installing:
https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.JwtBearer/1.0.5

The difference here is in the dependencies:
1.1.3

[2017-11-27 16:51] davidsh commented on #25520
Please attach a WireShark trace.

[2017-11-27 16:52] MarcoRossignoli opened #25526 ""Don't directly throw Exception" System.Drawing"
@safern i'm trying to fix "throw new Exception()" on System.Drawing(#23748) but as @karelz thought may be a compatibility concerns, with netfx. What do you think?I could split tests per platform, but i think that is not a good idea. Is it better to skip System.Drawing and go on with other?

[2017-11-27 16:52] karelz commented on #25459
@LYP951018 can you update your proposal based on the discussion? Also make sure to include [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) in top post (see the example).

[2017-11-27 16:55] bording commented on #25470
FYI, I believe this request is already being tracked here: https://github.com/dotnet/corefx/issues/6204

[2017-11-27 16:57] karelz commented on #25452
This seems to be a rare case and behaves as documented. The problem is primarily in the application -
 one of its components didn't play by the rules and used wrong casing of a resource.
I don't think we should take such API, unless there is strong evidence this is more common and/or the reason is better than workaround for bugs in application code.

@bendono we continuously label issues - we were

[2017-11-27 16:59] JonHanna commented on #25459
Should these live in linq?

[code]

[2017-11-27 17:02] MarcoRossignoli opened #25527 ""Don't directly throw Exception" System.Data.SqlClient"
I did some test [here](https://github.com/dotnet/corefx/compare/master...MarcoRossignoli:issue_23748_SqlClient#diff-4443802483f189746d4dcd5ca6e8d62c) on SqlClient(#23748) and i think it's a special case when exception is catch after throw. Maybe "InvalidOperationException"? @JonHanna do you think is fine here?
@saurabh500 @corivera

[2017-11-27 17:07] karelz commented on #25463
`SmtpClient` is legacy API in maintenance mode, which we don't have plans to evolve significantly (beyond high-pri bug fixes) - see our [Networking roadmap](https://github.com/dotnet/designs/issues/9).
We recommend customers to migrate to other, modern email client libraries - e.g. [MailKit](https://github.com/jstedfast/MailKit) (see our [deprecation entry](https://github.com/dotnet/platform-compa

[2017-11-27 17:07] #25463 closed

[2017-11-27 17:10] jaredpar commented on #25427
Read for review IMHO.

[2017-11-27 17:30] karelz commented on #25470
Closing as duplicate of #6204

[2017-11-27 17:30] #25470 closed

[2017-11-27 17:35] karelz commented on #10752
Looks like @robertmclaws didn't have time to work on it. If you have implementation of the approved API surface, feel free to submit a PR @weitzhandler.

[2017-11-27 17:40] karelz commented on #25526
I think it should be fine for System.Drawing the same way it is fine for anything else. We will likely need split test - I let @safern decide how best to do that.

[2017-11-27 17:44] bording commented on #6204
Given that it looks like the System.Messaging code is available as [Reference Source](http://referencesource.microsoft.com/#System.Messaging), is this something that an external contributor could work on?

[2017-11-27 17:47] davidsh commented on #25520
Also, please post information about what website this is.

[2017-11-27 17:48] davidsh commented on #25516
There is not enough information in this bug report to diagnose anything.

[2017-11-27 17:51] davidsh commented on #25513
What version of Windows OS is this?

Since this is using a self-signed certificate, is it possible for you to post that so we can look at the fields in the certificate etc.?

Since you are getting similar errors from both a UWP app and a Console app we need to look at the certificate.  The UWP and Console HTTP stacks are implemented differently (UWP uses Wininet and Console .NET Core uses WinHttp)

[2017-11-27 17:54] karelz commented on #25516
Seems not actionable. @ghd258 please provide more details or repro steps. Please link Nuget versions you have troubles with: https://www.nuget.org/packages/System.Net.Http/

Closing until we have more info.

[2017-11-27 17:54] #25516 closed

[2017-11-27 17:57] terrajobst commented on #25303
Talked to @ViktorHofer, looks ready for review.

[2017-11-27 18:00] karelz commented on #23592
@mklement0 just ping us when you are ready to take it on :)

[2017-11-27 18:02] karelz commented on #14152
I was just checking on older API suggestions. Closing for now due to low interest.

[2017-11-27 18:02] #14152 closed

[2017-11-27 18:18] karelz commented on #25303
@MgSam first, you already scoped it to convert-from-string scenarios. TryPattern is used for more than just that.
Second, historically we didn't blindly add hundreds of APIs which may or may not be useful - we always tried to understand the value of each API / API category, while maintaining certain level of consistency (e.g. across collections). Key motivation is to keep the API surface sane and

[2017-11-27 18:28] karelz commented on #25525
That might be very much it. Can you try to compile CoreFX and run your test with your proposed fix?

[2017-11-27 18:30] benaadams commented on #8371
Could formalize it:
[code]

[2017-11-27 18:32] karelz commented on #25519
@beyon it seems you should be able to reproduce it with just System.IO, without XML involved.
Can you please give it a try and post a minimal repro? (incl. the Unicode character used in the file name)

[2017-11-27 18:33] karelz commented on #25517
cc @wfurt

[2017-11-27 18:36] karelz commented on #25515
The PAL is slowly being migrated to C code - to enable sharing more code with Mono: https://github.com/dotnet/corefx/commits/master/src/Native/Unix/System.Native
I think it should address problem for this file.

cc @luhenry

[2017-11-27 18:38] stephentoub commented on #8371
The right answer to address that is to a) queue less things that do I/O blocking and/or have them do less I/O blocking, and b) for what remains, help the ThreadPool better deal with blocking workloads, e.g. similar to how pools based on I/O completion ports are able to better adjust to blocking when blocking actually occurs.

This is a very complicated road.  If the pool has a fixed upper bound, y

[2017-11-27 18:43] stephentoub commented on #8371
ps There's already support for using the ThreadPool to ammortize the cost of blocking on something: ThreadPool.RegisterWaitForSingleObject.  It uses as few threads as possible to wait for as many objects as are registered, and queues a work item to the pool when the object is signaled.

[2017-11-27 18:45] karelz commented on #25512
There are quite a lot of dependencies on the .sh names already - in other scripts, our automation and documentation. I wonder if it is worth a change.

I see quite a few hits on .sh extension on internet, so I wonder - is it just one of the style/opinion-based things, or is it truly highly recommended mainstream thing to drop the extension on Linux? cc @wfurt

BTW: I actually plan to drop the ./ f

[2017-11-27 18:48] wfurt commented on #25517
I can take a look @maurocolella . @RussellHaley was working on Windows instructions.

As far as the path I never used /.. folders. The tests should be self contained within build tree.
I use rsync (xcopy) to get ./bin over. That is probably more than you need as it includes intermediate objects but it was easy to describe. I'll add some clarification to notes as well.

[2017-11-27 18:54] wfurt commented on #25512
The argument is valid as execution does not depend on extension on Unix systenms.  However this is cosmetic issue as well as may depend on personal preference. I don't think there is any harm to have shell script with .sh extension. I don't think the risk and effort is worth of the outcome @karelz unless @tmds disagrees.
This is not just the code but also cleanup for all the documentation and buil

[2017-11-27 18:59] ankitbko commented on #18159
I am also looking forward to having Maybe monad in C#. I just want to do away with the nulls. I feel like half of the time I write code I spend worrying about null. The damn thing jut pops out of nowhere.

Anyway I found [this blog post](https://mikhail.io/2016/01/monads-explained-in-csharp/) also explaining Maybe monad uses quite nicely. The ability to compose functions are really nice.

PS: BTW

[2017-11-27 19:25] danmosemsft opened #25529 "thread contention at System.Runtime.Serialization.Formatters.Binary.BinaryFormatter.GetTypeInformation"
@AndresPabloGomez commented 4 days ago
Please change the method GetTypeInformation to use ReaderWriterLockSlim or something else, to access typeNameCache dictionary.

 @msisterna commented 4 days ago
I have the same problem.

[2017-11-27 19:30] danmosemsft commented on #25529
@ViktorHofer does this change make sense to you? Seems reasonable to me. If so perhaps @Anipik could take it. It will need perf measurements as sanity check.

[2017-11-27 19:32] stephentoub commented on #25529
RWLS would likely make things worse. If it's going to be changed, a ConcurrentDictionary would likely be best, so that there's no lock at all on the already initialized read path.

Can someone share more details / a repro of the problem?

[2017-11-27 19:34] saurabh500 commented on #25527
@MarcoRossignoli I can confirm that the `Exception` thrown is consumed internally.
`InvalidOperationException` is reasonable here because the exception is being thrown without a valid Kerberos token.

[2017-11-27 19:35] terrajobst opened #25530 "Design capability APIs"
We need to list & drive a design of capability APIs as explained here:

https://github.com/dotnet/designs/blob/master/accepted/compat-pack/compat-pack.md#non-goals

Instead of writing code like this:

[code]

we should be promoting code like this:

[code]

[2017-11-27 19:36] danmosemsft commented on #25529
ccing @AndresPabloGomez @msisterna for that information in case pasting them in above didn't do the trick.

[2017-11-27 19:41] ViktorHofer opened #25531 "WindowAndCursorProps.Title_Set_Windows(lengthOfTitle: 1024) failed with ThrowsException"
Happening on my local machine: Windows 10 RS4 17046

[code]

[2017-11-27 19:42] AndresPabloGomez commented on #25529
Hi. I took a dump from a production server with high load, and a lot of thread where waiting for the typeNameCache dictionary:

000000001cf4c6e8 000000007714c2ea [GCFrame: 000000001cf4c6e8]
000000001cf4c900 000000007714c2ea [GCFrame: 000000001cf4c900]
000000001cf4c938 000000007714c2ea [HelperMethodFrame: 000000001cf4c938] System.Threading.Monitor.Enter(System.Object)
000000001cf4ca30 000007fef6c2e

[2017-11-27 19:44] JonHanna commented on #25530
Perhaps relevant: #10470 Here people can "do the thing", but impacts of implementations might mean they don't want to.

[2017-11-27 19:47] tmds commented on #25512
+1. Let's stick to the current style.

@karelz my opinion: I don't notice the './' and I'm picky of what I put on my PATH :smile:
'./' in the docs makes things more copy-pastable. Also if you have multiple repos with build.sh, the PATH thing gets messy.
[code]

[2017-11-27 19:56] ViktorHofer commented on #25529
Sounds reasonable to me with using a ConcurrentDictionary as Stephen mentioned. We are already using a Dictionary, the change should be straightforward. I'm more interested about the perf results. @Anipik go for it, please include perf results which outlines the time spent on waiting when using a lock vs the ConcurrentDictionary. I would recommend using BenchmarkDotNet for it, but you are the one

[2017-11-27 19:56] msisterna commented on #25529
Hi.
Like said @stephentoub i think a ConcurrentDictionary would be perfect.

[2017-11-27 19:58] danmosemsft commented on #25530
Note that your first example has also the problem that it throws PNSE on UWP.

We may want to prefer a loosely typed system like `IsSupported("Registry")` so that we don't need to update all platforms before a new value becomes useable. AppContext/quirks seem to do this.

[2017-11-27 20:02] danmosemsft commented on #25531
@ViktorHofer looks like they fixed the bug in RS4 then and this needs updating
[code]

[2017-11-27 20:03] MgSam commented on #25303
@karelz Right, I'm asking in the context of this issue, which was about parsing from strings.

"Hundreds of APIs" seems a little extreme- I'm just pointing out that it should factor in the design process for any API that deserializes a string that somewhere someone will be doing this at runtime with user input, and as such, it should probably be the standard, not the exception, to provide Try meth

[2017-11-27 20:04] ViktorHofer commented on #25531
sounds reasonable. I will try it out locally.

[2017-11-27 20:07] danmosemsft commented on #25519
What is the path? (If you use bits out of master, the message now shows hte path)

There is only one check that produces this message, and it is simple:
[code]

[2017-11-27 20:10] karelz commented on #25512
@tmds multiple repos will need to create multiplexer - build.sh/.bat which finds the right one in your directory hierarchy. It is not mandatory, just convenience for when you are not in root directory (common case).

Closing this issue as Won't Fix based on above discussion.

[2017-11-27 20:10] #25512 closed

[2017-11-27 20:46] danmosemsft commented on #24931
@AceHack good list -- perhaps you could open issues for some of those? Especially if you see room for improvement, we are not competitive, or it is showing up in real world traces.

We want to focus our own resources using data, for example @JeremyKuhne 's work on GetFiles right now is because it shows up in profiles of MSBuild, NuGet, VS, and Azure services etc (and we know we can improve it).

E

[2017-11-27 20:57] danmosemsft commented on #25529
Please use Benchmark.NET to show change in both contended and uncontended scenarios.

[2017-11-27 21:17] JeffCyr commented on #8371
@stephentoub
I agree this isn't a general solution for background blocking I/O, like you said it's a complicated road.

But the current implementation of `Dns.GetHostEntryAsync` is quite disastrous for a high-performance app that rely on the ThreadPool. Any usage of  `Dns.GetHostEntryAsync` or even `Socket.BeginConnect(string host, int port, AsyncCallback requestCallback, object state)` will queue

[2017-11-27 21:27] stephentoub commented on #8371
You're talking about at the very beginning of a process, before the thread pool has ramped up.  Let's say we set the limit on this special pool you're talking about.  Pick a number, say 100.  Now a few minutes in to a fully loaded server, the thread pool is likely already at more than that, say 200 threads.  At that point using this custom pool is now actually slowing things down.

I agree there's

[2017-11-27 21:40] VSadov commented on #24900
In most scenarios with lifted operations, the underlying value is fetched via Value or, more commonly, via GetValueOrDefault, so caching in the instance would not generally work inside Nullable.
It is hard to believe that accommodating mutations inside Nullable is intentional. It is more likely that noone thought of mutating ToString or GetHashCode.

Anyways. I think the compat is the overriding m

[2017-11-27 21:45] #25094 closed

[2017-11-27 21:59] omajid commented on #25381
This isssue is also tracked (well, sort of) in the cli repo: https://github.com/dotnet/cli/issues/7291

[2017-11-27 22:00] beyon commented on #25519
I will try to pin down the paths causing errors in the original project (Fable) soon (tomorrow, or this week at least).

Creating basic c# project from dotnet core console template I wasn't able to reproduce the error with just System.IO, however there seems to be something going on with XDocument.Load(url) and umlauts even if the stack trace doesn't match the original issue.

New project á la:
``

[2017-11-27 22:13] beyon commented on #25519
For reference same code in a .Net Framework 4.6.1 Console Application created with Visual Studio 2017 the xml is read successfully for all the provided paths.

[2017-11-27 22:16] karelz commented on #25519
Can you confirm that it fails on .NET Core on Windows for you?

[2017-11-27 22:16] mklement0 commented on #25512
Understandable that you don't want to change at this point, but just for the record:

It's more than a _cosmetic_ issue, because - unlike with `.cmd` and `.bat` on Windows - you have to _type_ the `.sh` suffix (though tab completion can obviously help with that).

Also, without the `.sh` suffix, the invocations would be the same on both Windows and Unix (at least once you put the scripts in the PA

[2017-11-27 22:20] danmosemsft commented on #23972
@romangrewal do you need any pointers? Instructions for starting to contribute, building, debugging etc are here: https://github.com/dotnet/corefx/tree/master/Documentation

[2017-11-27 22:20] danmosemsft commented on #23972
Your help is welcome.

[2017-11-27 22:22] beyon commented on #25519
.Net Core 2.0.3 on Windows 10 64-bit (dotnet-sdk-2.0.3-win-x64.exe installer)

[2017-11-27 22:25] danmosemsft commented on #25427
@pjanotti I marked ready for review. Feel free to change -- otherwise, let's talk about this at tomorrow's meeting.

@stephentoub I added a line to your top post for review purposes, hopefully accurate.

[2017-11-27 22:27] danmosemsft commented on #23519
cc @eerhardt @ViktorHofer as owners of numerics area.

[2017-11-27 22:32] ViktorHofer opened #25533 "Right sizing HashSet ctor is allocating too many elements"
When initializing a HashSet like this:

[code]

the underlying arrays (buckets and slots) will not have the size of ~80M (its next prime number) but the size of the next prime number in the pre-computed list, which is 92_434_613. This is an oversize of 11.55% and is not expected by the user. The worst case is that the array gets oversized by 20% because of the layout of the pre-computed prime numb

[2017-11-27 22:33] luhenry commented on #25515
As `pal_random.cpp` is a C++ file, it should most likely be `nullptr` instead of `NULL`. And as @karelz pointed out, the PAL is slowly being migrated to C, so at some point `pal_random.cpp` will become `pal_random.c` and this `nullptr` will become `NULL` again, but I don't have any definite timeline for that, so a PR fixing it for C++ should probably be submitted.

[2017-11-27 22:43] maurocolella commented on #25517
Thank you @wfurt

The most important issue for me at this time is of course `The type or namespace name 'ODBC32' does not exist in the namespace 'System.Data.Odbc'`

This happens I think as soon as I specify `-OS=FreeBSD`. Whether I attempt to compile on Windows, or Linux; I am not sure what alternative I have to build the managed portion of the code.

[2017-11-27 22:45] ajcvickers commented on #25495
Looks like a bug to me. Any thoughts @divega?

[2017-11-27 23:04] KallDrexx commented on #11224
We have been successful in remedying the socket exhaustion issue by wrapping `HttpClient` in a custom API that allows every http request in an application to re-use the same `HttpClient` instance.  Retrieving this is behind a `lock{}` because every 60 minutes we create a new `HttpClient` and pass that one back instead.  This has allowed us to do high volume http requests from our web application (

[2017-11-27 23:10] wfurt commented on #25517
Just to verify this: when you simply run "./build.sh" everything works ok?
The -OS is needed to properly select features available on FreeBSD. Without it managed code would assume default platform and than fail when copied over. This also pull in proper files for Interop/*

[2017-11-27 23:11] karelz commented on #11224
@KallDrexx why do you need to lock the 'global' instance? Naively I would store it in static and just replace it every 60 minutes with a new one. Would that not be enough?

[2017-11-27 23:12] stephentoub commented on #25533
I commented on this in that PR:
https://github.com/dotnet/corefx/pull/6203#discussion_r53463200

@vancem countered he didn't think it was a problem:
https://github.com/dotnet/corefx/pull/6203#issuecomment-186277106

[2017-11-27 23:17] KallDrexx commented on #11224
Precaution against one thread returning an `HttpClient` that's not fully created yet.

[code]

So I guess the the lock only occurs once per minute so that multiple threads aren't trying to create a new  `HttpApiClient` simultaneously.

[2017-11-27 23:25] karelz commented on #11224
I see, so it is a convenience reason.
Alternatively you could either use Timer-based (async) update, or allow multiple of them being created in parallel (thread-unsafe lazy initialization style), or use different synchronization mechanism and don't block the other threads during the creation time (they could reuse the old one).

[2017-11-27 23:28] davidsh commented on #24802
cc: @weshaggard

[2017-11-27 23:33] KallDrexx commented on #11224
I don't know if I would classify it as a convienience.

If too many threads try to create a new `HttpClient` at the same time we still risk socket exhaustion from too many being created every minute, especially if the old ones haven't had the sockets cleaned up properly in that one minute (causing a cascade).

Furthermore, I'd still need some measure of locking because I don't know if updating a `

[2017-11-27 23:37] maurocolella commented on #25517
On Windows, I tried `build.cmd` and everything worked Ok. As soon as I added the OS flag, the build failed with the ODBC error.

I am trying the build again on Ubuntu. When I tried it there with the OS flag, the error was the same.

[2017-11-27 23:38] svick commented on #25519
I believe the `ArgumentOutOfRangeException` was already (unintentionally?) worked around by https://github.com/dotnet/corefx/pull/21826.

Because of this, `XDocument.Load("å")` causes the exception for me on .Net Core 2.0.3 on Windows, but works fine on .Net Core  2.1.0-preview1-25919-02.

Though I think there is still a bug in `Uri`: `new Uri(@"file://C:\å").ToString();` throws the exception both

[2017-11-27 23:46] DrewScoggins commented on #25415
Did this get resolved?

[2017-11-27 23:48] vancem commented on #25533
I am always open to new data, but there is a rationale for my statement in #6203.   The rational is that explicitly setting the size of a data table to a large value is pretty rare, and knowing that that size accurately is rarer still (often you only know that the table will be 'big' but not know accurately how bit it will grow).    Without a scenario where you know an accurate size, on average an

[2017-11-27 23:53] ViktorHofer commented on #25533
@vancem My naive approach to fix this (by bringing back the calculation can be find here): https://github.com/dotnet/corefx/pull/25509

cc @jkotas

[2017-11-28 00:04] stephentoub commented on #25427
@danmosemsft, what did you add?

[2017-11-28 00:07] vancem commented on #25533
How did you find this issue?   Was it code inspection or did you actually run into an issue?

A surprising about of discussion happened associated with #6203, because frankly it was a inconsequential issue that as a perf optimization was of dubious value.     However it WAS demonstrably SIMPLER, and that is what made me argue for ACCEPTING it (Because simplicity is the ONE thing you should do by d

[2017-11-28 00:13] jkotas commented on #25533
I agree that they are rare, but I do not see the point in regressing them by replacing 15 lines of code by 150 bytes of inline data.

Agree. The most likely user observable effect of #6203 is performance regression (more memory consumption) - if you went into trouble to preallocate large dictionary of the right size. Nobody else will see a difference.

@ViktorHofer notice that we are inconsistent

[2017-11-28 00:20] weshaggard commented on #25171
There does seem to be a difference, which could be seen as a bug, between 4.7 and 4.8 package which is when targeting .NET 4.5 we no longer have a empty dependency group in our nuspec. It doesn't block the usage of the package but it does cause extra dependencies to be installed which is annoying. This is likely an issue with any of our PCL based packages. I will reopen this issue to see if we can

[2017-11-28 00:24] karelz commented on #25519
@svick what are the exceptions you got?

[2017-11-28 00:30] svick commented on #25519
@karelz The same `ArgumentOutOfRangeException` as @beyon. Specifically:

`XDocument.Load("å");` on .Net Core 2.0.3 throws:

[code]

`new Uri(@"file://C:\å").ToString();` on both .Net Core 2.0.3 and 2.1.0-preview1-25919-02 throws:

[code]

[2017-11-28 00:39] karelz commented on #25519
Thanks for clarifying!

[2017-11-28 00:42] JeffCyr commented on #8371
I mispoke there, I meant the fix can be done in the short/mid term, this is indeed the long term fix.

This special thread pool would be implemented to shrink back quickly to one thread if there is no request. The .Net ThreadPool shrinks too but it takes minutes to readjusts.

Even with the optimal Win8+ fix, there still need a fallback solution for unsupported platforms.

This issue has been open

[2017-11-28 00:51] stephentoub commented on #8371
Yes, using the better platform-provided API on platforms where it's available is a good thing to do.

[2017-11-28 00:55] danmosemsft commented on #25427
Oops, didn't hit the button. Done.

[2017-11-28 00:56] stephentoub commented on #25427
:smile:

[2017-11-28 01:38] maurocolella commented on #25517
The build finished without errors using `build.sh` on Linux with no flags.

[2017-11-28 01:57] tarekgh commented on #25452
I agree with @karelz here. this can cause a problem too for the app which embeds resources with the same name and different casing.

[code]

I think case sensitivity is required to enable this scenario which is supporting embedding resources with the same name and different casing.

[2017-11-28 02:04] davidsh commented on #25519
cc: @rmkerr

[2017-11-28 02:05] JeremyKuhne opened #25535 "Add overload to Path.GetFullPath() to specify base path"
We should add an overload that allows specifying the base path to resolve against if the given `path` isn't fully qualified.

## Rationale and Usage

Resolving partially qualified paths (paths that are relative to the current directory) is error prone as it depends on the process-wide state of the current working directory. Allowing users to specify a virtual "working directory" will avoid many co

[2017-11-28 02:17] JeremyKuhne opened #25536 "Need Span based path join API"
We need an API that does a simple join of `ReadOnlySpan<char>` segments, adding a directory separator only if needed.

## Rationale and Usage

We don't have API for combining paths that works with `Span<char>`. It will become common that segments of existing strings will be combined into paths. A simple example will be getting a filename from an existing path and adding it to the directory of anot

[2017-11-28 02:23] jkotas commented on #25535
Should the arguments be in the opposite order to match `Path.Combine(string path1, string path2)` ?

I would expect that this API is often going to be used as a more correct replacement of `Path.Combine`. It may be nice to have the arguments in the same order.

[2017-11-28 02:49] stephentoub commented on #25536
Can you share some examples of where this would be used and the allocations it would save?

[2017-11-28 03:44] bendono commented on #25452
@karelz While it is true that this proposal originated as a workaround for a faulty application, upon talking with the original developer, the assumption and desired behavior was for case-insensitive lookup. He apparently did not check the documentation, but the desired behavior is certainly something that can more easily be supported.

@tarekgh I also agree with you in that case sensitivity is re

[2017-11-28 04:10] RussellHaley commented on #25517
I have been testing the coreclr right now. I am in a similar spot to @maurocolella. I built on Windows using no OS flag. I was able to get the native tests to pass but haven't had the Managed tests work yet. OS flag may be part of the problem. Will try to post some notes about what I transferred over. FYI I used mount_smbfs to transfer between Windows Host and FreeBSD VMs. See https://forums.freeb

[2017-11-28 04:13] wfurt commented on #25517
It seems like things got broken again. I'm working on fix. This is going to be ongoing battle until we get to point we have automatic build regression.

[2017-11-28 04:14] maurocolella commented on #25517
Building the coreclr (and running the tests) works fine. My issue is
specifically with corefx.

On Tue, Nov 28, 2017 at 12:11 PM, Russell Haley <notifications@github.com>
wrote:

[2017-11-28 04:36] JeremyKuhne opened #25539 "Need Span overloads for Path APIs"
In order to reduce allocations for path generation and manipulation we need Span overloads for `System.IO.Path` APIs.

## Proposed API

[code]

## Implementation Notes

- If the current APIs return null, these would return an empty span.

[2017-11-28 04:45] JeremyKuhne commented on #25536
See #25426 and `CombineNoChecks()` for one example of allocation reduction (that I would replace with this). With #25539 this will enable various msbuild evaluation scenarios that they are essentially writing their own "span-like" internal APIs for.

This is also useful for scenarios where you don't have span sources and want straight-forward join behavior.

[2017-11-28 05:34] JeremyKuhne commented on #25535
It would make more logical sense, and I would actually prefer `(basePath, path)`. I thought, however, that we were trying to match existing order for arguments so I started the other way around.

[2017-11-28 06:04] justinvp commented on #25536
Will having both `Path.Combine` and `Path.Join` APIs be confusing to users? How will users know/remember which API to use?

Maybe we should just add new overloads of `Combine` that accept `ReadOnlySpan<char>` that behave the same as the existing string-based overloads, and if there’s a need to provide new behavior, come up with some other approach to specify it, like a bool or `PathCombineOption`

[2017-11-28 06:24] Iplaylf2 opened #25541 "Enumerable.Except has a bug"
[code]
The question of translation.In Chinese Except was translate to "difference of set"(差集)

[2017-11-28 06:35] #25541 closed

[2017-11-28 06:42] Maoni0 commented on #25396
We only update the size for sized ref handles in gen2 GC because gen2 GCs already need to traverse these object graphs anyway which means it adds no overhead aside from having to write the size into the data associated with these handles; in Server GC there is a caveat because Server GC has multiple GC threads and since these handles were supposed to get the inclusive size, ie, as long as somethin

[2017-11-28 07:07] JeremyKuhne commented on #25536
Not fond of this option. Note that we currently have 4 `Combine()` overloads. We can't add it to the one that takes a `params`, so that puts us at 7.

Possible, but I don't like any names I could come up with. It isn't obvious or even understood that `Path.Combine` has the "return last rooted argument" behavior, which makes describing the "not" harder. Additionally this won't have invalid char che

[2017-11-28 09:46] jainankit2474 commented on #25513
Hi Davidsh,

We are using Windows 10 OS (latest OS build 16299 revision).

The same code using .NET Framework 4.6.1 with the 'ServiceCertificateValidationCallback' is working fine.
But using the .NET core 2.0 in the console application and using .NET standard 2.0 in Xamarin cross-platform application throwing an error.

So, is there anything that we are missing with .NET core 2.0 and .NET standard

[2017-11-28 09:51] MarcoRossignoli commented on #13882
found this helpful link https://github.com/Microsoft/ChakraCore/wiki/Jenkins-CI-Checks

[2017-11-28 09:55] ohadschn commented on #11224
@KallDrexx

- It seems `ReaderWriterLockSlim` would be a better fit for your usage.
- `DateTime` assignment should be atomic if you are running [true x64](https://stackoverflow.com/a/11745471/67824) (because it contains a single `ulong` field). Note that your current code is not thread-safe if that is not the case, because you are observing the `DateTime` value outside the lock.
- The timer-based

[2017-11-28 10:04] JonHanna commented on #25521
I think this is a bug rather than an enhancement, it's just that it's a bug that was an edge case until recently, but won't be when 7.2 is available.

[2017-11-28 11:01] eriawan commented on #19771
@danmosemsft

Pardon, how is the progress on this versioning fix?

Since it's been more than 3 months without any update, are there any plans or timeframe for System.Data.DatasetExtensions to go into .NET Core 2.1 Preview2 package? Even after I try to download the latest package of .NET Core 2.1 Preview 2 from MyGet, it still has no System.Data.DatasetExtensions package available. CMIIW, though...

[2017-11-28 13:29] KallDrexx commented on #11224
Neat I hadn't known about that class!  However, you mentioning this also made me think about also using a `SemaphoreSlim`, as that is async/await friendly (where it appears `ReaderWriterLockSlim` isn't), which may help with possible thread contention when a new `HttpClient` is required.  Then again the `ReaderWriterLockSlim` will handle better the potential `DateTime` non-atomicy issue you rightly

[2017-11-28 13:40] rogaps commented on #23972
Hi, may I take this issue?

[2017-11-28 14:52] davidsh commented on #25513
I don't see anything missing from your code snippet.  Can you post the self-signed certificate so we can examine it?  And/or post a complete Visual Studio repro of the problem so we can debug it?

[2017-11-28 16:45] maryamariyan commented on #23972
@rogaps you can go ahead. the issue is up for grabs.

[2017-11-28 16:47] alexsokolov opened #25548 "Ctor of System.Uri transform Uri to lowercase"
I got into this bug when was moving library to .Net Standard 2:
When we construct Uri by combining two Uri's, one with absolute path, and another with Relative:
`var sut = new Uri(new Uri("https://your_azure_account.restv2.westeurope.media.azure.net/api/", UriKind.Absolute), new Uri("ContentKeys('nb:kid:UUID:7deef38d-3432-4747-a5b2-0cd2f06a6edd')/GetKeyDeliveryUrl", UriKind.Relative));`

It lowers

[2017-11-28 16:47] tarekgh commented on #25452
This can be permitted on Windows too if the files on different folders. nothing prevents you to embed the resources from different places.

I understand this. my point is if there is code asking for the resources with case insensitive and then there are 2 resources with the same name and different casing, we may be returning the undesired resources at that time. I think your workaround is acceptab

[2017-11-28 16:56] karelz commented on #25452
Agreed with @tarekgh, unless there is evidence this is more common scenario (so far we saw 1 hit), we should not add new API. Living with a workaround which is easy to discover is ok for a few occurrences in the world.
Adding new API would cause confusion to developers - they would have to choose which overload to use and would be curious why the other is there when the resources are supposed to b

[2017-11-28 16:56] #25452 closed

[2017-11-28 17:06] Clockwork-Muse commented on #25541
(for future finders)
Behaving as designed.

Even disregarding the fact that set operations (like `Except`) result in a collection of distinct elements, _all_ matching elements are considered for the operation.  This means that `A.Except(B)` results in an empty set, and `B.Except(A)` results in a set with one element (`9`), with the resulting calls to `Any()` generating opposite boolean results.

[2017-11-28 17:06] davidsh commented on #25548
@alexsokolov Has this worked before .NET Core (i.e. with .NET Core 1.0, 1.1)?  We want to understand if this broke recently in .NET Core.  Or was it always broken in .NET Core vs. .NET Framework?

[2017-11-28 17:17] ViktorHofer commented on #23889
Hitting the same with System.ComponentModel.Composition now. cc @maryamariyan

[2017-11-28 17:18] alexsokolov commented on #25548
Hi @davidsh, I did a brief test, and it showed that it a newly introduced in .Net Core 2.0.
With 1.0 and 1.1 all works fine - Uri doesn't become lowered.

[2017-11-28 17:18] wfurt commented on #24008
Should be roll back the changes @stephentoub since https://github.com/dotnet/corefx/issues/24036 was resolved?

[2017-11-28 17:20] stephentoub commented on #24008
What changes?

[2017-11-28 17:22] svick commented on #25548
@davidsh It seems to be a regression in .Net Core 2.0.

This minimized repro:

[code]

Produces this output:

[code]

---

Also, when I remove the parenthesis (i.e. `new Uri(new Uri("http://example.com/", UriKind.Absolute), new Uri("CB:G", UriKind.Relative))`), I get an exception:

[code]

Though this part is also the same on .Net Core 1.0, so it's not a regression. Is this the expected behavior,

[2017-11-28 17:30] davidsh commented on #25548
What happens on .NET Framework?

[2017-11-28 17:35] weshaggard commented on #19771
Please ignore the preview1 packages on our myget feed. You can get the latest changes under preview1, see https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Data.DataSetExtensions/4.5.0-preview1-25927-02.

[2017-11-28 17:35] safern commented on #23889
Yes, I'm currently working on this. See: https://github.com/dotnet/corefx/issues/24903

[2017-11-28 17:36] safern commented on #23889
Please just remove the netfx configurations for the System.ComponentModel.Composition tests and with the fix I will revisit the projects that are hitting that and enable them to run on netfx.

[2017-11-28 17:37] rmkerr commented on #25548
That code fails with the same error on .NET Framework. I'd like to do some more digging before I say anything for certain, but it sure looks like a bug to me.

[2017-11-28 17:38] ViktorHofer commented on #23889
Yes I'm currently working on that. Should be done in a few minutes.

[2017-11-28 17:39] JonHanna commented on #25548
That last part throws on netfx too. It's just the `new Uri("CB:G", UriKind.Relative)` component and is documented, "uriString contains an absolute URI and uriKind is Relative". Whether one would argue that `"CG:B"` shouldn't be seen as an absolute URI is another question, though one can create an equivalent relative URI with `new Uri("./CB:G", UriKind.Relative)` (or am I missing a context where th

[2017-11-28 17:39] KrzysztofCwalina commented on #25499
@ahsonkhan, what's the plan if we cannot fix the debugger before we ship System.Memory? Would we live or remove the proxy? If we leave it (hoping that the debugger will catch up), should/could we convert the exception to something more explanatory?

[2017-11-28 17:42] safern commented on #24525
@mmitche could you help me update the installed version of libgdiplus in CI and Helix machines?

[2017-11-28 17:44] rmkerr commented on #25548
Here we go. [Section 4.2 of RFC 3986](https://tools.ietf.org/html/rfc3986#section-4.2):

[2017-11-28 17:45] danmosemsft commented on #25452
I agree also. @bendono I hope this doesn't deter you from opening other issues/suggestions. As @karelz mentioned, the bar for new API is high because the cost goes long beyond the implementation/testing cost.

[2017-11-28 17:47] mmitche commented on #24525
@safern This is just a build time dependency that needs updating?

[2017-11-28 17:47] KrzysztofCwalina commented on #24854
@ahson, should we close this issue now? We added the enumerator.

[2017-11-28 17:48] mmitche commented on #24525
I am trying to figure out where this needs to be updated.  It might just be in the docker container.  Can you point me to a build where it needs updating?

[2017-11-28 17:48] stephentoub commented on #24854
We added one to span.  I don't think we added one to memory.

[2017-11-28 17:50] mmitche commented on #24525
https://github.com/dotnet/core-eng/issues/2168

[2017-11-28 17:52] jkotas commented on #24090
The “dotnet” host does not deal with assembly versions. It deals with nuget package versions and I think it should stay that way.

Why can’t you do this unification based on nuget package versions? The nuget package versions are in the deps.json file already.

[2017-11-28 17:56] JeremyKuhne commented on #25450
With further discussion with @pjanotti we've decided that removing the check from `Path.GetFullPath` should also be done. I didn't add it to the initial description as I wanted to spend some time discussing it with him.

We still expose `Path.GetInvalidPathChars()` and `GetInvalidFileNameChars()` which provide a way for people to check that characters aren't generally friendly for paths on the cur

[2017-11-28 18:03] KrzysztofCwalina commented on #24072
We have gotten lots of feedback that the current str.AsReadOnlySpan().Slice(from, length) is to verbose.
Maybe a good compromise would be to add:

[code]

@MadsTorgersen, @jaredpar, @stephentoub, @ahsonkhan?

[2017-11-28 18:06] divega commented on #25495
@ajcvickers Sure, seems like it should be an easy fix too.

[2017-11-28 18:06] eerhardt commented on #24090
Because the nuget package that the assembly is in has changed. Since the package changed, the nuget package version doesn't mean anything between two different packages.

In 2.0, the `System.Runtime.CompilerServices.Unsafe` assembly was in the `System.Runtime.CompilerServices.Unsafe` nuget package, and it had version `4.4.0`.

In 2.1, the `System.Runtime.CompilerServices.Unsafe` assembly is now in

[2017-11-28 18:09] rogaps commented on #23972
This a1f16ad25941ba6a8df3a0c83d245661572b4d0f workaround doesn't seem working on OSX because OSX doesn't have pipe2.

[2017-11-28 18:09] jkotas commented on #24090
The manifest for Microsoft.NETCore.App framework needs to contain information that it bundles System.Runtime.CompilerServices.Unsafe nuget package now.

[2017-11-28 18:12] KrzysztofCwalina commented on #16878
I have seen several people asking for this API. I think it would be good to discuss this at the API review.

[2017-11-28 18:19] eerhardt commented on #24090
If by `manifest`, you mean the `Microsoft.NETCore.App.deps.json` file, it does contain information that it bundles the `System.Runtime.CompilerServices.Unsafe` **assembly** now.

However, this is not enough information because of the existing policy in .NET Core that [app-local wins](https://github.com/dotnet/core-setup/blob/c53a06b420c2d6f62dd070f1a9075d2849f1a0d9/Documentation/design-docs/multil

[2017-11-28 18:32] jkotas commented on #24090
Right. But you do need to assembly versions for that. You should be able to implement the default policy override using nuget package versions just fine.

We do have similar default policy override implemented for security servicing already: security servicing can override the version that comes with the app. It is based on nuget package versions as well, no assembly versions.

[2017-11-28 18:32] wfurt commented on #24008
https://github.com/dotnet/corefx/pull/24010
With CI changes the test should pass on Fedora.

[2017-11-28 18:33] stephentoub commented on #24008
Yes, if the test passes, we should remove the ActiveIssue from it.

[2017-11-28 18:33] jkotas commented on #24090
Then it also needs information that it bundles System.Runtime.CompilerServices.Unsafe *NuGet package*.

[2017-11-28 18:48] terrajobst commented on #25536
It seems weird to me to introduce a new API without deprecating the old API. However, deprecating the old API would be fairly invasive (high usage).

1. Could we fix the behavior of `Combine`? We could quick the behavior. @JeremyKuhne will take a look.
2. It seems less ideal but more acceptable to me to introduce an overload of `Combine` that takes `Span` with the new behavior. People would opt-in

[2017-11-28 18:50] steveharter commented on #24090
If every assembly had it's own nuget package and we decomposed every metapackage into those then yes we can make some intelligent decisions based on package version. Note that coreclr has both metapackage and individual assembly packages (for target servicing), but having individual assembly packages is not a requirement and doesn't apply to other frameworks such as asp.net.

Also there are other

[2017-11-28 18:58] jkotas commented on #24090
It should be a non-goal to make the roll forward work well for cases where the app has a private builds of something that needs to get unified. You cannot reason about whether the customizations make by the app are also included in the version bundled by the framework. The best we can do in this case is to print error, I think.

[2017-11-28 19:25] stephentoub commented on #24072
I'd be fine with such overloads.

[2017-11-28 19:29] danmosemsft opened #25554 "Missing line numbers for NETFX test and code"
In at least some cases, eg https://github.com/dotnet/corefx/issues/25550 dumped:
[code]

May need someone to use the Helix repro tool to see why.

[2017-11-28 19:32] karelz commented on #25535
FYI: The API review discussion was recorded - see https://youtu.be/9F_NsviGT0Y?t=18 (9 min duration)

[2017-11-28 19:32] karelz commented on #25539
FYI: The API review discussion was recorded - see https://youtu.be/9F_NsviGT0Y?t=552 (7 min duration)

[2017-11-28 19:32] mattiasw2 commented on #23686
Thank you! Worked fine. Embarrasing that it is only detected in runtime by `System.PlatformNotSupportedException`

[2017-11-28 19:33] karelz commented on #25536
FYI: The API review discussion was recorded - see https://youtu.be/9F_NsviGT0Y?t=957 (30 min duration)

[2017-11-28 19:33] karelz commented on #25427
FYI: The API review discussion was recorded - see https://youtu.be/9F_NsviGT0Y?t=2670 (5 min duration)

[2017-11-28 19:34] karelz commented on #23519
FYI: The API review discussion was recorded - see https://youtu.be/9F_NsviGT0Y?t=2950 (7 min duration)

[2017-11-28 19:34] terrajobst opened #25555 "Enable compilation from CodeDOM"
Reported by @jlahteen:

That's unfortunately by-design as the compilers are not part of the .NET Core runtime. However, given that CodeDOM isn't referenced by the core (it only comes in when people depend on it/via the compat pack) we could probably fix this.

@weshaggard, any reason why the CodeDOM NuGet package couldn't depend on Roslyn? Practically speaking, folks depending on CodeDOM probably

[2017-11-28 19:36] KrzysztofCwalina commented on #24072
@jnm2, could you please update the API design at the top of this issue? ... I will mark it as ready for API review then.

[2017-11-28 19:40] danmosemsft commented on #23686
@pjanotti is this caught by the PNSE tooling?

[2017-11-28 19:44] jnm2 commented on #24072
Oh, forgot this was one I started. 😄 Done.

[2017-11-28 19:45] stephentoub commented on #24854
I would assume not, as you'd most likely want to use it with LINQ and other such consumers. And if you did want a byref one, you could instead enumerate .Span.

[2017-11-28 19:46] danmosemsft commented on #24145
@ViktorHofer could you take on making this into a reviewable proposal? It seems to be a fit for your regex perf mission..

[2017-11-28 19:46] danmosemsft commented on #24145
@JeremyKuhne presumably your regex filter for GetFiles could operate more efficiently if IsMatch could accept a span?

[2017-11-28 19:47] ViktorHofer commented on #24145
Yes I already started thinking about it. Will need bit more investigation.

[2017-11-28 19:52] mattiasw2 commented on #23686
Sorry, do not know what PNSE tooling is. I am only moving some old crypto-code from an old ASP.NET project to Java, and seemed easier to use dotnet core, and call an console app for decryption of old data. Using Visual Studio Code as a test, more used to VS

[2017-11-28 19:54] stephentoub commented on #25555
https://github.com/dotnet/corefx/issues/12180

[2017-11-28 19:54] danmosemsft commented on #23686
@mattiasw2 it is this: https://github.com/dotnet/platform-compat
The intent of it is to help flag cases where code may not be portable despite the API being available. (If the API is unavailable, of course, the compiler will catch it.

[2017-11-28 19:55] JeremyKuhne commented on #24145
Even if we can do this in phases it would be awesome. Presumably it wouldn't be too hard to change RegexRunner.runtext to ReadOnlySpan<char> and that would open up hitting statics on Regex? Haven't looked too deeply, but the key is not the pattern, but the input.

[2017-11-28 19:55] danmosemsft commented on #23686
It looks like it should flag it.
https://github.com/dotnet/platform-compat/blob/6613b6b16bc8e22aa3cc2a3debee49f5e2c4ccd6/etc/exceptions.filtered.site.csv#L1109
It woudl be great if you could try it and confirm.

[2017-11-28 19:57] mj1856 commented on #25089
No, I do not think we should have a `ZonedDateTime` type, for reasons previously discussed.

In general, I've been trying to follow precedent and established guidelines for API proposals.  Others, such as #24449 have followed this form.  I'm not sure why this is different.  Clearly, setting up the corefxlab project for `System.Time` was not effective, as it has sat idle with low visibility for ove

[2017-11-28 20:01] vancem commented on #25533
Although not captured in the original issue, I believe someone actually noticed the CPU usage in that IsPrime function because it is roughly N*N algorithm for large N, which ultimately started the issue.      That also should be rare, but it would be nice not to ping-pong between trading off two rare users.    I can't document how important that case is, but I could certainly imagine wasting many

[2017-11-28 20:09] mj1856 commented on #25089
@joperezr - Those three lines are often written incorrectly.  See my example above.

The larger problem is that many developers do not think about the concern of time zones up front.  The naming of these APIs are significant such that they appear nearby alphabetically in Intellisense when one reaches for `DateTime.Now`.

[2017-11-28 20:16] jiria commented on #24594
Should we wait until https://github.com/dotnet/corefx/pull/25323 is completed? Ultimately, we need it in 2.0 so I would say this is not resolved until it gets there. But I am open either way, based on how you prefer.

[2017-11-28 20:30] tarekgh commented on #25089
@mj1856 I am not proposing to use corefxlab. in general I don't like bloating DateTime/Offset with the TZI functionality. you may think to add the functionality in TZI instead if you like.

I don't recall the details. could you summarize why you don't like teh idea of ZonedDateTime?

[2017-11-28 20:35] stephentoub commented on #25548
This was broken by https://github.com/dotnet/corefx/pull/12061.  I'll revert.
cc: @jamesqo

[2017-11-28 20:39] davidsh commented on #25548
Thanks.  But, how did you determine that?  Looking at the diff of that change, it isn't obvious it would break something like this: