[2017-10-05 00:46] davkean commented on #20378
Side note, I'd guestimate that in building large solutions 30% - 40% of all MSBuild string allocations are short-lived and would greatly benefit from a StringSegment-like type. I'm prototyping some changes and have just directly grabbed ASP.NET's version of this to see how we can benefit from this.

To full see the benefit here for us - I'd like to see allocation-free Path APIs along with this; bo

[2017-10-05 00:52] davkean commented on #20378
@JeremyKuhne for the Path-related request ^

[2017-10-05 01:03] davidsh commented on #23702
I have figured out why this test is failing when run against NETFX (Desktop) target.

It appears that it is using the OOB version of System.Net.Http built for NETFX.  However, it is using a pre-built version that is old (it's not actually using any build from master branch).  That old version had a bug in it HttpClientHandler.Net46.cs file that we fixed.  However, this dll is from 6/15/2017 and do

[2017-10-05 01:07] davidsh commented on #23702
@safern How we update the files in the "testhost" bin directory to more current files?

[2017-10-05 01:11] Petermarcu commented on #77
@krwq @danmosemsft Is this issue tracking anything useful at this point? It's 3 years old.

[2017-10-05 01:13] safern commented on #23702
@davidsh maybe this is related: https://github.com/dotnet/corefx/pull/23611

Here is when the netfx build configuration for System.Net.Http got removed because we are not building and supporting the NETStandard support package and we will continue to service that library from the 2.0.0 release branch. So perhaps the fix needs to be ported to the 2.0.0 branch and wait for a new release to consume t

[2017-10-05 01:18] davidsh commented on #23702
Yes, sorry. I meant newer.

I don't understand any of this.  We have code here that represents the OOB version of System.Net.Http that should run on .NET Framework.
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Net46.cs

But we aren't testing it right now because of this current build system.  So, how does that get fixed?

[2017-10-05 01:20] Petermarcu commented on #230
@mairaw @weshaggard didn't this get addressed in 2.0?

[2017-10-05 01:26] davidsh commented on #23702
Maybe I should be asking a different question.

For this source file:

does it get built anymore, i.e. a NETFX System.Net.Http.dll?  And what NuGet package does it end up in?  If it doesn't get built anymore, then what happens on Desktop for this binary?  Are we only using the inbox System.Net.Http.dll then?  That doesn't make sense unless it is only .NET 4.7.1 which has the APIs for netstandard20

[2017-10-05 01:42] danmosemsft commented on #77
I'm going to guess nobody's going to do this at this point...

[2017-10-05 01:42] #77 closed

[2017-10-05 02:13] Petermarcu opened #24439 "[Uri] System.Uri handles '%' characters in local path incorrectly"
@agr reported this issue here: https://github.com/dotnet/core/issues/1004

.NET Core 2.0, Windows 10:

[code]

produces the following output:
[code]

while the expected output would be:
[code]

[2017-10-05 02:17] Petermarcu opened #24440 "DisplayFormatAttribute not used while rendering control"
@johanskoldekrans opened this issue here: https://github.com/dotnet/core/issues/1000

We have two datecontrols (startdate and enddate) that we used the attribute DisplayFormatAttriute with a DataFormatString("{0:d}") as well as ApplyFormatInEditMode = true. This was rendered as an input with type date in the past but now is rendered as a datetime-local input. So the user has to enter the time as w

[2017-10-05 02:24] Petermarcu opened #24441 "ArraySegment null check is throwing ArgumentNullException"
@serkantkaraca reported this issue here: https://github.com/dotnet/core/issues/994

SDK 2.0 breaks null check on type value contract for ArraySegment.

            var arraySegment = new ArraySegment<byte>(new byte[10]);

            // This throws as below. Should be False as per C# spec. Works on 4.6.2
            var isNull = arraySegment == null;

System.ArgumentNullException occurred
  HResul

[2017-10-05 02:58] stephentoub opened #24442 "SocketTaskExtensions as instance methods"
In #22608, we agreed to add two new async socket methods, ReceiveAsync and SendAsync, that work with Memory instead of ArraySegment.  The existing ArraySegment-based methods were added as extension methods, and thus we added the new methods as extensions, too.

Feedback was provided that these would be better as instance methods.  However, we can't just add the new overloads as instance methods; w

[2017-10-05 03:16] davidsh commented on #24439
cc: @rmkerr

[2017-10-05 03:19] davidsh commented on #24442
I vote yes for this.

[2017-10-05 03:29] mairaw commented on #230
It should have been @PeterMarcu. I haven't tested this though. Have you @weshaggard? Some classes will be missing IntelliSense though since we haven't reached 100% coverage for .NET Core yet. But classes that existed previously in the Framework should have IntelliSense now.

[2017-10-05 03:35] stephentoub commented on #24366
I continue to hit this locally with fair frequency.  Do we know the cause?

[2017-10-05 03:37] stephentoub commented on #24441
https://github.com/dotnet/coreclr/issues/14012

[2017-10-05 03:41] davidsh commented on #23702
And in terms of the release/2.0.0 branch, yes, we need to make a fix to this source file as this line here has the bug in it:

https://github.com/dotnet/corefx/blob/dev/release/2.0.0/src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Net46.cs#L528

[2017-10-05 03:58] danmosemsft commented on #24354
@mellinoe can you help get the run to 100% green, even if it means disabling tests?

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171005.01/workItem/System.Drawing.Common.Tests

[2017-10-05 04:36] #22406 closed

[2017-10-05 04:36] #22410 closed

[2017-10-05 04:36] #22411 closed

[2017-10-05 05:16] Thaina opened #24443 "Please add Task continuation function with async await"
`Task` class was made before async/await syntax so I understand why there are `ContinueWith` function exist. But now I think we should have the same function in async/await syntax

Currently now I write extension method for it like this

[code]

I don't know what it should be named but please add this to BCL

[2017-10-05 05:36] davidfowl commented on #24443
Why?

[2017-10-05 05:49] Thaina commented on #24443
@davidfowl ContinueWith is a bit more verbose

[code]

But being a lambda chain has benefit to make a variable in scope and make it anonymous resolve

[code]

If the logic to resolve in chain would be longer then the scope is very helpful

[code]

It could also be written as return branch

[code]

[2017-10-05 05:51] benaadams commented on #24443
Not like the current way?
[code]

[2017-10-05 05:54] Thaina commented on #24443
@benaadams ContinueWith is more flexible when we write it as lambda we could add logic to switch returning. Also in my opinion that nest `await` seem a bit counterintuitive that which task will solve first and harder to understand

[2017-10-05 05:59] southpolenator opened #24444 "Recommended way of exposing C++ data and interfaces to .NET core"
Since there is no C++/CLI, what is the recommended way of exposing C++ data and interfaces to .NET core? Is it C style functions and P/Invoke (for cross platform apps, how would you reference different dynamic library names)? Some kind of (inter-process) communication?

[2017-10-05 07:13] davidfowl commented on #24443
@Thaina It's just not compelling enough to do anything here. Write your own extension methods on task if you want this pattern. This isn't something that in my opinion has broad usage.

[2017-10-05 07:38] JoshuaLight commented on #24192
Hi!

I've tried to reproduce the problem, but the only strange thing I've found is that there is some small performance gains in .NET from `2.0` to `3.0`, and then in `4.5` and `4.6`. But `4.0` looks different. It has over 4x slower performance.

Here is screenshot:
![image](https://user-images.githubusercontent.com/7947142/31215300-a215083c-a9b7-11e7-82e5-67b0d985f3ef.png)

And the program is lik

[2017-10-05 07:42] sidshetye commented on #23629
@bartonjs I know what you mean about plucking and programming the tag from the end of the stream for symmetry across encrypt/decrypt. It’s tricky but worse if left to each user to solve. I have an implementation I can share under MIT; will need to look internally with my team (not at my desk/mobile)

A middle ground could be like OpenSSL or NT’s bcrypt where you need to plug the tag right before t

[2017-10-05 08:16] davkean opened #24445 "Add Dictionary<TKey, TValue>.Capacity to let you resize map after created"
[edited by @danmosemsft to put into review format]

## Latest Proposal

See https://github.com/dotnet/corefx/issues/24445#issuecomment-352869027

[code]

## Issue
While I can set the initial capability of a dictionary when it's created, I cannot resize it after it's created.  Please add `Dictionary<TKey, TValue>.Capacity` property or an `EnsureCapacity` method so that that you can.

## Rationale
M

[2017-10-05 08:18] davkean commented on #24445
Note, even recreating the dictionary isn't an exact science - we don't know whether the dictionary is going to resize on add because the current capability isn't exposed.

[2017-10-05 08:47] poizan42 commented on #24439
Also see my comments here: https://stackoverflow.com/questions/1546419/convert-file-path-to-a-file-uri/35734486#35734486

[2017-10-05 09:01] aka-STInG commented on #24420
Yes, plus another related issue is there is no way to reset cookie via `clientWebSocket.Options.Cookies`.
I mean once it is set in response Set-Cookie header, consequent requests will have this cookie present even if you call `clientWebSocket.Options.Cookies.SetCookies(uri, string.Empty)`

[2017-10-05 10:27] pavlo-p commented on #6489
Try to use JsonSerializer + StringContent

[2017-10-05 10:57] tmds commented on #24144
Floating point numbers are not included here. Can they be included?
FYI, Wikipedia on endianness floating point:

Although the ubiquitous x86 processors of today use little-endian storage for all types of data (integer, floating point, BCD), there are a number of hardware architectures where floating-point numbers are represented in big-endian form while integers are represented in little-endian f

[2017-10-05 12:30] Drawaes commented on #24144
As discussed in the API review there is no current way of limiting T to a primative hence no generic.

As for floating point the text above says why I don't think there should be a "standard" floating point op because there really is no standard to speak of. I would say if there are floating point ops they should be off on their own or if they truly are just byte flipped you could just read a unit

[2017-10-05 12:42] JedatKinports opened #24446 "The appsettings.json was not found on Linux Debian."
The appsettings.json was not found on Linux Debian (jessie). On macOS everything works fine like this:

Program.cs file contents:

[code]
On Linux Debian i needed to do it like this:

[code]

I published my application using these two cli commands:

dotnet restore
dotnet publish -c Release -r linux-x64

And then copied all the contents inside the "publish" directory to my Linux machine and run the

[2017-10-05 13:04] softeering commented on #21982
@RehanSaeed Do you have any update on this?
I am facing the same kind of "issue"
https://github.com/softeering/NETStandardSQLClientRepro

Thanks

[2017-10-05 13:07] stephentoub commented on #24435
Where is that specified?

[2017-10-05 13:21] tmds commented on #24144
I wondered if the reason was perf. The methods could throw for non-primitive types.
The generic method has the advantage of being generically callable.
e.g. consider how this affects a BigEndianWriter implementation.

Indeed. Lack of a standard may be a reason to not to include these. Or you can go by _one may in practice safely assume that the endianness is the same for floating-point numbers as

[2017-10-05 13:22] bartonjs commented on #23629
In CBC+HMAC the usual recommendation is to verify the HMAC before starting any decryption, so it's a tag-first decryption algorithm.  Similarly, there could be a "pure AE" algorithm which does destructive operations on the tag during computations and merely checks that the final answer was 0.  So, like the associated data value, since there could be algorithms which need it first, it has to come f

[2017-10-05 13:58] RehanSaeed commented on #21982
Not yet, maybe this weekend.

[2017-10-05 14:11] chadly commented on #6489
For anyone interested, you can add a reference to the .net standard compatible [Microsoft.AspNet.WebApi.Client v5.2.4](https://dotnet.myget.org/feed/aspnetwebstack-dev/package/nuget/Microsoft.AspNet.WebApi.Client) which is not released yet because reasons.

See aspnet/Mvc#5822

[2017-10-05 14:16] TylerBrinkley commented on #8353
I'd just be happy to have a `DateTime.UnixEpoch` readonly field so I don't have to use `new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)` anymore.

[2017-10-05 14:45] maryamariyan commented on #24048
@Petermarcu we ended up removing the log. here's what the test case looks like in master branch [now](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/tests/ProcessTests.cs#L175)

It's supposed to be tracked by this issue

[2017-10-05 15:07] tmds commented on #24144
So I read the whole thread...

I think the explicitness of the type being written/read is a good reason to go for the non-generic version (even for the 'machine' endianness).
`buffer.WriteBigEndian(i);` vs `buffer.WriteBigEndian((byte)i);` vs `buffer.WriteUInt8BE((byte)i)`

Also, my use-case is for SpanReader/SpanWriter. It seems that that is the common use-cases. And as shown by @stephentoub a si

[2017-10-05 15:30] khellang commented on #11224
It's not necessarily about performance, it's about not leaking TCP connections and getting `SocketException`s.

From [MSDN](https://docs.microsoft.com/en-us/aspnet/web-api/overview/advanced/calling-a-web-api-from-a-net-client):

Also, see https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

[2017-10-05 15:40] tarekgh commented on #8353
@TylerBrinkley please go ahead and log a new API proposal for exposing DateTime.UnixEpoc and we can proceed with that. I think it is good to have it.

[2017-10-05 15:42] danroth27 commented on #6489
We plan to release Microsoft.AspNet.WebApi.Client 5.2.4 in the next month or so pending final verification.

[2017-10-05 15:43] stephentoub commented on #24153
@safern, any progress on this?

[2017-10-05 15:58] n9 opened #24447 "Current CancellationToken?"
What about to add sort of "CancellationToken.Current" which would pass token automatically? In case of [the passed point of no cancellation](https://blogs.msdn.microsoft.com/andrewarnottms/2014/03/19/recommended-patterns-for-cancellationtoken/), CancellationToken will be set to "CancellationDenied". So that developers do not have to pass it manually.

(Maybe the question has been already answered

[2017-10-05 15:58] safern commented on #24153
Yes I started taking a look yesterday afternoon and I'm close to get the fix. Will update you soon when I get it.

[2017-10-05 16:02] bartonjs commented on #19888
@henning-krause The fix is in the release branch and ready to go, but we haven't published any updates to 2.0 yet.  I think we're planning on next month for an update release.

Public daily builds, or private builds from the release branch, would have this fixed.

[2017-10-05 16:11] karelz commented on #19888
@bartonjs if the fix didn't get into 2.0 RTW, can you please change the milestone to 2.0.x to capture the fact? Thanks!

[2017-10-05 16:13] bartonjs commented on #23341
@danmosemsft I've presented the options, but it seems to me like it's up to networking to pick one.  Windows has acknowledged the race condition, but they think it's too rare to degrade performance across the board with global locks (since the race is a filesystem TOC/TOU race it's across processes)... and they say (and I agree) that the (general) solution is `EphemeralKeySet`.

For cases where th

[2017-10-05 16:17] davidsh commented on #23341
@bartonjs

Can you send me link (offline) to this PFX tool?  It sounds interesting.

[2017-10-05 16:22] weshaggard commented on #230
@Petermarcu which part of this issue are you referring to? If you are referring to getting updated intellisense then yes we did do that before 2.0 shipped. However if you are referring to consuming the doc comments in code or putting the docs into doc comments then no we haven't done that and I don't think we plan to do that.

[2017-10-05 16:25] bartonjs commented on #19888
Hmm, okay, good point @karelz.  While the commit didn't show the v2.0.0 tag I do see that the fix is present there: https://github.com/dotnet/corefx/blob/v2.0.0/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.cs#L406-L418.

So @henning-krause, if you're using the released version of 2.0 you should have the fix for this.  If you're having a sim

[2017-10-05 16:33] Petermarcu commented on #24048
Ok, so we're curious why we are still getting null sometimes and this issue is tracking us trying to understand why that can be? Do we need to track it or just close this issue at this point?

[2017-10-05 16:33] karelz commented on #24447
cc @stephentoub

[2017-10-05 16:34] karelz commented on #24446
This issue was moved to aspnet/Home#2225

[2017-10-05 16:34] #24446 closed

[2017-10-05 16:38] Petermarcu commented on #230
High level question is whether we need to track anything else here or should we close this issue?

[2017-10-05 16:40] karelz commented on #24444
PInvoke and COM interop are the recommended ways.
Did you consider unifying the dynamic library names across all platforms you need to support? An alternative would be to cross-compile for specific distros ...

[2017-10-05 16:40] smuellener commented on #19914
Also having this issue. We force our net461 application to use Mono's fallback System.Net.Http 4.0.0 from /usr/lib/mono/4.5-api by deleting the System.Net.Http that is published with the application and changing the existing record to:

[code]

in the <app_name>.exe.config after publishing for net461. But this is obviously not the preferred solution. Is anyone going to fix this in Mono?

Mono vers

[2017-10-05 16:40] karelz commented on #24444
cc @janvorli

[2017-10-05 16:42] weshaggard commented on #230
I think we can close this as we have updated intellisense.

[2017-10-05 16:42] #230 closed

[2017-10-05 16:42] devunt commented on #19888
As indicated in the original comment, the problem here is with `CopyWithPrivateKey` method, not with the stringification process.

[2017-10-05 16:46] karelz commented on #24416
@shrah can you provide more info what is the interface for, how is it used, etc.? See example in [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2017-10-05 16:46] TylerBrinkley opened #24449 "Add DateTime.UnixEpoch and DateTimeOffset.UnixEpoch fields"
Occasionally I come across a point in my code where it'd be useful to have a `DateTime.UnixEpoch` field as opposed to specifying my own with `new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)`. Usually this is when I'm calculating expiration dates for web tokens where the expiration property is the number of seconds since the Unix epoch (see https://en.wikipedia.org/wiki/Unix_time for definition

[2017-10-05 16:56] bartonjs commented on #19888
@devunt What do you think the problem is?  Aside from the NullReferenceException, everything works as expected.  (You attached an ephemeral key; but the PFX export (as ephemeral) and import (to non-ephemeral) changes that)

[2017-10-05 16:59] TylerBrinkley commented on #8353
@tarekgh just created the proposal #24449 to add `DateTime.UnixEpoch` and `DateTimeOffset.UnixEpoch`.

[2017-10-05 17:00] ajcvickers commented on #24440
@dougbu Any thoughts on this?

[2017-10-05 17:05] Clockwork-Muse commented on #24449
:winces:
I get where you're coming from... but I feel like this is almost certainly going to cause programmers who don't know any better to reinforce the assumptions that `DateTime` represents an absolute point, or that doing the subtraction is going to work in all cases.  That is, for the same reason people are surprised that:

    var u = DateTime.UtcNow;
    var l = DateTime.Now;
    // Prints

[2017-10-05 17:12] danmosemsft commented on #23341
@davidsh may I assign this to you? since it takes out the whole library it's a bit worse than just a test failure that can be disabled.

[2017-10-05 17:14] dmetzgar commented on #24410
@karelz, the rules are part of the old WF engine (System.Workflow) that was replaced in .NET 4.0 with System.Activities. The old WF included an implementation of business rules that uses CodeDom and can actually be run standalone. When System.Activities came along, the WF team didn't port rules with it (there was an effort, but it never saw the light of day). We know some people use rules without

[2017-10-05 17:17] tarekgh commented on #24449
@Clockwork-Muse I think we already have this problem with DateTime and that is why we are encouraging people to be careful when using it or just use DateTimeOffset. I am not seeing the proposal will make the situation worse. whoever going to use UnixEpoch are the people who really are doing ```new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)```

Do you think having UTC in the name can help a li

[2017-10-05 17:21] karelz commented on #24410
@dmetzgar what do you recommend? Leave it as external (non-MS) community-driven project? Or would you be interested in taking community contribution and maintain the port long-term?

[2017-10-05 17:21] jnm2 commented on #24449
It would be redundant because there's no such thing as a local time Unix epoch. That would fit better in intellisense docs, wouldn't it?

[2017-10-05 17:23] fiigii commented on #24346
So the conclusion is that we can stop https://github.com/dotnet/corefx/pull/24415. Then combine S.R.Intrinsics.X86 into the framework and delete the nuget package. After that, only `netcoreapp` can access these intrinsics. Is it right?
@jkotas @weshaggard @mellinoe @joperezr

[2017-10-05 17:29] southpolenator commented on #24444
Is there an example on how to create C++ COM interface for non-Windows OS?
What I meant for different library names is .dll on Windows, .so on Linux, etc...

[2017-10-05 17:47] davidsh commented on #23341
Yes, you can assign it to me. But it might be a week or so before I can actively work on it.

[2017-10-05 17:53] benaadams commented on #24409
Similar issue to https://github.com/dotnet/coreclr/issues/14012 on ArraySegments

[2017-10-05 17:57] tarekgh commented on #24449
@jnm2 I agree with you. I am thinking how we can mitigate @Clockwork-Muse concern or at least help people not to run into such problem.

[2017-10-05 18:07] halter73 commented on #24435
I'm not sure whether [the spec](https://tools.ietf.org/html/rfc2616#section-8.2.3) specifically calls out the requirement for the client to still send the request body even without receiving a "HTTP/1.1 100 Continue" response. It stands to reason that the body should still be sent since the feature is designed to be backwards compatible with servers that predate 100-continue.

Maybe @Tratcher has

[2017-10-05 18:10] rmkerr commented on #24439
Something is definitely going wrong here. I've tested the same code on .NET Framework and the issue shows up there too.

As for the repro code keep in mind that the provided URI is particularly ambiguous in that the %41, %20, and %25 can be interpreted as literals or as percent encoded octets.  To ensure that we don't change the meaning of a URI, we should only automatically percent encode charact

[2017-10-05 18:20] ericstj opened #24452 "[release/1.1.0] Backport PreferInbox=true to dead-end packages"
Many of our packages are no longer produced in 2.0.0 because they were absorbed into .NETStandard.

As a result, there is no new version of those packages with fixes that were only put into the 2.0 codebase.

One example of such a change is https://github.com/dotnet/corefx/pull/18307 (issue https://github.com/dotnet/corefx/issues/15112).  There may be others.

We should backport these changes if t

[2017-10-05 18:22] mellinoe commented on #24444
Yes, this is the way you should do it. This will be the easiest and most portable option.

If you control it, you should ensure that the library names (barring file extension) are identical. If they are not identical, then the problem becomes significantly harder (see https://github.com/dotnet/coreclr/issues/930).

CoreCLR will automatically prepend "lib" to the dll name when resolving PInvokes, a

[2017-10-05 18:23] JedatKinports commented on #24446
@karelz thanks for the move.

[2017-10-05 19:01] dougbu commented on #24440
@Petermarcu do you have a sample application demonstrating "rendered as an input with type date in the past"?

The `type` attribute used for `DateTime` values should not have changed since the 2.0.0 release. MVC 5.2.3 and ASP.NET Core MVC 1.x.y used `type="datetime"` for that datatype (not `type="date"`) but recent HTML specs have deprecated that choice.

`type="date"` should only be used if the p

[2017-10-05 19:19] Petermarcu commented on #24440
@johanskoldekrans will have to give details. I just moved this issue :)

[2017-10-05 19:29] davidsh commented on #23702
@safern

Looking more into this, it seems that the master branch needs to be using the most recent version of this package:
https://dotnet.myget.org/feed/dotnet-core/package/nuget/NETStandard.Library.NETFramework/2.1.0-preview2-25630-02

So, it seems like the files that are currently in use in the 'testhost' folder need to be updated to use a recent version of the NETStandardLibrary.NETFramework N

[2017-10-05 19:33] henning-krause commented on #19888
I think I have the exact same issue, not a different one.

I construct the private certificate using CopyWithPrivateKey and than pass the new certificate to an SslStream and call AuthenticateAsServer.

The result a Win32Exception:
[code]

[2017-10-05 19:50] jkotas commented on #24271
This recursive generic definition does not work in neither .NET Framework not .NET Core. Both of them fail with the same TypeLoadException.

It is duplicate of https://github.com/dotnet/coreclr/issues/7957

[2017-10-05 19:53] stephentoub commented on #24435
As far as I can tell, this just isn't how libcurl handles Expect: 100-continue; if it receives the full response before it's sent the request body, it doesn't bother to send the request body.  If you believe that's a bug in libcurl, you could open an issue in the curl repo.  I could of course be wrong about what it's doing.

I'm not sure we can do much about this in CurlHandler; the only thing tha

[2017-10-05 19:56] danmosemsft commented on #23996
One hit, servicing branch
@Jiayili1 please reactivate if this occurs regularly.

[2017-10-05 19:56] #23996 closed

[2017-10-05 19:58] Tratcher commented on #24435
The client specified a given content-length and must send that much content or close the connection. Otherwise the server does not know if the next bytes it receives are content or the next request. A similar situation exists for chunked bodies, except that you could shortcut and just send the chunked terminator.

The 100 Continue description does not call this out, but it does specify the reverse

[2017-10-05 19:58] bartonjs commented on #19888
It's possible that SslStream doesn't work with ephemeral-key certificates (I don't know that they have any tests for it).  So that's a different bug.  `CopyWithPrivateKey` is doing what it's supposed to.

CopyWithPrivateKey leaves the private key alone (mostly), it just associates it with the certificate.

* If you just do RSA.Create() (or ECDsa.Create(), etc) you have an ephemeral key.
* If you d

[2017-10-05 19:58] danmosemsft commented on #23279
fixed

[2017-10-05 19:58] #23279 closed

[2017-10-05 20:00] danmosemsft commented on #23899
Moving to 2.x. If this is larger impact we can consider servicing.

[2017-10-05 20:00] karelz commented on #23582
2.0.x branch fixed in PR #23918.

[2017-10-05 20:00] #23582 closed

[2017-10-05 20:00] karelz commented on #23574
2.0.x branch fixed in PR #23918.

[2017-10-05 20:00] #23574 closed

[2017-10-05 20:01] danmosemsft commented on #23830
@weshaggard is there any work left here for 2.0.2?

[2017-10-05 20:02] danmosemsft commented on #23822
@davidsh could you please port this disable?

[2017-10-05 20:02] karelz commented on #23833
Closing as per info above. @jamesqo if you disagree or have more info, please let us know.

[2017-10-05 20:02] #23833 closed

[2017-10-05 20:03] danmosemsft commented on #23427
No more reports/ comments in 6 weeks, servicing branch: I'm going to close.

[2017-10-05 20:03] #23427 closed

[2017-10-05 20:04] henning-krause commented on #19888
Alright, will do that.

[2017-10-05 20:07] ericstj commented on #23830
We did 1, we were blocked on doing 2 & 3 due to buildtools being in limbo.  That's since been fixed.  I think we can decide if we want to do 2 & 3 and ship them at some future date (not necessarily in 2.0.2).

[2017-10-05 20:09] henning-krause opened #24454 "SslStream not working with ephemeral keys"
This issue was opened as result of the discussion in issue #19888.

I have a .net core 2.0 application which hosts a service and secures it via SSL.

My key material is a a key pair where I have the certificate and the private keys in two files. So I load the cert and the keys from disk  and use the X509Certificate2.CopyWithPrivateKey method to construct a certificate with a private key.

That wor

[2017-10-05 20:12] davidsh commented on #24454
Can you please provide more details about how you are doing this?  Please attach a source file showing how you load the files and create a PFX etc. and how you are calling SslStream APIs.  In order to diagnose this, we need as much details as possible so that we are debugging the same APIs you are using.

[2017-10-05 20:13] safern commented on #23702
I will take a look to see where to update this package dependency.

[2017-10-05 20:15] davidsh commented on #23822
Looks like we need to disable them in both 2.0.x and UWP6.0.x servicing branches.

[2017-10-05 20:16] MikhailArkhipov commented on #9503
We really need this to support R in VS Code. Many R users are on Win7

[2017-10-05 20:16] KrzysztofCwalina commented on #24409
I think casting nulls, comparing nulls, etc. should just work and we can make it work. I don't believe there is a solution to the covarinace issue, i.e.
[code]
will always fail and we cannot make it not fail.

[2017-10-05 20:19] henning-krause commented on #24454
Sure:

[code]

[2017-10-05 20:26] Clockwork-Muse commented on #24449
@jnm2 - I agree with you, the Unix epoch is an absolute stamp, so adding "Utc" would be redundant.
The problem is that `DateTime` is a "local" value, even with `DateTimeKind.Utc`; it's a local stamp in the UTC zone.  So the property would be returning something claiming to be absolute, but the rest of the behavior of the type acts like a local/relative value (for example, consider how comparisons

[2017-10-05 20:28] ericstj commented on #23702
That package dependency is declared here; https://github.com/dotnet/corefx/commit/eade3b36725c8d463a40589ff749af5bb0cab8f4#diff-9db89a124f50762cf99552695cb75a50R10

Be very careful about updating it.  You want to make sure that whatever version you use matches what is actually shipped to customers (otherwise we are fooling ourselves to passing our tests and ignoring a customer issue that we need t

[2017-10-05 20:31] ericstj commented on #23702
I'd also like to point out that at this point any bugfix that is made to that codebase should also be made to *desktop* since all that code was ported back into desktop and future framework versions (4.7.2 and later) we don't expect to be using the out-of-band library at all.

[2017-10-05 20:43] tarekgh commented on #24449
This is not true. the ticks inside the DateTime still corresponds to UTC. The problem you raised is only happening if you have an operation that mixes different DateTimeKind.

I am not seeing hurting adding the property to DateTime too. people who want to use that can still run to the exact same problem you mentioned. my preference here is to have the property on DateTime too.
The docs and the int

[2017-10-05 20:45] bartonjs commented on #24454
@davidsh I think it's just

[code]

Either SChannel just doesn't support keys loaded with PKCS12_NO_PERSIST_PRIVATE_KEY, or something in the interop code is assuming that the private key has a persisted/named existence.

[2017-10-05 20:51] davidsh commented on #23702
I plan to submit a PR to release/2.0.0 to fix this file:
https://github.com/dotnet/corefx/blob/dev/release/2.0.0/src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Net46.cs#L528

[2017-10-05 20:53] #22387 closed

[2017-10-05 20:53] #22608 closed

[2017-10-05 20:57] marek-safar commented on #19914
@smuellener could you please file a bug report at bugzilla.xamarin.com with repro for us to investigate further?

[2017-10-05 21:05] ericstj commented on #24409
What if you delayed the co-variance exception to access instead of in the constructor?  Do you think it would be a more intuitive failure, or do you think this is a case where we have to break the rule (you wrote I believe 😉) about throwing from implicit cast.

[2017-10-05 21:48] maryamariyan commented on #24048
That's right.

Sure, we could close the issue if we don't need to track it using this issue.

[2017-10-05 21:51] danmosemsft commented on #24048
Let's close this because it isn't important unless folks hit it and it's a problem. BTW, this is a good reason why its best not to put issue ID's into the implementation code, as now it needs  a change to remove "tracked by 24048"

[2017-10-05 21:51] #24048 closed

[2017-10-05 21:53] danmosemsft commented on #24444
If you have to do a lot of C# / C++ interop we recommend that you autogenerate the interop code. There are number of tools that do that, e.g. https://github.com/mono/CppSharp is one built by the Xamarin folks which we recommend.

[2017-10-05 21:54] twsouthwick opened #24457 "System.IO.Packaging part stream has a memory leak when writing a large stream"
This was found through the DocumentFormat.OpenXML library which uses System.IO.Packaging extensively (original issue: https://github.com/OfficeDev/Open-XML-SDK/issues/244). The issue logged there is trying to generate a large Excel document which uses a working set of around 10mb on .NET 4.7, while it grows quite quickly until hitting a OutOfMemoryException. I've simplified the issue to remove the

[2017-10-05 22:01] Petermarcu commented on #24048
There is also another comment a little further up that I wouldn't want to see in code. That should be cleaned up too.

// Not sure why px returned is null. but the call does not throw and opens folder successfully.

[2017-10-05 22:02] KrzysztofCwalina commented on #24409
I think we need to break the rule.
Doing the check in the accessors (e.g. the indexer) would be both slow and probably surprising

[2017-10-05 22:07] mlawand commented on #23608
@danmosemsft Thank you for sharing the workaround can you please share sample code of it, i have been trying to resolve this issue but i am not able to.

[2017-10-05 22:08] geleems commented on #24417
@danmosemsft  Thanks for the pointing out the label. Yes it is `System.Data.Odbc`, and I changed the label to `System.Data` since we do not have Odbc specific label.

[2017-10-05 22:13] danmosemsft commented on #23608
@mlawand have you put `new ArgumentException()` at the start of your Main or equivalent in your web app?

[2017-10-05 22:16] mlawand commented on #23608
@danmosemsft something like this.

`public static void Main(string[] args)
        {
            new ArgumentException();

            BuildWebHost(args).Run();
        }

        public static IWebHost BuildWebHost(string[] args) =>
            WebHost.CreateDefaultBuilder(args)
                .UseStartup<Startup>()
                .Build();
`

[2017-10-05 22:18] danmosemsft commented on #23608
Yes, did it not work?

[2017-10-05 22:18] #23608 closed

[2017-10-05 22:20] mlawand commented on #23608
no it didn't

[2017-10-05 22:20] danmosemsft commented on #24439
One of these?
https://github.com/dotnet/corefx/issues/23574
https://github.com/dotnet/corefx/issues/23582

[2017-10-05 22:21] danmosemsft commented on #24441
dupe

[2017-10-05 22:21] #24441 closed

[2017-10-05 22:22] davidsh commented on #24439
#23574
#23582

Those bugs are about a different component, System.Web.HttpUtility.  It is different from System.Uri.

[2017-10-05 22:24] benaadams commented on #24409
Its the Exception that proves the rule 😉

[2017-10-05 22:25] mlawand commented on #23608
@danmosemsft i have 4 languages within my app, English, Arabic, Spanish and French. only English is working

[2017-10-05 22:29] Tratcher commented on #24435
I found a few old reports of this problem with libcurl:
https://curl.haxx.se/mail/lib-2004-08/0002.html
https://curl.haxx.se/mail/lib-2011-06/0194.html
I'll try to reproduce it with lib/curl outside of .NET.

[2017-10-05 22:33] Clockwork-Muse commented on #24449
Sorry, when I said "local", I didn't mean `DateTimeKind.Local`.  I meant "the value is a local timestamp to an assumed zone".  And that's why there're problems that result when mixing kinds;

    var u = new DateTime(2017, 10, 5, 0, 0, 0, DateTimeKind.Utc);
    var l = new DateTime(2017, 10, 5, 0, 0, 0, DateTimeKind.Local);
    // prints "636427584000000000|636427584000000000"
    Console.WriteLin

[2017-10-05 22:37] geleems commented on #24417
It works only up to *3,999* characters. The reason is the bind-type is changed to `LONGVARCHAR` when the input string length is longer or equals to  *4,000* characters. The bind-type was supposed to be remained as `VARCHAR` up to *8,000* characters long as shown in design spec.

Here is the code spot that cause this error:
https://github.com/dotnet/corefx/blob/e7723074a7ee7cfbc1da516108d2ad85082d7

[2017-10-05 23:08] pjanotti opened #24462 "Different exceptions being throw in Unix and OSX in HashProviderDispenser"
I didn't check if that is also the case for other locations but we have different exceptions between OSX and Unix for the same issue:

https://github.com/dotnet/corefx/blob/b6ef0f1458bbbb43465eaef04ca396e192ff19ed/src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HashProviderDispenser.OSX.cs#L30

https://github.com/dotnet/corefx/blob/b6ef0f1458bbbb43465eaef04ca396e192ff19ed/src

[2017-10-05 23:11] chris-nissen commented on #23608
I'm also seeing this issue in an Azure web app with the .NET Core 2.0.0 SDK, but ONLY if the Application Insights extension is installed. Languages are en-CA and fr-CA.

[2017-10-05 23:59] twsouthwick commented on #24457
I did some more investigating, and it's only seen on .NET Core because the .NET 4.6 build just contains type forwarders to the System.IO.Packaging classes in WindowsBase. It appears that the reason the memory is growing is due to the `ZipArchiveMode` passed into the `ZipArchive`.

The following is what the packaging library is doing (simplified to show the cause):

[code]

The `Package` creates th

[2017-10-06 00:02] twsouthwick commented on #24457
Looks like there are a few other open issues with performance issues for ZipArchive. @ianhays Any thoughts?

[2017-10-06 00:19] dmetzgar commented on #24410
@karelz, since these essentially don't need WF and aren't deprecated, I think they should be under a different namespace and assembly. But that would mean breaking from the .NET Framework. Also, we wouldn't include the designer for going into the corefx repo. The WF3 runtime won't be ported to .NET Core or Standard and there aren't any other .NET components that depend on rules. I think it's reall

[2017-10-06 00:30] Drawaes commented on #24454
Without looking at all and in my shaky memory on this. I am pretty sure the Schannel code needs to use a key out of the secure keystore in the kernel, which means it needs to be "persisted" ... this might just be a windows limitation

[2017-10-06 00:37] CyrusNajmabadi commented on #19928
With VS a lot of the first chance exceptions thrown (usually thousands of them) all boiled down to a small set of actual methods that did not have TryXXX versions.  I don't think a general solution is needed.  I think we could actually get quite far just by targetting the few bad cases, and updating the higher levels to use those instead.

[2017-10-06 00:43] tarekgh commented on #24449
Thanks @Clockwork-Muse for the clarification.

[2017-10-06 00:45] Drawaes commented on #24454
Actually, the way you made the cert with the key in memory, is it then considered "exportable" because its not in the store (even if temp there). The actual error code you are getting is the "I can't find your private key when I looked for it". I would say the issue is likely this

Schannel can't read the private key from the cert you provided for whatever reason (not in the correct format, not ex

[2017-10-06 01:00] KrzysztofCwalina commented on #24409
That would be an awsome annotation to the design guideline :-)

[2017-10-06 01:01] bartonjs commented on #24454
@Drawaes He already commented that if he exports it as a PFX and reimports it (not using EphemeralKeySet) that things work.  The delta is just ephemeral private keys.

[2017-10-06 01:01] KrzysztofCwalina commented on #19928
Do we have the list?

[2017-10-06 01:05] KirillOsenkov commented on #19928
May I suggest that you start a new VS instance under debugger with first-chance exceptions on. It is educational and worth doing at least once as the best way to familiarize yourself with the problem. Try creating a C# console app, editing, building.

[2017-10-06 01:05] Drawaes commented on #24454
I was meaning load the cert, apply the delta of the keys and then save and load them again... but then I am probably missing context as it's late and I just noticed it came from another issue :)

[2017-10-06 01:08] danmosemsft commented on #23608
The exact trigger for this bug is: there is a AssemblyResolve handler that has a bug: it either returns an assembly that does not match or it throws. It turns out that Assembly.LoadFrom always registers an AssemblyResolve handler with this bug. So another workaround is to remove such an AssemblyResolve handler, and avoid Assembly.LoadFrom. Of course, very often the app does not control whever code

[2017-10-06 01:10] Drawaes commented on #24454
Anyway I would just say the issue is this

The page says it has to be in a store

https://msdn.microsoft.com/en-us/library/windows/desktop/aa379809(v=vs.85).aspx?f=255&MSPPError=-2147217396

[2017-10-06 01:12] sidshetye commented on #23629
@bartonjs : Good point that some algos could want tag first while others at the end and thanks for the reminder that it's an addition to the original spec. I found that considering a use case makes it easier, so here is a cloud-first example:

Here, there is no way to fetch the tag at the end of every stream and provide it to AuthenticatedDecryptor's `Initialize` method. So even if a user voluntee

[2017-10-06 01:28] GrabYourPitchforks commented on #23629
@sidshetye I'm not sure why your cloud-first example is blocked. If you're reading from storage you can download the last few tag bytes first and provide that to the decryptor ctor. If using the Azure Storage APIs this would be accomplished via `CloudBlockBlob.DownloadRangeXxx`.

[2017-10-06 01:36] danmosemsft opened #24466 "Add tests for randomized hashing"
We need tests that randomized string hashing is working correctly on all platforms. One minimal test would be to launch a child process, and check that some string's GetHashCode() gives a different result than it does in the test's own process (maybe with a retry in case of 4 billion : 1 bad luck)
https://github.com/dotnet/coreclr/blob/da8b7181dbe362fbfe64c7ef72ff3a4a7db68f24/src/mscorlib/src/Syst

[2017-10-06 01:37] sidshetye commented on #23629
@GrabYourPitchforks Not to get too sidetracked on that example but that's a specific capability of Azure Blob Storage. In general, VM based storage (IaaS) or non-Azure Storage workloads typically get a network stream that's not seekable.

[2017-10-06 01:37] danmosemsft commented on #24466
@maryamariyan an interesting short task for next week

[2017-10-06 01:57] sdrapkin commented on #23629
I, personally, am very excited to see @GrabYourPitchforks - yay!

@sidshetye , you were so adamant about keeping dumb-n-dangerous primitives and smart-n-huggable protocols separate! I had a dream - and I believed it. And then you throw this at us. This is a protocol - a system design. Whoever designed that protocol you described - messed up. There is no point crying over inability to fit a square

[2017-10-06 01:58] GrabYourPitchforks commented on #23629
(I have a lot of catching up to do on this thread.)

@sdrapkin's raised a point about reusing the `IAuthenticatedEncryptor` interface from the Data Protection layer. To be honest I don't think that's the right abstraction for a primitive, as the Data Protection layer is **quite** opinionated in how it performs cryptography. For instance, it forbids self-selection of an IV or nonce, it mandates tha

[2017-10-06 02:16] jnm2 commented on #24449
Tell them a tick is 919.263177 periods of the radiation corresponding to the transition between the two hyperfine levels of the ground state of the cesium 133 atom. Though presumably the aliens would be so far away that time dilation comes into play and tracking time would become more complex yet. (@jskeet better get NodaTime ready for intergalactic calendars? 😃)

[2017-10-06 02:26] narciero commented on #23426
as a follow up to @karelz post, are there any plans to eventually implement this? i am happy to help out, thanks.

[2017-10-06 03:07] SimonCropp opened #24468 "ETA for a stable System.ServiceProcess.ServiceController v4.5 package (for netcore)"
### Context

The `ServiceBase` functionality for netcore is provided by the [System.ServiceProcess.ServiceController](https://www.nuget.org/packages/System.ServiceProcess.ServiceController/) package. However the current stable version does not provide enough functionality so an [unstable version](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.ServiceProcess.ServiceController) needs

[2017-10-06 03:09] SimonCropp commented on #24468
and as a followup. can the current unstable of System.ServiceProcess.ServiceController v4.5 please be published to nuget

[2017-10-06 03:13] morganbr commented on #24416
What's the value of ICastable to developers outside of interop? As I understand it right now, it's very dangerous and fragile and only fulfills a very specific purpose. If you just have layering problems for System.Private.Interop, we can probably work out something more scoped than making ICastable public.

[2017-10-06 03:14] pjanotti commented on #24228
@tintoy this is a limitation of anonymous pipes in Windows:

source: https://msdn.microsoft.com/en-us/library/aa365141(VS.85).aspx

[2017-10-06 03:15] sidshetye commented on #23629
@sdrapkin We're going off topic again. I'll just say that a system is built using primitives. The crypto primitives here are bare and powerful. While the system/protocol layer handled buffering; that too at a cluster level, certainly not in main system memory that the one shot primitives would force. 'chunking' boundary is X (X=10GB here) because < 64GB, because buffering capacity of the cluster w

[2017-10-06 03:31] davidsh commented on #23702
https://github.com/dotnet/corefx/blob/dev/release/2.0.0/src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Net46.cs#L528

I submitted a PR #24469 to port fixes to release/2.0.0 branch.

[2017-10-06 03:48] jkotas commented on #24444
cc @russellhadley

It would be nice to have an example that shows how to use this tool with .NET Core.

[2017-10-06 03:55] danmosemsft commented on #24468
@SimonCropp we aim to have a stable version on nuget next month. Can you get by with the myget version meantime?

Incidentally, have you found that the myget version works for you -- this is good confirmation that it is ready to release.

[2017-10-06 03:57] danmosemsft commented on #24462
Presumably they should do what Windows does, which I think is to throw CryptographicException?
https://github.com/dotnet/corefx/blob/154c2a35d5480d359729959f3e3e7d8578a18612/src/Common/src/Internal/Cryptography/HashProviderCng.cs#L48

[2017-10-06 03:59] SimonCropp commented on #24468
@danmosemsft thanks to getting back to me so quick

Yep been using it on and off for a couple of months now. stable enough for me. ie i have not been able to tell it is a beta

For me yes. but we [have doco around this stuff for clients](https://docs.particular.net/samples/hosting/windows-service/?version=core_7#net-core-system-serviceprocess-servicecontroller). and would prefer to minimise the nu

[2017-10-06 04:08] danmosemsft commented on #24468
OK, well it should be about a month.

[2017-10-06 04:32] tintoy commented on #24228
Ah, ok thanks - that's the missing piece of the puzzle; I'll stick to named pipes for now then :)

[2017-10-06 04:32] #24228 closed

[2017-10-06 04:59] SimonCropp commented on #24468
thanks. please ping me if u want someone to smoke test

[2017-10-06 05:23] danmosemsft commented on #24117
This is fixed by #24188

[2017-10-06 05:23] #24117 closed

[2017-10-06 05:25] danmosemsft commented on #23125
@davkean did you figure out any more ?

[2017-10-06 06:35] loopnotzero opened #24472 "HttpClient post request throws exception "Couldn't connect to server" in ubuntu server"
The deployment I'm doing in ubuntu server in pair of Kestrel, Nginx e.t.c.
All the steps from this documentation: https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction?tabs=aspnetcore2x

**Ubuntu information:**
Distributor ID: Ubuntu
Description: Ubuntu 16.04.3 LTS
Release: 16.04
Codename:  xenial

So, the problem as I see from the stack trace is exactly on the HttpClient initial

[2017-10-06 07:50] clemensv commented on #24142
@stephentoub are you saying that SslStream isn't safe to use from multiple IO threads?

[2017-10-06 08:03] johanskoldekrans commented on #24440
@Petermarcu @dougbu The below HTML is generated from an empty project where I just made a class to send through the controller and render.

[AttributeExample.zip](https://github.com/dotnet/corefx/files/1361979/AttributeExample.zip)

The first example is using 1.1 and the below HTML is generated from the same project (just changed to the metapackage and netapp-version 2.0).

[code]

[2017-10-06 09:31] tmds commented on #24281
@bartonjs @stephentoub I gave this a try and `SSL_CERT_FILE` is used by `curl` but not by .NET Core.

On Fedora 25 using .NET Core 2.0.

Using curl:
[code]
Using .NET Core, performing `HttpClient.GetAsync("https://www.microsoft.com")` in console.dll
[code]
.NET Core is still using the system bundle:
[code]

[2017-10-06 09:56] poizan42 commented on #24439
@rmkerr I think the underlying issue is that the Uri constructor is simply trying to do too much. The problem people have is that they have a raw file path and they want a file uri representing that file path. But the Uri constructor does not distinguish between whether the input is escaped or not.

My suggestion would be to add a static public factory method "FromFilePath" that would simply expec

[2017-10-06 10:45] stephentoub commented on #24142
It can be used for one write and one read at a time. It'll throw exceptions if you try to use it for more than concurrent read or more than one concurrent write.

[2017-10-06 10:51] stephentoub commented on #24472
What kind of exception is it? What's its message? Inner exception?

[2017-10-06 10:59] supporterPL commented on #24364
@stephentoub Is exclusive lock around read/write code will be enough?

` lock (LazyInitializer.EnsureInitialized(ref s_libraryTableSyncObject))
      {
            if (!PerformanceCounterLib.s_libraryTable.TryGetValue(libraryKey, out library))
            {
                library = new PerformanceCounterLib(machineName, lcidString);
                PerformanceCounterLib.s_libraryTable[libraryKey]

[2017-10-06 11:20] stephentoub commented on #22417
We agreed in the API review to revert back to the original proposal:
[code]

[2017-10-06 11:33] stephentoub commented on #24364
@supporterPL, that would fix the race condition, but it would also incur taking a lock even on the fast path of just reading an already initialized counter.  I've not measured, but I suspect that could actually lead to a scalability issue.  A better fix in my opinion would be using a ConcurrentDictionary instead of a Dictionary.

[2017-10-06 11:34] sdrapkin commented on #23629
NIST 800-38d sec9.1 states:

GCM shall be implemented only within a cryptographic module that meets the requirements of
FIPS Pub. 140-2. In particular, the cryptographic boundary of the module shall contain a
“generation unit” that produces IVs according to one of the constructions in Sec. 8.2 above.
The documentation of the module for its validation against the requirements of FIPS 140-2 shall
de

[2017-10-06 12:03] ViktorHofer opened #24473 "Serialization error in .net core 2.0, same code was working in .net core 1.1"
@chintan3100 commented on [Mon Sep 11 2017](https://github.com/dotnet/core/issues/959)

 public class CustomClass
    {
        [Required]
        public System.Guid? clientId { get; set; }
}

`"\"bb2f3da7-bf79-4d14-9d54-0a1f7ff5f902\""`

system.argumentexception Could not cast or convert from System.String to System.Guid. newtonsoft.json

   at Newtonsoft.Json.Serialization.JsonSerializerInternal

[2017-10-06 12:04] supporterPL commented on #24364
@stephentoub I will try to compare performance between lock and ConcurrentDictionary in different scenrios and let you know.

[2017-10-06 12:28] BlaiseD commented on #24410
Thanks guys. Correct - the designer was updated to provide a UI for the new libraries - it was not meant to be added to corefx.

@dmetzgar Just so I understand your recommendations.  In either case (**community project** or **Microsoft.Extensions**) it means maintaining the code in my own repository outside of the Microsoft github repositories? Or does Microsoft.Extensions carry a different meanin

[2017-10-06 12:33] gimpf commented on #14354
@morganbr I can put together a PR as time permits. Also, I personally would prefer xx32 too, as long as it doesn't reduce acceptance.

[2017-10-06 13:39] jnm2 opened #24475 "Proposal: SmtpClient.SendMailAsync overload with cancellation"
## Problem

Right now there's a `SendAsyncCancel` method which is used to cancel the event-based pre-TPL `SendAsync`. `SendMailAsync` is implemented as a wrapper around `SendAsync` ([code](https://github.com/dotnet/corefx/blob/e6084de42bbef119027a8ac4eb7a60789b153b51/src/System.Net.Mail/src/System/Net/Mail/SmtpClient.cs#L782-L805)) but for some reason neglects to take and apply the customary cance

[2017-10-06 13:42] qmfrederik commented on #24213
As a FYI for anyone who might be seeing a similar issue:

We migrated from CoreCompat.System.Drawing to System.Drawing.Common as we consider System.Drawing.Common to be the more stable library.

Not being able to load `libgdiplus.dylib` from a NuGet package/redistribute it with our app was immediate cause for helpdesk tickets; so here's what we did instead:

- `runtime.osx.10.10-x64.CoreCompat.Sys

[2017-10-06 13:43] TylerBrinkley commented on #24449
The problem would be communicating that. They

[2017-10-06 13:54] stephentoub commented on #24457
@twsouthwick, it's doing the exact same thing on both .NET Framework and .NET Core?

[2017-10-06 14:14] dougbu commented on #24440
@johanskoldekrans you originally said earlier versions had used `type="date"`. If you meant, `type="datetime"` then all is as-expected. That `type` has been deprecated and MVC has used `type="datetime-local"` since 2.0.0.

I'd also expect browsers to have trouble rendering a control for either `type`. The `d` format doesn't include the time portion a date/time picker needs.

[2017-10-06 14:19] supporterPL commented on #24364
@stephentoub  You were right. ConcurrentDictionary is faster for fast and slow path. May I take this issue?

Results:

Method | ConcurrentThreads | Mean | Error | StdDev | Median
-- | -- | -- | -- | -- | --
FastPathLockTest | 10 | 9.497 us | 0.1999 us | 0.5895 us | 9.526 us
FastPathConcurrentDictionaryTest | 10 | 6.352 us | 0.0385 us | 0.0342 us | 6.348 us
SlowPathConcurrentDictionaryTest | 10 | 7

[2017-10-06 14:22] AtsushiKan commented on #23883
The apis are now exposed in the contracts and functioning on CoreCLR and CoreRT.

There is an optional "up-for-grabs" perf opportunity in CoreCLR. CoreCLR right now defaults to the fallback implementation on Type.cs, which works but invokes three virtual calls and the unnecessary retrieval of a `MethodInfo`. It'd be nice to override these two apis here:

https://github.com/dotnet/coreclr/blob/076a

[2017-10-06 14:24] stephentoub commented on #24364
Sure, thanks :)

[2017-10-06 14:46] bartonjs commented on #24281
@tmds The problem is you didn't also set SSL_CERT_DIR.  (From curl that would end up as "read the first certificate from each file in the directory", I guess; whereas we seem to be "read all certs from all files in the directory")

[code]

[2017-10-06 15:05] tmds commented on #24281
Setting SSL_CERT_FILE=/tmp/ca-bundle.crt works for curl.
To what should I set SSL_CERT_DIR and SSL_CERT_FILE to use the bundle at /tmp/ca-bundle.crt?
Even when I set both vars, it still goes to the system bundle:
[code]

Perhaps Ubuntu is behaving different from Fedora?

[2017-10-06 15:19] supporterPL commented on #24364
Added PR (#24476).

[2017-10-06 15:21] loopnotzero commented on #24472
The shown stack trace is all that I have, more precisely this is all that was in systemctl status.
Let me check (in couple of hours) more info if I can

[2017-10-06 15:29] tarekgh commented on #23608
I am not aware of any other workaround other than forcing en-US as current UI culture.
Is there a way they can opt-in using the new servicing bits of 2.0?

[2017-10-06 15:32] twsouthwick commented on #24457
The distinction between .NET Framework and .NET Core was a red herring; the .NET Framework build was using a `System.IO.Packaging` that redirects to the implementation in `WindowsBase`. When I ran the code in corefx manually against .NET Framework, it repros the same. So, yes, it is doing the same thing on both .NET Framework and .NET Core.

[2017-10-06 15:43] karelz commented on #24410
Community NuGet packages should not start with Microsoft or System. It helps everyone distinguish which NuGet package is supported by MS vs. not.

Given that Microsoft.Extensions is maintained by MS (mainly ASP.NET Core team), I don't it's the easiest route for this corner-case package, unless there is a team which would sign up for owning the package long-term (that would be likely @dmetzgar's te

[2017-10-06 15:44] karelz commented on #24410
Community NuGet packages should not start with Microsoft or System. It helps everyone distinguish which NuGet package is supported by MS vs. not.

Given that Microsoft.Extensions is maintained by MS (mainly ASP.NET Core team), I don't it's the easiest route for this corner-case package, unless there is a team which would sign up for owning the package long-term (that would be likely @dmetzgar's te

[2017-10-06 15:44] ektrah commented on #23916
I'm would grab this, but I have a few questions.

I guess the implementation is the same as for the existing `AsRef` method...

https://github.com/dotnet/corefx/blob/883ce3820853a1dbff5902b9428369135c0d327a/src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il#L261-L283

... except for the method signature:

[code]

* How are ~~`ref readonly`~~ `in` parameters de

[2017-10-06 15:47] karelz commented on #22417
@stephentoub I thought we decided to postpone the decision for later, rather than making a decision ... https://github.com/dotnet/apireviews/blob/master/2017/10-03-GitHub%20issues.md

[2017-10-06 15:51] BlaiseD commented on #24410
Clear -  from earlier comments it sounded like @dmetzgar was saying Microsoft.Extensions was an option.

[2017-10-06 15:51] #24410 closed

[2017-10-06 16:06] danmosemsft commented on #23608
@tarekgh yes it should be possible to follow these instructions:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#advanced-scenario---using-a-nightly-build-of-microsoftnetcoreapp
and it would be good too, as it would confirm that the issue is fixed.

Do you have time to try this out and report back?

[2017-10-06 16:06] Petermarcu opened #24477 ".Net WebClient.DownloadData api result in different behavior in some kind of project"
@treeicnliu commented on [Sat May 27 2017](https://github.com/dotnet/core/issues/664)

I got different http packages by fiddler4 when i call the same fucntion WebClient.DownloadData(string uri) api with the same param uri on web proj and console proj.

I found that webclient will auto decode uri in web proj,and keep the origin uri in console proj.

is it a .net issue ?

The uri below can't access,

[2017-10-06 16:10] davidsh commented on #24477
This is probably not a WebClient issue. Rather, it is a System.Uri issue dealing with percent encoded octets.  We have several behavior differences in this area between NETFX and NETCore. We are working on fixing several bugs in NETFX (Desktop) (and probably will have AppContext quirking for those).  After that, we can determine what fixes are appropriate to bring to NETCore for System.Uri changes

[2017-10-06 16:10] ajcvickers commented on #24440
@dougbu Fair to say we can close this as by-design?

[2017-10-06 16:11] stephentoub commented on #24457
I'm a little confused :)  What is doing the same thing?  Is ZipArchive behaving the same between .NET Framework and .NET Core, but System.IO.Packaging is behaving differently between the two?  Or is the issue you cited with Packaging also reproing with .NET Framework?

[2017-10-06 16:18] stephentoub commented on #22417
We decided to postpone discussion of TransformationStatus.  I just re-watched starting from 1:13:30... it seems like we agreed to go back to the original thing proposed without TransformationStatus, no?

[2017-10-06 16:21] karelz commented on #22417
@stephentoub it's quite possible, I didn't pay too much attention. If you think it is non-controversial, I am fine.

[2017-10-06 16:35] stephentoub commented on #22417
@bartonjs, @KrzysztofCwalina, can you confirm my recollection?

[2017-10-06 16:39] jkotas commented on #23916
- They are marked with IsReadOnlyAttribute.

For netcoreapp builds, it should look like this:
[code]

For non-netcoreapp builds, it should look like this:
[code]

And there needs to be a local definition of IsReadOnlyAttribute included in the file for non-netcoreapp builds.

The best way to figure this out is to compiler a small test program that has `ref readonly` method using  Roslyn that has `r

[2017-10-06 16:40] dougbu commented on #24440
@ajcvickers yup.

@johanskoldekrans the 2.0.0 choices weren't the end of the story e.g. because our default formats for `type="datetime-local"` don't round-trip `DateTimeOffset` offsets. We've fixed a few bugs in this area in the MVC [repo](https://github.com/aspnet/Mvc) and issues with the current code should be filed [there](https://github.com/aspnet/Mvc/issues).

[2017-10-06 16:40] #24440 closed

[2017-10-06 16:42] weshaggard commented on #24346
Yes that is a correct summary. Can you handle the removal of the package and adding it to the shared framework?

[2017-10-06 16:42] dougbu commented on #24440
(This repo doesn't have by-design, won't fix, or similar labels. Should it?)

[2017-10-06 16:42] ajcvickers commented on #24440
Thanks @dougbu. Appreciate your help!

[2017-10-06 16:48] ajcvickers commented on #24440
@dougbu It's corefx, so it's like a wonderful collision of the Microsoft galaxy with the open-source galaxy which results in a lot of beautiful stuff, but it's not quite like what we're used to. So, no, apparently not.

[2017-10-06 16:51] twsouthwick commented on #24457
Sorry about that.

- ZipArchvie is behaving the same between .NET Framework and .NET Core. The `ZipArchive` snippet is used in the .NET Core implementation of System.IO.Packaging; I don't know what is used in the .NET Framework implementation since it's in WindowsBase.
- System.IO.Packaging is behaving differently between .NET Framework and .NET Core. On .NET Framework, the original code snippet w

[2017-10-06 16:52] dmetzgar commented on #24410
Sorry for the confusion on that. I was trying to say if it was adopted by Microsoft, I think it fits better as an extension package than as a part of .NET Core. I think the reason this rules implementation never went further is because BizTalk has a better rules implementation. We wanted to build a common workflow and rules system that BizTalk and other MS products could use (like SharePoint, Dyna

[2017-10-06 16:53] realityexists commented on #5667
I'm running into this issue again under Ubuntu 16.04. dotnet --version = 2.0.0

I'm trying to connect to a Dovecot IMAP server configured to require client SSL certificates. Dovecot logs show that no certificate is sent when the client is running on Linux, but it is sent (and authentication succeeds) when running on Windows 7.

Minimal repro client code:

	var socket = new Socket(SocketType.Stream

[2017-10-06 16:57] bartonjs commented on #24281
[code]

Maybe.  I don't have a Fedora machine available, but I checked it with RHEL:

[code]

[code]

It's maybe possible that the environment variable names are different on Fedora? You could do something like this to check:

[code]

My system data

[code]

Our functions are fairly straightforward if you want to try debugging to see what's happening:  https://github.com/dotnet/corefx/blob/release

[2017-10-06 17:00] KrzysztofCwalina commented on #22417
We postponed adding TransformationStatus to the core. The reason being that Convert APis should stay simple for scenarios where a single buffer is being manipulated. TransformationStatus adds very significant complexity and is only useful when dis contiguous buffers need to be processed.

[2017-10-06 17:00] bartonjs commented on #22417
IIRC I was the original proponent of using TransformationStatus for Base64.  In the Tuesday meeting I said I'd changed my mind and thought simple bool-Try was sufficient; but then I had to leave.

Assuming no one else disagreed after I left, seems good to me.

[2017-10-06 17:08] realityexists commented on #5667
Also, `SslStream.IsMutuallyAuthenticated` is false after running the above code on Linux, but true on Windows.

[2017-10-06 17:14] tmds commented on #24281
@bartonjs I will try it next week. We are testing in a different way. Can you check if HttpClient uses those envvars (that is how I am testing)?

[2017-10-06 17:16] bartonjs commented on #5667
@realityexists What is the value of `clientCert.HasPrivateKey`?  If it's `false` then there's logic to search the CurrentUser\My and (on non-Linux) LocalMachine\My stores to find a matching cert which has a private key; which you may have installed in Windows but not Linux.  If it's `true` (e.g. the cert file is a PFX with a private key) then it should work since the private key is already known.

[2017-10-06 17:17] Petermarcu opened #24478 "The type initializer for 'System.Drawing.KnownColors' threw an exception"
@lianggx commented on [Mon Apr 17 2017](https://github.com/dotnet/core/issues/594)

debian.8.x.x64
if you throw The type initializer for 'System.Drawing.KnownColors' threw an exception
to do:apt-get install libgdiplus

I hope some one can fix it！

---

@richlander commented on [Mon Jul 03 2017](https://github.com/dotnet/core/issues/594#issuecomment-312744247)

@lianggx can you share a sample?

---

[2017-10-06 17:22] BlaiseD commented on #24410
No problem - thanks all the same.  If I'm correct BizTalk still requires IIS or can its rules engine run on any .Net Framework client without IIS like the WF rules engine? That might be the only loss?

[2017-10-06 17:27] Petermarcu opened #24480 "Toooooo slow interacting with MS sql server under Ubuntu 16.04 (both using EF or SQLDataReader)"
@gorsand commented on [Fri Aug 11 2017](https://github.com/dotnet/core/issues/802)

# Issue Title

Toooooo slow interacting with MS sql server under Ubuntu 16.04 (either by EF or SQLDataReader)

# General

I have a web API application on dotnet under Core 2.0, Ubuntu 16.04, and an MS SQL server as data storage (totally < 1Gb of data there). Core i5 with 8 GB memory laptop, SSD 120 GB. Both the app

[2017-10-06 17:31] realityexists commented on #5667
@bartonjs you've just helped me find the workaround for this! Thanks very much.

`HasPrivateKey` is a property on `X509Certificate2`, while I had a `X509Certificate`. If I add the line:

    clientCert = new X509Certificate2(clientCert);

then authentication succeeds and `IsMutuallyAUthenticated` = true. (And yes, `HasPrivateKey` is true.)

This seems like some bizarre behaviour - I'm not sure why

[2017-10-06 18:01] Petermarcu opened #24481 "Strange generic expressions type check behavior"
@chrbaeu commented on [Thu Aug 17 2017](https://github.com/dotnet/core/issues/856)

The following code prints with netcoreapp1.0 and net461:
[code]
And  with netcoreapp2.0:
[code]
I think netcoreapp2.0 should show the same results as the other.
[code]

---

@svick commented on [Thu Aug 17 2017](https://github.com/dotnet/core/issues/856#issuecomment-323069527)

As far as I can tell, the reason for

[2017-10-06 18:02] Petermarcu commented on #24481
cc: @bartdesmet, @VSadov

[2017-10-06 18:07] Petermarcu opened #24482 "HttpClient Coding problem"
@tianmaoyu commented on [Mon Jul 31 2017](https://github.com/dotnet/core/issues/782)

# HttpClient Coding problem
Problems with Chinese Fonts

# General
[code]

result string:
[code]
[code]

[EDIT] Changed code formatting for readability by @karelz

---

@tianmaoyu commented on [Mon Jul 31 2017](https://github.com/dotnet/core/issues/782#issuecomment-318999778)

[code]

[2017-10-06 18:08] Petermarcu opened #24483 "System.PlatformNotSupportedException: 'Registry is not supported on this platform.'"
@saharM commented on [Mon Aug 21 2017](https://github.com/dotnet/core/issues/876)

## Steps to reproduce:

In Visual Studio 2017 version 15.3.0, in a .NET Core 2.0 Class library I install this Nuget package:

    <PackageReference Include="Microsoft.Win32.Registry" Version="4.4.0" />

I write a simple method that uses RegistryKey class like this:

        internal static bool ReadRegistry()

[2017-10-06 18:31] Petermarcu opened #24484 "cannot import X509Certificate from file in .net core 2.0"
@xingzhougmu commented on [Sat Sep 02 2017](https://github.com/dotnet/core/issues/932)

# Issue Title

cannot import X509Certificate from file in .net core 2.0

# General

The following code works perfectly in .net core 1.0, however, does not in .net core 2.0.
`X509Certificate clientCert = new X509Certificate(Directory.GetCurrentDirectory() + "/Certs/Production/CN_Certificate.crt");`

Under .net c

[2017-10-06 18:35] fiigii commented on #24346
Sure, will do. But I have no experience on the shared framework, could you point an example to me? @weshaggard @jkotas

[2017-10-06 18:37] tannergooding commented on #23916
@jkotas, I thought they additionally had a `modreq`? https://github.com/dotnet/csharplang/blob/ac995bd794be5a17acb52c30dfa4d61a1bfd15c9/proposals/csharp-7.2/readonly-ref.md#metadata-representation

CC @VSadov

[2017-10-06 18:50] Petermarcu opened #24485 "SmtpClient throws NullReferenceException on Dispose()"
@sibvic commented on [Wed Aug 30 2017](https://github.com/dotnet/core/issues/912)

I'm using:
    <TargetFramework>netcoreapp2.0</TargetFramework>

    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />
    <PackageReference Include="Microsoft.EntityFrameworkCore.Tools" Version="2.0.0" PrivateAssets="All" />
    <PackageReference Include="Microsoft.VisualStudio.Web.CodeGenerat

[2017-10-06 18:51] Petermarcu opened #24486 ".Net Core :HttpClient fails with : The server returned an invalid or unrecognized response on every request"
@savkris commented on [Wed Aug 16 2017](https://github.com/dotnet/core/issues/844)

**HttpClient fails with: The server returned an invalid or unrecognized response**

# General
By requesting an API endpoint that, the first call succeeded but never again. The page loads on any browser otherwise.
Using Fiddler to inspect to try and find out what is going on: I am getting this response back with 200

[2017-10-06 18:52] mconnew commented on #5667
Why doesn't SslStream throw a descriptive exception to the client in this scenario? The consumer passed a certificate which didn't have a private key. I understand not throwing immediately as the server might not ask for it and that would break existing code, but the point where the server requests the client certificate and the client can't prove it has the private key, when the server aborts the

[2017-10-06 18:54] realityexists commented on #5667
It did have a private key.

[2017-10-06 19:03] davidsh commented on #24485
This code starts an async operation and it is still running when this code exits the 'using' block.  The code should wait until the async operation is done before existing the 'using' block.

[code]

[2017-10-06 19:06] Petermarcu commented on #24485
Agreed, @sibvic let us know if you have any issues after you update your code to do as @davidsh suggests. I'm going to close this now as it doesn't appear to be an issue in .NET Core.

[2017-10-06 19:50] weshaggard commented on #24346
I believe the only thing that is needed is to set IsNETCoreApp=true in the dir.props like https://github.com/dotnet/corefx/blob/master/src/System.Runtime/dir.props#L7, and remove the pkg directory completely.

[2017-10-06 19:57] msvprogs commented on #24485
I've used synchronous Send() method, nevertheless, I experienced the same problem.

[2017-10-06 20:12] danmosemsft commented on #23588
I think 3.0.1 needs to go in two places

https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/CodeCoverage.targets#L9
https://github.com/dotnet/corefx/blob/7f1c480a6a280fbced29606120b507596bafbefc/external/test-runtime/XUnit.Runtime.depproj#L64

[2017-10-06 20:18] Tratcher commented on #24435
Curl.exe demonstrates one of the two correct behaviors, when it receives a final status code rather than a 100 Continue it closes the connection. This implies that the issue with libcurl is a usage issue rather than an inherent defect. .NET may need to mirror Curl's behavior.

[2017-10-06 20:27] danmosemsft opened #24487 "Need good diagnostics for missing dependencies"
Where ever .NET Core has a requirement on some dependency, we should document it, and far as possible when at runtime it should indicate how to fix the problem.

1. Build time dependencies documented with good errors if not found (focus on CoreFX/CoreCLR repo):

- [ ] RHEL/Centos  ([here](https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md))
- [ ] Fedo

[2017-10-06 20:28] danmosemsft commented on #24487
cc @Petermarcu

It will take some time to check all these boxes.

[2017-10-06 20:29] stephentoub commented on #24435
Presumably you're testing with 200 rather than an error status code?  Can you share what curl command-line you're using on Unix?  I'd like to see what that triggers in libcurl.

[2017-10-06 20:29] Priya91 commented on #24485
@msvprogs Can you post the exact repro code you used and the callstack?

[2017-10-06 20:33] Petermarcu commented on #24487
I don't think the split is on OS's. I think its on dependency. Linux is the place to focus first because we really don't have any dependencies on Windows and Mac anymore. We should also focus on runtime dependencies first and do the hardening at the callsites to the dependencies to ensure we give a good message.

The checklist should look more like what is in this list I think:

https://github.com

[2017-10-06 20:36] loopnotzero commented on #24472
Ok, I got it.

The interesting thing that the serivce where I do post request is pinging ok, telnet is ok.

[2017-10-06 20:37] Tratcher commented on #24435
I was testing with curl on windows. The first response was a 301 so I could induce the exe to make an additional request on the same connection. When the server sends a 100 continue the client uploads the remaining data and then follows the redirect on the same connection. When the server sends just the 301 then the client closes the connection and creates a new one for the redirect.
`curl -L -d "

[2017-10-06 20:46] Petermarcu opened #24488 "System.IO.FileNotFoundException System.DirectoryServices.AccountManagement"
@CarlosOnline commented on [Fri Sep 15 2017](https://github.com/dotnet/core/issues/970)

# System.DirectoryServices.AccountManagement won't load from asp.net Core 2.0 (netcoreapp2.0) website
Referencing .net 4.5.1 framework class library from asp.net Core 2.0 (netcoreapp2.0), where class library references System.DirectoryServices.AccountManagement leads to receives FileNotFound exception.

**Syst

[2017-10-06 20:46] Petermarcu commented on #24488
This is expected as System.DirectoryServices.AccountManagement is not supported on .NET Core today. There is work in progress to support parts of System.DirectoryServices. @danmosemsft can you give any more details on which parts and when?

[2017-10-06 20:48] fiigii commented on #24346
@weshaggard Thanks! Will submit a PR.

[2017-10-06 20:48] bartonjs commented on #24484
@xingzhougmu can you share a file which produces that behavior?

[2017-10-06 20:53] stephentoub commented on #24435
And in this case you saw curl.exe close the connection, but connecting to the same 301-returning-url with HttpClient didn't close the connection?

I asked about a 200 status code because libcurl special-cases >= 300 status codes in this behavior:
https://github.com/curl/curl/blob/master/lib/http.c#L3168-L3208
so I don't think the test is verifying the desired behavior.

[2017-10-06 20:55] bartonjs commented on #5667
I think that the design of SslStream was to allow passing the entirety of store.Certificates from the LM\My or CU\My store.  It does some matchy logic to try to find more private keys, then ignores anything that was public-only (and, sometimes, "this cert doesn't chain to something on the server's published trust list") and it doesn't understand "I don't have any client certs" to be an error.

And

[2017-10-06 20:58] Tratcher commented on #24435
Fair. I don't see another way to make curl.exe send multiple requests in the same instance (and therefor on the same connection) so we won't be able to repro the original scenario using the exe.

[2017-10-06 21:02] msvprogs commented on #24485
@Priya91
Stacktrace:
`Sep 25 00:09:31 localhost dotnet: #033[41m#033[30mfail#033[39m#033[22m#033[49m: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware[0]
Sep 25 00:09:31 localhost dotnet: An unhandled exception has occurred: Object reference not set to an instance of an object.
Sep 25 00:09:31 localhost dotnet: System.NullReferenceException: Object reference not set to an instance of an

[2017-10-06 21:10] danmosemsft commented on #24488
The goal is all the API in these ref files, which I believe is all of directory services:

https://github.com/dotnet/corefx/blob/master/src/System.DirectoryServices/ref/System.DirectoryServices.cs
https://github.com/dotnet/corefx/blob/master/src/System.DirectoryServices.Protocols/ref/System.DirectoryServices.Protocols.cs
https://github.com/dotnet/corefx/blob/master/src/System.DirectoryServices.Acc

[2017-10-06 22:03] stephentoub commented on #24457
Thanks, @twsouthwick.  I took a quick look.  It looks like Package in WindowsBase uses its own internal ZipArchive that has streaming support.

[2017-10-06 22:04] tarekgh commented on #24488
My understanding is all APIs already there including the AccountManagement namespace.

CC @tquerec as he is the one ported the whole namespaces to .net core.

I think this can be the problem of trying to load the desktop version of the assembly and not the net core version.

CC @weshaggard @AlexGhiondea if they have input about that

[2017-10-06 22:08] Petermarcu commented on #24488
Do we need any types of facades to map these things to .NET Framework?

[2017-10-06 22:20] danmosemsft commented on #24488
@Petermarcu yes, the build needs to create such facades; we will include them in the compat package (actually a separate package referenced by the metapackage). @tarekgh I see that directory services isn't making facades right now. That's easy to fix. I'll open a bug.

[2017-10-06 22:37] wfurt commented on #24255
the build problem should be fixed in master @sec I have changes in my private drop to make more corefx tests runable.

[2017-10-06 22:55] PeterSmithRedmond commented on #24486
I just tried to repro this problem using the latest bits; it gets data from that url twice with no trouble.  See attached program.cs file for my simple repro.
[Program.cs.txt](https://github.com/dotnet/corefx/files/1364073/Program.cs.txt)

[2017-10-06 22:59] krwq commented on #21920
I wasn't able to repro the original issue but have seen some other issues with this test - seems like they are related to docker:
- `sudo <command>` is failing on docker, replacing it in RunAsSudo with `su -c '<command>'` is fixing this issue
- `mount` run as root is still giving `permission denied` - docker seems to be blocking it - when creating container you supposedly need to pass `--privilege

[2017-10-06 23:26] weshaggard commented on #24488
No we don't need a facade this assembly already exists with the same identity in the .NET Framework.

Based on the description what is needed is a reference to our .NET Core package as they are trying to consume a net451 library on .NET Core.

[2017-10-06 23:33] SimonCropp commented on #24468
@danmosemsft it would also be great if ServiceBase had async OnStart and OnStop methods. Do u need a diff issue for that?

[2017-10-06 23:38] danmosemsft commented on #24468
For sure, you could make an API proposal as described in [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

@weshaggard do you see any issues with potentially adding API to this library? I don't.

[2017-10-06 23:39] danmosemsft commented on #24468
Note, such API might take a while to get ported to desktop .NET Framework, depending on interest. That release runs on a different schedule.

[2017-10-06 23:45] weshaggard commented on #24468
There is no issue with adding new APIs for .NET Core specifically it won't enable them to work on .NET Framework or .NET Standard.

[2017-10-06 23:54] safern commented on #24153
Fix is out: https://github.com/dotnet/corefx/pull/24493

[2017-10-07 00:29] ahsonkhan commented on #24402
Renaming the folder does not resolve the issue. I still see restore failure error on Ubuntu and OSX:
https://github.com/dotnet/corefxlab/pull/1826
https://ci.dot.net/job/dotnet_corefxlab/job/master/job/osx10.12_release_prtest/833/consoleFull#7440085258bb52e59-de52-4f1c-b131-470db4c594cd

[2017-10-07 00:32] maryamariyan commented on #24402
@ahsonkhan I meant you could rename the dotnet folder, not the dotnet shell script name.

Also note, I'm putting up a PR in a bit that should fix this.

[2017-10-07 00:37] ahsonkhan commented on #24402
That is what I have done in this [PR](https://github.com/dotnet/corefxlab/pull/1826/files). I changed the dotnet folder to dotnetcli.

[2017-10-07 00:50] SimonCropp commented on #24468
https://github.com/dotnet/corefx/pull/24494

[2017-10-07 06:05] Petermarcu opened #24495 ".net core 1.1 IFormFileCollection files Performance issue"
@chintan3100 commented on [Sun Sep 03 2017](https://github.com/dotnet/core/issues/934)

   public async Task<bool> Put(IFormFileCollection files)
        {
            return await UpdateFile(file);
        }

I have hosted application in azure PAAS and analysis log of server. 6 second are taking to get file on server. file size 10 MB.
Ref Link:http://weblogs.thinktecture.com/pawel/2017/03/aspnet-

[2017-10-07 06:24] dluc opened #24496 "System.Net.Http.HttpContent.ReadAsStringAsync fails for ISO-8859-15 (Latin-9)"
I'm trying to read the HTTP response from a web service, where the content type header is:

[code]

When invoking `System.Net.Http.HttpContent.ReadAsStringAsync()` my app fails with `System.InvalidOperationException`  "*The character set provided in ContentType is invalid. Cannot read content as string using an invalid character set.*"

`ISO-8859-15` (Latin-9) though is a valid charset, and the pr

[2017-10-07 06:33] benaadams commented on #24495
You probably want to file over in aspnet? https://github.com/aspnet/Home

[2017-10-07 06:59] xrkolovos commented on #24361
How would you like to share the code? In a private way.

[2017-10-07 07:02] Petermarcu commented on #24495
In reading, seems there was a kestrel and an httpclient angle to this. Thoughts?

[2017-10-07 07:57] benaadams commented on #24495
Oh, missed that; looks like its related to buffer size on `HttpClient`?

Other side would be MVC? https://github.com/aspnet/Mvc/issues/6045

[2017-10-07 08:16] xrkolovos commented on #24361
I send a pm in @karelz twitter

[2017-10-07 10:03] loopnotzero commented on #24472
Any ideas guys?

[2017-10-07 13:19] johanskoldekrans commented on #24440
@dougbu @ajcvickers @Petermarcu Thanks for the time and effort. I immediately set the type to date in the html and skipped the serverside rendering of the html but it is always good to know why something was changed.

[2017-10-07 15:34] Petermarcu commented on #24495
Yeah, that was my read of it. :)

[2017-10-07 15:56] jkotas commented on #24496
Try adding `Encoding.RegisterProvider(CodePagesEncodingProvider.Instance)` to your Main method. It will register larger set of encodings.

[2017-10-07 19:22] #24153 closed

[2017-10-07 21:03] agr commented on #24439
Two thoughts:
* at the very least, I think, `uri.LocalPath` should return the same as was provided to the constructor;
* somehow, it works as I would expect it to work in Powershell:
[code]

[2017-10-07 22:54] mj1856 commented on #24449
Well, I for one am perfectly happy with this proposal.

[2017-10-07 23:09] jskeet commented on #24449
Me too. I dread to think about how many places I've written that code myself :(

[2017-10-08 07:52] psyonix-luis opened #24499 "Linux Memory Leak using DefaultRequestHeaders.ConnectionClose = true"
We've been investigating a memory leak for a while now and have finally found the cause. Originally, due to some requirements we were forced to close connections after each request, so we set HttpClient.DefaultRequestHeaders.ConnectionClose to true on our HttpClient singleton. The leak was exposed under a load test. We added a setting around ConnectionClose and simply leaving it at false stops the

[2017-10-08 11:50] stephentoub commented on #24495
Whereas HttpClient used to use its own copy implementation, it now just uses Stream.CopyToAsync. And CopyToAsync has its own (much larger) default buffer size. We might want to just defer to that default unless an override size was provided to the StreamContent. CopyToAsync also pools the buffer, so the impact of a larger buffer is often not as impactful on GC.

[2017-10-08 12:04] ayende commented on #23938
Is there any progress here? The `UpdateCAListFromRootStore` seems to be a very different behavior for the CoreCLR between Windows and Linux, and it adds _significantly_  to the complexity of anyone who want to use client certificates from Linux.

[2017-10-08 12:13] stephentoub commented on #24499
What version of curl do you have ("curl --version"), and have you tried installing a newer one?

[2017-10-08 12:21] stephentoub commented on #24478
What is the inner exception of the exception you shared? Do you have libgdiplus installed?

[2017-10-08 12:25] stephentoub commented on #24447
This would add non-trivial expense, as we'd need to the flow the token across async points and also do extra TLS lookups. It would be a breaking change, as methods that had explicitly decided not to be cancelable would start to be. It would be ambiguous if there were multiple tokens in play. Etc.

[2017-10-08 12:28] stephentoub commented on #24443
I agree this isn't worth adding. As you highlighted, and as is called out in posts like https://blogs.msdn.microsoft.com/pfxteam/2012/08/15/implementing-then-with-await/, anyone who wants this style can trivially add it. You could also ship your own NuGet package with these as extension methods. They don't need to be on Task itself.

[2017-10-08 14:14] stephentoub commented on #24485
My guess:
The body of the using is throwing an exception, before something gets initialized. Then the finally block from the using runs and null refs, propagating that exception instead of the original. If that's the case, there are two issues: the user code is failing, but SmtpClient isn't correctly handling that possibility in Dispose.

Do you get a different exception if you just avoid disposin

[2017-10-08 14:24] sharwell commented on #24443
@Thaina Is your primary concern here just the memory usage?

It would be interesting if release builds cleared values in the async state machine prior to calling `OnCompleted`/`UnsafeOnCompleted` when they will no longer be used.

[2017-10-08 14:28] msvprogs commented on #24485
No, the mail is sent correctly, so it isn't the user code failing problem. Exception occurs right after the Send() method returns control. If I ignore disposing SmtpClient, it actually solves the problem (it means that destructor of SmtpClient handles this state correctly), but it isn't correct in terms of predictable resource releasing.

[2017-10-08 14:31] Thaina commented on #24443
@sharwell No not about memory usage at all

The word leaked I mention does not meant memory but the scope of variable

[2017-10-08 14:52] sharwell commented on #24443
I'm having trouble writing replies here due to some problems in the examples above. The most concerning item to me is this example:

This example suggests a fairly fundamental misunderstanding of the difference between async/await and `ContinueWith` regarding the handling of cancellation/failure. Specifically, the action passed to `ContinueWith` accesses `task.Result` as though it succeeded, but t

[2017-10-08 15:04] Thaina commented on #24443
@sharwell

In my opinion what I propose is just that, a way to make a _smaller asynchronous methods_. I just want to have _anonymous smaller asynchronous methods_, which is lambda

To write it as fully function it would be like this

[code]

But then why we need such a full fledge function like that just for making a _smaller asynchronous methods_? Why not just write lambda?

[code]

[2017-10-08 15:19] sharwell commented on #24443
I already answered this in the part you didn't quote. Even if you have the overloads, the lambda approach does not behave the same way.

[2017-10-08 16:42] stephentoub commented on #24485
Hmm, well, from a cursory look at the code and a quick test, @Priya91, the issue I called out is a real issue: if Send tries to establish a connection and fails, Dispose wlll encounter a null network stream and null ref.  I don't currently see how it's possible to have a null network stream after a successul Send, but fixing the former will presumably fix the latter as well (still, it'd be good to

[2017-10-08 19:07] stephentoub commented on #24472
What about the actual port this would connect to? Are you able to make the same request using curl from the command line?

[2017-10-08 19:57] psyonix-luis commented on #24499
Thank you @stephentoub , that was it! I was originally at `7.29.0`, and after upgrading to `7.56.0` I am no longer seeing memory issues.

[2017-10-08 19:57] #24499 closed

[2017-10-08 20:03] ChristopherHaws opened #24501 "Adding fractional milliseconds (microseconds) to a DateTime or TimeSpan not working"
`DateTime.AddMilliseconds` and `TimeSpan.FromMilliseconds` currently take a `Double` as the parameter, however when passing a fractional value either one, they ignore the numbers after the decimal place. To get around this, I had to create an extension methods to add microseconds manually. With the current API surface, there are only two ways to add microseconds; using `Parse` or adding them direc

[2017-10-08 20:52] benaadams commented on #24443
@Thaina do you want the javascript promise pattern?
[code]

[2017-10-08 21:21] stephentoub commented on #24501
The docs for AddMillseconds state "The value parameter is rounded to the nearest integer", so this appears to be by design... though I don't know why that's the design.

[2017-10-08 22:04] jnm2 commented on #24443
The whole point of `await` is to avoid passing a callback and having to write individual lambdas or methods. It doesn't make sense to mix that with the callback-style promise pattern, whether you call it `ContinueWith` or `Then`.

Why is this not ideal code for you?

[code]

Do you have any concrete example you can share where the existing `await`-only code is unnecessarily painful?

Then, like an

[2017-10-08 22:22] jnm2 commented on #24481
`typeof(Type) == typeof(object).GetType()` gives `false` too. Maybe the code is overly brittle and should have been `IsAssignableFrom` instead of `==` all along?

[2017-10-08 23:06] jnm2 commented on #24026
Perhaps I'll wait and see what comes of this discussion: https://github.com/dotnet/coreclr/issues/14263#issuecomment-335045286

[2017-10-09 00:55] Petermarcu opened #24502 "Cannot use DBDataReader as Structured SQL Parameter with 2.0 Update"
@Coder3333 commented on [Thu Sep 21 2017](https://github.com/dotnet/core/issues/983)

This article details how to use a DBDataReader as a Structured input parameter to a SQL query:

https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql/table-valued-parameters

This worked just fine with Core 1.1, but since I updated to Core 2.0, it no longer works.  If I use DataTable as input, instead

[2017-10-09 01:12] bofcarbon1 commented on #24104
I've started using .NET Core 2.0 with Entity Framework Core 2.0. A lot of changes from .NET 4.5 for me as I used the Http Response Message. Now I'm returning an 'object' that automatically gets converted to Json. I've received some response handshake errors that worry me. Thinking I'm getting timed out sometimes. I am sending requests via an observable from an Angular 2 node.js web app. My web pag

[2017-10-09 01:39] Thaina commented on #24443
@jnm2 You should take my reasoning by merging all reason

- Variable scope not leak where it not used anymore (main reason to not use normal await)
- Intuitive execution order (not nested await)
- Fast return by if/switch logic (benefit of creating function)
- Anonymous function (don't need to create another unnecessary function that just be called only one place)
- Get a value at the same line as

[2017-10-09 01:53] Thaina commented on #24443
@benaadams Well, not like promise that we don't need catch or failfunc because we can always try/catch internally

The whole point is to make anonymous sub function when we don't want unused variable in the main block. And can return with many kind of logic but still being anonymous block

Consider this logic

[code]

[2017-10-09 02:06] Jiayili1 opened #24504 "System.Threading.Tests.MutexTests.CrossProcess_NamedMutex_ProtectedFileAccessAtomic failed with "Xunit.Sdk.TrueException" in CI"
Failed test: System.Threading.Tests.MutexTests.CrossProcess_NamedMutex_ProtectedFileAccessAtomic

Configuration: osx10.12_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/3255/testReport/System.Threading.Tests/MutexTests/CrossProcess_NamedMutex_ProtectedFileAccessAtomic_prefix____d3e87b891666440cbeba7116a70ac17d___/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-10-09 02:40] dluc commented on #24496
@jkotas is there a corresponding class or solution in .NET Core?

[2017-10-09 02:54] jkotas commented on #24496
It is the solution for .NET Core. To apply it:

- Run `dotnet.exe add package System.Text.Encoding.CodePages`
- Add `using System.Text;` and `Encoding.RegisterProvider(CodePagesEncodingProvider.Instance)`

[2017-10-09 02:55] dotnet-mc-bot opened #24505 "Test: System.IO.Tests.FileStream_BeginEndWrite_AsyncWrites/WriteAsyncMiniStress failed with "System.IO.IOException : No space left on device""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.FileStream_BeginEndWrite_AsyncWrites/WriteAsyncMiniStress` has failed.

System.IO.IOException : No space left on device

        Stack Trace:

           at System.IO.FileStream.WriteNative(ReadOnlySpan`1 source) in /root/coreclr/src/mscorlib/shared/System/IO/FileStream.Unix.cs:line 621
       at System.IO.FileStream.WriteSpan(ReadOnlySpan`1

[2017-10-09 04:05] ejsmith opened #24507 "Difference between Windows and OSX"
The following test passes when running on Windows, but fails when running on OSX.

[code]

[2017-10-09 04:34] danmosemsft opened #24508 "FailFast in System.ConsolePal.WindowsConsoleStream.WriteFileNative"
While debugging OpenCover, which invoked xunit.console, I got the following failfast: possibly due to me debugging.

I don't have a repro or locals but this probably should not terminate here.

[code]

[code]

[2017-10-09 04:49] mikedn commented on #24508
That assert is dubious, AFAIR there is no guarantee that `WriteFile` writes all the requested bytes. It will probably do so when writing to the actual console but the output may be redirected to a pipe and that's another story.

[2017-10-09 05:06] danmosemsft commented on #24508
@mikedn the interesting thing here is that count < numBytesWritten.

[2017-10-09 05:12] mikedn commented on #24508
Ah, that's funny. It does looks like a mix up between bytes and chars :smile:

[2017-10-09 05:13] danmosemsft commented on #24504
@kouvel

[2017-10-09 05:15] danmosemsft commented on #24505
This should only write 16K to a file. Let's see whether this was a one off disk space issue.

[2017-10-09 05:17] danmosemsft commented on #24502
@corivera

[2017-10-09 05:59] dotnet-mc-bot opened #24509 "[ManagedHandler] System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_DefaultProxyCredentials_Test/ProxySetViaEnvironmentVariable_DefaultProxyCredentialsUsed failed"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_DefaultProxyCredentials_Test/ProxySetViaEnvironmentVariable_DefaultProxyCredentialsUsed(useProxy: True)` has failed.

System.Diagnostics.RemoteExecutorTestBase+RemoteInvokeHandle+RemoteExecutionException : Remote process failed with an unhandled exception.

        Stack Trace:

    Child exc

[2017-10-09 06:02] Jiayili1 commented on #24000
failed again in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171009.01/workItem/System.Net.Security.Tests

[2017-10-09 06:06] Jiayili1 commented on #23535
failed again in master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171009.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom~2FReceiveFromV6BoundToAnyV6_Success

The test `System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom/ReceiveFromV6Bou

[2017-10-09 06:09] Jiayili1 commented on #24064
failed again in master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20171009.01/workItem/System.ComponentModel.Annotations.Tests/analysis/xunit/System.ComponentModel.DataAnnotations.Tests.MaxLengthAttributeTests~2FGetValidationResult_ValueNotStringOrICollection_ThrowsInvalidCastException

[2017-10-09 06:13] dotnet-mc-bot opened #24510 "test failures 'System.Span<>' is missing metadata"
Opened on behalf of @Jiayili1

The test `System.Tests.TypeTestsNetcore/TestIsByRefLike` has failed.

System.Reflection.MissingMetadataException : 'System.Span<>' is missing metadata. For more information, please visit http://go.microsoft.com/fwlink/?LinkID=392859

        Stack Trace:

           at System.Reflection.Runtime.TypeInfos.RuntimeBlockedTypeInfo.get_TypeRefDefOrSpecsForDirectlyImplemen

[2017-10-09 06:23] Jiayili1 commented on #22904
This issue is repro in UWP6.0 branch, detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Fuwp~2F/build/20171001.01/workItem/System.Net.WebSockets.Client.Tests/analysis/xunit/System.Net.WebSockets.Client.Tests.CancelTest~2FCloseAsync_Cancel_Success(server:%20ws:~2F~2Fcorefx-net.cloudapp.net~2FWebSocket~2FEchoWebSocket.ashx)

[2017-10-09 06:42] danmosemsft commented on #23588
I am trying to get coverage to work without building CoreCLR myself, instead using the corelib pdb that is now gotten automatically. Note this is a Windows style PDB not a portable PDB. I cannot get Cecil to load this System.Private.Corelib.pdb - debugging Cecil, it seems to think it does not match the dll, because the guid does not match; the guid it gets from the pdb seems right per Symchk, the

[2017-10-09 06:49] danmosemsft commented on #24508
In the case where count > numBytesWritten,

are we supposed to call WriteFile again (with an incremented pointer/lower count)? I'm not sure what else it would mean, since we can't just carry on and let it read more from our buffer at an arbitrary future time.

[2017-10-09 06:53] danmosemsft commented on #23588
Howver, I can verify that report generator works fine.

[2017-10-09 07:06] danmosemsft commented on #24505
@dotnet/dnceng Hmm, I see two tests failed with tihs -- is the disk full?

[2017-10-09 07:25] vincywindy commented on #24104
I use this simple code:
`    class Program
    {
        static string url = "http://192.0.0.39:6277/check";
        static void Main(string[] args)
        {

            Do();
            Console.ReadLine();
        }
        public static async void Do()
        {
            while (true)
            {
                var g = Guid.NewGuid().ToString();
                Console.WriteLine(DateTime

[2017-10-09 07:30] tmds commented on #24281
Fedora behaves the same for the X509Store:
[code]

So the managed http handler will pick those up. It's a bit weird you need to set both variables to affect the X509Store and only one to affect the `curl` command. Not sure where the difference in behavior stems from.

The curl handler in .NET Core 2.0 (HttpClient) ignores those variables for each attempt I have done (on Fedora 24, 25 and RHEL 7.3)

[2017-10-09 07:49] bartdesmet commented on #24481
There's a breaking change indeed due to the removal of `sealed` on the `Expression<TDelegate>` type, so it was reasonable to use a type equality check before this change.

I'm not sure whether unsealing of types should be regarded as a breaking change (because one can observe differences through reflection) that prevents forward progress. It's often easier to start off with a type being sealed to

[2017-10-09 08:13] razzemans commented on #24421
Unfortunately not. This happens only in production, when load is high. We are not able to reproduce it on a test environment running a simple load test. And I have no idea what the impact would be of switching to WebListener. So this is not something we can easily do, if at all.

Would a memory dump give some insights? Would we have to look in the w3wp or dotnet process?

[2017-10-09 10:43] grzegorz-ogrodowski commented on #21577
Hello,
any news about this topic?
Are that changes included in https://github.com/dotnet/corefx/pull/24389?
It will be really helpful to change cipher suit per connection.

[2017-10-09 10:52] Drawaes commented on #21577
That PR doesn't address it at all. This will require an API review so someone will need to launch it.

[2017-10-09 11:18] grzegorz-ogrodowski commented on #21577
Thank for quick answer.
So let to be clear - At this time API is waiting for review before any development process?
Or someone should propose API changes?

[2017-10-09 11:29] Drawaes commented on #21577
Someone needs to propose an API ....

[2017-10-09 11:29] Drawaes commented on #21577
I am happy to do it if you don't want to...

[2017-10-09 11:44] grzegorz-ogrodowski commented on #21577
I can do it, however - I did not do this ever.
You can do it quicker or better.

[2017-10-09 11:57] stephentoub commented on #24507
That's because Uri accepts file paths, and on Unix, "/api/" is a valid absolute file path.

[2017-10-09 12:07] ejsmith commented on #24507
Ahhh true. Duh. Sorry.

[2017-10-09 12:07] #24507 closed

[2017-10-09 12:50] mikedn commented on #24508
Yes, that's how it usually works. However, I doubt that it is needed here, note that the MSDN doc refers to pipes opened in non-blocking mode, that's a very unusual case.

It's also a very different situation than the issue you're experiencing.

[2017-10-09 12:54] stephentoub commented on #24508
Agreed, although interestingly we recently hit upon that situation on Linux in a docker container, and needed to add explicit blocking to address it.
https://github.com/dotnet/corefx/pull/23539
I wonder if there's a similar case to be handled on the Windows side.

[2017-10-09 12:59] stephentoub commented on #24481
In general I believe we've treated such changes as non-breaking, as they're only observable through reflection, and once using reflection, pretty much any change can be breaking if something was checking for that exact shape or metadata or whatever.
cc: @weshaggard, @terrajobst, @KrzysztofCwalina

Obviously, though, we still need to be thoughtful about such changes, and ensure the change is worth

[2017-10-09 13:56] jnm2 commented on #24481
@stephentoub Where's the line between seeing reflection as an education issue and holding back from unsealing a class? I would hope for my own sake (who uses `static` where possible,` then `sealed`, then `abstract`, then virtual), that I can assume brittle dependencies on reflection behavior to be an education issue rather than my responsibility.

[2017-10-09 14:03] stephentoub commented on #24481
@jnm2, as I noted, to my knowledge we've never considered such changes to be "breaking" in the core libraries, but for any change we still need to be thoughtful about what the potential impact could be. Even something that's generally considered pure goodness like a performance improvement can and has broken customer code (e.g. we make something faster and expose race conditions in consuming code)

[2017-10-09 14:06] MBODM opened #24514 "Possible Bug in "System.Net.Mail.SmtpClient" when using "UseDefaultCredentials" property"
Hi,

it seems weird, and after looking a few minutes at your source code, i can not really say why, but it plays a role if the property "UseDefaultCredentials" is set before or after the property "Credentials" of class "SmtpClient" in the Namespace "System.Net.Mail". At least with our mail provider.

Framework: asp.net core
Version: 2.0

Example1:
[code]

Example2:
[code]

Result:
Example1 works l

[2017-10-09 14:07] dleeapho commented on #24505
@chcosta (as FR) PTAL

[2017-10-09 14:16] stephentoub commented on #24514
@MBODM, presumably you're seeing this behavior not just with .NET Core but also with the .NET Framework / desktop?  They have the same implementation for this:
UseDefaultCredentials is implemented effectively as just a shorthand for storing a specific credential object, so it's mutually exclusive with Credentials:
http://referencesource.microsoft.com/#System/net/System/Net/mail/SmtpClient.cs,267
h

[2017-10-09 14:18] svick commented on #24514
I think looking at the implementation makes it clear what the problem is:

https://github.com/dotnet/corefx/blob/4979e8b57b4d926a3cebd101c1b6cd6cf7ada58d/src/System.Net.Mail/src/System/Net/Mail/SmtpClient.cs#L227-L259

When you set `client.UseDefaultCredentials` to `false`, it *resets `Credentials` to `null`*.

What's confusing is that I think [the docs](https://docs.microsoft.com/en-us/dotnet/api

[2017-10-09 14:26] stephentoub commented on #24296
How about just adding a Dangerous/Unsafe factory for `{ReadOnly}Memory<T>` that didn't do any argument validation at all, leaving it up to the call site?  Then I can do my own argument validation if needed, and places where I know the arguments are valid I can skip the checks entirely.  There are a bunch of places I'm seeing where, as I'm switching over from using array-based to memory-based calls

[2017-10-09 14:33] Drawaes commented on #24296
Seems like that is going to be the most flexible option.

[2017-10-09 15:17] #23828 closed

[2017-10-09 15:23] xrkolovos commented on #24361
I email you. Please inform here if you found this problem. Thank you

[2017-10-09 15:26] jnm2 commented on #24514
Absolutely. `UseDefaultCredentials.set` needs `if (UseDefaultCredentials == value) return;` semantics.

[2017-10-09 15:29] jnm2 commented on #24514
The weird part is I'm almost certain there was come kind of opposite behavior where it was necessary to set `UseDefaultCredentials = false` if you wanted to be able to set `Credentials` to custom credentials, so that's been boilerplate I've used in the past. Looking at the implementation, it's obvious that this is not the case now. Maybe never has been?

[2017-10-09 16:08] ajcvickers commented on #24064
@AtsushiKan As expected, the test is again failing due to missing metadata:

How can we get the test to run with appropriate metadata?

[2017-10-09 16:14] techaimail commented on #23229
In a solution (vstudio 2017 enterprise or community) with web projects target .net 4.6.1 and .net core 2 when I compile one of them the others get its bin folders corrupted and appears the file netfx.force.conflicts. This is causing me a lot of time lost. Please help with fix that wrong behavior.

[2017-10-09 16:17] AtsushiKan commented on #24064
You'll need to figure out which type needs metadata and add it to the test project's rd.xml, similar to waht was done here: https://github.com/dotnet/corefx/pull/18764

[2017-10-09 16:19] Jetski5822 commented on #23229
@techaimail what fixed it for me is to migrate the 4.6.1 project to the new CSProj style. I found the old style was causing me the issue.

[2017-10-09 16:22] chcosta commented on #24505
I'll take a look

[2017-10-09 16:23] reinaldocoelho commented on #23229
@Jetski5822 The new version of Csproj works fine in legacy Solutions?
I have a DotNet (aspnet MVC4) project in the same situation.
Can I update project file without problems?

[2017-10-09 16:36] davidsh commented on #24509
cc: @stephentoub
ManagedHandler

[2017-10-09 16:55] twsouthwick commented on #24457
That would explain it. Are there plans to add streaming support to ZipArchive in CoreFX?

[2017-10-09 16:59] ianhays commented on #24457
There's [an issue open for it](https://github.com/dotnet/corefx/issues/20558) that's had some good discussion but hasn't moved forward due to it being a lower priority addition.

[2017-10-09 17:08] stephentoub commented on #23358
I'm going to close this as we don't need to track it.  We don't even override the existing Read/WriteAsync methods on this stream.

[2017-10-09 17:08] #23358 closed

[2017-10-09 17:09] davidsh commented on #24361
Thank you for submitting the repro.  I was able to repro the problem.  The .NET Core test fails.  The .NET Framwork test passes.  Both tests uses a shared library that makes the HttpClient API calls.  The shared library is built targetting NetStandard.Library.

The core problem is that there is an HTTPS -> HTTP redirection happening in the sequence of calls.  On .NET Framework HTTPS -> HTTP automa

[2017-10-09 17:12] stephentoub commented on #7804
@fubar-coder, the existing "Ansi" is implemented as UTF8 on Unix.

[2017-10-09 17:18] masonwheeler commented on #7804
...but not on other platforming.  Yay consistency!

[2017-10-09 17:30] Petermarcu opened #24516 "How to separate Dev and Production configuration files dotnet core 1.1 windows service"
@gitfortee commented on [Mon Oct 09 2017](https://github.com/dotnet/core/issues/1016)

# How to separate Dev and Production configuration files dotnet core 1.1 windows service

How do we separate configuration files (appsettings.json) for different environments in dotnet core 1.1 console applications such as a windows service.

Note: I am not looking for web applications which suggest using ASPNET

[2017-10-09 17:45] weshaggard opened #24517 "Consuming types in System.Security.Permissions fails for test projects targeting netfx"
System.Security.Permissions only has a netstandard ref configuration and as such will bin-place that into the ref/netfx folder when building the netfx vertical. This library seems to be the last one that is still using PackageAsRefAndLib https://github.com/dotnet/corefx/blob/1a8531aa3c511d78a1520c40f4595334a8ba3ada/src/System.Security.Permissions/src/System.Security.Permissions.csproj#L9.

We shou

[2017-10-09 17:48] WinCPP commented on #20669
@karelz I think I can start on this now. To start with I have created an instance of AD LDS on my Win 10 Pro machine at home as mentioned by @tquerec in one of the previous posts. From here, I think there are two things to be done predominantly - write tests using local instance and then wrap up whole thing using scripts to setup and tear down the instances (may be per build job run), including ex

[2017-10-09 17:50] rmkerr commented on #24439
I agree that the URI constructor is trying to do too much. The problem seems to be specific to implicit file URIs though -- it doesn't occur when the file:/// scheme is specified. For the time being I think that we should recommend that file names be escaped in advance, and that potentially dangerous file URIs be created with the file:/// prefix.

Thanks for pointing out the behavior difference @a

[2017-10-09 17:56] omariom commented on #24365
@stephentoub  @KrzysztofCwalina

`ConcurrentQueue<T>` is a general purpose  multiple readers/multiple writers unbounded queue -  safe and convenient combination of properties.

`BoundedConcurrentQueue<T>` is a lower level thing, exposed publically for its performance characteristics.  If there is a chance that other kinds of queues - like single producer/single consumer one - get into CoreFx, it m

[2017-10-09 17:58] chlowell commented on #4198
This works for a .NET Core 2.0 app running on Linux as you'd expect (see `SqlClient`'s [integrated auth test](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/tests/ManualTests/SQL/IntegratedAuthenticationTest/IntegratedAuthenticationTest.cs) for sample code), provided the app is run by a user with an appropriate Kerberos ticket.

You can configure Kerberos and get a TGT in a

[2017-10-09 18:02] karelz commented on #20669
@tarekgh started working on it recently - he just forgot to assign it to himself ... @tarekgh can you use help from @WinCPP?

[2017-10-09 18:23] sidshetye commented on #23629
@sdrapkin Good point but if you read even closer you'll see that for IV lengths of 96 bits and above, section 8.2.2 allows for generating an IV with a random bit generator (RBG) where at least 96 bits are random (you could just 0 other bits). I did mention this last month on this thread itself ([here](https://github.com/dotnet/corefx/issues/23629#issuecomment-329374068) under nonce).

LT;DR: `INon

[2017-10-09 18:27] JeremyKuhne commented on #1653
@KrzysztofCwalina, @stephentoub  I presume this would be answered by Span<T> APIs?

[2017-10-09 18:36] benaadams commented on #24365
If the addition of an `Enqueue` which overwrites the oldest and also moves the head on by one wouldn't be too much of a stretch? Then it would be a `CircularBuffer<T>` https://github.com/dotnet/corefx/issues/3126 ?

e.g. `TryEnqueue` doesn't write when full; `Enqueue` "removes" oldest and adds newest to end when full

[2017-10-09 18:39] stephentoub commented on #1653
I'm unclear on the suggestion. @colombod, can you clarify?  I'm unclear how `ArraySegment<byte>` APIs would actually enable something that's not possible today; you can certainly pool buffers and pass them into Read/Write/ReadAsync/WriteAsync methods.  `ArraySegment<byte>` is just a struct that wraps the `byte[]` with the offset and count ints, and if you have an `ArraySegment<byte>`, you can just

[2017-10-09 18:40] stephentoub commented on #24365
With the current implementation you would have tearing problems.

[2017-10-09 18:41] narciero commented on #23426
It looks like [ConnectHelper](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Managed/ConnectHelper.cs) is where the necessary code should be to make this happen. In the try-catch after creating the socket you would just need:

`socket.Bind(localEP);`

[2017-10-09 18:44] corivera commented on #24502
CC @saurabh500

[2017-10-09 18:54] benaadams commented on #24365
Probably should be two different data types then.

As likely wouldn't (shouldn't) be using both Enqueue and TryEnqueue on the same instance - and it would add complication (like stream with blocking and async that interact - though likely only used in one mode)

Should they be related naming-wise?

[2017-10-09 18:56] #24402 closed

[2017-10-09 18:57] PeterSmithRedmond commented on #23426
When you document this, please remind people that there's a bunch of traffic that might happen that won't go over that interface.  For example, DNS lookups and getting certificates and revocation lists won't be compelled to use the IP address.

Can you go into more detail on the rationale?  you say that people can set up different cards for different traffic -- is this a best practice for data cen

[2017-10-09 19:29] danmosemsft commented on #23588
It would be interesting to try stepping over the guid check to see whether the corelib pdb works correctly.

[2017-10-09 19:33] danmosemsft commented on #24483
@weshaggard it sounds like this is a .NEt Framework (winforms) project referencing a .NET Core library. VS should block that: it shouldn't work.
@saharm can you change your library to a .NET Standard library? (Create a new one)

[2017-10-09 19:33] danmosemsft commented on #24501
Maybe @tarekgh happens to know. I guess this can be closed by design, unless we think it would be an acceptable change to "fix" it.

[2017-10-09 19:37] krwq opened #24522 "Add core-setup's RuntimeEnvironment (platform detection) logic to RuntimeInformation"
Currently we have multiple pieces of code used for detection OS and its version:
https://github.com/dotnet/corefx/blob/master/src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs
https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.DotNet.PlatformAbstractions/RuntimeEnvironment.cs

this logic is non-trivial to get correctly and thus we should not duplicate this logic.

[2017-10-09 20:00] stephentoub commented on #23588
What source would that match to / use to generate the rendered code coverage report?

[2017-10-09 20:03] joshfree opened #24524 "Support RFC 5816 and RFC 3161 trusted timestamping"
API proposal:

[code]

https://tools.ietf.org/html/rfc5816#section-1

https://tools.ietf.org/html/rfc3161

https://en.wikipedia.org/wiki/Trusted_timestamping

[2017-10-09 20:04] stephentoub commented on #23341
Again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a21145e08516e7e438253c25ef7329084fbddcdf/workItem/System.Net.Security.Tests/wilogs

[2017-10-09 20:04] danmosemsft commented on #23588
I am assuming it would at least show the bar graphs, then I was going to see whether there was a flag possibly to "remap" the source locations.

[2017-10-09 20:11] stephentoub opened #24525 "Seg fault in System.Drawing.Common tests on Unix"
We've been plagued by seg faults on Linux in the System.Drawing.Common tests, e.g. this one on SUSE:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/91ec984d64908b3ab312bef6f6fa599f5ea1cee7/workItem/System.Drawing.Common.Tests/wilogs
[code]
This has been happening frequently for months, but I can't find an existing issue for it.

[2017-10-09 20:22] Drawaes commented on #24525
Tonight was the night I planned to launch an issue for this. It seems a constant source of outerloop failures. And causes me untold annoyance and investigation ... :) fix or disable I say ;)

[2017-10-09 20:25] tarekgh commented on #24501
Right. this is the current design how we round the values.
We have tried to fix a such/similar issue before https://github.com/dotnet/coreclr/pull/10352 but caused other app compat issues so we decided to keep the current for the sake of app compat.

[2017-10-09 20:25] #24501 closed

[2017-10-09 20:30] Drawaes commented on #24296
@stephentoub do you have a shape in mind for this factory (don't call it factory please :P ) I will happily update the top comment with the idea.

[2017-10-09 20:37] adrianm64 commented on #23544
Sorry to jump in late here and I have probably misunderstood something.

Why is everyone so eager to reuse the `HttpClient`? I have read the linked articles but they all seem to miss the fact that HttpClient class is more or less just a holder class for headers, timeout and some other things. All methods hitting the network are just passed into the pipeline via `HttpMessageHandler.SendAsync.`
Ther

[2017-10-09 20:55] #23628 closed

[2017-10-09 20:56] #23630 closed

[2017-10-09 21:08] davidsh commented on #24361
So, it turns out that returning a better error message about disallowing HTTPS -> HTTP is more complicated.

In .NET Core, we disallow automatic redirection from HTTPS to HTTP.  When we detect this, our underlying HTTP stack (WinHttp) prevents the auto redirection. It just ends the request and returns the 3xx response.  However, it also does something we didn't expect. It closes the request connec

[2017-10-09 21:43] stephentoub commented on #24296
[code]

[2017-10-09 21:53] Drawaes commented on #24296
Updated top issue.

[2017-10-09 22:01] jcouv commented on #23916
@tannergooding Yes, the modreq should be there and the compiler will require that it be there when loading [IsReadOnly]. We have a [bug on that](https://github.com/dotnet/roslyn/issues/19792) for 15.5 (the current implementation accepts such metadata, but it won't after the bug is fixed).

[2017-10-09 22:23] ChristopherHaws commented on #24501
Would it maybe be reasonable to have a way to get/set the lower precision values? The fact that the only way to view the lower precision numbers is by using the ticks and making extension methods it a bit cumbersome. I came across this when writing some unit tests and from the logging and debugger, the two values I was comparing looked identical down to the millisecond, but they were different tic

[2017-10-09 23:11] danmosemsft commented on #24525
Unfortunately Dumpling isn't finding dumps on SUSE. @DrewScoggins have you had a chance ot take a look?
We need a dumpling upload from another distro.

[2017-10-09 23:13] benaadams commented on #24296
Push it out to a static class and can get type inference and throw in the Create with renamed parameter validation?
[code]

[code]

[2017-10-09 23:14] stephentoub commented on #24354
These three tests failed again here with the same error:
https://mc.dot.net/#/user/Drawaes/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/d983ece4b9431f65637b46081e9bf7c46c02c348/workItem/System.Drawing.Common.Tests
[code]

[2017-10-09 23:16] stephentoub commented on #24354
And a bunch of PngCodecTests failed here with the same error:
https://mc.dot.net/#/user/Drawaes/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/7a132a4d2694413bab5762b7af6ef5606c7b8724/workItem/System.Drawing.Common.Tests
[code]

[2017-10-09 23:20] Drawaes commented on #24296
I prefer that, but @stephentoub your the one that gets to be in the API reviews, whats your thinking?

[2017-10-09 23:29] shrah commented on #24416
[ICastable](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/CompilerServices/ICastable.cs) is an interface used by the runtime to support dynamic interface casting. Implementing this interface on a type will allow the type to support interfaces (for the purposes of casting and interface dispatch) that do not appear in its interface map.

An example of ICastable is her

[2017-10-10 00:11] jkotas commented on #24416
- Compatibility: We want to be able to maintain same level of compatibility for this API as for any other public API.
- Documentation: It is ok to document this API for use by tools.

Yes, this is primarily to support interop.

[2017-10-10 00:27] danmosemsft commented on #24354
@qmfrederik do you have any context on these failures?

BTW, @safern is the new owner of drawing: @mellinoe has left to pursue a new project.

[2017-10-10 00:38] jkotas commented on #24416
For ProjectN, we have invented CastableObject that fixed some of the issues with ICastable. Would we want to expose the CastableObject instead?

https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastableObject.cs

[2017-10-10 01:42] tarekgh commented on #24501
You already can do that. Please check the following link:

https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#fffffffSpecifier

does the comparing of the formatted dates (with fffffff pattern) would help in this case? did you try it?

[2017-10-10 02:35] leedavi commented on #24229
I can't help but feel this issue has been closed just to make statistics better.  Although an explanation has been given, which sounds right.  Neither of us have managed to get the SQL Client working using AssemblyLoadContext.

I think @softeering request for and example to prove that .Net Core work is relevant, because it still doesn't work!!

In my case I can make the system work if I place the

[2017-10-10 02:41] leedavi commented on #24229
https://github.com/leedavi/GenXmlProject

[2017-10-10 02:53] leedavi commented on #24229
I've just realized my comments seems a little harsh.  Sorry, I don't mean to be.  I'm grateful for any help you can give.

[2017-10-10 02:56] Jiayili1 opened #24537 "System.ComponentModel.Tests.AsyncOperationFinalizerTests.Finalizer_OperationNotCompleted_CompletesOperation failed in CI"
Failed test: System.ComponentModel.Tests.AsyncOperationFinalizerTests.Finalizer_OperationNotCompleted_CompletesOperation

Configuration: osx10.12_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/3273/testReport/System.ComponentModel.Tests/AsyncOperationFinalizerTests/Finalizer_OperationNotCompleted_CompletesOperation/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-10-10 02:56] stephentoub commented on #24296
Seems reasonable.  @KrzysztofCwalina, @ahsonkhan, was there strong reasoning for the ctor-based span/memory creation vs factory-based span/memory creation?

[2017-10-10 02:58] Jiayili1 commented on #24537
related issue: https://github.com/dotnet/corefx/issues/24298

@danmosemsft For this exit code 131, do we need to ignore it?

[2017-10-10 04:10] wfurt opened #24538 "FreeBSD: System.Drawing.Printing tests are failing"
=== TEST EXECUTION SUMMARY ===
   System.Drawing.Common.Tests  Total: 1731, Errors: 0, Failed: 31, Skipped: 1327, Time: 1.415s
~/git/corefx/bin/tests/System.Drawing.Common.Tests/netcoreapp-FreeBSD-Debug-x64

     ---- System.TypeInitializationException : The type initializer for 'System.Drawing.Printing.LibcupsNative' threw an exception.
      -------- System.DllNotFoundException : Unable to load

[2017-10-10 04:47] benaadams commented on #24525
Related? https://github.com/dotnet/corefx/issues/24538

[2017-10-10 04:47] wfurt commented on #1626
With some work-in-progress changes the current stats look like:
Total passed: 238892
Total failed: 58
Total skipped 1628

System.Runtime.Tests.dll, 1
System.Net.Ping.Functional.Tests.dll, 7
System.Net.NameResolution.Pal.Tests.dll, 3
System.Net.NameResolution.Functional.Tests.dll, 4
System.IO.MemoryMappedFiles.Tests.dll, 1
System.IO.FileSystem.Tests.dll, 7
System.Globalization.Tests.dll, 2
System.D

[2017-10-10 05:27] wfurt commented on #24538
fixing dlopen makes the test not fail.
=== TEST EXECUTION SUMMARY ===
   System.Drawing.Common.Tests  Total: 1731, Errors: 0, Failed: 0, Skipped: 1327, Time: 0.641s
~/git/corefx/bin/tests/System.Drawing.Common.Tests/netcoreapp-FreeBSD-Debug-x64
Finished running tests. End time=05:16:26. Return value was 0

Most of the skipped tests comes from libgdiplus. That is separate issues.
Also note that the

[2017-10-10 05:40] davidfowl commented on #24421
/cc @shalter @cesarbs

[2017-10-10 05:40] davidfowl commented on #24421
A dump of the dotnet process would help.

[2017-10-10 06:04] dotnet-mc-bot opened #24539 "Test: System.Threading.Tasks.Tests.Status.TaskStatusTests/TaskStatus10 failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Threading.Tasks.Tests.Status.TaskStatusTests/TaskStatus10` has failed.

Expecting Child Task final Status to be Canceled, while getting RanToCompletion
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Threading.Tasks.Tests.Status.TaskStatusTest.RealRun() in /root/corefx-1049346/src/System.Threading.Tasks/tests/Task/T

[2017-10-10 06:41] dotnet-mc-bot opened #24540 "Test: System.Dynamic.Runtime.Tests.Test/CalledFrom_UsingExpression failed with "System.Reflection.MissingMetadataException""
Opened on behalf of @Jiayili1

The test `System.Dynamic.Runtime.Tests.Test/CalledFrom_UsingExpression` has failed.

System.Reflection.MissingMetadataException : 'System.ReadOnlySpan<System.Char>' is missing metadata. For more information, please visit http://go.microsoft.com/fwlink/?LinkID=392859

        Stack Trace:

           at System.Reflection.Runtime.TypeInfos.RuntimeConstructedGenericType

[2017-10-10 07:32] softeering commented on #24229
+1 on the fact that we don't have a solution.
I understand that this is kind of specific but I used to load "plugins" via reflection in .NET 4.x and it worked well.
I'm now stuck with the migration to .NET Core / Standard 2.0 because I cannot manage to load all dependencies at runtime for the current platform (i.e. based on the RID)

[2017-10-10 08:09] grzegorz-ogrodowski opened #24541 "Add CipherSuite property to HttpClientHandler"
It's really nice to have opportunity to change CipherSuite per connection, when HttpClientHandler is using.
At this time there is only possibility to define SslProtocol.
I have read issues and this topic appeared few times.

## **Proposed API**
[code]

## **Example Usage**

[code]

This API review is strongly connected with:
https://github.com/dotnet/corefx/issues/21577

[2017-10-10 09:43] krytarowski commented on #1626
Great progress! Adding NetBSD when having FreeBSD support in-tree should be simple.

[2017-10-10 10:08] krytarowski commented on #1626
@wfurt please share E-mail address, I will drop few lines.

[2017-10-10 10:13] NN--- opened #24542 "System.Diagnostics.Process.StartTime can be improved in Windows"
When Process instance is created using Process.GetProcesses() , it calls GetProcessInfos method inside.
In WIndows it calls to internal [NtQuerySystemInformation](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Win32.cs) which returns process creation time.

[ProcessInfo](https://github.com/dotnet/corefx/blob/master/src/System.Diagn

[2017-10-10 10:37] artiomchi opened #24543 "Stream Dispose does not call Dispose(bool)"
I'm comparing the behaviour between .NET Framework and .NET Core, and I noticed an interesting inconsistency.

In the .NET Framework, the `Stream` class has a `Dispose()` method, which calls `Close()`, which in turn calls `Dispose(bool)`.

In the .NET Core framework, the `Close()` method has been removed as a duplicate of `Dispose()`, but it seems like nothing ever calls `Dispose(bool)` anymore.

[2017-10-10 10:59] mikedn commented on #24543
Hmm? You may be looking in the wrong place, the source is definitely available. It's in corelib so you can find it in the coreclr repository rather than the corefx repository.

https://github.com/dotnet/coreclr/blob/be3715cbba1022c95bb668d45521016b0414bc25/src/mscorlib/src/System/IO/Stream.cs#L226-L257

Seems fine to me. `Dispose()` calls `Close()` and `Close()` calls `Dispose(bool)`.

[2017-10-10 11:00] Drawaes commented on #24144
@ahsonkhan

Do you have a rough ETA for this being available for CoreFX, there are some places I would like to use it inside SslStream in the next refactor around the handshake and framing.

Cheers
Tim

[2017-10-10 11:10] stephentoub commented on #24144
@Drawaes, which functionality do you need? I'd have thought BitConverter would be sufficient.

[2017-10-10 11:56] Drawaes commented on #24144
I don't need it per se. But the frames do a bigendian read on the size field. Just would have been nice as I prototype this all moving to span / memory to use the official method. It's certainly not going to hold me up. Just wondering.

[2017-10-10 12:17] stephentoub commented on #24354
And again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/91ec984d64908b3ab312bef6f6fa599f5ea1cee7/workItem/System.Drawing.Common.Tests

[2017-10-10 12:23] artiomchi commented on #24543
Hmm.. Interesting.

I'm looking at the Release 1.0 and 1.1 branch, and they have the `Close()` method as well, but if I compile my app against netcoreapp1.1, the `Close()` method shouldn't be present in the `Stream` class! Looking at this, I'm not sure whether the branch is pointing to the right location or not =/

I've been looking at the reference assembly from System.IO package for .NET Standar

[2017-10-10 12:31] qmfrederik commented on #24354
@danmosemsft It's most likely because of an old version of libgdiplus on the CI boxes it's failing on. I've left a note on #24545.

[2017-10-10 12:49] mikedn commented on #24543
Note that reference assemblies contain only methods that are available in the contract (e.g. NETStandard). Implementation assemblies (such as System.Private.CoreLib) can and will contain additional methods. So the fact that there's no `Close` method in the reference assembly doesn't mean that such a method doesn't actually exist.

[2017-10-10 13:00] artiomchi commented on #24543
Ahh.. Well that explains a lot. I got so used to checking the source of the .NET framework assemblies, that I assumed that the reference assemblies will have the correct source.

Seems like this is a non issue after all.

Thanks for setting me straight, and pointing me to the correct sources :)

[2017-10-10 13:00] #24543 closed

[2017-10-10 13:59] stephentoub commented on #24542
Can you share a repro of the problem you're facing?

[2017-10-10 14:02] NN--- commented on #24542
For instance Process.GetProcesses() returns all processes including CSRSS.exe, but when I ask for its StartTime I get an exception.

[2017-10-10 14:06] stephentoub commented on #24542
Presumably you're getting an access denied error?  Have you tried running your code as an administrator?

[2017-10-10 14:10] NN--- commented on #24542
You cannot get Process handle of CSRSS even if you are administrator.
My point is that the relevant data is already retrieved in one API without any process handle requirements.

[2017-10-10 14:14] stephentoub commented on #24542
When I run this code:
[code]
without admin rights, I get:
[code]
but when I Run As Administrator, I get:
[code]

[2017-10-10 14:54] svick opened #24547 "Can something be done about the Microsoft.Tpl.Dataflow package?"
[The `Microsoft.Tpl.Dataflow` package](https://www.nuget.org/packages/Microsoft.Tpl.Dataflow/) is outdated and generally shouldn't be used anymore. The replacement is [the `System.Threading.Tasks.Dataflow` package](https://www.nuget.org/packages/System.Threading.Tasks.Dataflow/).

But people keep using the old package (see e.g. https://github.com/dotnet/corefx/issues/202#issuecomment-335470737), n

[2017-10-10 15:01] akoeplinger commented on #24547
IMO we should pick option 2 and then unlist the Microsoft.Tpl.Dataflow package so it doesn't show in search results.

[2017-10-10 15:03] poizan42 commented on #24542
@stephentoub I think what @NN--- is saying is that NtQuerySystemInformation with SystemProcessInformation returns certain informations about processes even if you do not have the privileges to open a handle. So the Process class could use the information from that if even if it can't open a handle.

The CreateTime field is not officially documented though (it is part of Reserved1), so there is no

[2017-10-10 15:14] NN--- commented on #24542
@stephentoub It works, but requires elevation.
@poizan42 Thanks. That what I meant.
I agree about not officially documented.
I doubt it is going to be changed in Windows versions and if you want to be on safe side it can be protected with Windows version comparison.

[2017-10-10 15:16] stephentoub commented on #24542
Ok, thanks for clarifying.  If there's a way to avoid the need for elevation, great, but .NET can't take a dependency on an undocumented field, even with a version check.
cc: @danmosemsft

[2017-10-10 15:30] atrauzzi commented on #23229
So I've just encountered this issue after trying to add an internal .net core library to a project.  Have absolutely zero idea what to do in this case, have tried some of the fixes above, but nothing seems to be getting me through.

Is there a concise summary of what's happening and what needs to be done here?  Completely hit a wall here and need to resolve. :(

[2017-10-10 15:37] reyronald commented on #23229
Hello @atrauzzi , what my team and I have been doing all this time is just deleting the `bin` folder every time we get the error and building the projects again. It's annoying, but the error goes away

[According to @dsplaisted](https://github.com/dotnet/corefx/issues/23229#issuecomment-331775504) it was going to be solved in version 15.4, which is already out so try upating just in case.

[2017-10-10 15:47] karelz commented on #24144
@Drawaes we have active discussions on which APIs should be out-of-box vs. in the platform. I believe we are leaning towards having this one out of box, which means nothing in platform can depend on it. At least not now. Please don't take dependency on it, unless you really have to.

[2017-10-10 15:57] Drawaes commented on #24144
Cool good to know. I don't really need it was just going to use it if it was the new one true way ;)

[2017-10-10 16:01] Drawaes commented on #24296
@benaadams @stephentoub updated top issue to match Bens design

[2017-10-10 16:07] KrzysztofCwalina commented on #24296
I am not sure it's worth adding two types to System root namespace just so we can have the factory methods.
Also, I don't think we should have Dangerous APIs on such types. We decided to move all dangerous APIs to Marshal-like type in System.Runtime.InteropServices.

[2017-10-10 16:09] karelz commented on #24449
Maybe naive question, but why is it called `UnixEpoch`?
Is there some RFC specifying that? Industry standard? Or is it Unix OS specific?

[2017-10-10 16:11] benaadams commented on #24296
Move the entire class into `System.Runtime.InteropServices` the argument rename is for interop also :)

[2017-10-10 16:13] stephentoub commented on #24449
https://en.wikipedia.org/wiki/Unix_time

[2017-10-10 16:27] karelz commented on #24449
Thanks! Updated top post with the link.

[2017-10-10 16:31] Drawaes commented on #24296
I am easy on location, and on naming, the Type Inference is more "friendly" if you want it moved @KrzysztofCwalina what would you call the class if it went to CompilierServices?

[code]

}

[2017-10-10 17:04] saurabh500 commented on #24480
@geleems PTAL

[2017-10-10 17:09] geekcubed commented on #23229
Updated to VS 15.4 and this is still persisting for me.   Solution has a total of 20 projects (class libraries, asp.net mvc / web api, console apps, MS Test projects) - all targeting 4.6.2.  Yellow Screen of Death appears when debugging asp.net applications.  Typically it references a faliure to find the correct version of `netfx.force.conflicts` or `System.Xml`

None of the above fixes have worke

[2017-10-10 17:10] terrajobst commented on #23862
@ahsonkhan mentioned he's not ready for a review yet.

[2017-10-10 17:11] WinCPP opened #24548 "Issues in CoreFx build and opening particular solution in VS 2017 community edition."
I am seeing following issue in build and opening System.Runtime.Extension solution in VS 2017 Community edition IDE. About three (plus) weeks back these issues were not seen. Last weekend, I sync'd my fork with latest code in dotnet/master and since then these issues have been happening consistently. Not only on my branch for #22409 but also on the master branch in my fork. I also recreated my loc

[2017-10-10 17:12] karelz commented on #22412
@KrzysztofCwalina I believe we are blocked on some of your `TextEncoding` APIs to show motivation for this one ...

[2017-10-10 17:13] terrajobst commented on #24039
@KrzysztofCwalina suggested to generalize this beyond these two types; @stephentoub said he has to think about to do this and whether it's even possible.

[2017-10-10 17:43] terrajobst commented on #23592
The API looks good, and it's a good problem to solve. However, we don't like the idea that we have to roundtrip data between the two different representations because it means we have to both, parse and combine per operating system and get the semantics right. Instead, we'd prefer a model like this:

[code]

`Start` would verify that not both is `!string.IsNullOrEmpty(Arguments)` and `ArgumentList

[2017-10-10 17:47] terrajobst commented on #24115
Looks good to us, but we should probably add the same API to `List<T>`

[2017-10-10 17:58] alhimik45 opened #24550 "HttpListener cannot recognize Websocket request from firefox"
When establishing websocket connection, firefox sends such `Connection` header: `Connection: keep-alive, Upgrade` and `System.Net.HttpListener` can't recognize the `Upgrade`

It can be tested with inserting this test case
[code]
to the `IsWebSocketRequest_GetProperty_ReturnsExpected` test of `HttpListenerRequestTests.cs`

[2017-10-10 18:09] ChristopherHaws commented on #24501
Yes, we are doing that, it's just not ideal. See what I had to do in this PR to add support for fractional seconds to FluentAssertions: https://github.com/fluentassertions/fluentassertions/pull/669/files

This file in particular has methods that to me seems like they should exist in .NET: `TimeSpanConversionExtensions.cs`

[2017-10-10 18:16] huanwu commented on #19720
Tried the fix on full framework. There're many regressions in wcf tests.  No clear clue from the error log. Need do many further investigation if still need take this fix. The cost might be high.

[2017-10-10 18:32] weshaggard commented on #24548
Thanks for the report @WinCPP I will attempt these steps and see if I can repro the issue. Do you know what the 50MB's that keeps getting downloaded is?

[2017-10-10 18:39] terrajobst commented on #23874
Couple of thoughts:

* We generally have to think about more aggressive buffer pooling
* We'd prefer the bool over the pool because it allows us to change the implementation
* It seems opting in wouldn't get huge wins for existing code because everyone has to change their code. At the same time, making it opt-in might be too breaking. The question is whether we can find a way to get 90% of the win

[2017-10-10 18:44] WinCPP commented on #24548
Thank you @weshaggard. Actually I am also interested in knowing that so I could provide more details. But running build.cmd with -verbose option doesn't give anything as to what it is doing at that point of time. Is there some additional option that I need to give for debugging the build process itself?

Between, just now, my build is stuck at that step for last 30+ minutes....!

[2017-10-10 18:53] weshaggard commented on #24548
So the build does download a number of packages but once they are downloaded they shouldn't need to keep being downloaded.  How is your internet connection? Also another option you can do is to download upfront you can run the "sync.cmd"

[2017-10-10 19:00] WinCPP commented on #24548
The build ended and it downloaded about 91 MB this time. I could see msbuild.exe using network resources during that time.

My internet connection is a 25 Mbps broadband...

I will try sync.cmd. One question about location of the packages. Few months back, due to depleting space on C drive (system), I was looking for ways to move the NuGet package directory to D drive and someone helped me with th

[2017-10-10 19:14] PeterSmithRedmond commented on #21577
[NIST guidelines](http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-52r1.pdf) allow quite a number of potential cipher suites.  It seems bad to only let people pick one (because then they can only connect to servers that support that particular suite), but it also seems bad to make people specify a large list.

How about something simpler: on the HttpClientHandler add a ".RequireStr

[2017-10-10 19:16] eerhardt opened #24551 "Need to build new 2.0.x Microsoft.NETCore.Platforms package"
We've made changes to the RID graph in the release/2.0.0 servicing branch.  Specifically we [added support for RHEL 6](https://github.com/dotnet/corefx/pull/22970).

However, we aren't producing a `2.0.x` version of the `Microsoft.NETCore.Platforms` package that contains these changes.  In order to fully support RHEL 6, we need a new Platforms package with these changes in it.

@weshaggard @Peterm

[2017-10-10 19:20] carusology commented on #11797
@karelz any progress here?

[2017-10-10 19:31] Mctalian commented on #11224
@khellang Thanks for the link (and the clarification on the `SocketException`s, I definitely had a misunderstanding there)- I've come across that post and 3 or 4 other posts outlining this exact same thing.

I understand that a single-instantiation was the intention, but when we're using it in Azure App Services, we are consistently hitting `HttpRequestExceptions` under a pretty modest load (menti

[2017-10-10 19:36] cesarbs commented on #24421
@davidfowl You pinged the wrong Halter, Stephen is @halter73 😄

[2017-10-10 19:49] #23916 closed

[2017-10-10 19:52] WinCPP commented on #24548
@weshaggard I am seeing similar issue with sync.cmd as well. Ran it multiple times. Each time it is stuck just after the below line for about 15+ mins and downloaded around 80 MB.

[code]

[2017-10-10 19:54] WinCPP commented on #24548
Between. I cancelled sync.cmd when it was stuck and it gave this output... looks like some hint what is happening / downloading at that time...

[code]

[2017-10-10 19:59] weshaggard commented on #24548
Yes it does sound like the downloading might be your issue and changing the packages path might have something to do with it. Can you try undoing your nuget.config change and see if that helps at all?

[2017-10-10 20:12] WinCPP commented on #24548
Ok. Got the doc which mentioned how to customize NuGet package path. Please refer [here](https://github.com/dotnet/corefx/wiki/Build-and-run-tests#nuget-cache-customization)

I will try undoing the nuget.config changes... But the customized path worked fine for me since May '17 until last weekend when I did a sync from dotnet/master after which I started having this download issue.

Between the ru

[2017-10-10 20:16] tarekgh commented on #24501
@ChristopherHaws you can log a new issue with the proposal of the new APIs you want to add and we can discuss the details. (here is issue example you can follow to file yours https://github.com/dotnet/corefx/issues/24449)

For ToString() I don't think we can change the default behavior for the app compatibility reason and we already supporting the patterns that can help show the micro, mini...seco

[2017-10-10 20:23] weshaggard commented on #24548
We did recently start downloading symbol packages which might have some issues. @safern can you help look into this?

[2017-10-10 20:25] weshaggard commented on #24548
@WinCPP you can also help test this theory by setting DownloadCoreCLRSymbols=false in your env or
passing it to the build commands.

@safern it doesn't look like we are doing this download incrementally https://github.com/dotnet/corefx/blob/master/external/runtime/runtime.depproj#L92, we should definitely fix that.

[2017-10-10 20:27] karelz commented on #11797
@carusology there is currently no action planned from our side (milestone is Future, it is not assigned to anyone and it is marked as up-for-grabs).
Any particular reason why you're looking for progress? The impact seems to be small. I don't see any specific reason why this bug should be higher priority than the rest of the ~2,000 bugs we have in the repo ...

[2017-10-10 20:32] safern commented on #24548
Taking a look now.

[2017-10-10 20:42] Drawaes commented on #21577
Alternatively you could do what I did in my demo .net managed tls lib. Have the ability to supply a list for those that want to and know what they're doing.

Reasoning... I have current places of employment that have a specific list of allowed protocols that aren't FIPS based ( not everyone is in the US) but then have some precanned lists ... FIPS could be one, but these should be included

https:

[2017-10-10 20:43] DHowett-MSFT opened #24552 "[debian9] libssl1.0.0 and libssl1.0.2 can end up loaded in same process causing crashes"
On Debian 9, curl depends on libssl1.0.2. When the libssl1.0.0 and libssl1.0.2 packages are both installed on a machine, `System.Security.Cryptography.Native.Openssl` will preferentially load `libssl.so.1.0.0`. `System.Net.Http.Native`, however, loads `libcurl.so`, which in turn loads `libssl.so.1.0.2`.

### Repro

Some combination (as yet undetermined; the repro is "open PowerShell 6.0.0-beta.8,

[2017-10-10 20:49] DHowett-MSFT commented on #24552
Ah: the callstack shows a callback traversing up from ssl 1.0.2, through libcoreclr, back down to ssl 1.0.0:

[code]

[2017-10-10 20:54] WinCPP commented on #24548
Wow! That was awesome! @weshaggard Thank you for suggesting the flag "DownloadCoreCLRSymbols=false". With that flag set, build was a breeze. Even my machine's fan hummed in same way as it used to previously do.

To confirm it, I ran build with that flag set multiple times and never did it stop at the dlls that I mentioned in the opening comment. Also network activity was negligible.

Also to confi

[2017-10-10 20:56] Drawaes commented on #24541
Spelling Suite ;)

[2017-10-10 20:57] Drawaes commented on #24541
So my problem with it at this level is that it will need support from SslStream. So there needs to be an API change on SslStream.

[2017-10-10 20:58] bgribaudo commented on #17577
Hum...this sounds like expected behavior due to a TLS limit on data fragment size.

It's interesting that you see this behavior at 16,388 bytes instead of 16,383 bytes, as referenced by the above article. What you're seeing lines up with an old KB article--[KB 2006769](https://support.microsoft.com/en-us/help/2006769/-communication-link-failure-error-message-is-reported-for-ssis-package) (see head

[2017-10-10 21:08] WinCPP commented on #24548
Additionally, for the second problem in the opening comment - "issue with VS 2017 Community Edition IDE while opening System.Runtime.Extension solution" - I did the same thing. Opened Developer command prompt 2017 -> set the environment variable that @weshaggard provided -> launched devenv.exe from that prompt (so it takes this additional env variable) -> opened the said solution from the IDE. Aga

[2017-10-10 21:12] safern commented on #24548
I think we should disable the download symbols by default to not affect contributors as it is a 50MB package and have a property to enable it. Then where we need them, like CI and official builds to track test crashes and get code coverage we can enable that flag.

What do you think? @weshaggard

[2017-10-10 21:13] Drawaes opened #24553 "SNI API for SslStream"
## Rationale

The SNI extension allows for multiple hostnames to be served from a single IP address/port combo. This is needed for Kestrel to be able to be a true web facing internet server using TLS.

The client side already supports sending a hostname so requires no change. The serverside should have a callback that gives the correct certificate/chain depending on a host name or returns null if

[2017-10-10 21:33] #24485 closed

[2017-10-10 21:35] stephentoub commented on #24550
Which OS? Windows? Linux? Both?

[2017-10-10 21:47] Tratcher commented on #24553
Something that came up during the ALPN design was that you may want to use other information from the handshake as inputs into cert selection such as ALPN. We should see how much information it's viable to surface during such a callback.

Side note: putting 'Sni' in the property and delegate names is unnecessary.

[2017-10-10 21:51] Drawaes commented on #24553
ALPN "might" be able to be surfaced, that in itself will be touch and go. For most of the libs SNI is the first callback that you then "switch in" an SslContext (in OpenSsl anyway) which then processes the ClientHello. So you might struggle to get ALPN, anything more than that I expect is a pipe dream (unless you had a managed TLS implementation 🤣

[2017-10-10 21:52] Drawaes commented on #24553
Updated top issue to drop Sni prefix

[2017-10-10 21:54] Tratcher commented on #24435
The new ManagedHandler has the same bug.
https://github.com/dotnet/corefx/commit/791f81d2d8eb45e5077d2c0c17e784ad597c5e3a#diff-f70b71fa62ffc09de0b0d0dcdd33a4bcR455

[2017-10-10 22:11] karelz commented on #24229
We discussed it with @weshaggard. We still don't fully understand all plugin/provider model requirements in this case. Can someone please describe the requirements, limitations and design choices / their motivation?

The truth is that .NET Core assumes that all app dependencies are known at compile time (which they are also on .NET 4.x) and listed in deps.json file (which is done automatically onl

[2017-10-10 22:14] karelz commented on #23592
FYI: The API review discussion was recorded - see https://youtu.be/b96co3sNzNI?t=334 (31 min duration)

[2017-10-10 22:15] karelz commented on #24115
FYI: The API review discussion was recorded - see https://youtu.be/b96co3sNzNI?t=2193 (4 min duration)

[2017-10-10 22:15] karelz commented on #24105
FYI: The API review discussion was recorded - see https://youtu.be/b96co3sNzNI?t=2423 (2 min duration)

[2017-10-10 22:16] karelz commented on #23874
FYI: The API review discussion was recorded - see https://youtu.be/b96co3sNzNI?t=2549 (53 min duration)

[2017-10-10 22:20] wfurt opened #24554 "Unit tests are failing if IPv6 is not configured"
I bump to this while running test on FreeBSD, however this issue is not OS specific.
Some tests make silent assumption about IPv6 and they fail if system is not configured to meet that.
This is unpleasant for anybody from community to run tests and get good pass.

The easy repro for Linux is:
sysctl -w net.ipv6.conf.all.disable_ipv6=1
./build-tests.sh

The expected behavior would be that tests nee

[2017-10-10 22:35] Tratcher commented on #23156
Yes please. HttpWebRequest had a lot of trouble with this around 4.5.1. It originally drained forever. Around 4.5.1 they decided to abort connections rather than draining. This immediately regressed perf and exhausted ports in a wide variety of applications. The most common repro was a chunked response with structured data. The data parse had read all of the structured data but had stopped reading

[2017-10-10 22:37] ChristopherHaws opened #24555 "Add Microseconds and Nanoseconds to TimeStamp, DateTime, and DateTimeOffset"
Currently, the value of a single `Tick` in .NET is 100ns, however there is no API surface for accessing microseconds or nanoseconds other than using `Ticks` to manually calculate these numbers. Seems like this could be done in a minor version since it would be adding API surface, not changing existing API's, and functionality would be unchanged.

# Proposed API
[code]

# Example Usage
[code]

[2017-10-10 22:37] ChristopherHaws commented on #24501
Thanks. I crated an issue for that: https://github.com/dotnet/corefx/issues/24555

[2017-10-10 22:40] CyrusNajmabadi commented on #19928
Not of the top of my head.  And I'm not really using VS anymore.  But it's not hard to collect just by running the experiment.

[2017-10-10 22:53] svick commented on #24555
Is the common use case really to have separate values for seconds, milliseconds, microseconds and nanoseconds? Wouldn't it be better to instead expose a floating point number that's the number of seconds, including the fractional part?

I realize this would be inconsistent (seconds and milliseconds are already separate), but I think usefulness beats consistency.

Though some of the proposed member

[2017-10-10 22:57] mairaw commented on #24514
If this is just a documentation issue, feel free to move it to our repo @stephentoub!

[2017-10-10 23:00] safern commented on #24548
@WinCPP we decided that we are going to keep the download by default but I just did it incremental such that if we have already the symbols in the cache don't download them again and just get them from there. Which means after you've run sync.cmd or build.cmd once you shouldn't have any problems. Also you could set the env var if you want to disable it always if it is slow in your end.

[2017-10-10 23:01] davkean commented on #19928
These are the ones that I'm aware of:

API/Exception|Throw when?|Notes
---|---|---
BadImageFormatException/FileLoadException|Assembly.GetAssemblyName
MissingManifestResourceException|Normal probing of satellite assemblies|
MissingMethodException|[Binder.DefaultBinder.BindToMethod throws this when it cannot find appropriate method](https://github.com/Microsoft/msbuild/issues/2217)|Plan on workaroun

[2017-10-10 23:15] jnm2 commented on #19928
@davkean Lol! My list is identical.

[2017-10-10 23:21] kspearrin opened #24557 "HttpClient does not follow 302 redirects"
Run the following console application in .NET Core 2.0 and in .NET Full Framework.

[code]

- In .NET Full Framework, this writes `OK` (200).
- In .NET Core 2.0 this writes `Redirect` (302).

I cannot get .NET Core 2.0 to follow the 302 redirect even if I explicitly do:

[code]

I always get `Redirect` (302).

[2017-10-10 23:25] geleems commented on #24480
Might be related with https://github.com/dotnet/corefx/issues/21530. I working on it to repro.

[2017-10-10 23:38] davidsh commented on #24557
This is probably doing a redirect from HTTPS to HTTP which is not allowed in .NET Core 2.0.

[2017-10-10 23:39] davidsh commented on #24557
cc: @karelz @stephentoub

[2017-10-10 23:44] kspearrin commented on #24557
@davidsh Is there a way to override this behavior?

[2017-10-10 23:51] tarekgh commented on #24555
If the caller has the values of seconds, milliseconds, microseconds, nanoseconds, would need to do some calculations to convert these values into the second fraction to be able to call the API. I think the request here is to help users not do the calculations themselves. users can achieve the result to do by calculating the ticks from the second fractions. so I am seeing the proposed APIs just a h

[2017-10-10 23:54] tarekgh commented on #24555
@ChristopherHaws what is the need for the To/From Unix APIs? could you please clarify how these exactly get used?

[2017-10-10 23:55] ChristopherHaws commented on #24555
@tarekgh Correct, there is no functional changes. It is just additional properties and methods for making it easier to work with microseconds and nanoseconds, which already exists in the `Ticks`. Here is a recent PR where I made some helper methods for doing just this: https://github.com/fluentassertions/fluentassertions/pull/669/files

Specificly `TimeSpanConversionExtensions.cs` and `FluentDateT

[2017-10-11 00:00] #24548 closed

[2017-10-11 00:01] davidsh commented on #24557
No.  You cannot override having automatic redirection dis-allow HTTPS -> HTTP.

However, you can set automatic redirection to false.  Then you can parse the 302 responses yourself (i.e. grab the "Location: " response header.  Then submit a new request to the new url.

[2017-10-11 00:04] sunandabalu commented on #24505
@danmosemsft This does not look like an Infrastructure issue, the VMs have ~30GB free space, looks like the test is writing more than it should to the disk  - https://github.com/dotnet/corefx/blob/c9729ac851c4b031cee3b3c8a6682ef7cdafb3d6/src/System.IO.FileSystem/tests/FileStream/WriteAsync.cs#L373. Could you please investigate if the test is flaky and turn it off if need be?

[2017-10-11 00:05] Petermarcu opened #24559 "Is not possible to create custom cultures in .Net Core"
@carcarbe commented on [Tue Oct 10 2017](https://github.com/dotnet/core/issues/1020)

Is not possible to create custom cultures in .Net Core

In .Net framework is possible to create custom cultures, e.g en-US-NY (English from New York). using CultureAndRegionInfoBuilder class  as is describe in this example http://www.c-sharpcorner.com/UploadFile/GemingLeader/creatingextending-a-culture/  .

Are t

[2017-10-11 00:05] svick commented on #24555
@tarekgh

I get that. My question is: how often does that happen? As an example, what's more likely, that the input is "3 minutes 14 seconds 159 milliseconds" or "3 minutes 14.159 seconds"? I think it's the latter and the current API does not handle that case well and the API proposed here does not improve it much either.

[2017-10-11 00:15] ChristopherHaws commented on #24555
@svick I think that both ways are valid for different reasons. The way I proposed in the issue are simply extending the existing API's standard. If `DateTime.Seconds` had been a method instead, I would say there should be an overload that allows you to decide if it includes the higher precision values or not. I cant think of a good name, but something like might work better for what you are talkin

[2017-10-11 00:22] davidsh commented on #24557
Similar root cause as #24361

[2017-10-11 00:36] Quppa commented on #23229
Based on https://github.com/dotnet/sdk/pull/1612, I guess this fix didn't make it in time for 15.4.

[2017-10-11 00:37] loopnotzero commented on #24472
Hi everyone, sorry for the delay and waste of your time.
Thanks **stephentoub** for the suggestion it was perfect because I forgot about the curl.
So, by the way I solved the problem cause I have seen that curl returns me unsupported type error.
For whom will have similar problem I just added right headers in the request and get it works like a charm.

[code]

The request is going to my java app a

[2017-10-11 00:48] carusology commented on #11797
Thanks for the update, @karelz.

We have a hack in the code with a comment that points to this issue as the root cause. From my perspective it is not critical, just a "nice to have."

[2017-10-11 01:01] halter73 opened #24562 "Disposing Socket then rebinding fails with SocketError.AddressAlreadyInUse on Unix"
.NET Core 2.0.0 runtime
macOS 10.12.6 Seirra and Ubuntu 16.04.2 LTS (Xenial Xerus)

[code]

#### Expected behavior:

Program should iterate indefinitely. This is what happens on Windows.

#### Actual behavior:

After the first iteration, Socket.Bind throws "SocketException: Address already in use"

#### Output (identical on macOS and Ubuntu):
[code]

[2017-10-11 01:07] davkean opened #24563 "ImmutableDictionary.CreateBuilder<TKey, TValue>(IEqualityComparer<string>) allocates unneeded enumerator"
We have code that does this:

[code]

This allocates an unnecessary boxed `ImmutableDictionary<TKey, TValue>.Enumerator`. This produces 0.2% of all allocations in some scenarios in MSbuild:

![image](https://user-images.githubusercontent.com/1103906/31417602-4fc623bc-ae7c-11e7-8183-6bad76ccf647.png)

[2017-10-11 01:14] davkean commented on #24563
This would also imply that AddRange also boxes the `ImmutableDictionary<TKey, TValue>.AddRange` unnecessarily.

[2017-10-11 01:58] mikedn commented on #24115
Note that currently `Array.Sort(foo, 0, 42, null)` is valid, a null results in the default comparer being used. After this addition such code won't compiler anymore.

[2017-10-11 02:13] stephentoub commented on #24115
Ugh. That's probably a deal breaker.

[2017-10-11 02:13] ahsonkhan opened #24564 "Add explicit conversion APIs for Span to ROSpan and Memory to ROMemory"
## Rationale
From https://github.com/dotnet/corefx/issues/23862#issuecomment-328097809

[code]

This is the only way to convert from `Span<T>` to `ReadOnlySpan<T> and `Memory<T>` to `ReadOnlyMemory<T>`. [Framework Design Guildelines say](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/operator-overloads):

Specifically, F# does not support implicit operators, but allows calling

[2017-10-11 02:26] ahsonkhan commented on #23862
The `Memory<T>` APIs are ready for review.

**Here is what we need to discuss.**
1. We changed the AsSpan() method into an abstract property named Span.
   - When do we intend to use properties versus methods for span/memory related conversions?
2. Should we add the "bulk" operations that are available on Span\<T\> to Memory\<T\> as well such as the ones listed below:
   - Where would the MemoryEx

[2017-10-11 02:33] Sunny-pu commented on #23677
failed again in UWP ILC Tests:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20171011.01/workItem/System.Collections.Tests.Execution/analysis/xunit/System.Collections.Generic.Tests.ComparerTests~2FNullableOfIComparableComparisonsShouldTryToCallLeftHandCompareToFirst

[2017-10-11 02:51] Jiayili1 commented on #23102
failed again in outerloop_netcoreapp_debian8.4_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_debian8.4_release/191/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_ExpectedDiagnosticSourceLogging/

[2017-10-11 02:51] WinCPP commented on #24548
@safern Thanks for the fix.

Quick curiosity questions.
1. What could be the reason that only symbol downloads are at few hundreds of kbps rate whereas rest of the downloads i.e. setting up git repo, the package refresh etc., happens at 20-25Mbps... i.e. full speed of my connection. Is it because other stuff that downloads fast is cached on some servers which are near to me and the symbols come fr

[2017-10-11 02:56] danmosemsft commented on #24542
@NN--- yes, we cannot allow .NET Core to use any undocumented Windows API. Eg in the case of SYSTEM_PROCESS_INFORMATION we explicitly follow what is documented for it in NtQuerySystemInformation and ZwQuerySystemInformation (they are not quite the same - a doc issue). Perhaps there is some way to get this information through documented API? If not, a 3rd party library is free to use the undocument

[2017-10-11 02:57] danmosemsft commented on #24559
@krwq on whether this can be done and whethere there are plans.

[2017-10-11 03:01] alhimik45 commented on #24550
Both

[2017-10-11 03:01] Jiayili1 opened #24566 "System.Net.Sockets.Tests.IPPacketInformationTest.Equals_NonDefaultValue_Success failed with "Xunit.Sdk.TrueException""
System.Net.Sockets.Tests.IPPacketInformationTest.Equals_NonDefaultValue_Success [FAIL]
18:26:35         Assert.True() Failure
18:26:35         Expected: True
18:26:35         Actual:   False
18:26:35         Stack Trace:
18:26:35   downloaded dumpling.py
18:26:35   total elapsed time 0:00:00.156276
18:26:35   downloaded dumpling.py
18:26:35   total elapsed time 0:00:00.155070
18:26:35            /

[2017-10-11 03:04] stephentoub commented on #24472
Thanks, @loopnotzero.

[2017-10-11 03:04] #24472 closed

[2017-10-11 03:06] danmosemsft commented on #24540
@ahsonkhan / @AtsushiKan can you shed light on this one? The test has not changed. Presumably it is triggered by addition of `ReadOnlySpan<char>` on some type?

[2017-10-11 03:14] danmosemsft commented on #24539
@kouvel could there be a race here similar to https://github.com/dotnet/corefx/issues/14839 / https://github.com/dotnet/corefx/pull/14925 ?

[2017-10-11 03:20] stephentoub commented on #24562
I assume if you add:
[code]
before the Bind call, it then works fine?

[2017-10-11 03:27] FDUdannychen opened #24567 "Strange behavior of Directory.CreateDirectory"
I found strange behaviors in `Directory.CreateDirectory` in my .net core2.0 app. My test code looks like:
[code]
I change the value of `lastLength` a few times, here is the question:
Q1: `lastLength = 224, path.Length = 32739` everything is working fine. What's the magic of 32739?

Q2: `225 <= lastLength <= 247, 32740 <= path.Length <= 32762` throws `System.IO.PathTooLongException`, meanwhile `Dir

[2017-10-11 03:29] danmosemsft commented on #24537
@Jiayili1 no, don't ignore 131. It's a real failure.

This line is above it in the log, and hte same in the #24298 as well:

` A fatal error occurred, the required library libhostfxr.dylib could not be found at /Users/dotnet-bot/j/workspace/dotnet_corefx/master/osx10.12_release/bin/testhost/netcoreapp-OSX-Release-x64/shared/Microsoft.NETCore.App/9.9.9/`

higher up I see it was apparently gotten su

[2017-10-11 03:31] danmosemsft commented on #24525
@benaadams I do'nt think so, that's freebsd specific.

[2017-10-11 03:33] ahsonkhan opened #24568 "Add Base64 conversion APIs that support UTF-8 for Span<T>"
## Updated API Proposal
Details https://github.com/dotnet/corefx/issues/24568#issuecomment-338833370
[code]
<details>
  <summary>Details and Usage from previously proposed API</summary>

## Rationale
These API allow for encoding of a Span\<byte\> into UTF-8 Base64 encoded span (binary to text operation) and decoding of a UTF-8 Base64 encoded span to Span\<byte\> (text to binary operation). They wi

[2017-10-11 03:37] danmosemsft commented on #24525
@qmfrederik do you have any context on these segfaults? I'm not sure whether they're only on SUSE, but perhaps it has an outdated copy of libgdiplus (it doesn't return false from GetRecentGdiPlusIsAvailable())

/cc @safern

[2017-10-11 03:39] #22396 closed

[2017-10-11 03:40] danmosemsft commented on #24567
@JeremyKuhne can doubtless explain ...

[2017-10-11 04:39] NN--- commented on #24542
[SystemProcessInformation](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Windows.cs#L845) still differs from [SYSTEM_PROCESS_INFORMATION](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724509(v=vs.85).aspx) in MSDN .
For example MSDN doesn't define 'NumberOfThreads' or even 'ImageName':

[code]

[code]

How they are co

[2017-10-11 05:17] leedavi commented on #24229
OK, Thanks for getting back to us on this.
In my case their is a concept that I want my application to support multiple Databases.

The standard method of this was to use a provider method, so we have an assembly for each database and at runtime/startup with load the required provider.

In my case I have this working with the DBreeze database.  Which I must say has a simple dependency model.

Howe

[2017-10-11 05:29] danmosemsft commented on #24525
Debian8.7 now.
https://dumpling.azurewebsites.net/api/dumplings/archived/eefcb1cc36977ccf86f457ee28a33a7b4cc24e13
https://mc.dot.net/#/user/adiaaida/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/52c33af0e09a614ab89ba8b519fc21de0e53bdcf/workItem/System.Drawing.Common.Tests/wilogs

[2017-10-11 06:03] danmosemsft commented on #24542
@NN--- ZwQuerySystemInformation mentions NumberOfThreads. ImageName should be documented --  this is a doc bug (or I'm just not finding the right version of the doc). I've reached out internally to get the doc corrected. That wouldn't include what you need here though unfortunately.

[2017-10-11 06:09] NN--- commented on #24542
@danmosemsft Seems like Nt version should update docs.
There are more fields that are not documented, perhaps another documentation bug.
Such as BasePriority, SessionId, PeakVirtualSize, VirtualSize, PeakWorkingSetSize , WorkingSetSize, QuotaPagedPoolUsage, QuotaNonPagedPoolUsage

[2017-10-11 06:11] danmosemsft commented on #24542
@NN--- yep.

[2017-10-11 06:20] NN--- commented on #24542
@danmosemsft Following this case, is there a reason why other fields such as CreateTime won't be documented too ?

[2017-10-11 06:21] gulbanana commented on #19928
there are few enough badly behaved apis which encourage throw-and-catch that i routinely rework code to avoid using them - i was reminded of this issue today when a coworker mentioned avoiding some uses of “new XmlSerializer()” for the same reason. if you can get near to 0 first-chance exceptions it’s a great aid to debuggability, and every little feature like TryGetAssemblyName helps.

please don

[2017-10-11 06:24] davkean commented on #19928
Yes, forgot about that one, added it to the list.

[2017-10-11 06:59] tmds commented on #24562
👍

For me, It's strange Windows allows to bind during TIME_WAIT.

[2017-10-11 07:37] balkarov commented on #23605
@Jenan thank you for 4.5.0-preview1-25726-06
It works fine!
PS: need install via nuget console
`Install-Package System.DirectoryServices.AccountManagement -Version 4.5.0-preview1-25726-06 -Source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json`
because there is version absent in nuget package manager

[2017-10-11 09:12] mlawand commented on #23608
@chris-nissen did you find another workaround?

[2017-10-11 10:01] qmfrederik commented on #24525
@danmosemsft I don't have any immediate context for these segfaults.

Debian Jessie ships with [version 4.2 of libgdiplus](https://packages.debian.org/search?keywords=libgdiplus&searchon=names&suite=stable&section=all) which [dates from December 2015](https://github.com/mono/libgdiplus/tree/4.2). There have been a few fixes to libdiplus since.

We'll probably need to do some work to identify all t

[2017-10-11 10:24] balkarov commented on #23605
@Jenan 4.5.0-preview1-25726-06
This version works only on windows.
Does not work on Linux

[2017-10-11 10:51] Cronan commented on #21359
I can confirm I'm seeing the issue:

[2017-10-11 11:07] Drawaes commented on #24525
Is it possible to disable these tests on these platforms and tag them with this issue in the meantime then?

It sounds like a fix isn't a quick thing and they cause a lot of outerloop failures.

[2017-10-11 11:08] JimboWei opened #24571 "SyndicationItem.LoadAsync(reader) Throws Exception."
When using `SyndicationItem.LoadAsync(reader)` load SyndicationItem from XML file throw an exception.
Xml file content :
[code]
Exception : **The element with name 'entry' and namespace 'http://www.w3.org/2005/Atom' is not an allowed item format.**

test code : https://github.com/dotnet/corefx/pull/24570/files#diff-7d1b74e55ac8dc9392b9f34a00e6741eR705

[2017-10-11 11:15] Jenan commented on #23605
@balkarov Yes, it is probably necessary run this code on windows wih IIS. IIS know information about AD via turn on the windows authentication. But I am not sure.

Please help - @tarekgh or @danmosemsft - Is it possible use `PrincipalContext `outside windows and IIS?
Thank you.

[2017-10-11 11:29] JimboWei opened #24572 "Atom10ItemFormatter. WriteToAsync() return wrong Result."
Test code :
[code]
**Result File content**:
`<?xml version="1.0" encoding="utf-8"?><entry xmlns="http://www.w3.org/2005/Atom" />`

**It should be like this**:
`<?xml version="1.0" encoding="utf-8"?><entry xmlns="http://www.w3.org/2005/Atom"><id>uuid:43481a10-d881-40d1-adf2-99b438c57e21;id=1</id><title type="text">SyndicationFeed released for .net Core</title><updated>2017-10-11T11:25:55Z</updated>

[2017-10-11 11:35] sdb-dev commented on #24480
I may also possibly be experiencing the same issue.
I have a Ubuntu 16.04 server with SQL Server 2017 on it. When running the application directly on the server, it seems to slow down by as much as 10-15x compared to running it on Windows (remotely too).

It seems to be some sort of issue with .net core and sql running on the same machine. Running the same application from a ubuntu machine at my h

[2017-10-11 11:50] qmfrederik commented on #24525
@Drawaes Part of the problem is that for tests that cause the test process to crash (e.g. segfaults), there is no clear indication in the test logs which unit test caused the segfault - so it's not easy to say which test should be disabled (other than disabling all System.Drawing.Common tests all together).

[2017-10-11 11:58] Drawaes commented on #24525
Process of elimination then... you are on a binary search.

Remove 1 test on 1 distro that fails a lot. See if it starts passing, Keep going until that distro either has no tests left or passes. Once it passes go back and try to add the other tests and see if it all works. :)

At least you can narrow it hopefully, and secondly everyone else doesn't have to go into every outerloop because they alwa

[2017-10-11 12:50] colombod commented on #1653
Array segment is good and can be used on the socket api, but is not generally available on other io apis like on named pipes for example. The new span and memory api seem to hit the spot!

[2017-10-11 12:53] stephentoub commented on #1653
Not built in, but you can easily add them yourself via extensions, e.g.
[code]

[2017-10-11 12:56] colombod commented on #1653
The only thing I was doing on top of spans was to see them as a memory buffer and then be able to represent a required X amount of memory as a set of spans. The extension is interesting but the interesting part would be to be able to pass the Memory object all the way down to native call instead of keep on doing pinvoke for each span.

[2017-10-11 13:19] stephentoub commented on #23341
Again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/821a67e82e3fce9372125b4720907325ffe3d898/workItem/System.Net.Security.Tests/wilogs

[2017-10-11 13:34] tlgkccampbell commented on #17214
@mellinoe

Xamarin resolved my bug last night with the following message:

So it appears that any further discussions will need to happen here.

[2017-10-11 14:08] ntomallen commented on #24336
Just want to bump this. Since documentation isn't out for this feature yet, I may be using this incorrectly, but I created a new UWP project today (using Microsoft.NETCore.UniversalWindowsPlatform v6.0.1) on the latest build of the Fall Creator's update (16299.15) in Visual Studio 2017 v15.4 Preview 6, and I'm getting the same bug. If I use this:

```private string conString = "Data Source = xxx.x

[2017-10-11 14:39] stephentoub commented on #24525
This one's on Fedora:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/231901a598b4bb3c7591db6b3496a656c92e3644

[2017-10-11 14:53] karelz commented on #21359
@jheidlage1222 can you provide more details? If it repros on final version, we want to know more about it. Thanks!

[2017-10-11 14:57] karelz opened #24574 "How to default to WinHTTP proxy not the WinINet for a .Net core app"
_From @rohitshrivastava04 on October 11, 2017 10:50_

# Issue Title
How to set proxy settings for a .Net Core application

# General

We have a .Net Core Windows Service which makes few calls to AWS or other internet services. For this, it needs to use proxy settings. There are two options either we configure each call to use proxy server or set proxy setting machine wide. Setting WinHTTP proxy co

[2017-10-11 15:31] bartonjs opened #24575 "Make BigInteger BigEndian-friendly"
The current state of BigInteger accepts a `byte[]` (and now a `ReadOnlySpan<byte>`) as a little-endian signed value, and the writer APIs (`ToByteArray()` and `TryWriteBytes`) only emit as a signed little-endian value. Various wire protocols may dictate either of 1) an unsigned value in transmission or 2) big-endian transmission.  Both of these protocol choices result in the application/library nee

[2017-10-11 15:32] stephentoub commented on #24525
And on CentOS:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/231901a598b4bb3c7591db6b3496a656c92e3644

[2017-10-11 15:35] tarekgh commented on #24559
We have been awhile depending on the OS for getting the locales. You still can create a custom cultures on Windows using the locale builder tool https://www.microsoft.com/en-us/download/confirmation.aspx?id=41158 and the framework will just read this custom locale through the OS. Actually, this is the recomendation from OS team because CultureAndRegionInfoBuilder needs to know the internal structu

[2017-10-11 15:35] #24559 closed

[2017-10-11 15:40] tarekgh commented on #23605
@balkarov @Jenan we support Windows only for this release. @danmosemsft may give more details about that.

CC @tquerec

[2017-10-11 15:46] balkarov commented on #23605
@tarekgh what about plan for Linux?
Will you make it? If yes, how long?

[2017-10-11 16:00] davidsh commented on #24574
This is not currently possible.  WinHttpHandler/HttpClientHandler uses the "Wininet" proxy settings because it is the same behavior as .NET Framework.

[2017-10-11 16:06] tarekgh commented on #23605
@danmosemsft could you help answering @balkarov question? Thanks.

[2017-10-11 16:09] chris-nissen commented on #23608
Sorry, no--my "solution" was just to remove the App Insights extension from my web app for the time being, until .NET Core 2.0.2 is available in Azure.

[2017-10-11 16:17] tarekgh commented on #24555
@ChristopherHaws

- I am not seeing a big value to have From/To Unix proposed APIs. if you agree, we can remove them from the proposal.
- Also in DateTime/TimeSpan, the minimum unit we are using is the ticks (which is long value and not double). 1 Tick is 100 nanoseconds. so the proposed APIs that takes nanoseconds is kind doesn't make sense except if we ask users passing it as multiple of 100 nan

[2017-10-11 16:27] xrkolovos commented on #24361
Thank you for your advices. I did understand the problem was in that area, but the error is very confusing, as you pointed out. That is the issue.

[2017-10-11 16:32] karelz commented on #24557
@davidsh should we resolve one of the issues as dupe?
Do we have tracking issue for error message improvement? It would save everyone quite some time ...

[2017-10-11 16:33] safern commented on #24525
Finally, we’ve got a dump, yay! @qmfrederik I sword of know how to open it, so I will try it in my Ubuntu box and update the thread. I think there is a doc if you want to try opening it in your end also. Let me find it an I’ll post it here.

[2017-10-11 16:34] kspearrin commented on #24557
I am ok with closing this now as needed. I just did not expect the difference in behavior between the two frameworks.

[2017-10-11 16:38] karelz commented on #24557
@kspearrin this is corner case difference. Moreover, the .NET Core behavior is more secure.
Having good explanation (in the exception) when it happens would be really nice to have though.

[2017-10-11 16:43] davidsh commented on #24574
I'm correctly what I previously said before.

If you use HttpClientHandler directly, it uses WinHttpHandler in the "Wininet" style proxy setting mode.  This matches the behavior of .NET Framework.

However, if you use WinHttpHandler directly, you can use WinHTTP-style proxy settings:

[code]

[2017-10-11 16:50] davidsh commented on #24557
Actually, I think we should consider a behavior change.  Since we are already different from .NET Framework (which allows HTTPS -> HTTP), we should probably just throw an exception (HttpRequestion exception) will a good error message.  This is probably better than our current behavior where we simply ignore the redirect.

cc: @stephentoub @karelz

[2017-10-11 16:54] joshfree commented on #23355
Closing old issue.

https://www.nuget.org/packages/Microsoft.NETCore.UniversalWindowsPlatform/6.0.1

[2017-10-11 16:54] #23355 closed

[2017-10-11 17:14] AtsushiKan commented on #24540
`ReadOnlySpan` is marked as BlockReflection in current builds of Project N. I assume this has something to do with the way Span has been wandering around the contract assemblies?

[2017-10-11 17:27] karelz commented on #24557
Sounds reasonable to me. cc @geoffkizer @Priya91 @wfurt

[2017-10-11 17:41] davidsh opened #24577 "Change System.Net.Http to throw exception for HTTPS -> HTTP redirects"
Currently, .NET Core will ignore automatic HTTPS -> HTTP redirects in HttpClientHandler.  This is already a different behavior from .NET Framework (which allows automatic HTTPS -> HTTP redirects).

.NET Core is different from .NET Framework in this manner in order to provide a more secure behavior pattern. However, currently .NET Core simply ignores the HTTPS -> HTTP redirect. It leaves the final

[2017-10-11 17:42] davidsh commented on #24557
I opened up a new issue #24577 to track work to make this change .NET Core.

[2017-10-11 17:43] davidsh commented on #24557
Closing this issue now since the behavior is understood and #24577 will track changing this to an exception.

[2017-10-11 17:43] #24557 closed

[2017-10-11 17:43] davidsh commented on #24361
Closing this issue now since the behavior is understood and #24577 will track changing this to an exception.

[2017-10-11 17:43] #24361 closed

[2017-10-11 17:56] jheidlage1222 commented on #21359
@karelz What additional information do you need from me?  Did you read the post I linked to above?

[2017-10-11 17:58] foxjazz commented on #5252
After published on Windows Server 2008 R2 is not working.
sni.dll not found when connecting to the database.

[2017-10-11 18:09] Clockwork-Muse commented on #24555
Um, but what about #24449 ?

[2017-10-11 18:13] karelz commented on #21359
I skimmed through your post earlier (and re-read it now again). Callstack would be helpful IMO.
I guess that the DLLs you are referencing are built against .NET Framework. It is quite possible that they are in the category which won't "just work" on .NET Core ... the callstack should help us to tell more.

[2017-10-11 18:16] halter73 commented on #24562
Thanks for the suggestion. The ReuseAddress option successfully allowed rebinding on macOS and Linux. I think we should consider making the option the default for more consistency between Windows and Unix.

@tmds What problems might arise binding to an endpoint with a socket in the TIME_WAIT state?

[2017-10-11 18:18] karelz commented on #24552
@bartonjs @janvorli @Priya91 @wfurt any thoughts here?

[2017-10-11 18:24] tarekgh commented on #24555
@Clockwork-Muse for #24449, I am seeing a lot of people is using

[code]

this why #24449 would have a value. but for the proposed Unix APIs here, I am not seeing many people using it.

[2017-10-11 18:27] ChristopherHaws commented on #24555
@tarekgh
- I am ok with removing the From/To Unix API's. At some point I could see the value in having To/From UnixMicroseconds, but I would say that they are much less important than the rest of the helpers, so I will remove them from the proposal.
- I can see the issues with adding nanoseconds (mainly needing to add in 100ns increments). I wish there were a better name that could be given to the

[2017-10-11 18:28] karelz commented on #20903
@divega ping?

[2017-10-11 18:30] janvorli commented on #24552
I think I'll need to add a way to enable overriding the libssl we load (via an env var). I cannot see a reasonable automatic way to resolve the problem. If I switched the search order (first 1.0.2, then 1.0.0), then it would create the same potential issue on other distros where curl is built against libssl 1.0.0, but someone installs the 1.0.2 side by side with it.

[2017-10-11 18:34] DHowett-MSFT commented on #24552
Through some combination of `dlsym(RTLD_NEXT, ...` and `dladdr` you can probe for an already-loaded libssl, get its path and perhaps verify its version. From there, `S.S.Cryptography.Native` could use the existing loaded libssl to resolve further symbols.

Would that be an appropriate solution?

[2017-10-11 18:40] tarekgh commented on #24555
@ChristopherHaws thanks for your updates. I'll try to look more get back to you if I have any other comment. could you please move the allowed values of the millisecond, Microseconds...etc. to the proposal, section to be clear about how the APIs will work and when we throw?

[2017-10-11 18:45] geleems commented on #24417
Fix was merged to main branch.

[2017-10-11 18:45] #24417 closed

[2017-10-11 18:47] deepumi opened #24580 "HttpClient status code - different behavior (Windows / CENT OS)"
DotNet version - 1.0.1
OS - CENT OS
URL - http://www.switchboard.com
![image](https://user-images.githubusercontent.com/554039/31459668-d775c758-ae91-11e7-9159-34737c344cd2.png)

DotNet version - 1.0.1
OS - Windows 10 OS
URL - http://www.switchboard.com
![image](https://user-images.githubusercontent.com/554039/31459224-8a20d728-ae90-11e7-95d1-85bc99f72b8f.png)

Basically the app does return a stat

[2017-10-11 18:50] janvorli commented on #24552
@DHowett-MSFT the issue is that the libcurl doesn't have to be loaded yet at the point when we load libssl. The libcurl is loaded only if System.Net.Http.dll is used and libssl when System.Security.Cryptography.dll is used.

[2017-10-11 18:55] ChristopherHaws commented on #24555
@tarekgh Added in the form of xml docs to the proposal. Thanks!

[2017-10-11 18:55] janvorli commented on #24552
Maybe we could try to change the System.Security.Cryptography.Native.OpenSSL.so to load libssl indirectly by loading libcurl, but that's kind of ugly since it pulls quite a lot of other libraries into the process and if someone is using just the crypto stuff and no https, then it would be waste of space.

[2017-10-11 18:56] jhudsoncedaron commented on #8895
This is getting pretty sad. This still isn't fixed in 2.0 and I've ran into other scenarios where Close() needs to exist but doesn't. I've had to resort to throwing in Dispose() as of yesterday.

[2017-10-11 18:59] tarekgh commented on #24555
@iamcarbon I am seeing your reaction to the proposal. do you have any specific feedback to understand why you don't like the proposal? Thanks.

[2017-10-11 19:06] jhudsoncedaron commented on #8895
So this is very interesting. The source for https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/Stream.cs shows a public virtual void Close() but when I try to override it the IDE says NO.

[2017-10-11 19:08] safern commented on #24525
From the dumpling that @danmosemsft pointed out to I got this stack trace:

[code]
Which points us to the test that crashed and the path that it followed to cause the crash. Will go ahead and take a look at other dumps (if there are) in the other build failures to see if there is other crashing test, and then I'll disable the crashing tests.

In the meantime, @qmfrederik would you mind taking a lo

[2017-10-11 19:11] iamcarbon commented on #24555
@tarekgh DateTime is only accurate to 100 nanoseconds. It's confusing to have a property that cannot represent its full range.

[2017-10-11 19:12] Drawaes commented on #24525
Thanks that would be awesome

[2017-10-11 19:13] svick commented on #8895
@jhudsoncedaron Overriding `Stream.Close()` works fine for me on .Net Core 2.0 (and on .Net Standard 2.0 too). If it doesn't work for you, can you share a minimal repro (including your csproj)?

[2017-10-11 19:16] safern commented on #24525
PR to disable: https://github.com/dotnet/corefx/pull/24581

In the meantime we can keep investigating and add more test to that PR if needed.

[2017-10-11 19:21] stephentoub commented on #24562
Unfortunately that doesn't bring consistency as it leads to other issues, e.g. you probably don't want this code succeeding, but it does:
[code]

As the thorough write-up at https://stackoverflow.com/a/14388707 states, "Welcome to the wonderful world of portability... or rather the lack of it."

[2017-10-11 19:35] halter73 commented on #24562
Thanks @stephentoub. It's true that I don't want to allow two sockets to bind to the same endpoint simultaneously.

I'm open to suggestions on how to actually make the Unix behavior more similar to Windows. With libuv, we are able to immediate rebind to a port without resorting to using SO_REUSEADDR. I'm still reading through the write-up. Maybe that will give me some ideas.

[2017-10-11 19:35] tmds commented on #24562
@halter73 If you are using the port for a TCP listen socket, it's appropriate to set the option (per https://stackoverflow.com/questions/6960219/why-not-using-so-reuseaddr-on-unix-tcp-ip-servers).
The state is to allow some lost/duplicate packets to be delivered to the 'right' socket and not to a 'new'/'no' socket.
I am used to setting this on TCP listen sockets. I have never set this on non-liste

[2017-10-11 19:36] saurabh500 commented on #23899
In my opinion, there should be no behavior change in S.D.Common.
The reason the provider is expected to implement interfaces directly is because interfaces came before base classes in the history of ADO.Net (Desktop) and all providers had implemented these interfaces. When the base classes were created, the behavior was kept such that the Interface behavior is not broken.
With the change in .Net C

[2017-10-11 19:37] tmds commented on #24562
I guess libuv is setting SO_REUSEADDR and not SO_REUSEPORT.

[2017-10-11 19:40] stephentoub commented on #24562
That's because libuv sets SO_REUSEADDR:
https://github.com/libuv/libuv/blob/1a96fe33343f82721ba8bc93adb5a67ddcf70ec4/src/unix/tcp.c#L107

[2017-10-11 19:44] halter73 commented on #24562
Interesting. Is there no way to set SO_REUSEADDR and not SO_REUSEPORT with the managed Socket API?

[2017-10-11 19:56] jhudsoncedaron commented on #23899
@saurabh500 : Try inheriting from the base class System.Data.Common.DbParameter and overriding  Precision and trying to call it via the interface IDbParameter. Your code won't work either. That's the actual bug.

[2017-10-11 19:57] ajcvickers opened #24582 "Extremely slow queries when when running on Linux with SQL 2017 on the same machine"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/10043 submitted by @sdb-dev

I am experiencing 5-10x slower queries on a fresh dedicated server with Ubuntu 16.04 and SQL Server 2017.

This issue is ONLY happening when the SQL Server and the .NET Core application is running on the same linux machine (Ubuntu).

I created a simple application which does a .ToList() on 2 tables (one wi

[2017-10-11 19:57] ajcvickers commented on #24582
Comment from https://github.com/aspnet/EntityFrameworkCore/issues/10043 by @sdb-dev

I found a way to 'fix' this issue - setting the packet size to on the connection string (`Packet Size=32768;`) makes the data load extremely fast as it normally should...

I just have absolutely no idea why that would make a difference. That value is not set on my remote strings.

Anyhow, with that option, the 10k

[2017-10-11 19:58] ajcvickers commented on #24582
https://github.com/aspnet/EntityFrameworkCore/issues/10043 submitted by @ralmsdeveloper

By default in ADO.NET, the packet value in (bytes) is 8000.

So, SQL will use the SinglePage Allocator, but if you set a value greater than 8000, we will force SQL Server to work in a MultiPage Allocator, so the performance gain is much greater

[2017-10-11 19:58] stephentoub commented on #24562
The reasoning behind this is outlined at https://github.com/dotnet/corefx/issues/11292#issuecomment-243911958 and https://github.com/dotnet/corefx/pull/11509.  If this is going to be changed, someone would need to do a thorough investigation to validate it's actually making things better, not worse.

[2017-10-11 20:00] stephentoub commented on #24562
@tmds, the example I sent behaves the same on Windows.

[2017-10-11 20:01] ajcvickers commented on #24582
FYI @sebastienros @mikeharder @anpete @divega--it was mentioned in triage that this may be related to an issue you guys have been seeing with the benchmarks.

[2017-10-11 20:01] jhudsoncedaron commented on #8895
Scratch that. It's nuget doing something dumb again. Adding an explicit reference to System.IO allowed Close() to resolve.

[2017-10-11 20:02] tarekgh commented on #24555
I am not sure I fully understand this but DateTime has Ticks property that can reflect the ticks (in hundreds of nanoseconds). Also, it has MinValue and MaxValue properties which can tell the min and max of the supported range. if you are referring to a specific property in the proposal, please let me know so we can evaluate your feedback.

[2017-10-11 20:04] halter73 commented on #24562
If it is too breaking to stop setting SO_REUSEPORT when setting SocketOptionName.ReuseAddress, I would appreciate having some way to set SO_REUSEADDR by itself so the Kestrel Sockets transport can behave more similarly to the Libuv transport on Unix.

[2017-10-11 20:05] sebastienros commented on #24582
I am seeing a similar slow performance with a Linux container, I will try with your connection string.

[2017-10-11 20:10] stephentoub commented on #24562
You could always fall back to a P/Invoke to setsockopt, but that's far from ideal.

I don't think we want to change how SocketOptionName.ReuseAddress is implemented, as it's explicitly implemented as it is to maintain parity with Windows when it's set to true.

Someone could look into what the impact would be of setting SO_REUSEADDR (not SO_REUSEPORT) in the unix PAL when a socket is created, but

[2017-10-11 20:13] ChristopherHaws commented on #24555
@tarekgh I believe he is referring to the fact that the `Nanoseconds` property would only ever return one of 10 values (0, 100, 200, 300, 400, 500, 600, 700, 800, 900).

I personally don't have any issue with this, as the alternative is that anyone who needs to know the amount of nanoseconds would have to calculate it from the ticks, but it should definitely be pointed out in the documentation. IM

[2017-10-11 20:20] tarekgh commented on #24555
This is a limitation of DateTime. even if we were supporting nanoseconds we could get cases asking for femtoseconds :-)

At any case, we have to have a minimum unit we can support considering we want to keep DateTime size not exceeding long size for perf reasons.

[2017-10-11 20:21] JeremyKuhne commented on #24567
You have to know quite a bit about how Windows handles paths to fully understand what is happening. I blogged about path handling in great detail starting with https://blogs.msdn.microsoft.com/jeremykuhne/2016/04/21/path-format-overview/.

The bottom line is that there are no "real" path limits in most file systems (NTFS, FAT, ext4, etc.). Limits in Windows APIs are from a few sources:

1. Win32 `

[2017-10-11 20:29] wfurt commented on #24552
those pages would be easily releasable as OS knows it is backed by file.
Since RTLD_LOCAL should be default, there really should not be conflict with symbols, right?
So even if loaded twice, we would only get crash if for example X509 structure is not binary compatible. Would it be reasonable to perform some check when either ssl or curl is loaded?
I think throwing meaningful error would be better