[2017-01-21 00:58] Priya91 commented on #15157
@tewarid Would you like to come up with an api proposal? The proposal should explain the usage scenarios and the API design.

[2017-01-21 00:59] mellinoe commented on #15301
Can you close Visual Studio and see if that helps?

[2017-01-21 01:03] jamesqo commented on #15301
@mellinoe Just edited my question at the bottom after you commented. I just closed VS and verified that `handle` no longer said `devenv` was using the assemblies, but it still happens.

[2017-01-21 01:17] non-standard commented on #10958
Any updates?

[2017-01-21 01:18] non-standard commented on #4870
Any updates?

[2017-01-21 01:22] davidsh commented on #10958
Yes, the bug was in the OS platform (Windows) in the native WinHTTP component.  That bug has been fixed.  The fix is available if you are running on the latest Insider Preview of Windows 10.  That means a build beyond the Windows 10 Anniversary Update (build 14393).

I did not resolve this GitHub issue yet because I need to create a new test that validates against running on a recent Windows 10 bu

[2017-01-21 01:28] davidsh commented on #4870
This was completed in PR #10948.

In terms of full support server-push aspects of the spec....no, on Windows System.Net.Http using the OS native component WinHTTP for the HTTP stack.  WinHTTP does not fully support server-push aspects.

[2017-01-21 01:28] tinchou commented on #13035
FYI: as part of our effort in https://github.com/aspnet/EntityFramework/issues/7432 I'll be looking at porting this library.

On a side note, I was just looking at the `DbConnectionHelper.cs` code and there is clearly some build step missing. I found how mono generates the XXXXConnection (e.g. OdbcConnection) files here: https://github.com/mono/mono/blob/master/mcs/class/System.Data/Makefile.

For

[2017-01-21 01:31] saurabh500 commented on #13035
The namespace and the Class name in DbConnectionHelper.cs were changed to the name of the provider i.e. OdbcConnection during build time in System.Data

You can copy the file over and change the name to OdbcConnection and the relevant namespace.

[2017-01-21 01:32] weshaggard opened #15362 "Include some new APIs we added to .NET Standard 2.0"
See update in https://github.com/dotnet/corefx/pull/15340.

https://github.com/ericstj/corefx/blob/31e2e12e275778b953b4ee6f92d49eabde093d8b/src/shims/ApiCompatBaseline.netstandard20.txt

Missing APIs.
[code]

[2017-01-21 01:33] tinchou commented on #13035
@saurabh500 figured it out from the Makefile :')

[2017-01-21 01:39] jamesqo commented on #8848
Just came across this. I wonder if it wouldn't be better to invoke the result selector with `g` instead of its array-- would prevent someone from casting to `TElement[]` within the selector and violating Grouping's immutability-after-creation. Plus, we wouldn't need to have these expensive resizes.

[2017-01-21 01:44] #12799 closed

[2017-01-21 01:44] #15290 closed

[2017-01-21 01:48] non-standard commented on #4870
Thanks for the quick reply, is it on a roadmap anywhere or can you recommend alternatives on Windows?

[2017-01-21 01:53] davidsh commented on #4870
In term of full support for server-push aspects of the spec, I have no information yet on timelines for that.  That requires getting information from the WinHTTP team about the feature plans for Windows 10 updates.  I will forward this inquiry to the team and see if I can get an answer.

In terms of alternative client HTTP stacks on Windows that support HTTP/2.0 protocol including full support for

[2017-01-21 02:15] Priya91 commented on #15333
Digged into this deeper. The problem is that this version of curl doesn't choose the version of tls protocol that the http server supports, when no version is specified, it is always picking tlsv1 as default. Hence, get request to ssllabs.com to ports that support tlsv1.1 and tlsv1.2 always fail. By using HttpClientHandler.SslProtocols to explicitly set the protocol version to SslProtocols.Tls11 o

[2017-01-21 04:22] jamesqo commented on #15329
@nietras IMHO, I don't know if this is really a needed API. What scenarios are there in which someone would want to sort a Span? It's mostly going to be used to hold byte/char buffers, where sorting won't make much sense. Also, things like equality comparers are high-level and don't really fit in with low-level constructs like `Span`.

[2017-01-21 09:09] nietras commented on #15329
@jamesqo plenty! 😃 Ranging from database engines, computer vision to artificial intelligence. In the latter cases, the types will also range fully from `byte` to `double`. And in these fields memory recycling, buffer pooling is paramount to archieving reliable performance. And performance in general important so inlining the compare is important too.

Not sure I get that, but is the issue with the

[2017-01-21 13:37] jamesgibbs100 commented on #14978
Hi @saurabh500

Thanks for the reply and update

At pinch I could take a local build as long as I knew that there is a permanent solution in the pipeline. I would

Cheers
James

[2017-01-21 16:30] svick commented on #15329
[code]

Nitpick: the `T`s in the two lines above should be `TKey`:

[code]

[2017-01-21 16:35] nietras commented on #15329
@svick thanks I also forgot `static`

[2017-01-21 20:44] GeertvanHorrik commented on #9003
This is exactly what I encountered today with the latest System.Net.Http (4.1.0. I think). It happens in a UWP app. I guess the issue is that the `Location` header is handled *before* parsing the cookie.

As @pphadke explains, the workaround is:

1. Create a separate HttpClient with a custom HttpClientHandler, set `EnableAutoRedirect` to true
2. Request the site you wish to retrieve *all* cookies

[2017-01-21 20:53] jnm2 commented on #6308
The emoji is honest: your post made me laugh out loud :'D
If any of the vitriol you throw at everyone around you actually applied, I'd be concerned, but it's just so much noise. Hopefully you get that.
I mean, I'm kind of concerned about you in general, but smh.

[2017-01-21 21:36] varocarbas commented on #6308
@jnm2 I guessed that it was you. Although you openly recognising it has been kind of a surprise! What was that your first act of bravery ever! Congratulations! Welcome to adulthood!

Thanks for sharing your concerns (here comes by little piece of sharing: please, go live your life, ideally far away from me and try to not bother me anymore. If you are intelligent enough, what I seriously doubt, you

[2017-01-21 21:40] varocarbas commented on #6308
@jnm2 I guessed that it was you. Although you openly recognising it has been kind of a surprise! What was that your first act of bravery ever? The first time you didn't hide behind an emoji or a lie or a group of insecure idiots repeating the same nonsense? Congratulations! Welcome to adulthood!

Thanks for sharing your concerns (here comes by little piece of sharing: please, go live your life, id

[2017-01-21 22:17] jamesqo commented on #15329
@nietras

Do you have a concrete example where a sort function would be needed, though? I think the 95% use case for this API would be passing around byte buffers/char buffers. In those scenarios, sorting isn't a function that would be needed, and would only be more API bloat.

The issue, actually, is with the overloads with the comparers. Making them generic on the type of the comparer won't impr

[2017-01-21 22:20] jamesqo opened #15374 "[Question] Comments with <SecurityKernel ..> in corefx"
There are a bunch of XML doc-like comments with `<SecurityKernel ..>` throughout the repo. See here: https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=SecurityKernel&type=Code I stumbled across an unsafe method in `SortedSet` that was marked with it over [here](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L1745). Would it be

[2017-01-22 00:44] JonHanna commented on #11220
I was hoping that the recent engineering changes would have made my difficulty earlier irrelevant, and it seems it has. PTAL at #15372.

[2017-01-22 01:13] KirillOsenkov opened #15378 "Solution generator tool emits bad sln, causes building System.Collections.Immutable.sln to MSBuild with StackOverflow"
Try msbuild src\System.Collections.Immutable\System.Collections.Immutable.sln. MSBuild will crash with stack overflow.

This is because in this commit https://github.com/dotnet/corefx/commit/f6ab339f446e37505f93ef9f430801fa1dcc05b8#diff-d840dd78d66ae7f5f8889a4974e96228L55 the NestedProjects section of the .sln file is being written out incorrectly.

Fixing this longer term should ideally also modi

[2017-01-22 01:13] KirillOsenkov commented on #15378
/cc @karajas

[2017-01-22 02:10] Jiayili1 commented on #13302
This issue happens on Outer Loop CentOS 7.1 Debug (#74), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/lastFailedBuild/consoleText

Message:
[code]

[2017-01-22 02:22] Jiayili1 opened #15380 "Win7 outer loop test 'System.Net.Tests.WebSocketTests.AcceptWebSocketAsync_NullSubProtocol_Succeeds' failed with 'System.PlatformNotSupportedException'"
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/lastFailedBuild/consoleText

Message:
[code]

Stack Trace:
[code]

Configuration:
OuterLoop_Windows7_debug (build#73)

[2017-01-22 02:51] Jiayili1 commented on #14519
This issue occur on OuterLoop_Windows10_release (build#76), failed test: System.Net.Security.Tests.SslStreamStreamToStreamTest_Async.SslStream_StreamToStream_Write_ReadByte_Success

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/lastFailedBuild/consoleText

Message:
[code]

Stack Trace:
[code]

[2017-01-22 03:24] danmosemsft commented on #15348
@AtsushiKan @KrzysztofCwalina who is the right person to look at this? ie, who is the primary contact for Span.

[2017-01-22 03:30] danmosemsft commented on #15226
@bartonjs , @steveharter any suggestions for the next step?

[2017-01-22 03:35] danmosemsft commented on #15127
[code]

It's not clear what the return code 255 means. Apparently on linux, it is an invalid code.

[2017-01-22 03:36] danmosemsft commented on #15127
I'm going to call this unactionable. If it happens repeatedly, we can consider logging or trying to repro locally.
@JeremyKuhne @ianhays fyi.

[2017-01-22 03:36] #15127 closed

[2017-01-22 04:37] danmosemsft commented on #15374
@karelz what do we currently recommend for code documentation? I don't see this covered in https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md.

[2017-01-22 04:38] danmosemsft commented on #15378
@KirillOsenkov did you open an issue to fix MSBuild also?

[2017-01-22 04:41] danmosemsft commented on #15330
[code]

[2017-01-22 04:42] danmosemsft commented on #15330
[code]

[2017-01-22 04:44] KirillOsenkov commented on #15378
@danmosemsft I sure did! https://github.com/Microsoft/msbuild/issues/1599

[2017-01-22 04:45] danmosemsft commented on #15330
A 10ms sleep before WriteAllText does not cure it, it just takes more itereations. @JeremyKuhne @ianhays is this kind of race unexpected? Or is it a known OS quirk? I only tried on Windows.

[2017-01-22 04:48] jkotas commented on #15374
` <SecurityKernel ..>` comments are left overs from early version of security transparent/critical code annotations. They can be removed.

[2017-01-22 04:54] danmosemsft commented on #15202
The second one looks like it needs the same workaround as in https://github.com/dotnet/corefx/pull/6257. I don't see an active issue to make the tests work on those platforms. cc @tarekgh for info that this is happening on Mac.

[2017-01-22 04:56] danmosemsft commented on #15202
The first one is odd, it means Process.GetCurrentProcess().StartTime.ToUniversalTime() was several hours (but not an even difference, like a timezone) different to DateTime.UtcNow.

[2017-01-22 04:57] JeremyKuhne commented on #15330
Deleting a file or removing a directory cannot happen until all file handles are closed- that includes things like anti-virus scanners and the index service. Deleting marks the file/directory for deletion- it doesn't actually delete it. This is expected, and happens with 4.6 as well. (And would if you did this directly with C++ and Win32.)

@krwq I'm going to close this- if you have any other ques

[2017-01-22 04:57] #15330 closed

[2017-01-22 05:00] danmosemsft commented on #15378
Thanks, @KirillOsenkov

[2017-01-22 06:05] yaakov-h commented on #15202
Just set up a clean workspace again and built and re-tested.

Build warnings:

[code]

Then, failed tests:

[code]

Some failures are the same as above, some look new.

[code]

Interesting that the difference between process start time and current time here is different to the previous failure in the original post above.

[code]

[code]

These two Globalisation ones look like capitalisation issues

[2017-01-22 06:41] bartonjs commented on #15226
Possibly needs to be marked as OuterLoop.  I think what happens is the local workstation says "I don't know what FAKEDOMAIN is, but I'm domain joined, so I'll ask the DC if it's a forest trust thing...", so it reports that the remote lookup failed.

So it depends on the network (unless you're a workgroup machine) => outerloop.  (Alternatively, let it fail for that one error)

[2017-01-22 07:01] Jiayili1 opened #15383 "Outer Loop OpenSUSE 42.1 Debug: Test "System.Data.SqlClient.Tests.DiagnosticTest.ExecuteReaderTest" failed with "Xunit.Sdk.EqualException""
Failed Test: System.Data.SqlClient.Tests.DiagnosticTest.ExecuteReaderTest

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_opensuse42.1_debug/lastFailedBuild/consoleText

Message:
[code]

Stack Trace:
[code]

[2017-01-22 15:51] JonHanna opened #15387 "Replace or Remove Internal ExcludeFromCodeCoverageAttribute?"
We now have two versions of `System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute`, the [publicly exposed version available to client code](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tools/src/System/Diagnostics/CodeAnalysis/ExcludeFromCodeCoverageAttribute.cs) and the [internal version used through directly including the file](https://github.com/dotnet/corefx/

[2017-01-22 17:40] JonHanna commented on #3995
While there are still some small gaps in coverage generally, I think the mechanism for testing both types of compilation for all relevant tests mean this can be closed.

[2017-01-22 18:20] danmosemsft commented on #15383
@saurabh500

[2017-01-22 18:43] wisam84 opened #15388 "EPPlus.Core incompatible with .NETFramework,Version=v4.5.2."
i want to user EPPlus.Core  put when i install it i receive error
One or more packages are incompatible with .NETFramework,Version=v4.5.2.

my project.json:

"dependencies": {
    "BundlerMinifier.Core": "2.2.306",
    "Microsoft.AspNetCore.Authentication.Cookies": "1.1.0",
    "Microsoft.AspNetCore.Diagnostics": "1.1.0",
    "Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore": "1.1.0",
    "Mi

[2017-01-22 19:23] JonHanna commented on #5255
I'll grab this. The API additions would be:
[code]

[2017-01-22 20:15] michaelcfanning opened #15390 "Add Sybsystem.WindowsBootApplication enum value"
The value is being emitted in current Windows EFI binaries. We should add to SRM Subsytem enum.

### Proposal

[code]

### Details

The value is documented in Windows docs:

IMAGE_SUBSYSTEM_WINDOWS_BOOT_APPLICATION
16	Boot application.

https://msdn.microsoft.com/en-us/library/windows/desktop/ms680339(v=vs.85).aspx

[2017-01-22 20:20] JonHanna commented on #5255
It's worth noting that it's a compile breaking change to provide some of these due to implicit cast operators. E.g. if we do this to `RectangleF` then calling Equals on it with a Rectangle will cast the argument to RectangleF and then may return true, where currently any rectangle passed would always return false.
This also means that the `Equals(object)` override would return different results, u

[2017-01-22 20:33] nietras commented on #15329
@jamesqo I tried giving a more concrete in the proposal regarding machine learning.

If .NET Core and `Span<T>` only target audience is web server developers, where shuffling bytes to/from text/chars, then perhaps you are right. But IMHO it is a very limited target audience and misses the fact that in a cloud/mobile first world that is going to be infused with artificial intelligence everywhere, h

[2017-01-22 21:38] danmosemsft commented on #15390
Does this belong in the coreCLR repo? I'm not sure what SRM is.

[2017-01-22 21:47] michaelcfanning commented on #15390
This is a problem report for the System.Reflection.Metadata portable executable reading code.

[2017-01-22 21:48] michaelcfanning commented on #15390
Relevant enum is in PEFileFlags.

https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/PEFileFlags.cs

[2017-01-22 22:15] danmosemsft commented on #15339
related https://github.com/dotnet/corefx/issues/15303

[2017-01-22 23:58] JonHanna commented on #7175
How about this as a case considering all of the error cases, but omitting error messages and parameter names to `ArgumentException`?

[code]

(I'm still not sure if `new TimeSpan(1, 2, 3) / 0.0` should be `DivideByZeroException` or `OverflowException`).

[2017-01-23 00:03] JonHanna commented on #8382
We also need a plan for how it should behave in the case of the async overload being called on a derived class.

[2017-01-23 00:24] JonHanna commented on #8576
Of the remaining calls to `GetMethods()` in the project.

https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/src/System/Dynamic/Utils/TypeExtensions.cs#L19 matches types reference assignable, so catching by exact types is undesirable.

https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/src/System/Dynamic/Utils/TypeUtils.cs#L483 and https://github.com/dot

[2017-01-23 00:34] JonHanna commented on #8120
@VSadov you've marked this as "enhancement". Any idea (or if it's not clear from something, any opinion) as to whether they should be in or not?

[2017-01-23 02:38] mgwalm opened #15393 "Add async versions of System.IO.IsolatedStorage methods"
Why are none of the methods in IsolatedStorageFile async.

Eg, GetDirectoryNames or CreateDirectory are surely candidates for async methods (among OTHERS).

[2017-01-23 03:28] JonHanna commented on #15393
Since it predates Task-based async it's not going to be async until someone works out an API for that, gets it approved and then they or someone else implements it. If you think it should be, then you could start on part 1 of that.

[2017-01-23 03:56] mgwalm commented on #15393
I'll give it a go.

On Mon, 23 Jan 2017, 13:28 Jon Hanna <notifications@github.com> wrote:

--

regards, michael

[2017-01-23 04:47] JonHanna commented on #11934
This is creating new `Scope` symbols and new locals within that, and adding them to the lookup. Since each `Scope` is new and there's no good way to detect the equality with the previous, the store continues to grow.

I **think** that scopes and their children are never retrieved again, so I **think** it may be safe to have `if (child is Scope || child.parent is Scope) return` on `InsertChildNoGro

[2017-01-23 05:36] hseok-oh commented on #15215
New build errors for Ubuntu ARM build.
May haave same problem on Tizen ARMEL build.
[code]

Error from absence of `System.Private.CoreLib.dll` for `ubuntu.14.04-arm` in `bin/runtime`.
To avoid these errors, copy `System.Private.CoreLib.dll` generated by CoreCLR build to `bin/runtime/netcoreapp-Linux-Release-arm` and build CoreFX for ubuntu ARM.

[2017-01-23 06:29] Jiayili1 commented on #13938
This issue repros on OuterLoop_Win7_Debug, Failed test: System.Net.Http.Functional.Tests.ResponseStreamTest.ReadAsStreamAsync_Cancel_TaskIsCanceled [FAIL]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/lastFailedBuild/consoleText

Message:
[code]

Stack Trace:
[code]

[2017-01-23 06:37] Jiayili1 opened #15395 "OuterLoop_Windows10_release: Test "System.Numerics.Tests.divremTest.RunDivRemTests" failed with "System.Exception""
Failed test: System.Numerics.Tests.divremTest.RunDivRemTests

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/77/

Message:
[code]

Stack Trace:
[code]

Configuration:
OuterLoop_Windows10_release (build#77)

[2017-01-23 07:43] #15224 closed

[2017-01-23 13:57] JonHanna commented on #13523
This is fixed.

[2017-01-23 15:19] gkhanna79 commented on #15215
@ericstj I have assigned this to you to help make progress with the issues above. Please reroute as applicable.

[2017-01-23 15:43] stephentoub opened #15401 "Lots of failures while open .sln files in VS"
I tried to open the System.Net.Primitives.sln file in VS.  I get ~40 errors about projects failing to load, the actual src .csproj ends up not loading so the source isn't editable, and the solution explorer is messed up with regards to what folders contains what projects.
cc: @weshaggard

[2017-01-23 16:10] bradphelan opened #15403 "Immutable hash-based collections do not accept `null` values"
I have spent two days chasing down an evil bug. I narrowed down the problem with this test case demonstrating different behavior for different collection classes that implement the same interface. Specifically ``Contains(null)`` throws a ``ArgumentNullException`` for ``ImmutableSortedSet`` but not for ``Array`` or the mutable ``SortedSet``.

    using System.Collections.Generic;
    using System.C

[2017-01-23 16:33] tarekgh commented on #15362
@danmosemsft we need to have someone add these missing APIs.

[2017-01-23 16:41] Muraad opened #15404 "Task.Delay and optional parameter issue"
Hey everybody, I don´t know exactly where to post this issue.

I have the following code.

[code]

Starting with the last Visual Studio 2015 Update,
the Code never reaches the internal GetOneImage(...).

It only works if called like

[code]

Also not working

[code]

The project is a WPF application targeting .NET 4.5. Developement platform is Win 10 and Visual Studio 2015 14.0.25431.01 Update 3.

[2017-01-23 16:42] tarekgh commented on #15202
will take a look at the globalization tests when have a chance. yes I can see the capitalization issue but I need to double check the data on MAC

[2017-01-23 16:43] tarekgh commented on #15202
will take a look at the Process failing too.

[2017-01-23 16:47] tarekgh commented on #15374
we need then to scan and delete all code under SecurityKernel

[2017-01-23 17:00] karelz commented on #14352
Grabbed by @the-dwyer (I will reassign once @the-dwyer accepts the collaborator invitation).

[2017-01-23 17:03] ericstj commented on #15215
This was caused by @joperezr's change to use `ReferenceFromRuntime` for System.Private.CoreLib.  CoreFx requires a build of CoreCLR for its System.Private.CoreLib for partial facades.  You could potentially "cheat" and restore this from a different runtime if you were trying to bootstrap and couldn't build CoreCLR for some reason.  @weshaggard

[2017-01-23 17:05] danmosemsft commented on #15362
@safern could you please add these? Just like we did in the past -- these are some new ones they added to the NS2.0 definition.

For the Reflection ones, @gkhanna79 who normally owns code and tests for that? Is it @AtsushiKan ? If you don't do those @safern , please break out another issue.

[2017-01-23 17:06] danmosemsft commented on #15303
Asking Windows folk where the latest list is.

[2017-01-23 17:07] danmosemsft commented on #14935
@joperezr has this in progress already

[2017-01-23 17:07] danmosemsft commented on #15255
@safern could you grab this one also?

[2017-01-23 17:09] danmosemsft commented on #15332
Note this is not relevant to .NET Standard, which excludes Registry.

[2017-01-23 17:10] karelz commented on #15404
This is very suspicious/mysterious behavior. Can you reproduce it in small HelloWorld app? Did you try targeting latest .NET Framework? Did you try targeting .NET Core?

BTW: Technically speaking, we do not accept full/Desktop .NET Framework bug reports on GiHub ... but it may be good to understand at least where is a problem first ... (compiler / runtime / the app)

[2017-01-23 17:11] danmosemsft commented on #15332
@weshaggard I guess we should add all these? Per the rule that if we share a type with Desktop, we implement all the members (or at least they're present)

[2017-01-23 17:15] #14219 closed

[2017-01-23 17:18] tmat commented on #15390
Let's call this value ```WindowsBootApplication```

[2017-01-23 17:19] tmat commented on #15390
@terrajobst @weshaggard New public enum value.

[2017-01-23 17:21] danmosemsft commented on #15395
@mellinoe we're in luck the logging I added in https://github.com/dotnet/corefx/issues/7806 has borne fruit. Thoughts?

[2017-01-23 17:22] karelz commented on #15378
cc @ianhays

[2017-01-23 17:22] Muraad commented on #15404
Yes it is indeed very suspicious.

Targeting 4.6.1 or *Release* is not making any difference.

I will try to isolate it in a smaller app.

[2017-01-23 17:23] tarekgh commented on #7175
looks we have more APIs need to go through the review. to summarize

## Approved APIs are

[code]

## APIs need to get reviewed

[code]

[2017-01-23 17:23] danmosemsft commented on #15395
Note there at least 2 failure modes based on the "Actual", as seen in #7806. One of the failures, on Ubuntu, had the same "Actual" as this Windows one. Which means apparently it's not an OS specific issue so ?hopefully not a code gen issue.

[2017-01-23 17:25] danmosemsft commented on #15378
Actually this is nothing special about IMmutable collections, it is a bug in a sln generator apparently owned by @karajas

[2017-01-23 17:30] karelz commented on #15387
cc @danmosemsft @stephentoub @weshaggard

The size bloat is IMO negligible - it is per assembly attribute (so <50B), but may add AssemblyRef.
If adding the AssemblyRef doesn't cause troubles in layering, etc., I would vote for [2] -- remove the internal version. Otherwise [4] is reasonable option.

Re [3] (API change) - that would be potentially too breaking (and I think divergence from Desktop /

[2017-01-23 17:32] karelz commented on #15388
@ericstj any advice here? Or should we direct the question to EPPlus / EPPlus.Core owners?

[2017-01-23 17:34] karelz commented on #15393
@JeremyKuhne @ianhays do you think it is API addition we might take?

[2017-01-23 17:35] karelz commented on #15393
@mgwalm if you get green light from @JeremyKuhne/@ianhays, please follow [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

[2017-01-23 17:37] tarekgh commented on #7175
@JonHanna I agree with throwing argument exceptions on the mentioned cases:
- passing NaN
- passing out of range ticks value
- dividing by 0.0 (even if this can just work)

[2017-01-23 17:39] GSPP commented on #3249
@mj1856 in my mind there is no relation to the wall clock at all. This class would never be exposed to the user.

Any "debug" formatting would suffice. Strawman: "12345678 ticks (likely 2017-01-23 18:32:12.345 local time)". This *does* have a relationship to the wallclock but it's only for the developers convenience.

I don't see the need to convert to wallclock time except as a debugging aid. Thi

[2017-01-23 17:46] weshaggard opened #15407 "Clean-up build.proj"
As part of https://github.com/dotnet/corefx/pull/15306 we moved the testing targets and properties into tests.builds we need to clean them out of build.proj. Things like https://github.com/dotnet/corefx/blob/master/build.proj#L74

[2017-01-23 17:49] gkhanna79 commented on #15215
@ericstj Does this mean this is blocked since we do not have Linux arm32 CoreCLR package on myget?

[2017-01-23 18:03] ericstj commented on #15388
The EPPlus.Core package supports netstandard1.3.  NETStandard1.3 is supported by .NET 4.6, not .NET 4.5.2.  See https://github.com/dotnet/standard/blob/master/docs/versions/netstandard1.3.md.  You can retarget your application to net46 or ask the EPPlus.Core owners to make a version that supports netstandard1.2 or cross-compiles for net452.

[2017-01-23 18:03] #15388 closed

[2017-01-23 18:11] karelz commented on #7175
@tarekgh thanks for summary of missing parts, please update the top-most post with your approved / to-be-reviewed summary. Thanks!

[2017-01-23 18:13] karelz commented on #14352
Fixed by #15375

[2017-01-23 18:13] #14352 closed

[2017-01-23 18:15] karelz commented on #15378
@danmosemsft @karajas is there another existing bug (we could close this one as dupe), or is this the master tracing issue?

[2017-01-23 18:22] karelz commented on #15202
I wonder if this is some bad/weird machine setup causing the failures. We're running the tests in CI on Mac and on several dev Macs - they don't fail anywhere ...
Anyway, let's try to root cause at least one test failure, then hopefully we can make some conclusions ...

[2017-01-23 18:25] Muraad commented on #15404
I´v tried to make it as small as possible.

[code]

Calling it from a blank WPF App works fine.

The only real difference in my case is the data producer is some camera driver sdk .Net event (Jai sdk)

[code]

[2017-01-23 18:30] KirillOsenkov commented on #15378
Update the title, sorry I should have logged a more general issue.

[2017-01-23 18:36] Muraad commented on #15404
Ok sorry my bad :|
If optional parameter default values between interface method definition and method implementation differ, there is no "virtualisation" or something. It is using the interface optional parameter value if called via interface reference.

[2017-01-23 18:36] #15404 closed

[2017-01-23 18:40] karelz commented on #15404
Happy to hear you found the root cause :)

[2017-01-23 18:42] karelz commented on #15390
@tmat please follow the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) - please update the top post with structured API proposal (see [example](https://github.com/dotnet/corefx/issues/271)) - API shape, motivation, use cases.

[2017-01-23 18:45] ianhays commented on #15403
How do the other ImmutableCollections act in this case? Do they also throw on Contains(null) or do they return false like their mutable counterparts?

cc @AArnott

[2017-01-23 18:49] karelz commented on #5255
@alexperovich can you please check the proposal when you get a chance?

[2017-01-23 18:49] karelz commented on #15378
Can you edit the title please? Or suggest a new one?

[2017-01-23 18:50] krwq commented on #15330
@JeremyKuhne Isn't File.WriteAllText and File.Delete etc. waiting for handle to be closed? I fully understand UnauthorizedAccessException - that is fully reasonable that anti-virus starts scanning the file and locking it - the DirectoryNotFoundException is something I wouldn't ever expect here.

If they are not waiting then how do you make sure the file is being created?

[2017-01-23 18:52] tmat commented on #15390
@karelz This is just a new enum value. I though we agreed on light process for trivial changes like this.

[2017-01-23 18:56] karelz commented on #15390
@tmat lightweight is reasonable, but please keep in mind the time of all folks who have to read this, Get the context from several replies, etc.
Yes, we could eventually piece it together, but if everyone did that, we would wastes hours doing just that. Imagine yourself in our place ... going through ~10 API reviews in areas you don't have nearly any background ;-) Wouldn't you want a short story

[2017-01-23 19:02] karelz commented on #15226
Ideally we would have a precondition for the test - if it is not satisfied, the test wouldn't run at all.
The next best thing IMO is to burn it into the test - let it detect bad condition proactively and pass the test instead.
The next next best thing is to guess from error code that it was likely the bad condition, so let it pass reactively.

I don't like moving tests into OuterLoop, because they

[2017-01-23 19:06] matekm opened #15408 "Can't build CoreFx on Ubuntu 16.04.1 LTS - error during package restore"
Hi,

I tried to build CoreFx on Ubuntu 16.04.1 LTS (followed https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md) and got following errors:

Ubuntu details:

I know it's probably problem with me, not the corefx but I would appreciate some help;)

[2017-01-23 19:11] wisam84 commented on #15388
thank you I retarget  my app to net46 and its work

[2017-01-23 19:15] tmat commented on #15390
@karelz OK, I have cleaned up this issue.

[2017-01-23 19:18] karelz commented on #15390
Thanks! Now it is pretty clear (even to me) just from the top post.

[2017-01-23 19:18] ericstj commented on #15215
You could either

a) build one locally and add that to the feeds used by corefx so that https://github.com/dotnet/corefx/blob/4d6c7315359aed4d99ee3402de0f4eac9e606599/external/coreclr/coreclr.depproj builds correctly using `arm` RID against locally built packages.
b) just set [NuGetRuntimeIdentitifier](https://github.com/dotnet/corefx/blob/4d6c7315359aed4d99ee3402de0f4eac9e606599/external/dir.prop

[2017-01-23 19:20] karelz commented on #15390
BTW: You don't need to ping folks for API review - just the label is enough, we always look at the entire query api-ready-for-review. And we try to finish at least few simple ones in each session.

[2017-01-23 19:23] AArnott commented on #15403
I see `ImmutableHashSet<T>.Contains(T)` also throws `ArgumentNullException` when its argument is null.
As does the Add method, and IndexOf, and probably any other method that accepts T.
These are hash-based collections and no hash can be taken of a null value.

It does look like the mutable collections special case `null` in order to avoid throwing this exception. They assume a hash code of 0. Ama

[2017-01-23 19:27] tmat commented on #15390
@karelz OK. Thanks

[2017-01-23 19:27] bartonjs commented on #15226
I don't know a good precondition for "will an AD trust relationship lookup complete?".  It'd be something like `if domain_joined && has_network && AD_answers`.  That last part can't be preconditioned since a lookup in the precondition doesn't mean it'll still work later.

Same as the precondition.  The test asks AD a question, gets an answer.  Then the test asks the product to ask AD a question, b

[2017-01-23 19:35] alexperovich commented on #5255
The api looks good to me. I don't think the breaking change is a big problem.

[2017-01-23 19:39] tarekgh commented on #7175
@karelz I update the top most section and also marked the issue as read for review so it will get scheduled again for the review

[2017-01-23 19:39] Priya91 commented on #15380
WinHttpWebSocketCompleteUpgrade is supported only from Win8+ Winhttp 5.1.. This failure is expected, will modify the test to not run on win7.

[2017-01-23 19:40] karelz commented on #5255
@alexperovich please update the top post with final API proposal - API shape, motivation, examples, etc.

[2017-01-23 19:46] karelz commented on #15226
My suggestion targeted more permanent machine setup / situation - like when you don't have VPN enabled. Not flaky network. Failing in such situation is fine IMO.

If there is no easy precondition like "is DC available" (I assume we ping it with VPN enabled), which would not execute the code we're about to test, then the 3rd option is the best we are left with ...

[2017-01-23 19:50] karelz commented on #7175
I edited the top most post: I removed the duplicate API proposal (we carried the old one), I moved implementation to the bottom (not interesting) and I linked the 1st API approval comment to keep track.

[2017-01-23 19:53] KrzysztofCwalina commented on #15329
We could do Sort<TComparer>(TComparer comparer) where TComparer : IComparer<T>. This would be devirtualized.

[2017-01-23 20:15] JonHanna commented on #15403
Strictly if going through an `IComparer<T>` or `IEqualityComparer<T>` there should be no need to special-case null at all, but it's worth doing to guard against buggy implementations.

`HashSet<T>` accepting null is a feature shared with `SortedSet<T>`. Meanwhile `Dictionary`, `SortedDictionary` and `Hashtable` all throw, which may have some philosophical points in its favour, but can be a nuisanc

[2017-01-23 20:19] steveharter commented on #14519
Please don't comment on new traces etc unless they contain some information to help find the cause, such as patterns or related issues. If the issue is not intermittent\random (i.e. it is a test blocking CI issue), it should have its own bug. I deleted some of the traces here because this issue was getting unwieldy.

We already know the test failures from the jdash site. Here's a sample query - ht

[2017-01-23 20:41] AtsushiKan commented on #15348
cc @nietras who added the test.

Tests that allocate 8Gb memory blocks as test data should probably guard against OOMExceptions and skip the test if it happens...

[2017-01-23 20:43] AtsushiKan commented on #15362
I own Reflection <b>on corert</b>. (And TypedReference would not fall on my plate anyway as it's a runtime/toolchain work item far more than it is a framework item.)

[2017-01-23 21:05] gkhanna79 commented on #15362
@rahku helped with Reflection issues for NS 2.0 for the runtime. Can you please file an issue for Reflection issues (if not already being addressed) and assign it to him?

CC @kouvel

[2017-01-23 22:02] JeremyKuhne commented on #15330
Yes and no. The [DeleteFile](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363915(v=vs.85).aspx) API is specifically "async" in that it just marks for deletion. There is no easy way to tell when a delete is "committed". File.WriteAllText does close it's handle as soon as it is done.

You can imagine how this might happen if the directory that is "pending" delete gets removed in the mi

[2017-01-23 22:21] ianhays commented on #7707
These tests are no longer failing. The recent failures were caused by us running the test library multiple times concurrently which has been fixed with the recent engineering changes.

[2017-01-23 22:21] #7707 closed

[2017-01-23 22:25] jamesqo commented on #15329
@KrzysztofCwalina It will not unless you pass in a custom struct comparer. For example, `Sort(Comparer<T>.Default)` will have TComparer == `Comparer<T>` and you will be making virtual calls to `Comparer<T>.Compare`.

[2017-01-23 22:25] mj1856 commented on #11897
I plan to create a separate OSS library that will properly do CLDR-based IANA to Windows time zone conversions, in a maintainable way, and isolated from other libraries.  This will complement the framework, as well as other libraries in this space, such as NodaTime and my GeoTimeZone and TimeZoneNames libraries.

I'll ship it as a netstandard library.  That will give people a viable solution to th

[2017-01-23 22:30] jamesqo commented on #15329
There is another thing too-- I don't think the overloads accepting `TComparer` will even compile. [See here.](http://tryroslyn.azurewebsites.net/#b:master/f:r/K4Zwlgdg5gBAygTxAFwKYFsDcAoUlaIoYB0AwgPYA2lqAxsmORCMQOKoSoBOYtOe0eEjTpiAGUgBHHNgAOwAEaVeMWpQCGIEDFIwA3thhGY8pSoBu5MABMYAWQA8AFQA0MJwFEIwdN3VLUAD4ACk9vXy5/GhhUAEoYAHcAC25Udy8fPwCYAC4YAEkMiKjUZ0DDYwNjGABfCqN6k0VlWhhLGxgAOWDYxqrq4ztgoqyaYgAldWh

[2017-01-23 22:32] mj1856 commented on #3249
@GSPP  - Oh, so you're just proposing a more strongly typed tick?  I suppose that would help with people forgetting to take frequency into account with StopWatch ticks, but other than that, is it just an ease of use issue?  I mean, we do have `StopWatch.GetTimestamp` already.

[2017-01-23 22:35] #15333 closed

[2017-01-23 22:43] jamesqo commented on #11596
@stephentoub Shouldn't this still be open? There are still a lot of calls to other `Contract` methods,  e.g. `Contract.Ensures`, in the immutable collections source. https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableList_1.cs#L58

[2017-01-23 23:02] jamesqo opened #15410 "[Bug] SortedSetEqualityComparer seems to ignore the comparer from CreateSetComparer"
Discovered during #15376

[`SortedSetEqualityComparer`](https://github.com/dotnet/corefx/blob/adb0f13d7aafdbee95ae13f970c8ad25f77558c5/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L2631) has a `_comparer` field that is always set to the `Comparer<T>.Default`. This is because although it has a constructor that allows a different comparer to be passed in, that constructor is ne

[2017-01-23 23:08] weshaggard commented on #15401
@karajas can you please have a look.

[2017-01-23 23:10] weshaggard commented on #15332
Yes we should try and add all these. The ACL APIs are the only ones that are kind of interesting because we currently have https://github.com/dotnet/corefx/tree/master/src/Microsoft.Win32.Registry.AccessControl which we should reconcile with but otherwise I think we should add all the others.

[2017-01-23 23:18] JonHanna commented on #15410
Does it have any of the further problems that `HashSetEqualityComparer` has  à la #12560?

[2017-01-23 23:18] weshaggard commented on #15387
I wouldn't go with option [3] because that might break other scenarios. I think I would go with option [2] and update the public version of this attribute to allow it to be applied to assemblies as well and just remove our internal version.

[2017-01-23 23:22] SantiFdezM commented on #15362
Yes @danmosemsft will tackle this one tomorrow if feeling better :)

[2017-01-23 23:23] danmosemsft opened #15411 "Cleanup: remove empty try's"
We have about 20 instances of `try { }`

See https://github.com/dotnet/coreclr/issues/8924.

The PR https://github.com/dotnet/coreclr/pull/8949 makes sure they are not represented in generated code so this is just minor code cleanup.

[2017-01-23 23:25] danmosemsft commented on #15332
@sepidehMS something to do when you don't have a higher priority task.

[2017-01-23 23:26] weshaggard commented on #15215
I would probably go with option [b] for new platform bring-up until we have an official coreclr package.

[2017-01-23 23:33] JonHanna commented on #15387
The assembly part isn't a problem, the uses on assemblies have all been replaced with a different attribute so the remaining uses of the internal version are compatible with the public version. The question is whether there's a remaining potential for either code-level ambiguity or developer-level confusion in there the remaining uses of an internal type with the same full name as a public type.

[2017-01-23 23:36] jamesqo commented on #15410
@JonHanna Wow, I just looked into that issue you linked to. `HashSet.CreateSetComparer` sounds really broken... and yes, I think there are similar issues in `SortedSet`. [`SortedSetEquals`](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L1053) looks very similar to the logic in `HashSetEquals`.

[2017-01-23 23:36] vancem commented on #15023
@terrajobst, @KrzysztofCwalina
In reply to review feedback

I agree that it should be clear that the object is mutable.   I propose a simple renaming

   WithTag -> AddTag
   WithBaggage -> AddBaggage
   All other With* -> Set*
I note that in https://en.wikipedia.org/wiki/Fluent_interface there first example was a mutable object.

I would like to keep this unchanged.  The argument is that a simple

[2017-01-23 23:38] steveharter commented on #4935
I replied to latest feedback

[2017-01-23 23:38] jamesqo commented on #12560
I think some of the issues mentioned at the beginning of the thread also exist with `SortedSet.CreateSetComparer` and [`SortedSetEquals`](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L1053), which has logic that looks very similar to `HashSetEquals`. So if this issue is fixed for `HashSet`, it should be fixed for `SortedSet` as wel

[2017-01-23 23:47] jimcarley commented on #15259
I like System.Transactions.Local.

[2017-01-24 00:10] #15380 closed

[2017-01-24 00:17] stephentoub commented on #11596
There is no direct equivalent to Ensures on Debug, so this issue was specifically about Requires, which can be replaced by Assert.

[2017-01-24 00:32] jamesqo opened #15413 "Deduplicate lots of AVL tree implementations in System.Collections.Immutable"
I am in the process of separating out some immutable collection types into new files, and I counted 4 different AVL tree implementations in the assembly-- one in `ImmutableList`, one in `ImmutableSortedDictionary`, one in `ImmutableSortedSet`, and one in `SortedInt32KeyNode`. Many of the methods in one file look like they're copied and pasted from another, which is definitely not ideal. (e.g. Remo

[2017-01-24 00:37] safern commented on #15362
Will do this tomorrow @danmosemsft thanks!

[2017-01-24 00:38] safern commented on #15255
Sure! Sounds good @danmosemsft

[2017-01-24 00:38] sepidehMS commented on #15332
As `RegistryKeyPermissionCheck` type does not exist in Core, based on what explained in https://github.com/dotnet/corefx/issues/15255 I believe the APIs requiring it shouldn't be added. Is that right?

Also, the following is Obsolete on Desktop. Do we add it?
`Microsoft.Win32.RegistryKey Microsoft.Win32.Registry.DynData`

[2017-01-24 00:48] AArnott commented on #15413
I didn't like the duplicate code when I introduced it. I used to have a shared implementation. But perf investigations revealed that interface dispatch and VMT lookups were impacting perf significantly. So I would advise you to be very cautious and measure perf thoroughly if you do go through with this.

Also consider: several customers have commented that the AVL tree data structure is significan

[2017-01-24 00:54] AlexGhiondea opened #15414 "Bring back System.Reflection.Emit.TypeBuilder.CreateType API"

[2017-01-24 01:09] the-dwyer commented on #14352
Hi.  I accepted the collaborator invitation.  I will give you a heads up when I grab work in the future.  Thanks, Michael

[2017-01-24 01:15] terrajobst commented on #6308
@varocarbas

While I disagree with your proposal I'm interested in making sure you can be successful in making your case. The BCL is a vast space of problem domains and no one on our team or the community is an expert in everything. It often takes a few iterations before an idea reaches the point where it can be added. Me closing the issue is a reaction on your concrete proposal, which, as I expla

[2017-01-24 01:16] karelz commented on #14352
Thanks!

[2017-01-24 01:22] weshaggard commented on #15387
If we are using the internal version the same as we would the public version then that is even a stronger case to me to remove the internal version. I don't think the conditional on debug adds enough value to have the duplicated definition.

[2017-01-24 01:26] weshaggard commented on #15259
Sounds reasonable to me I tagged with api-ready-for-review to get other FXDC member opinions.

[2017-01-24 01:28] danmosemsft commented on #15387
We don't even use this attribute right now as far as I can see so there shouldn't be any bloat. I would go with [2]

[2017-01-24 01:31] weshaggard commented on #15332
We should should add RegistryKeyPermissionCheck directly in the registry library unless there is some reason we cannot.

I'm good with excluding DynData.

@sepidehMS could you work with @darxis with implementing and picking the correct set of APIs? @darxis assuming you are still interesting in contributing to this issue.

[2017-01-24 01:53] jamesqo commented on #15413
Advice taken. I definitely wouldn't want my changes to bring in any perf regressions.

Interesting idea. I have read about tries but I haven't actually seen one implemented before. It doesn't make sense to try to index based on `TKey`, so I assume you mean specifically replace `SortedInt32KeyNode` with a trie that is indexed based on the bits of the hashcode for `ImmutableDictionary` / `ImmutableH

[2017-01-24 02:38] stephentoub commented on #15259
Does that suggest that any support for distributed transactions would be in another, higher-level assembly?

[2017-01-24 02:45] jimcarley commented on #15259
Yes. In my current vision for support of distributed transactions, we would add some abstract base classes to System.Transactions.Local and then have a new assembly, like System.Transactions.MSDTC, that will have implementations for those base classes along with the supporting code to talk to MSDTC on Windows. And somebody could write a separate assembly, like System.Transactions.DistributedOnLinu

[2017-01-24 03:14] stephentoub commented on #15259
Sounds good.

[2017-01-24 03:22] jamesqo opened #15419 "[CI Failure] System.Data.SqlClient.TdsParser.TryProcessError: "class and token don't match!""
An assert seems to be getting hit here: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/2356/consoleFull

[code]

[2017-01-24 03:25] jamesqo commented on #15419
There is another assert being hit here: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/2434/consoleFull

[code]

[2017-01-24 03:26] jamesqo commented on #15419
Here's a different one from the last job:

[code]

[2017-01-24 03:27] jamesqo opened #15420 "[CI Failure] tar: bin/runtime/---x64: Cannot chdir: No such file or directory"
CI is erroring for some of the Unix builds in #15416. Here's an excerpt from CentOS7.1 Debug:

[code]

- https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/2426/console
- https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/2444/console
- https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/2356/console
- https://ci.dot.net/job/dotnet

[2017-01-24 03:28] jamesqo commented on #15419
Going to reference https://github.com/dotnet/corefx/pull/15416 so this shows up there

[2017-01-24 03:35] jamesqo commented on #15403
@JonHanna

Is it really considered buggy to throw for null in comparers? I noticed a while ago that all of the `StringComparer`s throw for null, e.g. https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/StringComparer.cs#L336 I always thought that `EqualityComparer<T>`'s behavior of accepting null values was optional.

[2017-01-24 04:29] aggieben commented on #9846
I have a project (say, "Web") which targets `net461` and references another project ("Library"), which targets `netstandard1.3` and depends on NETStandard.Library 1.6.1, and I'm experiencing this issue ("Could not load file or assembly 'System.Net.Http, Version=4.1.1.0, ...'").

[2017-01-24 04:36] jkells commented on #9846
@aggieben place this in your app.config or web.config and pray that you don't use any of the API after version 4.0.0

﻿<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="4.1.1.0" newVersion="4.0

[2017-01-24 04:38] aggieben commented on #9846
@jkells thanks for the suggestion, but I've already done that :-(  Here's my `App.config` in the same directory as my `project.json`:

[code]

[2017-01-24 04:46] jkells commented on #9846
@aggieben I sent you a message on the ASP.NET Slack

[2017-01-24 05:05] aggieben commented on #9846
thanks to some tips from @jkells, I found another project-to-project dependency that was pulling in `IdentityModel` 2.4.0, which has a `frameworkAssembly` on `System.Net.Http`.

[2017-01-24 05:08] jkotas commented on #9294
@tarekgh The current plan is not support binary serialization accross different versions of the runtime/framework. The solution based on binary serialization assumes that there is same version of the runtime/framework running on all machines. I do not think it is safe to make this assumption.

[2017-01-24 05:13] AArnott commented on #15403
I consider `IEqualityComparer<T>.Equals(T,T)` should definitely accept nulls. And that `GetHashCode(T)` should throw `ArgumentNullException` for them.

[2017-01-24 05:25] benaadams commented on #15411
Can they be removed in corefx? e.g. can corefx be used over a runtime other than coreclr that has ThreadAbort?

[2017-01-24 05:26] JonHanna commented on #15410
A big problem there is that fixing it without breaking some uses that are against the documented description but fruitful for the user isn't possible, which may be the case here too. I think the only thing that can be done is to deprecate it, while providing an alternative that takes a comparer.

[2017-01-24 05:29] JonHanna commented on #15403
I just checked the docs, and yes, I was misremembering. Throwing is the documented behaviour.

[2017-01-24 06:14] mcm-ham commented on #9846
Installing the latest version of System.Net.Http and System.Runtime.Serialization.Primitives nuget package in the project that builds the exe fixes it for me.

I'm wandering if the fact some projects in solution referencing the framework version of System.Net.Http instead of the nuget package version is causing issues, not sure why the bindingRedirect to latest version is not resolving this.

[2017-01-24 06:24] bradphelan commented on #15403
As @JonHanna mentions the doc for [IEqualityComparer.GetHashCode](https://msdn.microsoft.com/en-us/library/ms132131(v=vs.110).aspx) says that

![image](https://cloud.githubusercontent.com/assets/17650/22236352/4601f02a-e205-11e6-9ca0-e75785d897ea.png)

but against that advice, the most commonly used EqualityComparer retuurned by ``EqualityComparer<T>.Default`` for reference types is ObjectEquality

[2017-01-24 06:46] Jiayili1 opened #15421 "OuterLoop_Win7_Debug: "WellKnownSidTypeTests" failed: need to disable tests when not a domain user"
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/lastFailedBuild/consoleText

Failed test: WellKnownSidTypeTests.CanCreateSecurityIdentifierFromWellKnownSidType

Message:
[code]

Stack Trace:
[code]

Message:
[code]

Stack Trace:
[code]

Configuration:
OuterLoop_Windows7_debug (build#75)

[2017-01-24 06:52] bradphelan commented on #15403
But maybe this is a bug with the WPF code. The offending code that alerted me to the bug is in ``Selector.cs`` . The ``SelectedValuePath`` is empty and the argument to ``FindItemWithValue`` is null because ``SelectedIndex=-1`` and thus ``SelectedValue=null``. It crashes at the line

[code]

within

[code]

because that eventually gets down to ``ImmutableSortedSet<string>.IndexOf`` and the problem

[2017-01-24 07:13] terrajobst commented on #15332
Agree with @weshaggard. ACL could be problematic, but given that registry is inherently Windows-only I don't see why not.

[2017-01-24 07:19] terrajobst commented on #15387
Agree with @karelz and @weshaggard. Code bloat is negligible but having the attribute in release can make it easier for components that want to simplify their customer's life.

[2017-01-24 07:59] #15420 closed

[2017-01-24 08:18] hseok-oh commented on #15215
We can build by adding local directory that have nuget packages generated by coreclr in dir.props https://github.com/dotnet/corefx/blob/4d6c7315359aed4d99ee3402de0f4eac9e606599/dir.props#L112-L114

[2017-01-24 08:56] nietras commented on #15329
Yes, it does 😄 Check out [Sort Extensions examples](http://tryroslyn.azurewebsites.net/#b:master/f:r/K4Zwlgdg5gBAygTxAFwKYFsDcAoUlaIoYB0AwgPYA2lqAxsmORCMQOKoSoBOYtOe0eEjTpiAJWAQG6VGXLoADmBpc43AG69UIHNggBDGSAX7aqIUXTYA3thj2YC4ACNKvGCi7B68ExAA8ACoAfHYO1jAAvthh9k6u7ij6DLQwtJT6ICC++hAAogAeaMyMzLEwtg5Vji5uqUkpMOrkYAAm8ORcyEHBABTIABZg2XB+PR5+AJTlVRHRMw7xdR7Iye7NbR1dQQA0MIEUivpc3H2DwzkBIRO5ewfyJidcaQ/H3N

[2017-01-24 10:12] JonHanna commented on #15387
There's about a hundred or so cases. I think [2] is the winner for sure. I'll submit a PR to do this later today.

[2017-01-24 10:15] fitzchak opened #15423 "AsyncLocal has a different behaviour than CallContext"
See this question on StackOverflow:
http://stackoverflow.com/questions/41825375/why-asynclocal-is-different-from-callcontext

In the bellow code I expected the value of AsyncLocal to be unique per thread as the documentation says it should behave and as CallContext behaves.

https://gist.github.com/fitzchak/de6af938a4bd3c5fb683bca594734e9f

[2017-01-24 10:51] tmds commented on #3188
@stephentoub et al, I made a signal sending implementation, as a proof-of-concept. See https://github.com/tmds/Tmds.Posix.

I experimented a bit with the error handling. The implementation has two methods for sending signals.
[code]
The [NativeError](https://github.com/tmds/Tmds.Posix/blob/master/src/Tmds.Posix/NativeError.cs) used here is just wrapping the int errno. It can be turned into somethi

[2017-01-24 11:05] varocarbas commented on #14430
@terrajobst
(Sorry for answering you from a different issue, but this is one of the drawbacks of locking an issue before getting an answer :))

I am passionate about my work (= software development). Also I am quite honest and direct (don't need blind supporters or any other kind of additional advantage). I trust in my knowledge, my principles and always wanting something which is good for me and

[2017-01-24 11:42] giannoug opened #15424 "System.Data.SqlClient hangs on Linux (Docker) with SQL Server 2005 / 2008"
We are observing a wierd behaviour with System.Data.SqlClient and Linux (Debian Jessie / Docker with microsoft/aspnetcore:1.1.0). When connecting to an SQL Server 2016 instance everything works fine. When connecting to SQL Server 2005 or 2008, our application hangs indefinitely. Sometimes, an InvalidOperationException occurs stating: "The timeout period elapsed prior to obtaining a connection from

[2017-01-24 11:48] nietras commented on #15348
@AtsushiKan yeah that is probably a good idea, it is a pretty hefty test. Didn't know what the policy was regarding this. Would you then assert inconclusive, or simply let the test pass?

[2017-01-24 12:59] tmds commented on #1745
@karelz I think the lack of feedback might be an indication no one thinks it will break their code :)

[2017-01-24 13:35] benaadams commented on #15423
You thinking of `ThreadLocal`? AsyncLocal can flow across threads as it says

[2017-01-24 13:52] fitzchak commented on #15423
Yes, I indeed wanted to use ThreadLocal, but was mistaken do to posts like:
http://stackoverflow.com/questions/31707362/how-do-the-semantics-of-asynclocal-differ-from-the-logical-call-context
Thanks!

[2017-01-24 13:52] #15423 closed

[2017-01-24 14:22] billwert commented on #15332
I believe we have a stub implementation for non-Windows platforms. PNSE the ACL apis there?
________________________________
From: Immo Landwerth <notifications@github.com>
Sent: Monday, January 23, 2017 11:14:16 PM
To: dotnet/corefx
Cc: Bill Wert; Author
Subject: Re: [dotnet/corefx] Missing methods in Microsoft.Win32.Registry (#15332)

Agree with @weshaggard<https://na01.safelinks.protection.outl

[2017-01-24 14:23] dagood opened #15427 "Use bootstrap.ps1/sh instead of init-tools.cmd/sh"
Right now, CoreFX uses `init-tools.cmd` and `init-tools.sh` to restore and set up BuildTools. There is a new BuildTools setup flow that CLI and BuildTools use called bootstrap that allows significantly more code sharing by directly downloading a BuildTools script which handles further steps.

This reduces the complexity in CoreFX itself and reduces the chance the BuildTools init flow diverges from

[2017-01-24 14:46] linflux commented on #11897
@karelz I'm here to say that i'm interested in this too.
I'm using dotnet core 1.1 on Web API Applications running on Linux Docker and need to convert DateTime.Now to an EST (-5h) TimeZone. It works on Windows using:

[code]
But fails on Linux, I should use this instead:
[code]
And to help the TimeZoneNotFoundException isn't exposed in .NET Core.
[TimeZoneNotFoundException  not exist in .NET Core]

[2017-01-24 15:09] philjones88 commented on #11897
I was hoping that Unix + Windows would share timezone ID's and finally enable a cross platform API that uses date time data to work properly without having to do hacky stuff server side.

I really wanted the Windows version to use the same as Unix so in our company's Angular (2) app we could use something like momentjs to do datetime calculations browser side without having to talk to the server i

[2017-01-24 15:41] jkotas commented on #15427
Can you quantify significantly more code sharing? As far as I can tell, this allows sharing of ~150 lines in `init-tools.*` script that are not shared today at the cost of more fragile and harder to debug system.

[2017-01-24 15:42] AtsushiKan commented on #15348
I think we have to let the test pass. You could print out a message to the console but it's not clear anyone would monitor it. As long as the allocation occurs often enough, I think we're getting sufficient test coverage for this particular scenario.

[2017-01-24 16:08] karelz commented on #11897
Thanks for feedback @linflux @philjones88 , for easier tracking can you please upvote top most post? It is something easy to sort and look at in future.

Overall, after reading https://github.com/dotnet/corefx/issues/11897#issuecomment-259851156 by @mj1856 it seems to me that a standalone library is probably the best solution in this case. I don't think it is a great idea to include in the framewo

[2017-01-24 16:25] tarekgh commented on #9294
CC @weshaggard

[2017-01-24 16:27] dagood commented on #15427
Here's what's in a few repos right now:

| repo | cmd | sh | total lines |
| --- | --- | --- | --- |
corefx | 86 | 172 | 258
coreclr | 90 | 168 | 258
wcf | 83 | 169 | 252

I agree that this is more fragile, but I think sharing code would actually make it easier to maintain better debugging capability.

Your comment gave me the idea that we *could* inline the bootstrap script into each repo using t

[2017-01-24 16:32] danmosemsft commented on #15421
Two distinct failues. For the first one, it's because `WindowsIdentity.GetCurrent().Owner.AccountDomainSid;` is returning null. That comes from Win32 `GetWindowsAccountDomainSid` and one way that can give null is on `ERROR_NON_ACCOUNT_SID` which means ` The security identifier provided is not from an account domain`. Could it be the machine did not join the domain successfully?

[2017-01-24 16:37] danmosemsft commented on #15424
@saurabh500 another dupe?

[2017-01-24 16:39] danmosemsft commented on #15411
I was assuming CoreRT/PN (and CoreCLR) do not, and those are the only contexts for CoreRT. @jkotas can you confirm? I don't think we've been maintaining these or considering thread aborts when working on CoreFX.

[2017-01-24 16:45] eyalsk commented on #3188
@tmds

Good job.

However, I'm not sure about this `TrySendToProcess` method, generally you'd expect a `Try` method to follow the _tester-doer_ pattern the way it's implemented throughout the framework where these methods generally return a boolean value and have some out parameters so maybe you can rename it to `Kill`? but maybe @stephentoub will have better ideas. :)

[2017-01-24 16:53] saurabh500 commented on #15424
Sql server 2005 is out of extended support. I don't think we will be getting to this issue.
I will be happy to  make this up for grabs.

[2017-01-24 16:56] jkotas commented on #15411
They can be removed in netcoreapp-specific parts.

We may want to preserve them in parts that target netstandard because of those parts can run on runtimes that have thread abort. But I would not go out of our way to explicitly harden these parts for threadabort (it is super expensive to do it right).

[2017-01-24 17:05] karelz commented on #1745
@tmds I would expect at least a couple of "I agree" or "thumbs up" in such case. I think lack of feedback is lack of interest at this level. I would not treat it as signoff.
Either way, whoever works on this issue should analyze it from that angle :)

[2017-01-24 17:09] karelz commented on #11100
Did anyone get a chance to validate @davidsh's bits? We would really welcome some end-to-end validation on the 7-ish scenarios that were hinted on this thread.

We were able to validate @onovotny's simplified repro so far. Would be great to get couple of more confirmations on repros we do not have locally. Thanks!

Once we have that, we will move towards porting the change into 1.1 branch and rele

[2017-01-24 17:10] karelz commented on #15387
Thanks @JonHanna!

[2017-01-24 17:11] dluxfordhpf commented on #11100
I will get some test done this week. I just got pulled into an escalation so I can’t start for 1-2 days, at a guess.

David Luxford
Senior Software Engineer
Home Point Financial Corporation
1194 Oak Valley Dr Ste 80
Ann Arbor, MI 48108
Work Phone:  (734) 256-4038
Email: dluxford@homepointfinancial.com
www.homepointfinancial.com

This email message, including any attachments (&ldquo;Message&rdquo;)

[2017-01-24 17:23] karelz commented on #11100
@dluxfordhpf thanks! Appreciate your help.

[2017-01-24 17:36] danmosemsft commented on #15309
@CarolEidt any update -- are you able to reproduce this?

[2017-01-24 17:51] weshaggard opened #15429 "CodeCoverage target clean-up"
See https://github.com/dotnet/corefx/pull/15397#discussion_r97456921.

We should not have people referencing properties/items that begin with an underscore in projects those are intended to be private properties in targets. https://github.com/dotnet/corefx/blob/7642f1f980fb0e8fa45f67769e0755a97df7b4d5/Tools-Override/CodeCoverage.targets#L44

We should provide a non-private property or item group t

[2017-01-24 17:58] weshaggard commented on #15215
@hseok-oh yes that is part of option [a] that @ericstj is suggesting. For folks that are building both repo's that would work. @ellismg has some work in progress to allow folks to consume local build coreclr packages when building corefx which would probably help with that scenario.

[2017-01-24 18:00] darxis commented on #15332
@weshaggard Yes, I'm still interested in contributing to this issue.

[2017-01-24 18:04] weshaggard commented on #15427
I do think that idea is worth investigating further. If we can eliminate the manual maintenance cost then I have less concern with the duplication.

[2017-01-24 18:04] Tratcher commented on #13663
Note the managed implementation won't work on Win7 HttpListener, Http.Sys doesn't support the necessary upgrade. You're probably better off leaving the Windows HttpListener WebSocket code alone. It was extensively tested and tuned when it was written.

[2017-01-24 18:07] weshaggard commented on #15427
If we do still have a downloadable script we also need to figure out the correct end-point to download it from (in particular a secure end-point) as well as try and figure out a workflow if there are networking outages.

[2017-01-24 18:10] Tratcher opened #15430 "Implement WebSocket Compression"
https://tools.ietf.org/html/rfc7692
https://github.com/aspnet/WebSockets/issues/19

Implementation notes:
The System.Net.WebSockets.WebSocket.SendAsync API is poorly suited to compression/extension. Compression is a per-message flag set on the first frame using the RSV1 bit. SendAsync sends frames and only takes the buffer, message type, an EndOfMessage bool, and a cancellationToken. There's no si

[2017-01-24 18:10] karelz commented on #13663
Maintaining multiple implementations brings non-trivial cost. Maybe we should keep it just for Win7 (which will eventually go out of support) and replace Win8+ implementation with the managed one?

[2017-01-24 18:16] Tratcher commented on #13663
? There is no Win7 implementation.

[2017-01-24 18:16] karelz commented on #15390
@tmat feedback (from the room) for future: Please provide as well namespace / assembly, so that we don't have to look it up.

[2017-01-24 18:16] karelz commented on #15390
API review: Approved (it is Metadata.Reader existing enum)

[2017-01-24 18:20] karelz commented on #7175
We assume that there is copy-paste error:
[code]
is the same as:
[code]

Approved: (top most post updated)
[code]

[2017-01-24 18:22] polarapfel commented on #312
@migueldeicaza As to your points from last year, what's your assessment around these issues in regards to how Mono tackled those? Is the implementation in Mono.Unix/Mono.Unix.Native solid enough to handle these properly?

Thanks!

[2017-01-24 18:24] karelz commented on #7175
API review: We updated the parameter names to t1/t2 to match existing operators on `TimeSpan` and matched the double with already approved 2 APIs.

[2017-01-24 18:25] davidsh commented on #13663
Yes, there is a "Win 7" implementation.  @stephentoub wrote a new managed websocket implementation that works right now on *Nix.  But the plan is to just use that code for the Win7 binary in the NuGet package.

[2017-01-24 18:30] karelz commented on #15259
API review:
Order of preference - @jimcarley and team, please choose
1. `System.Transactions.Ambient`
2. `System.Transactions.Local`

[2017-01-24 18:32] tarekgh commented on #7175
thanks @karelz

yes it was copy and paste error and the top most approved list looks good to me.

do we agree on throwing from these APIs with following inputs?

- passing NaN
- passing out of range ticks value
- dividing by 0.0 (even if this can just work)

[2017-01-24 18:33] karelz commented on #15229
API review: Approved.

[2017-01-24 18:33] Tratcher commented on #13663
There's no Win7 HttpListener implementation.

[2017-01-24 18:34] karelz commented on #15229
@jcouv can you please do it? We need to change also Desktop.

[2017-01-24 18:37] karelz commented on #5255
API review: We already have operator ==, so it makes sense to add `IEquatable<T>`.
Value: Generic constraints `T : IEquatable<T>`.
Approved

[2017-01-24 18:40] davidsh commented on #13663
ok...you're right.  This is discussing server-side websocket.

But the plan is to implement HttpListener using Mono code (which doesn't use http.sys) and re-use that for Win7.  Basically, the plan is to just have a sockets server that understands enough HTTP to get to the point of becoming a WebSocket.

[2017-01-24 18:42] danmosemsft commented on #574
There are 2 implementations in full framework, that are possible alternatives.
https://referencesource.microsoft.com/#q=priorityqueue

[2017-01-24 18:50] Tratcher commented on #13663
Wait, .NET Core HttpListener isn't going to use Http.Sys on Windows?

[2017-01-24 18:51] weshaggard commented on #574
For reference here is a question about the Java PriorityQueue on stackoverflow http://stackoverflow.com/questions/683041/java-how-do-i-use-a-priorityqueue. It is interesting that the priority is handled by a comparer instead of just a simple int priority wrapper object. For example it doesn't make it easy to change the priority of an item in the queue already.

[2017-01-24 18:53] davidsh commented on #13663
No. That stays the same.  But to implement WebSocket server-side on Win7, it will use an http stack other than http.sys.

[2017-01-24 18:53] karelz commented on #574
API review:
We agree that it is useful to have this type in CoreFX, because we expect CoreFX to use it.

For final review of the API shape, we would like to see sample code: `PriorityQueue<Thread>` and `PriorityQueue<MyClass>`.
1. How do we maintain the priority? Right now it is only implied by `T`.
2. Do we want it to be possible to pass the priority when you add an entry? (which seems pretty han

[2017-01-24 18:58] karelz commented on #13919
API review:
We need more details on the use case. Why do we need this?

Random notes:
* Is it better `Tuple` with `Dispose`?
* Is the key value to keep object alive?

[2017-01-24 18:59] masaeedu commented on #4561
@zhenlan Is sgen still on the roadmap?

[2017-01-24 19:05] saurabh500 commented on #15383
@tstringer Can you or someone from your team look at this issue?

[2017-01-24 19:06] karelz commented on #14234
API review:
* It should be struct, otherwise what is the point? @benaadams?

Notes:
* If we had it from v1, would we use it in File.IO APIs instead of 'long'? (it is that close to 'TimeSpan'?) -- we have disagreement on it among us - it determines, does it belong to CoreFX at all?
* What if we change it into just format specifier?

[2017-01-24 19:09] SamuelEnglard commented on #13919
Pretty much it's useful for cases where you could use `System.Runtime.CompilerServices.ConditionalWeakTable<TKey, TValue>` but only need one entry in the table.

Primary uses cases are caches or linking classes that you can't modify (pretty much the uses cases for System.Runtime.CompilerServices.ConditionalWeakTable<TKey, TValue>`)

[2017-01-24 19:28] CarolEidt commented on #15309
Yes, I was finally able to reproduce it by cloning the auto-update branch. Now on to the even harder part of tracking down the cause.

[2017-01-24 19:30] karelz commented on #7175
That was not part of the proposal on the top, so we didn't discuss it. What are the options, what are the pros/cons?

[2017-01-24 19:34] weshaggard opened #15436 "System.Security.Principal.Windows tests fail when running as admin"
While running the System.Security.Principal.Windows tests fail when running as admin.

[code]

On my local machine some of the tests are still failing for me because currentDomainSid (https://github.com/dotnet/corefx/blob/master/src/System.Security.Principal.Windows/tests/WellKnownSidTypeTests.cs#L113) is null, which causes some of the SID checks to fail. I believe for some reason that is null on

[2017-01-24 19:43] karelz commented on #15436
@couven92 can you please help validate @weshaggard's report? Any idea how to fix it?
Maybe split the test into admin friendly and admin-known-failures (which we would pass in tests if running as admin).

[2017-01-24 19:45] JonHanna commented on #7175
I think any failure to throw in those cases would be confusing at best.

If we don't throw for out of range the only reasonable response would be `TimeSpan.MinValue` or `TimeSpan.MaxValue`. I think this would hide errors. Throwing `OverflowException` matches e.g. `TimeSpan.FromHours(long.MaxValue)`, so principle of least surprise suggests it.

If we don't catch `NaN` we'll end up throwing `Overflo

[2017-01-24 20:06] akoeplinger commented on #5255
@karelz is there already a process for bringing changes like this to a future .NET Standard version?

[2017-01-24 20:13] karelz commented on #5255
There's no firm process yet. Being in .NET Standard means that the change has to be also in Desktop and Xamarin - I think that .NET Standard will move as fast as the slowest product. @weshaggard can chime in more ...

[2017-01-24 20:26] mj1856 commented on #11897
It revs much more than that because we can't *only* rely on CLDR release versions.  We also have to take into consideration the changes that ship in IANA TZDB releases, and in Windows updates.  These tend to make it into the dev-trunk of CLDR in a relatively timely manner, but then they sit there until the next semiannual CLDR release.  So really - having a separate microlibrary for this bit makes

[2017-01-24 20:26] akoeplinger commented on #5255
Sure, the Xamarin side is why I'm asking, don't want us to be the slowest platform 😄

[2017-01-24 20:30] karelz commented on #5255
My guess is that Desktop will be the long-pole - especially given the compat concerns there, etc.
We track all ports to Desktop via netfx-port-consider. We also discussed today that we should do API diff. The behavioral changes are the more interesting ones though.

Xamarin can either do the same - look at our netfx-port-consider, and/or do API diff. Or rely on the fact that you plan to reuse the

[2017-01-24 20:33] JonHanna commented on #11934
http://stackoverflow.com/questions/41354549/memory-leak-when-using-callsite would seem to be caused by the same issue.

Incidentally, from the issue description above:

When I investigated this I found that it would still leak if you removed lots of items, just much more slowly.

[2017-01-24 20:43] #5255 closed

[2017-01-24 20:45] #15348 closed

[2017-01-24 20:50] mj1856 commented on #7175
Maybe I'm stupid here, but why do we need to throw these exceptions ourselves?  If one passes in a zero, and we divide by it, the existing division operator will already throw a `DivideByZeroException`.

`ArgumentException` I get, because then you have to return a meaningful message with the name of the argument, but I don't understand why we have to do the others.

[2017-01-24 20:53] tarekgh commented on #7175
This is not true when using double. the division operation will succeed and you will get infinity

[2017-01-24 20:57] weshaggard commented on #5255
As @karelz mentioned we don't have a good process laid out yet. At some point once the netstandard 2.0 work lands we will likely do a diff of what we added in .NET Core and consider them for a new version of netstandard.

[2017-01-24 21:00] JonHanna commented on #7175
I don't think we should, I think we should just let the overflow happen. But deciding later that we should in fact throw something else isn't quite as bad as deciding later that we should have a different signature, but it's close enough to be worth considering up front.

[2017-01-24 21:55] sepidehMS commented on #15332
@darxis Thanks for your interest in this. Here is the list of APIs that need to be added for this work:

[code]
Also, `RegistryKeyPermissionCheck` type should be added to Microsoft.Win32.Registry and `Microsoft.Win32.RegistryKey` should inherit from `System.MarshalByRefObject`.

The implementation for these should go in [here](https://github.com/dotnet/corefx/blob/master/src/Microsoft.Win32.Regist

[2017-01-24 22:27] tmds commented on #1745
@BrennanConroy @stephentoub do you think it would be acceptable to drop Unc support and Dos path support on Unix to detect Unix paths instead? Dropping the dos paths isn't strictly necessary but it seems more consistent. This is the approach taken in the reference source.

[2017-01-24 22:34] Trolldemorted commented on #13619
I think i am currently experiencing this issue.

One of our .NETStandard1.5 libraries depends on `System.Net.Http`, which according to NuGet depends on `System.Security.Cryptography.X509Certificates (>= 4.1.0)` on `.NETFramework4.6`.
The testing project (.NETFramework4.6.2) references `System.Security.Cryptography.X509Certificates v4.3.0`.
When the library runs into X509-code, it throws the same e

[2017-01-24 23:13] ericstj commented on #13619
@Trolldemorted did you also make the project changes mentioned above?
https://github.com/dotnet/corefx/issues/13619#issuecomment-260425946

[2017-01-24 23:17] benaadams commented on #14234
Haha, yeah - oversight 😄

[2017-01-24 23:26] danmosemsft commented on #15436
Ah, maybe this is the cause of https://github.com/dotnet/corefx/issues/15421

[2017-01-24 23:27] tmat commented on #15387
Updating the public version to be applicable on assembly level would be useful. For the purpose of Live Unit Testing we have added a property to .csproj to make it possible for users to exclude the entire project (assembly) from code coverage. If the attribute is available on assembly level future versions of test tools could recognize it.

[2017-01-24 23:28] karelz commented on #15436
Yeah, we should probably disable those few failing tests right away.
@steveharter can you please help?

[2017-01-24 23:37] Trolldemorted commented on #13619
No, didn't know that was also required, sorry.

I have put the elements into the first unconditional PropertyGroup and now the project won't build any more:
[code]

[2017-01-24 23:38] JonHanna commented on #15387
@tmat someone who wants that can do the same as was done with `ExcludeFromCodeCoverageAssemblyAttribute` here. That said I do think it would be a good extension of the current API (despite it making my recent efforts pointless :smile:)

[2017-01-24 23:41] ericstj commented on #13619
That appears to be a bug with [GenerateBindingRedirects](https://github.com/Microsoft/msbuild/blob/cb8c727a898e4439a3cd18f329504e436b0b7c00/src/XMakeTasks/AssemblyDependency/GenerateBindingRedirects.cs#L186).  File an issue on MSBuild for that.  They should never throw a NRE.

I think you're missing some attributes on the `assemblyIdentity` element.  Have a look and see if you can spot it.  If not

[2017-01-24 23:51] #2338 closed

[2017-01-24 23:53] #15387 closed

[2017-01-24 23:54] stephentoub commented on #14838
I think it's likely that #15432 will fix this.

[2017-01-24 23:56] Trolldemorted commented on #13619
https://gist.github.com/Trolldemorted/8a2d467d1c46499717b9eb4eb27cbd8a

There you go, app.config and the .csproj.

Will the MSBuild team require anything except for these two files? I am thinking about deleting the test project and creating a new one in case i did something horribly wrong with NuGet.

Are earlier versions of .NETFramework also affected by this? I could switch to any version that s

[2017-01-24 23:59] jcouv commented on #15229
@karelz I'll stop by your office tomorrow to discuss and confirm.

[2017-01-25 00:05] karelz commented on #15229
@terrajobst will know more. I was just typing without too much context :)
But feel free to stop by and say hi ;-)

[2017-01-25 00:18] tmat commented on #15387
@JonHanna Yes, but it's not a "first class" solution. Defining internal attributes that collide with public ones leads to issues. Also tool vendors will likely be reluctant to check for the attribute on assembly level unless it's a proper public API.

[2017-01-25 00:24] weshaggard commented on #11570
I hit this same test failure when running the tests in an ubuntu docker image on windows.

[2017-01-25 00:25] JonHanna commented on #15387
API change issue time?

[2017-01-25 00:26] ericstj commented on #13619
[code]
should be
[code]

[2017-01-25 00:40] Trolldemorted commented on #13619
Thanks for your patience, now the tests are running! How would i obtain the token if i have to do this again?

[2017-01-25 00:46] jamesqo commented on #11596
All `Ensures` code is also dead though, so if they're not replaced with asserts they should probably be deleted. Having them in the repo gives people a false sense of security that the postcondition is actually enforced.

Fair enough, I will open a different issue to either replace/delete other `Contract` methods.

[2017-01-25 00:52] jamesqo opened #15443 "Remove calls to Contract methods/or change to Debug.Assert as appropriate"
There are a bunch of calls to `Contract` methods in corefx: see [gist][1]. Since CONTRACTS_FULL is not defined and the contract rewriter is not used, it's dead code. All methods that assert something (such as `Ensures`) should be replaced with asserts where practical, and all calls to `EndContractBlock` can be deleted.

Context for this issue: https://github.com/dotnet/corefx/issues/11596#issuecom

[2017-01-25 00:54] ericstj commented on #13619
@Trolldemorted no worries, glad it was something simple (ish).  We're aiming to improve on a lot of this in the upcoming releases.

`sn -t <pathToAssembly>` will give you the public key token.  sn.exe is in a developer command prompt.

You can also right click the reference in VS and view properties and you'll see the full strong name.

[2017-01-25 01:07] couven92 commented on #15436
Ah might be, I was running the cases from a non-domain computer, no-admin user and then all test passed. The well-known-sidtype tests are very basic in respect to the domainSid that is passed to the SecurityIdentifier ctor, there are probably some cases where a domain doesn't make sense.

[2017-01-25 01:13] mellinoe opened #15445 "ApiCompatBaseline files are being regenerated differently outside Windows"
When I build on Ubuntu 16.04, two ApiCompatBaseline.txt files are being regenerated, but they aren't when I build on Windows (or presumably when anyone builds on Windows). Here is the diff that gets created:

https://github.com/mellinoe/corefx/commit/d874d888467bc6eaf0389cc9d6b6957227ce0d80

It looks like the elements are being written in a different order. On top of that, there does seem to be so

[2017-01-25 01:26] akoeplinger commented on #15445
I noticed a similar issue when running GenAPI.exe on OSX, it generates API signatures in a different order. Maybe the same underlying problem?

[2017-01-25 01:56] mellinoe commented on #15445
That does sound related, and both of these tools (ApiCompat/GenAPI) use functionality from the same library if I'm not mistaken.

[2017-01-25 03:32] #15407 closed

[2017-01-25 03:39] karelz commented on #15443
@weshaggard @stephentoub do you have background on these?

[2017-01-25 04:11] TylerBrinkley opened #15453 "Enum Improvements"
Enums are essential commonly used types but have several areas in need of improvement. For each non-generic `Enum` method there should be an equivalent generic version. There should be better support for flag enums, enums with the `FlagsAttribute` applied. The performance of `Enum`'s methods that utilize reflection should be improved. Support for enum validation should be improved to support flag

[2017-01-25 04:22] zhenlan commented on #4561
@masaeedu we are not working on this currently because we don't really have a good solution yet while there are a few other serialization related hot issues/features we can make progress. However, this *is* on our roadmap and you made it clear how important this is to you. We plan to spend more time and look into alternative solutions. I will share more when I have something.

[2017-01-25 04:26] #14387 closed

[2017-01-25 05:05] magol commented on #10908
#15453

[2017-01-25 05:08] dcwuser opened #15455 "Complex.Asin gives bad values for extreme arguments"
For all Complex values z in the representable range, the value of asin(z) lies in the representable range. For example for large real m ~ Double.MaxValue, asin(m) ~ \pi / 2 + \ln (2 m) i ~ 1.5708 + 710.476 i. (The sign of the imaginary part may change depending on the phase convention, but the magnitude shouldn't.) But the Complex.Asin method returns NaNs for these arguments, and indeed for more a

[2017-01-25 10:53] JonHanna opened #15457 "CI Failure ConditionalWeakTableTests.Clear_AddMany_Clear_AllItemsRemoved"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/2407/

[code]

[2017-01-25 12:00] stephentoub opened #15459 "CoreMangLib._cti_system_string_StringConcat8_StringConcat8_ test failure"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_pri1_prtest/1942/consoleText
[code]

[2017-01-25 12:00] #15459 closed

[2017-01-25 12:02] annemartijn0 commented on #11100
I just installed 4.4.0-beta-24913-02 into my project. It seems to help my case.

Case: Self hosting ASP.NET Core from a Windows Service running full framework 4.6.2. dependency NETStandard.Library 1.6.1 forces me to use System.Net.Http 4.3.0.

The myget feed is very slow in my experience. It took a few minutes to install System.Net.Http 4.4.0-beta-24913-02
`OK https://dotnet.myget.org/F/dotnet-cor

[2017-01-25 12:13] stephentoub opened #15460 "Avoid creating a new HttpClient per HttpWebRequest in some cases"
In .NET Core, HttpWebRequest is layered on top of HttpClient and HttpClientHandler.  Due to the mismatch in APIs, the implementation creates a new HttpClient per HttpWebRequest, which is very inefficient.  But those costs can be avoided in some circumstances.  In particular, we can have a shared HttpClient configured with the same defaults that HttpWebRequest has; then as long as none of the setti

[2017-01-25 12:24] khellang commented on #15460
Just curious, would this get impacted by https://github.com/dotnet/corefx/issues/11224?

[2017-01-25 12:40] #15457 closed

[2017-01-25 12:42] Mike-EEE commented on #5766
FWIW, over 200 votes for this issue, now sitting at 202.  The next highest issue is #13526 sitting at 47.  Well, WAS 47... it's now 48 after my vote. :)  (Go show it some love, it's a good idea.) #squeakywheel

[2017-01-25 13:32] JonHanna opened #15464 "Microsoft.CSharp.RuntimeBinder constant folding incorrect in several ways"
Given:

[code]

We would expect the last line to throw a `RuntimeBinderException` due to the divide by constant zero.

Instead it throws `OverflowException` (in debug it throws an assertion failure). Of the other integer types, `uint`, `long` and `ulong` will all throw a `DivideByZeroException` while all the others throw `OverflowException`.

[2017-01-25 14:09] JonHanna opened #15467 "Are constant-folding and checks in Microsoft.CSharp.RuntimeBinder useful."
#15464 notes a bug in the constant-folding RuntimeBinder does, but considering that with the code emitted by the C# compiler when used with `dynamic` such checks and folding would already be done prior to the dynamic binding, is this constant-folding useful? Is the cost of checking if they can be applied when binding worth the benefit gained when running? Would it be better to just always evaluate

[2017-01-25 14:19] darxis commented on #15332
@sepidehMS Ok, I'm already working on it. It will take me up to 2 weeks to implement all of these.

[2017-01-25 15:01] #11556 closed

[2017-01-25 15:38] davidfowl opened #15469 "Need for a generic IAwaitable and library of combinators"
Today custom awaiters fall short for several reasons:
- Inability to declare an async methods as anything but Task (better with C# 7 and task likes)
- Methods that work on any task like (Awaitable.WhenAll, Awaitable.WhenAny etc).
- A first class interface for awaiting (IAwaiter) can be implemented things like cancellation tokens and other awaitable things (events?)

I haven't thought through an AP

[2017-01-25 15:55] stephentoub commented on #15469
For reference:
https://github.com/dotnet/corefxlab/blob/master/src/System.Threading.Tasks.Channels/System/Runtime/CompilerServices/IAwaiter.cs

Though I think the description in the issue may be conflating awaitables and awaiters.  It sounds like the request is for an interface that could be implemented by any awaitable thing (rather than it just being pattern-based), which would then also lead to

[2017-01-25 16:06] davidfowl commented on #15469
I don't want to combine different types of awaitable though that might be interesting. I'm interested in using the same patterns across a number of types that provide the same functionality. For e.g.:

Replacing:

[code]

With:

[code]

[2017-01-25 16:07] karelz commented on #5766
Thanks for reminder @Mike-EEE ;-). To set expectation: We are still not yet ready to start digging into it deeply - I personally hope that by March we should be able to comment more on our next official steps, even if it is again "we don't have plans yet" (disclaimer: I am trying to communicate my best personal guess, please don't treat it as official team promise!).

When we discussed the issue a

[2017-01-25 16:10] jnm2 commented on #15469
I on the other hand would love to await WhenAny(task, token) or WhenAny(manualResetEventSlim, token) etc.

[2017-01-25 16:20] galvesribeiro commented on #5766
Definitively `System.Xaml` is what people want @karelz. If someone is thinking on WPF here it is not the right place IMHO. There are a bunch of other frameworks that leverage XAML like WF, TFS Build, etc which still using System.Xaml and that would give us a big hand.

[2017-01-25 16:53] karelz commented on #11100
Thank you @annemartijn0 for confirmation and for describing the scenario!

[2017-01-25 16:55] Mike-EEE commented on #5766
@karelz I really appreciate your reply here.  Thank you for taking the time to do so.  As @galvesribeiro mentions, System.Xaml is more than just UI, which seems to be a key understanding that is missed by a lot of MSFT, unfortunately.  It is a powerful serialization paradigm that puts it above and beyond any other serialization solution out there, especially and particularly when it comes to descr

[2017-01-25 17:26] weshaggard commented on #15445
That looks a real issue. We must not be using the ECMA (b77) key on the linux builds for that library.

The other diffs seems more likely caused by the IL metadata in the assemblies they are reading. Could one of you guys take a look at the output binary to see if the IL order seems to be different between windows and linux in a similar manor. At this point my best guess is that csc is outputing t

[2017-01-25 17:35] tarekgh commented on #15202
I confirmed seeing the failures on macOS 10.12.3. this is Sierra mac release which looks changed some stuff on it. I have fix for the globalization failure will try to submit a PR for it today. also looked at the Process failure and the problem looks there is some change that broke the assumption how we calculate the process start time (note that is not related to Time zones). I am looking more de

[2017-01-25 17:36] karelz commented on #5766
Thanks for info, I am definitely interested. I also feel that my previous question(s) didn't come over as I intended, so let me try to point out few things:

Yes, I am definitely interested in details. I don't think anyone is disputing Xaml != WPF on MSFT side. I definitely didn't try to do that. I just know what I don't fully understand, and I am trying to fill the gaps - i.e. fully understand th

[2017-01-25 17:37] weshaggard commented on #15443
See https://github.com/dotnet/corefx/issues/503. Where we had the reverse conversation a while back. In general we didn't go back in and clean these out because we were trying to share code with other places. However even in those other places we no longer run any static analysis tools nor do we enable CONTRACS_FULL, so it really is dead code. The one potential drawback to removing these is they m

[2017-01-25 17:38] wisam84 opened #15471 "EPPlus Exoprt to excel Issue!"
#I user EPPlus for export data to excel and i got this when run the project

OfficeOpenXml.Packaging.ZipPackage.PartExists(Uri partUri)
OfficeOpenXml.ExcelWorkbook.CreateWorkbookXml(XmlNamespaceManager namespaceManager)
OfficeOpenXml.ExcelWorkbook..ctor(ExcelPackage package, XmlNamespaceManager namespaceManager)
OfficeOpenXml.ExcelPackage.get_Workbook()
OfficeOpenXml.ExcelPackage.CreateBlankWb()
O

[2017-01-25 17:43] karelz commented on #15202
Thanks @tarekgh! Any idea why it slipped through our internal testing? Is it because we do not test on Sierra?

[2017-01-25 17:47] tarekgh commented on #15202
most likely we don't test on Sierra. is there a way can I get the CI configuration machine? I mean what MacOS version used in the runs?

CC @mmitche

[2017-01-25 17:48] mmitche commented on #15202
@tarekgh El Cap

[2017-01-25 17:48] galvesribeiro commented on #5766
@karelz There are a bunch of UI frameworks that are reinventing the wheel and writing their own markup languages just because XAML isn't cross plat even if they don't like WPF at all. Avalonia is one of the top ones. They use Omnisharp when they could be leveraging native XAML instead.

Workflow Foundation is a big user/customer of XAML and people on *Port WF to .Net Core*  thread always ask about

[2017-01-25 17:49] tarekgh commented on #15202
thanks @mmitche. as expected :-)

[2017-01-25 17:50] danmosemsft commented on #15443
Are there any we can convert into Debug.Assert, to help catch bugs?

Eg stuff like
`Contract.Assert(0 <= providerInstance->NextOffset && providerInstance->NextOffset < buffSize);`
`Contract.Requires(writer != null);`

I'm not sure about these, are they useless without an analysis tool?
`Contract.Assume(s_EmptyField.IsEmpty);`
`Contract.Ensures(Contract.Result<IBuffer>() != null);`
`Contract.Ensure

[2017-01-25 17:50] danmosemsft commented on #15443
@jkotas also

[2017-01-25 17:50] karelz commented on #15443
Thanks @weshaggard!

What do you mean by that?

Given that we are already deep on the path of source code divergence with other products (Desktop), I don't see harm in cleaning up these as well. IMO it is a decision we already made (incl. accepting the risk that we might regret it one day, potentially paying the cost to "undo it"), so let's stick to the decision fully. There is no point to be half

[2017-01-25 17:53] karelz commented on #15202
@mmitche is there a plan to keep our Mac running on latest MacOS?

[2017-01-25 17:55] danmosemsft opened #15472 "dumpling error "dumpling.py upload: error: argument --dumppath: expected one argument" on Fedora"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170125.02/workItem/Common.Tests/details/38037e24-2d39-4dae-a997-6c99c5bcba9d

[code]

@sepidehMS

[2017-01-25 17:55] mmitche commented on #15202
@karelz I don't have a plan to upgrade currently.  It's up to the .NET Core LT to decide what to do.

[2017-01-25 17:56] danmosemsft commented on #15472
@MattGal does it look to you that this is the reason all Fedora runs have failed? Or downstream?

[2017-01-25 17:56] tarekgh commented on #15202
I would say it will be good to wait a little till we clear the current failures

[2017-01-25 17:58] karelz commented on #15202
@mmitche which LT do you mean? Let's kick off that discussion internally ...

@tarekgh I am not pushing for any immediate change. I am curious if we have any long-term plans how to continuously keep testing latest MacOS - the answer seems to be none yet. We have it kind of covered for latest Linux distros.

[2017-01-25 18:00] jkotas commented on #15443
I am fine with cleaning these up. Most of them are bit-rotten bits of the original annotations. No value in keeping them around.

The one exception is `System.Collections.Immutable` project. It is using these annotations very consistently. I think it may be worth keeping them there, as a form of internal documentation at least. I would leave it to @AArnott to make the call about these annotations

[2017-01-25 18:02] karelz commented on #15443
cc @ianhays

[2017-01-25 18:02] danmosemsft commented on #15202
Duplicate reosurce warning was already fixed https://github.com/dotnet/corefx/pull/15433/

[2017-01-25 18:03] jkotas commented on #15443
https://github.com/dotnet/roslyn/issues/119

[2017-01-25 18:05] danmosemsft commented on #15443
Meaning all `Contract.Assert` if we converted to `Debug.Assert` would fail/be incorrect?

[2017-01-25 18:15] jkotas commented on #15443
Converting `Contract.Assert` or `Contract.Assumes` to `Debug.Assert` should be pretty safe operation.

`Contract.Ensures` is the tricky one to convert. You would need to move from the top of the method to the bottom of the method as part of the conversion. And the conditions asserted by it are typically a pretty low-value ones, so it is probably not worth converting in number of cases.

[2017-01-25 18:18] weshaggard commented on #15443
We did a pass to convert all Contract.Asserts to Debug.Asserts (https://github.com/dotnet/corefx/issues/682) a while ago and that is our general guideline in the repo so if there are more we should convert those. For the other Contract calls we should probably just remove them.

[2017-01-25 18:18] karelz commented on #15464
Any compat concerns?

[2017-01-25 18:19] Jaedson33 commented on #4278
Do you have any idea when phase 2 will be completed?

[2017-01-25 18:21] danmosemsft commented on #15443
Looks like there's still about 70 of the .Asserts mostly in a couple of contracts. OK I'll create an issue to convert those.

As part of removing the rest, we will be preventing any new ones.

[2017-01-25 18:24] danmosemsft opened #15473 "Change Contract.Assert to Debug.Assert and make sure tests still pass"
Per https://github.com/dotnet/corefx/issues/15443#issuecomment-275188560

There are about 70, mostly in Tracing. Since they've been not functioning, this may introduce test failures. Either fix thep roduct, test, or remove the assert if it's bogus.

We will be separately removing the dependency so new ones can't go in.

[2017-01-25 18:26] karelz commented on #4278
#14662 is already merged - that was the phase 2. I will mark it in the top post as 'checked'.

[2017-01-25 18:30] brockallen commented on #4278
Just so I'm clear: once all 5 steps are done, then to get ws-fed support in ASP.NET Core, the AAD team needs to do their SAML token bits, then the ASP.NET teams needs to build the ws-fed middleware on the AAD piece. Does that match your expectations?

[2017-01-25 18:30] stephentoub commented on #15443
We should not remove the ones that are:
- In the Contracts tests: those are left because, well, they're testing the APIs
- In System.Diagnostics.Tracing, at least not before talking with @davmason: I'd previously removed these, and then he switched back to Contract.Assert because this code file is being copied between multiple repos

Besides those, looks like there may be a handful of recently add

[2017-01-25 18:35] karelz commented on #4278
Nope, this work has nothing to do with WS-Fed.
I owe a reply and explanation on https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/500

[2017-01-25 18:40] MattGal commented on #15472
@schaabs can hopefully comment.

[2017-01-25 18:41] #15429 closed

[2017-01-25 18:45] saurabh500 opened #15474 "CoreFx build process is copying test files into the original folder"
The System.Data.SqlClient.ManualTests rely on the two files, data.xml and MultipleResultsTest.bsl being available in the binary folder.
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj#L68
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesti

[2017-01-25 18:45] saurabh500 commented on #15474
cc @weshaggard @ericstj

[2017-01-25 19:00] jcouv opened #15475 "ValueTuple should type-forward to System.Runtime instead of System.Private.CoreLib"
From discussion with @terrajobst, it looks like the type forwards I recently introduced for target group = "netcoreapp1.1" (PR https://github.com/dotnet/corefx/pull/14786) are incorrect. They point to `System.Private.CoreLib` instead of `System.Runtime`.
While this works at runtime, it is incorrect at compile-time, because the compiler does not see `System.Private.CoreLib` and so cannot unify on i

[2017-01-25 19:03] jcouv commented on #15175
FYI @terrajobst. This is the issue to add type forwards to desktop 4.7.
From our discussion this morning, it sounds like this should happen as soon as desktop 4.7 is shipped and the ValueTuple nuget package should be updated asap after that (ie. not wait for next official release wave from coreFX).

[2017-01-25 19:07] weshaggard commented on #15475
The reference assembly for System.ValueTuple is type-forwarding to System.Runtime as far as I can tell so compile-time with that ref should be fine. As for the implementation you could type-forward that to either System.Runtime or System.Private.CoreLib but given a choice you should forward it to System.Runtime as that gives it more flexibility.

[2017-01-25 19:08] #14337 closed

[2017-01-25 19:29] jcouv commented on #15475
I went back to look at the package. We probably looked at the binary in `lib` instead of `ref`.
The one in `ref` indeed looks correct (type forwards to `System.Runtime`).
Closing the issue.

[2017-01-25 19:29] #15475 closed

[2017-01-25 19:43] justinvp commented on #6485
I went ahead and grabbed this: #15476

[2017-01-25 20:00] #13637 closed

[2017-01-25 20:03] schaabs commented on #15472
I don't believe the issue is dumpling setup.  The problem with the upload here is that you're trying to upload a dump without specifying the dump path (presumably because no dump was actually created, although I'd need to look at the script itself to confirm).  The following log output shows that the process exited with an non-zero error code, but corefile is an empty string:

    2017-01-25 06:23

[2017-01-25 20:06] davmason commented on #15443
I am no longer owning EventSource, I have been answering questions while @brianrob was out, but now he is back and can take over.

[2017-01-25 20:12] karelz commented on #4278
FYI: Reply posted: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/500#issuecomment-275218749

[2017-01-25 20:14] mellinoe commented on #15445
See #15479

[2017-01-25 20:24] karelz commented on #6485
Thanks @justinvp!
@thiagocamargos hopefully not any duplicated work here ...

[2017-01-25 20:36] akoeplinger commented on #15445
@weshaggard I diffed the assemblies compiled on OSX and Windows and they are identical. Looks like an issue with how GenAPI or the underlying metadata reader processes the assemblies.

[2017-01-25 20:38] Jaedson33 commented on #4278
So when phase 4 will be completed?

[2017-01-25 20:42] karelz commented on #4278
If you're asking when .NET team will have time to get to it -- we don't know yet. It is high on our backlog, but there are couple of higher priorities we have to tackle first.

We are open to contributions in the space from the community in the meantime.

[2017-01-25 20:44] karelz commented on #15471
Which version of .NET Framework do you use?
Why do you think it is not EPPlus problem?

[2017-01-25 20:45] karelz commented on #15474
cc @mellinoe

[2017-01-25 20:46] mj1856 commented on #7175
Ahh.. good old infinity.  I had forgotten.  Thanks.

IMHO, then we would should check `0.0`, `double.IsInfinity` and `double.IsNaN` and any one of them should return an `ArgumentException`.

[2017-01-25 20:47] wisam84 commented on #15471
I am use 4.6
this is my project.json:

  "title": "Help Search Application",
  "description": "wisam J.S. Ali",
  "userSecretsId": "aspnet-HelpSearch-5ef61293-9310-4435-ab62-e09b58d5f5c3",

  "buildOptions": {
    "emitEntryPoint": true,
    "preserveCompilationContext": true
  },
  "dependencies": {
    "BundlerMinifier.Core": "2.2.306",
    "Microsoft.ApplicationInsights.AspNetCore": "1.0.2",

[2017-01-25 20:50] tarekgh commented on #7175
@mj1856 agree

[2017-01-25 20:54] JonHanna commented on #7175
I don't see any problem with infinity as a divisor.

[2017-01-25 20:57] kouvel commented on #14724
Any further thoughts on this?

[2017-01-25 21:01] tintoy commented on #4278
I'm happy to keep working on this, but I'm kinda stuck at the moment; since corefx moved to the new build process, `System.Security.Cryptography.Xml` no longer builds (so @anthonylangsworth and I are blocked from writing any tests). If we could get just a quick pointer on what's involved in getting the project (and test project) to build, we'll be good to go :)

PS. I've spent 20 minutes or so tra

[2017-01-25 21:02] lmolkova opened #15482 "build for netfx or netstandard targets does not work"
I'm trying to build clean master against netfx target with
`build -TargetGroup=netfx`
It fails with many errors in System.ValueTuple and stops after that.

It also happens with netstandard target, but builds successfully for netcoreapp.
Is it supposed to work?

[msbuild.log.zip](https://github.com/dotnet/corefx/files/730931/msbuild.log.zip)

[2017-01-25 21:07] JonHanna commented on #15464
I'm not sure. I'm wondering (out loud over at #15467) if this would be hit outside of someone actively testing it. While that removes the risk of fixing it, it also removes the point and maybe runtime binding should be precisely that; runtime treatment only with no equivalent to compile-time constant folding.

In the meantime, more bugs found are:

1. A dynamic call equivalent to `unchecked(int.Mi

[2017-01-25 21:08] JonHanna commented on #15467
One disadvantage in not having constant-folding is that there are expressions that are treated differently compile-time to runtime, like `unchecked(int.MinValue / 1)`. But that doesn't work as per compile-time C# right now either, so not that big a loss either?

[2017-01-25 21:17] TylerBrinkley commented on #11073
@karelz I've just created the proposal #15453 to move many of the improvements my library provides into CoreFX. I'd greatly appreciate any feedback.

[2017-01-25 21:18] JonHanna commented on #15464
3. Equivalent to `unchecked(-int.MinValue)` throws. Should fold to `int.MinValue`

[2017-01-25 21:18] tarekgh commented on #15202
The Process issue is very interesting. I was able to repro it first time I setup the machine and I was seeing the calculation of the process start time was wrong because the boot time was not right. it was shifted by around 30 minutes or so.

https://github.com/dotnet/corefx/blob/9a39684c851c14bd8190cfa21bdda41b3762a5c5/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L417

I

[2017-01-25 21:19] TylerBrinkley commented on #10692
I've created a formal API proposal #15453 that addresses this request.

[2017-01-25 21:19] TylerBrinkley commented on #693
I've created a formal API proposal #15453 that addresses this request.

[2017-01-25 21:25] karelz commented on #4278
@mellinoe @weshaggard can you please provide guidance for migrating SignedXml to the new build system?

[2017-01-25 21:27] karelz commented on #11073
Ah, I was wondering where it came from :). I let area owners to provide the feedback first. Thanks!

[2017-01-25 21:33] karelz commented on #15471
@ericstj any advice/direction?

[2017-01-25 21:40] tarekgh commented on #15202
I am able to repro it again. will continue taking look.

[2017-01-25 21:44] danmosemsft commented on #15472
@MattGal who owns the next action to get this up and going?

[2017-01-25 21:46] danmosemsft commented on #15473
from Stephen
We should not remove the ones that are:

In the Contracts tests: those are left because, well, they're testing the APIs
In System.Diagnostics.Tracing, at least not before talking with @davmason: I'd previously removed these, and then he switched back to Contract.Assert because this code file is being copied between multiple repos

[2017-01-25 21:55] alexperovich commented on #15469
I like this idea. You could wait for both an event and a token. I am unsure how much work this would be though.

A simple workaround is `Task.WhenAny(task, Task.Run(async () => await awaitable))` This still has the leak problem @stephentoub mentioned and has an additional task overhead.

[2017-01-25 21:55] MattGal commented on #15472
@sepidehMS turned it on, I'd start with her.  Failing that, if @Chrisboh  wants me to work on this I certainly can.

[2017-01-25 22:03] jnm2 commented on #5766
@karelz

And maybe I am wrong (although I am at least not the only person on .NET team with these doubts) ...

So... what's the problem with that? A WPF-like cross-platform solution could be quite a good thing. Xamarin can't do cross-platform desktop GUI.

[2017-01-25 22:05] weshaggard commented on #15474
Nothing in our recent engineering changes should have impacted this. However if you want those files to be in the same directory as the test assembly then you can update the project to:

[code]

[2017-01-25 22:07] mellinoe commented on #15474
Yes, I was about to post as much. I put a PR here that fixes this: #15485

[2017-01-25 22:08] mellinoe commented on #14581
There were a few PR's related to this, but it's all fixed now.

[2017-01-25 22:08] #14581 closed

[2017-01-25 22:11] mellinoe commented on #15126
Done with #15306 and #15429

[2017-01-25 22:11] #15126 closed

[2017-01-25 22:12] jamesqo opened #15486 "Validate the format of the display strings at ValidateDebuggerDisplayReferences call sites"
`ValidateDebuggerDisplayStrings`, a method that currently returns void, is used to ensure that the display string can be parsed correctly. PR https://github.com/dotnet/corefx/pull/15484 makes that function more useful by actually evaluating and returning the display string, so now it can be Assert.Equal'd on. All of the current call sites in https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q

[2017-01-25 22:14] mj1856 commented on #7175
@JonHanna well, if we think that both of these are true:

[code]

Then I agree. Sure.  I just don't know how useful that is, but ok. :)

[2017-01-25 22:14] jamesqo commented on #15486
There ought to be a method for validating the type in the debugger type proxy too, e.g. what properties the type it refers to has.

[2017-01-25 22:16] mj1856 commented on #7175
I suppose the better question is, what should `TimeSpan.FromHours(5) * Double.PositiveInfinity` be?  `TimeSpan.MaxValue`?  `OverflowException`

[2017-01-25 22:17] Jaedson33 commented on #4278
😭😭 I think I'll need to wait 😭😭

[2017-01-25 22:21] Priya91 commented on #15202
Synced with @tarekgh offline. We guess it's most probably the issue with assuming that the time units from OSX API is in nano seconds [here](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.OSX.cs#L58), as we couldn't find clear documentation on the OSX API. Requires investigation on the calculation.

[2017-01-25 22:23] JonHanna commented on #15464
4. Modulo of zero produces zero for `int` or any type promoted to `int` for arithmetic. `uint`, `ulong` and `long` has a `DivideByZeroException` instead of `RuntimeBinderException`

[2017-01-25 22:27] weshaggard commented on #4278
@tintoy if you point me at the branch you are currently working on and which project you are trying to build I can help with getting building.

[2017-01-25 22:28] vancem commented on #3906
Perf counters mean different things.   Often people only want to READ existing perf counters.  This is relative straightforward, and is the kind of thing that we might add (or others could simply make a clone of this that is .NET Core compatible).      For this case, however we really would rather we identify the most important of these that are CROSS PLATFORM (e.g. working set, CPU usage ...), an

[2017-01-25 22:29] gkhanna79 commented on #15215
CoreCLR pipeline build is now publishing Arm32 (armhf) packages for Ubuntu 14.04 and Ubuntu 16.04 on myget! Here are the first set of packages that got published today from the repo:

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.14.04-arm.Microsoft.NETCore.Runtime.CoreCLR

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.16.04-arm.Microsoft.NETCore.R

[2017-01-25 22:33] billwert opened #15487 "VS .sln files do not use the solution folders any longer."
Opening .sln files in VS now have all the projects in a flat list at the root of the solution, not in the solution folders:
![image](https://cloud.githubusercontent.com/assets/4523120/22311892/64a1dec2-e30a-11e6-8980-cf114056e9fb.png)

Rolling back to before [f6ab339 ](https://github.com/dotnet/corefx/commit/f6ab339) puts things to back as I expect them.

cc: @karajas

[2017-01-25 22:38] ericstj commented on #15471
`CoreCompat.System.Drawing` isn't one of our assemblies.

It looks like the type ref is coming from https://www.nuget.org/packages/EPPlus.Core/
And the expected (missing) type def is comping from https://www.nuget.org/packages/CoreCompat.System.Drawing/

If I crack open the CoreCompat.System.Drawing package I see it has two builds:
lib/net45 & lib/netstandard1.3.

If I diff the contents of the net

[2017-01-25 22:38] #15471 closed

[2017-01-25 22:40] billwert commented on #15487
Ah, I just noticed @stephentoub touched on this in #15401. @karajas you can close this if you want or keep it open since it isn't clear to me if there are two issues or not.

[2017-01-25 22:44] karelz commented on #4278
@weshaggard there is currently not a branch - the code is in master, it just is not hooked up into root build (on purpose) - src/System.Security.Cryptography.Xml (introduced in #14628). @steveharter can provide additional info.

[2017-01-25 22:51] tintoy commented on #4278
@weshaggard @karelz I'm happy to create a branch in our fork and only get it building there to unblock us; later, we can always cherry-pick any changes we've made once it's building again in `master`. Let me know if this is your preferred approach :)

[2017-01-25 22:57] karelz commented on #5766
@jnm2 it is not bad - but if that is the main (90%+) scenario, we should plan on doing both. Having Xaml without the WPF is not going to help in such case (at least not much). And it might create (potentially) invalid illusion that WPF is committed and will come shortly after.

Getting WPF / GUI into .NET Core will be a huge step for .NET Core, which targets primarily server scenarios and console

[2017-01-25 23:02] grokys commented on #5766
@jnm2 having System.Xaml would massively help people (like myself) who are _trying_ to bring something like WPF to other platforms (https://github.com/AvaloniaUI/Avalonia).

[2017-01-25 23:06] karelz commented on #5766
@grokys that sounds like a reasonable scenario - can you elaborate a bit more on it? How massive the help would be? What is challenging without it?

[2017-01-25 23:13] davidfowl opened #15490 "Add awaitable ThreadPool.Yield()"
`Task.Run` breaks the execution flow by forcing the code into a delegate, it's basically callback hell (since it's the first callback in the chain). Instead, for the situations where we want to stay in the await pattern, `ThreadPool.Yield()` would be a nice to have API. It would turn code that looks like this:

[code]

[code]

/cc @stephentoub

[2017-01-25 23:15] #15474 closed

[2017-01-25 23:20] danmosemsft commented on #15472
OK so it's not dumpling. @weshaggard any light you can cast on this failure? Perhaps this is the issue:
`2017-01-25 06:23:16,118: INFO: proc(55): run_and_log_output: Output: /home/helixbot/dotnetbuild/work/38037e24-2d39-4dae-a997-6c99c5bcba9d/Work/6d1e3fd1-e72c-4c13-bd58-a884f70b9349/Unzip/RunTests.sh: line 89: echo: write error: Invalid argument`
although I can't find "runtests.sh" in our repos.

[2017-01-25 23:23] MattGal commented on #15472
Runtests.sh is emitted by https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/GenerateTestExecutionScripts.cs and may be tweaked by override build tools stuff.  @mellinoe  may have more to add.

[2017-01-25 23:30] JonHanna commented on #7175
I think so.

It's a real timespan (even has it's own name, *eternity*) just not one that `TimeSpan` is capable of representing, the same way it can't represent 30,000 years. It's also consistent with what `TimeSpan.FromHours(Double.PositiveInfinity)` does.

It also seems strange to consider `reallyBigTimeSpan * 2.0` an argument exception rather than an overflow, but if that's an overflow then so s

[2017-01-25 23:31] omariom commented on #15490
SwitchTo?

[2017-01-25 23:33] weshaggard commented on #4278
PR https://github.com/dotnet/corefx/pull/15491 should get the project infrastructure working. Once CI passes for it we can merge it and it should bootstrap your efforts.

[2017-01-25 23:35] mellinoe commented on #14590
CI and official builds are both running tests with the new system now.

[2017-01-25 23:35] #14590 closed

[2017-01-25 23:38] davidfowl commented on #15490
Was keeping in line with `Task.Yield()`

[2017-01-25 23:50] MattGal commented on #15472
Line 89 in question is:
echo echo 0x3F > /proc/self/coredump_filter

[2017-01-25 23:56] stephentoub commented on #15490
I agree this is a pretty reasonable thing to add.  In the original async/await CTP, we actually had methods for doing this, IIRC as extensions on a TaskScheduler and SynchronizationContext, e.g.
[code]
We removed these because you couldn't use an await inside of a catch/finally, which meant it was difficult to return to the original context if you were trying to do something structured like:
[code

[2017-01-26 00:02] davidfowl commented on #15490
SwitchTo sounds fine to me.

If we ever get async disposable maybe that pattern could be more natural.

[code]

[2017-01-26 00:16] weshaggard commented on #15482
Yes this is a known gap right now, @tarekgh  is looking into this scenario. I believe we are tracking this work with https://github.com/dotnet/corefx/issues/14911 so closing this issue.

[2017-01-26 00:16] #15482 closed

[2017-01-26 00:46] sepidehMS commented on #15472
As @schaabs explained earlier, this error is not related to Dumpling. And the failure in Fedora runs is coming from this error, because it used to be there even before Dumpling was enabled, like in the following run:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170123.01/workItem/Common.Tests/wilogs

About why Dumpling is

[2017-01-26 00:50] stephentoub commented on #1745
@tmds, do we know what Mono does here?  From the initial description it sounds like Mono detects Unix paths; does it not support Unc/Doc paths on Unix?  If so, I think it's reasonable to match what the reference source and Mono do.

[2017-01-26 01:09] cwensley commented on #5766
I am also using Xaml for my (non-WPF like) cross platform desktop UI framework, [Eto.Forms](https://github.com/picoe/Eto).  This is why I created the [Portable.Xaml](https://github.com/cwensley/Portable.Xaml) project to begin with, and it has been working well for me and my users thus far.

I am not opposed to helping make this the "authoritative" cross platform xaml implementation (as @Mike-EEE p

[2017-01-26 01:11] benaadams commented on #15490
Should it check if already on threadpool/scheduler and immediately complete if so?

[2017-01-26 01:42] #15022 closed

[2017-01-26 01:49] stephentoub commented on #15490
It would depend on your scenario. For example, if you were using it to ensure that a caller of your async API wasn't blocked while doing some long computation, then you'd want it to always queue. But if you were using it to ensure you were running on a context that owned done resources only accessible to that context, you wouldn't care and for perf might want it to mop.

[2017-01-26 01:52] yaakov-h commented on #15202
@tarekgh The Process test passes immediately after boot, up to at least 117 minutes after boot.

FWIW I'm now running 10.12.3 (16D32).

There appears to be a harmless bug in `proc_pid_rusage` though - it's passing in `RUSAGE_SELF` rather than `RUSAGE_INFO_V3`, but as far as I can tell this gets interpreted as `RUSAGE_INFO_V0`, which just means that all fields starting with `ri_child_user_time` unt

[2017-01-26 02:30] Jiayili1 commented on #15065
This issue is repro on build 20170125.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170125.02/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FOpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal

[2017-01-26 02:30] Jiayili1 commented on #15066
This issue is repro on build 20170125.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170125.02/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FexePath_UserLevelPerRoamingAndLocal

[2017-01-26 03:16] jyoungyun commented on #15215
@gkhanna79 Thanks to you, CoreCLR dependency issues were resolved well. But to build CoreFX, we still need DotNetHost and other core-setup nupkgs because coreclr.depproj has a dependency with those nupkgs. And when I tried to build core-setup, it fails by `Unable to resolve CoreFX nupkgs` error. Do you have any idea to resolve this dependency issue ?

[2017-01-26 03:36] #6485 closed

[2017-01-26 03:58] tintoy commented on #4278
Thanks - I've rebased [tintoy/corefx/master](/tintoy/corefx/tree/master) and will have a play with it shortly :)

[2017-01-26 04:14] dennisdietrich commented on #1642
I'm looking for an opportunity to get started contributing to .NET Core. Would it be possible to get this issue assigned to me?

[2017-01-26 04:54] Jiayili1 commented on #15041
This issue is repro on build 20170125.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170125.02/workItem/System.Security.AccessControl.Tests/analysis/xunit/System.Security.AccessControl.Tests.CommonSecurityDescriptor_CreateFromSddlForm~2FTestCreateFromSddlForm(isContainer:%20False,%20isDS:%20False,%20sddl:%20%5C%2

[2017-01-26 04:56] dotnet-mc-bot opened #15502 "Test failure: System.Security.AccessControl.Tests.DiscretionaryAcl_Constructor1/Constructor1_AdditionalTestCases"
Opened on behalf of @Jiayili1

The test `System.Security.AccessControl.Tests.DiscretionaryAcl_Constructor1/Constructor1_AdditionalTestCases` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.OutOfMemoryException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Security.AccessControl.Tests.DiscretionaryAcl_Constructor1.Constructor1_AdditionalTe

[2017-01-26 04:56] tintoy commented on #4278
@weshaggard ok, so both src and test project build, but if I add a project reference from the test project to the source project (`<ItemGroup><ProjectReference Include="..\src\System.Security.Cryptography.Xml.csproj" /></ItemGroup>`), I get:

[code]

I'm guessing I've missed something about how inter-project references are meant to work in corefx?

[2017-01-26 04:57] hseok-oh opened #15503 "Bootstrapping for new platform"
As commented at https://github.com/dotnet/corefx/issues/15215#issuecomment-275299116, CoreFX build needs CoreCLR & core-setup nuget packages. And core-setup build needs CoreCLR & CoreFX nuget packages.

We can build CoreCLR without target platform nuget packages dependency. But CoreFX and core-setup have target platform nuget package dependency for each other. This circular nuget package reference

[2017-01-26 04:58] hseok-oh commented on #15215
@jyoungyun I make new issue for bootstrapping issue.

[2017-01-26 05:02] hseok-oh commented on #15215
I couldn't build just comment out coreclr/coreclr.depproj in external/dir.proj and copy System.Private.CoreLib.dll. To build CoreFX, I used pre-generated CoreCLR and core-setup nuget packages for ubuntu.14.04-arm.

[2017-01-26 05:06] Jiayili1 commented on #15421
This issue is repro on build 20170125.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170125.02/workItem/System.Security.Principal.Windows.Tests/analysis/xunit/WellKnownSidTypeTests~2FCanCreateSecurityIdentifierFromWellKnownSidType(sidType:%20AccountAdministratorSid)

Message:
[code]

Stack Trace:
[code]

Failed C

[2017-01-26 05:26] Kation commented on #5766
@karelz
Not only UI frameworks, It can used in many scenes like XAML to HTML

[2017-01-26 05:51] Jiayili1 commented on #14838
Failed on OuterLoop_Ubuntu14.04_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug/lastFailedBuild/consoleText

Failed test: System.Net.Http.Functional.Tests.HttpClientHandler_ClientCertificates_Test.Manual_CertificateSentMatchesCertificateReceived_Success(numberOfRequests: 3, reuseClient: True)

Message:
[code]

Stack Trace:
[code]

[2017-01-26 06:00] karelz commented on #5766
@Kation can you share more details what exactly you mean?

BTW: I started summarizing scenarios in the top post - if your scenario is not there, please describe it and once it is understood, I'll add it there.

[2017-01-26 06:16] Kation commented on #5766
@karelz
WIth the powerful XAML editor in visual studio, we can quickly create custom components content.
Then, I think we could use XAML to generate HTML contents in some specially scenario, even more SVG contents.
This is a semi-finished XAML to XML framework for .Net 4.5. https://github.com/Kation/WebPresentation

[2017-01-26 06:25] karelz commented on #5766
I don't get why you want to generate HTML or SVG from XAML. What's the value of XAML here?
Is the value that it has a nice VS editor? There are also HTML editors, why not to use those directly?
Or am I missing the point entirely?

[2017-01-26 06:44] Kation commented on #5766
@karelz
Because I want to generate contents like WPF with template and style in some projects.

[2017-01-26 06:47] Mike-EEE commented on #5766
@karelz thanks again for the dialogue.  I for one very much appreciate it.

Oh, I envy. 😉

Yeah, this is again the conflation I mentioned.  Xaml is a serialization paradigm, pure and simple.  You can define and describe an application -- and its containing components -- in it.  To start with, here is an example of a _console application_ described in Xaml:
https://github.com/DevelopersWin/VoteRepo

[2017-01-26 08:12] grokys commented on #5766
@karelz - Avalonia currently uses OmniXaml as its XAML engine, and while this works quite well, there are still bugs and missing features. Like Portable.Xaml, OmniXaml is maintained by a volunteer in who doesn't always have a lot of time to work on it.

If in fact you decide not to open System.Xaml, maybe releasing your test suite would be a good compromise - at least in that way we could ensure t

[2017-01-26 08:52] tmds commented on #1745
@stephentoub Mono is does not support Unc/Dos paths on Unix. The code borrows from the reference source.

There is a regression in mono which causes the Uri class to no longer detect Unix paths on Unix. Created a bug https://bugzilla.xamarin.com/show_bug.cgi?id=51781.

[2017-01-26 10:37] gulshan commented on #5766
I think what .net ecosystem needs is a default human readable serialization format- something like JSON in Javascript world. This format should use donet data types and directly use POCOs as schema. Then that format can be used to describe POCO objects. These descriptions are strongly and statically typed. Which can be a UI layout, runtime app configuration, project/workflow description or even fo

[2017-01-26 11:36] Mike-EEE commented on #5766
@grokys I did want to mention OmniXaml, and have invited @SuperJMN to the conversation here, but it doesn't seem he ever wants to participate.  Not sure if it is settings or what (I have also made an attempt in the gitter as well -- since you work with him, perhaps you can have better luck with dragging him in here 😄 ).  OmniXaml is of course definitely welcome to this conversation as well.

@guls

[2017-01-26 12:10] gulshan commented on #5766
@Mike-EEE If a format can be deserialized to a POCO, all those features should be working, The properties window in VS appears for non-XAML scenarios as well. But one thing I have concern is, readability without any editor support. In some cases, you have to edit a config file in a remote server, and you only have vim. Compared to JSON, XML(and XAML) is not that great in this regard, IMHO.

But XA

[2017-01-26 12:34] groege commented on #5766
I'd vote for WPF first (so I can finally say good bye to xamarin.froms), then xaml

[2017-01-26 13:37] JonHanna commented on #15464
5. Any negative constant of 32-bits or less throws! (3. above is a subset of this).

I think this one strongly suggests that nothing is actively making use of this feature of runtime binding, if nobody has complained yet. So compat risks are gone, but the argument that the feature just be removed is likewise increased.

[2017-01-26 13:56] JonHanna commented on #15467
There's enough bugs in this that I'm doubtful that anything is making any use of it.

In favour of keeping it and fixing it is that it *could* be used in the future, (if you don't build it, they won't come). Even then though it won't be fully equivalent to folding by a compiler as it can only be done with a single operation, e.g. `3 + 4 + 2` can only be folded to `7 + 2` not to `9`.

[2017-01-26 14:01] Mike-EEE commented on #5766
Correct, but it is not nearly "lit up" like it is for Xaml, with fully customizable editing controls, etc.  Correct me if I am wrong here.  You cannot simply put your cursor on a property in these formats and have a dropdown render for an enum field (for instance).  This experience is basically the next form and version of WinForms, which is part of the reason it is so nice (WinForms is still popu

[2017-01-26 14:02] Mike-EEE commented on #5766
In agreement with you on that aspect @groege. 😎

[2017-01-26 15:04] jnm2 commented on #15490
@davidfowl I'd personally prefer this to at least be an option:

[code]

[2017-01-26 15:23] gkhanna79 commented on #15503
CoreFX product build should not need the Host packages since Core-Setup repo is higher in layering  from CoreFX.

The is an infra issue that needs to be fixed in CoreFX. @weshaggard I am assigning this to you to drive this ahead at the earliest to enable bringup of Arm32 for Linux.

[2017-01-26 15:27] gkhanna79 commented on #15215
I have assigned the issue @hseok-oh created (https://github.com/dotnet/corefx/issues/15503) to @weshaggard since we do not need host packages for CoreFX product build.

FWIW, upon doing a managed build using `./build-managed.sh -release -buildArch=arm`, I only see the host resolution errors and not CoreCLR package resolution errors:

[code]

[2017-01-26 16:01] AArnott commented on #15443
Thanks, @jkotas. I don't object to their removal from system.collections.immutable. I suspect I put them there to begin with because at the time I wrote the library originally, I was a Believer in ccrewriter.exe. I'm not any more, so fire away.

[2017-01-26 16:23] gkhanna79 opened #15511 "[arm32/Linux] Make clang 3.6 the default toolset for cross arm32 build"
CoreCLR repo specifies clang 3.6 for cross builds (https://github.com/dotnet/coreclr/blob/master/build.sh#L747) but CoreFX does not (see https://github.com/dotnet/corefx/blob/master/src/Native/build-native.sh).

CC @hqueue @hseok-oh @jyoungyun

[2017-01-26 16:32] tarekgh commented on #15202
@yaakov-h

thanks for your investigation. I am still investigating the issue and already went through the steps you did. I have strong believe that in Sierra the value of ri_proc_start_abstime is not really in nanoseconds and looks in different units but I couldn't confirm that as I couldn't find any documentation talking about the time unit for ri_proc_start_abstime.

regarding getting RUSAGE_INF

[2017-01-26 16:38] TylerBrinkley commented on #15453
Updated the proposal to include some more implementation details.

[2017-01-26 16:47] danmosemsft commented on #15502
@bartonjs @steveharter thoughts?

[2017-01-26 16:52] ericstj commented on #15503
@ellismg is teasing out these things as part of build-from-effort.

As I mentioned in the other thread, it isn't the product build of CoreFx that depends on it, it's test.

[2017-01-26 16:54] gulshan commented on #5766
@Mike-EEE Haven't previously checked out your Data AST proposal. Yes, it is conceptually similar to the default serialization / object notation proposal for .net. The idea is hard to understand because of its abstractness. 😄

Regarding XAML, a .net-based strongly typed data serialization format will alleviate need for many XAML markup extensions. Yet there will remain some, which cannot be initial

[2017-01-26 17:14] weshaggard opened #15513 "Test failures from running Ubuntu in Docker for windows"
I've been testing out using Docker for windows and loaded up our unbuntu1604 docker image and I'm currently hitting the following issues.

- Init tools fails because of file casing issue https://github.com/dotnet/buildtools/issues/1308. This only happens when you map a windows volume into the docker container. I worked around it locally by commenting out the one mv command in init-tools script htt

[2017-01-26 17:19] tarekgh commented on #15513
CC @ianhays @davidsh @CIPop

[2017-01-26 17:24] weshaggard commented on #7597
It looks like a number of similar failures are occurring when running Ubuntu in docker for windows, see https://github.com/dotnet/corefx/issues/15513.

[2017-01-26 17:26] gkhanna79 commented on #15503
Is there a way to not build tests when product build is issued? Also, wouldnt this circular dependency be an impediment for bringup?

[2017-01-26 17:34] karelz commented on #15513
@weshaggard can you please split it out into 2 issues - Networking and IO?

BTW: @tarekgh for Linux/Mac networking issues, please loop in @Priya91
cc: @steveharter @ianhays as they help with Linux Networking tests right now ...

[2017-01-26 17:34] joperezr opened #15515 "Add support for uap to ConfigurationManager"
When trying to set up the vertical build for uap, I ran into the case where System.Configuration.ConfigurationManager can't build for UAP anymore because it added two dependencies that today aren't supported on UAP: `System.CodeDom` and `System.Net.WebClient`. From an initial look, it seems that the WebClient assembly could potentially be supported on UAP as well, but that is not true for CodeDom.

[2017-01-26 17:37] ericstj commented on #15503
Yes, in fact its the default when running ./build.sh.  Its just blocking right now if it can't find the host package, but that can be safely ignored if you aren't running tests.  I want to make it clear that there's a workaround here already and folks shouldn't be blocking progress on this.

@gkhanna79 that depends on when you run the tests.  Suppose you've run them after you've built the entire v

[2017-01-26 17:47] eerhardt opened #15516 "ZipFile no longer sets the "x" permission when extracting an archive"
When running 'dotnet restore' using a CLI that runs on .NET Core 2.0, the execute permission is no longer getting set on the host executable. This is a blocking issue because it means anyone trying to run a self-contained app using the 2.0 CLI will not be able to execute their apps without chmod'ing the published executable.  This is a regression from 1.0.

Steps to repro:

1. Download the followi

[2017-01-26 17:47] eerhardt commented on #15516
/cc @ianhays

[2017-01-26 18:01] stephentoub commented on #15516
https://github.com/dotnet/corefx/issues/13342
https://github.com/dotnet/coreclr/pull/7995

[2017-01-26 18:03] stephentoub commented on #15516
Also:
https://github.com/dotnet/corefx/issues/10223
https://github.com/dotnet/corefx/issues/14853

[2017-01-26 18:05] ellismg commented on #15513
For the ping issue specifically, do you have 'ping' installed in whatever container image you are using?

[2017-01-26 18:18] weshaggard commented on #15513
I didn't do anything but use our pre-canned docker images we use for our official builds. So if that is what is missing then I will ask @chcosta to include that.

[2017-01-26 18:22] weshaggard commented on #4278
@tintoy I'm not sure what that error is specifically but we generally don't need ProjectReferences in our new engineering system. For the test build we always build and reference the full targeting pack, in this case produced in `bin\ref\netcoreapp`. The library that is put into that directory is what you build from your ref folder which is currently empty. So to get yourself going you need to gen

[2017-01-26 18:36] mellinoe commented on #1642
Sure!

I'll try to give you an updated set of instructions to use to repro this. Since this was filed so long ago (almost 2 years), we're not even sure if it still repros. Chances are it still does, though, because none of us run the tests in a Ukrainian environment as far as I know.

Steps:
* Clone repo
* Run `build.cmd`
Run `build-tests.cmd -- /p:Outerloop=true`

If you then want to repro the in

[2017-01-26 18:37] mellinoe commented on #1642
@karelz I think we need to add @dennisdietrich to the "Contributors" group before I can assign him any issues. How do we do that, again?

[2017-01-26 18:38] schaabs commented on #15472
@sepidehMS the issue with the command mentioned above is not a permissions issue you don't need root permissions to write to /proc/self/coredump_filter as the current process owns it.  The issue is the duplicated echo command.  My guess is that this line is intended to write out the intended command to the console and should instead be:

    echo "echo 0x3F > /proc/self/coredump_filter"

or if thi

[2017-01-26 18:43] karelz commented on #1642
Invitation sent (you need super-powers in dotnet org to make it happen).
@dennisdietrich please ping me here, when you accept and I will assign it to you.

[2017-01-26 18:44] mellinoe commented on #15513
I just checked the ubuntu1604_prereqs image and it doesn't have ping installed.

[2017-01-26 18:54] dennisdietrich commented on #1642
Thanks @karelz! Done.

[2017-01-26 18:59] MattGal commented on #15472
Chatted with @schaabs  and I think I understand this fairly well.  I think the simplest solution would be to nerf the word "echo" in lines today, either by removing it or replacing it with something that means nothing.  Alternatively, stripping all quotation from the lines to be echoed, then wrapping them with "" would also nerf the behavior.

[2017-01-26 19:03] steveharter commented on #15421
I will debug locally on win7 in a few minutes and report back

[2017-01-26 19:05] tintoy commented on #4278
Ok, now I get it now; the reason I see no types in the test project is because the ref project has no types yet :-)

[2017-01-26 19:06] tintoy commented on #4278
@weshaggard if you don't have time, I can probably work out how to do that; I was just reading about that tool the other day.

[2017-01-26 19:10] JeremyKuhne commented on #15515
I'll move it today.

[2017-01-26 19:11] steveharter commented on #15502
Hmm that ```capacity``` parameter is only a 'hint' according to doc, and thus may not throw. Is this random? I'll see if I can repro locally

[code]

[2017-01-26 19:17] gkhanna79 commented on #15215
@ericstj @weshaggard I pushed a change to https://github.com/gkhanna79/corefx/tree/LinuxArm32 that I used to build packages for Arm32 that forces CoreCLR packages to be restored for x64, based upon suggestion from @ericstj above, that appears to have worked.

If this looks good to you, I will create a PR for this so that pipeline build infra can build CoreFX for Arm32 as well.

[2017-01-26 19:25] weshaggard commented on #4278
I quickly ran the genapi tool and pushed that commit https://github.com/weshaggard/corefx/commit/29cf289f3e007fd4b13b191866ae848d99dec67e. Feel free to take that or regenerate it yourself. You will need to add ProjectReference's to other refs to get it to compile.

[2017-01-26 19:26] tintoy commented on #4278
Cheers - that'll save me time, much appreciated.

[2017-01-26 19:39] tintoy commented on #4278
@weshaggard success! Thanks, hopefully we can get onto writing those tests now :)

[2017-01-26 19:40] tintoy commented on #4278
(tintoy@dd834c63af4fe40faf84bc6a776b474ec9947eb1, just ignore the duplicate)

[2017-01-26 20:03] ericstj commented on #15515
@weshaggard I wonder if there is a better home for "TempFileCollection" seems a little odd for that type to live in CodeDom.  Has CodeDom had an API review?

[2017-01-26 20:03] gkhanna79 opened #15519 "[arm32/Linux] Remove workaround to prevent arm package restore"
In https://github.com/dotnet/corefx/pull/15518, we restore packages for x64 (instead of arm) since Arm host packages are not yet available (CoreFX has a cyclic dependency on upstack repo for this).

Once Core-Setup publishes packages for Host for Linux Arm32, https://github.com/dotnet/corefx/pull/15518 should be reverted.

CC @weshaggard @ericstj @hqueue @jyoungyun @hseok-oh

[2017-01-26 20:06] dagood commented on #15427
About auto-upgrading a checked-in bootstrap script: the new work is straightforward. We just need a new type of upgrader in VersionTools that can look at build-info to find out the last-built BuildTools SHA and download the current bootstrap scripts.

That leaves that idea with dependencies on known TODOs. Setting up BuildTools to publish to dotnet/versions is in the current sprint, but publishing

[2017-01-26 20:11] xcasper commented on #8259
@ericstj That response solved my problem. I encountered this issue on a brand news forms project when trying to follow https://developer.xamarin.com/guides/xamarin-forms/web-services/consuming/rest/ .

[2017-01-26 20:47] #12778 closed

[2017-01-26 20:51] corivera opened #15521 "System.Data.SqlClient: "Function not supported" error thrown when using encrypted async connections over Named Pipes or Shared Memory"
Only affects Windows.

Issue created for 1.1.0 servicing.

[2017-01-26 20:54] JeremyKuhne commented on #15515
Yeah, it is a bit unfortunate placement. https://msdn.microsoft.com/en-us/library/system.codedom.compiler.tempfilecollection.aspx

[2017-01-26 20:59] ericstj commented on #15515
Yeah, namespace wise for sure, but we could put it in a different assembly.  We've done so for other stuff.  https://github.com/dotnet/corefx/blob/d99742ff04672f1838c6e6f3ceadd201461ec573/src/System.Runtime/ref/System.Runtime.cs#L3513

Would like @weshaggard to weigh in since it'd have NETStandard implications.

[2017-01-26 21:22] gkhanna79 commented on #15215
With https://github.com/dotnet/corefx/issues/15518 merged, we should be able to perform a managed build @hseok-oh.

[2017-01-26 21:23] gkhanna79 commented on #15215
I will close this since the issue is addressed. Please reopen if you run into any problems.

[2017-01-26 21:23] #15215 closed

[2017-01-26 21:41] huanwu opened #15523 "SoapEncodedSerialization doesn't work for the included type"
Refer the sample code below, which doesn't work. It failed in WriteReferencedElement method because the returned entry is null for type MySpecialOrder.  The _typeEntries only contains the entry for the type of MyOrder. The entry was added in the list in the method EnsureXmlSerializationWriteCallbackForMapping, which just call AddWriteCallback for the type MyOrder. It need call this callback method

[2017-01-26 21:43] corivera commented on #15521
CC @saurabh500

[2017-01-26 21:44] weshaggard commented on #15515
We haven't had an API review for CodeDom. I don't know much about TempFileCollection but if it isn't related to CodeDom (outside of namespace) then we could move it into one of the file system libraries.

[2017-01-26 21:50] ericstj commented on #15515
If we move it to FileSystem are we making any commitment to it being in a future version of NETStandard?

[2017-01-26 21:53] weshaggard commented on #15515
Not necessarily, but we should probably consider adding it.

[2017-01-26 22:04] weshaggard commented on #15427
The more I think about this the more I like the idea of an auto-updating script over requiring every clone or build to hit the network each time to pull down a script. The more networking we can eliminate from our normal builds the better.

Davis can you add a something to the engineering backlog to add the necessary support for publishing files that can be consume directly in other repo's via an

[2017-01-26 22:06] huanwu opened #15525 "Need implement ArrayMapping in SoapEncodedSerialization"
Currently, it will throw PlatformNotSupportedException if it is ArrayMapping in SoapEncodedSerialization.

[2017-01-26 22:13] #12943 closed

[2017-01-26 22:13] steveharter commented on #15421
I was able to repro the failures on both win10 and win7 when I run the tests as local Administrator, which makes sense as that is not a domain account. When I run as myself, the tests pass. Do we run as different users based on test platform \ infra?

[2017-01-26 22:14] tintoy commented on #4278
Yep! Have a working test:

https://github.com/tintoy/corefx/commit/24864b3d25e665b6305f116890328527db07f1e1

Thanks for your help, @weshaggard!

PS. I had to locally override (via `.user` file) the executable path under the test project properties (Debug tab). Was `D:\Development\github\tintoy\corefx\Tools/testdotnetcli/dotnet.exe` but only worked when I changed it to `D:\Development\github\tintoy

[2017-01-26 22:18] weshaggard commented on #4278
My VS doesn't complain about the slashes. The path separators are generally a pain because we are trying to make things work on both windows and unix, so we end up seeing a bunch of mixed slashes on windows which is generally more accepting then unix.

[2017-01-26 22:23] tintoy commented on #4278
Just out of curiosity, which version of VS are you using? 2015 or 2017? Perhaps it's been fixed in 2017 :)

[2017-01-26 22:24] tintoy commented on #4278
(I'm usually on OSX or Linux these days, so I totally appreciate the effort to make things cross-platform friendly, BTW)

[2017-01-26 22:41] steveharter commented on #15502
I can repro the test failure (no OutOfMemoryException) on win10; recent change with coreclr (spanof<T>)?

Here's the alloc that should be causing OOM exception: https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/System.Security.AccessControl/src/System/Security/AccessControl/ACL.cs#L437 where ```capacity``` is Int32.MaxValue / 2

In either case, trying to force an O

[2017-01-26 23:18] chadwackerman commented on #11100
It is currently taking five to seven minutes for this page to return a result:
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Net.Http

Why is Microsoft outsourcing vital infrastructure to these shady little companies and stupid little sites? You're really choosing to pin your business AND my business on a company in Belgium called Tech Tomato?

Anyway... I already had a myget feed

[2017-01-26 23:55] Trolldemorted commented on #13619
Now i included said library into a Xamarin project (which i converted to .NETStandard according to [this guide](https://xamarinhelp.com/dot-net-standard-pcl-xamarin-forms/)), compiling works fine but when i run the UWP app the same error happens for `System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a`.

The Xamarin project(s) don't have an app.config - what should i

[2017-01-27 00:10] #14961 closed

[2017-01-27 00:12] karelz commented on #10627
I assume it was fixed by #15315.

[2017-01-27 00:12] #10627 closed

[2017-01-27 00:13] dennisdietrich commented on #1642
@mellinoe, quick question (I'm sure this is documented somewhere but I can't find it): What about line endings? Should they be Windows or UNIX-style/what value is preferred for core.autocrlf?

[2017-01-27 00:24] iancooper commented on #6024
Topshelf is a fantastic product, and I have used it a lot in the past, but of course it's not x-platform. For an x-platform server app deployed into a container like Docker, just using a console app is a more likely, with the container configured to auto-restart. If I had to use a mechanism to keep it up and running outside of a container I would use something like Task Scheduler on Windows or Sys

[2017-01-27 00:36] weshaggard commented on #4278
I'm using VS 2015 on Windows 10 and opened the solution and could F5 to debug the tests and my debug path is `D:\git\corefx\Tools/testdotnetcli\dotnet.exe`

[2017-01-27 00:41] tintoy commented on #4278
Ok, I must be going crazy - now I can't reproduce it either!

Beforem it complained about not being able to find `dotnet.exe`, but it started working when I explicitly set the executable to a path with backslashes only. I just removed the `.csproj.user` file and it _still_ works, so who knows :-o

[2017-01-27 01:03] mellinoe commented on #1642
True, I believe. TBH I've never actively thought of this; we use the default as far as I know.

[2017-01-27 01:53] RussKeldorph opened #15533 "System.Linq.Expressions.Tests.CompilerTests.CompileDeepTree_NoStackOverflowFast causing BCL assert in System.Threading.Thread"
Specifically, corelib is unhappy with [this](https://github.com/dotnet/corefx/blob/88d8bbf7dbf5869b7f239737779e75295e43ef95/src/System.Linq.Expressions/tests/CompilerTests.cs#L45) line.  Per [this](https://github.com/dotnet/coreclr/blob/a928a37a1503871b5da5c80f74fe54b9f937ddc3/src/mscorlib/src/System/Threading/Thread.cs#L431) line, CoreCLR only supports the default stack size.

Whether this should

[2017-01-27 01:55] CarolEidt commented on #15309
@stephentoub I have merged my fix. I successfully ran the corefx tests on CentOS with that change.

[2017-01-27 02:29] JonHanna commented on #15533
Also, that test certainly seemed to be doing what it should when it was put in, in that it triggered the stack-overflow handling faster than the outerloop equivalent that uses the default stack. Is that assertion bogus?

[2017-01-27 02:40] terrajobst commented on #15023
@vancem

Your proposals sound reasonable. Could you update the proposal on the top to reflect these adjustment? I think we can close on this without a meeting.

@dotnet/fxdc: any concerns?

[2017-01-27 03:03] lmolkova commented on #15023
@terrajobst

Proposal is updated, as well as  PR #15103 in case you want to take a look.

[2017-01-27 03:11] terrajobst commented on #15023
@karelz , please update to api-approved unless someone else from @dotnet/fxdc pushes back.

[2017-01-27 03:20] karelz commented on #15023
Done. If there's pushback in next couple of days, we can revert it.

[2017-01-27 04:07] #15511 closed

[2017-01-27 04:38] chadwackerman commented on #11100
5 hours later and I'm still unable to try this patch:

[code]
Five minutes later...

[code]

.NET is a tire fire.

[2017-01-27 04:58] PureKrome commented on #11100
Easy-up there @chadwackerman . You've _opted in_ to their beta/alpha/non production feed so this means you're ready to except problems, etc. That said, I've been using myget for ages now (paid subscription) and have very very little issues with it. So maybe .. just maybe .. it might be your computer/net-connection/whatever? (I've had some real great wins using MyGet over the last 12+ months).

.NE

[2017-01-27 05:06] jahmai commented on #11100
@chadwackerman It looks like the myget feed suffering right now. I'm not 100% sure how myget works, but I think if you have a dedicated host ("dotnet.myget.org") then the feeds are actually tenanted and have QOS limits.

Going here shows the package exists, but it takes a while to come up: https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Net.Http

[2017-01-27 05:10] stephentoub commented on #15309
Great; thanks, Carol.  We'll re-enable the tests and close this when they're passing in CI.

[2017-01-27 06:00] chadwackerman commented on #11100
@PureKrome I'm an ex-Microsoft dev manager who was asked to check this build (see above). After personally escalating this bug internally because nobody in the .NET team was even aware of it. And now they can't manage to ship me a damn binary.

I know a tire fire when I see one. I used to put them out for Microsoft for a living.

[2017-01-27 08:49] SetTrend opened #15542 "System.Diagnostics.DebuggerStepThroughAttribute should be available on properties"
During my debugging sessions I don't want to accidentally step into some casting-only properties I have created.

This is particularly true for getter-only properties which simply encapsulate some object mapper's GetService() calls.

Can we have the `System.Diagnostics.DebuggerStepThroughAttribute` (and similar attributes in vicinity) work on properties, please?

[2017-01-27 09:52] davkean commented on #15023
Why DateTime over DateTimeOffset? Then no explicit "ask" for Utc is required.

[2017-01-27 11:34] #15533 closed

[2017-01-27 12:28] cwe1ss commented on #15023
I still have many concerns with the current proposal.

Please keep in mind that .NET is a baby in the distributed tracing world and interoperability should therefore be a main concern. What if a Go client wants to call a .NET web API? By hard coding keys like "x-ms-*" into core parts of the .NETframework you make this a proprietary solution that has little to no value for any mixed-tech company.

[2017-01-27 12:39] cwe1ss commented on #15023
IMO DateTime is better. There's no point in tracking time zones. Timing should always be in UTC. Ideally (IMO), the code would throw if `Kind != Utc`.

Fyi, I looked into this topic in (a lot) more detail in https://github.com/opentracing/opentracing-csharp/issues/4

[2017-01-27 14:42] solomon87 commented on #4278
Hey guys, I'd love to get involved in helping to write tests. What can I do to get started contributing?

[2017-01-27 15:03] SandeepApsingekar commented on #9213
Hi Sravan,

I'm also working on the same thing, I would like to know if you have completed your task. i'm also stuck in the same place where you were.  I would really appreciate if you can help me out with this issue. If you can give me a reference of how you solved it.

Thank You!

I look forward for your response.

Best regards,

Sandeep

[2017-01-27 15:11] SandeepApsingekar opened #15549 "How to make httpclient call from the client to the server using .net core"
Hello Everyone,

I want to make some httpclient calls to the server using .net core. I would really appreciate if anyone can provide me any reference or an idea how to do it it will be really helpful.

Using .net framework it's not a problem, but using .net core I don't understand what will be the best way to go.

To be more specific about my question, I would generalize it: That is,

I want to ma

[2017-01-27 15:46] SvenAelterman commented on #11100
@chadwackerman I can understand your frustration with the issues with the feed. However, the name calling ('stupid little sites' and 'shady little companies') is out of order.
Tech Tomato is founded/run by qualified individuals: @maartenba, MVP awardee by your former employer, and @xavierdecoster, current MS employee; in a country (which I am partial to) that encourages innovation. The name of the

[2017-01-27 16:14] skyhoshi opened #15550 "HostingEnvironment.MapPath Behaves differently in VS 2017 (different MSBuild) than in VS 2015"
Both sessions in DEBUG of a ASP.NET API Project running .NET Framework 4.6.1.

Method in Question: HostingEnvironment.MapPath("~");
We were running the method inside the WebApiConfig.cs class (Class name is the same without the .cs) under the method "Public static void Register(HttpConfiguration config)" Method.

Expected Output (as in VS 2015):
"Root:\path\to\folder\" (without quotes)

Result in

[2017-01-27 16:53] karelz commented on #15023
@cwe1ss thanks for offer of help - I let @vancem @lmolkova comment if they can wait until 2/20 for deeper discussion.
The good news is that before we ship publicly (in 2.0), we can change our mind on API shape, implementation, etc. If we don't believe we have final API shape, we can always back out the API surface before shipping. The only question is how it affects @lmolkova's deliverables and sc

[2017-01-27 16:56] chadwackerman commented on #11100
This repository features a Contributor Covenant that solicits donations for a GitHub employee's gender transition. So I think Microsoft's got the diversity thing sufficiently covered even without routing beta bits through Belgium.

When you let the tools rot (this whole bug actually flows downhill from a missing feature in Roslyn), when you build atop goofy little services that don't scale and cle

[2017-01-27 16:57] karelz commented on #13481
Are we ready to close the issue now that we have it in 2.0?

[2017-01-27 17:00] karelz commented on #4571
@saurabh500 @YoungGah ping?

[2017-01-27 17:20] vancem commented on #15023
I agree with @cwe1ss.   I believe it is standard in the server world to use UTC uniformly.   This is because it is SIMPLE (the notion of a point in time, independent of where you are) and EFFICIENT (smaller, less logic).   DateTimeOffset makes much more sense when you are interacting with humans (who want their time in the local zone.   Thus it would make sense for the DISPLAY tools, but not reall

[2017-01-27 17:40] Kwal commented on #11100
@chadwackerman you former position in the company does not entitle you to bash anyone or engage in name calling. In addition, the vast majority of your 'contributions' to this thread have not only been unconstructive but petty, childish and off topic. Please troll elsewhere.

[2017-01-27 18:44] ellismg commented on #15503
FWIW, I think this is something we'll want to do long term.  The fact that it lives in core-setup which is primarily focused on actually building a shipable product is an artifact about how the repositories and product evolved, not something we intentionally wanted, IMHO.  I think we also have some circular dependencies between CoreFX and CoreCLR today and I'd like to figure out a way to solve tha

[2017-01-27 18:49] joperezr commented on #15101
cc: @rahku do you mind taking a look?

[2017-01-27 18:52] joperezr commented on #9294
@tarekgh Is this something we have decided to take?

[2017-01-27 18:55] joperezr commented on #4928
@AlexRadch are you still interested in working on this? Looks like you got some feedback on the open PR.

[2017-01-27 18:56] tarekgh commented on #9294
@joperezr Yes I am going to work on the proposal next week and then will mark it as ready for review.

[2017-01-27 18:56] joperezr commented on #11299
@kouvel do we still need this for 2.0?

[2017-01-27 18:58] ianhays commented on #15516
This is a result of dotnet/coreclr#7995 changing the default filestream file permissions which we use in ZipFile/ZipArchive when extracting.

We aren't going to want to modify the default permissions specifically for ZipArchive, so working around it in CLI seems preferable. Alternatively we could implement either https://github.com/dotnet/corefx/issues/10223 or https://github.com/dotnet/corefx/iss

[2017-01-27 18:58] kouvel commented on #11299
It's cleanup work relevant to the ns2.0 work but not anything required for ns2.0

[2017-01-27 18:59] joperezr commented on #15329
@KrzysztofCwalina is this ready for review?

[2017-01-27 18:59] mmaguigan-dti commented on #12388
I am hopeful that I am just asking a very stupid question in this - I admit, I haven't put much effort into researching this - but how exactly does one generate a new 2048 bit (or other key size) RSA key in a cross-platform manner without littering their code with pre-processor directives?

[2017-01-27 19:01] ianhays commented on #15502
I agree. The tests may have passed when I ported them last year, but an OOM from the constructor isn't something we should even be testing in this case, **especially** not in an innerloop test.

I'll push a PR shortly to remove the OOM checks.

[2017-01-27 19:06] krwq commented on #15542
Hi @SetTrend

I just tested this and this scenario works correctly.

Are you sure you are applying the attribute correctly? (custom attributes for properties might be slightly confusing - you might want to add a suggestion for simplified syntax on dotnet/roslyn)

Here is what I'm doing (tested with VS 2017 RC)
[code]

also you might want to check the setting: Options->Debugging->Step over properti

[2017-01-27 19:06] joperezr commented on #15279
@stephentoub have you seen this failure again? if not then perhaps it was the verion of coreclr that we were using and we can just close this.

[2017-01-27 19:11] JeremyKuhne opened #15554 "System.Configuration needs more test coverage"
#13481 ported the code for System.Configuration to facilitate porting existing .NET code. Test coverage is relatively sparse as this effort was meant to be demand driven. Adding additional tests (unit and scenario) is a good opportunity to get one's feet wet in CoreFX.

`ConfigurationPermission` is the only class that wasn't ported (Code Access Security isn't supported in CoreFX). The only known n

[2017-01-27 19:12] JeremyKuhne commented on #13481
Closing this one- our initial work is done. I've created a future task for improving the test coverage.

[2017-01-27 19:12] #13481 closed

[2017-01-27 19:13] nietras commented on #15279
Also see https://github.com/dotnet/corefx/pull/15434 although test should work with correct coreclr and enough memory.

[2017-01-27 19:15] karelz commented on #4928
I haven's seen any reply from @AlexRadch in last 1.5 months ... unassigned, hence switching back to "up for grabs" - whoever wants to grab it, please do so.

Consider using the closed PRs above (esp. https://github.com/dotnet/coreclr/issues/8615) as a starting point for future work.

[2017-01-27 19:19] tintoy commented on #4278
Great - I think we might be at the stage now where we can start doing that :)

Let me check with a coworker to see if he's successfully run his first test...

cc: @anthonylangsworth

[2017-01-27 19:29] danmosemsft opened #15555 "Remove test attributes only necessary for running on older CoreFX versions"
Remove these
`[SkipOnTargetFramework(TargetFrameworkMonikers.Netcoreapp1_0]`
`[SkipOnTargetFramework(TargetFrameworkMonikers.Netcoreapp1_1]`

We do not have plans to run the CoreFX tests against older versions of .NET Core so these are unnecessary and we should remove them all.

We still need the versionless one `[SkipOnTargetFramework(TargetFrameworkMonikers.Netcoreapp)]` where a test only passes

[2017-01-27 19:59] ianhays commented on #15502
https://github.com/dotnet/corefx/pull/15557

[2017-01-27 20:05] #1690 closed

[2017-01-27 20:26] rahku commented on #15101
These tests depend on framework assemblies to be present in AppContext.BaseDirectory. This is no longer the case now.
For the second test fix would be to replace AppContext.BaseDirectory with the path to FX dir at this code    https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Loader/tests/DefaultContext/DefaultLoadContextTest.cs#L40

Fix for the first test would be to either pass ful

[2017-01-27 20:28] martinwoodward commented on #11100
Hey folks - Martin from the .NET Foundation here, wanted to explain [this](https://github.com/dotnet/corefx/issues/11100#issuecomment-275715117).

I fully appreciate that the original issue raised by this thread is frustrating and that people want it fixed. I also understand some of the wider concerns around quality and delivery and the strength of feeling in general. The team is working on resolv

[2017-01-27 20:54] weshaggard commented on #15421
Yes this is the same issue as https://github.com/dotnet/corefx/issues/15436. We need to disable these for running under admin or get the account a different way.

[2017-01-27 21:04] ddrinka opened #15560 "DeflateStream fails to return final byte of decompressed data"
When decompressing certain data, reading from a DeflateStream byte-by-byte fails to return the final byte, whereas reading two or more bytes at once succeeds.

Here is a repro:
https://github.com/ddrinka/DeflateStreamBug
[code]

This issue appears resolved in netcoreapp1.1, but I have verified it exists in 1.0.0-1.0.3.  Net452 does not exhibit the issue.

[2017-01-27 21:33] JonHanna commented on #15555
`System.Tests.StringTests.Join_ObjectArray_WithNullIssue` fails in CI if `[SkipOnTargetFramework(TargetFrameworkMonikers.Netcoreapp1_1]` is removed.

[2017-01-27 22:10] weshaggard commented on #15555
@JonHanna some of the tests like those might need to be changed to use the version-less one as in it should have been `[SkipOnTargetFramework(TargetFrameworkMonikers.Netcoreapp)] `.

[2017-01-27 22:12] weshaggard commented on #1598
After the recent engineering changes we now use a shared runtime folder for our tests so closing this.

[2017-01-27 22:12] #1598 closed

[2017-01-27 22:12] weshaggard commented on #3206
@joperezr added x86 support for our test runs fairly recently so that is supported now so closing this issue.

[2017-01-27 22:12] #3206 closed

[2017-01-27 22:15] weshaggard commented on #5980
@cartermp did you ever get to chat with the windows folks about this? My suspicion is that we will not have support for this and if you agree feel free to close this issue.

[2017-01-27 22:15] dennisdietrich commented on #1642
@mellinoe, the good news (I guess) is that I can repro the issue. Unfortunately, so far I'm unable to build System.Runtime.Numerics.sln in VS (trying to get help on Gitter).

[2017-01-27 22:18] weshaggard commented on #10990
After our recent engineering changes we now produce a flat layout folder with the full runtime and corefx bits in it under `bin\runtime\netcoreapp-*` example: `bin\runtime\netcorea-Linux-Debug-x64` that directory can be used for this purpose now.

[2017-01-27 22:18] #10990 closed

[2017-01-27 22:19] onovotny commented on #5980
I think this will be addressed by implementing https://github.com/dotnet/sdk/issues/491. The fix there is to import the specific `LanguageTargets` used by the UWP targets, namely the `WindowsXaml` targets. With that imported, UWP builds will work correctly.

[2017-01-27 22:20] JonHanna commented on #15555
Ah that makes sense. It's the only one set for skipping that target, so maybe it got missed in a previous sweep for that.

[2017-01-27 22:23] weshaggard commented on #15503
@hseok-oh @gkhanna79 what are you guys looking for with this issue? Would a command line option to build.sh/cmd that disables the restoring of external packages and setup of the test layout be enough?

[2017-01-27 22:35] weshaggard commented on #14203
With our latest toolchain and packages which support assembly level conflict resolution this shouldn't be an issue any longer.

[2017-01-27 22:35] #14203 closed

[2017-01-27 22:36] weshaggard commented on #14321
@mellinoe correct me if I'm wrong but I think you completed this work.

[2017-01-27 22:38] weshaggard commented on #14587
Done with https://github.com/dotnet/corefx/pull/14945.

[2017-01-27 22:38] #14587 closed

[2017-01-27 22:45] karelz commented on #15550
`HostingEnvironment` is ASP.NET class - if it is about ASP.NET Core, please look at ASP.NET Core repo.

[2017-01-27 22:45] #15550 closed

[2017-01-27 22:46] mellinoe commented on #14321
Yeah, it's done.

[2017-01-27 22:46] #14321 closed

[2017-01-27 22:47] mellinoe commented on #14671
based on a /ds log, they are building in parallel just fine. There are still some performance differences which are more-or-less understood at this point. We've tackled some of them and there are more to be tackled still.

[2017-01-27 22:47] #14671 closed

[2017-01-27 23:01] danmosemsft commented on #15555
Do you want to replace that last one  `[SkipOnTargetFramework(TargetFrameworkMonikers.Netcoreapp1_1)]` so we can close this?

[2017-01-27 23:08] #13842 closed

[2017-01-27 23:23] JonHanna commented on #15555
Yep. Chores got in the way of doing it sooner.

[2017-01-27 23:32] weshaggard opened #15566 "GenerateThisAssemblyCS.targets file should be removed"
cc @saurabh500

We should either completely remove the GenerateThisAssemblyCS.targets (https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/GenerateThisAssemblyCs.targets) file or if we really need the functionality it should be merged into our Assembly information generation (https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/versi

[2017-01-27 23:49] #15555 closed

[2017-01-28 00:17] danmosemsft commented on #15555
Thanks @JonHanna !

[2017-01-28 00:25] #15414 closed

[2017-01-28 00:36] marek-safar commented on #14235
Any update on this? There is still no correct nuget available for Xamarin TFM.
Will the updated version also contain enhancements from CoreFX/CoreCLR ValueTuple ?

cc @mhutch

[2017-01-28 00:47] saurabh500 commented on #15566
Why should it be removed?

[2017-01-28 00:49] weshaggard commented on #15566
Because it is not following the build structure we have with the rest of corefx. We should be avoiding custom targets like this just floating around the repo unless there is a good reason. For this case we already have a set of targets that generate similar information so we should merge these if this is truly needed.

[2017-01-28 00:58] karelz commented on #15566
@weshaggard one area path please :)

[2017-01-28 01:20] tofutim opened #15570 "Could not load file or assembly 'System.Security.Cryptography.Algorithms/Primitives"
When calling encryption functions (such as Aes) from a .NET 4.6 test library, there are no problems. However, if the encryption calls happen inside of a netstandard13 which is then referenced by .NET 4.6 test library or .NET 4.6 console, I get:

#### Net 4.6 library calling netstandard13 function calling Aes (NUnit 3.6 in NCrunch)

#### Net 4.6 library calling netstandard13 function calling Aes (n

[2017-01-28 01:24] cartermp commented on #5980
@weshaggard No, I haven't.  Honestly I haven't touched this in a long time, since much of what we had initially planned was dependent on project.json.  The general idea of packaging up TPs as NuGet packages is still something I think would be great, but at this point I'm not sure what the priority is on that.

[2017-01-28 01:28] mj1856 commented on #11897
I've completed this work.  The package is on Nuget as `TimeZoneConverter`, and it targets .NET Standard 1.1.

https://github.com/mj1856/TimeZoneConverter

Example usages in the readme, including one to get a `TimeZoneInfo` regardless of which platform you're on or which flavor of time zone you have.

[2017-01-28 02:06] tintoy commented on #4278
@karelz,

@anthonylangsworth and I have [started writing tests](https://github.com/tintoy/corefx/tree/feature/xml-crypto/tests/src/System.Security.Cryptography.Xml/tests); I'm aware that we haven't reached common agreement on what needs to be tested but we're going to kick off anyway and then port the tests over to wherever we agree to do the work.

[2017-01-28 02:07] TylerBrinkley commented on #15453
@danmosemsft I've updated the proposal to include more details about the new API defined.

[2017-01-28 02:07] tintoy commented on #4278
And for those that have volunteered to help with the tests (which is hugely appreciated), we should be in a position to divide up the suggested work early next week :)

[2017-01-28 02:18] jamesqo opened #15573 "API Proposal: Adding public ArrayBuilder<T>"
## Background

It's very common to use a `List<T>` as a local variable, `Add` to it a couple of times, and throw away the list after the method is finished. Doing so incurs heap allocations, not only for the backing vector for the list, but also for the `List<T>` itself since it is a class. It would be great to have a struct alternative to `List<T>` to reduce unnecessary allocations.

## Proposal

[2017-01-28 02:18] jamesqo commented on #15573
/cc @jkotas @KrzysztofCwalina

[2017-01-28 02:52] jnm2 commented on #15573
I was just going to ask about what you pointed out in the LargeArrayBuilder. How large does the final array have to be before it's more efficient internally for a `StringBuilder`-like approach to be taken? If we build small strings that way, why not small arrays?

[2017-01-28 03:13] jamesqo commented on #15573
@jnm2

There isn't a strict limit, but in the [current implementation](https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Collections/Generic/LargeArrayBuilder.cs#L58) of `LargeArrayBuilder` we switch to buffer-chunking after 8 elements, which is typically around 64 bytes since T is usually a reference type.

`StringBuilder` stores strings contiguously up to 16 characters: https://

[2017-01-28 04:52] karelz commented on #15570
cc: @ericstj if he has ideas ...

[2017-01-28 04:57] karelz commented on #15573
How is it different from `ArrayList`?

[2017-01-28 05:17] jamesqo commented on #15573
@karelz `ArrayList` is non-generic.

[2017-01-28 05:17] stephentoub commented on #15573
Primarily it's a generic struct.

[2017-01-28 08:00] omariom commented on #15573
Is it a builder or a collection?

[2017-01-28 09:17] jchannon commented on #11897
Awesome work. Thank you!!

On 28 January 2017 at 01:28, Matt Johnson <notifications@github.com> wrote:

[2017-01-28 12:46] yaakov-h opened #15579 "MSB3277 on clean build of corefx, macOS"
[code]

macOS 10.12.3 (16D32), corefx commit 5a361ea9.

[2017-01-28 13:51] svick commented on #15453
There already is a proposal for that too: https://github.com/dotnet/roslyn/issues/16271.

[2017-01-28 14:04] #15502 closed

[2017-01-28 14:09] stephentoub opened #15581 "GetLeapMonthTest failing in master on Unix"
The test is currently failing every Unix run with these errors:
[code]

[2017-01-28 14:48] stephentoub commented on #15279
Right, it was suppressed in #15434.  We can close.

[2017-01-28 14:48] #15279 closed

[2017-01-28 14:48] #11570 closed

[2017-01-28 15:56] chadwackerman commented on #11100
Has anyone else tried to contact Tech Tomato? No response to my inquiries.

Here's what it looks like if you try to do actual work sorting out weird build warnings after adding the feed:

[code]
... and so on.

And this link still takes 5+ minutes to show a page:
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Net.Http

That this is a) not fixed yet b) ignored by the community and c

[2017-01-28 16:05] TylerBrinkley commented on #15453
@svick Thanks, I've updated the proposal accordingly.

[2017-01-28 16:15] maartenba commented on #11100
Hi Chad,

That page load time is something we are looking at. The NuGet restore time is not normal. If possible can you reach out to us (MyGet) via support at MyGet.org with mention of your NuGet.exe version in use as well as a trace with the -Verbosity Detailed switch enabled? This will definitely help us in pinpointing any perf issues.

Thanks!

[2017-01-28 16:26] ericstj commented on #15570
It sounds like you are using packages.config in the NET46 project.  In that case, as is always the case with packages.config, you must install all packages in referenced projects to the referencing project.  If you're having issues adding the packages to the net46 project please share more specific details.

[2017-01-28 16:29] chadwackerman commented on #11100
Package Manager Console Host Version 3.5.0.1996

I'll look at getting logs from the command line as Visual Studio goes from rock solid to unstable once I add the myget.org feed. And once an error occurs pulling down a package the whole thing tips over.

![quality](https://cloud.githubusercontent.com/assets/121650/22397995/96f5f3ce-e54c-11e6-8af7-3d8f511a7db0.png)

p.s. @karelz: tire fire.

[2017-01-28 16:48] maartenba commented on #11100
Can you try this command line using the latest (nightly) NuGet.exe from www.nuget.org/downloads?

Exact command: NuGet.exe install System.Net.Http -Version 4.4.0-beta-24913-02 -Verbosity Detailed

This should output all intermediate download actions as well. Thanks!

[2017-01-28 16:49] dennisdietrich commented on #1642
Still stuck trying to build/debug corefx in VS so it's difficult to do a root cause analysis. However, since I can reproduce on the command line I've looked at the stack trace and so far this looks like a legitimate product bug to me (though it is labeled 'test bug'). First of all, the test passes for invariant, en-US, de-DE, and hi-IN. Second, it chokes on trailing 0x20 characters for uk-UA which

[2017-01-28 18:08] chadwackerman commented on #11100
@maartenba:

On the link you sent, "latest" points to https://dist.nuget.org/win-x86-commandline/latest/nuget.exe. That is the version I already have, so I don't think that is a nightly.

I downloaded the nightly package NuGet.CommandLine.4.0.0-rtm-2254.nupkg, ran nuget.exe install on it, and it failed trying to pull down files from myget.org. FYI: 1.5 seconds to return a 404 from dotnet.myget.org

[2017-01-28 18:16] dennisdietrich commented on #1642
N/m. Found this method in FormatProvider.Number so I guess this is by-design and it's interpreting the trailing 0x20 as a trailing group separator. Preparing a PR on the basis of this assumption.
[code]

[2017-01-28 18:19] karelz commented on #1642
Can you provide some details, maybe @weshaggard @mellinoe can help ...

[2017-01-28 18:20] tofutim commented on #15570
Dear Eric,

There is something specifically wrong with 4.3.0. If I install .Algorithms
4.2.0 and .Primitives 4.0.0 I have no problems. This is whether I install
4.3 into my netstandard13 library or not. Please see github sample repo.

Thanks so much!

Respectfully,
Tim

On Sat, Jan 28, 2017 at 8:26 AM, Eric StJohn <notifications@github.com>
wrote:

[2017-01-28 18:22] maartenba commented on #11100
Completely agree, but logs would be very helpful in finding out where the bottleneck lies (whether secondary package host, the client itself, a crazy CDN node, cosmic rays, ...). Will contact you offline to see if we can figure this out. Really appreciate your help in this.

[2017-01-28 18:39] karelz commented on #11100
I have noticed myself that myget.org is pretty slow, but I was able to install the package in question successfully in "reasonable" time.
[code]

We should definitely look into the overall myget.org slowness, but probably outside of the scope of this issue -- it is not typical customer scenario after all. @maartenba where's the best place to discuss that?
Over here (on this particular issue), let'

[2017-01-28 18:44] maartenba commented on #11100
@karelz taking this offline with Chad, will report back here once we figure out what's going on.

[2017-01-28 18:49] tofutim commented on #15570
### Expected
Since both netstandard13 and .NET 4.6 have
System.Security.Cryptography.Algorithms, I expect to be able to

1. Write a function F in a netstandard13 library that calls Aes
2. Reference the netstandard13 library in a .NET 4.6 project
3. Call function F from .NET 4.6 project

### Actual
In fact, the code compiles, but when you run the program it throws an
exception saying that .Algorith

[2017-01-28 19:00] karelz commented on #11100
Background facts:
* myget.org feed is used by daily builds, CI, dev-workflow, etc. So it gets hammered a lot on daily basis. None of these perf problems manifest in those scenarios (when they did in the past we acted on them, because they affected our devs' workflow - we brought 30-60 mins sync times to <5 mins in last few months). My understanding is that it is rare for anyone on .NET team or in

[2017-01-28 19:03] dennisdietrich commented on #1642
Already discussing this with Eric on Gitter (seemed like the better place for figuring this out). Thanks!

[2017-01-28 19:43] chadwackerman commented on #11100
@karelz Yes, I escalated this through internal contacts on that same date 2016/12/9. I'll provide details, emails and the projects I work on privately after your postmortem and we can wrap this up offline. Perhaps in person, perhaps using alcohol.

I since verified that MyGet.org is misbehaving from multiple friend's machines on both the East and West Coasts. Mine is a recent clean install of Visu

[2017-01-28 19:48] jamesqo commented on #15573
@omariom It is both-- it can be enumerated in its own right and used to build arrays. Aside from it being a struct, its' semantics are very similar to that of existing mutable collection types.

[2017-01-28 20:12] omariom commented on #15573
I think people will start using it as a less allocaty `List<T>`.

[2017-01-28 21:08] tarekgh commented on #15202
@stephentoub @Priya91 I heard from @karelz that you are contacts for the non Windows networking issues. on Sierra, there are a couple of net tests are failing for the same reason. what is happening is we are calling gethostname() which will return the current local host name (something like ```Tarek-MacBook-Pro.local``` and then we try to get the host entry info by calling gethostbyname() and pass

[2017-01-28 21:55] the-dwyer opened #15589 "System.IO.FileSystem.AccessControl/tests/FileSystemAclExtensions.cs Set methods throw different exception"
In issue #15375, @JonHanna  recommended submitting an issue to make the exceptions being thrown be consistent.  I would like to do this work if this can be assigned to me.  Thanks, Michael

[2017-01-28 22:20] JonHanna commented on #15589
Yes, these all seem like they should throw `ArgumentNullException` rather than `NullReferenceException`. Is there too big a compat issue to add explicit validation that would do so?

(If there *is* such a compat issue, it would be worth a check to make sure nothing is left half-done before the NRE is thrown).

[2017-01-28 23:42] deinok opened #15591 "Proposal: Cookie and SetCookie Properties in HttpHeaders"
# Proposal:

Add Cookie and SetCookie as Properties in HttpRequestHeaders and HttpResponseHeaders.

    public sealed class HttpRequestHeaders : HttpHeaders
    {
        public CookieCollection Cookie
        {
            get{ ???}
            set{ ??? }
        }
    }

    public sealed class HttpResponseHeaders : HttpHeaders
    {
        public CookieCollection SetCookie
        {

[2017-01-28 23:43] deinok commented on #15591
Closes #15209

[2017-01-29 00:36] karelz commented on #15589
In general: Changing exceptions might be a breaking change. It is also divergence between platforms (.NET Core vs. Desktop vs. Xamarin).
So the key question is: How is the change helping developers? What's the value?
Note: The value should be non-trivial to overweight the risk (which is non-zero).

cc: @JeremyKuhne @ianhays for providing IO specific point of view.

[2017-01-29 00:39] karelz commented on #15591
How are the 3 issues different? They seem all dupes to me. Or is #1611 slightly different?

[2017-01-29 00:50] karelz commented on #15202
cc @steveharter @ianhays

[2017-01-29 01:18] deinok commented on #15591
@karelz #15209 Is a duplicate (This is the proposal of that issue). But #1611 its only a reference to older disscusions

[2017-01-29 01:21] karelz commented on #15591
OK, I'll close the dupe then. How is the older discussion different? Do we expect different / more outcomes from it than this API?

[2017-01-29 01:23] karelz commented on #15209
The API proposal was filed in separate issue #15591, closing.

Note: In future, let's add proposals as replies to the ongoing Design Discussion, no need to create "dupes".

[2017-01-29 01:23] #15209 closed

[2017-01-29 02:01] WinCPP commented on #15374
Hi,

This appears to be isolated piece of work and a pretty straightforward task of cleaning up? If my understanding is correct, can I take this up. Being new, it will help me get familiar with code base and processes.

[2017-01-29 02:04] karelz commented on #15374
Yes, this should be fairly straightforward. I sent you invite for collaborator, let me know when you accept and I can assign it to you ...

[2017-01-29 02:05] deinok commented on #15591
The older one seems targeting ASP. The only thing i propose is to have a property to get and set the cookies in a more easily way. If required, i can give an implementation of this.

[2017-01-29 02:08] Tratcher commented on #15591
CookieCollection is likely not the best API for this, and it doesn't follow the pattern used for any of the other headers.

Proposal: use the same pattern as the other headers as well as add types specific to the different request and response formats, CookieHeaderValue and SetCookieHeaderValue. ASP. NET Core already has implementations for these. https://github.com/aspnet/HttpAbstractions/blob/de

[2017-01-29 02:17] the-dwyer commented on #15579
I pulled down to a new path on my Windows 10 machine this afternoon and I am seeing this error as well.

[2017-01-29 02:25] karelz commented on #4278
Regarding test coverage and which tests we need - @bartonjs had strong opinion on it (as he has most expertise with the type and its troubles on our side). He suggested to write tests by the spec (I mentioned it [above](https://github.com/dotnet/corefx/issues/4278#issuecomment-266604862)).
He will be back from vacation at the end of next week. We should probably discuss details & expectations with

[2017-01-29 02:30] WinCPP commented on #15374
@karelz accepted the invite. Thank you.

[2017-01-29 03:14] jnm2 commented on #4278
My curiosity reached a point which demanded to be satisfied.
https://blogs.technet.microsoft.com/exchange/2004/07/12/why-is-oof-an-oof-and-not-an-ooo/
I feel better now.

[2017-01-29 03:27] karelz commented on #4278
😃 I didn't even know it's so Microsoft specific! Thanks for the enlightenment 😃

[2017-01-29 04:27] jkotas commented on #15573
I think adding this type as .NET Core framework type is problematic:

- Struct builders have usability issues for broad consumption because of it is NoCopy struct, but there is no way to express NoCopy structs in C#.
- Once you add the error handling to make it "good" framework type, half of the performance benefit will be gone. Folks who need the lean and mean implementation would not want to use

[2017-01-29 04:34] tinchou commented on #13035
[First passing test](https://github.com/tinchou/corefx/commit/12df53fb8d579a9a03562bb534818d39fe62473a)! Connecting, selecting and reading seem to be working fine in Windows using the native `odbc32.dll`.

I'm wondering now what a good approach would be for making tests that don't depend on my own environment. Haven't yet looked at how SqlClient does it, but will do on Monday. Anyway, please let m

[2017-01-29 04:40] tintoy commented on #4278
@anthonylangsworth has started sketching out a rough test plan so we at least have something to discuss. Feel free to have a look over it and provide feedback :)

CC: @karelz @steveharter @bartonjs

[2017-01-29 05:30] Aimeast opened #15599 "Add the ArchiveComment property for ZipArchive class"
When we make a zip package, the comment is very important function that we use it very often. The corefx has already implemented it, see the definition `_archiveComment` field at [ZipArchive.cs#L32](https://github.com/dotnet/corefx/blob/a9d5ce3234a890f1f4e64318b23e4bbaf6da1a0f/src/System.IO.Compression/src/System/IO/Compression/ZipArchive.cs#L32), the reader at [ZipArchive.cs#L561](https://github.

[2017-01-29 05:59] karelz commented on #14170
No response for 1.5 months, unassigning the issue - it is again up for grabs, available for anyone to pick it up and finish it. Who's up for it?

[2017-01-29 06:10] karelz commented on #14255
No activity for 1.5 months, unassigning - the issue is back "up for grabs", for anyone to pick it up.
Next steps: Exposed the API in CoreFX and add tests.

[2017-01-29 06:11] karelz commented on #3419
Unassigning the issue - it is "up for grabs" again, available for anyone to pick it up.

[2017-01-29 06:15] karelz commented on #2127
No activity for 1.5 months, unassigning - it is back "up for grabs", available for anyone to pick it up.
Next steps: Expose the API in CoreFX and add tests.

@kzu are you interested to finish it off?

[2017-01-29 06:17] karelz commented on #1271
@ChrisEelmaa are you still working on the issue?

[2017-01-29 06:52] karelz commented on #4805
Let's discuss it in next API review.

[2017-01-29 06:54] karelz commented on #12855
@vcsjones just curious if you're still working on it ...

[2017-01-29 06:54] karelz commented on #13970
@arcs001 are you still working on it?

[2017-01-29 06:55] karelz commented on #11802
@matekm just curious if you were able to make any progress ...

[2017-01-29 06:56] karelz commented on #14376
@mramosMS are you still working on it?

[2017-01-29 06:57] karelz commented on #14447
@jkotas can you remind me where we are with this issue?

[2017-01-29 06:57] karelz commented on #14486
@KrzysztofCwalina ping?

[2017-01-29 06:58] karelz commented on #684
I think this is assigned to @KrzysztofCwalina by accident (for 2 years), unassigning ...

[2017-01-29 06:59] karelz commented on #11715
@clarkis117 any update on your progress?

[2017-01-29 07:01] karelz commented on #12492
Are we ready for API review @AlexGhiondea? (marking so, feel free to undo)

[2017-01-29 07:01] karelz commented on #10421
@maririos @MattGal ping?

[2017-01-29 07:02] karelz commented on #12592
@JeremyKuhne are you still working on it? Or should we flip it back to "up for grabs"?

[2017-01-29 07:05] anthonylangsworth commented on #4278
@karelz @steveharter @bartonjs (or anyone it may concern) What is the policy around using the `InternalsVisibleToAttribute` for tests? There are a lot of `internal` classes within that namespace and getting adequate test coverage may be hard going solely via public methods. However, I appreciate there are other considerations.

[2017-01-29 07:09] karelz commented on #4278
Hmmm, sadly, I don't know - @weshaggard @stephentoub? (question in previous reply)

[2017-01-29 07:19] tintoy commented on #4278
From what I've seen of other code in corefx, the projects in question sometimes include the relevant source files from other projects (although I imagine this will get complicated pretty quickly due to dependency graphs).

[2017-01-29 07:20] tintoy commented on #4278
From memory, `System.Collections.Immutable` uses `[InternalsVisibleTo]`, if that's any help.

[2017-01-29 07:21] tintoy commented on #4278
For example:

https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/Properties/InternalsVisibleTo.cs

[2017-01-29 07:21] tintoy commented on #4278
More generally:

https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=%22assembly%3A+InternalsVisibleTo%22

[2017-01-29 07:45] jkotas commented on #14447
This is fixed now.

[2017-01-29 07:45] #14447 closed

[2017-01-29 09:18] WinCPP commented on #15374
I have done the changes, but I am not able to figure out from developer docs, what to do next i.e. file a review, etc.. Kindly advise.

Also I see that "outer loop" automated tests are failing on few platforms while they are passing on others. I am a bit confused as this was just removal of some code which was already commented... Trying to figure that out what is happening...

[2017-01-29 12:00] mramosMS commented on #14376
Yes, I will work on that the second week of February.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Karel Zikmund <notifications@github.com>
Sent: Sunday, January 29, 2017 12:56:26 AM
To: dotnet/corefx
Cc: Marlon Ramos Moscoso; Mention
Subject: Re: [dotnet/corefx] Span: Override ToString or add debugger viewers to Span<T> and ReadOnlySpan<T> (#14376)

@mramosM

[2017-01-29 12:21] maartenba commented on #11100
Not sure if we should keep discussing this in this thread or open another thread for it. Anyway: status report!

We're in touch with @chadwackerman via e-mail - thanks Chad for the log you sent!

On the "slowness" - preliminary profiling tells us that this is caused by the number of package versions and the impact of that fact on download size for protocol data. For example, some packages require

[2017-01-29 13:55] SetTrend commented on #15542
Interesting ... I'm back at the office on Tuesday. Please let me check. I'll get back immediately then.

[2017-01-29 16:14] deinok commented on #15591
@Tratcher I think it can work, but let me think the benefits and inconvenients of HeaderValue and CookieCollection

[2017-01-29 16:49] stephentoub opened #15609 "build.cmd throws null ref exception trying to get help with -?"
Trying to get help:
[code]

[2017-01-29 16:57] chadwackerman commented on #11100
After hours of experimentation I was able to upgrade to System.Net.Http 4.4.0-beta-24913-01 without crashing Visual Studio. I then tried to upgrade from 24913-01 to 24913-02 and got a proper error instead of a crash.

It's 2017 and updating the nightly build of the core HTTP component for the entire system from "Monday's build" to "Tuesday's build" takes more than five minutes of wall clock time o

[2017-01-29 17:25] richlander commented on #11100
Ya, can you guys please move this MyGet/NuGet problem to a new issue? It has no relationship to the original issue.

@onovotny - You might consider re-opening your issue to. This issue is now super long, so the usability of the issue has been reduced.

[2017-01-29 17:29] chadwackerman commented on #11100
@richlander instead of policing the thread would you instead try to install the fix and report back if it solves your specific issue? Everybody seems to be blocked by this important issue yet people would rather play GitHub ping pong than do the actual work to test the fix.

[2017-01-29 17:42] annemartijn0 commented on #11100
What are the 7 scenarios? Can everyone help?

[2017-01-29 17:50] onovotny commented on #11100
@richlander I'd be happy to re-open an issue, are you just looking for me to clone this one with @karelz's updates? Not exactly sure what the ask is.

[2017-01-29 17:54] JonHanna opened #15611 "Validation of argumentInfo argument to RuntimeBinder.Binder methods"
In debug mode an assertion fails if the `argumentInfo` argument to `Binder.UnaryOperation` or `Binder.BinaryOperation` is null or doesn't have 1 or 2 arguments respectively. This is not however enforced, so the assertion isn't valid.

With either of them, excessive `argumentInfo` members have no effect on the outcome, while too few or if one of them is null causes AooRE or NRE when the callsite's

[2017-01-29 17:55] jamesqo commented on #15609
I just ran into this exact same issue just now! Was just about to raise an issue.

[2017-01-29 18:07] karelkrivanek commented on #11100
My usecase was working with the Azure Storage API, which was last working in 4.0.1-rc2-24027. It looks like this is working now. I've only done a quick test, since it took about 20 minutes to update all the packages in my projects from MyGet.

[2017-01-29 18:11] jamesqo opened #15612 "build-managed -release fails when trying to nuget pack Microsoft.Private.CoreFx.NETCoreApp"
The full log can be found here: https://gist.github.com/jamesqo/2151360517bd4e16981a8d90153bbc48 I've never run into this issue with a debug build yet.

[2017-01-29 18:14] JonHanna opened #15613 "Calling CallSite<T>.Create() with a null binder is accepted."
The result will always throw on use, and the base class's `Create()` throws ANE in such cases. This should probably throw an ANE to catch erroneous calls.

[2017-01-29 18:27] JonHanna commented on #15245
cc: @bartdesmet @VSadov

[2017-01-29 18:30] JonHanna commented on #15245
See also: #13050

[2017-01-29 18:46] jkotas commented on #15245
It was excluded because of layering. Reflection.Emit is not in .Net Standard, so it means that pubic methods that take Reflection.Emit types like MethodBuilder cannot be in .Net Standard either.

[2017-01-29 19:10] chadwackerman commented on #11100
@onovotny Don't reopen it. We've got momentum here and we are inches away from at least a partial resolution. The thread is overwhelming for anyone just joining now, but like any other long-running unresolved issue that reveals deeper issues, it has to be. GitHub sucks for things like this.

I verified that the new binary works compatibly on one local app. No surprise there. I then tried to cut an

[2017-01-29 19:52] Pzixel commented on #15245
@jkotas I see... That makes sense. I think this may be closed, https://github.com/dotnet/corefx/issues/13050 is covering this issue.

[2017-01-29 21:35] willdean commented on #984
I would be happy to help in an effort to get SerialPort (for all its faults) ported to Core, at least on Windows platforms.  Probably 75% of our projects use SerialPort, so if we're ever going to move anything to Core we will either have to write or find a serial port library anyway.  I have a fair bit of experience of the Windows serial port stuff all the way down into the kernel.

SerialPort doe

[2017-01-29 22:53] tarekgh commented on #15202
sorry @karelz looks I mentioned wrong contacts

[2017-01-30 00:26] stephentoub opened #15615 "build failures when building Linux dlls on Windows"
I cleaned my repo and then tried doing:
[code]
and I got a bunch of errors like this:
[code]
cc: @weshaggard

[2017-01-30 00:41] SunnyWar commented on #12492
Concerning the proposal, I've had to write similar code several times and never thought to myself that the Framework should provide it. In my experience, the primary use for something like this is to randomly pick from a range or collection of values and not repeat one until the range or collection of values is exhausted. Given this use-case, the proposed API adds little value.

[2017-01-30 00:50] jahmai commented on #11100
So our scenarios are:

1. A dependant (Raven.Database) package uses WebRequestHandler, which was breaking at runtime as reported in this issue.
2. Our code uses the new HttpClientHandler type and properties.

Previously I tried the binding redirect fixes but that lead to strife, I then ended up using hacks (reflection injection, duplicating and modifying 3rd party code) to work around the issues.

[2017-01-30 01:20] JonHanna commented on #12492
For the case @SunnyWar mentions a shuffle method would perhaps serve better than a random-with-ignore. Fisher-Yates has optimal performance for that and doesn't succumb to bias as some approaches do, but is wasteful if one wants just a few elements from a large potential set (since it's O(n) in space relative to the source range). It's possible to use a variant with a `Dictionary<int, int>` as the