[2019-01-03 19:48] safern commented on #15814
I think arcade's -test option from looking at the code, what does is calling the underlying project with `/t:test` so for not special repos, that will cause the tests to just run, and I think that is the intention of that option.

However in corefx, the underlying project that is called is `build.proj` which overrides the test target, and calls `src\tests.builds` which is the one that always build

[2019-01-03 19:51] tarekgh commented on #33965
thanks @wfurt

[2019-01-03 19:52] ViktorHofer commented on #34149
Sorry for my late reply, I must have overlooked that one. Can you remind me what your change was so that I test it locally?

[2019-01-03 19:54] ViktorHofer commented on #15814
Thanks. I will add this to our Arcade epic as it breaks the promise of what Arcade stands for.

[2019-01-03 20:09] ViktorHofer opened #34338 "Switch to dotnet vstest as our test runner"
Investigate how much work it is to switch away from the deprecated xunit.console runner to dotnet vstest. This is just about the runner, the test infra backend will still be xunit.

UAP will continue using Microsoft.DotNet.XUnitRunnerUap.
UAPAOT is problematic. We currently use xunit.console for it which doesn't work (https://github.com/dotnet/corefx/issues/30423). It may be our best option to add

[2019-01-03 20:09] danmosemsft commented on #34149
@ViktorHofer in SortedList, the change is to return `this` from the Syncroot getter here
https://github.com/danmosemsft/corefx/blob/a7c2aa86ce0d74c40bc6208e530fb1c82768d3ed/src/System.Collections.NonGeneric/src/System/Collections/SortedList.cs#L295
and remove the field as well.

That doesn't affect serialization of SortedList itself, because the _syncroot field there is marked [NonSerializable].

[2019-01-03 20:10] danmosemsft commented on #34149
I think it is a low priority to investigate, since it simply means that SortedList is retaining the sync root that ideally it would not have.

[2019-01-03 20:14] ViktorHofer commented on #34149
Doesn't that mean that the SyncSortedList blob will grow significantly as the sync root will be the SortedList with all its data instead of a simple object?

[2019-01-03 20:14] danmosemsft commented on #19259
We do need a way to get dumps from tests that segfault or hang, whether it's dumpling based or something new. I think the next step is to do some all up thinking about the right way forward. I think it's OK to close issues about specific dumpling bugs and start fresh.
@ahsonkhan owns this scenario.

I added a note to https://github.com/dotnet/corefx/projects/12

[2019-01-03 20:15] ViktorHofer commented on #34149
What I mean is that we would serialize the SortedList twice into the SyncSortedList blob with that change.

[2019-01-03 20:15] danmosemsft commented on #34149
SyncSortedList already stores the SortedList in its other field. Is the BinaryFormatter not smart enough to add a reference from one to the other? It surely handles cycles that way.

[2019-01-03 20:17] ViktorHofer commented on #34149
I would need to try that out to give a definite answer. Why can't we change https://github.com/danmosemsft/corefx/blob/a7c2aa86ce0d74c40bc6208e530fb1c82768d3ed/src/System.Collections.NonGeneric/src/System/Collections/SortedList.cs#L615 to `_root = this`?

[2019-01-03 20:39] ViktorHofer commented on #34149
You are right, it even shrinks the diff as it doesn't need to serialize the additional object: https://www.diffchecker.com/R0Vt8R7r. I noticed that we don't have any serialization tests for SyncSortedList :O

[2019-01-03 20:55] bartonjs commented on #33968
It's just the iterator (and enumerable); the dictionary-like lookups are already on JsonElement.  The latest iteration also eliminated the name-based indexers, since they're "more expensive than they look".

That, and future expansion (e.g. a way to expose the property name as a Utf8String once that feature comes in).

[2019-01-03 21:15] DustinCampbell commented on #34252
It should, yes.

[2019-01-03 21:18] jcouv commented on #31987
So, I ran the validation that Wes had recommended:
1. create a 4.6 or 4.7 library with tuples (I did 4.6.1)
2. consume the resulting binary from a 4.7.1 client program (I did 4.7.2)

When I compile the client, I get `error CS0012: The type 'ValueTuple<,>' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.ValueTuple, Version=4.0.3.0, Culture=neutral, Pub

[2019-01-03 21:39] Najsr opened #34340 "X509ContentType.SerializedCert and X509ContentType.SerializedStore Unix Alternative?"
Hello, I have a problem with exporting X509Certificate2 to byte array via Export function. I am using .NET Core 2.1. The problem is that it works on Windows but when I compile my project for Debian.9-64 I get this error:

[code]
The lines it fails on:
[code]
Is there any workaround for this?

Thanks in advance.

[2019-01-03 21:46] stephentoub commented on #34330
These are now implemented and used in coreclr, they're just internal (for now hopefully) rather than public.
https://github.com/dotnet/coreclr/blob/8f91ac8f374d30cd1a1122f78a90c35d7827a64a/src/System.Private.CoreLib/shared/System/String.Manipulation.cs#L344-L391

[2019-01-03 22:25] robertborr opened #34343 "multiple build synchronization issues"
@robertborr commented on [Mon Dec 10 2018](https://github.com/dotnet/core-eng/issues/4778)

@briansull  - referred by @MattGal and @adiaaida
Multiple core-setup build issues with this error - it looks like to start with a build multi-threading issue.
There may be a further problem with IBCMerge, but its not definite yet.

System.ArgumentException : error : Win32.LoadLibraryEx failed for E:\A\_work

[2019-01-03 22:54] secana commented on #34202
@bartonjs I understand the "won't fix" but the signature I attached is from an up-to-date Firefox. So the problem exists with widely used and current software . Checking if there signature is valid, is not possible with the current state.

If a fix is not feasible in a short time, is there any way to code around it to get the same behavior on .Net Framework and Core?

[2019-01-03 22:56] wtgodbe commented on #15936
Sure thing, I'll look into it when I get a chance.

[2019-01-03 23:12] wtgodbe commented on #20627
That's great! It sounds like there isn't anything else pressing here, so I'll close this.

[2019-01-03 23:12] #20627 closed

[2019-01-03 23:16] #31395 closed

[2019-01-03 23:45] danmosemsft commented on #34252
Hopefully the contributor is able to complete that PR .

[2019-01-03 23:45] AfsanehR commented on #34146
@rmbrunet  @TonyHenrique  I was able to reproduce the issue. But this does not seem to be related to SqlClient as I was able to run a sample application using v4.6.0 by directly adding the System.Data.SqlClient.dll in the csproj from my local machine.
Related issue [here](https://github.com/Azure/azure-functions-host/issues/3903).

[2019-01-04 00:01] tmat commented on #34314
This will also be an issue: https://github.com/Microsoft/vstest/issues/1764
Microsoft.Net.Test.Sdk currently adds dependencies to the test project, which include some CoreFX binaries and will certainly collide with the ones built from CoreFX.

The test team needs to make sure that the test runner's dependencies are isolated from the test project dependencies in order for this to work.

[2019-01-04 01:21] jkotas commented on #34258
@GrabYourPitchforks Would changing the return type to `readonly ref` address your concerns?

We have been avoiding `readonly ref` in S.R.CS.Unsafe because of it is easy to end up with unintentional clones, but I think we can make an exception for this API.

[2019-01-04 01:34] danmosemsft commented on #33643
@ericstj any thoughts here?

[2019-01-04 01:56] Thaina commented on #24555
@tarekgh Versioning is one problem but the main point of discussion there is, firestore system use a number for time in unix time value but more precise than millisecond. Even they would use latest version they still couldn't use `FromUnixTimeMilliSeconds`

I just pointed out that there are really a system that keep unix timestamp in very precise format. It also somewhat popular system in very lar

[2019-01-04 02:56] onovotny commented on #34338
xunit for devices supports UWP with .NET Native FYI. The Xamarin Essentials folks have done work to help automate and track that and I welcome improvements there too.

[2019-01-04 03:57] MgSam commented on #34297
@Clockwork-Muse That's an awful lot of assumptions to make about software which you know literally nothing about. Who are you to say that no application can have its own file explorer that should delete files to the recycle bin?

As a simple and obvious example, every IDE exposes the files of the project its working on. Why shouldn't the authors of such IDEs be able to simply use .NET to write tho

[2019-01-04 03:59] MgSam commented on #34297
@jkotas How exactly is this Windows specific? Most user-facing desktop OSs for the last 20 years have had recycle bins.

[2019-01-04 05:54] wfurt commented on #33965
Proposed change fixed all DayTime tests. I'll do more testing on X64 tomorrow and Ill create PR.
What remains failing are following three tests:
[code]

I'll take close look tomorrow as well.

[2019-01-04 06:07] #32913 closed

[2019-01-04 06:13] danmosemsft commented on #33965
The sync root changes are probably  fallout of my changes a few days ago to remove syncroot field on our collections. I fixed all the tests though, I thought. Is it possible corefx/coreclr/tests are not all in a matching state here?

[2019-01-04 06:15] wfurt commented on #33965
it is certainly possible. I reused my build trees from last week. I can give it fresh or let CI do for me.

[code]

[2019-01-04 07:02] am11 commented on #34297
Generally API proposals in CoreFX go through challenging questions, opposing views and proposers are asked to follow some [guidelines](https://github.com/dotnet/corefx/blob/f74b39562ad0e3b33715172d48eced02c7ca384f/Documentation/project-docs/api-review-process.md), this is to determine the merits of proposed API and gauge the facts like; is it really needed. :)

Personally, I like this proposal and

[2019-01-04 08:05] am11 commented on #34316
@tmds, good point. To test whether it works in 2.2 Alpine docker, we could create a nuget package with only Alpine 3.8 and/or 3.9 native deps say, C-libgethelloworld (resolver mustn't know about unreleased versions of OS either 😄), and restore from local filesystem-based repo.

I read some related points in @eerhardt's post: https://github.com/dotnet/core-setup/issues/1846. Looks like we have a wa

[2019-01-04 08:15] MittalNitish opened #34349 "X509Chain has a different behavior in Ubuntu Linux compared to Windows OS"
We have been running a .NET Core application in windows and it works well. Recently we have started looking up to deploy the application on Linux VMs (Ubuntu 18.04).
The issue we are facing is that the `X509Chain.Build()` method is generating two `X509ChainElement` on Windows while it is generating only one `X509ChainElement` in Linux. The certificate whose thumbprint should match with the root ce

[2019-01-04 09:04] gfoidl commented on #34297
Or provide a property `IsTrashcanAvailable`, so this can be checked beforehand instead of using exceptions for flow-control.

[2019-01-04 09:15] jkotas commented on #34297
CoreFX is focused on appmodel neutral APIs.

This concept is specific to desktop OS appmodels. This API belongs to libraries that are focused on providing abstractions over desktop OS appmodels.

Community package would a great fit for this in .NET as well. It does not make sense to have appmodel-specific APIs in the "core".

[2019-01-04 11:21] eric-raes commented on #21197
Is this fixed in the meanwhile?

We are moving a lot of library projects away from Full .NET to .NET standard.
One helper project is shared accross some old ASP.Net web services and a .NET Core REST service.

We keep getting PlatformNotSupported exception when trying to read the web.config file for connectionstrings in the .NET Standard helper project when used under an ASP.net webservice. Is `Sys

[2019-01-04 14:30] ViktorHofer commented on #34338
@onovotny From the readme it seems that you are injecting the MainPage.xaml into the test unit project. Would it be possible to change the test unit project to a UWP console app instead of injecting the MainPage.xaml so that we don't invoke a GUI?

Currently for UWP we use https://github.com/dotnet/arcade/tree/master/src/Microsoft.DotNet.XUnitRunnerUap which consists of a runner and and a launcher

[2019-01-04 14:34] onovotny commented on #34338
@ViktorHofer a UWP console app is in the plan for xUnit 3.0 and will be supported by "regular xUnit" @bradwilson. xUnit 3 plans to run all tests this way, essentially creating the exe that runs the tests. Whether it's .NET Framework, .NET Core, or UWP, is just a matter of what you target.

[2019-01-04 14:37] onovotny commented on #34338
A better question is if vstest supports UWP console apps? Right now, their test adapter for UWP is pretty specific and they provide their own GUI entry point.

If you use the latest xUnit for Devices templates (via the VSIX in the marketplace), it supports both VSTest and running standalone via F5. Either way though has GUI popup. However, I believe VSTest takes care of registering/deploying/runni

[2019-01-04 14:41] ViktorHofer commented on #34338
Thanks for the info. Does that mean with xunit 3 we will have two ways of testing UWP or will the UWP support be removed from xunit for devices?

Regarding the VSTest support I will open an issue. It would be great if we could get rid of all the bundling, registering, deploying and the whole custom runner. That said I don't expect that to happen anytime soon...

[2019-01-04 14:46] onovotny commented on #34338
You have two ways today and you'll have three ways in xUnit 3:

1. Create a new UWP Test project using the template and switch MSTest to xUnit (and use the xUnit visual studio adapter)
2. Use xUnit for Devices (supports both VS and standalone execution). IMO, no reason to use option 1.
3. [New for 3.0]: xUnit UWP console app. This should work with option 1 & 2 but TBD.

[2019-01-04 14:57] ViktorHofer commented on #34338
Understood. Thanks!

[2019-01-04 15:02] sdb-dev opened #34355 "Socket.BeginConnect throws a connection refused on Linux instead of throwing it on Socket.EndConnect"
**Issue:**
Socket.BeginConnect throws a `Socket Exception (111): Connection Refused` when called with `IPAddress.Loopback` as the endpoint with no actively listening socket running on that port. This only occurs on a Linux operating system. On Windows, this method runs successfully even if there is nothing listening on the port. On Windows, the exception occurs on the `Socket.EndConnect` method in

[2019-01-04 15:20] ViktorHofer commented on #34338
As you said option 3 is still tbd but can you guess if it'll be possible to just have a "normal" csproj sdk proejct and not a UWP template? So that it will inject all the UWP stuff into it, i.e. manifest, legacy csproj, etc.

[2019-01-04 16:00] vladd commented on #34297
@am11

This wouldn't compile, as the two functions differ only in parameter name.
(Sorry for nitpicking.)

[2019-01-04 16:01] eerhardt commented on #34316
@steveharter @jeffschwMSFT @vitek-karas - for thoughts on changing the fallback RID calculation for `musl` based distros.  (It makes sense to me.)

IMO - the root issue here is that RIDs are supposed to be opaque strings, but that design doesn't scale/work in the Linux/Unix distro world.  See https://github.com/NuGet/Home/issues/5862 which describes the issue perfectly. However that issue has gott

[2019-01-04 16:14] #33338 closed

[2019-01-04 16:37] bricelam commented on #33643
Got to the bottom of our issue: We were using the the Microsoft.NETFramework.ReferenceAssemblies package at build time then our tests compiled code via Roslyn bud didn't reference the assemblies in Microsoft.NETFramework.ReferenceAssemblies.

[2019-01-04 16:51] brunolau commented on #32752
I managed to temporarily auto-mitigate the issue by creating custom Entity framework execution strategy that once encounters the MARS error, closes the connection, clears the pool and reopens. Since I've introduced this workaround, I've been running errorless for 3 days.

To sum it up. Once the error is encountered, closing & reopening the error connection + clearing the connection pool seems to r

[2019-01-04 17:10] benaadams opened #34358 "Add more comprehensive tests for nullable reference types in Span apis"
Missed cases: https://github.com/dotnet/corefx/issues/33710
Fixes for coverage: https://github.com/dotnet/coreclr/pull/21232

[2019-01-04 17:13] bradwilson commented on #34338
Details are TBD but almost surely we will be telling people to make console apps for their target platform, not class libraries.

[2019-01-04 17:47] spushpendra2000 opened #34359 "System.Private.CoreLib at System.ReadOnlySpan`1..ctor(Void* pointer, Int32 length)"
I have core 2.0 project as Target Framework  but the SDK is 2.1  amd i am getting this exception in Microsoft.AspNetCore.Builder.MvcApplicationBuilderExtensions.UseMvc.

I can see that it got something to do with System.Memory version which i am using. Please suggest the issue and the possible workaround.

  - Exception Message [Specified argument was out of the range of valid values.]
 ### ###  -

[2019-01-04 17:59] danmosemsft commented on #32008
Given Path.Join exists is there more work here - should this be closed now.

[2019-01-04 17:59] danmosemsft commented on #32008
Given Path.Join exists is there more work here - should this be closed now.

[2019-01-04 18:00] #24750 closed

[2019-01-04 18:08] joperezr commented on #33643
@danmosemsft the problems here as @ericstj [already pointed out](https://github.com/dotnet/corefx/issues/33643#issuecomment-446416122) are due to using packages.config instead of PackageReference. All of the instances that I've investigated around this issue are caused by transitive dependencies not flowing because of the use of packages.config. In order to fix this issue, users need to either man

[2019-01-04 18:09] am11 commented on #34297
@vladd, thanks for the catch, I have modified the method names to (approximately) match the title of this issue. :)

@gfoidl, good point about flow-control, I have added the property. I have kept the TNFE, which perhaps could be just a specialization of `DirectoryNotFoundException`?

@jkotas, agree that adding more appmodel-aware APIs might clutter the core. I think .NET and node.js differ in a wa

[2019-01-04 18:16] jkotas commented on #34297
The model where everything comes from CoreFX/BCL, including app-model specific APIs, is not scalable and sustainable. We need to be working towards healthy .NET ecosystem, with more popular community packages than there is today.

[2019-01-04 18:20] stephentoub commented on #34359
cc: @JeremyKuhne

[2019-01-04 18:23] danmosemsft commented on #33643
My bad, I somehow missed that comment. If there is no action for us, we can close this right?

[2019-01-04 18:42] WinCPP commented on #33320
May I pick this up? To me, it appeared that the discussion is not concluded or then the APIs haven't been updated in Description -> "Add the following". Appreciate inputs. Thanks!

[2019-01-04 18:46] stephentoub commented on #34359
Presumably the failure is coming from:
https://github.com/dotnet/corefx/blob/f7539b726c4bc2385b7f49e5751c1cff2f2c7368/src/Common/src/Interop/Unix/System.Native/Interop.ReadDir.cs#L44
with the IndexOf call returning -1.
It's not clear to me where the 255 limit is coming from.

[2019-01-04 18:51] danmosemsft opened #34361 "FileSystemWatcher_File_Create_ForceLoopRestart failed on Unix"
Seems rare/sporadic.
[code]

[2019-01-04 18:54] joperezr commented on #33833
@RyadaProductions would you like to submit a formal Api proposal for this?

[2019-01-04 18:57] #33847 closed

[2019-01-04 18:57] joperezr commented on #33847
Issue moved to [dotnet/wcf #3322](https://github.com/dotnet/wcf/issues/3322) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-04 19:05] spushpendra2000 commented on #34359
This is on linux platform. Do i need to update any System.Native binaries..

[2019-01-04 19:08] stephentoub commented on #34359
I suspect it's a bug in the implementation, not in how you're using it.

Do you have any really long directory or file names?

[2019-01-04 19:16] joperezr commented on #33944
I'm not sure I understand what the problem is here. Is the issue that these assemblies don't have a reference assembly so people targeting a specific RID would still not be able to use them?

[2019-01-04 19:20] GrabYourPitchforks commented on #34258
@jkotas Yes, changing it to `readonly ref T` would address my concerns re: dangerousness, but then you could argue that the API isn't useful because it doesn't address the original scenario which led to its proposal (https://github.com/dotnet/corefx/issues/30730). Assuming it's changed to return `readonly ref T`, is there some other scenario the API still addresses?

[2019-01-04 19:20] spushpendra2000 commented on #34359
Which file it is referring to which is resulting in exception?. i dont think i have long file path installation directory. Some dependent dll might be residing on long path.. Also, i am not getting this issue on all linux machine.

[2019-01-04 19:22] joperezr commented on #33987
If @danmosemsft confirms that 1) is fixed, perhaps we should then close this as a dupe of https://github.com/dotnet/buildtools/issues/705 since the fix would be external? (by the fix, I mean changing GenFacades to write .cs files with the forwarders instead of using CCI to rewrite the assembly.)

[2019-01-04 19:22] spushpendra2000 commented on #34359
I check the dependent dll path as well.. It is hardly 60 char long.. Please let me know the which file you are talking about so that i can check.. But i dont think i have long path...

[2019-01-04 19:26] danmosemsft opened #34363 "All ServiceController tests failing on NETFX"
https://dnceng.visualstudio.com/internal/_build/results?buildId=66138&view=ms.vss-test-web.test-result-details

[code]

https://github.com/dotnet/corefx/pull/32893 didn't help. Doesn't repro locally. I will just permanently disable all these tests that rely on the test service on .NET Framework. It is not very important that they run on .NET Framework.

[2019-01-04 19:27] joshfree opened #34364 "System.IO.Tests.FileInfo_GetSetTimes/CopyToNanosecondsPresent"
Related #20818 #31116 #3272

System.IO.Tests.FileInfo_GetSetTimes/CopyToNanosecondsPresent

[Helix / repro instructions](https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/5f009736e46746fb6aaef810dc2bb2f64ed6bf84/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.FileInfo_GetSetTimes~2FCopyToNanosecondsPresent
)
[code]

[2019-01-04 19:30] vcsjones opened #34366 "API Proposal: EnvelopedCms encryption with RSA padding modes"
As of #34324 we can _decrypt_ an EnvelopedCms that has a recipient using RSA-OAEP with SHA2, but we cannot _encrypt_ currently using SHA2.

The short of it:

[code]

For the managed PAL this should be doable. For the Win32 PAL that uses `CryptMsgOpenToEncode`, I believe we just need to set the algorithm up correctly on the `CMSG_KEY_TRANS_RECIPIENT_ENCODE_INFO` for each recipient.

For the latter

[2019-01-04 19:32] vcsjones commented on #34366
/cc @bartonjs

[2019-01-04 19:32] joperezr commented on #34243
Given the above explanation from @danmosemsft I'll go ahead and close this for now as most of the inconsistencies with our formatting are due to Serialization. Feel free to go ahead and reopen if you find concrete cases where we don't follow conventions and classes aren't serializable.

[2019-01-04 19:32] #34243 closed

[2019-01-04 19:37] stephentoub commented on #34258
When used with Unsafe.AsRef to cast away the readonly-ness it still would, albeit more cumbersome.

[2019-01-04 19:39] stephentoub commented on #34359
A FileSystemWatcher is being used here to monitor some directory or file. I'm wondering about those files being monitored, as it would appear that getting the information for one of those is causing this issue.

[2019-01-04 19:44] joperezr commented on #31087
I see, so I believe that this issue can probably be closed now. Feel free to reopen if you feel otherwise.

[2019-01-04 19:44] #31087 closed

[2019-01-04 19:46] SimonCropp commented on #33643
isnt this repro already using packagrereferences https://github.com/dotnet/corefx/issues/33643#issuecomment-441834688  ?

[2019-01-04 19:49] azchohfi opened #34368 "PermissionSet's AddPermission has no effect/implementation."
With 009996, I managed to use System.Security.PermissionSet (it builds), but the runtime implementation is empty (https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/Security/PermissionSet.cs). It seems like the resolution for this type is mapping to System.Runtime.Extensions.dll, when it should map to the actual implementation on System.Security.Permissions.dll

[2019-01-04 19:51] bartonjs commented on #34366
I assume an exception of some sort is in order if a non-RSA certificate is used.

Frequently state that's set via a constructor parameter is exposed back as a property.  So probably something like

[code]

[2019-01-04 20:05] vcsjones commented on #34366
Yeah.

Oops. Yes. Updated original proposal.

[2019-01-04 20:10] spushpendra2000 commented on #34359
All i am doing is using WebHostBuilder().
var host = new WebHostBuilder()
                                .UseKestrel()
                                .UseUrls(string.Format(url, port))
                                .UseContentRoot(Directory.GetCurrentDirectory())
                                .UseIISIntegration()
                                .UseStartup<Startup>()

[2019-01-04 20:40] jeroenlandheer opened #34369 "Problems with dotnet restore on Unbuntu 18.04.1: SPNEGO cannot find mechanisms to negotiate"
I've installed the .Net Core SDK, added a authenticated feed from a local TFS instance and I get this error when running dotnet restore:

[code]
The server is using NTLM and Kerberos Authentication, we have no issues with using these feeds on Windows.

.Net SDK v2.2
Tried on Ubuntu 18.04 and 16.04, both have the same issues.

On IIS Extended Protection is off, Kernel-mode authentication is on, Neg

[2019-01-04 21:14] GrabYourPitchforks commented on #34258
But that's the crux of the problem. That's taking an object that the runtime intended to be immutable (a boxed `Int32`) and mutating it in-place, which could lead to undefined behaviors in a future CLR. Just like how mutating immutable `String` instances in-place is a thing you can technically do, but it could result in undefined behavior.

[2019-01-04 21:16] danmosemsft commented on #33987
I downloaded the SDK for Windows from https://github.com/dotnet/core-setup/ for 3.0.0-preview-27304-2 and stepped into hello world and confirmed it pulled down sources for both corelib and (eg) System.Diagnostics.Process.dll.

I also pulled down the tar.gz of symbols for Mac and Linux x64 and confirmed that the github link was present in the pdb's of both the above.

So (1) is fixed. I'll close th

[2019-01-04 21:17] danmosemsft commented on #33987
Actually tracked by https://github.com/dotnet/arcade/issues/1584

[2019-01-04 21:21] danmosemsft commented on #34308
I think I need guidance from @ericstj in this case.

[2019-01-04 21:32] mjsabby commented on #34308
[code]

While I find it unsatisfying, the above snippet is what I've done to unblock myself.

[2019-01-04 21:36] Lohnegrim opened #34370 "Result of chr() cannot be used as initial value of a Const in .Net Core 3 Preview 1"
Version: 3.0.100-preview-009812
Commit: e3abf6e935

Runtime Environment:
OS Name: Windows
OS Version: 10.0.17763
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\3.0.100-preview-009812\

Host (useful for support):
Version: 3.0.0-preview-27122-01
Commit: 00c5c8bc40

Have you experienced this same bug with .NET Framework?: No

In the .Net Framework using VB.Net you can comp

[2019-01-04 21:38] danmosemsft commented on #34359
I believe Linux has a maximum filename length of 255 characters for most filesystems. limits.h has
`#define NAME_MAX         255	/* # chars in a file name */`

[2019-01-04 21:47] davidsh commented on #34369
We see this problem frequently on Linux.  The root cause is that the Linux client machine is failing to downgrade from kerberos to NLTM during the Negotiate scheme.

The server might offer both HTTP auth schemes such as Negotiate and NTLM.  Given that, the client will take Negotiate as the scheme.  Negotiate will try Kerberos first.  But frequently this is not possible because the Linux machine is

[2019-01-04 21:47] davidsh commented on #34369
@karelz

[2019-01-04 21:48] danmosemsft commented on #34359
@spushpendra2000 what distro is this exactly?

@mikem8361 do we have instructions on how to get a dump on Linux at the point of a managed exception? Looking at [createdump](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md) it does not have a flag to do this? I'm wondering what the best approach is.

[2019-01-04 21:50] steveharter opened #34372 "Object (de)serialization support with Utf8JsonReader\Writer - entry point and options"
This is the API proposal and feature set for object (de)serialization. It covers the main API entry point (`JsonSerializer`), the options (`JsonSerializerOptions`) and the ability to ignore properties during (de)serialization.

_Review process update: due to the size of this issue and since new API issues are being added for new features, the overview and forward-looking information has been moved

[2019-01-04 21:54] danmosemsft commented on #34359
According to [man readdir](https://linux.die.net/man/3/readdir) `The only fields in the dirent structure that are mandated by POSIX.1 are: d_name[], of unspecified size, with at most NAME_MAX characters preceding the terminating null byte;`

So that's 256. Should the 255 above be 256?

[2019-01-04 21:57] mikem8361 commented on #34359
Setting the COMPlus_DbgEnableMiniDump env var to 1 will generate a core dump on a unhandled exception, but createdump has no way to catch a handled/caught exception.

[2019-01-04 22:30] jkotas commented on #34258
I think the crux of the problem is that we cannot prevent dangerous code from being written. We can really only make it (1) more cumbersome to write and (2) easier to audit.

If your are targeting ECMA spec, the dangerous code can result in undefined behavior as you have said. If you are targeting a specific runtime and know what you are doing, the dangerous code often has pretty well defined beha

[2019-01-04 22:40] benaadams commented on #34258
Forcing things to go via `ref T AsRef<T>(in T source)` seems to both make it (1) more cumbersome and (2) easier to audit?

[2019-01-04 22:42] jkotas commented on #34258
Correct.

[2019-01-04 23:05] #34363 closed

[2019-01-04 23:57] GrabYourPitchforks commented on #34258
Yes. And if `Unbox<T>` is changed to return `ref readonly T`, you could even move it off the `Unsafe` class since it's a perfectly 100% type-safe and verifiable operation. (This assumes it keeps its current behavior of performing the type check.)

I don't really want to make things "cumbersome" _per se_. If unsafe / unverifiable operations are common, we should make them easy to perform. But the c

[2019-01-05 00:01] #34065 closed

[2019-01-05 00:06] danmosemsft commented on #34359
@mikem8361 where is the best place to get createdump (for 2.1 in this case)? it does not seem to be in the SDK?

[2019-01-05 00:10] mikem8361 commented on #34359
Createdump is in the runtime directory i.e. /usr/share/dotnet/shared/Microsoft.NETCore.App/2.1.6/createdump.

[2019-01-05 00:22] vcsjones commented on #34370
@jaredpar I think this belongs in Roslyn.

[2019-01-05 00:30] danmosemsft commented on #34359
OK @spushpendra2000 please set the environment variable COMPlus_DbgEnableMiniDump to 1 then use createdump to get a dump. There is more info here:

https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md

[2019-01-05 00:38] jaredpar commented on #34370
@vcsjones i think it actually belongs here. This is a VB runtime issue and the VB runtime code lives here.

[2019-01-05 00:39] jaredpar commented on #34370
CC @333fred, @cston

[2019-01-05 01:16] Tornhoof commented on #34372
Thank you for describing your API and performance concepts.
**API**
I'd like to see non-generic FromJson methods, e.g. for the ASP.NET Core TextFormatter classes, assuming this will not change that much, see https://github.com/aspnet/AspNetCore/blob/321327f84b2b22dcff2e9beb06a9a64236c5cced/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Formatters/TextInputFormatter.cs

**Performance**

This probably wo

[2019-01-05 03:51] davidfowl commented on #34372
Where’s the async API?

[2019-01-05 03:57] geoffkizer opened #34376 "HTTP2: Not processing pending streams properly after a GOAWAY is received"
When we receive a GOAWAY frame, we should continue to process any remaining valid streams (as indicated by the last stream ID in the GOAWAY frame). Currently, we are not doing this.

In particular, if the server:
(1) Sends response headers
(2) Sends GOAWAY, with last stream ID set to indicate that the stream will still be processed
(3) Sends response body

This results in an empty response body an

[2019-01-05 04:01] geoffkizer opened #34377 "HTTP2: Not handling multi-valued headers correctly"
When we construct a request message with multiple values for a single header, we should send this as a single header with multiple values, as we do in HTTP/1.1. Instead, we are sending this as multiple headers.

Note this matters in particular for the User-Agent header because it uses non-standard formatting for multi-valued headers.

[2019-01-05 06:17] danmosemsft commented on #34364
@anipik fixed now?

[2019-01-05 09:41] jeroenlandheer commented on #34369
@davidsh Only NTLM on the server isn't an option because we rely on Kerberos for too many things here. So I guess my question is... how do I configure my Linux machines to properly downgrade to NTLM, or join it to AD so I can use Kerberos on those machines? (I also think that disabling Kerberos isn't a best practice.)

Most of the install here is fairly standard, so I guess when others install TFS

[2019-01-05 10:57] ViktorHofer commented on #33595
Fixed with https://github.com/dotnet/arcade/commit/bf5f6004478e62c3b2c546117b9cb80a96054c57

[2019-01-05 10:57] #33595 closed

[2019-01-05 11:00] ViktorHofer commented on #34290
Maybe its related to inlining but this definitely doesn't belong into corefx but into Microsoft/vstest. Moving.

[2019-01-05 11:03] ViktorHofer commented on #34290
Moved to https://github.com/Microsoft/vstest/issues/1885

[2019-01-05 11:03] #34290 closed

[2019-01-05 11:05] ViktorHofer commented on #34011
Closing as the last 8 runs were successful.

[2019-01-05 11:05] #34011 closed

[2019-01-05 11:13] PolitovArtyom commented on #32752
We are getting the same problem.
Errors starts occuring in same moment on different servers. Application pool restart helps,

**Application Server**
Microsoft Windows Server 2012 R2 Standard 6.3.9600 Build 9600
dotnet host  Version: 2.1.5  Commit:  290303f510
.NET Core runtimes installed:
  Microsoft.AspNetCore.All 2.1.5 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore
  Microsoft.AspNetCore.A

[2019-01-05 12:33] ViktorHofer commented on #33732
To me that looks like python isn't resolved correctly. Should be fixed with https://github.com/dotnet/corefx/pull/34378.

[2019-01-05 12:33] #33732 closed

[2019-01-05 12:34] ViktorHofer commented on #33622
Should be fixed.

[2019-01-05 12:39] ViktorHofer commented on #33117
I think the extra build step isn't necessary here as I would be surprised if we allow new libraries without refs in PR reviews. I think the remaining work is to just create the refs for the mentioned projects. Will move the label to enhancement as I don't see any infra work necessarily to be done.

[2019-01-05 12:45] ViktorHofer commented on #31193
With https://github.com/dotnet/corefx/pull/34379 you can now call `dotnet msbuild /t:Rebuild /p:GenerateReferenceAssemblySource=true`. Note that this also generates refs for referenced projects so you might want to filter the changes afterwards.

[2019-01-05 12:53] ViktorHofer commented on #29828
It seems like this should still be done @marek-safar? cc @danmosemsft

[2019-01-05 12:55] ViktorHofer commented on #29331
Is this still happening @adiaaida ?

[2019-01-05 12:59] ViktorHofer commented on #27130
AFAIK we are going to point the readme badges to the Azure DevOps runs as soon we have fully migrated. Closing in favor of https://github.com/dotnet/corefx/issues/30558

[2019-01-05 12:59] #27130 closed

[2019-01-05 13:05] ViktorHofer commented on #19483
As with Azure DevOps this will change I'm closing this in favor of https://github.com/dotnet/corefx/issues/30558

[2019-01-05 13:05] #19483 closed

[2019-01-05 13:14] ViktorHofer commented on #26939
@stephentoub do you have a list for which libraries this still needs to be done? I don't see any imminent infra work required here so I'll remove the label.

[2019-01-05 13:20] ViktorHofer commented on #30399
@danmosemsft We need a Windows on ARM machine (there are some notebook on the market with it) to fix this. Unfortunately I don't have one. It would surprise me if nobody in our ORG has one.

[2019-01-05 13:21] ViktorHofer commented on #26218
Closing as dupe of https://github.com/dotnet/corefx/issues/26218

[2019-01-05 13:21] #26218 closed

[2019-01-05 13:41] ViktorHofer commented on #22527
Yes it does, i.e. https://www.nuget.org/packages/System.Reflection.Context/4.6.0-preview.18571.3

[2019-01-05 14:00] ViktorHofer commented on #17955
No I believe corefx/eng is currently for the targets. As soon as this is needed in other repos we can think about moving it to arcade. Closing, please reopen if you disagree.

[2019-01-05 14:00] #17955 closed

[2019-01-05 15:10] ViktorHofer commented on #15136
Closing for age. Please reopen if you think we still need to address this.

[2019-01-05 15:10] #15136 closed

[2019-01-05 15:11] ViktorHofer commented on #15121
Closing for age.

[2019-01-05 15:11] #15121 closed

[2019-01-05 15:13] ViktorHofer commented on #21384
Closing as fixed as adding tests to CI is tracked by https://github.com/dotnet/corefx/issues/21384

[2019-01-05 15:13] #21384 closed

[2019-01-05 15:30] ViktorHofer commented on #30423
To give an update here, the current runner (xunit.console) doesn't work well with UAP and ILC. There are multiple options here, the ideal one would be to just use vstest.console.exe with ILC enabled which also runs in an AppContainer but unfortunately their UWP runner is outdated (https://github.com/Microsoft/vstest/issues/1884).
Our best option to unblock this asap is to use the fork of the offic

[2019-01-05 19:53] Anipik commented on #34364
Yes it is fixed

[2019-01-05 19:53] #34364 closed

[2019-01-05 22:32] danmosemsft commented on #34359
Never mind about the dump, I was correct:
[code]

[2019-01-05 22:41] danmosemsft commented on #34359
@spushpendra2000 you can do something like this to find the 255 character file or directory that is causing the problem: `strace -v dotnet run 2>&1 | grep 'd_name=\"[^"]\{255\}'`
eg
[code]
Once you have that, delete or rename it to work around this bug.

[2019-01-05 23:50] davidsh commented on #34369
Take a look at this issue #30203.  If you read thru the issue toward the end, I did some research about how to properly configure a Linux machine for Kerberos so that it would be part of a Windows Active Directory domain.  There are also some links there with more information.

[2019-01-05 23:56] davidsh commented on #34325
On .NET Framework, HttpClient uses HttpWebRequest underneath.  HttpWebRequest itself has a timeout property for read/write timeouts:

[HttpWebRequest.ReadWriteTimeout(
https://docs.microsoft.com/en-us/dotnet/api/system.net.httpwebrequest.readwritetimeout?view=netframework-4.7.2)

However, this timeout property is not exposed on the stream that you get from ReadAsStreamAsync().  And setting the gen

[2019-01-05 23:59] davidsh commented on #34326
Any long-term plans to align any of those?

I don't we explicitly document these kinds of things.  But over time new types will end up in the appropriate namespaces.

Perhaps the ObsoleteAttribute attribute could be added?

The ObsoleteAttribute tends to add compile-time warnings which are not always desirable and can break  some compilation that uses warnings as errors.  HttpWebRequest itself is

[2019-01-06 10:31] WinCPP commented on #33320
Update: (In addition to previous comment) `Utf8Parser.TryParse` is part of `System.Private.Corelib` and thence it cannot have `TryParseInternal` (the one that mentioned in previous comment) as that too would have to be `public` to be usable in new method `Utf8Parser.GetInt32` in CoreFx.

I am wondering how could the overflow detection logic inside `Utf8Parser.TryParseInt32D` an `private` in coreli

[2019-01-06 15:23] Timovzl opened #34392 "Decoder.GetCharCount() returns incorrect result when multi-byte characters are split"
When `Decoder.GetCharCount()` is called on two halves of a byte sequence, splitting a multi-byte character, it returns an incorrect count.

- The first call correctly ignores the partial character.
- The second half returns a count that is too great. Perhaps it is ignoring the unprocessed byte from the previous call.
- In contrast, `Decoder.GetChars()` seems to work correctly.
- Tested with UTF-8,

[2019-01-06 16:58] vcsjones commented on #34202
Nothing trivial comes to my mind right now. CNG (and CommonCrypto and OpenSSL) will treat the RSA signature as invalid. You would have to use an API that uses CAPI to validate the signature, or find an RSA library that is willing to treat this signature is valid. Even then you'd have to get `SignedCms` to use it, which probably means having a local copy of the class as of .NET Core 2.2.

For .NET

[2019-01-06 18:30] jkotas commented on #34392
The behavior you are seeing is expected. `GetCharCount` does not update the state of the decoder. The remarks section in https://docs.microsoft.com/en-us/dotnet/api/system.text.decoder.getcharcount?view=netcore-2.1 tries to explain it.

[2019-01-06 18:40] juliusfriedman commented on #34330
+1 but I would have expected these methods as extensions just like the others in:
https://github.com/dotnet/corefx/issues/21395

I personally think they have a better home with those methods or in a separate Extensions class since they return string and do not force the string type itself to have reference on ROS, that is unless such a spen type becomes implicit via using stackalloc.

[2019-01-06 18:48] juliusfriedman commented on #34392
@jkotas, perhaps StringInfo should be referenced in the docs in some way?

[2019-01-06 20:05] stephentoub commented on #26939
I'll take care of it.

[2019-01-06 20:42] stephentoub opened #34395 "ValidateToStringUsingWhoami/ValidateToString tests are buggy"
ValidateToStringUsingWhoami initializes `endSid` to 0 and then never sets it to anything other than its initial value:
https://github.com/dotnet/corefx/blob/b04b5f22e933b0dae74af3e8b4d1bd5c12cbed01/src/System.Security.Principal.Windows/tests/SecurityIdentifierTests.cs#L68
We then check if `endSid > startSid`, which can only happen if `startSid` is `-1` due to the `int startSid = output.IndexOf("S-

[2019-01-06 21:50] Timovzl commented on #34392
@jkotas Thanks for clearing that up. It does not do a very good job at explaining it, in my opinion, as it misleads you in the very next sentence.

The latter is exactly what I am trying to do. How can we determine the exact size correctly before allocating anything, in the case where the data is split up (such as in a `ReadOnlySequence<byte>`)?

[2019-01-06 23:03] Wraith2 commented on #34395
Interesting, I assume it's the 5 that's different in yours, what do you have there out curiosity?

[2019-01-06 23:04] stephentoub commented on #34395
12

[2019-01-06 23:13] danmosemsft opened #34397 "OverlappingRegionsFromOtherProcess_ThrowsException fails on WSL"
[code]

[2019-01-06 23:42] Wraith2 commented on #34395
I'm not sure if that's a value that should be handled or not. The first number is sid version, if it isn't 1 then this test should fail until rewritten to understand version 2. The second number is the [IdentifierAuthority](https://github.com/dotnet/corefx/blob/b04b5f22e933b0dae74af3e8b4d1bd5c12cbed01/src/System.Security.Principal.Windows/src/System/Security/Principal/SID.cs#L18) which doesn't hav

[2019-01-07 00:09] Yucked opened #34398 "ClientWebSocket Response Headers"
Hi! Pardon me if I opened the issue in the wrong repo.

I was wondering if there was a way to get response headers after ws handshake was completed.
Something like `WebSocketReceiveResult.Headers` or similar.

Not sure if I'm looking in the right place. Any help will be appreciated.

Cheers!

[2019-01-07 00:58] rahuldutta90 commented on #34325
@davidsh I do that also. As mentioned above "The cancelToken passed to the ReadAsync is from a cancellationtokensource which is set to cancel after 60 seconds." It does not honor that also. That is what I did before setting a timeout to the stream.

NOTE: This does not happen for httpwebrequest. I am migrating from httpwebrequest to httpclient and this did not happen for httpwebrequest. In httpweb

[2019-01-07 01:49] ahsonkhan commented on #34372
In what scenario would you require async (de)serialize APIs?

[2019-01-07 02:32] davidfowl commented on #34372
I'm going to be a bit obtuse here. If we're not making these APIs async then we need to have a long discussion again about ASP.NET Core usage of these APIs.

Input:

https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/src/Microsoft.AspNetCore.Mvc.Formatters.Json/JsonInputFormatter.cs#L318

Output:

https://github.com/aspnet/AspNetCore/blob/ca7c48c520f2baae032e0429f19552abed77e009/src/Mvc/src/

[2019-01-07 02:53] jkotas commented on #34392
I do not think you can do it with the current Decoder APIs.

[2019-01-07 03:04] ahsonkhan commented on #33320
You would need to test the result of `Utf8Parser.TryParse(...)` and if it returns false, throw the exception yourself within the `Utf8JsonReader.GetX()` APIs.

[2019-01-07 03:31] divman25 opened #34400 "[System.IO.Pipes] Have a mechanism for lower privileged user to connect to a privileged user's pipe"
Since System.IO.Pipes.PipeSecurity is not supported on non windows Operating Systems, can we have another way for a less privileged NamedPipeClientStream to connect to a privileged user's pipe?

Currently, it seems that the only way is to do a chmod on the pipe file at /tmp/pipefile but no way to achieve this from code.

[2019-01-07 06:17] ZeinSleiman opened #34401 "Creating the TransactionScope takes around 100ms. Is this expected or there is an issue?"
We use EntityFramework and EntityFramework.Core in our application and we noticed that when we create the transactionscope we add an extra 100ms on the query time. Is this an expected behavior? Are we doing something wrong? Is there a way to improve the performance on this?

Further technical details
EF Core version: 2.2
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system:

[2019-01-07 06:32] siberianguy commented on #23426
Is there any hope with this issue? Honestly, it's beyond my understanding how we've got so far with .net core without having a key feature for many enterprise solutions

[2019-01-07 08:37] tmds commented on #31713
@ajaybhargavb is it ok to close this issue?

[2019-01-07 09:16] PiGi78 commented on #34264
I did a test on a Mac (last OS and last .NET core 2.2).
I have the same issue

Let me know

[2019-01-07 09:18] marek-safar commented on #29828
No, we don't need this (we fixed it better way meantime).

[2019-01-07 09:18] #29828 closed

[2019-01-07 13:04] Tornhoof commented on #34372
For the ASP.NET Core formatter you additionally need to support a bag of json properties, which is either serialized into the parent object or deserialized into the bag for RFC 7807 Error Details.  See https://github.com/aspnet/Mvc/pull/8529 for more details, that one uses JSON.NET's https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_JsonExtensionDataAttribute.htm

[2019-01-07 14:05] SuYiQianYei commented on #34392
I had the same problem and I thought it was a bug
[code]

[2019-01-07 16:10] adiaaida commented on #29331
@ViktorHofer the release/2.2 job has not run since December 3, when, yes, it was still failing. Running now:

https://ci2.dot.net/job/dotnet_corefx/job/perf/job/release_2.2/job/perf_ubuntu16.04_release/61/

[2019-01-07 16:20] stephentoub commented on #2808
@JeremyKuhne, this can be closed now, right?

[2019-01-07 16:24] stephentoub commented on #18012
@krwq, @wfurt, can this issue be closed now, or if not, what work remains?  Wondering if more specific issues should be opened for any remaining work rather than keeping open this overarching issue.

[2019-01-07 16:41] spushpendra2000 commented on #34359
I dont see any relevant file with big file path. Attaching strace response. Please let me know
[strace.log](https://github.com/dotnet/corefx/files/2733494/strace.log)

[2019-01-07 16:41] bartonjs commented on #34395
FWIW https://en.wikipedia.org/wiki/Security_Identifier says 12 is AzureAD.

[2019-01-07 16:44] ViktorHofer commented on #29331
Same error is still happening. cc @adamsitnik

[2019-01-07 16:52] stephentoub commented on #29015
This test no longer exists as is, and its replacements are already being skipped on desktop.

[2019-01-07 16:52] #29015 closed

[2019-01-07 17:00] MattGal commented on #26218
You closed the bug as a duplicate of itself?

[2019-01-07 17:09] stephentoub commented on #29277
This can be closed now, right @adamsitnik?

[2019-01-07 17:12] wfurt commented on #18012
I think this should be closed.

[2019-01-07 17:12] #18012 closed

[2019-01-07 17:22] mmitche commented on #26218
If that's the case, we can close LOTS of bugs.  We're done!

[2019-01-07 17:30] safern commented on #30399
The UAP runs have been running ever since we moved to the new official builds for all of those architectures.
https://dnceng.visualstudio.com/internal/_build/results?buildId=67384&view=logs

x86 and x64 are clean with no failures, however the ARM runs are failing with:
[code]

Also I noticed that in helix the test runs are marked as passed even though they failed, I think we're not returning the r

[2019-01-07 17:50] davidsh commented on #13813
@godefroi Using .Result is not a best-practice pattern.  That is why we recommend developers design solutions using async patterns.  That will make the best use of CPU resources.

[2019-01-07 17:57] adiaaida commented on #33622
@ViktorHofer we are still seeing this:

[code]

[2019-01-07 17:59] godefroi commented on #13813
@davidsh I 100% agree, but there are cases where going to async is not possible. As I understand it (and you haven't indicated otherwise), calling async methods from sync code is not possible to do safely, barring something exotic like a custom non-threadpool-based task scheduler.

[2019-01-07 18:01] kspearrin opened #34407 "SMTP send throws AuthenticationException on Linux"
Certain SMTP mail servers (in this case, mailjet.com) will throw an `AuthenticationException` when trying to send mail from an .NET Core console applications (or asp.net web applications) that are running on Linux.

For example:

    class Program
    {
        static void Main(string[] args)
        {
            MainAsync().Wait();
        }

        public static async Task MainAsync()

[2019-01-07 18:09] Wraith2 commented on #34395
Ah, my mistake was checking the [msdn docs](https://docs.microsoft.com/en-gb/windows/desktop/api/winnt/ns-winnt-_sid_identifier_authority) then... 😉

[2019-01-07 18:20] joperezr commented on #33643
@SimonCropp I just tried that project locally with the latest VS, and I see that: 1) System.ComponentModel.Annotations.dll (version 4.2.1.0) is copied to the output folder, and 2) An app.config file binding redirect is generated successfully with the following contents:
[code]

That binding redirect is causing the app to work just fine at runtime, I get the following output:
![image](https://user-

[2019-01-07 18:33] stephentoub commented on #29026
@tannergooding, what's the status of this?  Is it still for 3.0?  Is the compiler feature moving along accordingly?

[2019-01-07 19:08] joperezr commented on #34318
@jaredpar I suppose the change you say fixed it is this one: https://github.com/dotnet/standard/pull/1012?

If so, @terrajobst I suppose that this is not something that can serviced to netstandard2.0 and instead would only be fixed when targeting .NET Standard 2.1, is that right?

[2019-01-07 19:09] joperezr commented on #34318
(marked as external since the real fix for this needs to happen on dotnet/standard repo)

[2019-01-07 19:10] tannergooding commented on #29026
AFAIK, the feature is basically implemented in https://github.com/dotnet/roslyn/tree/features/localsinit, but it requires additional review and merging back into master.

@jaredpar or @agocke might be able to comment more about timeline

[2019-01-07 19:15] ViktorHofer commented on #33622
@adiaaida that's not an infrastructure issue but a wrong perf test. I submitted https://github.com/dotnet/corefx/pull/34403 some hours ago to fix this and you can see that the current run doesn't hit this issue anymore and should succeed sone (fingers crossed): https://ci2.dot.net/job/dotnet_corefx/job/perf/job/master/job/perf_windows_nt_release/7619/

[2019-01-07 19:18] ViktorHofer commented on #26218
LOL 😱 thanks Santi!

[2019-01-07 19:20] adiaaida commented on #33622
Thanks!

[2019-01-07 19:20] WinCPP commented on #33320
Thanks @ahsonkhan. I now get it! Will start on this!

[2019-01-07 19:50] rmkerr commented on #34398
Hey @Yucked! Do you mind clarifying what you mean by "Response headers after ws handshake was completed"? The headers on the 101 switching protocols response, or something else?

[2019-01-07 20:08] danmosemsft commented on #34264
Thanks. Would you like to try investigation (debugging or code inspection)? It might bea  while before we can look.

[2019-01-07 20:21] ajaybhargavb commented on #31713
@tmds, I spent a good amount of time trying to get a minimal repro for this but I have nothing so far. But I know for sure that this is still happening consistently on our CI machines. We have currently skipped that test on Linux. I would be happy to help/work with anyone who has a little more context and wants to investigate this further. Having said that, I'm not 100% sure if there is an actual

[2019-01-07 20:35] bartonjs commented on #33320
@ahsonkhan I don't think the correct names are in the issue... I feel like the consensus was

[code]

(repeat for Int64, Decimal, Single, and Double)

As well as the simple `GetString()` and `GetBoolean()`, of course.

[2019-01-07 20:39] krwq commented on #34102
Closing as dup of https://github.com/dotnet/corefx/issues/24439

[2019-01-07 20:39] #34102 closed

[2019-01-07 20:50] stephentoub commented on #32686
Closing as this would appear to be something random in the infrastructure on this particular run on Nano server.  We can re-open if it appears again.

[2019-01-07 20:50] #32686 closed

[2019-01-07 20:52] stephentoub commented on #32409
@davidsh, the aforementioned change is in 2.1:
https://github.com/dotnet/corefx/blob/release/2.1/src/System.Net.Http/src/System/Net/Http/HttpUtilities.cs#L17

[2019-01-07 20:53] stephentoub commented on #32349
Closing as this is non-actionable without more details.

[2019-01-07 20:53] #32349 closed

[2019-01-07 20:54] stephentoub commented on #31662
With the exception of a couple of ancillary APIs being tracked in other issues, this is done.

[2019-01-07 20:54] #31662 closed

[2019-01-07 20:59] PiGi78 commented on #34264
I would like to do it, but I don't know how...
There is a tutorial or any documentation on how to do it?

[2019-01-07 21:19] #34340 closed

[2019-01-07 21:21] mconnew commented on #30760
@karelz, do you have any idea of timeline to fix this issue? The cause of this bug is well understood, the behavior on .NET Framework is understood as I investigated and documented what that behavior is. This bug is now over 6 months old and is blocking multiple customers and there's been no updates for 3 months.

[2019-01-07 21:41] ericstj commented on #33944
The problem was that they were being added to the platform manifest, so conflict resolution would *always* remove them from the app layout, however we were *only* providing an implementation on a single platform, so other platforms would get a file-not-found exception.

We need to either:
1. Enforce a consistent set of DLLs in all platforms shared frameworks.
2. Permit an inconsistent set of DLLs,

[2019-01-07 22:35] safern opened #34413 "Once CMake supports VS2019 as the project generator use it if installed"
In: https://github.com/dotnet/corefx/pull/34381 we enabled building and generating the native project with VS2019, but CMake doesn't support VS2019 as the project generator. So we reverted the generator change in: https://github.com/dotnet/corefx/pull/34412

This issue is to track CMake's support for VS2019 and to update the generator script.

cc: @ViktorHofer

[2019-01-07 22:46] danmosemsft commented on #34359
@spushpendra2000 are you including the `-v` flag? That is necessary to see it.

[2019-01-07 22:56] danmosemsft commented on #34264
Hmm, it would probably not be a good issue to start with, if you're new to investigating this kind of issue.

@stephentoub do you recall any issues of this sort from the past?

[2019-01-07 23:10] safern commented on #34413
There is already a PR in cmake to add the 2019 generator: https://gitlab.kitware.com/cmake/cmake/merge_requests/2711

[2019-01-07 23:34] bartonjs commented on #34061
When we initially released the minimum version of OpenSSL we used didn't hostname validation built in (it was up to the caller to write it).  Assuming that our older-OS matrix isn't a problem we'll move to use OpenSSL `X509_check_host` for the 3.0 release (removing our custom code).  Experimentation says that will fix the problem you're describing.

Note that while it will fix the problem in futur

[2019-01-07 23:42] Varorbc commented on #33643
@joperezr Binding redirection is certainly possible, but fixing the assembly version is the best approach

[2019-01-08 00:23] ssa3512 opened #34414 "SqlCommand DeriveParameters should not return database in type name for table valued parameters"
When using `SqlCommandBuilder.DeriveParameters()` which calls `SqlCommand.DeriveParameters()` the type name for the TVP in the derived parameters includes the database name which causes `ExecuteNonQuery()` to fail with the following exception:

[code]

In depth write-up and repro project here: [ssa3512/DotNet_GetStoredProcCommand_TVP_Repro](https://github.com/ssa3512/DotNet_GetStoredProcCommand_TV

[2019-01-08 00:37] danmosemsft commented on #1565
@terrajobst do you want to create the proposal since this is something you'd like to get into NS21?

[2019-01-08 00:37] danmosemsft commented on #32905
@ahsonkhan for the question above.

[2019-01-08 00:46] danmosemsft commented on #33746
@MarcoRossignoli is this fixed, with your change? I'm now confused as to what this issue tracks that's left.

[2019-01-08 00:49] danmosemsft commented on #33602
@jaredpar since he may have comments on obsolete attributing..

[2019-01-08 01:11] pottenger1010 opened #34417 "LoadFromAssemblyPath exception when assembly uses generic constraints from internally referenced assembly."
As part of a dependency injection framework, I am performing a good deal of explicit assembly loading. I'm seeing a load failure if the assembly contains generics with a constraint which is defined in an internally referenced assembly. The `Assembly` object that is returned contains an error message from a silently thrown exception in its `Assembly.DefinedTypes`.
[code]

netcoreapp2.2 Loader.dll:

[2019-01-08 01:48] rocketRobin opened #34419 "System.Xml.XmlDocument.LoadXml(string xml) error with utf8 \u0010"
if a xml string contains char '\u0010', this function will throw
![image](https://user-images.githubusercontent.com/9987850/50804756-61179380-132a-11e9-99fc-40f10d8973ab.png)

[code]

[2019-01-08 01:53] davidsh commented on #34407
I see that the TLS/SSL certificate for X uses a wildcard certificate:
![image](https://user-images.githubusercontent.com/7684835/50804945-1acc2100-12a5-11e9-9104-dbdabe3a7a6d.png)

We have had some issues with validating wildcard certs on Linux.

What version of .NET Core are you using?

@bartonjs

[2019-01-08 03:17] Yucked commented on #34398
Hey @rmkerr

I was following this guide to implement resuming: https://github.com/Frederikam/Lavalink/blob/feature/resume/IMPLEMENTATION.md#resuming-lavalink-sessions

And in it, it says:

`Session-Resumed: true`

So, I thought perhaps they meant I should check my headers after doing `(await ClientWebSocket.ConnectAsync()).Headers`? but there is no such thing.

Perhaps something similar to this: h

[2019-01-08 05:02] jaredpar commented on #33602
@GrabYourPitchforks

I believe that we won't let you downgrade an obsolete error to a warning. Will let @agocke confirm.

[2019-01-08 05:03] karelz commented on #34270
I am not aware of any list of "breaking" changes like this one. AFAIK we have just a handful, they are not on main paths and/or are self-explanatory.
@mairaw any suggestion how to capture list of platform differences?

[2019-01-08 05:04] karelz commented on #20911
I would still like to make this investment - something I may ask you in upcomming months ;)

[2019-01-08 05:08] karelz commented on #17408
It is a test gap we would ideally cover, but it is a bit lower priority.

[2019-01-08 05:09] karelz commented on #32808
cc @wfurt if you are interested in tackling it ...

[2019-01-08 05:11] karelz commented on #30163
@terrajobst @bartonjs @ericstj what's your opinion?

[2019-01-08 05:13] karelz commented on #30623
@h0730303779 can you please provide more details - can you reproduce it repeatedly? On more than 1 machine?
Did you try to analyze the network traffic with packet capture tools?

[2019-01-08 05:18] h0730303779 commented on #30623
My two centos virtual machines are like this.
 But I solved it myself, I used docker  ;
No problems with WebClient in docker ;   thank you for your reply

[2019-01-08 06:51] MarcoRossignoli commented on #33746
@danmosemsft we need to merge https://github.com/dotnet/corefx/pull/33974 to fix it. The other PR is for guide that I fixed https://github.com/dotnet/dotnet-api-docs/pull/1467

[2019-01-08 06:58] PiGi78 commented on #34264
I'm sorry I can't help you.

If you'd like and/or need help, let me know what kind of issue I can start to investigate...
But I'm sorry: I'm new to develop any open source project (except few made by myself).
So, I'll need also some links to learn how to move for do the work.

Thank you in advance

[2019-01-08 07:06] madhub commented on #34061
Thanks for providing the milestone for fixing the issue.
Not fixing in 2.1 is a problem since 2.1 is LTS release , many organizations including ours relay LTS software for the deployment, please reconsider fixing it in 2.1 release.

I have one comment on your proposal for fixing the issue in  older release ( 2.1 or 2.2) .
I can change the **my self signed** certificate to include **Subject Alterna

[2019-01-08 07:50] tmds commented on #31713
@ajaybhargavb did you try this suggestion?

[2019-01-08 08:01] tmds commented on #22510
@bartonjs NuGet uses `ProtectedData` for encrypting passwords (https://github.com/NuGet/Home/issues/1851). Because it is not available, the only option on non-Windows is plain text passwords. mono has an implementation of `ProtectedData`. When the API is first used, a keypair is generated and stored in the file system with appropriate permissions. Then that key is used for encrypting/decrypting. P

[2019-01-08 08:23] AriNuer opened #34422 "Test "System.Runtime.InteropServices.Tests.Int16Tests.ReadInt16_StructWithReferenceTypes_ReturnsExpected" failed with Assert.NotEqual() Failure"
**Failed test:**
System.Runtime.InteropServices.Tests.Int16Tests.ReadInt16_StructWithReferenceTypes_ReturnsExpected

Error message
[code]
Stack trace
[code]
Details:
https://dnceng.visualstudio.com/internal/_build/results?buildId=67997&view=ms.vss-test-web.test-result-details

[2019-01-08 09:01] AriNuer opened #34423 "[arm\windows] Hundreds of tests failed with "The work item failed to produce any test results." without Stack trace"
**Job name:**
uap-Windows_NT-Release-arm-Windows.10.Arm64

Error message:
[code]

Details:
https://dnceng.visualstudio.com/internal/_build/results?buildId=67997&view=ms.vss-test-web.test-result-details

[2019-01-08 09:15] AriNuer opened #34424 "System.Net.Security.Tests failed with System.ComponentModel.Win32Exception"
**Job name:**
netcoreapp-Windows_NT-Release-x64-Windows.10.Amd64.Core

**Failed tests:**
System.Net.Security.Tests.ClientAsyncAuthenticateTest.ClientAsyncAuthenticate_AllServerVsIndividualClientSupportedProtocols_Success
System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success
System.Net.Security.Tests.ServerAsyncAuthentica

[2019-01-08 11:19] freworr commented on #33703
We have been testing the Httpclientfactory using named clients for a while now to consume SOAP requests moving away from the proxy class generated by adding a connected service. This seems to greatly improve the performance for the outbound requests. We did notice a strange behavior when the handler lifetime expired causing the outbound requests to timeout for a short period of time. So we increas

[2019-01-08 12:31] thargy commented on #33131
Sorry for the delay @ahsonkhan, I didn't notice you're excellent response!  I never realised the JIT could optimise for the throw condition, particularly as the throw is behind a static method invocation!  I always thought throws made things worse.  Or is it more that the method called never returns?

There is an 'argument' that the fact `GetPosition` _can_ throw will mean that consumers are more

[2019-01-08 13:02] ViktorHofer commented on #17408
We currently have 30 projects and nearly all of them are either net461 and/or net472 (netfx). All of these projects also target net472 (netfx) which means we cover all the necessary scenarios given the incremental nature of .NET Framework which "guarantees" non breaking changes. I don't see a need for additional net4x runs. Closing, please reopen if you disagree.

[2019-01-08 13:02] #17408 closed

[2019-01-08 13:49] ViktorHofer commented on #33524
I now understand the issue described here better. The perf that are finally working again runs for about 5h 50min to 6h 5min. Everything above 6h times out. We have various options here:

1) Leave it as it is (50% of the builds still succeed). Further infra work that I currently do should help here as it allows building much faster which should bring us down to ~5h 30m.
2) Migrate this job to Azur

[2019-01-08 14:09] #29360 closed

[2019-01-08 14:50] guillerot commented on #34225
Hi.
Does anyone have more information about this issue ?
Regards.

[2019-01-08 14:52] stephentoub opened #34426 "Potential mismatch in X509Certificates marshaling around X509_KEY_USAGE"
See discussion at https://github.com/dotnet/corefx/pull/34406#discussion_r245744936.

Ideally we can remove the `new Span<byte>(decoded, cb).Clear();` calls adding to workaround this as part of whatever fix is employed.

cc: @bartonjs

[2019-01-08 15:52] meixger commented on #34066
just my two cents:
The certificate on gateway.suhui.org is ECC (elliptic curve certificate).
IIRC System.Net.Http.HttpClient has problems accessing such a host with SNI Bindings and protocols TLS 1.0 and TLS 1.1.
Do you have TLS 1.2 in your library enabled?

[2019-01-08 15:52] meixger commented on #34066
just my two cents:
The certificate on gateway.suhui.org is ECC (elliptic curve certificate).
IIRC System.Net.Http.HttpClient has problems accessing such a host with SNI Bindings and protocols TLS 1.0 and TLS 1.1.
Do you have TLS 1.2 in your library enabled?

[2019-01-08 16:13] karelz commented on #17408
@ViktorHofer do we have guarantee that all the packages above are running on net461? (and those requiring higher version on net472)
If yes, I think it is fine to close this issue - most cases are covered.

How are those test runs monitored?

[2019-01-08 16:46] karelz commented on #23426
Why do you think it impacts "many" enterprise solutions? I see only 8 upvotes on the top issue, also we rarely hear about it from other channels.
The bottom line is that it is on our backlog, but not too high up. We have larger things to finish first: HTTP/2, proxy support for enterprise scenarios, etc.
I hope we will be able to get to issues like this post 3.0.

[2019-01-08 16:46] #34149 closed

[2019-01-08 16:48] ViktorHofer commented on #17408
If you mean by running that you reference them then yes, that is guaranteed by the "Packaging All Configurations x64 Debug Build" job. cc @safern who can probably add some details here.

[2019-01-08 16:52] karelz commented on #27468
So you can reproduce it only on .NET Framework, right? And it seems you are not using System.Net.Http package.
If that is correct, then the problem is outside of scope of GitHub - we do not track .NET Framework issues on GH - see https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback

I would also suggest to confirm if it is truly a memory leak, or just GC not kicking in. Y

[2019-01-08 16:56] karelz commented on #34325
Is it problem unique to .NET Framework? We do not track .NET Framework problems on GitHub, although it is the same set of people ...

[2019-01-08 16:59] AndyAyersMS commented on #33131
I would like to see this benchmarked as it is actually used somewhere.

I worry that benchmarking `GetPosition` this way via repeated back to back calls may have introduced some artifacts. The fact that this method returns a struct coupled with inlining, the two internal call sites, and the repeated calls with unused results expose some jit issues in effectively using the stack for temporary struc

[2019-01-08 17:00] karelz commented on #34326
ObsoleteAttribute is likely not the right thing to use, but we should come up with a way.
Closing as we won't move the namespace.

[2019-01-08 17:00] #34326 closed

[2019-01-08 17:01] #18245 closed

[2019-01-08 17:01] siberianguy commented on #23426
There's a long list of use cases which require choosing an ip address for a request. And it's not only complicated enterprise solutions. Here's our scenario. We're working with crypto exchanges and we have to be very careful with the amount of requests we're making from one ip address, so it's vital to be able to send requests under all the ip addresses attached to a server. We're struggling with

[2019-01-08 17:31] rmkerr commented on #34398
No problem! That info does help. Essentially what that is asking for is the last set of HTTP headers sent by the server before switching over to the WebSocket protocol. Unfortunately it doesn't look like we currently expose that information.

We do verify that a few headers required by the WebSocket protocol are included, but we don't look at any others:
https://github.com/dotnet/corefx/blob/adb4d

[2019-01-08 17:33] stephentoub commented on #34264
There are only two file lock modes on Unix: shared and exclusive.  So we map FileShare.None to exclusive and ~FileShare.None to shared.  From a file lock perspective on Unix, then, there's no difference between using FileShare.Read or FileShare.Write or FileShare.ReadWrite: it's creating a shared lock.  If in your code you change FileShare.Read to FileShare.None, you should see it behave the way y

[2019-01-08 18:01] blowdart opened #34427 "Microsoft Security Advisory CVE-2018-8416: .NET Core Tampering Vulnerability"
# Microsoft Security Advisory CVE-2018-8416: .NET Core Tampering Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET Core 2.1. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware of a tampering

[2019-01-08 18:02] blowdart opened #34428 "Microsoft Security Advisory CVE-2019-0545: .NET Core Information Disclosure Vulnerability"
# Microsoft Security Advisory CVE-2019-0545: .NET Core Information Disclosure Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET Core 2.1 and 2.2. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is

[2019-01-08 18:03] vancem commented on #31358
Addressed by #33662

[2019-01-08 18:03] #31358 closed

[2019-01-08 18:10] danmosemsft commented on #34096
@jkotas this looks like another case of just expose in contract and add tests - do you believe it's more work than that? Any reason I shouldn't do this?

As we noted elsewhere, there is a lot of Ref.Emit present in S.P.Corelib that is not exposed in contracts, and I believe we planned to make strategic changes only this release.

[2019-01-08 18:11] danmosemsft commented on #33612
@ericstj do you plan to look further? It would be good to know whether there is 3.0 work here.

[2019-01-08 18:19] danmosemsft commented on #29815
https://dnceng.visualstudio.com/internal/_build/results?buildId=68168&view=ms.vss-test-web.test-result-details
[code]
netcoreapp-Windows_NT-Release-x64-Windows.10.Amd64.ClientRS4

[2019-01-08 18:30] jkotas commented on #34096
Adding symbol/debugging support for reflection emit is a large (likely months) workitem. This is not a simple expose and add tests.

[2019-01-08 18:41] danmosemsft commented on #34422
One off? @AaronRobinsonMSFT any idea why this might suddenly fail?

[code]

@AriNuer in these test failure bugs could you please include the leg name (the OS configuration) that the test failed in? In this case it's `netcoreapp-OSX-Release-x64-OSX.1013.Amd64`. If you select the node on the left, you can Ctrl-C it from the right side.

[2019-01-08 18:44] danmosemsft commented on #34264
Agh, thanks @stephentoub I should have seen that.

[2019-01-08 18:57] safern commented on #34423
Closing as dupe of: #30399

[2019-01-08 18:57] #34423 closed

[2019-01-08 18:57] davidsh commented on #34407
@bartonjs Is this issue related to #34061 ?

[2019-01-08 19:10] AaronRobinsonMSFT commented on #34422
@danmosemsft I don't know off the top of my head, but @jkoritzinsky has been working with struct marshaling recently. The test seems right in this case, so something definitely wrong.

[2019-01-08 19:15] joperezr commented on #33643
Assembly version isn't wrong. Your NServiceBus.DataAnnotations dependency targets netstandard2.0 for which the assembly version of System.ComponentModel.Annotations is 4.2.0.0. That said, you are running on .NET Framework, for which this assembly has been patched in the package, and since it is patched, it has a new assembly version: 4.2.1.0. Because of this, NServiceBus.DataAnnotations will look

[2019-01-08 19:18] ajcvickers commented on #33643
I would also like to point out that I and the customer also tried adding binding redirects everywhere possible and still could not make this work.

[2019-01-08 19:31] dotnetchris commented on #20296
It's absolutely bonkers we need to write this atrocious code. HttpClient is the leakiest abstraction ever created by Microsoft

[2019-01-08 19:34] Uzza commented on #27468
I just checked, and the GC fires sparsely, but the memory is still not released. Manually triggering have no difference.
However, since I was running 4.6.1 I decided to try newer versions, and it seems the issue was resolved in 4.7.2 since my sample code works without any issues there.

[2019-01-08 19:47] MattGal opened #34430 "Official CoreFX builds need to set enableTelemetry=true"
@safern FYI.  Whenever kicking off an official build, if you set this property to be true we'll enable automated build failure analysis and logging to the Helix database, and track infrastructure-related problems.

(@robertborr FYI too)

[2019-01-08 19:49] davidsh commented on #34407
This is the TLS/SSL certificate that is being used during the SMTP "StartTLS" upgrade:

[server_cert.zip](https://github.com/dotnet/corefx/files/2738227/server_cert.zip)

[2019-01-08 19:49] safern commented on #34430
Yeah. It is on my TODO list :smile:

[2019-01-08 20:11] joperezr commented on #33643
Oh I see I did get a repro with the NServiceBus test, so the Test2 project. That happens because by default we don't generate dll config files so there is no way to set the binding redirect in that case. In order to force generate the dll config with the binding redirect, just add `<GenerateBindingRedirectsOutputType>true</GenerateBindingRedirectsOutputType>` property to that project and try to bu

[2019-01-08 20:12] ericstj commented on #33612
I was able to reproduce and root cause this issue.  I've filed a WPF issue here: https://github.com/dotnet/wpf/issues/245

If you'd like to workaround this you can add a static constructor to your application (or whatever code runs *very* early in your tests) that does the following:
[code]

[2019-01-08 20:12] #33612 closed

[2019-01-08 20:17] Tornhoof commented on #34330
Does it make sense to have string.Concat for ``ReadOnlySequence``? To concat each segment?

[2019-01-08 20:23] caesar1995 commented on #27468
@Uzza Did you use a proxy? If so, see comment here: https://github.com/dotnet/corefx/issues/27468#issuecomment-385540888

[2019-01-08 20:30] Uzza commented on #27468
@caesar1995 No proxy.

[2019-01-08 20:37] ajcvickers commented on #33643
@joperezr Yep, tried that too. Didn't work for me.

[2019-01-08 20:42] davidsh commented on #32409
Yes, you're correct.  As of .NET Core 2.1, `HttpRequestMessage.Version` default value is 2.1.

I will submit a documentation PR to get this updated.

[2019-01-08 20:45] GSPP commented on #31722
AES has fixed IV and key size. The data could be copied out into a field (not an array).

[2019-01-08 20:51] natemcmaster opened #34434 "System.Threading.ExecutionContext throws InvalidOperationException in 3.0 on macOS. "Cannot call Set on a null context""
Attempting to update https://github.com/aspnet/Extensions to the latest 3.0 builds is causing our macOS tests to fail.

See https://github.com/aspnet/Extensions/pull/914

[code]

#### To reproduce

1. Clone https://github.com/aspnet/Extensions/tree/249bb27800d02610d787b8a01b233fca67aa4b99and
2. Run `build.sh` on macOS.

#### Details

Using corefx 3780052026bd1fe2e18469b216f20786b4ca20aa and https:

[2019-01-08 20:53] natemcmaster commented on #34434
cc @Eilon  - I've marked this as partner-blocking because we cannot update aspnet/Extensions until this is resolved. Tests consistently fail with latest corefx builds.

[2019-01-08 20:57] joperezr commented on #33643
The only reason why that wouldn't work would be if the NServiceBus host doesn't honor the dll config when starting up an AppDomain. If you launch(and enable) the fuslogvw utility you should be able to see when the error happens, to see if the host looked at the dll config or not.

[2019-01-08 20:59] vanillajonathan commented on #34326
Is it possible for a namespace move to be reconsidered at a later time, such as for .NET Core 4 or 5?

[2019-01-08 21:04] ajcvickers commented on #33643
@joperezr I was trying to make the repro from work https://github.com/aspnet/EntityFrameworkCore/issues/13268. I don't think NServiceBus was involved. I and the customer likely did something wrong.

If there is clear guidance somewhere on what should work, I'll point people to that and let it be. However, everything that has been mentioned here so far as already been suggested before and found not

[2019-01-08 21:04] davidsh commented on #34326
Realistically, no.  There is no precedent in .NET to change an existing type to a different namespace, especially one that has existed for such a long time.  It would be very disruptive to the ecosystem.

We continue to look for other ways to educate developers and improve the development tools to assist devs in finding the right APIs for their tasks.

[2019-01-08 21:06] ajaybhargavb commented on #31713
No. I'm not sure how to modify the docker run command in the CI. We don't have any control over how the agents are created in VSTS.

[2019-01-08 21:08] SimonCropp commented on #33643
IMO no binding redirect should be needed when referencing a single version of one package.

[2019-01-08 21:14] benaadams commented on #34434
Suppressed flow case; should be easy enough to fix

[2019-01-08 21:16] terrajobst commented on #33968
Modulo a few feedback items [we discussed today](https://www.youtube.com/watch?v=e1nUhoqMJn8) I think we can mark the API as approved.

[2019-01-08 21:17] couven92 commented on #33968
Concerning the discussion about reading streams. How about if you would add support for parsing a `PipeReader`?

[2019-01-08 21:33] 2E0PGS opened #34437 "Process.GetProcesses returns truncated 15 char string on Linux"
When using `Process.GetProcesses()` in dotnet core it returns the `Process.ProcessName` property fine under Windows as expected.

However when ran under Linux (Tested on Ubuntu 17.04) it seems to return process names as 15 char long strings. It truncates the process names to all be 15 char long strings.

My applogies if there is an issue for this somewhere under another repo. I found there was suc

[2019-01-08 21:49] wfurt commented on #20893
it did not fail in last three months. It seems like old intermittent infrastructure problem.

[2019-01-08 22:00] caesar1995 commented on #32305
Notice there is a issue in api docs repo: https://github.com/dotnet/dotnet-api-docs/issues/843

[2019-01-08 22:12] Eilon commented on #34434
I pinged @MeiChin-Tsai by email.

[2019-01-08 22:46] danmosemsft commented on #34437
Thanks for the pointer to the MacOS bug fix. It seems Linux has a similar limit. Here is a process with a 30 character name, only 15 show:
[code]

This is because `/proc/<PID>/stat` gets the value from [task_struct](https://github.com/torvalds/linux/blob/35004f2e55807a1a1491db24ab512dd2f770a130/fs/exec.c#L1227) which is TASK_COMM_LEN chars ([sched.h](https://github.com/torvalds/linux/blob/master/i

[2019-01-08 22:48] davidsh commented on #34407
@bartonjs I was able to repro this problem using 2.1.6.  So, it's not fixed in that release.

[code]

[2019-01-08 22:48] danmosemsft commented on #34437
It looks like `/proc/<PID>/exe` is one way to get the full file name
[code]

[2019-01-08 22:49] caesar1995 commented on #29175
@p2atran Have you tried [.NET Core 2.2](https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-2.2.102-windows-x64-installer)? Are you still having this issue?

[2019-01-08 22:51] Hobray commented on #20296
I agree that it seems rather short sighted to not include more specific exception information around timeouts. Seems like a pretty basic thing for people to want to handle actual timeouts differently than cancelled token exceptions.

[2019-01-08 22:53] davidsh commented on #34407
And setting the environment variable doesn't seem to help either:

[code]

[2019-01-08 22:54] danmosemsft commented on #34437
It looks like we already get the full exe path from this file. We just need to use it a few lines higher up (cropping off the path) instead of the stat entry

https://github.com/dotnet/corefx/blob/e0ba7aa8026280ee3571179cc06431baf1dfaaac/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs#L76-L85

[2019-01-08 22:55] danmosemsft commented on #34437
@2E0PGS any interest in making this change, with a unit test?

[2019-01-08 23:02] davidsh commented on #32409
Closing this issue since the documentation PR has been submitted and merged.

[2019-01-08 23:02] #32409 closed

[2019-01-08 23:09] ajaybhargavb commented on #31713
I was wrong.  There is a way to pass arguments to startup. I just tried it and the test passed 🍾. Thanks!
Is `--init` something we should always be passing in? Or is this just a workaround for a different bug?

[2019-01-08 23:13] PiGi78 commented on #34264
Thank you!
It seams to work...

Just for know: why didn't you raise a NotSupportedException?
It will give lot of advantages:
- The library doesn't work as expected, so better have an exception than an unexpected behaviour
- With the exception, anybody will understand that the code doesn't work on the OS and can change the code with easy (simply check the kind of OS where the library is running and

[2019-01-08 23:13] #34264 closed

[2019-01-08 23:13] 2E0PGS commented on #34437
Thanks for pulling out those lines and doing a few basic tests.

I will have a further look at the code base and check what unit tests are in place at the moment.

I will try give it a shot if I get some free time. Otherwise I will let you know if I am too busy to make the change.

[2019-01-08 23:21] danmosemsft commented on #34437
OK, thanks. As for Mac it seems we do not use /proc/../stat but it would be nice to have a test (need not be you of course)

[2019-01-08 23:23] Anipik opened #34444 "SetAllZeroVector256, SerAllVector256 Moved to Vector256 from Avx"
There is inconsistency between the coreclr and corefx. we moved some of the functions like

SetAllZeroVector256
SetAllVector256

to vector 256 class from Avx but they are still present in the ref assembly
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs#L626

Due to this when we try to use any of these method we get
[code]
Repro Program
[c

[2019-01-08 23:31] caesar1995 commented on #33753
@denadr Any updates?

[2019-01-08 23:34] AaronRobinsonMSFT commented on #34422
@danmosemsft Working with @jkoritzinsky, I think we found the culprit. It was definitely a one off, but can happen again. I have submitted a more robust check with #34445.

[2019-01-08 23:35] wfurt commented on #34355
It seems like documentation suggests that socket exception _can_ happen. https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.beginconnect?view=netcore-2.2 I don't think we can really fix observed behavior as well as there simply may be timing race.

[2019-01-08 23:36] caesar1995 commented on #34255
Dupe of: https://github.com/dotnet/corefx/issues/31036#issuecomment-435469812

We can track the issue there - it currently targets 3.0 as well.

[2019-01-08 23:36] #34255 closed

[2019-01-08 23:42] #34430 closed

[2019-01-08 23:42] bartonjs commented on #34407
@davidsh Weird.  My chain printing tool says it's valid using default options on the chain with the 2.1.7 build (sdk 2.1.503) on Ubuntu 16.04.  My 18.04 is taking a really, really long time to boot up; so I haven't been able to check it there.

The X509Chain object will report why it's not happy, I recommend seeing what it says is wrong.

[2019-01-08 23:49] danzil opened #34447 "The type 'PermissionSet' exists in both 'System.Runtime.Extensions' and 'System.Security.Permissions'"
This is a recent regressions.

I just updated my local WPF repo to use ‘SDK 3.0.100-preview-010024’ and that breaks System.Xaml compilation. The SDK I had previously (3.0.100-preview-009764) works just file.

System\Xaml\Runtime\DynamicMethodRuntime.cs(43,16): error CS0433: The type 'PermissionSet' exists in both 'System.Runtime.Extensions, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f

[2019-01-08 23:51] danzil commented on #34447
@rladuca found these similar reports which may be related: #34368 and #34308

[2019-01-09 00:01] danmosemsft commented on #34444
Good find, I'm curious how this got past APIcompat as well.

[2019-01-09 00:05] caesar1995 commented on #32305
Merged in https://github.com/dotnet/dotnet-api-docs/pull/1546

[2019-01-09 00:05] #32305 closed

[2019-01-09 00:14] danmosemsft commented on #34419
I'm not an XML person, but are you sure that's valid XML? Looking at
https://www.w3.org/TR/REC-xml/#sec-comments

the grammar for comments is
`[15] | Comment | ::= | ''-- | -- | -- | --`

where `Char` is defined by
`[2] | Char | ::= | #x9 | #xA | #xD | [#x20-#xD7FF] | [#xE000-#xFFFD] | [#x10000-#x10FFFF] | /* any Unicode character, excluding the surrogate blocks, FFFE, and FFFF. */`

That doesn't

[2019-01-09 00:19] danmosemsft commented on #34447
@joperezr @ericstj could one of you please help figure out the resolution to these linked issues? Beyond my expertise.

[2019-01-09 00:20] danmosemsft commented on #34419
`&#x10;` should work

Please reopen if I missed something.

[2019-01-09 00:20] #34419 closed

[2019-01-09 00:40] tannergooding commented on #34444
Got a fixup here: https://github.com/dotnet/corefx/pull/34449

I got @ericstj to stop by and take a look and it appears that there were (still are) multiple issues with GenAPI, including:
* The reference assembly was listed as one of the implementations in ApiCompat
* ApiCompat wasn't able to resolve the location of S.P.Corelib
* ApiCompat, when it could resolve S.P.Corelib didn't fail due to the

[2019-01-09 00:42] Yucked commented on #34398
Omg, thank you!

[2019-01-09 00:59] karelz commented on #32305
Thanks @caesar1995 for making the change!

[2019-01-09 01:00] ericstj commented on #34444
Reference path was being passed as an implementation candidate.  Even though this is last it seems dangerous since it could mean API compat is potentially diffing the same files.  Looking at https://github.com/dotnet/arcade/blob/3220be53ac764d9ee160b0bc64baa492af219aa7/src/Microsoft.DotNet.ApiCompat/build/Microsoft.DotNet.ApiCompat.targets#L46 this appears to be expected, but a better alternative

[2019-01-09 01:01] karelz commented on #34255
Duplicate of https://github.com/dotnet/corefx/issues/31036

[2019-01-09 01:03] karelz commented on #33305
Closing for now as not actionable. Feel free to reopen if there is a repro / actionable information for us. Thanks!

[2019-01-09 01:03] #33305 closed

[2019-01-09 01:08] ericstj commented on #34447
That new SDK will be delivering a new System.Runtime.Extensions via the shared framework.  We moved types down from S.S.Permissions into S.R.E.  We left type-forwards behind so it is binary compatible, but you need to update the reference of S.S.Permissions to the new one so that the compiler knows which typedef to use.

You need to update your System.Security.Permissions reference to be in sync.

[2019-01-09 01:22] #26939 closed

[2019-01-09 01:43] morganbr commented on #34182
Adding @mconnew for WCF thoughts since I think that's the primary usage. In WCF, or anything else that just proxies to another implementation, I'd think that the preferred choice would just be to send the call along to Invoke since it's general-purpose code that can find the target via reflection (and would correctly choose whether to use the default interface implementation).

[2019-01-09 02:15] karelz commented on #34033
I don't know about a way forward without additional info or simple repro. Closing.
We can reopen if more people are affected or when there is actionable info available

[2019-01-09 02:34] #34434 closed

[2019-01-09 02:37] timmydo commented on #34033
@karelz  This issue occurs regularly (every minute) if there is a lot of traffic. I tried ramping up some to this new environment today and had to take it down due to crashes. The stack trace usually appears at the end of the logs, so I would suspect that it's fatal whatever it is. I will try to narrow down which dependency is at fault, but like I said above, I suspect it's related to the http cli

[2019-01-09 02:38] #34444 closed

[2019-01-09 02:48] AriNuer opened #34454 "TimerFiringTests Failed in netcoreapp-Windows_NT-Release-x86-Windows.7.Amd64"
**Job name:**
netcoreapp-Windows_NT-Release-x86-Windows.7.Amd64
**Failed tests:**
TimerFiringTests.Timer_ManyDifferentSerialSingleDueTimes_AllFireWithinAllowedRange(dueTimes: [200, 300, 400])
TimerFiringTests.Timer_ManyDifferentSerialSingleDueTimes_AllFireWithinAllowedRange(dueTimes: [332, 333, 334])
TimerFiringTests.Timer_ManyDifferentSerialSingleDueTimes_AllFireWithinAllowedRange(dueTimes: [333]

[2019-01-09 03:31] natemcmaster commented on #34434
Wow, fast turnaround. Thanks!

[2019-01-09 03:32] danmosemsft commented on #34444
Can we please have an active issue for the genapis?

[2019-01-09 03:33] danmosemsft commented on #34434
thanks for jumping on that  @benaadams

[2019-01-09 03:34] stephentoub opened #34455 "Frequently hit app manifest error while trying to run tests"
Repro:
[code]
produces:
[code]
and crashes.

cc: @ViktorHofer

[2019-01-09 04:09] ahsonkhan commented on #34372
cc @KrzysztofCwalina, @jkotas, @glennc, @terrajobst  as an FYI (**note:** this is still WIP)

[2019-01-09 04:41] rynowak commented on #34372
My feedback in a rough stream-of-consciousness format.

On JsonConverter, we will need the ability to specify the type dynamically as an argument - in addition to the generic overloads. Without this, it will really cause a lot of folks to use a workaround to call the generic version with `MakeGenericMethod`. It's OK to box in this case.

`JsonConverterSettings` seems like it has a mashup of settin

[2019-01-09 05:34] gr8tushar commented on #26085
Hi,
I was also facing this issue. Manually updating the file helped.
Any plans of fixing this in next release ?

[2019-01-09 06:41] Tasteful commented on #34428
@blowdart When I check https://www.nuget.org/packages/System.Net.Http/ the latest version of the package is `4.3.4`, when will the new `4.3.5` package be available?
![image](https://user-images.githubusercontent.com/357589/50881421-c7132200-13e1-11e9-85ee-adef99efc1b1.png)

[2019-01-09 07:47] tmds commented on #31713
This is expected behavior. Orphaned children are cleaned up by the PID 1 process. Adding `--init` adds a PID 1 process that will do that.

To get into a state with orphaned children, you need a PID 1 that has grand children that survive their  parents. If you can get into such a situation, you should add the `--init` flag.

[2019-01-09 07:59] tmds commented on #34316
@joperezr Microsoft Alpine .NET Core 2.2 images are based on Alpine 3.8. Because 3.8 isn't in the 2.2 rid graph, weird issues will happen.

[2019-01-09 08:34] siberianguy commented on #23426
@karelz I definitely see where you're coming from but I believe the analysis should be more in-depth than "how many people are influenced by this". I'm pretty sure if we sit together and go through the changes list for 3.0 we will find a bunch of really optional things. Yes, they likely cover wider audiences but they're minor improvements that don't influence those wider audiences' life that much.

[2019-01-09 10:53] #33965 closed

[2019-01-09 10:54] benaadams commented on #34434
@natemcmaster I'm keen to see those dependencies updated 😄

[2019-01-09 11:03] marekhanzlik commented on #30623
I'm not really sure now (it was some time ago) but i think i've fixed this problem by installing CURL in my docker container (had this problem in container)

[2019-01-09 11:11] geoffkizer opened #34459 "HTTP2: Rework existing loopback-based tests to be protocol version neutral, where applicable"
We have a lot of loopback-based tests that are HTTP/1.1 specific.

Most of these apply to HTTP2 as well. We should:
(1) Implement a loopback server abstraction that allows tests to run against either an HTTP/1.1 loopback server or an HTTP2 loopback server (and other versions in the future)
(2) Modify applicable loopback-based tests to use this abstraction

[2019-01-09 11:12] geoffkizer opened #34460 "HTTP2: Rework existing remote server tests to run against remote HTTP2 endpoint also"
We have a lot of remote server tests that are currently only running against the HTTP/1.1 remote endpoint.

We should modify these to run against the remote HTTP2 endpoint as well.

[2019-01-09 11:43] geoffkizer opened #34461 "HTTP2: Incorrect handling of frames received on closed stream"
Per RFC section 5.1:

[code]

The EmptyResponse_FrameReceived_ResetsStream test is incorrect and should be changed.

@rmkerr

[2019-01-09 11:53] geoffkizer commented on #34461
Similar issue in the following tests:

CompletedResponse_FrameReceived_ResetsStream
ResetResponseStream_FrameReceived_ResetsStream

[2019-01-09 11:59] geoffkizer opened #34462 "HTTP2: Make HTTP2 tests run against platform handlers"
We have some HTTP2-specific tests in SocketsHttpHandler.Http2.cs.

These are currently only running against SocketsHttpHandler. To ensure consistent behavior, we should make these run against platform handlers as well, at least to the extent reasonably possible.

[2019-01-09 12:04] manuscrypt commented on #34340
What was the workaround here?

[2019-01-09 12:38] theimowski commented on #31358
Thanks a lot for this!

[2019-01-09 12:58] seagulledge commented on #23426
I have another example:
If the 'default' network IP address is NULL routed due to a DDoS mitigation.
A web site can still be accessed via other another IP address by clients, but if the web service needs to make a server side call using HttpClient to an external resource, the call will fail to connect, since its source IP will be the NULL routed default IP on the server.

[2019-01-09 14:39] mikhailovalex opened #34465 "INotifyPropertyChanged does not work as expected in the WinForms app."
* .NET Core Version: 3.0.100-preview-009844
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
Change property value doesn't affect controls if we use a Control.DataBindings property. It looks like a compatibility bug.

**Minimal repro:**
1. Create a new WinForms Core App.
2. Replace the following Code into the Form's code-behind:
[code]
3. Click the button.

*

[2019-01-09 15:12] Suchiman opened #34466 "HttpClient ignores WebRequest.DefaultWebProxy"
Right now there's no way to coerce all web requests of a specific application through a specific configured proxy since `HttpClient` disregards `WebRequest.DefaultWebProxy` and only respects `SystemProxyInfo.ConstructSystemProxy()`.
`HttpWebRequest` and `WebClient` who just wrap `HttpClient` explicitly take care of assigning `HttpClientHandler.Proxy = WebRequest.DefaultWebProxy` but if this is lef

[2019-01-09 15:32] MarcoRossignoli commented on #34122
@danmosemsft @karelz @safern @maryamariyan if you agree I would update also guide https://docs.microsoft.com/en-us/dotnet/api/system.drawing.icon.extractassociatedicon?view=netcore-2.2#exceptions if we'll merge.

[2019-01-09 15:41] eerhardt commented on #34316
IMO - at a minimum we need to add alpine 3.8 to the RID graph for 3.0. And we probably need to be adding it to the RID graph for 2.1 and 2.2 since we claim we support "`Alpine Linux 3.7 or later versions`" (see [Linux Prerequisites](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x)).

Without this RID in the graph, we are not supporting Alpine 3.8.

[2019-01-09 15:48] MichaelSimons commented on #34316
As @eerhardt mentions, Alpine 3.7+ is our official support statement for 2.* and 3.0 therefore it seems pertinent that this issue is addressed.

cc @richlander, @leecow

[2019-01-09 16:06] Najsr commented on #34340
I loaded them via File.ReadAllBytes to byte array.

[2019-01-09 16:10] bartonjs commented on #30163
So long as it's consistent (a < b means b > a) I'm fine with deciding that null is the lowest, or highest, value.

[2019-01-09 16:18] blowdart commented on #34428
@leecow any idea what's going on here?

[2019-01-09 16:18] karelz commented on #26085
cc @wtgodbe

[2019-01-09 16:35] adamsitnik commented on #33732
@ViktorHofer big thanks for the fix! I am going to assign the issue to you since you are the person who has fixed it

[2019-01-09 16:36] adamsitnik commented on #33622
@ViktorHofer thank you for fixing it!

[2019-01-09 16:55] ViktorHofer commented on #34455
cc @ericstj @safern. I'm not sure yet what is causing the regression. @ahsonkhan told me that he is hitting this more frequently now.

[2019-01-09 17:00] ericstj commented on #34444
I think you mean API Compat, right?

[2019-01-09 17:04] poizan42 commented on #34122
Well, I can easily make a PR for just removing the lines :D - but for any tests I need to set up a develop environment, and I'm currently in the middle of moving apartments, so I probably won't have time for that in the next two weeks.

[2019-01-09 17:08] ViktorHofer commented on #34455
Unfortunately not reproing for me locally :(

[2019-01-09 17:14] spushpendra2000 opened #34469 "System.IO.Enumeration.FileSystemEnumerator`1.FindNextEntry Input/output error"
Any idea about this .netcore 2.0 exception.

20885 1     01/09 11:54:16 ### ### launchKestrel - Exception Message [Input/output error]
20885 1     01/09 11:54:16 ### ### launchKestrel - Exception Source [System.IO.FileSystem]
20885 1     01/09 11:54:16 ### ### launchKestrel - Exception StackTrace [   at System.IO.Enumeration.FileSystemEnumerator`1.FindNextEntry()
   at System.IO.Enumeration.FileSy

[2019-01-09 17:15] ViktorHofer commented on #33732
You are welcome :)

[2019-01-09 17:15] rladuca commented on #34447
@ericstj This is a better question for @danzil as he is working on the specific repo where this is occurring.

[2019-01-09 17:17] ericstj commented on #34447
@rladuca if I understand correctly he's working on http://github.com/dotnet/wpf and the problems I point out above are issues with that repository.

[2019-01-09 17:24] tannergooding commented on #34444
I created https://github.com/dotnet/arcade/issues/1730 to track the overall issue that still remains

[2019-01-09 17:24] ericstj commented on #34447
Closing this issue in favor of this: https://github.com/dotnet/wpf/issues/248.

[2019-01-09 17:24] #34447 closed

[2019-01-09 17:33] Xeeynamo opened #34472 "Uri.Authority does not follow RFC 3986"
According to RFC 3986 (https://tools.ietf.org/html/rfc3986) paragraph 3.2, the Authority of a URI is composed by

. But both .Net Framework and .Net Core returns only

ignoring the userinfo. I don't think that's the expected behaviour, unless it was intentional.

`        [Theory]`
`        [InlineData("", "scheme:path")]`
`        [InlineData("host", "scheme://host")]`
`        [InlineData("host:

[2019-01-09 17:43] natemcmaster opened #34473 "Missing System.Threading.Tasks.Extensions from latest 3.0 builds. Intentional?"
Just noticed that System.Threading.Tasks.Extensions is no longer getting produced from 3.0 Preview 2 builds, so current builds of aspnet are using a stale dependency. Was this package intentionally dropped? There was a 3.0 Preview 1 version of this package.

cc @tarekgh

[2019-01-09 17:46] RyadaProductions commented on #33833
@joperezr I would love to do that. Although I am not entirely sure what a formal Api proposal means. Do I just need to make a PR for this issue with the proposed changes?

[2019-01-09 17:47] tannergooding commented on #33833
See the process outlined here. https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md#steps

There is also a "good example" which gives the recommended layout/template of the issue

[2019-01-09 17:50] danzil commented on #34447
Thanks for looking at this @ericstj - I'll look at the package versions we use there

[2019-01-09 17:55] davidsh commented on #34472
@rmkerr

[2019-01-09 17:56] davidsh commented on #34472
ignoring the userinfo. I don't think that's the expected behaviour, unless it was intentional.

Yes, it was intentional.  System.Uri in general doesn't support the username/password information because it is considered an insecure way of passing credential information.

[2019-01-09 18:00] wfurt commented on #23426
There was discussion while back about ability to pass socket to SocketHttpClient. Maybe we should look at proposal from @geoffkizer. That should not be that difficult to add and it solves some other use cases as well.

[2019-01-09 18:03] danmosemsft commented on #34444
Uh, yes.

[2019-01-09 18:05] timmydo commented on #34033
Could this be related to #18851 ?

[2019-01-09 18:05] ericstj commented on #34455
I can repro.  It looks like something is rewriting the deps file in the testhost directory.  To workaround you can rerun dotnet msbuild src\dirs.proj /t:GenerateTestSharedFrameworkDepsFile.

I didn't catch what overwrote that deps file but I suspect its one of the depproj's.

[2019-01-09 18:13] ViktorHofer commented on #33550
@stephentoub just pinged me that this now happens more regularly and IMO requires immediate action. I will look into what can be done here based on @MattGal's recommendation (https://github.com/dotnet/corefx/pull/33539#issuecomment-439983180).

cc @danmosemsft

[2019-01-09 18:14] stephentoub commented on #34473
This was done explicitly by @jkotas here:
https://github.com/dotnet/corefx/commit/f83cc7ec2e4aadf07c0f943a50906a144ad2e544
https://github.com/dotnet/corefx/pull/34218#issuecomment-449809768

[2019-01-09 18:18] danmosemsft commented on #34368
@ericstj is this another dupe of dotnet/wpf#248 ?

[2019-01-09 18:23] rmkerr commented on #34472
What David said is accurate. This is by-design, and the behavior is described in our documentation:

While `Authority` as described in the spec does contain userinfo, it's much more common for users to need just the host and port. If you do need to include userinfo, the best approach is probably to use [GetComponents](https://docs.microsoft.com/en-us/dotnet/api/system.uri.getcomponents?view=netcor

[2019-01-09 18:23] #34472 closed

[2019-01-09 18:24] davidsh commented on #23426
I don't think having callers manage individual sockets is the right approach.

.NET Framework already had a design for this to allow HttpWebRequest users the ability to control the creation of a socket when a new connection is required.  It involved the use of a callback [BindIPEndPointDelegate](https://docs.microsoft.com/en-us/dotnet/api/system.net.bindipendpoint?view=netframework-4.7.2)

I think

[2019-01-09 18:31] davidsh commented on #34466
@karelz

[2019-01-09 18:33] davidsh commented on #34462
I am concerned about the value in this.  The specifics of other HTTP/2 implementations are not necessarily something we should be testing against.  We have no ability fix other implementations such as WinHTTP, WinInet (UWP) etc.  So, why have protocol specific tests against them?

We would probably end up skipping many of those tests due to specific differences in those implementations.

[2019-01-09 18:41] tarekgh commented on #34473
@natemcmaster I am closing this issue per the offline discussion and your confirmation referencing 4.5.2 worked fine.

for the record:
here @jkotas comment

[code]

and is @joperezr comment

[code]

[2019-01-09 18:41] #34473 closed

[2019-01-09 18:42] terrajobst commented on #33717
@bartonjs

Should we put this in the 3.0 milestone?

[2019-01-09 18:42] ajaybhargavb commented on #31713
Okay then it looks like there is no action here and this issue can be closed.

Could you please elaborate this a bit more? I'm not sure I fully understand.

[2019-01-09 18:55] ViktorHofer commented on #34455
@ericstj could you please take a look as it repros for you?

[2019-01-09 19:00] bricelam commented on #34055
Similar issue for .NET Core on Unix: aspnet/EntityFrameworkCore#14354

[2019-01-09 19:04] mconnew commented on #34182
I agree with @morganbr. DispatchProxy was created as a replacement for the .NET remoting transparent proxy feature that WCF uses on .NET Framework in order to create an object at runtime which can be cast to an interface and send the method call to a remote service. With the concrete usage that WCF has for DispatchProxy (service contract interfaces), default interface methods make zero sense to us

[2019-01-09 19:12] safern commented on #26085
First I would like to understand the way the library is being consumed. From the comments above, I see that the way it is being consumed is not correct on the way we designed this, and other nuget packages where the netstandard implementation assembly throws platform not supported, but we indeed have an implementation assembly for all runtimes (netstandard compatible) where we support this.

I see

[2019-01-09 19:32] geoffkizer commented on #23134
We can close it.

[2019-01-09 19:32] #23134 closed

[2019-01-09 19:52] rmkerr commented on #34461
The spec gives this contradictory advice in section 6.1:

I guess that could mean we're supposed to send both, but that seems odd. Given that the advice in section 5.1 is more strict, I think that you're probably right and we should be sending a connection error.

[2019-01-09 19:55] safern commented on #34455
I tried reproing this locally as well to try and help, but I haven't being able to repro it either.

[2019-01-09 20:07] seagulledge commented on #23426
An ISP may elect to NULL route an IP address on a server when there is a severe enough attack.
Secondary assigned IP addresses can still be used on the same network card when that happens, but outbound HTTPClient calls will fail.  Hard to say how common the problem is, but we ran into this issue today.

[2019-01-09 20:10] pakrym commented on #29258
Are we going to backport the implementation of `RuntimeFeature.IsSupported` to 2.1/2.2?

If we don't, any app that's targeting netcoreapp lower then 3.0 and using `RuntimeFeature.IsSupported("IsDynamicCodeCompiled")` would be told that compilation is not supported.

[2019-01-09 20:31] geoffkizer commented on #34461
Yeah, the spec seems to be rather inconsistent about how to handle stream states in general, unfortunately.

I discovered this issue by trying to run the existing HTTP2 tests against WinHttpHandler. My inclination here is to make our behavior match WinHTTP, unless we have a really good reason not to. That said, I'm not sure it matters much, really, since these sorts of things are error cases and s

[2019-01-09 20:43] GammaFour opened #34478 "Feature Request: Transaction Information in call to Commit, Prepare and Rollback."
This has been a constant annoyance to me for over a decade now.  I have **ReaderWriterLock**s that protect resources in multi-threaded operations.  I can't release the lock on these resources until the transaction is completed.  Releasing locks in an environment that exploits async and await means you can't depend on thread affinities, you need to associate the locks with a transaction (or some hi

[2019-01-09 21:01] k0st1x opened #34479 "System.Drawing - Font is not scaled on Bitmap with scaled Resolution (Linux platform)"
On the Windows platform the Font size (with GraphicsUnit.Point) will increase proportionally depending on the resolution of the Bitmap.
but not on the Linux platform.
sample code:
[code]
the output "test" string on the Linux platforms will not be enlarged.

[2019-01-09 21:01] karelz commented on #30163
@stukselbax ok, you have green light on the PR - thank you!

[2019-01-09 21:06] ahsonkhan commented on #34455
For what it's worth, I see this issue every time I change sources and rebuild before running tests.

[2019-01-09 21:08] karelz commented on #23426
@seagulledge thanks for context. If we find out it is more common scenario and not just rare one off, we might use it to raise priority.
Such situation means that the SW has to be adapted to it as well and configured. Which is unlikely if they didn't run into it before. So it will be about how common it is.

[2019-01-09 21:16] ericstj commented on #34368
Nope

It's intentional that PermissionSet does nothing.  CAS was brought back only for compile-time compatibility.  The technology itself is not supported in Core.  See https://github.com/dotnet/corefx/issues/9482.

[2019-01-09 21:44] davidwrighton commented on #34124
Could you specify what the message would be at least in our initial implementation? I don't think it needs to be formalized, but an idea of what the exception text would look like would be helpful.

[2019-01-09 22:14] igormcoelho commented on #34055
Should I close https://github.com/aspnet/EntityFrameworkCore/issues/14354 ?

[2019-01-09 22:16] danmosemsft commented on #34422
Good deduction, thanks.

[2019-01-09 22:19] danmosemsft commented on #34469
@spushpendra2000 thanks for the report, but this is not enough to make progress. We need info like -

What is the machine configuration - the OS/distro?
Does this always happen? What changed around the time it started to happen?
Anything special about the setup?

Assuming this is Linux again can you please run `strace -v` and share the output. Please redact anything in it that is private: feel fre

[2019-01-09 22:20] ericstj commented on #34455
I was already in repro state, haven't yet "caught it in the act"

[2019-01-09 22:20] tarekgh commented on #34076
@terrajobst

Please update the specs if you think we need to add more types to the list. I'll start working on that soon.

[2019-01-09 22:58] ericstj commented on #34455
So taking a look at a the actual package runtime.win-x64.microsoft.netcore.app\2.1.3 it doesn't contain apphost.exe.  So it looks like this is some change made by a previous run of GenerateTestSharedFrameworkDepsFile then a delete.  I'll try @stephentoub's repro from clean state to see if I can see what's going on.

[2019-01-09 23:21] steveharter commented on #34372
Yes that makes sense. The API is still being defined, and this issue wasn't meant to be complete at this point.

Currently those simple settings are in JsonPropertyAttribute which can be "added" at run-time. If too verbose we may just place those right on JsonConverterSettings.

Yes, of course.

Thanks. I updated the description and implementation to use an interger-based array which is looking ve

[2019-01-09 23:33] ericstj commented on #34071
No that is not true.  Nuget does a ref pass for "best" TFM, if any is found that will be used for compile.  If none is found then it considers lib.

That said, this would only be a problem for something that was inbox (with placeholder) then moved out of box.  I'm not sure if we're building any packages that would be in that state today.

[2019-01-09 23:36] steveharter commented on #34372
@rynowak

Yes that will be added. Thanks

As it is now, JsonConverterSettings is fairly clean and only contains settings that would need to be specified at run-time like MaxDepth and DefaultBufferSize (I'll update the API doc soon with new members).  The mashup is JsonPropertyAttribute for now.

Yes there is some loose coupling with the extension points like the property casing where you can provi

[2019-01-09 23:38] steveharter commented on #34372
@davidfowl

I added the async apis along with a brief description. Currently they only support a Stream, more if necessary. I have a prototype that verifies the feasibility.

[2019-01-10 00:33] KrzysztofCwalina commented on #34372
Some quick feedback:
1. As @davidfowl have said, we need async APIs that can work with Stream and Pipelines
2. I don't think the serializer/converter should have a public dependency on JsonReader. The reader should be an implementation detail. The reasons are: a) the reader is a very tricky type that most our users should not be concerned with, b) we should preserve the ability change the implemen

[2019-01-10 00:37] ericstj commented on #34455
I am able to understand the repro now.  What's happening is that when building the runtime.depproj with the .dotnet SDK that is acquired into .dotnet folder the apphost.exe dependency gets binplaced into the testhost directory.  When you manually rebuild the source CSProj with dotnet (or even point at the acquired dotnet.exe without setting DOTNET_MULTILEVEL_LOOKUP=0) and you have a newer dotnet i

[2019-01-10 00:42] AfsanehR commented on #34414
@ssa3512 Thank you for providing a repro, will investigate this issue and get back to you.

[2019-01-10 01:13] ericstj commented on #34455
Funny.  The latest SDK explicitly removes apphost.exe, which is why we're hitting this:
https://github.com/dotnet/sdk/commit/1936ebd7307cebd6c5d1d8d699b9844f73b8fb2c#diff-726c4af93875efa855c29e94f7c0b33eR506

We'll need to workaround that somehow.  We don't really use apphost.exe so perhaps just excluding it will be easiest.

[2019-01-10 01:30] #33573 closed

[2019-01-10 01:31] #30926 closed

[2019-01-10 01:37] stephentoub commented on #34455
Thanks for tracking it down, @ericstj!

[2019-01-10 01:44] timmydo commented on #34033
Or #33857 and maybe fixed with #34089

[2019-01-10 01:48] tarikulsabbir commented on #33272
We were able to reproduce the issue on our end. Currently looking into it.

[2019-01-10 01:52] karelz commented on #34466
I think we need a new clearly described issue for the global proxy setting API. We should then dupe the 2-3 issues we have against that.
@davidsh could you please help with that? (as you already are investing into enterprise proxy scenarios) Thanks!

[2019-01-10 02:13] karelz commented on #26085
I didn't notice it before -- this is closed issue for 1 year. Please create new issue with description and link here. We should not pile on additional investigation here IMO.

[2019-01-10 02:32] #34395 closed

[2019-01-10 02:37] gulbanana commented on #23542
Does Access not already work through ODBC?

[2019-01-10 02:53] orellabac commented on #23542
Yes it does. I made it work on windows and on mac using odbc. See https://mrojas.ghost.io/msaccess-in-dotnetcore/

[2019-01-10 03:16] ElderJames commented on #34182
Hello everyone,
I developed a simple AOP class library with dispatchproxy, https://github.com/ElderJames/CoreProxy.

[code]

[2019-01-10 04:52] LucioMS commented on #11976
Min/Max extraction in O(log n) is the fundamental perf expectation for a typed backed by a BST.

The original case of Priority Queue extraction in O(log n) with extraction of arbitrary element in O(log n) is needed, for instance, in a common solution for "The Skylline Problem" in LeetCode :
https://leetcode.com/problems/the-skyline-problem

Where you can follow one common solution here:
https://ww

[2019-01-10 05:01] gr8tushar commented on #26085
@safern - Hi, I use SelectPDF library - https://www.nuget.org/packages/Select.HtmlToPdf/ . I have referenced it in my project via nuget.
It works fine on the dev machine, but breaks on Windows Server 2016. Reading some of the comments above, I manually replaced System.Drawing.Common.dll from \runtimes\win\lib\netcoreapp2.0 in the root folder, it worked.

Hope that helps.

Do let me know in case yo

[2019-01-10 06:26] v-haren opened #34486 "Cannot delete workspace: remote file operation failed"
failed in job: https://ci2.dot.net/job/dotnet_corefx/job/perf/job/release_2.1/job/perf_windows_nt_release/213/
failed log:
[code]

[2019-01-10 06:34] v-haren commented on #33622
failed again: https://ci2.dot.net/job/dotnet_corefx/job/perf/job/master/job/perf_windows_nt_release/7660/

failed log:
C:\j\w\perf_windows_---356c2fc4\.packages\microsoft.dotnet.corefxtesting\1.0.0-beta.19054.13\build\core\Core.targets(198,5): warning MSB3073: The command "C:\j\w\perf_windows_---356c2fc4\artifacts\bin\tests\System.Net.Http.PerformanceTests\netcoreapp-Windows_NT-Release-x64\RunTest

[2019-01-10 06:50] zhengchun opened #34487 "Image.FromStream() function will reading entire file when running on linux"
Hello, everyone, I want to getting image dimension(Height,Width) and image format without read the whole file into memory. call `Image.FromStream(fs, useEmbeddedColorManagement: false, validateImageData: false);` it can working perfect on windows, that will reading just some of file header bytes. But, when i'm running this function on linux system, this function will read entity file, a `validateI

[2019-01-10 07:08] SteveL-MSFT commented on #29395
On Win10, OSVersion for 2.1 returned 10.0.x, however with 3.0, it returns 6.2.x.  Although the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.environment.osversion?redirectedfrom=MSDN&view=netcore-2.2#System_Environment_OSVersion) says it is unreliable, this is a regression and breaking some PSCore6 tests that were relying on this and likely customer scripts as well.

cc @karel

[2019-01-10 07:15] AriNuer opened #34488 "Test "System.Collections.Tests.SortedList_SyncRootTests.GetSyncRootBasic" failed in “netfx-Windows_NT-Release-x64-Windows.10.Amd64.ClientRS4”"
**Job name:**
netfx-Windows_NT-Release-x64-Windows.10.Amd64.ClientRS4
**Failed test:**
System.Collections.Tests.SortedList_SyncRootTests.GetSyncRootBasic

Error message:
[code]
Stack trace:
[code]

Details:
https://dnceng.visualstudio.com/internal/_build/results?buildId=69685&view=ms.vss-test-web.test-result-details

[2019-01-10 08:49] ViktorHofer commented on #33622
Can you PLEASE do me a favor and not always reopen this issue which was an infrastructure one but create a new one with actual error? In this case System.Net.HttpPerformanceTests. Thanks!

[2019-01-10 08:49] #33622 closed

[2019-01-10 09:08] AndreasHeisel opened #34489 "Thread.CurrentPrincipal does not flow with ExecutionContext"
We have a problem with System.Threading.ExecutionContext and System.Threading.Thread.CurrentPrincipal on .NET Core 2.1.

We want to implement a custom asynchronous point. According to docs.microsoft.com System.Threading.ExecutionContext is the way to go:

Test:
[code]

Using .NET Framework 4.7.1 I get:
**Thread.CurrentPrincipal: System.Security.Claims.ClaimsPrincipal**
Wich is the expected behavio

[2019-01-10 11:47] MarcoRossignoli commented on #34489
I think so. AFAIK in .NET core context is a list of [`AsyncLocal<T>`](https://github.com/dotnet/coreclr/blob/ac09773ad09f374053ae1cb11336b96d01da49a1/src/System.Private.CoreLib/shared/System/Threading/AsyncLocal.cs#L39) added through [`Value`](https://github.com/dotnet/coreclr/blob/ac09773ad09f374053ae1cb11336b96d01da49a1/src/System.Private.CoreLib/shared/System/Threading/AsyncLocal.cs#L68) set
I

[2019-01-10 12:11] AdamRiddick opened #34490 "BCryptGenRandom causing High CPU Usage"
Using .NET Core 2.0 we are experiencing high CPU usage which seems to be caused by a call into BCryptGenRandom on a Windows 2012 R2 server.

One of the threads in question has been alive for 31 minutes;
` 30:1420     0 days 0:31:01.062`

And the call stack reveals this is coming from a call to use the RandomNumberGenerator which seemingly gets stuck on BCryptGenRandom.

[code]

This is being calle

[2019-01-10 12:42] MarcoRossignoli commented on #34489
I did some test and on simple console app 2.2 principal seems not flow(maybe i misunderstood):
[code]

[2019-01-10 13:09] AndreasHeisel commented on #34489
You are right, my tests were wrong. Await and Task.Run also doen't work on .NET Core.

This is a big issue for us, and it doesn't answer the question if it is a bug or a feature. Other contextual data like CurrentCulture and CurrentUICulture flow as they were ported to AsyncLocal.

[2019-01-10 13:16] divega commented on #23542
Thank you @orellabac for posting this. Very helpful! Have you had the experience of porting an existing application using this approach? Did you find any limitations or clear advantages when using Access databases through specific ODBC drivers?

[2019-01-10 13:23] JamieKeeling commented on #34428
When looking at our usages of Microsoft.NETCore.App I can only see SDK references:

![image](https://user-images.githubusercontent.com/7165035/50970814-61569100-14da-11e9-94e1-f9b50b640c54.png)

My understanding is that Microsoft.NETCore.App is a [metapackage ](https://docs.microsoft.com/en-us/dotnet/core/packages) which in turn use the packages distributed with the .NET Core runtime.

We're not u

[2019-01-10 13:45] MichalStrehovsky commented on #34124
Updated the proposal with the existing exception message we use in CoreCLR: "Could not call method '%1' on interface '%2' with type '%3' from assembly '%4' because there are multiple incompatible interface methods overriding this method."

[2019-01-10 14:13] LHeczko commented on #31895
Hi,

I've got the same problem.
1. Installed libgdiplus
2. I can find it under /usr/lib
3. sudo ln -s libgdiplus.so gdiplus.dll
4. export LD_LIBRARY_PATH=/usr/lib
5. Restart service and still

The type initializer for 'Gdip' threw an exception.

I'll try to use CoreCompact.System.Drawing as softsan wrote

[2019-01-10 14:18] LHeczko commented on #31895
Installed libc6-dev and everything works
https://github.com/JanKallman/EPPlus/issues/83

[2019-01-10 14:40] rich-zilla opened #34492 "Environment.GetEnvironmentVariable behaviour"
What is the expected behaviour for retrieving environment variables?

1. Create a new system environment variable
1. Using a simple dotnet core console app, attempt to retrieve the variable (with `System.Environment.GetEnvironmentVariable`)

*What I expect to happen*
`GetEnvironmentVariable` returns the current value of that variable

*Whats actually happening*
The variable is not found until I re

[2019-01-10 15:03] ladeak opened #34493 "API request: string.Intern(ReadOnlySpan<char> ...)"
String.Intern currently accepts a string parameter. When processing a ```ReadOnlySpan<char>``` it would be nice to be able to *intern* a string without a necessary string allocation upfront. This would be especially useful for strings that would be used frequently.

For this reason I would request the following overloads added to string:

[code]

[2019-01-10 15:11] Davilink commented on #20296
Why not just a create HttpClient2 (temporary name) that has the expected behavior and inform, in the documentation, that "HttpClient is obsolete, please use the HttpClient2" and explained the difference between the 2 of them.

That ways not breaking change in the .NetFramework.

[2019-01-10 15:21] khellang commented on #34493
How are these supposed to work without allocating a string? You mean if a matching string is already in the intern pool?

[2019-01-10 15:25] Wraith2 commented on #34492
Enviroment blocks are inherited from the parent process so if you haven't restarted VS it'll still have the block you started it with which will not include the new variable. If you start a command prompt and use the set command after changing the variable (without logging out or restarting) does it pick up the new variable/value? If so restarting vs should work.

[2019-01-10 15:39] dotnetchris commented on #20296
HttpClient shouldn't be based off throwing exceptions. It's not exceptional that an internet host is unavailable. It's actually expected, given the infinite permutations of addresses, the exceptional case is giving it something that works.

I even blogged about how bad using HttpClient is over 3 years ago. https://dotnetchris.wordpress.com/2015/12/11/working-with-httpclient-is-absurd/

This is gla

[2019-01-10 15:51] spushpendra2000 commented on #34469
I am using  IApplicationBuilder.UseMvc(); Api to initialize and this is the dotnet api for
Adds MVC to the IApplicationBuilder request execution pipeline.

I dont know which files it monitors internally . I few setup i am getting above exception . Same issue happened earlier as well..
Not sure if this is the right forum to ask question for ' IApplicationBuilder.UseMvc().

uname -a
Linux shreyafbr

[2019-01-10 16:07] karelz commented on #29395
@SteveL-MSFT please file a new bug, let's not hijack long-closed issues.
BTW: This is long-term source of pain. It may have been by-design breaking change in an attempt to fix the space ... let's see what area experts say on the new issue.

[2019-01-10 16:17] karelz commented on #34334
Adding methods to interfaces is breaking change. It was more explained here: https://github.com/dotnet/core/issues/2199

[2019-01-10 16:17] #34334 closed

[2019-01-10 16:18] karelz commented on #34368
Unsupported technology, closing.

[2019-01-10 16:18] #34368 closed

[2019-01-10 16:20] karelz commented on #34417
@vitek-karas can you please help route it?

[2019-01-10 16:22] karelz commented on #29578
Closing as no more action / discussion is expected.

[2019-01-10 16:22] #29578 closed

[2019-01-10 16:40] ahmedalejo commented on #11897
So it did get far enough for it to resolved.  He´s word were really noisy and correct to ignore.

[2019-01-10 17:00] jkotas commented on #34489
If the CurrentPrincipal was part of ExecutionContext on desktop, it makes sense to flow it in .NET Core as well for better compatibility.

It should be done lazily:

[2019-01-10 17:02] zhengchun commented on #34487
I found [skiasharp](https://github.com/mono/SkiaSharp) , an other way is implement parse file reader for jpeg,png. so closed this.

[2019-01-10 17:02] #34487 closed

[2019-01-10 17:03] jkotas commented on #34489
cc @danmosemsft

[2019-01-10 17:12] ericsampson commented on #20296
@dotnetchris since it sounds like you have a lot of passion for this topic, why not take the time to write up your proposed full API for HttpClient2 and submit it to the team for discussion as a new issue?

[2019-01-10 17:22] gfoidl commented on #34487
On Linux / Unix [libgdiplus](https://github.com/mono/libgdiplus) is used, so there may be some differences in the behavior of GDI+ (windows) and that version used.

Although you closed this issue, you may want to open an issue in the libgdiplus-repo (mono also relies on libgdiplus, and if there is the same behavior it's not an issue for .NET Core, but one for libgdiplus).

[2019-01-10 17:42] gfoidl commented on #34487
@danmosemsft good idea. I just created a default reply:

[code]

It would be nice if GitHub can support default replies within an repo / organization where the issue is created / answered to. Or does this exists and I just don't know about this?

[2019-01-10 17:44] ericstj opened #34498 "Build with the 3.0 dotnet SDK"
We should update the SDK we build with and clean up workarounds that were in place due to being on an old one.

Here are the workarounds I recall:
https://github.com/dotnet/corefx/blob/a680b92d4c7c1d99d9facf2b7eca8dd33ee87515/external/runtime/runtime.depproj#L53-L57
https://github.com/dotnet/corefx/blob/d07ba0a0026aa4effe9cc24ec5c1ed12e08c5d8d/Directory.Build.props#L145-L149

[2019-01-10 17:45] adiaaida opened #34499 "System.Net.Http.PerformanceTests failing with "The system cannot find the file specified.""
failed again: https://ci2.dot.net/job/dotnet_corefx/job/perf/job/master/job/perf_windows_nt_release/7660/

failed log:
[code]

_Originally posted by @v-haren in https://github.com/dotnet/corefx/issues/33622#issuecomment-452986425_

Full stack trace:

[code]

[2019-01-10 17:46] adiaaida commented on #33622
opened https://github.com/dotnet/corefx/issues/34499 to track the System.Net.HttpPerformanceTests failure.

[2019-01-10 17:49] danmosemsft commented on #34487
I don't know of such a feature (there is not a first class concept of issue area anyway). I am happy to post this from now on.

[2019-01-10 17:53] safern commented on #34487
Potentially our github labeler bot could comment that if the label is System.Drawing and it is non-windows 😄 cc: @Anipik

[2019-01-10 18:17] bradygaster opened #34501 "Mac & Linux Console Issues"
This issue is related to #31517 and to the ASP.NET Core httprepl issue [here](https://github.com/aspnet/AspLabs/issues/68).

The code in the screen shot below, which you can see running in the screenshot, demonstrates the issue. I noticed some intermittent and unpredictable behavior when I ran it a few times.

1. The first time I ran the code, I saw everything I typed.
1. The second time I ran the

[2019-01-10 18:23] wtgodbe commented on #34501
Thanks for filing the issue, I'll take a look when I get a chance.

[2019-01-10 18:30] caesar1995 commented on #34428
This issue only affects SocketsHttpHandler, which doesn't exist in `System.Net.Http` NuGet packages (`System.Net.Http` 4.3.4 doesn't contain SocketsHttpHandler) - it only shipped in Microsoft.NetCore.App packages.

See Lee's comment: "To update affected 2.1 and 2.2 applications, pick up the new Microsoft.NETCore.App."

[2019-01-10 18:35] jkotas commented on #34493
Note that `string.Intern` uses a global singleton. It is required to intern the string 100% of the time, across all threads. It means that it needs to take locks, some of the time at least. And the current implementation never releases the string once it has been interned.

You typically get much better performance results by using a local interning table that does imperfect interning (i.e. it is

[2019-01-10 18:39] clguimanMSFT opened #34502 "Child process hangs in Console.WriteLine after some time has passed since the parent called Process.CancelOutputRead"
Given the following scenario:
-  The parent (.net core app) starts a child process and listen to the stdout & stderr stream for a given amount of time (10 seconds) - calls Process.BeginOutputReadLine then Process.CancelOutputRead
- The child periodically writes a message to console and right after to file.

After some time, the child will stop writing to the log file and if you take a look in a me

[2019-01-10 18:40] jkotas opened #34503 "`RuntimeFeature.IsSupported("IsDynamicCodeCompiled")` does not work well for lightup"
The light-up scenarios for `RuntimeFeature.IsDynamicCodeCompiled` are not able to reliable distinguish between "not supported" (e.g. running on 3.0 AOT-only runtime) and "unknown" (e.g. running on 2.1 runtime that does not have IsDynamicCodeCompiled property).

- Proposal A: Invert the values returned by the API.

[code]

The code looks like this

[code]

- Proposal B: No API change, update `Runti

[2019-01-10 18:46] jkotas commented on #34503
@terrajobst Do you have an opinion on how to address this? IIRC, you had a strong opinion during the API API review what `IsSupported` should return for these.

One option is to allow querying of the negative for these `IsXXX` capability properties by prefixing the name with `!`.

- 3.0 JIT runtime:
`RuntimeFeature.IsSupported("IsDynamicCodeCompiled") == true`
`RuntimeFeature.IsSupported("!IsDynam

[2019-01-10 18:57] pakrym commented on #34503
`RuntimeFeature.IsSupported("!IsDynamicCodeCompiled")` ends up being the only one worth querying in this scenario. I'm afraid it's too hard for customers to discover all the quirks in this case.

[2019-01-10 19:05] jkotas commented on #34503
@pakrym Do you have an alternative suggestion how to fix this?

[2019-01-10 19:08] pakrym commented on #34503
We can backport `IsSupported` implementation so things "just work". It would still require the latest patch of 2.1/2.2 but at least semantics of `RuntimeFeature.IsSupported` would be preserved.

[2019-01-10 19:13] jkotas commented on #34503
I do not think it is a viable option. We need to have a design how to add new IsXXX properties, without requiring servicing back ports.

[2019-01-10 19:13] #34122 closed

[2019-01-10 19:16] KirillOsenkov opened #34505 "Inconsistent build via build.cmd vs. individual projects"
Build behavior is different whether you build the entire repo via `build.cmd` or directly invoke `msbuild` on an individual project, such as System.Threading.csproj.

When building via build.cmd on Windows the output directory for System.Threading is `netcoreapp-Windows_NT`. When building the .csproj individually it is `netcoreapp-Windows_NT-Debug`.

Build should be consistent for various reasons,

[2019-01-10 19:17] pakrym commented on #34503
Just want to point out that this issue only applies to features that existed but didn't have feature flags before.

Another solution is to invert the meaning of feature flags, e.g.:

1. IsDynamicCodeCompiled -> IsDynamicCodeInterpreted
2. IsDynamicCodeSupported -> IsDynamicCodeUnsupported

[2019-01-10 19:18] Hobray commented on #20296
I haven't bothered diving into the nuts and bolts of what makes HttpClient good or bad from a deeper technical level so I don't have anything to add to the comments of @dotnetchris. I definitely don't think it's appropriate to criticize the MS dev team but I also understand how frustrating it is to spend hours and hours researching solutions to situations that seemingly should be super simple to h

[2019-01-10 19:30] SteveL-MSFT opened #34506 ".Net Core 3.0 preview returns 6.2 for OSVersion on Win10"
.Net Core 2.1 returned 10.0.x for Environment.OSVersion.  However, .Net Core 3.0 Preview 009817 returns 6.2.x.  This breaks some PSCore6 tests as we're trying to move to 3.0.

[2019-01-10 19:33] jkotas commented on #34503
What would this return for 3.0 full-AOT runtime, without IL interpreter?

[2019-01-10 19:35] pakrym commented on #34503
`IsDynamicCodeInterpreted` `false` and `IsDynamicCodeUnsupported` would be `true`

[2019-01-10 19:41] jkotas commented on #34503
And the code you would have to write in your library would be:

[code]

Is that right?

[2019-01-10 19:44] #33712 closed

[2019-01-10 19:44] stephentoub commented on #34502
I'm not following the repro.

The parent process stops reading from the pipe, so eventually the pipe will fill up, and the child will be blocked writing to the pipe (the Console.WriteLine) because the pipe is full and no one's reading from it.

What are you expecting to happen instead?

[2019-01-10 19:46] pakrym commented on #34503
Yep, inverting the condition makes it look a bit more readable:

[code]

[2019-01-10 19:47] stephentoub commented on #34502
Ah, the difference with .NET Framework is https://github.com/dotnet/corefx/issues/33746.  So this would appear to be a dup of that.

[2019-01-10 19:51] stephentoub commented on #34505
cc: @safern, @ViktorHofer, @ericstj

[2019-01-10 19:52] ericstj commented on #34505
I was already tracking this with https://github.com/dotnet/corefx/issues/33465.  I attempted a fix once but had to undo it.

[2019-01-10 19:53] #34455 closed

[2019-01-10 19:54] safern commented on #34505
I think we can close this as a dupe of: #33465 as @ericstj pointed out.

[2019-01-10 19:54] #34505 closed

[2019-01-10 19:59] stephentoub commented on #33465
cc: @alexperovich, @danmosemsft, @KirillOsenkov

Do we have any further idea how to address this?  It's breaking source.dot.net.  I believe @KirillOsenkov has some ideas for hacks he could use to workaround this, but I'm not sure how robust those are.

[2019-01-10 20:00] jkotas commented on #34503
I have summarized the two options in the top post.

@terrajobst Could you please discuss this at API review meeting, and pick one of the two options? (Or come up with a third one.)

[2019-01-10 20:16] Anipik commented on #34487
yeah if the labeler becomes that intelligent from all that learning :P

[2019-01-10 20:43] tannergooding opened #34509 "Removing S.N.Tensors now that it is part of CoreFX proper"
_From @tannergooding on January 10, 2019 18:54_

Removed all the tensor code now that we have moved it back into CoreFX (modulo the samples, which I did remove here but which aren't part of CoreFX).

It looked like, for things that have been moved into CoreFX; the code has been deleted rather than moved into `archived_projects`, but let me know if we would rather archive it instead.

CC. @ericstj,

[2019-01-10 20:43] tannergooding commented on #34509
_From @ericstj on January 10, 2019 19:15_

I'm OK with deleting.  For the samples we may want to add a test cases in CoreFx that implement native bindings using the tensor types so that we can fill this gap introduced by their removal.  I think its an important part of the API design to make sure we have a playground for testing out their use in this scenario.

[2019-01-10 20:43] Tornhoof commented on #34372
@steveharter If you care about integer tricks, you can optimize the json member writing for utf8 with the same trick. Assuming you will bake precalculated byte-arrays for the property names  into the IL, you can use the same concept as for deserialization. Instead of copying the precalculated buffer to the output, just write appropriate integer values to the output.
Instead of writing ``Encoding.U

[2019-01-10 20:43] #34509 closed

[2019-01-10 20:44] tannergooding opened #34510 "Implement Tensor Broadcasting"
_From @ericstj on August 1, 2017 19:18_

Both [matlab](https://www.mathworks.com/help/matlab/matlab_prog/compatible-array-sizes-for-basic-operations.html) and [python](https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html) do multi-dimensional array broadcasting to allow you to perform element-wise operations on arrays with similar dimensions.

We should decide if we want to support somet

[2019-01-10 20:44] tannergooding commented on #34510
_From @ericstj on October 16, 2017 18:21_

Dependent on #1798

[2019-01-10 20:44] tannergooding opened #34511 "Add vectorization to Tensor operations"
_From @ericstj on August 1, 2017 19:27_

We should be able to easily vectorize the method bodies of https://github.com/ericstj/corefxlab/blob/563f023fe14a11a9ccb78f935475203ff3ba2b9c/src/System.Numerics.Tensors/System/Numerics/TensorArithmetic.cs.

My thought to do this is add a Vector<T> method to https://github.com/ericstj/corefxlab/blob/563f023fe14a11a9ccb78f935475203ff3ba2b9c/src/System.Numeri

[2019-01-10 20:44] tannergooding commented on #34511
_From @ericstj on October 16, 2017 18:21_

Dependent on #1798

[2019-01-10 20:44] tannergooding opened #34512 "Investigate performance of TensorArithmetic abstraction"
_From @ericstj on August 2, 2017 19:32_

Today I use an interface as an abstraction for tensor arithmetic operations specific types.

The interface bridges the gap between the generic (which can't call numeric operators) and the specific primitive types (which use IL instructions for operators, or in the future may call Vector methods for the operators).  There is concern that the interface call i

[2019-01-10 20:44] tannergooding commented on #34512
_From @ericstj on August 3, 2017 15:33_

The current abstraction is here: https://github.com/dotnet/corefxlab/blob/c07725be93e57ba83e885a6371d596be98830e34/src/System.Numerics.Tensors/System/Numerics/TensorArithmetic.cs

[2019-01-10 20:44] tannergooding commented on #34512
_From @ericstj on August 3, 2017 23:22_

So I did some measurements and found that this doesn't seem to matter much.

The way I set it up was to create 4 dimensional Tensor<int> with dimensions 5x6x7x3.

I ran a test with three different cases:
1. Direct call to the method implementing add for int.  EG: IntArithmetic.Add
2. Call a generic method for add that has an if/else chain checking types ala

[2019-01-10 20:44] tannergooding commented on #34512
_From @benaadams on August 4, 2017 0:40_

Tensor is a struct so the generic will specialize; performance likely would change with (3) if it was a class and the generic was generalised.

[2019-01-10 20:44] tannergooding commented on #34512
_From @ericstj on August 4, 2017 4:36_

The types we are calling are the TensorArithmetic types (EG: IntArithmetic).  I did test class, sealed class, and struct and didn't see a difference, but I do think we should make these structs since they are internal and have no fields.

[2019-01-10 20:44] tannergooding commented on #34512
_From @ericstj on August 4, 2017 15:17_

If folks want to see the micro-benchmark it is here: https://gist.github.com/ericstj/3c1bc10c6a96dc4569d1868712148071

I boiled it down to a simpler setup because I was seeing some unusual results; the call through interface (3 above) was consistently outperforming even a direct call to struct (1).  /cc @brianrob

[2019-01-10 20:44] tannergooding commented on #34512
_From @benaadams on August 4, 2017 15:28_

Probably wouldn't make much difference but on the generic struct (3) you are bounds eliminating the assignment for the loop

[code]

And the concrete struct (1) you are bounds eliminating one of the lookups for the loop
[code]

[2019-01-10 20:44] tannergooding commented on #34512
_From @benaadams on August 4, 2017 15:32_

Also maybe jit stopwatch before the first measure, and use `Stop` as `ElapsedMilliseconds` may take a little time?

[code]

[2019-01-10 20:44] tannergooding commented on #34512
_From @ericstj on August 4, 2017 16:30_

Fixed those up, still same results.

Just for reference, here's some representative numbers from my machine:
- .NET Core x64 (1.1.2)
  - Direct call: 1564 ms
  - Generic: 1282 ms
  - Interface call: 1279 ms
- .NET Core x86 (1.1.2)
  - Direct call: 1307 ms
  - Generic: 2127 ms
  - Interface call: 2198 ms
- .NET Framework x64 (4.7.2098.0)
  - Direct call: 154

[2019-01-10 20:44] tannergooding commented on #34512
_From @danmosemsft on August 9, 2017 23:53_

Meta question @ericstj (and you likely covered this) but how commonly do you expect users to do arithmetic on these through .NET (as opposed to use them as exchange types, initialize them, or read from them)
My understanding is that in ML scenarios it's common for these tensors to be huge and operations like Contraction one would want to be highly optim

[2019-01-10 20:44] tannergooding commented on #34512
_From @danmosemsft on August 9, 2017 23:55_

Is devirtualization relevant to calls through interfaces or only through virtual calls on concrete types? I'm curious why some of those calls are showing up faster than direct.

[2019-01-10 20:44] tannergooding commented on #34512
_From @ericstj on October 16, 2017 18:21_

Dependent on #1798

[2019-01-10 20:44] tannergooding opened #34513 "Sparse tensors should have a sparse-ness abstraction"
_From @ericstj on September 18, 2017 15:48_

I've created SparseTensor (backed by dictionary) and CompressedSparseTensor (backed by arrays).  Both have a concept of non-zero-value-count but don't provide a way to access only non-zero values.

Here are some of the options for API shape:
1. Methods that take an index [0,  ValueCount - 1] and return both the indices and Value at that index.  This is

[2019-01-10 20:44] tannergooding commented on #34513
_From @ericstj on September 27, 2017 15:33_

For accessing indices I plan to return those in linearized form (processed with strides) which can be used once we add https://github.com/dotnet/corefxlab/issues/1767

[2019-01-10 20:45] tannergooding opened #34514 "Consider dynamic growth of tensors along the outermost dimension"
_From @ericstj on September 27, 2017 15:40_

This is interesting when you start thinking about tensors as a holder for record data.  The act of adding a record is growing the tensor by one in the record dimension.

We already have Resize that permits an inplace resize, but this requires that the backing storage be identical.

We should consider a new method (or potentially a creation mode) that ca

[2019-01-10 20:45] danmosemsft commented on #34506
Are you sure?
[code]

[2019-01-10 20:45] tannergooding opened #34515 "Is Tensor arithmetic really needed for V1 (or future?)"
_From @ericstj on September 29, 2017 16:31_

The scenarios we're aiming at in V1 have tensor as primarily an interop type: a way to safely pass dense and sparse multi-dimension data without copy, yet still access from the managed side.  We're not planning for heavy computation on tensors in managed code.

As such, we may want to scope out the math operators for v1.

_Copied from original issue: do

[2019-01-10 20:45] tannergooding commented on #34515
_From @eerhardt on October 16, 2017 16:43_

from @ericstj

[2019-01-10 20:45] tannergooding commented on #34515
_From @ericstj on October 16, 2017 16:45_

Above is because I've found that the arithmetic tests (esp contraction/multiplication) provide good high-level coverage for the library, so if we drop the operators and static methods from the public surface we should put the static methods in the test assembly and have the tests use them.

[2019-01-10 20:45] tannergooding commented on #34515
_From @ericstj on October 20, 2017 19:54_

Another thought on this.  Although it is neat to be able to use operators on these its actually a bit scary and non-intuitive when you start thinking about very large arrays.  We could instead only ship the static methods, which could be provided in this assembly (or even in another assembly).

[2019-01-10 20:45] tannergooding opened #34516 "Tensor should be in System.Numerics.Tensors namespace"
_From @ericstj on October 4, 2017 21:41_

This was feedback from the API review.  Folks don't want us to put this in the root Numerics namespace.

_Copied from original issue: dotnet/corefxlab#1816_

[2019-01-10 20:45] tannergooding commented on #34516
_From @KonH on October 2, 2018 14:1_

Hello! I made PR with proposed changes, please review it.

[2019-01-10 20:45] tannergooding opened #34517 "Consider supporting TensorFlow's sparse tensor shape"
_From @ericstj on October 4, 2017 21:49_

https://www.tensorflow.org/api_docs/python/tf/SparseTensor

They just use two parallel arrays to represent the elements. 1-D for values: n length where n is number of non-zero values.  2-D for indices: n * Rank where n is number of values and Rank is the rank of the tensor (and individual indices are stored).

Unlike our sparse representations they don't c

[2019-01-10 20:45] tannergooding commented on #34517
_From @4creators on October 5, 2017 9:29_

IMHO supporting data types available in most popular AI frameworks should be very high on a priority list. This is in particular important for tensors and unfortunately missing from dotnet Half (binary16) or even Quart (?) (binary8).

[2019-01-10 20:46] tannergooding commented on #34517
_From @ericstj on October 5, 2017 18:30_

Data types are a different pivot than layouts.  Currently Tensor<T> supports any T you want to use with it including a user-defined struct of the appropriate size which can be a stopgap to support  any native type that happens to be used by a backing framework.

Note that Tensor is specifically being designed to be an out-of-band component to represent mul

[2019-01-10 20:46] tannergooding commented on #34517
_From @4creators on October 5, 2017 22:55_

@ericstj
Absolutely agree, but my remark was intended to show importance of coordinated support by dotnet of new primitive types required by AI in addition to OOB components like Tensor.

[2019-01-10 20:46] tannergooding commented on #34517
_From @i3arnon on June 3, 2018 16:12_

@karelz I'll start looking at this, but it might take a while...

[2019-01-10 20:46] tannergooding commented on #34517
_From @karelz on June 3, 2018 16:25_

@i3arnon you already have 2 issues in the repo, I'll leave this one unassigned - when you get to it, mention it again (unless someone else beats you to it).

[2019-01-10 20:46] tannergooding commented on #34517
_From @i3arnon on June 4, 2018 8:58_

@karelz those issues are done on my end (until someone says otherwise). I didn't mean it'll take me time to get to it, but to figure out what's all this tensor stuff about. However i can take a step back if I'm hogging up issues.

[2019-01-10 20:46] tannergooding opened #34518 "Add slow reflection-based generic tensor arithmetic"
_From @ericstj on October 5, 2017 18:39_

Currently we have no fallback for a T that we don't understand in the Tensor arithmetic methods, we'll just throw.

We could instead construct a ITensorArithmetic that uses reflection to locate operators on that type.  This is slow for a couple reasons:
1. Built in types have operators that the JIT understands and replaces with instructions rather than met

[2019-01-10 20:46] tannergooding commented on #34518
_From @ericstj on October 16, 2017 18:22_

Dependent on #1798

[2019-01-10 20:46] tannergooding opened #34519 "Consider tensor construction from vector subscripts (eg: indices sequences)"
_From @ericstj on October 16, 2017 18:11_

Fortran has a concept of creating a new array from a subset of indices in another array.  See https://software.intel.com/en-us/node/678553.  We could expose similar functionality on tensor.

Related #1819

_Copied from original issue: dotnet/corefxlab#1846_

[2019-01-10 20:46] tannergooding opened #34520 "Consider specification of lower bounds as an option for Tensors"
_From @ericstj on October 16, 2017 18:19_

Some folks may want 1-based indexing, or even negative-based indexing (eg: for scratch space or representing a discrete function that can have negative values).  We could make this an option on construction.

If we did, we may want to roll dimensions/strides(/isReversedStride)/lower-bounds into a class that represents the tensor layout.

_Copied from orig

[2019-01-10 20:46] tannergooding opened #34521 "Add documentation markdown in the Tensor folder"
_From @ericstj on October 16, 2017 20:54_

We need to summarize the purpose and use cases of Tensor in the System.Numerics.Tensor folder along with some basic usage samples.

_Copied from original issue: dotnet/corefxlab#1849_

[2019-01-10 20:46] tannergooding opened #34522 "Make indicies stepping more effecient"
_From @ericstj on October 20, 2017 16:19_

In many cases we do operations using only the linearized index.   There are cases where we instead need to use an indices array/span.  In these cases we should step the indices array rather than continuous composing/decomposing indices from a linearized index.

_Copied from original issue: dotnet/corefxlab#1867_

[2019-01-10 20:47] tannergooding opened #34523 "Add parameter validation to Tensors"
_From @ericstj on October 20, 2017 19:56_

We should add parameter validation to most of the public and protected API.  We should think about which APIs explicitly need to avoid parameter checking (eg: GetValue/SetValue) for performance and document them as such and potentially change the names.

_Copied from original issue: dotnet/corefxlab#1869_

[2019-01-10 20:47] tannergooding commented on #34523
_From @eerhardt on June 7, 2018 18:25_

Some scenarios we should ensure are validated correctly:

1. When creating a CompressedSparseTensor, we need to validate all the parameters to the constructor
`public CompressedSparseTensor(Memory<T> values, Memory<int> compressedCounts, Memory<int> indices, int nonZeroCount, ReadOnlySpan<int> dimensions, bool reverseStride = false);`
    1. `compressedCount

[2019-01-10 20:47] tannergooding opened #34524 "Consider implementing struct Enumerator on Tensor<T>"
_From @eerhardt on October 30, 2017 15:31_

See https://github.com/dotnet/corefxlab/pull/1884#issuecomment-340010018.

Implementing a struct Enumerator has better performance characteristics when directly enumerating the type - no allocations; no virtual calls, inlining.

We should determine if this makes sense for Tensor, and implement it, if so.

_Copied from original issue: dotnet/corefxlab#189

[2019-01-10 20:47] tannergooding opened #34525 "Add TensorView<T> `ref struct` like Span<T>, avoid coupling to `Tensor<T>` in algorithms-"
_From @nietras on November 16, 2017 12:16_

Tensors current design appears very "heap"y requiring heap allocation(s) upon construction etc. Not allowing for high performance scenarios. The design of this should be split to allow for a (or in fact several) value type `TensorView<T>` or similar that can be used as input parameter to methods but that does not require doing a heap allocation.

If nece

[2019-01-10 20:47] tannergooding commented on #34525
_From @nietras on November 16, 2017 12:45_

A way to help with this is to add proper `ITensorView<T>` and most likely `IReadOnlyTensorView<T>` interfaces. The base class idiom used here is a problem, not only since effectively closes the design/implementation in a certain way, so others (e.g. community) cannot create their own tensors. Many of the methods could also be made as extension methods, a

[2019-01-10 20:47] tannergooding commented on #34525
_From @eerhardt on November 27, 2017 17:45_

@nietras - can you give a little more concrete information about your idea?  Specifically, can you propose what you are thinking for

and

My concern is that Tensor has a number of pointers for its dimensions, strides, backing memory, etc.  Making this a struct will now turn the cost into copying all these pointers every time the Tensor is copied (to/fr

[2019-01-10 20:47] tannergooding commented on #34525
_From @nietras on December 13, 2017 11:28_

@eerhardt here some brief answers to your questions. Overall, I do not think your concerns are an issue.

Basically, I am proposing something like the split `Memory<T>` (i.e. `*Tensor<T>`) and `Span<T>` (i.e. `TensorView<T>`) that is a duality of memory ownership and memory "representation", that allows making "views" over whatever data you already have

[2019-01-10 20:47] tannergooding commented on #34525
_From @danmosemsft on October 30, 2018 23:34_

cc @tannergooding @ericstj fyi

[2019-01-10 20:47] tannergooding commented on #34525
_From @nietras on October 31, 2018 10:13_

As a side note to this I have been brainstorming an implementation for this using the same kind of "trickery" that portable span uses. Given the constraints of `ref struct`s I am currently thinking it is better to simply have these as `readonly struct`s (e.g. `TensorView<T>`, `ReadOnlyTensorView<T>`, my own internal names are currently simply `ViewND<T>`

[2019-01-10 20:47] tannergooding commented on #34525
_From @nietras on December 3, 2018 8:48_

@tannergooding what is your view on my comments above? It seems to me the System.Numerics.Tensors design still is based on reference types and does not have value type views?

[2019-01-10 20:47] tannergooding opened #34526 "Add new overloads to Clone() methods on subtypes of Tensor<T>"
_From @eerhardt on December 12, 2017 23:29_

`Tensor<T>` has a Clone method that returns `Tensor<T>`.  However, if I have a variable casted to say a `DenseTensor<double>`, I shouldn't have to cast the return of `Clone()` down to a `DenseTensor<double>`.

For example:

[code]

`a` and `b` are already `DenseTensor<double>`, when cloning I am guaranteed I should get back a `DenseTensor<double>`. We s

[2019-01-10 20:47] tannergooding commented on #34526
_From @i3arnon on June 2, 2018 13:9_

What about the `CloneEmpty` overloads though? They now return `Tensor<T>` as well.
Should there be concrete overloads for them?

[2019-01-10 20:47] tannergooding commented on #34526
_From @i3arnon on June 2, 2018 13:54_

I would like to start working on it. @karelz, can you add me as a collaborator so I'll assign this to myself?

[2019-01-10 20:47] tannergooding commented on #34526
_From @ViktorHofer on June 2, 2018 14:10_

Till somebody sends @i3arnon a collaboration invite I marked myself as assignee.

[2019-01-10 20:47] tannergooding commented on #34526
_From @ViktorHofer on June 2, 2018 14:34_

Self assigning myself until somebody sends @i3arnon a collaboration invite.

[2019-01-10 20:48] tannergooding opened #34527 "Plans and roadmap for Tensor class?"
_From @dotChris90 on January 9, 2019 21:32_

Hello experts! :)

a friend of me and I just found out today that your lab is doing something impressive for our taste.
I am talking about the Tensor class in System.Numerics.

The reason why we impressed and interested is that we are (just for fun) working on a numpy port with nearly identical APIs - https://github.com/SciSharp/NumSharp. Unfortunately

[2019-01-10 20:48] tannergooding commented on #34527
_From @ahsonkhan on January 9, 2019 22:9_

cc @eerhardt, @tannergooding

[2019-01-10 20:48] tannergooding commented on #34527
_From @dotChris90 on January 9, 2019 22:18_

@Oceania2018

[2019-01-10 20:48] tannergooding commented on #34527
_From @danmosemsft on January 9, 2019 22:52_

@NiklasGustafsson fyi.

[2019-01-10 21:00] tannergooding commented on #34527
@dotChris90, thanks for your interest here.

We've already moved the code here into CoreFX and are working on cleaning up the shape/surface area right now.

[2019-01-10 21:16] tannergooding commented on #34516
Closing this as it has been resolved.

[2019-01-10 21:16] #34516 closed

[2019-01-10 21:19] dotChris90 commented on #34527
awesome. So we were right - it is coming and not just "playground". ;)

- **will it be part of .Net Standard or just net core and most important version 2 or 3?**
- we were yesterday internal discussing how to use Tensor in our project
- we guess we could Tensor for our non-generic NDArray if we say "NDArray is child of DenseTensor< object >
-  as far as we can see you guys using Memory class inte

[2019-01-10 21:22] safern commented on #26085
@gr8tushar would you mind opening a new issue with the description of your issue, and add more details to understand what is happening here. What would be helpful is:

1. The `csproj` file of your application. (To see some details on the TFM and references and all that).
2. The output of `dotnet --info` in your machine and the windows server machine (if dotnet is installed in the windows server ma

[2019-01-10 21:30] SteveL-MSFT commented on #34506
@danmosemsft seeing different results in PSCore6

[code]

[code]

This is same machine where PSCore6.2 is netcoreapp21 on the first one and netcoreapp30 in the second.

[2019-01-10 21:35] SteveL-MSFT commented on #34506
I'll dig into this further to see what's happening on the PSCore6 side

[2019-01-10 21:36] danmosemsft commented on #34506
Probably a windows compat shim ("version lie"?) being applied. Either to Powershell or to us. What does Win32 give within your process?

[2019-01-10 21:36] daxian-dbw commented on #34506
It might be worth mentioning that we applied an application manifest (https://github.com/PowerShell/PowerShell/blob/master/build.psm1#L468) to make `OSVersion` returns the correct value for pwsh, and as is shown, it works in .NET Core 2.1.

[2019-01-10 21:41] SteveL-MSFT commented on #34506
Thanks @daxian-dbw perhaps 3.0 isn't respecting that compatibility setting?

[2019-01-10 21:42] zsd4yr commented on #34204
How are we feeling about this?

[2019-01-10 21:51] EnocAnanda commented on #22781
This will work in .NET 4.7.2 with Visual Studio 2017 (15.9.4):

- Remove web/app.config binding redirects
- Remove NuGet package for System.Net.Http
- Open "Add New Reference" and directly link to the new 4.2.0.0 build that ships with .NET 4.7.2

![image](https://user-images.githubusercontent.com/38843378/50998531-b5bb3a00-14f5-11e9-92df-6c590c469349.png)

[2019-01-10 21:54] danmosemsft commented on #34506
As far as I know we know nothing about compat shims. We call Win32 and display what it tells us. I would verify your manifest is being applied to your process.

[2019-01-10 21:59] sdmaclea opened #34530 "Extend AssemblyLoadContext API for diagnostics"
To simplify diagnostics for `System.Runtime.Loader.AssemblyLoadContext`, add the following APIs.

[code]

The name will make it more convenient to understand what is happening in the debugger.  It will also make any tracing easier to understand.

+ The Default ALC would be constructed with name = "Default".
+ The Assembly.LoadFile(path) generated ALCs would be constructed with name =  "Assembly.Lo

[2019-01-10 22:07] jkotas commented on #34530
Why does this return a WeakReference? If the caller wants to store it for longer, they can create weak reference themselves.

[2019-01-10 22:10] sdmaclea commented on #34530
I guess I knew internally it would need to be stored as weakreferences to prevent unloadability issues.  I guess you are right.  The API does not need to use weak references.  I'll update it.

[2019-01-10 22:11] bricelam commented on #34055
Hmm... looks like a 2.2 version of Microsoft.Extensions.DependencyModel was never released... @weshaggard?

[2019-01-10 22:39] weshaggard commented on #34055
As far as I know there was never a 2.2 version of Microsoft.Extensions.DependencyModel however I'm no longer on corefx team so I'm unsure. @danmosemsft or @joperezr might be able to take a look.

[2019-01-10 22:43] swaroop-sridhar commented on #34530
Looks good to me

[2019-01-10 22:46] caesar1995 commented on #31309
I'd like to take a look at this issue and benchmark the performance.

[2019-01-10 22:59] SteveL-MSFT commented on #34506
Using the sysinternals tool [sigcheck](https://docs.microsoft.com/en-us/sysinternals/downloads/sigcheck) I can view the application manifest is embedded in pwsh.exe.  Interestingly, the `trustInfo` section is in the 3.0 built pwsh.exe, but missing the `compatibility` section which is in the 2.1 built pwsh.exe.  Will continue to investigate.

[2019-01-10 23:10] geoffkizer commented on #31309
It would be nice to do some basic benchmarking and analysis of the HTTP2 implementation. That would give us an idea of where the biggest bang for the buck is, in terms of perf work.

We've used the HttpClientPerf app to do perf measurement in the past. I imagine it's probably not too difficult to adapt it to use HTTP2.

[2019-01-10 23:22] danmosemsft commented on #34506
It sounds like that's the issue, it might make sense to close this now or move it to the Powershell repo.

[2019-01-10 23:33] cclauson opened #34534 "Using HttpClient.PatchAsync() from .NET Standard 2.0 library"
HttpClient.PatchAsync() is documented:
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.patchasync?view=netcore-2.2

Is this only available in .NET Core, and not .NET Standard?

Thanks!

[2019-01-10 23:40] caesar1995 commented on #31309
Sounds good, I'm interested in that as well. I think benchmarking HTTP2 implementation worth a separate issue (if we don't have one).

I will update the thread when I have some numbers.

[2019-01-10 23:43] rahuldutta90 commented on #34325
@karelz @davidsh I am facing this issue in net core also. So here are my debug lines

NETCORE2.0
[code]

NET framework:
[code]

For the net framework debug lines above I have put debug lines before starting the ReadASync and after the ReadAsync. And after the readasync I also log the cancelattiontoken.IsRequested Value also which was set to expire after 60 seconds.

[2019-01-10 23:49] sdmaclea opened #34535 "Make AssemblyLoadContext a concrete type"
There is a desire to simplify `System.Runtime.Loader.AssemblyLoadContext` usage by making it a concrete type.

The existing class is abstract because the `Load()` method is not implemented.

The simplest solution is to simply implement `Load()` as a method returning `null` and make the appropriate constructors public.

[2019-01-10 23:49] sdmaclea commented on #34535
A more controversial and/or complete solution could be to extend #33165.  Something like
[code]

[2019-01-10 23:49] ericstj commented on #33465
A [few](https://github.com/dotnet/corefx/issues/33465#issuecomment-438779410) [ideas](https://github.com/dotnet/arcade/issues/1434#issue-387047832) all of which are messy / ugly.  Just need to pick the least ugly one.

[2019-01-10 23:50] sdmaclea commented on #34535
/cc @vitek-karas @jkotas @swaroop-sridhar @jeffschwMSFT @sbomer

[2019-01-11 00:16] davidsh commented on #34534
`HttpClient.PatchAsync` is not part of .NET Standard 2.0.

It is part of the current .NET Core.

@terrajobst Can you comment on whether this API will eventually be part of a future .NET Standard?

cc: @karelz

[2019-01-11 00:39] sdmaclea opened #34536 "AssemblyLoadContext add ContextInfo"
There is a desire to provide more context information during loading to enable more advanced scenarios.

An initial proposal would be to add
[code]

And then add additional extended virtual methods, events and delegates
[code]

[2019-01-11 00:40] sdmaclea commented on #34536
This is based on a brief discussion I had with @jeffschwMSFT

/cc @vitek-karas @swaroop-sridhar @jkotas @sbomer

[2019-01-11 00:47] adityapatwardhan opened #34537 "Cannot install runtime 2.1.7 on Debian 8 using apt-get"
I am unable to install the latest runtime version (2.1.7) using `apt-get` using the instructions from: https://dotnet.microsoft.com/download/linux-package-manager/debian8/runtime-2.1.7

When the instructions are followed it still installs 2.1.6.
[code]

[2019-01-11 00:54] danmosemsft commented on #34204
If it goes to MSBuild, it would need to be a in a standalone assembly so that Winforms could include it reasonably in its shared framework. If it stays in Winforms, it would have to be a in separate assembly so it can be built and packaged for cross platform (which nothing in winforms does). CoreFX does seem likely more reasonable.

To see whether it can be extracted I got the src building success

[2019-01-11 00:59] danmosemsft commented on #34204
There is also non trivial work to write or port tests for this.

[2019-01-11 01:01] danmosemsft commented on #34204
@stephentoub @jkotas thoughts/objections?

[2019-01-11 01:15] #34506 closed

[2019-01-11 01:20] vcsjones commented on #31073
To close the loop on a thread here, I got word from DigiCert (@clintwilson) that their TSA is now properly sorting DER sequences.

I tried several timestamp I produced a few minutes ago, and validating the timestamp did not use the `compatMode: true` path for `ValidateSignature`.

Thanks Clint!

/cc @bartonjs @onovotny

[2019-01-11 01:30] danmosemsft commented on #34204
Where is "Winforms SDK" built from - do you mean something different to the dotnet/winforms repo?

If it stays there - MSBuild needs to reference it somehow, and it needs to be built and packaged for all platforms. If that's possible - great, I'm fine with that.

[2019-01-11 01:31] jkotas commented on #34536
What kind of more advanced scenarios is this for?

One of the key invariants of AssemblyLoadContext is that it should be load order independent. This new argument just adds a new way how people can violate this invariant.

[2019-01-11 01:35] jkotas commented on #34204
I am not up to what WinForms SDK is or where it is built from. The WinForms-specific msbuild tasks can always include the source for the writer - this will work even without introducing new dependencies if they are built in msbuild repo itself.

[2019-01-11 01:42] jkotas commented on #34535
Both look reasonable.

[2019-01-11 01:43] danmosemsft commented on #34204
@nguerrera ?

[2019-01-11 01:44] sparkie108 commented on #34204
"ResX files are pretty WinForms specific"  I disagree.  My use case is sharing resources in a platform independent way in a Xamarin Forms app. You can read ResX apps on iOS/Mac fine as it's part of .NET Std, but why can't I generate a ResX file programmatically on a Mac?  In VS .NET Core console apps Project Properties have a Resources tab which is ResX-based.

[2019-01-11 01:47] jkotas commented on #34530
What do we expect the diagnostic info to be? A short name; or a long (e.g. multi line) string? If we expect it to be a short name - as suggested by `Default` for the default context, we may want to call it Name or FriendlyName; and have property that returns in. We have prior art for this: `AppDomain.FriendlyName`, `Thread.Name`.

[2019-01-11 02:04] Grauenwolf commented on #26714
That sounds reasonable.

But I would like to point out a huge advantage of System.Data over JDBC is that we don't have to think about connection pooling. Things just work regardless of which database provider we use.

So compared to the other things on the list this is a very low priority item.

[2019-01-11 02:10] jkotas commented on #34204
You can certainly use parts of WinForms or WPF without the rest of these stacks. I think we should be factoring these parts out of WinForms or WPF into CoreFX only if they are good forward-looking technology. The ResX resources are not a particularly great format. I do not think we should be breathing a new life into them by factoring them out into CoreFX repo and making them easier to use without

[2019-01-11 02:19] sparkie108 commented on #34204
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/localization/
https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.imagesource.fromresource?view=xamarin-forms

[2019-01-11 02:44] sdmaclea commented on #34530
Originally @vitek-karas was proposing it to be a friendly name.  I was concerned about the anonymous `AssemblyLoadContext` created by `Assembly.LoadFile(path)`.  I guess the name in this case could be
`Anonymous-Load.File(<path>)` (or `Anonymous-Load.File(<path>)-<Sequence>` if we want a more unique name).

[2019-01-11 02:53] SuYiQianYei opened #34540 "Socket SendFile or BeginSendFile Is there a size limit"
Win7  3G size file  get Exception

[2019-01-11 02:55] jkotas commented on #34530
Maybe `Assembly.LoadFile(<path>)` ? The friendly name should allow people to quickly guess where the context came from. Including the API name that crated the context verbatim should help.

[2019-01-11 02:58] karelz commented on #34486
@v-haren is it persistent failure?
It does not seem to be related to CoreFX.

cc @wtgodbe @mmitche

[2019-01-11 03:04] karelz commented on #34540
@SuYiQianYei are you saying that 3GB file will throw exception?
What is the exception? When is it thrown? (right away or at 3GB)
Did you find the exact file size which triggers the exception?

[2019-01-11 03:06] zhengchun commented on #34487
thanks everyone, I have open this issue in the `libgdiplus` repo. thanks again.

[2019-01-11 03:09] stephentoub commented on #34540
There's no limit enforced by .NET. Any limitation here comes from the underlying OS. e.g. on Windows SendFile is just a thin wrapper for TransmitFile, and according to https://docs.microsoft.com/en-us/windows/desktop/api/mswsock/nf-mswsock-transmitfile, "The maximum number of bytes that can be transmitted using a single call to the TransmitFile function is 2,147,483,646, the maximum value for a 32

[2019-01-11 03:11] karelz commented on #34462
I agree with @geoffkizer. If we find that some tests are flaky or problematic on other implementations, we can change our position.
Running them at least once on platform handlers is IMO valuable. Given the churn and new tests being brought up in the upcomming months, it would be valuable to run them on regular basis to avoid accidental regressions and mistakes + get cross-implementation coverage

[2019-01-11 03:18] stephentoub commented on #34501
Just based on the symptoms this sounds the same to me as https://github.com/dotnet/corefx/issues/25916#issuecomment-376689779, https://github.com/dotnet/corefx/issues/30610#issuecomment-399522462, https://github.com/dotnet/corefx/issues/16352#issuecomment-281431102, etc.

[2019-01-11 03:19] davidsh commented on #34462
FYI.  The team discussed this issue in the Wed. team meeting.  And we agreed on a slightly different conclusion.

[2019-01-11 03:21] SuYiQianYei commented on #34540
@stephentoub
https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs

SendFile only invoke TransmitFile once
so on Windows    limit 2,147,483,646

[2019-01-11 03:31] karelz commented on #34534
I think .NET Standard API requests should be done in https://github.com/dotnet/standard repo, but I am not 100% sure - @terrajobst?

[2019-01-11 03:37] karelz commented on #34334
When that feature is in, it would make sense to reopen this request ... we will need to establish our API review position too though.

[2019-01-11 03:52] KirillOsenkov commented on #2003
@karelz  missing .pdb and rebuilding a single .dll in debug to remove optimizations.

Also tooling like SourceBrowser really loves determinism because there’s less changes on every reindex (it’s heavily incremental, massive data upload to Azure).

Also for Symbol cache (less symbol downloading due to more cache hits). It hurts me a lot with Desktop framework because it’s not deterministic and ever

[2019-01-11 03:52] SuYiQianYei commented on #34540
@stephentoub   @karelz
I got it  Thank you

[2019-01-11 03:56] karelz commented on #2003
Sounds reasonable, thanks for the list.
@wtgodbe can you please prioritize it after the top must-haves in Infrastructure backlog?

@danmosemsft @joshfree are you supportive?

[2019-01-11 03:58] KirillOsenkov commented on #2003
@karelz forgot about MEF cache invalidation!

Imagine your app uses MEF, so every update of CoreFX it would invalidate the cache even if the app disn’t change.

[2019-01-11 03:59] karelz commented on #34540
I will close it as answered. I don't think making multiple TransmitFile calls is necessary. We can reconsider in future if there is higher demand.
@stephentoub feel free to reopen if you disagree ...

[2019-01-11 03:59] #34540 closed

[2019-01-11 04:35] SteveL-MSFT commented on #34506
The issue appears that the compatibility section of the application manifest doesn't get embedded in a 3.0 built exe https://github.com/dotnet/core-sdk/issues/267

[2019-01-11 05:39] #33487 closed

[2019-01-11 08:04] AriNuer opened #34542 "Test " System.ServiceProcess.Tests.ServiceBaseTests.LogWritten " failed in netfx-Windows_NT-Release-x64-Windows.10.Amd64.ClientRS4"
**Job name:**
netfx-Windows_NT-Release-x64-Windows.10.Amd64.ClientRS4
**Failed test:**
System.ServiceProcess.Tests.ServiceBaseTests.LogWritten

Error message:
[code]
Stack trace:
[code]

Details:
https://dnceng.visualstudio.com/internal/_build/results?buildId=70436&view=ms.vss-test-web.test-result-details

[2019-01-11 08:06] MSiccDev commented on #19771
We are currently running into issues with the `AsDataView()` extension method as well. One of our private third-party NuGet packages needs this method internally and is, of course, throwing `MethodNotFoundException` there.

Microsoft wants us to port our code base over to newer versions of .NET, but puts not only stones, but rocks in our way. In my opinion the low number of complaints is just beca

[2019-01-11 09:18] AndreasHeisel commented on #34489
It's good to see this on the to do list.

@jkotas This is not only for completeness and compatibility. There is a real need for the feature. It enables authorisation downstream in an asynchronous path if you don't control all the code on the way.

[2019-01-11 09:29] buybackoff opened #34543 "SEHException on Sse.Shuffle(Vector128<uint>, byte) and segfault during Jitting a method with Crc32"
The following test fails with SEHException in Shuffle. However, when manually inlining the `shuffle_ulong` method it works OK.

The code used to work on 2.1 with the intrisic package from MyGet and `StaticCast` instead of `Vector128.As<>`.

Using Runtime 3.0.0-preview-27310-6 and SDK 3.0.100-preview-010046.

[code]

**Update:**
Maybe related issue: while using Crc32 I get segfault exception but in

[2019-01-11 09:30] MarcoRossignoli commented on #34489
I'm surprised that this issue is not come out before.

[2019-01-11 10:23] #32721 closed

[2019-01-11 10:33] vitek-karas commented on #34530
I vote for `name` (should discuss in API review if we should also add a `Name` property or not).
I would not include detailed info in this (as in callstacks and such), The intent is for this to show up in the debugger (`ToString` will do that) and thus it should be reasonably short to be useful.

I think we should describe some sample scenarios for each of the additions.
* The `name` and `ToString

[2019-01-11 10:51] epa opened #34544 "Proposal: Non-generic IReadOnlyDictionary interface"
We have non-generic IDictionary but there is no non-generic IReadOnlyDictionary.  Sometimes the non-generic form is useful, even in new code.  I suggest adding non-generic IReadOnlyDictionary and having the generic IReadOnlyDictionary<K,V> implement it, with default implementations provided by the interface (if that is possible in .NET itself and isn't just a C# language feature).

If the generic

[2019-01-11 11:13] benaadams commented on #34489
cc @blowdart

[2019-01-11 11:15] davidkaya commented on #29323
I finally got back to it again.

@JeremyKuhne I have the implementation somehow ready, I can't get the tests running though. I tried 2 things:

1. `./build.sh` in CoreFX succeeds. `./build.sh -test` in CoreFX fails on sigabrts on all tests (maybe related to the fact that I had to make change in corelib? In the second step I tried to override the coreclr path).
2. `./build.sh` in CoreCLR succeeds.

[2019-01-11 11:23] corradocavalli commented on #33704
I have the same problem after moving SignalR code inside a netstandard 2.0 lib (thus forced to use SignalR client v 2.4)
This is a showstopper for us, any new or workaround?

[2019-01-11 12:43] jkotas commented on #34489
It has come up a few times before, e.g. https://github.com/aspnet/Security/issues/322 or https://github.com/aspnet/AspNetCore/issues/481. Depending on ambient statics for security-related stuff is not very robust pattern as multiple people pointed out in the linked issues. It is easy to make a subtle mistake and get these ambient statics mixed up or escape unexpectedly.

[2019-01-11 12:44] LadislavLang commented on #34063
The same problem with Socket:

[code]

[2019-01-11 12:57] MarcoRossignoli commented on #34489
Thank's Jan for pointing issues....my "surprise" come right from "web apps"

[2019-01-11 13:39] svick commented on #34544
When?

My main issue with the non-generic interfaces is that they're not truly type safe. And if you actually want a `IReadOnlyDictionary<object, object>` view of an existing dictionary, you can create a wrapper for that yourself.

[2019-01-11 13:42] tmds commented on #31713
When a process terminates, it becomes a 'zombie'. This is the state where there are still some resources in the kernel that must be cleaned up. Those gets cleaned up by someone calling the `waitpid` system function. Usually this is the parent. A .NET Core process will ensure this happens for all it's children when they terminate. When the parent terminates before its children, it becomes the respo

[2019-01-11 13:51] epa commented on #34544
I was thinking of this utility method I sometimes use:

[code]

It's used when you have a dictionary containing instances of the base type, but the programmer knows that a more specific type will be returned for a given key.  If the programmer made a mistake, the error message returned is a bit better than just casting.

It takes a non-generic for the convenience of having only one type parameter,

[2019-01-11 14:54] stephentoub opened #34547 "FormatDescription EventLog test frequently failing"
This test continues to fail frequently in CI, e.g.
https://mc.dot.net/#/user/Dotnet-GitSync-Bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/9d279bc3edfc20ee52b91d07b457e2954d08070a/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogRecordTests~2FFormatDescription(log:%20%5C%22Application%5C%22)
[code]
cc: @danmosemsft, @maryamariyan

[2019-01-11 15:16] MichalStrehovsky commented on #34182
Thanks @mconnew! To your question: default interface methods are going to show up in reflection the same way as any other interface methods, except they won't be abstract.

Seems like the consensus is to keep calling the `Invoke` method as usual, even if there's a default implementation available. The `TryInvokeDefault` method is something we can implement if there ends up being demand for such fe

[2019-01-11 15:16] #34182 closed

[2019-01-11 15:39] stephentoub commented on #33038
Fixed by https://github.com/dotnet/corefx/pull/33196.

[2019-01-11 15:39] #33038 closed

[2019-01-11 15:44] loop-evgeny opened #34550 "HttpWebRequest.ReadWriteTimeout is ignored - reading never times out"
.NET Core 2.1.7 on Windows 7 x64

[code]

Based on the [docs](https://docs.microsoft.com/en-us/dotnet/api/system.net.httpwebrequest.readwritetimeout?view=netcore-2.1) I would expect the `responseStream.Read()` call to time out, but it never does. `responseStream.CanTimeout` returns false - so at least it's honest!

In this case the entire file (1953349632 bytes) is eventually downloaded, but in a

[2019-01-11 16:06] adamsitnik commented on #29277
@stephentoub yes, we can close it

@AlexRadch you need to clone the dotnet/performance repo and  follow the instructions from https://github.com/dotnet/performance/tree/master/src/benchmarks/micro#how-to-compare-different-runtimes

[2019-01-11 16:06] #29277 closed

[2019-01-11 16:16] sdmaclea commented on #34530
If I wanted a visual representation of the isolation boundaries, I would want the set of ALC's and the set of Assemblies in each ALC.

Neither one of these is strictly necessary as they can currently be derived from iterating through the assemblies in the default `AppDomain.GetAssemblies()` and calling `AssemblyLoadContext.GetLoadContext()`.  I am leaning to adding them because I would argue they

[2019-01-11 16:30] sdmaclea commented on #34530
I updated the proposal to at least partially address @vitek-karas comment and I changed the `Assemblies` property to `GetAssemblies()` to match `AppDomain`

[2019-01-11 16:44] danmosemsft commented on #29323
@davidkaya when you patch corefx with coreclr it can happen that they are not quite in sync. You could try to find the relevant change and avoid it, or if these test failures are just in threading tests, ignore them for the purposes of your work.

[2019-01-11 16:50] stephentoub commented on #16513
The issue isn't just those lines.  It's what happens when those lines execute but then the calling code ends up using the incorrect data.  If, for example, `if(pooledArray.IsSameString(pStr, 0, position))` was true at the call site, then we'll end up returning an incorrect string and returning the already-returned array back to the pool.

That said, the test hole is really only applicable when doi

[2019-01-11 16:50] #16513 closed

[2019-01-11 16:51] jermarti commented on #33704
Until this is fixed I'm using long polling instead of websockets as a workaround for UWP clients only

[2019-01-11 16:53] nguerrera commented on #34204
I am not sure, but "WinForms SDK" may refer to Microsoft.NET.Sdk.WindowsDesktop, which is not yet open source. It's sitting next to WPF sources that haven't been moved to github yet. I believe it will land in dotnet/wpf at some point. It includes almost nothing specific to windows forms. The majority of it are the build tasks for handling WPF xaml.

We have made the call that to use `<Page>` and c

[2019-01-11 16:57] danmosemsft commented on #34204
It is not a large amount of code to copy, and also presumably very stable code (we don't plan to change it). That might indeed be easiest.

[2019-01-11 17:05] nguerrera commented on #34204
I think that would probably be OK if it is indeed small and stable. @livarcocc FYI

[2019-01-11 17:08] nguerrera commented on #34204
Also, just to clarify an earlier point:

We *can't* add this dependency because Winforms does not exist on all platforms that msbuild supports.

[2019-01-11 17:09] davidkaya commented on #33292
@GrabYourPitchforks There is also a JS encoder in https://github.com/dotnet/corefx/blob/e23f83e6172ef2d879342e1c4883012749b91ef1/src/System.Web.HttpUtility/src/System/Web/Util/HttpEncoder.cs#L170 available through `HttpUtility`.

[2019-01-11 17:15] karelz commented on #34501
@wtgodbe can you please deep dive into it next week? I'd like to understand what we can do and how costly it would be. Thanks!

[2019-01-11 17:17] vellozzi opened #34551 "Waiting for v2.1.7-dependencies tag"
We're waiting on the v2.1.7-dependencies tag so we can build 2.1.7.
Are you still following the "-dependencies" convention for this repo?  Can you give an ETA?

[2019-01-11 17:18] jkotas commented on #34204
The general resource case as it existed in .NET Framework depends on binary serialization (e.g. look for the `BinaryFormatter` references in @danmosemsft). The binary serialization comes with:

- Versioning problems: Ideally, you want to use the target assemblies for the binary serialization. The types you want to binary serialize may not even exist in the runtime that the msbuild is running on.
-

[2019-01-11 17:21] stephentoub commented on #28901
The Tizen leg is enabled and passing in corefx CI.  Closing.

[2019-01-11 17:21] #28901 closed

[2019-01-11 17:36] nguerrera commented on #34204
Agreed. @rainersigwald has been investigating whether we can convert from .resx -> .resources without deserialize -> reserialize step.

The code would have to change, but we still need some parts of it to interpret things in the resx apart from deserialization of data values.

[2019-01-11 17:37] karelz commented on #34428
We do not ship code in NuGet packages, unless we have to. System.Net.Http is mainly legacy for .NET Framework where we attempted to deliver value of innovation also to .NET Framework developers as opt-in and caused major problems which we reverted later - see details in #11100 and post-mortem in #17522.
If we had a time machine, we would go back few years and NEVER ship System.Net.Http package at

[2019-01-11 18:03] danmosemsft commented on #2003
It's a good idea, if it's feasible (given corefx build has so many steps that do things like rewrite outputs)

[2019-01-11 18:20] davidkaya commented on #34550
In https://github.com/dotnet/corefx/issues/20043 it was decided to make the property noop, so I think this issue is related to docs. I think the underlying streams have `CanTimeout==false`, so there would be required changes there.

[2019-01-11 18:57] GrabYourPitchforks commented on #33292
@davidkaya The encoding routines in `System.Text.Encodings.Web` are preferred over the routines on `HttpUtility`. I'd like to obsolete the latter.

[2019-01-11 20:02] karelz commented on #33704
Thanks @tommcdon! Do you know which version it works on correctly? (UWP6.1?)
It seems that the original bug was a regression from something ... I'd like to find out what caused the regression. @davidsh you did the fix, do you have more insights?

[2019-01-11 20:24] tommcdon commented on #33704
I tested this on 6.1.9 which is based off of CoreFX 2.0.

On Jan 11, 2019, at 12:05 PM, Karel Zikmund <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks @tommcdon<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ftommcdon&data=02%7C01%7CThomas.McDonald%40microsoft.com%7Cbba8c87acd674259440408d678001a4b%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%

[2019-01-11 20:30] jkotas commented on #34530
System.Reflection.Assembly[] GetAssemblies()`

If `GetAssemblies()` returns array, `GetLoadContexts()` should return array too.

Wrt array vs. `IEnumerable<T>`: The original .NET Framework APIs tend to return arrays for enumerations because of we did not have generics. We tend to prefer to return `IEnumerable<T>` from new APIs.

[2019-01-11 20:36] davidsh commented on #33704
The original was a regression. It was a regression introduced by #21755 and related changes for a feature/behavior change:

That PR introduced this regression regarding 0-byte receives.  So, my PR #29810 was able to fix that regression.

So, yes, the fix for this issue is to port the approach fixes from the master branch into the latest UWP servicing branch.

[2019-01-11 21:03] karelz commented on #33704
Thanks @davidsh!
Looks like UWP releases did not have tags, so I don't know which UWP version the original regression #21755 (commit 09d029cbe1734ffb4f2ee5f259acfd69ea172158) was introduced first.

That said, it seems we need to port the fix David identified, smoke test it and ship it.
@tommcdon do you have advice how to do that? Which branch, when and who?

[2019-01-11 21:19] WinCPP commented on #33320
Are there any special steps for generating the string resources for exceptions etc.? I added few new strings to Strings.resx but I am not able to figure out how to have them in SR.cs file. Appreciate inputs.

[2019-01-11 21:37] tommcdon commented on #33704
@karelz or @davidsh please create a PR for porting #29810 to release/uwp6.2 CoreFX (https://github.com/dotnet/corefx/tree/release/uwp6.2) and we will approve and merge it.

[2019-01-11 21:45] davidsh commented on #34550
We currently document these variances between .NET Framework and .NET Core here:
https://github.com/dotnet/corefx/wiki/ApiCompat

We have a section for HttpWebRequest.  But it looks like we need to update that to include a description for the `ReadWriteTimeout` property and that the property isn't implemented.

[2019-01-11 21:59] sdmaclea commented on #34530
@jkotas done

[2019-01-11 22:01] tommcdon commented on #33704
@zamont as FYI, we will want to consume this in the UWP metapacakge once it is fixed

[2019-01-11 22:03] #2808 closed

[2019-01-11 22:03] #30799 closed

[2019-01-11 22:20] morganbr opened #34555 "API Proposal: Serialization Guard"
# Background
Deserializing data without a limit on the types the application will accept has long been a source of remote code execution security vulnerabilities. Some serializers, such as ```DataContractSerializer``` and ```XmlSerializer```, require a list of allowed types, but others, such as ```BinaryFormatter``` do not. While there has long been guidance not to use ```BinaryFormatter``` with u

[2019-01-11 22:22] morganbr commented on #34555
CC @bartonjs, @GrabYourPitchforks, @krwq, @terrajobst, @jeffschwMSFT, @danmosemsft, @ViktorHofer

[2019-01-11 22:34] #31412 closed

[2019-01-11 22:36] caesar1995 commented on #30311
Fixed in #34507.

[2019-01-11 22:36] #30311 closed

[2019-01-11 22:37] caesar1995 commented on #31423
Fixed in #34507. Consider patching your .NET Core to avoid the security vulnerability #34428.

[2019-01-11 22:37] #31423 closed

[2019-01-11 22:38] caesar1995 commented on #31413
Fixed in #34507.

[2019-01-11 22:38] #31413 closed

[2019-01-11 22:38] caesar1995 commented on #30311
Please upgrade your .NET Core version to avoid the security vulnerability #34428.

[2019-01-11 22:47] vatsan-madhavan commented on #22972
WPF could use something like this, I think. I like @tmat's suggestion in https://github.com/dotnet/wpf/issues/259 that `Path.Combine(Path.GetTempPath(), Guild.NewGuid().ToString())` would be a good starting point.

A new overload for `Path.GetTempFileName` that works like this might be interesting to consider:

[code]

- A call to `Path.GetTempFileName(Guid.NewGuid())` or `Path.GetTempFileName(Gui

[2019-01-11 23:10] davidsh commented on #33704
I have submitted PR #34558 against the release/uwp6.2 branch which fixes this.

[2019-01-12 00:45] danmosemsft commented on #34542
This is missing my change
96a13e8f Disable TestService tests on NETFX (#34365)
it appears to be not running against master, but against
070b554c Consume core-setup using darc
which is older?

@AriNuer please only look at runs against the master branch. The branch is in the right hand column if you are looking Azure DevOps.

cc @safern

[2019-01-12 00:46] #34542 closed

[2019-01-12 00:58] azchohfi opened #34562 "ResourceManager/Localization not working after changing rootnamespace"
This issue had already been fixed by Asp.Net Core, but we need the same solution for WPF/WinForms:
https://github.com/aspnet/AspNetCore/issues/2645

[2019-01-12 02:36] davidsh commented on #33704
This bug is now fixed in the release/uwp6.2 branch.

The fix will appear in a future Microsoft.NETCore.UniversalWindowsPlatform NuGet package after version 6.2.3.

[2019-01-12 02:36] #33704 closed

[2019-01-12 03:02] #34000 closed

[2019-01-12 03:02] #34004 closed

[2019-01-12 03:02] #34030 closed

[2019-01-12 03:56] Grauenwolf commented on #31595
SequentialAccess is used by ORMs. Since they tightly control both the SQL generation and the data reading, they can afford the extra effort of ensuring the columns are read in order.

However, I don't like using async methods for reading specific fields because of the Task overhead. If we were to offer async version of GetBoolean() and friends, I would want them to be ValueTask instead of Task.

[2019-01-12 06:40] jkotas commented on #34489
@MarcoRossignoli Interested in grabbing in this one? This one should be pretty straightforward and non-controversial.

[2019-01-12 06:42] jkotas commented on #34562
cc @sdmaclea

[2019-01-12 08:32] MarcoRossignoli commented on #34489
Sure @jkotas I will grab this ASAP, thank you for your trust.

[2019-01-12 09:05] ahsonkhan opened #34568 "Investigate Utf8JsonWriter performance improvement by using AggressiveInlining"
From https://github.com/dotnet/corefx/pull/34425#discussion_r247299987

Given we do not pass spans by ref within the `Utf8JsonWriter`, it is likely fruitful to mark certain Write methods as `AggressiveInlining` to reduce the amount of struct copies.

Investigate the performance of deep call graphs and consider marking the common path as `AggressiveInlining` (if it shows noticeable performance impr

[2019-01-12 09:54] omariom commented on #34568
Looks like  passing spans by value and by ref  now [generates identical code](https://sharplab.io/#v2:EYLgHgbALANALiAhgZwLYB8ACAGABJgRgG4BYAKB3wIDoAlAVwDs4BLVAU2oGEB7VABxYAbdgCcAymIBuLAMbtkpMuUwBmfACZcXXOQDe5XEfzrMUXAAUUyAEIBPAGqIhACgCUussdwGv347TsiAAmAPKMQnbi/IiMADzAdnDsAHy4icnIuAC8uIzsAO7pSewA2gC6PrgEMBow6gC+Sv7G9k6uGQpuzcYNhsb9Rmr45lbItnaBAGbunt6+LUaBIeGR0bEJJWmdWbn5RZ0VVTV1jT0t9tMuO92DuH1+Rnel

[2019-01-12 10:07] ahsonkhan commented on #34568
From the disassembly you shared, PassByVal has one extra `lea` instruction:
https://www.diffchecker.com/68FWHi0b

[2019-01-12 10:20] albahari opened #34569 "SqlClient gives wrong error with incorrect SQL Server credentials"
Microsoft Windows [Version 10.0.17763.253]
Microsoft.NETCore.App 3.0.0-preview1-26929-01

To reproduce:

1. In SQL Server 2017, create a new SQL Server login with SQL Server authentication. Set the username to 'test' and the password to 'foo'. Leave the checkbox "User must change password at next login" ticked. (Note that the bug still occurs without that checkbox ticked, but the consequences are

[2019-01-12 11:45] Therzok commented on #30600
I suppose this can be closed due to #33865

[2019-01-12 11:45] #30600 closed

[2019-01-12 12:12] ahsonkhan commented on #33552
Marking as approved based on https://github.com/dotnet/apireviews/pull/82.

@jkotas provided feedback to change JsonWriter to no longer be generic. The usability concern with a generic JsonWriter was not worth the trade off of preventing boxing of a struct `IBufferWriter<byte>`. Furthermore, given the only publicly shipped `IBufferWriter<byte>` is a class (PipeWriter), it made sense to design for

[2019-01-12 13:09] ahsonkhan opened #34570 "Improve Utf8JsonWriter code coverage for custom IBufferWriter implementations"
In particular:
- Add more tests that use `FixedSizedBufferWriter` to test re-try and grow logic (writing should fail if buffer too small).
- Add tests that use `PipeWriter` as the `IBufferWriter` passed into the `Utf8JsonWriter`

**For example:**
[code]
[code]
[code]
[code]

[code]

`Utf8JsonWriter` added here: https://github.com/dotnet/corefx/pull/34425

Current code coverage is at ~95% line cove

[2019-01-12 14:36] benaadams commented on #33552
That's just a case of wrapping it in a struct to switch from the slowest calling convention to the fastest calling convention (see: [TechEmpower/aspnetcore/PlatformBenchmarks](https://github.com/TechEmpower/FrameworkBenchmarks/blob/3f5ae4d173f330cd9a047b9439aa9b3cea84e16b/frameworks/CSharp/aspnetcore/PlatformBenchmarks/BenchmarkApplication.HttpConnection.cs#L156-L175)); which is faster than the in

[2019-01-12 14:44] benaadams commented on #33552
Note: If it was generic would share the `WriterAdapter` between `writer` and `jsonWriter` instantiating both with the same wrapper; but the code change would be very similar.

[2019-01-12 15:08] Tornhoof commented on #34568
My experience regarding ``in`` or not ``in`` for ReadOnlySpan is to be extremely careful if I don't use it, so I basically slap it on every ``ReadOnlySpan<byte>`` method parameter:
Take the following code snippet
[code]
(https://github.com/Tornhoof/SpanJson/blob/master/SpanJson/Helpers/SpanHelper.cs)

it is heavily used for the integer based property matching during deserialization, the same code