[2016-12-19 20:41] ianhays commented on #11861
Why not both?

[2016-12-19 20:54] SamuelEnglard commented on #11861
Paradox of choice?

[2016-12-19 20:54] deepumi commented on #12421
@karelz sure, thank you.

[code]

**Usage**

[code]

[2016-12-19 20:58] ianhays commented on #10428
Does anyone want to take this and submit a formal API proposal with samples and use cases? If not, I'm going to close the issue as there hasn't been any movement in a while.

[2016-12-19 20:59] JonHanna commented on #14563
Not commonly hit I get, though I'd say it's commonly unexpected in that I think people who've been using these classes synchronously would expect the behaviour this PR brings.

It's also hard to see how someone could have a dependency on the NRE. (A dependency on the no-op on null `char[]` also seems unlikely, but not so much as on the NRE).

[2016-12-19 21:25] DamianEdwards opened #14627 "Microsoft.DiaSymReader.Native folder ends up in project using new CSPROJ after upgrading to Microsoft.NETCore.App/1.1.0"
See dotnet/roslyn#15859

This will need to be included in 1.1.1 such that Microsoft.NETCore.App brings in the updated Microsoft.DiaSymReader.Native once it's fixed.

[2016-12-19 21:26] DamianEdwards commented on #14627
@terrajobst Can you make sure this ends up wherever it has to get this resolved for 1.1.1 please?

[2016-12-19 21:37] ianhays commented on #14563
Oh I'm sure someone somewhere relies on the current behavior.  The question is whether the number of people expecting your more correct behavior outnumber the number of people inconvenienced by a change to the existing behavior. The former is easily enumerable by a google search, but the latter we'll likely only be able determine after making the change and listening for reactions.

Personally my

[2016-12-19 21:46] ianhays commented on #11861
I don't think that's a particularly large concern when comparing operator overloads to named methods.

I'd personally rather have both than just the operator overloads.

[2016-12-19 21:52] karelz commented on #12421
Do you plan to address the feedback on fluent API model?
What about [Query setter](https://apisof.net/catalog/System.UriBuilder.Query) interaction?

[2016-12-19 21:52] ianhays commented on #14382
the lock(this) instances are all from this usage.

I'm not sure why the other instances on that list are considered "bad", but at a glance they look fine to me (e.g. locking on Console.Out).

Sounds like the work item here is to add suppression messages then.

[2016-12-19 21:53] karelz commented on #14627
@ericstj @mellinoe any guess who should take first look?

[2016-12-19 21:59] ianhays commented on #14152
The proposal and use cases seem reasonable to me. Let's nail down which API we want, then take it to API review. A sample implementation, tests or code using the API would be helpful to get the ball rolling as well.

[2016-12-19 22:07] SamuelEnglard commented on #11861
Works for me, I'll add them too then

[2016-12-19 22:18] muratg commented on #10428
@BrennanConroy could you update the impact of this? (and what workaround did we use?)

@ianhays please do not close just yet. IIRC, an ASP.NET scenario was impacted with this...

[2016-12-19 22:19] jnm2 commented on #3419
The only counterintuitive part is that calling AppendJoin with a `List<string>` results in the `params List<string>[]` being chosen.

[2016-12-19 22:22] svick commented on #11861
@ianhays

I think that the proposed type is a perfect match for operator overloads. They should be provided on it, to make code using it easier to read.

I can also think of a single precedent in existing .Net: string concatenation. Immutable string, `string`, supports `+` in C#, while mutable string, `StringBuilder`, has only an instance method `Append`. (Though `string` also has static method `C

[2016-12-19 22:31] alexperovich commented on #14382
Locking on anything that is publicly accessible is considered bad because anyone can write code that forces your code to deadlock. If in some library I write:

[code]

Then my library has deadlocked the application.

[2016-12-19 22:31] karelz commented on #11100
You're making 2 large assumptions:
1. Assumption: The breaking change is known (aka understood to be breaking) before shipping.
    - That's not the case for this issue -- as is common for class of "unintended breaking changes". Yeah, things sometimes slip through :(. The important metrics are IMO: fast reaction (I agree we didn't do that one right on this issue until now) and decreasing/low frequ

[2016-12-19 22:33] ianhays commented on #11861
I don't think `string` is as good of a comparison as the other classes in `ImmutableCollections` that face the same concern on returns e.g. how `immList.Add(newItem)` doesn't modify the existing reference but returns a new reference. I think it's reasonable to follow that pattern and have `ImmutableBitArray` structured the same way.

This is the same as ImmutableList providing an `Add` method. The

[2016-12-19 22:50] karelz commented on #11861
If we could get by only with operators, I would agree with @svick. But given that we need to add `SetBit` and `ResetBit`, I think that consistency with other mutable->immutable types relation (like `ImmutableList` as @ianhays pointed out) is good to keep.
From that point of view I think we should keep all `Or`, `And` methods from mutable `BitArray`. We can add also the operators for ease of use. W

[2016-12-19 22:52] h3smith commented on #14615
@saurabh500 I've tested this on Windows 2012 R2 (SQL Server 2012), Docker on OS X (Both SQL Server 2012 and SQL Server on Docker), AWS EC2 (Amazon RDS SQL Server). So a variety of environments. Doesn't seem to be tied to a single configuration.

[2016-12-19 22:53] fujiy commented on #14376
Hi @karelz, I plan to work on it with a colleague. Have you defined if we need to Override ToString, add debugger viewer or both?

Thanks

[2016-12-19 23:06] karelz commented on #3419
@jnm2 you're right, I double checked. That sucks.

`IEnumerable<T>` and `params T[]` overloads don't work well together. @terrajobst we should either pull `params T[]` overload, or change it to:
[code]
to disambiguate the calls, if we really care about the usage syntax `sb.AppendJoin("separator", "a", "b", "c");`.
Any other guidance from API design point of view?

[2016-12-19 23:07] svick commented on #11861
@ianhays

That's a good point.

I think it's because adding an item to a collection is sufficiently different from adding two numbers to use the same operator for both. (Though a similar argument could be made for for `+` for string, especially in the `string + char` form.)

On the other hand, ORing two `ImmutableBitArrays` works the same as ORing two integers.

[2016-12-19 23:07] karelz commented on #14376
@KrzysztofCwalina @jkotas can comment which solution is better ...

[2016-12-19 23:58] bartonjs commented on #14577
Started a thread with the Windows Crypto team.  NCryptEncrypt has started behaving differently when passed undersized buffers between Win10-current-released and Win10-latest-nightlies.

[2016-12-20 00:13] robertmclaws commented on #11100
I really appreciate all of the discussion on this. Seriously. It's awesome. Thanks for being open on this.

At the end of the day, though, here is the #1 issue: You guys rewrote a major part of the stack. The part that is central to almost everything. And you don't have even-remotely-adequate test coverage.

After > 5 years of shipping .NET 4.0-related stuff, there really is no excuse for not havi

[2016-12-20 00:38] karelz commented on #5552
@AlexGhiondea why did you remove the 'api-approved' in https://github.com/dotnet/corefx/issues/5552#event-826274231?
Was it intentional or a mistake?

[2016-12-20 00:46] karelz commented on #5552
Also note that we should not overload on `IEnumerable<T>` vs. `params T[]`. When you call `Join('-', new List<string>() {"a", "b"});`, the `params T[]` overall is called on instance of `List<string>` rather than on the enumerated 2 instances of the strings in the list.

cc: @terrajobst opinion?

[2016-12-20 00:47] karelz commented on #14423
@mellinoe it is blocking @jamesqo in making progress on his contributions ... can you please provide any help here?

[2016-12-20 01:01] mellinoe commented on #14423
I've never seen this myself. Maybe it has something to do with the version of MSBuild you are using? I have only tried building corefx with MSBuild 14.0, and I believe we do the same in all of our CI runs.

Is there some pattern as to which projects are failing like this for you?

[2016-12-20 01:37] deepumi commented on #12421
@karelz @AlexGhiondea apologize for the delay in getting back to you.

Yes, modified the API model above and usage version as well.

Query setter interaction goes inside ToString() method like [this](https://gist.github.com/deepumi/d6634e38b98e4552ca4dda19bbff0359#file-uriquerystringbuilder-cs-L45)

[2016-12-20 01:45] karelz commented on #14423
@jamesqo are you using any special version of msbuild? If yes, can you try 'standard' one ... just to narrow down where the problem is ...

[2016-12-20 02:14] jamesqo commented on #14423
@mellinoe Thanks for responding; I installed VS 2017 a while ago, so I am using MSBuild 15.0. I will try using MSBuild 14.0 tomorrow or so and see if everything works out.

[2016-12-20 02:25] SamuelEnglard commented on #11861
I've updated the speclet with methods as both instance members and static members

[2016-12-20 04:11] hseok-oh commented on #10113
fixed by #14618

[2016-12-20 04:11] #10113 closed

[2016-12-20 05:26] karelz commented on #11861
We should add also methods for LeftShift and RightShift (and operators for them) -- see #8719 (currently in PR).

[2016-12-20 05:46] karelz commented on #11861
API proposal moved to top post (middle post deleted).
I fixed incorrect `static` in the first set of `And`/`Or`/... methods.
Added more comments to explain where each set of methods comes from.
Added open questions.

[2016-12-20 06:18] AlexGhiondea commented on #5552
@karelz I am not sure. It might have been because some questions came up in https://github.com/dotnet/coreclr/pull/7621.

[2016-12-20 06:19] mikedn commented on #11861
I think you should add at least `Set` since there's no other way to change a single bit. `ImmutableArray` does have [SetItem](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.cs#L692)

Though it would be rather expensive to have to allocate a new array only to change a single bit. We might consider the existing `BitArra

[2016-12-20 06:27] AlexGhiondea commented on #12421
@deepumi can you tell me more about how the `IEnumerable<KeyValuePair<string, string>>` overload is different than the `IDictionary` overload? Do they have different usage patterns?

While this is a somewhat useful addition, I am not sure if it is worth the overhead of adding a new type to the framework.

@CIPop, @terrajobst what do you think?

[2016-12-20 08:07] karelz commented on #12421
I don't understand the 2 overloads either. @deepumi we need good real-world usage sample links (code patterns which do something similar).

@AlexGhiondea adding a type would be overkill, however latest proposal doesn't do that - it just modifies current `UriBuilder`. I updated the spec on the top.

[2016-12-20 08:13] AlexGhiondea commented on #12421
@karelz updating the existing `UriBuilder` would be preferable. I would still like to see real world usage patterns.

(also, I am not seeing the updated proposal that uses just `UriBuilder`)

[2016-12-20 08:15] karelz commented on #12421
Yeah, I missed that one, sorry. There is proposal in the middle which integrates it into UriBuilder.
@deepumi please announce more carefully all changes you're making to the proposal. It is extremely hard to track otherwise.
I will rewrite the top post to `UriBuilder` modification.

[2016-12-20 08:26] karelz opened #14636 "Added additional WellKnownSidType enumeration members"
We need to decide on https://github.com/dotnet/corefx/pull/14611#discussion_r93085854

Looks like the thing which uses [`MaxDefined`](https://github.com/dotnet/corefx/blob/master/src/System.Security.Principal.Windows/src/System/Security/Principal/SID.cs#L114) in a validator is the product code.  https://referencesource.microsoft.com/#mscorlib/system/security/principal/sid.cs,491, and without updat

[2016-12-20 08:36] karelz commented on #11861
@mikedn thanks for insights

Thanks, proposal updated with answer.

Stupid question: What is the value of having it on `ImmutableBitArray`? How is it going to be used? What's the value? Why `IEnumerable` not sufficient?

Updated.

@SamuelEnglard I leave reaction to the rest of the feedback on you :)

[2016-12-20 09:04] mikedn commented on #11861
Performance. The use of `IEnumerable` results in enumerated value types being boxed. Now, in the particular case of `bool` it would be pretty easy to have pre-boxed `true`/`false` and reuse those to avoid allocation but the overhead is still higher than when using `IEnumerable<bool>`.

Convenience & performance. Sometimes you need to enumerate the bits and do some action depending on each bit valu

[2016-12-20 09:17] mikedn commented on #11861
And speaking of LINQ, while it is trivial to use LINQ to implement some common bit queries the performance is bad compared to a built in implementation and that alone may steer people toward creating their own bit arrays. Couple of additional methods that may be worth considering:

[code]

[2016-12-20 09:38] couven92 commented on #11861
Could ImmutableBitArray be used for native interop? In C we have this fancy syntax for bitfields. When I modelled a StructLayout class for a native structure containing bitfields, an ImmutableBitArray could have been useful...

Do we get casting operators to primitive integer types?

[2016-12-20 09:56] mikedn commented on #11861
IMO it's highly unlikely that someone will do the work necessary to allow such a type to marshal as a bit field. Besides, it would be overkill to use a reference type for a bit field.

What would those do?

[2016-12-20 11:58] couven92 commented on #11861
I'm thinking:
[code]
This could be useful if uses a bit array to create the value that is needed elsewhere in the form of a numeric value.
It would also be useful to be able to do the reverse without creating a single-element int array to construct a ImmutableBitArray. E.g.:
[code]

That way I could then easily do:
[code]

[2016-12-20 12:00] StingyJack commented on #11100
Let them fix the mistake they admitted to and not be tied up in tact.

[2016-12-20 12:45] tmds commented on #14606
Since no one complained on the SO, I also believe it will work. Would be great if we can be 100% sure. Also, can someone confirm 'LayoutKind.Sequential' is required for this to work.

My use case is serialization. I agree, if the use case is not common enough it shouldn't clutter the docs.

https://msdn.microsoft.com/en-us/library/ch9714z3(v=vs.110).aspx

The documentation has a paragraph on the o

[2016-12-20 13:40] robertmclaws commented on #11100
Just so we're clear, I'm not trying to beat a dead horse with my last post. But I've seen too many excuses from Microsoft as of late. "Naming is hard." "Versioning is hard." "People make mistakes." This is the mentality of weakness, and not of a team striving for excellence. I really admire @karelz for coming out here and discussing it. But any MSFT employee needs to stop justifying what happened,

[2016-12-20 14:14] cahlbin opened #14638 "ObjectDisposedException in SqlClient SNIProxy"
The following is the exception / stacktrace I get in my application:

`
{
  "ExceptionType": "ObjectDisposedException",
  "Message": "Cannot access a disposed object.\nObject name: 'System.Net.Sockets.UdpClient'.",
  "ObjectName": "System.Net.Sockets.UdpClient",
  "Data": null,
  "StackTrace": "   at System.Net.Sockets.UdpClient.EndReceive(IAsyncResult asyncResult, IPEndPoint& remoteEP)\n   at Sys

[2016-12-20 14:28] chadwackerman commented on #11100
I'm sympathetic to @karelz who only recently took on his position after a long time working on .NET. And he certainly shouldn't have to defend his team. I don't fault the workers here; it's obviously a management problem.

But perhaps it shouldn't be a shock to see circular logic and the kind of double-talk that's widespread at certain layers of Microsoft management not play well in front of the r

[2016-12-20 15:09] dluxfordhpf commented on #11100
Naming IS hard.  Versioning IS hard.  Microsoft has a unique perspective, where they deal with customers from all kinds of industries, ranging from the bleeding edge to the dieing vine.  Concepts for development approach that seem “obvious” in gaming are foreign in CRM systems.  How you approach problems, what is important and what is not important, vary.  And then you add advancing technology, di

[2016-12-20 15:14] jkotas commented on #14376
The debugger viewer is the important one to have.

I am not sure what ToString would do to be useful. Span is essentially a collection type. We do not have ToString overrides on collection types in general.

[2016-12-20 15:16] bradphelan opened #14640 "Version 1.3 on nuget contains DLL wih 1.2.1 version"
The issue is detailed on a stackoverflow post but the key issue is that if you download 1.3.0 from the nuget gallery and then check the dll you see that it is really 1.2.1

http://stackoverflow.com/questions/41244162/nuget-seems-to-install-the-wrong-version-of-system-collections-immutable

https://www.nuget.org/packages/System.Collections.Immutable/1.3.0

![image](https://cloud.githubusercontent.c

[2016-12-20 15:51] robertmclaws commented on #11100
Those were two different products. .NET is a single product. And I'm not trying to blame any one person. I blame the process. It feels like because Microsoft went OSS, they threw the processes that helped them ship the most stable development framework in history out the window. I feel like this would have been caught if it had shipped in .NET 4.6.3 instead of on NuGet.

[2016-12-20 16:06] chadwackerman commented on #11100
The clumsy transition to OSS certainly isn't helping matters. I don't blame OSS but Microsoft certainly seems to be proud to make all the obvious mistakes.

I use words like "quality" to describe software but they now use words like "engagement." Running the instrumented compiler that phones home an extra twenty times a day because I have to manually edit .config files is not "additional engagemen

[2016-12-20 16:22] SamuelEnglard commented on #11861
@couven92 I've been thinking about being able to cast to and from `ImmutableBitArray` and primitive integer types.

The main issue with casting from is overflow. That could be solved with the classic `TryX` pattern or with throwing an exception (which I hate).

It can't be done "to" as a constructor if we want to keep some API compatibility with `BitArray` since it has a constructor that takes an

[2016-12-20 16:27] SamuelEnglard commented on #11861
@mikedn added the LINQ like methods you proposed and added a `FindLast` too.

[2016-12-20 16:50] rottor12 commented on #14567
ok, so after the weekend I've re-run this code and now the time it takes is about 15-30 us (microsecs)

however, it is still a considerable time if you want to run the same function in a loop

I've tried running the same code on RHEL, and I got the same results:

^Before Empty func 16:43:03.992065
^After Empty func 16:43:03.996325
^Before Empty func 16:43:03.996344
^After Empty func 16:43:03.99635

[2016-12-20 17:14] ryanbrandenburg commented on #12632
Thanks @ramarag!

[2016-12-20 17:35] AlexRadch commented on #12655
I am working on this PR

[2016-12-20 17:46] CIPop commented on #13890
@MichaCo I will need to continue my ramp-up to the DNS RFCs and protocols before I review the API proposal. I have been switched to other high-priority items and won't be able to make progress until at least mid-January next year.
The API review shouldn't block the prototyping/implementation efforts.

[2016-12-20 17:50] mj1856 commented on #3249
Well, if it's going to be a new API, it should be part of `System.Time` in CoreFXLab, IMHO.  So I guess that means me. 😉

I'm still not clear exactly on the proposed API.  Sure - subtracting two instances of `MonotonicTime` should give a `TimeSpan` that is as accurate and precise as possible with regards to elapsed time.  But what does a *single* instance of `MonotonicTime` actually represent?  Ho

[2016-12-20 18:37] sepidehMS commented on #9988
Since CodeDom is not part of netstandard2.0 and so XSLTC.exe is not available on core, these tests are no longer relevant and will be removed.

[2016-12-20 18:37] #9988 closed

[2016-12-20 18:38] couven92 commented on #11861
What is the point of having a constructor with the length as an argument to an immutable type? length AND default value might make sense, but I do not see how length alone would be useful...

[2016-12-20 18:52] MichaCo commented on #13890
@CIPop no worries, same here ;) I was looking for Linux equivalents to the windows' DnsQuery/Ex. Didn't really made much progress on that either. Have to check res_query.

[2016-12-20 19:14] terrajobst commented on #14636
I think we should do (5).

[2016-12-20 19:14] BrennanConroy commented on #10428
We wanted a way to check if `Console.Out` was being redirected for logging to possibly remove ANSI Color Codes. I'm not sure if we still want to be able to do that @glennc

[2016-12-20 19:28] AndyAyersMS commented on #14567
@rottor12 For some reason your recent reply is not showing up here. Anyways you say you are still seeing slow times even with warmups. Here's a program I used to test overhead.
[code]
Running this on Ubuntu 14.04 with the .NetCore 1.1 download, I get results like:
[code]

[2016-12-20 19:36] terrajobst commented on #3419
We just talked about this. Ideally, we'd like this shape:

[code]

Which the compiler doesn't support today. However we could elide `params` for now, requiring the consumer to write code like this this:

[code]

And if we ever get `params IEnumerable` we can simply update this method to be `params` because it's not a breaking change.

[2016-12-20 19:41] karelz commented on #3419
I have updated the spec in top most post. `params` overloads are now 'REJECETED'.

[2016-12-20 19:41] terrajobst commented on #5552
We should take a look at the second arguments to make sure that overload resolution doesn't make unfortunate choices or result in ambiguity. However, this has nothing to do with char, but with `T[]` and `IEnumerable`.

The general idea of adding a `char` based overoads is fine.

[2016-12-20 20:50] ericstj commented on #14595
We plan to do this in core-setup

[2016-12-20 21:18] karelz commented on #14636
I can handle the docs once we finish & merge the changes.
@couven92 do you want to finish your change with the feedback above?

[2016-12-20 21:22] karelz commented on #14606
That's correct. For non-sequential, the runtime is free to rearrange fields as it feels fit.

Agree. Let's not clutter the docs then. If the SO topics gets lots of hits, we can reconsider later.

[2016-12-20 21:22] #14606 closed

[2016-12-20 21:26] karelz commented on #3419
@AlexRadch, the (now rejected) APIs are already added to CoreCLR and CoreRT. We need to remove them. Do you want to grab that work?

Thanks @jnm2 for catching the problem!

[2016-12-20 21:39] MattGal commented on #14503
Update:  I spent some time looking at this this morning, and I see the problem.  Not sure how this only turned up recently, but back in August, @ianhays added duplicated msbuild targets to corefx's build.proj from buildtools:

 https://github.com/dotnet/corefx/commit/2674f14a0cf854ae265e6ee74061641425d01e1b

Which puts the extra unnecessary packages.zip in an incorrect place (it should not be in a

[2016-12-20 22:22] steveharter commented on #4278
The initial code has just been merged.

[2016-12-20 22:22] steveharter commented on #1132
The initial code has just been merged.

[2016-12-20 22:37] Jaedson33 commented on #4278
@steveharter  Thanks 😃

[2016-12-20 22:50] karelz commented on #4278
Thanks @steveharter! I have moved the execution plan to the top-most post for easier progress tracking. Whenever we make changes to it, we will mention the changes in another reply here.

[2016-12-20 22:51] karelz commented on #4278
If anyone wants to start working on it, please say so to avoid duplicated work. We will co-assign the issue to you.

[2016-12-20 22:52] karelz commented on #1132
The execution plan (and latest status) is in top-most post of issue #4278. If anyone wants to contribute, please let us know on the other issue.

[2016-12-20 22:52] anthonylangsworth commented on #4278
@karelz: @tintoy and I put our hands up to get started on this. Happy for you to assign it to us.

[2016-12-20 22:53] tintoy commented on #4278
Cheers - I'm happy to make a start on getting it to compile :)

[2016-12-20 22:53] tintoy commented on #4278
@anthonylangsworth - hah, beat me to it!

[2016-12-20 23:01] tintoy commented on #4278
Work's happening [here](https://github.com/tintoy/corefx).

[2016-12-20 23:03] karelz commented on #4278
Assigned to @tintoy. I will co-assign it also to @anthonylangsworth once he accepts the contributor status to the repo (GH won't offer you as assignee option without it).

[2016-12-20 23:03] divega opened #14644 "SqlClient's connection resiliency causes performance issues to EF customers. Consider exposing a way to override it at runtime"
This is to follow up on a specific issue a customer created today on EF Core at https://github.com/aspnet/EntityFramework/issues/7283, but the problem has been brought to our attention before.

At some point in the past (I believe .NET Framework 4.5.1) SqlClient started retrying automatically on failures during `SqlConnection.Open()`. `ConnectRetryCount` and `ConnectRetryInterval` were added to th

[2016-12-20 23:06] tintoy commented on #4278
Thanks!

[2016-12-20 23:17] tintoy commented on #4278
@karelz just to confirm - from what I understand of the contributor guidelines I'm to make these changes in `master`?

[2016-12-20 23:18] tintoy commented on #4278
(my `master` obviously)

[2016-12-20 23:19] tintoy commented on #4278
Ergh, sorry, let me try again - the eventual PR to be against your `master`?

[2016-12-20 23:20] karelz commented on #4278
Yes, that's right. Just don't make it part of full corefx build/test run until the very last phase.

[2016-12-21 00:00] karelz commented on #5552
I take it back, this proposal does not have the same problem as I mentioned above, because it uses `params object[]` iunstead if `params T[]` - it solves the problem when you also add the additional specialized overloads for `string` -- `params string[]` and `IEnumerable<string>`.

[code]

Output:
[code]

[2016-12-21 00:12] karelz commented on #3419
We should adjust the API to `string.Join` (see example in https://github.com/dotnet/corefx/issues/5552#issuecomment-268395367).

This is the shape we should adopt:
[code]

[2016-12-21 00:12] deepumi commented on #12421
@karelz thank you.

[2016-12-21 00:17] karelz commented on #12655
@AlexGhiondea isn't it tracking same thing as #5552?

[2016-12-21 00:32] jahmai commented on #11100
Some of the rhetoric here smacks of "the good old days" of Microsoft, which is ironic because all the changes we're witnessing now are a direct response to customer demand for Microsoft to evolve.

We were sick of closed source and draconian reverse engineering (de-compiling) rules, so we got references sources and now open source.

We were sick of .net Framework bugs that affected every applicati

[2016-12-21 01:07] divega commented on #6073
@AlexRadch I can't remember any precedent of LINQ operators that were designed to only be used at the top of a query. That is why I am still trying to understand if these operators could be used inside a query and how the usage would look like.

I also still believe there is a lot of value in having symmetry between the `Enumerable` and `Queryable` stories.

All in all if we cannot come up with so

[2016-12-21 01:19] shmao opened #14651 "Potential Issues with Deserializing ISerializable Types"
There's a couple of potential issues with deserializing ISerializable types,

1. An ISerializable type's OnDeserializing callback is not called on the actual deserialized object.
2. The object added to XmlObjectSerializerReadContext is not the actual deserialized, which may cause wrong behavior in "IsReference=true" scenarios.

The issues occur with both ILGen based and reflection only based seria

[2016-12-21 01:39] tintoy commented on #4278
I've found a couple of constants that seem to have been moved to an internal class in [src\Common\src\Interop\Windows\Crypt32\Interop.certificates_types.cs](src\Common\src\Interop\Windows\Crypt32\Interop.certificates_types.cs). This isn't accessible from `System.Security.Cryptography.Xml` though. Any thoughts on the best approach here?

[2016-12-21 01:52] karelz commented on #4278
Which of them are needed? All of them?
Can you check reference source if they are public in .NET Fx? (I don't think so, but doesn't hurt to double check)
I am a bit surprised that we do special interop, instead of leveraging the rest of Crypto library ... either it needs something special, or it is from historical reasons ... @steveharter @bartonjs any thoughts?

[2016-12-21 01:56] bartonjs commented on #4278
@tintoy One of the things that needs to be done as this effort is removing the direct interfacing with CAPI, switching to using the .NET APIs.

[2016-12-21 02:03] terrajobst opened #14653 "Ship update to Microsoft.Composition"
With #6598 we've decided to discontinue the package `Microsoft.Composition` in order to favor our new naming convention and instead ship it under the name `System.Composition`.

In order to pull customers forward, we should:

* Ship a last version of `Microsoft.Composition`
* Make that version empty and make it depend on the `System.Composition` package
* Add a [readme.txt](https://docs.nuget.org/

[2016-12-21 02:24] AlexRadch commented on #12655
@karelz Yes. It is the same thing

[2016-12-21 02:48] AlexRadch commented on #3419
@karelz I do not understand what API should be?
[code]
or as above plus
[code]
Where is char separator?
Now it is next
[code]

[2016-12-21 03:00] AlexRadch commented on #6073
@divega Thanks for great answer! As I see you suggest to add implementation inside Queryable and call old API for drivers. It makes sense because Try methods is not deferred.

I will made such implementation in this PR.

[2016-12-21 03:12] divega commented on #6073
@AlexRadch Not at all! I did not intend to suggest that. I am saying that this is the kind of implementation application developers could include in their own applications if it really helps them save a few lines of code, and I am questioning the value of including any implementation these methods in the.NET BCL, for either `IEnumerable<T>` or `IQueryable<T>`

[2016-12-21 03:14] davidfowl commented on #14653
Does this apply to the other Microsoft.* packages shipped?

[2016-12-21 03:30] tintoy commented on #4278
@karelz, @bartonjs - mostly CAPI HRESULT constants passed to the `CryptographicException` constructor.

[2016-12-21 03:31] tintoy commented on #4278
I'll have a look at how other code in corefx works with `CryptographicException`.

[2016-12-21 03:33] tintoy commented on #4278
Ah, ok - so it looks like the HResult constructor's not used anymore - just the one that takes a message. I'll see if there are existing message resources that correspond to those `E_xxx` values.

[2016-12-21 03:40] Priya91 commented on #11566
Yes, it should be as simple as removing the xunit attributes that skips the test.

[2016-12-21 03:49] jamesqo commented on #3093
@karelz, is there anything else blocking this API? Is it ready for review?

[2016-12-21 03:50] tintoy commented on #4278
As for the other issues, it looks to me like a result of types not sharing a single assembly anymore. For example, `X509Utils.DecodeHexString` is in `System.Security.Cryptography.X509Certificates` but in the full framework this just lives in the `System.Security` assembly along with the classes that use it.

Since everything's been broken out into multiple assemblies what's your preferred mechanis

[2016-12-21 04:06] tintoy commented on #4278
Or pull in the source using something like:

[code]

[2016-12-21 04:44] tintoy commented on #4278
For now I've worked around the CAPI issue by simply compiling `Interop.certificates_types.cs into the assembly and referencing constants from there.

I also had to copy over some methods from X509Utils.cs in the full framework (mainly to do with Hex encoding / decoding) as there's nothing publicly available in corefx that does this.

The only remaining issues are in [src/System.Security.Cryptograp

[2016-12-21 08:22] bradphelan commented on #14640
This means that any packages relying on immutable collection 1.2.* can't use 1.3.0 even though I suspect they are API compatible.

[2016-12-21 10:34] roji commented on #7810
Just to say that I'm unlikely to find any time to work on this soon... Hopefully Microsoft (or someone else) can pick this up.

[2016-12-21 13:13] varocarbas commented on #14561
I have deleted my comments after realising that might have been too focused on trying to maximise the observed differences without having firstly created a proper algorithm. The proposed `Intersect` algorithm was incomplete and, what is much worse, the performance of the new version was too variable on account of the size of the collection being considered.

This whole evolution (the current issue

[2016-12-21 13:16] fujiy commented on #14376
@mramosMS will fix this issue. Thanks

[2016-12-21 13:29] varocarbas commented on #14443
I created another more specific issue (i.e., just focused on the first element) to analyse this whole situation better, but I realised about my mistake of having focused on a (partially) faulty algorithm; equivalently to what happened with the last version of the new `Intersect` algorithm in my original PR.

Not saying that there is nothing there (actually I found differences in various LINQ metho

[2016-12-21 14:41] ebickle commented on #574
@justinvp @ianhays I've updated the spec to implement IReadOnlyCollection<T>. Thanks!

[2016-12-21 15:06] jnm2 commented on #14561
@varocarbas You can close it too since you're the author:
![Close button](http://i.imgur.com/woKOEOa.png)

[2016-12-21 15:21] varocarbas commented on #14561
@jnm2 Thanks for the comment (this time your contribution has been helpful :)). Kind of new in the GitHub contribution world. Additionally, closing an issue has usually been a .NET Team decision, so no need to use that information until now.

[2016-12-21 15:21] #14561 closed

[2016-12-21 15:35] jnm2 commented on #14561
@varocarbas You're funny :'D

[2016-12-21 15:45] varocarbas commented on #14561
@jnm2 In fact and modesty apart, I am quite funny although didn't try to be funny in my last comment (that's why there you have your confused emoji back :)).

Just to avoid any misunderstanding, bear in mind that your net contribution to the previous issue was none (or even perhaps negative). I do recognise that it was my fault because of not having written clear enough ideas regarding what all th

[2016-12-21 15:45] mburbea commented on #12425
@karelz, Should I create an issue or a PR in CoreFxLab?

@KrzysztofCwalina, this could be nice to have something like CountLeading/Trailing Zeroes on `Span<byte>`, but currently its hard to get ideal performance without better intrinsics and compiler support. Even something like Kestrel's seek isn't much of an improvement over simply using longs.

[2016-12-21 16:12] jnm2 commented on #14561
Since we're being blunt with each other, what I find funny is that people don't usually devote this much time to analyzing and sharing the details of exactly how justified everyone's actions were, or how we're actually really funny. And of course I'm not entirely able to agree with your perspective, not that it matters. This is all in good faith, my friend. =)

I'm quite happy with my "even perhap

[2016-12-21 16:15] varocarbas commented on #14561
Perhaps having deleted potentially-misleading might be negative for future readers to adequately understand what all this was about. I want to maximise my (and others') efforts and avoid people getting unnecessarily confused, so here goes a short summary:
* I submitted a PR with a modified version of `Intersect` performing notably better. As proven there, my tests were incomplete because of only c

[2016-12-21 16:28] varocarbas commented on #14561
Actually, I never had that behaviour before but, after living surrounded by misunderstanding-prone people for a while, certainly have this tendency now. Horrible. Anyway, the summary above will hopefully compensate for all these off-topic ideas.

[2016-12-21 16:34] jnm2 commented on #14561
I'm content to be considered wrong unless it is somehow to another person's benefit for me to set it straight.

[2016-12-21 16:38] karelz commented on #14376
@mramosMS I sent you collaboration invite. Once you accept (ping me when you do it), I will be able to assign the issue to you (GitHub restrictions/policy).

[2016-12-21 16:39] karelz commented on #12425
Yes please, create a PR/issue in CoreFxLab.

[2016-12-21 17:41] ianhays commented on #14503
Yup, that one is mine alright. I recall facing some issues in CloudTests where package generation was tied into something azure-y that I didn't want to do, so I opted to copy the zip generation rather than move a bunch of stuff around in CloudTests.

A little bit of context here: the ARM64 test build builds the source and the tests for everything with `ArchiveTests=true`, then builds a packages.zi

[2016-12-21 17:44] MattGal commented on #14503
Thanks @ianhays .  I'd love to hear about what parts of it you had difficulty excluding (I have some guesses) and get a work item or two tracking fixing CloudTest.targets to be able to do what it already does plus what you need.  It may just be simpler to split it into 2+ files and import those files from the uber CloudTest.targets.

It's not blocking anyone so no huge rush, but if you could make

[2016-12-21 17:59] ianhays commented on #14640
The nuget package version and the assembly version aren't closely tied together. There are plenty of other instances where the package version differs from the assembly version e.g. the System.IO.Compression OOB package. In fact most packages have versions that differ from the version of the assembly that they contain.

[2016-12-21 18:02] ianhays commented on #1378
resolved by @matekm in https://github.com/dotnet/corefx/pull/14656

[2016-12-21 18:02] #1378 closed

[2016-12-21 18:47] CIPop commented on #14103
Thanks @georgiosd, we are aware of this. The proposal above is to switch that to what .Net Framework does and throw a HttpRequestException instead.

[2016-12-21 18:56] CIPop commented on #14612
I don't think WinHttp supports HTTP pipelining. I will confirm internally with the team owning the OS component.

Curl supports this feature via [CURLMOPT_PIPELINING](https://curl.haxx.se/libcurl/c/CURLMOPT_PIPELINING.html). The [code referencing this option ](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.Mul

[2016-12-21 18:59] CIPop commented on #14612
@karelz looks like `HttpWebRequest.Pipelined` is always returning true (probably the original intent being app-compat) but is not used anywhere. As I've mentioned above, WinHttpHandler/CurlHandler don't have this feature enabled.

[2016-12-21 19:01] jkotas commented on #14447
This came up again during the review of https://github.com/dotnet/coreclr/pull/8695.

I have submitted PR to move it: https://github.com/dotnet/coreclr/pull/8703

[2016-12-21 19:07] tintoy commented on #4278
@karelz @bartonjs I'm going to open a PR so we can discuss the changes (the work is basically done as far as I can tell) - are you OK with that?

[2016-12-21 19:22] karelz commented on #4278
Sounds good to me. @steveharter any thoughts?

[2016-12-21 19:26] onovotny commented on #2576
@karelz What is the status of this given https://github.com/dotnet/corefx/pull/13569 has been merged in?

[2016-12-21 19:35] CIPop commented on #12421
I will assume the request is to add functionality to the existing UriBuilder class (not a new class).

I'm not yet convinced: there are quite a few libraries that already do this for REST APIs. It would be an interesting addition if the REST implementations could reuse this implementation.

@davidfowl @danroth27 would ASP.Net benefit from such API? If so, please review the API shape above.

[2016-12-21 19:37] karelz commented on #2576
@kouvel do you know if there is more left to do? Is it tied to .NET Standard 2.0 on UWP? (as suggested above - https://github.com/dotnet/corefx/issues/2576#issuecomment-249425171)

[2016-12-21 19:45] kouvel commented on #2576
Yes this is tied to bringing up NS2.0. We are currently working on enabling Thread and ThreadPool for CoreRT, which is a step in this direction.

[2016-12-21 19:48] AntonLapounov commented on #2576
Apparently we cannot add System.Threading.Thread package without picking up updated versions of other framework packages.  Working on that.

[2016-12-21 19:54] couven92 commented on #14636
Done in commit c838dc7

I could also add an `[Obosolete]` attribute on the `MaxDefined` member if you want...

[2016-12-21 19:57] mairaw commented on #14541
Thanks @karelz! Change is made for this page [Enumerable.Intersect](https://msdn.microsoft.com/en-us/library/bb460136(v=vs.110).aspx).
Should I do the same change to the [other overload](https://msdn.microsoft.com/en-us/library/bb355408(v=vs.110).aspx) too?

[2016-12-21 20:27] thomashouston commented on #2089
The`System.DirectoryServices` namespaces contain such important functionality so great to see some progress on this issue. Keep up the good work.

[2016-12-21 20:59] deepumi commented on #12421
@CIPop yes, you are correct, I wanted to add the missing features to the existing UriBuilder class.

The reason I would like to have this in BCL side because the same API (UriBuilder) can reuse in windows, web and mobile frameworks. Currently building dynamic URL in BCL side I would end up using LINQ and other string operations.

https://api.careeronestop.org/api-explorer/home/index/JobSearch_GetT

[2016-12-21 21:12] JonHanna commented on #14541
I think so, yes. The two overloads are the same in this regard.

[2016-12-21 21:19] FransBouma commented on #14346
It might help perhaps to port the internal tests for SqlClient to corefx? I assume it has a lot more coverage than the corefx counterpart?

[2016-12-21 21:40] karelz commented on #14541
Thanks @mairaw for fast turnaround and for catching the overloads (again)! :)

[2016-12-21 21:49] ericstj opened #14669 "Cleanup TargetingPackReferences from dev/eng"
It looks like we're still using "TargetingPackReference" even though reference seems to be all that's needed.

If I remove them I trigger the error that this was working around:
https://github.com/dotnet/buildtools/blob/7b3991e4bba0b86945a06470b313f9183e744e25/src/Microsoft.DotNet.Build.Tasks/PackageFiles/packageresolve.targets#L154

Let's use this issue to track cleaning everything up.

/cc @mell

[2016-12-21 22:11] karelz commented on #14636
Yes please: https://github.com/dotnet/corefx/pull/14611#discussion_r93529681

[2016-12-21 22:51] karelz commented on #5552
We need to figure out if there was valid reason to remove the api-approved ...

[2016-12-21 22:51] mellinoe opened #14671 "[dev/eng] ref projects are not really building in parallel on Unix"
I'm not sure what's causing this, but it looks like the ref projects are effectively being built sequentially outside of Windows. This is causing the build to take a very long time compared to Windows. My 8-core Ubuntu machine has only one core being utilized during the ref build, even though there are tons of MSBuild processes active. It looks like the src build is handling this a bit better (fas

[2016-12-21 23:03] karelz commented on #3093
We need final API proposal + agreement on the naming. Then we can submit it for approval.

[2016-12-21 23:10] karelz commented on #3419
@AlexRadch thanks for catching it, I added the char overloads: https://github.com/dotnet/corefx/issues/3419#issuecomment-268397129

[2016-12-21 23:28] mellinoe commented on #14671
Running the build again on my 8-core Ubuntu machine, I think the src build is fine. `htop` shows CPU utilization of ~1.1 during the ref build and ~16 during the src build, and the src build is clearly producing assemblies in parallel.

[2016-12-21 23:31] karelz commented on #5552
Reviewing with @AlexGhiondea:
It turns out that the `IEnumerable<string>` overload (specialization) is not needed: https://github.com/dotnet/coreclr/pull/2945#discussion_r83173910

[2016-12-21 23:37] karelz commented on #5552
Spec on the top updated, I briefly chatted with @terrajobst, marking the API approved again.

[2016-12-21 23:42] karelz commented on #12655
Closing as dupe of #5552.

[2016-12-21 23:42] #12655 closed

[2016-12-21 23:48] karelz commented on #3419
Spec in https://github.com/dotnet/corefx/issues/3419#issuecomment-268397129 updated with removal of `IEnumerator<string>` overloads. They are not necessary (see https://github.com/dotnet/corefx/issues/5552#issuecomment-268673073).

[2016-12-21 23:51] geoffkizer opened #14673 "SendRecvPollSync_TcpListener_Socket outerloop test is flaky"
When running this test in System.Net.Socket.Test.dll, I occasionally get the following exception:
[code]

[2016-12-21 23:59] karelz commented on #14673
cc @steveharter

[2016-12-22 00:00] mconnew opened #14674 "[Cookie] System.Net.Cookie doesn't conform to RFC 2965"
In RFC 2965, section 3.2.2 it states

      REQUIRED.  The value of the Version attribute, a decimal integer,
      identifies the version of the state management specification to
      which the cookie conforms.  For this specification, Version=1
      applies.

In the msdn documentation for [Cookie.Version](https://msdn.microsoft.com/en-us/library/system.net.cookie.version(v=vs.110).aspx), it st

[2016-12-22 00:31] mairaw commented on #14541
That's what I thought, but I always prefer to double check. 😄
Both are fixed now! Thanks for also providing the suggested fix.

[2016-12-22 00:40] karelz commented on #2576
@onovotny to clarify the overall .NET Standard 2.0 on UWP story -- it is the next big thing we plan to tackle (there's lots of work there - infra, missing APIs, AOT specifics, etc.) We're trying to finish .NET Standard 2.0 for .NET Core first (still some work left there - few features, stabilization, etc.).

[2016-12-22 00:54] mellinoe commented on #14653
@davidfowl We only renamed this package because the actual assemblies inside of it have always had a different name ("System.Composition.*"). It's an attempt to make things consistent.

The other "Microsoft.*" packages already have assemblies with matching names, so there's no need to change them, too.

[2016-12-22 01:10] jamesqo commented on #14447
Should this be closed?

[2016-12-22 01:13] jkotas commented on #14447
Not yet - there is follow up corefx change that needs to be done.

[2016-12-22 01:13] karelz commented on #14447
Don't we need any changes in CoreFX?

[2016-12-22 02:27] jamesqo commented on #6073
@divega

I don't think it's so infrequent. Consider any generic method that wants to get the first value of an enumerable-- there's no way to do it smoothly and performantly with the current APIs. IMO, I don't see a good reason to block this proposal.

I do have an idea, however. Perhaps this is a bit radical, but what if we introduced an `Optional<T>` type to `System.Linq` that we could return fr

[2016-12-22 04:14] leshin opened #14680 "SqlException: A transport-level error has occurred when receiving results from the server. (provider: TCP Provider, error: 35 - An internal exception was caught)"
Platform : Linux Centos
Runtime : docker from microsoft/aspnetcore:1.1.0
System.Data.SqlClient, Version=4.1.0.0
DefaultConnection: "Data Source=xxx;Initial Catalog=Account;Persist Security Info=True;User ID=sa;Password=xxx"

__But not appear on Windows__

TestSql1 is ok.
[code]

TestSql2 is failed
[code]

deviceone.account.web_1  |       Executing action method DeviceOne.Account.Web.Controllers.Ho

[2016-12-22 06:12] bradphelan commented on #14640
Ok. I'll agree that you don't have to but when you are just shipping a single dll with a nuget package what's the pain in making the version numbers in sync? Normally a CI system just grabs a tag from git, rewrites the assembly info and updates the nuget version to match. It's just one less issue for the consumer of the package to get confused about. Every version of immutable collections so far (

[2016-12-22 06:12] #14640 closed

[2016-12-22 07:23] steentottrup commented on #14160
What I would like, is for this [piece of code](https://gist.github.com/steentottrup/86ec8728d6d2781c88e35c5805a1b84f), generating this output:

Posted by me, in Denmark, at Saturday, December 17, 2016 6:28:00 AM local time
That's UTC: Saturday, December 17, 2016 5:28:00 AM UTC
And displays as (UTC-07:00) Mountain Time (USA og Canada) time: Friday, December 16, 2016 10:28:00 PM

To look like this [

[2016-12-22 08:07] dotnet-mc-bot opened #14681 "Test failure: System.Xml.Tests.CreateElementTests/NameWithWhitespace"
Opened on behalf of @Jiayili1

The test `System.Xml.Tests.CreateElementTests/NameWithWhitespace` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Xml.XmlException)\r
    Actual:   typeof(System.Xml.XmlException): The ' ' character, hexadecimal value 0x20, cannot be included in a name.

        Stack Trace:

           at System.Xml.XmlDocument.CheckName(String name)
       at Sys

[2016-12-22 08:10] divega commented on #6073
@jamesqo I meant my statements to be subjective :smile: I don't have the means to accurately measure how often it is necessary to discriminate between a default value a non-existent value. I just made an educated guess that needing this is less frequent than not needing it, and I am also making the assumption that people can figure out other patterns when they to do it. Those patterns may be a bit

[2016-12-22 08:35] davidfowl opened #14682 "Span: Fix fast Span TFM in System.Memory"
Right now fast span has a netcoreapp1.1 but the fast span doesn't actually exist in there. It should be whatever the next version of netcoreapp is going to be called.

/cc @ahsonkhan @ericstj @weshaggard @KrzysztofCwalina

[2016-12-22 08:36] davidfowl commented on #14682
Here's the error you get when you run in on 1.1:

Unhandled Exception: System.MissingMethodException: Method not found: 'System.Span`1\<Byte\> System.Buffers.IOutput.get_Buffer()'.    at System.IO.Pipelines.Samples.RawLibuvHttpServerSample.Run()    at System.IO.Pipelines.Samples.Program.Main(String[] args)

[2016-12-22 09:57] JonHanna commented on #14563
In terms of the break risk of the fact that this throws NRE and desktop and the coreclr version both throw ANE is an issue in itself. To the extent that someone could depend on the exception they could be depending on the ANE rather than the NRE.

[2016-12-22 13:43] JonHanna commented on #11220
Okay. There's something I'm not getting about the different targets. I thought at least part of the problem was conflicts with mscorlib but it seems from https://github.com/dotnet/coreclr/pull/8690#issuecomment-268278233 that I was wrong on that.

I'm giving up. If someone wants to take the changes in the PR above as a starting point, I was pretty happy with the actual implementation and test code

[2016-12-22 15:21] rottor12 opened #14684 "can't join Multicast group on Linux - no IGMP ADD_MEMBERSHIP report visible in Wireshark"
I'm having trouble joining mcast group on Linux

I'm using the following code:

[code]

but I can't see any ADD_MEMBERSHIP report in WireShark
and of course I'm not receiving any data

I've tried various combinations of above, but with no success

is it possible to receive data from multicast group without using UdpClient ?

[2016-12-22 15:22] rottor12 commented on #14684
cc: @stephentoub @ericeil

[2016-12-22 15:43] ianhays commented on #14640
One issue off the top of my head is that when the assembly versions and package versions are the same, getting all of the latest package versions starts to be a hassle. Right now in .net core we've synced all nuget packages to the same version, so if you want the latest of say System.Console and System.Collections, the nuget version will be the same. If we synced it to the assembly version (which

[2016-12-22 16:02] ericstj commented on #14671
Perhaps it is due to ProjectReferences?  You can check the diag output of the msbuild task invocation from the ref.builds to see if it is trying to build it in parallel.  You can also run msbuild /m ref.builds on it outside of the full build to see if anything is different.  If both show the same serialization and that is not present on Windows then its likely an msbuild issue.

[2016-12-22 16:05] bradphelan commented on #14640
Does that mean that the immutable collections nuget package might be bumped
to 1.4.0 but the library within might not even change?

On Thu, 22 Dec 2016, 16:44 Ian Hays <notifications@github.com> wrote:

[2016-12-22 16:11] ericstj commented on #14682
Duplicate of https://github.com/dotnet/corefx/issues/14501

[2016-12-22 16:14] ericstj commented on #14682
I believe you're just stating that we ought to use the netstandard1.0 implementation rather than the facade on netcoreapp1.1.  That will happen when @alexperovich finishes the rename that moves nearly all netcoreapp1.1 assets to netcoreapp2.0.

[2016-12-22 16:14] #14682 closed

[2016-12-22 16:32] ianhays commented on #14640
Yes, it's possible. The nuget version will continually be bumped up as we ship milestones, regardless of whether any major changes have been made to this particular assembly.

[2016-12-22 16:48] ianhays commented on #14563
Good point. Lets fix this. The docs say that `If the value is null, only a line terminator is written` and mention nothing about either an ANE or a NRE, so if we don't fix this then we'll have to update the docs.

[2016-12-22 17:01] KrzysztofCwalina commented on #14682
cc: @ahsonkhan

[2016-12-22 17:04] #14541 closed

[2016-12-22 17:09] JonHanna commented on #14563
The `TextWriter.WriteLineAsync(char[])` case is the trickier. Obviously I'm in favour of the change if I've a PR that does it, but it is more feasible that it would break someone. It's still contrary to the docs, inconsistent with non-async (which is almost a "softly breaking change" so to speak)  and inconsistent in a base where derived classes could perhaps act as per the spec and as such I thin

[2016-12-22 17:31] ianhays commented on #14563
cc: @AlexGhiondea as the discussion in coreclr for TextWriter should have the same resolution as the one in corefx.

[2016-12-22 19:04] AlexGhiondea commented on #14601
@tomkuijsten that is a possibility. Can you print the type of the exception (fully qualified) at the moment it is caught in the app?

/cc @SedarG

[2016-12-22 19:04] AlexGhiondea commented on #14574
@ahsonkhan is this something you are going to work on?

[2016-12-22 19:05] #11918 closed

[2016-12-22 19:07] AlexGhiondea commented on #14507
I am going to close this since it does not look like we would like to take this API.

[2016-12-22 19:07] #14507 closed

[2016-12-22 19:08] AlexGhiondea commented on #14486
@KrzysztofCwalina is this something you are working on?

[2016-12-22 19:39] saurabh500 commented on #14680
@leshin  Is this intermittent or consistent? It seems like the TCP handshake itself didn't go through.

[2016-12-22 19:42] saurabh500 commented on #14680
Can you try to see if the TCP connection to the sql server port works from Docker?
e.g.
`netcat -v -z <IPAddressOfSqlServer> <port number> `

[2016-12-22 20:04] Priya91 opened #14690 "Implement Websockets connections with HttpListener on Unix."

[2016-12-22 20:06] Priya91 opened #14691 "Implement https connection support on httplistener on Unix"
This requires a mechanism to get the ssl certificate info to use on the port of httplistener connection. Expose an API or maintain a keystore on Unix.

[2016-12-22 20:12] shmao opened #14693 "Improve ReflectionReader.ReadISerializable's Performance"
`ReflectionReader.ReadISerializable` currently uses Constructor.Invoke to create ISerializable objects, which is very slow. We need to investigate if there's any better way to create the objects.

[2016-12-22 20:13] #13071 closed

[2016-12-22 20:15] AlexGhiondea commented on #12272
Related: https://github.com/dotnet/corefx/issues/684

[2016-12-22 20:16] AlexGhiondea commented on #7433
@ianhays @JeremyKuhne can this be closed?

[2016-12-22 20:16] AlexGhiondea commented on #12855
Anyone interested in taking this on?

[2016-12-22 20:20] AlexGhiondea commented on #11555
I like the API shape (without the ref return). Let's review this.

[2016-12-22 21:14] JonHanna commented on #11555
If it does depend on `IComparer<T>` it could be an extension on such. Calling `comparer.Min(x, y)` seems a sensible enough thing to ask of `comparer`.

[2016-12-22 21:54] davidfowl commented on #14682
@ericstj Do you know when that's happening?

[2016-12-22 22:06] ahsonkhan commented on #14574
Currently, no. The work depends on completion of issue #5851, specifically, JIT - Correctness – proper GC reporting of the special byref field.

[2016-12-22 22:21] AlexGhiondea commented on #3318
@am11 thanks for writing the proposal.

Since these methods are somewhat specific to a scenario, I think the right place for this would be in their separate assembly.

One place where you can start a prototype is [CoreFxLab](https://github.com/dotnet/corefxlab).

[2016-12-22 22:21] #3318 closed

[2016-12-22 22:30] am11 commented on #3318
@AlexGhiondea, I am busy with other projects at the moment. This API is on my TODO list. I will try to start working on it as I get some free time.

Thanks for mentioning CoreFXLab repo. That certainly seems like the best place to start for new APIs.

[2016-12-22 22:49] AlexGhiondea commented on #3318
@am11 sounds great! Looking forward to seeing what you come up with!

[2016-12-22 22:50] #10581 closed

[2016-12-22 22:50] #10577 closed

[2016-12-22 22:52] AlexGhiondea commented on #11878
@mellinoe @justinvp maybe instead of obsoleting it maybe the compromise is to hide it from Intellisense? That way new apps won't see it and old apps would continue to work?

[2016-12-22 22:59] AlexGhiondea commented on #9859
@wpostma if you were able to repro this, would you mind sharing the project?

[2016-12-22 23:02] AlexGhiondea commented on #7594
@Toxantron thanks for working on this. It sounds like the best place for this to move forward is in the CoreFxLab repo.

I am going to close this issue in this repo and look forward to your contribution to the CoreFxLab repo!

[2016-12-22 23:02] #7594 closed

[2016-12-22 23:04] AlexGhiondea commented on #12509
@jamesqo with the change @danmosemsft mentions, do you feel like adding such a 'throw helper' class is still something we need to consider?

[2016-12-22 23:08] AlexGhiondea commented on #1625
@ghuntley can this be closed?

[2016-12-22 23:10] AlexGhiondea commented on #9788
I am going to close this now. Please re-open if this is still an issue.

[2016-12-22 23:10] #9788 closed

[2016-12-22 23:10] AlexGhiondea commented on #14653
@mellinoe @terrajobst can this be closed?

[2016-12-22 23:12] AlexGhiondea opened #14695 "Remove dependency to System.Net.WebClient from the DesigntimeLicenseContext type"

[2016-12-22 23:13] AlexGhiondea commented on #12212
Filed a new issue to track the remaining work.
https://github.com/dotnet/corefx/issues/14695

[2016-12-22 23:13] #12212 closed

[2016-12-22 23:15] wpostma commented on #9859
I had a hard time building a minimal sample. The code in question comes from the FHIR .net project here:

https://github.com/ewoutkramer/fhir-net-api

[2016-12-22 23:47] AlexGhiondea commented on #9859
I also tried to repro this and the only way I could get a CS0019 error was to turn the enum into a class.

If you think we can get a repro for this then we should keep this issue open. Otherwise, I say we can close it.

[2016-12-22 23:52] tarekgh commented on #14160
why you need to have Thread.CurrentThread.CurrentTimeZone? this can be handled by the application, I am not seeing much value to attach CurrentTimeZone to the thread. you can achieve the same by defining ThreadStatic in your code already.

so I guess the proposal now is we just need to add the new API

[code]

in DateTime struct.

[2016-12-23 00:00] pranavkm opened #14696 "Manifest mismatch exception when referencing Microsoft.NETCore.App 1.2.0 for an application targeting netcoreapp1.0"
`dotnet --version: 1.0.0-preview2-1-003180` (This CLI which supports netcoreapp1.1 > netstandard1.7

### project.json:
[code]

### Program.cs
[code]

Running dotnet run on the project fails with

[code]

[2016-12-23 00:01] pranavkm commented on #14696
cc @ericstj

[2016-12-23 00:05] terrajobst commented on #14653
No, why? As @mellinoe said, we already did this for the other packages but not for `Microsoft.Composition`.

[2016-12-23 00:10] terrajobst commented on #14653
No, why?

Yes, there is two types of packages:

1. Packages where assemblies and packages use different naming. Examples are:
    - Microsoft.Net.Http -> System.Net.Http
    - Microsoft.Bcl.Immutable -> System.Collections.Immutable
    - Microsoft.Bcl.Metadata -> System.Reflection.Metadata
    - Microsoft.Composition -> System.Composition

2. Packages where assembly, namespace, and package name ar

[2016-12-23 00:23] ericstj commented on #14682
He's in the middle of it, but I guess did not finish before holidays.  I suspect as soon as he comes back he'll finish.

[2016-12-23 00:45] bbowyersmyth commented on #14300
Agreed, it should not be part of netstandard.

I realise that this is not going to be a priority for many people so I'm happy to do the port. The reference source is not available so I would need to be sent that. Alternatively, with your approval, I can work from the MSIL. Either way is fine by me.

We can start with the top level namespace and go from there if there's any interest.

[2016-12-23 00:52] ericstj commented on #14696
Curious what shared framework this is even running on.  If you constructed the CLI then I imagine you constructed the shared framework as well.

Can you share more about what assembly has the Thread 4.1 ref, where that assembly lives (shared/app), and where Thread is coming from (shared/app)?

[2016-12-23 00:58] pranavkm commented on #14696
We install the shared runtime separately in addition to installing the CLI. The version of Microsoft.NETCore.App we restore \ shared runtime we install is `1.2.0-beta-001202-00`. Here's the lock file for the project: https://gist.githubusercontent.com/pranavkm/7641e9f37e5c4113eba4ee21a816e143/raw/91bcf74d46ea054205dc3f3756eeb9fcfba1c58b/project.lock.json - would that answer your second question?

[2016-12-23 01:01] Priya91 commented on #14614
The error denotes that the Curl version on your machine does not recognize the option. Can you check if the version of curl on your centos is the same as on ubuntu? If not upgrading curl should work.

[2016-12-23 01:06] rvhuang commented on #14336
I support this proposal (to implement _IReadOnlyList<char>_).

Also it is also possible to simply implement _ICollection<char>_ and mark property _IsReadOnly_ as true because it could bring benefit when users use _Enumerable<char>_ extensions such as _Count()_ on string.

[2016-12-23 01:14] ericstj commented on #14696
Not exactly.  Trying to understand what brought in a reference to Thread 4.1.  Nothing published with the app should have that: if it does it's a bug in that library.  Stuff in the shared framework would have that (since it is actually NCA-v-next), but the shared framework will have Thread 4.1 since it's the latest shared framework.  If it doesn't that could be a bug in the shared framework build

[2016-12-23 01:24] pranavkm commented on #14696
The only trace of that version I could find was in the shared runtime. If I make the application standalone, publish it, the issue goes away. Could this be an issue with the authoring of the shared runtime? Here's where we're installing it from: https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview2-003121/dotnet-dev-win-x64.1.0.0-preview2-003121.zip.

[2016-12-23 01:24] Petermarcu commented on #7597
On 14986 I'm seeing 5 categories of test fail on build and test from the root. This is down from 9 failing on the Anniversary build of Win10 from the same corefx SHA.

[2016-12-23 01:28] Petermarcu commented on #7597
Meant to list the 5 areas. These fail 100% of the time on my runs:

System.IO.FileSystem.Tests
System.Linq.Expressions.Tests
System.Net.NetworkInformation.Functional.Tests
System.Net.WebProxy.Tests
System.Net.Sockets.Tests

[2016-12-23 01:55] cesarbs opened #14698 "SslStream.WriteAsync hangs after updating to CoreFx 4.4"
We've recently updated package references in Kestrel to CoreFx 4.4 https://github.com/aspnet/KestrelHttpServer/commit/5b8f7c2b2be5744edac8ce3c5a2dea86ed65b8ee.

After this update, Kestrel can't serve HTTPS anymore. We have a stream that wraps an `SslStream`, and it's hanging when writing here:

https://github.com/aspnet/KestrelHttpServer/blob/5b8f7c2b2be5744edac8ce3c5a2dea86ed65b8ee/src/Microsoft.

[2016-12-23 02:14] leshin commented on #14680
@saurabh500 It's consistent. But TestSql1 is successful.

[2016-12-23 02:18] benaadams commented on #14698
Effecting corefx change is likely to be "SslStream override FlushAsync" https://github.com/dotnet/corefx/pull/14035

Does it still happen after this Kestrel PR "Implement Stream Flush+FlushAsync fully"? https://github.com/aspnet/KestrelHttpServer/pull/1271?

[2016-12-23 02:19] cesarbs commented on #14698
@benaadams Yes.

[2016-12-23 03:19] ericstj commented on #14696
that only has the 1.0.0 shared runtime.  where are you getting the `1.2.0-beta-001202-00` shared runtime from?

[2016-12-23 06:36] steentottrup commented on #14160
Sorry, you're absolutely right, that line of code was from my original idea, where you didn't have a new method with the TimeZoneInfo argument, but where the methods themselves fetched that TimeZoneInfo off the current thread.

So the changes to the API would be adding a TimeZonInfo parameter to these methods (actually add another method with the parameter added):

        public String ToLongDate

[2016-12-23 07:40] tintoy opened #14700 "Consider adding .editorconfig"
Hi.

I'm in the process of getting my first PR approved, and although I have read the contribution / code-style guidelines I was nevertheless occasionally tripped up by my default editor settings (e.g. tabs vs spaces).

It might be useful to add a [.editorconfig](http://editorconfig.org/) to the repository that specifies the project's formatting style. Most editors and IDEs either already respect

[2016-12-23 07:43] Jiayili1 opened #14701 "The System.IO.FileSystem.Watcher.Tests assemble threw 'System.Diagnostics.Debug+DebugAssertException' when building"
No results generated.

2016-12-22 15:30:03,398: INFO: proc(55): run_and_log_output: Output: Unhandled Exception: System.Diagnostics.Debug+DebugAssertException: FILE_ACTION_RENAMED_NEW_NAME with no old name! [ 3jmpqvmh.m5t]
2016-12-22 15:30:03,398: INFO: proc(55): run_and_log_output: Output:
2016-12-22 15:30:03,398: INFO: proc(55): run_and_log_output: Output:    at System.Environment.GetStackTrace(

[2016-12-23 08:37] Abdullah2993 opened #14702 "System.Buffers Documentations"
Where can I find the System.Buffers Documentation?

[2016-12-23 09:04] benaadams commented on #14698
Unrelated to that; lot of dipping through Stream; seems to be blocked on a sync SemaphoneSlim Wait

![](https://aoa.blob.core.windows.net/aspnet/sslstream-block.png)

[2016-12-23 09:30] benaadams commented on #14698
Feels like a regression of https://github.com/dotnet/corefx/pull/7819; new apis coming back changing the overload resolutions? Are Stream Begin/End back in coreclr?

/cc @CIPop @stephentoub

[2016-12-23 12:02] sharwell commented on #13526
@NickCraver

### Simplifying interoperability with `Version`

I think the most important question is what to do with a `System.Version` where Revision > 0. If at all possible, I would want the answer to this question to have the following characteristic:

For all SemanticVersion *s* and Version *v*, and operator *op* in (`==`, `!=`, `<`, `<=`, `>`, `>=`):

1. The expression *s* *op* *v* is true if

[2016-12-23 12:46] JonHanna opened #14703 "Code coverage CI runs are failing"
Code coverage runs are failing with commands along the lines of:

[code]

The last successful run was on the 12th.

[2016-12-23 12:48] NickCraver commented on #13526
@sharwell I'm still not sure how revision should behave, but any exceptional behavior is made far less clear with the implicit operator, IMO.

To address points specifically:
- Implicit operator changes:
  - On errors (re: `Revision`): it's not *the comparison* that failed, but *a cast I didn't make*. That's unintuitive for any use case. It also means we can't add any intellisense to those specifi

[2016-12-23 12:54] NickCraver commented on #13526
@AlexGhiondea

The issue there is say we have a `System.Version` with a Revision of 6, what do we compare that to? It's basically a loss of precision issue since that 4th field is not a concept in semantic versioning.

Depends if we seal, if it's sealed, that certainly changes.

@Worthaboutapig: Same story, depends on `sealed` or not. And the backer. I assume we'll *likely* store as a minimal `Rea

[2016-12-23 13:11] zabulus commented on #9859
Have you tried to make property with nullable enum type and replicate logic from setter.

[2016-12-23 15:17] sharwell commented on #13526
@NickCraver

* Implicit operator changes:
  * "On errors" assumes errors. One way to convert Version to SemanticVersion is to use the format Major.Minor.Build+Revision. I believe this conversion also meets all of the conditions described in my previous comment.
  * The allocation for operators is not likely to be a problem in practice. Typically people will be working with either Version or Semant

[2016-12-23 15:29] deepumi commented on #14702
@Abdullah2993 not sure you have already checked this
[https://github.com/dotnet/corefx/issues/4547](https://github.com/dotnet/corefx/issues/4547)
[https://apisof.net/catalog/System.Buffers](https://apisof.net/catalog/System.Buffers)

[2016-12-23 16:10] bling commented on #14614
@Priya91 looks like that was the problem.  i'm on centos 7.3 (latest release), which has 7.29 for curl.  ubuntu appears to have 7.50.

i grabbed some unofficial rpms to upgrade curl and libcurl to 7.52 and the problem is fixed.

[2016-12-23 18:37] pranavkm commented on #14696
@ericstj - sorry wrong link. Here's where we're getting the shared runtime from: https://dotnetcli.azureedge.net/dotnet/master/Binaries/1.2.0-beta-001202-00/dotnet-win-x64.1.2.0-beta-001202-00.zip

[2016-12-23 19:33] soroshsabz commented on #5088
ITNOA

I have the same problem too.

I have visual studio 2015 U3 and use Microsoft.NETCore.UniversalWindowsPlatform

[2016-12-23 20:21] jnm2 commented on #13795
I would hate to be in a world where anyone could shallow or deep clone any of my objects without me explicitly implementing support for it per object.

[2016-12-23 20:51] jnm2 commented on #11898
While we're throwing things in, here's what I've had. An implementation [using `WeakDelegate`](https://gist.github.com/jnm2/d78cd49335615418411b), and one [using `ConditionalWeakTable`](https://gist.github.com/jnm2/e9703624ef5ca7cef74f).

[2016-12-23 21:24] qmfrederik opened #14705 "System.IO.Compression.ZipFile assembly empty for net46"
The `System.IO.Compression.ZipFile` assembly does not contain any public classes for net46. I expected the package to at least, well, contain the `ZipFile` class.

Background:
Because of issues like dotnet/sdk#514, I've enabled `DisableImplicitFrameworkReferences` in my project when building for `net46` and I'm not referencing the NetFX versions of `System.IO.Compression` and friends.

But it appe

[2016-12-23 21:28] thomaslevesque commented on #11898
Having this in corefx would be nice, but it would be even better to have it directly in the language. The syntax could be something like this:

    public weak event EventHandler MyEvent;

[2016-12-23 22:43] NickCraver commented on #13526
@sharwell While I agree that conversion may meet your conditions, it doesn't fit the scenario. You're effectively tossing away the revision precision (the root issue), or we decide to compare metadata as numbers for all comparisons...which also doesn't make much sense in a global approach.

As for allocations - we're shying away from that across the framework. I agree an explicit cast and API redu

[2016-12-23 23:42] svick commented on #14705
If you open the `lib/net46/System.IO.Compression.ZipFile.dll` file from the 4.3.0 version of the `System.IO.Compression.ZipFile` package in ildasm, you will find this:

[code]

This means that the class `ZipFile` (and `ZipFileExtensions`) is actually implemented in the `System.IO.Compression.FileSystem` assembly. That assembly is a framework reference of the `System.IO.Compression.ZipFile` package

[2016-12-24 00:00] qmfrederik commented on #14705
Consider this scenario:

[code]

with `repro.csproj`:

[code]

and `Program.cs`:

[code]

Then:

[code]

creates the following warning (which turns into an error in certain cases):

[code]

How do you resolve the warning?

Alternatively, if you add `<DisableImplicitFrameworkReferences>true</DisableImplicitFrameworkReferences>`:

you get this output:

[code]

[2016-12-24 06:39] justinvp commented on #14337
Can we mark this ready for review?

Proposal:

[code]

cc: @karelz

[2016-12-24 08:15] rvhuang opened #14708 "Allow KeyedCollection Derived Class to Provide Different Implementation of IDictionary"
Title says it all. Since [Dictionary](https://msdn.microsoft.com/en-us/library/ms132468.aspx) property only specifies the interface [IDictionary(TKey, TValue)](https://msdn.microsoft.com/en-us/library/s4ys34ea.aspx) instead of actual class, it could be good if derived class is allowed to provide its own dictionary implementation by overriding a method.

[2016-12-24 10:29] varocarbas commented on #14561
Despite the aforementioned summary, I think that this whole issue (and the applicability of its conclusions) is still a bit unclear. That's why I am better including this code.

[code]

This is a simplified version of the code I firstly wrote for this issue; a simple but descriptive enough testing program. Note that the included methods (modified versions of LINQ `Distinct` and `Skip`) have two fe

[2016-12-24 11:04] MaleDong commented on #1935
Well……I wanna know the process：Can Roslyn have this function anywhere in WinForm, WPF or ASP.NET WebForm, as well as in MVC？Any changes now?

[2016-12-24 13:12] am11 commented on #14700
It's already present at repo's root: https://github.com/dotnet/corefx/blob/master/.editorconfig

[2016-12-24 14:51] jnm2 commented on #14561
One thought is that `List` is faster than `Set` for small sizes like 10. Besides that I can't imagine that the LINQ is much different.

[2016-12-24 14:55] jnm2 commented on #14561
* Other than that specialized is always gayer than general-purpose code, but that's a universal principle.

[2016-12-24 15:19] varocarbas commented on #14561
@jnm2

Some ideas for such a piece of... something:
- `Set` isn't used in `Skip` and  the algorithm of the in-built version of `Distinct` differs from the modified one (which is just a simple version I wrote in some minutes after a few tests) by more than just replacing `Set` with `List`.
- I didn't say that 10 was the absolute maximum. It was a descriptive enough scenario to explain the point (->

[2016-12-24 15:24] varocarbas commented on #14561
@jnm2

Seriously, what is wrong with you? Can you please stop writing off-topic nonsense in an-already-quite-unclear thread?

[2016-12-24 15:33] jnm2 commented on #14561
@varocarbas An obvious phone typo which I immediately corrected.

I would answer your replies last except that given the ridiculously hostile tone, I'm done. Even if what you said about me is true, I still don't deserve to have to put up with this kind of aggressive behavior.

[2016-12-24 16:47] ericstj commented on #14696
Actually, thinking about this more, I think this is a fundamental problem with how CLI/NuGet treats the shared framework (and also what we support in the package).

I believe what's happening here is that you're referencing a newer System.Threading.Thread package version than is in MS.NETCore.App.  This is because @weshaggard added the 1.0 packages to MS.NC.A, but even if he hadn't we'd hit this c

[2016-12-24 18:39] tintoy commented on #14700
Ok, now I feel very stupid. I was sure I'd gone looking for it but now I've looked again and there it is.

Never mind, carry on :)

[2016-12-24 18:39] #14700 closed

[2016-12-24 20:28] varocarbas commented on #14561
@jnm2 Seriously, what is wrong with you? (I deleted my previous reference because you clarified that what provoked such a reply was a mistake and didn't any problem. But then you added it to your previous post!?).

FYI, the one you are referring is my first issue here, a couple of people like you started a thread in Reddit behind my back to talk about my behaviour?! (I knew about it the day afterw

[2016-12-24 21:59] jnm2 commented on #14561
I rest my case.

[2016-12-24 23:08] davidfowl commented on #14696
Agree with that assessment. @nguerrera came to a similar conclusion on an issue we had with the SDK inferring the package from the TFM.

[2016-12-25 21:22] tomkuijsten commented on #14601
Will probably be after Christmas, but yes, I'll post the exception.

[2016-12-26 05:22] yaakov-h opened #14715 "Unknown cURL error when using HTTP/2 to connect to api.push.apple.com"
Using .NET Core 1.1 on macOS "Sierra" 10.12.2 (build 16C67).

When using `System.Net.Http.HttpClient` to try connect via HTTP/2 to api.push.apple.com, there's some unexplained cURL error - see below.

The exception is not descriptive enough to attempt to troubleshoot, and as the connection is encrypted, I cannot examine it and compare the transmissions to a working reference implementation.

**Rep

[2016-12-26 05:33] yaakov-h commented on #14715
Looking at a packet capture, it appears that there is no ALPN portion of the TLS Client Hello sent by .NET Core. Is there some cURL prerequisite I need to have installed?

[2016-12-26 06:37] Abdullah2993 commented on #14702
@deepumi I mean real documentation. Not available [in docs](https://docs.microsoft.com)

[2016-12-26 11:13] cH40z-Lord commented on #14715
Maybe it's related -- I haven't checked but I could try tomorrow -- but there are similar(or the same?) problems with other languages such as PHP. The problem here is that Apple is supplying an outdated/older version of OpenSSL which needs to be updated manually. And since we've updated OpenSSL, we also need to recompile cURL to point it to our new version of OpenSSL.

Just run the following:

[co

[2016-12-26 12:10] yaakov-h commented on #14715
The version of cURL I have from Homebrew does support HTTP/2. I used the following command earlier:

[code]

[2016-12-26 12:19] yaakov-h commented on #14715
Although...

[code]

[2016-12-26 15:21] kevin-montrose commented on #5381
Is there a rationale for removing / replacement for using [`MethodBase.GetMethodBody()`](https://msdn.microsoft.com/en-us/library/system.reflection.methodbase.getmethodbody(v=vs.110).aspx) (or rather, [`MethodBody.GetILAsByteArray()`](https://msdn.microsoft.com/en-us/library/system.reflection.methodbody.getilasbytearray(v=vs.110).aspx) which is my ultimate target).  Used in a couple places in [Jil

[2016-12-26 15:59] Tratcher opened #14717 ".NET Core web app fails to run from a path containing a question mark"
_From @yaakov-h on December 26, 2016 0:15_

**Operating System:** macOS "Sierra" 12.12.2
**.NET Core SDK:** [.NET Core 1.1 x64 SDK 1.0.0](https://download.microsoft.com/download/1/4/1/141760B3-805B-4583-B17C-8C5BC5A876AB/Installers/dotnet-dev-osx-x64.1.0.0-preview2-1-003177.pkg)

I created a new folder at `/Users/yaakov/Development/Projects/Who knows?/BuzzerServer`.

I then created a new web proje

[2016-12-26 17:40] svick commented on #5381
@kevin-montrose As far as I can tell, both [`MethodBase.GetMethodBody()`](https://apisof.net/catalog/System.Reflection.MethodBase.GetMethodBody()) and [`MethodBody.GetILAsByteArray()`](https://apisof.net/catalog/System.Reflection.MethodBody.GetILAsByteArray()) are planned for .Net Standard 2.0 and .Net Core 1.2.

[2016-12-26 18:37] Giorgi commented on #1081
@Priya91 Done!

[2016-12-26 19:02] fujiy commented on #6485
@thiagocamargos will fix this issue. Thanks

[2016-12-26 19:04] fujiy commented on #14173
@karelz would you assign @TiagoSoczek?
Thanks

[2016-12-26 19:05] fujiy commented on #4805
@brfalcon will fix this issue. Thanks

[2016-12-26 19:06] fujiy commented on #13970
Hi @karelz, I'll work with @arcs001 to fix it. Thanks

[2016-12-26 21:06] matthargett commented on #5766
We have a @ReactWindows application targeting WPF that we'd like to use .NET Native on to dramatically improve the first-time download/install experience for our tens of thousands of Windows 7 users. We also have future plans to bring React Native to Linux and potentially re-use @ReactWindows shared code but target Xamarin.Forms.

Having System.Xaml (and other type/method/assembly dependencies of

[2016-12-26 21:49] czifro commented on #13270
May I ask why `O_DIRECT` is not supported in the `pal_io.cpp`? I may be mistaken, but wouldn't this address this?

[2016-12-26 22:56] karelz commented on #6485
Invite sent ...

[2016-12-26 22:56] karelz commented on #14173
Invite sent ...

[2016-12-26 22:57] karelz commented on #4805
Invite sent ...

[2016-12-26 22:59] karelz commented on #13970
Invite sent ...

[2016-12-26 23:03] karelz commented on #14337
@justinvp what is motivation for the API additions? (quick read of the above doesn't answer it)

[2016-12-26 23:04] karelz commented on #14614
Closing as it seems to be external problem.

[2016-12-26 23:06] karelz commented on #14703
@crummel do you know what is going on?

[2016-12-26 23:20] karelz commented on #14715
@cH40z-Lord do you have any reference to problems in other languages? If that's true, the issue is likely unrelated to .NET Core - unless we need to update our prereqs to require special curl install ...

[2016-12-26 23:22] karelz commented on #14708
We need formal API proposal (incl. motivation, usage examples and overall value - how many real-world projects would use it and why)

[2016-12-26 23:24] karelz commented on #14705
@ericstj @ianhays any idea?

[2016-12-26 23:24] bling commented on #14614
@karelz if possible, the documentation on [dot.net](http://www.dot.net) should be updated.  just like `libunwind` and `libicu` are required, users should upgrade `libcurl` to what the minimum version is recommended so they don't run into unexpected errors like this.  thanks.

[2016-12-26 23:26] cH40z-Lord commented on #14715
@karelz I'm not 100% sure if it's related, but we had a similar issue at work with cURLing into an SSL protected HTTP/2 API with PHP. We solved it by re-installing cURL with a local installation of OpenSSL, just like mentioned http://stackoverflow.com/a/26538127/2690438
Though it's entirely possible that it's a different problem and I'm wrong.

[2016-12-26 23:30] nowherenearithaca commented on #10361
FYI - this seemed to work fine on mac for me - El Capitan 10.11.6

[2016-12-26 23:36] karelz commented on #14614
That sounds like a good idea:
I assume you mean list of prereqs here: https://www.microsoft.com/net/core#linuxcentos (step [1])
Do you know if it affects other Linux distros?

What should be the right setup step? `sudo yum install libunwind libicu libcurl`? (sorry, I don't have much Linux background in this space :()

[2016-12-26 23:38] karelz commented on #14702
@alexperovich @safern isn't Buffers fairly new library? Maybe we just forgot to add it into API Reference docs?

[2016-12-26 23:41] justinvp commented on #14337
The motivation is the same as #1513 (`String.Split`) and #5552 (`String.Join`): Avoids unnecessary array allocations when you want to trim based on a single char, and makes `String.Trim/TrimStart/TrimEnd` align with the similar recent single char additions to `String.Split` and `String.Join`.

[2016-12-26 23:43] karelz commented on #14715
Thanks for the info @cH40z-Lord
cc @Priya91

[2016-12-26 23:45] karelz commented on #14696
Should we move the bug to CLI then? Or is there something in CoreFX could/should do?

[2016-12-26 23:52] karelz commented on #14337
Thanks, top post updated with your proposal & motivation.

[2016-12-27 00:37] bling commented on #14614
this is actually quite tricky...

it's not that i had `libcurl` missing, it's that the version that comes with the distribution is too old.  i'm already running centos 7.3, which is 2 point releases newer than the 7.1 listed on the website.  running `yum upgrade` won't do anything here.

there's really only two options here.

1.  install from a third party.  you can either download/install RPMs ma

[2016-12-27 01:03] karelz commented on #14614
Hmmm, that makes it challenging.
I don't believe Microsoft should be repackaging 3rd party libraries like libcurl. It has further complexities, time investment and security implications.

Maybe the right solution is to leave it as it is now ... we should not be compensating too much for the limitations of the OS to install newer versions of 3rd party libraries ... thoughts?

[2016-12-27 01:14] karelz commented on #14717
`?` is considered illegal directory name here: https://github.com/dotnet/coreclr/blob/345e201f027eb35a7a01e1714afe36b831b6f1e3/src/mscorlib/src/System/Security/Util/URLString.cs#L1202

I wonder if we need to make it OS specific ...

[2016-12-27 01:16] karelz commented on #14698
cc: @Priya91

[2016-12-27 01:31] jkotas commented on #14717
The shipping System.IO path handling code has the set of illegal characters done correctly.

System\Security\Util\URLString.cs is internal left-over from CAS security model. Most files under System\Security\... should be deleted and all references to them removed. It will fix this bug as side-effect.

@karelz This issue should be moved to CoreCLR repo.

[2016-12-27 02:12] bling commented on #14614
i'm happy to defer to your judgement; whether it's to start some sort of "known issues" type of thing, or this issue getting picked up by search engines.

[2016-12-27 04:00] maxzhang1985 opened #14721 "ServiceDescriptor can through attributes registration?"
such as ` [ServiceDescriptor(typeof(IUser),ServiceLifetime.Transient)]`

[2016-12-27 08:09] jakesays commented on #5766
@matthargett Good luck on this. I beat this issue to death when I was looking at bringing workflow to .net core. Even went so far as to reach out to the xaml team. They are not even remotely interested in opening System.Xaml. I don't understand why - there's certainly nothing worth protecting in there.

[2016-12-27 08:35] gulshan commented on #5766
May be this will be considered after 2.0 release at the end of April.

[2016-12-27 09:14] lextm commented on #2584
See #11532 for an update.

[2016-12-27 09:16] lextm commented on #11532
Note that this is fixed by PR #11769.

[2016-12-27 09:16] lextm commented on #5271
See #11532 for an update.

[2016-12-27 09:55] matekm commented on #11802
Hi @karelz @bartonjs - I would like to grab that ticket (if it's low priority as I can commit only 1-2hrs per week to work on that...).

[2016-12-27 11:19] galvesribeiro commented on #5766
Guys, again, we don't need System.XAML to make WF ported to `netstandard1.x`... There is already a good work from @dmetzgar in which the core of WF work. The major missing piece is Transactions which I believe is comming back eventually in `netstandard2.x`.

The major guideline from @dmetzgar port is to not have any kind of design language tied to the core and having basic primitives so people can

[2016-12-27 12:06] Mike-EEE commented on #5766
@galvesribeiro that might be true, but this issue is to get System.Xaml ported over to .NET Core, of which it is by far and away the most requested feature in the repo where the .NET team is soliciting feedback.  If you do not listen to your feedback, then why solicit it?  Anyways,  WF is simply _one_ of the scenarios that a System.Xaml port would satisfy.  As you know (or should!) System.Xaml is

[2016-12-27 12:31] galvesribeiro commented on #5766
@Mike-EEE first of all I'm sorry... I though I was replying to this https://github.com/dotnet/corefx/issues/2394 o.O Those two issues were correlated too many times that I got confused.

Second, I'm no way saying that XAML is only useful for UI. I used it for so many years on TFS builds, WF itself and lately for UI. There are a bunch of DSLs like Azure ML, and others that could leverage XAML.

Wha

[2016-12-27 12:36] Mike-EEE commented on #5766
Haha @galvesribeiro I cannot tell you (or am afraid to admit) how many times that has bitten me, too.  No worries about it.  I for one appreciate the input regardless!

[2016-12-27 15:37] ericstj commented on #14696
We should have a plan for what to do.  I see the following options.
1. Do nothing and leave it broken.
2. Don't pretend to support old TFMs in the new package.  Make it only install on the TFM that was used for building the shared framework.
3. Make the host smarter about choosing the best assembly (app vs shared framework) at runtime.

Any other ideas @davidfowl @schellap?

[2016-12-27 15:51] steveharter commented on #11802
@matekm I assigned you the issue. Please also be sure to add tests. Thanks

[2016-12-27 16:04] ericstj commented on #14696
I suppose another option is
4. Make build / publish smarter about deciding when to copy things app local.

[2016-12-27 16:16] ericstj commented on #14705
As @svick mentioned the package itself does have a frameworkReference to System.IO.Compression.FileSystem:
[code]

If you aren't seeing that at build then I think it's a problem with the how the PackageReference is resolved.  With the latest tooling that'd be an MSBuild problem, but it could be SDK (if the SDK targets are getting in the way here).

@cdmihai @eerhardt does this sound like something

[2016-12-27 16:22] qmfrederik commented on #14705
@ericstj I think it's a "sync" problem between the latest version of the SDK/CLI and CoreFX:

1. Some projects reference `NETStandard.Library`, even on `net461` (like EntityFrameworkCore)
2. When you build with `NETStandard.Library`, the latest SDK/CLI gets confused because the same type is defined twice -in the `System.IO.Compression.FileSystem` that ships with `net461` and the one that comes wit

[2016-12-27 16:26] ericstj commented on #14705
`System.IO.Compression.FileSystem.dll` doesn't ship in any package at all.  That comes from the desktop targeting pack.  `System.IO.Compression.ZipFile.dll` ships in a package and that is entirely type-forwards that point to `System.IO.Compression.FileSystem.dll`.

[2016-12-27 17:37] danmosemsft commented on #14338
@Priya91, @ianhays can you evaluate and give feedback?

[2016-12-27 17:42] danmosemsft commented on #6109
@lajones ?

[2016-12-27 17:43] danmosemsft commented on #644
@nguerrera any thoughts?

[2016-12-27 17:43] danmosemsft commented on #5183
@CarolEidt any thoughts?

[2016-12-27 17:55] CIPop commented on #14698
@JeremyKuhne, @ianhays do you know if these got added back? (in corefx [System.IO typeforwards Stream](https://github.com/dotnet/corefx/blob/master/src/System.IO/ref/System.IO.Manual.cs))

[2016-12-27 18:22] danmosemsft commented on #4696
@kennycoc do you expect to have time to create a formal proposal here?

[2016-12-27 18:23] danmosemsft commented on #4695
@hickford do you want to write up this formally here? Check out the docs on the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) to get an idea of the steps, then take a look at [Jon's API request](https://github.com/dotnet/corefx/issues/4547) for a great example of a strong proposal. The more concrete the proposal is (e.g. has exa

[2016-12-27 18:25] danmosemsft commented on #5681
This needs someone to write up a formal API proposal then we can review and if approved, offer up for implementation. Anyone?

Docs on the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) and see [Jon's API request](https://github.com/dotnet/corefx/issues/4547) for a great example of a strong proposal. The more concrete the proposa

[2016-12-27 18:25] danmosemsft commented on #9108
This needs someone to write up a formal API proposal then we can review and if approved, offer up for implementation. Anyone?

Docs on the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) and see [Jon's API request](https://github.com/dotnet/corefx/issues/4547) for a great example of a strong proposal. The more concrete the proposa

[2016-12-27 18:26] danmosemsft commented on #7570
@xied75 do you want to complete formal API proposal then we can review formally?

Docs on the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) and see [Jon's API request](https://github.com/dotnet/corefx/issues/4547) for a great example of a strong proposal. The more concrete the proposal is (e.g. has examples of usage, real-world

[2016-12-27 18:27] danmosemsft commented on #10120
@JeremyKuhne, @ianhays do you consider this ready for API review?

[2016-12-27 18:28] danmosemsft commented on #8142
@GSPP do you want to complete formal API proposal then we can review formally?

Docs on the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) and see [Jon's API request](https://github.com/dotnet/corefx/issues/4547) for a great example of a strong proposal. The more concrete the proposal is (e.g. has examples of usage, real-world sc

[2016-12-27 18:28] danmosemsft commented on #12442
@kouvel, @alexperovich what remains here to get to API review?

[2016-12-27 18:30] danmosemsft commented on #12066
@neridonk perhaps you would like to make the proposal for us to formally review? as above.

[2016-12-27 18:31] danmosemsft commented on #11976
@mjp41 do you have interest in doing such formal API proposal to keep this moving?

Docs on the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) and see [Jon's API request](https://github.com/dotnet/corefx/issues/4547) for a great example of a strong proposal. The more concrete the proposal is (e.g. has examples of usage, real-worl

[2016-12-27 18:32] danmosemsft commented on #4979
@sokket do you have interest in doing such formal API proposal to keep this moving?

Docs on the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) and see [Jon's API request](https://github.com/dotnet/corefx/issues/4547) for a great example of a strong proposal. The more concrete the proposal is (e.g. has examples of usage, real-wor

[2016-12-27 18:36] danmosemsft commented on #6318
@hermitdave do you still have interest in writing up the formal proposal here? If we review okays it promply and someone is interested in implementation, there may still be time to get this into 2.0.

Possibly the implementation could begin by wrapping ConcurrentDictionary, so the API is quickly available to use, then rewritten to have the space/time improvements of a custom implementation.

[2016-12-27 18:40] danmosemsft commented on #3179
@sonicflare  do you have interest in writing up the quick formal proposal here? We are trying to move more quickly with API requests than we have in the past.

See [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2016-12-27 18:41] danmosemsft commented on #1272
@psmolinsky do you have interest in writing up the quick formal proposal here? (API is trivial, but with motivations)

See [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2016-12-27 18:42] danmosemsft commented on #1244
@ChrisEelmaa do you have interest in updating the proposal here?

[2016-12-27 18:46] danmosemsft commented on #12998
@bartdesmet do you want to address feedback and maybe we can review?

[2016-12-27 18:48] danmosemsft commented on #984
@karelz can you remind me the next step here, do we have a volunteers we can assign to to start the implementation?

this assumes it follows the existing API, otherwise it would need API proposal/review.

[2016-12-27 18:53] daveaglick commented on #6318
FWIW, @i3arnon has a really nice implementation at https://github.com/i3arnon/ConcurrentHashSet

[2016-12-27 18:55] danmosemsft commented on #12509
There are some potential other advantages of throwing helpers (which is why I used them in other projects even though I was unaware they broke inlining then). Examples
1. ability to put a breakpoint without breaking on all such exceptions. It's easier to set a breakpoint than to go to the exceptions UI, also you can potentially set a conditional breakpoint.
2. ability to add tracing/logging in a s

[2016-12-27 18:59] danmosemsft commented on #1583
@AlexGhiondea what is next here, are we asking @svick to update his proposal? or is this ready for review?

[2016-12-27 19:00] danmosemsft commented on #14300
@VSadov, @OmarTawfik you own this namespace. What are your thoughts about porting these?

[2016-12-27 19:01] danmosemsft commented on #1081
@Priya91 I marked as ready for review per your note above, feel free to flip back if there is still more feedback.

[2016-12-27 19:02] jnm2 commented on #14338
I prefer `Move` over `Rotate`. It's more 1:1 with my needs and frame of mind.

[2016-12-27 19:12] ChrisEelmaa commented on #1244
@danmosemsft yes, let me catch up with the feedback

[2016-12-27 19:13] xoofx opened #14724 "Add new API for collectible AssemblyLoadContext"
This is related to the undergoing work on coreclr: [Collectible assemblies and AssemblyLoadContext](https://github.com/dotnet/coreclr/pull/8677)

I would like to add the following API to the `System.Runtime.Loader.AssemblyLoadContext`:

[code]

[2016-12-27 19:19] ChrisEelmaa commented on #1271
I can take this

[2016-12-27 19:24] ianhays commented on #14698
Yes, Begin/End are back in Stream.

[2016-12-27 19:30] ianhays commented on #8719
resolved by @AlexRadch in https://github.com/dotnet/corefx/pull/14240

[2016-12-27 19:30] #8719 closed

[2016-12-27 19:35] ericstj commented on #14705
So I took a look at this and it at least in the version of the SDK that I have it looks like it isn't even handling FrameworkAssembly references that come from packages.  That's the cause of this issue.

It looks like @natidea added that support with https://github.com/dotnet/sdk/commit/35049cff27b34c8abfb4bed452b4d79bc65ae70a so it's likely a matter of just picking up an SDK with that fix.

[2016-12-27 19:40] ericstj commented on #14705
Closing this as it is an issue in the SDK, not the packages.

[2016-12-27 19:40] #14705 closed

[2016-12-27 19:47] vcsjones commented on #14237
Well, for the proposal, I'm not sure TCP_KEEP_ALIVE is necessary as it's already there and it looks like the native bits translate the value correctly. https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Net.Sockets/src/System/Net/Sockets/SocketOptionName.cs#L21.

The other two are interesting on Windows. It's my understanding that they are not socket options,

[2016-12-27 19:48] ericstj commented on #14322
@weshaggard  fixed this with https://github.com/dotnet/corefx/commit/4d6c7315359aed4d99ee3402de0f4eac9e606599.  I picked his changes in packaging with https://github.com/dotnet/corefx/commit/fd01a442f216c1f7dc9440606e14a9d9649c50f7.  @mellinoe can you make sure we're using RuntimeOS during testing?

[2016-12-27 19:49] ericstj commented on #12838
@stephentoub fixed with https://github.com/dotnet/corefx/commit/963bbf421720f2d1a321f17360c2ad3c04d3d4da

[2016-12-27 19:49] #12838 closed

[2016-12-27 19:52] ericstj commented on #12450
Currently TFS is frozen at 4.3.0 so this is moot.  I'd expect @saurabh500 to update these references as part of the work to refactor the SNI build.

[2016-12-27 19:52] #12450 closed

[2016-12-27 19:54] ericstj commented on #12402
@ashwinkambli if you're still experiencing this issue on the latest NuGet can you open the issue in https://github.com/nuget/home?

[2016-12-27 19:54] #12402 closed

[2016-12-27 19:54] vcsjones commented on #12855
@AlexGhiondea If you want to assign it to me, I can work on this.

[2016-12-27 20:00] karelz commented on #14698
How did the overload resolutions worked on Desktop? Or is it unique .NET Core-only problem?

[2016-12-27 20:01] karelz commented on #1271
Assigned to you ...

[2016-12-27 20:03] ericstj commented on #12307
@Priya91 handled RegEx in https://github.com/dotnet/corefx/commit/d5752356e80b531443113e8ace8ee486a82adff0, thanks!
I fixed InteropServices with https://github.com/dotnet/corefx/commit/c76acd5d577abe1b5bb73f8e915ec46528d60a21.

[2016-12-27 20:03] #12307 closed

[2016-12-27 20:04] karelz commented on #6485
Assigned to @thiagocamargos

[2016-12-27 20:04] karelz commented on #13970
Assigned to @arcs001

[2016-12-27 20:04] qmfrederik commented on #14705
@ericstj Thanks for looking into this! Just to be 100% sure, I downloaded the latest version of the .NET CLI, and tried to compile a similar project (see my `.csproj` and `Class1.cs` files below).

Compilation of this method:

[code]

still fails when building for `net461` using the latest CLI:

[code]

Without `DisableImplicitFrameworkReferences`:

[code]

With `DisableImplicitFrameworkReferences

[2016-12-27 20:06] jnm2 commented on #14119
I'd expect `MinBy` to return a single thing and `MinsBy` to return zero or more things.

[2016-12-27 20:12] ericstj commented on #14705
The ZipArchive bug is totally different: https://github.com/Microsoft/msbuild/issues/1345.  In both cases you can see the compiler *never* sees `System.IO.Compression.FileSystem` which is where ZipFile lives on desktop.  That error is happening because MSBuild is failing to de-dup assemblies that came from packages and those that come from the targeting pack.

I am certain the issue is caused by t

[2016-12-27 20:23] qmfrederik commented on #14705
@ericstj Thanks, with `DisableImplicitFrameworkReferences` set to `true` and adding an explicit reference to `System.IO.Compression.FileSystem` as you recommended makes the project compile at least. There's still a build warning:

[code]

Anyway, thanks for your help! - it seems this unblocks me and I'll track the upstream bugs to see if they help me get rid of the warnings.

PS: Wouldn't life be

[2016-12-27 20:30] ericstj commented on #12053
Initially it was created to ship some bugfixes for handling large files that weren't in the desktop framework, but no additional API AFAIK.

We needed fixes in the desktop framework in .NET 4.6 to enable out-of-band libraries that replaced those already in the framework.

[2016-12-27 20:31] ericstj commented on #12053
Closing this for now since I believe this addressed the original question.  If you have more questions, please open a new issue.

[2016-12-27 20:31] #12053 closed

[2016-12-27 20:40] ericstj commented on #14705
Type unification is tricky 😉

[2016-12-27 20:42] karelz opened #14725 "Delete EditorBrowsableAttribute and EditorBrowsableState from CoreFX (was moved to CoreCLR)"
dotnet/coreclr#8703 moved EditorBrowsableAttribute and EditorBrowsableState into System.Private.CoreLib.dll. We need to delete it from CoreFX repo ([file](https://github.com/dotnet/corefx/blob/9d0736e2abcfe7c82309cf33a57267a5e33fc8c9/src/System.Runtime/src/System/ComponentModel/EditorBrowsableAttribute.cs)) to avoid duplicate definition (see issue in https://github.com/dotnet/corefx/pull/14719#iss

[2016-12-27 20:44] karelz commented on #14725
I'll give it a shot ...

[2016-12-27 20:54] ericstj commented on #10426
That was actually being tracked with https://github.com/dotnet/corefx/issues/12307, which is now closed.

[2016-12-27 20:54] #10426 closed

[2016-12-27 20:57] brfalcon commented on #4805
Invite accepted! Thanks @karelz

[2016-12-27 21:02] Daniel-Svensson commented on #11030
I've cleaned up some of the examples and uploaded them to https://github.com/Daniel-Svensson/ClrExperiments

I would not call the list complete at the moment.
Before calling it complete the API provided by Math (such as Sign etc), (MathF se link in description), Vector and Vector{T} should be considered to see if there are other methods which makes senes and could be useful.

Including the constra

[2016-12-27 21:16] danmosemsft commented on #14717
Issue moved to [dotnet/coreclr #8732](https://github.com/dotnet/coreclr/issues/8732) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-27 21:16] #14717 closed

[2016-12-27 21:19] danmosemsft commented on #14698
Seems blocking Kestrel.

[2016-12-27 21:24] CIPop commented on #14698
It's unique to .Net Core where the APM Apis for SslStream have been implemented using extension methods (since the base versions didn't exist).

[2016-12-27 21:38] danmosemsft commented on #14701
Seems a broken [assumption about OS behavior](https://github.com/dotnet/corefx/blob/d8fc81080723d58ca569c891ac1ebd86119b6f88/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs#L294) that FILE_ACTION_RENAMED_OLD_NAME would precede FILE_ACTION_RENAMED_NEW_NAME

I see this code has not changed in a long time. If it's the OS, perhaps the right change is just to remove this asser

[2016-12-27 21:40] danmosemsft commented on #14577
Nice find. Wonder if we should be running all our tests on flights. @CIPop do you ever kick off all the tests on your box eg when going home for the night?

[2016-12-27 21:40] danmosemsft commented on #14536
Assigning to @steveharter to add such logging.

[2016-12-27 21:42] danmosemsft commented on #13455
@jiangzeng whenever this fails, please take a look at the log to see whether there is any clue which individual test failed. How often is it failing?

[2016-12-27 21:44] danmosemsft commented on #7806
@jiangzeng have we seen this recently? any log for it?

[2016-12-27 21:48] tarekgh commented on #14496
This should be fixed now by the linked PR.

[2016-12-27 21:48] #14496 closed

[2016-12-27 21:53] CIPop commented on #14577
Part of my regular workflow is to clean and build/test all before updating my master branch. This usually happens before I start working on a new project (or if my master is very old). Both my office machines run auto-updated flighted builds.

Usually mornings: not during the night since that's when the flighted builds usually install.

[2016-12-27 21:57] danmosemsft commented on #13249
This test needs to skip these cases when on desktop (where the CAS code is tripping it up)

[code]

https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem.Watcher/tests/Args.RenamedEventArgs.cs#L14

[2016-12-27 22:01] danmosemsft commented on #13248
Another exception with fixed parameter name. In desktop the parameter name returned is the actual path itself (null here) in core this is fixed to "path".

Just adjust test to not care about the paramter name. All of these:

[code]

[2016-12-27 22:03] danmosemsft commented on #13246
Core changed the exception type to a base type - non breaking.

The tests [even say so](https://github.com/dotnet/corefx/blob/984a3748cb478c4eec044c4e316da91d09cc1737/src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.unit.cs#L307)

XUnit requires the exact type. Change these lines to accept the derived type also.

[code]

[2016-12-27 22:10] jnm2 commented on #7343
On the derived exception sidetrail, I'm not convinced that it ever breaks a contract to throw a more derived exception any more than it breaks a contract to return a more derived value. If the contract is implemented following the LSP, it will never matter.

Reflection, whether involving exact instance types or members, is always likely to break if used improperly.

[2016-12-27 22:19] karelz commented on #4805
Assigned to you ...

[2016-12-27 23:01] jnm2 commented on #14046
I think more people need to be introduced to 2FA and see how easy and indispensable it really is.

[2016-12-27 23:12] CIPop commented on #14612
I have confirmed that WinHttp doesn't support pipelining. At least on Windows, this is not possible.
Please reopen if this is needed in Unix (Curl).

[2016-12-27 23:23] karelz opened #14728 "Replace all apiset references with classic dll references"
[2 failures](https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1688/) in PR https://github.com/dotnet/corefx/pull/14726#issuecomment-269396959:

**[System.IO.Pipes.Tests.NamedPipeTest_Specific.Windows_Get_NumberOfServerInstances_Succeed](https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1688/testReport/junit/System.IO.Pipes.Tests/NamedPipeTest_Sp

[2016-12-27 23:25] #13910 closed

[2016-12-27 23:31] nguerrera commented on #14496
👏

Thanks!

[2016-12-27 23:32] VSadov opened #14729 "Run the selector on Skipped items."
It seems that while we can do certain optimization based on the known size of the resulting sequence after `Skip` is applied, but not running selectors on skipped items during enumeration is observable and could be unexpected.

The following queries seem to have subtly different meaning -
`list.Select(s).Skip(10)`
`list.Skip(10).Select(s)`

[2016-12-27 23:32] karelz commented on #14721
Are you asking if it is possible today? Or proposing a new API?

[ServiceDescription](https://apisof.net/catalog/System.ServiceModel.Description.ServiceDescription) is not part of .NET Core -- for full .NET Framework issues, please use different feedback channels: https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback

[2016-12-27 23:32] #14721 closed

[2016-12-27 23:33] danmosemsft commented on #13245
The directory name is unique -- 29 is the line number so there should not be concurrent access. We create the directory, write the file "file" to it, construct the file watcher, set it up to listen for changes, then fail to set the directory attributes.

AV is the only thing that comes to mind. I tried doing this in a loop in a test app and the Forefront only seemed to open the root %temp% directo

[2016-12-27 23:34] karelz commented on #14724
cc: @davidwrighton @jkotas

[2016-12-27 23:34] xoofx commented on #14724
cc: @gkhanna79 @kouvel

[2016-12-27 23:36] karelz commented on #14729
Out of curiosity, what is the difference between the 2?

BTW: Given this is Design Discussion, I will remove the "up for grabs"

[2016-12-27 23:36] VSadov commented on #14729
The fix is likely to be applied in `ListPartition` where it would need to run the selector for the skipped elements before yielding the first result (similarly to the EnumerablePartition)

[2016-12-27 23:38] danmosemsft commented on #13244
Disable this test on desktop.
[SkipOnTargetFramework(TargetFrameworkMonikers.Net46, "reason")]

[2016-12-27 23:39] danmosemsft commented on #13243
@ianhays is this a known omission from desktop, and we should disable this test?

[2016-12-27 23:43] karelz commented on #984
I would like to wait with SerialPort until we see reasonable progress on SignedXml and DirectoryServices where we primed the source code and asked community to help us to finish it off.
If those efforts go well, we can kick off something similar with SerialPort in January. Assuming we will have volunteers to help with the work :)

[2016-12-27 23:44] VSadov commented on #14729
@karelz - the `list.Select(s).Skip(10)` seems to promise to run `s` as many times as elements in the list.
It would, if `list` is some random enumerable.

Does the fact that we have a "seek-able" source allow us to optimize away running selectors on the elements that we skip?

[2016-12-27 23:45] VSadov commented on #14729
Related to: https://github.com/dotnet/corefx/issues/13910

[2016-12-27 23:46] xoofx opened #14730 "Instructions to work with local coreclr build and API changes on corefx"
This is related to the work on [collectible AssemblyLoadContext](https://github.com/dotnet/coreclr/pull/8677#issuecomment-269397257) on coreclr and the issue #14724

I have made changes to `System.Private.CoreLib`  and I would like to add the relevant API changes to `AssemblyLoadContext.cs`  in corefx and add tests against this API, using my local build of coreclr.
So on my branch on corefx, I hav

[2016-12-27 23:46] danmosemsft commented on #13241
As correctly stated above this is because https://github.com/dotnet/corefx/commit/6cbb8de72c32d0c24263523d72d7513f837936ae does not exist in desktop. We should disable the test for desktop ie
[SkipOnTargetFramework(TargetFrameworkMonikers.Net46, "reason")]

[2016-12-27 23:53] danmosemsft commented on #10896
Odd, it is this
[code]
[In desktop NodeType is on XNode](https://apisof.net/catalog/System.Xml.Linq.XObject.NodeType) - it wouldn't compile otherwise anyway - and it's checking the type here also.

Hmm.

[2016-12-27 23:55] karelz commented on #14729
The only difference wold be if `Select` causes observable side-effects, right? Otherwise there should not be a concern, right?
Do we even guarantee that we will enumerate `list` just once? I thought that is entirely up to Linq to decide and that it can change -- which kind of also rules out side-effects.

Why is there any difference between seekable and non-seekable enumerable? In theory, we shoul

[2016-12-27 23:56] danmosemsft commented on #10896
Failing consistently, next step is to repro locally.

[2016-12-28 00:06] karelz commented on #14729
OK, I read more in #13910 and now I see some of your points. I didn't realize that throwing (as part of `Validate()` method) is potentially reasonable side-effect (which can be executed repeatedly).

Maybe doing less magic on behalf of developer is not that bad ... if developers care about perf, they should be able to optimize their code and not expect auto-magic from a compiler like C# to pay for

[2016-12-28 00:08] Priya91 commented on #10799
@brendandixon The ```StandardOutput``` is a StreamReader, and it has ```BaseStream``` property which returns the underlying ```Stream```. You can read this ```BaseStream``` with a ```BinaryReader```. Will that work with your scenario?

[2016-12-28 00:43] jiangzeng commented on #7806
@danmosemsft I did not see it in recent runs.
@Jiayili1 Please help to double check.

[2016-12-28 00:44] jiangzeng commented on #13455
@danmosemsft I did not see it in recent runs.
@Jiayili1 Please help to double check.

[2016-12-28 00:51] jiangzeng commented on #13455
The latest build we can see it should be 20161204.02. For logs, please check:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161204.02/workItem/System.Runtime.Numerics.Tests/details/db65a0ea-d46d-4ffb-8a3b-19f86890f1a2

[code]

[2016-12-28 01:04] AlexGhiondea commented on #1583
@danmosemsft I believe we were still settling on the design. I will take a look when I get back next year!

[2016-12-28 01:21] Jiayili1 commented on #13455
@danmosemsft On build 20161222.03, this issue is repro, please check: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161222.03/workItem/System.Runtime.Numerics.Tests/details/db65a0ea-d46d-4ffb-8a3b-19f86890f1a2

[code]

[2016-12-28 01:40] jamesqo commented on #14046
@karelz I have logged into GitHub on many of the computers at my library by now, so while 2FA is still an inconvenience it has been mitigated for me. Regardless, however, this issue can be closed since it was fixed in #14141 (@jkotas you're the owner).

[2016-12-28 01:47] tloo opened #14735 "Need the instruction about how to integrate corefx changes with my application."
I have made some changes in corefx and build it.
Now I have another .Net Core application which wants to use the changes I made in corefx.
How to achieve that? Need some instructions. Thanks a lot!

[2016-12-28 01:53] dotnet-mc-bot opened #14736 "Test failure: System.Diagnostics.Tests.ProcessStartInfoTests/TestArgumentsProperty"
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessStartInfoTests/TestArgumentsProperty` has failed.

Assert.True() Failure
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Diagnostics.Tests.ProcessTestBase.Dispose(Boolean disposing)
       at System.IO.FileCleanupTestBase.Dispose()
       at ReflectionAbstractionExtensions.DisposeTestClass(I

[2016-12-28 01:55] Jiayili1 commented on #14117
This issue happened again on build 20161227.01, please check: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161227.01/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessStartInfoTests~2FTestArgumentsProperty

Message:
[code]

Stack Trace:
[code]

Create a new issue: https://github.com/d

[2016-12-28 01:56] jamesqo commented on #12509
@AlexGhiondea @danmosemsft I am deciding to go in a different direction with this proposal. C# 7 introduces throw exprs where you can write `_name = name ?? throw new ArgumentNullException(nameof(name))`, so I feel like the current shape kind of conflicts with that since you can't use it with throw exprs.

@danmosemsft You mentioned in an earlier comment that methods with `throw` can now be inline

[2016-12-28 02:00] Jiayili1 commented on #9543
Fails on build 20161227.01, please check: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161227.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ClientCertificates_Test~2FManual_CertificateSentMatchesCertificateReceived_Success(numberOfRequests:%203,%20reuseClient

[2016-12-28 02:23] Jiayili1 commented on #8744
Same failure on windows 8.1 in latest build 20161227.01,
Test:
System.Net.Security.Tests.SslStreamNetworkStreamTest/SslStream_SendReceiveOverNetworkStream_Ok

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161227.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.SslStreamNetworkStreamTest~2FSslSt

[2016-12-28 03:03] #14046 closed

[2016-12-28 04:15] jamesqo commented on #6073
@divega I was waiting for others to reply in the meantime, but since no one has:

I think so too; places like `Dictionary.TryGetValue` would be ideal candidates.

I don't think there is any need to add more "flavors"-- the type should work fine with existing containers.

👍 I would also like to hear what others think.

**Also:** If we were to pursue this, a nicer (and shorter) name would be `Maybe<

[2016-12-28 04:50] Clockwork-Muse commented on #13241
@danmosemsft - ...this is a bug that only exists as "undefined" behavior (essentially), though.  In order to hit it, your program already has to be doing something wrong.
Would it be better to fix it?

(I mean, I could certainly submit a PR for the test fix, my kneejerk first reaction is just usually along the lines of "fix all the bugs!!!!!").

[2016-12-28 06:23] danmosemsft commented on #13241
@Clockwork-Muse the problem is that porting fixes to Desktop is quite costly. I marked the original PR as port-consider to look at when we make a sweep. Meantime we should make the test pass - if you want to submit a PR with the attribute above, that would be great.

I don't have instructions handy for running a test on desktop, but I think if you do the above it should be sufficient. We'll see it

[2016-12-28 06:24] danmosemsft commented on #14736
@Jiayili1 please don't forget the label indicating the failure is core or desktop , and the area label.

[2016-12-28 06:26] jkotas commented on #14728
The crash was caused by tests still referencing API sets. We have dropped API sets recently, and this PR was the first one that brought the API sets over.

I see there are number of other API set references in tests. All of them should be fixed.

[2016-12-28 06:27] jkotas commented on #14728
cc @JohnChen0

[2016-12-28 06:28] danmosemsft commented on #14736
Some process did not exit after a 10 minute wait (!)

[code]

https://github.com/dotnet/corefx/blob/da23aaaed1d6f772abdde06f8d93023f4f7f4a59/src/System.Diagnostics.Process/tests/ProcessTestBase.cs#L33

Next step: add logging of the process name, which may give us a hint next time this happens. We may also consider just ignoring the failure.

It might also make sense to kill all these in parallel n

[2016-12-28 06:28] Jiayili1 commented on #14736
@danmosemsft  Thanks for the remind, I will remember to add the label later.

[2016-12-28 06:39] danmosemsft commented on #13241
Actually this looks more general
`[SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework, "reason")]`

[2016-12-28 06:40] #14725 closed

[2016-12-28 06:41] jkotas commented on #14728
Keep open to fix the other API set references in tests

[2016-12-28 06:42] danmosemsft commented on #13305
Looks like this is behavior introduced since Desktop judging by comment here

https://github.com/dotnet/corefx/blob/760f28706bdb82204252e76743e2f8afe1a368f8/src/System.Private.Xml/tests/XmlWriter/WriteWithInvalidSurrogate.cs#L40

This is already disabled for UWP, need also for Desktop thus:

`[SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework | TargetFrameworkMonikers.Netcore50)]`

[2016-12-28 06:54] danmosemsft commented on #13260
Product behavior change/fix introduced in Core in https://github.com/dotnet/corefx/commit/291c6e2.

Add `[SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework)]` to this test and optionally make another test with `[SkipOnTargetFramework(TargetFrameworkMonikers.Netcoreapp)]` that tests the exception throws.

[2016-12-28 06:56] danmosemsft commented on #14468
Don't understand this as it IS present in desktop: https://apisof.net/catalog/System.Xml.Linq.XNode.ReadFrom(XmlReader)

Likely a test setup issue -- next step, repro locally.

[2016-12-28 07:13] danmosemsft commented on #13259
This is caused by a change of behavior in Core:

[code]

in InsertAfter made in https://github.com/dotnet/corefx/commit/291c6e2#diff-3282618be84c4c1482ef05e86f37a49cR225.

It's not clear why the breaking change was made as there is no description in that PR nor link to an issue. @krwq ?

[2016-12-28 07:19] danmosemsft commented on #13258
See comment in https://github.com/dotnet/corefx/issues/13259. Need to determine whether breaking change was intended.

[2016-12-28 07:23] danmosemsft commented on #13257
This is a behavior change. @krwq / @sepidehMS was this an intentinonal change?

[2016-12-28 07:24] danmosemsft commented on #13256
Same as https://github.com/dotnet/corefx/issues/13257

[2016-12-28 07:25] danmosemsft commented on #10892
Same issue as https://github.com/dotnet/corefx/issues/14681

[2016-12-28 07:32] danmosemsft commented on #7806
I am going to close this on the shaky assumption that some other change has fixed it in the last 2 months. @jiangzeng please reopen with the relevant log (similar to mine above) if this does fail.

[2016-12-28 07:32] #7806 closed

[2016-12-28 07:32] danmosemsft commented on #13455
@sepidehMS we need core dumps ..

[2016-12-28 07:33] dotnet-mc-bot opened #14740 "Test failure: System.Globalization.Tests.GregorianCalendarGetDaysInMonth/GetDaysInMonth"
Opened on behalf of @Jiayili1

The test `System.Globalization.Tests.GregorianCalendarGetDaysInMonth/GetDaysInMonth` has failed.

System.TypeInitializationException : The type initializer for 'System.Globalization.Tests.GregorianCalendarTestUtilities' threw an exception.\r
    ---- System.IO.FileNotFoundException : Could not load file or assembly 'System.Globalization.Calendars, Version=4.0.1.0, Cu

[2016-12-28 07:37] danmosemsft commented on #14117
Logging here is tracked already by https://github.com/dotnet/corefx/issues/14736

[2016-12-28 07:37] danmosemsft commented on #14117
This issue is redundant,

[2016-12-28 07:46] danmosemsft commented on #8744
@davidsh looks like more to disable as you did with the one at the top.

[2016-12-28 07:48] danmosemsft commented on #14736
Looking at the code, the process name should always be 'RemoteExecutorConsoleApp.exe' (or corerun.exe around it). Hypothesis: this exe is trigging the native debugger/Watson. It might be helpful to add more console logging to it, if that logging shows up in the test log.

[2016-12-28 07:49] danmosemsft commented on #13251
@AtsushiKan are these apparent behavior changes vs. desktop expected?

[2016-12-28 07:56] danmosemsft commented on #10844
It simply cannot get the console handle. `GetStdHandle(Win32Native.STD_OUTPUT_HANDLE);` is returning `INVALID_HANDLE_VALUE`.

@jiangzeng has this happened since?

[2016-12-28 08:04] WinCPP commented on #9379
Hi all,

Is this something that I can take up? Please note this will be my first attempt / contribution, so I might be slow to start.

Thanks,
Mandar

[2016-12-28 08:10] danmosemsft opened #14742 "TestPublicKey_Key_RSA failed in CI"
https://github.com/dotnet/corefx/pull/14732
[code]

@bartonjs @steveharter  theories?

[2016-12-28 08:27] xoofx commented on #14730
Found that the build is also downloading some versions from https://github.com/dotnet/versions/tree/master/build-info used later in a [hardcoded metadata](https://github.com/dotnet/buildtools/blob/73375848b73a586a8ac439a1263b605901414ad8/dependencies.props#L44) downloaded through [BuildInfo.Get](https://github.com/dotnet/buildtools/blob/49a09cbaccc39559f12b77566581c97185380d79/src/Microsoft.DotNet

[2016-12-28 08:35] danmosemsft commented on #14730
@xoofx we currently have work in progress to make it easier to exchange changes between coreclr and corefx without going through myget. It is absurdly hard right now as I discovered having joined the team relatively recently. Everyone has their own way and I see that @kouvel offered his own.

Here are some notes I made to myself last time I did it. I'm not writing this up since I'm waiting on the

[2016-12-28 08:37] danmosemsft commented on #14730
@karelz in case he has another way.

[2016-12-28 08:39] danmosemsft commented on #14728
@JohnChen0 do you plan to update these also? There seem to be 34.

[2016-12-28 09:02] Jiayili1 commented on #13343
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:02] Jiayili1 commented on #13304
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:02] Jiayili1 commented on #13260
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:03] Jiayili1 commented on #13258
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:03] Jiayili1 commented on #13259
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:03] Jiayili1 commented on #13253
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:03] #13253 closed

[2016-12-28 09:04] Jiayili1 commented on #13249
This issue doesn't happen for the latest month, so close it.

[2016-12-28 09:05] Jiayili1 commented on #13248
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:06] Jiayili1 commented on #13246
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:06] Jiayili1 commented on #13245
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:06] Jiayili1 commented on #13244
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:06] Jiayili1 commented on #13243
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:07] Jiayili1 commented on #10899
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:07] Jiayili1 commented on #10895
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:08] Jiayili1 commented on #10890
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:08] Jiayili1 commented on #10889
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:08] #10889 closed

[2016-12-28 09:08] Jiayili1 commented on #10888
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:08] #10888 closed

[2016-12-28 09:08] Jiayili1 commented on #10887
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:08] Jiayili1 commented on #10844
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:09] Jiayili1 commented on #10842
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:09] Jiayili1 commented on #10833
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:09] #10833 closed

[2016-12-28 09:09] Jiayili1 commented on #10785
This issue doesn't happen for the last month, so close it.

[2016-12-28 09:09] #10785 closed

[2016-12-28 09:32] xoofx commented on #14730
@danmosemsft the process described by @kouvel is almost working. Now I'm getting errors on other packages that are expecting some stuff on coreclr that I don't have. Where can I find the associated commit between a corefx and coreclr repo? From the [dotnet/versions](https://github.com/dotnet/versions/tree/master/build-info/dotnet/coreclr/master) I only get package number.

[2016-12-28 09:47] xoofx commented on #14730
rebasing on latest corefx hopefully should fix my issue...

[2016-12-28 12:51] qmfrederik opened #14745 "X509Certificate2: Access Denied opening pfx store, if logged on using PowerShell remoting"
Scenario:

You're running a .NET Core program on a remote server. You are connected to that server using PowerShell remoting (i.e. via `Enter-PSSession (...)`). The remote server is not joined to a domain. In this scenario, the `X505Certificate2(string, string)` constructor fails to open a `.pfx` file with an Access Denied error message.

I ended up in this scenario because I'm running a Jenkins a

[2016-12-28 13:13] xoofx commented on #14730
@danmosemsft glad to learn that this is being work out 👍

[2016-12-28 13:47] jamesqo commented on #9379
@WinCPP Whoops, I have actually fixed this previously and forgot to update this issue; sorry about that.

@jkotas Can you close this to avoid further confusion? (https://github.com/dotnet/corefx/pull/11074, https://github.com/dotnet/corefx/pull/12059)

[2016-12-28 15:09] HaloFour commented on #644
To note the APIs I've described above and my current implementations are simply suggestions.  I'd be happy with any implementation that made it easier to work with generic types and methods, preferably reducing most operations such as obtaining a `MethodInfo` to a specific generic method to a one-liner.  For example a week or so ago I was helping a friend manually construct an expression tree usin

[2016-12-28 15:26] #9379 closed

[2016-12-28 15:40] VSadov commented on #14729
On the other hand 'Take(0)' would short-cirquit everything...

And what happens with 'ElementAt(10)'?

Also, if it is ok to skip selectors, is it ok to run them out of order or run twice?

With indexing arrays and lists - yes. We assume no sudeeffects and indexing can be skipped, reordered, repeated. But what about selectors?

Sideeffecting selectors are evil, but we need some rational principle w

[2016-12-28 16:01] bartdesmet commented on #12998
The API proposal ib @terrajobst reply captures the essence so this can be reviewed.

[2016-12-28 16:06] steveharter commented on #14742
Duplicate of https://github.com/dotnet/corefx/issues/6302 (PublicKeyTests.TestKey_RSA failure on Unix in CI)

[2016-12-28 16:06] #14742 closed

[2016-12-28 16:11] #14566 closed

[2016-12-28 16:45] kouvel opened #14747 "Don't handle exceptions when raising Unloading and ProcessExit events"
The desktop behavior is to catch exceptions from each callback invocation and have the `UnhandledException` event be raised for each exception. Regardless of exceptions, all callbacks are still invoked.

The desired behavior is that exceptions are not caught. `AppDomain.ProcessExit` and `AssemblyLoadContext.Unloading` are typically raised from the finalizer thread, so an unhandled exception from a

[2016-12-28 16:46] kouvel commented on #14747
@cakine

[2016-12-28 18:26] vladimirlapacek opened #14748 "RequiredAttribute ErrorMessage and DefaultErrorMessage null by default"
The `ErrorMessage` and `DefaultErrorMessage` properties are used by `ValidationAttributeAdapter<TAttribute>.GetErrorMessage` to obtain the localized error message. As the properties are null by default, another mechanism is used and the localization works inconsistently. `EmailAddressAttribute`, on the other hand, has the `DefaultErrorMessage` property set by default. Please make `RequiredAttribut

[2016-12-28 18:56] ChrisEelmaa commented on #1271
before doing any real work,
I need to understand what is the plan when going on-forward.

Taking a look at CompareInfo.cs reveals that there are multiple files:

[code]

and

`C:\src\git\coreclr\src\mscorlib\src\System\Globalization\CompareInfo.cs`

the corefx\ one does not seem to be valid at this point, for example, when I try to look for "FindStringOrdinal" there is no actual interop defined fo

[2016-12-28 19:14] jamesqo opened #14749 "[ignore] Proposal: Maybe<T> monad to represent optional generic types"
I accidentally submitted this proposal before I had finished writing it, and then changed my mind. Sorry about that :smile: Please ignore everything below.

## Original (unfinished) text

**Background:** `Nullable<T>` is used to represent the prescence/abscence of a value of type `T`. While it is a nice language feature, it is artificially limited in that `T` is constrained to be a struct. This ca

[2016-12-28 19:30] CIPop commented on #8744
@danmosemsft we're aware of many System.Net intermittent issues. We've decided to track all of these with #14519.

[2016-12-28 19:30] #8744 closed

[2016-12-28 19:32] CIPop commented on #9543
Tracking all System.Net intermittently failing bugs with #14519.

[2016-12-28 19:37] nikitozz commented on #11050
As @bartonjs mentioned, the issue is `CryptoNative_LookupFriendlyNameByOid` uses `OBJ_nid2ln` to get a friendly which causes a long name to be returned.

On the other hand, most of the commonly used OIDs are hard-coded/cached in the following dictionary `s_friendlyNameToOid`: https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Security.Cryptography.Encoding/sr

[2016-12-28 19:58] sepidehkh opened #14750 "System.Uri(string uriBase, string uriRelative) does not work properly if uriRelative contains special characters"
[This test](https://github.com/dotnet/corefx/blob/a7d6c2c5fbf870092535b6e70e25c97c2187f959/src/System.Private.Xml/tests/Xslt/XslCompiledTransformApi/XslCompiledTransform.cs#L3877) fails on Linux with error: `"System.ArgumentOutOfRangeException : Length cannot be less than zero"`

Here's a smaller repro of the issue on Linux (defining `XmlNullResolver` locally):
[code]

which results in the followi

[2016-12-28 21:56] danmosemsft commented on #8744
@CIPop fair enough. Many of the other CI/test run issues look like System.Net intermittent failures. Do you want to go through those and dupe them out?

Maybe 10 or so of these: https://github.com/dotnet/corefx/labels/test-run-core

[2016-12-28 22:12] brendandixon commented on #10799
@Priya91 It's been a while since I've experimented, but I don't believe that worked. I was unable to obtain *pure* bytes; they get undergoing some degree of translation.

[2016-12-28 22:14] danmosemsft commented on #10172
Issue moved to [dotnet/standard #140](https://github.com/dotnet/standard/issues/140) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-28 22:14] #10172 closed

[2016-12-28 22:16] Eilon opened #14752 "Passing dynamic arg to indexer property of a generic type implementing a derived interface throws"
Yes, that's a mouthful, but it's the simplest way I've been able to reproduce this! There seems to be a limitation (bug?) in RuntimeBinder when it tries to call an indexed property on an interface through a "derived" interface. It appears that the RuntimeBinder doesn't see the indexed property of the "base" interface and throws an exception:

[code]

Long story short, here's the simplest code I've

[2016-12-28 22:16] danmosemsft commented on #11082
@brentschmaltz can you help resolve this one?

[2016-12-28 22:16] danmosemsft commented on #12678
https://github.com/dotnet/corefx/issues/12850

[2016-12-28 22:17] danmosemsft commented on #13931
@JeremyKuhne does more remain here? I think you nentioned a change in the PAL.

[2016-12-28 22:33] #13241 closed

[2016-12-28 22:39] CIPop commented on #8744
@danmosemsft I'll leave that decision/work to @karelz and @steveharter who are actively triaging and investigating the test failures.

[2016-12-28 23:15] danmosemsft commented on #12998
OK, if you update to the usual API proposal format with motivation, example etc we can flip to ready for review.

[2016-12-28 23:22] danmosemsft commented on #14740
Another dupe of https://github.com/dotnet/buildtools/issues/1092

[2016-12-28 23:22] #14740 closed

[2016-12-28 23:23] danmosemsft commented on #13260
I don't know why this isn't reproing because I believe we need the change above.

[2016-12-28 23:23] danmosemsft commented on #13259
I don't know why this isn't reproing because I believe we need the change above.

[2016-12-28 23:23] danmosemsft commented on #13258
I don't know why this isn't reproing because I believe we need the change above.

[2016-12-28 23:23] danmosemsft commented on #13249
I don't know why this isn't reproing because I believe we need the change above.

[2016-12-28 23:23] danmosemsft commented on #13248
I don't know why this isn't reproing because I believe we need the change above.

[2016-12-28 23:23] danmosemsft commented on #13246
I don't know why this isn't reproing because I believe we need the change above.

[2016-12-28 23:23] danmosemsft commented on #13244
I don't know why this isn't reproing because I believe we need the change above.

[2016-12-28 23:48] #14749 closed

[2016-12-29 00:35] danmosemsft commented on #13827
@AlexRadch you say these still fail when OS language is English -- is xsltc.exe output English in this case? I'm wondering how we repro this.

I've removed the label as this does not impact most folks/runs.

[2016-12-29 01:21] crummel commented on #14703
It looks like coverage tests are not actually being run, so report generation is failing with no input reports.  I tried this out with manually passing the internal coverage flags and didn't have any luck, so it looks like a deeper issue than just build.cmd/config.json stuff.  I'll continue looking into it.

[2016-12-29 01:35] dotnet-mc-bot opened #14754 "Test failure: ConsoleEncoding/TestEncoding(inputString: \"This is Ascii string\")"
Opened on behalf of @Jiayili1

The test `ConsoleEncoding/TestEncoding(inputString: \"This is Ascii string\")` has failed.

System.NotSupportedException : Memory stream is not expandable.

        Stack Trace:

           at System.IO.__Error.MemoryStreamNotExpandable()
       at System.IO.MemoryStream.set_Capacity(Int32 value)
       at System.IO.MemoryStream.EnsureCapacity(Int32 value)
       at

[2016-12-29 01:51] dotnet-mc-bot opened #14756 "Tests under 'System.Data.SqlClient.Tests' failed with System.TypeInitializationException"
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.ExceptionTest/ExceptionTests` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Data.SqlClient.SqlException)\r
    Actual:   typeof(System.TypeInitializationException): The type initializer for 'System.Data.SqlClient.TdsParser' threw an exception.

        Stack Trace:

           at System.Data.SqlClient.TdsPars

[2016-12-29 01:56] dotnet-mc-bot opened #14757 "Tests under System.Data.SqlClient.Tests.TcpDefaultForAzureTest failed with Xunit.Sdk.TrueException"
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.TcpDefaultForAzureTest/AzureNoProtocolConnectionTest` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Data.SqlClient.Tests.TcpDefaultForAzureTest.AzureNoProtocolConnectionTest()
Build : Master - 20161228.03 (Core Tests)
Failing configurations:
- Windows.7.A

[2016-12-29 02:02] dotnet-mc-bot opened #14758 "Test System.Diagnostics.Tests.ProcessTests/TestMaxWorkingSet failed with System.DllNotFoundException"
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessTests/TestMaxWorkingSet` has failed.

System.DllNotFoundException : Unable to load DLL 'api-ms-win-core-memory-l1-1-1.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)

        Stack Trace:

           at System.Diagnostics.Tests.Interop.GetProcessWorkingSetSizeEx(SafeProcessHandle hProcess,

[2016-12-29 02:06] Jiayili1 commented on #14758
@danmosemsft Is this issue same as [1092](https://github.com/dotnet/buildtools/issues/1092)?

[2016-12-29 02:12] Jiayili1 commented on #14758
Test System.Globalization.Tests.CultureInfoAll/TestAllCultures failed with System.DllNotFoundException in build 20161228.03.

Details: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161228.03/workItem/System.Globalization.Tests/analysis/xunit/System.Globalization.Tests.CultureInfoAll~2FTestAllCultures

Message:
[code]

Stack

[2016-12-29 02:22] Jiayili1 commented on #13455
In build 20161228.03, this issue is repro, test System.Numerics.Tests.cast_fromTest/RunDoubleExplicitCastFromLargeBigIntegerTests failed with System.OutOfMemoryException

Details: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161228.03/workItem/System.Runtime.Numerics.Tests/analysis/xunit/System.Numerics.Tests.cast_fromTest

[2016-12-29 03:12] divega opened #14760 "DbConnection.Dispose() stopped calling DbConnection.Close() in DataSet commit"
The behavior changed in https://github.com/dotnet/corefx/commit/7888677b3c53596085c2fa53860d9a0519eeecfd#diff-d7bff8835e6985ab9107a59a282e1a60L153 which made `DbConnection` inherit the `Dispose()` implementation from `Component`. It triggered a failure in an EF Core test (see https://github.com/aspnet/EntityFramework/pull/7323).

I am creating this issue so that the SqlClient team has a chance to

[2016-12-29 03:13] divega commented on #14760
Trying to figure out how things were supposed to work, I found that in the reference code at https://github.com/Microsoft/referencesource/blob/master/System.Data/System/Data/ProviderBase/DbConnectionHelper.cs#L202 `Dispose()` calls `Close()` if `disposing == true`, but DbConnectionHelper.cs seems to be just template code and the actual connection classes such as `SqlConnection` don't do this, or a

[2016-12-29 05:37] jkotas commented on #14758
Dup of https://github.com/dotnet/corefx/issues/14728

[2016-12-29 05:38] jkotas commented on #14754
cc @tarekgh Looks related to your recent change

[2016-12-29 11:24] xoofx commented on #14730
@danmosemsft yeah, incidentally I discovered this recently ;)
I was more talking about having this commit id stored in a git repo instead.

Wondering why not use something like git submodules with a top level repo containing `coreclr` and `corefx`? The purpose is somewhat similar to what is doing [dotnet/versions](https://github.com/dotnet/versions) but using submodules would at least automate the

[2016-12-29 12:31] Mike-EEE commented on #5766
FWIW, it also looks like @cwensley continues to do a great job over @ [Portable.Xaml](https://github.com/cwensley/Portable.Xaml/) as well, having [recently made performance improvements to his mono-based adaptation of System.Xaml](https://github.com/cwensley/Portable.Xaml/pull/37#event-907260884) that make it faster than the original version.  Almost seems as if that could be a good starting point

[2016-12-29 15:06] alexandertsema opened #14762 "Port System.Management - WMI (Windows Management Instrumentation) or MI (Windows Management Infrastructure)"
I'm just curios if any of these libraries have been already implemented. If not what alternative can I use to retrieve hardware information with .Net Core? My target OS is Windows.

[2016-12-29 17:42] #14071 closed

[2016-12-29 17:46] sepidehMS commented on #14064
Reopening as this still happens in two new tests: [this](https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/XmlSchema/XmlSchemaSet/TC_SchemaSet_XmlResolver.cs#L102) and [this](https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/XmlSchema/XmlSchemaSet/TC_SchemaSet_XmlResolver.cs#L133)  (the failure is not consistent though)

[2016-12-29 17:51] safern commented on #14064
Will take a look to those failures... though the problem that we faced in previous failures wasn't with `DisableCaching` not working, it really was with the test's configurations that weren't setting the switch where they should set it in order to have a consistent behavior without caching values. We just had to set `DisableCaching` switch to true on the tests constructors. @sepidehMS

[2016-12-29 17:53] safern commented on #14064
Do you have a local repro state yet?

[2016-12-29 17:56] sepidehMS commented on #14064
@safern I set DisableCaching in the constructor of these tests, but that doesn't always set it in the right time. Yes, I can repro the failure locally, but it only happens in some of the runs. You only need to re-enable the tests and run the a few times, and you should be able to see them fail. Thanks.

[2016-12-29 18:02] safern commented on #14064
Yes that is what I saw, that you set it correctly... maybe it is happening because of the static constructor in `LocalAppContext` that is being called before the switch is being set in this case and there is the only place where we try to read `DisableCaching` switch value and the value we read there is the value that will persist on the whole run, even if we update the switch's value `LocalAppCon

[2016-12-29 18:36] steveharter commented on #11624
Also failed on win10 on 12\23 with same "Authentication failed because the remote party has closed the transport stream."

[2016-12-29 18:54] danmosemsft commented on #14730
@xoofx I know the folks doing this considered submodules but last I heard they weren't going in that direction. I haven't used submodules myself but I understand they have some limitations that can cause confusion. Last I heard that are going to remain side by side repos but building one will publish locally to the other. Hopefully when this is done there will be a doc or blog post.

[2016-12-29 19:02] cesarbs commented on #14698
Is there an ETA for this? We had to disable a number of tests to get our CI infrastructure moving, and HTTPS is completely broken on Kestrel.

[2016-12-29 19:08] Priya91 commented on #14758
Closing as dupe.

[2016-12-29 19:08] #14758 closed

[2016-12-29 19:08] danmosemsft commented on #14757
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161228.03/workItem/System.Data.SqlClient.Tests/details/450c225b-d622-4374-b20a-cf04e94cb6de shows the same stack as https://github.com/dotnet/corefx/issues/14756. Same issue.

[2016-12-29 19:08] #14757 closed

[2016-12-29 19:09] CIPop commented on #14698
@cesarbs I don't think we've root-caused the issue although @benaadams hints it might be the APM extension methods.

Lots of folks are on vacation these days and I'm already fully booked on other high priority items.
If you have some time, we would appreciate some help in investigating and possibly fixing (even if temporarily) the issue to unblock your team.

[2016-12-29 19:09] danmosemsft commented on #14756
This is only Win7 and not previously failing. Setup issue?

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161228.03/workItem/System.Data.SqlClient.Tests

[2016-12-29 19:10] danmosemsft commented on #14762
@karelz

[2016-12-29 19:11] danmosemsft commented on #14760
@saurabh500 @stephentoub (since change above mentioned)

[2016-12-29 19:27] danmosemsft commented on #12683
This was hit again in CI this time by `System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success(serverProtocol: Tls11)`

@CIPop

[2016-12-29 19:59] steveharter commented on #13938
Other cases
dotnet_corefx/master/outerloop_win7_debug 39 	win2008-c077f0 	12/14 08:20 PM
dotnet_corefx/master/outerloop_win7_debug 40 	win2008-7c2720 	12/15 08:20 PM
dotnet_corefx/master/outerloop_win7_debug 43 	win2008-51f5f0 	12/18 08:30 PM
dotnet_corefx/master/outerloop_win7_debug 44 	win2008-463f60 	12/19 08:29 PM
dotnet_corefx/master/outerloop_win7_release 48 	win2008-a23450 	12/22 07:52 AM
d

[2016-12-29 21:33] steveharter commented on #12107
I'm re-opening this issue in lieu of creating another one. The NegotiateStream tests accounts for 80% of all test failures in System.Net.* including 673 failures from Dec 1 - 28 in CI.

Most of the failures are on Ubuntu 16.10 where the issue appears to be installing krb5-kdc and causes all such tests to typically fail together.

When tests fail on other platforms (not Ubuntu 16.10), the results v

[2016-12-29 21:39] steveharter commented on #13637
These tests account for 10% of all System.Net* CI failures. There were 78 failures from Dec 1 - Dec 28:
[code]

[code]
[code]

Typical error
[code]

[2016-12-29 22:03] cesarbs commented on #14698
Haven't exactly found the root cause, but at least I found a workaround for Kestrel. If I put a "pass through" stream before `SslStream` that does _not_ implement `BeginWrite`/`EndWrite`, I avoid [this](https://github.com/dotnet/coreclr/blob/1cfbb8d79d65ea972eed8d73458fdf93697d031e/src/mscorlib/src/System/IO/Stream.cs#L426) code path in `Stream`, and HTTPS works again.

[2016-12-29 22:22] CIPop commented on #12683
Tracking with #14519.

[2016-12-29 22:22] #12683 closed

[2016-12-29 22:31] steveharter commented on #9353
See also issue #12107

[2016-12-29 22:41] davidfowl commented on #14696
I kinda like this. It makes things easier to reason about. Also this package is becoming more of an implementation detail.

AKA don't allow downgrades? This was originally discussed but then we just decided to let the application win.

/cc @schellap

[2016-12-29 22:46] cesarbs commented on #14698
I've found a workaround for Kestrel, but I don't know what exactly is going on. I can get HTTPS working again by placing the following stream before `SslStream`:

[code]

Note the override to `WriteAsync` - without it, it still hangs. Now what's interesting is that if I override `ReadAsync` merely as

[code]

The issue repros again.

Also, I get rid of the hang if I place that stream anywhere alon

[2016-12-29 22:51] danmosemsft commented on #14754
CI missed this because apparently it's Win8 specific.

[2016-12-29 23:09] ericstj commented on #14696
I discussed some more with @dsplaisted and we came up with another option.
5. Don't assume that package version = shared framework version.  Instead have the SDK read a data file (or consume an MSBuild property) that defines what the shared framework version is.  That way you can use the latest Core.App package, but you'll target whatever version of the shared framework is appropriate for your TFM

[2016-12-29 23:10] davidfowl commented on #14696
I'm not a fan of that. More version numbers just sounds like more chaos to me. When the versions align, it's easier to line things up and managed

[2016-12-29 23:31] steveharter opened #14767 "Harden System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test.GetAsync_SupportedSSLVersion_Succeeds and GetAsync_UnsupportedSSLVersion_Throws"
These two tests account for 78 CI failures from Dec 1 - 28 which is 10% of System.Net* failures.

Assuming the tests fail because they access www.ssllabs.com which (apparently) is not reliable. However, since the failures are coming mostly from centos that needs to be taken into consideration as a cause as well.

If the failures are due to www.ssllabs.com being unreliable, we should add a check to

[2016-12-29 23:48] karelz commented on #14698
@cesarbs @benaadams can you please help me understand the root cause? (if you know it)
It looks like some added overloads lead to 'wrong' resolutions on Kestrel side -- naively I would guess Kestrel can use explicitly the right overaloads, can't it? (I may not understand the problem enough, so please bear with me if that's the case)

@cesarbs can you please help me understand how much is this bloc

[2016-12-30 00:10] benaadams commented on #14698
.NET Full Framework 1.1+ had async methods `Stream.BeginWrite`/`Stream.EndWrite` and `Stream.BeginRead`/`Stream.EndRead` on the base class. This approach to async was depreciated when `Task`s became a thing and the new Task based methods `Stream.WriteAsync` and `Stream.ReadAsync` became the preferred method of doing async.

The base classes implementation of `BeginX`/`EndX` are sync methods to sup

[2016-12-30 00:23] karelz commented on #14698
Thanks @benaadams! That starts to make more sense to me. (disclaimer: I didn't verify your technical details, but your write up makes sense :))
In general -- I am interested more in the "right fix" from compat perspective (compat with Desktop/Xamarin vs. previous .NET Core versions). And I am also interested in: What is the right thing for the platform?
I would jump to fastest solutions only if we

[2016-12-30 00:44] cesarbs commented on #14698
@karelz This is blocking Kestrel in that HTTPS is not working at all - whenever it tries to write a response (which eventually ends up in `SslStream.WriteAsync`), it just hangs forever. So we had to disable all of our tests that use HTTPS to at least get the CI running.

I've been debugging this for the past couple of hours. The problem seems to arise whenever both `ReadAsync` and `WriteAsync` are

[2016-12-30 00:54] karelz commented on #14698
@cesarbs it is not clear to me, why Kestrel is blocked now. The breaking APIs are in CoreFX for weeks at least. Do you have an explanation here?

[2016-12-30 00:57] cesarbs commented on #14698
We've taken new CoreFX packages recently, that's when it broke. cc @pranavkm for info on when was the previous time we had taken them.

[2016-12-30 01:05] pranavkm commented on #14698
We recently got around to picking up the 4.4.0 CoreFx packages. We were blocked due to some CLI issues that finally got resolved this past week.

[2016-12-30 01:19] karelz commented on #14698
I see. One temporary solution would be to back out that change, if Kestrel is entirely on the floor. And work on workaround / fix in CoreFX in parallel.

[2016-12-30 01:36] benaadams commented on #14698
The call back into sync `Stream.BeginWrite` [occurs here in SslStreamInternal](https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/Security/SslStreamInternal.cs#L453-L465)

[2016-12-30 01:53] benaadams commented on #14698
Sorry... @cesarbs  I think the fix would be for Kestrel to remove [its #ifdef s on its Streams here](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Internal/Http/FrameRequestStream.cs#L77-L115)?

[2016-12-30 01:55] cesarbs commented on #14698
I think that would require updating it to `netstandard1.7`, which we don't want to do.

[2016-12-30 02:12] benaadams commented on #14698
Extend ifdef for netstandard1.7 and netstandard2.0? Though it is a terrible code path...

[2016-12-30 02:17] benaadams commented on #14698
If SslStream implemented WriteAsync etc then it wouldn't call into the base Stream.WriteAsync which takes these paths.

[2016-12-30 02:45] Priya91 commented on #14698
@cesarbs Can you please provide smaller repo outside of kestrel. It is not clear what the bug is.

[2016-12-30 03:14] cesarbs commented on #14698
I figured out what's happening. This is just a heads up, need a few minutes to write it up.

[2016-12-30 03:23] cesarbs commented on #14698
Sorry was on the way home and will have dinner now. Will be back soon.

[2016-12-30 03:38] AlexGhiondea commented on #14064
@safern I think moving away from the static constructor on LocalAppContext is the right thing to do even if we can find another way to fix this in the tests.

[2016-12-30 04:13] cesarbs commented on #14698
In a nutshell, this is how Kestrel does HTTPS: on the read side, we have a task that repeatedly calls `SslStream.ReadAsync` and passes that up to whatever is consuming incoming data from the network. Writes are called directly either by the server itself or by the app running on it, and those eventually end up calling `SslStream.WriteAsync`.

Our `SslStream` wraps our own stream, [`LibuvStream`](h

[2016-12-30 04:16] safern commented on #14064
@AlexGhiondea I already moved away the static constructor and will leave it that way but the tests are still failing and as @sepidehMS mentioned we don't always have failures because it matters the order that the tests are run. If the tests that are failing are the first to run it wouldn't fail because we're setting `DisableCaching` to true on the constructor. In the other hand if another test is

[2016-12-30 04:27] cesarbs commented on #14698
@benaadams Sorry, I misunderstood your suggestion earlier. Indeed, chaging the `#if` in [LibuvStream.cs](https://github.com/aspnet/KestrelHttpServer/blob/c777a9efea7e8d633f8900cb2f55b0e56e569596/src/Microsoft.AspNetCore.Server.Kestrel/Filter/Internal/LibuvStream.cs#L134) to `#if (NET451 || NETSTANDARD1_7)` is a possible fix. I'm not a fan of having both

[code]

and

[code]

in `project.json` thou

[2016-12-30 04:33] benaadams commented on #14698
Read and write using same semaphore :(

If it just needs WriteAsync overriding I think I have a fix for it; ReadAsync is messier...

[2016-12-30 05:10] benaadams commented on #14698
Raised issue in CoreClr https://github.com/dotnet/coreclr/issues/8752
Implemented `WriteAsync` on SslStream which should resolve this issue https://github.com/dotnet/corefx/pull/14771

[2016-12-30 06:24] Jiayili1 commented on #13298
The latest exception in build 20161230.01 is:

[code]

Details: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161230.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FNoCallback_RevokedCertificate_NoRevocationChecking_Succeeds

[2016-12-30 06:27] Jiayili1 commented on #13938
This issue happens in build 20161230.01:

Message:
[code]

Stack Trace:
[code]

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161230.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ResponseStreamTest~2FReadAsStreamAsync_Cancel_TaskIsCanceled

[2016-12-30 06:44] dotnet-mc-bot opened #14772 "Test failure: System.Xml.Tests.Errata4/CreateElementsAndAttributesUsingXsltInline(param0: True, param1: NameStartChar)"
Opened on behalf of @Jiayili1

The test `System.Xml.Tests.Errata4/CreateElementsAndAttributesUsingXsltInline(param0: True, param1: NameStartChar)` has failed.

Assert.True() Failure
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Xml.Tests.Errata4.CreateElementsAndAttributesUsingXsltInline(Object param0, Object param1)
Build : Master - 20161230.01 (Core Tests)
Fa

[2016-12-30 15:18] Pzixel commented on #9788
And nowadays how could this workadound be applied to `csproj` project? I don't have any `project.json` to add  `imports` statement...

[2016-12-30 15:26] FikoGH commented on #14050
The solution provided by @fabiano is working.

Thank you @fabiano!

[2016-12-30 17:36] ericstj commented on #14050
If you'd like a smaller fix you can just update the NuGet extension.  Our packages depend on NuGet 3.4.3 or later, but unfortunately we cannot pre-req that version in the packages, because we also need them to work in VS2013 where we need NuGet 2.12 or later.

This is a side-effect of NuGet not updating older VS versions with NuGet 3, but instead simultaneously updating NuGet 2.x and NuGet 3.x wit

[2016-12-30 17:39] ericstj commented on #9788
I believe the property that can be used in the csproj that case is `PackageTargetFallback`, @emgarten any docs on that?

[2016-12-30 17:40] ericstj commented on #9788
Found them: https://docs.nuget.org/ndocs/schema/msbuild-targets#packagetargetfallback

[2016-12-30 17:46] michael-x commented on #14050
@ericstj if you are referring to the NuGet extension for Visual Studio, then you are missing the point: it's the build on the machine that does not have Visual Studio installed that fails. Updating MSBuild Tools 2015 to Update 3 works for whatever magical reason. (I guess the key sentence in the release notes is "We've improved support for Portable class libraries targeting the .NET Platform Stand

[2016-12-30 18:36] ericstj commented on #14050
I see, indeed I did miss the point.  That does make sense.  I believe a [fix in Roslyn](https://github.com/dotnet/roslyn/blob/2d871994b396f7ceca6722464f5b8c85905b343e/src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.Resolution.cs#L719-L720) removed this check, but it would have been in for a long time.  Perhaps Update 3 caused you to start using csc from buildtools (roslyn) inst

[2016-12-30 18:52] michael-x commented on #14050
I would have thought that we are already using Roslyn since we are using compiler features like Interpolated Strings and Null-conditional Operators which to my knowledge are only implemented in Roslyn. Whether the issue that you've mentioned applies here I cannot tell.

[2016-12-30 20:27] CIPop opened #14775 "CI test failure: System.Xml.Tests.Errata4.TestXslTransform(param0: True, param1: NameChar) (from (empty))"
[code]

Detected in #14692 by CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/1633/

[2016-12-30 20:28] CIPop commented on #14775
@sepidehMS, @krwq PTAL

[2016-12-30 20:35] sepidehMS commented on #14775
@CIPop I'll take a look. Thanks.
Same as https://github.com/dotnet/corefx/issues/14772

[2016-12-30 20:58] sepidehMS commented on #12024
Could not repro these failures and the tests have been modified since this fail happened. Closing. Please re-open if it happens again.

[2016-12-30 20:58] #12024 closed

[2016-12-30 22:02] tloo opened #14779 "Build error MSB3073"
Run the command below:
build-managed -binaries -verbose

but got this error:
C:\Users\ttian\work\corefx-1.1.0\corefx-1.1.0\Tools\IL.targets(32,5): error MSB3073: The command "ilasm -QUIET -DLL  -OUTPUT=C:\Users\ttian\work\corefx-1.1.0\corefx-1.1.0\bin/obj/AnyOS.AnyCPU.Debug/System.Runtime.CompilerServices.Unsafe/System.Runtime.CompilerServices.Unsafe.dll -KEY=C:\Users\ttian\work\corefx-1.1.0\coref

[2016-12-30 22:13] schellap commented on #14696
Another option is we would simply use the TFM property specified in the project file to do the framework lookup instead of using the package name `Microsoft.NETCore.App`.  Once we select the TFM based folder name, we'd use the MNA version inside that folder. We can still continue the app to win.

[2016-12-30 22:32] dsplaisted commented on #14696
@schellap That might be nice, but how would patch versions of the runtime be handled?  Today the TFM is still netcoreapp1.0 even if the runtime you're targeting is 1.0.3.

Also, would there ever be different shared frameworks for the same target framework, for example a .NET Native and JIT version of netcoreapp?

[2016-12-30 22:51] #13187 closed

[2016-12-30 23:32] chcosta opened #14780 "CleanAllProjects broken in dev/eng"
CleanAllProjects previously made use of FilterProjects, which is no longer present in dev/eng.  This also means that rebuild is broken  because it will call cleanall.

[2016-12-31 00:00] cesarbs opened #14781 "Add SslStream test to verify WriteAsync is not blocked by an awaiting ReadAsync"
See https://github.com/dotnet/corefx/pull/14771/files#r94264181

[2016-12-31 00:08] CIPop commented on #14698
The PR above is only addressing the WriteAsync case. We need to address ReadAsync as well as NegotiateStream to consider this issue resolved.

We should also:
1. Add the test suggested by @cesarbs that [simulates ASP.Net's environment](https://github.com/dotnet/corefx/pull/14771#discussion_r94264181).
2. [Refactor WriteAsync ](https://github.com/dotnet/corefx/pull/14771#discussion_r94254974) to ma

[2016-12-31 00:23] benaadams commented on #14698
ReadAsync is more complicated as it should use cached tasks; has to deal with reads smaller than the available size (if the read buffer is smaller); sync completes etc...

WriteAsync could probably use some optimization also; but the merged PR avoids Read and Write sharing the same semaphore and deadlocking https://github.com/dotnet/coreclr/issues/8752; don't know if that can be resolved in Stream

[2016-12-31 00:44] cesarbs commented on #14781
Verified that this hangs before 6031c507a0ea912ede85ca9fc3b8afc9a0fe70f0.

[2017-01-01 05:52] jamesqo opened #14790 "Request: Adding DebuggerDisplay/DebuggerTypeProxy to Grouping and Lookup"
The current experience when seeing an `IGrouping<TKey, TElement>` returned from Linq in debug view is not the best:

![groupingdebug](https://cloud.githubusercontent.com/assets/9159214/21580324/1b843c60-cfbb-11e6-879f-b3ade4f1c384.PNG)

Maybe we should add `DebuggerTypeProxy` / `DebuggerDisplay` attributes to `Grouping` so that it's easier to navigate in debug? This is a semi-API proposal since it

[2017-01-01 22:48] Jaedson33 commented on #4278
Happy new year =D

[2017-01-01 23:42] rubit0 commented on #9788
I was having the same problem when creating a fresh Asp.Net Core project and referencing it from an xUnit  project. My solution was to add the following node to the xUnit's .csproj file:

[code]

[2017-01-02 04:39] hseok-oh opened #14791 "Build errer without clean in linux"
When I build managed code in Ubuntu14.04 without clean, I get build fail with error messages
[code]

This error comes from `project.lock.json`  generated in `System.Security.Cryptography.Xml`.
To avoid this error, we need to build after clean, or option with /p:RestoreDuringBuild=false.

[2017-01-02 04:54] yaakov-h commented on #14715
I did some further testing by using the .NET Core Docker container, i.e. running inside of `docker run -it microsoft/dotnet:latest`

Running the repro case in the original post above yields the following output:

[code]

Apple send that in response to a HTTP/1 request. The decoded hex dump is `POST /3/device/AAA HTTP/`.

This suggests that cURL is working as intended, though it would appear that t

[2017-01-02 14:49] hlogmans commented on #9728
With Core 1.1, I run into this issue again on Mac Sierra. Reinstalled with the instructions (OpenSSL 1.0.2j) and the symlinks. The dotnet new command runs fine, but when I use the httpclient:

`(The libcurl library in use (7.51.0) and its SSL backend ("SecureTransport") do not support custom handling of certificates. A libcurl built with OpenSSL is required.) ---> System.PlatformNotSupportedExcept

[2017-01-02 15:40] stephentoub commented on #14698
Adding SslStream.WriteAsync/ReadAsync overrides that avoid all of the APM stuff and call WriteAsync/ReadAsync on the wrapped stream is a good thing to do, anyway, for performance reasons.  But I also think LibuvStream should override Begin/EndRead/Write.

[2017-01-02 15:43] benaadams commented on #14698
It targets `netstandard1.3` though; Begin/End doesn't come in till `netstandard1.7`/ `netstandard2.0`

[2017-01-02 16:07] stephentoub commented on #14698
I understand.  There should be a netstandard1.7/2.0 build.  It's a huge new version and deserves its own implementation for things like this.

[2017-01-02 16:15] davidfowl commented on #14698
That ends up being viral. Any library with a stream wrapper ends up having to cross compile...

[2017-01-02 16:17] stephentoub commented on #14698
Yes.

[2017-01-02 16:27] thiagocamargos commented on #6485
@karelz i'm ready to start working on this

[2017-01-02 16:59] brfalcon commented on #4805
Thanks @karelz

[2017-01-02 18:14] bling commented on #14614
i'll leave this here in case someone else ran into the same problem and needs a fix.  disclaimer: use at your own risk 😉

first, you'll need to download the curl source.  after extracting, you can run:

    ./configure --prefix=/path/to/prefix
    make
    make install

once that's done, you can (ab)use the `LD_LIBRARY_PATH` environment variable, e.g.

    LD_LIBRARY_PATH=/path/to/prefix dotnet ru

[2017-01-02 19:16] justinvp opened #14797 "TimeZoneInfo.ToSerializedString/FromSerializedString do not round trip on Unix"
The following test passes on Windows but fails on any Unix:

[code]

I believe it's due to how `GetAdjustmentRules` is implemented on Unix: https://github.com/dotnet/coreclr/blob/0a11492d52faa85c551761f8390be5de9d74e5ec/src/mscorlib/src/System/TimeZoneInfo.Unix.cs#L131-L153

vs. on Windows: https://github.com/dotnet/coreclr/blob/0a11492d52faa85c551761f8390be5de9d74e5ec/src/mscorlib/src/System/Time

[2017-01-02 21:45] lfarnell opened #14799 "OS signal support"
With the recent explosion of running applications inside containers, it seems like .NET should have support for trapping OS signals sent to applications running on Linux, macOS and Windows.

Docker for instance sends a SIGTERM to an application before sending SIGKILL to kill the container. Trapping these signals so we can gracefully shutdown containers and other applications would be nice.

[2017-01-02 21:48] terrajobst commented on #14799
/cc @stephentoub

[2017-01-02 21:50] stephentoub commented on #14799
SIGTERM is supposed to cause the AssemblyLoadContext.Unloading event to be raised for exactly this reason.  Apparently it's not happening, though: https://github.com/dotnet/coreclr/issues/7394

[2017-01-02 21:51] stephentoub commented on #14781
This was meant to be addressed by #14783, but it has some issues:
https://github.com/dotnet/corefx/pull/14783#pullrequestreview-14856061

[2017-01-02 22:00] lfarnell commented on #14799
@terrajobst @stephentoub Based on https://github.com/dotnet/coreclr/issues/7394, should this issue be closed as a duplicate?

[2017-01-03 00:42] danmosemsft commented on #2869
@sepidehMS please delete the branch once you merge your commit.
@weshaggard there were certainly other changes made in this brnach and I can't find a good way to make sure they were captured. I spot checked a couple and they were, so I trust your list...

[2017-01-03 00:46] danmosemsft commented on #14779
9009 is cmd.exe's version of 'file not found' (Exec task wraps cmd.exe)

My guess is it can't find ilasm.exe. Is it on the path?

[2017-01-03 01:38] jamesqo opened #14802 "Investigate caching single-element ImmutableArrays"
Since ImmutableArrays are immutable, we can cache them without any fear of the end-user modifying the array. We should investigate doing this for `ImmutableArray.Create(T)` for common inputs.

If this is done, here are some things to keep in mind:

- Which inputs are common
  - Java caches boxed integers from -128 to 127
  - Should we cache one-element `null` arrays for reference types?
- How much

[2017-01-03 01:59] stephentoub commented on #14802
What drove you to open this issue? Do you have an example from Roslyn where this would make a meaningful difference?

[2017-01-03 02:10] dotnet-mc-bot opened #14804 "Test failure: CancelKeyPressTests/CanAddAndRemoveHandler_Remote"
Opened on behalf of @jiangzeng

The test `CancelKeyPressTests/CanAddAndRemoveHandler_Remote` has failed.

System.TypeInitializationException : The type initializer for 'System.Diagnostics.RemoteExecutorTestBase' threw an exception.\r
    ---- System.PlatformNotSupportedException : Operation is not supported on this platform.

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTes

[2017-01-03 02:16] jamesqo commented on #14802
@stephentoub I added "Investigate" to the title because I wasn't 100% sure this is something I planned to do (I saw earlier you had done something similar with https://github.com/dotnet/corefx/issues/12037). I have not done any investigation yet, but I opened this because `Create(T)` is a common way to create an ImmutableArray. I'll close this and open a PR if/when I find this makes a signficant i

[2017-01-03 02:16] #14802 closed

[2017-01-03 02:57] stephentoub commented on #14802
Thanks. In the case of that linked issue, I know there are improvements to be made that will have a meaningful impact, having seen the relevant costs in traces of real usage. The question there is more about feasibility of implementation and investigating how best to do it.

[2017-01-03 03:19] jamesqo commented on #14802
@stephentoub Thanks for clarifying.

[2017-01-03 03:38] stephentoub commented on #5426
@karelz, why was this issue closed?  At the very least, there's code that references this issue:
https://github.com/dotnet/corefx/blob/69cd5b28c13c358b1d82c00bf41829d23218e9bf/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L3236
that needs to be deleted if the issue is going to be closed.

[2017-01-03 03:54] stephentoub commented on #14799
Thanks, @lfarnell. Sure, let's close this one in favor of that.

[2017-01-03 03:54] #14799 closed

[2017-01-03 04:04] danmosemsft commented on #14804
I can't see how this can fail

[code]

[2017-01-03 04:31] danmosemsft commented on #14636
@couven92 do you want to do that bit so we can close this?

[2017-01-03 08:36] tomkuijsten commented on #14601
This is the exception that is caught in th app:

[code]

[2017-01-03 09:47] couven92 commented on #14636
@danmosemsft I think the update of the WellKnownSidType enumeration in `src/System.Security.Principal.Windows/src/System/Security/Principal/SID.cs` is done, I added the new Enum values, we left MaxDefined where it was before and added Obsolete and EditorBrowsable attributes to discourage people from using that value
Thanks to @karelz I also follwed all nit-picking comment on the code, so unless I

[2017-01-03 10:23] AnithaLingam opened #14814 "Unable to read appsettings.jason data from Class Library"
I am creating Class Library and in this I have to read configuration settings from Appsessting.Jason file but I am unable to read the data ,Please provide solution

I have tried with adding reference to "Microsoft.Extensions.Options.ConfigurationExtensions": "1.1.0" but it is throwing error.

[2017-01-03 11:56] tkrotoff opened #14815 "ConcurrentDictionary: add ContainsValue()"
System.Collections.Generic.Dictionary features [`ContainsValue()`](https://github.com/dotnet/corefx/blob/v1.1.0/src/System.Collections/src/System/Collections/Generic/Dictionary.cs#L218).
Would be nice to have the same method for [ConcurrentDictionary](https://github.com/dotnet/corefx/blob/v1.1.0/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs).

[2017-01-03 14:31] madelson commented on #14529
My company would need System.Runtime.Caching to port our apps to .NET core as well.

[2017-01-03 15:22] imbushuo opened #14818 "Holding X509Certificate2 reference prior to HttpClientHandler causes access violation in ServerCertificateCustomValidationCallback"
## Symptoms
I would like to implement cert pinning in my own project. When a `System.Security.Cryptography.X509Certificates.X509Certificate2` was held, and a `ServerCertificateCustomValidationCallback` callback from a `System.Net.Http.HttpClientHandler` (or `WinHttpHandler` on Windows) was triggered from a request sent by `System.Net.Http.HttpClient`, `System.ExecutionEngineException` will be thro

[2017-01-03 15:25] bartonjs commented on #9728
@hlogmans The 1.1 release started using Security.framework for hashing, HMAC, and symmetric encryption.  Asymmetric cryptography, certificates, and TLS are all still performed by OpenSSL.

`otool -L System.Net.Http.Native.dylib` should tell you how that library linked against curl (@rpath or a direct path reference), which should aid in tracking down why it isn't loading the build of the library y

[2017-01-03 16:12] tloo commented on #14779
Thanks danmosemsft, it is working now.

[2017-01-03 16:12] #14779 closed

[2017-01-03 16:27] tarekgh commented on #14529
@weshaggard could you please advise regarding this namespace porting?

[2017-01-03 16:39] jnm2 commented on #14815
Interesting, what's a typical use case?

[2017-01-03 16:41] jnm2 commented on #14814
@AnithaLingam Heads up, you're more likely to be helped if you provide all the details you can of the error message.

[2017-01-03 16:44] danmosemsft commented on #14636
Sure, tests would be welcome.

Yes, the additions aren't useable without matching updates to the file in ref. They will need to be wrapped in `#if netcoreapp11`. However I see a comment here https://github.com/dotnet/corefx/pull/14611#pullrequestreview-13607431 that that may be an issue. I pinged folks on that comment to give a verdict.

https://referencesource.microsoft.com matches Desktop - we d

[2017-01-03 16:50] danmosemsft commented on #14815
This would need an api proposal written up eg like https://github.com/dotnet/corefx/issues/12509

[2017-01-03 17:01] karelz commented on #14814
Do you mean AppSettings.json file? (vs. .jason?)
What prevents to use any .json parser?
If you have troubles with the class above, then it would be best to ask on ASP.NET Core repo, where [it lives](https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.extensions.configuration.configurationextensions).

Otherwise, we need (minimal) repro to be able to help.

[2017-01-03 17:02] danmosemsft commented on #9058
@erikzhang are you interested in making a PR (with some tests)?

[2017-01-03 17:07] tarekgh commented on #14754
I'll take a look.

[2017-01-03 17:12] danmosemsft commented on #7804
@jnm2 the Visual Studio experience is the main concern. I can't speak for the compiler team but I understand they wish to avoid making new warnings appear in the VS error list on upgrade as over the years it has proven to deter people from upgrading their Visual Studio. Historically we have tried to encourage folks to disable specific warnings to get past this but it hasn't been sufficient. I comp

[2017-01-03 17:33] qizhanMS commented on #13683
Add ActivityID for ETW tracing for System.Transactions, use transaction ID as ActivityID, Pull request #14544

[2017-01-03 17:33] #13683 closed

[2017-01-03 17:35] weshaggard commented on #2869
I did generate the list fairly close to the time these were merged in the future branch so I think it captures all the API additions. If we did end up missing something I'm sure we can recreate or resurrect them later.

[2017-01-03 17:36] karelz commented on #14818
@Priya91 any idea?

[2017-01-03 17:36] qizhanMS commented on #12228
Added tracing in AsyncTransactionScopeTests in pull request #14544 . If the test failed again, we will be able to get tracing information for further investigation.

[2017-01-03 17:38] weshaggard commented on #14529
System.Runtime.Cachine is the correct namespace. These APIs have transitionally been used for web scenarios and the ASP.NET team has traditionally owned them.

[2017-01-03 17:48] karelz commented on #14804
The test: https://github.com/dotnet/corefx/blob/3d3c8602a484d40c7729659525946b9c97a3a003/src/System.Console/tests/CancelKeyPress.cs

Callstack links:
at [System.Runtime.InteropServices.OSPlatform.get_Windows()](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/OS

[2017-01-03 17:51] karelz commented on #14804
Indeed a mysterious failure. @stephentoub any idea what might have happened?
Bad callstack reporting? Some kind of corruption?

[2017-01-03 17:52] tarekgh commented on #14814
yes this issue should be moved to https://github.com/aspnet

[2017-01-03 17:54] #14814 closed

[2017-01-03 17:58] karelz commented on #14529
Should we ask ASP.NET team to ship them in their libraries instead of CoreFX then?

[2017-01-03 17:59] shmao commented on #12799
Re-opening the issue for tracking serializing types with Soap attributes.

[2017-01-03 18:01] shmao commented on #10579
Some tests for this had been added by PR #12909.

@huanwu can you please see if we have enough tests for System.Xml.Serialization.SoapReflectionImporter?

[2017-01-03 18:01] davidfowl commented on #14529
We replaced System.Runtime.Caching with http://github.com/aspnet/Caching but that might be unrelated to this porting exercise since this is about bringing back older APIs.

[2017-01-03 18:03] shmao opened #14820 "Area-Serialization Sprint 112"
The issue is for tracking issues to be done in sprint 112 (due by 1/20/2017).

[2017-01-03 18:05] chadwackerman commented on #3188
Does "We need API proposal" actually count as managing this issue? (Are you really managing one of the largest and most out of control projects at Microsoft using GitHub tags @karelz? Folksonomy doesn't even scale to the average knitting blog.)

Isn't this just a couple of event handlers? Where do you want to put the non-obvious ones?

    AssemblyLoadContext.Default.Unloading += MethodInvokedOnSi

[2017-01-03 18:05] tkrotoff commented on #14815
Same as [`Dictionary.ContainsValue()`](https://msdn.microsoft.com/en-us/library/a63811ah(v=vs.110).aspx), [`Hashtable.ContainsValue()`](https://msdn.microsoft.com/en-us/library/system.collections.hashtable.containsvalue(v=vs.110).aspx), [`StringDictionary.ContainsValue()`](https://msdn.microsoft.com/en-us/library/system.collections.specialized.stringdictionary.containsvalue(v=vs.110).aspx), [`Sort

[2017-01-03 18:07] shmao commented on #10574
A test for this was added by @huanwu with PR #13445.

[2017-01-03 18:08] shmao commented on #10572
This was fixed by @huanwu with #13445. Closing the issue.

[2017-01-03 18:08] #10572 closed

[2017-01-03 18:19] shmao commented on #10574
@huanwu , can you please investigate the scenario of actually using this attribute? Does it make sense for us to support that scenario on NetCore. Thanks.

[2017-01-03 18:24] sokket commented on #4979
@danmosemsft Unfortunately, I have a full plate of Engineering Infrastructure work going on so I don't have time to draw up an API proposal :(

[2017-01-03 18:28] karelz commented on #3188
@chadwackerman I am not sure what exactly is your question here.
Yes, we are using GitHub tags for categorizing issues -- here's [more details](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md) about it.
The comment "We need API proposal" is meant to suggest the next step (see details [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-do

[2017-01-03 18:52] karelz commented on #14529
In that case I would be curious how difficult is it for apps to migrate to the [new API](https://github.com/aspnet/Caching)? @timheuer @madelson can you check it out please?
If it is not that bad, could we get away with not porting the old namespace?

[2017-01-03 19:12] stephentoub commented on #14804
I'm not sure.  Are the DLLs used for that run available somewhere? My best guess is that some incorrect System.Runtime.InteropServices.RuntimeInformation.dll got deployed, e.g. one that throws PNSE from every member.

[2017-01-03 19:16] jnm2 commented on #14815
So it's not something you actually needed in a real scenario, just an inconsistency between the APIs that caught your eye? Note that `ContainsValue` is not a central dictionary usage scenario (see [`IDictionary<,>`](https://msdn.microsoft.com/en-us/library/s4ys34ea.aspx)).

The reason I ask is that `ConcurrentDictionary` is unique from the others in that you use it as a synchronization primitive,

[2017-01-03 19:19] carlosariash commented on #9743
agree with the version 5.2.2 but even so I shows this error.alguna solution? Add the reference "runtime.native.System.IO.Compression": "4.1.0" in project.json but even so not works

![captura](https://cloud.githubusercontent.com/assets/4210518/21619743/c8b8dc68-d1cf-11e6-857f-198fd515b811.PNG)

[2017-01-03 19:20] OperatorOverload commented on #8146
Hi @danmosemsft.. I actually have the "fixed" version of this ready, but am having similar issues with the test build so hadn't PR'ed it until I could figure out how to fix.  In reviewing your changes and comparing with mine though, I'm seeing the "#if netcoreapp11" directive, so I'm curious how you knew to do that.  Is there documentation that indicates that?  I haven't seen it in the contributin

[2017-01-03 19:20] jnm2 commented on #14815
If a convenience shorthand is what you need, this is one solution:
[code]

[2017-01-03 19:21] whoisj commented on #7804
@danmosemsft but CoreFx and VS are decoupled now, no?

[2017-01-03 19:25] danmosemsft commented on #8146
@OperatorOverload I should have checked with you first, but I figured it was just a matter of rebasing your change...

The `#if netcoreapp11` is necessary because the reference assembly for an older version of .NET Core is built from the same ref file. Actually I'm not sure this is stated correctly -- @weshaggard can you clarify? Why do we still do this, and is this getting renamed to `netcoreapp2

[2017-01-03 19:30] vvdimov commented on #5667
Not sure if this is related to this specific issue, but it does have some similarity with the description.
On **Windows 7**:
 stream.AuthenticateAsClientAsync(host, certificates, SslProtocols.Tls, true) properly authenticates the client with the server and moves on to send/read.
On **Ubuntu 16.04** same call kills Kestrel process with no exception.
systemd[1]: kestrel-xxx.service: Main process exi

[2017-01-03 19:33] karelz commented on #14804
Hmmm, I didn't know we have/had a version which throws PNSE from every member. @ianhays can you please track down the info if it is still available?

[2017-01-03 19:35] stephentoub commented on #14804
I don't know that we do for this specific assembly, but I know we have infrastructure for creating such assemblies based on the refs (we use it for other assemblies), so I was hypothesizing that something went awry and produced such a thing for this full framework run.

[2017-01-03 19:40] yizhang82 commented on #7804
@whoisj They are decoupled - but VS needs to have a policy decision on which version of CoreFX meta package as the default in VS projects, and this has wide impact to developers using VS. At the end of the day, I think there is a trade off to be made case-by-case. In this case I don't see a strong reason. There will be some confusion, yes, but given that rest of the .NET escosystem (char, string,

[2017-01-03 19:47] ianhays commented on #14804
It looks like this whole run ran into [problems with wrong assemblies](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170102.02), not just System.Console, and [not just with RemoteExecutorTestBase](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcl

[2017-01-03 19:55] brfalcon commented on #4805
Hello guys! I've added the missing parts as suggested however I am being unsuccessful while trying to consume those new public API's. Which documentation could guide me through the appropriate process?

[2017-01-03 19:56] karelz commented on #14762
What are the scenarios for using WMI on .NET Core? Is it something that would be valuable to have on .NET Core? Why? (please bear with my very little knowledge about WMI and how it is used in real-world projects)

[2017-01-03 19:57] karelz commented on #14804
Interesting, @jiangzeng any reason why only this bug was filed?
@ianhays can you please make sure infra team is aware of this hiccup? We can then close it in CoreFX.

[2017-01-03 20:06] JamesNK commented on #10470
Another person being hurt by this - https://github.com/JamesNK/Newtonsoft.Json/issues/968#issuecomment-270204118

[2017-01-03 20:08] AlexGhiondea commented on #4805
@brfalcon where did you add those APIs? If they have been added to CoreCLR then we have a 3 step process:
1. Make the changes in CoreCLR
2. Consume the CoreCLR from CoreFX
3. Expose the APIs in CoreFx

[2017-01-03 20:09] tarekgh commented on #14754
We couldn't repro this issue. @MattGal tried to help rerun the same failure on the same Helix environment and couldn't repro it either. we'll close the issue and if we get it again I can try to dig more deeper about what could be wrong.

[2017-01-03 20:13] danmosemsft commented on #7804
@whoisj Visual Studio does not run on CoreFX, but it does offer a tooling experience for CoreFX which is what matters here. Possibly I misunderstand.

[2017-01-03 20:17] #2869 closed

[2017-01-03 20:22] tarekgh commented on #1271
the code in C:\src\git\coreclr\src\mscorlib\src\ is mainly the code runs on Windows.
the code C:\src\git\coreclr\src\mscorlib\corefx\System\Globalization is the code mainly runs for Linux.

the file like C:\src\git\coreclr\src\mscorlib\corefx\System\Globalization\CompareInfo.Windows.cs is not really used in codeclr but we keep it there because we keep the code in sync with corert repo which mainly

[2017-01-03 20:24] sepidehMS commented on #2869
@weshaggard Since future is a protected branch, is there anybody who has permissions to delete it? Or do I delete it via a PR?

[2017-01-03 20:32] tarekgh commented on #14234
@karelz @mellinoe do you have any more comments or you think the proposal looks good?

[2017-01-03 20:34] brfalcon commented on #4805
@AlexGhiondea, I've added them to CodeCLR. Would you have any documentation that provides more details on how to perform those steps?

[2017-01-03 20:34] stephentoub opened #14824 "Issues in SslStream.WriteAsync"
Tracks addressing feedback in https://github.com/dotnet/corefx/pull/14771 added after the PR was already merged.  Some of the issues noted look like they could be potentially significant.

cc: @benaadams, @cipop

[2017-01-03 20:38] #14378 closed

[2017-01-03 20:39] karelz commented on #14234
Fine from my side. I think it will spark again the discussion about where to put these APIs -- the idea that's rolling around is that CoreFX might not be best place. We might need something like CoreFXExtensions (disclaimer: I just made up the name).

[2017-01-03 20:40] karelz commented on #4805
I don't think we have great docs on that yet. It's on my todo list.

[2017-01-03 20:48] weshaggard commented on #2869
Let me know when you are finished and I can delete it.

[2017-01-03 20:50] chadwackerman commented on #3188
Is there a tag link I can click on that shows items waiting for an API proposal? I don't see one here. And are you seriously (and silently!) asking the community to map signal.h to an enum and delegates?

Microsoft already owns shipping code that does this. It's called Mono.

You can click the linked issues around Unix signals in this GitHub project and it takes you in a circle, with nobody doing

[2017-01-03 20:51] sepidehMS commented on #2869
@weshaggard I already merged the changes porting this last item in https://github.com/dotnet/corefx/issues/14774. So the branch can be deleted. Thank you.

[2017-01-03 21:00] mellinoe commented on #14234
^ I still think this is something to at least talk about, and I also have a few more thoughts.

* Where are the intended use cases for this? Is it primarily in new code like Kestrel? If we could go back in time, would things like `Marshal.AllocHGlobal` take this as a parameter?
* It's called `ByteSize` but can hold negative values. What is the meaning of a negative byte size, and along with the fi

[2017-01-03 21:04] tarekgh commented on #14160
ok to summarize the signatures of the APIs we need to add:

[code]

[2017-01-03 21:07] benaadams commented on #14234
For diffs: `var change = fileSize0 - fileSize1;`

It may be valid, as above, if it needs to be > 0 by a test?

`if (size <= ByteSize.Zero) throw new ArgumentOutOfRange(nameof(size))`

[2017-01-03 21:08] divega commented on #6073
cc @bartdesmet and also @MadsTorgersen and @mattwar for their perspective from the original LINQ design philosophy (there have been a few recent discussions about new LINQ operators that could use your insights, I will try to tag you more often).

[2017-01-03 21:10] benaadams commented on #14824
@stephentoub are you looking at this?

I can revisit but not for a week and a few days as am currently prepping a product release.

[2017-01-03 21:12] AlexGhiondea commented on #4805
@brfalcon we are working on that.

If you want to try locally, you can, more or less, replace system.private.corelib.dll from the CoreCLR build into the Tools folder in your CoreFx build. But the official way is still the one I outlined above.

[2017-01-03 21:20] JeremyKuhne commented on #13931
#14425

[2017-01-03 21:20] #13931 closed

[2017-01-03 21:22] MadsTorgersen commented on #6073
Let me express an opinion here, as someone who was around for at least part of the original LINQ design. @mattwar was more deeply involved in shaping `IQueryable` and may have additional and/or conflicting perspective. :-)

There are probably 10x (unscientific guesstimate) more people using LINQ over `IEnumerable` than `IQueryable`. We should land on the API shape that is most convenient/elegant/i

[2017-01-03 21:29] brfalcon commented on #4805
I will try to run locally following your suggestion. Thanks @karelz and @AlexGhiondea !

[2017-01-03 21:34] kouvel commented on #14747
Upon further discussion, we decided it would make sense for exceptions during these events to propagate and be treated like any other unhandled exception.

[2017-01-03 21:35] mattwar commented on #6073
@MadsTorgersen Is the out variable version of TrySingle known to not work with IQueryable?

[2017-01-03 21:38] MadsTorgersen commented on #6073
@mattwar I'm relying on @bartdesmet's argument to that effect over in #14276.

[2017-01-03 21:49] karelz commented on #3188
All api-needs-work items are API additions which are not api-approved and not api-ready-for-review (see [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md))

We are seriously (and loudly!) asking anyone who will grab this issue to provide a proposal -- it may be MS employee or it may be community member, we are treating people equally

[2017-01-03 21:57] ianhays commented on #14701
I'd say so, yeah.

Correct. Getting an improperly paired rename is far more commonplace on OSX/Linux than it is on Windows.

This is particularly true for any CoreFX File/Directory `Move`s which are implemented in such a way that `Create`/`Delete` is triggered by the OS instead of `Rename`. It doesn't touch the code you linked, but it's a similar case where Create/Delete occur instead of Rename on

[2017-01-03 21:58] ianhays commented on #14701
Work item here is to remove the Debug statement from [FileSystemWatcher[(https://github.com/dotnet/corefx/blob/d8fc81080723d58ca569c891ac1ebd86119b6f88/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs#L294)

[2017-01-03 21:59] ianhays commented on #13270
I'm marking this as `up for grabs` if anyone wants to submit an API proposal to add `FILE_FLAG_NO_BUFFERING` or submit the fix from the OP into the current code.

[2017-01-03 22:05] AlexGhiondea commented on #13795
@jnm2 isn't that kind of what the BinarySerializer is doing?

[2017-01-03 22:08] AndyAyersMS commented on #14567
@rottor12 when you get a chance, can you run the sample code above and report your results?

[2017-01-03 22:15] ianhays commented on #14338
Agreed on `Move` over `Rotate`.

I like `public void Move(oldIndex, newIndex);` and think it provides good utility.

I like `public void Move(sourceIndex, length, destinationIndex);` less, but it seems fine. It doesn't seem nearly as useful as the single element `Move`, but if the demand is there then I could get behind it.

[2017-01-03 22:17] jnm2 commented on #13795
@AlexGhiondea Yes, clarified. As long BinaryFormatter doesn't serialize objects that I've not marked serializable, I'm happy.

[2017-01-03 22:31] eyalsk commented on #3188
@chadwackerman if you want to give them feedback about their process or file a bug you can always open a new issue about it.

_p.s. Just a piece of friendly advice, you can lose the attitude, no one awe you anything._

[2017-01-03 22:46] danroth27 commented on #12421
In ASP.NET Core we have our own QueryBuilder type: https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.http.extensions.querybuilder. It's available as a NuGet package: https://www.nuget.org/packages/Microsoft.AspNetCore.Http.Extensions.

[2017-01-03 22:52] ianhays commented on #13806
I looked into this more in depth. We make a best-effort to determine whether the source of destination path was the one that produced the error, but in some circumstances we cannot without fail say which is the incorrect one. In that case, the source path is the one passed to the exception generator. That's why the repro in the comment above failed but the OP hit the issue.

I'm closing this, as t

[2017-01-03 22:52] #13806 closed

[2017-01-03 23:07] ianhays commented on #14466
It looks like this is because ` if (!RuntimeDetection.IsNetNative)` doesn't work on the full framework. Work here is to change the tests slightly to use the correct form of exclusion so that code doesn't get run on full framework.

[2017-01-03 23:18] OperatorOverload commented on #8146
@danmosemsft Ok, that makes sense.. I'm not sure the exact state of where yours builds too, but I'll share where I'm at (should have done months ago) and maybe we can get there together.

My branch that looks very similar to yours is here: https://github.com/OperatorOverload/corefx/tree/compression_projchanges

However, the issue I've got (and have had) is that I'm getting ApiCompat errors for the

[2017-01-03 23:18] #13251 closed

[2017-01-03 23:25] bombfactory commented on #3188
@eyalsk This isn't a hobbyist's blog engine, this is a core technology from a company worth nearly half a trillion dollars. They're charging me by the minute to run my Linux dotnet apps and they very much do owe me something.

Among the other candy-colored rectangles I see "up for grabs" and "backlog" but "only 7 votes" and "not expected for v2.0." Meanwhile there's many related bugs and lots of S

[2017-01-03 23:26] chadwackerman commented on #3188
@eyalsk This isn't a hobbyist's blog engine, this is a core technology from a company worth nearly half a trillion dollars. They're charging me by the minute to run my Linux dotnet apps and they very much do owe me something.

Among the other candy-colored rectangles I see "up for grabs" and "backlog" but "only 7 votes" and "not expected for v2.0." Meanwhile there's many related bugs and lots of S