[2015-09-11 17:04] stephentoub commented on #3186
Yes, though it seems like that's an issue we already have and need to address if we haven't, e.g. an app using System.Threading.Overlapped.dll for async I/O on Windows, but that's not relevant to I/O on Unix.

[2015-09-11 17:07] stephentoub commented on #3185
Thanks, David. For reference, here's a specific example that likely wouldn't make sense on the shared type: https://github.com/dotnet/corefx/issues/3153

[2015-09-11 17:13] SidharthNabar commented on #3185
David is right - the long term vision is that HttpClient and HttpClientHandler are platform-agnostic APIs that have as many HTTP-related knobs as possible to support x-plat. For functionality/settings that are highly OS-specific, there will be "deeper" handlers such as WinHttpHandler/CurlHandler, etc.

So, we could proceed in one of two ways:
1. Wait and see how many properties from WinHttpHandler

[2015-09-11 17:54] CIPop commented on #3185
There are advantages and disadvantages that we need to think about before taking this decision:
  * Pushing advanced features in `HttpClientHandler` would seem to allow more portability. Are we sure this is not a false sense of portability? How many platforms (please consider future platforms such as IoT and UWP) will actually support or even benefit from these features?

  * Creating specific han

[2015-09-11 19:14] redknightlois commented on #2209
@benaadams I just hope that implementation is not in a hot-path, it is 15x slower than the naive (shift, add, and) implementation, and almost 30x of the optimized one using 12 arithmetic operations and one multiply. o.O

BenchmarkDotNet=v0.7.7.0
OS=Microsoft Windows NT 6.2.9200.0
Processor=Intel(R) Core(TM) i5-2500K CPU @ 3.30GHz, ProcessorCount=4
HostCLR=MS.NET 4.0.30319.42000, Arch=64-bit  [RyuJ

[2015-09-11 19:59] LLITCHEV commented on #3164
It could, but I didn't have this change when I tried reproducing it today. (BTW, it did not repro.) But yesterday JanV PRed some changes in the exception handling, which might have an effect on this. I talked to stephentoub today to make sure I am doing the right thing to repro it. He said he'd follow up...

[2015-09-11 20:23] titanium007 opened #3190 "RemoteCertificateValidationCallback for HttpWebRequest"
The current implementation of HttpWebRequest in .Net 4.6 lacks RemoteCertificateValidationCallback similar to that of SslStream class. This makes mutual authentication impossible, especially when client becomes aware of mutual authentication enforced by server only after SSL handshake has been initiated.

Currently all certificate callbacks for HttpWebRequest is managed by ServicePointManager clas

[2015-09-11 20:34] davidsh commented on #3190
cc: @CIPop @SidharthNabar

Your comment is about .NET Framework 4.6 (Desktop) which isn't being tracked specifically in this GitHub repo. The implementation in this repo is about CoreCLR/CoreFx implementation of the System.Net.Http API surface.

HttpWebRequest in CoreFx is implemented differently.  The ServicePointManager architecture is not part of CoreFx.  In fact, HttpWebRequest is implemented

[2015-09-11 20:35] nguerrera opened #3192 "System.IO.FileSystem inner loop tests are slow, take ~2 minutes"
That's quite a bit slower than what we've been aiming for inner loop. Can we make them faster or move some to outer loop?

[2015-09-11 20:40] davidsh commented on #3190
Also, for completeness, on .NET Framework (Desktop), there is the `WebRequestHandler` API that also has SSL certificate validation callback:

https://msdn.microsoft.com/en-us/library/system.net.http.webrequesthandler(v=vs.110).aspx

`WebRequestHandler` is only available for .NET Framework and not CoreFx.

[2015-09-11 20:42] stephentoub commented on #3192
This is my fault.  I'll fix it.  I added several async reading/writing tests that are taking a long time due to testing lots of permutations of options.

[2015-09-11 20:52] nguerrera commented on #3192
Thanks!

[2015-09-11 21:09] titanium007 commented on #3190
That sounds interesting.

As I understand WebRequestHandler on .Net desktop developer should set client certificate before request is made. Or we can set it to [automatic](https://msdn.microsoft.com/en-us/library/system.net.http.clientcertificateoption(v=vs.118).aspx) in that case it would pick it from local certificate store.

But would it allow for client to provide client certificate after hand

[2015-09-11 21:16] davidsh commented on #3190
For .NET Desktop, the WebRequestHandler allows for both manual (explicit) client SSL certificate to be set, or automatic selection.  You should be careful when using automatic. If there are multiple client SSL certificates in the local per-user MY (personal) store, it will pick the first one. A certificate stored in the MY store must have the right characteristics to be classified as a "client" SS

[2015-09-11 21:37] davidsh commented on #3192
What is the guidlines for inner loop tests?  For example, I've noticed that the System.Net.Http tests have grown to almost 31+ seconds.  They used to take only 5 seconds.  But the recent X-PLAT work has added more core tests that are increasing the time.

I have already added an [OuterLoop] test to HttpClient which takes 30+ seconds on its own.

It would be nice to get a general guideline we shoul

[2015-09-11 21:39] nguerrera commented on #3192
cc @joshfree

[2015-09-11 21:43] titanium007 commented on #3190
@davidsh I understand. I was using HttpWebRequest to write a light weight HTTPS proxy server, which was working quite well except for the mutual authentication part. Because I am not sure if server would require Mutual Authentication during handshake in first place, and second I have to inform the client to ger the client certificate instead of getting it from local store.

As you suggested its no

[2015-09-11 21:43] #3190 closed

[2015-09-12 00:45] #2895 closed

[2015-09-12 02:30] bartdesmet opened #3196 "Expression interpreter - IsTrue, IsFalse, UnaryPlus missing cases"
Evaluating the following expressions results in NotSupportedException, where it doesn't for the compiler. It seems there's the wrong assumption those node types are always used in conjunction with a method, but that's not the case for primitive types:

Test<bool>(Expression.IsTrue(Expression.Constant(true)));
Test<bool>(Expression.IsFalse(Expression.Constant(true)));
Test<int>(Expression.UnaryPlus

[2015-09-12 02:53] bartdesmet opened #3197 "Expression interpreter - Missing instruction for unary lifted operators"
Consider the following expression:

Expression.Negate(Expression.Negate(Expression.Constant(TimeSpan.FromHours(1), typeof(TimeSpan?))))

This fails with IndexOutOfRangeException due to a missing EmitLoadLocal instruction prior to the EmitCall instruction in EmitUnaryMethodCall.

[2015-09-12 02:59] stephentoub commented on #3164
I sync'd to the latest in coreclr and built a release build.  It still repros for me with the latest bits.  Specifying /o- results in an exception, specifying /o+ results in 0 being printed out.

[2015-09-12 15:45] stephentoub commented on #3124
Fixed by #3131

[2015-09-12 15:45] #3124 closed

[2015-09-12 16:08] stephentoub commented on #2893
@bartonjs, can you take a look at this one?  This is failing consistently and is (one of the tests) preventing a clean run on OS X.  I looked at the tests, and at least one of them implies the ordering should be consistent across platforms, so I'm not sure if it's just a test bug (i.e. we should ignore ordering in the test) or if it's a product bug.

[2015-09-12 17:21] stephentoub opened #3202 "ProcessTests's TestCommonPriorityAndTimeProperties frequently failing on OS X"
[code]

[2015-09-12 18:24] kapilash opened #3205 "Corefx HttpClientHandler CookieContainer property deviates from Desktop"
During the PR for #3178 , it was discovered that the `HttpClientHandler` of corefx deviates from  desktop .Net version w.r.t the setter for `CookieContainer` property. Setting a `null` value results in an exception in the desktop version. In case of corefx, it results in  an error during `SendAsync`.

[2015-09-12 18:42] #2732 closed

[2015-09-12 18:55] syalachigere opened #3206 "How to run Unit tests on Windows run on 32-bit CoreCLR?"
Is it possible to run corefx tests on 32 bit CoreCLR?

After building corefx, I opened a corefx solution and changed `platform target``to``x86`` but it doesn't work.

[2015-09-12 20:46] ellismg commented on #3206
I doubt that will work at this point.  The problem is part of running the tests is restoring a CoreCLR based runtime and the runtime we restore today is only 64 bit.

I think that the easiest way to change the behavior (I haven't tried to do this) would be to get an enlistment in [dotnet/buildtools](https://github.com/dotnet/buildtools/), revert: https://github.com/dotnet/buildtools/commit/8e38670

[2015-09-12 20:49] ellismg commented on #3186
Somewhat related is #94, which was a request to support enough surface area to run Mono.Posix on .NET Core.  It might be interesting to consider just investing there as opposed to re-inventing the good work Mono has already done.

[2015-09-12 20:51] ellismg commented on #3162
/cc @sokket @stephentoub

[2015-09-12 20:59] sokket commented on #3162
Interesting, I'll take a look. Thanks for finding this @mfilippov!

[2015-09-12 21:55] bartonjs opened #3207 "PFX certificates are not well-ordered across implementations"
Similar to issues #2743 and #2745, the fix would be to not use the `PKCS12_parse` and `PKCS12_create` helper functions, but to get into the nitty-gritty with PKCS12 primitives.

This manifests as both writing order and reading order, to be consistent across Windows, Linux, and OSX.

[2015-09-12 22:07] christiannagel commented on #2161
Is an update available for this issue? It seems that all the resources for different languages are created inside the same assembly (checking the generated assembly via ildasm). Shouldn't there be satellite assemblies?

[2015-09-12 22:16] davidfowl commented on #2161
Yea it wilbe fixed in beta8

[2015-09-12 23:04] bartonjs commented on #2893
@stephentoub Odd, I disabled one of the tests, but not the other.  I've updated them both to be order-independent verification; and opened #3207 to track that the ordering isn't copacetic.

[2015-09-13 00:11] #2893 closed

[2015-09-13 00:53] stephentoub opened #3211 "Two TimeZoneInfo tests are failing on OS X"
[code]
cc: @eerhardt, @ellismg, @tarekgh

[2015-09-13 01:25] stephentoub opened #3213 "IPAddressParsing.ParseIPv6_ScopeId_Success failing on OS X"
[code]

[2015-09-13 01:35] stephentoub opened #3215 "Two FileSystemWatcher tests failing on OS X"
[code]
cc: @sokket

[2015-09-13 01:50] bartonjs commented on #3163
`TRACE_VERBOSE` sounds good to me...

[2015-09-13 02:37] SamuelEnglard commented on #3107
It should be noted that

a) Yes you could make a Roslyn analyzer to catch mistakes in string property names but also
b) You can use C# 6's new `nameof` operator to solver the problem

    private class A : INotifyPropertyChanged
    {
        public event PropertyChangedEventHandler PropertyChanged;

        private string prop;
        public string Prop
        {
            get
            {

[2015-09-13 02:55] kruncher commented on #3107
@SamuelEnglard Excellent point; thanks!

[2015-09-13 03:00] SamuelEnglard commented on #3107
@kruncher You're welcome. I do like the idea of having a binding framework independent of a UI framework.

Another thought though would be to have weak bindings as well as string ones, so that bindings don't have to keep objects alive

[2015-09-13 03:08] kruncher commented on #3107
Absolutely; the introduction of a `WeakBinding` implementation of `IBinding` would be very beneficial.

For platforms that support JIT its also possible to create some extension methods on the binding manager for extra syntax sugar by using expressions to determine the source/target object and the property name:

[code]

But, of course, in order to support platforms that are constrained to AOT it

[2015-09-13 03:35] bartdesmet opened #3217 "Expression interpreter - LoadField and StoreField don't generate NullReferenceException"
Consider the following expression:

Expression.Field(Expression.Constant(null, typeof(Bar)), "Foo")

The expression interpreter will throw a TargetException rather than a NullReferenceException due to the use of GetValue (or SetValue for the corresponding assignment instruction).

[2015-09-13 07:11] bartdesmet commented on #3197
There's also something strange about the InstructionList's approach to keeping track of the current stack depth. Consider as an example EmitUnaryMethodCall, shown slightly simplified below:

EmitStoreLocal(temp.Index); // 0
EmitLoadLocal(temp.Index); // 1
EmitLoad(null, typeof(object)); // 2
EmitEqual(typeof(object)); // 1
EmitBranchFalse(notNull); // 0

EmitLoad(null, typeof(object)); // 1
EmitBr

[2015-09-13 07:53] christiannagel commented on #2161
Thanks, David!

[2015-09-13 12:45] stephentoub opened #3218 "NameResolutionPalTests.GetHostByName_HostName test failing on OS X in CI"
The failure didn't repro for me locally, but it's happening consistently in the CI build:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_debug_tst/25/console
[code]

[2015-09-13 15:35] artelk opened #3220 "Unnecessary extra div in BigIntegerCalculator.DivRem"
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.DivRem.cs#L28
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.DivRem.cs#L49

Current code:

ulong value = (carry << 32) | left[i];
quotient[i] = (uint)(value / right);
carry = value % right;

I suspect that won't be opti

[2015-09-13 17:14] NickCraver commented on #1153
To add to the use cases here. On most programs on most platforms where a prompt is involved you'll see something to the effect of:

[code]

This currently isn't possible, you have to do a much less intuitive "(y/n then enter)" without `.ReadKey()` which allows processing per-character. It's unintuitive because of violating the principle least-surprise - matching the 99% behavior.

In my use case I

[2015-09-13 21:48] OtherCrashOverride commented on #3107
I had considered ``nameof`` but it does not take into account existing code that will still break during a refactor.  If you are going to rely on a new compiler feature then its probably better to have the compiler itself do all the work of generating the boilerplate code:

[code]

This still does not correct the design defect in ``INotifyPropertyChanged``.  Since only ``Name`` is reported, observ

[2015-09-13 21:58] kruncher commented on #3107
Dependence upon a `ObservableAttribute` is less useful because it makes it harder to bind properties that never change. For instance, when developing web applications the binding only needs to happen once and so there is no need to even implement `INotifyPropertyChanged` on the object that is being observed.

I don't really see anything wrong with using reflection here.

I think that it's way more

[2015-09-13 22:06] kruncher commented on #3107
Existing code wont be using these proposed non-standard binding interfaces; so I don't see how it would break since it wouldn't actually work in the first place...

If developers use `nameof` in their new code and gradually transition their existing code bases to using this then future refactoring will be a breeze.

[2015-09-13 22:57] bartdesmet opened #3223 "ConditionalExpression - Undesirable cloning behavior in Update method"
The Update method has the following logic:

if (test == Test && ifTrue == IfTrue && ifFalse == IfFalse)

The IfFalse property is implemented as follows for "IfThen" expressions (through a virtual GetFalse method):

return Expression.Empty();

This results in the creation of a new object each time. As a result, the Update method's logic will never cause the current instance to be returned, causing

[2015-09-13 23:00] bartdesmet commented on #3223
This is related to #2809 but a bit different. The "IfThen" variant of ConditionalExpression can still create a new instance of Empty each time for its IfFalse branch, but it should not get recreated each time when Update performs its analysis to decide whether the tree needs cloning or not.

[2015-09-13 23:08] bartdesmet opened #3224 "Expression compiler - Y combinator issue"
The following fails to compile correctly:

Expression<X> f = Expression.Lambda<X>(Expression.Empty(), Expression.Parameter(typeof(X)));
var a = Expression.Lambda(Expression.Invoke(f, f));
var m = typ.DefineMethod("A", MethodAttributes.Public | MethodAttributes.Static);
a.CompileToMethod(m);

where X is defined as:

public delegate void X(X a);

The object identity of 'f' used in the invocation exp

[2015-09-13 23:33] bartonjs opened #3225 "Investigate if Unix X509Chain.Build has the same truth table as Windows"
On Unix it seems to be returning false for any validation errors, and on Windows it might be more nuanced.

[2015-09-13 23:39] bartonjs opened #3226 "Investigate if Unix and Windows X509Chains treat root certs in ExtraStore the same"
Right now I think Unix says "you told me about it, clearly it's trusted" and Windows says "it wasn't in one of the trust stores, it isn't trusted".  So the Unix version needs to be less trusting.

But this behavior is currently unconfirmed.

[2015-09-14 01:43] OtherCrashOverride commented on #3107
One of the use-cases I envision (and why I am pursuing an implementation of this) is in animation.  Its common to "bind" a timeline to class properties.  This means the code will be called at least 60 times (or more) a second by multiple callers.  This constraint implies the code needs to be highly performant, not produce garbage, and avoid boxing/unboxing. It also needs to be highly durable witho

[2015-09-14 01:54] kruncher commented on #3107
It is straightforward to avoid the garbage produced when raising the `NotifyPropertyChanged` event since `NotifyPropertyChangedEventArgs` instances can be cached for reuse since the only unique property is the "PropertyName".

You can avoid boxing/unboxing of values inside the binding for JIT-enabled platforms since you can build a delegate which operates on the value types instead.

[2015-09-14 05:00] OtherCrashOverride commented on #3107
The intent was that ``[Observable]`` makes the compiler creates the boilerplate code for you invisibly:
[code]

This will have no impact on binding TO a property.  To bind FROM a property, this functionality is already required.

What exactly does "BindOnce" do behavior wise?  If something is only ever bound once, why is a binding necessary?  Wouldn't it be more efficient and intuitive to just spe

[2015-09-14 05:08] OtherCrashOverride commented on #3107
I would have to see an example use of that to understand what is meant.  Requiring methods to be dynamically constructed at runtime is a rather obtuse work-around. As I understand it, currently you have to use reflection to get the property and then call a method to set its value.  The method that does that (`SetValue(object obj, object value`) has object as the type for its parameters. This will

[2015-09-14 05:12] kruncher commented on #3107
You have to modify existing application code to add the attribute.

It executes the binding one time; yes you can just manually assign the value if you prefer; but this does have uses when automatically generating bindings:

[code]

Not to forget the fact that the binding mechanism applies `IValueConverter` value conversion. Utilizing the same binding mechanism is an easy way to assure consistent

[2015-09-14 05:15] kruncher commented on #3107
So to get the syntax sugar with an expression tree:

http://stackoverflow.com/questions/671968/retrieving-property-name-from-lambda-expression

PropertyInfo propertyInfo = GetPropertyInfo(someUserObject, u => u.UserID);
                                      ^----- this method uses an expression tree to interpret the lambda
[code]

[2015-09-14 05:23] OtherCrashOverride commented on #3107
You also have to modify existing application code to use ``nameof``.  The point was that if you are going to depend on features only present in a specific version of a compiler, you may as well go all the way and have the compiler implement first class support through an attribute or new keyword.

Which brings me to another possiblity: why not add a new keyword for the compiler to generate the syn

[2015-09-14 05:28] kruncher commented on #3107
You don't HAVE to update your existing view models to use `nameof`; that's the thing; you CAN, but you don't need to. At least not initially when your focus is more on porting your existing application to a different UI.

Healthy debate is always useful in getting to the right approach. I am all for the right approach; whatever that might be. But supporting `INotifyPropertyChanged` is critical imo

[2015-09-14 05:37] OtherCrashOverride commented on #3107
I contemplated "WeakBindings" too.  I am not perusing it because it has the potential to create developer confusion when bindings are "incomplete".  If you implement the feature, be sure to allow a method to report back to the developer which bindings fail because the object was gone.

If someone has a demonstration of real world use-case where "WeakBindings" are desirable, it would be good to pos

[2015-09-14 06:46] ellismg commented on #3012
Should be fixed now.

[2015-09-14 06:46] #3012 closed

[2015-09-14 06:51] ellismg commented on #2804
/cc @eerhardt Something to look at before RTM.  I suspect that we should be able to change this (even for Desktop) but we should investigate the compat angle with DDCC.

[2015-09-14 06:53] ellismg commented on #2965
@loqix To speed the investigation up on our end, can you share the source for your repo program?

[2015-09-14 06:55] ellismg commented on #2768
Can this be closed now that dotnet/coreclr@f7d9f0b298f7801344172fbaa5ec435be7e7171f has landed?

[2015-09-14 06:57] ellismg commented on #2760
Are we still hitting this?  I know we have taken a bunch of changes around this stuff recently.

[2015-09-14 07:00] ellismg commented on #2376
I believe this was @joshfree's baby when we put the source out there to start with.  Josh, do you know what the plan for the stuff there is?  Is it something that makes sense to re-license as MIT and pull into CoreFXLabs?

[2015-09-14 07:25] davidfowl commented on #2376
@mellinoe This was something the BCL team did a while back and I helped publish it to nuget :smile:

[2015-09-14 09:59] cnblogs-dudu commented on #3012
@ellismg yes, fixed.

[2015-09-14 13:59] davidsh commented on #2965
Are we sure this is actually CoreFx code?  The HttpClient in CoreFx doesn't use managed sockets nor System.Net.Dns class.

[2015-09-14 14:26] bartonjs opened #3232 "Unix OpenSsl-based CryptographicExceptions should set both Message and HResult"
Currently only Message is set, making it hard to reason about the error (in cases where it makes sense to do so).

This is the Unix half of #3062.

[2015-09-14 14:29] bartonjs opened #3233 "Windows CNG/CAPI-based CryptographicExceptions should set both Message and HResult"
In CoreFx the library that CryptographicException is in is platform agnostic, so it doesn't load a code for the int-only constructor.

In debug builds the message should be of the form (`"(0x{0:X8}) {1}", hr, Interop.mincore.GetMessage(hr))`; later that might change to all builds if we really like it.

This is the Windows half of #3062.

[2015-09-14 14:32] bartonjs commented on #3062
Because we invented a new workaround on PR #3221 and now the fix will be split across at least two commits/merges I'm closing this in favor of platform-specific #3232 and #3233.

[2015-09-14 14:32] #3062 closed

[2015-09-14 14:32] pgavlin commented on #2965
It would also be helpful to know what platform you're on, how your network is configured (e.g. does your system support IPv6, or is it only IPv4).

[2015-09-14 15:00] loqix commented on #2965
This is because the System.Net.NameResolution package depends on System.Private.Networking, but Linux is not implemented

[2015-09-14 15:34] nathanaeljones commented on #1298
There are much faster versions of zlib. Consider Intel or Cloudflare's fork of 1.2.8: http://www.htslib.org/benchmarks/zlib.html

Any reason you are using a [buggy 2005 edition of zlib (v1.2.3)](http://www.zlib.net/) instead of 1.2.8?

[2015-09-14 15:56] CIPop commented on #2965
@loqix We are aware of this issue: none of the packages have been updated to include code that is on GitHub at this moment.

System.Private.Networking is the current, monolithic implementation for all the following contracts for corefx:
* System.Net.Primitives
* System.Net.NameResolution
* System.Net.Sockets
* System.Net.Utilities
* System.Net.NetworkInformation
* System.Net.Security

Until we spl

[2015-09-14 16:04] joshfree commented on #2376
@ellismg @davidfowl I don't think there's much value in the type as-is; It's bare bones - I wrote it over a weekend a long time ago just for fun; and it was never meant to ship on NuGet.  If @mellinoe or anyone else is interested in finishing the type then we can put it on corefxlab

[2015-09-14 16:45] SidharthNabar commented on #3205
This was discussed during the WinHttpHandler API review meeting. The reasoning here is that WinHttpHandler has an option for "internal/native cookie handling", in which case null is a valid value for CookieContainer (the native WinHTTP stack then manages cookies). On the other hand, desktop .NET framework has no cookie handling options other than using the managed cookie container.

The scenario w

[2015-09-14 16:49] davidsh commented on #3205
Yes, I remember that meeting.  However, we still could provide app-compat behavior in the HttpClientHandler layer by throwing ArgumentNullException if someone sets a NULL CookieContainer.  In general, the NULL value doesn't hurt anything, per se, since the CookieContainer won't be used at all when the enum value for WinHttpHandler.CookieUsePolicy = UseInternalCookieStoreOnly.  However, semanticall

[2015-09-14 17:01] bartonjs opened #3237 "TestEnvironmentOfChildProcess fails (intermittently?)"
It looks like it's pulling in the PR description and something is going wrong with the roundtripping thereof:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/4024/

[code]

[2015-09-14 17:08] CIPop commented on #3163
+1 on the name. Changing the name in the current System.Net.Security PR.

Keeping the issue around to do a last scan after other contracts are in.

[2015-09-14 17:28] anuchandy commented on #1153
+1, having Console.ReadKey in CoreCLR is really required functionality for the project we are building on CoreCLR. @niklasg

[2015-09-14 17:44] #3232 closed

[2015-09-14 17:46] bartonjs commented on #3233
Windows doesn't have as nice a chokepoint as the Unix implementation; but something like what PR #3234 did would be good to do on Windows, as well.

[2015-09-14 20:20] andschwa commented on #1153
:+1: likewise, this is required functionality we need.

[2015-09-14 21:15] AtsushiKan commented on #3237
The test assumes that environment variable values don't contain newlines. Well who would do that? Oh, our CI process :-(

[2015-09-14 21:50] bartdesmet opened #3242 "Test failure for TestEnvironmentOfChildProcess"
From Jenkins at http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/3838/testReport/junit/System.Diagnostics.ProcessTests/ProcessStartInfoTests/TestEnvironmentOfChildProcess/ when submitting a PR:

Regression

System.Diagnostics.ProcessTests.ProcessStartInfoTests.TestEnvironmentOfChildProcess (from (empty))

Failing for the past 1 build (Since Failed#3838 )

Took 0.1 sec.

Stack

[2015-09-14 21:53] Maxwe11 commented on #3242
Dup of #3237
Pending fix #3241

[2015-09-14 22:31] ellismg opened #3243 "Some tests failing due to changes in Globalization data"
We need to pay down some test debt here.  There are a lot of places where we hard code expected values for tests which can change depending on the underlying OS which provides the data.

We should figure out the right way to detect what OS we are on so we can provide the correct expected data.

[2015-09-14 22:35] bartdesmet opened #3244 "Consider having expression interpreter available in all build flavors"
For some of our Bing service, we often run into the case where expression compilation is too expense, either because it's on a request/response path, or because it's statically known that the expression is small and will be evaluated only once. I can provide more details on such scenarios if needed.

Unfortunately, expression interpretation is a property of the .NET build flavor, e.g. for .NET Nat

[2015-09-14 22:36] bartdesmet commented on #3244
Discussed offline with @VSadov; broadening the audience here now.

[2015-09-14 22:48] VSadov commented on #3244
@jaredpar @madstorgersen - FYI.

[2015-09-14 22:55] VSadov commented on #3244
I think allowing compiling and interpreting behavior to be both possible in the same binary would be useful. Currently these are mutually exclusive - I.E. you can have System.Linq.Expressions that either has compiler or interpreter.

There could be some technical difficulties in implementation, but hopefully these can be resolved.

We would need some new API to get to the interpreter. Most obvious

[2015-09-14 23:16] VSadov commented on #3223
It does seem unintentional that  IfThen on an otherwise immutable node returns different instance every time.

[2015-09-15 02:35] bartdesmet opened #3245 "Add N-ary internal specializations for InvocationExpression"
In Bing, we use an expression normal form whereby method call expressions etc. get erased for invocation expressions of an unbound parameter, e.g.:

Expression.Call(where, xs, filter)

becomes

Expression.Invoke(Expression.Parameter(typeof(...), "where"), xs, filter)

This is done to decouple client libraries and service libraries through erasure of MemberInfo objects. The service uses a binder to

[2015-09-15 08:50] antiufo commented on #3244
I recently noticed that Expression.Compile() was in the hot path of my software project (many small, single-use compilations). I refactored out the interpreter and made it available to Net45/Dnxcore50 (nuget: Shaman.System.Linq.Expressions.Interpreter). The whole thing now runs much faster.
I agree with the idea of making the interpreter publically available.

[2015-09-15 09:02] bartdesmet opened #3247 "GetGenericArguments for open generic type returns empty array"
The following test fails in CoreCLR:

[Fact]
public static void GenDefArgs()
{
    Assert.Equal(1, typeof(Func<>).GetGenericArguments().Length);
}

On desktop CLR, the following prints 1:

Console.WriteLine(typeof(Func<>).GetGenericArguments().Length);

For closed generic types, things seem fine.

[2015-09-15 09:17] acastaner opened #3248 "Setting HttpWebRequest.AutomaticDecompression"
When I look at the source of HttpWebRequest I see that the AutomaticDecompression property of the HttpClientHandler is forced to `DecompressionMethods.None` ([line 373](https://github.com/dotnet/corefx/blob/07f8c0fe64ac44bedced873181d6832bc2afcc50/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs)).

How do I set it properly? In the past we could simply do this:

`request.AutomaticDecompres

[2015-09-15 14:13] GSPP opened #3249 "Add a monotonic clock to the framework"
**Problem:** Many BCL components use `DateTime.UtcNow` to compute timeouts and time deltas. When you run a "Find Usages" on `DateTime.UtcNow` in .NET Framework assemblies a lot of usage sites come to light. For example, in ADO.NET, transactions, caches, WebRequest, remoting, WCF, SignalR, security.

**All of these usages are bugs** because the current system time can change significantly forwards

[2015-09-15 14:21] stephentoub commented on #3093
FWIW, I personally don't find a need for this method.  Any time I've wanted this, I've just done ```new[]{item}```.  Short of that, there's the ```Enumerable.Repeat(item,1)``` already mentioned.  To me, while the need for such functionality certainly arises from time to time, either of those solutions seems sufficient for the frequency with which I need it.

[2015-09-15 14:25] davidsh commented on #3248
cc: @CIPop @stephentoub @ericstj @stephentoub

The current version of the System.Net.Requests contract does NOT expose the AutomaticDecompression property on the HttpWebRequest object.  The full .NET Framework (Desktop) does support and expose this as a public property.

The .NET profile for CoreFx was derived from the original .NET Windows App Store Profile.  This profile was a reduced set of API

[2015-09-15 14:27] stephentoub commented on #3249
Just responding to this one point, Stopwatch provides the static GetTimestamp() method, so if the timing support provided by Stopwatch is what you want, you can get at the same mechanism without instantiating a Stopwatch instance.

[2015-09-15 14:34] acastaner commented on #3248
Thanks a lot for the clarification! Please close this issue as you see fit.

[2015-09-15 14:39] stephentoub commented on #2454
Thanks for the write-up.  While I appreciate the thought that went into this, we have no plans of changing the default behaviors here.  Doing so would be a significant breaking change, with lots of code actually depending on these behaviors for either functionality and/or performance, and much of this behavior was thoughtfully added for various reasons.  I understand the choices have caused some p

[2015-09-15 14:47] GSPP commented on #2454
OK. Then it should at least be possible to disable all these behaviors case by case. I believe there is at least one such place missing (`TaskAwaiter`).

[2015-09-15 15:27] #3248 closed

[2015-09-15 15:29] #3155 closed

[2015-09-15 16:24] eerhardt commented on #3211
This issue is that OS X has older/v1 tzfiles, which do not contain the ["POSIX-TZ-environment-variable-style string for use in handling instants after the last transition time stored in the file"](http://linux.die.net/man/5/tzfile).  This means that there isn't a way to tell when daylight savings starts and ends for dates in the future (in the case of the test, year 9999).  You can only tell when

[2015-09-15 16:49] bogdanteleaga opened #3253 "Support for tar archives"
Right now corefx supports zip files as well as gz files. Would it be hard to get it to support tar files as well for compatibility with the other OS's who package files as tgz very often?

A C# implementation already exists at https://code.google.com/p/tar-cs/ and could be used either as a guideline or directly imported.

If this is something that is desired I could work on designing an API, but i

[2015-09-15 18:05] terrajobst commented on #699
@stephentoub, what should be the next steps here?

[2015-09-15 18:10] terrajobst commented on #970
Can we add an event under a new name, such as just `Changed`? We could even go the extra mile and make the event args strongly typed i.e. provide the values as `IList<T>` rather than the non-generic `IList`.

[2015-09-15 18:13] terrajobst commented on #984
As @ellismg [said above](https://github.com/dotnet/corefx/issues/984#issuecomment-76349671), the source is available. I've marked this a up-for-grabs. If anybody wants to take a stab, let us know!

[2015-09-15 18:15] terrajobst commented on #1008
It seems this one needs a concrete proposal. @MikePopoloski, do you want to take a stab?

[2015-09-15 18:18] terrajobst commented on #1079
@bartonjs, what's your take on this?

[2015-09-15 18:22] terrajobst commented on #1086
@JeremyKuhne, it seems Roslyn had a similar request for a an API that gets the canonical path, i.e. resolves sym links, gets the correct casing etc. What's your take?

[2015-09-15 18:25] terrajobst commented on #1118
There is a lot of trickery due to .NET Framework compat and how we type forward contracts.

@briangru, it would be helpful if you could distill the list of APIs that we'd need to add. Then we can break it down more.

[2015-09-15 18:26] terrajobst commented on #1129
@ConradMellin, given that you already seem to have the changes ready to go: would you mind starting the API review process by listing the APIs

[2015-09-15 18:47] stephentoub commented on #1086
I'm not clear on what such an API would mean in a typical Unix context, where file AbC is unrelated to file ABc.  It'd just return the original supplied string without modification?
[code]
?

[2015-09-15 18:54] JeremyKuhne commented on #1086
@jasonwilliams200OK, @terrajobst: We do need stuff along these lines, what I was going to suggest was Path.GetFinalPath to match the semantics we're already using (e.g. aligning with the File Management APIs in Windows). Essentially it would just be a call to GetFinalPathNameByHandle() on Windows and realpath() on Linux. Symbolic links will be resolved and the file will have to exist.

@stephentou

[2015-09-15 20:03] stephentoub commented on #2947
Spoke with @billchi-ms and @MadsTorgersen as well.  They'd like to leave the behavior as-is, too.  And the docs folks are following up on getting the docs fixed up. Given that, I'm going to close this and the associated PR out.  Thanks.

[2015-09-15 20:03] #2947 closed

[2015-09-15 20:40] stephentoub commented on #1661
It typically does.  For example, this code:
[code]
results in this exception message:
[code]
and:
[code]
results in the message:
[code]
The source/destination type were previously left out of cast messages when unboxing, but that was recently addressed at https://github.com/dotnet/coreclr/pull/1543.

Dictionary is being addressed here: https://github.com/dotnet/coreclr/pull/1452 for Dictionary

An

[2015-09-15 20:40] #1661 closed

[2015-09-15 20:50] davidsh opened #3256 "WinHttpWebSocketState is leaking a GCHandle"
System.Net.WebSockets.Client.WinHttpWebSocketState allocates a GCHandle in the constructor with this code:

[code]

But if never calls Free() on the GCHandle.  Normally, you need code like this to free the handle:

[code]

[2015-09-15 20:50] davidsh commented on #3256
cc: @CIPop

[2015-09-15 20:56] stephentoub commented on #1182
This wasn't really a reviewable item, as there wasn't any concrete API being proposed, as discussed earlier in the thread ;)  It's a set of proposed improvements to performance in existing implementation rather than new API.

Through this thread as well as a bunch of PRs that have happened in the interim, we did agree that we don't want to expose existing collection interfaces out of LINQ, e.g. th

[2015-09-15 21:06] bartonjs commented on #1079
@terrajobst I like it, and it matches what has come over the years to a lot of Stream-over-Stream constructors.

But since this is a type in full framework I'm not sure what our compatibility work windows are... certainly this could be done in the future branch.

[2015-09-15 21:22] stephentoub commented on #699
There are a ton of "1-to-6-liners" like these that can be valuable.  The trouble is, different folks need different things with slightly different behaviors here and there.  The fact that there are multiple examples earlier in this thread (and there were more in the original blog post(s), plus more that could be written to address some of the considerations I called out in my previous response) hi

[2015-09-15 21:31] stephentoub commented on #3242
Closed as dup

[2015-09-15 21:31] #3242 closed

[2015-09-15 21:31] stephentoub commented on #3237
I'll take a look

[2015-09-15 21:35] pallavit commented on #1153
I will start looking at the windows implementation soon. From the cross-plat perspective, I could not find a way to capture virtual key codes.  One alternative would be to leverage Console.Read() itself to get the ASCII code however that would leave a whole set of keys as unimplemented - modiifier keys (Shift, Alt), function keys etc. Thoughts?

[2015-09-15 21:50] agocke opened #3258 "System.IO.FileStream fails to read a file on CoreCLR on Linux if it is read in two different Read calls"
Repro:

build the following C# program as a CoreCLR-targeted C# executable on Linux:

[code]

This prints:
[code]

I expect:
[code]

[2015-09-15 22:28] stephentoub commented on #3258
The repro is assuming that Stream.Read always returns the number of bytes requested.  That's not guaranteed, and frequently isn't the case.  When it's not end-of-stream, Read is allowed to return any number of bytes > 0 and <= count.

[2015-09-15 23:06] agocke commented on #3258
@stephentoub Agreed -- I misread the API contract. I'll investigate further

[2015-09-15 23:20] anuchandy opened #3260 "System.Console.Is[Input|Output]Redirected is not available in CoreFX"
IsInputRedirected and IsOutputRedirected properties are not available in System.Console

[2015-09-15 23:28] stephentoub commented on #3258
Ok, thanks, @agocke.  I'm going to close this out for now, as the described problem isn't an issue.  If you find that there is separate issue with FileStream (or elsewhere of course), please open a new issue.

[2015-09-15 23:29] #3258 closed

[2015-09-15 23:30] CIPop commented on #3237
This is failing and _blocking_ PRs. I'll disable it within my PR (#3113).
It's very odd that a test took dependencies on environment variables that are not under its control.

[2015-09-15 23:39] weshaggard commented on #3260
@pallavit can you please have a look at this while you are looking at the other Console requests.

[2015-09-16 00:17] weshaggard opened #3262 "Vector tests failing on one of my machines"
On my local machine I doing a default build.cmd which builds x64 debug I keep getting the below failures.

If it helps these pass on my other machine and the machine they fail on has the following processor: "Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz, 3601 Mhz, 4 Core(s), 8 Logical Processor(s)"

cc @mellinoe @CarolEidt

System.Numerics.Tests.Vector3Tests.Vector3CopyToTest [FAIL] (TaskId:163)

[2015-09-16 02:53] davidsh commented on #2761
@KKhurin As you indicated in your recent email, your latest stress runs can't repro any failures with the latest System.Net.Http packages.

[2015-09-16 02:53] #2761 closed

[2015-09-16 02:54] davidsh commented on #2760
@KKhurin As you indicated in your recent email, the latest stress runs don't repro this behavior using the latest System.Net.Http package.

[2015-09-16 02:54] #2760 closed

[2015-09-16 05:00] kouvel commented on #2768
The corefx side changes just went in today. Once Loader.dll is published, I'll send out a PR with a couple of basic test cases, and will close as part of that.

[2015-09-16 07:35] bartdesmet opened #3266 "Use optimized N-ary MethodCallExpression nodes from all Call factories"
Unlike Expression.Block, the overloads of Expression.Call that take in an Expression[] or IEnumerable<Expression> do not attempt to check the number of supplied arguments in order to instantiate more compact expression representations than the standard [Instance]MethodCallExpressionN nodes.

The language binds to the Expression[] overload. Various tools on our end, such as expression deserializers

[2015-09-16 10:07] jasonwilliams200OK commented on #1086
@JeremyKuhne, during this exercise: https://github.com/dotnet/corefx/commit/36b4113a9937796ca2fb01cdc50085f5535e05cf one thing I figured out was that we can get correct casing with `Interop.mincore.GetLongPathName`, which is pretty performant IMO (compared to walking down the [Directory/File]Info slugs). The only part it doesn't correct is the filename in case of `File`, for which I used FileInfo

[2015-09-16 11:00] kapilash opened #3268 "CurlHandler : Ensure SendAsync cannot be called twice for the same request"
Originally discovered during the PR, ensure that CurlHandler's SendAsync cannot be called on the same HttpRequestMessage more than once.
HttpClient's ```SendAsync``` already ensures that. We may need similar guarantee in ```CurlHandler``` as well.

[2015-09-16 11:09] kapilash opened #3269 "CurlHandler statusCode parsing - Error cases"
CurlHandler does StatusCode parsing in the http response message.
 Verify that CurlHandler behavior is identical to WinHttpHandler in case of negative scenarios. CurlHandler throws parse exception if status code in the Http response is not a valid status code.

[2015-09-16 11:30] kapilash opened #3270 "CurlHandler Multithreading - thread safety of underlying SSL library"
[Lib Curl's documentation](http://curl.haxx.se/libcurl/c/threadsafe.html) has some suggestions for safe use of the library in multi threaded context. The recommendations for thread safe use of openssl are probably, still relevant.
This is a tracking issue for the same.

[2015-09-16 11:51] kapilash commented on #2555
Created the following issues/tracking items
* #3268  to track  3.1 which is 1.9 #2473 (comment)

* #2384  is tracking item 3.2 , which is 1.12  Comment on GetCurlException in #2473

We will be revising the System.Net.Http contract and specifically the HttpRequestException type to include a property that is a enum with more granular and platform agnostic errors. It will be similar to WebExceptionSt

[2015-09-16 11:51] #2555 closed

[2015-09-16 12:38] #3237 closed

[2015-09-16 13:20] stephentoub commented on #3270
The OpenSSL initialization is already handled:
https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.Initialization.cs#L33-L34

[2015-09-16 13:22] kapilash commented on #3270
Oh thanks. Then we can close this, I believe.

[2015-09-16 13:22] stephentoub commented on #3220
cc: @axelheer

[2015-09-16 13:23] #3270 closed

[2015-09-16 13:23] stephentoub commented on #3185
cc: @kapilash, @vijaykota for tracking

[2015-09-16 13:26] stephentoub commented on #3186
Sure, a library that simply exposed managed equivalents to the POSIX standardized APIs would be a fine approach.  However, I believe just ensuring we have enough marshaling support in place for #94 isn't sufficient to get that library working, as it's employing native Mono code to shim the APIs.

[2015-09-16 13:27] stephentoub commented on #3187
cc: @bartonjs just for tracking purposes

[2015-09-16 13:30] stephentoub commented on #3153
Thanks for starting the discussion, @markrendle.  I'm going to close this issue and let #3185 track it, as it'd be a prerequisite to this and this would be one of the inspirations for doing it.

[2015-09-16 13:30] #3153 closed

[2015-09-16 13:33] stephentoub commented on #3150
@DixonD-git, are you still hitting this?  I just tried, and it's working fine for me.  I sync'd to the latest source in the repo, opened the System.Collections.Concurrent.sln solution, did a full build, and both projects build successfully for me.  If you're still having trouble, what steps are you following?

[2015-09-16 13:34] stephentoub commented on #3134
This is why those tests are skipped as part of CI builds.

[2015-09-16 13:39] stephentoub commented on #3018
@Clockwork-Muse, are you still hitting this?

[2015-09-16 13:46] stephentoub commented on #2926
I agree with @weshaggard and @VSadov: good suggestion, but not enough value here to warrant a new built-in overload.  As @VSadov demonstrated, in the cases where you know the length and so could supply it but the concrete implementation doesn't know its own length, it's possible to implement this with a few lines of code, and is no worse than what could be done internally.

[2015-09-16 14:25] stephentoub opened #3272 "FileInfo_GetSetTimes.CreationSetsAllTimes failure locally"
I get these failures locally every time I try to run the System.IO.FileSystem tests.  I'm on Windows 10 with VS2015.
[code]

[2015-09-16 15:06] stephentoub commented on #3272
It's also failing in OS X CI:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_debug_tst/30/testReport/junit/System.IO.FileSystem.Tests/FileInfo_GetSetTimes/CreationSetsAllTimes/

[2015-09-16 15:19] nguerrera commented on #3247
@bartdesmet Are you working in System.Linq.Queryable by chance? I believe the public GetGenericArguments compatibility extension in System.Reflection.TypeExtensions is fine, but I just found an error in the internal implementation in System.Linux.Queryable's TypeHelper. Fixing it.

The issue is that in the move to TypeInfo (before my time), it was decided to distinguish between the type parameters

[2015-09-16 15:53] axelheer commented on #3220
Makes sense, thanks! :+1:

But someone should measure the speed gain, if any. (I can, of course...)

[2015-09-16 16:07] nguerrera commented on #3272
I saw this last night on Linux locally too.

[2015-09-16 16:08] CodesInChaos opened #3275 "Add a way to start enumeration of SortedSet and SortedDictionary in the middle"
I'd like an efficient way to start enumeration of a sorted collection (in particular `SortedSet<T>` and `SortedDictionary<TKey, TValue>`) at a specified value. This should work even if the value is not part of the collection.

**Why is it useful?**

Such a feature would be useful for many things. For example:

* Finding all elements in an interval.
* Finding the closest element to an item in the s

[2015-09-16 16:09] artelk commented on #3220
Found discussion about that:
http://stackoverflow.com/questions/447282/why-is-math-divrem-so-inefficient

[2015-09-16 16:21] CodesInChaos commented on #3220
The alternative version looks more difficult to optimize in the JITter to me. Since the same CPU instruction outputs both quotient and remainder on x86, optimizing the naive form should be straight forward. So even if the new version is faster with the current version of the JITter it might become the slower version if the JITter improves.

I'd prefer asking the JIT team to implement this optimiza

[2015-09-16 16:23] weshaggard commented on #3206
This is something we will be looking into enabling in the future but as @ellismg points out right now it isn't fully supported.

[2015-09-16 16:24] stephentoub commented on #3220
https://github.com/dotnet/coreclr/issues/757

[2015-09-16 16:38] ianhays commented on #3272
Working on it now.

[2015-09-16 16:42] #2502 closed

[2015-09-16 16:42] #2504 closed

[2015-09-16 16:55] anuchandy opened #3277 "Fetching custom attributes using System.Reflection"
We have a scenario where we need to read custom attributes applied to a type. We are getting "System.Reflection.TargetException: Object does not match target type" exception while trying to read attribute value.

Please see below the code that repro this:

[code]

project.json file is (dnx)

[code]

[2015-09-16 17:02] CodesInChaos commented on #1617
For example some crypto algorithms have limited internal parallelism. For example ChaCha, Salsa20 and BLAKE work on 4 words at a time with 32 or 64 bit each. In the case of ChaCha and Salsa20 you could use longer vectors, but it adds some complications (in particular the shuffles will be tricky) and costs performance on small messages. For BLAKE in its sequential mode it's not possible to use more

[2015-09-16 17:08] ianhays commented on #3272
Not sure how this passed the PR build check - it's failing on Windows too. I've got a fix coming in a minute, just want to test it some more before submission.

[2015-09-16 17:13] ianhays commented on #3272
It for some reason passes when I run build.cmd from src\ but not when I run just the FileSystem tests using corerun from the dnxcore50 folder.

[2015-09-16 17:15] stephentoub commented on #3272
Sounds like a timing issue.  When running build.cmd from src, you're likely going to end up with many test suites running concurrently.

[2015-09-16 17:15] #3165 closed

[2015-09-16 17:26] pallavit commented on #3134
We could add gates in places to run tests only in admin mode but my understanding was that all admin only tests were to be part of our outer loop testing and were to be handled together.

[2015-09-16 17:28] pallavit commented on #3260
Sure

[2015-09-16 17:30] CodesInChaos commented on #519
I'd add these methods to `Convert`:

    public static string ToHexStringUpper(byte[] data);
    public static string ToHexStringLower(byte[] data);
    public static byte[] FromHexString(string hexString);

I'd also consider having them return `null` when the argument is `null` since that simplifies printing byte arrays that may be `null`.

[2015-09-16 17:34] #3173 closed

[2015-09-16 17:39] DixonD-git commented on #3150
Yes, I'm still experiencing it. But now I see my mistake in the issue description: build succeeded even though I still see the mentioned error in Error List. I'm using Visual Studio 2015 Community if that matters. I've raised this issue to xUnit guys at https://github.com/xunit/xunit/issues/587, they say that it should be some issue with Visual Studio 2015 itself.

[2015-09-16 18:02] JeremyKuhne commented on #3018
@Clockwork-Muse it is possible to make Windows the default- it is alphabetical. We'd have to change the solution configuration name in the sln files from Windows to _Windows. There is no way to dynamically switch, but .sln files are essentially VS and therefore Windows specific.

@weshaggard This shouldn't have anything to do with my changes.

[2015-09-16 18:06] JeremyKuhne commented on #1086
Hmm- I hadn't seen that behavior when I was playing with GetLongPathName- I'll take a closer look. The Windows file system folks mentioned that there was a way to get the correct cased name without following sym links- I'll ping them again to see if I can drag out details.

[2015-09-16 19:35] #3272 closed

[2015-09-16 19:45] #3147 closed

[2015-09-16 20:01] bartdesmet commented on #3266
I can prepare a PR with proposed improvements.

[2015-09-16 20:01] bartdesmet commented on #3245
I can prepare a PR with proposed improvements.

[2015-09-16 20:02] bartdesmet commented on #3247
@nguerrera Could well be the case I hit that one; this was discovered in the context of writing a test for System.Linq.Expressions.

[2015-09-16 20:04] #3217 closed

[2015-09-16 20:06] #2788 closed

[2015-09-16 20:06] #3197 closed

[2015-09-16 20:14] VSadov commented on #3266
As I remember Expression.Block was new in ET2.0 and factory was implemented this way. The Call (and Invoke) were not new, so it could be that they were intentionally not switched to use this pattern. It could also be just an oversight.

Is it practically likely that the change will be breaking to some existing code?

[2015-09-16 20:21] bartdesmet commented on #3266
I’ll have a thorough look from a compatibility angle and report any findings.

One point of debate is whether public factory method additions are warranted, e.g. for Invoke(lambda, arg0, …, argN). If not, the optimization could always be done from the Expression[] and IEnumerable<Expression> overloads by inspecting the number of expressions supplied (similar to the logic in Block), at the cost of

[2015-09-16 21:01] svick commented on #3275
I have wanted some functionality similar to this too, so I strongly agree with the general idea to add something like this.

Some notes:

* `SortedList<TKey, TValue>` should be included too.
* I'm not sure about the proposed API. For example, it doesn't allow you to efficiently remove all items that fall into some interval. Especially for `SortedList`, where manipulating indexes could make a lot o

[2015-09-16 21:28] Clockwork-Muse commented on #3018
@JeremyKuhne - I don't think I'd want to break the naming scheme like that.  I was more curious if there was some form of conditional ordering available, but in that case probably not.

[2015-09-16 21:31] SamuelEnglard commented on #3107
@kruncher That expression tree trick is a good one. Entity Framework uses something similar to get members of types so I think it would be a fine way to do so.

I think what should be done is have `INotifyPropertyChanged` there with `[Obsolete]` on it for migrating existing code and the stronger expression style (or other method) for new code.

[2015-09-16 21:31] anuchandy commented on #3277
We could retrieve the custom attribute values using: CustomAttributeData::ConstructorArguments

Given below the working code:

[code]

[2015-09-16 21:39] Clockwork-Muse commented on #3134
@pallavit - it probably was; I was modifying those tests, so had to run them regardless.  Would be nice to report that as a possible error.

[2015-09-16 21:53] stephentoub commented on #536
Here's my suggestion.

I propose we add a single additional property to DataflowBlockOptions:
[code]
When true (the default), it means to always respect the FIFO ordering that's there, exactly as is done today, both for input and for output.  When false, the blocks are allowed to forego ordering wherever they want.

We'd add the following support for it now:
- TransformBlock: if ForceOrdered is fa

[2015-09-16 21:56] kruncher commented on #3107
Unfortunately target platforms that only support AOT cannot use the expression tree trick; at least in the case of the Unity game engine. So when the presentation components of such a platform require AOT it does make sense to support the more verbose syntax.

It is also beneficial to support one-time and one-way property binding one a source/target that doesn't actually implement the `INotifyProp

[2015-09-16 21:57] khdang commented on #3180
@DanailKoychev On Desktop, the XmlSerializationWriter type is a class that supports internal implementation and is not intended to be used directly from you code. In NetCore this class is not exposed to the public contract.

[2015-09-16 22:07] stephentoub opened #3281 "ProcessTests.TestWorkingSet64 failed on OS X in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_debug_tst/31/console
[code]

[2015-09-16 22:10] stephentoub opened #3282 "CtorTests.InvalidCertificateBlob failed on OS X in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_debug_tst/31/console
[code]

[2015-09-16 22:21] JeremyKuhne commented on #1086
@jasonwilliams200OK - The thing I was missing was FILE_FLAG_OPEN_REPARSE_POINT. GetFinalPathNameByHandle will give you the real canonical name on whatever file you open. If you pass the flag above when calling CreateFile it won't follow the reparse points and will, instead, open the actual link.

[2015-09-16 22:42] andschwa commented on #1153
If we don't have the modifier keys, we would be unable to implement commonly expected shortcuts such as `Ctrl-A` and `Ctrl-E` for home and end in our custom consoles.

[2015-09-16 22:51] pallavit commented on #1153
I don't think Ctrl key will be the problem. Looking at the https://en.wikipedia.org/wiki/ASCII all the ctrl keys can be correctly intercepted, however, I am not sure, how would we intercept Alt, Shift or function keys.

[2015-09-16 23:14] #3223 closed

[2015-09-16 23:37] DamianEdwards opened #3284 "Add an API to retrieve number of physical CPUs"
`Environment.ProcessorCount` returns the number of logical processors, i.e. number of logical cores available after things like Hyper-threading are taken into account. In some cases however it is important to know the number of actual physical cores rather than logical cores. E.g. in the ASP.NET 5 Kestrel web server, we need to create a number of threads for IO work and our testing has shown that

[2015-09-17 00:08] nguerrera opened #3285 "Windows builds failing to load xunit file"
This is reproducing in CI and locally

[code]

The test directory does not have this file, it has only:

[code]

However, xunit.console.netcore.exe there references it.

It's a mystery how this could have gotten through CI. Did a package change in place on myget or something?

cc @weshaggard @mellinoe @ianhays @sokket @stephentoub

[2015-09-17 00:11] ianhays commented on #3285
I recently updated buildtools to use xunit rc1 which follows this change in naming for the xunit runner, but that is in a new buildtools package on myget (00085)

[2015-09-17 00:13] ianhays commented on #3285
This is the PR: https://github.com/dotnet/buildtools/pull/265

[2015-09-17 00:26] mellinoe commented on #3285
Hm, for whatever reason the build is pulling in xunit.console.netcore v1.0.2-prerelease-00088 (the latest one).

The project.lock.json file for our test-runtime lists the dependency at version 00085, but after the build this changes to 00088 (even though it is locked). I guess it's possible that whoever modified the project.json file last forgot to lock it at the same time, so now all of the depen

[2015-09-17 00:32] weshaggard commented on #3285
I suspect what this is likely a combination of things. One was the move to DNU beta7 earlier today which causes the lock files to be invalidated. The second issue is that @ianhays published some new packages today which have these dependencies which is causing the latest versions to be picked up. This can be addressed by updating buildtools lock file again. I'm looking into it.

[2015-09-17 02:07] weshaggard commented on #3285
PR https://github.com/dotnet/corefx/pull/3286 should fix this issue.

[2015-09-17 02:54] weshaggard commented on #3285
Fixed by #3286

[2015-09-17 02:54] #3285 closed

[2015-09-17 04:04] #3051 closed

[2015-09-17 05:48] stephentoub commented on #3284
Thanks, @DamianEdwards.

Can you elaborate more on the tests you ran and the perf results? Presumably in a real environment the web server would be the primary thing running on the box? Why wouldn't hyperthreading just be disabled on the machine if that led to increased performance? I'd expect there would be a variety of machine-wide configuration that would be done to get utmost throughout, no?

[2015-09-17 05:49] jasonwilliams200OK commented on #1086
@JeremyKuhne, thanks for the info! And good to know that Win32 API provides the functionality. :)

Would it make sense to change the behavior of existing `[Directory/File]Info.[Full]Name` methods, to make them emit actual casing? IMO, this breaking change would only affect those scenarios, which consumers are making case-sensitive path comparison which doesn't happen very often in production code

[2015-09-17 06:05] jasonwilliams200OK commented on #3284
:+1:
Some useful refs for implementation details:

Win32/WMI based solution: http://stackoverflow.com/a/188526 by @stephbu
Pure C# solution: http://stackoverflow.com/a/189371 by @jslicer
/cc @JonHanna :)

[2015-09-17 06:08] LLITCHEV commented on #3164
This turned out to be a clang 3.5 optimizer bug that in case of MIN_LONG * MIN_LONG that results into 0 instead of generating overflow exception.

[2015-09-17 06:51] robinsedlaczek commented on #381
I know this issue was closed long time ago, but if you allow, I like to add a thought: we also discussed this  topic with our teams when we created our internal guidelines long time ago. And we came to the point, that we always want to use braces. Also for single line statement blocks. So we must not think about and incorrect scoping can not occur accidentally.

[2015-09-17 07:00] jskeet opened #3287 "Coding style clarification"
The [coding style](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md) states:

Is this first sentence really meant to apply to all members, or just fields? Would you write:

[code]

or even more oddly (IMO)

[code]

? Looking at a couple of examples, I'm pleased to see that this doesn't appear to be the case - so should the style guide be changed to:

...

[2015-09-17 07:50] xanather commented on #1563
Will these types still use the hardware acceleration (SIMD) underneath (where applicible), or do we need to use System.Numerics.Vectors directly if we want that?

[2015-09-17 07:50] CodesInChaos commented on #3275
You could implement removing somewhat efficiently using this API: After removing an item generate a new enumerator with using the key of the removed item. Costs one search in the set and an allocation.

One could also extend `RemoveWhere` to take a lower and an upper bound in addition to the predicate or add a `RemoveBetween` method.

As the internal pointer you could use the enumerator, especiall

[2015-09-17 08:00] janhenke opened #3289 "FreeBSD shim build broken due to sign-conversion warning"
While building the native shims on FreeBSD, I see the following warnings. These warnings do not appear on Linux.

[code]

[2015-09-17 08:38] jasonwilliams200OK commented on #3289
Thanks @janhenke for spotting it! :)
/cc @nguerrera, @sokket.

Should we consider:

* explicit `static_cast<long>`'ing the result of `Convert..` function?
* make the return types of `Convert..` function C++ template based?

@janhenke, curiously, does current master build otherwise on FreeBSD (after replacing those statements with for example `static_cast` like: `pal.MaximumLimit = static_cast<long

[2015-09-17 08:45] janhenke commented on #3289
@jasonwilliams200OK I did not see any other warnings/errors so far, but for sure we can just tell after fixing this problem.

[2015-09-17 08:55] JonHanna commented on #3284
Hmm. I perhaps shouldn't have +1'd that answer since it didn't actually give the number of processors.

What it did give, the number of logical cores currently available to the process when processor affinity is considered, is certainly a useful thing to get too, though.

[2015-09-17 12:18] CodesInChaos commented on #3249
static MonotonicTime ForDateTime(DateTime utcNow);
    DateTime AsDateTime();

How would these work? If these function existed, it'd mean that `MonotonicTime` is equivalent to `DateTime` and `UtcNow`, which clearly contradicts the requirements of a monotonic clock.

[2015-09-17 13:59] #3233 closed

[2015-09-17 14:02] stephentoub opened #3290 "XmlWriterTestModule.TCCloseOutput failing in outer loop"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_outerloop_windows_release/703/console
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_outerloop_windows_debug/705/console
[code]

[2015-09-17 14:24] davidsh commented on #381
cc: @CIPop

+1.  I agree that all `if` statements should use braces even for single line statements.

[2015-09-17 15:18] FUR10N opened #3292 "POST'ing empty content throws an error in System.Net.Http"
If I make a web request and get an HTTP 204 in return, `WinHttpRequestStream` throws an `IOException` with a success message as the inner exception.

It looks like a bug in `WinHttpRequestStream.WriteData`. `Interop.WinHttp.WinHttpWriteData` returns false if the response is a 204 (I guess because there is no content).
`Marshal.GetLastError` returns `0` though indicating that there was no error.

S

[2015-09-17 15:49] NArnott opened #3293 "System.Collections.Immutable assembly considered Security Critical"
I'm writing a program where some untrusted code is running in a separate app domain.  I want this untrusted code to use various Immutables, but I get the following error:

`Attempt by security transparent method 'MyMethod' to access security critical method 'System.Collections.Immutable.ImmutableList.CreateBuilder<MyObject>()' failed.`

`Assembly 'MyAssembly, Version=1.0.0.0, Culture=neutral, Publ

[2015-09-17 15:55] stephentoub commented on #3293
cc: @weshaggard, @aarnott

[2015-09-17 16:06] sandorfr commented on #2155
I'm facing the same issue with beta7 on OSX. Is there a workaround?

[2015-09-17 16:13] KrzysztofCwalina commented on #3249
I can imagine this implementation (minus synchronization):

struct MonotonicTime {
   static long maxTicks;
   static MonotonicTime ForDateTime(DateTime utcNow){
      if(utcNow.Ticks > maxTicks) {
          maxTicks = utcNow.Ticks;
      }
      return new MonotonicTime(maxTicks);
   }
}

[2015-09-17 16:26] SamuelEnglard commented on #3107
That is a problem I did not know of. Hmmm

I completely agree with a need for one-time/one-way binding. I didn't mean to get rid of that.

[2015-09-17 16:28] stephentoub commented on #3284
Assuming we went ahead with the API, my guess is that on Windows we'd probably want to use GetLogicalProcessorInformationEx with RelationProcessorCore, on Linux we'd probably want to get the info from /procfs/cpuinfo, and on OS X we'd probably want to use sysctl or sysctlbyname.  But it's possible there are better options.

[2015-09-17 16:29] stephentoub commented on #3287
Thanks, @jskeet.  The style guide should be changed.  That naming style is meant to be for fields, not all members, as you correctly surmised. :smile:

[2015-09-17 16:32] stephentoub commented on #3287
Fixed: https://github.com/dotnet/corefx/commit/01aa9281598ab545c166a31a45319bd4d7acfbb3

[2015-09-17 16:38] jskeet commented on #3287
Cracking - thanks for the swift fix :)

[2015-09-17 16:38] #3287 closed

[2015-09-17 17:03] GSPP commented on #3249
@CodesInChaos true, I have edited those away.

[2015-09-17 17:04] terrajobst commented on #494
I don't understand what you're asking for. Are you asking for these methods to be added to `List<T>`? As you said, `Array` already exposes the methods you listed. AFAIK we didn't expose them all in first version of .NET Core (Windows Store) but we added most of them back since then.

[2015-09-17 17:05] GSPP commented on #3249
@KrzysztofCwalina that's not good enough because it can cause time to stand still for arbitrary periods of time.

I think `MonotonicTime` should be based on `Environment.TickCount64` or `Stopwatch.GetTimestamp` or whatever it is called. The latter is nice because it has high precision. Could be nice for logging when you can tell action apart that happened within microseconds. I always found the li

[2015-09-17 17:12] KrzysztofCwalina commented on #3249
@GSPP, I thought monotonic means never decreasing. Also, I am not sure what the semantics/implementation could be if you wanted to always increasing. Given the system clock is lower resolution than processor clock, it's not clear how it would be implemented.

[2015-09-17 17:24] #3289 closed

[2015-09-17 17:38] pallavit commented on #3134
I thought about this a bit more and an easy fix would be to add a check in the class constructor, in which case, every test will fail in case its run in non-admin mode. However, ideally, I would like to fail only once. I could not find anything short of creating an ITraitDiscoverer (but that will also just skip tests). First option is acceptable but just wanted to double check :)

[2015-09-17 17:48] CIPop commented on #381
+1 I completely agree with @robinsedlaczek
I've seen more than one security bug caused by this lately. The cost of these and their respective fixes outweigh the advantages of getting two lines less of code.

Alternative to @paulomorgado broken link above: [Apple's goto fail](https://nakedsecurity.sophos.com/2014/02/24/anatomy-of-a-goto-fail-apples-ssl-bug-explained-plus-an-unofficial-patch/).

[2015-09-17 18:05] anuchandy opened #3294 "Enabling System.Console.WindowWidth and System.Console.CursorVisible properties in CoreFx"
We are building a cross-platform command line tool which has support for displaying tables (using ascii chars) and showing progress. To render the table correctly we use WindowWidth and want to hide the cursor when we show progress.

[2015-09-17 18:07] stephentoub commented on #3294
@anuchandy, for these issues, we're generally aware that such members aren't available in the contracts.  If you're asking for them to be added, providing more details on the scenarios would be helpful.  Thanks for your interest.

[2015-09-17 18:16] nguerrera commented on #3247
There's a bad helper in System.Linq.Expressions.Tests too!

[2015-09-17 18:16] pallavit commented on #1153
@stephentoub Do you have any insights into its implementation cross-plat?

[2015-09-17 18:27] anuchandy commented on #3294
@stephentoub thank you. The scenarios are:

We are building a cross-platform command line tool which has support for displaying tables (using ascii chars) and showing progress. To render the table correctly we use WindowWidth and we want to hide the cursor when we show progress.

[2015-09-17 18:35] bartdesmet commented on #3247
Aha, that’d explain it. My F12 “Go to Definition” is still upset in some CoreCLR projects; it made me believe it came from System.Reflection.TypeExtensions IIRC.

Will you address those?

From: Nick Guerrera [mailto:notifications@github.com]
Sent: Thursday, September 17, 2015 11:17
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Bart De Smet <bartde@microsoft.com>
Subject: Re: [corefx] GetGeneri

[2015-09-17 18:37] nguerrera commented on #3247
Yep. PR coming shortly.

[2015-09-17 18:46] jasonwilliams200OK commented on #3284
Some more resources:

* C++11 approach: http://stackoverflow.com/a/2921632 (but it will not distinguish between physical CPUs form hyper-threads).
* http://stackoverflow.com/a/3082553 (one comment suggested that it won't work on latest Intel processor, and hence the answer is obsolete).
* These seem like the perfect solutions: http://stackoverflow.com/a/24824554 & http://stackoverflow.com/a/297612

[2015-09-17 18:56] terrajobst commented on #1151
Regarding the open question:

I don't think we'd want to add all these APIs to the core types. In other words, I think having a design that makes the APIs sit on top would be a requirement.

[2015-09-17 18:56] sokket commented on #2988
I'll be shim'ing the System.Net layer that is currently in Master next; I'll take a look at this and make sure I get the right calls for FreeBSD

[2015-09-17 18:59] janhenke commented on #2988
Thanks for the update.

[2015-09-17 19:00] terrajobst commented on #373
We've made the decision to treat `BitVector32` the same way we treat non-generic collection, which is that they are legacy types provided to support existing code. However, we don't want to invest in them and add new functionality.

[2015-09-17 19:00] #373 closed

[2015-09-17 19:01] jasonwilliams200OK commented on #2988
Thank you @sokket! With this done, FreeBSD would probably be fully supported platform by both .NET core repos (as well as all aspnet, and Roslyn!).

I assume your approach is to look for lowest common denominator: POSIX sys calls first? If available use POSIX, otherwise fallback to kernel-specific system calls.
That would be my choice too. :)

[2015-09-17 19:03] jasonwilliams200OK commented on #2988
@janhenke, FYI one important (qasi-related) PR is close to getting merged https://github.com/dotnet/corefx/pull/3257 :)

[2015-09-17 19:04] janhenke commented on #2988
@jasonwilliams200OK I already updated the list just before you wrote it. Once #3257 is merged, this one should be the last blocker on FreeBSD.

[2015-09-17 19:07] janhenke commented on #1626
#3257 should bring us both ```System.Diagnostic.Process``` and ```System.IO.FileSystem.Watcher``` leaving just ```System.Net.NameResolution``` unresolved. (I will check the mentioned two assemblies once the PR is merged and works on FreeBSD)

[2015-09-17 19:10] pallavit commented on #1153
I think we can implement Console.KeyAvailable by using poll() API.

[2015-09-17 19:12] stephentoub commented on #1153
To my knowledge, there's no direct equivalent to "what key is currently pressed" as you have on Windows.  Rather, various character sequences are written to the console to represent the various keys being pressed.  For the most part, these sequences are discernable by reading the terminfo file.  It contains the descriptions for the given terminal of what character sequence will be sent for what ke

[2015-09-17 19:12] jasonwilliams200OK commented on #2988
@stephentoub, @ellismg, since this is the last stopper, is it a good time to resurrect https://github.com/dotnet/corefx/pull/2533 and exclude FreeBSD from building `System.Net.NameResolution`? We can then probably request @mmitche to kick off FreeBSD instance for CoreFX on CI, so future PRs don't break our beloved OS support. :)

[2015-09-17 19:13] pallavit commented on #3260
We could implement this cross-plat by checking for S_IFCHR()

[2015-09-17 19:20] svick commented on #3249
@KrzysztofCwalina The way I understand it, monotonic *does* mean never decreasing, but that's not the only requirement. It's okay for the value to not increase for, say, 366 ns (that's what the resolution of `Stopwatch` seems to be for me). It's definitely not okay for it to not increase for an arbitrary amount of time.

Also, your implementation is not really monotonic (at least not with this int

[2015-09-17 19:20] stephentoub commented on #2988
@jasonwilliams200OK, I'm not following.  That PR was about adding a property to OSPlatform, but the implementation is already there to let you use OSPlatform.Create("FREEBSD").  And that let's you dynamically detect in code at runtime whether you're on FreeBSD or not, but that wouldn't help in getting the build system to skip a particular assembly when targeting a particular platform.

[2015-09-17 19:21] pallavit commented on #1153
@stephentoub Thanks for the direction. I will take a look at it :)

[2015-09-17 19:23] jasonwilliams200OK commented on #3114
@CIPop, just wanted to share a thought. In this kind of checklist, GitHub markdown has this feature to reflect the progress.

For instance (syntax tip: space between `-` and `[` is important):

[code]

will render:

- [ ] Replace `Interop.Secur32` names with OS names from the SDK (`sspi.h` and `schannel.h`).
- [x] Replace the `X509Certificate` ctor shim as soon as it is available.
- [ ] Move `_SSP

[2015-09-17 19:24] mburbea commented on #494
No, I'm asking to create a static class that would include them as extensions methods.
I'd like to be able to use `ConvertAll`/`FindAll` and methods like it as if they were instance methods.

e.g.
[code]
Right now, I have to do the chaining like so:
[code]

[2015-09-17 19:24] stephentoub commented on #3260
FWIW, we already do that :smile:
https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.Unix.cs#L77-L104

[2015-09-17 19:25] CIPop commented on #3114
Thanks @jasonwilliams200OK . Making the changes now.

[2015-09-17 19:25] janhenke commented on #2988
@jasonwilliams200OK I do not think that is a good plan. Let us wait for the last shim, which properly implements this assembly. Once we have archived that, we can think about adding FreeBSD to the CI/front page as "community supported platform".

[2015-09-17 19:28] stephentoub commented on #2988
@janhenke, are any of the corefx tests running successfully on FreeBSD?  If so, do you have a sense for what the success/failure rate looks like?

[2015-09-17 19:33] pallavit commented on #3260
Thanks :)

[2015-09-17 19:34] jasonwilliams200OK commented on #2988
Ops, ok agree with you guys. I was considering @stephentoub's comment https://github.com/dotnet/corefx/pull/2533#issuecomment-127262627, since we are very close to completion now. But it makes sense to have all assemblies compiling and tests passing before declaring the platform on public surface area.

[2015-09-17 19:37] stephentoub commented on #2988
Is it?  That's why I was asking about corefx test passing rates.  Successfully building is just the first step... the code actually needs to work :wink: If the tests are all or mostly already passing, that's exciting new.  I've just not heard any reports of that yet.

[2015-09-17 19:53] janhenke commented on #2988
@stephentoub there is no way of telling until we can build all assemblies for FreeBSD as far as I can see. It would be of course the logical step once we have the assemblies to make sure the test work on the same level as they do on Linux/OS X.
As all the platform code went to the shims, I am fairly confident that it will "just work". If not, we will fix the fall out.
I do share the opinion that w

[2015-09-17 19:59] mellinoe commented on #3294
We used WindowWidth in our command line helper class:

https://github.com/dotnet/buildtools/blob/master/src/common/CommandLine.cs#L1705

It was used to print out the "help/usage" message in a nicely-formatted table. It's much messier-looking now since I just hard-coded the width/height on .NET Core.

[2015-09-17 20:23] bartdesmet opened #3297 "Improve optimization strategy for BlockExpression"
The check for optimization to N-ary specialized nodes in the Block factories only happens for the Expression[] overload. With the addition of IReadOnlyList&lt;T&gt; to the framework, we can also optimize the IEnumerable&lt;Expression&gt; overloads, similar to the changes proposed in #3288.

[2015-09-17 20:33] nguerrera commented on #3277
The original example failed because you were passing an object of type CustomAttributeData instead of an instance of CmdletAttribute.

To get an actual CmdletAttrbute instance, you need to use [CustomAttributeExtensions][https://msdn.microsoft.com/en-us/library/system.reflection.customattributeextensions(v=vs.110).aspx).

Add System.Reflection.Extensions to your project.json and change the origina

[2015-09-17 20:33] #3277 closed

[2015-09-17 20:42] nguerrera commented on #2988
@janhenke You should still be able to run tests and ignore failures from (or skip) unimplemented API. See https://github.com/dotnet/corefx/blob/master/Documentation/building/cross-platform-testing.md

[2015-09-17 20:45] GSPP commented on #3249
@svick correct, it's supposed to be like `TickCount`. If it's not suitable for timeouts or relative time measurement it's no good. The more resolution and the cheaper to compute the better.

[2015-09-17 20:48] #3180 closed

[2015-09-17 20:51] jasonwilliams200OK commented on #2988
I am building current CoreFX master of FreeBSD 10.1 as we speak. :)
Running on via Hyper-V on Windows 10: https://github.com/dotnet/roslyn/issues/2844#issuecomment-129221304 :wink:

[2015-09-17 20:59] josteink commented on #2988
I'm just going to be cheerleading from the side here. This sounds like awesome news and is all in all about as exciting as an OSS project can get :D

[2015-09-17 22:09] Clockwork-Muse commented on #3134
A trait that could call out to a method for checking "run or skip? (+ message)" would be handy; there's a number of things in the PLINQ tests that require running on multi-threaded machines.
I'm of two minds about failing vs skipping in cases like this....

[2015-09-17 22:30] khdang opened #3301 "Reconcile XmlSerializerImplementation in XmlSerializer with desktop"
In NetCore:

public abstract class XmlSerializerImplementation
    {
        public virtual XmlSerializationReader Reader { get { throw new NotSupportedException(); } }
        public virtual XmlSerializationWriter Writer { get { throw new NotSupportedException(); } }
        public virtual IDictionary ReadMethods { get { throw new NotSupportedException(); } }
        public virtual IDictionary Wr

[2015-09-17 22:30] #2778 closed

[2015-09-17 22:34] khdang opened #3302 "Perf tests that deserialize large object graphs"

[2015-09-17 22:58] timothy-shields commented on #2155
@davidsh I'm trying to use `HttpClient` in `dnxcore50` code running on Ubuntu 14.04 LTS.  I get the same exception: `Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'winhttp.dll': Error 126 (Exception from HRESULT: 0x8007007E)`.  Is there no support yet for making HTTP requests on Linux?  Or am I doing something wrong?

[2015-09-17 23:03] davidsh commented on #2155
If you're using the binary packages from NuGet or other feeds, then non-Windows platforms are NOT supported.  The packages only contain Windows binaries.

If you want to try out cross-platform stuff, you need to build from sources directly from GitHub CoreFx repo.

Provding cross-platform binaries in the NuGet packages is still a few weeks away.  @ericstj can comment on that.

[2015-09-17 23:22] #3247 closed

[2015-09-18 03:10] DamianEdwards commented on #3284
@stephentoub I need to do a more thorough investigation, but as it is now, configuring Kestrel to use as may threads for IO as there are CPUs results in worse performance in simple benchmarks than current CPUs / 2. Like I said, I need to investigate further as to whether this is an artifact of Hyper-Threading or just creating too many IO threads in general (and leaving less CPU time for no IO work

[2015-09-18 03:59] davidsh commented on #3292
@FUR10N Since you're talking about `WinHttpRequestStream`, are you making a POST request and not a GET request to the server?  Can you clarify the HTTP verb you're using?

[2015-09-18 04:03] davidsh commented on #3292
Also, can you give a repro of what server returned the 204?  Or perhaps a trace of the response headers that came back?  That will help in the bug investigation.

[2015-09-18 05:52] Clockwork-Muse commented on #3018
@stephentoub - yes, I am.
It looked like the csproj references were still there, so I removed them (since there's nuget references).  PR is #3305 .

Now we just have to figure out why VS is complaining about not being able to install targets/props in the case of multiple frameworks (only warnings, builds otherwise).

[2015-09-18 07:02] migig commented on #1894
We get the same problem, same stacktraces.

[2015-09-18 08:12] bartdesmet opened #3308 "EngineExecutionException possibly related to use of isinst"
The following code is very similar to the proposed change in #3288 where an "as" expression is used to perform a type check against a collection.

[code]

Building the above in Debug build and running it with 'coreclr repro.exe 10000000' consistently causes an EngineExecutionException after a while (one order of magnitude less iterations is not sufficient to trigger the fatal condition). Unfortuna

[2015-09-18 08:45] bartdesmet commented on #3308
Maybe related to https://support.microsoft.com/en-us/kb/2679415?

[2015-09-18 11:29] FUR10N commented on #3292
The full output from fiddler is below.
It's a POST request and I don't think I can make the server I'm using available.

Did this code change from this release: https://www.nuget.org/packages/System.Net.Http/4.0.0

If I copy that DLL in then it works fine, but if I build it myself I get the error.

Request
[code]
Response
[code]

[2015-09-18 12:41] stephentoub commented on #3308
@jkotas, I was able to repro this on .NET 4.6 64-bit as well.

[2015-09-18 12:51] stephentoub commented on #3284
Thanks, @DamianEdwards.  I completely agree having a good default is important, and we should ensure the right APIs are exposed to enable your picking such a good level.  I just want to make sure we're setting that default based on the right information.

In your benchmarks, the optimal level for your I/O thread count was exactly at the number of physical cores, or was it higher or lower than that

[2015-09-18 14:35] devhawk opened #3310 "Add byte array an/or ImmutableArray<byte> ctor for Sys.Reflection.Metadata.BlobReader"
BlobReader has an unsafe ctor that takes a byte*/length but doesn't have any public ctor that makes it usable from a purely safe context. Can we add a safe ctor that takes either a byte array or an immutable byte array? As far as I can tell, the following would be a reasonable implementation (i.e. it would match the logic of the existing public ctor)

[code]

[2015-09-18 15:36] nguerrera commented on #3310
cc @tmat

BlobReader is a struct and does not managed lifetime of the memory it reads, but hat provider needs to be disposed. We can't safely (well, certainly not cheaply) make BlobReader disposable because there can be arbitrary copies.

Is there something higher level that you're trying to accomplish? Maybe we can work from that to a different solution.

[2015-09-18 15:41] timothy-shields commented on #2155
@ericstj Do you have an estimate of when `HttpClient` support we be available on Linux?

[2015-09-18 15:56] kruncher commented on #3107
I think that it might be worth considering having "sourcePropertyPath" instead of "sourcePropertyName" (and likewise for the target property) allowing it to behave as suggested in the following article:

[SimplePropertyPath: A Poor Man's Binding](http://blog.stephencleary.com/2009/07/this-post-illustrates-one-of-several.html)

This would allow for binding like:
[code]

[2015-09-18 16:02] stephentoub commented on #3290
@krwq, this is failing consistently, both in the lab and locally for me.  It looks like a real regression.  Can you take a look?

[2015-09-18 16:04] VSadov opened #3311 "Need a standard convention to refer to bugs from corresponding regression tests."
Roslyn uses WorkItemAttribute as a standardized way for regression tests to refer to bugs. It has been found very useful in the past, since bug descriptions and discussions can contain a lot of relevant information, that would be hard to make a part of a test.
Being an attribute makes it easy to find in an automated way if so needed (bugs migrated to alternative store or something)

Turns out Linq

[2015-09-18 16:05] stephentoub opened #3312 "WinHttpHandlerTest.SendAsync_SlowPostRequestWithTimedCancellation_ExpectTaskCanceledException failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release/1240/console
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release/1245/console
[code]

[2015-09-18 16:06] VSadov commented on #3311
I would prefer to use an attribute, since natural text comments seem to be not as friendly to tooling. There could be other ways though. Including "let's not do this".

[2015-09-18 16:07] VSadov commented on #3311
@stephentoub @bartonjs @mmitche   -  any suggestions here?

[2015-09-18 16:15] jkotas commented on #3308
@Maoni0 this looks like a GC bug to me

[code]

[2015-09-18 16:21] bartonjs commented on #3311
My personal opinion is that this is unproductive, so I'd call it a "Won't Fix".

* Anything that existed pre-us-being-on-github has no such things, because they are now considered to have been around since time immemorial.
* Maybe now we'll stick to one issues database for longer than 2 years, but historically around the time you write down an issue number you regret it because the bug database ju

[2015-09-18 16:21] mmitche commented on #3311
I want to say that we already have something close to this?

We have: [ActiveIssue(846, PlatformID.AnyUnix)] where 846 is the GH id.  This attribute will implicitly disable the test.  If we need an attribute that won't disable the test we should add one.

[2015-09-18 16:23] mmitche commented on #3311
We could augment this to something like:

Issue(State.Active, 846, PlatformID.AnyUnix)

Where the state enum is something like:

State {
  WontFix
  Fixed
  Active
}

[2015-09-18 16:25] davidsh commented on #3312
I've discovered that the FakeSafeWinHttpHandle leak detection isn't stable.  SafeHandles finalize via the CriticalFinalizer thread.  This thread doesn't seem to run deterministically, so using code like this to wait for SafeHandles to be finalized (and then testing for leaks) doesn't work reliably.

[code]

[2015-09-18 16:37] VSadov commented on #3311
@bartonjs - I find me using references from tests to bugs relatively regularly. Perhaps once a month a situation arise where a change breaks some strange-looking test and I am curious about the history of the scenario - whether that was a compatibility or perf related thing, whether there the issue was theoretical or reported by multiple customers etc. Typically this is not blocking, but very usef

[2015-09-18 16:43] VSadov commented on #3311
A concrete and recent example -
The first attempt to fix https://github.com/dotnet/roslyn/issues/4471 resulted in a unit test break. The unit test had a reference to a bug (internal in this case) that contained a fairly thorough investigation/discussion about whether the new behavior is matching the spec and how that impacts backwards compatibility. That was definitely a time saver to have that in

[2015-09-18 17:25] devhawk commented on #3310
I'm trying to parse encoded Types in signatures (ECMA 335 II.23.2.12). I saw that there are better signature parsing APIs in dev/metadata branch as described in in #262? Are those ready for prime time?

[2015-09-18 17:45] devhawk commented on #3310
I took a look @ the classes in the Decode folder of the dev/metadata branch. Is there any spec/docs/guidance on implemented ISignatureTypeProvider?

[2015-09-18 17:51] bartonjs commented on #1774
This was fixed via PR 1774, it just didn't trip the auto-close syntax.

[2015-09-18 17:51] #1774 closed

[2015-09-18 17:52] joshfree commented on #933
@eerhardt could you take a quick look while Matt is out?

[2015-09-18 17:55] devhawk commented on #262
Can you publish the mini spec?

[2015-09-18 17:56] nguerrera commented on #3310
Not yet, but there are some examples in early adopters:
* https://github.com/dotnet/corefxlab/blob/a52a1626dd91e37597b5b6273d8a7996e7471974/src/System.Reflection.Metadata.Cil/src/Decoder/CilTypeProvider.cs
* https://github.com/dotnet/roslyn/blob/aa28d6b7d55148d17d520fa5c01dda8c57cd0116/src/Test/PdbUtilities/Pdb/PdbToXml.cs#L1056
* https://github.com/Microsoft/dotnet-apiport/blob/9d17e44358b64d5c6d

[2015-09-18 18:01] nguerrera commented on #3310
Note also, fwiw, that you can get a BlobReader from a BlobHandle without an intermediate step as byte[] or ImmutableArray<bytes>. There is zero copying in that case and the lifetime is controlled by the lifetime of the PEReader.

See https://github.com/dotnet/corefx/blob/913b535a83e05b7e52f795ae3e5f1a84b84536ee/src/System.Reflection.Metadata/src/System/Reflection/Metadata/Decoding/SignatureDecoder

[2015-09-18 18:05] nguerrera commented on #262
Yes. Preparing it for API review (which will be public). This had been on the backburner but is getting prioritized now.

[2015-09-18 18:45] nguerrera commented on #3310
I am closing this because we can't efficiently support it and I think that even without #262 stable, the main use case to go from BlobHandle -> BlobReader is covered without dropping down to unsafe code. Feel free to reopen if you disagree.

[2015-09-18 18:45] #3310 closed

[2015-09-18 18:52] devhawk commented on #3310
My reasoning for opening this issue is to be able to parse a part of signature blob. I wanted a way to pass the part of signature blob to other code for parsing. I'm not a fan of doing that with BlobReader since BlobReader's have an inherent sense of "current location". But if there is going to be a built in signature blob parser, I'd rather use that anyway so I'll leave this closed.

[2015-09-18 19:35] axelheer commented on #3220
Okay, I did the benchmark: dividing 1024 bit integers by 16 bit integers a million times leads to 542 ms before this tweak / 446 ms after this tweak, which I find quite significant.

A agree that an JITer optimization (as pointed out by @CodesInChaos) would be great, but since that isn't on the roadmap yet (as by @stephentoub's linked issue), I'd speak for @artelk's optimization. I'll prepare a PR

[2015-09-18 21:06] LLITCHEV commented on #3164
PR #1577 merged.

[2015-09-18 21:06] #3164 closed

[2015-09-18 21:59] pgavlin commented on #2481
This is done,

[2015-09-18 21:59] #2481 closed

[2015-09-18 21:59] pgavlin commented on #2490
This is done.

[2015-09-18 21:59] #2490 closed

[2015-09-18 21:59] pgavlin commented on #2894
Moving this to beta8.

[2015-09-18 22:08] khdang opened #3316 "Fix performance issue when deserializing base64 content with linebreaks chars in DCS"

[2015-09-18 23:18] KrzysztofCwalina commented on #3249
@GSPP, @svick, Can you then propose an implementation? I am not sure how to get the semantics you want.

[2015-09-18 23:19] nguerrera commented on #3192
I'm not sure what happened, but these tests are even slower now on my machine.
[code]

[2015-09-19 04:09] weshaggard commented on #2804
cc @tarekgh

[2015-09-19 04:15] weshaggard commented on #3134
@chrisboh we need a way to declare these requirements in our test system.

[2015-09-19 04:48] davidsh commented on #3134
We might want to look into this Xunit extension which allows for creating skippable [Fact] and [Theory]:

https://github.com/AArnott/Xunit.SkippableFact

It doesn't yet work w/ CoreCLR but it could.

[2015-09-19 08:39] GSPP commented on #3249
@KrzysztofCwalina I think Stopwatch timestamps should work. According to search engines they even continue advancing when the system is hibernated.

[2015-09-19 09:42] am11 opened #3318 "Proposal: Base64/128 Variable Length Quantity (VLQ) in System.Convert"
### Concept:

`System.Convert` currently resides in CoreCLR repo: [https://github.com/dotnet/coreclr/../System/Convert.cs](https://github.com/dotnet/coreclr/blob/f665f226/src/mscorlib/src/System/Convert.cs). The class has number of methods `ToBase64*` and `FromBase64*` with various signatures. The base64 encoding has 8-bit fixed length.

The are many applications of variable length base64 encoding

[2015-09-19 13:49] #3211 closed

[2015-09-19 13:50] stephentoub commented on #3312
Thanks, David.  Sounds good.  Let's go ahead and disable it in the meantime.  It seems to be taking out a fair number of the release CI runs.

[2015-09-19 13:52] stephentoub opened #3319 "CurlHandler asserting in WCF tests"
[code]

[2015-09-19 13:55] stephentoub opened #3320 "CurlHandler throwing "HTTP stack not implemented" exception from SupportsRedirectConfiguration"
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Unix.cs#L25

[2015-09-19 13:56] stephentoub opened #3321 "CurlHandler throwing "HTTP stack not implemented" from MaxRequestContentBufferSize"
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Unix.cs#L129-L133

[2015-09-19 14:02] stephentoub opened #3322 "CurlHandler throwing NotImplementedException for non-http/https schemes"
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.cs#L276-L279

Even if we're supposed to throw here, it shouldn't be NotImplemented.ByDesignWithMessage, more likely PlatformNotSupportedException.

That said, this might be dead code: it looks like checks for the sheme happen before we even get to this point:
[code]

So potentially this might just

[2015-09-19 14:29] stephentoub commented on #3192
I'm not sure what changed.  I'm also not seeing them take nearly that long (are you running, but I am seeing them take ~50 seconds, which is a 10x increase from where they were a few days ago.

I see that the DirectoryLongerThanMaxLongPath_ThrowsPathTooLongException test is taking ~40 seconds of that.

@JeremyKuhne, can you take a look?

[2015-09-19 14:55] davidsh commented on #3321
`MaxRequestContentBufferSize` is considered a "deprecated" property in HttpClientHandler.  Even on .NET Desktop, it was only used in rare case where the HttpClientHandler would buffer in the request body if it didn't know the length (no Content-Length header) and Transfer-Encoding: chunked was not specified.  This behavior was changed in CoreFx so that in cases where it is ambiguous, chunked is us

[2015-09-19 14:57] stephentoub commented on #3321
Thanks.  I'm fine if we decide to still throw, but we should throw NotSupportedException rather than NotImplementedException.

[2015-09-19 18:56] louislewis2 opened #3324 "Hardware Details API - Hardware Fingerprint"
It would be great to add an api that we could use to get hardware specific information.
Some of these may include
1. Mac Addresses
2. Processor Information
3. Graphic card Information
4. Base Board Information
5. Unique fingerprint based on hardware

I think many applications out there implement features depending on what hardware is available.
Furthermore like us, licensing applications in certai

[2015-09-19 19:37] davidsh commented on #3312
Fixed w/ #3323.

[2015-09-19 19:37] #3312 closed

[2015-09-19 20:42] stephentoub commented on #3308
@Maoni0 shared that she believes this is the same issue as https://github.com/Microsoft/visualfsharp/issues/566 and that she has a fix almost ready.

[2015-09-19 22:07] Michael-DST commented on #2394
Please keep Xaml. :)  JSON serialized objects would be interesting, too.  But I would prefer to see providers that are configured somehow in the framework to choose the preferred format.

[2015-09-19 23:28] Clockwork-Muse commented on #3324
Random stuff to consider:
What's a hardware fingerprint supposed to look like in the case of virtualization (or other emulation)?
Does providing a fingerprint touch privacy information that the OS wants to control?
To what extent is "my grandfather's ax" supported?
What MAC address is returned if the value has been remapped?

I personally am a little unclear on some of the effects due to our curre

[2015-09-20 01:00] dougbu commented on #2777
Note this issue impacts `System.Uri` as well. That class calls `string.Normalize()` at https://github.com/dotnet/corefx/blob/41e203011152581a6c65bb81ac44ec037140c1bb/src/System.Private.Uri/src/System/Uri.cs#L4178 and 3 other places. If this issue can't be fixed fairly quickly, would like to see a workaround in `System.Uri`.

For example the hostname "pingüino" in a URI leads to the following stack

[2015-09-20 01:11] davidsh commented on #2777
cc: @CIPop due to impact to System.Uri.

[2015-09-20 01:13] #3321 closed

[2015-09-20 03:07] ellismg commented on #2777
The changes to enable normalization should land early next week.

[2015-09-20 05:44] cdrnet commented on #3324
I assume that disabling the advertisement ID in the Windows privacy settings would have to disable such a fingerprint off as well?

[2015-09-20 06:13] weshaggard commented on #3192
These tests are taking a really long time on my machine as well.
[code]

While DirectoryLongerThanMaxLongPath_ThrowsPathTooLongException is taking a while, 55.07s for me the main one taking most of the time is PathWithReservedDeviceNameAsPath_ThrowsDirectoryNotFoundException which took 253.66s for my run.

[2015-09-20 08:59] dougbu opened #3332 "Apparently unable to change cultures on Linux"
With System.Globalization 4.0.11-beta-23302, all cultures are apparently "Invariant Language (Invariant Country)". That is the `EnglishName` value of the initial culture as well as `new CultureInfo("en-GB")` and `new CultureInfo("fr-FR")`.

Unsurprisingly, changing `CurrentCulture`, `CurrentUICulture`, `DefaultThreadCurrentCulture`, or `DefaultThreadCurrentUICulture` has no effect.

For example th

[2015-09-20 09:00] dougbu commented on #3332
@ellismg is this expected until #2770 is done?

[2015-09-20 10:54] ellismg commented on #3332
Yes.  We presently use invariant data for all locales.  This should also be fixed by beta8.

[2015-09-20 12:50] Clockwork-Muse commented on #3324
@cdrnet - hmm, something like that, although I think I'd go for a separate setting, especially as there's a number of cases where the user can't change it/reset it (ie, tablets).  It's more pervasive and harder or "impossible" to get an 'anonymous' one.

I kinda feel like a per-hardware license (for programs) runs counter to where Windows is going ("use the same app on every device you own").  Pro

[2015-09-20 15:20] AArnott commented on #3293
I'm in favor of such a change. I thought all the assemblies we distribute on NuGet such as this were security transparent anyway.

[2015-09-20 16:32] fujiy opened #3334 "Linux & Mac Support for System.Security.Cryptography.Pkcs"
Is there any plan to support classes in System.Security.Cryptography.Pkcs namespace? Its essential to create p7s files and sign data.

Thanks

[2015-09-20 19:39] davidfowl opened #3336 "Expose Assembly.EntryPoint"
Today Assembly is missing EntryPoint, it would be great if this were exposed (as it in on .NET Framework) so that managed code can invoke entry points in other managed executables.

See https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Runtime.Sources/Impl/EntryPointExecutor.cs#L77 as an example.

/cc @nguerrera

[2015-09-20 20:15] ikopylov opened #3337 "System.Linq ToDictionary performance improvement"
This issue address a __ToDictionary__ part of the closed issue #1182.

Two things can be improved in _ToDictionary_ method:
1. Initial capacity estimation for known collection types (_T[]_ and _ICollection\<T\>_);
2. Separate implementation of the overload without _elementSelector_ to avoid usage of _IdentityFunction\<TSource\>_.

[2015-09-20 21:31] weshaggard commented on #2302
Temporarily I've added these shim assemblies to our runtime package (Microsoft.NETCore.Runtime.CoreCLR) until we figure out the exact packaging strategy.

[2015-09-20 21:37] weshaggard commented on #3336
This seems reasonable assigning to @nguerrera to have a look.

[2015-09-20 22:35] dougbu commented on #2774
@ellismg does this issue have the downstream impact that `System.Text.Encoding`'s `ASCII` property is of type `System.Text.UTF8Encoding` with Core CLR on Linux? If not, is that something else in this repo or a new issue?

[2015-09-21 01:53] ellismg commented on #2774
@dougbu, I believe so.

[2015-09-21 01:54] ellismg commented on #2774
Eric, can you take a look into this?  Tarek and Wes understand the encoding provider model and I can also answer questions tomorrow while I travel.

[2015-09-21 02:45] davidsh opened #3343 "HttpContentTest.ReadAsStringAsync_SetInvalidCharset_ThrowsInvalidOperationException fails on Linux"
Part of PR #3340, this test fails on Linux.  Disabling for now.

System.Net.Http.Functional.Tests.HttpContentTest.ReadAsStringAsync_SetInvalidCharset_ThrowsInvalidOperationException

Stacktrace
MESSAGE:
Assert.Throws() Failure Expected: typeof(System.InvalidOperationException) Actual: (No exception was thrown)
+++++++++++++++++++
STACK TRACE:
--- End of stack trace from previous location where exc

[2015-09-21 10:57] louislewis2 commented on #3324
I think that there should be a distinction between user applications and server applications. While it may make sense for a user app to be able to transition from device to device the same should not be said for server applications.

If providing a "fingerprint" method is harder to achieve, I think providing developers with an api that will allow them to get hardware details which they can use to

[2015-09-21 15:06] stephentoub commented on #2667
Again here.... I believe 0xc0000005 is an access violation...
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/4007/console
[code]

[2015-09-21 15:32] KrzysztofCwalina commented on #3249
@GSPP, ah, ok. I got confused. I thought you did not want to use Stopwatch/QueryPerformanceCounter for so reason.

[2015-09-21 16:13] VSadov commented on #3297
related - https://github.com/dotnet/coreclr/issues/1592

[2015-09-21 16:46] davidsh commented on #3343
This is due to #846... master doesn't yet have a properly implemented GetCodePageFromName method, which is returning UTF8 for unrecognized names rather than throwing (https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Globalization/EncodingTable.Unix.cs#L45-L64)

[2015-09-21 18:02] VSadov commented on #3196
closed in https://github.com/dotnet/corefx/pull/3227

[2015-09-21 18:02] #3196 closed

[2015-09-21 18:10] pallavit opened #3349 "Declare requirements in the tests to run\skip based on runtime checks"
As of now a no. of tests have requirements which make them applicable only in certain situations. For example, ServiceProcess tests can only be run in admin mode, several PLINQ tests need to be run on multi-threaded machines. (We do have an option of marking these tests OpenLoop, but that seems like a broader classification). Currently, the only way to assert these requirements is to update the co

[2015-09-21 18:11] pallavit commented on #3134
Since, we might need a change at the test infrastructure level rather than at this particular test level, I have created #3349

[2015-09-21 18:33] JonHanna commented on #3297
Related: #3046

[2015-09-21 19:07] tarekgh commented on #2804
The AbbreviatedMonthGenitiveNames is not really used at all in the formatting and we always use AbbreviatedMonthNames. if you look at the doc:
https://msdn.microsoft.com/en-us/library/system.globalization.datetimeformatinfo(v=vs.110).aspx
it states:

Note that the doc didn't mentioning the usage of AbbreviatedMonthGenitiveNames with "MMM" and always use AbbreviatedMonthNames while it mention Month

[2015-09-21 19:50] javiercampos commented on #2804
The doc at https://msdn.microsoft.com/en-us/library/system.globalization.datetimeformatinfo.abbreviatedmonthgenitivenames(v=vs.110).aspx actually states (bolds are mine):

So according to "that" doc it should do it. Don't know why it's not stated in the `DateTimeFormatInfo` one.

[2015-09-21 19:56] tarekgh commented on #2804
@javiercampos yes that is because it always assume AbbreviatedMonthNames is set when  AbbreviatedMonthGenitiveNames is,

Also that is what is happening in the code too.
As I mentioned I don't know the historical reason for that but trying to find out.

[2015-09-21 21:40] pebezo commented on #2050
To avoid confusion, I would not call it Try*. Instead I would introduce a different pattern:

`int? result = int.ParseOrDefault(input);`
`int result = int.ParseOrDefault(input) ?? 0;`

This way it's intuitive that the return is not a bool (Try* = success or failure) and it mirrors the FirstOrDefault() pattern.

[2015-09-21 22:46] ikopylov opened #3357 "ConcurrentDictionary: Count property is too expensive"
In the current implementation of ```Count``` property from ```ConcurrentDictionary<TKey, TValue>``` the full lock is acquired, which is quite expensive. It is much better to add a private field to track element count in the whole dictionary and update it by ```Interlocked``` operations.

It would be great if someone will implement this performance tweak.

[2015-09-21 22:55] stephentoub commented on #3357
It's not, though.  When many threads are mutating the dictionary, those interlocked operations on a single shared field are going to cause contention across all of those threads, slowing down adds/removes/updates/etc; the design of ConcurrentDictionary is such that different threads typically end up taking different locks, such that this contention is eliminated, and we chose to prioritize such op

[2015-09-21 22:58] VSadov commented on #3357
One extra Interlocked operation on add would be noticeable on the performance of Concurrent dictionary. In particular if many threads are adding since they would share the counter.

It is possible to mitigate the sharing by using a striped counter, but is this an important enough scenario to bother?

Count of a concurrent table would be useful only if caller can be sure the table is in quiescent s

[2015-09-21 22:58] JonHanna commented on #3357
Interlocked on a single field from multiple cores would make for a bottleneck as every thread competes to update it. If you are going to maintain a tally, you would really want to do it with an array of ints, and add them when the count is requested. They'd also need to be spaced from each other in memory to avoid false sharing, so it would need to cover several cache lines (say maybe covering 1Ki

[2015-09-21 23:01] JonHanna commented on #3357
I've implemented a concurrent dictionary which takes a completely different approach to that in the framework. It needed to maintain a count as part of its implementation, and if I replace its striped counter with a single integer it becomes massively slower, even if I don't use interlocked (since it only really needs an estimate and could tolerate the occasional mis-write). It really does make a

[2015-09-21 23:25] sharwell commented on #3357
Right now I'm mostly interested in the reason why `Count` can't be implemented as follows:

[code]

[2015-09-21 23:25] Clockwork-Muse commented on #3324
@louislewis2 - I wasn't expecting a machine to be externally addressable via a fingerprint.  How did that work?

[2015-09-21 23:26] jasonwilliams200OK commented on #3357
@CodesInChaos shared some useful thoughts on a related topic here:
http://stackoverflow.com/a/5222021.

[2015-09-21 23:51] stephentoub commented on #3357
Because it was designed to have snapshot semantics.

[2015-09-21 23:53] louislewis2 commented on #3324
I am merely trying to show that licensing is not the only use case to have a fingerprint or the ability to create one from hardware information. The example I added was just 1 feature we have built before that required a unique per device id, which we called a fingerprint.

Of course that solution was on Windows and we used the .Net framework's (System.Management.ManagementClass) to get hardware i

[2015-09-22 01:27] sharwell commented on #3357
Thanks, this was enough to figure out an example ordering:

Thread 1:

* Read `Count`

Thread 2:

1. Add *X*
1. Remove *X*
1. Add *Y*

The count operation could read the `countPerLock` bucket holding *X* between steps 1 and 2, followed by reading the `countPerLock` bucket holding *Y* after step 3. The count would be reported as though both *X* and *Y* were in the collection, even though there is n

[2015-09-22 02:22] NickCraver commented on #1039
@terrajobst Can you please comment if any way to get a result set schema is coming to .Net Core? If it's not then I need to abandon .Net core for features and entire projects on my end. Not knowing what is or isn't on the roadmap is extremely frustrating from the user end of things. There are a large number of use cases here and there's been no Microsoft response on these pretty fundamental featur

[2015-09-22 02:24] #3316 closed

[2015-09-22 02:47] stephentoub commented on #3016
@kapilash, is this still an issue or was it fixed?

[2015-09-22 03:49] Petermarcu commented on #1039
@YoungGah to help provide more clarity on the roadmap for this component.

[2015-09-22 04:19] JeremyKuhne commented on #3192
Something to do with being on corpnet probably. Investigating.

[2015-09-22 04:23] GiorgioG commented on #1039
It's short-sighted on Microsoft's part to brush aside the serious concerns of some pretty smart people in the .Net community.  If Microsoft is serious about cross-platform .Net, then it can't leave out vital functionality.  I've been considering leaving .Net altogether for some time and Microsoft's mishandling of issues like this only serve to alienate people like me further.  Sad, given that I've

[2015-09-22 06:15] tushargupta51 commented on #2500
Is there any update on the EventSource support on linux/mac as described in this document: https://github.com/dotnet/coreclr/blob/master/Documentation/coding-guidelines/cross-platform-performance-and-eventing.md.? We are using EventSource in our library that is cross platform and was wondering how EventSource.WriteEvent(..) will work by default on linux/mac. And if there is any support for EventLi

[2015-09-22 06:17] rajansingh10 opened #3362 "System.Net.Security related Pending PR coments/TODO"
1. Interop.OpenSsl TODO - See if SSL_CTX_Set_quite_shutdown can be used

[2015-09-22 06:53] kapilash commented on #3016
This has been fixed via #3178. Sorry for not updating. Closing the issue

[2015-09-22 06:53] #3016 closed

[2015-09-22 07:02] benaadams commented on #1039
@NickCraver there is a [```SqlMetaData``` class](https://github.com/dotnet/corefx/blob/0987afcd536743bf3a5cf868b3598e898f4aea53/src/System.Data.SqlClient/ref/System.Data.SqlClient.cs#L95), not sure where/how it fits in though.

[2015-09-22 07:33] FransBouma commented on #1039
@benaadams Anything in the SqlClient namespace is not usable. It has to be a Data.Common class so it is usable by all ADO.NET providers that will be running on .net core. That's what makes this issue so important: DbDataReader, the base class, has to have an API for this (as it does now in full .net, but it's using DataTable at the moment, hence the issue! :)) so ADO.NET providers can fill in the

[2015-09-22 08:27] CodesInChaos commented on #3318
I don't like stuffing more encodings into the `Convert`, since that's rather non-modular. Even Base64 should have been a separate class.

I don't see much benefit in unifying Base 64 VLQ and Base 128 VLQ, implementations. Despite the similar names, Base 128 VLQ seems to be a binary 8 bit encoding whereas Base 64 VLQ seems to be a text encoding.

I'd prefer a separate assembly for source map handli

[2015-09-22 08:56] schotime commented on #1039
I use `List<Dictionary<string, object>>`  for all dynamic queries.
Done!

[2015-09-22 08:57] FransBouma commented on #1039
@Petermarcu There's no need for a roadmap, it has to be in the API at day RTM as **all** ADO.NET providers have to provide the same API to produce this essential piece of information. It's useless to have some SqlClient class which can perhaps do it, as users working on e.g. PostgreSql with Npgsql can't use that.

Lessons from ADO.NET in .NET 1.0/1.1 clearly dictate if you don't put it in the API

[2015-09-22 09:00] schotime commented on #1039
@FransBouma Good point. You've done a pretty good job of that yourself ;)

[2015-09-22 09:11] am11 commented on #3318
Thanks for the input @CodesInChaos.

In which case VLQ variant can probably share the same class; as with certain flexible implementation, redundancies can be avoided in achieving both fixed and variable length quantities.

The bit which distinguish between source-map V

Note that the only part of V3 source-map template I referred here is `"mappings": "<this value>"`, as this proposal chiefly conc

[2015-09-22 09:17] FransBouma commented on #1039
Of course. https://github.com/schotime/NPoco/blob/8334a03ff06d2bbe8dcd4caf0c342cd4730202c7/src/NPoco/SqlBulkCopyHelper.cs#L28

Have fun porting that to .NET core, Adam. Or closer to home (which I now maintain Massive), I'd like to port Massive to .NET core some day but that's difficult too, as a lack of schema info retrieval (the core issue) is a bit of a hurdle. If there's no dynamic resultset re

[2015-09-22 09:29] schotime commented on #1039
So it won't be in the first version of .NET Core. That's why its the first version. Neither is SignalR and other staple libraries.

The .NET core version of NPoco will be pretty easy. It just won't have that method in it. You can only support what the platform libraries support when they support it.

[2015-09-22 09:42] FransBouma commented on #1039
@schotime So you're not affected by it, that's great. Others unfortunately are. Your post suggested those people are talking out of their ass. I can assure you, we're not. It's not that we want **that** method, but **a** method which allows developers to obtain meta-data of a resultset. If it's not in v1.0, every ADO.NET provider out there will provide their own solution which is meaningless as it

[2015-09-22 10:39] nvivo commented on #1039
@FransBouma This is definitely not what I got from his post. To me @schotime was simply being reasonable. You said you have a product that depends on these features and you make a living out of it, so you have a lot at stake, we get it. But this can't be the only side the team sees to make a decision.

...

How you're not the one being a jerk here? You're the one who thinks people with a different

[2015-09-22 10:44] ryanbnl commented on #1039
@FransBouma don't you use INFORMATION_SCHEMA? It's cross platform, cross database and cross language. It's *THE* API for database metadata.

I use it for all of my database-related code generation needs, from generating types to automated migrations.

[2015-09-22 10:59] NickCraver commented on #1039
@nvivo I think there are several problems and bad assumptions with the view here. The mere fact that someone was labeled Legacy which has not been superseded immediately indicates to me that the .Net team isn't aware of many use cases altogether, not that they have been consciously recognized and not prioritized.

As far as specific points:

Saying that the only method wasn't good isn't justificat

[2015-09-22 11:02] FransBouma commented on #1039
@ryanbnl Not all databases implement all INFORMATION_SCHEMA schemas, and not all of them do it correctly (I've written meta-data retrieval systems for many RDBMSs and there isn't a way to obtain deep meta-data (like which FK fields are used in which FK constraint) for all DBs). But even if they all do, the problem is still that the information inside the schemas isn't of the same type in each DB,

[2015-09-22 11:14] ryanbnl commented on #1039
Ahh, that makes a lot of sense. I've not (yet) hit issues of incomplete INFORMATION_SCHEMA metadata. That is indeed an massive advantage to using the .net metadata.

Do you have to offer 100% support or .Net Core targets? People targeting .Net Core next year will all be the early adopter types, they (we) can accept pragmatic limitations..

[2015-09-22 12:14] stephentoub commented on #2500
EventListener already works on Linux and OS X.

[2015-09-22 12:20] nvivo commented on #1039
@NickCraver,

It seems we have 3 different discussions here:

1) having datatable/dataview available in CoreFX somehow
2) having some way to extract schema information for objects and dynamic queries
3) keeping the old api for returning a DataTable with a schema from DataReader

I'm all in favor of the first two. (1) can be done in separate packages and it [probably will](https://github.com/dotnet

[2015-09-22 12:39] mormegil-cz opened #3364 "ReaderWriterLockSlim.AcquireWriterLock timing out does not wake up waiting readers"
The [documentation for `ReaderWriterLockSlim.TryEnterWriteLock`](https://msdn.microsoft.com/en-us/library/bb339812.aspx) states:

(emphasis mine). However, the implementation does not behave like the bolded part of the documentation states. Imagine the following scenario with three threads (_T1_, _T2_, _T3_):
1. _T1_ acquires a read lock.
2. _T2_ tries to acquire a write lock and blocks, waiting f

[2015-09-22 12:41] NickCraver commented on #1039
No...it doesn't. That is, to be blunt, a gross misunderstanding of what it does. It shows you the shape and schema *of the result set*. Let's take a very simple example:

`Select 'bob'as Name`

Show me how to get the column type and length for `Name`. `INFORMATION_SCHEMA` is *related* but not at all a viable solution for what we're talking about. Nor is it readily queryable since we're talking abo

[2015-09-22 12:52] nvivo commented on #1039
I just proposed a solution for that,  it seems you didn't read my post. I'm here since the fisrt post,  I'm aware of what is being discussed.

[2015-09-22 12:57] mgravell commented on #1039
Is that "a solution" your "But this can be done in a new API without dependency on DataTables" line? Because again, that is just echoing Nick's point that *some API is needed*. Nobody cares what it looks like, but right now it doesn't exist.

[2015-09-22 13:21] FransBouma commented on #1039
@ryanbnl

The thing is that they do need some sort of API to obtain meta-data of a resultset. And the only way to obtain the information in the first place is the ADO.NET provider itself, so they'll provide the code, and that means, as there's no generic interface, that developers have to hard-reference the ADO.NET provider, which is a pain, as .NET 1.x has learned us. So that might evolve in some

[2015-09-22 13:25] #3320 closed

[2015-09-22 13:30] #3319 closed

[2015-09-22 14:19] nvivo commented on #1039
@FransBouma You obviously didn't read anything, so there is no point in replying.

Also, MS won't do anything with complaints. They didn't forget, they *decided* to remove the API. The only way anyone will get any results is to start a new issue and *propose a solution* that doesn't involve undoing exactly what they decided to do.

[2015-09-22 15:25] ikopylov commented on #3357
My scenario was to collect statistics on the number of elements in the system (i.e. in the ```ConcurrentDictionary``` containing all elements). That statistic are updated after every change according to the ```Count``` property. After performance profiling I was very surprised that ```Count``` property took 20% of working time. So I've ended up with special field which updated by ```Interlocked```

[2015-09-22 15:29] JonHanna commented on #3357
Single Core i7.

The different cores can certainly have false sharing between them. Even if they didn't, what about the multi-CPU setups? Adding more cores should not make things get seriously slower.

[2015-09-22 15:44] stephentoub commented on #3357
That it could return an answer that was never true?  We thought so, yes.

FWIW, at this point the property is also documented to behave this way: "This property has snapshot semantics and represents the number of items in the ```System.Collections.Concurrent.ConcurrentDictionary<TKey, TValue>``` at the moment when the property was accessed."

The summing of the counts per bucket is exactly what th

[2015-09-22 15:55] JonHanna commented on #3357
I certainly agree that it can be useful to have an estimate of a count without a snapshot, in high contention the current count is out of date the moment it returns and releases its locks anyway, and for some uses an estimate that didn't hit the locks would be just as useful as a precise count of how things were at some recent point in the past.

[2015-09-22 15:57] omariom commented on #3357
It would be better if it had IsEmpty and DebugCount properties and ICollection.Count implemented explicitly.

[2015-09-22 16:01] sharwell commented on #3357
I'm actually in favor of the original proposal (using Interlocked to maintain the count). I believe that on the majority of client PCs which will be using this type, and in the majority of applications which are using this type, the performance overhead of increased contention over this field would not outweigh the gains made by improving the performance of `Count`.

[2015-09-22 16:14] stephentoub commented on #3357
This assumes a particular usage pattern of Count.  In the majority of uses I've seen of the type, especially server-side, Count is rarely if ever used.

On my quad-core laptop, with a simple test that just repeatedly adds/removes from the collection, a single-threaded test that incurs an extra interlocked per add or remove decreases throughput by ~5-7%.  When I change it to bang on the collection

[2015-09-22 16:37] nguerrera commented on #3156
cc @JeremyKuhne

[2015-09-22 16:47] SidharthNabar commented on #3322
Just FYI - if I try this on Windows implementation, I get the exception with the stack trace that Stephen has pasted above. And it does come from the HttpClient layer, even before getting to WinHttpHandler.

[2015-09-22 17:06] eerhardt opened #3374 "Add OuterLoop tests for X509Store"
We currently don't have tests for adding and removing certificates to an X509Store on the file system on Unix.  We should add some.

[2015-09-22 17:30] jimcarley opened #3378 "Version 23321 of System.Diagnostics.TraceSource is missing DNXCore50 folder"
We have a project that references System.Diagnostics.TraceSource 4.0.0-beta-* and specifies dnxcore50. On Monday, 2015-09-21 a "restore" operation brought System.Diagnostics.TraceSource 4.0.0-beta-23321 down to my system. But the Lib folder is missing the DNXCore50 folder. So when my project tries to load that assembly, it is failing because it can't find it.

Does System.Diagnostics.TraceSource n

[2015-09-22 17:31] jimcarley commented on #3378
I should also mention that when I modified our project.json file to specifically reference 4.0.0-beta-23318 (the previous version), everything works fine.

[2015-09-22 17:35] ikopylov commented on #3357
Maintaining cache coherence across CPU is slower than across cores inside a single CPU. So contention and false sharing effects should give a higher performance hit in multi-socket setups.

If it is required to preserve snapshot semantics then this will be the best solution. In my opinion, the fast approximate Count is more useful in practice than precise Count.

But it says nothing about the pote

[2015-09-22 18:47] tarekgh commented on #2804
I couldn't know the historical reason for current behavior but I believe we need to fix it. the fix would not be only changing the length check of (MMM) but we'll need to look at different areas to make sure AbbreviatedMonthGenitiveNames is used when it is really needed.

Changing this on the desktop will require quirking the behavior to keep the app compat safe.

[2015-09-22 19:04] galvesribeiro commented on #2394
@dmetzgar (and other MSFT folks) are there any news regarding this subject?
Thanks

[2015-09-22 19:25] AtsushiKan opened #3382 "GetECDSAPrivateKey() methods not being tested."
This requires building a PFX which then triggers other testing problems (race conditions due to the temporary key being stored on disk.)

[2015-09-22 19:44] AtsushiKan opened #3383 "X509Certificate2.GetECDsaPublicKey() on Unix still unimplemented."
(from Jeremy)

As for GetECDsaPublicKey, I think that you can get there with EVP_PKEY* X509_PUBKEY_get(X509_PUBKEY*). Probably want to just add it to the native interop library as EVP_PKEY* GetX509EvpPublicKey(X509* x509). Then you can just unpack the EC_KEY the same way you did for the private key here.

[2015-09-22 19:51] eerhardt commented on #3225
I think we are OK here.  From the [CertVerifyCertificateChainPolicy page on MSDN](https://msdn.microsoft.com/en-us/library/windows/desktop/aa377163(v=vs.85).aspx):

If the chain cannot be validated, the return value is TRUE and you need to verify the pPolicyStatus parameter for the actual error.

In the Windows ChainPal.Verify:
[code]

So Windows ChainPal.Verify will return `false` if the chain wa

[2015-09-22 20:51] dmetzgar commented on #2394
We have been working on this and have made a lot of progress. XAML is currently not available in Core so we're focusing on the runtime. We're looking at opening up to other serializers. So instead of choosing sides between JSON or XAML, we'd prefer allowing you to bring your own serializer. There's still more compliance and legal things to get approved. Since not a lot of customers are pushing for

[2015-09-22 20:57] #3226 closed

[2015-09-22 21:28] steveharter commented on #2648
Moving to rc1. Will likely assign to a mef contact as well, as this is an issue with the RangeAttribute, and not with globalization. The suggested fix of having the attribute values as Invariant makes sense because the use of commas, decimal, etc literals can vary between cultures and should thus be stored as an invariant format.

[2015-09-22 21:35] JeremyKuhne commented on #1086
@jasonwilliams200OK The Name property should already be in the proper case. My only concern would be adding hidden perf impact as we'd have to make a call to CreateFile, then GetFinalPathNameByHandle, then clean up the prefixing. I suppose we could optimize that away when we're starting from an Info class so probably not too bad...

I'll dig in a bit more as I get a chance.

[2015-09-22 21:36] ellismg opened #3384 "Investigate casing performance"
We should write some performance tests for casing and then play around with breaking up the loops in the implementation of the native ChangeCase method use on cross platform to see if we can make things faster.  See the conversation [on the PR](https://github.com/dotnet/coreclr/pull/1604#discussion-diff-40141703) for more details.

[2015-09-22 23:33] dmitry-a-morozov commented on #1039
@nvivo

This is slight overstatement.
Look at what I've done in F#.
http://fsprojects.github.io/FSharp.Data.SqlClient/data%20modification.html

You can of course hand-write all those INSERT, UPDATE and DELETE statements but it's a lot of boilerplate code.
Also optimistic concurrency, in-memory merge and bulk insert support will be missed too.

[2015-09-23 00:23] #3192 closed

[2015-09-23 00:56] stephentoub opened #3388 "TaskWaitAllAny41 test failure in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/4060/console
[code]

[2015-09-23 01:00] ellismg opened #3389 "Decouple CultureData from tests."
Test data differs across OSes and so we need a way to select the expected data for globalization tests depending what windows version we are on or what version of the CLDR we are using.

[2015-09-23 01:19] ellismg commented on #3389
This is the same as #3243, I guess.

[2015-09-23 01:19] #3389 closed

[2015-09-23 01:24] #2489 closed

[2015-09-23 01:28] nguerrera commented on #2498
Just saw this again: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2608/console
[code]

[2015-09-23 02:07] stephentoub commented on #2498
Grrrr... I was really hoping I'd see the assert from https://github.com/dotnet/corefx/commit/bdb90cb4f98c60c33b6a8bfba3c3b0302ba8d76a the next time this occurred :-(

[2015-09-23 02:11] bartonjs opened #3390 "Add support for ECDsa certificates on Unix SslStream"
The initial version is being added with RSA only, because you have to start somewhere.

[2015-09-23 03:08] ellismg opened #3391 "TestDateTimeParsingWithSpecialCultures failing on ICU for sr-Latn-XX"
As part of b1995378c63df05117c57505c50f46e256c32b3a Tarek added some additional cultures to TestDateTimeParsingWithSpecialCultures in System.Runtime.  These additional tests don't pass when run with ICU.

[code]

[2015-09-23 04:01] GuardRex opened #3392 "ThreadPool.SetMinThreads() MIA"
Asked here originally by @tugberkugurlu: https://github.com/aspnet/Home/issues/614

According to @Daniel15, it should be in `System.Threading.ThreadPool`, but I don't see it. I need it for my dnxcore50 project.

![capture](https://cloud.githubusercontent.com/assets/1622880/10037579/d24f4e2e-617d-11e5-8f3c-13d8c30b6fb7.PNG)

[2015-09-23 04:07] GuardRex opened #3393 "SuppressUnmanagedCodeSecurity MIA"
`SuppressUnmanagedCodeSecurity` didn't make it into `System.Security`? My PInvoke's are fully trusted (and speed is important). Is there a workaround for a dnxcore50 app?

![capture](https://cloud.githubusercontent.com/assets/1622880/10037303/d87c5908-6179-11e5-8cee-a8f5ac6c59bc.PNG)

[2015-09-23 04:11] loqix opened #3394 "HttpClient error on dnx-coreclr-linux-x64.1.0.0-beta8-15653"
System.TypeInitializationException: The type initializer for 'System.Net.Http.CurlHandler' threw an exception. ---> System.TypeInitializationException: The type initializer for 'libcurl' threw an exception. ---> System.TypeInitializationException: The type initializer for 'HttpInitializer' threw an exception. ---> System.DllNotFoundException: Unable to load DLL 'System.Net.Http.Native': The specif

[2015-09-23 04:46] GuardRex commented on #3393
Nope ... asked in the wrong place ... AGAIN! I'm on a roll tonight.

[2015-09-23 04:46] #3393 closed

[2015-09-23 04:47] davidsh commented on #3394
This is a dupe of #2155.

*Nix binaries are NOT yet in NuGet packages so they only contain Windows binaries.  This is planned to be fixed sometime within the next few weeks.

[2015-09-23 04:54] GuardRex commented on #3392
Moving to https://github.com/dotnet/coreclr/issues/1606

[2015-09-23 04:54] #3392 closed

[2015-09-23 05:44] roryprimrose commented on #536
@terrajobst Does the proposal from @stephentoub cover your API proposal request adequately?

[2015-09-23 07:46] kapilash commented on #3394
Some how, it seems ```System.Net.Http.Native.so``` got missed in the dnx package. Perhaps a temporary issue at the package repo?

For me (on OSX) it is available at

    $HOME/.dnx/runtimes/dnx-coreclr-darwin-x64.1.0.0-beta8-15653/bin/System.Net.Http.Native.dylib
    $HOME/.dnx/runtimes/dnx-coreclr-darwin-x64.1.0.0-beta8-15653/bin/lib/Microsoft.Dnx.Tooling/System.Net.Http.Native.dylib

I could not

[2015-09-23 12:23] anweledig opened #3397 "Нет перегрузки принимающей предикат в расширении Where"
Предикат представлен как Func<ISource,bool> и нельзя передать чистый делегат Predicat<ISource>, приходится передавать его через лямбда-выражение.

Хотелось бы видеть что-то вроде этого:
![predicate](https://cloud.githubusercontent.com/assets/10487884/10044905/fff5f5ba-6206-11e5-88f3-acb0ed7c1fd4.png)

[2015-09-23 12:42] stephentoub commented on #3397
Once the generic ```Action``` and ```Func``` delegates were introduced, there's little need for a custom delegate like ```Predicate<T>```; had we had ```Func<TArg, TResult>``` available from the beginning, I very much doubt we'd have ```Predicate<T>``` at all.

The existing ```Where``` overload is very commonly used, and changing it from taking a ```Func<TSource, bool>``` would be a significant br

[2015-09-23 12:43] JonHanna commented on #3397
1. This would be inconsistent with the rest of `Enumerable`.
2. This would be inconsistent with `Queryable`, which would have to be changed accordingly to cope with enumerables being treated as queryable.
3. This would be inconsistent with most extensions to Linq.
4. This would break every existing use of `Where`.
5. While you gain the ability to directly pass a `Predicate` you lose the ability to

[2015-09-23 12:55] #3397 closed

[2015-09-23 17:00] weshaggard commented on #3378
cc @ericstj @chcosta

This is a result of us doing some refactoring of our packages to support x-plat. I believe if you specify the "win7" in your runtime sections it should be able to correctly resolve this. Have a look at the "runtime.win7.System.Diagnostics.TraceSource" package which is where the library exists. We did move it from dnxcore50 to dotnet directory under the runtimes\win7\lib\dotne

[2015-09-23 17:36] ellismg opened #3406 "IDNA tests conform to windows behavior, not specs"
The windows implementation of IDNA2008 does not follow the relevant specs in some cases (by design, for compatibility purposes).

Our tests assume this behavior and then fail when run with ICU's implementation of ToAscii and ToUnicode.

We need to decouple the tests into a core of tests which have the same behavior on both Windows and XPlat and then an additional set of tests which have different

[2015-09-23 17:54] ellismg commented on #2777
The changes are in master with 61adf16f201120d28affe35ac28696d0c3f85b7f.

[2015-09-23 17:54] #2777 closed

[2015-09-23 17:54] ellismg commented on #2770
The changes are in master with 61adf16f201120d28affe35ac28696d0c3f85b7f.

[2015-09-23 17:54] #2770 closed

[2015-09-23 17:54] ellismg commented on #2772
The changes are in master with 61adf16f201120d28affe35ac28696d0c3f85b7f.

[2015-09-23 17:54] #2772 closed

[2015-09-23 17:55] ellismg commented on #2773
The changes are in master with 61adf16f201120d28affe35ac28696d0c3f85b7f.

[2015-09-23 17:55] #2773 closed

[2015-09-23 18:07] tushargupta51 commented on #2155
I am hitting the same issue, both on linux and mac, when using beta7 bits

I am running a coreclr web application on mac using coreclr runtime. It builds fine using "dnu build" but when I start the application using "dnx kestrel" and loads the url (localhost:5002), it gives this exception:
Tushars-MacBook-Pro:WebApplication6 tushargupta$ dnx kestrel
Application started. Press Ctrl+C to shut down.

[2015-09-23 18:25] davidsh commented on #2155
Short summary of this is that xplat binary packages DO NOT YET support non-Windows.  That work is ongoing still.

[2015-09-23 19:15] dmetzgar commented on #3378
I think this problem goes beyond just the missing DLL.

We have an xunit test suite that uses System.Diagnostics.TraceSource. When executing with the "clr" runtime, either beta6 or beta7, everything works. When executing with the "coreclr" runtime, the tests time out, which means that the trace events were either not sent or not received. If we target build 23318 or earlier, both clr and coreclr w

[2015-09-23 19:20] weshaggard commented on #3378
If it is missing a dll how did you run the tests?

I don't see any code changes to the library recently so I wonder if there isn't something else going on that is causing the timeout.

[2015-09-23 19:25] axelheer commented on #1307
I'm finally done here. There is other stuff for very huge numbers (as mentioned within the discussion above), but I'm quite happy now. Please close this issue or remove the "grabbed" tag, depending on your further plans.

And thank you very much for making this even possible! I really like these new ways our industry is going. Those performance improvements were much more work as I've expected, bu

[2015-09-23 20:06] joshfree commented on #1307
Thank you for all of your contributions to BigInteger and .NET Core Axel!

[2015-09-23 20:22] sokket commented on #2894
Issue part 3 will be fixed with my change of moving Name Resolution to use the PAL layer

[2015-09-23 20:27] bartonjs commented on #3225
Alright, that makes me feel better (and matches what I thought originally).  Thanks for providing a second opinion, @eerhardt!

[2015-09-23 20:27] #3225 closed

[2015-09-23 21:11] joshfree commented on #1793
@ianhays can you please look into this for RC?

[2015-09-23 21:14] ianhays commented on #1793
Sure thing :)

[2015-09-23 21:21] sokket commented on #2988
Just an update - I almost have the code in System.Net.Primitives and System.Net.NameResolution compiling; will be trying to get that finished today and then ensure the tests pass on Linux and OS X. I don't have a CoreFX and CoreCLR build for my FreeBSD instance so if someone has that and wants to test, great; if not, we can rely on the test coverage in Linux and OS X

[2015-09-23 21:52] jasonwilliams200OK commented on #2988
Thanks for the update @sokket! :)
As far as I can tell, once all FreeBSD assemblies build (which I will test and report back), we can probably request @mmitche to setup FreeBSD on CI server as he did for CoreCLR. I hope the tests projects don't give an incredibly tough time to build on FreeBSD. :)

[2015-09-23 22:21] khdang commented on #2174
@IRooc With the latest code, the issue works fine on both Windows and Linux for me. All tests on CI are passing as well. Are you still having this issue?

[2015-09-23 22:23] ericstj commented on #3378
This is fallout from the x-plat work that is going on.  Many of the packages are being refactored into OS specific runtime packages.  This means the runtime assets (implementation assemblies) are removed from the reference package and placed in a runtime-specific package.  In order to get the correct runtime package for your platform you need to make sure that you have a runtime specified in your

[2015-09-23 23:59] #810 closed

[2015-09-23 23:59] #2779 closed

[2015-09-24 00:10] stephentoub commented on #1873
This test is enabled and passing.  Closing.

[2015-09-24 00:10] #1873 closed

[2015-09-24 00:11] stephentoub commented on #1307
Yes, @axelheer, thank you very much for all of your contributions!

[2015-09-24 00:11] #1307 closed

[2015-09-24 00:19] #3290 closed

[2015-09-24 00:42] stephentoub commented on #2667
I'm going to disable the test for now, since we now have the error code (0xc0000005).

Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/4146/console
[code]

[2015-09-24 00:47] joshfree commented on #1306
/cc @ianhays

[2015-09-24 00:52] joshfree commented on #1534
/cc @ellismg

[2015-09-24 00:53] #885 closed

[2015-09-24 00:56] joshfree commented on #872
This was fixed by https://github.com/dotnet/corefx/pull/2594

[2015-09-24 00:56] #872 closed

[2015-09-24 00:58] joshfree commented on #871
/cc @Sridhar-MS

[2015-09-24 00:59] ellismg commented on #1534
Thanks, Josh.

[2015-09-24 01:00] joshfree commented on #999
/cc @Priya91

[2015-09-24 01:31] ashmind opened #3418 "(Discussion) Case insensitive strings as a type"
I have read #649, and it seems to be a special case of a generic problem.

Consider system where some strings are case sensitive (e.g. hash), and some aren't (e.g. name). Currently .NET defaults to being case sensitive, so I have to remember which string is which in all use cases. And those cases are not only about `s1.Equals(s2)` -- it is also every call to `ToDictionary`, every creation of `Hash

[2015-09-24 01:40] joshfree commented on #826
/cc @Priya91

[2015-09-24 01:42] loqix commented on #3394
This problem is System.Net.Http.Native.so  too old in package, can update it?

[2015-09-24 01:57] ashmind opened #3419 "StringBuilder.AppendJoin (appending lists to StringBuilder)"
#### Background

Let's say you want to build a string that contains a separated list (e.g. list of filenames, messages, or anything else).

If it is the only thing you want, you can use `string.Join`. However what if you want to append something else? If you `Concat` with the result of `string.Join`, that means that you unnecessarily allocated an intermediate joined string, which can be rather lar

[2015-09-24 03:26] stephentoub opened #3421 "DateTimeFormatInfoGetInstance.PosTest2 failed on Linux in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2662/console
[code]

[2015-09-24 03:41] #3388 closed

[2015-09-24 03:51] ashmind commented on #3418
Just thought on one more thing --  #649 discusses a string comparison operator -- e.g.
[code]

If we had case insensitive strings instead, we could have a literal syntax in C#, e.g. `"x"i`:
[code]

[2015-09-24 04:40] #2210 closed

[2015-09-24 05:27] janhenke commented on #2988
@sokket Once it is merged I will try to build the native component. Do not worry, if it does not work on FreeBSD you will see an issue or PR about that soon. :D
The managed part should be identical for Unixes as far as I understand so it should be fine.

[2015-09-24 06:23] dmetzgar commented on #3378
@ericstj I have to plead ignorance here. I have no idea what you mean by specifying a runtime in a project.json. Do you mean global.json? Can you provide an example? And why win7? Does that mean windows 7 or beta7 on windows?

[2015-09-24 06:27] weshaggard commented on #3378
See https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/Targets/tool-runtime/project.json#L13 as an example. You need a runtime section that defines the runtimes you want to run on. win7 in this case means windows 7 or higher.

[2015-09-24 07:17] dmetzgar commented on #3378
Unfortunately that doesn't seem to make a difference. I think there are two separate issues here. The first is what Jim pointed out. In VS when it goes to discover the tests we get the following errors:
[code]
Maybe this is a Microsoft.DNX.TestHost issue?

The other problem is when you go from the command line and just execute the xunit tests with dnx. When I have dnvm use a clr runtime it works,

[2015-09-24 07:24] CodesInChaos commented on #3418
Which culture should be used for comparison?

If you attach it to the string this leads to the question of what should happen when you compare two case insensitive strings which use different cultures.

Or should it always use ordinal comparisons?

[2015-09-24 07:34] IRooc commented on #2174
fixed in ```1.0.0-beta8-15654```

[2015-09-24 07:34] #2174 closed

[2015-09-24 09:20] mikedn commented on #3418
And how would a different type would help? Currently you can write:

[code]

But if a separate string type is added  you'd need something like the following:

[code]

It doesn't see how this is better.

[2015-09-24 09:31] ashmind commented on #3418
@CodesInChaos

This is a good question. Ordinal seems reasonable, but it's up for debate.

@mikedn

In your example it wouldn't, but let's think on where that string comes from. E.g. let's start with
[code]

Now some use cases:
[code]

[code]

[code]

[2015-09-24 09:34] ashmind commented on #3418
@mikedn So basically you decide which strings are CI when you are writing your domain model.

[2015-09-24 10:44] NickCraver opened #3423 "API for retrieving Columns Schema from DbDataReader"
This is to unwrap the specific issue of resultset schemas from the many involved in #1039.
[Back on May 5th](https://github.com/dotnet/corefx/issues/1039#issuecomment-99186515) @davkean noted:

While it doesn't seem that anyone cares *what method* exists for of getting the schema of a resultset, we seem to agree on needing *a method* of doing it in .Net Core. For example, if a user runs a simple q

[2015-09-24 10:56] FransBouma commented on #3423
Additionally: DbConnection.GetSchema(). This too relies currently on DataTable and should get a proper alternative in .NET core going forward. There are no alternatives for some schemas retrievable through this method, for some providers. If there's no alternative in .NET core, there's no way to write generic code to obtain metadata about a schema aspect. E.g. on Firebird, some metadata is very ha

[2015-09-24 11:06] JonHanna commented on #3418
Great for checking keywords. Not so good for anything human-readable.

There's enough variation in whether or not `ß == SS` and `i == I` that people are still going to need to customise their case-folding. Once they're customising their case folding, what is saved?

[2015-09-24 11:17] roncain commented on #879
This became System.Reflection.DispatchProxy in the CoreFx repo and was added with commit https://github.com/dotnet/corefx/commit/ca637be1114f4dc7d06321fe6f1d1d15db252ae7#diff-37d647931ca731536fc6d4104290c488

[2015-09-24 11:17] #879 closed

[2015-09-24 11:46] sandorfr commented on #2155
I guess we have to be patient let's hope it will be there for bet 8 in 2 weeks.

[2015-09-24 13:37] #3337 closed

[2015-09-24 13:56] timothy-shields commented on #2155
In case anybody else needs a temporary replacement, I have quickly implemented an `HttpMessageHandler` that just calls `curl`.  Do whatever you want with it, there are no legal guarantees, etc.  http://freetexthost.com/eihagy6hho  Hopefully it will hold you over until things are working.

[2015-09-24 14:52] mellinoe commented on #313
This should no longer be an issue, please re-open if you encounter any lingering problems with old installations on your machine.

[2015-09-24 14:52] #313 closed

[2015-09-24 14:58] mellinoe commented on #3262
We have an internal fix for this, in the JIT. I will update this when the fix gets mirrored out and into the NuGet pacakge we consume here. Wes, I'll probably ask you to try to repro this again at that time.

[2015-09-24 14:59] mellinoe commented on #3220
Thanks a lot for the contribution, @axelheer !

[2015-09-24 14:59] #3220 closed

[2015-09-24 14:59] mellinoe commented on #3150
Yeah, this seems to be some issue with VS, or maybe just its error list. The errors show up, but the build should still succeed.

[2015-09-24 15:02] mellinoe commented on #2599
This is fixed in any of the newer (beta) versions of System.Numerics.Vectors. Let me know if those give you any issues in this scenario, but it should now be installable into any project that it could be previously.

[2015-09-24 15:02] #2599 closed

[2015-09-24 15:05] mellinoe commented on #1293
This should be fully addressed in 2015 RTM, or rather with 4.6 RTM installed. Let me know if there are any lingering incompatibilities.

[2015-09-24 15:06] ronnyek commented on #2394
@dmetzgar sweet! I'd be more than happy to contribute to it however I can to if this becomes a core project... whether that be a web workflow designer etc. Seems like xaml hardly needs to be there for definition format... excited to hear about this work!

[2015-09-24 15:14] #1293 closed

[2015-09-24 15:35] mmitche commented on #2988
@jasonwilliams200OK Yeah we should be able to do that.

[2015-09-24 15:56] SidharthNabar commented on #2492
PR #3113 addresses this issue. Closing.

[2015-09-24 15:56] #2492 closed

[2015-09-24 16:10] ericstj commented on #3378
You need to specify a runtime and deploy for that runtime.  If you're missing an asset from a package it usually means you aren't resolving the right asset from nuget.  You can examine the list of assets in the project.lock.json.  Specifically, look for the System.Diagnostics.TraceSource section under the target you are deploying for your tests.

[2015-09-24 17:01] bartonjs opened #3431 "Unix SslStream needs to verify the remote cert is valid for the destination address"

[2015-09-24 17:08] mikedn commented on #3418
But in that case a domain specific string type - `ItemTypeName` for example - would probably be more useful as in addition to case insensitivity it could offer other features such as ensuring that the string has a specific format, length etc.

Of course, there will be cases where `CaseInsensitiveString` would be good enough but I'm not convinced that there are so many.

And interestingly, one comm

[2015-09-24 17:31] nguerrera commented on #3391
@tarekgh @ellismg These tests are also failing locally for me on Windows 10 RTM.

Should I file a different bug? Disable on Windows as well?

[code]

[2015-09-24 17:36] nguerrera commented on #3391
I went ahead and submitted #3433

[2015-09-24 17:59] mellinoe commented on #1011
I haven't seen any issues with these any longer,even running under 64-bit CLR. This must have been fixed at some point.

[2015-09-24 17:59] #1011 closed

[2015-09-24 18:01] mellinoe commented on #849
These were added in https://github.com/dotnet/corefx/commit/464fc4487827d1bcd21efe5d02987484ce57e358

[2015-09-24 18:01] #849 closed

[2015-09-24 18:03] mellinoe commented on #874
There are some tests for the library in here now, at least for the portions of the library that are implemented here. For the lower-level stuff in this library, we have tests in the runtime.

[2015-09-24 18:03] #874 closed

[2015-09-24 18:04] mellinoe commented on #873
We have full coverage for the types that are actually implemented in this repo. The other parts of the library that are implemented in the coreclr repo should probably have lower-level runtime tests.

[2015-09-24 18:04] #873 closed

[2015-09-24 18:16] jasonwilliams200OK commented on #2988
@mmitche, thanks! :)

@janhenke, curiously, how much time does it usually take on "Restoring all packages" step? In my setup it takes forever to complete it.. Last time I manually copied the packages from somewhere I don't remember..
![image](https://cloud.githubusercontent.com/assets/3840695/10082197/416270d2-6301-11e5-84d5-f183f0843247.png)
:watch:

[2015-09-24 18:20] jasonwilliams200OK commented on #2988
BTW I am testing with @sokket's `pal` branch with rebased on top of master:

[code]

[2015-09-24 18:25] sokket commented on #2988
@jasonwilliams200OK how's it look? I tried to make sure pal_networking.cpp compiled on my FreeBSD box but, I admit, I haven't used it before so I may have a wonky or incorrect configuration.

Also, running through Jenkins shows only 5 failing unit tests (woot!) so I'll be fixing those today and hopefully getting a PR out today or tomorrow (depending on how tricky the bugs are)

[2015-09-24 18:44] janhenke commented on #2988
@jasonwilliams200OK That step indeed takes a long time to run. I did not measure, but I usually let it run in the background and check back. That is apparently normal, since it updates/downloads a lot of packages.

[2015-09-24 18:56] jasonwilliams200OK commented on #2988
@sokket, @janhenke,
old pedantic habit die hard; I am doing all of it from scratch. But it is hanging at "Restoring all packages". Yesterday I tried it as well, and I assumed it is hanging there because the VM has less memory or storage, I have increased but still "Restoring all packages.." step seems never ending.
On Windows10 host, it took about 7 minutes using same network to finish Restoring a

[2015-09-24 20:08] terrajobst commented on #1039
@nvivo

That's a bit of an overstatement. We simply decided not to port it yet.

[2015-09-24 20:23] william-gross commented on #3423
This is a blocker for me as well, as I [commented](https://github.com/dotnet/corefx/issues/1039#issuecomment-96635342) in #1039.

[2015-09-24 20:40] mburbea commented on #3418
One further step could be instead of a `CaseInsentiveString`, hows about a `CollatedString`, which could allow you to specify the Culture and the type of comparison you expect. Similar to how Sql strings are stored. That way if you really need to concern yourself with a comparison that treats `ß == ss` you can, or you could fail on things like `I == I` when the encodings differ.

[2015-09-24 21:01] nvivo commented on #1039
@terrajobst

I was talking specifically about DataReader.GetSchemaTable(). It seems this was intentionally removed from the API, wasn't it?

[2015-09-24 21:08] sandorfr commented on #2155
@timothy-shields  so sweet, thank you :).

[2015-09-24 21:11] nguerrera opened #3439 "Replace Microsoft.DotNet.CoreCLR dependency with Microsoft.NETCore.Runtime.CoreCLR"
Remove dotnet-coreclr feed from dir.props and NuGet.config once this is done as well.

See https://github.com/dotnet/corefx/pull/3413#discussion_r40368451

cc @weshaggard

[2015-09-24 21:23] #3224 closed

[2015-09-24 21:25] VSadov commented on #3245
Fixed in #3298

[2015-09-24 21:25] #3245 closed

[2015-09-24 21:26] VSadov commented on #3266
Fixed in https://github.com/dotnet/corefx/pull/3288

[2015-09-24 21:26] #3266 closed

[2015-09-24 21:58] ashmind commented on #3418
@mburbea

That would be good, but the main question is what to do when two of those are compared.

If by "Fail" you mean "return false" -- it would be OK for dynamic cases, but I think it's inconvenient for static comparisons.

E.g. `x.Name == y.Name`:
1. One is "Collated", other is just `string` = compare using "Collated" comparer
2. Both are "Collated" with the same comparer = compare using "Col

[2015-09-24 22:08] ashmind commented on #3418
@mikedn

In perfect world -- yes. However having a .NET type can provide some benefits (most of those can be implemented manually, but many developers will never care enough):

1. No effort required to implement the type with all Equality members and compare/cast operators
2. No effort required to implement string interop, e.g. `string.StartsWith(mycistring)`
3. No effort required to implement tex

[2015-09-24 22:29] KevinRansom commented on #2584
Entered in error

[2015-09-24 22:29] #2584 closed

[2015-09-24 22:45] ashmind commented on #1973
Does this need a speclet to become "ready for api review"?

[2015-09-24 23:35] YoungGah commented on #1039
Thanks for all the input and feedbacks. We will consider and evaluate bring in DataSet (might be in the same form as .NET Framework or in modified form) in the next version of .NET Core. For now, we are fully focused in delivering SqlClient including open sourcing and making it available on Linux and Mac.  Once we achieve the right level of quality for SqlClient, we will start planning and evaluat

[2015-09-24 23:39] pgavlin opened #3441 "Follow up on CR feedback for System.Net.Sockets."
See #3422.

[2015-09-25 00:11] ellismg commented on #1534
/cc @stephentoub

I am not sure that we actually need to do this. When we added FEATURE_RANDOMIZED_STRING_HASHING to Desktop CLR, we were unable to actually change the default of string's GetHashCode function to preform randomized hashing, for compatibility reasons. So we added the above feature which would cut over to Randomized Hashing after a threshold, if we detected a lot of collisions and yo

[2015-09-25 01:02] bartonjs opened #3444 "[SslStream] CheckX509Hostname wildcard matching may be too restrictive"
[RFC 2595](http://www.ietf.org/rfc/rfc2595.txt) says:

[code]

[RFC 2818](http://www.ietf.org/rfc/rfc2818.txt) says:

[code]

Where did the `f*.com` => `foo.com` example come from?

[2015-09-25 01:04] bartonjs opened #3445 "CheckX509Hostname does not match iPAddress subjectAltName fields"
[RFC 2818](http://www.ietf.org/rfc/rfc2818.txt) says:
[code]

So, we should do that.

[2015-09-25 01:10] bartonjs opened #3446 "[Feature] CheckX509Hostname does not match IDNA"
Internationalized domains are very likely going to confuse this function.

[2015-09-25 02:20] stephentoub commented on #1534
I'm fine with that recommendation.

[2015-09-25 02:49] ellismg commented on #1534
Thanks Steve, Closing.

[2015-09-25 02:49] #1534 closed

[2015-09-25 02:51] weshaggard commented on #1534
cc @tarekgh

[2015-09-25 03:13] stephentoub opened #3447 "UDPClientTest.BeginSend_AsyncOperationCompletes_Success failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/4229/console
[code]

[2015-09-25 07:03] FransBouma commented on #1039
Does this mean you're focused on System.Data.Common and as a specialization implementation SqlClient, or are you just focused on SqlClient and is System.Data.Common the ugly stepchild which gets code only after SqlClient has proven that it works? Because you state:

The functionality should be in DbDataReader, with provider specific customization in SqlClient. Only **then** we can be sure other AD

[2015-09-25 07:34] YoungGah commented on #1039
@FransBouma

System.Data.Common is an important investment to us as well especially as it will provide the common interfaces for all types of providers. We will continue to invest in System.Data.Common and extend them as we add features just as we have done on .NET Framework. We just believe that System.Data.Common is in better shape than System.Data.SqlClient at this point although System.Data.Co

[2015-09-25 07:48] FransBouma commented on #1039
@YoungGah Thanks for the clarification! then I have no further questions and hope you and your team can pull this off to everyone's satisfaction :)

[2015-09-25 08:09] Clockwork-Muse opened #3454 "System.Globalization TimeFormat tests failing for 24-format machine"
My machine is set to display a 24-hr clock, which is causing some of the globalization time-format tests to fail.  The tests are expecting the 12-hr format, but are picking up the format for the local machine instead.

[code]
and

[code]
I'm pretty certain I ran this before, while working on #3020, so it might be a recent change.

[2015-09-25 09:18] vijaykota commented on #3362
@rajansingh10, seems like a copy-paste error. There should be more unaddressed comments here

[2015-09-25 11:07] #2257 closed

[2015-09-25 13:14] nvivo commented on #1039
@YoungGah. This is great information, pretty much what I was expecting. Will there be an issue to track the design of the data provider interface? It would be great if the community could provide some feedback before v1 on this core component.

I had issues trying to mock the original providers, as they do a lot of internal calls. Would be very useful to have real interfaces formalized and updated

[2015-09-25 13:48] stephentoub opened #3460 "DnsEndPointTest.Socket_StaticConnectAsync_HostNotFound failed in CI on Linux"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2733/console
[code]

[2015-09-25 14:28] stephentoub commented on #3421
PosTest5 just faild as well:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2735/console
[code]

[2015-09-25 14:28] stephentoub commented on #3421
cc: @ellismg

[2015-09-25 14:43] stephentoub commented on #3357
Given the discussion, I'm going to close this issue.  If you need an additional member added, please open a separate issue to propose it.  Thanks.

[2015-09-25 14:43] #3357 closed

[2015-09-25 14:59] stephentoub opened #3461 "OS X CI builds failing with "Cannot print exception string because Exception.ToString() failed.""
e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_debug_tst/41/console

[2015-09-25 15:23] ellismg commented on #3332
Should be fixed in master now.

[2015-09-25 15:23] #3332 closed

[2015-09-25 15:38] tarekgh commented on #3454
right this test is written in bad way. we shouldn't assume in our tests the date/time formats never change. I'll take care with this issue

[2015-09-25 15:45] tarekgh commented on #3391
@nguerrera did you have the latest coreclr package when you ran the test on Windows 10? just checking because this used to pass I guess. anyway sorry for inconvenience and I'll take care with the issue.

[2015-09-25 16:10] pgavlin commented on #3460
This is this assert on line 75: https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/tests/FunctionalTests/DnsEndPointTest.cs#L75

This assert is firing because the connect is failing synchronously, which may actually be valid behavior. I'll look into it.

[2015-09-25 17:46] StephenBonikowsky opened #3464 "HttpClient isn't always canceling in response to cancellation requests"
We first found this issue with a WCF negative test that expected a TimeOutException when setting a ‘SendTimeout’ on our BasicHttpBinding and calling a service operation that took longer to return.

Previously this test passed with the elapsed time being just a little longer than the ‘SendTimeout’ value. As of a couple weeks ago we still got the TimeOutException but the elapsed time seemed to corre

[2015-09-25 17:56] joshfree commented on #2482
i'm closing this issue now that the initial xplat sockets PR from @pgavlin is in master

[2015-09-25 17:56] #2482 closed

[2015-09-25 17:59] dvdcrr77 opened #3465 "Uri does not contain definition for UriSchemaXXX"

[2015-09-25 18:18] tarekgh commented on #3391
@nguerrera I checked the failure and it looks the coreclr package is not really updated on corefx. but I was not expecting Linux to fail too as I understand Linux runs always get the latest coreclr! I wil take a look anyway

[2015-09-25 18:31] Maoni0 commented on #3308
This will be released in a hotfix soon. if you have a (full memory) dump I'd be happy to verify whether you are hitting the same issue as the one above. Most likely yes but I can check to be sure.

[2015-09-25 18:39] StephenBonikowsky commented on #3464
I've opened Issue: https://github.com/dotnet/corefx/issues/3464 in the corefx repo. Will send out a PR soon for the test.

[2015-09-25 18:40] stephentoub commented on #3464
cc: @davidsh, @cipop

[2015-09-25 18:45] ellismg opened #3467 "Investigate ICU EndsWith when string has zero collation elements at the end"
In StartsWith we ignore zero collation elements at the start of the string, we probably need to do the same thing in EndsWith.

[2015-09-25 18:49] ellismg opened #3468 "Implement IndexOfOrdinal and LastIndexOfOrdinal in the ICU Shim"
The naive implementation of these methods in CompareInfo.Unix.cs is correct but allocates both to do a substring and to case the string when ignore case is true.  We should just just implement these methods in the Shim itself.  It can walk the string without allocating and do casing inline without having to round trip to managed code for each character.

[2015-09-25 19:57] #1807 closed

[2015-09-25 20:59] sokket commented on #2988
@jasonwilliams200OK @janhenke PR #3471 is open to address this :)

[2015-09-25 21:12] YoungGah commented on #1039
@nvivo
Absolutely! We are tossing around ideas of the API returning schema in JSON format. Any opinions? The issue is track at #3423.

[2015-09-25 21:18] NickCraver commented on #3423
Responding to @YoungGah's [note above](https://github.com/dotnet/corefx/issues/1039#issuecomment-143355854):

Given that JSON serialization is not included in core, wouldn't it be a bit odd to have libraries implementing DataReader taking dependencies to support it? I wouldn't need JSON serialization in several apps aside from this. I'd love to hear what others hear, but *from the SQL side*, this

[2015-09-25 21:36] roji commented on #3423
Am the maintainer of Npgsql, this is definitely a very important discussion, and it seems important to have this for .NET Core RTM.

Here are some thoughts:

* It definitely seems that dropping DataTable/View/Set is a good approach as long as an alternative schema-fetching mechanism is provided.
* Re resultset metadata, as has been mentioned before a limited subset is available via `GetFieldType`,

[2015-09-25 21:37] tarekgh commented on #3454
fixed with #3466

[2015-09-25 21:37] #3454 closed

[2015-09-25 22:30] pgavlin opened #3473 "Linux build break in System.Net.Security"
Looks like the build is broken after https://github.com/dotnet/corefx/commit/6f704eb954628e88bea4760c687fc321b7773bd5.

[2015-09-25 22:31] eerhardt opened #3474 "Ensure OpenSSL's random number generator is seeded properly"
There have been some reports that Linux and OpenSSL in particular may not use enough entropy in all scenarios

https://www.blackhat.com/docs/us-15/materials/us-15-Potter-Understanding-And-Managing-Entropy-Usage-wp.pdf

We need to ensure we are properly seeding OpenSSL's PRNG.

There are some conflicting articles/sites that say using /dev/urandom is sufficient:
http://www.2uo.de/myths-about-urandom

[2015-09-25 22:33] eerhardt commented on #3474
See #3451 and https://github.com/dotnet/coreclr/pull/1623

[2015-09-25 22:53] karelz commented on #908
It's in coreclr repo - https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/ThreadPool.cs

[2015-09-25 22:53] #908 closed

[2015-09-25 22:53] karelz commented on #907
It's in coreclr repo - https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Thread.cs

[2015-09-25 22:53] #907 closed

[2015-09-25 22:54] karelz commented on #905
Part of coreclr repo - https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/ExecutionContext.cs

[2015-09-25 22:54] #905 closed

[2015-09-25 23:27] karelz commented on #886
Part of coreclr repo - https://github.com/dotnet/coreclr/tree/master/src/mscorlib/src/System/Diagnostics/Eventing

[2015-09-25 23:27] #886 closed

[2015-09-26 00:41] bartonjs commented on #3473
There were two published versions System.Security.Cryptography.OpenSsl.4.0.0-beta-23325; the machines that have the "bad" version are being taken offline.

[2015-09-26 00:41] #3473 closed

[2015-09-26 01:15] akoeplinger commented on #2988
@jasonwilliams200OK try setting `MONO_THREADS_PER_CPU=50` env var, that usually helps working around a Mono+dnx restore bug.

[2015-09-26 01:24] akoeplinger commented on #3465
According to https://twitter.com/terrajobst/status/646158720016056320 this was intentional. Just use the literal string (e.g. "https") instead.

[2015-09-26 01:37] dvdcrr77 commented on #3465
Thanks ak. I  can do without. 😊

[2015-09-26 01:37] #3465 closed

[2015-09-26 02:13] jasonwilliams200OK commented on #2988
@akoeplinger, thanks that fixed the issue of getting `SendFailure`. :+1:

Now I am getting compilation errors like:

[code]

for:

[code]

Running csc2 command separately like:

[code]

shows loads of missing type and compilation errors.

[2015-09-26 02:40] #2480 closed

[2015-09-26 03:25] ellismg commented on #3461
This is fixed.  The problem here was one of the worker machines had ICU54 and the other had ICU55, so the System.Native.Globalization.dylib built on one wouldn't work on the other.

I made sure both had ICU55, which is the newest package in homebrew.

[2015-09-26 03:25] #3461 closed

[2015-09-26 04:00] ellismg opened #3475 "System.Security.Cryptography.X509Certificates.Tests.ChainTests.BuildChain failure on OSX in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_debug_tst/42/testReport/System.Security.Cryptography.X509Certificates.Tests/ChainTests/BuildChain/

[2015-09-26 04:01] ellismg opened #3476 "Two OSX HttpClientHandlerTest Failures in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_debug_tst/42/testReport/System.Net.Http.Functional.Tests/HttpClientHandlerTest/GetAsync_ResponseHeadersRead_ReadFromEachIterativelyDoesntDeadlock/

http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_debug_tst/42/testReport/System.Net.Http.Functional.Tests/HttpClientHandlerTest/GetAsync_CredentialIsNetworkCredentialUriRedirect_StatusCodeUnauthori

[2015-09-26 04:04] ellismg commented on #3476
/cc @stephentoub @vijaykota @davidsh @CIPop

Not sure if this is intermittent or not, since it seems like other tests that wanted to talk to the same server passed?

[2015-09-26 07:33] kapilash commented on #3476
I just ran all the tests from an OSX box and all succeeded. I initiated a test run again on one of my pull requests.

[2015-09-26 07:36] kapilash commented on #3476
![screen shot 2015-09-26 at 1 05 09 pm](https://cloud.githubusercontent.com/assets/113322/10116342/641d59b2-644f-11e5-90e7-092801e886d4.png)

[2015-09-26 08:07] janhenke commented on #2988
@jasonwilliams200OK Please open a new issue for that. Build problems are off topic for this issue.

[2015-09-26 08:21] FransBouma commented on #3423
JSON is a silly format in this context, it's a text blob that needs deserializing using an external library. So -1 for JSON.

[2015-09-26 08:55] jasonwilliams200OK commented on #2988
@janhenke, good idea but, how can we verify #3471 if it is not building in first place? I am only building to validate this issue. :/

[2015-09-26 08:57] janhenke commented on #2988
Still it is a separate issue, since your build problems are not related to this particular feature, but of general nature. We should keep separate issues separate.

[2015-09-26 09:05] kapilash commented on #3476
Do the OSX tests run along as a part of the usual CI run?
They does not seem to.  Can we have a rerun please?
As mentioned earlier, these tests are running on my OSX dev machine.  More over, there's no reason for these two particular tests to fail on only one of the Unix platforms. Not with the error mentioned (``` System.Net.Http.CurlException : Couldn't connect to server ```)

[2015-09-26 13:11] nvivo commented on #3423
@YoungGah

I'm not sure about the idea of json for this. What would be the advantage over a simple object that can be easily serialized if needed? This is supposed to be used in the context of .NET calls, there is hardly a need for this information to be that interoperable to require a json blob.

On #1039 I proposed a very a simple interface that has the basic information that have been proven to

[2015-09-26 13:50] nvivo opened #3480 "Make interfaces as the official ADO.NET Provider API instead of classes"
From what I can see currently on the [corefx-progress page for System.Data.Common](https://github.com/dotnet/corefx-progress/blob/master/src-diff/System.Data.Common.md), the interfaces (IDbCommand, IDbConnection, etc) were removed in favor of the usage of abstract classes.

But in the new API, most of the main methods are not virtual or abstract. On DbCommand alone we can see this:

[code]

While

[2015-09-26 17:38] ellismg commented on #3476
They don't run per PR right now (hopefully that will be fixed next week) we do one run every day instead.  I'll keep an eye on it.

[2015-09-26 18:27] JonHanna opened #3481 "How best to implement Linq's iterators."
The current approach with `System.Linq.Enumerator`'s enumerables and their enumerators copies the approach for compiler-generated iterators; the same instance that serves as the enumerable serves as the result for the first call to `GetEnumerator()`, so avoiding an extra allocation.

There is a race inherent to this approach; if two threads called `GetEnumerator()` at the same time they could end

[2015-09-26 19:15] Eilon opened #3482 "Proposal: (I)Dictionary<TK,TV>.GetValueOrDefault"
## Scenario

In almost every app or library I write I almost always end up needing to write code like this, in at least one place:

[code]

The reason that the `IDictionary<TKey, TValue>` contract throws from its indexer for a non-existent key are well-known: an alternative behavior of returning `null` is nonsensical if `TValue` is a value type. Returning `default(TValue)` would work, but would cl

[2015-09-26 19:24] JonHanna commented on #3482
return DictionaryOfSomeClass.TryGetValue(someKey, out returnValue) ? returnValue : null;

You don't need the test here. You can just call `TryGetValue` and return `returnValue` either way, since in the case where you are explicitly returning `null`, `returnValue` is `null`.

[2015-09-26 19:25] Eilon commented on #3482
Ah good point, the original code could be:

[code]

But I find that code to be kind of ugly too. It's taking two lines to express a rather simple concept.

[2015-09-26 19:32] JonHanna commented on #3482
It only saves a line if either combined with declaration into an initialisation, or in the tail position. When just assigning it's one line either way.

[2015-09-26 19:37] ellismg commented on #3482
Not making any judgments on the merit of the API to be include or not, but I was wondering if you considered removing the constraint that the TValue must be a class and making the method something like:

[code]

This feels more in line with LINQ for example.

[2015-09-26 20:13] GSPP opened #3483 "Add an API to execute a console program and capture its output in a simple way"
Clearly, we can use the `Process` class to run a program, redirect its output and capture the output. But doing so correctly is unfathomably complicated:

1. You need to read both StdOut and StdErr. Failing to do so can result in hangs.
2. Output events can arrive *after* WaitForExit has returned. (Update: This concern does not exist.)
3. Output events signal their completing by sending one `null`

[2015-09-26 20:25] JamesNK commented on #3480
They would have switched to abstract base classes because interfaces can't be versioned.

I'm guessing the non-virtual methods call another method that is virtual.

[2015-09-26 21:42] Eilon commented on #3482
@JonHanna the return value is often passed into another method, or set on some other property, e.g. I want to do this:

[code]

In that case it's actually two extra lines to write today:

[code]

[2015-09-26 21:51] Eilon commented on #3482
@ellismg yeah that would be quite good as well. Definitely more LINQ-y.

[2015-09-27 00:26] stephentoub commented on #3460
This also just failed on Windows:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release/1337/

cc: @davidsh, @cipop

[2015-09-27 12:38] ellismg opened #3484 "Some asserts during X-Plat Sockets Tests"
See: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst/1021/console. The Debug.Assert here did not cause the test to fail.

[code]

[2015-09-27 15:39] ellismg commented on #2769
Initial support has been committed.  Still work to be done on supporting some CompareOptions, but we can close this one now.

[2015-09-27 15:39] #2769 closed

[2015-09-28 00:25] JonHanna commented on #3481
Option 6 ruled out, as I can create too many cases where code that handles an exception would become code that fails to do so. It might be worth doing, but the impact is probably worth considering as a separate issue.

[2015-09-28 04:49] rajansingh10 commented on #3362
2. Trailer size requirement changes based on Protocol. Currently it's hard coded. (Interop.libssl_types.cs)
3. SSL3_RT_MAX_COMPRESSED_LENGTH will depend on whether compression is allowed or not. (Interop.libssl_types.cs)
4. AllocateSslContext - Set remote certificate options (Interop.OpenSsl.cs)
5. Disconnect -  check the SSL_shutdown error (Interop.OpenSsl.cs)
6. BioRead/BioWrite - Should bio ret

[2015-09-28 05:10] rajansingh10 commented on #3362
17. Add error messages to *.resx files for localization.

[2015-09-28 05:25] kennywangjin opened #3489 "using reflection to get value of static field fails:"
while using reflection to get the value of static field:

fieldInfo.GetValue(null)

It always fails because of the null parameter.
Problem is that this field is static. In previous .net, it worked well, no instance was required for static memebers. Why has it different behavior now? Is it by design?

[2015-09-28 05:49] rajansingh10 commented on #3362
18. Use SslContext as a class rather than struct & use a GCHandle rather than allocating native memory every time.

[2015-09-28 09:19] davidfowl commented on #699
@stephentoub We use some of these today in DNU to do things like restore the specified projects in parallel (as an example).

[2015-09-28 10:00] svick commented on #3489
Looking at [the source for `RtFieldInfo`](https://github.com/dotnet/coreclr/blob/4cf8a6b082d9bb1789facd996d8265d3908757b2/src/mscorlib/src/System/Reflection/FieldInfo.cs), I don't see any null checks.

Are you sure that it's not the `fieldInfo` that's `null`? Could you post full stack trace?

[2015-09-28 12:33] stephentoub opened #3494 "ConnectV4MappedIPAddressToV4Host_Success failed in CI on Linux"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2785/console
[code]

[2015-09-28 12:35] stephentoub commented on #3494
Also at http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2785/

[2015-09-28 12:35] stephentoub commented on #3494
And the related ```ConnectV6IPEndPointToDualHost_Success``` failed at http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2783/

[2015-09-28 12:39] stephentoub opened #3495 "SocketPerformance_SingleSocketClientAPM_LocalHostServerAPM failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug/1351/console
[code]
cc: @davidsh, @cipop, @pgavlin

[2015-09-28 12:41] stephentoub opened #3496 "PLINQ GetEnumerator_CurrentBeforeMoveNext test failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2782/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2784/
[code]
cc: @Clockwork-Muse

[2015-09-28 12:44] stephentoub commented on #699
Which ones?

[2015-09-28 12:48] JonHanna commented on #3496
Not an issue. That was me, and it should indeed fail on that test (or arguably nothing should fail it, but that's for another discussion). I didn't see the failure before pushing because the change is in another project. The CI was doing its job.

[2015-09-28 12:49] #3496 closed

[2015-09-28 12:54] stephentoub commented on #3464
Regarding the title of this issue, I don't believe this has anything to do with CancellationTokenSource not working as expected. Cancellation is being requested as desired... it's just that the consumer of the CancellationToken isn't being aggressive about responding to the request.

[2015-09-28 15:35] stephentoub opened #3497 "SendPacketsElement_FilePart_Success failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/4322/console
[code]
cc: @davidsh, @cipop, @pgavlin

[2015-09-28 16:41] rajansingh10 commented on #3362
Evaluate if various SSL methods in GetSslMethod of Openssl.cs, can be cached one time & use always.

[2015-09-28 16:48] StephenBonikowsky commented on #3464
Please feel free to update the title to something more accurate, I'm not familiar with the code base where this is occurring.

[2015-09-28 17:13] ericstj commented on #3186
I would imagine that we'd package such a contract with a RID-specific implementation.  If someone we're consuming it they'd need a RID specific implementation, which would require multiple packages.

EG:
System.IO.FileSystem.Unix
ref/dotnet/System.IO.FileSystem.Unix.dll
runtimes/unix/lib/dotnet/System.IO.FileSystem.Unix.dll

System.Banana
ref/dotnet/System.Banana.dll
runtimes.json
[code]

runtime.

[2015-09-28 18:10] nguerrera commented on #3489
@svick is right -- this should not be the case. Full repro steps and/or full stack trace would definitely help.

[2015-09-28 18:14] bartonjs commented on #3431
This was fixed by https://github.com/dotnet/corefx/pull/3449.

[2015-09-28 18:14] #3431 closed

[2015-09-28 18:23] rajansingh10 commented on #3362
use safehandles inplace of intptr wherever applicable.

[2015-09-28 18:36] CIPop opened #3501 "Add static and runtime verification tools against existing tests"
/cc: @stephentoub @vijaykota @pgavlin @davidsh

We should augment our CI with static and runtime verification tools that can be enabled against our existing tests:

Windows:
- [ ] FXCop (edit: covered by https://github.com/dotnet/corefx/issues/14095)
- [ ] PREfast for Native code
- [ ] [AppVerifier](http://www.microsoft.com/en-us/download/details.aspx?id=20028)

Linux:
- [ ] [Valgrind](http://valg

[2015-09-28 18:37] stephentoub commented on #3501
cc: @nguerrera, @mmitche

[2015-09-28 18:40] stephentoub commented on #3495
Related failure?:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2808/
[code]

[2015-09-28 18:42] bartonjs opened #3502 "Windows: new X509Certificate2(byte[]).GetRSAPrivateKey returns RSACSP instead of RSACng"
The idea/thought was that we'd use CNG for everything except for hardware providers that were linked through CAPI.  In particular, this would prevent the SHA256 lookup failure that occurs when using CAPI's PROV_RSA_FULL instead of PROV_RSA_AES.

I'm pretty sure that we made the software keys be returned via RSACng on desktop (4.6).  This was accomplished by calling CryptAcquireCertificatePrivateKe

[2015-09-28 18:47] CIPop commented on #3495
@stephentoub These are not CI tests but Performance/outer loop. Why are they running on each check-in?

It appears that the CI machines are overwhelmed and can't keep up with the execution requirements that were tuned for the ToF execution machines.

10061 is No connection could be made because the target machine actively refused it. This usually means that the code didn't get to Accept() the conn

[2015-09-28 18:50] stephentoub commented on #3495
Because they're not marked as [OuterLoop] (or [Benchmark] for the new performance scheme being worked on).  Each PR runs tests with ```-notrait category=failing -notrait category=outerloop```.

[2015-09-28 18:52] CIPop commented on #3495
Summary of issues:
- [ ] `System.Net.Sockets.SocketException : Unknown error 10061` I believe this should be a known error code. Potential AppCompat bug.
- [ ] CI server can't keep up:
  * Connections refused
  * Performance test completes in 7.6sec (> 5sec which is a conservative expectation on a 8 logical core machine running the tests sequentially - usually the tests execute in <1sec)

[2015-09-28 19:35] stephentoub opened #3504 "ReceiveFromAsyncV4BoundToAnyV4_Success failure in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug/1361/console
[code]
cc: @davidsh, @CIPop, @pgavlin

[2015-09-28 19:36] stephentoub commented on #3497
Again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/4348/console

[2015-09-28 19:37] stephentoub commented on #3494
Again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2810/

[2015-09-28 19:40] ianhays opened #3505 "Process.GetProcessesByName significantly slower on Linux than Windows for nonexistent process"
The performance test being run:
[code]

Linux perf results (38.455 total seconds):
[code]

Windows perf results (3.355 total seconds):
[code]

Further increasing the number of calls to GetProcessesByName makes comparatively little difference on Windows. For example, with an ```InnerIterations``` of 5000 (45000 total function calls), the elapsed time on Windows is only 106 seconds. In that same tim

[2015-09-28 20:14] CIPop commented on #3362
@rajansingh10 Instead of adding new posts, please move all items to the first one by editing it (the pencil icon near the top right).
Also, it's nice if you use the format to track what's already done:
- [ ] Item1
- [X] Item2
- [ ] Item3

[2015-09-28 20:21] davidsh opened #3506 "Can't run [Outerloop] tests using msbuild of individual test project"
I frequently go to a single test directory to run tests just for that project.

I.e., this will run just innerloop tests:

msbuild /t:clean;build;test

Now, say, I want to run `[Outerloop]` tests:

I tried using this from the directory of the individual csproj file:

`msbuild /t:clean;build;test /p:RunTestsWithCategories=Outerloop`

or this:

`msbuild /t:clean;build;test "/p:XunitOptions=-trait ca

[2015-09-28 20:21] davidsh commented on #3506
cc: @stephentoub @mmitche @nguerrera @CIPop

[2015-09-28 20:23] Maxwe11 commented on #3506
Try this `msbuild /t:RebuildAndTest /p:WithCategories=OuterLoop`

[2015-09-28 20:26] davidsh commented on #3506
Yes, that works, Thx.

I think this documentation page needs to be updated since it doesn't reference `/p:WithCategories=Outerloop` at all.

https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md

[2015-09-28 20:57] CIPop commented on #3447
/cc: @josguil
Temporarily disabling this.

[2015-09-28 21:40] JonHanna commented on #3506
If updating that, it might be worth noting the opposite when it comes to running from a debugger. I'd sat through quite a lengthy outerloop test a handful of times before it occurred me to alter the command to exclude them.

[2015-09-28 21:56] bartonjs commented on #3502
This was fixed by #3507, but didn't tag appropriately.

[2015-09-28 21:56] #3502 closed

[2015-09-28 22:24] ianhays opened #3512 "Path.GetDirectoryName slower on Linux than Windows Core"
The performance test being run:
[code]

Linux perf results (99.804 seconds):
[code]

Windows Core perf results (4.147 seconds):
[code]

[2015-09-28 22:58] ianhays opened #3515 "PathInternal.Unix.HasIllegalCharacters far slower than its Windows equivalent"
almost certainly related to #3512

Path.Combine and Path.GetFileName are both far slower than their windows counterparts.

Linux results:
[code]

Windows Results:
[code]

I believe this is caused by the PathInternal.Unix.HasIllegalCharacters function that is called by nearly every Path function. The code for the method in its current state that gave the above timing information is this:
[code]

By

[2015-09-28 23:17] stephentoub commented on #3515
We should consider making that change if for no other reason than it being simpler and less code; if it helps this much with perf, all the better. I'm a little surprised it made such a difference, though; if it proves to result in such an increase, we should investigate why, as it could potentially hint at some problem elsewhere. It's also fairly ironic given the comment that's there.

[2015-09-28 23:19] stephentoub commented on #3515
Separately, why isn't GetFileName in the Windows results?

[2015-09-28 23:26] ianhays commented on #3515
PR up: #3516

Agreed that it doesn't make a lot of sense that this would be so much faster, especially <i>this much</i> faster. Either way, it is a lot more minimalist and certainly less ironic :)

I've been pruning the Windows data to be more inline with the Unix data for easier comparison and it looks like I pruned too much. Updated the OP.

[2015-09-29 00:50] #3515 closed

[2015-09-29 01:03] ianhays opened #3518 "Dictionary int constructor ~10 times faster on Windows than on Linux"
Perf test being run:

[code]

Linux results:
[code]

Windows results:
[code]

Note that the because of the way the test is written, destructing of the dictionaries can be included in the measured portion. It would be worthwhile to store local copies of the dictionaries so that destruction doesn't happen within the iteration.StartMeasurement ```using``` so the exact problem can be narrowed down.

[2015-09-29 01:32] ellismg opened #3520 "System.Threading.Tasks.Dataflow.Tests.EtwTests.TestEtw failed in CI on OSX"
This is a deterministic failure as far as I can tell.

[code]

http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_debug_tst/50/testReport/junit/System.Threading.Tasks.Dataflow.Tests/EtwTests/TestEtw/

[2015-09-29 01:33] ellismg commented on #3520
/cc @stephentoub.  I am going to disable this test for OSX shortly.

[2015-09-29 01:52] stephentoub commented on #3520
Are you sure the right dll is being used, i.e. not the WP8 version?

[2015-09-29 01:56] ellismg commented on #3520
@stephentoub I will take a look into that, I didn't dive in yet.

[2015-09-29 02:29] kennywangjin commented on #3489
I am using fieldInfo.GetValue(null) to get enum member's value (I want to enumerate all the declared memebers in the enum):

here is the code:
enumType.GetTypeInfo().DeclaredFields.Select(item => new SelectListItem
            {
                Value = item.GetValue(null).ToString(),
                Text = item.Name
            });

errorinfo: {"Non-static field requires a target."}

stacktrace:

[2015-09-29 03:32] MgSam commented on #3482
I always use a `GetOrDefault` extension method for `Dictionary`. It's far nicer to work with than `TryGetValue`.

[2015-09-29 03:47] saurabh500 opened #3524 "Incorporate Misc code review comments for SqlClient"
Please refer PR
https://github.com/dotnet/corefx/pull/2986

The items to be taken care of,
1. Use utility methods.
2. Remove unnecessary base class calls
3. There is Obsolete SMI code which can be removed. Followup on the SMI v1 support and clean this up.

[2015-09-29 15:23] hughbe opened #3529 "Meta: nameof(x)"
Using `nameof(aParameter)` instead of `"parameter"` is considered a best practice in C#.
Whilst browsing the code for corefx, I noticed that this coding practice is not followed - for example, there is a lot of code that is written as follows:

[code]

Whilst adding several characters to the line of code, using `nameof(aParameter)` would prevent future inconsistencies (for example, by changing the

[2015-09-29 15:25] stephentoub commented on #3518
@ianhays, is it possible you're running the Linux tests with a debug coreclr / mscorlib?  I just tried this locally and I'm not seeing anywhere near such a difference.

[2015-09-29 15:28] stephentoub commented on #3529
Thank you for the suggestion. However, we're still using C# 5 in the corefx repo.  When we upgrade to C# 6, we will start to take advantage of new features like nameof.

[2015-09-29 15:28] #3529 closed

[2015-09-29 15:29] stephentoub commented on #3512
Is this still an issue after your HasIllegalCharacters change?

[2015-09-29 15:33] weshaggard commented on #3529
Yes I fully expect nameof(T) will be come part of our coding guidelines once we make the switch to C# 6. I'm hoping that will be able to happen by the end of the year.

[2015-09-29 15:34] ianhays commented on #3512
Nope, this is fixed. I accidentally wrote "resolves #3515, #3515" instead of "Resolves #3515, #3512" on that PR.

[2015-09-29 15:34] #3512 closed

[2015-09-29 15:41] vdisasm opened #3530 "[Suggestion] SortedSet / SortedDictionary: get Next/Prev Key or Node"
Both classes are good as Sets, but are limited if I want to find Key and then find previous or next Key (or node) without need to start searching from root.

[2015-09-29 15:44] ianhays commented on #3518
I agree that the results don't make a lot of sense and are indicative of a problem somewhere else along the line - in theory non xplat code like Collections should be the one thing that is constant (or near so) between platforms.

I'm thinking that the mscorlib that I've been using was probably compiled in a Debug configuration. I'm going to modify my workflow a bit and rerun the tests. It's likel

[2015-09-29 16:07] stephentoub commented on #3505
I expect any real difference here is fundamentally due to from where we source the data: on Windows, the information comes directly from Windows APIs, whereas on Linux, we're enumerating and parsing files in procfs.

There are some things we could potentially do to decrease the gap, though I don't think we'll ever get them on par.  For example, on Windows when you get a Process object, we include

[2015-09-29 16:08] stephentoub opened #3532 "SendPacketsAsync.BufferZeroCountThenNormal_ZeroCountIgnored failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/4396/console
[code]
cc: @davidsh, @cipop, @pgavlin

[2015-09-29 16:30] stephentoub opened #3533 "Timer_Change_BeforeDueTime_ChangesWhenTimerWillFire failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug/1368/console
[code]

[2015-09-29 16:31] stephentoub commented on #3533
Again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release/1354/console

[2015-09-29 16:49] ianhays commented on #3505
I sent you an email with my workflow. I don't think I'm running anything in Debug, but another set of eyes would be helpful.

I can’t see anything that I’m missing, but I’m still getting inconsistent or nonsensical results. I’ve confirmed your skepticism on the numbers for Process.GetProcessesByName by running tests for only that method, but when running tests for the whole class I get completely

[2015-09-29 17:15] AtsushiKan opened #3534 "$(CommonPath) in <Compile Include> paths causing bad Visual Studio experience."
A bunch of our .csproj files have lines like &lt;Compile Include "$(CommonPath)\blah\blah"&gt; where $(CommonPath) is defined in dir.prop.

This has a really bad effect on VS experience as its navigation and Intellisense engine struggle to find these files.

Defining $(CommonPath) inside the individual .csproj fixes the Intellisense and still gives us some measure of encapsulation, albeit imperfec

[2015-09-29 17:36] stephentoub commented on #1614
Good request. This is being tracked by https://github.com/dotnet/corefx/issues/3188.

[2015-09-29 17:36] #1614 closed

[2015-09-29 17:37] terrajobst commented on #1645
We're are not opposed but it seems if there is a workaround, it's lower priority. @bpschoch, please feel free to come up with a proposal.

[2015-09-29 17:39] terrajobst commented on #1653
@KrzysztofCwalina, seems related to `System.Buffers`.

[2015-09-29 17:41] terrajobst commented on #1838
Seems related to #1614.

[2015-09-29 17:42] stephentoub commented on #1838
This is being tracked by #3188.

[2015-09-29 17:43] stephentoub commented on #1838
Sorry, closed prematurely, as the request was for a cross-platform ctrl-C.

[2015-09-29 17:45] terrajobst commented on #1903
@KrzysztofCwalina , is that related to object pooling.

[2015-09-29 18:01] terrajobst commented on #2077
Can you make a proposal on how this would look like?

[2015-09-29 18:08] nguerrera commented on #3489
@kennywangjin That code will behave exactly the same way on full .NET Framework. One of the declared fields, `value__`, is actually non-static.

You have a couple of options:

1. Add `.Where(f => f.IsLiteral)`
2. Use `Enum.GetNames()` and let it do the right thing.

It's also worth noting that both Text and Value get the same string since Enum.ToString() returns the FieldInfo.Name as well. I'd mak

[2015-09-29 18:08] #3489 closed

[2015-09-29 18:16] saurabh500 opened #3535 "Refactor and consolidate the AdapterUtil.cs"
Reuse the common functions from AdapterUtil.cs
The AdapterUtil is present in both Data.Common and Data.SqlClient with common functions.
Refactor the AdapterUtil.cs so that most of it can reside in Data.Common

[2015-09-29 18:16] saurabh500 commented on #3535
Tagging Pull request https://github.com/dotnet/corefx/pull/2986

[2015-09-29 19:23] eerhardt opened #3537 "Investigate System.Text.Encodings.Web.Tests encoding failure using XUnit Theory"
We currently have this TODO in our UnicodeHelpersTests:
[code]

However, after implementing the Encoding table on Unix, and converting this test back to a Theory, we still get a similar error running the test:

`error: Invalid high surrogate character (0xDFFF). A high surrogate character must have a value from range (0xD800 - 0xDBFF).`

We should investigate why this error is happening and fix it.

[2015-09-29 19:34] ellismg opened #3538 "Discussion regarding support of CoreFX builds on non-windows OSes."
Today, building CoreFX on non windows platforms uses Mono as the runtime for all the managed code we need to run (namely MSBuild and Roslyn).

The long term goal is to instead run on-top of a stable CoreCLR build.  However, making this change has the possibility to regress supported build platforms since CoreCLR may not run everywhere Mono does (e.g. FreeBSD, other linux Distros, etc.)  As a concr

[2015-09-29 19:36] ellismg commented on #3538
/cc @weshaggard @akoeplinger @nguerrera @bartonjs @Petermarcu

I tagged a set of folks that I figure are interested in this and have strong opinions.  Feel free to pull in additional folks to the discussion.

[2015-09-29 19:45] akoeplinger commented on #3538
Can you share some details about what prevents GenFacades from working on Mono?

If at all possible I'd prefer (2) as Ubuntu 14.04 is a very narrow set of platforms and I think there are a *lot* of distros (e.g. Arch, openSuse, etc.) where Mono runs today but there's no CoreCLR package.

[2015-09-29 19:57] janhenke commented on #3538
@jasonwilliams200OK @josteink

In general I have to keep a way for porting to new platforms. While FreeBSD supports seems mostly working, other platforms might be interesting to add in the future (e.g. OpenBSD, NetBSD). I also prefer option (2). Running on CoreCLR itself should be the goal, but we need to support Mono as a backup runtime.

For the Linux side I also second @akoeplinger's comment, L

[2015-09-29 19:59] janhenke commented on #1626
#3471 should bring us ```System.Net.NameResolution``` and complete the list above.