[2017-01-03 23:27] whoisj commented on #7804
@yizhang82 I think this:

Is the right answer. For those coming from non-Windows platforms, seeing the options Ascii, Unicode, and UTF8 as options is kind of mind boggling. For many, Unicode is UTF8. 😏

[2017-01-03 23:30] weshaggard commented on #2869
future branch is deleted. For reference in the future here is a pointer to the sha it pointed at https://github.com/dotnet/corefx/commit/ee2d333.

[2017-01-03 23:39] jnm2 commented on #7804
Additionally I think it's valuable to make sure it's clear in the IntelliSense documentation for `Unicode` that `UTF16` should be used instead.

[2017-01-03 23:41] #13252 closed

[2017-01-03 23:46] yizhang82 commented on #7804
@jnm2 We can also add EditorBrowsable(Never) on the enum value to hide it, if I remember correctly. That's probably for the better :)

[2017-01-03 23:56] pakrym opened #14833 "Span<byte> gets corrupted when accessing `Environment.StackTrace` multiple times in xunit test"
### Repro:
1. Checkout https://github.com/pakrym/r/tree/span-corrupt
2. `dotnet restore `&& `dotnet test` in `src/SpanCorrupt`

### Expected:
Calling Environment.StackTrace does not modify span:
[code]
### Actual
Calling Environment.StackTrace modifies span:
[code]

@davidfowl @KrzysztofCwalina

[2017-01-04 00:00] KrzysztofCwalina commented on #14833
@AtsushiKan, could you take a look? This is blocking the ASP.NET team.

cc: @joshfree, @jkotas

[2017-01-04 00:02] jnm2 commented on #7804
@yizhang82 Please do, and in addition, make it clear in the IntelliSense documentation for the same of the ReSharper users who don't benefit from `EditorBrowsable` visibility and for those browsing MSDN.

[2017-01-04 00:05] cesarbs commented on #14781
Issues addressed in https://github.com/dotnet/corefx/pull/14830

[2017-01-04 00:21] divega commented on #4465
@karelz was this fixed?

[2017-01-04 00:27] eyalsk commented on #3188
@chadwackerman

Can you create a new issue about it?

Same as above.

Same as above.

Same as above.

Same as above

Same as above.

I'm sure they will want to know about the problems you're having.

[2017-01-04 00:35] AlexGhiondea commented on #13526
@sharwell if we just add Build and Revision you can get the wrong answer.
Consider the case where you have 2 versions: `1.0.0.4` and `1.0.3.0` If you convert them to `SemanticVersion` you are going to get `1.0.4` and `1.0.3` which is not what you want.

If we want to normalize Build and Revision we can do something like Build*100 + Revision.
To take the example from above, using this transformatio

[2017-01-04 00:43] AlexGhiondea commented on #1583
@svick @NickCraver I am closing this since we are going to review basically the same in #11555

[2017-01-04 00:43] #1583 closed

[2017-01-04 00:45] jkotas commented on #14833
It does not build for me:

[code]

[2017-01-04 00:46] pakrym commented on #14833
@jkotas you would need SDK `1.0.0-preview2-1-003180` installed

[2017-01-04 00:46] AlexGhiondea commented on #12855
@karelz could you add @vcsjones to the contributor list?

[2017-01-04 00:47] chadwackerman commented on #3188
@eyalsk I'm sure you're the first guy to grab the Scrabble box for rules clarifications. Unfortunately adding another five tiny issues to the massive backlog here is unlikely to move the needle. Which if you'll take a few minutes away from your busy schedule spent starring repositories for no reason, you may realize indicates a bigger problem with the process here. Thus my raising the issue the wa

[2017-01-04 00:50] cesarbs opened #14837 "Add test to ensure SslStream.ReadAsync() does not enqueue work before call to wrapped stream's BeginRead"
@stephentoub as discussed. Not sure if the title is good, feel free to change.

[2017-01-04 00:54] NickCraver commented on #13526
@AlexGhiondea I think it's ready for review and most productive in a call. The `Revision` detail may affect API shape though (the necessary comparison operators to independently handle it may or may not be required). Let's see what a live discussion yields :)

[2017-01-04 00:55] AlexGhiondea commented on #12509
@jamesqo I like this approach!

I would rename the class to `Exception` or `ExceptionFactory` since we are basically building an exception factory.

And I am sure we can somehow auto-generate this for all exception types in the framework.

[2017-01-04 00:56] AlexGhiondea commented on #13526
@NickCraver great! I have marked it as such!

Would you mind updating the top post with the most recent shape of the API to make it easy to find during the review?

[2017-01-04 00:58] danmosemsft commented on #8146
I think what you're hitting is basically what I'm asking about.

I assume in your change you have essentially the same code and tests in which case we can just use this PR.

[2017-01-04 01:05] danmosemsft commented on #14818
@bartonjs

[2017-01-04 01:05] karelz commented on #12855
Done, ping us here when you accept, then we can assign.

[2017-01-04 01:07] danmosemsft commented on #14736
@Priya91 to consider adding such logging - or if you believe this is a one off thing then close.

[2017-01-04 01:08] divega commented on #6073
Thanks @MadsTorgersen. From the perspective of optimizing for the most common usage and the hypothesis that `IEnumerable<T>` is the most common scenario, I am fine with us doing what you are proposing (which is I believe what people in the thread had already arrived to before I started chiming in :grin:).

I still believe these operators are weird in that they have even more limited composability

[2017-01-04 01:08] dotnet-mc-bot opened #14838 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_ClientCertificates_Test/Manual_CertificateSentMatchesCertificateReceived_Success(numberOfRequests: 3, reuseClient: True)"
Opened on behalf of @jiangzeng

The test `System.Net.Http.Functional.Tests.HttpClientHandler_ClientCertificates_Test/Manual_CertificateSentMatchesCertificateReceived_Success(numberOfRequests: 3, reuseClient: True)` has failed.

System.Threading.Tasks.TaskCanceledException : A task was canceled.

        Stack Trace:

           at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task

[2017-01-04 01:09] jiangzeng commented on #14838
Looks the same issue with #9785

[2017-01-04 01:10] jkotas commented on #12509
The outlining codesize optimization like this would be best done by the compilation toolchain ... works for billions lines of existing code, and you do not need to train million developers to write different code to take advantage of it.

[2017-01-04 01:12] dotnet-mc-bot opened #14839 "Test failure: System.Threading.Tasks.Tests.Status.TaskStatusTests/TaskStatus3"
Opened on behalf of @jiangzeng

The test `System.Threading.Tasks.Tests.Status.TaskStatusTests/TaskStatus3` has failed.

Expecting currrent Task status to be WaitingForChildren but getting RanToCompletion
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Threading.Tasks.Tests.Status.TaskStatusTest.RealRun()
       at System.Threading.Tasks.Tests.Status.TaskStatusTes

[2017-01-04 01:16] danmosemsft commented on #77
I updated the contribution guidelines.

@krwq do you have a pointer to what tests these actually are?

[2017-01-04 01:19] karelz commented on #4465
Not yet - the PR was against wrong branch (future) - see #14654 for more details
@sparraguerra can you please submit your changes against master branch? Very sorry for the inconvenience ... I should have caught the wrong branch earlier :(

[2017-01-04 01:21] jkotas commented on #14833
You are using the faster Span implementation built into CoreCLR. It is not fully functional yet.

https://github.com/dotnet/coreclr/issues/5851 is the uber tracking issue. The problem you are hitting is caused by `JIT - Correctness – proper GC reporting of the special byref field`. @russellhadley or somebody from his team is working on it.

[2017-01-04 01:25] robertmclaws commented on #3188
@karelz Can I just say that, reading through this thread, there is legitimate criticism here that can easily be addressed. Microsoft employees might consider not being so defensive... you guys created a HUGE mess for the ecosystem. It's your job to sort it out. It's not our fault the team decided to boil the ocean... do you think the Vista team didn't have to deal with disgruntled people?

There's

[2017-01-04 01:26] eyalsk commented on #3188
@chadwackerman

People star and/or watch repos because they are/were using them or because they know they will need to use them at some point or just because they want to follow the development so there are good reasons for it.

People that value their time, lose their attitude and don't waste their time on making stupid assumptions, bragging or trolling and finally expect people to take them seri

[2017-01-04 01:28] NickCraver commented on #13526
@AlexGhiondea absolutely, done!

[2017-01-04 01:29] stephentoub commented on #3188
@eyalsk, can you use Console.CancelKeyPress? It raises an event for SIGINT and let's you handle it.

[2017-01-04 01:30] OperatorOverload commented on #8146
The only thing I saw on yours that needs changed is that the expected
assertion types are incorrect in the tests.  You included
UnauthorizedAccess and
I put in IOException and that passes when I trade out the DLLs directly.

On Jan 3, 2017 6:59 PM, "Dan Moseley" <notifications@github.com> wrote:

[2017-01-04 01:30] bartonjs commented on #14818
@imbushuo Does this still reproduce for you if you launch the program with `COMPlus_ReadyToRunExcludeList=System.Security.Cryptography.X509Certificates` (environment variable)?

It sounds similar to an issue we're already tracking.

[2017-01-04 01:31] eyalsk commented on #3188
@stephentoub I haven't tried it yet, I'm still digging what it would take me to do it.

Does everything related to Console.* works on .NET Core?

[2017-01-04 01:33] tarekgh commented on #14255
@AlexRadch , did you have a chance to work on exposing the APIs in the corefx side? thanks.

[2017-01-04 01:40] dasMulli commented on #13526
Since only pre-release versions have labels, would it make sense to rename `ReleaseLabels` to `PrereleaseLabels`?
Since there is constructor that takes a `string releaseLabel` parameter, it may mislead users unfamiliar with the semver spec to assume this parameter to be any form of metadata (e.g. `"RTM"`) and then be surprised that `IsPrerelease` is `true`. This would be different if the parameter

[2017-01-04 01:43] stephentoub commented on #3188
On Windows, pretty much all of console works as it does on desktop. On Unix, most of the support works as you'd expect, but some of the more esoteric functionality (e.g. screen buffers) is limited.

[2017-01-04 01:45] jnm2 commented on #13526
Since there is constructor that takes a string releaseLabel parameter, it may mislead users unfamiliar with the semver spec to assume this parameter to be any form of metadata (e.g. "RTM") and then be surprised that IsPrerelease is true. This would be different if the parameter (and the property) was string prereleaseLabel.

Yes. Please.

[2017-01-04 01:47] vcsjones commented on #12855
@karelz done.

[2017-01-04 01:52] NickCraver commented on #13526
`PrereleaseLabels` makes a lot of sense to me, it's clearer and they can't be used any other way.

[2017-01-04 01:56] eyalsk commented on #3188
@stephentoub Okay, once I'll port the application I'll give you feedback about it if there's something I'll need it, thank you!

[2017-01-04 02:03] imbushuo commented on #14818
@bartonjs No. I was unable to reproduce it anymore after setting environment variable.

[2017-01-04 02:06] bartonjs commented on #14818
Okay, so this is a different instance of https://github.com/dotnet/coreclr/issues/8148.   (@JohnChen0 this is a different triggering symptom of the X509Certificates ExecutionEngineException, but I'm guessing it's the same underlying cause/fix).

[2017-01-04 02:11] pakrym commented on #14833
@jkotas is there a way to target latest runtime but disable fastspan?

[2017-01-04 02:22] karelz commented on #14818
Ah, the NULL AV confused me (I missed the debug only part). We have the issue [documented](https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1-known-issues.md#systemexecutionengineexception-in-systemsecuritycryptographyx509cerificatesdll-on-windows).
I don't think we need to change the symptoms there, but let me know if you think otherwise.

[2017-01-04 02:31] jkotas commented on #14833
I would go to nuget cache and overwrite the netcoreapp1.1 System.Memory with netstandard1.0 copy:

`copy lib\netstandard1.0\System.Memory.dll lib\netcoreapp1.1\System.Memory.dll`

[2017-01-04 03:17] stephentoub opened #14842 "EnumerateWithSymLinkToDirectory test failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/ubuntu14.04_release_prtest/50/consoleText
[code]

[2017-01-04 03:20] danmosemsft commented on #14839
@alexperovich @kouvel

[2017-01-04 03:56] jamesqo commented on #6073
@MadsTorgersen :shipit: Sounds like a great idea to me. I think it makes sense to stick with existing conventions (using `out`) and not fall too far from the tree.

[2017-01-04 04:52] imbushuo commented on #14818
@karelz Good to know that. That confused me too - I thought there was related to HttpHandler itself, not X509Certificate2. Now the situation is clear and I have two workarounds before the 1.1.1 release. Sweet!

[2017-01-04 07:21] hermitdave commented on #6318
@danmosemsft i will push a simple first iteration today using concurrent dictionary as you suggested and then we can i implement one with all the bells and whistles

[2017-01-04 08:19] davidfowl commented on #14833
@jkotas does it make sense to disable the fast span in the package until it works? Doesn't make much sense to use it now.

[2017-01-04 08:35] jkotas commented on #14833
You either need to use older corefx before #14262 for now; or if you need to use live corefx for other reasons, I agree it would make sense to disable the fast span in the package.

cc @ahsonkhan

[2017-01-04 09:51] erikzhang commented on #9058
Well I know ProtectedMemory is a wrapper around CryptProtectMemory and CryptUnprotectMemory. I can make a RP to implement it.
By the way, is that a windows-only functionality? I can't find any equivalent functions in linux or osx.

[2017-01-04 09:53] DivenLee commented on #14359
Hello, I have the same needs. Did not find the method AssemblyLoadContext.GetLoadedAssemblies (), this method is derived from where? @karelz @alexpantyukhin

[2017-01-04 10:43] FransBouma commented on #13526
Serious question: how is this going to be used in practice? I fully understand the lack of ability to store pre-release info is a problem with System.Version, no questions there. The problem I see a bit is that an assembly currently has two version info elements: a System.Version instance and a FileVersionInfo element of its file (on windows at least). These often differ: the System.Version part i

[2017-01-04 11:24] NickCraver commented on #13526
@FransBouma I don't understand tying all reasoning to .NET assemblies here, `SemanticVersion` is used in far more places than that. What initiated this was me parsing Elasticsearch versions, as an example. Tens of thousands of software projects, package management systems, etc. use this.

Even in the .NET case, this reasoning is not correct. Semantic versioning is applied to **a package**, not **a

[2017-01-04 12:09] xoofx opened #14846 "ApiSet dlls still used from native code"
According to the PR #13440, it was supposed to remove usage of apiset DLL but checking on a recent local build, `clrcompression.dll` typically imports `api-ms-win-crt-runtime-l1-1-0.dll` and `api-ms-win-crt-heap-l1-1-0.dll`

We should probably remove using these DLLs there too.

[2017-01-04 12:10] FransBouma commented on #13526
Ah ok, then I misunderstood, as System.Version's usage is on assemblies (and elsewhere) and I wondered where this is going to be stored, as it was unclear to me it would be used to deal with nuget packages, not assemblies. Thanks for clearing that up!

[2017-01-04 13:13] jnm2 commented on #13526
@FransBouma I use it for database and file format versioning, as well as AssemblyInformationalVersion.

[2017-01-04 14:25] stephentoub commented on #14824
I think in the meantime we need to rollback the changes.  As far as I can tell, they are invalid / can lead to corruption in the face of re-handshakes, amongst the other issues I noted.

[2017-01-04 14:48] benaadams commented on #14824
Rolling back will break the aspnet CI build; though its probably the correct starting point

/cc @cesarbs

[2017-01-04 14:51] benaadams commented on #14824
Rolling back will break the aspnet CI build as it causes https on Kestrel to deadlock. Though its probably the correct starting point to reimplement.

/cc @cesarbs

[2017-01-04 14:52] stephentoub commented on #14824
It can be rolled back at the same time as changing the calls to BeginRead/Write to instead use Read/WriteAsync on the underlying stream, essentially mirroring what was done in 1.1.

[2017-01-04 14:57] benaadams commented on #14824
Will make a PR for that shortly

[2017-01-04 14:57] ofirmakmal opened #14850 "StreamOperationAsyncResult throws System.NullReferenceException when being finalized by the GC"
We have an issue where something after disposing a stream, we are getting an exception that is raised from the Finalizer thread, where the only method in the call stack is:
`System.Runtime.WindowsRuntime.dll!System.IO.StreamOperationAsyncResult.CancelStreamOperation
`
Inside this method, there is a check if the callback was invoked, and if not it's calling `_asyncStreamOperation.Close();`

The cod

[2017-01-04 14:58] stephentoub commented on #14824
Already in the process of doing so...

[2017-01-04 15:03] benaadams commented on #14824
Already in the process of doing so... 😄

[2017-01-04 15:13] ofirmakmal commented on #14850
I've create a PR for fixing this issue at:
https://github.com/dotnet/corefx/pull/14851

[2017-01-04 15:47] grendello opened #14853 "Idea: switch to libzip for ZIP archive implementation"
By way of introduction, I work on the Xamarin/Mono team at Microsoft (Xamarin.Android and, from time to time, a foray to the Mono BCL/runtime land) and we've been struggling with various issues related to ZIP archive support over the past few years.

The main problem with all (as far as we can tell) managed implementations is that they implement only a subset of what's supported by the ZIP format

[2017-01-04 16:22] mfe- commented on #5088
I'm getting on Configuration Release with enabled .NetNativeToolChain

6>  Processing application code
6>C:\Users\mfe\Documents\Visual Studio 2015\Projects\tetris\UWP\tetris\Resources.System.Linq.Expressions.rd.xml(35): warning : ILTransform : warning ILT0027: Method 'CreateLambda' within 'System.Linq.Expressions.Expression' could not be found.
6>C:\Users\mfe\Documents\Visual Studio 2015\Projects\

[2017-01-04 16:29] fujiy commented on #4805
I got it. To be able to consume my CoreClr I had to add a reference to my CoreClr packages path at element DnuRestoreSource in dir.props.

[2017-01-04 16:32] KrzysztofCwalina commented on #14833
@ahsonkhan, could you temporarily disable fast span?

[2017-01-04 16:46] karelz commented on #14837
Can you provide link to the discussion as context please?

[2017-01-04 16:49] karelz commented on #14846
Dupe of #14728

[2017-01-04 16:49] #14846 closed

[2017-01-04 16:54] xoofx commented on #14728
Not sure it was already tracked it, but it seems that native dll like `clrcompression.dll` still imports `api-ms-win-crt-runtime-l1-1-0.dll` and `api-ms-win-crt-heap-l1-1-0.dll`

[2017-01-04 16:58] stephentoub opened #14855 "Many XML tests are outerloop... why?"
Lots of the XML test projects are outerloop.  Why?  It'd be great to a) consolidate them into fewer test projects, and b) make most or all of them innerloop, unless there's a really good reason to keep them outer.

[2017-01-04 17:02] karelz commented on #14850
Were you able to reproduce the problem in a targeted (stress) test?

[2017-01-04 17:19] stephentoub opened #14856 "XLinqTests.TreeManipulationTests.LoadFromStreamSanity failing all outerloop runs"
The LoadOptionsLI and XE_LoadOptionsLI "variations" are now failing.

[2017-01-04 17:20] joperezr commented on #3419
@AlexRadch is this something you are still interested in working on? If not we can unassign you and flag this as up-for-grabs.

[2017-01-04 17:29] danmosemsft commented on #14728
This is causing a bunch of test failures on Windows 7. @JohnChen0 do you plan to fix these or should I ask someone to do so? Also can you comment on @xoofx's note above?

[code]

[2017-01-04 17:37] danmosemsft commented on #14856
@krwq why are so many of the XLINQ tests marked [OuterLoop] (which prevented CI from catching this)?

In this case I belive it's this test

[code]

but there are 63 [OuterLoop] tests in XLINQ, mainly in System.Private.Xml.Linq\tests\TreeManipulation\TreeManipulationTests.cs. Is there a good reason?

@sepidehMS

[2017-01-04 17:38] danmosemsft commented on #14855
@krwq @sepidehMS

[2017-01-04 17:38] stephentoub commented on #14856
FYI, I already opened #14855 for this.

[2017-01-04 17:38] danmosemsft commented on #14856
Oop, yes I just saw.

[2017-01-04 17:39] danmosemsft commented on #14842
@JeremyKuhne

[2017-01-04 17:40] stephentoub commented on #14856
@sepidehMS, you marked this as "test bug"... do you know it's a bug in the test?  Seems like the test was passing until changes were made to the implementation.

[2017-01-04 17:43] AlexGhiondea commented on #4805
@fujiy pointing to your package location that you build in CoreCLR is another option!

Glad to see you got it working!

Why did you have to set that envvar?

[2017-01-04 17:46] danmosemsft commented on #14754
Reproed https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170104.02/workItem/System.Console.Tests/analysis/xunit/ConsoleEncoding~2FTestEncoding(inputString:%20%5C%22This%20is%20Ascii%20string%5C%22)

[2017-01-04 17:49] brfalcon commented on #4805
@AlexGhiondea, instead of removing the element VerifyDependencies from the VersionTools.targets file, we set that envvar in order to bypass the dependencies verification.

[2017-01-04 17:50] sepidehMS commented on #14856
I meant to mark it as "bug". I must have miss-clicked.

[2017-01-04 17:52] stephentoub commented on #14856
Ok, thanks.

[2017-01-04 17:52] danmosemsft commented on #14756
Still failing. https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170104.02/workItem/System.Data.SqlClient.Tests

@saurabh500 could you find the right person to take a look? If you believe it's an infra issue below SQL let me know.

[2017-01-04 17:54] danmosemsft commented on #13474
I'll close this until I have a chance to verify it still happens. Doesn't hit CI

[2017-01-04 17:55] karelz commented on #14359
@DivenLee where did you look for the API? It is part of not-yet-shipped version 2.0 (see [roadmap](https://github.com/dotnet/core/blob/master/roadmap.md#ship-dates)).

[2017-01-04 17:55] mattwar commented on #6073
With the addition of out var it makes TryXXX pattern API's _less_ unappealing for general code (basically because you don't have to define the variable up front.)  Yet, this is still an unappealing pattern for a LINQ type API that is not only primarily expression based, but is sequence based and is likely to have nested expressions that are executed for each item in that sequence that may themselv

[2017-01-04 17:55] tarekgh commented on #14754
this time on Win7. anyway, I'll try to put more logging info so we can catch the problem and understand what is going on.

[2017-01-04 17:57] danmosemsft commented on #12228
OK, let's close this until it happens again. @jiangzeng please reactivate if it does.

[2017-01-04 17:57] danmosemsft commented on #12228
Thanks for the logging!

[2017-01-04 17:58] rottor12 commented on #14567
@AndyAyersMS Hi Andy

sorry for not replying earlier

it turns out some kernel modification which I was not aware of was making this problem

on normal Linux all works fine

thanks for your help

[2017-01-04 17:58] #14567 closed

[2017-01-04 18:03] MattGal commented on #14754
I'm wondering if this occurs only in some sort of memory stress situation.  I ran the test in a loop 600x on Win 8.1 yesterday, no repro at all.

[2017-01-04 18:03] danmosemsft commented on #6318
Just to be clear folks -- feel free to make a PR, but we can't take any change without an API review approval. That needs a proposal written up as above. @hermitdave were you going to do that?

[2017-01-04 18:05] danmosemsft commented on #14728
You can see what dll they are trying to load by clicking through https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170104.02 eg to https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170104.02/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.I

[2017-01-04 18:05] tarekgh commented on #14754
@MattGal

No, I know now what is going on. I am going to fix the test soon. will add more info when I confirm that. in short it depends on the encoding codepage used in the console.

[2017-01-04 18:07] saurabh500 commented on #14756
@danmosemsft All tests are failing with `System.TypeInitializationException`
This seems like an infra/setup issue. None of these tests use the Sql server for testing.

Looking at few other failures, I see that the dll `Unable to load DLL 'api-ms-win-core-localization-l1-2-1.dll'` was not being loaded for other tests.
This is potentially a setup problem.

[2017-01-04 18:09] hermitdave commented on #6318
@danmosemsft I had a look at what @i3arnon did and it is which is decent. if he isn't interested then I will do a PR later this week

[2017-01-04 18:18] joperezr commented on #14671
@mellinoe did you figure out why was this happening? If the problem is ProjectReferences as @ericstj suggests, then I would imagine this should repro in Windows, right?

[2017-01-04 18:24] danmosemsft commented on #14756
It's possible (that would be consistent with being Win7 only). I don't see any DllImport in TDSServer of apisets directly but it could be on a called path. We would need to set up a Win7 machine to see the actual issue. It should be fine to wait for https://github.com/dotnet/corefx/issues/14728 to see if that fixes it.

[2017-01-04 18:26] danmosemsft commented on #6318
@hermitdave apologies, I wasn't clear in my comment. I should have said -- feel free to prototype in a fork, but a PR against CoreFX would be noise at this point without API approval

[2017-01-04 18:27] joperezr commented on #14336
Here is the formal proposal from this thread:
[code]

The original proposal was to use IReadOnlyList instead of IEnumerable, but that is not possible since it would break compatibility, so the proposal is instead to just add the new interface implementation.

[2017-01-04 18:29] joperezr commented on #14336
The above proposal was just derived from the discussion of this thread, so if folks are happy with that we can go ahead and mark this as ready-for-review.

[2017-01-04 18:30] joperezr commented on #14337
cc: @terrajobst can we add this to the agenda for next review?

[2017-01-04 18:32] mellinoe commented on #14671
I haven't figured out why this is happening. Trying .NET Core MSBuild on Windows should give some hints, maybe.

[2017-01-04 18:33] AlexGhiondea commented on #14750
/cc @CIPop

[2017-01-04 18:38] AlexGhiondea commented on #14724
Before we submit this for review, @davidwrighton @jkotas @gkhanna79 @kouvel -- any comments on this API?

[2017-01-04 18:40] gkhanna79 commented on #14724
This API is part of the collectible load context work @xoofx has been driving.

CC @rahku @kouvel

[2017-01-04 18:41] alexperovich commented on #14702
Yes System.Buffers is a new library. I don't think we added it to the docs.

[2017-01-04 19:00] pharring commented on #14336
@joperezr Don't you also need to implement ```int Count { get; }``` ?

[2017-01-04 19:15] JohnChen0 commented on #14728
@danmosemsft I'll look into fixing the usage of API Set in test code.

@xoofx `api-ms-win-crt-runtime-l1-1-0.dll` and `api-ms-win-crt-heap-l1-1-0.dll` are still the official DLL names to use to dynamically link against C runtime. These DLL names came from `ucrt.lib` used by Visual Studio 2015. We could statically link to the C++ runtime to avoid these imports, but I think that would be separate fe

[2017-01-04 19:16] svick commented on #6073
@mattwar Are you talking about something like the following?

[code]

There is a proposal to make that work: https://github.com/dotnet/roslyn/issues/15619.

[2017-01-04 19:18] kouvel commented on #14724
Looks good to me

[2017-01-04 19:24] mattwar commented on #6073
@svick that would work, but only for query expression syntax.  Its an awkward translation if you had to do it by hand.  Assuming the translation would work at all.

[2017-01-04 19:25] ianhays commented on #14853
The main thing stopping me from adding support for these is time. There are just so many different uses of the fields and so many values, it's difficult to add them in a friendly API and I haven't had the time to nail down a design for them.  Exposing the binary data may be the easiest pill to swallow API-wise, but I also like your managed wrapper. It's quite a bit of new surface area, but I stron

[2017-01-04 19:38] kudoz83 commented on #11224
This is absolutely an issue.  The proposed solution by @darrelmiller seems to demonstrate a lack of understanding of the use case.

We use Azure Traffic Managers to evaluate the health of an instance.  They work on top of DNS with short TTLs.  A host doesn't magically know it is unhealthy and start issuing Connection:close headers.   The traffic manager simply detects the unhealthy state and adjus

[2017-01-04 19:41] JeremyKuhne commented on #14842
@stephentoub Has this come up multiple times?

[2017-01-04 19:42] stephentoub commented on #14842
Don't know; I just hit it in a PR and opened the issue for it.

[2017-01-04 19:45] karelz commented on #14728
@xoofx if you think the CRT part is useful, we may de-dupe you original bug you filed. To assess priority, I'd like to know what is the value of such work and what is the downside if we do not do it.

[2017-01-04 19:46] JeremyKuhne commented on #14842
Thanks, I'll try and track down if this is something more than a fluke. Do our CI runs happen as sudo?

[2017-01-04 19:50] karelz commented on #12228
@qizhanMS sadly, there is currently no way to collect ETW traces from a test failure in our infra (it's on infra backlog together with dump and hang dump collection).

We will need someone to manually run the test in a loop on a machine with ETW tracing explicitly turned on to track down the root cause. Reopening ...

[2017-01-04 19:53] karelz commented on #14337
API review meetings always start with a query of "api-ready-for-review" label. Nothing else is needed to put it on the agenda.

[2017-01-04 19:55] qizhanMS commented on #12228
@karelz We added ETW trace listener on this particular test case, if it fails, we will have the ETW trace information in test result file.

[2017-01-04 19:56] karelz commented on #12228
I see, sorry for confusion then.

[2017-01-04 19:57] jimcarley commented on #12228
Thanks for replying, Qi. I was in the process of writing a reply, but you beat me to it.

[2017-01-04 19:57] Priya91 commented on #14818
Tried the program with @bartonjs workaround, the issue didn't repro.

[2017-01-04 19:57] ianhays commented on #14804
I'm not sure who the right person to notify for this kind of issue is.

It is still present [in the latest run](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170104.02/workItem/System.Console.Tests/analysis/xunit/CancelKeyPressTests~2FCanAddAndRemoveHandler_Remote), so it appears to be more than a hiccup. There ar

[2017-01-04 20:00] karelz commented on #14818
We can close it as confirmed dupe of https://github.com/dotnet/coreclr/issues/8148.

[2017-01-04 20:00] #14818 closed

[2017-01-04 20:00] xoofx commented on #14728
@karelz This is typically to avoid issues like ["dll missing from your computer"](https://github.com/dotnet/cli/issues/5201) where you need to install the VC++ redistributable runtime in order to use a self contained dotnetcore app. A .NET runtime like coreclr+corefx should not have any dependencies to a C++ dll runtime. With all the work being done already for apiset, it would be a pity to just l

[2017-01-04 20:01] karelz commented on #14804
@ianhays can you please work with @MattGal or on internal infra alias to find out the best next steps?

[2017-01-04 20:06] karelz commented on #14728
@xoofx in my mind API sets are different than CRT dependency. Can you please either reopen your original bug and scope it to CRT or open a new one? We can have detailed discussion there ...

[2017-01-04 20:23] xoofx opened #14865 "corefx should not depend on CRT dlls (on Windows desktop)"
Followup of #14846 and the undergoing work with #14728, most of the runtime is going to use plain legacy OS functions which will make a self contained app quite portable.

But there is still native components like `clrcompression.dll` that imports `api-ms-win-crt-runtime-l1-1-0.dll` and `api-ms-win-crt-heap-l1-1-0.dll`, making corefx dependent on an installed C runtime just for a few functions imp

[2017-01-04 20:30] xoofx commented on #14728
@karelz created #14865

[2017-01-04 20:39] karelz commented on #14865
Is clrcompression.dll the only DLL with dynamic CRT across corefx and coreclr repos?

I thought there is a difference between static and dynamic CRT linking in the heaps created -- one shared (dynamic) vs. one per DLL (static). If there is only couple of DLLs with dynamic CRT, then it probably isn't impactful difference ...

cc: @ianhays @gkhanna79 @JohnChen0

[2017-01-04 20:42] gkhanna79 commented on #14865
All our native components (coreclr, jit, etc) rely on uCRT on Windows and this is by design as we intend to rely on a OS component that will be maintained centrally.

[2017-01-04 20:43] xoofx commented on #14865
wow, in fact it is when I looked at debug DLL for coreclr that I didn't find the CRT runtime... but checking on release DLL and they are all there 😞

[2017-01-04 20:44] gkhanna79 commented on #14865
Debug builds are, by design, statically linked since they are not expected to be distributed and there are no debug versions of the CRT binaries that can be distributed.

For Release build, we dynamically link to the release version of the CRT binaries and hence, the imports.

[2017-01-04 20:45] gkhanna79 commented on #14865
https://docs.microsoft.com/en-us/dotnet/articles/core/windows-prerequisites calls out that VC++ 2015 redist needs to be installed as that will get the uCRT dependencies inplace.

[2017-01-04 20:53] xoofx commented on #14865
well, that's an unfortunate practice for a language runtime... but ok, fair enough for the "design decision" , as I can recompile coreclr+corefx with static linking, it will be possible to redistribute an application without uCRT dependencies...

I will maybe send a PR to allow this configuration by a switch/define if it is not already the case.

[2017-01-04 20:53] #14865 closed

[2017-01-04 20:54] jcouv opened #14868 "AssemblyInfo for ref assemblies should not use AllowPartiallyTrustedCallersAttribute"
While working on adding ref assemblies for `System.ValueTuple` (PR https://github.com/dotnet/corefx/pull/14786) I ran into this problem with the `portable-net40+sl4+win8+wp8` TargetGroup (which uses a PCL profile).
From discussion with @ericstj and @weshaggard, it sounds like the `_AssemblyInfo.cs` file should not use `AllowPartiallyTrustedCallersAttribute` in the first place.

I'm using a workaro

[2017-01-04 20:55] jaredpar opened #14869 "System.Threading.Tasks.Dataflow needs version 4.5.24.0 on NuGet.org"
The lowest available release version of System.Threading.Tasks.Dataflow on NuGet.org is 4.5.25.0.  This creates a problem when building / testing Visual Studio components as it ships with version 4.5.24.0.

Can we get an official package for 4.5.24.0 uploaded to NuGet.org?  This would simplify and give us greater confidence in our testing.

[2017-01-04 21:05] #14503 closed

[2017-01-04 21:08] MattGal commented on #14804
I've got a bit of time I could spend looking at this, will reply back with suggestions in a bit.

[2017-01-04 21:23] akoeplinger commented on #14865
Does app-local deployment of the uCRT work?

From https://blogs.msdn.microsoft.com/vcblog/2015/03/03/introducing-the-universal-crt :

[2017-01-04 21:24] MattGal commented on #14804
Actually since these are Desktop runs, this is a known issue.  @karajas is still working on a fix and can update the thread when this might work next / link to the appropriate issues.

[2017-01-04 21:48] #14701 closed

[2017-01-04 21:54] darrelmiller commented on #11224
@kudoz83 You are correct, a host doesn't magically know when a traffic manager has adjusted the DNS resolution, hence why I said

If you don't believe that it is practical to notify an origin server that it should return connection:close headers then you are left with just a few choices:
- Periodically close connections from a client or middleware and pay the cost of re-opening those connections r

[2017-01-04 22:08] grendello commented on #14853
I think our managed wrapper solves the issue of exposing the extended fields in quite an elegant matter ([see here](https://github.com/grendello/LibZipSharp/blob/master/UnixZipEntry.cs) and [here](https://github.com/grendello/LibZipSharp/blob/master/ZipEntry.Unix.cs#L32)). The thing is that ZIP implementations for different operating systems usually just ignore the extended fields their target sys

[2017-01-04 22:18] phototropic commented on #7325
If this API is not expected to be implemented for Linux/Mac, what is the recommended approach for getting a principal from the Kerberos default principal defined by kinit or a keytab from ktutil? In our environment Kerberos credentials are authenticated by AD. Wouldn't it be reasonable to define a principal based on this?

[2017-01-04 22:18] #14754 closed

[2017-01-04 22:24] kudoz83 commented on #11224
AFAIK there is not a way to notify a failed host that it is failed?  Generally this would mean it is in some kind of error state.  The original post is talking about failover scenarios.

Azure Traffic Manager is explained here https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-monitoring

It operates at the DNS level and is transparent to clients and hosts - by design.  Azure i

[2017-01-04 22:25] ianhays commented on #14853
cc: @stephentoub

[2017-01-04 22:30] saurabh500 commented on #14760
In the code at
https://github.com/Microsoft/referencesource/blob/master/System.Data/System/Data/ProviderBase/DbConnectionHelper.cs#L202
the namespace and Class names are transformed during build time of NetFx to give them appropriate names based on the provider they are compiled for.
This above may need to incorporated in the SqlClient code in .Net Core.

[2017-01-04 22:35] sepidehMS commented on #13257
@danmosemsft This behavior change was made with the original port of XmlReaderSettings when it used to live in `System.Xml.ReaderWriter` and before creation of `System.Private.Xml`. @krwq Do you have an idea why?

[2017-01-04 22:36] joperezr commented on #14336
@pharring you are right, I updated the proposal above.

[2017-01-04 22:42] joperezr commented on #14337
@karelz thx, good to know.

[2017-01-04 22:43] #14698 closed

[2017-01-04 22:46] #14856 closed

[2017-01-04 22:57] matekm opened #14874 "Can't build corefx on Linux Mint 18.1"
Hi,

I tried to build corefx on Linux Mint 18.1 and got following error:

Last command seen in  init-tools.log is:
`
Running: /home/matekm/corefx/Tools/dotnetcli/dotnet publish "/home/matekm/corefx/packages/Microsoft.DotNet.BuildTools/1.0.27-prerelease-01121-01/lib/tool-runtime/project.json" -f netcoreapp1.0 -r linuxmint.18.1-x64 -o /home/matekm/corefx/Tools
`

In pkg/Microsoft.NETCore.Platforms/r

[2017-01-04 22:57] darrelmiller commented on #11224
If a "failed" host could not execute any code then we wouldn't need the HTTP status code 503 because an origin server would never be capable of returning it.  There are scenarios where a failed host may not be capable of processing a notification, but in those cases it probably isn't going to hold an active TCP/IP connection open for very long either.

When Ali originally brought this topic up on

[2017-01-04 23:22] #14064 closed

[2017-01-04 23:31] tloo opened #14875 "Microsoft.Win32.Registry.dll version in ref doesn't match the one in nupkg"
When I build Microsoft.Win32.Registry, it will generate "4.0.1.0". But when I build the package, it is using "4.0.0.0", which doesn't have my changes!
Could someone help to explain how does it happen? And where does "4.0.0.0" come from?

[2017-01-04 23:33] danmosemsft commented on #13257
Does this show all changes to XML code made previous to the NS2.0 rename work?
[code]

If so we can find it among those -- but perhaps, unless @krwq happens to know offhand what change it was, we should just assume all behavior changes made were intentional, and we want to keep them (ie., they are not so breaking we should change our minds). So we'd obviously update this test.

@krwq ?

[2017-01-04 23:36] danmosemsft commented on #13481
@JeremyKuhne for folks benefit could you give a brief summary of what you have working so far, and where you expect to take this to for 2.0.

[2017-01-04 23:45] danmosemsft commented on #13257
I tried a few things like
[code]

but a change relevant to this failure didn't jump out to me.

[2017-01-05 00:03] sepidehMS commented on #13257
@danmosemsft If you do

`git log --follow -Gcatch -- src/System.Xml.ReaderWriter/src/System/Xml`

in the initial commit, `XmlReaderSettings.cs` has this change. (In CreateDefaultResolver() method) vs [this](https://referencesource.microsoft.com/#System.Xml/System/Xml/Core/XmlReaderSettings.cs,548).

[2017-01-05 00:06] tannergooding commented on #14869
The package is available in a v4.5.24, but it had a different name at that time: https://www.nuget.org/packages/Microsoft.Tpl.Dataflow/4.5.24

This different name does break the transitive reference stuff in project.json/nuget v3.

Ideally, the Microsoft.Tpl.Dataflow packages would be repacked with the correct name and re-uploaded to nuget.

[2017-01-05 00:22] danmosemsft commented on #13257
So it was in the initial commit? Wasn't that expected to just be an xcopy from https://referencesource.microsoft.com/#System.Xml/System/Xml/Core/XmlReaderSettings.cs,548 ?

[2017-01-05 00:35] sepidehMS commented on #13259
This behavioral change was originally made on Core by https://github.com/dotnet/corefx/issues/1305. The tests were also added then. So, these tests should not run against Desktop at all.

[2017-01-05 00:44] jaredpar commented on #14869
Agree.  As you pointed out this is necessary to make transitive dependencies sane.

[2017-01-05 01:02] shmao commented on #13099
We discussed this issue offline. We didn't see a good solution to avoid the breaking change. We wanted to get rid of `ExceptionDataContract` as it was just a temporary workaround for serializing Exception types when `System.Runtime.Serialization.ISerializable` was not available on NetCore. `ExceptionDataContract` could serialize only a few fields of Exceptions and the payload was not compatible wi

[2017-01-05 01:02] #13099 closed

[2017-01-05 01:03] Priya91 commented on #14715
@yaakov-h I did some investigation on this today, and mostly followed the instructions on this thread, just ramping up in this area. Setup curl with http2 following the docs on OSX, and using your repro, I got a SSL connect error with the apple server, probably because the right certificates are not found. So used your repro with google.com, and printed the http version used. From .NET Core, it re

[2017-01-05 01:21] karelz commented on #14875
There can be multiple versions of the assembly in the NuGet package. Can you check all of them and confirm that none of the DLLs in your built package is the one with your changes?

[2017-01-05 01:31] madelson commented on #14529
@karelz looking at the new APIs porting seems possible but is not super direct. Our use of the existing APIs is woven through a number of internal libraries which would each need to take on a breaking change as well as a number of new dependencies to start using the aspnet APIs.

Two additional potential concerns I have about switching to the new aspnet APIs:
* We use the existing MemoryCache in b

[2017-01-05 01:36] huanwu opened #14879 "DataContractResolver doesn't work on UWP"
The UWP App crashes in release mode when using the DataContractResolver in DataContractSerializer.

[2017-01-05 01:42] jiangzeng commented on #14804
@karelz  About 8 assembles ran into this issue and no test results generated which was recorded in #14555. Maybe 14555 is the same issue with this one.
This issue is happening on build 20170104.02 again.
See https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170104.02/workItem/System.Console.Tests/analysis/xunit/Cancel

[2017-01-05 02:00] DivenLee commented on #14359
Oh no, I thought it was a version 1.2 of API, and I really hope that 2 will come out soon. Thank you for telling me this. Thanks

[2017-01-05 02:24] yizhang82 commented on #5088
@mfe- Are you happening to use the latest 5.3.0-beta2 Microsoft.NetCore.UniversalWindowsPlatform metapackage under VS 2015? If that's the case, you might want to downgrade back to 5.2.2/5.1.0. 5.3.0-beta2 is not compatible with VS 2015.

[2017-01-05 03:06] #14781 closed

[2017-01-05 04:01] jamesqo commented on #14423
It worked. Thanks for helping out!

[2017-01-05 04:01] #14423 closed

[2017-01-05 04:17] JeremyKuhne commented on #13481
The System.Configuration library is ported, with the following caveats:

- System.Security and limited trust related pieces were stripped
- Test writing is in progress

The intent is to prioritize application usage and consumption of System.Configuration. AppSettings and custom app data stored via System.Configuration. In theory most things should work (even now), but that needs to be proved out v

[2017-01-05 05:03] thezim opened #14885 "Consider supporting OSX 10.10 (Yosemite)"
Per [7731](https://github.com/dotnet/corefx/issues/7731) is was stated that:

I can vouch that 10.10 does regularly receive security and application updates. The official NET Core install package even allows installation on 10.10. I'm not sure why 10.10 isn't supported unless it is build system issue.

[code]

[2017-01-05 05:57] hseok-oh commented on #14791
This error come from `layout/netstandard20/project.lock.json`.
This generated json file have no `libraries` property and only have `dependencies` property.
[code]

[2017-01-05 06:16] yaakov-h commented on #14715
There appears to [already be some support](https://github.com/dotnet/corefx/search?utf8=✓&q=CURL_VERSION_HTTP2) in the interop APIs for HTTP/2, so it would appear that if present it would work, if not present it will naturally not work.

Does .NET Core not wish to ship it's own dependencies (.NET Core, OpenSSL, etc.)? It appears to currently be relying on globally installed software, so much so th

[2017-01-05 06:59] hseok-oh commented on #14791
Typo: NETStandard.Library2 -> NetStandard.Library2 in `layout/netstandard20/project.json`

[2017-01-05 07:04] Priya91 commented on #14715
cc @karelz Do you have more info on the ship story?

It would be this repo [dotnet/dotnet-docker](https://github.com/dotnet/dotnet-docker)

[2017-01-05 07:08] Priya91 commented on #14715
@yaakov-h From your output

[code]

It is the same curl (56) error that's throw in .NET Core as well.

[2017-01-05 07:16] yaakov-h commented on #14715
That -9806 appears to be an Apple `OSStatus` value of `errSSLClosedAbort` ("The connection closed due to an error."). Can we somehow get that error text from macOS and put it into the exception message, rather than just the generic "Failure when receiving data from the peer"?

[2017-01-05 07:21] Priya91 commented on #14715
Looking at the implementation in .NET Core, .NET just calls the curl API, ```curl_multi_info_read``` which may call into OS ```SSLRead``` function. .NET gets the error code from this Curl API, so I'm not sure how .NET can be made aware of some info abstracted by curl.

[2017-01-05 07:27] Priya91 commented on #14715
The issue has been addressed and followup info provided, closing the issue.

[2017-01-05 07:27] #14715 closed

[2017-01-05 08:53] mfe- commented on #5088
Thanks @yizhang82
I changed the project.json dependency from
"Microsoft.NETCore.UniversalWindowsPlatform": "5.3.0-beta2" to "Microsoft.NETCore.UniversalWindowsPlatform": "5.2.2"

This fixed the error. Thanks.

[2017-01-05 09:42] yaakov-h commented on #14715
If I use a newer version of libcurl by setting `export DYLD_LIBRARY_PATH=/usr/local/opt/curl/lib`, I get a different exception instead:

[code]

Are there any switches, environment variables etc. that I can set in order to see what is going on under the hood, particularly the calls to `EventSourceTrace` within corefx?

Failing that, how can I debug corefx? I've found documents for coreclr, but don

[2017-01-05 15:34] onovotny opened #14891 "Proposal: Disposables in CoreFx: SerialDisposable<T>, CompositeDisposable<T>, etc"
Moving here from https://github.com/Reactive-Extensions/Rx.NET/issues/309

Disposbles have a lot of uses in many libraries. Many libraries have created their own management and disposable aggregates to combine multiple disposable's. There might be an opportunity to move some of this logic in to CoreFX as a common library.

A few questions:
1. Does this belong in CoreFX at all?
2. Should it be in a

[2017-01-05 15:42] tloo commented on #14875
Only the one in Microsoft.Win32.Registry.4.3.0\runtimes\win\lib\netstandard1.3 contains my changes, the others doesn't.
Here is the list inside the nupkg.
C:\Users\ttian\Desktop\Microsoft.Win32.Registry.4.3.0>dir /s /b Microsoft.Win32.Registry.dll
C:\Users\ttian\Desktop\Microsoft.Win32.Registry.4.3.0\lib\net46\Microsoft.Win32.Registry.dll
C:\Users\ttian\Desktop\Microsoft.Win32.Registry.4.3.0\ref\n

[2017-01-05 16:28] Wigmund commented on #2937
Agreed. Please add native (on board) serial access support to UWP - useless otherwise ;/

[2017-01-05 16:35] Wigmund commented on #984
+1
I am another which requires (on board) serial port access for UWP apps - its very restrictive for us without :/ we need to make UWP more comparable with standard .Net!

[2017-01-05 16:38] JohnChen0 commented on #14728
Resolved with PR #14876.

[2017-01-05 16:38] #14728 closed

[2017-01-05 16:42] danmosemsft commented on #14756
Closing to see if it's fixed by #14728, @jiangzeng pleae reactivate if it happens on tomorrow's build or later.

[2017-01-05 16:46] danmosemsft commented on #13455
@sepidehMS can you please enable core dumps and get one to Eric?

[2017-01-05 16:49] kudoz83 commented on #11224
Sorry,

I Shouldn't have come off as combative as I sounded yesterday.  Was having a bad day.

Honestly I'm not aware how ConnectionLeaseTimeout works beneath the covers.  The desired functionality would be for HttpClient to be configurable so as to perform a new DNS lookup, prior to establishing new connections as opposed to caching the previous DNS lookup until the client is disposed.   I don't

[2017-01-05 17:02] karelz commented on #984
@Wigmund I agree that we need .NET Standard in UWP, that is on our radar already. However, given that SerialPort is not part of .NET Standard, it won't help with your problem.
Moreover, UWP has restricted set of allowed Win32 APIs. If the SerialPort implementation from Desktop code (which we plan to eventually port over) uses banned APIs, then UWP will require special implementation.

You might wa

[2017-01-05 17:05] danmosemsft opened #14894 "timeout in FileSystemWatcher_StopCalledOnBackgroundThreadDoesNotDeadlock test"
On OSX, a one off CI failure

https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/1799/testReport/junit/System.IO.Tests/FileSystemWatcherTests/FileSystemWatcher_StopCalledOnBackgroundThreadDoesNotDeadlock/

[code]

[2017-01-05 17:05] karelz commented on #14875
What kind of project do you intend to use the NuGet package in? Desktop app? .NET Core app? .NET Standard library?
@sepidehMS @ericstj do you know how the NuGet resolution works in this case?

[2017-01-05 17:09] shaggygi commented on #984
@karelz Is it the final decision to port the desktop version?  If so, will it only be limited to Windows?  I'm hoping the API will work on multiple platforms (Windows, Linux, Android, etc.) and devices (RPi, BeagleBone, PC, mobile, etc.).  I completely understand it gets complex as there are many implementations/limitations... iOS for example.

[2017-01-05 17:10] Wigmund commented on #984
@karelz I have a UWP app which needs to access a serial port for data (maybe UWP was a bad choice from the start and I need to port it to desktop .Net), however, am I correct in understanding that if I buy a USB to Serial adapter (for Windows) I will have more success in accessing the RS232 port under UWP?

[2017-01-05 17:13] shaggygi commented on #984
@Wigmund I've used the SerialDevice API for UWP before and seems to do the job.  I've used different dongles/chipsets (FTDI, Silicon Labs) and will work.  The problem is 1) it is not the same simple API as System.IO.SerialPort for full .NET and 2) you have to configure more in the UWP app manifest to allow access similar to what you do with cameras and such.

[2017-01-05 17:14] DirkRoelandt commented on #984
#karelz,

Thank for the note and reference to WinRT Serial API.  The text suggests under point 1 of Create a SerialDevice object that serial port such "COM1" can be used under WinRT/UWP.  Do you agree this is not the case when this actually a UART/Onboard serial port and thus only relevant with the Serial-to-USB convertor ?   With any special extra hardware is simply does not work.

[2017-01-05 17:17] karelz commented on #14715
We do not want to reship 3rd party SW unless we have to - it comes with the burden of security patching those components, etc. For OpenSSL, we are working on migration to Apple crypto APIs due to the feedback from our Mac users - sadly there is no way to rely on OpenSSL library on Mac without additional hassle.
Disclaimer: I am not Mac expert/user, so if you feel my answers are incorrect, please b

[2017-01-05 17:22] danmosemsft commented on #14577
Taking off the label to put this issue aside as it's tracking fixes going in the next version of Windows. Meantime these tests will be known failures when run on builds impacted by their bug.

If they don't fix the bug/s we should do something on our side to make the tests pass.

[2017-01-05 17:44] karelz commented on #984
No it is not final. It is just IMO natural start to create a compatible API surface with Desktop. For such efforts we usually start with the Desktop implementation and then decide if we create another one for Linux/Mac, or if we can adjust the Windows one to be more x-plat. Components which heavily rely on OS specific APIs or libraries are obviously more tricky. Components which are pure IL are us

[2017-01-05 17:58] MattGal commented on #14804
@jiangzeng  until we hear otherwise from @Karajas, we should probably hold off creating new issues about the desktop runs.  He's still actively working to ensure correct binding redirects are generated for these tests while executing.

[2017-01-05 17:59] jnm2 commented on #14336
Like [@JonHanna said](https://github.com/dotnet/corefx/issues/14336#issuecomment-266811858), It's not impossible due to compat reasons, it's impossible because `IReadOnlyList<char>` includes `IEnumerable<char>`. Specifying `IEnumerable<char>` in the list is redundant.

[2017-01-05 17:59] danmosemsft commented on #14842
@mmitche for Jeremy's questiona bove

[2017-01-05 18:02] stephentoub opened #14896 "Investigate providing file-system based implementation of Microsoft.Win32.Registry"
https://github.com/dotnet/corefx/pull/9456 introduced a PAL layer into Microsoft.Win32.Registry to let us more easily plug in alternate implementations to enable the library to work reasonably on other OSes.  We should investigate adding a file system (maybe isolated storage) implementation to enable the APIs to work on Unix. Mono has such an implementation.

[2017-01-05 18:04] mmitche commented on #14842
@JeremyKuhne No.  Some configurations do have the sudo enabled (the -outer ones), but the root process is still not run as sudo.  This is to avoid leaking sudo requirements into our tests without us knowing.

[2017-01-05 18:07] karelz commented on #14804
@karajas is there rough ETA? (days / weeks / more?)

[2017-01-05 18:08] crummel commented on #14703
The issue looks like it was introduced somewhere in the range of:
1fd0ce0834978d4a1ffe52b9a2c0b0fdb52ec475
fba133c923d53932285b77581f4d5336fddffd38
89cd1913d1faf159bde3b83e28e96c4962091f37
@karajas any idea if you changed something that might affect coverage?

[2017-01-05 18:12] Petermarcu opened #14897 "The server returned an invalid or unrecognized response" error when using System.Net.Http.HttpClient"
Getting this bug into the right place: https://github.com/dotnet/core/issues/321

@corinas
Hello,

I am facing a problem when making concurrent requests to a web api when using dotnet core. Sometimes i'm getting the below error; the error is not happening all the time (usually it happens once or twice in 600 concurrent calls).

[code]
Here's the test method I use for testing:

[code]

When this er

[2017-01-05 18:19] tloo commented on #14875
.NET Core app.

[2017-01-05 18:20] DarwinJS commented on #14896
I vote for a clear file system method to enable the push of configuration registry keys - especially those associated with group policy based management of software and windows components.

I think that this could be more valuable that full emulating registry types that might require a more complex storage mechanism because it would allow a host of existing policy / desired state management techno

[2017-01-05 18:21] danmosemsft opened #14900 "RFC: DotNet Core Registry API Redirection to Simple File System Structure for non-Windows"
@DarwinJS commented on [Thu Jan 05 2017](https://github.com/dotnet/standard/issues/148)

We were discussing how PowerShell Core could get it's policy registry values back on non-Windows. (https://github.com/PowerShell/PowerShell/issues/2950)

I know that the registry API has been deemed "unsupported" beyond windows for .NET Core (https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-s

[2017-01-05 18:26] justinvp commented on #4805
Note that `IndexOf("c")` and `LastIndexOf("c")` behave differently than `IndexOf('c')` and `LastIndexOf('c')`. **All** of the methods on string that take `char` do an ordinal comparison by default. `IndexOf(char)` and `LastIndexOf(char)` do an ordinal comparison, whereas `IndexOf(string)` and `LastIndexOf(string)` do a culture-sensitive comparison.

How do we reconcile this for `StartsWith(char)`

[2017-01-05 18:43] karelz commented on #14529
Disclaimer: I don't have any deeper knowledge of the caching APIs, so please be patient with me if my answers seem irrelevant or obvious for person who knows the APIs.

The original MemoryCache was also developed mainly for ASP.NET scenario (technically by ASP.NET team). From that perspective the risk in non-web use cases is the same for both - the old and new APIs. The old APIs have additional th

[2017-01-05 18:44] karelz commented on #4805
@justinvp that's a very good point. @terrajobst do we want to bring it back for API review?

[2017-01-05 18:46] karelz commented on #14875
@tloo are you adding new APIs or just making fixes?
If you're adding new APIs, please be aware that the API surface has to be first approved (see [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)).

[2017-01-05 18:49] danmosemsft commented on #14900
Oops, already ported as #14896.

[2017-01-05 18:49] #14900 closed

[2017-01-05 18:50] jnm2 commented on #11555
I'd be calling `Comparer<T>.Default.Min` and `(comparer ?? Comparer<T>.Default).Min` a lot.

[2017-01-05 18:54] darrelmiller commented on #11224
@kudoz83 No worries, we all have days like that :-)

From what I understand ConnectionLeaseTimeout is literally a timer that periodically closes an idle connection from the client side.  It is implemented in ServicePointManager, which doesn't exist in core.  This is different than the "idle connection" timeout which only closes a connection once it has not be used for a certain period of time.

Th

[2017-01-05 19:04] davidfowl opened #14903 "Allow fire and forget CancellationTokenRegisteration.Dispose"
Right now disposing a `CancellationTokenRegistration` will wait for pending callbacks to run if it's disposed on a separate thread from the callback itself. This can cause deadlocks for e.g.:

https://github.com/aspnet/KestrelHttpServer/issues/1278

It would be nice to have a way to disable the blocking on dispose. It might require an API change.

/cc @stephentoub

---
EDIT 6/29/2018 from stephent

[2017-01-05 19:05] Priya91 commented on #14715
We have unix debug instructions [here](https://github.com/dotnet/corefx/blob/master/Documentation/debugging/unix-instructions.md), and event source docs [here](https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md#traces)

[2017-01-05 19:05] davidfowl commented on #14903
Here's the workaround we use to get around this:

https://github.com/aspnet/KestrelHttpServer/blob/ce80760c2f14c3a9622b6411aa41235c9cff8ec9/src/Microsoft.AspNetCore.Server.Kestrel/Internal/Infrastructure/CancellationTokenExtensions.cs

[2017-01-05 19:06] Priya91 commented on #14715
@yaakov-h I would suggest verifying with curl first, to determine that it's a .NET problem, before you go down chasing application bug in .NET.

[2017-01-05 19:09] stephentoub commented on #14903
Yeah, the idea being that once Dispose returns, the caller can be sure that the callback won't be invoked, and they can proceed to use resources that may be used by the callback without concurrency concerns.

It should be trivial, but would also require an API addition:
[code]
Essentially if waitForCallbacksToComplete was false, it would just exit after the TryDeregister call:
https://github.com/d

[2017-01-05 19:11] ButchersBoy commented on #14891
:+1: to this.  Disposable implementations are useful on their own, outside of a RX setup.  I have libraries where I have purposefully avoided a dependency on RX, but want the various disposables, and have ended up duplicated them internally.

I think they should be "promoted".

[2017-01-05 19:17] gkhanna79 commented on #14627
@tmat Should update https://github.com/dotnet/core-setup/blob/release/1.1.0/pkg/projects/Microsoft.NETCore.App/project.json#L42 to reference the intended version of the package.

[2017-01-05 19:29] svick commented on #11224
@darrelmiller

It seems that [`ServicePoint.ConnectionLeaseTimeout`](https://apisof.net/catalog/System.Net.ServicePoint.ConnectionLeaseTimeout) is coming back in .Net Standard 2.0/.Net Core 1.2. (Though I have no idea if e. g. WinHttpHandler connections will adhere to it.)

[2017-01-05 19:47] karajas commented on #14804
Investigating currently, should have a fix out by today.

[2017-01-05 19:48] Carl-Hugo opened #14904 "Possible type equality bug using generics and the `==` operator after deserialization."
### Title
Possible type equality bug using generics and the `==` operator after deserialization.

### Scenario
I was implementing an `IEqualityComparer<T>` to simplify my life, and all my tests worked fine until I compared a deserialized version of the same objects.

### Functional impact
The `==` operator does not behave the same after deserialization as when no serialization is involved.

The co

[2017-01-05 19:48] karajas commented on #14703
I hadn't tested coverage with the changeset above, but I believe dev/eng may be merging soon into master and we should have coverage working on that branch.

[2017-01-05 20:08] brfalcon commented on #4805
If we come to the conclusion that the culture aware implementation of EndsWith(char) and StartsWith(char) isn't needed, I could reuse the implementation from the internal method EndsWithOrdinal to build both EndsWith(char) and StartsWith(char). Does it makes sense?

[2017-01-05 20:15] JonHanna commented on #14904
The `==` within `Equals(MyClass<T> x, MyClass<T> y)` is going to be a reference-identity-equals, which we'd expect to return `true` with the `object1` and `object2` because the strings are the very same string, taken from the intern pool and `false` with the other cases as the strings have been re-created during deserialisation and so are not reference-identical-equal to the other strings.

[2017-01-05 20:17] jnm2 commented on #14904
This is often what you want with generics:

[code]

[2017-01-05 20:19] karelz commented on #14885
What is the value of supporting OSX 10.10? (how many products/customers cannot upgrade to 10.11 and why)
Do you expect official full support on 10.10?

[2017-01-05 20:20] JonHanna commented on #14904
Yeah, the code @jnm2 gives will fix your bug, though for more resilient code you might want to check on whether `x` or `y` are null, unless you can be 100% sure that won't happen.

[2017-01-05 20:21] karelz commented on #14804
Great, thanks!

[2017-01-05 20:23] karelz commented on #14627
@tmat are you the right person to do that?

[2017-01-05 20:25] jnm2 commented on #14904
@JonHanna Good point. If there's a semantic difference between `MyClass<>(null)` and `null`, which is how my code usually would be, you'd want this:

[code]

That way you catch bugs, because in my experience almost all cases comparing things like `MyClass<>(null)` and `null` are implementation errors. There's the `?.` operator if you really want them to be treated the same.

[2017-01-05 20:38] JonHanna commented on #14904
That and if `x` is null then `Default.Equals(x.Value, y.Value)` is going to throw, which was the main thing I was thinking about there.

More generally, a useful ordering of the checks for null is:

[code]
The first `if` handles both the both-null case and the both-same-instance case simultaneously and it often helps to skip on both-same (consider if you have to look at a lot of data before you kn

[2017-01-05 20:56] jnm2 commented on #14904
@JonHanna That assumes that reference equality implies domain-specific equality. It sounds like a given, but imagine that `T` implements `IEquatable.Equals` for custom domain equality. As part of that custom comparison, two enumerables are compared for sequence equality. Since an enumerable has the potential to generate two different sequences on subsequent calls, you'd want to ignore the fact tha

[2017-01-05 21:18] onovotny commented on #14903
Just a note that `public void Dispose(bool)` could conflict with the common, and recommended, pattern of `protected void Dispose(bool disposing)` to indicate a Dispose call from the Finalizer.

[2017-01-05 21:20] stephentoub commented on #14903
Not on a struct, which CancellationTokenRegistration is.  Such Dispose(bool) methods according to the pattern are also protected.  But I understand the general point around a conflict in understandability.  It could be exposed through some other overload or name if it was really concerning.

[2017-01-05 21:21] JonHanna commented on #14904
That assumption fits with the documented requirements of `IEqualityComparer<T>.Equals` and `object.Equals`, https://msdn.microsoft.com/en-us/library/system.collections.iequalitycomparer.equals(v=vs.110).aspx and https://msdn.microsoft.com/en-us/library/bsc2ak47(v=vs.110).aspx

[2017-01-05 21:23] onovotny commented on #14903
Yup, it's more about a conflict of understandability where that particular method signature already has a common/popular meaning.

[2017-01-05 21:25] karajas commented on #14804
https://github.com/dotnet/corefx/pull/14907 should resolve it.

[2017-01-05 21:47] brendandixon opened #14908 "System.Xml.XmlSerializer 4.3.0 does not longer work with IEnumerable, prior versions did"
I am working with @ellismg that has pushed my code into "bleeding" edge. At present, I'm building against NETStandard.Library 1.6.0, Microsoft.Net.Sdk 1.0.0-alpha-20161104-2, and, among other dependencies, System.Xml.XmlSerializer 4.3.0.

My code now gets the following error deserializing that did not occur with System.Xml.XmlSerializer 4.0.11-* (note the __bold__):

Exception occurred during star

[2017-01-05 21:52] jnm2 commented on #14904
@JonHanna Interesting. For `object.Equals`:

So shouldn't `MyClass<double>.Equals` called on itself return false if the wrapped value should comare inequal with itself?

[2017-01-05 21:53] jnm2 commented on #14904
I assume there was heavy discussion on the implementation of the equality comparers and I'd love to hear why they landed on that they did.

[2017-01-05 21:57] ellismg commented on #14908
There's a bit of additional wackiness going on here, that may be relevant.  All of @brendandixon's libraries are built using NETStandard.Library 1.6.0, but the actual application that consumes these libraries is using the nightly newer version of Microsoft.NETCore.App:

In the library project, we have these references:
[code]

In the runable application's csproj we have the following:

[code]

If

[2017-01-05 21:57] JonHanna commented on #14904
Yeah, it's a tricky one for `double` (the same is also true of `float`), note that `EqualityComparer<double>.Default.Equals(double.NaN, double.NaN)` and most of the time if you aren't actually doing arithmetic, that's what you want, but there are times you want the arithmetic definition of `NaN != NaN`. A similar thing is true in ordering.

[2017-01-05 21:58] JonHanna commented on #14904
(We're totally being too chatty in someone's issue though, ping me on slack to continue our aside).

[2017-01-05 22:07] ellismg commented on #14908
It may be best to make sure the pre-release specifier is consistent across the project (e.g use 24904-01 as we do in the package reference in the app's .csproj).  Otherwise NuGet may complain about package downgrades.

[2017-01-05 22:12] JonHanna commented on #14904
And I finally found a reference to the actual behaviour in question here, though not the full standard one I was looking for. From https://msdn.microsoft.com/en-us/library/d5x73970.aspx

This is the behaviour seen in the code under discussion here.

[2017-01-05 22:23] karajas opened #14911 "In dev/eng, we need to be able to run desktop tests."
Not a priority for merge.

[2017-01-05 22:38] tloo commented on #14875
@ericstj I don't quite understand, I added one new API in those two files:
[https://github.com/dotnet/corefx/blob/master/src/Microsoft.Win32.Registry/ref/Microsoft.Win32.Registry.cs](Microsoft.Win32.Registry.cs)
[https://github.com/dotnet/corefx/blob/c55435befeb372707558a5c441b3c64bf243948f/src/Microsoft.Win32.Registry/src/Microsoft/Win32/RegistryKey.cs](RegistryKey.cs)
How could I expose it to my

[2017-01-05 22:40] yaakov-h commented on #14715
@Priya91 Thanks. The curl command-line app works as expected, so it's mostly likely a .NET problem. I'll try to prove it first with a small program using libcurl directly, though.

Interestingly enough the hack above with `DYLD_LIBRARY_PATH` results in an error parsing the response, but the request worked - my test script contacted the Apple servers which sent a Push Notification to my device. Tha

[2017-01-05 22:52] #6695 closed

[2017-01-05 22:58] divega commented on #8856
@DavidObando do you remember if this was measured with server GC enabled?

[2017-01-05 23:01] Carl-Hugo commented on #14904
Then case closed, this is not a bug.
Thanks for the quick replies @JonHanna, I would never have found this one...

That being said, my fix is to use the `Equal()` method of the `string` property instead of the `==` operator: `var sameValue = x.Value.Equals(y.Value);`, after null checking and all.

[2017-01-05 23:01] #14904 closed

[2017-01-05 23:11] shaggygi commented on #984
@karelz thanks for details.  And regarding volunteers...  I don't think I would be much help on dev, but will definitely be in line for testing and trying the bits out.

[2017-01-05 23:14] #8146 closed

[2017-01-05 23:24] DavidObando commented on #8856
@divega yes, as indicated [here](https://github.com/aspnet/Performance/blob/dev/testapp/BasicApi/project.json#L55).

[2017-01-05 23:28] Priya91 commented on #14715
@vancem @stephentoub  Do you guys know how to access the event source logs on Unix?

[2017-01-05 23:29] dagood commented on #14215
@mellinoe https://github.com/dotnet/buildtools/pull/1286 is coming through, which uses shared framework 1.1.0 to let corefx/coreclr change to preview2.1. To keep Alpine support, which CLI version are you saying we should reupload?

[2017-01-05 23:46] divega commented on #8856
@DavidObando thanks!

[2017-01-06 00:00] MichaelSimons commented on #14715
Per the issue pointed out that our dotnet-docker images do not support HTTP/2, is there guidance on what the setup is to support http/2 (specifically for Debian)?  Our Docker images have libcurl3/now 7.38.0-4+deb8u5 amd64 [installed,local].  The version of curl installed does not support http2.  Is it sufficient to follow the [steps to configure curl with http2 support](https://serversforhackers.c

[2017-01-06 00:08] alexperovich commented on #1373
ping @rpetrusha

[2017-01-06 00:08] RxDave commented on #14891
It may also be worth doing another round of optimization through the types. I noticed that often the disposable objects are a major source of memory consumption when using Rx extensively. Perhaps there's opportunities for internal improvements? E.g., coalescing CompositeDisposables to prevent multiple List<T> instances floating around? Not sure what's actually possible here, but worth a look?

[2017-01-06 00:27] jamesqo commented on #14775
Happened again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1862/

[2017-01-06 00:30] yaakov-h commented on #14715
I believe so. Installing curl from Homebrew on macOS didn't have HTTP/2 support out of the box, it required installing with the `--with-nghttp2` flag.

As such those steps look like they should be correct, but I'd have to try them to know for certain.

[2017-01-06 00:48] thezim commented on #14885
Requirements for 10.11 are [here](https://support.apple.com/kb/sp728?locale=en_US). Not all hardware is supported. I don't have numbers outside of myself.

Powershell will not support 10.10 because corefx does not. This is what lead me here. I understand that 10.10 is 2 versions old but so is Windows 7 which is supported.

What is official full support?

[2017-01-06 00:58] NickCraver commented on #13526
Note: I updated `ReleaseLabel` to `PrereleaseLabel` (and corresponding arguments) per discussion above - top post has the updated API.

[2017-01-06 01:17] dotnet-mc-bot opened #14917 "Test failure: ConsoleEncoding/TestEncoding"
Opened on behalf of @jiangzeng

The test `ConsoleEncoding/TestEncoding(inputString: \"This is string have surrogates 𐀀\")` has failed.

Assert.Equal() Failure\r
                                     ? (pos 31)\r
    Expected: ···ing have surrogates =ÉÇÇ\r
    Actual:   ···ing have surrogates ??\r
                                     ? (pos 31)

        Stack Trace:

           at ConsoleEncoding.Te

[2017-01-06 01:26] dotnet-mc-bot opened #14918 "Test failure: System.Xml.Tests.TC_SchemaSet_XmlResolver/v4 & System.Xml.Tests.TC_SchemaSet_XmlResolver/v5"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.TC_SchemaSet_XmlResolver/v4` has failed.

Assert.Equal() Failure
    Expected: 2
    Actual:   1

        Stack Trace:

           at System.Xml.Tests.TC_SchemaSet_XmlResolver.v4()
Build : Master - 20170105.02 (Core Tests)
Failing configurations:
- Redhat.72.Amd64
  - AnyCPU-Release
- Centos.71.Amd64
  - AnyCPU-Debug

Tests failed:
System.

[2017-01-06 02:13] karelz commented on #14885
Official support means we have daily builds, test runs, infrastructure with HW, perf, stress lab and people monitoring all that and also all OS version specifics implemented in code. So we're talking man-months/years of work + lots of costly HW (currently we're using all Mac HW we have at nearly 100%). On top of that it means we won't be able to deliver other features or (Linux) platforms - the op

[2017-01-06 02:54] thezim commented on #14885
I totally understand about the time and resource requirements. I'm fine with closing this then.

[2017-01-06 02:54] #14885 closed

[2017-01-06 02:58] janaks09 commented on #13814
@bottomup  How did you fixed that on Azure? I am unable to make it work on Azure.

[2017-01-06 04:25] vvdimov commented on #5667
#8660

[2017-01-06 06:17] AnithaLingam opened #14924 "Is it possible to read System.Type from an appsettings.json file in a .net core application"
In my project i need to read the System.Type setting from appsettings.jason..but not able to read please look in to this .

Here is my code:
appsettings.jason:
  "LogKafkaFactoryConfiguration": {
      "type": "SPGMI.Logging.NetCore.Kafka.Configuration.LogRdKafkaClientFactory, SPGMI.Logging.NetCore"
    },

I want to read type and pass to below method..below code in .Net 452
_clientfactory = Syste

[2017-01-06 06:28] hseok-oh commented on #14791
Solution
1. Merge #14887
2. clean `$HOME/.nuget` directory once
3. `./clean.sh -all` once

[2017-01-06 07:42] kierenj commented on #14203
I'm "suddenly" getting this on my project (without changing any referenced packages, versions) - though I'm referencing NETCore.App 1.1.0, not 1.2.0:
`The type 'Task<TResult>' exists in both 'System.Threading.Tasks, Version=4.0.10.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' and 'System.Runtime, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'`
What is the best thing I ca

[2017-01-06 07:50] bottomup commented on #13814
@janaks09 in the application settings of your app service, add the following:
Key: COMPlus_ReadyToRunExcludeList
Value: System.Security.Cryptography.X509Certificates

[2017-01-06 07:57] janaks09 commented on #13814
@bottomup tried that but it still throws CGI error

`The specified CGI application encountered an error and the server terminated the process.`

[2017-01-06 08:12] bottomup commented on #13814
@janaks09 then I guess you probably are experiencing some different issue, the error is very general and could even be an out-of-memory exception

[2017-01-06 08:25] janaks09 commented on #13814
@bottomup ya could be. I will check that. Thanks

[2017-01-06 09:18] Abdullah2993 commented on #14702
@alexperovich will it be added soon?

[2017-01-06 11:08] kouvel commented on #14505
@stephentoub, it looks like there is a possibility for this test to fail since `SpscTargetCore` does not guarantee that the message queue is empty after the completed task is completed with a faulting state. For example, here's an order of events:

1. Producer task: `Post` or `OfferMessage_Slow` check `_decliningPermanently` before adding a message sent by a producer, as that field, when set to tr

[2017-01-06 11:15] kouvel commented on #14505
One way to fix this in `SpscTargetCore` may be to check `_decliningPermanently` again after enqueuing the message, and if true, dequeue a message.

[2017-01-06 11:16] kouvel commented on #14505
Still does not guarantee that the enqueue doesn't happen after the completed task is completed.

[2017-01-06 11:45] jpierson commented on #14891
I've created classes for this purpose is several projects before ever using RX and would readily use the proposed examples if they were made available.

[2017-01-06 12:57] bugith commented on #645
So the key question turns in “Why so many skilled-guys work so hard wasted-efforts for... _They_?” Do they hope a sweet?

[2017-01-06 13:01] hlogmans commented on #9728
System.Net.Http.Native.dylib:
	@rpath/System.Net.Http.Native.dylib (compatibility version 0.0.0, current version 0.0.0)
	/usr/lib/libcurl.4.dylib (compatibility version 7.0.0, current version 8.0.0)
	/usr/lib/libc++.1.dylib (compatibility version 1.0.0, current version 120.1.0)
	/usr/lib/libSystem.B.dylib (compatibility version 1.0.0, current version 1226.10.1)

/usr/lib/libcurl.4.dylib:
	/usr/lib

[2017-01-06 13:27] IsmaelMendonca commented on #10445
@okosodovictor that worked for me too, thanks a lot man!

[2017-01-06 13:50] jnm2 commented on #14903
I dislike this because it forces me to write my own `try...finally` blocks. I'd really prefer `using (token.Register(action).WaitForCallbacksToComplete(false))` or similar.

[2017-01-06 14:35] #14839 closed

[2017-01-06 15:31] MichaelSimons commented on #14715
I did verify running these [steps to configure curl with http2 support](https://serversforhackers.com/video/curl-with-http2-support) on Debian are sufficient to get the [aforementioned sample](https://github.com/dotnet/corefx/issues/14715#issuecomment-270533461) to work.

[2017-01-06 15:44] tmds commented on #3188
Thinking about some use-cases I have for signals, I want to propose some API calls. @Petermarcu and others, please provide feedback if these calls would cover your use-cases.

These are members of a static Signal class.

A common use-case is to send a signal to a process to kill or term it:
[code]
This call would probably be used in a while loop with Process.WaitForExit.

Another interesting use-c

[2017-01-06 16:02] karelz commented on #14702
I don't think we will create the docs anytime soon - mainly we are blocked on capability to add new API reference docs. The story around API reference docs should be finalized during spring.
If there is huge need (i.e. multiple customers asking for it), we might think about some temporary workarounds where to place docs.

If you have specific questions, or the API surface is not clear on its own,

[2017-01-06 16:24] roji opened #14934 "API Proposal: Add check for StateChange event subscribers to DbConnection"
# The problem

ADO.NET providers are supposed to call `DbConnection.OnStateChange` on connection state changes. The problem is that this design forces the allocation of the StateChangeEventArgs parameter regardless of whether there are subscribers to StateChange or not. In an effort to reduce heap allocations, it would be good if implementing providers could have a way of checking whether there ar

[2017-01-06 16:24] tarekgh commented on #14891
@onovotny it will be helpful if you can have the initial proposal so we can start the discussion on the deign.

CC @KrzysztofCwalina @terrajobst

[2017-01-06 16:39] tloo commented on #14875
@ericstj Great! Adding <Preserve>true</Preserve> works! Thanks a lot! This has confused me for one week!
But I still have two questions:
1. How could I add custom label in nupkg, for example:
Microsoft.Win32.Registry.4.3.0-aa-0.nupkg
   It seems change <PreReleaseLabel>aa</PreReleaseLabel> in Packaging.props doesn't help.
2. I'm using this command
   dotnet restore --packages .\packages
   to save

[2017-01-06 16:44] karelz commented on #14924
I think appsettings.json is ASP.NET Core concept - in which case I would suggest to ask on their repos.

[2017-01-06 17:13] tarekgh commented on #14924
please post your question on https://github.com/aspnet. I am closing the issue here but feel free to re-open if you think it should stay here. thanks.

[2017-01-06 17:13] #14924 closed

[2017-01-06 17:50] Petermarcu commented on #3188
@stephentoub , can you take a look?

[2017-01-06 18:01] shmao opened #14935 "System.Private.Xml not Building Assembly for UWP"
System.Private.Xml.dll is not supporting uap101aot.

[2017-01-06 18:01] jnm2 commented on #14904
@JonHanna what slack channel? (I came across yet another example in [`HashSet<>.HashSetEquals`](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/HashSet.cs#L1636).)

[2017-01-06 18:15] stephentoub commented on #3188
Thanks for your thoughts on this, @tmds!

It's great to discuss all of the various use cases folks may have, so keep that coming.  At the same time, this is a fairly large area, with many intricacies that will impact things, e.g. we can't really reasonably run managed code in a signal handler, as aspects of the runtime that could get involved (e.g. JIT, GC, etc.) almost certainly use functionality

[2017-01-06 18:16] karelz commented on #7325
It would definitely be reasonable to define principal based on Kerberos default principle set on Linux machines. The problem is that the story on Linux distros and Mac is fragmented. Moreover, unlike on Windows, you can have potentially multiple principals/identities per local user account. The story on Windows is simpler (1:1 mapping between Kerberos/other principal and user account).

We would l

[2017-01-06 18:34] JonHanna commented on #14904
I'm normally idling in #corefx That case though is known to be buggy with a couple of different issues, see #12560

[2017-01-06 18:35] tarekgh commented on #14917
I will take a look.

[2017-01-06 18:42] brfalcon commented on #7640
Is this issue still open? I've that the scripts already have been fixed.

[2017-01-06 18:44] sepidehMS commented on #14918
Looks like AppContext caching issue again. Disabling the tests for now, until we figure out the problem.

cc: @AlexGhiondea @safern

[2017-01-06 18:49] karelz commented on #7640
If you know which PR fixed it, please link it. Closing as per info above.
cc: @mellinoe

[2017-01-06 18:49] #7640 closed

[2017-01-06 18:52] danmosemsft commented on #14554
This means that the KeyIso service declared it did not support SERVICE_ACCEPT_STOP ie it would not accept a stop request. I don't know what can cause this but one possibility is because it depends on running services - I didn't test this.

According to this it never failed in CI
http://jdash.azurewebsites.net/builds/test?name=System.ServiceProcess.ServiceController.Tests&viewName=dotnet_corefx&sta

[2017-01-06 18:53] danmosemsft commented on #12205
https://github.com/dotnet/corefx/issues/14894

[2017-01-06 18:53] #12205 closed

[2017-01-06 18:54] danmosemsft commented on #14894
Linked failure was also one on OSX.

[2017-01-06 18:55] safern commented on #14918
I'll take a look today

[2017-01-06 18:55] saurabh500 commented on #8856
@DavidObando @divega
I need some help running these benchmarks

I cloned the repo https://github.com/aspnet/Performance and tried building it using build.cmd (after installing the npm dependencies)

I got an error message
Errors in E:\work\gitclone\aspnet\Performance\test\TestApp.Test\project.json
    Project BasicApi is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Project BasicAp

[2017-01-06 18:55] sepidehMS commented on #14918
Thansk! :)

[2017-01-06 19:14] chcosta opened #14940 "Build-managed from a clean enlistment fails"
You cannot run build-managed.cmd from a clean enlistment without your build failing.  build-managed.cmd now includes the build packages step which requires native binaries.  This may be a point of consternation for devs.

[2017-01-06 19:17] sepidehMS commented on #13256
Fixed by https://github.com/dotnet/corefx/pull/14877

[2017-01-06 19:17] #13256 closed

[2017-01-06 19:17] sepidehMS commented on #13257
Fixed by https://github.com/dotnet/corefx/pull/14877

[2017-01-06 19:17] #13257 closed

[2017-01-06 19:18] sepidehMS commented on #13258
Fixed by https://github.com/dotnet/corefx/pull/14877

[2017-01-06 19:18] #13258 closed

[2017-01-06 19:18] sepidehMS commented on #13259
Fixed by https://github.com/dotnet/corefx/pull/14877

[2017-01-06 19:18] #13259 closed

[2017-01-06 19:18] sepidehMS commented on #13260
Fixed by https://github.com/dotnet/corefx/pull/14877

[2017-01-06 19:18] #13260 closed

[2017-01-06 19:18] sepidehMS commented on #13305
Fixed by https://github.com/dotnet/corefx/pull/14877

[2017-01-06 19:18] #13305 closed

[2017-01-06 19:20] sepidehMS commented on #7732
Fixed by https://github.com/dotnet/corefx/pull/14877

[2017-01-06 19:20] #7732 closed

[2017-01-06 19:28] glennc commented on #10428
I think we are good to close this. At this point we have enough other mitigations to the root problems in place that it isn't important enough for us to try and make a change at this level of the stack.

[2017-01-06 19:44] adamjstone commented on #1387
@ianhays Does the aforementioned SecureString implementation perform encryption on the target in Unix, as originally suggested? I assume not but, frankly, I don't understand why this would be deprecated or moved into its own assembly at all. SecureString is a security-critical API and there is no alternative that I'm aware of.

[2017-01-06 19:57] sepidehMS commented on #14935
AFAIK supporting UWP on System.Private.Xml is part of the .NET Standard 2.0 UWP effort which is under plan and discussion. +@weshaggard who can give more context on the timeline and planning.

[2017-01-06 20:33] danmosemsft commented on #1387
@adamjstone the Unix implementation is here and explains what it does
https://github.com/dotnet/coreclr/blob/e74cdcb1ed6021eaf03eea5ee7f6ba3c6b403daf/src/mscorlib/corefx/System/Security/SecureString.Unix.cs

There was some older discussion here.
https://github.com/dotnet/corefx/pull/1388

[2017-01-06 21:03] mellinoe commented on #14940
Should we pull out the package build from build-managed, then? It doesn't actually make sense for it to be part of the "managed" build if it needs the native components, too.

[2017-01-06 21:12] tloo opened #14946 "build-managed.cmd -packages doesn't work in release/1.1.0"
I download both
tags: v1.1.0
and
branch: release/1.1.0

But in  release/1.1.0
build-managed.cmd -packages doesn't work.
Is tag v1.1.0 the correct tag for correct release 1.1.0?

[2017-01-06 21:15] madelson commented on #14529
@karelz thanks that all makes sense to me. I mostly wanted to get in my "vote" for porting this, with full understanding that it might not make sense to do so now or ever.

[2017-01-06 21:25] weshaggard commented on #14940
cc @ericstj
I think it is fine to make it optional and we can always pass BuildPackage=true from build.cmd to get all these if we still want that.

[2017-01-06 21:27] weshaggard commented on #14946
@tloo in our release branches we intentionally filter the packages that build. See https://github.com/dotnet/corefx/commit/25c1e724f4c8f332d73613960798b2e40ee513f8. You can set BuildAllPackages=true if you want to build them.

[2017-01-06 21:28] weshaggard commented on #14935
@shmao can you help me understand why you need it right now? We do plan to start supporting it but it isn't currently funded.

[2017-01-06 21:28] karelz commented on #14529
Great. Vote is noted, thank you! (BTW: Upvoting the original post would be best - GitHub can sort by that ;-))

Just to reiterate what I said above: We will happily reprioritize / change our view point in future if we see more interest in the library from more customers.

[2017-01-06 21:30] tquerec commented on #2089
I have fixed up the sources and System.DirectoryServices is now building.  I should be sending out a PR soon.

[2017-01-06 21:32] mjsabby commented on #14529
I suggest that we add this since it doesn't seem that hard to get to run on .NET Core. @weshaggard if there aren't any objects, we can put this up for grabs.

I'd like to note that our official docs do say it can be used outside of ASP.NET, in fact if I remember correctly it was moved out of System.Web for such scenarios.
https://msdn.microsoft.com/en-us/library/system.runtime.caching(v=vs.110).as

[2017-01-06 21:39] shmao commented on #14935
@weshaggard Sure, the reason I opened the issue is because we are making WCF to consume some 2.0 APIs (see https://github.com/dotnet/wcf/issues/1726 and https://github.com/dotnet/wcf/issues/702). The fix for WCF wouldn't work on UWP due to this issue.

[2017-01-06 21:59] weshaggard commented on #14935
I just chatted with @zhenlan about this so he knows more details but for now you will not be able to consume the new APIs UWP yet.

[2017-01-06 22:01] tloo commented on #14946
@weshaggard thanks! Where can I set BuildAllPackages=true? Can I set it through command line?
I tried "build-managed.cmd -packages -ExtraParameters BuildAllPackages=true", but it doesn't work.
Should I change packages.builds?

[2017-01-06 22:14] saurabh500 commented on #14760
@stephentoub @terrajobst
In .Net Core 1.0 and 1.1 the `DbConnection.Dispose()` calls `DbConnection.Close()` in the base implementation.
However with the merge of the ADO.Net base classes, there is a change in the way the default implementation of `Dispose()` in `DbConnection` behaves. The `Dispose()` in `DbConnection` comes from Component which doesn't call `DbConnection.Close() `

This causes bac

[2017-01-06 22:15] tloo commented on #14946
@weshaggard after setting BuildAllPackage to true in packages.builds, it works! Thanks!
One more question: How could I make <PreReleaseLabel> being added in the nupkg?
<PreReleaseLabel>preview1</PreReleaseLabel>

[2017-01-06 22:17] stephentoub commented on #14760
@weshaggard, have we encountered this case before, and if so, what did we decide?  Essentially for .NET Core 2.0, we can choose to either be compatible with .NET Core 1.x or with .NET Framework.

[2017-01-06 22:40] weshaggard commented on #14946
You can pass it at the command line via `-- /p:BuildAllPackages=true`. I'm not sure I understand your other question but I'm guessing you are asking how can you change the prerelease moniker and if so you want to update the version and it will automatically use the moniker. See https://github.com/dotnet/corefx/pull/13097 where we marked the particular package versions as stable which is how we det

[2017-01-06 22:43] weshaggard commented on #14529
I don't have any objections to adding it if we can make it work reasonably as a standalone component.

[2017-01-06 22:53] weshaggard commented on #14760
We haven't really hit this yet. However I would error on the side of being compatible with .NET Framework over .NET Core 1.0/1.1.

[2017-01-06 23:43] danmosemsft commented on #14760
I agree, but consider using AppContext to offer a way to go back to the 1.1 behavior.

[2017-01-06 23:55] JeremyKuhne opened #14950 "System.Configuration.RsaProtectedConfigurationProvider depends on System.Security.Cryptography.Xml"
See #1132 and #4278.

RsaProtectedConfigurationProvider is the default protected provider and the only one that has a hope of being cross platform. I've ported the code pending the completion of the Xml library- at that point it will just need to be enabled (and tested). For now a stub is in it's place.

[2017-01-07 00:15] dagood commented on #14215
A CoreFX official build has completed since https://github.com/dotnet/corefx/pull/14933 was merged, which updated CLI to one that has the 4.6.x fix. Closing as resolved.

[2017-01-07 00:15] #14215 closed

[2017-01-07 00:46] cesarbs opened #14954 "SslStream.AuthenticateAsServerAsync is significantly slower in CoreFX 4.4"
Kestrel perf tests recently started yielding 0 RPS on HTTPS. This happens when we open a large number of simultaneous connections to Kestrel.

What I've discovered so far is that `SslStream.AuthenticateAsServerAsync` is taking significantly longer to run.

Opening 256 connections and measuring the time that takes to run in Kestrel 1.1.0 (which referenced CoreFX 4.3) I get an average of 339 ms per

[2017-01-07 00:52] saurabh500 commented on #14638
@geleems  Can you look into this?

[2017-01-07 01:05] davidsh commented on #14954
What OS are you seeing this performance issue?

[2017-01-07 01:05] karelz commented on #14954
DO you have perf traces for the issue (ideally also for "working baseline"). That would speed up the investigation significantly.

[2017-01-07 01:10] geoffkizer commented on #5426
Should be fixed with #14812.

[2017-01-07 01:10] #5426 closed

[2017-01-07 01:18] Priya91 commented on #14554
I was not able to repro this locally on Windows 7 box. I am not sure what can be done on this failure, the ServiceProcess.GetServices() just relays the data from OS, the result from direct OS calls would have been the same. Closing the issue.

[2017-01-07 01:18] #14554 closed

[2017-01-07 01:31] eyalsk commented on #3188
@tmds

Isn't it better to call `SignalValue` something like `POSIXSignal` or `UnixSignal` it seems a bit more descriptive.

@stephentoub

I can speak for node.js (Node) for now.

Sending singnals on Node is as simple as doing something like this:
[code]
_Works both on Windows and Linux._
[code]
_This will throw an error on all platforms but can be sent through process.kill(process.pid, "SIGKILL");

[2017-01-07 01:36] rynowak commented on #8856
@saurabh500 - you need to do to do that. Just go to the site directory and `dotnet restore` `dotnet run -c Release`

[2017-01-07 03:13] #3958 closed

[2017-01-07 07:26] jamesqo opened #14961 "Remove silent boxing/make exceptions consistent in ImmutableArray"
Tracking issue for changes to the source of `ImmutableArray` to be made after the test changes in #14798. All of these will be fixed in a subsequent PR.

- [ ] Remove silent boxing in `Remove` / `Replace`
  - Relevant lines: [`Replace`](https://github.com/jamesqo/corefx/blob/38b28ed31c9a6620fbbfd6c3822bc1a2ea6c3c9f/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.

[2017-01-07 07:27] nmohammadi commented on #2394
We love WF please port it to .NetCore.

[2017-01-07 07:28] nmohammadi commented on #5766
Please port System.Xaml to .NetCore

[2017-01-07 10:58] kierenj commented on #13409
@ericstj Thanks for your comment re netstandard1.7 above.  I don't want to hijack, but I'm having real troubles here. Could I just confirm - I'm on nightlies for EF Core - if that has dependencies which have bene switched to netstandard1.7, that would mean a very recent version of the SDK would be needed to build?  Newer than `1.0.0-preview4-004233`, which is the latest on Azure App Services?

[2017-01-07 13:33] jnm2 commented on #3188
If it's possible to create a non-leaky abstraction, I'd prefer to work with an abstraction and write platform-agnostic code.

[2017-01-07 13:36] jnm2 commented on #3188
I'd probably hope for something similar to:
[code]

[2017-01-07 13:40] jnm2 commented on #14934
What makes DbConnection.OnStateChange different in this way from the loads of other `EventArgs`-taking `On*` methods in other classes? In what scenarios will this make a measurable difference?

[2017-01-07 13:45] roji commented on #14934
@jnm2 I'm not aware of all cases where events are fired within corefx, but depending on the scenario it seems like a worthy optimization to eliminate the unneeded allocation. One important point if that providers extending DbConnection typically use pooling, which means that open and close operations are extremely light and involve no I/O whatsoever. This makes the weight of the allocation somewha

[2017-01-07 15:51] onovotny commented on #14891
@tarekgh what needs to be there for the initial proposal? There are a few types already in existence in Rx.NET that have been well tested and complete from an API perspective. There may be room for internal optimizations as @RxDave suggests, but that's an implementation detail.

The types are here currently: https://github.com/Reactive-Extensions/Rx.NET/tree/v3.1.1/Rx.NET/Source/System.Reactive.Co

[2017-01-07 18:03] eyalsk commented on #3188
@jnm2 Sure but seeing how it's implemented in other platforms where the names are kept then I thought it's a good idea to follow it to some extent.

1. [node.js](https://nodejs.org/dist/latest-v7.x/docs/api/process.html#process_signal_events)

2. [Mono](http://www.mono-project.com/docs/faq/technical/#operating-system-questions)

3. [Python ](https://docs.python.org/3/library/signal.html#signal.sig

[2017-01-07 19:27] tomakita opened #14966 "Enhanced styling for System.Console"
It would be cool if System.Console were to support writing to the console using any RGB color and in predefined styles.  For examples of usage, see [Colorful.Console](https://github.com/tomakita/Colorful.Console/blob/master/README.md).  The idea is to keep current System.Console behavior invariant while adding extra functions to its interface that enable enhanced styling.

I have no idea if this i

[2017-01-07 20:20] tarekgh commented on #14891
thanks @onovotny

we need to list all types/APIs we need to expose, something like:

[code]

and mention briefly the value having these types and how is going to be used.

[2017-01-07 20:46] onovotny commented on #14891
@tarekgh is there an easier way to do this given that this is already "approved" API in `System.Reactive.Disposables`? Do we need to copy the API of a dozen types in here (if yes, fine, just seems redundant given that all the types are already in the Rx.NET repo).

This is more about "promoting" the existing types/API from `System.Reactive.Core` into somewhere within CoreFx.

[2017-01-07 20:57] drieseng commented on #1942
Can you also consider adding ```bool TryRemove(TKey key, out TValue value)```?

[2017-01-07 20:57] tarekgh commented on #14891
@terrajobst could you please advise how we can proceed with this request?

@onovotny  is there any other docs or pointers rather than the code for these types?

[2017-01-07 21:10] tarekgh commented on #14917
I couldn't repro this failure but I have fixed some issue in the test and added a log to help telling about the failure. I am closing the issue and if we get any failure again we can re-activate and hopefully have more info in the log.

[2017-01-07 21:10] #14917 closed

[2017-01-07 22:09] onovotny commented on #14891
The docs are already on MSDN ;) https://msdn.microsoft.com/en-us/library/system.reactive.disposables.aspx

Does that help?

[2017-01-07 22:33] RxDave commented on #14891
In response to @tarekgh

The `IDisposable` interface (the disposable pattern) has been for quite some time ubiquitously used, in part, as a representation of any behavior that has a scoped lifetime. It's not just about freeing memory. The elegance of the `using` keyword in C# for synchronous operations, and the fact that so many things easily map onto the disposable pattern, has certainly helped w

[2017-01-07 22:42] fubar-coder opened #14967 ""System.Security.Claims" compatible with .NET 4.5.1?"
Is it possible to make the System.Security.Claims package compatible with .NET 4.5.1? Is it different from the implementation of .NET 4.5.1 or was there another reason why its nuget package only supports netstandard1.3 and net46?

[2017-01-08 00:57] #14824 closed

[2017-01-08 04:28] jamesqo commented on #14017
I just saw a similar failure occur here: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1979/testReport/System.Data.SqlClient.Tests/SqlConnectionBasicTests/ConnectionTest/

Here too: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1963/testReport/System.Data.SqlClient.Tests/SqlConnectionBasicTests/ConnectionTest/

[2017-01-08 05:20] danmosemsft commented on #14017
@saurabh500

[2017-01-08 05:30] jkotas commented on #11672
cc @russellhadley @swaroop-sridhar

[2017-01-08 05:53] jamesqo commented on #14017
Happened again: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1964/testReport/System.Data.SqlClient.Tests/SqlConnectionBasicTests/ConnectionTest/

[2017-01-08 14:18] jmroyb opened #14976 "How obtain Process.GetCurrentProcess().Handle?"
Hi folks!

I'm building a netstandar1.5 lib and I have downloaded System.Diagnostics.Process v4.3.0 from Nuget, but method .Handle is missing. I try to call this code which works fine in Framework 3.5:

[code]

Thanks a lot !

[2017-01-08 17:37] davidfowl commented on #14903
@stephentoub what about adding a Register overload on CancellationToken?

[code]

Not sure how many overloads we'd want to add here since there's already 4 overloads.

[2017-01-08 18:17] stephentoub commented on #14903
Potentially, but that Boolean value would need to propagate to the disposal, which means it would need to be stored somewhere.  Given the current shape of things, that could be either in the CancellationCallbackInfo, which would increase the size of that allocation by a word, or it would be on the CancellationTokenRegistration struct, which would increase its size by the same, and while it's a str

[2017-01-08 19:25] saurabh500 commented on #14017
I haven't been able to figure out the cause of the issue yet.
I have executed the failing tests with the other tests, a bunch of times, but it hasn't failed for me.
Since there are no line numbers in the Exception stack trace, its hard to pinpoint where the exception is coming from.
When I looked at the objects being referenced in the SqlConnection.TryOpen() code, I haven't been able to find any o

[2017-01-08 19:33] jnm2 commented on #14903
In `using (token.Register(action).WaitForCallbacksToComplete(false))`, `WaitForCallbacksToComplete` could return a struct containing a `CancellationTokenRegistration` and which on disposal calls `CancellationTokenRegistration.Dispose(waitForCallbacksToComplete: false)`.

[2017-01-08 19:42] onovotny commented on #14903
@stephentoub it's cheating a bit, but what if you use a similar trick to https://github.com/dotnet/coreclr/pull/2883, and use a derived type of `CancellationCallbackInfo to indicate the flag for `waitForCallbacksToComplete`. Then it's a `typeof` check in the Dispose method itself?

[2017-01-08 20:00] chadwackerman commented on #3188
This Java product seems to have influenced Mono.

http://www.bmsi.com/java/posix/index.html

A bigger issue (and source of future breaking changes) is that the .NET Core team is hopping along with their process and console stuff with little consideration of the cross-platform requirements. You should start bottom up with signals not slap a GitHub kiss-of-death "backlog" button on it. It's a core c

[2017-01-08 20:41] stephentoub commented on #3188
Cross platform is a key aspect of everything new we add. I'm not sure what you're referring to around Process and Console; the only APIs there are ones that already exist in .NET, and such compat is another key aspect. I believe we are starting fresh for signals, which is why I asked for background on use cases, on other platform designs, etc. Let's keep this thread focused on the design and refra

[2017-01-08 20:45] stephentoub commented on #14903
It's possible and with exploring. But it's also more expensive in this case, doing multiple type checks on the common path, whereas that other case only did a type check when cancellation was requested, which is at least an order of magnitude less common than registering/unregistering.

[2017-01-08 20:50] jamesgibbs100 opened #14978 "SqlClient / MultiSubnetFailover / Linux / 1.1.0"
I would really appreciate some advice if possible.

I'm running a .NET Core App 1.1.0 in a container against a SqlServer 12 database with MultiSubnetFailover.

My connection string looks like this...

Data Source=***.***.***.com;Initial Catalog=DATABASENAME;User ID=USER_ID;Password="USER_PASSWORD";Connect Timeout=60;TrustServerCertificate=True;Application Name=".NET Core";MultiSubnetFailover=True

[2017-01-08 20:53] onovotny commented on #14903
Just thought of something possibly even nastier to avoid the `typeof` - what about the same hierarchy but a polymorphic method in the base called "DoDispose(ref CancellationTokenRegistration token)". Then the "NoWait" one would override and do the logic differently?

[2017-01-08 22:04] chadwackerman commented on #3188
There's already legacy gunk in Console app startup that's going to break future Signals work. The .NET team was alerted to this by Miguel ten years ago. As for cross-platform: you can't tell me with a straight face that Microsoft seriously considered SIGTERM vs SIGINT while planning the development arc of .NET Core's console app functionality. That's why this bug exists. And more importantly why i

[2017-01-09 01:07] manigandham commented on #11224
I think there's some miscommunication here: DNS TTLs are completely unrelated to HTTP/TCP connection lifetimes.

New HTTP connections do a DNS lookup and connect to the returned host address. Multiple HTTP requests can be made over the same single connection but once opened the HTTP connection (and the underlying TCP connection) does not do a DNS lookup again.

This is correct behavior so even if

[2017-01-09 01:50] jiangzeng commented on #14756
Still happening, see build 20170108.02. Looks like more SqlClient tests (System.Data.SqlClient.Tests.DiagnosticTest) failed with "System.TypeInitializationException"
Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170108.02/workItem/System.Data.SqlClient.Tests

Logs:
[code]

[2017-01-09 02:15] dotnet-mc-bot opened #14983 "Test failure: System.IO.Tests.WaitForChangedTests/Renamed_Success"
Opened on behalf of @jiangzeng

The test `System.IO.Tests.WaitForChangedTests/Renamed_Success` has failed.

Assert.True() Failure
    Expected: True
    Actual:   False

        Stack Trace:

           at System.IO.Tests.WaitForChangedTests.Renamed_Success()
Build : Master - 20170108.02 (Core Tests)
Failing configurations:
- Fedora.23.Amd64
  - AnyCPU-Release

Details:
https://mc.dot.net/#/produc

[2017-01-09 02:29] jiangzeng commented on #13298
Latest failures in build 20170108.02:
System.Net.Http.Functional.Tests.HttpClientHandlerTest	SendAsync_SendRequestUsingMethodToEchoServerWithContent_Success
System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test	NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds
	NoCallback_ValidCertificate_CallbackNotCalled

Log:
[code]

https://mc.dot.net/#/product/netcore/master/sou

[2017-01-09 02:42] jiangzeng commented on #10844
It's now happening in build 20170108.02
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.Console.Tests/analysis/xunit/WindowAndCursorProps~2FWindowWidth_WindowHeight_InvalidSize

Log:
[code]

[2017-01-09 02:48] jiangzeng opened #14984 "System.Globalization.Calendars.Tests threw "System.ArgumentOutOfRangeException""
No results generated.

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.Globalization.Calendars.Tests/details/c9ef7300-4763-45b3-8e8a-886180e6bb61

Log:
[code]

Build: 20170108.02
Configuration: Windows.10.Amd64

[2017-01-09 02:48] jiangzeng commented on #14984
Should be the same issue with #10785, but no results generated.

[2017-01-09 02:50] darrelmiller commented on #11224
@manigandham

Yes DNS TTLs are fairly unrelated, but not completely.

Yes, that is correct. But Windows has a local DNS cache that respects the TTL.  If the TTL is high and the DNS server has changed the DNS record, then the new connection will be opened against the old IP address due to client caching of the DNS record. Flushing the client DNS cache is the only workaround to this that I am aware

[2017-01-09 02:51] jiangzeng commented on #10885
Failed in build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.Globalization.Tests

Log:
[code]

[2017-01-09 02:56] jiangzeng commented on #10887
It's happening in build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.Compression.Tests

Log:
[code]

[2017-01-09 02:58] jiangzeng commented on #10890
It's happening in build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.Compression.Tests/analysis/xunit/System.IO.Compression.Tests.TaskDeflateStreamTests~2FOverlappingFlushAsync_DuringFlushAsync

Log:
[code]

[2017-01-09 03:01] jiangzeng commented on #13243
It's happening in build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.Compression.Tests/analysis/xunit/System.IO.Compression.Tests.zip_CreateTests~2FCreateNormal(folder:%20%5C%22empty%5C%22,%20seekable:%20False)

Log:
[code]

[2017-01-09 03:13] dotnet-mc-bot opened #14986 "Test failure: Hundreds of tests under 'System.IO.FileSystem.Tests' failed"
Opened on behalf of @jiangzeng

Lots of tests of 'System.IO.FileSystem.Tests' failed.

Failing with:
System.ArgumentException: Illegal characters in path

Or:
System.IO.PathTooLongException: The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters

Build : Master - 20170108.02 (Full

[2017-01-09 03:15] dotnet-mc-bot opened #14987 "Test failure: System.IO.Tests.DerivedFileStream_ctor_sfh_fa/VirtualCanReadWrite_ShouldNotBeCalledDuringCtor"
Opened on behalf of @jiangzeng

The test `System.IO.Tests.DerivedFileStream_ctor_sfh_fa/VirtualCanReadWrite_ShouldNotBeCalledDuringCtor` has failed.

Assert.False() Failure\r
    Expected: False\r
    Actual:   True

        Stack Trace:

           at System.IO.Tests.DerivedFileStream_ctor_sfh_fa.VirtualCanReadWrite_ShouldNotBeCalledDuringCtor() in D:\A\_work\64\s\corefx\src\System.IO.FileSystem\

[2017-01-09 03:45] stephentoub commented on #14903
As with the other, it's a good suggestion that can be explored to understand what perf impact it has (due to adding a virtual call on a common path). I expect we'd need to pick either to introduce another struct as a return type or to take such a perf hit... and which we'd choose would in part depend on whether it's actually measurable and to what extent.

[2017-01-09 04:11] onovotny commented on #14903
Yup, makes sense. One further refinement. Factor the current callbackinfo class into an abstract base with four impls that return the correct val for the property but can then all be sealed.

Sent from my Windows 10 phone

From: Stephen Toub<mailto:notifications@github.com>
Sent: Sunday, January 8, 2017 10:45 PM
To: dotnet/corefx<mailto:corefx@noreply.github.com>
Cc: Oren Novotny<mailto:oren@novot

[2017-01-09 04:20] jiangzeng commented on #13245
It's happening in build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.Directory_Changed_Tests~2FFileSystemWatcher_Directory_Changed_WatchedFolder

Log:
[code]

[2017-01-09 04:22] jiangzeng commented on #13246
@danmosemsft It's happening in build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.FileSystemWatcherTests~2FFileSystemWatcher_NotifyFilter

Log:
[code]

[2017-01-09 04:24] jiangzeng commented on #13248
It's happening in build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.FileSystemWatcherTests~2FFileSystemWatcher_ctor_InvalidStrings

Log:
[code]

[2017-01-09 04:25] jiangzeng commented on #13249
@danmosemsft It's happening in build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.RenamedEventArgsTests~2FRenamedEventArgs_ctor(changeType:%200,%20directory:%20%5C%22%5C%22,%20name:%20%5C%22%5C%22,%20oldName:%20%5C%2

[2017-01-09 04:28] jiangzeng commented on #13304
It's happening in build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.WaitForChangedTests~2FCreatedDeleted_Success(changeType:%20Created)

Log:
[code]

[2017-01-09 04:35] jiangzeng commented on #10895
It's happening in build 20170108.02.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.MemoryMappedFiles.Tests

[2017-01-09 04:38] jiangzeng commented on #10897
It's now happening in Desktop runs of build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.Packaging.Tests/analysis/xunit/System.IO.Packaging.Tests.Tests~2FT018_GetMainDocPartAndStyleDefPart

Log:
[code]

[2017-01-09 04:40] jiangzeng commented on #10898
It's now happening in Desktop runs of build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.Packaging.Tests/analysis/xunit/System.IO.Packaging.Tests.Tests~2FT151_InvalidDocProps

Log:
[code]

[2017-01-09 05:02] jiangzeng commented on #10899
It's happening in build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.IO.Pipes.AccessControl.Tests

Log:
[code]

[2017-01-09 05:16] dotnet-mc-bot opened #14989 "Test failure: System.Net.NameResolution.Tests.LoggingTest/EventSource_ExistsWithCorrectId"
Opened on behalf of @jiangzeng

The test `System.Net.NameResolution.Tests.LoggingTest/EventSource_ExistsWithCorrectId` has failed.

System.TypeLoadException : Could not load type 'System.Net.NetEventSource' from assembly 'System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.

        Stack Trace:

           at System.Reflection.RuntimeAssembly.GetType(RuntimeAssembly assembl

[2017-01-09 05:23] dotnet-mc-bot opened #14990 "Test failure: System.Collections.ObjectModel.Tests.ConstructorAndPropertyTests/DebuggerAttributeTests"
Opened on behalf of @jiangzeng

The test `System.Collections.ObjectModel.Tests.ConstructorAndPropertyTests/DebuggerAttributeTests` has failed.

System.InvalidOperationException : Expected one DebuggerDisplayAttribute on System.Collections.ObjectModel.ObservableCollection`1[System.Int32].

        Stack Trace:

           at System.Diagnostics.DebuggerAttributes.ValidateDebuggerDisplayReferences(Ob

[2017-01-09 05:39] dotnet-mc-bot opened #14991 "Test failure: System.Runtime.Numerics.Tests failed with Xunit.Sdk.EqualException & Xunit.Sdk.TrueException"
Opened on behalf of @jiangzeng

The test `System.Numerics.Tests.ComparisonTest/IComparable_Invalid` has failed.

Assert.Equal() Failure\r
    Expected: obj\r
    Actual:   (null)

        Stack Trace:

           at System.Numerics.Tests.ComparisonTest.IComparable_Invalid() in D:\A\_work\64\s\corefx\src\System.Runtime.Numerics\tests\BigInteger\Comparison.cs:line 367

System.Numerics.Tests.Comparis

[2017-01-09 05:42] dotnet-mc-bot opened #14992 "Test failure: System.Numerics.Tests.modpowTest/ModPow1Large2SmallInt_Threshold"
Opened on behalf of @jiangzeng

The test `System.Numerics.Tests.modpowTest/ModPow1Large2SmallInt_Threshold` has failed.

System.TypeInitializationException : The type initializer for 'BigIntTools.Utils' threw an exception.\r
    ---- System.ArgumentNullException : Value cannot be null.\r
    Parameter name: type

        Stack Trace:

           at BigIntTools.Utils.RunWithFakeThreshold(String nam

[2017-01-09 05:53] dotnet-mc-bot opened #14993 "Test failure: System.Numerics.Tests.powTest/RunOverflow"
Opened on behalf of @jiangzeng

The test `System.Numerics.Tests.powTest/RunOverflow` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.OverflowException)\r
    Actual:   typeof(System.OutOfMemoryException): Array dimensions exceeded supported range.

        Stack Trace:

           at System.Numerics.BigIntegerBuilder.SetSizeClear(Int32 cu)
       at System.Numerics.BigIntegerBui

[2017-01-09 06:04] dotnet-mc-bot opened #14994 "Test failure: System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTests/EnvelopedCmsEncryptWithZeroRecipients"
Opened on behalf of @jiangzeng

The test `System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTests/EnvelopedCmsEncryptWithZeroRecipients` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.PlatformNotSupportedException)\r
    Actual:   typeof(System.Security.Cryptography.CryptographicException): The system cannot find the file specified.\r

        Stack Trace:

[2017-01-09 06:05] dotnet-mc-bot opened #14995 "Test failure: System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTests/ZeroLengthContent_FixedValue"
Opened on behalf of @jiangzeng

The test `System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTests/ZeroLengthContent_FixedValue` has failed.

System.Exception : ContentInfo expected to be 0 but was actually 6. If you're running on the desktop CLR, this is actually a known bug.

        Stack Trace:

           at System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTe

[2017-01-09 06:21] jiangzeng commented on #13343
It's happening in build 20170108.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.Threading.Overlapped.Tests/analysis/xunit/ThreadPoolBoundHandleTests~2FFlowsAsyncLocalsToCallback

Log:
[code]

[2017-01-09 07:05] bartonjs commented on #14994
@danmosemsft If I understand the tagging system, this should be `test-run-desktop`, not `test-run-core`.  Right?

[2017-01-09 08:24] jiangzeng commented on #14994
@bartonjs Yes, it's my mistake, changed it to test-run-desktop

[2017-01-09 10:51] jchannon commented on #13309
Have just reproduced this and its causing us a nightmare.

Works fine in netcoreapp1.0 but netcoreapp1.1 explodes with above exception.

We have production systems wanting to move to 1.1 ASAP but can't

[2017-01-09 13:37] FransBouma commented on #4571
@karelz Considering the removal of the label 1.2.0, I recon this feature won't make it in netstandard20? Is there an alternative implemented for .net core so DbProviderFactory classes can be registered centrally? There was some debate about that but I lost track whether that was actually checked in or lost at the table of brilliant ideas...

[2017-01-09 13:57] tmds commented on #3188
@stephentoub tacking (1)

_Sending signals to a process:_
* go: https://golang.org/pkg/os/#Process.Signal
[code]
* nodejs: https://nodejs.org/api/process.html#process_process_kill_pid_signal
[code]
* python: https://docs.python.org/3/library/os.html#os.kill
[code]
* mono: https://github.com/mono/mono/blob/47a6f56439c9deab287be770c902d41e91480799/mcs/class/Mono.Posix/Mono.Unix.Native/Syscall.cs#L36

[2017-01-09 14:15] stephentoub commented on #3188
@eyalsk, @jnm2, @tmds, great suggestions and info, thanks!

One of the things we've talked about doing is having a System.Posix, akin to Mono's Mono.Posix, which provides safe P/Invoke entrypoints for much of POSIX (or at least the parts of POSIX that could be done safely, e.g. relevant to this thread, I don't think we would have a wrapper for signal or sigaction, as it couldn't be done safely wit

[2017-01-09 14:20] stephentoub commented on #13309
cc: @geoffkizer, is this something you could investigate?

[2017-01-09 14:25] stephentoub commented on #14976
@jmroyb, for .NET Core 1.x, a bunch of members logically considered obsoleted (even if not marked as obsoleted) were removed.  That included Process.Handle (though it's since been added back for .NET Core 2.0).  It was considered obsoleted by Process.SafeHandle, which provides the same functionality but with the handle wrapped in a SafeProcessHandle, which makes it more reliable to work with.  You

[2017-01-09 14:32] eyalsk commented on #3188
@stephentoub

Can you elaborate on this? you mean like in cases where the signal _doesn't make sense_ on Windows, right?

Anyway, the approach you want to take seems pretty reasonable to me.

[2017-01-09 14:39] stephentoub commented on #3188
I meant for Functions.Kill, regardless of the values passed in to it.  The function is specifically about signals in a sense that doesn't exist on Windows, and I'm suggesting at this layer there shouldn't be any attempt at emulation.

[2017-01-09 14:44] jamesgibbs100 commented on #14978
Quick update. A simple client running on linux. (.NET Core 1.1.0 / System.Data.SqlClient 4.3) fails when DNS resolves the the secondary first.

_Failure (A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connec

[2017-01-09 14:46] binoypatel opened #14998 "Multilanguage with .net core"
This issue is related to [https://github.com/dotnet/standard/issues/152](https://github.com/dotnet/standard/issues/152), as requested by karelz, I have opened a new issue to corefx.

Please check [https://github.com/binoypatel/NetCore.Localization](https://github.com/binoypatel/NetCore.Localization) example, this is hello-world style application with 11 lines of code.

I have tested this issue wit

[2017-01-09 15:27] eyalsk commented on #3188
@stephentoub Yeah, I agree, thanks for the clarification!

[2017-01-09 16:22] tarekgh commented on #14891
great! thanks @RxDave and @onovotny I will mark this issue as ready for review then.

[2017-01-09 16:23] tmds commented on #3188
@stephentoub I like System.Posix for these reasons: I don't need to fiddle with pinvoke signatures, it will work better on other platform compared to DIY and it will hopefully tackle struct layout issues (struct stat, pthread_t, ...). Some practical concerns. I wonder how you decide what you'll put in there. If it is part of a feature request like this, it makes the API surface you need to talk ab

[2017-01-09 16:39] onovotny commented on #14998
Hi @binoypatel can you please try the .NET Core one with VS 2017? I know there are some bugs with `project.json` and satellite assemblies that I came across with `Humanizer`. Moving to `csproj` in VS 2017 should resolve those; can you verify for your case?

[2017-01-09 16:41] karelz commented on #4571
@FransBouma you are correct that Future means, not in .NET Core 2.0 (which implies not in .NET Standard 2.0).
@saurabh500 @YoungGah can you please answer second part of the question above?

[2017-01-09 16:48] tarekgh commented on #14998
CC @ramarag

[2017-01-09 16:50] onovotny commented on #14998
I think this bug is a manifestation of this bug: https://github.com/dotnet/cli/issues/3396

[2017-01-09 16:52] tarekgh commented on #14998
most likely you are right @onovotny
I'll let @ramarag confirm that and close the issue here if this is the case.
Thanks.

[2017-01-09 16:54] stephentoub commented on #3188
I get the desire to put this there, but I'm not a huge fan of adding new methods like this to Thread or Process, adding platform-specific methods to types that are generally cross-platform.

I'd be ok with us augmenting the type over time, such that we start it with a small number of functions, and then separately add more to it.  We'd just need to work through the general guidelines for the type

[2017-01-09 16:59] stephentoub commented on #14017
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1990/

[2017-01-09 17:00] danmosemsft commented on #14983
@ianhays is this outerloop because sometimes the change notification comes after the timeout? (In which case we could possibly increase the timeout). Or because sometimes it never comes at all?

Even though it's outerloop, if at all possible we should make it not be flaky and cause issues getting opened.

[2017-01-09 17:00] stephentoub commented on #14017
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1991/

[2017-01-09 17:01] danmosemsft commented on #9293
@mmitche @bartonjs who owns the next action here? so we can get the linked tests fixed.

[2017-01-09 17:04] mmitche commented on #9293
Since Azure doesn't support Fedora, then we either just wait or somehow figure out and fix it ourselves? The client is OSS.

[2017-01-09 17:18] #10428 closed

[2017-01-09 17:45] ianhays commented on #14986
cc: @JeremyKuhne

[2017-01-09 18:12] TerisseNicolas opened #15002 "ServerCertificateCustomValidationCallback unexpectedly exit with 0 code on Window10"
Hello
I am trying to use custom certificate validation with dotnetcore 1.1.0 (also tested with v=1.0.1)
The program exited unexpectedly in GetAsync method without raising exception.

I have the following minimal code & ouput:
Code
[code]

Output
[code]
Thanks for your help

[2017-01-09 18:49] stephentoub commented on #15002
If you change the async void to instead be async Task, and then add .GetAwaiter().Get results() to the end of the call in Main(), do you see any more helpful error details?

[2017-01-09 19:25] JeremyKuhne commented on #14986
This is the desktop run. The behavior is quite different for < 4.6.2 given long paths (the run targets tfm 4.6). In addition we've opened up legal wildcard characters- this isn't available on any desktop version yet. Looking into what knobs we have available for targeting and validating.

[2017-01-09 19:28] ianhays commented on #14986
I figured that was the case. In this situation it would probably be easiest just to mark these tests with         ```[SkipOnTargetFramework(TargetFrameworkMonikers.Net46, "")]``` or ```        [SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework, "")]```

[2017-01-09 19:33] JeremyKuhne commented on #14986
Problem is that we have differing behavior for < TFM 4.6.2 and >= 4.6.2. Ideally we should have the appropriate variants up- but I don't know that we have that fine of control yet.

[2017-01-09 19:34] sepidehMS commented on #10892
Closing, as this is not failing anymore (after https://github.com/dotnet/corefx/pull/14877). Please re-open if happens again.

[2017-01-09 19:34] #10892 closed

[2017-01-09 19:35] sepidehMS commented on #10896
Closing, as this is not failing anymore (after https://github.com/dotnet/corefx/pull/14877). Please re-open if happens again.

[2017-01-09 19:35] #10896 closed

[2017-01-09 19:36] sepidehMS commented on #14468
Closing, as this is not failing anymore (after https://github.com/dotnet/corefx/pull/14877). Please re-open if happens again.

[2017-01-09 19:36] #14468 closed

[2017-01-09 19:36] sepidehMS commented on #14681
Closing, as this is not failing anymore (after https://github.com/dotnet/corefx/pull/14877). Please re-open if happens again.

[2017-01-09 19:36] #14681 closed

[2017-01-09 19:41] sepidehMS commented on #14017
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1994 (Windows)

**Stacktrace**

[code]

[2017-01-09 19:55] danmosemsft commented on #14017
@saurabh500 could any logging potentially be useful? Even in the product, if it's temporary. It doesn't seem like it would take long to get a hit.

[2017-01-09 19:55] danmosemsft commented on #14995
@tarekgh sounds these just need disabling for desktop

[2017-01-09 20:08] FLGMwt commented on #2155
If it helps anyone, I ran into this today using `"System.Net.Http" : "4.0.0"`, but I bumped it up to `4.3.0` and everything is good now

[2017-01-09 20:09] saurabh500 commented on #14017
I am removing the SqlConnectionTest from the SqlClient test suite to continue investigation offline.
The coverage for SqlConnectionTest is already provided by the DiagnosticTest in SqlClient.

[2017-01-09 20:10] danmosemsft commented on #5540
I'm going to close this in favor of #12678 and #4651 to bring a little clarity

[2017-01-09 20:10] #5540 closed

[2017-01-09 20:21] ianhays commented on #14986
I imagine in that scenario we only want to test the *new* behavior, not the old behavior i.e. before 4.6.2.  So in that case we would exclude these tests and not worry about adding new tests for the pre-4.6.2 behavior.

e.g.
[code]

so when the desktop test run is executed on .net >= 4.6.2 we'll have the coverage.

[2017-01-09 20:21] tmds commented on #3188
I don't have a strong feeling about this.
Something like this then?
[code]
Or as extension methods?

The realtime signals are a range of platform specific length. So it isn't possible to enumerate them in a enum. That is the rationale to use struct properties instead of enum values. That way you can start at RtMin and go up to RtMax.

[2017-01-09 20:31] ianhays commented on #12761
@weshaggard is there anything stopping me from merging these assemblies now?

My plan:
- Move all src/tests/ref from the AC assembly into System.IO.Pipes as Windows-specific inclusions
- Create PlatformNotSupported versions of the AC src for Unix systems
- Delete the packaging for the System.IO.Pipes.AccessControl package

[2017-01-09 20:32] cesarbs commented on #14954
@davidsh Server is running on Windows, client on Linux.

[2017-01-09 20:47] ianhays commented on #10895
Do we have another issue tracking adding it? [The FileSystemRights constructor isn't a part of netstandard](https://github.com/dotnet/standard/blob/master/netstandard/ref/mscorlib.cs#L6938) so to add it back we'll probably want some discussion first I'd imagine.

[2017-01-09 21:05] stephentoub commented on #14017
again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/2011/

[2017-01-09 21:07] danmosemsft commented on #10895
/cc @weshaggard
We consciously took that breaking change in order to snip the dependency of standard on ACLs. Given that it sounds like the right thing may be to disable this test for desktop?

[2017-01-09 21:17] karelz commented on #14961
@jamesqo can you provide more details on the inconsistent exceptions? (I didn't get it from the linked PRs)
What is the compat impact of such change? If there is compat risk, we should understand the value (it may be worth splitting up that part into its own issue if we expect a discussion around it).

[2017-01-09 21:21] kriscoleman-springthrough commented on #10445
Despite @Priya91's comment that it was fixed in 1.1.0, I had to follow @okosodovictor's suggestion before I got it working. aut

[2017-01-09 21:22] karelz commented on #14966
I assume it would require new APIs, right?
What is the downside of leaving it as external wrapper around Console? In other words: What are the benefits to bring it into Console class? (just trying to understand the motivation and all options, please don't treat it as push back)

[2017-01-09 21:36] binoypatel commented on #14998
@onovotny , @tarekgh , tested with VS2017 RC1 and confirmed working. My question is now should I move my production application to VS2017 or continue working with VS2015 until VS2017 RTMed?

Kind regards,
Binoy

[2017-01-09 21:36] #14998 closed

[2017-01-09 21:44] ianhays commented on #13245
This looks more to me like the result of the Desktop FSW locking on the watched folder and preventing the LastWriteTime call from modifying it.

[2017-01-09 21:52] weshaggard commented on #10895
Yes we aren't planning to add the APIs that depend on ACLs into .NET Standard. If this is required for these tests then I agree we should probably condition the tests. In either case we should still have a closer look to ensure we have a way to cover the scenario in .NET Core with other APIs and if not decide if that is OK or not.

[2017-01-09 22:01] ianhays commented on #14983
The notification will come eventually because we loop until it occurs (or until the timeout gets hit). The issue with this one and its friends (Changed_Success and [CreatedDeleted_Success](https://github.com/dotnet/corefx/issues/13304)) is that the timeout has to be very long or we'll hit frequent failures.

There's a delicate tradeoff here between consistency and execution time and I've traded th

[2017-01-09 22:01] ianhays commented on #13304
This is occurring because the LongWaitTimeout isn't long enough to catch the event. I'll increase it again.

[2017-01-09 22:09] weshaggard commented on #12761
You can do that for the netcoreapp specific build of the Pipes library, you cannot do it for a netstandard build of the library because the ACL APIs are part of .NET Standard.

However by removing System.IO.Pipes.AccessControl you will prevent folks the .NET Standard version of Pipes from using ACLs for Pipes. They will only be able to use them if they target .NET Framework or .NET Core specifical

[2017-01-09 22:31] jaredpar commented on #14869
This is starting to cause us a bit of pain in Roslyn.  Our build graph is now getting this reference from both package names.  Until there is a 4.5.24.0 there is no way to unify other than inserting a lot of suppressParent / include: none into the project.json files.

The 4.5.24.0 is the most popular version.  Can we get this uploaded so we can standardize and fix the broken NuGet graphs?

[2017-01-09 22:48] stephentoub commented on #14869
cc: @ericstj, @weshaggard

[2017-01-09 23:17] brendandixon commented on #14908
@ellismg I am going to close this. Moving forward, plus some clean-up with my Docker container, has resolved the issue.

[2017-01-09 23:17] #14908 closed

[2017-01-09 23:41] divega opened #15011 "Data.Common and SqlClient: considering adding an alternate version of GetFieldValueAsync<T>() that returns a ValueTask<TResult>"
`GetFieldValueAsync<T>()` seems to be an exact match for the conditions under which usage of the new type can enable more efficient fine-grained async code. See [the description of ValueTask<TResult>](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Extensions/src/System/Threading/Tasks/ValueTask.cs#L12-L50) and the discussion at https://github.com/dotnet/corefx/issues/4708

[2017-01-09 23:52] TerisseNicolas commented on #15002
It worked perfectly! There is surprisingly no error at all ..

[2017-01-09 23:52] divega commented on #14760
@saurabh500 I am still a bit surprised to hear that disposing the connection on .NET Framework did not close it. Is it the case that this was not implemented in the base `DbConnection` but it had to be implemented in each derived/provider specific implementation?

[2017-01-10 00:04] saurabh500 opened #15012 "Consider making NegotiateStreamPal and related APIs in Common a reusable component"
System.Data.SqlClient needs to use the GSSAPIs to interact with the Kerberos tokens to authenticate Sql Server users on .Net Core on Linux and macOS

System.Net.Mail has a dependency on the Interop Classes in Common folder, e.g. https://github.com/dotnet/corefx/blob/fd15ab1de03a4431e0ead9ff10e1bf53e2ae4bb7/src/System.Net.Mail/src/System.Net.Mail.csproj#L148

Can the Common\System\Net\Security\* an

[2017-01-10 00:26] #13537 closed

[2017-01-10 00:32] karelz commented on #14967
If it depends on crypto, then it needs 4.6 at minimum. The easiest thing is to try to compile it against net451 and see what fails.

BTW: 4.5.1 is [out of support](https://blogs.msdn.microsoft.com/dotnet/2015/12/09/support-ending-for-the-net-framework-4-4-5-and-4-5-1/) for a year.

[2017-01-10 00:34] karelz commented on #14978
@saurabh500 can you help please?

[2017-01-10 00:36] saurabh500 commented on #14978
@corivera, can you help with this issue with MSF in Managed SNI?

[2017-01-10 00:38] saurabh500 commented on #14760
@divega

Yes.

In .Net Core Dispose() started calling Close(). The Dispose from SqlClient was removed to benefit from the behavior of the base class.
That's why you see the difference you have mentioned in https://github.com/dotnet/corefx/issues/14760#issuecomment-269575962

[2017-01-10 00:39] karelz commented on #15012
@Priya91 suggested creating a proper Authentication API. We just didn't have time to fund it yet. I can't find the issue filed ...

I don't think the code in Common folder is ready to be public API.

[2017-01-10 00:56] Priya91 commented on #15012
The proposal to extract it out was tracked in #13364, we didn't end up with exposing those internal auth types public, because they are not well designed to be application protocol layer agnostic. Some APIs are tied to specific class of applications like webrequest, mail, http, etc. And hurrying to expose it without proper thought will be irreversible to delete these APIs. So for now, we solve thi

[2017-01-10 00:59] saurabh500 commented on #15012
Thanks @Priya91
Can you open an issue to track this API with a couple lines, even if it is to be funded in future as recommended by @karelz in https://github.com/dotnet/corefx/issues/13364#issuecomment-265560539 ?
I can subscribe to it.

[2017-01-10 01:01] saurabh500 commented on #15012
Alternatively, can a self contained Nuget package be created which can be consumed by .Net Core, like System.Net.Security.Native ?

[2017-01-10 01:09] Priya91 commented on #9293
On the linked issue from Azure, they had suggested that we configure the cloud images using cloud init settings ourselves. I guess for unknown VM images, azure calls into the cloud init APIs, and we may need to specific the settings using the config keys fs_type. Microsoft Azure docs [here](https://docs.microsoft.com/en-us/azure/virtual-machines/virtual-machines-linux-using-cloud-init) and cloud-i

[2017-01-10 01:11] Priya91 commented on #15012
Creating a nuget package implies releasing new API.. Anyone can take dependency on it, and we can't make them go back :)

[2017-01-10 01:16] saurabh500 commented on #15012
I was suggesting more from the point of view of having a Nuget package for consumption for Core like the System.Net.Security.Native and sni.dll do. They are nuget packages and come with a note that they are not meant to be consumed outside .Net Core. The difference is that they are Native packages and I was recommending a C# nuget package. I agree that it exposes a bunch of APIs which .Net Core co

[2017-01-10 01:19] RxDave commented on #13526
Shouldn't this be a struct? It's naturally a value type in terms of equality, it's immutable, and it has all of the typical interfaces/operators of a value type. And who needs virtual members on it anyway? For example, does anybody really need to derive from `SemanticVersion` to override the Boolean `IsPrerelease` property?  :-) Instead, how about a static factory method and a builder pattern with

[2017-01-10 01:23] Priya91 opened #15017 "Expose interface to support SASL compliant authentication protocols"
In .NET the authentication protocols implementation is available as an internal type [NTAuthentication](https://github.com/dotnet/corefx/blob/e61cda509c29326cdfb044d3e08c5b0ad388644d/src/System.Net.Security/src/System/Net/NTAuthentication.cs) but the API surface area is designed for Windows compatible NTLM, Kerberos and WDigest auth. We need an API like [IAuthenticationModule](https://github.com/d

[2017-01-10 01:23] Priya91 commented on #15017
cc @karelz @saurabh500

[2017-01-10 01:23] dotnet-mc-bot opened #15018 "Test failure: System.Net.NetworkInformation.Tests.PingTest/SendPingAsyncWithHostAndTimeout"
Opened on behalf of @jiangzeng

The test `System.Net.NetworkInformation.Tests.PingTest/SendPingAsyncWithHostAndTimeout` has failed.

Assert.Equal() Failure
    Expected: Success
    Actual:   TimedOut

        Stack Trace:

           at System.Net.NetworkInformation.Tests.PingTest.<>c__DisplayClass10_0.<SendPingAsyncWithHostAndTimeout>b__1(PingReply pingReply)
       at System.Net.NetworkInformat

[2017-01-10 01:25] karelz commented on #15012
The problem is that the package will be in dependency graph of apps. Intellisense will just offer the namespaces. Unless we name the namespace something like DontEverUseThisUnsupportedTemporaryNamespace.
Is including the sources really that painful? While not ideal, I think it is reasonable workaround ...

[2017-01-10 01:29] Priya91 commented on #15012
@saurabh500 You could follow the System.Net.Mail [commit](https://github.com/dotnet/corefx/commit/140305bf508db47c3bc23df182d549b9a37792cc#diff-11c574debebea72f325e933a77957490), to get the dependent files instead of reworking again.

[2017-01-10 01:31] dasMulli commented on #13526
I couldn't agree more.
I think the type should be "reasonably immutable" meaning it should be either a `struct` or a `sealed class` with read-only properties only.

I don't think it should be valid to subclass `SemanticVersion` as it would break any assumption one would have about it's equality and the behaviour of the getters / methods. (So no one can "sneak in" unexpected behaviour)
For cases wh

[2017-01-10 01:35] saurabh500 commented on #15012
Including the sources leads to a bunch of redundancies include adding the Common strings to resx files which are needed by the Common code.
We are looking at adding the Integrated Auth APIs to our SNI implementation which works on Unix and Mac. We want to keep our managed implementation platform agnostic, and so that SqlClient can work on any platform which supports the complete .Net Core surface

[2017-01-10 01:37] jiangzeng commented on #10842
It's happening in build 20170109.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170109.02/workItem/System.Console.Tests/analysis/xunit/ReadAndWrite~2FOutputEncoding

Log:
[code]

[2017-01-10 01:40] jiangzeng commented on #14984
In build 20170109.02, result generated, but the issue is the same:
System.Globalization.Tests.CalendarHelpers/GetDaysInMonth_Invalid
System.Globalization.Tests.CalendarHelpers/IsLeapDay_Invalid
System.Globalization.Tests.CalendarHelpers/IsLeapMonth_Invalid

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170109.02/w

[2017-01-10 01:51] karelz commented on #15012
Thanks @saurabh500 for your explanation, I think I understand your motivation now.
I think that exposing temporary public APIs is just too ugly & risky workaround to achieve your goal. I would rather prefer to invest into proper public Authentication API (which likely means to use Common code for now).

[2017-01-10 01:52] saurabh500 commented on #15012
@karelz I agree. Based on what you mentioned about the tooling, the overall dev experience with tooling can be messed up.
I will follow the work on #15017

[2017-01-10 01:52] #15012 closed

[2017-01-10 01:55] saurabh500 commented on #14017
I have the marked the test with `ActiveIssue` and I will continue to investigate the problem.

[2017-01-10 02:27] stephentoub commented on #15002
Ah, when you said it exited unexpectedly, I thought you meant you got an error. Glad you got it resolved. Note that it's rare to use an async void method like you were: it will return to the caller the first time an await yields, and since there's no task returned and you weren't waiting for it, your program just exited.

[2017-01-10 02:42] chcosta opened #15022 "System.Runtime.CompilerServices.Unsafe doesn't handle configurations"
This is an ilproj, and it doesn't have a configurations file, so when it builds, it just defaults to debug, it doesn't produce a release binary.

In general, any library which doesn't have buildconfigurations specified, will get defaulted to debug (even if configurationgroup=release is specified on the command-line).  We should handle this better and still respect propreties.

For this project, yo

[2017-01-10 02:42] lmolkova opened #15023 "Add context to DiagnosticSource"
# Motivation
Our goal is to enable telemetry event correlation.  To do this we need incoming requests to be tagged with an ID (and potentially other information), and have this information 'flow' through (be available) to all code run in response to that request and in particular allow this information to be propagated to any outgoing requests.

This class is meant to effectively augment existing

[2017-01-10 03:02] tomakita commented on #14966
Good question.

The benefit that I have in mind is convenience.  The core of the proposed functionality is the ability to color text using any RGB color, as opposed to the 16 colors that the System.Console class is currently limited to.  This enhancement wouldn't necessarily make System.Console's API much more complicated.  Here is one way it could be implemented which would change System.Console'

[2017-01-10 03:04] cwe1ss commented on #15023
I implemented the C# version of opentracing.io so I have great interest in this topic.

Any chance we can talk about making this implement the opentracing API in a more compliant way? It would be bad if we had a "almost"-implementation in the framework and a separate opentracing library.

I'd be happy to connect you with the people behind opentracing to chat about possible questions and concerns.

[2017-01-10 03:37] jamesqo commented on #14961
@karelz See [here](https://github.com/dotnet/corefx/pull/14798#discussion_r94341057). There is little to no compat risk because the type of exception is changed only when two things are invalid; the `index` must be negative and the array must be a default instance.

[2017-01-10 04:58] tarekgh commented on #10885
This should be fixed now by the linked PR

[2017-01-10 04:58] #10885 closed

[2017-01-10 05:01] TerisseNicolas commented on #15002
No, sorry, it is not resolved.. I may have misexplained the problem.
With the posted code, the application crashed without any piece of information, 0 error is raised: there is a real issue here... It happens while processing the request. (getAsync) I never have the "After request" message displayed or the last Readkey function, everything has already stopped.
Yes, here I use void but that is not

[2017-01-10 05:03] stephentoub commented on #15002
Ok, in that case please share a representative repro that does represent the issue.

[2017-01-10 05:45] leshin commented on #14680
It's ok on Ubuntu.

[2017-01-10 05:45] #14680 closed

[2017-01-10 05:54] chadwackerman commented on #11100
Three weeks and no update. Happy New Year everyone.

[2017-01-10 06:13] mregen opened #15027 "FileSystemInfo.LastWriteTimeUtc throws on Linux if folder doesn't exist"
FileSystemInfo.LastWriteTimeUtc behaves different on Windows and Ubuntu 16.04:

see: https://github.com/OPCFoundation/UA-.NETStandardLibrary/issues/112

Set FileSystemInfo to a path that doesn't exist, then call LastWriteTimeUtc.

On Windows it returns something like 1.1.1600,

On Linux it throws exception

expected: windows behaviour or at least similar behaviour on both OS.

[2017-01-10 06:25] JeremyKuhne commented on #6302
This happens regularly- and I think it may also be causing seg faults sometimes.

[2017-01-10 08:09] pollax commented on #11100
@chadwackerman seriously, do you understand that your bad attitude won't help this issue getting  fixed faster? And apart from that, you are making a fool out of yourself here. Please improve your tone.

[2017-01-10 08:56] robertmclaws commented on #11100
What tone? He made a statement, which has the benefit of being accurate, then wished everyone a Happy New Year. If you took it negatively, that's your issue.

And regarding that first statement: this is a major breaking issue that doesn't show up until runtime. Five years ago ScottGu or Rob Howard would have had a team on this 24-7 till a fix shipped. Now it's just "you know, we'll get around to i

[2017-01-10 09:16] pollax commented on #11100
Ok, maybe I read to much into it and because of the tone he used in previous comments, I read this last one with a slightly ironic tone. Sorry about that.
Regarding the issue; I hear you. I'm troubled by it myself (otherwise I wouldn't be watching this issue so closely). But as a developer, I know that the worst thing is to have someone staring at you when trying to fix a major issue.

[2017-01-10 11:04] CodeCasterNL opened #15028 "List<T>.Sort(Comparison<T>) does not increment internal version, allowing enumeration to continue"
A `List<T>` internally keeps a version number to prevent modification while enumerating. Every modification to the list should therefore increment the version number.

This does happen in `Add(T)`, `Remove(T)`, `Clear()`, `Sort()` and perhaps other methods, but **not** in [`Sort(Comparison<T>)`](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Collections/s

[2017-01-10 12:19] tmds commented on #3188
@stephentoub and others, unless someone else wants to do it, I can send a PR for the send signal feature. I'd put it in a new 'System.IO.Signals' project. We can make changes based on PR feedback.

[2017-01-10 12:41] thiagocamargos commented on #6485
Hi @karelz , I've submited the PR and it is now waiting on https://github.com/dotnet/coreclr/pull/8834

[2017-01-10 13:27] mikedn commented on #15028
Dupe of https://github.com/dotnet/coreclr/issues/8071

[2017-01-10 13:32] CodeCasterNL commented on #15028
@mikedn thanks. Don't know why I didn't find that one.

[2017-01-10 13:59] #15028 closed

[2017-01-10 14:09] dluxfordhpf commented on #11100
I concur with your read of sarcasm and agree, it is not productive.  I also concur with the feeling of “when is it gonna be fixed,” though.  Unfortunately this main-path CAT1 issue just didn’t attention until many people got quite vocal about it.  I hope there is some process improvement internally to resolve this; it would suck for us all if the only way we can get fixes is via curse words.

Davi

[2017-01-10 14:10] stephentoub commented on #3188
Thanks, @tmds.

I don't think we should use Process here either; if the signature takes an int and the developer already has a Process, all they have to do is pass in p.Id, but if the signatures takes a Process and the developer has an int, they have to use the Process class to get a Process object for that int, which is not cheap.  And the implementation is just going to turn around and extract t

[2017-01-10 14:39] tloo commented on #14946
@karelz After changing the version, build-manage -packages will fail

I have attached the build log.
[msbuild.err.txt](https://github.com/dotnet/corefx/files/696364/msbuild.err.txt)

[2017-01-10 14:40] baal2000 opened #15031 "System.IO.FileLoadException in System.Net.Http 4.1.1 (NuGet package 4.3.0) on System.Diagnostics.DiagnosticSource 4.0.1 (NuGet package 4.3.0)"
System.IO.FileLoadException at System.Net.Http.WinHttpHandler.SendAsync():
Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)

Our research has shown that:
* System.Ne

[2017-01-10 14:56] niemyjski commented on #11100
I'm also getting a report of this happening on full framework with our Exceptionless nuget package. Any solid fixes or work arounds?

[2017-01-10 15:07] annemartijn0 commented on #11100
I also get this self hosting ASP.NET Core from a Windows Service running full framework 4.6.2. dependency NETStandard.Library 1.6.1 forces me to use System.Net.Http 4.3.0.

[2017-01-10 15:21] enyim commented on #11100
and this is my biggest problem with this whole situation

more and more packages are taking a dependency on the meta-package, forcing me to upgrade every dependency I have (or fight an uphill battle of downgrading/ignoring specific ones)

this goes contrary the previous promise of "mix and match" of system dependencies

I had to downgrade my system to 4.5.2 from 4.6.1 (& losing significant time),

[2017-01-10 15:53] jpierson commented on #14891
After considering this further it makes more sense to me to separate these Disposable types into their own library package instead of trying to pull them into a core framework. My original reason for agreeing with the proposal was to be able to use these disposable patterns without requiring a dependency Reactive Extensions because they are useful on their own. Are there any other strong benefits

[2017-01-10 16:04] jnm2 commented on #14966
@tomakita

I'm sorry to point this out, but all it's doing is manipulating a 15-color palette. From https://github.com/tomakita/Colorful.Console/blob/master/README.md#usage-notes:

Managing a palette becomes much more complex than simply taking a dependency on `System.Drawing` and exposing `Color`. What happens if you try to use 17 colors? Do you live with the previous characters turning random co

[2017-01-10 16:30] tmds commented on #3188
I don't think it will be common to send signals to processes for which you don't have a Process instance. But I understand the interest in avoiding the overhead of the Process class creation for when you don't.

It can be used to unblock the target thread on a blocking syscall. You can set a variable to indicate the thread should stop and then send the signal to the thread to unblock it. The dispo

[2017-01-10 16:41] cincuranet opened #15033 "NetworkStream.ReadAsync/WriteAsync ignores CancellationToken"
I'm looking at [this commit](https://github.com/dotnet/corefx/pull/3710/commits/1c5957c4e80a140a92a1b4d11bcc32e106cbc650) from @stephentoub and I see the `CancellationToken` is not used once the `BeginRead/Write` operation is started. Especially for the read scenario it makes sense to be able to stop the reading and continue working. Or am I missing something?

[2017-01-10 16:43] karelz commented on #15031
cc @ericstj who had some insights.

We believe it will be fixed as a side-effect of fix for #11100.
I would still like to understand the root cause here (it's not clear to me from the bug description).

[2017-01-10 16:44] stephentoub commented on #15033
These NetworkStream.Read/WriteAsync implementations are just wrappers around the underlying NetworkStream.Begin/EndRead/Write methods, which are in turn just wrappers around the underlying Socket.Begin/EndReceive/Send methods, which do not support cancellation.  I agree that cancellation would be useful, but adding it can't be done unless/until cancellation is supported at the sockets level, and i

[2017-01-10 16:45] karelz commented on #15023
cc @vancem

[2017-01-10 16:47] #15033 closed

[2017-01-10 16:48] cincuranet commented on #15033
Ahh, I completely forgot about the underlying `Socket`. Thanks.

[2017-01-10 16:49] mikedn commented on #14966
If something is done in this are then that something has to be:
- somehow expose RGB color support on Linux since newer Linux terminal has support for that
- have the Windows implementation optionally enable and use escape sequences on Windows 10 Anniversary Update and newer, that will give you RGB color support on Windows as well

Any other workarounds and improvisations in this area are a comple

[2017-01-10 17:00] baal2000 commented on #15031
cc @karelz: More details at http://stackoverflow.com/questions/41550563.

Maybe this sequence is clearer:
1. System.Net.Http.dll 4.1.1 has been built while referencing  System.Diagnostics.DiagnosticSource.dll v 4.0.0
2. Nevertheless, System.Diagnostics.DiagnosticSource.dll v 4.0.1 is auto-deployed with System.Net.Http v 4.3.0 package. This package carries System.Net.Http.dll 4.1.1 with itself, as

[2017-01-10 17:06] danmosemsft commented on #14505
@stephentoub for question above.

[2017-01-10 17:07] somewhatabstract commented on #13526
I hate sealing things just because someone _might_ do something naughty. Why bother with interfaces and polymorphism at all? If you want to be certain that you are really working with an unaltered `SemanticVersion` then do some type checking.

[2017-01-10 17:21] davidsh commented on #15031
@karelz @ericstj Any fix for #11100 will not affect this problem unless DiagnosticSource is removed completely from the set of assemblies used for the net46 build of System.Net.Http.dll.  Can you explain why you think the problem would be fixed as a side-affect of fixing #11100?

[2017-01-10 17:22] karelz commented on #11100
I planned to send an update for last few days, so here it is:

@CIPop's work was preempted by a security issue. His work was picked up by @davidsh. @davidsh plans to submit PR early this week (i.e. any day now).

Here are details on our execution plan & status:

**High-level plan:**
A. Replace WinHttpHandler with HttpClientHandler in net46 build of CoreFX
B. Implement 8 new APIs on HttpClientHandl

[2017-01-10 17:30] karelz commented on #11100
There's a workaround to downgrade the offending package to 4.0.0.0 (see https://github.com/dotnet/corefx/issues/11100#issuecomment-246469893), unfortunately per comments above, any edit to NuGet dependencies will bring it back up -- which is the key reason why this issue is so painful.

I have some ideas (and questions) about the process improvements here, to prevent future important impactful iss

[2017-01-10 17:35] vancem commented on #15023
@cwe1ss

We certainly want to extract value out of the opentracing.io standard if we can, and are certainly open to suggestions.   We in fact started with opentracing.io as a model.    The 'Activity' class is very much like the OpenTracing 'Span' class (calling it that however, is a bit problematic for us, as that name has been 'claimed' for class that will represent a slice of an array (yes they

[2017-01-10 17:39] karelz commented on #15031
I was just quoting @ericstj. These things are mind-blowing (feels like the good old Fusion days with inconsistent versions of participating assemblies on top of that :() - I need to grab @ericstj and understand the problem better.

[2017-01-10 17:48] dluxfordhpf commented on #11100
Woot!!!

David L-

David Luxford
Senior Software Engineer
Home Point Financial Corporation
1194 Oak Valley Dr Ste 80
Ann Arbor, MI 48108
Work Phone:  (734) 256-4038
Email: dluxford@homepointfinancial.com
www.homepointfinancial.com

This email message, including any attachments (&ldquo;Message&rdquo;) is intended solely for the use of the intended recipient(s) and may contain information that is pr

[2017-01-10 17:57] georgiosd commented on #11100
Well done guys @karelz

[2017-01-10 18:12] weshaggard commented on #14946
cc @ericstj  who might be able to help as well.

@tloo can you point me at a branch with the changes you made so I can see what you changed?

[2017-01-10 18:22] #14466 closed

[2017-01-10 18:48] tloo commented on #14946
@weshaggard Sure, I'm using corefx-release-1.1.0, changed this file: Packaging.props.
Changed PackageVersion from 4.3.0 to 4.3.1
` <PackageVersion Condition="'$(PackageVersion)' == ''">4.3.1</PackageVersion>`

[2017-01-10 19:22] baal2000 commented on #15033
@cincuranet
@stephentoub

I suggest awaiting on a composite task Task.WhenAny that combines NetworkStream.Read/WriteAsync task with another "monitor" Task (for instance, Task.Delay(timeout, token) or TaskCompletionSource-based task). The "monitor" Task can be interrupted by cancelling or by timing out . When the composite Task completes due to "monitor" Task completion, the NetworkStream and the u

[2017-01-10 19:27] stephentoub commented on #15033
@baal2000, yes, a consumer of the APIs could choose to do that: https://blogs.msdn.microsoft.com/pfxteam/2012/10/05/how-do-i-cancel-non-cancelable-async-operations/. But we wouldn't want to do that in the implementation of NetworkStream itself.

[2017-01-10 19:32] mellinoe commented on #14017
If it's helpful, here's another repro: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1998/consoleFull

[2017-01-10 19:32] cincuranet commented on #15033
@baal2000 That works if you can then close the `Socket`. But if you need to keep it opened it's a problem, because the read will be still hanging there, potentially colliding with next read(s).

[2017-01-10 20:05] tmds commented on #1745
The [reference source](https://github.com/Microsoft/referencesource/blob/master/System/net/System/URI.cs#L3611-L3671) detects "Unc and DosPath on Windows" and "Unix path on Unix".

[2017-01-10 20:26] davidsh commented on #15031
After reviewing the binaries that dependencies of System.Net.Http.dll, I see that once the fix for #11100 is checked in (with PR #15036), the set of depedent assemblies for the NET46 build of System.Net.Http.dll in reduced.  See below:

Current System.Net.Http.dll NET46 build in [master] branch.

[code]

Pending revised System.Net.Http.dll NET46 build (once PR #15036 is checked in):
[code]

So, si

[2017-01-10 20:29] cwe1ss commented on #15023
Hi Vance, I'm happy to hear that there's interest in making it as compatible as possible.

I fully agree that there shouldn't be yet another logging solution in the framework! We've already had a few discussions about the existing logging systems in .Net in other github issues and I'm still very thankful for the valuable insight you've provided there!

Traditional logging has been added to Opentra

[2017-01-10 20:35] baal2000 commented on #15033
@cincuranet Agree this would not provide solution if the stream/socket was to be kept open. Still, might be a good idea to use the monitor Task approach in select scenarios to protect yourself from the upstream code potentially hanging indefinitely on awaiting ReadAsync/WriteAsync.

@stephentoub Thanks for your input. Agree this shoudl not be part of NetworkStream.

[2017-01-10 20:38] ianhays commented on #14966
I tend to agree that this kind of thing is probably out of scope for what we want in CoreFX and would be more fitting as a secondary library e.g. ColorfulConsole, partially because of the reasons mentioned above and partially because the API would be a large addition to what is currently a relatively small API. I'm not at all against its inclusion, but the use cases and need would have to be big e

[2017-01-10 20:45] danmosemsft commented on #13470
@stephentoub are you planning to do this? Perhas not & we can put it up for grabs

[2017-01-10 20:46] danmosemsft commented on #14170
@AlexRadch do you expect to have time to expose this? Otherwise it can't be used.

[2017-01-10 20:46] stephentoub commented on #13470
@danmosemsft, up for grabs is fine.  If I can get to it, I can always grab it.

[2017-01-10 20:47] danmosemsft commented on #7804
@yizhang82 are you planning to do this? just trying to clarify who is.

[2017-01-10 20:47] AlexGhiondea commented on #13526
@dasMulli I don't think having to copy/paste/change a type is a good path to go down. I would like us to come up with a type that is extensible in meaningful ways and enables as many people as possible to use it.

[2017-01-10 21:26] #14275 closed

[2017-01-10 21:54] #14563 closed

[2017-01-10 21:56] JeremyKuhne opened #15040 "Adding System.Configuration"
Desktop types in the `System.Configuration` namespace have been ported from 4.6. On desktop the types lived in both `System.dll` and `System.Configuration.dll` (originally they all lived in System). The goals in the port:

- Enable users getting/setting data from configuration files
- Port as much relevant code as realistically possible
- Avoid unnecessarily breaking existing usage of the System.C

[2017-01-10 22:01] baal2000 commented on #15031
Agree removing System.Diagnostics.DiagnosticSource dependency should do.
Thank you all.

[2017-01-10 22:04] vancem commented on #15023
Thanks for the feedback Christian.

Naming:   I personally have no strong preference here.  It will depend on what happens with the array slicing, and I will bring it up with people who deal with naming more.

Inject/Extract:  I do see there is abstraction here, and we did think about this in the design, but I was having a hard time coming up with concrete value of the abstraction (exactly who is

[2017-01-10 22:15] joperezr opened #15041 "Looks like we have never run the System.Security.AccessControl tests"
While investigating why these tests were failing on dev/eng branch, I found out that they are also failing in master just that we haven't been running them. The reason why is because the target that selects which projects to run the tests from (`FilterProjectsToTest`) has a condition into making sure that the test .builds file ends with a `.Tests.builds` and it looks like for System.Security.Acces

[2017-01-10 22:16] #11919 closed

[2017-01-10 22:46] RussKie commented on #11082
@brentschmaltz  @Tratcher are you able to share the reasoning behind this decision?

[2017-01-10 23:08] baal2000 commented on #15031
@davidsh What about WinHttpHandler package dependencies that new version of System.Net.Http.dll requires to support HTTP/2 protocol per [PR 15036](https://github.com/dotnet/corefx/pull/15036)?

[2017-01-10 23:16] weshaggard opened #15045 "Remove TypeConverter dependency from System.Data.Common"
Currently System.Data.Common depends on System.ComponentModel.TypeConverter which we should break. TypeConverter is a higher level assembly with lots of dependencies which we don't want to pull in with System.Data.Common. If we need type converters for System.Data.Common we can move implement them or add the mappings for them in S.CM.TypeConverter directly.

[2017-01-10 23:16] davidsh commented on #15031
System.Net.Http.dll doesn't have a dpendency to System.Net.Http.WinHttpHandler.dll.  But it does include the source of WinHttpHandler as the default HttpClientHandler implementation.  That, however, is changing with the PR #15036.

The PR #15036 will end up implicitly removing a dependency where System.Net.Http.dll requires DiagnosticSource.dll because that requirement bubbles up from using WinHtt

[2017-01-10 23:20] Tratcher commented on #11082
One of the primary reasons is that we need to serialize an identity into a cookie. We can't serialize and deserialize arbitrary types.  There are also several other operations we do like merging multiple ClaimsPrincipals into a single principal.

[2017-01-10 23:20] weshaggard opened #15046 "Consider removing Transactions dependency from System.Data.Common"
Currently System.Data.Common depends on System.Transactions because of DbConnection.EnlistTransaction. That API is currently not part of .NET Standard 2.0 so we should either include it along with Transactions to .NET Standard 2.0 or we should consider removing it from .NET Core and breaking this dependency on Transactions.

@terrajobst @stephentoub what are you guys thoughts?

[2017-01-10 23:22] weshaggard opened #15047 "Remove CodeDom dependency from S.P.DataContractSerialization"
System.CodeDom is a higher level OOB component that we should avoid having a dependency on from a lower level component like DataContractSerialization. We should remove this dependency.

Looks like it was added with https://github.com/dotnet/corefx/commit/e5df9bee7f15b78e51883ceda56cd081113dc0e2

@shmao @zhenlan

[2017-01-10 23:24] weshaggard opened #15049 "Remove S.Security.Permissions dependency from CodeDom and TypeConverter"
Currently System.CodeDom and System.ComponentModel.TypeConverter depend on System.Security.Permissions. We should break that dependency as they shouldn't need anything from that the Permissions library.

cc @safern

[2017-01-10 23:34] TerisseNicolas commented on #15002
Bug reproduction:
-use w10 os & .net core v1.1.0 & vs2015
-create a new dotnet core console application project
-replace the default Program.cs content by the posted code above.

You should see your application crashing while executing l35 `response = await c.GetAsync(requestUri);`

The project.json file should be quite similar to mine:
[code]

[2017-01-10 23:37] RxDave commented on #13526
@AlexGhiondea Why would you have to copy/paste/change this type? It should be a type that does one thing and does it well (single responsibility principle); namely, it implements the "semver" spec. If you need to it do anything else, then why not just use object composition instead? That way you'll avoid confusing people, rather than changing the meaning of members on a standard type.

    public

[2017-01-10 23:37] karelz commented on #1745
That code is from ancient days, if it works and if it satisfies all requirements, we could use it.
Is that desired behavior to parse Unc/Dos paths only on Windows and not on Linux?

It would be a technical breaking change against previously shipped .NET Core version (on Linux), so it should be thought through from that angle. Does everyone agree it is the right thing to do?

[2017-01-10 23:40] ianhays commented on #15041
I ran them before I checked them in so at least we know they passed at *some* point :) This is my bad though, looks like I missed that condition.

[2017-01-10 23:45] ianhays commented on #15041
Looks the failures on Release are all of this form:

[code]

and on Debug they fail a **bunch** of Debug assertions:
[code]

[2017-01-10 23:54] saurabh500 commented on #15046
@divega do you have any thoughts about this?
The issue #12534 talks about ambient transactions and DbConnection.EnlistTransaction is one of the APIs needed which allows connections to enlist into transactions apart from the Connection String parameter for the database driver provider.

[2017-01-11 00:04] dasMulli commented on #13526
Yes copy&modify would be pretty extreme.
@somewhatabstract i share your concern that classes should not be sealed by default. But here we need to distinguish between "logic" classes and types for fixed data representation.
One could even argue that the proposed type can be split into a type storing the fields and types doing the semver interpretation.. (but I would then argue that the "semver spec

[2017-01-11 00:10] JonHanna commented on #14790
Not sure how much of an API issue this would be considered, but this seems sensible and useful.

[2017-01-11 00:18] tarekgh opened #15051 "Investigate the behavior difference in System.Runtime.Numeric when running on desktop"
System.Runtime.Numeric has some different behaviors when running on desktop than when running on netcore. the PR #15050 has the places needed to be investigated which are marked with [SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework)]

[2017-01-11 00:21] tarekgh commented on #15051
cc @mellinoe

[2017-01-11 00:41] JonHanna commented on #12943
I don't thing there's any reason a method or field should have to have a `DeclaringType` unless there's some inherent reason for a restriction on what that `DeclaringType` can be.

With the `*Bind` methods though the objects produced are all `MemberBinding`s rather than complete `Expression`s and used to produce `MemberInitExpression`s which have to be validated so that the `DeclaringType` of the

[2017-01-11 00:46] JeremyKuhne commented on #14442
As Stephen mentioned, this is a shell related thing. You can get the folder from `Environment.GetFolderPath(SpecialFolder.UserProfile)` and use that to build your paths via `Path.Combine()`.

[2017-01-11 00:46] #14442 closed

[2017-01-11 01:07] #14994 closed

[2017-01-11 01:10] agray commented on #5593
REALLY need XUnit to emit nunit3 XML. new tools now take nunit 3 xml as input.  Have also raised this ticket: https://issues.jenkins-ci.org/browse/JENKINS-27906 to Critical as it is increasingly redonkulous that Jenkins STILL doesn't handle NUnit 3 XML AFAICS.

[2017-01-11 01:19] hseok-oh commented on #14791
fixed y #14887

[2017-01-11 01:19] #14791 closed

[2017-01-11 01:20] tomakita commented on #14966
These are good points.  With this in mind, maybe this is not necessarily a worthwhile enhancement right now.  Thanks for the feedback!

[2017-01-11 01:22] #13640 closed

[2017-01-11 01:26] baal2000 commented on #15031
Sure may close System.Net.Http case then

[2017-01-11 01:36] stephentoub commented on #15045
This is a huge dependency; try removing it, and you'll get ~600 errors.  Some of it is in implementation, some of it is in API.

[2017-01-11 01:38] stephentoub commented on #15002
The program above still has the issues previously discussed on this thread, e.g. Main doesn't block waiting for _main to finish asynchronously.

[2017-01-11 01:40] #14976 closed

[2017-01-11 01:41] stephentoub commented on #14976
@jmroyb, I've closed the issue as I believe my answer addresses your question.  If it doesn't, please reopen. Thanks.

[2017-01-11 01:43] saurabh500 commented on #14756
In the failing instance above, I still see the following error
Unable to load DLL 'api-ms-win-core-localization-l1-2-1.dll'

The TdsParser ctor() calls Encoding.RegisterProvider(EncodingProvider provider) which probably has a dependency on the above dll?

[2017-01-11 01:45] stephentoub commented on #14703
@crummel, @karajas, any updates on this?  Have we confirmed that code coverage runs are working in dev/eng?

[2017-01-11 01:53] weshaggard commented on #15045
From a quick look it seems as though it is a couple TypeConverters and a mapping attribute. I would propose we move the TypeConverters to S.CM.TypeConverter and the mapping can also be added to the mapping list in S.CM.TypeConverter. So that would invert the dependency which is what we have done in other cases as well like S.Drawing.Primitives.

[2017-01-11 01:54] weshaggard commented on #15049
Thanks for grabbing this @stephentoub

[2017-01-11 02:08] karelz commented on #14966
Closing per discussion above.

[2017-01-11 02:08] #14966 closed

[2017-01-11 02:27] gulbanana commented on #11100
Thanks for the update. PlatformNotSupported would be better than nothing since they're new apis that legacy software doesn't rely upon.

[2017-01-11 02:34] gulbanana commented on #11100
It sounds like post-fix, unification through binding redirects will still be required, but a redirect to the newer rather than the older assembly, which nuget can generate correctly?

[2017-01-11 02:34] saurabh500 commented on #14638
@cahlbin I am not able to repro this.
I am using the DataSource = "mySqlServerMachine"
I have turned off the Sql Browser process and I am using connection.Open() to connect to it.
The connection succeeds without specifying the port for DataSource.

Can you give me a small repro that I can work with?

[2017-01-11 02:43] danmosemsft commented on #14756
@johnchen0?

[2017-01-11 03:35] eyalsk commented on #3188
@tmds

I'd rename the method to `SendToProcess`, I don't like short names just for the sake of being succinct, besides, say tomorrow there _might_ be a requirement to add a `SendToThread` that takes the same parameters the name would be at odds, also, I think that it makes the code more readable when the target you're sending a signal to is specified as part of the name so you may want to reconsid

[2017-01-11 04:32] Thaina commented on #14088
Could we also consider `return ref` in C# next version?

[2017-01-11 04:53] jkotas commented on #14088
@Thaina I am not sure what you mean. ref returns are part of C# 7. https://github.com/dotnet/roslyn/issues/118. Check the readme in Roslyn on how to get latest builds of C# 7 to give it a try. Also, any questions about this feature would be best asked in the Roslyn repo.

[2017-01-11 05:00] Thaina commented on #14088
@jkotas I thought you was mention this thread to me at dotnet/coreclr#8877

What I mean is reflection `GetValue` should be generic and could return ref

[2017-01-11 05:18] divega commented on #15046
@saurabh500 as far as I understand we need to go in the opposite direction of what the title says  and add back the APIs and auto-enlistment behavior related to `System.Transactions` into `System.Data.Common` and SqlClient on .NET Core.

If we don't do this the value of `System.Transactions` in .NET Core is very limited.

In my personal opinion the auto-listment behavior is more widely used than t

[2017-01-11 05:23] #14993 closed

[2017-01-11 06:26] dotnet-mc-bot opened #15065 "Test failure: MonoTests.System.Configuration.ConfigurationManagerTest/OpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal"
Opened on behalf of @Jiayili1

The test `MonoTests.System.Configuration.ConfigurationManagerTest/OpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal` has failed.

System.ArgumentException : The path is not of a legal form.

        Stack Trace:

           at System.IO.Path.GetFullPath(String path)
       at System.IO.FileInfo.Init(String fileName)
       at MonoTests.System.Configuration.Confi

[2017-01-11 06:28] dotnet-mc-bot opened #15066 "Test failure: MonoTests.System.Configuration.ConfigurationManagerTest/exePath_UserLevelPerRoamingAndLocal"
Opened on behalf of @Jiayili1

The test `MonoTests.System.Configuration.ConfigurationManagerTest/exePath_UserLevelPerRoamingAndLocal` has failed.

Assert.Equal() Failure
              ? (pos 0)
    Expected: user.config
    Actual:
              ? (pos 0)

        Stack Trace:

           at MonoTests.System.Configuration.ConfigurationManagerTest.exePath_UserLevelPerRoamingAndLocal()
Build : Maste

[2017-01-11 07:32] Jiayili1 commented on #13349
It failed on build 20170111.01, Test: System.Net.Sockets.Tests, FEDORA, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170111.01/workItem/System.Net.Sockets.Async.Performance.Tests/details/76440093-8496-49cb-b6fb-9e39335be3d3

[code]

[2017-01-11 11:08] jmroyb commented on #14976
Hi Stephen, thanks for your answer. It worked

[2017-01-11 13:01] grahamehorner commented on #5593
@weshaggard I'm having the same issue; I can't see the Xsl namespace using the following project.json

[code]

[2017-01-11 13:48] stephentoub commented on #6302
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/2055/consoleText

[2017-01-11 14:49] vcsjones opened #15069 "Proposal: API additions for determining curve support"
Right now in netstandard1.6 we have `ECCurve` for using named or arbitrary ECC curves. This is very useful for certain type of applications where the curve is a configurable option (for example, a German company that insists on using brainpool curves for certain operations).

What we don't have right now is an easy way to list all of the supported named curves for a particular platform. Keeping wi

[2017-01-11 14:49] vcsjones commented on #15069
/cc @bartonjs

[2017-01-11 15:45] #11437 closed

[2017-01-11 16:12] stephentoub commented on #15049
Fixed by #15059 and #15060

[2017-01-11 16:12] #15049 closed

[2017-01-11 16:32] jamesgibbs100 commented on #14978
@corivera @saurabh500 Sorry to nudge on this but time is short - is there any workaround/advice you can provide me ?

[2017-01-11 16:55] weshaggard commented on #5593
Have a look at https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md for instructions on how to use our latest packages.

[2017-01-11 17:07] danmosemsft commented on #15066
@JeremyKuhne

[2017-01-11 17:07] danmosemsft commented on #15065
@JeremyKuhne

[2017-01-11 17:56] stephentoub commented on #14505
Hmm.  I believe the issue here is that for the single-consumer case, we can't drop the messages like we do in the multi-consumer case, as we could then be racing with a real consumer and we could cause a concurrency problem.  If there's a way to add some kind of functionality to the SPSC that would enable dropping all contents of the queue atomically and not causing a problem with a racing consume

[2017-01-11 18:11] safern commented on #15049
Thanks for fixing this :) @stephentoub

[2017-01-11 18:11] stephentoub commented on #14505
I see the issue highlighted by @kouvel.  I don't see a good way of addressing it without adding additional synchronization that would effectively negate the value provided by opting in to SPSC, and for this particular case, I don't think it's worthwhile.  It's always possible that a thread could be stalled in Post just before Enqueue'ing into the SPSC queue, and the only way to avoid that Enqueue

[2017-01-11 18:23] JohnChen0 commented on #14756
@danmosemsft I was unable to repro this particular failure, and I also wasn't able to find any references to `api-ms-win-core-localization-l1-2-1.dll`. However, I did encounter some file loading errors while running System.Data.SqlClient tests on Win7. The error message indicates failure to load sni.dll, and running dumpbin/imports on sni.dll indicates that it imports many functions from API Sets,

[2017-01-11 18:25] danmosemsft commented on #14756
That's a good clue. Question for @saurabh500 I think.

[2017-01-11 18:26] Chrisboh opened #15075 "As a developer, I have useful error messages when I send bad data to Helix"
Currently when the user sends bad data to the api we will accept the request and go silent.  We need to have better error messaging such that users know what went wrong and how to correct it.

[2017-01-11 18:26] #15075 closed

[2017-01-11 18:30] danmosemsft commented on #14986
I agree with @ianhays. I don't believe there's value in us maintaining tests against Desktop versions before the latest version. Any breaking changes between Desktop versions, we're presumably already okay with -- and given the choice, Core should match the latest Desktop version.

[2017-01-11 18:38] terrajobst commented on #14088
We can certainly expose `TypedReference` in .NET Standard, but the new methods mentioned in @jkotas' point (2) will have to wait until we can rev the standard again.

[2017-01-11 18:43] shmao opened #15076 "Add More Tests Covering XmlSerializer Supporting SoapEncoded Message"

[2017-01-11 18:51] karelz commented on #13537
Just curious if this was fixed or won't fixed? (there is no PR link or a comment ;-))

[2017-01-11 18:56] joperezr commented on #15041
yup, that is what I was seeing as well, I tried to do a bit of debugging into the issue using windbg, but didn't get to any big conclusion.

[2017-01-11 18:57] jimcarley commented on #13537
We added it for the one test we were having problems with, in addition to adding the code that turns on SysTx product tracing for the test. As other tests warrant the need, we will add similar changes to other tests.

[2017-01-11 19:05] karelz commented on #13537
Thanks!

[2017-01-11 19:08] saurabh500 commented on #14756
The package is a part of SqlClient but not built from CoreFx repo.
It does depend on `api-ms-win-core-localization-l1-2-1.dll`
My understanding is that the `api-ms-win-core-localization-l1-2-1.dll` is added by dotnet tooling to the runtime folder of the application. @schellap can you confirm this?

Why do we need to stop using the API sets for this package?

[2017-01-11 19:25] #14984 closed

[2017-01-11 19:35] saurabh500 commented on #14978
@jamesgibbs100 Right now we don't know what is going on.
@corivera is looking into this issue.
What Linux flavor are you using?

[2017-01-11 19:54] ianhays commented on #15027
Hey @mregen, we've already got an issue for this (https://github.com/dotnet/corefx/issues/1728) so I'm going to close this one as it is a duplicate. Feel free to re-open [1728](https://github.com/dotnet/corefx/issues/1728) or comment there if you'd like to continue the discussion.

Thanks!

[2017-01-11 19:54] #15027 closed

[2017-01-11 19:57] jimcarley commented on #15046
Please remember that distributed transactions are not yet supported in .NET Core for System.Transactions. You CAN use Transaction.EnlistPromotableSinglePhase and Transaction.EnlistDurable once and you will get a single phase commit. But if you try to use any of the TransactionInterop methods or try a second EnlistDurable call, you will get exceptions. For .NET Core, the initial support in System.T

[2017-01-11 20:09] corivera commented on #14978
I was able to repro the issue locally. Looking into it.

[2017-01-11 20:28] jamesgibbs100 commented on #14978
@saurabh500 @corivera : Thank you gentlemen. I'm online and will be for a few hours, so if you need me to provide more info / test or clarify - please reach out.

[2017-01-11 20:33] jkotas commented on #14088
I do not think we need to rush it to .NET Standard 2.0. It is good enough if we add it to netcoreapp first - together with the other APIs that will make it actually useful.

[2017-01-11 20:35] jamesgibbs100 commented on #14978
FYI : I can produce this in two environment -

Firstly, a Rancher powered container environment running on a base docker image FROM microsoft/dotnet:1.1.0-runtime

Secondly, on a VirtualBox run image as below :

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.5 LTS
Release:        14.04
Codename:       trusty

Linux new-linux-box 3.13.0-96-generic #143-Ubuntu SMP

[2017-01-11 20:38] jamesgibbs100 commented on #14978
FYI : Recently, the connection was encrypted - hence the TrustServerCertificate=True. It is possible its in this area - although this is nothing more than a hunch. I had not noticed any issue prior to that but then again I cannot say for certain if I just wasnt getting the primary IP address all the time - maybe a redherring - just sharing

[2017-01-11 20:49] karelz commented on #2089
Thanks @tquerec for contributing the second round!
Are there any volunteers to help with the remaining 2 namespaces or tests? (@gortok @h3smith @CalebMacdonaldBlack @SOM-fermonte)

[2017-01-11 20:53] saurabh500 commented on #15046
For System.Data.SqlClient, this means that a if ambient transactions are implemented, `TransactionScope` can encapsulate operations on a Single Database connection. If multiple connections are open in a transaction scope, the transaction is promoted to a distributed transaction, which based on @jimcarley 's comment cannot not be supported with the current support for .Net Core.
This functionality

[2017-01-11 20:56] saurabh500 commented on #15046
@weshaggard Why was this issue created in the first place.
Is System.Data.Common having a dependency on System.Transaction problematic? I want to understand that if the API is removed and added in a later version, is there some additional work that needs to be done apart from fixing System.Data.Common dependencies?

[2017-01-11 21:00] corivera commented on #14978
@jamesgibbs100  TrustServerCertificate is only relevant when Encrypt=true. Interestingly, when I increase my timeout from 15 seconds to 60 I start seeing successes, although it takes most of that time to get the query results back. Can you try increasing your timeout to maybe 120 to see if that returns some success? That time is obviously terrible though, so I'll be looking into how to improve MSF

[2017-01-11 21:04] ericstj opened #15083 "System.Runtime.Serialization.Primitives is missing from NETCore.App ref"
It looks like netstandard.dll has a bunch of dangling refs.  @weshaggard when you added the netstandard.dll to the package you disabled the closure validation on it which introduced this issue.

[2017-01-11 21:05] jamesgibbs100 commented on #14978
I will try again - but having read the documentation on how the time out is sliced when MSF is involved I have previously tried 200. I will try again though

[2017-01-11 21:09] weshaggard commented on #15046
I filed the issue because I was looking at the layering and closure of all the corefx assemblies compared to .NET Core 1.1 and noticed this new dependency. System.Transactions in its current state in corefx doesn't pull in many more dependencies so it would be OK with me for this dependency to remain. I primarily wanted to pose the question to better understand the dependency and also to figure ou

[2017-01-11 21:19] joperezr commented on #14350
This was done via #14534

[2017-01-11 21:19] #14350 closed

[2017-01-11 21:20] joperezr commented on #14512
This is done.

[2017-01-11 21:20] #14512 closed

[2017-01-11 21:20] jamesgibbs100 commented on #14978
No joy I'm afraid

Primary returned first from DNS and the world is good :

Resolve (132ms) XXXXXX.com to 10.XXX.**49**.53,10.XXX.48.53
0 1969 Success
1 5 Success
2 0 Success

Secondary returned first from DNS

Resolve (8ms) XXXXXX.com to 10.XXX.**48**.53,10.XXX.49.53
0 200049 Failure [XXXXXX.com] (A network-related or instance-specific error occurred while establishing a connection to SQL Server.

[2017-01-11 21:21] #14990 closed

[2017-01-11 21:21] #14505 closed

[2017-01-11 21:22] jamesgibbs100 commented on #14978
FYI : The DNS resolution is nothing more than

Task<IPAddress[]> ipAddressesTask = Dns.GetHostAddressesAsync(host);

I assume the order stays consistent when the call enters the internals of SqlConnection.Open()

[2017-01-11 21:40] #13245 closed

[2017-01-11 21:40] #13248 closed

[2017-01-11 21:40] #14894 closed

[2017-01-11 21:40] #14983 closed

[2017-01-11 21:40] #13246 closed

[2017-01-11 21:56] danmosemsft commented on #14736
@Priya91 what do you want to do to resolve this?

[2017-01-11 21:56] danmosemsft commented on #14017
Removing label since test is disabled

[2017-01-11 21:59] divega commented on #15046
I believe this was discussed in an internal thread which involved @YoungGah when @stephentoub started the port of `System.Transactions` to .NET Core. I don't remember all that was discussed but I remember there was some consensus that ambient transactions was compelling even without the distributed transaction part.

I think this is an area in which it is ok for different database providers to hav

[2017-01-11 21:59] jamesqo commented on #6485
Don't tests need to be added for this too?

[2017-01-11 22:01] roji commented on #15046
Not much to add except that yeah, IMHO System.Transactions is worth it even without distributed transactions - the fact the transaction is ambient and doesn't need to be handed down the stack is a good example.

[2017-01-11 22:02] fujiy commented on #6485
We also need to send a PR to expose those methods at System.Runtime

[2017-01-11 22:10] ianhays commented on #12107
@steveharter I'm going to close this issue. When a NegotiateStream tests fails because of KDC it fails like this:
[code]

Of the failures from the past month caused by NegiotateStream, the only ones that fail in that manner do so on the release_1.1.0 branch which does not have the fix by @stephentoub so their failure is expected. All other failures are for different reasons e.g.

[code]

or
[code]

[2017-01-11 22:10] #12107 closed

[2017-01-11 22:19] TerisseNicolas commented on #15002
All right, sorry, I fully understand now.
Thank for your help!

[2017-01-11 22:22] boorad commented on #4198
@geleems is this your work so far on this?  https://github.com/geleems/corefx/commits/integauth

Anything I might be able to test on Mac for you?

[2017-01-11 22:29] joperezr commented on #14513
I can go ahead and do this cleanup at least on corefx side. Does it make sense still to keep a sync.cmd/sh anymore? I'm looking at the supported aliases and Values and it doesn't seem that they will be used at all, but perhaps you intend to repurpose the script?

[2017-01-11 22:30] saurabh500 opened #15089 "SqlClient Managed SNI tries to establish a UDP connection for Sql Server connections"
SqlClient Managed SNI profiling shows that there is a significant amount of time being spent to open a connection while resolving the default instance port `SNIProxy.TryTOGetDefaultInstancePort(...)`

https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs#L267

This may be unnecessary for most use cases.
I

[2017-01-11 22:42] weshaggard commented on #14513
I've been debating whether or not to keep sync but I think I would like to keep it for now and just have it build the external path and so folks can pull all the external dependencies as a pre-step as necessary.

[2017-01-11 23:10] #10886 closed

[2017-01-11 23:12] corivera commented on #14978
Do you notice any difference when including the port number in the data source? e.g. try using Data Source=tcp:SERVER,PORT

[2017-01-11 23:16] weshaggard opened #15092 "Move stuff from Tools-Override into BuildTools"
As part of the dev/eng work we changed a lot of targets in BuildTools and put them under Tools-Override as well as created a custom CoreFxTools task. All of these need to be moved to BuildTools.

[2017-01-11 23:24] JohnChen0 commented on #14756
@saurabh500 We're stopping using API sets in all .NET Core binaries, except for new Windows APIs that are only available in API sets. This allows .NET Core to run on Windows 7 without needing additional DLLs to forward API set calls.

[2017-01-11 23:25] jamesgibbs100 commented on #14978
@corivera : I've not tried.

I will try 1433 just now - bear with me

[2017-01-11 23:30] tarekgh commented on #14555
@jiangzeng I cannot repro getting PlatformNotSupportedException at all. I am closing this issue but if have any more information how to repro it or you'll get the issue gain please reopen it and attach the detailed logs. thanks.

[2017-01-11 23:30] #14555 closed

[2017-01-11 23:35] jamesgibbs100 commented on #14978
Yes.

When primary reported first from DNS

Resolve (7ms) XXXXXX.com,1433 to 10.XXX.**49**.53,10.XXX.48.53
0 17049 Success
1 11 Success
2 0 Success

[Longer time on initial success]

When secondary frist reported from DNS

Resolve (7ms) XXXXXX.com,1433 to 10.XXX.**48**.53,10.XXX.49.53
0 977 Success
1 11 Success
2 0 Success

===========================================================
This is the fi

[2017-01-11 23:39] joperezr commented on #14513
sounds good, I'll take care of it

[2017-01-11 23:40] #14543 closed

[2017-01-11 23:50] jamesgibbs100 commented on #14978
Running multiple times with SERVER,PORT results in expected/hoped for performance - smiling

Oddly, now DNS always returns the same ipAddress order, where as before it would alternate ??!??

[2017-01-11 23:52] corivera commented on #14978
We have a bug where connections eat up a lot of time when no port is specified, since we try to do some queries to get the port in case the server is using dynamic ports. That might be what's causing this issue.

[2017-01-11 23:56] saurabh500 commented on #14978
The issue is being tracked by #15089

[2017-01-11 23:57] jamesgibbs100 commented on #14978
hey - bug happen :-)

You are obviously onto it

Is my expectation right for the below :

a) Include the port (however I do this) and the problem goes away
b) "It" will be resolved quickly - (I cannot imagine the Sql team wanting this hanging around ?)

Basically, I didnt want to put the work around in place that I had been planning - I am comfortable if including the port number sidesteps the pro

[2017-01-11 23:59] jamesgibbs100 commented on #14978
I also want to thank you both for a great turn around on this.

[2017-01-12 00:03] #10817 closed

[2017-01-12 00:03] #10814 closed

[2017-01-12 00:03] #10815 closed

[2017-01-12 00:03] #10816 closed

[2017-01-12 00:07] saurabh500 commented on #14978
Thanks for the information and quickly confirming our suggestions @jamesgibbs100  :)

[2017-01-12 00:10] saurabh500 commented on #15089
A work around is to specify the port of the SqlServer so that the UDP connection is not made to find the port number.