[2016-11-02 19:18] guillaumeraymond commented on #11100
It is also used by the ActiveDirectory Nugget

On Wed, Nov 2, 2016 at 2:14 PM, dluxfordhpf <notifications@github.com>
wrote:

[2016-11-02 19:21] tarekgh commented on #9997
@sepidehMS SortKey is already available on Linux.

[2016-11-02 19:23] #11637 closed

[2016-11-02 19:38] JiriZidek commented on #6086
I believe simple implementation with start/stop suites 99% of custom development use of NT Services. No extra bells and whistles needed imho (meaning designer support, configurable installer)

[2016-11-02 20:14] stephentoub commented on #12939
Another failure here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/92/consoleText
This time in the ClientAsyncAuthenticate_IndividualServerVsAllClientSupportedProtocols_Success test.

[2016-11-02 20:37] jberezanski commented on #6086
I second that. We do not use the designer at all and we have our own custom install logic, so we do not use installutil either.

[2016-11-02 20:43] danroth27 opened #13280 "Either ErrorMessageString or ErrorMessageResourceName must be set, but not both - provide hint which property"
_From @stefanhendriks on November 1, 2016 9:28_

This is happening on an API call (JSON serialization). From my perspective this problem 'suddendly' appears and I have no way of backtracking which property is causing this error message.

Some background info:
- we have a filter that validates models before they enter the controller action
- when a validation error is found, we throw an exception a

[2016-11-02 20:43] danroth27 commented on #13280
_From @stefanhendriks on November 1, 2016 9:59_

I have found the property that was the culprit. Here is how I did it:
- I had a test that could reproduce this problem (hence it was the start of this journey ;-) )
- I turned off all validators (commented out)
- I re-ran the test to see it did not fail due the above error (it did fail for other reasons, because it checked if any validation was goin

[2016-11-02 20:44] danroth27 commented on #13280
It would be great if the validation attribute exception messages could give more context on the source of the validation error.

[2016-11-02 20:45] joperezr commented on #9483
Looks like this was already done by #12896 so closing this one now.

[2016-11-02 20:45] #9483 closed

[2016-11-02 21:01] stephentoub opened #13281 "HttpClientHandler_SslProtocols_Test.GetAsync_AllowedSSLVersion_Succeeds test failed"
HttpClientHandler_SslProtocols_Test.GetAsync_AllowedSSLVersion_Succeeds test failed

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/93/consoleText
[code]

[2016-11-02 21:02] ctonger commented on #13267
@gkhanna79 @saurabh500 I will prepare something for you guys. For the moment I'll attach the project.json and project.lock.json of the main project (project.zip). I also attach those files from the library which contains context, pocos, repos etc. (project.lib.zip). Later I strip down my projects so that it focusses on the issue and share it with you,. Thanks for your support.

[project.zip](https

[2016-11-02 21:05] #12398 closed

[2016-11-02 21:05] #12812 closed

[2016-11-02 21:08] ctonger commented on #13267
What puzzles me is that the dll it complains about seems to be in the wwwroot directory on azure....
![image](https://cloud.githubusercontent.com/assets/6075826/19947516/c6728f38-a148-11e6-84ee-9ee28c7df80f.png)

[2016-11-02 21:18] ctonger commented on #13267
In case it is useful for something, the publish settings (excl. mi config data like pwds...) I basically use webdeploy, override the production connection string (as it doesn't publish my appsettings.production.json either) and all of this from within VS2015
[tricon360 - Web Deploy-publish.zip](https://github.com/dotnet/corefx/files/567709/tricon360.-.Web.Deploy-publish.zip)

[2016-11-02 21:28] shmao opened #13283 "Add [Serializable] on System.Collections.ObjectModel.ReadOnlyDictionary"
`System.Collections.ObjectModel.ReadOnlyDictionary` is marked with SerializableAttribute on full framework. It should be marked with the attribute now as the attribute is available in CoreFx.

[2016-11-02 21:33] stephentoub opened #13284 "System.Xml.Linq tests failing in outer loop"
e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/94/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/54/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/53/consoleText

Lots of errors in each like:
[code]

[2016-11-02 21:56] joshlang opened #13286 "Consider no compression for tiny responses"
Minor performance tweak...

A 1-byte response of type "text/plain" will get intercepted and gzip'ed.  The overhead of compressing a tiny response takes up CPU and likely extra bandwidth.

Sample middleware:

[code]

This gets transmitted as 'chunked' transfer encoding (even if I set c.Response.Headers["Content-Length"] = "1";) and it gets compressed using gzip

It doesn't happen if the content-typ

[2016-11-02 22:07] karelz commented on #13283
@weshaggard @danmosemsft should it be part of .NET Standard 2.0?

[2016-11-02 22:10] karelz commented on #13286
Which type do you have in mind? Isn't it by a chance from ASP.NET?

[2016-11-02 22:13] joshlang commented on #13286
I don't understand what you mean by "which type".

To clarify, I think that the HTTP response for a single byte response should NOT be content-encoded using gzip.  I think it should have no compression at all.

[2016-11-02 22:17] karelz commented on #13286
Which class do you use? I wonder if it is part of corefx repo ...
Just to clarify: Do you use .NET Core?

[2016-11-02 22:17] joshlang commented on #13286
.NET Core 1.0.1

[2016-11-02 22:22] benaadams commented on #13286
You might want to submit the issue to aspnet rather than dotnet https://github.com/aspnet/Home/issues

What is doing your compression? Is it IIS or have you added the ResponseCompression middleware for it? If you you might want to submit the issue to the https://github.com/aspnet/BasicMiddleware repository specifically.

[2016-11-02 22:24] joshlang commented on #13286
Ahhhhhhhhhh, my bad, sorry for the interruption.  I'll close this issue now and take it to the proper aspnet home (thought I was there - I'm new :D)

[2016-11-02 22:24] #13286 closed

[2016-11-02 22:26] danmosemsft commented on #13283
This is part of NS2.0 and @shmao's correct that it's missing [Serializable]. @AlexGhiondea did this show up in your/Stephen's tool?

[2016-11-02 22:30] ctonger commented on #13267
@gkhanna79 @saurabh500 find attached project for your testing purposes. It contains all to make it fail once you publish it to AZURE, while it will work locally. You need a DB on Azure. Note that the Migration Option on the VS Publish option will also fail (i created my azure db manually). Use the AddMigration or ApplyMigration cmd files (adjust directories) for creating the localdb, There is a se

[2016-11-02 22:35] jimcarley commented on #13137
Decided to not add the serialization constructors and just suppress the FXCop warnings.

[2016-11-02 22:35] #13137 closed

[2016-11-02 22:38] jimcarley commented on #13098
Warnings suppressed with https://github.com/dotnet/corefx/pull/13276 and https://github.com/dotnet/corefx/commit/5169c2f5b18c149825cd1198cf86715bc1dbc7f3

[2016-11-02 22:38] #13098 closed

[2016-11-02 22:38] gkhanna79 commented on #13267
This does not sound right. Is Azure publish to SQL supposed to do something different?

@ctonger Can you please share the deps.json file for your application for both when it is published locally vs Azure?

CC @schellap

[2016-11-02 22:39] danmosemsft commented on #13281
@davidsh @CIPop do you want to investigate or disable this one?

[2016-11-02 22:40] danmosemsft commented on #4882
This is being worked on in https://github.com/dotnet/coreclr/issues/2266

[2016-11-02 22:42] shmao commented on #13283
@danmosemsft hmm... I just checked NS2.0. In NS2.0, the type does not have [Serializable], see https://github.com/dotnet/standard/blob/master/netstandard/ref/mscorlib.cs#L4844. I'm not sure if we want to add it in NetCore then.

[2016-11-02 22:45] danmosemsft commented on #13283
The way the tool (genapi I believe) works is it only includes certain attributes when it generates the contract code (what's in the ref folder). It includes [Obsolete] because the compiler cares about it but not [Serializable] as the compiler doesn't care about it. [Serializable] is more an behavior/implementation issue -- and we want the behavior to match desktop.

[2016-11-02 23:09] ctonger commented on #13267
@gkhanna79 here you go:
The local version:
[Becom360.NetCore.Web.deps_local.zip](https://github.com/dotnet/corefx/files/567922/Becom360.NetCore.Web.deps_local.zip)

The AZURE version:

[Becom360.NetCore.Web.deps_AZURE.zip](https://github.com/dotnet/corefx/files/567930/Becom360.NetCore.Web.deps_AZURE.zip)

[2016-11-02 23:14] joperezr commented on #12730
Done.

[2016-11-02 23:14] #12730 closed

[2016-11-02 23:19] saurabh500 commented on #13267
@ctonger What is the OS that you are deploying on ?

[2016-11-02 23:22] ctonger commented on #13267
@saurabh500 I develop on Windows 10 X64 and publish to AZURE using target win10-x64

[2016-11-02 23:32] weshaggard commented on #13283
Yes we should include it in the implementation but it doesn't need to exist in the reference assembly.

[2016-11-02 23:33] joperezr commented on #6220
@mellinoe any updates on this or  has it just gone stale? if so, perhaps we should just close it and reopen later if we see this again

[2016-11-02 23:34] joperezr commented on #9410
Looks like this has been fixed for some time. I'll close it now, but feel free to reopen if needed.

[2016-11-02 23:34] #9410 closed

[2016-11-02 23:46] weshaggard opened #13289 "Move types from S.Security.Permissions that are part of netstandard 2.0"
System.Security.Permissions is a supposed to be a compat library that is on top of netstandard 2.0 so it cannot contain any types that are part of netstandard 2.0 so we need to move those to other contracts.

The following types need to be moved:
[code]

We need to have a look at the best place to put them. I would put them in System.Runtime or System.Runtime.Extensions but that would require that

[2016-11-02 23:48] davidsh commented on #13281
We will probably just need to disable it. But in reality, the cause is the same:

[code]

That basically means that there was a connection error of some sort (timeout causing cancellation) connecting to the Azure test endpoint.  This is why we are trying to mitigate some of this by moving more tests to LoopBack server.  But doing SSL testing with loopback can be difficult.

[2016-11-02 23:51] mellinoe commented on #6220
I dunno, I haven't paid enough attention lately to see if it still happens. It's possible that the problem has just gone away in the meantime.

[2016-11-02 23:53] stephentoub commented on #13281
This test is  actually already using a loopback server. So if it's timing out after a minute, to me that suggests an actual bug somewhere, either src or test.

[2016-11-03 00:00] weshaggard opened #13291 "SafeAccessTokenHandle needs to move to System.Runtime"
SafeAccessTokenHandle which is included in netstandard2.0 is currently defined in System.Security.Principal.Windows which isn't part of netstandard2.0. We need to move it down into an assembly that is part of netstandard. Majority of the other handle types are in System.Runtime so I suggest we just include this one there as well.

[2016-11-03 00:01] davidsh commented on #13281
It might not be a bug in the test.  It is possible that if multiple PR's are validating on the same machine (physical or VM), then ephemeral ports might run out.  Or, the CPU itself is pegged to 100% doing stuff (compiling, run tests etc.) and thus the test code could timeout as well.

[2016-11-03 00:08] danmosemsft opened #13293 "Optimize int parsing"
Int64.Parse was too slow for Kestrel. They wrote their own:

https://github.com/aspnet/KestrelHttpServer/commit/fff0adeaaf55b23f2173be25c59202a322f8eda6

Their code only handles the simple case nevertheless we should examine whether we can optimize the general case, or consider a new API like Int64.ParseFast that they can call instead.

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/sr

[2016-11-03 00:11] BrainSlugs83 opened #13294 "Support for Long File Paths (260+ characters) with System.IO APIs"
This is also a bug with the current (non-core) version of the .NET Framework -- and it would be nice if it could be passed on to both teams, but it affects everything that uses System.IO (and it has some really gnarly consequences with tools like the Azure emulator, Xamarin, etc.)

Right now anything done with the System.IO file system APIs on a Windows machine will fail if the path to the files a

[2016-11-03 00:20] tarekgh commented on #11742
This is expected because the specified culture "prs" has the thousand separator and the currency separator as "."

when doing (1000.55).ToString("n2", c) it will give the string "1.000,55" when trying to parse this while passing NumberStyles.Any, The parser will recognize "." as a currency separator and then will proceeded and fail later because this is not well formatted currency.

Note that the

[2016-11-03 00:20] #11742 closed

[2016-11-03 00:37] tarekgh commented on #9920
@krwq I suggest you close this one as I don't think it is really useful. and if we want to do teh detection to all encoding this is not easy to do and never proven to work correctly.

[2016-11-03 00:49] tmat commented on #11002
I don't think there is anything more we can do here. Seems like a bug in Windows that we need to work around.

[2016-11-03 00:49] #11002 closed

[2016-11-03 00:51] tmat opened #13295 "Consider adding GetAssemblyName() : AssemblyName to AssemblyDefinition and AssemblyReference"
Constructing System.Reflection.AssemblyName from metadata is a bit tricky. Providing an easy to use helper would avoid common pitfalls and reduce code duplication. See e.g. http://source.roslyn.io/#Microsoft.CodeAnalysis/InternalUtilities/AssemblyIdentityUtils.cs

[2016-11-03 00:55] tmat commented on #10549
Replaced by issue https://github.com/dotnet/corefx/issues/13295

[2016-11-03 00:55] #10549 closed

[2016-11-03 00:59] tmat commented on #9979
Likely fixed by https://github.com/dotnet/corefx/pull/12432

[2016-11-03 00:59] #9979 closed

[2016-11-03 01:05] stephentoub commented on #11002
Have we filed a bug with Windows?  Confirmed it's an issue?  Etc.

[2016-11-03 01:07] tmat commented on #5377
Easy to workaround: see https://source.dot.net/#System.Reflection.Metadata/System/Reflection/System.Reflection.cs,227.
We can consider adding TypeDefinition.IsNested { get; }.

[2016-11-03 01:12] tmat commented on #1633
We exposed more APIs, perhaps not sufficient yet, but I think close. See TestChecksumAndAuthenticodeSignature test in https://source.dot.net/#System.Reflection.Metadata.Tests/PortableExecutable/PEBuilderTests.cs,663

[2016-11-03 01:14] tmat commented on #1050
Seems like the bug was actually in System.Diagnostics.StackTrace and been fixed.
@mikem8361 could you confirm this issue can be closed?

[2016-11-03 01:14] jamesqo opened #13296 "StreamHelpers.ArrayPoolCopy should try to minimize buffer size for seekable streams"
We should mimic the logic in `Stream.CopyToAsync` and [minimize the buffer size](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/Stream.cs#L121) if the stream supports seeking. This should lessen the likelihood that a new buffer is allocated by the pool, to my understanding.

[2016-11-03 01:16] tmat commented on #262
@nguerrera I think we implemented all changes we wanted. Can we close now?

[2016-11-03 01:24] jamesqo opened #13297 "Possible bug in BufferedStream.FlushAsync for read-only Streams"
There is [this code](https://github.com/dotnet/corefx/blob/master/src/System.IO/src/System/IO/BufferedStream.cs#L272-L290) in the synchronous `BufferedStream.Flush`:

[code]

Here is the [corresponding code](https://github.com/dotnet/corefx/blob/master/src/System.IO/src/System/IO/BufferedStream.cs#L324-L342) in the async version:

[code]

Note how in the first version, we check if the stream is wr

[2016-11-03 01:31] dotnet-mc-bot opened #13298 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test/NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds"
Opened on behalf of @jiangzeng

The test `System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test/NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The handle is in the wrong state for the requested operation

        Stack Tra

[2016-11-03 01:38] dotnet-mc-bot opened #13299 "Test failure: System.Net.Sockets.Tests.DualModeBeginConnectToIPAddress/BeginConnectV4IPAddressToV6Host_Fails"
Opened on behalf of @jiangzeng

The test `System.Net.Sockets.Tests.DualModeBeginConnectToIPAddress/BeginConnectV4IPAddressToV6Host_Fails` has failed.

Assert.Throws() Failure
    Expected: typeof(System.Net.Sockets.SocketException)
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Net.Sockets.Tests.DualModeBeginConnectToIPAddress.BeginConnectV4IPAddressToV6Host_Fa

[2016-11-03 01:41] shaunluttin commented on #1624
@sharwell With your demo code we are receiving the following error when we call this:

[code]

[2016-11-03 01:42] tmat commented on #11002
@stephentoub I have not. I do not have time to investigate in such a depth. If you think it's interesting to follow up we can reopen this issue or file another issue somewhere more appropriate.

[2016-11-03 01:43] dotnet-mc-bot opened #13300 "Test failure: System.Net.Tests.TaskWebClientTest/OpenWrite_Success(echoServer: https://corefx-net.cloudapp.net/Echo.ashx)"
Opened on behalf of @jiangzeng

The test `System.Net.Tests.TaskWebClientTest/OpenWrite_Success(echoServer: https://corefx-net.cloudapp.net/Echo.ashx)` has failed.

System.Net.WebException : An error occurred while sending the request. SSL connect error
    ---- System.Net.Http.HttpRequestException : An error occurred while sending the request.
    -------- System.Net.Http.CurlException : SSL conne

[2016-11-03 01:45] jiangzeng commented on #13300
@danmosemsft @davidsh Same issue with [12637](https://github.com/dotnet/corefx/issues/12637)

[2016-11-03 01:49] dotnet-mc-bot opened #13301 "Test failure: System.Net.Tests.WebProxyTest/BypassOnLocal_MatchesExpected"
Opened on behalf of @jiangzeng

The test `System.Net.Tests.WebProxyTest/BypassOnLocal_MatchesExpected` has failed.

System.Net.Internals.SocketExceptionFactory+ExtendedSocketException : No such device or address

        Stack Trace:

           at System.Net.Dns.HostResolutionEndHelper(IAsyncResult asyncResult)
       at System.Net.Dns.EndGetHostEntry(IAsyncResult asyncResult)
       at System.Ne

[2016-11-03 01:51] stephentoub commented on #13283
I expect my code isn't handling generics correctly.  I'll take a look.

[2016-11-03 01:52] dotnet-mc-bot opened #13302 "Test failure: System.Net.WebSockets.Client.Tests.CancelTest / ReceiveAsync_Cancel_Success (server: ws://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)"
Opened on behalf of @jiangzeng

The test `System.Net.WebSockets.Client.Tests.CancelTest/ReceiveAsync_Cancel_Success(server: ws://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)` has failed.

Assert.Equal() Failure
                  ? (pos 4)
    Expected: The 'System.Net.WebSockets.InternalClientWebS···
    Actual:   The remote party closed the WebSocket connect···
                  ? (pos 4

[2016-11-03 01:56] dotnet-mc-bot opened #13303 "Test failure: CoreXml.Test.XLinq.FunctionalTests/RunTests"
Opened on behalf of @jiangzeng

The test `CoreXml.Test.XLinq.FunctionalTests/RunTests` has failed.

Assert.Equal() Failure\r
    Expected: 0\r
    Actual:   49

        Stack Trace:

           at CoreXml.Test.XLinq.FunctionalTests.RunTests()
Build : Master - 20161102.03 (Core Tests)
Failing configurations:
- Windows.7.Amd64
  - AnyCPU-Debug
  - AnyCPU-Release
- Windows.81.Amd64
  - AnyCPU-Debug

[2016-11-03 02:02] stephentoub commented on #12939
Another failure here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/96/consoleText
This time in ServerAllowNoEncryption_ClientNoEncryption_ConnectWithNoEncryption.

[2016-11-03 02:06] #13284 closed

[2016-11-03 02:11] dotnet-mc-bot opened #13304 "Test failure: System.IO.Tests.WaitForChangedTests/CreatedDeleted_Success(changeType: Created)"
Opened on behalf of @jiangzeng

The test `System.IO.Tests.WaitForChangedTests/CreatedDeleted_Success(changeType: Created)` has failed.

Assert.Equal() Failure\r
    Expected: Created\r
    Actual:   0

        Stack Trace:

           at System.IO.Tests.WaitForChangedTests.CreatedDeleted_Success(WatcherChangeTypes changeType) in D:\A\_work\26\s\corefx\src\System.IO.FileSystem.Watcher\tests\FileSys

[2016-11-03 02:19] jamesqo commented on #13296
Hm, I just realized that that logic is done in the `CopyToAsync` overload which doesn't accept a `bufferSize`. Closing this for now.

[2016-11-03 02:19] #13296 closed

[2016-11-03 02:24] stephentoub commented on #13303
This was just fixed in https://github.com/dotnet/corefx/pull/13285

[2016-11-03 02:24] #13303 closed

[2016-11-03 02:40] jiangzeng commented on #13303
Add Desktop fail log link: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20161102.03/workItem/System.Xml.Linq.xNodeBuilder.Tests

[2016-11-03 02:45] dotnet-mc-bot opened #13305 "Test failure: System.Xml.Tests.XmlWriterTests_InvalidSurrogate/XmlWriterChecksUpperBoundOfLowerSurrogate_newBehavior"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.XmlWriterTests_InvalidSurrogate/XmlWriterChecksUpperBoundOfLowerSurrogate_newBehavior` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Xml.Tests.XmlWriterTests_InvalidSurrogate.XmlWriterChecksUpperBoundOfLowerSurrogat

[2016-11-03 03:19] krwq commented on #1633
Nice! Thanks @tmat!

[2016-11-03 05:57] Mike-EEE commented on #5766
154 upvotes... and counting. 😎  Next [highest issue is at 25](https://github.com/dotnet/corefx/issues/2089), for reference. #squeakywheel

[2016-11-03 06:27] jiangzeng commented on #10878
Closed as this is a UWP issue

[2016-11-03 06:27] #10878 closed

[2016-11-03 06:31] jiangzeng commented on #7732
@sepidehMS This is still happening in build 20161103.01.

Unhandled Exception of Type Xunit.Sdk.TrueException
Message :
Assert.True() Failure\r\nExpected: True\r\nActual:   False

Stack Trace :
   at System.Xml.Tests.XmlSystemPathResolverTests.AssertInvalidPath(String path) in D:\A\_work\40\s\corefx\src\System.Private.Xml\tests\XmlReader\XmlResolver\XmlSystemPathResolverTests.cs:line 76

Details:

[2016-11-03 06:33] Petermarcu commented on #12672
Why do we need to wait for the Span<T> design to complete. In this case as well as in the cases where we use StringBuilders under the hood, enabling an overload that lets people pass in the array or StringBuilder to use instead seems like a good improvement to the API. Would we wait for Span to see if thats what we want to enable passing to the overload?

[2016-11-03 06:37] Petermarcu commented on #12590
@danmosemsft , should we start labelling things like this with a performance label so we can search for these types of things? Its a common theme of many of the up for grabs issues.

[2016-11-03 07:20] sandersaares commented on #11100
I have reverted some libraries from targeting .NET Standard due to this and related issues where broken NuGet packages just mess up apps that target .NET Standard. This is a sorry state of things.

[2016-11-03 08:07] stefanhendriks commented on #13280
Thx for moving to the correct place @danroth27 . Mind it is not a validation error, but an exception thrown by the validator because of `Either ErrorMessageString or ErrorMessageResourceName must be set` - but it is impossible to derive from the stack trace which property/validator was the culprit. In that sense it is not a validation error (as in , property is invalid). Just wanted to make that a

[2016-11-03 08:15] hughbe commented on #13293
I created a PR for this reason - I.e. The invariant/NumberStyles.Integer case.
It never picked up a review from msft but Unfortunately I found adding an extra branch to
The product code affected other use cases of int64.Parse negatively

[2016-11-03 12:20] #12753 closed

[2016-11-03 12:20] #13215 closed

[2016-11-03 12:25] epa opened #13308 "ConcurrentDictionary.GetOrAdd documentation not quite correct"
In `ConcurrentDictionary`, the overload of `GetOrAdd` taking a function as argument says that it returns 'either the existing value for the key if the key is already in the dictionary, or the new value for the key'.  But this is not the whole story.  There are in fact three cases:

1. The key is already in the dictionary.  Then the existing value is returned.
2. The key is not in the dictionary; t

[2016-11-03 12:52] stephentoub commented on #11002
@tmat, do you have a self-contained repro that demonstrates the failure?  I tried creating one but have been unable to get it to repro locally.
[code]

[2016-11-03 12:56] stephentoub commented on #13308
The remarks section states:
[code]

[2016-11-03 12:59] epa commented on #13308
Ah thanks, I didn't spot that - but I still feel that where concurrency issues are concerned, better to spell out all the possibilities as explicitly as possible.  The remark does not make it clear that the value returned from `GetOrAdd` might not be the one returned by `valueFactory`, even if `valueFactory` was called.

[2016-11-03 13:48] stephentoub opened #13309 ""Device not configured" from Dns.GetHostEntryAsync on macOS"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/2571/consoleText
[code]

[2016-11-03 14:41] m4x1202 opened #13310 "Parts of the System.Security.Cryptography.* namespace missing in package: dotnet-dev-1.0.0-preview2.1-003155"
I installed the dotnet-dev-1.0.0-preview2.1-003155 package on ubuntu:16.04 but it seems that parts of the System.Security.Cryptography.* namespace are missing. Thus i get a
`System.DllNotFoundException: Unable to load DLL 'System.Security.Cryptography.Native': The specified module could not be found.` exception.
The docker container microsoft/dotnet:1.0.0-preview2.1-sdk however contains the missin

[2016-11-03 14:48] gkhanna79 opened #13311 "LibUV should use win8-arm as the RID"
It currently places WinArm32 assets under win7-arm that is not a valid RID/platform configuration.

@davidfowl Please reroute as appropriate.

[2016-11-03 15:51] karelz commented on #13294
#645 added long file path support to .NET Core. I think it is also part of .full NET Framework (don't know which version exactly). I know there have been several pushes towards that goal in last couple of years.
cc: @JeremyKuhne

[2016-11-03 15:52] karelz commented on #12066
@ianhays can you please comment if that is sufficient?

[2016-11-03 15:57] karelz commented on #13311
Doesn't it belong into ASP.NET repo?

[2016-11-03 16:00] davidfowl commented on #13311
Moved

[2016-11-03 16:00] #13311 closed

[2016-11-03 16:02] weshaggard commented on #11712
Done with https://github.com/dotnet/corefx/pull/12036

[2016-11-03 16:02] #11712 closed

[2016-11-03 16:08] ianhays commented on #12452
@zadjii-msft @stephentoub any update on whether the previously mentioned fix was adequate? What is remaining to do for this issue?

[2016-11-03 16:08] karelz commented on #12672
Yes, that's the idea.

[2016-11-03 16:11] stephentoub commented on #12452
@zadjii-msft previously offline that the fix addressed the cursor position issue.

There's still a reported issue regarding other places where we match input against terminfo data, e.g. arrow keys, such that if we only read in a partial sequence, it fails to match against what we expect, and we end up treating it like input rather than as a special sequence.  Addressing that will require more thou

[2016-11-03 16:12] shaunluttin commented on #1624
@dasjestyr We can do dependency injection without interfaces. Interfaces enable multiple inheritance; they are not a requirement for dependency injection.

[2016-11-03 16:18] ianhays commented on #12452
Gotcha, thanks for the update.

[2016-11-03 16:18] nguerrera commented on #262
Yes, all of the changes were implemented.

[2016-11-03 16:18] #262 closed

[2016-11-03 16:21] ianhays commented on #9145
Do you mean that their behavior is different in the current implementation, or the behavior of the change would be different across platforms?

To be clear, what changes are you suggesting we make in CoreFX?

[2016-11-03 16:31] ianhays commented on #12066
@lburkovsky take a look at [this issue](https://github.com/dotnet/corefx/issues/271) for a good example of the kind of API proposal that we're looking for. In general, the more implementation details, the better. You can also look at our [API Review process doc](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) for more info on the process.

For Zip pas

[2016-11-03 16:32] jhudsoncedaron commented on #9145
I mean that the API set for solving the problem is utterly different across platforms. It's not a matter of call this function or call that function. It's a matter of a completely different structure of the implementation between platforms.

I'd recommend that ReadAsync be fixed so that Task.WaitAny() and CancellationToken.Cancel() work on pipes but I don't know if that's possible within the const

[2016-11-03 16:36] #13283 closed

[2016-11-03 16:46] tmat commented on #11002
I also haven't seen local repro. All I saw was a few failures on Jenkins.

[2016-11-03 16:51] joperezr commented on #10610
@wolfspider @mellinoe sounds like this isn't happening anymore, is it ok to close this?

[2016-11-03 16:56] mellinoe commented on #10610
@joperezr We still don't support FreeBSD, or even support building on FreeBSD.

[2016-11-03 17:36] karelz commented on #11142
I am not sure what this one means.

How common is it that the user code never gets null, yet can get empty string? Therefore making the "rejecting nulls" theoretical only.

Regarding your compat questions:

The more differences in behavior, the harder time for portable libraries targeting .NET Standard. Also the harder time for folks migrating code from full .NET to .NET Core (eventually leading t

[2016-11-03 17:57] saurabh500 commented on #9795
@scott-martin Any updates on this?

[2016-11-03 17:58] saurabh500 commented on #7810
@roji do you want to grab this task?

[2016-11-03 18:01] JonHanna opened #13322 "Double buffers to overlap reads and writes on CopyToAsync"
Considering the current implementation of `CopyToAsync`:

[code]

The approach is obvious enough, read some octets, then write them, then repeat.

Potentially though the source stream could be read from while the destination stream was written to:

[code]

Maybe I'm missing something, or maybe the extra heap space isn't worth it, but would this be a viable improvement?

[2016-11-03 18:03] roji commented on #7810
@saurabh500 I have a lot on my plate, but I can try to spend some time on this (not right away though). Also, I'm pretty PostgreSQL-centric and will definitely need help with making sure things are portable.

[2016-11-03 18:05] saurabh500 commented on #7810
Sounds good.

[2016-11-03 18:05] saurabh500 commented on #13267
@gkhanna79 Can we have ASP.Net or Visual Studio tooling folks take a look into this as well?
I could repro this issue last night wit Azure Web Apps and while trying to run the application, I could see the exception for sni.dll not being found.

As @ctonger mentioned, the sni.dll is present in the wwwroot.
I am not too familiar with the resolution of the DLL path resolution here.

[2016-11-03 18:07] gkhanna79 commented on #13267
@muratg for ASP.NET and @barrytang for VS Tooling.

[2016-11-03 18:21] weshaggard commented on #9556
This work has been done.

[2016-11-03 18:21] #9556 closed

[2016-11-03 18:22] stephentoub commented on #13322
Thanks, @JonHanna.  We've considered this in the past, as it does have obvious benefits.  However, it introduces concurrency where there wasn't any before, which also leads to interesting failure conditions where operations may be in flight when another fails, or both may fail, etc., which can lead to both reliability problems as well as programming model issues (e.g. propagating both failures in

[2016-11-03 18:25] benaadams commented on #13322
@stephentoub https://github.com/dotnet/corefx/pull/5954#r52127427 😄

[2016-11-03 18:27] mellinoe opened #13323 "Update firewall settings on Fedora and Redhat images to allow network testing."
Since October 25th, the outerloop runs for Fedora 23 have been timing out. The same is occurring in Fedora 24, although those have just been enabled. In both cases, the inner loop runs are completing successfully.

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora24_debug/

Nothing is jumping out at me

[2016-11-03 18:31] JeremyKuhne commented on #13294
@BrainSlugs83 We do support long paths in System.IO from 4.6.2 and up. I have a series of [blog posts](https://blogs.msdn.microsoft.com/jeremykuhne/2016/07/30/net-4-6-2-and-long-paths-on-windows-10) on how things work with Windows 10 and what we've enabled (`\\?\` for example) on other versions of the OS.

[2016-11-03 18:41] scott-martin commented on #9795
It was happening on linux, but we were able to fix the issue. It's been so long I don't remember exactly what the problem ended up being. I'll go ahead and close the issue.

[2016-11-03 18:41] #9795 closed

[2016-11-03 18:41] #13322 closed

[2016-11-03 18:46] mikem8361 commented on #1050
Yes, this has been fixed.

[2016-11-03 18:48] saurabh500 commented on #9795
Thanks @scott-martin
In case you recall what was done to fix this issue, please do update this thread. It will be very helpful.

[2016-11-03 18:49] davidsh commented on #7812
If the exception is unhandled,then normally your process was crash.  If so, you can use "windbg /I" to set up post-mortem debugging.  When the process crashes, Windbg will launch automatically and you'll be able to debug and see threads, stack, etc.

[2016-11-03 19:02] #13230 closed

[2016-11-03 19:03] saurabh500 commented on #9809
@HassanSiddique Is this fixed for you?

[2016-11-03 19:07] saurabh500 commented on #12987
@MontyGvMC Any updates on this issue?

[2016-11-03 19:12] stephentoub commented on #12939
Another failure here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/55/consoleText
Again in ServerAllowNoEncryption_ClientNoEncryption_ConnectWithNoEncryption
[code]

[2016-11-03 19:44] #13220 closed

[2016-11-03 19:45] #11826 closed

[2016-11-03 19:47] mj1856 opened #13329 "Single exe self contained console app"
Publishing a self-contained console application in .net core, [as described here](https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/) results in a directory with a lot of files, even one with "smaller footprint".

Is it possible to bundle all the dependencies so we get a single executable?  One large-ish `myapp.exe` when targeting Windows, for example.

I suppose I'm looking for some

[2016-11-03 19:51] #13242 closed

[2016-11-03 19:57] stephentoub commented on #13003
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.04_release/638/
[code]

[2016-11-03 20:00] stephentoub commented on #7806
Not sure if it's the same underlying cause, but another divremTest test failed here:
http://dotnet-ci1.westus.cloudapp.azure.com/job/dotnet_corefx/job/master/job/outerloop_ubuntu16.04_release/1/consoleText
[code]

[2016-11-03 20:05] ericeil commented on #11793
Work in progress is in #13287.

[2016-11-03 20:11] muratg commented on #13267
Wouldn't this be related to path resolution in runtime? It looks like the publishing was fine in terms of placing the binary in wwwroot.

[2016-11-03 20:15] wolfspider commented on #10610
@joperezr @mellinoe Yeah, I'd still be interested in pursuing this actually soon- have been through the ringer at work but now I'm finally getting some free time so I can get into it again. I think we know why it doesn't build so the issue can be closed but was under the impression enough people signed up for the Port Team that it was an inevitability. Let me know your thoughts on this but either

[2016-11-03 20:18] mellinoe commented on #13329
This scenario isn't supported right now. Keep an eye on the https://github.com/dotnet/corert repo for work that will lead down this path.

[2016-11-03 20:30] karelz commented on #10428
We need formal API proposal.

[2016-11-03 20:35] karelz commented on #10985
We need someone debug it and find out which Linux settings we do not pay attention to.

[2016-11-03 20:40] #12794 closed

[2016-11-03 20:42] AlexGhiondea opened #13331 "Once the Marshal class exposes SecureString overrloads implement the SecureStringMarsal class and re-enable tests."

[2016-11-03 20:48] ianhays commented on #8288
netfx-port-consider will be tracked on open or closed issues. closing this as the core work is done.

[2016-11-03 20:48] #8288 closed

[2016-11-03 21:20] danmosemsft commented on #13293
Ah I see it https://github.com/dotnet/coreclr/pull/3995
Literally the extra branch was a problem? One would think it's doing enough work that wouldn't be measurable.
@stephentoub

[2016-11-03 21:21] karelz commented on #12142
@geoffkizer @weshaggard did you get to any decision?

[2016-11-03 21:22] AlexGhiondea opened #13332 "Complete the System.Runtime.CompilerServices namespace"
There are a few more types we need:

[code]

[2016-11-03 21:27] weshaggard commented on #12142
I'm still weighting options. We really have two options:

1. We exclude these from netstandard.
2. We have to pull down TextWriter down into System.Runtime.Extensions or System.Runtime. Which will mean we likely need to pull down all of the System.IO contract.

@jkotas @stephentoub @JeremyKuhne do you guys have any preferences? We are already going to pull down FileStream into System.Runtime so it

[2016-11-03 21:34] #13156 closed

[2016-11-03 21:58] hughbe commented on #13293
I'm planning to come back to it at some point with more thorough investigation (work's getting in the way :D)

[2016-11-03 22:00] PureKrome commented on #1624
Yeah, DI is not the issue here. It's how easy/nice it is to mock it out, etc.

[2016-11-03 22:06] #9938 closed

[2016-11-03 22:13] joperezr commented on #10610
@mellinoe do we have any other workitem tracking the addition of support for FreeBSD?

[2016-11-03 22:13] gusmanb commented on #984
Hi.

This is just a thought, but for the community adding support for LibUSB should not be really difficult. Linux already has it bundled and I belive mac does too, so the only problem is with Windows where it must be installed as a filter, but except for that, bringing USB should not be very difficult to do, just a wrapper like LibUSBDotNet but on .net core.

That also would bring back serial dev

[2016-11-03 22:19] mellinoe commented on #10610
I dunno, sort of. It looks like there's a few different discussions in our history.
https://github.com/dotnet/corefx/search?q=freebsd&type=Issues&utf8=%E2%9C%93.

[2016-11-03 22:20] jkotas commented on #12142
This sounds most reasonable to me. (The other options are fine with me as well.)

[2016-11-03 22:22] mellinoe commented on #10610
Most of the discussion is here: https://github.com/dotnet/corefx/issues/1626

[2016-11-03 22:34] joperezr commented on #6220
Ok, in that case I'll close this but feel free to re-open if you see it again.

[2016-11-03 22:34] #6220 closed

[2016-11-03 22:38] #12939 closed

[2016-11-03 22:45] karelz commented on #11324
Fixed by above #12803

[2016-11-03 22:45] #11324 closed

[2016-11-03 22:46] karelz commented on #1378
Sure, go ahead, I will assign it to you when your names shows up in contributors. In the meantime it's assigned to me.

cc: @Priya91 @ianhays

[2016-11-03 22:52] AlexGhiondea opened #13337 "Complete the NamedPipeClientStream type for netstandard2.0"
[code]

[2016-11-03 22:58] joperezr commented on #10610
ok, so I'll close this given this isn't an issue anymore, and if we need to then we can add one to track the onboarding of FreeBSD.

[2016-11-03 22:58] #10610 closed

[2016-11-03 22:59] jkotas opened #13338 "Remove IRemotingFormatter from System.Runtime.Serialization.Formatters"
Follow up on https://github.com/dotnet/standard/issues/88

[2016-11-03 23:06] mobidev111 commented on #984
Sounds reasonable.

"LibUSBDotNetCore - .NET Core C# USB library for LibUSB. Using the common device classes, applications work with all operating systems and drivers without modification."

Who can help? How can we drum up support?

[2016-11-03 23:18] shaggygi commented on #984
@gusmanb i like this, but seems a little limited.  I have a few scenarios of using usb adapters (ftdi, etc.) for serial communications, but would be for usb devices.  How would this solution help when connecting serial coponents directly to embedded (tx/rx) pins (beagle bone, RPi, etc.)?

[2016-11-03 23:40] MelbourneDeveloper commented on #5766
This needs be done. Get on it!

[2016-11-03 23:49] AlexGhiondea opened #13339 "Bring the Marshal APIs that use SecureString to netstandard2.0"
Once https://github.com/dotnet/coreclr/pull/7985 is merged and a new CoreCLR package available, expose these APIs in the reference assembly for System.Runtime.InteropServices.

[code]

[2016-11-03 23:50] gusmanb commented on #984
@shaggygi Once libusb support is done, then a class whith suport for USB serial devices can be written, as libusb allows to send any report to any device is a matter of porting the report data from some USB drivers like the ones from TDI.

Of course there's another route to bring serial comms easier, and is using file descriptors. On Linux any device will appear as an entry on the file system, on

[2016-11-03 23:55] gusmanb commented on #984
@mobidev111 I would be glad to help on my spare time as supporting USB is a very necessary functionality for .net core.

[2016-11-03 23:55] mellinoe commented on #10610
This is still an issue (building is not supported on FreeBSD), but it's fine to track it with #1626.

[2016-11-04 00:00] shaggygi commented on #984
The work @davidfowl is doing with channels might help for file streams, but not sure when.
https://github.com/davidfowl/Channels/issues/81

And don't get me wrong... i would definitely use libusb as it would serve some scenarios for me if it works with ftdi cables.  Thx for trying to drum support as this is a feature that needs to move forward with .net core. 👍

[2016-11-04 00:00] karelz commented on #13329
CoreRT is the right place to search for this solution.

[2016-11-04 00:00] #13329 closed

[2016-11-04 00:04] weshaggard opened #13340 "Move types for System.IO into System.Runtime.Extensions"
There are only a handful of types left in the System.IO contract one of which is TextWriter which is used for various things including APIs on WebUtility (see https://github.com/dotnet/corefx/issues/12142). In order to enable those we should move it and the other types in System.IO down into System.Runtime.Extensions.

[2016-11-04 00:05] weshaggard commented on #12142
OK I've filed issue https://github.com/dotnet/corefx/issues/13340 to move the System.IO types into System.Runtime.Extensions. Once that is complete this work item can be completed.

[2016-11-04 00:11] karelz commented on #13323
Who has any expertise how to debug it?

cc: @danmosemsft, @weshaggard

[2016-11-04 01:00] safern commented on #13176
So apparently this is already done on this [commit](https://github.com/dotnet/corefx/commit/81a39d4414ad873a2554b1aa42d0e976c5c3b59f).

The only thing that was missing is to rename the parameter from innerException to inner:
[code]

So I'm going to submit a PR to solve that and close this issue.
@AlexGhiondea

[2016-11-04 01:15] safern commented on #13179
This is as well already done in this [commit](https://github.com/dotnet/corefx/commit/81a39d4414ad873a2554b1aa42d0e976c5c3b59f#diff-14cf1332a1f6bee265b3cb835bfcb966).

I'm going to close the issue.

[2016-11-04 01:15] #13179 closed

[2016-11-04 01:24] safern commented on #13177
Why should `CancelEventArgs` should be moved to `System.ComponentModel.Primitives` if `DoWorkEventArgs` is in namespace `System.ComponentModel` ?

Here is the [source code](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.EventBasedAsync/src/System/ComponentModel/DoWorkEvent.cs#L5)
@AlexGhiondea

[2016-11-04 01:25] jiangzeng commented on #13300
Test **UploadFile_Success** also fail with similar _System.Net.WebException_ in build 20161103.04
Log:
Unhandled Exception of Type System.Net.WebException
Message :
System.Net.WebException : An error occurred while sending the request. Problem with the SSL CA cert (path? access rights?)\n---- System.Net.Http.HttpRequestException : An error occurred while sending the request.\n-------- System.Net.H

[2016-11-04 01:51] wjk opened #13342 "Excessive Executable Flags on macOS"
(I originally asked about this at dotnet/cli#4260 some two months ago, but never received a response until today. However, since it is not .NET CLI-specific, I figured asking here would be a better idea.)

One of the things that has been driving me crazy about .NET Core is that on my Mac (running macOS Sierra, version 10.12.1), any and every file created by a .NET Core program is marked as executa

[2016-11-04 02:21] dotnet-mc-bot opened #13343 "Test failure: ThreadPoolBoundHandleTests/FlowsAsyncLocalsToCallback"
Opened on behalf of @jiangzeng

The test `ThreadPoolBoundHandleTests/FlowsAsyncLocalsToCallback` has failed.

Assert.Equal() Failure\r
    Expected: 10\r
    Actual:   0

        Stack Trace:

           at ThreadPoolBoundHandleTests.FlowsAsyncLocalsToCallback() in D:\A\_work\31\s\corefx\src\System.Threading.Overlapped\tests\ThreadPoolBoundHandle_IntegrationTests.cs:line 219
Build : Master - 20161

[2016-11-04 03:02] AlexGhiondea commented on #13177
Because 'CancelEventArgs' should be the base class of the 'DoWorkEventArgs'.

And 'CancelEventArgs' is in a contract that you cannot reference from the project that has 'DoWorkEventArgs'.

[2016-11-04 03:06] stephentoub commented on #13342
FWIW, this is by design:
https://github.com/dotnet/corefx/blob/988feb3c733d384a025ef18c4fecafdc5412f7a9/src/System.IO.FileSystem/src/System/IO/FileStream.Unix.cs#L50

[2016-11-04 03:25] stephentoub commented on #13323
It looks like the System.Net.Sockets.Tests tests are hanging.

[2016-11-04 03:25] wjk commented on #13342
Huh. That's interesting. Is there any way I can override that, short of P/Invoking into `chmod` and manually calling it on every file I create?

[2016-11-04 03:38] stephentoub commented on #13323
I found one of the machines that currently hanging.  It's the System.Net.Sockets.Tests.SocketOptionNameTest.MulticastInterface_Set_AnyInterface_Succeeds test.

[2016-11-04 04:09] dasjestyr commented on #1624
@shaunluttin I'm aware that we can do DI without an interface, I didn't imply otherwise; I'm speaking of a class that has a dependency on an HttpClient. Without the interface for the client, I can't inject a mocked http client or any http client (so that it can be tested in isolation without making an actual http call) unless I wrap it. I've changed some wording slightly in case you were fixating

[2016-11-04 04:16] kouvel opened #13345 "ReaderWriterLockSlim contention perf"
When ReaderWriterLockSlim contends with itself, the perf seems to be really bad.

[code]

ReaderWriterLockSlim:
[code]
The numbers usually vary a lot, the ones above are on the lower end and are not infrequent.

By comparison, ReaderWriterLock is about 100-1000 times as fast for the same test:
[code]

I believe the issue is caused by deterministic unfairness in the spin lock. Usually, the main thr

[2016-11-04 04:18] PureKrome commented on #1624
This is heart/core of this issue -> and it's _purely_ opinionated too.

One side of the fence: fake message handler because <insert their rational here>
Other side of the fence: interfaces (or even virtual methods, but that still is a tiny bit of a PITA) because of <insert their rational here>.

[2016-11-04 04:22] dasjestyr commented on #1624
Well I mean fakes take a lot of extra work to set up and in many cases result in you writing a whole other class just for the test that doesn't really add a lot of value. Stubs are great because it'll allow the test to continue without a real implementation. Mocks are what I'm really interested because they can be used for assertions. For example assert that the method on this interface's implemen

[2016-11-04 04:26] kouvel commented on #13345
It looks like the yield duration is larger and increases faster in the spin loop for the spin lock, compared to the spin loop for entering an RW lock. That probably makes this issue worse, since the background thread will usually be yielding for longer than the main thread.

[2016-11-04 04:29] #13176 closed

[2016-11-04 04:36] jkotas commented on #13342
Does mono use the same default?
It does not sound right to create files as executable by default on Unix from security angle.

[2016-11-04 04:40] jkotas commented on #13342
cc @blowdart

[2016-11-04 06:26] MontyGvMC commented on #12987
@saurabh500 Hi. Unfortunatly not yet.

Before one of the last posts I updated all packages including a part of Visual Studio. It asked me to do so from the NuGet Packet Manager to install a newer version of some used Packet. I haven't found a way to revert this installation.

With this installation it looks for a Project.xml instead of a Project.json. That would'nt be a problem but on my builds fo

[2016-11-04 08:01] matekm commented on #1378
@karelz accepted the invite. Thanks!

[2016-11-04 08:13] PureKrome commented on #1624
Yep - totally agree with you here 👍 🍰

[2016-11-04 09:16] IKende opened #13346 "Dns.GetHostAddressesAsync(Dns.GetHostName()) not working on centos7"
using  Dns.GetHostAddressesAsync(Dns.GetHostName()) can't load local ip address on centos 7 system

[2016-11-04 11:54] stephentoub commented on #13342
No, I just checked and it uses 666 by default rather than 766.  The 766 was chosen to match Windows, as on Windows files written are executable by default.

I don't feel strongly about this either way; I was just pointing out that there was logic behind the choice rather than it being an accident.  If we don't care about matching this scenario on Windows (or matching behavior from previous .NET Co

[2016-11-04 12:03] blowdart commented on #13342
What does gcc etc do? It feels odd for a compiler to produce executables which, er, aren't executable, but if the usual suspect compilers on the platform do it, then we probably should match that, rather than match windows.

[2016-11-04 12:14] jackmott commented on #1605
I was asked to chime in here, and just wanted to say I absolutely would love to see the conversion methods added.  As well I would like every single SIMD intrinsic that intel and ARM support added to the api. The whole list here: https://software.intel.com/sites/landingpage/IntrinsicsGuide/

.NET makes writing SIMD very nice since it can adapt at JIT-time to the architecture, if you can achieve co

[2016-11-04 12:23] jkotas commented on #13342
Right, native compilers should produce executable files. They are a special case. (And it is pretty unlikely that somebody will be writing native linker in C# anytime soon... .)

Majority of the files that programs produce are non-executable. .NET programs set the executable bit on all files. It does not match the Unix platform conventions. On Unix, the executable bit is meant to be set on true ex

[2016-11-04 12:40] stephentoub commented on #13342
If we want to change it, here's the fix:
https://github.com/dotnet/coreclr/pull/7995

[2016-11-04 14:26] erick-thompson commented on #9578
Thanks for being responsive on this one. I was tracking down another exception in VS by breaking when thrown, and this was the source of a lot of noise.

[2016-11-04 15:23] mogmpoeira opened #13347 "Output Path not working correctly"
Hey,

I'm using Visual Studio 14 (VS 2015) Update 3 and I want to build a REST API based .Net Core 1, using Kestrel as the server.

I want to be able to use a **.csproj** instead of the old **.xproj** in order to use MSBuild as I do in other projects.

The problem is that when I define "OutputPath" as "bin\Debug" (for Debug mode, for instance), Visual Studio builds the project and sets build's res

[2016-11-04 15:30] bbarry opened #13348 "NullReferenceException when calling Vector<float>.CopyTo in Release mode"
I'm not sure if this is the right place to report this.

I have this program:

[code]

project.json:

[code]

test cases:

1. targeting net461, compiling as shown, Release mode: null ref on `input.CopyTo(inputs);`
2. targeting net461, swapping indicated lines, Release mode: incorrect console output
3. targeting net461, as shown or swapped, Debug mode: no error, correct output
4. targeting netcorea

[2016-11-04 15:35] danroth27 commented on #12352
@Eilon We do plan to release an update to the [Microsoft.AspNet.WebApi.Client](https://www.nuget.org/packages/microsoft.aspnet.webapi.client) package to support .NET Core. We just haven't gotten to it yet.

[2016-11-04 16:11] danmosemsft opened #13349 "System.Net.Sockets.Async.Performance.Tests threw ObjectDisposedException (Windows, Linux and Mac)"
No results generated.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161103.04/workItem/System.Net.Sockets.Async.Performance.Tests/details/ef1c1a72-3184-4848-9894-303a848b3635

[code]

I'm guessing this will need a local repro.

[2016-11-04 16:17] danmosemsft commented on #13063
@mellinoe any update on this one? It fails in the full run so it's important to investigate (plus the fact random AV's are bad)

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161103.04/workItem/System.Runtime.Numerics.Tests/details/deb59c05-cbaf-4834-b929-6a1114c6d726

[2016-11-04 16:27] svick commented on #13265
Related: https://github.com/dotnet/corefx/issues/8130, which I think implies this is by design.

[2016-11-04 16:28] davidsh commented on #12352
closing issue since question has been answered.

[2016-11-04 16:28] #12352 closed

[2016-11-04 16:33] danmosemsft commented on #13063
This is not just Ubuntu. I have also seen it on Centos at least.

Unless it reproes locally, we need a way to get a dump from these machines.

[2016-11-04 16:33] danmosemsft opened #13351 "Seg fault during Serialization unit tests on Ubuntu"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161104.53/workItem/System.Runtime.Serialization.Formatters.Tests/details/987bb27a-8616-44cd-99e2-5e12840da2f8

[code]

Finding out whether there's a way to get dumps from these machines.

[2016-11-04 16:42] dotnetjunkie commented on #8130
I think the memory overhead argument (as proposed by @GSPP)is nin sense, since both Type instances already caches MemberInfo instances and MemberInfo already cache ParameterInfo. So there is no extra cost in guaranteeing singletons. The only problem is a concurrency problem.

[2016-11-04 17:10] saurabh500 commented on #12987
@MontyGvMC On the client machine (Ubuntu in this case) can you create a new project using `dotnet new` and initialize a Sql Connection to the server? This way we can eliminate the changes that Visual Studio pulled in for your project.
The `dotnet` CLI tool will help create and run a new project without any dependencies on VS.

It's only a recommendation to isolate the Sql Server connectivity probl

[2016-11-04 17:30] krwq commented on #9920
@tarekgh I do not agree this is not useful. Writing simple tool like:
- read text from a file
- modify text
- saves with the same encoding
is currently not reliable and we make users implement encoding detection by themselves which is even worse than if we figure out some mostly working implementation.

I think it is better to provide algorithm which works 90% of the cases and supports adding new

[2016-11-04 17:37] mellinoe commented on #13063
Yeah, this most likely will not repro outside of those lab machines, so without access to them, I won't be able to get any more information most likely. This problem has never occurred in any of our runs in Jenkins, and I've never seen it locally.

[2016-11-04 17:38] tarekgh commented on #9920
You are thinking on just one encoding and not all encodings. thinking about Unicode only is not that useful.

just to mention Encoding detection is really very complex issue and never worked fine. I am telling from my experience with that before.

having
[code]

do you know how it can detect shift_jis encoding for instance?

if you want to go ahead and try it be ready for that and also should have

[2016-11-04 17:39] karelz commented on #9703
@botaberg can you please do it? (says @yizhang82)

[2016-11-04 17:42] krwq commented on #9920
@tarekgh, the point is not to make perfect solution but something which works most of the time and works as well as most of the text editors. I believe this will make C# more useful for scripting than it is right now. Currently IMO the most interesting scenario of find & replace is broken as you cannot reliably save files.

Perhaps some find&replace APIs which would work on bytes would make this p

[2016-11-04 17:42] karelz commented on #13218
This will be part of .NET Native NS2.0 push. CLosing for now, no point in tracking it one by one at this moment.

[2016-11-04 17:42] #13218 closed

[2016-11-04 17:46] karelz commented on #8783
@luqunl this is already done, isn't it? If yes, can you please close it?
cc: @tijoytom @yizhang82

[2016-11-04 17:57] mellinoe commented on #13348
@CarolEidt

[2016-11-04 18:02] luqunl commented on #8783
Yes, the issue has been solved long time ago and close this issue

[2016-11-04 18:02] #8783 closed

[2016-11-04 18:07] tarekgh commented on #9920
I am not seeing any value when having BOM in the file because first most of the time (the main stream scenarios) the files don't include BOMs. second it is easy for the users to check that.

[2016-11-04 18:18] karelz commented on #2077
We need formal API proposal

[2016-11-04 18:21] karelz commented on #4641
The workaround seems to be sufficient. Closing.

[2016-11-04 18:21] #4641 closed

[2016-11-04 18:22] karelz commented on #5756
This didn't end up working (says @zhenlan)

[2016-11-04 18:22] #5756 closed

[2016-11-04 18:23] stephentoub commented on #9920
@tarekgh, what is the recommended code I should write if I want to read all of the lines from a file, modify one of them, and write them all back, preserving the original file's encoding?

[2016-11-04 18:23] karelz commented on #7912
Unclear what is needed or what is wrong. Please provide more info and reopen.

[2016-11-04 18:23] #7912 closed

[2016-11-04 18:25] karelz commented on #8238
Someone needs to debug it and find out which code to change.

[2016-11-04 18:30] karelz commented on #8736
No customer asks so far, closing for now.

[2016-11-04 18:30] #8736 closed

[2016-11-04 18:30] huanwu opened #13355 "XsdDataContractExporter.DataContractSet always returns null"
The following code in DataContractSet is commented. So XsdDataContractExporter.Export will always fail because of NullReferenceException
        DataContractSet DataContractSet
        {
            get
            {
                //if (dataContractSet == null)
                //{
                //    dataContractSet = new DataContractSet((Options == null) ? null : Options.GetSurrogate());

[2016-11-04 18:30] stephentoub commented on #8744
Related failure here on Windows 7:
http://dotnet-ci1.westus.cloudapp.azure.com/job/dotnet_corefx/job/master/job/outerloop_win7_release/1/consoleText
[code]

[2016-11-04 18:42] karelz commented on #11073
Next steps: First verify it still makes sense to avoid Enum.Parse. If yes, implement it. If not, close the issue.

[2016-11-04 18:46] karelz commented on #12828
Does it repro also on .NET Core (@huanwu?)

[2016-11-04 18:48] terrajobst commented on #11100
We're actively looking into this.

[2016-11-04 18:50] stephentoub opened #13356 "Queue_SynchronizedTests.SynchronizedEnqueue test failed"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_opensuse13.2_release/55/consoleText
[code]

[2016-11-04 18:51] stephentoub commented on #7806
Also here on macOS:
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_osx_debug/15/consoleText
[code]

[2016-11-04 18:53] #13005 closed

[2016-11-04 18:53] #12633 closed

[2016-11-04 18:53] #13008 closed

[2016-11-04 18:53] saurabh500 commented on #13267
@ctonger I modified your app and added a runtime of "win7-x64": {} to the runtimes list in TriCon360.NetCore.Core and Becom360.NetCore.Web

I then built the solution and went ahead with a deployment of Release version of win7-x64 on Azure Web App.
When I do this, the exception about not being able to find the SNI.dll goes away. I didn't have a DB configured so I started getting exceptions about no

[2016-11-04 18:54] tarekgh commented on #9920
Today when you do File.ReadAllLines will open the file as UTF8 even if it is ansi encoded which is fine in 99% of the cases because when writing back after inserting a few text in the middle the bytes will be exactly preserved (because we convert the bytes from UTF8 to UTF16 when reading and we do the opposite when writing which should produce the exact original byte stream).

we have to be aware

[2016-11-04 19:05] schellap commented on #13267
This issue sounds like a dup of https://github.com/dotnet/cli/issues/2912.

@saurabh500 please pass a project folder as zip or a remote ACL'ed VM I can try out on.

[2016-11-04 19:05] karelz commented on #12772
GetSurrogate is not coming over - it has been decided.
This test should not be ported over.

@huanwu can you please delete the test if it is just disabled with ActiveIssue. Then please close the bug.

[2016-11-04 19:08] stephentoub commented on #9920
This is not my experience.  I'm frequently writing tools to process all of the files in corefx, for example, and the moment I hit one that wasn't UTF8 encoded, characters get messed up, VS warns me about a change in the file's encoding, etc.  Whereas I initially do something simple like:
[code]
I end up doing something more complicated like:
[code]
and even then I'm not sure that's actually correc

[2016-11-04 19:12] karelz commented on #12840
We should delete the test or test just for PNSE.

[2016-11-04 19:15] karelz commented on #13101
@shmao says close it. We can reopen if someone asks for it.

[2016-11-04 19:15] #13101 closed

[2016-11-04 19:16] ctonger commented on #13267
@saurabh500 I will try this right away. I'll give feedback immediately.

[2016-11-04 19:18] saurabh500 commented on #13267
@schellap the project is attached above by @ctonger
Did you want the source or the published project?

[2016-11-04 19:25] karelz commented on #13202
This will require larger repo-wide effort to use master test assets on lower .NET Standard versions (1.6 and lower).

[2016-11-04 19:25] #13202 closed

[2016-11-04 19:31] karelz commented on #13351
S.R.Runtime.Serialization.Formatters is used by BinarySerialization, which is not part of area-Serialization (see [list of areas](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md))

[2016-11-04 19:33] karelz commented on #13355
Dupe of #12772 (GetSurrogate is the common theme there)

[2016-11-04 19:33] #13355 closed

[2016-11-04 19:36] karelz commented on #11918
Next step: Get it under debugger and find out what's wrong.

[2016-11-04 19:37] karelz commented on #11919
Next step: Get it under debugger and find out what's wrong.

[2016-11-04 19:37] karelz commented on #13071
Next step: Get it under debugger and find out what's wrong.

[2016-11-04 19:51] ctonger commented on #13267
Ok, I am still not really through but the initial error has gone. I am right now resetting the app service to do a clean install. I will inform you once done. I am currently at it. But it looks like we are heading to the right direction. I am excited.

[2016-11-04 20:22] shmao opened #13360 "Area-Serialization Sprint 109"
The issue is for tracking issues to be done in sprint 109 (due by 11/18/2016).

[2016-11-04 20:26] AlexGhiondea commented on #13331
This requires this to be merged and a new CoreCLR ingested in CoreFx: https://github.com/dotnet/coreclr/pull/7985

[2016-11-04 20:29] AlexGhiondea opened #13361 "Expose the serialization ctor on CryptographicException"
Once the new CoreCLR is ingested in CoreFX, you need to remove this from the baseline for System.Runtime.

MembersMustExist : Member 'System.Security.Cryptography.CryptographicException..ctor(System.Runtime.Serialization.SerializationInfo, System.Runtime.Serialization.StreamingContext)' does not exist in the implementation but it does exist in the contract.

[2016-11-04 20:39] AlexGhiondea commented on #13062
Exposing the type in CoreFx is in PR #13362

[2016-11-04 20:39] ctonger commented on #13267
@All. It worked! We can close it. I keep having issues, but they are related to my configuration as it seems. So the first thing due is a BIG thank you for your time, help and effort.

What may be an idea is to document this better. I admit, that I did not think remotely about the idea of configuring win7-x64,

You support was brilliant. I am really excited about this!

Have a great weekend and th

[2016-11-04 20:46] Priya91 opened #13364 "Add a new public Slim NTAuthentication type to support various authentication protocols."
System.Net.Mail is using an internal type NTAuthentication from System.Net.Security to implement NTLM, GSSAPI and Digest protocols for credential authentication. Currently I’m using reflection to get to these types, but this is not a reliable permanent solution. We have similar issues around authentication in HttpListener as well.

In both cases, we need to send a response string back to the serve

[2016-11-04 20:54] shmao opened #13365 "Add Basic Tests for Serialization APIs New Added in NetStandard2.0"
We want to add basic test coverage for new APIs added in NS2.0

[2016-11-04 21:12] AlexGhiondea commented on #12726
@joperezr I belive this is a duplicate of the other issue you are working on.

[2016-11-04 21:27] botaberg commented on #9703
@weshaggard has unlisted the package. Thanks, Wes! I am closing this issue as it seems to be resolved.

[2016-11-04 21:27] #9703 closed

[2016-11-04 21:30] weshaggard commented on #12726
Yes this is a subset of the other issue I filed recently and can be closed.

[2016-11-04 21:30] #12726 closed

[2016-11-04 21:33] tarekgh commented on #9920
the way you are doing is really reading the file as UTF8 and writing it as UTF8. I may misspelled something in my last reply but this is what I really meant. when reading the stream and get it as strings it will be converted (from UTF8) to Unicode 16 but when writing you'll need to convert the contents back to UTF8 and that what you have done. if you write the file without specifying the encoding

[2016-11-04 21:36] tarekgh commented on #9920
forgot to say in my second bullet, you still need to get the encoding value from the stream and then use it  while writing to the file.

[2016-11-04 21:40] shmao opened #13367 "[Impl] DCS/DCJS to Support NonSerializedAttribute and OptionalFieldAttribute"

[2016-11-04 21:43] shmao opened #13368 "[Impl] DCS/DCJS to Support System.Runtime.Serialization.IDeserializationCallback"

[2016-11-04 21:44] shmao commented on #11477
All items have been done or tracked by separate issues. Closing this.

[2016-11-04 21:44] #11477 closed

[2016-11-04 21:54] huanwu commented on #12828
@karelz yes, I can repro.

[2016-11-04 22:05] cesarbs opened #13369 "SslStream.WriteAsync() hangs on 0-byte WriteAsync on Linux and macOS"
To repro, connect to any SSL endpoint (127.0.0.1:5001 in the example below) and attempt a 0-byte write:

[code]

It just hangs there.

We found this issue in Kestrel, which is experiencing test failures because of this (https://github.com/aspnet/KestrelHttpServer/pull/1193#issuecomment-258501823). Kestrel is hanging in https://github.com/aspnet/KestrelHttpServer/blob/4337d2a4a751ee7ccb0e0c460670c0

[2016-11-04 22:09] cesarbs commented on #13369
Is that fix in `System.Net.Security` 4.3.0? When I revert to 4.3.0-preview1-24530-04 I don't see the issue.

[2016-11-04 22:09] stephentoub commented on #13369
Oh, shoot, you probably do, and those fixes look busted:
@bartonjs, don't we need to complete the IAsyncResult instance rather than just returning when the count is 0?

[2016-11-04 22:46] karelz opened #13372 "Expose types/members in contract assemblies"
Most implementations exist, but they are not present in contract/reference + testing

### Remaining APIs - TODO:

T:System.Net.TransportType -- https://github.com/dotnet/corefx/issues/14106

M:System.Net.Security.NegotiateStream.Dispose(System.Boolean) https://github.com/dotnet/corefx/issues/14107

M:System.Net.Security.SslStream.Dispose(System.Boolean) https://github.com/dotnet/corefx/issues/1410

[2016-11-04 23:17] jamesqo opened #13374 "Proposal: Array.Clone for creating a copy of an array."
Sometimes you need to create a copy of an array. For example, one reason is arrays are mutable and sometimes you need to create a defensive copy, or you may want to modify some of the indices in it but keep the original array intact. There are a couple of ways of doing this right now:

### Approach 1

[code]

The downside of this approach is that it's verbose (compared to the second approach below

[2016-11-04 23:33] huanwu opened #13375 "IFragmentCapableXmlDictionaryWriter not implemented by XmlBaseWriter"
IFragmentCapableXmlDictionaryWriter is not implemented by any class.  In desktop, it is implemented by XmlBaseWriter.

Our code:
internal abstract class XmlBaseWriter : XmlDictionaryWriter
{...}

Code in desktop.
abstract class XmlBaseWriter : XmlDictionaryWriter, IFragmentCapableXmlDictionaryWriter
{...}

[2016-11-04 23:48] #13177 closed

[2016-11-04 23:57] karelz commented on #13375
Should it be netstandard2.0?

[2016-11-04 23:59] karelz commented on #13347
@weshaggard any idea who knows anything about this stuff?

[2016-11-05 00:00] huanwu commented on #13375
@karelz yes, added the tag.

[2016-11-05 00:02] karelz commented on #13348
In general we don't use GitHub to track full .NET Framework bugs. That's what Connect or MS support is.
If you don't think there is any advice/workaround we can give, please close this bug.

[2016-11-05 00:07] karelz commented on #13374
Sounds reasonable to me. Not sure how many people would use it though ...
Let's get API review feedback on the proposal.

[2016-11-05 01:41] DrewScoggins opened #13381 "Performance regressions between 1.1 and 1.0"
During the work to sign-off for 1.1.0 we found several regressions in ComponentModel and a regression in the Vector Distance_Squared.  We will need to investigate these, but they are not ship blocking.

[2016-11-05 02:49] jkotas opened #13383 "Fix uses of C++ `new` operator under src\Native"
The native shims use C++ `new` operator in number of places, for example:
https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_networkstatistics.cpp#L251

C++ new throws C++ exception on OOM. When such C++ exception hits interop boundary, it will lead to bad crash.

`malloc` or `new (nothrow)` with explicit null check should be used instead.

[2016-11-05 03:24] jkotas opened #13385 "[Security] Use safe integer arithmetic for memory allocation"
Native shims have potential integer overflows around memory allocations, for example:

https://github.com/dotnet/corefx/blob/edd3b840988c9ed8d572bf115926d798c8e3fc52/src/Native/Unix/System.Native/pal_networking.cpp#L2622

There should be manual checks for potential integer overflow; or strongly typed `new (nothrow)` that checks for multiplication overflows underneath should be used instead.

[2016-11-05 03:48] #13369 closed

[2016-11-05 06:41] TylerBrinkley commented on #10692
I apologize for the shameless plug but I believe this is pertinent to users. I've just released version 1.0.0 of [Enums.NET](https://github.com/TylerBrinkley/Enums.NET), a high-performance type-safe .NET enum utility library.

It has the extension method `IsDefined` that is constrained to the enum type which addresses this issue.

It also has the extension method `IsValid` that for flag enums chec

[2016-11-05 09:06] ViIvanov opened #13388 "[System.Linq] Small optimization for RepeatIterator<>::ToArray"
Hello!

Now RepeatIterator<>::ToArray implemented as (https://github.com/dotnet/corefx/blob/8a99c59d8599179694497a00fc636e37c6da72dd/src/System.Linq/src/System/Linq/Repeat.cs#L67):
[code]
`_current` is field from base type Iterator<> and has a type TResult.

Looks like we can compare it with `default(TResult)` instead of `null` here:
[code]
because we do not need fill an array with default values.

[2016-11-05 11:50] dotnetjunkie commented on #8130
The MSDN documentation is clear about `Type` instances being unique. I noticed the creation of `MemberInto` objects to be protected by a lock in the .NET 4.5 code base.

What I would like to know is whether this safety net for `MemberInfo` exists in all platforms (.NET 4.x, .NET Core, .NET Native, etc) or whether we should we should assume that `MemberInfo` instances are not unique (and don't over

[2016-11-05 13:03] shaggygi commented on #984
There is also a little bit of work going on here for .NET Standard.
https://github.com/dotnet/standard/tree/master/extensions/serialport

[2016-11-05 15:56] karelz commented on #13381
Can you please file specific bugs with test cases, so that test owners can look at them?

[2016-11-05 15:56] #13381 closed

[2016-11-05 17:29] karelz commented on #1129
Not actionable now, closing.
We can reopen the issue when someone provides more details.

[2016-11-05 17:29] #1129 closed

[2016-11-05 18:36] #13342 closed

[2016-11-05 18:38] jkotas commented on #13383
Most/all of these are in networking shims.

[2016-11-05 22:20] stephentoub opened #13394 "Linux ARM Emulator SoftFP builds are failing frequently"
This is causing lots of PRs to have failed legs.
[code]

[2016-11-05 23:31] stephentoub opened #13395 "CentOS PR legs failing with buildtools restore error"
[code]
cc: @mmitche, @weshaggard, any ideas what's going on?  These same to be failing consistently across all PRs in corefx for the last few hours.

[2016-11-06 10:09] JonHanna commented on #13388
That would be nice but unless we had `where TResult : class` (which we wouldn't want), we'll get CS0019 on the equality comparison not being allowed. Having `_current != null` cover the case where the value is both a reference type and null is the best we can do in skipping the loop.

[2016-11-06 10:18] JonHanna commented on #13388
(Incidentally, it's worth noting that the jitter skips the code for the always-false test with value types, so at least it's not adding a pointless check.)

[2016-11-06 11:10] AdrienTorris commented on #8622
@roji You said DataSet and DataTable will be in the next version of .NET Core, where did you see that ? I didn't see this feature in the roadmap

[2016-11-06 12:24] stephentoub opened #13401 "DateTimeOffsetTests.Ctor_DateTime failing in CI"
Looks like a DST problem.
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/2689/consoleText
[code]

[2016-11-06 12:25] stephentoub opened #13402 "TimeZoneInfoTests.ConvertTime_DateTime_MiscUtc failed in CI"
Looks like a DST problem.
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/2686/consoleText
[code]

[2016-11-06 12:30] #13388 closed

[2016-11-06 13:30] roji commented on #8622
@AdrienTorris just scroll up this issue to see where it's closed: https://github.com/dotnet/corefx/pull/12426

[2016-11-06 14:07] suryapratap commented on #12034
Why not just use the [GeoApi ](https://github.com/NetTopologySuite/GeoAPI) library as a base and build on it.

[2016-11-06 15:11] #13383 closed

[2016-11-06 15:12] #13401 closed

[2016-11-06 18:20] ericwj opened #13407 "Error CS0246 referencing System.StackOverflowException and dotnet.exe crashes without an exception being caught"
What should I do to reference `System.StackOverFlowException`?

I have use to catch `StackOverflowException`, since I am writing code that would rely on the compiler doing tail call optimization. However, trying to catch `System.StackOverFlowException`, I am presented with `CS0246`. I tried to explicitly include some packages, but that was probably futile in concept, since the class should be part

[2016-11-06 18:45] #13041 closed

[2016-11-06 19:24] karelz commented on #13402
Could it be related to today's time change?

[2016-11-06 19:52] karelz commented on #13407
You seem to have bad casing in StackOverflowException in your error message. Could that be the reason?
The tests seem to be able to reference it just fine.

[2016-11-06 21:00] Luo-Liang opened #13409 "[Question] Trying out the new corefx"
Hi I'm running to an error trying out the new corefx in my project. I am especially interested in the FirstChanceException under System.AppDomain class

I first followed instruction for building the new CoreCLR: https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingYourBuild.md

I then downloaded and compile CoreFX.

I then set my .nugget config to add the following two keys:

[2016-11-06 21:10] JonHanna commented on #13402
Almost certainly. It could be worse, spare a thought for those of us that live in places where local time and UTC are the same for half the year.

[2016-11-06 22:56] hughbe opened #13410 "Tuple.IStructuralComparable/Equatable throws NRE"
The following tests demonstrates this.
[code]

I can send in a PR fixing this to throw ArgumentNullException, but there might be breaking change so I'll let you guys approve it before I go wasting my time ;)

[2016-11-06 23:53] ericwj commented on #13407
Except I didn't type it in the first place - I only did when Ctrl+Space wouldn't find anything.
![StackOverflowException](https://gfu6gw-sn3302.files.1drv.com/y3pkIfRKL_uHZpqgOxSC6M_SJUr2qv6UnnhJaPJvHxxCWAQ1k5BszMPR1-jFpNZBndA-g11NnWKoTucyjQjxiFzmda2yI9lWuUE_x1rUXqvXsOi9T6dLvknezBfZyfh5-mjigFy9xtwai3orfuQ1jUq5w/StackOverflowException.png?psid=1)

[2016-11-07 00:49] JonHanna commented on #11840
I pondered such overrides as the result is trivial, small and immutable (and in the case of Where can return itself), but I figured that they wouldn't be worth the cost of checking for. This would provide a means at minimal cost, assuming the cost of the interface use is little or nothing over the current virtual cost on Iterator. Otherwise I would rather not add even a tiny cost there, since Iter

[2016-11-07 01:41] jiangzeng commented on #12025
This issue happens in build 20161104.503.
Log:
Unhandled Exception of Type System.OutOfMemoryException
Message :
System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.
Stack Trace :
   at System.Numerics.BigInteger..ctor(UInt32[] value, Boolean negative)
   at System.Numerics.BigInteger.op_LeftShift(BigInteger value, Int32 shift)
   at System.Numerics.Tests.cast_

[2016-11-07 01:58] jiangzeng opened #13416 "System.Net.Primitives.Performance.Tests threw System.MissingMethodException"
No results generated.

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161104.503/workItem/System.Net.Primitives.Performance.Test

[code]

Build : Master - 20161104.503 (Core Tests)
Failing configurations: Failing on all platforms.

[2016-11-07 01:59] jamesqo commented on #11840
@JonHanna True; as you mention, putting the methods under an interface may add extra cost (I remember reading in coreclr that interface calls were slightly slower than virtual ones).

What if we just checked for reference equality to `EmptyPartition`, since there's only one instance anyways? Not quite as clean, but doesn't seem to add much cost for the branches penalized (at least, if the `Instanc

[2016-11-07 02:09] jiangzeng opened #13417 "System.Net.Sockets.Tests threw Xunit.Sdk.EqualException"
No results generated.

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161104.503/workItem/System.Net.Sockets.Tests/details/c55351a7-8db1-4f95-9aba-4ccce51d4f64

[code]

Build : Master - 20161104.503 (Core Tests)
Failing configurations: Windows.7.Amd64:AnyCPU-Debug

[2016-11-07 02:33] jiangzeng opened #13418 "System.ComponentModel.EventBasedAsync.Tests threw System.Runtime.Serialization.SerializationException"
No results generated.
Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20161104.503/workItem/System.ComponentModel.EventBasedAsync.Tests

[code]

Build : Master - 20161104.503 (Full Framework Tests)
Failing configurations:
       Windows.10.Amd64:AnyCPU-Debug
       Windows.10.Amd64:AnyCPU-Release

[2016-11-07 04:53] karelz commented on #13409
@weshaggard @ericstj can you please help route the question?

[2016-11-07 05:01] karelz commented on #13410
What's the value of changing NullRefEx to ArgNullEx? Is it "just" cleanliness/purity or is there more to it?

If it is just cleanliness, I would prefer consistency with other platforms (Full .NET Framework, Xamarin) over it. Is the same NullRefEx behavior observed on full .NET and Xamarin?

cc: @stephentoub @weshaggard @terrajobst, any compat guidance here?

[2016-11-07 05:40] karelz commented on #12025
This bug was primarily tracking 1.1 bug fix.
@jiangzeng please open a new issue and reference this one. I will delete your info above.

[2016-11-07 05:40] #12025 closed

[2016-11-07 05:56] karelz commented on #13407
The type does not exist in .NET Core 1.0 nor 1.1 (about to be released). It will be part of our next release - 1.2 (currently scheduled for Spring 2017 - see [milestones](https://github.com/dotnet/corefx/milestones)).
The type was added into our dev/api branch in PR #10699.

[2016-11-07 05:56] #13407 closed

[2016-11-07 06:07] ericwj commented on #13407
Oké then I can stop looking ;) Thanks!

[2016-11-07 06:16] dotnet-mc-bot opened #13419 "Test failure: System.Numerics.Tests.cast_fromTest/RunDoubleExplicitCastFromLargeBigIntegerTests"
Opened on behalf of @jiangzeng

The test `System.Numerics.Tests.cast_fromTest/RunDoubleExplicitCastFromLargeBigIntegerTests` has failed.

System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

        Stack Trace:

           at System.Numerics.BigInteger..ctor(UInt32[] value, Boolean negative)
       at System.Numerics.BigInteger.op_LeftShift(BigInteger value,

[2016-11-07 06:18] jiangzeng commented on #13419
#12025

[2016-11-07 07:26] #13268 closed

[2016-11-07 07:53] karelz commented on #4792
@JeremyKuhne @ianhays doesn't it better fit into System.IO area?

[2016-11-07 08:03] karelz commented on #1118
We need list of APIs that should be added. Then we need to review them.

[2016-11-07 08:16] hughbe commented on #13410
Should've mentioned - Netfx also throws an NRE, hence my apprehension.

In general, NREs are bad (according to the Microsoft api design guidelines) as the error message is unclear and people expect ANEs, and get confused if an NRE is thrown.

That said, there are compat issues here, so I wanted to bring up a discussion

[2016-11-07 08:46] karelz commented on #13410
Thanks for confirmation. Any idea what Xamarin does?

[2016-11-07 08:55] hughbe commented on #13410
Same behaviour as fx and core according to the mono source code

[2016-11-07 09:54] MontyGvMC commented on #12987
@saurabh500
Managed to get my setup running. The problem with the xml file was a problem in my configuration file *grml*

Here is the information for the new error ("A connection was successfully established with the server, but then an error occurred during the pre-login handshake.") as requested:

Setup:
Client runs on my fully updated Win7 development machine (started locally from Visual Studio

[2016-11-07 10:16] JonHanna commented on #11840
If there wasn't such an `EmptyPartition` yet then that would both instantiate the type and create the instance even though it might never be used. This could be creating quite a large number of such types and objects in a project that uses lots of different anonymous types with Linq. We aren't exactly shy about instantiating types in Linq, but it is avoided, and we generally gain more.

Even consi

[2016-11-07 10:18] AdamOrHd123 opened #13421 "OpenCover won't cover C# source code"
Hi,
I have a problem where C# code is not being covered.
In contrast, C++ code is being covered.
In the output file there are a lot of tags indicating with an attribute of skippedDueTo="MissingPdb"
The command-line I use is as follows:
C:\Projects\opencover.4.5.3207>OpenCover.Console.exe -target:"C:\Projects\Accura
cy_With_Pdb\Accuracy\Accuracy.exe" -targetdir:"C:\Projects\Accuracy_With_Pdb\Acc
ur

[2016-11-07 10:40] davidein opened #13422 "SqlConnection has a connection leak?"
When using SqlConnection in a docker linux environment it seems to leak connections but this does not happen when I run on windows.

I have created a test project that will reproduce this: https://github.com/davidein/SqlConnectionIssue

1. Update appsettings.json with a valid connection string.
2. Run dotnet restore
3. Run the web-test.sh to start the container.
4. Open http://localhost:5000/api/v

[2016-11-07 10:57] MontyGvMC commented on #12987
Changed the TSL 1.2 registry key DisabledByDefault 0x00000001 for Client only and Client and Server.

Still no connection.

Anything I should check on the Ubuntu machine?

Thank you for your patience and support.

[2016-11-07 12:00] #13361 closed

[2016-11-07 12:25] stephentoub commented on #13421
Seems like this is actually an issue for OpenCover and should be opened instead in the OpenCover repo?
https://github.com/opencover/opencover

[2016-11-07 12:26] stephentoub commented on #13402
Yes, that's why I said "Looks like a DST problem." ;)

[2016-11-07 12:28] stephentoub commented on #13416
This looks like there was something wrong with the build.  The error isn't coming from the networking tests, it's coming from xunit itself.  And it's an error about not being able to find the FileStream ctor:
[code]

[2016-11-07 12:33] AdamOrHd123 commented on #13421
Hi Stephen,
Thanks for the input.
I placed a new issue at https://github.com/OpenCover/opencover/issues/637

Regards.

From: Stephen Toub [mailto:notifications@github.com]
Sent: Monday, November 07, 2016 2:27 PM
To: dotnet/corefx
Cc: Adam Or; Author
Subject: Re: [dotnet/corefx] OpenCover won't cover C# source code (#13421)

Seems like this is actually an issue for OpenCover and should be opened in

[2016-11-07 12:34] stephentoub commented on #13421
Thanks.

[2016-11-07 12:34] #13421 closed

[2016-11-07 13:06] ayende opened #13423 "WorkingSet size in Linux"
Unless I miss something significant, this is a bug:

https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs#L120

rss is the number of _pages_, but WorkingSet is the number of _bytes_.

[2016-11-07 13:09] stephentoub commented on #13423
I believe you're correct, and this value should be multiplied by Environment.SystemPageSize.

[2016-11-07 13:27] ayende commented on #13423
Also need to check WorkingSet64 there, no?

[2016-11-07 14:29] terrajobst commented on #13410
I agree with @hughbe, NREs are bad if non-user code is top of the call stack as this is indicative of a bug in the implementation of said method. ANE indicates that the top of the call stack refuses to accept the supplied arguments. In very narrow circumstances we've allowed this behavior (usually for performance critical code where any checking was deemed unacceptable).

That being said, if that'

[2016-11-07 14:34] hughbe commented on #13410
As I thought - its worth documenting this (at least via some tests), so I'll submit them and close this issue

[2016-11-07 14:39] hughbe commented on #13410
Also, NREs are thrown for Array and ValueTuple too. I know Array is locked down due to compat, but is it the same with ValueTuple, considering its a c# 7 feature which hasn't been released yet

[2016-11-07 15:47] karelz commented on #13410
Let's spin off a new bug to track ValueType. We may still have a chance to fix it there.

Adding the tests sounds like a good idea (with comment "compat" with Full Framework/Mono)

[2016-11-07 15:51] AtsushiKan opened #13426 "Add Unsafe.ByteOffset<T>(object obj, ref T target)"
In order to support

  Span<T>.DangerousCreate(object obj, ref T rawPointer, int length);

for general objects (not just arrays), we'll need a pair of Unsafe api to compute that offset and derefence it.

I expect they would look like this:

    // Returns the byte offset of "target" (presumably a field or array element within "origin"
    // wrt to the actual start of the object including the runt

[2016-11-07 15:52] AtsushiKan opened #13427 "Add CopyBlock/InitBlock overloads for ref byte"
[code]

Thin wrappers over the cpblk and initblk IL instructions to make them accessible from C#. Needed to implement Span<T>.CopyTo() efficiently.

Since this is intended to be a wrapper around the "cpblk" IL instruction, the behavior is undefined if the ranges overlap. (This suggests Span<T>.CopyTo() needs to handle three cases:

- No overlap - Use Unsafe.CopyTo<T>() - enjoy the perf.
- Overlap

[2016-11-07 16:08] sanjeevdeep commented on #8645
Hi
I am new to .Net Core and I am having the same issue as mentioned above. Just wanted to know, is this fix available in current .net core version or its still being looked at.

[2016-11-07 16:16] hughbe opened #13429 "ValueTuple.IStructuralComparable/Equatable throws NRE instead of ArgumentNullException"
The following tests demonstrates this.
[code]

Spun off from #13410

/cc @karelz (who can help triage this :) )

[2016-11-07 16:28] ericstj commented on #13409
This is happening because the latest CoreFx packages depend on a newer NuGet that is being used.   What version of NuGet/DotNET-CLI are you using to restore the project file?

[2016-11-07 16:44] karelz commented on #13409
@ericstj what kind of error patterns should I expect in such cases? Any bogus-looking Fusion-style FileLoadException on CoreFX DLLs?

[2016-11-07 16:44] tarekgh commented on #13402
I'll take a look

[2016-11-07 16:48] karelz commented on #13429
@terrajobst @weshaggard @stephentoub do we have room to tweak ValueTuple to follow the right patterns? I think we don't have the huge compatibility burden yet.

[2016-11-07 16:51] ericstj commented on #13409
Yeah, that's a good indicator.  Usually that means one library got the latest impl but another didn't.  In this case it would happen because S.R.E has a netcoreapp1.1-specific assembly that compiles against S.R which has a netstandard1.7 specific assembly.  If you restore with an old NuGet that doesn't know netstandard1.7 is compatible with netcoreapp1.1 you'd get this error.

[2016-11-07 16:57] danmosemsft commented on #13419
This is distinct to https://github.com/dotnet/corefx/issues/13063 which is a different test and it's an AV not OOM. It's interesting they're both in op_LeftShift though.

[2016-11-07 17:00] danmosemsft commented on #7806
@mellinoe could you please try again to repro locally?

Note if you can't repro then @Clockwork-Muse's comment above that Random isn't threadsafe may be the key to making them reliably repro.

[2016-11-07 17:03] danmosemsft commented on #13356
@ianhays @Priya91 could one of you please look. If this code hasn't changed recently, then this is a flaky repro as I haven't seen the failure before. In which case if you can't repro locally then you might want to add logging.

[2016-11-07 17:04] danmosemsft commented on #13416
@JeremyKuhne could this be related to your filestream work?

[2016-11-07 17:06] danmosemsft commented on #13003
@tarekgh if you believe your commit should have fixed this, please close. We will reopen if we see it again.

[2016-11-07 17:06] jkotas commented on #13426
I do not think that the IL that you have suggested to implement this is valid. There is no implicit conversion from object to pointer in ECMA spec. Our checked JIT will assert on it, and retail JIT will likely crash in some cases. The ECMA spec says that object references and managed pointers are not interchangeable, e.g.: "In particular, references shall only be used on operations that indicate t

[2016-11-07 17:07] danmosemsft commented on #13063
This text suggests to me that a dump was written -- @schaabs ?

[code]

In which case the next step is @sepidehMS change to get dumps to upload to the Dumpling service.

[2016-11-07 17:08] danmosemsft commented on #13351
Next step: Sepideh is working to get dumps uploaded from test machines.

[2016-11-07 17:10] jkotas commented on #13427
@AtsushiKan Does this need to take length as well?

[2016-11-07 17:11] danmosemsft commented on #13349
@stephentoub disabled this test on OSX, so removing the label. This is just a regular issue.

[2016-11-07 17:11] #13003 closed

[2016-11-07 17:13] jkotas commented on #13427
cc @nietras @jamesqo @benaadams Thoughts about the shape of this API?

[2016-11-07 17:15] AtsushiKan commented on #13427
"Length" - yeah. For Span's purposes, an "int" (that's constrained to be non-negative) would be a natural match though it looks a little weird alongside the other CopyTo overloads with their uint and UIntPtr "byteCounts".

[2016-11-07 17:17] davidfowl commented on #13426
I was playing with this last night and it seems like we'd have to do something special for different types of objects but I'm not 100% sure if any of this is portable as it depends on the layout of different objects.

[code]

[2016-11-07 17:21] AtsushiKan commented on #13426
@jkotas  Hmm... do you have an suggestions on how we might support DangerousCreate() then? The current code in corefxlab seems to be relying on this principle

(https://github.com/dotnet/corefxlab/blob/master/src/System.Slices/System/UnsafeUtilities.cs#L78)

albeit with some major "I can't believe I'm doing this" comments. If this is incorrect (and prone to crashes on JIT), which I could believe,

[2016-11-07 17:27] AtsushiKan commented on #13426
@davidfowl

I'm already doing something similar for arrays except that rather than hard-code the shape of the array header, SpanHelpers does a one time measurement using a pinned byte array as a sample.

This still involves a non-portable assumption (that the array elements <i>are</i> available by skipping past a fixed sized header from the "root" of the object and the size of that header is the s

[2016-11-07 17:39] benaadams commented on #13427
With length it would be a bit strange, as its like array but not array, maybe something like?
[code]

[2016-11-07 17:41] saurabh500 commented on #13422
cc @corivera

[2016-11-07 17:47] ianhays commented on #4792
@karelz Path lives mostly in runtime extensions so the current tag makes sense, but functionally it makes more sense with a System.IO tag as that is its namespace. Either is correct.

On a meta note, having a runtime extensions label doesn't seem particularly useful as the components of that assembly are spread across several ownership areas and namespaces.

[2016-11-07 17:51] nietras commented on #13427
Off the top of my head, why should this not be called `BlockCopy` when it does the same as the existing `BlockCopy`just for `ref`s?

At least that would be consistent with existing naming and it would also be clear this calls `cpblk`.

I don't see any need for an overload **without** length. Or am I missing something?

[2016-11-07 17:53] jkotas commented on #13426
The most reasonable compromise I can think of is:

[code]

[2016-11-07 17:54] jkotas commented on #13426
As a litmus test on what works vs. does not work, we may want to test on mono - if something works on all mono, coreclr and full framework, it should be good enough.

[2016-11-07 17:56] davidfowl commented on #13426
This won't help in the short term but if we standardize on the `public ref T DangerousGetPinnableReference()` maybe this gets easier? We can abstract away the layout differences and have Span<T> work on anything that exposes this type. Maybe we need an interface:

[code]

We could implement this on the objects we care about.

Thoughts?

[2016-11-07 17:58] benaadams commented on #13427
@nietras question is would it make sense to be length (bytecount) or count? When would you copy half a struct always starting at the start? (offset 0)

Large struct copy, fast path for count == 1

[2016-11-07 18:02] jkotas commented on #13426
Yes, we will need standardized name like `DangerousGetPinnableReference` to get more compact pinning C# syntax for Spans (and other types). It should not be wrapped into interface though.

[2016-11-07 18:03] weshaggard commented on #13429
@jcouv would be able to talk to this

[2016-11-07 18:05] benaadams commented on #13427
Hmm... actually that's just setting e.g. `ref val0 = ref val1;`

[2016-11-07 18:07] davidfowl commented on #13426
This wouldn't be for pinning, it would be a way to avoid types like `RawData`.

[code]

[2016-11-07 18:08] TylerBrinkley commented on #693
I apologize for the shameless plug but I believe this is pertinent to users. I've just released version 1.0.0 of [Enums.NET](https://github.com/TylerBrinkley/Enums.NET), a high-performance type-safe .NET enum utility library.

It has the extension methods `CombineFlags` and `RemoveFlags` which are constrained to the enum type which addresses this issue.

Enums.NET is available on [NuGet](https://w

[2016-11-07 18:12] TylerBrinkley commented on #11073
I've just released version 1.0.0 of [Enums.NET](https://github.com/TylerBrinkley/Enums.NET), a high-performance type-safe .NET enum utility library.

On the .NET Framework it takes about 1/3 of the time to parse an enum member name compared to System.Enum.

Enums.NET is available on [NuGet](https://www.nuget.org/packages/Enums.NET/) and is compatible with .NET Standard 1.0+ as well as .NET Framewo

[2016-11-07 18:17] weshaggard commented on #13395
No idea. Do we have the sync.log from any machine that ran this? I don't know what the error "Failed to create prime the NuGet cache. restore failed with: 1" means. @ericstj  have you seen the CLI fail to initialize its cache?

[2016-11-07 18:17] davidfowl commented on #13426
Seems cleaner than RawData....

[2016-11-07 18:20] nietras commented on #13427
Wouldn't that just copy the `ref`. Copying the value of a struct would be `val0 = val1;` And I assume that would be faster than any `cpblk` even for quite large structs.

If the method would be generic with element type `T`, I agree that count should be `elementCount`. However, this would force the implementation to do `SizeOf` and multiply, when it is not needed for `byte`. So a `byte` only versi

[2016-11-07 18:21] ViIvanov commented on #13388
@JonHanna Thanks, sorry, I forgotten about this limitation: we can not use ` != default(TResult)` when `TResult` is generic type without constraints.

[2016-11-07 18:22] ericstj commented on #13395
I have seen this before, @livarcocc may know more about it.

I would recommend we just set DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true to avoid this step altogether.

[2016-11-07 18:23] karelz commented on #11073
Very cool @TylerBrinkley! Thanks for sharing the news.
Are there any improvements you think would be beneficial to move into CoreFX from your project? (compatibility, low impact on API surface)

[2016-11-07 18:26] karelz commented on #13427
@AtsushiKan I assume you didn't mean 1.1 which is now in deep Escrow. Are you currently working on the issue? (If not please unassign it from yourself)

[2016-11-07 18:27] karelz commented on #13426
@AtsushiKan I assume you didn't mean 1.1 which is now in deep Escrow. Are you currently working on the issue? (If not please unassign it from yourself)

[2016-11-07 18:27] AtsushiKan commented on #13426
Looks like I'll go with a combination of RawData (to avoid the need to write the apparently unwritable ByteOffset<> oveload) and sampling for the other data types (arrays, strings) to get their offset relative to RawData.Data.

[2016-11-07 18:32] karelz commented on #4792
@ianhays yes, some areas are more grab bags with exceptions. No system is perfect ...
Are there more things in Runtime.Extentions you think belong to other areas? (e.g. Path into IO)

[2016-11-07 18:39] saurabh500 commented on #13267
When the app is published using win10 runtime, the dotnet publish doesn't publish the api-*.dll because they are installed with the Win10 OS.
These are needed by sni.dll. The Azure Web App is not a win10 runtime because of which the application was failing to load.

On changing the runtime to win7, the dependencies were packaged with the application and the application could run on Azure Web App.

[2016-11-07 18:39] #13267 closed

[2016-11-07 18:42] gkhanna79 commented on #13267
And this failed on an OS that was not Win10 based?

[2016-11-07 18:43] ianhays commented on #4792
StopWatch => System.Diagnostics
WebUtility => System.Net

I'd argue that organization based on namespace is likely more meaningful than organization based on assembly. In most cases the two are equivalent, but RuntimeExtensions is something of an exception or "grab bag" as you said.

[2016-11-07 18:45] ianhays commented on #9145
Thanks. Leaving open for further investigation and marking up for grabs. A repro would be a helpful next step, though I imagine it may be tricky.

[2016-11-07 18:45] saurabh500 commented on #13267
Azure web app output for the command `ver`
Microsoft Windows [Version 6.2.9200]

Based on https://msdn.microsoft.com/en-us/library/windows/desktop/ms724832(v=vs.85).aspx this is Windows Server 2012 R2 or Windows 8.

The Azure Web apps must be hosted in Windows Server 2012 R2.

[2016-11-07 18:47] Luo-Liang commented on #13409
Hey! Thanks for responding. I think I'm using the default NuGet/DotNET-CLI because I didn't do anything to CLI afaik. Can I update my CLI using NUGET? or Do I need to grab the source code and compile myself as well?

Thanks!

[2016-11-07 18:47] danmosemsft commented on #984
The label edit above was by me, I reported the glitch to github.

[2016-11-07 18:47] jkotas commented on #13427
Generic version that also handles overlapping regions will always be slower. We should have non-generic CopyBlock overloads that just wrap cpblk IL instruction and take ref byte arguments. They are natural extension of the existing CopyBlock methods that take void*. We should add these while we are on it.

Then there is the generic version, that takes number of elements and checks for overlaps. It

[2016-11-07 18:49] jcouv commented on #13429
@karelz Let me check with F# folks. I tried to keep `ValueTuple` as close as possible to `Tuple` for their purpose.

[2016-11-07 18:52] karelz commented on #4792
If it is per namespace, then there will be lots of exceptions for System namespace ... no system is perfect., we will always have to live with some exceptions.
BTW: The reference assemblies rule was in place before I started making any changes to the rules :) ... I didn't feel "brave" enough to change it.

[2016-11-07 18:54] weshaggard commented on #13409
You can get the latest CLI versions from the CLI builds at https://github.com/dotnet/cli, see the links there.

[2016-11-07 18:58] jhudsoncedaron commented on #9145
Wow bad attribution. Apparently somebody _logged in as me_ to edit this item. How?

[2016-11-07 19:15] nietras commented on #13427
I wasn't saying this should handle overlapping regions, though, just be a convenient overload. Non-overlapping generic can, of course, be implemented via the `ref byte` version of `BlockCopy` and `SizeOf`.

Wouldn't this be equivalent to [`Buffer.MemoryCopy`](https://msdn.microsoft.com/en-us/library/system.buffer.memorycopy(v=vs.110).aspx) which also does overlap checking? In fact, does this (the

[2016-11-07 19:19] ianhays commented on #9145
Uhh, that's not supposed to happen. I modified the tags and I'm logged in as myself. Weird.

@karelz have you ever seen this?

[2016-11-07 19:35] halter73 commented on #12987
I find it interesting that the the exception is being thrown from `System.Net.Dns.HostResolutionEndHelper` given that the connection string is specified by IP ("Server=xxx.xxx.xxx.xxx;Database=DatabaseName;user id=*****;password=*****").

@saurabh500 Why do you think it's a TLS issue?

[2016-11-07 19:35] karelz commented on #9145
It is a bug in GitHub. @danmosemsft reported it to them.

[2016-11-07 19:37] mellinoe commented on #449
It's been a while since there was last activity on this. Since we've changed our build configuration significantly since this was filed, I'm going to close this. Please file a new issue if there's something similar.

[2016-11-07 19:37] #449 closed

[2016-11-07 19:38] mellinoe commented on #743
@naamunds What's the current thinking around this? Should we close this issue and open something more specific?

[2016-11-07 19:39] mellinoe commented on #839
Various parts of this are already done. We should file more specific work items if there is something to do.

[2016-11-07 19:39] #839 closed

[2016-11-07 19:40] mellinoe commented on #1093
Given that there's been no activity for a couple of years on this, I'm going to close this. There are more recent issues which are more specific and relevant to this.

[2016-11-07 19:40] #1093 closed

[2016-11-07 19:40] matekm commented on #1378
Hi @karelz

I had a time today to dive into this but I hit some minor wall.

When I add a IEnumerable constructor to src\System\Collections\Generic\Dictionary.cs and then try to test it in src\System.Collections\tests\Generic\Dictionary\Dictionary.Generic.Tests.cs I have a compilation error:

[code]

it just does not see the added constructor. From build logs I see:

`Resolved compile assets from

[2016-11-07 19:41] mellinoe commented on #1243
This issue is a couple of years old, and is a bit too vague to be actionable. We do restrict this in some places where it makes sense.

[2016-11-07 19:41] #1243 closed

[2016-11-07 19:42] mellinoe commented on #1318
You can run single tests in VS by modifying the command line passed in the Debug tab of project properties. Enabling the test explorer window is a large piece of work that should be tackled as its own effort.

[2016-11-07 19:42] #1318 closed

[2016-11-07 19:44] jkotas commented on #13427
It is equivalent for structs without GC references; it is not equivalent for structs with GC references.

We need this method for standalone `Span<T>` version that runs on existing runtimes. Since we cannot change Buffer on existing runtime, we have two options: Add this as public method to Unsafe; or do not add this as public method at all for now and just keep it as internal implementation detai

[2016-11-07 19:44] mellinoe commented on #2124
We have support for this now.

[2016-11-07 19:44] #2124 closed

[2016-11-07 19:45] JeremyKuhne commented on #13294
Closing the issue. If you have any other questions please ask.

[2016-11-07 19:45] #13294 closed

[2016-11-07 19:49] NickStrupat commented on #7580
Hi all,

So, we all agree that there are optimizations which can be made for `IEnumerable<T>` types. The roadblock to making that happen appears to be made up of the following realities:

- the current LINQ implementation makes some attempt to optimize based on a few interfaces the `IEnumerable<T>` might implement (`IList<T>`, `ICollection<T>`, `IReadOnlyList<T>`, etc.) by querying the type at run

[2016-11-07 19:53] mellinoe commented on #12601
We've made big progress on this recently. It should take nowhere near 1 hour now, unless your connection is extremely slow.

[2016-11-07 19:53] #12601 closed

[2016-11-07 19:54] jcouv commented on #13429
Talked with @KevinRansom and he confirmed that matching the logic to `System.Tuple` should take precedence over any conventions (although reasonable), so that we facilitate users switching between `Tuple` and `ValueTuple` without having to remember to update their exception-checking code.

So we recommend resolving this issue as "by design".

[2016-11-07 19:55] mellinoe commented on #12503
@druvisc You most likely need to increase you `ulimit`. It is very low by default on macOS.

[2016-11-07 19:55] saurabh500 commented on #11949
The expectations from this issue is not clear.
The documentation pointed out by @jaredmoo lists `Close()` as explicit interface implementation. i.e. `IDataReader.Close()`
The NetStandard 2.0 will have Close() implemented by `DbDataReader` as well and the documentation should be updated with Netstandard 2.0 is out.

[2016-11-07 19:59] mellinoe commented on #12167
@ericstj Did we do this with https://github.com/dotnet/corefx/pull/12342?

[2016-11-07 19:59] nietras commented on #13427
Probably wasn't very clear here, but yes, of course, the implementation needs to be different for non-blittable types.

Okay, that makes sense, but this would mean it would have to be implemented in IL, right? Although as far as I can tell it is not completely necessary.

Would @AndreyAkinshin [BlittableHelper](https://github.com/AndreyAkinshin/BlittableStructs/blob/master/BlittableStructs/Blittab

[2016-11-07 20:00] hughbe commented on #13429
Awesome - I'll close this when I send in some tests documenting the behaviour

[2016-11-07 20:00] jared-moore commented on #11949
Apparently the docs have changed since this was filed, since the anchor in the link that I provided no longer exists - https://docs.microsoft.com/en-us/dotnet/core/api/system.data.common.dbdatareader#System_Data_Common_DbDataReader_Close

The NetStandard 2.0 fix of having Close() implemented normally instead of explicitly is the best fix from my point of view.

Thanks!

[2016-11-07 20:01] karelz commented on #1378
@ianhays @Priya91 can you please help here?

The existing tests target netstandard1.3. You should not change that test project, but add a new one targeting netcorapp1.2 (which is where you add the API) -- some background: https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md
Disclaimer: All my knowledge is theoretical so far, so I might be wrong. cc:

[2016-11-07 20:02] jaredmoo commented on #11949
Apparently the docs have changed since this was filed, since the anchor in the link that I provided no longer exists - https://docs.microsoft.com/en-us/dotnet/core/api/system.data.common.dbdatareader#System_Data_Common_DbDataReader_Close

The NetStandard 2.0 fix of having Close() implemented normally instead of explicitly is the best fix from my point of view.

Thanks!

[2016-11-07 20:02] saurabh500 commented on #11949
@jaredmoo Thanks for the confirmation.

[2016-11-07 20:02] #11949 closed

[2016-11-07 20:03] karelz commented on #1378
@matekm did you unassign the issue from yourself? (there's a known GitHub problem that changes are attributed to the OpenedBy person, so I can't say who did it)

Please unassign yourself only if you don't plan to work on it at all anymore. If you are just stuck, keep it assigned to yourself while you're getting help ...

[2016-11-07 20:04] mellinoe commented on #10925
@maririos Could you clarify what the work to be done here is? It looks like these are already wrappers over the "run tool", with the exception of `build-managed.sh`.

[2016-11-07 20:07] matekm commented on #1378
@karelz thanks for pointing to the docs. Shame I missed them! And no, I didn't unassigned myself from that issue. Still want to work on it (yet I don't see an option to reassign it to me)!

[2016-11-07 20:07] AtsushiKan commented on #13427
Blittability and containing object references are two different things. Blittable is tied to interop and how managed objects project themselves to P/Invoke.

[2016-11-07 20:08] mellinoe commented on #9928
This is part of the general "how to I build on an unsupported distro" discussion. Unfortunately, we don't have a good story for this right now, but we are working on it.

[2016-11-07 20:08] #9928 closed

[2016-11-07 20:10] AtsushiKan commented on #13427
ContainsReference<T> sounds like something that should go into a Reflection class - it's not inherently unsafe, and it's not something that's natural to implement in ILASM (so we'd have to figure out how to combine C# and ILASM code in S.R.C.Unsafe.)

It could just be on System.Type... unless we want to bring S.R.TypeExtensions out of its obscurity just for this...

[2016-11-07 20:10] jkotas commented on #13427
Yes. (Unless we want to integrate IL merge into the corefx build ... or this gets split into multiple packages.) I would probably implement it in C# first on the side, then copy&paste both the original C# commented out, and ildasmed C# version - with manual tweaks in the IL if applicable - you may be able to get a bit of extra perf by running the loop against the `ref` upper bound.

Agree.

[2016-11-07 20:10] mellinoe commented on #9156
@ellismg Has anything changed about this issue since it was filed?

[2016-11-07 20:11] karelz commented on #1378
Hmmm, something kicked you out of the contributors list :( ... I wonder if that's yet another sign of GitHub acting up today.
I'll add you again.

[2016-11-07 20:12] mellinoe commented on #8841
Unless I'm misunderstanding the topic, we are already doing this for all distros that we run tests on. CoreCLR is pulled from packages.

[2016-11-07 20:12] #8841 closed

[2016-11-07 20:16] AtsushiKan commented on #13427
Re: S.R.TypeExtensions - on second thought, probably not - we just got finished unifying that package across the platforms - the whole idea behind ContainsReference() is that Reflection is the implementation of last resort - we want to typeforward it to a runtime-specific implementation that has the inside knowledge to do the job efficiently.

[2016-11-07 20:18] hughbe commented on #13410
Also - ImmutableArray **also** throws NRE for a null comparer!

I'm not proposing a behaviour change, but documenting it here for the tests I'm about to push

[2016-11-07 20:18] saurabh500 commented on #9627
@ianhays Can this be closed now ?

[2016-11-07 20:21] saurabh500 commented on #10198
Email from @corivera
Looks like the failures are caused by a DLL load failure. SqlClient tries to load security.dll to handle encryption, but that DLL doesn’t exist on Nano. That eventually manifests as an “encryption not supported” error. We may be able to just use schannel.dll for encryption on Nano, and I’m looking into that as a workaround.

[2016-11-07 20:23] matekm commented on #1378
accepted again.

[2016-11-07 20:23] #9627 closed

[2016-11-07 20:25] mellinoe commented on #13419
Should be fixed by https://github.com/dotnet/corefx/pull/13434.

[2016-11-07 20:31] ericstj commented on #12167
Yep, let me close this.

[2016-11-07 20:31] #12167 closed

[2016-11-07 20:32] karelz commented on #1378
BTW: I pinged GitHub to find out what/why happened.

[2016-11-07 20:35] AtsushiKan commented on #13426
Umph - on further thought, that approach sounds just as invalid as "computing a ref" to the root of the object. In the array case, we'd be storing a managed pointer that points to the hidden "Length" field inside the array (on the MS CLR, that is. On 3rd party runtimes, who knows what's there.) rather than to any element. It worked on my quick test but we already know this is one of those nondeter

[2016-11-07 20:45] JonHanna commented on #13388
I think the meaning of `! =` and `==` being different in relation to generic parameters catches everyone out sometimes.

[2016-11-07 20:58] jkotas commented on #13427
Also, ContainsReferences needs to be fast to be useful - making it generic over type is the most straightforward way to achieve that. If it takes the type as argument, it is slow by default and there needs to be complex pattern matching in the JIT to make it fast.

[2016-11-07 21:00] karelz commented on #12581
@weshaggard ping?

[2016-11-07 21:00] jkotas commented on #13426
What is the physical array and string layout in Mono? Is it different from .NET Core/.NET Framework? We may end up with split runtime specific implementations if there is no way to unify it.

[2016-11-07 21:00] Priya91 commented on #13308
cc @mairaw

[2016-11-07 21:09] Priya91 commented on #12560
Ok sounds good, seems like a bug, and changing GetHashCode implemetation should be fine, not a breaking change. Marked this as up for grabs, feel free to work on this.

[2016-11-07 21:09] #13402 closed

[2016-11-07 21:11] Priya91 commented on #12032
the size of linked list is already fairly large, so saving one reference will not add much difference to the size and not worth the complexity.

[2016-11-07 21:11] #12032 closed

[2016-11-07 21:14] Priya91 commented on #11976
@mjp41 Can you come up with an api speclet, with the api shape and explaining the usage scenarios.

[2016-11-07 21:16] Priya91 commented on #11861
ImmutableBitArray?

[2016-11-07 21:18] maririos commented on #10925
Yes, we need that one and 'src/native/build-native.cmd', 'src/native/build-native.sh'. They still have logic on them that we should try to reduce and use run.exe for that

[2016-11-07 21:24] davidfowl commented on #13426
Just checked and it seems the array layout might be different (or I have buggy code):

https://gist.github.com/davidfowl/fe60827399423eb6b62a302a94052d35

Output on CLR:

[code]

Output on Mono

[code]

[2016-11-07 21:25] ianhays commented on #12032
I agree with Priya here. I think if we add more of these seldom-used fields then we look into doing something like this, but for now I'd say it isn't worth the code complexity.

[2016-11-07 21:30] benaadams commented on #13427
ContainsReferences in a generic method `<T> where T : struct` can be branch elminated by the jit?

[2016-11-07 21:32] brandonagr opened #13439 "Committing certain data results in infinite loop inside System.Data.SqlClient.TdsParserStateObject.cs"
I am running a service that is migrating terabytes of data (rows consist of a few uniqueidentifier columns and a varbinary column), I have run into a situation where System.Data.SqlClient will enter into an infinite loop on certain datasets (cpu spinning, making no progress, always at the same point in dataset, reproducible on multiple machines)

After stepping through the .net source I believe th

[2016-11-07 21:34] Priya91 commented on #6024
cc @babkin123 Had similar porting issues with ServiceBase, and had insights to help to port to core. Would you be interesting in making a contribution here?

[2016-11-07 21:36] #13034 closed

[2016-11-07 21:40] Priya91 commented on #13423
@ayende Would you like to submit the fix?

[2016-11-07 21:41] terrajobst commented on #8931
Hey @stephentoub, what are your thoughts on this?

We can obviously not remove the the blocking APIs but it might be worthwhile considering doing something like obsoleting them or providing an analyzer. My gut feel is that obsoletion is the wrong thing because it's too widely used, and there are many cases where the usage is safe because the caller knows that the task has already completed (e.g. w

[2016-11-07 21:45] terrajobst commented on #13410
@hughbe

That's the example I had in mind when I wrote earlier

[2016-11-07 21:47] mairaw commented on #13308
We can get the docs improved. Can you assign issues to me here? Or does this issue needs to be moved to https://github.com/dotnet/docs?

[2016-11-07 21:50] mmitche commented on #13395
This is happening because the dotnet-bot account is getting deleted (replaced with dotnet-bot2) and it's orphaning files in /tmp, which the build process is unable to overwrite.

[2016-11-07 21:52] hughbe commented on #13410
@terrajobst

Seems like if you need to go against API design practices, even for perf, you're doing things wrong, but I understand that in the real world compromises do have to be made!

[2016-11-07 21:58] brandonagr commented on #13439
Looking more closely at _outBuff, the first 8 bytes are part of a header, when I hit this bug the buffer equals to

_outBuff[0]
3
_outBuff[1]
4
_outBuff[2]
31
_outBuff[3]
64
_outBuff[4]
0
_outBuff[5]
0
_outBuff[6]
0
_outBuff[7]
0

_outBuff[0] = _outputMessageType;         // Message Type
_outBuff[1] = status;
_outBuff[2] = (byte)(_outBytesUsed >> 8); // length - upper byte
_outBuff[3] = (byte)(_ou

[2016-11-07 21:58] ChadNedzlek commented on #9249
As far as I can tell, this was fixed long ago.  If someone is still seeing this, feel free to reopen.

[2016-11-07 21:58] #9249 closed

[2016-11-07 22:00] Priya91 commented on #13308
Assigned the issue to you. Thanks!

[2016-11-07 22:05] saurabh500 commented on #12987
@MontyGvMC
I see two different errors in this case

1.

You mentioned that you get this error while trying to connect from Windows 7 machine. Is that right?

2.

This seems to be the error message from Ubuntu.

In case of error 1, there is a TCP timeout in play here. (error 258)
Do you have any other clients/apps installed on the same Windows machine which can successfully connect? e.g. SSMS / or

[2016-11-07 22:12] ericstj commented on #13395
@mmitche is the fix here just to delete the machines that are failing?

[2016-11-07 22:12] davidfowl commented on #13426
OK Much simpler

[code]

CLR:

[code]

Mono:

[code]

[2016-11-07 22:13] mmitche commented on #13395
@ericstj Yeah, just need to fix the startup logic again

[2016-11-07 22:19] jkotas commented on #13427
Yes, that it would be the idea.

In the current CoreCLR internal impl, it is achieved by instantiation-specific IL. E.g. if the JIT asks for IL of `bool ContainsReferences<int>()`, the runtime gives back "return false;" that the JIT then inlines:

https://github.com/dotnet/coreclr/blob/master/src/vm/jitinterface.cpp#L6968

I would leave it unconstrained - the struct constraint just gets into way.

[2016-11-07 22:20] AtsushiKan commented on #13426
I believe the extra 4 bytes on Mono is the pointer to the bounds array:

  https://github.com/mono/mono/blob/master/mono/metadata/object-internals.h#L113

Looks like Mono has a unified representation for Sz and Md Arrays.

[2016-11-07 22:33] saurabh500 commented on #12987
I have a setup where I have my server on the domain joint machine.

When I try to connect from Ubuntu to Sql Server on Windows Server 2008 R2, I got the same error as you received.

I changed my Sql Server hostname from `hostname` to `hostname.domain.company.com` and the sql server could then be resolved.

I verified this using `netcat -v -z hostname 1433`
`The error I received was `netcat: getadd

[2016-11-07 22:36] #13269 closed

[2016-11-07 22:36] karelz commented on #13034
Thanks for helping out @fitzchak!

[2016-11-07 22:38] mellinoe commented on #13063
I'm inclined to think there's nothing wrong here other than running out of memory.

From @janvorli:

If we do have access to the dumps we might be able to get more information. But, I'm pretty sure the root cause is running out of memory, which should no longer happen since I changed the test to use less memory.

[2016-11-07 22:41] mellinoe commented on #12969
This should be fixed in the latest versions of the packages.

[2016-11-07 22:41] #12969 closed

[2016-11-07 22:42] mellinoe commented on #11870
This isn't occurring any more. We've since updated the bootstrap CLI.

[2016-11-07 22:42] #11870 closed

[2016-11-07 22:46] mellinoe commented on #9892
To close this out, the way to run a single project's tests right now is to run:

[code]

[2016-11-07 22:46] #9892 closed

[2016-11-07 22:48] jamesqo commented on #13427
Ok, I just finished reading thru this thread. From what I understand, we're adding:

- more `CopyBlock` overloads that accept `ref bytes` and do not handle overlaps
- a generic version of `CopyBlock` which does handle overlaps, and needs to have a different name
- a `ContainsReferences<T>` method which will be resolved/inlined by the JIT at compile-time

Thoughts:

- Adding new, unchecked `CopyBlo

[2016-11-07 22:53] jamesqo commented on #13427
Other people who might be interested: @mikedn, @omariom, @GSPP

[2016-11-07 22:53] naamunds commented on #743
@mellinoe I'm not sure what the current plan is for localization. I think it's more of a product roadmap question, and @Petermarcu and @richlander would be better able to address it.

[2016-11-07 22:54] naamunds commented on #743
/cc @markwilkie @dleeapho

[2016-11-07 23:01] jkotas commented on #13427
@adamsitnik may be interested as well

[2016-11-07 23:03] jkotas commented on #13427
It is in the same boat as Unsafe.SizeOf<T>() and several other existing APIs. It is not inherently unsafe, but it is only useful for low-level unsafe programming.

[2016-11-07 23:07] alexperovich commented on #1836
@terrajobst Can we accept a breaking change like this?

[2016-11-07 23:14] danmosemsft commented on #11390
@int19h to be concrete, we invite a speclet following the API review process. when that looks in good shape, we can take to API review.

[2016-11-07 23:25] saurabh500 commented on #13439
@brandonagr What OS are you using for your client? Windows or Ubuntu ?

[2016-11-07 23:25] saurabh500 commented on #13439
cc @corivera

[2016-11-07 23:28] brandonagr commented on #13439
Windows 8.1 Enterprise, .NET Framework 4.6.1

[2016-11-07 23:31] int19h commented on #11390
Is there a need for anything other than the list of desired members? It seems that all the use cases would be identical to those for equivalent members on regular strings, for example.

[2016-11-07 23:32] saurabh500 commented on #13439
@brandonagr Thanks for reporting the issue and we will look into it.
If the app is running on .Net 4.6.1, the fix will be delivered with the net framework update.

It won't be available via .Net Core runtime.

Also is there a way to get a standalone repro for this issue?

[2016-11-07 23:35] brandonagr commented on #13439
I'm working on creating a small repro, currently it happens in the middle of committing a multi gigabyte set of data (user defined table type being passed as table value parameter to sproc) on row 6,754,534

[2016-11-07 23:35] bartonjs commented on #12983
Since this looks a little bit like a now-fixed packaging bug, and a little bit like a missing prereq, and the original opener has said that things were working for him, I'm going to go ahead and close this.

[2016-11-07 23:35] #12983 closed

[2016-11-07 23:37] bartonjs commented on #13116
The answer to the original "how do I work around this?" is

[code]

Things may continue to evolve in this space in master as some pieces of packaging shift around for future versions.

[2016-11-07 23:37] #13116 closed

[2016-11-07 23:42] bartonjs commented on #10211
Since we haven't heard an answer to this question and it's been a while, closing. If there's more information we can reopen it.

[2016-11-07 23:42] #10211 closed

[2016-11-07 23:54] vancem commented on #11390
Normally you create the reference assembly for the new API (thus all method bodies stubbed out to do nothing).

There are interesting design issues, like does 'SubString' return a String or a StringBuilder?     Also which APIs would be in place vs returning a new value.    Another interesting question is, given that it is not going to be a 'Drop in' replacement (since some things will be 'in place

[2016-11-08 00:05] saurabh500 commented on #13439
@brandonagr Thank you. We will continue to look into this as well.

[2016-11-08 00:11] mellinoe commented on #674
TBH, I don't think this is actually important. If we need to change some of the metadata in the test files, we could just use a binary editor, or just recreate the binaries easily.

[2016-11-08 00:11] #674 closed

[2016-11-08 00:12] danmosemsft commented on #11718
Not much can be done here without a dump or even console output. Sepideh is working to get the dump service working so maybe close this issue and a future hit will get a dump.

[2016-11-08 00:14] danmosemsft commented on #13394
@wateret @sjsinju you changed arm32_ci_script.sh last -- that doesn't mean you have anything to do with this failure, but you're already more familiar with this than I am. Do you have any insight into this issue?
@mmitche

[2016-11-08 00:17] danmosemsft commented on #12927
@crummel any update on this one?

[2016-11-08 00:20] jamesqo commented on #11840
Sounds like a fine idea; 16 bytes doesn't seem like much for an object that will only be instantiated once. I'll make a PR when I get the chance & post perf results.

[2016-11-08 00:20] nevcoBpalacio commented on #2089
SO, if not part of 1.1 any one have a plan? Seems like a major issue to not have this support. Clearly, Microsoft of all would want this integration.

[2016-11-08 00:20] mellinoe commented on #490
We've added methods that cover all of the functionality that was exposed for `double`. Please file a new issue if you feel there is more to be done.

[2016-11-08 00:20] #490 closed

[2016-11-08 00:23] danmosemsft commented on #11141
It's there as of 90e2de3.
https://github.com/dotnet/corefx/blob/master/src/System.Resources.ResourceManager/ref/System.Resources.ResourceManager.cs#L64

[2016-11-08 00:23] #11141 closed

[2016-11-08 00:38] JonHanna commented on #12560
We can't just change the GetHashCode implementation, as the way a set X is compared for equality depends on a feature of the set Y it is compare with, so the requirement for GetHashCode changes with something it can't know about.

Tbe comment "this is faster" above the use of `Contains` suggests that this was intended as an optimisation though it's buggy in that the equality comparer has to not be

[2016-11-08 00:40] #12309 closed

[2016-11-08 00:48] daxian-dbw opened #13447 "Console.ReadLine() is blocked in Linux even though the StandardInput of the process has been disposed"
I'm working on a program that chains the standard output and standard input of a collection of processes, similar to the piping functionality in a shell. I use a worker thread to relay bytes between the output of upstream process and the input of the downstream process. When `_upstream.StandardOutput.BaseStream.Read` return `0`, the worker thread dispose the `StandardInput` of the downstream proce

[2016-11-08 00:54] JonHanna commented on #11840
I'd be interested particularly in whether making `Iterator.GetEnumerator()` virtual has any cost. If it doesn't then `EmptyPartition.GetEnumerator()` can remain as is (apart from obviously becoming an `override`). If it does then `EmptyPartition` should be the one that takes the hit.

[2016-11-08 00:58] terrajobst commented on #1836
We can generally make changes like this but:

1. We want to make .NET Framework and .NET Core consistent.
2. We don't want to break existing .NET Framework or .NET Core code.

The way we do these things is via quirking. However, for changes with little to no benefit it's usually no worth it.  However, I don't have a good read on whether that's the case here or not.

@alexperovich, @stephentoub: th

[2016-11-08 01:16] danmosemsft commented on #13063
Doh - you're right, of course that could cause an AV.

[2016-11-08 01:21] brandonagr commented on #13439
Created an easy to reproduce example here: https://github.com/brandonagr/InfiniteLoopInSystemDataRepro

Shows that it is the bytes 56, 31, 0, 0 appearing in _outBuff 8-11 after the packet overflows from 255 to 0 that causes the issue.

[2016-11-08 01:25] danmosemsft opened #13448 "Add Windows 32 bit to test build"
We are currently not testing 32 bit. (Which we support on Windows)

We need to enable this for the test build. Separately we should enable it for CI -- @mmitche what is involved to do that, once the test build is going?

/cc @karelz @weshaggard

[2016-11-08 01:27] saurabh500 commented on #13439
@brandonagr Thanks

I acknowledge the repro. I can reproduce the issue on both .Net Framework and .Net core.

[2016-11-08 01:30] clarkis117 commented on #11715
@karelz  I'm thinking about grabbing this, though not sure how project references are supposed to work with both a csproj and project.json.

[2016-11-08 01:34] robertmclaws opened #13450 "System.Reflection.TypeExtensions does not work on .NET Native"
I'm trying to use the `System.Runtime.TypeExtensions` package in a UWP project, and I experienced a curious behavior. My call to `Type.GetField()`. worked just fine in Debug mode, but would not work in Release Mode. Specifically, `Type.GetField()` returns null every time.

Based on my research, I believe it is because `System.Reflections.TypeExtensions.dll` does not have a Default.rd.xml file cont

[2016-11-08 01:38] h3smith commented on #2089
Just another vote for. Hard to make the investment to build enterprise class systems on .NET Core when it lacks fundamental enterprise functionality. The Novel project works, but isn't up to snuff.

[2016-11-08 01:41] tmccleve commented on #2089
Yet another vote. I will echo the same statement that this is integral to creating any enterprise application.

[2016-11-08 01:47] JonHanna commented on #12560
Please take a look at #13449. I shall add some tests, but the changes themselves are ready for review.

[2016-11-08 01:56] codito opened #13452 "Process.GetCurrentProcess().MainModule.FileName returns incorrect path in linux"
### Steps to reproduce
1. Use dotnet executable from a path with space. E.g. `/tmp/dotnet 2/dotnet-cli`
2. Use following code:
[code]
3. Compile and run the app `/tmp/dotnet\ 2/dotnet-cli/dotnet /tmp/app.dll`

### Expected
App should print `/tmp/dotnet 2/dotnet-cli/dotnet`

### Actual
App prints `/tmp/dotnet`

[2016-11-08 01:59] karelz commented on #11715
Cool. @ianhays will be able to provide further guidance (I don't know the answer myself, sorry).

I sent you repo Collaborator invite. Once you accept, we can assign it to you. Assigning to @ianhays for now.

[2016-11-08 02:06] dotnet-mc-bot opened #13453 "Test failure: System.Net.NetworkInformation.Tests.IPInterfacePropertiesTest_Linux/IPInfoTest_AccessAllProperties_NoErrors"
Opened on behalf of @jiangzeng

The test `System.Net.NetworkInformation.Tests.IPInterfacePropertiesTest_Linux/IPInfoTest_AccessAllProperties_NoErrors` has failed.

System.Net.NetworkInformation.NetworkInformationException : An error was encountered while querying information from the operating system.
    ---- System.AggregateException : One or more errors occurred. (The process cannot access the

[2016-11-08 02:06] dotnet-mc-bot opened #13454 "Test failure: System.Net.NetworkInformation.Tests.NetworkInterfaceIPv4Statistics/BasicTest_GetIPv4InterfaceStatistics_Success_Linux"
Opened on behalf of @jiangzeng

The test `System.Net.NetworkInformation.Tests.NetworkInterfaceIPv4Statistics/BasicTest_GetIPv4InterfaceStatistics_Success_Linux` has failed.

System.IO.IOException : The process cannot access the file '/sys/class/net/lo/tx_queue_len' because it is being used by another process.

        Stack Trace:

           at System.IO.FileStream.Init(FileMode mode, FileShare s

[2016-11-08 02:15] jiangzeng opened #13455 "System.Runtime.Numerics.Tests threw OutOfMemoryException"
No test results generated.
Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161107.502/workItem/System.Runtime.Numerics.Tests/details/21670e64-2ea5-45bb-ab05-6865c589e68b

[code]

Build : Master - 20161107.502 (Core Tests)
 Failing configurations: Centos.71.Amd64:AnyCPU-Release

[2016-11-08 02:21] dotnet-mc-bot opened #13456 "Test failure: Some tests of 'System.Security.Cryptography.X509Certificates.Tests' failed with 'Interop+Crypto+OpenSslCryptographicException'"
Opened on behalf of @jiangzeng

The test `System.Security.Cryptography.X509Certificates.Tests.CollectionTests/ExportCert_SecureString` has failed.

Interop+Crypto+OpenSslCryptographicException : error:23076071:PKCS12 routines:PKCS12_parse:mac verify failure

        Stack Trace:

           at Internal.Cryptography.Pal.OpenSslPkcs12Reader.Decrypt(SafePasswordHandle password)
       at Internal.Cry

[2016-11-08 02:25] MattGal opened #13457 "Remove PlatformNotSupportedException from NetCore50 System.Console Color properties"
This pull request: https://github.com/dotnet/corefx/pull/12984 regressed behavior for setting console color on netcore50 versions of System.Console.  These properties now throw a System.PlatformNotSupportedException.

There is no desire to work around this in Xunit.Console.NetCore so netcore50 tests are broken for this reason until this is fixed.  It's quite possible for code one is indirectly cal

[2016-11-08 02:43] CalebMacdonaldBlack commented on #2089
@nevcoBpalacio I think they are trying to push us to use azure active directory

[2016-11-08 02:49] tmccleve commented on #2089
That will never work for those of use with corporate agreements requiring services to remain in house.

[2016-11-08 03:13] davidfowl commented on #13426
Ah cool. @AtsushiKan what direction did you decide to go on this one? Are you going to have a specific check for mono and a different layout there? I spoke to @migueldeicaza today and he wants to implement this in mono itself so we may not need to do anything special here.

[2016-11-08 03:17] #13063 closed

[2016-11-08 03:21] joheredi commented on #4883
Hi, I was looking into this and found that changing the configuration target to other than Debug and reloading the project works around this issue

![image](https://cloud.githubusercontent.com/assets/21109913/20085616/24e2a63c-a51f-11e6-8816-f2f65920fd0a.png)

I haven't been able to pinpoint the root cause, but will keep looking

[2016-11-08 03:23] bartonjs commented on #13456
@steveharter Looks like something went wrong with SecureString?

[2016-11-08 03:42] clarkis117 commented on #11715
@karelz invitation accepted

[2016-11-08 03:55] JonHanna opened #13458 "Expression Interpreter Writeback can be incorrect in the face of aliasing."
Consider a byref method such as this constructor:
[code]
And a variable `int x = 3`
Calling `new ByRefNewType(ref x, ref x)` is equivalent to running `++x; x*=x` and hence `x` is 16.
With an expression-created delegate:
[code]
Then with the compiler `x` will be 16 as expected, by with the interpreter `y` will be 12 (it could conceivably end up being 4).

The cause is that the interpreter doesn't h

[2016-11-08 04:01] #13423 closed

[2016-11-08 04:02] #9669 closed

[2016-11-08 04:16] #5230 closed

[2016-11-08 04:16] JonHanna commented on #13458
There's also a failure to write-back if an exception happens after the assignment to the `ref` parameter but within the method. This might be another consequence of the same thing, or might be separate.

[2016-11-08 04:34] #12627 closed

[2016-11-08 04:59] karelz commented on #13457
@ianhays can you please take a look at the regression?

[2016-11-08 05:01] karelz commented on #11715
Assignment updated ...

[2016-11-08 05:07] nevcoBpalacio commented on #2089
I have been working for Government agencies, both Federal and now Local County and either way you would still need some interface or abilities to integrate to some Directory Service, either cloud based or on premise. I have co-developed applications managing billions in dollars and always some need for directory services arises. I think this is more than another vote, but rather a statement of wha

[2016-11-08 05:43] ctonger commented on #13267
I think this is the essential new learning curve we as old school .net developers have to take, given that we never really had to think about where .net applications are going to run eventually. I also see the point that the responsability lies with the developer to assure to target correctly where one want to deploy to.
Misleading at this point is the fact, that the publish wizzard offers me azur

[2016-11-08 06:02] wateret commented on #13394
@danmosemsft I checked it and it turns out HardFP and SoftFP use the same directory for mounting their rootfs. That's why it crashes sometimes. I will fix shortly.

[2016-11-08 07:12] safern commented on #13418
So here is what's happening in this test fail.

- The test `BackgroundWorkerTests.TestThrowExceptionInDoWork` is failing ([Source code](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.EventBasedAsync/tests/BackgroundWorkerTests.cs#L164))
- When an `Assert.Throws` fails on Xunit it throws a `Xunit.Sdk.ThrowsException`.
- `System.ComponentModel` runs in multiple App Domains an

[2016-11-08 07:31] parjong opened #13462 "Test Failure: System.Net.Requests.Tests"
In Ubuntu 14.04 (x86_64), ``System.Net.Requests.Tests`` failed as follows:
[code]

[2016-11-08 07:42] nietras commented on #13427
Yes, for example `boolean` is not blittable. Bad example :|. Can one say that reference types will always be non-blittable? And value types will not always be blittable? Hence a value type which contains a reference will never be blittable?

Yet, the caching scheme seems relevant. I would also think the C#/IL implementation of `ContainsReference<T>` could have a preamble that handles basic types s

[2016-11-08 08:56] vadimline commented on #8673
Would be nice to have this. Having problem with Azure API.

On Windows you will have next exception "The connection with the server was terminated abnormally".
On Linux(Windows Ubuntu subsystem) works fine.

Workaround(At least it works with azure api): Send empty request, and next request with data will work fine.

[2016-11-08 09:15] parjong opened #13464 "Modify webproxy tests to handle platform specific difference."
In Ubuntu 14.04 (x86_64), ``System.Net.WebProxy.Tests`` inner test failed as follows:
[code]

[2016-11-08 09:25] parjong commented on #13464
I found the followings while digging this issue:
 - ``(new Uri(http://127.0.0.1)).IsLoopback`` returns true.
 - The current implementation of ``IsBypassed`` always returns true if the given uri is loopback:
[code]
Either method ``IsBypassed`` or ``BypassOnLocal_MatchesExpected`` seems to be wrong, but unfortunately I couldn't find any specification.  @dotnet/corefx-contrib Could you let me know wh

[2016-11-08 09:29] swimtver commented on #9184
This workaround is work for me.
Json.net is very helpfull.
[code]

[2016-11-08 10:47] MontyGvMC commented on #12987
@saurabh500
#1: yes, this is from my Win 7 development machine
It actually works from Win 7, this error only occurs on the first try (request). All the following requests are working fine. So this is no problem for me.
No, there are no other things running on it except the database (and the not working deployment of my rest api).

#2: yes, this is from ubuntu.

It's time for me to ask a different

[2016-11-08 11:24] JonHanna commented on #12560
`Equals` is even worse than this issue suggests. Consider:

[code]
This means that `Equals` isn't even commutative.

There are also some obscure cases where my PR isn't correct here, so I'm closing for now.

About the most reasonable logic I can think of to cover cases where one or other of the sets has a different comparer is:
[code]

This though still breaks anything that depends on the (not-as-

[2016-11-08 11:39] JonHanna commented on #13050
#8120 is related in that it's disabled, but I'm not sure it should be.

[2016-11-08 11:39] xplicit opened #13465 ".NET Core always create files with execute permission on Linux"
OS: Ubuntu 16.04
.NET Core version: 1.0.0-preview2-1-003155

Steps to reproduce:
type  `dotnet new` then add following text into `Program.cs`

[code]

then type `dotnet restore && dotnet run && ls -al`

You will see that all files: `Program.cs`, `project.json`, `project.lock.json` and `test.txt` have got executable bit, which should not be there.

[2016-11-08 12:48] #13462 closed

[2016-11-08 12:52] stephentoub commented on #13465
This is a dup of https://github.com/dotnet/corefx/issues/13342.  The behavior was changed with https://github.com/dotnet/coreclr/pull/7995.

[2016-11-08 12:52] #13465 closed

[2016-11-08 14:18] omariom commented on #13427
@jkotas

I planned to use for something higher :smile:
https://github.com/dotnet/coreclr/issues/1135

[2016-11-08 14:40] steveharter commented on #13456
I am unable to sign into mc.dot.net to look at the results. Jenkins currently looks good. One possibility is that SecureString recently moved from corefx to coreclr (@AlexGhiondea); perhaps the failure was due to a mismatch here?

[2016-11-08 15:17] davidsh commented on #13464
cc: @stephentoub

[2016-11-08 15:27] AtsushiKan commented on #13426
I think we'll have to go with the runtime-specific layouts for array and strings. I don't see a better alternative. So this isn't really the "portable" Span, but the "legacy MS CLR" Span. If all the newer platforms (and Mono) are rolling their own fast versions anyway, portability isn't as critica.

[2016-11-08 15:39] mmitche commented on #13448
This is an explicit 32-bit targeting build, host, or otherwise?

[2016-11-08 15:53] stephentoub commented on #9008
Socket.Handle is now exposed for 1.2.

[2016-11-08 15:53] #9008 closed

[2016-11-08 15:55] saurabh500 commented on #12987
@MontyGvMC The scenario you are trying, i.e. a .Net core app on Ubuntu 14.04 LTS connecting to Sql Server 2008 on Windows Server 2008 R2 is a valid scenario.
Connectivity from .Net core to any supported SQL server on a supported Windows OS is a valid scenario.

You can get your DB and app running on Windows Server 2012 as well.
I have tried both scenarios that you have mentioned, a .Net core app o

[2016-11-08 15:56] Dmitry-Me opened #13469 "System.Data.SqlClient.SqlBuffer.get_Int32() cannot read from "tinyint" column"
Because of boxing here's what happens when you have a `tinyint` column and attempt to map it to `Int32` member:
1. `SqlBuffer.get_Int32()` is called
2. `SqlBuffer.get_Int32()` sees that "storage type" is not `StorageType.Int32`, so it calls `get_Value()`
3. `get_Value()` checks "storage type" again and calls `get_Byte()`
4. `get_Byte()` returns a value of type `Byte`
5.  control gets back to `get_

[2016-11-08 15:58] stephentoub opened #13470 "Proposal: Add Socket.SafeHandle property"
Socket currently exposes:
[code]

We should add:
[code]

This will let code consuming the socket interact with its handle directly in a safe manner; today if code relies on the Handle, the Socket could be closed out from under it, closing that handle, and leading to dangerous race conditions.  With the SafeHandle exposed, consuming code can handle this correctly.

For example, this will make it fe

[2016-11-08 16:02] JonHanna commented on #7953
Does #11091 close this?

[2016-11-08 16:06] joekaiser commented on #7953
I no longer have access to the code that started this issue, but I believe #11091 would fix it

[2016-11-08 16:11] stephentoub opened #13471 "Three X509Certificates / SecureString tests failing"
[code]

[2016-11-08 16:30] stephentoub commented on #13331
Assigning to myself to unblock the upgrade

[2016-11-08 16:41] paalmoest commented on #10920
@saurabh500  "The Instance name support is available in v 1.1"  Is this in the current  1.1-preview as well ?

[2016-11-08 16:49] stephentoub commented on #13394
Reopening... after #13461, the legs are still failing, they're just failing with a different error:
[code]

[2016-11-08 17:03] #13453 closed

[2016-11-08 17:03] #13454 closed

[2016-11-08 17:19] roncain commented on #12927
This is getting to be a critical issue for WCF because we need to do coverage analysis during this current sprint.  If this gets fixed, could I ask someone to notify us of the build tools updates we need to make?

/cc: @crummel @danmosemsft

[2016-11-08 17:21] crummel commented on #12927
@danmosemsft @roncain PR https://github.com/dotnet/buildtools/issues/1205 fixes this issue, I'll let you know when it gets merged so you can take the new version of buildtools.

[2016-11-08 17:26] danmosemsft opened #13474 "Some isolated storage tests failed with UnauthorizedAccessException"
20 of the isolated storage tests failed when running with a clean repo, build from root. All are failing because they can't access the path below. The path doesn't exist after the tests are done but if I try to create it myself with CreateDirectory, there is no problem. After cleaning the isolated storage folder the tests pass.

[code]

@JeremyKuhne

[2016-11-08 17:26] danmosemsft commented on #13471
@steveharter

[2016-11-08 17:27] danmosemsft commented on #13471
SecureString again.

[2016-11-08 17:28] danmosemsft commented on #13448
@mmitche if you mean should the OS be 32 bit, I don't think that's necessary.

[2016-11-08 17:32] danmosemsft commented on #13455
Hopefully this build didn't have @mellinoe's fix 998a0227. Eric is there a trick to know which commit a build synced to?

[2016-11-08 17:32] mmitche commented on #13448
Right that's what I figured.  I assumed it was 32-bit targeted MSIL?
Anyways, once you get the right commands in the build scripts then you can just alter the netci job definition to add the builds.

[2016-11-08 17:33] jamesqo commented on #6710
A few months later, I'm reconsidering this-- while a `MemoryFill` method would look nice next to the other overloads we have such as `MemoryCopy`, this seems to be just duplicating the `InitBlock` method we already have in the `Unsafe` class. So I'm closing this issue.

[2016-11-08 17:33] #6710 closed

[2016-11-08 17:47] danmosemsft commented on #13418
Good analysis @safern . I'm surprised that `ThrowsException` isn't serializable as it's so simple to do (probably just add `[Serializable]`) and it seems a fairly common need.

MSBuild just wraps xunit as you can see in the build log. We can figure out how to change the parameters to xunit, but if I read correctly the appdomain is being created within S.ComponentModel and not (or not only) by xuni

[2016-11-08 17:49] mellinoe commented on #13455
I don't know, I'm not familiar with how these test runs work. I guess if we knew the start time we could figure out what commit was latest at that point.

[2016-11-08 17:49] ianhays commented on #11715
@clarkis117 you'll want to add the reference to CodePages in the project.json under the "dependencies" section.

[2016-11-08 17:58] safern commented on #13418
Sorry I had an error there. I meant xunit is the one that is creating the appdomain.

Yes we could just add that parameter (https://github.com/dotnet/buildtools/blob/9f38e924ac37e51292f6598c3f7239332fe88e44/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tests.targets#L84)[Here in the test.targets file]

@danmosemsft

[2016-11-08 18:05] saurabh500 commented on #13469
@Dmitry-Me Do you have a repro for this?

[2016-11-08 18:07] saurabh500 commented on #10920
@paalmoest What OS are you using?
The instance name support should be available in preview for clients on non-Windows platform.
The Windows version of SqlClient always had the instance name support.

[2016-11-08 18:24] danmosemsft commented on #13455
I assumed what mattered was the build number 20161107.502..

[2016-11-08 18:25] joperezr commented on #4883
That's very interesting, I wonder why having the default TargetGroup would cause Resource Editing to stop working... I'll also take a quick peek to try to figure this out

[2016-11-08 18:29] danmosemsft commented on #13418
That seems to make XUnit's appdomain architecture (which is the default apparently) not very useful, if I understand right... I'd open an issue against them.

I suggest you update the targets to add a line like
`   <XunitOptions Condition="'$(XUnitNoAppDomain)' == 'true'">$(XunitOptions) -noappdomain </XunitOptions>`

then we can switch it off for just some tests if we want.

[2016-11-08 18:30] steveharter commented on #13471
@AlexGhiondea looks like the marshal methods return null now (and I'm assuming should just be removed since implemented in core now):
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices/src/System/Security/SecureStringMarshal.CoreCLR.cs#L10-L13

[2016-11-08 18:30] davidsh commented on #13470
cc: @CIPop

[2016-11-08 18:34] joperezr commented on #13418
@weshaggard is it expected to have different behaviours between .NET Core and Desktop? If not, I suppose Desktop has the right behaviour?

[2016-11-08 18:37] crummel commented on #12927
@roncain @danmosemsft @stephentoub Created PR https://github.com/dotnet/wcf/pull/1648 for WCF and https://github.com/dotnet/corefx/pull/13477 for CoreFx.

[2016-11-08 18:37] saurabh500 commented on #5024
This is not needed any more with the complete ADO.Net surface area coming in from the PR https://github.com/dotnet/corefx/pull/12426

[2016-11-08 18:37] #5024 closed

[2016-11-08 18:39] safern commented on #13418
There is some issues already opened against them but apparently they can't make their exceptions serializable because their assertion library is a PCL which targets platforms which do not support serialization. [Issue opened agains them] (https://github.com/xunit/xunit/issues/298)
[Another issue](https://github.com/Microsoft/msbuild/issues/1245)

@joperezr already spoke with @weshaggard and yes we

[2016-11-08 18:42] roji commented on #5024
@saurabh500, please consider reopening this. Regardless of whether the DataTable-based schema API is being brought back, ADO.NET deserves a more serious, statically-typed API for fetching database schema information. Even if this isn't strictly necessary for compatibility, it's a highly-desirable step forward if ADO.NET as an API is to evolve rather than stagnate.

[2016-11-08 18:43] danmosemsft opened #13478 "Misc NS2.0 in System namespace"
This is missing ISerializable.

[code]

This is missing the IEquatable implementation
[code]

[2016-11-08 18:43] weshaggard commented on #13418
What isn't clear to me is whether or not all failed assertions in our desktop runs are hitting this issue. If they are then we should probably start passing the noappdomain flag but if it is only on some tests where we are doing background work that happens go go into another appdomain then I'm less inclined to start passing the noappdomain flag.

[2016-11-08 18:44] danmosemsft commented on #13478
My bad. Invalid diff.

[2016-11-08 18:44] #13478 closed

[2016-11-08 18:51] mellinoe opened #13480 "Passing /p:testnugetruntimeid=win10-x86 fails"
Right now, if you pass `/p:testnugetruntimeid=win10-x86` to a test project, it fails for a couple of reasons (at least that I've identified).

* The rid is not listed in our [test-runtime project.json](https://github.com/dotnet/corefx/blob/master/src/Common/test-runtime/project.json#L391).
* ~~(after fixing the above) There is a runtime error when running the tests:~~

[code]

~~A `PlatformNotSupp

[2016-11-08 19:01] mellinoe commented on #13480
I also see that even using `win7-x86` also fails with `PlatformNotSupportedException`.

[2016-11-08 19:05] JeremyKuhne commented on #13474
@danmosemsft Something is probably holding an exclusive handle. Have you reproduced this anywhere else or seen it from a CI? If you can get it to fail consistently you might be able to catch who has the open handle to C:\Users\danmose\AppData\Local\IsolatedStorage or lower.

[2016-11-08 19:08] danmosemsft opened #13481 "Port System.Configuration"
Proposal is to port S.Configuration to Core (not part of .NET Standard) for use by user code -- not by the framework itself.

Note: this doesn't represent a commitment from us to port it to .NET Core -- it's simply a place for comments/discussion.

[2016-11-08 19:09] jamesqo commented on #13426
Maybe same people as from previous thread should also be cc'ed? cc @nietras @benaadams @omariom @GSPP @mikedn @adamsitnik

[2016-11-08 19:10] safern opened #13482 "System.ComponentModel.AsyncCompletedEventArgs has a different behavior in Desktop and .NET Core"
`System.ComponentModel.AsyncCompletedEventArgs.RaiseExceptionIfNecessary` have different behaviors in Desktop and .NET Core.

In Desktop if _error (expected exception to be thrown when an AsyncWork is completed and the result is an exception) is not null we would throw a `TargetInvocationException` with the _error as an `InnerException`.

In .NET Core we are throwing the _error Exception.

They sh

[2016-11-08 19:20] danmosemsft opened #13483 "Stragglers in S.Linq.Expressions"
These are in NS2.0 but not exposed

[code]

[2016-11-08 19:23] NickCraver commented on #5024
@roji That's a perfectly reasonable goal, but tailing it at the end of a very convoluted issue (largely filled with points that make less or no sense in a current context) won't be very productive. I'd definitely open up a new issue.

[2016-11-08 19:24] danmosemsft opened #13484 "Missing CriticalHandle.Close()"
Missed in https://github.com/dotnet/corefx/issues/11729

[2016-11-08 19:25] stephentoub commented on #13471
Already fixed:
#13473

[2016-11-08 19:27] danmosemsft opened #13486 "3 enums missing entries in Ref.Emit"
These are in NS2.0 but missing from our copies of the enums:

[code]

If they don't have meaning in Core, they should be present but using them can throw PNSE.

[2016-11-08 19:31] kouvel commented on #13484
Missed that, thanks. I'll add it to my next set of changes.

[2016-11-08 19:36] saurabh500 commented on #5024
@roji I had opened this issue to discuss alternatives to DbConnection.GetSchema API
That's the reason, I closed the issue as well because the `DataTable` is back and so is the `DbConnection.GetSchema`

I agree with @NickCraver . Consider opening an issue to target a more strongly typed API for Schema object.

[2016-11-08 19:40] JeremyKuhne opened #13487 "Move Path class down to CoreLib"
For 2 main reasons: perf and stability

We already have a copy of a significant chunk of code that went in with long path support. The code in CoreLib isn't as up-to-date or complete as what we currently have in CoreFX (partially because we were trying to maintain source compatibility with desktop and partially we were only enable AppDomain bring up). This wasn't a big deal when all we had was App

[2016-11-08 19:46] vcsjones commented on #13452
So the culprit here is, when parsing `/proc/x/maps`, `StringParser` is used to parse each element in the line, and uses a space as a separator. If the path contains a space, StringParser reads up to the first space. The line is [here](https://github.com/dotnet/corefx/blob/aab5e06732e729f3d8bc3baa2e0d0c1ba9cec518/src/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.cs#L164).

The correct thing to

[2016-11-08 19:47] Priya91 commented on #1378
Yes that's correct. @matekm The api you are adding is very specific to netcoreapp1.1, and the tests have to be marked to be run only for netcoreapp1.1 profile. checkout how the ```Queue.Generic.Tests.netcoreapp1.1cs``` file is included in the test csproj. You should put your tests in a new file and include it only for netcoreapp1.1 profile in test csproj. And in your ref\System,Collections.cs file

[2016-11-08 19:53] stephentoub commented on #13487
For reference, this is a profile I shared with Jeremy showing a fair amount of allocation coming from this at startup:
![image](https://cloud.githubusercontent.com/assets/2642209/20114660/21947a06-a5c3-11e6-9631-1a7e97eb407a.png)

[2016-11-08 19:53] chadbr commented on #9268
Anyone interested in helping me port the mono provider to .net core?

http://www.mono-project.com/docs/database-access/providers/oracle/

[2016-11-08 19:58] danmosemsft opened #13488 "FileStream missing IntPtr constructors"
These are missing
[code]

[2016-11-08 19:59] danmosemsft opened #13489 "FilexxException missing GetObjectData"
These are missing

[code]

[2016-11-08 20:01] jamesqo commented on #13426
@jkotas, @davidfowl's idea of having an `IPinnable<T>` interface would seem reasonable if there was an extra generic parameter constrained to that interface for the pinnable, and so no runtime overhead. For example:

[code]

[2016-11-08 20:02] danmosemsft opened #13490 "FileInfo missing Replace"
These NS2.0 methods are missing
[code]

I notice they're not in the mscorlib facade for some reason which may be why they were missed.

[2016-11-08 20:04] danmosemsft opened #13491 "FileSystemWatcher missing some NS2.0 methods"
Missing:

[code]

[2016-11-08 20:33] Dmitry-Me commented on #13469
@saurabh500 Yes, here's a short piece of code:

      Byte byteVal = 10; // this is what get_Byte() reads
      object byteValObj = byteVal; // this is how get_Value() boxes the value
      Int32 intVal = (Int32)byteValObj; // this is how to_Int32() fails to cast

[2016-11-08 20:35] ericstj opened #13493 "ReleaseNotes link results in 404"
The 1.1 release notes link points to https://go.microsoft.com/fwlink/?LinkID=799421 per https://github.com/dotnet/corefx/issues/8758#issuecomment-221048601, but that link is currently broken.

@leecow owns this link, can you please update as appropriate.

/cc @gkhanna79

[2016-11-08 20:52] komby commented on #11118
@steveharter   Is it necessary to actually implement the cspParameter or can this use the same approach that was used in the mono port  and throw an exception if the CspParameter is set?  " throw new NotSupportedException ("CspParameters are not supported by Mono");"

In my case I needed this to maintain support for legacy WCF services.  For now I was able to work around this missing by implementi

[2016-11-08 20:58] stephentoub commented on #13395
@mmitche, did this get updated?  Wondering if the legs can be re-enabled and this can be closed.

[2016-11-08 20:59] mmitche commented on #13395
@stephentoub Reverted.  SHould be good now.

[2016-11-08 21:14] #13452 closed

[2016-11-08 21:44] danmosemsft commented on #13471
is there more to this or is it fixed by the above?

[2016-11-08 21:45] stephentoub commented on #13471
We need updated packages to then re-enable the tests.

[2016-11-08 22:06] #9641 closed

[2016-11-08 22:07] karelz commented on #4979
We need formal API proposal.

[2016-11-08 22:11] karelz commented on #5182
No strong desire to do this from anyone for 10 months. Let's close it.

Overall it is unclear if it is a good idea, however, if there is a good API proposal thought through from all angles (esp. impact on Framework), we're willing to review it - in such case, please reopen the issue or create a new one.

[2016-11-08 22:11] #5182 closed

[2016-11-08 22:13] karelz commented on #5598
@alexperovich can you please review which of the items from the list are already done?

[2016-11-08 22:16] karelz commented on #8112
We need formal API proposal - e.g. making StringBuilderCache public, but thought through from all angles as proper public API.

[2016-11-08 22:26] leecow commented on #13493
Link target updated to https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1.0-preview1.md.

[2016-11-08 22:26] #13493 closed

[2016-11-08 22:39] krwq commented on #728
If the tool is not too big it might be worth to converting it to t4 template

[2016-11-08 22:39] tijoytom opened #13500 "Implement HttpWebRequest Timeout property"
Granular WinHttpHandler timeout properties are not exposed via the HttpClientHandler API , need timeout from HttpClientHandler to implement this.

[2016-11-08 22:41] crummel commented on #12927
Fixed in https://github.com/dotnet/corefx/pull/13477.

[2016-11-08 22:41] #12927 closed

[2016-11-08 22:50] tarekgh commented on #728
This issue already done in the BuildTools:

[code]

[2016-11-08 22:50] #728 closed

[2016-11-08 22:51] alexperovich commented on #12644
@terrajobst Is this api ready to implement provided:
- The shared pool isn't changed
- `minArrayLength` is rounded up to the next power of 2
- The performance remains the same or better

[2016-11-08 23:07] steveharter commented on #13456
Fixed with changes from @stephentoub

[2016-11-08 23:07] #13456 closed

[2016-11-08 23:09] danmosemsft opened #13501 "TestCopyConstructor_Lifetime_Cloned failed in ci - OpenCSP failed with error code 2148073494."
this code seems to be [keyset does not exist](http://index/?query=0x80090016&rightProject=mscorlib&file=system%5Csecurity%5Ccryptography%5Cutils.cs&line=54)

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2797/consoleFull#184376521779fe3b83-f408-404c-b9e7-9207d232e5fc

@steveharter

[2016-11-08 23:12] danmosemsft commented on #13501
@bartonjs

[2016-11-08 23:13] danmosemsft commented on #13474
i've only seen it once, locally. i'll close this until I can get that info in a future repro.

[2016-11-08 23:15] karelz commented on #1596
@krwq doesn't think it is such a great idea anymore.

[2016-11-08 23:15] #1596 closed

[2016-11-08 23:15] danmosemsft commented on #12696
@Priya91 please sync with Lee, port if they are accepting changes of this sort, otherwise please close this

[2016-11-08 23:17] karelz commented on #2538
We need formal API proposal.

[2016-11-08 23:17] karelz commented on #2618
We need formal API proposal.

[2016-11-08 23:24] karelz commented on #3850
Should be simple change of tests to set culture to InvariantCulture first.

[2016-11-08 23:26] danmosemsft commented on #11082
@brentschmaltz are you still planning to work on this one? We are trying to close down the issues of API incompatibility this month.

[2016-11-08 23:26] karelz commented on #3968
We need someone to debug it. It might be specific to machines in special Culture.

[2016-11-08 23:27] karelz commented on #1271
This will be somewhat involved implementation.

[2016-11-08 23:30] weshaggard commented on #9156
One thing that has changed is that we are now aggregating and updating the auto-PR's which cuts down on the noise of updates. It still causes a lot of files to churn in the repo which we will likely be helped with our upcoming engineering push but I think there will always be a need for update our dependencies that come from outside our repo.

[2016-11-08 23:33] gkhanna79 commented on #9917
@JohnChen0 Now that you have been able to do a CoreFX run on Nano, can you also look into running CoreFX tests on OneCoreUAP once we are done with Reverse Forwarders work?

[2016-11-08 23:34] weshaggard commented on #12581
We don't really have a guide, the closest would be https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/ which talks about the APIs available and about out to use apiport.

With that said I don't think the answer for this particular issue is to port code from .NET 4.5.1 to .NET Core as this is an issue on .NET that we should independently look into.

[2016-11-08 23:40] karelz commented on #11897
We need formal API proposal.
It will be entangled with all the other TimeZoneInfo issue - will likely be non-trivial API design and implementation.

[2016-11-08 23:41] karelz commented on #12518
Looks like non-trivial bug fix.

[2016-11-08 23:44] #13395 closed

[2016-11-08 23:45] karelz commented on #13171
@AlexGhiondea's tool will track it for Desktop porting.

[2016-11-08 23:45] #13171 closed

[2016-11-08 23:47] karelz commented on #13170
This does not look like must have in 1.2 (@tarekgh says), moving to Future.

[2016-11-08 23:48] karelz commented on #13130
Now it is tracked by @AlexGhiondea's tool, we do not need this bug opened anymore.

[2016-11-08 23:48] #13130 closed

[2016-11-08 23:50] karelz commented on #1647
@KrzysztofCwalina what is the value of the refactoring? How will customers / our code benefit?

[2016-11-08 23:51] karelz commented on #1900
@KrzysztofCwalina we need more info about it ...

[2016-11-08 23:53] karelz commented on #1961
@KrzysztofCwalina can you tell us what exactly is needed? It is not clear, sorry.

[2016-11-08 23:54] karelz commented on #2102
We need formal API proposal -- if it is in the discussion, please distill it out and update the original post.

[2016-11-08 23:56] karelz commented on #2217
We need formal API proposal -- a flag on UTF8Encoding class.

[2016-11-09 00:22] capiono opened #13504 "Publishing Core application targeting net461"
In order to use Oracle I'm targeting net461 in my Core application. After  publishing IIS on win server 2012.
I get this error:
![image](https://cloud.githubusercontent.com/assets/9387260/20122641/2cc1cd10-a5e7-11e6-8fed-c819c6e104d0.png)
[code]
my config file:

 `<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWin

[2016-11-09 00:34] karelz commented on #12696
I spoke with @leecow and he mentioned it is ok. We just need to send info to shiproom "hey, FYI we ported this one - test only change".

[2016-11-09 00:37] karelz commented on #13504
@weshaggard @ericstj any advice here?

[2016-11-09 00:40] KrzysztofCwalina commented on #8034
@terrajobst, how far is this in out API triage/review queue? I think it's a simple API that we always wanted to add to the platform and possibly we now have enough critical mass to actually do it?

[2016-11-09 00:42] weshaggard commented on #13504
It looks like when you are targeting net461 the System.AppContext library is missing. In your project.json file I don't see any direct references to that package perhaps it is missing from the dependencies from the PlatformAbstractions when targeting net461.

@capiono try adding a package dependency to System.AppContext version 4.1.0 and see if that helps.

[2016-11-09 00:46] mellinoe commented on #8034
I think it's ready to review in its current state.

[2016-11-09 00:47] KrzysztofCwalina commented on #1647
This code is or will be duplicated in other libraries if it's not refactored.

[2016-11-09 00:48] stephentoub commented on #13500
@tijoytom, why are granular timeouts needed for this?

[2016-11-09 00:51] karelz commented on #1647
I don't quite follow. Can you please provide a bit more detail?
Is it implementation refactoring or API surface refactoring?

[2016-11-09 00:57] capiono commented on #13504
No, that didn't help.

[2016-11-09 00:58] KrzysztofCwalina commented on #1647
The component has internal APIs that could/should be made public, e.g. GetScalarValueFromUtf16, GetUtf8RepresentationForScalarValue. These are general purpose routines that are duplicated in, for example, some of the corfxlab work we are doing.

And so it's implementation refactoring, not API refactoring as these things are not APIs (yet).

[2016-11-09 01:25] #13338 closed

[2016-11-09 02:03] svdh2 opened #13505 "Support for 64 bits array"
Is there a reason to limit arrays to 32 bit only addressable ones?

Working around it might severely impact some HPC apps that manipulate large sets of data.

I understand that .NetCore might run on some platforms that are not 64 bits and not many applications need such large arrays. But this seems a very limiting decision as we see more and more platforms going 64 bits and we are coming into the

[2016-11-09 02:04] jamesqo commented on #8034
@mellinoe That's great! I've cleaned up the proposal a bit to make it more terse, and also added some questions at the end I think should be addressed.

[2016-11-09 02:33] jamesqo commented on #8112
@karelz, yep. I didn't submit a proposal yet since I'm not sure how `StringBuilderCache` is currently written is the way to go.

Would it be feasible to add APIs to StringBuilder allowing it to use pooled `char[]`s, instead of pooling the StringBuilders themselves? That way we wouldn't have to change System.Buffers at all, just use `ArrayPool<char>.Shared.Rent`, feed it to the StringBuilder, and r

[2016-11-09 02:42] jiangzeng commented on #13298
The error message in build 20161108.502 is:
[code]
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161108.502/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FNoCallback_RevokedCertificate_NoRevocationChecking_Succeeds

[2016-11-09 03:04] jiangzeng commented on #10842
It's failing in build 20161108.502.

[code]

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20161108.502/workItem/System.Console.Tests/analysis/xunit/ReadAndWrite~2FOutputEncoding

[2016-11-09 03:11] svick commented on #13505
What makes you say so? How severe would the impact actually be?

Arrays are a pretty fundamental part of .Net, so I think that supporting 64-bit arrays would not be trivial and would require a convincing argument.

Also, it was recently considered whether `Span<T>` should support 64-bit, but [it was eventually decided it should not (at least for now)](https://github.com/dotnet/apireviews/tree/mast

[2016-11-09 05:36] stephentoub opened #13510 "Several assemblies still missing code coverage"
Several corefx assemblies are still missing code coverage data (due to missing PDBs?)  The ones I noticed:

- System.IO.MemoryMappedFiles
- System.Net.Security
- System.Net.WebSockets.Client
- System.Runtime.InteropServices.RuntimeInformation
- System.Security.AccessControl
- System.Security.Principal.Windows

cc: @crummel, @danmosemsft

[2016-11-09 05:52] krwq commented on #962
Hi @mikega, Thanks for interest in here! Sorry I haven't noticed your question before. If you are still interested, the code was moved to System.Private.Xml/Xml.Linq:
https://github.com/dotnet/corefx/tree/master/src/System.Private.Xml/tests/XPath/XmlDocument
https://github.com/dotnet/corefx/tree/master/src/System.Private.Xml.Linq/tests/XPath/XDocument

[2016-11-09 06:21] svdh2 commented on #13505
You make sense. Without data there is no real discussion.

So I implemented a small test, the code is bellow. I am not sure how relevant the data is as I use a coarse real world time as proxy for execution time. At least it gets the ball rolling.

It has an impact of about 5% the first run but then the impact is drastically reduced in the next runs to around 0.3%. I guess the incremental compiler

[2016-11-09 06:50] karelz commented on #8112
How would the StringBuilder API look like? We do not want to mess it up too much.
Having extra Pool/Cache type helps to isolate the caching logic details in there ... (just my 2 cents, I don't have deep expertise here)

[2016-11-09 06:54] karelz commented on #1647
I see your point now - I misunderstood the title.
In that case we need formal API proposal.

[2016-11-09 08:36] #12797 closed

[2016-11-09 14:21] #13410 closed

[2016-11-09 14:21] #13429 closed

[2016-11-09 14:34] stephentoub commented on #1836
To me that feels like the case here.  Yes, consistency across the implementation is nice, but these are error conditions that have been like this for years, and changing it has a chance of breaking code while not providing significant benefit.

[2016-11-09 14:48] stephentoub commented on #8931
We should not obsolete them; as highlighted, there are valid uses.  I'd be fine with an analyzer that warned about blocking behaviors in general, not just limited to Task, but rather an analyzer that, for example, warned any time you were using a synchronous/blocking API when an asynchronous alternative existed.  I do expect that such an analyzer would have a relatively high noise to signal ratio,

[2016-11-09 15:11] stephentoub commented on #13356
The test itself is simply bad, with race conditions that can lead to such failures.  I'm actually quite surprised we haven't seen it fail before.

[2016-11-09 16:20] pasikarkkainen commented on #2089
Yes, please add System.DirectoryServices to .NET Core!

[2016-11-09 16:23] #13331 closed

[2016-11-09 16:23] #13471 closed

[2016-11-09 16:43] weshaggard commented on #13504
@davidfowl does this issue look familiar?

[2016-11-09 16:46] bartonjs commented on #4647
The identifiers have been brought back as a part of the netstandard2.0 effort; but at this time there still aren't CFB implementations available in .NET Core (it being pretty scatter-shot in the .NET Framework).  I was going to say "because Windows CNG doesn't expose it", but while OFB is not exposed CFB does seem to be; so perhaps this would be feasible.

[2016-11-09 16:55] bartonjs commented on #9337
Since the infrastructure has changed many a time, `NegotiateStream_EchoServer_ClientWriteRead_Successive_Async_Success` seems to be enabled, and that test is not failing in Helix, this seems to be a resolved problem.

[2016-11-09 16:55] #9337 closed

[2016-11-09 17:05] bartonjs commented on #8423
#6302 has an instance of getting back Array.Empty already, so closing this as duplicate.

[2016-11-09 17:05] #8423 closed

[2016-11-09 17:40] JonHanna opened #13516 "Cannot cast bool to bool-based enum in Convert Expression."
If one has a `Type`, `boolEnumType`, which is of an `Enum` type with `bool` as its underlying type (from somewhere outside of C# since C# can't create those) then one should be able to cast a boolean value to it with Expressions.Convert:

[code]

However, the compiler throws an `ArgumentException("Unhandled convert: bool")` on compilation, and the interpreter compiles but on execution throws `Inva

[2016-11-09 17:56] GibSral opened #13519 "ReliableSession in WCF missing (dotNetCore / UWP)"
I try to establish a reliable duplex connection via WCF (netTcpBinding) in UWP.
NetTcpBinding/NetHttpBinding does not offer the possibility to configure a reliable session (option missing in ctor).

[2016-11-09 17:58] danmosemsft opened #13520 "Revert renamed parameters"
Renaming a parameter is a disallowed [breaking change](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md)

public class DuplicateWaitObjectException : ArgumentException, ISerializable {
public DuplicateWaitObjectException(string message, Exception **innerException**inner);

public class TypeUnloadedException : SystemException, ISerializable {
pub

[2016-11-09 18:26] tquerec commented on #2089
We have plans to port System.DirectoryServices.Protocols within the next year.  At this point I can't provide a firmer date.  We don't yet have plans to port System.DirectoryServices or System.DirectoryServices.AccountManagement but I’m interested in gauging interest.  Are there features of those namespaces people are using which can’t be solved with Protocols?

[2016-11-09 18:32] terrajobst commented on #1836
OK, that sounds to me we should close this.

@Clockwork-Muse, please let me know if there is something we didn't take into consideration.

[2016-11-09 18:32] #1836 closed

[2016-11-09 18:40] #12000 closed

[2016-11-09 18:45] #11634 closed

[2016-11-09 18:49] alexperovich opened #13522 "Add tests for marshal secure string apis"

[2016-11-09 19:02] bartdesmet opened #13523 "System.Linq.Expressions code coverage partial report"
It currently shows as 27%, while we expect a much higher number (it was 80% or more IIRC before code coverage stopped working in CI). This may be related to https://github.com/dotnet/corefx/issues/13510.

One observation is that all interpreter code isn't covered, so there may be a compilation symbol missing for the test assembly build. Another contributing factor may be the merge of `System.Dynam

[2016-11-09 19:09] benaadams commented on #8931
@terrajobst I think @stephentoub makes a lot of sense. Closing.

[2016-11-09 19:16] Clockwork-Muse commented on #1836
@terrajobst - :shrug:  well, it's not like people should be aiming to hit these, and most of them would indicate programmer error anyways.

[2016-11-09 19:22] shmao commented on #10592
#11752 fixed the issue. Closing this.

[2016-11-09 19:22] #10592 closed

[2016-11-09 19:26] alexperovich commented on #3778
@terrajobst do we have any plans in this area?

[2016-11-09 19:27] dagood commented on #9156
One thing to point out that we don't do is:

There currently isn't a plan for that, either. (Should there be?)

[2016-11-09 19:27] CIPop commented on #13464
+1 Repro on both Ubuntu 16.04.1 LTS and 14.04.

[2016-11-09 19:29] stephentoub commented on #13464
It's interesting that it's apparently passing in CI

[2016-11-09 19:51] alexperovich commented on #5921
Can someone make a formal api proposal?

[2016-11-09 19:54] vcsjones commented on #2743
I could possibly do a PR for this. Is the code path for this `X509Certificate2Collection.Export` with the content type set to PKCS12?

[2016-11-09 19:55] alexperovich commented on #2315
@kendrahavens is there something here that isn't satisfied by the `System.Drawing.Color` type that is now in core?

[2016-11-09 19:56] alexperovich commented on #11718
Closing as nothing can be done here. Reopen if we can get a dump or clean repro.

[2016-11-09 19:56] #11718 closed

[2016-11-09 20:12] NickCraver opened #13526 "Proposal: Adding System.SemanticVersion"
One of the issues I keep running into with the "default open" world: prereleases. As more and more projects move to semantic versioning, it'd be nice to have a built-in type to handle these. Today, this fails:

[code]
Because [`System.Version`](https://msdn.microsoft.com/en-us/library/system.version_properties.aspx) has no concept of pre-release suffixes. I'm not arguing it should be added (that's

[2016-11-09 20:14] somewhatabstract commented on #13526
As an addition, I'd want to see an associated comparer that could properly sort `SemanticVersion` and `Version` values together using semantic versioning rules.

[2016-11-09 20:19] mellinoe commented on #2315
`System.Drawing.Color` is really just a legacy type, and shouldn't be used for new code targeting .NET, in my opinion. It's only there for compatibility.

[2016-11-09 20:35] stephentoub commented on #13523
Hmm.  When I do a local code coverage run for System.Linq.Expressions, the report does list line coverage of 74.1% and branch coverage of 72.8%, which sounds in line with where you expected it to be.  In the CI run at https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/62, though, as you suggest, it's showing as 27%.  One interesting thing is that in the log, it does look lik

[2016-11-09 21:00] rock-meister commented on #2089
@tquerec I am not familiar with Protocols.  We have a project to do Active Directory self service project to do Account Unlock and Account password reset.  We use UserPrincipal in the project and invoke the methods like FindByIdentity, UnlockAccount, SetPassword,, ExpirePasswordNow,.
I am not sure if these can be done on Protocols but looks like Protocols is a lower level implementation versus Acc

[2016-11-09 21:22] JonHanna commented on #13523
Yeah, it had been in the mid-80s before the dynamic stuff was added more untested stuff.

Looking at line 169 at https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/System.Linq.Expressions_Expression_1.htm it seems that maybe it's being compiled with FEATURE_INTERPRET not defined, but the results interpreted for coverage as if it was.

[2016-11-09 22:01] #11067 closed

[2016-11-09 22:10] karelz commented on #1132
It may require structural changes to original Desktop code.

[2016-11-09 22:22] karelz commented on #2667
It is likely OS bug - we should report it and make the test resilient when it is hit.
@bartonjs ran it 100,000x in a loop, but it didn't fail. It might be caused by parallel tests running.

[2016-11-09 22:23] CalebMacdonaldBlack commented on #2089
@nevcoBpalacio definitely should be more than a vote I agree.  I think this really needs more priority.

[2016-11-09 22:26] karelz commented on #3034
This is likely quite involved - Networking and cryptography (in lower levels where you cannot use System.Net).

[2016-11-09 22:28] CIPop commented on #13464
@stephentoub The test has a hard dependency on the machine configuration / Ubuntu and seems to be a bit different from the .Net Desktop test. There are three issues leading to the problem:

* Machine/OS specific: Ubuntu has an `/etc/hosts` entry associating `127.0.1.1` with the machine hostname.

This article explains the config a bit: http://askubuntu.com/questions/754213/what-is-difference-betwe

[2016-11-09 22:31] karelz commented on #3334
We need someone to finish it up in the branch.

[2016-11-09 22:33] karelz commented on #3474
We need a plan what to do on older Linux kernel versions (fail, guess, or wait forever)

[2016-11-09 22:37] karelz commented on #3843
Unknown complexity of implemenation

[2016-11-09 22:38] karelz commented on #3892
High cost, low value -> close for now.
Note: Multicomponent RDNs are disrecommended in X.509 spec.

[2016-11-09 22:51] karelz commented on #4581
The algorithm seems to be in decline of usage. If we had the API and implementation, there would be associated cost of maintenance, security review, and security patching ... quite non-trivial cost.
We should rather spend our time implementing newer algorithms.

Please let us know if you think we forgot some arguments ...

Another option is to create a library on top of .NET Core which implements

[2016-11-09 22:51] #4581 closed

[2016-11-09 22:56] karelz commented on #4647
@lextm do you know how well it is supported in Desktop .NET Framework? If not everything supports it, we wonder if it is really necessary in .NET Core.

[2016-11-09 23:00] karelz commented on #2089
@CalebMacdonaldBlack it would be helpful if you can answer @tquerec question about usage patterns and why is what needed. More upvotes or "I agree/ it is important" without scenarios won't help raise the priority at this moment ... Thanks!

[2016-11-09 23:06] h3smith commented on #2089
Our usage is scanning/searching LDAP, doing BIND to verify credentials, adding/removing LDAP objects (users, groups), modifying membership in groups, etc.

[2016-11-09 23:09] CIPop commented on #12735
I believe I've fixed this with #13075.
Please re-open with details if more work needs to be done.

[2016-11-09 23:09] #12735 closed

[2016-11-09 23:30] lextm commented on #4647
As @CodesInChaos indicates the encryption goes through `RijndaelManaged` class,

https://github.com/lextm/sharpsnmplib/blob/master/SharpSnmpLib/Security/AESPrivacyProvider.cs#L128

It runs fine on full .NET Framework for years, so I was hoping it could be implemented.

Thus, I listed more info below to see if we can now assert whether it should be dropped.

1. SNMP is still a widely used protocol.

[2016-11-09 23:33] karelz commented on #1920
Be warned, it may be not possible to implement it. Expectation: medium complexity.

[2016-11-09 23:34] jimcarley opened #13532 "Implement distributed/promoted transactions in System.Transactions."

[2016-11-09 23:41] karelz commented on #8578
We should use the APIs which were brought back - we need to check if the code base is ready for them.

Should be straightforward, just be careful to keep the semantics the same.

[2016-11-09 23:44] karelz commented on #11934
We need to find a root cause - should be able to get it our of debugger, monitoring allocated memory.

[2016-11-09 23:50] karelz commented on #12286
Casting to IDictionary unblocks people to achieve their goal. Exposing members on the type would be a breaking change (name collisions). The value is not worth the breaking change.

[2016-11-09 23:50] #12286 closed

[2016-11-09 23:52] alexperovich commented on #2315
Okay, we need an api proposal to review.

[2016-11-09 23:55] karelz commented on #12643
We are fine to take targeted perf improvements in the area which do not break existing code -- please file separate issues for those.
However, doing a major surgery on the code base would be super-hard / impossible to do in a compatible way. It is not worth the trouble.
Closing this issue as it tries to track either the large surgery we do not want, or multiple small things - file them either sepa

[2016-11-09 23:55] #12643 closed

[2016-11-10 00:13] karelz commented on #3778
@JimBobSquarePants very sorry for the extra delay. We are finally getting to proper triage of all issues on GitHub.
To my knowledge we do not have any immediate or medium-term plans to create new libraries. Definitely not unless there is a high demand from customers.
I think that it is a great thing that you have a library which is used. I would recommend you to keep working on it. If we ever go i

[2016-11-10 00:13] #3778 closed

[2016-11-10 00:15] karelz commented on #5255
Should be simple. We do not see any reason why not to do it, but if someone grabs it, we would first do quick API review.

[2016-11-10 00:16] liquidboy commented on #2089
definetely agree with h3smith ..  we needed this for v1 and instead are forced to go the Novel path , which we have hobelled together  (especially the replication bits) and is causing us grief with the overhead of maintenance etc..   This is making .NETCore look bad as a side effect of the difficulty of using Novel LDAP etc...

[2016-11-10 00:19] karelz commented on #10824
BTW: Test has been disabled

[2016-11-10 00:20] karelz commented on #11332
@AlexGhiondea's tool will track it for Desktop porting (netfx-port-consider). Closing from .NET Core point of view.

[2016-11-10 00:20] #11332 closed

[2016-11-10 00:30] karelz commented on #2089
@liquidboy

Do you mean .NET Core v1 -- that is done and shipped. We are working on 1.2 now. Or did you mean something else?

What does it mean? (Sorry I have zero context on DirectoryServices, but I would love to understand what we are missing on from scenarios point of view)

[2016-11-10 00:39] JamesNK opened #13535 "Add an API to determine whether the current environment supports JIT vs is native"
There is no way to determine whether the current environment is a JIT one or a .NET Native one.

Please add a way to discover this information at runtime so libraries and applications can enable or disable using features like IL emit which required a JIT environment.

// cc @terrajobst

[2016-11-10 00:40] JimBobSquarePants commented on #3778
Thanks @karelz I appreciate it.

We've been making excellent progress so far with my xPlat library now called [ImageSharp](https://github.com/JimBobSquarePants/ImageSharp) and would welcome any input from anyone interested in the subject.

[2016-11-10 00:56] liquidboy commented on #2089
@karelz  just do a search in this thread for the word "novel" and you'll see what i mean, another dev on my team commented about (along with others) on the gap that led to us using novel.

And yep i did mean .NET Core v1 which has already shipped, we've been working on our solution for over a year and we needed a good DirectoryServices solution back then .. We hit a wall and thus had no option but

[2016-11-10 00:56] JimBobSquarePants commented on #2315
There's more to a single color struct that meets the eye. Whatever would be designed would have to interop well with existing libraries and be performant. TBH I'm not sure it is something that should exist on its own outwith a graphics library.

[2016-11-10 01:07] karelz commented on #2089
@liquidboy thanks for the link -- if it is in Mono, we should be able to reuse the source code in .NET Core AFAIK. @tquerec given the interest, is it something your team would consider?

[2016-11-10 01:09] jimcarley opened #13537 "Add tracing to SysTx test classes with ITestOutputHelper to assist debugging failures."

[2016-11-10 01:11] karelz commented on #13526
Sounds like a good idea. Also quite a few votes (15) in just 5 hours ...

Side question out of curiosity: Are all those 15 folks watching the whole repo or was the issue promoted somewhere (Twitter, MVP summit)?

[2016-11-10 01:12] karelz commented on #13526
We need formal API proposal ...

[2016-11-10 01:18] CIPop commented on #7597
Looks like there's a tracking item here #11057 stating that build/test isn't working yet.

[2016-11-10 01:21] svick commented on #13535
If you want to know whether IL emit, or some other feature, is available, wouldn't an API that tells you exactly that be better?

Distinguishing between JIT and AOT would work now, but I can imagine that it might not work in the future.

[2016-11-10 01:27] svdh2 opened #13538 "Memory statistics and portable interop."
Is there a way to get free memory statistics?

I am interested in getting for example free pages available to know if my app should cache more things in memory or not.

Up until now, with mono I did detect the OS info and based on that I did custom inter op for each supported system. This had the nice property that I need to release only one binary and only one tool chain to maintain.

For not the

[2016-11-10 01:35] karelz commented on #13519
https://github.com/dotnet/wcf repo is the right place.

[2016-11-10 01:35] #13519 closed

[2016-11-10 01:42] svick commented on #13538
Why can't you use the solution you use on mono also on .Net Core?

[2016-11-10 01:45] karelz commented on #5598
@alexperovich ping?

[2016-11-10 01:45] svdh2 commented on #13538
Because I have no OS information to know what functions I can p/invoke.

I could try each p/invoke untill I find one that does not fail, but this is still ugly and many people will need this functionality.

[2016-11-10 01:47] karelz commented on #12644
@alexperovich you should mark it as api-ready-for-review, if you think it is ready for review ...

[2016-11-10 02:15] #12639 closed

[2016-11-10 02:16] #12840 closed

[2016-11-10 02:23] dotnet-mc-bot opened #13539 "Test failure: System.Net.Sockets.Tests.Shutdown/Shutdown_TCP_CLOSED_Success"
Opened on behalf of @jiangzeng

The test `System.Net.Sockets.Tests.Shutdown/Shutdown_TCP_CLOSED_Success` has failed.

System.Net.Sockets.SocketException : An existing connection was forcibly closed by the remote host

        Stack Trace:

           at System.Net.Sockets.Socket.Receive(Byte[] buffer, Int32 offset, Int32 size, SocketFlags socketFlags)
       at System.Net.Sockets.Socket.Receive(By

[2016-11-10 02:50] bartdesmet opened #13541 "RuntimeOps.Expando* methods missing?"
We have code like this:

[code]

in `ExpandoObject.cs` in `System.Linq.Expressions`, but these methods do not exist.

[2016-11-10 03:09] saurabh500 commented on #13469
@Dmitry-Me The SqlClient API which can cause the `InvalidCastException` to throw for the use case you have defined is `SqlDataReader.GetInt32`
https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqldatareader.getint32(v=vs.110).aspx

The documentation states that the exception is expected if `The specified cast is not valid.`

Let me know if you have any other use case which can  cause

[2016-11-10 03:09] #13469 closed

[2016-11-10 03:13] JonHanna commented on #13541
Likewise `ExpandoTryGetValue` and `ExpandoTrySetValue`.

Perhaps omitted because they're obsolete and only being accessed through `GetMethod()` meant the seemed save to leave out?

[2016-11-10 03:15] saurabh500 commented on #13032
@Kation
Does this happen when you try to print the value of object on Console ? `Console.WriteLine(offendingObject)`

Does it repro in any other language as well apart from ZH-CN ?

I want to understand if this is a tooling issue or an issue with SqlConnection?

@karelz Can you get someone from VS tooling to look into this as well?

[2016-11-10 03:15] JonHanna commented on #13541
And a few more like `ExpandoPromoteClass` and so on, too.

[2016-11-10 03:19] saurabh500 commented on #12472
@corivera Is it possible to get the networking error numbers from Managed SNI as well?

@MitchellSternke This is expected behavior for now. In case of SqlClient on Windows, the error numbers are present because the SqlClient uses the Windows networking error codes to populate SqlErrors.

For MacOS and Linux we rely upon the errors being sent by the System.Net.* APIs from .Net framework itself whic

[2016-11-10 03:21] saurabh500 commented on #12072
@jhudsoncedaron What is the OS on which the Client code is running?

[2016-11-10 03:57] Kation commented on #13032
@saurabh500
It can print the class name in the Console.
There is no error to do all things in the codes but use in the **Visual Studio Window** like **Watch Window** etc.

I have no English environment right now. I will test it later.

[2016-11-10 05:04] karelz commented on #13538
How would the API look like?

[2016-11-10 05:19] karelz commented on #13032
@noahfalk @cshung @FrankPeschel-Gallee do you know how to reach folks in VS Debugger who know about expression evaluator?
@Kation you can use VS feedback channel - menu: Help -> Send Feedback -> Report a Problem...

Given that the issue is likely in VS, not in .NET Core / System.Data.SqlClient, I would suggest to close this issue.

[2016-11-10 05:35] Dmitry-Me commented on #13469
@saurabh500 Yes, it does what the documentation says but it still makes no sense.

Also the code is written as if the conversion was intended but is underimplemented. Code that intended to only allow specific types would do something like this:

    if( storageType == expectedType )
        return storedData.appropriateMember;
    throw new InvalidCastException();

but instead of explicitly throwi

[2016-11-10 06:02] svdh2 commented on #13538
So there are two things that implemented in the CLR could help.

- figuring out which OS we are running. I have seen discussion about implementing  Environment.OSVersion and return an enum or a string. I would return a object OSType. OSType would be  extended for each port of the CLR as the port will be machine OS specific and the implementor will be the most knowledgeable to implement it.
 the Hi

[2016-11-10 06:58] roji opened #13544 "Strongly-typed database schema API that doesn't rely on DataTable"
The current API to expose database schema is `DbConnection.GetSchema()`. This has some disadvantages:
* Reliance on DataTable
* A weakly-typed API. Aside from being less usable, this promotes less uniformity across providers as different weakly-typed properties can be populated.

A modern, strongly-typed *resultset* schema API has already been added - `DbDataReader.GetColumnSchema()` effectively r

[2016-11-10 07:35] pasikarkkainen commented on #2089
@tquerec: We need the following:
System.DirectoryServices, System.DirectoryServices.AccountManagement, System.DirectoryServices.ActiveDirectory, and System.DirectoryServices.Protocols.

Those are needed to connect to and manage Active Directory users and groups, just like described in above replies aswell. It is important to have these features in .Net Core !

[2016-11-10 07:59] NickCraver commented on #2089
I agree with others. I need this to port any of our apps that auth against ActiveDirectory to .NET Core. This is pretty fundamental, it should definitely be in the soonest release possible. It's **the** blocker to porting so many things.

[2016-11-10 08:03] NickCraver commented on #13526
I'm talking with the NuGet team tomorrow, I'll try and follow-up on this after. They obviously have some good insights here that are excellent use cases and considerations. I'll try to pitch a formal API (or provide more info) as soon as time allows afterwards.

[2016-11-10 08:38] MontyGvMC commented on #12987
tried netcat -v -z ip port (I am not sure if we have server/domain names in our internal development network)

results:
`me@ubuntu:~$ netcat -v -z 192.168.101.42 1433
Connection to 192.168.101.42 1433 port [tcp/ms-sql-s] succeeded!`

Is that what you meant with the results from the netcat tool?

[2016-11-10 08:53] Kation commented on #13032
@karelz
Maybe this is an issue with .Net Core Tools For Visual Studio?