[2015-10-28 22:38] saurabh500 opened #4217 "System.Net.Security not found on Linux"
I installed the runtime version 1.0.0-rc1-16048 on Ubuntu 14.04 and tried to connect to Azure Sql database on Linux
When I run the test I receive the error
System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

I checked the runt

[2015-10-28 22:39] tmat commented on #2217
I expect this:
http://source.roslyn.io/#Microsoft.CodeAnalysis/PEWriter/BlobUtilities.cs,15d9d2fb5564ddbc,references

[2015-10-28 22:54] tarekgh commented on #2217
You can achieve this result by simple implementation of custom EncoderFallback and EncoderFallbackBuffer

https://msdn.microsoft.com/en-us/library/system.text.encoderfallback(v=vs.110).aspx
https://msdn.microsoft.com/en-us/library/system.text.encoderfallbackbuffer(v=vs.110).aspx

Encoding fallback mechanism is originally introduced to address the scenarios like yours.

[2015-10-28 23:02] tmat commented on #2217
Yes, i know. The point is I shouldn't need to be doing this.

[2015-10-28 23:07] tarekgh commented on #2217
why? the default behavior is conforming with the standard. any other behavior is achieved by the fallback mechanism. why we need to add more configuration to the API to let it do that while there is already unified way to do it? also looks this is not main stream case either as we didn't get anyone raising this issue.

[2015-10-28 23:08] tmat commented on #2217
Are encoding fallbacks available on CoreCLR?

[2015-10-28 23:11] tarekgh commented on #2217
Yes it is supported in System.Text.Encoding 4.0.10.0 contract

[2015-10-28 23:17] tmat commented on #2217
Can you point me to an example of how this is supposed to be used?

[2015-10-28 23:20] YoungGah commented on #2249
@bricelam: It is not ideal that Dispose calls Close but unfortunately that is how Dispose is implemented on NET Framework. As for Close being removed from DbDataReader, we carefully reviewed all Close methods under System.Data.Common as Close is a synonym for Dispose. We concluded that Close on DbDataReader is redundant and does not provide any additional value unlike Close method on DbConnection.

[2015-10-28 23:22] mellinoe opened #4219 "[System.Console] Behavior of piping into a bad/nonexistent program on Unix"
Right now, if you try to pipe a program's output into a non-existent program on Unix, you will get an IOException on the first call to Console.Write(Line) (and probably other paths):

[code]

I chatted with Stephen briefly and we thought that it might be sensible to just ignore this particular exception (in Interop.CheckIO) and allow the program to continue. That is, if we are able to easily detec

[2015-10-28 23:24] tarekgh commented on #2217
You may look at https://github.com/dotnet/corefx/blob/ceae1d38c93e3f53210ad91884dabc1bd6d30a90/src/System.Text.Encoding.Extensions/tests/Fallback.cs
it has simple example which you can modify to make it work the way you like. let me know if you want me help with that too.

[2015-10-28 23:24] saurabh500 commented on #2461
The change has been delivered to release/1.0.0-rc1 branch.
Closing the issue

[2015-10-28 23:24] #2461 closed

[2015-10-28 23:34] tmat commented on #2217
I don't understand what GetNextChar is supposed to do? I need to return 3 bytes for the unpaired surrogate. Where do I return those bytes?

[2015-10-29 00:04] tarekgh commented on #2217
first you may not need to implement anything if you just used the replacement fallback. something like

            Encoding utf8 = Encoding.GetEncoding("utf-8", new EncoderReplacementFallback("\uFFFD"), new DecoderReplacementFallback("\uFFFD"));
            byte[] bytes = new byte[10];
            int count = utf8.GetBytes("\ud800", 0, 1, bytes, 0);

to answer your question just in case you still

[2015-10-29 00:15] tmat commented on #2217
From what you describes it looks to me that the fallbacks are not designed to support the scenario.

I don't need to replace an unpaired surrogate with another character. I need to encode it as 3 bytes (using the encoding I described above). I don't see how I can achieve it using the fallbacks.

[2015-10-29 00:23] tarekgh commented on #2217
actually you are doing exactly the same as the fallback is doing. you have the code which is doing the check
                     const char ReplacementCharacter = '\uFFFD';
                            if (!allowUnpairedSurrogates)
                            {
                                c = ReplacementCharacter;
                            }
and then you encode \uFFFD to utf8 using

(byte)((

[2015-10-29 00:27] tmat commented on #2217
Not quite. That replacement with \uFFFD only happens when we *don't* allow unpaired surrogates. If we do the surrogate itself gets encoded into the 3 bytes.

[2015-10-29 00:28] tmat commented on #2217
(the method I pointed at above implements 2 kinds of encodings).

[2015-10-29 00:34] tarekgh commented on #2217
in your code if you have valid paired surrogate you'll encode it in 4 bytes

                            // surrogate pair
                            if (IsHighSurrogateChar(c) && charPtr < strEnd && IsLowSurrogateChar(*charPtr))
                            {
                                int highSurrogate = c;
                                int lowSurrogate = *charPtr++;

[2015-10-29 00:55] #4143 closed

[2015-10-29 01:05] tmat commented on #2217
The difference for "\uD800" is:

```ED-A0-A0``` (our impl with allowUnpairedSurrogates = true)
```EF-BF-BF``` (our impl with allowUnpairedSurrogates = false)
```EF-BF-BF``` (fallback)

[2015-10-29 01:28] tarekgh commented on #2217
Will look at  that and will get back to you. thanks.

[2015-10-29 01:33] tmat commented on #2217
Thanks Tarek.

[2015-10-29 01:59] CIPop commented on #4204
I was able to set up a 1 CPU (with a 50% VM limit) / 1GB VM continuously running 8 parallel processes of the System.Net.Sockets.Tests. I've installed WinDBG as debugger. So far the only error I see is a race condition within the test execution harness:

[code]

This is most likely caused by the fact that I'm using the same repo. I'm running the tests with the following command:
[code]

The other i

[2015-10-29 02:13] CIPop commented on #4204
Updated the scripts to use a different test output file. This should work-around the previous issue.

[2015-10-29 02:21] davidsh commented on #4217
cc: @ericstj

[2015-10-29 02:28] #4219 closed

[2015-10-29 03:35] davidsh commented on #4171
There is nothing actionable about this right now. I suspect that Azure went down or some other network connection was interrupted while this test was running (and in the process of writing data to the outbound request stream).

[2015-10-29 03:35] davidfowl commented on #4137
@Priya91 Any more info needed?

[2015-10-29 04:39] rockfordlhotka commented on #4135
True @leppie - it was written for Windows 8/WinRT back when it looked like supporting WinRT was (to be honest) a waste of effort, so I did the least work necessary to get things working at that time.

Now that Windows 10/UWP appears to be gaining traction as a viable platform and has a workable side-loading story for business apps (whew!) I think it is totally worth revisiting the code necessary t

[2015-10-29 05:19] GuardRex commented on #4217
Maybe similar/same ... certainly the same exception: https://github.com/dotnet/corefx/issues/3927

@saurabh500 Try testing with ...
[code]
... or ...
[code]
... as a workaround until they get a chance to look.

[2015-10-29 05:27] manu-silicon opened #4222 "Adding ApplicationException and other some other exception types"
I've been migrating quite a few projects to CoreCLR recently and the lack of ApplicationException is definitely problematic as a lot of existing code is using that type. Using just Exception doesn't sound quite right. Can we have it back in CoreFX?

Other exceptions I've seen no present in CoreFX that would also be useful are:
- AccessViolationException
- EntryPointNotFoundException

Thanks,
Manu

[2015-10-29 05:32] manu-silicon commented on #4190
I would favor sbyte * to be treated as the platform's Ansi. Usually the char * is not an option on non-Windows platforms where we usually get either ASCII or UTF-8.

[2015-10-29 05:44] ericstj commented on #4217
If a direct reference fixes it then it's the known issue where DNX/Nuget won't merge in the platform specific packages when the x-plat package isn't in the compile graph.

[2015-10-29 05:54] ellismg commented on #4190
Steve's understanding of the API is correct, modulo this statement:

I think it would be more correct to say we always treat a char* as pointing to UTF-16 encoded data (since you could argue that UTF-8 is "the platform Unicode" on Linux and OSX)

If we were to add this back, this is exactly the semantics we'd need to ensure.  This is the definition of the API today and we couldn't change this in .

[2015-10-29 05:57] ellismg commented on #4222
Why is `AccessViolationException` useful?  Are you throwing instances of it?  Catching instances of it?  Something else?

Regarding `ApplicationException` we believe that creating that type was a mistake and are trying to move away from it.  From MSDN:

I think we are unlikely to add it back to .NET Core.

[2015-10-29 05:58] GuardRex commented on #4217
@ericstj Is there an open issue on that one? I can close #3927 and track the known issue.

[2015-10-29 06:00] ericstj commented on #4217
We actually have a feature request out to Nuget to address this.  Not sure how they are tracking it.  Let me look into that.

[2015-10-29 06:37] joshfree commented on #4110
@LLITCHEV could this be the same JIT issue as https://github.com/dotnet/coreclr/issues/1831?

[2015-10-29 06:42] jasonwilliams200OK commented on #4213
@sokket, Python2 and Python3 compatibility issues are already famous in build system world.
For example, like CMake, there is a Google counterpart for multi-platform build system called gyp written in Python v2. Node.js uses gyp when we build npm package wrapping some C lib. Google denied to upgrade gyp to Python 3 because unnecessary amount of hassle/work and now "the community" is deciding to up

[2015-10-29 06:57] LLITCHEV commented on #4110
This looks like a Windows issue. The Issue 1831 is only related to System V OS-es. The ABI work PR-ed with PR "Implementation of System V ABI struct passing. #1806" is related only to Linux. There are no any differences in the codegen before and after that PR (no any asm diffs). Looking at the call stack it looks like the VM is doing a GC.

[2015-10-29 07:00] saurabh500 commented on #4217
cc: @natemcmaster

[2015-10-29 07:03] ellismg commented on #4152
Related: We should be capturing dumps on Linux and OSX when segfaults happen.

[2015-10-29 07:30] manu-silicon commented on #4222
I fully understand the rationale for ApplicationException, but removing it is a hard way to make people migrate from it :-)

Some of the code I ported was catching AccessViolationException and this in the context of code that does a lot of interops.

[2015-10-29 07:41] ellismg commented on #4222
FWIW, this is fragile in general.  Starting with .NET 4.0 you aren't able to catch AccessViolationException without opting into handling [Corrupted State Exceptions](https://msdn.microsoft.com/en-us/magazine/dd419661.aspx).

[2015-10-29 08:55] leppie commented on #4135
@rockfordlhotka I got a response it was likely to make it API compatible. So not really nonsense, but without a source comment, it looked like it :)

[2015-10-29 10:05] shrutigarg opened #4223 "Update the Trailer Size with the correct value which vaires with the protocol used"
This is to track the changes needed to update the Trailer size value in StreamSizes with the correct value

[2015-10-29 10:27] Kagamine opened #4224 "System.Diagnostics.Process missing environment variables."
/cc @Priya91, @pallavit, @joshfree, @stephentoub

I am using Process to run a "Build.cmd", I have `echo %PATH%`, The result which run by C# is empty, at the same time, I tried add the system env vars again, it still not works. However, I double click the "Build.cmd", It can run the correct %PATH%

[code]

...

[code]

[2015-10-29 11:16] vijaykota commented on #4223
OpenSsl does not provide any macros or APIs to retrieve the header/trailer values. The values can change depending on the protocol and the ciphers being used in the low-level message exchanges.

Note that this has no functionality impact since the xplat code of System.Net.Security uses this only to compute the buffer size to be allocated for encrypted data. So a value higher than actual by a few b

[2015-10-29 12:05] stephentoub commented on #4190
Marshal.PtrToStringAnsi also does the exact same thing, as it just calls that ctor after argument validation:
https://github.com/dotnet/coreclr/blob/bc146608854d1db9cdbcc0b08029a87754e12b49/src/mscorlib/src/System/Runtime/InteropServices/Marshal.cs#L140-L147

[2015-10-29 13:24] stephentoub opened #4227 "Code coverage broken on Windows"
It appears recent buildtools changes result in a corrupted path while trying to invoke OpenCover, causing code coverage to fail with a "The filename, directory name, or volume label syntax is incorrect." error.

[2015-10-29 14:21] ericstj opened #4230 "Need to merge runtime.json's into the Targets packages"
Currently we have many packages including runtime.json's to represent x-plat implementations.

This causes a problem when any of those packages is not in the compile graph since DNX/NuGet will not merge runtime.json's that aren't in the compile graph.

For many of our packages that are considered "part of the platform" we already have a common runtime.json that is meant to serve as defining the im

[2015-10-29 14:21] stephentoub opened #4231 "Native code format checker failing in CI"
All PRs are failing with errors like:
[code]

[2015-10-29 14:22] ericstj commented on #4217
I opened this corefx issue: https://github.com/dotnet/corefx/issues/4230
As well as this Nuget feature: https://github.com/NuGet/Home/issues/1660

[2015-10-29 14:29] Kagamine commented on #4224
This problem occurred on DNX451 only.

[2015-10-29 14:52] stephentoub commented on #4172
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/5759/console
[code]

[2015-10-29 14:55] GuardRex commented on #3927
Covered by ...

https://github.com/dotnet/corefx/issues/4230
https://github.com/NuGet/Home/issues/1660

... based on https://github.com/dotnet/corefx/issues/4217#issuecomment-152195478.

[2015-10-29 14:55] #3927 closed

[2015-10-29 15:04] mmitche commented on #4213
@jasonwilliams200OK Yeah, that kind of the track I was thinking on here.  LLVM uses 2.7 (which affects the LLILC project).  Given the compat issues, I think it's easier and more amenable to contributors to maintain two sets of 'simple' bash/sh and batch/powershell scripts that work out of the box 100% of the time rather than cause dependency pain.

[2015-10-29 15:47] stephentoub opened #4233 "CurlHandler failing on OS X"
The SetSslOptions change from https://github.com/dotnet/corefx/pull/4121 causes CurlHandler to fail all requests on OS X, e.g.
[code]

[2015-10-29 15:50] natemcmaster opened #4234 "SqlClient cannot connect to server from Linux/OS X"
SqlConnection.Open() fails to establish a connection from Linux (Ubuntu 14.04) or OS X 10.11 to SQL Server.

The error thrown on Linux is

The error thrown on OS X is

Using SqlClient 4.0.0-beta-23428 and dnx-coreclr-1.0.0-rc1-16048. SqlConnection works just fine when using dnx-**mono**-1.0.0-rc1-16048 instead.

Repro: https://github.com/natemcmaster/test-sqlclient/tree/b2e76a6bcbd3805d8f84696f6d0

[2015-10-29 15:50] natemcmaster commented on #4234
cc @saurabh500

[2015-10-29 15:55] stephentoub commented on #4231
@mmitche, @sokket, after #4232, now it appears to be failing for other reasons:
[code]

[2015-10-29 16:42] stephentoub commented on #3748
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/3991/console
[code]

[2015-10-29 17:19] kapilash commented on #4233
Strange. I ran the functional tests multiple times since (my) morning on OSX. I haven't faced this problem so far.

With the built-in libcurl, I get the one expected failure (for channel binding). Similar for libcurl with openssl.

[2015-10-29 17:23] joshfree commented on #4110
okay thanks @LLITCHEV for taking a look

[2015-10-29 17:26] Priya91 commented on #4137
@davidfowl Thanks for the info, let me investigate how this API will behave for our available runtimes, and what would be a good string to return and get back to you if i need more info.

[2015-10-29 17:28] JeremyKuhne commented on #4208
@xPaw What specifically are you looking to avoid by not calling GetFullPath?

[2015-10-29 17:31] xPaw commented on #4208
GetFullPath would resolve a path relative to the root directory or working directory. I have multiple cases where I work with relative paths (working with archives and other stuff) where I want to print normalized paths (that are "full" paths in said archive, but not on the system).

[2015-10-29 17:34] saurabh500 commented on #4110
I updated the DNX today and the version that I have is 1.0.0-rc1-16048 arch x86
I cannot reproduce this issue any more.
@divega or @smitpatel Can you verify?

[2015-10-29 17:39] JeremyKuhne commented on #3009
#3992 addresses this

[2015-10-29 17:39] #3009 closed

[2015-10-29 17:46] bartonjs commented on #4233
Likewise, I'm not seeing this error on my mac.  OSX Yosemite (10.10.5).

Where are we failing?

[2015-10-29 17:46] smitpatel commented on #4110
@saurabh500, @divega  The issue is not happening anymore (even EF build works fine.) Interesting thing is sni.dll is no longer present in runtime installation folder for 1.0.0-rc1-16048. I am not aware what changes made it to disappear but as per previous observation without sni.dll in runtime installation, the exception no longer appears.

[2015-10-29 17:47] kapilash commented on #4233
Seems like an older version of libcurl. The [libcurl documentation](http://curl.haxx.se/libcurl/c/libcurl-errors.html#CURLEUNKNOWNOPTION) says that if the return type is not supported, we will get ```CURLE_UNKNOWN_OPTION```. But [curl code](https://github.com/bagder/curl/blob/master/lib/url.c#L2054) returns ```CURLE_NOT_BUILT_IN```. The latter is what we [ignore in CurlHandler](https://github.com/

[2015-10-29 17:47] stephentoub commented on #4233
On the macs in the lab:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_debug_tst/95/console

cc; @mmitche

[2015-10-29 17:53] divega commented on #4110
We removed sni.dll from the runtime's bin directory with https://github.com/aspnet/dnx/commit/44ea661211118f59974c83574e014f3fe1499522 after we confirmed that without it the AV didn't occur.

It remains unexplained why loading the file from there caused problems. I confirmed that the sni.dll that used to be placed in the runtime directory was a copy of the one in the runtime.win7-x86.System.Data.S

[2015-10-29 17:55] CIPop commented on #4204
Machine ran over-night and found no issues. I'll continue the investigation using 2 CPU cores but at this time I think the issue is most likely CI infrastructure.

[2015-10-29 17:59] bartonjs commented on #4233
@kapilash thanks, I guess I'll just add `CURLE_UNKNOWN_OPTION` to the list of ignored return codes.

[2015-10-29 18:06] kapilash commented on #4233
can we please get the version of libcurl on the lab machine?

[2015-10-29 18:16] stephentoub commented on #4231
We've fixed these issues, but it's now failing because the output when run on Windows (which CI is currently doing) appears to be different from when run on Ubuntu.  After recent fixes, running the script on Ubuntu doesn't yield any differences, whereas running it on Windows yields differences in pal_errno.

[2015-10-29 18:17] sokket commented on #4231
Investigating...

[2015-10-29 18:18] mmitche commented on #4233
Mac appears to have libcurl3.dylib and libcurl4.dylib

[2015-10-29 18:22] mellinoe commented on #4059
Resolved by #4211

[2015-10-29 18:22] #4059 closed

[2015-10-29 18:23] divega commented on #4110
One last observation in case it helps someone:

I verified using Process Explorer (couldn't see it in the Modules window) on 1.0.0-rc1-16043 coreclr x86 (which still contains sni.dll on the runtime's bin folder) that while the program is running, the copy of sni.dll from the runtime.win7-x86.System.Data.SqlClient.sni package is loaded in memory. When later the AV occurs, both the copy from the pac

[2015-10-29 18:24] bartonjs commented on #4233
@mmitche What's the lab equivalent for:

[code]

My system claims to have 3, but just uses 4.

[2015-10-29 18:27] JeremyKuhne commented on #4208
What you want is this, right?

[code]

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/IO/Path.cs#L426

[2015-10-29 18:27] stephentoub commented on #4233
The mac in the lab shows this:
[code]

[2015-10-29 18:31] xPaw commented on #4208
What I was thinking was changing '/' and '\' to `DirectorySeparatorChar` (e.g. '/' -> '\' on windows). Didn't think about relative segments, but that could be useful to have too.

[2015-10-29 18:31] kapilash commented on #4233
What does ```curl --version``` print?

On my system, I have

curl 7.43.0 (x86_64-apple-darwin14.0) libcurl/7.43.0 SecureTransport zlib/1.2.5
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtsp smb smbs smtp smtps telnet tftp
Features: AsynchDNS IPv6 Largefile GSS-API Kerberos SPNEGO NTLM NTLM_WB SSL libz UnixSockets

[2015-10-29 18:33] stephentoub commented on #4233
[code]

[2015-10-29 18:39] #1931 closed

[2015-10-29 18:43] mmitche commented on #4233
7.43.0 libcurl same version

[2015-10-29 18:50] CIPop commented on #4152
/cc: @vancem, @mmitche

[2015-10-29 19:04] stephentoub commented on #4233
The machine I posted details for was the mac on which the failing tests ran.  The machine @mmitche posted details for was another mac in the lab.  So they have different versions installed.

The answer seems to be both updating the macs in the lab to be consistent and fixing the code to treat this error as if the functionality isn't available.

[2015-10-29 19:05] JeremyKuhne commented on #4208
This method does that as well. It also collapses runs of directory separators. UNCs and extended paths on Windows are weird so it would need to be altered some to be public (don't want to collapse the first two separators `\\`).

[2015-10-29 19:07] xPaw commented on #4208
Then yes, this method sounds reasonable.

[2015-10-29 19:15] mellinoe opened #4243 "Ensure all assemblies that ship in NuGet packages have source code and are built here"
The following should be an exhaustive list of libraries that have .NET Native-specific assemblies that we need to build from here. This is all of the ".NET Native" project files we have internally which have a corresponding NuGet package. For some of these, we will need to port additional source code on top of the shared CoreCLR source code we already have here.

- [ ] System.Collections
- [ ] Sys

[2015-10-29 19:17] grimhellion commented on #3889
@prdonahue, any updates on your internal testing at Cloudflare? We've been dealing with this issue well over a year now and are excited you are nearing a workaround for this MS bug.  Please update.

[2015-10-29 19:20] JeremyKuhne commented on #3993
Have you looked at what the shell provides from a design perspective? (IFileOperation)

https://msdn.microsoft.com/en-us/library/windows/desktop/bb775771(v=vs.85).aspx

Not suggesting that you P/Invoke, but wondering if we might be better served by a library that provides a similar model. On a related note, some are asking for Interfaces in general to allow easier testing #312/#2022.

[2015-10-29 19:22] ericlaw1979 commented on #3889
@grimhellion: To be clear, CloudFlare's workaround is to just disable SessionTicket support for customers who request they do so; this avoids the issue, but at a performance cost.

[2015-10-29 19:25] prdonahue commented on #3889
Yes, as @ericlaw1979 said, we now have the ability to disable session tickets on a per-certificate basis. If you're a CloudFlare customer and want this disabled for your zone, please submit a ticket.

Unfortunately, the proper fix will require Microsoft patching SChannel. I'll be posting a blog with all the granular details, but unless someone can devise a better way to work around we'll be going

[2015-10-29 19:25] grimhellion commented on #3889
Thanks @ericlaw1979, so the actual fix is in @davidsh with Microsoft SCHANNEL team's court?

[2015-10-29 19:27] prdonahue commented on #3889
Correct. We've been in communication with Microsoft (as has Eric). @davidsh may be able to provide an update on timing of the distribution of the actual fix?

[2015-10-29 19:27] grimhellion commented on #3889
Thanks @prdonahue! Are we talking seconds or milliseconds in terms of performance degradation?

[2015-10-29 19:28] mellinoe opened #4244 "Use proper reference assemblies for producing partial facades"
Right now, we are using a version of mscorlib that we grab from a random CoreCLR NuGet package. Soon, we will need to build .NET Native partial facades as well, which will need to compile against System.Private.CoreLib. We should do the work to produce proper reference assemblies for both System.Private.CoreLib as well as mscorlib, and use those in our partial facade generation process.

[2015-10-29 19:29] prdonahue commented on #3889
@grimhellion please take a peek at https://blog.cloudflare.com/tls-session-resumption-full-speed-and-secure/. We did some performance testing on abbreviated session resumption and it's basically 50% as costly. Your actual performance depends on how many separate HTTPS requests need to be processed.

[2015-10-29 19:44] grimhellion commented on #3889
Thanks all, ticket submitted to cloudflare for testing. Looking forward to update from MS on the real fix.

[2015-10-29 19:54] joshfree commented on #4191
Fixed by https://github.com/dotnet/corefx/pull/4205 in build 23429.00

[2015-10-29 19:54] #4191 closed

[2015-10-29 19:59] joshfree commented on #4149
@VSadov can you provide an update now that https://github.com/dotnet/coreclr/issues/1831 has been fixed by https://github.com/dotnet/coreclr/pull/1879 in 23429.00.  Are we still seeing this Linq.Expressions AV?

[2015-10-29 20:34] grimhellion commented on #3889
Got response from Cloudflare. This workaround is only available for Business and higher customer domains. All of our domains are at the Pro level and they can't make a widespread change like this there. Looks like I'm stuck waiting for Microsoft on this one.

[2015-10-29 20:35] janhenke commented on #4213
There are no compat issues. @mmitche @jasonwilliams200OK It is mostly either a big existing code base, where people have no time or motivation to port it to current standard or people not wanting to move ahead with new stuff.

Again *Python 2 is dead*. It is in deep maintenance mode, there will be no 2.8 release, just a 2.7 bugfix once in a while. As posted above, Linux distributions are actively

[2015-10-29 20:41] saurabh500 commented on #4110
@joshfree I think we can remove this from the RC1 Blocker list. Let me know what you think.
With the change in DNX, the packaging has been modified to mitigate this issue.

This is still a concern because with the absence of Native images, this issue will exist where System.Data.SqlClient.dll and sni.dll are present in the runtime folder.

[2015-10-29 20:42] prdonahue commented on #3889
Yes, due to our lazy loading logic, we can only apply this workaround at the certificate level. And at Pro (or Free), you share certificates with other users so making a change there would negatively effect other customers' performance.

With Business and up, we allow you to upload your own custom certificate which allocates dedicated IP addresses for it/you and thus allows us to apply certificate

[2015-10-29 20:43] grimhellion commented on #3889
Makes sense... if only the jump from Pro to Business wasn't so steep... :)

[2015-10-29 21:06] sokket commented on #4231
Fixed by #4247

[2015-10-29 21:06] #4231 closed

[2015-10-29 21:38] tparnell8 opened #4251 "Environment.Exit"
I noticed that Core 5.0 does not contain an Environment.Exit how do you exit console apps with a status/error code

[2015-10-29 21:39] nguerrera commented on #4045
Closing since this was a very deliberate design decision to make going from Handle to record one directional.

[2015-10-29 21:39] #4045 closed

[2015-10-29 21:41] bartonjs commented on #4233
The behavior change seems to have come from curl 7.39, which is why the one mac is failing (7.37).  I've gone ahead and changed it to accept both error codes, PR coming momentarily.

[2015-10-29 21:41] khellang commented on #4251
Dupe of #2353.

I think `Environment.FailFast` should be used instead.

[2015-10-29 21:44] tparnell8 commented on #4251
thanks sorry that this is a dupe...

[2015-10-29 21:44] #4251 closed

[2015-10-29 21:48] tparnell8 commented on #2353
I'd like to see a way people can set error codes...

here is a use case. I make tools that are console based for things like jenkins. Now I return error codes so that tools like jenkins know if there were errors or not, and also callers of my tools can catch expected error codes and take action based on the code.

I think returning an error code is pretty meaningful and the FailFast method doesn't

[2015-10-29 22:13] joshfree commented on #4110
@saurabh500 I agree this can be removed from the rc1 list.

[2015-10-29 22:57] davidsh commented on #4243
I think System.Net.Sockets and System.Net.NetworkInformation need to be added to this list.

[2015-10-29 23:06] shmao commented on #3963
The issue actually implies two issues:

   **Issue 1**. As ISerializable is not available on NetCore, we wanted to see whether it's possible for NetCore to serialize types that implement ISerializable interface on desktop .Net with the help of DataContract surrogate so that objects serialized on desktop can be deserialized on NetCore, and vice versa. Unfortunately, the answer is no.  Because on de

[2015-10-29 23:06] #3963 closed

[2015-10-29 23:34] #4233 closed

[2015-10-30 00:21] ellismg commented on #4076
I've been unable to reproduce this locally and I don't think we've seen it in CI recently.  I'm wondering if it was addressed by one of the recent runtime or JIT fixes.  Closing for now.

[2015-10-30 00:21] #4076 closed

[2015-10-30 00:21] ellismg commented on #4244
Is there a reason we can not use the mscorlib.dll from the runtime nuget package we already produce?   Does it have to be a reference assembly for some reason?

[2015-10-30 01:12] saurabh500 commented on #4234
I ran the similar scenario in the CoreFX test. The test succeeded for me.
I built the 1.0.0-rc1 branch of CoreFX for this test so that we are testing the same bits.

The connectivity is being established by SqlClient.

I am debugging further to see what is really going wrong in the packaging, or which Assemblies could be the culprit.

[2015-10-30 01:40] smbecker commented on #645
Will this be included in .Net 4.6.1?

[2015-10-30 01:40] mellinoe commented on #4243
Yeah, you're right. This actually only lists the partial facades that we have on the internal side right now. The two you mentioned are full facades (they type forward everything to System.Private.Networking.dll), and we will need to do something for all of the full facades we build internally. We need to do that for all of our CoreCLR facades anyways.

The libraries in the list above are ones tha

[2015-10-30 01:47] mellinoe commented on #4244
@ellismg Well, that is basically what we are doing right now. Except, the runtime NuGet package we are using is some old, obsolete one that just happens to have mscorlib in it and that we have to update manually :smile: .

There's not really any functional difference in using a reference assembly for partial facades, other than it would be smaller, more controlled, etc. Actually, the biggest benef

[2015-10-30 01:49] ellismg commented on #4244
@mellinoe The upside of just using the runtime package is it's one less package we have to ship and we know that the mscorlib.dll we are facading to can't get out of sync with the runtime we are running on.  I agree that the layout of the package is a hurdle to overcome.

[2015-10-30 01:50] ellismg commented on #4244
(BTW: 100% percent onboard with killing that random package we are using now, it's a terrible thing).

[2015-10-30 02:14] saurabh500 commented on #4234
Under the hood, the exception message contains
System.Security.Authentication.AuthenticationException: A call to SSPI failed, see inner exception. ---> Interop+OpenSsl+SslException: Operation failed with error - 12.
   --- End of inner exception stack trace ---
   at System.Net.Security.SslState.StartSendAuthResetSignal(ProtocolToken message, AsyncProtocolRequest asyncRequest, Exception exception)

[2015-10-30 02:15] saurabh500 commented on #4234
@bartonjs This is happening on version 1.0.0-rc1-16048 in DNX

[2015-10-30 02:32] kkurni commented on #3688
@roji Does PostgreSQL support SQL Batching ?

It is used for SQL Batching support.
We sent the whole SQL Statement to Server and sql server will understand that statement.
https://msdn.microsoft.com/en-us/library/vstudio/haa3afyz(v=vs.100).aspx

e.g "select 1; update *...; select 2;"
Sql Server will return 2 results set.
How this will work in PostgreSQL ?

[2015-10-30 02:46] CIPop commented on #4172
This seems to be caused by code diverging from the Desktop original implementation:
The issue appears to be the unification in a single `EnsureDynamicWinsockMethods()` call as well as no check for null before calling the delegate `recvMsg_Blocking`.

See http://referencesource.microsoft.com/#System/net/System/Net/Sockets/_DynamicWinsockMethods.cs,206 for comparison.

@pgavlin PTAL

As decided in t

[2015-10-30 02:55] CIPop commented on #4234
@vijaykota @rajansingh10 PTAL

[2015-10-30 02:58] saurabh500 commented on #4234
I compiled a Linux Release version of System.Net.Security from rc1 branch and dropped it into the DNX runtime folder.
The error isn't around anymore.

It may be that the DNX doesn't have the latest System.Net.Security bits. I haven't checked if any changes were made today to fix this.

[2015-10-30 03:10] CIPop commented on #4204
I was able to repro after running with 2 CPUs!
@weshaggard : You were actually correct - this is a Debug.Assert. The stack shows that FailFast was triggered which crashed the process (on the CI no dump collection was made given #4152).

The assert is `SafeCloseSocket.Release after inner socket disposed.` Given the exception below (`NullReferenceException`) we know that `_innerSocket == null`.

[co

[2015-10-30 03:12] CIPop commented on #4204
@joshfree Per our last team's SCRUM, we're going to attempt to get production code fixes ready for RC1. If that is not going to get approved please let us know by switching the milestone back to RC2.

[2015-10-30 03:30] saurabh500 commented on #4234
@vijaykota @rajansingh10
I had added the System.Net.Security.dll to the dnx as a first step
However when I update the DNX with System.Security.Cryptography.Native.so,  I get the exception as below

System.EntryPointNotFoundException: Unable to find an entry point named 'RsaDestroy' in DLL 'System.Security.Cryptography.Native'.
   at Interop.Crypto.RsaDestroy(IntPtr rsa)
   at Microsoft.Win32.SafeH

[2015-10-30 03:32] saurabh500 commented on #4234
@natemcmaster Is there a way to figure out which build is being picked up by the current DNX?

[2015-10-30 03:37] natemcmaster commented on #4234
DNX doesn't do anything special to identify assembly versions. We are pulling the coreclr packages from the dotnet-coreclr-rel myget feed. You could always check the assemblies for assembly info attributes. Otherwise checksum?

[2015-10-30 03:41] davidsh opened #4259 "[Linux] HttpClient test SendAsync_ReadFromSlowStreamingServer_PartialDataReturned failed"
Reference new PR #4255
Build: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/6065/

New test added:
test failed on Linux:
System.Net.Http.Functional.Tests.HttpClientHandlerTest.SendAsync_ReadFromSlowStreamingServer_PartialDataReturned

"bytesRead should be less than buffer.Length Expected: True Actual: False"

[2015-10-30 03:42] davidsh commented on #4259
/cc: @stephentoub @vijaykota

[2015-10-30 04:57] vijaykota commented on #4259
cc: @kapilash PTAL

[2015-10-30 05:05] vijaykota commented on #4234
[code]

@bartonjs, can you help with this? The original issue of SSL handshake failure seems to be resolved by updating System.Net.Security.dll

[2015-10-30 05:37] bartonjs commented on #4234
You could try grabbing the latest built master binary from http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_nativecomp_release/lastSuccessfulBuild/artifact/bin/Linux.x64.Release/Native/System.Security.Cryptography.Native.so.

[2015-10-30 05:55] weshaggard commented on #4244
I kind of agree that we should just use the Microsoft.NETCore.Runtime.CoreCLR package. I don't think we need a reference assembly for mscorlib or System.Private.CoreLib (and friends). In fact I really don't want to make it easy for folks to consume these implementation assemblies so I don't mind if it is a little work for us to consume them. Whatever we do end up using however I would like to make

[2015-10-30 05:57] weshaggard commented on #4243
Thanks @mellinoe for creating this. I do think it is worth adding the full facades to the list (or perhaps another list) because we need to also do those.

[2015-10-30 05:59] weshaggard commented on #645
@smbecker No it will not be in .NET 4.6.1 however we do plan to get it added to a future release of full .NET frameowrk, not sure which one yet.

[2015-10-30 06:06] weshaggard commented on #4135
@rockfordlhotka We have added a large amount of the reflection extensions, see https://github.com/dotnet/corefx/tree/master/src/System.Reflection.TypeExtensions. We agree there is more to be done to help with the reflection APIs but that should be a good step. Please let us know if there are common ones you need that are missing.

[2015-10-30 06:07] kapilash opened #4261 "Build failure on OSX"
Building from root fails on OSX with 7 errors related to GenFacades.

A sample is below

It seems the problem is the presence of the [file called mscorlib.ni.dll](https://github.com/dotnet/coreclr/issues/1419#issuecomment-134156283).
 Removing that from ```$HOME/bin/obj/OSX.AnyCPU.Debug/ToolRuntime``` fixes the build failure.

[2015-10-30 06:53] saurabh500 commented on #4234
@bartonjs looks like CI website is down right now. I will try it when I get
a chance.

On Thu, Oct 29, 2015 at 10:38 PM, Jeremy Barton <notifications@github.com>
wrote:

--
-Saurabh

[2015-10-30 08:22] roji commented on #3688
@kkurni, here are some details. PostgreSQL supports two network protocols: simple and extended ([here are the detailed docs](http://www.postgresql.org/docs/current/static/protocol.html)).

In the simple protocol you can send a single message with "select 1; update *...; select 2;", PostgresSQL will parse out the multiple statements and return 2 result sets. However, the simple protocol has several

[2015-10-30 10:45] JonHanna commented on #4196
Is there anything still needed here?

We've a way of hashing on signature (the default), we've a way of hashing on reference identity (`RuntimeHelpers`), and I'm not sure anything else (such as considering two completely equivalent delegates to be the same) is viable.

[2015-10-30 11:18] jasonwilliams200OK commented on #4213
@janhenke, lately I am seeing loads of unnecessary disagreements. You are contradicting yourself BTW. Linux distributions are "trying" to become Python 3 only, but many distros are not going to have Python 3 out of the box in a foreseeable future. Consumers will have to install py3 as dependency to build corefx!

@saper, @akoeplinger, do you guys have any good/odd experiences with py3 which may br

[2015-10-30 11:39] akoeplinger commented on #4213
@jasonwilliams200OK I don't have python experience, but if we decide to use it, is there a way to write code compatible with py2+py3 at the same time without a lot of work?

I agree that python is a lot easier to understand than `sh`, on the other hand we're really not doing anything fancy in the existing scripts (looping over some variables, copying files around, invoking other programs), so I do

[2015-10-30 11:56] mcdirmid commented on #4196
What about just better documentation? It is really hard to find any of this stuff out as these design decisions are fairly opaque from a user perspective. The documentation for Delegate.GetHashCode() right now simply states "returns the hash code for the delegate" (note, docs shouldn't just regurgitate what you can read in the signature!). I see the [MSDN docs](https://msdn.microsoft.com/en-us/lib

[2015-10-30 12:16] saper commented on #4213
On Fri, 30 Oct 2015, Peter Jas wrote:

Regarding Python:

Python 2 is far from being dead. There is a significant push
towards Python 3 (also driven by the distributions). With
lots of effort one can try to keep scripts running on both
(I used to work on one such script, it's painful).

People stuck with Python 3-as-default distributions
try to push for a change rather vocally, here's an example:

[2015-10-30 13:37] MrJul commented on #4196
I disagree. As soon as it's documented, it becomes a contract. The current documentation is correct: the hash code implementation can change tomorrow if needed, you shouldn't rely on it.

Yes, the generated hash code is not optimal and probably should be better, I sympathize with that. Still, it respects its contract (tomorrow, every object in the runtime could return the exact same hash code and

[2015-10-30 14:19] Kagamine commented on #4224
This occurred in dnx only, use net451 target, it is ok.

[2015-10-30 14:31] mcdirmid commented on #4196
Make Object Id doesn't work in Console.WriteLine statements (or any programmatic tracing abstraction, maybe it should?); object.referenceequals requires a point of comparison. Neither would help me debug the issue I was having before. I've also used object ID generators when really desperate, but I usually just use an ID off hash code converted to alpha string first since (a) it is usually unique

[2015-10-30 14:31] #4196 closed

[2015-10-30 16:26] VSadov commented on #4149
It does not seem to be reproduce as far as I see in the build history. The test is enabled.

It is either fixed or the issue is extremely rare and we are not hitting it.
Regardless, without repro, it is not actionable, so I will close the bug.

[2015-10-30 16:26] #4149 closed

[2015-10-30 17:21] ericstj commented on #3982
Closing this since the description of the issue is just observing an intentional change to the package to split out for x-plat.  You should be able to resolve the implementation per the details in the linked issue.  If you have any trouble let me and @chcosta know.

[2015-10-30 17:21] #3982 closed

[2015-10-30 17:21] ericstj commented on #4217
Closing this out and tracking with #4230.

[2015-10-30 17:21] #4217 closed

[2015-10-30 17:37] #4227 closed

[2015-10-30 18:46] mellinoe commented on #4060
Regarding bullet 3: I have been looking for additional places to lazily instantiate and haven't seen anything jumping out at me. I'll mark it as complete and can address things individually if they become a perf issue.

[2015-10-30 19:08] kapilash commented on #3269
Fixed via #4131

[2015-10-30 19:08] #3269 closed

[2015-10-30 20:42] #1896 closed

[2015-10-30 20:54] pallavit commented on #4224
@Kagamine Thanks for reporting the issue :). Would you mind helping me understand it a little more. Is the issue that Process.StartInfo.Environment does not contain %PATH% or that it does not have the same values as Environment.GetEnvironmentVariables()? Also, although you mentioned %PATH%, which makes me believe that you are on windows, you have code for OS.Current != OS.Windows, so can you confi

[2015-10-30 21:08] #1825 closed

[2015-10-30 22:00] saurabh500 commented on #4234
Replacing the .so file solved the problem for me.
Now I am facing a network exception which I am looking at and trying to figure out which package may be obsolete

[2015-10-30 22:41] mellinoe commented on #4244
Just trying to clarify here, as I don't think we are on the same page.

Right now we are using a package called "Microsoft.NETCore.Runtime.CoreCLR", which as far as I know is just a very old package we defined a long time ago before we had our more fleshed-out set of packages right now. It has a few random assemblies in it, one of which happens to be mscorlib.

For running our tests right now, we

[2015-10-30 22:44] mellinoe commented on #4243
I guess it depends how we plan on building all of those facades. Internally we build them all at once, so I figured that they would also be addressed "all at once" when we ported the infrastructure out here. But perhaps we will just decide to build them like the partial facades we already have here and address them individually.

[2015-10-30 22:46] natemcmaster commented on #4234
Appears to be fixed with the latest updates on http://myget.org/gallery/aspnetcirelease. NB: this still requires explicitly adding "System.Net.Security", which is being tracked on https://github.com/dotnet/corefx/issues/4230

[2015-10-30 22:46] #4234 closed

[2015-10-30 23:39] Kagamine commented on #4224
I just use this in windows, You can get the system env vars successfully by using Environment.GetEV(). The StartupInfo.Environment also contains the correct vars. But when you run a xxx.cmd, the cmd did not detected any environment variables, you can have a try to echo %PATH%. it will output nothing, at the same time, if you called @powershell, it will show you the command powershell not found. Th

[2015-10-31 00:47] natemcmaster opened #4273 "28% of SqlClient connections on OSX/Linux break"
On Linux, calls to `SqlCommand.ExecuteReader` often die due to a broken connection.

Ubuntu 14.04, CoreCLR rc1
System.Data.SqlClient build 23429

These failures are nondeterministic, and do not appear on Windows.

[code]

Calls to `ExecuteNonQuery` often fail with this error:
[code]
 or with a similar variant that has this error:
[code]

Repeated runs of one test do not always fail, but it does no

[2015-10-31 01:16] cdmihai opened #4274 "Path.GetDirectoryName removes necessary relative paths"
`Path.GetDirectoryName(@"..\..\files.txt")` returns an empty string instead of `..\..`

This breaks stories such as "write a new file in the same directory as another specific file"

[2015-10-31 01:33] saurabh500 commented on #4273
Few notes:
      A transport-level error has occurred when receiving results from the server. (provider: TCP Provider, error: 0 - Connection was terminated)

This happens when SqlClient is expecting to get data from the Stream and there is no data available.

https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs#L280

This will need to

[2015-10-31 01:34] saurabh500 commented on #4273
@natemcmaster Do we have any results from OSX as well?

[2015-10-31 01:46] natemcmaster commented on #4273
@saurabh500 I do not have OSX results yet.

@joshfree 23430 did not resolve the errors.

[2015-10-31 04:08] Clockwork-Muse commented on #3150
@DixonD-git - Perhaps you should update the issue title?  Since this appears to be affecting just about everything, and doesn't block builds.

[2015-10-31 15:09] joshfree commented on #4274
@Priya91 @ianhays @JeremyKuhne

[2015-10-31 19:07] Joe4evr commented on #4274
I thought that when you prefix a string with `@`, you don't need to escape backslashes for file paths, so could that have something to do here?

[2015-10-31 19:59] KevinRansom commented on #2413
Is there any progress on to report on this?

[2015-10-31 20:10] davidfowl commented on #2413
+1

[2015-10-31 20:47] stephentoub commented on #2413
https://github.com/dotnet/apireviews/pull/19

[2015-11-01 09:06] ghost opened #4278 "Add System.Security.Cryptography.Xml.SignedXml class"
## Execution plan

**Goal:** Provide APIs fully compatible with full/Desktop .NET Framework (no changes as part of this work - straight port only)

**Plan:**
- [x] 1. Add the source code on GH sanitized, with licenses, etc. (it won't build)
- [x] 2. Make the source code build (still excluded from overall repo build)
- [x] 3. Remove Desktop registry-compat code paths
    - Remove methods that have

[2015-11-01 12:29] Kagamine commented on #4224
I don't know which step I made mistakes, the following simple code works ok, but it cannot work with above code.

[code]

[2015-11-01 12:30] Kagamine commented on #4224
@pallavit

[2015-11-01 14:14] Kagamine commented on #4224
Confirmed this issue only occurred with web environment like ASP.net 5 or earlier(ASP.net 4.5)

[2015-11-01 17:49] Kagamine commented on #4224
Confirmed a bug with MVC: https://github.com/aspnet/Mvc/issues/3457

[2015-11-01 23:20] weitzhandler opened #4279 "Please provide inline authorization support for HttpClient"
Hi,

The [`HttpClient`](https://github.com/dotnet/corefx/blob/c02d33b18398199f6acc17d375dab154e9a1df66/src/System.Net.Http/src/System/Net/Http/HttpClient.cs) facility is amazing.

However, it lacks OO support for authentication and authorization.

There should be a way to set a few properties (like `ClientId`, `SecretId`, `AuthenticationType`, `UserName` and `Password` etc.), and once the `HttpCli

[2015-11-02 00:30] davidsh commented on #4279
cc: @SidharthNabar

[2015-11-02 01:18] Kagamine commented on #4279
I don't think ClientId, SecretId etc are the infrastructures of HttpClient. It may be based on cookies or headers. The theory of them are proposed by `Identity`, not a standard of HttpRequest or response.

[2015-11-02 01:21] weitzhandler commented on #4279
Anyway, I'm trying to implement that over the `HttpClient` class, and I can't understand why overriding the `SendAsync` method [does nothing](http://pastebin.com/raw.php?i=QNGz4qWa).

[2015-11-02 01:22] Kagamine commented on #4279
You should contains your cookies when you create a request.

[2015-11-02 01:30] Kagamine commented on #4279
What is the cancellationToken?

[2015-11-02 01:34] weitzhandler commented on #4279
@Kagamine

I understand what you're saying, so where do you think that `HttpClient` subclass does belong to?

I believe a substantial percentage of the HTTP requests the `HttpClient` serves, utilize authorization and authentication of some extent. IMHO, it does fit in the official .NET framework, just as Web API does. The thing is that the tools for server side development are all there while clie

[2015-11-02 01:35] Kagamine commented on #4279
Let me see the source of HttpClient, wait a moment.

[2015-11-02 01:37] weitzhandler commented on #4279
@Kagamine I've already checked that, they all call `SendAsync` which makes the issue even more weird.

[2015-11-02 01:39] Kagamine commented on #4279
Oh..

[2015-11-02 01:40] weitzhandler commented on #4279
Oops, I just checked the [source](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.cs#L334), and looks they call all the methods call the non-overridable `SendAsync`. Makes no sense to me.

[2015-11-02 01:43] Kagamine commented on #4279
Are you sure you are using corefx? It works on my computer

[2015-11-02 01:46] weitzhandler commented on #4279
What works on your system? It shouldn't. The `override SendAsync` actually does nothing...

[2015-11-02 01:49] Kagamine commented on #4279
Hah
`SendAsync(HttpRequestMessage request, HttpCompletionOption completionOption, CancellationToken cancellationToken)` cannot be overriden

[2015-11-02 01:49] Kagamine commented on #4279
But you can copy the source of HttpClient into your project and make some changes with SendAsync

[2015-11-02 01:51] weitzhandler commented on #4279
@Kagamine r u kidn me

[2015-11-02 01:52] Kagamine commented on #4279
:fearful: What's the meaning QAQ

[2015-11-02 01:55] Kagamine commented on #4279
Sorry, copy cannot solve the problem. There are some internal properties in it.

[2015-11-02 01:56] weitzhandler commented on #4279
Talking about minimalism, please avoid repeating duplicated messages. Instead edit your last message to add content.

[2015-11-02 02:07] Kagamine commented on #4279
Can you try this:
[code]

[2015-11-02 02:15] weitzhandler commented on #4279
@Kagamine you're missing the point. I don't want to shadow members, I want to **override** them, so all my calls to `GetAsync` `PutAsync` etc. are caught by it.

[2015-11-02 02:21] Kagamine commented on #4279
Maybe you have to use ILGenerator...

[2015-11-02 02:32] davidsh commented on #4279
Hello:

The design of the HttpClient is that if you want to override the 'SendAsync` in order to provide custom request processing or response processing, you need to create a subclass of the HttpMessageHandler class.  That has the virtual SendAsync() method to override.

Then you pass that handler to the constructor of the HttpClient object.  You shouldn't be creating subclasses of HttpClient its

[2015-11-02 02:35] Kagamine commented on #4279
:tada:

[2015-11-02 07:26] #4224 closed

[2015-11-02 10:17] stephanjohnson commented on #2949
Is there any indication other than "Future Milestone" as to when we can expect this functionality? I am trying to port the AMQP.NET Lite (https://github.com/Azure/amqpnetlite) library, and it has a dependency on System.Transactions. Without this library I fear that I am unable to continue my porting of AMQP.

[2015-11-02 10:32] vijaykota commented on #4259
Checked behavior with curl http://httpbin.org/drip?numbytes=8192. That also returns the complete response of 8192 bytes so looks like a libcurl vs Winhttp nuance we need to dig into.
Moving to RTM since this shouldn't block RC1.

[2015-11-02 10:35] vijaykota commented on #4259
Paste error in URL: http://httpbin.org/drip?numbytes=8192&duration=15&delay=1&code=200 is the url used in the testcase (and which succeeds with curl)

[2015-11-02 11:09] weitzhandler commented on #4279
@davidsh
 Yep. I see, that's what I suspected.
Anyway, I'm hoping to see this feature implemented soon, and wish to see some more love for the client side and consumers of Web API.

[2015-11-02 11:09] vijaykota commented on #3717
Though Kerberos is the preferred protocol for interop between Unix and Windows, NegotiateStream falls back to using NTLM when Kerberos ticket cannot be obtained by client. We are facing following issues supporting the same on non-Windows platforms:

1. Using NTLM in AuthenticateAsClient requires client-side implementation of [MS-NLMP](https://msdn.microsoft.com/en-us/library/cc236621.aspx) and thi

[2015-11-02 11:21] vijaykota commented on #3717
cc: @stephentoub, @rajansingh10, @mconnew, @roncain, @SidharthNabar, @davidsh, @CIPop

Looking for opinions or alternatives that I can investigate

[2015-11-02 11:29] davidfowl opened #4282 "On OSX, launching a non existent process looks for Windows specific DllImport"
[code]

/cc @stephentoub

[2015-11-02 12:46] ppekrol commented on #1825
Hey,

confirmed that this is fixed in WinHttpHandler, but the problem still occurs in HttpClientHandler.

Tested on:
- "System.Net.Http": "4.0.1-beta-23502",
- "System.Net.Http.WinHttpHandler": "4.0.0-beta-23502",

[2015-11-02 13:02] akoeplinger commented on #652
@weshaggard just stumbled over this, any reason this is still closed?

[2015-11-02 14:02] stephentoub commented on #4259
(See my comments on the PR here https://github.com/dotnet/corefx/pull/4255)

[2015-11-02 14:11] stephentoub commented on #4282
@davidfowl, thanks. From the stack, it looks like you're using a System.IO.FileSystem.dll for Windows....  Win32FileSystem doesn't exist in the System.IO.FileSystem.dll on Unix.  Maybe there's a packaging problem?

[2015-11-02 15:00] davidsh commented on #1825
The source code of WinHttpHandler is built into HttpClientHandler.  So, if it is fixed in one place, it should be fixed in the other place. Keep in mind that you need to build from sources. I don't think the binary packages have the fix yet. It will be a few days before the binaries pick up the latest source code.

[2015-11-02 15:41] joshfree commented on #4282
@chcosta @ericstj PTAL

[2015-11-02 17:23] ericstj commented on #4282
What version of the packages is this?  If I trace the 23430 version of the package I see a `ref/dotnet5.4` in system.io.filesystem package, no lib, runtime.json includes runtime.osx.10.10.System.IO.FileSystem, which contains `runtimes/osx.10.10/lib/dotnet5.4`.  The behavior you are observing is what I'd expect if you were using the pre-x-plat packages.

I noticed some unusual packaging in DNX wher

[2015-11-02 17:34] dsplaisted commented on #2648
Fixing this looks like it will have a compat impact, so we will probably need to quirk this.

[2015-11-02 17:35] joshfree commented on #4282
today's rc1 build is 23502.00 and is on http://myget.org/gallery/dotnet-core-rel.

[2015-11-02 17:39] cdmihai commented on #4274
Sorry, it was late and I misspelled the path. I updated the description.

[2015-11-02 17:53] davidsh commented on #1825
Also, build 23502 which is the RC1 build candidate DOES NOT have the fix in that branch. This fix is currently only in the [master] branch. We will investigate if we can port this fix to the release/1.0.0-rc1 branch so that the fix will be in the RC1 binaries when RC1 is complete.

[2015-11-02 18:01] joshfree opened #4283 "[RC1] Avoid hang related to System.Diagnostics.Process and shutdown #4269"
We need to port PR #4269 to RC1

[2015-11-02 18:09] stephentoub commented on #4283
I'll take care of creating the pr later today. Thanks.

[2015-11-02 18:12] zhenlan opened #4284 "Fix the header of DataContractSurrogateCaller.cs"
Update the header of file below to be under MIT license
System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContractSurrogateCaller.cs

[2015-11-02 18:19] stephentoub commented on #4283
https://github.com/dotnet/corefx/pull/4287

[2015-11-02 18:27] chcosta opened #4288 "CoreFx builds failing with undeclared identifier - CURLM_ADDED_ALREADY"
I've just started this failure in CoreFx builds on CentOS 7.1.1503

This is with libcurl version 7.29.0

See PR #4267

2015-11-02T18:00:27.683Z: [ 12%] Building C object System.Security.Cryptography.Native/CMakeFiles/System.Security.Cryptography.Native.dir/openssl.c.o
 2015-11-02T18:00:27.772Z: error: use of undeclared identifier 'CURLM_ADDED_ALREADY'; did you mean 'PAL_CURLM_ADDED_ALREADY'?
 2015

[2015-11-02 18:34] ppekrol commented on #1825
Thanks @davidsh
I would appreciate if this could be a part of rc1. Please keep me posted.

[2015-11-02 18:45] eerhardt commented on #4288
This error happens because the CURLM_ADDED_ALREADY constant was added in libcurl version 7.32, so it wasn't available in v7.29.

libcurl version 7.29.0 is 2.5 years old ([released Feb 6 2013](http://curl.haxx.se/changes.html)). Is that the latest version available for CentOS?

[2015-11-02 19:04] ericstj commented on #4282
For DNX to see this they'll actually need to package a new version of DNX since this binary is included in their bin folder.

[2015-11-02 19:13] CIPop opened #4289 "The System.Reflection.Emit.ILGeneration contract contains APM-style async APIs"
Consider replacing Begin/End APM-style APIs with TPL Task-Async APIs:

[code]

[2015-11-02 19:30] natemcmaster commented on #4273
Update: OSX breaks with the same error messages (see [full osx log file here](https://gist.githubusercontent.com/natemcmaster/f36b127b2c1d2bd12d55/raw/00e24423f6b1c85cef627952907fe2365a8fc7f1/23502_osx.log)). Still breaking on ubuntu using SqlClient 23502 (see [23502_ubuntu.log](https://gist.githubusercontent.com/natemcmaster/f36b127b2c1d2bd12d55/raw/00e24423f6b1c85cef627952907fe2365a8fc7f1/23502_

[2015-11-02 19:56] chcosta commented on #4288
I upgraded the CentOS docker image the CI is using of libcurl to v7.45, and builds are now passing again.  Thanks!

[2015-11-02 19:56] #4288 closed

[2015-11-02 19:57] svick commented on #4289
That's not APM-style async API, it's not async at all. So, replacing it TAP-style API doesn't make any sense.

[2015-11-02 20:55] weshaggard commented on #652
@akoeplinger no reason, beyond me not hitting the reopen button months ago :)

[2015-11-02 20:57] weshaggard commented on #4243
@mellinoe. Currently @ericstj  and I believe we should have individual projects for building them. However we may need to optimize that some if we find that it ends up taking too much time.

[2015-11-02 21:03] weshaggard commented on #4244
@mellinoe currently we are using "Microsoft.DotNet.CoreCLR" (https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/partialfacades.targets#L29) which is the manually updated one which we should stop using. I'm recommending we use "Microsoft.NETCore.Runtime.CoreCLR" (the particular runtime version of it which is runtime.win7-x64.Microsoft.NETCore.Runtime.Core

[2015-11-02 21:05] #4284 closed

[2015-11-02 21:15] CIPop commented on #4289
Ah you're right, I misread the API signatures.

[2015-11-02 21:15] #4289 closed

[2015-11-02 21:43] CIPop commented on #3717
My opinion is that we can. NTLM is known to be insecure and in my opinion should be considered from removal from the Windows implementation as well. WCF has some good points on why we shouldn't do that yet. I'll let them comment on why NTLM is still preferred in certain conditions even if security-wise it may be dangerous.

[2015-11-02 21:48] mellinoe commented on #4060
I also investigated the second bullet point, but came across some interesting / confusing behavior with regards to how sysctl is functioning on OSX. The function doesn't seem to be returning the values it is documented to return (0 or -1 with errno), so it is difficult to dynamically expand a buffer (or go from stack allocation to heap) given how the function is performing. Additionally, all of th

[2015-11-02 22:04] CIPop commented on #4204
Moving this back to RC2 since it's a `DEBUG` code issue and shouldn't happen in `RET` builds.

[2015-11-02 23:28] #4052 closed

[2015-11-03 00:01] tarekgh commented on #2217
Thanks Tomáš for your patience

I had a chance to look more at that. There is no good way to encode the invalid surrogate the way you mentioned here. I mean encoding \uD800 to { 0xED, 0xA0, 0x80 }. And it is still not a good idea to support this scenario in the framework because we always promise encoding the string with valid bytes in the target encoding. If we produce something like {0xED, 0xA0,

[2015-11-03 00:08] #4204 closed

[2015-11-03 00:51] davidsh commented on #1825
@ppekrol This fix has been approved for porting to the release/1.0.0-rc1 branch. So, it should appear within the next few days in the binaries for RC1 candidate.

[2015-11-03 02:25] kkurni commented on #3622
At this moment, only Read(...) is currently called by SSLStream.ForceAuthentication.
SSLStream will wrap this SSLOverTDSStream.
https://github.com/dotnet/corefx/blob/a3050bacc9b716f52f086751bfb4bf0384019f53/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs#L149-L150

This ForceAuthentication, will call Stream.Read by using StreamAsyncHelper.
https://github.com/dotnet/corefx/b

[2015-11-03 02:58] kkurni commented on #3688
Thanks @roji for providing us with this detail.

These specification seems to be a provider specific.
As there are other providers which is fine to use CommandText e.g SqlClient.
Do you have any other provider which require this ?

If we end up implementing your request, this will be breaking changes for other provider as well.
This will be much simpler for specific provider to override this if th

[2015-11-03 04:58] stephentoub commented on #3622
Honestly, StreamAsyncHelper should really go away.  It existed to help code written in terms of the APM pattern migrate to .NET Core, where the base Stream class no longer exposed Begin/EndRead/Write methods, but it really just represents overhead that should eventually be removed.  In fact, I believe it's been removed from everywhere else in corefx, except for System.Net.Security.  Ideally the co

[2015-11-03 05:29] weshaggard commented on #4213
I don't know a lot about Python but I do believe we should avoid having that dependency. I agree with @jasonwilliams200OK and @mmitche that we should stick with a simple sh script on non-windows and batch scripts on windows. These scripts are mostly going to be used for basic bootstrapping and then launching builds via msbuild or cmake. If we find ourselves doing more then that then we aren't putt

[2015-11-03 05:50] roji commented on #3688
@kkurni, I think I didn't explain myself clearly...

The PostgreSQL extended vs. simple protocol isn't really relevant here, it was just to give more context. The problem is that ADO.NET's current batching API assumes that provider drivers can simply send a single string with multiple SQL statements and semicolons, which the backend will take care of splitting and executing. This simply isn't the

[2015-11-03 07:00] ppekrol commented on #1825
@davidsh Awesome, thanks!

[2015-11-03 07:54] kkurni commented on #3688
Thanks @roji for clarifying this.

by adding string[] CommandTexts will add more complexity for other providers which doesn't need it.
e.g How will you manage CommandTexts and CommandText value ?
Which will be the source of truth ?
'''csharp
cmd.CommandTexts = new string[] {"select 1", "select 2"};
cmd.CommandText = "select 3";
Console.WriteLine(cmd.CommandTexts);
Console.Write(cmd.CommandText);
'

[2015-11-03 07:58] davidfowl commented on #4146
@nguerrera This is done right?

[2015-11-03 08:21] davidfowl commented on #4282
@ericstj This isn't using DNX it's using corerun. I think the package is busted. I can launch a process fine but when it fails, it fails this way.

[2015-11-03 09:27] roji commented on #3688
The addition of a CommandTexts property definitely adds a little of complexity (as always when something added), but I'm not sure this complexity is added to other providers. If, as I proposed above, the default implementation of this property is to simply set and get the CommandText property, then things are extremely simple - there is only one CommandText value, and CommandTexts reads and writes

[2015-11-03 12:10] grokys opened #4296 "Make System.ComponentModel.TypeConverter available on generations < 5.4"
I was just speaking to @davidfowl about the new [.NET Platform Generations](https://github.com/davidfowl/aspnetvnextwebapiapp/blob/master/Generations.md) and he suggested that it may be possible to get System.ComponentModel.TypeConverter on generations lower than 5.4. That would *really* help us over at [Perspex](https://github.com/Perspex/Perspex).

The only platform it's currently unavailable on

[2015-11-03 12:16] davidfowl commented on #4296
/cc @ericstj

[2015-11-03 15:59] #4283 closed

[2015-11-03 16:04] bartdesmet opened #4298 "Expression.Loop doesn't check against reference equal break and continue labels"
Fails to compile with non-obvious error. Factory should likely check against this.

[2015-11-03 16:05] joshfree commented on #4230
This is fixed in 23502.00 and newer builds https://www.myget.org/gallery/dotnet-core-rel

[2015-11-03 16:05] #4230 closed

[2015-11-03 16:31] joshfree opened #4299 "BufferedStream should have a leaveOpen constructor"
[Migrated issue https://github.com/dotnet/coreclr/issues/1825 on behalf of @redknightlois]

Currently the BufferedStream class doesnt have such a constructor, while there are many others that are intended to be chained like GZipStream do have it.

[2015-11-03 17:39] chcosta commented on #4282
@davidfowl, do you have more specific repro instructions?  I'm working on setting up a repro machine now.

[2015-11-03 17:42] nguerrera commented on #4146
@davidfowl No, it isn't.

[2015-11-03 17:43] nguerrera commented on #4146
cc @weshaggard

[2015-11-03 17:58] weshaggard commented on #4146
@pallavit can you have a look at this.

[2015-11-03 17:59] stephentoub opened #4301 "21 System.Net.Security tests failing on OS X"
[code]

[2015-11-03 18:26] bartonjs opened #4303 "Windows: new Oid("").Value is not """
On Desktop, `""` is returned for the OID Value, and null for the OID name (http://referencesource.microsoft.com/#System/security/system/security/cryptography/x509/x509utils.cs,359)

On Linux, `""` is returned.  But Windows CoreFX returns `1.2.840.113549.1.9.9`.  One can only presume that this unexpected result is why that empty value check existed in Desktop.

[2015-11-03 18:36] JonHanna commented on #4298
Do you mean the case where the target passed to break and/or continue doesn't match any jumped to within the body?

[2015-11-03 18:41] joshfree opened #4305 "[RC2] update nuget packaging to include mscorlib.ni.dll on Linux/Mac"
After the official build is updated to produce mscorlib.ni.dll (https://github.com/dotnet/coreclr/issues/1934) the package generation script also needs to be updated to ship the new binaries.

/cc @JohnChen0 @gkhanna79

[2015-11-03 18:42] spboyer opened #4306 "Add Environment.MachineName to dnxcore50"
Need `Environment.MachineName`, `Environment.OSVersion` etc available in dnxcore50

[2015-11-03 18:43] bartdesmet commented on #4298
var l = Expression.Label();
var b = Expression.Empty();
var e = Expression.Loop(b, l, l);
var f = Expression.Lambda(e);
f.Compile();

Sent from my Windows Phone
________________________________
From: Jon Hanna<mailto:notifications@github.com>
Sent: ‎11/‎3/‎2015 19:37
To: dotnet/corefx<mailto:corefx@noreply.github.com>
Cc: Bart De Smet<mailto:bartde@microsoft.com>
Subject: Re: [corefx] Expression.L

[2015-11-03 19:24] #4303 closed

[2015-11-03 19:28] kkurni commented on #3688
How will CommandTexts read back the value from CommandText ?
Will it need Split CommandText to return them as a list ?
This  will push back the complexity from split those CommandText in the first place.

Except that we only allow to SetCommandTexts without able to read them back.
e.g ```cmd.SetCommandText(string[])```

[2015-11-03 19:44] pgavlin commented on #4037
The return code implies that this is a failfast (HRESULT is 0x80131623, which is COR_E_FAILFAST). @stephentoub is there any way to get a stack trace on failfast?

[2015-11-03 19:48] davidsh commented on #4037
@pgavlin It's possible that FAILFAST is happening due to Debug.Assert() being fired.  There was a recent change in the the Debug class to no longer fire FAILFAST.  Instead, it writes out info to stderr.

So, I would suggest trying to repro this again using current code.

[2015-11-03 19:49] stephentoub commented on #4037
My guess is that this is a Debug.Assert, which has been using Environment.FailFast if not debugger is attached.  I recently changed it to instead throw an exception, but most of the libraries that use System.Diagnostics.Debug haven't been updated to use a newer version of the package that includes my change.

Environment.FailFast does write the message (which would include the stack trace) to the

[2015-11-03 19:56] pgavlin commented on #4172
@CIPop I'm missing the difference between the linked code and the checked-in code. The [code in Socket.Windows.cs](https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs#L95) is the same as the original definition of `Socket.WSARecvMsg_Blocking` ([here](http://referencesource.microsoft.com/#System/net/System/Net/Sockets/Socket.cs,5803)). The sa

[2015-11-03 20:06] stephentoub commented on #4037
Unfortunately the event log didn't have anything for this.

[2015-11-03 20:08] JeremyKuhne commented on #4274
I'm digging into this.

[2015-11-03 20:16] stephentoub opened #4308 "CentOS CI build failing to compile System.Net.Http.Native"
[code]

[2015-11-03 20:16] stephentoub commented on #4308
Related to https://github.com/dotnet/corefx/issues/4288

[2015-11-03 20:40] roji commented on #3688
Providing a set-only function definitely could work, as you suggest.

[2015-11-03 20:50] pgavlin commented on #4172
I think that I have a fix for this. In all of the linked code there is an initialization race due to the misordered writes to `_recvMsg` and `_recvMsgBlocking` (along with the lack of appropriate barriers). I'll be sending a PR out soon.

[2015-11-03 20:59] SidharthNabar commented on #4172
Moving to rc2 since the impact is not RC1-blocking

[2015-11-03 21:20] sanjoych commented on #1039
So System.Data.Common is feature complete now for V1 of CoreCLR?

[2015-11-03 21:24] CIPop commented on #4172
My apologizes, you're right: I'm not sure why but I thought that `EnsureDynamicWinsockMethods` was somehow replacing `EnsureWSARecvMsg` entirely.

[2015-11-03 22:21] CIPop commented on #4037
I'm going to tentatively close this as a duplicate of #4204. I've been running the System.Net.Sockets tests (8 instances on a dual-core VM) with that fix for >24hrs with no crashes.

As a precaution, I'll start running the APM tests in parallel on the same VM and in the same configuration.

[2015-11-03 22:21] #4037 closed

[2015-11-03 22:25] Aaronontheweb commented on #2172
Related? https://bugzilla.xamarin.com/show_bug.cgi?id=35509

[2015-11-03 22:42] pgavlin commented on #4301
Got another hit here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/4092/consoleFull

[2015-11-03 23:42] #4172 closed

[2015-11-04 00:03] chcosta commented on #4282
@davidfowl , do you have a binary I can use to pass to corerun and repro this?  Do you have more information I can use to try to repro this?

So far I've been unsuccessful at repro'ing this, and I don't see any issue with the packages which would lead to importing a Windows implementation assembly on OSX.  The assemblies appear to be built / packaged correctly.  I'm not certain how corerun would g

[2015-11-04 00:49] ericstj commented on #4282
The package isn't busted.  The problem is you are getting an old version of FileSystem that didn't have the x-plat factoring.  Process is latest so that works, but FileSystem is old so it only has a windows implementation.  We just made a change to centrailize the lineup information that should help this.  What happens when you reference the latest Microsoft.NETCore.Platforms in your project?

[2015-11-04 01:28] kkurni commented on #3622
I agree that we can easily change StreamAsyncHelper to call ReadAsync / WriteAsync.

But Unfortunately we will never call this Async method, there was no async call in our method.

SNITcpHandle call Enable SSL which will call AuthenticateAsClient instead of AuthenticateAsClientAsync.
https://github.com/dotnet/corefx/blob/a3050bacc9b716f52f086751bfb4bf0384019f53/src/System.Data.SqlClient/src/System

[2015-11-04 02:48] jabbera commented on #3636
I just ran into this myself trying to interop between a MEF1 container and a MEF2 container. Without ComposeExportedValue I'm seemingly hosed.

[2015-11-04 02:55] jabbera commented on #3636
I also use ComposeExportedValue to import my Mocks for unit testing. How should that work in MEF 2?

[2015-11-04 04:02] vijaykota commented on #3954
Fixed via https://github.com/dotnet/corefx/pull/4237

[2015-11-04 04:02] #3954 closed

[2015-11-04 04:06] vijaykota commented on #3802
Fixed via https://github.com/dotnet/corefx/pull/4297

[2015-11-04 04:06] #3802 closed

[2015-11-04 04:09] #4308 closed

[2015-11-04 04:20] vijaykota commented on #4301
In the output shared by @stephentoub , there are a bunch of errors about libcurl.so.4. @shrutigarg, you might want to check if there is any impact due to libcurl shimming

[2015-11-04 04:31] vijaykota commented on #4301
Adding some more info (of dubious relevance). The 21 errors can be classified into 4 types:
1. No shared cipher (4 instances)
2. Unknown protocol (2 instances)
3. Wrong version number (2 instances)
4. Failed to get method (13 instances)
  1. Failed to get TLSv1_1_method (6 instances)
  2. Failed to get TLSv1_2 method (7 instances)

[2015-11-04 06:01] lakkijyotsna commented on #2699
Hi,
I have a document of type docx, which has a Property ContentType defined as 'Document'. While reading this using System.IO.Packaging ContentType is read as null.
Is this the problem occured because of definition of contentType property in docx file?

[2015-11-04 07:42] #2913 closed

[2015-11-04 09:40] shrutigarg commented on #4301
failures are because of two reasons:
1. libcurl.so.4 not found.. seems a regression in the shimming code of libcurl. @eerhardt  PTAL
 (17 tests failed)
2. Tls11and tls12 methods are not supported in opens 0.9.8 so we will have to exclude these tests from running on OSX. I will fix this.
(4 tests failed)

[2015-11-04 10:27] davidfowl opened #4314 "Add AppContext.ApplicationName"
There are cases where the exe name and the application are not the same. Consider a scenario where the entry point of the application is not user code, it could be a different host (like when you're running in windows service) that loads your application as a plugin (.dll). We do this today in ASP.NET and there are 2 modes of execution:

- Your web application owns the application entry point.
-

[2015-11-04 11:50] shrutigarg commented on #4128
submitted the fix for this.

[2015-11-04 11:50] #4128 closed

[2015-11-04 11:51] davidfowl commented on #4296
@joshfree no DNX related :smile:

[2015-11-04 12:34] davidfowl commented on #4282
I added this:

[code]

And I'll still seeing the same thing

[2015-11-04 12:34] davidfowl commented on #4282
Too old?

[2015-11-04 12:36] davidfowl commented on #4282
Put in a * and got this:

[code]

[2015-11-04 13:14] shrutigarg commented on #3832
There is no API( or any parameter)  available to set the desired cipher in Windows which is used in Handshake. It internally picks up the cipher suite which is the strongest. So testing of all cipher Algorithms is not possible in Windows setup.
Though in Unix we can start an openssl server by providing the cipher suite to be accepted by the server
(i.e.  openssl s_server -debug  -msg  -cert Client

[2015-11-04 14:23] benaadams opened #4316 "Add TryDequeue to Queue"
[`System.Collections.Generic.Queue`](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/Queue.cs) does not have a `TryDequeue` method, however its `Dequeue` is a throwing method so the following pattern always has to be used:

[code]
with extra boilerplate for for whatever no item handling; this would be better as:
[code]
As per `ConcurrentQueue` or

[2015-11-04 14:31] ericstj commented on #4282
Not seeing that in DNX.  Do you have a log of the restore and the source project.json?

[2015-11-04 14:46] ericstj commented on #4296
I'll take a look and see if we can do it.  The hard part for most of these isn't the implementation, but its dependencies.  Everything down the stack needs to be oob-able to net45.

[2015-11-04 15:22] bartonjs commented on #4101
This was fixed by https://github.com/dotnet/corefx/pull/4121, but must not have tagged correctly.

[2015-11-04 15:22] #4101 closed

[2015-11-04 15:30] ericstj commented on #4282
Now seeing this on the official build.  I'll have a look.

[2015-11-04 16:04] ericstj commented on #4282
Ok, build should be fixed.  Can you delete the local copy of System.Private.DCS and try again?

[2015-11-04 16:27] zabulus commented on #4316
You can write an extension method for this.

[2015-11-04 16:30] gkhanna79 commented on #4027
@davidfowl I have filed https://github.com/dotnet/coreclr/issues/1954 to track the work in CoreCLR repo and will close this issue. Please follow up with me if there are additional questions.

[2015-11-04 17:00] stephentoub opened #4317 "System.Net.Security tests asserting and failing on Linux in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst/1373/consoleFull
[code]

[2015-11-04 17:08] weshaggard commented on #3049
@davidfowl what do you guys plan to do with this information very soon?

[2015-11-04 17:14] weshaggard commented on #4314
@davidfowl is this for display purposes or will there be decisions based upon it? If it is settable is it safe to assume it should fail if someone sets it more than once?

[2015-11-04 17:15] davidfowl commented on #3049
We have a type right now [IApplicationEnvironment](https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Extensions.PlatformAbstractions/IApplicationEnvironment.cs) that is intended to be a DI friendly and thin wrapper over whatever information we can gather from the BCL. Here's the implementation for this on both full framework and .NET Core:

https://github.com/aspnet/dnx/blob/dev/src/Microsoft.E

[2015-11-04 17:16] weshaggard commented on #4146
@davidfowl how does this relate to https://github.com/dotnet/corefx/issues/4314? While in I'm in favor of adding this API as well I'm trying to understand your scenarios, do you have other scenarios outside of the application name?

[2015-11-04 17:17] weshaggard commented on #4027
@gkhanna79 I'm going to reopen this issue to use to track adding the public APIs to the contract. I agree the work will need to happen in coreclr repo but the API changes will need to happen here.

[2015-11-04 17:30] davidfowl commented on #4146
Not really, if we added the other thing and make this the default implementation (and made the name settable). It would enable the scenario I'm after.

[2015-11-04 17:32] davidfowl commented on #4314
@weshaggard not for display. Decisions will be made based on this for sure.

I'm not sure it needs to be that strict. You could imagine a layered system that composes different entry points. Each of those entry points changes the name based on arguments passed into it. It shouldn't throw.

[2015-11-04 17:37] weshaggard commented on #4314
Can you point me at code where you use it to make decisions? It seems like it would be trouble if decisions are made and someone changes it and now different decisions are made.

[2015-11-04 17:44] davidfowl commented on #4314
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/WebHostBuilder.cs#L144

[2015-11-04 18:13] joshfree commented on #4296
@davidfowl i'll rename the tag to "packaging" it if makes you feel better :-)

[2015-11-04 18:15] joshfree commented on #4306
@Priya91 PTAL.

@spboyer have you looked at https://github.com/dotnet/corefx/issues/4137?

[2015-11-04 18:39] joshfree commented on #4316
@benaadams do you want to try to flesh out the API proposal?  Here's a link on the next steps http://aka.ms/apireview

[2015-11-04 18:43] AlexGhiondea commented on #4314
I think it is fine to overwrite the value as long as no-one has read it. Once it is read it should be fixed to make sure all the decisions are made based on the same value.

[2015-11-04 19:00] pallavit opened #4318 "Remove EnvironmentExitConsoleApp from the Environment.Exit test"

[2015-11-04 19:08] #2353 closed

[2015-11-04 19:25] CIPop commented on #4037
No issues noted after 21hrs of 8 instances of System.Net.Sockets.APMServer tests running in parallel on the same 2 core VM.

[2015-11-04 19:59] saurabh500 commented on #4273
Majority of OSX exceptions are due to the Networking failures as well.

When SqlClient tries to retrieve data from NetworkStream, the stream returns 0 bytes eventually, not providing all the data that SqlClient needs.

[2015-11-04 20:02] spboyer commented on #4306
@joshfree thanks,  looks like a partial solution. I see that devs are going to want log all info from the host machine, ew should have symmetry in core for the Env values.

[2015-11-04 20:03] saurabh500 opened #4323 "NetworkStream doesn't retrieve all the data for the SqlClient"
Refer  https://github.com/dotnet/corefx/issues/4273

While using stream.ReadAsync to retrieve data, the stream returns 0 bytes when data is expected from the server.
This problem occurs on Windows, Linux and OSX while running the entity framework tests at https://github.com/aspnet/EntityFramework

[2015-11-04 20:29] Priya91 commented on #4306
@spboyer ```Environment.OSVersion``` will not be added to .NET Core, since we don't have OS apis that can provide this exact info. This API has predominantly returned false values on Windows, and the current win32 apis are more [query based](https://msdn.microsoft.com/en-us/library/windows/desktop/dn424972(v=vs.85).aspx). On Unix platforms, we don't have a definitive way to get distro name and ver

[2015-11-04 20:45] kkurni commented on #3622
As we don't support true async for open connection at this moment. We will close this issue.
And working on it when we write async all the way up for Open Connection.

[2015-11-04 20:45] kkurni commented on #3622
As we don't support true async for open connection at this moment. We will close this issue.
And working on it when we write async all the way up for Open Connection.

[2015-11-04 20:45] #3622 closed

[2015-11-04 20:57] davidsh commented on #4323
cc: @CIPop @SidharthNabar

[2015-11-04 21:01] borgdylan opened #4324 "Runtime Ids: Ubuntu 15.10 has been released"
I am not sure how runtime ids are computed, but if the ubuntu release version gets used, please remember that 15.10 is now officially released with people getting upgrade prompts.

[2015-11-04 21:02] CIPop commented on #4323
As described this would happen by design when the remote endpoint gets shut down (FIN). The local endpoint can still send data but should not be able to receive anymore.
I will help investigate the issue based on the offline discussion.

[2015-11-04 21:05] mellinoe commented on #4314
I wonder how much usage this would get? My gut reaction is that it is a bit of a niche API, at least the way it's being described (global user-controlled string that is settable/resettable).

I think if I wanted to use an API like this, I would either:
  1. Already know the information, based on the context of the code I am writing
  2. Know it based on the EntryAssembly (which I think we should a

[2015-11-04 21:07] stephentoub commented on #4317
All of the tests are failing at http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/4108/console due to issues about missing method exceptions.

cc: @pgavlin, @bartonjs, @shrutigarg, @vijaykota

[2015-11-04 21:23] eerhardt commented on #4301
On my mac, I sync'd up to the latest code, and then ran ./build.sh. 41 out of 47 System.Net.Security.Tests failed, pretty much all due to a TypeInitializationException - "Unable to find an entry point named 'EnsureLibSslInitialized' in DLL 'System.Security.Cryptography.Native'.

I see other such exceptions for System.Net.Http tests, only for 'GetCurlVersionInfo' in DLL 'System.Net.Http.Native'.

T

[2015-11-04 21:32] mge commented on #4301
@eerhardt You can get this behavior one of two ways:

1. Pass `/p:SkipTests=true` to build.sh and then use `run-tests.sh` to run tests (this will do the magic to copy the native shims into the test folders
2. Build the native code first (`./build.sh native`) then set the `BUILDTOOLS_OVERRIDE_RUNTIME` environment variable to point at the Native folder in the bin directory (with `.dylibs` that were

[2015-11-04 21:34] ellismg commented on #4301
@eerhardt You can get this behavior one of two ways:

1. Pass `/p:SkipTests=true` to build.sh and then use `run-tests.sh` to run tests (this will do the magic to copy the native shims into the test folders.)
2. Build the native code first (`./build.sh native`) then set the `BUILDTOOLS_OVERRIDE_RUNTIME` environment variable to point at the Native folder in the bin directory (with `.dylibs` that wer

[2015-11-04 21:38] spboyer commented on #4306
@Priya91 this information is more for logging when crashes, errors etc are happening. Sending this info to Splunk or other log catchers. Not just debug info.

[2015-11-04 22:00] joshfree commented on #4324
@ericstj PTAL

[2015-11-04 22:01] naamunds commented on #4301
Would the "TestWithLocalLibraries" property address this scenario, assuming the native shims have already been locally built (which they have in this case)?  This property doesn't appear to be working properly on Linux (and presumably cross-plat in general), but if we fixed it, would that be another option to get the correct versions of the native shims in the test folders?

To better understand t

[2015-11-04 22:08] ellismg commented on #4301
I'm not 100% sure, but my hunch is it would not work today without some changes.  The basic problem is that the MSBuild projects don't understand that there are these native shims running around and that it would need to copy them over.  I think that we need to teach MSBuild stuff.

For windows, I think the second option would apply.  We sort of don't hit this problem except for places where folks

[2015-11-04 22:46] saurabh500 opened #4325 "[Documentation] Improve Tracing documentation"
The documentation at https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md can be improved especially Traces > Using Perfview.
It would be good to have a few screenshots showing how to configure PerfView for the consumers of CoreFx.
PerfView may have its own documentation, however it would be nice to show what is needed for event collection in CoreFX.

[2015-11-04 22:53] eerhardt commented on #4301
So after doing as @ellismg suggested, and I ran the tests using ./run-tests.sh, I am getting the same errors as @stephentoub above:

[code]

Things to note:
1. This call to 'libcurl.curl_easy_init()' is coming from the System.Security.Cryptography.X509Certificates assembly, not the System.Net.Security assembly.
2. Since these tests are for System.Net.Security, again it is pulling the System.Securi

[2015-11-04 23:49] benaadams commented on #4316
@zabulus my point is unless you are doing exception based flow control; which would be terribad, everyone will always be writing it; extension or explicit, so it should be a part of the system library.

[2015-11-04 23:54] ericstj commented on #2984
In order to fix this we need to take into account our inbox framework lists when generating package dependencies.

Today the package dependencies are simply harvested from the assembly refs and assumed to match 1:1 with the target framework of the assembly.

We need to do this for "dotnet*" "dnxcore50" and "netcore50", but for frameworks with targeting packs we can do a little better. To reduce th

[2015-11-05 00:10] ericstj commented on #4324
/cc @anurse
Right now 15.10 is not considered compatible so it's been omitted from https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json

See https://github.com/aspnet/dnx/blob/ed98b4c687cf0785650d59e7b7a65a371bc5332f/src/Microsoft.Dnx.Tooling/Restore/ImplicitPackagesWalkProvider.cs#L96

[2015-11-05 00:37] ianhays commented on #1793
There is the question of where to put it that I would like to get some discussion on. Some options:
- It currently lives in mscorlib but isn't exposed in the core build. We could toggle it to be exposed by modifying the models.xml file to not hide it.
- Move the code to CoreFX and put it in System.IO
- Move the code to CoreFX and put it somewhere else

The proposed API contains two non-inherited/o

[2015-11-05 01:45] CIPop commented on #4323
Given the data (ETW, Network traces) on the offline conversation I am closing this as "by design".
See http://stackoverflow.com/questions/26740823/should-endreceive-ever-return-zero-if-the-socket-is-still-connected for an in-detail explanation.

[2015-11-05 01:45] #4323 closed

[2015-11-05 01:57] manu-silicon commented on #1793
As a user, I would have it in System.IO in CoreFX.

[2015-11-05 02:26] davidfowl commented on #4314
Don't think of it as ASP.NET. Here's another scenario. Lets say I did some assembly loading based on the application name, by default it's the app entry point. Now say that I'm writing a unit test and I want to change that context when running form a unit test since the unit test binary is the host.

[2015-11-05 04:40] joshfree commented on #4325
@brianrob @vancem @ianhays PTAL

[2015-11-05 04:47] anurse commented on #4324
Unfortunately the version of `libicu` in Ubuntu is different from 15.04 so I believe this will require a new version of the globalization packages from corefx.

[2015-11-05 04:52] vijaykota commented on #4317
From https://github.com/dotnet/corefx/issues/4301, @shrutigarg, I think there is another instance reported by @pgavlin - http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/4092/consoleFull

This failure also is in the test case where one side is Ssl2 and other side is Ssl3. (The roles are interchanged though between CI runs 4092 and 4108)

[2015-11-05 04:53] vijaykota commented on #4301
@pgavlin, since this issue is on Linux, we are tracking this at https://github.com/dotnet/corefx/issues/4317

[2015-11-05 05:35] joshfree opened #4335 "System.IO.Packaging.nupkg is missing from the myget feed"
system.io.packaging isn't being published as part of the daily build.

[2015-11-05 05:59] stephentoub opened #4336 "X509Certificates.Tests.ChainTests.BuildChain failing on CentOS"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_centos71_debug_tst/133/consoleFull
[code]
cc: @bartonjs, @ellismg

[2015-11-05 06:02] bartonjs commented on #4336
99% chance this is also fixed by #4327 :)

[2015-11-05 06:03] stephentoub opened #4337 "ECDsaOpenSsl tests failing on CentOS"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_centos71_debug_tst/133/consoleFull
[code]
Looks like this particular algorithm isn't available in the OpenSSL installed on the CentOS image.  Can we install one that has them?

cc: @bartonjs, @mmitche, @ellismg

[2015-11-05 06:05] stephentoub opened #4338 "Several NumberFormatInfoCurrencyNegativePattern tests failing on CentOS"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_centos71_debug_tst/133/consoleFull
[code]
cc: @steveharter, @ellismg

[2015-11-05 06:48] ericstj commented on #4296
Looks do-able.  All dependencies are supported back to Net4.5.  We'll need to produce a new façade for Nett 4.5.  Existing IL implementation can be used for win8/wp8/wpa81 after dialing back dependency versions.

[2015-11-05 06:57] saurabh500 opened #4339 "SqlClient fails on Ubuntu with exception"
While trying to connect to a database using SqlClient on Ubuntu, the following exception is encountered.
The version of DNX used is : 1.0.0-rc1-16108

System.Data.SqlClient.SqlException: A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 0 - A call to SSPI failed, see inner exception.)
   at System.D

[2015-11-05 07:30] ellismg commented on #4337
It looks like the newest version in CentOS is:

`openssl.x86_64                                               1:1.0.1e-42.el7.9`

I worry a bit about us installing third party packages which are not provided by the default package manager.  I don't think this matches the regular customer scenario.  One assumes you'll want to use the packages that are provided by the distro so when there are securi

[2015-11-05 07:34] stephentoub commented on #4337
Understood.  In this case, the product code is wrapping/exposing an algorithm that just doesn't exist in the underlying implementation, so the exception is expected, but since the test was written on a Linux that had the algorithm, the test was written to expect non-exceptional results.

As such, we either need to update the OpenSSL being used to have the algorithm, or we need to update the test t

[2015-11-05 07:37] #2204 closed

[2015-11-05 07:37] #3475 closed

[2015-11-05 09:20] vijaykota commented on #4317
@shrutigarg, since this is not a consistent repro, please check SslStream code whether socket Read failures can cause InvalidOperationException. In protocol mismatch case, server probably closes the TCP connection and maybe SslStream code is not handling this correctly

[2015-11-05 09:52] davidfowl opened #4341 "Explain the relationship between "contract" reference assembly and a platform implementation"
I have a conversation on Twitter about the dotnet TFM and it's relationship to the other TFMs that already exists. The analogy that clicks with people is the abstract base class and implementation analogy and I don't think that is specifically called out anywhere in the doc (https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md).

In general, we need to state

[2015-11-05 10:06] davidfowl commented on #4314
Maybe of ApplicationName should be an `AssemblyName` instead.

[2015-11-05 12:22] davidfowl opened #4343 "Generate API docs grouped by .NET Platform Standard version from packages"
The same way we generated this list:

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md#list-of-net-corefx-apis-and-their-associated-net-standard-platform-version-tentative

It would be cool if we could generate an MSDN style API doc experience for the .NET Standard Platform versions.

/cc @ericstj  @richlander @Petermarcu

[2015-11-05 17:06] advancedrei opened #4345 "".NET Standard Platform" conventions are confusing to developers"
Conceptually, the .NET Standard Platform (https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md) is a good idea. However, the devil is in the details, and the implementation parts that are exposed to developers will increase confusion, not decrease it. It was just made public a few minutes ago, and I'm already seeing confusion on Twitter about it: http://twit

[2015-11-05 17:33] jamesgibbs100 opened #4346 "SqlClient connection with "instance""
If I establish a connection with SqlClient using the "server\instance" data source syntax this works fine on windows. On Linux it fails with a host resolution error.

If I monitor with Wireshark, I can see the DNS query being executed but it is searching for serverinstance - i.e. it concatenates the both the service and the instance into one host name - which then fails.

Is anyone else seeing thi

[2015-11-05 18:09] #1306 closed

[2015-11-05 18:49] joshfree commented on #4324
@ellismg can you take a look at the icu differences here?

[2015-11-05 18:53] borgdylan commented on #4324
Can't .NET Core be packaged in a way that libicu gets included with the CoreCLR libraries i.e. xcopy deployed?

[2015-11-05 18:56] davidfowl commented on #4345
This is the feedback that we've heard and will consider. To be honest if naming is the only thing is that is causing confusing then that's a win. Naming is hard :smile:

This PR is an attempt to explain the relationship between the standard and platforms:

https://github.com/dotnet/corefx/pull/4342

It didn't seem to click with some people immediately.

[2015-11-05 18:57] joshfree commented on #4346
@corivera @saurabh500 @YoungGah

[2015-11-05 18:59] AlexGhiondea commented on #4314
I think AssemblyName is more confusing than ApplicationName but it depends on what you actually end up storing in there.

Can you give an example of the value this will hold?

Regardless of the name, my plan is to allow users to set the value as many times as they want until a read of the value happens. After that. Calls to set will throw.

@davidfowl let me know if that covers your scenario.

[2015-11-05 19:07] ellismg commented on #4324
The ICU differences are just due to a different version of ICU, so the export names are decorated with a different version number.  There are not functional differences.

If we want to produce different packages, we'll need to build the native shims for that distro.  Note the problem is not specific to ICU.  For example, were now seeing cases where libcurl supports different flags across different

[2015-11-05 19:17] advancedrei commented on #4341
This explanation does not make sense either, as you cannot retroactively have a class that has already shipped in a binary implement a new abstract class, without shipping a new binary that increments the version number for compatibility. You can't ret-con your way into explaining the solution.

This also brings up the questions "What happened to .NET Standards 1-4, if we're not suddenly on Standa

[2015-11-05 19:18] #4060 closed

[2015-11-05 19:30] ianhays commented on #3669
I agree that the current implementation doesn't seem to make much sense, but I assume it is that way for a reason, The same behavior is present on Desktop and in [the docs](https://msdn.microsoft.com/en-us/library/system.io.compression.deflatestream.flush(v=vs.110).aspx), so modifying it would be a potentially breaking change.

If we're going to modify this, it should be in a way that doesn't brea

[2015-11-05 19:34] saurabh500 commented on #4339
This is an issue with SSL authentication while using DNX
1.0.0-rc1-16108      coreclr x64          linux

The Repro is posted here
https://gist.github.com/saurabh500/77e74e85e72cc537a28a

[2015-11-05 19:35] saurabh500 commented on #4339
@joshfree Who should be the correct person to look at this?

[2015-11-05 19:35] saurabh500 commented on #4339
@joshfree Can we have this looked at by the appropriate owners?

[2015-11-05 19:47] joshfree commented on #4339
@saurabh500 that would be the networking folks you're already working with.

[2015-11-05 20:03] saurabh500 commented on #4339
Thanks @joshfree This seems like a DNX issue. The same scenario is passing when run as CoreFX test suite on Rc1 code base.

[2015-11-05 20:30] jasongaylord commented on #2189
+1 I need to use XslCompileTransform in an embedded assembly by passing in controlled documents.

[2015-11-05 21:13] brianrob commented on #4325
@CIPop, it looks like you added this documentation.  Can you help with this?

[2015-11-05 21:16] CIPop commented on #4325
This is very low on my list. I still think "up for grabs" is the correct marking.
@joshfree I don't understand the tag "performance": this document is about enabling Debug ETW traces.

[2015-11-05 21:20] saurabh500 commented on #4323
@CIPop  Thanks for the comprehensive investigation.

[2015-11-05 21:31] ianhays commented on #1136
Oh man these tests are a nightmare. So I've narrowed down the problem here a bit and added a specific unit test for it.Adding to the HybridDictionary and then immediately getting from that HybridDictionary fails very rarely, so I added a loop around the part that is failing.

Adding "ItemX" (where X is the current iteration) and then getting that value returns some weird strings. The returned valu

[2015-11-05 21:42] saurabh500 commented on #4273
On further investigation, I figured out that the failures are due to the enablement of MARS (MultipleActiveResultsSet) in the connection String.

The implementation of MARS in the Managed Sql Client is still flaky. We will provide details after more investigations. Due to bad MARS implementation, the server is terminating the connection.

*The recommendation is to turn off MARS while connecting to

[2015-11-05 21:54] tillig opened #4354 "Is new tooling required to support the standard platform TFMs with classic PCL?"
I have a NuGet package targeting `dotnet5.2` that I've built and I'm trying to test that in conjunction with a standard VS 2015 Portable Class Library targeting Profile111.

[code]

[Per the new documentation](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md), I gather this should work.

However, in trying it, I see the following error:

[code]

Am I wro

[2015-11-05 22:09] SGuyGe opened #4355 "Remove project reference to System.Runtime.Serialization.Primitives from System.Private.DataContractSerialization"
The project reference should be removed from csproj and put into project.json.

151     <ProjectReference Include="..\..\System.Runtime.Serialization.Primitives\src\System.Runtime.Serialization.Primitives.csproj">
152       <Project>{CDF0ACB5-1361-4E48-8ECB-22E8022F5F01}</Project>
153       <Name>System.Runtime.Serialization.Primitives</Name>
154     </ProjectReference>

[2015-11-05 22:31] kkurni opened #4357 "TCPClient.ReceiveTimeout should be in Milliseconds ?"
Based on MSDN TCPCleint.ReceiveTimeout should be in Millisecond.
https://msdn.microsoft.com/en-us/library/system.net.sockets.tcpclient.receivetimeout(v=vs.110).aspx

But when I read the code it said in second.
https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/TCPClient.cs#L328

Which one is correct ?

[2015-11-05 22:31] kkurni commented on #4357
CC @corivera @saurabh500

[2015-11-05 22:33] davidsh commented on #4357
The comment is probably wrong.

[2015-11-05 22:33] davidsh commented on #4357
@CIPop @pgavlin PTAL

[2015-11-05 22:38] ellismg commented on #498
Fixed with #4349

[2015-11-05 22:38] #498 closed

[2015-11-05 23:32] ianhays commented on #1136
I refactored the test further and can no longer replicate the bug.

New structure:
[code]

[2015-11-05 23:48] kkurni opened #4361 "SqlCommand Timeout = 0 should behave as infinite timeout"
SqlCommand Timeout = 0 should behave as infinite timeout

[2015-11-06 00:07] stephentoub opened #4363 "BeginSend_AsyncOperationCompletes_Success failure in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/6206/
[code]

[2015-11-06 00:09] davidsh commented on #4363
cc: @pgavlin @josguil

[2015-11-06 00:15] CIPop commented on #4357
@davidsh +1: SO_RCVTIMEO is in milliseconds.

@kkurni Thanks for noticing this! Feel free to submit a PR to change the comments to say "milliseconds".

[2015-11-06 00:19] davidfowl commented on #4345
@advancedrei Ok we renamed it https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md.

dotnet5.x is now netstandard

[2015-11-06 00:19] #4345 closed

[2015-11-06 00:31] yizhang82 commented on #3863
Thanks @jazzdelightsme for opening this issue. I'm going to close this since this is a dup of #1346. We can take the discussion there.

[2015-11-06 00:31] #3863 closed

[2015-11-06 01:07] stephentoub opened #4364 "GetAsync_AllowAutoRedirectFalse_RedirectFromHttpToHttp_StatusCodeRedirect failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/5997/console
[code]

[2015-11-06 01:24] saurabh500 opened #4365 "System.Data Should surface the internal exceptions"
Currently all the internal exceptions received by System.Data are being wrapped around as SNI error codes. These exceptions should be surfaced in the exception stack trace so that the reason for exception is knows.
This is needed in the managed SNI components of System.Data where we are relying on other .Net components for networking etc.

[2015-11-06 03:09] davidfowl opened #4367 ".NET Platform standard remaining work items"
- [x] NuGet needs to add support for netstandard TFM - https://github.com/NuGet/Home/issues/1691
- [x] NuGet needs to map portable profiles - https://github.com/NuGet/Home/issues/1692
- [ ] ~~Flesh out design for TFM file - https://github.com/dotnet/corefx/pull/4344/files~~
- [x] Update .NET packages to use new TFM

/cc @ericstj @lodejard @anurse @Petermarcu @richlander

[2015-11-06 03:20] stephentoub commented on #1136
Those values make it seem like something might be going on with a Turkish culture (https://github.com/dotnet/coreclr/blob/master/src/corefx/System.Globalization.Native/casing.cpp). Is it possible some other test is somehow interfering with this one, something running concurrently, something leaving a culture set on the thread, etc.?

[2015-11-06 03:44] kkurni opened #4368 "Refactor SNIHandle.ReceivePacket to use out instead of ref"
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs#L269

I think we should refactor this to use "out" instead of ref.
As it can lead to confusion whether that Packet is always null or there may have initialized object.
Especially when the decision of releasing that packet.

If it designed to always null, then we should use "out" ins

[2015-11-06 03:44] kkurni commented on #4368
CC @corivera @saurabh500

[2015-11-06 03:54] saurabh500 commented on #4368
@corivera can you look at this and make a recommendation?

[2015-11-06 04:17] davidfowl commented on #4341
I don't get what you're saying and I think you missed the point. It's an analogy to classes, these "contracts" are not really classes at all. The mental model is that the standard is a base class and platforms implement a standard.

Give the document a re-read. We started over from 1.0 because it was confusing.

The original idea was to .NET Core 5.0 but naming is hard man :smile:

[2015-11-06 05:09] mj1856 commented on #2618
FYI, for transitions like these, Windows has a separate rule for every year, for some arbitrary amount of time into the future.  Currently, Israel Dynamic DST rules go to year 2023 in the Windows registry.

Not necessarily the best approach, but you could do something similar here.  You wouldn't necessarily need a new transition rule for *every* year, but you'd project pseudo rules, alternating be

[2015-11-06 05:13] mj1856 commented on #2618
![image](https://cloud.githubusercontent.com/assets/1396388/10989904/16806bf4-8402-11e5-8079-f48c9798de9c.png)

[2015-11-06 05:24] stephentoub commented on #3748
Related failure:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/4166/console
[code]

[2015-11-06 05:57] davidfowl commented on #4354
@tillig Updated to doc pointing to the issue which has the remaining work. Mapping portable is one of those things.

[2015-11-06 06:15] #3061 closed

[2015-11-06 06:20] kkurni opened #4371 "Why GetRuntimeFields return non public field vs GetRuntimeField return public only flags ?"
Why GetRuntimeFields return non public field vs GetRuntimeField return public only flags ?

[code]

[2015-11-06 06:23] weshaggard commented on #4371
Can you provide a pointer to the code you copied in there?

cc @nguerrera

[2015-11-06 06:46] kkurni commented on #4371
hmm.. apparently the implementation is not exposed yet.
...\src\System.Reflection.Extensions\System\Reflection\RuntimeReflectionExtensions.cs

which is reference here.
https://github.com/dotnet/corefx/blob/c02d33b18398199f6acc17d375dab154e9a1df66/src/System.Reflection.Extensions/ref/System.Reflection.Extensions.cs#L64

I checked .net46 has differnet implementation as well.
http://referencesource.m

[2015-11-06 09:18] #1995 closed

[2015-11-06 09:24] tthiery opened #4373 ".NET Platform Standard Document - Some Ideas to improve it"
I was reading the ".NET Platform Standard" document. I liked it a lot, but there are some details where I would love some clarification in the document

* It is about the Platform Standard. Nevertheless, many will use the netstandard TFMs for their libraries. So when speaking of "Reference Assembly" and "Implementation Assembly", I think we need a very clear separation between a library targeting

[2015-11-06 11:16] davidfowl commented on #4373
@tthiery excellent suggestions!

[2015-11-06 12:50] bartdesmet opened #4375 "Expression.Property should reject indexers - SecurityException"
Generates invalid IL

[code]

with exception

[code]

Simple fix in expression factories to reject indexers.

[2015-11-06 12:50] davidfowl commented on #4373
This will be mostly lib only, nothing will change from today. The only time you need ref is for bait and switch.

[2015-11-06 13:00] alhimovich opened #4376 "DtdProcessing.Parse missing"
Not sure if I am doing something wrong, but how do I access DtdProcessing.Parse enum value in corefx?
There seems to be a Parse static method as well now, so getting this compilation error:
[code]
Any advice?

[2015-11-06 13:33] bartdesmet commented on #4375
Also note `MakeIndex` doesn't check whether the property is an indexer, but that's fine; it all works well if no arguments are specified.

[2015-11-06 13:58] tthiery commented on #4373
understood. "Today" is quite new for many. PCLs usage and NuGet package **creation** is new for many enterprise devs ;)

[2015-11-06 14:23] Dmitry-Me opened #4377 "How do I submit a bug/PR against System.Web?"
I see a problem in this source https://github.com/Microsoft/referencesource/blob/master/System.Web/HttpValueCollection.cs That repo is read-only. This repo simply omits that code. How do I submit a bug/PR against that code?

[2015-11-06 14:27] ejsmith commented on #4367
netstandard seems kind of weird and verbose. What about just using pcl1.0 - pcl1.5? Seems like it's a little more intuitive since people are already familiar with what PCL is and drives home that this is an extension of that.

[2015-11-06 14:50] davidfowl commented on #4367
The reason we want to avoid PCL is because in a few years, this will just be a normal library. It's considered a PCL now because we have to retrofit existing platforms. We don't want the name to have that burden forever.

Plus standard matches the "platform standard". We tried netstd but ya know std isn't a great acronym :smile:

[2015-11-06 14:55] davidfowl commented on #4377
System.Web is not open source or a part of .NET Core. So you can't submit a PR for it.

[2015-11-06 15:15] eerhardt commented on #2618
:+1: on that pic.

Fortunately for now, the tz files (on my Ubuntu machine) have transition timestamps until 2038. So we can accurately support these time zones until that year. This issue is only for years beyond the transition timestamps stored in the tz files, which could be less or more than 2038 depending on which tz files the system has.

[2015-11-06 15:22] ejsmith commented on #4367
Haha! I see what you are saying and I realize that is where you guys are trying to get. It seems like dotnet was a better name for the long term, but I guess people got really confused over that because of the similarity between net and dotnet. I think maybe the biggest issue with all the negative feedback that you guys are getting is the fact that you exposed a matrix of all the platforms and I d

[2015-11-06 15:24] davidfowl commented on #2984
Maybe be can do something in nuget instead? This will become more of a problem with the standard platform

[2015-11-06 15:32] xanather opened #4378 "RSA.Create() and ECDsa.Create() don't exist."
RSA.Create() and ECDsa.Create() don't exist for the System.Security.Cryptography.Algorithms package.

How am I supposed to use those algorithms with .NET Core?

Aes.Create() works fine.

This is for package version 4.0.0-beta-23409.

[2015-11-06 15:39] PinpointTownes commented on #4378
FYI, there's already a ticket for `RSA.Create()`: https://github.com/dotnet/corefx/issues/2953 :smile:

[2015-11-06 15:58] xanather commented on #4378
Nice thanks, will close this one then.

[2015-11-06 15:58] #4378 closed

[2015-11-06 16:00] akoeplinger commented on #4377
But you *can* submit a bug report for .NET Framework (which includes System.Web) on https://connect.microsoft.com/VisualStudio

[2015-11-06 16:15] ericstj commented on #2984
Perhaps, though the problem here is nuget v2 / packages.config where all these dependencies get burned into packages.config.  On nuget v3 the dependencies are a no-op since the only place they show up is the lock file and they are just validating that the specific dependencies are supported by the platform.

[2015-11-06 16:56] etomm opened #4379 "Implementation of IStructuralEquatable.GetHashCode in Array class consider just element with 0 index"
This is the implementation:

[code]

As you can see the CombineHashCodes keeps combining the hashcode of element with 0 index.

This makes array as new[]{"aa","bb"} and new[]{"aa","cc"} to have the same hashcode. And the probability that there are array with the first element equal is usually higher.

[2015-11-06 16:59] etomm commented on #4379
Ok, I could find the file right now and I see that it has been corrected, I hope it enter a fix release for version 4.5

[2015-11-06 17:22] ianhays commented on #1136
Yeah and that would explain why I can't replicate the error: I turned off the big all-in-one test and started just running my Theory. I'll re-enable it and see what happens. The tests could really use a refurb so I may just do that while I'm at it.

[2015-11-06 17:58] #4357 closed

[2015-11-06 18:10] naamunds commented on #4138
Fixed by https://github.com/dotnet/coreclr/pull/1905

[2015-11-06 18:10] #4138 closed

[2015-11-06 18:14] joshfree commented on #4376
@krwq @sepidehMS @piotrpMSFT PTAL

[2015-11-06 18:16] nguerrera commented on #4371
I'm afraid I don't have a good answer as I was not around for the design and implementation of RuntimeReflectionExtensions. I have wondered about this myself, but we can't change the existing behavior. For methods at least, the singular variant being public-only makes ambiguous match less likely, but it is still a very strange api design to have the singular and plural variants search different ac

[2015-11-06 18:22] jasonwilliams200OK commented on #4367
`std` would overweigh the other meaning, if that be a TLD for all programming languages and frameworks standard. Then `http://net.std` would be super rad! And so would `http://cpp.std`, `http://c.std`, `http://rust.std`, `http://go.std`, `http://csharp.std` etc. :smile:

[2015-11-06 18:28] mteper opened #4382 "Update HttpStatusCode enum with updates"
# Latest Proposal

We should update current [HttpStatusCode](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Net.Primitives/src/System/Net/HttpStatusCode.cs) to include more official status codes defined in recent RFCs.

## Proposed API

[code]

## Details

Values added from WinRT: [Windows.Web.Http.HttpStatusCode](https://docs.microsoft.com/en-us/uwp/api/

[2015-11-06 18:28] mteper commented on #4382
Main RFC, with links to update RFCs: https://tools.ietf.org/html/rfc2616

[2015-11-06 18:35] davidsh commented on #4382
RFC2616 is obsolete now.  The latest set of HTTP RFCs are 7230 thru 7240:

http://tools.ietf.org/html/rfc7230

Also, are you asking for adding new enum values or changing existing ones?  We can't change existing ones.  And adding new ones would be an API change which we would have to figure out how to get working across all the platforms as well as Desktop.

[2015-11-06 18:36] davidsh commented on #4382
cc: @si

[2015-11-06 18:37] kouvel commented on #3588
Almost all of the remaining difference is in GetThread. There isn't an easy fix for this, so we are currently not planning on addressing this. We can take another look if we see this to be a significant issue in user scenarios.

[2015-11-06 18:37] #3588 closed

[2015-11-06 18:37] kouvel commented on #3590
Almost all of the remaining difference is in GetThread. There isn't an easy fix for this, so we are currently not planning on addressing this. We can take another look if we see this to be a significant issue in user scenarios.

[2015-11-06 18:37] #3590 closed

[2015-11-06 18:40] terrajobst commented on #4314
@AlexGhiondea, can you drive this through the API review? It seems there are still some pending concerns around:

* The return type
* The semantics on how this property can be set, if it can be set, and by whom

[2015-11-06 18:42] AlexGhiondea commented on #4314
@terrajobst - absolutely!

[2015-11-06 18:50] mteper commented on #4382
New ones:

207: https://tools.ietf.org/html/rfc4918#section-11.1

422: https://tools.ietf.org/html/rfc4918#section-11.2
423: https://tools.ietf.org/html/rfc4918#section-11.3
424: https://tools.ietf.org/html/rfc4918#section-11.4

428: https://tools.ietf.org/html/rfc6585#section-3
429: https://tools.ietf.org/html/rfc6585#section-4
431: https://tools.ietf.org/html/rfc6585#section-5

507: https://tool

[2015-11-06 18:55] terrajobst commented on #1793
@ianhays, we shouldn't expose the old async APIs (`BeginXxx`, `EndXxx`). Otherwise, looks fine. Exposing it in System.IO.dll seems fine, too.

[2015-11-06 18:57] terrajobst commented on #2578
API addition looks fine.

@AlexGhiondea, it seems you'd own this :-)

[2015-11-06 19:01] terrajobst commented on #2075
API looks fine.

@VSadov, we think the RTM timeline would be reasonable, but it's your call really.

[2015-11-06 19:04] #4282 closed

[2015-11-06 19:14] ianhays commented on #1136
Good call. There are two tests that set the DefaultThreadCurrentCulture to Turkish. Pushing a fix now

[2015-11-06 19:20] ianhays commented on #1793
Thanks @terrajobst, will do!

[2015-11-06 19:29] davidfowl commented on #4282
Works now

[2015-11-06 19:35] mellinoe commented on #1793
Generally, we should always expose things in a portable implementation if we are able to. That's only not possible if the type is in mscorlib (or System.Private.CoreLib), and leaks through some other part of the API. For example, System.IO.Stream is returned from a lot of different things in mscorlib, so we can't pull the implementation out into the partial facade. If we did, then the two type def

[2015-11-06 19:37] joshfree commented on #4324
I'm moving this to RC2; we will need to address this as part of the overall shim packaging story (tracked by https://github.com/dotnet/corefx/issues/2302)

[2015-11-06 19:53] Priya91 opened #4384 "Add Arm64 to Architecture in System.Runtime.InteropServices.RuntimeInformation"
@jkotas
"Other existing runtimes (mono, Unity) do support arm64 already. You should add it to the public contract at least so that this contract can be implemented by other runtimes.

[2015-11-06 20:42] Priya91 opened #4385 "Replace windows RTLGetVersion with a better win32 version api that will work on all platforms."
This change will affect the output of ```RuntimeInformation.OSDecription``` on windows. This API and several other documented version APIs for windows are not available on onecoreuwp and hence will fail WACK test for .NET Native. This work item tracks sync up with windows team to either expose these to onecoreuwp or for better alternatives.

[2015-11-06 21:32] kkurni commented on #4361
https://github.com/dotnet/corefx/pull/4356

[2015-11-06 21:32] #4361 closed

[2015-11-06 21:37] ericstj commented on #4339
I took a look at this with Saurabh and folks offline.  The problem was around using RC1 DNX with live-dev-branch packages (System.Net.Security).  DNX carries the native shims for unix and will not load the latest bits even when pulling in newer packages.  When using RC1 you need to ensure that you do not have the dotnet-core feed enabled and clean out your package cache before doing so.

[2015-11-06 21:37] #4339 closed

[2015-11-06 21:52] ericstj opened #4388 "Test baseline is wrong"
We need to investigate the bits that we use for testing in corefx and for CI.  Today each test decides which dependencies are live (via ProjectReferences) or baseline (via packages).  Additionally the baseline is only updated periodically.

This can lead us to a place where folks commit bits that might work independently by not together.

For TOF, internally, folks are solving this by always using

[2015-11-06 22:20] davidsh commented on #4388
I definitely think that 'msbuild' should be using `/p:TestWithLocalLibraries=true` on the CI machines if it isn't already.

[2015-11-06 22:45] weshaggard commented on #4388
cc @Chrisboh

I agree there is some workflows to be figured out but I don't think we should be blindly using TestWithLocalLibraries all the time in CI or local dev workflow. I do believe we should have at least one test run for our repo that is running with the latest, and currently I believe our code coverage runs do this.

I hope that this is more of a point in time issue as we are still in pre-

[2015-11-06 22:48] corivera commented on #4368
Since we're initializing the packet here every time, "out" would work better. And then there should also be a null check on the packet in "ReportErrorAndReleasePacket".

[2015-11-06 22:50] saurabh500 commented on #4368
What about the MARShandle? Are we initializing the packet there as well?
On Nov 6, 2015 2:49 PM, "Cory Rivera" <notifications@github.com> wrote:

[2015-11-06 22:53] kkurni commented on #4368
I have checked on MarsHandle as well, it also called with null packet.
but this packet would be reused using queue, but the caller won't pass any reference packet.

[2015-11-06 23:06] saurabh500 commented on #4368
Sounds good.
On Nov 6, 2015 2:54 PM, "Kurniawan Kurniawan" <notifications@github.com>
wrote:

[2015-11-06 23:15] kkurni commented on #4368
I can take this one since I am in codebase now.

[2015-11-06 23:32] Priya91 opened #4391 "Add version information to FrameworkDescription."
What version string is expected for .NET Framework, .NET Core and .NET Native.

+PM @terrajobst on providing insight with marketing names.

cc @weshaggard
cc @gkhanna79 To provide insight on runtime side.
@davidfowl Please provide more data on how useful knowing version of framework is, and what you expect for the 3 different framework stacks.

[2015-11-07 00:29] natemcmaster commented on #4273
MARS is an important feature. Although flaky, let's leave MARS enabled in EF testing to dogfood any progress on this.

[2015-11-07 01:44] weshaggard commented on #4391
For this I actually think @mellinoe suggestion in the PR is a good one.

[2015-11-07 01:53] davidfowl commented on #4391
+1

[2015-11-07 03:51] saurabh500 commented on #4273
Yes MARS is important. I didn't mean to suggest a permanent change to EF
test. Just wanted to point out the code where MARS is enabled so that we
have it documented with this issue.
On Nov 6, 2015 4:30 PM, "Nate McMaster" <notifications@github.com> wrote:

[2015-11-07 05:49] stephentoub opened #4396 ""Called on completed result" assert in Socket APM tests on Linux"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/4193/console
[code]
cc: @pgavlin, @cipop, @davidsh

[2015-11-07 07:01] stephentoub commented on #3689
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/6046/console
[code]

[2015-11-07 07:03] stephentoub opened #4397 "Perf_Process.Kill test failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/6046/console
[code]

[2015-11-07 10:02] #4377 closed

[2015-11-07 14:34] Belorus opened #4399 "ResourceManager gets incorrect lineending from .resx in Windows 10 Universal App"
If i create resx with 2-line string and get it via ResourceManager - i get only \n instead of \r\n (Environment.NewLine is \r\n)

.resx file is in PCL that is referenced from UWP project.

Visual Studio 2015 Update 1
Testing on Desktop Windows 10

[2015-11-07 15:56] metzgithub commented on #1624
Isn't using mocks for testing http services a bit obsolete? There are quite a few self hosting options what allow easy mocking of the http service and requires no code changes, only a change in service url. I.e. HttpListener and OWIN self host, but for complex API one could even build a mock service or use an autoresponder.

[2015-11-07 17:45] bartdesmet opened #4400 "Expression.VisitBlock throws NullReferenceException if only variables change"
Repro:

[code]

This came up when writing a variable substitution visitor to eliminate aliasing of variables. The issue is in the loop at the end of `VisitBlock` making the assumption that the array cannot be null. It will only be non-null if at least one expression in the block was rewritten.

[2015-11-07 22:12] Page-Not-Found commented on #3116
I am interested to work on this. Is this still being tracked to be implemented?

[2015-11-07 22:25] PureKrome commented on #1624
![image](https://cloud.githubusercontent.com/assets/899878/11017672/819ff284-85fa-11e5-95e5-ec2daa38c689.png)

![image](https://cloud.githubusercontent.com/assets/899878/11017675/ad54b432-85fa-11e5-8c11-1beed69e8d9f.png)

[2015-11-07 22:33] JohanLarsson opened #4405 "Serializing a TimeSpan writes an empty element"
[code]
Outputs `<Value />`
This is not pit of success.

[Sample](https://dotnetfiddle.net/t6tE23)

[2015-11-08 06:57] AlexGhiondea opened #4406 "Additional coverage for GetEnvironmentVariable for empty variable"
We should add some more tests around GetEnvironmentVariable when the value of the environment variable is an empty string.

This is not possible on Windows, but should be possible on other platforms.

[2015-11-08 11:07] hughbe opened #4409 "String.IsNullOrX()"
Currently we have the function `String.IsNullOrEmpty(string)` as well as `String.IsNullOrWhitespace(string)`

It would be useful to add a public API that lets a user check if a string is null or a single character. Building on this, an API could be added to check if a non-null string is made of a single character.

It could look something like this:

[code]

I'm not very happy with the naming of t

[2015-11-08 11:10] tpetrina commented on #4409
I think this is much better suited to be an extension method as the usage for this is quite low. Besides, you can do it in one if: `if (!string.IsNullOrEmpty(s) && s[0] == 'c')`.

[2015-11-08 11:22] hughbe commented on #4409
Im not sure that would do the job, as the API I propose would check if the string is *only* made from that character

For example string.IsNullOrCharacter('a') would work as follows

Input -> Output
null -> true
"a" -> true
"aaaaa" -> true
"aaaab"->false

[2015-11-08 11:47] Maxwe11 commented on #4409
For me it sounds like string should be null or have length of one character

[2015-11-08 11:50] hughbe commented on #4409
@maxwe11 my reasoning behind this is that string.IsNullOrWhitespace doesn't really behave like this - a string with any number of spaces/tabs etc. Would produce a true output

[2015-11-08 12:38] Maxwe11 opened #4410 "Performance testing"
I'm trying to write own performance test but get the following error.
`msbuild /t:RebuildAndTest /p:Performance=true /p:Configuration=Release`

			System.IO.FileLoadException : Could not load file or assembly 'xunit.pe
	  rformance.core, Version=1.0.0.26, Culture=neutral, PublicKeyToken=67066efe964
	  d3b03' or one of its dependencies. The located assembly's manifest definition
	   does not match

[2015-11-08 12:47] Maxwe11 commented on #4187
again http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/6283/console

[2015-11-08 13:04] NickCraver commented on #4409
Whitespace refers to any length of whitespace though - that's not confusing. Character is very specific :)

FWIW, I agree these should remain extension methods - aside from character prompts in console applications (y/n style), I can't think of common use cases across the platform.

Of course, I'm still waiting for the `string.HasValue()` and `string.IsNullOrEmpty()` *extension* methods that so ma

[2015-11-08 13:31] alexsorokoletov commented on #2699
Can someone please clarify following items:

Also, what is the best way to work with changes related to the same issue from multiple people?
Please advise.

[2015-11-08 15:00] Maxwe11 commented on #2699
InternalRelationshipCollection.cs - 592 - Debug.Fail?

done in #4408

[2015-11-08 16:55] benaadams commented on #3810
WIndows in a VM is `Vector.IsHardwareAccelerated` true

[2015-11-08 17:19] bartdesmet opened #4411 "There is no way to make a reflection call to a method with ref parameters while preserving aliasing nature of ref"
VSadov: while passing parameters byref can be modeled through passing mutable object[] + copybacks. It is not the same as truly passing arguments byref.
Some methods, like ones from Interlocked family, rely on aliasing nature of ref and the difference is observable.

Since all the calls in Interpreter are done via reflection, we cannot interpret certain calls correctly due to insufficient APIs.

=

[2015-11-08 17:50] bartdesmet commented on #4411
Unfortunately, the `Invoke` method on `MethodBase` has little flexibility to deal with this, or I should be missing something obvious. We'd have to be able to pass a `T&` in an `object[]` slot for the arguments passed to `Invoke`. Maybe `TypedReference` provides a way out if we'd be able to pass it and if reflection would understand it.

This is similar to (but deeper than) the `Type.Missing` inte

[2015-11-08 18:50] GSPP commented on #2454
Just noticed Roslyn commit 85c4c37e9d79ce04cb3b73cad31926d6c3bef1f5: Continuation inlining caused a deadlock in some AsyncQueue class.

Really, a lot of people are bitten by the issues outlined above. Nondeterministic reentrancy is poison.

Quoting the commit message:

[2015-11-09 01:38] davidfowl commented on #4382
If we make a new enum or type we should also look at the fact that we have our own

https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Abstractions/StatusCodes.cs#L6

/cc @Tratcher @Eilon

[2015-11-09 01:41] davidsh commented on #4382
Don't understand why you would have another enum type that is substantially similar to System.Net HttpStatusCode.

cc: @ericstj @weshaggard

[2015-11-09 01:44] mteper commented on #4382
What @davidsh said. But if we must have a new one, perhaps it should be more complete?

[2015-11-09 01:56] davidfowl commented on #4382
I'm fuzzy on the reasons but it might have been a dependency thing? Where are the status codes defined right now? It might have also been a flexibility thing so it was ok to change outside of .NET Framework (since we didn't want to bother unifying the type).

[2015-11-09 02:17] davidsh commented on #4382
https://msdn.microsoft.com/en-us/library/system.net.httpstatuscode(v=vs.110).aspx

[2015-11-09 02:20] #4368 closed

[2015-11-09 03:13] davidfowl opened #4415 "Move System.Native to a standalone dependency"
Now that we've minimized dependencies on coreclr https://github.com/dotnet/corefx/commit/8a11cbbc29132a5d66f25a5ad2294732c4103733 we should change the packaging to suit (if possible)

[2015-11-09 03:46] onovotny commented on #4367
For posterity, this is the kind of hoops we had to jump through with `dotnet` prior to fixing it with the `netstandard`:
https://github.com/onovotny/BouncyCastle-PCL/blob/a71468c46b50d51bc6b8164fc376cb8321fb83ad/Portable.BouncyCastle.nuspec

The library has a Profile328, Profile259 and "modern" versions with increasing capability. Lots of blank dependency groups and redundant copies in `lib` dirs.

[2015-11-09 03:55] vijaykota commented on #4301
Some OSX test cases have been fixed in https://github.com/dotnet/corefx/pull/4315
The Linux issue is being tracked with #4317
Keeping the issue open to track the libcurl mismatch and reassigning

[2015-11-09 04:34] jasonwilliams200OK commented on #4415
Dup of https://github.com/dotnet/corefx/issues/2302.

[2015-11-09 05:16] Eilon commented on #4382
We chose a different strategy for two reasons:

1. We found that using an `enum` to describe this was cumbersome when the API you're calling uses an `int` due to the required cast. If your code is staying within the `System.Net` universe there's no problem, but the moment you try to interoperate with any other code you end up with casts.
2. We found that having the status codes in the names of the

[2015-11-09 05:46] cdrnet commented on #4367
In what `netstandard` version would `System.Numerics` be available (the one with `BigInterger` and `Complex`, which is missing in most PCL profiles)? 1.1 and higher?

[2015-11-09 06:56] davidfowl commented on #4367
Looks like that's missing from the list. I'm going to get that hooked up to the build so we can see an accurate list thats always up to date.

[2015-11-09 07:02] davidfowl commented on #4367
@ericstj I actually don't see that contract anywhere.

[2015-11-09 07:04] davidfowl commented on #4367
Found it! `System.Runtime.Numerics` and it goes back to 5.1

[2015-11-09 12:35] #4415 closed

[2015-11-09 13:14] stephentoub commented on #4382
Fine concerns, but to me neither of those seems like enough reason to introduce another type with the same values for the same purpose. (And for the second case, if the first is an enum, then you can do ```(HttpStatusCode)302``` if you want the enum value associated with the number.) My $.02.

[2015-11-09 13:29] davidfowl commented on #4382
Can't change this type because it unifies with .NET Framework right? That's another good reason to make a new one.

[2015-11-09 13:38] stephentoub commented on #4382
I'm not following why that's a good reason.  Why not just add additional values to HttpStatusCode here and then to the desktop implementation the next time it revs?  We need to be able to add additional members/etc. to existing framework types, and shouldn't just add a new type every time we want to augment something.  In some cases, sure, it makes sense to branch out; this doesn't seem like one o

[2015-11-09 13:49] davidfowl commented on #4382
@stephentoub Because it forces multi-targeting if anyone wants to use a new enum value.

[2015-11-09 13:51] stephentoub commented on #4382
Or just using it by number until they're able to upgrade to the newer version of the contract, e.g. ```(HttpStatusCode)302```.  I'd much prefer that than having two types for the same purpose.

[2015-11-09 13:52] davidfowl commented on #4382
Or just have one type in a new place that doesn't unify because it's just a class and there's little value (IMO) in unifying this enum.

[2015-11-09 15:25] Tratcher commented on #4382
This is all getting side-tracked from the real reason we did this; we didn't want the type to be an enum because it's a poor fit for this data set, so we choose const int's instead.

[2015-11-09 15:50] davidfowl commented on #4343
Some ideas for visualizations - http://caniuse.com/

[2015-11-09 16:19] stephentoub commented on #3810
Turns out SIMD isn't enabled on Unix yet:
https://github.com/dotnet/coreclr/issues/983

[2015-11-09 16:52] ianhays commented on #4410
This is a versioning issue that the perf msbuild targets aren't strong enough to protect against.

An average perf test project specifies the inclusion of "Microsoft.DotNet.Xunit.Performance" with a wildcard inclusion in its project.json. This project contains the xunit extensions required to mark a test as "Benchmark".

To actually run the perf tests as perf tests, we need the Xunit.Performance.R

[2015-11-09 17:01] mteper commented on #4382
Actually, it's getting side-tracked because the issue reported here is about *missing* status codes. :smile:

That said, I'll throw in a +1 for the enum over `const int` because of enum's inherent discoverability. There is already a precedent in the framework for static consts intended to help consistency (around MIME types, I think), but each time I need them, I have to hunt around for the static

[2015-11-09 18:02] khellang commented on #4382
@mteper We've been through most of this discussion (also WRT discoverability) at https://github.com/aspnet/HttpAbstractions/pull/345#issuecomment-131011572

[2015-11-09 18:19] khellang commented on #4343
@davidfowl Do you have the data for the generated list available anywhere? It would be cool if we as a community could try to come up with different ways of visualizing it. Play around with d3.js or something :smile:

[2015-11-09 18:44] CIPop commented on #3116
@Page-Not-Found Feel free to send out a PR at any time. Thanks for offering!

If you do start work on this, please assign it to yourself and remove the "up-for-grabs" tag to ensure nobody else works on the same task. I can help with this part if you don't have the right permissions.

[2015-11-09 18:50] #3642 closed

[2015-11-09 18:53] #3621 closed

[2015-11-09 19:28] mteper commented on #4382
Thanks @khellang!

Funny, I saw that thread back when it was originally discussed and completely forgot about it! FWIW, I'd back your struct-based proposal.

Back to the issue at hand, whatever mechanism the .NET folks decide to go with, can we add in the extra codes now, which the bits are still baking?

[2015-11-09 21:02] stephentoub opened #4420 "Failed Debug.Assert in SendAsync_SendRequestUsingMethodToEchoServerWithContent_Success on Linux"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/4225/console
[code]

[2015-11-09 21:12] stephentoub commented on #4420
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/4231/console

[2015-11-09 21:25] SGuyGe commented on #4355
Merged.

[2015-11-09 21:25] #4355 closed

[2015-11-09 21:28] Maxwe11 commented on #4296
fixed by #4419 ?

[2015-11-09 21:45] stephentoub commented on #3748
Another failure here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/4236/console
[code]

[2015-11-09 21:45] saurabh500 commented on #4273
cc @corivera

[2015-11-09 22:00] akoeplinger commented on #3116
@CIPop contributors don't have permission to change labels or being assigned issues, so you'd need to do that (i.e. apply the "grabbed by community" label).

[2015-11-09 22:02] ericstj commented on #4296
Yes, though you'll need to wait for the build tomorrow morning.

[2015-11-09 22:04] stephentoub commented on #4363
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/6090/console

Could someone take a look at fixing the test or disabling it?
[code]

[2015-11-09 22:09] davidsh commented on #4363
I will submit a PR now and disable the test.

[2015-11-09 22:10] stephentoub commented on #4363
Thanks, David.  Presumably from the "test bug" label we do believe this is a bug in the test rather than in the Sockets implementation?

[2015-11-09 22:15] davidsh commented on #4363
@stephentoub

Not sure at this point.

[2015-11-09 22:22] saurabh500 commented on #4273
The exception prevalent without MARS is

---- System.Data.SqlClient.SqlException : The connection is broken and recovery is not possible.  The connection is marked by the server as unrecoverable.  No attempt was made to restore the connection.
      Stack Trace:
           at Microsoft.Data.Entity.Update.ReaderModificationCommandBatch.<ExecuteAsync>d__28.MoveNext()
        --- End of stack trace f

[2015-11-09 22:23] CIPop commented on #3116
@akoeplinger Thanks. Done.

[2015-11-09 22:27] KrzysztofCwalina commented on #4409
Yeah, this seems like too specialized API to be added to String or even BCL in general.

[2015-11-09 22:27] #4409 closed

[2015-11-09 22:35] CIPop commented on #4363
Guillermo, could you take a look at this test please? I believe it's a test issue caused by a mismatch in IPv4 vs IPv6 addresses being used.

[2015-11-09 22:35] stephentoub commented on #4420
I'm not positive, but we might have an issue here related to unpausing.  When this functionality was first implemented, we only ever paused/unpaused based on response data.  Later we also added pausing/unpausing based on request data.  I think it's possible some of our asserts (including this one) are stale and need to be changed to accomodate a case where a request and a response for the same ope

[2015-11-09 22:44] Page-Not-Found commented on #3116
FYI. I am working on this.

[2015-11-09 22:46] stephentoub opened #4423 "ReceiveFromAsyncV4BoundToSpecificV4_Success timed out in CI on Windows"
[code]

[2015-11-09 23:23] saurabh500 commented on #4273
Exceptions reported by Nate's run after MARS disablement.

Microsoft.Data.Entity.SqlServer.FunctionalTests.NullKeysSqlServerTest.Include_with_null_FKs_and_nullable_PK
      System.Data.SqlClient.SqlException : The connection is broken and recovery is not possible.  The connection is marked by the server as unrecoverable.  No attempt was made to restore the connection.
      Stack Trace:

[2015-11-09 23:24] saurabh500 commented on #4273
https://gist.github.com/saurabh500/a2b1def047b0e1cffe60

[2015-11-09 23:29] i3arnon opened #4425 "A contributors team on the Stack Overflow Teams beta"
Stack Overflow just started a private beta of [Teams](http://meta.stackoverflow.com/questions/309716/the-teams-private-beta-is-starting) where you create a page around an OSS project, team, company, etc.

I wondered whether people are interested in joining such a team page around corefx contributions? If so it can be done by clicking [here](http://stackoverflow.com/teams/98/corefx-contributors/joi

[2015-11-09 23:41] ironyx commented on #4425
I think this is a great idea! One more avenue that you can use to interact with the community. Signed, a totally unbiased, not at all related to Stack Overflow person. ;)

But seriously, my vote is do it. Would love to see how you all would use it.

[2015-11-09 23:47] Page-Not-Found commented on #3116
What is the branch should i be using? Future branch right?

[2015-11-09 23:50] CIPop commented on #3116
No, the dotnet/master branch should be used for the PR.

[2015-11-09 23:51] Page-Not-Found commented on #3116
Okie Got you.

[2015-11-10 00:16] AlexGhiondea commented on #4314
# Reason for API

## EntryAssemblyIdentity
There are certain scenarios where the assembly that CLR considers as the 'EntryAssembly' is not the assembly the application considers as the 'EntryAssembly'.

Here are two examples where the host considers the 'EntryAssembly different than what the CLR does:
* Unit test frameworks which host the code to be tested would potentially consider the 'EntryAsse

[2015-11-10 00:46] khdang commented on #4405
@JohanLarsson Thanks for the sample code. I ran the project on Desktop and it produces the same result as on CoreClr so the behavior is consistent between the two platforms for now. While this issue is being investigated you can use the DataContractSerializer as an alternative to serialize TimeSpan.

[2015-11-10 00:59] mellinoe commented on #4314
I dunno, would anyone actually want to do this? It seems to me like a stretch to call that the "Entry Assembly", considering how many other assemblies are typically entered before it in a typical testing framework. It feels like this would just be using the property as a "convenient global string".

I'm a bit concerned about the usability of this. For example, if a library wanted to use this value

[2015-11-10 01:09] kkurni opened #4428 "Refactor SNI 'ref' to use 'out'"

[2015-11-10 01:36] kapilash commented on #4420
This was also reported in #4187. I could not repro it locally and was leaning for some intermittent issue at the TestServer side.

[2015-11-10 03:13] mconnew opened #4429 "System.Net.WebSockets.Client hangs when blocking a callback thread"
The effective sequence of events (this isn't the actual code, it's a lot more convoluted and disjoint so it's a lot of work to change) is this:
[code]
The second ReceiveAsync never completes. Here is the bottom of the call stack. Further up won't help any, it eventually calls _webSocket.ReceiveAsync() and ends up blocking in TaskAwaiter&lt;int&gt;.GetResult().
[code]

I tried removing the followin

[2015-11-10 03:16] mconnew commented on #4429
One more piece of information, we only see this issue when using wss/https with websockets. Our tests using ws/http don't appear to have a problem.

[2015-11-10 03:19] davidsh commented on #4429
Similar to issues solved in WinHttpHandler in PR #4078.

We probably need to add of these constructs:

[code]

i.e. use `TaskCreationOptions.RunContinuationsAsynchronously`

[2015-11-10 03:19] davidsh commented on #4429
@CIPop PTAL

[2015-11-10 03:44] josguil commented on #4363
I took a look at this.

I don't think it's a test issue. The error message happens when the address family of client and server are different. But both server and client are initialized to IPv4 in the test. The one for the UdpClient is by default Ipv4 even if it's not passed explicitly to the constructor.

It looks like something else could be changing one of the addresses, my best bet is CheckCac

[2015-11-10 04:12] AlexGhiondea commented on #4314
Thanks @mellinoe for you comment! Those are some great points.

I think I heard two major areas for feedback. Let me try and address them:

### Unit testing

That is the point. If there are multiple assemblies loaded, the order in which they are loaded would be irrelevant. The host would be responsible for setting the value of the property to the assembly that contains the code to be tested.

I gu

[2015-11-10 04:29] mellinoe commented on #4314
Ah, I think there's a bit of a misunderstanding / miscommunication. Is the EntryAssemblyIdentity settable by the application, or just by the runtime host? Your proposal has this:

[code]

Which led me to believe that the application could call the set accessor as many times as it wanted before the get acessor was called. I'm also confused by the second iteration, which still has a TrySet method. I

[2015-11-10 06:09] cdrnet commented on #4367
Ah thanks, didn't realize the contract would have a different name than the assembly (in `net`).

[2015-11-10 06:16] Petermarcu commented on #4367
Yeah, we refactored things a bunch in .NET Core to make things more componentized and pluggable. There is still plenty of room for us to find ways to make types more easily discoverable.

[2015-11-10 06:23] ericstj commented on #4367
I've tried to put most entry-point APIs in the package description.  A nuget.org search for the type name usually results in the right result: https://www.nuget.org/packages?q=System.Numerics.BigInteger

[2015-11-10 11:10] xanather commented on #2953
Any update on this?

[2015-11-10 12:28] Page-Not-Found commented on #3116
There are files the class itself has leading "_" in them. Do we rename the class as well, I hope no since that would be breaking change and all the reference needs to be updated.

Need some advice with the following
[code]

There is already file named as "SslStream.cs" with in the same folder.
[code]

[2015-11-10 13:14] #1136 closed

[2015-11-10 13:17] stephentoub opened #4431 "ReceiveFromAsyncV6BoundToAnyV6_Success failed due to timeouts in CI on Windows"
This has failed due to timeouts a few times recently.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/6089/consoleFull
[code]

[2015-11-10 15:41] stephentoub commented on #4420
#4187 was different: same test, different failure and cause. I expect the recent change in test server is influencing this, as it's now reproing very frequently as of yesterday.

[2015-11-10 17:58] davidfowl opened #4432 "AppContext needs a WinRT (netcore50) specific implementation"
BaseDirectory should return AppData.LocaFolder so that EF doesn't have to reflect like so https://github.com/aspnet/Microsoft.Data.Sqlite/commit/db0b8156fd174b5dcd910deccb491cc48fd9151d#diff-a1357e13d2db00bd1204d8f3ca36c59fR132

/cc @ericstj @weshaggard @natemcmaster

[2015-11-10 17:59] natemcmaster commented on #4432
:+1:

[2015-11-10 18:01] natemcmaster commented on #4432
Also, we need `AppData.TemporaryFolder` too.

We currently have to use reflection and the DLR to get LocalFolder.
[code]

[2015-11-10 18:15] davidfowl commented on #4432
Doesn't Path.GetTempPath()

[2015-11-10 18:35] natemcmaster commented on #4432
I'm not sure what the guidance is anymore for which TempPath api UWP apps should use. Path.GetTempPath() was not originally available in WinRT. Although it is now supported, it does not return the same path as AppData.TempFolder

![image](https://cloud.githubusercontent.com/assets/2696087/11071344/40f006c4-8795-11e5-9f4c-b8fa8026a64e.png)

[2015-11-10 18:37] bartonjs commented on #2953
@xanather Not really.  Now that the packaging story is crystallizing we'll be able to figure out what work is actually required; everything until now has been sort of vague and hand-wavy (all the way up to a doodle on a whiteboard!) :smile:.

What's your actual scenario, though?  Most asymmetric keys are encountered via certificates; and the certificates layer does the right thing.  If you have an

[2015-11-10 18:57] VSadov commented on #2075
Seems like a good idea.

NOTE: While implementing this might be fairly simple. Merging this in could be a bit delicate.

Since this is a public API, refs will need to be updated to ensure this is a part of contract assemblies (or noone using contracts will see the new API). That has a potential of breaking builds for other runtimes not getting the new API.

[2015-11-10 19:14] steveharter commented on #3501
Enabling the CLANG switches is under review. This was problematic due to various linker errors caused by header files including definitions not implemented for various ifdefs. https://github.com/dotnet/coreclr/compare/master...steveharter:CMake

[2015-11-10 19:16] steveharter commented on #3501
For CMAKE sanitizers Will create at least these new issues:
1) enable cmake for coreclr (currently under review)
2) enable cmake for corefx (should be easy)
3) fix some issues to reduce noise in coreclr sanitizers error output (already started)
4) log new issues against existing bugs (to other people)
5) add to build system \ process in some form

[2015-11-10 19:17] steveharter opened #4434 "Enable CMake sanitizers for coreclr"
This enables the CMake sanitizers for coreclr including all native code (clr and pal layers). The sanitizers include Address Sanitizer, Undefined Behavior Sanitizer, and Leak Sanitizer. See http://clang.llvm.org/docs/UsersManual.html (search for sanitize)
http://clang.llvm.org/docs/AddressSanitizer.html
http://clang.llvm.org/docs/LeakSanitizer.html

It works in debug mode only and is enabled by ru

[2015-11-10 19:34] bartonjs commented on #4336
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_centos71_debug_tst/140/#showFailuresLink shows that this test isn't failing in current builds, so #4327 did fix it.

[2015-11-10 19:34] #4336 closed

[2015-11-10 19:55] weshaggard commented on #4432
For Temp yes please use Path.GetTempPath() and if for some reason that isn't correct we should fix it there we don't need another API for that.

As for BaseDirectory we already have a netcore50 specific version of System.AppContext.dll (it isn't on GitHub yet) and it currently returns Windows.ApplicationModel.Package.Current.InstalledLocation.Path. Which is the root of the application which is wha

[2015-11-10 19:59] bartonjs commented on #4120
@CIPop @davidsh: https://msdn.microsoft.com/en-us/library/system.net.http.winhttphandler.checkcertificaterevocationlist%28v=vs.105%29.aspx says that WinHttpHandler doesn't by default do revocation checks.  Does that mean you would prefer the Unix HttpClient to not check?

[2015-11-10 20:03] davidsh commented on #4120
cc: @SidharthNabar

We should have the same defaults in the handlers.  So, if the Windows one, by default, has revocation-checking=off, then CurlHandler sould be similar.

[2015-11-10 20:07] stephentoub commented on #4120
This seems sufficiently importantly that it would drive exposing CurlHandler publically so it could be configured, no?

[2015-11-10 20:11] davidsh commented on #4120
Perhaps, but it makes more sense to consider rev'ing HttpClient to add the boolean directly as a property.  Then it could be x-plat.  The issue of course is the difficult in rev'ing HttpClient contract since it is inbox on .NET Desktop.

We could also consider having the default be the other way around, i.e. ON by default.  In the .NET Desktop, this was originally handled via the ServicePointManag

[2015-11-10 21:08] kkurni opened #4438 "Mars - Intermittently Failed - Causing Timeout"
Repro
[code]

results :
01:01:19 - Execute Reader 1
01:01:19 - Execute Reader 2
01:01:49 - ERROR : System.Data.SqlClient.SqlException: Timeout expired.  The timeout period elapsed prior to completion of the operation or the server is not responding.

[2015-11-10 21:08] kkurni commented on #4438
https://gist.github.com/kkurni/35f4309aba1fb55d41b3

[2015-11-10 21:25] bartonjs commented on #4120
I agree that the right place for it is on the base class.  Right now it looks to me like the required Windows-only code is:
[code]

I'd hate to see CurlHandler have to pop into that, and then be behind \#if, or some other target-control scope.

It also seems weird to have CurlHandler do it (by always/default) and WinHttpHandler not (by default).

@davidsh what would you guys like me to do here? Wr

[2015-11-10 21:37] i3arnon commented on #4425
I guess I found my answer...

[2015-11-10 21:38] SidharthNabar commented on #4120
My 2 cents - Having CRL checking ON always/by default is not a good idea since it has been unreliable in the past and a lot of times the CRL servers are offline and we get back no answer from the server. So, we should have it off and need to have API surface to allow developers to turn it on.

Now, the callback for developers to implement custom validation of the server SSL certificate (ServerCert

[2015-11-10 21:49] ericstj commented on #4432
Aside: Also, I'd like to caution the use of assumed root paths in a portable library.  It is very difficult for portable code to get the right assumption that will work everywhere.  Even different app models using the same framework often have a different preference for where data is stored (consider web vs client on desktop).  Usually it is better to expose the root as an API from the portable li

[2015-11-10 22:30] kkurni opened #4439 "Managed SNI - Open connection to unsupported sql server (SQL2000) - get timeout based on connection string and spit different error"
Repro
[code]

Expected Error Message
[code]

Actual Error Message
[code]

[2015-11-10 22:35] kkurni commented on #4439
Notice the timeout on connection string. it follow the connection timeout error, which should be error soon.

[2015-11-10 22:35] kkurni commented on #4439
CC: @corivera @saurabh500

[2015-11-10 22:36] kkurni commented on #4438
CC: @corivera @saurabh500

[2015-11-10 23:03] pallavit commented on #2413
This is now implemented.

[2015-11-10 23:03] #2413 closed

[2015-11-10 23:22] ellismg commented on #4388
FWIW, outer-loop runs with `/p:TestWithLocalLibraries=true`.

[2015-11-10 23:26] ericstj commented on #4388
I don't believe this is happening today due to how the test-runtime copies over everything.

[2015-11-11 00:24] GrabYourPitchforks opened #4441 "Add Convert.ToHexString / FromHexString"
This would complement `Convert.ToBase64String` / `Convert.FromBase64String`. You all know you've written this API over and over again in your projects. :)

[2015-11-11 02:13] davidsh commented on #3116
The class name and filename of the *.cs file should match.

In terms of conflict, like `src\System.Net.Security\src\System\Net\SecureProtocols\_SslStream.cs` which conflicts with a classname/filename of `SslStream`, just rename the class and filename to something like "SslStreaminternal" (for the classname) and `SslStreamInternal.cs` for the filename.

[2015-11-11 02:39] ValMenn opened #4442 "LastAccessTime throws on Linux for non-existent files on CoreCLR"
LastAccessTime for non-existent file must return 1/1/1601 12:00:00 AM. It does so on Windows. Throws on Linux. Below program assumes file "haha" does not exist.
[code]

[2015-11-11 02:43] stephentoub commented on #4442
Known difference: https://github.com/dotnet/corefx/issues/1728

[2015-11-11 02:51] Eilon opened #4443 "Update System.Text.Encodings.Web to Unicode 8"
When HttpAbstractions issue https://github.com/aspnet/HttpAbstractions/issues/391 was resolved it switched to using the encoders in the CoreFX repo. The encoders in the aspnet org already had support for Unicode 8.0, which is not yet available in the CoreFX repo.

[2015-11-11 02:59] davidfowl commented on #4441
+1

[2015-11-11 04:13] xanather commented on #2953
I want wanted to make my own basic authentication mechanism top of a TCP connection without having to use certificates/SSL etc...

Only sometimes will the TCP connection be encrypting messages, and I would need a asymmetric algorithm to set that up securely.

[2015-11-11 05:20] GrabYourPitchforks commented on #4443
See in particular the commit https://github.com/aspnet/HttpAbstractions/commit/43d0b0f65bb5abe453d5d54fec6d67c1c93f3fa8, where the support was officially added. That commit also includes a readme file detailing how to update the mapping to support future Unicode versions.

[2015-11-11 09:02] Maxwe11 commented on #4441
seems #1647 related

[2015-11-11 09:56] JonHanna commented on #4425
Page not found?

[2015-11-11 10:19] JimBobSquarePants commented on #2315
Here's the guts of a Color struct I've been working on. It's pretty handy.

https://github.com/JimBobSquarePants/ImageProcessor/blob/V3/src/ImageProcessor/Colors/Color.cs

[2015-11-11 10:23] i3arnon commented on #4425
@JonHanna I've deleted it as I thought no one was interested. I've undeleted it now if you want to join.

[2015-11-11 10:30] ValMenn opened #4445 "Process started with "sh -c" on Linux always returns status 0"
I don't know if this is a know issue, but starting a process using "sh -c" on Linux always returns success, even if process fails. Identical program using "cmd /c" on Windows works correctly.
[code]

[2015-11-11 10:33] ValMenn commented on #4442
Hmm. MSDN specifies the behavior exactly, so the argument "it does not make sense" does not seem relevant. Oh well.

[2015-11-11 10:37] JonHanna commented on #4425
I might be the only one who does, but let's give it a wee while to see.

[2015-11-11 12:54] stephentoub commented on #4442
cc: @ianhays

[2015-11-11 12:59] stephentoub commented on #4445
This is how ```sh``` behaves:
[code]

[2015-11-11 13:02] #4445 closed

[2015-11-11 15:33] stephentoub opened #4446 "Consolidate several cross-platform packages"
System.IO.FileSystem, System.Net.Sockets, and System.Security.Cryptography.Algorithms used to have different builds for OS X and Linux, but now after all the shimming work that was done recently, those were consolidated into a single Unix build, with no differences between Linux and OS X.  However, they still have Linux-specific and OSX-specific packages.  Those can be consolidated now, as well.

[2015-11-11 15:56] craigahanson opened #4448 "Common.Tests.sln not building"
I am having trouble building the Common.Tests solution file and I'm getting 2 errors about not being compatible with DNXCore (see screenshot)
![errors](https://cloud.githubusercontent.com/assets/4614818/11095419/c7bb360e-888c-11e5-9cc0-2fc2592a9ff6.PNG)

[2015-11-11 16:52] stephentoub commented on #4448
cc: @ericstj

[2015-11-11 17:05] ericstj commented on #4448
I looked at this before.  It is a descrepency between the NuGet codebase and DNX.  In DNX they have a hack to treat portable-net45+win8 as compatible with DNXCore50.  That hack doesn't exist in NuGet.  VS is using NuGetto try to restore the project.json and that is why it is failing.  Let me file an issue on NuGet.   Another fix would be for XUnit to either support DNXCore50 explicitly or with a d

[2015-11-11 17:11] ericstj commented on #4448
Given the comment here, I'm guessing aspnet doesn't want to port this to NuGet: https://github.com/aspnet/dnx/blob/8ddcfe9661188784fad37ea8d3b2965d3b4e756f/src/Microsoft.Dnx.Runtime/NuGet/Utility/VersionUtility.cs#L881-L895 /cc @davidfowl

[2015-11-11 17:14] PinpointTownes commented on #2953
Here's a concrete use case: in ASOS (https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server), we need to dynamically generate a RSA key to sign the security tokens issued by the server. Until now, we've used `RSACryptoServiceProvider`, which works on both .NET Desktop/CoreCLR on Windows and on Mono. Sadly, it doesn't work on CoreCLR for Linux.

Until `RSA.Create()` is implemented,

[2015-11-11 17:20] craigahanson commented on #4448
Thanks for the response.. What would you suggest be the best way for me to get it working?

[2015-11-11 17:30] ericstj commented on #4448
It still works using DNX.  If you build first from the commandline (which is using DNX) it should work in VS.  NuGet should see that the project.lock.json is up to date and not try to re-restore.

[2015-11-11 18:27] bartonjs commented on #2953
@PinpointTownes The notion of dynamically creating a signature proof seems odd, since I don't see how someone else would trust it; but maybe the public key of the dynamically generated key is transported via another authenticated mechanism.

But, okay, sounds like both you and @xanather want platform-agnostic dynamic asymmetric key generation, so there are uses and I'll do what I can to land this

[2015-11-11 18:34] PinpointTownes commented on #2953
The RSA key is dynamically created the first time the server is started, encrypted by ASP.NET 5's new data protection stack and stored locally.

The public part is exposed to the world using the JWKS endpoint (yeah, JSON keys are a thing! :smile:) so client applications can easily verify the tokens issued by the server (you can find more info here: https://openid.net/specs/openid-connect-discovery

[2015-11-11 18:37] ianhays commented on #4442
It was a close decision, @ValMenn. This was an issue that the design discussion team was split on, so I opted for the option with more "votes".

The primary argument against having it return FromFileTime(0) is that Unix doesn't have the notion of FromFileTime like Windows does; Unix 0 time is in 1970, not 1601. So which do we return for a nonexistent file? Do we return the posix 0 time or do we re

[2015-11-11 19:05] bradwilson commented on #4448
This is a UWP tooling bug. My understanding is that it will eventually be fixed. The workaround is to uncheck DNXCore5.0 support in the PCL dialog. You will still actually be DNXCore5.0 compatible, and this bug goes away.

[2015-11-11 19:08] bartonjs commented on #4337
It looks like RedHat is doing one-off decisions about what parts of ECC to allow.  In particular they seem to have left secp224r1 disabled.

Hmm.

[2015-11-11 19:15] craigahanson commented on #4448
Thanks Brad but how do I do that?.. I'm new to this ;-)

[2015-11-11 19:18] ericstj commented on #4448
Actually this is a little different.  Brad, these are project.jsons that only target DNXCore50 but associated with CSProjs not xproj's it's a bit of an artificial scenario that existing customers don't hit with inbox templates.  Today in XProj/DNX this specific package is only working because of the hack in DNX that I pointed out.

Given the comment in the DNX codebase you probably need to update

[2015-11-11 19:35] ericstj opened #4450 "Remove TODOs from System.ComponentModel.DataAnnotations and System.AppContext packages"
Both System.ComponentModel.DataAnnotations and System.AppContext need to put reference assemblies in a new generation but are blocked by the TFM:Generation mapping in nuget.  Once https://github.com/NuGet/NuGet.Client/pull/105 is merged we need to update our nuget client libraries used in packaging and remove the TODOs/Update the packaging to make use of the new generations.

[2015-11-11 19:45] eerhardt opened #4451 "Remove Managed Inflator and Deflator code in System.IO.Compression"
With #4440 we no longer need the managed compression code as we are always using a native compression implementation. The managed code is now dead and can't be hit by a user.

We should remove this code.

[2015-11-11 20:10] ianhays commented on #4451
What about on Unix systems that don't have libz installed? I'm not sure that there are any (particularly that we support). Think you mentioned this in your PR.

[2015-11-11 20:14] Ashtonian commented on #645
:+1:

[2015-11-11 20:43] eerhardt commented on #4451
libz is available on all of our supported Unix platforms - OSX, Ubuntu and CentOS. It also appears to be [available on FreeBSD](http://www.unix.com/man-page/FreeBSD/3/zlib/).

So, we currently have no plans for supporting Unix systems that don't have libz installed. We might as well not be dragging around this dead managed code in case we happen to find one.

Also, we have hard dependencies on oth

[2015-11-11 20:54] ianhays commented on #4451
Agreed. I'd like to see the old managed implementation removed as well and I think we're at a good point to move away from them.

[2015-11-11 21:17] craigahanson commented on #4448
Thanks @ericstj but I'm still a little unsure with exactly what I need to do.. What directory would I need to add the sorbet folder to?

[2015-11-11 22:06] CIPop opened #4453 "Linux System.Threading.Tasks.Dataflow.Tests failed"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/4273/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

13:34:51 === TEST EXECUTION SUMMARY ===
13:34:51    System.Runtime.Extensions.Tests  Total: 503, Errors: 0, Failed: 0, Skipped: 0, Time: 4.543s
13:34:53    System.Threading.Tasks.Dataflow.Tests.DebugAttributeTests.TestDebuggerDisplaysAndTypeProxies [FAIL]
13:34:5

[2015-11-11 22:06] CIPop commented on #4453
Failed while testing #4452.

[2015-11-11 22:28] craigahanson commented on #4448
Sorry I meant dotnet folder!

[2015-11-11 22:32] akoeplinger commented on #4448
@craigahanson if you just want to get corefx building, according to Eric's comment above it should work in VS if you build first from the commandline via build.cmd.

[2015-11-11 23:16] kkurni opened #4454 "_gcHandle usage ?"
https://github.com/dotnet/corefx/blob/1d9edc6f2da2c9cedf1e1c700fe88d3fe3299d91/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs

It seems there is no one allocated this _gcHandle.

This path will always false
https://github.com/dotnet/corefx/blob/1d9edc6f2da2c9cedf1e1c700fe88d3fe3299d91/src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs#L902

Can we remo

[2015-11-11 23:16] kkurni commented on #4454
CC @corivera @saurabh500

[2015-11-11 23:24] saurabh500 commented on #4454
Looks unused.
@corivera was it in there only to have parity with Native? Or do we intend to use this?

[2015-11-11 23:26] bradwilson commented on #4448
Well @davidfowl and I have had rows on this before, but I believe that you are making a HUGE mistake if you don't automatically assume any System.Runtime-based PCL isn't already compatible with `dnxcore50`. This isn't just an xUnit.net problem, this is a general software ecosystem problem.

[2015-11-11 23:34] cesarbs opened #4455 "System.Text.Encodings.Web.TextEncoder.EncodeIntoBuffer throws ArgumentException on 32-bit Mono"
Simple repro:

    using System;
    using System.Text.Encodings.Web;

    namespace EncodeIssue
    {
        public class Program
        {
            public void Main(string[] args)
            {
                Console.WriteLine(UrlEncoder.Default.Encode("na me"));
            }
        }
    }

When run:

    System.ArgumentException: Argument encoder does not implement MaxOutputCharsPerInpu

[2015-11-11 23:47] Tratcher commented on #4455
@KrzysztofCwalina

[2015-11-11 23:47] SGuyGe opened #4457 "System.InvalidOperationException is thrown during deserialization if DateTimeOffset is passed to known type list more than once (directly or indirectly)"
System.InvalidOperationException occurred
  HResult=-2146233079
  Message=Type 'System.DateTimeOffset' cannot be added to list of known types since another type 'System.Runtime.Serialization.DateTimeOffsetAdapter' with the same data contract name 'http://schemas.datacontract.org/2004/07/System:DateTimeOffset' is already present.
  Source=System.Private.DataContractSerialization
  StackTrace:

[2015-11-12 00:01] ianhays commented on #4397
It looks like the issue here is that I'm calling the ```CreateProcessInfinite``` helper function to create processes that I can kill. Despite its name, however, ```CreateProcessInfinite``` does <i>not</i> wait indefinitely. It only waits for 100000 ms i.e. 100 s.

In a multi-threaded scenario like for the unit tests, this isn't adequate. I'll add a helper that while(true) loops around a sleep and

[2015-11-12 00:03] blowdart opened #4458 "Ensure minimum GUID entropy on all platforms."
GUIDs on Windows have, for years, provided 122 bits of entropy.

This behavior needs to be enshrined and guaranteed on all platforms as people have taken dependencies upon it.

[2015-11-12 02:09] stephentoub commented on #4458
@blowdart, we're using uuid_generate / uuid_create, which represent the standard and accepted mechanism for guid/uuid generation on Unix.  Why do we believe these are insufficient, and what is it that you recommend instead?

[2015-11-12 02:12] blowdart commented on #4458
I honestly have no idea if they're sufficient or not, documented reassurance that they meet the same minimum entropy as Windows would be fine. This only came up because we're using them to seed TOTP generation and we frankly have no idea if that's safe on Linux or not.

[2015-11-12 02:24] stephentoub commented on #4458
Well, Guid.NewGuid() is implemented via uuid_generate / uuid_create:
https://github.com/dotnet/coreclr/blob/3ddea17fc4e5b0c9ff2cb0651be82594a0eddffb/src/pal/src/misc/miscpalapi.cpp#L355-L378

The man page for uuid_generate is here for Linux:
http://linux.die.net/man/3/uuid_generate
and here for OS X:
https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man3/uuid_generate

[2015-11-12 03:17] Page-Not-Found commented on #3116
Thanks. I am almost done with this changes. But Stuck up with the test cases failing, I am not able to figure why the file rename should fail. The Code builds just fine in the Visual Studio.

Machine: WIn7
VS: Both 2013 / 2015
GitHub\corefx\src\System.Globalization.Extensions\tests\System.Globalization.Extensions.Tests.csproj" (BuildAndTest target(s)) -- FAILED.

The full log file is in this path

[2015-11-12 04:10] davidsh commented on #3116
So, the failure is occuring in the System.Globalization.Extensions library which is unrelated to your "_" file rename changes?

I'm not sure what is going on with your dev machine and Win7.  I would suggest you submit your PR with your changes and we can then see how the CI machines handle things.  Perhaps this is just an issue related to your machine setup.

[2015-11-12 07:12] jonorossi opened #4462 "Expose GetMethod and GetConstructor extensions with both BindingFlags and Type[]"
`System.Reflection.TypeExtensions` is good for porting existing .NET Framework code across, however it is missing an overload with a combination of `BindingFlags` and `Type[]` for both `GetMethod` and `GetConstructor`.

My use case is getting a private constructor when there are multiple constructors:
[code]

I assume these weren't exposed in corefx because you didn't want to provide the overloads

[2015-11-12 07:57] jonorossi opened #4463 "Expose System.Reflection.TargetException"
.NET Framework exposed both `TargetException` (fail on an invalid target, e.g, null) and `TargetInvocationException` (fail actually invoking the target). The runtime still throws a `TargetException` in coreclr and there is code in the corefx unit tests that check the exception is thrown using `Type.FullName` or `Assert.ThrowsAny<Exception>`.

Is there a reason this exception hasn't been exposed? I

[2015-11-12 12:09] sparraguerra opened #4465 "EnsureValidDataType should reject whitespaces in DataTypeAttribute.CustomDataType property"
Method EnsureValidDataType() should not raise an exception when the property CustomDataType is a WhiteSpace?

This code:

[code]

Should be?

[code]

[2015-11-12 13:55] stephentoub opened #4466 "TestUserCredentialsPropertiesOnWindows failed in CI in outer loop"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_outerloop_windows_win10_debug/88/console
[code]

[2015-11-12 13:59] stephentoub opened #4467 "SslStream tests: timeout"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/6135/console
[code]

[2015-11-12 14:06] stephentoub opened #4468 "Reenable Win7 in CI"
All of our Windows 7 testing is offline.

[2015-11-12 14:36] stephentoub commented on #3810
Closing as a dup of https://github.com/dotnet/coreclr/issues/983

[2015-11-12 14:36] #3810 closed

[2015-11-12 15:08] ericstj commented on #2302
We were actually planning to package as follows,
- Each native shim will have its own "identity" package.
- Each native shim implementation will be a runtime specific implementation of the identity package.
[code]
- Each package that depends on the shim will reference the identity package from its implementation package which depends on it.  Alone this will hit the nuget bug where runtime.jsons ar

[2015-11-12 15:12] eerhardt commented on #2137
I think with #4440 merged, this can now be closed, right? All of our native P/Invokes in CoreFX Unix code are to either native shims, libcoreclr, or OSX-specific functions.

[2015-11-12 15:16] #2137 closed

[2015-11-12 16:41] davidfowl commented on #2302
We have to move away from individual packages and towards the lineup file for these types of packages.

[2015-11-12 16:59] ericstj commented on #2302
Thank you for agreeing with the proposal @davidfowl

[2015-11-12 17:01] davidfowl commented on #2302
@ericstj Yep. I don't want rely on this NuGet/Home#1660 for these specific packages even when it becomes available :smile:

[2015-11-12 17:20] ericstj commented on #2302
Yeah, we won't rely on it that feature.  Just wanted to point out why it's required.  For the .NET framework we have the nice benefit of always being able to put that lineup in the compile graph.  For regular 3rd party devs they cannot so they need NuGet/Home#1660.

[2015-11-12 17:41] SGuyGe commented on #4457
Merged #4461.

[2015-11-12 17:41] #4457 closed

[2015-11-12 18:24] stephentoub commented on #4420
Fixed by #4449

[2015-11-12 18:24] #4420 closed

[2015-11-12 18:33] mellinoe commented on #2302
What is "the lineup"? I don't think a lot of people are familiar with some of this new jargon, so it's a bit hard to understand the discussion :smile: .

And just to clarify/discuss: since a lot of different assemblies are dependent on System.Native, does this mean that once we release a stable version, we have to maintain that ABI forever? Otherwise you will be required to choose various versions

[2015-11-12 18:45] joshfree commented on #4468
/cc @Chrisboh @mmitche

[2015-11-12 18:47] joshfree commented on #4463
@terrajobst @weshaggard PTAL

[2015-11-12 18:48] mmitche commented on #4468
I don't know where those win7 machines are.  Anyone know?  They should be listed in the dotnet-ci inventory text file with image names, etc. so they can be cycled easily.

/cc @ellismg

[2015-11-12 19:02] weshaggard commented on #4463
@pallavit this is something we should consider exposing.

[2015-11-12 19:02] joshfree commented on #4462
@terrajobst @weshaggard PTAL

[2015-11-12 19:05] weshaggard commented on #4462
@pallavit more APIs in the reflection area we should expose.

@jonorossi we are going to take a deeper look at the entire reflection surface area and attempt to add most of the APIs that exist on System.Type to System.Reflection.TypeInfo. To help eliminate most of this problem. It will still require a call from type.GetTypeInfo() but beyond that it should support most things.

[2015-11-12 19:14] stephentoub commented on #4458
@blowdart, it's not clear there's actually a problem here.  If you discover there is one and you have a recommendation for addressing it, please reopen this and we can look to address it.  In the meantime, I'm going to close it.  Thanks.

[2015-11-12 19:16] CIPop opened #4473 "WinHTTP certificate chain build algorithm is potentially not including certificates obtained from the TLS connection"
Similarly to how SslStream is including TLS certificates obtained from Schannel, WinHTTP should use the `PCERT_CONTEXT` obtained using `WINHTTP_OPTION_SERVER_CERT_CONTEXT` to extract certificates from the virtual store and use them during chain construction.

See https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/Windows/SChannel/UnmanagedCertificateContext.cs for reference.

[2015-11-12 19:17] CIPop commented on #4473
@vijaykota Please verify if this applies to CurlHandler as well.

[2015-11-12 19:17] CIPop commented on #4473
/cc: @davidsh @SidharthNabar

[2015-11-12 19:38] kkurni opened #4474 "Debug.Assert throws System.Diagnostics.Debug+DebugAssertException"
Is this by designed for corefx ?
because in .net, this should open a debugger instead.

Our code currently depends a lot on Debug.Assert.
Unfortunately Debug.Assert now throws Debug+DebugAssertException which causing inconsistent from the release mode

I remember previously it throws a special uncatchable exception (Environment.FailFast()) which i think can be better instead of causing different b

[2015-11-12 19:39] kkurni commented on #4474
CC @corivera @saurabh500

[2015-11-12 19:39] eerhardt opened #4475 "Change ZLib Optimal CompressionLevel on Unix"
We currently have this comment and code in System.IO.Compression:

[code]

Since we are now using the “current” ZLib version on Unix, and because we are planning on changing which version we use on Windows, I don’t think this is the best approach anymore. It was probably correct when we were hard-coding a version, but since we don’t know which version will actually be used, I think we should be le

[2015-11-12 19:41] nguerrera commented on #2302
I do think we'll have to keep the ABI stable post-RTM, but I think this is less burdensome than with public managed API. We don't care about the aesthetics of the API as they are implementation details and we can always define Foo2(), etc. If absolutely necessary, we can also rename the .so and package and allow different, incompatible versions to live SxS.

[2015-11-12 19:50] stephentoub commented on #4474
It's by design, at least for now.  Environment.FailFast() was incredibly difficult to debug/diagnose when in remote environments, like in CI. This was changed a few weeks ago.
cc: @davidsh, @weshaggard, @ellismg

https://github.com/dotnet/corefx/issues/3708

[2015-11-12 19:57] ericstj commented on #2302
Lineup is a central representation of all the RID-specific associations of our packages.  Each package represents its RID-specific implementation locally in our build system, but that all gets merged into a central runtime.json: the lineup.

[2015-11-12 20:02] stephentoub commented on #4475
I'm probably just missing a step as I've not looking through all that option-setting code in a while.

But zlib exposes a scale from fastest to best compression, with defined constants for the limits:
[code]
and in System.IO.Compression we have the CompressionLevel enum:
[code]

Why wouldn't we just map:
- CompressionLevel.Optimal => Z_BEST_COMPRESSION
- CompressionLevel.Fastest => Z_BEST_SPEED
-

[2015-11-12 20:08] ianhays commented on #4475
@stephentoub looks right to me. Though CompressionLevel.Optimal should be set to Z_DEFAULT_COMPRESSION instead of Z_BEST_COMPRESSION.

[2015-11-12 20:08] eerhardt commented on #4475
I think you are missing the [other comment on ZLibNative.CompressionLevel](https://github.com/dotnet/corefx/blob/master/src/System.IO.Compression/src/System/IO/Compression/ZLibNative.cs#L42-L85).

Here are the highlights:
[code]

What I am proposing is a slightly different map than what you have:
- CompressionLevel.Optimal => **Z_DEFAULT_COMPRESSION**
- CompressionLevel.Fastest => Z_BEST_SPEED
- C

[2015-11-12 20:09] stephentoub commented on #4475
Why?

[2015-11-12 20:11] joshfree commented on #4100
@weshaggard @pallavit

[2015-11-12 20:13] stephentoub commented on #4475
Where does that text come from, i.e. is it from zlib docs somewhere or was it written by a dev who worked on System.IO.Compression?  I see no mention of "it is not recommended to use a compression level higher than 6" in the zlib docs... am I just missing it?

[2015-11-12 20:16] stephentoub commented on #4475
Regardless, I agree we should map the .NET enum values to the corresponding zlib values.  Then it's just a matter of what we choose for "optimal compression".

[2015-11-12 20:18] jasonwilliams200OK commented on #2302
Why would we want to have CentOS, Ubuntu, Fedora, segregation? I mean if you build something on CentOS5 (5.11 is currently officially supported in 5x branch for example), it will definitely run on 95+% of linux running on servers and probably 99% of clients (only if someone is still running very old linux with libc version older than the one packed with CentOS, then it wont work).

Large amount of

[2015-11-12 20:22] ianhays commented on #4475
The msdn docs for Optimal do say ```The compression operation should be optimally compressed, even if the operation takes a longer time to complete.``` which directly conflicts with the comments on CompressionLevel stating that it isn't worth the extra compression time.

The comments for CompressionLevel may be outdated with regards to the usefulness of the higher compression level.

If we do set

[2015-11-12 20:22] eerhardt commented on #4475
I assume it came from our internal devs, and not from zlib.

The furthest back I could trace it was to @tarekgh in this changeset:
764226	add	Tarek Mahmoud Sayed	9/20/2012 6:00:22 PM	$/DevDiv/OffCycle11/Redhawk/V2/ProjectN/FX/src/System.IO.Compression/System/IO/Compression/ZLibNative.cs	Initial porting for System.IO.Compression This checkin enable DeflateStream class and use the managed library fo

[2015-11-12 20:23] eerhardt commented on #4475
Does that imply that we need a new enum value?

[2015-11-12 20:29] stephentoub commented on #4475
Maybe not.  The docs also state that you get Optimal when you don't specify a level, but the enum value choice isn't to my knowledge actually exposed anywhere, so what this really means is you get the compromise by default between speed/compression.  We could make it so that if you don't specify a level, you get Z_DEFAULT_COMPRESSION, and if you do specify a level, then you're doing so because you

[2015-11-12 20:32] eerhardt commented on #2302
Because this issue isn't about just 'libc', it is about the set of native libraries that we are using: libc, libcurl, openSSL, zlib.

For example, the version of libcurl used on our CentOS CI servers is v7.29, but on Ubuntu is v7.35, and we can have differing code based on which version we are compiling against.

[2015-11-12 20:36] ianhays commented on #4475
That's what I was getting at, yeah. It's a bit odd to me that we don't currently have a "default" compression level that is a middle-ground between speed and best.

This is good with me, too. Since calling a function with CompressionLevel.Default would be the same as calling a function without a specified CompressionLevel, I can see us leaving out the CompressionLevel.Default definition. My gut re

[2015-11-12 20:39] stephentoub commented on #4475
Yes, we would want to make it available eventually, I just meant to imply that we wouldn't need to block on it.

[2015-11-12 20:44] eerhardt commented on #4475
Since the enum is already defined like this:
[code]
It would feel wrong to have either:
Default = -1
or
Default = 3.

I think it is good practice to have the "default" enum value be the same as default(T) would give you.

I think long term it would be better if we added a new value "BestCompression = 3", and changed the MSDN docs. IMO, the docs are and have been incorrect since the code has been u

[2015-11-12 20:46] Maxwe11 commented on #4410
Thanks for extended reply, works for me now.

[2015-11-12 20:46] #4410 closed

[2015-11-12 20:48] ianhays commented on #4475
Instead of adding BestCompression and making it 3, why not just make Optimal=3?

[2015-11-12 21:18] jasonwilliams200OK commented on #2302
One approach could be to bundle the dependent bins or compile them statically, so `ldd native.so` will only report libc and libc++ at the cost of gain in output binary size.
The other approach could be to branch and adapt to the change at runtime. I believe there are not many varied code paths which violate reasonable deference bar.

To recap, it boils down to three choices (maybe there are more?)

[2015-11-12 21:18] tarekgh commented on #4475
I believe this is originally came from the dev who worked on System.IO.Compression (Greg Paperin).

I think the original proposal of @stephentoub still make sense to me even if the comments on the code contradict

•CompressionLevel.Optimal => Z_BEST_COMPRESSION
•CompressionLevel.Fastest => Z_BEST_SPEED
•CompressionLevel.NoCompression => Z_NO_COMPRESSION

this will match the original intend and wil

[2015-11-12 21:30] weshaggard commented on #4474
Correct this is by design, in CoreCLR it never opened a debugger it simply crashed. If you have a debugger attached it will still break. In general however Debug.Assert should only be used for things that should never fail.

Given that is by design I'm closing this issue.

[2015-11-12 21:30] #4474 closed

[2015-11-12 21:45] joshfree commented on #4475
@tarekgh is correct.  This comment was from the original System.IO.Compression work on Windows.  Greg spent about a week of machine time trying various combinations and various input data to determine those settings.

[2015-11-12 21:46] joshfree commented on #4475
To be clear I also agree that we should snap back to the zlib defaults as part of upgrading to the latest version.

[2015-11-12 21:48] SidharthNabar opened #4476 "Add support for custom validation of server SSL Certificate to HttpClient API"
This issue tracks the addition of new functionality to the HttpClient API. In order to implement certificate pinning and self-signed SSL certificate scenarios, developers need access to the SSL cert presented by the server, and the ability to do their own validation and then accept/reject the connection accordingly.

Today, this ability is provided in .NET Framework by ServicePointManager.ServerCe

[2015-11-12 21:48] bartonjs opened #4477 "Add missing X509ChainStatusFlags"
net461 added some new X509ChainStatusFlags values.  While these are present already in the implementation library, they aren't in the ref library.

GetChainStatusInformation was rewritten as a loop for net461, that change should also be ported over to corefx.

[2015-11-12 21:51] ericstj commented on #3623
Did you reference Microsoft.NETCore.Platforms in your project file?

[2015-11-12 21:54] #2860 closed

[2015-11-12 21:54] #846 closed

[2015-11-12 21:55] eerhardt commented on #4475
I really don't think our 'Optimal' ('0' - the default) setting should equal Z_BEST_COMPRESSION (i.e. '9').

ZLib's default is -1, which currently translates to '6' according to the zlib.h file. The comments in our code indicate that 6 is the best tradeoff between speed and compression, and that "values over 6 do not significantly improve the compression rate, however such values require additional

[2015-11-12 22:07] SidharthNabar opened #4479 "Add Client certificate support to HttpClient API"
The `HttpClientHandler` API has a `ClientCertificateOptions` enum that lets you pick between `Automatic` and `Manual` client cert option. Choosing `Automatic` lets the system choose the "best" client certificate for the user from among the installed and accessible ones. `Manual` means that the developer can explicitly pass in a client cert.

However, `HttpClientHandler` does not have a `ClientCert

[2015-11-12 22:08] tarekgh commented on #4475
if we ignore what are the values in zlib or in the framework, the way I understand it is CompressionLevel.Optimal really means the best compression. and we chose originally to have this as the default value. if you agree with me, we'll just need to map this value to whatever correspond in zlib

[2015-11-12 22:08] SidharthNabar commented on #4479
@davidsh @ericstj @mconnew @terrajobst  - PTAL

[2015-11-12 22:08] SidharthNabar commented on #4476
@davidsh @ericstj @mconnew @terrajobst  - PTAL

[2015-11-12 22:10] ianhays commented on #4475
Gotcha. Seems to me like it would just use the older value (i.e. 0) for Optimal and not actually break but just use a different CompressionLevel than intended.

In that case, I prefer what Steve mentioned earlier about having CompressionLevel.Optimal map to Z_BEST_COMPRESSION. But if no CompressionLevel is specified, use Z_DEFAULT_COMPRESSION.

[2015-11-12 22:11] roncain opened #4480 "Interop.Ssl.SslShutdown crashes process during GC finalization"
A WCF test that attempts to write to an SslStream(https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tests/Scenarios/Security/TransportSecurity/Tcp/ClientCredentialTypeTests.cs) leaves SafeSslHandle in a closed state (which is correct).  But when the next GC happens its finalizer is called and tries to Dispose it, causing an ObjectDisposedException.  On Linux, this crashes t

[2015-11-12 22:21] ericstj commented on #4448
@craigahanson can you try modifying the project.json to the following:
[code]
This should force NuGet to treat DNXCore50 as compatible with portable-net45+win8.

/cc @dagood

[2015-11-12 22:54] Anderman opened #4481 "new DataAnnotations.EmailAddressAttribute() set customErrorMessageSet=true"
When create a `new EmailAddressAttribute()` the property Errormessage has the value of DefaultErrormessage and customErrorMessageSet=true.

Now I can't detect if the user set this Errormessage.

Look to CompareAttribute. This is the way it can be implemented. Create an extra overload in DataTypeAttribute.

[code]

Should be

[code]

This should also be done for all other Attributes that has the ba

[2015-11-12 23:08] CIPop commented on #4467
/cc @markwilkie
We're already at 10s for these tests. I'll increase to 15s but, unless this is a product bug, this is simply showing that the CI system boxes are not scaling for the number of concurrent tests that they need to run.

[2015-11-12 23:08] CIPop commented on #4467
For reference: on my system, the entire test suite executes in about 1 second.

[2015-11-12 23:31] ericstj commented on #4476
Consider where you want this API change to go.  If you want it to reach existing releases or desktop it will need to be on a new type / extension.

[2015-11-12 23:39] stephentoub commented on #3537
I debugged this to libcoreclr's UTF8ToUnicode implementation:
https://github.com/dotnet/coreclr/issues/2037

The attribute string is persisted in metadata as a UTF8 blob.  When that string (which contains invalid code points) is decoded on Linux, UTF8ToUnicode isn't using appropriate fallback replacements, and the string is coming into the test as written.  That's then causing the XmlWriter employ

[2015-11-12 23:41] stephentoub commented on #4467
@CIPop, I expect you're right, but should we also consider the possibility that there's a race condition / deadlock somewhere and these timeouts actually represent a real product issue?  Or is that not possible?

[2015-11-12 23:44] davidsh commented on #4476
We want it to be new properties on HttpClientHandler class.

The problem is that there is no such thing as "extension properties".  There is only "extension methods".

[2015-11-13 00:02] eerhardt commented on #4475
My main reasons for preferring to keep CompressionLevel.Optimal to mean "best time/rate ratio" (Z_DEFAULT_COMPRESSION):

1. It follows the [design guidelines](https://msdn.microsoft.com/en-US/library/ms182149(v=vs.80).aspx): "assign zero to the most commonly used member".  I think the Z_DEFAULT_COMPRESSION value should be used in most situations.
2. It is what was currently implemented, and appear

[2015-11-13 00:03] bartonjs commented on #3924
The best situation that I'm seeing is:
[code]

This happens to upgrade the mac to OpenSSL 1.0.2d.  Aside from one small error in our detection for `HAVE_SSL_CIPHER_SPLIT_ALGORITHMS` (LocalFixed) this seems to work fine.

Since I'm not a mac person I don't know if this is onerous, acceptable, or preferred (getting an OpenSSL that wasn't built from the stone-ages).  @ellismg or @stephentoub do you h

[2015-11-13 00:32] CIPop commented on #4467
I'm not disregarding that possibility. If this happens after I increase the timeouts, I'll see if I can repro in my own environment or if I can add memory-dump generation code to the tests (i.e. a call to [MiniDumpWriteDump](https://msdn.microsoft.com/en-us/library/windows/desktop/ms680360(v=vs.85).aspx) ).

[2015-11-13 01:30] #3537 closed

[2015-11-13 02:12] davidsh commented on #2370
Now that dotnet/buildtools#334 is fixed, we can work on this issue.

[2015-11-13 02:16] #4453 closed

[2015-11-13 03:15] stephentoub commented on #4467
Same three failed here: https://github.com/dotnet/corefx/pull/4478#issuecomment-156310528

[2015-11-13 03:24] kkurni commented on #4438
The timeout only happen in debug mode.
This was caused by Debug.Assert is throwing Exception instead of opening debugger.

We don't exception well which causing this to timeout.
https://github.com/dotnet/corefx/blob/a3050bacc9b716f52f086751bfb4bf0384019f53/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsConnection.cs#L131-L138

Debug Assert was failed because we blindly handle error

[2015-11-13 03:25] kkurni opened #4487 "Mars - Intermittently Failed - because of race condition"
Repro

[code]

Sometimes this will error caused by syn packet was sent after the second data packet for second session sent.

[2015-11-13 03:26] saurabh500 commented on #4438
@kkurni has created the following pull request which address the problem

https://github.com/dotnet/corefx/pull/4486

[2015-11-13 03:26] saurabh500 commented on #4438
@kkurni  are you going to fix the Assert for this issue ?

[2015-11-13 03:55] kkurni commented on #4438
probably, yes 1 only for this assert packet should be allow to be null.
https://github.com/dotnet/corefx/blob/1d9edc6f2da2c9cedf1e1c700fe88d3fe3299d91/src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs#L2900

other asserts, I think it is there for a reason.
So I think it is best to handle this error properly by target this per session id if possible

Need to understand a b

[2015-11-13 04:00] kkurni opened #4489 "Mars cleanup - create session async constructor"
https://github.com/dotnet/corefx/pull/4486

I think this async constructor was carried over from native sni params.
But it doesn't mean that it will create a session async.

Create session async will be dangerous as it will potentially caused race condition where data packet get sent before SYN control packet / session created.

[2015-11-13 04:08] saurabh500 commented on #4273
The Fix for MARS is in RC2 with the Pull Request https://github.com/dotnet/corefx/pull/4486

[2015-11-13 04:09] saurabh500 commented on #4273
For the following exception  we found that the socket.Poll() in the Connection Checking of SqlClient is possibly not providing the correct information. Looking into the fix.

System.Data.SqlClient.SqlException : The connection is broken and recovery is not possible. The connection is marked by the server as unrecoverable. No attempt was made to restore the connection.
Stack Trace:
at System.Data.S

[2015-11-13 04:26] stephentoub commented on #4467
And again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/6163/

[2015-11-13 04:38] #4487 closed

[2015-11-13 05:04] vijaykota commented on #4480
cc: @rajansingh10 Please review the code if handles need to be invalidated in ReleaseHandle code path

[2015-11-13 06:11] vijaykota commented on #4473
Chain validation for CurlHandler was fixed in https://github.com/dotnet/corefx/pull/4121

[2015-11-13 06:21] jonorossi opened #4491 "System.Reflection.Emit.AssemblyBuilder.Save"
`AssemblyBuilder.Save` and `AssemblyBuilderAccess.RunAndSave` isn't available in .NET Core, however coreclr seems to have the code to implement it but I looks conditionally compiled out.

https://github.com/dotnet/coreclr/blob/bc146608854d1db9cdbcc0b08029a87754e12b49/src/mscorlib/src/System/Reflection/Emit/AssemblyBuilder.cs#L1690-L1711

Our use case in Castle DynamicProxy is to write out dynamica

[2015-11-13 11:44] #2370 closed

[2015-11-13 12:48] stephentoub commented on #4142
I'm going to close this for now.  Unfortunately the Jenkins logs went away, and there's no useful information in the error message.  It was likely an assert failure causing a fail fast, and if it happens again it should instead be an exception that will provide much more info.

[2015-11-13 12:48] #4142 closed

[2015-11-13 13:53] joshfree commented on #4491
Related issue https://github.com/dotnet/coreclr/issues/1709

[2015-11-13 15:58] stephentoub commented on #3574
We made several changes that significantly improve the situation, both in terms of memory and throughput, including a fast-path for ASCII.  At this point, the main difference appears to be entirely in the ICU implementation as compared to the Windows implementation, and there's little more that can or should be done on the .NET side.  As such, I'm going to close this out.  We can revisit and look