[2017-02-21 10:32] karelz commented on #16340
cc @steveharter @Priya91 @ianhays

[2017-02-21 11:57] stephentoub commented on #15635
It should be. I didn't know this was the case. Which, if any, of the badges on the home page represent 32-bit rather than 64?

[2017-02-21 11:58] stephentoub commented on #15844
Subtract 128 from the exit code to get the signal number.

[2017-02-21 12:57] DDoSolitary commented on #12190
Hello!
Does the milestone mean that there will be MIT licensed NuGet packages for v2.0?
And is there some convenience workaround for this?

[2017-02-21 13:05] #16315 closed

[2017-02-21 14:15] tmds commented on #9855
@bartonjs will this break the portable linux-x64 apps? Or will they work on systems with openssl 1.1?

[2017-02-21 14:18] omajid commented on #9855
OpenSSL provides `libssl.so.1.1`. The shim currently looks for `libssl.so.1.0.0` only.

[2017-02-21 14:20] jkotas commented on #16298
The corefx copy is lower performance version that runs on existing runtimes (.NET Framework in particular).

[2017-02-21 14:26] dennisdietrich commented on #16298
I see. That still leaves the issue of the tests targeting the wrong binary though.

[2017-02-21 14:26] jkotas commented on #16305
@karelz So how do you mark issues that apply to multiple area paths?

[2017-02-21 14:57] bartonjs commented on #9855
@tmds Even the "portable" version is compiling against the 1.0.x ABI.  libcrypto.so.1.0.0 and libssl.1.0.0 will still be required to be loadable (given the way things currently are.  PRs can, of course, always change that)

[2017-02-21 15:31] bartonjs commented on #16260
@xplicit Well, it's difficult.  As a general rule we don't add exceptions to existing codepaths.

Your initial serialized key works on Windows.  It probably works on .NET Framework.  So you could have had this key in your code for quite a while (or a bad key generator/serializer in your code for quite a while).  Now you get the next version of .NET Core and it starts reporting it as invalid.  That

[2017-02-21 15:31] #16260 closed

[2017-02-21 15:36] JonHanna opened #16346 "Failure in ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/3698/consoleFull#-12002141512d31e50d-1517-49fc-92b3-2ca637122019

[code]

[2017-02-21 15:55] vancem commented on #16128
Indeed. the typical usage pattern for DiagnosicSource/DiagnosticListener is for a component (say HTTP) to itself create a static DiagnosticListener (HttpDiagnosticListener), and write to it.   Thus it is very easy for that static variable to be declared as a DiagnosticListener (rather than a DiagnosticSource) and thus the new methods are available.

[2017-02-21 15:58] stephentoub opened #16347 "Proposal: GCHandle.IsPinned(object)"
When writing code that uses unsafe code, APIs like Marshal.UnsafeAddrOfPinnedArrayElement, etc., it's often desirable to be able to assert that the object in question is in fact pinned.  I'd like to see an API that would allow that to be done:
[code]
Similar to how Monitor.IsEntered is mainly intended to be used in Debug.Asserts, this could then be used in Debug.Asserts as well, e.g.
[code]

My un

[2017-02-21 16:08] xplicit commented on #16260
@bartonjs FYI the issue had come from wrong implementation of `ToXmlString` and `FromXmlString` methods. .NET Core does not have these methods and we had to reimplement it to transfer existing .NET codebase to .NET Core. In that custom implementation `Modulus` was wrongly exported instead of `InverseQ`, but this have been worked on windows for a while until the moment when we run the same code on

[2017-02-21 16:13] stephentoub opened #16348 "AV in System.Xml.XmlDocument.Tests in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/107/consoleText
[code]

[2017-02-21 16:15] stephentoub commented on #16310
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_portablelinux_release/20/

[2017-02-21 16:26] MithrilMan commented on #11639
+1 @rdghickman, any example that solve complex dynamic loading a library with complex dependencies?

[2017-02-21 16:29] tarekgh commented on #16334
@benaadams are you willing to help with this one too?

[2017-02-21 16:37] stephentoub commented on #15383
This is causing a bunch of failures.  @saurabh500, I know you have a larger set of changes in the works, but I'm going to submit a fix for this particular issue to unblock things.

[2017-02-21 16:44] tmds commented on #16180
@CIPop @davidsh What's the windows behavior here?

AFAIK this doesn't exist on Windows.

No there is no API for this.
If desired, one way of adding this could be as a SocketOption. The underlying implementation would not use get/setsocketoption but fcntl. This can be considered as a separate issue.

This is a breaking change. But it is breaking something which is very unlikely to be used in practi

[2017-02-21 16:50] tarekgh commented on #16275
@ericstj do you know what is the issue here?

[2017-02-21 17:01] ericstj commented on #16126
We might need a quick fix to this as our we're hitting it now consistently in daily builds.  As a workaround we might be able to condition this package to not be produced on official builds that don't sign ☹️

[2017-02-21 17:04] ericstj commented on #16275
This is actually a coreclr issue and should be moved to that repo. @gkhanna79.

The same issue was hit in 1.0.x that package was hardcoded to use the 1.0.2 packages built out of TFS.

I suspect that the same fix hasn't been made to 1.1.0 and the ARM build of JIT packages is still missing.

In the meantime, don't upgrade CoreCLR or JIT packages.  Just keep the ones brought in by the UWP meta-packag

[2017-02-21 17:10] tarekgh commented on #16275
Issue moved to [dotnet/coreclr #9694](https://github.com/dotnet/coreclr/issues/9694) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-21 17:10] #16275 closed

[2017-02-21 17:11] weshaggard commented on #14565
@onovotny which inbox components reference this? There should not be any inbox libraries that reference Microsoft.Win32.Primitives. There could be other OOB libraries that reference 4.0.0.0 and 4.0.1.0 versions of this library. However I would expect the auto-binding redirects feature to detect that case as well.

[2017-02-21 17:15] weshaggard commented on #16126
@dagood how do you envision this getting fixed? It seems like no matter what we do if multiple legs of build definitions are producing the same packages then someones to tell the publish step which one to publish. Do we envision that being done as a validation step that fails if we produce for publishing the same packages on multiple legs or some other configuration mechanism to configure what get

[2017-02-21 17:23] weshaggard commented on #16236
I assume this is mostly to test the auto-binding redirect feature. However I suspect we will have a hard time to recreate that environment in our test infrastructure due to our custom nature. However we should definitely try and we should ideally eliminate our generation if we can get RAR to generate it for us.

[2017-02-21 17:23] onovotny commented on #14565
I guess I can't say for sure that it's OOB/in-box, just that it's easy to repro with my example above. Something in the dependency set was looking for 4.0.0.0 while 4.0.1.0 was in the output directory and no binding redirect was generated for it.

[2017-02-21 17:24] davidsh commented on #16248
See #9228.

[2017-02-21 17:28] danmosemsft commented on #15635
32 bit is only fully supported on Windows, so it's obviously just Windows. And for those, netci.groovy has:

[code]

So debug is always 32 bit, release always 64 bit. I am not sure what Helix does - hopefully the reverse.

[2017-02-21 17:31] stephentoub commented on #15635
Ok.  My $.02:
1) We should have legs with badges on the home page for both 32-bit and 64-bit Windows.
2) We should update the home page badges to highlight that some of the badges actually represent 32-bit (e.g. a 32-bit column).
3) We should rename the legs to include the bitness in the name so that we can easily differentiate them, at least for cases like Windows where we have a difference.

[2017-02-21 17:33] willdean commented on #16347
This sounds like a great idea to me - who could object to such information being easily available, and it would be great if marshalling services could enforce pinning obligations explicitly.

It does seem to me that if this really did require a GC to find out the information then we would have a situation where a debug build would always GC immediately before marshalled calls which have been prote

[2017-02-21 17:33] leecow commented on #16256
@tanaka-takayoshi - I have added this issue to the review list for the next LTS updates.

[2017-02-21 17:56] jkotas commented on #16347
How slow is still ok? Is it ok if this API takes up to 1 ms and stops all threads executing managed code?

I have doubts that this is a good API to have. If you are writing code that has too complex pinning and want to have asserts for it, you can always create your own debug-only hashtable that keeps track of what you have pinned.

[2017-02-21 18:06] stephentoub commented on #16347
You can, at the expense of additional complexity in your own code, e.g.
[code]
becomes either:
[code]
or to try to slim it down:
[code]
but then Add can't be Conditional(DEBUG), and either way you're relying on the compilers to remove a bunch of cruft for you.  It also won't help between components unless you expose your tracking table between them.

[2017-02-21 18:11] terrajobst commented on #16155
Looks good.

For the record, @KrzysztofCwalina doesn't like the name of the type, but hey, he was on the original review :-)

[2017-02-21 18:16] daviwil opened #16352 "Console.KeyAvailable echoes typed key on Linux and macOS"
I've been using `Console.KeyAvailable` to implement an async `ReadKey` method that waits until a key is available before calling `Console.ReadKey(true)`.  This has been working well on Windows but it breaks down on *NIX because the `Console.KeyAvailable` property causes the typed key to be echoed.  This happens before I have a chance to call `ReadKey` specifying that I don't want it to echo the ty

[2017-02-21 18:17] karelz commented on #16305
@jkotas If there are truly multiple, we either move it to area-Meta or create multiple bugs. Multiple area paths are more often a mistake than a purpose and lead to unclear responsibilities/follow ups.

[2017-02-21 18:20] danmosemsft commented on #15635
If I read Helix right @MattGal we don't test x86 at all. We are relying on Jenkins (and debug only) if that's the case.

[2017-02-21 18:21] stephentoub commented on #16352
KeyAvailable doesn't actually cause the key to be echoed: unlike on Windows where keys aren't echoed until they're consumed, on Unix they're echoed immediately when typed, even before they're consumed.  The only way we have to suppress that is to move the terminal into a no-echo mode, which we do for something like Console.ReadLine, but for an API called at random times like KeyAvailable, we have

[2017-02-21 18:24] terrajobst commented on #16128
[code]

Adding sealed to `IsEnabed(string)` and `Write(string, object)` would be a breaking change to .NET Core 1.0 (source and binary). It's unlikely that we would approve that (@ericstj).

Would you still do the change if you can only seal the newly added methods? We think this would make the API inconsistent and thus even worse. Thoughts?

[2017-02-21 18:24] MattGal commented on #15635
@danmosemsft, you are correct.  Adding x86 flavor to Windows, build-wise, would be trivial.   I think we'd need to actually generate custom VHDs to do this on Linux, and it wouldn't be an option at all on OSX.

Adding actual OSes that are natively 32-bit (I.e. not using WOW to run x86 code) would be quite a lot of work, since we rely on base Azure images, which are not available in natively x86 fo

[2017-02-21 18:30] terrajobst commented on #16274
Looks good as proposed.

[2017-02-21 18:34] danmosemsft commented on #15635
@MattGal I think we should have an x86 Windows release run in Helix, since it doesn't sound too hard. Should I open an issue in core-eng?

We only officially support 32 bit for Windows (Linux, ARM in progress eg https://github.com/dotnet/coreclr/issues/9265) so it'd just be that.

I don't think an actual 32 bit OS is necessary. In my (limited) experience it's really rare to have a bug that doesn't

[2017-02-21 18:34] benaadams commented on #16128
`public bool IsEnabled()` being non-virtual would get most of the fast "everything-disabled" advantages?

[2017-02-21 18:36] MattGal commented on #15635
Sounds good, please create the issue.  It should literally just involve adding a few pipeline JSON entries, I can probably do this today unless @chcosta wants it.

[2017-02-21 18:36] danmosemsft commented on #14345
@VSadov perhaps you could look around for old test sources for this one, while you're looking for the M.VB ones ?

[2017-02-21 18:37] terrajobst commented on #11861
We haven't invested in `BitArray` because it has relatively low usage. We generally don't want to follow the path of other platforms (such as the STL) that has a large variety of collection types because it creates cognitive load when deciding which one to use and can make it harder to exchange types.

The proposed type seem reasonable, given the design of `BitArray`. However, given `BitArray`'s l

[2017-02-21 18:37] #11861 closed

[2017-02-21 18:39] stephentoub opened #16353 "Solutions missing cross-platform configurations"
We used to have the option in VS of selecting which configuration of the project you want to work with, e.g. a pull down to select Windows vs Linux vs macOS for Debug vs Release.  Now in a solution like System.Net.Sockets, there's only Debug vs Release, which means when working on the Unix side of a project, we don't get IntelliSense in the Unix-specific code.  What's the recommended approach now?

[2017-02-21 18:40] SamuelEnglard commented on #11861
I'm going to take that as a compliment 😃

[2017-02-21 18:44] weshaggard commented on #16353
That was intentional to try and avoid the explosion of combinations. The recommendation is the open up the solution configuration and change to the Linux/Windows/etc configuration you want and enable build it that way. Unfortunately there isn't an easy way to do that from the toolbar but you can still do it.

[2017-02-21 18:44] weshaggard commented on #16353
Also remember that you will still need to at least built that configuration from build.cmd once before you can build that individual project for that configuration.

[2017-02-21 18:46] JonHanna commented on #16305
area-Meta is probably the most appropriate, since it is a very cross-cutting case.

[2017-02-21 18:46] chcosta commented on #15635
@MattGal , if you have time, please don't block on me.

[2017-02-21 18:46] stephentoub commented on #16353
Meaning now to switch back and forth between them I need to edit the solution file, reload the solution, then to switch again re-edit the solution and re-load?  That's very unfortunate.

[2017-02-21 18:48] weshaggard commented on #16353
You don't need to reload the solution you just need to edit the solution configuration in VS. Right click on the Solution and select configuration manager (or in the configuration drop down on the toolbar and selecting configuration manager). Then change the configuration for the project you want to build.

However that state does update the solution file which is unfortunate but you can just undo

[2017-02-21 18:48] marek-safar opened #16354 "System.Reflection.Metadata throws on big-endian archs"
There is an explicit check in System.Reflection.Metadata which blocks Roslyn from working on big endian architectures. Can this be removed/fixed?

https://github.com/dotnet/corefx/blob/c97b6dfa7fa8cb29b12121bc5532597ab1409bb6/src/System.Reflection.Metadata/src/System/Reflection/Metadata/MetadataReader.cs#L91

[2017-02-21 18:50] stephentoub commented on #16353
Ah, I see, ok.  Unfortunate but not terrible. Thanks.

[2017-02-21 18:50] #16353 closed

[2017-02-21 18:51] stephentoub commented on #16354
cc: @tmat, @nguerrera

[2017-02-21 18:51] mmitche commented on #16283
@danmosemsft Probably not.  It's unlikely to show anything too interesting anyway.  I copied the build to a new version which will not abort after 2 hours.  When we see the issue we can login and take a look live on the machine:

https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows_hangdebug/

[2017-02-21 18:52] JonHanna commented on #14345
Currently at 72% as per https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows_prtest/30/artifact/bin/tests/coverage/index.htm and hopefully as per the link from the homepage soon.

[2017-02-21 18:52] mmitche commented on #16283
@danmosemsft It will run every hour, not concurrently.  We should see a failure today.

[2017-02-21 18:52] lmolkova commented on #16128
@benaadams
Correct, producer should first call IsEnabled without arguments and only then check for a particular event name to be enabled:
[code]

[2017-02-21 18:53] tmat commented on #16354
@marek-safar Not easily. Quite a bit of the reader relies on little-endian operations for perf reasons. What big-endian architectures do you need to support?

[2017-02-21 18:54] tmat commented on #16354
If we supported big-endian I think we would need to multi-target thru #ifdefs.

[2017-02-21 19:26] nguerrera commented on #16354
We should avoid ifdefs for this. It will complicate a lot of things, especially packaging. Wouldn't the native code gen could spot the constant expression BitConverter.IsLittleEndian and optimize accordingly?

[2017-02-21 19:27] tmat commented on #16354
@nguerrera True, if we confirm the code gen eliminates it then I have no issue.

[2017-02-21 19:27] dagood commented on #16126
I like @ericstj's proposal, where the precedence order is applied and conflicts caught during the package publish build definition. A way to do this without changing too much about the publish def is to use a buildtools target/task to find the "to publish" packages in the `sync -ab`'d dir and copy them to an intermediate directory. Then, the steps we have now would operate on that.

The workaround

[2017-02-21 19:28] stephentoub commented on #16354
Likely by the JIT.  Unlikely by an AOT solution.

[2017-02-21 19:29] tmat commented on #16354
@stephentoub AOT doesn't do target platform specific optimizations?

[2017-02-21 19:30] benaadams commented on #16334
Encoding has burnt me twice; might have to lick my wounds for a little while... Though I do still want it to be faster; but may be a little while.

[2017-02-21 19:31] stephentoub commented on #16354
How would it know when the code is generated at compile time what the static cctor is going to assign to the Boolean field at run time?

[2017-02-21 19:36] tmat commented on #16354
I'd expect this property to be treated as an "intrinsic".

[2017-02-21 19:36] benaadams commented on #16334
3rd time I'd have to get it perfect 😉

[2017-02-21 19:37] tmat commented on #16354
As should IntPtr.Size be, for example.

[2017-02-21 19:39] stephentoub commented on #16354
Sure, if work were done in the compiler to make this work, then of course.  To my knowledge that's not the case today, e.g. I don't believe BitConverter.IsLittleEndian is recognized as an intrinsic by crossgen.

[2017-02-21 19:41] tarekgh commented on #16334
when you look at it again we need to consider pick up the optimization from the corefxlab with it. also I am wondering why you didn't see Xml failure in your tests? didn't these tests run in your case?

[2017-02-21 19:44] lmolkova commented on #16128
We can keep all `IsEnabled(string)`, `IsEnabled(string, object, object)` and `Write(string, object)` virtual.

Non-virual IsEnabled without arguments  should be used to keep diagnostics as cheap as possible when off.

@vancem are you ok with it?

[2017-02-21 19:46] danmosemsft commented on #4805
Karel that's https://github.com/dotnet/corefx/pull/16198

[2017-02-21 19:46] #4805 closed

[2017-02-21 19:47] #16155 closed

[2017-02-21 19:49] Priya91 commented on #16340
They all seemed to have failed with overflowexception from SystemNetworkInterface ctor.

[2017-02-21 19:51] stephentoub commented on #16340
cc: @dennisdietrich, @tarekgh, @nguerrera (likely continued fallout from turning on checked in debug)

[2017-02-21 19:59] jkotas commented on #16354
`IntPtr.Size` is property that returns constants, and so it "just works". `BitConverter.IsLittleEndian` is static readonly field, not property. static readonly fields require special work to get optimized out completely.

[2017-02-21 20:00] tarekgh commented on #16340
I'll submit a PR soon for this one

[2017-02-21 20:00] jimcarley commented on #16283
Adding @qizhanMS for visibility.

It's not clear to me. Is this an intermittent problem? Do we have an idea of when the problem started happening? Since this only seems to be happening for coverage builds, could there be something we are missing in the initialization of our tests that could cause this?

[2017-02-21 20:02] mellinoe commented on #15957
@saucecontrol You're correct in that we don't have a way to expose _which_ intrinsics are accelerated. It's a problem we've talked about in the past, but haven't come up with a good way to represent it in the API. In this case, in the next version of .NET Framework, RyuJIT will be updated with support for these methods.

@svick As far as I know, we are not intending to use tuples in any of our pub

[2017-02-21 20:03] Priya91 commented on #16340
Thanks @tarekgh, assigning the issue to you.

[2017-02-21 20:03] tarekgh commented on #16340
https://github.com/dotnet/corefx/pull/16356

[2017-02-21 20:12] vancem commented on #16128
Go ahead and just add just IsEnabled() as a non-virtual and do nothing else.

@terrajobst, we knew about the breaking aspect, but it is really quite unlikely (this type has only been public for months, and the use case for extending this clase, let alone overriding this method is hard to come up with), and being CoreCLR (and thus side-by-side) the tolerance for incompatibility is arguably higher.

[2017-02-21 20:18] mmitche commented on #15635
@danmosemsft We are not short of VM resources.

[2017-02-21 20:37] danmosemsft commented on #14345
Hey, that's great. I didn't notice that. This is a relatively low priority to take further then.

[2017-02-21 20:40] danmosemsft commented on #16347
Even if it's too slow even for an assert, might it be useful for debugging purposes, in #if FALSE normally?

[2017-02-21 20:41] tmat commented on #16354
I see.

[2017-02-21 20:53] weshaggard commented on #15135
No. The large single netfx package is the .NET Framework itself. Anything that doesn't ship inbox that we support on .NET Framework will still be shipped as an individual nuget package as it is today. The large single package is mostly about the core set of libraries that make up the lower layers, at a high level you can think about that be things as part of .NET Standard, although it isn't exactl

[2017-02-21 20:54] davidsh commented on #11100
Thank you for all the validations of the package.

The System.Net.Http 4.3.1 package has been promoted to NuGet.org.

https://www.nuget.org/packages/System.Net.Http/4.3.1

[2017-02-21 20:54] weshaggard commented on #15135
We still have a small tail of issues we are working through but we have mostly finished this work so I'm closing this issue now.

[2017-02-21 20:54] #15135 closed

[2017-02-21 21:04] #16340 closed

[2017-02-21 21:06] weshaggard commented on #16287
This method depends on types from Reflection.Emit which are not part of .NET Standard so it cannot be added to the standard. However it could be made .NET Core specific if we felt it was useful for those folks.

[2017-02-21 21:07] stephentoub commented on #16287
In the method's signature?

[2017-02-21 21:08] weshaggard commented on #16287
Yes in the signature. See https://apisof.net/catalog/System.Linq.Expressions.LambdaExpression.CompileToMethod(MethodBuilder).

[2017-02-21 21:13] weshaggard commented on #16126
While the order preference could work it feels a little too fragile (aka magical) to me. I would much prefer we just fail on any package conflicts and we encode in the build of the packages somehow that this is an official package build and we can then encode the logic of which one to chose in our package traversal build and disable (or bin-place outside the publish folder) the ones that we don't

[2017-02-21 21:27] Priya91 commented on #16200
@steveharter This has started failing on Linux now. #16277 should handle this? Or we should disable this for all OSes.

[2017-02-21 21:40] dennisdietrich opened #16358 "System.Memory tests target wrong assembly"
System.Memory tests target System.Private.CoreLib instead of System.Memory when a type is defined in both assemblies which produces incorrect test results and blocks the creation of new unit tests (e.g. for #16298).

Adding
[code]
to a test produces the following output:
[code]

[2017-02-21 21:51] danmosemsft commented on #16358
Is this as intended? In the sources csproj:

[code]

What this means is that when building for netcoreapp (which is the default) it will defer (via type forwards) to the implementations in CoreCLR. When those aren't available (eg when building to ship out of band?) it compiles in the implementation in src.

When building src and running tests, the build is netcoreapp so you're seeing this. If yo'u

[2017-02-21 21:56] geoffkizer opened #16359 "System.IO.Ports.Tests hang"
Windows, debug build.  Just synced up.

The hang appears to happen at this line:

https://github.com/dotnet/corefx/blob/a5473390a7da48fbc01ced6985da38679983faca/src/System.IO.Ports/src/System/IO/Ports/SerialStream.cs#L1011

Full stack:

[code]

[2017-02-21 22:04] marek-safar commented on #16287
Right but it's available in .net core platform so it'd make sense to remove the ifdef

[2017-02-21 22:05] dennisdietrich commented on #16358
@danmosemsft So, are you saying that what I'm seeing when running locally does not happen on the CI machines?

[2017-02-21 22:08] danmosemsft commented on #16358
The CI and outerloop runs run in various configurations, beyond what you get locally when running with default parameters. So they should test both ways, and we distinguish the tests with #if. What I don't understand is the questins I had above for Joe. That would also tell us what you have to pass to the build to make it use the local copy of Span.

[2017-02-21 22:09] Priya91 commented on #16346
cc @davidsh @CIPop

[2017-02-21 22:14] Priya91 commented on #16338
cc @davidsh @CIPop Looks like same error as #16346 win32 exception from AcquireCredentialsHandle in SSPIWrapper, looking at the stack trace.

[2017-02-21 22:15] Priya91 commented on #16346
Dupe of #16338 ?

[2017-02-21 22:19] marek-safar commented on #16354
We support s390x and this is blocking us from using Roslyn compiler on all Mono platforms. Further, I don't think that missing `IsLittleEndian` intrinsic should be blocker to fix this issue.

[2017-02-21 22:19] MattGal opened #16362 "Non-lowercase TargetGroup values lead to late, indirect build errors"
I started trying to fix this:
https://github.com/dotnet/corefx/pull/16360

... but it's clear from building with my changes that others are needed.  For instance, the bin\runtime\<TargetGroup> path that gets generated has the upper-cased letters if specified.

Some guidance here... like "just fail if a TargetGroup is not equal to the ToLower() of itself, with an obvious error message" would make s

[2017-02-21 22:23] ericstj opened #16363 "Update repo packageIndexes when we ship releases"
We need a process for committing updates to the packageIndexes in various repros when we ship new releases.

corefx/master and standard/master need updates from corefx/release/1.0.0 and corefx/release/1.1.0.  corefx/release/1.1.0 needs updates from corefx/release/1.0.0.

Perhaps this is something maestro can do?

/cc @dagood @chcosta

[2017-02-21 22:26] dagood commented on #16126
I don't have a preference one way or the other myself, but that sounds like the approach @ericstj called a workaround and wanted to avoid. (I also don't think buildtools would be involved with that plan.)

[2017-02-21 22:28] saucecontrol commented on #15957
@mellinoe I'm still not clear on the versioning and dependencies.  I get that the new JIT will use the intrinsics with these new methods, but will the updated `System.Numerics.Vectors` have its dependencies configured such that it is _only_ available on newer runtimes that would be guaranteed to have the updated JIT?

Since hardware acceleration is the point of `Vector<T>` in the first place, I th

[2017-02-21 22:28] Priya91 commented on #16310
Dupe of #16201

[2017-02-21 22:28] #16310 closed

[2017-02-21 22:35] tmat commented on #16354
@marek-safar Since the Desktop JIT won't optimize the conditional code away it would regress Roslyn perf on .NET Framework to add little-endian checks. So I'm afraid we will need to use #if def, which makes this messy :(.

[2017-02-21 22:37] tmat commented on #16354
Besides, we don't have any test infrastructure for big-endian platforms. So the cost is pretty steep at this point.

[2017-02-21 22:42] weshaggard commented on #16126
I would prefer we have less magic going on in our tools here and we be more explicit. So I suspect all we need from the tools prospective is some property we can determine official builds on and some logic that fails the build if we find conflicts.

[2017-02-21 23:00] mellinoe commented on #15957
I agree with what you're saying. We need some sort of capability-querying API for `Vector<T>`; we just haven't been able to pinpoint a good design for it yet. Even without these new API's the feature would be good to have. We have a variety of compilers (x86/x64 RyuJIT, ARM/64 RyuJIT in the future, .NET Native, etc.) with different levels of support for different intrinsics. We should try to track

[2017-02-21 23:06] joperezr commented on #16358
Today, we are building 4 different targetGroups for System.Memory which are: netcoreapp, uap, netstandard and netstandard1.0. Two of those configurations will use the Span.cs that lives in corefx(netstandard and netstandard1.0) and the other two will typeforward to coreclr. If you want to build for those targetGroups locally, you can just call `msbuild src\System.Memory\src\System.Memory.csproj /p

[2017-02-21 23:12] Priya91 commented on #9006
@stephentoub The linked potential solution PRs are merged, is there work remaining for this issue?

[2017-02-21 23:13] Priya91 commented on #10947
@normj Were you able to get a repro for this issue? Closing the issue due to inactivity, please reopen when there's more information. Thanks!

[2017-02-21 23:13] #10947 closed

[2017-02-21 23:14] bartonjs opened #16364 "Allow X509Chain to replace the root trust list for a single call"
We should add members on the ChainPolicy to allow a single call to X509Chain.Build to consider an X509Certificate2Collection of certs as a replacement of the system/user default certificate trust.

Win32: CERT_CHAIN_ENGINE_CONFIG looks like it has hExclusiveRoot for "replace".

Unix/OpenSSL: We just need to replace the root trust list when deciding whether or not to set the UnknownRoot flag.

Appl

[2017-02-21 23:16] stephentoub commented on #9006
The underlying problem is still there.  The linked PRs were examples of how it could be addressed, but they were closed rather than merged.  (I would not be surprised if an investigation into https://github.com/dotnet/corefx/issues/16259 shows that this issue is the cause.)

[2017-02-21 23:16] Priya91 commented on #10764
Requires investigation.

[2017-02-21 23:18] Priya91 commented on #9006
Thanks for the info, will keep the issue active and tracked for 2.0.

[2017-02-21 23:20] NickCraver commented on #14529
As a library author, I'd like to see it in. We have many providers for various bits of storage, `System.Runtime.Caching` being one of them. Remember, many ported to this off of `HttpRuntime.Cache` already. Telling a user that they need to do X on full and Y on netstandard isn't friendly, and our choices boil down to:
- Take an abstraction dependency
- Have 1 provider built on each (user pain)
- Ev

[2017-02-21 23:27] dennisdietrich commented on #16358
@joperezr Thanks for the explanation! And never mind this issue.

[2017-02-21 23:27] #16358 closed

[2017-02-21 23:28] steveharter commented on #16200
This was re-flagged as an ActiveIssue a few days ago. https://github.com/dotnet/corefx/blob/7df0cd05c67c28f869a997dfc4423813c2bd9f2a/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs#L74

However that link to build #101 is from yesterday (2/20), so something is amiss

[2017-02-21 23:31] Priya91 commented on #8504
@bartonjs Since 1.1 RTM is done, we shoudl remove this now?

[2017-02-21 23:34] Priya91 commented on #8221
There's no label for feature, adding enhancement.

[2017-02-21 23:46] Priya91 commented on #11623
This is tracked with networking test cleanup.

[2017-02-21 23:48] weshaggard commented on #16097
I'm going to assume this is fixed. If you still have issues please reactivate.

[2017-02-21 23:48] #16097 closed

[2017-02-21 23:50] Priya91 commented on #8115
It's unclear what remaining work is left here. @kapilash Can you elaborate on the next steps. Thanks!

[2017-02-21 23:52] dagood commented on #16363
It seems reasonable to me to use Maestro for this. To make sure it's clear, are you talking about having Maestro detect when `release/1.0.0/pkg/.../packageIndexes.json` changes and set off a build that creates a PR to change `master/pkg/.../packageIndexes.json`?

[2017-02-22 00:03] Priya91 commented on #14837
@cesarbs Can you provide link to product change or the discussion please..

[2017-02-22 00:03] weshaggard commented on #15503
@hseok-oh in order to help me document how to do this can you help me better understand the scenarios you want to work here? Looking at the workaround in https://github.com/dotnet/corefx/pull/16139/files it seems like you could have got everything in corefx building by building the native and managed code separately. Instead of calling `build.sh -buildArch=armel` which is what I assume you guys we

[2017-02-22 00:05] stephentoub commented on #14837
There is no link.  @cesarbs and I chatted in person.

[2017-02-22 00:06] stephentoub commented on #14837
The context is that these Stream wrapper types, like SslStream, that wrap other streams, in general (unless by design otherwise) should not be queueing the calls to BeginRead/BeginWrite from ReadAsync/WriteAsync.  So the issue is to add a test that verifies that.

[2017-02-22 00:09] JunTaoLuo commented on #9670
I have updated the repro with the latest packages for LTS and FTS and I still see the same issue. I have not yet tried this with 2.0 packages though.

[2017-02-22 00:11] Priya91 commented on #13663
Related to #9503

[2017-02-22 00:22] dennisdietrich commented on #16358
@joperezr I'm keeping this issue closed but I need some more assistance getting this to work. So, when I execute ```msbuild System.Memory.Tests.csproj /t:RebuildAndTest /p:TargetGroup=netstandard``` it won't run any tests:
[code]

[2017-02-22 00:28] bartonjs commented on #8504
@Priya91 It needs to still be deleted in pal_ssl.cpp.

[2017-02-22 00:41] morganbr commented on #4278
@anthonylangsworth , some of those transforms, such as XmlDsigC14NTransform are fine, but others, such as XmlDsigXsltTransform are considered very dangerous. While you can enable them via registry key opt-in in the full .NET Framework, I'd rather not support them on .Net Core. Take a look at KnownCanonicalizationMethods and DefaultSafeTransformMethods at https://github.com/dotnet/corefx/blob/ac172

[2017-02-22 00:45] morganbr commented on #4278
I hadn't realized the source of dangerous ones actually got included in the port. I'd vote for removing them entirely. There's really no safe way to use them.

[2017-02-22 00:54] lmolkova commented on #16128
API proposal is changed to IsEnabled() only and ready for review

[2017-02-22 01:01] anthonylangsworth commented on #4278
@morganbr Thanks for the heads up. Once I get the RSA and DSA key value XML code changes done, I'll review the list of transforms included. I will likely publish a list and ask you and others to review it.

[2017-02-22 01:30] hseok-oh commented on #15503
@weshaggard Looks good. And it seems better to add the explaination where is the build result in. For example, result of native build is in `bin/runtime/netcoreapp-Linux-Debug-armel`, and the result of managed build is in `bin/runtime/netcorea-Linux-Debug-x64` with x64 CoreCLR and x64 native build result.

[2017-02-22 01:39] hseok-oh commented on #15503
@weshaggard @jyoungyun By the way, how about circular reference between CoreFX and core-setup packages? Is it cleared in build process and have no problem by using this (#16139) approach?

[2017-02-22 01:44] Priya91 commented on #16046
This is fixed on helix by running update-ca-trust on the machines. Updating the jenkins images to do the same.

[2017-02-22 02:15] akoeplinger commented on #14529
I agree it should be ported. We replaced Mono's implementation with the one from referencesource ~2 years ago but had to reimplement internal classes like UsageEntryRef, CacheUsage, ExpiresEntryRef and CacheExpires because they are missing from referencesource for some reason so it'd be great to get rid of that code 😄

[2017-02-22 02:19] NickCraver commented on #14529
It's worth noting that what @akoeplinger mentions makes up-for-grabs a bit interesting...since we don't actually have the source for that. I have no idea why they were never in reference source, it's also annoyed us for the better part of a decade when debugging :)

[2017-02-22 03:25] jamesqo opened #16371 "[CI Failure] AccessViolationException in System.Net.Mail.Functional.Tests"
Found here during a code coverage run: https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows_prtest/31/consoleFull#-61246470379fe3b83-f408-404c-b9e7-9207d232e5fc

[code]

[2017-02-22 03:44] Priya91 commented on #16201
Updated the machines to run update-ca-trust to keep the SSL certs database in sync with openssl cert path. This issue shouldn't happen anymore.

[2017-02-22 03:44] Priya91 commented on #13300
This should be fixed now.

[2017-02-22 03:46] Priya91 commented on #13298
The ssl ca cert path failure shouldn't happen again. That should be fixed.

[2017-02-22 03:47] Priya91 commented on #13298
The windows error requires investigation.

[2017-02-22 03:48] Priya91 commented on #12637
This should be fixed now.

[2017-02-22 03:51] Priya91 commented on #16200
removing blocing-clean-ci, with test disabled by @steveharter

[2017-02-22 03:52] jkotas commented on #16354
You really only need the ifdef in one place around a property that everything else will use, so the code would not look that messy.

So what the plan for this would be? Build two versions: one for desktop that is hardcoded to little endian; and portable one that can be used everywhere else and works on big-endian machines?

I would expect that the Mono team would take care of testing this.

[2017-02-22 04:27] morganbr commented on #4278
@anthonylangsworth Sounds great!

[2017-02-22 04:29] benaadams commented on #16334
I normally end up with quite a few test failures in unrelated areas (without any changes) and testing coreclr against corefx can be periodically hit and miss as things change.

So I confirm the copy dlls works with current (at least in area); add a definite mistake (in area) to confirm that changes are picked up and failure happens; then test against new changes and ensure everything passes.

Prob

[2017-02-22 04:40] benaadams commented on #16334
Be nice if there was an automated dotnetbot confirm with corefx in coreclr https://github.com/dotnet/coreclr/issues/9715

[2017-02-22 04:45] jamesqo commented on #15573
@jkotas I haven't gotten around to responding to you for some time. However, I do agree with most of your points. It does seem like it wouldn't be that hard for someone to make his/her own dynamic array struct that has way less bloat from not implementing IList. Additionally the value this type adds (no pun intended) is small because there is only 1 allocation avoided at the beginning, and that's

[2017-02-22 04:45] #15573 closed

[2017-02-22 05:20] jamesqo opened #16374 "[Proposal] Adding a version of List<T> with smaller memory footprint and no random access"
**Related:** https://github.com/dotnet/corefx/issues/15573

**Background:** When `Add` is called on List and it cannot fit any more items in its internal buffer, it allocates a new array twice the size and copies over each of the existing items.

This is an inefficient use of memory; instead, it could keep the old array around, allocate a new one the same size as the number of existing items, and

[2017-02-22 05:40] yaakov-h commented on #13309
@Priya91 there are definitely DNS servers configured... and I can resolve other addresses as is evidenced by being able to resolve GitHub.com to post in this issue.

Similarly, if it was just a case of the Mac's own name not being known in reverse lookup, I'd expect `System.Net.Sockets.SocketException (0x80004005): No such host is known` instead...

What further info can I get, aside from dropping

[2017-02-22 05:40] benaadams commented on #16374
Could implement `IList<T>` random access should still be `O(1)` as you know the sequence of sizes so could jump straight to correct array after a calculation.

[2017-02-22 05:56] georgiosd commented on #11100
Hm, very bizarre - RavenDB client now complains it can't find the 4.1.1 assembly

[2017-02-22 06:13] danmosemsft commented on #16359
@willdean fyi.

[2017-02-22 06:23] tmat commented on #16354
The code itself won't be messy, it's the build and packaging I am more worried about. We don't ship two different sets of Roslyn binaries for desktop and portable.

Roslyn might also have some code that assumes little endian architecture. Probably not that perf sensitive though, but still would need to be tested.

[2017-02-22 07:17] eerohele commented on #5593
Looks like the `<msxsl:script>` element isn't supported at the moment. If you try to use it, you get `System.PlatformNotSupportedException: Compiling JScript/CSharp scripts is not supported`.

Will .NET Core ever get `<msxsl:script>` support?

[2017-02-22 07:35] icylogic opened #16375 "TCP Fast Open implementation?"
#### TCP Fast Open on Windows
Windows has introduced TCP Fast Open in the Anniversary Update serveral months ago. ([Announcing: New Transport Advancements in the Anniversary Update for Windows 10 and Windows Server 2016](https://blogs.technet.microsoft.com/networking/2016/07/18/announcing-new-transport-advancements-in-the-anniversary-update-for-windows-10-and-windows-server-2016/))

#### Native AP

[2017-02-22 08:01] marek-safar commented on #16354
I agree the packaging would be very painful which is why I suggested to avoid the ifdef. I think you are overestimating impact of inlining this field in Roslyn context.

The packaging is messy already because there is no portable version of Roslyn nuget (issue filed some time ago) and every project uses Desktop version but even if we make Roslyn netstandard based we'd still need platform independe

[2017-02-22 08:05] AndersAbel commented on #4278
@morganbr @AnthonyDGreen Those transforms (that was disabled in the MS16-035 patch) have been discussed previously in this thread when discussing the port. @bartonjs stated on Dec 14 that reg-compat stuff should be removed. See also comment by @steveharter Dec 15 that those transforms probably can be enabled late-bound and should thus be ported.

[2017-02-22 08:22] willdean commented on #16359
@geoffkizer Are you using a USB-Serial adaptor of some kind?  If so, would it be possible for you to find out what the chipset's manufacturer is?

This hang is occurring in code which runs once at the beginning of all the tests, to check if you have loopback cables of any kind attached.   Given that you've had problems at this early stage, I suspect you're going to have a lot more further on anywa

[2017-02-22 08:24] geoffkizer commented on #16359
Not that I know of.  I'm running on a ThinkPad W540.  The only device I have attached is a wireless Logitech mouse, connected via USB.

[2017-02-22 08:47] willdean commented on #16359
@geoffkizer Thanks for the reply - It had only just occurred to me that you weren't actually trying to test anything to do with `SerialPort`, merely trying to get through the rest of the tests.

Does Device Manager show a COM port in the 'Ports' section?

Hopefully #16376 will fix this for you, and then the `SerialPort` tests will all be skipped anyway.

[2017-02-22 08:50] geoffkizer commented on #16359
Device manager shows one entry under Ports:

Intel(R) Active Management Technology - SOL (COM3)

[2017-02-22 08:55] willdean commented on #16359
@geoffkizer Ah, the NSA access port.  I guess it has a problem with arbitrary writes.  Let's just cross our fingers that it respects write timeout settings.

[2017-02-22 08:58] geoffkizer commented on #16359
NSA = National Security Agency?  Would that explain why my builds are so slow sometimes?

[2017-02-22 09:01] willdean commented on #16359
@geoffkizer If I knew I wouldn't be able to tell you anyway :-)

I think the slow builds are organised nearer Seattle than Fort Meade, though...

[2017-02-22 11:45] willdean commented on #16359
@geoffkizer #16376 has been merged now - would you mind trying again?

[2017-02-22 11:52] Jamesxql opened #16379 "The HttpClient send request via HTTP/2 throw a exception"
On Ubuntu 14.04

my curl version is:
[code]

And I send a request to HTTP/2 web, I receive this:
[code]

But when I use HttpClient send this request, the program throw a exception:
[code]

My `Microsoft.NETCore.App` version is `1.1.0`
And my code like this:
[code]

What's the problem?

[2017-02-22 12:36] #15383 closed

[2017-02-22 12:50] stephentoub commented on #16379
I believe this is the same issue as https://github.com/dotnet/corefx/issues/14715, which was fixed for 2.0 in https://github.com/dotnet/corefx/pull/15203.

[2017-02-22 13:59] stephentoub commented on #16283
Our code coverage runs appear to be hanging because of this.  I logged on to one of the CI machines and grabbed some data from the hung process.

There are two threads that are stuck:
![image](https://cloud.githubusercontent.com/assets/2642209/23214349/56a84e68-f8dc-11e6-9e35-ae8a2ec39c4c.png)
Both of them are blocked waiting for a Monitor to be signaled inside of CommitableTransaction.Commit:
![i

[2017-02-22 15:58] steveharter commented on #16200
The root issue is #9543, so closing this one now as it shouldn't affect CI anymore. Please reopen if the issue occurs again.

[2017-02-22 15:58] #16200 closed

[2017-02-22 16:50] jimcarley commented on #16283
Both of these tests expect the transaction to timeout, but apparently it is not.

Is there any chance to get a dump when this happens? We need to see what is going on with the TransactionTable, which is used to timeout transactions. We have had issues with this previously, but those issues were the reverse - transactions were timing out up to half a second too early. The TransactionTable uses a ti

[2017-02-22 16:57] nguerrera opened #16383 "Make System.Reflection.Metadata writer's table sorting stable again"
Adding tracking issue for https://github.com/dotnet/corefx/pull/15366#discussion_r101688962

Indeed, there should be tests added because this is easy to miss (as I did in the WIP commit that became part of @davidwrighton's PR).

@tmat Will this break Roslyn's determinism as-is?

[2017-02-22 17:09] stephentoub commented on #16283
@jimcarley, I'll share a dump with you.

I took a look at the TransactionTable.  Not sure exactly what I'm looking for, but there don't appear to be any transactions in the table:
[code]

[2017-02-22 17:28] weshaggard commented on #14565
@onovotny I wasn't able to get your solution to build and test. I was however with a couple of tweaks able to build and repo @jnm2's sample solution.

Looking at his solution the issue stems from the fact that the ProjectReference from the DesktopConsoleApp to the NETStandardLibrary project isn't flowing the dependencies correctly so it isn't seeing Microsoft.Win32.Primitives at all. It isn't even

[2017-02-22 17:30] srivatsn commented on #14565
Yes please move to SDK.

[2017-02-22 17:30] jamesqo commented on #16374
@benaadams Technically, it could be random access-- I made a version before ([here](https://github.com/dotnet/corefx/blob/c4d3caff3f101b1097c56af774fd1dd0ccc5f5fe/src/Common/src/System/Collections/Generic/LargeArrayBuilder.cs#L221)) that allowed getting a buffer from the index. You just need to solve the equation

[code]

which gets you either `n = log2(index/blocksize)`, or `n = log2(index) - log

[2017-02-22 17:32] terrajobst commented on #16128
Makes sense. Looks good then.

[2017-02-22 17:36] stephentoub commented on #16128
Closed via #16131

[2017-02-22 17:36] #16128 closed

[2017-02-22 17:40] weshaggard commented on #14565
Moved to https://github.com/dotnet/sdk/issues/901.

[2017-02-22 17:40] #14565 closed

[2017-02-22 18:12] weshaggard commented on #15503
Which circular dependency between corefx and core-setup are you referring to?

[2017-02-22 18:26] weshaggard commented on #15503
I guess you are referring to the dependency on the host which I will have to let @gkhanna79 speak too. Do you only need the host for getting tests runs going or is it needed for other purposes?

[2017-02-22 18:47] tmat commented on #16383
I think it's about correctness, not determinism. In cases when a table is supposed to be sorted by column A and then by column B.

[2017-02-22 19:00] danmosemsft commented on #14576
@CIPop have you seen this since? If not let's close it.

[2017-02-22 19:11] karelz commented on #4805
Ooops, I somehow missed that :(

[2017-02-22 19:12] weshaggard commented on #14492
@chcosta how many of these are still applicable?

[2017-02-22 19:13] weshaggard commented on #14520
@ericstj I believe this is now fixed. Is there any further follow-up work here?

[2017-02-22 19:13] karelz commented on #16305
@JonHanna ok, I see you're working on it, so I will assign it to you.
Thanks for keeping PRs per area/assembly - it is easier to review!

[2017-02-22 19:17] CIPop commented on #14576
I haven't seen this in a while: closing.

[2017-02-22 19:17] #14576 closed

[2017-02-22 19:22] weshaggard commented on #9478
No longer applicable.

[2017-02-22 19:22] #9478 closed

[2017-02-22 19:22] weshaggard commented on #7927
No longer applicable.

[2017-02-22 19:22] #7927 closed

[2017-02-22 19:27] karelz commented on #13309
@yaakov-h given that we cannot reproduce the issue locally, the best thing is for you to debug the issue on your machine down to Mac APIs calls. Will they fail if you call them with the same values from native app?
Another angle: Try if it fails on more than your machine ...

[2017-02-22 19:32] karelz commented on #4278
@steveharter @bartonjs can you please chime in?

[2017-02-22 19:38] matekm commented on #15408
more debug info:

[2017-02-22 19:39] karelz commented on #16340
@tarekgh do you understand why we missed it in the unchecked PRs?

[2017-02-22 19:39] chcosta commented on #14492
I think that all of these have been addressed or are no longer applicable.

[2017-02-22 19:39] #14492 closed

[2017-02-22 19:44] karelz commented on #11100
Closing the issue as fixed. Thanks @davidsh and @CIPop for their work here!
Thanks everyone for their patience. And our apologies for the delay. Next step: post-mortem (as promised) - please give me ~2 weeks to find out all historical details around here ...

@georgiosd can you please file a new issue and provide a repro? (ideally starting with new project)

[2017-02-22 19:45] #11100 closed

[2017-02-22 20:01] tarekgh commented on #16340
@karelz no. we have ran the whole inner and outer loop tests. my guess is we had other known failures in the System.Net which had issue and could be we skipped this test because of that. but in general we didn't get this specific failure in the CI

[2017-02-22 20:09] ericstj commented on #14520
Yep, fixed.

[2017-02-22 20:09] #14520 closed

[2017-02-22 20:11] steveharter commented on #4278
Even with no registry support, CryptoConfig can creates those transforms late-bound by string name or oid. Search for CryptoConfig in the SignedXml code as it is used to create the appropriate class based on the xml content.

This means the CryptoConfig class should be extended to support these transforms, at least for the same types in netfx anyway, and ideally also cross-reference those against

[2017-02-22 20:15] stephentoub commented on #16340
These tests are examining hardware on the machine, and as a result, different code paths could end up getting executed with different data on different people's boxes.

This is just one example of why I expect we'll find a fairly long bug tail with this effort.

[2017-02-22 20:15] AlexGhiondea commented on #14601
@tomkuijsten I am glad to hear it works now! I will close this and if you see this again, feel free to file a new issue!

[2017-02-22 20:15] #14601 closed

[2017-02-22 20:41] tofutim commented on #11100
@karelz thank you!

[2017-02-22 20:41] karelz commented on #16340
Let's keep track of the unexpected regressions we encounter. If we see more examples, we may need to roll back the change.

cc @dennisdietrich

[2017-02-22 20:51] karelz commented on #11100
FYI:
* I updated top most post with list of verified scenarios (just in case it is ever needed in future) and link to the package.
* For future, I plan to look at steps to use just particular package from myget instead of the entire feed, to workaround the problem of getting everything as latest (and also the slowness issues). Let's hope we won't need it that soon.

[2017-02-22 20:55] karelz commented on #12190
@DDoSolitary it means we will strongly consider the issue for 2.0.
@terrajobst @richlander can you please chime in? It's 5 months old issue without any official response :(

[2017-02-22 21:05] weshaggard commented on #14580
The ref's now have configurations.

[2017-02-22 21:05] #14580 closed

[2017-02-22 21:11] weshaggard commented on #14583
Configurations have been cleaned up.

[2017-02-22 21:11] #14583 closed

[2017-02-22 21:14] karelz commented on #14376
@ahsonkhan @jkotas can you please help?

[2017-02-22 21:15] karelz commented on #16256
@tanaka-takayoshi also number of reports/asks is usually helpful.

[2017-02-22 21:17] karelz commented on #15818
@KrzysztofCwalina @jkotas if you agree, please change api-needs-work label to api-ready-for-review

[2017-02-22 21:22] omajid commented on #12190
If it helps, there was some movement on getting cli to be licensed under MIT: https://github.com/dotnet/cli/pull/5112

[2017-02-22 21:22] karelz commented on #15570
@ianhays can you please comment or route it?
@tofutim it would help me if you can summarize the problem into simple description ...

[2017-02-22 21:23] bartonjs commented on #4278
There's a list of "allowed transforms" which is (in .NET Framework) registry-extensible for back-compat.  For .NET Core it's not extensible, but hard coded to include only the no-input transforms.

Since you can't validate a document using transforms not on the allow-list, maybe it doesn't make sense to port them.  But since someone *could* be using the transforms outside of the context of SIgnedX

[2017-02-22 21:33] karelz commented on #12618
Linux does not have standard identity across all distros (kinit is just one of the options AFAIK). It does not even tie user to one identity as on Windows (see #15150).

So I am not really sure what the ask here is. @zhenlan can you please chime in what exactly is blocking?
Does WCF need fully implemented identity on Linux?

[2017-02-22 21:35] karelz commented on #13323
@Priya91 can you please update the title to capture what the issue is now tracking?

[2017-02-22 21:39] ahsonkhan commented on #14376
For a netcoreapp, the System.Memory project contains some Span APIs that type forward to the implementation in mscorlib (Fast Span).
For a netstandard, the Span APIs are implemented within System.Memory/.../Span.cs (Slow Span).

The System.Memory csproj file should help since it is a partial facade: https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System.Memory.csproj#L29

If you

[2017-02-22 21:56] KrzysztofCwalina commented on #15818
Before I mark it as ready for review, could we move all the extension methods to SpanExtensions?

[2017-02-22 22:14] jamesqo commented on #15818
Just noticed this, but @nietras' proposal also includes these methods

[code]

Should it be `IComparer<T>` and not `IComparable<T>`? Is there a case for someone wanting to pass in a `TComparable : IComparable<T>` where TComparable != T?

[2017-02-22 22:14] jkotas commented on #15818
Some of the current extension methods are low-level - need access to other runtime details. We have the low-level ones on non-generic Span right and the pure algorithms on SpanExtensions right now: https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L75

We can get rid of the non-generic Span for the low-level ones if we add forwarding implementations instead.

[2017-02-22 22:22] PureKrome commented on #11100
@karelz quick question: where will we find info about the post-mortem, when that is completed. In this thread _or_ another thread/place?

[2017-02-22 22:31] qizhanMS commented on #16283
I tried to run the tests using "build -Coverage -BuildTests", all System.Transactions tests passed. What command should I use to get repro on my dev machine?

[2017-02-22 22:36] karelz commented on #11100
@PureKrome I will definitely update this thread. I will most likely create a new issue for the discussion though (as I expect some) ;-).
On high level, I plan to cover:
1. How did the issue slip through into release? How to prevent such situation in future?
2. Why did it take 6 months to fix? Why wasn't it treat/communicated as high-impact issue earlier? How to recognize and react to high-impact i

[2017-02-22 22:37] Priya91 commented on #13309
@yaakov-h here's a sample native code with gethostbyname you can use to run on your laptop and what's the output?

[code]

This is the output:

[code]

[2017-02-22 22:39] PureKrome commented on #11100
Thank you @karelz (and MS Team). I'll stay subscribed to this thread then.  👍

Keep fighting the good fight, team! 💯

[2017-02-22 22:42] KrzysztofCwalina commented on #16374
The equation that computes the segment index could do the following:

If index < buffer[0].Length return 0;
else return YouAlgorithm(index - buffer[0].Length)) + 1;

[2017-02-22 22:43] Priya91 commented on #13323
Changed the title.

[2017-02-22 22:46] KrzysztofCwalina commented on #16374
BTW, I think we should rename https://github.com/dotnet/corefxlab/tree/master/src/System.Collections.Generic.MultiValueDictionary to System.Collections.Extended (or something like that) and add this type there. It's kind of specialized and probably appealing to limited number of developers.

[2017-02-22 22:46] stephentoub commented on #16283
I don't believe any of us have repro'd it locally. But it's been happening frequently in the lab. I sent Jim a dump earlier.

[2017-02-22 22:48] nikitozz commented on #14750
Actually, the issue is not related to special characters. It might be related to the way CLR handles `ref` parameters on Lunix\Unix.

Here is a simple code snippet:
[code]

1. I put a breakpoint on line 3, stepped into the `Uri` constructor, and reached the following line: `CreateThis(newUriString, dontEscape, UriKind.Absolute)` (https://github.com/dotnet/corefx/blob/master/src/System.Private.Uri/

[2017-02-22 22:55] anthonylangsworth commented on #4278
@bartonjs beat me to it. `CryptoConfig` contains a list of allowed transforms. I had to modify that class to allow the transforms in the new namespace, `System.Security.Cryptography.Xml`. While some of the allowed transforms use a .Net class's full name, `CryptoConfig` still only permits a fixed list.

I would prefer to not port transforms that have known security issues but backwards compatibilit

[2017-02-22 22:56] AndyAyersMS commented on #16374
`floor(log2(x))` is potentially very fast, given `bsr` and similar instructions. There are various lookup table methods you can use that are pretty fast too.

I'm not sure if you can get the jit to emit a `bsr` though....

[2017-02-22 23:00] #14513 closed

[2017-02-22 23:05] weshaggard commented on #15092
@dleeapho I think it would be best to work with someone on your team to manage the transition of all the dev/eng work we did in corefx into BuildTools. I recommend we do a major version change of BuildTools at that time which will also force us to figure out a servicing plan for BuildTools. @dleeapho how would you like to track this work?

[2017-02-22 23:06] weshaggard commented on #15116
Added a "-tests" option with https://github.com/dotnet/corefx/pull/16207 to enable testing along with building of source.

[2017-02-22 23:06] #15116 closed

[2017-02-22 23:07] weshaggard commented on #15220
@ericstj correct me if I'm wrong but I think you fixed this recently.

[2017-02-22 23:07] weshaggard commented on #15253
No longer an issue.

[2017-02-22 23:07] #15253 closed

[2017-02-22 23:08] bartonjs commented on #4278
CryptoConfig isn't the limiting factor: https://github.com/dotnet/corefx/blob/ac17228d823a07a15fe53069a49fb5e5f35835b7/src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/SignedXml.cs#L763-L787.  (Though, if CryptoConfig is still being used as the factory for resolution then any transform would need to be in both places)

The types providing algorithms not in that list (which

[2017-02-22 23:09] tofutim commented on #11100
I also have to thank @chadwackerman2

[2017-02-22 23:23] #16383 closed

[2017-02-22 23:24] omariom commented on #16374
Does it need to implement collection interfaces? LargeArrayBuffer seems only to have  minimal  API.

[2017-02-22 23:44] ericstj commented on #15220
Yeah, I worked around it by hard-linking.  I still think we should replace the package inclusion with file lists rather than copies.

[2017-02-22 23:55] onovotny commented on #15735
As part of this update, the changes in https://github.com/dotnet/standard/pull/215 should be incorporated as well to alleviate customer pain and reduce the "why is it pulling in so many packages" freak-out people get.

[2017-02-23 00:00] maxim-reutov commented on #6920
I use System.AddIn to load components at runtime, it would be great to have it in the core, any updates on this?

[2017-02-23 00:41] jamesqo commented on #16374
@KrzysztofCwalina

Is it? Seems to me like it could be used as a general purpose replacement for `List<T>` anywhere the indexer is not used, and there is no trade-off in perf (it's a pure win).

@AndyAyersMS

Indeed. I am waiting until https://github.com/dotnet/corefx/issues/12425 lands which implements `CountLeadingZeroes` using a lookup table and then I will open a proposal for implementing `ILi

[2017-02-23 01:00] KrzysztofCwalina commented on #16374
given we already have List<T>, a small number of developers would find it beneficial to have a new collection type in the core. Every new collection in the core complicates the world for many developers and improves the lives of smaller and smaller number of developers.

[2017-02-23 01:00] karelz commented on #6920
@maxim-reutov please upvote the top post. Currently we do not have plans to bring it over.
If there is strong community interest, we can help kick start the port and leverage community contributions to make it compile and add tests.

[2017-02-23 01:01] pgolebiowski commented on #11555
I don't really feel like comparing instances of custom types -- or even strings -- using a method within `System.Math`. I can't say it feels natural. How about adding this functionality in two places? Based on ideas of @benaadams and @JonHanna.

    public static class Compare
    {
        public static T Min<T>(T a, T b) where T : IComparable<T>
        public static T Max<T>(T a, T b) where T :

[2017-02-23 01:09] jamesqo commented on #16374
@KrzysztofCwalina OK, I'm fine with putting the type in a new namespace then. I've updated the proposal at the top.

[2017-02-23 01:22] richlander commented on #12190
We are going to switch most packages to MIT. This should happen in the first half of 2017. We wanted to do it earlier, but have had a lot of competing priorities.

Major point is that we've heard the feedback, get it and are going to change.

[2017-02-23 01:25] hseok-oh commented on #15503
@weshaggard need host only to build test, may not run.  I found we can avoid circular reference between corefx and core-setup using #16139 too. So never mind my comment about core-setup

[2017-02-23 01:28] weshaggard commented on #15503
Can you verify if my instructions in #16384 also allow you to avoid that? As I'm undoing #16139 with that PR as well.

[2017-02-23 01:35] #14940 closed

[2017-02-23 01:40] jyoungyun commented on #15503
@weshaggard If you want to remove my workaround code, I think we need to add some comments about runtime directory. First, if we build CoreFX as your guideline, the managed build will not succeed because we can't find the x64 native part in the packaging process. So I think we need to add `-BuildPackages=false` option to managed build command line. And to run CoreFX unittest, we need a runtime dir

[2017-02-23 01:46] weshaggard commented on #15503
I just fixed that with PR https://github.com/dotnet/corefx/pull/16390 earlier today.

Yes running tests is another set of problems that need to be solved. Not only are you missing the managed files but you need the matching native assemblies from the coreclr repo as well as the native dotnet host in order to run the tests for armel. However if you would like further clarifications in the docs plea

[2017-02-23 02:00] sanagama opened #16396 "Support Dedicated Administrator Connection in SqlClient"
Repro:
1. install SQL Server. I installed SQL Server vNext CTP 1.3 on Ubuntu 16.10 for this repro.
2. enable remote admin connections for your SQL Server per [MSDN documentation](https://msdn.microsoft.com/en-us/library/ms190468.aspx)
3. unzip [dactest.zip](https://github.com/dotnet/corefx/files/795340/dactest.zip) on a computer with .NET Core installed. Again, I used Ubuntu 16.10 for this repro.

[2017-02-23 02:07] jyoungyun commented on #15503
@weshaggard I missed your commit (#16390). Sorry. And I add some comments to #16384. Thanks.

[2017-02-23 04:41] jamesqo opened #16399 "Improve System.Numerics.Matrix* hash codes"
Currently, the fields' hash codes are simply added: https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Matrix4x4.cs#L2209-L2212, https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Matrix3x2.cs#L805-L807. It seems like it would be better to change this to use [`HashHelpers.Combine()`](https://github.com/dotnet/coref

[2017-02-23 04:43] georgiosd commented on #11100
Congrats to all once again for solving one of the most annoying bugs in the history of .NET :)

@karelz happy to do so but I wondered if this is somehow the expected behavior?

[2017-02-23 06:15] dhoehna commented on #15554
@JeremyKuhne

Still does not work.  I get an error on the test that an error happened in the dll file.  Makes me think visual studio is running incorrectly.  Anyway, here is a step-by-step guide on what I've done.

# Installing prerequisites
 1. Installed Visual Studio from [here](https://www.visualstudio.com/downloads/).  This comes with update 3
   * Made sure C++ and the common tools were insta

[2017-02-23 06:16] Legogris commented on #8907
I need this too. Analysis of which strings are and aren't actually used in our project. Because of the way our project is set up, checking references is not an option. We could parse the XML file manually, but this would be a lot smoother.

[2017-02-23 06:19] Jiayili1 commented on #15913
This issue is repro on build 20170223.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170223.01/workItem/System.Numerics.Vectors.Tests/wilogs

Since it is closed today, will verify it on next build.

[2017-02-23 06:55] Jiayili1 commented on #13298
This issue is repro on OuterLoop_Fedora23_release ([build#112](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/112/testReport/)),

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/112/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_ServerCertificates_Test/NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds/

[2017-02-23 07:01] Jiayili1 opened #16400 "Test System.Diagnostics.Tests.ProcessTests.TestProcessStartTime failed with "Xunit.Sdk.EqualException" in 1. OuterLoop_Fedora23_release"
Configuration: OuterLoop_Fedora23_release ([Build#112](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/112/testReport/)), Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/112/testReport/System.Diagnostics.Tests/ProcessTests/TestProcessStartTime/

Message:
[code]

Stack Trace:
[code]

[2017-02-23 07:07] Jiayili1 commented on #13302
This issue is repro on OuterLoop_Ubuntu14.04_debug ([build#113](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug/113/testReport/)), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug/113/testReport/System.Net.WebSockets.Client.Tests/CancelTest/ReceiveAsync_Cancel_Success_server__ws___corefx_net_cloudapp_net_WebSocket_EchoWebSocket

[2017-02-23 07:12] Jiayili1 opened #16401 "Test "System.Net.NetworkInformation.Tests.PingTest.SendAsyncs_ReuseInstance_Hostname" failed with "Xunit.Sdk.EqualException" in OuterLoop_Ubuntu16.04_debug"
Configuration: OuterLoop_Ubuntu16.04_debug ([build#109](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu16.04_debug/109/testReport/)).

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu16.04_debug/109/testReport/

Message:
[code]

Stack trace:
[code]

[2017-02-23 07:19] Jiayili1 commented on #13281
This issue is repro on OuterLoop_Win10_debug ([build#108](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/108/testReport/))

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/108/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds_acceptedProtocol__Tls__requestOnlyThisProto

[2017-02-23 07:55] danmosemsft commented on #16400
145 = another SIGCHLD

[2017-02-23 07:58] danmosemsft commented on #14750
@jkotas the above observation seems odd. Thoughts?

[2017-02-23 08:10] tmds commented on #13323
@Priya91 when do you want to re-enable the tests?

[2017-02-23 09:01] anthonylangsworth commented on #4278
Actually, both `CryptoConfig` and `DefaultSafeTransformMethods` are relevant. `SignatureDescription` creation is done in `CryptoConfig` so, irrespective of the values in `DefaultSafeTransformMethods`, you cannot use a transform if it is not mentioned in `CryptoConfig`. `DefaultSafeTransformMethods` restricts that list so, if a transform is specified in XML but not returned by `DefaultSafeTransform

[2017-02-23 10:55] weitzhandler opened #16402 "Please add portable apps in System.ComponentModel.Annotations package"
Hi,

I'm working on a portable app (Droid, iOS and UWP), and I'm trying to add the package [System.ComponentModel.Annotations](https://www.nuget.org/packages/System.ComponentModel.Annotations).

Apparently, .NET Portable is not supported by that package.

Please add .NET Portable as a target in the System.ComponentModel.Annotations package.

<a href="https://github.com/PrismLibrary/Prism/issues/68

[2017-02-23 11:59] dennisdietrich opened #16403 "System.Memory tests don't run on Linux"
Repo: Run ```../../../Tools/msbuild.sh System.Memory.Tests.csproj /t:RebuildAndTest``` on Linux (e.g. Ubuntu 16.04 LTS)
Expected: System.Memory tests to run
Actual:
[code]

[2017-02-23 12:24] hgupta9 opened #16404 "Cannot find SslStream in System.Net.Security 4.3.0"
I've added the following to my project.json:

And yet I get this error on compile.

 What am I doing wrong?

To reproduce this please download the [FluentFTP repo ](https://github.com/hgupta9/FluentFTP/)and open this xproj to build for .NET core. The error occurs on [this line](https://github.com/hgupta9/FluentFTP/blob/master/FluentFTP/FtpSocketStream.cs#L200).

[2017-02-23 12:40] cwe1ss opened #16405 "DateTime.UtcNow is not good enough for high precision durations in DiagnosticSource.Activity"
/cc @lmolkova @vancem

The new Activity class uses `DateTime.UtcNow` to [calculate the duration of an activity](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs#L293). However depending on the system, [the precision of DateTime might be at ~ 15ms](https://blogs.msdn.microsoft.com/ericlippert/2010/04/08/precision-and-accuracy-of

[2017-02-23 12:44] stephentoub commented on #16405
https://github.com/dotnet/coreclr/issues/5061

[2017-02-23 13:12] cwe1ss commented on #16405
I've just seen that this behavior is already documented in the [ActivityUserGuide](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/ActivityUserGuide.md). However I still think that the precision should be better by default. It's very hard to discover this behavior and writing a more precise DateTime+Stopwatch combination is quite complex/error-prone ([Stopw

[2017-02-23 14:30] jkotas commented on #14750
Sounds like a JIT bug. cc @dotnet/jit-contrib

[2017-02-23 15:16] maxim-reutov commented on #6920
@karelz ok thanks for the update, we use AddIns as one of the core components in our product. Our product aggregates a number of different systems that have the same interface but different implementation, once product is deployed we might release new system or update existing then product can download it from the main server and start using it without any service interruption, AddIn framework all

[2017-02-23 15:18] cunnpole commented on #15570
Having the same problem here for a 4.6.1 asp.net project trying to share a netstandard 1.3 dll with a pcl project. works fine from the pcl end, but i get runtime errors:

`Could not load file or assembly 'System.Security.Cryptography.Algorithms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match t

[2017-02-23 16:03] karelz commented on #6920
.NET Core does not support AppDomains (and never will be). Is System.AddIn still interesting for you without AppDomains support?

[2017-02-23 16:04] fubar-coder opened #16409 "DirectoryInfo doesn't refresh state after Create"
Example:

[code]

The code above fails, because it complains that the file doesn't exist.

[2017-02-23 16:25] dleeapho commented on #15092
@weshaggard Agree. I logged [https://github.com/dotnet/core-eng/issues/502](https://github.com/dotnet/core-eng/issues/502) to track the work on our end.

[2017-02-23 16:27] tofutim commented on #15570
@cunnpole @karelz I suspect the issue is that the netstandard13 dll is asking specifically for 4.0.0.0 (regardless of whatever is installed or declared by nuget/project.json). As a workaround, you need to add the binding redirect to the 4.6.1. project.

[code]

Note, that the "version" is the version you see in Properties when you go to the dependencies in the 4.6.1 project. It is not the nuget ve

[2017-02-23 16:44] karelz commented on #16374
@jamesqo the point from @KrzysztofCwalina was that we do not believe the type is valuable enough to be in CoreFX repo. If you find it valuable, it might be a good idea for a standalone NuGet package outside of CoreFX repo.

[2017-02-23 16:49] karelz commented on #4278
@anthonylangsworth this discussion is part of the decision making. Area experts with the most background will make the decision here.

My recommendation: If it is questionable what is the right action, I would suggest to keep status quo - leave the code as is during the port exercise (potentially even without any test coverage) and decide later, separately from the port exercise.

[2017-02-23 16:50] karelz commented on #16379
@Priya91 can you please confirm and close it as dupe?

[2017-02-23 16:54] karelz commented on #16405
Closing as dupe of https://github.com/dotnet/coreclr/issues/5061

[2017-02-23 16:54] #16405 closed

[2017-02-23 16:58] karelz commented on #16404
@hgupta9 the API will be part of .NET Core 2.0. System.Net.Security 4.3.0 was part of .NET Core 1.1.

Check out history: https://github.com/dotnet/corefx/blob/5ccb1e47a8fe954c67026a577af99cb51166e68b/src/System.Net.Security/src/System/Net/Security/SslStream.cs#L36

[2017-02-23 16:58] #16404 closed

[2017-02-23 17:01] #15503 closed

[2017-02-23 17:30] joperezr commented on #16358
There are two things going on here. One is that the test project [only has a netcoreapp configuration](https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/Configurations.props#L5), so we don't have a netstandard one. The second problem, is that even if it did have a netstandard configuration, we haven't finished configuring the tests to run as netstandard or against netstandard ye

[2017-02-23 17:33] weshaggard commented on #16403
We recently did some work to enable the building of System.Memory on non-windows (see https://github.com/dotnet/corefx/pull/16244) but looks like we missed re-configuring the tests. Can you try  removing the `-Windows_NT` from https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/Configurations.props#L5 and see if that gets you further?

[2017-02-23 17:38] karelz commented on #11100
@georgiosd I don't know - it will be easier to discuss it in separate issue ;-) (incl. pulling in the right experts)

[2017-02-23 17:54] cwe1ss commented on #16405
I don't think that's a duplicate. If there won't be a change to UtcNow this problem will still exist.

[2017-02-23 17:54] karelz commented on #14529
OK, we seem to have quite a few folks interested in this.
@akoeplinger would it be feasible to use Mono implementation and tests for the port? Or do you think we should take Desktop sources? cc @marek-safar

@NickCraver @akoeplinger can you please file a new bug to track missing code on ReferenceSource?
@richlander any reason why internal classes are missing in https://github.com/Microsoft/referen

[2017-02-23 17:58] karelz commented on #16405
That's exactly what https://github.com/dotnet/coreclr/pull/9736 does.

[2017-02-23 18:02] cwe1ss commented on #16405
great, thank you!

[2017-02-23 18:31] maxim-reutov commented on #6920
I used app domains in order to be able unload and reload updated AddIn. Updating of loaded AddIns was the the only reason I needed App Domains. Unloading/updating existing AddIns is important but not critical, more important is the ability to load new AddIns.

Currently AddIn can be activated in:
1. Current process/specified app domain
2. Current process/new app domain
3. New process/new app domai

[2017-02-23 18:35] karelz commented on #6920
@maxim-reutov unloading assemblies from process is hard - there is community effort to do it in #14724, but obviously no ETA/guarantee.
Current process or new process are the only activation options on .NET Core.

[2017-02-23 18:41] dennisdietrich commented on #16403
@weshaggard Thanks. Yes, that gets me further. However, about half of the tests fail. Example:
[code]

[2017-02-23 18:49] mellinoe commented on #16403
Yeah, that part is expected, and it's actually why we disabled the build for now. Some parts of the code rely on `Unsafe`, and that library is disabled outside of Windows because of an issue with ilasm. The ilasm issue has already been fixed, actually, so it's just a matter of time before we can turn all of it back on and remove all the hacks.

[2017-02-23 18:52] JeremyKuhne commented on #15554
Did you set the test project as the startup project?

[2017-02-23 18:54] maxim-reutov commented on #6920
@karelz yup, AddIns used AppDomains for that. New process would definitely work as well. Unloading AddIns from the current process could be combined with that task, that's mostly what AddIns are about - loading/unloading and isolating a set of assemblies. As a first step we can implement AddIns hosted in the same process (without unloading) and then hosted in another process with unloading, and th

[2017-02-23 19:07] tannergooding opened #16415 "A StringComparision for Alpha-Numeric sort should be added."
All the sorting methods we have today are not sensitive to consecutive numeric values. As a result, you tend to get values that are sorted similarly to the following:
* Name1
* Name10
* Name2
* Name3
* Name4
* Name5
* Name6
* Name7
* Name8
* Name9

I propose a new StringComparison pair be added `AlphaNumeric` and `AlphaNumericIgnoreCase`. This would properly weigh consecutive numeric values to pro

[2017-02-23 19:20] karelz commented on #8414
Next step:
1. Verify Desktop behavior
2. Fix MSDN or CoreFX to match the behavior (might have compat question 1.1->2.0)

[2017-02-23 19:23] karelz commented on #11674
Looks like dupe of #8819.

[2017-02-23 19:23] #11674 closed

[2017-02-23 19:24] karelz commented on #8819
Check out more details in closed dupe #11674.

[2017-02-23 19:26] karelz commented on #8819
Next step:
* Run again the repro to see if there is anything left (it was at least partially mitigated by other changes

[2017-02-23 19:27] karelz commented on #8947
Next step:
* Add test (specific to Windows OS version - probably RS2)

[2017-02-23 19:30] karelz commented on #9045
@tarekgh is driving global CoreFX tests running on NetFX.

[2017-02-23 19:30] #9045 closed

[2017-02-23 19:33] karelz commented on #9228
This is tricky poitned fix - @davidsh has background.
Contributes to scenario in #8819.

[2017-02-23 19:35] TylerBrinkley commented on #395
## Rationale

For sorting purposes it's common to need portions of strings containing numbers to be treated like numbers. Consider the list of strings `"Windows 7", "Windows 10"`.

Using just StringComparer.Ordinal one would get

[code]

but the desired ascending logical sort would be

[code]

## Proposed API
[code]

## Usage

All of the below are equivalent and thus show the default parameter val

[2017-02-23 19:35] dennisdietrich commented on #16289
@danmosemsft Any update on the resource issue?

[2017-02-23 19:36] dennisdietrich commented on #16358
@joperezr Thanks, that did the trick!

[2017-02-23 19:40] karelz commented on #9672
@mconnew which WCF/other scenarios are blocked by this issue?

[2017-02-23 19:41] tarekgh commented on #395
we are limited to what the underlying OS can give us as functionality support, this need to be investigated if both Windows and Linux can provide this functionality before we proceed here.

[2017-02-23 19:41] nietras commented on #15818
Done.

Yes, I give an example of this in the proposal, see `UsageForCompound`. I have had many use cases like this, and that otherwise involves having to make a ctor on a type, that is only used for sorting, which makes it possible to make a type with incorrect state.

Sorting compounded types on a property of this, and searching for it by this property alone is a much needed addition. And there i

[2017-02-23 19:46] TylerBrinkley commented on #395
I don't think this should necessarily follow the Windows functionality but be entirely implemented in .NET.

[2017-02-23 19:47] stephentoub commented on #16415
Dup of https://github.com/dotnet/corefx/issues/395?

[2017-02-23 19:48] karelz commented on #9698
It may lead to new API proposal.

Next steps:
* Fully understand the ask above (it needs deeper reading),
* Understand OS capabilities

[2017-02-23 19:53] karelz commented on #9706
@geoffkizer can you please investigate and triage?

[2017-02-23 19:55] karelz commented on #9768
Windows doesn't support it (we would need managed implementation or use curl).
Curl supports it - we may support it there.

[2017-02-23 19:58] karelz commented on #9848
Dupe of #9698 (potential solution of it)

[2017-02-23 19:58] #9848 closed

[2017-02-23 19:59] geoffkizer commented on #9706
@GSPP can you point to the specific code you're referring to?

I'm looking at this:https://github.com/dotnet/corefx/blob/684af05e70b345eecd503e23d0d6d4efd67f9130/src/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs#L215
and there's clearly a using() around the FileStream.

Similarly for Unix: https://github.com/dotnet/corefx/blob/684af05e70b345eecd503e23d0d6d4efd67f9130/src/System.Net.S

[2017-02-23 20:00] ianhays commented on #15570
@weshaggard @ericstj @mellinoe I'm not too familiar with how the dll imports are determined and what role the manifest plays in the above issues, but having them fixed at 4.0.0.0 seems to be causing issues for several people looking to use them as netstandard libraries. Could be related to #9846 but not quite the same since crypto algorithms isn't an OOB like net.http.

[2017-02-23 20:01] #14047 closed

[2017-02-23 20:01] karelz commented on #10040
Next step:
* Check the call stack to see if there is something obvious. If not, close it as not repro + low hit count.

[2017-02-23 20:01] tannergooding commented on #16415
Yup. I just didn't search the right terms.

[2017-02-23 20:01] #16415 closed

[2017-02-23 20:02] stephentoub commented on #9706
I believe this was about desktop code:
https://referencesource.microsoft.com/#System/net/System/Net/Sockets/Socket.cs,1435

[2017-02-23 20:13] ianhays commented on #5964
@stephentoub @JeremyKuhne opinions? I'm starting to think PlatformNotSupported for Lock/Unlock on OSX may be the way to go so we don't have to break our FileShare behavior.

[2017-02-23 20:19] karelz commented on #6920
@maxim-reutov what's inter-process communication that AddIn uses?
Wouldn't it be easier to use MEF (System.Composition) as mentioned above?

[2017-02-23 20:21] tarekgh commented on #395
This is not easy to do especially we don't carry the needed collation tables needed to do this.

if it is just ASCII characters that is possible. if you have more complicated scenario that will be challenging except if you go and parse the string split them. this will not be nice performance wise.

in short, Linguistic comparisons will be challenging.

[2017-02-23 20:25] TylerBrinkley commented on #395
You're probably right about the performance. I'm currently using an implementation that splits the string which works for me but I understand it may not be quick enough for the framework due to the string allocations.

[2017-02-23 20:25] karelz commented on #9706
Desktop bugs are not tracked on GitHub - we should close the issue if it is that case.

[2017-02-23 20:28] stephentoub commented on #5964
I don't think there's value in doing something here that only helps within the same process; the primary reason you use file locking is cross-process.

If there's no other solution we can think of for macOS, seems like we really only have two options:
- Make Lock/Unlock nops on macOS
- Make Lock/Unlock throw PNSE on macOS
and I don't think nop is really valid option here (it'd be like saying `lock

[2017-02-23 20:32] tarekgh commented on #395
it is not regarding the string allocations. we can pin the strings and avoid the allocations. it is about parsing the string and then compare each part and then handle the digits comparisons. note that, such functionality has to support all digits for all languages too and not just 0~9.

[2017-02-23 20:45] danmosemsft commented on #15395
@mellinoe this failed again, broke the Win10 debug run. What's the next step here?

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/lastCompletedBuild/testReport/System.Numerics.Tests/divremTest/RunDivRemTests/

[code]

[2017-02-23 20:46] danmosemsft commented on #16400
Broke Fedora run.

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/lastCompletedBuild/testReport/System.Diagnostics.Tests/ProcessTests/TestProcessStartTime/

[2017-02-23 20:49] #15464 closed

[2017-02-23 20:49] #15467 closed

[2017-02-23 20:53] TylerBrinkley opened #16417 "Proposal: Add Named Arguments String.Format Overloads"
String interpolation has proven to be an extremely useful feature in `C#6` but sometimes I find myself needing the string format to be configurable and as such am not able to use string interpolation as it requires the format to be evaluated at compile time. I propose the addition of `String.Format` overloads that will allow users to use named arguments instead of argument indexes similar in appea

[2017-02-23 21:04] TylerBrinkley commented on #395
Ugh, supporting digits for all languages would be a pain as you'd have to go by the `NativeDigits` property on `NumberFormatInfo`. I suppose a fast path could be added for 0-9 and a slow path for other languages.

[2017-02-23 21:10] jnm2 commented on #395
For some scenarios I'd prefer an OS-dependent logical sort, for others an invariant logical sort.
I'd really love something like this:

[code]

[2017-02-23 21:17] mjsabby commented on #14529
Let's stick to desktop, I did a cursory glance a while back and it was just a copy paste dump that we'd need to do.

[2017-02-23 21:22] tarekgh commented on #395
We don't have to use NumberFormatInfo.NativeDigits because this will make it work with only specific culture while digits in all languages should just work regardless of the chosen culture because digits doesn't have linguistic context (in most cases).

char.IsDigit is not helpful either because you need to know the value of the digit and not just check if it is digit to be able to support the nee

[2017-02-23 21:38] TylerBrinkley commented on #395
I understand and thank you for going through the complexities with me. In my implementation I `TryParse` the substring number passing in the `NumberFormatInfo`, why would that not work? Performance?

[2017-02-23 21:41] chcosta commented on #14594
@ericstj and I discussed this a bit, trying to come up with a solution for providing symbols to the Core.App package that isn't "hacky", w.r.t. source builds.

Some of the "hacky" solutions we discussed were:
- HTTP GET symbols packages directly from a URL
- grab symbols directly from each repo's build for ingestion into the Core.App package
- use a separate feed source (as @dagood mentions above)

[2017-02-23 21:46] tarekgh commented on #395
- Int32.TryParse with NumberFormatInfo will not parse native digits.
- also if this work, this means if you have en-US NumberFormatInfo you'll not be able to compare strings containing say Urdu digits. and that is what I think we should have all native numbers work regardless of the cultures because numbers are well identified in the Unicode.

[2017-02-23 21:48] ericstj commented on #14594
Because the symbol packages are the counterparts for a publicly product package.  Private packages are different, these aren't publicly shipping product packages and don't need to be split.  They are transport-only packages so we can lay them out in a way that makes transport convenient.

[2017-02-23 21:50] Priya91 commented on #13323
Once we've updated the machines. @MattGal is tracking it, Matt, can you please provide the link to corresponding tracking workitem.

[2017-02-23 21:54] karelz commented on #14529
@mjsabby did you look at tests?
Do you plan to help with the port?

[2017-02-23 22:03] Priya91 commented on #16379
Yes, comparing the stack trace, the issue reported by @yaakov-h in the later part of the issue thread is the same as this one. @Jamesxql this is fixed for 2.0, you can get the latest fixed lib from dotnet-core myget feed [here](https://dotnet.myget.org/gallery/dotnet-core). Also note with 2.0, we don't have individual packages or project.json. So you'll be referencing a single Microsoft.NetCore.Ap

[2017-02-23 22:03] #16379 closed

[2017-02-23 22:05] Priya91 commented on #13298
The fedora23 issue is fixed.

[2017-02-23 22:08] noahfalk commented on #14594
I'm not sure I understand enough of the background to be helpful yet. Is their a brief description somewhere of what the CoreFx.NetCoreApp.Private package is and what problem creating a symbols package for it is attempting to address?

I'm not aware that there is any decently supported mechanism for nuget to restore a symbols package right now. Were you thinking that we would be losing out on some

[2017-02-23 22:09] Clockwork-Muse commented on #15395
@danmosemsft - Are we assuming it's just a problem in the tests, and cleanup/updating it for a more "correct" approach would solve the problem?  I have some prelim work I did a while back, but haven't had a chance to work on it recently.  Or is it that we probably have an issue in the actual class?

[2017-02-23 22:14] danmosemsft commented on #15395
I don't know. Worst case it's a code gen issue. @mellinoe can say something more useful.

[2017-02-23 22:23] mellinoe commented on #16298
The tests are targeting the ".NET Core version" of System.Memory, which is correct based on how things are set up right now. We aren't currently running any of our tests against the ".NET Standard version" of things, except where that's the only version around (if that made sense). In order to work around that in the time being and run the System.Memory tests against the "slow span" version built

[2017-02-23 22:23] MattGal commented on #13323
I should have this down by end-of-week.  Tracking item is https://github.com/dotnet/core-eng/issues/478.

[2017-02-23 22:24] chcosta commented on #14594
@noahfalk, hmm...  This issue diverged slightly from where it originally started.

CoreFx.NETCoreApp.Private refers to the Microsoft.Private.CoreFx.NETCoreApp package which is the private package CoreFx uses as a transport mechanism.

Core.App refers to the Microsoft.NETCore.App which comes out of core-setup and contains repackaged pieces of Microsoft.Private.CoreFx.NETCoreApp and CoreClr.

So the

[2017-02-23 22:37] noahfalk commented on #14594
Thanks Chris!

Assuming we already had a Microsoft.NETCore.App symbols package, who is the intended user of it? (Developers that need to debug? Build processes that will consume the package for some purpose? Something else?)

[2017-02-23 22:40] danmosemsft commented on #984
I agree with @willdean that I think compatible with existing API is a must have -- otherwise it makes sense to be a seperate package.

[2017-02-23 22:41] danmosemsft commented on #984
Oops, the buttons are too close together...

[2017-02-23 22:42] mellinoe commented on #15395
I don't have anything incredibly useful yet, as I haven't investigated very deeply. The investigation I did above mirrored what @axelheer had found: the inputs/outputs from the test logging don't line up with what I saw when I ran the code manually in a console application, and I wasn't able to otherwise reproduce the problem. I'm also fearing that it is a codegen problem.

[2017-02-23 22:44] dhoehna commented on #15554
Yes.

[2017-02-23 22:48] ellismg commented on #14594
From a .NET Core customer's point of view Microsoft.NETCore.App *is* the run-time and framework.  If they want any sort of debugging information for either the runtime or anything in the shared framework, they'd want to consume this symbols package.  There isn't an obvious way to tie components in the Microsoft.NETCore.App package back to whatever NuGet package they may have come from (and in the

[2017-02-23 22:51] JeremyKuhne commented on #15554
I assume that everything outside of VS worked fine.  And I'll also assume that you're running Community? What is the text of the error that you're getting?

The only thing that sticks out to me is that you're running Windows 7. Not that we don't support it, it just isn't something I think anyone is developing on here. I'll see about setting up a clean 7 VM to see if I can replicate your situation.

[2017-02-23 23:03] stephentoub opened #16419 "Null ref exception in Abort_CloseAndAbort_Success test on Windows in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/112/consoleText
[code]

[2017-02-23 23:05] weshaggard commented on #14869
@jaredpar before I put this package on nuget.org I would like for you guys to smoke test it to ensure it meets your needs.

[2017-02-23 23:16] cunnpole commented on #15570
The bindingredirect workaround solves the problem. @tofutim Thanks for the note about the versions, I did get in a bit of a muddle using the wrong numbers. An exact copy and paste of above worked perfectly.

[2017-02-23 23:20] noahfalk commented on #14594
Thanks that helps. Do you know if there are scenarios today where customers are downloading symbols packages and consuming them as packages? To the best of my knowledge nuget.org won't host such a package and nuget restore won't download it.

If the individual CoreFX packages are no longer customer facing and now only intended to be transient packages that are published and then immediately re-con

[2017-02-23 23:23] joperezr opened #16421 "System.Data.SqlClient.Tests.DiagnosticTest.ConnectionOpenTest fails on some CI runs"
example: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/3795/

[code]

[2017-02-23 23:40] chcosta commented on #14594
I think that sounds reasonable.  Then the question turns to how to handle this for CoreClr.  I presume there is a desire to continue shipping stand-alone packages for CoreClr, so do we want to additionally create the transport packages for consumption, or is there another alternative which doesn't require us to produce a new set of packages?

[2017-02-23 23:43] weshaggard opened #16422 "System.IO.FileSystem isn't building correctly for uap"
The uap configuration is using the Win32 code paths because EnsureWinRT isn't set to true. We either need to make the WinRT code path build again or remove it if we are going to move it to Win32.

cc @JeremyKuhne @joperezr

[2017-02-23 23:49] Priya91 commented on #16401
@steveharter @ianhays Is this tracked in the list of NetworkInformation failures?

[2017-02-23 23:52] Priya91 commented on #11624
failed here again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/lastCompletedBuild/testReport

cc @ianhays

[2017-02-23 23:53] stephentoub commented on #16421
This has been happening a few times a day, seemingly only on Windows (or at least that's the only place I've seen it).  I've been unable to repro locally so far.  Most likely this isn't actually a problem with RemoteInvoke: more likely is that the SqlClient work happening in that remote process is hung in a call like SqlConnection.Open(), but at the moment it's difficult to tell without being able

[2017-02-23 23:53] weshaggard commented on #14584
@joperezr do you still have your little tool that cleaned up the test projects? If so would you mind running it across all the projects?

[2017-02-23 23:58] karelz commented on #984
@willdean

Once you have the tests PS is merged, we can mark it as finished. Or is there any other obstacle?

I would make it as part of step '4' - first phase. Would that work?

[2017-02-24 00:01] weshaggard commented on #15148
@sepidehMS Do you know what the deal is with corefx/src/System.Private.Xml/tests/Xslt/XsltScenarios/XsltScenarios.Tests.csproj.disabled? Should that test project be deleted or fixed?

[2017-02-24 00:03] NickCraver commented on #8768
For anyone following this, PR with huge improvements is active here: https://github.com/dotnet/corefx/issues/16373

[2017-02-24 00:12] joperezr commented on #14584
I think I still have it and if not it's pretty easy to write, so sure, I'll take care of this.

[2017-02-24 00:13] joperezr commented on #16421
I see, sounds good, well we can use this issue to get the hit count, and if it is to high then we can decide to turn fix/turn off the test. So far, it's happened twice for me.

[2017-02-24 00:16] willdean commented on #984
@karelz I guess 'PS' was really 'PR'?  If so then yes, I think we can say we have the tests done.

I'm not fussed about the numbering of the various stages, but I do think the refactoring for x-plat build is worth calling-out as a specific activity.

At some point we need to work out what's to be done about official testing - I can run the full suite here, using a motherboard serial port and an ad

[2017-02-24 00:33] sepidehMS commented on #15148
@weshaggard This test project used to embed a pre-generated dll when it was on Desktop. For that reason, we never actually ported these tests to Core. If we want to fix it, we would have to basically re-write the tests to not use a dll. So, we can delete this and have the work done as part of https://github.com/dotnet/corefx/issues/16336.

[2017-02-24 00:36] weshaggard commented on #15148
@sepidehMS Thanks. I will delete this project which doesn't have any files that work as part of my clean-up of the .disabled files. Feel free to add it or another project back when you work on the xml tests.

[2017-02-24 00:36] karelz commented on #984
@willdean you're right on PS=PR, fixed.

I'll call out x-plat build refactoring. I don't mind.

Regarding testing - what kind of categories do you have?
1. Those that pass in CI today (i.e. no changes to CI infra/images are necessary).
2. Those that need CI machines changes to pass (e.g. special driver/emulator).
3. Those which will pass only with special HW present

I am worried about this catego

[2017-02-24 00:41] JeremyKuhne commented on #16422
I'm bringing FileStream up in CoreLib- when that is done I'll make sure the other bits are working here.

[2017-02-24 00:43] #15739 closed

[2017-02-24 00:46] noahfalk commented on #14594
Ah good point, I think I hadn't quite registered that M.N.App would redistribute the contents of the runtime packages too, so we aren't yet in the case where all the constituent packages are transient, only some of them. I imagine we'd want to have a consistent solution across all the packages, even if a simpler option would have worked for the CoreFX subset.

In that case @dagood's suggestion of

[2017-02-24 00:47] willdean commented on #984
There are, for example, tests which verify that timeouts are operating correctly.  This is done by measuring the time it takes for a timeout to happen.  Similar things are done to verify baud rate and word lengths.

Most of the behaviour being measured is actually that of win32/serial.sys, and you could argue that the whole approach is wrong.   An alternative would be to have tests which p/invoked

[2017-02-24 00:50] joperezr commented on #15148
I did re-enable a bunch of these when I added the uap and uapaot verticals back, just as an FYI.

[2017-02-24 00:54] danmosemsft commented on #5593
We don't have plans to support it right now. As you know it requires out of proc compilation, at least as currently implemented and we don't have that. When we looked at it, it wasn't super commonly encountered. We can use this issue to gauge importance of it. Thumbs up or whatever.

[2017-02-24 01:02] karelz commented on #984
How much code needs to be double-implemented? Calling PInvoke does not seem to be that difficult ...

[2017-02-24 01:04] geoffkizer commented on #9706
Sorry, missed that above.  Yes, this appears to be a desktop-only issue.

[2017-02-24 01:09] weshaggard commented on #15148
I just deleted the xsltScenarios.Tests.csproj.disabled and I removed the mscorlib.WinRt.Facade project earlier. So there are no more .disabled projects so closing this issue.

[2017-02-24 01:09] #15148 closed

[2017-02-24 01:15] karelz commented on #9706
Closing per info above.

[2017-02-24 01:15] #9706 closed

[2017-02-24 01:16] nikitozz commented on #14750
Actually, might be debugger related. I observe this behavior only when I'm debugging using VS Code. Not reproducible when `lldb` is used.

[2017-02-24 01:17] #15288 closed

[2017-02-24 01:19] MattGal opened #16427 "Dependency Projects don't take architecture into account"
This isn't causing trouble right now, but was something I noticed in the course of other investigations.  On a machine building multiple different verticals without cleaning, this could cause clashes / mismatches.

If you review a build log where this happens, you see stuff like:
`
E:\A\_work\89\s\corefx\packages\runtime.win7-x86.Microsoft.NETCore.Runtime.CoreCLR\2.0.0-beta-25021-03\runtimes\win7-

[2017-02-24 01:24] weshaggard commented on #16422
Just remove the explicit setting of EnableWinRT=false in the project https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System.IO.FileSystem.csproj#L13 and fix up the uap build.

[2017-02-24 01:41] mms- commented on #6920
MEF does not deal with IPC, it's for dependency injection.. please read http://stackoverflow.com/questions/835182/choosing-between-mef-and-maf-system-addin for the specifics.

AppDomain is not required, process isolation is often required anyway, such as when running buggy third party code which would otherwise bring down your entire app.

As UWP apps get bigger the same problems that MAF solves w

[2017-02-24 02:56] tannergooding opened #16428 "Add support for Acosh, Asin, Atanh, and Cbrt to System.Math and System.MathF"
### Rationale

The .NET framework does not currently provide support for several of the mathematical functions that are available to the C/C++ Standard Library.

Support should be provided for these mathematical functions in order to better interop with high-performance, scientific, and multimedia-based applications where these functions may be in demand.

Several of these functions, such as `ExpM

[2017-02-24 04:28] danmosemsft commented on #16428
/cc @dcwuser

[2017-02-24 04:30] danmosemsft opened #16430 "Failure in System.Data.SqlClient.Tests.DiagnosticTest.ExecuteNonQueryErrorTest"
[code]

[2017-02-24 04:31] tannergooding commented on #16428
I'm also happy to implement this end to end, as I did with the single-precision math functions.

[2017-02-24 05:23] gulbanana commented on #11100
Thanks for driving this work, @karelz

[2017-02-24 06:17] yaakov-h commented on #13309
[code]

I did some experimenting and comparing against another laptop, and I can now reproduce the case 100%.

Seemingly, macOS cannot resolve it's own hostname (including `.local`) if File Sharing - or potentially all sharing - is off. As soon as I turn it on, the name starts resolving, as soon as I turn it off (and clear the DNS cache) the lookup fails again.

[2017-02-24 06:31] Jiayili1 commented on #14417
Added "disabled-test" label

[2017-02-24 06:40] Jiayili1 commented on #12535
Disabled test, reopen it.

[2017-02-24 06:42] Jiayili1 commented on #10345
Disabled test, reopen it.

[2017-02-24 06:43] Jiayili1 commented on #14068
Disabled test, reopen it.

[2017-02-24 06:43] Jiayili1 commented on #12637
Disabled test, reopen it.

[2017-02-24 06:46] hgupta9 commented on #16404
So how long do I have to wait for .NET Core 2.0 to be released?

[2017-02-24 06:47] Jiayili1 commented on #4887
Disabled test, reopen it.

[2017-02-24 06:48] Jiayili1 commented on #10702
Disabled test, reopen it.

[2017-02-24 06:53] Jiayili1 commented on #1050
Disabled test, reopen it.

[2017-02-24 06:53] Jiayili1 commented on #12565
Disabled test, reopen it.

[2017-02-24 07:01] Jiayili1 commented on #3892
Disabled test, reopen it.

[2017-02-24 07:14] hgupta9 opened #16432 "Cannot find System.Net.Dns in System.Net.NameResolution"
I've added the following to my project.json:

And yet I get this error on compile.

 What am I doing wrong?

To reproduce this please download the [FluentFTP repo ](https://github.com/hgupta9/FluentFTP/)and open the [FluentFTP_Core.sln ](https://github.com/hgupta9/FluentFTP/blob/master/FluentFTP/FluentFTP_Core.sln) to build for .NET core. The error occurs on [this line](https://github.com/hgupta9/

[2017-02-24 07:21] hgupta9 commented on #16404
As per the [roadmap](https://github.com/dotnet/core/blob/master/roadmap.md) SslStream will only be available in beta by Q2 2017 and finally by Q3 2017.

[2017-02-24 07:44] dotnet-mc-bot opened #16433 "Test failure: ManagedTests.DynamicCSharp.Conformance.dynamic.dynamicType.basic.lambda017.lambda017.Test/DynamicCSharpRunTest"
Opened on behalf of @Jiayili1

The test `ManagedTests.DynamicCSharp.Conformance.dynamic.dynamicType.basic.lambda017.lambda017.Test/DynamicCSharpRunTest` has failed.

System.Diagnostics.Debug+DebugAssertException :

       at System.Environment.get_StackTrace()
       at System.Diagnostics.Debug.Assert(Boolean condition, String message, String detailMessage)
       at System.Diagnostics.Debug.Asser

[2017-02-24 07:51] jcurl commented on #984
My 2c in testing my SerialPortStream is on my Github page for the project. Different drivers give different results and has resulted in a lot of manual testing. The most automated solution that provides consistent results is using the open source com-0-com driver. If you use a windows machine with VMware, you can map VMware to com ports on windows managed by Com-0-com.

Otherwise I've seen all sor

[2017-02-24 07:53] Jiayili1 commented on #15913
This issue is repro on build 20170224.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170224.01/workItem/System.Numerics.Vectors.Tests/wilogs

No test result generated.

Message:
[code]

[2017-02-24 08:03] Jiayili1 commented on #13300
This issue is repro on OuterLoop_Fedora23_debug ([build#110](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug/110/testReport/)), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug/110/testReport/System.Net.Tests/TaskWebClientTest/UploadFile_Success_echoServer__https___corefx_net_cloudapp_net_Echo_ashx_/

Message:
[code]

Stack Trace:
[c

[2017-02-24 08:05] Jiayili1 commented on #13300
Also failed here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/114/testReport/System.Net.Tests/TaskWebClientTest/UploadFile_Success_echoServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-02-24 08:09] Jiayili1 commented on #16430
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/103/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteNonQueryErrorTest/

[2017-02-24 08:10] dhoehna commented on #15554
Hey @JeremyKuhne

I think there is a problem with my VS.  I want to show you my observations, than explain why I think something is wrong with VS.

## Observations
 - I'm getting multiple errors
 - All errors are happening inside the System.Configuration.ConfigurationManager dll, but the error isn't handled in the calling code
 - The errors repeat themselves.

## Reasons why VS might not be workin

[2017-02-24 08:12] willdean commented on #984
@karelz I guess calling p/invoke is no harder or easier than any other kind of typing which computer programmers do...

Here's the problem:

Let's say you want to test that the `BaudRate` property is working correctly - you could
1. Write to `BaudRate` and then read it back - line coverage but no evidence anything has worked properly.
OR
2. Write to `BaudRate` and then verify that data passes thro

[2017-02-24 10:34] jcurl commented on #984
One idea I would do is to put the checks in the driver layer. Say com-0-com would not pipe if the baudrates mismatch, or the data settings didn't match. Then you'll have almost a complete software solution and x-platform testing, on Linux running under a VM with windows and the driver on the host.

[2017-02-24 13:22] JonHanna commented on #16041
On a related note, do you know if there is anything remaining to port into Microsoft.CSharp? (and by extension, that any dead code truly is dead rather than code a later port of further functionality brings in might use)

[2017-02-24 13:45] marek-safar commented on #14529
@karelz our code is referencesource based modulo missing bits. We have been promised publishing of missing internal types on several occasions during past year(s) but still no action.

[2017-02-24 15:23] saarixx opened #16439 "Memory leak in System.Data.Common.DbCommand"
DbCommand has memory leaks in ExecuteNonQueryAsync and ExecuteDbDataReaderAsync methods. They dispose CancellationTokenRegistration in "catch" instead of "finally" block:

[code]

but must be:

[code]

[2017-02-24 16:38] karelz commented on #14529
@marek-safar that's a good data point - who did you talk with in the past? I'll be happy to push on it.

[2017-02-24 16:46] karelz commented on #16432
Did you look at the assembly System.Net.NameResolution in ildams/ilspy?
Do you get the same error with HelloWorld app using System.Net.NameResolution?

[2017-02-24 16:49] karelz commented on #16439
Did you consider submitting PR with the change?

Code reference: https://github.com/dotnet/corefx/blob/c5c75db7c00047d603522fd6e21f350099e09bbb/src/System.Data.Common/src/System/Data/Common/DbCommand.cs#L138-L142

[2017-02-24 16:55] karelz opened #16441 "Publish missing source code to ReferenceSource"
ReferenceSource: https://github.com/Microsoft/referencesource/tree/master/ has missing source code (mostly internal types). We should publish them.
* #14529 - [System.Runtime.Caching](https://github.com/Microsoft/referencesource/tree/master/System.Runtime.Caching/System/Caching) (UsageEntryRef, CacheUsage, ExpiresEntryRef, CacheExpires)

[2017-02-24 16:55] karelz commented on #14529
I have created issue to track missing ReferenceSource - #16441
Let's focus on the port in this issue ...

[2017-02-24 16:56] willdean commented on #984
@jcurl That's a really interesting idea, although I'm not personally volunteering - my experience of writing a USB->Serial Windows device driver years ago left me vowing never to repeat the process!  I guess within the Windows group at MS there must be people who are happy to write device drivers as complex as serial.sys without tears and nervous breakdowns, but outside MS I don't think there are

[2017-02-24 17:00] karelz commented on #16441
@richlander can you point me to the process?

@marek-safar @akoeplinger do you have list of other missing pieces from ReferenceSource?

cc @danmosemsft

[2017-02-24 17:02] AtsushiKan commented on #15913
This issue linking is getting too clever for itself - it'll trigger any time a forked branch resyncs with the upstream master...

[2017-02-24 17:19] maxim-reutov commented on #6920
@karels - I don't think MEF can support what MAF does, main advantage of MAF that it can load and unload AddIns at runtime, so if my client is using my product and I publish updated AddIn at my server then client can unload existing version of AddIn and reload updated version all at runtime without any service interruption, so I can extend product easily without affecting clients code. You can try

[2017-02-24 17:24] TylerBrinkley commented on #16417
When a named argument is not found a FormatException should be thrown but using the `Func<string, object>` parameter doesn't provide a way of returning whether the named argument was found or not. A TryGetValue delegate could be added with an out value parameter and the function returning whether the named argument was found. Alternatively the `Func` could return a success value object or simply a

[2017-02-24 17:25] tarekgh commented on #16441
@karelz should we move this issue to referencesource tree? why we are opening it here?

[2017-02-24 17:38] danmosemsft commented on #16430
@saurabh500 not sure how we can make this more diagnosable. Logging maybe?

[2017-02-24 17:38] #15693 closed

[2017-02-24 17:44] danmosemsft commented on #14346
These are the types with the most missing blocks, in descending order
[code]

@saurabh500 the amount of code is substantial so starting with any existing tests would be ideal.

[2017-02-24 17:54] stephentoub commented on #16430
This is the same as https://github.com/dotnet/corefx/issues/16421

[2017-02-24 17:55] stephentoub commented on #16439
Already submitted a fix in #16442

[2017-02-24 18:05] #16439 closed

[2017-02-24 18:14] saurabh500 commented on #16421
I could turn on the logging on the server side in this case so that we know that the server completed the login and add a console statement after Connection Open to see if the connection open call succeeded. That could help eliminate these issues.
How does that sound @stephentoub  ?

[2017-02-24 18:14] saurabh500 commented on #16430
@danmosemsft I left some suggestions in #16421

[2017-02-24 18:34] karelz commented on #12503
@mellinoe @tarekgh can you please route it to the appropriate area?

[2017-02-24 18:41] jcouv commented on #14235
@ericstj @AlexGhiondea Any update?

[2017-02-24 18:43] karelz commented on #16441
The repo does not allow issues to be opened :( ... I tried ;-)

[2017-02-24 18:46] tarekgh commented on #12503
ulimit should fix this issue.

@druvisc please try it. I am closing the issue here but feel free t ore-open it if you still running into a problems. Thanks

[2017-02-24 18:46] #12503 closed

[2017-02-24 18:49] tarekgh commented on #16441
interesting :-) thanks for checking.

[2017-02-24 18:50] ahsonkhan commented on #16298
@joshfree, the fix for this is already in PR #16416 submitted by @dennisdietrich.
I don't think this issue should be assigned to me.

[2017-02-24 18:54] joshfree commented on #13681
@VSadov @KrzysztofCwalina

[2017-02-24 18:55] davidsh commented on #16432
I tried your repro.  I got different problems.

I opened up the FluentFtp.xproj and tried to build it as-is.  I got failures:

[code]
The current project.json is listed as:

[code]
Should I expect to get these errors building?

So, where did you try to add `System.Net.NameResolution` ?

[2017-02-24 19:10] joshfree commented on #16298
@ahsonkhan please help review the PR and see that this issue gets closed out

[2017-02-24 19:17] ericstj commented on #15735
One alternative I'd like folks to consider that doesn't involve 4-part versions:
1. Do RuntimeInformation change in 1.0.
2. In 1.1 branch change NETStandard.Library to ref LTS packages for netstandard1.*, and netcoreapp1.0.  For netcoreapp1.1 reference FTS packages.
3. Trim dependencies on platforms with inbox impl.
4. Ship NETStandard.Library 1.6.2.

I think this is a better story for everyone, t

[2017-02-24 19:19] Priya91 commented on #4887
This test is not tracked in networking push, as it requires special CI infrastructure to run the test. The test is already there, what's missing is the right version of windows, and setup scripts. One way is to write the powershell script that's required to set the setting, and ensure to execute the script before running the test.

cc @davidsh Can you provide more info on which specific Windows ve

[2017-02-24 19:22] JeremyKuhne commented on #15554
Hitting these errors in the debugger is expected when running the tests that specifically set up those exceptions. If you continue from those or ignore them things should continue correctly. Xunit exceptions will get thrown where the exception wasn't expected from the test's perspective.

[2017-02-24 19:24] kouvel commented on #14574
It doesn't look those tests are disabled currently

[2017-02-24 19:24] #14574 closed

[2017-02-24 19:24] TylerBrinkley commented on #395
If `Int32.TryParse` doesn't support native digits, why should this. As far as I can tell even the native `StrCmpLogicalW` doesn't support native digits.

[2017-02-24 19:25] tinchou commented on #13035
Just a quick update since I've been working on other stuff and couldn't get this merged yet:

1. Everything seems to be working fine in [my branch](https://github.com/tinchou/corefx/tree/master)
2. Support for Linux and Mac comes from unixODBC, and since it implements the ODBC standard which specifies the C interface, we don't even need to change the native function signatures.
3. I'm working with

[2017-02-24 19:27] ahsonkhan commented on #14574
The test was enabled back in PR #16093

[2017-02-24 19:31] stephentoub commented on #13035
C types can have different sizes on different platforms.  Do we know that's not an issue here?  This is one of the reasons we have the native shims for other libraries, so that we can have the managed APIs P/Invoke to native signatures that used types of known sizes regardless of platform, e.g. int32_t, int64_t, etc.

[2017-02-24 19:37] ericstj commented on #14235
Let's try to ship this change with release slated for https://github.com/dotnet/corefx/pull/16119.

[2017-02-24 19:56] tinchou commented on #13035
From what I see [here](https://github.com/tinchou/corefx/blob/master/src/System.Data.Odbc/src/Common/System/Data/Common/UnsafeNativeMethods.cs#L62), it looks like all parameters are standard-specific types, e.g. `SQLUSMALLINT` which is a C# `UInt16` or `SQLSMALLINT` which is a C# `Int16`.

unixODBC also has these types: http://www.unixodbc.org/doc/ProgrammerManual/Tutorial/gloss.html

[2017-02-24 20:05] pgavlin commented on #15913
Are we running these tests on AVX-capable machines in the lab?

I cannot repro this locally using a JIT built at dc6b30e1b5d6fb2cb3aee084868c573c204a8338, but my machine is not AVX-capable, which may make a difference.

I should point out that I could repro this locally before 749180a3799da8a495981ba85734dfffd09115f3; that commit fixed the issue as far as I could tell.

[2017-02-24 20:06] WinCPP commented on #3862
@stephentoub @karelz The PR was for subset of files. There are more to come. We need to keep this issue open... Thanks!

[2017-02-24 20:08] stephentoub commented on #3862
@WinCPP, it was closed automatically by GitHub based on the text of the PR you submitted (it included the text "Fix #3862").  For subsequent PRs, don't include a statement that it fixes the issue, and it won't be closed automatically :)

[2017-02-24 20:09] WinCPP commented on #3862
@stephentoub yup I got it :)

[2017-02-24 20:11] danmosemsft commented on #15913
@MattGal for the question whether the helix machines are AVX capable. I assume you do `cat /proc/cpuinfo | grep 'avx'` or something.

[2017-02-24 20:41] jamesqo opened #16448 "[API Proposal] Debug.Assert overloads taking bool?"
## Motivation

For me, it's very frequent to assert something is non-null in a `Debug.Assert`. It is also frequent for me to verify some properties about that thing after asserting it is non-null. For example, if one wants to do a typical validation of array/index/count parameters, you would do

[code]

Here, we are first asserting the array is non-null and then asserting that there's enough room

[2017-02-24 20:45] jamesqo commented on #16448
[Another place where this would help:](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L702)

[code]

Could be changed to

[code]

[2017-02-24 20:48] am11 commented on #16448
We can use iff (aka XNOR) for this purpose: `Debug.Assert(parent?.IsRed == true);`.

However, would be nice to have straight-forward `bool?` overload, so I +1'd. :)

[2017-02-24 21:07] MattGal commented on #15913
@danmosemsft I believe from the log above we're talking about Windows, so I should be able to use a  tool like CPU-Z to check this.  Checking now on a live VM.

[2017-02-24 21:08] #5964 closed

[2017-02-24 21:10] danmosemsft commented on #15913
It would be great to save out the .txt from CPUZ for future reference. Assuming it's the same for all the Helix machines.  Would it be the same for Jenkins runs also?

[2017-02-24 21:12] weshaggard commented on #15735
That seems like a reasonable strategy to me. We could even consider doing (1) in the 1.1.0 branch and rebaselining that package.

[2017-02-24 21:13] dhoehna commented on #15554
Wait.  That is expected behavior?  Is there documentation stating this?  I could not find any.

@karelz Nothing was wrong with visual studio.  The errors I was getting were supposed to happen.  But I did run into issues setting up visual studio.  I'll make an issue either today or on Monday to make the documentation easier.

[2017-02-24 21:15] MattGal commented on #15913
It's an intel 4th gen Xeon setup, definitely has AVX and AVX2 enabled:
![image](https://cloud.githubusercontent.com/assets/7862010/23321158/fb2aec04-fa92-11e6-9998-d6865a770042.png)

While the VMs for both Helix and Jenkins are Azure VMs, and possible the same size, it's not a safe assumption that you will be running on a given generation of hardware, since the only thing really promised is # of c

[2017-02-24 21:25] Priya91 commented on #16432
@hgupta9 Dns is not available in netstandard1.6, it's available from netstandard2.0. You should migrate to netstandard2.0, the dogfooding instructions are [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md)

[2017-02-24 21:42] bartonjs commented on #4278
Okay, so I chatted with some people internally and I think I have the scaffold of a plan:

* Leave the types as public.  (They're public types, and removing things makes people sad).
* These can't (yet) be used in end-to-end SignedXml tests.  (In fact, negative tests seem good)
* They do have public members which should be sufficient for unit testing, so we should do that.
  * And that goes for th

[2017-02-24 21:45] karelz commented on #16432
However, it should be available in .NET Core 1.0/1.1 according to https://apisof.net/catalog/System.Net.Dns

[2017-02-24 22:15] ianhays commented on #16401
Yeah, it is. It only failed once in the December query though so it wasn't marked as high priority.

[2017-02-24 22:17] tarekgh commented on #395
Because the functionality we are talking about is regarding the collation which support all native digits. Also there is some requests we need to support native digits in the formatting and parsing APIs but we didn't get into it yet.

In short, if we support only 0~9 digits, sooner or later we'll get request to support the native digits. so it will be good to have a good plan in our support before

[2017-02-24 22:56] ianhays commented on #16401
The failure is occurring in the code where multiple pings are sent async then immediately cancelled.
[code]

 An assertion is made

[code]
afterwards that fails, but we don't know why it's failing or which conditions are true/false.

The test looks ripe for a race condition to me.

[2017-02-24 22:58] danmosemsft commented on #16421
I'm not Stephen, but I think that would be great.

[2017-02-24 23:13] karelz commented on #8655
Flipping back to unassigned - if anyone wants to work on it, please let us know (you can leverage the unfinished PR #14124).

[2017-02-24 23:13] danmosemsft opened #16452 "Failure in System.Data.Tests.SqlTypes.SqlXmlTest.Constructor2_Stream_Null - SEHException"
Not much to go on here. The function at the top of the stack just sets some fields.

https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/114/consoleText

[code]

[2017-02-24 23:14] xied75 commented on #7570
@danmosemsft Sorry for the delayed response, I reckon a formal API proposal will need large block of time which I can't start right now. This is needed in my project thus I'll come to it sooner or later, if no others want to grab it first.

[2017-02-24 23:26] RichiCoder1 commented on #6920
@maxim-reutov I think you meant @karelz. And it sounds like you're basically looking for MEF + blessed IPC + blessed OOP/Isolated hosting? (blessed here refering to in corefx).

[2017-02-24 23:29] ryanbrandenburg commented on #12625
Can this be closed now that dotnet/coreclr#9472 is merged?

[2017-02-24 23:29] dhoehna commented on #15554
@JeremyKuhne Ran the tests through the debugger and ignored all user unhandled exceptions..  Everything ran smoothly.

[2017-02-24 23:31] #12625 closed

[2017-02-24 23:42] safern commented on #1942
I talked to @terrajobst and the approved API was:
[code]

If we would like `GetOrAdd`, `AddOrUpdate`, and `TryUpdate` then we should either update this API proposal and go through the review process again, or open a new issue proposing those three APIs.

[2017-02-25 00:09] JeremyKuhne commented on #15554
@dhoehna Good to know. In the future we'll get a test driver up and working for VS and the Test Explorer- that would make the process a lot easier to intuit.

[2017-02-25 00:13] #13323 closed

[2017-02-25 00:35] danmosemsft commented on #16374
I was reminded of https://en.wikipedia.org/wiki/Hashed_array_tree

[2017-02-25 00:39] chcosta commented on #14594
I think it sounds reasonable to use a separate feed. I wonder if we should move corefx private packages to this separate feed which users can target if they choose to. I'd like to think that nobody has a dependency on the CoreFx private package, but I know that's not true because I have recently made changes which took a direct dependency on that package, so perhaps moving CoreFx private packages

[2017-02-25 00:41] danmosemsft commented on #15622
TryRemove on Dictionary makes sense to me for the same efficiency argument as [TryAdd](https://github.com/dotnet/corefx/issues/1942) which we already approved.

It actually has 376 votes on User Voice: https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/4035387-add-tryremove-tkey-key-out-tvalue-value-to-dicti

It's also nicely symmetrical with ConcurrentDictionary which has

[2017-02-25 00:42] karelz commented on #13323
@Priya91 how was the PR #16450 related to this issue? I thought this one is tracking the infra problem ...

[2017-02-25 00:44] safern commented on #15622
I also really like the `TryRemove` on Dictionary as you mentioned! We're just not convinced about the Array proposals. @Thaina could you please open anothe issue with the `Array` proposed APIs?

I can help you writing the API proposal for `TryRemove` so that we can have it reviewed and if so approved.

[2017-02-25 00:45] Priya91 commented on #13323
@karelz Yes, @MattGal informed offline, that he had patched up the machines, hence re-enabled the test.

[2017-02-25 01:15] pgavlin commented on #15913
I cannot repro this on an AVX machine either. The steps I'm using are as follows:

1. Build CoreCLR
2. Build CoreFX: `build -Release -os:Windows_NT -buildArch:x86`
3. Copy the built CoreCLR bits into `corefx\bin\runtime\netcoreapp-Windows_NT-Release-x86`
4. Run the CoreFX tests: `build-tests -Release -os:Windows_NT -buildArch:x86`

Am I missing something here? It seems like this is the same thing

[2017-02-25 01:26] stephentoub commented on #16421
Sounds good.  When you say turn on logging, would that cover cases like this?
https://github.com/dotnet/corefx/blob/77f844f3f05bb85d9f6d6b9ae1c1a7d3cef327aa/src/System.Data.SqlClient/tests/Tools/TDS/TDS.EndPoint/TDSServerEndPoint.cs#L198
I'm wondering if maybe the server is somehow throwing an exception while starting to listen, that exception is getting eaten, and the client times out trying to c

[2017-02-25 01:32] saurabh500 commented on #16421
Yes.
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/tests/FunctionalTests/TestTdsServer.cs#L25

I had turned off the server side logging because it emits a lot of code.
There are three variables at play here
1. The server
2. The Client
3. The remote executor

Looking at the history of the tests, these tests should execute in < 1 second and the Remote Executor is timing out

[2017-02-25 01:45] saurabh500 commented on #16421
PR adding logs at https://github.com/dotnet/corefx/pull/16457

[2017-02-25 01:59] noahfalk commented on #14594
I agree. I am assuming that whatever we produce, whether a duplicate package on a new feed or a differently named package, it happens every time.

I thought we were proposing that the core-setup project was the only consumer of this, and that would be automated rather than manual which dramatically limits the potential for misuse? I agree that in the event some human attempts to replicate the proc

[2017-02-25 02:21] leandromoh opened #16458 "Add Enumerable.AggregateRight"
# Background

LINQ offers a [Aggregate](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Aggregate.cs) (`foldl`) method, but it does not provide its rigth-associative version  (`foldr`).

![foldr](https://cloud.githubusercontent.com/assets/11452028/23327019/ed4cefbe-fae3-11e6-92ea-63efb9ac0f75.png)

# Proposal

I would like to submit a PR for this, but i dont know exact

[2017-02-25 04:51] daflame76 commented on #984
@karetz I received your invitation, but it won't let me accept it.

[2017-02-25 04:53] daflame76 commented on #984
@karelz sorry got your handle wrong

[2017-02-25 05:32] hgupta9 commented on #16432
@davidsh

You need to compile it with the "CORE" symbol defined. I'm using the same repo for .NET 4.0 and .NET Core.

 Also, as you can see under "dependencies" I've defined "System.Net.NameResolution" - Is that not enough? If I did something wrong, please tell me what!

@Priya91 - Thanks Priya, I'll try that.

[2017-02-25 05:49] davidfowl commented on #13681
@joshfree I think we should do this now that we have csproj everywhere.

[2017-02-25 06:00] hgupta9 commented on #16432
Its ok guys, I solved it!

I was adding the dependencies under the `frameworks.dnxcore50.dependencies` member when I needed to add it under the main `project.dependencies`!

This is the final `project.json` which works for me!

[code]

[2017-02-25 06:00] #16432 closed

[2017-02-25 06:29] chrisaut commented on #16374
If random access can be very fast, albeit a bit slower, but allocations greatly reduced, why can we not use this method in the STD. List implementation?

[2017-02-25 06:50] karelz commented on #984
@daflame76 I tried again, if you still have troubles reach out to me via email ...

[2017-02-25 09:39] FireAlkazar commented on #15554
@dhoehna Have you tried to run [code coverage report locally](https://github.com/dotnet/corefx/blob/master/Documentation/building/code-coverage.md#local-code-coverage-runs)? My local report shows we have ~50% coverage now (some tests unfortunately not counted #15817).

[2017-02-25 10:17] jcurl commented on #984
@willdean: The page for com0com is here: https://sourceforge.net/projects/com0com/. It's GPLv2 and to save you teh tears, it's already written. Just suggesting a few minor changes to add some checks to support unit testing.

[2017-02-25 10:32] JonHanna opened #16462 "Risk of PlatformNotSupportedException in dynamic code"
Per https://github.com/dotnet/corefx/pull/16435#discussion_r103063455

As well as affecting the change that PR was attempting, it also affects the current code as it detects the availability of `MetadataToken` and will use it when it can, which would mean it would throw `PlatformNotSupportedException` in such a case, instead of taking the fallback it takes when `MetadataToken` is not available.

[2017-02-25 10:37] JonHanna commented on #16462
@davidwrighton I assume from the description and type of exception that this is a matter of it always succeeding or always failing on a given platform. As in if I do `typeof(object).GetMethod(nameof(object.ToString)).MetadataToken` then its failure or success indicates whether I can do it for another `MemberInfo`?

[2017-02-25 10:38] ghost opened #16463 "[Bug Suspected] ImageFormat's "ToString" comparation error"
Let's get started with a very simple demo:

1) Create a demo console application and referring net 4.6 framework, with the "System.Drawing" namespace added in.

2) Download or create a file of jpg.

3) Now let's import the file directly into the Image and do this following by:

`Image img = Image.FromFile("c:\\test.jpg");
Console.WriteLine(img.RawFormat.Equals(ImageFormat.Jpeg));`

Now the answer

[2017-02-25 10:46] willdean commented on #984
@jcurl Thanks - as I say, I'm not personally enthused by going back to the DDK and kernel mode debugging, but maybe someone else will feel like having a go.

[2017-02-25 10:52] JonHanna commented on #16462
Closer look, the current code does catch runtime as well as static errors.

[2017-02-25 10:52] #16462 closed

[2017-02-25 11:49] grbd commented on #984
I just thought to mention i am currently working on my own serial port library for .net / core
<https://github.com/ASoftTech/Gbd.IO.Serial>

Its actually incomplete / still a work in progress.
But I thought to mention it because it uses interface abstraction.
Which should allow for virtual com ports. One example would be the bus pirate which allows proxying of a uart via its com port.
I would like

[2017-02-25 12:07] JonHanna commented on #16463
Only [a small part of the `System.Drawing` namespace](https://github.com/dotnet/corefx/tree/master/src/System.Drawing.Primitives/src/System/Drawing) is in corefx, and `ImageFormat` isn't part of that. If this is a bug it's only in .NET 4.6 so it should be reported at http://connect.microsoft.com/

[2017-02-25 12:34] WinCPP commented on #16274
Came across this while going through 'up for grabs'. Curiosity question: Will there also be a valueFactory-less overload for cases that have heavy lifting default constructor?

[code]

Thanks.

[2017-02-25 12:38] stephentoub commented on #16274
I don't personally think there's enough value in that, but I don't have a strong preference.

[2017-02-25 12:56] WinCPP commented on #3862
@stephentoub There are multiple _instance field_ initializations which make use of double-check locked pattern and which could be perhaps replaced with LazyInitializer.EnsureInitialize.

For example, [this place](https://github.com/dotnet/corefx/blob/c55435befeb372707558a5c441b3c64bf243948f/src/System.Diagnostics.Process/src/System/Diagnostics/PerformanceCounterLib.cs#L117) could make use of locke

[2017-02-25 12:58] stephentoub commented on #3862
There's nothing special about statics in this regard; it applies to instance fields as well.

[2017-02-25 13:00] WinCPP commented on #3862
Just making a note... #16274 could be used for this work once the new overload is available.

[2017-02-25 13:37] mkosieradzki opened #16464 "Regression: Cookies are not sent in System.Net.Http 4.3.1 if set through headers"
In 4.3.0 everything worked as expected.

Repro:
Run following code in .NET Framework 4.6
[code]
Nuget packages:
- Microsoft.AspNetCore.Hosting 1.1.0
- Microsoft.AspNetCore.Server.WebListener 1.1.0
- System.Net.Http 4.3.0 and 4.3.1

On 4.3.0 works as expected, on 4.3.1 cookie is not sent (400 is returned).

[2017-02-25 15:10] am11 commented on #13526
Besides covering vast consumer requirements, do we need to consider SemVer's own Spec versions?

1. would this library be compatible with both SemVer 1 and SemVer 2 specs: http://semver.org/ (diff: https://github.com/mojombo/semver/compare/v1.0.0...v2.0.0#files_bucket)?

  * Shortly, from this comment https://github.com/mojombo/semver/issues/231#issuecomment-278617758, there are at least two break

[2017-02-25 15:38] jkotas commented on #5884
Needs to be primarily fixed for ProjectN/UWP.

[2017-02-25 16:33] stephentoub commented on #13035
The trouble is that the C standard doesn't actually define the byte size of these types, only the range of values they're required to be able to hold and the relationship between them.  Thus, for example, a type like `int` could be 32-bit on some systems and 64-bit on others, and they'd all conform to the spec.

[2017-02-25 17:12] karelz commented on #16441
Here's list of missing things from @marek-safar

mscorlib
                - Missing class PathInternal

System
                - Missing class SRCategoryAttribute

System.ComponentModel.DataAnnotations
                - Incomplete System.ComponentModel.DataAnnotations.txt (missing ~45 entries)

System.Data
                - Missing enum PoolBlockingPeriod
                - Missing class SNINativeM

[2017-02-25 17:50] karelz commented on #16464
@mkosieradzki do you know what is the behavior on .NET Framework (or in System.Net.Http 4.0.0.0)?
If it is the same, then this is by design - we intentionally rolled back all changes from System.Net.Http 4.1.0.0 and 4.3.0.0 - see #11100.

cc: @davidsh

[2017-02-25 17:52] karelz commented on #16463
Correct, we do not track Desktop/full .NET Framework bugs on GitHub.

[2017-02-25 17:57] karelz commented on #16458
What is the value of 'AggregateRight'? How often is it used by applications?

Doesn't Aggregate silently expect the function to be symmetric? (or whatever the right mathematical term is)
Documentation of Aggregate doesn't say anything regarding Left/Right, so I expect it is up to its implementation and it is implementation detail.

Simple workaround is to call '.Reverse().Aggregate(...)'

[2017-02-25 18:16] mkosieradzki commented on #16464
@karelz Thank you for explanation.
AFAIR It was not working at 4.0.0 as well. What is the workaround for this behavior? What is the working alternative?

[2017-02-25 18:20] WinCPP commented on #3862
@stephentoub I have an implementation of #16274 in a branch on my fork of coreclr repository [here](https://github.com/WinCPP/coreclr/commit/3f5ae3b81245a3d06f1c79f024968b8ccae671f2). Was not sure if I can contribute over there, but if that API came through early, it would have helped in this issue. Hence ...

I believe following is the process:
- [x] Implement the API in coreclr repository
- [ ]

[2017-02-25 18:30] karelz commented on #984
@willdean your `BaudRate` example seems to be pretty extreme - IMO it doesn't fall into functional tests category. I would leave the test at writing the value and reading it back, checking it sends something.
Unless the speed is driven by managed code, I would just rely on the underling component to be correct. Testing it is more and-to-end and that as well has some value, but it does not need to

[2017-02-25 18:31] jkotas opened #16467 "testdotnetcli referenced by scripts and instructions does not exist anymore"
https://github.com/dotnet/corefx/blob/295ed7b94eb78c0bfad29141ae1a0859c7232f77/run-test.cmd#L11
https://github.com/dotnet/corefx/blob/dcfcc7a4a67aeddc34c03302de7cef68770b9f29/Documentation/project-docs/developer-guide.md#L317

[2017-02-25 18:33] jkotas commented on #16467
@danmosemsft Would you mind looking into updating it since you have worked it recently?

[2017-02-25 18:34] karelz commented on #16464
@mkosieradzki check the top post in #11100 (I know, it is long) - there's 'Breaking changes' section - it suggests to target System.Net.Http.WinHttpHandler NuGet package instead.

[2017-02-25 18:38] karelz commented on #3862
@WinCPP let's do the #16274 implementation separately in that issue. If you want to block this work on it, it is fine, but all details regarding its implementation should go into #16274. Let's not mix issues.

[2017-02-25 18:40] karelz commented on #16274
Assigning to @WinCPP as he expressed interest to work on it.

[2017-02-25 18:47] mkosieradzki commented on #16464
@karelz Thanks. Unfortunately, I can't use WinHttpHandler, because I need it for aspnet/Proxy which is xplat.

[2017-02-25 18:56] karelz commented on #9846
@JohnGalt1717 our plan is to STOP shipping anything that overrides Desktop independently (see https://github.com/dotnet/corefx/issues/9846#issuecomment-280560086). I am not aware of any other NuGet package except System.Net.Http and System.IO.Compression which would ship code for Desktop replacing .NET Framework assemblies. Can you please check that it is true for System.Runtime.Serialization.Prim

[2017-02-25 19:00] Jaedson33 opened #16468 "Error in StreamSocketListener"
The StreamSocketListener isn't running in background.
When that will be solved?

[2017-02-25 19:02] leandromoh commented on #16458
In functional program the `foldl (aggregate) `and `foldr (aggregateRight)` are so used as `filter (where)` and `map (select)` . Being so power full, that we can define `where `and `select `in its terms.

No, the "direction" of function matters. in a list of number, for example
if function is right-associative, you must use `foldr `to the list be evaluated as `(1 f (2 f (3 f (4 f 5))))`,
if it is l

[2017-02-25 19:04] mkosieradzki commented on #16464
Btw. I have scanned through the referenced topic and I see how difficult the current situation is. However it does not make this bug any less painful :-(. However I do really appreciate lack of manual binding redirects requirement which was painful in 4.3.0.

[2017-02-25 19:04] ccicchitelli commented on #9846
@karelz What does this mean, exactly? Are the System.Net.Http etc assemblies going to be different on desktop and core? I'm wondering about direct portability?

[2017-02-25 19:06] karelz commented on #9846
@weshaggard @ericstj looking at [System.Runtime.Serialization.Primitives](https://www.nuget.org/packages/System.Runtime.Serialization.Primitives/) 4.3.0.0 NuGet package:
In lib\net46 directory there is System.Runtime.Serialization.Primitives.dll (assembly version 4.1.2.0), i.e. overriding the 4.0.0.0 inbox version. Is that sign that we have more than the 2 assemblies overriding inbox assemblies?

[2017-02-25 19:09] karelz commented on #9846
@ccicchitelli it means that Desktop will be behind on new features until it ships update with the new features. Unless there is sim-shipping of 2 products, one of them will be always a bit behind ...
We tried to minimize the "being behind" by shipping out-of-box replacements of inbox components, but it is extremely comples and costly - hence not worth the value.

If there is immediate need to ship

[2017-02-25 19:09] davidsh commented on #16468
What do you mean by "background"?  What sort of project is this and what platform?  Windows or Linux?

ASP.NET Core, Windows UWP (Store App), Desktop app (.NET Framework) ?

[2017-02-25 19:15] ccicchitelli commented on #9846
@karelz thanks, that's perfect.

I think it makes sense that desktop prioritizes stability and consistency first. If customers want the latest and greatest, they can compile for core/standard instead.

Thanks again!!

[2017-02-25 19:17] karelz commented on #16464
The binding redirects pain is still there with System.Net.Http 4.3.1 - only targeting .NET Standard 2.0 will be able to fully get rid of them.
BTW: I plan to explore the option of shipping 4.3.2 which does nothing, but I don't know yet how feasible/impactful that will be.

You have 3 options:
1. Use the old 4.3.0 NuGet package and avoid upgrading to 4.3.1 -- you should be warned as it will bring i

[2017-02-25 19:18] stephentoub commented on #16201
Happened again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_portablelinux_debug_prtest/9/

[2017-02-25 19:24] stephentoub commented on #16468
(I assume it's referring to this UWP type:
https://docs.microsoft.com/en-us/uwp/api/windows.networking.sockets.streamsocketlistener )

[2017-02-25 19:24] chcosta commented on #14594
Yes, I worry about the human element. Hopefully this remains just for core-setup use but I don't pretend to know the extent of human creativity.

I'm not certain I follow.  In my mind, for this scenario, the difference between a same named package and a differently named package is semantics.  Either way, the content is going to be different than what the repo is currently publishing.  The only di

[2017-02-25 19:27] karelz commented on #16458
I don't think Linq tries to be full functional language. It provides helpers for common tasks in functional-style syntax and approach.

I think `AggregateRight` would be confusing to many .NET developers who don't care about these subtle nuances. I also believe it would have very marginal usage. Those who truly care can create their own extension methods.
As such I recommend to reject the API prop

[2017-02-25 19:37] mkosieradzki commented on #16464
I think I will try to conditionally use WinHttpHandler on full .net and keep as is in .net core.

[2017-02-25 19:41] karelz commented on #16464
OK, closing for now.
@davidsh might have additional insights and suggestions.

[2017-02-25 19:41] #16464 closed

[2017-02-25 19:42] karelz commented on #16201
@Priya91 any insights?
cc @steveharter @ianhays

[2017-02-25 19:44] karelz commented on #16468
@Jaedson33 can you share more details about what you mean by "isn't running in background"?
Better repro description (e.g. code snippet) would be appreciated.

[2017-02-25 19:46] karelz commented on #5766
@Mike-EEE very sorry, I still didn't get time to get back to this issue :(

[2017-02-25 20:26] Mike-EEE commented on #5766
Oh man don't worry about it, @karelz I know everyone is busy right now.  I appreciate the conversation more than anything.  I got a lot out of my head. It's good to see it out there and to reflect on it as such.  Besides, we've already put in a year+ wait on this so far... what's a few more months or so? :)

[2017-02-25 20:49] tinchou commented on #13035
C# specifies the Int16 is a 16-bit integer. And ODBC specifies SQLSMALLINT
is a 16-bit integer. Am I missing something?
https://msdn.microsoft.com/en-us/library/system.int16(v=vs.110).aspx

On Sat, Feb 25, 2017, 08:34 Stephen Toub <notifications@github.com> wrote:

From what I see here, it looks like all parameters are standard-specific
types, e.g. SQLUSMALLINT which is a C# UInt16 or SQLSMALLINT

[2017-02-25 21:32] willdean commented on #984
@karelz There wasn't intended to be anything extreme about the baud rate example - it's just an example of something in your current test suite which you can't run on your CI.  I'm not clear which of the three options you prefer:  "writing the value and reading it back" - is my option 1,  "checking it sends something" is either option 2 or option 3.  There's no way to check some setting has been s

[2017-02-25 21:44] stephentoub commented on #13035
If the odbc spec specifies the exact size, then it's fine. What I saw specified it in terms of C types, but maybe I misread it or was looking at the wrong thing.

[2017-02-25 21:50] svick commented on #16458
It's not as simple as that. Any changes to the API have to go though [the API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

Maybe sharing that use case could help make your argument more convincing?

Not necessarily. `ImmutableList<T>` implements `IList<T>`, but its indexer is O(log n), so using `for` for reverse iteration is slowe

[2017-02-25 21:56] #8768 closed

[2017-02-25 23:28] AArnott commented on #15413
@jamesqo yes, I believe that's right.

@sharwell mentioned to me recently he had actually implemented the 3-trie structure for immutable collections and had perf measurements completed. Perhaps he can share.

[2017-02-26 00:13] MaleDong commented on #16463
@JonHanna ：For 4.6 is only my sample and later I found that this bug DID exist in almost all kinds of known versions of frameworks since 2.0. And I've checked the issue, the following versions have such a problem (My PC is x86, x64 isn't checked yet).

2.0, 3.5, 4.6

[2017-02-26 00:19] JonHanna commented on #16463
It's not in corefx though.

[2017-02-26 00:20] MaleDong commented on #16463
So you mean that I can also directly report this issue on Microsoft's Connect platform of bugs, no matters how many versions it has?

[2017-02-26 00:24] JonHanna commented on #16463
It's likely a good idea to include as much information about it as you can. Really, I don't know much about Connect except from having reported a couple of issues there in the past myself. With one of those the method in question was made later part of corefx and I was able to do something more proactive about it. Since `ImageFormat` isn't in corefx (yet, anyway) there's nothing that can be done a

[2017-02-26 00:26] MaleDong commented on #16463
OK, I'll have a try.
Thanks @JonHanna.

[2017-02-26 00:33] brunoklein99 opened #16469 "Possible .NET Core bug?"
The dependencies referencing scope in .NET Core is behaving different than .NET 4.5. For instance, the following projects:

http://i.imgur.com/eEVq3dx.jpg

They are referenced as such:

ClassLibrary1 -> ClassLibrary2 -> ClassLibrary3

So, prior to .NET Core any `public` class within `ClassLibrary2` should be accessible from `ClassLibrary1` but any class within `ClassLibrary3` should not be accessi

[2017-02-26 01:10] the-dwyer commented on #16337
@danmosemsft I am working on some unit test for this code and I will submit a pull request.  Thanks, Michael

[2017-02-26 01:47] jkotas commented on #16346
Another one: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/3863/testReport/junit/System.Net.Security.Tests/ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success_serverProtocol__Tls11_/

[2017-02-26 02:24] DanielCauser commented on #10445
@okosodovictor  Thank you man, this solved the issue while trying to install sqlite-net-pcl on xamarin studio on a xamarin.forms project.

[2017-02-26 02:55] mellinoe commented on #16469
This is probably a better question for the folks over at https://github.com/dotnet/sdk. I think we've made project references transitive by default recently. It's supposed to make things simpler, although it may have inadvertently caused some confusion in this case.

[2017-02-26 03:29] WinCPP commented on #3862
@karelz Sure. I will use #16274. Moving the discussion there.

[2017-02-26 03:48] WinCPP commented on #16274
@stephentoub, @karelz Looking at the corefx code structure for System.Threading.LazyInitializer, it looks like actual implementation exists in coreclr repository and corefx class is a facade / forwarder. Is this correct? If yes, then please let me know the process for an approval to add code to coreclr; I think I will need an issue # over there too? I have an implementation this issue in a branch

[2017-02-26 07:32] dcwuser commented on #16428
I'm going to have a few negative things to say about the specifics of this proposal, but let me start off by saying that I am all for the .NET framework getting this (and more!) math functionality.

One significant problem with this proposal is that the set of functions listed is too big and heterogeneous to be handled as a single decision. I would prefer to have separate discussions for the follo

[2017-02-26 08:03] tannergooding commented on #16428
@dcwuser, this is why I split it out into two distinct sets of APIs.

The first set is the actual proposal, with types being added to the existing `System.Math` and `System.MathF` classes (these are `Acosh`, `Asinh`, `Atanh`, `Exp2`, `ExpM1`, `Log1P`, `Log2`, `Cbrt`, `Hypotenuse`). These methods have all been given .NET "friendly" names (matching the naming conventions already used) and finish rou

[2017-02-26 08:05] tannergooding commented on #16428
It should likely also be pointed out that all of the APIs that are part of the first set match the definition of `Precision-loss-avoidance functions` (not just `hypot`, `expm1`, and `log1p`).

[2017-02-26 08:57] dcwuser commented on #16428
Okay, let's set aside any discussion the second API set and concentrate on just the issues around the first.

Regarding naming, we should either decide that the weight of tradition is important enough that we keep the C names and at most adjust the casing (ExpM1, Log1P, Hypot), or that we go full-on .NET friendly (ExpMinusOne, LogOnePlus, Hypotenuse).

I do agree that there is a sense in which aco

[2017-02-26 10:46] WinCPP commented on #16274
Between, I was able to figure out the way to consume my local changes to coreclr, into corefx by following the steps mentioned by @danmosemsft at following [link](https://github.com/dotnet/corefx/issues/14730#issuecomment-269444567). Except that 'BatchRestorePackages' target didn't work; looks like doesn't exist anymore? But I got the local coreclr packages pulled in using following, after moving

[2017-02-26 14:27] stephentoub commented on #16274
Correct

There is no separate approval needed from an API perspective.  The API review process done in corefx is about the API surfaced, regardless of whether the implementation is in coreclr or corefx.

There are, e.g.
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/LazyTests.cs#L412
though they're currently in the System.Runtime.Tests project rather than the System.T

[2017-02-26 14:55] stephentoub commented on #14152
I like:
[code]
but I don't understand the suggested rationale for explicitly invoking the event when reading.  If someone wants to invoke their code/callback when they read, they can do so explicitly; we shouldn't artificially raise the WindowsSizeChanged event if we have no reason to believe that the window size has changed.

[2017-02-26 15:48] WinCPP commented on #16274
I followed the above steps. However, as I mentioned previously, VS IDE still refers to the LazyInitializer.cs meta data source generated from netstandard.dll which doesn't have the new overload. This file has following header

[code]
Which is why I was wondering if dotnet/standard also needs to be rebuilt because that github project appears to be building all the forwarding dlls? Please advise.

[2017-02-26 15:54] WinCPP commented on #16274
Sorry. Please ignore above comment. Seems like the System.Runtime.Tests project has different references than System.Threading.Test. Meta data generated in former is correct, the latter one which I was using for new tests seems to have incorrect references. I will move my test cases to System.Runtime.Tests. Thanks!

[2017-02-26 16:11] Jaedson33 commented on #16468
Here's the code of the background task:
`public async void Run(IBackgroundTaskInstance taskInstance)
{
    var deferral = taskInstance.GetDeferral();
    var detalhes = taskInstance.TriggerDetails as SocketActivityTriggerDetails;
    if (detalhes.SocketInformation.SocketKind == SocketActivityKind.StreamSocketListener)
    {
        try
        {
            var list = detalhes.SocketInformation.St

[2017-02-26 16:19] chcosta commented on #14594
I intend to move forward with enabling same-named packages which include symbols pushed to a separate feed. Enabling developers to switch feeds to choose package content is not an explicit goal. I'll try to enable a solution which allows us to change package namesiff we later desire to (assuming the investment is not large).

 @noahfalk, I'll sync with you offline to ensure we are aligned

[2017-02-26 16:22] jt000 commented on #14050
I was seeing this issue also in projects that weren't using the Microsoft.CodeDom.Providers.DotNetCompilerPlatform in Azure (i.e. class libraries & console apps). By adding this package to these projects, the props\targets were updated and this issue was resolved. Note that this issue existed in Microsoft.Net.Compilers v1.0.0, so you'll need to latest (currently v1.3.2) if you see this issue & you

[2017-02-26 16:31] stephentoub commented on #16274
What if you build from the command-line?  Did you properly update the ref for System.Threading and rebuild the ref?

[2017-02-26 17:00] WinCPP commented on #16274
I had posted below comment but felt something is still wrong.. hence deleted it.

"Sorry. Please ignore above comment. Seems like the System.Runtime.Tests project has different references than System.Threading.Test. Meta data generated in former is correct, the latter one which I was using for new tests seems to have incorrect references. I will move my test cases to System.Runtime.Tests."

The ov

[2017-02-26 17:31] tannergooding commented on #16428
Its not just a question over tradition vs friendliness. The existing convention has been to use the name as specified by IEEE 754, with the casing adjusted, the same convention should be continued. The IEEE names themselves follow a standard convention, as exists on calculators and in standard mathematical notation. This is why we use `Sqrt` instead of `SquareRoot`.

The functions proposed can be

[2017-02-26 18:10] JonHanna opened #16476 "API Proposal: Named Multiply and Divide on type TimeSpan"
#7175 proposes, and dotnet/coreclr#9804 and #16475 provide `/` and `*` operators for `TimeSpan`.

For all previous operators on `TimeSpan` the policy of [CA2225](https://msdn.microsoft.com/en-us/library/ms182355.aspx) was followed by having named alternative methods for the operation, allowing languages which did not honour operator overloading to use the same functionality. This should be done fo

[2017-02-26 18:29] WinCPP commented on #16274
Finally... I am able to use the new overload. Actually I had missed writing "where T : class" on the corresponding overload in the corefx facade of LazyInitializer. Now everything is linking up using the steps shared by you... Thanks a tonne!

[2017-02-26 18:29] Jaedson33 commented on #16468
So can you help me? 😰

[2017-02-26 18:43] jkotas opened #16479 "S.R.CS.Unsafe: Add ReadUnaligned<T> and WriteUnaligned<T>"
It is fairly common to read and write unaligned pointers in low-level code. There is no good way to do it today. The options are:

- Slow code that reads one byte at a time
- Non-portable code. Example: https://github.com/dotnet/corefxlab/pull/1251#discussion_r103063503
- Ugly ifdefs or conditional execution. Example: https://github.com/dotnet/coreclr/blob/68f72dd2587c3365a9fe74d1991f93612c3bc62a/

[2017-02-26 18:51] jkotas commented on #16479
cc @KrzysztofCwalina

[2017-02-26 19:12] davidsh commented on #16468
This CoreFx repo supports .NET Core APIs and library packages.  Specific WinRT APIs such as Windows.Networking.* are not supported here.

You can ask questions here for WinRT APIs:

https://social.msdn.microsoft.com/Forums/en-US/home

[2017-02-26 19:16] svick commented on #16476
What languages are those? Is it worth adding non-essential functionality just for them, considering it will unnecessarily increase the API surface for the languages that support overloading those operators?

CA2225 seems to have been introduced in .Net 2.0, [when VB.NET apparently didn't support operator overloading](https://msdn.microsoft.com/en-us/library/ms182355(v=vs.80).aspx). I'm not sure it

[2017-02-26 19:45] davidsh commented on #16248
Dupe of #9228.

[2017-02-26 19:45] #16248 closed

[2017-02-26 19:54] davidsh commented on #14674
Changing this could break app-compat.  Will need to study it and write pinning tests to validate behaviors.

[2017-02-26 19:58] davidsh commented on #13813
Given this:

Note that even if HttpClient were to add synchronous methods, most likely they'd just themselves block waiting for the underlying asynchronous operations to complete.

We think adding sync APIs to the API surface won't really accomplish complete asynchrony.  For use cases that require "sync", awaiting the Task should work.  If there are bugs in this area, as @stephentoub suggests, ple

[2017-02-26 19:58] #13813 closed

[2017-02-26 20:01] dcwuser commented on #16428
Regarding naming: IEEE 754 (https://www.csee.umbc.edu/~tsimo1/CMSC455/IEEE-754-2008.pdf) says "the names of the operations in Table 9.1 do not necessarily correspond to the names that any particular programming language would use", so the standard doesn't require these names. It's true that we have followed these naming conventions mostly. But your own proposal deviates for hypot. **Why are you wi

[2017-02-26 20:01] davidsh commented on #10399
Tracking test failures here, #14519

[2017-02-26 20:01] #10399 closed

[2017-02-26 20:03] davidsh commented on #10156
Tracking Http test reliability here: #14519.

[2017-02-26 20:03] #10156 closed

[2017-02-26 20:05] davidsh commented on #10491
Closing this issue for now.  Please update if there is new information regarding a possible bug in CoreFx.

[2017-02-26 20:05] #10491 closed

[2017-02-26 20:10] Jaedson33 commented on #16468
Ok ☹ I asked here because there was no answer.

[2017-02-26 20:38] davidsh commented on #10905
Closing this since this hasn't occurred in a while and may have been caused by package issues.

[2017-02-26 20:38] #10905 closed

[2017-02-26 20:39] davidsh commented on #10901
Closing this since this hasn't occurred in a while and may have been caused by package issues.

[2017-02-26 20:39] #10901 closed

[2017-02-26 20:39] davidsh commented on #10902
Closing this since this hasn't occurred in a while and may have been caused by package issues.

[2017-02-26 20:39] #10902 closed

[2017-02-26 20:45] davidsh commented on #13173
Closing this for now.  If this is still happening, please re-open and attach repro code with details so that it can be investigate. Thx.

[2017-02-26 20:45] #13173 closed

[2017-02-26 20:51] davidsh commented on #13114
This is basically by-design.

The stackoverflow link doesn't show the complete repro...it only shows the individual methods for doing writing and reading.  But this exception is being caused by you closing down the writer while the reader still have a pending I/O to read more data.

[2017-02-26 20:54] davidsh commented on #11345
Tracking networking test reliability with #14519.

[2017-02-26 20:54] #11345 closed

[2017-02-26 21:27] michal-ciechan commented on #8622
What version of the s tandard is this included in?

[2017-02-26 21:43] JonHanna commented on #16476
The CLS says languages don't have to support operator overloading, so potentially any new CLS-compliant language. (I've seen it suggested that not having such a method isn't CLS compliant in itself, though I can't find such a rule scanning through the CLS rules, so maybe not).

One of the downsides of increased API surface is the cognitive impact, but inconsistencies within one are as bad in that

[2017-02-26 22:05] karelz commented on #16468
Closing as this is external. WinRT APIs are not tracked here.

[2017-02-26 22:05] #16468 closed

[2017-02-26 22:08] stephentoub opened #16481 "EnumerateEnvironmentVariables test failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/3862/consoleText
[code]
cc: @JeremyKuhne

[2017-02-26 22:21] JeremyKuhne commented on #16481
Urgh, another test timing problem. There is no guarantee the value we iterate will still exist (or not be changed in some other way) by the time we look it up again. In this case I'm 99% sure that we're colliding with the other test classes.

I'll change this to set a specific variable and only compare that one.

On a related note it is unfortunate that Assert.Equal() doesn't allow adding addition

[2017-02-26 22:51] dhoehna commented on #15554
@FireAlkazar No, I have not.  I didn't know that page existed.

[2017-02-26 22:52] karelz commented on #984
@willdean I misunderstood your option [1] earlier, sorry. You are right it is the same thing I described :)

I totally understand it is a hard problem. I am trying to provide general guidance how to think about the tests and how to make decisions what to make part of CI and what not to make part of CI. I replied to the cases presented here. If my thoughts are not helpful, I apologize. I am definit

[2017-02-26 22:56] maxim-reutov commented on #6920
@RichiCoder1 thanks, corrected that.. well pretty much yes, but then it would be equal to MAF. I need a way to load/unload components at run time, MAF was the solution, it would be great if I could do similar in the Core. I have an application that is able to update itself at runtime by using MAF. I couldn't find anything else that would do assembly unloading and being able to support multiple ver

[2017-02-26 23:13] karelz commented on #984
Attempt to steer the discussion back on track:
To summarize where I think we are now: @willdean (with others) has lots of tests working on the package. Some (how many?) tests can't easily light up in CI, they need real HW. So that raises these questions:
1. How many of the tests / what coverage can work just fine in the CI as it is today? (i.e. without any changes to CI infra/images)
    * Ballpar

[2017-02-26 23:27] dhoehna opened #16482 "Add new documentation for new users that has step-by-step instructions"
# problem
I had problems on knowing what tools i needed to get corefx to run, test, and get code coverage because I did not know where to look.

# explanation
I had a hard time getting corefx to run because I was expecting to find step-by-step documentation on how to get corefx running on my computer.  Because I was looking for a step-by-step guide, I ignored the page about [building CoreFX on win

[2017-02-26 23:31] dhoehna opened #16483 "Add expected behavior about user-unhandled errors when running the tests projects in visual studio"
# problem
If you run the System.Configuration.ConfigurationManager tests project in visual studio, you will get an error that an error happened in the System.Configuration.ConfigurationManager dll and was not handled by the user.  After two weeks of working with the coreex staff, I found out that this was expected behavior

# solution
There are two solutions
 1. Include that a user needs to either

[2017-02-26 23:59] willdean commented on #984
@karelz Thanks for this, and your previous post - I can answer all those, but perhaps not all tonight.   There are approx 1000 tests, and about 10% run in the CI at the moment (this is the number that can run without a serial port present at all).

If we reenabled them, there would be about 3-400 I think that would run/pass in the CI most of the time, but many would be slow by the standards of uni

[2017-02-27 01:16] karelz commented on #984
@willdean thanks for your detailed answer. Some thoughts (I will let @JeremyKuhne to chime in more):
1. The 30% potential increase sounds interesting. Is it something you would recommend to go after? (cost/benefit-wise)
2. I was more curious if there are existing solutions (KM drivers). I don't think creating a new one is very cost effective ... If there is nothing existing, well, we will live wit

[2017-02-27 01:25] Jiayili1 commented on #14417
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs#L186

[2017-02-27 01:33] Jiayili1 commented on #10345
https://github.com/dotnet/corefx/blob/master/src/System.Net.NameResolution/tests/FunctionalTests/GetHostEntryTest.cs#L89

[2017-02-27 01:34] Jiayili1 commented on #14068
https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/tests/HttpRequestResponseSerializationTest.cs#L15

[2017-02-27 01:36] Jiayili1 commented on #4887
https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs#L81

[2017-02-27 01:39] Jiayili1 commented on #1050
https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/tests/Metadata/MetadataReaderTests.cs#L2639

[2017-02-27 01:40] Jiayili1 commented on #12565
https://github.com/dotnet/corefx/blob/master/src/System.Resources.ResourceManager/tests/ResourceManagerTests.netstandard.cs#L86

[2017-02-27 01:44] Jiayili1 commented on #3892
https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.X509Certificates/tests/X500DistinguishedNameTests.cs#L24

[2017-02-27 03:46] davidsh commented on #13470
requires API change to System.Net.Sockets contract.  New API won't be part of .NETStandard2.0.

[2017-02-27 03:57] dcwuser opened #16486 "Sin and Cos Bad Behavior for Large Arguments"
For |x| > ~1.0E19, Math.Sin(x) and Math.Cos(x) return x rather than an approximation to Sin(x) or Cos(x). This is documented, but is nonetheless a very bad behavior and should be changed to throw an ArgumentOutOfRangeException or return a NaN.

Calculating trig functions of large arguments is hard for reasons well-known to numerical computing experts and much less well-known to most other programm

[2017-02-27 04:19] jkotas commented on #16354
https://github.com/dotnet/corefx/tree/dev/bigendian

[2017-02-27 04:39] veteze commented on #9788
this is infuriating.

[2017-02-27 06:26] mikedn commented on #16486
I'm not sure how that's relevant, it's ancient.

Huh? Where/when does .NET do that?

.NET doesn't have an implementation of Cos/Sin of its own, it simply calls the relevant C library functions and those have gotten better other the time on all platforms. If those functions are bad, well, they need to be fixed but that's not something that .NET can do.

[2017-02-27 06:26] mikedn commented on #16479
Feel free to assign to me once it passes API review.

[2017-02-27 06:54] Jiayili1 commented on #13300
This issue is repro on OuterLoop_CentOS7.1_debug ([build#112](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/112/testReport/)), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/112/testReport/System.Net.Tests/HttpWebRequestTest/GetResponseAsync_UseDefaultCredentials_ExpectSuccess_remoteServer__https___corefx_net_cloudapp_net_Echo_

[2017-02-27 07:50] dcwuser commented on #16486
Precisely where my bug report and the documentation (https://msdn.microsoft.com/en-us/library/system.math.sin(v=vs.110).aspx) say it does: for arguments greater than about 1.0E19. But thanks for illustrating that no one ever reads the documentation, making this bad behavior all the more dangerous. Please write a little .NET program that calls Math.Sin(1.0E22), and you will see that you get 1.0E22

[2017-02-27 07:59] doublnt commented on #6489
Can you tell me , what should I replace the
[code]
in .net core now?

[2017-02-27 08:38] mikedn commented on #16486
Ah, that doc line. It was "copied" from the Intel documentation of FSIN/FCOS instructions that were used by the original .NET Framework. It doesn't accurately reflect the current .NET Core situation.

I did an on .NET Core x64 I get 0.523214785395139. On x86 I get -0.91111900701809245, it's odd that it's different but it certainly isn't 1E22.

Not really. Some .NET versions/implementations simply

[2017-02-27 08:39] clement911 commented on #7812
I'm encountering these same errors in an azure production environment. I run asp.net core on top of the full .net 4.6.1 so I suspect it's not specific to .net core.
It happens as the code is trying to send an email using the SendGrid nuget package, which internally seems to use HttpClient.
Usually the error is 'A security error occurred' (it happened 5 times so far), but there is also 1 occurrence

[2017-02-27 08:57] Jiayili1 commented on #15844
The following test "System.Diagnostics.Tests.ProcessWaitingTests.SingleProcess_EnableRaisingEvents_CorrectExitCode(exitCode: 0) " failed with Xunit.Sdk.EqualException.

Failed on: OuterLoop_Fedora23_release ([build#118](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/118/testReport/)), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_rel

[2017-02-27 09:05] Jiayili1 opened #16488 "InnerLoop_Fedora24_Debug: Test "System.Diagnostics.Tests.ProcessStreamReadTests.TestSyncErrorStream" failed with "Xunit.Sdk.EqualException""
Failed test: System.Diagnostics.Tests.ProcessStreamReadTests.TestSyncErrorStream

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_debug/1140/consoleText

Configuration: InnerLoop_Fedora24_Debug ([build#1140](https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_debug/1140/testReport/))

Message:
[code]

Stack Trace:
[code]

[2017-02-27 09:10] Jiayili1 commented on #16201
Happened here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_release/111/testReport/System.Net.Tests/HttpWebRequestHeaderTest/GetResponse_UseDefaultCredentials_ExpectSuccess_remoteServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-02-27 09:17] Jiayili1 opened #16489 "System.Diagnostics.Tests.ProcessTests.TestExitTime failed with "TestExitTime is incorrect" on Windows 8.1"
Failed test: System.Diagnostics.Tests.ProcessTests.TestExitTime

Configuration: OuterLoop_Windows8.1_debug ([build#115](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/115/testReport/)).

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/115/testReport/System.Diagnostics.Tests/ProcessTests/TestExitTime/

Message:
[code]

Stack Tra

[2017-02-27 09:20] Thaina opened #16490 "ValueTuple AsEnumerable extension method"
For ValueTuple which have the same object it would be similar to collection so I think we should have some way to iterate its values. And so it could work with linq

[code]

[2017-02-27 09:26] cwe1ss opened #16491 "Validating a DiagnosticSource/Activity based 3rd party tracer and an OpenTracing bridge"
I'm trying to figure out how the new `Activity` API should be used in a tracer (e.g. Application Insights) or in an OpenTracing bridge.

@lmolkova @vancem It would be great if you could provide your feedback here. Maybe it results in some insights for the current API.

I will start with some basic questions and I will add further questions once I have a better understanding, if that's ok for you.

[2017-02-27 09:35] cwe1ss commented on #15023
fyi, I posted some general questions about how this should be implemented in a tracer like Application Insights etc in https://github.com/dotnet/corefx/issues/16491

[2017-02-27 09:38] groege commented on #13914
Yes I'm using build 10.0.14393.693

[2017-02-27 09:38] dcwuser commented on #16486
Wow the platform-dependence here is more complicated than I thought.

So with a .NET Core 1.0 console app, compiled with Visual Studio 2015, with
Microsoft .NET Core Tools (Preview 2) 14.1.21111.0 installed (which, I just checked, is still the latest release), on Windows 10 Pro 64-bit machine with Intel i7 CPU, I most definitely still get 1.0E22. That's also what I have got with all NETFX versions

[2017-02-27 09:50] benaadams commented on #16486
You likely need .NET Core 1.1 app to get the changes rather than 1.0

[2017-02-27 11:24] JonHanna commented on #16305
While I may have missed one somewhere, it seems like all the remaining uses are either:

1. In a project that may be used where `GetTypeInfo` isn't available.
2. A test.
3. Actually making use of the extra members `TypeInfo` provides.
4. Actually `TypeInfo`!

So I think this can be closed now.

[2017-02-27 11:33] Trolldemorted commented on #12282
@davidsh the .NET Core 2.0 release has been postponed to [Q3 2017](https://github.com/dotnet/core/blob/master/roadmap.md), does this also apply for a fix in System.Net.Http? Is there another way of saying "just ignore that the certificate is not signed by a trusted ca" until we can pin a certificate properly?

[2017-02-27 11:35] mikedn commented on #16486
Sorry, I'm not familiar with various past releases. What I know is that the issue doesn't exist in the master branch and so it won't exist in .NET Core 2.0 that is supposed to be released in a couple of months.

Note that this unfortunate behavior might persist in the desktop versions of .NET Framework, especially on x86. Sometimes changes made to .NET Core get merged back into .NET Framework but

[2017-02-27 12:20] stephentoub opened #16492 "System.Memory.Tests crashing on Windows outer loop runs"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/115/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/111/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/106/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/112/consoleText
https://ci.dot.net/job/dot

[2017-02-27 12:37] logiclink opened #16493 "X509Certificate GetCertHash and GetCertHashString with SHA256"
As the current implementation uses SHA1 for calculating X509 hashes and SHA1 can't be considered safe anymore the hash calculation should be updated to SHA256. E.G.:

[code]

Alternatively, a variable hashing algorithm as function parameter would be desirable for future hashing methods.
A use case is the ssl certificate validation on IoT devices to prevent man-in-the-middle attacks. Many IoTs conn

[2017-02-27 13:34] LTAcosta commented on #6920
We're currently using MAF in an enterprise product to embed customer written UI AddIns. The primary benefits for us are process isolation and assembly unloading. It is also nice to have a framework in place to support our 3 API versions, that all work seamlessly in several of our products.  I would love to see some form of this ported to Core.

[2017-02-27 16:00] jkotas commented on #16492
@ahsonkhan This is regression from your Span.Clear optimization. It is crashing at:

[code]

[2017-02-27 16:20] karelz commented on #16305
Closing per @JonHanna's investigation above.

[2017-02-27 16:20] #16305 closed

[2017-02-27 16:48] geoffkizer opened #16498 "IPAddressExtensions.Snapshot should not be public"
Looks like this became public at some point during porting.  It's not public in desktop.

[2017-02-27 16:51] karelz commented on #16490
What are the real-world use cases? How common are they?

[2017-02-27 16:57] karelz commented on #16482
Why did you ignore the page with [windows instructions](https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md)? Was it hard to discover? Or did you misjudge its content based on title?

If the content is there, I would rather focus on making sure it is discoverable rather than duplicating the content.

[2017-02-27 16:58] karelz commented on #16481
@JeremyKuhne I marked the bug with labels and milestone on your behalf.

[2017-02-27 16:59] Thaina commented on #16490
@karelz first thing come in my mind is iterate some constant with new tuple syntax

[code]

With Linq we would be able to do many things for constant collection

[2017-02-27 17:00] karelz commented on #16469
Closing as external per above comment.

[2017-02-27 17:00] #16469 closed

[2017-02-27 17:03] karelz commented on #7175
@JonHanna you seem to be working on it, assigning to you ... please shout out if I got it wrong.

[2017-02-27 17:05] vancem commented on #16491
@cwe1ss -   To respond to your questions:

I don't properly understand your first question.     You seem to want to filter out things that are not start and stop events, which of course you can do, but it is unclear why.   I would expect tracers that are intended to be ignorant of the actual events being logged to log everything (filters return true) or to 'pass the buck' and allow its users to sp

[2017-02-27 17:09] jakobbotsch commented on #16479
Should two `ref byte` overloads also be added for the aligned `Read/Write` APIs?
[code]

[2017-02-27 17:10] WinCPP commented on #16274
@stephentoub I have code ready but following test cases are failing.

[code]

First three appear to have been addressed in pull request #16454. While I'm digging into the last two failures (which don't appear to be related to my code change), I just wanted to check if they are known issues.

Thanks,
Mandar

[2017-02-27 17:13] stephentoub commented on #16274
I suggest sync'ing your repo and rebasing your changes on top of the latest.  It sounds like you're missing a revert of some changes.

[2017-02-27 17:22] karelz commented on #16490
OK, it seems somewhat useful. I'd be curious how many people will find it useful - i.e. if it belongs into CoreFX, or if we should leave it up to developers to create their own extension methods (in case it is rare-ish use case).

cc @jcouv

[2017-02-27 17:27] svick commented on #16490
@Thaina There's already a syntax for that:

[code]

I think in these cases, directly creating the array is more readable, so those cases are not very convincing reasons to add the method for me.

[2017-02-27 17:29] Thaina commented on #16490
@svick I am not sure what would be better between creating new array and make memory footprint and push/pop yield stack if it all constant values

[2017-02-27 17:39] svick commented on #8622
@michal-ciechan [According to apisof.net](https://apisof.net/catalog/System.Data.DataSet), it's .Net Standard 2.0.

[2017-02-27 17:47] karelz commented on #16490
@Thaina the question is - is the syntax needed in perf-sensitive context in real-world situations?

Note: We hold higher bar for new APIs in CoreFX - we need clear consensus it is useful and will be used reasonably by many developers, otherwise we would just add marginal APIs that are rarely used and we would drown in them (from cost perspective, incl. docs, and also from cluttered API surface per

[2017-02-27 17:49] MattGal commented on #15913
Seems reasonable to me.  If we're out of other ideas, I can lend you a Helix VM to play with if you want to try this on a real Azure VM.

[2017-02-27 17:51] bartonjs commented on #16493
Until new API is added, this can be accomplished via

[code]

[2017-02-27 17:55] davidsh commented on #12282
If this question is about the UWP version of the System.Net.Http binary, then those newer properties in HttpClientHandler (such as `ServerCertificateCustomValidationCallback ` will continue to throw `PlatformNotSupportedException`.   Getting all properties working for UWP is now part of the .NET Core 2.1 milestone.

cc: @karelz

[2017-02-27 17:57] davidsh commented on #6489
The ASP.NET team owns the libraries that contain the `ObjectContent` class.  It is not part of the .NET Framework and is not part of .NET Core itself.

Please follow up with @danroth27.  I also suggest you ask this question in the ASP.NET repo:
https://github.com/aspnet/home

[2017-02-27 17:57] Thaina commented on #16490
@karelz In my opinion anywhere we have constant iterator we should promote this syntax instead of create inline garbage array. It might not seem affect performance much but on server a function might end up being called by million

We might create array outside function to avoid array creation but then that array would be exposed to other function, it not encapsulated in local where it only needed

[2017-02-27 17:57] vancem opened #16500 "Review the uniqueness of Activity ID in System.Diagnostics.Activity"
Currently we generate an ID by creating a 'unique ID for a process' (see s_uniqPrefix in the code) and then appending a process wide number (that increments) each time a number is used.

There is a wrap around problem (if you allocate more than 4 billion IDs)

The s_uniqPrefix is also not perfect as it uses the us granularity tick count to create a 'random' number.   There certainly COULD be colli

[2017-02-27 17:58] bartonjs commented on #16493
Marking this as api-needs-work because:

* Do we want more 0-argument thumprint methods, or should they take a HashAlgorithmName?
  * If they take a HashAlgorithmName, what do we want the "I don't know what this algorithm is" response to be?
* Do we want both the string and the `byte[]` forms?
* Does X509Certificate2Collection.Find (FindByThumbprint) need to work with a SHA-2-256 version?
  * If s

[2017-02-27 18:04] marek-safar commented on #16354
@jkotas @tmat Is there easy way to build desktop compatible version from the source code (version compatible with System.Runtime 4.0.0.0) ?

[2017-02-27 18:08] pgavlin commented on #15913
This has now ceased to repro in both Helix and CoreCLR. I believe that this issue continued to appear after my fix was merged into CoreCLR because CoreFX had not yet updated the build of CoreCLR it uses to a version that included my fix. Once it had updated its version of CoreCLR to one that included my fix (see e.g. https://github.com/dotnet/corefx/commit/c2457682a914592b66652e061bc9357a7fc7747a)

[2017-02-27 18:19] MattGal commented on #15913
@pgavlin  there is no such thing as helix scripting that chooses what it's running, Helix just runs the same RunTests.cmd/sh that is produced as part of the regular CoreFX vertical build.

As far as I understand, that's just a function of what's restored by https://github.com/dotnet/corefx/blob/master/external/runtime/project.json.template .

[2017-02-27 18:26] WinCPP commented on #16274
@stephentoub It worked. Resyncing coreclr followed by corefx worked. I'm initiating PRs in both repos.

[2017-02-27 18:32] stephentoub commented on #16500
Where is this being done?  Random in coreclr is no longer seeded by default in its ctor by Environment.TickCount.

[2017-02-27 18:34] joperezr commented on #16489
+1 on hit count on [this build](https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/3878/)

[2017-02-27 18:39] vancem commented on #16500
The code is in

https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.Id.MachineName.cs

It is just calling Stopwatch.GetTickCount.

[2017-02-27 18:48] danmosemsft commented on #16489
Windows in both cases.

[code]

This needs logging added for the two times. @sepidehMS could you real quick add that as I guess @Priya91 has networking test failures to look at?

[2017-02-27 18:49] lmolkova commented on #16491
@cwe1ss

We expect every kind of Activity to have specific DiagnosticSource. Tracer should listen to all sources interesting for an application: Http, AspNetCore, etc...

* Start/Stop events have different payload for different kinds if activities: for Http outgoing requests it is  HttpRequest(Resonse)Message; for ASP.NET Core it will probably be HttpContext, etc... Generic listener would not be a

[2017-02-27 18:54] jkotas commented on #16354
@ericstj What is the right way to build `netstandard1.1` configuration of System.Reflection.Metadata?

I have tried following https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/project-guidelines.md and run `msbuild /p:BuildConfiguration=netstandard1.1` in src\System.Reflection.Metadata\src. I got a ton of errors about missing System.Runtime, etc.

[2017-02-27 19:09] ericstj commented on #16354
The thing we document is to do a single build first specifying `-allConfigurations`.

The material thing this does is a build of external for all configurations, so if you wanted something shorter for this case in particular you could do `msbuild external/dir.proj /t:BuildAllConfigurations`.  And a slightly more general case is that then the same for ref.builds, which are needed if you have any re

[2017-02-27 19:10] steveharter commented on #14166
Update: we need to throw instead of asserting in the three cases above

[2017-02-27 19:12] pgavlin commented on #15913
@MattGal good to know--thanks for the clarification! It's just the CoreCLR scripting that's suspect, then.

[2017-02-27 19:15] pgavlin commented on #15913
@RussKeldorph I've created https://github.com/dotnet/coreclr/issues/9832 and assigned it to you to track fixing the scripting. I'm closing this issue as the test failure is no longer occurring.

[2017-02-27 19:15] #15913 closed

[2017-02-27 19:18] willdean commented on #984
1. I guess some kind of triage into 'tests which can definitely run without any timing issues' and 'tests which are picky' would be useful - the largest possible subset which we can definitely run on the CI is worth identifying.  It can be rather difficult to identify this subset without the risk of breaking the build (like a few weeks ago), because the timing sensitivities can be very difficult t

[2017-02-27 19:26] safern commented on #16007
What do you mean with that?

[2017-02-27 19:29] safern commented on #16374
@ianhays and I agree with @KrzysztofCwalina. What about adding this type in CoreFXLab? @jamesqo

[2017-02-27 19:44] dcwuser commented on #16486
I just verified @benaadams  assertion that, if you use the 1.1 runtime release with the 1.0.0-preview2-1-003177 SDK release, you get the new behavior.

This is absolutely fantastic and is, for my purposes, probably the single best change to come out of .NET core. It appears that the change also fixes more subtle bad behavior for lower arguments. (For example, the value at 104348/33215, a number cl

[2017-02-27 19:44] #16486 closed

[2017-02-27 19:45] sepidehMS commented on #16489
Logging added

[2017-02-27 19:47] karelz commented on #16374
CoreFXLab is not the best place either - it is gated by MS employees and we do not monitor it entirely :( (I've heard we had PRs opened for CommandLine for 1 year there :().
I would suggest to use entirely separate repo, purely community driven /owned by community members ... @jamesqo would that work for you?

[2017-02-27 19:55] JeremyKuhne commented on #984
I think the virtual driver (com-0-com) question should be spun into a new issue and marked up for grabs. It is a promising idea- but I definitely don't want to gate on it or force on anyone who isn't truly excited about doing the investigation/work.  I'd also consider creating a linked issue around getting more existing tests into the CI.

I think we might be able to get some good coverage with re

[2017-02-27 20:12] karelz commented on #15913
@pgavlin I thought that CoreCLR updates are driven by "pipeline build" - there are regular updates to CoreFX saying which CoreCLR version to use - e.g. https://github.com/dotnet/corefx/pull/16499

[2017-02-27 20:22] cwe1ss commented on #16491
Thank you very much for your responses!

**Regarding my first question (subscribing to all activities):**

@lmolkova

I don't understand how this could possibly work if there's no separation between instrumentation code and tracer code.

Let's say the following things are instrumented with the Activity API: Incoming ASP.NET requests, outgoing HTTP requests (HttpClient), outgoing SQL calls (SqlClie

[2017-02-27 20:25] karelz commented on #984
Do you think we can identify them by running the tests in a loop locally / in a local VM or in CI? (for CI - we could submit test-only PRs without intent to merge them)

So how would a real-world SerialPort code deal with these timeouts? Would it retry? Or just refuse to run on non-dedicated machine?
If it is the former, could we do the same in the test itself? If it is the latter, then we should

[2017-02-27 20:37] #16498 closed

[2017-02-27 21:07] weshaggard opened #16508 "Add support for consuming local build coreclr in corefx builds"
A number of folks want to be able to build a local coreclr and consume it in corefx for testing purposes. There are a number of potential ways to do that today but we haven't documented them. This issue is tracking at least documenting them and potentially making improvements to make that scenario easier.

[2017-02-27 21:09] ianhays commented on #16352
Forcing it to no-echo for the whole process after initialization seems potentially dangerous as I doubt people will be expecting it. I think that's a behavior I'd rather leave up to the programmer and not force it to be done automatically (or whenever Console is used for the first time).

So, yeah, that.

[2017-02-27 21:11] lmolkova commented on #16491
Regarding the Activity API:
* It formalizes context for any type of operation
* It is globally accessible, so whenever you decide to log something (not necessarily in scope of start/stop), you have Activity.Current available

I understand your concern that every tracer should be aware of all kinds of activities.
If we expected tens or hundreds of different activity sources, it would become a probl

[2017-02-27 21:14] cwe1ss commented on #16491
**Regarding IDs:**

Duplicate root IDs are just one problem. I'm more concerned about the format of the ID and the possible cross machine overlaps due to incrementing numbers.

I'll try to explain the problem with incrementing numbers with a different example:

* I have a web API with two instances on different machines
* I use nginx as a load balancer. It is configured to auto-retry timeouts or f

[2017-02-27 21:16] daviwil commented on #16352
Is there an example anywhere of P/Invoking that call?  I see this P/Invoke signature:

https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/Common/src/Interop/Unix/System.Native/Interop.ReadStdinUnbuffered.cs#L15

Would it be enough to just copy that?

[2017-02-27 21:24] ianhays commented on #16352
@daviwil that is a pinvoke to our interop library [here](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Native/Unix/System.Native/pal_console.cpp#L109) (where there are also some comments related to this discussion we're having) where we call the actual Unix APIs. You could call pinvoke into our library or pinvoke to the Unix API's that it calls, either way shou

[2017-02-27 21:24] cwe1ss commented on #16491
Is RavenDb, MSMQ, Event Hubs, Service Bus, DocumentDB, RabbitMQ, MongoDB, Cassandra, Azure Search, Azure Table Storage, Azure Blob Storage, Redis, NCache, ... on that list? Is my mentioned custom payment API from my internal library on that list? :)

[2017-02-27 21:27] jkotas opened #16510 "System.Diagnostics.Tests.ProcessTests.TestProcessOnRemoteMachineWindows failure"
System.Diagnostics.Tests.ProcessTests.TestProcessOnRemoteMachineWindows will fail if the machine that it is running on has inaccessible performance counter. We should move this test to outer loop, or make it robust against dirty environment.

[code]

[2017-02-27 21:28] danroth27 commented on #6489
@Eilon @dougbu I believe the work is pretty much done. We are just waiting to align the release with the next update of ASP.NET Web API 2. You can grab the latest build of the package from http://myget.org/gallery/aspnetwebstacknightly.

[2017-02-27 21:28] jkotas commented on #16510
@pkukol has been running into this.

[2017-02-27 21:30] jkotas opened #16511 "WindowsPrincipalTests fail if the machine is not properly domain joined"
WindowsPrincipalTests fail if the machine is not properly domain joined. We should move these tests to outer loop.

[code]

[2017-02-27 21:31] jkotas commented on #16511
@pkukol has been running into this.

[2017-02-27 21:34] lmolkova commented on #16491
Most of them have REST API and could be handled as HTTP outgoing requests.

For others, I agree we should consider supporting common simple source in tracers. Then it will be up to particular instrumentation to either use custom source and make sure every tracer supports it or use default one with no perks.

[2017-02-27 21:40] cwe1ss commented on #16491
PS: Sorry for my negative view on this. I'm just really afraid that this thing won't be as useful as it should/could be or even ends up counter productive - especially because it's such a central part of the .NET framework and there probably won't be much space for change once this has shipped.

While I fully agree that OpenTracing could do much better in some areas (e.g. wire format), it also doe

[2017-02-27 21:42] lmolkova commented on #16500
Another problem mentioned by @cwe1ss in #16491:
When ParentId is provided, Id suffix is number of requests received by this instance. E.g. if first request ever received by the service fails and retry is handled by another instance, both tries will have the same Id.
Again, the probability of this is quite low.

[2017-02-27 21:43] lmolkova commented on #16491
My request is instrumented with an existing Request-Id of /123/45.

Note, that in `I-1` 1 is number of request received by this instance.

my service on my second machine also just processes its first request so it also ends up with the ID /123/45/I-1.

So, it may be true only if this request is first on both instances. Which definitely may happen, but the probability of it is low. I mentioned thi

[2017-02-27 21:45] vancem commented on #16491
@cwe1ss  with regard to listening to everything:   DiagnosticSource supports this.   That  is what the DiagnosticListener.AllListeners is for.  This is basically a subscription to susbscriptions.  When you subscribe to it you get a callback every time a DiagnosticSource gets created.   Thus you get the opportunity to decide if you want to subscribe to it or not.    Thus it is super-easy to subscri

[2017-02-27 21:47] ianhays commented on #9353
Closing this as https://github.com/dotnet/corefx/pull/12831 is the solution to https://github.com/dotnet/corefx/issues/12107 and it's unlikely we'll make any other improvements/modifications to these tests in the 2.0.0 timeframe.

Personally I'd prefer to leave the NegotiateStream tests as-is because they're some of the most stable tests we have for networking which is imo valuable enough to make