[2017-03-03 01:45] karelz commented on #16645
@shmao I added labels & milestone on your behalf, please review them.

[2017-03-03 01:46] karelz commented on #16647
@shmao I updated labels & milestone on your behalf, please verify my changes.

[2017-03-03 01:47] karelz commented on #16640
@steveharter can you please comment?

[2017-03-03 01:47] karelz commented on #16430
Great, thanks! Mistakes happen ... (also to me ;-))

[2017-03-03 01:51] Jiayili1 commented on #10764
This issue is repro on build [20170302.02](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170302.02/workItem/System.Net.NameResolution.Pal.Tests/wilogs)

No result generated. detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170302.02/workItem/Sys

[2017-03-03 01:54] jamesqo opened #16651 "[CI Failure] ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_MismatchProtocols_Fails: "The credentials supplied to the package were not recognized""
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/4083/consoleFull#-126103689779fe3b83-f408-404c-b9e7-9207d232e5fc

[code]

[2017-03-03 01:55] bartonjs commented on #16640
`HMAC.Create()` is meaningless.  What HMAC?

`HMACSHA256.Create()` is `HMAC.Create()`.

Use `new HMACSHA256()`.

[2017-03-03 02:32] danmosemsft commented on #14068
@karelz we already decided to not support serialization and I made it throw and added a test. When I did that I overlooked this test that wants to verify it works. This test will never pass so I deleted it here.

[2017-03-03 02:37] terrajobst commented on #16619
@nguerrera

Fair point. I'll update the proposal to remove the alternative.

@justinvp

Quite frankly, I'm not sure we care that much. Formatting using the normal BCL APIs isn't very performant already (all arguments are boxed, the interaction between `CultureInfo` and formatters isn't ideal etc).

That alone wouldn't be a reason to punt this.

[2017-03-03 02:47] stephentoub commented on #16640
This is confusing, though. For some of these types we say "don't use the ctor, use the Create method", but for others at say "don't use the Create method, use the ctor". How does someone know what to do? Why not add HMACSHA256.Create, for example?

[2017-03-03 02:49] DrewScoggins opened #16653 "Disable Process perf tests"
With the new performance harness tooling that we are adding we generate too many events during the Process performance tests.  This causes to drop events and fail to upload results.  We should fix these tests, but I would like to go ahead and start getting results for the rest of the tests so I am going to disable these until we do the work to fix them.

[2017-03-03 02:50] stephentoub commented on #16640
Plus, regarding "What HMAC?", isnt there already an answer? "Whatever desktop does"

[2017-03-03 03:10] bartonjs commented on #16640
Desktop has an answer (the default HMAC, duh); but it makes no sense.  Anyone who calls it has bugs (or is the kind of person which makes us never able to upgrade defaults).

The answer is "if the algorithm class has a ctor, use it; otherwise use a Create method".  I wanted HMAC.Create cut from netstandard; maybe I can at least mark it Obsolete.  AsymmetricAlgorithm has the same problem... you wan

[2017-03-03 03:14] stephentoub commented on #13298
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug_prtest/20/consoleText

[2017-03-03 03:14] stephentoub commented on #13298
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_portablelinux_debug_prtest/11/

[2017-03-03 03:15] stephentoub commented on #16201
Failed again:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_release_prtest/1/consoleText

[2017-03-03 03:43] karelz commented on #14068
@danmosemsft thanks!

[2017-03-03 03:47] krwq commented on #16640
@bartonjs what about creating overloads like this then to make it less confusing:
[code]

anyway PSNE is not a good exception to get - wouldn't it be better to throw something like:
`new InvalidOperationException("Use blah instead.")`

[2017-03-03 03:47] justinvp commented on #16619
This is an area I'd like to see improve. Internal optimizations can be made to address much of the existing overhead and new generic overloads could be added to avoid boxing for common cases. This is being discussed in #1514.

It's unfortunate that using `FormattableString.Invariant`/`CurrentCulture` to be explicit requires extra unnecessary overhead, especially if analyzers are recommending/encou

[2017-03-03 03:49] karelz commented on #15622
Minor formatting modifications to the proposal. BTW: Nice job @sepidehMS! Thanks!

[2017-03-03 03:51] karelz commented on #15152
@alexperovich what is the value of having it in 2.0?
Did you consider up for grabs?

cc: @danmosemsft

[2017-03-03 04:29] bartonjs commented on #16640
@krwq Doesn't help, each algorithm them has algorithm-specific options :smile:

[2017-03-03 04:38] BharatRajMeriyala commented on #16598
Basically I have followed following steps mentioned in the article to create a docker machine.

https://docs.microsoft.com/en-us/azure/virtual-machines/virtual-machines-linux-docker-machine?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json#create-vms-with-docker-machine

and then I am running the usual docker commands to create a image of my dotnet core code which has this logic of setting networ

[2017-03-03 04:43] BharatRajMeriyala commented on #16598
All I see is Operating system as "Linux" on my Azure portal for Docker-machine. I am afraid I am not sure of the specific version here ..

[2017-03-03 04:53] danmosemsft commented on #16636
@stephentoub what's the best practice for investigating a Unix specific perf issue?

[2017-03-03 04:54] jkotas commented on #16593
- The tests that allocate gigabytes of memory should be maked `[OuterLoop]` because of they are not very friendly. For example, I do not want to have tests that allocate gigabytes of memory running on my laptop because of it would make it impossible to do anything else on it.

- The failure above was likely caused by multiple tests that allocate large block of memory running in parallel (there are

[2017-03-03 04:56] BharatRajMeriyala commented on #16598
canonical:UbuntuServer:16.04.0-LTS:latest is the linux version.

[2017-03-03 05:02] danmosemsft opened #16654 "XmlDsigC14NTransformTest failure due to concurrent file access"
@krwq @tintoy @anthonylangsworth there are several tests potentially creating a file named `doc.dtd` in the same folder concurrently.

They should use a pattern like
[code]

[code]

[2017-03-03 05:06] tintoy commented on #16654
Give me 5 mins and I'll get onto this.

[2017-03-03 05:07] danmosemsft opened #16655 "Failure in System.Threading.OverlappedTests"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/lastCompletedBuild/testReport/(root)/OverlappedTests/PropertyTest1/

Note that the Assert.Equal's in this test file are backwards -- the expected value is supposed to go first. So it's actually expecting 0 and getting 2. Please fix...

https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/

[2017-03-03 05:11] richlander commented on #12737
Looks like @leecow has a proposal for this, which is great, with #16629.

[2017-03-03 05:11] #12737 closed

[2017-03-03 05:14] tintoy commented on #16654
@danmosemsft I think these tests may have been ported from mono (their design is a little odd) - it may take a while to split out the file-access stuff, so would you like me to mark them for `Skip` until they've been modified?

[2017-03-03 05:16] krwq commented on #16654
@tintoy is it possible to simply replace TempFile with MemoryStream?

[2017-03-03 05:19] tintoy commented on #16654
I think the problem is that these tests are relying on the fact that resources (such as `doc.dtd`) referenced in the in the input XML will be resolved from the current directory by default. I'm a little rusty, but isn't there some sort of entity resolver we could hook instead?

[2017-03-03 05:20] tintoy commented on #16654
Oh yes - `XmlUrlResolver`. Perhaps an alternative implementation could do the trick?

[2017-03-03 05:21] tintoy commented on #16654
`XmlPreloadedResolver`, for example, sounds like an ideal candidate.

[2017-03-03 05:22] tintoy commented on #16654
Ugh, in corefx that's in `System.Private.Xml`. I take it that means it's off-limits, yes?

[2017-03-03 05:24] krwq commented on #16654
@tintoy can we quickly rename the temporary file names to like doc1, doc2 etc so that the build is unblocked and then after we finish fixing the tests we can get it properly fixed?

[2017-03-03 05:24] tintoy commented on #16654
Ok, I can do that I think.

[2017-03-03 05:25] tintoy commented on #16654
Where does `TempFile` live?

[2017-03-03 05:25] krwq commented on #16654
https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/IO/TempFile.cs

[2017-03-03 05:28] tintoy commented on #16654
Ta.

[2017-03-03 05:31] danmosemsft commented on #16655
I can't figure out what this is. The only thing I notice is that it could happen if somehow two Overlapped classes concurrently got the same OverlappedData from the PinnableBufferCache. Don't know how that could be possible though.

https://github.com/dotnet/coreclr/blob/68f72dd2587c3365a9fe74d1991f93612c3bc62a/src/mscorlib/src/System/Threading/Overlapped.cs#L252

[2017-03-03 05:32] krwq commented on #16654
@tintoy - press ? anywhere but text editor on github and see all the shortcuts. when you switch to code you can press 't' and type a class name

[2017-03-03 05:33] danmosemsft commented on #16654
Fixed my snippet above.

[2017-03-03 05:33] tintoy commented on #16654
@krwq thanks! I knew about the keyboard shortcuts, but didn't know the code-search was so useful :)

[2017-03-03 05:42] tintoy commented on #16654
Ugh, these tests are a nightmare. This may take a little longer. The suggested approach is insufficient because a lot of the tests depend specific file names (which are hard-coded in static strings used as input to the tests).

[2017-03-03 05:47] krwq commented on #16654
@tintoy would `[assembly: CollectionBehavior(DisableTestParallelization = true)]` or `[assembly: CollectionBehavior(CollectionBehavior.CollectionPerAssembly)]` help us for now? (Xunit namespace)

[2017-03-03 05:48] tintoy commented on #16654
Probably, but it would mean I've wasted the last 30 mins of work :-)

If you guys are in a hurry, go for it. Otherwise I'll only be another 10 mins or so I hope.

[2017-03-03 05:55] krwq commented on #16654
@tintoy go ahead and finish :+1: I just didn't want you to spend too much time on it

[2017-03-03 05:56] tintoy commented on #16654
No worries, I'm just fighting to do it without an IDE ;-P

[2017-03-03 05:57] krwq commented on #16654
@tintoy have you tried Code? Should work on most of the OSes. By the way, thank you for helping here!

[2017-03-03 05:58] tintoy commented on #16654
Oh yes it's what I use normally, but omnisharp can't cope with corefx project layout :-)

[2017-03-03 06:02] Jiayili1 commented on #16201
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug/lastCompletedBuild/testReport/

[2017-03-03 06:03] tintoy commented on #16654
@krwq could you please review and let me know if this approach looks workable (as an interim situation, at least)?

[2017-03-03 06:03] tintoy commented on #16654
If so, I'll open a PR or you can cherry-pick (up to you).

[2017-03-03 06:03] tintoy commented on #16654
I went for the dumbest approach possible on the basis that this is just a hack to keep things moving :)

[2017-03-03 06:04] tintoy commented on #16654
BTW, I do have a Windows laptop, too, just not with me.

[2017-03-03 06:14] Jiayili1 commented on #16654
Test System.Security.Cryptography.Xml.Tests.XmlDsigC14NTransformTest.C14NSpecExample1 failed with System.IO.IOException.

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/119/testReport/System.Security.Cryptography.Xml.Tests/XmlDsigC14NTransformTest/C14NSpecExample1/

Message:
[code]

Stack Trace:
[code]

[2017-03-03 06:16] los93sol commented on #2089
Am I reading the pull request right?  Looks like this was accepted a few days ago so if we build from source we should be able to try it out?

[2017-03-03 06:21] Jiayili1 commented on #16655
Failed here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/114/consoleText

[2017-03-03 06:22] tintoy commented on #16654
Hi @Jiayili1, will hopefully be fixed by #16657 (just awaiting approval from @danmosemsft and @krwq).

[2017-03-03 06:30] danmosemsft commented on #16654
I'll let @krwq sign off.. thanks for fixing so promptly

[2017-03-03 06:55] Sin8a commented on #5766
they should opensource silverlight 5 .. since their html5 move and their win8 move/winrt... and now xamarin .... COMMON!! pathetic ... how can one go from silverlight 5 to all those crap? HOW?

[2017-03-03 07:00] anthonylangsworth commented on #16654
Thanks for jumping on this so quickly, @tintoy .

[2017-03-03 07:04] Jiayili1 opened #16658 "Test "System.Security.Cryptography.Xml.Tests.XmlDsigC14NWithCommentsTransformTest.C14NSpecExample1_WithoutResolver" failed in CI"
Configuration: OuterLoop_Windows10_release ([build#116](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/116/testReport/))

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/116/consoleText

Message:
[code]

Stack Trace:
[code]

[2017-03-03 07:14] anthonylangsworth commented on #16654
... and welcome to my world trying to get these tests working in the first place. People wonder why I want to clean them up. :-)

[2017-03-03 07:36] cwe1ss commented on #16491
Not as simple/nice as the StartActivity/StopActivity overloads but I could live with it.

I want to ensure that I'm in an activity event, that's all! And just comparing the string name suffix seems weak to me. Imagine I'm an an ASP.NET core request (so Activity.Current is set) and someone manually calls a DiagnosticSource.Write event with the name "Foo.Start" - but it's just a normal event and doe

[2017-03-03 07:43] cwe1ss commented on #16491
Edit: Sorry, I would have access to the payload in Stop as well (assuming implementors pass it as well) but I still need the Start logic at least for the baggage. And even if I wouldn't need it, what sense would it make to have this event if I couldn't reliably use it?!

[2017-03-03 07:44] karelz commented on #2089
Yes, I think we have all of DirectoryServices building, however we do not have any tests - which prevents us from shipping the package as stable and from improvements to the code base (bug fixes, enhancements, etc.).
If you can give it a try on build from source, that would be great. If you (or anyone else) wants to help us add tests, or start Linux port, that would be even better :)

[2017-03-03 07:58] karelz commented on #15830
I think it is perfectly fine to ship libraries targeting the LATEST .NET Standard from CoreFX. However, shipping libraries targeting older Standards is pain - we don't have any test infra for those. It is not impossible, but very costly (infra and also the package matrix).
Also, by adding 'every new type' in each release into a new library in CoreFX will soon get out of hand on complexity.

My sug

[2017-03-03 08:01] karelz commented on #16598
Which OS is used on your local and in Azure host - in places where it works?

[2017-03-03 08:07] karelz commented on #12203
OK, marking as dupe of #15112. Please shout out if it is wrong.

[2017-03-03 08:07] #12203 closed

[2017-03-03 08:10] karelz commented on #12501
We didn't respond for a long time on this issue, very sorry for that :( (finishing triage of all repo).
Is it still a problem for you?

[2017-03-03 08:15] karelz commented on #4497
@AtsushiKan ping?

[2017-03-03 08:27] karelz commented on #16658
Dupe of #16654

[2017-03-03 08:27] #16658 closed

[2017-03-03 08:29] karelz commented on #13592
@joperezr can you please file 2 issues?

[2017-03-03 08:33] karelz commented on #11873
@weshaggard can you please help us evaluate usage of `AllowWriteStreamBuffering`?

[2017-03-03 08:59] davidfowl commented on #4544
This can be closed now that we have VS2017 tooling previews

[2017-03-03 09:30] RimashMohomed commented on #12501
@karelz couldn't test back on latest release.

[2017-03-03 09:52] dmitriyse commented on #1973
[code]

We can use this approach.

[2017-03-03 09:58] karelz commented on #12501
@RimashMohomed is it ok to close then? (or did I misunderstand your answer?)

[2017-03-03 10:20] RimashMohomed commented on #12501
@karelz what i mean was that i couldn't build the latest corefx on suse 11. So problem may exist and i am not sure about the issue. Other than that really need this issue solved and looking to build on suse 11

[2017-03-03 10:20] CornedBee commented on #16558
Tried the clean way, but I get version conflicts all over. Our app is a netcoreapp1.0, so package restore complains because it's not compatible (the created package is netcoreapp2.0).

If I modify our app to be netcoreapp2.0, package restore works, but compilation fails with a version incompatibility in some System package (might have been System.Runtime). Looks a bit like I'd have to transitively

[2017-03-03 10:28] karelz commented on #12501
@mellinoe can you help here please?

[2017-03-03 10:36] BharatRajMeriyala commented on #16598
On my local machine, I have windows 7 and I have deployed the app on Azure App Service for Dotnet Core application. It works fine in these places. Only on my docker container running linux I have the issue.

[2017-03-03 11:00] dmitriyse opened #16660 "Proposal: Add IsImmutable property to IReadOnlyCollection<T> and IReadOnlyDictionary<TKey,TValue>"
When https://github.com/dotnet/csharplang/issues/52 feature will be added to C#/CLR (at least in restricted form), we will have ability to extend base BCL contracts.
This proposal rely on this suggestion and tries to solve ambiguous semantic of `ICollection<T>.IsReadOnly` property.

We needs a new property.
[code]

Let suppose we have two different collections both inherited from ICollection&lt;T>

[2017-03-03 11:28] dmitriyse opened #16661 "Proposal: Add full family of Immutable collection contracts."
[code]
Motivation:

[code]
Final bug can be found in totally different place where consumers of consumer of consumer of MyComponent received KeyNotFound exception (for example).

According to this logic we can say, no no no, better I will make the copies.

Imagine we have deep call chain. Every time we cannot rely on IReadOnly** and make copies.
Again it's no so C# way to write stupid boilerplate.

[2017-03-03 11:29] dmitriyse commented on #16660
Second approach I described in this issue https://github.com/dotnet/corefx/issues/16661

[2017-03-03 11:36] dmitriyse commented on #16626
I added more close to reality proposals related to this thread. Possibly annotation and compile-time analysis is a wrong way.
https://github.com/dotnet/corefx/issues/16660
https://github.com/dotnet/corefx/issues/16661

[2017-03-03 11:36] jimmyjudas opened #16662 "CSharpCodeGenerator outputs sealed override methods as virtual"
CSharpCodeGenerator will output a method with Attributes of `Public`, `Final` and `Override` as a virtual method. I guess it should be output as a sealed override method

[code]

[2017-03-03 11:41] dmitriyse commented on #16661
I know that IReadOnlySet<T> currently not exists but I home sometime this proposal will be implemented https://github.com/dotnet/corefx/issues/1973

[2017-03-03 12:08] stephentoub commented on #16640
@bartonjs, this still doesn't make sense to me.

HMAC.Create(string) takes an argument specifying exactly which algorithm to create, as documented on MSDN:
https://msdn.microsoft.com/en-us/library/kczffhwa(v=vs.110).aspx
yet we throw PNSE in Core.  How is the desktop behavior there so problematic that we need to break compat?

HMAC.Create() is documented on MSDN to create an SHA1 HMAC:
https://msd

[2017-03-03 12:16] stephentoub commented on #16636
Profiling is generally a good place to start. You can collect profiling data with the perfcollect tool and view it in PerfView:
https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/Documentation/project-docs/linux-performance-tracing.md

[2017-03-03 12:27] #16213 closed

[2017-03-03 12:29] #3482 closed

[2017-03-03 13:25] bartonjs commented on #16640
As it says on MSDN, it **by default** returns "the SHA-1 implementation of HMAC".  In Desktop if *any* executed library in the process decides to do `CryptoConfig.AddAlgorithm(typeof(HMACSHA256), "System.Security.Cryptography.HMAC");` any caller of this code is now using HMACSHA256 instead of HMACSHA1.

Will their code crash? Probably not.  HMAC has no sub-options.  They'll just generate a wrong-s

[2017-03-03 13:47] peterwurzinger commented on #16558
@CornedBee I tried the same thing today and came slightly further.
You will only be able to reference netstandard2-libs from a netstandard2-lib or a netcoreapp2-application - at least that's the way I unterstood it. You won't be able to build it in VS though - see [this](http://stackoverflow.com/questions/42446729/netcoreapp2-0-with-netstandard2-0). If you run `dotnet build` and/or `dotnet run` in

[2017-03-03 14:12] svick commented on #16660
Could you explain what those cases are? The one I can think of is when you're caching some collection and want to know if it's safe to cache it directly, or if you have to create a copy of it.

That's not what `ICollection<T>.IsReadOnly` does. Consider this code:

[code]

The output shows that even though `ro.IsReadOnly` returns `true`, `ro` is not immutable:

[code]

[The documentation](https://m

[2017-03-03 14:24] svick commented on #16661
1. I don't understand, what is the difference between `IImmutableList<T>` and `IFrozenList<T>`?
2. `IImmutableCollection` does not actually exist.
3. Implicit operators should never throw. And you can't have conversion operators to interfaces.

[2017-03-03 14:27] stephentoub commented on #16421
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/4093/consoleText
[code]

[2017-03-03 14:38] stephentoub commented on #16421
https://ci.dot.net/job/dotnet_corefx/job/master/job/opensuse42.1_release/1197/consoleText
[code]

[2017-03-03 14:38] dmitriyse commented on #16660
This is very bad example because ReadOnlyCollection is a special case. Main purpose of this class is to save some collection from changes but allow to read collection content.
It's protects from guys who will do:
[code]

IsReadOnly looks like have the problem with convention. IsReadOnly is ReadOnly or Immutable.
So we exactly trying to move from this dualism hell.

[2017-03-03 14:39] dmitriyse commented on #16660
Probably the only solution is adding new IsImmutable property.
We should analyze all BCL usages of IsReadOnly.

And finally write strict convention into all documentation.

[2017-03-03 14:44] augustl commented on #2576
@alexperovich interesting! If nothing else, I can at least implement an event loop in this separate long running thread and communicate to the GUI via queues. Thanks for the info!

[2017-03-03 14:46] AtsushiKan commented on #4497
Code inspection suggests it’s already permitted.

[2017-03-03 14:47] dmitriyse commented on #16661
1) IImmutableList<T> have too many method for immutable modifications (for example Add()) that is not required in most cases where IFrozenList will be used. Thread IFrozenList just like IReadOnlyList but with guaranty of immutability.
2) IImmutableCollection/IFrozenCollection is required!  This is exactly reason to have full inheritance chain of IFrozen*** that corresponds to IReadOnly***

3) This

[2017-03-03 14:53] mburbea commented on #4497
@AtsushiKan,
Sorry, it's been a long time since I looked at this issue.  I guess I assumed that because it only worked with a `MethodInfo`, it would not support the `newobj` opcode which only really works on `ConstructorInfo`.

[2017-03-03 14:55] JonHanna opened #16664 "Make Microsoft.CSharp use the coding style more like the rest of corefx"
I've already done some changes along these lines, though mostly when there was another benefit (if often a pretty tiny optimisation if considered solely as such).

Having been ported from C++ code has left its mark in some strange constructs, unconventional names, Get/Set method pairs instead of (or as well as) properties, etc. I don't know about anyone else, but I think I would have found the fix

[2017-03-03 15:04] MaximoTrinidad commented on #12452
Just an observation!

As in the beginning I was trying to use PowerShell 6.0 in WSL console but then the screen issues shows up.  I ended up going the direction of loading and using "Ubuntu Desktop" which made PowerShell 6.0 workable enough to play with it.

Have anyone try it?  I blogged about it: http://www.maxtblog.com/2017/01/windows-10-bash-and-powershell-redux/

So, I use the WSL with Window

[2017-03-03 15:10] JonHanna commented on #16662
Could this just be because `override` isn't valid unless it actually is a method in a base to override (CS0115) and it's avoiding outputting code that violates that rule?

[2017-03-03 15:11] JonHanna commented on #16662
Likewise CS0238 would then be a sensible reason for not including `sealed` in the output.

[2017-03-03 15:25] svick commented on #16662
As far as I can tell, this behavior is very confusing, but correct. [The documentation for `MemberAttributes`](https://msdn.microsoft.com/en-us/library/system.codedom.memberattributes(v=vs.110).aspx) says:

So, `MemberAttributes.Final` means "not `virtual`", it does not mean `sealed`.

Looking at [the code](https://referencesource.microsoft.com/#System/compmod/microsoft/csharp/csharpcodeprovider.c

[2017-03-03 15:34] stephentoub commented on #16640
In .NET Core, AddAlgorithm throws PlatformNotSupportedException:
https://github.com/dotnet/corefx/blob/74faad990a45f99a530038af213196c6c354952b/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/CryptoConfig.cs#L283
so how exactly does someone get into the concerning situation in Core?

[2017-03-03 15:34] vancem commented on #16491
As you determined, you have access to the payload (and baggage and tags) everywhere (in ALL events, there is nothing special about starts and stops).     But I want to make sure we have an understanding that you DON'T need to set the parent ID in the start (that is what System.Activity does).   The idea is that all you have to do as a Subscriber is decide what events you want and send them on to y

[2017-03-03 15:59] jimmyjudas commented on #16662
@JonHanna My example does miss out the base class and method, you're right. But we get the same behaviour in legitimate actual class hierarchy, plus removing the Final flag in my example does output an override method. But it was a good thing to point out regardless!

[2017-03-03 16:02] jimmyjudas commented on #16662
@svick The code could also be interpreted as someone not having considered the sealed override possibility in the first place :) But I certainly see your point about breaking changes. Thanks for looking at it anyway.

[2017-03-03 16:21] #4544 closed

[2017-03-03 16:34] stephentoub commented on #13778
Yes.  I made the test run 1000 times and submitted it to CI:
https://github.com/stephentoub/corefx/commit/dfba21cae81962baa235a456a17e8b27b08e679e
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/4001/
It failed basically every iteration.

[2017-03-03 16:44] steveharter commented on #13349
Tests are still flaky. OSX Debug outerloop PR run:
[code]

[2017-03-03 16:47] karelz commented on #4497
Naively I assume we can steal code from the `MethodInfo` overload, so we should have the same functionality/flexibility in `ConstructorInfo`. No need to mention it explicitly, the proposal in top post is now good to go. Thank you @mburbea @AtsushiKan!

[2017-03-03 16:48] joperezr commented on #15966
no, Registry is not available, so we have to decide to either throw not supported for those set of Apis or to implement them differently. I believe that in UAP it doesn't really make sense to access process information of a remote machine BTW, so probably just throwing in that case is fine. cc @weshaggard

[2017-03-03 16:52] weshaggard commented on #15966
Hopefully they won't need to throw but instead become no-ops.

[2017-03-03 16:54] karelz commented on #16598
@Priya91 is it worth quick investigation to assess the impact?
Just based on description it seems to be a bit worrisome, but I may be wrong.
You moved it to Future, so I wonder what kind of additional insight you have ...

[2017-03-03 16:57] karelz commented on #11873
Usage data is on apisof.net (thanks @stephentoub for pointing it out): https://apisof.net/catalog/System.Net.HttpWebRequest.AllowWriteStreamBuffering
* nuget org - 1.1%
* API Port Telemetry - 3.1%

That seems above the threshold we went after in .NET Standard 2.0 - @danmosemsft, @weshaggard what do you think?

[2017-03-03 17:02] mramosMS commented on #14376
The Workaround worked to debug the application !!. What is required is to implement DebuggerTypeProxy ?

From: Felipe Pessoto [mailto:notifications@github.com]
Sent: Thursday, March 2, 2017 2:32 PM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Marlon Ramos Moscoso <mramos@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Span: Override ToString or add debugger v

[2017-03-03 17:15] steveharter opened #16665 "System.Security.Cryptography.Xml failing tests"
These two tests are failing outerloop (apparently multi-use problems with dtd file)
System.Security.Cryptography.Xml.Tests.XmlDsigC14NWithCommentsTransformTest.C14NSpecExample1_WithoutResolver (from (empty))
[code]

System.Security.Cryptography.Xml.Tests.XmlDsigC14NTransformTest.C14NSpecExample1 (from (empty))
[code]

[2017-03-03 17:15] joperezr commented on #10338
Looks like they are all there except for System.Xml.XmlDocument. I'll send up a PR to fix this.

[2017-03-03 17:24] cwe1ss commented on #16491
:smile: I think that's the fundamental line where we just don't understand each other's use case. It seems to me that you have the PerfView whitelist approach in mind (tracing a fixed list of well known events) and I'm always talking about a general tracer which just logs all activities that exist - without knowing their names (but obviously with ways to apply filters).

I'm not sure I can explain

[2017-03-03 17:29] danmosemsft commented on #6778
@yizhang82 @tarekgh does this need to happen for UWP? If so please set milestone 2.1.

[2017-03-03 17:37] tarekgh commented on #6778
No this is corert specific and not UWP. This functionality already working in UWP.

[2017-03-03 17:39] karelz commented on #16660
@svick do you have documentation change proposal? We can ask docs folks to update it ...

@dmitriyse I still don't get your differentiation between IsReadOnly and IsImmutable, sorry. Do you have a small sample to demonstrate the difference? (something like @svick used above?)

[2017-03-03 17:41] bartonjs commented on #16640
While I'm still not a fan of the sub-algorithm `Create()` methods, I've been convinced by the mantle of compat that they should be done.

I'd probably argue in favor of hard coding the default as the only answer.  Particularly AsymmetricAlgorithm.Create(), since CryptoConfig can't create the opaque object that RSA.Create() returns.

[2017-03-03 17:43] stephentoub commented on #16640
I'm fine with that (and it's indistinguishable from accessing CryptoConfig as long as AddAlgorithm continues to throw PNSE and CryptoConfig doesn't access mutable configuration data).

[2017-03-03 17:43] bartonjs commented on #16654
Maybe all these tests should be changed to not read off of disk at all?  Embedded resources, string literals, etc.

Just thoughts.

[2017-03-03 17:48] karelz commented on #16665
Dupe of #16654

[2017-03-03 17:48] #16665 closed

[2017-03-03 17:52] Petermarcu opened #16669 "Finish filling in System.Security.Permissions.dll"
I hit RevertAssert but we should fill the rest in the best we can for compat. Based on a quick diff with .NET Framework, this is what I see missing:

[code]

[2017-03-03 17:54] danmosemsft commented on #16654
fixed by https://github.com/dotnet/corefx/pull/16657

[2017-03-03 17:54] #16654 closed

[2017-03-03 17:57] danmosemsft opened #16670 "Failure in System.Data.SqlClient.Tests.DiagnosticTest.ExecuteNonQueryAsyncTest"
[code]

@saurabh500 not sure whether this is a dupe.

https://ci.dot.net/job/dotnet_corefx/job/master/job/opensuse42.1_release/lastCompletedBuild/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteNonQueryAsyncTest/

[2017-03-03 17:58] danmosemsft commented on #16670
If the correct procedure is to subtract 128 then this is Errno 6: No such device or address

[2017-03-03 18:00] krwq commented on #16664
@JonHanna https://github.com/dotnet/codeformatter should fix most of the issues in an instant

[2017-03-03 18:04] stephentoub commented on #16670
If the value is higher than 128, then you subtract 128 to get the signal number, not errno value.  This is SIGABRT, which typically means unhandled exception, which you can see earlier in the log (another example of why I don't use the test view ;)

[code]

[2017-03-03 18:04] #1476 closed

[2017-03-03 18:05] joperezr commented on #16430
one more hit: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/4119/

[2017-03-03 18:08] karelz commented on #11873
Our threshold was around 0.1%, so this is clearly in from that point of view.

@davidsh @CIPop - can you guys please cost it roughly? (you said it is complex/costly), we will have to roll it up to our management chains for 2.0

[2017-03-03 18:08] danmosemsft commented on #16670
Ah...

[2017-03-03 18:10] stephentoub commented on #16670
(I need to find some time to make the remote executor better, e.g. to capture exceptions and propagate them to the host, to better highlight why / when things have hung, etc.  Just haven't gotten to it yet.)

[2017-03-03 18:17] joperezr opened #16673 "ServerAsyncAuthenticate_MismatchProtocols_Fails test fails in some builds"
Sample of build where it failed: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/4121

[code]

cc: @davidsh, @CIPop, @Priya91

[2017-03-03 18:18] Mike-EEE commented on #5766
Well it took them nearly two years, but UWP is finally spec'ing out markup extensions for their Xaml model:
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/7232264-add-markup-extensions-to-and-improve-winrt-xaml

Also of note, Noesis launched their v2.0 product last week, and it looks pretty impressive.  Its Xaml system already features markup extensions (in C++, w

[2017-03-03 18:22] joperezr opened #16674 "Add 32-bit version of some MathF tests"
broken down from #13592

PR #13572 marked a few tests to be 64-bit only, given that the assumptions they make were only meant for 64-bit runs.

Tests: MathF.Atan2 and MathF.Pow

[2017-03-03 18:24] dmitriyse commented on #16660
Ok.
Let suppose we have two different collections both inherited from ICollection<T>

First example is when library allows to access some internal collection by the interface.
[code]
this is ReadOnly meaning of IsReadOnly property.

---
Second collection can be well known ImmutableList<T>
[code]
This is immutable meaning of IsReadOnly property.

[2017-03-03 18:25] Priya91 commented on #16651
cc @ianhays Should this be dupe of #16516

[2017-03-03 18:25] joperezr opened #16675 "Add 32-bit version of ComplexTests"
Broken down from #13592

PR #13572 marked a few tests to be 64-bit only, given that the assumptions they make were only meant for
64-bit runs.

Tests: https://github.com/dotnet/corefx/pull/13572/files#diff-19973eb77d5f57cf6c8661e7fe588dc9

[2017-03-03 18:25] Priya91 commented on #16673
cc @ianhays Is this dupe of #16516

[2017-03-03 18:25] joperezr commented on #13592
Done. Closing this in favor of the newly opened ones.

[2017-03-03 18:25] #13592 closed

[2017-03-03 18:27] tannergooding commented on #16674
@joperezr, what was failing for Atan2 and Pow that caused them to be disabled? That sounds like a bug in the implementation that needs to be fixed. The tests are covering explicit corner cases where a specific output is expected on all platforms.

[2017-03-03 18:31] dmitriyse commented on #16660
We can do the next improvement in the documentation.

IsReadOnly says that only that all mutation method will return NotSupportedException or InvalidOperationException.
And no any more guaranties.
So it's too late and we have tons of code one collections uses ReadOnly semantic another Collection uses ReadOnly+Immutable semantic.

But mention that Immutable guaranty can give only IsImmutable proper

[2017-03-03 18:34] Priya91 commented on #16598
@BharatRajMeriyala Can you try this on the terminal in your docker container,

[code]

[2017-03-03 18:44] joperezr commented on #16674
[code]

[2017-03-03 18:50] joperezr commented on #16673
Closing this as it is a dupe of #16651

[2017-03-03 18:50] #16673 closed

[2017-03-03 19:00] Priya91 commented on #15966
This is to be tracked for 2.1.0 work backlog, it's not a priority for 2.0, so i'll not be working on this for now. The change is quite elaborate, we need to separate code that uses registry and setup separate build configuration for uap on process, i am not sure how to do this with the latest infra changes.

[2017-03-03 19:11] #6778 closed

[2017-03-03 19:17] Priya91 commented on #16629
If the intention to use os version is to make runtime decisions for the availability of a feature, etc, then we could have an api like ```CheckFeaturePresent``` etc, that could be a wrapper on pinvoke to check the existence of the native library. The point being to understand why os version is required for runtime decisions and find a different way to get that data without having to depend on corr

[2017-03-03 19:18] danmosemsft commented on #15966
I agree you have higher priority work.

However it is only used in 2 places, perf counters and ProcessStartInfo.Verbs. Both could quickly be wrapped in `if !NETNATIVE` temporarily and return null or throw or empty list. Then I assume adding the new configuration is quick if you know what you are doing. @joperezr if this would be 10 mins for you then you could do that.

[2017-03-03 19:21] ianhays commented on #16651
It should be, yes. This particular test failing is a new thing though; I'll push a PR disabling it and the other recent new failure.

[2017-03-03 19:21] sepidehMS opened #16680 "Improve code coverage for System.Xml namespace types"
These are some of the bigger types with low coverage in `System.Xml`. It would be great if we could add more tests to reach 80-90% coverage on these:

- [ ]  System.Xml.XmlConvert 66.3%
- [ ]  System.Xml.XmlDocument 53.8%
- [ ]  System.Xml.XmlNode 65.1%
- [ ]  System.Xml.XmlNodeReader 29.5%
- [ ]  System.Xml.XmlReader 62.9%
- [ ]  System.Xml.XmlTextReader 55.1%
- [ ]  System.Xml.XmlTextWriter 60.1

[2017-03-03 19:24] #16651 closed

[2017-03-03 19:24] deepak-khopade-isdr commented on #4638
private void InitializeWriter()
        {

            var settings = new XmlWriterSettings();
            settings.Indent = true;
            settings.Encoding = new ASCIIEncoding();
            _stringBuilder = new StringBuilder();
            _writer = XmlWriter.Create(_stringBuilder, settings);
        }

still getting "utf-16"... please help.

[2017-03-03 19:28] Priya91 commented on #10764
@Jiayili1 That build might not have had the fix that went in the PR #16549. Checking the latest build [20170303.02](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170303.02), i dont see this failure. Hence closing the issue as resolved.

[2017-03-03 19:29] krwq commented on #4638
@sepidehMS could you check if you can repro?

[2017-03-03 19:30] deepak-khopade-isdr commented on #4638
yes just working on the same now and not getting any results as expected.
running on .NET Core 1.1.0 on Ubuntu 16.04

[2017-03-03 19:31] sepidehMS opened #16683 "Improve code coverage for System.Xml.Serialization"
These are some of the bigger types with low coverage in `System.Xml.Serialization`. It would be great if we could add more tests to reach 80-90% coverage on these:

- [ ]  System.Xml.Serialization.SoapReflectionImporter 52.4%
- [ ]  System.Xml.Serialization.XmlReflectionImporter 67.2%
- [ ]  System.Xml.Serialization.XmlSchemaExporter 27.5%
- [ ]  System.Xml.Serialization.XmlSchemaImporter 31.6%
-

[2017-03-03 19:33] krwq commented on #16558
@peterwurzinger which version of VS are you using (if 2017 could you check the build number in about window?) - I will check if this is something we should be already supporting

[2017-03-03 19:34] sepidehMS commented on #16336
Closing this.

Broken down to:
https://github.com/dotnet/corefx/issues/16646
https://github.com/dotnet/corefx/issues/16649
https://github.com/dotnet/corefx/issues/16650
https://github.com/dotnet/corefx/issues/16680
https://github.com/dotnet/corefx/issues/16683

[2017-03-03 19:34] #16336 closed

[2017-03-03 19:43] Priya91 commented on #11036
@flint-rocketdesk Were you able to identify the problem? Can you please provide info on the result after the debugging session.

[2017-03-03 20:02] krwq opened #16685 "System.Security.Cryptography.Xml feature requests"
This is an issue to collect all the feature requests after we finish stabilizing.
Some of them might be already implemented on Mono and might need a port.
cc: @anthonylangsworth @tintoy @peterwurzinger

- [ ] SignedXmlTest.DataReferenceToNonDataObject (There is an existing test with this - currently this is also not working on Desktop but likely is on Mono)

[2017-03-03 20:05] krwq opened #16686 "VS is running tests marked with [ActiveIssue]"
Not sure if this is intentional but it seems like a bug to me
Works correctly from the command line

VS 2017 RC4 2130.1

[2017-03-03 20:08] tintoy commented on #16654
@bartonjs yeah, I was thinking perhaps a customised XmlResolver would handle most cases we care about in the current tests.

[2017-03-03 20:10] karelz commented on #13592
Thank you!

[2017-03-03 20:11] sepidehMS commented on #4638
@deepak-khopade-isdr

Strings are UTF-16, so writing to a StringBuilder you will always get UTF-16. To get the encoding you want, you can do this instead:

[code]

[2017-03-03 20:12] Priya91 commented on #10146
This issue was moved to dotnet/wcf#1792

[2017-03-03 20:17] karelz commented on #16660
OK, so `IsImmutable` means that it is truly immutable and doesn't change any internal state (caching, etc.).
What are the scenarios when you need that information? As interface/collection class user isn't `IsReadOnly` sufficient for you?

[2017-03-03 20:18] pakrym opened #16687 "Unable to load DLL 'System.Native' during System.Diagnostics.Process.Start"
# Repro

1. dotnet new
2. `project.csproj`
[code]

3. `dotnet restore`
4. `Program.cs`
[code]
5. `dotnet run`

# Expected
Process runs

# Actual
[code]
# Env
[code]

[2017-03-03 20:30] deepak-khopade-isdr commented on #4638
Thanks @sepidehMS. It works.

[2017-03-03 20:34] #4638 closed

[2017-03-03 21:19] ianhays opened #16688 "RemoteExecutorConsoleApp not restoring on some Fedora test runs"
The `RemoteExecutorConsoleApp.exe` that is used in the `System.Diagnostics.Process` tests is either missing or can't be accessed on some Fedora test runs. It happens infrequently, but enough to cause these failures:
- https://github.com/dotnet/corefx/issues/16488
- https://github.com/dotnet/corefx/issues/16400
- https://github.com/dotnet/corefx/issues/15844

FYI @stephentoub @Priya91

[2017-03-03 21:20] weshaggard commented on #11873
@karelz I'm not sure I understand the question. AllowWriteStreamBuffering is part of .NET Standard 2.0 so the API has been added back, is the question whether or not we should fix the implementation to do the buffering correctly again? If so I would yes we probably should in order to be compatible as that flag is set in the default set of flags we use (https://github.com/dotnet/corefx/blob/ec2a619

[2017-03-03 21:20] ianhays commented on #15844
I'm tracking this failure in https://github.com/dotnet/corefx/issues/16688. Please do not re-open this issue, but instead post any failures in that issue.

The RemoteExecutorConsoleApp isn't available on some fedora runs and it's causing this failure.

[2017-03-03 21:20] #15844 closed

[2017-03-03 21:20] ianhays commented on #16400
I'm tracking this failure in https://github.com/dotnet/corefx/issues/16688. Please do not re-open this issue, but instead post any failures in that issue.

The RemoteExecutorConsoleApp isn't available on some fedora runs and it's causing this failure.

[2017-03-03 21:20] #16400 closed

[2017-03-03 21:20] ianhays commented on #16488
I'm tracking this failure in https://github.com/dotnet/corefx/issues/16688. Please do not re-open this issue, but instead post any failures in that issue.

The RemoteExecutorConsoleApp isn't available on some fedora runs and it's causing this failure.

[2017-03-03 21:20] #16488 closed

[2017-03-03 21:21] #3656 closed

[2017-03-03 21:24] weshaggard commented on #5072
Looks this was just a preemptive one filed when on one left comments on the PR, and can be closed.

[2017-03-03 21:24] #5072 closed

[2017-03-03 21:34] stephentoub commented on #16688
@ianhays, interesting. Are you saying that all of those exit code 145s happen when the forked process fails to find or open the remote executor exe?

[2017-03-03 21:37] ianhays commented on #16688
Yup. I grabbed a fedora VM and ran the tests without the Remote*exe in the directory and reproduced the above 3 failures.

[2017-03-03 21:39] ianhays commented on #16688
I'm getting all of the failures at once though when I do that, whereas in the above failures they are only one at a time. Maybe there's some interference or something that is blocking off the exe from being used in a test and dotnet is failing because of it?

[2017-03-03 21:49] danmosemsft commented on #16683
xml serialization= area-serialization

[2017-03-03 21:49] anthonylangsworth commented on #16654
Agreed. Ironically, I wrote the skeleton of one last night then removed it. Have a look at [`XmlPreloadedResolver`](https://msdn.microsoft.com/en-us/library/system.xml.resolvers.xmlpreloadedresolver(v=vs.110).aspx) in `System.Xml.Resolvers`. It might already do what we need.

[2017-03-03 21:50] peterwurzinger commented on #16558
@krwq It's VS2017 RC, which I downloaded ~2 days ago. Unfortunately I won't be able to check the build Nr before Monday, but may have time to try to reproduce the problem on another machine with fresh binaries of VS17.

[2017-03-03 21:55] danmosemsft commented on #16636
@deppe any interest in grabbing a trace on Linux as above? With such a big difference the problem area might jump out.

[2017-03-03 21:57] ahsonkhan commented on #14376
@KrzysztofCwalina, do you have any insights on implementing DebuggerTypeProxy?

[2017-03-03 22:05] mellinoe commented on #16687
I think this is most likely a duplicate of https://github.com/dotnet/corefx/issues/16621, which should be fixed in the latest builds.

@ericstj

[2017-03-03 22:07] KrzysztofCwalina commented on #14376
I implemented such proxy some time ago. It did not work. There was an issue in the debugger that prevented it from working. I don't think the issues have been resolved.

[2017-03-03 22:10] sepidehMS commented on #10824
Test hasn't failed in any recent runs and was only disabled for net46 in https://github.com/dotnet/corefx/issues/11332 due to a bug in Desktop. Closing.

[2017-03-03 22:10] #10824 closed

[2017-03-03 22:11] weshaggard commented on #16687
Yes this is a duplicate of https://github.com/dotnet/corefx/issues/16621 which should be fixed with today's packages.

[2017-03-03 22:11] #16687 closed

[2017-03-03 22:19] steveharter commented on #16585
There are two ways to get the raw CryptoConfig to work with the Csp types:
1) Easy: use the neutral string when calling CryptoConfig (e.g. "Aes" instead of "AesCryptoServiceProvider") and modify CryptoConfig to create the corresponding platform specific type (using Aes.Create() which will create Cng or OpenSsl version).
-- Could also map "AesCryptoServiceProvider" to equivalent of "Aes" to create

[2017-03-03 22:56] danmosemsft opened #16689 "Add Jenkins CI verb to do some combined extra testing"
Right now if you want to test more (eg Win7 or outerloop) you have to pick and choose manually from the verbs. Nobody really does this. We could easily define a new verb in `netci.groovy` that grabbed a selected set for you.

Looking through all the stuff that's not run by default, here's a potential subset that covers Win 7 and outerloop on several OS's

[code]

I only eyeballed that -- we could

[2017-03-03 23:13] fujiy commented on #14376
@KrzysztofCwalina we are thinking to implement something like https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/HashSet.cs

[2017-03-03 23:20] karelz commented on #11873
@weshaggard the buffering is hidden under `AllowWriteStreamBuffering = true`. It is not the default.
We decided to leave it in 2.0 for now and figure out the cost.

[2017-03-03 23:20] krwq opened #16690 "API to get DSA signature length"
DSA signature length seems to be 40 + value depending on ASN1 encoding. Is there some consistent API where we could check that? On Desktop it seems to always be 40 bytes but on .NET Core we seem to be creating 64 byte length signatures (could be a bug on .NET Core too).

Related test:
System.Security.Cryptography.Xml: SignedXmlTest.AsymmetricDSASignature

[2017-03-03 23:21] KrzysztofCwalina commented on #14376
@fujiy, which particular part are you thinking about implementing? the proxy? If yes, I do understand how proxies work. The particular implementation of the proxy for Span<T>that I implemented simply calls this.ToArray(), and it does not work. The reason is that the debugger uses an interpreter in some scenarios and it cannot interpret something about span (which is a very bizarre type).

Possibly

[2017-03-03 23:31] krwq opened #16691 "Fix System.Xml.Cryptography.Xml : SignedXmlTest.AsymmetricDSASignature"
Test is failing because SignatureValue.Length is not 40. This behavior can be correct. When starting to accept values `>= 40` it fails for different reasons. Further investigate why is this happening.

cc: @tintoy @anthonylangsworth @peterwurzinger - could you help investigating this one if you got more context?

[2017-03-03 23:44] karelz commented on #16661
Why do I need to distinguish between ReadOnly vs. Frozen?
What are real-world scenarios?
How common is it?
Can IReadOnly or IImmutable be used as a workaround?

[2017-03-03 23:50] karelz commented on #11873
I appologize (@weshaggard corrected me) - the flag is set in [Default](https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L84) on .NET Core.
@davidsh @CIPop does Desktop have the same Default value with the flag set?
When the flag set, what does the buffering mean? Is the in-memory stream considered the buffer? (o

[2017-03-03 23:52] karelz commented on #16685
@krwq can you please triage the issue right away? (issue type, milestone) Thanks!

[2017-03-03 23:56] sepidehMS commented on #14875
@tloo Is your question still valid?

[2017-03-04 00:11] shmao opened #16692 "Serialization Tests Failed on UAPAOT due to RuntimeHelpers.GetUninitializedObject Missing"
Many of serialization tests are failing on uapaot due to the following exception,

According to [ApiCompatBaseline.uapaot.txt](https://github.com/dotnet/corefx/blob/45ecf2a1ef245433d544aa88b8b69ba26b368288/src/System.Runtime/src/ApiCompatBaseline.uapaot.txt#L195), the method seems not implemented by corelib. We need to implement the method to unblock the serialization tests on uapaot.

[2017-03-04 00:11] karelz commented on #3779
Looks like dupe of #14724

[2017-03-04 00:11] #3779 closed

[2017-03-04 00:14] karelz commented on #6920
I spoke with folks who have some background on System.AddIn. The technology, incl. the API surface relies heavily on Remoting for cross-domain/cross-process communication. Remoting is a large beast and it is not something we have (or want) in .NET Core. As such, I am afraid any attempt to truly port System.AddIn API surface or code is doomed.

The good news is that [AssemblyLoadContext](https://do

[2017-03-04 00:16] karelz commented on #16690
@krwq can you please fill issue type and milestone?

[2017-03-04 00:17] shmao opened #16693 "Microsoft.Win32.SafeHandles.CriticalHandleMinusOneIsInvalid Missing on UWP"
Building System.Runtime.Serialization.Xml test project failed on the following error,

  =4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

It seems that NetNative’s corelib (the one used in uapaot) doesn’t have this type yet.

[2017-03-04 00:19] danmosemsft opened #16694 "build -? should explain potential parameter values"
@danmosemsft commented on [Fri Mar 03 2017](https://github.com/dotnet/buildtools/issues/1366)

`build -?` lists what the parameters do but not the values for them. EG.,

[code]

This doesn't tell me what I want to know which is, how to build for UAP (for example). What I need to know is `build.cmd -framework:uap`   or `-framework:uapaot`

This is in https://github.com/dotnet/corefx/blob/8b7f07d225

[2017-03-04 00:22] MysticRyuujin opened #16695 "Issue with System.Net.WebClient.Proxy.GetProxy"
I noticed this bug while working with a Proxy Auto-Config PAC file. Basically, when using GetProxy, if I pass a relative URI (which generates an exception, which can be caught) and then continue on to pass an absolute URI, it stops processing the PAC file.

More details can be found [HERE](https://github.com/PowerShell/PowerShell/issues/3040) which is where I filed the original bug with the PowerS

[2017-03-04 00:24] danmosemsft opened #16696 "Some libraries are building implementations for platforms they don't run on"
eg System.DirectoryServices.Protocols has a single configuration in Configurations.props
[code]

This is a Windows specific implementation but as authored it is building that as a generic IL implementation (despite the Windows_NT prefix )

For platforms it doens't currently support (UAP, Unix) it should be building and packaging a PNSE assembly presumably with an appropriately conditioned <Generat

[2017-03-04 00:26] ericstj commented on #14875
I'll try to answer these questions.
1. Changing PreReleaseLabel is the right thing to do.  Let me know if this still doesn't work.
2. See this issue for the workaround: https://github.com/dotnet/cli/issues/2712.

Additionally, you'll want to make sure that you use build -allConfigurations in the latest CoreFx in order to build the packages.

[2017-03-04 00:28] huanwu opened #16697 "Do more sgen tests"
Use the existing XmlSerializer tests to verify the generated c# code.

[2017-03-04 00:30] huanwu opened #16698 "Do more svcutil tests"
Use the existing WCF tests to verify the svcutil scenario

[2017-03-04 00:33] huanwu opened #16699 "Create a prototype for a sgen tool that contain the c# codegen"
Currently all the c# codegen code is in the System.Xml， need investigate if to pull them out into a separate tool.

[2017-03-04 00:36] karelz commented on #14041
Next step: We need formal API proposal (linked above)

[2017-03-04 00:39] danmosemsft commented on #16696
In the case of this one, it would be nice to have it work in UWP -- it's Linux that it cannot work in in its current state and that needs a stub building.

There are others in a similar bucket eg serial port.

[2017-03-04 00:40] danmosemsft commented on #15303
done.

[2017-03-04 00:40] #15303 closed

[2017-03-04 00:43] sepidehMS commented on #14875
Thanks @ericstj!

[2017-03-04 00:45] karelz commented on #16040
Flipping back to "up for grabs"
Next steps: Pick up #16456 and finish it.
Complexity: Medium

[2017-03-04 00:47] krwq commented on #16654
@tintoy @anthonylangsworth let's leave it as a future improvement - I'd rather have more issues fixed than this tiny annoyance with test 😄 Anyways, if you feel strongly we should do it early go ahead (take a look at my PR first so that we don't get merge conflicts)

[2017-03-04 00:47] huanwu commented on #16006
Test SOAP, Array, List, Complex Type with primitive types, enum, XElement, Struct, nested type. Found enum and XElement not work as expected.

[2017-03-04 00:47] #16006 closed

[2017-03-04 00:48] karelz commented on #13607
Next step: We need formal API proposal

[2017-03-04 00:48] davidsh commented on #16695
Copying my response from the original issue filed in CoreCLR:

On Windows, .NET Core and the HTTP stack does not process PAC files itself. The proxy detection and evaluation logic of a PAC file is handled by the operating system (WinHTTP AutoProxy Discover Service). For the default system proxy, we do not know how to map a URI and find it's proxy. That information is hidden in the OS HTTP stack. W

[2017-03-04 00:49] huanwu opened #16700 "Prototype svcutil pregeneration"

[2017-03-04 00:50] #16005 closed

[2017-03-04 00:50] #16700 closed

[2017-03-04 00:51] davidsh commented on #11873
The default value is TRUE (which works). And  yes, "buffering" means that the data is held in a MemoryStream.  The dev gets the request stream and writes to it. But those writes are not sent on the wire but fill up a MemoryStream.  Later, when the request is sent to the HTTP server, the MemoryStream is replayed (usually by grabbing the stored buffer) and sent on the wire.

The Desktop and .NET Cor

[2017-03-04 00:51] huanwu opened #16701 "The generated c# code for XElement type cannot compile"
The generated code is different from desktop version and cannot compile.

[2017-03-04 00:52] huanwu opened #16702 "The generated code for enum type is wrong and cannot compile"
Cannot compile because the error "The CultureInfo exists in both System.Globalization and System.Runtime"

[2017-03-04 00:54] leecow commented on #16629
Priya is capturing the primary use category I was envisioning. Namely, this will simply report environment information as presented by the OS and attempting to account for the usage of the data is essentially impossible.

Will add a few scenarios including those which have been raised in other issues to hopefully clarify.

[2017-03-04 00:57] TongQijie opened #16703 "DateTime? proprety value cannot be set correctly"
i have a class contains a property whose type is DateTime?

[code]

i set value to property 'DateValue' like this:

[code]

the problem is that subItem.DateValue is always {01/01/0001 00:07:28}. why?

please help me...

[2017-03-04 00:59] TongQijie commented on #16703
here is my dotnet --info:

[code]

[2017-03-04 01:00] safern commented on #16040
Just FYI: I had an implementation proposal but as we had other priorities now I stopped pursuing that but I did see improvements. Here is the PR whit my proposal: https://github.com/dotnet/corefx/pull/16456

[2017-03-04 01:00] mms- commented on #6920
Definetly makes sense about .Net Remoting. What is the recommended replacement for .Net Core/UWP inter process comm.?  WCF seems to have it's own limitations on these platforms.

Is System.Addin open source?

[2017-03-04 01:02] karelz commented on #11873
Thanks!
@weshaggard I noticed that you looked at (private) enum value instead of on the property with the same name [`AllowWriteStreamBuffering`](https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L439)

I think our usage analysis above is valid. Assuming people will (mostly) use the property only to set it to non

[2017-03-04 01:04] karelz commented on #12513
Next step: Validate if it is doable and create proposal for changes. Be careful about `DateTime.Parse` compat - we can't break it. If it is necessary, we might need to give up on this enhancement.

[2017-03-04 01:12] karelz commented on #6920
System.AddIn has available source code on ReferenceSource: https://referencesource.microsoft.com/#System.AddIn/System/Addin/Hosting/Store/AddIn.cs,de4c6dc050ca2e23
It is not part of the new one with MIT license https://github.com/Microsoft/referencesource

I don't think we provide any IPC layer on .NET Core - you might need to use WCF, Networking or OS IPC primitives.
cc @jkotas if he has other id

[2017-03-04 01:17] karelz commented on #11978
Next step: Do the change and measure perf on a test case.
Should be trivial

[2017-03-04 01:18] karelz commented on #11811
Next step: Review the code and assess feasibility.
Complexity: Medium

[2017-03-04 01:19] karelz commented on #11564
Next step: We need formal API proposal

[2017-03-04 01:22] karelz commented on #10632
The file is here: [HttpKnownHeaderNames.TryGetHeaderNames.cs](https://github.com/dotnet/corefx/blob/30f2f877c01940904b85691a09da5f91352ffad9/src/Common/src/System/Net/HttpKnownHeaderNames.TryGetHeaderName.cs)

Next step: We need formal API proposal - i.e. API shape (trivial) with motivation and use cases for it to be public API.

[2017-03-04 01:23] karelz commented on #10525
Next step: We need formal API proposal.

[2017-03-04 01:26] karelz commented on #9833
Next step: Investigate @jamesqo's prototype, carefully measure impact and propose solution with measured data
Complexity: Medium-Difficult

[2017-03-04 01:26] bartonjs commented on #16690
On Desktop we default to 1024-bit DSA, which follows FIPS 186-2.

On CoreFx we use 2048-bit DSA, following FIPS 186-3, on the systems that support it.

In general, you shouldn't care what the size the signature is, the crypto libraries will do that for you.  I'm not sure that there are real use cases for knowing what the expected size would be.

The smallest answer is 40 bytes for the output of DS

[2017-03-04 01:27] karelz commented on #9071
Next step: We need formal API proposal (list all places which need the above)

[2017-03-04 01:28] tarekgh commented on #16696
CC @ericstj

[2017-03-04 01:29] karelz commented on #8715
Next step: We need formal API proposal (exact API shape - see https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

Please assess impact on compatibility of existing code and existing binaries.

[2017-03-04 01:31] jamesqo commented on #9833
@karelz I don't think this is worth it.

[2017-03-04 01:31] #9833 closed

[2017-03-04 01:35] ericstj commented on #16696
This thing doesn't even ship anywhere... if it were added to a framework or a package was created we'd be catching the fact that it doesn't have an impl for unix.

It's not clear what this issue is asking or which libraries it applies to.  Once it has that then I think the right thing to do would be to assign that to the library owner...

[2017-03-04 01:36] karelz commented on #16375
Next step: We need [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2017-03-04 01:44] danmosemsft commented on #15741
@weshaggard because that condition rotted, we're not doing it at all now. What shoudl the condition be?

[2017-03-04 01:45] tarekgh commented on #16696
@danmosemsft if you have a list we can open issues to the library owners as @ericstj suggested.

[2017-03-04 01:45] krwq commented on #16690
@bartonjs I can see at least couple of use cases - i.e. if you were signing some binary blocks and wanted to inject a signature somewhere in the middle you need to leave some space for it and you need to know how much. I'll leave this issue for you to decide if we want this or not.

[2017-03-04 01:45] danmosemsft commented on #16022
Did this regress because this condition is never true anymore?
https://github.com/dotnet/corefx/blob/master/dir.props#L77

[2017-03-04 01:45] danmosemsft commented on #15741
Not working at all right now: https://github.com/dotnet/corefx/issues/16022

[2017-03-04 01:48] tarekgh commented on #16022
likely, but the proposed solution now is different than what we used to do.

[2017-03-04 01:50] karelz commented on #14151
This issue was moved to dotnet/coreclr#9953

[2017-03-04 01:50] #14151 closed

[2017-03-04 01:52] morganbr commented on #16022
@danmosemsft  If the fix is that simple, getting it in would be helpful to efforts to test new versions of CoreFX and ProjectN with each other since we're seeing other possible regressions from unexpected reflectable framework internals.

CC @DnlHarvey @joperezr

[2017-03-04 01:53] weshaggard commented on #15741
@danmosemsft this is a slightly different issue from #16022. This is about the facades and that issue is just about Microsoft.CSharp.

[2017-03-04 02:02] weshaggard commented on #16022
Currently the repo has all things without this because of the at condition, but we haven't shipped any of this yet. This issue is about the Microsoft.CSharp regression which was caused by another issue I can talk to you offline if you want to know the details.

[2017-03-04 02:02] karelz commented on #11843
@Priya91 can you please triage it offline? What is the impact on 2.0?

[2017-03-04 02:31] bartonjs opened #16705 "[dev/apple_crypto] Cannot export as PFX when collection (or cert) has no private keys"
`SecItemExport` returns an error when the collection it is given has no private keys and it is exporting as a PKCS12/PFX.

At least, this behavior is true on macOS Sierra 10.12.3.

[2017-03-04 02:49] JonHanna commented on #16664
That's definitely going to be used, but it doesn't deal with some of the things I'm thinking of. It won't do any of the first ("clean-up") part of #16663 and given:

[code]

It will produce:

[code]

Whereas I think that would be better as:

[code]

(Or possibly a readonly property that is set by a constructor, if that would work).

[2017-03-04 02:56] krwq commented on #16664
@JonHanna - would it be possible to write rules for that? It would be nice to get CodeFormatter more up to date and at the same time do some useful refactoring

[2017-03-04 03:05] bartonjs opened #16708 "Stop producing S.S.C.Xml package until it's ready."
Apparently we need to move the `.pkgbuild` file out of the way until we're ready for it to be uploading for real.  (After test coverage is high enough).

[2017-03-04 03:05] bartonjs commented on #16708
@krwq You wanna jump on this one?

[2017-03-04 03:06] JonHanna commented on #16664
Certainly the more that can be automated the better, though having `GetXXX()`/`SetXXX()` pairs is pretty rare when something isn't ported from another language, so it may not be very useful generally.

Having members differentiated only by case which are sometimes functional duplicates of each other (so one can go and the references updated) and sometimes not isn't going to be very amenable to ful

[2017-03-04 03:08] bartonjs commented on #16690
Well, the answer on that is to call dsa.SignData(), which gives back a new array, and that's the IEEE P1363 signature length.  If you need it in ASN/DER you'd need to translate it, at which point you'd know the size.

If we had "sign into this spot" it might make more sense, but the ASN length can't be known a priori.

I'm going to go ahead and close this; but if there's a strong need and someone

[2017-03-04 03:08] #16690 closed

[2017-03-04 03:23] danmosemsft commented on #14093
@mellinoe I see this error after a crash on OSX. New issue?

https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/4033/consoleText

[code]

[2017-03-04 03:33] karelz commented on #16375
Just edit this one. I often keep the original text in "Original Proposal" section or "Details" as GH doesn't version issue text.
Ping the issue whenever you update top post, summarizing the changes - it is easier to keep track of what happened.

[2017-03-04 03:35] karelz commented on #16690
@krwq please check [simplified triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified) - only 1 issue type label ;-)

[2017-03-04 03:37] karelz commented on #9833
OK, thanks for the proposal and for following up!

[2017-03-04 03:40] karelz commented on #16695
Closing per explanation above. Feel free to reopen if you disagree.

[2017-03-04 03:44] davidsh commented on #16290
In terms of the strongly typed properties such as `ContentType`, we don't want to allow invalid formats. The whole point of the strongly typed properties is to produce only valid formats.

However, you can add headers that have invalid formats to them by using other APIs to add to the header collections for either HttpRequestMessage.Headers or HttpRequestMessage.Content.Headers.

Try using the `Tr

[2017-03-04 03:47] davidsh commented on #15191
As discussed, it is by-design behavior of this design.  The .NET Framework and .NET Core share this common design that handlers can not return NULL HttpResponseMessage objects.

[2017-03-04 03:47] #15191 closed

[2017-03-04 03:49] davidsh commented on #15591
Setting to Future since these would be new APIs and beyond NETStandard2.0.

[2017-03-04 03:53] davidsh commented on #15206
The latest STABLE version of System.Net.Http library, NuGet version 4.3.1, no longer uses WinHTTP/WinHttpHandler as the HTTP stack when running on .NET Framework (Desktop). Instead, it goes back to the same HTTP stack as normal .NET Framework.

So, this bug would not repro anymore with the latest package of System.Net.Http.

Closing this issue for now.  Please try the repro again using the latest

[2017-03-04 03:53] #15206 closed

[2017-03-04 03:56] davidsh commented on #14374
It's possible that we could mark this type as public.  But that is basically an API change to the public API surface.

Please look at the API proposal process:
https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md

and feel free to submit a detailed proposal.

[2017-03-04 04:00] davidsh commented on #16265
Actually a dupe of #12038 which is a feature/API request for this.

[2017-03-04 04:00] #16265 closed

[2017-03-04 04:03] dmirmilshteyn commented on #14041
@karelz Here's the proposal. This is my first contribution here, so please let me know if I need to add more details/adjustments.

_Proposal_: Add a new constructor to System.Net.Sockets.Socket that allows instantiating a socket from a file descriptor. I imagine this would also need to be added to the next netstandard version, but this shouldn't introduce any extra dependencies/other breaking API

[2017-03-04 04:05] justinvp opened #16709 "Cleanup System.Data's LocaleMapper"
`System.Data` has an internal `LocaleMapper` helper class that maps LCIDs to locale names, locale names to LCIDs, and locale names to ANSI code pages, which was necessary to workaround missing `CultureInfo` APIs in .NET Core 1.0/1.1:

 - [LocaleMapper.Unix.cs](https://github.com/dotnet/corefx/blob/b70e5d1d7485b26dfc305597148bb2b4e11f3741/src/Common/src/System/Data/Locale/LocaleMapper.Unix.cs)
 - [

[2017-03-04 04:07] karelz commented on #14041
Can you please use the API template in [API process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)? It's much, much easier to read ;) Thanks!
Also please copy/move it into the top post - it is easier to find the latest version of the proposal.

[2017-03-04 04:09] davidsh commented on #9796
This is probably a Windows 7 specific bug with WinHTTP.  It is likely that our WinHttpHandler code is calling a WinHTTP API that isn't implemented on the Windows 7 version of WinHTTP.  That is why the error, "The option is invalid" is being returned.

This is a bug we should fix once we root cause the specific WinHTTP API call that is failing.  The repro scenario suggests it is limited some client

[2017-03-04 04:21] davidsh commented on #12282
If you are the author of a library that depends on NETStandard, then it is possible you can have different binary implementations in the NuGet package of your library.  If you want to have UWP implementations that use WinRT APIs, you can do that.  In general, any NuGet package can have multiple binaries in it.  You would need to target 'netcore50' for the moniker which is what NuGet uses when it t

[2017-03-04 04:23] davidsh commented on #13114
We would need to see the entire Visual Studio solution in order to make any recommendations.

But looking at the code above,  the use of .Wait() in a Main() method can cause deadlocks as well.

cc: @stephentoub who can also provide some guidance around best practices when writing async networking code.

[2017-03-04 04:39] geoffkizer commented on #14041
@stephentoub Thoughts on this?

[2017-03-04 05:06] stephentoub commented on #13114
This is a normal entrypoint in a c# app? Using Wait there is fine; you need to block Main from exiting or else the program will end.

[2017-03-04 05:08] dmirmilshteyn commented on #14041
@karelz I've updated the top post based on the example from that document.

[2017-03-04 05:37] attilah commented on #16613
I've recreated all the 3 binaries, currently as a VS2017 solution, all the tests are passing, but not sure how would you like to have it included here? How you're building vcxprojs, etc.

I just found [System.ServiceProcess.ServiceController.TestNativeService.vcxproj](https://github.com/dotnet/corefx/blob/62212cca900081173fce70991c3a0b30393994a3/src/System.ServiceProcess.ServiceController/tests/Sy

[2017-03-04 05:38] krwq commented on #16708
@bartonjs, I thought renaming pkgproj to pkgproj.disabled fixed it already, are you sure we are still producing packages?

[2017-03-04 05:55] davidfowl commented on #9012
@akoeplinger what version of mono is going to fix this?

[2017-03-04 06:15] icylogic commented on #16375
Added a proposal including a short introduction, an example and some problems while leaving the original text unchanged in the section "Original Proposal"

[2017-03-04 06:31] bartonjs commented on #16708
@krwq Oh, was it already done? I just hadn't seen an issue, and no one spoke up on email.  If it's already done go ahead and close this.

[2017-03-04 06:46] krwq commented on #16708
yes: https://github.com/dotnet/corefx/pull/16538
I think we can close it then :wink:

[2017-03-04 06:46] #16708 closed

[2017-03-04 06:54] karelz commented on #16375
Sounds great, thank you!

Re: Compatibility: What happens when you pass the flag on lower Windows version or Linux/OSX version which does not support it? Is it no op? Or failure?

@geoffkizer @davidsh @CIPop @Priya91 any concerns/thumbs up? If I get 2 thumbs up, I can mark it as ready for API review on Tue.

[2017-03-04 06:57] karelz commented on #16613
Thanks @attilah - assigned to you!
I let @ianhays provide details.

[2017-03-04 06:59] attilah commented on #16613
@karelz, I submitted the fix, but obviously it fails to build for *nix, I think we need some magic tricks (settings) to exclude those from building for *nix, I don't have that knowledge about how this works in corefx (yet) ;-) 99% is there :-)

[2017-03-04 07:01] karelz commented on #16613
Got it. I am actually not sure if @ianhays didn't suggest to move the source code to corefx-testdata ... let's wait for him to reply ...

[2017-03-04 07:07] karelz commented on #14041
Great, thank you!

Does the fileDescriptor always match OS bitness on all OSs - Windows, Linux and Mac OS APIs?

@davidsh @geoffkizer @CIPop @Priya91 please comment or give thumbs up, thanks!

[2017-03-04 07:21] TongQijie commented on #16703
it works fine on windows.

[code]

[2017-03-04 08:44] wapac commented on #13114
OK, sorry, I thought it is clear on how to reproduce this. So I send the full solution. Once you compile it with MSVS (I used 2015 community edition update 3), you will have ConsoleApp1 and ConsoleApp2 executables. So you run ConsoleApp1 in one shell (I use Windows 10 command line) and then you run ConsoleApp2 in another shell and then you run ConsoleApp2 for the second time.

My questions are:
1)

[2017-03-04 11:14] benaadams opened #16713 "EnvVars Dictionary as IDictionary passed to Linq morphs Enumerator"
Dictionary Enumerator is a bit weird as it can be two types; depending on what interface it is accessed on

Environment variables can also return a `HashSet` which is why it needs `DictionaryEntry` rather than `KeyValuePair`

Previously this code would work fine [aspnet/Configuration](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.EnvironmentVariables/Envir

[2017-03-04 11:20] StefH commented on #14374
Hello @davidsh.

I've read that document, however I don't know what the exact steps would be for me.

Isn't it easier if you create an item on the backlog and that I can fill in why / how I would like to see this change ?

[2017-03-04 12:23] stephentoub commented on #16713
Looks like https://github.com/dotnet/corefx/issues/14417
@JeremyKuhne, can we get this fixed soon to unblock the ASP.NET issue?

[2017-03-04 12:30] stephentoub commented on #14041
file descriptors on Unix are <= 32K.  Since handles in Windows are represented as pointers, we've been using IntPtr everywhere in corefx to represent both, which allows us to use SafeHandle for them.

Seems like an ok API to expose.

One modification though:
I would suggest that the ctor take a SafeHandle rather than a raw IntPtr. The plan for https://github.com/dotnet/corefx/issues/13470, which h

[2017-03-04 12:43] anthonylangsworth commented on #16654
@krwq @tintoy I have (hopefully) resolved the concurrency issues with krwq#1. This appears to be causing some consternation, anyway.

[2017-03-04 14:33] dmitriyse commented on #16661
One improvement:
I found more suitable naming scheme:
ICollection&lt;T> | IReadOnlyCollection&lt;T> |  IImmutableCollection&lt;T>
IList&lt;T> |  IReadOnlyList&lt;T> | IImmutableList&lt;T>
ISet&lt;T> | IReadOnlySet&lt;T> | IImmutableSetSlim&lt;T> | IImmutableSet&lt;T>

I am writing polyfill library that implements this proposal.
Probably I will publish it tomorrow and we will have nearly all answer

[2017-03-04 15:40] svick commented on #16703
The following code works fine for me on Linux:

[code]

 Could you share a complete program that demonstrates the issue? How exactly are you viewing the value? Are you using some debugger or IDE? Are you sure your machine has the correct time set?

[2017-03-04 15:43] akoeplinger commented on #9012
@davidfowl we shipped a "fix" with Mono 4.8 which essentially blacklists some specific assemblies+versions like SRI.RuntimeInformation: https://github.com/mono/mono/blob/mono-4.8.0-branch/mono/metadata/image.c#L1035-L1091

A more future-proof solution is currently being discussed in #15112

[2017-03-04 15:45] davidsh commented on #14374
cc: @karelz

It will be a while before we can ever get to this. due to all the work we're currently doing  I've marked the item "up for grabs".  That allows the dev community such as yourself to contribute.

[2017-03-04 17:57] nietras commented on #15818
Great 😃

@terrajobst in https://github.com/nietras/dotnet-proposals/blob/master/span-binarysearch-src/Program.cs you could see code that compiles, and as far as I can tell there are no issues. The `IComparable<T>` is superfluous though, but seems like it would be nice to have for user discovery. You can clone and try it out if you like.

[2017-03-04 19:04] MysticRyuujin commented on #16695
@davidsh @karelz @daxian-dbw - Can someone tell me where I should open the bug report then? I don't understand why "we 'fake it" is an acceptable answer/explanation to a clearly reproducible issue? If it's an issue in the underlying OS (Windows), how would I even go about reporting that?

[2017-03-04 19:29] WinCPP commented on #3862
@karelz @stephentoub Files such as corefx\src\Common\src\System\Net\SocketProtocolSupportPal.Unix.cs appear to be platform specific. To make changes to these files, compile and test them, I think I would need to setup some Unix box with the entire tool chain...? Or should I directly rely on the CI pipelines? This is different territory for me. Kindly advise.

[2017-03-04 20:16] geoffkizer commented on #16695
Unless I'm missing something , this seems like a regression.

Why can't we port the code from desktop?

It's fine for HttpClient to fake it, but HttpClient is not the only user of this.

[2017-03-04 21:14] geoffkizer commented on #16375
I don't think we prevent you from passing arbitrary ints to SetSocketOption.  So something like this should work today:

`            s.SetSocketOption(SocketOptionLevel.Tcp, (SocketOptionName)15, true);`

[2017-03-04 21:24] icylogic commented on #16375
@geoffkizer Yes, it does work for Windows as I stated in the original proposal. So for Windows after Win10 1607, adding one line to the enum to formalize this API is enough. I'm just not sure what will happen for Unix and Windows before 1607.

[2017-03-04 21:31] geoffkizer commented on #16375
My point is that we don't need to make any product change for users to do this today.

It might be nice to add the SocketOptionName for this, but that raises the question of whether and how we want to expose OS-specific socket options in SocketOptionName.

[2017-03-04 21:37] augustl commented on #2576
For the curious, I did some digging in React Native for UWP to see what they do. Essentially, it boils down to what I described - a simple event loop based on queues. The gist of it is:

    var _queue = new BlockingCollection<Action>();

    Task.Run(() => {
        while (true) {
            var action = _queue.Take();
            action();
        }
    })

It runs all Chakra JS inside one of t

[2017-03-04 21:37] #1745 closed

[2017-03-04 21:41] stephentoub commented on #3862
Ideally, yes.

If you're unable to set up a Linux VM for some reason, then this is an ok fallback.

If in some projects you're currently unable to use the new overload, just skip those cases.

[2017-03-04 21:58] icylogic commented on #16375
OK, if we don't make any change, we can still use this feature on recent Windows. For programmers developing on other platforms which natively support TFO, they may need to wait for this issue https://github.com/dotnet/corefx/issues/14237#issuecomment-266035007 to be solved to use these socket options. It seems that corefx team is interested in introducing a new set of API.
Another issue is about

[2017-03-04 22:03] geoffkizer commented on #16375
I think we could certainly consider other APIs, e.g. some sort of way to enable this in a platform-neutral way.

I'm reacting to the "Proposed API" above, which proposes to add a Windows-specific enum value for FastOpen.  My point is that this is a convenience, not a necessity, since you can achieve the desired functionality by just passing (SocketOptionName)15.

[2017-03-04 22:18] icylogic commented on #16375
That makes sense. It's just the most direct way came to me but actually not a good way.
Maybe we could expose some other APIs that does not take a platform-specific value and translate it in the PAL(Platform Adaptation Layer) like [this](https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_networking.cpp#L2103-L2113)

[2017-03-04 22:49] adityamandaleeka commented on #11908
@karelz That issue was tagged incorrectly. I just removed the test-issue tag. It's not a product bug either. The bug (which has been fixed) is in the Linux kernel itself. The fix will slowly propagate to all the distros we run on.

[2017-03-04 23:09] davidsh commented on #16695
Yes, it is a "regression" from .NET Framework.  The code to handle proxy detection, calculation, evaluation was part of the older managed sockets based HTTP stack from .NET Framework.  We did not port that code.  We use a different HTTP stack per platform based on OS APIs.

We could extract the code, refactor it and get something to work on Windows.  Not sure how it works on Linux without running

[2017-03-04 23:30] MichalStrehovsky commented on #16692
Cc @morganbr

[2017-03-04 23:51] jamesqo commented on #16448
@joperezr Thank you for marking this as ready for review.

It's true that there are other ways of doing this, but I use this method pretty frequently so I feel that concision is key here. It's not like `Debug.Assert` is a method people call at just one place in their code; they have it in multiple places, and a very common assert is to check for null. Adding these overloads will improve the experi

[2017-03-05 00:26] stephentoub opened #16715 "Invalid ArraySegments in buffer lists not properly validated on Unix"
On Windows, the array segments in buffer lists when passed to send/receive/etc. are validated to ensure that the arrays in those segments are not null, that the bounds are valid, etc.  This validation is not being done on Unix.

[2017-03-05 00:29] stephentoub opened #16716 "SendBufferSize set to 0 results in an exception on macOS"
I'm not sure if this should be considered by design or worked around, but setting Socket.SendBufferSize to 0 on macOS is resulting in an exception:
[code]

[2017-03-05 00:33] geoffkizer commented on #16715
Is this worth doing?

[2017-03-05 00:37] stephentoub commented on #16715
I don't know, but I spent some of today writing more tests for sockets, and this popped, so I opened the issue, deactivated the test on unix, and we can decide.

[2017-03-05 00:41] geoffkizer commented on #16715
Sounds good.

[2017-03-05 01:19] karelz commented on #11908
@adityamandaleeka thanks, that makes sense - I asked also on the dupe: Is there a way how to associate a segfault in CoreFX tests with this kernel bug?
I would like to make sure we do no blame all segfaults in CoreFX on kernel ;-)

[2017-03-05 01:20] karelz commented on #11908
Closing, as it is kernel bug, not something we can in .NET Core work around.

[2017-03-05 01:20] #11908 closed

[2017-03-05 01:37] ianhays commented on #16613
These are tiny enough that I'm fine with leaving them in CoreFX. It's way less work having them build with CoreFX.

I like using corefx-testdata because I like the separation, but it isn't practical to push a new package of Corefx-testdata for a few source files.

[2017-03-05 01:39] TongQijie commented on #16703
[code]

today, i found it worked fines, but it was weird to watch variable's value when debugging.

[[https://github.com/TongQijie/resource/blob/master/img/201703050001.png]]

[2017-03-05 02:10] karelz commented on #14417
@Jiayili1 FYI: removing the second area path.

[2017-03-05 02:19] karelz commented on #16695
OK, based on the comments above, reopening and marking as enhancement.

Next step: Take the Desktop code (e.g. from ReferenceSource: https://github.com/Microsoft/referencesource/tree/master/System/net/System/Net) and port it to CoreFX.

[2017-03-05 02:37] karelz commented on #14374
@StefH
GitHub issues are our only backlog for .NET Core. Future milestone means we do not know if/when we will get to it.

If it is indeed just making the type public, then the API proposal work should be fairly simple. Just follow the API process doc - esp. the API proposal link. If it is still not clear, let me know.

[2017-03-05 02:56] hughbe opened #16721 "Test failures running System.Runtime.Extensions tests locally"
[code]

[2017-03-05 03:42] svick commented on #16703
I can see the same behavior in VS Code on Linux.

I believe this is https://github.com/OmniSharp/omnisharp-vscode/issues/753, which is in turn caused by https://github.com/dotnet/coreclr/issues/7115, which should be fixed in the next version of .Net Core. But it is only a debugging bug, so it shouldn't affect how your application actually executes.

[2017-03-05 04:14] Petermarcu commented on #13681
Hi all, as you can see from the link Jan just gave, this change has broken folks trying to use ASP.NET on 2.0. Is this a critical fix or one we can back out until the breaking change can be coordinated?

[2017-03-05 04:43] hughbe commented on #16721
This might be related to the fact that I had a virus infect my AppData file and deleted a bunch of files

[2017-03-05 04:47] hughbe opened #16724 "System.Text.Encoding folder has two solution files"
Let me know if I can remove the System.Text.Encoding.Tests.sln file and I can submit a PR

https://github.com/dotnet/corefx/tree/master/src/System.Text.Encoding

[2017-03-05 04:57] hughbe commented on #14255
Looks like this is already implemented in coreclr/corert. I'll grab exposing and testing this

[2017-03-05 07:47] FireAlkazar commented on #15554
@dhoehna unfortunately I don't know. I've changed the company, now have to learn a lot about new project. Out for two weeks approximately.

[2017-03-05 11:47] patryk9200 commented on #984
@karelz I would love to join the effort to test SerialPort. I have more than 7 different devices some ARM based on I.MX 6 UL, TI AM3352, Intel Edison, Raspberry PI B+, Odroid C1+ and x86-x64 intel based like  PC Windows, PC Linux & OS X. I have wrote plenty of code using SerialPort for communication with IoT devices used in smart home systems to communicate with radios.

[2017-03-05 12:05] WinCPP commented on #3862
@stephentoub @karelz  Had Ubuntu in dual boot config on my machine... After arduous upgrade to 16.x, I was able to build corefx on ubuntu. But now I have got two copies of code... on Win 10 and on Ubuntu. Too much of pull push across boots via remote on fork.

Also tried accessing Windows drives in Ubuntu, compilation went through to some extent but then failed that project.json doesn't have _ubun

[2017-03-05 12:28] stephentoub commented on #16713
@benaadams, I think there may be a configuration issue in your set up.  Is it possible you're binding directly against the Environment type in System.Private.CoreLib, rather than against the Environment type in System.Runtime.Extensions?

[2017-03-05 12:56] stephentoub opened #16727 "ReceiveMessageFromAsync with buffer list broken on Unix"
Socket.ReceiveMessageFromAsync(SocketAsyncEventArgs) is completely broken on Unix when using a BufferList instead of a single buffer: the implementation only handles the single-buffer case and ignores any BufferList set.

[2017-03-05 13:30] stephentoub commented on #3862
I don't have advice on that as I typically don't dual boot; I typically use Linux VMs, either in Azure or locally with Hyper-V or VirtualBox.

[2017-03-05 15:14] pitmeinl commented on #1880
@cocowalla Sorry, I could not find my tests. No test can totally prove a watcher not losing events. With your queueing-approach failing in your scenario my solution most probably would lose events too. File-based interfaces are always a tricky problem. If one is so lucky as to have control over the producer a robust solution often is to have the producer work on temp-files and rename these to the

[2017-03-05 17:47] karelz commented on #984
@patryk9200 that sounds great, please coordinate with @willdean who's driving the effort how best you can help.

[2017-03-05 18:17] benaadams commented on #16713
@stephentoub it is possible (maybe even likely); am building standalone, then copying over corefx testhost; then copying over coreclr product (else I get a whole bunch of other issues trying to use the coreclr jit)

[2017-03-05 18:33] tarekgh commented on #16703
Issue moved to [dotnet/coreclr #9967](https://github.com/dotnet/coreclr/issues/9967) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-05 18:33] #16703 closed

[2017-03-05 18:51] fujiy commented on #14376
Got it. We can try some different ways to retrieve the collection.
Besides the Items and the Length, there is something else we need to expose?

[2017-03-05 18:52] tarekgh commented on #14255
@hughbe this is greater

[2017-03-05 19:18] fujiy opened #16730 "Span<T> == null throws ArgumentNullException"
I know it doesn't make sense to compare it to null since it is a struct. But it is allowed since we have a implicit cast operator that get called, op_Implicit(T[] array).

And that operator throws the exceptions when calling the constructor:

[code]

Repro:
[code]

at System.ThrowHelper.ThrowArgumentNullException(ExceptionArgument argument)
at System.Span`1.op_Implicit(T[] array)
at ConsoleApp1.Pr

[2017-03-05 20:39] WinCPP commented on #3862
Hmm. I was actually looking for way to cross-compile Unix / Uap related files on Windows, if and when required; which I found later in the "build the repository" document...

[2017-03-05 20:41] fujiy commented on #14376
@ahsonkhan for netcoreapp 1.0 the Slow Span is also used?
To test the netcoreapp 2.0 implementation I think we need to follow these steps: https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingYourBuild.md, right?

Thanks

[2017-03-05 23:06] willdean commented on #984
@patryk9200 As of right now we have a version of SerialPort which works with .NET Core 2.0, but on Windows only.   This is basically unmodified from the original netfx version so should be highly compatible.  If you'd like to test this then take the latest corefx code from GitHub.

We have not started on versions for other platforms yet., but it sounds like there might be some useful stuff you can

[2017-03-06 01:14] stephentoub opened #16739 "Socket.DontFragment throws not supported exception on Unix"
Presumably due to https://github.com/dotnet/corefx/blob/7a230270559cfbef056aaafc022cdfd8fd3d829e/src/Native/Unix/System.Native/pal_networking.cpp#L2043 (i.e. lack of a translation for the option).  It's not clear to me whether/why this is by design, but it should be investigated.

[2017-03-06 01:35] Jiayili1 commented on #10764
@Priya91 Checked this issue on build 20170304.02, this issue is not repro.

[2017-03-06 01:50] dotnet-mc-bot opened #16741 "Test: System.Net.Security.Tests.ClientAsyncAuthenticateTest/ClientAsyncAuthenticate_AllServerVsIndividualClientSupportedProtocols_Success(clientProtocol: Tls11) failed with "System.TimeoutException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.ClientAsyncAuthenticateTest/ClientAsyncAuthenticate_AllServerVsIndividualClientSupportedProtocols_Success(clientProtocol: Tls11)` has failed.

System.TimeoutException : The operation has timed out.

        Stack Trace:

           at System.Threading.Tasks.TaskTimeoutExtensions.<TimeoutAfter>d__0.MoveNext() in /root/corefx/src/Com

[2017-03-06 02:05] ssg commented on #13757
The answers to "why is this for?" and "how to pick what to include in this?" should be clarified by maintainers. The other thread sheds some light but it's not concrete enough to move this conversation forward. I have fast and tested implementations of [SipHash 2-4, MurmurHash3, FNV-1/1a](https://github.com/ssg/HashDepot/) on fixed size buffers which I can help porting to .NET but this needs clari

[2017-03-06 02:19] #16709 closed

[2017-03-06 02:34] fujiy commented on #14376
@mramosMS, I implemented the proxy exposing the _pinnable variable with success:

    [DebuggerDisplay("Length = {Length}")]
    [DebuggerTypeProxy(typeof(MySpanDebugView<>))]
    public struct Span<T>
    {
        internal sealed class MySpanDebugView<U>
        {
            private readonly Span<U> _collection;

            public MySpanDebugView(Span<U> collection)
            {

[2017-03-06 02:35] Jiayili1 commented on #2103
https://github.com/dotnet/corefx/blob/master/src/System.Globalization/tests/DateTimeFormatInfo/DateTimeFormatInfoGetAbbreviatedDayName.cs#L19
https://github.com/dotnet/corefx/blob/master/src/System.Globalization/tests/DateTimeFormatInfo/DateTimeFormatInfoGetAbbreviatedMonthName.cs#L22
https://github.com/dotnet/corefx/blob/master/src/System.Globalization/tests/DateTimeFormatInfo/DateTimeFormatInfoG

[2017-03-06 02:39] Jiayili1 commented on #9023
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L1602
Disabled test

[2017-03-06 02:50] Jiayili1 commented on #10989
https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Emit/tests/Utilities.cs#L102

[2017-03-06 02:52] Jiayili1 commented on #8242
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/Uri.MethodsTests.cs#L514
Disabled test

[2017-03-06 03:53] Thaina opened #16742 "IEnumerable.Concat with params"
I think it would be useful if we could just concat collection with just variable directly without the need to make array for it. It would make code cleaner because sometimes we just want to append a value into collection

Just add this to Enumerable extension method

[code]

Also, would it be better if we have `Append` and `Prepend` instead?

[code]

[2017-03-06 04:17] Thaina opened #16743 "Extension method to number"
I think it would be useful if number have some extension method as helper in many trivial function instead of static class

First I would like to suggest `To` and `Range`

[code]

The usage will make code more compact and easier to write

[code]

Second. I would like to suggest that, most of `Math` and `DateTime` should move into `System.Numerics` as an extension method to number itself

for examp

[2017-03-06 04:24] gkhanna79 opened #16744 "Socket.Select / Read and Socket.Handle"
@samirparekh commented on [Thu Sep 29 2016](https://github.com/dotnet/coreclr/issues/7413)

Hi, we have an application which we intend to port to .NETCore. This application is a latency sensitive application and it requires to monitor >100 sockets for incoming (high frequency) financial market data.

I have gone throught the implementation of Socket.Select for windows and Linux (from the available

[2017-03-06 04:33] gkhanna79 opened #16745 "Add Task.IsCompletedSuccessfully"
@GSPP commented on [Sat Aug 13 2016](https://github.com/dotnet/coreclr/issues/6732)

`Task` already has a few shortcut properties: `IsFaulted`, `IsCancelled`, `IsCompleted`. These are useful because they provide a way to write certain conditions very succinctly.

The only such property missing is `IsCompletedSuccessfully`. It should be added.

The workarounds are a little awkward: `t.Status == Tas

[2017-03-06 06:20] Jiayili1 opened #16747 "Test: System.Dynamic.Runtime.Tests.Conformance.dynamic.context.indexer.genclass.DynamicCSharpRunTest() failed"
Create a new issue for the following method:
[Fact(Skip = "870811")]
        public static void DynamicCSharpRunTest()
        {
            Assert.Equal(0, MainMethod());
        }
under: src\System.Dynamic.Runtime\tests\Dynamic.Context\Conformance.dynamic.context.indexer.genclass.cs

Detail: https://github.com/dotnet/corefx/blob/master/src/System.Dynamic.Runtime/tests/Dynamic.Context/Conformance

[2017-03-06 06:24] Jiayili1 opened #16748 "Test: System.Dynamic.Runtime.Test.VarianceTest.VarianceTest_RunTest() failed"
Disable this test:
[code]
under: corefx\src\System.Dynamic.Runtime\tests\Dynamic.Simple\VarianceTest.cs

Detail: https://github.com/dotnet/corefx/blob/master/src/System.Dynamic.Runtime/tests/Dynamic.Simple/VarianceTest.cs#L21

[2017-03-06 06:45] Dixin opened #16749 "System.Xml.XPath.XDocument: XPathEvaluate method for XNode returns incorrect result"
I am porting .NET code to .NET Core, and noticed this difference.

System.Xml.XPath.Extensions class defines XPathEvaluate extension method for XNode. This method returns incorrect result for XPath query of text nodes.

Environment:
- .NET Core 1.1
- System.Xml.XPath.XDocument 4.3.0

Example 1: /text()
[code]

Example 2: /text()[1]
[code]

Example 3: /text()[2]
[code]

Is this a bug?

[2017-03-06 06:53] Jiayili1 commented on #15101
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Loader/tests/AssemblyLoadContextTest.cs#L19

[2017-03-06 07:19] Jiayili1 opened #16750 "Test under: System.Linq.Tests with ActiveIssue("Valid test but too intensive to enable even in OuterLoop")"
[ActiveIssue("Valid test but too intensive to enable even in OuterLoop")]

Details:
https://github.com/dotnet/corefx/blob/master/src/System.Linq/tests/SelectManyTests.cs#L216
https://github.com/dotnet/corefx/blob/master/src/System.Linq/tests/SelectTests.cs#L143
https://github.com/dotnet/corefx/blob/master/src/System.Linq/tests/SkipWhileTests.cs#L146
https://github.com/dotnet/corefx/blob/master/src

[2017-03-06 07:24] peterwurzinger commented on #16558
@krwq The full build number is
VisualStudio/15.0.0-RC.4+26206.0

[2017-03-06 07:27] Jiayili1 opened #16751 "Tests under System.Linq.Parallel.tests with ActiveIssue("Cancellation token not shared")"
[ActiveIssue("Cancellation token not shared")]

Details: https://github.com/dotnet/corefx/blob/master/src/System.Linq.Parallel/tests/QueryOperators/SequenceEqualTests.cs#L172
https://github.com/dotnet/corefx/blob/master/src/System.Linq.Parallel/tests/QueryOperators/SequenceEqualTests.cs#L186

[2017-03-06 07:31] krwq commented on #16749
@Dixin thank you for reporting this! This looks like a bug in .NET Core, we will verify and fix this ASAP. cc: @sepidehMS

[2017-03-06 07:33] Jiayili1 opened #16752 "Test: System.Private.Xml.Tests.XmlSerializerTests.SequenceEqual_SharedLeft_Cancellation with [ActiveIssue("fails when using CodeGen as well")]"
Change [ActiveIssue("fails when using CodeGen as well")] to a new issue:

Detail: https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.cs#L1883

[2017-03-06 07:37] Jiayili1 opened #16753 "Test disabled with "Fails on desktop and core: 'Unable to cast object of type 'System.UInt32[][*]' to type 'System.Object[]'""
Test: Roundtrip_ArrayContainingArrayAtNonZeroLowerBound() under corefx\src\System.Runtime.Serialization.Formatters\tests\BinaryFormatterTests.cs

[ActiveIssue("Fails on desktop and core: 'Unable to cast object of type 'System.UInt32[][*]' to type 'System.Object[]'")]

Detail: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs#L750

[2017-03-06 07:44] Jiayili1 opened #16754 "Change [ActiveIssue("PerformanceTest")] to a new github issue"
[ActiveIssue("PerformanceTest")]

Tests under: corefx\src\System.Runtime.Numerics\tests\BigInteger\PerformanceTests.cs

Details:
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Numerics/tests/BigInteger/PerformanceTests.cs#L24
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Numerics/tests/BigInteger/PerformanceTests.cs#L38
https://github.com/dotnet/corefx/blob/maste

[2017-03-06 07:51] KristinXie1 opened #16755 "Distributed transactions are not supported"
[ActiveIssue("Distributed transactions are not supported.")]

Test methods:
Vol0_Dur1_2PC()
Vol0_Dur2()
under: corefx\src\System.Transactions\tests\EnlistTest.cs

Details:
https://github.com/dotnet/corefx/blob/master/src/System.Transactions.Local/tests/EnlistTest.cs#L145
https://github.com/dotnet/corefx/blob/master/src/System.Transactions.Local/tests/EnlistTest.cs#L450

[2017-03-06 08:25] Jiayili1 opened #16757 "Failure in System.Net.Http.Functional.Tests.HttpClientHandlerTest.PostAsync_Redirect_LargePayload(statusCode: 307, expectRedirectToPost: True) (from (empty))"
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_release/116/testReport/System.Net.Http.Functional.Tests/HttpClientHandlerTest/PostAsync_Redirect_LargePayload_statusCode__307__expectRedirectToPost__True_/

Message:
[code]

Stack Trace:
[code]

[2017-03-06 08:26] Jiayili1 commented on #16757
[https://github.com/dotnet/corefx/issues/14838](url)

[2017-03-06 08:36] Jiayili1 commented on #16421
Failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/116/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ConnectionOpenTest/

[2017-03-06 09:31] RussKie commented on #11082
The users are still significantly handicapped.
As per the spec claim values can be objects (this is now fixed, thanks) but JWT deserialisation process serialises everything back to `string` because the .NETCore implementation now forces the consumers into using `ClaimsPrincipal` and `ClaimsIdentity` without any meaningful workaround.
This makes it hard to build high performance solutions.

[2017-03-06 10:12] JonHanna commented on #16742
While they don't take `params` the use of `Prepend` and `Append` in your example work with `Prepend` and `Append` today.

[2017-03-06 13:38] marek-safar opened #16760 "Regression in SortedSet::Max"
introduced in https://github.com/dotnet/corefx/pull/11968

[code]

[2017-03-06 13:42] stephentoub commented on #16760
cc: @mjp41, @ianhays

[2017-03-06 14:01] 42n-ci opened #16761 "HttpClient/HttpContent application deadlock"
Platform: Ubuntu 16.04 and Windows
Core CLR: 1.1.0

In my application (An MVC based micro-service) I make repeating, large POST requests to a local service. The response of each request is several megabytes of JSON. I am using tasks to execute these request in parallel, my control flow is completly async. After a variable number (usually not the same number) of requests the application will deadlo

[2017-03-06 14:08] 42n-ci opened #16762 "Repeated new FormUrlEncodedContent(list) when parameters are large causes application failure"
Platform: Ubuntu 16.04
Core CLR: 1.1.0

[code]
Repeated calls to "new FormUrlEncodedContent(fields)" when pts and dts are very large  causes an application crash.

[2017-03-06 14:16] stephentoub commented on #16761
Thanks, @42n-ci.

A few questions:

- Any chance you have a repro you could share?

- Have you tried running on Windows, and does it repro there?

- Most of your comment mentions deadlock, but your last two paragraphs talk about a crash... is it both deadlocking and crashing?

- To help narrow things down, does it repro if you change:
[code]
to something like:
[code]
or to something like:
[code]
?

[2017-03-06 14:17] stephentoub commented on #16762
Can you provide more details?  What is the exception you get?

[2017-03-06 14:21] lgreenlee commented on #16762
Hello! That is the interesting part - there is no exception or at least any that I see - the application simply stops processing and hangs. The root of the async chain contains an exception handler so I should see one if it were thrown.

[2017-03-06 14:22] stephentoub commented on #16762
Can you provide a repro we can try running?

[2017-03-06 14:46] lgreenlee commented on #16761
Thanks @stephentoub, Sorry for the confusion on deadlock vs. crash. I believe it is a deadlock - the application never exits, so I'm assuming that it is a deadlock, but I can't verify this with the VS Code debugger.

The answer for a repro is "it is complicated". The requests that I'm making are large and are based on the products of other services. I would be happy to conduct a shared desktop ses

[2017-03-06 15:30] lgreenlee commented on #16762
@stephentoub, I can send you the code to a private e-mail if you like. I have also narrowed this one down: an explicit call to .Dispose() is required on the furlc object and appears to prevent the deadlock. I found this while trying to solve #16761.

This behavior is not present under 1.0.3.

[2017-03-06 15:39] stephentoub commented on #16761
Ok, that's important, as it significantly narrows down the source of the possible issue, since the HttpClientHandler implementations are very different on the two platforms.  That suggests the issue is either in HttpClient itself (which isn't actually much code, most of the implementation is in the handler), in your app, or potentially even in the server being connected to.

Thanks

[2017-03-06 15:43] AtsushiKan commented on #2800
It's feasible - it's just a <i>big</i> work item.

CoreRt's Reflection is being refactored to work over SRM (Ecma) - this would be a similar sort of thing but extracted from CoreLib and the execution-related paths stubbed out.

[2017-03-06 15:43] stephentoub commented on #16762
When you say "when pts and dts are very large", how large are we talking?  FormUrlEncodedContent is just a ByteArrayContent, so it's going to create a byte[] and a MemoryStream from the incoming data.  Is it possible you're hitting OOMs or some such thing?

Sure, thanks.  stoub at microsoft

[2017-03-06 15:43] deppe commented on #16636
I ran perfcollect, but the output was too large to attach to this issue. Instead i pushed it to my test repo here: https://github.com/deppe/XmlSerializerPerf/blob/master/xmlperf.trace.zip

Let me know if you need anything else.

[2017-03-06 15:46] stephentoub commented on #16760
Relatively soon :)

Let's do whichever strikes a decent balance between not being too much worse on perf and minimizing the chance of further regression.  Sounds like that's 2?

[2017-03-06 15:54] stephentoub commented on #16636
@vancem, @brianrob, I tried opening this in perfview, but I get an error when I try to open the CPU stacks view:
[code]
Known issue in perfview?  And/or potentially something incorrect about the trace was captured?

[2017-03-06 16:11] stephentoub commented on #16636
I hacked PerfView to work around the issue.  I believe this serialization performance problem is the same as https://github.com/dotnet/coreclr/issues/5558, and in particular https://github.com/dotnet/corefx/issues/3815, as 30% of the time in the trace is being spent in native code serializing doubles.

[2017-03-06 16:28] tarekgh commented on #2103
Nothing more need to be done here.

[2017-03-06 16:28] #2103 closed

[2017-03-06 16:30] tarekgh commented on #8242
nothing more need to be done here.

[2017-03-06 16:30] #8242 closed

[2017-03-06 16:47] joperezr opened #16764 "Fix test projects that are failing ILC step when trying to run uapaot tests."
We were able to succesfully send the right payloads to Helix which helped us trying to ilc all of the tests projects, in order to be able to tell which ones are failing that step. The full list of the test projects that are failing are:
 - [ ] System.Collections.Tests
 - [x] System.Data.SqlClient.Tests
 - [x] System.IO.FileSystem.Tests
 - [x] System.IO.MemoryMappedFiles.Tests
 - [x] System.Net.Htt

[2017-03-06 16:49] karelz commented on #16761
What's the reason that you can't verify under debugger? Does it happen only in production? Or are you unable to attach debugger to the process?
If you can't share a (small) repro, then attaching debugger is the best option for debugging deadlocks - you can easily confirm it is deadlock (nothing executes when you set breakpoints) and you get to look at the callstacks.
As a second best way you could

[2017-03-06 16:53] karelz commented on #16762
I would prefer if you can isolate a smaller repro and share it here - it allows other people to help with the investigation and it also allows folks to find duplicates in future.

Can you reproduce the same problem on Windows?

[2017-03-06 17:06] steveharter opened #16765 "Failing test: System.Net.Sockets.Tests.SocketAsyncEventArgsTest.CancelConnectAsync_StaticConnect_CancelsInProgressConnect"
New test added on 3\4. https://github.com/dotnet/corefx/commit/3805927a19b961850c1c6429d6f8a8b6f1fbd4fa#diff-e1fb5b4a4127d23e848c28f23edf72a2

Appears to be random, as it passes on other runs.

@stephentoub it is failing here. The async connection request may complete by this line:

Failures:
Test Case: dotnet_corefx/master/debian8.4_release 1208 	deb84-20170214-f64b50 	03/06 02:44 AM
dotnet_coref

[2017-03-06 17:12] karelz commented on #16743
I personally don't like the `1.To(100)` syntax - IMO it pollutes the methods on `int` and doesn't align with the existing ones. It has a functional-style feel, but that's the only advantage I can see. IMO it should be in a helper `GenerateRange` or something like that.

`AsMilliseconds` - it is already achievable via `TimeSpan.FromMilliseconds`. It feels weird to teach `int`/`double` about types w

[2017-03-06 17:14] lgreenlee commented on #16762
@karelz thanks, I do appreciate that this would be easier however I won't be able to do this due to time constraints. I can give you what I have but that's about it. I was able to make my requests work by using a StringContent object in place of and supplying my parameters manually. Not really a robust solution but it works. I was not aware of this issue when I ran my test on Windows so I'm not su

[2017-03-06 17:23] KrzysztofCwalina commented on #14376
@jkotas, will getting _pinnable through reflection actually pin the buffer?

[2017-03-06 17:24] danmosemsft opened #16766 "System.Environment rejects env variable values acceptable to the OS"
In https://github.com/dotnet/coreclr/issues/9793 an environment variable already set in the OS caused an ArgumentException when MSBuild tried to set it because the length of the value was over 32KB. (CI apparently passes the change description in an environment variable)

We should accept any environment variable that's acceptable to the OS. Apparently on Windows Server 2012 (this run) over 32KB i

[2017-03-06 17:27] fujiy commented on #14376
@KrzysztofCwalina it is just the test I made to find out how expose the values, it's easier because I didn't need to recompile System.Memory/mscorlib.

The actual implementation shouldn't use reflections.

[2017-03-06 17:28] MattGal commented on #16764
Great work @joperezr!  I'm actually surprised by how short this list is, although of course things will get worse at runtime.

[2017-03-06 17:34] danmosemsft opened #16767 "Expose Environment.GetCurrentProcessorNumber() as a public API"
@VSadov commented on [Thu Feb 16 2017](https://github.com/dotnet/coreclr/issues/9638)

Environment.CurrentExecutionId seems to be a generally useful API, that can be used to correlate accesses to striped data in order to minimize unwanted cross core sharing.

Currently the best correlation option is the `CurrentManagedThreadId` which helps with continuity of accesses to the same stripe within a th

[2017-03-06 17:36] vancem commented on #16636
I have reproed the issue with PerfView and created the following issue for it.
https://github.com/Microsoft/perfview/issues/166 go there for any followup on that.
I will give a triage look see later today.

[2017-03-06 17:38] shmao opened #16768 "Test DCS_TypeWithTypeProperty Failed on Uapaot"
Test DCS_TypeWithTypeProperty failed on Uapaot due to https://github.com/dotnet/corefx/issues/16693. We need to activate the issue on Uapaot when #16693 get fixed.

[2017-03-06 17:38] zabulus opened #16769 "S.R.InteropServices.RuntimeInformation.FrameworkDescription throws in UWP release"
Exception message: RFLCT_Ambiguous.
I think cause is here:
https://github.com/dotnet/corefx/blob/9e693eed46efd17f39090de336ee82d318edbbec/src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.cs#L28
```GetCustomAttribute(typeof(AssemblyFileVersionAttribute))``` could return several attributes.

Workaround:
If I use following

[2017-03-06 17:39] KrzysztofCwalina commented on #14376
Ah, sorry. I missed that.

[2017-03-06 17:43] jkotas commented on #14376
I will not. Pinnable is a regular type, there is nothing that would pin it implicitly.

I think making this work for fast Span is more important than making this work for slow Span. Fast Span does not even have `_pinnable`.

I doubt that you will be able to make this work by just writing a debugger display proxy. I expect that the VS debugger expression eval part will need some fixes to make this

[2017-03-06 17:44] danmosemsft commented on #16754
We don't need these, my bad. See your PR.

[2017-03-06 17:44] #16754 closed

[2017-03-06 17:45] Thaina commented on #16743
@karelz

I don't know why we need to align with the existing ones. I propose this API because I think it better than existing one. We always have to iterate from number to another number and this API is explicitly do just that. And it short and easy to use. Trying to add more longer name and put it in another class to make it longer to call and hidden from the `int` we want to iterate itself is no

[2017-03-06 17:47] tarekgh commented on #16724
@hughbe you are welcome if you want to submit a PR fixing this. Thanks.

[2017-03-06 17:47] KrzysztofCwalina commented on #16730
@jaredpar, this is a bit strange. Is there anything we can do about it?

[2017-03-06 17:50] danmosemsft commented on #16755
Known limitation - since we have some tests there, they are disabled against this tracking issue for potential future support.

[2017-03-06 17:50] danmosemsft commented on #16752
This is cleanup of disabled tests to have actual issues.

[2017-03-06 17:51] danmosemsft commented on #16751
Tracking issue for disabled tests.

[2017-03-06 17:53] danmosemsft commented on #16748
Issue tracking disabled test

[2017-03-06 17:53] danmosemsft commented on #16750
Not needed, see PR comment

[2017-03-06 17:53] #16750 closed

[2017-03-06 17:53] danmosemsft commented on #16747
Issue tracking disabled test

[2017-03-06 17:59] tarekgh opened #16770 "ToTitleCase does not correctly titlecase Dutch words starting with IJ"
@warrantyvoids commented on [Mon Mar 06 2017](https://github.com/dotnet/coreclr/issues/9981)

The current TextInfo.ToTitleCase() Locale specific function does not correctly titlecase Dutch words starting with IJ as specified by the Unicode Standard, introductory text of paragraph 3.13.
• Titlecasing of IJ at the start of words in Dutch

An example of this would be ToTitleCase("ijzeren eigenschappe

[2017-03-06 18:00] weshaggard commented on #16613
I'm fine with these remaining in corefx as well, but I just added feedback in the PR to probably not build them live so that we can actually run these tests on all platforms.

[2017-03-06 18:03] stephentoub commented on #16765
Hmm. @steveharter, any idea how this would happen?  The server hasn't issued a Listen nor an Accept, so how could this be completing?  Obviously something is going wrong, as the test is sporadically failing, but I'm currently failing to see what.

[2017-03-06 18:07] shmao opened #16772 "Disable Test DCS_TypeWithTypeProperty on Uapaot"
Test DCS_TypeWithDatetimeOffsetTypeProperty failed on Uapaot due to #16768. We wanted to disable the test on uapaot for now so that it won't block other tests.

[2017-03-06 18:12] lgreenlee commented on #16761
@stephentoub,

[code]

This technique does not resolve the issue.

I have also tried using the "one shot" methods such as "ReadAsStringAsync" (below). This call fails anecdotally more rapidly than the array copies. This does not appear have an issue under 1.0.3 either.

[code]

The while loop also fails under 1.1.0, it has not failed under 1.0.3.
[code]

I have done a great deal of testing with th

[2017-03-06 18:53] karelz commented on #16742
`Concat` uses `IEnumerable<TSource>` as second arg, not `params` - see [apisof.net](https://apisof.net/catalog/System.Linq.Enumerable.Concat%3CTSource%3E(IEnumerable%3CTSource%3E,IEnumerable%3CTSource%3E)) or [ref](https://github.com/dotnet/corefx/blob/d0001fe7c89b7e1b5d629ba0f13f1233ea72490d/src/System.Linq/ref/System.Linq.cs#L42).

I remember seeing some subtle differences in overloads when you

[2017-03-06 18:53] krwq commented on #16743
@Thaina while I agree that passing class name is not convenient, I do not agree that `2.Pow(3)` is more readable than `Pow(2, 3)` - I personally prefer more functional syntax. For the long names here is what you can do:
[code]

[2017-03-06 18:59] gkhanna79 opened #16778 "Missing Method Exceptions from Kestrel when trying to run Web API on Raspberry Pi"
@challe commented on [Sat Mar 04 2017](https://github.com/dotnet/core-setup/issues/1632)

## Steps to reproduce
`dotnet new webapi`

Change the `csproj`-file so that it looks like this:

[code]
Followed by
[code]

Now take all of the files that were created in the `bin/Debug/netcoreapp2.0/publish` and copy these files to the Raspberry Pi. Try to run the application by doing:
`usr/bin/dotnet /home/

[2017-03-06 19:00] #16772 closed

[2017-03-06 19:04] safern commented on #16661
I have the same question as @karelz, what is the difference between doing this and using `ReadOnly` property?

[2017-03-06 19:05] danmosemsft commented on #16755
Alternatively the tests can be deleted. I imagine if we added this feature we'd need more than 2 tests :)

[2017-03-06 19:07] karelz commented on #16761
2.0 is still under development - here's how you can try it: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2017-03-06 19:11] krwq commented on #16742
@Thaina this is a very tempting API to add in the beginning but after you start thinking about special cases it would be pretty confusing if you had an `IEnumerable<object> x` and do `x.Append(new string[] {2, 3 4})` - should that add 3 elements or one? You might want to store arrays as well as numbers. Unfortunatelly as you see you would need an API with a name something like `AppendElement` to a

[2017-03-06 19:12] safern commented on #16374
Since is something not going into CoreFX we are going to close it. We should move this discussion to wherever we want to add the code.

[2017-03-06 19:12] #16374 closed

[2017-03-06 19:13] safern commented on #16007
@jamesqo do you want to grab this one?

[2017-03-06 19:17] safern commented on #249
Does anyone want to suggest how should the docs be updated if this issue is still relevant?

[2017-03-06 19:20] safern commented on #574
This would be a really useful type to have in CoreFX. Is anyone interested in grabbing this one?

[2017-03-06 19:20] dmitriyse commented on #16661
Unfortunately this deep question. I still working on library with new proposed API preview. Code is better that 1000 words. Solution consist from multiple parts:
 1) Interfaces Upgrade
 2) List/Dictionary/HashSet collections upgrade
 3) Linq Upgrade
 4) new Immutable Slim API (was Frozen)
 5) Missed IReadOnlySet improvement
 6) Immutable Collections upgrade
And hardly depends on implementation htt

[2017-03-06 19:23] mellinoe commented on #16778
Is this fixed, then? What's left to do?

[2017-03-06 19:24] safern commented on #1170
Thanks @mairaw looks good :)

[2017-03-06 19:24] #1170 closed

[2017-03-06 19:26] safern commented on #1218
@dotnetchris are you still interested in this one? If so, could you please update the issue description to have a formal API proposal?

[2017-03-06 19:27] karelz commented on #16661
@dmitriyse we will need a "short" description of the problem your code is trying to solve. Why don't you start with the questions I asked above?

Having complex library with new API proposed is unlikely going to help or answer any questions of WHY. Solution is second step. Problem description and agreement it is a problem worth solving needs to be the first step. Quantification of the problem is u

[2017-03-06 19:27] krwq opened #16779 "System.Security.Cryptography.Xml KeyInfoTest.ImportKeyNode is failing"
This test is passing on full .NET but is failing on CoreFX - we need to verify what has happened. Also verify that test was properly ported from Mono as it could be some simple typo

[code]

likely also related failure:
[code]

cc: @tintoy @anthonylangsworth @peterwurzinger

[2017-03-06 19:30] safern commented on #1272
Marking as up for grabs to see if there is some interest in doing the formal API proposal, if there is none we will just close it.

[2017-03-06 19:34] karelz commented on #9023
cc @steveharter @Priya91 @ianhays

[2017-03-06 19:34] karelz commented on #16741
cc @steveharter @Priya91 @ianhays

[2017-03-06 19:36] krwq opened #16780 "System.Security.Cryptography.Xml XmlDsigC14NTransformTest.PrefixlessNamespaceOutput failing"
This test is also failing on Desktop but the failure is different.

Actual failure:
[code]

Acceptable failure (Desktop):
[code]

[2017-03-06 19:37] karelz commented on #14255
Assigning to @hughbe ...

[2017-03-06 19:39] #14417 closed

[2017-03-06 19:39] JohnGalt1717 commented on #9846
System.IdentityModel.Tokens.Jwt
Microsoft.IdentityModel.Tokens
System.Runtime.Serialization.SerializationPrimatives

All have issues.

[2017-03-06 19:40] mellinoe commented on #16743
I also much prefer the "regular" post-fix static method syntax. A key thing missing from this proposal is where these methods actually live; what namespace and what type are they in? Since they are extension methods, I think including them in the System namespace is pretty much a no-go. We definitely wouldn't want this to be showing up by default in Intellisense. Is it in the System.Linq namespace

[2017-03-06 19:40] karelz commented on #16757
cc @steveharter @Priya91 @ianhays

[2017-03-06 19:40] karelz commented on #16765
cc @Priya91 @ianhays

[2017-03-06 19:41] dmitriyse commented on #16661
I need this features in my project firstly. Secondly I wish that this improvements to become in BCL. It's seem enough general  and useful.
1) We needs some guaranty more than IsReadOnly e.g Immutable. At runtime and at compile time. (IImmutable** types) So when I put property type to IReadOnly* and IImmutable** I instantly know what i have
2) We needs consistent collection contracts, for example I

[2017-03-06 19:42] dmitriyse commented on #16661
Please wait another day and I share class diagram.

[2017-03-06 19:43] krwq opened #16781 "Remove/fix NotImplementedExceptions in S.S.Cryptography.Xml"
CryptoHelpers.cs contains few NotImplementedExceptions.

For each one of them we should add a test which will trigger that NIE or remove a case. Each removed case should be understood (i.e. algorithm is not longer secure and we do not want to support verification)

As part of this issue we should also identify if there are any "TODO" "fix me" etc in the code.

cc: @anthonylangsworth @tintoy

List

[2017-03-06 19:45] karelz commented on #16661
I am not sure how class diagram can help explain WHY you need it. It will explain more HOW to solve it. Isn't it that case? ... Anyway, we can wait.

Why do you need the guarantee of Immutable? What kind of SW needs it? -- that is the basic question which needs to be thoroughly explained first.

[2017-03-06 19:46] billwert opened #16782 "FileInfo.CreationTime should throw PlatformNotSupported on platforms where it isn't supported"
On most non-Windows platforms, the stat family of functions returns a struct that is missing st_birthtime. We observe this at [build time](https://github.com/dotnet/corefx/blob/d736f7688b0ce09eca208c85eec3a84c556337d2/src/Native/Unix/configure.cmake#L120), and only try to get the value in our [PAL if we know it is supported](https://github.com/dotnet/corefx/blob/0e3fe2d4e207067d427f301b4533acb3e1c

[2017-03-06 19:54] karelz commented on #9846
@JohnGalt1717 System.IdentityModel.Tokens.Jwt and Microsoft.IdentityModel.Tokens are not part of CoreFX.

@weshaggard @ericstj any comment on System.Runtime.Serialization.Primitives? Did we miss it?

[2017-03-06 19:54] AArnott commented on #249
I don't see why this is such an important issue. The docs never promise that enumeration of collections or dictionary keys is alloc-free. And as you point out, the API makes this pretty obvious. I've never seen a doc that mentions "this allocates, but this other API doesn't".

[2017-03-06 19:57] gkhanna79 opened #16783 "HttpClient on Linux improvements and enhancements"
@lgreenlee commented on [Mon Mar 06 2017](https://github.com/dotnet/coreclr/issues/9984)

After utilizing the HttpClient for several micro-services I believe some improvements can be made to the HttpClient under Linux.

### Improvement 1 - Remove the CURL dependency/Or HttpClientSlim?
I believe there is a thread discussing this already but the the dependency on CURL is problematic. It causes and w

[2017-03-06 19:58] safern commented on #249
+1 with @AArnott comment. So then we should probably close this issue. right?

[2017-03-06 19:59] krwq opened #16784 "System.Net.Sockets.Tests.SocketAsyncEventArgsTest.CancelConnectAsync_InstanceConnect_CancelsInProgressConnect failure"
[code]
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/4197/consoleText

[2017-03-06 20:00] stephentoub commented on #16782
Returning `default(DateTime)` rather than throwing PNSE was an explicit design choice.  Whether it was the right or wrong choice, changing it would be a very noticeable breaking change from .NET Core 1.x. (Not trying to shut down discussion, just highlighting that the value of this change would need to be significant enough to overcome that significant negative.)

[2017-03-06 20:02] stephentoub commented on #16784
Dup of https://github.com/dotnet/corefx/issues/16765.  The test has already been disabled.

[2017-03-06 20:02] #16784 closed

[2017-03-06 20:04] billwert commented on #16782
Can you link where the discussion was captured? I searched a bit but didn't stumble on it.

I realize it would be a breaking change at this point. I worry that this (and other issues like this, should they exist) will be a common source of bugs as people port things to other platforms, and those bugs can be very dangerous.

[2017-03-06 20:04] danmosemsft commented on #249
+1

[2017-03-06 20:04] #249 closed

[2017-03-06 20:10] peterwurzinger commented on #16779
@krwq This seems like it is related to  my implementation of DSAKeyValue.LoadXml if I'm not completely mistaken.

[2017-03-06 20:10] stephentoub commented on #16782
I'm not sure it's on GitHub anywhere (this was implemented before these components moved to GitHub).  IIRC (and I may not :smile:), this was Mono's behavior, which was as good an oracle as any, and there was concern that more code would break from throwing than from returning default(DateTime).

[2017-03-06 20:11] Mike-EEE commented on #5766
Hey @karelz perhaps you might be able to comment on this.  But do you know if the UWP Xaml "spec" that is happening now has any correlation to this issue?  If not, do you know if it can?  Crazy idea here, but it might be nice to solve two problems for the price of one if it can be helped.  I've also left a message there on the UWP vote as well, but figured I would ping here as well.

[2017-03-06 20:13] zjleaman opened #16785 "Microsoft.Extensions.Logging.EventLog not compitable with .NetCoreApp v1.0"
[code]

Is there an alternative to writing to the Windows EventLog for a .NetCore app?
The EventLog nuget package doesn't install and I want to use it's LoggerProvider.

[2017-03-06 20:15] billwert commented on #16782
Fair enough. I could believe that apps developed on Mono were built with non-Windows platforms in mind first, and thus less likely to fall to this sort of bug. Code being ported from Windows seems more at risk.

[2017-03-06 20:17] billwert commented on #16782
I should note, I noticed this because I was porting a real app to .NET Core so it could run on linux, and this behavior change caused a bug. This isn't just a hypothetical.

[2017-03-06 20:20] dpugh opened #16786 "String should implement IReadOnlyList<char>"
The .Net String class does not implement any API that provides allows random access without also implying that the characters are all in contiguous memory. There are many string-like data structures, however, that give random access to immutable sequences of characters without the characters being in contiguous memory.

**Rational and usage:**
As things stand, the API & implementation for the VS T

[2017-03-06 20:22] mellinoe commented on #16786
Related discussions:

https://github.com/dotnet/corefx/issues/14336
https://github.com/dotnet/corefx/issues/14572

[2017-03-06 20:30] mellinoe commented on #1272
I think our current stance is that we don't want to add `[Serializable]` to any of our types if we don't absolutely have to, because of the huge compatibility burden it adds. @terrajobst , I think you have strong opinions about this?

[2017-03-06 20:30] mellinoe commented on #1272
Also adding @nguerrera , @AArnott

[2017-03-06 20:31] danmosemsft commented on #16782
Compatibility with desktop is very important to us, and if this turns out to cause problems, one option is quirking it.

[2017-03-06 20:32] geoffkizer commented on #11564
API proposal:

on Socket:
[code]
These correspond to the signatures of the existing instance methods, with socketType/protocolFamily added (as in the SAEA version of ConnectAsync) and returning a Socket/Task<Socket>.

And, similarly for TcpClient, except the socketType/protocolFamily params are unnecessary and the return value is TcpClient/Task<TcpClient>.

[2017-03-06 20:39] stephentoub commented on #16655
I imagine it could also happen with misuse such that one thread freed the overlapped concurrently with another thread still using it, and then another thread getting another overlapped that then uses the same overlapped data that was returned from being freed.

[2017-03-06 20:43] stephentoub commented on #11564
Are there any settings/options that can only be configured on a socket before it's connected (e.g. something to do with the connect operation itself)?  I'm wondering if we may need to have one or more of the overloads take a delegate that would be passed the Socket before we initiate the connection on it, e.g.
[code]
If everything can be done after the socket is connected, then this wouldn't be he

[2017-03-06 20:49] stephentoub commented on #16755
Already have https://github.com/dotnet/corefx/issues/13532 as well

[2017-03-06 20:51] AArnott commented on #1272
I agree: it's preferable to keep serialization in the business of a serialization library rather than offering it in the type being serialized. Newtonsoft.Json and another popular super-compact-and-efficient serialization library (whose name escapes me at the moment) both support immutable collections natively.
For anyone currently asking for this, why do they need the support in the framework as

[2017-03-06 20:56] heejaechang commented on #16622
related issue in devdiv - https://devdiv.visualstudio.com/DevDiv/_workitems/edit/279424 opened by devdiv perf team.

[2017-03-06 20:57] stephentoub commented on #16751
I believe we can just delete these tests.

[2017-03-06 21:02] shmao opened #16788 "XmlSerializer to Support IXmlSerializable Types"
IXmlSerializable  is available in NetStandard2.0. XmlSerializer should support serializing/de-serializing types implementing this interface.

[2017-03-06 21:03] chcosta opened #16789 "Microsoft.Private.CoreFx.Uap builds on non-Windows platforms"
If you're running on Linux and you build with "-BuildAllConfigurations=true", it will attempt to build the Microsoft.Private.CoreFx.UAP package.

We need some way to build all OS-applicable packages on Linux so that we can produce Microsoft.NETCore.Platforms.

As a temporary work-around, we will just explicitly build the Platforms package, but I think the real fix is as simple as adding "-Windows_

[2017-03-06 21:04] danmosemsft commented on #16622
Does the code in the dev issue (Roslyn in VS context) run on Core? If not fixing this would not help, of course.

We'd accept a PR, any interest? :)

[2017-03-06 21:04] markwilkie commented on #16782
Interestingly enough, this scenario would affect me as well in my home app.  I'm cleaning up files older than x date....  I have since switched to using the LastWriteTime, but it could have been unfortunate for sure.

[2017-03-06 21:08] heejaechang commented on #16622
that particular code path might not actually, but compiler do call this method as much as that code path for checksum as well. and compiler do run in core, so I believe still valid.

[2017-03-06 21:08] heejaechang commented on #16622
@danmosemsft what should need to be changed for desktop .net fx?

[2017-03-06 21:11] weshaggard commented on #16789
That will not help as we build all configurations in this mode. We are likely going to need to add some condition in the packages.builds file to filter out the bigger package build.

Out of curiosity why are you building the "BuildAllConfiguration" on linux? If it is part of the build from source effort then you probably don't want that option. Instead you should use just the vertical build. If it

[2017-03-06 21:11] danmosemsft commented on #16622
We have a relatively high bar for desktop changes at the moment. They go through a quite different process, and shiproom. If it's a VS request, that adds weight. I would take it offline with @AlexGhiondea who can speak to the process for desktop. This issue can remain open for a potential corefx change.

[2017-03-06 21:14] karelz commented on #5766
@Mike-EEE UWP Xaml "spec" is likely driven by another org (I think in Windows) - asking them for details on the uservoice is probably best channel.

[2017-03-06 21:15] weshaggard commented on #9846
In lib\net46 directory there is System.Runtime.Serialization.Primitives.dll (assembly version 4.1.2.0), i.e. overriding the 4.0.0.0 inbox version. Is that sign that we have more than the 2 assemblies overriding inbox assemblies?

[2017-03-06 21:19] safern opened #16790 "[NetFX compat]: SortedSet<T>..ctor(IEnumerable<T>, IComparer<T>) netfx bug"
There is a bug in netfx where `SortedSet<T>..ctor(IEnumerable<T>, IComparer<T>)` throws NullReferenceException when comparer argument is null.

@AlexGhiondea @tarekgh

[2017-03-06 21:19] chcosta commented on #16789
I see. Yes, this is for build from source, and specifying the vertical build makes sense.  We'd need to add configurations to all of the pkgproj's in CoreFx to make this work.

[2017-03-06 21:19] stephentoub commented on #16766
Seems like a good thing to change.  We have other similar cases we've discussed, where previously .NET was trying to enforce limits that should simply have been left to the OS to validate, e.g. https://github.com/dotnet/corefx/issues/3740

[2017-03-06 21:20] stephentoub commented on #16790
Is this a bug in CoreFx as well?

[2017-03-06 21:21] safern commented on #16790
No, just in netfx, this was already fixed in CoreFx some time ago.

[2017-03-06 21:22] weshaggard commented on #16789
We could do that or for packaging we could condition in packages.builds. I'm leaning towards conditioning in packages.builds because we are going to need to do that to correctly filter packages builds on certain official build legs as well (in order to deal with the race condition with package publishing).

[2017-03-06 21:26] chcosta commented on #16789
Out of curiosity, what is the value of BuildAllConfigurations attempting to build things which are not applicable to the OS you're on?  I'm imagining if there were ever some inverse package which builds only on Linux but not Windows, then BuildAllConfigurations would be broken everywhere. As-is, is BuildAllConfigurations a windows only property?

[2017-03-06 21:31] weshaggard commented on #16789
It shouldn't be a Windows only option, although it is possible parts of it are broken today on non-windows. The idea is that you can build all the managed assets and packages for everything in corefx. The only think that cannot be built in this scenario are the native bits for different targets RIDs.

[2017-03-06 21:42] krwq commented on #16779
@peterwurzinger - any pointers which could help investigate the failure? Do you perhaps know if this is a test issue or a product bug?

[2017-03-06 21:48] dhoehna commented on #15554
@FireAlkazar That is alright.  I changed the class I'm testing, we'll see if that works.

[2017-03-06 21:51] danmosemsft commented on #16766
Particularly since apparently we're enforcing it on Unix also, where there's [apparently no particular limit](http://stackoverflow.com/questions/1078031/what-is-the-maximum-size-of-an-environment-variable-value)

[2017-03-06 21:53] stephentoub commented on #16766
On Unix we don't actually call setenv; we just keep a cache in memory.  So there's even less of a limit ;)

[2017-03-06 21:56] krwq commented on #16779
@peterwurzinger I've added another test failure which is likely related - PTAL if that is correct

[2017-03-06 22:02] ianhays commented on #16741
This is new. I haven't seen one of these fail from Timeout before, and certainly not on Unix. Though it walks like https://github.com/dotnet/corefx/issues/16534, I don't think it's the same issue.

[2017-03-06 22:06] ianhays commented on #16782
This is somewhat related to (but not the same as) the discussion in https://github.com/dotnet/corefx/issues/1728, https://github.com/dotnet/corefx/issues/2369, and https://github.com/dotnet/corefx/issues/1563.

[2017-03-06 22:22] karelz commented on #16783
Closing per @stephentoub's suggestion above - @lgreenlee please create separate issues per @stephentoub's advise above. Thanks!

[2017-03-06 22:22] #16783 closed

[2017-03-06 22:37] karelz commented on #16786
Dupe of #14336.

[2017-03-06 22:37] #16786 closed

[2017-03-06 22:42] geoffkizer commented on #11564
Yeah, that's a very good point.  We were just talking about TCP Fast Open on a different thread, that would definitely affect connect behavior.  Probably there are others.

[2017-03-06 23:01] mjmckp commented on #15957
I've put an implementation of `log`, `exp`, `sin`, and `cos` for `float` using `System.Numerics.Vector<T>` up  [here](https://github.com/mjmckp/VectorMathFuns), which is based on `avx_mathfun.h` from [here](http://software-lisc.fbk.eu/avx_mathfun/).

To do this, I've added methods which mimic the functionality of the missing AVX intrinsics, which include functions to do:
* Floor.
* Bitwise shift l

[2017-03-06 23:07] benaadams commented on #15957
BitwiseXOR already exists; though its just called Xor (assume because there is no confusion with a logical version)

[2017-03-06 23:08] billwert commented on #16782
Another thought: A breaking change for 2.0 is arguably the correct thing to do. If someone is using this in a program on a platform where it is not supported, their program is arguably not doing what they intend and they likely have a bug. An exception in this case will make it unambiguous.

[2017-03-06 23:14] danmosemsft commented on #16782
I'd be inclined to agree with @billwert as we explicitly rate Desktop compat over 1.x compat. But I'd be interested to hear the take of area owners, and @marek-safar since you mention it's this way in Mono.
/cc @terrajobst.

[2017-03-06 23:17] shmao commented on #16768
To verify if this issue is a regression.

[2017-03-06 23:20] shmao commented on #16702
@huanwu , can you please provide a repro for the issue?

[2017-03-06 23:22] mjmckp commented on #15957
Right, thanks Ben, I have updated the implemenation to reflect this.  It turns out `AndNot` is also there, although the order of the arguments are flipped around compared to the corresponding AVX intrinsic!  The [documentation](https://msdn.microsoft.com/en-us/library/dn889212(v=vs.111).aspx) for this method really needs to be updated.  So an updated list of proposed methods is:
[code]

[2017-03-06 23:23] stephentoub commented on #16782
Not arguing either way, but how is this improving desktop compat? The request doesn't affect Windows, and on Unix it would be throwing an exception where desktop doesn't. In terms of arguably doing it not doing what they want, I'm not convinced of that, either. For example, what about tools that just display the information? They'll now potentially crash when they could have happily shown the defa

[2017-03-06 23:26] fujiy commented on #14376
Can we go ahead with only Slow Span, for now?

[2017-03-06 23:43] KrzysztofCwalina commented on #14376
I think it would be ok to start with the slow span, but we need to have a solution for fast span too. It would be bad if we regressed debugger support when going from the "worse" span to the "better" one.

Also, the proxy that you have above does not really show the data in the span (logical span). For example, if you create an array of 100 items, wrap it in a span, slice the span to 10 items, the

[2017-03-06 23:43] weshaggard opened #16795 "System.Data.SqlDbType exists in both netstandard.dll and System.Data.SqlClient.dll"
@billwert commented on [Mon Mar 06 2017](https://github.com/dotnet/standard/issues/238)

This causes compile failures for apps using the type and the nuget package.

cc: @weshaggard

---

@weshaggard commented on [Mon Mar 06 2017](https://github.com/dotnet/standard/issues/238#issuecomment-284558489)

You need to reference the latest version of System.Data.SqlDbType to fix this error.

---

@billwe

[2017-03-06 23:43] weshaggard commented on #16795
We need to add netstandard2.0 ref asset to System.Data.SqlClient package.

[2017-03-06 23:48] safern opened #16796 "[NetFX compat]: ISet_Generic_Tests.ISet_Generic_IntersectWith_Itself throws InvalidOperationException in netfx"
Currently ISet_Generic_IntersectWith_Itself test fails with error:

[code]

When targeting framework netfx.

cc: @tarekgh

[2017-03-06 23:57] jackmott commented on #15957
With the initial proposal here and mjmckp's additions, popular noise functions like Simplex and Perlin will be practical to implement in C# and F# with SIMD, that would be great!

[2017-03-07 00:06] tarekgh commented on #16796
thanks @safern. maybe you can set some keyword in the issue title so later we can filter and see all issues that have behavior difference with the desktop.

[2017-03-07 00:09] safern commented on #16796
Will add it in both issues I've had opened and in future issues. What do you think about [Netfx test]?

[2017-03-07 00:12] krwq opened #16798 "System.Security.Cryptography.Xml Fix NullReferenceException with PropagatedNamespaces"
Please see XmlDsigC14NTransformTest.PropagatedNamespaces for repro. Copy:
[code]

We need to figure if @anthonylangsworth fix is the correct one and port the fix to netfx.
original fix: https://github.com/krwq/corefx/commit/55f4b8735835b9bb57db03cac31443d061c81cbe

As part of this issue we need to ensure that the test is correctly interacting with PropagatedNamespaces (please see full commit with

[2017-03-07 00:12] tarekgh commented on #16796
maybe you can make it [NetFX compat] or so

[2017-03-07 00:13] jkotas opened #16799 "Add Interlocked.MemoryBarrierProcessWide method"
Proposal:

[code]

Asymmetric lock free algorithms and data structures, where frequent operations are really cheap (not even interlocked operation) and rare operations are very expensive, are often used to achieve high scalability and performance. It is not possible to implement them in portable .NET code today because there is no process wide memory barrier API that is a key primitive used to imp

[2017-03-07 00:13] safern commented on #16796
Ok sounds good! Thanks.

[2017-03-07 00:19] stephentoub commented on #16375
I think we should do two things:
- Add the enum value and appropriately implement it on both Windows and Unix. I'm not sure why the enum value is described as being specific to Windiws... on Unix we'd translate it in the PAL into the right platform value as we do with all other options.
- Add the ability to pass option names in a platform-specific way so that we have a workaround available in the

[2017-03-07 00:23] geoffkizer commented on #16375
Is this something we want to continue to do, though?  I realize we did this for compat initially, but it seems like we could get into trouble here.  Would we be better off adding a "bool FastOpen" property on Socket, not unlike NoDelay?

+1 to having a way to do platform-specific options names.

[2017-03-07 00:27] stephentoub commented on #16375
Can you elaborate?

[2017-03-07 00:34] mellinoe commented on #15957
@mjmckp Thanks for the detailed response and implementation. I think that `Floor` and `Ceil` are pretty simple and uncontroversial; I would suggest filing a new issue about those two functions so we can discuss them specifically.

`ShiftLeft` and `ShiftRight` have a more fundamental problem in that the CPU instruction set for them has an immediate operand. Our discussions in the past have led us t

[2017-03-07 00:35] geoffkizer commented on #16375
Thinking about it more, I guess there's no actual trouble here; SetSocketOption is already essentially platform-agnostic and translated as appropriate for each platform.

I guess the interesting question is: Is exposing stuff like this through SetSocketOptions the right API model?  We did this historically because it did in fact map directly to the Windows socket options.  Now that that's not true

[2017-03-07 00:38] geoffkizer commented on #16375
Particularly if we're adding something like "SetRawSocketOption" for platform-specific socket option acces.

It would be nice to say:
(a) Platform-agnostic settings are exposed via easy to discover properties; they often map to socket options, but due to differences between platforms, we map these as appropriate
(b) Platform-specific socket options are accessible through a new API(s); use at your

[2017-03-07 00:40] karelz commented on #16790
Here's the code: https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L90-L93

Closing as fixed - @AlexGhiondea's tool will pick up netfx-port-consider also for closed issues.
Thanks @safern!

[2017-03-07 00:40] #16790 closed

[2017-03-07 00:49] XiaoFaye commented on #15709
@mellinoe I can feel the machine becomes very slow, so this is definitely happening.

[2017-03-07 01:01] omariom commented on #16799
What is this thing in terms of barriers?

[2017-03-07 01:05] karelz commented on #16785
This issue was moved to aspnet/Home#1952

[2017-03-07 01:05] #16785 closed

[2017-03-07 01:05] dmitriyse commented on #16661
Finally I established how to combine all ideas together. First commit with very raw preview is published here https://github.com/dmitriyse/ClrCoder/tree/master/src/ClrCoder.Polyfill
(IEnumerableEx, IReadOnlyCollectionEx,  ICollectionEx, etc. contracts are polyfills for future base contract upgrades)

The problem:

[code]
Final bug can be found in totally different place where consumers of consumer

[2017-03-07 01:06] safern commented on #16790
Sounds good. The code is actually: https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L115

It is when the comparer is null and it is in netfx where hasn't being fixed. So just to keep track of that and the test I'm marking it as skip on desktop.
Thanks

[2017-03-07 01:11] weshaggard commented on #16795
cc @saurabh500

[2017-03-07 01:14] karelz commented on #16790
Thanks @safern, I removed my confusing link to the code.

[2017-03-07 01:20] karelz commented on #16661
OK, now I understand what you're trying to achieve high level.
The question is: How common is the pattern and how badly is it needed? Therefore does it belong to CoreFX?

[2017-03-07 01:20] stephentoub commented on #16375
Achieving (c) would mean adding ~30 new members to Socket just for the existing named options, and then additional ones for additional names?

For (a), are there options that are relevant at multiple levels?  If so, those would need methods to take a level in addition to the value to set, along with a corresponding get method?

I actually don't have a strong opinion about it, but the existing mech

[2017-03-07 01:22] dmitriyse commented on #16661
Let's scare a little bit. I added IsImmutable into IEnumerable, sounds crazy.  Just because of that we hardly needs implementation of dotnet/csharplang#52 (was dotnet/csharplang#222).
IsImmutable by default false. Also we needs to add freezable logic to standard collections. Plus we needs additional Linq for working with effective casting with normal/readonly/immutable.
For example:
[code]

[2017-03-07 01:26] Thaina commented on #16743
@krwq For me `2.Pow(3)` is more naturally translate to `2^3` than `Pow(2,3)`. Extension method make it feel more like infix notation

Well, I admit that not all function should be that way. Such as `Log` that normally be prefix notation in math. But still if it is extension method it would more easy to access

ps. As for me `using static` make more pollution

[2017-03-07 01:30] dmitriyse commented on #16661
The question is: How common is the pattern and how badly is it needed? Therefore does it belong to CoreFX?

There multiple ways to solve this problem:
1) API level, most effective benefits/efforts.
We have clear contracts and semantics + we have runtime checks.

2) Language/ CLR level with for example immutable, readonly keywords like it was described here http://joeduffyblog.com/2016/11/30/15-yea

[2017-03-07 01:31] Thaina commented on #16743
@mellinoe I already suggest that `Math` functions should live in `System.Numerics`

And `To` and `Range` that iterate int should be in `System.LINQ`

`To` could be changed. But I would prefer it should be short. I don't know vocab much because I am not native english so would you have any suggest?

[2017-03-07 01:48] karelz commented on #16661
Even if it is API level, you can consider solving it on top of BCL, not necessarily in CoreFX (e.g. create `FrozenCollection` wrappers with `IFrozenCollection`).

[2017-03-07 01:51] geoffkizer commented on #16375
Yeah, that does seem like a lot of new members.

That said, I'm not sure why it's better to expose these via an enum and a generic API.  Is it because the visibility of these things is reduced?  Does enum + generic API imply "here be dragons"?

I realize that the value of doing this is low, given that we already have the enum and generic API.  We should add new stuff like FastOpen using the existi

[2017-03-07 01:55] karelz commented on #16796
@tarekgh @safern do we want to tackle these compat issues in 2.0 or defer them to Future (current status)?
cc @danmosemsft

[2017-03-07 02:00] karelz commented on #9846
@weshaggard did you mean that it is NOT pure facade?
If it is pure facade, it can't ADD things. Or am I missing something (again)? :)

[2017-03-07 02:04] karelz opened #16804 "Stop shipping Desktop OOB package for System.Runtime.Serialization.Primitives"
Shipping OOB packages overriding Desktop .NET Framework (gac'd assemblies) is HARD.
We ran into problems with Networking and decided to stop shipping all such packages.

We should stop shipping System.Runtime.Serialization.Primitives package for Desktop and forward everything to Desktop .NET Framework.

@shmao @zhenlan is that feasible? What will we lose if we stop shipping the OOB package for Des

[2017-03-07 02:09] dmitriyse commented on #16661
Enumeration, collections, collection contracts it's whole ecosystem (currently immutability unaware). Possibly it's time to improve, we also have inheritance inconsistency, missing of IReadOnlySet, miss of Comparable property on ISet, IDictionary. Probably something else.
With  dotnet/csharplang#52 we can do those improvements without loosing backward compatibility.

So I am trying to design one s

[2017-03-07 02:10] fujiy commented on #14376
@KrzysztofCwalina after we finish the Slow Span, @mramosMS and I will try to implement a workaround to Fast Span too.

It is still a naive implementation, but worked in my tests, with both Spans built from objects and pointers. We are still learning how Span and DebuggerTypeProxy works :)

	public unsafe U[] Items
	{
		get
		{
			var spanType = typeof(Span<U>);
			//var _pinnable = _collection.Pin

[2017-03-07 02:14] karelz opened #16805 "Desktop OOB System.Net.Http - don't ship desktop implementation"
With netstandard2.0.dll we will facade the OOB into Desktop .NET.
Is it something we should do also in the standalone System.Net.Http NuGet package? i.e. release yet another version which entirely removes the implementation in CoreFX and ships just the facade on Desktop?

@weshaggard thoughts?

[2017-03-07 02:15] tarekgh commented on #16796
We'll keep those for the future except if run into issue we think it has to be in 2.0.0.0. Like a new issue in code didn't ship before and not a desktop issue

[2017-03-07 02:22] karelz commented on #16661
I see that you are very excited and motivated - that is great! However, I would like you to apply caution. Think things through first. Split them into separate isolated problems. Suggest APIs in small batches which logically belong together. Write down justifications and reasons for each API addition, use case. Get everyone on board with the direction and plan first.
And mainly, prepare for a long

[2017-03-07 02:25] karelz commented on #16796
I think that changing .NET Core after we ship 2.0 will be even harder - the argument will be, we shipped it in 3 releases and it was ok.
Do we believe tracking compat for Future is valuable?

[2017-03-07 02:28] karelz commented on #9917
@gkhanna79 who can look at it for 2.0?

[2017-03-07 02:34] ianhays commented on #16782
The question is whether a PSNE is **more** expected than the 0 time for people porting code from the full framework. And if the answer is a yes, then is it a strong enough yes to justify making a serious breaking change for people porting from 1.0.0 or from Mono?

Personally I don't think it is. While I prefer the PSNE and agree with the OP, I don't think the argument is strong enough to seriously

[2017-03-07 02:37] davidsh commented on #16805
If we do this *and* keep the newer APIs that were added to NETStandard20, then we will have a ref/def mismatch.  The ref for System.Net.Http will have 8 new APIs but the implementation (which will be a facade on Desktop) won't have those members.  So, we will get "MissingMethodException".  Is this what we want even when .NET Core 2.0 NuGet package of System.Net.Http directly?

[2017-03-07 02:37] tarekgh commented on #16796
You already mentioned the argument :-) why we need to put pressure on fixing these before the release? IMHO Fixing them in the future should still have a value to reduce the behavior gap with the desktop but it is not urgent.

[2017-03-07 03:00] icylogic commented on #16375
@stephentoub  Are you talking about [this issue](https://github.com/dotnet/corefx/issues/14237#issuecomment-265926068)? This is an example that we can't use some natively-supported socket options on Unix for now. Although we can do this on Windows.

I've mentioned this issue in the original proposal, since I'm not sure whether the implementation of this feature should follow the current workaround

[2017-03-07 03:16] ellismg commented on #16782
At one point, binary compatibility with the full framework surface area was a goal for .NET Core 2.0.  Is that still the case?  If so, I think we should bias towards maintaining the behavior full framework had (or throwing where we can't make a reasonable approximation).

I totally get (and am sympathetic to) Steve's argument that apps that just want to display this data and not take action on it

[2017-03-07 03:16] zhenlan commented on #16804
System.Runtime.Serialization.Primitives is a partial facade assembly to desktop .NET. Theoretical, apps using `ISerializationSurrogateProvider` on full .NET will be broken if we stop shipping it.

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Primitives/src/System.Runtime.Serialization.Primitives.csproj#L41

[2017-03-07 03:38] safern commented on #16796
I would leave it as future as well as it is a bug in desktop where it is throwing an InvalidOperationException when using ISet.IntersectWith.

[2017-03-07 04:11] stephentoub commented on #16782
What about another option: have creation time be a synonym for last write time if creation time isn't supported as a concept?

[2017-03-07 04:13] davidfowl commented on #16778
Close

[2017-03-07 04:13] #16778 closed

[2017-03-07 04:59] stephentoub commented on #16375
I can't tell... are we saying the same thing?  I'm saying:
- socket.SetSocketOption(SocketOptionLevel.Tcp, SocketOptionName.FastOpen, true) does what you'd expect: if sets the appropriate option on the underlying socket if supported, or throws an exception if it's not, as is the case with any other option you might try to set that may or may not be supported on a given OS.  How that happens in the

[2017-03-07 05:15] billwert commented on #16782
I think that's actually worse. The way it is broken now it was at least obvious _something_ had gone wrong with my app, though it took some time to track down. If it used LastWriteTime instead of CreationTime it could have happened to be correct sometimes, but not necessarily always.

I think it is fine for developers to make a fallback choice in this instance. I think doing it in the platform cou

[2017-03-07 05:38] jkotas commented on #16799
This is system wide barrier. Check what FlushProcessWriteBuffers API does on Windows; or sys_membarrier on Linux. This one is just a thin portable .NET wrapper for these.

[2017-03-07 05:52] Jiayili1 commented on #10764
This issue is repro on build 20170307.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170307.01/workItem/System.Net.NameResolution.Pal.Tests/wilogs

[2017-03-07 05:53] icylogic commented on #16375
Sorry, I've checked the source code again and found that although Windows PAL would not check the value before invoking native methods like Unix PAL, it will parse the error code returned from native API and throw exceptions. Then I have no questions about the original SetSocketOption.

I agree that SetRawSocketOption should be used in this way.

So if we agree on adding SetRawSocketOption, I thin

[2017-03-07 06:09] Jiayili1 commented on #16201
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_release/117/testReport/System.Net.Tests/HttpWebRequestTest/Headers_GetResponseHeaders_ContainsExpectedValue_remoteServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-03-07 06:30] Jiayili1 commented on #13298
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/122/testReport/System.Net.Http.Functional.Tests/PostScenarioTest/PostEmptyContentUsingChunkedEncoding_Success_serverUri__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-03-07 08:14] peterwurzinger commented on #16779
Well I think I can have a look todays morning (9:12AM for me atm) and will try to investigate this. What looks kind of weird is, that it's passing on corefx but failing on full framework builds.

[2017-03-07 09:16] omariom commented on #16799
The local effect is the same as  Interlocked.MemoryBarrier has?

[2017-03-07 12:10] stephentoub commented on #16375
New APIs need to follow the API review process outlined here:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md
A new issue should be opened for that.  I realize I may have caused confusion by raising it in this thread, but since it was related, I brought it up.  Now that we're on the same page, it'd be good to have a separate issue for it and this issue

[2017-03-07 12:15] Mike-EEE commented on #5766
Yeah, I was afraid of that. 😛  I did get a reply there, but I have to be honest it doesn't make much sense to me.

From what I can grok, it does appear that they are going to continue to take a closed-door approach with their specification process.  This is concerning as it would seem that this would lead to the same results as last time, ending in an API that no one wants to use or adopt.

Maybe

[2017-03-07 12:21] VladimirAkopyan commented on #2937
I support this issue

[2017-03-07 12:23] JonasZ95 opened #16813 "Why does System.IO.MemoryStream.Read returns 0 if no more bytes are available?"
I think that's something which makes streams very inconsistent.

System.Net.Sockets.NetworkStream.Read may return 0 if there is no data available right now but there may be some data available in the future.

If you look how System.IO.BinaryReader uses Read you see how It wraps around this inconsistency.

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/BinaryReader.cs#L637

[2017-03-07 12:23] marek-safar commented on #16782
@danmosemsft IIRC what Mono does in this case is that it uses LastWriteTime values when CreationTime value is not available.

[2017-03-07 12:26] stephentoub commented on #16782
@marek-safar, have you heard of anyone having problems with this?  Folks taking Windows code to Mono and having significant problems because of it?

[2017-03-07 12:32] stephentoub commented on #16813
Because that's how Stream.Read is defined:
https://msdn.microsoft.com/en-us/library/system.io.stream.read%28v=vs.110%29.aspx
"The total number of bytes read into the buffer. This can be less than the number of bytes requested if that many bytes are not currently available, *or zero (0) if the end of the stream has been reached*."

How so?  This is how all Streams are supposed to behave.

No, and i

[2017-03-07 12:40] marek-safar commented on #16782
@stephentoub We have had couple of bug reports about that but as this is usually file-system limitation people had to adjust their code if they really wanted to have two distinct values.

[2017-03-07 12:51] #16724 closed

[2017-03-07 13:26] JonasZ95 commented on #16813
Looking more into it, It seems It's more like a documentation error on msdn.

While msdn says: (https://msdn.microsoft.com/en-us/library/system.net.sockets.networkstream.read(v=vs.110).aspx)
' If no data is available for reading, the Read method returns 0.'

corefx doc says: (https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs#L262)

'Number

[2017-03-07 13:28] stephentoub commented on #16813
Thanks. I agree that sentence on msdn is potentially misleading. (FYI, @mairaw).

[2017-03-07 13:29] #16760 closed

[2017-03-07 13:56] hughbe commented on #14255
This is technically source breaking right?
[code]
String and char[] can both be assigned from null, so this is now ambiguous and fails to compile

[2017-03-07 14:22] jkotas commented on #16799
Yes. You would not call this API because of the local effect. You would call it because of the global effect.

[2017-03-07 14:23] jkotas commented on #16799
Here is a sample implementation of asymmetric using this API: https://gist.github.com/jkotas/aff2ca3774414807be7312fa00d3d521

[2017-03-07 14:36] JonHanna commented on #14255
It's only ambiguous with a literal null, and it throws ANE when null is passed to it, so the only code that will be broken is code that would always throw. Source-breaking that code is doing the author a favour.

[2017-03-07 15:36] gkhanna79 commented on #9917
@wtgodbe should be able to look into this.

[2017-03-07 15:48] stephentoub commented on #16799
For very advanced scenarios / building low-level primitives, this seems like a reasonable thing to add.  We already have support in Windows, and Linux recently added first-class support due to recognizing the need for something like this.

[2017-03-07 15:51] stephentoub commented on #16799
I wonder about a different name, though.  It's closely tied to the Windows naming, currently, and another name may be more understandable.  Interlocked.ProcessWideMemoryBarrier()?

[2017-03-07 16:33] hughbe commented on #14255
Yup as I thought - it's unlikely

[2017-03-07 16:41] jkotas commented on #16799
Agree - updated the name.

[2017-03-07 16:52] karelz commented on #16804
How much is that interface used, what will break? (note: [apisof.net](https://apisof.net/catalog/System.Runtime.Serialization.ISerializationSurrogateProvider) shows no usage on NuGet)
Note that we intentionally broke ~100 APIs in .NET Standard 2.0 on Desktop - they will throw MissingMethod/MissingType exceptions. Most of them, because we can't do anything else in .NET Standard, but 8 of them (Syst

[2017-03-07 16:57] tarekgh commented on #14255
we already has the same case before so this is not really something new. for example we have Encoding.GetBytes(char[]) and Encoding.GetBytes(string). I am not really worried about the null case (without casts).

[2017-03-07 16:59] dmitriyse opened #16818 "Proposal: add "IEqualityComparer Comparer" property to the IReadOnlyDictionary<K,V> and to ISet<T>"
When we have only contract of the collection we cannot understand by what criteria keys or items are compared.
[code]

Improvements of BCL interfaces without loosing backward compatibility will be possible with help of
https://github.com/dotnet/csharplang/issues/52

Also this proposal is mentioned here https://github.com/dotnet/corefx/issues/1973#issuecomment-283912409

[2017-03-07 17:00] karelz commented on #16805
I think it is desirable to have the same experience with .NET Standard 2.0 and direct targeting of .NET Core 2.0. I would prefer to do a clean cut with 2.0 and not guide people into using package we do not test in the environment it ships in (on Desktop).
Whoever truly needs those 8 APIs can stay on older package version or can use the workarounds we proposed.
It will also get rid of the binding r

[2017-03-07 17:10] karelz commented on #16818
@dmitriyse let's please stop filing default interface implementation API proposals in CoreFX, until the feature exists (or nearly exists).
I am also looking forward to it, but we need to understand all its implications on CoreFX - don't forget that CoreFX is also used for Xamarin (active port in progress), UWP and Desktop. Also some code ships downlevel from CoreFX - we have to avoid to use it the

[2017-03-07 17:10] #16818 closed

[2017-03-07 17:11] karelz commented on #16818
cc @ianhays @safern

[2017-03-07 17:16] dmitriyse commented on #16818
Ok, sorry. I understand you.

[2017-03-07 17:17] natemcmaster commented on #16785
@karelz are there plans to support System.Diagnostics.EventLog on .NET Core? This package is a wrapper around this API.

[2017-03-07 17:18] steveharter commented on #16757
This test has been there a while: (Jun 2016) - https://github.com/dotnet/corefx/commit/a97d15faa7d90bae430ae920a251c23010869a22#diff-06a6483ff6bb478e06f199d69522bcd4
with one other failure:
[code]

Current failure here with task canceled:
[code]
It is expecting the request to return status 307 in the Assert which means 'Temporary Redirect'

[2017-03-07 17:32] karelz commented on #16660
The motivation was discussed here: https://github.com/dotnet/corefx/issues/16661#issuecomment-284587410
It looks like this is a dupe (part of) the large issue.
We have to choose to either:
* First clarify high-level motivation (as I mentioned maybe not on GitHub), then we can spin off smaller work items like this one, or
* Spin off standalone API proposals (like this one) which can clearly express

[2017-03-07 17:32] #16660 closed

[2017-03-07 17:34] dmitriyse commented on #16661
Thank you for your support.
Any ideas really should be long-time staged and maximally improved before become BCL. Also amount of consumers of the BCL code now becomes fantastically large (as you mentioned CoreFX is also used for Xamarin , UWP and Desktop) and will continue to grow.

So probably it's a wrong place to discuss improvement ideas and form them as a feature request.
It's more likely to

[2017-03-07 17:37] dmitriyse commented on #16661
We can close this issue, I found a way how to build useful nuget packages without BCL modifications (but with some restrictions and workarounds).
If this new API become popular, than it can be pulled to BCL with greater integration level.

[2017-03-07 17:40] weshaggard commented on #9846
It is a pure facade inbox on the framework but the one in the OOB package it adds some things that ship in the OOB package.  See https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Primitives/src/System.Runtime.Serialization.Primitives.csproj#L41 which is the addition of an interface to this library.

We can continue the other discussion at the new issue you filed.

[2017-03-07 17:43] weshaggard commented on #16804
Answering your other question @karelz. I've not done any analysis to confirm or deny that, as we talked in the past someone would need to go through all our packages and look at what they produce and compare it to what is inbox. @ericstj and I called out HttpClient and IO Compression as 2 examples that we know we are overwriting implementation that was inbox but there might be other partial facade

[2017-03-07 17:47] karelz commented on #16785
It was punted from .NET Core 2.0 - see #6913.
If there is enough people interested, we can bring it back as extension (similar to Registry). Especially if community is interested in helping with the port and testing (like SerialPort, SignedXml).

[2017-03-07 18:02] karelz commented on #16818
Thanks for understanding! Please do not view it as discouragement from contributions - we appreciate community contributions, incl. API proposals. The only problem is timing of your proposals - you are a bit ahead of the game and Roslyn :)

If you are interested in immediate actionable contributions, I would recommend to look at:
* [up for grabs](https://github.com/dotnet/corefx/issues?utf8=%E2%9C

[2017-03-07 18:07] karelz commented on #16661
Sounds good. Let us know when you are ready to start the discussion again - we can find the right place for it.

[2017-03-07 18:07] #16661 closed

[2017-03-07 18:09] ianhays commented on #16572
I agree with @karelz here. Bluetooth support is really more something that should be a separate package; it doesn't really fit under the "core" libraries. I do think it would be great to have an active, functional package for it on Nuget.

[2017-03-07 18:09] #16572 closed

[2017-03-07 18:15] natemcmaster commented on #16785
👍

To make Microsoft.Extensions.Logging.EventLog work on .NET Core, we would need this. For now, until then Microsoft.Extensions.Logging.EventLog, has to target .NET Framework in order to access System.Diagnostics.EventLog.

[2017-03-07 18:16] karelz commented on #15622
API triage: Approved if we change the method name to `Remove` - it will be overload of existing `bool Remove(TKey)`:
[code]

[2017-03-07 18:17] karelz commented on #15622
I modified the top post and renamed `TryRemove` to `Remove`.

[2017-03-07 18:20] karelz commented on #4497
API review: We do not believe this is widely used if at all, however, why not to add it - it will make the API surface more consistent.
Approved as proposed, assuming it can be implemented on CoreCLR (there were some questions about that - but the limitations are probably only on .NET Native).

[2017-03-07 18:21] ianhays commented on #15622
Yay!

[2017-03-07 18:26] krwq commented on #16779
@peterwurzinger - thank you a lot for picking this up! For sanity check I recommend to rerun it on full fx in case I accidentally did something wrong. I was running many tests on Desktop so errors are completely possible.

[2017-03-07 18:27] krwq commented on #16691
I'll be working on this issue right now

[2017-03-07 18:33] karelz commented on #5884
API review:
@weshaggard mentioned this would have been very useful in the past. Partners are likely asking for it.

We like the original proposal (as virtual) - approved. If there are reasons to do something else, please speak up = reply with clear proposal change and defend it.

BTW: We discussed as well having overloads with specific types - mainly for performance. We do not think it is a must h

[2017-03-07 18:45] karelz commented on #12442
API review: We are fine with the API, we just don't like the word `Local` as it leaks implementation.
Can you please brainstorm more options?
We discussed `preferFairness` - unfortunately the default is true, which doesn't align with existing API. Other ideas: optimizeThroughput, optimize, etc.

[2017-03-07 18:49] karelz commented on #16448
API review: We believe that many folks will want `null` to be `false` and many will want `true`. As such, we don't think we should hardcode the default.

API rejected.

Workarounds: `Debug.Assert(stream?.CanSeek ?? false)` or `Debug.Assert(stream != null && stream.CanSeek)`

[2017-03-07 18:49] #16448 closed

[2017-03-07 18:52] safern commented on #15622
Nice :)

[2017-03-07 18:53] benaadams commented on #12442
`preferSameThread`?

[2017-03-07 18:54] karelz commented on #16566
API review: Approved as `IsSZArray` (with upper case Z to adhere to CoreFX naming rules)

Next step: Needs exposure from CoreCLR/CoreRT, potentially rename in CoreCLR/CoreRT.
Complexity: Medium.

[2017-03-07 18:55] karelz commented on #16566
Top post updated to `IsSZArray`.
@MichalStrehovsky please file a separate issue for `IsMDArray`. It seems to make sense.

[2017-03-07 19:02] benaadams commented on #12442
`preferSameThread`?

Updated

[2017-03-07 19:08] karelz commented on #16798
@krwq why was it moved from 2.0?

[2017-03-07 19:09] karelz commented on #15152
@stephentoub what's the motivation for 2.0?

[2017-03-07 19:11] karelz commented on #12442
@stephentoub @terrajobst @weshaggard @bartonjs @mellinoe thoughts?
Sounds reasonable to me - saying Local without calling LocalQueue :)

[2017-03-07 19:20] stephentoub commented on #15152
The change will reduce allocations in this particular case by 4x, and it'll take me about 10 minutes to do.

[2017-03-07 19:22] bartonjs commented on #12442
`preferSameThread` seems reasonable to me, but I'll defer to @stephentoub. (So long as the name makes sense to Steve and `false` is the same as the existing overload, I'm content)

[2017-03-07 19:23] karelz opened #16823 "List and Review OOB packages shipping replacements of Desktop assemblies"
We need to review all NuGet packages which replace Desktop .NET Framework gac'd assemblies - shipping such NuGet packages is HARD (see e.g. #11100), not tested and causes trouble with binding redirects (see #9846).

Known list of packages:
1. System.Net.Http - #16805
2. System.IO.Compression - #15693
3. System.Runtime.Serialization.Primitives - #16804

[3] is example where we extend Desktop - we n

[2017-03-07 19:24] karelz commented on #16823
I need to find someone to do the review/audit of all CoreFX packages.

[2017-03-07 19:25] karelz commented on #16804
@weshaggard thanks, sorry I didn't get it earlier - I filed #16823 to track reviewing all CoreFX packages.

[2017-03-07 19:26] karelz commented on #15152
Thanks, sold :)

[2017-03-07 19:27] karelz commented on #9846
BTW: I filed #16823 to review all NuGet packages in CoreFX we ship as Desktop replacements.

@JohnGalt1717 it still does not cover the IdentityModel packages - please follow up on their repos (I personally don't know where they are).

[2017-03-07 19:28] dhoehna commented on #15554
@JeremyKuhne So sorry to keep asking questions, but I have another problem. Coverage from `msbuild /t:buildandtest /p:coverage=true` does not reflect any tests I have written.

The OpenCover tool does not pick up the changes I made to test UrlPath.
[index.txt](https://github.com/dotnet/corefx/files/825525/index.txt)  This is the index.htm file.  As you can see, UrlPath.cs has a line coverage of 4.

[2017-03-07 19:32] stephentoub commented on #12442
`preferSameThread` is still potentially tied to this implementation.  For example, imagine in the future we decided not to have one queue per thread but rather one queue per set of threads.  Though I do like `preferSameThread` better than `preferLocal`.

How about `preferAffinity`?  false matches the existing overloads, it's sufficiently vague as to accommodate a variety of implementations, but it

[2017-03-07 19:32] weshaggard opened #16825 "Investigate the size of System.Private.Xml"
System.Private.Xml is 3.7 MB of size on disk for IL and 8.4 MB when cross-gen'ed which seems a little large.

For reference System.Xml.dll on desktop is only 2.6 MB.

We should understand the delta and make sure we aren't including a bunch of dead code.

[2017-03-07 19:32] karelz commented on #15554
@mellinoe can you please help to route the code coverage question?

[2017-03-07 19:40] benaadams commented on #12442
Like it, but may be thought of too specifically as preferring as same core?

How about `preferSameAffinity` keeps vagueness as "whatever that other thing was"?

[2017-03-07 19:41] shmao commented on #16788
Resolved the issue as we already had IXmlSerializable tests.

[2017-03-07 19:41] #16788 closed

[2017-03-07 19:48] steveharter commented on #16765
Also adding related test: System.Net.Sockets.Tests.SocketAsyncEventArgsTest.CancelConnectAsync_InstanceConnect_CancelsInProgressConnect
since it also fails on Unix
[code]

Perhaps this is an issue with other tests that use IPAddress.Any (0.0.0.0)?

[2017-03-07 19:50] stephentoub commented on #16765
Yeah, I disabled that this morning against this issue as well, as I assume it's the same underlying problem.

[2017-03-07 19:57] jamesqo commented on #16448
@karelz What's a situation where someone would think null is true?

[2017-03-07 19:59] JohnGalt1717 commented on #9846
I have. And they're now independently fixing. However the issue is that MS as a company is releasing broken stuff without testing it across all platforms that they're supposedly supporting and ensuring it doesn't break stuff when they use the same nuget package.  This is a fundamental issue in the entire development team that should be dealt with company-wide.

[2017-03-07 20:04] karelz commented on #16448
What about this:
* `Debug.Assert(array == null || array.Length > index);`
* `Debug.Assert(options == null || options.IsValid());`

[2017-03-07 20:13] tarekgh commented on #16823
CC @weshaggard @ericstj

[2017-03-07 20:14] stephentoub commented on #12442
What other thing?  That might be too vague ;)

`preferIsolation` or `preferIsolated`?
`avoidContention`?

Or... maybe I'm being too literal with the original proposal. `preferLocal` might not be referring to the thing we actually call the `local queue`, but rather could just mean "prefer putting this somewhere close to me", like someone shopping for locally-source produce, or "honey, do you want t

[2017-03-07 20:20] karelz commented on #9846
@JohnGalt1717 yes, we have a test gap on Desktop OOB packagers in CoreFX repo. It does not mean the entire CoreFX or entire company goes untested. These are **one off mistakes** we as larger .NET team made. The intentions were good - deliver value to customers. Sadly the complexity of CoreFX and the test matrix is so huge that folks shipping those packages didn't realize we are missing testing of

[2017-03-07 20:21] danmosemsft commented on #16781
Generally, we should have parity with desktop -- that includes deprecated algorithms. Thus ported code should work, but we can strongly recommend against their use and advise the code be modified as soon as practical.

[2017-03-07 20:22] karelz commented on #16823
cc @danmosemsft

[2017-03-07 20:24] mellinoe commented on #15554
@dhoehna Can you try passing in the `CodeCoverageAssemblies` property to your build? It may be that the code coverage targets are not properly identifying which assembly we are supposed to gather code coverage data. Can you do something like this:

`msbuild /t:rebuildandtest /p:coverage=true /p:CodeCoverageAssemblies=System.Configuration.ConfigurationManager`

and let me know what it shows?

[2017-03-07 20:24] steveharter commented on #16584
Dupe of https://github.com/dotnet/corefx/issues/13349

[2017-03-07 20:24] #16584 closed

[2017-03-07 20:24] peterwurzinger commented on #16779
@krwq can you please show me the concrete command to run tests against Desktop configuration?

[2017-03-07 20:34] ianhays commented on #16741
The timeout here is 60 seconds. That seems more than adequate, but possibly not as this test is failing across several Unixes:

- [Debian - ClientAsyncAuthenticate_IndividualServerVsAllClientSupportedProtocols_Success(serverProtocol: Tls)](https://ci.dot.net/job/dotnet_corefx/job/master/job/debian8.4_debug/1200/testReport/junit/System.Net.Security.Tests/ClientAsyncAuthenticateTest/ClientAsyncAuthe

[2017-03-07 20:40] benaadams commented on #12442
Local numa node 😉

[2017-03-07 20:40] mellinoe commented on #15554
Actually, it would also help if you could just include the full log from msbuild: I could probably identify whether the right things were being passed into the code coverage steps by looking.

[2017-03-07 20:41] benaadams commented on #12442
Local numa node 😉

`preferLocal` rather than `perferLocalQueue` probably works then?

[2017-03-07 20:42] stephentoub commented on #12442
Right, leaving it vague... just generally as "local" as the system can / wants to muster.

[2017-03-07 20:44] krwq opened #16829 "Improve Code Coverage for System.Security.Cryptography.Xml"
Here are the main areas which need improvement:
- [ ] `SignedXml.CheckSignature(X509Certificate2 certificate, bool verifySignatureOnly)` - currently no coverage - sample code should be sufficient
- [ ] `System.Security.Cryptography.Xml.XmlDecryptionTransform` - https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/System.Security.Cryptography.Xml_XmlDecrypt

[2017-03-07 20:44] #16795 closed

[2017-03-07 20:44] stephentoub commented on #12662
I fixed a few of these already, e.g. https://github.com/dotnet/corefx/pull/16495, but there are still a handful more to be addressed.

[2017-03-07 20:50] krwq commented on #16798
@karelz - this is not too common scenario considering this bug existed on Desktop for some time and I haven't seen reports on it. We currently want to focus on having all Desktop scenarios working and if there is enough time we can take any additional fixes. We should likely re-triage after we finish

[2017-03-07 20:51] mellinoe commented on #16823
We also ship System.Numerics.Vectors.dll, but the version in the .NET Framework is only a facade. So there is no "replacement" going on there, just adding the `Vector/Vector<T>` types on top of the forwarders.

[2017-03-07 21:00] WinCPP commented on #3862
@stephentoub Please refer to [this](https://github.com/dotnet/corefx/blob/55b3172f3dae2a4249decc7ab2ab39ca738244e0/src/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceInternal.cs#L331) location which uses double-check locked execution of some code for initializing multiple variables together. Would having a method `EnsureExecuted` on lines of `LazyInitializer.EnsureInitialized` be worth

[2017-03-07 21:04] ianhays commented on #16741
Looks like the right thing to do here is increase the timeouts to let us see if they're failing from interference or from the test itself having an issue.

[2017-03-07 21:16] weshaggard commented on #16805
@davidsh I assume https://github.com/dotnet/standard/commit/622e5b391bff432242b0f6e94a840b2d8d7ae298#diff-f0db2de692a1b3bca91f4d42eab8a297R75 are the APIs you are referring to correct? We could make a decision to remove those from .NET Standard 2.0 but we have similar APIs (as you can see from the rest of that commit) that are in a similar boat.

I tend to agree with @karelz here we should create

[2017-03-07 21:16] dhoehna commented on #15554
@mellinoe Do I need to include anything for msbuild to produce a log, or is the default output good enough?

[2017-03-07 21:16] karelz commented on #12442
OK, marking it as approved - given that @stephentoub was raising most of the concerns about naming and he is now fine with the original.
@bartonjs @terrajobst @weshaggard please shout out if you disagree.

[2017-03-07 21:17] karelz commented on #12442
@benaadams do you plan to grab it? (not pushing, just asking if we need to put more details into "next steps")

[2017-03-07 21:18] dhoehna commented on #15554
I ran `msbuild /t:rebuildandtest /p:coverage=true /p:CodeCoverageAssemblies=System.Configuration.ConfigurationManager` Nothing changed..  UrlPath line coverage is still at 4.6 percent

[2017-03-07 21:18] karelz commented on #13349
Dupe #16584 was on Windows:
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows_prtest/34/consoleFull#-141271452579fe3b83-f408-404c-b9e7-9207d232e5fc

[2017-03-07 21:22] karelz commented on #16823
@mellinoe thanks, the key thing is if we use the same assembly identity with higher assembly version - if that's not the case for System.Numerics.Vectors, then we are safe.

[2017-03-07 21:23] karelz commented on #16798
Sounds good. BTW: I wasn't pushing back, just wanted to understand the 'why' :)

[2017-03-07 21:23] shmao commented on #16768
This issue is a regression. The issue didn't repro when ToolChain use pre-NetCore2.0 library.

[2017-03-07 21:23] #16693 closed

[2017-03-07 21:28] davidsh commented on #16805
Yes, I am talking about the 8 new properties added to the HttpClientHandler class (part of System.Net.Http)

[2017-03-07 21:36] danmosemsft commented on #15554
@dhoehna you can add /flp5:v=d /flp6:v=diag and then attach msbuild5.log and msbuild6.log. That should have everything.

[2017-03-07 21:40] mikem8361 commented on #1050
What do I need to do? Enable the test? Can't you @Jiayili1 do that?

[2017-03-07 21:44] nguerrera commented on #1050
There were two distinct issues on this thread. The one @mikem8361 fixed is not the same as the root issue.

[2017-03-07 21:45] danmosemsft commented on #16289
I didn't have a chance to debug but I guess to reach this code you had to add `Left` to the public API? Not sure why the implementation is there but before adding it we should consider if we want to. (Not sure why we wouldn't but apparently someone made that decision)

[code]

[2017-03-07 21:46] dhoehna commented on #15554
[msbuild6.txt](https://github.com/dotnet/corefx/files/825928/msbuild6.txt)
[msbuild5.txt](https://github.com/dotnet/corefx/files/825929/msbuild5.txt)

Obtained with `msbuild /t:buildandtest /p:Coverage=true /flp5:v=d /flp6:v=diag`

[2017-03-07 21:47] danmosemsft commented on #16289
I notice in https://github.com/dotnet/corefx/issues/14300#issuecomment-284763018 @AnthonyDGreen says we don't want to port these. If you'd like to propose we should, do add your thoughts in that issue.

Meantime let me know if you hit this when using an current public API.

[2017-03-07 21:52] danmosemsft commented on #15041
@ianhays it's seems above the tests in the assembly are indeed enabled? if not would be good to get them enabled in bulk now and disable failing tests with specific issues so we know how much debt there is and see any regressions.

[2017-03-07 22:00] mjmckp opened #16833 "API Proposal: Ceil, Floor, and Add for Vector<T>"
This is a proposal of the ideas discussed in issue #15957.

There are a few SIMD operations on `System.Numerics.Vector<T>` missing that are required to implement vectorized versions of `log`, `exp`, `sin`, and `cos`.

There is a C implementation of these methods using AVX intrinsics from [here](http://software-lisc.fbk.eu/avx_mathfun/), which I have translated into a C# implemention using `Vector<

[2017-03-07 22:15] mjmckp opened #16835 "API Proposal: ShiftLeft, ShiftRight for Vector<T>"
This is a proposal of the ideas discussed in issue #15957.

There are a few SIMD operations on `System.Numerics.Vector<T>` missing that are required to implement vectorized versions of `log`, `exp`, `sin`, and `cos`.

There is a C implementation of these methods using AVX intrinsics from [here](http://software-lisc.fbk.eu/avx_mathfun/), which I have translated into a C# implemention using `Vector<

[2017-03-07 22:15] GZidar commented on #15031
Hi all, I have just installed VS2017 on a brand new computer (nothing but windows 10 - insider build 15048) and tried dotnet ef migrations list and the command crashes with the below message.

[code]
The project is a netcoreapp1.1 csproj with all packages referencing version 1.1.1 (except tools as there is no 1.1.1 version) as shown below.

[code]

[2017-03-07 23:00] MichalStrehovsky opened #16836 "Type: Needs api to distinguish Multidim arrays"
Forked off from #16566 which is adding `IsSZArray` to `Type`. After that proposal got approved, you can check whether a `System.Type` is a multidim array by writing `type.IsArray && !type.IsSZArray`.

This check is rather awkward. We used to have this kind of API surface in the CoreRT type system, but it lead to problems with readability of the code that used the API. We ended up adding an IsMDArr

[2017-03-07 23:12] karelz commented on #15810
cc @tquerec

[2017-03-07 23:16] peterwurzinger commented on #16779
@krwq Just a small update:
I found a way to fix this issue. If I remove the "PGenCounter", "Seed" and "J" - elements from the KeyValue-XML, it's actually working. I'll check which element(s) are the real cause for this and why their presence causes such a mess. But for now I'm gonna go to sleep.

cc @tintoy @anthonylangsworth

[2017-03-07 23:18] #16741 closed

[2017-03-07 23:30] OmarTawfik commented on #8808
cc @VSadov @AnthonyDGreen

[2017-03-07 23:47] shmao opened #16839 "TypeInitialization_Type_NoTypeAvailable in Serialization Tests"
When running on Uapaot, many of serialization tests failed on `System.TypeInitializationException`. Please see the example below,

[code]

According to the error message, it seems the `typeof(IDictionaryGeneric)` call failed or the reflection component was having trouble looking for the static constructor of [CollectionDataContractCriticalHelper](https://github.com/dotnet/corefx/blob/15b4f51c2f3cb

[2017-03-08 00:02] danmosemsft commented on #16430
Failed again today -- @saurabh500 would it make sense to disable it while you investigate? @Jiayili1 can make that change if you like.

[2017-03-08 00:06] saurabh500 commented on #16430
@danmosemsft I dont think I can debug it without the kind of workload that the CI is running.
I haven't gotten to adding more logging. I should be able to do it by EOD or tomorrow.

Can you provide the link for today's failure?

[2017-03-08 00:40] davidfowl opened #16840 "Span/ReadonlySpan TryCopy/CopyTo are very slow"
The implementation of TryCopyTo/CopyTo is extremely slow (byte by byte) for the portable span. There's a TODO to use a new API in Unsafe (which has since been added) but it was never implemented.

https://github.com/dotnet/corefx/blob/5ee9e2a7ded9d609e69bbd7c1ed6823b97737a72/src/System.Memory/src/System/Span.cs#L329

https://github.com/dotnet/corefx/blob/5ee9e2a7ded9d609e69bbd7c1ed6823b97737a72/sr

[2017-03-08 00:51] tannergooding opened #16841 "Floating-Point Classification APIs"
### Rationale

The .NET framework does not currently provide support for classifying various floating-point types other than Infinity and NAN.

Efficiently classifying floating-point values can be very useful to optimize various code paths when dealing with numbers that are outside the normal input range.

### Proposed API

[code]

[2017-03-08 00:51] tannergooding commented on #16841
FYI. @mellinoe

[2017-03-08 00:53] mellinoe commented on #16841
[code]

Are these values significant in any way? It sticks out as odd / significant that some are negative.

[2017-03-08 00:59] tannergooding commented on #16841
The MS CRT implementation has them configured like that so you can say:
 "Anything less than or equal to 0 is finite, and anything greater than 0 is not finite."

Also so you can say "0" is "0".

[2017-03-08 01:05] saurabh500 opened #16842 "Consider removing the Encoding.RegisterProvider from SqlClient"
SqlClient currently registers the encoding providers. They should be done by the application and the not the client itself.

Refer the discussions in https://github.com/dotnet/corefx/pull/16589
[code]

[2017-03-08 01:11] karelz commented on #15031
@GZidar I would recommend to not post into closed issues - they may not be monitored.

I am not sure which command crashes for you ... can you specify if it is some migration tool or your app? (note that migration tools are not part of CoreFX - so if that's the case, we will be able to direct you to the right repo)

[2017-03-08 01:13] danmosemsft opened #16843 "Dumping error ValueError: max() arg is an empty sequence"
@mellinoe is this behaving normally?

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/lastCompletedBuild/consoleText
[code]

[2017-03-08 01:13] tarekgh commented on #16842
thanks @saurabh500 for filing the issue.

[2017-03-08 01:14] danmosemsft commented on #16430
Sure @saurabh500
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/lastCompletedBuild/consoleText

[code]

If it requires the full run to repro, it makes total sense to keep it enabled in CI while you do logging etc.

[2017-03-08 01:16] mellinoe commented on #16843
Gah, that's probably because there are no files in the dump folder at all. It shouldn't have any negative effects other than printing unnecessary stuff out when tests fail. I will submit a fix to buildtools.

[2017-03-08 01:24] karelz commented on #16201
@tmds @omajid we could use your help on this issue ...

[2017-03-08 01:33] Priya91 commented on #10764
@MattGal @karelz  This test was fixed, and the error hostnotfound should not be hit, as can be seen from source code [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs#L171). Can you confirm which version of the source is used in the 20170307.01 build? The stack strace from console doesn't have line numbers as well, so it's no

[2017-03-08 01:41] mellinoe commented on #16835
@CarolEidt @sivarv

The main conceptual problem with these methods is that, at least if our past investigations are valid, it is not feasible for the JIT to produce good SIMD instructions for these in all cases, because the second parameter is not necessarily a constant. It can do so if the methods are called with a constant parameter, but this cannot be guaranteed in C#. There is a "pit of failur

[2017-03-08 01:43] mellinoe commented on #16833
These seem really straightforward to me, and are a common operation in many algorithms. Any concerns about the feasibility in the JIT, or in other non-AVX architectures? @sivarv

[2017-03-08 01:44] sivarv commented on #16835
CC @russellhadley

[2017-03-08 01:51] tannergooding commented on #16841
I updated the proposal above with an implementation. There is probably a trick to easily determining if a number is normal (rather than calling into `Classify`), but I don't recall what it is off the top of my hand.

[2017-03-08 01:51] sivarv commented on #16833
CC @russellhadley

As per Intel manual, these C++ intrinsics are wrappers over roundps/roundpd instructions with rounding mode specified using an immediate byte.  roundps/pd is supported on SSE4_1 and above.  Given RyuJIT also supports SSE3_4 mode, which is more common than SSE2 alone, we should consider implementing these intrinsics.

[2017-03-08 01:56] CIPop commented on #13298
/cc @Priya91 @stephentoub
I have a consistent repro on OSX:

Running:
`~/corefxTrusted/Tools/msbuild.sh -t:rebuild,test  /p:Outerloop=true`

[code]

[2017-03-08 02:15] Priya91 commented on #13298
@CIPop This doesn't appear to be the same issue, it looks like a genuine cert configuration error.

[2017-03-08 02:25] CIPop commented on #13298
I followed https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md#macos
Do I need something else?

[2017-03-08 02:26] saurabh500 commented on #16430
PR with more logging https://github.com/dotnet/corefx/pull/16845

[2017-03-08 02:27] MattGal commented on #10764
All the builds will be based on corefx at 1ac6bacd61c067cb96344cab41f4a1c636a97246 which should definitely be newer than your test fix.  You can see that by finding the build from Mission control or VSTS (in this case, say https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=600923) and clicking on the "Git checkout" step.

Just randomly guessing, but since all the ot

[2017-03-08 02:58] GZidar commented on #15031
@karelz Sorry for posting here but I did so under direction (in a previous closed issue EF#7742 - linked above). The command that fails is "**dotnet ef migrations list**" this is not a problem with my app code as far as I can tell and it has been an issue that has been reproduced by others. Unfortunately the fix which should have been shipped with dotnet core 1.1.1 does not seem to work (for me at

[2017-03-08 04:12] richlander commented on #16441
@preetikr

[2017-03-08 04:14] fujiy commented on #14376
Here is a draft of Fast Span DebuggerTypeProxy:

    public class MySpanDebugView<U>
    {
        private readonly Span<U> _collection;

        public MySpanDebugView(Span<U> collection)
        {
            _collection = collection;
        }

        [DebuggerBrowsable(DebuggerBrowsableState.RootHidden)]
        public unsafe U[] Items
        {
            get
            {
                i