[2017-10-19 19:21] khyperia commented on #24746
The implementation of this type on Mac/Linux does not fit our functional needs. It does not open a persistent named pipe waiting for connections upon creation, but rather creates a new pipe for every single call to WaitForConnection, and then destroys it immediately. That causes a gap in availability as the caller is processing the new connection, something that is unacceptable.

Yes, that is what

[2017-10-19 19:28] khyperia commented on #10981
You said yourself:

Which implies that the test version is not adequate for other platforms. Is that not the case?

[2017-10-19 19:34] stephentoub commented on #24746
System.Native.so/dylib is private implementation detail.  P/Invoking into them is akin to using private reflection to access the internals of some managed library you depend on.  While I don't at this moment know of a plan to change them, they could be changed at any point in the future and it would not be considered a breaking change.

Is there a way it can be made to fit your functional needs?

[2017-10-19 19:36] stephentoub commented on #24746
Note as well that we / the Mono folks release a NuGet package containing libc wrappers.  You could also use that.  It works on .NET Core.
https://www.nuget.org/packages/Mono.Posix.NETStandard/1.0.0-beta2
cc: @eerhardt

[2017-10-19 19:38] corivera commented on #24502
GetSchemaTable() was added back in 2.0, so references to it in Core were added back to match Framework System.Data code. This same NotSupportedException is thrown in a Framework project, so the fact that this scenario worked before was just a coincidence of the GetSchemaTable workarounds.

Framework code: https://referencesource.microsoft.com/#System.Data/System/Data/SqlClient/SqlParameter.cs,1270

[2017-10-19 19:41] stephentoub commented on #10981
Yes, followed by "But these values should be sufficient for both OSX and Linux."  What Unix platforms are you running on with .NET Core that aren't macOS, or Linux?

[2017-10-19 19:44] khyperia commented on #10981
Perhaps running on a distro we haven't seen?

[2017-10-19 19:46] jaredpar commented on #24746
True but Windows also offers up similar implementation details in named pipes via the RunAsClient API. Getting the peerid is the morale equivalent for non-windows platforms. Not having this means there is functionality difference between the platforms. That is blocking us from adopting them. We considered using UnixDomainSockets directly but they are not exposed as an API.  Hence we are pretty fir

[2017-10-19 19:49] stephentoub commented on #24746
I'm confused; RunAsClient is exposed and implemented on Unix.  It's sufficient on Windows but not on Unix?
https://github.com/dotnet/corefx/blob/7f5b838709fb4726b6227922cfaca1ea6d99d779/src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Unix.cs#L205-L238

I know, and I asked whether there's something that can be done in the implementation to address that, and if not, what APIs would nee

[2017-10-19 19:50] stephentoub commented on #10981
Since I wrote that, we've switched to having a single native build for all Linux distros/versions from the last few years and forward.  And the value this gets from the native shim is based on compile-time details.  So if this breaks on future distros/versions, our built-in implementation would effectively also be broken.

[2017-10-19 19:56] stephentoub commented on #24746
Also, NamedPipeServerStream exposes GetImpersonationUserName, which just uses SystemNative_GetPeerId to get the client ID and from that the associated user name:
https://github.com/dotnet/corefx/blob/7f5b838709fb4726b6227922cfaca1ea6d99d779/src/Native/Unix/System.Native/pal_networking.cpp#L2712-L2718
Can GetImpersonationUserName be used to achieve a similar goal?

[2017-10-19 20:01] jaredpar commented on #24746
When did this API become available? We'd never considered it before because it's not in the version of named pipes we are using (netstandard 1.3).

Based on the implementation it should suit our needs though. Assuming it's in a version of named pipes we can depend on.

Not sure an API can help us here. It's pretty core to how the type is implemented presently. We can file a separate but to track t

[2017-10-19 20:02] stephentoub commented on #24746
2.0

[2017-10-19 20:12] stephentoub commented on #24746
Anyway, my uber point is: let's try to use what's available, and if it doesn't work because of a bug or some other implementation detail that we can fix, let's fix it, and if that's insufficient, let's look at what APIs could be added to address needs.  If it comes down to new APIs, and if you're actually using Socket and unix domain sockets, I'd prefer to look and see what APIs would make sense i

[2017-10-19 20:31] schalkvanwyk opened #24753 "System.IO.IOException: The system cannot find message text for message number 0x%1 in the message file for %2\r\n"
Hi

It seems there is bug in the way exception messages are looked up.

I'm getting the following exception when trying to move a file:

The exception seems to materialize from the call to Win32Marshal.GetExceptionForWin32Error in
[System.IO.Win32FileSystem.MoveFile(String sourceFullPath, String destFullPath)](https://github.com/dotnet/corefx/blob/e791e8b7a4f1e4d6ff5b4295fad04a6c9f65e909/src/Syste

[2017-10-19 20:32] khyperia commented on #24663
Zipped up the bootstrap build of Roslyn that's showing the issue. Github has a maximum filesize of 10MB (it's 31MB), so I've uploaded to my personal website (let me know if there's a permanent place I can put it). I'm running it with `dotnet --version` `15.5.0-preview-007082`. [https://khyperia.com/f/repro.zip](https://khyperia.com/f/repro.zip)

Run it with `dotnet csc.dll /dev/null` (or `dotnet v

[2017-10-19 20:54] mj1856 commented on #24449
@karelz

That is incorrect.
- Addition or subtraction in the form of `DateTime ± TimeSpan = DateTime` has the same `Kind` as the input `DateTime` operand.
- Subtraction in the form of `DateTime - DateTime = TimeSpan` ignores the `Kind` of both operands.

That is incorrect.  The [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.timezoneinfo.converttimetoutc) describes this correctl

[2017-10-19 21:00] bartonjs commented on #23938
@ayende When the Linux version was written it was matching behavior with Windows.  If Windows has since changed behaviors (which may have "already happened" but in a newer OS than was being baselined) then we may want to change the Linux behavior, but the reason that we did it was for consistency.

[2017-10-19 21:07] mj1856 commented on #8353
I'll revise my previous comment.  As long as the behaviors I described are implemented, I'm ok with these on `DateTime`.  The risk that they pose is the same that `DateTime` already has, which is that subtracting two `DateTime` values ignores the `Kind`.  Coming from a Unix epoch doesn't necessarily exacerbate this issue, any more than coming from any other UTC-based input does.  If anything, it d

[2017-10-19 21:08] Petermarcu opened #24754 "Dev Center Certification Fails for Microsoft.NETCore.UniversalWindowsPlatform 6.0.1"
@EdiWang reported this here: https://github.com/Microsoft/dotnet/issues/528

**Steps to Reproducte:**

1. Upgrade UWP's nuget package to Microsoft.NETCore.UniversalWindowsPlatform 6.0.1
3. Target 16299 for both target and min version.
4. Generate an app package to upload to store

**Actual Behaviour:**

Certification Failed

**Workaround**

Downgrade the package to 5.4.1 will fix the problem.

**N

[2017-10-19 21:08] Petermarcu commented on #24754
@danmosemsft

[2017-10-19 21:14] bartonjs commented on #19305
@weshaggard Every time I switch back to release/2.0.0 for whatever reason on my mac I need to hunt down the word "NuGetRuntimeIdentifier" again.  Is it feasible to make ./build.sh work with no esoteric parameters in release/2.0.0?

[2017-10-19 21:15] tarekgh commented on #24449
Some clarifications as it looks there were some confusions:

- When said add/subtract result Unspecified kind, was trying to point to any operation that involves 2  DateTime objects tends to ignore the Kind property. e.g comparing 2 DateTime objects.

- For TimeZoneInfo.ConvertTimeToUtc, was trying to say if the Unspecified kind DateTime was treated as Local.

- for DateTime itself never converts

[2017-10-19 21:30] borrrden commented on #19783
I was able to update the UWP nuget package to 6.0.1 against a 1.4 library (but still it complains about not finding the class).  It's a bit confusing if I have to upgrade the actual library to 2.0 as well because there is no indication of that.  What exactly does this "6.0" number refer to?  Is this independent of Windows versions?

[2017-10-19 21:31] mj1856 commented on #24555
Be *very* careful with this.  Exposing micros and nanos directly can easily lead to overflow exceptions or floating point errors.

For example, `TimeSpan.MaxValue.TotalNanoseconds` would give a `double` of `9.22337203685477E+20`, which cannot be converted to a `long` without overflowing.  Essentially this is the same as:

[code]

There's also a loss of precision with such extreme floating point va

[2017-10-19 21:35] Petermarcu opened #24755 "Parse CultureInfo no longer supported in .NET Core"
@viktor-morin commented on [Thu Oct 19 2017](https://github.com/dotnet/core/issues/1035)

Hi!

I reported an error using Newtonsoft.Json where I recieved that the error was in .NET Core and not Newtonsoft.Json itself. Copy paste the issue here below:

We are now changing to .NET Core and we get following error when trying to parse a following class:

`Dictionary<CultureInfo,string>`

This is worki

[2017-10-19 21:38] ChristopherHaws commented on #24555
@mj1856 Agreed. I was thinking about this as well. From what I can see, TotalMicroseconds shouldn't have any issue, but TotalNanoseconds could have issues when you start approaching and `TimeSpan.Max` and `TimeSpan.Min`. Please correct me if I am wrong about this. I will add an overflow exception to the original post so that it is not overlooked. If you have any thoughts on a better way to handle

[2017-10-19 21:39] weshaggard commented on #19305
@bartonjs I assume this works fine for you in master? If so we can work on getting https://github.com/dotnet/corefx/pull/21032 ported to release/2.0.0 we might need it for some of the source-build stuff I'm working on anyway.

[2017-10-19 21:40] tarekgh commented on #24555
what about making TotalNanoseconds returns double instead?

[2017-10-19 21:41] ChristopherHaws commented on #24555
@tarekgh Do you mean `long`? The only reason it returns `double` in the current proposal is because the other `Total` properties return `double`'s.

[2017-10-19 21:44] tarekgh commented on #24555
@ChristopherHaws ignore my comment. I was looking at different place :-(

[2017-10-19 21:44] mj1856 commented on #24449
How is making a built-in of `new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)` making those things any worse?  At least this is better in many ways than `new DateTime(1970, 1, 1)` - which is how it is often done in the wild.  Consider:

[code]

This works as expected when `unixepoch` has `DateTimeKind.Utc`.  But if it's implemented without the kind, then it has `DateTimeKind.Unspecified`, and i

[2017-10-19 21:47] shmao commented on #17486
Hi @myesn , the original bug tracked by this issue was found prior to the product release and was fixed. The error message you got may be identical with the error here, but I doubt they are the same issue.

Can you please provide more information regarding to the issue you're seeing? Please feel free to open a new issue for the problem you're having for better tracking.

[2017-10-19 21:52] tarekgh commented on #24449
Nobody said that. everyone agree it is useful to have it. This is why it is approved by the design committee.

Karel and myself's comments were regarding the request exposing ToUnixXxx and FromUnixXxx on DateTime.

Anyway, I think we all agree on:

- it is good to have unixEpoch
- it is better to avoid ToUnixXxx and FromUnixXxx exposed from DateTime

[2017-10-19 21:53] jcao219 commented on #24550
I ran into this issue today.

The spec says that the Connection header need only _include_ the string "Upgrade", but the HttpListenerRequest checks for equality.

[2017-10-19 21:55] mj1856 commented on #24449
Ok.  Then lets move the rest of the discussion over to #8353.  Thanks for clarification.

[2017-10-19 21:57] bartonjs commented on #19305
Yep, `./build.sh` runs fine in dotnet/master (57b4664ba)

[2017-10-19 22:02] danmosemsft commented on #24754
This is a known issue in WACK that Windows folks are working on right now. It only occurs if you use System.IO.Ports (Serial Ports) .. why AcrylicBrush would cause that to be pulled in, I am not sure. I'll update when I get more data.

[2017-10-19 22:03] ChristopherHaws commented on #24555
@mj1856 I was wrong, there is a potential for loss of precision with `double` even with microseconds. One alternative could be to use `decimal` since it's 128-bit. Thoughts?

[code]

[2017-10-19 22:03] mj1856 commented on #24555
Well, the fact is that all three types in question already have their range locked in, and over that range one cannot represent nanoseconds in 64 bits without losing some of them.  Floating point type allow for loss of precision, but one needs `System.Numerics.BigInteger` to truly work with nanoseconds without any loss.
 We're also touching on why ticks go to 7 decimals and no further.  8 decimals

[2017-10-19 22:04] danmosemsft commented on #24754
If this is blocking you, we can work to get you a store waiver so you can submit despite this bogus error.

[2017-10-19 22:20] danmosemsft commented on #24755
We do have CultureInfoConverter in .NET Core (as of 2.0). For some reason it is not getting used (assuming this is 2.0). Needs investigation.

[2017-10-19 22:22] danmosemsft commented on #24755
@Anipik when you have a moment could you please try on .NET Core 2.0 to use Newtonsoft.Json to serialize and deserialize an object with type Dictionary<CultureInfo, string>?

[2017-10-19 22:24] davidsh commented on #19783
I recommend you open a new issue because closed issues are not regularly monitored.

In general, though, System.Net.Security is only available when using NETStandard2.0 if running on UWP platform. The "6.0" is UWP6.0.x is the milestone that represents running UWP apps on latest version of Windows 10 that supports NETStandard2.0.

You will probably have to have your library reference NETStandard20

[2017-10-19 22:38] bartonjs opened #24759 "Create aggressive read/write concurrency test for SslStream"
https://github.com/dotnet/corefx/issues/24142#issuecomment-330671855 has identified that we don't work well on macOS with the 2.0.0 product (in... some... circumstances?) when an async read is blocked-running while a write writes to the same SslStream object.

Since the scenario is one that we find virtuous, we should have a test to ensure that once the macOS version is fixed that it doesn't regre

[2017-10-19 22:46] danmosemsft commented on #24739
This may include: making dumps easier to consume and debug; easier to set up dev environment, outerloop robustness, CoreFX specific work for faster full stack builds, improve unit testing experience, move tests to inner loop, servicing work specific for CoreFX.

[2017-10-19 22:47] danmosemsft commented on #24741
This may include work for the runtime store, running on sockets, ALPN, HTTP2, SslStream perf (if not in Networking Epic), Channels, remaining work for Span, Memory, and other primitives.

[2017-10-19 22:50] danmosemsft commented on #24744
This may include remaining work for Alpine, and possibly libraries needed for IoT and capability API.

[2017-10-19 22:51] danmosemsft commented on #24750
This may include API's for such areas as link and path handling and Linux ACL's; investigating and fixing some performance gaps with Windows; pick up and consume Mono.Posix if necessary.

[2017-10-19 22:54] danmosemsft commented on #24747
We want to use data - such as Azure profiler; customer traces; [CLBG](http://benchmarksgame.alioth.debian.org/), TechEmpower - to target performance improvements where they matter most, generally in widely-used existing API. Candidate areas include: Timers, Async methods, Cancellation, Synchronization, Linq, Regex, Collections, Strings. Often changes will be candidates for porting to .NET Framewor

[2017-10-19 22:55] danmosemsft opened #24761 "Machine Learning Epic"
This Epic is to track work in CoreFx for the ML scenario. We expect this to principally include introducing a Tensor exchange type.

Like all our Epics in order to see the child work items you must have the free [Zenhub browser plugin ](https://www.zenhub.com/) enabled.

[2017-10-19 22:57] danmosemsft commented on #24753
@schalkvanwyk do you have a way for us to reproduce this? If not, can you figure out what error code is getting passed to Win32Marshal.GetExceptionForWin32Error?

[2017-10-19 23:20] karelz commented on #24716
@safern can you please take a look? It looks scary.

[2017-10-20 00:32] AKlaus commented on #12352
@twsouthwick, there seems to be a workaround to use Microsoft.AspNet.WebApi.Client in .NET Core - https://stackoverflow.com/a/45048960/968003

[2017-10-20 01:00] safern commented on #24716
Yes it kind of looks scary. I’ll take a look as soon as I can. I’m out tomorrow but definitely on Monday I’ll take a look.

[2017-10-20 01:30] Jiayili1 commented on #24598
failed again in outerloop_netcoreapp_osx10.12_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release/221/testReport/System.Diagnostics.Tests/ProcessCollectionTests/TestThreadCollectionBehavior/

[2017-10-20 01:32] Jiayili1 commented on #24599
failed again in outerloop_netcoreapp_osx10.12_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release/221/testReport/System.Diagnostics.Tests/ProcessStartInfoTests/TestEnvironmentOfChildProcess/

[2017-10-20 01:34] Jiayili1 commented on #24600
failed tests:
 System.Diagnostics.Tests.ProcessStartInfoTests.TestEnvironmentOfChildProcess
 System.Diagnostics.Tests.ProcessStreamReadTests.TestAsyncErrorStream
 System.Diagnostics.Tests.ProcessStreamReadTests.TestAsyncOutputStream
 System.Diagnostics.Tests.ProcessStreamReadTests.TestSyncOutputStream
 System.Diagnostics.Tests.ProcessStreamReadTests.TestManyOutputLines
 System.Diagnostics.Tests.Pr

[2017-10-20 01:35] Jiayili1 commented on #24601
failed again in OuterLoop_netcoreapp_osx10.12_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release/221/testReport/System.Diagnostics.Tests/ProcessTests/TestBasePriorityOnUnix/

[2017-10-20 01:42] EdiWang commented on #24754
@danmosemsft I tried targeting 16299 and not use AcrylicBrush, submit to store, it was good. I will try again with another App later to see if AcrylicBrush will cause the problem or not.

[2017-10-20 01:47] Jiayili1 opened #24763 "Tests under "System.Collections.Tests" failed with "Exit code was 131 but it should have been 42""
Failed tests:
 System.Collections.Tests.SortedListTests.Item_Get_DifferentCulture
 System.Collections.Tests.CaseInsensitiveComparerTests.DefaultInvariant_Compare
 System.Collections.Tests.CaseInsensitiveHashCodeProviderTests.Default_Compare_TurkishI
 System.Collections.Tests.CaseInsensitiveHashCodeProviderTests.Ctor_Empty_ChangeCurrentCulture_GetHashCodeCompare
 System.Collections.Tests.HashtableT

[2017-10-20 02:39] EdiWang commented on #24754
@danmosemsft @Petermarcu I confirmed, AcrylicBrush is not affecting this issue, the store certification will fail regardless of using AcrylicBrush or not. Sorry for the incorrect information. Please update the issue description to remove step 2.

[2017-10-20 02:58] Jiayili1 commented on #24276
failed again in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171020.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test~2FSetDelegate_ConnectionSucceeds(acceptedProtocol:%20Tls,%20Tls11,%20Tls12,%2

[2017-10-20 03:02] Jiayili1 commented on #23960
This issue is repro in Master branch - Core Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171020.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerResponseHeadersTests~2FStatusDescription_SetCustom_Success(statusDescription:%20%5C%22%20%20StatusDescription%20%20%5C%22,%20ex

[2017-10-20 03:06] morganbr commented on #14354
@gimpf , how's your time looking? If you don't really have time, we can also see if anyone else would like to give it a shot.

[2017-10-20 03:21] Macromullet commented on #24716
I'm getting this when trying to build on our VSTS on-prem agent after upgrading the solution to .net 4.7.1. It builds just fine in 15.5 preview 1 on my box (haven't tried 15.4). It was building fine before updating to .net 4.7.1 (we were targeting 4.6.1). After update, and installing the 4.7.1 dev pack, I get this on all .net assemblies that target .net 4.7.1 and have .net standard refs and are cl

[2017-10-20 04:19] stephentoub commented on #24663
I took a look at the .zip.  The System.Native.so in it is old, e.g. it's missing exports that were added in support of .NET Core 2.0.  And Environment.ProcessorCount only relied on SystemNative_SysConf starting in 2.0, such that prior to 2.0, SystemNative_SysConf didn't know about PAL_SC_NPROCESSORS_ONLN; thus the 2.0 System.Runtime.Extensions.dll is calling SystemNative_SysConf(PAL_SC_NPROCESSORS

[2017-10-20 04:30] Macromullet commented on #24716
So I went back and built with 15.4 and got the same error, so I think it's MSBuild, in particular this issue:
https://github.com/Microsoft/msbuild/pull/2567

It appears to have been merged into 15.5.113, which is why it makes sense it compiles on the 15.5 preview version I have. I'm about to install that on the build agent and will follow up.

[2017-10-20 04:31] stephentoub commented on #24663
(I'm going to add an exception that gets thrown in this case, to help with future debugging, but that's not an actual fix; the fix is to figure out why an old native binary is being used with a newer managed one.)

[2017-10-20 05:16] danmosemsft commented on #24754
@EdiWang you said that submit to store worked earlier -- is that correct? what changed between then and when it failed?

[2017-10-20 05:19] danmosemsft commented on #24763
another ` A fatal error occurred, the required library libhostfxr.dylib could not be found at /Users/dotnet-bot/j/workspace/dotnet_corefx/master/outerloop_netcoreapp_osx_release/bin/testhost/netcoreapp-OSX-Release-x64/shared/Microsoft.NETCore.App/9.9.9/` ... @mmitche is working on it

[2017-10-20 05:24] EdiWang commented on #24754
@danmosemsft

I made a mistake, the earlier working one was using UWP 5.4.1 and targeting 16299. The AcrylicBrush still works on UWP 5.4.1.

In 6.0.1, the store certification is always failing, nothing to do with AcrylicBrush. And my app is not using Serial Ports API.

In the [MSDN forum thread](https://social.msdn.microsoft.com/Forums/en-US/b7355d61-cbf9-42e6-a9eb-44ffa144aa1f/rs31709certificatio

[2017-10-20 06:09] dotnet-mc-bot opened #24766 "Test: System.Net.Security.Tests.ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_MismatchProtocols_Fails failed with "System.InvalidProgramException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_MismatchProtocols_Fails(serverProtocol: Tls, clientProtocol: Tls12, expectedException: typeof(System.Security.Auth...` has failed.

Assert.Throws() Failure
    Expected: typeof(System.Security.Authentication.AuthenticationException)
    Actual:   typeof(System.InvalidProgramExcept

[2017-10-20 06:12] dotnet-mc-bot opened #24767 "Test: System.Net.Security.Tests.SslStreamStreamToStreamTest_Async/SslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.SslStreamStreamToStreamTest_Async/SslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success` has failed.

System.IO.IOException : The read operation failed, see inner exception.
    ---- System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Net.Security

[2017-10-20 06:13] Jiayili1 commented on #24767
Failed tests:
System.Net.Security.Tests.SslStreamStreamToStreamTest_BeginEnd/SslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success
System.Net.Security.Tests.SslStreamStreamToStreamTest_Sync/SslStream_StreamToStream_Successive_ClientWrite_Async_Success

[2017-10-20 06:24] dotnet-mc-bot opened #24768 "Test: System.Net.Tests.SimpleHttpTests/UnknownHeaders_Success failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.SimpleHttpTests/UnknownHeaders_Success(numHeaders: 100)` has failed.

Assert.Equal() Failure\r
    Expected: 0\r
    Actual:   (null)

        Stack Trace:

           at System.Net.Tests.SimpleHttpTests.<UnknownHeaders_Success>d__13.MoveNext()
    --- End of stack trace from previous location where exception was thrown ---
       at System

[2017-10-20 06:30] razzemans commented on #24718
@danmosemsft We also have Application Insights integrated using NuGet packages instead of using the site extension on Azure. I do wonder if that can still lead to this issue (as we've only had this issue with our application where we had the extension installed), but we'll have to see I guess.

[2017-10-20 06:35] myesn commented on #17486
@shmao  #13504 After I installed .Net Framework 4.6.1, the problem was solved, thanks!

[2017-10-20 06:39] Tornhoof commented on #24716
Using `` <_HasReferenceToSystemRuntime>true</_HasReferenceToSystemRuntime>`` in the project solves this, I previously had the wrong name (without '_'). So I think you're correct and this is actually Microsoft/msbuild#2567

[2017-10-20 06:55] tannergooding commented on #22790
I put a bit of thought into why the feature is requested (feel free to correct me if you disagree)...

On modern computers, unaligned reads/writes are (generally speaking) as fast as aligned reads/writes. The exception to this is when the load/store crosses a cache-line boundary (or worse, a page boundary).

Looking at the "Intel Optimization Manual", a load/store that crosses a cache-line boundar

[2017-10-20 07:12] EdiWang commented on #24754
@danmosemsft

I think this problem is regardless of using System.IO.Ports or not, the Dev Center always thinks there are API calls from System.IO.Ports.

For example, you can try my open source UWP App https://github.com/EdiWang/UWP-CharacterMap

1. Update to UWP 6.0.1
2. Change target framework to 16299 for both target and min version.

No other code change, just pack and submit to Dev Center, it

[2017-10-20 07:15] Tornhoof commented on #24716
@karelz How can we improve the current experience with Visual Studio and .NET Standard 2.0 on netfx?
Currently it is kinda sub-optimal.
Let me revisit the current situation:

It all started with the VS 15.3 update. Suddenly existing applications stopped working/building/updating because of binding redirect errors, see https://github.com/dotnet/corefx/issues/23306 et.al., later @terrajobst  created

[2017-10-20 07:29] safern commented on #24716
@joperezr is this related with the issue that you where looking at? Seems to be.

@Tornhoof sorry that you’re having this bad experience, we’re always trying to make the product better and obviously our intention is not to make it worse. This was definitely something that slip of our hands but seems to be a known issue that we’re already investing a lot to get it fixed. We will keep you posted on

[2017-10-20 08:01] eriawan opened #24769 "Need a list of enhancements/features from .NET Core that incorporated into .NET Framework"
# Background

Since .NET Core has been around, some of the enhancements/optimizations are put into .NET Framework.
For example, this blog post seems to provide description of optimization in .NET Core 2.0 and .NET Framework 4.7: [https://blogs.msdn.microsoft.com/dotnet/2017/06/07/performance-improvements-in-net-core/](https://blogs.msdn.microsoft.com/dotnet/2017/06/07/performance-improvements-in-n

[2017-10-20 08:48] benaadams commented on #24769
That over here?

https://github.com/Microsoft/dotnet/blob/master/releases/net471/README.md

[2017-10-20 08:50] benaadams commented on #24769
Historic changes are in the same repo https://github.com/Microsoft/dotnet/tree/master/releases

[2017-10-20 08:57] taoyouh commented on #19783
@borrrden You just need to know the System.Net.Security NuGet package is not compatible with UWP. You need to remove its reference. But if you use .NET Standard 1.6 or above, you don't need that package to use System.Net.Security namespace.
So if you want to use that in UWP, you need to use .NET Standard 1.6 or above, which is only supported in UWP 6.

[2017-10-20 09:05] CornedBee opened #24770 "Add RemoveIfValue to ConcurrentDictionary"
EDIT by: @scalablecory

@CornedBee I'd like to get this suggestion to a point where it can be reviewed as a proposal. What do you think of this?

@safern what do you think?

# Rationale and Usage

`ConcurrentDictionary` has an implementation of "remove if" hidden away inside of the private `ICollection<T>.Remove`. Usage of this looks like:
[code]

This proposal is to expose this existing feature i

[2017-10-20 09:39] curdincaspar commented on #24661
I tried the workaround to use PackageReference but this did not help.
The default System.Net.Http package in the project had a warning and needed to be removed as it's referenced in the YouTrackSharp package and is then again missing in the "Application Files" of the Publish settings.

[2017-10-20 10:13] eriawan commented on #24769
Thanks!
Yes, but that list is mixed of .NET FW bugfix and related .NET Core enhancements, It's quite near what I want, but I just want a list that contains what .NET Core brings to .NET FW.
IMHO it's a little bit harder to dissect quickly the features/fixes/enhancements from .NET Core to .NET FW, because I have to look at the detailed bullets one by one.

[2017-10-20 11:44] robertmiles3 commented on #23544
FWIW, the extension methods of ServiceStack’s HTTP Utils are a treat. Adding headers is super easy, and something along the lines of @davidfowl suggestion.

http://docs.servicestack.net/http-utils

[2017-10-20 12:32] Eccelor commented on #23518
Hello, any progress on this issue?

[2017-10-20 13:33] #22408 closed

[2017-10-20 14:14] huoyaoyuan opened #24773 "Add optimized path for IReadOnlyCollection/IReadOnlyList in System.Linq"
It's kind of historical reason for the readonly interfaces not inherited by `ICollection<T>`/`IList<T>`.
Adding a optimized path needs a copy of all `ICollection<T>`/`IList<T>` paths and classes.
Implementing `ICollection<T>` with `IsReadOnly = true` does get the optimizations, but it's kind of violating the interfaces.

[2017-10-20 14:19] stephentoub commented on #24773
Optimized path in what?  What optimizations?  What's the scenario?

[2017-10-20 14:19] atanasa opened #24774 "Request for documentation of HttpClientHandler.ServerCertificateCustomValidationCallback"
Currently the behavior of the property ServerCertificateCustomValidationCallback of the class HttpClientHandler is not obvious and lacks proper documentation.
This is a request to document the behavior of the property.
I would expect the documentation to go into details on:
- what behavior is support on different OS and frameworks (and probably how the version of the SSL/CURL stack affect this)
-

[2017-10-20 15:18] huoyaoyuan commented on #24773
Sorry for forgetting type LINQ in the title.

[2017-10-20 15:18] gimpf commented on #14354
@morganbr I'd planned to do it until 5th of November, and it still looks good that I'll find the time in the next two weeks.

[2017-10-20 15:42] tmds commented on #24562
@wfurt @geoffkizer @Priya91 @halter73 @stephentoub I will look at implementing the proposed changes next week and do a PR.

[2017-10-20 15:46] stephentoub opened #24775 "System.Net.Security tests hanging more often on Linux"
e.g.
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f60e3fcc6d98a1e237ad36c302f421410267328c/workItem/System.Net.Security.Tests/wilogs
[code]
cc: @geoffkizer, @Drawaes

@Drawaes, I'm a little worried this is due to some of the recent SslStream changes.

@safern, @danmosemsft, we don't yet have a way to know which test(s) hung, do we?

[2017-10-20 15:50] safern commented on #24775
Unfortunately we don’t have a way through dumpling yet to know that. The only way I know I’d with show progress enabled, perhaps we can turn the flag on for this project and if it hangs again in the output we will know which one was.

[2017-10-20 16:03] tamaskaroly commented on #24312
if_nametoindex and if_indextoname work correctly under Linux, but under Windows the returned interface names are very strange (long names with guids). I found no way to get the proper index from the interface name, so I think there is no simple solution to solve this. I recommend you close this issue.

[2017-10-20 16:19] mmitche commented on #24763
@danmosemsft This looks unrelated to the other outerloop netcoreapp issues.  What was the original?  I don't remember seeing it.

[2017-10-20 16:24] CerebralMischief commented on #24312
Maybe there is a way to use some "hacky" Windows only lookup from a dictionary that will allow the proper name to be returned?  The trick becomes then determine how to populate said dictionary with the odd long name with guids along with the proper name.  Or am I missing a bigger issue here?  Thanks!

[2017-10-20 16:29] davidsh commented on #24774
WebRequestHandler is not a class available in .NET Core.  It is only available in .NET Framework.

In general, the behavior is this:

.NET Framework.

ServicePointManager.ServerCertificateValidationCallback will be used for HttpWebRequest always.

HttpClientHandler.ServerCertificateCustomValidationCallback will be used if non-null, Otherwise, ServicePointManager.ServerCertificateValidationCallback

[2017-10-20 16:49] danmosemsft commented on #24754
@EdiWang I confirmed with the dev in Windows they are working on this. I'll post back when I get an update. Meantime if you can't wait (and can't use the old toolset, ie., set min version lower) let me know and I will find information on how to get a waiver.

[2017-10-20 17:04] electricessence commented on #24715
@svick ... It's interesting that you bring that up.  I was just reviewing @StephenCleary 's code the other day.  At this point I'm comfortable with `ConcurrentQueue` as it's very very fast.  The problem with over-async (maybe @stephentoub can comment too) is that you could queue up a lot of tasks waiting to get access and the overall performance you were looking for will be negatively affected.  I

[2017-10-20 17:07] electricessence commented on #24715
@stephentoub ... I think he's referring to the speed of `ConcurrentQueue` since the default underlying collection of `AsyncCollection` is ... wait for it... a `ConcurrentQueue` LOL.  So you can decide when you want async operations to occur on it... which is nearly what I was referring to.

[2017-10-20 17:12] weshaggard opened #24776 "netcoreapp build vertical needs to be buildable without previous versions"
See comment at https://github.com/dotnet/corefx/pull/24708#discussion_r145993635.

For our netcoreapp build vertical we need to be able to build it against the latest version without needing to restore the older packages. This is for the build-from-source efforts which require us to build all the assets instead of restoring them.

[2017-10-20 17:12] weshaggard commented on #24776
@danmosemsft this is an issue that we should do a sweep of once we finish the compat work.

[2017-10-20 17:49] atanasa commented on #24774
Looking at the code and this #19709 leads me to believe that DangerousAcceptAnyServerCertificateValidator is a special value that would essentially be the only possible value (other than the null value) for ServerCertificateCustomValidationCallback in the future for non-Windows OS. As far as I understand the code and based on some tests on OSX, it looks like for any value other than DangerousAccep

[2017-10-20 17:49] tamaskaroly commented on #24312
Ok, false alarm! networkInterface.GetIPProperties().GetIPv4Properties().Index contains the correct index of the adapter. I tested it under Linux and Windows and it returns the same values as the IPPacketInformation.Interface. Sorry for reporting this as an issue without analyzing the problem deeper. (I don't actually understand why Index is under the IPv4 properties, but that's a different story.)

[2017-10-20 17:49] #24312 closed

[2017-10-20 17:55] Drawaes commented on #24775
Agreed I am worried as well. Also did we do an outloop on alpn because I didn't see it (I might have missed it)

[2017-10-20 17:56] stephentoub commented on #24775
@Priya91?

[2017-10-20 18:06] StephenCleary commented on #24715
Just chiming in... if `ConcurrentQueue` works for your needs, then go ahead and use it. You won't get much faster than that.

`BlockingCollection` provides an abstraction over a concurrent collection (defaulting to `ConcurrentQueue`) that allows producers/consumers to wait for a notfull/notempty signal. `AsyncCollection` provides (almost) the same abstraction over a concurrent collection (defaulti

[2017-10-20 18:08] stephentoub commented on #24715
Yes, but as with any component A that layers functionality over B, A is going to be more expensive, e.g.
[code]
yields results like:
[code]
This isn't a slight against AsyncCollection; anything that layered on such functionality would incur cost.  I'm just highlighting why I wrote what I wrote.

[2017-10-20 18:30] wfurt commented on #24759
do you envision sone kind of automation @bartonjs - for example similar to perf tests?
Do you have any recommendations for concurrency and duration?

[2017-10-20 18:47] Tratcher opened #24778 "ManagedHandler: Protocol corruption if 100-continue is expected but not received"
ManagedHandler has the same 100-continue bug as CurlHandler: https://github.com/dotnet/corefx/issues/24435

100-continue is an inherent race condition. The client is waiting for a 100 response or a final response, but only for a given timeout. When the server sends the final response without a 100, it has no way of knowing if the client's timer has expired and it has already started sending data.

[2017-10-20 19:23] CerebralMischief commented on #24312
Good news! :)

[2017-10-20 19:45] Drawaes commented on #24775
@stephentoub I am happy to look at this over the weekend. My approach would be, make a WIP PR that cherry picks (removes) all the changes to SSLStream and then add them back slowly running outerloops to see if I can spot a point it becomes unstable.

If you could give me a ballpark like a few days, week, weeks that you have seen this instability as you have more visibility across outerloops run fo

[2017-10-20 20:08] danmosemsft commented on #24763
Ah - you're right. You were looking at "Please install clang". OK, this will need investigation...

[2017-10-20 20:12] danmosemsft commented on #24775
@stephentoub you can add the property `<XunitShowProgress>true</XunitShowProgress>` to the test csproj. It will cause start/end messages for each test in the log.  Maybe also `<XunitMaxThreads>1</XunitMaxThreads>` to make it easier to interpret.

[2017-10-20 20:20] #24220 closed

[2017-10-20 20:23] wfurt commented on #14673
it failed times in september

[2017-10-20 20:29] weshaggard commented on #24698
No. It only helps folks using our build scripts.

[2017-10-20 20:52] KostaVlev commented on #18765
@WinCPP  seems like nobody is working on these... so grab it :)

[2017-10-20 20:55] stephentoub commented on #24435
That's a solution.  Isn't another that a server which chooses to send a final status code without sending 100 continue closes the connection?

[2017-10-20 21:24] Tratcher commented on #24435
Yes the server could close the connection, but that would remove the ability for the client to choose to re-use the connection. Connection re-use is critical for HTTP perf, especially for SSL scenarios.

[2017-10-20 21:32] atanasa commented on #24774
Is the managed handler used when the network stack does not support the custom validation?

[2017-10-20 22:17] bartonjs commented on #24759
I don't really have any particular expectation of how it would work.  But "crashes 3 out of 4 times on the current macOS build" (current now, not current when it gets written) would be a good goal to start with (so that with the fix it stops crashing and we have confidence in the fix).

[2017-10-20 22:48] #24426 closed

[2017-10-20 22:49] morganbr commented on #14354
@gimpf , sounds great. Thanks for the update!

[2017-10-20 23:45] danmosemsft commented on #24769
@eriawan I realize you said you don't see https://github.com/Microsoft/referencesource as part of a solution, but in case it's helpful to others, the commits in there are labeled with the release. So eg.,
`git diff 90b323fe52bec428fe4bd5f007e9ead6b265d553...b31308b03e8bd5bf779fb80fda71f31eb959fe0b` shows me a diff between 4.7 and 4.7.1 (albeit missing anything that's not in referencesource for som

[2017-10-21 00:28] #24665 closed

[2017-10-21 01:56] Petermarcu opened #24786 ".NET Core 2.0: ResourceManager ignores Culture, always reads neutral RESX file"
@hardcodet commented on [Fri Oct 20 2017](https://github.com/dotnet/core/issues/1036)

VS2017, 15.3.5

I have an ASP.NET Core 2.0 app to which I added two resource files - the neutral one and one for German:

* `SiteResources.resx` (English strings)
* `SiteResources.de.resx` (German strings)

Both have their Build Action set to `EmbeddedResource`  and the `ResxFileGenerator` as the Custom Tool. So

[2017-10-21 02:14] caozhiyuan opened #24787 "socket server shutodown linux client socket still established"
tcp        0 159660 192.168.139.132:33693   10.1.4.204:2181         ESTABLISHED

socket server(10.1.4.204:2181) shutodown,  linux client socket still established

how to deal with it.

[2017-10-21 02:38] stephentoub commented on #24787
Can you share a repro of the problem you're facing?

[2017-10-21 03:08] LYP951018 opened #24788 "Add a single parameter, with return type `ValueTuple` overload for `Enumerable.Zip`?"
Instead of writing

[code]

we could write:

[code]

The implementation seems to be trivial:

[code]

## Usage

[code]

## Other Languages

`Zip`-like functions in Rust, C++ (Boost, range-v3) all return `tuple`s.

[2017-10-21 03:25] caozhiyuan commented on #24787
run zkserver in windows cmd, run zkclient repro in linux  ,then close server and 2 sec after open server, in linux use netstat -nta , socket still established. now i set a idel time to reconnect but always connect timeout.  zkclient repro in windows is ok.  code in ClientConnectionRequestProducer.cs file, repro: https://github.com/caozhiyuan/ZooKeeperNetCore.git

[2017-10-21 03:25] caozhiyuan commented on #24787
@stephentoub

[2017-10-21 03:39] LYP951018 commented on #24787
How could you know this is a corefx issue not you library's bug?

[2017-10-21 03:41] caozhiyuan commented on #24787
@LYP951018  in windows  work fine

[2017-10-21 03:45] caozhiyuan commented on #24787
socket server shutodown client socket still established it's normal , i would like to know in linux socket it has some way to avoid this

[2017-10-21 04:24] caozhiyuan commented on #24787
ZooKeeperNetEx lib is ok , close this issus

[2017-10-21 04:24] #24787 closed

[2017-10-21 06:01] Myrmex commented on #24754
I am experiencing this issue too, and I can confirm that System.IO.Ports is not the culprit, as my app too does not use it anywhere. It just targets 6.0.1 for both min and target versions, and this is a requirement for being able to let it consume a .NetStandard 2.0 DLL (<https://social.msdn.microsoft.com/Forums/windowsapps/en-US/2b391c7e-9495-474d-9471-ce6a35773906/supported-api-test-failure-only

[2017-10-21 09:11] Trolldemorted commented on #17317
I am sorry to bother you again, but now that the FCU is out, we know that some W10M devices are not receiving it. Will there be one last `System.Net.WebSockets.Client` nuget release that we can depend on, or will this bug never be fixed on these devices?

[2017-10-21 09:59] WinCPP commented on #23141
@stephentoub Before submitting any fix, I wanted to witness the error, so uncommented the associated test `ManagedHandler_CancellationTest` at this [link](https://github.com/dotnet/corefx/blob/08802ff9c877f7f75a82d6704d84d321e99eb5c8/src/System.Net.Http/tests/FunctionalTests/ManagedHandlerTest.cs#L107-L116) where I found reference for this issue #23141. I also commented of the reference to `Active

[2017-10-21 12:15] svick commented on #24774
Are you asking for this information to be added to [`ServerCertificateCustomValidationCallback`'s API reference](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler.servercertificatecustomvalidationcallback?view=netcore-2.0)? In that case, I think this issue should be moved to [dotnet/docs](https://github.com/dotnet/docs), since that's where the documentation is maintaine

[2017-10-21 14:24] stephentoub commented on #24435
2 + 2 == 4.

Oh, sorry, I thought we were just stating obvious things. :smile:

Sure, I'm just highlighting that, as far as I can tell, the spec doesn't specify that either is required (even though I agree one is), so calling this a bug in the client seems misguided.  If anything it's a bug in the spec, and then it's a matter of folks determining whether they want to address it in the client or in

[2017-10-21 14:51] davidsh commented on #17317
This UWP specific bug was not backported to any other branches other than UWP6.0. So, it will not appear in any System.Net.WebSockets.Client NuPackage for releases other than UWP6.0.  And UWP6.0 actually uses different packaging models, so the binary is in a larger UWP6.0-style package.

[2017-10-21 15:02] stephentoub commented on #23141
@WinCPP, the test is marked `[OuterLoop]`, so you need to add `/p:Outerloop=true` to the msbuild command.

[2017-10-21 15:11] stephentoub commented on #24774
Not currently.  One of the missing features in ManagedHandler right now is support for various auth protocols (e.g. Negotiate), and we don't know at the time of making the request whether we're going to get back a request for one of those.  And once we have such features implemented, hopefully we'd just make ManagedHandler the default anyway.  In theory we could special case things like "if you're

[2017-10-21 16:11] 4creators opened #24790 "Support System.Management on Linux using WMI system bus available in Linux kernel 4.13"
Effort to bring System.Management to .NET Core is bringing it's first results see PR #24719 and it could be a good opportunity to investigate possibility to support this library on Linux. This is becoming possible due to continuous work on implementing CIM and WMI infrastructure in Linux kernel see [Windows Management Instrumentation Now A Formal Bus With Linux 4.13](https://www.phoronix.com/scan.

[2017-10-21 16:13] Tratcher commented on #24435
Thanks. It's not the first time the spec's clarity is less than desired :-)

:+1: for your ManagedHandler and CurlHandler proposals.

From your answer I realized my assertions make more sense when combine. Creating a new connection is expensive, and sending the request body may be expensive, and the client is in the best position to make a calculated trade off between the two. It has the most info

[2017-10-21 17:24] karelz commented on #17522
First, I want to apologize for the additional delay of the post-mortem after 2.0 shipped, very sorry for that, I am to blame for the delay.

### A little bit of history first

At the time we introduced System.Net.Http [4.1.0](https://www.nuget.org/packages/System.Net.Http/4.1.0) NuGet package in 2016/6, we wanted to deliver additional value to .NET Framework developers. The new implementation of H

[2017-10-21 17:52] davidsh commented on #17317
This is the current set of stable packages on NuGet.org for System.Net.WebSockets.Client:

https://www.nuget.org/packages/System.Net.WebSockets.Client/
![image](https://user-images.githubusercontent.com/7684835/31854423-ba2ddad2-b64d-11e7-85ba-fc681f0895f9.png)

If you feel you need more discussion on this topic, I recommend you open a new issue (closed issues are not really monitored).  Then the

[2017-10-21 18:19] adriangodong commented on #24449
I've done an initial scan, so changes needed are:
* Add public static readonly field to [coreclr DateTime](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/DateTime.cs)
* Add public static readonly field to [coreclr DateTimeOffset](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/DateTimeOffset.cs)
* Update [corefx System.Runtime reference](https://g

[2017-10-21 18:29] karelz commented on #24449
And tests. Otherwise it sounds reasonable.

[2017-10-21 20:31] benrr101 opened #24792 "SqlClient: OUTPUT clause causes exceptions to not get thrown until read"
This scenario is a bit lengthy, so I'll load it into a gist: https://gist.github.com/benrr101/31628b57f1ab410090237c9018860e05

Basically what this boils down to is that if I `.ExecuteReader()` on a `SqlCommand` that has an `OUTPUT` clause in it, I don't get an exception from the query failing until I call `.Read()` on the `SqlDataReader` I gt back.

For instance executing:
[code]
[code]

But exec

[2017-10-21 21:04] sandersaares commented on #17522
Thanks for detailed writeup!

I ran into the issue in its early days and would like to point out one thing that particularly frustrated me: it was not possible to understand what was happening - how exactly installing a NuGet package update can break something seemingly unrelated. Even after having read the threads on the topic, I still only have a vague understanding of the technical details.

Th

[2017-10-21 21:16] ringrid commented on #24657
@tarekgh Did you have any result?

[2017-10-21 21:26] jnm2 commented on #17522
This cannot be emphasized enough.

[2017-10-21 21:51] TonyHenrique commented on #24754
I am also having this issue. I have not used Com ports in my App

I uploaded the entire Solution in a ZIP file, if you want to give a look:
https://drive.google.com/open?id=0B5d9oJc6UeFKLXJKNU5yNTg0VDg

https://developer.microsoft.com/en-us/dashboard/File/CertReport?appId=9PL2GTSS7WGP&certReportFileId=1152921504739439650

FAILED
Supported APIs
Error Found: The supported APIs test detected the foll

[2017-10-21 22:50] TonyHenrique commented on #24754
If I downgrade Microsoft.NETCore.UniversalWindowsPlatform to version 5.4.1 then this appears:

Warning	NU1601	Dependency specified was Microsoft.NETCore.UniversalWindowsPlatform (>= 5.4.1) but ended up with Microsoft.NETCore.UniversalWindowsPlatform 6.0.1.

Then I executed
**Update-Package**

and
the XAML Designer fails and displays this message:
**Some assembly references are missing.
Building to

[2017-10-22 01:27] jahmai commented on #17522
(Side note; there needs to be some consistency for terminology. Some issues use OOB as out-of-box, and some use it to mean out-of-band, which in the context of these issues mean completely the opposite packages).

First of all, thank you @karelz for finally taking the time to write that out, I do not know why you are in the unenviable position to take that responsibility, but you have fielded the

[2017-10-22 05:28] ayende commented on #23938
As far as I can see, (tested on Win 10 & Win 2016), this is the default Windows behavior.
Is there anything that needs to be done to create a PR for removing this behavior?

[2017-10-22 07:18] Daniel15 opened #24794 "Environment.ProcessorCount is -1"
On my Linux system (a VPS running Debian, using the [KVM](https://www.linux-kvm.org/page/Main_Page) virtualization platform), `Environment.ProcessorCount` is returning `-1`. However, the native syscall works fine:

[code]
[code]

This breaks the default constructor for `ConcurrentDictionary` - **All** ASP.NET Core sites on this server fail with:
[code]

## Environment
[code]

[2017-10-22 07:40] Daniel15 commented on #24794
So after a lot of digging, I worked out that this was happening because I had .NET Core 1.1's `System.Native.so` in `/usr/local/lib`. Even though I also had `System.Native.so` in my test app's directory, the one in `/usr/local/lib` seems to override it.

Can you please use a version number in the file name of `System.Native.so` (eg. `System.Native.2.0.0.so`) to avoid conflicts like this?

[2017-10-22 11:15] stephentoub commented on #24794
Related to #24663, https://github.com/dotnet/corefx/pull/24771
cc: @danmosemsft, @janvorli

[2017-10-22 11:20] benaadams opened #24795 "[Api] BuilderMethodAttribute"
From https://github.com/dotnet/coreclr/pull/14608

## Motivation

From looking at a stack trace (or using the `StackFrame`s) there's a lot of noise; but perhaps more importantly there isn't enough detail to tell what overloads of a method were called for async and iterators due to the name mangling prior to `.MoveNext()`.

e.g.
[code]
Which of these overloads is it?
[code]

Using stack traces can

[2017-10-22 11:41] benaadams commented on #24795
Roslyn issue https://github.com/dotnet/roslyn/issues/22803

[2017-10-22 11:57] benaadams opened #24796 "[Api] StackTraceFormatting{Options}"
## Motivation
Stack traces are very noisy as they *post*-exception stacks (and ones used to produce the exception, like `ThrowHelper`s); that are the same for every exception:
[code]
When only
[code]
Is useful in diagnosing the exception.

A way is needed to discard these post-error helper stacks; to make the stack-trace more useful and less noise.

## Proposed Api

Adds extra .ctor overload + par

[2017-10-22 13:25] bassebaba opened #24797 "CultureInfo behaves different on Windows / Linux"
[code]
When run on Ubuntu:
[code]
When run on windows 10:
[code]

The minor problem is that we have upper/lowercase "o" in month name.
The major problem is that Unix produces a . after the month name.
This is a problem when doing a DateTime.ParseExact since the parse fails on either system depending on the "." or not.

[code]

Am I using this in the wrong way or is this a bug?
Is it faulty to expe

[2017-10-22 13:29] stephentoub commented on #24746
This is what I meant by addressing the problem in the implementation:
https://github.com/dotnet/corefx/pull/24798
As far as I can tell, the issue isn't as described, in that the current implementation looks to work fine when dealing with a single client at a time; the client will simply find that there isn't a server yet and will wait.  The problem I see is that if multiple clients try to connect,

[2017-10-22 14:20] dasMulli commented on #17522
Thanks for the detailed post-mortem, it definitely helps understanding the process and the learning.

A point that I'd like to address:

You seem to have improved the testing of OOB packages in .NET Framework scenarios, which is good. However, it seems that the other way around - impact of .NET Framework updates when consuming OOB libraries - seems to be missing a few tests scenarios.

For example

[2017-10-22 14:40] gulbanana commented on #17522
Also, in effect, System.ValueTuple is a new OOB package. It was built as a package first, then incorporated into the BCL.. which is also the plan of record for many other apis. Will this keep happening? It's not really reassuring to hear that there are now OOB test runs but they
a) do not cover the original system.net.http scenario, because it's in the middle of a dep chain
b) do not cover this ne

[2017-10-22 17:56] tmat commented on #24795
A few points:

1) Custom attributes can't have MethodBase as an argument. It would need to be an Int32 (token). That is also problematic though. When an assembly is processed by an IL rewriter the rewriter would need to know about this attribute to update the token, if the token changes during the rewriting.

2) This information is already encoded in the PDB. PDBs are perhaps not available in all

[2017-10-22 18:18] satano commented on #17905
I will take whole `System.Net.*` one by one.

[2017-10-22 18:33] aelij commented on #24795
@tmat

NuGet packages normally do not contain PDBs. It's not just our own code we'd care about prettifying.

I'd be fine with a "best effort" approach. And not many libraries remain stagnant nowadays.

My original thought was to have an attribute containing a string with the method's signature, e.g. `MyMethod(Int32, String)`. That would have the disadvantage of locking in the format, and the advan

[2017-10-22 18:51] benaadams commented on #24795
It as could be
[code]

Then can use `BuilderMethodType.GetMethod(BuilderMethodName, BuilderMethodBindingFlags)` and find which one has the matching `Type` in `StateMachineAttribute` to get the correct overload

[2017-10-22 19:15] benaadams commented on #24795
Still won't be able to match lambas and local functions back to their overloaded method source though :-/

[2017-10-22 19:20] tmat commented on #24795
@benaadams You need the full signature to match. The textual representation of such signature is possible but would add a significant amount of metadata size overhead.

@aelij In future NuGet packages are likely going to contain PDBs (at least Portable PDBs).

[2017-10-22 19:31] tmat commented on #24795
@benaadams Actually, you are right. Good point about looking for the attribute. Using that you'll just need the method name essentially.

[2017-10-22 20:56] benaadams commented on #24795
Hmm... do lambdas always create a class even if they don't capture? Could mark the method with the attribute of the class like the statemachine and allow multiple; then match in same way.

Local functions don't though it looks like.

[2017-10-22 21:38] Trolldemorted opened #24802 "Port WinRT WebSockets Client fix (#21600) to UWP servicing (netcore50) branch"
As as been reported [here](https://github.com/dotnet/corefx/issues/17317), if the connection of a `ClientWebSocket` in NETStandard16 is terminated, the process will crash because the exception cannot be handled.

This issue has been adressed in NETStandard20/UWP6.0 and the FCU, and it works if you target W10 build 16299 on a desktop. However, on W10M devices like the Lumia 640, the build and thus

[2017-10-23 01:50] jnm2 commented on #24716
That's understating it. It's impossible to use certain libraries and target .NET Framework earlier than 4.7.1 without the app ceasing to work if the customer gets the fall update. All this in-box vs out-of-box stuff is amazing but you need to ship better assemebly binding intelligence at runtime _first_ or you put us in an impossible situation.

[2017-10-23 01:52] jnm2 commented on #24716
That's understating it. It's impossible to use certain libraries and target .NET Framework earlier than 4.7.1 without the app ceasing to work if the customer gets the fall update. All this in-box vs out-of-box stuff is amazing but you need to ship better assembly binding intelligence at runtime _first_ or you put us in an impossible situation.

What baffles me is that you knew positively that ship

[2017-10-23 02:25] Jiayili1 commented on #23209
failed again in master branch: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171023.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledActivityLogging

[2017-10-23 02:28] dotnet-mc-bot opened #24804 "Test: System.Net.Sockets.Tests.TimeoutTest/SendTimesOut_Throws failed with "Xunit.Sdk.InRangeException""
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.TimeoutTest/SendTimesOut_Throws(forceNonBlocking: False)` has failed.

Assert.InRange() Failure\r
    Range:  (1000 - 4000)\r
    Actual: 4846.0518

        Stack Trace:

           at System.Net.Sockets.Tests.TimeoutTest.SendTimesOut_Throws(Boolean forceNonBlocking) in /root/corefx-1079585/src/System.Net.Sockets/tests/FunctionalTes

[2017-10-23 02:29] Jiayili1 commented on #24804
closed issue: https://github.com/dotnet/corefx/issues/23595

[2017-10-23 02:33] Jiayili1 commented on #14673
This issue is repro in UWP F5 Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20171023.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveSync~2FSendRecvPollSync_TcpListener_Socket(listenAt:%20::1,%20pollBeforeOperation:%20False)

The test `System.Net.Sockets.Tests.Se

[2017-10-23 02:49] eriawan commented on #24769
git diff 90b323fe52bec428fe4bd5f007e9ead6b265d553...b31308b03e8bd5bf779fb80fda71f31eb959fe0b shows me a diff between 4.7 and 4.7.1

That's a good idea, @danmosemsft 👍
Ok, I'm going to look at the referencesource again.

[2017-10-23 03:05] dotnet-mc-bot opened #24805 "Test failure: System.Security.Cryptography.Csp.Tests.RSACryptoServiceProviderTests/Verify_InvalidPaddingMode_Throws"
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.Csp.Tests.RSACryptoServiceProviderTests/Verify_InvalidPaddingMode_Throws` has failed.

$BlockedFromReflection_5_22711b8a : A device attached to the system is not functioning

        Stack Trace:

           at Internal.NativeCrypto.CapiHelper.SignValue($SafeProvHandle hProv, $SafeKeyHandle hKey, Int32 keyNumber, Int32 calgKey,

[2017-10-23 03:26] benaadams commented on #24795
And coreclr/corefx runtime stuff? Still have no pdbs with 2.0 😢

[2017-10-23 03:51] tmat commented on #24795
@benaadams It's being worked on:  https://github.com/aspnet/Universe/issues/131#issuecomment-338266583. There are some details that need to be figured out.

[2017-10-23 03:57] danmosemsft commented on #24804
@wfurt

[2017-10-23 03:58] danmosemsft commented on #24797
@krwq @tarekgh

[2017-10-23 03:59] danmosemsft commented on #24786
@krwq

[2017-10-23 04:33] Macromullet commented on #24716
I don't want to pile on, but I agree the delivery of this has been sub-par. The release notes for 4.7.1 made it seem like this would be a drop-in replacement that just simplified the delivery strategy for .net standard 2.0/.net framework mixed usage scenarios, and yet we are back working with beta build agents and tools trying to get the entire thing compiling. It's not really release if you need

[2017-10-23 04:55] wfurt commented on #24804
I've seen this one fail once in my local setup. It seems like pretty rare failure,

[2017-10-23 05:21] rvhuang opened #24806 "Unknown character appears after Path.Combine()"
Target framework: .NET Core 2.0 (netcoreapp2.0)
Dotnet Core version: 2.0.2 (x64)
OS: Windows 10 Professional x64 (build 15063)

Considering simple code below:

[code]

The output shows strange behavior which has an unknown character between `path` and "testing.json".

    C:\ConsoleApp3\ConsoleApp3\bin\Debug\netcoreapp2.0\
    C:\ConsoleApp3\ConsoleApp3\bin\Debug\netcoreapp2.0\?testing.json

Note:

[2017-10-23 06:35] Jiayili1 opened #24807 "System.Net.Mail.Tests.LoggingTest.EventSource_EventsRaisedAsExpected failed in CI"
Failed test: System.Net.Mail.Tests.LoggingTest.EventSource_EventsRaisedAsExpected

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/3401/testReport/System.Net.Mail.Tests/LoggingTest/EventSource_EventsRaisedAsExpected/

Configuration: osx10.12_release

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-10-23 07:37] LokiMidgard commented on #2295
A project I was using (Wyamio/Wyam#340) prepares for a shift to netstandard. This is why the discarded saxon and no longer support xslt 2.0. Unfortunatly I need this and for now I can't update to newer Versions of the project untill I refactored the saxon part out of there code. Fortunatly there code is very modular.

But I will still miss the step into netstandard wich I find sad 😢

[2017-10-23 07:45] jkotas commented on #24806
Your code fragments contains weird invisible Unicode characters `0x202A` at the start of the "testing.json" string. Deleting the string in your code fragment and retyping it again makes everything work fine.

[2017-10-23 07:52] hardcodet commented on #24786
Some updates: I tried reproducing the issue on a vanilla project, and there, the correct resource value was returned. Since I was already refactoring my original controller at that point, I started there from scratch and noticed that moving the snippet above to the top of my controller method also got me the correct value.

Unfortunately, SourceTree was broken for me all weekend (I only just found

[2017-10-23 07:59] rvhuang commented on #24806
@jkotas  Thanks for replying! It's weird that the "invisible" character only pop up on .NET Console. I think the issue is okay to be closed then.

[2017-10-23 08:02] atanasa commented on #24774
Is there some way to force the managed handler to be used?
I think you should make the whole thing more transparent and expose the individual handlers as API so the developer can make the trade-off. I would expect in some cases it would be required to use the OS stack (e.g. FIPS) while in others it might be ok to use the managed one.

[2017-10-23 08:14] #24806 closed

[2017-10-23 08:21] benaadams commented on #24795
Can't seem to use `GetStateMachineKickoffMethod`
[code]

[2017-10-23 08:26] RF77 commented on #19914
We have the same problem.

As proposed from @marek-safar I created a bug ticket here: https://bugzilla.xamarin.com/show_bug.cgi?id=60315
I referenced this ticket and the repro project from @stefan-schweiger

[2017-10-23 08:52] benaadams commented on #24795
`reader.GetMethodDefinition(mdh)`
[code]
`reader.GetMethodDefinition(methodDebugHandle.ToDefinitionHandle())`
[code]

[2017-10-23 09:12] electricessence commented on #24715
At both Stephens.  Thank you for chiming in! :)

[2017-10-23 09:50] benaadams commented on #24795
PDB probably the way to go; also have an alternative method https://github.com/dotnet/coreclr/pull/14655

[2017-10-23 09:50] #24795 closed

[2017-10-23 10:17] tom3m commented on #23544
Could we consider adding overload that just takes Bearer token and so adds corresponding header? That would make many today's call's very simple. Or that is too specific?
'

[2017-10-23 10:43] brianrob commented on #24618
PR out for SR usage: https://github.com/dotnet/corefx/pull/24808.

[2017-10-23 10:50] tom3m commented on #23544
@adrianm64 According to sources there is no network sattce in the HttpClientHandler as well. The only thing it does in the Dispose is a call to the ServicePointManager.CloseConnectionGroups(this.connectionGroupName);

So, theoretically, it should be just enough to set  disposeHandler: false

[2017-10-23 11:07] mattwarren commented on #24769
If you don't want to download referencesource and run `git diff` locally you can actually do this comparison directly on GitHub.com, see https://github.com/Microsoft/referencesource/compare/90b323fe...b31308b0 (diff between 4.7 and 4.7.1)

[2017-10-23 13:11] stephentoub commented on #24774
Right now it's enabled by setting an environment variable or a TLS slot.

It's still in development and hasn't shipped.

[2017-10-23 14:06] stephentoub commented on #24775
Thanks, @danmosemsft.

[2017-10-23 14:20] brianrob commented on #24618
Updated list above now that #24808 has been merged.

[2017-10-23 14:35] whoisj commented on #24093
Firstly: yes, yes, and more of this please. I love this idea (honestly, I've had a similar idea going for a long time now). In fact we've been using a custom string class and character struct in our Git compatibility later in Visual Studio for a while now (Git speaks in Utf-8 and transcoding everything is very slow).

On the topic of static method names, can we avoid arbitrary short-naming please?

[2017-10-23 14:44] brogowski commented on #13773
We are in need of this feature too.
I can write PR for this if there would be someone to guide me a little bit.

[2017-10-23 14:51] karelz commented on #24716
Why do you think we knew about the problem before 4.7.1 shipped? To my knowledge we learned one
day before FCU with 4.7.1 went public that `ValueTuple` is busted. We didn't have any way to fix the release at that point.
I am not trying to downplay the impact, but the above accusation is not correct.

[2017-10-23 15:00] khyperia commented on #24746
Fantastic, that PR looks great!

Just some nitpicking since I want to make sure we're on the same page:

In my testing, this isn't the case. [I made a little example repo](https://github.com/khyperia/UnixDomainSocketTest) to demonstrate this - the client fails immediately when trying to connect to a domain socket that doesn't exist. Note, however, this is _desired_ behavior in Roslyn - explanation

[2017-10-23 15:02] stephentoub commented on #24746
Your testing of is Unix Domain Sockets, not of NamedPipeClientStream, which explicitly deals with this case.  Do you have a repro of this using NamedPipeClientStream?

Then you can pass a timeout of 0.

[2017-10-23 15:04] jnm2 commented on #24716
@karelz I read the [Fall creators update is going live in two days. Heads up!](https://github.com/dotnet/corefx/issues/24653) on the 14th and the update was live the 17th, which is when I understood 4.7.1 shipped. I thought that meant you'd have known about it for three days, but if you'd already shipped by then, none of what I said applies and I'm sorry for the inaccurate accusation.

[2017-10-23 15:10] jnm2 commented on #24716
@karelz I read the [Fall creators update is going live in two days. Heads up!](https://github.com/dotnet/corefx/issues/24653) on the 14th and the update was live the 17th, which is when I understood 4.7.1 shipped. I thought, wow, seriously good thing they caught that one! Then I was significantly surprised when net471 shipped with the fall update with an ineffective workaround published beside it.

[2017-10-23 15:19] gulbanana commented on #24716
very unlucky timing :(

[2017-10-23 15:30] tarekgh commented on #24449
Note that after you get the change to coreclr repo,  it should get merged to corert repo too https://github.com/dotnet/corert/tree/master/src/System.Private.CoreLib/shared/System. so the changes need to be done in corefx repo should wait for the packages of coreclr and corert be built and merged to corefx first.

[2017-10-23 15:35] tarekgh commented on #24657
This issue was moved to aspnet/Mvc#6982

[2017-10-23 15:36] tarekgh commented on #24657
This issue was moved to aspnet/Mvc#6983

[2017-10-23 15:42] tarekgh commented on #24797
The framework depends on the OS for the globalization data in general. You should expect differences when running on different OS's or different OS versions. if you think the data is wrong in some instances, you can file an issue to the Windows team if it is Windows OS, or file the issue to ICU if it is Linux/OSX issue.

[2017-10-23 15:42] #24797 closed

[2017-10-23 15:46] danmosemsft commented on #24660
@Jiayili1 if this is fixed now please close

[2017-10-23 15:47] #23517 closed

[2017-10-23 15:47] danmosemsft commented on #23517
logs gone

[2017-10-23 15:54] danmosemsft commented on #24807
@vancem ...
[code]

[2017-10-23 15:55] danmosemsft commented on #24804
@wfurt for sure, but rare failures are impactful when we run ~50 million tests a day. Can you increase the interval perhaps?

[2017-10-23 15:57] danmosemsft commented on #24786
@hardcodet OK, I'm going to close this then, please reactivate if you can repro.

[2017-10-23 15:57] #24786 closed

[2017-10-23 16:29] #24435 closed

[2017-10-23 16:29] #24778 closed

[2017-10-23 16:30] wfurt commented on #24804
I'm not arguing we should not fix it. It is more a hint that repro and verification may not be simple.

[2017-10-23 16:34] tmat commented on #24795
This reader is a reader of the PDB -- it doesn't have MethodDefinitions in it. The PE image reader does. I'd just return the handle (or perhaps token which you can get by calling ```MetadataTokens.GetToken(handle)```) out of ```GetSourceLineInfo``` and propagate it to the stack formatting code, where you can get the right Reflection MethodInfo from the token.

[2017-10-23 16:54] benaadams commented on #24795
Would need an api change; however do think its better to go with the PDB+`GetSourceLineInfo` rather than attribute as it should also be possible to tie up lambdas; locals and closures this way? (Would also need to get the local function name somehow)

[2017-10-23 17:18] tmat commented on #24795
@benaadams I appreciate your passion for getting nice stack traces, but if you're trying to fix it for all compiler generated code you'll need to involve the Roslyn compiler team. This is a significant feature that needs to go thru proper design and review process and can't be implemented in a single PR. We need to figure out how to make it work across languages (at least C#, VB and F#, but others

[2017-10-23 17:36] marek-safar commented on #19914
@stefan-schweiger @RF77 Thanks for the repro and bug report, will try to reproduce it locally

[2017-10-23 17:42] benaadams commented on #24795
I'm thinking of it as an "in the future" item :) I don't even have an idea of proposal for how lambdas/closures etc could be satisfactorily named - just mentioning that it would be good if they could be identified so at one point it *might* be possible.

In the links you highlighted each pdb has a language associated with it; so each trace *could* be output as per original source - which would mak

[2017-10-23 18:10] ianhays commented on #23954
I think the main problem with something like this is that we'd have to also make the internal backing array public/internal so that `IncreaseCapacity` could do something meaningful in a child.

And if you're already inheriting from Dictionary/HashSet, couldn't you just use your own backing store and override the other Dictionary/HashSet methods that would normally use the existing `Entries` store?

[2017-10-23 18:11] tmat commented on #24795
Yeah, there is bunch of possibilities and things to figure out. Hence the ask for a proper design. I'd prefer if we looked at the problem holistically instead of handling one kind of generated code at a time eventually ending with a hodgepodge of partial solutions.

Since we already have the concept of state machine encoded in the PDBs as a first class entity I think using that now would be reason

[2017-10-23 18:16] ianhays commented on #24156
This is similar in break-ability to https://github.com/dotnet/corefx/issues/23578, so my concerns there are echoed here:

I don't think that being able to have a shared interface with the Count property is enough of a convenience to justify the breaks that this would incur.

Because of the required breaking changes, it would be very unlikely that we would be able to push a change this large throug

[2017-10-23 18:22] ianhays commented on #24205
Definitely agree that the implementation above would be too slow. Could we instead just write a new `StructuralComparer<T>` that didn't call to the nongeneric `StructuralComparisons.StructuralEqualityComparer`?

That I think would be useful.

[2017-10-23 18:26] attilah commented on #22048
Any work is being done on this?

[2017-10-23 18:30] ianhays commented on #24770
This seems like a reasonable proposal. I wonder if it might be better just to make the ICollection remove public instead of adding a new API though.

[2017-10-23 18:31] ianhays commented on #24246
I agree that this is probably too specific of a use case to put into ConcurrentDictionary directly. There's also https://github.com/dotnet/corefx/issues/24770 which I think is reasonable, though not exactly the same scenario.

[2017-10-23 18:35] benaadams commented on #24795
Its purely self interest after helping to decipher one too many production stack traces. Empowering less experienced developers to more easily work out what's going on and where to look from a stack trace is good for them and good for me 😁

The statemachines for Async, IEnumerable/Linq are the big ticket items; also where the stack traces become hardest to read; so to me, that's more about not hav

[2017-10-23 18:50] DmitryNaumov commented on #23954
@ianhays the idea is not in allocating array in child, but to decide how to grow. I mean sometimes it too wasteful to double allocated backing and I want to decide the new capacity in the child and call base method to do actual allocation

[2017-10-23 18:54] makcakaya opened #24817 "FileSystemWatcher misleading exception message"
I encountered an exception being thrown in an ASP.NET Core 2.0 project which said "The directory name {0} is invalid." and it was misleading. [`FileSystemWatcher`](https://github.com/dotnet/corefx/blob/724ddb8fc95a5b1f639cfa508a32b9a8c50c1949/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.cs#L108) throws an exception with this message, and in my case the path was valid but the di

[2017-10-23 19:12] danmosemsft commented on #24817
@makcakaya would you like to submit a PR to fix the string?
Looks like the code calls Directory.Exists, which strictly speaking woudl return false and lead to this message if the path was actually invalid. But arguably it wouldn't exist in that case either so your proposal seems reasonble.

[2017-10-23 19:37] Eastrall opened #24818 "Socket.SendAsync not firing SocketAsyncEventArgs Completed event"
I noticed that with `netcoreapp2.0` the `SocketAsyncEventArgs.Completed` event is not fired when data is sent using the socket `SendAsync` method. This causes some issues when we implement a sending queue along with an `AutoResetEvent`.

Since it's the first time I open an issue here, should I provide samples? Just let me know if you need more informations.

I am finding this issue only with `netc

[2017-10-23 19:42] davidsh commented on #24818
Yes, please include a full repro Visual Studio solution.  That will make it easier to troubleshoot and inspect the Socket APIs that you are using.

[2017-10-23 19:43] stephentoub opened #24819 "WinHttpHandler throws exception for redirect when there's no location header"
The .NET Framework does not.

[2017-10-23 19:46] ianhays commented on #23954
So you're suggesting something more like:

[code]

where the virtual method returns an integer for what the next size should be after the resizing/growing? Because the `Resize()`/`IncreaseCapacity` methods currently in place actually **do** the resizing which of course requires access to the underlying store.

There are a couple of issues with that. For one, there are a lot of assumptions in the H

[2017-10-23 19:50] davidsh commented on #24819
This issue has come up before.  If automatic redirect is enabled (which is the default), then it is an "error" that WinHTTP will detect.  The workaround is to disable automatic redirection in HttpClientHandler.

There are no plans to change this behavior in WinHTTP.

[2017-10-23 20:05] stephentoub commented on #24818
@Eastrall, what is the Boolean return value of SendAsync?  The SocketAsyncEventArg operations return a bool indicating whether they've completed or not, and if they've completed synchronously, then event won't be raised.  Optimizations in .NET Core 2.0 make it much more likely that operations like send will complete synchronously, making them much more efficient, but also potentially exposing bugs

[2017-10-23 20:09] lwansbrough commented on #24802
I'm not sure if this is the exact same issue or not, but what I'm noticing is if the remote host abruptly closes the connection, and I attempt to call SendAsync or ReceiveAsync immediately thereafter (I'm in a multi-threaded environment so this is possible), I receive a _non-.NET exception_.

Here's what that looks like:

[code]

This of course, is uncatchable.

[2017-10-23 20:13] davidsh commented on #24802
*** set a breakpoint in malloc_error_break to debug

This issue is only about Windows 10 UWP apps (which use the WinRT WebSockets implementation underneath System.Web.WebSockets.Client.

This bug is not about any other .NET Core 2.0 CLI issue.

[2017-10-23 20:13] lwansbrough commented on #24802
@davidsh Ok, I'll create a new issue. Thanks.

[2017-10-23 20:15] davidsh commented on #24802
cc: @weshaggard @karelz
This issue is a request for a servicing backport of a UWP bug in .NET Core (UWP implementation only) presumably in the .NET Core 1.0 or 1.1 branch.  Fixing this would require a backport of the fix itself plus a rebuild of the System.Net.WebSockets.Client NuGet package.  Also, might need to have to update any other meta-packages as well.

[2017-10-23 20:23] lwansbrough opened #24821 "ClientWebSocket produces malloc exception in multi-threaded environments."
Running a .NET Core 2.0 CLI app on macOS 10.12.6. ClientWebSocket version is the latest I believe.

When operating in a multi-threaded environment, I receive what looks like a C++ malloc exception.

This appears to be happening when the remote host terminates the connection unexpectedly. I have locks on reads + writes so there is never more than one of each happening at once. When I make a call to

[2017-10-23 20:24] Eastrall commented on #24818
@stephentoub oh, yes, with that boolean I can check if I wait for a synchronous operation or not with my `AutoResetEvent` ...
I'll read the docs in details more carefully next time I have an issue... It will avoid disturbing for nothing... Since I didn't had this bug on `netcoreapp1.0`, I thought it was an issue on `netcoreapp2.0`. Wrong thought, my bad.

Thank you for your assistance. Solved.

[2017-10-23 20:24] #24818 closed

[2017-10-23 20:24] DmitryNaumov commented on #23954
@ianhays as I mentioned before "sometimes it is too wasteful and even if you now capacity from the beginning it doesn't prevent from wasting a lot of memory". I ran into use case when I know initial size of collection, which I use to set capacity, if possible. And then I know that _sometimes_ it grows. And sometimes adding a few new items to collection leads to doubling its capacity. And forgot to

[2017-10-23 20:26] davidsh commented on #24821
Is this happening on Windows or Unix?  Please specify the exact platform.

[2017-10-23 20:26] lwansbrough commented on #24821
Yeah sorry, I updated the question: Unix, macOS 10.12.6.

[2017-10-23 20:26] Trolldemorted commented on #24802
If you don't release a backport of the fix to 1.x you might want to remove System.Net.WebSockets.Client's public listing. On NETStandard20 the classes are included anyways, and I believe every platform except those suffering from the bug are able to use NETStandard20, so there should be no benefit from its existence.

Is full NETStandard20 support for every w10 device out of the question? Platform

[2017-10-23 20:29] davidsh commented on #24802
In terms of UWP apps, the requirement currently is that NETStandard20 requires Windows 10 Fall Creators Update.  That is unlikely to ever change due to architectural differences.

In terms of non-UWP apps, NETStandard20 runs on a variety of Windows OS versions including Windows 7, etc.

cc: @terrajobst @richlander

[2017-10-23 20:30] davidsh commented on #24802
cc: @DavidGoll

[2017-10-23 20:38] twsouthwick opened #24822 "Internal relative relationships for System.IO.Packaging.Package fail to load on Mono"
Uri parsing on Mono has a quirk when parsing a Uri that if you pass `UriKind.RelativeOrAbsolute`, a forward slash `/` is treated as absolute while in .NET Framework this would be parsed as relative. This causes packaging to break when reading a package file (for a real example, see OfficeDev/Open-XML-SDK#249 where DocumentFormat.OpenXml fails to load documents on Xamarin) where internal relationsh

[2017-10-23 20:46] twsouthwick commented on #24822
Appears that this is not just Mono, but .NET Core on Linux (https://github.com/dotnet/corefx/issues/22098).

[2017-10-23 21:05] makcakaya commented on #24817
By the way, the `path.Length == 0` seems redundant because `Directory.Exists()` already includes the same check [here](https://github.com/dotnet/corefx/blob/724ddb8fc95a5b1f639cfa508a32b9a8c50c1949/src/System.IO.FileSystem/src/System/IO/Directory.cs#L74).

So, the line `if (path.Length == 0 || !Directory.Exists(path))` in [FileSystemWatcher](https://github.com/dotnet/corefx/blob/724ddb8fc95a5b1f63

[2017-10-23 21:11] stephentoub commented on #24821
cc: @bartonjs

[2017-10-23 21:13] stephentoub commented on #24822
cc: @tmds

[2017-10-23 21:22] stephentoub commented on #24818
Great, glad you got it sorted out.

[2017-10-23 21:29] karelz commented on #24802
@davidsh @DavidGoll for a 1.x hotfix, it would be good to understand the impact on customers -- how many apps/customers are impacted and how often? (those which cannot upgrade to UWP6.0 on FCU)

Is it possible for apps to use their own patched build of the lib? (might be viable temporary workaround, until we get data on impact)

[2017-10-23 21:42] joshfree opened #24823 "Tracking System.Threading.Channels Remaining Cleanup"
Tracking item for moving  [System.Threading.Tasks.Channels](https://github.com/dotnet/corefxlab/commit/a7da3bc0a7eba50c345b21296f036989e92f949a) to corefx.

Related #24174

[2017-10-23 21:45] joshfree opened #24824 "System.IO.Pipelines Epic"
Tracking item for productizing [System.IO.Pipelines](https://github.com/dotnet/corefxlab/tree/master/src/System.IO.Pipelines)

Related #24174

[2017-10-23 21:46] joshfree opened #24825 "System.Text.Encodings.Web.Utf8 Epic"
Tracking item for [System.Text.Encodings.Web.Utf8](https://github.com/dotnet/corefxlab/tree/master/src/System.Text.Encodings.Web.Utf8)

Related #24174

[2017-10-23 21:48] joshfree opened #24826 "System.IO.Compression.Brotli Epic"
Tracking item for [System.IO.Compression.Brotli](https://github.com/dotnet/corefxlab/tree/master/src/System.IO.Compression.Brotli)

Related #24174

[2017-10-23 21:49] stephentoub commented on #24824
Which piece of pipelines do you envision moving to corefx?

[2017-10-23 22:01] #24384 closed

[2017-10-23 22:03] jemiller0 opened #24829 "System.Diagnostics.TraceSource doesn't read configuration from App.config in .NET Core?"
The following code outputs "Hello, world!" as a trace message to the console when in a .NET Framework console application. When the same code is used in a .NET Core console application, it outputs nothing.

Program.cs
[code]

App.config

[code]

Also, I found that if I try to read a connection string using System.Configuration.ConfigurationManager and I have the system.diagnostics section in the A

[2017-10-23 22:07] safern commented on #24775
Now this tests also crashed with NullReferenceException:

[code]

this looks related to Ssl from what I see in the stacktrace.

https://mc.dot.net/#/user/safern/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f0c785f7c804597dbb6f61e72f78fa84bda3de10/workItem/System.Net.Security.Tests/wilogs

[2017-10-23 23:06] JohnRusk commented on #18173
Thanks @stephentoub .  We'll be interested to hear whether it's reproducibly for you.

[2017-10-23 23:10] akoeplinger commented on #24826
I'd be interested in getting a conclusion on https://github.com/dotnet/corefxlab/issues/1673 as part of this :)

[2017-10-23 23:29] muratg commented on #24824
@pakrym @KrzysztofCwalina @davidfowl

[2017-10-23 23:36] pakrym commented on #24824
@stephentoub Main `System.IO.Pipelines`  package + tests

[2017-10-23 23:44] pakrym commented on #24824
We were also hoping to move `MemoryPool*` and `IScheduler` to more suitable locations.

[2017-10-24 00:17] ahsonkhan commented on #24568
**Here is the updated API shape, ready for review:**

[code]

**Changes:**
- Rename argument for "InPlace" APIs from bytesLength to dataLength.
- The "InPlace" APIs do not need isFinalBlock since they are "one-shot" APIs and cannot be called with partially completed results in a loop. Either the entire buffer is available in the input or it fails. This is because there is no guarantee (especially

[2017-10-24 00:55] BillHenning commented on #24754
I am also running into this same exact issue with the System.IO.Ports.dll, even though I do nothing with it.  All I did was upgrade my UWP app to the latest and greatest as described by the original author.  Hoping to hear of a resolution by MS soon.

[2017-10-24 01:34] danmosemsft commented on #24754
@BillHenning I hear you, I'm sure this is frustrating. A fix has been made and it is being pushed to servers. I'll post back as soon as I get an update tomorrow.

[2017-10-24 01:59] jemiller0 commented on #24829
I looked at the source code for TraceSource in .NET Core. It appears that the code does not read configuration settings from App.config. In addition, it looks like .NET Core doesn't even have a ConsoleTraceListener. So, it looks like you can't even log to the console using TraceSource even if you programmatically configured it.

[2017-10-24 02:17] Jiayili1 commented on #24274
failed again, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171024.01/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Imaging.Tests.EncoderParameterTests~2FCtor_Encoder_NegativeNumberOfValues_Type_Value_OutOfMemoryException(numberOfValues:%20-1)

[2017-10-24 02:24] BillHenning commented on #24754
Thanks for staying on top of it for us Dan!

[2017-10-24 02:49] Jiayili1 commented on #24137
failed again, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20171024.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.CancellationTest~2FReadAsStreamAsync_ReadAsync_Cancel_TaskCanceledQuickly(startResponseBody:%20True)

[2017-10-24 02:55] Drawaes commented on #24775
@safern yes its an unsafe memory corruption error, so it could cause any number of errors, there is a fix coming shortly (the issue has been found I am pretty sure :) )

[2017-10-24 02:58] chenhuiguo opened #24832 "infinite recursion during resource lookup with system.private.corelib"
my program ran on ubuntu 16.04.3 buildied with dotnet2.0.0,but it failed on one machine.
stack trace:
Assert Failure
Expression: [Recursive resource lookup bug]
Description: Infinite recursion during resource lookup within System.Private.CoreLib.  This may be a bug in System.Private.CoreLib, or potentially in certain extensibility points such as assembly resolve events or CultureInfo names.  Resou

[2017-10-24 03:36] eriawan commented on #24769
Thanks @mattwarren !

I've been able to see the diff, now I need to have those git diff as CSV or something else so it should be easier to look and read.
Ok, I'm able to see the diff without looking directly at the source code. I'm closing this.

Thanks again guys!

[2017-10-24 03:36] #24769 closed

[2017-10-24 05:46] lwansbrough commented on #24821
^ This is definitely interesting. I was in fact using a `wss://` URI. Switching to `ws://` to test now... It's definitely more stable. Haven't received the error yet!

[2017-10-24 07:11] Jiayili1 commented on #24660
This issue is not repro, close it.

[2017-10-24 07:11] #24660 closed

[2017-10-24 07:13] benaadams commented on #24568
Still think the functions are named reveresed as they are currently
[code]

[2017-10-24 07:22] GrabYourPitchforks commented on #24568
@benaadams The input to Base64Encode is not UTF8 text. The input is a binary blob. The binary data is encoded into an ASCII-friendly representation, hence encode is binary-to-text.

(As an aside, this thread provides strong evidence for the argument I was making earlier that UTF8 text and binary data should be represented as two different types in the type system.)

[2017-10-24 07:41] tmds commented on #24822
That is a different issue. It relates to .NET Core allowing Absolute uris starting with a slash, while .NET Framework does not.

This is a quirk on Mono, .NET Core parses these as relative (like .NET Framework).
[code]
outputs:
[code]

Your request is to make a change so "_System.IO.Packaging_" works out-of-the-box **on mono** (i.e. without export MONO_URI_DOTNETRELATIVEORABSOLUTE=true)?

By chang

[2017-10-24 07:49] benaadams commented on #24568
The methods are:
[code]
This is giving primacy to Base64 as the representation; whereas its the temporary; it wraps the otherway

Reversing the name
[code]
Gives primacy to Utf8 as the representation and suggests Base64 is the temporary

Re-framing it in a different context as written `text<->http<->tcp<->ip` would be written as:

Currently
[code]
I'm suggesting it would be better as
[code]

[2017-10-24 09:14] mattwarren commented on #24769
You can partially do that by putting `.diff` (or `.patch`) on the end of the url, like so https://github.com/Microsoft/referencesource/compare/90b323fe...b31308b0.diff

[2017-10-24 09:52] mkosieradzki commented on #24716
The root cause is that the process of releasing new framework version is flawed today. I have discovered and reported the original issue immediately when FCU appeared in the Release Preview ring and it was 3 days before FCU was released officially. During previous releases it was sometimes even a month.

So from the practical standpoint there was no way to test the apps before the release.

Micros

[2017-10-24 09:58] brianrob commented on #24618
- https://github.com/dotnet/coreclr/pull/14669 tracks porting the source and string additions back to dotnet/CoreCLR.
 - https://github.com/dotnet/corert/pull/4786 tracks porting the string additions back to dotnet/CoreRT.  The source changes will be automatically ported to dotnet/CoreRT by the mirror.

[2017-10-24 09:59] brianrob commented on #24618
@JamesCrompton-MSFT this is the issue that tracks the work required to produce the EventSource nuget package.

Wanted to make sure you are aware of this issue so that you can track progress.

[2017-10-24 11:11] msedi opened #24835 "[Proposal] Return something like an IList<T> instead of the real array in ArrayPool."
Currently ArrayPool returns the array from the buffer with the given chunksize, which can be larger than the  requested element size. The problem here is that handing over the array means that the "user" of the array needs to be aware of the true requested size.

In my opinion it would help a lot, if a "object", like ArraySegment<T> can be returned. The only problem with ArraySegment is, that the

[2017-10-24 11:41] Joe4evr commented on #23874
Saw this on the aforementioned discussion recording. If you're concerned with tying to the implementation of `ArrayPool<T>`, why not abstract it out to a new interface? That seems like the obvious thing to consider, at least.

[2017-10-24 12:20] ezeasharma commented on #23984
Any updates on this one? Seems like a major issue.

[2017-10-24 14:10] xneg commented on #24832
Same problem.

This code throws similar exception:
[code]
And this code works
[code]

[2017-10-24 14:57] stephentoub commented on #22610
I agree; seems like there's little value in paying to pass around the CloseStatus and CloseStatusDescription when they're already available off of the WebSocket itself.  Let's leave them off of ValueWebSocketReceiveResult.

[2017-10-24 15:24] stephentoub commented on #24690
Another access denied failure on a different test, WriteEntryWithTypeIdCategoryAndData:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/4c5a4efb652236a41ee701f1ee268e361b793489/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogWriteEntryTests~2FWriteEntryWithTypeIdCategoryAndData(sourceFlag:

[2017-10-24 15:39] danmosemsft commented on #24274
Again, always Ubuntu 1710.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171024.02/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Imaging.Tests.EncoderParameterTests~2FCtor_Encoder_NegativeNumberOfValues_Type_Value_OutOfMemoryException(numberOfValues:%20-1)

[2017-10-24 15:39] dotnet-mc-bot opened #24837 "Test failure: System.Diagnostics.Tests.EventLogEntryEventWrittenTest/EntryWrittenEventRaiseDisable"
Opened on behalf of @ViktorHofer

The test `System.Diagnostics.Tests.EventLogEntryEventWrittenTest/EntryWrittenEventRaiseDisable` has failed.

System.ComponentModel.Win32Exception : Access is denied

        Stack Trace:

           at System.Diagnostics.EventLogInternal.InternalWriteEvent(UInt32 eventID, UInt16 category, EventLogEntryType type, String[] strings, Byte[] rawData, String currentMach

[2017-10-24 15:40] ViktorHofer commented on #24837
cc @Anipik @danmosemsft

tests probably needs to be hardened.

[2017-10-24 15:42] karelz commented on #23874
That would be a way to go. The trick is to create such API and convince yourself that it is flexible enough to cover all/most future requests and needs, incl. isolation of pools, etc. And ensure we avoid unnecessary complexity and overengineering.
In general, it is better to wait for a strong use case, which can then drive the design. In this case the suggestion is to use suboptimal `bool` approac

[2017-10-24 15:44] stephentoub commented on #24837
I believe this is the same as https://github.com/dotnet/corefx/issues/24690.

[2017-10-24 15:45] GrabYourPitchforks commented on #24568
@benaadams you've reversed your first two examples. The method which takes [ 48 65 6C 6C 6F ] and returns "SGVsbG8=" is EncodeToUtf8, _not_ DecodeFromUtf8. DecodeFromUtf8 takes "SGVsbG8=" and returns [ 48 65 6C 6C 6F ]. This means that binary representation is the original representation, and UTF8 / ASCII is the temporary.

[2017-10-24 15:46] danmosemsft commented on #24837
yep

[2017-10-24 15:46] #24837 closed

[2017-10-24 15:46] ViktorHofer commented on #24690
cc @Anipik

[2017-10-24 15:52] danmosemsft commented on #24690
It's not that we're not elevated, as we check for that, plus all the other tests pass. There is no issue on other OS. It seems something flaky inside the OS.

All I can think of is either to make just about every test do retries on Windows 7 -- or, update ClearEventLog and InternalWriteEvent to do a retry on access denied. I would lean towards the latter as it makes the product more robust.

[2017-10-24 15:55] danmosemsft commented on #24509
@stephentoub thoughts?
This failed again today: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171024.02/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_DefaultProxyCredentials_Test~2FProxySetViaEnvironmentVariable_DefaultProxyCredentialsUsed(useProxy

[2017-10-24 16:10] euclid47 commented on #2089
@karelz If I am understanding the comments correctly this is not working on Linux based deployments?

[2017-10-24 16:13] balkarov commented on #2089
@euclid47 yes. Does not support on Linux.
I get error this platform does not support

[2017-10-24 16:17] benaadams commented on #24568
Its the other way in the api
[code]
`utf8` is readonly; and `bytes` is writable

[2017-10-24 16:18] danmosemsft commented on #2089
@euclid47 System.DirectoryServices.* is not currently supported on Linux. As discussed above, parts of it could potentially be ported given sufficient community interest/participation.

[2017-10-24 16:19] KrzysztofCwalina opened #24839 "Add SpanExtensions.LastIndexOf"
SpanExtensions have several IndexOf overloads. We should add similar LastIndexOf overloads:

[code]

[2017-10-24 16:21] danmosemsft commented on #24832
@chenhuiguo @xneg this is https://github.com/dotnet/corefx/issues/22586. It is fixed in master and we expect the fix to go out in servicing next month.
If your thread culture is en-US one workaround is to do something like `new ArgumentException()` at the top of `Main()` to force the neutral resources to load. If your thread culture is something else, there is no workaround, except in cases where

[2017-10-24 16:25] #22358 closed

[2017-10-24 16:25] danmosemsft commented on #24829
@brianrob could you please answer the questions above about trace source?

When TraceSource was written, we did not have configuration API's. Now we do, and TraceSource could presumably be changed to read app.config, but @brianrob note this would presumably mean pulling System.Configuration.ConfigurationManager library into the shared framework, as it is not currently in it.

[2017-10-24 16:27] danmosemsft commented on #24817
@makcakaya that cleanup would be welcome. There should be single quotes `'` around the path btw.

[2017-10-24 16:29] danmosemsft commented on #24817
Somewhat related issue that's up for grabs: https://github.com/dotnet/corefx/issues/23710

[2017-10-24 16:31] danmosemsft commented on #24790
We would potentially be interested in contributions to add Linux support for the existing WMI surface area. We don't plan to modify the surface area though: this is quite an old API.

[2017-10-24 16:38] KrzysztofCwalina opened #24840 "Add SpanExtensions.EndsWith"
SpanExtensions have StartsWith overloads. We should add EndsWith counterparts:

[code]

[2017-10-24 16:42] benaadams commented on #24568
Ohhh... ok have been getting this wrong

I assumed it was doing the conversion Utf8 <-> Base64 Ascii (e.g. like putting Utf8 in a cookie, as it isn't representable as 7-bit)

So if you wanted to put Utf8 in a cookie you'd do:
[code]
To convert utf8 to utf8? Still seems a bit weird

[2017-10-24 16:43] benaadams commented on #24568
`EncodeToAscii`?

[2017-10-24 16:45] benaadams commented on #24568
[code]
Would be more clear

[2017-10-24 16:48] benaadams commented on #24568
[code]
or
[code]
Would be more clear

[2017-10-24 16:53] bartonjs commented on #24568
@benaadams I think the UTF-8-ness is the representation of the Base64 character string.  So it's really `EncodeToBase64Utf8`, but since it's on a `Base64` class the redundant noun disappears.

So `new byte[] { 1, 2, 3, 4, 5 }` => (logical) "AQIDBAU=" => (UTF-8 or ASCII encoding) `41 51 49 44 42 41 55 3D`.

At least, that's what I'm assuming happens.

[2017-10-24 16:58] benaadams commented on #24568
Yeah; but the problem is utf8 isn't a representable as base64; so if you have utf8 to then need to convert it with a method called `EncodeToUtf8`

Since its a `Span<byte>` field call it `base64` instead of `utf8` and drop `Utf8` from the method name.

`Utf8` is a spurious element (and confused me)

[2017-10-24 17:06] GrabYourPitchforks commented on #24568
@ahsonkhan You mentioned that `InvalidData` means the input has been partially consumed up to the first invalid byte. Is this a requirement we're willing to place on _all_ transform implementations? Imagine a function like `Base64Decode`, which can tell ahead of time if some input has no hope at all of being valid (e.g., its length is not an even multiple of 4). Are we forcing all implementations

[2017-10-24 17:08] joperezr commented on #24555
Given the above concerns about overflow and precision, let's discuss a bit more on what would the right return type should be.

[2017-10-24 17:12] terrajobst commented on #24442
Given that the methods are already instance methods on the implementation, it implementation wise there is no benefit of doing the move. The driving factor here would be if we wanted to expose for customers as instance methods, so, for example, they can derive from `Socket` and override them. So we'd go with Option 1.

[2017-10-24 17:12] roederja2 commented on #24371
Also I have seen dotnet segfault shortly after renewing the kerberos token (using kinit -R) when there was a SQL query going on at the time. Unfortunately the only feedback I got was " Segmentation fault".

[2017-10-24 17:15] terrajobst commented on #24115
Seems like it 😢

[2017-10-24 17:15] #24115 closed

[2017-10-24 17:31] tarekgh commented on #24555
My take here:

-  for using Decimal type, I think double is covering the whole range. I am not sure if we are losing any precision here.  @ChristopherHaws, when you tried to print the calculated result when using double, did you use G17 formatting?
- We should have the documentation to warn the consumer if they want to use integral types (e.g long), this can cause overflow.

[2017-10-24 17:32] ahsonkhan commented on #24568
Yes. That is how our current implementation of the transformation behave and is necessary for fallback logic. However, I think this question about all transformation is more about the transformation interface ([IBufferOperation](https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Primitives/System/Buffers/Transformation.cs)/etc.) rather than the specific primitives and we can finali

[2017-10-24 17:34] GrabYourPitchforks commented on #24568
@ahsonkhan I meant "not a multiple of 4 bytes" _and_ "isFinalChunk = true". This is `InvalidData`, not `NeedsMoreData`, and there's no action the caller can take to recover. So why take the time to even bother processing what's clearly a corrupt input?

[2017-10-24 17:37] karelz commented on #24371
Do you have the dump? Can you get call stack of the segfault?

[2017-10-24 17:40] ChristopherHaws commented on #24555
@tarekgh Here are the results using G17 formatting:

[code]

[2017-10-24 17:41] terrajobst commented on #24575
Looks good, minor comments:

* We may want to swap the `isBigEndian` and `isUnsigned`
* It's a bit odd to have one type for signed and unsigned, but adding `UBigInteger` seems like overkill

[2017-10-24 17:45] DmitryNaumov commented on #23954
@ianhays it is not about slowness. I do understand that anyway new backing array (or whatever) should be allocated and data must be copied. The question is what is the capacity of the new array.

[code]

[2017-10-24 17:48] terrajobst commented on #24840
Seems reasonable. We should consider removing the `Span<byte>` as we believe we can specialize the implementation without performance loss.

[2017-10-24 17:55] tarekgh commented on #24555
I believe this is accepted precision.

[2017-10-24 17:55] terrajobst commented on #24839
Looks good:

* Why do we need the `struct` constraint?
* Can we just collapse the `T` version and the `byte` versions?
* Why is there no `LastIndexOfAny` version?

[2017-10-24 17:59] ChristopherHaws commented on #24555
Is there any particular reason not to use `decimal`? If we have the ability to have no lose of precision using a built in type, I think we should consider using it.

[2017-10-24 18:08] Tratcher opened #24842 "ManagedHandler: Must clear auth header on redirect"
This overlaps with https://github.com/dotnet/corefx/issues/24387.

RE:
https://github.com/dotnet/corefx/blob/6d3804c5d9edec46c85797701834bbb135c8500f/src/System.Net.Http/src/System/Net/Http/Managed/AuthenticationHandler.cs#L48-L54

This code checks for redirects and clears the credentials field. However, it does not clear the Authorization header so the redirected request will contain the original

[2017-10-24 18:09] benaadams commented on #24607
Ditch type and use overloads?
[code]

[2017-10-24 18:27] shairozan commented on #2089
I don't get how you can't see this entire thread open since October of 2015 as sufficient community interest. If I possessed the skillset required to write something as complicated as an LDAP communication layer, I would have already been working on it, as the AD was one of the core authentication mechanisms in an enterprise environment.  I will point out that for most large enterprises, the inabi

[2017-10-24 18:29] terrajobst commented on #24607
* `ParsedFormat`  -> `StandardFormat`
* `ParsedFormat` should implement `IEquatable<ParsedFormat>`
* Follow @benaadams's proposal and drop the type names from methods on `Utf8Parser`

[2017-10-24 18:38] abatishchev commented on #24694
@karelz hi, what can be done to put some wind in the sails of this issue?

[2017-10-24 18:41] jemiller0 commented on #24829
I can't even get it to work by programmatically adding a TextWriterTraceListener. The following code works with .NET Framework, but, does nothing with .NET Core.

[code]

As far as I can tell, TraceSource is just flat out broken and unusable in .NET Core.

[2017-10-24 18:42] shairozan commented on #2089
@danmosemsft Also, if you're literally not planning to work on this, just let the community know definitively so other developers can pick up the pieces. Who is the community manager from Microsoft?

[2017-10-24 18:44] tarekgh commented on #24555
I am not seeing the precision here is the issue. the more concern I have is what @mj1856 raised which is the possible overflow.

for example, imagine someone wants to get the total microseconds of TimeSpan.MaxValue which will produce ```9.2233720368547763E+17``` (using double). then want to round trip this value back to ticks.

doing

[code]

will result in overflow. and if did

[code]
will produc

[2017-10-24 18:53] karelz commented on #20669
@tarekgh is it done? Can you please assign it to yourself and update appropriately? Thanks!

[2017-10-24 19:01] terrajobst commented on #24568
Looks good as proposed. It seems @GrabYourPitchforks conceded that the enum is useful. We should, however, remove the `dataLength` parameter from `DecodeFromUtf8InPlace` -- it's not needed.

[2017-10-24 19:02] tarekgh commented on #20669
assigned it to me.

[2017-10-24 19:02] karelz commented on #2089
@shairozan so far we have noted 7 votes out of 54 who consider DirectoryServices on Linux as higher priority than Windows -- see https://github.com/dotnet/corefx/issues/2089#issuecomment-261093217
There are also other advantages developers get out of .NET Core than just x-platform (although I agree that x-plat is one of the top reasons).

I would recommend to first finish release of the Windows-on

[2017-10-24 19:09] cmerat commented on #24457
This has caused different behavior when using the OpenXml SDK library between NetFX and Core. It makes it impossible to create huge spreadsheets without busting memory limits. The implications are rather big as the library can no longer be used if the dataset is large enough in .NET Core.

[2017-10-24 19:12] shairozan commented on #2089
@karelz  Where is voting managed for these components? I can guarantee after SELF / POSSCON you'll see a pretty drastic increase in interest.

[2017-10-24 19:13] #24821 closed

[2017-10-24 19:19] ahsonkhan commented on #24840
@benaadams, @jkotas, can you recall why we specialized the `Span<byte>` APIs outside of the `Span<T>` ones? I remember we had specialized both `Span<byte>` and `Span<char>` but then we removed the `Span<char>` non-generic methods in favor of the generic ones but still kept `Span<byte>` overloads.

For context, these were added by @AtsushiKan here: https://github.com/dotnet/corefx/pull/15115

https

[2017-10-24 19:23] danmosemsft commented on #23710
@ibocon @italopessoa were you planning to look further?

[2017-10-24 19:27] karelz opened #24843 "Support System.DirectoryServices.Protocol on Linux/Mac"
Port `System.DirectoryServices.Protocol` to Linux & Mac -- we need to decide on x-plat LDAP library to use first

Note: Offshoot from larger topic #2089

[2017-10-24 19:28] euclid47 commented on #2089
@karelz Where is the voting for this feature? I absolutely agree with @shairozan with the need. There is a [comment](https://github.com/dotnet/corefx/issues/2089#issuecomment-261098937) in this issue that describes our development and production environment. It is quite shocking there has not been any movement on the implementation since .Net Core evangelists preach it is platform agnostic.

[2017-10-24 19:30] nil4 commented on #24607
The `format` parameter is a struct in both `Utf8Formatter` and `Utf8Parser`: *A value of type '`<null>`' cannot be used as a default parameter because there are no standard conversions to type 'char'*.

Should it be nullable or declared `= default` instead?

[2017-10-24 19:31] ahsonkhan commented on #24607
Yes, that was discussed in the review and is just a typo. It should be default.

[2017-10-24 19:31] karelz commented on #2089
I created a new issue to track the Linux/Mac port #24843 for easier voting than on the comment in the middle of this issue (https://github.com/dotnet/corefx/issues/2089#issuecomment-261093217).

I added the link also into the top post of this issue.

@euclid47 the voting so far was in this issue - see the links above. That's what resulted in the 7 votes (+1 for original issue submitter).

[2017-10-24 19:33] karelz commented on #24843
Currently we do not have immediate plans to implement the library on Linux/Mac. You can use top post upvoting to add your vote.

The issue is marked as up-for-grabs for anyone who knows the space and wants to pick it up.

[2017-10-24 19:39] karelz commented on #24694
See [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) (it's due some minor updates I guess).
First, it has to go through [area owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) triage / first-level review - @joperezr @wtgodbe. Needs to be checked for feasibility, compat impact, etc

[2017-10-24 19:39] benaadams commented on #24840
Not particularly; though not specializing would make the single implementation function very large and mean the Jit has to process a lot of code for every instantiation before throwing it away - not sure that matters.

Do generics inside generics cause Jit bumps?

e.g.

`IndexOfAny(this Span<T> span ...` having `Vector<byte>` internally?

[2017-10-24 19:48] danmosemsft commented on #24690
@Anipik is going to disable for now

[2017-10-24 19:58] balkarov commented on #2089
Our team needs support LDAP on Linux.
Because most of our clients use auth via LDAP.

[2017-10-24 20:01] italopessoa commented on #23710
@danmosemsft I can take a look again, last time I used your script to look all the *resx files, there where many strings that could be removed, but need validation first. I can take a look again in a couple days

[2017-10-24 20:04] shairozan commented on #2089
@balkarov If you can, upvote on the the issue @karelz  had just created ( [https://github.com/dotnet/corefx/issues/24843](https://github.com/dotnet/corefx/issues/24843) )

[2017-10-24 20:11] karelz commented on #24442
FYI: Another round of the API review discussion was recorded - see https://youtu.be/OZnaGV2omvI?t=48 (5 min duration)

[2017-10-24 20:13] karelz commented on #24115
The API was rejected after all based on the concerns raised above.

FYI: Next round of the API review discussion was also recorded - see https://youtu.be/OZnaGV2omvI?t=360 (4 min duration)

[2017-10-24 20:14] karelz commented on #24575
FYI: The API review discussion was recorded - see https://youtu.be/OZnaGV2omvI?t=631 (25 min duration)

[2017-10-24 20:15] karelz commented on #24840
FYI: The API review discussion was recorded - see https://youtu.be/OZnaGV2omvI?t=2140 (6 min duration)

[2017-10-24 20:17] karelz commented on #24839
FYI: The API review discussion was recorded - see https://youtu.be/OZnaGV2omvI?t=2536 (7 min duration)

[2017-10-24 20:18] karelz commented on #24607
FYI: The API review discussion was recorded - see https://youtu.be/OZnaGV2omvI?t=2977 (38 min duration)

[2017-10-24 20:18] karelz commented on #24568
FYI: The API review discussion was recorded - see https://youtu.be/OZnaGV2omvI?t=5258 (28 min duration)

[2017-10-24 20:23] danmosemsft commented on #23710
@italopessoa the purpose of this issue was to improve strings that don't contain the path or identifier that they are complaining about. If ther'es dead strings to remove great but that's not what this is for.

[2017-10-24 20:34] jkotas commented on #24840
Well, the original proposal was to have all T/byte/char specializations. Then we have removed the char specializations (https://github.com/dotnet/corefx/pull/17168) because they felt not very useful, but I do not think we have looked at removing the byte specialization as well.

As @benaadams says, you want to specialize the implementation for byte anyway. So it is really only a question whether y

[2017-10-24 20:47] danmosemsft commented on #24829
OK, @brianrob or @vancem need to give guidance...

[2017-10-24 20:49] jemiller0 commented on #24829
So, why is this being closed? TraceSource is basically completely non-usable as it stands now.

[2017-10-24 20:53] danmosemsft commented on #24829
Because the Close button is too close to the Comment button :)

[2017-10-24 21:50] KrzysztofCwalina commented on #24840
I removed the struct constraint

[2017-10-24 21:52] KrzysztofCwalina commented on #24839
FYI: I removed the "struct" constraint

[2017-10-24 22:05] stephentoub commented on #23341
Again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/98d53f272c58b4df9ce997d816d853ddff43e7d8/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.ServerAsyncAuthenticateTest~2FServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success(serverProtocol:%20Tls)
[code]

[2017-10-24 22:05] bording opened #24847 ".NET Framework 4.7.1 compatibility issue with reflection-only loading"
Now that netstandard.dll is in the GAC, this can cause failures when attempting to use reflection-only loading.

For example, given the following:
[code]
If that project targets net461 and includes a reference to a project that targets netstandard2.0, then the behavior of this program will vary based on whether 4.7.1 is installed or not.

If run on a machine that does not have 4.7.1 installed, the

[2017-10-24 22:21] twsouthwick commented on #24457
@ianhays Is there a timeline as to when a design may be available? What can be done to help move that forward? This issue is blocking for people who generate large office documents on the fly and it would be nice to know what steps need to be taken.

[2017-10-24 22:26] karelz commented on #24847
I wonder what loaded the netstandard.dll into the AppDomain in this case ... @ericstj @weshaggard any idea?

[2017-10-24 22:30] safern commented on #24716
After investigating I found that this issue is a dupe of: https://github.com/Microsoft/msbuild/issues/2199 and it was a SDK tooling issue, the fix was made in: https://github.com/Microsoft/msbuild/pull/2567 so that being said we can close this issue.

I validated locally and with that fix it works fine.

As a temporary workaround setting either one of these:
[code]
or as previously mentioned
[code

[2017-10-24 22:30] #24716 closed

[2017-10-24 22:40] AlexGhiondea commented on #24847
I looked at this and here is what I think is happening:

While iterating over the assemblies, we find an assembly that has a reference to netstandard.dll. So we ask the binder to load the netstandard.dll.

Because on 4.7.1 netstandard.dll is in the GAC, we load that assembly.

Continuing to iterate over the assemblies we get to the netstandard.dll that is in the application folder. So we try to lo

[2017-10-24 22:50] karelz commented on #24847
That would mean the code is missing [ReflectionOnlyAssemblyResolve](https://msdn.microsoft.com/en-us/library/system.appdomain.reflectiononlyassemblyresolve(v=vs.110).aspx) event

[2017-10-24 22:55] carlowahlstedt commented on #24843
While I don’t know the space, I’d love to work on the Mac portion. If an x-plat library is decided then at some point after that’s I can start hacking on it.

[2017-10-24 23:05] Foda opened #24848 "Change IO to use CreateFileFromApp2 etc when in UWP"
Related to [this issue](https://github.com/dotnet/corefx/issues/18405). Pretty much all the System.IO.File functions won't work when used from UWP due to permission issues. I guess I shouldn't have been surprised, but it would be nice if somehow we could make those 2 APIs work together.

[2017-10-24 23:28] Tratcher opened #24850 "Investigate other options for concurrent connection limits and allocations"
The connection limit and connection allocation strategy are some of the most frequently hit problems for the prior .NET managed stack. This is one aspect of the new stack that warrants quite a bit of up-front scrutiny. There have already been design improvements here with the central queue vs the old queue-per-connection strategy, but the limits also need to be redesigned.

I’m not aware of any co

[2017-10-24 23:35] davidsh commented on #24850
I had recent conversations with the WinHTTP team when diagnosing a current .NET Framework HTTP stack bug related to problems with its connection management algorithm.

Some comments from WinHTTP about WinHTTP algorithms for connection management:

- Idle connections aren’t used after 1 minute of inactivity.

- There is a periodic scavenger that runs every 2 minutes to remove/close these connection

[2017-10-24 23:55] huangsam commented on #12260
Was curious if there's still an effort made for porting the `Eventing` namespace over to C# - I noticed that it does not exist using `dotnet run` and created a SO post over here: https://stackoverflow.com/questions/46915998/eventing-namespace-does-not-exist-in-system-diagnostics-in-net-core-and-mon

[2017-10-25 00:04] Priya91 commented on #24775
@Drawaes Thanks for working on this!

[2017-10-25 00:39] huangsam opened #24852 "Support System.Diagnostics.Eventing on Linux/Mac"
Port `System.Diagnostics.Eventing` to Linux & Mac -- for Windows Event Log parsing purposes. I created a [SO post here](https://stackoverflow.com/questions/46915998/eventing-namespace-does-not-exist-in-system-diagnostics-in-net-core-and-mon) documenting the issue I currently have with `dotnet` and `mono`.

[2017-10-25 00:56] Drawaes opened #24853 "ALPN No matching protocol tests fail"
On Windows they seem to hang and timeout
On Linux they don't throw an exception but return an empty protocol

[2017-10-25 00:59] ahsonkhan opened #24854 "Provide IEnumerable<T> support for Memory<T>"
## Rationale
Users should be able to pass `Memory<T>` to methods that take in `IEnumerable<T>` similar to array. Currently, this requires calling ToArray() to copy the contents of the `Memory<T>` into an array for it to work, and is unnecessary.

For example (from @eerhardt):
https://github.com/dotnet/corefxlab/blob/master/src/System.Numerics.Tensors/System/Numerics/DenseTensor.cs#L10
[code]

http

[2017-10-25 01:03] svick commented on #24854
Would other collection interfaces make sense too? Like `IReadOnlyList<T>`?

[2017-10-25 01:07] stephentoub commented on #24854
How is Memory any more susceptible than IEnumerable on other types like List and T[]?

[2017-10-25 01:12] Tratcher commented on #24850
Interesting, that cleanup pattern sounds roughly consistent with both ServicePoint and ManagedHandler.

Did they have anything to say about their allocation pattern?

[2017-10-25 01:17] eerhardt commented on #24854
Why can’t Memory{T} implement IEnumerable{T} directly?  That way you wouldn’t need to call a method, nor alloc a throw away object.

[2017-10-25 01:17] ahsonkhan commented on #24854
It is just as susceptible. The difference being we can change `Memory<T>`.

[2017-10-25 01:20] jkotas commented on #24854
You always need to alloc a throw away object to get IEnumerable out of memory. If Memory implemented IEnumerable directly, casting to IEnumerable would box.

[2017-10-25 01:28] Priya91 commented on #24853
I debugged the non-matching protocol test failure on windows, it is throwing authenticationexception as expected, but the exception gets thrown as timeout aggregrate exception.

[code]

[2017-10-25 01:31] eerhardt commented on #24854
Oh right.  I missed that Memory{T} is a struct.

[2017-10-25 01:53] stephentoub commented on #24854
This is an implementation detail, but we should use the same allocated object as both the enumerable and enumerator in the common case, as is done by the compiler with iterators and in LINQ (this could likely just be implemented with an iterator).

[2017-10-25 02:13] Petermarcu opened #24856 "Need to add Ubuntu 17.10 to the RID graph"

[2017-10-25 02:19] #24804 closed

[2017-10-25 03:54] carlreinke commented on #24685
Should I expect to get some feedback so that I can get this out of api-needs-work?

[2017-10-25 04:03] AlexGhiondea commented on #24716
@mkosieradzki we are looking into how we can increase the cadency of our early access preview which should give more time for our customers to try the bits, give us feedback and allows us time to fix the issues they report.

[2017-10-25 04:14] stephentoub commented on #24509
Given the "An existing connection was forcibly closed by the remote host" error, my initial thought is we might want to try adding a Socket.Shutdown to the LoopbackGetRequestHttpProxy.

[2017-10-25 06:19] OskarKlintrot commented on #2089
@balkarov @shairozan @euclid47 If you are not aware already there is the [Novell.Directory.Ldap.NETStandard](https://github.com/dsbenghe/Novell.Directory.Ldap.NETStandard) Nuget package that you can use to integrate LDAP into your projects. We are not advanced LDAP users, we just use it to validate credentials and get user information, but it works fine for us, both on 1.0 as well as 2.0 running o

[2017-10-25 06:24] Jiayili1 commented on #23388
Following test: System.ServiceProcess.Tests.ServiceControllerTests/ConstructWithServiceName failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171025.04/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.ServiceControllerTests~2FConstructWithServiceNa

[2017-10-25 06:25] balkarov commented on #2089
@OskarKlintrot thanks. But this library does not support login without domain.
I create issue https://github.com/dsbenghe/Novell.Directory.Ldap.NETStandard/issues/43
Can you help me resolve this problem?

[2017-10-25 06:26] 4creators commented on #24790
Linking issue to umbrella System.Managment porting issue #14762

[2017-10-25 06:28] dotnet-mc-bot opened #24858 "Test: System.ComponentModel.Tests.Win32ExceptionTestType/Deserialize_NetCore_ThrowsPlatformNotSupportedException failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.ComponentModel.Tests.Win32ExceptionTestType/Deserialize_NetCore_ThrowsPlatformNotSupportedException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Reflection.TargetInvocationException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Runtime.Serialization.Formatters.Tests.BinaryFormatterHelper

[2017-10-25 06:35] OskarKlintrot commented on #2089
I'm not part of that project or an advanced user but I'll take a look, see you there!

[2017-10-25 06:47] aienabled commented on #22142
Same issue with System.Runtime.Loader 4.3.0 and net471 (which supposedly don't need this DLL as it should be a part of .NET Framework now).

[2017-10-25 09:09] brianrob commented on #24618
PR for enabling tests: https://github.com/dotnet/corefx/pull/24859

[2017-10-25 09:09] brianrob commented on #24618
PR for enabling tests: https://github.com/dotnet/corefx/pull/24859

[2017-10-25 09:26] Trolldemorted commented on #24802
One of our devs downloaded the mopbile 15254 emulator (which has W10M's FCU) and noticed that UniversalApiContract 5/UWP6/NETStandard20 is not supported.

So I assume *all* w10m devices are affected, and the bug occurs everytime a websocket is closed by the server or a connection failure occurs.

[2017-10-25 10:19] unicomp21 opened #24860 "Windows NT Services"
We need examples showing how to build an NT Service using .Net Core

[2017-10-25 10:21] unicomp21 opened #24861 "Registered i/o"
We need interop delarations for RIO in the corefx repo

[2017-10-25 13:06] stephentoub opened #24862 "WinHttpHandler is not using Host header in SSL handshake"
The .NET Framework does.

[2017-10-25 13:12] stephentoub commented on #23151
@koenigst, are you still working on this?

[2017-10-25 13:50] davidsh commented on #24862
Can you be more specific about this?  Do you mean using the "Host: " header in the SNI portion of SSL handshake?  Or some other portion?  Can you attach a Wireshark trace, etc. ?

[2017-10-25 13:51] stephentoub commented on #24862
This test:
https://github.com/dotnet/corefx/pull/24820/files#diff-06a6483ff6bb478e06f199d69522bcd4R312

[2017-10-25 14:06] danmosemsft commented on #24861
Can you clarify? What definitions and for what purpose?

[2017-10-25 14:07] danmosemsft commented on #24858
@viktorhofer

[2017-10-25 14:08] sawachika-kenji opened #24865 "Memory problem"
My procedure is very simple, through the socket to accept the connection and then through the sslstream forward data to the back-end server, a simple socket proxy, but soon after the start of the system memory is exhausted, I guess there may be a memory leak, how should I find the problem The

[2017-10-25 14:09] ViktorHofer commented on #24858
This can be closed as I deleted the test in my PR which hopefully gets merged soon.

[2017-10-25 14:09] #24858 closed

[2017-10-25 14:09] danmosemsft commented on #24865
Can you provide sample code? What platform are you using, and is it possible to check adifferent one?

[2017-10-25 14:19] sawachika-kenji commented on #24865
Thank you for your reply
I can send all the code to you via email.
Is there any way I can find the reason for memory leaks?

.NET CORE 2.0
CentOS Linux release 7.3.1611 (Core)
4.12.4-1.el7.elrepo.x86_64

[2017-10-25 14:46] hanxinimm commented on #24832
@danmosemsft   Microsoft.Orleans.OrleansCodeGenerator.Build  on build
the same error
I found the issue has been there for several months，hope you to fix it as soon as possible,,thanks

[2017-10-25 14:46] Drawaes commented on #24853
As mentioned this error is showing as a timeout because of the Virtual Network timing out when it hangs, you can see this when you step through, it seems to be hanging waiting for a packet

[2017-10-25 14:47] Drawaes opened #24866 "ALPN Failing Success on Debian"
All three tests SslStream_StreamToStream_Alpn_Success fail on Debian 90

[2017-10-25 15:23] bording commented on #24847
@AlexGhiondea While that does seem true, the likelyhood of someone doing that is low. However, upgrading to 4.7.1 makes this guaranteed to happen, and code that was running perfectly fine before the upgrade now breaks.

We've already had one support case around this and we're anticipating more as more people update to 4.7.1.

@karelz I'm not sure how that makes a difference. If I add a handler for

[2017-10-25 15:42] Clockwork-Muse commented on #24865
Normally you'd attach a profiler to your application, although I'm not sure what's available for core on linux.
If you're going to post code, then could you make it a repository/gist, please?

[2017-10-25 15:42] #14762 closed

[2017-10-25 15:52] karelz commented on #24847
It's a pity ReflectionOnlyAssemblyResolve event doesn't kick in. Might be interesting to find out if it is because of being in GAC or being in unifications list (part of the platform). Either way, it is not going to change the fact that this is by design.
It seems that Reflection was always brittle in this space and the only way how to not technically break it is not change anything at all, which

[2017-10-25 16:09] stephentoub commented on #24854
Only tangentially related to this issue, have we considered giving Span an instance or extension GetEnumerator that returns a ref struct Enumerator?  And/or have there been any discussions about enabling the compiler to support foreach'ing a span and generating optimal code for that?  Just as I can foreach an array and end up with asm equivalent to walking through each element, it'd be nice to be

[2017-10-25 16:15] ringrid commented on #24657
@tarekgh thanks a lot. :+1:

[2017-10-25 16:26] danmosemsft commented on #24865
@sawachika-kenji I would start by attaching lldb and loading sos then getting heap stats to see what type objects are taking up all the space, and what is rooting them.

Load sos with `plugin load libsosplugin.so`

There are various docs on sos on the web, and also you can do `soshelp`.

If you are stuck you can share a dumpfile, or a repro as suggested by @Clockwork-Muse .

@mikem8361 what is the

[2017-10-25 16:28] danmosemsft commented on #24860
@unicomp21 the tests for service base necessarily create a service and then manipulate it:

https://github.com/dotnet/corefx/blob/master/src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/TestService.cs
etc.

Is that sufficient?

[2017-10-25 16:29] danmosemsft commented on #24852
@brianrob could you please advise about this.

[2017-10-25 16:43] stephentoub opened #24869 "IndexOutOfRangeException from Socket.MultipleAddressConnectAsyncResult.get_RemoteEndPoint"
https://mc.dot.net/#/user/Drawaes/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/3cac46b196961558ff0ddf1858e8a3429a7d643e/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DnsEndPointTest~2FSocket_BeginConnectDnsEndPoint_Failure
[code]

[2017-10-25 16:58] davidsh commented on #24850
No.  It was a short conversation.

[2017-10-25 16:59] stephentoub commented on #24869
This looks like a bug in Socket.EndConnect, on all platforms (we just happened to hit the race condition in a Linux run).  EndConnect is accessing the MultipleAddressConnectAsyncResult.RemoteEndPoint property before it's guaranteed that the operation has completed, i.e. before castedAsyncResult.InternalWaitForCompletion(); is called.  If EndConnect is called before the IAsyncResult has completed (

[2017-10-25 17:04] mungojam commented on #17522
Perhaps people who are clearly knowledgeable such as @onovotny, who raised the issue, should have the privileges to tag particular issues as serious and urgent.

Just reading the first sentence of the issue tells me that it was a significant one, but I understand that the triage needs to consider who is raising and whether they have enough reputation. Otherwise they might just be somebody inexperi

[2017-10-25 17:08] mikem8361 commented on #24865
If you are running lldb and have libsosplugin.so loaded and coreclr is 2.0 or master, then there is a “sos CreateDump” command that will create a core dump. You can also use the “createdump” utility on a running .NET Core process.  See the help for both commands on the details. Or for more info: https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md

[2017-10-25 17:16] stephentoub commented on #24869
(It also appears to be a bug in .NET Framework.)

[2017-10-25 17:20] pasikarkkainen commented on #24843
It's a bit surprising that .NET Core doesn't have an integrated/official LDAP library available out of the box.. shouldn't there be one? It could be then used for System.DirectoryServices.Protocols aswell.

[2017-10-25 17:26] pensivebrian opened #24871 "SqlBulkCopy can fail with a null ref exception for some IDataReader implementations"
SqlBulkCopy.WriteToServer accepts an IDataReader parameter. If the following two condition are met, the call will fail with a NullReferenceException:
1.  The passed implementation of IDataReader does not inherit from DbDataReader
2. A column mapping is specified

In the implementation of SqlBulkCopy.WriteToServer, the code attempts to cast the passed parameter to an DbDataReader, which is result i

[2017-10-25 17:39] karelz commented on #24861
Check out https://github.com/dotnet/corefxlab/tree/master/src/System.IO.Pipelines.Networking.Windows.RIO

Duplicate of #721

[2017-10-25 17:39] #24861 closed

[2017-10-25 17:44] stephentoub commented on #23151
@koenigst, thanks for your interest.  As it's been a month and there are a few things queued behind this, I'm going to go ahead and submit a fix for it.  Thanks, again.

[2017-10-25 18:14] BillHenning commented on #24754
Hi @danmosemsft, any word on an update?

[2017-10-25 18:56] Rabadash8820 commented on #19375
@csalgo70 I had been using a logon type of `LOGON32_LOGON_INTERACTIVE` (2) for several months, and only in the last week did it start giving me problems (that is, throwing a `FileLoadException`, though in my case there was no exception message).  Changing the logon type to `LOGON32_LOGON_NEW_CREDENTIALS` (9) fixed the problems for me as well.

Since a logon type of 2 had been working for me for so

[2017-10-25 19:02] satano commented on #24871
This is already reported #24638 and also pull request is waiting #24655.

[2017-10-25 19:36] stephentoub opened #24874 "EventLogEntryCollectionTests.CheckingEntryEqualityAndIndex failed with ArgumentException"
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/94474b7e9325802a019eace4ffce5cb6add96b0b/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogEntryCollectionTests~2FCheckingEntryEqualityAndIndex
[code]

[2017-10-25 19:38] stephentoub commented on #23072
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/98d53f272c58b4df9ce997d816d853ddff43e7d8/workItem/System.Diagnostics.DiagnosticSource.Tests/analysis/xunit/System.Diagnostics.Tests.ActivityTests~2FDiagnosticSourceStartStop
[code]

[2017-10-25 19:39] marchy commented on #24653
After the Windows Update our code now fails at runtime with "Method not found: 'System.ValueTuple`2<System.String,System.String>" wherever tuples get invoked.

Cannot seem to find a way around this. Our codebase targets 'net462' (as to run on Azure) but local machines are now on 4.7.1. What to do?

[2017-10-25 19:41] mkosieradzki commented on #24653
@marchy The only reasonable workaround I know is to retarget to net47.

[2017-10-25 19:41] stephentoub opened #24875 "ServicePointManager_SecurityProtocolDefault_Ok failed Assert.Equal"
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/98d53f272c58b4df9ce997d816d853ddff43e7d8/workItem/System.Net.ServicePoint.Tests/analysis/xunit/System.Net.Tests.TlsSystemDefault~2FServicePointManager_SecurityProtocolDefault_Ok
[code]

The test is reading a static property.  Most likely there's another test in the project that's modifying t

[2017-10-25 19:43] AlexGhiondea commented on #24653
Hey @marchy this is a known issue in 4.7.1. More information about it is [here](https://github.com/Microsoft/dotnet/blob/master/releases/net471/KnownIssues/510901-BCL%20Apps%20targeting%20.NET-4.6.1%20that%20use%20.NET%20Standard%20libraries%20might%20be%20broken%20when%20running%20on%20.NET%204.7.1.md)

Currently the workaround is to either manually remove the binding redirects to System.ValueTup

[2017-10-25 19:43] stephentoub commented on #17681
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/98d53f272c58b4df9ce997d816d853ddff43e7d8/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom~2FReceiveFromV4BoundToAnyV6_Success

[2017-10-25 19:56] CarlosOnline commented on #24488
Is there any resolution this issue?

[2017-10-25 19:59] tarekgh commented on #24488
@CarlosOnline did you try what @weshaggard suggested?

[2017-10-25 20:05] marchy commented on #24653
Thanks for the very prompt reply @AlexGhiondea  @mkosieradzki.

Re-targeting to 4.7 solved it :)
(while re-targeting to 4.7.1 is not feasible since apparently Azure doesn't expect support for it until December)

[2017-10-25 20:08] #23809 closed

[2017-10-25 20:08] tkp1n commented on #21281
@stephentoub  May I ask, why `HashAlgorithm` and `AsymmetricAlgorithm` already got a Span update and `SymmetricAlgorithm` (`ICryptoTransform`) didn't? Is this something you will look into? Would a addressing symmetrical crypto APIs PR be accepted?

[2017-10-25 20:26] davidsh commented on #24875
Tests for app-wide (app-domain wide) classes should be run in isolation.

[2017-10-25 20:27] stephentoub commented on #21281
Interfaces can't be changed; adding new methods to an interface is a breaking change.

You're welcome to open an issue with a proposal.
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

cc: @bartonjs

[2017-10-25 20:28] brianrob commented on #24852
@huangsam, I don't expect that we'll port System.Diagnostics.Eventing to Linux and OSX because it is a wrapper around the Windows Event Log.  Thus, it won't really do anything without the Windows functionality underneath it.

That said, can you tell us what you're trying to do?  Perhaps there are other solutions that we can recommend to use in its place.  There are other logging / tracing systems

[2017-10-25 21:03] stephentoub commented on #23535
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/98d53f272c58b4df9ce997d816d853ddff43e7d8/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom~2FReceiveFromV6BoundToSpecificV6_Success
[code]

[2017-10-25 21:07] wfurt commented on #24480
Can you help me setup repro @geleems ? I would like to take a look.
It would be interesting to know if this is really networking problem or if this is some other kind or resource starvation.

[2017-10-25 21:27] KrzysztofCwalina commented on #24854
Language support for foreach would be great.

[2017-10-25 21:46] chuckries opened #24877 "[Question] Has anybody run xunit tests on linux-arm?"
I am trying to build a test project on windows and run the tests on linux-arm. I have a shared framework installed on the linux-arm hardware, but I do not have a full SDK installed on linux-arm because there is not one available. Because there is no cli, I cannot simply run 'dotnet test' on the project.

I had hoped that I would be able to create a [Self Contained Deployment](https://docs.microsof

[2017-10-25 21:57] stephentoub commented on #24525
Seg fault on macOS this time:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/5ecea8ff47c03a073a77916a9c7d1d806f8c7ce3/workItem/System.Drawing.Common.Tests/wilogs
[code]

[2017-10-25 22:09] karelz commented on #24848
Which APIs in particular do you have in mind? Here's list of differences we're tracking: [System.IO list](https://github.com/dotnet/corefx/wiki/ApiCompat#systemio)
To my knowledge they should work just fine, beside the limits of UWP sandbox.

cc @JeremyKuhne

[2017-10-25 22:10] karelz commented on #24832
Duplicate of #22586

[2017-10-25 22:10] #24832 closed

[2017-10-25 22:52] KrzysztofCwalina opened #24880 "Complete MemoryExtensions Feature"
- [x] Parity with Array APIs #25850
- [x] Move MemoryExtensions down to CoreLib #25182
- [x] MemoryExtensions.SequenceCompare #16878
- [x] ReadOnlySpan<char> string-like extension methods #21395

P2
- [x] String slice operations #24072

cc: @ahsonkhan, @joshfree

[2017-10-25 22:55] KrzysztofCwalina commented on #24880
Compare should either be vectorized or something similar to [ordinal string comparison](https://github.com/dotnet/coreclr/blob/8ec9b34df095df032e37b4c20a7359e9df7ae0ce/src/mscorlib/src/System/String.Comparison.cs#L222).

[2017-10-25 23:02] jrocha commented on #16991
Hope it come soon to .NET Framework, it is really painful to wait for large graph deserialization.

[2017-10-25 23:09] huangsam commented on #24852
I'm trying to query for Critical, Warning and Error logs using `EventLogQuery` and track metadata about the log lines in a Tab-delimited format (i.e. `.tsv`). Here's the portion of the code that may be of interest to you:

[code]

[2017-10-25 23:23] huangsam commented on #24852
I originally tried the `evtx_dump.py` from [python-evtx](https://github.com/williballenthin/python-evtx) but couldn't replicate the above logic accurately. Furthermore, it took way too long to process a single file, on the order of minutes - whereas the `EventLogQuery` knocked out the evtx files that we had in a matter of seconds.

[2017-10-25 23:33] mikem8361 commented on #21079
Fixed with PR https://github.com/dotnet/coreclr/pull/14696

[2017-10-25 23:33] #21079 closed

[2017-10-25 23:35] Foda commented on #24848
I suppose a better way to phrase this would be "document the restrictions the UWP sandbox has on System.IO" (from what I can tell none of the System.IO.File APIs will work -- File.Open, StreamWriter, ReadAllText, etc because they'll never get the permissions to do anything). From an interop standpoint this can be frustrating: you'll need to abstract away your file logic and then convert down the c

[2017-10-26 00:00] JeremyKuhne commented on #24848
They currently don't work with paths from brokered locations. App data and temp directories should work fine. Note that we intend to have the brokered locations working in a future update.

As a workaround, if you have `using System.IO;`  `CreateSafeFileHandle()` extension methods will be available on `IStorageFile` and `IStorageFolder` classes. For example:

[code]

[2017-10-26 00:02] stephentoub commented on #23799
Failed again here:
[code]

[2017-10-26 00:08] shmao commented on #24572
@JimboWei this should be fixed by https://github.com/dotnet/corefx/pull/24882. Can you please rebase your change to the latest after https://github.com/dotnet/corefx/pull/24882 get merged.

The test `AtomEntryPositiveTest_Write` still failed at text comparison. It seems to be an issue with `XmlDiff`.

[2017-10-26 01:15] Foda commented on #24848
Ah, glad to hear that! Thanks for the tip too. By app data, you mean `Windows.Storage.ApplicationData.Current`?

[2017-10-26 01:24] JeremyKuhne commented on #24848
You can get to the path that way or through `Environment.GetFolderPath()`, which might be a little simpler. The paths to app data should work without jumping through the `CreateSafeFileHandle` hoop. Anything that happens to be ACLed for "ALL APPLICATION PACKAGES" should work directly as well.

[2017-10-26 01:44] safern commented on #24525
Unfortunately OSX is not uploading the dumps correctly @DrewScoggins is working on fixing that, and we're still working on being able to crack open a dump in OSX :(

[2017-10-26 01:47] danmosemsft commented on #24525
We could add show progress which might suggest which test.

[2017-10-26 01:48] safern commented on #24525
That is true. I will go ahead and add it now.

[2017-10-26 02:00] stephentoub opened #24886 "WinHttp exception "The handle is in the wrong state for the requested operation" in GetAsync_AllowedSSLVersion_Succeeds test on Win7"
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/5ecea8ff47c03a073a77916a9c7d1d806f8c7ce3/workItem/System.Net.Http.Functional.Tests/wilogs
[code]

[2017-10-26 02:14] stephentoub commented on #24525
Another macOS seg fault here:
https://mc.dot.net/#/user/Drawaes/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/01709e234375bf1aecd9d2362d4a311a8094114e/workItem/System.Drawing.Common.Tests/wilogs
[code]

[2017-10-26 02:17] Sunny-pu commented on #24355
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171026.01/workItem/System.Net.NameResolution.Functional.Tests/analysis/xunit/System.Net.NameResolution.Tests.GetHostByNameTest~2FDnsObsoleteBeginEndGetHostByName_EmptyString_ReturnsHostName

[2017-10-26 02:38] stephentoub commented on #18173
I'd chatted about this offline last week with Emma and folks.  Here's the relevant portion of the info I shared...

---

"Here’s what I see (I added min/max/average to Emma’s repro, all values are in milliseconds):
[code]
After some investigation, I believe what’s happening is that we’re effectively being limited by the architecture of libcurl.  Essentially, libcurl operates on a single-threaded m

[2017-10-26 02:54] stephentoub commented on #24880
Related to #21395

[2017-10-26 02:55] Sunny-pu commented on #22434
Still repro in Master branch, detail:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171026.01/workItem/System.Net.Security.Tests

[2017-10-26 02:57] stephentoub commented on #24823
From https://github.com/dotnet/corefx/pull/24881:
- [ ] Perf. Some simplifications were recently made to the code that should make various lock-free optimizations easier.
- [ ] Testing. The tests currently provide 99.6% line coverage and 98.4% branch coverage, but especially in a concurrent library that's far from the whole story. The tests also aren't the most organized and could benefit from som

[2017-10-26 03:53] stephentoub commented on #24874
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/94474b7e9325802a019eace4ffce5cb6add96b0b/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogEntryCollectionTests~2FCheckingEntryEqualityAndIndex
[code]

[2017-10-26 03:55] stephentoub commented on #23341
Again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/94474b7e9325802a019eace4ffce5cb6add96b0b/workItem/System.Net.Http.Functional.Tests/wilogs
[code]

[2017-10-26 04:01] stephentoub commented on #23535
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/98d53f272c58b4df9ce997d816d853ddff43e7d8/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom~2FReceiveFromV6BoundToSpecificV6_Success
[code]

[2017-10-26 04:09] CIPop commented on #8158
@ianhays @bartonjs was there any progress on this for .NET Core on Linux?
/cc @amarochk @morganbr

I'm trying to implement [TPMv2 support for .Net Core on Linux ](https://github.com/Microsoft/TSS.MSR/issues/11) using Microsoft.TSS.NET and am currently missing the following:

[code]

I've tried both `<TargetFramework>netstandard2.0</TargetFramework>` and `<TargetFramework>netcoreapp2.0</TargetFrame

[2017-10-26 04:11] rkeithhill commented on #16352
This is a bummer for apps where you'd rather not block on ReadKey().  How about adding a ReadKeyAsync() method then?

[2017-10-26 04:30] danmosemsft commented on #24875
This one is likely running concurrently.
[code]

[2017-10-26 04:30] Daniel15 commented on #9012
For what it's worth, even with Mono 5.4 I still have to symlink `/usr/local/bin/libSystem.Native.so` to `System.Native.so` in order to get ASP.NET Core 2.0 sites to load.

[2017-10-26 04:56] #17681 closed

[2017-10-26 04:59] wfurt commented on #23535
fixed by #24615

[2017-10-26 04:59] #23535 closed

[2017-10-26 05:08] bartonjs commented on #8158
It's on our 2.1 roadmap, but isn't ready yet.

Those types, of course, will be Windows-only (CNG), you'll want to use the abstract base classes instead.

[2017-10-26 05:28] danmosemsft commented on #24874
@Anipik apparently `eventLog.Entries.Count` is returning 0 when called directly after `eventLog.WriteEntry(message)` .. that's a bit worrying

[2017-10-26 05:45] Daniel15 opened #24891 "Segfault in libcrypto.so.1.0.0"
I'm getting this somewhere in my app (I suspect it's from a `HttpClient` call to a site that uses HTTPS):
[code]

ASP.NET Core 2.0 on .NET Core 2.0, running on Debian Linux
[code]

[2017-10-26 05:58] Daniel15 commented on #24891
It works fine if I delete `/usr/lib/x86_64-linux-gnu/libssl.so.1.0.0`. It seems like it's loading `libssl.so.1.0.0` even though it should be loading `libssl.so.1.0.2`. Unfortunately I can't actually delete `libssl.so.1.0.0` as I have some older apps that are linked against it.

Using `LD_LIBRARY_PATH` made it work too, if I symlink `libssl.so.1.0.0` in the library path to `libssl.so.1.0.2`:
[code]

[2017-10-26 06:06] stukselbax opened #24892 "Result string of Win32Exception.ToString() method missing Win32Exception.NativeErrorCode"
When we working with Win API via P/Invoke, it is common practice to check the result of called function and throw new [Win32Exception()](https://github.com/dotnet/corefx/blob/9eafffc6054c8f039d788465621bcfd49a379ca1/src/Microsoft.Win32.Primitives/src/System/ComponentModel/Win32Exception.cs#L21). We can pass error code explicitly, or the default constructor will catch the last one using [Marshal.Ge

[2017-10-26 06:08] Jiayili1 commented on #23209
Now it failed with:

The test `System.Net.Http.Functional.Tests.DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledActivityLogging` has failed.

Exit code was 134 but it should have been 42
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose() in /root/corefx-1088759/src/CoreFx.Private.TestUtilities/src/

[2017-10-26 06:10] Jiayili1 commented on #23102
following test failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171026.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test~2FProxySetViaEnvironmentVariable_DefaultProxyCredentialsUsed(useProxy:%20True)

The t

[2017-10-26 06:27] Jiayili1 commented on #23098
failed again in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171026.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.NegotiateStreamTest~2FNegotiateStream_StreamToStream_KerberosAuthDefaultCredentials_Success

[2017-10-26 06:29] #24571 closed

[2017-10-26 06:29] #24604 closed

[2017-10-26 06:30] Jiayili1 commented on #22904
failed again in master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20171026.01/workItem/System.Net.WebSockets.Client.Tests/analysis/xunit/System.Net.WebSockets.Client.Tests.CancelTest~2FCloseAsync_Cancel_Success(server:%20ws:~2F~2Fcorefx-net.cloudapp.net~2FWebSocket~2FEchoWebSocket.ashx)

[2017-10-26 07:05] gulshan commented on #5766
Proposed [.net compatibility pack](https://github.com/dotnet/designs/blob/d48425ffb2ba7d721acb82da61d7c6d4b320d6c7/compat-pack/compat-pack.md) includes `System.Xaml` with maybe status and linked to this issue.

[2017-10-26 07:19] Jiayili1 commented on #22084
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/294/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersionDiffersFromServer_ThrowsException_allowedProtocol__Tls11__acceptedProtocol__Tls__exceptedServerException__typeof_System_IO_IOException__/

[2017-10-26 07:20] Jiayili1 commented on #24356
failed again in CI, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/294/testReport/System.Net.Security.Tests/ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_MismatchProtocols_Fails_serverProtocol__Tls__clientProtocol__Tls11__expectedException__typeof_System_Security_Authentication_AuthenticationException__/

[2017-10-26 07:23] Jiayili1 commented on #23099
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/199/testReport/

[2017-10-26 08:30] brianrob commented on #24618
PR for enabling EventCounter: https://github.com/dotnet/corefx/pull/24893

[2017-10-26 08:31] unicomp21 commented on #24860
Already tried to leverage that code, couldn't get it to work.  Correct me if I'm wrong, I think the event used in the onstart signaling isn't initialized in a thread-safe manner.  Are there plans to promote ServiceBase out into the .net core 2.0 framework?

[2017-10-26 09:09] Drawaes commented on #24775
Can this now be closed?

[2017-10-26 09:12] mazong1123 commented on #22403
Since we have new implementation of formatting in native coreclr (https://github.com/dotnet/coreclr/pull/12894 and an in-progress one https://github.com/dotnet/coreclr/pull/14646), is it better to port these native implementations to managed code other than port from corert?

[2017-10-26 09:39] tjrobinson commented on #24703
Does this affect Azure Web Apps or Cloud Services running in Azure?

[2017-10-26 10:05] mfe- commented on #11857
I can't find any official documents for MEF2.
https://mef.codeplex.com/ is the place to go(?) for MEF, can anyone provide a good source for MEF2?

[2017-10-26 10:56] sawachika-kenji commented on #24865
What tools can I use to view memory? I see there PerfView, can i use it?

[2017-10-26 11:14] JimboWei opened #24894 "DateTimeParser in class Atom10FeedFormatter return wrong result."
Atom10FeedFormatter can not convert `string dateTimeString = "2017-10-11T11:25:55Z";` to class `DateTimeOffset` when load from feed file.
The DateTimeParser use the codes are as below ([source](https://github.com/dotnet/corefx/blob/master/src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/DateTimeHelper.cs#L59)):
[code]
The format **"O"** in code:
[code]
Can not parse the `dat

[2017-10-26 11:21] JimboWei commented on #24572
It is not an issue with `XmlDiff`, I have opened new issue #24894 for it.

[2017-10-26 11:33] snebjorn opened #24895 "System.Net.Mime.MediaTypeNames missing types"
https://github.com/dotnet/corefx/blob/3f0bd5d8c3d019ad8b1561395030a58bc38ddfe9/src/System.Net.Mail/ref/System.Net.Mime.cs#L44

I tried using `System.Net.Mime.MediaTypeNames` in my asp net core api to remove "magic strings"

[code]

But it's missing quite a few MIME types.

These come to mind:

[2017-10-26 12:10] #24775 closed

[2017-10-26 13:06] tmds commented on #24677
@stephentoub @halter73
I went and looked a bit deeper into this. I think you are getting 'Invalid Value' because the syscall return EBADF when passed an invalid file descriptor. corefx maps that to SocketError.InvalidArgument.

https://github.com/dotnet/corefx/blob/9dafd441dc905ccbe614dfa8c3d9bac6b09a9ccb/src/Common/src/System/Net/Sockets/SocketErrorPal.Unix.cs#L43

The mapping could be changed to

[2017-10-26 13:22] stephentoub commented on #24677
But it is an invalid argument. This is the race condition I referred to earlier.

[2017-10-26 13:27] danielamkaer commented on #24648
I just stumbled into this issue, while trying to run my .NET Core application on Linux instead of Windows.
Do you know if there is a workaround to enable ECDHE cipher suites? Something like configuring openssl outside of the application.

[2017-10-26 13:57] tmds commented on #24677
I agree. EBADF is an invalid argument for a file descriptor.
I think in Socket context, EBADF will be a disposed Socket (almost always), mapping it to ConnectionAborted may be more informative. 'Invalid Argument' makes me look at the arguments I'm passing.

[2017-10-26 14:10] EdiWang commented on #24754
@BillHenning @danmosemsft

I just tried on Dev Center, seems the problem is fixed now!

[2017-10-26 14:57] adrianm64 commented on #23544
@tom3m it is the `ServicePointManager.CloseConnectionGroups` you want to avoid. You can either do that by never disposing the `HttpClient` or by using the `disposeHandler: false`.

[2017-10-26 15:00] danmosemsft commented on #11857
@weshaggard where should @mfe- look?

[2017-10-26 15:01] danmosemsft commented on #24754
@ediwang, I was just about to post that I was told it should be fixed. Apologies for the glitch.

[2017-10-26 15:33] ianhays commented on #24457
There is not a timeline currently. More "likes" on the issue always helps as does discussion of the API on the issue and comments explaining use cases.

It's pretty high up on the priority list as far as compression investments go.

[2017-10-26 15:35] ianhays commented on #23954
It's certainly a doable addition. The question then becomes whether it offers enough value and has enough demand to justify adding the additional API. We should leave this issue for a few months and see what kind of interest it gathers before deciding next steps.

[2017-10-26 16:57] jkotas commented on #16991
This fix is scheduled to be included in .NET Framework 4.7.2 update. It won't be enabled by default. It will be only enabled when `Switch.System.Runtime.Serialization.UseNewMaxArraySize` config switch is set.

Early access preview builds of .NET Framework 4.7.2 should start showing up on https://github.com/Microsoft/dotnet-framework-early-access/ soon. Please give it a try once the build with this

[2017-10-26 17:07] krytarowski commented on #1626
Can we already bootstrap .NET on FreeBSD?

[2017-10-26 17:37] danmosemsft commented on #24542
@NN--- the doc has been updated to include everything that .NET Core uses:
https://msdn.microsoft.com/en-us/library/windows/desktop/ms724509(v=vs.85).aspx

For CreateTime - Windows wants to minimise what they document here, so they have the flexibility to change their implementation. There really ought to be some other way to get the information, though.

[2017-10-26 17:38] danmosemsft commented on #24848
@Foda yes, unfortunately they don't do "brokering" which is what is required in order to access arbitrary locations. To do that, it's necessary to either show the user a picker, use the WinRT API, or get a raw handle and use File functions on that:
https://source.dot.net/#System.Runtime.WindowsRuntime/System/IO/WindowsRuntimeStorageExtensions.cs,9dfff5540cb50d08

@JeremyKuhne anything to add?

Thi

[2017-10-26 17:38] danmosemsft commented on #24848
Oops, my comment crossed (hadn't refreshed my page...)

[2017-10-26 17:40] WinCPP commented on #23141
Hi @stephentoub , I think I have some solution. The method `GetAsync_ResponseContentRead_CancelUsingTimeoutOrToken_TaskCanceledQuickly` ([link](https://github.com/dotnet/corefx/blob/1adc5b27283de6e9627e183ef24e0631ee7bab9a/src/System.Net.Http/tests/FunctionalTests/CancellationTest.cs#L33)) annotated with attribute `ActiveIssue` #19038 no more fails. However I noticed that the test case 'ReadAsStre

[2017-10-26 17:47] ahsonkhan opened #24897 "Port System.Memory performance improvements to Convert.TryFromBase64Chars"
From https://github.com/dotnet/corefx/pull/24888#issuecomment-339646430

cc @jkotas, @stephentoub, @KrzysztofCwalina

[2017-10-26 17:53] VSadov opened #24900 "Nullable<T> must be a readonly struct"
`Nullable<T>` is known to be an immutable struct with sideeffect-free methods.
C# compiler certainly relies on the implied purity for the soundness of null-propagating math as well as in various optimizations.

Basically - while for other structs `readonly` is a good thing to have, if possible. I think the spec for `Nullable<T>` should _demand_  that `Nullable<T>` is formally `readonly`.

In parti

[2017-10-26 17:54] shmao commented on #24748
See the discussion in #24851. We decided to keep S.SM.Syndication as a NetStandard library. In case we need to add new APIs, we would add them in netcoreapp specific reference assembly.

[2017-10-26 17:57] VSadov commented on #24900
CC: @stephentoub @jkotas @jaredpar @marek-safar @kumpera

[2017-10-26 18:05] timg456 commented on #11224
@snboisen I tested your ConnectionLeaseTimeoutHandler and I find that it doesn't work with multiple connections. A "close" is issued to only one connection each time the lease timeout occurs, but there may be multiple connections open with a single HttpClient instance when sending requests in parallel. From what I see in fiddler (I use a bad IP address to generate errors to check the DNS switch) a

[2017-10-26 18:09] DemiMarie opened #24901 "Check that long relative paths work on Windows"
We should check that long relative paths work on Windows.  It appears (from looking at the source) that they do not.

Problem is in [PathInternal.Windows.cs][1]: `EnsureExtendedPrefixOverMaxPath` simply returns if the path is relative, rather than calling `GetFullPathNameW` and then adding the extended prefix.  As a result, the underlying Windows API function will fail.

This is a rather simple fi

[2017-10-26 18:12] #24748 closed

[2017-10-26 18:16] #24572 closed

[2017-10-26 18:22] #24308 closed

[2017-10-26 18:23] #19726 closed

[2017-10-26 18:24] #23353 closed

[2017-10-26 18:26] #23857 closed

[2017-10-26 18:30] danmosemsft commented on #24901
@JeremyKuhne can you answer this long paths question.

[2017-10-26 18:38] vancem commented on #24807
I will have  fix for the failure of the portable->windows conversion mentioned above (it should not be run at all on non-windows platforms).  However I would be surprised my fix will change the outcome of the test (it will simply clean up the log).

[2017-10-26 18:46] weshaggard commented on #11857
I don't know of any good documentation for MEF2. You can look under https://github.com/dotnet/corefx/tree/master/src/System.Composition/ at some samples/tests in there as I suspect that might be the best we have.

[2017-10-26 18:49] wfurt commented on #1626
I have not tried for a while @krytarowski There was push to update tooling to 2.0 release and I was waiting for that effort to stabilize. I'll give it another try and I'll post update.

[2017-10-26 18:58] Alois-xx opened #24902 "Remove Artificial Object Graph Limit in BinaryFormatter"
Since issue #16991 is solved we now can deserialize bigger object graphs with up to 12 million objects.
As I have found since a long time ago: https://aloiskraus.wordpress.com/2017/04/23/the-definitive-serialization-performance-guide/  there are issues with the max object count BinaryFormatter can cope with because it contains a hard coded prime number table which ends at 6584983 objects.

Please

[2017-10-26 19:12] danmosemsft commented on #24892
Win32Exception does'nt know the error code you give it is an HRESULT which is presumably the reason it stores it as NativeErrorCode and passes E_FAIL to its base class.

I agree it certainly should include the supplied error code especially since it is showing the message it generated from NativeErrorCode. I see the same in desktop.

The only question in my mind is whether it should still include

[2017-10-26 19:15] danmosemsft commented on #24892
Also should we display the supplied code as hex or decimal? Some heuristic, eg., if it's greater than some value it's hex?

[2017-10-26 19:23] weshaggard opened #24903 "Need a way to ignore build configurations when library is inbox"
For libraries like DirectoryServices which are inbox on a framework (https://github.com/dotnet/corefx/blob/master/src/System.DirectoryServices/pkg/System.DirectoryServices.pkgproj#L10) and only have a netstandard configuration without a netfx configuration because it shares the same identity as desktop, we need a way to tell our build system to ignore the netstandard configuration when building th

[2017-10-26 19:30] jkotas commented on #24897
This should be a copy&paste port with a few small adjustments.

[2017-10-26 19:57] fredericDelaporte commented on #13035
May it be on scope to address on .Net Core side some current shortcomings of .Net Odbc with SQL Server? Or will it have the exact same features (and limitations)? I am thinking of the troubles about support of some SQL Server 2008 types and even `datetime` as illustrated [here](https://stackoverflow.com/q/46755759/1178314).

[2017-10-26 19:58] mikedn commented on #24835
It depends on what scenarios you have in mind. For those scenarios that `ArrayPool` was originally
designed for, returning anything other than an array doesn't help at all, quite the contrary.

That starts to look more like a generic object pool.

The reasons why Span doesn't implement `IList` (or any other interface are somewhat complicated) and have been discussed in the past. Let's just say tha

[2017-10-26 20:14] danmosemsft commented on #24744
@joshfree you're the owner. Can you link issues encompassing the major work items /investigations (as far as we know them)?

[2017-10-26 20:18] danmosemsft commented on #24761
@eerhardt do you have enough to break out some work items here into issues I can link to this (your) epic? Minor things can alternatively be noted in here. The idea is we we can look at this page periodically to get an idea of status/progress.

[2017-10-26 20:19] danmosemsft commented on #24747
Ownership to discuss with @valenis ..

[2017-10-26 20:20] danmosemsft commented on #24750
If this is primarily going to be perf work this cycle we may just roll that into the Performance Epic and treat the rest as stocking stuffers.

[2017-10-26 20:21] danmosemsft commented on #24742
@karelz can you please now identify likely issues/workitems for 2.1 and use Zenhub to associate them with this Epic? Or if you supply the list, I can do it.

[2017-10-26 20:29] danmosemsft commented on #24745
@joshfree you're the owner with @GrabYourPitchforks ... can one of you please help break out likely work and link to this ?

[2017-10-26 20:30] danmosemsft commented on #24745
@GrabYourPitchforks if you do this note you have to have Zenhub installed and logged in then click Modify This Epic to choose from issues (or create them)

[2017-10-26 20:36] JeremyKuhne commented on #24901
@DemiMarie All code paths that hit that method should have already been normalized. If you find a case where that isn't happening we should, of course, fix it. I'm open to adding a debug assertion here if we aren't fully qualified.

If we _did_ call normalize here it would be expensive (1) and potentially breaking (2), as normalization eats characters that we may want to keep.  If we're iterating

[2017-10-26 20:41] joshfree commented on #24891
@bartonjs

[2017-10-26 20:49] bartonjs commented on #24891
Same problem being discussed in https://github.com/dotnet/corefx/issues/24552.  Has to do with Debian8 to Debian9 upgrades, and Debian broke the assumptions that the portable shim makes.

FYI: @janvorli

[2017-10-26 21:09] msedi commented on #24835
@mikedn:

Well, in the end you are right. Maybe I need to explain some things about my needs. I'm currently having something like an ArrayPool which I call MemoryManager (MM). This MemoryManager returns memory that are supervised by the MM since the amount of memory I need exceeds the available amount of memory (RAM). The returned memory is wrapped into a MappableObject that is able to dump the me

[2017-10-26 21:22] jkotas commented on #24835
This is the new `System.Memory<T>` type. It abstraction for an arbitrary block of memory.
Spec: https://github.com/dotnet/corefxlab/blob/master/docs/specs/memory.md
Implementation: https://github.com/dotnet/corefx/tree/master/src/System.Memory

You should be able to implement System.Memory specialization that uses your MappableObject as the underlying storage.

[2017-10-26 21:47] msedi commented on #24835
@jkotas: Thanks for pointing this out. I already had a look at `System.Memory<T>` it looks quite what I need the only problem is that it lack a `this[]`.

Maybe you have a suggestion for the following question. How would I achieve a vectorized add, let's say

`public static T[] Add<T>(T[] a, T[] b)`

I currently have to do this via IL since C# does not support math on generics neither pointers. Th

[2017-10-26 21:48] marek-safar commented on #24900
Why only `Nullable<T>` ? Why not also other C# core types like `System.Decimal`.

Or perhaps someone could review all types including `DateTime`, `DateTimeOffset`, etc.

[2017-10-26 21:48] terrajobst commented on #6204
Updated title and tag so we can track this for the compat pack.

[2017-10-26 21:51] jaredpar commented on #24900
I think we should start by taking a look at every struct where all the fields are `readonly`. Such a struct should be incredibly likely to benefit from becoming a readonly struct.

[2017-10-26 22:12] danmosemsft commented on #24755
Assuming the above fixes this, this may be a servicing candidate.

[2017-10-26 22:18] kumpera commented on #24900
Are you guys planning or researching on using any future CoreCLR optimization around this feature?

[2017-10-26 22:30] danmosemsft opened #24907 "Path.GetFullPath difference between Windows and Linux"
@YvonneArnoldus commented on [Thu Oct 26 2017](https://github.com/dotnet/coreclr/issues/14707)

I have written some code that uses Path.GetFullPath().  I have found some different results for the same paths between Windows and Linux in my Docker image.

Windows:
input:  a\b\\..\\..\c.\ -> output: C:\code\fontoxml-sdk-schemacompiler\test\FontoXml.Server.Utils.XmlCatalog.Tests\bin\Debug\netcoreapp2.

[2017-10-26 22:53] danmosemsft opened #24909 "Ship .NET Framework compatibility pack"
A meta package to include all the libraries released from CoreFX in 2.0 that aren't already included in the [Microsoft.NETCore.App package](https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.App) (aka the shared framework) plus a series of new ports and necessary facades. Some are Windows only currently. Aim to release at least a complete preview in November.

## Spec

https

[2017-10-26 23:05] danmosemsft commented on #24776
@safern assigned to you as this seems like a natural part of what you're doing.

[2017-10-26 23:16] safern commented on #24903
I definitely think we should get this fixed as part of the Compat pack effort to be able to have the tests running against the inbox netfx assemblies and catch differences in behavior. I've started running them locally by manually removing the netstandard assemblies from the runtime and testhost netfx folder so that it is linked to the GAC assembly.

[2017-10-26 23:21] linusaurus commented on #24175
MySql work fine, but for me the Sqlserver provide refuse to return any error of Data

NOthing--
 protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
        {
              optionsBuilder.UseSqlServer(@"Server=192.168.XX.XX;DataBase=Badger;user id=sa; password=XXXXXXx");
        }
Works great!
protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)

[2017-10-26 23:21] danmosemsft commented on #18580
@weshaggard still an issue?

[2017-10-26 23:24] weshaggard commented on #18580
I suspect it is still an issue, I've just not had any cycles to dive in.

[2017-10-26 23:33] ahsonkhan opened #24910 "Using latest System.Memory with old S.N.V causes NU1605 package downgrade error"
Since @weshaggard fixed https://github.com/dotnet/corefx/issues/24606 with https://github.com/dotnet/corefx/pull/24645, we have an issue where if we have an app targeting netcoreapp2.0 that references both System.Memory and an older version of System.Numerics.Vectors, we get a package downgrade error.
`D:\Debugger\Template.csproj : error NU1605: Detected package downgrade: System.Numerics.Vectors

[2017-10-26 23:37] geleems commented on #24480
@stephentoub

I ran the test code (selecting 8,000 rows) against local Linux SQL Server, and captured network packet with *WireShark*. I found network socket client is ***frozen frequently*** that led to ***TCP halt***. There is `[TCP Window Full]` notification followed by `[TCP ZeroWindow]`, and then `[TCP WindowUpdate]` captured by WireShark.

* `[TCP Window Full]`: Wireshark has calculated that

[2017-10-26 23:41] danmosemsft commented on #15408
I'm going to close at this point it's not actionable. Please reopen with updated info if neede.d

[2017-10-26 23:41] #15408 closed

[2017-10-26 23:42] danmosemsft commented on #13035
@fredericDelaporte this covers just porting as-is. If there are issues/limitations with the code please do open a new issue.

[2017-10-26 23:44] geleems commented on #24480
@wfurt Sure! I checked out CoreFx, built it, and ran my test code that selects 8000 rows from local Linux SQL Server. Please let me know how I can help you.

[2017-10-26 23:45] weshaggard commented on #24910
Because the System.Memory package doesn't have a package dependency to System.Numeric.Vectors when targeting netcoreapp2.1 so there is no conflict.

How would we be able to do this? Any ideas how to resolve this issue?

System.Memory doesn't have a netcoreapp2.0 build it only has a netstandard2.0 build configuration which is what gets selected. In that configuration it cannot make any assumptions

[2017-10-26 23:48] danmosemsft commented on #24874
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b9542d9623434115786bd83d607168072830bf19/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogEntryCollectionTests~2FCheckingEntryInEquality

again
[code]

[2017-10-26 23:54] danmosemsft commented on #24874
Assuming it's some kind of latency issue the best I can think of is to have some wrapper like
[code]
then put this between WriteEntry and reading the entries?

[2017-10-26 23:57] danmosemsft commented on #2089
Given @karelz broke out an issue for Unix, I retitled this one for clarity.

[2017-10-26 23:58] danmosemsft commented on #6913
completed - available in myget, expect on nuget in mid November.

[2017-10-26 23:58] #6913 closed

[2017-10-26 23:59] danmosemsft commented on #13035
Closing as completed - available in myget, expect on nuget in mid November.

[2017-10-26 23:59] #13035 closed

[2017-10-27 00:03] danmosemsft commented on #24743
@joshfree please link issues representing the likely work for 2.1.

[2017-10-27 00:06] danmosemsft commented on #23292
SqlContext port is in https://github.com/dotnet/corefx/issues/17126
After that is done we can see whether tha'ts enough for Microsoft.SqlServer.Management.

[2017-10-27 00:07] danmosemsft commented on #17126
@saurabh500 @corivera @divega I'd love to see us finish off this surface area in 2.1. It keeps coming up and it's not a good story to have an incomplete library.

Do you know of any technical reasons making this difficult - is it just resourcing? Do you need help? Do you already have plans for any of these types?

[2017-10-27 04:42] jkotas commented on #24835
Memory<T> has Span property. Span has indexer. The reason for this is that getting the Span out of Memory is relatively slow, and indexing into Span is fast (about as fast as indexing into array). The idea is that you get a local Span out of Memory<T> and then do multiple operations on it to amortize the cost.

I am not sure how you are doing this with IL. The current best way to do this is to aut

[2017-10-27 04:43] jkotas commented on #24835
The math on generics is discussed in https://github.com/dotnet/corefx/issues/11030 and related issues.

[2017-10-27 04:45] CarlosOnline commented on #24488
Thanks that worked.
`Install-Package System.DirectoryServices` in the dotnet core 2.0 project worked.

This is not intuitive, since the net451 is already referencing the dll.

[2017-10-27 04:56] #24568 closed

[2017-10-27 05:13] balkarov commented on #2089
@danmosemsft but issue has plan
Linux/Mac ports.

[2017-10-27 05:34] danmosemsft commented on #24860
@unicomp21 yes it will go up on nuget next month: https://github.com/dotnet/corefx/issues/24909

If there's an issue in the code, we'd welcome PR.

[2017-10-27 05:39] danmosemsft commented on #24860
Could you clarify the issue? I see that if ServiceMainCallback is entered on two threads, the event will get reinitilalized and not work as intended, but I'm not sure whether it's spuposed to be thread safe.

[2017-10-27 05:47] janvorli commented on #24907
I think there is no issue here. The `.` in your path doesn't represent current directory. You would have to separate it by `/` to represent it. The way you have it means that the `.` is part of the directory name. On Unix, the directory (or file) name can end with `.`. But on Windows, the name with `\` at the end is considered equivalent to the name without the `.`. Try to create a file or directo

[2017-10-27 06:02] stukselbax commented on #24892
I think that we don't need HResult. We need to see the error we passed. It can be either HResult or other error we get. But due to the fact that base class uses property for storing error code is named **HResult**, I think it will be more accurate to pass HResult to the base class. If it is applicable, we can modify the Win32Exception as follow:

[code]

Let the base class to take care of [ToStrin

[2017-10-27 06:08] dotnet-mc-bot opened #24912 "Test: System.Management.Tests.ManagementObjectTests/Invoke_Instance_And_Static_Method_Win32_Process failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Management.Tests.ManagementObjectTests/Invoke_Instance_And_Static_Method_Win32_Process` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Management.ManagementException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Management.Tests.ManagementObjectTests.Invoke_Instance_And_Static_Method_Win32_

[2017-10-27 06:30] Jiayili1 commented on #24678
Following tests failed with same issue, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/3449/testReport/

[2017-10-27 07:06] YvonneArnoldus commented on #24907
You are right. The test I wrote was not correct, on Windows it looked correct because the invalid character is striped from the full path.

[2017-10-27 07:26] VSadov commented on #24900
I did not mean that only Nullable must be readonly. It would be helpful for other structs too - `DateTime` and the like.

Nullable is special because it is, well, very special. We already imply that it is immutable in so many scenarios - we should really make its readonliness a formally required trait since it is possible now.

[2017-10-27 07:30] #24907 closed

[2017-10-27 08:21] harshjain2 opened #24913 "XPathNavigable.PrependChild/AppendChild not working for netcoreapp2.0"
## Description
XPathNavigable.AppendChild and XPathNavigable.PrependChild are not behaving as expected for netcoreapp2.0 when the logic is present in ClassLibrary targetting netstandard1.4
[ConsoleApp7.zip](https://github.com/dotnet/corefx/files/1421267/ConsoleApp7.zip)

## Repro Steps
1. Unzip the attached project and open ConsoleApp7.sln
2. Run ConsoleApp7 project. ConsoleApp7 project refers Cla

[2017-10-27 09:01] safakgur commented on #21395
Some of these extensions may also be useful for types other than char:
[code]

[2017-10-27 09:05] asfaya commented on #24175
Is it a named instance?

[2017-10-27 09:39] unicomp21 commented on #24860
Yep, that's the part I was talking about.  Didn't realize it was
intentional.

On Fri, Oct 27, 2017 at 1:40 AM, Dan Moseley <notifications@github.com>
wrote:

[2017-10-27 09:43] unicomp21 commented on #24860
Could we get a full NT service example around the ServiceBase class?

On Fri, Oct 27, 2017 at 5:39 AM, John Davis <jdavis@pcprogramming.com>
wrote:

[2017-10-27 09:52] Sojaner opened #24914 "XmlSerializer generates list of empty values for attribute including whitespace character."
## Description
While using `System.Xml.Serialization.XmlSerializer` with `XmlSerializer.Deserialize()` method, the output for an attribute which is supposed to be mapped to a List<string> outputs empty values if there is only a whitespace character in the attribute,

Is this the intended behaviour?

## Reproduction Steps
1) Create a .NET Core 2.0.2 console application.
2) Copy the following code t

[2017-10-27 12:07] marek-safar opened #24915 "Update System.ObsoleteAttribute targets to include assembly"
Currently, ObsoleteAttribute can be placed on types and members only which is very inconvenient when you need to obsolete the whole assembly. We already have quite a few cases in Xamarin but .NET is having the same problem with for example System.Data.OracleClient assembly which has been deprecated.

This change will also require C# compiler update.

[2017-10-27 13:57] ViktorHofer opened #24916 "Investigate shim assembly load errors for exception serialization support in uap/uapaot configuration"
Related: https://github.com/dotnet/corefx/issues/24424

[code]

[2017-10-27 15:08] ngbrown commented on #21188
@Vertygo still working on this?  Do you have a preview version that can be tested?

[2017-10-27 15:28] tarekgh commented on #24488
@CarlosOnline your app is netcore app and not full framework app, so it makes sense to load the net core bits and not the full framework bits. This is similar to any other core types (e.g. String for instance) which expected to load the net core type and not the full framework.

CC @safern

[2017-10-27 16:10] benaadams commented on #24835
You should use the `.Span` property on Memory as @jkotas points out
[code]

[2017-10-27 16:17] joperezr commented on #22979
Fix has been merged into coreclr directly so closing this one. Please do feel free to reopen in case the issue still remains.

[2017-10-27 16:17] #22979 closed

[2017-10-27 16:24] Petermarcu opened #24918 "How to debug the source code of ServiceModel.Http (4.4.0) using Visual Studio 2017"
@SCKlausZ commented on [Thu Oct 26 2017](https://github.com/dotnet/core/issues/1048)

Visual Studio 15.3.4
.net core 2.0.0
System.ServiceModel.Http NuGet package 4.4.0

I'm having a strange transient error when calling a web service and I would like to step into WinHttpHandler (and WinHttpRequestCallback) to get more information, but I just get an "Source Not Available".

I have cloned both the co

[2017-10-27 16:31] CarlosOnline commented on #24488
Sorry it fixed one issue but not the original issue.  Still getting the
missing dll.  I'll update the solution with the Install-Package.
https://github.com/CarlosOnline/DotNetCore2DirectoryServicesBug
Should I open a new bug?

~Carlos~

On Fri, Oct 27, 2017 at 8:29 AM, Tarek Mahmoud Sayed <
notifications@github.com> wrote:

[2017-10-27 16:34] Petermarcu opened #24919 "System.Data.SQLClient throws an Exceoption by calling open Method"
@Martin-Stein commented on [Wed Oct 25 2017](https://github.com/dotnet/core/issues/1045)

Hi folks,

Its great to have direct SQL access, but my UWP Application, with target Fall Creators Update, runs into an IO Exception when I call open-Method on my SQLConnection object:

System.IO.FileNotFoundException  occurred.
  HResult=0x80070002
  Message= Could not load file or assembly 'System.Threading.

[2017-10-27 16:35] tarekgh commented on #24488
I reopened the issue. please update the project and we'll take a look. thanks for your help

[2017-10-27 16:39] CarlosOnline commented on #24488
I updated the solution. https://github.com/CarlosOnline/DotNetCore2DirectoryServicesBug

Install-Package System.DirectoryServices

Would it be simpler if I upgraded from net451 to net46 or net47?  My only concern over upgrading is making sure everything still works afterwards.

[2017-10-27 16:40] Petermarcu opened #24920 "GZipStream not working as expected on compress."
@jgauffin commented on [Thu Oct 26 2017](https://github.com/dotnet/standard/issues/556)

I'm using .NET standard and had ported some code from .NET 4.5.2.

## Expected outcome:

`Dispose()` **_or_** `Flush()` should be enough for the compressed contents to get copied to the inner stream.

## Actual outcome

***Both*** Flush and Dispose are required to get the correct amount of bytes back from the

[2017-10-27 16:49] linusaurus commented on #24175
I t is a named instance. This is the same con string I always use with most connection on other applications. The pomelo MySQL provider work flawlessly, but sqlserver can not connect, not error, just no date returns

[2017-10-27 16:53] jakesays commented on #24093
I suggest `unichar` or `uchar` although `uchar` would look like its a unsigned char. Whichever is chosen, though, I do hope we get a language specific alias for it. I personally am a big fan of using the language aliases for primitive types.

Also I agree with @whoisj - Would definitely prefer full method names over short/abbreviations.

[2017-10-27 16:53] karelz commented on #2089
@balkarov I have updated the plan to link to other tracking issues and removed check boxes for items which are tracked separately (broken out work) or do not block Windows work.

[2017-10-27 16:56] #24875 closed

[2017-10-27 16:57] tarekgh commented on #24488
I have looked quickly at your solution and it looks there were some confusions. It looks your net451 library project is referencing the net core System.DirectoryServices package. This is wrong, what @weshaggard suggesting is to have the net core app (spa in your case) is the one referencing the net core package. your net net451 library should just build as any other bits and should reference the f

[2017-10-27 17:00] joshfree commented on #24919
@saurabh500 @corivera

[2017-10-27 17:01] joshfree commented on #24918
@zhenlan @mconnew

[2017-10-27 17:07] WinCPP commented on #20669
Relocating my query from the merged PR #24533 to this thread...
___

Hi @tarekgh,

I have got ADLDS instance installed on my Windows 10 desktop. I am trying to get correct configuration of the same. I have edited the configuration.xml. But with this the tests are failing. Is this correct config? Please note that my home PC is a Windows 10 machine in work group; essentially no domain. Appreciate yo

[2017-10-27 17:18] weshaggard commented on #24320
@dotnet/dnceng we are still finding some machines without VS2017. Are we ready to pull the trigger and move forward and make our scripts fail on any machines without VS2017? If we do that I expect there might be an influx of first responder issues coming in so I want to coordinate that effort.

[2017-10-27 17:21] joshfree commented on #24802
@zamont

[2017-10-27 17:21] brunolins16 commented on #8123
@divega, I'm interested in working on it. Can I PR the DisplayAttribute class changes and if accepted submit a issue on ASP.NET Core MVC repo?

[2017-10-27 17:25] mmitche commented on #24320
@weshaggard Not yet.  There are still some that need cleanup, and official build machines have 2017, but there aren't enough of them yet to satisfy load.  @ilyas is working on this.

[2017-10-27 17:27] zhenlan commented on #24918
@SCKlausZ, the source code of System.ServiceModel.* packages are at https://github.com/dotnet/wcf repo.

[2017-10-27 17:32] bartonjs commented on #24142
This is already fixed in master (https://github.com/dotnet/corefx/pull/24833)

[2017-10-27 17:37] danmosemsft commented on #24919
Hello @martin-stein
I just tried this: created a new UWP application, target Fall Creators Update, added a reference to System.Data.SqlClient 4.4.0, pasted in this code into InitializeComponent:
[code]
Then I hit F5 ( in debug configuration ) and it throws because it can't find "foo" but I see System.Threading.Thread, Version=4.1.1.0 was loaded successfully.

Can you help me find repro steps? Perh

[2017-10-27 17:39] chuckb commented on #24142
Excellent.  I will pull this down and run some tests with my application to see if issue resolves.  I will post back results here.  Thanks!

[2017-10-27 17:47] mconnew commented on #24670
Fixed in #24906

[2017-10-27 17:53] tarekgh commented on #20669
@WinCPP I I believe you have to have a Windows Server installed with Active Directory. ADLDS you have installed on the client is just to manage the AD on the server.
If you cannot install a Windows Server with Active Directory, then OpenDJ would be the other way to install it on the Windows client.

CC @tquerec who is the expert here and can advise better regarding the needed configuration.

[2017-10-27 18:01] WinCPP commented on #20669
Just to give background about what I have done... I installed ADLDS on Windows 10 as per discussion in this thread (ref. [this comment](https://github.com/dotnet/corefx/issues/20669#issuecomment-306878857)). I think that has resulted into installation of active directory (lightweight) on my windows 10 machine; please refer to the image towards end of this comment.

Between OpenDJ is proving to be

[2017-10-27 18:06] asfaya commented on #24175
It's the same issue I was having. You have to change the:
Server=192.168.XX.XX

with

Server=192.168.XX.XX,<port>

You can check for the instance port name at the SQL Server Configuration manager --> Protocols --> TCP/IP  --> IP Address tab --> IPAll (by default, if it was not changed)

Hope it helps.
Regards

[2017-10-27 18:14] CarlosOnline commented on #24488
The spa - net core project is using PackageReference to System.DirectoryServices.  There was no need to modify the net451 project since it has a traditional reference to the System.DirectoryServices

**spa.csproj** _net core 2.0 project_
`
    <PackageReference Include="System.DirectoryServices" Version="4.0.0" />
`

**Util.csproj** _net451 project_
`
    <Reference Include="System.DirectoryServic

[2017-10-27 18:20] sidshetye commented on #23629
Hi folks,

Any updates on this? Haven't seen any updates at @karelz 's [crypto roadmap thread](https://github.com/dotnet/designs/issues/11) or on the [AES GCM thread](https://github.com/dotnet/corefx/issues/7023).

Thanks
Sid

[2017-10-27 18:21] danmosemsft commented on #24912
@pjanotti is WMI not supported on Server Core? If so you will need to exclude PlatformDetection.IsWindowsServerCore.

[2017-10-27 18:30] tarekgh commented on #20669
I didn't try this scenario but you may try the following configuration and let me know what you'll get:

[code]

does "Directory Manager" is your admin user account on your machine? if it is not, please try to use your admin user-name and password.
Also, note that I didn't use cn= part in the user's name as this was required for OpenDJ but not for Windows connection

[2017-10-27 18:31] tarekgh commented on #20669
forgot to mention, I'll try your scenario too early next week too to ensure this work.

[2017-10-27 19:02] danmosemsft commented on #24918
@SCKlausZ if you need symbols and don't want to build yourself you can get them manually from https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.ServiceModel.Http. They may be on the symbol server https://msdl.microsoft.com/download/symbols also.

[2017-10-27 19:03] danmosemsft commented on #24913
@krwq may have an idea why this is.

[2017-10-27 19:10] pjanotti commented on #24912
It is but there is no notepad.exe as used by this test. I will skip this test on Server Core.

[2017-10-27 19:19] ianhays commented on #24920
Since 4.6.2 we've used zlib for Deflate which has two different versions of flush: Flush and Finish. Finish is used at the end of compression to close out the zlib internal buffers and flush **all** data, finishing the current block regardless of how much data there is to go into that block. This is the mode we call on disposal.

The non-disposal flush has some different requirements because it ca

[2017-10-27 19:44] jgauffin commented on #24920
Now that I try, I cannot reproduce it.

I think that I did a mistake and allocated a too small destination buffer (same size as the compressed content) and that's why I got a partial decompressed message.

Sorry for that.

[2017-10-27 20:09] safern opened #24928 "System.Runtime.Serialization.Formatters.Tests failing on CI for Netfx"
I've seen them today in two PRs failing in CI.

[code]

cc:@danmosemsft

[2017-10-27 20:13] ahsonkhan commented on #23974
Fixed by https://github.com/dotnet/corefx/pull/24764#issuecomment-339029101

[2017-10-27 20:13] #23974 closed

[2017-10-27 20:18] ianhays commented on #24920
No worries @jgauffin :) Let me know if there's anything else and I'll go ahead and close out this issue.

[2017-10-27 20:18] #24920 closed

[2017-10-27 20:25] chuckb commented on #24142
I have read the dogfooding document and cannot figure out how to point my project to the master build.

I installed the dotnet runtime from here https://github.com/dotnet/core-setup#daily-builds.

Iput this into my project csproj:
RuntimeFrameworkVersion>2.1.0-preview1-25825-07</RuntimeFrameworkVersion>

I added a local NuGet.config file to get packages from dotnet.core:
<?xml version="1.0" encodi

[2017-10-27 20:26] ahsonkhan commented on #24105
Can someone please explain the distinction between `ref readonly` and `readonly ref`?

There is inconsistency in this particular issue, the title says:

The API change proposed (which is probably correct) says:
`public ref readonly T this[int index] { get; }`

@ektrah, can you please update the title?

Returning `readonly ref` throws compiler error:

The indexer should return `ref readonly T` whil

[2017-10-27 20:27] #24675 closed

[2017-10-27 20:58] ektrah commented on #24105
Oops, sorry for the confusion. I've updated the title.

(It's really confusing that *read-only references* are denoted by `ref readonly`.)

[2017-10-27 21:08] danmosemsft commented on #24928
@safern the tests are expecting to get the NETFX implementation, and with your fixes, are getting our netstandard facade because of the known issue with actually testing NETFX for these. I guess we have to disable these tests for NETFX meantime.

[2017-10-27 21:10] safern commented on #24928
That makes sense. I'll disable this tests for now, later today.

[2017-10-27 21:26] weshaggard commented on #24488
You should remove that hint path in your net451 project as it should be in the framework and doesn't need to point into the package.

[2017-10-27 21:30] danmosemsft commented on #24928
Cool, it needs some temporary !PlatformDetection.IsFullFramework around a few of the exceptions in Binary7FormatterTestData. They are grouped together.

[2017-10-27 21:37] danmosemsft opened #24931 "Performance improvements (CoreFX) Epic"
This sub epic is to track specific investments to improve performance in CoreFX functionality - other than networking performance which is tracked [elsewhere](https://github.com/dotnet/corefx/issues/24742).

We plan to use data - such as Azure profiler; customer traces; CLBG, TechEmpower - to target performance improvements where they matter most, generally in widely-used existing API. Candidate a

[2017-10-27 23:11] bartonjs commented on #24142
@weshaggard Does the dogfooding problem that @chuckb is having (https://github.com/dotnet/corefx/issues/24142#issuecomment-340076672) sound like anything you know how to fix?

[2017-10-27 23:14] chuckb commented on #24142
Ok, I just realized that I forgot to update the TargetFramework to 2.1.  Once I did that, then I get the build to work.

[2017-10-27 23:18] chuckb commented on #24142
But, now when I run my app, I get this crash:

[code]
So it looks like there is going to be some incompatibility between 2.1 and the service bus API.  I have not dug into this yet...perhaps there is a version of the API that already addresses this problem.  Will continue to update.

[2017-10-27 23:25] bartonjs commented on #24648
@danielamkaer I don't think there's anything external to the process you can do to fix it.

The problem is that after creating the SSL_CTX `SSL_CTX_set_ecdh_auto(ctx, 1)` needs to be called (because it's, apparently, not the default).  Or (for OpenSSL 1.0.1) `SSL_CTX_set_tmp_ecdh` to a secp256r1 key (since everyone who supports ECDH supports that one it's a good "well, if we can't negotiate for it

[2017-10-27 23:52] geleems commented on #24480
@stephentoub
I worked with @wfurt for this issue, and he found the hanging of `SocketAsyncEngine` I mentioned above ***disappears*** when he changes his MTU for *lo* (localhost) to 1500 by this command:
[code]
I confirmed that the hang disappears in my local test as well as soon as I changed it to 1500. I do not have logical explanation for that, but @wfurt is running lots of tests to find the rel