[2018-04-11 07:48] dotnet-mc-bot opened #29018 "Test failure: System.Threading.Tasks.Tests.ExecutionContextFlowTest/SuppressFlow_TaskCapturesContextAccordingly(suppressFlow: True)"
Opened on behalf of @Sunny-pu

The test `System.Threading.Tasks.Tests.ExecutionContextFlowTest/SuppressFlow_TaskCapturesContextAccordingly(suppressFlow: True)` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   0

        Stack Trace:

           at System.Threading.Tasks.Tests.ExecutionContextFlowTest.SuppressFlow_TaskCapturesContextAccordingly(Boolean suppressFlow) in E:\A\_w

[2018-04-11 07:57] dotnet-mc-bot opened #29019 "Test failure: System.Text.RegularExpressions.Tests.RegexCacheTests/Ctor_Cache_Promote_entries"
Opened on behalf of @Sunny-pu

The test `System.Text.RegularExpressions.Tests.RegexCacheTests/Ctor_Cache_Promote_entries` has failed.

$BlockedFromReflection_0_225208da : Remote process failed with an unhandled exception.

        Stack Trace:

    Child exception:
      System.NullReferenceException: Object reference not set to an instance of an object.
       at System.Text.RegularExpressions.Te

[2018-04-11 08:37] #28951 closed

[2018-04-11 08:38] #28941 closed

[2018-04-11 10:03] benaadams opened #29021 "ValueTask`1.AsTask Assert Fail: FlushAsyncThrowsIfPassedCanceledCancellationTokenAndPipeIsAbleToComplete"
When corefx is run with coreclr in checked or debug https://github.com/dotnet/coreclr/pull/15743#issuecomment-380398466
[code]

/cc @pakrym @stephentoub @davidfowl

[2018-04-11 10:05] benaadams commented on #29021
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_baseline_prtest/340/

and

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_corefx_baseline_prtest/289/

[2018-04-11 10:50] benaadams commented on #29021
Assert that looks like its failing is
[code]
So I guess its Pipelines?

[2018-04-11 10:53] davidfowl commented on #29021
Woah, is this a unit test that's failing?

[2018-04-11 10:58] benaadams commented on #29021
Yeah, can't entirely see why doesn't look like it creates the `ValueTask` with the wrong thing
https://github.com/dotnet/corefx/blob/5bcedeee8f3cd7a576978f804d8262d7bf63805a/src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs#L581-L591

[2018-04-11 11:00] MichalStrehovsky commented on #15960
I would prefer that option too. Letting it do the boxing and failing with a `NullReferenceException` as a result sounds more like a bug than a design choice (someone will hit it and file it).

We'll need to also define a behavior for:
* Ref-returning byref-like types (probably no choice but to throw - same as we would if the byref-like type was returned by value)
* Ref-returning pointer types (wra

[2018-04-11 11:01] benaadams commented on #29021
Aha, its the assert that's wrong.

It should be `obj is IValueTaskSource<TResult>` rather than `obj is IValueTaskSource`

[2018-04-11 11:07] benaadams commented on #29021
Fix https://github.com/dotnet/coreclr/pull/17511

[2018-04-11 11:14] stevozilik commented on #25773
Please fix, this is same problem for us.

Running Service Fabric with Asp Net Core, the System.Net.Http (from  C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\lib\System.Net.Http.dll) 4.2.0.0 overrides the latest 4.1.1.2 (from 4.3.3 System.Net.Http nuget package)

[2018-04-11 11:15] stevozilik commented on #28833
Please fix, this is same problem for us.

Running Service Fabric with Asp Net Core, the System.Net.Http (from C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\lib\System.Net.Http.dll) 4.2.0.0 overrides the latest 4.1.1.2 (from 4.3.3 System.Net.Http nuget package)

[2018-04-11 11:36] #29021 closed

[2018-04-11 11:41] konne commented on #28925
@karelz please think of to remove the nuget packages, because they can easily confuse

[2018-04-11 11:53] tmds opened #29022 "Support appending foreign buffers to pipe without copy"
Moved from https://github.com/dotnet/corefxlab/issues/2031

Foreign buffers are buffers not allocated with the Pipe MemoryPool.

Use-cases (by @Drawaes @mgravell @ReubenBond)
- Send the same data to multiple Pipes
- Pass/embed existing data that is not related to pipelines

With the current API, these buffers are copied into buffers owned by the Pipe MemoryPool:

Challenges:
- The buffer usage nee

[2018-04-11 12:03] #28668 closed

[2018-04-11 12:18] kasper3 commented on #28925
Why? Under Dependencies section on this page: https://www.nuget.org/packages/System.Net.WebSockets.Client/, it shows all the supported frameworks and thus should not be removed. Maybe just an additional note in description something like "Starting from .NET Core 2.x and .NET Framework X.Y, this package is part of shared framework".

Most package management systems do not allow "removing" a package

[2018-04-11 12:32] mscrivo commented on #28833
I posted this in another issue, but I'll put here now that it's being tracked and in case it's useful, a minimal repo solution: https://github.com/mscrivo/System.Net.Http.Crash

[2018-04-11 12:48] #28929 closed

[2018-04-11 12:53] tmds commented on #27249
@markmcdowell This is also in the just-released 2.1-preview2 (https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.0-preview2-download.md).

[2018-04-11 12:55] markmcdowell commented on #27249
Great thanks. I'll get it running today and let you know.

[2018-04-11 13:01] stephentoub commented on #29014
cc: @AtsushiKan

[2018-04-11 13:06] stephentoub commented on #28961
libcurl doesn't just depend on one of those packages as well?  When I do:
[code]
I see this:
[code]
which includes:
[code]

[2018-04-11 13:30] qmfrederik opened #29024 "SslStream.ShutdownAsync doesn't take a CancellationToken"
[`SslStream.ShutdownAsync`](https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/Security/SslStream.cs#L434) returns a `Task` but does not take a `CancellationToken`.

I found this to be odd as the other methods do take a `CancellationToken` and pass it to `Task.Factory.FromAsync`; I guess `ShutdownAsync` could behave the same way.

If this was not intentional (and `

[2018-04-11 13:30] qmfrederik commented on #29024
/cc @CIPop as you added that method.

[2018-04-11 13:49] AtsushiKan commented on #15960
If that's the main concern, we could certainly throw `NullReferenceException` with a specific error message. Or a different exception. The inband-nature of `Missing.Value` sounds like it could cause actual problems according to @VSadov.

I don't think they could usefully use the existing Reflection apis to invoke it anyway. The only ref you can pass as an argument is a temporary one that Reflectio

[2018-04-11 14:37] MichalStrehovsky commented on #15960
Throwing an exception in a non-exceptional case still doesn't seem like a good API design. Even if we were to invent a new sentinel value, it would suffer from the same problem (someone can misuse a sentinel that is for reflection's private purpose to mean a different thing and then complain they can't tell them apart). I think that's kind of a user's problem, not an API problem.

I think we pass

[2018-04-11 14:47] AtsushiKan commented on #15960
DLR and VB latebinders passing through `Missing.Value` to propagate the fact that user did not pass a particular argument to expected optional parameters isn't exactly making it "mean a different thing." The meaning is still "opted out of passing an optional."

If we had a properly named sentinel for this (`NullReference.Value`), the api would be both clearer in usage and if people did the same th

[2018-04-11 15:01] AtsushiKan commented on #29014
"Getting the exactly same input as typed on console" is something you can only do on Windows (on Unix, the "command line" is actually a string array) - given that .NETCore is cross-platform, `Environment.CommandLine` simply ensures a string that will roundtrip back to the output of `Environment.GetCommandLineArgs()`.

Since your application is specific to Windows, I would recommend P/Invoking to t

[2018-04-11 15:09] tannergooding opened #29026 "Expose `System.Runtime.CompilerServices.SkipLocalsInitAttribute`"
### Rationale
C# is exposing new functionality which allows you to drop the `init` flag from a method's `.local` directive (see https://github.com/dotnet/roslyn/issues/25780 for more details).

It would be beneficial if CoreFX/NetStandard exposed this standard type so that users are not required to always manually define this type themselves.

### Proposed API
[code]

[2018-04-11 15:09] tannergooding commented on #29026
FYI. @jcouv, @agocke, @t-camaia

[2018-04-11 15:15] AtsushiKan commented on #29014
Also, if your parser parsing command lines using the same rules that the C runtime does (http://www.windowsinspired.com/how-a-windows-programs-splits-its-command-line-into-individual-arguments/), it should be safe to pass the .NETCore output of `Environment.CommandLine` to it. It should parse to the same result.

[2018-04-11 15:31] rmkerr commented on #29011
Thanks for providing a repro! This looks like a really interesting issue.

I was able to reproduce the exception on .NET Core 2.0, and I expect we'll see it in the latest builds as well.

[2018-04-11 15:43] karelz commented on #29024
What are the scenarios when the cancellationToken is needed? How is it going to help?

[2018-04-11 16:23] JCBurnside opened #29027 "URI fails to find when # is present in local file path"
**Steps to Reproduce:**

1)Create a directory with # in it's name.
2)Try to access the directory via URI and FileInfo(Uri)

**Expected Behavior:**
Able to access resources contained within the directory.

**Actual Behavior:**
URI fails to locate any files contained within the directory.

[2018-04-11 16:25] Petermarcu opened #29028 "Default proxy issues"
@IeuanWalker commented on [Tue Apr 03 2018](https://github.com/dotnet/core/issues/1404)

# Default Proxy issues
Our organisation has a proxy and in previous versions on .NET (.net full framework), you can add the following to the web.config and the application will use your system's default proxy.

[code]
I have tried a lot of different options but just cant seem to get anything to work.

[code]

[2018-04-11 16:28] stephentoub opened #29029 "Synchronous socket methods on Unix requiring extra thread"
When just using synchronous methods on a Socket (e.g. Socket.Receive), the calls pass through to the corresponding synchronous methods in the OS (e.g. recvmsg)

However, when an asynchronous operation is issued on a Socket, it puts the underlying socket into non-blocking mode, and due to race conditions that would otherwise result, the socket is left in non-blocking mode for the remainder of its e

[2018-04-11 16:29] davidsh commented on #29028
Duplicate of #28780

[2018-04-11 16:29] #29028 closed

[2018-04-11 16:30] davidsh commented on #29027
cc: @rmkerr

[2018-04-11 16:31] stephentoub commented on #27605
It looks like there are two issues here:
1. https://github.com/dotnet/corefx/issues/29029
2. SqlClient is for some reason issuing synchronous calls on a Socket on which asynchronous calls were previously issued.  That combined with (1) is very bad, but even without (1), that still makes the synchronous operations much more expensive.  It should either use all sync operations or all async operation

[2018-04-11 16:34] rmkerr commented on #29027
Hey @JCBurnsidem, thanks for the report! What OS and what version of .NET Core are you using?

[2018-04-11 16:34] karelz commented on #26886
Can you post minimal repro we could run locally?

[2018-04-11 16:36] karelz commented on #25773
@joperezr is Service Fabric the same problem, or do you need a new issue filed with new repro for investigation?

[2018-04-11 16:40] davidfowl commented on #29001
Just FYI this is a pit of failure, we've had 2 separate developers use these comparison operations and write buggy code that "worked" by mistake.

[2018-04-11 16:41] pakrym commented on #29001
Can we mark them Obsolete?

[2018-04-11 16:43] joshfree commented on #28751
@davidfowl @pakrym what impact will this change have on asp.net repos?

[2018-04-11 16:55] brianrob commented on #29007
@adiaaida, PTAL.

[2018-04-11 17:08] ShalokShalom commented on #26966
One more case, where a global AppImage/Linuxbrew is the solution.

[2018-04-11 17:14] pakrym commented on #28751
@joshfree Small, as far as I know, it's one file in a single repo.

[2018-04-11 17:19] saurabh500 commented on #27605
Re

@stephentoub do you have the call stack showing this behavior? I can expect this to happen in a few cases because of lack of better APIs.

a. If a connection was opened and async operations are done on the connection, then the connection was Closed or Disposed. In Close() or Dispose() socket operations are sync where the client tries to see if there is any data on the network and tries to read

[2018-04-11 17:24] stephentoub commented on #27605
@wfurt can likely provide more detail, but here's a stack trace he shared with me:
[code]

[2018-04-11 17:25] VSadov commented on #15960
I thought about this a bit more and I firmly think that NRE is the right choice here.

1. If I do

[code]
and if the method returns `nullptr`, I do get NRE (in both C# and VB and I assume in any other language). Regardless of the actual type of the method. - `int`, `object` or `Missing`. -

I _am dereferencing_ when I demand a value form a ref returning method. And dereferencing `null` throws. I d

[2018-04-11 17:28] wfurt commented on #27605
I plan to track it @saurabh500 . It is possible that the happens somewhere during SSL handshake.
I still use VM you shared with me.

[2018-04-11 17:29] saurabh500 commented on #27605
If its the method name `ReadSyncOverAsync` then I can assure you that it always calls the sync read APIs of the NetworkStream.
I think I should simply change this method name. It's caused much confusion.

@wfurt, please let us know if you saw any switches from async to sync usage of Socket in SqlClient. We would like to tackle them for 2.1

[2018-04-11 17:30] saurabh500 commented on #27605
Thanks @wfurt

[2018-04-11 17:31] JustArchi opened #29032 "System.MissingMethodException when using 4.5.0-preview2-* (and newer) library with master SDK"
Valid repro: [DirectoryRepro.zip](https://github.com/dotnet/corefx/files/1899838/DirectoryRepro.zip)

Execute repro with `dotnet run -c Release`.

[code]

I reproduced it on Windows as well as Linux. This issue did not happen previously with using 4.5.0-preview1-* library also on latest master SDK. I suspect some API incompatibility (probably not in the library being pulled, but one of its depende

[2018-04-11 17:33] WinCPP commented on #25344
@jkotas Thanks for the inputs. Need some guidance around this line.

Do you mean performance data or you mean the generated IL code, etc.? I haven't done that earlier and hence some inputs around what I have to inspect (and perhaps the tools) will help me a lot and would give me an opportunity to learn something. Thanks!

[2018-04-11 17:34] stephentoub commented on #27605
No, although that's misleading and it'd be nice to change it :)

It's the fact that PerformSyncOperation is being called; that only happens if the socket is in non-blocking mode, which happens when an asynchronous operation is made on the socket.

[2018-04-11 17:36] saurabh500 commented on #27605
Hmm Interesting. Thanks for pointing this out. Chatting with @wfurt to figure this out.

[2018-04-11 17:48] tmds commented on #29029
@stephentoub perhaps we can do the sendmsg/recvmsg calls with `MSG_DONTWAIT` instead of making the socket non-blocking. Not sure if all platforms support it.

fyi, I have an open issue for benchmarking this dispatch to the ThreadPool vs handling it directly on the epoll thread: https://github.com/aspnet/KestrelHttpServer/issues/2431.

[2018-04-11 17:51] davidsh commented on #29024
Practically speaking, I don't think this will be a cancel-able operation.  The amount of data being sent on the TCP connection is very small for this operation, i.e. it's just a single SSL alert packet indicating "close_notify" to the other side.  So, in practice, the token will be checked once at the start of the API call and maybe at some point during the TCP write of the SSL packet.  I don't se

[2018-04-11 17:53] vancem commented on #6318
Just FYI The implementation Dan refers to above is very specialized (e.g. there is no remove), and is probably not representative.

The C# compiler community wrote a simple wrapper for themselves, that is probably a better representation of what would be done if we wanted to add this class.

http://source.roslyn.io/#microsoft.codeanalysis/InternalUtilities/ConcurrentSet.cs

[2018-04-11 17:54] gabornemeth commented on #26886
Here is a repro. [MultipartRepro.zip](https://github.com/dotnet/corefx/files/1899900/MultipartRepro.zip)
A proper access token has to be provided for this request. I can give you one, just ping me in private (my e-mail is public).

[2018-04-11 17:56] qmfrederik commented on #29024
The main scenario I had in mind is one where the remote end stopped responding. It's a write/read operation over a network connection so all kinds of timeouts can occur.

It looked like an oversight (as all other methods take a CancellationToken), if it's by design feel free to close the issue.

[2018-04-11 18:01] JCBurnside commented on #29027
win10.  and I was sent here from https://github.com/dotnet/roslyn but it is targeting net461.

[2018-04-11 18:01] ianhays commented on #28782
@nerai still planning on doing this one?

[2018-04-11 18:04] stephentoub commented on #29029
I don't believe that's supported on macOS, FreeBSD, etc.  I don't see it in the man pages, and I see references around the net to it being ignored when specified even if it compiles.

[2018-04-11 18:06] #28799 closed

[2018-04-11 18:10] karelz commented on #29024
Let's close it, unless we have good suspicion / evidence it is indeed valuable.

[2018-04-11 18:10] #29024 closed

[2018-04-11 18:10] tarekgh commented on #28933
@iSazonov update the proposal if you want to add the other functionality too.

[2018-04-11 18:11] weshaggard commented on #28886
@marek-safar should this issue be moved to xamarin repo?

[2018-04-11 18:12] rmkerr commented on #29027
This repository specifically tracks .NET Core, which is separate from .NET Framework. If you can provide a small isolated repro of the issue though, we can test it and see if it occurs in .NET Core and newer versions of .NET Framework.

[2018-04-11 18:13] bartonjs commented on #28909
The short answer is

* `RSA/ECB/PKCS1Padding`: Invoke `rsa.Encrypt(data, RSAEncryptionPadding.Pkcs1)`
* `RSA/ECB/OAEPPadding`: Invoke `rsa.Encrypt(data, RSAEncryptionPadding.OaepSHA1)`

(or `Decrypt`, as appropriate).

That assumes that the "ECB" there isn't relevant and you're not encrypting more data than the size of the key.  In which case, that's a Java-ism that I don't quite know what they do

[2018-04-11 18:15] VSadov commented on #28686
The ref-returning properties are very new and support in reflection/S.L.Expressions is lagging behind a bit. It is a known problem that needs fixing.

Some of this can be fixed without changing/adding APIs. Some may require deeper changes.

See also https://github.com/dotnet/corefx/issues/26772

[2018-04-11 18:15] weshaggard commented on #28924
@trondhindenes did you get the information you needed?

[2018-04-11 18:16] rmkerr commented on #29027
Actually, I took a look at how FileInfo works and I have a better suggestion. Try to access the directory using `FileInfo(Uri.LocalPath)` instead. That should keep System.Uri from treating the section of the path following the '#' as a URI fragment.

[2018-04-11 18:25] misfer108 opened #29034 "Deleted"
Deleted

[2018-04-11 18:28] wtgodbe commented on #14874
Closing as abandoned, @matekm please re-open if you're still having issues

[2018-04-11 18:28] #14874 closed

[2018-04-11 18:29] wtgodbe commented on #14780
Looks like we don't use the dev/eng branch any more - closing. @chcosta please re-open if this is still an issue

[2018-04-11 18:29] #14780 closed

[2018-04-11 18:32] wtgodbe commented on #17675
The version of this package from master is being published regularly to the myget feed now - closing.

[2018-04-11 18:32] #17675 closed

[2018-04-11 18:38] ahsonkhan opened #29035 "Consider pinning the C# language version to 7.2 instead of latest"
We are currently using latest (in our release/2.1 branch). Should it be pinned to C# 7.2 instead?

https://github.com/dotnet/corefx/blob/cb372752e0cc03123459f57484ec2ea2c40cc85b/dir.props#L231

cc @joperezr, @weshaggard, @GrabYourPitchforks, @joshfree, @danmosemsft, @leecow

[2018-04-11 18:39] wtgodbe commented on #17131
@weshaggard we now have https://github.com/dotnet/corefx/blob/f51945468a17eeed911ddd82da30f59dbd0c3e7c/dir.props#L323-L326 for importing the Roslyn props file, and no `OverrideToolHost` property. Is this sufficient to close the issue?

[2018-04-11 18:39] JCBurnside commented on #29027
same result.  also I tried using the string version of the path (that I would put into the URI anyways) so it is something to do with how FileInfo loads the filepath
example repo: https://github.com/JCBurnside/UriErrorExample

[2018-04-11 18:42] joshfree commented on #29035
Please update this in master before Friday.  It'll flow into release/2.1 normally from there.

[2018-04-11 18:43] stephentoub commented on #29035
We're going in the opposite direction in coreclr:
https://github.com/dotnet/coreclr/pull/17483#discussion_r180262758
cc: @jkotas

[2018-04-11 18:48] krwq commented on #743
One scenario where exceptions would be valuable are validators. One example would be XmlSchema. It is pretty useful to give developer a localized error - XmlSchema error will quite often resurface to the end user. XML is one of those file formats which is used not only by developers.

[2018-04-11 18:50] joperezr commented on #17131
the work from here is mostly done, but there is still some cleanup we need to add in order to remove a bunch of packages we don't use anymore

[2018-04-11 18:51] ahsonkhan opened #29036 "DualModeConnectAsync_DnsEndPointToHost_Helper fails in CI with TrueException on OSX"
From https://github.com/dotnet/corefx/pull/28992
OSX.1012.Amd64.Open-x64-Debug
System.Net.Sockets.Tests.DualModeConnectAsync/DualModeConnectAsync_DnsEndPointToHost_Helper(listenOn: ::, dualModeServer: True)
https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/95b8f31c8f84213f3192a6b9d96e8b2ecdb2dcfe/workItem/System.Net.Sockets.Tests/analysis/xun

[2018-04-11 18:51] wtgodbe commented on #17581
`build -?` now says the following for `[-Outerloop]`

`Enables outerloops test scenarios`

This no longer says anything about running the tests, so I'm closing this.

[2018-04-11 18:51] #17581 closed

[2018-04-11 18:51] krwq commented on #28764
@amb4eg @QtRoS I believe corefx is currently not localized. I will close this issue since this is related to a generic problem. Here are related issues/comments - please add comments there:
https://github.com/dotnet/corefx/issues/743
https://github.com/dotnet/corefx/issues/17464#issuecomment-288911509
https://github.com/dotnet/corefx/issues/25128#issuecomment-348269974

[2018-04-11 18:51] #28764 closed

[2018-04-11 18:53] weshaggard commented on #29035
Thanks for the pointer @stephentoub I just added a note to that PR .

[2018-04-11 18:55] joperezr commented on #25773
From the first look it doesn't seem to be the same issue although it looks similar. @stevozilik do you mind opening a new issue with more info so we can take a look at your scenario? If you have minimal repro that would be ideal, but if not, try to at least include info like the framework you are targetting, VS you are using, and some info on the way you are publishing. Also getting details on the

[2018-04-11 18:55] stephentoub commented on #29035
Thanks.  My point, though, regardless of milestone, is that we should be consistent: we should either use "Latest" everywhere, or we should use a specific version number that's the same everywhere and manually bump it when we want to move to the newer language.

[2018-04-11 18:59] joperezr commented on #28985
@Krakean can you try using the latest version of VS 2017? There are some fixes regarding the runtime facades and automatic binding redirects we fixed which should fix your issue when still targetting 4.7.1.

[2018-04-11 19:04] ahsonkhan commented on #29032
See previous issue for more context: https://github.com/dotnet/corefx/issues/28274

On first glance, this looks like a duplicate of that one. However, it does look like the latest shipped preview2 packages are being used here (along with latest CLI from master). **I will investigate further. Thanks for reporting it!**

The workaround is likely to keep the versions in sync (rather than mixing and m

[2018-04-11 19:05] #29034 closed

[2018-04-11 19:06] JustArchi commented on #29032
Yes, this repro uses libraries that are publicly available on official nuget, only SDK is master but NOT the libraries themselves. Thanks!

[2018-04-11 19:06] krwq commented on #28960
@karelz, seems to be the same as https://github.com/dotnet/corefx/issues/26210. Could you try 2.1 preview and see if it repros?

If still repros could you share `dotnet --info` output?

[2018-04-11 19:14] rmkerr commented on #28960
I don't think this is related to #26210 -- that issue is specific to URIs containing Unicode characters.

This is probably a duplicate of the issue @karelz mentioned, or at least very similar.

[2018-04-11 19:17] ericstj opened #29037 "CoreFx still builds packages that have desktop reference assemblies"
Related https://github.com/dotnet/corefx/issues/23830, part 3

We still have some packages that have reference assemblies in their ref folder.  We've found numerous tools that don't like this and shouldn't expect all those tools to get fixed.

As such, we need to tactfully remove ref folders, or use the implementation instead in these cases.

[2018-04-11 19:26] krwq commented on #28960
@pulkjr this should be already fixed in 2.1 preview. Please test and reopen if you still see the problem (please share exact paths causing the problems and output of `dotnet --info` - I expect it to be fixed though since we can see tests related to that passing).

[2018-04-11 19:26] #28960 closed

[2018-04-11 19:35] jkotas commented on #29035
I think we should be using `latest`. We are referencing a fixed version of the compiler, so it is not like things can change under neath us without warning. It is just a busy work to keep bumping it manually.

[2018-04-11 19:39] Krakean commented on #28985
@joperezr it was all tested on vs 15.6.5

[2018-04-11 19:40] stephentoub commented on #27605
@geoffkizer just reminded me that in 2.1 we also transition into non-blocking mode when a sync operation with a timeout is issued: https://github.com/dotnet/corefx/pull/22588.  Does SqlClient do that?

[2018-04-11 19:45] SebastianPfliegel commented on #26966
Few hours ago 2.1.0 Preview2 was released. I can confirm that the fix works :+1:

[2018-04-11 19:52] Anipik commented on #29007
@brianrob I debugged more into it and found
[code]

[2018-04-11 19:53] saurabh500 commented on #27605
SqlClient does reads synchronously with a timeout set. https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs#L458

@stephentoub  what I understand is that if the timeout is set, the socket goes into non-blocking mode, does that mean that all socket operations will be sync over async if a receive timeout is set on socket, while performi

[2018-04-11 20:00] jkotas commented on #29035
IMHO, this is nice to have cleanup. It should not be 2.1 blocking-release.

[2018-04-11 20:05] #27929 closed

[2018-04-11 20:12] weshaggard commented on #29035
While the compiler doesn't change often it does change and there is a goal to automate updating of this compiler so using the "latest" seems like it could set us up for trouble.

@jaredpar what is your opinion? Should we keep pinned to a language version or let it float in a world where we start updating to pre-release versions of the compiler often?

[2018-04-11 20:37] MichalStrehovsky commented on #15960
MethodInfo.Invoke is not equivalent to `object result = RefReturningMethod();`.

`MethodInfo.Invoke` tries it's best to give you a usable result back. That's why you get `System.Reflection.Pointer` back for methods that return unmanaged pointers (instead of just throwing and telling you to go away because you can't box pointer types). It's a special value that is not what the boxed result of invoc

[2018-04-11 20:57] ahsonkhan commented on #28751
This should be it (couldn't find any other reference to MemoryManager in ASP.NET)
https://github.com/aspnet/Common/pull/336

[2018-04-11 21:05] VSadov commented on #15960
`System.Reflection.Pointer` is nothing similar. I can get values of pointer-returning methods in earlybound scenarios just fine.

`System.Reflection.Pointer` is totally a forced option - indeed to be able to reconstruct earlybound behavior. It is an acceptable compromise given the limitations of boxing.
If you could box pointers you would definitely just box them and return as a result, and `S.R.P

[2018-04-11 21:07] AtsushiKan commented on #15960
Getting `Pointer` back is still an unambiguous result given the signature of the method. It doesn't have the same problems that returning `Missing.Value` has.

We already know that `GetValue()` isn't going to solve all the ref scenarios that can be thrown at it, so there's wriggle room to define what "best effort" is. We could simply continue to throw `NotSupportedException` in the case of a null

[2018-04-11 21:09] stephentoub opened #29040 "Regression in synchronous socket operations when timeout set on Unix"
Likely due to https://github.com/dotnet/corefx/pull/22588.

Repro:
[code]
results for me in output like:
[code]

Related to https://github.com/dotnet/corefx/issues/27605
Related to https://github.com/dotnet/corefx/issues/29029

cc: @geoffkizer

[2018-04-11 21:14] stephentoub commented on #27605
As of https://github.com/dotnet/corefx/pull/22588, yes, for better or worse.  Setting a receive or send timeout on a socket now puts that socket into non-blocking mode, which means all subsequent synchronous send/receive operations actually end up being sync-over-async.  I've opened https://github.com/dotnet/corefx/issues/29040 related to this.

[2018-04-11 21:30] caesar1995 commented on #28543
Per offline discussion, the approach that: caching the result from `WinHttpDetectAutoProxyConfigUrl` to reduce the number of calling into `WinHttpGetProxyForUrl` is not acceptable. Because even if in general the cost is to do `WinHttpDetectAutoProxyConfigUrl` for the first request made per SocketsHttpHandler, it's still too high (10X regression in test). The detailed explanation is here: https://g

[2018-04-11 21:42] marek-safar commented on #28886
@weshaggard you can close it, we are tracking this as https://github.com/mono/mono/issues/8089

[2018-04-11 21:46] stephentoub commented on #28979
I think it's possible this could manifest as a hang, unfortunately.

[2018-04-11 22:04] ViktorHofer commented on #29019
This is failing because we use reflection in one of the tests. I will fix this.

[2018-04-11 22:09] AfsanehR commented on #24966
Hello @ajcvickers, while we are investigating on this issue, would you mind trying to set the Timeout value on the connection string to a higher number? This should for now resolve your issue with the exceptions you are receiving. I tried with `Timeout=300` and did not hit any exceptions. Thanks!

[2018-04-11 22:10] Anipik commented on #29007
@brianrob I have corrected this. Can you take a look at https://github.com/dotnet/corefx/pull/29009

[2018-04-11 22:17] oscarbg commented on #22940
Ping on AVX512 news?

[2018-04-11 22:24] karelz commented on #28543
@davidsh can you please help identify the behavior of `WinHttpGetProxyForUrl`? Especially if we can distinguish between no PAC file vs. no proxy returned by JavaScript. In the worst case we could consider caching result "no proxy for URL" for a period of time (in theory violating proxy rules).

Current thinking:
* Do not cache successfully found proxy (having overhead in such case is acceptable fo

[2018-04-11 22:27] stephentoub commented on #28631
@MattGal, @bartonjs, this is happening again, e.g.
https://mc.dot.net/#/user/jkotas/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/efe4ea624c7893ac08aefc39b1308fe21db7bf8d/workItem/System.Security.Cryptography.Pkcs.Tests

[2018-04-11 22:27] ahsonkhan commented on #29001
Does EditorBrowsable.Never make sense on operator overloads?

Is there any scenario where someone would want to use `==` and `!=`? It is a bit strange for us to have a type implementing IEquatable that has restrictions on use of these operations.

@KrzysztofCwalina, what is your concern with remove them given the pit of failure?

[2018-04-11 22:29] rmkerr commented on #28979
Thanks for the info Stephen. I just kicked off a release build on my machine to confirm what happens. It's going to take a while (because it only has one core), but I'll let you all know what happens as soon as it finishes.

[2018-04-11 22:31] safern commented on #28886
Thanks @marek-safar

[2018-04-11 22:31] #28886 closed

[2018-04-11 22:32] welkie commented on #26966
`2.1.300-preview2-008530` confirmed working on Antergos. Able to build without changing `XTERM` etc.

[2018-04-11 22:32] stephentoub commented on #28979
FWIW, you should also be able to test the behavior on other machines just by hardcoding a value of 1 to be passed to that Segment ctor.  I suspect some uses will work just fine and others will end up hanging.  We'll see, though. Thanks. And sorry :)

[2018-04-11 22:33] wfurt commented on #28192
can you please take a look @rmkerr ? I think this should be now fixed as well.
I think we should close it if there are no recent failures.

[2018-04-11 22:34] ahsonkhan opened #29045 "Several tests failing on Windows with WindowsCryptographicException"
From https://github.com/dotnet/corefx/pull/29039
https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ea9a71a9aadc8553dd482a156893a53e58554707/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.DiagnosticTest~2FConnectionOpenAsyncErrorTest
Windows.10.Amd64.Open-x64-Debug
[code]

cc @bartonjs

[2018-04-11 22:35] ahsonkhan commented on #29045
System.Net.Http.Functional.Tests GetAsync_SecureAndNonSecureIPBasedUri_CorrectlyFormatted
Windows.10.Amd64.Open-x86-Release
https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ea9a71a9aadc8553dd482a156893a53e58554707/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest~2

[2018-04-11 22:37] ahsonkhan commented on #29045
System.Security.Cryptography.Xml.Tests
Windows.10.Amd64.Open-x86-Release
https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ea9a71a9aadc8553dd482a156893a53e58554707/workItem/System.Security.Cryptography.Xml.Tests/analysis/xunit/System.Security.Cryptography.Xml.Tests.EncryptedXmlTest~2FRsaDecryption(resourceName:%20%5C%22System.Security.Cryptog

[2018-04-11 22:39] ahsonkhan commented on #29045
Duplicate of https://github.com/dotnet/corefx/issues/28631

[2018-04-11 22:39] ahsonkhan commented on #28631
Closed the duplicate issue: https://github.com/dotnet/corefx/issues/29045

[2018-04-11 22:44] jkotas commented on #25344
I meant generated native code. It is where any missing optimizations are going to show up. Here is what you can try to do:

- Build checked CoreCLR build
- Find or write a simple test that calls `Vector(T[] values)` constructor in a loop over an array
- `set COMPlus_JitDisasm=...name of the test method...` in environment
- Run the test. It should print the native disassembly to the console. Compar

[2018-04-11 22:46] ajcvickers commented on #24966
@AfsanehR You will need to mention @wertzui, not me. I just moved the issue from the EF repo.

[2018-04-11 22:58] rmkerr commented on #28979
Hah, that will be a lot faster. I'll give it a try as soon as I have a machine free.

[2018-04-11 23:06] #29045 closed

[2018-04-11 23:14] rmkerr commented on #28979
Yep, I see this manifesting as a hang.

cc: @karelz

[2018-04-11 23:30] huanwu opened #29047 "set s_checkDeserializeAdvances=true"
In [26947](https://github.com/dotnet/corefx/pull/26947), we set s_checkDeserializeAdvances=false In full framework, we can set it to true through config, but we cannot do it in core.  We need investigate if we just turn it on . A full test pass in full framework pass when set this value to true. Need well understand this impact if to set this value to true.

[2018-04-11 23:33] rmkerr commented on #28979
Just based on code inspection I would expect this to happen with all APIs on SocketsHttpHandler that involve creating a connection.

[2018-04-11 23:36] AfsanehR commented on #24966
@ajcvickers  corrected, thanks!

[2018-04-11 23:39] joperezr commented on #28985
that is very weird. If you could provide a minimal repro that would be ideal so that we can figure out what is going on and to get a fix.

[2018-04-11 23:56] rmkerr commented on #29027
Thanks for the repro! I'll take a look.

[2018-04-11 23:58] KrzysztofCwalina commented on #29001
It's too late in the product cycle. I also think that we should make sure positions returned from the same ROS can be compared using == and !=. I am not proposing that we make <,> comparisons work, but I am not sure why equality would not. @pakrym?

cc: @joshfree

[2018-04-12 00:16] stephentoub commented on #28979
I would expect it would hang in situations where:
- It was on a single core,
- a thread was making a request that would require creating a new connection, and
- another thread races with it to create a connection on the same handler.

The Debug.Assert that's firing in debug builds is highlighting that the data structure relies on there being at least two slots in the array.  When that's violated a

[2018-04-12 00:43] stephentoub commented on #28543
FYI, I think my initial "5%" estimate for what this is costing us is way off, at least for extreme cases.  I just tried a little make-shift test, with a process that just repeatedly times an HttpClient making 4000 requests to a dummy sockets host in the same process:
[code]
With my default proxy settings on my machine (Automatically Detect Settings is true but it doesn't find a configuration file)

[2018-04-12 00:58] davidsh commented on #28543
I tried your experiment (your code above) on my dev box attached to the corporate network  And I don't see any difference from having that checkbox set vs not having it.

![image](https://user-images.githubusercontent.com/7684835/38650622-c90b2dca-3db1-11e8-87e8-829d118e21af.png)

[2018-04-12 01:07] davidsh commented on #28543
Oops.  The numbers above are using .NET Core 2.0 which is using WinHttpHandler.  And that is always calling WinHttpGetProxyForUrl().

But when I ran your experiment on .NET Core 2.1 I did get results similar to you:

![image](https://user-images.githubusercontent.com/7684835/38650885-328d8756-3db3-11e8-8a1e-eb31beb80497.png)

[2018-04-12 01:08] stephentoub commented on #28543
Using recent bits? What does dotnet --info show?

[2018-04-12 01:08] stephentoub commented on #28543
Ah, good :)

[2018-04-12 01:49] FreezyLemon opened #29048 "System.ComponentModel.TypeConverterTests.SizeFConverterTests failing for locale en-DE"
[code]

The problem here seems to be that german numbers use the comma (`,`) as a decimal separator instead of a dot (`.`):

https://github.com/dotnet/corefx/blob/73214ff6da537eb9dcf522406ef1d0470b88db88/src/System.ComponentModel.TypeConverter/src/System/Drawing/SizeFConverter.cs#L55-L62

`text` is the input string to be converted.
In `en-us`, the decimal point is represented by `.` and `ListSepar

[2018-04-12 01:52] jchoi2022 opened #29049 "System.IO.File.WriteAllBytes hangs when the file to overwrite is an already existing FIFO"
In Linux,  `System.IO.File.WriteAllBytes` method seems to hang when the given file path is an already existing FIFO. I believe such a silent freezing of the program should be avoided.

I observed this issue in Ubuntu 16.04.4 and Debian 9.1 (both x64). I installed  dotnet-sdk-2.1.103 package, and used F#. If you have a problem in reproducing it, please let me know.

[code]

[2018-04-12 02:29] EssenRoc commented on #28909
In other words, it is not yet supported?
So 2.1 is there a support plan?
Thank you

[2018-04-12 02:35] EssenRoc commented on #28909
Because of the "ECB" involved, the result of using this current usage is inconsistent

[2018-04-12 03:24] j717273419 commented on #10361
`
            ProcessStartInfo psi = new ProcessStartInfo
            {
                FileName = "cmd",
                Arguments = "/c start https://www.baidu.com/s?wd=%E6%97%A5%E5%8E%86"
            };
            Process.Start(psi);
`

It's Worked.Thanks.

[2018-04-12 03:28] j717273419 commented on #10361
[code]

[2018-04-12 03:36] bartonjs commented on #28909
No, there's no plan to support automatic chunking with RSA in .NET.

The Internet seems to suggest that the inbox providers in Java fail even in "ECB" mode when the input exceeds the maximum that the key can handle for one operation, so whatever Java behavior you are trying to emulate is fairly non-standard (and against cryptographer recommendations).

[2018-04-12 03:49] EssenRoc commented on #28909
What I want to say is that I don’t care about the suggestion of encryption standards because I only want to interact with java webapi but the other party uses “ECB” and I have no other choice.

Thank you

[2018-04-12 03:49] #28909 closed

[2018-04-12 03:55] bartonjs commented on #28909
@EssenRoc I still recommend asking on StackOverflow.  Someone somewhere should know how the provider is doing chunking so you can emulate it in C#.  And hopefully they answer questions on SO :smile:.

[2018-04-12 04:02] EssenRoc commented on #28909
I solved it with BouncyCastle a few days ago. Although I don't really like BouncyCastle, it does solve my problem very effectively.

Thanks again

[2018-04-12 04:11] ahsonkhan commented on #26894
Fixed in https://github.com/dotnet/corefx/pull/28962

[2018-04-12 04:11] #26894 closed

[2018-04-12 05:04] iSazonov commented on #28933
@tarekgh Done.

[2018-04-12 06:25] dotnet-mc-bot opened #29052 "Test failure: System.Diagnostics.Tests.ProcessStartInfoTests/Verbs_GetWithSubkeys_ReturnsEmpty"
Opened on behalf of @Sunny-pu

The test `System.Diagnostics.Tests.ProcessStartInfoTests/Verbs_GetWithSubkeys_ReturnsEmpty` has failed.

Assert.Equal() Failure\r
    Expected: String[] [\"verb1\", \"verb2\"]\r
    Actual:   String[] []

        Stack Trace:

           at System.Diagnostics.Tests.ProcessStartInfoTests.Verbs_GetWithSubkeys_ReturnsEmpty() in E:\A\_work\16\s\corefx\src\System.Diagnost

[2018-04-12 06:48] ahsonkhan commented on #28751
Fixed in https://github.com/dotnet/corefx/pull/28981 / https://github.com/dotnet/corefx/pull/29041

[2018-04-12 06:48] #28751 closed

[2018-04-12 07:17] nerai commented on #28782
@ianhays Sorry, I lost this issue. I've put up a PR for the xml doc. Working on the actual docs now.

[2018-04-12 07:39] arleyschrock commented on #26803
I wish the dependency on curl would just die (like it should). This causes more headaches in deployment scenarios then anything else with the framework

[2018-04-12 07:44] tmds commented on #26803
@arleyschrock curl is no longer used (by default) in 2.1, there is a managed http client implementation https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/

[2018-04-12 07:48] arleyschrock commented on #26803
That is excellent news! For those having problems on Ubuntu 18.04, removing the libcurl4 package and installing libcurl3 resolves the issue

[2018-04-12 09:17] MichalStrehovsky commented on #15960
That concern would be solvable by adding a new sentinel value for this.

This would execute the target method (successfully) and then throw - it's a behavior that doesn't have a precedent for this API. I would want to run this through API review.

[2018-04-12 09:38] maincoon opened #29055 "Server WebSocket packet fragmentation error"
Found this while testing web socket server on Windows platform.
Attached test project reproduces error on Widows platform, but worked on Linux.

[WSTest.zip](https://github.com/dotnet/corefx/files/1902389/WSTest.zip)

[2018-04-12 11:19] danmosemsft commented on #10361
You should not need to involve cmd.exe. If you set filename to the url and psi.useshellexecute =true it shoukd work. Including on Linux. Can you confirm?

[2018-04-12 11:31] stephentoub commented on #28631
@dotnet/dnceng, this is taking out a bunch of our PRs... could someone take a look? Thanks!

[2018-04-12 11:55] fitzchak opened #29056 "StackTrace's LineNumber and FileName is empty on net461"
When running the following code:

[code]
In the following target frameworks `<TargetFrameworks>netcoreapp2.0;net461</TargetFrameworks>`:

The line number and file name are empty when the target is net461, but when the target is netcoreapp2.0 the line number and file name have the correct values.

[2018-04-12 11:55] stephentoub commented on #29049
File.WriteAllBytes is just a short-hand for opening the file, doing the write, and closing it, so it would have similar semantics to that, and with a FIFO, such semantics would involve blocking until someone else opens it. Why is that unexpected?

[2018-04-12 12:21] dennisfurrer opened #29057 "Add support for secp256k1"
corefx/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECCurve.NamedCurves.cs

[2018-04-12 12:45] jnm2 commented on #29056
@fitzchak You're probably using portable PDBs. https://github.com/dotnet/core/blob/master/Documentation/diagnostics/portable_pdb.md#supported-scenarios:

[2018-04-12 12:59] ld0614 commented on #18276
While I was looking forward to trying .NET Core out for a new project the lack of support for column encryption and the lack of support for AccessToken means I will have to build the project on .Net Framework instead.

[2018-04-12 13:15] DonaldRich opened #29059 "double.TryParse of "0,12" incorrectly returns true with result of 0.12."
When executing the following the return value is true (parsing succeeded) and the number value becomes 0.12:

`double.TryParse("0,12", NumberStyles.Number, CultureInfo.GetCultureInfo("en-US"), out number)`

The input is not a valid US number since the comma proceeded by a zero and followed by only 2 digits. US numbers with a comma are only valid if the integer part is a 1 to 3 digits (but not a se

[2018-04-12 13:45] AtsushiKan opened #29060 "Proposed: Add `System.Reflection.NullReference` sentinel type."
# Proposed Surface Area

[code]

## Purpose

To be used as the return value when Reflection Invoke is used to invoke a method or property returning a `ref` and the method returns a null reference. Invoking ref-return methods is not supported at this time but we already an in-progress issue to make it supported (https://github.com/dotnet/corefx/issues/15960)

Could also be used by existing Reflecti

[2018-04-12 13:46] AtsushiKan commented on #15960
I've opened a new api-needs-work issue for adding `NullReference.Value`. (https://github.com/dotnet/corefx/issues/29060). Let's continue this subdiscussion there. We don't need to block work on the main feature on this.

[2018-04-12 14:11] mattchidley commented on #17833
It appears to have been added in the 2.1.0 preview1

This is the SqlClient package where it SqlDependency exists:

https://www.nuget.org/packages/System.Data.SqlClient/4.5.0-preview1-26216-02

[2018-04-12 14:59] stephentoub commented on #29049
I can see how the docs are misleading here.  They were written back when .NET was only targeting Windows, where the concept of a FIFO on disk doesn't exist. What this really means is that the file is opened and truncated.  And truncating a FIFO is a nop.

[2018-04-12 15:02] vancem commented on #21248
Please see https://github.com/dotnet/coreclr/pull/17530 for concrete proposal.

[2018-04-12 15:20] pakrym commented on #29001
It's not too late, we just did a ton of memory-related changes removing two operators is nothing compared to that.

It requires back reference to ROS.
For example, if one Position is at the end of one segment and second Position is at the beginning of the next one are they equal?
Logically yes, but to implement it correctly you would need to call back to the thing that created Position.

[2018-04-12 15:38] karelz commented on #29036
Duplicate of #20893

[2018-04-12 15:38] #29036 closed

[2018-04-12 15:39] ferantivero opened #29061 "FriendlyName not supported in Unix"
it might be worth to mention from the [Cross-Platoform Cryptography doc](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/cross-platform-cryptography.md) that FriendlyName(s) are not supported in Unix.

provided you try to use Friendly Names in Unix-based systems it will result in this:
System.PlatformNotSupportedException : The FriendlyName value cannot be set on Unix.

[2018-04-12 15:40] Anipik commented on #29048
No, the failure is not seen in Spanish. Even in Spanish the decimal separator is “,”

[2018-04-12 15:44] karelz commented on #29055
@maincoon what is the error you're getting with your repro? What is the output / expected output?

[2018-04-12 15:49] RussKeldorph opened #29063 "[Question] Give a timeout to async socket on .net core (linux)"
_From @316181444 on April 12, 2018 4:19_

How set a timeout for Socket.ConnectAsync, Socket.SendAsync, Socket.ReceveAsync APIs?

Thanks.

_Copied from original issue: dotnet/coreclr#17525_

[2018-04-12 15:49] tarekgh commented on #28933
for

[code]

I prefer to remove this as it is not defined in the ISO 8601. we have the option later to add it if it is really needed.

for

[code]

We don't add formatting APIs here. also, did you look at https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings we are already supporting the ISO date formatting. look at "o" and "r" specifiers. I believe we s

[2018-04-12 15:50] nerai commented on #28782
I was unable to find any mention of BoundedCapacity in https://github.com/dotnet/docs that suffers from the problem in this ticket.

[2018-04-12 15:54] maincoon commented on #29055
On windows:
dotnet --version
2.1.101

On linux (that's also a bug i guess):

[root@ud-dev06-lxc-test-v test]# dotnet --version
Did you mean to run dotnet SDK commands? Please install dotnet SDK from:
  http://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409
[root@ud-dev06-lxc-test-v test]# yum list installed | grep dotnet
dotnet-host.x86_64                 2.1.0_preview1_26216_03-1          @pac

[2018-04-12 16:05] karelz commented on #29055
2.1.101 is .NET Core SDK version - it corresponds to .NET Core 2.0.6: https://github.com/dotnet/core/blob/master/release-notes/download-archive.md#net-core-20

Let's not mix bug reports - Linux seems to have parts of 2.1 Preview 1 and 2.0.6 installed. Can you please remember how you got into the state, try to reproduce it on clean VM and then report on core-setup repo? Let's not cover that problem

[2018-04-12 16:07] vincentkam opened #29064 "SSlStream on OSX High Sierra throws AuthenticationException when certificate revocation checking is enabled and the server’s certificate extensions includes a CRL distribution point but not OCSP"
**Overview**
A .Net Core 2.0 application running on OSX High Sierra cannot connect to a server using SSLStream with certificate revocation checking enabled. The server’s certificate has extensions for CRLs but not OCSP. If one builds this application on Linux or Windows, the application will connect (to the same server) without any problems. Additionally, using the same certificate chain to host a

[2018-04-12 16:10] Petermarcu opened #29065 "Http Client performance drop in preview-2"
@rahul10992 commented on [Thu Apr 12 2018](https://github.com/dotnet/core/issues/1437)

Hello. I was trying out HttpClient benchmarking for net core 2.1 and well, I am seeing a serious drop in the HttpClient provided in preview 2.

for simple Get requests between 2 Windows Server 2016 VMs set up with network acceleration in Azure,
1. for Preview-1 with the "AppContext.SetSwitch("System.Net.Http.Us

[2018-04-12 16:10] Petermarcu opened #29066 "Http Client performance drop in preview-2"
@rahul10992 commented on [Thu Apr 12 2018](https://github.com/dotnet/core/issues/1437)

Hello. I was trying out HttpClient benchmarking for net core 2.1 and well, I am seeing a serious drop in the HttpClient provided in preview 2.

for simple Get requests between 2 Windows Server 2016 VMs set up with network acceleration in Azure,
1. for Preview-1 with the "AppContext.SetSwitch("System.Net.Http.Us

[2018-04-12 16:10] wfurt commented on #24259
I did not try recently but I think so as everything is collapsed in single  /usr/local/share/misc/terminfo.db file

[2018-04-12 16:10] Petermarcu commented on #29065
@geoffkizer @karelz

[2018-04-12 16:12] Petermarcu commented on #29066
Closing as dup of #29065

[2018-04-12 16:12] #29066 closed

[2018-04-12 16:20] karelz commented on #29065
@rahul10992 can you please share your perf repro?
We are not aware of any intentional perf drops between Preview1 and Preview2.

[2018-04-12 16:28] karelz commented on #28979
@rmkerr can you please add an entry into 2.1 Preview 2 known issues? https://github.com/dotnet/core/blob/master/release-notes/2.1/Preview/2.1.0-preview2-known-issues.md
cc @leecow @Petermarcu

[2018-04-12 16:28] maincoon commented on #29055
I believe problem not in .NET core but in .NET47
Stacktrace shows error in WebSocket implementation from .NET47 System.Net.WebSockets.WebSocketBuffer wich is not exists in core implementation at all.
Any advice on this?

[2018-04-12 16:31] bartonjs commented on #29057
@steveharter Do you know/remember why `secp256k1` was left out?  It has an OID (so it'll work with Linux/OpenSSL) and it looks like it was there in the initial expanded curve set for Win10.

Maybe it just got missed for having too similar a name to `secp256r1` aka `nistP256`?

[2018-04-12 16:33] rmkerr commented on #28979
Yep, on it now.

[2018-04-12 16:45] wfurt commented on #24386
There are many similarities with OSX. It would probably make sense to consolidate.

[2018-04-12 16:46] jcagme opened #29067 "Build failures in 'prodcon/corefx/master/' - '20180411.05'"
@dotnet-mc-bot commented on [Wed Apr 11 2018](https://github.com/dotnet/core-eng/issues/3237)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1582339
  - **Agent:** DDVSOLINUXAGE010
  - **Error log:** /root/corefx-1582339/Tools/ApiCompat.targets(0,0): error : MembersMustExist : Member

[2018-04-12 16:50] FreezyLemon commented on #29048
I'd assume that the `ListSeparator` in spanish is also something like `;` though?
It might not be clear from my first post, but I'm pretty sure that this happens because the decimal separator is the same character as the `ListSeparator`, which results in
[code]
splitting the input text wrongly.

So instead of two tokens containing 3.402823E+38, it splits it into four tokens of
3
402823E+38
3
40282

[2018-04-12 16:56] KrzysztofCwalina commented on #29001
Depends what you mean by "end of segment" and "beginning of segment". If the positions point to the same running index, they are equal; otherwise they are not.

[2018-04-12 16:59] pakrym commented on #29001
The position does not point to RunningIndexes, they point to `object` only ROS knows how to interpret ROSSegment and RunningIndex.

[2018-04-12 17:02] KrzysztofCwalina commented on #29001
I know. I was just describing desired semantics.

[2018-04-12 17:07] ysmoradi commented on #16101
I'd like to port following classes of S.CM.DA to .net core from either mono or .net framework.

- AssociatedMetadataTypeTypeDescriptionProvider
- ScaffoldTableAttribute
- MetadataTypeAttribute
- BindableTypeAttribute

As a matter of fact, I need **AssociatedMetadataTypeTypeDescriptionProvider** only, but I think it's a good idea to make S.CM.DA complete.

I read their codes & tests on both mono &

[2018-04-12 17:11] jcagme opened #29068 "Build failures in 'official/corefx/release/2.0.0-msrc/' - '20180411.01'"
Test test test

[2018-04-12 17:12] pakrym commented on #29001
Do you agree we cannot support these semantics on SequncePosition level?

[2018-04-12 17:12] rahul10992 commented on #29065
Hello. What I used to test this out is here: https://github.com/rahul10992/net-core-preview-issue
You will have to enter the right IP Address in the HttpClientTester's Program.cs to ping the right endpoint. But apart from that, this should work.

As for my azure environment,
I created 2 DS4_V2 Windows Server 2016 VMs with network acceleration on the same virtual network and had to open up the 5000

[2018-04-12 17:24] dangi12012 opened #29069 "Suggestion: System.Math Performance improvement"
In Performance Critical code System.Math is lacking following operators. (Natively supported by Gcc and Visual studios C++ compiler but slow in C#)

**Fused Multiply Add**
[code]

**Fused Division and Modulus with ValueTuple** (Handy for 1D array with 2D indices) updated for Valuetuple which is faster than out + return.
[code]

**Support for Float Square Root** (Very Handy and badly needed in 3d a

[2018-04-12 17:31] steveharter commented on #29057
At one point we had all common curves there (not checked in, but I have the old code) but reduced the set to the "common" curves including 3 NIST curves + brainpool.

You can still create the named curve manually...

[2018-04-12 17:34] karelz commented on #29055
Can you please run your test on .NET Core on Windows? Let's confirm for sure it is a problem of .NET Framework vs. .NET Core.

[2018-04-12 17:40] karelz commented on #16101
1 - [ConcurrentDictionary](https://github.com/dotnet/corefx/blob/c4ebdbe5f5fbf53ec73b2c2e16f610387945151f/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs#L35) is part of .NET Core. What's the problem?
2 - If you just port existing API surface from .NET Framework, then API review is not needed. Just don't alter the original API shape.
3 - You cannot add c

[2018-04-12 17:44] Anipik commented on #29048
@FreezyLemon you can test your theory by setting the culture = "en-US" just before this line https://github.com/dotnet/corefx/blob/73214ff6da537eb9dcf522406ef1d0470b88db88/src/System.ComponentModel.TypeConverter/src/System/Drawing/SizeFConverter.cs#L55

[2018-04-12 17:48] Anipik commented on #29048
The List separator for Spanish is ";"

[2018-04-12 17:51] weshaggard commented on #28850
@BredPet that looks like your first command which you said works correctly. I don't see the test build you suggested was hanging.

You say it only repro's sometimes do you know if there are any crashes or issues before it hangs? I wonder if one of the msbuid out-of-process servers gets into a bad state. I suspect killing those processing and building again will succeed.

[2018-04-12 17:52] steveharter commented on #29057
From the API review: "Keep the factory methods for common compliance scenarios. Includes nist, brainpool and curve25519. Exact list TBD."

From https://github.com/dotnet/corefx/issues/7688: "Discussion topic: the set of static factory methods on NamedCurves are a subset of those from Windows 10. OpenSsl supports the nist curves, but not the brainpool, plus supports several additional (varies depen

[2018-04-12 17:58] weshaggard commented on #28861
[code]

That shouldn't be needed and I suspect might be the source of your problem.

Can you instead try adding a reference the the System.Drawing.Common package in your net462 project?

[2018-04-12 17:58] FreezyLemon commented on #29048
en-US passes the tests.
I tried some other "combinations" that should have this problem, and the only one I could find apart from "en-DE" (my computer) is "en-SE" (sweden). a lot of locales like en-FR, en-IT, en-DA, do _not_ have this issue as they also use the dot `.` as a decimal separator.

It seems like my assumptions above were correct, even though this only applies to a few (?) locale choice

[2018-04-12 17:59] vancem commented on #15687
cc @vancem

[2018-04-12 17:59] karelz commented on #28790
Remaining investigation is not critical for 2.1, moving to Future.

[2018-04-12 18:11] tmds commented on #28790
@karelz it would be nice to know the root cause, but I don't think it will buy us something.

[2018-04-12 18:12] karelz commented on #29065
@caesar1995 can you please try the repro locally on our perf machines? Let's see if we can reproduce it.

[2018-04-12 18:26] weshaggard commented on #29035
We don't have any clear consensus yet so I think we can stay with "latest" until we have a clear reason we cannot do that. I'm still curious on what @jaredpar or other compiler folks think about this though so keeping the issue open to continue the discussion, but removing blocking-release and moving to future.

[2018-04-12 18:27] VSadov commented on #29060
What would this sentinel be representing? A value of a dereferenced `null`?

Dereferencing `null` should result in a [Boneheaded Exception](https://blogs.msdn.microsoft.com/ericlippert/2008/09/10/vexing-exceptions/)
Hiding a null dereference behind a special value is not making the situation easier to handle or easier to debug.

When reflection call implies a null dereference it should just throw,

[2018-04-12 18:28] k15tfu opened #29073 "One more issue in ECMA-335"
Hi!

I found an issue in ECMA-335 and want to know how you deal with it.  In III.3.6 bge.<length> section there are contradictory statements (https://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf):

and

So there you can see a discrepancy in case of integer operands. Could you pls say me what did you do with this?  I was going to submit a report to someone interested in it (pr

[2018-04-12 18:31] VSadov commented on #15960
The earlybound case does throw after successfully invoking.

You have two operations here -
1. invoking the target      (that works successfully)
2. dereferencing the pointer and fetch the result value   (this must throw)

I do not see the problem with throwing after invocation - that is _exactly_ what should happen and that is what happens in earlybound case.

[2018-04-12 18:40] GrabYourPitchforks commented on #29035
(not on the language team and not speaking for them)

The compiler has on rare occasion made breaking changes between language versions; e.g., changing how locals are hoisted into closures within a `foreach` statement. I wouldn't want to end up in a world where developers such as we get in the habit of saying "pull the latest compiler and use the latest language features," which would bind the lan

[2018-04-12 18:41] ysmoradi commented on #16101
@karelz Sorry, you're right. My Visual Studio (15.7.3 Prev) wasn't able to add using for ConcurrentDictionary "using System.Collections.Concurrent"
I added that manually to my cs file and now everything works fine.
So, stay tuned for my PR (:

[2018-04-12 18:48] davidsh commented on #29064
cc: @bartonjs @karelz

[2018-04-12 18:48] FlorianRainer commented on #28861
@weshaggard to add the reference is not possible, those 2 projects are normaly separated solutions.
the net462 Project is a Windows Service. this service is dynamicaly loading plugin libraries, this are libraries just implementing a certain interface and compiled to a set of dlls. this can be net4.x full framework or like in my example netstandard. Those libraries are not only used by this windows

[2018-04-12 18:51] maincoon commented on #29055
Not sure I understand You. Project in attachment built and run on windows using .net core and proposed output with exception produced whith command 'dotnet WStest.dll'. Same built runs as expexted on linux using the same command.

[2018-04-12 18:51] jkotas commented on #29035
Was this change between compiler versions or between language versions?

I believe most of the behaviors like these are considered internal implementation details and not based on the language version. You always get the latest behavior with latest compiler, regardless of the language version switch.

[2018-04-12 18:51] bartonjs commented on #29064
Yep, even though the chain request indicates that either OCSP or CRL should be used, Apple seems to not want to do the CRL check.

This is just a platform limitation, which we should document.

[2018-04-12 18:57] tmat commented on #29073
@VSadov

[2018-04-12 18:57] myrup opened #29074 "Mass spawning of processes slower than with mono"
Continuing discussion from #26291 :

I know it's in the enhancement department, but since I felt a significant difference testing mono and .Net Core I decided to time it.

The following snip takes 15s vs 10s in .Net Core 2.1 preview 2 vs. mono 5.8.1 :
[code]
33% slower launch times for processes seems significant to me.

(I'm on Darwin. You know best if this concerns all *nix)

[EDIT] Add C# synta

[2018-04-12 19:01] VSadov commented on #15960
I think you are not realizing the consequences of swallowing a dereference and returning a sentinel.

Consider the following case.
[code]
or more general:

[code]
now user decided to use dynamic

[code]

Do you realize to what length the dynamic binders will have to go to shield the user from the behavior change?

Would we have to wrap _ALL_ the dynamic invocations in a thunk method that would che

[2018-04-12 19:08] karelz commented on #29063
For `ConnectAsync,` there seems to be [`CancelConnectAsync`](https://msdn.microsoft.com/en-us/library/system.net.sockets.socket.cancelconnectasync(v=vs.110).aspx). `SendAsync` and `ReadAsync` currently don't have timeouts/cancellations AFAIK - you can use `Socket.Close` only.
@geoffkizer @stephentoub @davidsh are you aware of better ways to do that?

Seems to be related to #5749 #9698 and #24430

[2018-04-12 19:09] jkotas commented on #29035
I think the tradeoff is:

- Use latest: We pay the price for the occasional breaks in small chunks over time. Roslyn team gets more immediate feedback about bad breaks if there are any.
- Pinned to fixed version. Once in a while, somebody will need to update the language version because of new language features are required to make progress. We pay the price in one large chunk.

[2018-04-12 19:13] tannergooding commented on #29069
We are exposing (netcoreapp2.0 or higher) `float` overloads for the entire `System.Math` library via `System.MathF` (https://source.dot.net/#System.Private.CoreLib/shared/System/MathF.cs,2c9a628505489b33,references and https://source.dot.net/#System.Private.CoreLib/src/System/MathF.CoreCLR.cs,2c9a628505489b33).

For `Fused Multiply-Add`, it will be exposed (on a per CPU platform basis) via the Har

[2018-04-12 19:15] GrabYourPitchforks commented on #29035
Ah, you're right. It was between compiler versions, not language versions.

[2018-04-12 19:16] karelz commented on #29073
cc @CarolEidt

[2018-04-12 19:16] VSadov commented on #29073
The second quotation is correct. The first is imprecise. It probably should say
[code]

Inversion of relational operations works differently for integers and floats because integers do not have NaN and floats do.

[2018-04-12 19:18] karelz commented on #29074
@myrup did you try to profile it to see where is the difference?

[2018-04-12 19:32] tmds commented on #29074
I don't think this represents a common scenario. It's a worst case benchmark. So let's keep it accurate.

[2018-04-12 19:44] VSadov commented on #15960
You are bringing a broken window argument - because there are cases where reflection has insufficient support, it is ok to break other cases that could work.

Why do you insist on making dynamic implementation harder? To whose benefit?
Do you have a bigger customer than dynamic/latebinding?

[2018-04-12 20:02] MichalStrehovsky commented on #15960
People [who directly call](https://apisof.net/catalog/System.Reflection.MethodBase.Invoke(Object,Object())) `MethodBase.Invoke` and handle the result on their own. You're asking them to wrap their `Invoke` calls into a `catch` block because some _successful_ invocations can throw with your design. A sentinel lets them handle it without getting broken into the debugger all the time.

[2018-04-12 20:08] #29068 closed

[2018-04-12 20:16] MichalStrehovsky commented on #29060
When used as a `ref` parameter, it would represent a null ref.

When returned from `MethodBase.Invoke` it would help `MethodBase.Invoke` do what it does: give you a boxed result of the invocation, or the "next best thing" (the precedent being `System.Reflection.Pointer` which is the "next best thing" for methods that return unmanaged pointer types that can't otherwise be boxed). This is a next bes

[2018-04-12 20:33] VSadov commented on #15960
Dereferencing null is not a successful invocation.

You are confusing a _value_ and a _reference_ to it. User requests _values_ through this API. There is no value to be given when the computed reference is null.

This is a very important distinction  - User is not asking for the _reference_. That will be in the other proposed APIs.
In this API he is asking for the _value_ that the computed refere

[2018-04-12 20:41] MichalStrehovsky commented on #15960
User is asking for the boxed result of the invocation or the next best thing if boxing is not possible. User didn't ask for the dereference; it just happens to be the next best thing. An AV is not what I would call the next best thing.

[2018-04-12 20:43] joshfree commented on #28631
@Chrisboh @mmitche @MattGal PTAL

[2018-04-12 20:44] rmkerr commented on #28192
I've confirmed that this passes with the latest configuration. Closing!

[2018-04-12 20:44] #28192 closed

[2018-04-12 20:45] k15tfu commented on #29073
Cool. Are there any other "imprecises" stated in ECMA-335 with conditional branches? :)

[2018-04-12 20:57] karelz commented on #29074
I agree that accuracy in this case should be preferred, given it is not mainstream scenario. I suggest to close the issue as By Design. Any thoughts / push back @myrup?

[2018-04-12 20:59] caesar1995 commented on #29065
I have tested the repro with loopback address. The repro is testing `SocketsHttpHandler` sending GET request to a Kestrel server.

The variance is on the server side: `Microsoft.AspNetCore` targeting 2.1.0-preview1-final/2.1.0-preview2-final. To be clear, it's NOT about testing the `SocketsHttpHandler` targeting preview1/preview2. (So if there is a regression, it should not be on the client side).

[2018-04-12 21:05] VSadov commented on #29073
@k15tfu - I do not know :-)  I've never noticed this one either.

For `bge.un` you will have the similar difference between integers and floats. For integers the inverse will have to have the same `.un` and for floats it should be the opposite.

[2018-04-12 21:05] 4creators commented on #22940
We have still some ISAs to implement before already accepted APIs will be finished - some AVX2 intrinsics and whole of AES, BMI1, BMI2, FMA, PCMULQDQ. My expectation is that after this work is finished and implementation is stabilized we will start working on AVX512. However, in the meantime we still have a lot to do with Arm64 implementations.

@fiigii could probably provide more info on future p

[2018-04-12 21:06] myrup commented on #29074
I created a snip to separate timing of launches from exits. The code times launches for 10000 processes and ignores exit times:
[code]
It takes about 12s vs 13s (.Net Core vs mono) ; .Net Core is actually slightly faster than mono. The faster total for mono could be contributed to processes not being reaped. Definitely go with accuracy.

Good job @tmds!

[2018-04-12 21:11] geoffkizer commented on #29063
We don't support this today.  Best way to handle it is to close the socket if you want to cancel the IO.

[2018-04-12 21:12] stephentoub commented on #29063
Yes, until #24430 is implemented, closing the socket is the only real option.

[2018-04-12 21:12] #29074 closed

[2018-04-12 21:15] 4creators commented on #22940
The current thinking around implementation of Hardware intrinsics is that we provide low level intrinsics which allow assembly like programming plus several helper intrinsics which should make developer life easier.

Implementation which provides more abstraction and software fallback is partially available already in `System.Numerics` namespace with `Vector<T>`. The expectation is that Hardware i

[2018-04-12 21:20] stephentoub commented on #29065
@rahul10992, just a guess, could you try setting UseProxy to false?

[2018-04-12 21:25] karelz commented on #29063
Closing as duplicate of #24430

[2018-04-12 21:25] #29063 closed

[2018-04-12 21:34] k15tfu commented on #29073
@VSadov - Ouhh.. This statement I found in http://jilc.sourceforge.net/ecma_p3_cil.shtml#_Toc524462315 :

As a result, I made the following table:

### Meaning of branch-on-* instructions for **_Integer_** and **_Floating-Point_** operands:
**No** | **Instruction**  | **Identical to**
----| -------------------------|--------------------
 1  | `beq.<lenght>`      | **_Both_**: `ceq` then `brtrue`

[2018-04-12 21:46] VSadov commented on #29073
Yes, that sounds right.

You may also want to check this table.
That is how C# compiler maps <, >, <=, >= to opcodes:

https://github.com/dotnet/roslyn/blob/94ef9a5c8db05b23f6eefa528988d99573ac2eeb/src/Compilers/CSharp/Portable/CodeGen/EmitOperators.cs#L280

[2018-04-12 22:16] ahsonkhan commented on #29067
I suspect this is a one-off failure due to changes in flight between the corefx/coreclr repo. We shouldn't see this error again. Please re-open if it happens again.

The last few (recent) builds have been successful (starting from [20180412-12](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/index?buildId=1583570&_a=summary)).

[2018-04-12 22:16] #29067 closed

[2018-04-12 22:36] rmkerr commented on #29055
Hey @caesar1995, does this look like the WebSocket issue you fixed recently with #28325?

[2018-04-12 22:58] joshfree commented on #29049
@stephentoub since WriteAllBytes is a convenience method for rapid application development scenarios, shouldn't we handle this scenario better?

[2018-04-12 22:59] KrzysztofCwalina commented on #29001
Well, i don't understand why not. Can you explain? SequencePosition has to represent an unique position in a ROS.

[2018-04-12 23:11] ahsonkhan commented on #29015
Again (from https://github.com/dotnet/corefx/pull/29078):
Windows.10.Amd64.ClientRS2.Open-x86-Release
https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f3ca1cc7f572ef57e2cfc22bfc2cc01b2103c574/workItem/System.Console.Tests/analysis/xunit/WindowAndCursorProps~2FTitle_Get_Windows

[2018-04-12 23:12] pakrym commented on #29001
Do you want to put code that casts object to `ReadOnlySequenceSegment` and compares `RunningIndex`  inside `SequencePosition`?

I don't understand how such comparison would be implemented correctly. Especially considering `SequencePosition` is not supposed to be tied to ROS

[2018-04-12 23:27] weshaggard commented on #17346
@joperezr @ericstj what is left for this for this release?

[2018-04-12 23:27] KrzysztofCwalina commented on #29001
No, why would we have to do it? If a SequencePositon (tuple of object, int) represents an unique position in a ROS, then comparing the objects and the ints should be all that is needed to determine equality.

SequencePosition.Eqlaus is implemented correctly. It's a structural comparison of a simple struct. If two equal positions don't point to the same location in ROS, then there is a problem with

[2018-04-12 23:33] pakrym commented on #29001
Imagine ROS representing by the following segments:
[code]

P1 points past the end of Segment 1,
P2 points to the first element of Segment 2

Both of them would give the same result when passed to TryGet and are logically equal but are not structurally equal.

[2018-04-12 23:39] MattGal commented on #28631
I'm finding the messed up machine now.  I'll try to preserve it and investigate it; @bartonjs  if you can come check it out that may be cool.

[2018-04-12 23:48] KrzysztofCwalina commented on #29001
How can code produce P1?

[2018-04-12 23:50] stephentoub commented on #29049
Also, even if there were a way, I'm not convinced we'd want to change it. Logically I think the current behavior makes sense for a FIFO, and if we did actually delete the file, we could leave another process in a bad state.

[2018-04-13 00:03] caesar1995 commented on #29065
Hey Stephen, UseProxy definitely contributes to the regression. (Hopefully #29050 resolves it).

FWIW, here is the data from preview 2 with the repro using our perf machine:
<img width="759" alt="capture" src="https://user-images.githubusercontent.com/8537784/38709861-3161a334-3e72-11e8-9498-3c09d0781994.PNG">

The first three run didn't specify `UseProxy` to false. The average is: (45190+47349+47

[2018-04-13 00:10] tarekgh commented on #28933
What exactly

[code]
does? could you give some example?

[2018-04-13 00:13] #28543 closed

[2018-04-13 00:35] joshfree commented on #29049
Yes, I'd propose that if we have permission to the fifo, we **do** stomp over it like the caller asked, even if it leaves a different process on the machine in a bad state.  Along these lines, if a user wants to use a different System.IO.File API to scribble over a system config file, as an example, who are we to stop them from doing what they want? 😸

[2018-04-13 00:36] caesar1995 commented on #29065
Updated client & server side with Release flag. No differnece. So I guess `dotnet run` run with Release compilation.

Notice that in order to make sure it's client side issue, on the server side I always target the with preview 2, and didn't switch back and forth. (Client: preview 1/preview 2, Server: preview 2).

From the description/repro, it looks like @rahul10992 is testing:
Client: preview 1

[2018-04-13 00:38] stephentoub commented on #29049
My point is, I don't believe stomping over it in that manner is what most users expect. Not with a FIFO, which is very different from a regular file.

[2018-04-13 00:56] karelz commented on #29065
I don't think testing client & server both on Preview 1 is priority. Let's dig deeper into the ~13% remaining difference (against UseProxy=false).
I think it would be best to collect PerfView traces and analyze the diff.

[2018-04-13 00:59] caesar1995 commented on #29065
Seems on server side, preview 2 didn't cause regression. Below are the test I did against Server: Preview 1.

Client Preview 1: average 65933 requests/seconds.
Client Preview 2: average 49301 requests/seconds.
Client Preview 2 with `UseProxy = false`: average 58176 requests/seconds.

Comparing to Server: Preview 2:

Client Preview 1: average 68923 requests/seconds.
Client Preview 2: average 46775

[2018-04-13 01:03] davidsh commented on #29055
I was able to reproduce this problem.

The exception happens on .NET Core 2.0 including latest servicing release 2.06.

The exception does not happen on .NET Core 2.1 preview 2.

[2018-04-13 01:05] davidsh commented on #29055
Please try out .NET Core 2.1 Preview 2:
https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/

[2018-04-13 01:06] #29055 closed

[2018-04-13 01:28] tarekgh commented on #28933
Thanks @shawnsteele

[2018-04-13 02:28] pakrym commented on #29001
`ros.Slice(ros.First.Length).End`?

[2018-04-13 03:34] KrzysztofCwalina commented on #29001
We had a discussion about this a couple of months ago. You guys pushed for returning default(SequencePosition) to indicate "after the last item". I used to have default meaning first item and do enable default being the "after last", we needed to add ROS.First (and ISequence.First).

[2018-04-13 03:35] calvin-pietersen opened #29080 "HttpClient.Post sends separate TCP packets for Header and Body"
This is a general issue with .net I am assuming.

Using Microsoft Message Analyzer, I can see that post data using the HttpClient is being sent in two tcp packets. One for the header, then one for the post body. This data could easily fit into one packet, however it is being split into two. I have explicitly turned on nagling and expect 100 continue off using the ServicePointManager, though, it do

[2018-04-13 03:39] pakrym commented on #29001
??
[code]

[2018-04-13 04:40] stephentoub commented on #29080
Are you able to repro this with .NET Core 2.1 Preview 2?  I wouldn't think so.

[2018-04-13 04:46] stephentoub commented on #24677
That's coming from Kestrel and its usage of libuv; I suggest you open an issue for it in the https://github.com/aspnet/kestrelhttpserver repo if there isn't already such an issue.
cc: @davidfowl

[2018-04-13 04:50] jchoi2022 commented on #29049
I admit that I was kind of misled by the description in the documentation. If what it meant was opening and truncating file, current behavior makes sense and is consistent with open() Linux API (where O_TRUNC is ignored for FIFO). I think both behaviors are reasonable, and respect whichever decision you make.

Thank you for all the responses.

[2018-04-13 04:51] #28782 closed

[2018-04-13 05:26] stephentoub commented on #29049
Thanks.  I think it'd be reasonable to update the docs to clarify this (cc: @mairaw), but I think changing the implementation to actually delete a target FIFO would have terrible consequences, e.g. if the writer connected to the FIFO and then the reader connected, it'd be fine, but if the reader connected and then the writer connected, the reader would hang indefinitely.  This is the convenience m

[2018-04-13 05:38] ahsonkhan commented on #27330
See https://github.com/dotnet/corefxlab/pull/2206 (experimental, trying it out)

[2018-04-13 05:39] mairaw commented on #29049
Docs for this API can be found here: https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.IO/File.xml#L4065

@stephentoub not sure if you guys prefer to submit a PR or create an issue at https://github.com/dotnet/docs/issues.

[2018-04-13 05:43] stephentoub commented on #29065
Just to make sure it's not an issue we've already fixed, could you also try using the latest from master?

[2018-04-13 05:44] ahsonkhan opened #29084 "Re-enable test to use span in a fixed statement after we upgrade to C# 7.3"
See https://github.com/dotnet/corefx/pull/29003 for details

Requires a newer roslyn compiler as well (2.8.0-beta4-62810-06 or higher).

[2018-04-13 06:25] BredPet commented on #28850
@weshaggard usually we kill all dotnet processes and rebuild again, and it's fine. But I want to find a way to make this work out of the box without dancing with a tambourine. Maybe are there ways to set timeouts for this case or to make building completely offline?

[2018-04-13 07:05] pgolebiowski commented on #23629
I haven't read the entire discussion, just random parts. I don't know what direction you are going. Sorry if what I write doesn't make sense in this context. My 2¢:

* Streams are important. If you cannot support them directly because that would mean security vulnerability, then if possible provide a higher-level wrapper built on top of your low-level API that would expose streams.
* The higher th

[2018-04-13 07:22] tidusjar opened #29085 ".Net Core Process.Start on Linux"
I am facing the following issue when running my .Net Core 2.0 application on Linux as a SCD.

I am attempting to start another .Net Core project (Console Application) though the Aspnet Core project.
The exception below is thrown when I call `Start()`.
The permissions on the file and folders have been set to `777` but still no luck.

Exception:
[code]

Code to reproduce:

[code]

[2018-04-13 07:58] ffMathy opened #29086 "Backing up HttpClient by an interface"
If `System.Net.HttpClient` was backed up by an interface (perhaps `IHttpClient`) for most of its methods, it would be easier to mock and fake.

[2018-04-13 08:02] Sunny-pu commented on #28774
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug/400/testReport/System.Net.Tests/HttpListenerContextTests/AcceptWebSocketAsync_InvalidOffsetInArraySegment_ThrowsArgumentNullException_offset__11_/

[2018-04-13 08:13] benaadams commented on #29086
You can do this for `HttpClient` by creating a [`HttpMessageHandler`](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpMessageHandler.cs) and passing that to its constructor?

i.e. `HttpClient` just calls the `SendAsync` method of `HttpMessageHandler`; which an easier route than trying to mock every method of `HttpClient` as their are many.

[2018-04-13 08:53] benaadams commented on #29069
Fused Multiply Add probably should be a pattern recognized by the Jit rather than an api?

Its a bit of a 🔥 on x86 https://en.wikipedia.org/wiki/FMA_instruction_set

[2018-04-13 09:43] k15tfu commented on #29073
Well, `s_compOpCodes` is about mapping <<=>=> to clt[.un]/cgt[.un] instructions.

How I can check the corresponding identical sequence of clt[.un]/cgt[.un] + br{false,true} instructions for branch-on-* instructions family?

[2018-04-13 09:58] qqbuby opened #29087 "Unhandled Exception: System.Net.Mail.SmtpException On Linux"
***smtp ehlo***

[code]

***Stacktrace***

[code]

***dotnet --info***

[code]

***Program.cs***

[code]

[2018-04-13 10:51] k15tfu commented on #29073
Thanks a lot!

[2018-04-13 10:51] #29073 closed

[2018-04-13 11:04] jchoi2022 commented on #29049
FYI, there is something I forgot to mention. Actually, Mono removes the existing FIFO and creates a new file in this situation. I reported this discrepancy to Mono team, as well (https://github.com/mono/mono/issues/8230).

[2018-04-13 11:15] FlorianRainer commented on #28861
ok, this explaination makes sense, and i perfectly unserstand why this is happening.
But ist not only related to `CopyLocalLockFileAssemblies` like i described upon.
I've added this only to work with visual studio build output in bin folder.

My normal usecase is the following.
- remove `CopyLocalLockFileAssemblies'  from `StandardLib.csproj`
- use 'dotnet publish .\StandardLib.csproj -c Release -

[2018-04-13 12:35] stephentoub commented on #29049
Actually, I'm going to walk back some of what I said.  For some reason, I thought you were proposing that WriteAllBytes should replace an existing FIFO with a new FIFO, which doesn't make sense to me for the reasons I enumerated.  But now that I read the thread again, that's not what you were proposing: you were saying that WriteAllBytes (and I'd argue more generally a FileStream created with File

[2018-04-13 12:49] martin-frydl opened #29089 "Microsoft.Windows.Compatibility breaks Dictionary binary deserialization"
I have .NET Core 2.0 project with following code:
[code]
When run, it works fine. But when I add Microsoft.Windows.Compatibility as dependency, deserialization fails with exception:
[code]
Just added as dependency, not used for anything (yet). And breaks the deserialization of Dictionary<string,string>.

I was able to narrow the package to Microsoft.Windows.Compatibility.Shims - add just this one

[2018-04-13 12:50] stephentoub commented on #29049
It's worth looking at why/how Mono differs here. My take is that File.WriteAllBytes is just a short-hand for creating a FileStream with FileMode.Create, and FileMode.Create is documented as "FileMode.Create is equivalent to requesting that if the file does not exist, use CreateNew; otherwise, use Truncate", which is exactly what it's now doing.

[2018-04-13 13:05] gabeluci opened #29090 "UserPrincipal.GetGroups throws exception if OU has a slash in the name"
For AD user objects in an OU that has a forward slash in the name, `UserPrincipal.GetGroups` throws an exception:

Here is the test code (tested in .NET Core 2.0, System.DirectoryServices.AccountManagement 4.5.0-preview2-26406-04):

    var domain = "domain.com";
    var username = "username"; //user in an OU with a slash in the name
    var domainContext = new PrincipalContext(ContextType.Domain,

[2018-04-13 13:12] sdrapkin commented on #23629
@pgolebiowski You use [high-level .NET crypto libraries](https://www.google.com/search?q=high-level+.net+crypto+library) specifically designed to offer safe streaming encryption.

[2018-04-13 13:41] tannergooding commented on #29069
I wouldn't say its a 🔥 at all. There was initially some differences but AMD ultimately supports FMA3 and is only supporting FMA3 in the future (at least based on my current understanding, etc).

dotnet/coreclr#17541 is basically a dupe of dotnet/coreclr#12090 (the I mentioned I logged above, but I didn't go searching for 😄). I commented [here](https://github.com/dotnet/coreclr/issues/17541#issueco

[2018-04-13 13:41] stephentoub commented on #29049
Really?  That's not what I'm seeing.  I see Mono opening the existing FIFO as well; the difference, though, is it's opening it for both reading and writing, e.g. strace output:
[code]
whereas .NET Core is opening it just for writing:
[code]
and O_RDWR has undefined behavior, e.g. from the Linux man page:
https://linux.die.net/man/3/open
[code]
From what I can see, at least on my Ubuntu 17.10, this

[2018-04-13 14:04] stephentoub commented on #29086
There's a long discussion of this at https://github.com/dotnet/corefx/issues/1624. Closing as dup.

[2018-04-13 14:04] #29086 closed

[2018-04-13 14:11] stephentoub commented on #25841
Closing as addressed by https://github.com/dotnet/coreclr/pull/17078.

[2018-04-13 14:11] #25841 closed

[2018-04-13 14:36] hrushib commented on #8647
@krwq, I am looking forward for automation as this is expected to happen with build. We are waiting for this support for almost couple of years now. Absence of this support is pushing us to use workaround of manual updation of this file using xsd.exe and checkin for builds triggered on Linux, as full framework tool can't be used there :(.

Can you provide plans/timelines for this feature to be ava

[2018-04-13 14:45] karelz commented on #29089
@ViktorHofer can you help? cc @danmosemsft

[2018-04-13 14:48] karelz commented on #29087
@qqbuby are you able to reproduce the same problem on .NET Core 2.0? -- In other words, is it a regression since 2.0?
The error looks like configuration problem on the machine - can you please check everything is all right?

cc @wfurt

[2018-04-13 14:54] kasper3 commented on #8647
`dotnet-xscgen` is released from https://github.com/mganss/XmlSchemaClassGenerator, you can reference it in your netcoreapp2.0 project:

[code]

and then run it as `dotnet xscgen --help` in the project directory.

With dotnet 2.1's CLI, we will also be able to install it as standalone (outside the project context): `dotnet tool install dotnet-xscgen --tool-path MyTools` then use it as `MyTools/dot

[2018-04-13 14:59] karelz commented on #29085
AFAIK you need to run `dotnet run <updaterFile>` like you do from commandline. Linux cannot execute .NET libraries directly.

[2018-04-13 14:59] danmosemsft commented on #29089
That's not good.

[2018-04-13 15:06] stephentoub commented on #29085
@tidusjar said this was a self-contained deployment, so presumably the target is the executable produced by dotnet publish.

[2018-04-13 15:12] pgolebiowski commented on #23629
@sdrapkin this is easier said than done. "safe" is a lot to ask. what is there that is proven and can actually be trusted? you say yourself:

ok, so what are the options? maybe your own library? [not really](https://github.com/sdrapkin/SecurityDriven.Inferno/issues/10). hmm... maybe libsodium-net? [not really](https://github.com/adamcaudill/libsodium-net/issues/148).

when you actually look for an

[2018-04-13 15:13] karelz commented on #29085
Oh, I wan't able to parse SCD. Acronyms are dangerous ::)

In that case: Are you able to run other apps? (non-.NET) Are you able to run the console app from another console app (not ASP.NET)?
Which version does it fail on? .NET Core 2.0 or 2.1 Preview 2?

[2018-04-13 15:14] qqbuby commented on #29087
@karelz The same problem has been repreduced on .NET Core 2.0 as below:

***Besides, the code works well on Windows platform***

[code]

[2018-04-13 15:26] sdrapkin commented on #23629
@pgolebiowski The options are to use an established .NET framework - ie. the very thing that has been proven and can be trusted, as you desire. Other libraries (including mine) wait for Microsoft to add missing crypto primitives like ECDH into NetStandard.

You can also look at Inferno [forks](https://github.com/sdrapkin/SecurityDriven.Inferno/network). There are at least 2 forks where a few trivi

[2018-04-13 15:47] pgolebiowski commented on #23629
Your library was audited **2 years ago** within **2 days** by **one guy**.  I don't trust that, sorry. In Microsoft, there would be a dedicated team for that -- of people I have higher trust than those from Cure53.

Seriously, we can talk about third-party support for lots of things. But all the needed security-related stuff should be provided by the standard library.

[2018-04-13 16:25] kasper3 commented on #29059
[code]

Prints:

[code]

with net40, net45, net452, net46, net461, net47, netcoreapp2.0 and netcoreapp2.1.

How is it producing 0.12 on your system?

[2018-04-13 16:38] nil4 commented on #29059
@DonaldRich do you see different results if you change `CultureInfo.GetCultureInfo("en-US")` to `new CultureInfo("en-US", useUserOverride: false)`?

[2018-04-13 16:45] kasper3 commented on #29089
seems to be fixed in 2.1.

download and extract https://dotnetcli.azureedge.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.zip to a directory `c:\dotnet21\`

create a project by hand, `mkdir test` and `test\notepad test.csproj`
[code]

`test.cs`

[code]

`c:\dotnet21\dotnet run -f netcoreapp2.0` fails with exception.
`c:\dotnet21\dotnet run -f netcoreapp2.1` throws no exception.

[2018-04-13 16:57] tidusjar commented on #29085
Sorry I'll avoid the acronyms!

I'll try other apps and the console suggestion and get back to you.

I originally tried on .net core 1.1 and I've never been able to get this working. So I wouldn't say it's a regression.

[2018-04-13 17:00] dotnet-mc-bot opened #29094 "System.Memory APICompat issue"
Opened on behalf of @weshaggard

Warnings: 1
Status Message: failed

Build : ProdCon - Master - 20180413.02 (Product Build)
Failing configurations:
- Windows
  - AllConfigurations-x64
  - uapaot-x86
  - uapaot-x64
  - uapaot-arm64
  - uapaot-arm
  - uap-x86
  - uap-x64
  - uap-arm
  - netcoreapp-x86
  - netcoreapp-x64
  - netcoreapp-arm64
  - netcoreapp-arm
[Mission Control Build Info](https://mc.

[2018-04-13 17:02] weshaggard commented on #29094
@ahsonkhan I've seen a couple of builds now where this APICompat failure is hitting in System.Memory:

https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1588602

[code]

It doesn't appear to hit every build so maybe there is some race condition somewhere.

[2018-04-13 17:08] weshaggard commented on #29094
Looks like this is the same issue as https://github.com/dotnet/corefx/pull/29092 when trying to ingest a new coreclr.

[2018-04-13 17:12] jkotas opened #29095 "Directory.EnumerateDirectories doesn't return directory list on rhel7.2"
_From @jainaashish on April 7, 2018 0:18_

I've created a simple application to demonstrate the issue where `Directory.EnumerateDirectories` api doesn't return the list of child directories on rhel 7.2, although it works fine on Windows or Ubuntu.

Sample Project - https://github.com/jainaashish/CoreClrIssue/tree/master/EnumerateDirectoriesIssue/EnumerateDirectoriesIssue

_Copied from original iss

[2018-04-13 17:12] jkotas commented on #29095
_From @danmosemsft on April 7, 2018 2:14_

@jeremykuhne @anipik

[2018-04-13 17:16] sdrapkin commented on #23629
@pgolebiowski Far be it from me to try to convince anyone to trust anything, but your statement is not accurate. Inferno was audited by 2 professionals from "Cure53" organisation. The audit took 2 days, and the entire library was ~1,000 lines of code. That's ~250 lines of code per auditor/day - quite manageable.

In fact, easy auditability is among the key features of Inferno, precisely for those

[2018-04-13 17:39] pgolebiowski commented on #23629
The goal of this thread is to add support for AES-GCM. Your library does not even support AES-GCM. If you want people to use your code, submit it as a proposal for corefx. In an appropriate thread.

Another thing, even if it supported this algorithm — it has not been reviewed by the .net crypto board and is not a part of the corefx. It is not even a candidate for such a review. This means the end

[2018-04-13 17:41] rahul10992 commented on #29065
Hello. My message is late. @stephentoub  But I tried it with UseProxy = false and the performance for preview-2 jumps up to 74,000 req/sec.

[2018-04-13 17:48] krwq commented on #8647
@hrushib we currently do not have plans for xsd.exe

[2018-04-13 17:49] sdrapkin commented on #23629
@pgolebiowski I did not advertise anything - merely answered your question, suggested alternatives for your usecase, and corrected inaccurate claims. AES-GCM is not suited for streaming encryption, and that **is** something that has been reviewed and agreed on by the .NET security team, so you can trust **that**.

[2018-04-13 17:52] DonaldRich commented on #29059
The bug is that it is not failing. As I wrote, "0,12" is not a valid number
in the US. It would only produce 0.12 in a culture which uses periods (.)
for the thousand separator and the comma as the decimal point.

The proper behavior is for this call to return false.

On Fri, Apr 13, 2018 at 7:26 PM, kasper3 <notifications@github.com> wrote:

[2018-04-13 17:57] pgolebiowski commented on #23629
am I defending streaming AES-GCM anywhere? can't recall. but can recall saying:

or stating open problem for corefx:

[2018-04-13 17:58] wfurt commented on #29087
Do you know if the code is trying to use ntlm or Kerberos? On windows both will work automatically. if on Kerberos path,  can you login with kinit from command line? If so,what is your default principle?

[2018-04-13 18:09] ahsonkhan commented on #29094
The change in https://github.com/dotnet/corefx/pull/29092 should resolve this issue.

[2018-04-13 18:24] stephentoub commented on #29065
Thanks, @rahul10992.  So it sounds like setting that to false basically reversed the regression, right?  The cause for that is we added support for automatic proxy discovery.  But we implemented a workaround in https://github.com/dotnet/corefx/pull/29050 that should basically behave perf-wise as if UseProxy=false if you don't have a proxy auto-discovery file.  And of course you can explicitly set

[2018-04-13 18:34] rahul10992 commented on #29065
Thanks @stephentoub! I will keep this in mind for my future tests!

[2018-04-13 18:34] kasper3 commented on #29059
double.Parse with `NumberStyles.Number` will parse out the numbers from string, if string has no alphabet. Use `NumberStyles.Float` to make it fail.

[2018-04-13 19:26] Drawaes commented on #23629
Just as an aside I never really wanted "streaming" in the sense that most are thinking. I just wanted "block" processing for perf and memory use reasons. I don't actually want to "stream" out the results. This is what openssl and cng support seems a shame to lose that and basically makes the "primatives" useless in any scenario I can think of.

[2018-04-13 19:34] Anipik commented on #29095
@JeremyKuhne I just checked on rhel7 and its Directory.Enumerate Directories are returning the list of directories for corefx repo.
Test output
[code]

Here is the version for my rhel machine
[code]

[2018-04-13 19:45] pakrym commented on #29001
I don't understand how would that help comparison situation.

[2018-04-13 20:04] ahsonkhan commented on #28954
Fixed in https://github.com/dotnet/corefx/pull/29077

[2018-04-13 20:04] #28954 closed

[2018-04-13 20:05] ahsonkhan commented on #29094
We shouldn't see this error again. If it happens again, please re-open.

[2018-04-13 20:05] #29094 closed

[2018-04-13 20:07] Jorenkv commented on #22940
Personally I don’t see software fallback as worth spending developer effort on, as the consumer can easily implement software feedback themselves if they want to have it, and besides it works better at the algorithm level than having software fallback at the intrinsic level.

Actually implementing all the dozens of intrinsics that exist out there for all targeted platforms is *not* something the c

[2018-04-13 20:11] JeremyKuhne commented on #29095
@Anipik what are you trying to say? You're showing me a failing test that isn't in the repo. Is there a failure or not? Have you tried the repro project on both 2.0 and 2.1? Can you share output? If you can't repro please include all of the info, mark this as blocked, and move it to Future for now.

[2018-04-13 20:24] weshaggard commented on #28850
It sounds like it is a tooling issue of some sort but without a repro it is hard to know where the issue lies. We are going to be updating to a newer toolset soon, see https://github.com/dotnet/corefx/pull/28568 after we do that it would be good to see if this issue still persists for you.

[2018-04-13 20:30] karelz commented on #29089
Closing as fixed then.

[2018-04-13 20:30] #29089 closed

[2018-04-13 20:30] karelz commented on #29089
Thanks @kasper3 for verification!

[2018-04-13 20:34] davidsh commented on #28780
@IeuanWalker I think your questions about to enable default credentials use for the default system proxy have been answered above.  So, we'll close this issue now.

[2018-04-13 20:34] #28780 closed

[2018-04-13 20:41] davidsh commented on #27702
@rajurh We're not able to proceed with any debugging investigation without a small complete repro of the problem. We'll close this issue for now.  If you're able to repro the problem and attach a solution of it, we can re-open the issue.

Also, please try out .NET Core 2.1 Preview 2 to see if your problem reproduces with that latest release.  Thx!

https://blogs.msdn.microsoft.com/dotnet/2018/04/1

[2018-04-13 20:41] #27702 closed

[2018-04-13 20:44] davidsh commented on #27458
@TsuyoshiUshio Please try out .NET Core 2.1 Preview 2 release. It uses a new HTTP stack by default (not WinHTTP).  So, the error message will be different upon getting an SSL error and should be more explanatory.

See:
https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/

[2018-04-13 20:44] #27458 closed

[2018-04-13 20:48] DonaldRich commented on #29059
Sorry, no. The only difference between NumberStyles.Number and
NumberStyles.Float is that Number allows trailing sign and thousands while
Float allows exponent. Number should not recognize "0,12" in a culture
using commas as the thousands separator, but should recognize it in a
culture using the comma as a decimal point. No matter what combination of
NumberStyles are used "0,12" is not a valid num

[2018-04-13 21:01] JeremyKuhne opened #29101 "ArrayPool perf could be improved with non-zeroed large array allocations"
For performance reasons we don't clear arrays when returned unless specifically requested:

[code]

Zeroing out of new arrays is a cost that isn't necessary. Any time we can avoid this would be beneficial- there are two issues that track adding this sort of functionality to the GC:

https://github.com/dotnet/coreclr/issues/17324
https://github.com/dotnet/coreclr/issues/17325

If we get that functi

[2018-04-13 22:03] Anipik commented on #29095
@JeremyKuhne the error is reproducable in 2.0 but not in  2.1.
I added in a new test in the both repo (master(2.1) and release/2.0.0). https://github.com/Anipik/corefx/blob/enumerate/src/System.IO.FileSystem/tests/Directory/EnumerableTests.cs#L48

It returned the list of the subDirectories in 2.1
[code]
whereas in 2.0 it returned
[code]

[2018-04-13 22:07] karelz commented on #28830
@sebastienros can you please confirm that other workloads and OSs did NOT regress between these 2 builds?

[2018-04-13 22:10] JeremyKuhne commented on #29095
None of the other tests failed? Or are other tests failing in 2.0? If none of the other tests are failing, what is different about your test that doesn't already get covered?

[2018-04-13 22:15] JeremyKuhne opened #29102 "GC.RegisterForFullGCNotification requires spinning up a thread for events"
GC.RegisterForFullGCNotification, and the WaitForFullGCApproach/Complete APIs require spinning up a thread for tracking. It would be nice to have

It would be nice to provide an API that doesn't require spinning up a new thread and holding onto it. Perhaps a callback that we fire back on a threadpool thread (or maybe even on the finalizer thread)? Such a thing would have potentially been useful in

[2018-04-13 22:36] karelz commented on #29065
@caesar1995 can you please patch nightly build with fix of #29050 as we discussed in standup? (just grab latest binary with the fix and replace it in the latest nightly build)
It will help us double-check that fix for #29050 helps in the end-to-end scenario and makes the regression go away. Thanks!

[2018-04-13 22:38] rmkerr commented on #28830
Just to add on to this, I've been working to confirm the testing done by @wfurt. I can roll back System.Net.Security and System.Net.Http to well before the perf regression without seeing the performance drop go away. Only when I switch to newer versions of aspnetcore and the runtime do I see the same regression.

[2018-04-13 22:42] karelz commented on #29087
Good to know this is not a regression - it still seems like machine config problem to me (kinit as @wfurt suggested - it is different between Windows and Linux).

[2018-04-13 23:12] Anipik commented on #29095
if I modify the test to
[code]
Then the output is same as in 2.1 i.e
[code]

[2018-04-13 23:16] karelz commented on #29005
@caesar1995 can you please try to reproduce this issue? Is it regression against 2.0? Thanks!

[2018-04-13 23:25] caesar1995 commented on #29065
I tried using my local corefx build for the repro, there are some noise which I'm not sure that if #29050 resolved the regression.

I will wait until Monday to use the next official nightly build to confirm it.

[2018-04-13 23:31] karelz commented on #28898
Based on offline email discussion, we consider this good enough for 2.1. Closing.
For future we should explore improvements in surfacing errors - it was not design goal so far, due to lower customer demand. It is tracked also by #4148.

[2018-04-13 23:31] #28898 closed

[2018-04-13 23:37] rmkerr commented on #29027
These lines are incorrect:
[code]

When I write out the actual URI being created there, I get the following:
[code]

Notice how **UriErrorExample.dll** is included there in the middle? That's what is making the path invalid :)
[As it turns out](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.location?view=netcore-2.0#System_Reflection_Assembly_Location), `Assembly.Location`

[2018-04-13 23:48] Anipik commented on #29095
We change string.empty to "*" in 2.1 at https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerableFactory.cs#L44
whereas in 2.0 we were not converting it to anything
https://github.com/dotnet/corefx/blob/release/2.0.0/src/System.IO.FileSystem/src/System/IO/PathHelpers.Windows.cs#L87

[2018-04-14 00:34] #28749 closed

[2018-04-14 03:29] jchoi2022 commented on #29049
Hm, that is strange. Maybe Mono version is affecting the behavior? I checked once more, by installing Mono in a fresh Ubuntu 16.04.4 image, following the instructions from http://www.mono-project.com/download/stable/#download-lin. It led to installing mono version `5.10.1.20`.

[code]
When I compile and strace the following program, I can observe unlink() call.
[code]

Could you check your Mono ve

[2018-04-14 05:44] danmosemsft commented on #28791
Can you update issue @pjanotti?

[2018-04-14 05:45] danmosemsft commented on #27495
@jorive can your please give status.

[2018-04-14 07:20] davidfowl opened #29108 "IBufferWriter should have a Length property"
This should be return the amount of buffered bytes. I was thinking that it would be simple to add this to PipeWriter but we actually should have this on `IBufferWriter<T>`. It's required for writing out length prefixed protocols:

[code]

/cc @KrzysztofCwalina @pakrym

[2018-04-14 07:32] davidfowl commented on #29108
@joshfree @ahsonkhan so this is an interface and we can't change it after we ship 2.1...

[2018-04-14 08:08] CarlosOnline commented on #8807
Request to add AccessToken to SqlConnection for AAD Service Principle authentication.

`var con = new SqlConnection(builder.ToString()) {AccessToken = token};`

[2018-04-14 12:48] kdg3737 opened #29110 "SslStream LocalCertificateSelectionCallback"
The LocalCertificateSelectionCallback of SslStream is not called anymore on .Net Core 2.1 Preview. I looked in the code and it seems someone was trying to replace it with another callback but didn't finish the implementation.

We need this for SNI, please fix this for the release.

[2018-04-14 13:02] sparkie108 commented on #25334
The common use case that benefits the most from optimization is transforming an array of points with a single matrix, c.f. DirectXMath's:
* XMVector2TransformStream
* XMVector3TransformCoordStream

So I think we need something like:

[code]

The large matrix param is then only passed once, so the in/not-in debate becomes mute.

[2018-04-14 14:11] ysmoradi commented on #16101
Following is MetadataTypeAttribute's codes copied from reference source:

[code]

This is mine:

[code]

I think my code is better, because it throws an exception for null constructor parameter earlier, instead of raising an exception later while you get property's value without any condition.

I'd like to apply my own code, but this results into different behavior between DotNetCore & DotNetFull.

[2018-04-14 14:22] RussKeldorph opened #29113 "Windows builds should always be portable"
See dotnet/coreclr#17533.

[2018-04-14 14:24] stephentoub commented on #29110
cc: @krwq, @karelz

[2018-04-14 14:39] stephentoub commented on #29049
That's because you're calling File.Delete in your program.

[2018-04-14 15:07] jchoi2022 commented on #29049
Oh, I am sorry for the mistake. I inserted File.Delete for some other purpose, and forgot to remove.

And yes, now I can observe the Mono behaving as you described. I will update some of the comments accordingly, to avoid confusion. Thank you for the correction.

[2018-04-14 16:14] trondhindenes commented on #28924
I assumed that Ubuntu 18 was supported by looking at https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0-supported-os.md. Turns out there was a line missing, which lead me to believe that Ubuntu 18 was a supported OS, while it in fact was Linux Mint 18. This error has been fixed it seems, to the table is correct now.

So, all is good. I'm obviously eagerly awaiting .Net 2.0 support fo

[2018-04-14 16:35] ysmoradi commented on #16101
I've committed changes to my own fork in [one commit](https://github.com/bit-foundation/corefx/commit/45ebfe7bce40ce35c823c9de7571cdead83b554c?diff=unified). But I'm not going to create a PR for this.
When I try to build using .\build.cmd command, everything works fine. But when I try to run .\build.cmd -allconfigurations to achieve packages to test them on my own app, I receive following errors:

[2018-04-14 17:49] ysmoradi commented on #16101
@karelz I appreciate your comment. What about build error, what should I do?

[2018-04-14 18:39] karelz commented on #16101
It looks like there is no reference from S.CM.Annotations to S.CM.TypeConvertor where the missing types live. I would try to change the .csproj of the modified ref.

[2018-04-14 18:49] pakrym commented on #29108
Can't you wrap it into a something that would do counting? IBufferWriter itself doesn't really have any concept of buffering, it appears only when you add Flush like in PipeWriter.

[2018-04-14 19:04] davidfowl commented on #29108
It is fully buffered because it doesn’t have a flush. It would force me to allocate to get a length prefix.

[2018-04-14 19:36] ysmoradi commented on #16101
Thanks. Let me know when you managed to make it work :-)

[2018-04-14 19:37] pakrym commented on #29108
There is no promise of buffering in IBufferWriter, even you sample is wrong, as soon as you call `Advance()`  memory should not be used. For all you know it was a native pointer that has already been freed.

[2018-04-14 19:49] tarekgh commented on #28933
Thinking more about the proposed APIs, I think it would be better to introduce the ISOCalendar class instead of adding these static methods to the Calendar class. I mean we'll implement the full ISO calendar and add all needed functionality. what do you think about that?

[2018-04-14 20:09] davidsh commented on #29110
It would be good to see the repro for this.

When I tried my own repro, I don't see a problem.  My X method gets called as expected on both .NET Core 2.0 and .NET Core 2.1 Preview 2.

[code]

[2018-04-14 21:46] davidfowl commented on #29108
Meh, I don't buy that, I *maybe* would have agreed, but if you freed the memory after Advance, lots of other things won't work. This interface is about buffered writes and we shouldn't pretend it's not.

[2018-04-14 21:51] pakrym commented on #29108
I completely disagree, it is about dumping bytes somewhere without fixed buffer sizes not about buffering

[2018-04-14 22:05] davidfowl commented on #29108
I disagree with that. If it's not fully buffered then it's a performance disaster waiting to happen (no way to flush). We can rename it to `IBufferedWriter` so that the name states that it is buffered.

[2018-04-14 22:07] pakrym commented on #29108
It can be buffered to a point (imagine auto flush every 2k) but not entirely. Would still break you scenario. Also you sample is disaster waiting to happen if message size is large.

[2018-04-14 22:11] davidfowl commented on #29108
Synchronous auto flush?

[2018-04-14 22:34] davidfowl commented on #29108
LOL

[2018-04-14 22:51] krwq commented on #29110
@kdg3737, could you clarify? For server side SNI you should be using `ServerCertificateSelectionCallback` which is a new API. For client side you simply pass a hostName when calling authenticateAsClient. `LocalCertificateSelectionCallback` is for client side code so that you can send certificate if for whatever reason server requires it.

[2018-04-14 23:13] JeremyKuhne commented on #29095
@anipik Please try and repro the reported customer issue as linked. I've included it here for your convenience:

[code]

Looking at 2.0 I see that we definitely add the `*`:

https://github.com/dotnet/corefx/blob/release/2.0.0/src/System.IO.FileSystem/src/System/IO/Directory.cs#L337-L344

Moving back into 2.1 until you've validated the reported code.

[2018-04-14 23:44] cdmihai opened #29116 "Binary serialization exceptions should help debugging by mentioning type / member information"
The following exception does not identify which type / member it's referring to, forcing the user to either debug and forage through `System.TypedReference.MakeTypedReference` or to manually walk the object graph in search of the offending type.

[code]

[2018-04-15 00:16] danmosemsft commented on #29116
Seems like a good idea if it is practical. I imagine there are many other exception paths.

[2018-04-15 02:23] dfederm opened #29118 "Outbound connections time out with new managed sockets"
When upgrading from 2.1 preview 1 to preview 2, all of a sudden all the outbound calls from my asp.net core app (except Azure SQL calls for some reason) seem to hang and eventually timeout. I'm seeing this behavior with both an HttpClient and using the latest Azure Storage SDK.

Based on the release notes, I suspected it's due to the switch to managed sockets and confirmed this by setting `DOTNET_

[2018-04-15 03:05] stephentoub commented on #29118
Are you running on a machine with a single core / where Environment.ProcessorCount returns 1?  There's an unfortunate bug in Preview 2 that can result in hangs on a single core machine; it's already been fixed, but we didn't discover it until after we'd already forked for Preview 2.

[2018-04-15 03:26] dfederm commented on #29118
@stephentoub Yup, I'm using an Azure plan which only gives me one core so I assume that `Environment.ProcessorCount` would also only return 1.

Thanks for the confirmation. If it's a known issue, and better yet already fixed, then that's fine. It is a preview after all :).

Happen to have an issue number and/or PR number to link this issue to?

[2018-04-15 03:37] Suchiman opened #29119 "Add unmanaged constraint to MemoryMarshal.Cast"
With C# 7.3 there's now the [unmanaged generic constraint](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/blittable.md) and it looks like it should be applied to [MemoryMarshal.Cast](https://github.com/dotnet/corefx/blob/27149e4a86ba5827229b8294f1dd19f3f7d58184/src/Common/src/CoreLib/System/Runtime/InteropServices/MemoryMarshal.Fast.cs#L115-L116) before that becomes a breaki

[2018-04-15 06:43] kdg3737 commented on #29110
LocalCertificateSelectionCallback does also work also for server side code with the .Net Framework, I've been using it for years to select a certificate after ClientHello. AFAIK it's also the only way to do SNI on .Net Framework.

Here's some code to clarify :

[code]

By not calling LocalCertificateSelectionCallback .Net Core is breaking backwards compatibility and tbh I don't see the point of th

[2018-04-15 06:51] PeterHag commented on #18964
Hi Guys, I'm also hitting this issue in my project and it is blocking further development. I've created a .NET Standard library and reference this from a .NET Framework 4.7.1 console application. Inside the library I use XmlSerialization but it does not work due to the thread error:

System.InvalidOperationException: 'Unable to generate a temporary class (result=1).
error CS0012: The type 'System.

[2018-04-15 08:38] Tornhoof opened #29120 "ApiProposal: string.Create method which takes an additional Span as data parameter"
With the new ``Span<>`` based Apis an additional method to create strings was added which takes the length and an action + state as parameter to allow alloc-free modification of the string based on the action.
The signature is:
[code]
An example of the usage is in @stephentoub's article https://msdn.microsoft.com/en-us/magazine/mt814808.aspx

I propose an additional method taking a ``ReadonlySpan<

[2018-04-15 09:13] ysmoradi commented on #16101
By following csproj config, it works

[code]

Instead of

[code]

Is it ok?

[2018-04-15 10:01] kasper3 commented on #29059
Looking at the code, https://github.com/dotnet/corefx/blob/27149e4/src/Common/src/CoreLib/System/Number.Parsing.cs#L399, it seems like it doesn't account for position of thousand separator (except when `,` appears at position 0 it returns false), but only its presence. Even `double.TryParse("333,333,22,22,1,1,1,1,,,,,,,", NumberStyles.Number, CultureInfo.GetCultureInfo("en-US"), out double number)

[2018-04-15 10:02] stephentoub commented on #29118
https://github.com/dotnet/corefx/issues/28979
#28983

[2018-04-15 10:58] fitzchak commented on #29056
This make sense. Thanks.

[2018-04-15 10:58] #29056 closed

[2018-04-15 11:30] khellang commented on #28933
What's the feeling on nested types? `Calendar.ISO.GetWeekOfYear`?

[2018-04-15 11:46] stephentoub commented on #29119
cc: @ahsonkhan, @jkotas

[2018-04-15 11:47] #29118 closed

[2018-04-15 11:51] jnm2 commented on #29119
What do older compilers do when they see this constraint on that API?

[2018-04-15 12:05] Suchiman commented on #29119
@jnm2
The unmanaged constraint is implemented as `modreq`, with version 2.3 of roslyn you get
[code]

[2018-04-15 12:35] stephentoub commented on #29005
It is not a regression.

[2018-04-15 12:50] benaadams commented on #29119
Would also apply to anything that checked `IsReferenceOrContainsReferences` and then threw an exception?

[code]

[2018-04-15 13:01] benaadams commented on #29119
error CS0648: '' is a type not supported by the language
`

Would that mean you could only call these apis with C#7.3+ ?

[2018-04-15 13:03] Suchiman commented on #29119
@benaadams Yes

[2018-04-15 13:24] Suchiman commented on #29119
In my opinion lifting the required C# version to 7.3 isn't too much of a price to pay as all the Span stuff requires C# 7.2+ anyway and we gain additional compile time safety through this.

[2018-04-15 14:03] hazama-yuinyan opened #29122 "How can I use the APIs in the System.Reflection.Metadata namespace?"
Hi! I'm developing a programming language of my own using the expression tree API and want to debug programs written in Expresso(which is the name of the programming language) in VS Code.
To do that, I need to first generate *PDB/MDB* files and I found and heard that one can generate Portable PDB files by using APIs from the `System.Reflection.Metadata` namespace. But I just can't find any documen

[2018-04-15 14:16] myrup opened #29123 "Exception when launching a process"
On 2.1 preview 2 built for linux-arm (raspbian jessie), I get this after a few hours of spawning and exiting processes.
[code]
It's just a guess, but could it be the dictionary is not properly reaped before a new process reuses the pid ?

[2018-04-15 14:45] jkotas commented on #29119
The unmanaged constrain are using modreq in a position where it was not ever used before. There are know issues in the existing tooling and runtimes that is not handling them correctly. It makes it risky to start using these at this point for 2.1. It has unpredictable bug-tail.

Other related discussions that touch of problems with unmanaged constrains:
- https://github.com/dotnet/roslyn/issues/25

[2018-04-15 14:50] mtosoftware opened #29124 "System.Drawing conversion?"
Just pointing out that I think it would be a fantastic idea to implement implicit conversion to and from things like PointF, RectangleF to Vector2 and Vector4.

[2018-04-15 14:52] jkotas commented on #29120
The root cause of the problem that this is solving is that it is not possible to instantiate generic types over `ref` types. I have run into this or seen people running into this in number of other places. I think it would be better to look into what it would take to relax this restriction instead of introducing these one-off fixes (introduce a new kind of constrain?).

[2018-04-15 14:55] davidsh commented on #29110
@kdg3737 Thx for the bug report. I agree that the changes in .NET Core 2.1 should not be breaking previous behavior. We'll investigate why the LocalCertificateSelectionCallback is no longer being called.

@Tratcher Can you comment on this issue?  The original ask from ASP.NET was about the request for SslStream (server-mode) to be able to receive/parse SNI from client hello and provide a callback

[2018-04-15 15:37] Tratcher commented on #29110
We looked at LocalCertificateSelectionCallback and decided that too many of the parameters didn't apply to the server scenario. That's why it got added to SslClientAuthenticationOptions and not SslServerAuthenticationOptions.

If it was being called before and no longer is, yes that's a compat issue. If you provide both a ServerCertificateSelectionCallback and LocalCertificateSelectionCallback it'

[2018-04-15 15:47] benaadams commented on #29119
The check and throw
[code]
could be left in the method body to act as a runtime guard where its not valid?

i.e. the runtime doesn't need to rely on modreq working correctly; but it would act as a compile time discovery if/when the tooling is handling it correctly?

Though, I don't really have enough of an understanding of modreq to form an opinion.

[2018-04-15 15:58] davidsh commented on #29110
Yes, that behavior is reasonable for the new API methods for AuthenticateAsClientAsync and AuthenticateAsServerAsync that take the new data types for SslClientAuthenticationOptions and SslServerAuthenticationOptions.

But it appears that using the original methods and callbacks of SslStream, that LocalCertificateSelectionCallback was being called during server-mode for SslStream (AuthenticateAsSer

[2018-04-15 17:02] tarekgh commented on #28933
@khellang

Do you mean ISO would be a static class? This may be ok but I am still preferring to have IsoCalendar class instead. the reason, is I am seeing ISO is a calendar by itself and can be used as any other calendar. even the calendar resources (the standard, books, sites...etc.) always refer to it as a calendar.

@iSazonov

I agree it is culture independent but this is doesn't really matter

[2018-04-15 17:36] danmosemsft commented on #29123
@viktorhofer who was going to help stress test all this.

[2018-04-15 17:46] DenisKot opened #29125 ".Net Core 2.0 mvc.razor.viewcompilation.rsp build exception MSB3073 exited with code -2147450751"
Build solution fails with strange error:

If double click on error VS opens up file:

At line:
`<Exec Command="$(ExecArgs)" WorkingDirectory="$(MSBuildProjectDirectory)" />`

To fix it I've tried to update .net core libraries from version 2.0.0. to 2.0.6, have been update visual studio 2017 to 17.6.6, even revret my changes but nothing is helping.

How to fix it?

[2018-04-15 17:58] DenisKot commented on #29125
If to set in .csproj
`<MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>`
it builds. But I'm not publishing I'm just debugging.
But it means that it will not compile if I will publish :(

[2018-04-15 18:41] TrevorFradsham opened #29126 "# in file directory name causes System.Configuration.ConfigurationManager not to discover appsetings for .net core 2.0 app"
The path to my project files has a hashtag # in it and I spent many hours trying to find out why my .net core 2.0 console app was not able to access the System.Configuration.ConfigurationManager.AppSettings. I thought it was a misspelling of the strings but when I moved the project folder out of the sub-directory with the hashtag, everything worked find.

\code\c#\projectfolder
\code\projectfolder

[2018-04-15 18:43] kdg3737 commented on #29110
Considering the 'server scenario' where performance is a serious issue it's more than reasonable to have only one callback. That's why it's INSANE to invent another callback type when an 'SNI ready' one is already in place (the targetHost is indeed constant null in previous frameworks, it just needs to be set to support SNI).

The way I see it your best option is to dump the ServerCertificateSelec

[2018-04-15 18:45] tmds commented on #29123
preview2 does not support having a new child Process which has the same pid as an existing Process instance (which has exited, so pid was recycled).
If you do this, then you get this exception.
Is it possible this is happening in your application?

https://github.com/dotnet/corefx/pull/27763 adds support for this. Probably that PR is in the daily builds already. Maybe you can give those a try and

[2018-04-15 18:50] ShawnSteele commented on #28933
FWIW, I like the idea of Calendar.ISO - Similar to the way there is Encoding.UTF8.  Presumably it could be an ISOCalendar.

However, there still is GetISOYearForISOWeek() which makes it extra functionality than other calendars would.

It almost makes me think there needs to be another ISOWeekCalendar form, because I'm not sure what happens to an ISOCalendar when you pass it into formatting APIs.

[2018-04-15 18:52] benaadams commented on #29119
@GrabYourPitchforks pointed out it would be problematic to call these functions from a method that you switch paths on an if statement with `RuntimeHelpers.IsReferenceOrContainsReferences<T>()` as the non-reference path then couldn't call the `AsBytes` method for example as it wouldn't be correctly constrained (even though the test validated it was a correct type)

[2018-04-15 19:02] davidsh commented on #29110
@kdg3737 Thanks for your feedback.  The team will be discussing this issue to determine next steps prior to .NET Core 2.1 RTM.

To help explain all the old/new calling patterns for SslStream.AuthenticatAsServer* and the regression, I wrote a small .NET Core application that shows the various problems.

[SslStreamAsServer.zip](https://github.com/dotnet/corefx/files/1913196/SslStreamAsServer.zip)

[2018-04-15 19:32] myrup commented on #29123
@tmds sounds like this is fixed by #27763 . Starting tests with the daily build to verify.

[2018-04-15 20:40] stephentoub opened #29127 "Failed SslStream assert in new HttpClient perf tests on Unix"
This appears to be happening consistently across all distros/versions, Linux and macOS.
[code]

[2018-04-15 20:51] jkotas commented on #29119
Right, the `unmanaged` constrain is both too limited and too dangerous at the same time. I do not think it is very useful. I wish that C# just removed the restriction on what can pointers point to instead (e.g. turned pointers pointing to potentially non-blittable types into warnings). It would get us on path towards removing dependency on S.R.CS.Unsafe and similar hacks.

[2018-04-15 20:53] mklement0 commented on #12336
Below is a summary of the existing shortcomings and how they relate to how things work in the Unix world.

Please note:

* I haven't looked at the source code, so some of this is speculative. Do tell me where I'm wrong.

## Context:

**The _fundamental_ restrictions regarding <kbd>Control</kbd>-based chords and <kbd>Alt</kbd>-based chords - which come from most Unix-like OSs running `xterm`-emulat

[2018-04-15 21:30] tapika commented on #18922
One more implementation to your list:
https://sourceforge.net/p/syncproj/code/HEAD/tree/SolutionProjectBuilder.cs#l1419

What currently syncProj does not support is listing of file extensions by "{cpp,h}" - and I've concluded not to support that syntax, as it can be resorted to regex match pattern (cpp|h), but then it matches either .h or .cpp whichever exists, but typical use for syncProj is to m

[2018-04-15 21:50] tarekgh commented on #28933
With that, we'll need ISOCalendar anyway. Having extra property Calendar.ISO we can have if it is proved really useful. But we didn't do that with other calendars. Imean we don't have Calendar.Gregorian for instance. In general, I think it can be a good idea as users don't have to create a new Calendar object every time they want to use it. and instead, we can return the cached calendar instance.

[2018-04-15 22:07] caesar1995 commented on #29065
I can confirm that #29050 resolved the regression with 2.1.300-preview3-008627.

Without setting `UseProxy = false`, 55235 requests/second.
With `UseProxy = false`, 55878 requests/second.

<img width="516" alt="capture" src="https://user-images.githubusercontent.com/8537784/38783897-ee736a28-40bd-11e8-98e1-e37f34b82cb6.PNG">

To entirely avoid any auto-discovery, we can explicitly set UseProxy to

[2018-04-15 22:07] #29065 closed

[2018-04-15 23:07] khellang commented on #28933
Yes, I mean having a nested static class insidd `Calendar` with methods specific to ISO. As we've already discussed earlier in the thread, it doesn't make much sense to implement some of the existing methods (or at least overloads) of the existing `Calendar` abstract class.

[2018-04-15 23:32] danmosemsft commented on #29126
@anipik can you localize this? I wonder whether it's URI related.

[2018-04-15 23:40] stephentoub commented on #29127
It happens every time for me with the:
[code]
test.

[2018-04-16 00:22] benaadams opened #29129 "async FileStream Writing is x2 worse in perf than non-async"
Seen in https://github.com/electricessence/AsyncFileWriter/pull/1 (Windows 10; netcoreapp2.0 and netcoreapp2.1)

Non-async (just for `FileStream.Write`)
[code]
Making the change https://github.com/electricessence/AsyncFileWriter/commit/752f7efd40b560ff40b13bd387466d9e298db343

`useAsync = true` and `fs.Write(` => `await fs.WriteAsync(`

Causes a dramatic slow down:
[code]
Seems to use a lot of thr

[2018-04-16 00:28] benaadams commented on #29129
`useAsync = false` and `await fs.WriteAsync`
[code]

[2018-04-16 00:29] #29029 closed

[2018-04-16 00:55] benaadams commented on #29129
`useAsync = false` and `await fs.WriteAsync`

netcoreapp2.0
![image](https://user-images.githubusercontent.com/1142958/38785433-ef8439ec-4117-11e8-898f-5952a2841701.png)

netcoreapp2.1
![image](https://user-images.githubusercontent.com/1142958/38785535-013de66e-4119-11e8-9004-91e8846e417e.png)

![image](https://user-images.githubusercontent.com/1142958/38785556-2c0b9d32-4119-11e8-818f-b883fd906430

[2018-04-16 01:01] benaadams commented on #29129
netcoreapp2.1 `useAsync = true`
![image](https://user-images.githubusercontent.com/1142958/38785629-e24e990a-4119-11e8-8999-c26b428bcac5.png)

I was expecting `FileStreamCompletionSource` in the allocations from `WriteAsyncInternalCore` but don't see it?

[2018-04-16 01:44] stephentoub commented on #29129
Is this using a FileStream or something derived from FileStream?

[2018-04-16 02:03] stephentoub commented on #29129
It's got more overhead and scales better; that's the tradeoff.

We could look at using an IValueTaskSource to back the new overload ValueTask-returning overload, but I'm afraid that ship may have sailed at this point, as it's an observable change and we're locking down the 2.1 release.

[2018-04-16 02:33] geoffkizer commented on #29029
btw, for future reference:
(1) I do think we should look at using MSG_DONTWAIT in the future
(2) There doesn't seem to be a way to use MSG_DONTWAIT with Accept, so we may have to do something else for Accept specifically

[2018-04-16 02:35] stephentoub commented on #29029
That sounds good to me, as long as we can make it work everywhere we need it.

[2018-04-16 03:50] #29127 closed

[2018-04-16 03:52] stephentoub commented on #28631
This is happening again, e.g.
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/3a27e2aed614a94dea6deb843f4f5ef68353092c

[2018-04-16 04:07] AlexRadch opened #29134 "Marchaling of Default and Empty ReadOnlySequence"
Early ReadOnlySequences works incorrect with default value. Now it is fixed except marshaling methods.

Now if we try to marshal Default ROS it will be converted to Default ReadOnlyMemory. But if we try to create ROS for default ReadOnlyMemory then Empty ROS will be created.

So marshaling change Default ROS to Empty ROS. Is it issue?

If we try to marshal Empty ROS it can be marshaled and ArraySe

[2018-04-16 05:52] electricessence commented on #29129
https://stackoverflow.com/questions/49827208/ado-async-all-the-way-down-the-tubes/49837693#49837693

### Iterate 1,000,000 times .Write(bytes)
Total Elapsed Time: 0.1750803 seconds

### Iterate 1,000,000 times .WriteAsync(bytes)
Total Elapsed Time: 3.1865426 seconds

[2018-04-16 05:55] electricessence commented on #29129
And to be clear, the times Ben listed are not correct.  The performance is much worse when Async.
@stephentoub.  That's what I've been thinking is that when quick-iterating, it's just not worth the async overhead per write.  Especially if you've already got your data queued up.

[2018-04-16 06:51] tmds commented on #29123
If there are still existing (i.e. non-Disposed) instances that refer to that pid, then we can assume we know the root cause.

On the other hand, if your application is disposing _all_ Process instances close to their exit, then there shouldn't be remaining 'state' that causes issues when a pid is recycled. This would likely mean there is a bug in the ProcessWaitState reference counting. Having htt

[2018-04-16 06:59] dotMorten opened #29139 "SqlClient UDT support needs an assembly-plugin model"
I built a .NET Standard implementation of the `Microsoft.SqlServer.Types` classes. This works great for insertion, but when deserializing I'll get an exception like this:
![image](https://user-images.githubusercontent.com/1378165/38794079-b34e7df2-4108-11e8-9ca1-7631c9c50840.png)

Instead I have to write something like:

[code]

This makes sense, because SqlClient has no idea I provided an impleme

[2018-04-16 07:53] benaadams commented on #29129
Closing for now; was concerned it wasn't taking the overlapped path, but that seem to not be the case - was a build mix up.

Will open a new one if I get a smaller repo for perf

[2018-04-16 08:09] Plasma commented on #21796
@jahmai @kohner86 I have a potential mitigation:

[code]

If you are using AWS SDK, try setting this during application startup.

The deadlock occurs when the ServicePoint limit is changed (which the SDK does for each request), so there is a high chance of deadlocks.

By setting the DefaultConnectionLimit to match what the Amazon SDK keeps setting for each request, the locks are skipped, because t

[2018-04-16 08:33] dotnet-mc-bot opened #29140 "Test failure: System.Buffers.ArrayPool.Tests.CollectionTests/BuffersAreCollectedWhenStale(trim: False)"
Opened on behalf of @Sunny-pu

The test `System.Buffers.ArrayPool.Tests.CollectionTests/BuffersAreCollectedWhenStale(trim: False)` has failed.

$BlockedFromReflection_2_3e71ca96 : Remote process failed with an unhandled exception.

        Stack Trace:

    Child exception:
      Xunit.Sdk.StartsWithException: Assert.StartsWith() Failure:
    Expected: TlsOverPerCoreLockedStacksArrayPool
    Actua

[2018-04-16 08:36] Sunny-pu commented on #29140
failed tests:
BuffersAreCollectedWhenStale(trim: False)
BuffersAreCollectedWhenStale(trim: True)
PollingEventFires(trim: False)
PollingEventFires(trim: True)

[2018-04-16 08:39] dotnet-mc-bot opened #29141 "Test failure: System.Buffers.ArrayPool.Tests.CollectionTests/ThreadLocalIsCollectedUnderHighPressure"
Opened on behalf of @Sunny-pu

The test `System.Buffers.ArrayPool.Tests.CollectionTests/ThreadLocalIsCollectedUnderHighPressure` has failed.

System.InvalidOperationException : An appropriate member 'IsStressModeEnabled' could not be found. The conditional method needs to be a static method or property on the type System.TestEnvironment or any ancestor, of any visibility, accepting zero arguments,

[2018-04-16 08:50] benaadams commented on #29129
So `WriteCore` only calls `VerifyOSHandlePosition()` whereas `WriteAsyncInternalCore` makes far more syscalls (including `VerifyOSHandlePosition()`)

With `SetEndOfFile` looking like it takes the same time as `WriteFileNative`

![image](https://user-images.githubusercontent.com/1142958/38799114-6cdbe028-415b-11e8-8be5-aa642784b4ab.png)

[2018-04-16 09:02] benaadams commented on #29129
Non-async FileStream, blocking Write
![image](https://user-images.githubusercontent.com/1142958/38799725-30e0ac32-415d-11e8-8f7c-4c08b829c05b.png)

[2018-04-16 09:16] stephentoub commented on #29129
@benaadams, I don't understand what the action item is meant to be on this issue.

[2018-04-16 09:44] imgrey commented on #24482
RFC 2388 says:
"""
   Field names originally in non-ASCII character sets may be encoded
   within the value of the "name" parameter using the standard method
   described in RFC 2047.
"""

RFC 2047, in turn, says:
"""
   Generally, an "encoded-word" is a sequence of printable ASCII
   characters that begins with "=?", ends with "?=", and has two "?"s in
   between.  It specifies a character set an

[2018-04-16 10:42] #29040 closed

[2018-04-16 10:58] benaadams commented on #29129
With this one weird trick... https://github.com/dotnet/coreclr/pull/17581

[2018-04-16 11:00] benaadams commented on #29129
Pre
![image](https://user-images.githubusercontent.com/1142958/38805013-423f5988-416c-11e8-8652-9de021776f55.png)

Post
![image](https://user-images.githubusercontent.com/1142958/38805082-80a1cce2-416c-11e8-801b-a3835be1809d.png)

Pre
[code]
Post
[code]

[2018-04-16 11:31] benaadams commented on #29129
There's a second behviour difference. WriteAsync will issue a Flush+Write if it would over fill the buffer; whereas Write will issue a Flush and then copy into the cleared buffer (if under buffer size; otherwise Write); so may have an extra Write creeping in - but that's a more involved item to look at, at some point in future.

[2018-04-16 12:07] stephentoub commented on #29141
cc: @JeremyKuhne

[2018-04-16 12:08] stephentoub commented on #29140
cc: @JeremyKuhne

[2018-04-16 12:11] Timovzl commented on #23629
@Drawaes Come to think of it, block operation might be much safer than using streams. A layman may touch streams, but he will much rather use the one-shot API than block operation. Moreover, block operation cannot _straightforwardly_ be combined with, say, `XmlReader`. So actually, many of the dangers discussed apply to stream objects, but not to block operation.

To work with block operation when

[2018-04-16 12:17] Drawaes commented on #23629
TLS and pipelines. Currently (and for the foreseeable future) pipelines uses 4k blocks but a tls message can be 16k of cipher text.with a one shot you will need to copy the 16k to a single contingous buffer before you can decrypt. With blocks you might have say 4 or 5 and you might need to buffer upto 16 bytes to ensure compete blocks.

[2018-04-16 12:25] ankgupta067 opened #29143 ".net core dll as a reference behaves differently from .net"
create a .net standard dll , name it as Paas dll, and change the output path ..\Output\

add a class logger like below-

[code]

Now create another .net core console project in solution and add dll as a refrence ( not project refrence) for pass.dll and make copy local to false.

Also change output directory of console app to ..\Output\

add below code in console app -

[code]

Build and run .net c

[2018-04-16 12:53] jnm2 commented on #29122
I found the documentation at https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/PortablePdb-Metadata.md to be extremely helpful. The APIs in `System.Reflection.Metadata` map pretty directly to the that low-level structure.

[2018-04-16 12:56] jnm2 commented on #29122
I found the documentation at https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/PortablePdb-Metadata.md to be extremely helpful. The APIs in `System.Reflection.Metadata` map pretty directly to the that low-level structure.

As far as finding real-world code that uses these APIs, this was a useful reference at times since I think it's the main driver for `System.Refle

[2018-04-16 13:43] hazama-yuinyan commented on #29122
I also found the documentation about the format of the portable PDB, which will be indeed helpful if I will have decided to implement the feature by myself.

Hmm, when I said *how to use the APIs* I meant public-facing APIs that users could call and didn't need to know about how it does something. So I was expecting you were telling me about the public-facing APIs. Sorry about that.

Is there any

[2018-04-16 13:53] jnm2 commented on #29122
These are public-facing APIs and critically useful ones at that. I've used them in a number of projects. Personally, I'm scratching my head at the suggestion that APIs could exist that would allow you to build PDBs for your custom language without knowing what PDBs are and how they work—some kind of abstraction over kinds of PDB?—but I don't speak for the corefx team, so let's wait to hear from th

[2018-04-16 14:18] AtsushiKan commented on #15960
Thanks everyone for the spirited debate.

I'm going to have to side with team `NullReferenceException` on this.

This particular api feature is about convenience and intuition and while the `NullReferenceException` approach makes the ref case a bit more "special" (*), it mirrors exactly the way that refs make early bound calls special. I don't think it would be confusing. It also has the advantage

[2018-04-16 14:19] AtsushiKan commented on #29060
The arguments in favor of `NullReferenceException` have convinced me. Closing this.

[2018-04-16 14:19] #29060 closed

[2018-04-16 14:21] hazama-yuinyan commented on #29122
Oh, I see. I'll try that out!

Ah, I'm feeling that I misunderstand your point. Did you mean **"Use the MetadataBuilder class. It's the public-facing API"**? I thought it *contained* public-facing APIs.

By the way, I just thought it would be wonderful to have API like the ones in [Mono.Cecil][monocecil] with which you write something like the following to read and write back PDB files.

[code]

A

[2018-04-16 15:00] jnm2 commented on #29122
I'm sorry I didn't understand you right away! Any `public` (or `protected`) surface area is externally visible to other assemblies, and thus this surface area is considered an API since it performs all the functions of an API.
Therefore, copying MetadataBuilder.cs into your source code would be an example of using the implementation while managing to avoid using the API. Coding directly against Me

[2018-04-16 15:26] jorive commented on #27495
@danmosemsft I am waiting on https://github.com/dotnet/buildtools/pull/2008. This change will enable two runs capturing different profile data.

[2018-04-16 15:34] jcagme opened #29144 "NuGet build failures in 'prodcon/corefx/master/' - '20180416.01'"
@dotnet-mc-bot commented on [Sun Apr 15 2018](https://github.com/dotnet/core-eng/issues/3292)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1594896
  - **Agent:** DDVSOLINUXAGE007
  - **Error log:** /root/corefx-1594896/external/runtime/runtime.depproj : error NU1102: - Found 414 ver

[2018-04-16 15:36] dotMorten commented on #12034
I tried building Geometry and Geography and the builders from the Microsoft.SqlServer.Types assembly as a .NET Standard library here: https://github.com/dotMorten/Microsoft.SqlServer.Types
It does most of the creating and reading the types: (note: No support for the spatial operations and curve support is only half-way there). It seems to work with most of the data I tried throwing at it.

[2018-04-16 15:36] Timovzl commented on #23629
@Drawaes 16k is still constant and not huge. Does it make much of a difference in this context?

[2018-04-16 15:39] electricessence commented on #29129
@benaadams  Make sure you're you are using the latest code.   Your previous code **_was not_** completing all the writes.  It just cut short and made the times look much better.  _They are **much worse**._

[2018-04-16 15:45] rmkerr commented on #29027
Okay -- I'm going to close this issue for now. If you're able to repro the other issue don't hesitate to reopen this.

[2018-04-16 15:45] #29027 closed

[2018-04-16 15:46] benaadams commented on #29129
Am using latest code; also using a very fast SSD so it would be much worse without it.

It looks like the main cause of slow down for async vs blocking is the number of extra file interactions that occur in that path; rather than it being async.

[2018-04-16 15:50] benaadams commented on #29129
e.g. [`SetEndOfFile`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365531%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396) in the async path is 50% of the time and it doesn't need to be called. It is also a blocking api itself; so expanding the file using it blocks the thread for as much time (or more) as the async saves blocking

[2018-04-16 15:52] hazama-yuinyan commented on #29122
Unfortunately, it doesn't work for me because it *reads* an *existing* PDB file, modify it and write it back. I need some library that actually *creates* PDB files. To tell the truth, I can already debug my programs written in my original programming language in VS on Windows, but I want to debug them in VSCode and I want to do that on Mac as well, so I'm here to ask you.

So I need to use the `Me

[2018-04-16 15:54] karelz commented on #29065
Thanks @caesar1995!

[2018-04-16 15:59] KrzysztofCwalina commented on #29108
@davidfowl, why would WriteMessageCore not simply return the number of bytes it wrote?

[2018-04-16 16:02] karelz commented on #29005
Thanks @stephentoub!

[2018-04-16 16:05] karelz commented on #16101
That sounds reasonable - although I wonder why the condition is `netcoreapp OR netcoreapp2.0`. Shouldn't just one of them be sufficient?
Anyway, it can be discussed as part of code review.

[2018-04-16 16:05] Drawaes commented on #23629
Yes, it means another copy in the pipeline. This has a major and measurable effect on perf.

[2018-04-16 16:07] MarcoRossignoli commented on #29116
@danmosemsft maybe adding argument `Name` to [this](https://source.dot.net/#System.Private.CoreLib/src/System/TypedReference.cs,45)

[2018-04-16 16:13] karelz commented on #29125
This issue was moved to aspnet/Razor#2280

[2018-04-16 16:13] #29125 closed

[2018-04-16 16:48] karelz commented on #29110
@rmkerr offered to take a look and come up with a compat fix.

[2018-04-16 17:11] JeremyKuhne commented on #29140
Presumably we don't have the updated code in this ProjectN.  That is the only way all of these would fail.

[2018-04-16 17:15] JeremyKuhne commented on #29141
@tarekgh Any idea on why this member isn't there for UWP?

[2018-04-16 17:17] jnm2 commented on #29122
Sorry, I assumed you would have looked at MetadataBuilder in intellisense and seen all the public methods. Here's its public API: https://docs.microsoft.com/dotnet/api/system.reflection.metadata.ecma335.metadatabuilder

My [original link](http://source.roslyn.io/#System.Reflection.Metadata/System/Reflection/Metadata/Ecma335/MetadataBuilder.cs,91bf369f98df83a7,references) lists internal Roslyn meth

[2018-04-16 17:29] tarekgh commented on #29141
I think this is because

<ItemGroup Condition="'$(TargetGroup)' != 'netstandard'">
    <Compile Include="System\TestEnvironment.cs" />

Which is included only if we are not compiling as net standard configurations?

https://github.com/dotnet/corefx/blob/master/src/CoreFx.Private.TestUtilities/src/CoreFx.Private.TestUtilities.csproj#L31

Double check if ```Environment.GetEnvironmentVariable()``` is

[2018-04-16 17:33] tarekgh commented on #28933
@khellang

Is there any other calendar API beside ```Calendar.GetWeekOfYear(DateTime time, CalendarWeekRule rule, DayOfWeek firstDayOfWeek);``` you think will be problematic for the ISO calendar? I am asking because I am thinking to let the users use the ISO as any other regular calendar would be an advantage instead of having users to special case interacting with the ISO calendars. We can define

[2018-04-16 17:34] kasper3 commented on #28554
@janvorli, now that we have `linux-musl-x64` RID, can we update the package names so we get `dotnet-sdk-2.1.2-linux-musl-x64.tar.gz` instead of `dotnet-sdk-2.1.2-alpine.3.6-x64.tar.gz`. This will support now-latest version of Alpine -> 3.7 as well as other musl-libc based linuxes as well. This will also align it with glibc based linux distors (for which we have `dotnet-sdk-2.1.2-linux-x64.tar.gz`)

[2018-04-16 17:37] tarekgh commented on #29141
Also, it looks to me in the failing scenario the corefx.private.testutilities is compiled as netstandard which is interesting why we did that for UWP runs.

[2018-04-16 17:38] eerhardt commented on #28554
/cc @weshaggard.  I believe Wes is going to be updating the package names.

[2018-04-16 17:47] JeremyKuhne commented on #29141
They added all of them for 2.0. They might do some special logic, but they are available.  https://msdn.microsoft.com/en-us/library/windows/desktop/ms683187.aspx

I'll move it out of the condition.

[2018-04-16 17:53] rmkerr commented on #28830
Hey @sebastienros, we don't see any indication that this is on the corefx side. I'm going to be collecting traces to see if I can see exactly where the regression is, but based on our testing I don't expect it to be on our end.

[2018-04-16 18:06] karelz commented on #29110
Let's scope the fix to compat fix only - i.e. `LocalCertificateSelectionCallback` is called only when the new callback `ServerCertificateSelectionCallback` is not set. `targetHost` is still `null` as before and as on .NET Framework.

[2018-04-16 18:08] caesar1995 commented on #26886
According to [RFC7578](https://tools.ietf.org/html/rfc7578#section-4.2):

   header field MUST also contain an additional parameter of "name"; the
   value of the "name" parameter is the original field name from the
   form (possibly encoded; see Section 5.1).

If the original field name from the form is "Account" (includes the quote), for example, then `"\"Account\""` should be passed in to `Mult

[2018-04-16 18:08] #26886 closed

[2018-04-16 18:11] joshfree commented on #27434
@pakrym can this issue be closed now?

[2018-04-16 18:12] darrelmiller commented on #24652
@hnafar The UriTemplate equivalent of the * wildcard is  `http://localhost{/x}/`  I'm not sure if the current parameter parsing handles this scenario, but if it doesn't then yes we should try and fix that.

[2018-04-16 18:12] rmkerr commented on #29110
I'd second that -- when `ServerCertificateSelectionCallback` isn't set we should default to the old behavior, and leave that behavior exactly as it was.

[2018-04-16 18:16] joshfree commented on #27880
@muratg

[2018-04-16 18:16] krwq commented on #29110
@karelz I think this is 2.0 vs 2.1 compat not netfx vs core

[2018-04-16 18:30] ahsonkhan commented on #29134
cc @pakrym, @davidfowl, @KrzysztofCwalina

[2018-04-16 18:32] #27434 closed

[2018-04-16 18:41] karelz commented on #29110
@kdg3737 thanks for catching the regression. We will fix it for compat reasons. I have a few additional questions and follow ups:

You mentioned you need the callback for SNI: How exactly did you use it for SNI when `targetHost` is always `null`? Can you provide more details / code snippet? How do you decide which certificate to send back?

Agreed. That's why we will only call 1 callback - if `Ser

[2018-04-16 18:43] karelz commented on #29144
@jcagme the area-Infrastructure covers everything around builds, testing, packaging that is not clear C# product code bug. See [areas descriptions](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas).

[2018-04-16 18:47] hpbieker opened #29147 "SqlConnection.Open() throws System.InvalidOperationException: Internal connection fatal error on alpine"
I get the error below when connecting to a SQL Server 2008R2 using the microsoft/dotnet:2.1.0-preview2-runtime-alpine docker image, but it works fine with microsoft/dotnet:2.1.0-preview2-runtime.

[code]

[2018-04-16 18:48] ShawnSteele commented on #28933
@tarekgh Hmm, that's an interesting point.  "CalendarWeekRule" is meaningless in this context.  What would be the right behavior?  Ignore it?  Do something else?

TwoDigitYearMax is meaningless in an ISO calendar as ISO requires 4 digit years.

GetDaysInYear() for an ISO Week Calendar would have 52 or 53 weeks of days, right?  That might be pecuiliar.  And would be different than a non-ISO-Week ca

[2018-04-16 19:00] karelz commented on #24482
@caesar1995 you just looked at similar parts of the RFCs. Can you please check if there is anything here for us to do?

[2018-04-16 19:35] tarekgh commented on #28933
I believe this can behave as Gregorian calendar anyway. if ISO is using 4-digit  year, then TwoDigitYearMax will not affect anything in the app calculation.  I am not seeing a real problem here.

Look at https://en.wikipedia.org/wiki/ISO_week_date it states"

[code]

Which means the ISO year is either 364 or 371 days.

GetLeapMonth will always return 0 as there is no concept of a leap month in the

[2018-04-16 19:47] anurse opened #29149 "Dependency bug with System.Memory in net461"
Repro project: https://github.com/anurse/SpanDependencyBug

Steps:
1. Create `net461` project
2. Reference `System.Memory`
3. Use `Span<T>.IndexOf`

Expected Result: You get the index!

Actual Result:

[code]

I believe this is cause by the fact that System.Memory depends on the following for `net45` (see https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Memory).

* System.Buffers (>=

[2018-04-16 19:48] anurse commented on #29149
This is blocking usage of the SignalR Client on .NET Framework targets (specifically tested on .NET 4.6.1 and 4.7.1 in WinForms, but other scenarios will be broken to)

[2018-04-16 19:52] davidsh commented on #27245
Closing this bug as duplicate of #5523

[2018-04-16 19:52] #27245 closed

[2018-04-16 19:53] anurse commented on #29149
cc @weshaggard @ericstj

[2018-04-16 19:55] ShawnSteele commented on #28933
Right, what I meant was that a .ISO calendar wouldn't be a .ISOWeek calendar.  If it's only used for calculations, then we'd only need a .ISOWeek calendar (not the .ISO calendar) - but if the ISO calendar was added later, that'd be weird.

There is a leap month in an ISO calendar.  There is not a leap month in an ISO Week calendar.  (Unless you used the month accessors?  Are you planning to disabl

[2018-04-16 19:57] dotMorten opened #29150 "new SqlDouble(NaN) is only allowed on NETFX"
SqlDouble has a weird platform difference:
[code]
https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/SQLTypes/SQLDouble.cs#L40

This means I can insert NaN values when using the .NET Framework, but when running the same code on a different platform, I get a crash here.
Easy to reproduce:
[code]

This is rather problematic because NaN is commonly used in the SqlGeom

[2018-04-16 19:58] davidsh commented on #27256
@mfrankk Does this problem still happen for you?

I suspect that the certificate you are creating using OpenSsl is using a deprecated signing algorithm (like SHA1) by default.  That would explain why you are getting an error from HttpClient.

There is not enough information for us to troubleshoot this problem. If this is still occurring, please attach a copy of the PFX certificate you created as w

[2018-04-16 19:58] #27256 closed

[2018-04-16 20:00] davidsh commented on #27067
@stephentoub Why would you expect this test to do anything other than hang?  If MaxConnectionsPerServer is 1 and that connection isn't dropped (since the request/response is still using it), any further requests will need "hang" waiting for a connection to become available, or the request will timeout.

[2018-04-16 20:01] ShawnSteele commented on #28933
I'm thinking that an "ISO calendar" and "ISO Week Calendar" make sense from a formatting perspective - but you can make a DTFI that knows how to do ISO calendar formatting with any Gregorian calendar.

I'm also thinking that adding these as an explicit calendar or two seems sensible on the surface, but leads to lots of strange questions and potentially unexpected behavior.  Or additional requests.

[2018-04-16 20:01] myrup commented on #29123
Test app still runs and ready to close this issue solved by #27763 . Sidenote: Since we switched codebase from mono we're experiencing a very high cpu load after app has been up for a while. Possibly a race condition in our code, more often triggered in dotnet core. I'll investigate and open a new issue if it's not on our end.

[2018-04-16 20:02] stephentoub commented on #27067
I said "but drops the response object without disposing it".  In other words, no one is using that request/response anymore.

[2018-04-16 20:05] davidsh commented on #27067
I don't see a solution here because until that object is finalized, the connection won't be closed down.

What would you suggest as a solution here? This seems like a "by design". The solution is for a developer to use .Dispose() explicitly.

[2018-04-16 20:06] tarekgh commented on #28933
What is the benefit having these methods on the Gregorian calendar and not on the abstract Calendar class? or as @khellang  suggested to have a static ISO class in Calendar class (i.e. Calendar.ISO.GetISOWeek)?

[2018-04-16 20:09] ShawnSteele commented on #28933
I'd assumed that Calendar.ISO would be a "full" ISOCalendar.  But if it's just a few methods, that'd work I guess,

[2018-04-16 20:10] stephentoub commented on #27067
That's my point: it's not finalized.

Either a) say we don't care and that the way forward is SocketsHttpHandler, or b) that we do care and utilize finalization/weak references/etc. to allow it to be cleaned up when dropped.

[2018-04-16 20:12] tmds commented on #29123
@myrup great! time to celebrate ;) 🎉

@danmosemsft will that PR be in 2.1?

[2018-04-16 20:13] tarekgh commented on #28933
ISO would be a static class

[code]

or we can stick with the original proposal

[code]

[2018-04-16 20:16] davidsh commented on #27067
HttpResponseMessage implements IDisposable.  But it doesn't have an explicit finalizer  So, would it need to have an explicit finalizer for the GC to clean it up?  Won't it get finalized anyways?

Most likely the answer will be "a" and the suggestion is for developers to use SocketsHttpHandler.  But how does SocketsHttpHandler fix this?  HttpResponseMessage is still the same.

[2018-04-16 20:44] ericstj commented on #29149
I believe this is due to how we treat "inbox" on .NET 4.x.  When an assembly version is inbox we assume it is in the unification table.  When an assembly is in the unification table, the runtime chops off the build.revision of the ref and zeros them.  In this case `4.1.2.0` is [listed as inbox](https://github.com/dotnet/corefx/blob/d5b142984587ac3c1b8562a76c83d5dede117289/pkg/Microsoft.Private.Pac

[2018-04-16 20:45] tarekgh commented on #28933
I'll update the proposal to include Calendar.ISO class and I'll list the original proposal as an alternative design.

@iSazonov  if you are ok with that, could you update the proposal? or I can do it if you don't have any objection to change the proposal.

[2018-04-16 20:50] muratg commented on #27880
This won't meet the shiproom bar. Moving out.

[2018-04-16 20:52] caesar1995 commented on #23506
Quote RFC 7578:

   "boundary" parameter values in quotes in the Content-Type header
   field.

We don't have problem parsing boundary value enclosed in quotes. But I agree that if boundary value doesn't have quote around it, we should not include `;` at the end.

[2018-04-16 20:59] joseterranova commented on #7953
I'm having this problem (StackOverflowException) with .Net Framework 4.7.1, EF 6.2 and Microsoft.AspNet.OData 6.1. I'm trying to select more than 100 columns. Here is the stacktrace, hope someone can help me,

![image](https://user-images.githubusercontent.com/29802115/38834603-8808d134-418e-11e8-9ce7-bbe297963a08.png)

[2018-04-16 20:59] anurse commented on #29149
Sure, I suppose by blocking I mean that it's very non-obvious to a user that when referencing `Microsoft.AspNetCore.SignalR.Client` they need to also reference `System.Numerics.Vectors` manually.

[2018-04-16 21:06] ericstj commented on #29149
Got it.  Definitely something that needs to be fixed for 2.1 though.

[2018-04-16 21:14] stephentoub commented on #27067
I'm ok with that.

It puts a finalizer on the HttpConnection object itself (or, rather, on a derived object):
https://github.com/dotnet/corefx/blob/c998e559dc3682bda42bedd8379442f1e457d136/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs#L370-L372
Things are arranged so that the response object is the only thing that's keeping the connection object alive.  If the re

[2018-04-16 21:16] stephentoub commented on #29123
#27763 is in the release/2.1 branch as of this morning:
https://github.com/dotnet/corefx/pull/29145/commits

[2018-04-16 21:17] #29123 closed

[2018-04-16 21:32] morganbr commented on #29101
@GrabYourPitchforks has been looking at things like this since not zeroing has security implications.

[2018-04-16 21:38] JeremyKuhne commented on #29101
Note that we currently don't zero buffers that are returned to `ArrayPool` unless requested. That said, I do recognize that it isn't exactly the same to not zero newly allocated buffers.

[2018-04-16 22:25] Anipik commented on #29126
@danmosemsft I am able to repro the bug on 2.0 Still checking if its repro on 2.1 too

[2018-04-16 22:27] kdg3737 commented on #29110
I've been using my own SslInfoStream class to wrap NetworkStream and parse the ClientHello:
[code]
Using it:
[code]

I believe whoever designed LocalCertificateSelectionCallback added all those unused parameters anticipating things like SNI so that future developers wouldn't have to invent their own ServerCertificateSelectionCallbacks :)
Imo you don't have a good enough reason to change it. Consid

[2018-04-16 23:10] krwq commented on #29110
@kdg3737 when you're developing your own code you can just remove abstraction and it is easy to maintain. In case of framework we cannot just remove API without breaking anyone.

I know there are some other things which might be interesting for some people in the ClientHello. I believe it might make sense to list what could be useful for you, write down why it is useful and if that information wou

[2018-04-16 23:32] JeremyKuhne commented on #29101
The current one is already unsafe by definition for multiple reasons. One is the lack of zero init- the other is that you can return a buffer without letting go of your handle. I don't see how you can get around that and bifurcate "safe/unsafe".

I can see adding a rent overload that zeroes.  `ArrayPool.Rent(int minimumLength, bool clearArray)`.

[2018-04-16 23:36] dotMorten commented on #29150
@tannergooding Can you share the reasoning behind this commit: https://github.com/dotnet/corefx/commit/1194cdd15a91f0431c19cb2a03d5959aa698e658 ?

[2018-04-16 23:41] karelz commented on #29110
That's a neat trick of parsing ClientHello/ServerHello yourself. I don't think there is many developers doing same thing out there.

In that case someone tried to design for future and failed as no one (incl. long-time experts in the area) was able to connect the dots.

We already did change it. Now we do not have good enough reason to revert back the implementation :(

It is hard to design for fu

[2018-04-16 23:42] khellang commented on #28933
And once you have a `Calendar.ISO` static class, you can drop all the `ISO` pre- and suffixes from the method names 😊

[2018-04-16 23:43] karelz commented on #29150
@keeratsingh @David-Engel @AfsanehR @saurabh500 @divega looks like a breaking change with impact on SqlClient ...

[2018-04-16 23:45] GrabYourPitchforks commented on #29101
You're right in that it's not guaranteed "safe" from a threading perspective, but honestly I don't think use-after-release is a very big problem with `ArrayPool<T>`. I _do_ think developers are likely to rent buffers without knowing the implications of what they're doing, mainly because as mentioned in other threads I've seen evidence of this and have come across code which assumes zero-init. The

[2018-04-16 23:46] saurabh500 commented on #29150
@tannergooding who made this change in https://github.com/dotnet/corefx/commit/1194cdd15a91f0431c19cb2a03d5959aa698e658
as part of https://github.com/dotnet/corefx/pull/22490

[2018-04-16 23:58] dotMorten commented on #29150
Brainfart! It says 'IsFinite' not 'IsInfinite' and the behavior is the same on both platforms.

[2018-04-16 23:58] #29150 closed

[2018-04-17 00:06] JeremyKuhne commented on #29101
I'm _very_ worried about double-release or use-after-release. :)

I think they'd be less likely to if we had intellisense dangling the `clearArray` signature on it.

Unless you opt out of it, of course.  ;P  https://github.com/dotnet/corefx/pull/26993

That would make for some very unhappy people in 2.2 I would assume.

I'd be fine with that being an explicit opt-in as well.

On a related note we

[2018-04-17 00:07] derk2689 commented on #28652
Was this fix not implemented with 2.0.7?

[2018-04-17 00:11] karelz commented on #27971
@spati2 are you able to reproduce it locally / without AWS SDK? We need ideally isolated repro we can easily try in-house.

[2018-04-17 00:46] GrabYourPitchforks commented on #29101
Never said it _wasn't_ a problem, just that it seemingly pales in comparison to other misuses of `ArrayPool` I've come across.

I don't think developers really need fear performance regressions. I ran the following sample application with the specified line both commented and uncommented and saw only a 1% performance difference between the two runs.

[code]

But even then, for extremely perf-sensi

[2018-04-17 00:56] tannergooding commented on #29150
Right, the resulting behavior should be the same, but using a single combined check, rather than two separate checks.

[2018-04-17 01:03] stephentoub commented on #29101
I continue to believe we should not change the clearing behavior of the existing API. Full stop.

[2018-04-17 01:04] tmat commented on #16629
Any managed library (such as msbuild task) that loads native library needs to know RID. This need came up recently in `libgit2sharp`.

[2018-04-17 01:36] GrabYourPitchforks commented on #29101
And I think this particular work item should be closed as won't fix. Full stop.

[2018-04-17 01:46] GrabYourPitchforks commented on #29119
@jkotas Is `T*` for arbitrary `T` actually valid IL? Or is it one of those things that just fails at JIT time if `T` happens to contain references, so as long as we never JIT such a method we're good?

[2018-04-17 01:56] reintjanhoiting commented on #28652
@derk2689 yes, it will. but I don't believe the 2.0.7 is officially released yet. It was scheduled to be released today or tomorrow.

in the meantime, you can consume a daily runtime: https://github.com/dotnet/core-setup#daily-builds
if its released it will popup on this page: https://github.com/dotnet/core/releases

[2018-04-17 01:56] ahsonkhan commented on #28793
I still see this failure, from https://github.com/dotnet/corefx/pull/29135, on a different test.
System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_Cancellation_Test/MaxConnectionsPerServer_WaitingConnectionsAreCancelable
OSX.1013.Amd64.Open-x64-Debug
https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b4d8770fd1e6d5f849cb907664

[2018-04-17 01:58] derk2689 commented on #28652
Thanks for the quick response.  I updated and it said my current version was 2.0.7 but I will wait and see tomorrow if something changes on it.  Thanks again for the help.

[2018-04-17 02:03] jkotas commented on #29119
`T*` is valid IL, for any `T`. It is just one of those things that C# does not let you create.

You can actually get arbitrary `T*` locals in C# because of C# allows *consuming* `T*` for any `T`:

- Write helper method in IL that looks like this `T* AsPointerOfT<T>(void *p)` and just returns p. BTW: I have looked into adding it to `System.Runtime.CompilerServices.Unsafe` but gave up on it because

[2018-04-17 03:43] iSazonov commented on #28933
@tarekgh Feel free to update. - the proposal LGTM.

[2018-04-17 03:53] JeremyKuhne commented on #29101
Not that I don't think you didn't think it wasn't an issue- I'm just more concerned about that, comparatively. The sort of problem you get from presuming zeroed is one that I don't think you'll get very far with before you fall over and learn your lesson. It isn't nearly as chill inducing to me as having bytes change out from under you randomly.

If all we were talking about were 16 element buffer

[2018-04-17 06:38] imgrey commented on #24482
1. "encoded-word" should never be encoded in filename.
All browsers send UTF8 counting on that all web servers support UTF8.
Only MS has that brain dead approach

2. Ther's no issue with filename*. It is "filename" field where you send garbage.

[2018-04-17 07:48] martinmikulka opened #29156 "DateTime format with CultureInfo differences"
Hello,

I've got simple Core2.0 console application, which produces different outputs on different platforms.

[code]

Windows 10: (expected output)
22/12/1396

Windows Server 2012 R2: (not converted into persian calendar)
13/03/2018

Both platforms have runtime 2.0.6 installed.
[code]

Desired culture is available on both platforms, checked with this piece of code.

[code]

Please what can I do t

[2018-04-17 08:29] qqbuby commented on #29087
@karelz

There are three authentication types,  `250-AUTH GSSAPI NTLM LOGIN`, how can I specify the `SmtpClient` use the `LOGIN` one? e.g. by `CredentialCache` ?

[2018-04-17 09:46] hazama-yuinyan commented on #29122
OK, I'll try that out! Thank you very much!

OK, then I'll use them as references.

Then we must be sure to be synchronized like we are doing now, haha ;- )

By the way, there is a `PortablePdbBuilder` class in the `System.Reflection.Metadata` namespace and I'm just wondering isn't it the one I'm supposed to use when I generate a portable PDB file?

[2018-04-17 10:01] qqbuby commented on #29087
The mail sever supports three authentication types, GSSAPI, NTLM and LOGIN,  however both GSSAPI and NTLM cann't work well on Linux.

I write the some code to remove GSSAPI and NTLM, keep LOGIN using reflection as below to repair `Smtp`  temporarily.

[code]

- - -

[code]

[code]

[2018-04-17 10:52] qbit86 commented on #22813
@ygc369 You can have outer weak reference to your own `ArrayPool<T>` instance, instead of weak references to individual inner buffers/buckets.

Off topic: Is there any `List<T>` reimplementation via `ArrayPool<T>`?

[2018-04-17 11:28] kasper3 commented on #29156
I'd try changing the current culture of application:

[code]

[2018-04-17 11:45] martinmikulka commented on #29156
No change in output :(

[2018-04-17 13:03] jnm2 commented on #29122
PortablePdbBuilder is a final step after you finish populating the MetadataBuilder. If you look at what you do with it, PortablePdbBuilder is just [acting as a container formatter](http://source.roslyn.io/#System.Reflection.Metadata/System/Reflection/Metadata/Ecma335/PortablePdbBuilder.cs,4fc7995ce9a6aa56,references). You won't get very far unless you use `PortablePdbBuilder` and `MetadataBuilder`

[2018-04-17 13:46] danwalmsley opened #29157 "File.OpenRead () calls Win32 apis when running on Linux."
This is an issue @jmacato has come across on Kubuntu and Ubuntu.

(I cant reproduce on my system, so must be something confusing .net runtime. specific to his system.)

to repro make a console application and call File.OpenRead()

the exception:
[code]

here is the affected systems environment incase it helps:

[code]

Any further information we can get to help debug the issue?

[2018-04-17 15:51] tarekgh commented on #28933
done!

[2018-04-17 15:58] karelz commented on #29157
Which version of .NET Core did you use? (`dotnet --info`) Are you able to reproduce it on more than one VM/machine?
Did you use command line to build your app?

[2018-04-17 16:03] karelz commented on #29122
I let area owners & experts to comment on plans in the space - @tmat @nguerrera

[2018-04-17 16:09] jmacato commented on #29157
@karelz yes, i've tried it on two linux machines, one has this dotnet --info

[code]

and other one:

[code]

The app in questions was @danwalmsley 's VitalElement/AvalonStudio (fixes/csharp-symbol-query-polish) branch and ran `dotnet run -f netcoreapp2.0 `. Then i tried opening AvaloniaUI/Avalonia 's repo on it and that specific exception was thrown.

[2018-04-17 16:26] chmorgan commented on #17135
It sounds like there is almost consensus here, what are the next steps? I'm itching to use whatever the solution is to fix cross platform support with dotnet that previously worked with .net and mono.

[2018-04-17 16:26] benaadams commented on #6007
O_o

Read and Write share a buffer, so if there is anything in the buffer for Write it needs to flush it first. [To do so it queues a Flush](https://github.com/dotnet/corefx/blob/4036846ceb1e124158e68f0cde26aa3fab524b71/src/Common/src/CoreLib/System/IO/FileStream.Windows.cs#L783-L800) (which it also does in other places):

[code]
`FlushWriteBuffer()` to ensure its completed [also does synchronous

[2018-04-17 16:28] tarekgh commented on #29156
This is by design. The framework is depending on the underlying OS for getting the globalization data. On Windows we depend on the Windows NLS APIs and on Linux we depend on ICU library. If you see anything wrong with the reported data, you can report this to Windows or ICU library.

[2018-04-17 16:28] #29156 closed

[2018-04-17 16:37] danwalmsley commented on #29157
You can repro with just File.OpenRead call. Iv tried on similar systems and can't reproduce.

[2018-04-17 16:49] GrabYourPitchforks commented on #17135
@chmorgan the next steps are for us to finish the existing PR for this feature when the checkin window opens back up.

[2018-04-17 16:51] dotMorten commented on #17135
What about the fact that on iOS callbacks must be static? That's where all my interop code diverges the most. For us to be able to create truly reusable interop code, these sort of differences needs to be addressed too.
Second when running on .NET Framework as AnyCPU we need to be able to point to two different DLLs (or 3 if we get ARM64 support) based on which architecture the app is running unde

[2018-04-17 16:55] #28722 closed

[2018-04-17 16:57] joshfree commented on #29134
@muratg

[2018-04-17 16:58] pakrym commented on #29134
Is there any behaviour difference between these two?

[2018-04-17 17:00] maryamariyan opened #29158 "About 30% performance regression for GetTypeCode() test"
About 30% performance regression for GetTypeCode() test as seen in the chart below

![capture01](https://user-images.githubusercontent.com/5897654/38884709-3eccc95c-4225-11e8-8e08-c7edaf349619.PNG)

Correction:
Below is the corefx diff from early March:
https://github.com/dotnet/corefx/compare/e1f304886a8315fd3303ff0e75dc7595c42b8cd0...dotnet:5cc8f36bec8ee6e67f8576bdc698bef1a280e9b9

Refer to [ben

[2018-04-17 17:25] maryamariyan commented on #29158
Because of the same corefx diff above, we have about 10% performance regression for ToDateTime_String() test as well. Chart below illustrates this regression:

![capture03](https://user-images.githubusercontent.com/5897654/38885796-fbfd69de-4228-11e8-9a93-16acfe98bee9.PNG)

Refer to [benchview](https://benchview/trendline?build_selector=latest&count=2000&aggregate=arithmeticMean&filterTail=one&fil

[2018-04-17 17:29] davidfowl commented on #29108
Blah, I guess it's too late to add this.

[2018-04-17 17:29] #29108 closed

[2018-04-17 17:31] terrajobst commented on #29026
Questions:

* Will there be a keyword in the language too or will developers use the attribute?
* Presumably people will be able to define the attribute in their own code and get the same behavior?
* Does it make sense to be applied to fields? Presumably no, because what matters is the constructor in case initializers are present?
* Do you plan to support override behavior, i.e. apply to assembly/

[2018-04-17 17:40] benaadams commented on #29001
Should this be api ready not api suggestion?

[2018-04-17 17:44] terrajobst commented on #28944
* `EncodingProvider.GetEncodings()` should be `IEnumerable<EncodingInfo>`
* `EncodingProvider.GetEncodings()` should be virtual and return an empty list (instead of throwing). While this isn't correct it means that one provider that isn't updated doesn't spoil the enumeration for everyone else.
* `Encoding.GetEncodings()` should return all registered encodings across all providers and de-dupe them

[2018-04-17 17:45] muratg commented on #29134
Moving this out.

cc @davidfowl

[2018-04-17 17:50] tannergooding commented on #29026
This is a compiler, not a language, feature. So i doubt any language support will be added (see https://github.com/dotnet/csharplang/pull/1223).

Yes, that is the workaround today.

Right, it should only matter for Methods (including constructors/properties/etc) and things which can contain methods (Types, Modules, Assemblies).

This seems like a reasonable thing to support. @jcouv ?

[2018-04-17 17:51] marek-safar commented on #24915
Is there any work left to do from me?

[2018-04-17 18:01] terrajobst commented on #24365
@stephentoub: Can we make this a new ctor on the existing `ConcurrentQueue<T>` type?

[2018-04-17 18:05] kouvel commented on #29158
It looks like this is the diff range for the first point of regression: https://github.com/dotnet/corefx/compare/e1f304886a8315fd3303ff0e75dc7595c42b8cd0...dotnet:5cc8f36bec8ee6e67f8576bdc698bef1a280e9b9

It may be the coreclr update

[2018-04-17 18:10] maryamariyan commented on #29158
Thanks @kouvel I am reinvestigating the diff and also corrected the above description.

[2018-04-17 18:16] Anipik commented on #29095
I am not ablt to reproduce it in 2.0.0
[code]

[2018-04-17 18:28] jcouv commented on #29026
Talked to @agocke and confirmed that we do not intend allowing the feature to be turned off per-member when applied to a container.
We expect the attribute to be applied on specific members, rather than on containers (that's allowed because it was strange to disallow, but we wouldn't recommend using on containers).

You're correct. The attribute should be applied to constructors in such case.
Per

[2018-04-17 18:30] jcouv commented on #29026
@tannergooding `AttributeUsage.All` is incorrect.

[2018-04-17 18:30] ericstj commented on #29149
Just some more background: The buildtools issue has been present ever since 2.0 but is only hit in 2.1 due to versioning.  This is first time we have assembly versions which moved past those that were promoted inbox as part of the .NETStandard2.0 wave.  I'm first examining the right fix in BuildTools and implementing that so that I can diff the results and understand the scope of this issue.  Once

[2018-04-17 18:33] danwalmsley commented on #29157
[Repro.zip](https://github.com/dotnet/corefx/files/1921115/Repro.zip)

@karelz ok there is the repro.

It will crash on 2x machines that @jmacato  has (with dotnet info provided above)

[2018-04-17 18:49] benaadams commented on #25334
No `in` only works for `readonly struct` types

[2018-04-17 18:49] VSadov commented on #29026
Yes. All the above is correct. In particular - the "override/on/off" behavior was discussed at least two times and both times dropped due to being unnecessary complication for too little gain.

It is expected that the attribute will be used either on the whole module (most likely) or on select leaf methods (distant second).

It is highly unlikely that user will want an elaborate system of mix and

[2018-04-17 18:51] VSadov commented on #29026
Yes, adding an attribute to the S.R.C that is shipping would be a good idea.

[2018-04-17 19:06] Anipik commented on #28816
@danmosemsft  @ViktorHofer The object which is failing is StringComparer.InvarientCultureIgnoreCase. The hashcode and the name of  the objects is same. I checked the code  in netfx and there is nothing in the overridden Equals method (stringComparer.cs) suggesting the reason for the failure.

[2018-04-17 19:16] davidsh commented on #29087
When a server (HTTP server or SMTP server) present multiple schemes for authentication, the "strongest" scheme for security is used by the client.

The order generally is:
GSSAPI (Negotiate / Kerberos)
NTLM
LOGIN (this is similar to HTTP BASIC auth)

If you have a single NetworkCredential set into the SmptClient, then GSSAPI would be used.  But if you have a CredentialsCache and only have the user

[2018-04-17 19:17] eerhardt commented on #25334
@benaadams - I don't think that is true.  I think they work great together, but it the `in` keyword doesn't require the parameter to be a `readonly struct`.

https://docs.microsoft.com/en-us/dotnet/csharp/reference-semantics-with-value-types

[2018-04-17 19:26] tannergooding commented on #25334
Right, for `implicit in`, you should get better IL for `readonly struct` (as the compiler should not need to create a copy of the struct). However, you can get the same IL for any struct by explicitly specifying `in` (which tells the compiler you are explicitly opting into the behavior).

[2018-04-17 19:31] ericstj commented on #29149
Looks like me guess was actually wrong.  It's more nuanced than that.

When we try to minimize package dependencies we look at every possible inbox framework.
We copy the dependencies from the non-inbox to the inbox framework *if some of the dependencies are inbox*.
Then we later remove the copies if we find that they are completely redundant.

In this case what happened was none of the netstandar

[2018-04-17 19:33] tarekgh commented on #28944
@mklement0 do you want to help in the implementation?

[2018-04-17 19:35] derk2689 commented on #22453
Any word on when this might be fixed?

[2018-04-17 19:39] benaadams commented on #25334
@eerhardt only if you stay away from the instance methods in the proposal; else it will do a copy when they are called

[2018-04-17 19:44] tannergooding commented on #25334
@benaadams, it (the emitted IL) should never create a copy if you explicitly specify `in` at the callsite, as per the language specification (see above in the quoted section I copied over).

[2018-04-17 19:50] sparkie108 commented on #25334
Excellent blog post on the reality here [The ‘in’-modifier and the readonly structs in C#](https://blogs.msdn.microsoft.com/seteplia/2018/03/07/the-in-modifier-and-the-readonly-structs-in-c/)

I'd vote for these structs being immutable.

[2018-04-17 19:55] kasper3 commented on #17135
https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks#architecture-specific-folders

we need to restore packages on each system

[2018-04-17 19:55] jcagme commented on #29144
Fixed by @weshaggard with dotnet/corefx@4036846

[2018-04-17 20:01] benaadams commented on #25334
It still will make a copy in the called function when a property is accessed or method call made on the variable so it does not potentially change the original?

Then you have the flip side; if you want to change a single value in the struct you now have to copy 16 doubles

[2018-04-17 20:27] sparkie108 commented on #25334
I don’t think changing one element of a transform matrix is a common use case.  They usually change as a result of an operation on the whole matrix.

[2018-04-17 20:27] dotMorten commented on #17135
@kasper3 Good point. I really like the `\runtime\[TFM]-[arch]\native\` approach that UWP uses. The other platforms need to support this as well - currently we have to create .targets files and either embed or xcopy deploy the dynamic libraries.

[2018-04-17 20:28] davidsh commented on #29080
[code]

This code from the above example is a no-op on .NET Core.  In general, .NET Core doesn't support ServicePointManager/ServicePoint classes.  They aren't compatible with the HTTP stack(s) in .NET Core:

And the referenced StackOverflow article refers to the .NET Core 1.x, 2.0 HTTP implementation which uses WinHTTP on Windows. However, .NET Core 2.1 is shipping a new HTTP stack written in all

[2018-04-17 20:29] danmosemsft commented on #28816
@Anipik sounds like debugging is the next step for you.

[2018-04-17 20:29] benaadams commented on #25334
It would still be better pass by value and and support vectorcall

[2018-04-17 20:37] davidsh commented on #29080
I can confirm that using .NET Core 2.1 Preview 2 (which uses the SocketsHttpHandler by default) will use a single TCP packet for this repro case:

![image](https://user-images.githubusercontent.com/7684835/38895276-74768de4-4244-11e8-9908-ee46d832212a.png)

[2018-04-17 20:41] davidsh commented on #29080
Since this is fixed now in .NET Core 2.1, I will close this issue now.

cc: @karelz

[2018-04-17 20:41] #29080 closed

[2018-04-17 20:42] sparkie108 commented on #25334
It’s a shame that whether to use in or not in the language is down to performance and not to whether the method mutates the parameter.

Either way it would be beneficial for performance  to be able to pass an array of points and a single matrix to the transform method.

[2018-04-17 20:55] danmosemsft commented on #28700
@ViktorHofer since this is 2.1 can you please get it closed...

[2018-04-17 20:57] rmkerr commented on #29110
Just to keep the thread updated -- I have a fix working that recreates the old behavior when `ServerCertificateSelectionCallback` isn't set, and a test to validate that behavior. I'm going to add an additional test for the case when they're both set, and then send out a PR.

[2018-04-17 20:57] danmosemsft commented on #28921
@v-haren can you please try to format callstacks so they're easier to read? eg in this case like this would work:
[code]

[2018-04-17 20:59] #29007 closed

[2018-04-17 21:02] Anipik commented on #28816
The blobs are generated with 4.7.1 only

[2018-04-17 21:05] stephentoub commented on #29080
Thanks for validating, @davidsh.

[2018-04-17 21:11] Anipik opened #29161 "OpenRemoteBaseKey Sometimes throws IOException while accessing the registry on local machine."
```RegistryKey.OpenRemoteBaseKey(RegistryHive.LocalMachine, ".") ``` is sporadically hitting an IOException with "Network path not found" because the underlying call to RegConnectRegistry is returning an error.

It should always be able to access the local machine. The idea is to use ```Registry.LocalMachine``` property to  access the registry in case of the local machine.

[code]
[code]

[2018-04-17 21:19] ericstj opened #29162 "System.Numerics.Vectors is applying oob netstandard2.0 assembly to NETCoreApp2.0"
The netstandard2.0 assembly doesn't have the same characteristics as the netcoreapp2.0 implementation that's in the shared framework.  For example: it uses a private copy of MathF rather than the framework implementation.  This could cause performance issues when the OOB implementation is used.

Since we've already set the pattern starting in netcoreapp2.1 that we don't want the package to apply a

[2018-04-17 21:31] tarekgh commented on #23800
CC @joelbraun @tquerec

[2018-04-17 21:31] amrmahdi opened #29163 "ClientWebSocket does not provide upgrade request error details"
Related to #13773

ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.

### Behavior on .NET 462
[code]

### Behavior on .NET Core 2.1 preview 2
[code]

As you can see on .NET 462, the inner exception is a ```WebException``` with the error details.

### Proposed Fix
Create an inner exception of type ```WebException```

[2018-04-17 21:35] Ruslan-B commented on #17135
@kasper3, @dotMorten no offence, but I guess warping the native to OS packaging systems is a bit of topic, as in case you are the owner of the native library - you can maintain naming library naming in a dotnet friendly way. To summarize, you need this  functionality only in case you are not the owner of the original library(s) which is exposing C-API. To summarize this is needed to cover discrepa

[2018-04-17 21:36] davidsh commented on #29163
This current PR #29159 should address most of this.

[2018-04-17 21:39] amrmahdi commented on #29163
Can we expose the ```WebException``` ? It has useful information like the response headers that the current PR is not addressing.

[2018-04-17 21:44] davidsh commented on #29163
The .NET Core WebSockets.Client APIs use the new HTTP stack, SocketsHttpHandler.  It does not use WebException.  That exception is considered part of the legacy set of APIs including HttpWebRequest etc.

But we will look into how it might be possible to expose the HTTP response itself (HttpResponseMessage if available) which you could then use to examine the HTTP response headers.

cc: @geoffkizer

[2018-04-17 21:46] dotMorten commented on #17135
@Ruslan-B I fail to understand the relevance to whether you own the original library or not.

The way you deploy your native libs via NuGet is quite different on each platform.
On Android you have to embed you .so files as `<EmbeddedNativeLibrary/>` or `<AndroidNativeLibrary/>` depending on whether its embedded in a library or an app (why they didn't make it one build action is beyond me). On UWP

[2018-04-17 21:47] amrmahdi commented on #29163
Exposing ```HttpResponseMessage``` would be ideal.

[2018-04-17 21:51] bartonjs commented on #28652
https://github.com/dotnet/core/issues/1456 says that 2.0.7 is out now.  The build labels say that the 10.13.4 changes were included, so upgrading to the 2.0.7 runtime should resolve the problems.

[2018-04-17 21:52] Ruslan-B commented on #17135
@dotMorten in this case I would suggest to reread the original proposal.

[2018-04-17 21:53] mklement0 commented on #28944
@tarekgh: Sounds good; I'll get started soon (unlike [last time](https://github.com/dotnet/corefx/issues/23592), where Anipik thankfully eventually jumped in).

[2018-04-17 21:54] dotMorten commented on #17135
@Ruslan-B Read the entire thing, and you'll find the discussion has expanded quite beyond that.

[2018-04-17 21:55] jnm2 commented on #29122
@hazama-yuinyan I was not aware of `DebugInfoGenerator.CreatePdbGenerator` or `Expression.DebugInfo`, so you're ahead of me there! Looks like it's Windows PDBs only, and [.NET Framework only](https://github.com/dotnet/corefx/blob/92c204f51d208ae9dc854a59fcc01afa90264205/src/System.Linq.Expressions/src/System/Runtime/CompilerServices/DebugInfoGenerator.cs#L23). If you want to write portable PDBs yo

[2018-04-17 21:57] kasper3 commented on #26966
v2.0.7 is out https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.7.md with the fix for .Net Core 2.0. We can release Arch Linux package. @welkie, do you know who maintains the package?

[2018-04-17 22:00] joseterranova opened #29164 "Microsoft OData - StackOverflowException when using $select with more than 100 columns"
I'm having this problem (StackOverflowException) with .Net Framework 4.7.1, EF 6.2 and Microsoft.AspNet.OData 6.1. I'm trying to select more than 100 columns. Here is the stacktrace, hope someone can help me,

![image](https://user-images.githubusercontent.com/29802115/38834603-8808d134-418e-11e8-9ce7-bbe297963a08.png)

[2018-04-17 22:01] Ruslan-B commented on #17135
@dotMorten true, however, I think the only reason we need this is to handle discrepancies between different OS with stable habits with naming things.

[2018-04-17 22:02] kasper3 commented on #29164
Belongs to https://github.com/OData/WebApi?

[2018-04-17 22:08] davidsh commented on #27655
The error here is -2146232797 which is COR_E_FAIL "Runtime operation halted by call to System.Environment.FailFast()". The only information is that something failed in the test runs.

Outerloop UWP CoreCLR and NetNative are currently running clean now.  Closing this issue since it is not actionable.

[2018-04-17 22:08] #27655 closed

[2018-04-17 22:08] qmfrederik commented on #17135
This issue is an API proposal issue. It concerns an API for loading native libraries and using the functions they expose. It was created because we need to load (lib)gdiplus for System.Drawing across platforms.

How you package these native libraries with your app (and whether you should package them at all or use a different acquisition mechanism) is related but not strictly in scope for the API

[2018-04-17 22:10] davidsh commented on #27566
Since the default HTTP stack for .NET Core 2.1 is SocketsHttpHandler, I don't think this issue will be a problem. SocketsHttpHandler should be correctly handling 'Connection: close' request headers.

Since fixing this for CurlHandler is nontrivial at best, perhaps we can close this issue now since CurlHandler is not the default HTTP stack anymore?

cc: @stephentoub @mconnew @karelz

[2018-04-17 22:11] keeratsingh commented on #29158
@maryamariyan
May I know why you think this is a `System.Data.SqlClient` issue ?

[2018-04-17 22:12] davidsh commented on #26983
.NET Framework has a similar behavior/problem when using both "automatic" cookie handling (CookieContainer from the handler) and manually adding 'Cookie: ' request headers.

What is SocketsHttpHandler behavior here?

[2018-04-17 22:12] tmat commented on #29122
Unfortunately we do not have resources to do so at this point.

[2018-04-17 22:17] davidsh commented on #24104
@geoffkizer @stephentoub Do we expect this issue to be resolved now with SocketsHttpHandler?  Is it efficient in dealing with IPv4/IPv6 resolution especially IPv6 doesn't resolve correctly?

[2018-04-17 22:27] danmosemsft commented on #28398
@safern this is still in 2.1. I suggest moving it to 2.2 unless you have a plan/reason to look now.

[2018-04-17 22:27] kouvel commented on #29158
It looks like https://github.com/dotnet/coreclr/commit/a8d2e3f06ce3c345ff79537e395c95e1e51fa9be is the commit hash of the [baseline coreclr package](https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.Runtime.CoreCLR/2.1.0-preview2-26308-06). The [updated package](https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.Runtime.CoreCLR/2.1.0-preview2-26309-06

[2018-04-17 22:33] davidsh commented on #18207
Does this problem still occur for you?  We recommend you try out .NET Core 2.1 Preview 2:
https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/

If this still repros using the latest .NET Core, we can re-open this issue.  Thanks!

[2018-04-17 22:33] #18207 closed

[2018-04-17 22:36] davidsh commented on #18173
Please try out .NET Core 2.1 Preview 2.  It has the new SocketsHttpHandler as the default HTTP stack.  It is much better in performance!

https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/

If you are having issues using the new .NET Core 2.1, please open a new issue. Thanks!

[2018-04-17 22:36] #18173 closed

[2018-04-17 22:36] RaviPidaparthi commented on #29163
It would be great if there is built in way we can read the websocket upgrade success and failure response headers.

[2018-04-17 22:47] ericstj opened #29166 "SystemEvents tests are failing (and hanging) on ARM32"
From @BruceForstall in https://github.com/dotnet/coreclr/issues/17582

Many arm32 Windows corefx jobs in the CI are hanging, apparently on Microsoft.Win32.SystemEvents.Tests, e.g.:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/11/console
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cr

[2018-04-17 22:48] jmacato commented on #29157
Trying out the repro, and it didn't throw an exception unless the file is non-existent (from "file.txt", i changed it to "/file.txt" because it's similar to the "/mscorlib.dll" error that i encountered

[code]

[2018-04-17 22:48] danwalmsley commented on #29157
ok the repro hasnt worked. I will get back with a working repro in the morning.

[2018-04-17 22:51] AfsanehR commented on #29147
Hi @hpbieker , just to clarify, what is your environment running your application? are you using Linux containers on windows?

[2018-04-17 22:52] danwalmsley commented on #29157
I think my title for this issue might not be correct. The exception:

System.IO.FileNotFoundException: Could not find file '/mscorlib.dll'.

looks like its trying to locate mscorlib in root directory for some reason.

[2018-04-17 22:55] MichalStrehovsky commented on #29140
.NET Native won't let you reflect on non-public types unless they go through the process of whitelisting. We save a lot in terms of size on disk by not preserving the metadata for implementation details of the framework.

The test should be updated not to reflect on internal types/members when running on .NET Native.