[2016-11-29 17:54] stephenmichaelf commented on #8655
@karelz @JeremyKuhne I can take this. Just want to make sure I understand correctly(new to this area). Should I remove all cases of "throw new PathTooLongException"?

I did a search and found this:

![image](https://cloud.githubusercontent.com/assets/450490/20721866/700efd26-b632-11e6-818b-97621175fcc3.png)

It seems like most of them reference System.IO.PathInternal:

![image](https://cloud.githu

[2016-11-29 17:55] akoeplinger commented on #13946
The NuGet package lists MonoAndroid10 as supported which is the legacy name of Xamarin.Android.

The "implementation" in the lib folder is the `_._` placeholder file which means the real implementation needs to be provided by the platform i.e. GAC. Looks like what I'd expect.

[2016-11-29 17:56] VSadov commented on #8576
The change does not need to be all at once - changing to use the more efficient API could be done in batches.

[2016-11-29 17:58] karelz commented on #13946
@akoeplinger why would a library, which is not truly available on Mono be marked as "I support Mono" ... I don't see much logic in that. What am I missing?

[2016-11-29 17:59] VSadov commented on #9631
I am not sure if any changes are needed on Linq.Expression side.
It seems just indirect result of https://github.com/dotnet/coreclr/issues/7168

Please reactivate if actionable on Linq.Expression side.

[2016-11-29 17:59] #9631 closed

[2016-11-29 18:01] akoeplinger commented on #13946
@karelz the System.Net.NetworkInformation nuget package can be used fine on Xamarin.Android (e.g. as part of a netstandard dependency), it'll just use the implementation from the platform instead. It's the same for `net45`.

[2016-11-29 18:04] tiefling commented on #14085
Agreed here but the underlying issue from a usability perspective is that “azure” isn’t any of the available options. The issue here is that the underlying OS of the Azure platform should not be a deploying developers concern (unless they are using a VM which is a whole other story). This would allow “azure” to be regarded as a platform in it’s own right (which it is really), whether it mirrors “w

[2016-11-29 18:04] karelz commented on #8655
I don't have the code expertise, I just wrote what @JeremyKuhne told me :) ...
My assumption is that there is some central check (probably using `IsPathTooLong`), so just remove that (I guess together with the throw statements you found).

@JeremyKuhne can provide more details if needed.

[2016-11-29 18:04] jaredpar commented on #8034
MustNotCopy is like stack only but even harder to use 😄

[2016-11-29 18:05] karelz commented on #8655
On a side: I would recommend to use text instead of images -- text is easier to copy-paste, make a check box list out of it, etc.

[2016-11-29 18:08] VSadov commented on #10470
Since now any expression can be asked to be compiled for interpretation, the API would need to take a compiled expression.
We generally cannot tell if a delegate is a compiled expression (could be not related to expressions at all), but we can recognize interpreted expression delegates.

Would something like the following work for you?

[code]

[2016-11-29 18:11] VSadov commented on #11097
@bartdesmet  - are there more particular targets for deduplication or this bug could be closed?

[2016-11-29 18:13] VSadov commented on #11328
I think this was fixed in https://github.com/dotnet/corefx/pull/13325

[2016-11-29 18:13] #11328 closed

[2016-11-29 18:13] karelz commented on #6485
@fujiy please don't forget to ping me on issues you want to grab at the time you are ready to start working on them.

[2016-11-29 18:15] VSadov commented on #11343
Seems like a test issue where we AOT tests are running with ancient bits.   (UnaryPlaus is certainly implemented)

@bartdesmet  Do we need to keep this test around? Is it here to track the test issue in general?

[2016-11-29 18:17] terrajobst commented on #14047
The API makes perfect sense.

The only thing is that we believe we should name this concept, e.g. *blittable*. There are likely other areas where we'd use this nomenclature (e.g. casting from `Span<char>` to `Span<byte>`). It would be very unfortunate if the naming doesn't align.

@MadsTorgersen @jaredpar, have you guys thought about naming this concept?

[2016-11-29 18:18] CIPop commented on #13107
@danmosemsft I agree with @alexperovich that the initial FXCop bug should be fixed (not baselined).
In general, I think we should have a clean analysis log (#3501).

@karelz This is a good idea but we would need to do some perf analysis first: would making it thread-safe loose a lot of perf?

[2016-11-29 18:19] VSadov commented on #11409
We need to have some way of tracking the progress of this bug.
Perhaps the next step would be collecting actual items that need addressing and add them as checkboxes to the bug?

[2016-11-29 18:20] benaadams commented on #14047
blittable is a bit different though? e.g. Decimal is not blittable; but it is also not a reference type

[2016-11-29 18:20] terrajobst commented on #13915
Looks good as proposed.

[2016-11-29 18:21] karelz commented on #13915
Any takers?

[2016-11-29 18:23] nietras commented on #13915
If you don't mind waiting I can give it a shot after doing new Unsafe
methods, and Span. CopyTo changes, if no one else is doing the latter. It's
related to the Unsafe adds.

On Nov 29, 2016 7:21 PM, "Karel Zikmund" <notifications@github.com> wrote:

[2016-11-29 18:23] karelz commented on #13915
Sure, just ping the issue when you're ready to pick it up ...

[2016-11-29 18:24] AlexGhiondea commented on #8348
@bradbart thanks for adding the workaround to the issue.

Since we don't currently have any plans to bring back more APIs for MEF and since we have an acceptable workaround I am closing this.

[2016-11-29 18:24] #8348 closed

[2016-11-29 18:26] karelz commented on #13915
Assigned to you for simplicity - if you don't get to it for a week or more, I hope we will find out and ping you :)

[2016-11-29 18:26] VSadov commented on #11454
Must be careful with expressions like

[code]

In cases like above a temp may still be needed even though we are dealing with a local. Not sure if this is directly related to the issue mentioned here.

[2016-11-29 18:27] AlexGhiondea commented on #8226
@AdamSpeight2008 thanks for adding more context! I am going to leave this as up for grabs in case someone is interested in a fun little optimization challenge 😄

[2016-11-29 18:28] #9876 closed

[2016-11-29 18:29] jkotas commented on #14047
Right, blittable is existing concept, different from this one, specific to interop - msdn definition: https://msdn.microsoft.com/en-us/library/75dwhxf7(v=vs.110).aspx

[2016-11-29 18:30] terrajobst commented on #13842
The API looks good as proposed. @stephentoub reminded us that `Queue<T>` already uses a circular buffer strategy, so implementing this wouldn't be too hard.

[2016-11-29 18:34] VSadov commented on #11454
I am not sure reduced form is strictly a contract. The change is observable, but so is the change in generated IL and we are allowed to emit more efficient code.

I am not sure though that reducer would have enough knowledge to reduce this efficiently - does it know if the result is used?

It could be an option to leave these nodes unreduced (at least when they are in optimizable form), with hope

[2016-11-29 18:35] bmeverett commented on #12160
Should foreach be changed to `.ForEach(x => code)` or what is the intent for this?

[2016-11-29 18:36] JonHanna commented on #10470
I read this as more an environment query; code being able to know if calling Compile(false) is going to result in interpretation or not.

[2016-11-29 18:36] jkotas commented on #14047
The C# spec calls similar concept *unmanaged-type*, but that concept has a known ugly problems (spooky action at a distance, etc.). I do not think it makes sense to couple this property to it either.

[2016-11-29 18:36] VSadov commented on #11556
Looks like fairly straightforward replacing the use of EnsureSufficientExecutionStack with a Try form

[2016-11-29 18:37] JeremyKuhne commented on #8655
@stephenmichaelf

It needs to be removed from CoreCLR code as well- I'm in the process of moving the Path class down (it is in CoreCLR now, I'm in the process of switching over to use that code). The code there is all in the `\mscorlib` directory.

You should remove the helper `IsPathTooLong()` and `IsDirectoryTooLong()` methods in `PathInternal`. Any stray PathTooLong exceptions should be pulled.

[2016-11-29 18:38] jaredpar commented on #14047
Explicit blittable support is one item we're confsidering for the next version of C#.  It would solve the spooky action by making usages explicit and verified.

I don't think it would work for this feature though.  The C# feature is a compile time artifact while the methods @jkotas listed need to make decisions at runtim.

[2016-11-29 18:40] AlexGhiondea commented on #13566
It sounds like once @JohnChen0 is done with his work this will no longer be an issue.

@JohnChen0 can you confirm this is solved after you are done?

[2016-11-29 18:43] AlexGhiondea commented on #13924
I am going to close this issue for now.

Please feel free to reactivate if you have other use cases for adding this new API.

[2016-11-29 18:43] #13924 closed

[2016-11-29 18:44] AlexGhiondea commented on #13931
@JeremyKuhne we marked this for 1.2 -- let me know if you disagree.

[2016-11-29 18:47] VSadov commented on #12998
This is a suggestion for the ```ReadOnlyCollection<T>``` type.

[2016-11-29 18:48] karelz commented on #13946
@akoeplinger ok, so that basically means this bug is filed at the wrong place -- it should be filed against Xamarin.Android.
Also there is no single "System.Net.NetworkInformation" owner. It is rather a collection of implementations on different platforms. netcore implementation happens to live in this repo ...
I guess I need to get educated more on NuGet and how it plays with our libraries ...

[2016-11-29 18:48] AlexGhiondea commented on #8453
The port of the API to Desktop is tracked by another issue.

[2016-11-29 18:48] #8453 closed

[2016-11-29 18:49] AlexGhiondea commented on #7804
@yizhang82 @tijoytom is this something you are currently working on?

[2016-11-29 18:51] AlexGhiondea commented on #8920
@Priya91 is this something we still want to do in 1.2?

[2016-11-29 18:52] AlexGhiondea commented on #8965
Closing this as S.R.Loader is not supposed to work on 4.6.2. See https://github.com/dotnet/corefx/issues/8526 for more information.

[2016-11-29 18:52] #8965 closed

[2016-11-29 18:53] karelz commented on #14093
@danmosemsft how is it different from #4152?

[2016-11-29 18:54] AlexGhiondea commented on #8973
We need a formal API proposal for this that also covers use cases.

[2016-11-29 18:57] danmosemsft commented on #14093
#4152 covers gathering EventSource traces, which is work, this one is just enabling the existing system to get dumps, which we need in order to make progress on our test break backlog.

[2016-11-29 18:58] danmosemsft commented on #14095
@alexperovich can answer that

[2016-11-29 18:59] VSadov commented on #13007
1. Is it really an intended behavior that constants would be mutable?
If that is the case we should emit `unbox`, not unbox.any

2. Would it be a breaking change now if we allow mutations in this scenario?

[2016-11-29 19:00] karelz commented on #14093
I see, we should rename / scope the original one to EventSource only then - as we split it off.

[2016-11-29 19:02] VSadov commented on #13050
Need to understand what each of these enable and the state of completeness.

Those that are useful, should be enabled (perhaps log separate issues for those).
Unnecessary ones (unfinished experiments, no longer relevant code, missing underlying APIs should be removed)

[2016-11-29 19:02] VSadov commented on #13052
I think this has been done

[2016-11-29 19:02] #13052 closed

[2016-11-29 19:02] AlexGhiondea commented on #9012
@jkotas @ericstj @Priya91 what are the next steps for this?

[2016-11-29 19:03] danmosemsft commented on #14093
done

[2016-11-29 19:04] nietras commented on #14047
@jkotas ha so much I am still not partial too, so have some questions.

I understand that for JIT intrinsic it does not matter, but when it is not, will it be implemented in coreclr? So there won't be a "portable" version of this, for others e.g. me ;) to use?

So... this can't be used in `Span<T>`, what about `List<T>`, `Dictionary<TKey, TValue>` etc.?

As I noted in another issue, I do believe t

[2016-11-29 19:05] VSadov commented on #13458
I think this cannot be truly fixed and should be documented that aliasing nature of refs could be observably not preserved in interpretation mode.

This is not something new. VB resorts to copy-backs in scenarios like passing properties by references. Even CLI standard reserves the right to break aliasing in scenarios such as remoting and fall back on copy backs

[2016-11-29 19:05] AlexGhiondea commented on #9274
This would be a breaking change that will probably not add a lot of value.

I am closing this for now. Feel free to reactivate if you have more data to justify taking this breaking change.

[2016-11-29 19:05] #9274 closed

[2016-11-29 19:10] AlexGhiondea commented on #9416
@stephentoub have we seen this again? If not, then we can probably close this issue and re-open it if we see it again.

[2016-11-29 19:11] VSadov commented on #13630
key and value collections match the behavior of GetEnumerator, which is currently "snapshotting" - it captures the current version at creating and iteration fails if version changes, even before the fist element is fetched.

I can't thin of a good reason for this behavior, vs delaying the version capture until the first iteration, but it does not mean there are not good reasons :-)

In any case, i

[2016-11-29 19:11] #13633 closed

[2016-11-29 19:16] AlexGhiondea commented on #9699
This issue is blocked until these members exist for .Net Native.

[2016-11-29 19:21] AlexGhiondea commented on #10093
@terrajobst what are your thoughts on this?

[2016-11-29 19:22] AlexGhiondea commented on #10207
@jcouv is this something you are still working on?

[2016-11-29 19:25] alexperovich commented on #652
That list looks right. Just need to add the rules to CodeAnalysis.ruleset and fix the errors.

[2016-11-29 19:25] jaredpar commented on #14047
Agree.  Part of the reason there is no central doc is because a lot of these issues are in the **very** early stages.  We haven't committed to doing them and hence haven't done a lot of work trying to get coherent docs in order.

The term `unmanaged` is certainly more ubiquitous given it is also how the C# spec refers to such types: unmanaged types specifically.  It's a strong possibility for what

[2016-11-29 19:27] VSadov commented on #14051
Changing exception in a case of a failure does not seem very breaking.

One thing to note - it is generally not a goal of expression tree factories to catch all possible ways to make a broken tree. At very minimum it just needs to make a tree that is well-formed. It may yet fail to compile. Some checks are too expensive  or impossible to do at construction time.

Essentially, the factory just trie

[2016-11-29 19:28] alexperovich commented on #14095
FxCop the executable doesn't work on .NET Core binaries. We are running the roslyn fxcop analyzers in corefx.

[2016-11-29 19:28] AlexGhiondea commented on #10457
It sounds like we want a formal API proposal.

We should also consider the implementation details on this (maybe it is worth making this change in S.P.CoreLib/CoreCLR instead of having to rely on dynamically generated code for this).

[2016-11-29 19:30] AlexGhiondea commented on #11154
We have a formal API that we can review. Marking it accordingly.

@terrajobst can you add this to the review schedule?

[2016-11-29 19:30] alexperovich commented on #652
Actually, it looks like we will need to add new analyzer assemblies for these rules. I will add these to #14095 to track.

[2016-11-29 19:30] #652 closed

[2016-11-29 19:41] benaadams commented on #14047
`unmanaged` has connotations of data sourced external to the clr; rather than data that doesn't contain GC references. The type if it was a field in a class would also be `managed` in these terms. Might just be me though...

[2016-11-29 19:45] AlexGhiondea commented on #12160
@bmeverett I think there are cases where we call MoveNext and check Current instead of using the foreach statement.

[2016-11-29 19:54] nietras commented on #14047
I completely agree, wasn't suggesting this was better than other. Just that we need a new unambiguous term, for future. I think naming of `IsReferenceOrContainsReferences` is fine for now, since it will probably take some time before a better term can be agreed upon.

[2016-11-29 19:55] mattwarren commented on #14047
Couldn't that be the name then, 'IsTrackedByGC()'? (or something along those lines)

On 29 Nov 2016, at 19:48, "Jan Kotas" <notifications@github.com> wrote:

[2016-11-29 19:57] JonHanna commented on #14051
Yes, these are all issues with the validation that's there. A comment on the method that does most of it says either the non-indexer property factory should have more checks or it should have less. It should probably be in the middle, but what's there should be correct in what it attempts, especially 2 and 6 potentially blocking calls that should succeed.

[2016-11-29 20:03] alexperovich commented on #13107
I can baseline the error and file an issue to fix.

[2016-11-29 20:12] CIPop opened #14101 "Ensure that all System.Net tests are running against NetFX"
Ensure that all System.Net Functional tests run against both Core and NetFX.

/cc @karelz @davidsh

[2016-11-29 20:13] danmosemsft commented on #14095
I think @bartdesmet may be asking for an example of using the roslyn analyzers.

[2016-11-29 20:15] pranavkm commented on #14085
@vijayrkn is involved in the VS publishing feature.

@tiefling might not be super relevant, but why not make this a portable app? You wouldn't need to juggle around with runtime identifiers.

[2016-11-29 20:16] softlion commented on #13946
@karzel i filed the bug on xamarin android. They answered positively by redirecting me to the github implementations.
The problem is, the pr has to be done on 2 repos, first one is an android c repo and code is in c, second one is c# on mono. First pr must be accepted before second can be made. If you want to pr go, i think I won't.

[2016-11-29 20:16] #13946 closed

[2016-11-29 20:17] JonHanna commented on #13630
Versioning in foreach is at least akin to many other collection types. I wouldn't be upset to see it go from there too, but it doesn't go counter to common IDictionary implementations like it does in the keys and values collections.

Still, I'm happy to remove all versioning entirely, too.

[2016-11-29 20:17] #14051 closed

[2016-11-29 20:18] alexperovich commented on #14095
The analyzers are run as part of build in any corefx source project using https://github.com/dotnet/corefx/blob/master/CodeAnalysis.ruleset as the ruleset. If you add nuget references to analyzer packages in project.jsons then they will also be included.

[2016-11-29 20:26] JonHanna commented on #13842
I'd like to see Queryable keep its parity with Enumerable on any method that doesn't materialise a collection (since that drags things into memory anyway) or attach elements like Append.

[2016-11-29 21:01] karelz commented on #13946
Would be useful to link the issue from here.

[2016-11-29 21:09] dlstucki opened #14103 "[WinHttp] WebSocket.ReceiveAsync throws internal exception type WinHttpException"
When the remote side of the conversation closes the connection abruptly while a WinHttpWebSocket is receiving the Exception thrown is a WinHttpException.  That type is internal and therefore users cannot "catch" that specific type.  Also, it's likely a different exception type would occur on non-windows platforms and it should be consistent in order to allow writing code that works similarly acros

[2016-11-29 21:15] dstuckims commented on #14103
The same scenario throws WebSocketException in .NET 4.5.

[2016-11-29 21:16] masonwheeler commented on #14047
I've heard it said there are only two hard problems in computer science: Cache invalidation, naming things well, and off-by-one errors...

[2016-11-29 21:23] terrajobst commented on #14047
With APIs there is almost never a "for now". Once in, we can rarely change the APIs (unless it's a preview). Just going with a random name because we can't think of one "right now" isn't a good enough reason to accept breaking changes later, though.

@jkotas @jaredpar: To be clear, I wasn't suggesting to use an existing concept for the name. My desire is that we should get our terminology straight

[2016-11-29 21:28] terrajobst commented on #11154
We're reviewing all issues marked as `api-ready-for-review` once a week. Next week, we'll do a two hour round so that we can unblock more issues for our holiday hackers :-)

[2016-11-29 21:34] nietras commented on #14047
@terrajobst of course and I agree that the best case would be to get these concepts named for once.

Perhaps I also misunderstood @jkotas when he said this would not be "public", since it was probably more related to not being "public" in a portable sense. Still juggling with these different terms too... what's .NET Core specific, what's .NET Standard i.e. portable API?, what's part of coreclr, wh

[2016-11-29 21:34] OmarTawfik commented on #7543
Next step: repro, and verify if it is the same race issue as #4688.

[2016-11-29 21:44] terrajobst commented on #12998
I've answered that [here](http://stackoverflow.com/a/35940240/847438).

[2016-11-29 21:47] vijayrkn commented on #14085
In the pubxml file, there is an msbuild property 'PublishRuntime'.

Publish looks at this property to determine which RID to use. If this property is not defined, then the RID is inferred for standalone apps (inferred runtime is shown in the settings page on the publish dialog).

[2016-11-29 21:53] terrajobst commented on #10093
Couple of thoughts:

* Yes, `[Obsolete]` is heavy handed.
* Before discussing whether we need a new type, we should focus on the desired developer experience:
    - Should the compiler provide output?
    - Should an analyzer provide output?
    - Should the developer be able to suppress specific areas?
    - Should we have a way to point to a web site with more information?
    - Should we suppor

[2016-11-29 21:55] JonHanna commented on #13842
Right, I wasn't going to try typing this on my phone. I think we should have something like this:
[code]

[2016-11-29 22:08] karelz commented on #13842
Do we have a static type for extension methods where we should put these?
Should we track these APIs as separate API proposal (given that we already have approval), or should we add it to it and go back to review next week?
Are there more APIs missing on `IQueryable`? Do we need to do broader sweep to bring it to parity with `Enumerable`?

Of course: I'd like to wait on @VSadov @OmarTawfik to agre

[2016-11-29 22:20] JonHanna commented on #13842
@karelz they'd go into `System.Linq.Queryable` and currently there's parity bar those I mentioned above that only make sense to have for one or the other (e.g. to do ToList we have to enumerate elements anyway, and therefore it only belongs on Enumerable). There's also a test in the test project for each that'll fail if you add a public method to one and not either add it to the other, or add it t

[2016-11-29 22:27] karelz commented on #13842
Let's make it part of this proposal then. It was just oversight we didn't make it part of the original proposal.

Adding:
[code]

[2016-11-29 22:28] jamesqo commented on #14046
@jkotas Ok. If we do not use Marvin32 for tuples of arity 2 and 3 however, I do not think we should use it for the other tuple types. We should keep the hashing algorithm consistent. Are there any other good hashing algorithms that accept 4 bytes at a time?

Also since this is related to security, I should mention a couple of posts I read the other day which describe how it's possible to cause col

[2016-11-29 22:28] JonHanna commented on #13842
The alternative implementation approach is to do much as we already do for queryable methods:
[code]
And then leave it up to query providers to add support. It's obviously simpler, but I wonder how long it would take the providers to catch up.

[2016-11-29 22:30] Coruscate5 opened #14105 "XmlWriter stable build missing "Path" parameter in "Create" method"
Not sure exactly what's going on here, but in my current .NET Core project, I can't seem to use the following:

`XmlWriter.Create(filepath, xmlwritersettings);`

The create method with that signature doesn't exist in my assembly version (4.3.0 stable). However, the method shows up in the reference code - what am I missing?

[2016-11-29 22:43] jtaubensee commented on #13773
@karelz - Do you know if there is someone we can talk to about validating this issue? We'd like to get an idea if this is something that the team would like to fix at all (regardless of timeline), or if it is something we can help with a PR.

[2016-11-29 22:44] jkotas commented on #14046
@jamesqo Hmm, I am not sure actually. All algorithms I can think of would do bit mixing just like Marvin32. You can argue whether it is ok to omit some of the barel-shifts, but there is really no good answer for it.

[2016-11-29 22:49] JohnChen0 commented on #13566
Verified. This DLL import now works correctly when running on full .NET on Win7.

[2016-11-29 22:49] #13566 closed

[2016-11-29 22:54] weshaggard commented on #13922
Yes we do sometimes make Ref only changes like adding obsolete or browser hidden.

[2016-11-29 22:57] weshaggard commented on #13372
This is a pretty long thread with multiple issues (I helped answer a number of related questions for @danmosemsft offline), let me know if you guys need any further clarification from me.

[2016-11-29 23:08] karelz commented on #13842
OK, I got offline approval on the Queyable part.

Next step: We need someone to implement it. Any takers?

[2016-11-29 23:11] danmosemsft opened #14106 "Missing System.Net enums"
These are missing
[code]

[2016-11-29 23:11] #13934 closed

[2016-11-29 23:12] danmosemsft opened #14107 "Add missing System.Net Disposables"
These NS2.0 are missing

[code]

[2016-11-29 23:13] danmosemsft opened #14108 "Add missing WebHeaderCollection members"
These are NS2.0 but missing
[code]

[2016-11-29 23:14] danmosemsft commented on #13372
@CIPop @karelz I've gone through every comment above and either noted why it's okay or opened an issue. The list at the top is updated. I'm now going to close this issue as it's not necessary any more.

[2016-11-29 23:14] #13372 closed

[2016-11-29 23:21] svick commented on #14105
[That overload](https://apisof.net/catalog/System.Xml.XmlWriter.Create(String,XmlWriterSettings)) does not exist in .Net Standard 1.x/.Net Core 1.0. It will exist in .Net Standard 2.0/.Net Core 1.2, which is probably why you see it in the source code.

[2016-11-29 23:21] RussKie opened #14110 "Restoring Microsoft.NETCore.App 1.0.0-preview2-1-003177 produces downgrade warnings"
I downloaded the latest .NET Core 1.1 SDK from https://go.microsoft.com/fwlink/?LinkID=835014. Strangely enough it downloads _dotnet-dev-win-x64.1.0.0-preview2-1-003177.exe_.

* tweaked the global.json to point to this version,
* tweaked project.json to point to Microsoft.NETCore.App 1.1.0 and netcoreapp1.1:

[code]

While attempting to restore the packages I get the following warnings:

[code]

W

[2016-11-29 23:26] karelz commented on #12460
@geoffkizer how far are you with the issue?

[2016-11-29 23:28] jamesqo commented on #13842
@karelz I will implement the `Enumerable` part; I've been thinking about it for a while now. I am not all that familiar with `Queryable` though, so @JonHanna can take that if he wants.

[2016-11-29 23:30] karelz commented on #14068
@danmosemsft @weshaggard what's your advise on Serialization attributes? Can we drop them from .NET Standard when they are Obsolete in Desktop?

[2016-11-29 23:33] RussKie commented on #12114
I'm having similar issues https://github.com/dotnet/corefx/issues/14110

[2016-11-29 23:44] VSadov commented on #2255
Not iterating an IEnumerable in general is observable. If we do this optimization internally, we would have to constrain it just to some known source types like `T[]` or `List<T>`.

I would wonder how common it is to have sources that have `T[]` or `List<T>` types and also either of two is empty. Probably not often.

Also It seems like something that is easier to be done externally and could cover

[2016-11-29 23:44] #2255 closed

[2016-11-29 23:45] pranavkm commented on #14110
Does your application reference other libraries?

`WebApplication1 (>= 1.0.0) -> System.Security.Cryptography.Algorithms (>= 4.2.0)` suggests that you have it listed in you project.json which is producing the downgrade warning.

[2016-11-29 23:54] ericstj commented on #14110
As @pranavkm mentions your restore log doesn't match the project.json you've shared.  Please share the exact project.json that is producing the warnings and we can point out the problem.

[2016-11-29 23:57] moozoo64 commented on #9788
@radenkozec
"brthor commented on 12 Jul" is saying that Microsoft.VisualStudio.* are adding addition commands to dotnet for the project. Most probably for design time while editing in Visual Studio.
I assume that if your not using Visual Studio then they aren't needed.
I'd also guess that if Visual Studio doesn't detect them it can still edit the project with less functionality.

To make the defau

[2016-11-30 00:07] jkotas commented on #14047
@nietras Correct. It is consequence of adding it to existing type. It cannot be added to existing runtimes that have the type already.

@mattwarren I had similar observation earlier - my suggestion was `ContainsGCPointers<T>()`. Check the discussion about it at https://github.com/dotnet/coreclr/issues/1135#issuecomment-262616750.

[2016-11-30 00:09] VSadov commented on #14046
@jkotas  - the arguments for per-appdomain sound convincing.
We can always start randomizing at bigger granularity if there is too much apparent breakage.

[2016-11-30 00:21] JonHanna commented on #2217
Why not
[code]
?

This could provide the encoding needed while remaining distinct from UTF-8, not called UTF-8 (though perhaps called something else, I'm pretty sure Wobbly Transformation Format is a tongue-in-cheek reference to another expansion of the same acronym), and need not even necessarily be in System.Text.

[2016-11-30 00:32] karelz commented on #13372
Thanks @danmosemsft!

[2016-11-30 00:33] karelz commented on #13842
I think we should take only PR with both parts. If we do just half, it will create artificial debt.
@jamesqo can you work with @JonHanna together and prepare a change for both?

[2016-11-30 00:35] VSadov commented on #14046
As for beefing up hash combiner as a security measure - I am not sure this is the most effective use of cycles.

If elements have bad hash functions in a first place (say they use just two values), no matter how much you rotate and mix them you will not increase the result range.
If elements have good hash functions - then combining via XOR is fast and efficient. The only problem with XOR is that

[2016-11-30 00:37] tarekgh commented on #2217
@JonHanna WTF8Encoding is option too we can consider. the question is, is it better to have whole new class to handle the unpaired surrogate or can we just let UTF8Encoding class support this with some property or flag?

if we are going to have WTF8Encoding, I think it should be inherited from UTF8Encoding. but anyway we need to see the complete proposal so we can discuss it. Thanks.

[2016-11-30 00:39] JonHanna commented on #13842
They should really go in together, but if you make a start on the enumerable bit I can help with the queryable.

The question is whether to take the first approach I mention (rewrites itself to a query current technology supports) or the second (describes itself like other queryable methods do and lets the provider deal with it).

@VSadov @bartdesmet opinions? (Input people involved with Entity Fr

[2016-11-30 00:43] RussKie commented on #14110
Here's my original project.json with only tweaks done to Microsoft.NETCore.App 1.1.0 and netcoreapp1.1:

[code]

At this stage VS tells me I need to update the references. Fair enough.
Do package restore by clicking on "References" node:

[code]

Compile:

[code]

[2016-11-30 00:45] RussKie commented on #14110
Also at the end my project.json isn't being updated, but project.lock.json has all the changes...

![image](https://cloud.githubusercontent.com/assets/4403806/20735162/6e25cb82-b6f2-11e6-9075-d2ccc8debde6.png)
![image](https://cloud.githubusercontent.com/assets/4403806/20735176/7afb5372-b6f2-11e6-91c5-e032c069bead.png)

[2016-11-30 00:47] roozbehid commented on #1039
So it is in daily build. How can I use it?
I am so confused on how these work
I've installed the newset sdk and so in my global.json I have

`"sdk": {
    "version": "1.0.0-preview4-004130"
  }
`

So does it mean I can use DataTable/DataSet?
on my csproj I have

`
<PackageReference Include="Microsoft.NET.Sdk">

      <Version>1.0.0-alpha-20161104-2</Version>
      <PrivateAssets>All</PrivateAssets

[2016-11-30 00:51] karelz commented on #14105
It's available in daily builds: https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Private.Xml/src/System/Xml/Core/XmlWriter.cs#L666-L673

[2016-11-30 00:51] #14105 closed

[2016-11-30 00:52] jiangzeng commented on #7806
@danmosemsft Sure

[2016-11-30 00:52] karelz commented on #13773
We are starting System.Net triage next Monday (see [area list](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas)). It will likely drag till January -- the area is the largest (~20% of all corefx repo) and we lost our Linux/Mac expert recently.

That said, we can always speed up ad-hoc triage of particular issues if there's interest.
@stephentoub @CIPop @

[2016-11-30 00:55] pranavkm commented on #14110
The downgrade warning is expected since `Microsoft.NETCore.App` *requires* `"System.Security.Cryptography.Algorithms": "4.3.0"`, but your project is forcing it to use a lower version. In fact removing it might be the right thing here. Also, you probably don't want to mix LTS (Microsoft.AspNetCore.Mvc 1.0.0) with FTS (Microsoft.NETCore.App 1.1.0) bits since it's untested \ unsupported. Here's the l

[2016-11-30 01:03] danmosemsft commented on #14068
The API must be there, including [Obsolete]. Possibly we could not support the actual functionality (ie throw) but generally we should.

What needs to happen
1) Paste in the [Obsolete] attributes from Desktop onto both types' ref and implementation. [Example](http://index/?query=httpWebRequest&rightProject=System&file=%5BRepoRoot%5D%5CNDP%5Cfx%5Csrc%5Cnet%5CSystem%5CNet%5CHttpWebRequest.cs&line=52

[2016-11-30 01:07] RussKie commented on #14110
I respectfully disagree. I don't force, in fact I expect the packages to be upgraded to the latest version.

I even try to upgrade manually:

![image](https://cloud.githubusercontent.com/assets/4403806/20735537/cd78ab02-b6f4-11e6-9a2f-72517310f8d1.png)

The update log:

[code]

But as soon as the update finishes, the updates are still presented as if nothing happened (though less 2):

![image](htt

[2016-11-30 01:08] jcouv commented on #14046
@jamesqo Thanks for the help.
From last discussion with @jkotas and @VSadov, we're ok to move forward with randomization/seeding, but would rather hold back on adopting a more expensive hash function.
Doing the randomization keeps the door to changing the hash function in the future if the need arises.

[2016-11-30 01:08] jcouv commented on #10207
@AlexGhiondea I was not able to find the thread I thought I remembered. I'll try to re-enable the test and see if it passes or needs to be updated.

[2016-11-30 01:12] RussKie commented on #14110
If I completely restart VS after the above and rebuild I get the following:

[code]

At this stage I do restore packages by clicking on "References" node:

[code]

Only after that the warnings seem to be gone:

[code]

[2016-11-30 01:13] pranavkm commented on #14110
The UI update issue might be an issue you might want to open in the NuGet repo (https://github.com/nuget/home). You can edit the project.json manually to specify the versions if using the update dialog isn't working as expected.

[2016-11-30 01:16] #12966 closed

[2016-11-30 01:16] #11118 closed

[2016-11-30 01:20] danmosemsft commented on #14106
TransportType needs to be removed: https://github.com/dotnet/standard/issues/116

[2016-11-30 01:30] jamesqo commented on #14046
@jcouv OK, sounds like a good plan.

@jkotas If `ValueTuple` will continue to use the same hash, what is the plan for `HashCode` (#8034)? Do you still want to use Marvin32 there? Or can we take the same approach and stick with the current algorithm, but insert a random seed at the beginning?

[2016-11-30 01:59] dotnet-mc-bot opened #14117 "Test failure: System.Diagnostics.Tests.ProcessTests/TestWorkingSet64"
Opened on behalf of @jiangzeng

The test `System.Diagnostics.Tests.ProcessTests/TestWorkingSet64` has failed.

Assert.True() Failure
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Diagnostics.Tests.ProcessTestBase.Dispose(Boolean disposing)
       at System.IO.FileCleanupTestBase.Dispose()
       at ReflectionAbstractionExtensions.DisposeTestClass(ITest test, Ob

[2016-11-30 02:01] jiangzeng commented on #14117
Looks like same issue with #3281

[2016-11-30 02:51] geoffkizer commented on #12460
This is mostly implemented, but I need to test on Linux.  Windows implementation is complete and passes tests.

[2016-11-30 02:58] RussKie commented on #14110
Thanks, let's see if I get any traction there 😕

[2016-11-30 03:03] karelz commented on #12460
Cool. BTW: You can use Linux testing in PR via CI - there is a way to kick off outerloop tests explicitly.

[2016-11-30 03:14] bendono commented on #2217
I am a little concerned about this proposal. Unpaired surrogates are invalid in UTF-16, and the corresponding UTF-8 is ill-formed. In fact, this very issue is handled in the [Unicode FAQ](http://unicode.org/faq/utf_bom.html#utf8-5):

I realize that there are use cases because some external processes do not strictly enforce the rules. However, the line needs to be drawn somewhere. Not enforcing wel

[2016-11-30 03:28] takekazuomi opened #14118 "Missing SQL error code 40020, 40143, 40166, and 40540 for retry."
About SQL Database transient error code. Reference source and corefx are are different.

Reference source
https://referencesource.microsoft.com/#System.Data/System/Data/SqlClient/SqlInternalConnectionTds.cs,457

corefx
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlInternalConnectionTds.cs#L115

The cause is the following commit.
https://github.

[2016-11-30 04:06] tmat commented on #2217
@bendono There are legitimate scenarios where WTF8 is needed. For example, C# string literals are UTF16 encoded, so they can express unpaired surrogates.

[code]

Is a valid constant literal. Now, in order to serialize it in metadata we either need to use UTF16 or WTF8, in order for the string to be deserializable without data loss. ECMA CLI metadata standard chose UTF16, which is space inefficien

[2016-11-30 04:13] tmat commented on #2217
Re whether it should be a new class or a flag in UTF8Encoding ctor. Adding a constructor overload with ```allowUnpairedSurrogates``` flag would make this feature less visible than adding a new class. Which seems to be desirable based on the opinions expressed above. It would also be consistent with the existing constructors that accept flags ```bool encoderShouldEmitUTF8Identifier``` and ```bool t

[2016-11-30 04:16] deepumi commented on #12421
@karelz Any idea when this PR will be reviewed?

[2016-11-30 04:20] RussKie commented on #11082
Thanks @brentschmaltz. It works and I can see new type _JSON_.
Though I can't really see how it addresses my issue, perhaps I'm missing something.

I've created a condensed sample of our workflow: https://github.com/RussKie/Playpen/blob/master/TestHarness.cs.

I see that my claim is of type JSON too, but I can't access to values within unless I parse JSON object, can I?
![image](https://cloud.gith

[2016-11-30 04:27] bartdesmet commented on #13842
I would stick with the second traditional approach for a variety of reasons.

First, I wouldn't force the need to write a decompiler to recognize e.g. `xs.Reverse().Take(n).Reverse()` as `xs.TakeLast(n)` in every query provider, including new ones that may pop up. It adds complexity to support a direct mapping of a query operator to a target query language element (even the simplest `&last=n` appe

[2016-11-30 04:33] bartdesmet commented on #13842
FWIW, Ix.NET (part of Rx.NET, providing the `IEnumerable<T>` dual to our `IObservable<T>` operators) does have `TakeLast` and `SkipLast` including query provider support. See [QueryableEx.cs](https://github.com/Reactive-Extensions/Rx.NET/blob/master/Ix.NET/Source/System.Interactive.Providers/QueryableEx.cs) for the query provider part. It provides sibling `IEnumerable<T>` methods in the same class

[2016-11-30 04:40] bendono commented on #2217
@tmat There needs to be a distinction between a string (for example System.String) and an encoding. A string may be encoded in UTF-16, but that is an implementation detail and not important. (There have been calls for it to be encoded as UTF-8 and several other schemes.) An encoded string is a byte array / stream. I am referring to the later.

In fact, this distinction too is handled in the [Unico

[2016-11-30 04:53] tmat commented on #2217
@bendono I indeed distinguish between those two. By "UTF16 encoded" i mean in memory they are represented as UTF16 bytes and support storage of unpaired surrogates. In metadata they can be inefficiently stored the same way as in memory or more efficiently as WTF8 encoded.

BTW, System.Reflection.Metadata is in CoreFX. So if we make it public there it will be public in BCL ;)

[2016-11-30 05:28] bartdesmet opened #14119 "Consider adding more LINQ operators from Ix.NET"
https://github.com/dotnet/corefx/issues/13842 introduces `TakeLast` and `SkipLast` which existed in (Ix.NET)[https://github.com/Reactive-Extensions/Rx.NET/tree/master/Ix.NET/Source/System.Interactive] (`System.Interactive`, which is part of the Reactive Extensions project) for a long time. This may be a good time to review other operators we got in Ix.NET and see whether they're worth adding to .N

[2016-11-30 05:35] divega commented on #13842
I agree with @bartdesmet on sticking to the traditional approach for `Queryable` methods. Among all the reasons he mentioned, I think query providers should really control how unrecognized methods are handled. E.g. while some providers will throw, others could switch to in-memory evaluation or call back into user code.

[2016-11-30 06:38] danmosemsft commented on #14118
@michaelaird

[2016-11-30 06:39] danmosemsft commented on #14117
@Priya91 test build failure can you please take a look?

[2016-11-30 06:45] AlexGhiondea commented on #1652
It looks like the issue in question is happening [here](https://github.com/dotnet/corefx/blob/master/src/System.Security.Principal.Windows/tests/WindowsIdentityTests.cs#L26).

Basically, we do this:
[code]

And maybe we should do this:
[code]
/cc @stephentoub as he added that comment originally.

[2016-11-30 07:10] javagg commented on #14119
+1

[2016-11-30 07:10] AlexRadch commented on #8034
I suggest do not create any class but create extension methods to combine hash

[code]

That is all! It is fast and easy to use.

[2016-11-30 07:35] AlexGhiondea commented on #13566
@JohnChen0 that's great! thank you!

[2016-11-30 07:51] #13899 closed

[2016-11-30 07:58] YongseopKim commented on #13116
I write to leave information.
Now my problem is solved. The reason why 'nuget install' was failed is that of usage for wrong nuget command. I didn't touch NuGet.Config at all. After adding local package source, it works.
If someone faces one problem like this, consider modifying the NuGet.Config file.

[2016-11-30 08:30] JamesNK commented on #10470
Yes, I see it as an environment query.

`IsInterpretedExpression` might be useful for some people but I'm interested in discovering whether an environment supports compiled expressions before I choose to use expressions (or not, depending on the environment query result).

[2016-11-30 08:37] davidfowl commented on #10470
Yes. It needs to be before not after. Framework code would likely switch logic altogether and use reflection invoke vs expression tree compilation.

[2016-11-30 09:10] Myrmex commented on #13267
Adding some new thoughts about this problem: by looking at the failed response logs, I noticed a number of warnings related to the wrong bitness: it seems that there are issues with the modules bitness between 32 and 64. The following log comes from running my app targeting win7-x86 (as I remarked before, I'm not allowed to choose 64 bit for my VM; anyway, I tried to publish also for win7-x64 and

[2016-11-30 09:17] tiefling commented on #14085
@vijayrkn The VS Publishing feature makes this a lot clearer, I think the inferred state was happening when I was deploying from VSTS (which is using command line).

@pranavkm How do I make it a portable app? Is that another runtime option?

[2016-11-30 09:39] ciel commented on #11100
This is completely a stop-ship issue, it absolutely needs to get addressed.

[2016-11-30 09:47] JonHanna commented on #13842
Or indeed they could do what the first suggestion does very quickly and have producing a more optimal implementation as a TODO.
Right so, the second approach it is. @jamesqo ping me when you've a branch with support for this, even if it isn't fully tested, and I'll so how this side of it works.
(We're going to have to put in a P2P reference from S.L.Queryable to S.L, temporarily. I trust that is o

[2016-11-30 13:04] redknightlois commented on #14046
@jcouv seed randomization per domain sounds good enough.
@jamesqo @jkotas the current algorithm has good mixing properties, it is very fast and easily inlineable by the JIT, if there is no obvious shortcoming we shouldnt change it.

[2016-11-30 13:07] jnm2 commented on #7804
@masonwheeler

This topic has come up several times here and in .NET design meetings. Being respectful of warnings-as-errors is a good thing but at the end of the day, if people opt into warnings as errors, they should expect to have their builds broken now and then. They want micromanagement, and they will get it.

[2016-11-30 13:13] jnm2 commented on #7804
I think obsoleting the other enum value immediately is okay. If you don't do that, at least clearly document the value as deprecated in IntelliSense.

Personally I leave it off until the implementation is past primary development. I turn it on during the stage where I don't expect to be making more changes myself besides potential dependency updating.

[2016-11-30 13:48] stephenmichaelf commented on #8655
Thanks for the feedback @karelz I edited the post above and will do that going forward.

@JeremyKuhne thanks for the direction! I created the PR.

[2016-11-30 13:49] varocarbas commented on #13293
I have finished my analysis before than planned and also with a different output than expected. IMHO, it seems that no relevant improvement as intended is possible (although there might still be some alternatives, as explained at the end of this post).

First thing to bear in mind is that the in-built `Parse`/`TryParse` methods of all the numeric .NET types (integer or not) support other-than-just

[2016-11-30 14:21] jnm2 commented on #10752
@robertmclaws Mine is `IBindingList`-oriented but this concept could be even more powerful with `INotifyCollectionChanged`.

Here is how I would design it: https://gist.github.com/jnm2/d950053fd3825818371b87730f208839#file-eventbufferingcollection-cs

[2016-11-30 14:31] jnm2 commented on #11029
It's the hiding a bug part that matters most to me. If I'm _expecting_ null (which I think should be rare because null and empty list are not semantically similar from my perspective), I'd rather encode that via `.SelectMany(x => x ?? Enumerable.Empty<int>())`

[2016-11-30 14:39] jnm2 commented on #395
I'd see value in both an OS-dependent sort for cases where you want to match the OS (file listing, for example), and an OS-independent .NET sort that natively understands both numbers and dates.

The OS-dependent sort should be super simple to implement. After that's done I think it would still be worth putting design time in towards an independent managed sort as well, to figure out if and how pe

[2016-11-30 15:14] massimocode commented on #14048
@MattWhilden  @richlander hey sorry do you have any idea where I should raise this issue?

[2016-11-30 15:22] vcsjones commented on #14118
The discussion on the changes and reasoning starts here https://github.com/aspnet/EntityFramework/issues/237#issuecomment-167926784

[2016-11-30 15:46] Coruscate5 commented on #14105
Thanks - the XmlWriter create method using MemoryStream was fine for now, but the link to the daily/"dev" builds was helpful.

[2016-11-30 15:54] pranavkm commented on #14085
Change

[code]

to
```json```
"Microsoft.NETCore.App": {
   "version": "1.1.0",
   "target": "platform"
}
[code]

[2016-11-30 16:00] jnm2 commented on #2217
😆 This made my day!

[2016-11-30 16:18] ericstj commented on #14110
Closing since this appears to be a NuGet issue.

[2016-11-30 16:18] #14110 closed

[2016-11-30 16:38] stephentoub commented on #2335
No, it hasn't been addressed.  That PR was just a corner case, avoiding an allocation when the bag is empty.  This issue is mainly focused on enabling entirely allocation free enumeration, which I think is a good thing to do, e.g. adding a method like:
[code]
that would a) return a struct (to avoid the ```IEnumerator<T>``` allocation, and more importantly b) iterate the bag in place rather than co

[2016-11-30 16:46] stephentoub commented on #1652
That's the right general idea, but the release shouldn't happen until after the token is no longer needed, e.g.
[code]

[2016-11-30 16:46] bmeverett commented on #12160
@AlexGhiondea Thanks!

One more thing as I'm finishing up theses changes, is converting nongeneric collections with generic. The referenced pull request says to change ArrayList to List<T> if not public. ArrayList looks like it's public and that piece of code where the comment was seems to no longer be there. Was there another place that should be converted to generics?

[2016-11-30 16:48] stephentoub commented on #13773
Seems reasonable to me to expose some of those details somewhere, either on the exception that's thrown or on the ClientWebSocket instance itself.  @davidsh and @cipop should comment, though.

[2016-11-30 16:53] jnm2 commented on #6073
I prefer to solve this with `T? SingleOrNull<T>(this IEnumerable<T> source) where T : struct`.
I have SingleOrNull, FirstOrNull, MaxOrNull, IReadOnlyDictionary.GetValueOrNull, etc.

They are all shorthand for `.AsNullable().SingleOrDefault()`, etc.
This itself is shorthand for `.Select(_ => (T?)_).SingleOrDefault()`.

[2016-11-30 17:06] karelz commented on #6073
@jnm2 are you proposing changes to the API shape? Or just mentioning an alternative in general?
Personally I think the Try* pattern is already well established in BCL and easier to use / comprehend.
Also, `*OrDeault` does not work well with cases when `null` is acceptable value.

[2016-11-30 17:10] weshaggard opened #14127 "Assembly.EscapedCodeBase doesn't exist in the implementation"
MembersMustExist : Member 'System.Reflection.Assembly.EscapedCodeBase.get()' does not exist in the implementation but it does exist in the contract.

We have exposed it in the reference assembly at https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L4714 but it doesn't exist in the implementation. This also points out that we don't have test coverage for this pro

[2016-11-30 17:11] weshaggard commented on #14127
@sepidehMS I think you did the reflection work so I'm assigning to you.

[2016-11-30 17:15] weshaggard commented on #14127
Nevermind I was diffing against an older version it was added with https://github.com/dotnet/coreclr/commit/b28f557ee79d70a83e299d6c83a2c803139edba2 but we probably do need some test coverage for this as I didn't find any with my search.

@rahku

[2016-11-30 17:15] #14127 closed

[2016-11-30 17:15] tiefling commented on #14085
I'll give that a try - would I lose anything from this?

[2016-11-30 17:20] pranavkm commented on #14085
See https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/ for what the differences are.

[2016-11-30 17:23] stephentoub commented on #9416
@AlexGhiondea, yes, we've seen it a lot.  Our temporary workaround applied by @mmitche and @adityamandaleeka is disabling Transparent Huge Pages on the CI machines.  It appears to be an issue with the kernel, but some change we made at some point really exacerbated it.

[2016-11-30 17:28] stephentoub commented on #14108
Just from the ref, right?  They appear to be in the src.

[2016-11-30 17:45] tiefling commented on #14085
Thanks for that - I may give that a try.

[2016-11-30 17:45] karelz commented on #9087
We don't need to keep NETFX bugs opened - netfx-port-consider is sufficient.

[2016-11-30 17:45] #9087 closed

[2016-11-30 17:48] jnm2 commented on #6073
@karelz Just making sure the concept gets discussed before the API is finalized. As you pointed out, it doesn't help in cases where `null` is acceptable, so on that basis I don't think the API shape should be changed.

[2016-11-30 17:50] davidsh commented on #14103
@CIPop I think the best fix here would be to match app-compat and throw the `WebSocketException` and place the `WinHttpException` as an inner exception.

[2016-11-30 18:18] AlexGhiondea commented on #1652
@stephentoub ah -- yes -- the code to use the token would go where you suggested 😄

[2016-11-30 18:18] AlexGhiondea commented on #1652
Next steps: Actually implementing this. This is trivial and a very simple way to get started with our code base.

[2016-11-30 18:20] danmosemsft commented on #13474
Again
[code]

I'm surprised it's trying to access this path on my Windows box; `'C:\usr\local\share\IsolatedStorage\qzfnebsg.bpn\bydytht5.hfg\StrongName.523eyfdtenor3l0btjpf240vsoo5j
  c3i\AssemFiles\'` @JeremyKuhne is that right?

[2016-11-30 18:24] kosinsky commented on #7953
Will be that fix included in .NET 4.6.x?

[2016-11-30 18:24] AlexGhiondea commented on #12160
@bmeverett thanks a lot for doing this!

I think what that meant was to only change ArrayList to a generic version in the implementation. If the ArrayList shows up in a public method signature then we cannot actually change it to a generic version.

@karelz can you add @bmeverett to the contributors list so we can assign this item to him?

[2016-11-30 18:24] #13900 closed

[2016-11-30 18:33] karelz commented on #12160
Invitation sent

[2016-11-30 18:34] AlexGhiondea commented on #9416
@stephentoub it sounds like this is something we should look into. Do you have any suggestion as to where the issue might be coming from so that we can route it to the right person?

[2016-11-30 18:39] karelz commented on #13901
@Priya91 can you please do this one first? Thanks!

[2016-11-30 18:42] #14106 closed

[2016-11-30 18:42] #14107 closed

[2016-11-30 18:45] danrozenberg commented on #2984
It seems like adding ``System.Collections.Immutable": "1.3.0`` to my project.json is fixing my ``System.Runtime`` reference to version 4.0.20, even though other references specify a higher version of ``System.Runtime``.

The following project.json, for example, leaves me with ``System.Runtime 4.0.20``:

[code]

The following project.json gets me  the desired ``System.Runtime 4.1.0``:

[code]

Is t

[2016-11-30 18:56] steveharter opened #14131 "Add HashAlgorithm.HashSizeValue protected field"
Port this protected field (apparently missed with other HashAlgorithm work):

[code]

Affects derived classes since they must now set this field instead of overriding HashSize property.

[2016-11-30 19:00] ericstj commented on #2984
@danrozenberg both project.json files when restored select the exact same System.Runtime.dll in project.lock.json.  If you're seeing different results the problem may exist further down in the build process.

How are you determining that, and what are you using to build? /cc @piotrpMSFT @davidfowl

[2016-11-30 19:01] stephentoub commented on #9416
@adityamandaleeka had been looking into it.

[2016-11-30 19:01] nietras commented on #14047
@jkotas would it not make sense to add it somewhere else then? Not that I couldn't reimplement it in the places I would like to use it, but it would be good to have in a portable way, in the future at least...

[2016-11-30 19:07] AlexGhiondea commented on #9416
Thanks @stephentoub. I assigned this to @adityamandaleeka and marked this as blocking-clean-ci since we would like to remove the workaround as soon as we can.

[2016-11-30 19:08] AlexGhiondea commented on #13293
@varocarbas thank you very much for the extremely detailed analysis and all the work that went into coming up to this conclusion.

What I think it comes down to is how you are actually using the Parse method for. If you are using it for a specific scenario where you can narrow down the requirement of the input to a small subset, then you can really optimize for that scenario and get really good pe

[2016-11-30 19:10] brentschmaltz commented on #11082
At the ClaimsIdentity level, all values are strings.

The 'token' returned from validateToken is a JwtSecurityToken.

JwtSecurityToken.JwtPayload is a dictionary of objects. The complex JSON claims are Json.net JObject and JArray.

If you work with the JwtPayload, then you can work directly with the JArray.

________________________________
From: RussKie <notifications@github.com>
Sent: Tuesday, N

[2016-11-30 19:15] CIPop commented on #11321
@joperezr @weshaggard @terrajobst /cc @ericstj 😮 I can't find the table anymore. The code still contains a lot of TFMs. Is there a link to something new describing them?

From discussions with @karelz and @davidsh we are still going to have the various TFMs to identify if the lib is built for netcore or UWP, etc or if the TestTFM is targeting a particular platform or .Net Framework (net463).

[2016-11-30 19:17] bmeverett commented on #12160
@karelz accepted

[2016-11-30 19:18] jkotas commented on #14047
These methods should come to other runtimes in future, and become part of the portable set that you can depend on.

There is a challenge with adding one-off methods, and making them available on existing runtimes: We would need to create a new type and likely even a new assembly for it. This approach is ok for large chunks like `ValueType` or `Span<T>`, but it does not scale for one-off methods. W

[2016-11-30 19:19] JeremyKuhne commented on #13474
@danmosemsft Ugh, a line got left in. Removing it. Orthogonal to your other issue I think.

[2016-11-30 19:21] danrozenberg commented on #2984
Hello, @ericstj . Thanks for the quick response.

I am using Visual Studio

[code]

and ``Microsoft .NET Core Tools (Preview 2)   14.1.20907.0``

I haven't changed any build options, so I assume the default being used is MSBuild?

To determine the version that I end up with, I am looking at the solution explorer, under references. There I can see the System.Runtime version being used.  Also, runni

[2016-11-30 19:25] varocarbas commented on #13293
@AlexGhiondea No problem.

Yes. For example, `long.Parse(string)` accounts for a very restricted scenario (it only accepts digits, the minus/plus sign and heading/trailing blank spaces) and I did modify the standard `NumberParser` algorithm to only care about this scenario. The resulting code was much smaller, but the measured performance was similar to the default one and making them faster is re

[2016-11-30 19:26] danrozenberg commented on #2984
My project.lock.json, in case that helps

[code]

[2016-11-30 19:43] bmeverett commented on #12160
@AlexGhiondea not sure I'm entirely following, I get what you're saying but looking at some of the uses of ArrayList I'm not sure they could be converted. Could you maybe give me a quick example what you're looking for?

[2016-11-30 19:53] dstuckims commented on #11874
I'd like to be able to access any HTTP response headers sent by the remote endpoint when accepting the WS upgrade.  If some `ResponseHeaders` collection was available then `Sec-WebSocket-Extensions` would be included in it.

[2016-11-30 20:00] danmosemsft commented on #13293
Seconding our thanks to @varocarbas for this work.

Generally I don't want to make optimizations here (or anywhere else) that are specialized or increase complexity without real world motivation eg some benchmark or important workload that has identified that work here is necessary to help them achieve performance goals. That would also help prove we are optimizing usefully.

We do know ASP.NET wa

[2016-11-30 20:02] #9877 closed

[2016-11-30 20:39] sharwell commented on #262
@nguerrera Can you update the Milestone for this issue?

[2016-11-30 20:46] danmosemsft commented on #13293
I agree it could not replace the existing parse. That was my bad (didn't pay attention)

[2016-11-30 20:54] danmosemsft opened #14135 "SafeWinHttpHandleTest failed in CI"
[code]

[2016-11-30 20:55] danmosemsft commented on #14135
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/962/consoleText

[2016-11-30 20:55] danmosemsft commented on #14135
@CIPop @davidsh

[2016-11-30 20:57] davidsh commented on #14135
Isn't this a dupe of https://github.com/dotnet/corefx/issues/13951

[2016-11-30 21:02] weshaggard commented on #11321
The table is here https://github.com/dotnet/standard/blob/master/docs/versions.md

[2016-11-30 21:05] danmosemsft commented on #14135
You're right. I searched and somehow didn't find that.

[2016-11-30 21:05] #14135 closed

[2016-11-30 21:06] steveharter opened #14137 "Changing Visual Studio debug settings takes a long time"
This has been ongoing for a while now, so it may be a duplicate. However, the problem seems to be getting worse so I created this issue.

Changing Debug properties on a project takes 2.5 minutes on my machine. During this time I see that dotnet.exe is launched dozens of times calling apicompat.exe, genfacades.exe or vbcscompiler.exe.

Repro (on Visual Studio 15 Update 3):
1) Open src\System.Securi

[2016-11-30 21:09] CIPop commented on #13773
Sounds like a good idea.
We should first check if we've missed anything when reimplementing this over WinHTTP (before it may have included an inner `WebException` which had the status).

[2016-11-30 21:11] CIPop commented on #11321
Perfect! Thanks @weshaggard!

[2016-11-30 21:24] danmosemsft commented on #14137
These are probably getting hooked into the design time build. That build is supposed to be subsecond.

[2016-11-30 21:32] danmosemsft commented on #11735
@karelz apparently needs owner

[2016-11-30 21:36] steveharter commented on #14137
Related performance issue: https://github.com/dotnet/corefx/issues/12001 about opening up a VS project (which was "fixed" but still seems to take too long and it also launches the same apicompat, genfacades and vbcscompiler)

[2016-11-30 21:54] karelz commented on #11735
It's in backlog. Next free person will pick it up :).

[2016-11-30 22:13] stephentoub commented on #11735
If I remember correctly, 99.9% of the work here is simply updating the project to netstandard1.7... other than that, it's a one-line change from:
[code]
to
[code]
which is currently hardcoded anyway to return the same value.  In other words, little work, little reward.

[2016-11-30 22:24] AlexGhiondea commented on #12160
@bmeverett here is an example: https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/MemberDescriptor.cs#L100

We are using an ArrayList to store Attribute objects. Instead, we could replace the ArrayList with a List<Attribute>. Those are the kinds of things I had in mind.

There are cases where we can repla

[2016-11-30 22:27] Clockwork-Muse opened #14140 "MSDN BigInteger.Equals(object) documentation is confusing."
The documentation for `BigInteger.Equals(object)` [claims that](https://msdn.microsoft.com/en-us/library/dd268233(v=vs.110).aspx#Syntax):

... however, this doesn't initially appear to be what happens, given this test passes:
[code]

The documentation then goes on to use this example code:
[code]
... wherein `Equals(object)` isn't used at all, but only the relevant overloads.  They call out that's

[2016-11-30 22:32] svick commented on #8034
@AlexRadch I don't like that that pollutes the method list for *all integers*, not just those meant as hashes.

Also, you have methods that continue a chain of computing the hash code, but how do you start it? Do you have to do something non-obvious like starting with zero? I.e. `0.CombineHash(this.FirstName).CombineHash(this.LastName)`.

[2016-11-30 22:40] AlexGhiondea commented on #10692
This is something we should consider.

The next step would be to have a formal API proposal written and have it reviewed.

[2016-11-30 22:41] danmosemsft commented on #14137
@joperezr @weshaggard

[2016-11-30 22:50] #14131 closed

[2016-11-30 23:03] AlexGhiondea commented on #10908
@magol thanks for the proposal!

Would you mind adding some examples of inputs / expected outputs for this API? I am trying to understand how one would use it.

[2016-11-30 23:04] thedevopsmachine commented on #2089
I think that "extended Windows" is a good target initially, "extended" meaning that it works on NanoServer and in Containers (i.e. non-domain joined machines that can't run the full .NET CLR). This will give you a quick win, and a starting point for working backwards to implement it on other servers.

[2016-11-30 23:48] dstuckims commented on #13773
In .NET 4.5 when ClientWebSocket.ConnectAsync fails like this it is actually possible to get the HTTP status code and description because the inner exception (which comes from HttpWebRequest) is a WebException and its Response property has an HttpResponse instance.  If we could fabricate the same tree in the .NET Core codebase then the code I originally wrote on .NET 4.5 would work for .NET Core t

[2016-12-01 00:10] ReubenBond commented on #5540
We ran into this issue with our runtime code generation in [dotnet/orleans](https://github.com/dotnet/orleans) while porting to .NET Core/Standard. Currently I'm trying the [reflection-based hack](https://github.com/PowerShell/PowerShell/pull/2704) implemented by @vors for PowerShell.

[2016-12-01 00:13] takekazuomi commented on #14118
Thank you very much.
I understood the previous discussion.

Close this because it is an unnecessary Issue.

[2016-12-01 00:13] #14118 closed

[2016-12-01 00:23] karelz commented on #13773
What is the exception on .NET Core today?
Aligning it with full .NET Framework might be reasonable ask (unless we got rid of that on purpose).

[2016-12-01 00:37] dstuckims commented on #13773
With the WinHttp WebSocket implementation it's a WinHttpException (which is an internal only type) with no interesting details.  With the Managed WebSocket implementation if the HTTP status line doesn't start with "HTTP/1.1 101 " (status code = 101, Switching Protocols) it simply throws a WebSocketException with a default message like this:

                throw new WebSocketException(SR.net_webs

[2016-12-01 00:37] RussKie commented on #11082
I am the only one seeing the problem with this? 😱

As an end-consumer app developer I should not be locked in dealing with strings, it is just too impractical. I should be dealing with whatever objects fit my business requirements.
Ultimately in the code the developers don't deal with JWTs (it is a mere transport object), they deal the identities.

To put this in a context.
Previously HTTP context

[2016-12-01 00:42] AlexGhiondea commented on #11282
I am not sure if the right place for this is in CoreCLR/FX. I think there is value in having this be a separate package so people who want / know how to use it can.

I am going to close this for now, but please reopen if you disagree with this.

[2016-12-01 00:42] #11282 closed

[2016-12-01 00:44] RussKie commented on #11082
As far as the original bug - I think what you offered can be considered as a fix - JWT now supports object claims as JSON...
As far as dealing with those claims once they are loaded into a ClaimsIdentity - it is still a major loss of functionality without a workaround.

I am happy to have this ticket closed and raise a new one for the ClaimsIdentity issue, if you wish.
Equally happy to continue on

[2016-12-01 00:47] smbecker commented on #5484
Is there any other way to detect keep-alive failures or more specific request failures? WebExceptionStatus was pretty useful and it would be a shame if there were no similar functionality to replace it.

[2016-12-01 00:47] CIPop commented on #13773
That's what I thought. Let's keep this issue to track an adaptation layer between `WinHttpException` and `WebException`.

@karelz the `WebException` comes from the managed HTTP stack. It was replaced by an inner WinHttpException as a side effect of now using WinHTTP.

Not very sure but it may still be valuable for the `WebException` to have an internal of `WinHttpException` for even more details s

[2016-12-01 00:56] divega opened #14144 "LINQ: Consider adding overloads that capture variables for operators that currently don't"
Many LINQ operators on `Enumerable` and `Queryable` take arguments of some `Func<>` type (or `Expression<Func<>>` in the case of `Queryable`) which allow them to capture variables. This results in the following behavior:

[code]

A few operators like `Skip`, `Take`, `ElementAt`, `DefaultIfEmpty` and `Contains` (#13842 proposes a couple of additions) however accept arguments of simple types. Unless

[2016-12-01 00:59] karelz commented on #14140
cc @mairaw

[2016-12-01 01:00] jdom commented on #5540
This workaround worked fine for us in Orleans, so we are using it until this gets exposed publicly. In case you are interested, the merged PR is here: https://github.com/dotnet/orleans/pull/2466

[2016-12-01 01:04] vors commented on #5540
@jdom glad that you found the work-aroubd  useful. To double-check that we are all on the same page: there is no commitment from @tmat (Roslyn) that this API will ever be public. Instead, the proposition is to remove public types in CoreFX (this issue).

[2016-12-01 01:17] jdom commented on #5540
I see, well, good enough too. Hopefully that reflection hack will still work, but anyway we can stop using the hack altogether and just reference a newer version of the standard once that happens. A ping in this thread with a heads up would be valuable if possible when something changes regarding this.

[2016-12-01 02:07] dotnet-mc-bot opened #14146 "Test failure: System.Xml.Tests.CArgAddExtObj/AddExtObject10()"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.CArgAddExtObj/AddExtObject10()` has failed.

Assert.True() Failure
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Xml.Tests.XsltApiTestCaseBase2.VerifyResult(String expectedValue)
       at System.Xml.Tests.CArgAddExtObj.AddExtObject10()
Build : Master - 20161130.05 (Core Tests)
Failing configurations:
-

[2016-12-01 02:08] dotnet-mc-bot opened #14147 "Test failure: System.Xml.Tests.CArgAddExtObj/AddExtObject28(param: \"MyObject_KillerStrings.txt\")"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.CArgAddExtObj/AddExtObject28(param: \"MyObject_KillerStrings.txt\")` has failed.

System.IO.FileNotFoundException : Could not find file '/home/helixbot/dotnetbuild/work/f737d3a2-7ea8-461b-994b-6ba69c06d41b/Work/39b267ac-8265-40f6-9670-34e8a3e16986/Unzip/diff.xml'.

        Stack Trace:

           at Interop.ThrowExceptionForIoErrno(ErrorI

[2016-12-01 02:13] brphelps commented on #1624
I'm hearing some weird input that the HttpClient is "too flexible" to be the right layer to mock -- That seems more like a side effect of the decision to have one class have *so many* responsibilities and exposed features. But it's really independent of how people _want_ to be testing the code.

I'm still really hopeful we fix this, if only because we're breaking encapsulation by expecting consume

[2016-12-01 02:36] dotnet-mc-bot opened #14148 "Test failure: Assert failure of System.Xml.Tests.CNDP1_1SP1Test"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.CNDP1_1SP1Test/var1()` has failed.

Assert.True() Failure
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Xml.Tests.XsltApiTestCaseBase2.VerifyResult(String expectedValue)
       at System.Xml.Tests.CNDP1_1SP1Test.var1()
Build : Master - 20161130.05 (Core Tests)
Failing configurations:
- Ubuntu.1610.Amd64

[2016-12-01 03:49] CarolEidt commented on #10931
Since I promised to look at this in "the next week or so", I thought I would update this thread - I've got a preliminary implementation of promotion (aka "scalar" replacement) of wrapped SIMD types: https://github.com/dotnet/coreclr/pull/8402. I haven't yet run the corefx System.Numerics.Vectors tests, and there are some code size increases that require looking at, but it seems promising.

[2016-12-01 03:57] brentschmaltz commented on #11082
@RussKie @Tratcher it was considered by design the asp.net core would not support Custom ClaimsPrincipal to flow through the runtime. However, it may be possible to have a CustomClaimsIdentity OR a CustomClaim to return the Json. There is enough extensibility in IdentityModel, but I am not sure if it will round trip through Cookies.  However, if you are focused on Bearer, cookies may not be import

[2016-12-01 04:33] RussKie commented on #11082
Thanks. Yes, the problem could be resolved if ClaimsPrincipal was not restricted to ClaimsIndetity only.

I am afraid I am unsure how to interpret your last two sentences. We aren't using either OAuth or OIDC.
I think it is orthogonal how and where JWT comes from to how structured claims can be retrieved from the re-hydrated identity.

[2016-12-01 06:25] mairaw commented on #14140
Thanks @karelz. @rpetrusha can you take a look at this documentation feedback for BigInteger?

[2016-12-01 08:54] AlexRadch commented on #8034
@svick
Yes this pollutes methods for all integers, but it can be placed in separated name space and if you do not work with hashes you will no include it.

`0.CombineHash(this.FirstName).CombineHash(this.LastName)` should be wrote as `this.FirstName.GetHash().CombineHash(this.LastName).`

To implement starting from seed it can have next static method
[code]

So each class will have different seed

[2016-12-01 09:08] ayende opened #14151 "Improve Unable to find Curl exception"
I'm running CoreCLR on Raspberry PI and we are running into an issue with HttpClient:

[code]

Here are the details on the native module:
[code]

The problem  was that it doesn't give a good error message. I fixed that by installing libcurl3, and I think that it should give a suggestion on why this is missing

[2016-12-01 10:27] nietras commented on #13915
@karelz if ok with you I will wait until https://github.com/dotnet/corefx/pull/13848 has been approved and committed before doing this, since the implementation I want to do relies on this.

[2016-12-01 10:31] tiefling commented on #14085
This doesn't work. dotnet restore fails with the error...
"error: Invalid dependency target value 'platform'"

[2016-12-01 11:03] karelz commented on #14151
Assuming dynamic loading on Linux works in similar way as on Windows, I guess we truly fail to load System.Net.Http.Native because one of its dependencies does not exist. Is that correct assumption?

In such case we could do try-catch around the [native call](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.In

[2016-12-01 11:15] tmds opened #14152 "Provide API for Console window size changed event"
API:
Could be an event like CancelKeyPress
or a value returned by ReadKey.

Threading:
Run as part of call to Read

Implementation:
Unix: SIGWINCH
Windows: SetConsoleMode ENABLE_WINDOW_INPUT

[2016-12-01 11:28] karelz commented on #13915
Makes sense, thank for update!

[2016-12-01 11:52] janvorli commented on #14151
We list a set of dependencies that need to be installed in order to use dotnet. curl is one of them. However, we don't list those dependencies on the dotnet/cli page where the current packages can be downloaded. These seem to be well hidden in the corefx / coreclr building docs.
So we should list them side by side with links to download the dotnet packages.
As for the exception, I think we could m

[2016-12-01 12:07] karelz commented on #14151
Shouldn't the Linux prereqs be listed primarily here: https://www.microsoft.com/net/core#linuxredhat ?

@janvorli can you please create a bug in core repo for the message change?

[2016-12-01 12:40] springy76 commented on #2704
[Are CancellationTokens the new events?](https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting.Abstractions/IApplicationLifetime.cs)

[2016-12-01 12:44] bmeverett commented on #12160
@AlexGhiondea Yes! That makes sense! I'll see what I can do.

[2016-12-01 14:43] Ziflin commented on #10931
Awesome. Thanks for the update! I appreciate you looking into this.

[2016-12-01 17:42] bbarry commented on #574
Some time ago, I created a data structure with complexities similar to a priority queue based on a Skip List data structure which I've decided at this point to share: https://gist.github.com/bbarry/5e0f3cc1ac7f7521fe6ea25947f48ace

https://en.wikipedia.org/wiki/Skip_list

The skip list matches the complexities of a priority queue above in average cases, except that Contains is an average case `O(l

[2016-12-01 17:44] davidsh commented on #5484
FWIW, We have thought about the `WebExceptionStatus` enum and bringing it forward in some way into .NET Core.  We did this already but it is more of an app-compat thing for legacy code to compile for System.Net.Requests contract.

But see https://github.com/dotnet/corefx/issues/2384 as we have been thinking about ways to re-use or create a new enum to help error logic.

[2016-12-01 18:04] kevcunnane commented on #8807
We have a request for the MSSQL extension in VSCode to support Azure AD authentication - see https://github.com/Microsoft/vscode-mssql/issues/435. This is dependent on this enhancement since we use the SqlClient stack in .Net Core to connect. Adding this comment to help track this ask.

[2016-12-01 19:32] jkotas commented on #13951
This is bug in WinHttpHandler tests.

The tests are stomping on the FakeSafeWinHttpHandle.HandlesOpen global state because of they do not cleanup after itself. They depend on the GC and finalizers to cleanup that happens later, in parallel with other tests running.

E.g. add Assert.Equal(0, FakeSafeWinHttpHandle.HandlesOpen); at the end of tests in https://github.com/dotnet/corefx/blob/master/src/

[2016-12-01 19:33] fujiy commented on #4805
@karelz could you assign me? Thanks

[2016-12-01 20:12] smbecker commented on #5484
Thanks for the link, I was subscribed to that as well and perhaps this should be closed and tracked there instead. Unfortunately, both this issue and #2384 have been stale for about a year. Is there any plans around this for netstandard 2.0?

[2016-12-01 20:31] SamuelEnglard opened #14155 "Adding "state" arguments to LINQ."
## Motivation

Very often when using LINQ the compiler has to capture variables for us, with all the crazy compiler magic that comes with that (Generated classes, memory allocations, extended life, etc). Most of the time it's only one variable that needs to be captured so the cost of the magic isn't worth it.

## Proposal

Adding LINQ methods that take a "state" argument to pass into the operating

[2016-12-01 21:10] jkotas commented on #8034
I think that a public platform hashcode building helper needs to use at least 64-bit state to be robust. If it is 32-bit only, it will be prone to producing bad results when it is used to hash more elements, arrays or collections in particular. How do you write documentation on when it is good idea to use it vs. not? Yes, it is extra instructions spent mixing the bits, but I do not think it matter

[2016-12-01 21:26] karelz commented on #14152
Do you have [API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) in mind?

[2016-12-01 21:34] karelz commented on #14155
The compiler magic already exists. We would pollute the API surface with lots of new API overalds and we would make it harder for developers to choose which overload to use for very little benefit.
Also usage would have harder time to "add one more variable" - I am afraid that Tuples would be passed instead, making the overall code more unreadable.

Linq in general is IMO not about super-top perfo

[2016-12-01 21:46] SamuelEnglard commented on #14155
We could mark the functions as "Advanced" for Intellisense? I do agree with your concerns though.

[2016-12-01 22:10] karelz commented on #14155
What do you mean by "Advanced for Intellisense"? Is there an existing concept? Or are you proposing a new one? Where do you draw the line what is Advanced and what is not?

[2016-12-01 22:19] karelz commented on #8807
@kevcunnane why is the workaround above not sufficient for you?

[2016-12-01 22:39] patricksadowski commented on #13207
The method should be named `CreateEntryFromDirectoryContent` to make the `includeBaseDirectory` parameter obsolete.

It would be nice to have the `includeBaseDirectory` functionality on board to reduce the amount of custom code for the users. We can add either the `includeBaseDirectory` parameter or two distinct methods `CreateEntryFromDirectory` and `CreateEntryFromDirectoryContent`.

[2016-12-01 22:46] redknightlois commented on #8034
@jkotas having a 64bits state doesn't guarantee that your output is going to have the proper statistical properties, the combining function itself must be designed to use an internal 64bits state. Also, if the combining function is good (statistically speaking), there is no such thing as more than less mixing. If the hashing has the randomization, avalanche and other statistical properties of inte

[2016-12-01 22:49] kevcunnane commented on #8807
@karelz  - the workaround is viable for most cases (in my opinion). I'm trying to add our user's voice to the conversation so that the team can take this on board when prioritizing. I understand this is an enhancement request - for the same reasons that Azure AD support was added to .Net and to ODBC drivers, it would be good to have symmetry here and allow users the benefits that come with Azure A

[2016-12-01 22:57] jamesqo commented on #8034
In the current API shape, `HashCode.Create(v),Value` will always return `v`. It is only `HashCode.Empty` that will be randomized.

[2016-12-01 23:20] bbowyersmyth commented on #10093
@terrajobst One example I'm thinking of is say you have an application that has been around for a long time and has seen a few variations on what is considered secure password hashing. On login you may have to recreate the hash using "obsolete" tech but afterwards update their record using the current standard. So everyone slowly migrates.

In this case:
Yes all that old stuff needs to continue be

[2016-12-01 23:21] rpetrusha commented on #14140
@Clockwork-Muse Thanks for opening this issue. The documentation is in error. No implicit conversion is performed, and the return value section should read, "**true** if the *obj* argument is a `BigInteger` object and its value is equal to the value of the current `BigInteger` instance; otherwise, **false**." And the example is misleading, since the final method call returns **false** for a reason

[2016-12-02 00:43] CIPop commented on #13890
@MichaCo  I've talked to the DNS team owning the API and they were able to use it against a custom port. They recommend ensuring that the DNS server is working with a different client such as dig. E.g: `dig -p 5353 @<dns server ip> bing.com`

[2016-12-02 01:26] MichaCo commented on #13890
@CIPop thanks for the followup! I figured it was actually a bug with the port. NetworkOrder from int gave 0, had to cast to `short` first... my bad ~~

The performance of the native code is not any better than using UDP directly
Example
[code]

Regarding security, I don't see anything that the DnsQuery/Ex does that for you, so that part would up to use anyways right?

[2016-12-02 01:29] #7917 closed

[2016-12-02 01:29] #14090 closed

[2016-12-02 01:36] brockallen commented on #4278
I see the milestone was changed from 1.2 to Future (by @bartonjs). Can you comment or elaborate?

[2016-12-02 01:37] brentschmaltz commented on #11082
@RussKie The last two sentences were related to asp.net users. For users of IdentityModel, we have extensibility that allows you to create your own custom ClaimsIdentity returned from ValidateToken. Both JwtSecurityTokenHandler.CreateClaimsIdentity and TokenValidationParameters.CreateClaimsIdentity are virtual and between the two, you can have a custom ClaimsIdentity OR CustomClaims. We do not hav

[2016-12-02 01:52] RussKie commented on #11082
Thank you for the clarification. I'll have a look.
I'm not actually building any .NETCore apps at the moment and it's been awhile since I looked under the cover. Thanks for the pointer.

[2016-12-02 03:34] bartonjs commented on #4278
Mainly it just has to do with how we're tracking milestones.  We used to do more of "we hope it'll make this one", then at the end of the milestone we'd re-assign everything that wasn't done.  We're now trying really hard to say "if we marked it for this milestone it should be very rare for it to get reassigned".

This is downstream of a lot of other work for the 1.2 milestone, and it was (to me,

[2016-12-02 03:36] mbinette91 opened #14157 "Process raises Exited events even when EnableRaisingEvents = false"
(as discussed in in PR #11998)

The documentation should be updated to reflect that EnableRaisingEvents=false offers no guarantee that Exited events will not be raised. [context: depends on the state of a private flag (_exited) and properties you query might still trigger events]

Some interesting passages to update:

**Process.EnableRaisingEvents Property**

[2016-12-02 03:37] mbinette91 commented on #14157
@Priya91 Sorry for the delay in creating the issue :)

[2016-12-02 03:39] karelz commented on #4278
We won't be able to fund the work in 1.2 timeframe (there's just too much other stuff with higher impact to finish). that's why we moved it to Future milestone, to communicate our plans.
We are aware of the number of asks, that's why it is high in our Security area backlog. It is also one of the top asked corefx missing APIs in general (among DirectoryServices, SerialPort, etc.).

cc: @steveharter

[2016-12-02 03:45] karelz commented on #4278
Our answers crossed :)
More context on Milestones is in our [issue guide](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified).

The .NET Framework code is available as [reference source](https://referencesource.microsoft.com/#System.Security/system/security/cryptography/xml/signedxml.cs). So technically speaking the port can be initiate

[2016-12-02 03:59] karelz commented on #14157
Can you please suggest the updated [MSDN docs](https://msdn.microsoft.com/en-us/library/system.diagnostics.process.enableraisingevents(v=vs.110).aspx) text?

cc: @mairaw

[2016-12-02 05:02] genericrandom opened #14159 "Installer for .net core 1.1.0 hanging"
I'm trying to install version 1.1, but the installer seems to freeze indefinitely right at the beginning.  When I terminate the installer form the task manager, the log dump seems to say that the process stops at
[215C:0C90][2016-12-01T23:19:06]i012: Connected to elevated engine.
before hitting the error.  I'm already running this as administrator as well.

![initializing](https://cloud.githubuser

[2016-12-02 06:24] mbinette91 commented on #14157
Suggested modifications in **bold**.

[OK, I give up on this one, no matter how I try to word it, it sounds bad]

[2016-12-02 07:10] steentottrup opened #14160 "Proposal: Add TimeZoneInfo to the current context inline with CultureInfo"
Working with languages/regions (CultureInfo) has been a dream with .NET for many years, you just make sure the CultureInfo of the current context is set, then when ever you need to output a date, it looks like it should!

Not the same for time. The format is correct, CultureInfo handles that, but the timezone is whatever the server is set to.

When letting the user select his timezone along with h

[2016-12-02 08:59] agoretsky opened #14162 "Profiling tools on linux"
Is there any tools to take memory dump and see objects of running .NET Core app on linux? I have memory leak problem on linux, but on windows everything is ok, so I can't use dotMemory.
Which tools do corefx/coreclr teams use to profile apps on linux?

[2016-12-02 09:51] softlion commented on #13946
https://bugzilla.xamarin.com/show_bug.cgi?id=48016

[2016-12-02 11:27] LucasArgate opened #14164 "CORS AngularJS Api Controller Error 415"
Im using .net core (vNext) application with Kestrel.
When i use GET method it works perfectly request, but when i use POST or PUT method it not do complete request.

Im using Api Controller and i created an attribute filter to do pre-flight in OnActionExecuting to return status code 200. When i do POST method it not works.

see my **OnActionExecuting** method:

[code]

im trying to enable **CORS**

[2016-12-02 12:29] pbrns commented on #10445
anything with this issue? i try to install via nuget autofac libraries with this message:
**_Could not install package 'System.Runtime.InteropServices.RuntimeInformation 4.0.0'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that fra

[2016-12-02 14:12] GSPP commented on #2704
@springy76 seems like a bad idea. These should be `Task`.

[2016-12-02 15:47] jkotas commented on #6533
These boxes are short-lived. GC handles short-lived objects very well. There needs to measurements done whether this caching improves things that actually matter (execution time).

[2016-12-02 16:05] karelz commented on #14159
Please file it in https://github.com/dotnet/core-setup repo.

cc: @schellap @gkhanna79

[2016-12-02 16:05] #14159 closed

[2016-12-02 16:09] karelz commented on #14162
We recommend [PerfCollect](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md) with PerfView (Windows only)

Blog post: https://blogs.msdn.microsoft.com/vancem/2016/10/07/collecting-performance-data-on-linux-using-perfcollect-and-perfview/

[2016-12-02 16:09] #14162 closed

[2016-12-02 16:24] stephentoub opened #14165 "All Win7 runs failing"
Lots of errors like:
[code]

[2016-12-02 16:30] stephentoub opened #14166 "Lots of failing asserts in X509Certificate tests on Ubuntu 16.04"
e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu16.04_debug/30/consoleText
[code]

[2016-12-02 16:41] karelz commented on #14164
So I guess what you're saying is that your handler `OnActionExecuting` is not invoked when it should be, right? In that case you should file the bug somewhere in https://github.com/aspnet.
This repo is about base class libraries. ASP.NET is built on top of it.

BTW: It is not clear to me why you AngularJS (is it specific to it?) or if the problem is only on Raspberry Pi. (did you try other platfor

[2016-12-02 16:41] #14164 closed

[2016-12-02 16:45] gkhanna79 commented on #14159
This installer comes from CLI. Please file an issue in https://github.com/dotnet/cli.

CC @livarcocc @piotrpMSFT

[2016-12-02 17:18] rpetrusha commented on #14140
@Clockwork-Muse We've updated the documentation for the [BigInteger.Equals(Object)](https://msdn.microsoft.com/en-US/library/dd268233(VS.110).aspx) overload on MSDN and replaced the example with one that calls the correct overload.

[2016-12-02 17:26] karelz commented on #14140
Thanks for fast turnaround @rpetrusha!
Closing as it seems to be addressed.

cc: @danmosemsft

[2016-12-02 17:26] #14140 closed

[2016-12-02 17:59] tjrobinson commented on #13526
This implementation of SemVer might be worth a look: https://github.com/AndyPook/SemVer There are some unit tests based on the spec.

[2016-12-02 18:03] danrozenberg commented on #2984
It seems like the problem is happening during build and not restore. I see that running ``dotnet build`` on the project root creates the bin folder with all necessary .dlls, except ``System.Runtime.dll``.
If I remove the dependency to System.Collections.Immutable, then ``dotnet build`` will put ``System.Runtime.dll`` in my bin folder. Inspecting it with ILSpy confirms that dll is indeed ``System.R

[2016-12-02 18:10] sharwell commented on #13526
:question: Why is the operator to convert `Version` to `SemanticVersion` an explicit operator instead of implicit? I'm generally a fan of avoiding implicit operators, but this seems like a case where the conversion would always succeed.

:question: Is there ever a case where `semVer {operator} (SemanticVersion)ver` is not the same as `semVer {operator} ver` (where `ver` is a `Version`)?

[2016-12-02 18:14] LucasArgate commented on #14164
hey @karelz  sorry! i will post it in right thread!
i will search the right! thanks...

So Im trying in windows 10 (normal) but it will run on Raspberry Pi3. I am using AngularJs i think it can be the error... I Don't know. It is not normal and there isn't ant solution in stackoverflow or git's issues.
When i do the request it not work... and i tried it with AngularJS $resource, $http and now by j

[2016-12-02 18:21] karelz commented on #14164
No worries.

In general I recommend to minimize repros and remove as many technologies as possible - that helps to identify where the problem is. Minimal repros have much higher chance that someone will look into them as they are easier to repro and debug. Debugging large end-to-end across multiple technologies is just gigantic pain :( ... just my 2 cents.

[2016-12-02 18:36] weshaggard commented on #14165
@JohnChen0  @AlexGhiondea do you guys think this might be related to https://github.com/dotnet/corefx/issues/13566?

[2016-12-02 18:48] CIPop commented on #13890
Glad you found the bug!

I'd personally prefer to leave the system-level drivers and services to handle what they already do and implement new code only where absolutely necessary. There are several advantages such as security updates, future protocol support and reducing the code/tests that we have to maintain in two different places (.Net and the OSs).

Does Linux/iOS have a similar API that cou

[2016-12-02 18:56] CIPop commented on #13890
While I'm not very familiar with the API, it looks like since Win7, the OS supports DNSSec:

https://technet.microsoft.com/en-us/library/dn593685(v=ws.11).aspx

[2016-12-02 19:00] LucasArgate commented on #14164
HA HA HA HA !
Thanks @karelz  where i pay your 2 cents ?
hahaha

[2016-12-02 19:08] DouglasAllen opened #14169 "Most of the markdown documentation could use improvement."
I use the vs-code editor a lot these days and I would suggest that if you are writing markdown documents
a lot that you take a look at the linters for markdown then we could all enjoy less green squiggly underlines. Also you don't need to let the text roll on in one line. Markdown will wrap it as needed.
There is help here on github for this markdown linter.
see:  https://github.com/DavidAnson/mar

[2016-12-02 19:08] vcsjones commented on #13526
Another question:

SemVer does not have 4 components in its version number, it has `major`, `minor`, `patch`. However, this API proposal allows creating an instance from a `Version`, either by cast or through the constructor. There are also constructor overloads that accept `revision`. However, it isn't exposed as a property like the other components?

What is the purpose of this 4th component? Ar

[2016-12-02 19:31] JonHanna commented on #13526
I'm not sure about the comparisons. Given 0.9, 0.9.1 and 1.0-beta, surely one always considers 1.0-beta the highest, but vary one whether or not one filters it out of consideration?

[2016-12-02 21:15] yishaigalatzer commented on #13526
Nuget respects all 4 due to historical reasons and hence it can't be dropped (at least in the nuget type)
________________________________
From: Jon Hanna <notifications@github.com>
Sent: Dec 2, 2016 11:32 AM
To: dotnet/corefx
Cc: Yishai Galatzer; Mention
Subject: Re: [dotnet/corefx] Proposal: Adding System.SemanticVersion (#13526)

I'm not sure about the comparisons. Given 0.9, 0.9.1 and 1.0-beta

[2016-12-02 21:30] bartonjs commented on #14166
Sounds like our Ubuntu 16.04 is now contaminated with NTFS.

[2016-12-02 22:26] jamesqo commented on #8034
@jkotas

Does this matter when it will end up being condensed to a single `int` in the end?

[2016-12-02 23:07] jamesqo opened #14170 "Proposal: Make it easier to iterate through an ArraySegment"
## Approved API shape

[code]
* Change existing internal class [`ArraySegment<T>.ArraySegmentEnumerator`](https://github.com/dotnet/coreclr/blob/15ea0086a7e6f87e8237923684e100e3e1f44698/src/mscorlib/src/System/ArraySegment.cs#L294-L350) to struct (see above).

Value: Saves 1 boxing per enumerator:
[code]

**Note:** I know that `Span` is supposed to supplant `ArraySegment`, this was added way back

[2016-12-02 23:34] karelz commented on #14170
What is the motivation for `Enumerator` and `GetEnumerator`? The `foreach` cycle already works today, because `struct ArraySegment<T>` implements `IEnumerable<T>` and `IEnumerable`.

[2016-12-02 23:42] redknightlois commented on #8034
@jamesqo Not really, state size depends on only the function, not on the robustness. In fact you can actually make your hash function worse it the combine is not designed to work that way, and at best you are wasting resources because you cannot acquire randomness from coercion.

Corollary: it you are cohersing be extra sure the function is statistically excellent or you are almost guaranteed to m

[2016-12-02 23:54] benaadams commented on #14170
That's really weird it does already have an Enumerator (`class ArraySegmentEnumerator`); wonder why it doesn't expose it as a struct enumerator? Would get the boxed IEnumerator version for free(ish) - apart from the boxing bit.

[2016-12-03 00:26] jamesqo commented on #14170
@karelz As @benaadams just mentioned it allocates since it is a class and is passed around as an `IEnumerator`. Even if we made it a struct it would box.

[2016-12-03 00:37] jamesqo commented on #13746
@MadsTorgersen @terrajobst I just had an idea-- should we do this for `Nullable` as well? Usage:

[code]

[2016-12-03 00:48] mellinoe commented on #14170
Since the current nested enumerator type isn't exposed, can we just replace it with a struct enumerator (implementing IEnumerable) and expose that directly?

[2016-12-03 01:16] justinvp commented on #14170
Both `IEnumerable<T>` and `IEnumerable` are implemented explicitly, so we're free and clear to add a public `GetEnumerator()` method that returns a struct enumerator that would avoid any boxing. If we do make the enumerator a struct and make it public, it'd be nice to name it `Enumerator` instead of `ArraySegmentEnumerator`, which matches the naming used for `List<T>` and `Dictionary<TKey, TValue>

[2016-12-03 01:25] jamesqo commented on #14170
@mellinoe

I think we may want to create a new type, actually. For reference, here is how the enumerator is currently implemented:

[code]

We can make it faster by removing some redundant checks/fields (eliminating `_start`, unconditionally incrementing `_current`, not checking during `Current`, etc.):

[code]

[2016-12-03 01:46] justinvp commented on #14170
We should just remove the checks. `IEnumerator<T>.Current` is documented as "undefined" in these cases so there is no requirement to throw (non-generic `Current` is documented as throwing). It's a behavior change, but highly unlikely that someone would depend on it throwing.

Also note: `ArraySegmentEnumerator` is currently marked as `[Serializable]`. Since .NET Core hasn't shipped with serializat

[2016-12-03 01:58] jkotas commented on #8034
This depends on whether there is correlation between the items. If there is no correlation, 32-bit state and simple rotl (or even xor) works just fine. If there is correlation, it depends.

Consider if somebody used this to build string hashcode out of individual characters. Not that it is likely somebody would actually do this for string, but it demonstrates the problem:

[code]

It would give po

[2016-12-03 02:38] benaadams commented on #14170
Also https://msdn.microsoft.com/en-us/library/system.collections.ienumerator.reset(v=vs.110).aspx

[2016-12-03 02:42] JonHanna commented on #14170
The `Reset` here is trivial enough that it's not a burden. Since it's not going to gain much to get rid of it, then even if it'll probably never affect anyone ever (did anyone ever even use Reset in COM?) it may as well stay in.

[2016-12-03 02:44] benaadams commented on #14170
Need to additionally store `_start` for `Reset`

[2016-12-03 02:50] JonHanna commented on #14170
Ah yes.
Kill it, so. It's a weird thing to use, and if someone is broken by it, it's won't be hard to upgrade (hold onto a copy of the struct0.

[2016-12-03 02:57] karelz commented on #14170
I am not sold on exposing new APIs just because we can, unless there is real data showing it matters (perf wise in this case). Saving 1 boxing is not IMO worth it, unless there is real-world code (not a made up example) where the saving would make a noticeable difference. Or unless we believe it is a pattern we should have everywhere ...

[2016-12-03 03:01] jamesqo commented on #14170
@karelz It is kind of a chicken-and-egg problem... `ArraySegment<T>` is used by high-perf code. High perf code doesn't want boxing, so avoids the foreach and writes it the uglier way.

[2016-12-03 03:21] weshaggard commented on #13626
FWIW RebuildAndTest should force the test project to rebuild and thus force it to run the tests. Something definitely seems off. I wouldn't expect the needed to pass forceruntests=true in this scenario.

cc @naamunds another test scenario we should ensure works.

[2016-12-03 03:37] jamesqo commented on #13842
@bartdesmet Thanks for the links; the reference implementations were useful to look at.

@JonHanna I made an implementation + some tests [here](https://github.com/dotnet/corefx/compare/master...jamesqo:st-last), so you are free to continue where I left off. There is a caveat, though: I was unsure how to get the stuff under netcoreapp1.1 to build (I tried passing `/p:TargetGroup=netcoreapp1.1` whic

[2016-12-03 03:44] jamesqo opened #14173 "Optimize new ToHashSet api."
#13726 added `Enumerable.ToHashSet`, which is currently equivalent to writing `new HashSet<TSource>(items)`. We may want to look into optimizing it by adding it as another method on `IIListProvider`, and reducing some virtual method calls. Opening this as a tracking issue for that.

cc @JonHanna

[2016-12-03 05:55] AlexRadch commented on #8034
It will be great to add next method to API to support Hash randomization.
[code]

[2016-12-03 05:59] karelz commented on #14170
I don't think it is chicken-and-egg problem. I think it is premature optimization problem - i.e. optimization before we measure.
On top of that if some high-performance code hits this particular boxing on hot path, it can easily avoid it by rewriting the code into for-cycle. And if it happens for a few projects, I expect we will get a report with real-world data/use case. The discussion will be di

[2016-12-03 06:10] danmosemsft opened #14177 "Failure in ClientAsyncAuthenticate_AllServerAllClient_Success in CI"
[code]
Does not seem related to the PR https://github.com/dotnet/corefx/pull/14158
Similar to https://github.com/dotnet/corefx/issues/10909

@davidsh @CIPop

[2016-12-03 06:12] danmosemsft commented on #14147
@sepidehMS please take a look at this test failure.

[2016-12-03 06:12] danmosemsft commented on #14146
@sepidehMS please take a look at this test failure.

[2016-12-03 06:12] danmosemsft commented on #14148
@sepidehMS please take a look at this test failure.

[2016-12-03 06:14] danmosemsft commented on #14169
Interested in giving it a shot @DouglasAllen ?

[2016-12-03 06:15] davidfowl commented on #14155
We just need stack allocated closures... 😄

[2016-12-03 12:16] stephentoub commented on #14170
Regarding the enumerator, we should expose the internal enumerator as a struct Enumerator and have a public GetEnumerator return it.  It's little work, it fixes a gaping hole in the API, and such boxing does add up.

As for the indexer, we should add that, too... but it's already there as part of the IList explicit implementation:
https://source.dot.net/#System.Private.CoreLib/src/System/ArraySegm

[2016-12-03 13:16] borgdylan commented on #14155
@davidfowl That wouldn't happen easily because its a CLR level change. AFAIK both ```localloc``` and ```newobj allocate on the heap. It would be nice is the CLR actually had stack allocation in terms of an op-code.

[2016-12-03 15:42] verybadcat opened #14178 "Get a rough idea of the size of a BigInteger"
It would be terrific if there were a fast API for getting a rough idea of the absolute value of a BigInteger, say to within a factor of a billion or so. Something like the size of the private _bits array would be fine.

This is useful for calculator apps and the like, as you want to be able to tell if an operation will definitely overflow before attempting it.

[2016-12-03 18:14] karelz commented on #14178
If the application has a limit - what's wrong with asking the app to hard code the limit and compare the BigInteger with it before performing operations, etc.?

[2016-12-03 18:29] svick commented on #14144
Since you're not proposing to remove the old overloads (because that would be a breaking change), I think adding the new overloads does not make this less subtle and only adds confusion ("What is the difference between the two overloads?").

Is this specific to EF, or do other queryable providers face the same issue and would welcome the same solution? Maybe keeping these overloads EF-specific is

[2016-12-03 19:09] JonHanna commented on #3838
We already have a good few appropriate tests, all marked as ActiveIssue, so they can be unblocked.

[2016-12-03 19:35] robertmclaws commented on #10752
Working on my implementation now. As an FYI to @terrajobst @karelz @Priya91 etc, since Collection<T> lives in CoreClr and not CoreFx, this is going to have to be a two-part PR (as mentioned in the referenced issue above this comment).

[2016-12-03 20:20] CinQP opened #14181 "Bug in TickCount compare"
For all arithmetic purpose, Environment.TickCount should be treated as uint.

The interval check in the ProcessorCount using Environment.TickCount is treated as int. This will fail when TickCount is negative for 24.9 days and caching will not take place. So please treat it as uint for diff calculation.

Refer https://msdn.microsoft.com/en-us/library/system.environment.tickcount(v=vs.110).aspx.

ht

[2016-12-03 20:22] CinQP commented on #14181
Sorry, not a bug. Closing this issue.

[2016-12-03 20:22] #14181 closed

[2016-12-03 20:38] danmosemsft opened #14182 "Missing some Socket API"
These are missing
[code]

Broken out of https://github.com/dotnet/corefx/issues/12460

@karelz This needs an owner.

[2016-12-04 00:02] jamesqo opened #14183 "Add regression tests for possible bug in OrderedEnumerable.Last{OrDefault}"
I am not too familiar with `OrderedEnumerable`, but while making changes during https://github.com/dotnet/corefx/pull/14174 I noticed there was a discrepancy between `Last` and `LastOrDefault`.

Code in `Last`: https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/OrderedEnumerable.cs#L416. The result of `comparer.Compare` is compared with `>=` to 0.

Code in `LastOrDefault`

[2016-12-04 00:03] jamesqo commented on #14183
Note: I am making changes to the method in https://github.com/dotnet/corefx/pull/14174 so please wait until that goes in first. Thanks.

[2016-12-04 00:17] Clockwork-Muse commented on #14178
Indeed.  You're normally going to run out of screen space first - `BigInteger` can happily and easily give you a number with ~20k digits (~8kB?), and that's nowhere near the limits.  You could have a number, in theory, up to 2GB of ints, but in practice you're not going to be able to allocate the necessary contiguous array long before that.
Even then, limits due to the results of operations have w

[2016-12-04 00:29] JonHanna commented on #14183
The second one is incorrect because in the case of `Enumerable` (unlike for other linq providers) `OrderBy` is specified as being a stable sort. The combination `OrderBy(keySelector).Last(pred)` should therefore not only find the value which produces the largest key and matches the predicate, but also in the case of a tie find the last such value. `>=` does that because it replaces the current mat

[2016-12-04 00:42] JonHanna commented on #14173
Most optimisations available from IIListProvider are available due to being able to:

1. Predict the size of the collection produced from the size of the source.
2. Pass that information to the collection creation.

In the case of HashSet, knowledge of the source size only gives a maximum, because the size will depend on the number of distinct elements (and that in turn on the equality criteria),

[2016-12-04 01:11] jamesqo commented on #14173
@JonHanna You are correct, most of the time (except for a few fringe cases like `Range`, `Repeat`, and `Union`) we will not be able to predict the size of the end result... however, we can still reduce virtual method calls (i.e. like [here](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Where.cs#L729)) by just looping through the source in `Select` and `Where`, and do

[2016-12-04 01:16] jamesqo commented on #14183
@JonHanna Sure, go ahead. I had actually deleted both methods entirely in my editor and then copied-and-pasted, so I assumed this would cause merge conflicts, but it's fortunate that that area is unaffected.

[2016-12-04 01:36] JonHanna commented on #14173
Ah, I get you. That would reduce some calls, all right, and not interfere with the optimisations within HashSet itself, for that matter, AFAICT.

[2016-12-04 01:50] JonHanna commented on #13842
Grand so. Pull https://github.com/jamesqo/corefx/pull/3 into that branch and you've got queryable support done, including tests. The tests don't need to be as extensive as considering all the possible permutations of types of source and optimised cases is for the provider to worry about (which to start off is just you, since Enumerable is the basis of most of the work for linq-to-objects on querya

[2016-12-04 06:30] cnblogs-dudu commented on #8371
Suffer by this issue. See dotnet/coreclr#8383

[2016-12-04 06:32] robertmclaws commented on #10752
My initial work is [here](https://github.com/robertmclaws/coreclr/commit/841672090c9245ab961bf25cb682833ef599c358). Feel free to comment before I open a PR, Or you can wait till after.

[2016-12-04 08:53] verybadcat commented on #14178
Consider the Pow function. You are going to get into trouble if the exponent times the log of the base is too big. There is not actually a way to test that with hard-coded values, unless you are willing to keep a lot of them. And for large bases, actually taking the log is both slow and unnecessary. A rough idea of the size is plenty of info in such cases. If the size is small, you can go ahead an

[2016-12-04 09:11] verybadcat commented on #14178
The Pow case is by far the most important. If you don't want to expose the size of the bits array, a function like Pow(x, y, overflowPastThisManyBinaryDigits) would handle it. But you'd still need a way to return "overflow".

[2016-12-04 09:36] nietras opened #14189 "Span: Add Span<T>.Fill(T value)"
As discussed briefly in https://github.com/dotnet/corefx/issues/13427 I propose to add a `Fill(T value)` method to `Span<T>` to make span the goto place for safe and fast memory operations.

This is analoguous to the same method approved for arrays in https://github.com/dotnet/corefx/issues/6695 and added in https://github.com/dotnet/coreclr/pull/8137, https://github.com/dotnet/corert/pull/2259 bu

[2016-12-04 09:47] davidfowl commented on #14189
Can we call it memset :trollface:

[2016-12-04 10:01] verybadcat commented on #14178
Yet another option would be a fast BigInteger.Log2 function. I'm not sure why the time to compute BigInteger.Log(someBigNumber, 2) is so much longer than Math.Log(someDouble, 2). But it definitely is.

[2016-12-04 11:37] benaadams commented on #14189
Also an offset+count method?
[code]
Unless this pattern seems ok?
[code]

[2016-12-04 12:47] #14108 closed

[2016-12-04 12:52] #14183 closed

[2016-12-04 13:04] varocarbas commented on #6308
Anyone interested in all this might want to take a look at some updates on various fronts:
- As referred above, I have started a new issue eminently focused on the new `Pow`/`Sqrt` overloads. These new algorithms are already included (at least, its first version) in the last NumberParser version. You can see the code in [the PowSqrt folder](https://github.com/varocarbas/FlexibleParser/tree/master/

[2016-12-04 15:11] svick commented on #14119
Related: `MinBy` and `MaxBy` were part of https://github.com/dotnet/corefx/issues/2146, which was closed.

[2016-12-04 15:12] jamesqo commented on #14189
@benaadams I think having an offset+count one is redundant. `Span` is not like an array where you fundamentally cannot pass part of it around, so having that overload is just syntax sugar.

[2016-12-04 15:44] benaadams commented on #14189
It is, if there is no slice cost, therefore no perf difference between
[code]
and
[code]
They may end up being the same; e.g. Slice will bounds check; but Fill with extra params will also bounds check

[2016-12-04 15:56] jamesqo commented on #14189
@benaadams 'syntax sugar' was not the correct term; I meant to say that it was redundant. The whole point of introducing `Span` was to avoid the offset/count pattern, wasn't it?

[2016-12-04 16:28] jkotas commented on #14189
Correct. You can tell from the existing Span surface, e.g. none of the Copy methods take offset/counts.

[2016-12-04 17:05] benaadams commented on #14189
Just pointing out without offset/count its pushing a lot into inline Slicing.

Its a question of granularity and performance of Slice + Action.

So if I had two spans that represented a fixed size message packet and I wanted to copy a section from one to another the pattern would be:

[code]
Rather than
[code]

[2016-12-04 17:54] reaction1989 commented on #13806
I tried to reproduce that wrong Exception but i could not
[code]
And the output is the following:

   at System.IO.Win32FileSystem.CopyFile(String sourceFullPath, String destFullPath, Boolean overwrite)
   at System.IO.File.InternalCopy(String sourceFileName, String destFileName, Boolean overwrite)
   at System.IO.File.Copy(String sourceFileName, String destFileName, Boolean overwrite)
   at Conso

[2016-12-04 17:58] jamesqo commented on #14189
@benaadams If it is less performant then that would probably be considered a problem with the JIT & should be fixed instead of being worked around, no?

[2016-12-04 19:10] jamesqo commented on #13842
@JonHanna Thanks for the explanation.

Does this mean you got the `SkipLast` / `TakeLast` tests you added in jamesqo#3 to compile and run? If so, can you share how? When I run `msbuild /t:RebuildAndTest` this is the list of files that is fed to the compiler

[code]

Notice that all of the netcoreapp1.1 tests are not being included (even after I tried passing `/p:TargetGroup=netcoreapp1.1`) so I'm

[2016-12-04 20:17] SeanSnyders commented on #5248
@Priya91 Can you send a github link to the source where the algo for `Evironment.SpecialFolder.UserProfile` is? I'd like to have a look at that.

[2016-12-04 20:24] damianh commented on #1624
Just stumbled upon this so throwing my 2c in...

I think mocking HttpClient is folly.

Even as there is just a single `SendAsync` to mock, there are _so_ many nuances to `HttpResponseMessage`, `HttpResponseHeaders`, `HttpContentHeaders`, etc, your mocks are going to get messy fast and are probably behaving wrong too.

Me? I use [OwinHttpMessageHandler](https://github.com/damianh/OwinHttpMessageHan

[2016-12-04 20:29] redknightlois commented on #8034
@jkotas I haven't tested it, so I trust you did. But that is definitely saying something about the function we intend to use. *It is simply not good enough* as least if you want to trade speed for reliability (nobody can do stupid things with it). I for once favor the design that this is not a non-crypto hashing function, but a fast way to combine uncorrelated hash-codes (which are as random as th

[2016-12-04 20:42] benaadams commented on #14189
Ideally, then it would hopefully also pick up similar patterns in other code.

[2016-12-04 21:16] karelz commented on #14178
Let's say your app has `limit` for numbers it can display / wants to deal with. For addition, multiplication, you just test the result as you said. For `pow`, you want to prevent the expensive calculation (disclaimer: I didn't check that it is truly so expensive, I am relying on your info and assuming the digits might easily grow uncontrollably) -- so basically you want to check `x^y < limit`, whi

[2016-12-04 21:26] ellismg commented on #14089
`/etc/os-release` includes the minor version in `VERSION_ID`.  The RID is constructed by the tooling using this value.

This is unlike both Debian and CentOS where they minor versions don't rev `VERSION_ID`.

[2016-12-04 21:33] ellismg commented on #14089
Note that we **do** have a rhel.7-x64) RID, which is the parent of RHEL 7.0, RHEL 7.1 and RHEL 7.2 (and future RHEL 7.X versions).

I would prefer not to bake special knowledge of RHEL's versioning scheme into the tooling (e.g to normalize them all to rhel.7-x64, like we do in some of our scripts).

[2016-12-04 21:48] karelz commented on #14170
That sounds reasonable. I was afraid we would have to add yet another public inner enumerator class (I didn't realize the existing one is private). Exposing existing one follows general enumerator pattern on perf-sensitive classes.

[2016-12-04 21:59] jamesqo commented on #14170
@karelz @stephentoub Please see https://github.com/dotnet/corefx/issues/14170#issuecomment-264604632 and the subsequent comments. If we expose the existing implementation, we will want to change behavior in some corner cases in `Current` and `Reset`. Is that OK?

[2016-12-04 22:18] jamesqo commented on #14119
Also relevant: https://github.com/morelinq/morelinq. `DistinctBy` sounds like a good idea, for example.

@bartdesmet Nice proposal. I have a few comments, though:

- I don't think `MinBy` / `MaxBy` should return ILists, though, seems very un-Linqish (IEnumerables would be better).

- I think this is redundant. How will this make things faster? The selector in `SelectMany` is only run once per subc

[2016-12-04 22:38] karelz commented on #14170
I don't think we need to change the behavior as you describe above. Your simplified code without checks is moreover incorrect - it will allow misuse of the API (when people forget to call `MoveNext` first, the 'Current` will either throw `IndexOutOfRangeException` or return data you should not have access to). That does not sound desirable.

[2016-12-04 23:05] jamesqo commented on #14170
@karelz There is similar code in [ImmutableArray's enumerator](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Enumerator.cs#L65). In the real world 99% of use cases of this API are through foreach, and the compiler will always generate the correct code and put `MoveNext` first. I think we should put performance first

[2016-12-04 23:30] svick commented on #14119
@jamesqo

I would expect them to return a single value (for example, [MoreLinq's version does that](http://morelinq.github.io/2.0/ref/api/html/M_MoreLinq_MoreEnumerable_MinBy__2.htm)). But if it's going to return a sequence, a list does make sense to me, since it can't really be lazy (though I would prefer `IReadOnlyList<T>`).

Should it return a sequence containing all the values with the minimum

[2016-12-04 23:38] JonHanna commented on #14119
I'm neither firmly for or against most of these, but a MinBy or MaxBy that returns more than one value is horrible, at least under that name. If you've more than one minima or maxima you either need more information that just the value (which that doesn't seem to offer to give) or you need to rethink your comparison criteria.

[2016-12-05 00:15] jamesqo commented on #14119
@JonHanna When you add a selector it becomes feasible that multiple elements may be mapped to the same maxima. For example, if you wanted to find the oldest people in a `List<Person>`:

[code]

If we took away the selector then returning an IEnumerable wouldn't make sense. That said, it might still be confusing/inconvenient that `MaxBy` returns a list when `Max` returns a scalar. Maybe we should r

[2016-12-05 00:30] JonHanna commented on #14119
Oh, I get that it's possible to have more than one, but I don't think "MaxBy" is a good match for that, and often nor is just the value; one would often want to know indices too.

[2016-12-05 01:07] jamesqo opened #14193 "Proposal: string.Join with a default separator"
## Background

When you want to dump the contents of multiple collections to the console, it can be very cumbersome to have to repeatedly write `Console.WriteLine(string.Join(", ", collection))` and type `", ", ` each time.

## Proposal

We should consider adding an overload of `string.Join` that accepts no separator and joins with `' '`. It would be analagous to how, today, `str.Trim()` is equiva

[2016-12-05 01:33] bartdesmet commented on #14119
I'll refrain from debating names here and provide some clarifications on the semantic decisions we made in Ix. (See [Wadler's law](https://wiki.haskell.org/Wadler's_Law).)

`MinBy` and `MaxBy` in Ix.NET initially returned one element (first match) but we changed it based on feedback from users, especially folks familiar with Mathematica etc. It's quite hard to get the list of minima and maxima fro

[2016-12-05 01:47] jiangzeng commented on #9543
Fails on build 20161204.02. So adding "test-run-core"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161204.02/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ClientCertificates_Test~2FManual_CertificateSentMatchesCertificateReceived_Success(numberOfRequests:%203,%2

[2016-12-05 01:59] jiangzeng commented on #13455
Reopen as happening again on build 20161204.02.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161204.02/workItem/System.Runtime.Numerics.Tests/details/db65a0ea-d46d-4ffb-8a3b-19f86890f1a2
[code]

[2016-12-05 06:02] Clockwork-Muse commented on #14178
To clarify - my remarks were not meant to be an endorsement of this idea, but speculation that intrinsic limitations of the situation (such as displayed digits in a calculator)  will show up long before the size of `BigInteger` becomes an issue.   `Math.Pow(2, 65536)` results a number with 20k digits, but takes almost no time to calculate (although this is probably helped by the fact that it's a p

[2016-12-05 07:06] SaltyDH commented on #2949
Should this have moved from the 1.2.0 to 1.1.0 milestone? I doesn't look like it was actually promoted to the 1.1.0 release.

[2016-12-05 07:18] justinvp commented on #14193
I'm not sure it's worth adding any new overloads for this. There are already a lot and adding more will increase the cognitive load for users when looking at the list of overloads in intellisense/documentation and trying to decide which one to use. Trim didn't require additional overloads to support its default.

[2016-12-05 09:02] nietras commented on #14189
Yes, I think that is the beauty of the `Span`/`Slice` API, we avoid combinatorial explosion in overloads so one only needs one version of each method for a given functionality.

E.g. `CopyTo`, `Clear`, `Fill` and any other method currently available for `Array` that I think should be made available for `Span` e.g. `Sort`, `FindIndex`... I think of `Span<T>` as a low level cousin of array that has

[2016-12-05 09:12] mailbee opened #14197 "Add SignedCms support"
.NET Core currently lacks SignedCms support which is available in standard .NET Framework.

http://stackoverflow.com/questions/40918396/signedcms-alternative-in-net-core/40954173#40954173

[2016-12-05 09:20] AlexRadch opened #14198 "Consider pooling buffer within StringBuilder"
Some issues request string builders with less memory allocations. See https://github.com/dotnet/corefx/pull/13875#issuecomment-262293493 and https://github.com/dotnet/corefx/issues/13893
I suggest rewrite `StringBuilder` to use ArrayPool internal and also add next API to StringBuilder
[code]

[2016-12-05 10:06] JonHanna commented on #14193
How much of a default is `' '`? The fact that the example given at the start of the post is something else (`", "`) adds to my doubts on that. Certainly I don't think it's as much a wide-ranging default as whitespace is for `Trim`.

[2016-12-05 10:07] springy76 commented on #2704
This is not only a bad idea but ASP.net core 1.0 and 1.1 reality.

Btw: `Task.Delay(-1, cancellationToken)` throws an TaskCancelled exception, too -- the initial post clearly asked not for such behavior:

That statement also perfectly fits for the usage pattern of these ugly `IApplicationLifetime` properties.

[2016-12-05 11:19] alshyr commented on #10445
Would be nice to get it fixed soon

[2016-12-05 12:57] stephentoub commented on #2949
@SaltyDH, yes, it should be 1.2. Thanks.

[2016-12-05 13:04] stephentoub commented on #14170
That is an unrelated request.  Even if didn't expose the existing implementation and instead exposed a new one and a new GetEnumerator method, it would still be a breaking change to have different behavior for that newly exposed enumerator, as recompiling code that targeted GetEnumerator which should from targeting the interface method to the instance method, and it would get the new behavior.

[2016-12-05 14:39] jamesqo commented on #14170
Can you give an example? Since currently `GetEnumerator` is explicitly implemented, the only way that existing code when recompiled will get the new enumerator is through `foreach`. And since `foreach` never calls `Reset` and always calls `MoveNext` and `Current` in the proper order, it seems like those changes wouldn't affect it.

[2016-12-05 15:43] mburbea commented on #12425
@mellinoe , @CarolEidt  What else needs to be resolved for this API proposal to move forward?

[2016-12-05 16:03] SamuelEnglard commented on #14155
@karelz I'm referring to https://msdn.microsoft.com/en-us/library/system.componentmodel.editorbrowsableattribute(v=vs.110).aspx

[2016-12-05 16:15] tmds commented on #14089
Are there artifacts in corefx/coreclr built that target a minor version? Or do all of them target the generic rhel.7?

[2016-12-05 16:44] karelz commented on #14155
@SamuelEnglard oh, you meant always hide it and never show it to any user. Discoverability of such API is very poor -- we use it only for APIs which we want to obsolete, but have to keep around for source code/binary compatibility. The idea is an API with this attribute is on its way to extinction.

[2016-12-05 17:02] tarekgh commented on #14160
@steentottrup we need API proposal for that. the proposal should address the details of how formatting dates will work with DateTime objects with (Local, UTC and Unspecified DateTimeKind). also the proposal need to address how this should work in the UWP apps as in UWP the current cultures for example are not the user cultures instead are driven by app + user profile cultures.

[2016-12-05 17:03] stephentoub commented on #14170
Hmm, I see, I think you're right.

That said, I'm not convinced anything should change, i.e. I'm not convinced it's worthwhile either taking a breaking change for existing usage of ArraySegment as IEnumerable or introducing yet another enumerator.  Size-wise, the best you could do would be to get rid of one Int32 field (_start).  And the proposed changes not only result in not properly validating

[2016-12-05 17:03] SamuelEnglard commented on #14155
@karelz I mean to set it to `Advanced` so most users don't see it.

[2016-12-05 17:06] jnm2 commented on #14155
ReSharper totally ignores both `EditorBrowsableState.Advanced` and `EditorBrowsableState.Never`.
IIRC Visual Studio's C# editor totally ignores `EditorBrowsableState.Advanced`.

[2016-12-05 17:22] SamuelEnglard commented on #14155
That explains a lot....

By default it does, but that can be changed.

[2016-12-05 17:27] stephentoub commented on #14198
I don't think we should modify StringBuilder in place to use ArrayPool.  There are likely millions of lines of code that use StringBuilder today with its existing API surface area, none of which would release the internal buffer back to the pool, which means such a change would cause every existing usage to become a leak from the pool.  We should instead make whatever we do opt-in in some fashion.

[2016-12-05 17:35] svick commented on #14089
@tmds Looking at [.Net Core packages on MyGet](https://dotnet.myget.org/gallery/dotnet-core) (enter "runtime.rhel" into the search field), it seems to me that all target `rhel.7`.

[2016-12-05 17:38] gugray opened #14200 "SslStream fails at CRL caching when invoked as non-privileged user with no home"
I am using the `MailKit` NuGet package to send emails on .NET Core 1.0 via smtp.gmail.com.

I get the error below when my app is running on Debian 8 as a non-privileged user created by `adduser --system --no-create-home`. Apparently in order to verify the SMTP server's certificate, FX code attempts to create a directory under `/root/`, which is where $HOME points to in my scenario. While this form

[2016-12-05 17:41] AlexRadch commented on #14198
@stephentoub yes, pool will have leak in user code. But this will not down grade existing code. And if standard library will use ToStringAndRelease, then in many cases buffers will return to pool. So I think it will increase performance.

[2016-12-05 17:44] stephentoub commented on #14198
It will likely degrade existing code (I'm assuming that's what you meant by down grade).  Existing code using StringBuilder and ArrayPool will find that ArrayPool has to allocate more buffers.  Whereas previously StringBuilder was having to allocate buffers that were more likely to end in lower GC generations, the buffers getting thrown away from ArrayPool are more likely to be in higher generatio

[2016-12-05 17:49] ericstj commented on #2984
@danrozenberg you got it!  Indeed I think this is a problem with the CLI's build.

[2016-12-05 17:49] AlexRadch commented on #14198
Also StringBuilder can return buffers to pool before destruction to prevent leak.

[2016-12-05 17:51] stephentoub commented on #14198
StringBuilder is not IDisposable, so no existing code is doing any kind of cleanup with it.  Nor is it finalizable, and making it finalizable would add cost at run time.

[2016-12-05 17:53] stephentoub commented on #14198
I've not completely thought it through, so there may be some issues with this, but we could potentially explore doing something like using pooled buffers, and when ToString is called, release the buffer but hold on to the resulting string.  Then if the StringBuilder is manipulated again, get another buffer, store the previous string into it, and then continue manipulations on that.

[2016-12-05 17:59] AlexRadch commented on #14198
I think class can have method that called before destruction `~StringBuilder()`.

[2016-12-05 18:02] stephentoub commented on #14198
That's what I was referring to when I talked about it being finalizable.  That "~StringBuilder()" is a finalizer, which gets run when the GC cleans up the instance, but itself makes every instance more expense as it needs to be tracked specially by the runtime, guarantees that the instance will survive at least one GC generation, needs to have its finalizer invoked by a single dedicated thread for

[2016-12-05 18:07] okosodovictor commented on #10445
This work for me.
 When i run into that issue. I had to install System.Runtime.InteropServices.RuntimeInformation before  i install autofac.
1.   Install-package System.Runtime.InteropServices.RuntimeInformation
2. install-package autofac
That just work for me.

[2016-12-05 18:08] danmosemsft commented on #13455
@mellinoe ...

[2016-12-05 18:13] joperezr commented on #14137
It is a design time build, and the problem is that when you change that you are not only changing the configurationGroup, but you are also changing TargetGroup and maybe even OSGroup, which causes design time build to call restore on the project.json, genfacades to run, and the whole build to happen. Additionally, if that project has a bunch of P2Ps it will trigger a lot of subsequent builds. I ag

[2016-12-05 18:16] JohnChen0 commented on #14165
This appears to be the same issue as #13566. Which version of CoreFX was used when the these failures were observed? #13566 should have been fixed by PR #13440.

[2016-12-05 18:19] ianhays commented on #13914
@tipa are you building for Debug or Release? Could you also share your RID for ARM e.g. `win10-arm`.

[2016-12-05 18:21] stephentoub commented on #14165
It's been failing every build for the last few weeks:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/

[2016-12-05 18:40] jkotas commented on #8034
The fastest way to combine uncorrelated hash-codes is xor...

[2016-12-05 18:45] AlexRadch commented on #10528
What difference between array slices, array spans and array segments ? I am confused :(

[2016-12-05 18:53] SedarG opened #14202 "Auto-generate Microsoft.NETCore.Platforms\runtime.json"
Ref: https://github.com/dotnet/corefx/pull/14142#discussion_r90922312

/cc @ericstj

[2016-12-05 18:56] brphelps commented on #1624
@damianh:  Why should people using dotnet core need to do anything with Owin to test a class like HttpClient? This might make a lot of sense for a particular use case (AspCore hosted on OWIN) but this doesn't seem to be that general.

This really seems to be conflating the concern of "what's the most general way to Unit Test HttpClient that is also consistent with user expectations" with "how do I

[2016-12-05 18:58] redknightlois commented on #8034
True, but we can still know that last time didnt work so well. Rotation and XOR (current) is just as fast, with no loss if someone does put sort of correlated stuff in.

[2016-12-05 19:03] danrozenberg commented on #2984
Thanks for looking into this, @ericstj and @karelz

[2016-12-05 19:08] ellismg commented on #14089
@svick is correct.  All CoreFX, Core-Setup and CoreCLR assets are packaged for "rhel.7-x64".

[2016-12-05 19:10] JohnChen0 commented on #14165
Since the call stack in the failure mentioned `Interop.mincore.GetNativeSystemInfo`, it was definitely using an old build of CoreFX. After PR #13440, `Interop.mincore.GetNativeSystemInfo` no longer exists and has been replaced by `Interop.Kernel32.GetNativeSystemInfo`. It appears that during the build process, the build tools was still using an old version of CoreFX. Upgrading it to use a more rec

[2016-12-05 19:12] damianh commented on #1624
Oh _testing_ HttpClient... thought the topic was testing things that have a
dependency on HttpClient. Don't mind me. :)

On 5 Dec 2016 7:56 p.m., "brphelps" <notifications@github.com> wrote:

@damianh <https://github.com/damianh>: Why should people using dotnet core
need to do anything with Owin to test a class like HttpClient? This might
make a lot of sense for a particular use case (AspCore host

[2016-12-05 19:13] pranavkm opened #14203 "Referencing Microsoft.NETCore.App 1.2.0-* results in type ambiguity"
I was attempting to upgrade AspNetCore packages to 1.2.0-* M.NETCore.App \ 4.4.0-* CoreFx packages. However it looks like the Task type is brought in separately by both System.Runtime and System.Threading.Tasks package. Consequently an app that references `Task` fails:

[code]

[code]
error CS0433: The type 'Task' exists in both 'System.Threading.Tasks, Version=4.0.10.0, Culture=neutral, PublicKey

[2016-12-05 19:13] pranavkm commented on #14203
cc @ericstj \ @davidfowl

[2016-12-05 19:14] brphelps commented on #1624
@damianh -- It is things that have a dependency, but your solution seems to involve a lot of other dependencies in the picture, too. I'm imagining a class library that happens to use a passed in HttpClient instance (or a DI'ed one)-- Where does Owin come into the picture?

[2016-12-05 19:31] damianh commented on #1624
It's not owin that is the interesting thing I was trying to show (which
will also work on .net core / netstandard) so please don't focus on that.

The interesting thing is the HttpMessageHandler that make an in-process
in-memory HTTP request against dummy HTTP endpoints.

Aspnet Core's TestServer, as did the katana one before it, works the same
way.

So your class under test has an HttpClient DI'd

[2016-12-05 19:31] ericstj commented on #14203
Works for me.  I suspect your restore client doesn't understand `netcoreapp1.1` => `netstandard1.7`

[2016-12-05 19:38] brphelps commented on #1624
@damianh  -- Totally understand what you're saying the interesting thing is -- but people don't need dummy HTTP endpoints with a smart mock-- e.g. @richardszalay's MockHttp library.

At least not for unit testing :).

[2016-12-05 19:40] pranavkm commented on #14203
I'm using the 1.1.0 CLI:

[code]

Do you know what version of the CLI is meant to work here?

[2016-12-05 19:40] mellinoe commented on #13455
Hm, I wonder which test case it was on this time? I'd have to do some more digging to figure that out.

[2016-12-05 19:40] damianh commented on #1624
It depends. Options are good :)

On 5 Dec 2016 8:39 p.m., "brphelps" <notifications@github.com> wrote:

@damianh <https://github.com/damianh> -- Totally understand what you're
saying the interesting thing is -- but people don't need dummy HTTP
endpoints with a smart mock-- e.g. @richardszalay
<https://github.com/richardszalay>'s MockHttp library.

At least not for unit testing :).

—
You are recei

[2016-12-05 19:47] grockland commented on #11735
As you mention ClientWebSocket allows setting of the KeepAliveInterval by e.g. clientWebSocket.Options.KeepAliveInterval = new TimeSpand(0, 30, 0);

However the WebSocket  created on the server through I presume

 public static WebSocket CreateClientWebSocket(Stream innerStream, string bProtocol,                            int receiveBufferSize, int sendBufferSize, TimeSpan keepAliveInterval, bool

[2016-12-05 19:49] weshaggard commented on #14165
@dleeapho @markwilkie looks like we either need to update the CLI or fix it such that the api-sets are correctly pulled so the Win7 builds work.

[2016-12-05 20:02] ericstj commented on #14203
Newer than that.  preview2-003121 worked for me.  /cc @piotrpMSFT @weshaggard

[2016-12-05 20:24] karelz commented on #14155
I don't think it is worth the trouble. If we have plenty of such examples, we can reconsider in future.
I would suggest to close this issue ... any strong objections?

[2016-12-05 20:25] stephentoub opened #14207 "ConcurrentQueue<T> doesn't reuse segments"
ConcurrentQueue<T> allocates a new Segment for every 32 elements, which means that every T added has space allocated for it, just in chunks.

[2016-12-05 20:26] karelz commented on #10528
@Priya91 @AlexRadch is there PR for this issue? If yes, it should be linked.

Slices and spans are part of the new `Slice<T>` API. `ArraySegment` is the old API.

[2016-12-05 20:29] ianhays commented on #13207
I'm fine with that. Go ahead and include it and we'll see what the API reviewers think once we get it locked down. No need to add a differently-named method.

[2016-12-05 20:39] #13297 closed

[2016-12-05 20:46] ianhays commented on #3815
The measurements were made using `msbuild /t:buildandtest /p:Performance=true` which calls the xunit.performance runner. It looks like this test has actually [been removed since the measurement was made](https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/Performance/Perf.Double.cs), so there isn't any way to repro it in the same way.

I wrote a perf test for this method because

[2016-12-05 20:48] PaybackMan opened #14209 "publishing self contained apps hang indefinitly on web api projects"
This is a consistent problem for me. Happens when trying to publish from VS or cli. Only one framework in use ( "win10-x64" ) . Have not tried yet with other framework monikers

[2016-12-05 21:02] AlexGhiondea commented on #14193
I agree. I am not seeing a lot of advantages to having this API in Core.

[2016-12-05 21:11] steveharter commented on #14137
Why does a build even start? The repro steps are not initiating a build. A standard VS project (non-corefx) will not attempt a build if those same settings are changed.

[2016-12-05 21:12] tipa commented on #13914
Problem seems to happen for Debug only. RID should be `win10-arm` (I am running the app on a Lumia 930).
This is how my project.json looks, in case it helps:
[code]

[2016-12-05 21:16] AndyAyersMS commented on #3815
There are quite a few low-level native helper routines that appear to be slower on linux, for instance much of the math library. See for instance some of the discussion and data in dotnet/coreclr#4847.

[2016-12-05 21:27] karelz commented on #721
Triage: We believe that reimplementing sockets is too hard. Adding new API sounds like a good idea.
Maybe trying it out in corefxlab first, or building it on top of pipeline APIs.

This looks like a non-trivial large work.

[2016-12-05 21:35] Priya91 commented on #10528
I'm not aware of any..

[2016-12-05 21:35] karelz commented on #1611
Triage: There is already a way to get cookies from CookieContainer. We don't see strong reason to add yet another way how to get to it.
If there is strong interest and evidence we missed, we are willing to reconsider. Closing for now.

[2016-12-05 21:35] #1611 closed

[2016-12-05 21:35] naamunds opened #14211 "System.Collections.sln fails to build in VS unless built from the command-line first"
## Steps to reproduce the issue
1.  Delete the "bin" directory from your local repo.
2.  Open src\System.Collections\System.Collections.sln in Visual Studio 2015.
3.  Build the solution in VS.

## Expected behavior
The build succeeds.

## Actual behavior
The build fails with several errors like `error CS0006: Metadata file 'C:\Repos\corefx\bin\Windows_NT.AnyCPU.Debug\System.Diagnostics.Debug\Syste

[2016-12-05 21:37] benaadams commented on #721
I have already added to pipelines (pre-corefxlab); now [System.IO.Pipelines.Networking.Windows.RIO](https://github.com/dotnet/corefxlab/tree/master/src/System.IO.Pipelines.Networking.Windows.RIO) still needs work - is good fit and works as good transport agnostic test subject for it.

[2016-12-05 21:39] AlexGhiondea commented on #1642
Looks like we know what needs to happen here. It is a simple fix that would be a great place to start looking at the CoreFx code.

[2016-12-05 21:41] Priya91 commented on #12696
There's a PR up here #13732, waiting for release branches to be open for merge.

[2016-12-05 21:41] AlexGhiondea commented on #11465
I believe this has been resolved [now](https://github.com/dotnet/corefx/blob/9d0736e2abcfe7c82309cf33a57267a5e33fc8c9/src/System.Runtime/src/System/ComponentModel/DefaultValueAttribute.cs#L94)

[2016-12-05 21:44] AlexGhiondea commented on #11588
I am going to close this issue. If in the future we figure out a good way to make these APIs faster we will add them at that time.

As always, feel free to reactivate.

[2016-12-05 21:44] #11588 closed

[2016-12-05 21:44] Priya91 commented on #10445
This is fixed in 1.1.0.. will be available in .net core 1.1 packages.

[2016-12-05 21:45] dagood commented on #14165
Upgrading the CLI we use to pick up a newer CoreFX sounds reasonable, so I'm working on that.
/cc @crummel

[2016-12-05 21:46] karelz commented on #1745
Sounds like a good idea. Be careful about app compat (on Windows) - we can't break current behavior. This is one of the most risky areas for security and compatibility in all corefx -- the bar should be no behavioral changes on Windows.

[2016-12-05 21:46] jairbubbles commented on #11465
Not sure to see what has changed :-(

[2016-12-05 21:47] AlexGhiondea commented on #11660
I am going to close this now as it does not look like using the new feature will get us much.

[2016-12-05 21:47] #11660 closed

[2016-12-05 21:53] naamunds commented on #14211
/cc @weshaggard @stephentoub

[2016-12-05 21:54] Priya91 commented on #5248
@SeanSnyders ```Environment.SpecialFolder``` is an enum, and it's defined here [in coreclr repo](https://github.com/dotnet/coreclr/blob/32e6bf8b03aafe84e6d24e0c36a65dd18d2054ed/src/mscorlib/src/System/Environment.cs#L1781).

[2016-12-05 21:56] Priya91 commented on #14157
Thanks @mbinette91

[2016-12-05 21:57] karelz commented on #1751
It looks like a good idea and overall goodness, however we might run into bad compat problems with security implications. It would be best to expose this functionality as opt-in API, so that we don't accidentally break old apps.

For example - new argument in constructor.

Next steps: We need formal API proposal.

[2016-12-05 21:58] karelz commented on #1751
Open question: What to prepend to strings: 'http:' or 'https:' or 'mailto:', etc,?
Idea: Mimic what browsers do.

[2016-12-05 21:59] Priya91 commented on #13901
Yes will do.

[2016-12-05 22:01] karelz commented on #1794
This would be a breaking change - BTW: the code likely has comments which explain why it was done this way.
If there is strong interest in this new behavior, we would likely need a new API.
Closing for now, feel free to reopen with more info or with scanario which would justify the new API.

[2016-12-05 22:01] #1794 closed

[2016-12-05 22:02] benaadams commented on #14207
ye olde ABA problem? Do you see solution that could also be back ported to Threadpool?

[2016-12-05 22:03] karelz commented on #1866
Should be covered by #13890.

[2016-12-05 22:03] #1866 closed

[2016-12-05 22:04] stephentoub commented on #14207
No, I'm implementing a different solution that's not subject to it (assuming I do it correctly).

Back ported to where?  You mean the global queue?  If I'm successful, maybe.

[2016-12-05 22:05] karelz commented on #1936
Looks like good idea, watch for app compat (at least on the not-so-big strings) - ideally use the old code. We would expect adding test coverage with this.

Medium cost.

[2016-12-05 22:13] karelz commented on #2506
There should be TODOs in the code point to this issue.

@davidsh's gut feel is that this may be hard - you have to worry about callbacks, etc.

[2016-12-05 22:16] karelz commented on #2505
This may be a bit involved - we need to check PinnableBufferCache if it is fully implemented for our purpose here.

[2016-12-05 22:16] joperezr commented on #14137
I believe a build is always triggered, even with standard VS projects. The design time build is used for things like intellisense, so if doesn't run, then intellisense won't work. The difference between this and other projects, is that in corefx, changing the ConfigurationGroup makes it to build not only the current project, but other P2Ps as well, and in most cases it can't reuse the previously b

[2016-12-05 22:17] JonHanna commented on #1751
Making Uri guess a string is a domain name and then guest it's meant to be used as a host would break anything that looked like a domain name that really had been intended to be a relative path.

[2016-12-05 22:23] ianhays opened #14212 "microsoft.netcore.targets has incorrect RID for clrcompression AOT"
In runtime.json for the latest microsoft.netcore.targets, we have:
[code]

when we should have:
[code]

@ericstj @shrah

[2016-12-05 22:25] karelz commented on #2891
Closing per triage discussion.

[2016-12-05 22:30] karelz commented on #2525
@mairaw can you please fix it?

[2016-12-05 22:31] Priya91 commented on #14117
From the stack trace looks like the process was not killed in 10 mins, investigating. Not able to repro locally, is this a recurring failure?

[2016-12-05 22:33] karelz commented on #2509
Cost: Medium-large

[2016-12-05 22:35] karelz commented on #2508
Next step: We need to confirm if this is still a problem. Or if we need to just adjust the comment.

[2016-12-05 22:35] PureKrome commented on #1624
Yep - can totally agree on that 👍 Which, IMO .. we don't have right now 😢

I totally understand the rational for creating and injecting your own HMH. That's what I'm doing right now. _Unfortunately_, i have to create a 2nd ctor (or provide an optional ctor param) _for unit testing concerns_. Just think about that sentence again -> i'm creating an entirely possible USER OPTION ... which is really o

[2016-12-05 22:36] karelz commented on #2507
Not sure what it tracks. Closing.

[2016-12-05 22:36] #2507 closed

[2016-12-05 22:48] naamunds opened #14215 "Running build.sh fails on Linux kernel 4.6.x"
Due to https://github.com/dotnet/coreclr/issues/6016, running build.sh fails on Linux kernel 4.6.x.  (See also https://github.com/dotnet/cli/issues/3681).

I was able to work around this locally by back-leveling the version in DotnetCLIVersion.txt from the current `1.0.0-preview3-003223` to `1.0.0-preview2-003131` and accordingly updating the __DOTNET_LOCATION variable in init-tools.sh:
`__DOTNET_

[2016-12-05 23:07] AlexGhiondea commented on #11465
Ah -- I misread the title. You are asking for unsigned int/ unsigned long overloads for the constructor.

[2016-12-05 23:07] AlexGhiondea commented on #11465
In that case we would need a formal API review for this.

[2016-12-05 23:09] AlexGhiondea commented on #12007
As a next step we would need a formal API proposal that also contains use cases for this. @Opiumtm would you be interested in expanding on your proposal?

[2016-12-05 23:12] AlexGhiondea commented on #12259
If you are shipping an assembly as part of a NuGet package then you can use the NuGet package versioning to identify the package as preview/beta.

If you are not shipping as a NuGet then it really depends on how your consumers get the latest API.

I am not sure I see a scenario where you are making an API available but it would not be working.

I don't see the value of having this attribute as par

[2016-12-05 23:12] #12259 closed

[2016-12-05 23:13] AlexGhiondea commented on #12384
This seems like a straight forward change -- replace all the framework types in the files listed above with their C# language equivalents.

[2016-12-05 23:15] omariom commented on #14207
That's going to be interesting!

[2016-12-05 23:15] AlexGhiondea commented on #12672
It sounds like the first step would be to identify all the types where we would like to have these additions on. Anyone interested?

[2016-12-05 23:17] AlexGhiondea commented on #12716
@rahku is this something you are still looking at?

[2016-12-05 23:18] #12211 closed

[2016-12-05 23:21] AlexGhiondea commented on #12746
I am going to close this issue for now. We are not currently planning to change the Random algorithm because it would be a breaking change (see above).

[2016-12-05 23:21] #12746 closed

[2016-12-05 23:36] damianh commented on #1624
Hey @PureKrome , no worries just sharing experience.

The term 'Unit Test' has been used multiple times and let's think about this for a minute. So we're on the same page, I'm assuming we have a `FooClass` that has a ctor dependency on `HttpClient` (or `HMH`) and we want to _mock_ `HttpClient`.

What we are really saying here is "`FooClass` can make an HTTP request using to any URL (protocol / hos

[2016-12-05 23:40] damianh commented on #1624
Didn't say that! I said `IHttpClient` would not be useful because A) it's won't be substituted with an alternative concrete implementation and B) the God Object concern as mentioned.

Another example? `IAssembly`.

[2016-12-05 23:43] AlexGhiondea commented on #10796
Closing this as a TFS bug has already been created for this.

[2016-12-05 23:43] #10796 closed

[2016-12-05 23:44] AlexGhiondea commented on #11580
I can see value in having this API. The next step is to have a formal API proposal that includes use cases for it.

[2016-12-05 23:45] brphelps commented on #1624
@damianh  -- The "God Class" status isn't a concern to callers. It's not the callers' responsibility to make sure HttpClient is / isn't a god class. They know that it's the object they use to make HTTP calls :).

So, assuming that we accept that the .NET framework exposed a God class to us... how can we reduce our concern? How can we best encapsulate it? That's easy -- Use a traditional mocking fr

[2016-12-05 23:48] ericstj commented on #14212
Are you sure?  If I look at the runtime.json in https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.Targets/1.2.0-beta-24721-02 it looks correct.

[2016-12-05 23:52] weshaggard commented on #14165
Note that it might not be as easy as that because the @JohnChen0 changes to removed dependencies on api-sets is a very recent change and I don't know if we should be updating our tools to depend on that new of a corefx prerelease.

[2016-12-05 23:58] dagood commented on #14165
I've set up a Win7 x64 VM, but I haven't been able to repro. I stuck this into `build.proj` and it ran fine:

[code]
[code]

I did see, though, that `System.Runtime.InteropServices.RuntimeInformation` is from tool-runtime's `NETStandard.Library` dependency, and doesn't seem to be in the CLI's shared framework, so I don't know if upgrading CLI will do any good.

Since I don't have a repro, I'm not

[2016-12-06 00:02] bartonjs commented on #14200
The code does check for IOException, but UnauthorizedAccessException unfortunately isn't an IOException.  Another catch-and-ignore clause needs to be added to that try-catch.

[2016-12-06 00:04] jonathanbyrne opened #14219 "Question regarding System.Reflection.Metadata"
In the past, if I needed reflection data for an assembly but did not want it in the main AppDomain, I would load it into a temporary AppDomain which would only exist until I extracted the desired reflection information.  With no AppDomains in .NET Core, my understanding is that System.Reflection.Metadata is recommended for this type of scenario.

I imagine that System.Reflection.Metadata was imple

[2016-12-06 00:10] jamesqo opened #14220 "Proposal: Queryable.Append, Queryable.Prepend"
**Important note:** There is a chance this API could be breaking. People who are already calling `Append` on some Queryable will be calling into the Enumerable version, which returns an `IEnumerable<T>`. Meanwhile, the proposed overloads return an `IQueryable<T>`. However, these APIs have been out for [less than a year](https://github.com/dotnet/corefx/pull/5947) and people seem to agree that keep

[2016-12-06 00:20] PureKrome commented on #1624
Totally agree @damianh that `HttpClient` is like some uber God Class.

I also don't see why I need to know about all the internal's again because there can be _so many purmutations_ to what goes in, what comes out.

For example: I want to get the stocks from some API. `https://api.stock-r-us.com/aapl`. Result is some JSON paylod.

so, things i might screw up when trying to call that endpoint:
- wr

[2016-12-06 00:23] karelz commented on #12672
Moved tracking to #13892.

[2016-12-06 00:23] #12672 closed

[2016-12-06 00:28] karelz commented on #721
Do we need to keep it opened here? (if there's value in tracking in corefx, I am fine with it ...)

[2016-12-06 00:29] dagood commented on #14215
The first reason was to get buildtools on an RTM shared framework, but Ubuntu on Windows support was something we wanted to make sure it addressed. Judging by dates, that CLI might have the fix, but as far as I know, testing it out would involve either trying it on a machine or searching through sources to figure out if the version of CoreCLR the CLI build used has the fix. @ericeil Do you have a

[2016-12-06 00:38] jiangzeng commented on #14117
@danmosemsft @priya91 I checked the builds recently, this issue only happened in this build 20161129.02, not re-pro in later builds

[2016-12-06 00:41] steveharter commented on #14137
Note the repro steps do not change any settings except for the external binary to start when debugging. I don't see why this should trigger a design time build.

[2016-12-06 00:48] benaadams commented on #721
Would be nice to have in the corefx apis; but I think it would require significant design as it is a whole different set of apis.

I think for now Pipelines provides a good intermediary to enable support - without requiring an different api shape; so happy to close this and maybe revisit in future.

[2016-12-06 00:48] #721 closed

[2016-12-06 01:06] svick commented on #14193
I thought some data might be useful here, so I looked at 1000 most recently updated small C# GitHub repos, looking for `string.Join` calls where the first parameter is a literal. The results:

| | count |
|---|---|
| total | 2470 |
| `","` | 612 |
| `", "` | 571 |
| `" "` | 260 |
| `"&"` | 182 |
| `";"` | 149 |
| `""` | 102 |
| `"\n"` | 98 |
| `"; "` | 57 |
| `"|"` | 52 |
| `"_"` | 43 |

Based on

[2016-12-06 01:08] karelz commented on #14220
We already have `[IEnumerable.Concat(IEnumerable second)](https://msdn.microsoft.com/en-us/library/bb302894(v=vs.110).aspx)`. We plan to add `Enumerable.Singleton` (or `CreateForm` in issue #3093. Isn't that enough?
Are these use cases so common to justify yet-another API for simplicity?

[2016-12-06 01:09] karelz commented on #14209
Does it happen on more than one machine?
@piotrpMSFT can you please help route it?

[2016-12-06 01:17] jamesqo commented on #14220
@karelz This is an existing API on `Enumerable` that needs to be added to `Queryable`. See https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/AppendPrepend.cs

[2016-12-06 01:25] Priya91 commented on #8920
@BrennanConroy This is implemented in Mono, executing ```RuntimeInformation.FrameworkDescription``` on Mono runtime gives this output:

[code]

[2016-12-06 01:26] jamesqo commented on #3093
I think we should hold on this. There is an issue in Roslyn, https://github.com/dotnet/roslyn/issues/36, that will allow for `params IEnumerable<T>` support. When that is implemented we could just have a single method:

[code]

And let the compiler do all the optimizations (e.g. caching into a static if all arguments are constants). We should definitely not add a `params T[]` which will, as @VSado

[2016-12-06 01:28] Priya91 commented on #8920
Closing the issue, please reopen if there are additional requirements.

[2016-12-06 01:28] #8920 closed

[2016-12-06 01:29] MadsTorgersen commented on #13746
@jamesqo How would you use this? I fear that any real usage would get awkward, because you want to test the Boolean, but to do that you first have to extract it into a local.

It seems to me that nullables are better consumed with patterns or the ?? operator. Ideally they would have a `TryGetValue` method, which could be easily consumed with out variables.

[2016-12-06 01:30] JonHanna commented on #14220
@karelz we already have these methods on `Enumerable`, the question is whether they should be also put on `Queryable`.

And I'm not 100% sure myself.

The likes of `Repeat` and `Range` don't have a `Queryable` equivalent because they're starting with elements and producing sequences and there isn't really an applicable equivalent. Whatever comes in #3093 would be the same.

Any method that works o

[2016-12-06 01:42] karelz commented on #3093
The roslyn issue is marked as "2 - Ready" for a year (https://github.com/dotnet/roslyn/issues/36#event-469859827). It does not have milestone. I don't think it is planned anytime soon.

[2016-12-06 01:47] karelz commented on #14220
I see - it was introduced in #2075 in .NET Core 1.0. I let @VSadov @OmarTawfik decide if they want to add it to `Queryable`.

[2016-12-06 01:48] ianhays commented on #14212
Ah, yeah, I was getting version `4.3.0-beta-24429-02`. Version `1.2.0-beta-*` is correct.

@shrah what version of `Microsoft.Netcore.Targets` do you have?

[2016-12-06 01:50] jamesqo commented on #3093
@karelz Yes, but the language designers seemed to be generally in favor of it. If we add a `params T[]` overload and then this gets implemented in the future, adding that will have been a grave mistake.

[2016-12-06 01:56] piotrpMSFT commented on #14209
Hard to route just yet. Would be great to get a /v:diag trace of the publish operation. I believe Web Api goes through a special publish path @mlorbetske would know about, but it may be in the default Publish in CLI...

[2016-12-06 01:58] bartdesmet commented on #14220
Personally, I think `Enumerable` and `Queryable` should remain symmetric. Otherwise, it becomes hard to reason over what happens locally versus under control of a query provider, and impossible for query providers to translate intent. Also, the `Enumerable` methods leak into inner lambdas anyway (due to lambda conversion to expression trees), so those operators become visible to query providers an

[2016-12-06 02:03] karelz commented on #3093
The comments above already suggest `params` is not needed.

[2016-12-06 02:07] jamesqo commented on #3093
@karelz, where? I only took a quick look with Ctrl+F, but AFAICS only @JonHanna and @VSadov oppose `params`, and that's because it would have to be wrapped in an iterator with `params T[]`. Having `params IEnumerable<T>` solves that problem.

[2016-12-06 02:13] karelz commented on #3093
Yes, both @JonHanna and @VSadov oppose adding `params T[]` overload, which is the point I tried to make.
I think we can go ahead with the other overloads, unless the Roslyn feature `params IEnumerable<T>` is scheduled for next Roslyn version ...
Or did I misunderstand anything?

[2016-12-06 02:15] karelz commented on #13746
@MadsTorgersen @KrzysztofCwalina can you please check @terrajobst's question above (https://github.com/dotnet/corefx/issues/13746#issuecomment-262335120)?

[2016-12-06 02:16] richardszalay commented on #1624
I'm not sure what you're trying to say here:

"I don't like having a second ctor that accepts HttpMessageHandler" ... so have your tests wrap it in an HttpClient

"I want to unit test without inverting my dependency on HttpClient" ... tough?

[2016-12-06 02:18] MadsTorgersen commented on #13746
@terrajobst @KrzysztofCwalina @karelz A conversion operator to a tuple doesn't provide deconstructability. This may or may not make sense, we chose to go with a conservative approach for now.

[2016-12-06 02:21] brphelps commented on #1624
@richardszalay -- I think I get the sentiment that @PureKrome doesn't want to change his code in a way that doesn't improve design just to support an overly opinionated test strategy. Don't get me wrong, I'm not complaining about your library, the only reason I want a better solution is because I have a higher expectation of dotnet core to not require it =).

[2016-12-06 02:26] richardszalay commented on #1624
I'm not thinking of this in terms of MockHttp, but testing/mocking in general.
Inverted dependencies is a fundamental necessity for unit testing in .NET, and that usually involves ctor-injection. I'm not clear on what the proposed alternative would be.

Surely if HttpClient implemented IHttpClient, there would still be a constructor that accepted it...

[2016-12-06 02:42] PureKrome commented on #1624
Agreed. I was "crossing streams" in my thinking as I literally just woke up and was struggling to get my single cell in my brain to come alive.

Ignore my 'ctor' comment plz and continue with the discussion, if anyone hasn't already left in boredom 😄

[2016-12-06 02:44] AlexRadch commented on #8034
Add hash code randomization with `public static HashCode CreateRandomized(Type type);` or with `public static HashCode CreateRandomized<T>();` methods or with both.

[2016-12-06 02:47] JonHanna commented on #14220
That's a good point, and speaks also to the importance of doing such additions at the same time, when they happen.

[2016-12-06 02:52] JonHanna commented on #14220
Which also has the advantage of being pretty trivial. As long as there's **an** easy way for a provider to implement it, even if not necessarily the best way, a lot of my concern goes away. That's knocked me off the fence and onto supporting.

[2016-12-06 03:03] danmosemsft opened #14228 "Failure in DateTimeFormatInfoGetInstance.GetInstance_ExpectedCurrent on OSX"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/1090/consoleText

Unfortunately the snippet of Expected and Actual below are identical so perhaps some more logging is necessary.
[code]

[2016-12-06 03:18] ellismg commented on #14089
Given that we author our assets under the "generic" rhel.7-x64 RID and use the runtime.json graph to share these assets across RHEL minor versions and the fact that RHEL itself exposes the minor versions via `/etc/os-release`, I'm going to close this.

[2016-12-06 03:18] #14089 closed

[2016-12-06 03:49] jnm2 commented on #12007
You're talking about `WeakReference<T>`, `Lazy<T>`, `Proxy<T>`, maybe `CacheToken<T>`-- isn't `Func<T>` as good an abstraction of all of these as any?

[2016-12-06 04:01] AlexRadch opened #14230 "API proposal: Array<T> and List<T> in place Sort and BinarySearch for keySelector function"
Now we can sort `Array<T>` and `List<T>` by keySelector `Func<TValue, TKey>` by using Enumerable extension methods, but this will create in memory copy of array or list.
I suggest to add API for in place Sort and BinarySearch with keySelector function `Func<TValue, TKey>`.

## API proposal
[code]

The same API for Array class.

[2016-12-06 04:28] MaleDong commented on #1903
@karelz ：Sorry because of my busy work and I didn't give you a continuable response.
Now I wanna know more about your milestone Future 1.2.0：

1) What do you wanna add this feature? What features should it contain by your ideas?
2) In fact I mean that though .NET can collection by using GC.Collect() however sometimes when we create a huge thing taking a huge memory, and we should release it soon.

[2016-12-06 04:39] AlexRadch commented on #10528
Why add new API to old API? May be better to mark `ArraySegment` as deprecated?

[2016-12-06 05:22] jamesqo commented on #8034
@jkotas I think I may have found a better pattern for this. What if we used C# 7 ref returns? Instead of returning a `HashCode` each time, we would return a `ref HashCode` which fits into a register.

[code]

Usage remains the same as before:

[code]

The only downside is that we're back to a mutable struct again. But I don't think there's a way to have both no copying and immutability at the same

[2016-12-06 05:23] Tratcher commented on #1611
CookieContainer is difficult to work with on a per-request basis as you only have access to the HttpClientHandler/CookieContainer when you first create the HttpClient instance, not when you're sending requests or processing responses, unless you manually flow the container along with the client. You may not even have access to the handler/container if another component created the HttpClient insta

[2016-12-06 06:23] AlexGhiondea commented on #14064
@sepidehMS do you by any chance have a small repro I can take a look at for this?

[2016-12-06 07:34] Thaoden commented on #1624
Can we take a step back to the question if using `HttpClient` as a dependency really _can_ lead to Unit Testing.

Let's say I have a class `FooClass` that gets a dependency constructor injected. I now want to Unit Test the methods on `FooClass`, meaning I specify the input to my method, I isolate `FooClass` as best as I can from its environment and I check the outcome against an expected value. In

[2016-12-06 07:51] divega commented on #14220
Makes sense to me to have these new operators defined for `IQueryable<T>`.

I also agree on the need to keep `Enumerable` and `Queryable` as much as possible symmetric. Although it might be obvious and a bit off-topic, I think some exceptions are justified:

- Such plain static methods as `Enumerable.Repeat()`, `Range()` and `Empty()` are interesting in that they allow for the creation of `IEnumer

[2016-12-06 08:41] divega commented on #14144
@svick I agree that given the existing overloads cannot be removed the proposal is just a compromise. The potential confusion is a fair concern, but I don't know of an objective way to judge if the added overloads would be more confusing that the current state of affairs. At least if the overloads existed we could point customers to them when needed.

I am not sure if other LINQ to database provid

[2016-12-06 09:03] tmds commented on #14089
@ellismg
If I'd create an issue for someone to change /etc/os-release on rhel providing .NET Core implementation as a rationale, but I doubt it will change.

Looking at the docs: https://github.com/dotnet/docs/blob/master/docs/core/rid-catalog.md there isn't a mention of the rhel.7-x64 rid. CentOS has the same semantics as rhel, but there is no minor.

Q: if I have a rhel 7.2 with .NET Core 1.0 in

[2016-12-06 09:19] nydehi commented on #14144
The easiest way which is done in apis is to define a new operator jump with
the new behavior and deprecate not remove skip.   no breaking change for 5
years or so.

On Dec 6, 2016 3:41 AM, "Diego Vega" <notifications@github.com> wrote:

[2016-12-06 09:35] aensidhe commented on #1794
@karelz at the time of writing there was no explanation, I checked it. Current explanation is
[code]

The explanation is not very good on my opinion, because it is not always true that HttpClient owns Content object.

Maybe I missing something, but adding an ability to control lifetime of Content object will not break existing clients with default settings to "own" content objects.

[2016-12-06 13:35] AlexRadch commented on #8034
@jamesqo `public static HashCode CreateRandomized<T>();` do not get type hash code. It creates randomized HashCode for this type.

[2016-12-06 13:47] jnm2 commented on #14152
As long as it's synchronous! This might help me finally get status lines working in spite of Windows 10's text reflowing: https://stackoverflow.com/questions/34210216.

[2016-12-06 14:00] mikedn commented on #14230
It's not clear to me what value the new `Sort` overloads have. You can already do anything you want using the existing `Sort(Comparison<T>)` overload. The new overload is also likely to have worse performance due to the fact that a single compare requires 2 delegate calls and possibly another interface call for the actual comparison (via `IComparer<TKey>`).

To make things worse, the underlying so

[2016-12-06 14:02] benaadams opened #14234 "API Proposal: ByteSize Struct"
Like TimeSpan to remove ambiguity in sizes e.g. https://github.com/aspnet/KestrelHttpServer/issues/1247

## Suggested API

[code]

## Open Questions

Format for kilobyte vs kibibyte and decimal vs binary sizes

[2016-12-06 14:07] jnm2 commented on #14234
I don't suppose a `BitSize` would make sense?

[2016-12-06 14:14] marek-safar opened #14235 "Add Xamarin support to System.ValueTuple package"
It does not support Xamarin as of version 4.3.0.

We'd like to provide platform specific assemblies which forward types to existing types Xamarin products have in mscorlib (same scenario as in .NET vNext)

cc @weshaggard @akoeplinger

[2016-12-06 14:15] NickCraver commented on #14234
If we did the proposal, it should include also the kibibyte, mebi, gibibyte, etc. series. These are very commonly needed in networking, SSD/HDD storage, and other bits.

Bonus: *which* is used varies on storage by platform (e.g. macOS uses gigibyte, Windows uses gigabyte).

[2016-12-06 14:32] benaadams commented on #14234
There is ambigiuity between Kilobyte as 1000 bytes and 1024 bytes (though Kibibyte does exist as @NickCraver points out)

[2016-12-06 16:07] davidsh commented on #1611
Thanks for the feedback and use case.  Feel free to submit a new issue with detailed API proposal and/or PR for changes.

By the way, aren't the raw response headers (strings) already available in the HttpResponseMessage.Headers?  If so, it sounds like the requirement is to have a strongly typed object model for the 'Set-Cookie' header itself.

[2016-12-06 16:53] caleblloyd opened #14237 "TCP_KEEPALIVE, TCP_KEEPINTVL, and TCP_KEEPCNT Socket Options"
I am trying to set per-socket keepalive TCP timeouts on Linux and MacOS.  The following named socket options are not exposed, however:

- SocketOptionName.TCP_KEEPALIVE
- SocketOptionName.TCP_KEEPINTVL
- SocketOptionName.TCP_KEEPCNT

When I try to add them using their POSIX codes, I get an exception:

      -------- System.Net.Sockets.SocketException : Operation not supported
           at System.

[2016-12-06 17:03] weshaggard commented on #14235
cc @jcouv @ericstj

[2016-12-06 17:03] ZeBobo5 commented on #14234
Does-it include Qubit / KiloQubit ... too ? :sweat_smile:

[2016-12-06 17:03] karelz commented on #14234
What's the `Format` value difference? (I assume just lack of domain knowledge from my side)

If you add the the `Kibi' variants, we can run it by API review in 1h or next week.

Do you have a namespace in mind? System.Numerics, System, anything else?

[2016-12-06 17:26] jkotas commented on #13951
https://github.com/dotnet/corefx/pull/14132#issuecomment-264281354 is my suggestion on how to fix the tests.

[2016-12-06 17:35] whoisj opened #14238 "System.Diagnostics.Process should not inherit handles by default"
When a Windows process starts another process, the parent gets the option of having the child process inherit all of the parent's inheritable handles. Additionally, every handle has a flag on it specifying if it is inheritable or not.

CoreFx has the `bInheritHandles` argument hard coded to `true`. While this feature can be useful, it can cause untold number of problems.

This of the situation whe

[2016-12-06 17:36] karelz commented on #14237
Here's the [code](https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L5097). I wonder if you know where the exception comes from. Is it propagated error code from native implementation?

cc: @Priya91 @stephentoub

[2016-12-06 17:37] davidfowl commented on #14203
Can conform, this is broken with older builds.

"version": "1.0.0-preview2-003131" - Broken
"version": "1.0.0-preview2-1-003177" - Broken

[2016-12-06 17:38] akoeplinger commented on #14238
There were some concerns raised in the api review of this issue (which seems like a dupe): https://github.com/dotnet/corefx/issues/306

[2016-12-06 17:40] davidfowl commented on #14203
![image](https://cloud.githubusercontent.com/assets/95136/20936583/f3faca74-bb97-11e6-93d2-7e09022bf49a.png)

[2016-12-06 17:40] karelz commented on #14238
Closing as a dupe of #306.
Please let me know if you think there are other reasons to keep this one opened.

[2016-12-06 17:40] #14238 closed

[2016-12-06 17:42] roncain commented on #14137
I can confirm we have been seeing this same issue using any of the test SLN's in the https://github.com/dotnet/wcf repo.  Using project properties Debug tab, both these operations are excruciatingly slow:
1) Change the working directory (just move focus off the field and VS is unusable for several minutes)
2) Change the path to the external binary (same thing, just move focus off that field and wa

[2016-12-06 17:45] davidfowl commented on #14203
@ericstj What version of nuget understands that mapping?

[2016-12-06 17:46] stephentoub commented on #14237
Each platform has its own values for these named options.  As a result, the PAL layer expects a specific set of .NET-level values to be passed to SetSocketOption, which it then translates into the corresponding values for the platform:
https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_networking.cpp#L1866
If it doesn't recognize the input, then it doesn't know how to t

[2016-12-06 17:48] jcouv commented on #8034
@jamesqo "`ref this` does not work yet". Even once the Roslyn issue is fixed, `ref this` won't be available to the corefx repo for a while (I'm not sure how long, @stephentoub can probably set expectations).

[2016-12-06 17:49] ericstj commented on #14203
3.5.0 RC I believe. https://github.com/NuGet/NuGet.Client/commit/62aac7df1f4e67b3cb099bc6fc48abc1c8bb3f3a /cc @joelverhagen

[2016-12-06 17:50] whoisj commented on #14238
@karelz I disagree that this is a dupe of #306.

That issue suggest that CoreFx expose an option to make the handle inheritable. I am suggesting that CoreFx should default to false, and only inherit handles if a `ProcThreadAttributesList` is correctly prepared as associated with the call to `CreateProcess`.

If CoreFx wants to accept an `IEnumerable<SafeHandle>` or similar to add to the `ProcThrea

[2016-12-06 17:50] davidfowl commented on #14203
That's strange, I would have thought the latest CLI would have that. If not, xproj is kinda hosed...

/cc @piotrpMSFT @livarcocc

[2016-12-06 17:54] ericstj commented on #14212
I'll delete those incorrectly versioned copies.

[2016-12-06 18:01] karelz commented on #14238
@Priya91 would it be a breaking change to change the default?

@whoisj mentioned good motivation for it -- it causes lots of trouble in VS where 3rd party plugins do the wrong thing ... in Desktop we would have to quirk it, but maybe changing the default on .NET Core might be desirable for long-term?

[2016-12-06 18:02] whoisj commented on #14238
For the record, we (VSVC) are seeing this happen in our product. Ironically, it was the Roslyn team which first reported the issue and this is the root cause of the hangs they were seeing.

Effectively, we got reports that VS was hanging with our code at the top of the stack. Every time we were stuck in `ReadNativeFile` attempting to read from standard output of a process with redirected outputs.

[2016-12-06 18:03] jairbubbles commented on #11465
Yes I can sum it up with:
[code]
I don't think most people will think this is true.

As a side note, I don't understand why there are so many overload as they all box the value the same way. Why not keeping only `public DefaultValueAttribute(object value)` ?

[2016-12-06 18:14] AlexRadch commented on #14230
Write compassion for next code
[code]
`BinarySearch(comparison)` was rejected because it have conflict with BinarySearch(IComparable)`. See closed PR.

Why are you think that selectKey will worse performance here but it does not worse performance in Linq?

I clear understand you suggestions, and I wrote PR to add `BinarySearch(comparison)` but as you already wrote that it was rejected because

[2016-12-06 18:15] #12772 closed

[2016-12-06 18:15] #13375 closed

[2016-12-06 18:16] sepidehMS commented on #14064
@AlexGhiondea Change `LocalAppContext` to its previous version in [this PR](https://github.com/dotnet/corefx/pull/14065/files) and run [System.Xml.Xsl.XslCompiledTransformApi.Tests.csproj](https://github.com/dotnet/corefx/tree/master/src/System.Private.Xml/tests/Xslt/XslCompiledTransformApi). Few tests should start failing as `XsltCompiledTransform.Load` starts using `XmlNullResolver` instead of `

[2016-12-06 18:21] AlexGhiondea commented on #11465
@jairbubbles not sure -- but at this point I am not sure we can do anything about it. We could change it to be generic, but if we want to keep the existing signature, you will still box when you are returning the value from the Value property (returning an object).

[2016-12-06 18:25] ericstj commented on #14235
Makes sense.  To clarify: it **does** support Xamarin today in the same way that it supports desktop and .NETCore: it should use the netstandard1.0 assembly.

In the future it sounds like you'd like to put those types inbox in mscorlib, similarly to how some future version of desktop will include them.  When you do that you will break folks using the existing SDKs and the latest package due to typ

[2016-12-06 18:30] jcouv commented on #14235
Marek already added code and test for mscorlib/xamarin (mono/mono@0a515cf)
Last I heard, it will be part of Xamarin Cycle10 release which is expected to be in line with VS Jan/Feb release.

Linking to https://github.com/dotnet/roslyn/issues/13177 (umbrella issue for adding ValueTuple).

[2016-12-06 18:35] bartonjs commented on #3482
https://github.com/search?utf8=%E2%9C%93&q=%22TValue+getvalueordefault%22&type=Code&ref=searchresults currently shows ~975 hits.  (Removing the quotes jumps significantly, so it's probably a reasonable estimate of the number of implementations)

[2016-12-06 18:39] danmosemsft commented on #3482
Internal on Dictionary currently: https://github.com/dotnet/corefx/blob/73f38a79f792bd113a7d6359ca9180b1d2ba8da0/src/System.Collections/src/System/Collections/Generic/Dictionary.cs#L545

[2016-12-06 18:42] karelz commented on #3482
Approved as is (name of Extension class updated on the top to `CollectionExtensions`).

[2016-12-06 18:43] svick commented on #11465
@AlexGhiondea

How? C# does not support generic attributes (https://github.com/dotnet/roslyn/issues/953) (or generic constructors, if that's what you meant).

I think adding overloads to the constructor for the types that cause confusing conversions is the right solution here.

[2016-12-06 18:48] karelz commented on #6073
Approved as is in the top most post.

[2016-12-06 18:53] karelz commented on #11154
API review: Rejected - We should not treat pointers as numbers.

[2016-12-06 18:53] #11154 closed

[2016-12-06 19:03] mellinoe opened #14242 "[dev/eng] Configure test projects to build against targeting pack references"
* Remove all project.json files from the test folders.
* Add a target to targetingpack.props that emits references to all of the assemblies in the targeting pack for the current vertical TargetGroup.
  * Hook the target into test project builds.
* Clean the test targets:
  * Delete much of the logic in tests.targets and publishtests.targets.
  * Stop copying tons of files into the tests output dir

[2016-12-06 19:07] svick commented on #11465
My API proposal speclet:

## Rationale and Usage

As has already been explained, using `DefaultValueAttribute` with one of the problematic types (unsigned integer types and `sbyte`) in C# ends up using a widening conversion and so the boxed `Value` ends up with an unexpected type. The proposal is to add constructor overloads so that the conversions don't happen and `Value` gets the expected type.

[2016-12-06 19:08] krwq commented on #14234
As @karelz pointed - these probably should be Kibi* (1024) not Kilo* (1000) prefixes. I believe kilo used to be 1024 but it was causing too much confusion

[2016-12-06 19:08] tannergooding commented on #11154
These points may have been brought up in the API review already, but...

I personally don't feel like this would be treating them as numbers. This would be treating them as a pointer to an address in memory (which they are). And one address can be greater than or less than another address.

These are just standard pointer arithmetic operations, which are supported by the IL but is not currently ex

[2016-12-06 19:10] karelz commented on #13746
API review: Approved.

[2016-12-06 19:17] AlexGhiondea commented on #11465
@svick thanks for the proposal. I have marked this as ready for review.

I missed the fact that the attribute cannot be generic. What we are getting with this change is that you will never get a widening conversion, meaning you will correctly be able to round-trip values with this attribute.

[2016-12-06 19:19] karelz commented on #14047
API triage: Ideally we would like to see this method as internal. `Span` might need it public, we should just wait for its design to settle a bit more, then we can review it again.

[2016-12-06 19:20] jairbubbles commented on #11465
@svick Thank you, this is very well summarized !
In our code base we defined our own DefaultValueAtribute in our namespace which inherits from DefaultValueAttribute to work around the issue. So I guess it will break compilation but it's a good feedback to tell us to remove the class :-D

[2016-12-06 19:22] bartdesmet commented on #14220
I think we're pretty much all on the same page based on the discussion, so we can decide whether the (re)compile-time breaking change potential of adding `Append` and `Prepend` to `Queryable` is a show-stopper. If we want to restore the symmetry, we better do it sooner than later though.

With regards to the factory methods such as `Repeat`, `Empty`, and `Range`, we've put these as extension metho

[2016-12-06 19:23] dbjorge opened #14244 "IComparer and IComparer<T> documentation should note ordering properties required"
The documentation for `IComparer` ([@docs.microsoft.com](https://docs.microsoft.com/en-us/dotnet/core/api/system.collections.icomparer), [@msdn](https://msdn.microsoft.com/en-us/library/system.collections.icomparer(v=vs.110).aspx)) and `IComparer<T>` ([@docs.microsoft.com](https://docs.microsoft.com/en-us/dotnet/core/api/system.collections.generic.icomparer-1), [@msdn](https://msdn.microsoft.com/e

[2016-12-06 19:23] karelz commented on #14170
API review:
The indexer is already part of #10528 -- we should remove it from this proposal.
Adding `GetEnumerator` + changing the `internal class ArraySegmentEnumerator` to `public struct Enumerator` is approved (we need update of the top proposal).

[2016-12-06 19:26] karelz commented on #14189
API review: Approved.

[2016-12-06 19:26] CIPop commented on #14244
cc: @rpetrusha, @AArnott

[2016-12-06 19:28] ianhays commented on #13914
This is probably because the `Release` package `win10-arm-aot` has the Appx clrcompression that is for UWP. When building as Debug you are getting the `win8-arm` package which does not have the Appx clrcompression.dll.

That does help, thanks. Would you mind posting your project.lock.json as well? That should confirm the issue you're seeing is a result of the above.

[2016-12-06 19:28] joelverhagen commented on #14203
Correct, `netcoreapp1.1` and `netstandard1.7` mappings were added in 3.5.0-rc1. preview2 CLI has the older 3.5.0-beta2 ([source](https://github.com/dotnet/cli/blob/33dabee5d86333f473e6757aea87ec7776372d67/src/dotnet/project.json#L36)).

We have not bumped the NuGet version in the `1.0.0-preview2-*` CLI train since preview2 was originally released. Is this something CLI or NuGet team should investi

[2016-12-06 19:30] brphelps commented on #1624
Theme: I can't mock HttpClient without knowing how its internals work, and I also have to rely on its **implementation** to not do anything surprising since I can't completely bypass the internals of the class via mocking. This is basically not following Unit Testing 101 -- getting unrelated dependency code out of your tests =).

You can see the theme present in many different comments:

"To me, H

[2016-12-06 19:39] ericstj commented on #14203
Isn't there a newer build of CLI post preview2 that has the update?

[2016-12-06 19:39] karelz commented on #14234
API review - early comments:
- Do we need operators? (+, -) ... the ulong conversion will loose the type
- Truncation concerns where we return ushort
- What are scenarios for this type? (Do we need to add smart formatting)
  - Which APIs would take them as input?
- Should we have 2 types? Or 2 sets of properties? (see Kilo vs. Kibi above)

[2016-12-06 19:41] mikedn commented on #14230
It's doable with existing overloads but it's a bit verbose:

[code]
It's better with C# 7:
[code]

Yes, I know that. But perhaps there are other alternatives, for example considering changing the order of parameters so the ambiguity is avoided.

I don't care what LINQ does, each API should stand on its own performance wise. In any case, if memory serves me well LINQ builds an array of keys and sor

[2016-12-06 19:43] tipa commented on #13914
So is it expected behavior that I cannot test my app in debug mode?
Here's me [project.lock.json.zip](https://github.com/dotnet/corefx/files/634860/project.lock.json.zip)

[2016-12-06 19:43] jnm2 commented on #14234
Just being devil's advocate. Have you considered fractional bytes, as in 55.1 bytes/sec?

[2016-12-06 19:45] karelz commented on #11465
API review: Approved.

BTW: I have updated @svick's spec on the top most post.

[2016-12-06 19:49] danmosemsft commented on #12915
Same for List<T> and ArrayList.

[2016-12-06 20:01] AlexRadch commented on #14230
I'm not against to add API with Comparison, I tried but it was rejected. But I do not understand why you against keySelector.

How many times does your comparison `Comparison<Person> comparison = (Person x, Person y) => ((IComparable)Tuple.Create(x.FirstName, x.LastName)).CompareTo(Tuple.Create(y.FirstName, y.LastName));` creates tuples? I think about 2 * N * log N times.

[2016-12-06 20:02] pranavkm commented on #14203
Let me start a thread on the CLI since this clearly isn't a packaging issue.

[2016-12-06 20:02] svick commented on #14219
Have you considered using [Cecil](https://github.com/jbevain/cecil)? It does not load assemblies into your AppDomain and I believe its API is easier to use than S.R.Metadata.

[2016-12-06 20:10] ianhays commented on #13914
The non-appx version should still be usable in Debug, it should just fail WACK. I took a look at your lock.json and it looks fine. Can you confirm whether your published app in `Debug` actually has a clrcompression.dll present?

from your project.lock.json for win10-arm:
[code]

from your project.lock.json for win10-arm-aot
[code]

cc: @ericstj

[2016-12-06 20:11] pranavkm commented on #14203
Follow up here - https://github.com/dotnet/cli/issues/4946

[2016-12-06 20:22] AlexRadch commented on #14230
Comparison creates 2 Tuples on each compare. With keySelect you create one tuple for middle element and one for each compare (QuickSort). So selector is faster.

[2016-12-06 20:25] karelz commented on #14170
Updated proposal on the top.

[2016-12-06 20:27] mairaw commented on #2525
Sure. The writer of this topic has started to make similar fixes to the topic so I'm checking with him if it's ready to be published.

/cc @DelfCo

[2016-12-06 20:30] kouvel commented on #4998
Looks like the PR has been merged a while back, closing

[2016-12-06 20:31] mikedn commented on #14230
Your version does the same thing unless you are considering a sort implementation that works like the LINQ one - call the selector for each person, store the tuples in an array and then sort the array.

Also, the C# 7 version doesn't allocate any objects, C# tuples use `ValueTuple` instead of `Tuple`.

[2016-12-06 20:32] karelz commented on #14182
@Priya91 @CIPop has one of you time to pick it up?

[2016-12-06 20:34] karelz commented on #11154
The argument during API review was that, once you add operators (<, >=, etc.), we should add also +, -. That's a slippery slope.

My personal view: I don't understand how I could use comparison <, >= on IntPtrs without being unsafe. The IntPtrs have to be either native, or pinned. In both cases I already crossed the boundary into unsafe land.
Or is there other scenario where comparison makes sense

[2016-12-06 20:47] weshaggard commented on #4998
@kouvel this issue was supposed to track all the feedback from that merged PR that didn't get addressed with the PR.

[2016-12-06 20:49] kouvel commented on #4998
Oh I misread that, reopening

[2016-12-06 20:50] omariom commented on #11154
Why treat IntPtr as a pointer? Isn't it an integer   of pointer size?
Pointers are unsafe. Not integers.

[2016-12-06 20:53] #13677 closed

[2016-12-06 20:57] tannergooding commented on #11154
I agree that the majority case here is likely for unsafe/interop code. However, not all interop code that works with native sized integers involves pointers.

For example, `size_t` is a platform size integer, where arithmetic may be needed, but it is strictly not a pointer.

Imagine that I have written a C# library that wraps some graphics library written in C/C++ (such as DirectX, OpenGL, or Vulc

[2016-12-06 21:00] tannergooding commented on #11154
If adding these operators to `System.IntPtr` is truly out of scope (due to `IntPtr` only being meant to represent pointers/handlers and not sizes/offsets). Then I believe a new proposal should be opened, one which adds a type meant to represent a platform sized integer and not a pointer/handle.

[2016-12-06 21:06] jkotas commented on #11154
These proposal exists in various forms already. https://github.com/dotnet/roslyn/issues/2788, https://github.com/dotnet/coreclr/issues/963 and related issues.

I agree that the lack of platform sized integer is a pain when writing interop or low-level code.

[2016-12-06 21:07] mellinoe commented on #14234
Not that I am against the pattern or anything, but "typed unit structures" are a fairly alien concept to the BCL. There are many such places where this kind of abstraction could be good from a usability perspective, but it's not something we usually do. This also won't mix well with the many call sites in our libraries which use `int`s, `long`s, `IntPtr`s etc. to represent data sizes in byte units

[2016-12-06 21:10] ericstj commented on #13914
That's correct and by design.  I'd also expect a different error code if loader was rejecting the DLL.  The exception had ERROR_MOD_NOT_FOUND.  This points to me to the dll being missing from the appx package as @ianhays mentions.

[2016-12-06 21:23] krwq commented on #14234
I also believe that ByteSize is not a best name as byte size is simply 8 bits. Better name would be IMO DataSize or DataSizeUnitsConverter (or something along these lines).

The Format enum - I might be missing some context - perhaps it is being more widely used and I'm not aware of that but I'm seeing this for the first time and it its intention is not clear to me - I believe it should be somethi

[2016-12-06 21:26] InariTheFox commented on #2394
I agree that WF.Core needs to exist officially. If there was the ability to create a more flexible way of defining the workflows that work for developers, I believe that would be the best approach. I agree that XAML is a hard nut to crack if MS says that they aren't going to port System.XAML, but I really want to see WF.Core in my .NET Core Web API projects.

I think the huge elephant in the room

[2016-12-06 21:40] karelz commented on #14244
cc: @mairaw

[2016-12-06 21:42] mellinoe commented on #14234
I think the whole point is to encode the units in the type. A `DataSize` parameter is just as ambiguous as a `ulong` parameter, at least at a glance.

[2016-12-06 21:50] Jaedson33 opened #14252 "How can I use SignedXML"
I need to use that class to sign a xml, but I don't know how to do it.
Can you help me?

[2016-12-06 21:54] shmao commented on #10580
Closing this. This was fixed by https://github.com/dotnet/corefx/pull/13445

[2016-12-06 21:54] #10580 closed

[2016-12-06 21:54] jkotas commented on #14047
Span does not need it public. It is needed as public for everything else that can take advantage of it, like the optimization in generic collections mentioned at the top of this issue.

This API exits as internal in both CoreCLR and CoreFX already (under different names):

- CoreCLR: `System.Runtime.CompilerServices.JitHelpers.ContainsReferences<T>()`: https://github.com/dotnet/coreclr/blob/f42984

[2016-12-06 21:54] benaadams commented on #14234
Whether to interpret `1 KB` as decimal or binary (e.g. 1000 or 1024)

Turns out long can only support +/- 7 ExBiBytes, updating spec atm

[2016-12-06 21:59] shmao opened #14253 "Add Test Project for Running XmlSerializer Tests in ReflectionOnly Mode"
We added test project running DataContractSerializer tests in ReflectionOnly mode, see https://github.com/dotnet/corefx/issues/10967. We should make the same change for XmlSerializer.

[2016-12-06 22:00] Jaedson33 commented on #4278
Hey, what's the actual situation about that problem?

[2016-12-06 22:22] CIPop commented on #4467
@karelz PTAL

[2016-12-06 22:23] AlexGhiondea commented on #11839
Based on the comments in #11588 this is not something we want to pursue.

[2016-12-06 22:23] #11839 closed

[2016-12-06 22:34] mairaw commented on #2525
I've published the updates done by the writer into production. Let me know if that looks good. Thanks!

[2016-12-06 22:46] safern commented on #8429
Do we want this for netcoreapp only or do we want to expose it in standard? @mellinoe @terrajobst

[2016-12-06 22:48] weshaggard commented on #8429
All new APIs have to start out as netcoreapp specific.

[2016-12-06 22:50] karelz commented on #8429
That's what the 'netfx-port-consider' tracks. When we invest into porting APIs and bug fixes into .NET Framework, we will review all those.

[2016-12-06 22:52] karelz commented on #2525
Wow, thanks for quick turn-around @mairaw! I wish we didn't sit on it for 1+ year on our side ... well, we can just try to do better in future from now on :)

[2016-12-06 22:53] danmosemsft commented on #8429
Putting those two comments together for @safern -- Standard = .NET Standard, currently 2.0, defined by what's already in Desktop, Mono etc so we cannot add new API to it.
After we ship .NET Standard 2.0 we can consider more API for .NET Standard 2.1 or whatever but it would probably have to be ported to Desktop by then to make it reasonable to have in a standard.

[2016-12-06 22:54] benaadams commented on #14234
Updated spec; notably changed to long for byte differences

[2016-12-06 22:57] karelz commented on #4467
Long thread, what's the summary I should look at?
What I am interested:
- What is the symptom?
- What is the root-cause? (problematic pattern)
- How common is the problematic pattern?
- What is the solution?
- How is it applicable to other tests? Can we detect them upfront or do we have to wit for them to fail?

[2016-12-06 22:58] benaadams commented on #14234
@mellinoe should there be a `ShortByteSize` which is an int and a `LongByteSize` which is a long to provide this interoperablity?

`ByteLength` a better name than `ByteSize`?

[2016-12-06 22:58] karelz commented on #4278
@Jaedson33 what do you mean by 'problem'? If you mean when it will be fixed -- see the answers from last week.

[2016-12-06 23:04] jnm2 commented on #14234
`ByteSizeF`?

[2016-12-06 23:06] safern commented on #8429
Ok -- thanks :)