[2019-02-11 00:52] #35220 closed

[2019-02-11 02:10] stephentoub opened #35224 ""X509ChainGetStatusAtIndex returned unexpected error 2" assert in macOS ChainPal.BuildChain"
[code]

@bartonjs, is it possible/likely I somehow caused this with my recent changes?

[2019-02-11 04:58] bartonjs commented on #35224
That means that we were given an error we didn't know how to map.

It looks like your CI job didn't trigger the Helix job, just the Jenkins one; but I can't imagine what would be different to cause it in one and not the other.  On the other hand, it'd be an awfully weird coincidence if it wasn't your change.  (Normally that only happens after upgrading to a new major version)

[2019-02-11 06:15] rocketRobin commented on #34419
Totally agreed, The programs should work for real world problems not standards, just like browsers resolve bad html.

[2019-02-11 07:10] kanjareeyalalji commented on #35146
thanks @SurferJeffAtGoogle it's works for me.

[2019-02-11 07:10] #35146 closed

[2019-02-11 07:36] JamesNK commented on #34912
What will someone do if they want to wait until trailers are available? Read the stream until it is complete?

[2019-02-11 08:45] mariusGundersen commented on #32337
@stephentoub, what is the status of this?

[2019-02-11 09:56] chrizy commented on #35181
Thanks for the feedback, I suspect the chunked is the issue. The problem as I see it is by default no net core application can talk to older asp net 5.2.3 as asp.net doesn't support or understand the data sent, and does not give an clear indication as to the problem. It seems like an odd default position to be in.
Also changing each http request (talking about over 70 apis here) in my net core app

[2019-02-11 11:48] mgravell commented on #30730
@jkotas

not a valid assumption in the first place - `virtual` methods like `ToString()` can still expose mutability on a boxed instance (see below).

That said: I was looking for exactly this earlier today, and the place I *immediately* looked for it was: on `Unsafe`, and I was delighted to find it here in github (but not on non-alpha nuget yet, :cry: ). So from that perspective - it met precisel

[2019-02-11 11:59] jkotas commented on #30730
@mgravell What do you think about changing the `Unsafe.Unbox` signature as proposed in https://github.com/dotnet/corefx/issues/30730 ?

[2019-02-11 12:04] jkotas commented on #34258
@mgravell has a good point in https://github.com/dotnet/corefx/issues/30730#issuecomment-462303423 that it is perfectly valid fox a boxed value type to be mutable.

[2019-02-11 12:23] MarcoRossignoli commented on #35219
@jkotas fast question if I want to dump asm for some method on System.Private.CoreLib Dic.Add for instance(mscorlib) do I follow [Dumping native images](https://github.com/dotnet/coreclr/blob/2d2caa80996562936b146fbf81ab228a21b1f7b7/Documentation/building/viewing-jit-dumps.md#dumping-native-images)?

[2019-02-11 12:30] SCTIT opened #35375 "socket.Send() throw a socket exception ErrorCode:95 on linux"
I'm setting up a linux server,but my application always throw an exception "System.Net.Sockets.SocketException(95): Operation not supported.The same code can run on Windows Server perfectly.
Here is the part of my code :
[code]

[2019-02-11 12:39] sharwell commented on #34258
How is this different from `StrongBox<T>`?

[2019-02-11 12:41] mgravell commented on #30730
@jkotas  eesh, I can see both sides of that; my suggestion:

[code]
so the most obvious is the safer, with the other one calling out what you're exposing yourself to

[2019-02-11 12:43] adamsitnik commented on #35219
@MarcoRossignoli I think that in this particular case your benchmark is most probably unstable.

[code]

You are using `[IterationSetup]` here which means: before every benchmark iteration, clean the dictionary. The problem is that the implicit behaviour here is also to run the benchmark once per iteration, if `IterationSetup/Cleanup` was used (`InvocationCount=1`)

This is translated to:

[code]

[2019-02-11 13:01] MarcoRossignoli commented on #35219
@adamsitnik I saw.
My attempt was test only Add load, because current tests(AddDefaultSize) include ctor and Add, my current update tries to remove [null check](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Collections/Generic/Dictionary.cs#L477) moving some initialization on ctor. So I'm not sure what I'm measuring, because I get worste results without nul

[2019-02-11 13:07] QHQuach commented on #27971
We have a ASP .NET Core 1.1 project with .NET Framework 4.5.2 as the target. Upon upgrading it to .NET Framework 4.6.2 (in preparing for consuming a .NET Framework 4.6.2 nuget), we run into this exception. From the discussion, does it mean we also have to upgrade to .NET Core 2.1 even though we are on 1.1?

[2019-02-11 13:10] EgorBo commented on #35222
According to sources it follows https://docs.microsoft.com/en-us/cpp/cpp/parsing-cpp-command-line-arguments?view=vs-2017 rules

[2019-02-11 13:15] benaadams commented on #35219
Can use the unconditional setter rather than `.Add` and not use `.Clear` e.g.
[code]

[2019-02-11 13:17] lcsondes opened #35229 "Request Thread.Abort to be marked [Obsolete]"
We're in the middle of porting a legacy Framework project to Core, and `Thread.Abort()` was a sore point. It compiles without a single warning, and at runtime it just throws a PNSE. Given the legacy status of our code cleanups tend to be wrapped in `catch(Exception)` so this went unnoticed until we saw the memory leaks and traced them back. That one is entirely on us, of course.

If `Abort` doesn'

[2019-02-11 13:21] BoasE opened #35230 "Extrem Slow Http Client"
In a netcore 2.2 apiproject I'm querying a api.

The responses are horrible slow.

Most of the requests take  about 20 -30 seconds.

When I use PostMan from same machine the api always respons within 50 ms.

Code looks like this:

[code]

When I put the samecode in a ConsoleLibrary it has same performance as it has in postman.
Only when the code runs inside a Api Controller it gets horrible slow.

[2019-02-11 13:24] benaadams commented on #35229
/cc @terrajobst

[2019-02-11 13:25] khellang commented on #35230
Is this on the first request or do you have to do a couple of requests before you can see that behavior?

[2019-02-11 13:55] TylerBrinkley commented on #35173
Thanks, yeah I saw that but unfortunately it's not consumable externally. I like the flexibility afforded by #31868 but if that is not accepted I think where reasonable this issue should be accepted.

[2019-02-11 13:58] adamsitnik commented on #35219
I would not worry about the `ctor` because it's a very fast operation and moreover if your base and diff contains ctor the benchmark should show you only the difference of `Add` (`(ctor + AddOld) - (ctor + AddNew) = AddOld - AddNew`)

The other thing worth trying isto increase the elements count:

https://github.com/dotnet/performance/blob/98c4fd1518a43fea966f8adfa3518a85de39038c/src/benchmarks/mi

[2019-02-11 13:58] BoasE commented on #35230
All calls starting from the first.
PS For testing in my example i also tried to make HttpClient and them make multiple calls. Each call is slow

like this
[code]

[2019-02-11 14:02] liorg2 commented on #23426
+1

[2019-02-11 14:12] khellang commented on #35230
I think you need to provide a few more details. There's not really much to work off here.

Are these internet URLs? Or are they on your local network?
Have you tested DNS lookups outside .NET? Could it be related to https://github.com/dotnet/corefx/issues/33037? Maybe try to measure calls to `Dns.GetHostAddressesAsync` for the different URLs?
What OS are you running?

[2019-02-11 14:17] MarcoRossignoli commented on #35219
I would agree, but I after strange results I'm not sure that new code added to ctor is so "light", so to be sure I want to isolate Add code.
BTW I'm investigating!

[2019-02-11 14:22] BoasE commented on #35230
I'm running windows.

The Target URL is in internet in the Google Kubernetes cloud behind cloudflare.
First I assumed it may be related to cloudflare but as my requests form postman are going through  i don't believe this anymore.

Dns.GetHostAddressesAsync works extremly fast and returns same results as nslookup in commandline.

[2019-02-11 14:40] stephentoub commented on #32337
Nothing has changed. It's still marked as api-suggestion, and the design was still being debated.

[2019-02-11 14:43] stephentoub commented on #34912
If they've used ResponseHeadersRead rather than ResponseContentRead, yes, e.g. await stream.CopyToAsync(Stream.Null).

[2019-02-11 14:45] stephentoub commented on #30730
If we were to make it return readonly ref, the mutable version is achievable by using Unsafe.AsRef to cast away the readonly-ness.

FWIW, I still think it's fine to just return ref.

[2019-02-11 14:47] stephentoub commented on #35224
I see the assert non-deterministically. Is it possible some patch for applied to some machines but not all? If my changes somehow caused this, I'd have expected failures to be deterministic.

[2019-02-11 14:57] avirabinovich commented on #23426
+1

[2019-02-11 15:12] RUSshy commented on #13329
I read the proposal and i saw this:

![image](https://user-images.githubusercontent.com/18348637/52572242-a80c1380-2e17-11e9-9345-02ee2bd0b8ce.png)

That's not what i had in mind, this sounds like a slow process, basically just zipping everything..
I though all the IL code would be merged into a single executable? or maybe i missed something in the proposal ?

[2019-02-11 15:59] davidsh commented on #27971
If your issue is the same, then yes, you need to upgrade to .NET Core 2.1 (or .NET Core 2.2).

If this doesn't solve your problem, please open a new issue.

[2019-02-11 16:01] davidsh commented on #35181
The root cause here still hasn't been determined but based on your scenario the problem is in ASP.NET and not the client-side HTTP stack (HttpClient).

I suggest you follow up with the ASP.NET core team on this.  @Tratcher Can you comment on this?

[2019-02-11 16:15] jkotas commented on #30730
I think so as well. The problem with using `ref readonly` or `in` for low-level code is that it is easy to create a copy by mistake. It is why the existing `Unsafe` does not use `ref readonly` anywhere, but in a single method.

[2019-02-11 16:20] jkotas commented on #35219
We have tiered JIT on by default, and we focus on throughput performance of code produced by the tiered JIT. You should dump the code produced by the tiered JIT, not the native image.

[2019-02-11 16:20] davidsh commented on #35230
Only when the code runs inside a Api Controller it gets horrible slow.

This suggests the issue is related to ASP.NET and not the client-side HTTP stack (HttpClient).  It might be best to follow up with the ASP.NET team.  This issue should potentially be moved to that repo. @Tratcher Can you comment on this?

[2019-02-11 16:23] Tratcher commented on #35181
@dougbu any thoughts on why MVC 5.2.3 would care about the difference between chunked and content-length? It shouldn't.

@davidsh this can be moved to https://github.com/aspnet/AspNetWebStack.

[2019-02-11 16:26] davidsh commented on #35181
@Tratcher I know there is a tool that does that.  But I don't have it installed.  Can you move this please and also let me know where the tool is?

[2019-02-11 16:34] Tratcher commented on #35230
@davidsh there's no reason using HttpClient in an ApiController should have any effect on its performance aside from the common issue of creating many short lived clients. WebApi cannot change any HttpClient defaults.

@BoasE is it any better if you make HttpClient a static member?

Are you testing this under load or just with a single request from a browser or similar?

My other guess would be an

[2019-02-11 16:36] AArnott opened #35231 "BufferExtensions.Write hangs in a spinning wait when IBufferWriter<T>.GetSpan returns empty span"
The `BufferExtensions.Write<T>(this IBufferWriter<T>, ReadOnlySpan<T>)` extension method is vulnerable to enter a spinning loop that never exits when the `IBufferWriter<T>.GetSpan` method returns a span of empty length.

While returning a 0 length span is a violation of the interface contract, I think corefx shouldn't enter a spinning loop with no exit in such a case. Instead, a 0 length span shou

[2019-02-11 16:36] Tratcher commented on #35181
This issue was moved to aspnet/AspNetWebStack#232

[2019-02-11 16:36] #35181 closed

[2019-02-11 16:36] Tratcher commented on #35181
We use Eilon's https://hubbup.io/Mover tool.

[2019-02-11 16:37] AArnott commented on #34259
I'm closing (without a fix) based on our discussion.

[2019-02-11 16:37] #34259 closed

[2019-02-11 17:05] MarcoRossignoli commented on #35219
thank's @jkotas first time with this tools for me a pair of question:
1) Is it correct enable tiered compilation with `set COMPlus_TieredCompilation_Test_OptimizeTier0=1` on dump I see
[code]
I think it's ok
2) I cannot filter correct method for instance (`set COMPlus_JitDisasm=Dump`)
[code]
I cannot dump method Dictionary`2:TryInsert(ref,ref,ubyte):bool:this but only Dump

[2019-02-11 17:07] benaadams commented on #35219
[code]

[2019-02-11 17:08] MarcoRossignoli commented on #35219
no luck

[2019-02-11 17:14] benaadams commented on #35219
Might be being produced at crossgen time; so switch off ReadyToRun to force jitting of everything
[code]

[2019-02-11 17:36] RyotaMurohoshi commented on #35054
Hi!

@cston
@333fred

Could you put `api-suggestion` label and `area-System.Linq` label on this issue?

[2019-02-11 17:49] BoasE commented on #35230
With a single request from local developer machine. making itstatic doesn't change anything

[2019-02-11 17:56] GrabYourPitchforks commented on #30730
We'd still have the problem that the code snippet presented very early on in this issue - ostensibly the most common use case of the Unbox API - is dangerous. There's nothing stopping the JIT from returning a singleton boxed default(T) for readonly types T, and the usage demonstrated here could cause runtime instability.

[2019-02-11 17:59] RyotaMurohoshi commented on #35054
@cston Thank you!

[2019-02-11 18:09] GrabYourPitchforks commented on #34258
Yes, boxed value types can be mutable. But I think this is a very rare occurrence, and the use cases we have for the Unbox API today work with readonly types like int. But per the discussion here and elsewhere, the runtime has always assumed those to be immutable.

It's a difficult situation to be in. On one hand it's an Unsafe API, and we should allow devs to violate type safety if they really wa

[2019-02-11 18:09] safern opened #35233 "System.Security.Cryptography.X509Certificates.Tests crashing in OSX10.13"
System.Security.Cryptography.X509Certificates.Tests are crashing in some PRs. These seems to not been happening consistently in all builds.

[code]

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F35227~2Fmerge/test~2Ffunctional~2Fcli~2F/20190211.2/workItem/System.Security.Cryptography.X509Certificates.Tests/wilogs

cc: @stephentoub @bartonjs @danmosemsft

[2019-02-11 18:13] MarcoRossignoli commented on #35219
thank's @benaadams seems to work!

[2019-02-11 18:15] stephentoub commented on #35233
Dup of https://github.com/dotnet/corefx/issues/35224

[2019-02-11 18:20] vcsjones commented on #35224
I can't repro on a fully up-to-date macOS in 1,000 attempts.. I'm several days behind on commits, will try ToT next.

Chain building can be network dependent (AIA fetching for example). Is there any evidence that the CI box has any kind of connectivity changes?

[2019-02-11 18:22] stephentoub commented on #35224
Several changes that touched X509Certificates got merged in the last few days... the concern is that they somehow broke it.  If you could try on the latest from master, that'd be excellent.  What's odd is that the assert, which you'd expect to be deterministic, isn't happening consistently in CI, which might also hint at differences between the boxes, or network connectivity issues, as you say...

[2019-02-11 18:30] jkotas commented on #30730
Ok, so can we just update the code snipped at the top to demonstrate one of the valid perfectly safe uses of this API and it will be good?

[2019-02-11 18:34] zarochi commented on #31448
For what it's worth; I have the exact same issue. My ETW logging library is shared between a core app and a  .Net 4.6.1 app. It works in the latter, but not the former. Perfview has only been reporting the error my app is hitting and trying to log into the event log; not the actual attempt to log to the event log.

I attached the only other exception trace that was generated that wasn't the "canno

[2019-02-11 18:35] #35233 closed

[2019-02-11 18:35] safern commented on #35233
My search for System.Security.Cryptography.X509Certificates.Tests didn't find that issue 🤣

[2019-02-11 19:10] #34949 closed

[2019-02-11 19:19] rahuldutta90 commented on #34325
@karelz @davidsh any updates regarding this?

[2019-02-11 19:38] vcsjones commented on #35224
I gave it several runs and I could not get any issues to pop up. With internet, without internet, etc. I see that the property that is failing is being used in a `ConditionalFact` so it was killing the whole test run. I _did_ make sure the property was being hit, but it never produced this error.

I see that CI is set up for macOS 10.13, but not 10.14. I don't have a 10.14 box handy on me any more

[2019-02-11 19:42] bartonjs commented on #35224
I don't know of a way.

I ran once on 10.13.5, and currently am letting 10.13.6 install (which may or may not be the current patch).

[2019-02-11 19:42] davidsh opened #35239 "HTTP2: SocketsHttpHandler setting Ssl.AllowRenegotiation=false incorrectly"
Found during PR #35240.

SocketsHttpHandler (as part of always trying HTTP/2 first) is always setting `SslStream.AllowRenegotiation` to false when first attempting to connect via HTTP/2. This is fine
if the connection is truly HTTP/2 since HTTP/2 doesn't support TLS renegotiation. However, if the
remote endpoint doesn't support HTTP/2 and thus connects with HTTP/1.1, then the SslStream should
not

[2019-02-11 19:55] davidsh commented on #35239
@dotnet/ncl

[2019-02-11 20:02] stephentoub commented on #35224
@bartonjs, I reverted my changes in https://github.com/dotnet/corefx/pull/35238 and it still asserted.

[2019-02-11 20:03] bartonjs commented on #35224
Since the process is about to terminate anyways with an unhandled assert, I'd be okay changing the condition to `#if DEBUGGING_UNKNOWN_VALUE || DEBUG`, or whatever the appropriate syntax is (since my mac is still updating I don't have a clean place to make the PR right now)

[2019-02-11 20:14] vcsjones commented on #35224
I made a PR with `|| DEBUG` in it to see what it does in CI.

My only **guess** is that it has something to do with that Microsoft certificate being issued from a Symantec Root and Apple is continuing to roll out their distrust of those roots, perhaps with a new status.

[2019-02-11 20:24] Marusyk commented on #35007
I'm trying to build solution System.Net.Http.sln in VS2017 and got that errors for test projects.
1. build the whole repo first (build.cmd)
2. open System.Net.Http.sln in VS2017
3. Build
4. Errors

[2019-02-11 20:30] davidsh commented on #35007
While Visual Studio support .NET Core generally speaking, building CoreFx test projects is not supported right now in Visual Studio.  You should use the command line only.

[2019-02-11 20:31] WouterTinus opened #35244 "Add ALPN support to HttpListener"
Support for ALPN was added to System.Net.Security.SslStream in #23177. This is great for applications that can claim a port for themselves using a TcpListener, but for my application I'm looking to use it in combination with the port sharing mechanism provided by a HttpListener.

The use case is to implement ACME TLS-ALPN-01 validation as defined by the IETF in https://tools.ietf.org/html/draft-ie

[2019-02-11 20:35] davidsh commented on #35244
There are two implementations of HttpListener in CoreFx.  The Windows one is based on http.sys (same underlying technology that .NET Framework HttpListener uses).  The Linux one is based on a separate implementation written directly using System.Net.Sockets (ported from Mono implementation).

So, implementing this feature would requires changes to both implementations.

[2019-02-11 20:55] davidsh commented on #35007
Here is code for a test you can use to support a PR you might submit for this fix.  This test was the one used for a similar fix in .NET Framework that I mentioned above.

You'll need to change some of the code below to compile and work in CoreFx.  And the "FakeProxyServer" you can replace with the one with use already in our tests in CoreFx: System.Net.Http/tests/FunctionalTests/LoopbackGetReques

[2019-02-11 21:06] #30894 closed

[2019-02-11 21:08] Marusyk commented on #35007
Ok, thanks a lot.
I meant that I made changes in System.Net.Http, build it, and want to use this new dll in Console app to test it. But my console still use System.Net.Http.dll from SDK but not my, even when I add System.Net.Http.dll as a reference.

[2019-02-11 21:11] ViktorHofer commented on #35050
The right command is `/t:Test` and not `/p:Test=true`. I recommend to use `/t:RebuildAndTest` which also cleans the test execution directory so that you don't have to pass forceruntests into.

[2019-02-11 21:16] davidsh commented on #35007
That isn't a recommend way of testing changes to CoreFx libraries.  You have to do various manual hacks to copy a compiled System.Net.Http.dll binary from the CoreFx build tree and overwrite some shared install of .NET Core libraries.  You can try it but it complicated and not recommended as a best-practice for a 'dev innerlop' pattern. And it won't be the way you do it when you submit a PR which

[2019-02-11 21:16] GrabYourPitchforks commented on #30730
Then back to API review for "do we consider this pattern common enough that we want a first-class API for it?" because the original API review was based on a potentially undesirable scenario. But yeah. :)

[2019-02-11 21:16] rmkerr commented on #35007
In order to make sure we don't regress the code later, we usually add tests to our functional or unit tests. Generally if we're going to take a change, it will need to have tests in one of those locations.

 If you want to do some manual testing with your own console app though, you can check out the dogfooding instructions [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-

[2019-02-11 21:25] ViktorHofer commented on #33392
Why can't you set a breakpoint in the unit test in corefx and step into the CoreLib code you are interested in? Debugging with VS 2019 >= Preview 2 should work fine again.

[2019-02-11 21:30] davidsh commented on #34325
I see that you posted additional code for a "mock" server that you use with the client-side HttpClient repro to demonstrate the problem on .NET Framework.  However, you didn't post the complete "mock" server code.

Since you have a mock server now, it would be helpful if you could post a complete repro (Visual Studio solution) including both server and client code that we can use and reproduce the

[2019-02-11 21:33] vcsjones commented on #35224
@bartonjs Failure output from CI:

[2019-02-11 21:41] MarcoRossignoli commented on #33392
@ViktorHofer you mean compile coreclr in debug compile corefx with local coreclr in debug and breakpoint should work?(tried in past but with no luck)

[2019-02-11 21:43] ViktorHofer commented on #34926
cc @ericstj for the `microsoft.dotnet.build.tasks.configuration` error.

[2019-02-11 21:45] rahuldutta90 commented on #34325
@davidsh I have published my httpclient code in public and I also have a unittest to repro this. Here is the link: https://github.com/Azure/azure-data-lake-store-net/blob/7433a3462003b78cc09dd683ad13c96797440a3b/AdlsDotNetSDKUnitTest/CoreUnitTest.cs#L291

You can checkout our code: https://github.com/Azure/azure-data-lake-store-net/blob/preview-alpha and run the test above. Currently my unittest i

[2019-02-11 21:51] vcsjones commented on #35224
I think the appropriate thing here is to ignore it similar to as we do here, yes?

https://github.com/dotnet/corefx/blob/fb0814a4b60b6d888f4902c8cd302d328881fbcb/src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c#L189-L192

I don't think there is a way to expose this to X509Chain yet.

I would think then that this should be rolled into 2.2 and 2.1 LTS as well, since chain bu

[2019-02-11 21:56] ViktorHofer commented on #33392
It shouldn't really matter if debug or release but in debug you will get more accurate debugging results.

[2019-02-11 22:08] bartonjs commented on #35224
Yeah, assuming it's Certificate Transparency, none of our flags map to that, so sending that code to the bit bucket is the right answer.

Yeah, well, into 2.1, then it'll auto-flow to 2.2.

Wanna do the honors?

[2019-02-11 22:10] vcsjones commented on #35224
Sure. Hang tight.

[2019-02-11 22:50] MrM40 commented on #35222
Does those rules apply here? I'm giving argument to the bash shell  command?
The way I see it,  I just want dotnet to parse the argument "untouched" to the shell. But somehow it must corrupt either the single or double quotes.

Maybe dotnet is actually parsing on:
`
 /bin/bash -c \'ls -l /etc/ > /tmp/list.txt\'
`
(add backslash to the single-quotes)
If I execute that command in the shell I get the

[2019-02-11 23:02] jakobbotsch commented on #30730
ECMA-335 says:

whether the value can be mutated. For value classes that expose no public fields or methods that
update the value in place, the pointer is read-only (hence the name of the prefix). In particular,
the classes representing primitive types (such as  System.Int32 ) do not expose mutators and thus
are read-only.

So the "controlled-mutability" can be thought of as preserving mutability

[2019-02-11 23:04] danmosemsft commented on #26845
@pgovind is now looking at this.

[2019-02-11 23:08] stephentoub commented on #35138
From what I've seen, HTTP/2 for the scenarios we target doesn't add a whole lot of value, and adds overheads (e.g. synchronization costs to multiplex onto the same connection), which makes me question a decision defaulting to HTTP/2.  In fact, I question our previous decision to change the default HttpRequestMessage version to be 2.0.

Here's my suggestion:
- We enable SocketsHttpHandler to respec

[2019-02-11 23:08] #34582 closed

[2019-02-11 23:13] davidsh commented on #35138
Overall I like your plan above.  However, changing the default HttpRequestMessage.Version property to be (1,1) again will affect app-compat (source breaking not binary breaking) especially for UWP(UAP) builds.  Perhaps not a big deal but we actually changed the default HttpRequestMessage.Version property to be (2,0) for UAP only long before we changed it for netcoreapp (because the WinRT version s

[2019-02-11 23:21] bgrainger commented on #7810
I spent part of last week adding an [Azure Pipeline](https://dev.azure.com/mysqlnet/AdoNetApiTest/_build?definitionId=1) to run the tests I have so far in [AdoNetApiTest](https://github.com/mysql-net/AdoNetApiTest) against MySQL, PostgreSQL, SQLite, and SQL Server in Docker containers. The latest results then get automatically published [here](https://mysql-net.github.io/AdoNetResults/).

This is

[2019-02-11 23:42] danmosemsft commented on #33392
Debug coreclr (which means debug corelib and coreclr.dll) is dog slow of course. So I'd try release first 😼

[2019-02-12 00:03] dadude999 commented on #20362
Any updates on prioritization here? Scenario 2 as described by @Diego-Perez-Botero is pretty difficult to handle without throwing in extra flags to indicate whether the client already got a close request from the server:

[2019-02-12 00:04] roji commented on #7810
This is looking very, very nice... Thanks for doing it @bgrainger!

Long term, I still believe that these compliance tests should be part of each provider's solution rather than centralized - but it's definitely great to have something today until that happens.

/cc @YohDeadfall @austindrenski - time permitting, we should try to fix some of these, at least the low-hanging fruit. No need for regres

[2019-02-12 00:15] ericstj commented on #34926
This appears to be a project that has imported the targets and not props from MS.DN.B.T.Configuration.

Is restore happening concurrently?  I could imagine that one build proceeds as if restore has completed but the package extraction was still happening.  We've seen issues with concurrent NuGet restore before that could cause this sort of thing.

[2019-02-12 00:18] steveharter commented on #34372
@pranavkm

I see three way to add global settings:
1) Duplicate the properties from JsonPropertyAttribute (and perhaps others) to `JsonConverterOptions`.
2) Support a `null` for the first parameter in `AddAttribute()` to represent "all" assemblies. Somewhat unconventional.
3) Add a property to `JsonConverterOptions` to return a `JsonPropertyAttribute`. Somewhat unconventional.

Basically options 2

[2019-02-12 00:19] swaroop-sridhar commented on #13329
@RUSshy  Are you asking about native-compiling all the managed code and linking everything together to get one executable (as in CoreRT)? This is not a goal for the current single-file work in .Net Core.

However, there are proposed solutions for reducing disk extraction and startup time (ex: load certain file types [directly from the bundle](https://github.com/dotnet/designs/pull/52/files#diff-28

[2019-02-12 00:24] davidsh commented on #20362
@karelz

[2019-02-12 00:27] rynowak commented on #34372
Is there really a case to be made that configuring a setting per-assembly is more common that configuring a setting globally?

Put another way, I think there's a really strong case to be made for configuring a setting per-type, per-property and globally, and a weak case to be made for configuring settings per-assembly. Do you have use-cases in mind for that?

[2019-02-12 00:35] steveharter commented on #34372
@rynowak

Here you go:
1) My organization requires a couple hundred POCO Types to be used internally.
2) Various developers add POCO Types over time.
3) Various teams use these POCO Types in different settings so they want to use design-time attributes for all possible settings to avoid mismatches in applying the same run-time settings.
4) The organization requires all POCO types to default to cam

[2019-02-12 00:38] rynowak commented on #34372
That seems like you'd just apply the defaults globally though not per-assembly...

[2019-02-12 00:38] steveharter commented on #34372
@BrennanConroy

Is the feature you are asking for controlling the deserialization order of properties? And secondary I suppose specify the serialization order although that's not important.

[2019-02-12 00:41] #35224 closed

[2019-02-12 00:43] steveharter commented on #34372
Perhaps if you don't use types from other assemblies that have their own contract\schema.

However, currently there is not a way to specify design-time attributes globally (across assemblies). You could use the run-time AddAttribute(null, myattribute) however if we decide that will work.

Do you have something else in mind (config file support maybe)?

[2019-02-12 00:59] BrennanConroy commented on #34372
@steveharter We need a way of storing a json array for later use in the deserializer.

For example, the following two json payloads are equivalent and the target value is used to determine what types are in the arguments array, however, when using the forward reading only `Utf8JsonReader` we don't know the target until later, so we need to store the array until we have the target.
[code]

With New

[2019-02-12 01:04] bgrainger commented on #7810
Completely agree.

This is not intended to replace the use of a common test suite by individual providers; in fact, it's expected that providers will customise the tests (e.g., [here in MySqlConnector](https://github.com/mysql-net/MySqlConnector/blob/14ac31ed2200ba67378ffe9e766c08ae6dbce1d0/tests/Conformance.Tests/ParameterTests.cs#L13)) to override the default results where they don't make sense,

[2019-02-12 02:00] ahsonkhan opened #35252 "Should BytesConsumed and SequencePosition be part of the JsonReaderState?"
**Current API surface:**
[code]

See https://github.com/dotnet/corefx/pull/35245#discussion_r255734973

We could reduce the size of `JsonReaderState` if we remove `BytesConsumed` and `SequencePosition` from it. These properties are not retained when passed to a new instance of `Utf8JsonReader` and hence are not needed by the reader to continue partial reads.

The main benefit of keeping them on th

[2019-02-12 02:05] davidsh commented on #34325
The link is returning 404 Not Found.

I was also hoping you would submit a standalone repro without any of the Azure SDK code. For example, a standalone Visual Studio solution containing two projects (a console client application using HttpClient and the mock server).  Otherwise, it isn't clear what the root cause actually is other than anecdotal evidence of a difference in behavior between .NET F

[2019-02-12 02:12] Eilon commented on #31322
See also https://github.com/aspnet/AspNetCore/issues/7466 for another report of what appears to be the same issue.

[2019-02-12 02:19] VidyaKukke commented on #31322
We would love to understand root cause here and see how it can be avoided. Looks like the thread sort of died without any resolution in Sept 2018. Can someone in corefx please chime in ?

[2019-02-12 02:40] ahsonkhan opened #35254 "Passing default SequencePosition to ReadOnlySequence.Slice shouldn't throw NullRef"
[code]
[code]

cc @davidfowl, @pakrym

[2019-02-12 02:56] mconnew commented on #30760
Disabling 100-Continue does avoid the issue but that's not something a developer can do very easily. When 100-Continue support was added to HttpClient, I modified WCF to match the behavior we have on .NET Framework. We don't have any API to change that behavior as on .NET Framework you can do this using ServicePointManager so WCF doesn't have any API's exposed to modify this behavior.
This is stil

[2019-02-12 03:13] TPucke commented on #30760
I'm a customer, new to this issue.  I updated my application dependencies (core 2.2 and wcf 4.5.3) today and promptly crashed my application.  I'm here to vote for prioritization.  Any thoughts on a timeline to fix?  Thanks.

[2019-02-12 03:27] rynowak commented on #34372
Right, I'm questioning why we need the ability to specify settings per-assembly. Existing JSON serializers don't have it and I've never see a user ask for it.

Specifying settings for the application as a whole (regardless of what assembly the data types live in) is exceedingly common for a web project.

[2019-02-12 03:28] danmosemsft commented on #34855
@tmds do you have an idea offhand why `sudo mount --bind ...` would return 32? seemingly sudo succeeded.

[2019-02-12 03:32] danmosemsft commented on #28790
This is basically failing all the time now. @wfurt any chance you could either disable or take a shot at fixing it? 🐱

https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190206.6/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_SslProtoco

[2019-02-12 03:33] danmosemsft commented on #28790
here's the message too
[code]

[2019-02-12 03:38] stephentoub commented on #28790
When did it start failing?

[2019-02-12 03:39] stephentoub commented on #28790
Oops, nevermind.

[2019-02-12 03:53] #34613 closed

[2019-02-12 03:53] #34413 closed

[2019-02-12 04:09] danmosemsft commented on #31322
@jorive is this your area? I thought it might be https://github.com/dotnet/corefx/issues/32606 (because I saw nullable) but I guess not.

[2019-02-12 04:11] danmosemsft commented on #28790
Oh I see @baulig has https://github.com/dotnet/corefx/pull/35250 ... I guess that will fix?

[2019-02-12 05:00] danmosemsft commented on #35159
File is identical to arcade one (except a newline)
github detects licenses with `licensee` which looks at more than just the file content.
Need to experiment with it .. https://github.com/benbalter/licensee/blob/master/docs/command-line-usage.md

[2019-02-12 05:06] danmosemsft commented on #35159
Ones that are detected OK:
[code]
[code]

[2019-02-12 05:06] danmosemsft commented on #35159
That are not:
[code]
[code]

[2019-02-12 05:15] danmosemsft commented on #35159
My guess is that it's the PATENTS.TXT, which it's mis-recognizing (with low confidence) as containing the MS-PL, and Github puts all this together and decides it's not clearly MIT.

`licensee` finds `PATENTS.TXT` with this regex
https://github.com/benbalter/licensee/blob/238ee63394cab172641f6df11fe6eff0f42537da/lib/licensee/project_files/license_file.rb#L41

One "fix" would be to rename PATENTS.TX

[2019-02-12 05:16] #35159 closed

[2019-02-12 07:38] BoasE commented on #35230
Furthermore when I run it on a other machine with same windows version i don't have this hangs. So I assume it is related to local configurations not adopted in the webapi

[2019-02-12 07:52] khellang commented on #35230
At this point, it would be very hard for anyone else to debug this, no? 😄

[2019-02-12 07:53] BoasE commented on #35230
Yes it seems like this. I try to isolate it by adotping the settinsg from one pc to another. I assume it has to do with some non default proxys.

[2019-02-12 08:29] MarcoRossignoli commented on #33392
I saw, for the moment I moved out some code for fast debugging.

[2019-02-12 08:47] #22527 closed

[2019-02-12 09:13] jakubsuchybio commented on #11668
This is a real pain. We use full .NET Framework and we have some really large zip files where we need to update small files inside, but because of this loading into memory, we are getting OutOfMemoryException, because we have 32b application and we cannot change into 64bit, because of dependent driver DLLs that are in 32b.

[2019-02-12 09:27] tmds opened #35257 "api suggestion: Process.Kill shouldn't throw when the process has exited"
Currently, `Process.Kill` throws when the process has already exited.

Perhaps the method should noop if the process has already exited.

It avoids a try-catch to check (and ignore) the 'has already terminated' case.
And it avoids unexpected exceptions if the user forgot to add the try-catch.

[2019-02-12 09:45] roji commented on #7810
Great.

By the way, your project could still pull in the compliance suite from the various providers via git submodules and continue to display the same comparative table (which is really useful). As more providers add these, the project could switch to using them one by one.

[2019-02-12 10:13] GSPP commented on #30730
Is that true? I thought the `box` instruction guarantees returning a new object.

[2019-02-12 10:20] mgravell commented on #30730
the runtime sometimes cheats... for example, `new string(...)` (`newobj` in IL) can return an interned singleton reference, too... (length zero, for example).

[2019-02-12 10:56] #31902 closed

[2019-02-12 11:16] JonHanna commented on #16287
I'm on a long-term hiatus from contributing, so I won't be experimenting further in the near future.

[2019-02-12 11:28] vermorel commented on #22790
Yes, arrays are our _only_ use case. Actually, we would not even need _all_ arrays, gaining control on `byte[]` arrays only would already be sufficient, thanks to `MemoryMarshal.Cast`.

[2019-02-12 11:53] geoffkizer commented on #23426
I think we should just add a LocalIPEndPoint property to SocketsHttpHandler. This is straightforward to implement.

[2019-02-12 13:11] danmosemsft commented on #33714
This was a consciously made breaking change. We can leave this open for feedback I guess. In theory we could look for something that looks like an http(s) URL in the case where start fails.

[2019-02-12 13:18] onovotny commented on #33714
@danmosemsft I believe there should be a consolidated list of breaking changes or known behavioral differences that's targeted towards migration scenarios. Another example is the overload of SignedCms.ComputeSignature(), where .NET Framework ignored the silent context switch, but it's fixed on Core.

Basically, a guide/wiki/something that I can point people to for reviewing common gotchas.

[2019-02-12 13:26] danmosemsft commented on #35257
I agree, it seems unlikely that it is useful to fail in this case. Although, Directory.Delete will throw if the path does not exist, perhaps that is useful to flag a typo in the path (?)

@bgribaudo?

[2019-02-12 13:29] danmosemsft commented on #35180
I wonder how common this is encountered.

[2019-02-12 13:31] danmosemsft commented on #33714
I thought there was one actually. @karelz?

[2019-02-12 13:31] danmosemsft commented on #33714
Or @ericstj msybe knows where it is

[2019-02-12 13:49] pentp commented on #31902
These are not __midpoint__ rounding modes but __directed__ rounding modes.
Naming them as `Truncate/Floor/Ceiling` would be more consistent with the existing `Math` class API names.

[2019-02-12 14:14] xhochy commented on #26845
As a short heads-up: The Arrow C#  implementation is getting some drive in the last days again: https://github.com/apache/arrow/tree/master/csharp It would be nice to have some further eyes and contributors on this as the core Arrow developers are all (yet) no .NET experts.

[2019-02-12 14:20] eerhardt commented on #26845
@xhochy - I've been looking at the Arrow C# implementation for the past couple of days, and I have a few proposed changes that I'm working on - mostly performance enhancements.

https://issues.apache.org/jira/browse/ARROW-4502
https://issues.apache.org/jira/browse/ARROW-4503

I hope to find more places I can help out there.

[2019-02-12 14:31] tmds commented on #35257
`Kill` is an instance method, and an instance can be obtained when the process exists.

[2019-02-12 15:13] aalmada commented on #35173
@TylerBrinkley I'm working on an experimental project that does exactly that. Benchmarks show that it's well worth it. Please check it out at https://github.com/NetFabric/NetFabric.Hyperlinq
Feedback would be much appreciated!

[2019-02-12 15:25] tannergooding commented on #31902
This was discussed in the API review and it was determined that we should still expose them on `MidpointRoundingMode` rather than introducing a new type (such as `DirectedRoundingMode`).

CC. @terrajobst who may have the notes from that meeting?

[2019-02-12 15:29] tannergooding commented on #31902
I'm not opposed to having separate overloads that take a `DirectedRoundingMode` enum, but we would need to take this back through API review and update the corresponding PRs.

[2019-02-12 15:42] bgrainger commented on #7810
I considered that, but wasn't sure if (when using a submodule) I could still force the latest version of AdoNet.Specification.Tests (from that repo) to be loaded, instead of a version from NuGet. (I.e., how to change the project in the submodule from using a PackageReference to a project reference.) Being able to add new tests and immediately see their results across all providers is rather useful

[2019-02-12 16:08] connecsys commented on #19837
+1 for me too.  I have a team that wants to leverage the BizTalk/EIP map designer to create XSLT that is executed in .NET Core.  Please let me know if there is another visual designer they can leverage that is compatible with .NET Core.

[2019-02-12 16:11] roji commented on #7810
That's a good point. It's probably possible to do some awful MSBuild hack to change the PackageReference into a ProjectReference, but it ain't gonna be pretty.

[2019-02-12 16:16] MarcoRossignoli commented on #34926
I think so

[2019-02-12 16:18] jorive commented on #31322
@danmosemsft I'll take a look.

[2019-02-12 16:35] jorive commented on #31322
@gboucher90 would you have a self contained repro?

[2019-02-12 16:46] stephentoub commented on #31322
I can take a closer look when I'm at my computer, but this looks like a race condition, from a quick skim maybe in PropertySpec.Fetch.

[2019-02-12 17:17] safern commented on #35121
And they're fixed 😄 https://github.com/dotnet/corefx/pull/34931

We can now start removing Jenkins.

Just for the record, these are the available commands.

`/azp run corefx-ci`
`/azp run corefx-outerloop-linux`
`/azp run corefx-outerloop-osx`
`/azp run corefx-outerloop-windows`

Also, to run all the above, you can just do:
`/azp run`

There is also, `/azp help`, which will comment a help text. Ho

[2019-02-12 17:17] #35121 closed

[2019-02-12 17:22] filipnavara commented on #35121
Thanks for keeping us updated!

[2019-02-12 17:26] danmosemsft commented on #35121
Yay! if I want to rerun an individual leg, I can no longer do that? Or I go to their page to do it?

[2019-02-12 17:29] safern commented on #35121
In the latest PRs every individual leg is displayed as an individual build. i.e: `corefx-ci (Windows x64_Debug)` -- so I guess you could do: `/azp run corefx-ci (Windows x64_Debug)`

Also, you can rerun them from the checks UI as well, no need to go to their page:
![image](https://user-images.githubusercontent.com/22899328/52655318-bd7d4e00-2ea8-11e9-8f02-4355287b8e55.png)

[2019-02-12 17:31] livarcocc opened #35263 "dotnet-core MyGet gallery flags old version of package as latest"
@livarcocc commented on [Tue Feb 12 2019](https://github.com/dotnet/roslyn/issues/33324)

@KexyBiscuit commented on [Mon Feb 11 2019](https://github.com/dotnet/core-sdk/issues/466)

For example, [Microsoft.CSharp](https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.CSharp) tells me that 4.6.0-preview1-27018-01 is the latest, but 4.6.0-preview.19111.6 is published today, why isn't tha

[2019-02-12 17:39] filipnavara commented on #35263
It's an unfortunate consequence of the naming. MyGet sorts by the name, not the upload time, and the "preview1" vs "preview[X]" suffix is sorted incorrectly.

It was bothering me a lot too, but I am not sure whether MyGet is still going to be used, so I didn't care to open an issue for it. The move from dotnet/buildtools to dotnet/arcade seems to introduce new dependency flow that doesn't use MyGe

[2019-02-12 17:44] davidsh commented on #20362
As noted above, the fix needed in this issue in a fix to .NET Core System.Net.WebSockets.Client (non-UWP version). Specifically, it is a fix needed in the value of the state variable, _ClientWebSocketState_.

Due to the large number of backlogged issues, this issue has not been prioritized higher.  But if you have a PR with a fix (and a test), we will gladly accept it.

[2019-02-12 17:50] vcsjones commented on #35263
I think this is "correct" according to the semver v2 spec which I believe MyGet tries to respect.

That would seem then to imply that "preview" < "preview1", so I don't think this is an issue with myget, just that the labels used in the package version make it so that official previews always have a "higher" version number than nightlies.

[2019-02-12 18:03] MarcoRossignoli commented on #35121
Wow great! thank's for info!

[2019-02-12 18:03] filipnavara commented on #35121
Nope, doesn't work (#35264).

Unfortunately not available to mere mortals (ie. contributors/collaborators).

[2019-02-12 18:08] filipnavara commented on #35263
@vcsjones Thanks for insight. I didn't even realize that it could have been deliberate :-)

[2019-02-12 18:19] safern commented on #35121
😢 😭 -- I just let azure devops team know. Will update once I get an answer.

They said this is a GitHub limitation and that they where going to push on them and work with them to try an enable it for you guys 😄

[2019-02-12 18:21] leecow opened #35265 "Microsoft Security Advisory CVE-2019-0657: .NET Core Domain Spoofing Vulnerability"
## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET Core 1.0, 1.1 2.1 and 2.2. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware of a domain spoofing vulnerability in .NET Framework and .NET Core which cause

[2019-02-12 18:26] wfurt opened #35266 "HTTP2: add missing tests for connection limits and header processing"
This is mostly reminder to add tests for #31294, #34377 and #35164.

There are different ways how to do that but it may be most practical to convert existing test when new generic loopback is ready. #34345
For example SendAsync_UserAgent_CorrectlyWritten test exist but it will not run with HTTP2.
We should find or add tests with invalid characters and long values.

[2019-02-12 18:27] jkotas commented on #34957
The helix blobs used for CoreCLR CI just disappeared from the network: https://github.com/dotnet/coreclr/pull/22548#issuecomment-462875777 that make all CoreFX test legs in CoreCLR CI fail.

This is the danger of reusing helix blobs for this that do not have well defined retention policy.

[2019-02-12 18:41] danmosemsft commented on #35257
@tmds right -- I meant, I probably would have designed Directory.Delete to silently return.

[2019-02-12 18:55] stephentoub commented on #31322
Here's a minimal repro:
[code]
After a few seconds (will depend on the system), I see an exception along the lines of:
[code]
I expect the problem is here:
https://github.com/dotnet/corefx/blob/838291cf1444e3a383dc296ab9190a3c0b642523/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs#L802-L809
From what I can see, there's nothing to prevent multiple thre

[2019-02-12 19:02] fillmore opened #35268 "ManagedWebSocket: Inconsistent check in EnsureBufferContainsAsync?"
In [ManagedWebSocket.cs](https://github.com/dotnet/corefx/blob/release/3.0/src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs), [Line 1194](https://github.com/dotnet/corefx/blob/release/3.0/src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs#L1194) has assertion that _numRead_ should be non-negative. But in following [Line 1195](https://github.com/dotnet/corefx/blob/release/3.0/src/Comm

[2019-02-12 19:04] jorive commented on #31322
@stephentoub Thank you! :)

[2019-02-12 19:21] stephentoub commented on #35268
It's saying that a valid stream should never return a negative value from ReadAsync, and it's asserting if that condition occurs to alert us to a bug somewhere in the implementation.  But since such an assert is compiled away in release and we want to do something reasonable in the face of such a buggy stream provided, we throw in release builds.

[2019-02-12 19:40] wfurt commented on #23426
That sounds like reasonable approach @geoffkizer
I assume the caller would be responsible to monitor address changes if for example on DHCP, right?
I like the simplicity even if BindDelegate may provide more flexibility.

[2019-02-12 19:45] #23037 closed

[2019-02-12 19:55] wfurt commented on #32797
After 5 day passes it failed again today for pr/dotnet/corefx/refs/pull/34931/merge

Are we sure we updated all machines @ulisesh ?
This is Ubuntu.1604.Arm64.Open vs Ubuntu.1604.Arm64 used for official builds.

[2019-02-12 20:07] terrajobst commented on #34372
Notes from today are [here](https://github.com/dotnet/apireviews/pull/91).

[2019-02-12 20:07] saucecontrol commented on #22790
If https://github.com/dotnet/coreclr/issues/19936 is implemented, you'll at least be able to roll your own aligned buffers with the knowledge the GC will never move them.

[2019-02-12 20:11] benaadams commented on #22790
My interest would be for `CMPXCHG16b` with a `object reference + tag` type struct

[2019-02-12 20:15] davidsh commented on #35268
I think there is an inconsistency here though.

We validate with an Assert if the value is 0 or greater.  So, negative numbers would cause an assert.  But 0 is ok.

And yet the next line will throw an exception for negative numbers and if 0.  That seems inconsistent.  If the Assert is valid, then the 'if' check below should just check for "less than zero" and *not* "less than or equal to 0".

[2019-02-12 20:23] wfurt commented on #28790
We disabled test on Redhat6 and now t is failing cross the board as distros (and Windows) are dropping SSLv3 support. And yes, #35250 should fix it.
Alternatively since Ssl3 is practically dead, we may retire it from test set.

[2019-02-12 20:51] stephentoub commented on #35268
The assert is validating a properly functioning stream, i.e. no negative values.  The exception is validating that we got the data we were supposed to get, only positive values.  If the stream returns 0, that could be a properly functioning stream, but we got invalid data from whomever was sending it, because we hit EOF earlier than expected.

[2019-02-12 21:46] davidsh commented on #35268
Thanks for clarifying.  Sounds like the current code is correct and by-design.

[2019-02-12 21:46] #35268 closed

[2019-02-12 22:05] ViktorHofer commented on #35263
Right that's because of a change in the labeling schema. The current situation is not ideal but will be resolved when .NET Core 3 is released. Also we are probably going to move to the blob feed only. Closing as by design.

[2019-02-12 22:05] #35263 closed

[2019-02-12 22:27] pentp commented on #31902
I'm still concerned about the naming - it's really confusing to see `MidpointRounding.AwayFromZero` and `MidpointRounding.ToPositiveInfinity` next to each other when they actually mean completely different things (at first look, one would assume that for positive numbers they would behave identically).

I propose renaming them to `Truncate/Floor/Ceiling` to avoid such confusion.

[2019-02-12 22:31] tannergooding commented on #31902
I don't think `Truncate/Floor/Ceiling` will help avoid any of the confusion here. The names mean effectively the same thing either way, the "confusion" comes from it being on `MidpointRounding` when they are in-fact `DirectedRounding` modes.

[2019-02-13 01:08] Wraith2 commented on #35050
Was the removal of auto execution of tests on build intentional? Should I need to use `dotnet msbuild` on individual test projects to run them rather than going through the build script? How would I run the entire test suite locally if that's the case?

[2019-02-13 01:51] dadude999 commented on #20362
Right, that's what I'm referring to as well.

I'm afraid I can't do that for legal reasons related to my job. Otherwise I'd be happy to.

[2019-02-13 03:41] geoffkizer opened #35283 "SslStream.AuthenticateAsServer/ClientAsync methods should default CancellationToken to default(CancellationToken)"
The new Authenticate overloads on SslStream take a CancellationToken, but don't provide a default value for this. These should default to default(CancellationToken), i.e. CancellationToken.None.

https://github.com/dotnet/corefx/blob/3c30357d51b96339021b4ee52f38445c31248bb2/src/System.Net.Security/src/System/Net/Security/SslStream.cs#L425
https://github.com/dotnet/corefx/blob/3c30357d51b96339021b4

[2019-02-13 06:48] safern opened #35288 "Add documentation explaining new build system for contributors to understand better."
Since the recent move we need docs explaining how new builds work, what is available to trigger, how to do so, how to diagnose a build failure, how to find test results, etc.

[2019-02-13 08:41] jorive commented on #27495
@adamsitnik @danmosemsft I think this is a place where we could use dotnet/performance to do the investigations, and using the machines in the lab.

[2019-02-13 08:52] jorive commented on #25721
Some of the .NET real-world code benchmarks are here: https://github.com/dotnet/performance, and there is an effort to bring up some more.
I'm closing this issue, but feel free to open a new one, in https://github.com/dotnet/performance, if you have an specific real-world code benchmarks that should be brought up.

[2019-02-13 08:52] #25721 closed

[2019-02-13 09:26] vermorel commented on #22790
@saucecontrol A memory mapped file will already give you aligned buffers. However, it's an `IDisposable` object to deal with. To make aligned memory _convenient_, we need support from the GC.

[2019-02-13 12:33] bgribaudo commented on #35257
I like the idea. Seems like it would simplify the common use-case scenario.

If this change were made, https://github.com/dotnet/corefx/pull/34147#discussion_r248286784 / https://github.com/dotnet/corefx/pull/34147#issuecomment-450876620 would be resolved.

Haven't thoroughly checked how `WaitForExit()` works across platforms. If `Kill()` is changed to silently return when the process is already d

[2019-02-13 12:40] LeaFrock commented on #6318
Three years passed, and no **ConcurrentHashSet<T>** yet =.=
I think most of us want a kind of collections which is similar to **ConcurrentBag<T>**, but its elements are never duplicated and its 'Contains()' is an O(1) operation like **HashSet<T>**. We can make it using **ConcurrentDictionary**, but that implementation is too ugly.

[2019-02-13 12:44] bgribaudo opened #35290 "Add Support for Process's ParentProcessId on FreeBSD"
### Request/Need
Implement  private instance method `Process.ParentProcessId` method on FreeBSD. Presumably this will involve adding an interop method that calls the appropriate native API method.

### Background
Currently, this method is not supported on FreeBSD (e.g. throws a `PlatformNotSupportedException`).  This lack blocks `Kill(entireProcessTree: true)` from being supported on FreeBSD.

Rel

[2019-02-13 12:45] bgribaudo commented on #35290
/cc: @tmds @danmosemsft

[2019-02-13 14:36] MagicAndre1981 opened #35294 "System.Net.Http.pdb not found"
I try to debug an UWP app and now I fail to get the PDB for `"C:\Program Files\WindowsApps\Microsoft.NET.CoreFramework.Debug.2.2_2.2.27129.1_x86__8wekyb3d8bbwe\System.Net.Http.dll"`:

Here is symsrv output from Visual Studio 2017:

[code]

Where can I get the PDB?

[2019-02-13 16:50] davidsh commented on #35294
@tommcdon Can you comment on where the public symbols are for UWP packages?

[2019-02-13 16:54] gokhansengun commented on #34990
Just for the future reference. In our case (dotnet core app inside docker and operated by k8s), exact same problem was intermittently seen when multiple services are on the same ELB. Problem was fixed after we provide a separate ELB for each k8s service.

[2019-02-13 18:45] saucecontrol commented on #22790
The issue I linked is specifically about adding GC support.  It doesn't handle the alignment, but it solves the problem of the GC potentially moving something after you've found an aligned section to work with.

There's also https://github.com/dotnet/corefx/issues/31787, which addresses aligned allocation of arrays.

[2019-02-13 19:10] #31322 closed

[2019-02-13 19:13] stephentoub opened #35302 "Fix race condition in DiagnosticsSourceEventSource implicit transform code"
From https://github.com/dotnet/corefx/pull/35269#issuecomment-463322814:

It would be good to fix that race in the same way (basically an optional Type field on TransformSpec).

[2019-02-13 19:14] stephentoub opened #35303 "Change DiagnosticsSourceEventSource caching to be per event type"
From https://github.com/dotnet/corefx/pull/35269#issuecomment-463322814

[2019-02-13 19:29] #6134 closed

[2019-02-13 19:29] #5450 closed

[2019-02-13 19:39] Lxiamail commented on #35205
@Metalnem Thanks for reporting the issue. What's the real world scenario using  @"{""X"":""\/Date()\/""}" ?

[2019-02-13 20:52] ericsampson commented on #2538
@mj1856 I'm surprised this is still open given the ease of moving back and forth between Windows and Linux hosts in Azure, is this still going to get addressed without needing to pull in your non-platform TimeZoneConverter library? THanks!

[2019-02-13 21:50] pasikarkkainen commented on #24843
@karelz Clearly dotnet needs to have an opensource ldap (client) library, which then could be used to implement system.directoryservices.protocols aswell.. should we create a separate github issue about getting ldap library integrated/merged?

[2019-02-13 21:54] davidsh commented on #35230
Based on this discussion and information this issue doesn't seem actionable right now as an bug in CoreFx.  So, I'm going to close this for now.  Let us know if you isolate a repro that would point to a bug in the CoreFx HTTP/networking stack. Thx.

[2019-02-13 21:54] #35230 closed

[2019-02-13 23:32] GrabYourPitchforks commented on #10013
I propose a slightly different API, instead putting this on the `Convert` class near the existing base64 APIs. That would help discoverability, and it gives us an existing template for the recommended API shape.

[code]

It also makes sense IMO to have `OperationStatus`-based APIs. Those APIs could be done in the corefxlab repo to live alongside the existing `Base64Encoder` and `Base64Decoder` typ

[2019-02-13 23:43] rahuldutta90 commented on #34325
@davidsh @karelz I have sent an email to you internally with the repo.

[2019-02-14 00:20] vancem commented on #31448
cc: @vancem

Intiallly, the focus of .NET Core was on cross platform (e.g. Linux) support.    Channel support (which is what we are talking about with event viewer support), is inherently a windows feature, and thus was not prioritized.

The question is should it be now (which is what this issue is asking).    If the cost is low enough, that would go a long way toward 'just doing it' (since fretti

[2019-02-14 00:46] karelz commented on #24843
@pasikarkkainen do you mean a brand-new from-scratch LDAP library? Why cannot we depend on external existing library like we do on OpenSSL?

[2019-02-14 00:48] karelz commented on #33714
@mairaw would know. I don't think we were that good at keeping track of each bug fix against .NET Framework though.
We need IMO list of higher-level issues ...

cc @terrajobst

[2019-02-14 00:55] tmat opened #35307 "CoreFX build causes double-writes"
Looking at the binary log for CI build:

![image](https://user-images.githubusercontent.com/41759/52754671-3adfb600-2fb0-11e9-9c07-072175292cff.png)

[2019-02-14 00:58] mairaw commented on #33714
The only wiki I know of is the following and is not complete AFAIK:
https://github.com/dotnet/corefx/wiki/ApiCompat

.NET Framework has a rigorous process for app-compat stuff that we use to generate docs like this that @rpetrusha knows well:
https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/runtime/

I think we need to come up with a system for these things for Core too. We're not

[2019-02-14 01:48] vcsjones commented on #10013
To give some parity with the `*CharArray` from base64, I would consider a few other methods:

[code]

The rationale for this is in my typical usage I expect a hex string to be short (think a SHA digest) which tops out at 64 bytes right now.

I'm not strongly tied to these, but worth considering during review.

[2019-02-14 02:24] ahsonkhan commented on #34799
It turns out the above example just happens to work on .NET Core 3.0 due to recent changes like https://github.com/dotnet/coreclr/pull/20275 since the input is small.

On .NET Core 2.1, the above example would fail (i.e. print aAAd).

We do not support overlapping spans for ToUpper/ToLower and hence we should change the documentation.

For example, a test like this fails:

[code]

[2019-02-14 02:34] stephentoub opened #35309 "Reduce allocation in SocketsHttpHandler for HTTP/2"
https://github.com/dotnet/corefx/pull/35179 made a significant dent in the allocations in the new HTTP/2 implementation in SocketsHttpHandler, but there's still a gap between HTTP/1.1 and HTTP/2.  The following shows the allocations for 10K sequential GET requests to a localhost ASP.NET Core server that just outputs a "hello world" response body, first with HTTP/1.1 and second with HTTP/2.

HTTP/1

[2019-02-14 04:52] ahsonkhan opened #35313 "Add xml style comments to JsonDocument public APIs"
@bartonjs, we need to provide XML comments for the new JsonDocument public types and APIs that you added (similar to the `Utf8JsonReader`/`Ut8JsonWriter`). Would you mind adding them?

https://github.com/dotnet/corefx/pull/34485

[2019-02-14 05:13] GrabYourPitchforks commented on #10013
@vcsjones I envision `HexFormattingOptions.InsertLineBreaks` as inserting every 72 chars, just like base64 does today. And parsing would allow all of uppercase / lowercase / whitespace, hence no options parameter.

[2019-02-14 06:50] Metalnem commented on #35205
There is nothing really interesting about that particular input. I was just looking for the disrepancies between the exceptions that ReadObject should throw (SerializationException), and what it actually can throw in practice.

[2019-02-14 09:20] simonferquel opened #41402 "Introduce Http over arbitrary streams"
# Summary

This issue is about contributing back support for HTTP over arbitrary streams (named pipe, unix socket, ...) that we use internally for Docker Desktop to .net core libraries.

# Context

I am part of the team building Docker Desktop, and we are in the process of refactoring it to share as much code as possible between Mac and Windows. To align with the company practices, we are using go

[2019-02-14 10:58] MarcoRossignoli commented on #35219
@benaadams can you help me again?I want constructor(Dictionary) asm but again I didn't found right filter
[code]
I get SystemString Ctor

[2019-02-14 14:41] benaadams commented on #35219
Maybe?
[code]

[2019-02-14 15:11] zarochi commented on #31448
That's understandable; I can see where cross platform support is much more relevant here.

Based on the workaround I put in place for now; I think some enhancements could be put into Microsoft.Extensions.Logging to accommodate the missing features if it makes more sense to focus on that library instead. I think the biggest thing is the ability to define custom events. Without a manifest my event l

[2019-02-14 15:13] dehghani-mehdi opened #35319 "[Xamarin.Android] System.PlatformNotSupportedException: System.Runtime.Caching is not supported on this platform"
Hi,

I have a class library (_`.Net Standard`_) that uses `System.Runtime.Caching`, I want to use this class library in my `Xamarin.Android` project, but I got `System.PlatformNotSupportedException` exception.

Is there any plan to fix this, so we can use `System.Runtime.Caching` in `Xamarin`?

Thanks.

[2019-02-14 15:25] MarcoRossignoli commented on #35219
mmm no way, cc @AndyAyersMS maybe could help with this `I want constructor(Dictionary) asm but again I didn't found right filter`

[2019-02-14 15:36] benaadams commented on #35219
Its `.ctor` for the constructor
`set COMPlus_JitDisasm=.ctor`

`Ctor` is an explicit method on string

[2019-02-14 15:37] benaadams commented on #35219
Or if you just want Dicitionary
[code]

[2019-02-14 15:44] MarcoRossignoli commented on #35219
Ahhh here we go!Did a lot of permutation but never right one!Thank's Ben!

[2019-02-14 15:53] GSPP commented on #10013
I'd *not* put it on `Convert`. My argument for that is this: Imagine there were 10 different such formats (Hex, base64, base85, ...). Then, we clearly would like each of them to be their own static class. Anything else would make for a very crowded API. Now we don't have 10 formats but from this thought experiment we can see that creating a separate class is the better option. Especially, since mo

[2019-02-14 16:17] AndyAyersMS commented on #35219
If you're not sure of the right string to use, you can always do a run first with `COMPlus_DumpJittedMethods=1` to see what syntax for the methods that get jitted (also helps you check the method is indeed being jitted). Though for some reason that uses `::` between class and method when we normally use `:`. The name match parser is supposed to accept either one.

[2019-02-14 16:35] MarcoRossignoli commented on #35219
thank's guys for help!For now I've all info I need to go on!
I'll close.

[2019-02-14 16:35] #35219 closed

[2019-02-14 17:51] mazhou-msft commented on #29694
Ping. apparently the XML comments are in source code but still not available in IntelliSense. Tried netcoreapp2.2 and netcoreapp3.0, no XML comments in IntelliSense.

[2019-02-14 18:12] stephentoub commented on #35309
https://github.com/dotnet/corefx/pull/35324 removes from the above second image:
- the System.Object line
- the System.Int32 line
- the System.Net.Http.HPack.HPackDecoder.HeaderCallback line
- 3 of the 8 System.Strings per request (e.g. that line drops from ~80K to ~50K)

[2019-02-14 18:16] narciero commented on #33791
why make everyone have to go through the trouble of manually handling redirects when a property called `AllowInsecureRedirects` could easily be added ? I think its pretty clear that the property enables "insecure" behavior - it would obviously default to `false`.

many websites in the wild perform 301/302 redirects from HTTPS -> HTTP (which then gets redirected back from HTTP -> HTTPS) - so it wou

[2019-02-14 19:21] stephentoub commented on #35319
@marek-safar, I assume System.Runtime.Caching for a Xamarin.Android project is coming from mono?

[2019-02-14 20:02] Wraith2 commented on #34414
@ssa3512 did you want to have a second pass at this after our discussion on the first PR I shall I pick it up?

[2019-02-14 20:04] #32642 closed

[2019-02-14 20:07] migueldeicaza commented on #31917
One possible consideration is to wait until C# gets discriminated unions, and then change our APIs to support the `Result<T,E>` idiom as seen in languages like Rust, F# and Swift:

* F# https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/results
* Rust: https://doc.rust-lang.org/std/result/
* Swift: https://developer.apple.com/documentation/swift/result

[2019-02-14 20:11] ssa3512 commented on #34414
@Wraith2 I guess I am not sure what needs to be done to support it in a backward compatible way at this point. Additionally, I was unable to get a stable development environment up and running for corefx where I could run all the unit tests. If you have a fix please you can create a PR.

[2019-02-14 20:18] ulisesh commented on #32797
Right now, Ubuntu.1604.Arm64.Open doesn't run on containers, it runs on Centriq servers. We will move Ubuntu.1604.Arm64.Open to run on containers early next week

[2019-02-14 21:18] eapnw commented on #17905
I'd like to take on cleaning System.IO.Compression as my first contribution.

[2019-02-14 21:23] benaadams opened #35328 "[CI outer loop] System.Net.NameResolution.PalTests.NameResolutionPalTests/TryGetAddrInfo_HostName"
Ubuntu.1604.Arm64.Open-arm64-Release
 System.Net.NameResolution.PalTests.NameResolutionPalTests/TryGetAddrInfo_HostName

[code]
   at System.Net.NameResolution.PalTests.NameResolutionPalTests.TryGetAddrInfo_HostName() in
/__w/1/s/src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs:line 55

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F35234~2Fmerge/te

[2019-02-14 21:24] benaadams commented on #35328
Same run

Ubuntu.1604.Arm64.Open-arm64-Release
[code]
System.Net.NameResolution.PalTests.NameResolutionPalTests.TryGetAddrInfo_HostName_TryGetNameInfo()
in /__w/1/s/src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs:line 114

[2019-02-14 21:28] benaadams opened #35329 "[CI outer loop] System.Xml.Linq.xNodeBuilder.Tests"
Windows.10.Amd64.ClientRS4.ES.Open-x64-Debug
[code]
   at CoreXml.Test.XLinq.XNodeBuilderFunctionalTests.RunTests() in
D:\a\1\s\src\System.Private.Xml.Linq\tests\xNodeBuilder\FunctionalTests.cs:line 33

Windows.10.Amd64.ClientRS4.ES.Open-x86-Release
[code]
   at CoreXml.Test.XLinq.XNodeBuilderFunctionalTests.RunTests() in
 D:\a\1\s\src\System.Private.Xml.Linq\tests\xNodeBuilder\FunctionalTests.cs:

[2019-02-14 21:31] benaadams opened #35330 "[CI outer loop] System.Runtime.Serialization.Formatters.Tests"
OpenSuse.42.Amd64.Open-x64-Debug
[code]
[code]
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F35234~2Fmerge/test~2Ffunctional~2Fcli~2F~2Fouterloop~2F/20190214.1/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlobs(obj:%20Bitmap%20%7B%20Flags%20=%2077840,%20FrameDime

[2019-02-14 21:33] stephentoub commented on #35329
Grrr… I thought I fixed that.  These tests are frustrating.  I'll take another look.

[2019-02-14 21:34] stephentoub commented on #35330
Dup of https://github.com/dotnet/corefx/issues/34924.  We should get that test disabled.

[2019-02-14 21:34] #35330 closed

[2019-02-14 21:35] stephentoub commented on #35328
Dup of https://github.com/dotnet/corefx/issues/32797
cc: @wfurt

[2019-02-14 21:35] #35328 closed

[2019-02-14 21:36] benaadams opened #35332 "[CI outer loop] SendPingToExternalHostWithLowTtlTest"
Skipped on all platforms bar the failing ones

OSX.1013.Amd64.Open-x64-Debug
[code]

OSX.1012.Amd64.Open-x64-Debug
[code]

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F35234~2Fmerge/test~2Ffunctional~2Fcli~2F~2Fouterloop~2F/20190214.1/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.PingTest~2FSendPingToExternalHostWithLowTtl

[2019-02-14 21:37] wfurt commented on #35328
cc: @ulisesh

[2019-02-14 21:44] benaadams opened #35333 "[Ci outer loop] System.Linq.Parallel.Tests"
Seem to be `ulimit: core file size: cannot modify limit: Operation not permitted` across all platforms
e.g. Ubuntu.1604.Arm64.Open-arm64:Debug

[code]
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F35234~2Fmerge/test~2Ffunctional~2Fcli~2F~2Fouterloop~2F/20190214.1/workItem/System.Linq.Parallel.Tests/wilogs

[2019-02-14 21:48] benaadams commented on #35329
I accidentally triggered outloop; thought I'd made use of it and raise the errors 😄

[2019-02-14 21:55] yujayee commented on #35205
The `ArgumentOutOfRangeException`exception is thrown when it tries to parse the empty datetime string. However, we decided not to fix this particular issue.
The `"\/Date(...)\/"` string is very specifically a .NET format of serializing DateTime to JSON. DataContractSerializer and DataContractJsonSerializer are specifically designed to work when both ends are .NET. So an empty DateTime string like

[2019-02-14 21:55] #35205 closed

[2019-02-14 22:09] hugoqribeiro opened #35336 "Is it possible to install System.IO.IsolatedStorage dependency on a .NET 4.6.1 console app?"
Hi.

I have a library built on .NET Standard 2.0 that references the System.IO.IsolatedStorage 4.3.0 package.

When I try to add that library package to a .NET 4.6.1 console app, NuGet fails with the following error:

[code]

Why is that? What am I missing here?

Thanks.

[2019-02-14 22:46] AfsanehR commented on #34294
Closing due to inactivity. Please feel free to reopen if you had more information to provide.

[2019-02-14 22:46] #34294 closed

[2019-02-14 23:19] marek-safar commented on #35319
NetStandard version of System.Runtime.Caching throws PlatformNotSupportedException I suspect you'd need to build Xamarin version of the class library to avoid this indirect dependency issue.

[2019-02-14 23:45] safern commented on #34920
@wfurt any update on this? The engineering team wants to move to running in docker containers for PR builds as well, and I've done a private run first to validate and this test is failing, we need to either disable it or provide a solution in order for them to move forward.

[2019-02-15 00:07] wfurt commented on #34920
I was not planning any work here since it is neither ARM issue nor my normal area. We could update test to mimic coreclr but that is not trivial and even coreclr has some limitations.(see linked issue)  I think @janvorli is out but it may be nice to get his feedback on directions.

We can perhaps add detection of Docker and make this test conditional. We would need new issue to track disabled test

[2019-02-15 01:36] #29910 closed

[2019-02-15 02:24] yujayee commented on #34670
Hello @danstur, could you share with me exactly how long is your dotnet Microsoft.XmlSerializer.Generator command?

[2019-02-15 02:41] yujayee commented on #34899
@syedabidali Could you help me confirm if I understand your problem correctly?
First, Microsoft.XmlSerializer.Generator fails and throws a 'file name or extension too long' error (if so, could you help me confirm how long is your command?).
Then you tried to manually run the command without "--reference" part before head. But the generated serializer got deleted after project rebuild.

[2019-02-15 03:30] sangkilc commented on #32174
I have exactly the same problem in Ubuntu 18.04 terminals. I can confirm that Mono doesn't have any issue. I am currently using dotnet core version `2.2.104`, and mono `4.6.2`.

[2019-02-15 03:48] sangkilc commented on #32174
It seems that dotnet core produces unnecessarily many system calls. I created a simple script in fsharp:
[code]

And here are the results (Note almost 0 CPU time):
[code]

I also ran `strace` with both Mono and .NET core. and observed 10x more system calls from .NET core. For example:
[code]

Hope this helps!

[2019-02-15 04:59] wfurt commented on #35332
I've been trying to investigate this. It seems like environment issue and it is pretty consistent.

[2019-02-15 05:02] wfurt commented on #35290
do you have simple code to run to reproduce this @bgribaudo ?

[2019-02-15 05:14] wfurt commented on #34970
seems to be fixed now. closing.

[2019-02-15 05:14] #34970 closed

[2019-02-15 06:11] pgodwin opened #35341 "System.Data.Odbc.OdbcParameterCollection.Add Slow"
I have a project which adds thousands of parameters to an OdbcCommand for bulk inserts.

Testing shows that `OdbcParameterCollection.Add()` and `OdbcParameterCollection.AddRange()` are both very slow methods.

Jumping into the profiler it seems these methods spend most of their time in Validate():
![image](https://user-images.githubusercontent.com/1046558/52837850-3942f900-313c-11e9-86cf-c3dd3131f

[2019-02-15 06:24] pgodwin commented on #35341
Workaround found.

The code for creating the parameter looked as follows, note the length of the name is 0.
[code]

The causes [`void Validate()`](https://github.com/dotnet/corefx/blob/0bfc4f3cf62f6fc29162ad5b1b89acc14124a375/src/System.Data.Odbc/src/System/Data/Odbc/OdbcParameterCollectionHelper.cs#L294) to build a name until it find one that isn't taken. This is fine for small collections, but i

[2019-02-15 07:33] Varorbc opened #35342 "RequiredAttribute add an AllowDefault property"
add an `AllowDefault` property to determine if the value is available

similar to the role of the code below

https://github.com/dotnet/corefx/blob/9205f4636caae2498d7b05d77be9404af1538f27/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/RequiredAttribute.cs#L29

[2019-02-15 08:22] filipnavara commented on #30416
Partially resolved by #35322. I guess the documentation needs to be fixed now.

[2019-02-15 10:02] danstur commented on #34670
@yujayee Yes there more than 32,768 characters in the built command line. The error message seems to be misleading, the filename itself was far from any limit (even the 260 or so of MAX_PATH).

Not a problem if you use a separate contracts assembly without many references which is probably more common, but it'd be nice if we weren't forced to do this.

[2019-02-15 10:12] Deni35 opened #35343 "AggregateException.ToString() prints terrible message"
Let's throw )
[code]

If we catch and print this exception then we get a such message:
[code]

May be for you it's good format, but in my opinion it is terrible.
I'd like to see something like following:
[code]

[2019-02-15 11:54] COBRASoft5 commented on #31775
I've tried this with .Net Core 2.2, but get an errorcode 126 while trying to load the native assemblies. The files appear to be on the correct location. Any ideas?

[2019-02-15 12:37] GSPP commented on #34799
Can overlapping be determined reliably? If it can be, it should be part of argument validation.

[2019-02-15 13:36] tomesendam commented on #34233
@tarekgh I will try when I find the time to work on this!

[2019-02-15 14:32] IrinaPykhova commented on #23542
we have a big number of code samples which use MS Access. Most of them use typed data sets and other stuff generated by VS as described here: https://docs.microsoft.com/en-us/visualstudio/data-tools/connect-to-data-in-an-access-database-windows-forms?view=vs-2017. It is all based on OleDB provider and includes a lot of VS-generated code. Most of developers never look at VS-generated code, so expec

[2019-02-15 15:07] vcsjones commented on #30416
Oh, ha - I didn't see there was an issue for this. I can try getting the docs updated.

Kind of. Unix (the OpenSSL PAL) also threw; macOS was the outlier here. It seemed more reasonable to me make macOS match OpenSSL / CAPI rather than trying to change both Unix and Windows behavior.

I do think the behavior is strange and returning `Unknown` seems much more desirable. In the meantime though; cons

[2019-02-15 15:20] filipnavara commented on #30416
It was an issue that was found through Mono test suite. I don't remember what the OpenSSL behavior was, but I mostly tested on macOS (even the OpenSSL builds) so it's quite possible I just overlooked it.

Intuitively I would expect the documented behavior, but I understand that there could be compatibility concerns and I am generally fine with either choice. All code I inspected was prepared to ha

[2019-02-15 15:24] ektrah commented on #34799
@GSPP Yes. There is an `Overlaps` extension method in `MemoryExtensions`:

https://github.com/dotnet/corefx/blob/f078da3a4ddcb99cbb26b59fb67f59fdfb200548/src/Common/src/CoreLib/System/MemoryExtensions.cs#L1461-L1465

[2019-02-15 15:26] fuocor opened #35350 "IServiceProvider and Async service startup"
When using the IServiceProvider I have a number of services that implement IHostedService that are long living and directly callable. The issue is that the service is not fully accessible until after it has been started and initialized. In this scenario there are a number of issues.

doing the following:
[code]
results in 3 instances of ServiceA.

doing the following
[code]
ensures a single instan

[2019-02-15 15:27] vcsjones commented on #32694
@Ashvini2004 There's an issue at https://github.com/dotnet/docs/issues/8184 to get the documentation updated for the behavior you are seeing. Given that, does it seem reasonable that this issue can be closed?

[2019-02-15 15:56] jkotas opened #35351 "SendPingAsyncWithIPAddress fails with "The operation completed successfully.""
SendPingAsyncWithIPAddress  failed in https://github.com/dotnet/coreclr/pull/22619:

[code]

[2019-02-15 15:57] jkotas commented on #35351
The test failure itself may be caused by intermittent network issue.

However, the error message "The operation completed successfully." is wrong. It suggests that the error handling is not right. We should be reporting the actual error.

[2019-02-15 15:57] fuocor commented on #35350
there are errors in the code samples I provided

[2019-02-15 17:03] vcsjones commented on #35336
/cc @JeremyKuhne who may be able to answer this better than I...

This package seems a bit strange to me. It has a `netstandard1.4` ref assembly, but the actual lib assembly is in `netcore50`. I don't think .NET Framework will pull libs from netcore50.

[2019-02-15 17:06] vcsjones commented on #35336
For what it's worth, I don't think you should be referencing this package for .NET Framework. Instead you should just be adding a reference to `System.IO.IsolatedStorage` assembly since it is part of the .NET Framework.

[2019-02-15 17:31] Clockwork-Muse commented on #31917
@migueldeicaza

While I like discriminated unions, the problem I see with `Result<T, E>` is that we already _have_ the equivalent error feature.

You know, exceptions.

Essentially we'd be propagating a second,  "softer" form of exceptions, ones declared as part of the API.  Given we already have exceptions, I think I'd prefer going the Midori route: [methods either explicitly throw a specific set

[2019-02-15 17:44] davidsh commented on #35351
@wf

[2019-02-15 17:44] davidsh commented on #35351
@wfurt

[2019-02-15 17:49] jons-aura commented on #22142
I'm having the same issue as @phatcher with .Net 4.6.1 as the target while running unit tests. Is it not possible to use a .Net Standard 2.0 library in a .Net Framework project? That would seem to negate the entire purpose of having .Net Standard at all.

[2019-02-15 17:50] Wraith2 commented on #35288
Accidental closure?

[2019-02-15 17:52] safern commented on #35288
LOL, I mentioned it in my PR, saying I still needed to fix this issue and GH closed it when I merged.

[2019-02-15 18:08] Yucked commented on #34398
Hey. Just wondering how much interest is needed to get this in core 3.0?

[2019-02-15 18:11] JamesNK opened #35352 "Incorrect XML comments in Base64Encoder and Base64Decoder"
https://github.com/dotnet/corefx/blob/e3c7ba18ce92fd24c08b987bbc9a771c6d32ee27/src/System.Memory/src/System/Buffers/Text/Base64Encoder.cs

`</summary>` closing tag is in the wrong place. Base64Decoder.cs has the same problem.

[2019-02-15 18:21] stephentoub commented on #35333
This looks like an infrastructure issue.  The PLINQ tests don't use ulimit.
cc: @dotnet/dnceng

[2019-02-15 18:24] MattGal commented on #35333
The Ulimit calls that are failing are not the source of failures unless you actually need to raise ulimit, and come from RunTests.sh.

This only becomes an infra issue if the limits on the machines actually need to be raised (this will happen in the case where the limit your script asks for is > the hard limit) if so, let me know.

[2019-02-15 18:27] stephentoub commented on #35333
@mattgal, ok, in that case, what would cause the tests to be "killed"? That's also not coming from the tests.

[2019-02-15 18:30] MattGal commented on #35333
taking a look.

[2019-02-15 18:33] MattGal commented on #35333
[code]

[2019-02-15 18:33] MattGal commented on #35333
They may not be used to running with 46 threads?

[2019-02-15 18:35] MattGal commented on #35333
Actually given Windows does the exact same thing w/ 2 threads & cores and ulimit has no impact on Windows, I think someone has made a test or tests hang here.

[2019-02-15 18:57] MattGal commented on #35333
Sent the Windows dump from the x86 run offline, may not be of the right process unfortunately though.

[2019-02-15 18:59] krwq commented on #33374
Package restores correctly and all published apps contain correct binaries

[2019-02-15 18:59] #33374 closed

[2019-02-15 19:00] krwq commented on #18012
https://github.com/dotnet/corefx/issues/33374 is now fixed
package should work correctly now for apps also targeting netcoreapp2.1 or netstandard2.0 (no need to copy any binaries). Make sure to use at least following version or later:
`dotnet add package System.IO.Ports --version 4.6.0-preview4.19114.5 --source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json`

[2019-02-15 19:02] wfurt commented on #35351
I have PR refactoring PING error handling but I did limited testing on windows. It is more difficult to inject errors there as we use OS API.

[2019-02-15 19:14] jkotas opened #35358 "Do not include System.IO.Ports.Native.* in NetCoreApp"
Repro: Download and expand latest .NET Core preview for Linux `.tar.gz` from https://github.com/dotnet/core-setup/

Result: `System.IO.Ports.Native.*` is included in the package

We should not be including `System.IO.Ports.Native.*` in netcoreapp, since the `System.IO.Ports` is not included in netcoreapp either.

[2019-02-15 19:16] stephentoub commented on #35329
I can't repro this locally.  Can you?

[2019-02-15 19:17] jkotas commented on #35358
Left over from https://github.com/dotnet/corefx/issues/33374 . I think the fix should be to stop including these files in Microsoft.Private.CoreFx.NETCoreApp in corefx build.

@krwq Could you please take a look?

[2019-02-15 19:17] #35352 closed

[2019-02-15 19:25] wfurt commented on #34887
I could not reproduce it on my Raspberry running Raspbian.  Tested 2.1.2 and 3.0-master.

[2019-02-15 19:26] benaadams commented on #35329
Was outerloop CI 22hrs ago https://github.com/dotnet/corefx/pull/35234

[2019-02-15 19:28] stephentoub commented on #35329
Oh, this is netfx...

[2019-02-15 19:34] jackimburgia commented on #26845
I used R and Python data frames for a long time.  But being primarily a C# developer, I longed for two things: type safety and LINQ.  So a few years ago I created a C# data frame that stores typed data and inherits from a generic list.  Data wrangling is done with the familiar LINQ methods Where, GroupBy, Select, etc.

Is it more verbose than R or Python? Yes.  Do you approach data analysis the sa

[2019-02-15 19:41] vcsjones commented on #35336
I think then the easiest way to work around this problem is to make your library multi-target for netstandard2.0 and .NET Framework and only include the package if targeting netstandard. Something like this perhaps?

[code]

[2019-02-15 19:44] mungojam commented on #26845
@jackimburgia that looks like just the sort of API that is needed and is really promising. Is it open source? I couldn't see any links. Does it store data as columns or rows?

[2019-02-15 19:53] Ziriax opened #35360 "FILETIME structure uses wrong type"
In file `corefx/src/Common/src/CoreLib/System/Runtime/InteropServices/ComTypes/IMoniker.cs`, the type `FILETIME` uses `int` to map `dwLowDateTime` and `dwHighDateTime`.

However, this should be `uint`.

Is this mapping intentional, maybe for historical reasons?

[2019-02-15 19:56] jackimburgia commented on #26845
@mungojam - thanks for the feedback.  It stores data as columns (typed collections); but typically I interacted with the data in the context of a row (I hope that makes sense).

I haven't opened it up yet- I put it on Nuget about a year and half ago to gauge interest / to see if this is something the .Net community wants or needs.

[2019-02-15 20:52] sandreenko commented on #9628
I see that the same tests fails on arm64 with the same error in CoreCLR testing,

[code]

Maybe it was not fixed but excluded? @ianhays

[2019-02-15 20:52] richlander opened #35361 "Improve .NET Core version APIs"
There should be APIs to get the actual .NET Version and the commit SHA for .NET Core. The version APIs have been a weak point of the product since .NET Core 1.0. If we're going to change existing behavior a major version would be a good time!

In particular, Environment.Version and RuntimeInformation.FrameworkDescription seem nearly useless in the majority of cases. It is particularly cute that th

[2019-02-15 20:58] rmkerr commented on #34398
I'm not sure. @karelz, this ask would require us to expose a new property. How much interest would we need to make that kind of change?

[2019-02-15 20:59] krwq commented on #35358
@jkotas yes, I was planning to start working on that and fix the testing right now

[2019-02-15 21:09] ahsonkhan commented on #34799
We should definitely consider it. However, one thing we should measure is potential performance regression that might be introduced due to this check, especially for operations on small payloads. Given that its going through `TextInfo` anyway, it may not matter all that much. We did recently change the methods being called to statics to avoid the overhead: https://github.com/dotnet/coreclr/pull/17

[2019-02-15 22:26] huanwu commented on #34670
@danstur, by our design, we will pass all the references of your project to be serialized to the XmlSerializer.Generator so it can resolve the type defined in those references. It might cause this issue if you have too many references and the path is too long. Is it possible for you to put the type to be serialized into a separate project that can use less references or use the shorter path?

[2019-02-15 23:01] divega commented on #35341
A few thoughts:

1. I noticed that the same logic exists for SqlClient at https://github.com/dotnet/corefx/blob/f40cb8ea05d8b1f3d9acdcd8cf257c764ef56693/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlParameterCollectionHelper.cs#L276-L307, so this likely isn't just affecting System.Data.Odbc. I assume this was originally in shared implementation code.

2. Although it is obviously intended

[2019-02-15 23:17] jkotas commented on #34799
This is very cheap check. I am not worried about its cost.

[2019-02-15 23:29] Wraith2 commented on #35341
Guids? but I don't think it's a good idea.

Adding thousands of parameters feels like a very strange thing to do. Why would you need that many?

[2019-02-15 23:40] roji commented on #35341
Lots of parameters can make sense when you're doing batched bulk inserts (as @pgodwin wrote above) - a single DbCommand with many INSERT statements. Of course a specialized bulk copy is much better for this, but I suspect no such thing exists for ODBC specifically; so this seems like it would be more of a problem for ODBC than for SqlClient. However, it's conceivable to also batch other types of s

[2019-02-15 23:41] pgodwin commented on #35341
@divega The lack of names is due to ODBC parameterized commands not using parameter names. Ie `where F1=?, F2 = ?`. As far as I can tell it just ignores the names and uses the index of the parameters.
The library code could instead use the index of the parameter when no name is specified?

@wraif2 The use of such a large number of parameters is to populate an INSERT statement with hundreds of rows

[2019-02-15 23:51] Wraith2 commented on #35341
I see, so it is a strange thing to do and it's caused by Odbc limitations. I'd say you've hit on the best solution by naming them yourself in that case. The Validate method could be made to detect empty names and replace them with something like `"_" + guid.ToString()` indicating an internal name and uniquing it.

[2019-02-16 00:00] pgodwin commented on #35341
While the number of parameters is due to ODBC limitations, we are talking about the Odbc client so it might be more common than it first appears.

But the simple workaround or specifying a name is fine from my point of view. Maybe a remark could be added to OdbcParameter docs to mention a name is recommended in cases of a large number of parameters?

[2019-02-16 00:28] tarekgh commented on #32870
@bmpcon I am closing this one and we can reopen when we have more information. Thanks.

[2019-02-16 00:28] #32870 closed

[2019-02-16 01:18] yujayee commented on #32142
@huanwu Do we want to support customers to specify the types in their project file PropertyGroup like the following?
[code]

[2019-02-16 01:23] tarekgh commented on #34562
Issue moved to [dotnet/wpf #358](https://github.com/dotnet/wpf/issues/358) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-16 01:23] #34562 closed

[2019-02-16 04:00] SoerenBusse opened #35368 "Process kill tree - No such process when killing firefox"
Hey there,

we've started a new process and would like to use the new `Kill(true)` method for killing an entire process tree. However we encountered a special behaviour when trying to kill firefox or chrome.

After calling the `Kill(true)` method of a process object starting firefox or chrome we get an `Win32Exception - No such process` exception.

[code]

When understanding the source code right

[2019-02-16 05:33] dehghani-mehdi commented on #35319
@marek-safar I didn't get you, but I tried to use Android Class Library instead of .Net Standard Class Library, but here is what happened:

![screenshot_7](https://user-images.githubusercontent.com/9152330/52895029-a51f7300-31c9-11e9-90f5-28cfb23064d1.png)

[2019-02-16 06:23] karlzf commented on #26684
I do not see the fix applied to .NET Core 2.2 release. Can anyone confirm? Thanks. https://github.com/dotnet/corefx/blob/release/2.2/src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs

[2019-02-16 06:35] jkotas commented on #35361
Related https://github.com/dotnet/corefx/issues/31099

[2019-02-16 06:37] jkotas commented on #35360
Yes, it is like that for historic reasons. Fixing this would be a breaking change

https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.comtypes.filetime?view=netframework-4.7.2

[2019-02-16 06:37] #35360 closed

[2019-02-16 09:54] Metalnem opened #35369 "G17 format specifier doesn't always round-trip double values"
The documentation for numeric format strings says that the **G17** format specifier is the recommended way for round-tripping double values, but it doesn't always work. Here is the full example of one such case:

[code]

This program prints false on .NET Core 2.2.104, and true on .NET Core 3.0.100-preview-010184. I see that there were a lot of issues and commits fixing the **R** specifier, but I w

[2019-02-16 11:47] ajtribick opened #35370 "Add ReadOnlySpan<char> overloads to text element/CharUnicodeInfo routines"
Currently it is possible to process a string using text elements via the `StringInfo` class and `TextElementEnumerator`. Unfortunately these do not provide overloads for `ReadOnlySpan<char>`. Similarly there are no `ReadOnlySpan<char>` overloads for `CharUnicodeInfo`, where this would be useful to deal with characters outside the Basic Multilingual Plane. This could be very useful for parsers.

[2019-02-16 12:54] frankhaugen opened #35371 "Adding a .Batch to Linq"
This might have been suggested before, but I couldn't locate it. And it's my first attempt at something like this, so I apologize if I'm doing it wrong

I fin myself re-using this extension in almost all of my "large data"-projects, and I miss it as a "core feature" of Linq:
[code]
It's as simple as it get's though I'd have to delve deeper into the Linq code before making it, as it seems to be "wr

[2019-02-16 14:07] ostorc commented on #32905
Is it up to grab? If so, could i try make PR for this issue?

[2019-02-16 16:04] ericsampson commented on #2538
I was just thinking as well, how would you use TimeZoneInfo.FindSystemTimeZoneById in an Azure Function where you have no control over what platform is running your code?

[2019-02-16 16:09] ericsampson commented on #24652
@Tratcher, the only reason that I mentioned Http.Extensions as a possible landing place is that the original issue had the following comment from @davidsh, but now that there's Http.Extensions I thought I would bring up the request again as maybe now there's an appropriate place for it whereas there wasn't necessarily before?:

[2019-02-16 16:15] ericsampson commented on #24652
Here's some motivation background from [RFC 6570](https://tools.ietf.org/html/rfc6570). For me, it just reduces everyone writing 'reinventing the wheel (poorly)' utility classes, ensures consistent correct behavior among various teams, and means that I don't have to worry about things like missing/doubled slashes when concating fragments, escaping, etc. Does that help?

   identifiers such that th

[2019-02-16 18:20] ahsonkhan commented on #32905
That sounds great. Feel free to ping me on the PR for review. Thanks for the contribution.

[2019-02-16 18:45] Yucked commented on #34398
I read through the guide but it asks to open an issue first then wait for it to get approved. Should I make another issue on the same topic, wait for it to get approved then make a PR or just use this issue and open a PR?

[2019-02-16 20:15] Clockwork-Muse commented on #2538
@ericsampson -
You have worse problems than just Linux VS Windows.  You also have to worry about **what version of the timezone rules are you using**.  As the hosts/instances get updated, you're going to get tearing as to what it sees as the "current" rule.  This is an inherent race condition, and isn't really specific to a functions-as-a-service platform (although that exacerbates the issue) - it

[2019-02-16 20:25] darrelmiller commented on #24652
Missing slashes or double slashes is a comma gotcha.  Optional query parameters are also things people struggle with.  Multi-segment paths and optional paths are easy with a template. Another nice side benefit is query parameters always appear in the same order which can be helpful.

It would be great to see this feature in ASPNetCore or even better in System.Net.Http because people don't want to

[2019-02-16 20:32] karelz commented on #34398
@Yucked you can put your API proposal to the top post here.
Be warned: We're a bit under water, so no guarantee we will be able to help it push through into 3.0 ... but if hte API design is good and if it makes sense, we are definitely interested long-term (post-3.0), and maybe it will make it even earlier ... who knows ...

[2019-02-16 23:53] stephentoub commented on #35369
cc: @tannergooding

[2019-02-17 03:27] Yucked commented on #34398
I've updated my post but unsure if the suggestion covers all areas that may be affected by the change. The only changes I can think of are:

- Returning the response headers in connect async methods
- Reflect the change on ClientWebSocket's ConnectAsync method

[2019-02-17 10:45] stephentoub commented on #35375
SocketFlags.Partial is not supported with Sends on Linux; it's a Windows-specific concept (even on Windows it might result in not supported failures as it's only supported by some transports). Why are you specifying it? Can you simply replace it with None?

[2019-02-17 14:30] pgolebiowski opened #35380 "Add a pairing heap to System.Collections.Specialized"
## About

Over for years ago, we started [a conversation on GitHub](https://github.com/dotnet/corefx/issues/574) about adding a priority queue to the framework. We didn't reach a consensus.

When we started diving deep, we learned that customer expectations varied so much that we were going back and forth and none solution to the problem appeared to be good enough to end up in the framework. I thi

[2019-02-17 15:53] JustNrik opened #35381 "[Proposal] GetLongHashCode()"
Basically, GetHashCode() but returning `long` instead. Enabled for 64bits only (?)

This would be useful to avoid hashcode collitions with big collections and collections that uses long/ulong as key.

It could co-exist along with GetHashCode or change GetHashCode return type to long if targeted platform is 64 bits.

[2019-02-17 16:02] HaloFour commented on #35381
I know this is a [cross post](https://github.com/dotnet/csharplang/issues/2240#issuecomment-464474088) but I think it's applicable here too.

Apart from being a pretty big change to the CLR (adding a new `virtual` member to `System.Object`, changing the definition of `GetHashCode` is definitely not going to happen) and BCL, none of the existing collections could possibly work with this. I doubt (m

[2019-02-17 16:22] tannergooding commented on #35369
Looks like a regression was checked in for netcoreapp2.1 and I fixed it with the recent compliance work/testing.

I'm still digging in to see if I can find what introduced the bug/etc.

For reference, in .netcoreapp2.0 and prior, as well as in netcoreapp3.0, you would get:
[code]

In .netcoreapp2.1 and .netcoreapp2.2 you would get:
[code]

[2019-02-17 16:49] AlexeiScherbakov commented on #10013
There are many variants of API. It can be used in web,cryptography and many other places. Some hex conversion is used in json for writing non-ASCII chars - \u0000 - \uFFFF

I think that .NET Core must provide optimized variants for each purpose

**Writing API**
1. It can be uppercase/lowercase
2. It can use separators or not use
3. Separators can be single char or multi (char[] or string)
4. It ca

[2019-02-17 17:01] AlexeiScherbakov commented on #10013
Also, as @vcsjones mentioned for short strings, we need some different allocation mechanism, to avoid dirty hacks for reducing allocations count: (https://docs.microsoft.com/en-us/dotnet/csharp/how-to/modify-string-contents#unsafe-modifications-to-string)

[code]
For example in this case we can allocate string memory (x2 of byte array length) and write to it, without copy contructor.

[2019-02-17 17:35] Sioma112233 opened #35382 "Marshal.GetLastWin32Error doesnt seem to work (always return 0)"
Hey,
I am trying to use Marshal.GetLastWin32Error on Linux and always get a 0 return value.
I tested the same code with dotnet-core and mono and came up with different results.
this code:
[code]
**Mono Output (correct behaviour)**
[code]
**Dotnet-Core Output (incorrect behaviour)**
[code]
I also tried opening the file in ReadOnly mode with same result

Thanks in advance

[2019-02-17 17:46] Sioma112233 commented on #35382
Btw, using dotnet core 2.1.8

[2019-02-17 17:50] stephentoub commented on #35382
You're calling Marshal.GetLastWin32Error after calling WriteLine, which involves other p/invokes and syscalls. Try calling it immediately after open and storing the result into a local.

[2019-02-17 17:57] Sioma112233 commented on #35382
You are right, solved the problem =D, my bad

[2019-02-17 18:03] #35382 closed

[2019-02-17 19:36] davidsh commented on #35376
@hognevevle I tried the repro and got this exception.  The behavior was same regardless of turning on/off SocketsHttpHandler:

[code]

I'm using the latest .NET Core 2.2.

[2019-02-17 19:45] joshudson commented on #8895
I have been significantly powering up over the past years. I can build and modify and run tests on the native code in corefx. I think I will be able to attack this problem in the next few months.

I will need to be able to depend on the Linux test harness being able to build and run a native binary used only for testing. Fundamentally, this is a `ptrace()` problem to synthesize a test case.

[2019-02-17 20:09] gdkchan opened #35384 "Consider adding a LOCK CMPXCHG16B intrinsic method"
The CMPXCHG16B instruction is required to do CAS or read of 128-bits values in memory. Currently, atomic 64-bits read and CAS is supported on .NET with the `Interlocked.CompareExchange` and `Interlocked.Read`, however the same operations are not support for 128-bits values.

I believe that the main problem is that the required instruction (CMPXCHG16B) is not supported on all CPUs, for example, it

[2019-02-17 21:34] tannergooding commented on #35369
The bug was in the original native implementation of Grisu3/Dragon4. It was resolved when I ported the code to a managed implementation here: https://github.com/dotnet/coreclr/pull/19999

Still digging down to determine what the fix was, but it was likely this: https://github.com/dotnet/coreclr/pull/19999#discussion_r217986291

[2019-02-17 21:58] hognevevle commented on #35376
It appears some changes has been made on the endpoint side (GoDaddy), and I can no longer reproduce this either. It definitely wasn't returning a 403 before, instead it was failing on a SSL/TLS level.

Closing for now. Will see if I can reproduce with a different endpoint, in which case I'll reopen the issue.

[2019-02-17 22:04] hognevevle commented on #35376
@pwiens To me your issue sounds related to your environment, rather than a .NET issue. Will a simple `curl https://pypi.org/pypi/flake8/json` work from the build server?

[2019-02-17 22:18] ycrumeyrolle opened #35385 "Utf8JsonWriter does not respect RFC8259"
The RFC8259 define as follow the character escaping:
https://tools.ietf.org/html/rfc8259#section-7

Meaning that the escaped characters MUST be %x00-19 / %x22 / %x5C

Currently, the `Utf8JsonWriter` is escaping too much:
unescaped = %x00-19 / %x22 / %x26 / %x27 %x2B / %x3C / %x3E / %x5C / %x61 / %x7F / %x80-FF

If the reason is for security, you may propose as a `JsonWriterOptions` a strict charac

[2019-02-17 22:34] ycrumeyrolle opened #35386 "Allow to get string as a byte array/ROS<byte> from the Utf8JsonReader"
The `Utf8JsonReader` allow to read a string with the method `.GetString()`.
This method will unescape the characters thanks to `JsonReaderHelper.Unescape()`

It is possible to read a byte array representing a string with the couple ValueSequence/ValueSpan, but the characters will not be escaped.

For performance reason, it would be great to have an option to read a string as its byte array/ReadOnl

[2019-02-17 22:40] davidfowl commented on #35386
cc @ahsonkhan

[2019-02-17 22:50] jduncanator commented on #35384
Thinking about this a little, a more appropriate signature might be one using an out parameter for the old value, something like:

[code]

This would consolidate both `InterlockedCompareExchange16Bytes` and `InterlockedCompareExchange16BytesEqual` into a single method that covered both use cases.

This would be fairly trivial to implement, as both the comparand and the "old value" (read from desti

[2019-02-17 23:13] Wraith2 commented on #34414
I've almost got this written but something caught my attention in the code you posted, there's no escaping. If you used a type name which required the [ ] because it had a space for example that should generate an invalid name shouldn't it? something like `dbo.Type With Space` when it should be `dbo.`Type With Space]`.

[2019-02-17 23:18] ycrumeyrolle commented on #35385
The following RFC is impacted by the current behaviour:
https://tools.ietf.org/html/rfc8417#section-2.4

The JSON  {"typ":"secevent+jwt","alg":"none"}  should be represented as: eyJ0eXAiOiJzZWNldmVudCtqd3QiLCJhbGciOiJub25lIn0 (Base64-URL representation)

Currently it is represented as:
eyJ0eXAiOiJzZWNldmVudFx1MDAyYmp3dCIsImFsZyI6Im5vbmUifQ

[2019-02-17 23:25] jduncanator commented on #35381
As far as I know, most collection types use `int` for the indexers, so even if you could have more than 2^32 items in them, you wouldn't be able to index into them properly. (This is the case for `Array`, `ICollection`, `IList` and many more).

Whilst I can see the hash collision benefits of having a 64-bit hash instead of a 32-bit hash, there are custom implementations out there for `GetHashCode`

[2019-02-18 00:35] Wraith2 commented on #35380
I think you missed the definition for `IHeapNode`

[2019-02-18 00:38] tannergooding commented on #35369
I was able to confirm that the the issue in the netcoreapp2.1/netcoreapp2.2 native code is https://github.com/dotnet/coreclr/pull/19999#discussion_r217986291

Fixing the issue (changing the relevant line from `memset(m_blocks, 0, shiftBlocks);` to `memset(m_blocks, 0, shiftBlocks * sizeof(UINT32));`) resolves the issue as it ensures the lower bits are in-fact zero.

@stephentoub, what are the chan

[2019-02-18 01:02] stephentoub commented on #35369
It's worth proposing the fix and running it through shiproom. Since the fix is so localized and simple, that gives it a higher chance of success, but it'll be helpful to understand what the real-world impact is, how many apps are likely to be affected and to what extent, etc.

[2019-02-18 03:53] tmat commented on #34008
@nguerrera Although technically breaking I think we should change the SRM behavior to match System.Reflection. Agreed?

[2019-02-18 04:03] tmat commented on #32067
@jnm2 I think you're heading the right direction. I'd be good to have a more formal API proposal with some comments on what each public method is supposed to do. Some usage samples would also help.
@nguerrera Don't we have an implementation of the parser somewhere that just needs to be cleaned up?

[2019-02-18 04:26] nguerrera commented on #34008
Yes, agreed.

[2019-02-18 04:26] tmat commented on #30823
There are many cases of invalid metadata (invalid according to the ECMA spec) that the CLR runtime metadata reader is able to read. In general, System.Reflection.Metadata is strict about following the specification. There are some exceptions, mostly in cases where the specification is contradicting itself or too vague, or if there is a important scenario that needs to be supported in practice.

Wh

[2019-02-18 04:28] tmat commented on #30823
Removing "bug" label. The current behavior is by design as the source of truth for SRM is not the CLR metadata reader but the ECMA specification.

[2019-02-18 04:38] nguerrera commented on #32067
Yes, @davkean wrote one that can be seen here:
https://github.com/dotnet/corefx/pull/1243

It's been a long time, but IIRC there were a lot of allocations that needed to be reduced.

I believe there's an issue tracking the spec for this as ECMA-335 doesn't. That change includes a proposed grammar.

It would be interesting to compare the System.Reflection one referenced above. In theory they could

[2019-02-18 04:39] nguerrera commented on #32067
Wrong link, one second.

[2019-02-18 04:40] tmat commented on #30823
The ECMA spec mentions the value but doesn't specify meaning or whether the code is followed by any other bytes, so that's not at all useful.

Another question that we need to ask is how stable is the meaning of this element type? Does the CLR guarantee that it's not gonna be changed in the next version. I don't think that's the case. Unless such a guarantee is given, System.Reflection.Metadata AP

[2019-02-18 04:43] nguerrera commented on #32067
Fixed the link. Deleting these comments.

[2019-02-18 04:46] jkotas commented on #30823
In fact, the encoding of `ELEMENT_TYPE_INTERNAL` did change at least once in the history of .NET Framework.

[2019-02-18 05:11] tmat commented on #30823
@jkotas Thanks for info. Closing as "by design".

[2019-02-18 05:11] #30823 closed

[2019-02-18 05:14] tannergooding commented on #35369
The real world impact is likely for serialization code, which often uses `G17` to workaround the fact that `R` doesn't actually roundtrip (prior to netcoreapp3.0).

Any app that has a number that hits this bug will get a string that parses back to a result that is off by at least 1ULP. (unit in last place). I'll try to do some analysis to determine if there is a certain category of inputs that wil

[2019-02-18 05:17] davkean commented on #32067
I think I wrote the tests that compared results and "bugs" in Reflection.

[2019-02-18 05:32] geoffkizer opened #35387 "HTTP2: Improve performance impact sending WINDOW_UPDATE frames"
Currently, we are sending a WINDOW_UPDATE frame every time the user reads from the response stream. Sending a WINDOW_UPDATE frame has nontrivial perf cost, so we should try to be smarter about this.

This shows up in simple perf tests for HTTP2. For concurrency level = 1, just disabling WINDOW_UPDATE entirely increased throughput from 9368 to 11549 req/s.

In particular, we should:
(1) Defer sendi

[2019-02-18 05:37] geoffkizer opened #35388 "HTTP2: Adapt stream window size based on user consumption"
[EDIT] Pipelines has some logic already to reach an optimal receive window -- should we leverage that?

Currently, our stream-level response window is 64K (the default). This is probably too small for many scenarios, and will end up stalling the server as it sends response data.

We should increase this, but it's not clear what the right amount is. Further perf investigation is needed here.

As pa

[2019-02-18 06:45] code2mars opened #35390 "HttpClient class throws System.Net.InternalException when custom SSL certificate is added to the related HttpMessageHandler"
.NET Core app throws below exception when tired to use a manual SSL certificate option. The same code works works in .NET Framework. Also the same code works with .NET Core runtime on windows server 2016 version. Not sure what's going on.

**.NET Core Runtime: 2.1.5**
**OS Version: Windows 10 1803 (build 17134.523)**

   at System.Net.SecurityStatusAdapterPal.GetSecurityStatusPalFromInterop(SECURI

[2019-02-18 07:58] hognevevle commented on #35376
@davidsh Looks like I can still reproduce with the same endpoint under sso.ote-godaddy.com. I've edited the initial code sample.

Could you please try again?

[2019-02-18 08:30] stevejgordon opened #35391 "HttpClient Recommendations in High-Perf, Low Allocation Scenarios"
This is not a bug report but more of a question to review usage guidance of handling request and response data for HttpClient. After discussing offline with @karelz we agreed it might be worth making a public issue to see where this leads!

The scenario I am focused on is using high-performance, low allocation features to reduce overhead if high volume data processing service workers. For example,

[2019-02-18 09:05] mgravell opened #35392 "semaphoreslim"

[2019-02-18 09:05] #35392 closed

[2019-02-18 09:05] mgravell commented on #35392
dammit, that wasn't search! please delete me

[2019-02-18 09:12] marek-safar commented on #35319
Sorry, I didn't fully check the files layout. Xamarin.Android does not provide this library at all which is why you get this warning/error.

We need to remove Xamarin TFM from SupportedFramework of System.Runtime.Caching (https://github.com/dotnet/corefx/blame/master/src/System.Runtime.Caching/pkg/System.Runtime.Caching.pkgproj) to avoid this error.

@danmosemsft @karelz who does own that part^ no

[2019-02-18 09:19] mgravell opened #35393 "SemaphoreSlim has avoidable sync-over-async that can cause spiral of death; discussion of potential fix"
Currently, the **synchronous** `SemaphoreSlim.Wait(...)` path includes, in some cases, a sync-over-async:

[code]

Specifically, it does this if the `SemaphoreSlim` is being used by a combination of sync/async consumers (`m_asyncHead != null)`).

Under load in a brief spike, this can cause an avoidable spiral of death: I have proc-dumps with 650+ threads stuck in the `Wait()` => `Task.SpinThenBloc

[2019-02-18 09:20] mgravell commented on #35393
(/cc @stephentoub)

[2019-02-18 09:22] dehghani-mehdi commented on #35319
@marek-safar don't worry, thanks for your time.

I replaced `System.Runtime.Caching` with `Microsoft.Extensions.Caching.Memory`, and seems works almost the same as `System.Runtime.Caching`. I'm just worry about package size, `Microsoft.Extensions.Caching.Memory` have some dependencies.

[2019-02-18 09:31] GSPP commented on #33396
Would it be a good idea to make the message include the index in non-optimized methods only? For debug mode.

Or, make VS show the index as part of the exception popup. NullReferenceException has a feature to show what exactly was null, which is awesome. Especially for inexperienced developers who have not yet learned to debug in a systematic way.

[2019-02-18 11:03] ostorc commented on #32905
@ahsonkhan should I add IEquatable<T> to ReadOnlyMemory<T> or is thing for another issue?

[2019-02-18 11:10] stephentoub commented on #35393
Thanks, but I'm missing something. In what situation would a different Monitor-based blocking mechanism not incur the same spiral you refer to? Your proposal might save a bit of overhead when there are both sync and async waiters, but how would it avoid the starvation? Can you share a repro?

[2019-02-18 11:12] stephentoub commented on #35393
Ah, you're saying that rather than queuing the "release", that would be done synchronously via Pulse.

[2019-02-18 12:16] mgravell commented on #35393
@stephentoub  exactly; so there is no need for a QUWI during `Release` when the next waiting item is from the `Wait` path rather than `WaitAsync`, and hence no additional worker activation needed to release the item in the success case; in the failure case, the Wait(timeout) deals with it. I have a working implementation of this approach in a `MutexSlim` that I've put together to get around the pr

[2019-02-18 12:35] mgravell commented on #35393
@stephentoub as an alternative fix that is less risky: leave most of the code unchanged, including the Task usage. But: track whether a node in the tree has come from sync Vs async routes. If it came from the sync path, use direct completion rather than QUWI: we know who the awaiter is (we have met the enemy, and they are us), and we know it not configured to steal our thread.

[2019-02-18 12:43] stephentoub commented on #35393
Yes, that's what I'm planning to do.

[2019-02-18 13:00] wboevink commented on #32752
We're also having the same issue. With NetCore, EFCore and an Azure SQL db

[2019-02-18 14:17] janvorli commented on #32174
cc: @stephentoub - the number of times we call `ioctl` is huge w.r.t. the fact that the code just moves the cursor left 60 times.
Running it locally and extracting more details on which `ioctl`s we run:
* 904 `TCGETS`
* 360 `TCSETS`

I've experimented with modifying the code to get even more details:
* After removing the call to `move()` between the `Console.Write` and `Console.WriteLine` calls, t

[2019-02-18 14:30] MBODM commented on #34983
Since it's more than 2 weeks now, but at least the issue is still open, i just carefully may ask:

Any answers ? Nobody ?

:)

I am just not sure, if it is really safe here, to not dispose the HttpContent.

[2019-02-18 14:44] Timovzl opened #35396 "ImmutableList of ValueTuples goes haywire on indexed access"
Suppose we make an `ImmutableList<T>` of a `(string, string)` ValueTuple:

    private ImmutableList<(string Key, string Value)> Pairs
        = ImmutableList.Create(new[] { ("One", "Two") });

Access through `First()` is no problem:

    var tupleFirst = this.Pairs.First(); // ("One", "Two")
    var keyFirst = this.Pairs.First().Key; // "One"

Indexed access, `[0]`, seems fine until we access the

[2019-02-18 14:51] ssa3512 commented on #34414
I want to say that the names stored in r[colnames] are escaped before that point. I seem to remember seeing [] around the names when writing the workaround for this issue in my application.

[2019-02-18 15:04] ViktorHofer commented on #34957
FWIW the ability to inject a script to the test runner script, i.e. to test under different JIT stress modes, is possible: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.CoreFxTesting/build/core/Core.targets#L107-L114. The problem with that approach is that this has to be injected at build time of the scripts, which happens in corefx when building the test assemblies

What optio

[2019-02-18 15:51] jkotas commented on #34957
Setting env variables is not enough. We want to be able to do things like compile the test using AOT compiler; and then run it.

The test harness in the CoreCLR repo knows the path to the runtime that it wants to run the test against.

[2019-02-18 15:54] ViktorHofer commented on #34957
Sounds like you don't use/need the RunScript.bat/sh files that we generate in corefx. Is that correct?

[2019-02-18 16:07] jkotas commented on #34957
Correct.

Also, we need to be able to amend the xunit command line options with the tests that are failing (e.g. because of CoreCLR and CoreFX are out of sync temporarily). Here is what the building of xunit command line arguments looks like in CoreCLR today:
https://github.com/dotnet/coreclr/blob/master/tests/src/Common/CoreFX/TestFileSetup/Helpers/TestRunHelper.cs#L130

Do all XUnit tests in Cor

[2019-02-18 16:21] loop-evgeny commented on #28132
I'm now trying out self-contained deployment and have no idea how to get the .NET Core version included with the deployed application - either at runtime or by inspecting the binaries.

[2019-02-18 16:28] jkotas commented on #35370
cc @GrabYourPitchforks

[2019-02-18 16:35] ViktorHofer commented on #34957
Does it make sense to add switches/tweaks so that both coreclr and mono could use the script that we generate? Adding support for an rsp file in the test directory / some other place is straightforward.

Looking at https://github.com/dotnet/coreclr/blob/master/tests/src/Common/CoreFX/TestFileSetup/Program.cs#L118 it seems like you pass in the path to the dotnet host that you want to use. Why not j

[2019-02-18 16:42] jkotas commented on #34957
What do you mean by the "binplace the coreclr/mono live build assets into the runtime folder that we send with the payload"?

[2019-02-18 16:52] ViktorHofer commented on #34957
Our runtime folder includes everything (and as you noted, too much) required to run our tests. Assets that corefx doesn't produce live but are included in the runtime directory are either support assemblies like xunit.* or runtime assemblies like coreclr.dll and others. Hence why not overwrite the distributed runtime assets with the live built ones and run the tests the way they are intended to be

[2019-02-18 17:01] 0xd4d commented on #35396
Sounds like https://github.com/dotnet/roslyn/issues/29951

[2019-02-18 17:06] jkotas commented on #34957
We need to be able to run the tests against a shipping runtime installed in a read-only global location; without copying random junk to that global location. It is how the tests are meant to be run - everybody else does it that way.

The CoreFX testing has a hole today: As far as I know, we never run the tests against a shipping product today, and we were pretty close to shipping broken bits multi

[2019-02-18 17:09] davidsh commented on #35390
Since you are creating a client certificate manually using code:

[code]

that raises the question of is the private key encoded in that?  And what permissions are being given to the private key.  Most times, errors like this are due to problems accessing the private key of the X509Certificate2 object.

Some experiments you can try include importing the X509Certificate2 object into the per-user Pe

[2019-02-18 17:17] ViktorHofer commented on #34957
Right, which is tracked by https://github.com/dotnet/corefx/issues/33958.

Got it. To get a bigger picture, please try to answer the open question from above: Could coreclr and mono use the test run script that we generate instead of the custom bootstrapping logic that is currently happening in coreclr? The first argument of the script is the runtime directory, means you can point to that crossgen

[2019-02-18 17:23] jkotas commented on #34957
I do not think it is desirable. It is common to customize the test invocation heavily for different stress modes of the runtime. If the corefx test script is used to invoke the tests, there will be trend to move the customization to corefx repo that is a wrong place for it to live.

[2019-02-18 17:26] jkotas commented on #34957
It is ok with me to include the .cmd to invoke the test in the payload so the places where it works fine can just use it. It is small so it is not a big deal. I am just saying that we should be trying to force all places to use it.

[2019-02-18 17:39] ViktorHofer commented on #34957
Ok now we are getting to the base. At the end of the day what you need is just the output of all test assemblies (test library, runtimeconfig, test assets) and preferably also the support assemblies to run the tests (xunit)?

[2019-02-18 17:54] jkotas commented on #34957
That sounds about right.

[2019-02-18 18:00] davidsh commented on #35376
Thanks for redoing the repro sample.  I am able to reproduce the hang in .NET Core when you use the default SocketsHttpHandler.  If you use the AppContext switch and turn off SocketsHttpHandler, then I see that an exception being generated (due to missing the proper client TLS certificate).  I also see the proper exception when I run the sample in .NET Framework.

The problem is a bug in .NET Core

[2019-02-18 18:00] davidsh commented on #35376
@geoffkizer @karelz

[2019-02-18 18:58] davidsh commented on #35376
I've reduced the repro for this endpoint:

[code]

This code will throw an exception when it gets to this line:

[code]

The exception is:
[code]

The "Win32Exception: The message received was unexpected or badly formatted" is coming from the SslStream object.  Basically, this confirms the receipt of the TLS alert "IllegalMessage" caused by the lack of the client certificate.

So, the bug is proba

[2019-02-18 20:12] stefanforsberg commented on #27232
A kubernetes ConfigMap is using symlinked files and I'm thinking that this issue might be what's causing a reloadOnChange to not trigger when the ConfigMap is changed.

[2019-02-18 21:04] code2mars commented on #35390
Thanks @davidsh that did the trick. Importing the certificate into the personal store has fixed the issue and it is working now 👍. So even when we use the manual certificates it is required to install them to the account personal store? And why this security model/validation is different from .NET Framework model?

[2019-02-18 21:31] JustArchi commented on #27232
If the file/folder being listened is a symlink, you have 100% chance to run into this bug, at least on Linux, very likely also OS X. I didn't test Windows.

[2019-02-18 21:32] davidsh commented on #35376
Another interesting thing with this endpoint is that it behaves differently than other endpoints that request TLS renegotiation with client certificates.  When I test this against an IIS server where a subfolder needs client certificates, I don't get a TLS alert.  I simply get back a 403 HTTP response because I didn't send a client certificate.

And browsing to that URL (https://sso.ote-godaddy.co

[2019-02-18 22:53] ericsampson commented on #24652
@darrelmiller that's exactly the kind of thing we see too, it's one of those things that seems 'easy' to start with string concat but then as requirements (and/or code duplication) grows everyone either rolls their own utility lib or pulls in a dep :)

[2019-02-18 23:07] davidfowl opened #35400 "API Proposal: Implement IBufferWrite<byte> on MemoryStream"
MemoryStream is a basically a Stream wrapper over a growable byte[], and `IBufferWriter<byte>` can be easily implemented since the semantics closely match those of the IBufferWriter (synchronous buffered writes). It'll come in handy the more types begin to consume IBufferWriter as a buffer management primitive for serializers.

[code]

cc @stephentoub @ahsonkhan

[2019-02-18 23:20] TimLovellSmith commented on #35380
@pgolebiowski

How are Update/Remove used? Do you have to remember 'node' from an earlier add or enumerate the nodes to find the one to update? Is it really meant to take a 'key' and not a 'value' parameter?

`public void Update(PairingHeapNode<TKey, TValue> node, TKey key);`

[2019-02-18 23:26] davidsh commented on #35376
Looks like these 2 AuthenticationExceptions get thrown during the SSL renegotiation phase.  But then those exceptions aren't transferred from the Socket threadpool I/O completion callback to SslStream and the rest of the upstack HTTP layers.

System.Private.CoreLib.dll!System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
System.Net.Security.dll!System.Net.Security.SslState.StartSendAuthR

[2019-02-19 01:32] pgolebiowski commented on #35380
@Wraith2 Right, should be `PairingHeapNode`, thanks!

@TimLovellSmith Yes, you have to explicitly say which node you wish to modify. This is the only way to get O(log n) **and** to support a scenario in which there are duplicate keys with different values. When you start enumerating, you go to O(n), plus you cannot support duplicate keys.

As for why it takes a key — because a heap uses keys for o

[2019-02-19 03:14] stephentoub commented on #31307
Fixed by https://github.com/dotnet/corefx/pull/35324

[2019-02-19 03:14] #31307 closed

[2019-02-19 03:14] stephentoub commented on #35164
Fixed by https://github.com/dotnet/corefx/pull/35324

[2019-02-19 03:14] #35164 closed

[2019-02-19 03:21] stephentoub commented on #34983
The model is that you need to dispose of the response content or stream; you can but do not need to dispose of both.  The handler that creates the response content and stream is responsible for ensuring resources are appropriately cleaned up according to that contract.

[2019-02-19 03:21] #34983 closed

[2019-02-19 04:55] TimLovellSmith commented on #35380
@pgolebiowski
Ah, I see what I was misunderstanding... the key is the priority? I had been thinking of the value as the priority. That explains why you also need duplicate keys. It is the opposite arrangement of key and value when I was imagining a PriorityDictionary structure.

I think different choices of what to call a key have these different background stories:

POV a) 'key = priority' - prio

[2019-02-19 05:47] ahsonkhan commented on #32905
**Yes, you should.** We don't have a separate issue for that since the interface applies naturally to the `ReadOnly` version as well.

[2019-02-19 08:29] pgolebiowski commented on #35380
*Key* is a computer science term used when referring to maintaining order in heaps. It's used even in the first paragraphs on Wikipedia when describing heaps. And you cannot rearrange a heap in O(1), if that's what you're implying.

[2019-02-19 08:50] loop-evgeny commented on #28132
Another use case is benchmarking: I need to know what .NET Core runtime version I'm running on to see if it's the same as on the server I'm comparing against.

This use case: security updates - how do I know when I need to rebuild and re-deploy my self-contained deployment application?

[2019-02-19 08:51] loop-evgeny commented on #35361
The `Directory.GetParent(typeof(object).Assembly.Location).Name` hack is what I've been using so far, but it does not work for self-contained deployments. The runtime itself should *know* its version, not infer it from where or how it's being run.

[2019-02-19 09:13] doublnt commented on #28132
I am using the following method:
First Get the RunTime Directory:  `System.Runtime.InteropServices.RuntimeEnvironment.GetRuntimeDirectory()`
Next, Use Regex to pick up the Runtime Info and Version

[2019-02-19 10:37] vermorel opened #35403 "Slim variant of MemoryMappedFile"
The API of [MemoryMappedFile](https://docs.microsoft.com/en-us/dotnet/api/system.io.memorymappedfiles.memorymappedfile) was design before `Span<T>`.  As a result, it's difficult to operate over memory-mapped files without creating GC pressure. Indeed, the [MemoryMappedViewAccessor](https://docs.microsoft.com/en-us/dotnet/api/system.io.memorymappedfiles.memorymappedviewaccessor) is a class, and the

[2019-02-19 11:10] loop-evgeny commented on #28132
@doublnt That doesn't help for self-contained deployments. `GetRuntimeDirectory()` then returns the directory containing the EXE (which is correct - that's where the runtime is).

[2019-02-19 11:23] simonferquel opened #35404 "SocketsHttpHandler should support custom Dialers"
# Summary
The current `SocketHttpHandler` implementation cleanly separates the HTTP grammar to the actual TCP connection handling. However, while `Kestrel` on the server side allows to expose a service over non-TCP protocols such as Unix Sockets (and probably named pipes as well on Windows), the `HttpClient` does not provide such functionality.
As the `SocketHttpHandler` main logic only depends on

[2019-02-19 11:24] simonferquel commented on #35404
ping @karelz, @stephentoub

[2019-02-19 12:52] jeroen-mostert commented on #5114
I'm working on a tool that is heavily invested in bulk copying terabytes of data, and deferring to `bcp` is vastly less efficient/impractical because of the requirement of streaming everything to disk first. The lack of support for an `ORDER` hint hurts me a lot, because the intermediate tempdb sorts measurably slow down things. The obvious alternative is SSIS, but Integration Services has its own

[2019-02-19 12:53] jonathanpickard commented on #30733
Hello,

I've upgraded to VS 2019 Preview 3 and the latest .Net Core Framework Preview.  I've also added the latest SqlManagementObjects package but the error exception message hasn't been fixed.  I've even added the latest SQL client library.  Here are all of the package references in my project, followed by the error message:

Id                                  Versions

[2019-02-19 13:54] SCTIT commented on #35375
Thanks karelz and stephentoub, I have fix this problem.

[2019-02-19 13:54] #35375 closed

[2019-02-19 14:17] bartonjs commented on #35404
Our current API guidance says to not use tuples in public API.  (Either make a named struct, or make a custom delegate type to use an out parameter)

I didn't personally find the `int` parameter obvious as port until seeing an example, which makes me wonder if a custom delegate is beneficial anyways.

[2019-02-19 14:28] simonferquel commented on #35404
@bartonjs The more I think about it, the more I think introducing a custom delegate makes sense for parameter naming. Introducing a struct for the result of the Dialer, with a constructor taking only a Stream would certainly make things more obvious (about optionality of the Socket return value).

Wdyt ?

[2019-02-19 14:29] stephentoub commented on #35404
A few thoughts:
- One property for this is much better than two, both for usability and for the implementation (it has to check both, it's otherwise ambiguous which should be used if both are set, etc.)
- "Dialer" isn't a great name here.  This should instead be something like "ConnectCallback" or "OpenConnectionStreamCallback" or something along those lines, to map to the other callbacks already

[2019-02-19 14:30] loop-evgeny opened #35409 "dotnet-runtime-deps-2.1 does not install all prerequisites (libcurl4 and libkrb5-3 are missing)"
When trying to use `HttpWebRequest` in a self-contained .NET Core 2.1.8 application running on Ubuntu 18.04 I got the following exception:

[code]

This was fixed by installing the packages listed at https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x under "Ubuntu".

The machine had the dotnet-runtime-deps-2.1 APT package installed and I expected that to take care of i

[2019-02-19 14:51] stephentoub opened #35410 "Change NetworkStream.Socket property from protected to public"
NetworkStream currently has a `protected Socket Socket { get; }` that allows a derived type to access the underlying socket.  It's valuable in some situations however for an arbitrary consumer of NetworkStream to have direct access to the Socket, e.g. we need to work around the lack of this in SocketsHttpHandler, which needs to fish out the underlying socket from the stream if at all possible.  We

[2019-02-19 14:55] simonferquel commented on #35404
@stephentoub thanks, updated the ProposedAPI with your suggestions.

[2019-02-19 15:50] #33696 closed

[2019-02-19 17:13] YairHalberstadt opened #35414 "System.Reflection.Emit Nuget package still missing APIs on .Net Standard 2.0"
I'm currently looking into targeting .Net Standard for Iron Python: https://github.com/IronLanguages/dlr/issues/175

Some of the required Reflection.Emit APIs are missing from the System.Reflection.Emit nuget package when targeting .Net Standard 2.0, such as `DynamicMethod` and `TypeBuilder.CreateType()`. However they exist in both .Net Core and .Net Framework, and I believe it was decided in http

[2019-02-19 17:26] danmosemsft commented on #35319
@KKhurin owns S.R.C.

[2019-02-19 17:53] YairHalberstadt commented on #35414
Ok, digging into this a little more:

The relavant APIs still need to be added to https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Emit/ref/System.Reflection.Emit.cs
and tests added, similar to https://github.com/dotnet/corefx/issues/30355.

Also the Nuget Package still hasn't been updated to reflect existing changes, such as the inclusion of `TypeBuilder.DefinePInvokeMethod`. Is

[2019-02-19 18:10] vcsjones commented on #35403
I have an API proposal that is approved that I am going to pick up soon to get some progress to `MMVA` working with spans over at #33279.

The end goal would be for `UnmanagedMemoryAccessor` to to expose a similar API that uses the `SafeBuffer` APIs. That would eventually end up with an API like `ReadSpan` and `WriteSpan` that allow reading and writing spans of data.

Would that suit your needs?

[2019-02-19 18:18] TimLovellSmith commented on #35380
No there is no need to rearrange the heap. I adopt your key terminology here, and introduce a new term 'Id'.

Suppose each element or 'value' in the heap has a unique Id. Then you can have a Dictionary<Id, PairingHeapNode> 'entries' inside the implementation of PairingHeap, and every time a value is added to the heap, you just add an entry: entries[item.Id] = newNode;

Then it is easily possible t

[2019-02-19 18:21] TimLovellSmith commented on #35380
I have a feeling it might be easier to implement the 'Merge' API if it returns a `PairingHeapNode<>` instead of `void`. As the implemention would change one node/tree to be child of the other, but its not obvious in advance which.

[2019-02-19 18:21] jtillman commented on #34372
IMO, the deserialization calls should implement 'TryRead'. Since the json attempted to be deserialized typically comes from external sources, serialization exceptions are expected to be a common occurrence. If we place deserialization at the edge of a protocol, then the try/catch pattern will cause a noticeable amount of performance (time) to serve the request due to exception catching.

[2019-02-19 18:25] ericstj commented on #34254
/cc @safern  I just hit this when trying to build with VS 2019.

[2019-02-19 18:31] TimLovellSmith commented on #35380
I think there should be a specific DeleteMin oriented API call because it can be implemented more optimally. e.g.  `public PairingHeapNode<TKey, TValue> node RemoveMin();`..

Instead of the general purpose Delete API would be OK, but in addition to it seems more user-friendly.

For an empty heap, should RemoveMin throw or return null? I am thinking 'throw'.

There's an additional fringe benefit -

[2019-02-19 18:34] safern commented on #34254
We now specify the minimum version in the docs :smile:

https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md#required-software

Assigning myself.

[2019-02-19 19:01] vermorel commented on #35403
The requirements we have are:

* the accessor is not a `class` but a `struct` or a `ref struct` (to avoid GC pressure)
* `Flush` is matching the section of the accessor - instead of flushing the whole MMF.

Thanks for your follow-up!

[2019-02-19 19:19] geoffkizer commented on #33846
@stephentoub was looking at some issues re SSL handshake on Linux. I believe we have some inefficiencies here.

[2019-02-19 19:23] stephentoub commented on #33846
What OS is this?

And why are you setting the pooled connection timeouts to 0?

We do have a perf issue with creating SSL connections on Linux:
https://github.com/dotnet/corefx/issues/35086
https://github.com/aspnet/AspNetCore/issues/7081

[2019-02-19 19:29] YohDeadfall commented on #35145
From https://github.com/dotnet/corefxlab/pull/1859#issuecomment-347247889 by @jaredpar:

Even if there is no generic range planned it makes sense to rename the type to prevent further confusion.

[2019-02-19 19:31] davidsaldana commented on #18276
Man, hopefully AE support gets rolled out soon. We need this big time...

[2019-02-19 19:34] geoffkizer commented on #35404
Related discussions:
#27949
#23426

[2019-02-19 19:35] geoffkizer commented on #35404
FYI, "dialer" is a term used in Go. I don't love it either, just providing context.

[2019-02-19 19:39] grant-d opened #35419 "Proposal: Expose existing BitOps methods"
In a series of recent PRs ([LZCNT, LOG2](https://github.com/dotnet/coreclr/pull/22497), [TZCNT](https://github.com/dotnet/coreclr/pull/22333), [ROTL/R, POPCNT](https://github.com/dotnet/coreclr/pull/22584)) we consolidated and perf-tuned a basic set of bit-twiddling routines into a `coreclr` `internal static class`.
The ask is to expose these methods as `public` in `corefx` (via ref assembly).

##

[2019-02-19 19:39] YohDeadfall opened #35420 "Generic range type"
Related to #35145 and #25220.

# Motivation

There were a lot of discussions about adding range support to .NET and the C# language. As a result of them there is the `Range` type which is an index range actually, but not generic version. In C++ there is a range library which is designed for the same purposes. So I think it would be very useful to have a common generic range type in .NET.

# Propos

[2019-02-19 19:43] danmosemsft commented on #7270
I'm going to close this since the results are extremely obsolete. If others want to perform this run, please do open a new issue.

[2019-02-19 19:47] danmosemsft opened #35421 "FailFast in Ping"
-2146232797 == COR_E_FAILFAST. Ping status is `Free` when it is asserted to be `InProgress`

Not obvoius there would be bad consequences in release, however.
[code]

[code]

[2019-02-19 19:48] danmosemsft commented on #35421
This is not an outer loop test - it broke CI.
@rmkerr is Ping yours?

[2019-02-19 19:54] rmkerr commented on #35421
I haven't worked on it before, but I'm not sure we have a designated owner. @wfurt, is this related to any of your recent ping work?

[2019-02-19 19:56] davidsh commented on #35421
Looks like a dupe of #35351

[2019-02-19 19:56] srutzky commented on #5114
Hi @jeroen-mostert . Yes, dynamically discovering the clustered index column order is more work, but not that much given what the code is already doing. It *could* be as simple as adding the query noted in my second comment above as a new, 4th query in the `TDSCommand` string. It would be done just prior to the following line:

https://github.com/dotnet/corefx/blob/1fd3ba126538c2fed76d2279db26dc7b

[2019-02-19 20:14] crowo commented on #16799
isnt it better to do a dummy interlocked operation instead of this? i think i need to investiagate what it does more closely.

[2019-02-19 20:22] stefanforsberg commented on #27232
We're running our dotnet core application on a alpine docker image so I'd say with high certainty that we run into the bug you describe above. By some magic chance you haven't figured out any workarounds? Long shot I know, but I had to ask =)

[2019-02-19 20:31] jeroen-mostert commented on #5114
This is true only if we're allowed to assume the clustered index doesn't change. Imagine for a moment it did change: code that passes an `ORDER` hint will not fail if it actually passes the rows in the order specified -- it will incur a sort step, but that's a performance regression, not a functional regression. (It could be really bad to the point where it effectively is a functional regression,

[2019-02-19 20:49] wtgodbe commented on #33275
@ericstj @safern is this still an issue with the changes to the config system?

[2019-02-19 20:56] wtgodbe commented on #29549
@ericstj @ViktorHofer @safern should we think about doing this in Arcade?

[2019-02-19 20:56] davidsh opened #35422 "HTTP2: Cookie tests randomly failing"
I've seen this on multiple PRs and on some of my Linux VMs / WSL machines.

Tests failing:
System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Cookies_Http2

* GetAsync_ReceiveSetCookieHeader_CookieAdded()
* GetAsync_SetCookieContainer_CookieSent()

The tests appear to fail with HttpRequestException.  There is no inner exception shown.  However, debugging shows that the failure is due to an Ob

[2019-02-19 20:58] davidsh commented on #35422
Initial analysis from @stephentoub

"That suggests that Http2Connection.CheckForShutdown was called and made it to the end, resulting in _writerLock.Dispose() getting called, and then code subsequently tries to use _writerLock."

[2019-02-19 21:00] wtgodbe commented on #29495
Closing as dup of https://github.com/dotnet/corefx/issues/29331

[2019-02-19 21:00] #29495 closed

[2019-02-19 21:02] GrabYourPitchforks commented on #34822
@terrajobst Given that there's some pushback against introducing `Utf8Char` right now, can we do this for the UTF-8 overloads so that we can get something in?

[code]

[2019-02-19 21:09] davidsh commented on #35422
I submitted PR #35423 to improve the diagnostics.  So, after that PR is merged, any failures here will always show the inner exception (i.e. ObjectDisposedException).

[2019-02-19 21:11] jeroen-mostert commented on #5114
Splitting this off to its own comment because editing of the previous one got out of hand; that should be stable now. :-)

The order can't be determined until `.WriteToServer` is called, when we know the `.DestinationTableName` (the weird inconsistency between non-essential options set in the constructor and essential options being set in properties after construction is another peeve of mine -- b

[2019-02-19 21:12] ViktorHofer commented on #33275
No this is issue still applies but I don't see any immediate action necessary. At some point @ericstj will overhaul the existing configuration system and that issue should go away with it.

[2019-02-19 21:21] MBODM commented on #34983
Thx Stephen for your time! I am sure as hell, a Stephen Toub has stuff to get done, that is way more worth his time, than this shit :) So, thx for the comments.

That said, the answer is very disappointing. Because wether this answers which one will dispose that MemoryStream above, that is used inside HttpClient and which is disposed in the Dispose() method of the HttpContent (which no one will ev

[2019-02-19 21:22] jkotas commented on #16799
It depends on the ratio of reads and writes of your datastructure. E.g. if you are doing million reads for every write, using this API is a win - million dummy interlocked operations is more expensive than a single call to this API.

[2019-02-19 21:26] geoffkizer commented on #35422
The timing issue is as follows:

SendHeadersAsync takes the writer lock and sends the headers
We receive a GOAWAY and the full response, causing CheckForShutdown to dispose the writer lock
SendHeadersAsync releases the writer lock, which now throws because it was disposed

We need to somehow defer disposing the writer lock until we know that no one is using it.

@rmkerr, this is related to your PR

[2019-02-19 21:28] geoffkizer commented on #35422
All that said, I sort of wonder if we actually need to dispose the writer lock here at all. We are only using it asynchronously, so presumably no kernel handle is ever allocated. @stephentoub thoughts?

[2019-02-19 21:32] davidsh commented on #35422
This problem reminds of another issue we have (unrelated to HTTP2) but dealing with disposing an object while another object is using it.

I wish .NET had reference counting semantics similar to COM, i.e. AddRef(), Release().  Because if it did, then Dispose() would work like that, i.e. doing a Release().  But the actual object wouldn't be destroyed until all callers did a Release() of it.

[2019-02-19 21:54] 0xd4d commented on #35414
Did you try the latest preview: 4.6.0-preview.19073.11 and System.Reflection.Emit.Lightweight (for DynamicMethod)? TypeBuilder.CreateType() -> TypeBuilder.CreateTypeInfo()

[2019-02-19 21:55] jkotas commented on #35419
Should `Log2` return `int`?

[2019-02-19 21:56] stephentoub commented on #35422
Technically there's no need to dispose of it.  The only meaningful thing SemaphoreSlim.Dispose does is free the WaitHandle that's allocated lazily if you access SemaphoreSlim.AvailableWaitHandle, and we're not doing that.  Obviously SemaphoreSlim.Dispose could change in the future to make it more meaningful to Dispose, but it hasn't changed since it was originally built, and it's probably not goin

[2019-02-19 21:57] rmkerr commented on #35422
Why not just acquire the writer lock before disposing it?

[2019-02-19 21:58] stephentoub commented on #35422
That doesn't prevent someone from trying to acquire it.

[2019-02-19 21:58] YairHalberstadt commented on #35414
@0xd4d
Yes

[2019-02-19 21:59] YairHalberstadt commented on #35414
Actually I didn't try Lightweight

[2019-02-19 22:03] sandreenko opened #35424 "System.Drawing.Common\tests\Drawing2D\GraphicsPathTests AssertClosedCurve fails on arm32/64."
AssertClosedCurve checks:
[code]
and it fails on arm32/64 because `AddClosedCurve` returns there a different left bottom point: `X=0.8333334, Y=0.8333334` instead of `X=0.8333333, Y=0.8333333`.

There are 3 places where this issue can be fixed (in my understanding):
1. fix `operator ==` to compare floats with epsilon:
https://github.com/dotnet/corefx/blob/383e8d6d5cabcadd9bbb726e8f9568751890ec7a/s

[2019-02-19 22:05] rmkerr commented on #35422
That makes sense. Thanks Stephen.

I agree that we have some issues with object lifetimes in the HTTP/2 code, particularly when streams or connections are closed. I don't think it's going to be super tough to fix, but it does need to happen.

[2019-02-19 22:05] geoffkizer commented on #35422
Failing on acquiring it is fine. At that point the underlying stream is closed anyway.

That said, I do agree with your larger point here:

[2019-02-19 22:08] grant-d commented on #35419
Sorry, that was a typo - the existing code does indeed return an `int`

[2019-02-19 22:11] stephentoub commented on #35422
Calling WaitAsync on a disposed SemaphoreSlim will throw an exception. That's not fine :-) Even if we were to catch it and eat it, that's a large unnecessary expense.

[2019-02-19 22:30] ericstj opened #35425 "Package harvesting doesn't account for servicing"
Today we only harvest assets from the last stable package, however its possible for us to service older releases such that the "latest package" is missing that servicing fix.  Typically we then make sure to build a new "latest" package that harvests assets from the older releases servicing package,  but this can get complicated and is completely *manual*.  We should think more about what it means

[2019-02-19 22:35] #35393 closed

[2019-02-19 22:36] GrabYourPitchforks commented on #35370
We might be able to add `ReadOnlyMemory<char>` support to `TextElementEnumerator` with minimal modification. I don't think we'd be able to add `ReadOnlySpan<char>` support given the limitations around ref structs. Would this be acceptable, or does the scenario being considered preclude the use of `ROM<T>`?

[2019-02-19 22:38] yujayee commented on #33950
@segor Thank you for reporting this issue and your suggested fix!
We've looked into this issue. `FromTypes(Type[] types)` only creates a single new TempAssembly containing all serializers while the other constructors like `new XmlSerializer(type)` will create a TempAssembly for each type. So it is more efficient in terms of memory or time especially when it comes to large number of types. Also, fi

[2019-02-19 22:41] geoffkizer commented on #35422
The exception should only happen when we race between a new request and receiving a shutdown from the server, and there's not much we can do to avoid it.

[2019-02-19 22:43] stephentoub commented on #35422
Is it that the thing we'd use to avoid it is the very lock in question?  If so I agree we simply shouldn't dispose it.  We debated in general whether to expose IDisposable on such locking primitives; in the end we ended up doing so, under the principle that you should be able to aggressively dispose of your resources, but there are also cases where it simply doesn't make sense to do it.

[2019-02-19 22:46] geoffkizer commented on #35422
I'm not sure. I think we need to review how we manage shutdown in general. It may be that not disposing the semaphore makes sense, but I don't know yet.

[2019-02-19 22:47] geoffkizer commented on #35422
BTW, we are often going to throw on shutdown because we always have a pending read and the only way to cancel it is to close the connection.

[2019-02-19 23:00] geoffkizer commented on #35422
All that said, since reworking shutdown is not trivial, we should probably just do a quick change to not dispose the writer lock so that we fix this issue. And file a separate issue for revisiting the shutdown logic.

[2019-02-19 23:04] ericstj commented on #29549
Arcade already defines most of the version suffix stuff.  It's possible that this is already taken care of by that.  Have you tested out the scenario?

[2019-02-19 23:21] TimLovellSmith commented on #35380
PS I came up with one doubt about using the paper to inform the selection of which heap implementation to use. the paper references, I have the idea they used C to implement their heap... so their evaluations probably don't let us predict impact on GC.

[2019-02-19 23:43] yujayee commented on #32145
Current parameters we support for Microsoft.XmlSerializer.Generator, we need to decide which ones we want to support in project file and in what kind of format:
- [ ] help

- [ ] force

- [ ] proxytypes

- [ ] out

- [ ] type

- [ ] assembly

- [ ] quiet

- [ ] nologo

- [ ] silent

- [ ] parsableerrors

- [ ] verbose

- [ ] reference

[2019-02-20 01:28] yujayee commented on #32145
An example of the project file may look like:
[code]

[2019-02-20 01:35] frbncis commented on #33774
Hi! Can I take a crack at `System.DirectoryServices.Protocols`? There's a lot of them (~65), but it looks like it's mostly elbow grease.

[2019-02-20 01:41] Wraith2 commented on #35380
Having watched several api reviews a question that comes up a lot is how the api is intended to be used, What patterns and sequences of calls you'd use. Any chance of some example usage to show the "right" way to use this?

[2019-02-20 01:42] danmosemsft opened #35434 "(System.Numerics) Cross Product for Vector2 and Vector4"
_From @micampbell on February 17, 2019 18:26_

While it is mathematically true that you can only take the cross product of vectors of length 3, there is often a need in 2D geometry to perform the cross product. This technically creates a new vector only in the out-of-plane or z-direction. But it is just as common to call such a function as it is to call the dot-product. For example, for offsetting

[2019-02-20 01:42] danmosemsft commented on #35434
_From @RussKeldorph on February 19, 2019 21:58_

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

@karelz @danmosemsft I don't seem to have permission to Transfer this to `dotnet/corefx`.  Could you move it?

@CarolEidt @eerhardt @tannergooding

[2019-02-20 01:42] danmosemsft commented on #35434
_From @tannergooding on February 19, 2019 22:30_

Unfortunately, you currently require admin permissions on both the source and destination repositories to use the built-in GitHub functionality.

[2019-02-20 01:42] danmosemsft commented on #35434
_From @tannergooding on February 19, 2019 22:35_

I think the proposal, overall, is reasonable.

Looking at a couple of other graphics oriented vector math libraries:
* Unity nor XNA/FNA provides `Cross` for `Vector2`/`Vector4`
* DirectXMath does provide `Cross` for `Vector2`/`Vector4`

[2019-02-20 01:42] danmosemsft commented on #35434
@RussKeldorph for those with contributor access to move issues, we recommend using https://github-issue-mover.appspot.com

[2019-02-20 01:51] stephentoub commented on #35404
@simonferquel, regarding https://twitter.com/sferquel/status/1097893536412979200, yes, this would only be for .NET Core.

[2019-02-20 02:30] juandrn commented on #27249
I had a similar problem but before a socket was left open and lose by time out, I don't have an example but I'll upload one

[2019-02-20 03:07] MkazemAkhgary opened #35435 "Please add this overload to BinarySearch"
This overload would be helpful to binary search based on property

[code]
both for List and Array.

currently I have to create dummy object to do the search. but this simple overload solves that problem.

[2019-02-20 03:13] stephentoub commented on #34983
I'm sorry you don't like the answer. I'm not sure how it could be better.

A few statements that have already been made:
- MemoryStream.Dispose is currently a nop.
- it's the responsibility of the handler/HttpClient creating the response to ensure the resource cleanup model is reliable.

That means that you can Dispose either or both the response and/or stream, and you're covered. If the memory st

[2019-02-20 03:38] danmosemsft commented on #33774
@frbncis sure - but we should take care, as our test coverage of that is mostly manual IIRC.

[2019-02-20 03:40] danmosemsft commented on #35421
Is not obvious to me it's a dupe?

[2019-02-20 04:18] davidsh commented on #35421
I think it is a dupe because "Invalid status: 0" is basically the same as the other error code from the other issue ("The operation completed successfully.").  Usually the "success" error codes have a value of zero.

@wfurt is working on Ping API in general and he will be the one to confirm root cause.

[2019-02-20 04:21] Thaina opened #35437 "Linq.Join with key as parameter"
Sometimes the `Join` would have a key being calculated. So it would be useful to have an overload of `Join` passing the matching key along with the value selector

[code]

Maybe the tuple version of `Join` should also use this as return value instead

[code]

[2019-02-20 05:29] Clockwork-Muse commented on #35437
Curious question:
If the derivation logic for a key is so expensive you want to pass it along with the result, would your program perform better/more consistently if you calculated/stored it in the original object?  Especially since it has to iterate through all the inner elements before it can return even the first result.

[2019-02-20 05:47] wfurt commented on #35421
The code did not changed very recently. It seems like this is failing often now. This may be old bug exposed by some environmental changes.

[2019-02-20 06:54] davidfowl commented on #15469
Closing this out since we now have ValueTask and we likely won't be adding an interface for this

[2019-02-20 06:54] #15469 closed

[2019-02-20 06:58] davidfowl commented on #20583
Not sure we need this anymore. We've made the WebSocket APIs pretty low allocation with the new ValueTask. In the future I'd like to see a lower level API that can be used with pipes that expose the underlying frames without a copy but i'll file another issue with an API proposal.

[2019-02-20 06:59] #20583 closed

[2019-02-20 07:16] mgravell opened #35441 "API proposal: lightweight task creation facility"
Problem:

When writing libraries that are heavily task-based, it is often the case that you want to create a task that your library needs to update later, out-of-band (so not a typical `async` method). Currently, the typical way of doing this is to create and hold onto a `TaskCompletionSource<T>` *in addition to* any other state you need. `TaskCompletionSource<T>`, however, is simply an object tha

[2019-02-20 08:10] simonferquel commented on #35404
@stephentoub hmm, that is bad news for Docker Desktop (which runs on the full .Net Framework, and won't easily move to .net core).
I guess I'll have to try and build the SocketsHttpHandler separately on top of .net 4.6 then (a quick pass trough the code feels like it is doable. if I could automate this, it would be great)

[2019-02-20 08:12] Thaina commented on #35437
@Clockwork-Muse Even today I could actually just select a key-value pair like this

[code]

This proposal is just for convenient and compactness, because the `Join` function itself always know the key o compare it so it should just be able to pass along

[2019-02-20 08:21] YairHalberstadt commented on #35414
@0xd4d
You're right! That should work. Thanks

[2019-02-20 08:22] MarcoRossignoli commented on #35435
Hi @MkazemAkhgary you could write a complete proposal following proposal guide https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2019-02-20 08:35] simonferquel commented on #35404
Well, not so easy at all after all, devil is in the detail.

[2019-02-20 08:40] Wraith2 commented on #35441
From what i remember of ValueTask<T> i think option 1 would be problematic. Once one caller has interacted with the field no others should and if it's part of a larger object it would be easy for people to make a mistake and do so.

[2019-02-20 08:42] mgravell commented on #35441
@Wraith2 no, that wouldn't be a problem and wouldn't be a change from how `TaskCompletionSource<T>` works today; but... this might not be needed - see next:

[2019-02-20 08:46] mgravell commented on #35441
Note: for `ValueTask<T>`-specific usage, this can be implemented using `ManualResetValueTaskSourceCore<TResult>` to create your own `IValueTaskSource`, and using a `new ValueTask<T>(yourCustomSource, token)`.

This doesn't help with existing `Task<T>` APIs, though...

[2019-02-20 09:15] fanoI commented on #35419
Why the are no SetBit(), InsertBit() and ExtractBit()?

[2019-02-20 10:09] YairHalberstadt commented on #35414
Before I close this issue, could I have clarity on what the differences are between the prerelease package, which is after the relisting, and the stable package which is before the relisting?

If I use the stable packages, will the methods throw a PNSE on AOT? What about the prerelease?

[2019-02-20 11:17] stevejgordon commented on #35391
A related query I also have is around any plans for HttpClient and related types to support low-alloc scenarios where we want to get lower-level and pass data as Span<byte> etc. I'm also thinking about scenarios where if possible I could send headers without allocating strings. I've not dived into the internals of HttpRequestMessage etc to know if this is simply a daft idea.

I'm playing with some

[2019-02-20 11:36] YairHalberstadt commented on #35414
I can confirm that the methods throw a PNSE on the prerelease, but not the stable.

[2019-02-20 11:36] #35414 closed

[2019-02-20 11:49] YairHalberstadt opened #35443 "Unhelpful error message when using System.Reflection.Emit on UWP"
System.Reflection.Emit preview throws an exception when used on UWP in Release build:

Following the link gives you this suggestion:

However running the debug build, Emit is supported, so no exception occurs!

[2019-02-20 13:21] ViktorHofer commented on #24522
Closing in favor of https://github.com/dotnet/corefx/issues/16629

[2019-02-20 13:21] #24522 closed

[2019-02-20 13:24] ViktorHofer commented on #23197
Closing in favor of https://github.com/dotnet/corefx/issues/16629

[2019-02-20 13:24] #23197 closed

[2019-02-20 13:26] ViktorHofer commented on #28132
Closing in favor of https://github.com/dotnet/corefx/issues/16629. A hacky solution would be using what https://github.com/dotnet/corefx/pull/35436 offers.

[2019-02-20 13:26] #28132 closed

[2019-02-20 13:43] ViktorHofer commented on #16629
I closed couple of related issues as duplicates. I agree with "ghost" (https://github.com/dotnet/corefx/issues/16629#issuecomment-388003268) that we should initially focus on bringing over what `Microsoft.DotNet.PlatformAbstractions.RuntimeEnvironment` offers: https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.DotNet.PlatformAbstractions/RuntimeEnvironment.cs#L14-L31.

[code]

[2019-02-20 13:45] loop-evgeny commented on #16629
Why is "RuntimeVersions" plural? Can an app be using multiple runtime versions? If so, how?

Also, please don't make the users parse the actual version number out of a string like "NETCore.App 1.0.4". It's better than nothing, of course, but it would be great to get a System.Version object here.

[2019-02-20 13:48] dobos commented on #5114
Guys, I don't want to sound unprofessional, but I think it's overdiscussed. Someone who optimizes bulk inserts with this class is not an average user but a skilled software engineer for whom being able to specify the hint as a string is a perfect solution.

[2019-02-20 13:51] ViktorHofer commented on #16629
RuntimeVersion is not part of my api suggestion as it's already covered by https://github.com/dotnet/coreclr/pull/22664 and does not need an api review.

[2019-02-20 13:58] tmds commented on #35257
Does this need to go through API review?

[2019-02-20 14:25] airbreather commented on #5114
Commenting to add my support / rephrase / elaborate: I care a lot about making this possible through the `SqlBulkCopy` managed API **at all**, and so I would be more than willing to live with a slightly less usable solution than the ideal, if it can help lead to having *something* rather than *nothing* sooner.

I'm not using `SqlBulkCopy` because I don't know my data or where it's going.  Rather,

[2019-02-20 14:37] danmosemsft commented on #35257
No, as the API is not changed in shape. A change to WaitForExit might break existing code though (?)

[2019-02-20 14:39] danmosemsft commented on #35257
@wtgodbe @krwq own this area and should decide.
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md

[2019-02-20 14:41] ViktorHofer commented on #35050
No that wasn't intentional and I need to check why it doesn't work anymore...

[2019-02-20 14:43] ViktorHofer commented on #34074
This will be enabled with https://github.com/dotnet/corefx/pull/34385

[2019-02-20 14:45] tmds commented on #35257
`WaitForExit` already has this behaviour: when the Process has terminated, it doesn't throw.

[2019-02-20 15:00] eerhardt commented on #16629
@ViktorHofer - I believe this and #31002 are duplicates (or very, very closely related).

For sure, your proposal above is an exact duplicate of #31002 (except for your proposal has `private` instead of `public`, and #31002 spells out `OperatingSystem` instead of `OS`).

Since #31002 already has discussion on that exact API, let's use #31002 for that API proposal. If this issue has other proposed

[2019-02-20 15:02] ViktorHofer commented on #16629
Sounds good.

Duplicate of https://github.com/dotnet/corefx/issues/31002

[2019-02-20 15:02] #16629 closed

[2019-02-20 15:02] forlayo commented on #35120
I've detected that with proposal workaround it creates an issue while deploying into Azure App Service:

[code]

At line
`using (X509Certificate2 certWithKey = new X509Certificate2(temp.Export(X509ContentType.Pfx)))`

[2019-02-20 15:06] ViktorHofer commented on #31002
Updated the api proposal and changed the label to `api-ready-for-review`.

[2019-02-20 15:15] jeroen-mostert commented on #5114
No rush, this hasn't been in the framework for 13 years (counting from when `SqlBulkCopy` was introduced in .NET 2), and bulk copying hasn't changed in importance -- some time to get the interface right is fine. The "let's have this in the framework soon" ship has *definitely* sailed, and it (probably) wasn't because of implementation discussions that ran into trouble. Personally I'm all for the s

[2019-02-20 15:20] am11 commented on #31002
Is there any API that returns the OSPlatform object representing current platform?

For example an API that could expose the value of `s_osPlatformName` from https://github.com/dotnet/corefx/blob/a10890f/src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.Unix.cs

[2019-02-20 15:21] srutzky commented on #5114
and

Yes, I agree with all of that. I was just making a suggestion in a vain attempt at working around/covering up a possibly clunky interface in the form of the `ORDER()` option. But it was in no way an attempt to force an additional requirement for this request. If the general consensus is that it be either `OrderHint` or `OrderHintColumns`, then I, too, would be quite happy to have that as oppo

[2019-02-20 15:26] eerhardt commented on #35361
@loop-evgeny - also note that hack won't work in any "hammer servicing" scenarios. (I can't find great documentation on what "hammer servicing" is except for https://github.com/dotnet/core-setup/blob/be4e2eb3709ab5b307ff581f222fd2a4c7a2dc94/Documentation/design-docs/host-probing.md#probing-paths explains it a little. Basically, it is an ability for .NET Core assemblies to be patched without shippi

[2019-02-20 15:29] kierenj opened #35445 "SocketException "Unknown error (0xffffffff)" at System.Net.Http.ConnectHelper.ConnectAsync"
Type name: `System.Net.Sockets.SocketException`
`.HResult` = -2147467259
`.Message` = "Unknown error (0xffffffff)"
`.NativeErrorCode` = -1
`.Source` = "System.Private.CoreLib"

The stack trace for the outer exception:

[code]

We started receiving this error a few hours ago (after weeks / months of no problem), and a process restart was required to fix it.  It occurred on every outbound HTTP reque

[2019-02-20 15:41] surfsquid opened #35447 "Exception Type Naming Inconsistencies"
why do we have:
NullReferenceException and ArgumentNullException
and not:
ReferenceNullException and ArgumentNullException
or even:
NullReferenceException and NullArgumentException?

[2019-02-20 15:55] jeroen-mostert commented on #35447
`NullReferenceException` predates `ArgumentNullException` if the docs are to be believed (.NET 1.0 vs. .NET 1.1), so the question is really "why is it `ArgumentNullException` and not `NullArgumentException`" -- and the answer to *that* is likely "because it seemed sensible to name a class derived from `ArgumentException` as `Argument[Is]NullException`" and because nobody felt a need to mirror `Nul

[2019-02-20 15:56] ViktorHofer commented on #35447
As in the early days of .NET Framework someone decided to name it as it is. We can't go back and change such fundamental types as that would be a breaking change.

![image](https://user-images.githubusercontent.com/7412651/53104835-60306f00-3530-11e9-8a16-df8bc6bd8582.png)

[2019-02-20 15:58] surfsquid commented on #35447
Yeah I wasn't really holding too much hope for a rename 😅

Thanks for the explanation of how we got here though, it's all very interesting!

[2019-02-20 15:59] #35447 closed

[2019-02-20 16:20] jkotas commented on #35361
Hammer servicing works on per file granularity. The only way to detect it is to look at file version of the particular file you are interested in. None of the APIs discussed here or related issues would help you with that.

[2019-02-20 16:28] YairHalberstadt opened #35449 "Microsoft.Win32.Registry nuget package missing most members in .Net Standard"
I'm in the process of porting ironpython to .Net Standard: https://github.com/IronLanguages/ironpython2/issues/598

IronPython.Modules is reliant on Microsoft.Win32.Registry, which is provided for .Net Core and .Net Standard as a nuget package.

However, although the .Net Core version contains all the various Registry types in the Microsoft.Win32 namespace, in .Net Standard the namespace is comple

[2019-02-20 16:34] YairHalberstadt commented on #35449
That's really wierd - I switched from Release to Debug, and everything started working, even when I switched back to release. Ah Well ¯\_(ツ)_/¯

[2019-02-20 16:34] #35449 closed

[2019-02-20 16:44] eerhardt commented on #35361
@jkotas - I was referring to @loop-evgeny's "hack" above:

If `System.Private.CoreLib.dll` was serviced, the location of that assembly would no longer be in a folder with the FX version number.

[2019-02-20 16:51] 007LP opened #35451 ".Net Core 2.1 : Google Recaptcha fails on server because of Socket Exception when HttpClient makes call on POST"
Below is the server side implementation
[code]

Tried to use WebProxy as the server uses a proxy, but returns 407 proxy authentication error.

Any suggestions on workarounds/solutions ?

[2019-02-20 16:52] Clockwork-Muse commented on #35437
Well yeah.

What I meant was, would your program do better if `item` already had `key` calculated/stored inside of it?

[2019-02-20 16:57] danmosemsft commented on #33987
We (semi-)committed to fixing this for 3.0.

[2019-02-20 17:00] danmosemsft commented on #34437
Was out of office -- @2E0PGS yes, I think so. Try that, plus a test?

[2019-02-20 17:00] danmosemsft commented on #33284
@jaredpar @jcouv just making sure you saw this is now available and you aren't waiting on us.

[2019-02-20 17:01] jkotas commented on #35419
They will be discussed in the next phase. This first phase is adding the APIs that proved to be valuable by having many use cases in our own coreclr/corefx.

[2019-02-20 17:02] Thaina commented on #35437
@Clockwork-Muse If it would be used only once when joining then why should I calculate and store it beforehand?

Why do you think we have `Lazy` ?

Why it should take up memory when it not being used until calling `Join` function?

With my proposal, if it not being matched with anything then it would be popped out immediately

It almost always have more advantage to just do something when it reall

[2019-02-20 17:07] jkotas commented on #31002
What do we expect this API to be used for? Is this API useful without the library that allows you to reason about the RID graph?

The RIDs come with a lot of problems because of they form a graph. You cannot really do anything useful with the RID without having the library that is able to deal with the RID graph.

[2019-02-20 17:23] bgribaudo commented on #5114
I’m excited about the possibility of SqlBulkCopy supporting ordered inserts!

However, the idea of passing a raw order specification string into the query makes me hesitate. This opens up a vector for a SQL injection attach. It _also_ opens the door for developers to purposefully hack this property to inject other hints/otherwise change the query being executed (imagine a developer using an orderi

[2019-02-20 17:25] jkotas commented on #31002
@ViktorHofer Is that basically the proposed OSName API, or is OSName something else from OSPlatform? Could you please update the proposal with representative set of examples of values that each of the  APIs return to make it clear what they do?

[2019-02-20 17:27] davidsh commented on #35451
You need to pass proxy credentials via the HttpClientHandler.Proxy or HttpClientHandler.DefaultProxyCredentials property.  You can create the HttpClientHandler and pass it to the constructor of HttpClient.

However, since you are using the HttpClientFactory API (and not creating the HttpClient yourself) you will need to talk with them about how to do proxy credentials.

[2019-02-20 17:27] davidsh commented on #35451
@Tratcher Can you please help route to HttpClientFactory?

[2019-02-20 17:28] danmosemsft commented on #31002
The move of Microsoft.DotNet.PlatformAbstractions out of dotnet/core-setup, which partly motivates this API, is tracked in https://github.com/dotnet/core-setup/issues/5213

[2019-02-20 17:39] jkotas commented on #31002
The `GetRuntimeIdentifier()` in `Microsoft.DotNet.PlatformAbstractions` does not return what the calling code wants some of time, and it has a hack that lets you override to returned value via Environment variable to componsate for that. If we add this API to CoreFX, do we expect to keep this hack? (It comes down to what we expect this API to be actually used for... .)

[2019-02-20 17:41] srutzky commented on #5114
True. Good point. Specifying each column separately allows for easily applying the same escaping pattern used in other places in this class to each entry, for example:

https://github.com/dotnet/corefx/blob/1fd3ba126538c2fed76d2279db26dc7ba5ceed41/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlBulkCopy.cs#L440-L443

[2019-02-20 17:41] Tratcher commented on #35451
HttpClientFactory shouldn't meaningfully affect this behavior. Can you reproduce it with `new HttpClient()`?

[2019-02-20 17:49] eerhardt commented on #31002
No, that is not the proposed OSName.

The `s_osPlatformName` is something like `Linux`, `OSX`, `FreeBSD`.

The proposed OSName is something like `ubuntu`, `rhel`, `centos`, `Mac OS X`, `FreeBSD`. On Linux systems, this is the `ID` field in `/etc/os-release` (or `/etc/readhat-release`). Typically, it is the first part in the `RuntimeIdentifier` string for Linux systems.

We have it today in `Micros

[2019-02-20 17:49] Tratcher commented on #35451
@rynowak I don't see HttpClientFactory docs for configuring the HttpClientHandler.

[2019-02-20 17:55] eerhardt commented on #31002
It has to return exactly what the ".NET runtime" thinks is the RID of the machine. This API and the `dotnet` host must always be in sync, or else there will be problems.

That "hack" has proven useful very often. Just recently, it was proven useful because we didn't have [alpine 3.8 in the RID graph](https://github.com/dotnet/corefx/issues/34316#issuecomment-451378638).

[2019-02-20 17:56] danmosemsft commented on #35068
https://github.com/dotnet/core-setup/issues/5213

[2019-02-20 18:06] oliverholliday opened #35454 "IPAddress.IsLoopBack returns false for ::ffff:127.0.0.1"
Local connections to an aspnetcore app running on win10 have the `HttpContext.Connection.RemoteIpAddress` property set to `::ffff:127.0.0.1`.

The `IPAddress.IsLoopBack()` method returns false for this address - the method checks for IPv6 and IPv4 loopback addresses but doesn't check a loopback IPv4 address mapped to IPv6. I believe this is confusing.

https://github.com/dotnet/corefx/blob/master/

[2019-02-20 18:09] jkotas commented on #31002
This is old code in a private repo. I do not see it in live ASP.NET Core. Also, it is a great example that shows why the RID alone is useless - it has a ad-hoc list of cases to compensate for when the RID is not what you want.

Should the API to give you best guess about the current RID be rather part of the RID graph reasoning library?

[2019-02-20 18:18] eerhardt commented on #31002
Sorry, that was a bad link to the ASP.NET build system. Here is the real link: https://github.com/aspnet/BuildTools/blob/b7b88d08d55abc8b71de9abf16e26fc713e332cd/src/ApiCheck.Console/NuGet/RuntimeGraph.cs#L93

Here is `dotnet/arcade` calling it: https://github.com/dotnet/arcade/blob/2d52dfb5fca30c0e64454ce01a1e9c81d7e75989/src/Microsoft.DotNet.Build.Tasks.Configuration/src/GenerateConfigurationPro

[2019-02-20 18:29] danmosemsft opened #35456 "Remove "HRESULT" from default exception message"
The below message (from Ubuntu) demonstrates that in some cases the runtime will set a non-HRESULT code on the HRESULT property of an exception it throws.

The assembly load codepath has many branches but I guess it comes from code like `EEFileLoadException::Throw(pSpec, hr);` where the `hr` is coming from the PAL.

In this case `1C No space left on device` is not an emulated Win32 code from the P

[2019-02-20 18:31] danmosemsft commented on #35456
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.1~2F/test~2Ffunctional~2Fcli~2F/135088093a447c3fee184500202691101e5d9f10/workItem/System.Runtime.Loader.Tests/analysis/xunit/System.Runtime.Loader.Tests.AssemblyLoadContextTest~2FLoadAssemblyByPath_ValidUserAssembly

[2019-02-20 18:42] danmosemsft commented on #34220
Per discussion in https://github.com/dotnet/corefx/issues/34221 we prefer to add FileSystemError enum and matching property to IOException. That would include an enum entry for this case.

I'll close this in favor of that. Still need a volunteer to do the work of defining the proposed enum.

[2019-02-20 18:42] #34220 closed

[2019-02-20 18:45] rynowak commented on #35451
Here's the docs for this: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2#configure-the-httpmessagehandler

[2019-02-20 18:45] danmosemsft commented on #34221
@Neme12 hope you don't mind me changing the title.

[2019-02-20 18:54] jkotas commented on #31002
Ok, so these APIs are really just tunnel to the host.

- The implementation of all these 3 APIs is just going to a thin wrapper over the host methods, like https://github.com/dotnet/core-setup/blob/dbb1c1e55eab169f4af370e9a61b85a982ff1105/src/corehost/cli/deps_format.cpp#L139 .

- Should the returned RID will be filtered against the RID graph that the host happens to have, or should it be the raw

[2019-02-20 19:32] eerhardt commented on #31002
On `.NET Core`, yes. We would have to decide what to do on other places - `throw PNSE`, fallback to some C# implementation, etc. Today `PlatformAbstractions` has the logic in C# and is `netstandard1.3`....

For use cases like the [CLI showing it during `--info`](https://github.com/dotnet/cli/blob/3035b8536b72dcc2a0db6d617d8e4af5a3c81fb1/src/dotnet/Program.cs#L330-L336), I think it needs to be the

[2019-02-20 19:42] jkotas commented on #31002
`System.Runtime.InteropServices.RuntimeInformation` is not a package anymore. This API would be .NET Core 3.0+ only (and maybe uap/uapaot - but that one is really just a flavor of .NET Core).

[2019-02-20 19:43] #35160 closed

[2019-02-20 19:45] vancem commented on #34828
I have updated the initial proposal to reflect the feedback and changes because of implementation issues.   The changes are

1. Rename SpanId -> ActivitySpandId  - This avoids confusion with Span<T>
2. Rename TraceId -> ActivityTraceId   - For consistancly with ActivitySpanId
3. ActivitySpandId.AsBytes -> ActivitySpanId.CopyTo(Span byte)  - this was needed because AsBytes could not be implemented

[2019-02-20 19:48] 2E0PGS commented on #34437
I will give that a try soon thanks.

[2019-02-20 19:54] eerhardt commented on #31002
How about Mono? I thought they used the libraries in `corefx`.

Also note the breaking change here if we go through with https://github.com/dotnet/core-setup/issues/5213. Previously you could call this API on `netstandard1.3`. But that will be up to the `core-setup` issue to resolve. It shouldn't stop `corefx` from adding the API.

[2019-02-20 19:57] benaadams commented on #34828
Can they be `readonly struct`s? Also then makes using `in` an option for passing them around

[2019-02-20 19:58] jkotas commented on #31002
Once Mono chooses to implement .NET Core App 3.0 API set, they will implement this API too.

They will not get this API.

[2019-02-20 20:00] Clockwork-Muse commented on #35437
.... what I was curious about was whether or not this value, whatever it was, was truly used once only.  Without more knowledge of your usecase, my default assumption tends to be that it's probably used more widely.  You could of course implement it with a `Lazy<T>` - the exact first use wasn't at issue.

Side note:

If you mean, "if there's no match between the left and the right operands, then t

[2019-02-20 20:06] eerhardt commented on #31002
That's sort of an issue IMO. `RID`s aren't just `.NET Core` specific concepts. We use `RuntimeIdentifier` across all sorts of platforms.

[2019-02-20 20:43] ajtribick commented on #35370
I don't think `ReadOnlyMemory<char>` would be precluded in this scenario, looking at it again that would make sense.

[2019-02-20 20:45] #35368 closed

[2019-02-20 20:45] danmosemsft commented on #35368
@SoerenBusse it woudl be great if you could try this feature again, now this issue is fixed. The scenario is full of potential races and OS quirks that you could help us discover.

[2019-02-20 21:15] bgribaudo commented on #35290
Off the top of my head, maybe just try calling `process.Kill(entireProcessTree: true)` on a process instance?

[2019-02-20 21:22] vancem commented on #34828
The ActivitySpanId and ActivityTraceId are designed to be 'caches' for the binary and/or string value of the ID.   Thus they are not perfectly read-only (since the cache of the other format is a write).

I played with the idea of declaring them as a readonly struct, and using some Unsafe casting to update the cache field.   That would require a dependence on System.Runtime.CompilerServices.Unsafe

[2019-02-20 21:31] buyaa-n commented on #35329
Hi @stephentoub any update? is there any work here for 3.0?

[2019-02-20 21:33] stephentoub commented on #35329
@buyaa-n, what is it you're concerned with here?

[2019-02-20 21:33] buyaa-n commented on #33949
@justindrocco do you agree with it is by design? can we close this issue?

[2019-02-20 21:33] #33949 closed

[2019-02-20 21:34] buyaa-n commented on #33949
Please let me know if we should reopen

[2019-02-20 22:02] buyaa-n commented on #35329
Am just setting milestone for all issues which haven't set that

[2019-02-20 22:04] stephentoub commented on #35329
I see what happened. I fixed the tests to pass on core after @tannergooding's floating point changes, and in doing so netfx is failing because it doesn't have Tanner's change. Will fix.

[2019-02-20 22:04] stephentoub commented on #35329
Got it. I was worried there was something deeper :)

[2019-02-20 22:33] vitek-karas commented on #31002
/cc @marek-safar

[2019-02-20 22:34] geoffkizer opened #35466 "HTTP2: Clean up shutdown behavior"
We don't currently have a good handle on the lifetime semantics of various objects on Http2Connection. We should clean this up

See discussion on #35422

[2019-02-20 22:36] joshudson commented on #34221
I put this into Emet.Filesystems on nuget. IOErrors exports read-only variables that warp to the correct values depending on architecture.

[2019-02-20 22:48] stephentoub commented on #35333
@MattGal, can you elaborate?  Do you mean Environment.ProcessorCount on these machines will return 46?

[2019-02-20 22:56] geoffkizer commented on #35422
I added a separate issue to review and clean up shutdown behavior, #35466

[2019-02-20 23:09] ststeiger commented on #31775
@dotMorten: If it helps implementing, this is how to do STUnion (with polygons):

https://github.com/ststeiger/AnySqlWebAdmin/blob/master/AnySqlWebAdmin/Code/PolygonUnion/Program.cs

If the union is done, all that is needed is converting the geometry to sql-server geometry.

Some help for ST_Area covered in dept here (using the old DotSpatial instead of NetTopology - conversion sould be easy):
htt

[2019-02-20 23:10] buyaa-n commented on #35329
Thank you!

Sorry for confusion :P

[2019-02-20 23:24] geoffkizer commented on #35466
Note there are several ways an HTTP2 connection can be shut down:

(1) Client-initiated shutdown with outstanding requests. This can happen when the HttpClientHandler is disposed, or when the connection lifetime is exceeded, or when we have exhausted stream IDs.

(2) Client-initiated shutdown due to idle timeout (meaning no existing requests)

(3) Server-initiated graceful shutdown (i.e. we receiv

[2019-02-20 23:37] tannergooding commented on #9451
Based on your response, this looks resolved. Feel free to reopen if you feel otherwise.

[2019-02-20 23:37] #9451 closed

[2019-02-20 23:52] bricelam opened #35470 "SqlClient: Allow specifying a UDT SqlParameter value via SqlBytes"
Today, it's possible to read a UDT value as a SqlBytes object from SqlDataReader using GetSqlBytes.

[code]

Unfortunately, there is no way to specify a UDT value as a SqlBytes object in SqlParamter.

[code]

SqlBytes should be special cased in this codepath as a means of merely specifying the bytes to send to the server.

cc @ajcvickers @divega

[2019-02-20 23:54] #34920 closed

[2019-02-20 23:55] #35329 closed

[2019-02-20 23:56] jkotas commented on #31002
@eerhardt I am not sure where you see the issue.

- This is a new platform API. It will exist in new versions of the platforms only. We are not patching the existing versions of the platforms to add new platform APIs. (We tried to do that in the past, but we have made a conscious decision to not do that again.)

- Mono has its own RID universe. There are discussions ongoing on how to integrate it

[2019-02-21 00:23] jkotas commented on #31002
I have added examples of the values returned by each of the proposed APIs. Do they look fine?

[2019-02-21 00:24] #35454 closed

[2019-02-21 00:27] ViktorHofer commented on #31002
Thanks @jkotas. I hadn't had time for that yet.

I thought we were going to mimic what we already have in PlatformAbstractions. In example the OSName is not returned in the RID format but as a readable version: https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.DotNet.PlatformAbstractions/Native/PlatformApis.cs#L21-L36

[2019-02-21 00:29] #29694 closed

[2019-02-21 00:31] ahsonkhan commented on #29694
@mazhou-msft, please check the latest nightly build with this change https://github.com/dotnet/corefx/pull/35467 (netcoreapp3.0)

[2019-02-21 00:46] jkotas commented on #31002
That API is PlatformAbstractions looks confused. It returns all lower case ID some of the time that is not really human readable (e.g. `rhel` or `ubuntu`) and human readable string some of the time (e.g. `Mac OS X`).

What is this API meant to be used for?

Also, if this is meant to return human readable string, do we expect it to keep up with the OS branding changes (e.g. return `macOS` on Mac) ?

[2019-02-21 01:23] MattGal commented on #35333
@stephentoub  : Yes, even when we run in docker and forcibly limit the docker containers to 2 cores, most metadata you can access will get a 46 because the machine itself has 46 cores.

[2019-02-21 01:28] stephentoub commented on #35333
If that's true, that's broken.

[2019-02-21 01:31] stephentoub commented on #35333
@janvorli, we take docker limits into account on Unix; do we not on Windows?

[2019-02-21 01:39] MattGal commented on #35333
Sorry, I'm only talking about the ARM failures that were also timing out here.  On Windows, you're not currently running in Docker so that's not the case.

One data point, when I first commented on this issue I downloaded and ran the Windows test.   Two hours later when my machine was choking to death while I tried to present it was still running the test.  Reproducing the problem is easy at least

[2019-02-21 01:41] stephentoub commented on #35333
ARM failures on Unix?  We should be respecting docker limits in ProcessorCount there.

On what OS and architecture?

[2019-02-21 01:46] MattGal commented on #35333
For ARM on Linux, I'm pretty sure I've seen recent issues like https://github.com/dotnet/corefx/issues/34974 that would make it seem like that's only been recently fixed. Just a guess, I haven't personally investigated.

As for my Windows machine, I run plain RTM RS4 AMD64 on a 4-core SurfaceBook w/ 16 GB RAM.

[2019-02-21 01:46] Thaina commented on #35437
@Clockwork-Muse That's the point to not cache anything. The `Join` function should do thing as efficient as possible for the assumption of only once

I was thinking from the start that if the logic will need to cache anything, it will be caching internally anyway. If we cache it beforehand then it means we have unnecessary copy of what will be cached again

And complex logic might not be inefficie

[2019-02-21 01:51] stephentoub commented on #35333
That test was saying that the test expected 46 but Environment.ProcessorCount actually returned 2, i.e. ProcessorCount was doing what it was supposed to.

Ok, I'll try running on netfx. Thanks.

[2019-02-21 01:54] stephentoub commented on #35333
@MattGal, can you tell me what caused https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F35468~2Fmerge/test~2Ffunctional~2Fcli~2F~2Fouterloop~2F/20190220.1/workItem/System.Linq.Parallel.Tests/wilogs to fail on Windows?  I see this in the logs for "Windows.10.Amd64.ClientRS5.Open-x86:Release":
[code]
so it would appear all the tests actually completed successfully.

[2019-02-21 02:06] justindrocco commented on #33949
I think that it should be reopened.  Sorry for going silent,  I have been working on a response as I have had time.  Below is that response.

### The Pattern and Regular Expressions
@krwq Your correct that the pattern I gave does not have start and end anchors. But as @buyaa-n found and is stated [here](https://www.w3.org/TR/xmlschema-2/#regexs), XML schema always implicitly anchors the entire reg

[2019-02-21 02:23] #35422 closed

[2019-02-21 03:28] eerhardt commented on #31002
This API isn't new to our customers. The `PlatformAbstractions` API has been available since .NET Core 1.0, and it is available on `netstandard1.3`. If we are planning on removing the `PlatformAbstractions` API in favor of this new API, it is reasonable to discuss how it is going to impact our customers.

It's my understanding that the general RID design is similar/analogous to the TFM design. The

[2019-02-21 03:30] eerhardt commented on #31002
Agreed. We should probably fix this while we are making the change over. My thought is it should return the OS portion of the RID. `ubuntu`, `rhel`, `alpine`, `freebsd`, `win`, `osx`, etc. Just like OSVersion should return the version portion of the RID. `16.04`, `7`, `10`, `3.8`, `10.13`.

[2019-02-21 03:50] jkotas commented on #31002
The OS portion of the RID is not what most folks would call `OSName`. Should the API be called something like `RuntimeIdentifierNameOS` to make it clear that it is the cryptic name?

[2019-02-21 04:35] karelz commented on #35445
@geoffkizer any idea?
Is it Windows? What is the hex HResult? Did you look it up?

[2019-02-21 04:37] karelz commented on #35451
Seems to be answered above.

[2019-02-21 04:37] #35451 closed

[2019-02-21 04:39] karelz commented on #34618
Not actionable, closing.
Let us know if you have additional info which makes the report actionable, we can reopen.

[2019-02-21 04:39] #34618 closed

[2019-02-21 04:42] Thaina opened #35478 "Please add IKeyedCollection<,> as a covariance base interface of IDictionary<,>"
While the dictionary contains many functionality that we could not make it covariance. I think some of functionality could be defined as base interface to work in covariance way like this

[code]

So we could

[code]

[2019-02-21 04:43] karelz commented on #34635
@CarolEidt do you have guidance where to track ECMA bugs?

[2019-02-21 06:03] krwq opened #35479 "Console.KeyAvailable throws when no terminal attached"
Here is the error I'm getting:

[code]

to run app like that

[code]

It should just return false when there is no terminal or at least give a way of checking if there is one

cc: @wfurt

[2019-02-21 06:52] YohDeadfall commented on #35420
@bartonjs @joperezr  Could you change the assigned label to the right one?

[2019-02-21 07:03] gafter commented on #33284
The compiler is all wired up in the latest VS2019 preview, though I haven't tried it with the latest Core.

[2019-02-21 07:11] mdisg opened #35480 "NetworkInterface.GetAllNetworkInterfaces exceptions thrown internally showing up in debugger"
Recently i attached the debugger to our application which we have ported from .NET 4.5 to .NET Core using it on a linux system build with buildroot.

In the debug output there were exceptions like `System.IO.DirectoryNotFoundException` and `System.IO.FileNotFoundException` showing up. Looking for the reason revealed that two files are going to be read by the call `NetworkInterface.GetAllNetworkInt

[2019-02-21 07:52] jkotas commented on #34635
The list of ECMA 335 bugs with proposed fixes have been tracked in https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/Ecma-335-Issues.md

I have workitem in my backlog to figure out what to do with ECMA 335.

[2019-02-21 08:02] raffaeler commented on #34635
As a side note, I completed the metadata loading with attributes and discovered that (in my implementation) decoding them is the primary reason for a perf hit when reading assembly metadata.
In other words, I believe the reflection mechanism could be much faster if the metadata descriptors for the attributes were less convoluted.
* What's your experience on this?
* If you see the same numbers, is

[2019-02-21 08:03] vaggelisouranos commented on #30417
How can I mock DbCommand.ExecuteReaderAsync() with Moq library since it is not marked as virtual?

[2019-02-21 08:12] fadamsen commented on #35265
Any idea when the secure versions will be available on Azure App Service?

`dotnet --info` currently only shows versions up to `2.1.7` and `2.2.1`:

[code]

[2019-02-21 08:20] kierenj commented on #35445
It's a Windows App Service, yes - the HResult is https://errorcodelookup.com/?type=hresult&code=80004005 (E_FAIL)

[2019-02-21 08:24] MagicAndre1981 commented on #35294
@davidsh

I can answer it on my own. I played with the unreleased [6.2.2](https://www.nuget.org/packages/Microsoft.NETCore.UniversalWindowsPlatform/6.2.2)/[6.2.3](https://www.nuget.org/packages/Microsoft.NETCore.UniversalWindowsPlatform/6.2.3) and it looks those PDBs are not available because they are not officially released.

Using [6.1.9](https://www.nuget.org/packages/Microsoft.NETCore.Universa

[2019-02-21 08:59] Waleed-KH commented on #34372
The APIs naming is so long and not clear
[code]
- It would be more natural if these APIs under `System.Json`, that's would make it more symmetrical with `System.Xml`. **I know that there is already some APIs under `System.Json` but this old APIs is rarely used and kind of obsolete**. https://github.com/dotnet/corefx/issues/33552#issuecomment-439730860
- The naming of the functions (Read/Write) mak

[2019-02-21 09:25] mariusGundersen opened #35483 "Proposal: add Join overload that returns a valueTuple"
Similar to the `Zip` proposed in #16011 it would be useful to have a Join overload that returns a valueTuple.

A very simple implementation ([but one that isn't good enough](https://github.com/dotnet/corefx/pull/26582#issuecomment-448830544)) would be:

[code]

It could then be used like this:

[code]