[2017-05-23 17:43] davidsh commented on #20191
This is a known issue.  WebSocketOptions is not supported/implemented yet on .NET Core.

[2017-05-23 17:44] davidsh commented on #20191
Dupe of #5120.

[2017-05-23 17:44] #20191 closed

[2017-05-23 17:45] RickStrahl commented on #20043
NOP is better perhaps with a conditional [Obsolete] based on platform so you can catch this at Compile time.

So is the behavior of this timeout handled by the `Timeout` property in Core? The only reason to use ReadWriteTimeout was that it was necessary to deal with timeouts properly in older versions.

[2017-05-23 17:45] stephentoub commented on #20043
This can just be:
[code]
The implementation will end up ignoring the value, but that's ok.

Well, HttpClient does, but the implementation of HttpWebRequest isn't taking advantage of that, and is instead always buffering the request stream entirely.  From a ReadWriteTimeout perspective, though, that means it'll never timeout, because all requests to it would be satisfied synchronously.  So for the

[2017-05-23 17:55] MattGal commented on #20172
XUnit also returns non-0 for any test failure as well.   The version used in CoreFX will have return codes from 0..5 for "normal" execution and anything outside of that is expected to be un-handled exception.

[2017-05-23 17:56] karelz commented on #4100
Pending the question, are you @weltkante interested in grabbing the issue?

[2017-05-23 18:00] davidsh commented on #20043
I agree we should throw PNSE instead of NIE if we are throwing exceptions.

The question we run into is whether or not we should throw exceptions which can break apps that don't expect the exception.  Being silent (noop) might then lead to getting bugs raised since devs will think it should work.  This problem of deciding what to do impacts several problems we have in HttpClientHandler that can't

[2017-05-23 18:00] polarapfel commented on #20147
@JeremyKuhne Based on my initial misconception on how dotnet could hook into shell builtin functionality to set environment variables in Linux for the parent shell, I think we can scrap that idea.

@jkotas

Maybe it's still a good idea to add an extra paragraph within the remarks section for Mac/Linux to the [documentation for setting environment variables](https://docs.microsoft.com/en-us/dotnet/

[2017-05-23 18:01] ViktorHofer commented on #20043
That's really tough. @stephentoub as you explained thoroughly I think we can't fully satisfy the HttpWebRequest API contract with our current implementation. I would be fine making it a NOP but not 100% happy...

[2017-05-23 18:02] schen381 commented on #20139
Status update: there is no disabled test for NameResolution. Will look into dependency on WinRT APIs next

[2017-05-23 18:04] tmat commented on #19857
Fixed by https://github.com/dotnet/corefx/pull/20006

[2017-05-23 18:04] #19857 closed

[2017-05-23 18:05] Clockwork-Muse commented on #20171
`Random` generates floating point values based off an integer value, so you're still stuck with effectively integer state/results.  And it's not like it's very likely that you get the same results with an integer result either, I was just pointing out it was possible.

[2017-05-23 18:06] RickStrahl commented on #20043
An attribute marker that shows a warning at compile time for this sort of thing would be useful so you can catch issues like this before they bite you at runtime especially with code already in production and getting ported.

[Obsolete] based on platform would work but something more specific might be really useful for many other use cases.

[2017-05-23 18:08] karelz commented on #20043
@RickStrahl we have tooling for that: https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-05-23 18:09] tmds commented on #20147
Throw PNSE for EnvironmentVariableTarget.{User,Machine} on Unix.

[2017-05-23 18:12] jkotas commented on #20147
Agree. We do have improving discoverability/documentation for platform differences on our backlog.

[2017-05-23 18:12] ViktorHofer commented on #20043
Maybe it's worth to mention that with our current implementation we are also facing the issue that we are creating a dedicated HttpClient instance for each request...

[2017-05-23 18:15] karelz commented on #20043
And HttpWebRequest is already called out here: https://github.com/terrajobst/platform-compat/blob/master/docs/DE0003.md as legacy API

[2017-05-23 18:19] ViktorHofer commented on #20114
cc @tarekgh

[2017-05-23 18:25] lmolkova commented on #19689
@danmosemsft
Yes, it should be fixed with #19796.

good to know, thanks

[2017-05-23 18:39] stephentoub commented on #20179
I think it'd be reasonable to change:
[code]
to instead be something like:
[code]
basically your option (1).

@saurabh500, @corivera?

[2017-05-23 18:40] stephentoub commented on #20179
In terms of milestone, @EgorBo, you consume from master via source, right?  If so, seems like this could be pushed to post-2.0, in terms of a fix not needing to be ported to release/2.0, correct?

[2017-05-23 18:42] davidsh commented on #20079
Most likely an Internet or Azure glitch.

[2017-05-23 18:43] davidsh commented on #20036
Most likely same root cause as #7812

[2017-05-23 18:44] weshaggard commented on #19781
I don't think there is anything we are going to do for 2.0 here so moving to 2.1

[2017-05-23 18:46] weshaggard commented on #17346
@ericstj are you handling the rest of this or is this part of @joperezr work?

[2017-05-23 18:46] #20164 closed

[2017-05-23 18:48] saurabh500 commented on #20179
To consume a purely managed SNI implementation, you should look at using the files SqlClient uses for Unix. Windows implementation and build configuration was done in a way that Managed and Native SNI co-exist.

[2017-05-23 18:48] gkhanna79 commented on #16335
@jyoungyun Can we use https://github.com/dotnet/core-setup/issues/1566 as the main issue to track the bring up of Tizen build/packaging infra?

[2017-05-23 18:48] binki commented on #2454
*(I could be misreading the direction of this thread. Please let me know if I should delete this comment/open a new issue instead).*

Could such a new API be the option to choose if continuations may run synchronously or not be providing the option at the `SetResult`/`SetException`/`SetCanceled` level? As [I stated before](https://github.com/dotnet/corefx/issues/2454#issuecomment-302103248), you o

[2017-05-23 18:50] joperezr commented on #17346
FWIW, I am not entirely sure what packages does this issue track, but I am doing ApiCompat between ref & lib of M.NC.A + OOB packages as part of my validation.

[2017-05-23 18:51] saurabh500 commented on #20179
Also, I dont think this is a bug for 2.0.0
@EgorBo Let me know if you need any help with the files related to pure managed sni implementation.
I am moving this to 2.1.0

[2017-05-23 18:52] AlexGhiondea commented on #19832
@tarekgh any ideas about this one?

[2017-05-23 18:56] weshaggard commented on #20158
I agree with your recommendation that this should just work.

Should be simple to add the detection here https://github.com/dotnet/corefx/blob/master/run.cmd#L19.

[2017-05-23 18:56] saurabh500 commented on #20179
Even if managed SNI is consumed using the Unix compiled files, you need to include the right Windows/Unix files with Managed SNI for Integrated Auth.

[2017-05-23 18:57] vancem commented on #19824
Should be fixed by @lmolkova s change.

[2017-05-23 18:57] #19824 closed

[2017-05-23 18:57] EgorBo commented on #20179
@stephentoub yes we consume sources from a submodule pointing to corefx/master. And yes definitely not a bug for 2.0.0
@saurabh500 well, could you please tell me why it's important for corefx to have a native SNI impl aside with the managed one? We can also include the native lib to mono but I am not sure if we really need it.

[2017-05-23 18:59] axelheer commented on #20101
Okay, thanks, doesn't matter since the ops staff already switched from Ntlm to Basic.

If you're still interested: it's an environment of windows servers without any windows domain.  It's an ASP.NET Core web application running on .NET Core, which uses `HttpClient` with `NetworkCredential` to get some rendered reports from SSRS 2016. The web application runs on a Windows Server 2012 R2 machine wit

[2017-05-23 18:59] ViktorHofer commented on #18752
AFAIK there was an announcement at build that it will be ported to .NET Core. Can't find the link currently. Closing...

[2017-05-23 18:59] ericstj commented on #17346
I have it all working through manual runs but don't have the helix work done.  I suspect that'll have to be good enough for this release.

[2017-05-23 19:00] weshaggard commented on #20126
This doesn't hurt anything particularly but we should clean it up. @ellismg has PR https://github.com/dotnet/buildtools/pull/1504 to clean-up some of this but I think it needs to account for the fact that we don't have ni.dll extension on System.Private.CoreLib any longer.

[2017-05-23 19:00] saurabh500 commented on #20179
We want to move away from the Native sni.dll which is specific to Windows. However we ran into some issues with it during 2.0 timeframe. The issue was related to performance during async operations.

We kept native SNI around as a backup option. Switch from Managed SNI to native SNI was behind an appcontext switch which has been removed to make Native SNI the default Windows impl on 2.0
One of the

[2017-05-23 19:01] ericstj commented on #19781
Agreed, I filed against 2.0 because I was going to rip all this out if we didn't need it.

[2017-05-23 19:06] danmosemsft commented on #20147
Seems to me this we should definitely do. @polarapfel any interest in submitting PR for that? The fix is here https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Environment.cs#L647 and https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Environment.cs#L757

and a separate PR for tests here

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensi

[2017-05-23 19:09] EgorBo commented on #20179
@saurabh500 ah ok, I guess we will just use the Unix impl for mono-[windows](https://github.com/mono/mono/pull/4893/files#diff-57fdff8162e3d13094cf0dacc1dc39da) in this case.
@marek-safar What do you think, do we need to 100% copy corefx behavior here and also include both implementations (it means we will have to include sni.dll for 3 architectures to mono).

[2017-05-23 19:10] tarekgh commented on #16926
@danmosemsft are you going to finish this before the end of the week?

[2017-05-23 19:10] stephentoub commented on #20147
Why?  Arguments in favor of what we currently have:
- It's what Mono does.  Do we know that it's caused problems for Mono customers?
- It allows more code to "just work".

[2017-05-23 19:11] tarekgh commented on #18405
@karelz are you following in this? will be able to close it before the end of the week?

[2017-05-23 19:12] tarekgh commented on #20041
@morganbr would you port the changes before the end of the week?

[2017-05-23 19:15] benaadams commented on #2454
@binki `TaskCompletionSource` has an overload that takes `TaskCreationOptions` so that may be preferable also for the overloads?

e.g.
[code]

[2017-05-23 19:16] FransBouma commented on #19825
Merged! :)

[2017-05-23 19:17] saurabh500 commented on #19825
@FransBouma  I am reopening this to port the PR to release/2.0.0 and track the port

[2017-05-23 19:18] tarekgh commented on #20114
Currently I am looking at supporting remote execution for UAP (F5 scenario). and the current design is not going to work there anyway. I am working to get code execute remotely but the logic of RemoteExecutorConsoleApp is not going to work there because it is based on Process while in UAP we'll do kind of package activation (and background tasks). I am still prototyping this so I can tell more det

[2017-05-23 19:19] saurabh500 commented on #19825
To clarify, I will be doing the port and no other action item is needed here :)

[2017-05-23 19:31] wjzhou commented on #20178
I think this is expected, right?
The nohup will replace the stdin with /dev/null, with O_WRONLY.
Read from that will return an error.

[2017-05-23 19:33] tarekgh commented on #19832
CC @weshaggard who may guess what the problem is. does BinaryReader(Stream, Encoding) is exposed directly from corelib? or maybe the library @austindrenski trying to build is referencing corelib directly instead of System.Runtime?

[2017-05-23 19:45] FransBouma commented on #19825
Ah ok, sorry didn't know it was still needed! :) 😄

[2017-05-23 19:48] steveharter opened #20199 "Test System.Net.Http.Functional.Tests.DiagnosticsTest.SendAsync_HttpTracingEnabled_Succeeds failing"
The outerrun test System.Net.Http.Functional.Tests.DiagnosticsTest.SendAsync_HttpTracingEnabled_Succeeds is failing with
[code]

It looks like a recent regression. It is likely failing on all Linux distros but currently just these are failing (probably because they ran recently):
- Debian 8 Release
- openSUSE 42.1 Release
- Red Hat 7.2 Debug
- Ubuntu 16.10 Debug
- PortableLinux Debug

[2017-05-23 20:08] mikem8361 commented on #19838
This is fixed and should be in preview2.

[2017-05-23 20:08] polarapfel commented on #20147
@stephentoub I can see your point about Mono code remaining easily portable. But just silently ignoring unsupported environment scopes leads to situations where a developer familiar with how this works on Windows, wrongfully assumes it works the same way on Mac/Linux. For that reason, I actually think a PNSE makes sense in both CoreFX and Mono's .NET implementation.

I think addressing documentati

[2017-05-23 20:13] RickStrahl commented on #20043
Not sure how that works - doesn't HttpClient on full framework use HttpWebRequest as its implementation? Has that changed?

[2017-05-23 20:14] binki commented on #2454
@benaadams I thought about that, and to enable further options to be specified in the future, using an enum instead of a `bool` would definitely be a better choice. But I do not like `TaskCreationOptions` specifically because there is a lot in there that you cannot even use with [`new TaskCompletionSource<TResult>(TaskCreationOptions)`](https://msdn.microsoft.com/en-us/library/dd449186%28v=vs.110%

[2017-05-23 20:14] davidsh commented on #20043
Yes.  But that architecture is not how it works on .NET Core.

[2017-05-23 20:17] AlexGhiondea commented on #19832
Marking as future for now. Feel free to bump to 2.0 if you believe that is better.

[2017-05-23 20:18] weshaggard commented on #19832
@austindrenski in order to help we need more information. How are you building this project? What references do you have? Perhaps a sample project or diag log would help.

[2017-05-23 20:22] sepidehMS commented on #20000
@rainersigwald Like you mentioned, what is happening is that on netcoreapp2.0, all the packages you are loading are being overriden by the newer packages brought in by Microsoft.NET.Sdk, since all those packages are now part of that, and the package references are no longer necessary. This seems like a bug in netcoreapp1.0 and 1.1 that got fixed in 2.0. So, I'm closing this.

[2017-05-23 20:22] #20000 closed

[2017-05-23 20:25] weshaggard commented on #9975
@mmitche what is the next steps for getting the Nano CI turned on?

[2017-05-23 20:26] ahsonkhan commented on #18420
I wonder if this naming might become confusing with the addition of the `AsReadOnlySpan` APIs.

Good point. One option could be to rename `AsSpan(this string text)` to AsReadOnlySpan.

However, since the proposed APIs are extension methods on specific types, if you have a string, you won't see any AsReadOnlySpan extension method for it in intellisense, so it may not necessarily cause confusion.

W

[2017-05-23 20:28] weltkante commented on #4100
Taking @terrajobst edit into account, I'd assume they are already exposed via GetCustomAttributes, so there is probably nothing more to do in this regard.

@karelz if you mean this issue, yes. I've already addressed the comments on my local forks PR, so I assume (according to your [linked document](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)) I no

[2017-05-23 20:29] mmitche commented on #9975
It's available right now.  You may request with '@dotnet-bot test portable windows debug pipeline' and '@dotnet-bot test portable windows release pipeline'.

When the runs are totally clean, we can turn this on be default in CI.  I'd like to merge #20107 first to improve some of the GitHub reporting.

[2017-05-23 20:32] kouvel commented on #20093
@stephentoub:

It looks like that is the whole issue

Agreed

[2017-05-23 20:35] #19973 closed

[2017-05-23 20:35] #19978 closed

[2017-05-23 20:41] karelz commented on #20118
@weshaggard @ericstj @mellinoe what do you think about it for 2.0?

[2017-05-23 20:48] kouvel commented on #20093
On second thought, after reversing the statements in the cancellation callback, if a thread is at the point of `oce != null` due to cancellation, then it would already be guaranteed to see the exception due to volatile/interlocked accesses to the state value inside `sharedPStateFlags`. If instead the thread is at the point of `oce != null` due to completion, then it doesn't matter what it sees for

[2017-05-23 20:50] stephentoub commented on #20093
@kouvel, your second comment is just about the volatile-ness, not about the order of operations, right?

[2017-05-23 20:51] kouvel commented on #20093
Yes just about the volatileness

[2017-05-23 20:52] qmfrederik commented on #18752
@ViktorHofer I saw some reference to the work planned for System.Drawing in the ASP.NET Core repository when they considered dropping support for NetFX, but I didn't see a formal announcement.

Could you provide us with some additional information about what's being planned? Is it based on Mono's System.Drawing or .NET's System.Drawing? Will it use libgdiplus on Linux and macOS?

Just trying to un

[2017-05-23 20:53] weshaggard commented on #18469
Yes our VS support comes and goes, we try to keep it working but we are always on the bleeding edge of what the tools can support and in a lot of times we are building things the tools need to run which makes it kind of difficult. However it is definitely a goal to try and keep them working and we appreciate folks filling bugs when something isn't working.

As for the test project running non-wind

[2017-05-23 20:54] ViktorHofer commented on #18752
I will try to find the official announcement somewhere. Just to clarify: I don't have any Insider information.

[2017-05-23 20:58] ViktorHofer commented on #18752
Ok, I can't find anything about it for now. I will Reopen the issue.

[2017-05-23 20:59] stephentoub commented on #20101
Back to the original issue...
For 2.0 we should ensure HttpListener doesn't hang when such schemes are used.  If or when that's the case, actually supporting such auth schemes is post-2.0.

[2017-05-23 21:02] stephentoub commented on #19695
Closing for now due to lack of details.  @mayamoon, if this issue persists for you, please re-open and share more details on the environment as well as a small repro we can run to try to reproduce it.  Thanks.

[2017-05-23 21:02] #19695 closed

[2017-05-23 21:08] leecow commented on #19718
Discussed in shiproom based on input from @stephentoub. Plan to work on for 2.1 and backport if it does turn out to be blocking.

[2017-05-23 21:15] stephentoub opened #20201 "HttpListener on Unix doesn't track amount of data written to output stream"
The Windows implementation tracks how much data has been written to the output stream, and throws when trying to write more data than ContentLength64 specified.  The managed implementation doesn't do such tracking.  This means that it's possible for misuse that on Windows would result in an InvalidOperationException to go without an exception on Unix, the net result being more data written than sh

[2017-05-23 21:23] ericstj commented on #14291
@mellinoe why did this get moved to future?  These files are bloating our reference package.

[2017-05-23 21:34] danmosemsft commented on #20043
@karelz @davidsh just to be explicit, @ViktorHofer can't look at this as he's engaged on a DCR this week.

[2017-05-23 21:34] qmfrederik commented on #18752
From https://github.com/aspnet/Home/issues/2022:

@shanselman said [link](https://github.com/aspnet/Home/issues/2022#issuecomment-299536123):

and [link](https://github.com/aspnet/Home/issues/2022#issuecomment-299536123)

I think I at some point read that there will be first a Windows-only compat pack and then a cross platform one, but I can't find that statement anymore.

So any additional info w

[2017-05-23 21:35] danmosemsft commented on #18752
@mellinoe is the owner of this area now.

[2017-05-23 21:44] ericstj commented on #14291
Currently this impacts 4 assemblies in netcoreapp:
- System.Collections.Immutable
- System.Reflection.Metadata
- System.Threading.Tasks.Dataflow
- System.Threading.Tasks.Extensions

Together these make up 805 KB worth of IL assemblies, about 16% of the total IL in the package. Compressed they make up 340 KB, which is about 14% of the IL in the package.

[2017-05-23 21:45] ericstj commented on #20118
Sure, most of the descriptions were directly written by devs and never received any UX polish.  If folks what to change it just submit a change to https://github.com/dotnet/core-setup/blob/6887ab556bc8302390782711dcdd75b75e769cf5/src/pkg/projects/descriptions.json#L39.

[2017-05-23 21:52] mellinoe commented on #20118
Given that it's just a description change, I don't think this should be very "risky" from a shiproom perspective. But, obviously, we should try to make any changes as soon as possible if we want them in 2.0.

[2017-05-23 21:53] mellinoe commented on #14291
I can quickly create reference projects for these four manually, and we can still think about creating the automated process in the future. I'll try working on it later today.

[2017-05-23 21:55] kouvel commented on #20093
There might be another issue. It seems possible for cancellation to be requested between `oce != null` and `ctr.Dispose()`, in which case the work is actually complete, but the returned result would indicate incomplete and with no exception. Is that a valid combination, or should the cancellation registration be disposed before checking the exception?

[2017-05-23 21:59] stephentoub commented on #20093
Disposing of the registration before the check is a good idea.

[2017-05-23 22:17] danmosemsft opened #20204 "Quasi-support ShellExec for UWP"
We didn't ask for ShellExecuteEx to be added to the WACK so for UWP we should make some attempt to use Windows.System.Launcher and if it fails fall back to Process.Start. That ought to give us at least URL support.

@JeremyKuhne

[2017-05-23 22:23] weshaggard commented on #20133
Fixed with #20144

[2017-05-23 22:23] #20133 closed

[2017-05-23 22:36] ericstj commented on #20015
Reopening for port to 2.0.0

[2017-05-23 22:38] danmosemsft commented on #16926
I've pinged for an update but probably it will continue on.

[2017-05-23 22:41] danmosemsft commented on #20172
@karelz not sure whether networking folk need this fixed in 2.0 also. If so it would need a build tools update.

[2017-05-23 22:42] karelz commented on #20172
We can catch it just in master. It won't be that different.

[2017-05-23 22:43] JeremyKuhne commented on #19965
Corelib is updated, need to remove the skips when we take the next drop.

[2017-05-23 22:46] karelz commented on #20118
@anangaur do you have any wording suggestions? We can help you with the PR ...

[2017-05-23 22:50] karelz commented on #19718
@stephentoub did you mean to close it? Or leave it open for 2.1?

[2017-05-23 22:51] karelz commented on #18469
cc @FransBouma

[2017-05-23 22:54] karelz commented on #4100
Great, thanks! Assigned to you. Also sent you collaborator invite - pro tip: Disable monitoring entire repo, it's a lot ;).

[2017-05-23 22:57] ericstj commented on #20118
@terrajobst and @richlander likely have an opinion.

[2017-05-23 23:03] karelz commented on #18405
I will follow up. Documentation changes can happen after Escrow ;) as they don't require code change.

[2017-05-23 23:05] danmosemsft commented on #9975
@saurabh500 fyi how to trigger Nano on a PR.

[2017-05-23 23:06] karelz commented on #20152
@safern do we need it for 2.0? There was no milestone ...

[2017-05-23 23:07] EgorBo commented on #20179
The issue can be closed, we decided to use Managed SNI and after replacing .Windows.cs with .Unix.cs - the issue doesn't reproduce anymore on mono-windows.

[2017-05-23 23:07] #20179 closed

[2017-05-23 23:07] karelz commented on #20150
@safern also assume not needed for 2.0 ...

[2017-05-23 23:07] karelz commented on #20154
@safern not needed for 2.0 I assume.

[2017-05-23 23:09] karelz commented on #9966
OK, can you please do it @steveharter by EOW in rel/2.0.0 branch? (before Escrow starts)

[2017-05-23 23:10] danmosemsft commented on #9975
What issues remain? The Outerloop has no nano specific issues I'm aware of, so inner loop should be fine.

[2017-05-23 23:12] weshaggard commented on #20172
We plan to do a buildtools update in the release/2.0.0 branches once all the engineering work is done so this fix might just come along for the ride.

[2017-05-23 23:18] anangaur commented on #20118
May be:

"Automatically referenced by the .NET Core SDK (**version X.x.x**). Provides a set of .NET API's that are included in the default .NET Core application model."

This way the Package Manager UI shows the package got automatically added and the user need not get into the details view for this package:
![image](https://cloud.githubusercontent.com/assets/14800916/26380422/6cacff18-3fd3-11e7-8

[2017-05-23 23:31] stephentoub commented on #19975
Fixed:
CloseResponseEntity_SendToClosedConnection_DoesNotThrow
CloseResponseEntity_ChunkedSentHeaders_DoesNotModifyContentLength
CloseResponseEntity_NotChunkedSentHeaders_SendsEntityWithoutModifyingContentLength

Remaining:
CloseResponseEntity_AllContentLengthAlreadySent_DoesNotSendEntity
Abort_Invoke_ForciblyTerminatesConnection

[2017-05-23 23:39] weshaggard commented on #18469
I was able to reproduce this issue locally. Thanks for pointing it out @hughbe. PR https://github.com/dotnet/buildtools/pull/1513 should address this issue.

[2017-05-23 23:42] saurabh500 commented on #19825
Ported to 2.0.0 using PR https://github.com/dotnet/corefx/pull/20198
Good to close now.

[2017-05-23 23:42] #19825 closed

[2017-05-23 23:56] safern commented on #20154
Nope as the buildtools version in 2.0 doesn't have the fix for [ConditionalFact/Theory] so the tests are not running for Desktop

[2017-05-23 23:56] davidwrighton commented on #20157
Is this expected to be a .NET Standard 2.0 feature or a followon 2.1 or something?

[2017-05-23 23:57] safern commented on #20150
Same as: https://github.com/dotnet/corefx/issues/20154#issuecomment-303570228

[2017-05-23 23:57] safern commented on #20152
Same as: https://github.com/dotnet/corefx/issues/20154#issuecomment-303570228

[2017-05-24 00:01] karelz commented on #20157
2.0 is API frozen since mid April, so I assume 2.1 the earliest, but @yizhang82 moved it into Future - so not sure. @yizhang82?

[2017-05-24 00:20] VSadov commented on #19881
since the occurrence is rare and there is a strong belief that this is the same as dotnet/coreclr#6283 , I am closing this as a dupe of dotnet/coreclr#6283

There is nothing here that is actionable on the part of Dynamic.Runtime

[2017-05-24 00:21] #19881 closed

[2017-05-24 00:45] yizhang82 commented on #20157
We should add the API into netstandard when the feature is available everywhere, and we don't have a timeline for that yet. The only reason we might want to introduce the API (just the names) into netstandard is to better support Roslyn code (if it needs to target a particular netstandard when it ships), but that could also be easily resolved with just embedding the string.

(Of course, this API w

[2017-05-24 00:46] safern commented on #19967
@hughbe a simpler way to run this tests locally until I merge the fix is to change `<XunitNetcoreExtensionsVersion>` version inside dependencies.props ([see it here](https://github.com/dotnet/corefx/blob/master/dependencies.props#L42)) to: `1.0.1-prerelease-01622-05`

I should be opening a PR soon to update them with the last tests to disable in order to be able to consume the new Xunit.Netcore.Ex

[2017-05-24 00:49] CIPop opened #20212 "UWP Cleanup: Remove common unreferenced UAP PAL files"
Tracking common UAP PAL files that need to be removed when they are not referenced by any contract:

- [X] HostInformationPal.Uap.cs
- [ ] ContextAwareResult.Uap.cs
- [ ] CompletionPortHelper.Uap.cs

[2017-05-24 00:54] jyoungyun commented on #16335
@gkhanna79 Sure :) @hqueue Please close this issue. We will manage the pipeline issue by using dotnet/core-setup#1566.

[2017-05-24 01:01] taoyouh commented on #19783
The problem is that I get no error when installing a NuGet package that use System.Net.Security to a UWP project, only getting exceptions at runtime.
Allowing referencing System.Net.Security in UWP makes it necessary to check if all the dependencies are supported in UWP.
In .NET standard 2.1, will there still be any packages that are not supported by UWP?

[2017-05-24 01:03] safern opened #20214 "System.Security.Cryptography.Cng.ImportExport tests fail in Desktop"
This tests are conditioned through `ConditionalFact` where they will run if the current running framework is 4.6.2 or newer as this was supposed to be fixed in that version of the framework: https://github.com/dotnet/corefx/issues/19041#issuecomment-297855354

They are failing with:
[code]

cc: @bartonjs @ianhays @steveharter

[2017-05-24 01:23] Thaina commented on #20171
@Clockwork-Muse That's why I would like to have arbitrary size seed. So I could use 128 bit seed if I really want more unique value of float

[2017-05-24 01:23] danmosemsft commented on #20103
Hang. https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/8241/consoleFull#-18258434524b7730ef-150b-4be7-a00f-82ba6c50792b

[2017-05-24 01:50] gkhanna79 commented on #16335
Closing per the discussion above.

[2017-05-24 01:50] #16335 closed

[2017-05-24 02:15] JeremyKuhne commented on #20040
This has been fixed and ported to 2.0.

[2017-05-24 02:15] #20040 closed

[2017-05-24 02:22] yaakov-h commented on #17619
@karelz that twitter link 404s.

[2017-05-24 02:39] #18483 closed

[2017-05-24 04:32] danmosemsft opened #20217 "Debian9 baseline incorrect for glob test"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170524.01/workItem/System.Globalization.Tests/analysis/xunit/System.Globalization.Tests.NumberFormatInfoNumberGroupSizes~2FNumberGroupSizes_Get(format:%20NumberFormatInfo%20%7B%20CurrencyDecimalDigits%20=%202,%20CurrencyDecimalSeparator%20=%20%5C%22.%5C%22,%20Currency

[2017-05-24 04:45] yizhang82 commented on #19731
@daxian-dbw Thanks for reporting this issue. As previously discussed, CoreCLR doesn't support IDispatch (and that's why you are implementing your own IDispatch). IEnumerable.GetEnumerator uses IDispatch.Invoke(DISPID_NEWENUM) under the hood (that's the convention for IDispatch objects to support enumeration). You need to write your own enumeration code to support that pattern in CoreCLR. Based on

[2017-05-24 04:48] danmosemsft opened #20219 "SendAsync_HttpTracingEnabled_Succeeds failing consistently on Unix"
On many distros.

eg https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_opensuse42.1_debug/lastCompletedBuild/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_HttpTracingEnabled_Succeeds/
[code]

@karelz

[2017-05-24 04:52] yizhang82 commented on #19731
I have a PR out to make the exception better: https://github.com/dotnet/coreclr/pull/11865

[2017-05-24 04:54] karelz commented on #20219
@lmolkova @stephentoub are you aware of any recent changes in the area?

[2017-05-24 04:58] karelz commented on #17619
I deleted the original tweet couple of minutes after posting the GitHub reply, I immediately retweeted it with fixed typo.
I updated GH to the new link right away, so you likely clicked the old link from email notification. Here it is again: https://twitter.com/ziki_cz/status/866981185267707904

[2017-05-24 05:23] danmosemsft commented on #20219
dupe of https://github.com/dotnet/corefx/issues/20199

[2017-05-24 05:23] #20219 closed

[2017-05-24 05:53] Clockwork-Muse commented on #20171
Large seed (or large internal state) != no reoccurrence of a value.  It means the overall period, when the entire sequence repeats, is long.  The period is (supposed to be, at least) longer than the range of valid values, and could cause most of them to repeat at least once.  That repetition is allowed to take place at any point, although for distribution reasons they're usually far apart.

The se

[2017-05-24 06:39] Jiayili1 commented on #20199
This issue is repro on Portable Core Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170524.01/workItem/System.Net.Http.Functional.Tests

[2017-05-24 06:43] Jiayili1 commented on #19466
This issue is repro on Portable Core Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170524.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-05-24 06:45] dotnet-mc-bot opened #20223 "Test: System.Net.Sockets.Tests.DnsEndPointTest/Socket_StaticConnectAsync_HostNotFound failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.DnsEndPointTest/Socket_StaticConnectAsync_HostNotFound` has failed.

Timed out while waiting for connection
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Net.Sockets.Tests.DnsEndPointTest.Socket_StaticConnectAsync_HostNotFound() in /root/corefx/src/System.Net.Sockets/tests/FunctionalTests/DnsEndP

[2017-05-24 06:47] Jiayili1 commented on #18907
Failed again on Portable Core Tests in build 20170524.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170524.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveUdpClient~2FSendToRecvFromAsync_Datagram_UDP_UdpClient(loopbackAddress:%20127.0.0.1)

[2017-05-24 06:49] Jiayili1 commented on #20077
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170524.01/workItem/System.Collections.NonGeneric.Tests/analysis/xunit/System.Collections.Tests.CaseInsensitiveHashCodeProviderTests~2FDefault_Compare_TurkishI

[2017-05-24 07:04] FransBouma opened #20225 "Tooling: msbuild /t:UpdateVSConfigurations fails with empty sequence exception"
To update the solutions in the CoreFX repo after a configuration change in a props file, e.g. a platform was added for a given csproj, the command `msbuild /t:UpdateVSConfigurations` can be used (see: https://github.com/dotnet/corefx/pull/19885#issuecomment-303162997). However when I do that (as I needed to), I get the following exception:

[code]

This is on the latest CoreFX master as of yesterd

[2017-05-24 07:06] Thaina commented on #20171
@Clockwork-Muse `no reoccurrence of a value` is not the same as `no reoccurrence of a sequence`

[2017-05-24 07:49] divega commented on #19896
@saurabh500 AFAIK, SqlClient was instrumented with diagnostic listener/source in https://github.com/dotnet/corefx/commit/dbabd7678d2290f1aef44815fe96b4310cd0c3e6. Assuming it all works ok, that should be enough for App Insights.

I am not sure if adding EventSource for out-of-proc tracing would be a good idea, also not sure about System.Data.Common carrying using EventSource and SqlClient using Di

[2017-05-24 07:52] v-haren commented on #20199
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/55/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_HttpTracingEnabled_Succeeds/

[2017-05-24 08:04] Jiayili1 commented on #20199
This issue is also failed on Portable Core Tests (2.0.0), detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170524.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.DiagnosticsTest~2FSendAsync_HttpTracingEnabled_Succeeds

[2017-05-24 08:11] Jiayili1 opened #20226 "Various System.Net.HttpListener tests fail with "IOException : Too many open files" on OSX"
Failed test: System.Net.Tests.SimpleHttpTests.UnknownHeaders_Success(numHeaders: 100)

Mac OSX failure:

Detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170524.01/workItem/System.Net.HttpListener.Tests/wilogs

[code]

[2017-05-24 08:14] Jiayili1 opened #20227 "IsWebSocketRequest_GetProperty_ReturnsExpected failed with "System.Net.HttpListenerException : Address already in use""
Failed test: System.Net.Tests.HttpListenerRequestTests.IsWebSocketRequest_GetProperty_ReturnsExpected

Mac OSX failure

Detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170524.01/workItem/System.Net.HttpListener.Tests/wilogs

[code]

[2017-05-24 08:15] hughbe opened #20228 "[HttpListener] [Managed] HttpListener.GetContext should not succeed for invalid requests"
The following headers give HTTP listener a context with the managed implementation but not in Windows

- `GET {path} HTTP/2.2`
- `GET {path} HTTP/2.0`
- `GET {path} HTTP/3.0`

I'm submitting a PR with tests

[2017-05-24 08:17] hughbe opened #20229 "[HttpListener] [Managed] HttpListener.GetContext should fail if Content-Length is specified twice with different values"
Following request gives HttpListener a context with the managed implementation but not on Windows. Note that Windows gets a context if the content-length is the same:

[code]

I'm submitting a PR with tests

[2017-05-24 08:19] hughbe opened #20230 "[HttpListener] [Managed] HttpListener.GetContext should return 404 not found if the path doesn't exist"
The following requests get a 404 Not Found in the Windows implementation but 400 Bad Request in the managed implementation:

- `GET /something/{path} HTTP/1.1`
- `GET /{path}/../ HTTP/1.1`

I am submitting a PR with tests for this

[2017-05-24 08:22] hughbe opened #20231 "[HttpListener] [Managed] Duplicate transfer-encoding in the client's request should return 501 Not Implemented"
Following request gives HttpListener a context with the managed implementation but not on Windows.
This causes a 501 Not Implemented on Windows but passes with the managed implementation:
[code]

I'm submitting a PR with tests

[2017-05-24 08:23] hughbe opened #20232 "[HttpListener] [Managed] positive overflow of Content-Length should set HttpListenerRequest.ContentLength64 to zero"
The following request hangs with the managed implementation but works with the Windows implementation:

[code]

I'm submitting a PR with tests

[2017-05-24 09:21] hugosmarques commented on #19929
@weshaggard and @leecow do you have news?

[2017-05-24 09:45] samirparekh commented on #20091
a silly question but, in case of a null being passes in name, how does the client access the same memory mapped file, is there some sort of ID or something to identify the corresponding memory map?

[2017-05-24 10:51] stephentoub commented on #20199
I'll take a look..

[2017-05-24 10:57] jswolf19 commented on #18420
I agree from a discoverability standpoint that `AsSpan` is the more intuitive name, as making the mental leap from `string` → immutable → `ReadOnlySpan` instead of `Span` while likely not hard for someone who would likely be using `Span` is not immediate in my mind.

From a readability standpoint, though I imagine
`var span = str.AsReadOnlySpan();`
might be preferable to
`var span = str.AsSpan();`

[2017-05-24 11:17] #20098 closed

[2017-05-24 11:25] stephentoub commented on #20199
From the stack in the log, it looks like it's hitting some kind of fail fast in the runtime:
[code]

[2017-05-24 11:27] stephentoub commented on #20199
I believe I see the problem.

[2017-05-24 11:34] stephentoub commented on #20091
Names are a feature provided by Windows.  In general, memory-mapped _files_ work by cross-process communication by mapping the same file into multiple processes, e.g. using MemoryMappedFile.CreateFromFile.  You can see an example in the test here: https://github.com/dotnet/corefx/blob/master/src/System.IO.MemoryMappedFiles/tests/MemoryMappedFile.CrossProcess.cs#L13

[2017-05-24 11:49] ektrah commented on #18420
+1 for changing `public static ReadOnlySpan<char> AsSpan(this string text);` to `public static ReadOnlySpan<char> AsReadOnlySpan(this string text);` if `public static ReadOnlySpan<T> AsReadOnlySpan<T>(this T[] array);` is added. It's confusing if `AsSpan` on strings is inconsistent with every other use of `AsSpan` and if there is a `AsReadOnlySpan` method which can be used in every case except for

[2017-05-24 11:58] benaadams commented on #18420
If the string extension method was to change

`ReadOnlySpan<char> AsSpan(this string text)` -> `ReadOnlySpan<char> AsReadOnlySpan(this string text)`

At a guess it would need to change before Escrow? Else it couldn't change due to back compat?

Can an expedited decision be made? /cc @jkotas @karelz @terrajobst

[2017-05-24 12:31] hughbe opened #20237 "[HttpListener] [Managed] Implement HttpListenerRequest.RequestTraceIdentifier"
[code]

Suggested in https://github.com/dotnet/corefx/pull/20233

[2017-05-24 12:34] hughbe opened #20238 "[HttpListener] [Managed] HttpListenerRequest should throw an InvalidOperationException calling certificate APIs after not finishing `BeginGetClientCertificate`"
[code]

[2017-05-24 12:37] hughbe opened #20239 "[HttpListener] [Managed] Implement HttpListenerRequest.TransportContext.GetChannelBinding"
[code]

[2017-05-24 12:37] hughbe opened #20240 "[managed bug] Implement HttpListenerRequest.TransportContext.GetChannelBinding"
[code]

[2017-05-24 12:37] #20240 closed

[2017-05-24 12:40] hughbe commented on #20101
Adding:
- UnsafeConnectionNtlmAuthentication_Unix_ThrowsPlatformNotSupportedException
- UnsafeConnectionNtlmAuthentication_SetGet_ReturnsExpected
- UnsafeConnectionNtlmAuthentication_SetDisposed_ThrowsObjectDisposedException

under this issue

[2017-05-24 13:43] jkotas commented on #18420
System.Memory is not shipping a stable package for 2.0.

[2017-05-24 13:49] benaadams opened #20242 "[API Change] Extension AsSpan(this string text) -> AsReadOnlySpan(this string text)"
From #18420

Extension change to match other ReadOnlySpan return methods
[code]
to
[code]

[2017-05-24 13:49] benaadams commented on #18420
K, raised as separate issue https://github.com/dotnet/corefx/issues/20242

[2017-05-24 14:12] karelz commented on #20199
Reopening to port the fix into rel/2.0.0 -- it is rather impactful on our test runs (4 failures in 1 day)

[2017-05-24 14:23] karelz commented on #20226
cc @hughbe @stephentoub - one time Mac OS failure, moving to 2.1.
If you know what's wrong from top of your head, we could fix it in 2.0, because these are new tests ...

[2017-05-24 14:24] karelz commented on #20227
cc @hughbe @stephentoub - one time Mac OSX failure, moving to 2.1.
If you know what's wrong from top of your head, we could fix it in 2.0, because these are new tests ...

[2017-05-24 14:25] stephentoub commented on #20226
I expect it's related to https://github.com/dotnet/corefx/issues/19754.  2.1 is ok.

[2017-05-24 14:30] karelz commented on #19754
@stephentoub do you plan to take it into 2.0 with your bulk integration into rel/2.0.0? The number of failures is on the border of being bothersome ... OTOH we can fix tests even later (in servicing branches, if they cause noise ...)

[2017-05-24 14:30] karelz commented on #20226
Should we close it as dupe, or is it "just" related?

[2017-05-24 14:31] stephentoub commented on #20226
Don't know without investigating both.

[2017-05-24 14:34] karelz commented on #19466
This failure is now rather more common than we would like. Moving to 2.0.
@hughbe @stephentoub can you please take a look if you get a chance? Thanks!

[2017-05-24 14:36] karelz commented on #20226
OK, let's see if the failures are more common ... then we can invest ...

[2017-05-24 14:38] stephentoub commented on #19754
Yes, as we've discussed, all changes related to HttpListener since we forked should go to rel/2.0 in bulk.

[2017-05-24 15:13] JoshuaGarrison27 opened #20244 "Question: ClaimTypes and Schema URIs"
File in question: https://github.com/Microsoft/referencesource/blob/master/mscorlib/system/security/claims/ClaimTypes.cs

If I want to create some custom claim types and I want to keep to the same formatting and code style as in this file, then is there a place where all possible (already created) URIs are listed? For example, is there one for DisplayName or userPrincipleName in active directory?

[2017-05-24 15:21] danmosemsft opened #20245 "Test failures: System.Net.NameResolution.PalTests.NameResolutionPalTests / GetHostByName_HostName & TryGetAddrInfo_HostName"
## Types of failures

Affected tests:
* GetHostByName_HostName
* TryGetAddrInfo_HostName

### TryGetAddrInfo_HostName

`TryGetAddrInfo_HostName` test in build 20171203.01 (same for OSX and Linux):
[code]

### GetHostByName_HostName

The error is:
* OSX - Device not configured
* Linux - No such device or address
(same callstack)

`GetHostByName_HostName` test in build 20171203.01 (OSX):
[code]

##

[2017-05-24 15:24] danmosemsft commented on #20226
https://github.com/dotnet/corefx/issues/20176

[2017-05-24 15:26] stephentoub commented on #20176
Likely.  That change isn't in the release/2.0 branch yet.

[2017-05-24 15:28] danmosemsft commented on #19388
@karelz we are still regularly getting this error message

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170524.02/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.SyncWebClientTest~2FUploadFile_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

https://mc.dot.net/#/product

[2017-05-24 15:29] danmosemsft commented on #19466
Again, on OSX and Debian. Nothing useful can be gotten from the Helix logs - we either need to repro locally, or experiment.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170524.02/workItem/System.Net.HttpListener.Tests/wilogs

[2017-05-24 15:37] danmosemsft opened #20246 "[HttpListener] Hang of System.Net.HttpListener.Tests in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/8257/consoleFull#130661499679494335-f7bd-47d0-8771-8661e00c2db2

[code]

Not actionable based on this information, but starting an issue.

[2017-05-24 15:48] weshaggard commented on #19929
@hugosmarques OK we have a nightly build that I believe will get you unblocked (or at least to the next stage).

You will need to pick-up build `2.1.0-preview1-25323-04`. Following the dogfooding instructions at https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md you will either need to install (https://dotnetcli.blob.core.windows.net/dotnet/Runtime/2.1.0-preview1

[2017-05-24 15:48] agatlin commented on #12496
@jkotas, The provided link for GetMethodInfoOf does not appear to be active. I have been unable to locate other information on this method. Could you possibly point me to an example? Many thanks.

[2017-05-24 15:51] karelz commented on #19388
It is likely unpatched VMs - infra issue.
@wfurt can you please look into it? -- check out the original PR. I expect that the script change was not deployed everywhere. You might want to check with @mmitche.

cc @tmds if he has ideas/suggestions.

[2017-05-24 15:52] karelz commented on #20225
@mellinoe @weshaggard any idea?

[2017-05-24 15:54] mmitche commented on #19388
@karelz @MattGal Those test VMs are using Azure's 'latest' tag right, which should correspond to the newest patch level?

[2017-05-24 15:54] karelz commented on #20240
@hughbe I assume you filed this one by mistake?

[2017-05-24 15:58] karelz commented on #20199
Fixed by #20236

[2017-05-24 15:58] #20199 closed

[2017-05-24 16:04] karelz commented on #19754
OK, thanks. Marked as 2.0 then and added to the list of things to port: https://github.com/dotnet/corefx/issues/20060#issuecomment-302956042

[2017-05-24 16:08] danmosemsft commented on #20225
Need a buildtools update. Was fixed in https://github.com/dotnet/buildtools/pull/1509 it looks like

[2017-05-24 16:14] hugosmarques commented on #19929
@weshaggard when i try to run dotnet restore im receiving the following error

C:\Program Files\dotnet\sdk\2.0.0-preview2-006127\NuGet.targets(98,5): error : Unable to resolve 'Microsoft.NETCore.App (>= 2.1.0-preview1-25323-04)' for '.NETCoreApp,Version=v2.0'. [C:\Users\hugo.marques\Documents\adigitalbook\sunpics\adigitalbook_core_api\adigitalbook_core_api.csproj]

[2017-05-24 16:14] safern commented on #20109
We should also include in the Desktop config file a setting to override the `TraceListener` with a custom trace listener that treats debug.assert as a failed test instead of showing a pop-up which also causes the tests to hang. Something like:

[code]

This custom trace listener should be included in Xunit.Netcore.Extensions desktop version

[2017-05-24 16:15] svick commented on #12496
@agatlin Thanks to the wonders of git, you can [time travel](https://stackoverflow.com/a/6990682/41071) back to 2016 to find that [the method](https://github.com/dotnet/corefx/blob/b5016b1/src/System.Linq.Queryable/src/System/Linq/Queryable.cs#L1983-L1987) was just:

[code]

It was used e.g. like this:

[code]

[2017-05-24 16:18] FransBouma commented on #20225
@danmosemsft You're absolutely right! I completely overlooked the line in Ericstj's post where he even says it is broken. Will close this one.

[2017-05-24 16:18] #20225 closed

[2017-05-24 16:25] hugosmarques commented on #19929
@weshaggard
dotnet --version
2.0.0-preview2-006127

[2017-05-24 16:26] weshaggard commented on #20172
Fixed with https://github.com/dotnet/corefx/pull/20195.

[2017-05-24 16:26] #20172 closed

[2017-05-24 16:29] hugosmarques commented on #19929
@weshaggard
dotnet --info
.NET Command Line Tools (2.0.0-preview2-006127)

Product Information:
 Version:            2.0.0-preview2-006127
 Commit SHA-1 hash:  946ea7980a

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.0.0-preview2-006127\

Microsoft .NET Core Shared Framework Host

  Ver

[2017-05-24 16:45] zhenlan commented on #18312
Plan is to rename the private field to be desktop compatible.

[2017-05-24 16:46] weshaggard commented on #20225
A version of BuildTools with this fix just merged into master this morning.

[2017-05-24 16:49] weshaggard commented on #19929
@hugosmarques do you have `<add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />` in your nuguet.config? You will need to use our nightly feed to consume that package.

[2017-05-24 16:51] shmao commented on #18312
@morganbr can you please confirm if this would be part of https://github.com/dotnet/corefx/issues/19119?

[2017-05-24 16:51] powercode opened #20252 "Proposal: Add new property for getting process command line and environment and parent process"
# Rationale and Usage

When writing tools, it is often useful to be able to get to information about the processes you manage.
This is easy on Linux with /proc, but harder on windows.
When getting parent process, it is important to check the start time of the process with the PID of the queried process to see if it is older to prevent errors when process ids are recycled.

# API proposal
[code]

I

[2017-05-24 16:51] zhenlan commented on #18312
Relate to #19119

[2017-05-24 16:54] hugosmarques commented on #19929
@weshaggard i add the key but the error continue

mu  nuget.config file:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
	<add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
  </solution>
</configuration>

[2017-05-24 16:55] hugosmarques commented on #19929
[NuGet.zip](https://github.com/dotnet/corefx/files/1026347/NuGet.zip)

[2017-05-24 16:57] weshaggard commented on #19929
Your nuget.config needs to look something like:
[code]

[2017-05-24 17:03] v-tbert opened #20253 "Can't add System.Runtime.WindowsRuntime nuget package to .net 4.6.1 project"
If you try to add the package, you get the following error:

Could not install package 'System.Runtime.WindowsRuntime 4.3.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6.1', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2017-05-24 17:05] #19729 closed

[2017-05-24 17:12] hugosmarques commented on #19929
@weshaggard it works now. I already debug the project and now when i open the mysqlconnection the following error appear:

{System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.IO.FileNotFoundException: Could not load file or assembly 'System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cann

[2017-05-24 17:22] daxian-dbw commented on #19731
@yizhang82 thanks for the taking a look. We have been using the pattern `comObj as IEnumerable` to check if a COM object is enumerable (see below code). Can we trust this pattern to continue working in .NET Core?
[code]

[2017-05-24 17:23] weshaggard commented on #19929
Great to see you make it further however this is kind of what I was hinting at in my earlier comments about hitting something that isn't supported on .NET Core. System.Management is not something we currently have an implementation for in .NET Core so there isn't any good way to fill that gap. There is a request for it (https://github.com/dotnet/corefx/issues/14762) but I don't know if or when tha

[2017-05-24 17:24] #20217 closed

[2017-05-24 17:25] hugosmarques commented on #19929
I appreciate that. MySQL .net core does not have DataAdapter and I don't know why...

[2017-05-24 17:31] karelz commented on #18312
@safern Ian is OOF sick, can you please take a look at feasibility of this change in 2.0 ASAP? Thanks!

[2017-05-24 17:32] weshaggard commented on #19929
@hugosmarques I don't think there is anything else really actionable on this issue so I'm going to close it. If I get any further information about an update mysql I will post it here.

[2017-05-24 17:32] #19929 closed

[2017-05-24 17:43] tannergooding opened #20256 "`System.IntPtr` and `System.UIntPtr` Improvements"
### Rationale

The .NET framework provides the `System.IntPtr` and `System.UIntPtr` types which wrap the `native int` IL primitive (as per ECMA-335).

These types are frequently used to represent both handles/pointers and integers whose size depend on the underlying platform.

When being used to represent the latter (platform sized integer) type, users may find a difficult time performing some bas

[2017-05-24 17:44] tannergooding commented on #20256
Ported from https://github.com/dotnet/coreclr/issues/11768. I have an implementation of this proposal here: tannergooding#1. If this is approved, I can submit a PR to dotnet/coreclr directly.

[2017-05-24 17:45] danmosemsft commented on #20253
@weshaggard does @v-tbert need to add a nuget reference to netstandard package?

[2017-05-24 17:46] danmosemsft commented on #18312
This would be @ViktorHofer actually. He is fixing fields for @morganbr 's 100 (the set of types we plan to support [Serializable] on) to be desktop compatible. ReadOnlyDictionary is on that list.

[2017-05-24 17:50] MattGal commented on #19388
We're intentionally no longer using 'latest' because this can be totally messed up images that can have suprisingly new problems, such as not having Python 2.X on the OS or not having a functional GCC.  We've simply seen too much chaos stemming from leaving things on "latest" to not do this update manually, unfortunately.

For Redhat 7.2, we're currently using image: 7.2.2017032022.  Newer ones av

[2017-05-24 17:56] weshaggard commented on #20253
@ericstj to confirm but this is just a case of a package we don't support on .NET Framework. @v-tbert is there a reason you are trying to use this package on .NET Framework?

[2017-05-24 17:58] MichalStrehovsky commented on #20256
It might be better to make `MinValue` and `MaxValue` a property to avoid adding a static constructor to the type.

These are different from e.g. `Int32.MaxValue` anyway because those are all literal fields (`const`).

[2017-05-24 18:02] tannergooding commented on #20256
I had done it to match the current `Zero` definition, but you make a good point. I've updated the above.

[2017-05-24 18:03] karelz commented on #18312
Great, thanks!

[2017-05-24 18:06] v-tbert commented on #20253
Sort of. I have the System.Runtime.WindowsRuntime package added to a portable library where the win 10 calls live. That was created as an old style PCL project targeting .net 4.6 and win 10. In the project properties I selected the option to switch it to a .net standard 1.4 project which should have the same platform compatibility<https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-

[2017-05-24 18:08] joperezr commented on #19119
@morganbr @ViktorHofer any updates on how this work is going? just want to make sure that we are still on track for 2.0

[2017-05-24 18:08] v-tbert commented on #20253
The package is produced and working on .Net 4.5.1 just fine, so I don't know why this wouldn't be the case for 4.6.1?

From: Wes Haggard [mailto:notifications@github.com]
Sent: Wednesday, May 24, 2017 10:57 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Tim Bertalot (Indigo Slate) <v-tbert@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Can't add System.Runt

[2017-05-24 18:10] danmosemsft commented on #19119
@joperezr we're tracking it closely :)

[2017-05-24 18:11] huanwu commented on #19930
@mellinoe do you have idea on above errors I got when target my app at NetCoreApp?

[2017-05-24 18:11] MattGal commented on #19388
All RedHat 7.2 VMs in Helix are now 7.2.2017051117, which is the latest Azure provides (from 05/11/2017)

[2017-05-24 18:16] mellinoe commented on #19930
I'll check out your branch and see if I can figure out what is missing.

[2017-05-24 18:17] safern commented on #18312
Thanks @karelz and @danmosemsft for follow up!

[2017-05-24 18:31] mellinoe opened #20258 "Move "GenerateReferenceSource" target into buildtools"
We should move this new target into buildtools if we decide that the functionality is general-purpose enough to warrant it. This might involve cleaning it up, making it "automatic", and fixing some of the problems around multiple build configurations.

[2017-05-24 18:40] shmao commented on #19899
I made a fix in SG.exe for the issue. The CodeFlow is under review.

[2017-05-24 18:40] karelz commented on #19683
@steveharter do you recommend to punt it for post-2.0 then?
I wonder why it was reliable repro earlier ...

[2017-05-24 18:40] shmao commented on #19904
This is a duplicate of #19899.

[2017-05-24 18:40] #19904 closed

[2017-05-24 18:41] shmao commented on #19902
This is a duplicate of #19899.

[2017-05-24 18:41] #19902 closed

[2017-05-24 18:43] karelz commented on #19430
Fixed by #20153 in rel/2.0.0 branch

[2017-05-24 18:43] #19430 closed

[2017-05-24 18:45] karelz commented on #20043
@davidsh can you please help with this fix?
cc @DavidGoll

[2017-05-24 18:46] karelz commented on #7812
Where are we with this? I would like to see daily updates.
This is the scariest bug in Networking at this moment.

[2017-05-24 18:49] karelz commented on #20096
AFAIK I remember this was by design porting choice as we ran out of time.
@davidsh @CIPop @stephentoub can you please confirm?

If it is correct, we will wait for feedback on the missing functionality, we will address it in future versions. We should mention it in [ApiCompat](https://github.com/dotnet/corefx/wiki/ApiCompat).

[2017-05-24 18:50] stephentoub commented on #20096
I'm not aware of any reason this should fail on Windows.  On Unix, yes, we punted on NTLM/Negotiate.

[2017-05-24 18:51] krwq commented on #20046
@danmosemsft I believe that `new Uri(@"/tmp/", UriKind.RelativeOrAbsolute).IsAbsoluteUri; // returns false` should return true - AFAIK anything starting with slash on linux is considered an absolute path. IMO this is Uri bug

[2017-05-24 18:52] mellinoe commented on #19930
@huanwu The problem is that corefx doesn't really support publishing "shared framework" applications -- it will produce the binary (Microsoft.XmlSerializer.Generator.exe) that you need, but not the other stuff to make a shared framework application work. When I copied the runtime next to the executable, it worked as expected (and I was able to get it to spit out a .cs file for some assembly).

Gen

[2017-05-24 18:52] karelz commented on #19827
Tracked in large port bug: https://github.com/dotnet/corefx/issues/20060#issuecomment-302956042

[2017-05-24 18:52] #19827 closed

[2017-05-24 18:54] karelz commented on #20096
@davidsh @CIPop @DavidGoll can you please take a look at this bug?

[2017-05-24 18:55] stephentoub commented on #20046
Based on what?

[2017-05-24 18:58] danmosemsft commented on #19119
@krwq

[2017-05-24 19:01] CIPop commented on #20096
I don't think `NullReferenceException` is something expected. Sounds like an implementation bug.

[2017-05-24 19:02] patricksadowski commented on #13207
Is there still API work needed? I would like to implement the proposed API.

[2017-05-24 19:02] karelz commented on #20070
Fixed in #20119 in rel/2.0.0 branch.

[2017-05-24 19:02] #20070 closed

[2017-05-24 19:03] karelz commented on #20089
Fixed by #20120 in rel/2.0.0 branch. Thanks @danmosemsft!

[2017-05-24 19:03] #20089 closed

[2017-05-24 19:05] DavidGoll commented on #7812
No test failures since PR of instrumented code was merged.

[2017-05-24 19:08] karelz commented on #7812
Can we ask for more runs in lab? @danmosemsft This is impacting real world scenarios.

I guess it would get in even in Escrow (based on the impact, assuming fix is low-risk), but it would be much better to solve it during Ask mode. cc @Petermarcu as it is risk to get into Escrow.

[2017-05-24 19:14] mellinoe opened #20260 "Port four new reference assembly projects to release/2.0.0"
This tracks porting the changes in https://github.com/dotnet/corefx/pull/20211 to the release/2.0.0 branch.

I've made a targeted fix which will reduce the IL size of the reference assemblies we ship with .NET Core. In total, we will bundle 729 KB less in the Microsoft.NETCore.App package. There is no observable difference other than the file size. This change just strips out the implementation IL

[2017-05-24 19:19] ahsonkhan commented on #20242
cc @shiftylogic, @KrzysztofCwalina, @terrajobst - api-ready-for-review

[2017-05-24 19:27] JeffFerguson opened #20263 ".NET Core 2.0 Preview 1: XmlSchemaSet Compile Failure to Find Types in Included Schemas"
Consider the following XML schema:

[code]

The following .NET Core 2.0 Preview 1 console app fails with an exception:

[code]

The exception is as follows:

[code]

The type in question (`http://www.xbrl.org/2003/instance:monetaryItemType`) is available from the imported schema named on the main XSD's `<import>` element. This code works on .NET Framework. Is this a known issue with `XmlSchemaSet`

[2017-05-24 19:32] ghostbust555 opened #20264 "Named Pipes only can receive a single message"
The implementation of NamedPipeServerStream.WaitForConnectionAsync is unclear and also incorrect.

I believe the following should work but it fails (on windows at least)

[code]

However if the wait for connections async is supposed to be called on each disconnect then I am still having errors as calling WaitForConnectionAsync again causes an IO exception

[code]

[2017-05-24 19:38] karelz commented on #15403
Thanks for your contribution @madelson! I sent you collaborator invite, once you accept, please ping me here and I will be able to assign the issue to you (GitHub limitation).

Note that we have new contributor docs (under construction): https://github.com/dotnet/corefx/wiki/New-contributor-Docs#contributing-guide ... feel free to improve them, the wiki is RW for everyone. There is also gitter cha

[2017-05-24 20:07] GSPP commented on #20256
Can `IntPtr.ToString()` be changed to something more appropriate for pointers and other "opaque values"? Maybe `0x12345678` (i.e. `return ((uint)this).ToString("X8");` and similar for 64 bit). Right now it returns `((int)this).ToString()`.

Not sure how this can cause compat issues since I have never seen the `ToString` output of an `IntPtr` in my life.

[2017-05-24 20:10] danmosemsft commented on #20246
fyi @hughbe @stephentoub note these are in master.

[2017-05-24 20:10] danmosemsft commented on #20246
https://mc.dot.net/#/user/mmitche/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fportable~2Fcli~2F/6c6eb50345329c470db608fef70710e52270c507/workItem/System.Net.HttpListener.Tests

[2017-05-24 20:34] tannergooding commented on #20256
@GSPP, changing the default is likely a breaking change (but I can't say for certain on that). However the existing `IntPtr.ToString(string)` function (and the proposed `UIntPtr.ToString(string)`) function can be used to give you the desired behavior (`IntPtr.ToString("X8")` will give you a hex formatted number).

Additionally, the purpose of this proposal is to expose some interfaces and methods

[2017-05-24 20:44] terrajobst commented on #20118
I’d rather we don’t show the package at all 😊

Can we even accurately specific the SDK version? Seems like a chicken and egg problem where some side would have to predict the version number the other side is going to produce.

[2017-05-24 20:49] hugosmarques commented on #19929
@weshaggard did you have an explanation for the fact that Mysql works fine with .net core 1?

[2017-05-24 21:08] karelz commented on #17412
@PaulHigin can you please propose both alternatives in formal API proposal form with usage samples (no implementation is needed), so that we can discuss them in next API review meeting?

We are finishing off 2.0 work, and both area experts are OOF, so we will wait with further progress until next week.

[2017-05-24 21:11] karelz commented on #17412
The API review is not complete yet - see [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) -
 we're in step 3, steps 4 and 5 didn't happen yet.

[2017-05-24 21:18] jessewhite007 commented on #7812
For what it's worth, I was able to go from it showing up very regularly to not showing up at all in my application simply by going to a single instance of the client for the app vs newing one up for each request coming in. Not sure if that helps or not but you might try multi-threaded experiments to get a repro if you haven't already.

[2017-05-24 21:22] weshaggard commented on #20118
We have no way of figuring out the matching SDK version.

[2017-05-24 21:23] PaulHigin commented on #17412
I have abandoned my original API proposal in favor to what Wes and Priya suggested.  It works fine and fits nicely with the existing implementation.
API as proposed above:
[code]

Usage:
[code]

[2017-05-24 21:24] CIPop opened #20270 "IsWindowsImplementation / IsNotWindowsImplementation semantics"
This is to track follow-up from the discussion at https://github.com/dotnet/corefx/pull/20250#pullrequestreview-40129192

src/System.Net.HttpListener/tests/GetContextHelper.cs

Helpers : IsWindowsImplementation / IsNotWindowsImplementation should either have better name description or should have the implementation changed to mean what they actually do: Windows but not Nano or UWP.

[2017-05-24 21:26] weshaggard commented on #19929
The library you are trying to consume here most definitely won't work on .NET Core 1.0 or 1.1, it has a lot of dependencies that aren't present. The beta netstandard version of the library will likely work on both 1.0 and 2.0 but as you point out it has some missing features.

[2017-05-24 21:29] karelz commented on #17412
OK, let's get it reviewed in next API review session...

[2017-05-24 21:35] safern commented on #15403
Marking as netfx-port-consider as we should eventually port this to Desktop to keep consistency

[2017-05-24 22:08] karelz commented on #20246
Questions:
* Does it happen only on Linux/Mac (product issue), or also on Windows (test issue)

[2017-05-24 22:09] stephentoub commented on #20270
@CIPop, what implementation is mean to be used on Nano or UWP?  If the managed implementation, my change in https://github.com/dotnet/corefx/pull/20265 addresses that, by making IsWindowsImplementation mean "is this using the implementation that uses Interop.HttpAPI", and IsNotWindowsImplementation the inverse.

[2017-05-24 22:10] schen381 commented on #20139
fixed in #20208

[2017-05-24 22:10] karelz commented on #19466
Is it dupe of #20246? cc @mellinoe

[2017-05-24 22:23] javiercn opened #20272 "Exporting certificates created on the fly broken on OSX?"
We ran into this while trying to generate certificates on the fly to use for HTTPS. If you create a self-signed certificate from an ephemeral RSA key. Shouldn't you be able to export it to a PFX file directly?

it was failing for us in line:
[code]

[code]

[2017-05-24 22:51] CIPop opened #20274 "Creating global mutex in UWP context hangs"
Repro: try to run the System.Net.Security tests in UWP.

The following code will hang in `CreateMutexW`:

[code]

Stack:
[code]

[2017-05-24 22:52] CIPop commented on #20274
Removing the `Global\` prefix will make it work.

Related to #20033

[2017-05-24 22:53] v-tbert commented on #20253
I had some offline discussions with the team and I think the verdict is:

- There is no nuget package for this today as calling the WinRT api from classic .net desktop apps was previously unsupported, though it worked.

- Support for calling WinRT is coming soon as demonstrated at //BUILD.
 Eventually there will be an easier way, but until such time you can reference the needed .net core assemblie

[2017-05-24 23:10] steveharter commented on #9966
I am currently assuming we want to support this in the the S.S.C.Cng assembly as well meaning direct use of the TripleDESCng class would work the same as using TripleDES.Create() or TripleDESCryptoServiceProvider.

Pros: consistency with S.S.C.Algorithms and .Csp; shared tests
Cons: the Cng assembly typically is a light wrapper on top of the native Cng functionality

[2017-05-24 23:20] shmao commented on #19899
The fix had been checked in.

[2017-05-24 23:20] #19899 closed

[2017-05-24 23:28] ChaseFlorell commented on #17299
Did this issue just fall by the wayside?

[2017-05-24 23:30] #20015 closed

[2017-05-24 23:35] weshaggard commented on #9975
Addressed with https://github.com/dotnet/corefx/pull/20250.

[2017-05-24 23:36] mellinoe commented on #19466
It does look like a dupe, although it's hard to say without knowing which test cases are hanging, exactly.

[2017-05-24 23:41] CIPop commented on #20270
I'd need to confirm this but I'm almost certain that on NanoServer we should use the one based on HTTP.SYS. ( @davidsh , @DavidGoll - do you have more info about this?)
On UWP my understanding is that we'll use the Managed implementation.

I think that's fine. This is more about the confusion generated by the name of this constant (see referenced PR) - I didn't want to block that PR just for that

[2017-05-24 23:41] AtsushiKan opened #20276 "X-Plat: Environment.SetEnvironmentVariable(string, string) on Unix."
More details later - just need an issue number for a TODO comment.

[2017-05-24 23:44] AtsushiKan opened #20277 "X-Plat: Environment.GetEnvironmentVariables() on Unix"
More details later - just need an issue number now.

[2017-05-24 23:45] davidsh commented on #20270
This is a good question, i.e. should we require that Nano server install the optional httpapi component in order to use .NET Core HttpListener.  I think the answer is probably yes. But we should document this somehow for the Nano folks and devs that use Nano server.

[2017-05-24 23:48] mellinoe commented on #19466
If we see this actively hung in any CI jobs, please let me know and I will try to debug it. Bonus points to anyone who logs into a machine and attaches a debugger before the process terminates :smile:

[2017-05-24 23:50] #20253 closed

[2017-05-24 23:51] kouvel commented on #20274
Duplicate of https://github.com/dotnet/coreclr/issues/11306

[2017-05-24 23:51] #20274 closed

[2017-05-25 00:01] mellinoe commented on #20246
If we see this actively hung in any CI jobs, please let me know and I will try to debug it. Bonus points to anyone who logs into a machine and attaches a debugger before the process terminates 😄

[2017-05-25 00:05] CIPop commented on #17299
I don't have any objections to adding this API together with tests that prove that the underlying stacks (HttpClient, ASP.Net, HttpListener) support it.

@ChaseFlorell your later message regarding PatchAsync is not clear. Do you want to add that as well or just the enum? (Please add all proposed APIs to the request.)

Some more information regarding the verb and its usage:

From the RFC standpoint

[2017-05-25 00:14] karelz commented on #20015
Fixed in #20249 in rel/2.0.0 branch

[2017-05-25 00:15] karelz commented on #9975
Reopening to track port to 2.0 (the bug has milestone 2.0, but the PR #20250 went into master (2.1))

[2017-05-25 00:17] karelz commented on #20148
Reopening to track port into rel/2.0.0 branch.

[2017-05-25 00:20] danmosemsft commented on #9975
As far as I know we aren't porting @mmitche 's pipeline stuff to 2.0. We still get Nano coverage in Helix in 2.0.

[2017-05-25 00:42] CIPop commented on #20270
This list appears to have it Nano by default: https://msdn.microsoft.com/en-us/library/mt588480(v=vs.85).aspx#httpapi.dll

[2017-05-25 00:57] karelz commented on #20272
@steveharter @ianhays can you please advise?
We discussed similar things with Jeremy, but I don't remember details.

Maybe this may be helpful: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/cross-platform-cryptography.md

[2017-05-25 00:58] ericstj opened #20279 "Test retargeting netframework project while using netstandard.library.netframework"
We should do this in both a netcore.sdk project as well as a legacy project using package reference.  Packages.config is not interesting since retargeting has never been supported there.

@davkean mentioned the design time build may not react well when retargeting changes targets imported.

Interesting scenarios:
1. Reference an n 2.0 package that cross-compiles (like immutable) in net461.
2. Reta

[2017-05-25 01:22] Jiayili1 opened #20281 "Desktop: System.ServiceProcess.Tests.ServiceControllerTests.ConstructWithServiceName_ToUpper failed with "Xunit.Sdk.EqualException""
Failed test: System.ServiceProcess.Tests.ServiceControllerTests.ConstructWithServiceName_ToUpper

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/66/testReport/System.ServiceProcess.Tests/ServiceControllerTests/ConstructWithServiceName_ToUpper/

Configuration: outerloop_netfx_windows_nt_debug

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-25 01:25] Jiayili1 opened #20282 "Desktop: System.ServiceProcess.Tests.ServiceControllerTests.Start_NullArg_ThrowsArgumentNullException failed with "Xunit.Sdk.EqualException""
Failed test: System.ServiceProcess.Tests.ServiceControllerTests.Start_NullArg_ThrowsArgumentNullException

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/66/testReport/System.ServiceProcess.Tests/ServiceControllerTests/Start_NullArg_ThrowsArgumentNullException/

Configuration: outerloop_netfx_windows_nt_debug

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-25 01:33] hughbe commented on #20240
I pressed create issue twice!

[2017-05-25 01:43] dotnet-mc-bot opened #20283 "Test: System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_BadExe failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_BadExe(useShellExecute: False)` has failed.

Assert.Equal() Failure\r
    Expected: 193\r
    Actual:   0

        Stack Trace:

           at System.Diagnostics.Tests.ProcessStartInfoTests.StartInfo_BadExe(Boolean useShellExecute)
Build : Master - 20170525.01 (Portable Core Tests)
Failing configurati

[2017-05-25 01:47] dotnet-mc-bot opened #20284 "Test: System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_NotepadWithContent(useShellExecute: False) failed with "System.ComponentModel.Win32Exception : The system cannot find the file specified""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_NotepadWithContent(useShellExecute: False)` has failed.

System.ComponentModel.Win32Exception : The system cannot find the file specified

        Stack Trace:

           at System.Diagnostics.Process.StartWithCreateProcess(ProcessStartInfo startInfo)
       at System.Diagnostics.Process.Start(Proces

[2017-05-25 01:49] dotnet-mc-bot opened #20285 "Test: System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_NotepadWithContent(useShellExecute: True) failed with "System.ComponentModel.Win32Exception : This function is not supported on this system""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_NotepadWithContent(useShellExecute: True)` has failed.

System.ComponentModel.Win32Exception : This function is not supported on this system

        Stack Trace:

           at System.Diagnostics.Process.StartWithShellExecuteEx(ProcessStartInfo startInfo)
       at System.Diagnostics.Process.Start(Pr

[2017-05-25 01:50] Jiayili1 commented on #20285
This test: System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_TextFile_ShellExecute
failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170525.01/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessStartInfoTests~2FStartInfo_TextFile_ShellExecut

[2017-05-25 02:21] Jiayili1 opened #20286 "Tests under "System.Diagnostics.Tests.ProcessStartInfoTests" failed with "Xunit.Sdk.StartWithException""
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170525.01/workItem/System.Diagnostics.Process.Tests/wilogs

[code]

[2017-05-25 02:30] sepidehMS commented on #20148
@karelz The PR associated with this issue only touches tests. Although I initially marked this with label "bug", it turned out that there is no way we can figure out if the given path is absolute or relative on Unix in XmlSchema, if the `Uri` class does not treat paths like `"/tmp"` as absolute. Having said that, should this still be ported to 2.0?

[2017-05-25 02:36] dotnet-mc-bot opened #20287 "Test: CancelKeyPressTests/CanAddAndRemoveHandler_Remote failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `CancelKeyPressTests/CanAddAndRemoveHandler_Remote` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -532462766

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at CancelKeyPressTests.CanAddAndRemoveHandler_Remote()
Build : Master - 20170525.01 (UWP F5 Tests)
Failing conf

[2017-05-25 02:37] danmosemsft opened #20288 "StartInfo_BadExe, StartInfo_BadVerb failing on Nano"
https://github.com/dotnet/corefx/issues/10290 is relevant

I can fix this.

[2017-05-25 02:41] danmosemsft commented on #20288
In the UseShellExec=false case, it's #10290
In the UseShellExec=true case, turns out Nano has the entry point (so no MissingMethodException) and it returns ERROR_CALL_NOT_IMPLEMENTED. We should change that to a PNSE.

[2017-05-25 03:51] stephentoub commented on #19981
Same as #20201

[2017-05-25 03:51] #19981 closed

[2017-05-25 04:05] mellinoe commented on #20260
Done.

[2017-05-25 04:05] #20260 closed

[2017-05-25 04:12] hughbe opened #20292 "build.cmd fails with "marked as inbox for framework netcoreapp2.0 but was missing from package ...""
[code]

[2017-05-25 04:21] hughbe commented on #20292
Running `clean.cmd` fixes this

[2017-05-25 04:26] stephentoub commented on #20103
This issue was not meant to represent arbitrary hangs in the tests, but rather a specific case of them that was addressed by #20104 by disabling parallelism, and we can live without the parallelism in the 2.0 timeframe.  That's why I put it in future. Any current hangs would be due to something else, actually a faulty test or product rather than a poor interaction between the tests and xunit's inf

[2017-05-25 04:56] hughbe opened #20294 "[HttpListener] [porting] HttpListenerRequest.ContentLength64 can be overriden from Request.Headers but can't be with netfx"
Following tests pass with netfx but are disabled for netcoreapp:
[code]

Looking at referencesource the code is exactly the same give or take some formatting.

[2017-05-25 05:12] danmosemsft commented on #20246
All the time now.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170525.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-05-25 05:28] stephentoub commented on #20246
Managed to catch one in CI.  At least in the one I saw, it appears to be hanging here:
https://github.com/dotnet/corefx/blob/bbb63de0aac837895542e1b126ef71b3ba1a51aa/src/System.Net.HttpListener/tests/HttpRequestStreamTests.cs#L68

[2017-05-25 05:30] geoffkizer commented on #20246
Yep, that's exactly what I see locally.

[2017-05-25 05:31] awithy opened #20296 "HttpClient throws TaskCanceledException on timeout"
HttpClient is throwing a TaskCanceledException on timeout in some circumstances. This is happening for us when the server is under heavy load. We were able to work around by increasing the default timeout. The following MSDN forum thread captures the essence of the experienced issue: https://social.msdn.microsoft.com/Forums/en-US/d8d87789-0ac9-4294-84a0-91c9fa27e353/bug-in-httpclientgetasync-shoul

[2017-05-25 05:36] danmosemsft commented on #20296
@awithy what version of .NET Core are you using?

[2017-05-25 05:37] danmosemsft commented on #20292
@weshaggard .. if clean made it go away it may have just bee n a point in time thing. We aren't resilient to partially syncing past a build tools update, eg. You sometimes just have to clean.

[2017-05-25 05:44] leopignataro commented on #4278
Since you mention it, @danmosemsft, there's this one issue:

https://github.com/dotnet/corefx/issues/19198

I've suggested a fix on the thread but my message may have been missed in all the buzz.

[2017-05-25 05:53] awithy commented on #20296
1.1

[2017-05-25 06:05] dotnet-mc-bot opened #20297 "Test: System.IO.MemoryMappedFiles.Tests.MemoryMappedViewAccessorTests/InvalidAccessLevelsCombinations(mapAccess: CopyOnWrite, viewAccess: ReadWriteExecute) failed with "System.IO.IOException""
Opened on behalf of @Jiayili1

The test `System.IO.MemoryMappedFiles.Tests.MemoryMappedViewAccessorTests/InvalidAccessLevelsCombinations(mapAccess: CopyOnWrite, viewAccess: ReadWriteExecute)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.UnauthorizedAccessException)\r
    Actual:   typeof(System.IO.IOException): The parameter is incorrect

        Stack Trace:

           at S

[2017-05-25 06:09] dotnet-mc-bot opened #20298 "Tests under: System.IO.Packaging.Tests.Tests failed with "System.UnauthorizedAccessException""
Opened on behalf of @Jiayili1

The test `System.IO.Packaging.Tests.Tests/T001_AddParagraphToDocument` has failed.

System.UnauthorizedAccessException : Access to the path 'C:\\dotnetbuild\\work\\f0379a4e-1ce3-4162-82f8-ccf81a31cefc\\Work\\b32309d6-9ae8-4920-ba2c-17660304260f\\Unzip\\Temp-8778394265bf4a41896e8171f644de83.docx' is denied.

        Stack Trace:

           at System.IO.FileStream.Ope

[2017-05-25 06:11] stephentoub commented on #20296
Whether the right design or not, by design OperationCanceledExceptions are thrown for timeouts (and TaskCanceledException is an OperationCanceledException).
cc: @davidsh

[2017-05-25 06:16] dotnet-mc-bot opened #20299 "Tests under: System.IO.Pipes.Tests.NamedPipeTest_AclExtensions failed with "System.UnauthorizedAccessException""
Opened on behalf of @Jiayili1

The test `System.IO.Pipes.Tests.NamedPipeTest_AclExtensions/GetAccessControl_ConnectedStream` has failed.

System.UnauthorizedAccessException : Access to the path is denied.

        Stack Trace:

           at System.IO.Pipes.NamedPipeServerStream.Create(String pipeName, PipeDirection direction, Int32 maxNumberOfServerInstances, PipeTransmissionMode transmissionMode

[2017-05-25 06:24] dotnet-mc-bot opened #20300 "Tests under: System.Net.NetworkInformation.Tests.AddressParsingTests failed with "System.UnauthorizedAccessException""
Opened on behalf of @Jiayili1

The test `System.Net.NetworkInformation.Tests.AddressParsingTests/DhcpServerAddressParsing` has failed.

System.UnauthorizedAccessException : Access to the path 'C:\\dotnetbuild\\work\\f0379a4e-1ce3-4162-82f8-ccf81a31cefc\\Work\\70a6094c-d43f-449a-9f91-29b2a2f4801c\\Unzip\\dhclient.leases_normalized0' is denied.

        Stack Trace:

           at System.IO.FileStre

[2017-05-25 06:34] dotnet-mc-bot opened #20302 "Tests under: System.Net.Sockets.Tests.SendPacketsAsync failed with "System.UnauthorizedAccessException""
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.SendPacketsAsync/BufferMixedBuffers_ZeroCountBufferIgnored(type: APM)` has failed.

System.UnauthorizedAccessException : Access to the path 'C:\\dotnetbuild\\work\\f0379a4e-1ce3-4162-82f8-ccf81a31cefc\\Work\\c5776ee9-264d-4af6-9f90-7fdfca0bef3c\\Unzip\\NCLTest.Socket.SendPacketsAsync.testpayload' is denied.

        Stack Trace:

[2017-05-25 06:41] dotnet-mc-bot opened #20303 "Test failure: System.Runtime.Loader.Tests.DefaultLoadContextTests/LoadInDefaultContext"
Opened on behalf of @Jiayili1

The test `System.Runtime.Loader.Tests.DefaultLoadContextTests/LoadInDefaultContext` has failed.

System.UnauthorizedAccessException : Access to the path is denied.

        Stack Trace:

           at System.IO.Win32FileSystem.MoveFile(String sourceFullPath, String destFullPath)
       at System.IO.File.Move(String sourceFileName, String destFileName)
       at Syste

[2017-05-25 06:56] lmolkova opened #20306 "NullReferenceException in DiagnosticListener constructor"
1.	If someone listens to DiagnosticSourceEventSource bridge
2.	When any DiagnosticListener is created, it causes static creation of DiagnosticSourceEventSource
3.	When it’s created, OnEventCommand is fired that eventually causes call to DiagnosticListener.AllListeners
4.	Which creates HttpHandlerDiagnosticListener -> DiagnosticListener that fails on DiagnosticSourceEventSource.Logger.IsEnabled (we

[2017-05-25 07:20] dotnet-mc-bot opened #20307 "Test: System.Net.Tests.SyncWebClientTest/UploadData_LargeData_Success failed with "System.Net.Http.CurlException : SSL connect error""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.SyncWebClientTest/UploadData_LargeData_Success(echoServer: https://corefx-net.cloudapp.net/Echo.ashx)` has failed.

System.Net.WebException : An error occurred while sending the request. SSL connect error
    ---- System.Net.Http.HttpRequestException : An error occurred while sending the request.
    -------- System.Net.Http.CurlException :

[2017-05-25 07:21] Jiayili1 commented on #20307
Closed issue: https://github.com/dotnet/corefx/issues/13300

[2017-05-25 07:27] Jiayili1 commented on #19939
Failed again, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170525.01/workItem/System.Net.HttpListener.Tests/wilogs

[code]

[2017-05-25 08:29] v-haren commented on #19964
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/57/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_ServerCertificates_Test/NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds/

[2017-05-25 09:56] #20093 closed

[2017-05-25 10:54] madelson commented on #15403
@karelz Thanks! I have accepted the invite.

[2017-05-25 11:24] madelson commented on #574
My two cents on the Heap vs. PriorityQueue debate: both approaches are valid and clearly have benefits and drawbacks.

That said, "PriorityQueue" seems far more consistent with the existing .NET approach. Today the core collections are List<T>, Dictionary<K, V>, Stack<T>, Queue<T>, HashSet<T>, SortedDictionary<K, V>, and SortedSet<T>. These are named after the functionality and semantics, not the

[2017-05-25 11:59] #20288 closed

[2017-05-25 11:59] #20232 closed

[2017-05-25 11:59] #20237 closed

[2017-05-25 11:59] #20238 closed

[2017-05-25 11:59] #20239 closed

[2017-05-25 11:59] #20228 closed

[2017-05-25 11:59] #20229 closed

[2017-05-25 11:59] #20230 closed

[2017-05-25 11:59] #20231 closed

[2017-05-25 11:59] #19977 closed

[2017-05-25 11:59] #20099 closed

[2017-05-25 11:59] #20100 closed

[2017-05-25 11:59] #20101 closed

[2017-05-25 11:59] #20165 closed

[2017-05-25 11:59] #19972 closed

[2017-05-25 12:38] karelz commented on #4278
@leopignataro fix for what where? If it is fix for #19198, then it should be tracked in the bug. If it is something else, I would prefer to see separate issue for it.
If you think your fix suggestion was overlooked somewhere, raise it again on that thread and ask for feedback.

[2017-05-25 12:39] karelz commented on #20260
Can you link the PR please?

[2017-05-25 12:42] karelz commented on #19983
@stephentoub can you please drop 1 line with "why Future is ok" for this issue? (I don't have any context to have opinion either way)

[2017-05-25 12:45] karelz commented on #20148
If it impacts our test runs, we should port it into 2.0 (we don't want noise in servicing branches, it back fires quickly).
If it doesn't cause any noise / significant test failures in test runs, fixing it in 2.1/master (as you did above) is sufficient - please adjust the milestone in such case with link to PR which fixed it. Thanks!

[2017-05-25 12:49] karelz commented on #20306
@lmolkova I assume this is important for your team - do you have plan to address it in rel/2.0.0 by Friday? We are in Escrow afterwards and bug fixes will get even more scrutiny ...

[2017-05-25 12:55] karelz commented on #20282
@safern I assume this is flaky, otherwise we would hear about the failure earlier, right?

[2017-05-25 12:55] karelz commented on #20281
@safern I assume the test result is flaky, otherwise we would hear about it earlier, right? Moving to Future based on that assumption.

[2017-05-25 12:57] karelz commented on #20079
@davidsh please close the issue in that case. If it happens more often, it can be reopened.

[2017-05-25 12:59] karelz commented on #20294
@CIPop @DavidGoll can you please take a look? What's the impact? 2.0?

[2017-05-25 13:00] karelz commented on #20036
@davidsh please resolve it as dupe in future, thanks!

[2017-05-25 13:00] #20036 closed

[2017-05-25 13:01] karelz commented on #19848
Moving to 2.1 based on the frequency of the failure ...

[2017-05-25 13:02] karelz commented on #19455
@vancem @brianrob @valenis can you please triage milestone?

[2017-05-25 13:03] karelz commented on #19852
@AtsushiKan @DnlHarvey @joshfree can you please triage milestone?

[2017-05-25 13:09] cincuranet opened #20309 "Issues found when porting FirebirdClient to .NET Standard 1.6"
I was asked by @karelz to sum up my biggest holes I found while working on _FirebirdClient_ on .NET Standard 1.6. These would be nice to process before .NET Standard/Core 2.0.

Some of these are/might be already fixed or not worth doing. I provide whole list (in no particular order) as a reference.

- [x] `DbException` is missing `ErrorCode` property. I know it was originally based around `HRESULT

[2017-05-25 13:14] karelz commented on #20309
@saurabh500 @corivera can you please review the list?

Thank you @cincuranet!
cc more Data experts for opinions @FransBouma @NickCraver @roji

[2017-05-25 13:14] karelz commented on #19970
FYI: Feedback from @cincuranet in #20309 - thanks!

[2017-05-25 13:37] FransBouma commented on #20309
@cincuranet

It looks like DbException is passing ErrorCode down to it's base class, which exposes ErrorCode

Implemented in 2.0.0

It does actually, it's protected virtual: https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/Common/DbConnection.cs#L36

[2017-05-25 14:00] jkotas commented on #19119
This will require adding `TypeForwardedFromAttribute` attributes on the serialized types to store the original Desktop home in the serialization payload.

[2017-05-25 14:53] safern commented on #20282
Yes this seems to be flaky as we haven't seen it since the past month that we started having desktop runs in Helix/Jenkins and I haven't seen it on any PR leg. It could be a recently added test as well.

Will take a look.

[2017-05-25 14:54] safern commented on #20281
Could be flaky or a recently enabled/added test. Will take a look later.

[2017-05-25 14:59] karelz commented on #20282
Thanks for confirmation. No rush. Just wanted to make sure Future is the right milestone ;)

[2017-05-25 15:34] danmosemsft commented on #20246
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170525.02/workItem/System.Net.HttpListener.Tests/wilogs

[2017-05-25 15:35] leopignataro commented on #19198
@karelz , we talked on #4278 yesterday about this thread. I'm not sure what it is that you need us to do.

You yourself created this thread because of a connect report of a supposed bug on the XmlDSig implementation on .NET Framework. On the course of this thread, it seems the collaborators have come to a conclusion that it is perhaps not a bug, and that it can be addressed later since it was thou

[2017-05-25 15:49] karelz commented on #19198
@leopignataro thanks for the details, it's helpful.
If you guys have a fix, did you consider submitting a PR? Our main page docs refer to documents how to do it (although the docs are under construction at this moment, so they are not super easy to use).

The fix of course has to be reviewed and thought through from all angles - incl. impact on compatibility and performance of all scenarios hittin

[2017-05-25 15:54] awithy commented on #20296
Our team found this unintuitive, but it does seem to be working as designed.  Unfortunately, when we hit this, we wasted a bit of time trying to find a source of cancelation.  Having to handle this scenario differently from task cancelation is pretty ugly (we created  custom handler to manage this).  This also seems to be an overuse of cancelation as a concept.

Thanks again for thee quick respons

[2017-05-25 15:54] chrismcv opened #20311 "SSLStream Issue in Docker"
Hi, I'm getting some strange behaviour.

I'm running my CoreCLR App in a docker container on recent docker on ubuntu16. using the dotnet/runtime:1.1 container, and nothing unusual in the setup.

I have a rest endpoint that fires an email off. I hit it once, and it fails. I hit it again, and it succeeds.

Here are the logs
[code]
[code]
I'm using smtp.sendgrid.net:465 in my config.

I put a connect

[2017-05-25 16:06] jonwagner opened #20313 "System.Data.Common.DbParameter does not implement IDbDataParameter in an overridable way"
System.Data.Common.DbParameter does not implement IDbDataParameter in an overridable way.

Effects: accessing a SqlParameter through the IDbDataParameter interface returns invalid Precision/Scale/Size properties.

Example:

[code]

In https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/Common/DbParameter.cs:

[code]

In https://github.com/dotnet/corefx/blob/master/s

[2017-05-25 16:07] karelz commented on #19683
ping @steveharter?

[2017-05-25 16:10] karelz commented on #19705
@wfurt ping?

[2017-05-25 16:16] jonwagner commented on #20313
Seems to have been introduced in the .NET core 2.0 branch

[2017-05-25 16:30] danmosemsft commented on #20281
Could it be this didn't run before because of `[ConditionalFact(nameof(RunningWithElevatedPrivileges))]`?

And in netfx, it does not behave quite the same (does not return the same casing passed in).

If so the test could just disable for netfx.

[2017-05-25 16:31] danmosemsft commented on #20282
AGain I suspect `[ConditionalFact(nameof(RunningWithElevatedPrivileges))]` was not previously true. And netfx parameter value turns out to be different.

[2017-05-25 16:32] dilijev opened #20314 "CoreFX does not support SHA512256"
Powershell's Get-FileHash does not support `-Algorithm SHA512256` and I was directed to reopen this issue on CoreFX (see: https://github.com/PowerShell/PowerShell/issues/3860#issuecomment-303921498)

[2017-05-25 16:34] ericstj commented on #20292
Given the number of targets we have in the build that regularly change and that targets like corecompile don't use the closure of targets/props files as an input to determine if they need to rerun, this sort of thing is common whenever you sync.  You get in a state where none of the source files changed, but something in the target closure changed the output in a noticeable way.

In this case I be

[2017-05-25 16:39] weshaggard commented on #20292
I agree there isn't any great way to make this better. Sometimes it just takes a clean after a sync of some changes.

[2017-05-25 16:39] #20292 closed

[2017-05-25 16:41] weshaggard commented on #9975
I would actually like to see the CI changes ported to 2.0.0 because we want to eliminate the non-portable CI legs in the 2.0.0 release build as well.

[2017-05-25 16:48] roji commented on #20309
FYI have just made npgsql target netstandard20 without any issues as far as I can tell. Did not run into most of the issues mentioned above by @cincuranet (did you target netstandard20 or an earlier version?). The codebase is now littered with `#if !NETSTANDARD1_3` which is fine.

[2017-05-25 16:52] danmosemsft commented on #20246
@stephentoub @geoffkizer does this mean if we disable Read_FullLengthAsynchronous_Success it will avoid this hang? If so could one of you please disable it?
There is no need to go through CI for this, as it's so impactful I suggest hitting merge immediately.

[2017-05-25 16:57] mmitche commented on #3793
@vancem Have these been released yet?

[2017-05-25 16:57] danmosemsft commented on #3793
@mmitche 4.6.2 was released a year ago

[2017-05-25 17:03] sepidehMS commented on #20148
This does not impact number of test failures on Desktop and was a regression of fixing uap tests in PR  https://github.com/dotnet/corefx/pull/19735. I think fixing it in 2.1 would suffice. The fix was made in https://github.com/dotnet/corefx/pull/20262. Closing.

[2017-05-25 17:03] #20148 closed

[2017-05-25 17:06] karelz commented on #20148
Great, adjusting the milestone to 2.1 then.

[2017-05-25 17:06] karelz commented on #20309
Great feedback @roji, thank you!

[2017-05-25 17:07] sepidehMS commented on #16649
@ilya-bin That is fine. I will remove your assignment on this issue then. If you like to contribute, you can look for other up-for-grabs issues :) Thank you.

[2017-05-25 17:08] stephentoub commented on #20246
No, there are a bunch of tests that hit the same underlying issue.  I don't believe it's a problem with a specific test, but rather with something in the implementation (or something systemic to many tests via code that's shared between them).  It's possible we could find and disable enough tests to avoid the hangs.

[2017-05-25 17:12] vancem opened #20315 "NullReference Exception using'Microsoft-Diagnostics-DiagnosticSource' EventSource"
Attached repro.

[NullRefRepo.zip](https://github.com/dotnet/corefx/files/1029702/NullRefRepo.zip)

[2017-05-25 17:21] stephentoub commented on #20315
Same as https://github.com/dotnet/corefx/issues/20306?

[2017-05-25 17:22] stephentoub commented on #20246
But I'll see if I can temporarily disable enough to minimize the impact...

[2017-05-25 17:24] vancem commented on #20315
Yes, closing #20316

[2017-05-25 17:25] vancem commented on #20315
Closing dup of #20306

[2017-05-25 17:25] #20315 closed

[2017-05-25 17:26] saurabh500 commented on #20309
Based on the title of this issue, the feedback is based on the differences between netstandard1.6 and NetFx.

Taking a first pass at answering the questions
- [ ] `DbException` is missing `ErrorCode` property. I know it was originally based around `HRESULT`, but it might be good to have common property for _error codes_. - Answered by @FransBouma
- [ ] `DbParameter` does not have `Precision` and `

[2017-05-25 17:26] cincuranet commented on #20309
@roji
It's not .NET Standard 2.0, it's my notes from 1.6 (written in description). Didn't had much free time yet to do 2.0 on _FirebirdClient_.

@FransBouma
Great. I can mark these as done.

[2017-05-25 17:26] mellinoe commented on #20260
Pull request here: https://github.com/dotnet/corefx/pull/20261

[2017-05-25 17:30] saurabh500 commented on #20309
@cincuranet I have created a copy of your checklist and added comments to them in my reply. Right now support for expansion of |DataDirectory| is not available. All else is available in 2.0
Is |DataDirectory| support a must for 2.0 ? This can be worked around by managing the ConnectionStrings with the absolute path for different environments. Not an ideal solution, but its a workaround. Let me kno

[2017-05-25 17:35] cincuranet commented on #20309
@saurabh500
Ah, we missed each other in the updates.
I personally don't feel the `|DataDirectory|` is a showstopper. Only few years back it was implemented in _FirebirdClient_ because somebody asked for it. So I don't think people needed it that much. :)

[2017-05-25 17:36] karelz commented on #20309
@saurabh500 I moved your answers into top post - one copy is easier to maintain. As soon as we don't delete original content, making edits to top posts is fine.

[2017-05-25 17:38] saurabh500 commented on #20309
Sounds good. Thanks for the feedback. I am going to close this issue as the only open item is the |DataDirectory| support which is being tracked by another issue and we are planning it post 2.0

@cincuranet If you have the bandwidth to migrate to netstandard2.0 and face any issues, let us know.

[2017-05-25 17:38] #20309 closed

[2017-05-25 17:38] saurabh500 commented on #20309
Thanks @karelz

[2017-05-25 17:38] karelz commented on #9966
Reopening for port into rel/2.0.0 branch.
@steveharter can you please start the process? (email to shiproom, get the rel/2.0.0 branch PR ready) Thanks!

[2017-05-25 17:40] karelz commented on #20309
@cincuranet did you run it on top of .NET Core 2.0 Preview 1 while targeting .NET Standard 1.6?
Or did you use older .NET Core 1.1 for your testing?

[2017-05-25 17:44] cincuranet commented on #20309
Probably not in a reasonable timeframe for you.

Or did you use older .NET Core 1.1 for your testing?

1.1. My notes were from pre-2.0-preview1 time.

[2017-05-25 17:45] danmosemsft commented on #20286
https://github.com/dotnet/corefx/pull/20293

[2017-05-25 17:45] #20286 closed

[2017-05-25 17:46] saurabh500 commented on #19836
Cory and I looked into this issue.

The basic issue is that SqlClient tries to start a new thread for every packet read which is long running and this has scope for improvement, however the changes would be a bit involved to get into 2.0.0. We should strive to improve the thread creation.

The basic idea is to accumulate the network bytes and send them back when we have a buffer full or packet or

[2017-05-25 17:48] saurabh500 commented on #19953
We found that the coverage for SqlDataAdapter was missing which had references to DataTable and DataSet.
This has a PR up at https://github.com/dotnet/corefx/pull/20269
No issues found so far in these tests.
There is small set of tests left for analysis

[2017-05-25 17:49] saurabh500 commented on #19749
I am closing this issue as this is an aggregate of other issues which we have tackled in 2.0.

[2017-05-25 17:49] #19749 closed

[2017-05-25 17:55] joshfree commented on #18292
Any update on this?  This is causing some AppCompat failures

[2017-05-25 17:58] karelz commented on #20309
@cincuranet is there a chance to just run your netstandard1.6 on top of .NET Core 2.0?
You shouldn't need to change any of your code, just run it on our latest bits. It would be great help to increase our confidence in the product.

BTW: Retargeting netstandard2.0 should be also super-simple (assuming you won't remove any ifdefs) - but it is probably 10-30mins extra work on top of just running tes

[2017-05-25 18:14] karelz commented on #20043
Triage: We agree that both properties should do "noop". Currently we throw for both. Code change is needed.

We should also document it in https://github.com/dotnet/corefx/wiki/ApiCompat (can happen during Escrow)

[2017-05-25 18:14] kouvel commented on #17982
Looks like the other issue was fixed, closing. Please reactivate if I misunderstood.

[2017-05-25 18:14] #17982 closed

[2017-05-25 18:17] karelz commented on #19683
Triage: It is likely time out, moving to 2.1

[2017-05-25 18:19] karelz commented on #20046
Triage: We don't think there is anything left for 2.0.

@krwq if you have further evidence, please reply here (without reopening).

[2017-05-25 18:22] karelz commented on #20096
Triage: Let's fix `NullReferenceException` in 2.0.
@CIPop to investigate the failure after (Stephen tried it) - we may punt that part. Please provide recommendation.

[2017-05-25 18:25] karelz commented on #20294
Triage: @CIPop please assess impact of this one. If it is 2.0, please investigate.

[2017-05-25 18:29] karelz commented on #20176
This was resolved in master and is pending port to rel/2.0.0

[2017-05-25 18:29] #20176 closed

[2017-05-25 18:34] karelz commented on #19967
@schen381 can you please look at `System.Net.WebSockets.Client.Tests` failures?

@hughbe I assume `HttpListener` part is done, right? (given how many bugs you filed against it ;))

[2017-05-25 18:53] stephentoub commented on #19836
Why was the LongRunning needed in the first place though?  The comment was that a bunch of threads were blocked causing long delays, and LongRunning works around that by adding additional threads, but do we know what the blocking was caused by?  What calls were taking so much time synchronously on thread pool threads?

[2017-05-25 18:58] CIPop commented on #19701
To make progress we could instrument the test with a Debug.Assert/Fail when this exception is raised and obtain a full-memory dump to look at the server-side.

[2017-05-25 18:58] saurabh500 commented on #19836
Native SNI depends on IO completion ports and OVERLAPPED structs to manage the network reads. So they can be asynchronous. In case network packets are not available, a IO_Pending status is returned. We will have to model Managed SNI on similar lines.
Retrieval of network packets is asynchronous and is done very quickly in Native SNI where a thread is spun up to query the IOCompletion port and fill

[2017-05-25 19:00] saurabh500 commented on #19836
By the re-design I meant that the completion of network read should be followed by a very quick continuation task instead of sending the partially read packet back to SqlClient to process it.

[2017-05-25 19:07] #19953 closed

[2017-05-25 19:07] yizhang82 commented on #19731
The casting will keep working (mainly I want to avoid confusion because IEnumerable casting has too many possible scenarios) but IEnumerable.GetEnumerator will throw.

[2017-05-25 19:10] javiercn opened #20324 "Certificate store issues on OSX"
Create a self-signed certificate in memory like in:
https://github.com/aspnet/DotNetTools/blob/dev/src/Microsoft.AspNetCore.CertificateGeneration.Task/CertificateManager.cs#L24

When you try to add the certificate to the store, the following exception is thrown:
[code]
We've seen this happen intermittently, but when it happens on a machine, it reproduces consistently.

[2017-05-25 19:11] safern commented on #20281
Yes that could be because of ConditionalFact because that was enabled back again yesterday or the day before. Will take a look and disable if it is the case that you pointed out.

[2017-05-25 19:12] danroth27 commented on #20324
@bartonjs @karelz Can you guys take a look? This is blocking our preview2 work in ASP.NET Core

[2017-05-25 19:14] karelz commented on #20324
Is it a recent regression? Can you identify from which build?

@steveharter can you please help here?

[2017-05-25 19:15] karelz commented on #20314
Is it blocking any significant scenarios?
@steveharter do you know anything about the limitations here?

[2017-05-25 19:15] AtsushiKan commented on #20277
Decided to put this in Corelib instead.

[2017-05-25 19:15] #20277 closed

[2017-05-25 19:16] AtsushiKan commented on #20276
Decided to put this in Corelib instead.

[2017-05-25 19:16] #20276 closed

[2017-05-25 19:16] karelz commented on #20313
@saurabh500 @corivera this looks like 2.0 blocker ... thoughts?

[2017-05-25 19:18] karelz commented on #20314
Also, does full .NET Framework support the algorithm?

[2017-05-25 19:18] saurabh500 commented on #20313
This is a dupe of https://github.com/dotnet/corefx/issues/19708
PR with fix is https://github.com/dotnet/corefx/pull/19961

[2017-05-25 19:18] #20313 closed

[2017-05-25 19:26] mellinoe opened #20325 "Support Full System.Drawing Functionality on .NET Core"
### Update: The following is the current plan.

* [x] Port the .NET Framework implementation to .NET Core. **WIP, See #20593 .**
* [x] Move mono's libgdiplus-based managed implementation from [mono](https://github.com/mono/mono/tree/master/mcs/class/System.Drawing) to corefx
* [x] Ensure that there is a code-sharing story between mono and corefx. This likely means removing the source code from mon

[2017-05-25 19:28] jonwagner commented on #20313
To me, it looks like the error is in the DbParameter code.

@saurabh500 I don't see how this is related to the issue/pr you referenced. 19708 is an issue with TVPs and only fixes SqlParameter.

[2017-05-25 19:30] tmds commented on #20046
@karelz @stephentoub @sepidehMS This issue was now 'fixed' by converting the unix path to an absolute uri in the tests (https://github.com/dotnet/corefx/commit/3a3ead6abb6c27364f12e41478a34d79ced6fdd1#diff-0bf8d1637c34db29730c199a32fd08ff). I think it makes sense to add this behavior to the XmlReader.Create methods (on Unix platforms for urls starting with '/'). What do you think?

[2017-05-25 19:32] saurabh500 commented on #20313
@jonwagner My bad I linked the wrong PR and issue.
The correct PR is https://github.com/dotnet/corefx/pull/19734 and the issue is https://github.com/dotnet/corefx/issues/19712

[2017-05-25 19:37] jonwagner commented on #20313
Yes, that's the correct duplicate. 👍

[2017-05-25 19:38] ericstj opened #20326 "How to develop in corefx for UWP"
Opening on behalf of @CIPop from https://github.com/dotnet/corefx/pull/20322#issuecomment-304102737

[2017-05-25 19:40] steveharter commented on #20324
@javiercn does the exception occur in code during the store.Add or store.Close as in here https://github.com/aspnet/DotNetTools/blob/dev/src/Microsoft.AspNetCore.CertificateGeneration.Task/CertificateManager.cs#L74?

[2017-05-25 19:43] weshaggard commented on #20326
If you want to build and debug UWP configurations you need to have a uap configuration in your project configuration.props file. If you are only targeting netstandard in your configuration you will only see netstandard APIs, you need to target specific TFM if you want to be able to use APIs that are only in that target.

[2017-05-25 20:15] stephentoub commented on #20246
A bunch of tests have been temporarily disabled.  Just search for 20246 to find them.  Let's try to get to the bottom of this asap.

[2017-05-25 20:16] steveharter commented on #20314
Full .NET does not support it. Neither does Windows at least via Cng: https://msdn.microsoft.com/en-us/library/windows/desktop/aa375534(v=vs.85).aspx.

Haven't checked support in OpenSsl or Apple crypto.

@bartonjs would likely have more background.

FWIW SHA-512/256 and related SHA-512/224 is part of FIPS 180-4.

[2017-05-25 20:18] steveharter commented on #9966
Merged into rel/2.0.0

[2017-05-25 20:18] #9966 closed

[2017-05-25 20:25] danmosemsft commented on #18949
This is done and ported into 2.0 👍

[2017-05-25 20:25] #18949 closed

[2017-05-25 20:26] wfurt commented on #20177
do you have steps or simplified repro @tcorrin ? What exact OS and curl version do you have.

[2017-05-25 20:30] danmosemsft commented on #19956
This tracks improving Unix implementation to copy [Mono](https://github.com/mono/mono/blob/8df83179b63e256bcd476d6d7ddbbd50015b81d6/mono/metadata/w32process-unix.c#L2125-L2150) instead of just [launching with sh](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L229-L240).

[2017-05-25 20:30] danmosemsft commented on #18949
https://github.com/dotnet/corefx/issues/19956 covers Unix improvements.

Anything else, we can look for feedback.

[2017-05-25 20:40] norek commented on #17905
Hello new contrib here , I can take System.ComponentModel.*

[2017-05-25 20:48] danmosemsft commented on #17905
Thanks @norek go for it.

[2017-05-25 20:54] shmao opened #20329 "Add tests for DCS Serializing System Types"
#19119 made changes to many System types and changed they way they're serialized. We'd like to check whether we have tests covering DCS serializing those types. If not, we should add new tests. Here's the list of the types.

https://github.com/dotnet/corefx/pull/20247 added tests for BinaryFormatter serializing the types.

- [ ] System.Boolean
- [ ] System.Byte
- [ ] System.Char
- [ ] System.Colle

[2017-05-25 21:04] dilijev commented on #20314
@karelz Only blocking compatibility of file hashing on Windows versus hashing on Linux for checksum validation of downloaded releases from e.g. Microsoft/ChakraCore. We can go with an algorithm supported on all platforms but it would be nice if all algorithms were supported :)

[2017-05-25 21:20] fujiy opened #20331 "How to use EventCounters?"
The lack of Performance Counters in .NET Core is blocking me to use ASP.NET Core for Enterprise applications.

I found many issues telling us to use EventCounters, but I couldn't find docs or even code in the repository using it.

There is any docs?

Anyway, ETW events doesn't replace Performance Counters, I use it to monitor Req/sec and I can't see how to do it easily with ETW, or ask the support

[2017-05-25 21:21] CIPop commented on #20326
@weshaggard : in certain cases (most cases) we won't have a specific build for `uap` - is it still OK to add the configuration just for the Visual Studio editor to work? (Would that interfere somehow with the build system unnecessarily?)

[2017-05-25 21:25] vancem commented on #3793
Download URL if you care.

https://www.microsoft.com/en-us/download/details.aspx?id=53344

[2017-05-25 21:55] stephentoub commented on #19975
I think we can punt on the remaining Abort_Invoke_ForciblyTerminatesConnection case for 2.0.  The issue is that when you Abort a Response, on Windows then writing to the Response (generally) ends up throwing ObjectDisposedException, whereas on Unix it essentially nops.  The Windows implementation does so because Abort doesn't actually mark the response as closed, and rather disposes of the request

[2017-05-25 21:56] stephentoub commented on #20306
Fix in #20316 was merged; keeping this open to track porting it to release/2.0.0.

[2017-05-25 22:04] vancem opened #20334 "Add Regression test for Microsoft-Diagnostics-DiagnosticSource EventSource issue"
Issue #20315 exposed the fact that we don't test the Microsoft-Diagnostics-DiagnosticSource at process startup, which is a likely customer scenario (Thus the source is on at process start).

I started to try to add a test to the System.Diagnostics.DiagnosticSource project, but it is not easy because there is no easy way to turn on the EventSource from outside the process (you need to be set up to

[2017-05-25 22:04] stephentoub commented on #19983
My take: it's corner case and doesn't affect mainline behavior.  Basically rather than an exception being thrown, it just returns that it read 0 bytes, which code would already need to be able to handle and essentially means the same thing.

[2017-05-25 22:14] javiercn commented on #20324
It happens when doing store.Add

[2017-05-25 22:16] stephentoub commented on #19850
@JeremyKuhne, this can be closed now, right?

[2017-05-25 22:16] stephentoub commented on #19466
I believe this is a dup.  Closing under that assumption.

[2017-05-25 22:16] #19466 closed

[2017-05-25 22:18] steveharter commented on #19683
Yes 2.1 is appropriate. There is no consistent repro or actionable data at this point.

I do not know why this single test failed twice in a row but not thereafter. It could have been a borderline timeout situation. Suggest we invest in infrastructure that will run tests with COMPlus_GCStress in order to find failure patterns (tests that regularly fail) while accounting for issues with timeouts.

[2017-05-25 22:31] qmfrederik commented on #20325
@mellinoe Thanks for the additional information!

I actually have a good experience with using Mono/libgdiplus via CoreCompat.System.Drawing. Here's why:

- Mono/libgdiplus actually does run on .NET Core on Windows. When on Windows, Mono's System.Drawing just uses GDI+ from Windows. So I think you can add a checkbox to 'Win32' for Mono's System.Drawing
- I don't think the native dependencies need

[2017-05-25 22:51] karelz commented on #18083
Reopening to track port to rel/2.0.0

[2017-05-25 22:52] MattGal commented on #17982
Should be fixed.  Generally we'll deploy sprint-ly which means it might repro again with bad luck today or tomorrow, but should not happen again after next week.

[2017-05-25 22:55] danmosemsft commented on #20285
https://github.com/dotnet/corefx/pull/20293

[2017-05-25 22:55] #20285 closed

[2017-05-25 22:55] danmosemsft commented on #20284
https://github.com/dotnet/corefx/pull/20293

[2017-05-25 22:55] #20284 closed

[2017-05-25 22:55] danmosemsft commented on #20283
https://github.com/dotnet/corefx/pull/20293

[2017-05-25 22:55] #20283 closed

[2017-05-25 22:55] mellinoe commented on #20325
That is good to know; thanks for the info. If we are able to treat it as a fully external dependency, like the other native libs we use, then I would have less hesitation about using it. I'm not an expert on libgdiplus, so I would certainly like to understand more about it. The folks that I have talked with have been hesitant to readily suggest that we go ahead and use it, but it may be okay in th

[2017-05-25 22:55] pentp commented on #20256
1. Maybe I'm missing something here, but it seems like implementing `IComparable<int>` and `IEquatable<int>` on `IntPtr` isn't very useful (they won't be used in any normal generic code). For the same reasons, adding `IComparable<IntPtr>` and `IEquatable<IntPtr>` to `int` isn't useful. `CompareTo(int)`/`Equals(int)` might be questionable without these interfaces and after changing `CompareTo(IntPt

[2017-05-25 22:56] steveharter commented on #20324
Are you able to repro the issue? If so I can attempt debugging on my mac.

Perhaps this is an issue with the cert already existing and triggering some sort of warning? Can you do a preemptive store.Remove(cert) first?

FWIW other general areas that have been troublesome in the past w.r.t. certs and stores are disk I\O permissions, file or name collisions, disk full, and user\process permissions.

[2017-05-25 23:11] tannergooding commented on #20256
@pentp, for 1, I only included it because those comparisons represent actual IL instructions supported by the runtime. I'm definitely not sold on including them 😄

For 2, I agree it would be useful in some cases (but not when upgrading existing code from `long` to `nint` -- that is an API break 😉), but the primary reason I left it off was because it doesn't expose any way to convert back to `IntPt

[2017-05-25 23:16] sepidehMS commented on #20263
@JeffFerguson That's happening because the inner schemas have not been imported. In .NET Core, resolving URIs inside a schema is not allowed by default and that's by design. You will need to add a XmlUrlResolver to your SchemaSet like: `thisSchemaSet.XmlResolver = new XmlSchemaSet();`

[2017-05-25 23:26] moleculomjd commented on #19708
If I can chime in, I think the ongoing lack of support for TransactionScope in SqlClient is going to make it difficult to embrace .NET Core. The usual suggestion for creating connections is that you create and open them as late as possible, then dispose of them as soon as possible, meaning that for a given business process, the work of writing to the database may very well be split across multiple

[2017-05-25 23:30] joperezr commented on #18083
Actually, I discussed this with @weshaggard offline, and given that you can pass in the version of the shared framework that you want to test, then we said that if this doesn't make it to rel/2.0.0 it's not the end of the world, since we could still do the validation by simply passing in a rel/2.0.0 shared framework version. That is why I thought that closing this would be fine, but if we want to

[2017-05-25 23:40] CIPop commented on #20096
@karelz @DavidGoll @stephentoub

I have a fix for the NRE but I found other related issues:

1. The HttpListener implementation in CoreFX is different from .Net Desktop because of the new IOCP/ThreadPool model. (Not properly initializing the threadpool bound handle is what was causing the NRE.)
2. The `IsWindowsImplementation` test helper (used to selectively run tests) was returning `false` for N

[2017-05-25 23:45] CIPop commented on #20096
One more thing that I'm not sure of: `AuthenticationFailure` seems to have a race condition, making assumptions on which task completes first:

[code]

Since `clientTask` and `serverTask` are not chained via `ContinueWith` I don't see how the assumption can be guaranteed to always be true.

[2017-05-25 23:57] krwq commented on #20046
@tmds - XML's parameter (baseURI) is taking URI - I do not know the URI's spec enough to tell what is the correct behavior but IMO if this issue is by design then XML should match this behavior by using the defaults. If it was taking a path then I could 100% agree

[2017-05-26 00:01] qmfrederik commented on #20325
My guess is that the .NET Framework version will work well with libgdiplus. It's an assumption based on  my experience with libgdiplus and how it tries to be binary compatible with GDI+.
The proof of the pudding is in the eating, though. If you can make the .NET Framework System.Drawing source code available under an open source license, I'd be happy to give it a spin, and run Mono's unit tests fo

[2017-05-26 00:07] weshaggard commented on #18083
I think we should at least keep it open until we do a manual run against the 2.0.0 builds. This is kind of a final testing verification step.

[2017-05-26 00:12] CIPop opened #20338 "[ActiveIssue(nnn, TestPlatforms.Windows, TargetFrameworkMonikers.Netcoreapp)] will run the test on Windows"
I've added the ActiveIssue to a test then ran:

`msbuild /t:rebuild,test /p:Outerloop=true "/p:XunitOptions=-class System.Net.Tests.HttpListenerAuthenticationTest`

The test is still executed.

[2017-05-26 00:15] CIPop commented on #20338
My bad: different issue. This works as expected.

[2017-05-26 00:15] #20338 closed

[2017-05-26 00:16] CIPop commented on #20338
This is  dotnet/buildtools#1462.

[2017-05-26 00:46] karelz commented on #18083
I reopened it, because the milestone said 2.0, yet it was not ported to rel/2.0.0 branch. If that's ok, just change the milestone and close it.
For manual verification feel free to open another tracking 2.0 issue in such case.

Did you guys think about 2.0.x servicing branches? If we will need similar things there, won't this change be useful?
If it will be useful, we can get it in post-RTM, but w

[2017-05-26 00:49] corivera opened #20340 "Command execution fails in SqlClient TvpTest due to pending async operations after cancellation"
When running the SqlClient TVPTests with Managed SNI enabled, command execution fails due to pending async operations in SqlCommand after cancelling a previous command. This is due to SqlCommand not cleaning up its cached async state before throwing the exception for the command cancellation, causing subsequent command executions to fail since it looks like other async commands are still pending.

[2017-05-26 00:49] karelz commented on #20096
Thanks @CIPop for the analysis, let's get the NRE fix in.
If you think you found another clear bug in `AuthenticationFailure` which is likely going to bite us, please submit fix as well. A separate one.

Let's continue deeper investigation of the post-`IsWindowsImplementation` fix in parallel. I expect that will slip into Escrow. If we find more bugs later, we can decide later what to take in 2.0

[2017-05-26 00:52] karelz commented on #19708
@moleculomjd thanks for you information. Definitely valuable view point.
@saurabh500 do we have TransactionScope issue tracking the future work? I would love to move the discussion there. If it is important, we should find a way to fund it across teams rather sooner than later.
Thanks!

[2017-05-26 00:52] karelz commented on #19708
cc @divega

[2017-05-26 00:57] karelz commented on #19983
Thanks! That makes sense.

[2017-05-26 00:59] karelz commented on #20306
@vancem are you working on a port to release/2.0.0 branch? You have to then send email to netcore shiproom for approval. Let me know if you need help with the process.

[2017-05-26 01:06] shaggygi commented on #984
I'm trying out VS 2017.3 preview and don't see System.IO.Ports.  Is this not out-of-box now or is there something I need to reference?

[2017-05-26 01:13] JimBobSquarePants commented on #20325
If I was to build a managed 2D graphics library (I am) I wouldn't, by choice, re-implement the System.Drawing API.

That said  @mellinoe I'm happy to offer and assist in migration if the decision was made to use [ImageSharp](https://github.com/JimBobSquarePants/ImageSharp) as an underlying managed library. In Jamestopia though we wouldn't bother and would actively push developers to migrate to bet

[2017-05-26 01:18] JeffFerguson commented on #20263
I can't assign an `XmlSchemaSet` to an `XmlResolver`, so the statement `thisSchemaSet.XmlResolver = new XmlSchemaSet();` won't compile. I'm assuming that you mean an object of a type like `XmlUrlResolver()`? That code addition still throws an exception:

[code]

[2017-05-26 01:25] karelz commented on #20331
For PerformanceCounters please vote on #3906

@vancem used to have extensive documentation of EventSource, with EventCounters added as well. I can't find the source, but it should be part of the NuGet package. @vancem any pointer?

[2017-05-26 01:28] karelz commented on #984
@JeremyKuhne @weshaggard do you know where to find the preview package for System.IO.Ports?

[2017-05-26 01:29] fujiy commented on #20331
#3906 is only to read the values. I'm more interested in writing them.

[2017-05-26 01:32] shaggygi commented on #984
I checked the pre-release box in NuGet Manager and there is a 4.4.0-preview1-25305-02.  Is this the version we should be trying?  Was released on 5/9/2017.

[2017-05-26 01:52] stephentoub commented on #20096
See my response here: https://github.com/dotnet/corefx/pull/20341/files#r118621111

[2017-05-26 02:03] karelz commented on #20331
For the producer scenario, why cannot you use EventCounters?
Even PerfCounters (v2) use ETW under the hood, just slightly different events format. Everything should be achievable with just EventCounters.

The problem is that .NET Framework uses PerfCounters v1. It is fragile, old technology. It requires DLL in system32, so admin machine-wide setup and machine-wide registration. It is hard to do mu

[2017-05-26 02:07] migueldeicaza commented on #20325
It is worth updating the original issue with the new information provided in the comments.

Mono's System.Drawing implementation was used for Mono's Windows.Forms implementation and we spent a few years tuning it to work with various third party component vendors.   We delegated the hard graphic problems to Cairo.

It was also built so that on Windows, it would use the system provided GDI+ library

[2017-05-26 02:47] tldzyx opened #20342 "Nullable.IsNullOrDefault"
[code]

We already have string.IsNullOrEmpty, how about like this

[code]

and like this

[code]

[2017-05-26 02:49] tldzyx commented on #20342
I already [pull a request](https://github.com/dotnet/corert/pull/3713), but jkotas tell me start by opening issue in corefx :-)

[2017-05-26 03:01] fujiy commented on #20331
I still need to read more about EventCounters e ETW to say it won't work in my scenario. I'm doing some tests

In particular, it's very easy to use PerfCounter. For devs, we just need to call Increment() and it translates to absolute numbers, rate per second, average, etc. And the support team just need to open Perfmon and watch the numbers.

[2017-05-26 03:41] danmosemsft commented on #19513
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170526.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PostScenarioTest~2FPostLongerContentLengths_UsesChunkedSemantics(contentLength:%2064512)
[code]

[2017-05-26 03:43] danmosemsft commented on #20246
Helix run failed again but I don't know whether it contained that change.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170526.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-05-26 04:25] danmosemsft commented on #16283
@qizhanMS failed a CI job:

https://ci.dot.net/job/dotnet_corefx/job/master/job/netfx_windows_nt_debug_prtest/752/testReport/junit/System.Transactions.Tests/CloneTxTests/Run_cloneType__BlockingDependent__isoLevel__Snapshot__forcePromote__False__completeClone__False__expectedStatus__Aborted_/

[code]

[2017-05-26 05:13] MichalStrehovsky opened #20345 "Add metdata API to get module custom attributes"
### Rationale

System.Reflection.Metadata offers convenience methods to access custom attributes on most of the record types that correspond to `HasCustomAttribute` token types in the ECMA-335 spec. Notable omission is the `ModuleDefinition` record.

### Proposed API

[code]

### Other thoughts

This can be worked around with `MetadataReader.GetCustomAttributes(System.Reflection.Metadata.Ecma335.M

[2017-05-26 05:18] MichalStrehovsky commented on #20345
@tmat Can we flip this to api-ready-for-review?

[2017-05-26 05:23] tmat commented on #20345
```MetadataReader.GetCustomAttributes(EntityHandle.ModuleDefinition)``` also works, but I agree the API should be added.

[2017-05-26 05:30] cincuranet commented on #20309
You shouldn't need to change any of your code, just run it on our latest bits. It would be great help to increase our confidence in the product.

I can confirm vanilla (`netstandard1.6`) _FirebirdClient_ works on `netcoreapp2.0`.

[2017-05-26 05:39] tmds commented on #20046
@krwq The XmlReader.Create methods accept the uri as a string. My suggestion is to make existing code (like the one in the test) to keep working without modifications. This is by converting the string uri passed to the XmlReader.Create on Unix platforms when it starts with a '/' to an absolute file:// uri.

[2017-05-26 06:17] JimBobSquarePants commented on #20325
Just had a thought. What about server support. What are the plans there? That should factor into any decision making.

[2017-05-26 06:30] Jiayili1 commented on #18718
This issue is repro on UWP F5 Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170526.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.AppDomainTests~2FAppendPrivatePath

[2017-05-26 06:31] karelz commented on #20309
Awesome! Thanks a lot for your help @cincuranet!

[2017-05-26 06:34] karelz commented on #20331
EventCounters have similar metrics automatically AFAIR.

That one is tricky - you pay for it by having .NET Framework installed machine wide and registered machine wide. It's a hidden HUGE cost. You can achieve that, but you have to pay the cost of installing & registering.
It shouldn't be that difficult to write the code. The installation in each app will be giant pain IMO.

[2017-05-26 06:37] dotnet-mc-bot opened #20347 "Test: System.Tests.EnvironmentTests/CurrentDirectory_SetToValidOtherDirectory failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Tests.EnvironmentTests/CurrentDirectory_SetToValidOtherDirectory` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -532462766

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at System.Tests.EnvironmentTests.CurrentDirectory_SetToValidOtherDirectory()
Build : Mast

[2017-05-26 06:45] dotnet-mc-bot opened #20348 "Test: System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/Roundtrip_CrossProcess failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/Roundtrip_CrossProcess(obj: Tree`1 { Left = Tree`1 { Left = Tree`1 { ... }, Right = Tree`1 { ... }, Value = 2 }, Right = Tree...` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -532462766

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.R

[2017-05-26 06:47] safern commented on #18718
All of the tests mentioned above are failing? If not could we maybe open a separate issue to track the uwp failure?

[2017-05-26 06:47] dotnet-mc-bot opened #20349 "Test: System.Tests.ExceptionTests/Exception_TargetSite_Aot failed with "Xunit.Sdk.NullException""
Opened on behalf of @Jiayili1

The test `System.Tests.ExceptionTests/Exception_TargetSite_Aot` has failed.

Assert.Null() Failure\r
    Expected: (null)\r
    Actual:   Void Exception_TargetSite_Aot()

        Stack Trace:

           at System.Tests.ExceptionTests.Exception_TargetSite_Aot()
Build : Master - 20170526.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64-x64
  - Debug
  - Re

[2017-05-26 06:49] Jiayili1 commented on #18718
All the tests under "System.Tests.AppDomainTests" failed, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170526.01/workItem/System.Runtime.Extensions.Tests

[2017-05-26 06:50] safern commented on #18718
Thanks @Jiayili1

[2017-05-26 06:51] dotnet-mc-bot opened #20351 "Tests under: System.Tests.TypeTestsExtended failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Tests.TypeTestsExtended/GetTypeByName` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -532462766

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at System.Tests.TypeTestsExtended.GetTypeByName()
Build : Master - 20170526.01 (UWP F5 Tests)
Failing configurations

[2017-05-26 06:52] cincuranet commented on #20309
OK, I took an early start of the day today and did the port. 😅 Quick'n'dirty style. It was closer to 90 minutes, mostly because of getting fresh VS 15.3 and the intertwined ifdefs in the code. Other than that it was really smooth and there was nothing I had to rewrite completely or again to make it work on `netstandard2.0`. The tests ran fine as well.

That's a good confidence booster, I think.

[2017-05-26 06:54] ViktorHofer commented on #18718
The issue is already fixed by this PR but merged yet (hadn't time for it): https://github.com/dotnet/corefx/pull/19866

[2017-05-26 06:54] karelz commented on #20309
Absolutely, thanks for trying it out and increasing our confidence in the bits!

[2017-05-26 06:54] Jiayili1 commented on #20351
Failed tests:
GetTypeByName
GetTypeByNameCaseSensitiveTypeloadFailure
GetTypeByNameTypeloadFailure

[2017-05-26 06:55] dotnet-mc-bot opened #20352 "Tests under: System.Security.AccessControl.Tests.FileSystemAccessRule_Tests failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Security.AccessControl.Tests.FileSystemAccessRule_Tests/AccessRule_Constructor(sid: \"S-1-5-32-544\", accessMask: 1, isInherited: True, inheritanceFlags: 1, propagationFlags: 0, accessC...` has failed.

System.ArgumentNullException : Value cannot be null.\r
    Parameter name: identity

        Stack Trace:

           at System.Security.AccessContro

[2017-05-26 06:58] Jiayili1 commented on #20352
Failed tests:
AccessRule_Constructor
AccessRule_Constructor_Invalid
AuditRule_Constructor
AuditRule_Constructor_Invalid

[2017-05-26 06:59] safern commented on #18718
Nice @ViktorHofer :) but this is only for UWP, so make sure you don't close this issue, just remove the uwp label when your PR is merged as this tracks desktop failures as well.

[2017-05-26 06:59] dotnet-mc-bot opened #20353 "Test failure: System.Threading.Tasks.Dataflow.Tests.EtwTests/TestEtw"
Opened on behalf of @Jiayili1

The test `System.Threading.Tasks.Dataflow.Tests.EtwTests/TestEtw` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -532462766

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at System.Threading.Tasks.Dataflow.Tests.EtwTests.TestEtw()
Build : Master - 20170526.01 (UWP F5 Tests)
Fa

[2017-05-26 07:11] ViktorHofer commented on #18718
Ahh I see. Thanks!

[2017-05-26 07:21] Jiayili1 commented on #7543
Here's another similar issue (different test case):

https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170526.01/workItem/System.Dynamic.Runtime.Tests/analysis/xunit/ManagedTests.DynamicCSharp.Conformance.dynamic.context.operate.regclass.regclass025.regclass025.Test~2FDynamicCSharpRunTest

ManagedTests.DynamicC

[2017-05-26 07:24] Jiayili1 commented on #20024
Failed on 2.0.0, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170526.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ResponseStreamTest~2FReadAsStreamAsync_ValidServerResponse_Success(transferType:%20ContentLength,%20transferError:%20None)

[2017-05-26 07:28] FransBouma commented on #19708
@moleculomjd ambient transactions aren't always a plus, as they create some overhead, and not every database supports them on the server side (afaik, only sqlserver does, and Oracle over MTS/COM+ with a separate service). An alternative can be to use a unit of work which collects the activity you have to perform for the business process, and then performs the actions quickly in a single ado.net tr

[2017-05-26 07:37] TheBlueSky commented on #20325
So what is the goal here? Only API compatibility? This is what I understood from what @mellinoe said.

If this is the case, @migueldeicaza comparison between native code and C# isn't very relevant, as long as C# performance is decent:

I mean if building the API in managed code is an option, let's go for it.

On the other hand, if we settled on "let's just create something" option, let's not go wi

[2017-05-26 07:42] krwq commented on #20046
@tmds, I think it's better to stay consistent and it is not a good idea to do one thing in case of URI and different in XML. My intuition tells me that this issue should be the one to fix and I'd rather have different behavior on linux vs Windows for the same string than having to special case for each component returning paths.

[2017-05-26 08:05] v-haren commented on #17088
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_debug/65/testReport/System.Data.SqlClient.Tests/SqlConnectionBasicTests/ConnectionTest/

[2017-05-26 08:11] v-haren commented on #18907
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release/62/testReport/System.Net.Sockets.Tests/SendReceiveUdpClient/SendToRecvFromAsync_Datagram_UDP_UdpClient_loopbackAddress____1_/

[2017-05-26 08:22] v-haren commented on #17925
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug/2948/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ConnectionOpenAsyncTest/

[2017-05-26 08:57] vibeeshan025 commented on #20325
Great initiative!! Its better to have System.Drawing implemented on top of set of interfaces and let the community develop each implementation.
Example we can use DirectX on windows and OpenGL on linux and mac OS. but the System.Drawing will internally call the interfaces which is platform agnostic.
If we are going for windows only option then its not going to make any difference to existing .net

[2017-05-26 09:02] JimBobSquarePants commented on #20325
You need good APIs for that that to be a viable idea. This is a stopgap not a solution.

[2017-05-26 09:30] bitapparat commented on #20325
I'd personally prefer a more forward-looking approach with an officially supported modern cross-platform graphics API for all .Net platforms, and a generic and optional System.Drawing implementation on top of it. But i'm aware that's a rather extensive and expensive solution and, thus, probably unrealistic.

[2017-05-26 10:04] gulbanana commented on #17126
how about giving this SqlClient implementation a tfm of netcoreapp2.0 instead of netstandard2.0, so that people don't accidentally try to use the less-capable one on netfx and get runtime errors?

[2017-05-26 10:12] divega commented on #19708
@karelz @moleculomjd @FransBouma `TransactionScope` support in SqlClient is covered by an issue @saurabh500 mentioned before in this thread: https://github.com/dotnet/corefx/issues/12534. Makes sense to start any discussion about the details of what it means for SqlClient there.

Any discussion about inherent limitations of `System.Transactions` in .NET Core (e.g. lack of distributed transaction s

[2017-05-26 10:18] gulbanana commented on #20325
I would love to see something like an implementation on top of ImageSharp. This hypothetical System.Drawing port isn't for high performance or high quality use - it's just to remove a blocker for porting legacy code in which image handling might be one small function. It would be fine if it was slower than the original netfx System.Drawing or didn't produce bit-identical output in all ops- it migh

[2017-05-26 10:18] stefanolson commented on #20325
Whilst I'm aware that a lot of people use System.Drawing, the WPF System.Windows.Media api is a lot more capable in many areas, and more similar to the UWP API so personally I would rather see a better, more flexible/modern API than System.Drawing available, although of course there may be valuable things in System.Drawing that may be worth implementing

[2017-05-26 11:11] svick commented on #20342
If the use case is argument validation, doesn't this promote bad practices, like throwing `ArgumentNullException` when the argument is not actually `null` or providing ambiguous exception messages ("was the input null or empty?")?

[2017-05-26 11:19] Rekeyea commented on #20325
IMHO System.Drawing should be left as Windows only. It is already being used in .Net Framework projects using ASP.Net Core, but those will still be using Windows since those are enterprise applications and I don't see them moving their whole infrastructure "because now they can".

[2017-05-26 11:27] hugosmarques commented on #19929
@weshaggard hello. Did you already have an answer from the fact that MySQL .NEt Core does not have the MySQLAdapter.

[2017-05-26 11:27] hugosmarques commented on #19929
@leecow did you have an idea if .NET core 2 will be a LTS

[2017-05-26 12:40] stephentoub commented on #20046
We still have this workaround in place:
https://github.com/dotnet/corefx/pull/12490
At the time it was added exactly to fix the XmlReader.Create case, and it did.  Did something change since then so that it no longer does?

[2017-05-26 13:01] ViktorHofer commented on #20325
I disagree. ASP.NET Core is being used by more and more open source projects and startups because of cross-platform support and its speed improvements in comparison to nodeJS. I think it's viable to support System.Drawing on all environments where .NET Core and ASP.NET Core is running.

I'm a little worried about binary compatibility here. I think that we definitely need a System.Drawing implement

[2017-05-26 13:09] Rekeyea commented on #20325
@ViktorHofer it was said that there are other more modern alternatives like ImageSharp or SkiaSharp. That's why I think it's pointless since those open source projects and startups should use those other alternatives.

[2017-05-26 13:15] ViktorHofer commented on #17126
The netstandard20 surface is implemented, this issue is about differences between netcoreapp20 and netfx461 which doesn't necessarily mean we need to support all of them but for compatibility reasons it makes sense to support as many as possible. We have some APIs which were left out intentionally as they don't make sense in Core.

[2017-05-26 13:18] JimBobSquarePants commented on #20325
@ViktorHofer I've literally spent the last two years of my life doing just that with ImageSharp. It's already faster than System.Drawing in many respects and has a much simpler/easier to extend API.

It needs the community to step up to help me push it over the line. Building something else would be a crushing blow to me.

[2017-05-26 13:22] ViktorHofer commented on #20325
@JimBobSquarePants Then we should definitely also talk about building upon existing libraries 👍  If you put a lot of effort into it we shouldn't exclude ImageSharp from the discussion.

[2017-05-26 13:32] ilya-bin commented on #16649
@sepidehMS Thank you.

[2017-05-26 13:38] benaadams commented on #20325
What's the goal?

1. Is it so people can move their apps from Framework to Core with minimal changes?
2. Is it so people can move their apps from Framework on Windows to Core on Linux?
3. Is it so people can develop new server apps with an api that is remarked as:

I had initially imagined it was for (1) where people used System.Drawing in spite of the warnings; but maybe is for (2) and (3)?

[2017-05-26 13:42] willdean commented on #20325
@JimBobSquarePants What needs to be done to remove the "in early stages (alpha). As such, we cannot support its use on production environments until the library reaches release candidate status." warning from your project?

It's rather off-putting, and given the way that the .NET Core team have redefined 'Release Candidate' to mean what 'Alpha Experimental Technology Preview' might have once meant

[2017-05-26 14:00] Kukkimonsuta commented on #20325
I'd go with path of least resistance - identify which scenario would be the cheapest and do that. Put warnings all around that it's just compatibility layer that should not be used for new projects. If feeling bad about leftover manpower invest it in improving ImageSharp :)

[2017-05-26 14:20] qmfrederik commented on #20325
@willdaen Out of curiosity, did you have a look at CoreCompat.System.Drawing (Mono's Sysyem.Drawing ported to Core)? Would that meet your requirements?

[2017-05-26 14:23] qmfrederik commented on #20325
@Kukkimonsuta Yeah, that kind of is what I thought this was about - a cross platform impkementation of System.Drawing which people can (temporarly) use as they move to .NET Core - basically removing one of the adoption blockers.

It may not be the most pure solution, but it kind of is what libgdiplus was built for.

[2017-05-26 14:23] JimBobSquarePants commented on #20325
@willdean

Really? Well that's terribly disappointing.

You didn't see the [feature list](https://github.com/JimBobSquarePants/ImageSharp/blob/master/features.md) linked to from the readme? I need to update that actually to add all our Porter Duff support and flesh out some other things.

It's in the readme.

The message means exactly what it says. The API is subject to change. (Btw I don't think

[2017-05-26 14:30] willdean commented on #20325
@JimBobSquarePants Thanks for the response - I am really reluctant to hijack this thread by extending discussion about ImageSharp specifically...  I'll give it a try and file any issues on your repo.

[2017-05-26 14:32] karelz commented on #17126
@gulbanana do you mean that SqlClient targets netcoreapp20 instead of netstandard2.0?
netstandard20 should be prefer choice in such case to provide same API surface and implementation across all runtimes (Desktop & .NET Core & Mono & UWP). It is useful for "portable" .NET Standard-based libraries.

[2017-05-26 14:41] willdean commented on #20325
@qmfrederik I haven't looked at CoreCompat.System.Drawing - we're blocked on several things (SignalR is another) and I haven't really searched hard for alternatives to everything which is missing - I just keep a vague eye on what's happening to the things I know will cause us problems.

[2017-05-26 14:44] karelz commented on #18752
@mellinoe should we dupe it against your new #20325? Or is there any value I am missing in having 2 issues? Thanks!

[2017-05-26 14:52] avikenjale opened #20356 ".NET Core Solution design having issues with reference to old version libraries"
I am in process of designing a basic application, where I would need to utilize my exiting .net libraries which I have written using `Framework 4.5`

I am trying to design following structure:

    -CODE
     - doamin.csproj  built on .NET 45 framework.(Portable Library Class)
      -Business.csproj
         - TargetFramework - netstandard1.1
         - ProjectReference - domain.csproj
      - Web

[2017-05-26 15:09] avikenjale commented on #18452
@ericstj : Unable to get rid of `"Microsoft.Composition": "1.0.27"`, as it is no where referenced in project explicitly,
@seanterry42 , this is true. Even after removing  `Microsoft.VisualStudio.Web.CodeGeneration.Design` from `.csproj` I am getting this issue. I can see `*.deps.json, *.assets.json` have references of this.

[2017-05-26 15:37] ericstj commented on #18452
You don't need to have a direct reference to remove it.  The app can use the workaround I mentioned above:
[code]

You can also use the imports/PackageTargetFallback workaround with `portable-net45+win8+wp8+wpa81`.

[2017-05-26 15:40] karelz commented on #20325
Lots of great feedback from anyone, thank you! (I didn't catch up on all of it)

Here's how I look at `System.Drawing` priorities and options:

### Priorities

1. Primary goal of `System.Drawing` is to **simplify migration from Desktop to .NET Core** (on Windows), i.e. high-compat between Desktop and Core implementation on Windows.
2. Second-level goal is to **support `System.Drawing` where it is

[2017-05-26 15:42] fujiy commented on #20331
I find out how to generate the events and read them in other process. But just the events written by EventSource.WriteEvent, I can't read those written by EventCounter.WriteMetric.

I created a project based on this PR: https://github.com/aspnet/Hosting/pull/886. But it's curious nobody else is using EventCounters, even this PR wasn't merged.

[2017-05-26 15:48] karelz commented on #20331
EventCounters are based on top of EventSource, so the consumption should be the same.

I let @vancem chime in on how wide-spread EventCounters are these days and where to find the best examples (we had them in pretty extensive internal documentation 2-3 years ago when we designed them, so I hope it is available somewhere - @vancem typically does that, so if it's not available, we should fix that ;

[2017-05-26 15:58] danmosemsft commented on #20356
@weshaggard

[2017-05-26 16:08] danmosemsft commented on #19589
This
[code]

needs fixing to return XUnit.Runner.Uap.exe in appcontainer

[2017-05-26 16:08] vancem commented on #20331
+ @cshung

Note that EventCounters are work in progress at the moment.   Andrew was able to put a certain amount of work to get something working enough so that that direction/architecture was clear, and we could build upon it.     The tooling is certainly not there yet.   You could imagine building a bridge to windows PerfCounters so that PerfMon works  (however it has all the disadvantages of th

[2017-05-26 16:22] qmfrederik commented on #20325
@karelz Regarding the Mono implementation on Linux, I don't think it is involved at all. In fact, libgdiplus, the native part, ships with all Linux distros .NET Core supports. So you don't need to port it, the distros have already done that for you. You can declare a dependency on libgdiplus pretty much the same way you do for openssl or curl - acquire it via the distro instead of NuGet.

You can

[2017-05-26 16:26] karelz commented on #20325
@qmfrederik I was relying only on info from @marek-safar who works on Mono - so I let him chime in.

[2017-05-26 16:27] karelz commented on #20356
cc @ericstj

[2017-05-26 16:37] migueldeicaza commented on #20325
Mr @qmfrederik is correct, libgdiplus is available on pretty much every Linux distribution already and it only relies on the unmanaged pieces.    If Marek had any feedback on dealing with build complexity, it would be around you trying to ship a forked version of yours, and then you would have the same issues that you have in shipping CoreCLR - namely that you will want to compile for each system.

[2017-05-26 16:38] shmao commented on #18682
@brentschmaltz any updates on this? Did you get a chance to try the Canonicalization feature?

[2017-05-26 16:38] caesar1995 opened #20358 "Need to add test for ClientWebSocketOptions.SetBuffer() desktop implementation"
In ClientWebSocketOptions.SetBuffer(), we have validations for parameters passed in.

.Net Core has this implementation: https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocketOptions.cs#L168
While .Net Framework's implementation is different: https://github.com/Microsoft/referencesource/blob/master/System/net/System/Net/WebSockets/We

[2017-05-26 16:45] shmao opened #20359 "Area-Serialization Sprint 119"
The issue is for tracking issues to be done in sprint 119 (due by 6/16/2017)

[2017-05-26 16:50] caesar1995 opened #20360 "Different error message when ClientWebSocket tries to connect to a non websocket server in desktop"
When ClientWebSocket tries to connect to a non websocket server, we will get a WebSocketException. But the error message is different in desktop. Which causes failure for this assert: https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/tests/ConnectTest.cs#L32

In framework, status 101 is the first case to throw, and has error message (The server returned status code '{0}

[2017-05-26 16:50] shmao opened #20361 "Update Tests for Exception Serialization"
https://github.com/dotnet/corefx/issues/19119 removed [Serializable] from most Exceptions except `Exception` and `AggregateException` and made those exceptions' `GetObjectData()` throw. We should update our existing tests to accommodate the change and add tests for custom Exception.

[2017-05-26 16:55] ianhays commented on #13207
I think the API is good and we're at a reasonable place in the design discussion. The next step before moving forward is to wait for more support. We generally prefer to avoid adding API unless it's something that has wide support from the community or a very strong use-case that provides new functionality. Since this addition so far has neither, it's better to wait until the demand is more clear

[2017-05-26 17:00] #15403 closed

[2017-05-26 17:05] krwq commented on #20046
cc: @sepidehMS

[2017-05-26 17:07] danmosemsft commented on #2295
If anyone else would value and use this support, please thumb up the top post to help us prioritize vs. other ports.

[2017-05-26 17:09] caesar-chen opened #20362 "WebSocket state difference when waiting for Close"
In .Net Core: The WebSocket is only supposed to transition to Closed when the connection is closed, e.g. as part of CloseAsync after a close frame has been both sent and received.

But in .Net Framework, if WebSocket is in CloseSent/CloseReceived state and receive/send a close packet, it will immediately transit into Close state (don't wait for CloseAsync). Causes test failure here: https://github

[2017-05-26 17:10] schen381 commented on #20362
cc: @karelz @CIPop @stephentoub

I'm not sure how to triage this issue.

[2017-05-26 17:13] danmosemsft commented on #9657
Anyone else who wants this and would use it please thumb up the top post to help gauge interest.

[2017-05-26 17:18] sepidehMS commented on #20263
@JeffFerguson Sorry for the confusion! Yes, I meant `thisSchemaSet.XmlResolver = new XmlUrlResolver();`. Fixed it in the original comment. After adding the XmlUrlResolver, I can't repro this. Could you please tell me which platform you are running on and what `dotnet --info` returns?

[2017-05-26 17:22] shmao commented on #19426
The issue is pending on the result of https://github.com/dotnet/corefx/issues/19930.

[2017-05-26 17:25] karelz commented on #20325
That was my thinking as well. With the caveat that we might want to use Desktop implementation on Windows to have higher-confidence compat (I've been bitten by HttpListener Mono compat recently, so I'm a bit cautious now ;)).

Agreed. We didn't plan huge investment. And I am not fan of wasting effort.

Overall, I don't think `System.Drawing` is such a great API & implementation that we want to inn

[2017-05-26 17:26] danmosemsft commented on #6913
Let's use this to track interest in System.Diagnostics.EventLog.

[2017-05-26 17:26] danmosemsft commented on #6913
Please add a thumbs up to top post if this is relvant to you.

[2017-05-26 17:29] JeffFerguson commented on #20263
Certainly! I'd be happy to.

**dotnet --info output**
[code]
**main.xsd**
[code]
**Console app**
[code]
**Exception**
[code]

[2017-05-26 17:36] ericstj opened #20364 "NETStandard.Library.NETFramework references don't work well with PreserveCompilationContext"
Using this in a desktop NETCore.SDK project and setting PreserveCompilationContext is failing to preserve the right information.

Ensure we make this work correctly.

[2017-05-26 17:41] rynowak commented on #20364
I've marked this issue as partner-blocking, as this is blocking our conversion back to supporting net461

[2017-05-26 17:46] schen381 commented on #19967
Finished investigation for `System.Net.WebSockets.Client.Tests` failures. I think the fix could be done in 2.1 or future.

Issue 1: https://github.com/dotnet/corefx/pull/20145/files#diff-7aa69802a8cce1ee13af0ddf6044342bR167
Test bug, should await first ReceiveAsync() finish, then do second ReceiveAsync().

Issue 2: https://github.com/dotnet/corefx/pull/20145/files#diff-142a110ba6941456cc5d5b7c34ab

[2017-05-26 17:46] ericstj commented on #20364
I've already got https://github.com/dotnet/corefx/pull/20363 as an experimental fix.  I'm working on looking at the repro to make sure its a complete fix.

[2017-05-26 17:48] migueldeicaza commented on #20325
Mono's System.Drawing approach has the advantage that it calls into the native GDI+, so on Windows, you get to use the one that ships with the system already.   And if we get approval for release of .NET's System.Drawing, you can swap that out as well.

The feeling is mutual @karelz, Mono has also been bitten by code in CoreFX :-)

[2017-05-26 17:54] joperezr opened #20365 "OverlappedData.GetOverlappedFromNative throws PNI on uapaot which causes two tests to crash"
areaowners: @kouvel @alexperovich @AtsushiKan

Two System.Threading.Overlapped tests (OverlappedTests.PackPosTest & OverlappedTests.PackPosTest1) where using a completion callback that would eventually call `OverlappedData.GetOverlappedFromNative` method, which today throws `NotImplementedException` on uapaot. This was causing a crash during the test execution, so for the time being I will disable

[2017-05-26 17:56] sepidehMS commented on #20046
@stephentoub This issue is happening in cases where the baseUri is not null or empty string and so, since Uri.IsAbsoluteUri(baseUri) returns false for a baseUri such as `/tmp/` on Unix, it goes [here](https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/XmlResolver.cs#L56). I'm not completely familiar with all possible cases for URI, but if the uri.StartsWith("/") is

[2017-05-26 17:57] huanwu commented on #14879
We can close this bug since the DataContractResolver tests pass on UWP. We have another issue to track the failure on wcf https://github.com/dotnet/wcf/issues/1708.  Need verify the WCF scenario once WCF UWP run works.

[2017-05-26 17:57] #14879 closed

[2017-05-26 17:58] huanwu commented on #19424
Completed and filed issues under epic #19715

[2017-05-26 17:58] #19424 closed

[2017-05-26 18:02] huanwu commented on #19425
Since we don't have way to generate and build the serializer code during build or run time. So we will seperate the automation into two. 1. Baseline comparison for the generated code 2. Check in the generated code and project file. The XmlSerializer tests will load the serializer compiled when building the whole branch.

[2017-05-26 18:02] #19425 closed

[2017-05-26 18:05] karelz commented on #20325
I agree that more code/library sharing with Mono would be beneficial overall.
If we can address the compat concern on Windows (likely with lots of tests), I'd be fine with that approach :)

When you hit those cases (or if you have a list from the past), please send the feedback to us/me. While it is usually not actionable right away, it is critical to prevent such unfortunate situations in future.

[2017-05-26 18:09] karelz commented on #19967
Thanks @schen381!
@CIPop @stephentoub @geoffkizer can one of you please double check @schen381's proposal to push it into 2.1 from area expert point of view? (I don't have enough context to make a good call here)

@schen381 if you already discussed it with @CIPop offline, please say so and we can save @stephentoub and @geoffkizer time looking at it. Thanks!

[2017-05-26 18:18] huanwu commented on #19930
@mellinoe  For the tool usage, we expect the customer will download it from the nuget package and then use dotnet CLI to run the tool and get the code file. The customer can compile a serializer assembly with this code file.  In the future milestone, we will consider if to provide a compiled assembly to customer directly when run this tool.

[2017-05-26 18:25] danmosemsft opened #20368 "System.IO.Tests.FileStream_ctor_sfh_fa_buffer_async.InvalidBufferSizeThrows can fail with ODE"
I can't see why this should fail, it's in a `using`. @ianhays ? Note this is desktop impl

[code]

[2017-05-26 18:26] schen381 commented on #19967
I didn't confirm with Cristian, and I need are expert's confirmation. @karelz

[2017-05-26 18:26] danmosemsft commented on #17925
Failure on Ubuntu is distinct. - SIGABRT
[code]

[2017-05-26 18:29] qmfrederik commented on #20325
What would the next steps be? Building a NuGet package for .NET Core from Mono's sources is straightforward, as should be setting up CI and tests. Would Mono produce the package or would the code be exported to a separate repository under dotnet? There's also the work of ingesting the NetFX code if possible.

[2017-05-26 18:30] karelz commented on #18682
Closing this as Fixed. If there are any issues, please file new bugs. They will have to go through Escrow.

[2017-05-26 18:30] #18682 closed

[2017-05-26 18:39] migueldeicaza commented on #20325
@karelz What part of the compat with Windows are you concerned about?   Like I said, our System.Drawing is a thin layer on top of GDI+, so on Windows, it is the Windows GDI+ that does all the heavy lifting.

There are likely gaps in our implementation (both on the managed and unmanaged side) and those should be filled.

Perhaps the most comprehensive test that we have is Mono's Windows.Forms imple

[2017-05-26 18:46] ericstj commented on #20364
This part of the change is required but we also need an SDK fix: https://github.com/dotnet/sdk/issues/1259

[2017-05-26 18:57] corivera commented on #20340
Fixed by https://github.com/dotnet/corefx/pull/20339

[2017-05-26 18:58] corivera commented on #20340
Keeping open for 2.0.0 tracking

[2017-05-26 19:16] ericstj commented on #20356
That's incorrect.  `net45` only supports `netstandard1.1`.  See https://docs.microsoft.com/en-us/dotnet/standard/library.

That's not the cause of this issue though.

`Microsoft.Composition` doesn't support any version of netstandard, nor netcoreapp.  Instead you should use the latest `System.Composition`.  This issue is a duplicate of #18452.

[2017-05-26 19:36] mellinoe commented on #20325
Thanks for all the great feedback, everyone. I'll try to summarize the main points discussed, and also try to clear up a couple of things.

* Goals of the library. This whole effort is _strictly_ for compatibility. I think Karel described the priorities well, and especially the non-goals. I will copy that information up into my original post at the top. The important thing here is that we don't vi

[2017-05-26 19:57] CIPop commented on #20096
NRE is fixed by #20374 (2.0 backport in #20375).

Changing the scope of this bug to take a closer look at the tests.

[2017-05-26 21:04] #20340 closed

[2017-05-26 21:15] borrrden commented on #13773
What is the status of this?  It's a pretty big blocker for Couchbase Lite .NET because we need to present information to the user about why their connection failed (for example, invalid credentials) or possibly retry the connection if we feel the error is transient.

[2017-05-26 21:16] qmfrederik commented on #20325
@mellinoe If you want to give things a try, have a look at the code here: https://github.com/corecompat/system.drawing. It contains a .NET Core 2.0 solution which compiles Mono's System.Drawing and runs the unit tests, and has CI support (Travis for Linux and AppVeyor for Windows)

[2017-05-26 21:17] MaximRouiller commented on #20325
Whatever happens, make sure it 100% works in Azure. GDI+ is highly restricted right now and most PDF libraries depend on this through System.Drawing

[2017-05-26 21:22] qmfrederik commented on #20325
@JimBobSquarePants I own a couple of NuGet packages (SharpAdbClient, RemoteViewing, CoreCompat.Selenium) which somewhere in their public API return images (screenshots, really). These packages don't process he image -- it's the consumers of these packages that will do image processing.

Currently, they depend on System.Drawing and return an `Image` object. That creates a hard dependency on System.

[2017-05-26 21:38] gulbanana commented on #17126
the trouble is that it is not the same api surface. desktop and mono already have access to a version with more api, and people will not realise that - they'll switch to the netstandard version thinking it is the same or better, then get runtime errors due to behaviour differences. they may even know better, but have this switch forced on them by dependencies which get ported to netstandard instea

[2017-05-26 21:50] terrajobst opened #20378 "Add a StringSegment type"
ASP.NET Core has a type called [StringSegment](https://github.com/aspnet/Common/blob/7c7031f145413221be316719683edb0bf1b9bf40/src/Microsoft.Extensions.Primitives/StringSegment.cs). It allows substring operations on string to not allocate but return segments using offset and length.

It's the spiritual equivalent of `ArraySegment<T>` for string. Note that `Span<T>` will also allow slicing, but span

[2017-05-26 21:53] PaulHigin commented on #17412
I spent some time experimenting with CreateNewProcessGroup on Linux platforms and unfortunately it doesn't solve my needs for PowerShell SSH based remoting.  I need to do more custom work when creating the SSH process and it is something that I doubt should be exposed through ProcessStartInfo

So please close this API request since it is no longer useful for me and probably isn't needed for most u

[2017-05-26 22:07] shmao commented on #17916
Closing the issue as we don't see any issue with type forwarding in Globals.cs.

[2017-05-26 22:07] #17916 closed

[2017-05-26 22:12] davidwrighton commented on #19789
What are the expected semantics in situations where the assembly a type is forwarded to is not available at runtime?

[2017-05-26 22:14] AtsushiKan commented on #19789
@davidwrighton  That was addressed here:

If one or more Types fail to load (perhaps because the forwardee assembly cannot be found), this api throws a ReflectionTypeLoadException. The ReflectionTypeLoadException's Types and LoaderExceptions property can be queried to recover the Types that did successfully load. (Works similarly to Assembly.GetTypes() (https://msdn.microsoft.com/en-us/library/sys

[2017-05-26 22:21] terrajobst commented on #20378
ASP.NET @Tratcher @pranavkm @rynowak @JunTaoLuo @javiercn @davidfowl
.NET @KrzysztofCwalina @weshaggard @danmosemsft @karelz

[2017-05-26 22:27] davidfowl commented on #20378
We should add an implicit conversion to Span\<char\> as well.

[2017-05-26 22:29] khellang commented on #20378
It's really unfortunate that there needs to be so many different types to essentially do the same thing. Is it really necessary?

Can you expand on these constraints? Are you talking about stack-only?

[2017-05-26 22:32] qmfrederik commented on #18752
@ViktorHofer I think we can close this one for good, now that #20325 is tracking this work.

[2017-05-26 23:07] #19811 closed

[2017-05-26 23:07] #19903 closed

[2017-05-26 23:08] JimBobSquarePants commented on #20325
@qmfrederik

I think something like @karelz described - a compat pack would be the best idea that would live in my repo. We'd bridge Image via loading/saving from streams and common primitives also.

[2017-05-26 23:31] vsccarl opened #20386 "Could not find file 'C:\Program Files\dotnet\sdk\1.0.4\minimumMSBuildVersion'"
In the latest d15prerel (26526.3001) I'm getting the below error when trying to build any .net Core project. The logs are the same for both C# and VB. The folder exists, but as the logs say, the file is missing.

[code]

[2017-05-26 23:35] ghost opened #20387 "Split off ExitCode_VoidMainAppReturnsSetValue for ILC runs."
System.Runtime.Extensions.Tests.dll -method System.Tests.Environment_Exit.ExitCode_VoidMainAppReturnsSetValue

fails on ILC because it needs to launch a child process using a test assembly and the build pipeline won't run ILC on that test assembly or copy it to the output directory. This test cannot use RemoteExecutor because it's testing ExitCode and needs to know that it is the true main method.

[2017-05-26 23:42] brentschmaltz commented on #18682
@karelz @shmao I still haven't been able to walk through the code to prove out the Core2.0 app works.
Will have that soon.

[2017-05-26 23:54] shmao commented on #19897
The bug occurred when SG generated serializers for array types having the same name. For example, SG failed to generate correct serializers for both SimpleType[] and SimpleType[][].

     The root cause of the issue is that we used the same XmlReflectionImporter instance to import types for all serializers, which caused the mapping for ArrayOfSinpleType exist while importing SimpleType[][] and the

[2017-05-26 23:56] ViktorHofer commented on #18752
Thanks @qmdrfrederik

[2017-05-26 23:56] #18752 closed

[2017-05-27 00:15] danmosemsft commented on #20387
Why can't RemoteExecutor do all these things, based on parameters passed to it? if setting ExitCode is an alternative to int Main.

[2017-05-27 00:15] danmosemsft commented on #20386
Issue moved to [dotnet/cli #6702](https://github.com/dotnet/cli/issues/6702) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-27 00:15] #20386 closed

[2017-05-27 00:28] ianhays commented on #20368
That's odd. [The only place we would have closed that handle](http://referencesource.microsoft.com/?#mscorlib/system/io/filestream.cs,920) is only on async streams. Since the handle isn't exposed elsewhere, i don't see any other place we would have closed it between the constructor and the subsequent call to the `SafeFileHandle` getter.

[2017-05-27 00:45] #4100 closed

[2017-05-27 01:33] javiercn commented on #20378
I would also consider things like StringTokenizer https://github.com/aspnet/Common/blob/7c7031f145413221be316719683edb0bf1b9bf40/src/Microsoft.Extensions.Primitives/StringTokenizer.cs

In general, any abstraction that allows classic string operations but without allocating.

[2017-05-27 01:35] Jiayili1 opened #20388 "Desktop: System.Diagnostics.Tests.ProcessStartInfoTests.StartInfo_TextFile_ShellExecute fails occasionally on NETFX"
Failed test: System.Diagnostics.Tests.ProcessStartInfoTests.StartInfo_TextFile_ShellExecute (from System.Diagnostics.Process.Tests)

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/67/testReport/System.Diagnostics.Tests/ProcessStartInfoTests/StartInfo_TextFile_ShellExecute/

Configuration: outerloop_netfx_windows_nt_debug

MESSAGE:
[code]
STACK TRACE:
[

[2017-05-27 01:36] Jiayili1 commented on #20281
Failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/67/testReport/System.ServiceProcess.Tests/ServiceControllerTests/ConstructWithServiceName_ToUpper/

[2017-05-27 01:37] Jiayili1 commented on #20282
Failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/67/testReport/System.ServiceProcess.Tests/ServiceControllerTests/Start_NullArg_ThrowsArgumentNullException/

[2017-05-27 01:52] hughbe commented on #20270
The idea behind these is that they are temporary bool values to allow switching between running the HTTP.sys/managed specific tests. The idea is that we fix all the instances where this is used. They are just to avoid spammy test failures when running the managed tests on Windows.
Any method marked as conditional with these should have an issue associated with it.

[2017-05-27 02:00] hughbe opened #20389 "[Porting][HttpListener] HttpListenerContext.AcceptWebSocketContextAsync throws PNSE for authentication"
The following test passes on desktop, but fails with netcoreapp:
[code]

A NotImplementedException is also thrown for NTLM/Negotiate/Digest authentication but I can't submit tests for this as these authentication schemes are completely broken (they throw an NRE or hang)

[2017-05-27 02:06] dotnet-mc-bot opened #20390 "Test: System.Net.Http.Functional.Tests.DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledActivityLogging failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledActivityLogging` has failed.

Assert.Equal() Failure
    Expected: 42
    Actual:   134

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose() in /root/corefx/src/Common/tests/System/Diagnostics/RemoteExecutorTestBase.cs

[2017-05-27 02:44] hughbe opened #20391 "[HttpListener] [Porting] All calls to HttpListenerWebSocketContext.WebSocket.Receive fail with ArgumentNullException"
Following test code passes with netfx, fails with an ArgumentNullException in netcoreapp:
[code]

[2017-05-27 02:45] hughbe commented on #20391
Stack trace:
[code]

[2017-05-27 02:46] hughbe commented on #20391
I have a fix

[2017-05-27 02:49] Jiayili1 commented on #19939
Failed again on 2.0.0 Portable Core Tests, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170527.02/workItem/System.Net.HttpListener.Tests/wilogs

[2017-05-27 03:33] hughbe opened #20392 "[HttpListener][Porting] HttpListenerContext.WebSocket.CloseOutputAsync(status, null, cancellationToken) has different behaviour for core and netfx"
[code]

I'm submitting tests for this

[2017-05-27 04:17] hughbe opened #20393 "ClientWebSocket.CloseAsync should match netfx behaviour and throw InvalidOperationException instead of hanging if not connected"
[code]

Netfx: InvalidOperationException thrown
Netcoreapp: hang, then WinHttpException thrown for timeout

[2017-05-27 04:29] hughbe opened #20394 "[HttpListener][Managed] HttpListenerWebSocketContext.WebSocket.Close should nop after Abort()"
Following tests are disabled with this issue:
- CloseAsync_AfterAborted_Nop

[code]

[2017-05-27 04:31] hughbe opened #20395 "[HttpListener][Managed] HttpListenerWebSocketContext.WebSocket.Receive/Close should throw ObjectDisposedException after disposal"
Following tests are disabled with this issue:

- SendAsync_Disposed_ThrowsObjectDisposedException
- ReceiveAsync_Disposed_ThrowsObjectDisposedException

[code]

[2017-05-27 04:35] hughbe opened #20396 "[HttpListener][Managed] HttpListenerWebSocketContext close handshakes should not be entirely broken"
Following tests are disabled with this issue:
-

[code]

[2017-05-27 04:36] hughbe opened #20397 "[HttpListener][Managed] HttpListenerWebSocketContext.WebSocket.Dispose should abort, not close the socket"
Following tests are disabled with this issue:
- Dispose_CallAfterDisposed_Nop

[code]

[2017-05-27 04:43] hughbe opened #20400 "[HttpListener][Porting] authentication failures with GetContextAsync throw an Unhandled inner exception for NativeOverlapped used for multiple operations"
Steps to reproduce:

1. Pull in this commit https://github.com/hughbe/corefx/commit/aa948b02cc9ad4f23fde77502382f5f6a9c42e8b
2. Run the tests

Observe:

[code]

@CIPop you were taking a look at authentication recently

[2017-05-27 04:45] hughbe commented on #20400
Also something is completely off with the stack traces. Visual Studio gives me the following:

[code]

[2017-05-27 08:22] v-haren commented on #20388
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/56/testReport/System.Diagnostics.Tests/ProcessStartInfoTests/StartInfo_TextFile_ShellExecute/

[2017-05-27 08:35] hughbe commented on #11339
I get similar failures on my local box:
[code]

[2017-05-27 15:15] #19861 closed

[2017-05-27 15:58] vibeeshan025 commented on #20325
You guys are doing a great job. Keep it up.
One thing I understood by reading this thread is it's not going to be easy to port system.drawing for .Net core and preserving cross compatibility.

Since .Net core is already not compatible with existing .Net framework, what if we have a minimal implemention of an API from scratch. Which wraps around platform specific APIs or a common cross platform lib

[2017-05-27 16:15] benaadams commented on #20325
@vibeeshan025 My understanding is System.Drawing is being provided for legacy code compatibility and it is a legacy api. So compatibility is the high bar. For new code alternative apis are be encouraged. Its not available on UWP and it is explicitly discouraged for certain applications:

[2017-05-27 22:54] daveclarke commented on #17522
I'm a little confused here, please be patient with me if I'm posting in the wrong location. I created a new netstandard2.0 project using bash on a mac:

    dotnet new classlib

Then I added the `IdentityModel` nuget package:

    dotnet add package IdentityModel

In the default `Class1.cs` I instantiate `HttpClient`:

    using System;
    using System.Net.Http;
    namespace Test
    {
        p

[2017-05-27 23:21] danmosemsft commented on #20245
again, broke CI
https://mc.dot.net/#/user/schen381/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fportable~2Fcli~2F/d621e61a47d2042815527852228651de8e74f852/workItem/System.Net.WebProxy.Tests/analysis/xunit/System.Net.Tests.WebProxyTest~2FBypassOnLocal_MatchesExpected

[2017-05-27 23:23] danmosemsft commented on #20245
Same issue  for GetHostByName_HostName and TryGetAddrInfo_HostName on Ubuntu 1604

https://mc.dot.net/#/user/schen381/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fportable~2Fcli~2F/d621e61a47d2042815527852228651de8e74f852/workItem/System.Net.NameResolution.Pal.Tests/analysis/xunit/System.Net.NameResolution.PalTests.NameResolutionPalTests~2FGetHostByName_HostName

https://mc.dot.n

[2017-05-27 23:50] Bartmax opened #20407 "Add ClaimsIdentity.NameIdentifier property."
I believe the user identifier should be a first class property on `ClaimsIdentity.NameIdentifier` property, whose corresponding claim type can be configured when instantiating the identity.
Pretty much like `ClaimsIdentity.Name`.

https://github.com/dotnet/corefx/blob/master/src/System.Security.Claims/src/System/Security/Claims/ClaimsIdentity.cs

[2017-05-28 06:27] gulbanana commented on #17522
sadly the assembly versions do NOT correspond to package versions

[2017-05-28 08:37] apartament opened #20413 "Yoga metdown jillian"

[2017-05-28 08:38] apartament commented on #20413
Nu pot accesa videoclipul

[2017-05-28 08:38] #20413 closed

[2017-05-28 11:15] yaakov-h opened #20414 "Support loading cryptographic keys from files other than certificate PFX"
I understand that this represents a thin wrapper over the Win32 CNG APIs, but it does make a whole suite of cryptographic operations simpler.

In my case, I'm trying to read an ECDSA public/private key pair out of a PKCS8 container. In .NET Framework and .NET Core on Windows, this is possible with the following:

[code]

Under macOS (and I assume Linux too), this throws a `PlatformNotSupportedExce

[2017-05-28 12:21] clrjunkie commented on #20325
@mellinoe very clear summary! 👍

Voting for this option.  I bet image resizing and cropping are the 80%. I assume the implementation for both is purely computational and does not depend on any particular O/S specific API and even if there is some GPU accelerated version I bet there is a non-accelerated counterpart. Perhaps there is an option to extract the relevant native implementation code from

[2017-05-28 14:09] stephentoub opened #20418 "ActivityTests DiagnosticSourceStartStop failed in CI"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fportable~2Fcli~2F/c79148689a54240393f14c58768b066f6515b9cc/workItem/System.Diagnostics.DiagnosticSource.Tests/analysis/xunit/System.Diagnostics.Tests.ActivityTests~2FDiagnosticSourceStartStop
[code]

[2017-05-28 15:33] jswolf19 commented on #6857
@karelz Is this just to fix the one instance raised by @Mike-EEE in `DiscoveredPart.GetActivator`, or does it include looking for further places where MemberInfo/ParameterInfo(/PropertyInfo, etc.?) reference equality is being relied on (in Dictionary key comparisons or otherwise)?

For fixing the one issue, I propose either changing the key used to be the `Position` property of the `ParameterInfo`

[2017-05-28 17:57] weitzhandler commented on #4690
This and `ContainsKey`. in general I'd love to see `KeyedCollection` implementing `IDictionary<TKey, TValue>`.

[2017-05-28 19:12] karelz commented on #20394
Is it difference against Desktop?

[2017-05-28 19:12] karelz commented on #20395
Is it difference against Desktop?

[2017-05-28 19:13] karelz commented on #20396
Is it difference against Desktop?

[2017-05-28 19:13] karelz commented on #20397
Is it difference against Desktop?

[2017-05-28 19:14] karelz commented on #20400
Is it difference against Desktop?

[2017-05-28 19:17] karelz commented on #20407
Can you please submit formal [API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) - see the example there. It simplifies discussion with API reviewers who are not expert in the area. Thanks!

[2017-05-28 19:18] karelz commented on #20393
Is it Porting vs. Managed implementation?

[2017-05-28 19:54] bartonjs commented on #20414
@yaakov-h Are you looking for

* X-Plat CNG (which is a misnomer)
* The ability to load "a key" without knowing what it is (a la the CngKey type)
* The ability to load a PKCS#8 blob as a typed key (e.g. `ECParameters.FromPkcs8(data)`)

I don't know if there's an issue for the last one specifically, but it's on my radar as something important.  I feel like that would solve your problems here withou

[2017-05-28 20:00] karelz commented on #6857
@AlexGhiondea can you please help as area expert/owner? I have never seen the code base before, so I can't comment.

In general: I would recommend to split it into 2 parts/phases or even 2 bugs - one specific and one "find similar instances".

[2017-05-28 23:05] madelson commented on #2076
Two thoughts:

* Some of the proposed APIs have a constraint `where T : IComparable<T>`. This seems inconsistent with LINQ's general OrderBy approach, where any TKey is allowed. In general, these constraints are unnecessary because `Comparer<T>.Default` is available for any `T` (although some calls to `Compare()` may fail at runtime. Despite the possibility for runtime failures, I think LINQ's mor

[2017-05-29 00:13] geoffkizer opened #20419 "HttpClient on Linux does not correctly handle zero-length chunked body"
Run the following code:

[code]

You will see output like this:

[code]

HttpClient should be sending a 0-length chunk terminator, but it's not.

Works fine on Windows.

[2017-05-29 00:14] geoffkizer commented on #20419
@karelz @stephentoub FYI

[2017-05-29 02:14] hughbe commented on #20391
This was actually fixed (not contributed to) in #20398

[2017-05-29 02:14] #20391 closed

[2017-05-29 02:16] hughbe commented on #20096
Is this a test-bug? I thought this tracks the hangs in authentication with netcoreapp?

[2017-05-29 02:16] hughbe commented on #20389
This issue now tracks a PNSE thrown for NTLM, Negotiate and Digest authentication. This is because the netcoreapp implementation of these authentication types is already entirely broken (#20096)

[2017-05-29 02:16] hughbe commented on #20400
Yes. Windows netcoreapp has this bug, netfx doesn't

[2017-05-29 02:17] hughbe commented on #20397
This is a difference of the managed implementation from Desktop, yes. However, the Windows netcoreapp implementation has the same  behaviour as desktop, so this issue tracks aligning the managed implementation with Windows netcoreapp and Desktop.

[2017-05-29 02:17] stephentoub commented on #20096
When you say hang, you just mean the Task returned by GetContextAsync not completing because nothing was accepted because the request was rejected, right?

[2017-05-29 02:18] hughbe commented on #20396
This is a difference of the managed implementation from Desktop, yes. However, the Windows netcoreapp implementation has the same  behaviour as desktop, so this issue tracks aligning the managed implementation with Windows netcoreapp and Desktop.

Note: either way this is a bug, as web socket close handshakes are broken

[2017-05-29 02:18] hughbe commented on #20395
This is a difference of the managed implementation from Desktop, yes. However, the Windows netcoreapp implementation has the same  behaviour as desktop, so this issue tracks aligning the managed implementation with Windows netcoreapp and Desktop.

[2017-05-29 02:18] hughbe commented on #20394
This is a difference of the managed implementation from Desktop, yes. However, the Windows netcoreapp implementation has the same  behaviour as desktop, so this issue tracks aligning the managed implementation with Windows netcoreapp and Desktop.

[2017-05-29 02:19] hughbe commented on #20393
No, this is a netcoreapp vs netfx issue.
The reason why I didn't mark it as [HttpListener] or [managed] or [porting] is because I don't know if this issue is with ClientWebSocket or HttpListener.

[2017-05-29 02:20] hughbe commented on #20156
No I can't. What do you think? Is it worth un-disabling these tests after ask-mode/escrow/release and seeing if it can repro in the wild?

[2017-05-29 02:21] hughbe commented on #20096
Right. There are two tests disabled with this issue that pass with netfx:

- NtlmAuthentication_Conversation_ReturnsExpectedType2Message
- NtlmAuthentication_InvalidRequestHeaders_ReturnsExpectedStatusCode

This is a bit of a blocker for adding tests for authentication

[2017-05-29 02:23] hughbe commented on #20393
@schen381 you might be interested in this

[2017-05-29 02:28] yaakov-h commented on #20414
In a perfect world I'd have the ability to load an arbitrary key from a standard PEM/DER. In practice for my particular use case I need an `ECDsa` object to create an `ECDsaSecurityKey` object for the `Microsoft.IdentityModel` JWT libraries. This has probably been driven by the way the current underlying crypto APIs are structured.

In this case, the ability to load a known type from a known conta

[2017-05-29 04:24] stephentoub commented on #11737
Failed again here on desktop:
https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/outerloop_netfx_windows_nt_debug_prtest/2/consoleText
[code]

[2017-05-29 06:14] hughbe opened #20425 "[HttpListener][porting] HttpListenerResponse.AddHeader("name", new string('a', 65536)) should throw an ArgumentOutOfRangeException to match netfx behaviour"
All of the following tests pass with netfx, fail with netcoreapp:

[code]

[2017-05-29 07:17] paultetley commented on #14238
@stephentoub - As a cheaper implementation, could you not just iterate over /proc/<pid>/fd ?

As a consumer of this API I don't have a strong view on what the default behaviour should be but we very much need a mechanism to avoid inheritance, as our application which makes extensive use of System.Diagnostics.Process is suffering from exactly the sorts of issues the OP describes.

[2017-05-29 07:25] paultetley commented on #13447
Apologies in advance is this is wrong forum, but is there any chance of this fix being released in the 1.0 stream?   As I understand it, it's a long wait until net core 2.0 and the workarounds we've found for this issue aren't pretty.

[2017-05-29 07:31] hughbe opened #20429 "Running tests with netfx from Visual Studio"
I know that VS isn't officially fully supported in corefx, but is there a way to have the F5/edit, debug continue experience for tests running against netfx? There may be a way to do this with the command line arguments

[2017-05-29 07:33] hughbe commented on #20180
Actually, it does throw, but only for certain situations (e.g. the response of HttpListener) - this should be clarified in the docs.

[2017-05-29 07:38] bartonjs commented on #20414
Not necessarily... The X509Certificate/2 constructors accept both PEM and DER encoded data, nothing says that a load-from-parameters method for PKCS#8 and SubjectPublicKeyInfo would be DER-only.

[2017-05-29 08:14] yaakov-h commented on #20414
True, I just assumed that `From...Data` would mean from the actual PKCS8 data, which is the base64-encoded blob inside the BEGIN/END lines. If we can handle the textual container too in corefx, then 👍 👍

[2017-05-29 08:19] adamhathcock commented on #9657
I would be interested in looking at pushing algorithms into the core and exposing more outside to help projects.  As the author of SharpCompress, i like having a unified interface.

Another thing, working with non-seekable streams is a big thing so i cant use the current Zip implementation in the core.  I'd like to get native zlib usage though so that's an example of something I'd like exposed.

T

[2017-05-29 08:52] marek-safar commented on #19119
Could we instead of removing `[Serializable]` completely use some #if-def or partial type? Mono is reusing CoreFX code and wants to still be .NET compatible. Cross platform serialization is nice to have for us but removing Serializable from types which have it on .NET breaks any program which uses appdomain/remoting/asp.net session/etc even if it runs on single platform only.

[2017-05-29 10:54] weitzhandler commented on #5766
My dream is TS+HTML5+CSS3 emitted UI from a C#-XAML client.

[2017-05-29 10:55] marek-safar commented on #20325
@karelz @mellinoe I think it'd be better to open source .NET System.Drawing and use that on netcore and Mono on Windows. That'd bring 100% compatibility with no effort.

On linux my concern was that you'll fall into same trap as you did with OpenSSL dependency which might not be that bad if you the library is there for backward compatibility solution only.

OSX has been mostly ignored here but hav

[2017-05-29 11:03] qmfrederik commented on #20325
@marek-safar Regarding macOS & x11, [you can now build libgdiplus for macOS without X11](https://github.com/mono/libgdiplus/pull/460) and [acquire libgdiplus via Homebrew](http://brewformulas.org/MonoLibgdiplus).

Deployment of libgdiplus would be similar to the OpenSSL dependency, with all its pros and cons.

[2017-05-29 11:36] marek-safar commented on #20325
@qmfrederik right but that disables X11 features which at quick check looks will break DPI scaling.

[2017-05-29 12:20] qmfrederik commented on #20325
@marek-safar Yup, (automatic) DPI scaling will not work with libgdiplus on macOS. I assumed that you'd only really need DPI scaling when using WinForms or another UI on the Mac itself; and that this wouldn't be much (if any) of a problem when using System.Drawing in ASP.NET Core or CLI tools?

[2017-05-29 12:22] Mike-EEE commented on #5766
To clarify, what you are looking for would actually be _JavaScript_+HTML5+CSS3 generated artifacts.  TypeScript is actually a transpiler for JS.  Instead of making a .NET transpiler to produce standards-compliant JS that would effectively execute in a browse (like [JSIL](http://jsil.org/)), MSFT decided to spend the precious time of C#'s creator to make something that would effectively and ultimat

[2017-05-29 12:36] vermorel opened #20430 "Extra 'Expression.Compile()' overload aligned with 'DynamicMethod' options"
The [extended constructor of DynamicMethod](https://msdn.microsoft.com/en-us/library/0d9fd769(v=vs.110).aspx) offers two important options:

* the target module
* a `skipVisibility` flag

that are very convoluted to replicate from from the [LamdbaExpression.CompileToMethod() method](https://msdn.microsoft.com/en-us/library/system.linq.expressions.lambdaexpression.compiletomethod(v=vs.110).aspx) an

[2017-05-29 12:59] svick commented on #20430
`LamdbaExpression.CompileToMethod()` does not create a new method, it provides the IL for an existing `MethodBuilder`. I think to achieve what you want while keeping the interface consistent, an overload of `CompileToMethod()` that takes `DynamicMethod` instead of `MethodBuilder` could be added.

[2017-05-29 13:07] argoLein commented on #16598
same problem here. Any Updates?

[2017-05-29 13:35] vermorel commented on #20430
Yes, agreed, the overload `LamdbaExpression.CompileToMethod(DynamicMethod)` would be superior indeed.

[2017-05-29 13:47] BharatRajMeriyala commented on #16598
If you are deploying on azure, you might want to check the outgoing port configuration on azure vm once.

-------- Original message --------
From: argoLein <notifications@github.com>
Date: 29/05/2017 6:38 pm (GMT+05:30)
To: dotnet/corefx <corefx@noreply.github.com>
Cc: BharatRajMeriyala <bharatrm@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Unable to use System.N

[2017-05-29 13:56] Bartmax commented on #20407
@karelz updated with what I think (or at least looks like) a formal API proposal.

I'm not very used to this type of issues so I hope 🤞 it's fine this time.

[2017-05-29 14:01] PinpointTownes commented on #20407
/cc @brentschmaltz as I believe he still owns the claims stuff.

[2017-05-29 14:58] stephentoub commented on #14238
Maybe, on platforms where procfs exists (e.g. not on macOS)

[2017-05-29 15:19] argoLein commented on #16598
No. After 4 hours i solved the issue. My Client runs inside a Linux container and i changed my code to this:

[code]
outside from docker on a windows shell i dont need the credentialCache so i passed the NetworkCredential object directly to the handler. But that dont worked in docker. Inside the container, the wget command response with 2 unauthorized exceptions but the next one with 200. I think

[2017-05-29 16:05] tmds commented on #14238
On Linux, there shouldn't be many handles that get inherited. Sockets and files are opened with CLOEXEC.

[2017-05-29 17:09] grehovm opened #20435 "HTTPS proxy servers not working with HttpClient"
I'm writing a proxy checking service. This is a short test case:
[code]
It works on Linux Mint 18.1 Serena, but does not work on Windows 10.

Windows 10 output:
[code]
Linux Mint 18.1 Serena output:
[code]
Windows version does not call ServerCertificateCustomValidationCallback.
PS: On a full framework, I used HttpWebRequest and everything was fine. What is the best way to perform multiple requests

[2017-05-29 18:12] juandrn commented on #16322
I've solve this adding
<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>
in .csproj file.
Ref:
https://msdn.microsoft.com/en-us/library/2fc472t2.aspx

[2017-05-29 19:41] danmosemsft commented on #20429
@safern

[2017-05-29 21:13] #20043 closed

[2017-05-29 21:32] safern commented on #20429
Yes there is you have to do the following:
1. Build the test project through msbuild /p:targetgroup=netfx
2. Open Visual Studio
3. Open xunit runner for your test project "%corefxpath%\bin\%OSGroup.Architecture.BuildConfiguarion%\%YOURPROJECT%\netstandard\xunit.console.exe"
    * Where %OSGroup.Architecture.BuildConfiguarion% is something like AnyOS.AnyCPU.Debug
4. Open project properties and fill

[2017-05-29 23:44] stephentoub commented on #20394
The Windows HttpListener implementation is using the same one as desktop's HttpListener,, but the Windows client-side implementation is using a different implementation than desktop, one based on WinHttp.  That implementation has this same "the only valid states for Close/CloseOutput are Open/CloseReceived":
https://github.com/dotnet/corefx/blob/d6b11250b5113664dd3701c25bdf9addfacae9cc/src/System.

[2017-05-29 23:46] stephentoub commented on #20389
@cipop fixed the NRE.  The hang is in the test, not the product.  The product is failing the auth request, and if the test were written to notice the failing client side, it wouldn't hang.

[2017-05-29 23:48] stephentoub commented on #20389
Let's be careful throwing around terminology like "entirely broken".  How do you know it's "entirely broken"?  Just because the test being written doesn't pass, that doesn't mean it's entirely broken.  It could be something more subtle about the test.