[2017-05-03 19:44] ianhays commented on #18546
This is related to #19287

[2017-05-03 19:58] VSadov commented on #19212
@jkotas - I was not sure that runtime wanted to invest into enforcing the span safety.

Most these case should be compile errors, so adding enforcement in the runtime should not be extremely breaking.
It is however something that would be good to have from the beginning, if possible.

[2017-05-03 20:02] ericstj commented on #17633
## New packages in 2.0
- Microsoft.XmlSerializer.Generator
- NETStandard.Library.NETFramework
- System.CodeDom
- System.Configuration.ConfigurationManager
- System.IO.Ports
  - not supported on unix, has netstandard2.0 PNS assembly, win-specific impl
- System.Json
- System.Memory
- System.Security.Cryptography.Xml
- System.Security.Permissions

So only one of these is in the boat of having a netst

[2017-05-03 20:02] #17633 closed

[2017-05-03 20:05] pjanotti commented on #19194
@weshaggard fyi I was able to run the tests from VS 2015 update 3

[2017-05-03 20:06] ianhays commented on #19194
We also allow flushing [in DeflateStream regardless of `CanWrite`](https://github.com/dotnet/corefx/blob/master/src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs#L167), so there's another example.

[2017-05-03 20:07] tah9m9 commented on #19194
Interesting... I guess that settles it. We'll keep our wrapper in place.

[2017-05-03 20:10] mconnew commented on #11795
@CIPop, Adding a new api doesn't fix issue #14674 as the cookie container throws when trying to add a cookie which conforms to the latest RFC or even the immediately prior RFC version. Adding a new api will still fail to retrieve the cookie as it doesn't even get into the collection in the first place.
Also, I don't understand how what the app-compat risk is? CookieContainer might have some extra

[2017-05-03 20:11] pjanotti commented on #19194
Ok, so let's close this issue. @karelz do I need to do something in this regard?

[2017-05-03 20:11] #18898 closed

[2017-05-03 20:12] #19023 closed

[2017-05-03 20:12] #19042 closed

[2017-05-03 20:12] #19092 closed

[2017-05-03 20:12] #18263 closed

[2017-05-03 20:13] mikeharder opened #19313 "System.Runtime.InteropServices.RuntimeInformation.get_OSArchitecture() fails on Win7/WS08R2"
System.Runtime.InteropServices.RuntimeInformation.get_OSArchitecture() fails on Win7/WS08R2 during the ASP.NET CI builds:

[code]

# Standalone Repro
1. VM with clean WS08R2
2. Install CLI 2.0.0-preview1-005917
3. Create app with files below
4. dotnet restore
5. dotnet run

## Repro.csproj
[code]

## Program.cs
[code]

NuGet.config
[code]

[2017-05-03 20:17] alexperovich opened #19314 "Test S.N.NetworkInformation.Tests.NetworkInterfaceBasicTest.NetworkInterface_LoopbackInterfaceIndex_MatchesReceivedPackets crashes on uapaot"

[2017-05-03 20:18] weshaggard commented on #17917
I would not move CollectionExtensions down. We should just update them to not use this helper.

[2017-05-03 20:19] mconnew commented on #14674
Reopening as this is a different issue than #11795. That's about retrieving a cookie which is in CookieCollection. This is about CookieContainer throwing an exception when parsing a valid cookie that is being attempted to be added. If the scope of issue #11795 includes addressing parsing of valid cookies which are currently being dropped, then please can you explicitly add that to the issue so tha

[2017-05-03 20:20] davidsh commented on #19314
We shouldn't be running any of these tests for UAP for System.Net.NetworkInformation.  Most of the library is not implemented for UWP (PLatformNotSupportedException).

cc: @danmosemsft @karelz

[2017-05-03 20:23] danmosemsft commented on #19313
@mikeharder is this 2.0? we changed that from apiset long ago.
[code]

@gkhanna79

[2017-05-03 20:24] danmosemsft commented on #19104
Apparently we're missing a test or this would show up in our desktop runs.

[2017-05-03 20:26] danmosemsft commented on #19313
@mikeharder also, did this start brekaing recently?

[2017-05-03 20:28] danmosemsft commented on #19286
@lmolkova

[2017-05-03 20:28] danmosemsft commented on #19305
@janvorli as I think he was looking at build on latest distros.

[2017-05-03 20:30] danmosemsft commented on #18559
@stephentoub

[2017-05-03 20:31] mellinoe commented on #19305
I think he was looking at OLDER distros, rather than newer.

@weshaggard , @ericstj Can we just add ubuntu.17.04-x64 to the RID graph? I think the build should work fine as long as the CLI knows that it can pick up the portable Linux assets for Ubuntu 17.04. The problem right now is most likely that ubuntu.17.04-x64 is just a "completely unknown RID", and the tools don't know what to do with it.

[2017-05-03 20:32] danmosemsft commented on #19314
Meaning we should run the tests, but they should ber disabled pending work?

[2017-05-03 20:32] weshaggard opened #19316 "Remove UAP10.1 assets in packages"
For the .NET Core 2.0 release we should exclude any uap10.1 specific assets in the individual packages as that isn't the correct TFM and we are targeting 2.1 for finishing that work so we should exclude them for now. The only uap package we should produce is the private platform package, but that one won't actually ship on nuget org.

cc @ericstj @joperezr @danmosemsft

[2017-05-03 20:33] alexperovich commented on #19314
This issue is specifically about this test crashing XUnit so we get no results. If the tests are all expected to fail that is another thing entirely.

[2017-05-03 20:34] weshaggard commented on #19305
We can consider adding this to the RID graph but not to fix the corefx build issue. For the corefx build issue we should start using the portable RIDs for our tools.

[2017-05-03 20:37] janvorli commented on #19305
@mellinoe I was actually looking into both cases recently - Debian 9 being the new distro case. But I was looking only into building native parts.

[2017-05-03 20:38] safern commented on #17917
@Pothulapati could you just update `CostumAttribute` and `RtType` to not use `Dictionary<TKey, TValue>.GetValueOrDefault` on your PR?

[2017-05-03 20:45] mikeharder commented on #19313
@danmosemsft: The issue is impacting ASP.NET 2.0.0-preview1 tests.  It might be that ASP.NET is referencing an older version of the package than it should be.  Still investigating.

[2017-05-03 20:46] mikeharder commented on #19313
We're not sure exactly when it started failing, since ASP.NET tests on Win7 were blocked for a long time with SqlClient issues, and we're just now uncovering additional issues.

[2017-05-03 20:54] Nicholi commented on #4571
@KevalPatel
[code]
After almost two years that is the "solution". Essentially you have to handle getting the correct DbProviderFactory yourself, whether it be SqlServer or MySql. Sorta sad this isn't even going to be in netstandard2.0.

[2017-05-03 21:00] jkotas commented on #17917
It should be replaced by ContainsKey in most places - it should result in tiny bit faster and smaller code.

[2017-05-03 21:06] karelz commented on #4571
@Nicholi which API would you expect in .NET Standard 2.0? (note that only .NET Framework 4.6.1 which are also on Xmanarin are allowed to be in .NET Standard)
Or did you mean .NET Core 2.0? (I could understand that)

[2017-05-03 21:17] Nicholi commented on #4571
@karelz This API https://github.com/dotnet/corefx/issues/6476
[code]

I don't really expect anything now, it's clearly not happening.

[2017-05-03 21:18] FransBouma commented on #4571
@karelz any API, it's taken a LONG time before Microsoft even acknowledges that there should be 'an' API for this (like, a year?) and now there isn't any.

We ORM devs can write our own, and write something that will 'work', but it sucks that something so crucial for the whole ADO.NET ecosystem is so overlooked. You know what that tells me? That the people who have controlled System.Data for so lo

[2017-05-03 21:22] sepidehMS commented on #19259
Seems to me that this is a linux-specific command attempting to control which memory segments are written to the core dump file in the event that a core dump is performed for this process. Look at [this](https://github.com/dotnet/corert/blob/master/tests/coredump_handling.sh#L27).

[2017-05-03 21:27] weshaggard commented on #19152
@ptoonen is this something you are interested in submitting a fix for?

[2017-05-03 21:28] #18830 closed

[2017-05-03 21:42] mikeharder commented on #19313
Added standalone repro.  Impacts apps targeting `net46` and referencing `System.Runtime.InteropServices.RuntimeInformation, Version=4.3.0`.

[2017-05-03 21:43] mikeharder commented on #19313
CC: @anurse

[2017-05-03 21:44] gkhanna79 commented on #19313
CC @weshaggard

[2017-05-03 21:45] gkhanna79 commented on #19313
So, this is an older version of the package that already shipped?

[2017-05-03 21:55] gkhanna79 commented on #19313
If you add reference to https://www.nuget.org/packages/Microsoft.NETCore.Windows.ApiSets/1.0.1, does it address the problem?

[2017-05-03 21:58] jemiller0 commented on #4571
What I don't get is why System.Configuration is missing. Is there some new rule that config files are bad and not allowed? I hate XML config files just as much as everyone else, but, they do serve a purpose. One of my gripes is ASP.NET. Is Web Forms going to be included in Net Standard 2? Some of this looks like religion to me. And I don't like the fact that things like the new logging API is comi

[2017-05-03 22:01] weshaggard commented on #19313
This has always been an known issue. See https://github.com/dotnet/corefx/issues/8091#issuecomment-225641743. We fixed it with the latest package however because we no longer depend on api-sets. https://github.com/dotnet/corefx/issues/13566.

[2017-05-03 22:01] #19313 closed

[2017-05-03 22:07] billpratt opened #19318 "decimal ToString("C") output difference across OS platforms"
I have an app that uses the decimal ToString(String, IFormatProvider) method to get currency formatted string for a specific culture ie $7.99 for en-US. I have noticed a slight difference for the culture "da-dk" on what is returned across Linux/OSX/Windows.

Sample code:
[code]

On Windows and OSX, the output is: **9,99 kr.**

On Linux however, the output is missing the period: **9,99 kr**

Though

[2017-05-03 22:08] robertmclaws commented on #11795
When @CIPop says "propose a new API" I think he's referring to some version of my Extension method that accepts a string and functions according to the spec. That would fix THIS issue, though not the one @mconnew is referring to. I also agree that System.Uri is the wrong type to hold the Cookie scope, especially given they can start with a period.

Truth be told, my personal opinion is that the en

[2017-05-03 22:09] billpratt commented on #19318
To test this on Linux I used the microsoft/dotnet:1.1.1 Docker image

[2017-05-03 22:16] mikem8361 opened #19319 "System.Diagnostics.StackTrace.StackTraceSymbols class missing from .NET Core 2.0"
The StackTraceSymbols class in the latest .NET Core 2.0 package (I’m currently using the Microsoft.NETCore.App version 2.0.0-preview2-002093-00 package in the debuggertests repo) isn’t there.  This internal class is used by System.Private.CoreLib StackTrace code to load portable pdbs for the runtime diagnostic stack trace to get source/line info.

If might be from this commit (hash 446e0057) by Jo

[2017-05-03 22:18] jkotas commented on #19212
We have always had checks for the fixed set of byref-like types to prevent them from being allocated using reflection on GC heap, etc. So it is natural to extend this to kick in for the explicitly marked byref-like types as well.

[2017-05-03 22:24] stephenmichaelf commented on #18765
@mellinoe Could you put them in priority order and I can give it a shot from the top? Thanks!

[2017-05-03 22:27] danmosemsft commented on #19319
@joperezr

[2017-05-03 22:29] CIPop commented on #17390
@danmosemsft @weshaggard I see this is happening again today. (Also, please let me know if these updates are useful.)

[code]

[2017-05-03 22:31] danmosemsft commented on #13800
@MikevanDongen this API is approved to go in so long as the PR is committed before 5/10 when we fork off. After that it would need shiproom ok which might not happen. Just let us know if you don't think you'll be able to get to it soon enough and maybe we can find someone. Thanks :)

@karelz

[2017-05-03 22:31] karelz commented on #18559
@olivier-spinelli don't forget we are also locking down for 2.0 release - see #17619 for details. We have to be very practical. If you have specific suggestions/concerns that fit into the tight deadlines, then we can consider them.
If it is fuzzy, or unclear, then we will have to postpone it for future.
Makes sense?

[2017-05-03 22:32] CIPop commented on #9543
I originally thought this might be #16516 which we currently believe it's caused by a Windows bug.
This is happening on both Linux and Windows.

[2017-05-03 22:33] mellinoe commented on #18765
Hey @stephenmichaelf, I tried to initially put it in "priority order", but it was really just based off of my intuition. @AlexGhiondea Do you have any thoughts on the priority of test cases above? Is there something that should be "the top priority"?

[2017-05-03 22:41] jamesgibbs100 commented on #15287
Hi there - seeing this problem as well - only the traffic is much higher and is resulting in 1000's of open connections. This is also a show stopped for me too

[2017-05-03 22:51] saurabh500 commented on #15287
We have a package uploaded in our nightly feed, with the fix. https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Data.SqlClient/4.3.1-servicing-25210-01
The fix is targeted for a service release.

In case you want, you could try out the package mentioned above.

Disclaimer: Use at your own risk.

[2017-05-03 22:51] karelz commented on #19307
Worst case assessment: Send\Receive doesn’t work with large buffers on Linux.

[2017-05-03 22:54] CIPop commented on #8538
I've verified this is not related to #16516: I can repro locally.

[2017-05-03 22:57] weshaggard commented on #17390
Updated https://github.com/dotnet/corefx/commit/665788b83c59c2888f2c3a9ae16cdaa42394367d.

@danmosemsft did you want to put these updates under a build switch now so only folks that have that switch enabled with update them?

[2017-05-03 22:59] karelz commented on #4571
@FransBouma I understand your frustration, but I would like to ask you to tone down your message and keep it constructive. I am trying to help here!
However, personal-ish / team-ish attacks are not likely going to help with easier communication with the team you want something from. If I were them, I would be scared now to even talk to you or ask you to advice - just to avoid further attacks. I as

[2017-05-03 23:00] CIPop commented on #16516
In a debugger by disposing the certificate handle right before the ACH call.

This was a wrong assumption: the actual bug is a Windows level race condition during the PFX file import: Importing the same file in parallel from multiple processes / threads may end up corrupting the certificate state.

[2017-05-03 23:02] tarekgh commented on #19318
We depend on the OS for the underlying globalization data. so we don't carry any of such data to make it consistent across the OS's or even OS versions. This is by design for the .NET framework.

It will be good if you ask for the change from the OS. from what I am seeing looks Linux has wrong data. the other idea could be update the ICU package you are using in Linux and try to install the latest

[2017-05-03 23:02] #19318 closed

[2017-05-03 23:02] karelz commented on #4571
@jemiller0 you are turning the technical discussion into much larger "*I don't like your general direction across all the stack*" discussion.
That is fair feedback and I am happy to discuss it, but it is off-topic here. If you're interested, please file a new issue (and tag me) and let's have the discussion there (forums may be even better place, but this will do for now) -- I won't attempt to ans

[2017-05-03 23:06] danmosemsft commented on #17390
I don't mind doing that (just merge https://github.com/dotnet/corefx/pull/19324) but why is this always firing? We don't seem to have the issue with the per-library ones.

Is it because of bugs causing noise? I mean CI should prevent folks forgetting to update it right?

I would rather fix that. Or we will  never remember to run it.

[2017-05-03 23:14] billpratt commented on #19318
@tarekgh Since the platform I'm using in an ASP.NET Core Docker image provided by Microsoft, I have submitted the issue there

[2017-05-03 23:25] CIPop commented on #17390
I don't think this works - there's no test verifying that source-files have been modified.
Otherwise wouldn't CI already have blocked all commits causing the issues I reported above?

[2017-05-03 23:30] weshaggard commented on #17390
We can easily turn this on to break the build. However we still have a number of auto-PRs coming it that cause these baseline files to be updated which we would then have to manually fix all the time which would be a pain. Right now we are primarily using these as work tracking so they aren't important once we get the work done we should turn them on to enforce compat and then this will no longer

[2017-05-03 23:41] joperezr commented on #19319
This has nothing to do with my change, after taking a look, this seems to be a bug with the GenFacades tool since after building the library, it has the internal type, but then we run GenFacades on it since we need to add some typeforwards to the runtime and the tool seems to be stripping this internal type out.

[2017-05-04 00:01] safern opened #19330 "System.IO.Path.IsPathRooted does not check if valid drive letter on Desktop"
See: https://github.com/dotnet/coreclr/issues/10297

Opened this one as it seems that coreclr doesn't have netfx-port-consider label that is caught by the tool.

FYI: @JeremyKuhne

[2017-05-04 00:01] #19330 closed

[2017-05-04 00:23] karelz commented on #13800
Let's keep it unassigned, until someone grabs that up. Whoever picks it up, please comment here .... first commenter wins the issue ;-)

[2017-05-04 00:25] karelz commented on #19194
Closing per comments above, thanks everyone for help!

BTW: Do we need any documentation changes?

[2017-05-04 00:25] #19194 closed

[2017-05-04 00:34] #18713 closed

[2017-05-04 00:34] #18716 closed

[2017-05-04 00:34] #18825 closed

[2017-05-04 00:38] jemiller0 commented on #4571
@karelz Sorry about that. You're right.

[2017-05-04 00:42] karelz commented on #4571
@jemiller0 thanks for understanding! As I said, happy to discuss particular things elsewhere - just tag me ;-)

[2017-05-04 02:05] tintoy commented on #19198
Sure, I'll give that a go shortly and let you know.

[2017-05-04 02:06] #17564 closed

[2017-05-04 02:10] safern opened #19334 "Desktop: System.Runtime.Extensions.Tests test failed "System.IO.Tests.PathTests.GetDirectoryName""
`System.IO.Tests.PathTests.GetDirectoryName` failed with error:

[code]

There is a difference in behavior here as .Net Core returns null when `Path.GetDirectoryName(string.Empty)` and Desktop throws and `ArgumentException`.

I've tried it in a ConsoleApp targeting 4.6.2 and it still throws, did this behavior changed in 4.7 or do we have to change .Net Core to throw?

cc: @JeremyKuhne @ianhays

[2017-05-04 02:22] dotnet-mc-bot opened #19335 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandlerTest/Proxy_BypassFalse_GetRequestGoesThroughCustomProxy(creds: null, wrapCredsInCache: False)"
Opened on behalf of @jiangzeng

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/Proxy_BypassFalse_GetRequestGoesThroughCustomProxy(creds: null, wrapCredsInCache: False)` has failed.

System.AggregateException : One or more errors occurred. (Object reference not set to an instance of an object.) (An error occurred while sending the request.) (One or more errors occurred. (An error

[2017-05-04 02:31] safern commented on #19334
So this is a difference in behavior, I've tried with a ConsoleApp targeting 4.7 and it throws the exception.

[2017-05-04 02:34] dotnet-mc-bot opened #19336 "Test failure: System.ConfigurationTests.AppSettingsTests/AddToAppSettings_Save"
Opened on behalf of @jiangzeng

The test `System.ConfigurationTests.AppSettingsTests/AddToAppSettings_Save` has failed.

Assert.False() Failure\r
    Expected: False\r
    Actual:   True

        Stack Trace:

           at System.ConfigurationTests.AppSettingsTests.AddToAppSettings_Save() in E:\A\_work\221\s\corefx\src\System.Configuration.ConfigurationManager\tests\System\Configuration\AppSettin

[2017-05-04 02:35] tintoy commented on #19198
Ok, so I definitely think it feels weird to have to create a `SignedXml`  from an `XmlDocument` _and_ then call `LoadXml` against the `<Signature/>` element before the signature even shows up correctly.

Having said that, the following **still** doesn't validate correctly:

[code]

From memory there are 2 or 3 kinds of XML-DSIG formats (attached, detached, etc). I wonder if this represents an edge

[2017-05-04 02:37] safern opened #19337 "Difference in behavior Path.GetDirectoryName(string.Empty) throws on Desktop, returns null on Core"
`Path.GetDirectoryName(string.Empty)` throws on Desktop `ArgumentException` and in .Net Core it returns `null`

I think we should make them match.

See msdn documentation: https://msdn.microsoft.com/es-es/library/system.io.path.getdirectoryname(v=vs.110).aspx

cc: @JeremyKuhne @ianhays

[2017-05-04 02:39] dotnet-mc-bot opened #19338 "Test failure: System.ConfigurationTests.ConfigurationElementCollectionTests/EqualsNullIsFalse"
Opened on behalf of @jiangzeng

The test `System.ConfigurationTests.ConfigurationElementCollectionTests/EqualsNullIsFalse` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Object.GetType()
       at System.Configuration.ConfigurationElementCollection.Equals(Object compareTo)
       at System.Configuration

[2017-05-04 02:43] tintoy commented on #19198
Oops! Misread their code - when I do the double-load of the signature element, it does validate correctly.

**But** it kinda looks to me like the signature is being loaded without the elements that it's meant to refer to, so what does "signature is valid" actually even mean in this context?

[2017-05-04 02:43] ahsonkhan commented on #18420
I did not notice any significant performance overhead from constructing a Span<T> constructor vs ReadOnlySpan<T> constructor. Granted, I was testing for T = byte, int, and string.

@jkotas, how can I measure this covariance array check performance overhead? What type of Span/ReadOnlySpan would I have to construct?

[2017-05-04 02:44] dotnet-mc-bot opened #19339 "Test failure: System.ConfigurationTests.TypeUtilTests/GetTypeConfigHost"
Opened on behalf of @jiangzeng

The test `System.ConfigurationTests.TypeUtilTests/GetTypeConfigHost` has failed.

System.TypeLoadException : Method 'GetRestrictedPermissions' in type 'TestHost' from assembly 'System.Configuration.ConfigurationManager.Tests, Version=4.0.0.0, Culture=neutral, PublicKeyToken=9d77cc7ad39b68eb' does not have an implementation.

        Stack Trace:

           at Syste

[2017-05-04 02:45] dotnet-mc-bot opened #19340 "Test failure: System.ConfigurationTests.TypeUtilTests/GetType_NoAssemblyQualifcation(typeString: \"System.Configuration.PropertyInformation\", expectedType: typeof(System.Configuration.PropertyInformation))"
Opened on behalf of @jiangzeng

The test `System.ConfigurationTests.TypeUtilTests/GetType_NoAssemblyQualifcation(typeString: \"System.Configuration.PropertyInformation\", expectedType: typeof(System.Configuration.PropertyInformation))` has failed.

Assert.Equal() Failure\r
    Expected: typeof(System.Configuration.PropertyInformation)\r
    Actual:   (null)

        Stack Trace:

           at Sys

[2017-05-04 02:46] tintoy commented on #19198
Although perhaps not a trivial one to fix (I can see roughly what needs to be fixed but since it's used elsewhere, risk of regressions may be increased).

[2017-05-04 02:49] dotnet-mc-bot opened #19341 "Test failure: System.ConfigurationTests.UriSectionTests/UriSectionIdnIriParsing"
Opened on behalf of @jiangzeng

The test `System.ConfigurationTests.UriSectionTests/UriSectionIdnIriParsing` has failed.

System.Configuration.ConfigurationErrorsException : Section or group name 'uri' is already defined. Updates to this may only occur at the configuration level where it is defined. (C:\\Users\\DotNetTestRunner\\AppData\\Local\\Temp\\dyix10g5.plb\\yrx0j4pq.wd0.exe.config line 4)

[2017-05-04 02:50] safern opened #19342 "`Path.GetPathRoot(string.Empty)` difference in behavior"
`Path.GetPathRoot(string.Empty)` in Desktop throws `ArgumentException`, on .NET Core it returns `String.Empty`

See msdn documentation: https://msdn.microsoft.com/en-us/library/system.io.path.getpathroot(v=vs.100).aspx

cc: @JeremyKuhne @ianhays

[2017-05-04 02:56] davidsh commented on #19335
------------ System.Net.Http.WinHttpException : The operation has been canceled

This is probably just a network hiccup with the internet and Azure.

[2017-05-04 03:16] pjanotti commented on #19194
I think the docs for CanWrite and Flush should explicit state that implementation of Flush should not throw NotImplementedException for read only streams. Although it "feels" right to do so can hit cases like this one.

[2017-05-04 04:41] danmosemsft commented on #19338
We should just diable th test for desktop. This is not worth mimicking.

[code]

[2017-05-04 04:43] danmosemsft commented on #19336
Seems like an expected desktop diff. We don't hvae machine.config, it does.
[code]

[2017-05-04 04:50] danmosemsft commented on #19104
@sjoerdverweij Since 1.x and that blog post we have brought back thousands of types including Type and excepting a few specific technologies (eg appdomains, remoting, CAS) and clear exceptions we are working hard to be compatible across the board. In some cases that even includes throwing to match Desktop. I don't know about this instance specifically.

[2017-05-04 04:52] danmosemsft commented on #17051
@DawidTabak we got the okay to submit this API for 2.0 if we get a PR up in the next 2 or 3 days. If you can't manage that, it's okay, it will just miss 2.0. :)

[2017-05-04 04:52] danmosemsft commented on #16836
@jlanng we got the okay to submit this API for 2.0 if we get a PR up in the next 2 or 3 days. If you can't manage that, it's okay, it will just miss 2.0. :)

[2017-05-04 05:09] bloudraak commented on #3906
I started [a project ](https://github.com/Phaka/Observability/tree/develop) to allow an external system to get performance metrics.  I'm really interested not only in extracting metrics or"performance counters", but an API to discover them and report them.

I'm actively working on making it possible for [Prometheus](https://github.com/prometheus/) amongst others to extract metrics from an aspnet c

[2017-05-04 05:59] dotnet-mc-bot opened #19344 "Test failure: System.Net.Http.Functional.Tests.DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging"
Opened on behalf of @jiangzeng

The test `System.Net.Http.Functional.Tests.DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging` has failed.

Assert.Equal() Failure
    Expected: 42
    Actual:   134

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
Build : Master - 20170504.01 (Portable Core Tests)
Failing configurations:
- Centos.

[2017-05-04 06:00] jiangzeng commented on #19344
Looks like same issue with https://github.com/dotnet/corefx/issues/16098

[2017-05-04 06:03] dotnet-mc-bot opened #19345 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol: Tls11, requestOnlyThisProtocol: False)"
Opened on behalf of @jiangzeng

The test `System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol: Tls11, requestOnlyThisProtocol: False)` has failed.

System.ComponentModel.Win32Exception : The credentials supplied to the package were not recognized

        Stack Trace:

           at System.Net.SSPIWrapper.AcquireCredentialsHandl

[2017-05-04 06:06] ptoonen commented on #19152
@weshaggard yes, though it's in intermittent WIP at the moment ;-)

[2017-05-04 06:06] Jiayili1 commented on #18726
@danmosemsft I will open a new issue for it.

[2017-05-04 07:12] Jiayili1 commented on #19090
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/40/testReport/System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests/EdgeCasesTests/ZeroLengthContent_FixedValue/

[2017-05-04 07:32] FransBouma commented on #4571
I know you mean well, but coming into this thread with 'which API would you expect in .NET Standard 2.0?' as you did shows you either haven't read all posts (understandable, it's very long) or everything that's said in this thread has been for nothing as we're still at square one. I truly hope we are NOT, but it seems we are.

Sorry, but that frustrates me to no end. I've been dealing with ADO.NET

[2017-05-04 07:42] MihaMarkic commented on #4571
I can certainly confirm this unfortunate pattern. As a long time ADO.NET user (like from .net beta times) I'm also indirectly affected with it and I can't understand it. Can't somebody actually listen and once for all solve the problem?

[2017-05-04 07:49] karelz commented on #19194
I assume on `CryptoStream` - @ianhays @bartonjs does it seem like reasonable request?
Should we reopen this one or file a new one?

[2017-05-04 07:50] karelz commented on #17564
This got closed without any explanation - why?

[2017-05-04 07:55] jkotas commented on #18420
[code]

If you change Span to ReadOnlySpan that does not have the covariance check, you should see it run ~9x faster.

[2017-05-04 08:27] Jiayili1 commented on #19031
failed again in ci, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/39/testReport/System.Net.Http.Functional.Tests/ResponseStreamTest/ReadAsStreamAsync_Cancel_TaskIsCanceled/

[2017-05-04 09:25] roji commented on #4571
As the owner of Npgsql (ADO.NET open source driver for PostgreSQL), I have to agree with @FransBouma's comments... while the EF team communicates with the community, has relatively clear roadmaps and is reasonably reactive etc., ADO.NET is in a pretty sorry state - very little idea of who works on it, what long terms plans are, and à general impression that it's sort of abandoned. I can point to s

[2017-05-04 09:52] dannyb2100 commented on #18976
@tarekgh, before or after I referenced the package https://www.nuget.org/packages/Microsoft.NETCore.Windows.ApiSets ?

[2017-05-04 10:14] olivier-spinelli commented on #18559
Thanks for taking this into consideration. My real fear is very simple: this poorly designed stuff will it remain for long or do you have plans to be able to supersede it with a new, better API?
My feeling is that this MAY be possible... but could be much more easier to do it now rather than after (where we'll have to get back to all the fundamentals objects like the poor ConcurrentStack to make t

[2017-05-04 11:03] stephentoub commented on #18666
cc: @jkotas

[2017-05-04 13:37] ViktorHofer commented on #19342
`Path.GetPathRoot(" ")` in Desktop throws `ArgumentException`, on .NET Core it returns `String.Empty`

The documentation is indeed wrong about the current behavior on Desktop:

If Path does not contain root directory information but a whitespaced string it throws ArgumentException.

[2017-05-04 13:39] ViktorHofer commented on #19342
I have a fix for both issues. If somebody agrees this isn't intentionally broken I will submit it for both coreclr and a few tests for corefx.

[2017-05-04 14:19] eschneider999 commented on #4571
I agree with all the other ORM guys, yet seems we all worked around the problem. I just made an interface wrapper and provided specific libs for each vender, I guess I could have used reflection but wanted something quick and easy. I would imagine we could provide a nuget package ourselves…

I guess I would rather concentrate on TransactionScope support, another ball Microsoft keeps dropping.

Fro

[2017-05-04 15:05] jkotas commented on #18666
@jcouv Isn't this implementation of ValueType effectively dead since it has been moved to CoreLib on all runtimes? Where do you expect to ship it again?

Other than that, the change is working around slow EqualityComparer.Default in shipping .NET Framework that has been much improved in .NET Core.

[2017-05-04 15:11] stephentoub opened #19354 "ExpandEnvironmentVariables fails in certain conditions on 32-bit"
Repro:
[code]
On 64-bit, succeeds.  On 32-bit, throws:
[code]

[2017-05-04 15:27] tarekgh commented on #18976
@dannyb2100 before you reference the APISet package. we need to see the problem happening.

[2017-05-04 15:28] divega commented on #4571
Everyone,

First of all, I want to be fair to the team that has been handling ADO.NET issues: they actually care about issues like this, and they started 2.0 with the intention to address them. We even had design discussions about this particular class. Further in 2.0 the direction of the project changed, DataSet was brought into the picture and they had to make new plans. In general they have bee

[2017-05-04 15:50] danmosemsft commented on #19342
We should match desktop behavior.

[2017-05-04 15:54] karelz commented on #19249
@tijoytom can you please set area label for new issues in future? See [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified) and [area list](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas)
Thanks!

[2017-05-04 15:58] danmosemsft commented on #18805
ping @brianrob @lmolkova we only have a few days :)

[2017-05-04 15:58] danmosemsft commented on #18806
@vancem can we assign an owner for this one?

[2017-05-04 15:59] danmosemsft commented on #18808
@vancem can we assign an owner for this one too?

[2017-05-04 16:00] danmosemsft commented on #19223
need to try the test manually on Nano

[2017-05-04 16:01] danmosemsft commented on #16433
@VSadov @OmarTawfik is this you guys?

[2017-05-04 16:02] danmosemsft commented on #18810
@sepidehMS can you take htis one maybe?

[2017-05-04 16:05] karelz commented on #19295
I don't fully understand the motivation. Can you please provide simplest example? Is Mvc the simplest one?
What about security & reliability implications? Imagine when you inject new invalid attributes on Framework types when they should not be there.

Implementation is IMO far from simple - there's tons of code checking for special attributes in Runtimes that does not call into GetAttributes due

[2017-05-04 16:06] joperezr commented on #19316
That is a good point although I'm not sure how easy will it be to implement this change with our packaging infrastructure, @ericstj would obviously know better. Just throwing out a thought, what if just for  2.0 we package all uap10.1 as uap10.0 in individual packages? I'm not sure if that would work but I can think that it in case it does, this would be an easier workaround than to skip packaging

[2017-05-04 16:06] OmarTawfik commented on #16433
@danmosemsft I see the assert in C# binder:
http://source.dot.net/#Microsoft.CSharp/Microsoft/CSharp/RuntimeBinder/Semantics/Types/TypeManager.cs,7a9b0e0a5e38d7f8

[2017-05-04 16:10] toddtsic opened #19357 "HttpClient, Apple Push api, HTTP/2, IIS 8.5"
In development (Visual Studio MVC/WebApi project with IIS Express), I have been successful calling Apples APNS api (api.push.apple.com), however,  I fail when I move code to production (Windows 2012 R2, IIS 8.5).

The production WebApi application works fine, it just crashes on httpclient SendAsync to api.push.apple.com using http/2 (generic "Error while copying content to a stream").

I can run a

[2017-05-04 16:11] jemiller0 commented on #4571
I just try to think about it as a complete re-write of .NET. That's not something that is going to happen overnight. It would be great if after other higher priority issues were addressed, that something could be done to modernize the ADO.NET Core API (I think that's what it was called, long before everything else was called Core). Also, it would be nice if the name ADO could be dropped. ActiveX D

[2017-05-04 16:16] davidsh commented on #19357
What version of Windows is your client machine (the one that httpclient is using)?  I assume it is Windows 10 because only Windows 10 supports HTTP/2 protocol for System.Net.Http using .NET Core.

If you use .NET Core and HttpClient on Windows 2012 R2, there is no HTTP/2 support.  HTTP/2 protocol support for .NET Core HttpClient comes from the native Windows OS WinHTTP component.  Older versions o

[2017-05-04 16:20] toddtsic commented on #19357
davidsh,

Thanks for your response.  Yes, development machine is Windows 10.

Are you saying there is no way to issue HTTP/2 call from net core on a Windows 2012 R2 machine (head in hands)?

Because the curl succeeds, I'm assuming this is an asp.net core issue, not Windows 2012 R2...

Do I have any options?

T

[2017-05-04 16:22] karelz commented on #19280
@joperezr feel free to move these bugs directly into Diagnostics.Tracing area.

@Jiayili1 is it something you can easily add to your list of area path exceptions please? If not, that's ok, I don't expect too many failures in the space, so we can change it ourselves. cc @danmosemsft

[2017-05-04 16:23] davidsh commented on #19357
Correct.  HTTP/2 protocol support for .NET Core (Windows) requires Windows 10 machine.  Or equivalently, a Windows Server 2016 machine.  If your production environment was Windows Server 2016 (instead of Windows Server 2012 R2), then HTTP/2 protocol support would work in .NET Core for HttpClient.

Curl uses a separate implementation of an HTTP stack which is probably why it works.

[2017-05-04 16:24] danmosemsft opened #19358 "Add nice messages to all auto generated PNSE"
For 2.0 we need to build on https://github.com/dotnet/buildtools/issues/1449 to add nice messages to all PNSE generated code. Talk to area owners to get nice strings.

[2017-05-04 16:26] toddtsic commented on #19357
Although totally bummed, I greatly appreciate your feedback, you got
straight to the issue for me.

T

On Thu, May 4, 2017 at 9:24 AM, David Shulman <notifications@github.com>
wrote:

--
Todd Greenwald
President, TeamSportsInfo.com
tgreenwald@teamsportsinfo.com
410-703-3450

[2017-05-04 16:32] bartonjs commented on #12833
This test was marked as manual in #19252.

[2017-05-04 16:32] #12833 closed

[2017-05-04 16:40] weshaggard commented on #16912
I think we can close this issue now I verified the bits in preview1 look reasonable. I will also be looking at these closer to release to double check but we don't need to keep this issue around to track that.

[2017-05-04 16:40] #16912 closed

[2017-05-04 16:40] vancem commented on #18806
@brianrob  is the owner, but he is also working on another priority right now.   The test is disabled correct?   If so it is OK to wait until Brian can take a look.

[2017-05-04 16:41] vancem commented on #18808
@brianrob owns EventSource.

[2017-05-04 16:59] danmosemsft commented on #16433
OK that is you then. Please triage :)

[2017-05-04 17:03] joperezr commented on #19319
After taking a deeper look, it's not GenFacades who is tripping it out, but the ILLinker, which runs after GenFacades on the assembly.

[2017-05-04 17:13] tarekgh commented on #19358
@sepidehMS are you currently working on this issue?

[2017-05-04 17:13] davidsh commented on #19357
straight to the issue for me.

Sorry to be the messenger of bad news for you.

I'll close this issue now since the investigation is now closed.

[2017-05-04 17:13] #19357 closed

[2017-05-04 17:15] sepidehMS commented on #19358
@tarekgh I haven't started talking to the area owners yet. Had plans to do this today. Why? :)

[2017-05-04 17:15] #17390 closed

[2017-05-04 17:16] danmosemsft commented on #17390
OK shouldn't happen any more bug @weshaggard let's both not forget to check on this periodically.

[2017-05-04 17:23] tarekgh commented on #19358
@sepidehMS I know @danmosemsft mentioned this v2.0 but I am not sure if this is has to be v2.0 as we can ship without it. If you are planning to work on it soon then that is fine.

[2017-05-04 17:40] jcouv commented on #18666
@jkotas I'll stop by to discuss.
I don't know if there is a fixed cadence for all packages from coreFX to be published to nuget, but there are some other fixes (type-forwarding to .NET 4.7) that require such publishing anyways.

Regarding the performance benefits of this fix, see the benchmarks above. If I'm reading it correctly, there are benefits on both legacy JIT and RyuJIT. Those mean desktop

[2017-05-04 17:43] lmolkova commented on #17564
I created this issue to understand how to downport Diagnostic instrumentation to necoreapp1.0+. However we are no longer interested in it and will not do any changes.

[2017-05-04 17:49] VSadov commented on #18666
The tests seem to be run on desktop FX, just with different JIT compilers - current and legacy.
Is it possible to run the same on CoreClr?

[2017-05-04 17:49] jkotas commented on #18666
Desktop has much less efficient `EqualityComparer.Default`. This change is working around that inefficiency for the most part. Nothing to do with the JIT.

[2017-05-04 17:49] steveharter commented on #9543
I can repro after running the HttpFunctional tests in a loop. Out of 32 runs, it repro'd twice.

What I did to repro:
1) Comment out the [ActiveIssue(9543)]
2) Change [InlineData] values from 6,3 to 666,333
3) Run all of the HttpFunctional tests in a loop on my local Windows 10 machine

[2017-05-04 17:50] safern commented on #18832
Tests are skipped now (#19348).

Should we close this? @JeremyKuhne @danmosemsft

[2017-05-04 17:51] safern commented on #18808
Test was disabled for desktop on (#19351)

[2017-05-04 17:51] safern commented on #18806
Yes the tests where disabled for desktop in (#19352)

[2017-05-04 17:52] ianhays commented on #19090
Looks like these are failing on net461 and passing on net462 from a non-quirked fix. I'll put up a PR disabling them on <net462.

[2017-05-04 17:56] #19354 closed

[2017-05-04 17:58] JeremyKuhne commented on #19342
I'm **not** keen on matching desktop in this case- especially as it doesn't match documentation. While it is _possible_ that code may depend on this behavior I suspect it is really really remote.

[2017-05-04 17:59] JeremyKuhne commented on #19342
I also think code is more likely to break expecting that this doesn't throw than vice-versa.

[2017-05-04 18:02] ViktorHofer commented on #19342
@JeremyKuhne The documention states ArgumentException throws when "String.Empty was passed to path.". I think Desktop matches the docs.

[2017-05-04 18:04] lt72 commented on #19319
@tijoytom: assigned to you since it seems you will have a fix for this.

[2017-05-04 18:09] Priya91 commented on #16201
Looks like there's no new reports of this failure on this issue, will check for data on jdash and update on next steps.

[2017-05-04 18:14] Pzixel commented on #19295
Here is simple example:

[code]

Maybe we want some syntax to decorate objects more nicely, for example:
[code]
and usage:
var typeInfo = typeof(Foo).GetTypeInfo();
typeInfo.AddDecoration<FooDecoration >();
// the rest is the same

It may look ugly but it's just to show the idea.  And I see your point that it's not this easy. I wasn't aware of `IMetadataImport`.

[2017-05-04 18:14] karelz commented on #9543
@CIPop needs some more traces - @steveharter can you please help? (@CIPop will try to repro locally first)

[2017-05-04 18:15] mikem8361 commented on #19319
I'm going to do the fix for this.

[2017-05-04 18:15] jcouv commented on #18666
Ah, thanks for the clarification @jkotas . That makes sense.

Based on that, we should only take this optimization in coreFX (which will benefit desktop scenarios before 4.7). I will follow-up to port this optimization into desktop implementation of ValueTuple.

If we can benchmark on coreCLR, then we could discuss a change to coreCLR implementation of ValueTuple. But it sounds like you don't expe

[2017-05-04 18:19] karelz commented on #16534
Triage: We do not think this is going to impact customers.
Likely some issues around OS networking stack and our interaction with it.

[2017-05-04 18:19] stephentoub commented on #16201
The referenced issues above are places I linked to this issue as part of restarting a leg due to this failure.

[2017-05-04 18:28] karelz commented on #13298
We tried to repro in a loop on CI machine, but failed.
We should try to instrument product to FailFast if it happens (post 2.0).

[2017-05-04 18:35] karelz commented on #13298
Idea: We should capture exception stack trace at the point the error happens -- it is generally useful thing to improve our ability to diagnose this class of issues.
@stephentoub can you please advise?

Triage: P2 in 2.0 for now.

[2017-05-04 18:37] karelz commented on #17537
Unlikely product issue -> Future.

[2017-05-04 18:42] karelz commented on #19306
@Priya91 can you please take a look & cost it?

[2017-05-04 18:43] karelz commented on #19307
@Priya91 can you please cost it?

[2017-05-04 18:46] steveharter commented on #9543
Sure. Currently running just the single test to see if it repros alone.

[2017-05-04 18:49] #18810 closed

[2017-05-04 18:51] JeremyKuhne commented on #19342
Sorry, I misread, consider my objection withdrawn. Even though I dislike this behavior. :)

[2017-05-04 18:53] krwq commented on #19198
@tintoy - so do I understand correctly that this document has been accidentally not signed at all? (if nothing is being hashed then it's technically not signed) If yes - is this a result of improper API usage by a customer or bug in .NET? (or perhaps not intuitively designed API promoting the bad usage)

I'm quite confused by

vs

unless you meant that one is the result of another - I believe we d

[2017-05-04 18:54] #19204 closed

[2017-05-04 18:55] karelz commented on #18900
Triage: @davidsh can you please try to asnwer @ViktorHofer? Thanks!

[2017-05-04 18:58] karelz commented on #14674
Triage: Does not look critical + it is involved => moved to Future.

[2017-05-04 19:00] krwq commented on #19358
@tarekgh - I think this is more a validation that we actually know about each PNSE and checking it again - concrete message suggests that someone knows why this is happening. Probably best if @danmosemsft comments

[2017-05-04 19:03] karelz commented on #19285
@Jiayili1 please let us know if it happens again. This looks like infra issue ...

[2017-05-04 19:05] tarekgh commented on #19358
@krwq the stack trace in the exception can give this clue. I am seeing this something nice to have but is not  shipping stopper. as I mentioned I am ok to keep it on 2.0 as long as @sepidehMS already working on it.

[2017-05-04 19:08] karelz commented on #19225
Why is the test disabled for Desktop?
@stephentoub @danmosemsft

[2017-05-04 19:12] karelz commented on #19183
We could. Is it worth it? The workaround above is reasonable.
Auto-redirecting is also kind of security risk, so not having it exposed as first-class citizen feels like the right thing to do ...

[2017-05-04 19:14] bholmes commented on #15289
Yes there is some progress.  There is a [pull request][2] in Mono that has the changes to Mono.Posix that are needed.  Next I have a [Mono.Posix][1] folder in a fork that will handle build and test scripts for .Net Core 2.0.  Finally here is the [Jenkins][3] location where the package is built.  You can grab a nupkg there if you want to test.

[1]: https://github.com/bholmes/XamarinComponents/tree

[2017-05-04 19:15] karelz commented on #19231
Moving to 2.0. @stephentoub please let me know if you disagree / if there is evidence it is not critical.

[2017-05-04 19:29] tintoy commented on #19198
@krwq I could be missing something obvious, but here's what I see when I look at the workaround code above:

1. XML to validate consists of some elements which contain, among other things, the `<Signature />` element.
The `<Signature />` element contains a signature relating to the elements that contain it (I think that's how it works, but I could be wrong).
2. We load the signature element direct

[2017-05-04 19:32] tintoy commented on #19198
(I guess I'm just worried that I've missed something obvious, because the workaround above doesn't look to me like it does what I'm hearing people say it does; to me, it looks like it verifies the signature against the signature value, but doesn't compare the signature value to the elements that were signed)

[2017-05-04 19:48] pjanotti commented on #19194
@karelz I think that it should be general for any stream: the reason being that there may be already some streams out there that leverage Flush being called even if they are read-only. So we want to avoid people creating more read-only streams that throw NotImplementedException on Flush. I had submitted such request via the feedback to msdn docs but I don't know about the traction there. Changing

[2017-05-04 19:54] dkent600 commented on #16206
adding a reference to NETStandard.Library doesn't work for me.  The problem may be slightly different.  The exception looks like this:

[code]

and double-clicking on the exception message takes one to these lines in `Microsoft.TypeScript.targets`:

[code]

where it says that "MSBuildThisFileFullPath is not defined".

[2017-05-04 20:42] bartonjs commented on #19081
@safern You said a week ago that we should expect a PR "tomorrow".  Any updates?

[2017-05-04 20:43] safern commented on #19081
@bartonjs sorry, dragged by other issues and I needed to wait for some infra work to happen. Will focus on that now :)

[2017-05-04 20:47] #18892 closed

[2017-05-04 20:50] karelz commented on #19194
@pjanotti can you please file it as new issue on CoreFX? I want area owners (@ianhays @JeremyKuhne) first to approve it, then we can move it to docs repo. Thanks!

[2017-05-04 20:54] karelz commented on #17564
Thanks, that's a good context!

[2017-05-04 20:59] #16836 closed

[2017-05-04 21:04] steveharter commented on #9543
In a limited run of 70, this did not repro running the test individually, so assuming likely interference from other tests however the data is not conclusive.

@CIPop I can apply your proposed fix for #16516 and see if it repros.

[2017-05-04 21:17] mikem8361 commented on #19319
Fixed PR #19364

[2017-05-04 21:17] krwq commented on #19198
@tintoy please correct me if I understood you incorrectly:

Repro document:
- signed in such a way that the only thing which is signed is the signature resulting in nothing being signed
- the only way to validate is to the same incorrect thing.

Assuming I understood you correctly:
- we are doing the right thing to not validate the doc
- whichever product did sign it in such way is doing it incorr

[2017-05-04 21:17] #4002 closed

[2017-05-04 21:19] #19319 closed

[2017-05-04 21:28] tintoy commented on #19198
From what I can see, the problem _does_ look like the namespace is not propagated correctly. Whether that's worth fixing for 2.0 I have no idea.

I guess I just don't understand what the workaround listed at the end of the repro is trying to accomplish, unless it's to prove that the signature is valid but cannot be correctly correlated with the containing document's canonicalised nodes (by showing

[2017-05-04 21:28] pjanotti opened #19366 "Stream.Flush docs should be explicit about not throwing NotImplementedException even if CanWrite == false"
This is related to [issue #19194](https://github.com/dotnet/corefx/issues/19194) in which a read-only stream was throwing NotImplementedException on Flush. Per discussion on the thread of associated issue streams should not do that, however, documents are not explicit about it.

[2017-05-04 21:29] tintoy commented on #19198
They claim other XMLDSIG implementations can successfully validate that XML document, and the only online one I've found claims that the certificate is not valid (which may indicate that the signature is valid but the signing key fails X.509 certificate validation).

[2017-05-04 21:47] jamesgibbs100 commented on #15287
@saurabh500 et al,

Thanks for the quick response - I seem to remember that trait from the MultiSubnetFailover issue we worked through earlier in the year....

Just want to update you (all).

I took the package above and dropped it into my test rig - worked straight away and the connections closed as expected.

I proceeded "at my own risk" to drop this into our UAT environment and did NOT see anyt

[2017-05-04 21:53] tintoy commented on #19198
[This](https://www.signatur.rtr.at/en/elsi/Pruefung.html) online validator claims that the document _is_ valid, BTW. So yes it does seem like there might be a bug here.

[2017-05-04 21:54] tintoy commented on #19198
@anthonylangsworth - do you have an opinion here about what constitutes correct behaviour?

[2017-05-04 22:14] krwq commented on #19198
@tintoy thank you a lot for investigating this! I've tried the document with the validator you provided and modified a doc a little bit (outside of the signature) and can confirm that the online validator claims that unmodified doc is ok and modified is not ok. Given that - looks like a product bug and likely related to propagating namespaces.

@karelz @bartonjs - despite this being a product bug

[2017-05-04 22:17] krwq commented on #19358
@tarekgh fair point - I agree this is not a ship blocker but rather "should be done" category - @danmosemsft, what's the current bar for 2.0?

[2017-05-04 22:23] schen381 commented on #11708
Now the question can be answered.

## In .NET Core:
I have researched into this specific scenario: Interop.SspiCli.InitializeSecurityContextW called by AuthenticateAsClientAsync(), and the function fails and returns an error. This is how our code (NegotiateStream) handles it internally:
1.	Release the credential passed in
2.	Set the out context handle to invalid value
3.	Look up error code in the

[2017-05-04 22:26] #18870 closed

[2017-05-04 22:33] tarekgh commented on #19358
here is the bar:

https://microsoft.sharepoint.com/teams/netfx/corefx/_layouts/OneNote.aspx?id=%2Fteams%2Fnetfx%2Fcorefx%2FDocuments%2FCoreFx%20Notes&wd=target%28Engineering%2FNET%20Core%20Planning.one%7C2020910E-13D4-4EDF-B477-853BE556D6A9%2F2.0%20Github%20triage%20bar%7C67AD81EF-00F0-4051-9534-6F2A2FE60750%2F%29

[2017-05-04 23:18] karelz commented on #19198
@krwq agreed, thanks for summary and thanks @tintoy for your great analysis!

[2017-05-04 23:50] eschneider999 commented on #4571
Maybe Microsoft can stop working on the Visual Studio start screen and work on this?

Honestly Microsoft priorities are crap, I never use a dataset, anybody who knows what they are doing uses an ORM and probably not Microsoft’s.

They can’t even fix simple things everyone wants:

https://connect.microsoft.com/SQLServer/Feedback/Details/339410

I mean that’s 9 years old…

From: Diego Vega [mailto:n

[2017-05-04 23:51] CIPop opened #19374 "RemoteExecutorConsoleApp doesn't initialize exitCode before using it"
`exitCode` is not initialized before use:
https://github.com/dotnet/corefx/blob/c0bfbda2e1e8a1f4e39bd5e0b0642edff044f7b2/src/Common/tests/System/Diagnostics/RemoteExecutorConsoleApp/RemoteExecutorConsoleApp.cs#L42

[2017-05-05 00:01] csalgo70 opened #19375 "Issue with WindowsIdentity.RunImpersonated"
I am having issue using RunImpersonated with dotnet core 1.1. I have a web API that is trying to run a stored proc on SQL server using a service account, and hence the need for impersonation.

At the point where I create the db context I get an exception that its not able to load the Microsoft.EntityFrameworkCore.Relational due to access denied error.

Note that the login succeeds with service acc

[2017-05-05 00:10] krwq commented on #19272
need to investigate this one a little deeper.

repro (DecryptData_CipherReference_InvalidUri)
[code]

Desktop stack:
[code]

Corefx stack:
[code]

[2017-05-05 00:11] jemiller0 commented on #4571
Yeah, there are definitely usability issues like that that seem small, but, could make working with it much easier. I've noticed a lot of things with the SQL Server provider, such as having to specify different parameters such as lengths that other providers don't require and seemed nonsensical. Things like having to specify a length for a DateTime parameter and other oddities. Or having to specif

[2017-05-05 00:15] #17627 closed

[2017-05-05 00:22] alexperovich opened #19379 "Multiple tests in S.Net.Security cause xunit to crash on AOT"
The following tests cause xunit to crash:

- CertificateValidationClientServer_EndToEnd_Ok
- CertificateValidationRemoteServer_EndToEnd_Ok
- ClientAsyncAuthenticate_ServerRequireEncryption_ConnectWithEncryption
- ClientAsyncAuthenticate_ServerNoEncryption_NoConnect
- ClientDefaultEncryption_ServerRequireEncryption_ConnectWithEncryption
- ClientDefaultEncryption_ServerNoEncryption_NoConnect
- Event

[2017-05-05 00:30] davidsh commented on #19379
FYI System.Net.Security isn't even available yet for UWP (AOT).  We recently did add the API surface for netstandard but we haven't done any work on this library yet since we have been working to get the implementation (which uses win32 APIs) to be workable in UWP.

[2017-05-05 01:04] karelz commented on #19375
@ianhays any insight here?

[2017-05-05 01:06] karelz commented on #19366
@JeremyKuhne @ianhays does it sound reasonable to you?

If yes, we would need wording suggestion and list of changed docs, then move it to docs repo.

[2017-05-05 01:18] Jiayili1 commented on #19285
@karelz I will reopen it is it happens again.

[2017-05-05 01:54] Jiayili1 opened #19382 "Desktop: System.IO.Tests.PathTests.GetFullPath_Windows_URIFormatNotSupported failed with "System.ArgumentException""
Failed test: System.IO.Tests.PathTests.GetFullPath_Windows_URIFormatNotSupported

Detail: System.IO.Tests.PathTests.GetFullPath_Windows_URIFormatNotSupported

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-05 02:00] Jiayili1 commented on #18823
Following tests still failed with the same issue:
[System.IO.Tests.PathTests.GetFullPath_Windows_NotSupportedExceptionPaths](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/42/testReport/System.IO.Tests/PathTests/GetFullPath_Windows_NotSupportedExceptionPaths_path____bad__$DATA___/)
[System.IO.Tests.PathTests.GetPathRoot](https://ci.dot.net/job/dotnet_corefx/jo

[2017-05-05 02:03] Jiayili1 commented on #19339
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/42/testReport/System.ConfigurationTests/TypeUtilTests/GetTypeConfigHost/

[2017-05-05 02:18] stephentoub commented on #19374
@cipop, can you clarify? Where is it used without being initialized?

[2017-05-05 02:24] danmosemsft commented on #19358
Part of the 2.0 bar is "important for supporting 2.0 scenarios" or words to that effect. One of the top scenarios is making it easy to port to core. This is a simple change that helps port to core. If I get "Code access security is not supported on this platform" it tells me more than what I find out by just having one CAS related API fail.

I wouldn't take it to shiproom probably but there's plen

[2017-05-05 02:32] Jiayili1 opened #19383 "Desktop: System.ConfigurationTests.SectionGroupsTests.SimpleSectionGroup failed with "System.Configuration.ConfigurationErrorsException""
Failed test: System.ConfigurationTests.SectionGroupsTests.SimpleSectionGroup

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/42/testReport/System.ConfigurationTests/SectionGroupsTests/SimpleSectionGroup/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-05 02:35] Jiayili1 opened #19384 "Desktop: Tests under "MonoTests.System.Configuration.ConfigurationManagerTest" failed with "System.NullReferenceException""
Failed test:
[MonoTests.System.Configuration.ConfigurationManagerTest.OpenExeConfiguration1_UserLevel_None](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/42/testReport/MonoTests.System.Configuration/ConfigurationManagerTest/OpenExeConfiguration1_UserLevel_None/)
[MonoTests.System.Configuration.ConfigurationManagerTest.mapped_ExeConfiguration_null](https://ci.

[2017-05-05 03:06] dotnet-mc-bot opened #19386 "Test: System.Net.Security.Tests.ClientDefaultEncryptionTest/ClientDefaultEncryption_ServerRequireEncryption_ConnectWithEncryption failed with "System.IO.IOException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.ClientDefaultEncryptionTest/ClientDefaultEncryption_ServerRequireEncryption_ConnectWithEncryption` has failed.

System.IO.IOException : Authentication failed because the remote party has closed the transport stream.

        Stack Trace:

           at System.Net.Security.SslState.StartReadFrame(Byte[] buffer, Int32 readBytes, Asyn

[2017-05-05 03:07] Jiayili1 commented on #19386
Failed test:  System.Net.Security.Tests.TransportContextTest/TransportContext_ConnectToServerWithSsl_GetExpectedChannelBindings

[2017-05-05 03:09] Jiayili1 opened #19387 "ConnectAsync_IPv6_Success timed out on macOS"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170505.01/workItem/System.Net.Sockets.Tests/wilogs

System.Net.Sockets.Tests.ConnectAsync.ConnectAsync_IPv6_Success(type: Async) [FAIL]

[code]

[2017-05-05 03:19] stephentoub commented on #13298
And where is that?

[2017-05-05 03:47] davidsh commented on #13298
@stephentoub I'll be following up later to ask you some questions.

Basically, we are trying to figure out how to better diagnose/instrument these hard to repro errors that surface from WinHTTP.  And the question I keep asking is "I wonder where exactly in the code (and which WinHTTP API call) surfaced that error". The problem we have now is that we don't see that information in the stack trace re

[2017-05-05 04:14] #11708 closed

[2017-05-05 05:42] danmosemsft commented on #18832
@safern No, we never close issues that have tests disabled against them. They remain open to track fixing the problem and reenabling the test.
This is definitely "future" now though.

[2017-05-05 05:44] danmosemsft commented on #19384
Same cause as #18711.

@Jiayili1 please disable this test agains this issue.

[2017-05-05 05:45] safern commented on #18832
I thought that because of the comment above, I didn't know if this was an intended difference in behavior, thanks for clarifying :)

[2017-05-05 05:50] danmosemsft commented on #19374
It is never used without being assigned first - otherwise the compiler would error.
It is assigned here https://github.com/dotnet/corefx/blob/c0bfbda2e1e8a1f4e39bd5e0b0642edff044f7b2/src/Common/tests/System/Diagnostics/RemoteExecutorConsoleApp/RemoteExecutorConsoleApp.cs#L56 unless there is an exceptoin above but in that case it is rethrown here https://github.com/dotnet/corefx/blob/c0bfbda2e1e8a1

[2017-05-05 05:51] danmosemsft commented on #19374
Oh I see @stephentoub already said that.

[2017-05-05 05:59] dotnet-mc-bot opened #19388 "Test: System.Net.Tests.TaskWebClientTest/UploadString_Success failed with "System.Net.WebException'"
Opened on behalf of @Jiayili1

The test `System.Net.Tests.TaskWebClientTest/UploadString_Success(echoServer: https://corefx-net.cloudapp.net/Echo.ashx)` has failed.

System.Net.WebException : An error occurred while sending the request. Problem with the SSL CA cert (path? access rights?)
    ---- System.Net.Http.HttpRequestException : An error occurred while sending the request.
    -------- Syste

[2017-05-05 06:03] #6550 closed

[2017-05-05 06:06] droyad commented on #2575
This workaround does the trick (WOMM)
[code]

[2017-05-05 06:23] dotnet-mc-bot opened #19389 "Test: System.Threading.Tests.AutoResetEventTests/WaitHandleWaitAll failed with "System.NotSupportedException""
Opened on behalf of @Jiayili1

The test `System.Threading.Tests.AutoResetEventTests/WaitHandleWaitAll` has failed.

System.NotSupportedException : WaitAll for multiple handles on a STA thread is not supported.

        Stack Trace:

           at System.Threading.WaitHandle.WaitMultiple(WaitHandle[] waitHandles, Int32 millisecondsTimeout, Boolean exitContext, Boolean WaitAll)
       at System.Thre

[2017-05-05 08:06] Jiayili1 commented on #18596
This test is disable by https://github.com/dotnet/corefx/issues/19340

[2017-05-05 12:39] idoop opened #19403 "Not support Chinese for enum context"
when I do `dotnet build` or `dotnet pack` ,an error occurred:
[code]
**code: enum value:**
[code]

But use VS2013/15/17 build it on windows: Success.
And i saw [#7804](https://github.com/dotnet/corefx/issues/7804), so i set this proj charSet UTF-8,and no BOM.Then build ,same error info.
## Expected behavior
Build Success.
## Actual behavior
error.....
## Environment data
`dotnet --version`
1.0.3

[2017-05-05 13:18] stephentoub commented on #18559
Whether we like it or not, it will: it's supported by the .NET Framework and has been for years and will be for years; it's supported by Mono and has been for years and will be for years; etc.  .NET Core needs to play nicely in this ecosystem.

That said, we are planning to scale back how much of this we support in 2.0 (https://github.com/dotnet/corefx/issues/19119), so that a) where we do support

[2017-05-05 13:30] stephentoub commented on #16201
Another:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/lastCompletedBuild/consoleText

[2017-05-05 13:40] #17345 closed

[2017-05-05 14:49] #14536 closed

[2017-05-05 15:13] stephentoub commented on #19388
Dup of https://github.com/dotnet/corefx/issues/16201

[2017-05-05 15:14] karelz commented on #18559
Please read the reference I mentioned above in #17619 - 5/10 is our zero-bugs-goal, then we will be raising bar higher and higher, until we ship RTW. We already locked down API surface weeks ago, taking only few minor low-risk exceptions.
Adding brand new serialization is far away from low-risk feature. It has to be thought through carefully. There hasn't been any proposal so far. If there is some

[2017-05-05 15:16] steveharter commented on #19335
FYI I hit this on local Win10 VM running tests repeatedly. Different exceptions\stacks than above.
[code]

[2017-05-05 15:27] steveharter commented on #19387
Only occurred on mac so far.

Loopback test (no Azure).

The timeout value is 5 seconds
[code]

[2017-05-05 15:31] steveharter commented on #19386
Marking as dupe of https://github.com/dotnet/corefx/issues/16534

[2017-05-05 15:31] #19386 closed

[2017-05-05 15:41] karelz commented on #19335
@davidsh does that sound like sign of a product bug to you?

[2017-05-05 15:43] karelz commented on #19403
That looks like Roslyn I18N bug -- @jaredpar can you please confirm?

[2017-05-05 16:25] #19403 closed

[2017-05-05 16:25] tarekgh commented on #19403
Issue moved to [dotnet/roslyn #19298](https://github.com/dotnet/roslyn/issues/19298) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-05 16:45] ViktorHofer commented on #19342
yes 👍

[2017-05-05 16:45] #19342 closed

[2017-05-05 16:59] JeremyKuhne commented on #19366
Makes sense to me.

[2017-05-05 17:17] danmosemsft commented on #13800
Maybe @hughbe would like the honor of creating a method on String...

[2017-05-05 17:18] ianhays commented on #19366
Yeah, I don't like `NotImplemenedException` in this scenario. `NotSupportedException` would be fine and that should be up to the designer, but `NotImplementedException` is pretty unhelpful.

[2017-05-05 17:28] stephentoub commented on #19231
@JonCubed, thanks for emailing me the endpoint.  I just tried it, and with netcoreapp1.1, I'm able to repro the behavior you see at first, but then when I set:
[code]
it runs successfully, I see that in a trace that it's successfully suppressing the `Expect: 100-continue` header, and I get a successful 200/OK response from the endpoint you supplied.

I see in your project.json that you're requesti

[2017-05-05 17:30] stephentoub commented on #19225
I assume because it was failing on desktop and folks are trying to quickly get to a point where we can get a clean desktop run and then work on re-enabling tests?

[2017-05-05 17:36] tarekgh commented on #12190
@richlander is this done yet? we are trying to hit ZBB in a few days :-)

[2017-05-05 17:37] ianhays commented on #19375
Being unable to load the aspnet db dll is interesting... @csalgo70 I assume you've checked that your service account has the right accesscontrol to all of the ASPNet binaries?

[2017-05-05 17:47] sharwell opened #19408 "Add ImmutableInterlocked.Update for ImmutableArray"
The current [`ImmutableInterlocked.Update`](https://msdn.microsoft.com/en-us/library/system.collections.immutable.immutableinterlocked.update.aspx) overloads work for each of the immutable collection types except `ImmutableArray<T>`. It would be valuable, e.g. in dotnet/roslyn#19267, to have an overload which covers this case.

I propose the addition of the following specific methods to `Immutable

[2017-05-05 17:51] danmosemsft commented on #19225
@safern is working to have all remaining desktop failures fixed or disabled before next week so that we can switch on CI protection for it before 2.0 leaves master. It's orthogonal to whether we fix specific failures for 2.0

[2017-05-05 17:54] pjanotti commented on #19366
@ianhays I don't want to drag on a small issue like this but I can't resist :-D my feeling is that Flush only should throw in case of an actual error while doing some state "flushing", otherwise it should simply be an empty method. FlushAsync is already like that. It avoids the case reported by user on first issue.

[2017-05-05 17:54] #19389 closed

[2017-05-05 17:56] danmosemsft commented on #19383
This doesn't seem relevant to 2.0. Test can be disabled.

[2017-05-05 17:56] krwq opened #19409 "System.Security.Cryptography.Xml.Transform.PropagatedNamespaces throws NRE"
Fixed by https://github.com/dotnet/corefx/pull/17020

[2017-05-05 17:56] #19409 closed

[2017-05-05 18:01] krwq opened #19410 "System.Security.Cryptography.Xml.XmlLicenseTransform improperly checks type of document"
Fixed by https://github.com/dotnet/corefx/commit/cf14ded81f0a1b9f9d6a8f30002fac5fda524bd6

[2017-05-05 18:01] #19410 closed

[2017-05-05 18:01] CIPop commented on #8673
We have discussed this with the WinHTTP team and they are considering supporting `100-Continue` in a future version of Windows.

We are still discussing the problem with the Azure Cloud Service/Service Management team.

[2017-05-05 18:09] danmosemsft commented on #19383
@Jiayili1 please disable this test if @safern doesn't get to it first.

[2017-05-05 18:12] #19337 closed

[2017-05-05 18:23] ianhays commented on #19366
By all means, drag it on :) The more discussion, the better (usually).

In all the streams I've written, I've followed the pattern that Flush should be a no-op on ReadOnly streams, with the exception that sometimes it also does some state validation e.g. checking that the stream is open. I believe that to be a best practice that maximizes the interchangeability of the Stream.

However, I'm hesitan

[2017-05-05 18:35] pjanotti commented on #19366
Agreed: using some wording that makes clear that some types taking a `Stream` may call `Flush` even if the Stream is ReadOnly will make clear the consequences of blanketing throwing exceptions in `Flush`: your ReadOnly stream will not work with them.

[2017-05-05 18:40] ianhays commented on #19366
Exactly what I had in mind. We are in agreement then. All that's left now is:

[2017-05-05 18:57] danmosemsft commented on #18312
@morganbr we need to establish whether your changes will "fix" this.

I've moved this to 2.0 while we figure out whether this change is acceptable and whether it will get fixed with our serialization remediation you're doing.

[2017-05-05 18:57] davidsh commented on #19335
------------ System.IO.IOException : The read operation failed, see inner exception.
      ---------------- System.Net.Http.WinHttpException : The connection with the server was terminated abnormally

These exceptions mean that the HTTP response was received from the server (at least the headers arrived), but downloading the rest of the HTTP response body failed because the connection to the serve

[2017-05-05 18:57] danmosemsft commented on #18312
/cc @stephentoub @zhenlan

[2017-05-05 18:58] danmosemsft commented on #18312
(area-serialization may not be the best one)

[2017-05-05 18:58] sepidehMS commented on #16748
Can we possibly get the fail history for this? I can't repro this locally on Core or Desktop. If not, we should probably re-enable it. Either we get a failure to look at or it's fixed already.

[2017-05-05 18:59] safern commented on #17917
Fixed with 3 PRs: #19247, https://github.com/dotnet/corert/pull/3515, https://github.com/dotnet/coreclr/pull/11388

Thanks @Pothulapati for your contribution.

[2017-05-05 18:59] #17917 closed

[2017-05-05 19:00] karelz commented on #19231
Does not seem to be 2.0-blocking issue based on the info above.

[2017-05-05 19:03] karelz commented on #19225
I see, I wasn't aware of the fact that we plan to do regular runs (maybe I just forgot). I like the plan though :)

[2017-05-05 19:09] karelz commented on #19335
@steveharter how often did you hit it? Just once?

[2017-05-05 19:09] karelz commented on #17917
Thank you @Pothulapati!

[2017-05-05 19:11] danmosemsft commented on #9975
@smile21prc can you update this issue with what remains here. are you still shooting to have nano work in Jenkins for 2.0?

[2017-05-05 19:14] danmosemsft commented on #15065
We don't believe this is concerning compat issue for 2.0

[2017-05-05 19:14] danmosemsft commented on #15066
We don't believe this is concerning compat issue for 2.0

[2017-05-05 19:16] danmosemsft commented on #19225
We do runs daily and have for a while. We want to protect a clean state with CI so we never again have to spend a month getting failure rate down.

[2017-05-05 19:19] danmosemsft commented on #19179
@Jiayili1 I had the wrong link in my top post. I fixed the links. Please disable the 2 tests linked, against this issue.

[2017-05-05 19:26] danmosemsft commented on #19179
The code snippet above reproes in a little console exe. I began to debug desktop and core in parallel to see what they do. This is the rough callstack in desktop, it's a little different in core. I had some symbols issues so didn't finish. The question is why Core returns version parts that are undefined, as 65535 rather than not showing them.
[code]

[2017-05-05 19:27] danmosemsft commented on #19179
@stephentoub from a breaking change point of view, if desktop `AssemblyName.FullName` gives
`MyAssemblyName, Version=255.1.2`
is it acceptable if we fix core to produce
`MyAssemblyName, Version=255.1.2, Culture=neutral, PublicKeyToken=null`
... do you have any idea what people use .FullName for and whether they would be broken by that? I don't know why we behave differently
It does seem the 65535

[2017-05-05 19:32] geleems commented on #19028
I cannot reproduce the test failure. I tested on Windows 10 with local SQL Server, and the test never failed.

[2017-05-05 19:40] csalgo70 commented on #19375
The service account is now an administrator on this machine ( added it to test suspecting it might have some permission issue). So it should have full access.

[2017-05-05 19:51] MattKunze commented on #9675
I'm running into this issue with a Windows 10 Mobile Enterprise device, I can't find an API that will return any information about the current network adapters.

I added code to PInvoke `GetAdaptersAddresses`, but it returns a bunch of loopback adapters and a DHCP auto-assigned address, but not the actual WiFi or Ethernet address used by the device.

Would be nice to have something that works at l

[2017-05-05 19:53] steveharter commented on #19335
Yes, just 1 test run out of 500.

FWIW there were 10 total test run failures in this 500 with 3 unique errors including this issue.

[2017-05-05 19:54] ericstj opened #19413 "Disable CLI's first time experience from within our repo"
We don't want to run the CLI's first time experience in our builds.

See discussion: https://github.com/dotnet/corefx/pull/19407#issuecomment-299530720

/cc @weshaggard @eerhardt @livarcocc

[2017-05-05 19:56] ericstj commented on #19316
We should be able to centrally exclude them relatively easily.

[2017-05-05 20:01] eerhardt commented on #19413
/cc @chcosta - who is thinking how to disable this globally in core-setup.

[2017-05-05 20:06] #19090 closed

[2017-05-05 20:18] stephentoub commented on #19231
@JonCubed, could you try outputting the results of:
[code]
(or something other than Console.WriteLine, anything to see the results)
from inside of AWS Lambda?  I'm curious to see if maybe you're getting reverted to .NET Core 1.0 instead of 1.1, and the output you get should be telling.

The output will be something like:
[code]
and those commit hashes in particular will tell us exactly what code i

[2017-05-05 20:18] steveharter commented on #9543
Currently running the tests with the fix for #16516 to see if the test results change. Will report back when I have the information.

[2017-05-05 20:20] ianhays commented on #19375
Have you tried doing other similar operations instead of the `TarDbContext` instantiation? Maybe try modifying a file in the directory that the dll lives in, that kind of thing. Test if the issue is with the permissions not being correctly applied to the Impersonation or if the issue is with the specific APSNet dll.

[2017-05-05 20:23] weshaggard commented on #17960
@jcouv is this on track to finish by ZBB?

[2017-05-05 20:27] stephentoub commented on #19179
Generally I've seen folks use it for a) assembly loading (e.g. a string you pass to Assembly.Load, and b) logging.

@gkhanna79, any insights?

[2017-05-05 20:46] #18661 closed

[2017-05-05 20:51] karelz commented on #19335
OK, so it might have been Azure hiccup. Can you easily kick it off over the weekend?
The hiccup should not happen too often AFAIK, so if we don't hit it over longer time period, I am fine moving it to Future ...

[2017-05-05 20:53] karelz commented on #9675
The tool should work also for UWP: Please document the API difference here: https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-05-05 20:58] danmosemsft commented on #19179
And I guess passing the long string to Assembly.Load would work just as well. Except maybe the 65535 part of ocurse.

[2017-05-05 20:59] karelz commented on #18114
@vancem ping?

[2017-05-05 21:04] gkhanna79 commented on #19179
Thise are the uses i am aware of.

If core is returning values not asked for (or returning that are undefined), am fine fixing that issue.

Cc @jkotas

Thanks,
Gaurav
________________________________
From: Stephen Toub <notifications@github.com>
Sent: May 5, 2017 1:28 PM
To: dotnet/corefx
Cc: Gaurav Khanna (CLR); Mention
Subject: Re: [dotnet/corefx] Difference in behavior of AssemblyName.FullName

[2017-05-05 21:04] karelz commented on #19275
Fixed in #19376

[2017-05-05 21:04] #19275 closed

[2017-05-05 21:04] karelz commented on #19263
Fixed in #19376

[2017-05-05 21:04] #19263 closed

[2017-05-05 21:04] karelz commented on #19264
Fixed in #19376

[2017-05-05 21:04] #19264 closed

[2017-05-05 21:04] karelz commented on #19267
Fixed in #19376

[2017-05-05 21:04] #19267 closed

[2017-05-05 21:04] karelz commented on #19268
Fixed in #19376

[2017-05-05 21:04] #19268 closed

[2017-05-05 21:05] karelz commented on #19270
Fixed in #19376

[2017-05-05 21:05] karelz commented on #19271
Fixed in #19376

[2017-05-05 21:05] #19271 closed

[2017-05-05 21:05] karelz commented on #19273
Fixed in #19376

[2017-05-05 21:05] #19273 closed

[2017-05-05 21:05] karelz commented on #19274
Fixed in #19376

[2017-05-05 21:05] #19274 closed

[2017-05-05 21:07] karelz commented on #18690
@AlexGhiondea we edited the text of top post, after the bug was marked as netfx-port-consider. Is the updated text going to show up in the mirror? (or point me to db and I can check ;-))

[2017-05-05 21:08] karelz commented on #19238
@safern do you plan to tackle this one?

[2017-05-05 21:10] safern commented on #19238
If this is something that got fixed on 462 I can tackle it by adding conditional fact to helper property I added. cc: @bartonjs

[2017-05-05 21:12] huanwu commented on #16701
The issue was fixed with #19244

[2017-05-05 21:12] #16701 closed

[2017-05-05 21:18] krwq commented on #19269
I do not recall seeing this failure locally - the only one I was seeing was this: https://github.com/dotnet/corefx/issues/19272

[2017-05-05 21:28] CIPop opened #19414 "FirstOrDefault_AggregateException fails"
Test failure (two instances) running on my secondary dev box (intermittent):

[code]

[2017-05-05 21:30] karelz commented on #14283
@AlexGhiondea the mirror in TFS has this bug opened ([299653](https://devdiv.visualstudio.com/DevDiv/_workitems?id=299653&triage=true&fullScreen=true&_a=edit)). Do you know why? There's no netfx-port-consider in this bug ... tooling hiccup?

[2017-05-05 21:34] weshaggard commented on #16175
@hqueue @jyoungyun is this still tracking for ZBB 5/10?

[2017-05-05 21:34] weshaggard commented on #16174
@hqueue @jyoungyun is this still tracking for ZBB 5/10?

[2017-05-05 21:36] steveharter commented on #19335
Sure, will report back on Monday with results.

Note this is a localhost\loopback test, not Azure: https://github.com/dotnet/corefx/blob/e9318bc16cffe22dbc5b384222ffc0445aff0240/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L1731

[2017-05-05 21:36] weshaggard commented on #18580
I'm still working on this in my spare time but it isn't necessary for 2.0 so moving to Future. I want to get CI in a clean place where failures actually correctly fail in all legs.

[2017-05-05 21:37] davidsh commented on #19335
Only 1/2 true.  The proxy is a loopback proxy server.  The destination server is Azure.

[2017-05-05 21:49] MichalStrehovsky commented on #19295
[code]

How would this be exposed to [GetCustomAttributesData](https://msdn.microsoft.com/en-us/library/system.reflection.memberinfo.getcustomattributesdata(v=vs.110).aspx)?

E.g. it's legal to have

[code]

`GetCustomAttributesData` is the only API that lets you access the value of the `isFrobber` passed to the constructor, because it gets lost when the attribute is allocated with `new` (as you c

[2017-05-05 21:54] joperezr commented on #19316
What would be the plan then for internal people that needs consuming these packages since they are doing it today? Like PN for example? Or perhaps this issue will only be fixed once we have a release branch so that master packages still contain uap assets

[2017-05-05 22:13] stephentoub opened #19416 "Add support for getting current stack into Exception"
When writing managed wrappers for native components, it's common to create an Exception in one location (e.g. in a callback from native that includes an error code) and to then pass that off to a completely different location (e.g. storing the Exception into a TaskCompletionSource, with its Task awaited somewhere else).  In doing so, the created Exception object doesn't contain any stack trace inf

[2017-05-05 22:22] stephentoub commented on #19414
cc: @Clockwork-Muse

[2017-05-05 22:24] karelz commented on #9675
Looks like we are on track to bring all the APIs back in 2.1. We should still document the difference for current UWP in the above ...

[2017-05-05 22:29] stephentoub commented on #16441
I disagree. If someone from company XYZ created a 2.0 issue in the corefx repo for something unrelated to corefx and unrelated to the 2.0 release, regardless of history, you would immediately close the issue, tell them it is inappropriate, and ask them to track it elsewhere.  I don't see how this is any different.

I'll stop commenting on this now.

[2017-05-05 22:38] jcouv commented on #17960
Yes. I'll stop by on Monday to discuss some validation scenarios and I'll focus on that. Sorry for the delay.

[2017-05-05 22:57] stephentoub commented on #14614
This argument suggests that someone is likely setting this property based on a historical knowledge of other .NET API behaviors and wanting to increase to a sufficiently high value rather than limit it; am I understanding correctly?  If so, since the default now is effectively infinite anyway, if the developer is trying to effectively make it infinite by setting it, we wouldn't want to fail for su

[2017-05-05 23:03] shmao opened #19418 "Area-Serialization Sprint 118"
The issue is for tracking issues to be done in sprint 118 (due by 5/26/2017)

[2017-05-05 23:19] tarekgh commented on #16441
I think we can just move this to TFS and close this one.

[2017-05-05 23:23] natemcmaster opened #19420 "System.Security.Cryptography.Xml conflicts System.Security when building for .NET Framework"
The latest System.Security.Cryptography.Xml package causes compiler errors for .NET Framework projects.

### Repro
Create a .NET Framework 4.6.1 project that references a .NET Standard 2.0 project.

Example: TestApp --> TestLib
#### TestApp
[code]
[code]

#### TestLib
[code]

#### Details

Using dotnet-CLI 2.0.0-preview2-005905

[msbuild.log.txt](https://github.com/dotnet/corefx/files/980530/msbui

[2017-05-05 23:31] krwq commented on #19420
@weshaggard @ericstj - do we produce facades for both compile and runtime assemblies or just runtime?

Compiler options
[code]

[2017-05-05 23:33] krwq commented on #19420
Ahh I think I know - ref is missing `<IsPartialFacadeAssembly Condition="'$(TargetGroup)' == 'netfx'">true</IsPartialFacadeAssembly>`

[2017-05-05 23:33] ericstj commented on #19420
You have to define a configuration.  I'm actually in the middle of writing some test infrastructure and I caught this problem as well as others with some of the new assemblies added in 2.0.

[2017-05-05 23:42] steveharter commented on #9543
The test is still failing with the recent changes to #16516.

The first failure occurred on run # 46:
[code]

[2017-05-05 23:44] krwq commented on #19420
I have submitted the fix for this - I'm wondering - how are our netfx tests working?

[2017-05-05 23:53] danmosemsft commented on #19223
Presumably manipulating services maybe a relatively important scenario for code running on a headless server.

[2017-05-05 23:53] CIPop opened #19423 "System.Net.Primitives.Functional.Tests.CookieTest.Value_PassNullToCtor_GetReturnsEmptyString_net46 fails consistently on all my dev machines"
Running `msbuild /t:rebuild,test /p:Outerloop=true` in `\src\System.Net.Primitives\tests\FunctionalTests`

[code]

[2017-05-05 23:54] CIPop commented on #19423
/cc @davidsh @DavidGoll @karelz

For some reason this only fails when I run these tests separately but not when I run the `build-tests -outerloop` command.

[2017-05-05 23:59] huanwu opened #19424 "Manually run System.Xml.XmlSerializer.Tests with pregenerated serializer"
This include:
1. Generate the serialization code for System.Xml.XmlSerializer.Tests.dll. Verify if it works for all types.
2. Generate the serializer assembly
3. Run the tests targeting at pregenerated assembly in step2.

[2017-05-05 23:59] preetikr commented on #16441
I agree with stephentoub on the .NET Framework issue being tracked here. You can share your feedback on .NET Framework aspects including Reference sources @ https://github.com/Microsoft/dotnet/issues

That said this issue is resolved and .NET Framework 4.7 reference sources to include the following have been published @ https://github.com/Microsoft/referencesource  - Missing ones are intermediate

[2017-05-05 23:59] #16441 closed

[2017-05-05 23:59] huanwu opened #19425 "Investigate the way to automate the SGEN tests"

[2017-05-06 00:06] huanwu opened #19426 "Go through SGEN user experience"

[2017-05-06 00:06] CIPop opened #19427 "Specifying /p:XunitOptions overrides -notrait category=nonnetcoreapptests"
Running in `\src\System.Net.Mail\tests\Functional`,
`msbuild /t:rebuild,test /p:Outerloop=true "/p:XunitOptions=-showprogress"` fails on my local dev box:

[code]

[2017-05-06 00:07] CIPop commented on #19427
/cc @davidsh @karelz @DavidGoll

[2017-05-06 00:20] CIPop opened #19428 "System.Net.Sockets tests crash (exception) about 1 in 2 runs on my dev machine"
[code]

[2017-05-06 00:20] CIPop commented on #19428
Full-memory dump available (too big, can't attach).

[2017-05-06 00:38] #18910 closed

[2017-05-06 00:39] stephentoub opened #19430 "SslStream test failing to access Mutex"
@cipop, this looks like fall out from your recent change:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/3093/consoleText
[code]

[2017-05-06 00:41] Priya91 commented on #12319
The close_notify alerts are implemented. The other part of implementing cert failure alerts is tricky, as openssl doesn't expose any APIs to do that. The given structure of cert validation happens after the handshake, to support this, we will have to change this order, and make the cert validation be a part of handshake, by registering a certificate validation callback with openssl. The registered

[2017-05-06 00:49] danmosemsft commented on #7434
This code works on regular Windows, fails on Nano:

[code]

with

[code]

With just `FileOptions.Encrypted` it does not seem to fail - only with ` FileOptions.Encrypted | FileOptions.WriteThrough`. In the test case above, it's failing even with just ` FileOptions.Encrypted` though.

Some OS difference relating to encrypted files.

@ianhays fyi.

[2017-05-06 00:50] CIPop commented on #9543
@steveharter I'm trying to fix my parallel execution script but I'm hitting a problem when trying to determine the runtime path:
I see that during msbuild build+test this is part of the output:

[code]

The RUNTIME_PATH variable is not set in my environment: I presume it's something calculated during MSBuild. Even more, the test execution script won't run:

[code]

Any ideas on how to automate run

[2017-05-06 00:58] Clockwork-Muse commented on #19414
As the comments predicted, [test turned out to be flaky](https://github.com/dotnet/corefx/blob/master/src/System.Linq.Parallel/tests/Combinatorial/FailingParallelQueryCombinationTests.cs#L118-L119):

The way the tests are setup, it's checking that things are ('correctly') wrapped in terms of `AggregateException` in various failing scenarios.  The problem is that the combination of `First` and `Con

[2017-05-06 01:06] CIPop commented on #9543
I figured it out: it was a few lines below: ` Using S:\corefx\bin\testhost\netcoreapp-Windows_NT-Debug-x64\ as the test runtime folder.`

[2017-05-06 01:15] CIPop commented on #19430
Thanks @stephentoub. You were right: it's probably the small timer. I'll increase to 30s.

[2017-05-06 01:22] CIPop commented on #16516
Please reopen attaching:
1. Exception and test log
2. Crash-dump generated by the Debug.Assert (if this failed in a debug build)

[2017-05-06 01:27] CIPop commented on #19414
It's a 6 core / 12 logical. The main one has 4 / 8.

[2017-05-06 01:30] karelz commented on #16516
@CIPop do you expect the tests to fail?

BTW: Crash-dump has to be pulled manually by dev from Dumpling tool. Exception and test logs should be already part of general test failure reporting, right?

[2017-05-06 02:43] #18302 closed

[2017-05-06 02:50] morganbr commented on #14354
One of the running questions in these threads has been which algorithm is perfect for everybody. I think it's safe to say there isn't a single perfect algorithm. However, I don't think that should stop us from providing something better than code like what @CyrusNajmabadi has shown, which tends to have poor entropy for common .NET inputs as well as other common hasher bugs (like losing input data

[2017-05-06 02:52] #14614 closed

[2017-05-06 03:34] dotMorten commented on #9675
@karelz Great news! Thank you for listening.

[2017-05-06 04:01] JonCubed commented on #19231
@stephentoub thanks for looking into this. Here is the output you requested

[code]

If I am understanding the product version correctly for `httpClient` it does look like it is using 1.0 version.

[2017-05-06 04:07] Clockwork-Muse commented on #19414
So yeah, extra cores, since the PLINQ tests were set to be serialized (given the multithreading nature of the library).  Although that assumes the main test run is serialized, which it isn't/wasn't for submitted PRs.

[2017-05-06 04:16] KiarashS commented on #9357
Also i have this problem in Linux(Mint) with requests from a Console Application to a Local Web Server.

[2017-05-06 05:08] danmosemsft commented on #19423
Is it actually running (does it show up in the log) when you do `build-tests -outerloop` .. maybe there's a glitch in that.

[2017-05-06 05:13] danmosemsft commented on #19286
@lmolkova did you fix this with https://github.com/dotnet/corefx/pull/19333? If so please close.

[2017-05-06 05:13] danmosemsft commented on #19280
@lmolkova did you fix this with https://github.com/dotnet/corefx/pull/19333? If so please close.

[2017-05-06 05:15] danmosemsft commented on #7434
/cc @stephentoub in case the reason is obvious to you.

[2017-05-06 05:17] danmosemsft commented on #18048
Nano should be fixed by f28f900
Tihs bug is just for UWP

[2017-05-06 06:05] Petermarcu opened #19432 "sign runtime.win7-x86.runtime.native.system.io.compression"
We need to make sure runtime.win7-x86.runtime.native.system.io.compression contains signed binaries in servicing. Take a look at the 4.3.0 package here: https://www.nuget.org/packages/runtime.win7-x86.runtime.native.System.IO.Compression/

[2017-05-06 06:06] Petermarcu opened #19433 "Sign contents of runtime.win-x64.runtime.native.system.data.sqlclient.sni"

[2017-05-06 06:19] danmosemsft commented on #19223
On Nano,
[code]

On regular Windows, KeyIso.CanStop is true. maybe just need to pick a different service that works for evyerone.

[2017-05-06 06:27] karelz commented on #9675
Just to clarify: The credits for the decision & planning go to @davidsh @CIPop @DavidGoll, I was just the messenger in this case ;-)

[2017-05-06 07:40] danmosemsft opened #19435 "Failure of .UnixPingUtilityTests.PacketSizeIsRespected on OSX"
[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug_prtest/3051/consoleText

Compare https://github.com/dotnet/corefx/issues/15018

[2017-05-06 07:47] danmosemsft opened #19436 "CI failure in Rsa.Tests.RSAKeyExchangeFormatterTests.VerifyDecryptKeyExchangePkcs1"
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/4738/testReport/junit/System.Security.Cryptography.Rsa.Tests/RSAKeyExchangeFormatterTests/VerifyDecryptKeyExchangePkcs1/
[code]

[2017-05-06 08:43] hughbe opened #19437 "Potential bug in HttpListener: adding an invalid prefix throws, but is still added"
HttpListener refuses a uri prefix that has a host greater than length 255, throwing an `ArgumentOutOfRangeException`.

However, the prefix is still added. This breaks expectations of the user IMO.

Obviously HttpListener is a compat/legacy API. And, the full .NET Framework also has this bug, so this isn't a 2.0 issue and we may not even want to fix it

[code]

[2017-05-06 08:46] hughbe opened #19438 "HttpListenerPrefixCollection.CopyTo(null, 0) throws an NRE"
The following test demonstrates this bug that is present in netfx and the Windows implementation of HttpListener. Note that the managed implementation does not have this bug.

Although HttpListener is considered a legacy/compat API, @stephentoub mentioned in #19217:

So I'm tracking this with an issue

[code]

[2017-05-06 09:28] strigonLeader opened #19439 "Can't extend class from .net 3.5 dll"
I have one class library project built on dot net framework 3.5. I want to have a new dot net core application reference the dll produced by the first project and extend classes from that library.

I have had to add a nuget reference to Microsoft.NETCore.Portable.Compatibility to make fix some basic issues with doing this, but now when I extend a class with an abstract method I can't override the

[2017-05-06 10:08] strigonLeader commented on #19439
After more investigation the problem is being caused by the TcpClient type. If I make the signature of CreateConnection take no parameters or build in types I can extend fine. It might be because the Compatibility package resolves the TcpClient class as different from the TcpClient class which the library was compiled against. I don't know enough about how the Compatibility package works to figure

[2017-05-06 10:44] olivier-spinelli commented on #18559
Thank you for answering. I wont disturb you anymore with this issue, I promise!
And many, many, thanks for the great work you all guys are doing!
I don't know if I should close this issue or let it opened as a remainder: feel free to close it if you want.

[2017-05-06 12:27] Pothulapati commented on #17917
@karelz @safern @jkotas  Great Learning experience from me.Never expected a community to be this friendly and helping.Thank You Very Much.Looking forward to contribute more.

[2017-05-06 13:30] ViktorHofer commented on #18850
@karelz https://github.com/dotnet/corefx/issues/19119

[2017-05-06 13:40] ViktorHofer commented on #18850
@danmosemsft @stephentoub @karelz As this is now labeled as **blocked**, should we make `HttpWebRequest` implement `ISerializable` with respect to the privat field name differences between Core and Desktop?

[2017-05-06 13:52] robertledinski opened #19441 "HttpClient version System.Net.Http\4.3.0\ref\netstandard1.3\System.Net.Http.dll ignores proxy in asp.net core 1.1 app"
When I try to use HttpClientHandler with my proxy server and add it to HttpClient requests go directly instead over proxy server. I checked multiple times using wireshark and fiddler, it doesn't matter if proxy is working ip or is it a fake one. I don't get any error and requests go directly.

For double checking I went on the server on which I sent requests and there wasn't IP address of sever
wh

[2017-05-06 14:07] karelz commented on #17917
Very happy to hear you liked it @Pothulapati.

If you're interested, please help us make the new contributor docs better here: https://github.com/dotnet/corefx/wiki/New-contributor-Docs#main-page-section-content (writeable by anyone for easier collaboration, hacking on it with @haralabidis for last week)

You might also find this useful & interesting: http://rion.io/2017/04/28/contributing-to-net-

[2017-05-06 14:17] karelz commented on #18559
Thanks for understanding @olivier-spinelli. Please don't take it that we are trying to shut down the discussion. I'm just trying to set realistic expectations on the time-to-resolution.

To be honest, I am not sure if we will ever invest in a brand new Serialization in BCL/Runtime. From our experience, it is a hard problem, and it can be solved externally (just on public types) ... so, maybe the b

[2017-05-06 14:23] ViktorHofer commented on #19358
That's basically one of the biggest issues I'm hearing from customers in Austria right now. Transparency and documentation is lacking in .NET Core. The open docs repo and the tool @terrajobst is currently working on are definitely steps in the right direction.

[2017-05-06 14:28] karelz commented on #19439
@weshaggard @ericstj can you please advise/route?

[2017-05-06 14:33] karelz commented on #19438
So the difference is HttpListener on Linux & Mac vs. Windows & .NET Framework, right?

Is it something we want to fix? In Windows Core?

[2017-05-06 14:33] ViktorHofer commented on #2249
@bricelam @karelz This is neither a netcoreapp nor a 2.0 issue. I suggest moving it to netstandard.

[2017-05-06 14:35] karelz commented on #19437
I would suggest to close it, unless:
1. We see customers hitting it hard
2. Fix is simple and someone submits it

Otherwise I would not invest in legacy APIs to this level ... thoughts?

[2017-05-06 14:37] hughbe commented on #19438
Correct. I think @stephentoub hinted this should be fixed in #19127.

This was the issue I mentioned on twitter btw @karelz: it's unclear if we should fix In in corefx. Most people don't rely on catching NREs so a fix in .Net core is likely to help incentivise a netfx fix for this bug.

[2017-05-06 14:40] karelz commented on #19441
Can you try latest version of the package - 4.3.1. We changed the implementation significantly.

[2017-05-06 14:44] ViktorHofer commented on #4865
@danmosemsft I just read that @Petermarcu approved this late api change. I could do that

[2017-05-06 14:44] davidsh commented on #19441
How exactly are you specifying the proxy server to HttpClient*?  HttpClient will usually look for proxy settings in the either the system default location (wininet / ie settings) or use a custom proxy specified via the HttpClientHandler.Proxy property.

[2017-05-06 14:53] karelz commented on #19438
Thanks for filing it @hughbe! It is always good to have technical discussion before we make decisions ;). Here's my take:

Fix in NetFX could be compat problem. So unless we have real-world customers hitting the bug, it is too much risk to fix it there IMO.
Note that .NET Framework is **pushed** everywhere - it just takes one populr/important app depending on the old behavior and you are doing dis

[2017-05-06 14:55] hughbe commented on #19437
Not sure about 1, but 2. I could fix after 5/10, should be as simple as wrapping the addition of the the prefix to the list of services in a try/catch. If an exception is thrown, then just remove the prefix from the list.

it's just awkward that this puts the listener in what could be described as a corrupted state. Obviously @davidsh and @priya91 and @stephentoub may have thoughts

Not important

[2017-05-06 15:00] karelz commented on #4865
@valenis yesterday suggested to push it out ... however, I always prefer to have at least minimal test coverage for APIs, so go for it, assuming there is nothing higher priority you can tackle ;-)

[2017-05-06 15:00] #18805 closed

[2017-05-06 15:00] ViktorHofer commented on #18888
@safern are you on track? do you need some help?

[2017-05-06 15:02] karelz commented on #19437
Sounds reasonable, thanks for the info!
And thanks for all your great help here in CoreFX repo, especially your help with landing 2.0! We highly appreciate it!

[2017-05-06 15:08] ViktorHofer commented on #4865
I don't think this is something low priority as it involves enlarging the API surface of netcoreapp20 and improving compat with netfx which is definitely welcomed by our customers (even if it's not in netstandard20).

There is one very high issue I'm still investigating, everything else is likely done (awaiting PR feedback).

[2017-05-06 15:44] stephentoub commented on #19231
Happy to help.

Yup.  That explains why you're seeing what you're seeing; it doesn't have the 1.1 fix around actually respecting ExpectContinue.

@eerhardt, do you know how someone could have a project.json like @JonCubed has specifying the 1.1 framework but still end up running on a 1.0 framework?

I think that's your best bet.  The underlying issue in corefx looks like it was fixed for 1.1, so I

[2017-05-06 15:44] #19231 closed

[2017-05-06 16:29] Ermiar commented on #17905
Hello,
As a first time contributor, I would like to tackle the `System.Net.Mail` library if that is okay !

[2017-05-06 16:35] stephentoub commented on #19427
The test is attributed as:
[code]
It shouldn't have run.  This version of the test is specifically for desktop, whereas the test above it:
https://github.com/dotnet/corefx/blob/d0f39403fc7dedbafe7aeec8716f1f2ccb561bb1/src/System.Net.Mail/tests/Functional/SmtpClientTest.cs#L122
is the one that's meant for .NET Core, and is obviously passing appropriately.

[2017-05-06 16:39] stephentoub commented on #19428
The client is disposing of the Socket here:
https://github.com/dotnet/corefx/blob/654ad09c9313bffef923351216801ef626f55d6a/src/System.Net.Sockets/tests/FunctionalTests/SendFile.cs#L157
which is apparently causing the Receive here:
https://github.com/dotnet/corefx/blob/654ad09c9313bffef923351216801ef626f55d6a/src/System.Net.Sockets/tests/FunctionalTests/SendFile.cs#L133
to fail with that error.  Do

[2017-05-06 16:43] davidsh commented on #19427
So, why did it run when the SkipOnTargetFramework attribute told it not to run?

Is it possible that specifying Xunit options here: "/p:XunitOptions=-showprogress" is somehow interfering with the calculation of the Skip* attributes?

[2017-05-06 16:44] karelz commented on #19427
@weshaggard - any idea if this is tooling problem, or usage/documentation problem?
cc @mellinoe

[2017-05-06 16:45] karelz commented on #17905
Sure, thanks! Go ahead. If you hit any road blocks ping us here on file new issues (and tag me for routing).

[2017-05-06 16:46] stephentoub commented on #19427
That appears to be the case.  When I don't specify /p:XunitOptions, I get:
[code]
but when I do, I get:
[code]
Note the former includes ```-notrait category=nonnetcoreapptests``` whereas the latter does not.

[2017-05-06 16:50] karelz commented on #4865
EventSource is somewhat special ... it is one of the fastest-evolving parts of .NET Framework. We have even out-of-box Microsoft.DIagnostics.Tracing package to churn even faster for .NET Framework users.
Compat is corner cases can be adjusted, it has a bit lower bar than the rest of .NET Framework.

Please consult with @vancem on the best action for each (potential) bug fix. Either in the form of

[2017-05-06 16:50] stephentoub commented on #19427
Related:
https://github.com/dotnet/buildtools/pull/1462

[2017-05-06 16:51] GSPP commented on #3249
@mj1856 yes, strongly typed ticks to improve usability to the point where people actually do this instead of hacking it with `DateTime.UtcNow` (which is broken) and `Environment.TickCount` which is not handy and overflows (also broken therefore).

[2017-05-06 17:12] stephentoub commented on #16201
Another:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_rhel7.2_debug/39/consoleText

[2017-05-06 17:14] stephentoub commented on #13539
Happened again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/37/consoleText
[code]

[2017-05-06 17:41] jnm2 commented on #13800
What's left to do, add String.GetHashCode to `src\System.Runtime\ref\System.Runtime.cs` and put tests on it in `src\System.Runtime\tests`?

[2017-05-06 17:43] jnm2 commented on #13800
I can't find StringComparer in `src\System.Runtime\ref\System.Runtime.cs`. Where is that exposed?

[2017-05-06 17:43] ianhays commented on #19432
I've got some PR's up for this :)

[1.1.0 Release branch](https://github.com/dotnet/corefx/pull/19123)
[1.0.0 Release branch](https://github.com/dotnet/corefx/pull/19120)

per @weshaggard 's comments, I'm waiting to merge them until `we finish the current in flight servicing release.`

[2017-05-06 17:46] ianhays commented on #18888
@ViktorHofer this is resolved by @safern 's PR https://github.com/dotnet/corefx/pull/19343 that was delayed waiting for a coreclr fix to be consumed. It should be resolved shortly :)

[2017-05-06 17:50] jnm2 commented on #13800
<s>I can't find StringComparer in `src\System.Runtime\ref\System.Runtime.cs`. Where is that exposed?</s>

[Found it.](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs#L896)

[2017-05-06 18:02] jnm2 commented on #13800
Almost done writing tests, so I guess I'll take this. :-p

[2017-05-06 18:23] jnm2 commented on #13800
https://github.com/dotnet/corefx/pull/19443

[2017-05-06 18:51] karelz commented on #13800
Thanks @jnm2!

[2017-05-06 20:24] hughbe commented on #13800
Thanks for taking this on! Although dan suggested I give it a go I wouldn't be able to find time before ZBB so it's awesome to see

[2017-05-06 21:45] robertledinski commented on #19441
karelz I just tried with package - 4.3.1 but problem remains.
System.Net.Http\4.3.1\ref\netstandard1.3\System.Net.Http.dll

Here is my implementation example.
[proxy implementation.txt](https://github.com/dotnet/corefx/files/981177/proxy.implementation.txt)
You can check with your proxy server as well. I tried using both wireshark and fiddler. If i put proxy IP on my browser than it is working so

[2017-05-06 22:57] strigonLeader commented on #19439
https://github.com/strigonLeader/dotnetcoreexample
Here's an example of how I reproduce the issue.

[2017-05-06 23:08] stephentoub opened #19444 "OverflowPositionPointer test failing"
Recently added test is failing on 32-bit (passes on 64-bit):
[code]

[2017-05-06 23:12] stephentoub commented on #19444
Hmm, it failed in CI, but it's not failing for me locally.  Closing for now.

[2017-05-06 23:49] strigonLeader commented on #19439
You also get an error CS7069 when you try to implement an interface with TcpClient as a method parameter or when you try to call a method that returns TcpClient on an instance of a class from the library.

[2017-05-06 23:53] davidsh commented on #19441
Thanks for posting the code to your repro.  I looked thru it and I wonder whether it has ever worked?  Did this code work before with some other version of .NET Framework or .NET Core and now doesn't work?

Or, is this the first time you have tried out this code?

Looking at the code below:  it is not using the right semantics for specifying a proxy.  For example, you must always set HttpClientHan

[2017-05-06 23:59] davidsh commented on #19441
Also, I believe the key problem here is that your code is not really returning a valid proxy at all.

This code:

[code]

Is supposed to return the Uri of a proxy server based on a destination Uri.  But you are always returning the destination Uri from this method.  Instead, you should be returning "_proxyLink".    The reason why a proxy server isn't been used is because the GetProxy() method is n

[2017-05-07 01:07] stephentoub commented on #19444
Fails on 32-bit

[2017-05-07 01:31] stephentoub commented on #18850
I expect with https://github.com/dotnet/corefx/issues/19119 we're going to remove the [Serializable] attribute entirely.
cc: @morganbr

[2017-05-07 01:48] ViktorHofer commented on #18850
Even if we're removing the Serializable attribute, the three methods (ctor, ISerializable.GetObjectData, GetObjectData) are implemented because of ISerializable. Therefore I suggest changing the exception to SerializationException and removing the Serializable attribute (as we don't need it).

[2017-05-07 02:05] ViktorHofer commented on #18850
@danmosemsft @safern @davidsh Why should we support serialization of HttpWebRequest in Core when it never worked on netfx either? The only reason I could think of is, that this is considered as a netfx bug.

[2017-05-07 02:31] #18900 closed

[2017-05-07 02:48] stephentoub commented on #18850
Not sure what you mean... we already throw so it's already not supported.

[2017-05-07 02:52] ViktorHofer commented on #18850
See @davidsh post:

See @danmosemsft:

[2017-05-07 02:58] stephentoub commented on #18850
At which point I refer you back to my previous comment: "I expect with #19119 we're going to remove the [Serializable] attribute entirely."

[2017-05-07 03:03] davidsh commented on #18850
HttpWebRequest is returning an error during serialization due to being unable to serialize the Proxy field since it is set (by default) to the system proxy.  Apparently that WebProxy field/object isn't serializable.

Serialization support in HttpWebRequest was marked as "obsolete" in .NET Framework several releases ago.  I think it was when .NET 4.0 first shipped.  I'll need to research it my old

[2017-05-07 03:08] ViktorHofer commented on #18850
Alright, thanks David! I think my misconception was, that if we would remove the Serializable attribute we would keep the ISerializable interface with the method implementations.

[2017-05-07 04:01] #13800 closed

[2017-05-07 11:30] orb77 opened #19447 "Does .NET Core work on Arch Linux?"
I'm using Antergos which is Arch Linux distribution and I was trying last several months to build
dotnet core.
Every time I was trying to build dotnet core I was facing different problem.

Today I decide to try again to build dotnet core hoping that will be build successfully,
because passed maybe a year of the first release but I face again some problem which i cannot solve.

My current problem i

[2017-05-07 11:48] hughbe commented on #19447
:(

Basically the issue is compiling the native crypto code. Looks like a potentially missing include for an OpenSSL primtive:

[code]
Maybe archlinux has different files needed to include? Have you got `libcurl4-openssl-dev` installed on your machine? There are instructions here: https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md

[2017-05-07 11:51] TimurZanagar commented on #19447
Do you need help? Yes, really? Is it a good start with "guys you suck"? (I think without a s is better)

[2017-05-07 11:51] herecydev commented on #19447
I'm sure they'll get right on it buddy.

[2017-05-07 11:52] hughbe commented on #19447
Possibly related: https://github.com/openssl/openssl/issues/594 maybe

[2017-05-07 11:52] orb77 commented on #19447
Thank you @TimurZanagar  this solve my problem

[2017-05-07 11:55] orb77 commented on #19447
@hughbe if is related how to fix it ?

[2017-05-07 11:57] hughbe commented on #19447
What's your OpenSSL version? It looks like some things may have changed between OpenSSL versions.

[2017-05-07 11:57] jakubfijalkowski commented on #19447
Check out the thread on Arch/AUR forums - https://bbs.archlinux.org/viewtopic.php?id=225790 , This AUR package depends on `openssl` package and this means that it will get OpenSSL 1.1.0e, but AFAIK `corefx` requires OpenSSL 1.0. The maintainer of the AUR package will probably fix this in the coming days.

[2017-05-07 11:57] TimurZanagar commented on #19447
@orb77 I don't think you're Problem can be solved here. You need a therapist for this kind of problem.

And the other issue. Just READ!

[2017-05-07 11:59] Expecho commented on #19447
Your attitude is horrible, can't understand why people are even helping you. Does it hurt being friendly?

[2017-05-07 12:02] hughbe commented on #19447
No point berating him on his attitude, it'll just lead to this issue getting locked. We've all been in situations where technology that we wish just worked stumps us and we get annoyed.

[2017-05-07 12:05] TimurZanagar commented on #19447
I'm with you, but this is definitely not a excuse for this kind of attitude.

[2017-05-07 12:11] orb77 commented on #19447
Ok guys you are right about my attitude I change also the part of the content.
Now I'm hoping that we will be able to fix this problem.

[2017-05-07 12:16] stephentoub commented on #19414
Thanks, @Clockwork-Muse.  If we believe we know the complete set of possibilities and it's easy to modify the test to do so, let's have it check for them all.  Otherwise let's disable the test in this situation.

[2017-05-07 13:58] svick commented on #14354
@morganbr There isn't a single perfect algorithm, but I think that having some algorithm, which works fairly well most of the time, exposed using a simple, easy to understand API is the most useful thing that can be done. Having a suite of algorithms *in addition* to that, for advanced uses is fine. But it shouldn't be the only option, I shouldn't have to learn who Marvin is just so that I can put

[2017-05-07 14:02] danmosemsft commented on #19447
@bartonjs for openssl

[2017-05-07 14:07] danmosemsft commented on #19447
@orb77 by the way, you can attach big files to issues, no need to paste...

[2017-05-07 14:33] Yutsa commented on #8951
I am using Debian 9 (Stretch) and I have the same issue of dotnet segfaulting when using `dotnet restore` or `dotnet run`. I donwloaded the latest tarball [here](https://www.microsoft.com/net/download/core).

[code]

[2017-05-07 14:36] orb77 commented on #19447
The version of my openssl is:

I also install:

Installing libcurl-openssl doesn't solve the problem at all.

[2017-05-07 15:01] bartonjs commented on #19447
No, .NET Core does not support Arch.  And no, .NET Core does not work on Arch out of the box. For one, Arch has moved to OpenSSL 1.1 and we haven't (and it's a massive breaking change) - #9855.

https://github.com/dotnet/corefx/issues/9855#issuecomment-298982251 is a comment by a fellow Arch user who is trying to get things working, which leaves a breadcrumb to https://bbs.archlinux.org/viewtopic.

[2017-05-07 15:04] y2kiah commented on #14469
Those of us running F25 or F26 can run dotnet core just fine inside a vagrant box, but I want to develop using VS Code installed on my host OS. This scenario still doesn't work since Code cannot resolve the package locations, and everything is just red squigglies. How can I "fake" it so that VS Code on the fedora host can resolve installed packages, while having the actual compiles binaries inside

[2017-05-07 15:09] karelz commented on #14469
@y2kiah I am not sure what we can do in CoreFX about that. This issue is/was about our internal infrastructure - i.e. ensuring we produce bit which can be installed on F25/F26 at all.
Your question is likely more suitable for VSCode repo - can you please ask there?

If you find out anything that we, CoreFX/.NET Core team, should change to enable the VSCode scenario, please let us know.

[2017-05-07 15:11] karelz commented on #8951
@Yutsa can you please file a new issue and tag me & @janvorli there? It is likely different issue.
Please provide links to exact bits you installed and mention all steps you did to help us troubleshoot it, thanks!

[2017-05-07 18:15] karelz commented on #19447
I linked 'Supported OS Versions' from main CoreFX page [here](https://github.com/dotnet/corefx/blob/master/README.md#net-core) and [here](https://github.com/dotnet/corefx/blob/master/README.md#build--test-status) to avoid future confusion.

I also submitted PR to clarify & track status of (some) unsupported OS work: https://github.com/dotnet/core/pull/616

[2017-05-07 18:15] karelz commented on #19447
Overall I wonder if we should resolve this issue as duplicate of #9855 - @bartonjs @orb77 thoughts? Is this issue tracking anything else unique?

[2017-05-07 19:23] jlanng commented on #18765
Is something in the CI process watching for increases in time taken to run each of these tests?

It'd probably be worth adding something to the perf test guidelines that describes how the data is used.

[2017-05-07 19:38] CyrusNajmabadi commented on #14354
I like the way you put that.  I also like that you mentioned Dictionary itself.  IDictionary is something that can have tons of different impls with all sorts of differing qualities (see the collections APIs in many platforms).  However, we still just provide a base 'Dictionary' that does a decent job overall, even though it may not excel in every category.

I think that's what a *ton* of people a

[2017-05-07 19:43] CyrusNajmabadi commented on #14354
@morganbr I think people simple want a way to write GetHashCode that is better than what they're doing today (usually some grabbag combination of math operations they copied from something on the web).  If you can just provide a basic impl of that that runes well, then people will be happy.  You can then have a behind-the-scenes API for advanced users if they have a strong need for *specific* hash

[2017-05-07 20:30] jamesqo opened #19449 "Proposal: ImmutableDictionary.Create(TKey, TValue)"
## Background

Most immutable collection types, such as `ImmutableArray` or `ImmutableList`, provide static `Create` methods that accept items to take advantage of type inference. e.g. `ImmutableArray.Create(new MyClass())` instead of `ImmutableArray<MyClass>.Empty.Add(new MyClass())`. However, with `ImmutableDictionary<>` it's necessary to specify the type parameters via `ImmutableDictionary<K, V

[2017-05-07 20:38] shaggygi commented on #19449
Seems like you can use the Builder.  Does that help?

[code]

[2017-05-07 21:15] Sire opened #19450 "Implement ISO week numbers"
In most of EU and Asia, we have the concept of week numbers. They are defined by an ISO standard (ISO 8601).

ISO week numbers are used by millions of people. For example, the entire medical and school system in Scandinavia, and possibly the entire EU. According to Wikipedia ISO week numbers are used in "EU and most of other European countries, most of Asia and Oceania".

ISO week numbers are stil

[2017-05-07 21:51] orb77 commented on #19447
@karelz When you are planing to fix this issue ?

[2017-05-07 22:08] karelz commented on #19447
@orb77 do you mean the OpenSSL 1.0 package for Arch Linux linked [above](https://github.com/dotnet/corefx/issues/19447#issuecomment-299712006)?
I would expect Arch community to drive that ...

Or did you mean something else?

[2017-05-07 22:16] orb77 commented on #19447
No I mean are you planing to migrate OpenSSL 1.0 dependency  to 1.1 ?

[2017-05-07 22:19] karelz commented on #19447
It is in Future milestone - AFAIK we do not have immediate plans to support it (@bartonjs can correct me if it falls into one of his items in the long-term plan).
I think there are more impactful things to do in .NET Core Security area. We just started shaping long-term Security area plans couple of weeks ago ...

[2017-05-07 22:20] robertledinski commented on #19441
I know that code has some useless parts (i tried doing lots of random things). Do not mind GetProxy method parameter name. If I add  through constructor proxy url as private variable and use it in GetProxy it still doesn't work.

If u see requestUri that is URL of server on which I want to sent request and it is not used anywhere before that part.

[2017-05-07 22:24] robertledinski commented on #19441
I suggest that u try using HttpClient and set your proxy server without credentials. U will see that using proxy will not work and no error will be shown. Request will go directly to targeted server without going through proxyed server. That is main thing I want to point out.

[2017-05-07 22:33] karelz commented on #19441
@robertledinski can you please provide working minimal repro? Otherwise I fear it is not actionable for us.

[2017-05-07 23:01] karelz commented on #19450
Without knowing any details about it, breaking apps is usually no-starter. If we break stuff, we need to fully understand the impact and ensure the break (which means cost for affected .NET devs) is worth the benefit (which mean overall value for all .NET devs).
Your comment '*If we're lucky*' makes me suspicious that I wouldn't like the odds ;-)

[2017-05-07 23:29] jamesqo commented on #19449
@shaggygi I think you misunderstood my proposal. I am not looking for a more efficient way to create an ImmutableDictionary with multiple elements. I am trying to make it easier to create a dictionary with one element.

[2017-05-07 23:39] davidsh commented on #19441
As I mentioned above, this method must return a proxy Uri and not the destination Uri.

[code]

Please attach a complete working repro Visual Studio solution. Thanks.

[2017-05-08 00:02] stephentoub commented on #7434
It's not.  In your example, Encrypted works, WriteThrough works, but Encrypted | WriteThrough fails on Nano; not sure why.  Probably worth asking someone more familiar with Nano Server.  I suggest verifying similar code written in C against CreateFile fails, and then disable the tests / punt for now as at that point it's not a .NET product source issue.

[2017-05-08 00:19] shaggygi commented on #19449
@jamesqo oh, gotcha.

[2017-05-08 01:49] deinok opened #19451 "Socket - SendAsync()"
Socket.cs should have an async method for:
[code]

Expected:
[code]
Probably an extension method would be ok ;)

[2017-05-08 02:09] svick commented on #19451
There is [`public static Task<int> SendAsync(this Socket socket, ArraySegment<byte> buffer, SocketFlags socketFlags)`](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.sockettaskextensions.sendasync?view=netstandard-1.3#System_Net_Sockets_SocketTaskExtensions_SendAsync_System_Net_Sockets_Socket_System_ArraySegment_System_Byte__System_Net_Sockets_SocketFlags_) in `Socket​Task​Extensio

[2017-05-08 02:14] snickler opened #19453 "Availability of System.DirectoryServices.* outside of Windows"
I've been wondering whether we would be able to use System.DirectoryServices.* on environments outside of Windows on .NET Core 2.x. Currently I'm running a project that sits on top of .NET 4.6.2 and that's fine, but it requires me to switch back and forth between my OSX & Windows machine while debugging Xamarin.iOS & my MVC project locally.

I also have to think about others like me who are lookin

[2017-05-08 02:46] Jiayili1 opened #19454 "Desktop: Tests under "System.Net.Tests.HttpWebRequestTest" failed with "Xunit.Sdk.EqualException""
Failed Test:
System.Net.Tests.HttpWebRequestTest.Host_SetNullValue_ThrowsArgumentNullException
System.Net.Tests.HttpWebRequestTest.Host_SetInvalidUri_ThrowsArgumentException
System.Net.Tests.HttpWebRequestTest.Host_SetSlash_ThrowsArgumentException

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/45/testReport/System.Net.Tests/HttpWebRequestTest/Host_Set

[2017-05-08 02:52] Jiayili1 opened #19455 "Desktop: BasicEventSourceTests.TestsWrite.Test_Write_T_EventListener failed with "System.Diagnostics.Tracing.EventSourceException""
Failed tests:
 BasicEventSourceTests.TestsWrite.Test_Write_T_EventListener
 BasicEventSourceTests.TestsWrite.Test_Write_T_EventListener_UseEvents

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/testReport/BasicEventSourceTests/TestsWrite/Test_Write_T_EventListener/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-08 02:59] Jiayili1 opened #19456 "Desktop: System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_UnsupportedAllServer_Fail failed with "System.TimeoutException""
Failed test: System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_UnsupportedAllServer_Fail

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/45/testReport/System.Net.Security.Tests/ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_UnsupportedAllServer_Fail/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-08 02:59] Jiayili1 commented on #19456
Closed issue: https://github.com/dotnet/corefx/issues/10911

[2017-05-08 03:02] Jiayili1 opened #19458 "Desktop: System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_EachServerUnsupportedProtocol_Fail failed with "System.Security.Authentication.AuthenticationException""
Failed test: System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_EachServerUnsupportedProtocol_Fail

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/45/testReport/System.Net.Security.Tests/ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_EachServerUnsupportedProtocol_Fail_protocol__Ssl2_/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-08 03:03] Jiayili1 commented on #19458
Closed issue: https://github.com/dotnet/corefx/issues/10910

[2017-05-08 03:09] stephentoub opened #19459 "Abort_BeginGetRequestStreamThenAbort_EndGetRequestStreamThrowsWebException fails on desktop"
This test always passes for me when I run it locally on core and always fails for me on desktop:
[code]

[2017-05-08 03:11] davidsh commented on #19459
I thought I had that test disabled for Desktop before.  Did it get re-enabled recently maybe?

[2017-05-08 03:13] stephentoub commented on #19459
Looks like @ViktorHofer removed it here:
https://github.com/dotnet/corefx/commit/9e2256d02d25d11b5317ee946453948ec45c7c6c#diff-25f859e9dd82e6bb39d6bfc84f10fbe1L513

[2017-05-08 03:14] ViktorHofer commented on #19459
Looking at it

[2017-05-08 03:16] davidsh commented on #19459
That test was disabled and had an issue tracking it #19083.  So, it should stay disabled.  And the new issue can be duped against.

[2017-05-08 03:29] ViktorHofer commented on #19459
Disable tests again here: https://github.com/dotnet/corefx/pull/19457

[2017-05-08 03:29] #19459 closed

[2017-05-08 03:37] enjoycode opened #19461 "System.ComponentModel.EnumConverter.GetStandardValues() throw InvalidCastException"
in source code:
`IComparer comparer = Comparer;
if (comparer != null)
{
        objValues.Sort((IComparer<object>) comparer);
}`
when "comparer" is a InvariantComparer, it can't cast to IComparer<<object>>, implements on .netstandard 1.0 & 1.1 are correct, because objValues are ArrayList, and use objValues.Sort(comparer).

[2017-05-08 04:20] Jiayili1 commented on #19270
This issue is still repro: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/45/testReport/System.Security.Cryptography.Xml.Tests/SigningVerifyingX509Cert/SignedXmlHasCertificateVerifiableSignature/

[2017-05-08 04:25] Jiayili1 commented on #18806
This test "BasicEventSourceTests.TestsWrite.Test_Write_T_In_Manifest_Serialization" failed with the same issue, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/45/testReport/BasicEventSourceTests/TestsWrite/Test_Write_T_In_Manifest_Serialization/

[2017-05-08 04:26] Jiayili1 opened #19462 "Desktop: Tests under "BasicEventSourceTests.TestsWriteEventToListener" failed with "Xunit.Sdk.EqualException""
Failed tests:
BasicEventSourceTests.TestsWriteEventToListener.Test_WriteEvent_ArgsCornerCases
BasicEventSourceTests.TestsWriteEventToListener.Test_WriteEvent_ZeroKwds
BasicEventSourceTests.TestsWriteEventToListener.Test_WriteEvent_ArgsBasicTypes

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/45/testReport/BasicEventSourceTests/TestsWriteEventToListene

[2017-05-08 04:46] bartonjs commented on #19270
This is probably a `if (key is RSACryptoServiceProvider)`-ism which was fixed in net462.

[2017-05-08 04:59] karelz commented on #19453
Hello @snickler - I noticed your question on the ASP.NET Core thread. Happy we can take this particular subject offline here.

DirectoryServices porting work is tracked here: #2089 - check the execution plan I updated in the top-post. Note that code is migrated (on Windows only), we just lack tests.

Regarding non-Windows (Linux/Mac) support - System.DirectoryServices.Protocols is doable, all othe

[2017-05-08 04:59] #19453 closed

[2017-05-08 05:03] karelz commented on #19461
Can you please share full code passing the `InvariantComparer`?
Did you hit the bug on .NET Core 1.0 or 1.1? Does it work correctly on "Desktop" .NET Framework?

[2017-05-08 05:09] enjoycode commented on #19461
1. I don't pass InvariantComparer, it's default by EnumConverter: `protected virtual IComparer Comparer => InvariantComparer.Default;`
2. .net core 1.0 and 1.1 works fine
3. Desktop .net works fine.

[2017-05-08 05:17] karelz commented on #19461
So what doesn't work then? .NET Core 2.0?

[2017-05-08 05:52] Jiayili1 commented on #18711
Already have the attribute [SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework, "On desktop, XUnit hosts in an appdomain in such a way that GetEntryAssembly() returns null")] for method GetEntryAssembly()

[2017-05-08 05:52] safern commented on #19286
Closing as this is a dupe of #19280

[2017-05-08 05:52] #19286 closed

[2017-05-08 06:09] Jiayili1 commented on #17993
Failed tests:
GetIsNetworkAvailable_NetworkConnectivityLevelIsNone_ReturnsFalse
GetIsNetworkAvailable_ConnectionProfileNotPresent_ReturnsFalse

[2017-05-08 06:21] Jiayili1 commented on #8947
@danmosemsft @safern which test need to be disabled for this issue?

[2017-05-08 06:24] Jiayili1 commented on #18196
This issue is still repro, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/45/testReport/System.ConfigurationTests/UrlPathTests/GetDirectoryOrRootName_GettingDirectoryFromAFilePath/

@danmosemsft @safern Do I need to disable this test?

[2017-05-08 06:24] safern commented on #8947
@davidsh @stephentoub do you know of any test running against Desktop hitting this issue so that we can disable them?

[2017-05-08 06:25] safern commented on #18196
@Jiayili1 yes, please disable while @ViktorHofer works on this, and when solved he can re-enable the test.

[2017-05-08 06:27] Jiayili1 commented on #18196
@safern Ok, I will disable it first.

[2017-05-08 06:28] enjoycode commented on #19461
I wrote a unit test:
`using System;
using System.ComponentModel;
using Xunit;

namespace AppBox.UnitTests
{
    public class EnumConverterTest
    {

        [Fact]
        public void GetStandardValuesTest()
        {
            var converter = new EnumConverter(typeof(Gender));
            var collection = converter.GetStandardValues();
        }

    }

    public enum Gender
    {
        Mal

[2017-05-08 06:31] jyoungyun commented on #16174
All workaround code for armel is not necessary and the related codes are already removed at all. So this issue can be closed.
@hqueue Please close this issue.

[2017-05-08 06:32] jyoungyun commented on #16175
After uploading coreclr nupkgs into myget feed, `-buildArch` and `-RuntimeOS` option is avaliable for armel build. So this issue can be closed.

@hqueue Please close this issue.

[2017-05-08 06:38] hqueue commented on #16174
@jyoungyun Sure :)

Closing this issue, becuase the work around is removed and not necessary anymore.

[2017-05-08 06:38] #16174 closed

[2017-05-08 06:40] karelz commented on #19461
OK, thanks for report - @AlexGhiondea @safern can you please check it out? This looks like breaking change per info above ...

[2017-05-08 07:12] robertledinski commented on #19441
First I would thank both of you for being patient with me and my mistakes such as not explaining best. On this link u can find test project which proves that proxy is not working.

https://github.com/robertledinski/HttpClient

Thank you for your fast answers even on Sunday.

[2017-05-08 07:18] deinok commented on #19451
@svick No, I expect asyncronus code for the POSIX methods. And also i found there is no exact method for the POSIX send http://pubs.opengroup.org/onlinepubs/009695399/functions/send.html

[code]

[2017-05-08 07:29] fogzot commented on #8951
Isn't this the usual problem with libcurl? Just downgrade curl and libcurl3 to version 7.38.0-4+deb8u5 and the last tarball works correctly on Stretch.

[2017-05-08 07:35] Sire commented on #19450
@karelz I agree :) Let's discuss option 2 then.

[2017-05-08 08:22] ism commented on #19441
https://github.com/robertledinski/HttpClient/blob/master/src/HttpClient%20Proxy/Program.cs#L65

here you have set it to true

and from documentation
"If IsBypassed is true, the proxy is not used to contact the host and the request is passed directly to the server."

Is that the case?

[2017-05-08 09:09] Jiayili1 commented on #7433
This issue is repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170508.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.IO.Tests.PathTests~2FGetFullPath_Windows_83Paths

[2017-05-08 09:11] dannyb2100 commented on #18976
@tarekgh, repo created and invite sent.

[2017-05-08 09:14] Jiayili1 opened #19466 "[HttpListener] No test result generated under "System.Net.HttpListener.Tests""
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170508.01/workItem/System.Net.HttpListener.Tests/wilogs

No test result generated under "System.Net.HttpListener.Tests", no exception in the result.

[2017-05-08 09:21] robertledinski commented on #19441
@ism  Thank you ism, I just set it to false and now I get this.

![image](https://cloud.githubusercontent.com/assets/17179120/25797994/c81841e6-33df-11e7-8145-4997c183520e.png)

It's not really descriptive, any suggestion?

[2017-05-08 09:27] dotnet-mc-bot opened #19467 "Test: System.Runtime.InteropServices.Tests.MarshalDirectiveExceptionTests/SerializationRoundTrip failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Runtime.InteropServices.Tests.MarshalDirectiveExceptionTests/SerializationRoundTrip` has failed.

Assert.Equal() Failure\r
                                     ? (pos 322)\r
    Expected: ···terHelpers.cs:line 49\r
    Actual:   ···terHelpers.cs:line 44\r
                                     ? (pos 322)

        Stack Trace:

           at System.Run

[2017-05-08 09:43] safern commented on #17925
Tests disabled for Desktop.

[2017-05-08 09:43] safern commented on #17990
Disabled test on Desktop.

[2017-05-08 09:58] weltkante commented on #4100
Thanks, I've implemented the updated API (link in top level post is updated) and also have added a test.

[2017-05-08 10:23] Pzixel commented on #19295
@MichalStrehovsky I don't see any reason why it is working at compile time but inpossible to do at runtime. Runtime's capabilites is superset of compile-time ones.

[2017-05-08 10:34] davidfowl commented on #19295
This is the sort of thing that `TypeDescriptionProvider` was used for on .NET Framework.

[2017-05-08 10:41] PavelStefanov opened #19469 "WinHttpException "The parameter is incorrect" on HttpRequest with EnableRewind"
Hi,

Environment: .NET Core runtime 1.1.1 on Windows 10
Case: I get HttpRequest then I want to send this to other api.

[code]
Request example:
[code]

When I'm using EnableRewind I have the following exception:
[code]

[2017-05-08 10:41] ism commented on #19441
@robertledinski now when your requests are proxified, you may want to install fiddler and use it to debug your session.

[2017-05-08 10:45] benaadams commented on #19469
/cc @Tratcher

[2017-05-08 11:06] benaadams opened #19470 "Linux Process.WaitForExit(Infinite) takes longer than needs to"
On Linux with timeout infinite Process.WaitForExit will take an average minimum time of 90ms https://gist.github.com/adamjez/521581903cac93653ab568fc4d7feda0

Meaning a max of 11 processes can be launched and waited for exit per second.

Changing that to a 1ms wait and timeout check loop it takes an average of 4ms
https://gist.github.com/adamjez/441e19c16a7a61c0aa518f2c7abc7222

Meaning a max of 2

[2017-05-08 11:49] ViktorHofer commented on #18196
Thanks!

[2017-05-08 12:02] #19454 closed

[2017-05-08 12:12] robertledinski commented on #19441
@ism This did help with the problem and I did some progress. however now I this error.

[2017-05-08 12:22] stephentoub commented on #19469
What does `EnableRewind` do?  Presumably it's going to affect the `context.Request.Body` Stream, changing its position or content or something, potentially concurrently with WinHttpHandler trying to read from it, potentially changing state that WinHttpHandler is relying on, etc.?

[2017-05-08 12:27] benaadams commented on #19469
Changes the steam type for the Body https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http/Internal/BufferingHelper.cs#L41-L78

[2017-05-08 12:45] stephentoub commented on #19469
Presumably it does that so the stream body can be replayed from its buffer.  What causes that Stream's position to be reset back to an earlier state? And when?  @davidsh could confirm if this theory makes sense, but my guess is that the CopyToAsync in SendAsync is copying more than WinHttp expected due to the position of the body Stream getting reset back to an earlier position during the copy.  I

[2017-05-08 12:53] stephentoub commented on #19451
What do you mean by this?  The implementation of those SendAsync methods on both Windows and Unix does use asynchronous I/O.

I don't know what you mean by this either.  What functionality were you hoping to find that's not available?

[2017-05-08 12:55] stephentoub opened #19474 "Several Process tests on Windows failing with "Couldn't connect to remote machine""
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/7565/consoleText
[code]
cc: @danmosemsft, @hughbe

[2017-05-08 12:58] stephentoub commented on #12993
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/7589/consoleText
[code]

[2017-05-08 13:04] stephentoub commented on #19091
FWIW, this passes for me when I run it locally.

[2017-05-08 13:04] stephentoub commented on #18808
FWIW, this passes for me when I run it locally.

[2017-05-08 13:10] svick commented on #19451
@deinok

The C signature of the method you linked to is:

[code]

If you wanted to translate that to C# literally, it would probably be:

[code]

Such method would hard to use from C# and very likely not acceptable (no OOP, no enum, using `IntPtr`, etc.).

So, it seems you're okay with making some changes to make the method signature more in line with C#. Then why is changing from `(void*, size_t)

[2017-05-08 13:11] Tratcher commented on #19469
Looks like Stream.Length is the problem: https://github.com/aspnet/HttpAbstractions/blob/87cd79d6fc54bb4abf07c1e380cd7a9498a78612/src/Microsoft.AspNetCore.WebUtilities/FileBufferingReadStream.cs#L151
The buffering stream doesn't know the whole length until it completes buffering, so it returns the current length of the buffer. HttpContent uses Stream.Length for ContentLength if you haven't set one

[2017-05-08 13:13] stephentoub commented on #19469
Should it instead use _inner.Length if _inner is seekable?

[2017-05-08 13:16] Tratcher commented on #19469
It already knows inner is not seekable:
https://github.com/aspnet/HttpAbstractions/blob/6ffac0c722b1d71837d438f22da58aefddd6caac/src/Microsoft.AspNetCore.Http/Internal/BufferingHelper.cs#L49

[2017-05-08 13:16] wdnijdam commented on #13504
I had this issue when running .net core code for framework version 4.6.2 on a machine with version 4.5.2 installed. Advise: check the .net framework version on your machine.
Check the version: https://msdn.microsoft.com/en-us/library/hh925568(v=vs.110).aspx

[2017-05-08 13:18] stephentoub commented on #19469
Ah.  In that case it seems wrong that FileBufferingReadStream returns true from CanSeek before it's been fully buffered; code like this will query CanSeek to determine whether it can use and trust the Length, but in this case the Length is wrong until it's been fully buffered.

[2017-05-08 13:26] ism commented on #19441
@robertledinski can you attach fiddler log of your requests, please?

[2017-05-08 13:30] Tratcher commented on #19469
Yeah, this stream is pushing the capabilities of what the Stream contract can describe. It can Seek, but only over the buffered data, and it doesn't know how long the final data will be. There's also nothing in the contract about weather the values of CanSeek or Length can change during the lifetime of an instance. MemoryStream's Length can change as you write to it, and so can FileStream's. Strea

[2017-05-08 13:33] stephentoub commented on #19474
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/7566/

[2017-05-08 13:37] GSPP commented on #699
I have used this primitive in a more fleshed out form for years now. It should be possible to pick sensible policies and make this into a stable API. There are not that many policies to pick at all. When I wrote this I found the design to be almost forced.

For example the DOP *must* be specified by the caller since there are no good heuristics *possible* for IO work. Even hill climbing would not

[2017-05-08 13:37] stephentoub commented on #19469
Why not just make the condition also based on whether the stream is already a FileBufferingReadStream?

[2017-05-08 13:39] Tratcher commented on #19469
That assumes it doesn't get wrapped for any other reason.

Besides, disabling CanSeek would also prevent people from seeking over the buffered data.

[2017-05-08 13:42] GSPP opened #19476 "Reduce the number of items in a PLINQ query that are kept alive with respect to the GC"
PLINQ queries apparently keep up to twice the number of items alive that they must. This is problematic with very big items (such as big batches of smaller work items or images).

Please take a look at the results of this measurement. I run with DOP 4 yet up to 8 items are kept alive.

    public static void RunTest()
    {
        var degreeOfParallelism = 4;

        Console.WriteLine($"degreeOf

[2017-05-08 13:50] robertledinski commented on #19441
@ism It seems I was using https and my proxy server was configured to use http. Fiddler couldn't see it, but wireshark did. Thank you very much for help. Problem was in property IsBypassed was set to true.

[2017-05-08 13:50] #19441 closed

[2017-05-08 14:18] stephentoub commented on #19469
Such as?  In what situation would you want to double-wrap so as to get double-buffering?

That's fair, though you'd know better than I how desirable it would be to seek on the buffered data before it was fully buffered; seems pretty niche, but maybe not.

Anyway, doesn't seem like there's any code change that should be made here to HttpClient.

[2017-05-08 14:18] #19469 closed

[2017-05-08 14:20] stephentoub commented on #699
Yeah, I really need to make time to do that.  I'm adding it to my list.

[2017-05-08 14:54] eerhardt commented on #19231
The thing that controls it at runtime is the `runtimeconfig.json` file for your app.  Normally when you have this in your `project.json`:

[code]

that turns into:

[code]

in your runtimeconfig.json file.  This tells the `dotnet` host to use the `1.1.0` or higher version of the shared framework to run your application.

I'm not familiar with Amazon Lambda, but if your `project.json` says `'type':

[2017-05-08 15:02] karelz commented on #18976
@dannyb2100 people tend to post gists and provide link publicly, so that anyone can jump in. Any chance to do that?

[2017-05-08 15:04] stephentoub commented on #19466
The log is missing all information after the tests started:
[code]
That suggests that either a) the tests hung, b) the tests crashed and Helix didn't capture the relevant output, or c) something else is wrong with the infrastructure.  It's difficult to diagnose the actual problem from the lack of info.

[2017-05-08 15:10] karelz commented on #4100
We're blocked on API review -- see [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md). It will happen in Tue meeting, either next week or some week after (depends on how many API proposals we will have to review).

[2017-05-08 15:29] Tratcher commented on #19469
Except improvements to the error messages...

[2017-05-08 15:50] karelz commented on #12993
Given the low frequency, I'm fine with moving it to Future.
@JeremyKuhne @ianhays thoughts?

[2017-05-08 15:57] tarekgh commented on #18976
[coreFx-tarekgh-master.zip](https://github.com/dotnet/corefx/files/984080/coreFx-tarekgh-master.zip)

[2017-05-08 15:58] tarekgh commented on #18976
@gkhanna79 could you please have a look at the attached zip?

[2017-05-08 16:04] weshaggard commented on #2249
@ViktorHofer this isn't something that would be fixed in the standard repo. If we were to take a fix for this, which I'm not convinced we should, then it would need to happen in the corefx repo.

[2017-05-08 16:08] weshaggard commented on #19427
Yes I think this issue can be closed and instead tracked with https://github.com/dotnet/buildtools/pull/1462 as it provides a way to make sure we can add additional xunit options without messing with the default ones we calculate.

[2017-05-08 16:08] #19427 closed

[2017-05-08 16:12] stephentoub commented on #18806
FWIW, I'm unable to reproduce this locally.

[2017-05-08 16:12] ViktorHofer commented on #2249
I see, thanks for enlighten me

[2017-05-08 16:18] bartonjs commented on #19260
Okay... here's what I know.

The certificate is this:
[code]

Which pretty-prints as:
[code]

On dci-mac-build-091 it is registered as an admin trust (`security dump-trust-settings -d` =>

[code]
)

The trust settings for the user and system do not indicate that there's a deny rule to conflict with the root trust rule.  But, the verify-certificate command does say it isn't trusted:

`security veri

[2017-05-08 16:19] svick commented on #699
I think the way to go about doing that is:

1. Open source the existing ParallelExtensionExtras code, either in a dedicated repo or in something like corefxlab.
2. Update it to .Net Standard.
3. Move worthwhile parts to corefx, going through the normal API review process.

Step 1 *has to* be made by someone from MS (because ParallelExtensionExtras are currently licensed under Microsoft Limited Pub

[2017-05-08 16:22] #19420 closed

[2017-05-08 16:23] ViktorHofer commented on #19462
I can't repro this locally :/

[2017-05-08 16:26] stephentoub commented on #16433
@OmarTawfik, you marked this as "up for grabs".  Does it need to be fixed for 2.0?  If so, someone from your team should focus on it rather than it being "up for grabs", as ZBB is in a couple of days.  If not, it should be moved out of the 2.0 milestone. Thanks.

[2017-05-08 16:32] gkhanna79 commented on #18976
@ramarag Can you PTAL?

[2017-05-08 16:33] #19456 closed

[2017-05-08 16:33] #19458 closed

[2017-05-08 16:33] stephentoub opened #19480 "Win7 test legs failing in Jenkins"
With errors like this:
[code]
cc: @danmosemsft, @ellismg

[2017-05-08 16:36] #19467 closed

[2017-05-08 16:40] danmosemsft commented on #19480
What is `packer.cs` and why was it built on Matt's machine? What changed here recently?

[2017-05-08 16:41] MichalStrehovsky commented on #19295
@Pzixel The API surface around custom attributes was designed to also work in situations where running the constructor of the custom attributes is undesirable ([reflection-only load](https://msdn.microsoft.com/en-us/library/ms172331(v=vs.110).aspx)). People also have other reasons why they don't want to actually allocate an instance of the attribute - they just want to read some additional piece o

[2017-05-08 16:42] #19470 closed

[2017-05-08 16:43] stephentoub commented on #19480
Not sure how recent it is... looks like they've been failing for weeks!
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/

[2017-05-08 16:51] #19461 closed

[2017-05-08 17:01] davidsh commented on #19469
The error message is coming directly from WinHTTP error strings that we grab. In general, when we get an error back from WinHTTP, we will grab the error message string from WinHTTP.dll and use that in our exception message.

I agree this scenario should be better in terms of error strings...perhaps we can detect this scenario and create a better outer exception message.

[2017-05-08 17:02] davidsh commented on #8947
We might have tests for this already...but we're probably already skipping them on Desktop.

[2017-05-08 17:04] danmosemsft commented on #18808
@brianrob before 5/10 please either fix or close or move to Future. Since the test is already disabled, there is no need to do anything for 2.0 unless you believe the test is demonstrating a concerning compat break.

[2017-05-08 17:04] Yutsa commented on #8951
@fogzot Oh it actually worked ! I used Jessie's version of libcurl 3 and I managed to create, restore and run the app !

I don't really understand why but I won't complain !

Any way to make a wiki or something to explain all steps needed to be able to use .NET Core on Debian Stretch ? I had to look several issues to know I had to download several packages and so on.

Thanks !

[2017-05-08 17:04] danmosemsft commented on #18806
@brianrob moved to Future based on it not being a core failure && @stephentoub  not reproducing.

[2017-05-08 17:04] danmosemsft commented on #18808
Actually moved to Future based on it not being a core failure && @stephentoub  not reproducing.

[2017-05-08 17:05] danmosemsft commented on #18201
@safern since this is desktop only, in a less critical API, and seems likely a flaky test, moved to future.

[2017-05-08 17:06] danmosemsft commented on #17220
@mellinoe did you fix the prereq?
@krwq do you have cycles to pick this up before Wed? If so please assign to yourself.

[2017-05-08 17:07] danmosemsft commented on #19238
@bartonjs ?

[2017-05-08 17:09] bartonjs commented on #19238
Probably net462?

[2017-05-08 17:10] #16748 closed

[2017-05-08 17:11] bartonjs commented on #14354
@CyrusNajmabadi The problem is that if we extend our current notions of compatibility into the future we find that once this type ships it can't ever change (unless we find that the algorithm is horribly broken in an "it makes all applications attackable" manner).

Once can argue that if it starts off as a stable-randomized manner that it becomes easy to change the implementation, since you couldn

[2017-05-08 17:12] stephentoub commented on #8947
https://github.com/dotnet/corefx/blob/e9318bc16cffe22dbc5b384222ffc0445aff0240/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L523

[2017-05-08 17:13] danmosemsft opened #19483 "CoreFX Jenkins badges reflect last completed build results: need badges that show status of last build of any kind"
Eg for Win7 right now the badge shows last completed results: `https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/lastCompletedBuild/testReport/`. That's handy for seeing results because it ignores in progress builds.

However if the build does not complete (possibly for some days) this does not show up.

We should probably add badges showing build status, not ju

[2017-05-08 17:13] safern commented on #19091
@stephentoub it is a flaky test, it doesn't fail on every build. I can't get a local repro either.

[2017-05-08 17:13] bartonjs commented on #19447
@karelz With the supported OS table updates you did I think we can just close this as a pointer to that.  Us not having support for OpenSSL 1.1 is one of the things making Arch not work, but there are other, ongoing limitations.  (Or we can call it a dupe, but since "resolve as duplicate" isn't a github feature, it doesn't really feel like we need to make the distinction)

[2017-05-08 17:14] danmosemsft commented on #19480
@stephentoub I watch the badges every day -- looks like the problem is that they reflect  `.../lastCompletedBuild/testReport/` and that last completed build could be a while ago.

I opened https://github.com/dotnet/corefx/issues/19483 to add separate build badges.

Meanwhile, Helix has been covering Win7 for us, and it looks like the latest debug build worked:
https://ci.dot.net/job/dotnet_corefx/

[2017-05-08 17:15] davidsh commented on #8947
And we are already "skipping" the test on Full Framework:

[code]

[2017-05-08 17:16] danmosemsft commented on #19474
@ViktorHofer want to take a look? 49e936e should have protected against this.

[2017-05-08 17:18] danmosemsft commented on #18964
@weshaggard @zhenlan

[2017-05-08 17:18] danmosemsft commented on #19238
@safern assigned to you..

[2017-05-08 17:18] safern commented on #18201
Thanks @danmosemsft the test is already disable so sounds reasonable.

[2017-05-08 17:19] danmosemsft commented on #19480
@ellismg can you speak to `packer.cs` please?

[2017-05-08 17:19] lmolkova commented on #19280
@danmosemsft yes, it should be fixed with #19333

[2017-05-08 17:20] safern commented on #8947
So then there is no test that needs to be skipped related to this issue? Thanks for pointing out.

[2017-05-08 17:21] lmolkova commented on #19280
@danmosemsft it seems I cannot close this issue, probably because I did not create it and do not have permissions to do so. Could you please close it?

[2017-05-08 17:22] stephentoub commented on #19480
I never look at /lastCompletedBuild/testReport... I click on the badge and then immediately delete that part of the URL because I don't find that testReport nearly as useful as the actual build number and the consoleText.

And I was referring to the sidebar that shows the last N builds, many/most of which failed for the last few weeks.  I didn't look at each individual one... it does look like som

[2017-05-08 17:25] weshaggard commented on #19439
Unfortunately I think there are a number of things missing from the compatibility package as it wasn't really intended for this purpose. We should have much better support for this sort of thing with .NET Core 2.0 (inbox without the compatibility package).

Can you try out your scenario with the dogfooding instructions for 2.0 tools?  https://github.com/dotnet/corefx/blob/master/Documentation/proj

[2017-05-08 17:32] danmosemsft commented on #19435
It seems https://github.com/dotnet/corefx/issues/15018 did not attempt to make this test more robust wrt ping6 issues. In product, we should already catch and throw PingException, which is better than ArgumentOutOfRangeException or similar. I'm not sure what coudl be done to the test except possibly retries (other issue hypothesized too many pings at once). It's apparently a ping6 bug.

[2017-05-08 17:32] danmosemsft commented on #19413
@ericstj is this 2.0?

[2017-05-08 17:35] danmosemsft commented on #19162
@bartonjs make sense to update the message? seems to match the code.

[2017-05-08 17:35] qbm5 commented on #1880
@pitmeinl   Your code example has disappeared off the web (getting a 404 error).  Can you re-upload it.  I am hoping it will help solve an issue im having

[2017-05-08 17:38] krwq commented on #17220
@danmosemsft - I can't 100% sure say I'll have cycles before Wed

[2017-05-08 17:38] ericstj commented on #19413
It's a general improvement.  Not must have for 2.0.

[2017-05-08 17:40] davidsh commented on #13298
I think we should close this issue.  It is has morphed into many different root causes even though the same test is sometime failing.

This particular exception

---- System.Net.Http.WinHttpException : The handle is in the wrong state for the requested operation

has not been seen recently.

[2017-05-08 17:45] CIPop commented on #19374
@stephentoub @danmosemsft I'm still missing something: how is this supposed to work if the exception is thrown?
There are several asserts that the tests make on the return of this exe.

One of the tests returned
[code]

Where did the exe take the 134 int and what does it mean?

[2017-05-08 17:46] CIPop commented on #19427
@weshaggard Isn't this the same as #19423? That one seems to run during outerloop according to @danmosemsft .

[2017-05-08 17:49] stephentoub commented on #19374
If an exception is thrown and goes unhandled, the remote exe crashes, and it won't have 42 as its exit code, but rather whatever exit code gets assigned by the runtime/OS.

As I noted in my comment on the other issue/thread, 134 as the exit code is generally what you get from a .NET process exiting with an unhandled exception or with an abort() or a failed native assert(), as all of these trigger

[2017-05-08 17:50] stephentoub commented on #19374
And if you mean how is exitCode supposed to be assigned when the exception is thrown, it's not... the exception gets re-thrown and exitCode is never read, so it's never used unassigned.

[2017-05-08 17:51] danmosemsft commented on #19119
This is not going to be done for ZBB if we are to get it right.

[2017-05-08 18:00] karelz commented on #17619
Another update: https://twitter.com/ziki_cz/status/861641617865711616
Only 3 days left before 5/10 (end of day)

So far only 15 bugs are marked as Post-ZBB (documentation bugs, infrastructure issues and couple of late small features based on feedback from community).
We will slip few Networking issues past 5/10.

[2017-05-08 18:01] CIPop commented on #19427
Disregard the last comment. It wasn't clear to me what the issue was.

__Workaround__:

`msbuild /t:rebuild,test /p:Outerloop=true`

Do not add any other options as they will interfere with test execution.

[2017-05-08 18:03] Priya91 commented on #19437
Thanks @hughbe for reporting the bug, @davidsh / @CIPop The behavior exists on desktop as well, FYI.

Considering httplistener as legacy and fixing the behavior on .NET Core, and taking back the changes to desktop with quirks is not valuable in this case in my opinion. @davidsh / @CIPop Can provide more info.

[2017-05-08 18:08] CIPop commented on #19423
@weshaggard @danmosemsft This is identical to #19427. The same workaround fixes the issue (running `msbuild /t:rebuild,test /p:Outerloop=true` will not have any errors).

@danmosemsft  I didn't see any errors when running e2e testing.

Duplicate to #19427, dotnet/buildtools#1462

[2017-05-08 18:08] #19423 closed

[2017-05-08 18:10] svick commented on #14354
@bartonjs What makes hashing different from all the places where .Net provides you with black box algorithm or data structure? For example, sorting (introsort), `Dictionary` (array-based separate chaining), `StringBuilder` (linked list of 8k chunks), most of LINQ.

[2017-05-08 18:10] #19280 closed

[2017-05-08 18:11] safern commented on #19280
Thanks @lmolkova for clarifying :)

[2017-05-08 18:17] VSadov commented on #16433
@Jiayili1 - did the test fail on a particular platform or it is failing in general?

[2017-05-08 18:19] CIPop commented on #19428
Thanks for looking into this @stephentoub !

You're right: the deterministic way to achieve graceful termination requires all parties to `shutdown` at least their side causing the other side's `read` to return 0 (EOF).
I'm not 100% sure but I think the time set here is likely the cause: `client.LingerState = new LingerOption(true, LingerTime);` which will wait 10 seconds (`LingerTime`) until Close

[2017-05-08 18:21] VSadov commented on #18966
We should use conditional compilation and make Debug use bigger stack - like 512. It is known that Debug needs more stack.

[2017-05-08 18:26] CIPop commented on #19374
Sorry I completely missed this comment here: https://github.com/dotnet/corefx/pull/19323#issuecomment-299360798

In this case, I would like us to reconsider and have a clear message/return code that in the case of an exception being thrown. The exception should also be captured and somehow returned to the XUnit process so that we can see exactly what failed without going through the logs.

[2017-05-08 18:28] stephentoub commented on #19374
This would need to be optional... a variety of existing uses rely on this behavior by design to actually test crashing behavior, fail fast behavior, etc.

[2017-05-08 18:31] CIPop commented on #19374
I remember opening some bugs regarding that too: I keep getting WinDBG/procdump collecting dumps whenever I run the full build-suite. If crashing behavior needs to be tested a debugger should be involved to avoid creating noise for both developers and the OS crash-collection systems.

[2017-05-08 18:33] stephentoub commented on #19374
I'm not aware of anyone else having issues with it, potentially due to how your machine is configured.  Regardless, if you'd like to make improvements to the tool, you're welcome to.

[2017-05-08 18:35] Priya91 commented on #19306
@bartonjs Should we block using httpclient on systems which use libcurl with openssl/1.0? Should we throw PNSE from SetSslOptions [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/OSX/CurlHandler.SslProvider.cs)

[2017-05-08 18:42] Pzixel commented on #19295
@MichalStrehovsky I agree that expirience should be consistent.

But it's totally possible to be done with Expressions/Reflection/... , it's just not this easy as I expected before. If people don't want to allocate an instance - then ok, inspect its code via reflection, but gods, you must specify all required code in body even if you want to inspect it instead of executing.

Thus, even if we want

[2017-05-08 18:42] schen381 commented on #19428
Looks similar to this issue here: https://github.com/dotnet/corefx/issues/13114#issuecomment-290554256. I will try to repro on my machine.

[2017-05-08 18:43] CIPop commented on #19374
The repro is simple: enable any sort of post-mortem debugger (I have WinDBG on one box and ProcDump on another but VS or anything else should catch the crash) and you will see the debugger kick in during `build-tests -outerloop`.
I can't fix this myself because, as you say, it's in-use by others. The problem is more on the lines of what is and what is not OK to do during test runs... I was talking

[2017-05-08 19:08] ianhays commented on #16688
The last recorded instance of a test failing in this manner was on 4/21. With the additional logging provided by #18868 that specifies whether this is (probably) an issue with the Remote*exe being unavailable, I feel comfortable pushing this back to Future at least until we get another failure to see if #18868 is hit.

The alternative would be to go ahead and add a retry mechanism to the current F

[2017-05-08 19:31] ViktorHofer commented on #19474
Yeah, investigating...

[2017-05-08 19:35] natemcmaster opened #19489 "Linux: cannot decrypt EncryptedXml document that uses X509Certificate as the key"
#### Repro
Create a test certificate, such as https://github.com/aspnet/DataProtection/blob/dev/test/Microsoft.AspNetCore.DataProtection.Extensions.Test/TestFiles/TestCert.pfx
[code]

#### Error:
[code]

#### Details
Using: Microsoft.NETCore.App: 2.0.0-preview1-002101-00
OS: Ubuntu 16.04

[2017-05-08 19:38] pitmeinl commented on #1880
Fixed.

From: qbm5 [mailto:notifications@github.com]
Sent: Montag, 8. Mai 2017 19:36
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Peter Meinl <pit@petermeinl.de>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Add event buffering to Windows FileSystemWatcher to avoid InternalBufferOverflowExceptions (#1880)

@pitmeinl<https://github.com/pitmeinl> Your code example has disap

[2017-05-08 19:39] danmosemsft commented on #19423
OK thanks, I'll look at that dupe when i have cycles.

[2017-05-08 19:40] #16175 closed

[2017-05-08 19:41] danmosemsft commented on #19474
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/7592/

[2017-05-08 19:43] ViktorHofer commented on #19474
The check if PerfProc counters are disabled is implemented correctly. See here: https://support.microsoft.com/en-us/help/2554336/how-to-manually-rebuild-performance-counters-for-windows-server-2008-64bit-or-windows-server-2008-r2-systems

The problem is that the Registry check say they are enabled but in fact when running the code they aren't enabled. We can't really change anything about that. In

[2017-05-08 19:43] weshaggard commented on #19420
Your tests didn't hit this because they are building against netstandard so they didn't use the netfx ref for this library and so there wasn't any duplicated types issue in that context.

[2017-05-08 19:44] danmosemsft commented on #19466
@stephentoub if you look at the .py file on the same page, it indicates it hung:
`2017-05-07 18:55:51,050: ERROR: executor(325): _execute_command: Executor timed out after 1200 seconds and was killed.`

We do not get dumplings in such cases apparently. All we could do is attempt to repro possibly with the Helix repro tool.

[2017-05-08 19:48] natemcmaster commented on #3690
Has there been any more discussion or progess on designing this feature? I hit this limitation while prototyping support for certificates + encrypted XML with ASP.NET Core's data protection libraries.

See also: https://github.com/dotnet/corefx/issues/19489

[2017-05-08 19:49] qbm5 commented on #1880
Thank you

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Peter Meinl <notifications@github.com>
Sent: Monday, May 8, 2017 3:38:34 PM
To: dotnet/corefx
Cc: qbm5; Comment
Subject: Re: [dotnet/corefx] Add event buffering to Windows FileSystemWatcher to avoid InternalBufferOverflowExceptions (#1880)

Fixed.

From: qbm5 [mailto:notifications@github.com]
Sent: Mo

[2017-05-08 20:09] VSadov commented on #18966
Actually, looking in more details at the bug reports, it seems that it is a problem with TryEnsureSufficientExecutionStack, since a similar test with much larger stack (CompileDeepTree_NoStackOverflow) also fails.

In such case there is no point in increasing stack, since the probing for remaining stack is not working.

[2017-05-08 20:13] VSadov commented on #18966
@gkhanna79 - since this  looks like an issue with behavior of `TryEnsureSufficientExecutionStack` in debug, where should this go?

[2017-05-08 20:14] bricelam opened #19492 "SqlClient: Allow |DataDirectory| macro in AttachDBFilename"
Now that .NET Standard 2.0 includes `AppDomain.GetData`, there shouldn't be anything blocking the implementation to expand the `|DataDirectory|` substitution string in the `AttachDBFilename` value of the connection string.

[2017-05-08 20:16] shmao commented on #18682
@brentschmaltz we've added the implementation for canonicalization on NetCore by https://github.com/dotnet/corefx/pull/19378. Can you please give it a try and see if it unblocks your development for wsfed?

[2017-05-08 20:21] krwq commented on #19272
The difference is caused by removing method which would always throw on CoreFx and handling the error correctly (because CAS related constructor `EncryptedXml..ctor(XmlDocument, Evidence)` is missing). Desktop is incorrectly handling the exception as it should check if evidence is not null and throw CryptographicException instead of letting underlying code throw because of null value.

Removed cod

[2017-05-08 20:23] gkhanna79 commented on #18966
What is the issue with API? It was designed (with a basic heuristic) for basic CER scenarios and not for determining (dynamically) available stack space.

[2017-05-08 20:39] danmosemsft commented on #19474
If that's the best we can do, I guess it's what you have to do.

[2017-05-08 20:48] VSadov commented on #18966
@gkhanna79    the `TryEnsureSufficientExecutionStack` API is used as a general way of probing for the available stack space. For example in the `async` machinery - https://github.com/dotnet/coreclr/blob/0623eb3c85078d84284e5c75eab1ce978ede62f7/src/mscorlib/src/System/Threading/Tasks/Task.cs#L6477

Are we not supposed to use it in this way?

CC; @stephentoub

[2017-05-08 20:50] tarekgh commented on #19450
The ask is reasonable.

we can add extra value to

[code]
Something like `Iso`

here is a link for some useful info too.

https://blogs.msdn.microsoft.com/shawnste/2006/01/24/iso-8601-week-of-year-format-in-microsoft-net/

[2017-05-08 20:52] ellismg commented on #19480
Packer was a tool I built in the past to de-dupe the output that we were shuttling across machines.  In the past, we did not build the test on all platforms and so we needed to copy all the built artifacts to other machines for testing (this is how we handled Nano and Linux).  Also, at that time every single test got its own copy of the runtime and libraries (instead of running against a shared co

[2017-05-08 20:55] krwq commented on #19270
@bartonjs I was trying to run this test on new desktop 4.5.2 project and getting compile errors:
- X509Certificate2 does not implement IDisposable
- X509Certificate2.GetRSAPrivateKey extension does not exist (even after adding reference to netstandard2.0)

is this expected?

I'm also not sure I understand `if (key is RSACryptoServiceProvider)` - what's the proper way to write this test then? Here

[2017-05-08 20:59] ianhays commented on #19444
This check can't pass on 32 bit systems. The purpose of the test is to make the `PositionPointer` setter cast `ulong.MaxValue` to a `long`, producing `-1` which will always be less than the UMS pointer so the final `newPosition` will be negative.

On a 32 bit system where the pointer length is 4, the max value passable to the `PositionPointer` setter is `uint.MaxValue`. So in the test when we cast

[2017-05-08 21:01] krwq commented on #19420
@weshaggard so if we expect netfx apps work when referencing netstandard libraries should we at least try to build it this way in the CI?

[2017-05-08 21:01] jkotas commented on #18966
TryEnsureSufficientExecutionStack ensures probes for available stack space for *typical* function. The test is not using it for typical function (100x nested Add is not typical), and that's why it does not work well.

[2017-05-08 21:03] jkotas commented on #19444
I agree with your analysis.

[2017-05-08 21:05] jcouv commented on #17960
@weshaggard Is there a place we published this modified package (I could not find it on myget), or do I have to build it locally?

[2017-05-08 21:09] krwq commented on #19269
@bartonjs could we possibly be missing sha2 algorithms on this desktop implementation? Is it ok if I probe CryptoConfig on desktop to check if they are there or should we find some better way? I do not have local repro for this.

[2017-05-08 21:11] #19260 closed

[2017-05-08 21:11] weshaggard commented on #17960
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.ValueTuple/4.4.0-preview1-25305-02

[2017-05-08 21:13] karelz commented on #19450
So we need formal API review - see [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

@Sire interested?

[2017-05-08 21:14] weshaggard commented on #19420
We need it to work in both configurations and it is just a matter of cost to build all combinations in CI. We have a similar issue about doing these type of builds in outerloop https://github.com/dotnet/corefx/issues/15667

[2017-05-08 21:17] Priya91 commented on #16201
Been reading curl docs around this failure, and since we don't support ssl scenarios with nss as backend, one option will be to point the cert database to an empty dir location with SSL_DIR env variable, then it should bypass the nss db load initialization [here](https://github.com/curl/curl/blob/a40f58d/lib/nss.c#L908)

[2017-05-08 21:19] stephentoub commented on #16201
We do.  We just don't support customizing them, e.g. using a cert validation callback, enabling revocation checking, etc.  But you can certainly use HttpClient with such a backend to connect to https endpoints.

[2017-05-08 21:20] VSadov commented on #18966
@jkotas  compiler compiles expressions recursively and will probe for sufficient stack for every Add.

100x is just the way to cause the recursion in the test, but not impossible in the actual source. It could be hit by compiling something like "x1 + x2 + x3 + x4 +...+ x100"

What we have here is the same stack-probing pattern as in async.  If we have problems here we might also have problems with

[2017-05-08 21:30] jcouv commented on #17960
Thanks. I was looking for "corefx" :-s
I ran a few simple scenarios with .Net 4.6. Seems ok.

Did run into a weird issue with PdbReader crashing when opening a simple assembly from a .NET Standard 1.0 project with a reference to ValueTuple package: https://github.com/dotnet/roslyn/issues/19352

[2017-05-08 21:30] #17960 closed

[2017-05-08 21:32] Priya91 commented on #19307
I'm not that familiar with this code base, need to debug the test for rootcause. cc @geoffkizer who's worked in this area before might have more data.

[2017-05-08 21:32] jkotas commented on #18966
It is not what happens once this hits the JIT. Check the failing stacktrace above. It has the following two frames nested *many* times:

0xb19879ec in Compiler::fgMorphTree (this=0x80b3a20, tree=0x80ba2a8, mac=0x0) at /home/maxwell/netcore/coreclr/src/jit/morph.cpp:14681
0xb199c320 in Compiler::fgMorphSmpOp (this=0x80b3a20, tree=0x80ba368, mac=0x0) at /home/maxwell/netcore/coreclr/src/jit/morph.cp

[2017-05-08 21:36] davidsh commented on #19466
Is this failing on Windows or *Nix ?  It wasn't clear from the labels on this bug.

[2017-05-08 21:51] bartonjs commented on #19269
In order to repro it you'll need a machine which doesn't have net462 or net47 installed (just net461).

Probing CryptoConfig when on netfx seems reasonable.

[2017-05-08 21:58] bartonjs commented on #19270
@krwq Why net452? netstandard20 is net461, we don't support any lower than that.

The problem is https://referencesource.microsoft.com/#mscorlib/system/security/cryptography/rsapkcs1signatureformatter.cs,65.  In net461 we didn't have the (middle) else-if.  So it went from RSACryptoServiceProvider straight to RSA.DecryptValue (which has never been implemented by a .NET type).

So the whole RSA sign

[2017-05-08 22:01] EltonAlvess commented on #17099
Someone can explain about the issue? So, maybe i can help as well

[2017-05-08 22:04] #19444 closed

[2017-05-08 22:06] bartonjs commented on #19489
Why are you adding the certificate to the machine root store?  I don't think there's anything in the EncryptedXml flow which does chain trust, it just uses the certificate as an indirection to get at the private (or public) key.

[2017-05-08 22:10] bartonjs commented on #19489
But the problem here seems to be that the `catch` in EncryptedXml (http://source.dot.net/#System.Security.Cryptography.Xml/System/Security/Cryptography/Xml/Utils.cs,683) caught just CryptographicException, and we threw PNSE.  So we should catch the PNSE.

[2017-05-08 22:11] karelz commented on #17099
The idea is to look at the API surface in the package - look at the tests and [code coverage report](https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/) (linked from [main page](https://github.com/dotnet/corefx#build--test-status)).
Then pick a class starting with System.Net,Security (just search on the code coverage report page), learn how to use it (e

[2017-05-08 22:12] pjanotti commented on #19366
Here is my starter proposal:

At https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.canwrite?view=netframework-4.7

Add one sentence to the existing paragraph so in the end it will read:

At https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.flush?view=netframework-4.7

Add the paragraph below right after the first paragraph (under remarks):

[2017-05-08 22:13] safern opened #19499 "System.Diagnostics.Tests.ProcessTests flaky tests"
I've seen the following tests failed in two different PRs today:

System.Diagnostics.Tests.ProcessTests.TestProcessOnRemoteMachineWindows
System.Diagnostics.Tests.ProcessTests.GetProcessesByName_RemoteMachineNameWindows_ReturnsExpected(machineName: \"3556bb7131de4d6ab3e7ada117d07ac9\")
System.Diagnostics.Tests.ProcessTests.GetProcessesByName_RemoteMachineNameWindows_ReturnsExpected(machineName: \"

[2017-05-08 22:13] bartonjs commented on #3690
@natemcmaster Nope, it remains a difficult to reason-out problem; because it's really an OS feature of Windows (and macOS).  But, as I commented in your other issue, the problem isn't in X509Store per-se, but in EncryptedXml not handling the failure as gracefully as it handles other failures.

[2017-05-08 22:14] karelz commented on #17099
Here are our [New contributor docs](https://github.com/dotnet/corefx/wiki/New-contributor-Docs#main-page-section-content) - we're actively working on them with @haralabidis, so feel free to help us improve them, or ask questions about them. You can use [gitter](https://github.com/dotnet/corefx#community) to ask questions online (someone experienced is usually around), or you can ask here on this i

[2017-05-08 22:14] stephentoub commented on #19499
https://github.com/dotnet/corefx/issues/19474

[2017-05-08 22:15] #19499 closed

[2017-05-08 22:15] safern commented on #19499
Thanks for pointing out.

[2017-05-08 22:15] safern commented on #19474
Failed again:

https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/7609/

[2017-05-08 22:15] bartonjs commented on #19162
@steveharter I don't suppose you remember why we have a mismatch between the code and the string here?  Did one of the platforms consider cofactor required but another didn't?

[2017-05-08 22:16] natemcmaster commented on #19489
@bartonjs using root store just for the sake of reproducing the issue. I'd rather use 'My' or 'LocalMachine', but they are not supported.

FWIW EncryptedXml.DecryptDocument fails no matter what store the cert is in.

[2017-05-08 22:22] krwq commented on #19270
@bartonjs - my bad with 4.5.2 🤦‍♂️ I've sent a PR disabling that test

[2017-05-08 22:30] EltonAlvess commented on #17099
i already accepted. Thanks! i will check the documentation!

[2017-05-08 22:46] karelz commented on #17619
Quick update on our short-term plans:
* We will likely do the final integration into release/2.0.0 branch on **Monday 5/15** (to stabilize infra). All PRs which are "on hold" will be "on hold" until then (3 additional business days against original plan).
* core-setup repo will need more churn afterwards to land some infrastructure work necessary for 2.0. We will lock down **core-setup** repo (mas

[2017-05-08 22:59] mqudsi commented on #2576
[We've blogged at length](https://neosmart.net/blog/2017/system-threading-thread-universal-windows-platform-and-the-fragmentation-of-net-standard/) about this issue (and the dangers of fragmenting the still-fragile, nubile .NET Standard ecosystem), and I've also [opened a bug](https://github.com/dotnet/standard/issues/333) regarding the fact that the [Microsoft-provided `System.Threading.Thread` p

[2017-05-08 23:08] #18720 closed

[2017-05-08 23:08] #19081 closed

[2017-05-08 23:27] karelz commented on #16805
We have finalized the plan with @weshaggard: No work is needed in 2.0 branch.

Important notes - cc @davidsh @CIPop (@weshaggard please double-check my claims)
* System.Net.Http **NuGet package** does NOT exist in 2.0 branch anymore (recent work by @ericstj)
* System.Net.Http.dll **assembly** (for Desktop) DOES exist and its assembly version is bumped to 4.2.0.0
  * History of assembly versions of

[2017-05-08 23:27] #16805 closed

[2017-05-08 23:29] VSadov commented on #18966
@jkotas - aaah, I see. It was not the crash while ET compiler compiled the lambda into IL. Likely because the SO-avoidance actually worked. It was the JIT compiler, which is also recursive, while JIT-ting the method body.

I thought the JIT-ting will not happen until we actually execute the delegate, which should be happening on a regular thread with regular stack.
Does it actually JIT when the de

[2017-05-08 23:41] #18666 closed

[2017-05-08 23:42] steveharter commented on #19162
IIRC OpenSsl requires the cofactor but Cng did not for explicit curves. The messages came when designing for Cng, and apparently it was not caught\changed when OpenSsl was added.

So yes the message should be updated.

p.s. according to the "SEC 1" spec in section C.2 "Syntax for Elliptical Curve Domain Parameters" cofactor is optional. However I suppose it could be considered required if someone

[2017-05-08 23:54] steveharter commented on #19307
@stephentoub may be looking at this based on an IM today.

[2017-05-09 00:00] deinok commented on #19451
@svick

That explains the offset var, thanks.
But why is no async method for the two methods i reference in the issue?

[2017-05-09 00:00] weshaggard commented on #16335
@hqueue @gkhanna79 is this work done?

[2017-05-09 00:01] gkhanna79 commented on #16335
@jyoungyun is working on it.

[2017-05-09 00:03] weshaggard commented on #19480
This `netcoreapp-null-Release-x64` looks suspect in the script. We should never have "null", as it should be the OS.

[2017-05-09 00:15] #18715 closed

[2017-05-09 00:15] #18888 closed

[2017-05-09 00:15] #19334 closed

[2017-05-09 00:15] #18823 closed

[2017-05-09 00:15] #19382 closed

[2017-05-09 00:16] stephentoub commented on #19451
There is. @svick cited it. The arguments are just wrapped in an ArraySegment. What functionality are you hoping for that's missing?

[2017-05-09 00:17] bartonjs commented on #19162
Yeah, looks like OpenSSL won't load an explicit key from file if Cofactor is missing.  (Or, at least, can't pretty print it back out).  So we should change the message for now.  If someone wants to come back and figure out how to make OpenSSL auto-calculate the cofactor, that can be done in a future version.

[2017-05-09 00:25] svick commented on #19451
@deinok `ArraySegment<byte>` is effectively the same thing as the three parameters `(byte[] buffer, int offset, int size)`. There should be nothing stopping you from using that.

And `out` parameters don't make sense in async methods, since the parameter has to be assigned before the returned `Task` completes. That can be worked around by returning a more complicated `Task` (e.g. using a tuple: `T

[2017-05-09 00:32] deinok commented on #19451
I miss that async is not compat with out params.

Its not a functionality requirement, its only that if you came from another lang, you expect the the signature i said, not the arraysegment.

Seems like this can be closed.

[2017-05-09 00:32] karelz commented on #19447
Closing per info above

[2017-05-09 00:32] #19447 closed

[2017-05-09 00:41] schen381 opened #19507 "Incorrect usage of LingerTime can cause System.Net.Sockets tests failure"
After investigating into #19428, there is a risk by using LingerState to wait for send/receive operation complete, before dispose the socket.

Because the LingerTime value is arbitrarily set by us, some slow computers may take more time to finish the send/receive operation, so it's possible that some data are still available before we dispose the socket. And in this case, we will use a RST packet

[2017-05-09 00:50] natemcmaster opened #19508 "macOS: cannot add self-signed cert to X509Store CurrentUser\My"
**Repro**
1. Download latest build of .NET Core 2.0.0 preview2 https://github.com/dotnet/cli#installers-and-binaries
1. Create a self-signed cert
   1. `openssl genrsa 4096 > private.pem`
   1. `openssl req -x509 -new -key private.pem -out public.pem`
   1. `openssl pkcs12 -export -in public.pem -inkey private.pem -out mycert.pfx`
2. `dotnet new console` and edit code to match:

[code]
3. `dotnet

[2017-05-09 01:06] mqudsi commented on #2576
To clarify, since this seems to be the place to do so, whether or not `System.Threading.Thread` supports UAP/UWP is one discussion, but we should also be having another (and, imho, more important) discussion about why this package, which does not support UWP, is labelled as being compatible with .NET Standard 1.3.

If the developers of this package at Microsoft decide that UWP will forever be barr

[2017-05-09 01:09] #19272 closed

[2017-05-09 01:14] CIPop commented on #9543
@steveharter Looks like we're seeing multiple issues here. I can repro two failures if I replace the fors with Parallel.For:

[code]

And something very similar to the one above:

[code]

[2017-05-09 01:22] Jiayili1 commented on #16433
@VSadov the test failed on:
•Redhat.72.Amd64
 ◦x64-Debug
in Core Tests

[2017-05-09 01:24] safern commented on #18710
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/testReport/System.Reflection.Tests/AssemblyNameTests/FullName_name____NAME____expectedName____NAME___/

This test is passing and was fixed by: #19178

[2017-05-09 01:24] #18710 closed

[2017-05-09 01:51] stephentoub commented on #19451
Thanks.

[2017-05-09 01:51] #19451 closed

[2017-05-09 01:52] #19306 closed

[2017-05-09 02:23] #19283 closed

[2017-05-09 02:23] #19079 closed

[2017-05-09 02:23] #19080 closed

[2017-05-09 02:23] #19238 closed

[2017-05-09 02:31] zhenlan commented on #18964
I discussed this with @weshaggard and @shmao separately. There is no good solution or workaround.

For 2.0, probably all we can do is to document this. For the long run, maybe CodeDom provider (compiler) on desktop should be updated to be netstarnd aware to solve the issue system wide.

[2017-05-09 02:33] dotnet-mc-bot opened #19511 "Test: ConsoleEncoding/InputEncoding_SetWithInInitialized_ResetsIn and OutputEncoding_SetWithErrorAndOutputInitialized_ResetsErrorAndOutput failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `ConsoleEncoding/InputEncoding_SetWithInInitialized_ResetsIn` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -532462766

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
Build : Master - 20170509.01 (Core Tests)
Failing configurations:
- Windows.10.Nano.Amd64-x64
  - Release

[2017-05-09 02:39] dotnet-mc-bot opened #19512 "Test failure: System.Net.Http.Functional.Tests.HttpClientTest/Timeout_SetTo30AndGetResponseFromLoopbackQuickly_Success"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientTest/Timeout_SetTo30AndGetResponseFromLoopbackQuickly_Success` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The handle is invalid

        Stack Trace:

           at System.Runtime.ExceptionServices.ExceptionDispatchI

[2017-05-09 02:39] dotnet-mc-bot opened #19513 "Test failure: System.Net.Http.Functional.Tests.PostScenarioTest/PostUsingChunkedEncoding_Success(serverUri: https://corefx-net.cloudapp.net/Echo.ashx)"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.PostScenarioTest/PostUsingChunkedEncoding_Success(serverUri: https://corefx-net.cloudapp.net/Echo.ashx)` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The handle is in the wrong state for the requested operation

        Stack Tr

[2017-05-09 02:43] dotnet-mc-bot opened #19514 "Test: System.Net.NetworkInformation.Tests.PingTest/SendPingAsyncWithIPAddressAndTimeoutAndBufferAndPingOptions_Unix failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.NetworkInformation.Tests.PingTest/SendPingAsyncWithIPAddressAndTimeoutAndBufferAndPingOptions_Unix` has failed.

Assert.Equal() Failure
    Expected: Success
    Actual:   TimedOut

        Stack Trace:

           at System.Net.NetworkInformation.Tests.PingTest.<>c__DisplayClass8_0.<SendPingAsyncWithIPAddressAndTimeoutAndBufferAndPingOptions_Uni

[2017-05-09 02:49] #18264 closed

[2017-05-09 02:53] davidsh commented on #19512
@stephentoub

The new "more useful" stack trace stuff is working:

   at System.Environment.get_StackTrace()
   at System.Runtime.ExceptionServices.ExceptionStackTrace.AddCurrentStack(Exception exception)
   at System.Net.Http.WinHttpException.CreateExceptionUsingError(Int32 error)
   at System.Net.Http.WinHttpException.CreateExceptionUsingLastError()
   at System.Net.Http.WinHttpException.ThrowEx

[2017-05-09 02:54] davidsh commented on #19512
So, I now see where this error message:

is coming from:

at System.Net.Http.WinHttpHandler.SetRequestHandleRedirectionOptions(SafeWinHttpHandle requestHandle)

[2017-05-09 02:56] davidsh commented on #19513
This is the useful information:

Stack trace of error:

   at System.Net.Http.WinHttpHandler.SetNoClientCertificate(SafeWinHttpHandle requestHandle)
   at System.Net.Http.WinHttpHandler.SetRequestHandleClientCertificateOptions(SafeWinHttpHandle requestHandle, Uri requestUri)
   at System.Net.Http.WinHttpHandler.SetRequestHandleOptions(WinHttpRequestState state)

[2017-05-09 02:58] safern opened #19516 "Desktop: "Test System.Runtime.Serialization.Xml.ReflectionOnly.Tests.DataContractSerializerTests.DCS_TypeWithPrivateFieldAndPrivateGetPublicSetProperty" failed"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170509.01/workItem/System.Runtime.Serialization.Xml.ReflectionOnly.Tests

[code]

Stack Trace:
[code]

Seems like a bug in desktop, the difference is how it returns the result in between desktop and core:

#### Core
[code]

#### Desktop
[code]

cc: @shmao @zhenlan

[2017-05-09 02:58] davidsh commented on #19512
And I think this is related to #9228

[2017-05-09 03:09] Jiayili1 commented on #18907
This issue is repro on Portable Core Tests in build 20170509.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170509.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveUdpClient~2FSendToRecvFromAsync_Datagram_UDP_UdpClient(loopbackAddress:%20127.0.0.1)

[2017-05-09 03:10] dotnet-mc-bot opened #19517 "Test: System.Net.Sockets.Tests.SendFileTest/SendFile_APM(listenAt: ::1, sendPreAndPostBuffers: False, bytesToSend: 1024) failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.SendFileTest/SendFile_APM(listenAt: ::1, sendPreAndPostBuffers: False, bytesToSend: 1024)` has failed.

Completed within allowed time
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Net.Sockets.Tests.SendFileTest.SendFile_APM(IPAddress listenAt, Boolean sendPreAndPostBuffers, Int32 bytesToSend) in

[2017-05-09 03:28] danmosemsft commented on #19511
-532462766 = 0xE0434352 is "any managed exception" ..

[2017-05-09 03:29] danmosemsft commented on #19511
More info from execution log:
[code]

[2017-05-09 03:32] danmosemsft commented on #19511
So FormatMessage on whatever code

[2017-05-09 03:40] danmosemsft opened #19518 "Exceptions from RemoteExecutorHost should get into XML log"
We should try to `tee` the console from RemoteExecutorHost so it gets into the XML test log and thus into the correct test result in Helix. As it is you just get eg
[code]
but if you look at the full console output, aggregated for all the tests in this library, you see the actual exception --
[code]

[2017-05-09 03:41] danmosemsft commented on #19511
Test is doing `Console.OutputEncoding = Encoding.ASCII;`. It is expecting success.
That calls `SetConsoleOutputCP(Encoding.ASCII.CodePage)`
Which is apparently returning ERROR_NOT_SUPPORTED at least  `FormatMessage` translates it to `The request is not supported`.

[2017-05-09 03:48] safern commented on #19466
This is happening on Desktop also for System.Net.Requests.Tests

[code]

See: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170509.01/workItem/System.Net.Requests.Tests/wilogs

[2017-05-09 03:58] danmosemsft commented on #19511
Indeed verified on my Nano box that `Console.OutputEncoding = Encoding.ASCII;` produces this result.

[2017-05-09 05:26] Thaina opened #19521 "Standardized Rational object"
This issue was ported from https://github.com/dotnet/csharplang/issues/553

Lately in csharplang whenever we talk about struct feature. Rational struct often came up as an example

And so I think that Rational actually useful. Normally approximate number with float. `3 * (1 / 3f)` is not became what we would expect. Floating point error need to be handled everywhere since we program in C

Most of

[2017-05-09 05:38] karelz commented on #19508
cc @bartonjs

[2017-05-09 05:48] safern commented on #19518
Maybe throwinfg XunitException(message) with the message being the actual exception?

[2017-05-09 08:21] tmds commented on #16201
@karelz @Priya91 @stephentoub Users running on rhel should use the .NET Core packages of rhel which includes a newer version of libcurl and is linked with openssl.

I've provided some libcurl builds that provide debug info which should help find the root cause of this issue. I don't think these are installed on a CI machine.

Perhaps this issue should no longer target 2.0?

[2017-05-09 09:52] #19480 closed

[2017-05-09 10:06] #19438 closed

[2017-05-09 11:24] the-super-coder commented on #2949
Any expected release date for v1.2 or v2, containing TransactionScope?

Thanks

[2017-05-09 11:31] stephenmichaelf commented on #18765
@jlanng Agreed!

@mellinoe Can we change the list to checkboxes? The PR referenced above, #19367 has added tests for Path.cs. Maybe we can add check marks then refer to the PRs to the right of each item as they are done?

[2017-05-09 11:55] svick commented on #19521
My comments:

1. I find it confusing that `Rational64` uses 32-bit integers. Are both `Rational` types actually needed? Maybe having only `Rational128` (renamed to just `Rational`) would be enough?
2. Would a type that can actually represent any rational number (i.e. one using `BigInteger`s for numerator and denominator) be useful?
3. I think that `Irrational` is not a great name, since it can't r

[2017-05-09 12:06] stephentoub opened #19526 "Several new HttpListener tests are failing in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/40/consoleText
[code]
cc: @hughbe

[2017-05-09 12:09] hughbe commented on #19526
Oh dammit. I think the test was meant to make sure that we fail if we can't access (security reasons) a remote domain.

I chose this because I assumed no one would be able to listen to http://microsoft.com/ odd

If this repros consistently could you disable it as I am AFK and won't be able to investigate until the next day

[2017-05-09 12:17] Thaina commented on #19521
@svick Thanks

1 - I just thinking that we use `int` more than `long` in general. 1/3 for example. `epsilon` being `1 / int.MaxValue` might be enough. But well, I agree it confusing so maybe `LongRational` ?

2 - There are `BigRational` proposed #2376

3 - I have research it and think that it's true. That struct should be named `Algebraic` and that algebraic struct should be named with other word

[2017-05-09 13:01] pasikarkkainen commented on #2089
Is anyone currently working on adding the missing tests, or on porting System.DirectoryServices.Protocols to Linux/Mac ?

[2017-05-09 13:10] stephentoub commented on #12993
Happened again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug_prtest/60/
but after investigating further I believe I've got it nailed...

[2017-05-09 14:03] svick commented on #19521
How? Are you saying the array would represent sum of all its elements? Then how would you express ![2^(1/2) * 3^(1/3)](http://latex2png.com/output//latex_09326fa89041f025da89305facd0e6a6.png)?

And I still don't see what is the actual use case for such numbers. If there is one, I would expect it to be very specialized, so it doesn't belong in corefx.

[2017-05-09 14:06] stephentoub commented on #19526
Disabling in #19530

[2017-05-09 14:07] stephentoub commented on #2949
Latest ship details are here:
https://github.com/dotnet/core/blob/master/roadmap.md#ship-dates

[2017-05-09 14:09] davidsh commented on #19526
If we need to create a remote domain that is unique, we should use `new Guid()` etc. so that the DNS name is unique.

[2017-05-09 14:15] Thaina commented on #19521
@svick

2^(1/2) * 3^(1/3) is easy one. it could became (2^(3/6)) * (3^(2/6)) then (2^3 * 3^2)^(1/6)

2^3 * 3^2 is normal number. Powered by (1/6)

[2017-05-09 14:38] jlanng commented on #15160
Hi @karelz, I can look at this.

I'd expect HTTP_PROXY / HTTPS_PROXY environment variables to be respected by the build process.  Would that work?

[2017-05-09 14:48] Sire commented on #19450
@karelz Yes, I'll get started asap.

[2017-05-09 14:49] bartonjs commented on #19508
This is an unfortunate aspect of how macOS is different.

Every loaded certificate+private key has to belong to a keychain, so we make one up for you.  You didn't ask for the key to be exportable, so when it goes to copy it to a different keychain it gets a non-exportability error.

On Windows what you're wanting to do would have required you use the `X509KeyStorageFlags.PersistKeySet` flag, and i

[2017-05-09 14:49] #19508 closed

[2017-05-09 15:09] karelz commented on #19450
Cool. No rush - we will we locked down for new APIs in master until 5/15 - see details in https://github.com/dotnet/corefx/issues/17619#issuecomment-300012102