[2018-09-27 02:02] #31799 closed

[2018-09-27 04:35] sirkadirov commented on #31740
@stephentoub I'll re-try to create a working repro.

[2018-09-27 04:39] geoffkizer commented on #30691
@rmkerr It sounds like you're able to correlate the exact Close that's causing the exceptions, right?

You might be able to figure out what's causing the Close by capturing call stacks for your net events. See here: https://stackoverflow.com/questions/42970508/c-sharp-etw-how-view-call-stack-in-perfview

[2018-09-27 06:40] andrey-kosteley opened #32501 "Method Type.IsAssignableFrom(Type c) call NullReferenceException, when property UnderlyingSystemType = null"
Kind time of day.
Sorry for my English.

Environment:
I have a custom type - "MyType", the heir from the type "Type".
The "UnderlyingSystemType" property of my class is overridden and returns "null".
There is a variable of type "MyType", let's call it "myType_Variable".
And there is a variable of any type, let's call it "anyType_Variable"

A task:
Perform the method - Type.IsAssignableFrom(Type c)

[2018-09-27 06:50] glatzert commented on #32428
The IIS CCS is a file based solution to manage certificates in IIS.
Essentially it's "put your pfx in a folder, name them by FQDN.pfx and IIS will pick them up, if needed."

The StoreFlags _might_ be the missing link, but that's not actionable for me, since the module should be x-plat and X509-Store with machine key set seems very windows-only (as is MMC and Import/Export-PFXCertificate via Powers

[2018-09-27 07:29] #28594 closed

[2018-09-27 07:35] dotnet-mc-bot opened #32502 "Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_ClientCertificates_Test/Automatic_SSLBackendNotSupported_ThrowsPlatformNotSupportedException"
Opened on behalf of @Sunny-pu

The test `System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_ClientCertificates_Test/Automatic_SSLBackendNotSupported_ThrowsPlatformNotSupportedException` has failed.

Assert.Throws() Failure
    Expected: typeof(System.PlatformNotSupportedException)
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Net.Http.Functi

[2018-09-27 07:37] #32501 closed

[2018-09-27 07:45] 0xced opened #32503 "Proposal: new System.ComponentModel.EncodingConverter class"
## Rationale and Usage

Converting between `System.Text.Encoding` and `string` or `int` is currently not supported using a `System.ComponentModel.TypeConverter`. Many system types are supported out of the box (System.DateTimeOffset, System.Guid, System.TimeSpan, System.Uri, System.Version etc.) so I think System.Text.Encoding would be a welcome addition.

I was expecting this to work, but converti

[2018-09-27 09:49] linkinshi opened #32507 "Is GetAwaiter().GetResult() will cause deadlock on high traffic"
namespace AsyncTestConsoleApp
{
    class Program
    {
        private static readonly TaskFactory MyTaskFactory = new TaskFactory(CancellationToken.None, TaskCreationOptions.None, TaskContinuationOptions.None, TaskScheduler.Default);

        private static void RunSync(Func<Task> func)
        {
            var cultureUi = CultureInfo.CurrentUICulture;
            var culture = CultureInfo.Curr

[2018-09-27 12:34] 1iveowl commented on #21982
@masums could you share the code for how you changed the CodeProject example to include search on assemblies at nuget package global and local cache level?

[2018-09-27 12:40] jnm2 commented on #21982
https://github.com/dotnet/designs/pull/47

[2018-09-27 13:27] stephentoub commented on #32507
I'm not clear on what you believe the problem is.  This code blocks a thread pool thread waiting for other thread pool threads to do work.  That's a recipe for deadlock, regardless of what mechanism you use.  I don't see any framework bug here.

[2018-09-27 14:27] DylanFPS commented on #25334
Any update on this?

[2018-09-27 14:30] #32427 closed

[2018-09-27 14:36] csharmath commented on #32328
Hey, sorry for the slow response...

So I've checked again and it's indeed using NTLM with that Negotiate response ( NTLM_NEGOTIATE).
It was just not obvious with my *-ed out HTTP traffic as it didn't show the size of that blob.
NTLM is way smaller than Kerberos so you can just eye ball it.

Wireshark can actually dissect and show that it's NTLMSSP_NEGOTIATE as show below.

![image](https://user-i

[2018-09-27 14:37] MaximLipnin opened #32510 "Question: IsEnumDefined throws an exception with empty ParamName"
Hello,
could you please clarify why do we expect an exception with an empty `ParamName` according this TypeInfo test https://github.com/dotnet/corefx/blob/master/src/System.Reflection/tests/TypeInfoTests.cs#L462 ?

[2018-09-27 14:39] tannergooding commented on #25334
This has been pushed back the past couple of review sessions as we want to spend some more in-depth time reviewing it (due to its size).

CC. @terrajobst

[2018-09-27 14:40] DylanFPS commented on #25334
Ah okay. As long as it's happening soon :) Do you reckon this will release alongside .NET Core 3?

[2018-09-27 14:45] tannergooding commented on #25334
Once reviewed, and if approved, I would guess it will be in the next release for the given branch following its implementation being merged (if it is merged to master, and master is still targeting 3.0, it should make the 3.0 release).

[2018-09-27 14:58] davidsh commented on #32328
So, what you're really saying is that the HTTP stack correctly responded with Negotiate scheme.  But Negotiate ended up "negotiating" NTLM instead of Kerberos.

That happens a lot when the requirements for a valid Kerberos infrastructure don't exist.  For example, if the client machine is not joined to the Active Directory domain of the server, or timestamps aren't matching etc.

In your example,

[2018-09-27 15:19] artkpv commented on #32438
Hello, I'm removing these duplicates. Did for `RTL_OSVERSIONINFOEX` and stopped at `OpenProcessToken`. Didn't find for `GetCurrentApplicationUserModelId` and `CloseHandle`. Probably to add into `src\Common`?
Some progress at https://github.com/dotnet/corefx/compare/master...artkpv:duplicates-32438

[2018-09-27 15:42] davidsh commented on #32502
@wfurt

[2018-09-27 16:12] ViktorHofer commented on #17905
Thanks Eric!

[2018-09-27 16:58] Tratcher opened #32514 "No credentials are available in the security package"
_From @Kation on September 27, 2018 8:45_

1. Read a .cer file as X509Certificate2
2. Read a .key file and convert to RSA
3. Use RSACertificateExtensions.CopyWithPrivateKey to set private key with X509Certificate2
4. Use ListenOptions.UseHttps with this certificate

It will throw exception when we access this host.

[code]

If we add below codes after 3rd step, it will work.
`cert = new X509Certif

[2018-09-27 17:16] freerider7777 commented on #2394
What's the alternative for long running workflows for now (with persistance)? Only paid ones?

[2018-09-27 17:20] Suriman commented on #2394
FYI: https://github.com/danielgerlag/workflow-core

We use it in our company with very good results.

[2018-09-27 17:41] svick commented on #32337
If the example use case is caching the result of a web request, doesn't that mean adding this would promote waiting synchronously for IO operations?

And I think the pattern of using `Lazy<Task<T>>` for this purpose, as suggested by @stephentoub in [an article from 2011](https://blogs.msdn.microsoft.com/pfxteam/2011/01/15/asynclazyt/), wouldn't work well here, because the `Task` will be produced s

[2018-09-27 17:46] galvesribeiro commented on #24422
Folks do we have any updates on that? I'm seeing some folks trying to use Orleans clients on Lambdas and they aren't able todo so due to that problem.

[2018-09-27 17:58] rmkerr commented on #30691
@geoffkizer Yeah. It takes a while to capture the logs, but once I do I can find the failure. I'll give the additional logging a try.

@halter73 Thanks for clarifying :)

[2018-09-27 18:05] #31330 closed

[2018-09-27 18:08] huanwu opened #32515 "Area-Serialization Sprint 142"
The issue is for tracking issues to be done in sprint 142 (due by 10/12/2018)

[2018-09-27 18:11] huanwu opened #32516 "Area-Serialization Sprint 142"
The issue is for tracking issues to be done in sprint 142 (due by 10/12/2018)

[2018-09-27 18:11] #32515 closed

[2018-09-27 18:43] #32144 closed

[2018-09-27 18:54] halter73 commented on #30691
Correct. The no CTS that gets cancelled until after the bug has occurred.

[2018-09-27 19:01] luqunl commented on #32494
Yes, You can use ICustomQueryInterface to trick interop --- the StandardOleMarshalObject derived type should implements ICustomQueryInterface to tell interop this is a native object.

``
    class MyStandardOleMarshalObject : StandardOleMarshalObject, ICustomQueryInterface
    {

        static readonly Guid IID_IMarshal = new Guid("00000003-0000-0000-C000-000000000046");
        static readonly G

[2018-09-27 19:08] csharmath commented on #32328
**TLDR**: Unlike the rest of the Windows web clients (browsers, .NET full, etc) SocketsHTTPHandler is not canonicalizing the given host when trying to request the SPN which breaks Kerberos if the Url has a CNAME and the SPN is only on the DNS A record of the host.

**Details**
While writing a pretty long reply linking to docs on MSDN about how Kerberos is implemented on windows in terms of SPNego'

[2018-09-27 19:19] davidsh commented on #32328
Thanks for the additional details.

SocketsHttpHandler on Windows uses the Windows SSPI libraries for doing Negotiate and NTLM protocols.  I do not think it is something that is directly controllable by SocketsHttpHandler. It would need to be investigated further.

We have tested Linux clients against a Windows server/ActiveDirectory domain. We've demonstrated that Negotiate scheme will use Kerber

[2018-09-27 19:30] kcwinner commented on #24422
@sudsy I experienced this as well. Tested on my 2.1 lambda with the following (the actual code I am running has a 3rd party library running this):

[code]

Error:
[code]

[2018-09-27 19:31] krwq commented on #14950
@redshiftz - I think using EncryptedXml directly should work but not sure if there will be FIPS certification issue there. @bartonjs do you perhaps know if corefx's AesManaged implementation is FIPS certified? If not is it possible to force CryptoConfig to create AesCryptoServiceProvider? (perhaps some magic setting in CryptoConfig)

[2018-09-27 19:33] #32452 closed

[2018-09-27 19:43] mattpwhite commented on #32328
In Linux, canonicalization is controlled by configuration knobs in `krb5.conf`.  Applications are explicitly not supposed to do any kind of canonicalization there and rely on the GSSAPI implementation and its configuration.

In Windows, SSPI does not canonicalize, and AFAIK, there are no global knobs to turn.  *But* many applications, including all of the major browsers, WinHTTP (and thus legacy .

[2018-09-27 19:48] csharmath commented on #32328
My guess is that this will reproduce on windows->windows as well ( haven't tested it yet).
i.e.: Setup IIS with negotiate:kerberos as the only windows auth provider. Configure the Restrict NTLM GPO, then have an SPN for for the A and use a CNAMe to access it.
If configured correctly SockesHttpHandler will break as it will try the wrong SPN then can't use NTLM while the legacy .NET client will work

[2018-09-27 19:51] davidsh commented on #32328
So, this scenario does work using WinHttpHandler (WinHTTP) on the client-side.  So, did you turn off SocketsHttpHandler (via AppContext switch for example) and demonstrate that the scenario works?

If this works with WinHttpHandler, then it should be possible to fix it for SocketsHttpHandler.  WinHttpHandler uses native WinHTTP which uses the same Windows SSPI libraries for Negotiate and NTLM.

[2018-09-27 19:52] davidsh commented on #32328
@stephentoub

[2018-09-27 19:59] csharmath commented on #32328
Yep. see my very first post with the below workaround to make this work
`AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);`

[2018-09-27 22:13] PavelBansky opened #32519 "string.indexOf works differently on Windows and Linux"
Following code works differently in Linux and Windows.
In Windows it works as expected and returns "**Index of newline is at 18**"
In Linux it returns "**Index of newline is at -1**"

Apparently the string.IndexOf works incorrectly in Linux.

.NET Core runtime: 2.1.402
Linux: Ubuntu 18.04
Windows: 10 Enterprise - 1803 (OS Build 17134.285)

[code]

[2018-09-27 22:17] geoffkizer commented on #32328
I think we just need to use the canonical host name here (as returned by Dns.GetHostEntry) instead of the hostname in the uri. Correct?

https://github.com/dotnet/corefx/blob/2c8be59ed4405dbdd91777f79763cb2f1384729e/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs#L80

[2018-09-27 22:18] benaadams opened #32520 "Error SafeBufferTests Initialize_NumBytesTimesSizeOfEachElement_ThrowsOverflowException"
[code]
Ubuntu x64 Checked Build and Test (Jit - CoreFx TieredCompilation=0)
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_corefx_baseline_prtest/371/

https://github.com/dotnet/coreclr/pull/19790#issuecomment-425259557

[2018-09-27 23:01] stephentoub commented on #32519
Looks like a dup of https://github.com/dotnet/corefx/issues/31103

[2018-09-27 23:32] kevbry commented on #27907
Same here. A day lost.

[2018-09-27 23:55] danmosemsft commented on #31181
@jaredpar

[2018-09-28 02:17] paul1956 commented on #31181
There is also something odd in the Solution explorer, the VB Test directory and files show up twice as shown below. They appear as part of the C# tests and again in the VB Test project.
![image](https://user-images.githubusercontent.com/12789369/46184254-96bbd380-c289-11e8-9c22-78f668c4fe73.png)

[2018-09-28 02:33] stephentoub commented on #32520
https://github.com/dotnet/corefx/pull/32487

[2018-09-28 03:54] RenshuozZ opened #32521 "can i host .net core 2.1 project in windows server enterprise 2008 sp2"
![image](https://user-images.githubusercontent.com/11639841/46187226-222e7680-c315-11e8-941c-bba559b78df1.png)

it is error when i install dotnet hosting 2.1.2 in this systerm

[2018-09-28 04:43] #32262 closed

[2018-09-28 05:16] linkinshi commented on #32507
I just want to know Is the GetAwaiter().GetResult() will cause deadlock on high traffic？
there are so many people said replace Task.Result or Task.Wait() with GetAwaiter().GetResult(), but in my code , the GetAwaiter().GetResult() still cause deadlock.
so if the GetAwaiter().GetResult() still cause deadlock, why there is so many GetAwaiter().GetResult() in the source code .
https://github.com/dotn

[2018-09-28 05:36] davidfowl commented on #32507
@linkinshi yes, Task.Wait, GetAwaiter().GetResult(), Task.Result can all dead lock and they can all starve the thread pool. You need to await the Task.

https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=GetAwaiter%28%29.GetResult%28%29&type=

Most of those are tests.

[2018-09-28 05:45] linkinshi commented on #32507
thanks！

[2018-09-28 05:45] #32507 closed

[2018-09-28 05:47] vermorel opened #32523 "Expression trees should support Span<T>, stackalloc, ref struct"
[Expression Trees](https://docs.microsoft.com/en-us/dotnet/csharp/expression-trees) are very useful and capable when it comes to generate specialized high-performance code. In this area, `Span<T>`, `stackalloc` and `ref struct` are probably among the most significant recent additions to .NET performance-wise. Yet, it is not possible to use any of those constructs in Expression Trees. It would be v

[2018-09-28 07:56] Berrysoft commented on #32521
Maybe you should install dotnet runtime or sdk.

[2018-09-28 08:04] AndersAbel opened #32526 "SignedXml fails to validate second signature in same document"
The EnvelopedSignature transform should filter out the signature that contains the current Transform element. This is handled by `Reference.LoadXml` in that it injects a number into the `XmlDsigEnvelopedSignatureTransform.SignaturePosition` property indicating that the nth signature node should be ignored.

First step is to get a list of signatures: https://github.com/dotnet/corefx/blob/926a859dc4

[2018-09-28 08:37] schamo opened #32528 "Singleton HttpClient unable to execute GetAsync with .NET Core 2.1 in some environment"
We just migrated our (ASP).NET Core apps from 1.1 to 2.1. As we're using OpenIdConnect, we use an HttpClient for getting the configuration JSON from the identity provider, as well as the user information once he's logged in.

For efficiency reasons, we create an HttpClient on Startup and register it as a singleton. I'm conscious we should actually use HttpClientFactory by now - which I did, but I

[2018-09-28 09:06] filipnavara commented on #18949
I think the current non-implementation on Win32 is dangerous. First of all, `UseShellExecute` property acts as a no-op. Unlike UAP it doesn't even throw the `PlatformNotSuppportedException`. Secondly, I stumbled upon it when porting our desktop application because we use `ProcessStartInfo` to open URIs in a browser (for documentation and OAuth consent screens). That is currently not supported and

[2018-09-28 11:55] #32520 closed

[2018-09-28 12:39] PardeepBhandari opened #32529 "Create User and add to a role"
I am using asp.net core 2.1  I am sending a authorized request to web api and I am getting error

[code]

and some time I get error while attaching user to role

code is
[code]

currently error is in RegisterMain

[2018-09-28 13:55] baal2000 commented on #32262
@geoffkizer

I understand this has been already merged, but as a learning exercise: wondering why `RunContinuationsAsynchronously` is chosen [here](https://github.com/geoffkizer/corefx/blob/43c212c85df41c3a339884efbf74b24f81b0b019/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs#L1049)

[code]
Forced async means more overhead/worse performance whether justified or n

[2018-09-28 14:05] mattpwhite commented on #32328
Almost.  That would handle CNAMEs and partially qualified names of As (that become fully qualified when the OS resolver appends one of the configured search suffixes). But...

- If you pass an IP to GetHostEntry(), it will reverse it with a PTR lookup. I believe this behavior would be unexpected.  Would probably want to be conditional on a failing IPAddress.TryParse.
- GetHostEntry() will potentia

[2018-09-28 14:40] JianpingLiu0225 commented on #21982
@masums Have you found a solution you commented on 3rd Feb? I experienced the same issue. When referencing to the dll directly, the program can access/casting all types. But when load the dll dynamically, it gives exception saying unable to cast or unable to find XXX method. using net core 2.0

[2018-09-28 14:49] stephentoub commented on #32262
If that flag isn't used, the code calling SetResult will likely end up invoking the continuation as part of the SetResult call.  If that's done while holding a lock, we could end up invoking a lot of code unexpectedly while the lock is held.  If that's done in response to code the user is executing, their code could be stalled for longer than expected running that continuation. Etc.  When this cod

[2018-09-28 15:27] PaulDotNet commented on #20598
This is badly needed.  IPv4 vs IPv6 kinks are not worked out at least when it comes to VPN clients.

Git credential manager is failing because standard IP address resolution does not always work right.

[2018-09-28 15:35] ianhays commented on #30368
This is my intention as well.

Yes, we need those two things. In particular, the malformed zips are important as our current test zips for edge case scenarios are more limited than I would like. It would also be good to add more zips that contain weird (i.e. unusual, manually tweaked, potentially invalid) paths.

This would be great, but in my experience it's far more effort than it's worth to wri

[2018-09-28 16:07] sei-jmattson commented on #25138
When I test this using the [instructions](https://github.com/dotnet/core/blob/master/samples/dotnet-svcutil.xmlserializer-instructions.md) on `dotnet-sdk 2.1.402`, I get:
[code]
How can I turn it 'On'?

[2018-09-28 16:52] paule96 commented on #25746
Hi,

has anybody start the work on this?

[2018-09-28 17:01] pjanotti commented on #31190
Hi @kfreezen - just for me to better understand your usage: can you share the sources that you create the server and client on the full framework? Do you somehow restricts the clients?

[2018-09-28 17:08] danmosemsft commented on #25746
@paule96 I don't think so, you are welcome to offer a PR but note the comment above that it must be a clean implementation without consulting code under GPL or similar license.

[2018-09-28 18:37] paule96 commented on #25746
I will try my best maybe :) But I don't have any know how about programming nativ stuff on Linux 😄 have anybody a good starting tutorial for this stuff? 🆘

[2018-09-28 19:37] danmosemsft commented on #1244
@joperezr should be able to help

[2018-09-28 19:47] davidsh commented on #32514
@Kation - can you please attach a small repro for this so that we can investigate it?

[2018-09-28 20:02] ericstj commented on #32391
Looks like `Microsoft.Windows.Compatibility` is also broken:
[code]

[2018-09-28 20:40] JeremyKuhne commented on #29379
Afaik, there is no way to do this without hitting Nt/Zw APIs (such as `ZwSetEaFile`). In theory it could be added to `SetFileInformationByHandle` in the future by Windows to allow access.

Ideally we'd get SQL to use another (or additional) mechanism to store the transaction context, such as alternate data streams, which can be used without hitting NT APIs.

[2018-09-28 20:40] #29379 closed

[2018-09-28 20:41] ericstj commented on #32391
That's actually a different issue, will file separately.

[2018-09-28 20:42] ericstj opened #32534 "Package testing skips Microsoft.Windows.Compatibility"
This is done because the package report doesn't list any supported frameworks.

That's because package reports only consider files and not dependencies.  We should update the package reports to also consider dependencies (in the absence of files) to mirror the NuGet algo.

[2018-09-28 20:43] ericstj commented on #32534
As a result of this bug we missed this problem:
[code]

Related: https://github.com/dotnet/corefx/issues/32391

[2018-09-28 20:43] safern commented on #32391
Is that because it depends on the live built version of SqlClient and it is obviously not in myget?

[2018-09-28 20:44] #20797 closed

[2018-09-28 20:47] safern commented on #32534
From the date of the package version it seems it is depending on a live version of the package. Was SqlClient package deleted or something?

[2018-09-28 20:48] ericstj commented on #32534
It was bumped to 4.7.0

[2018-09-28 21:09] fiigii opened #32536 "Avx2.BroadcastScalarToVector256(T*) overloads are also missing"
We solved https://github.com/dotnet/corefx/issues/30266 in https://github.com/dotnet/coreclr/pull/20055, but the `Vector256<T>` versions are also missing... I will fix it.

@CarolEidt @tannergooding

[2018-09-28 21:15] fiigii commented on #32536
Oops, we have them 😄

[2018-09-28 21:17] fiigii commented on #32536
Currently, `Avx2` has `BroadcastVector128ToVector256` but missed `BroadcastScalarToVector256`.

[2018-09-28 21:34] ericstj commented on #31147
This may still be an issue.  I happened to look at mission control today and see this test failed for both Win7 machines:
https://mc.dot.net/#/product/netcore/21/source/prodcon~2Fcorefx~2Frelease~2F2.1~2F/type/test~2Ffunctional~2Fcli~2F/build/20180919.01/workItem/System.Net.Requests.Tests/analysis/xunit/System.Net.Tests.HttpWebRequestTest~2FGetResponseAsync_ServerNameNotInDns_ThrowsWebException

[

[2018-09-28 22:16] rmkerr commented on #31147
We didn't port the fix back to 2.1, so that failure is expected. We can either disable the test on 2.1, or port the fix if it meets the bar for servicing.

[2018-09-28 23:33] ericstj opened #32539 "What do we do with Microsoft.Windows.Compatibility in 3.0?"
We should also consider other assemblies being added in 3.0.  At the very least System.Windows.Extensions, but there may be others.

We also need to recconcile how with think about this package with respect to the DesktopUI shared framework, since the latter is containing many, but not all of the libraries in Microsoft.Windows.Compatibility.

/cc @terrajobst @safern @danmosemsft

[2018-09-29 02:38] wfurt commented on #32528
can you provide simplified repro case @schamo ??? Even if it does work for you, it may give us some clues.

[2018-09-29 02:42] wfurt commented on #32493
TestHelper.cs already does:

[code]
Maybe this should get more generalized. I don't think we would loose much at HTTP level if we skip all VPN interfaces. if anything that should be handled at socket level.

[2018-09-29 02:49] wfurt commented on #32442
can you run this with ```strace -r -f -s 100  -e trace=file dotnet foo.dll```.
That should provide some info what is going on.

[2018-09-29 06:29] Sunny-pu commented on #22434
failed again in 3.0 branch:
https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180929.01/workItem/System.Net.Security.Tests

[2018-09-29 11:05] FrankPfattheicher commented on #32442
I have retried the problem after update to core 2.1.302, now i get ERRNO=0.
Opening the device using File.Open works and i can get the correct handle using

Cant find any more information in strace :-(

[2018-09-29 11:06] FrankPfattheicher commented on #32442
Full test code:
`
using System;
using System.IO;
using System.Runtime.InteropServices;

namespace Interop
{
    class Program
    {
        const string device = "/dev/tty";
        const int O_RDONLY = 0x00000000;
        const int O_WRONLY = 0x00000001;
        const int O_RDWR = 0x00000002;
        const int O_NONBLOCK = 0x00004000;

        [DllImport("libc", SetLastError = true, CharSet = Cha

[2018-09-29 11:07] FrankPfattheicher commented on #32442
And the strace file

[strace.txt](https://github.com/dotnet/corefx/files/2430574/strace.txt)

[2018-09-29 11:41] Symbai opened #32544 "FileLoadException System.Numerics.Vectors"
### Project:
- WPF
- .NET Framework 4.7.2

### Nuget:
System.Buffers 4.4.0
System.Memory 4.5.1
System.Numerics.Vectors 4.5.0
System.Runtime.CompilerServices.Unsafe 4.5.0

### code:
[code]
### Machines:
Systems where this issue does **NOT** happen:
- Windows 10 Pro 1803 17134.285 64-Bit
- VS 15.8.5 installed (developing machine)
- Net Framework 4.7.2

![works](https://user-images.githubusercontent.

[2018-09-29 12:43] #32519 closed

[2018-09-29 14:42] stephentoub commented on #30612
@pentp, is there anything relevant from the decimal Utf8Parser/Formatter support to port over to coreclr, or should we check those of as well?

[2018-09-29 15:36] pentp commented on #30612
I don't think there's anything special about decimal in `Utf8Parser`, it uses the general `TryParseNumber` method which is in Utf8Parser.Number.cs.

The `Utf8Formatter` part is more involved, I don't know if it's faster or not, so probably needs some investigation at least.

[2018-09-29 16:03] jnm2 commented on #32523
I think this would have to wait for https://github.com/dotnet/corefx/issues/24390.

[2018-09-29 16:32] stephentoub commented on #30612
Ok, thanks.

[2018-09-29 16:50] Kation commented on #32514
@davidsh sure, here it is. https://github.com/Kation/X509Certificate2Test

[2018-09-29 19:18] davidfowl opened #32547 "API Proposal: Add generic UnsafeQueueUserWorkItem<TState> overload"
In .NET Core 2.1 we added a generic overload of QueueUserWorkItem that can avoid boxing the state parameter https://github.com/dotnet/corefx/issues/27464#issue-300109510. We should add the same overload for UnsafeQueueUserWorkItem. I'd like to use this in pipelines to offer a PipeScheduler that avoids capturing the `ExecutionContext`.

[code]

cc @stephentoub

[2018-09-29 21:28] #32502 closed

[2018-09-29 22:11] smaine commented on #25773
Here's what I've learned from debugging this issue in a nontrivial codebase, in case it's helpful to others.

The root cause of the issue is when you are targeting the desktop framework (e.g TargetFrameworkVersion=v.4.61) and you pick up a dependency on a Nuget package whose dependency metadata only includes dependency information for NetStandard. The bad package can be picked up either directly o

[2018-09-30 01:18] wfurt commented on #32442
this is from File.Open(). I don't see any attempt from the pinvoke.
I did try this on my Ubuntu and it did not work until I took out the ```CharSet = CharSet.Auto```
With that strace shows attempt and it fails as the flags are different on x86.

I did try the code as you posted on my Raspberry and it worked as exected:
[code]
so this looks like some kind of environmental problem. Do you have LANG

[2018-09-30 03:55] hez2010 opened #32550 "API Proposal: System.IO.File.WaitForAvailable"
Sometimes when a file is occupied by other process, we can not open it until the process close the file. So we have to write a loop to try opening the file many times.
I suggest the System.IO can provide a method:
[code]
which will automatically wait the file to be closed and becomes available.
The method will fail if the waiting time exceeds maxiumWaitingTime or does not have proper privilege.

I

[2018-09-30 06:57] davidfowl commented on #32497
Agreed we should go through and look at doing this for the most common scenaros in 3.0.

cc @KrzysztofCwalina @ahsonkhan @stephentoub

[2018-09-30 08:18] Clockwork-Muse commented on #32550
That's not necessarily true - some types of locks are only _advisory_ - they require all interested processes to opt-in by checking for the existence of the relevant lock.  Some lock types are mandatory.  I'm going to assume that .NET Core checks for the advisory locks, so returning true wouldn't be correct behavior anyways.

There's a few problems with this API, though -
 1. `File` is a static cl

[2018-09-30 09:28] hez2010 commented on #32550
@Clockwork-Muse I forgot the filename parameter.
I have edited the description.

[2018-09-30 09:50] GSPP opened #32551 "Add a way to force-initialize a System.Lazy"
`Lazy` should have a way to make it compute the value on demand. This could be as simple as this:

[code]

This is useful if `Lazy` is used as a cache and you want to pre-initialize that cache. That pre-initialization could be done in the background by `Task.Run(() => myLazy.ForceValue())`. I'm sure a `ForceValue` is handy in other situations as well. It does not clutter the class much and is triv

[2018-09-30 09:51] GSPP opened #32552 "Add async support to System.Lazy"
`Lazy` is a very useful class. With async code becoming more and more common we should make `Lazy` async aware. Doing that requires the following changes:

1. Make the constructor accept `Task`-returning factory delegates.
2. Add an async accessor method: `Task<T> GetValueAsync()`

If the synchronous `T Value { get; }` property is used then simply block on the task.

Is `ValueTask` appropriate to

[2018-09-30 09:52] GSPP commented on #32337
Async support for `Lazy` would be very useful. I have added a ticket for that: [Add async support to System.Lazy #32552](https://github.com/dotnet/corefx/issues/32552).

[2018-09-30 11:14] stephentoub commented on #32552
I agree lazy async support is useful, but I'm very hesitant to see it added into the same type.  Doing so would allow existing code to be able to use the same type without, for example, changing the type of the field storing the lazy object, but it would still require code changes, e.g. to use the new constructor and the new method or property, at which point that benefit decreases.  And adding it

[2018-09-30 11:36] mariusGundersen commented on #32552
I agree that it shouldn't be added to the existing `Lazy` implementation, as it's already too complicated and does several things.

It's fairly easy to make a sort of `AsyncLazy` using an extension method, like so:

    static class Program
    {
        static async Task Main(string[] args)
        {
            var lazyGreeting = new Lazy<Task<string>>(createGreeting);

            string greeti

[2018-09-30 17:10] jnm2 commented on #32551
I do `_ = lazy.Value;`. Is there anything wrong with just discarding the return value?

[2018-09-30 17:51] Sorrien opened #32553 "Vectors and Quaternions should support doubles."
For instances where higher precision is required, doubles should be supported.

[2018-09-30 17:54] Sorrien commented on #32553
I just found the issue for this: #25334

[2018-09-30 17:54] #32553 closed

[2018-09-30 18:41] Clockwork-Muse commented on #32550
@hez2010 - Fair, enough, I was wondering.
I've updated the issues I mentioned to reflect that change.

[2018-09-30 18:54] hez2010 opened #32554 "Proposal: Process OnExit event fired with process exit type"
Currently a process object OnExit event only fired with no parameter besides the self object. But we don't know whether the process exited normally or not.

So I hope that the OnExit event can attach a parameter which indicated the process exit type(normally exit or abnormally exit).

[code]

[2018-09-30 19:04] Clockwork-Muse commented on #32551
...I have to ask, if you're force-initializing a `Lazy`, is it even, really, _lazy_ anymore?

Once you start doing things like `Task.Run(() => myLazy.ForceValue())`, why not just do the computation in the task and `await` it wherever?  The task is going to cache the result, and not recompute it.

Note that for the pre-initialization to be worth it, you have to either force the `Lazy` to be threads

[2018-09-30 19:07] Clockwork-Muse commented on #32552
+1 for `LazyTask`, I think

[2018-09-30 21:27] stephentoub commented on #32554
How do you define normal vs abnormal? Why is the Process.ExitCode insufficient? What alternative mechanism do you propose to examine on Windows, macOS, and Linux? Etc.

[2018-09-30 21:32] stephentoub commented on #32550
I agree with @Clockwork-Muse's concerns. Plus, as defined, I don't know why this would be specific to File; several libraries (e.g. Polly) provide "retry" helpers, with various policies and back-off schemes, working with arbitrary delegates, and that's all this really is. I don't think we should add this, at least not as proposed.

And while async file opening support would be nice, I'm not aware

[2018-09-30 23:14] Jehoel commented on #26302
@David-Engel Is that repo public? Do you have a link to the bug report? I'm experiencing the same issues where changing a project to target .NET 4.7.2 broke my application due to `System.Data.Common` no-longer having the correct `DbDataReaderExtensions` implementation.

[2018-10-01 01:02] hez2010 commented on #32554
@stephentoub Normally exit means a process finished all its work without any unhandled runtime exception, and abnormally means there are some runtime unhandled exception during execution.

If using ExitCode, I can also return a non-zero value in Main function but executing without any unhandled exception.

[2018-10-01 01:38] stephentoub commented on #32554
And how do you propose another process determine that?

[2018-10-01 02:13] steevcoco commented on #32008
Er ... I also stumbled onto this "bug"; and I'd like to note that looking around and using URI when you're working with local file paths is a bad direction (you should not be blindly crossing into a URI just to "clean" some directory separator issue). And for sure programmers should lead right to Path if they are trying to build some path.

I had to write helper methods to combine paths:

    publ

[2018-10-01 02:30] davidfowl commented on #32552
@GSPP can you turn this into a formal API proposal based on the feedback.

[2018-10-01 02:44] steevcoco commented on #32552
Er ... I think LazyTask is a nice design part, but I think it would be polluting the base library with an idiom. That seems like a pretty long stretch to justify including in a BCL.

Heh also ... Wow! Then every class in the library can have a Task version!

What is a Lazy that consumes a Task?? (Seems to be in fact just a Task.) What is a Task that produces a Lazy?? Bizarre!

It's pretty tough to

[2018-10-01 03:35] steevcoco commented on #31995
I have written the same thing myself; and while very useful, I think it is a little bloated to include in the BCL --- there needs to be some machinery somewhere to implement the value handling; and then some policy is involved. The "property value swapped" pattern seems a bit far to go to say that the BCL should provide some type of support.

As @DanFTRX pointed out, it's easily implementable by s

[2018-10-01 04:27] gulbanana commented on #18276
I have a .NET Core application currently using SQL Server. In a future release, data is being added to the system which needs column encryption due to its nature - we’re going to have to port it to .NET Framework due to this missing capability.

[2018-10-01 06:11] prophetix commented on #32346
Just did the test with the 2.1.403 sdk and 2.1.5 runtime, The problem is gone. Good work.  Thanks.

[2018-10-01 07:57] MaximLipnin commented on #32510
I'm not sure if it's made intentionally. If it's kind of oversight then it would be good to fix that.

[2018-10-01 08:32] valeriob commented on #6204
Hi,
any news on this topic ? The milestone is future, why not 3.0 ?

[2018-10-01 09:03] MarcoRossignoli commented on #32551
Also to me this it's strange use lazy as "cache" system...i think that Lazy is useful to avoid "unuseful" allocation, preload seems opposite than lazyness. But maybe with complete "scenario" i could understand well the idea.

[2018-10-01 09:12] MarcoRossignoli commented on #32550
FYI @hez2010 https://github.com/dotnet/corefx/issues/31917 , maybe something like this with retry(e.g. Polly).

[2018-10-01 11:57] stephentoub commented on #32554
How is that different from user code throwing an exception there instead? Your system would still "misinterpret" it.

Exceptions are an implementation detail within a process; some languages don't have them or promote them, and even when one does, develops can choose not to use them. We shouldn't try to teach Process how to determine whether another process exited because it threw exceptions or pa

[2018-10-01 12:41] wstaelens commented on #24514
OMG, Office 365....
 ```UseDefaultCredentials = false```  was set BEHIND NetworkCredentials and we were getting SMTP 5.7.57.
After hours of debugging, we found out just by switching the two lines, so that ```UseDefaultCredentials = false``` was set before NetworkCredentials it worked.
🆘 😭 😞 :sob:

That is no 'documentation' bug, it is super-annoying-lame-code-behaviour-bug-stuff

(.NET Framework 4

[2018-10-01 13:54] KyleLJohnson commented on #32346
Is there a place where you can just download 2.1.403 and 2.1.5?

[2018-10-01 14:14] glucaci commented on #24574
@davidsh is this feature somewhere on the Roadmap?
Can this be implemented as middleware instead of environment variables?

Thanks!

[2018-10-01 14:31] GSPP commented on #32551
I made this feature request because I recalled that I needed it. Indeed, I have my own Lazy implementation because [`System.Lazy` stores exceptions which makes it extremely dangerous for long-running apps](https://github.com/dotnet/corefx/issues/32337).

One scenario might be a lazy initialized cache but you want the cache to be pre-initialized in the background but only after a few seconds have p

[2018-10-01 14:35] ViktorHofer commented on #31900
No, that hasn't yet been resolved but tests that assert on the mentioned internals were changed to not fail. The produce code issue still applies.

[2018-10-01 15:00] GSPP commented on #32552
I'm not sure what a formal API proposal would entail. But here is my attempt:

[code]

I dropped the (legacy?) `bool isThreadSafe` constructor. I find that API design bad because it's not clear what that bool does. Just pass in an enum.

I dropped the constructors that do not take a factory deleagte. I assume these just use the default constructor. There are no async constructors so this does not

[2018-10-01 15:34] AnthonyMastrean commented on #8059
Our team is running ASP.NET Core services in Linux Docker containers, but we're developing on Windows (via Docker for Windows). We just started exploring reloadable `IConfiguration` sources, for binding a "global" config file from the host into the containers, and were very stumped by the reload behavior (it wasn't reloading until we restarted the services).

Then we stumbled on this issue! It kin

[2018-10-01 15:44] AdamYoblick opened #32560 "corefx wiki page is malformed"
See https://github.com/dotnet/corefx/wiki

[2018-10-01 15:58] #21055 closed

[2018-10-01 16:15] stephentoub commented on #32560
@karelz, for some reason I don't appear to have permissions to revert changes made to the wiki, but a change was recently made that should be undone.

[2018-10-01 16:20] TheBlueSky commented on #31595
@jkotas & @karelz, I'm curious, why this one is added to **Future** milestone? This is an easy implementation that does not break people and adds value. There is no project I recently worked on without adding my own `Get*(string column)` extensions :)

I can implement this if you're interested.

[2018-10-01 16:28] karelz commented on #32560
Turns out the type of the page was changed to MediaWiki instead of Markdown + wrong link was added in this change: https://github.com/dotnet/corefx/wiki/Home/_compare/56247a4dc4a4ca8376957e55acad2b25c80bdaa6...01d730d95162c6bb6de42481baea1e6090852001 by @Xray1983. The different type of the page made it not show history even for me (hiding the ability to revert the changes).
@Xray1983 was that inte

[2018-10-01 16:28] #32560 closed

[2018-10-01 16:30] jkotas commented on #31595
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md describes the process to add new APIs.

This one is on System.Data [area owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) to move this forward.

cc @divega @ajcvickers @keeratsingh @afsanehr @david-engel

[2018-10-01 16:31] AdamYoblick commented on #32560
Not a problem 👍

[2018-10-01 16:36] karelz commented on #32544
@joperezr can you please help here?
The bottom line is that you likely need bindingRedirects. There is some difference between the machines - I doubt both have truly .NET Framework 4.7.2 installed.
Note: .NET Core is irrelevant in your scenario. The app runs on .NET Framework (which should not be tracked on GitHub, but let's first see what we can find out ...).

[2018-10-01 16:37] Clockwork-Muse commented on #32551
@GSPP -
The documentation for `Lazy` [explicitly mentions](https://docs.microsoft.com/en-us/dotnet/api/system.lazy-1?view=netframework-4.7.2#remarks) that:

...the exception caching is considered a feature.

As for worries about `Task.Run` starting immediately... trivially that can be changed to a `Task.Delay(timespan).ContinueWith(...)`, but perhaps more interestingly could be changed to `taskCom

[2018-10-01 16:43] karelz commented on #26302
NetFx is .NET Framework. It is not open source. The bugs there are tracked via VS Developer Community Portal (see our [main page](https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback)).
I would recommend to file it there, then post the link here - @David-Engel and team can associate the NetFx bug with it and communicate there directly.

[2018-10-01 16:46] karelz commented on #32529
This issue was moved to aspnet/Home#3571

[2018-10-01 16:46] #32529 closed

[2018-10-01 16:47] mayconbeserra commented on #30652
Hi @jkotas I'm also running out of memory after migrating to .NET Core 2.1

My docker image is `microsoft/dotnet:2.1-aspnetcore-runtime` and I just noticed the runtime is `ENV ASPNETCORE_VERSION=2.1.2` after running `docker history --no-trunc image-id`

Should I migrate to `microsoft/dotnet:2.1.4-aspnetcore-runtime`?

Regards,
M

[2018-10-01 16:50] karelz commented on #32528
@schamo any luck with a repro? (ideally minimal one - using HttpClient directly without the factory)
We would be very interested in digging into it.

Which version of 2.1 do you have installed?

[2018-10-01 16:50] karelz commented on #32528
cc @geoffkizer

[2018-10-01 16:54] Genbox commented on #31943
@davidsh @karelz

This is very much still an issue and needs to be fixed ASAP. When using the old HTTP socket handler in .NET Core 2.1:

`AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);`

We get the issue described here: https://github.com/dotnet/corefx/issues/27971

When using the new socket handler:
`AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", true);`

It

[2018-10-01 16:54] MichaelSimons commented on #30652
@mayconbeserra, try re-pulling the `microsoft/dotnet:2.1-aspnetcore-runtime` image (e.g. execute `docker pull microsoft/dotnet:2.1-aspnetcore-runtime`.  Keep in mind that Docker will not update/re-pull images once the tag exists locally.  Since you are using the `2.1-...` floating tag, it will get updated each time a new patch is released.  It is up to you however to update your locally cached ima

[2018-10-01 16:56] jkotas commented on #30652
The bug tracked by this issue was specific to Alpine. Picking up fix for this issue is not going to help you since you are not running on Alpine.

You can still try upgrading to latest to see whether it will fix the problem. Multiple ASP.NET OutOfMemory issues with different root causes got reported on .NET Core 2.1. They are all linked from https://github.com/aspnet/Home/issues/1976 . You can try

[2018-10-01 16:57] schamo commented on #32528
I actually have to work on another project these days. I'll probably continue on this one on wednesday/thursday, so I should be able to create a repro this week.

@karelz We're using 2.1.4, as I read that this version should resolve some proxy issues - which I supposed to be the cause of the problem. Don't know if this was the right track... I first tried on 2.1.3, which gave me the same result.

[2018-10-01 17:00] TheBlueSky commented on #31595
OK, thanks. I'll wait for a comment from the owners then :)

[2018-10-01 17:06] ajcvickers commented on #31595
This looks like a good addition to me. I don't see any reason we wouldn't take a well-written PR for it. /cc @roji @divega

[2018-10-01 17:12] WillSullivan opened #32561 "Cannot resolve conflicts with System.Net.Http when referencing a 4.7.2 project from a .NET Standard 2 project"
Minimal repro here https://github.com/WillSullivan/System.Net.Http.Hell

**I'd like to have a solution to get that warning out of my build.** If this were the other way around (4.7.1 referencing the .NET Standard 2 project) I could just slap a binding redirect in the .config file (and go take a Silkwood shower). But I haven't found any equivalent for .NET Standard projects. I'm at a dead end.

Fro

[2018-10-01 17:15] jkotas commented on #31595
@ajcvickers If you like the proposal, you should mark it as `api-ready-for-review`  and get it approved first (see https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

[2018-10-01 17:28] GSPP commented on #32551
Retries cannot really be placed inside because retrying might take extremely long. All threads consuming the lazy would be held up indefinitely. In a web app that quickly consumes the entire thread pool.

Rather, failures must propagate out of the lazy. Yet the lazy must be restartable.

Regarding the delay init scenario, `Task.Delay(timespan).ContinueWith(...)` does not work because initializatio

[2018-10-01 17:29] karelz commented on #32521
Yes, either install 2.1 runtime on your system, or make your application self-contained.

[2018-10-01 17:29] #32521 closed

[2018-10-01 17:37] karelz commented on #32561
@joperezr can you please take a look?

[2018-10-01 17:38] karelz commented on #32528
Proxies will be fully fixed in 2.1.5 (comming soon). If you can try daily build of 2.1.x that would be awesome, otherwise let's just wait for 2.1.5 to come out.

[2018-10-01 17:41] karelz commented on #32465
Closing here as it seems to be external problem in Service Fabric. @groogiam feel free to reopen if it turns out to be problem in CoreFX after all.
Thanks!

[2018-10-01 17:41] #32465 closed

[2018-10-01 17:51] davidsh commented on #32346
We currently don't have a convenient place for you to download the 2.1.5 servicing release since it has not been released yet.  We don't publish daily builds of 2.1.x.

But all fixes that go into 2.1.x also get put into the pending 2.2 release.  And you can get daily builds of that here:

https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries
https://dotnetcli.blob.core.w

[2018-10-01 17:51] davidsh commented on #32346
Glad to hear that the problem is fixed.  I'll close this issue now.  Thanks for verifying!

[2018-10-01 17:51] #32346 closed

[2018-10-01 17:51] karelz commented on #31943
@Genbox are you talking about the original small test case in top post here?

[2018-10-01 17:53] karelz commented on #32412
Is there anything left here or is it just duplicate of #2146?

[2018-10-01 17:55] karelz commented on #32413
@jjgriff93 what are the scenarios where it is needed? What kind of apps would benefit from the APIs?
I assume the API is [System.Media.SoundPlayer](https://docs.microsoft.com/en-us/dotnet/api/system.media.soundplayer?view=netframework-4.7.2)

[2018-10-01 18:00] karelz commented on #32448
It is not clear to me if you have problem with the IDE (VS for Mac?) or with Mono itself.
Best place would be to file it under Mono or MonoDevelop: https://github.com/mono (I am not sure where VS for Mac is tracked)

[2018-10-01 18:00] #32448 closed

[2018-10-01 18:08] karelz commented on #32415
Duplicate of 32378

[2018-10-01 18:08] #32415 closed

[2018-10-01 18:14] joshfree commented on #32510
It's meant to throw an ArgumentException when the current type is not an enumeration.

https://docs.microsoft.com/en-us/dotnet/api/system.type.isenumdefined?redirectedfrom=MSDN&view=netframework-4.7.2#System_Type_IsEnumDefined_System_Object_

[2018-10-01 18:15] joshfree commented on #32510
@MaximLipnin I'm going to close this issue now, but feel free to comment or reactivate if I didn't answer your question sufficiently or if I misunderstood the question.

Thanks,
Josh

[2018-10-01 18:17] rmkerr commented on #32378
I'm not actively working on this issue, but I want to summarize before I forget.

Our next steps should be to:
(1) Verify the expected behavior, so that if we make a change we make the correct one.
(2) Make the fix if necessary, as described in [this comment](https://github.com/dotnet/corefx/issues/32378#issuecomment-424392006).
(3) Update the tests, removing any checks that validate that the frag

[2018-10-01 18:22] svick commented on #32412
@karelz That part of https://github.com/dotnet/corefx/issues/2146 was closed by the question "Is this really common?", with no response given to the people (including me) who think it is common. So maybe its closing could be reconsidered?

(Though that issue is also a mix of unrelated proposals. Keeping this issue open instead might be the better choice.)

[2018-10-01 18:33] karelz commented on #32378
Should be fairly straightforward, marking as "up for grabs" - @rmkerr can provide additional details if needed.

[2018-10-01 18:37] GrabYourPitchforks opened #32563 "We should obsolete the String.Copy method"
The `String.Copy` static method takes an input string instance and duplicates it, creating a new reference and copying the original contents into the new object. The method is contracted [per MSDN](https://docs.microsoft.com/en-us/dotnet/api/system.string.copy) to return a new object. (Contrast this with `String.Clone`, which returns the original instance.)

The only real use case for this is to c

[2018-10-01 18:37] jkotas commented on #32510
@MaximLipnin Feel free to submit the PR to add parameter name to the exception thrown in this case.

I assume that you have discovered this problem when trying to reuse .NET Core sources and tests in Mono. Is this correct?

[2018-10-01 18:41] davidsh commented on #24574
Which exact feature are you referring to?  Right now, you can use WinHttpHandler directly and select the ProxyUsePolicy that uses the 'WinHttp' style of proxy config (i.e. from 'netsh' commands).  But we don't plan to make this a general feature for HttpClientHandler.  That now uses the cross-platform SocketsHttpHandler stack.

cc: @karelz

[2018-10-01 18:42] benaadams commented on #32563
string.Create<TState>(int length, TState state, SpanAction<char, TState> action) formalizes the mutate newly allocated zero'd string prior to use pattern; while introducing safety via the Span and ensuring its not used prior to mutation.

For passing to native code which may mutate the string; shouldn't one of the Marshal.StringToXxx methods (+ free) be used instead for a defensive copy?

This inf

[2018-10-01 18:43] tarekgh commented on #32285
I have tried that on Linux with 2.1 with the following calls:

[code]

All results are expected. I am not sure how you are getting -1 in your case. please send more information or a small repro from your end. also, would be nice to tell more about your environment you are running on. I am closing the issue but feel free to respond back and I'll be happy to look more at that.

[2018-10-01 18:43] #32285 closed

[2018-10-01 18:43] tarekgh commented on #32285
https://github.com/dotnet/coreclr/issues/2051

[2018-10-01 18:53] karelz commented on #24574
This issue transformed into something different along the way. I am not clear what actually it tracks anymore.
There have been good points about inability to set default proxy application-wide in https://github.com/dotnet/corefx/issues/24574#issuecomment-420722985, especially for code from 3rd party libraries. I plan to bring it up and discuss our options, but it is not on roadmap yet.

[2018-10-01 18:59] karelz commented on #6204
@danmosemsft is it something on your radar?

Because it is not on our 3.0 roadmap (yet). It didn't get prioritized so far over other work.

[2018-10-01 19:01] danmosemsft commented on #6204
It is not on my radar.
cc @zhenlan

[2018-10-01 19:03] Genbox commented on #31943
We observed this issue with our own software. The case described by the top post is exactly the same we have observed. I have a feeling the fix done in https://github.com/dotnet/corefx/issues/30327 will fix it for the SocketsHttpHandler, but I'm not sure there is a fix for when not using the SocketsHttpHandler.

We did extensive tests today between .NET Core 2.0 and 2.1 with the new handler and wi

[2018-10-01 19:09] MaximLipnin commented on #32510
Thank you for reacting. I just found it different in comparison with Mono where ParamName property of related exception is not empty in that case and has `"enumType"` value.
@jkotas I didn't dig deeper but let me take another look.

[2018-10-01 19:10] karelz commented on #31943
You can try daily build of 2.1.x (which is what 2.1.5 will be about). I don't think we have official ETA, but I expect it will be soon.

We do not plan to fix non-SocketsHttpHandler bugs unless they are super-horrible and are blocking significant scenarios for many. The whole purpose of SocketsHttpHandler is to get rid of native handlers and phase them out (while provigin consistency and great per

[2018-10-01 19:12] zivillian commented on #24843
@McShauno I wasn't able to find your WIP - maybe we should join our effort to prevent duplicates.

I also started to work on a managed LDAP implementation based on `System.IO.Pipelines` and the new [ASN.1 reader/writer API](https://github.com/dotnet/corefx/issues/21833) at [zivillian/ldap.net](https://github.com/zivillian/ldap.net).

The client API is heavily inspired by the [c-ldap-api](https://t

[2018-10-01 19:14] karelz commented on #31147
If we need to port it to 2.1, let's make that decision based on number of failures there + create a new bug to track the port.

[2018-10-01 19:14] #31147 closed

[2018-10-01 19:20] roji commented on #31595
I was intending to submit a PR on this ina few weeks, but if som someone else has time that's great.

[2018-10-01 19:35] tebeco commented on #24574
@karelz thx i would really love to see this moving in one way or another
so far if you look for answer the only one is `HTTP_PROXY`, this is a big no go

Aspnetcore has middleware and `IXxxFeature`
it seems like dotnet tried a similar toggle feature with `AppContext.SetSwitch`

i would really love to see CoreFx with something like `IRuntimeFeature<IHttpResquestHandlerFeature>` with a kind of facto

[2018-10-01 19:38] tebeco commented on #24574
@karelz also if you prefer open a dedicated issue on the last pointed subject / direction why not

please keep in mind that `dotnet restore` is still broken and does not work behind proxy and we cannot use `HTTP_PROXY` with `NO_PROXY` as it lack the “dynamic resolution”

[2018-10-01 20:03] LastExceed commented on #32285
Read carefully:
- Returns `-1` as expected when no null-character is present
----
[code]
output on windows (win7hp64sp1):
[code]
output on linux (ubuntu18.04):
[code]
Case A and B show I've been wrong with my statement ```Specifying a string comparison type doesn't help```. could have sworn I tested that.

Case C shows a null character followed by another characater is pointed out at the wrong pos

[2018-10-01 20:33] TylerBrinkley commented on #14338
### Rationale
There are plenty of convenience methods in generic List. But no Move method that can efficiently move an item from one position to another.
What we have to do is `RemoveAt` and `Insert`. It means two copies of big chunks of memory instead of one. The worst case is when both from and to are close to each other and to the beginning of a large list. What could be done with one copy of a

[2018-10-01 20:35] Clockwork-Muse commented on #32551
This sounds like a separate api-suggesstion, perhaps propose that too?

[2018-10-01 20:36] zhenlan commented on #6204
I am not aware of any plan for this at this point.

[2018-10-01 20:45] danmosemsft commented on #14338
@ianhays @safern for feedback.

I have a slight vote for `oldIndex` `newIndex` (or else `fromIndex` `toIndex`) since we use `index` heavily elsewhere, and it is more immediately obvious that we aren't somehow moving to another collection, but another location.

[2018-10-01 20:49] AlexRadch commented on #14338
Maybe `Shift(int index, int length, ind count)` ?

[2018-10-01 20:55] danmosemsft commented on #32510
I did not debug but I see two places in Type.Enum.cs where we appear to omit the parameter:
`throw new ArgumentException(SR.Format(SR.Arg_EnumAndObjectMustBeSameType, valueType.ToString(), this.ToString()));`

`throw new ArgumentException(SR.Format(SR.Arg_EnumUnderlyingTypeAndObjectMustBeSameType, valueType.ToString(), underlyingType.ToString()));`

[2018-10-01 21:03] danmosemsft commented on #14338
On Array there is precedent for `sourceIndex` `destinationIndex`
``
        public static void ConstrainedCopy(System.Array sourceArray, int sourceIndex, System.Array destinationArray, int destinationIndex, int length) { }
        public static void Copy(System.Array sourceArray, int sourceIndex, System.Array destinationArray, int destinationIndex, int length) { }
        public static void Copy(S

[2018-10-01 21:33] GSPP commented on #32551
You mean a way to reset the lazy? I personally really needed that for caching scenarios and it was an important reason to create my own lazy. Implementing that could be difficult and force worse performance. Now, the lazy transitions only forward in time. With resetting it can transition back into old states (ABA problem). That makes low-synchronization code problematic to achieve.

[2018-10-01 22:09] karelz commented on #31595
@ajcvickers @David-Engel @keeratsingh @AfsanehR can you please agree on the API shape from System.Data ownership point of view and if you do, mark it as api-ready-for-review as suggested above?
We want to avoid surprise API changes after community invested time into PR submission. Thanks!

[2018-10-01 22:28] Wraith2 commented on #19408
Does this still need api work or just review?

[2018-10-01 22:37] danmosemsft commented on #19408
cc @safern for Collections.

[2018-10-01 22:41] tarekgh commented on #1244
@grant-d

The API proposal looks good to me which I think we can proceed to review it with the design committee.

I want to point your implementation for the methods which takes StringComparison comparisonType is wrong. Linguistic comparison is interesting but any way I can help you when you'll start to implement it  and will tell you how you can do that in such cases. I'll move the proposal up (w

[2018-10-01 23:04] ajcvickers commented on #31595
@karelz I would like to hear back from @divega since while I own from an engineering side, he is the PM owner for .NET data.

[2018-10-01 23:09] tarekgh commented on #1244
One question, why it is preferred RemoveStart/RemoveEnd over RemovePrefix/RemoveSuffix?  actually I like RemovePrefix and RemoveSuffix more.

For reference, Go language uses TrimPrefix and TrimeSuffix which seams ok names too.

[2018-10-01 23:53] grant-d commented on #1244
Thanks @tarekgh, appreciate the help

For the sake of consistency, I was trying to align with existing naming conventions on `string` methods; `StartsWith`, `EndsWith`, `TrimStart`, `TrimEnd`

[2018-10-02 01:52] Jehoel commented on #25773
I'm having the same issue, except I noticed that the output DLL from my project (ASP.NET Core 2) has a hard reference to 4.2.0.0 of System.Net.Http that I can see in .NET Reflector, even though I don't have a project reference to that at all.

My project runs fine on my PC (naturally), and when deployed to Azure App Services (Azure Websites) it fails with that error.

Screenshot proof:

![image](h

[2018-10-02 05:18] Luciferius commented on #32296
Maybe this should be moved to the area-System.IO.Compression, as this is almost the same issue as the referenced issue in the description. I do not know how important that is.

[2018-10-02 06:04] valeriob commented on #6204
Can it be included in 3.0 roadmap ?
The only hard work i see is about code security, is it already ported with for other components ?

[2018-10-02 07:45] moonmile commented on #32454
I see.
When I make code to use 'res.close' or 'using', its program don't leak memory by .NET Core.

[code]
![image](https://user-images.githubusercontent.com/1286584/46335483-95f8b800-c662-11e8-9b90-18db591cd6f2.png)

[2018-10-02 07:52] AndersAbel commented on #32526
Thinking more about this, I don't think a full reference resolution is required. It would be enough to just traverse from the Signature node and upwards until a parent with an ID matching the reference is found. Then count the number of references below that node. This would work, because the enveloped signature transform is only relevant if the signature node is a child of the node being signed.

[2018-10-02 09:27] Genbox commented on #31943
@karelz I'm fine with the move to SocketsHttpHandler. I love that we try and improve on areas that we have been stuck with since the inception of .NET Framework 1.1.

Larger companies tend to use NTLM authentication and customers using .NET Core 2.0 are stuck with a broken implementation of proxy support. Upgrading to 2.1 (which is what we tried) does not help since it has other bugs that breaks p

[2018-10-02 09:50] glucaci commented on #24574
@davidsh I want to be able to do in ASP.NET Core the same thing that ```<defaultProxy>``` dose in ```web.config```.
That means all the calls that are made from the app to go through a proxy.

The problem is that I don't want to manipulate every ```HttpClientHandler``` because maybe I don't have access to it. For example I'm using the Azure-ServiceBus lib and those HTTP calls to Azure should go als

[2018-10-02 10:01] GSPP commented on #1244
I had this issue in the past and implemented *both* `RemovePrefix` and `TrimPrefix`. Here's what the names mean in my mind:

* Trim makes sure the string does not start with that prefix. `"a1a1x".TrimPrefix("a1") == "x"`
* Remove removes a single instance of that prefix. `"a1a1x".RemovePrefix("a1") == "a1x"`

This is a subtle semantic difference which is often important to get right to avoid bugs.

[2018-10-02 10:02] tebeco commented on #24574
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.server.iserver.features?view=aspnetcore-2.1

i would very love to see the same for the runtime itself.

[2018-10-02 10:06] GSPP commented on #32454
Isn't disposing the response object contractually required? Not doing that is simply an API usage error.

Try adding `GC.Collect(); GC.WaitForPendingFinalizers();` to the test loop. There should be no memory leaks because the finalizer should clean up the resources.

Maybe the difference between the runtimes is just different GC behavior.

[2018-10-02 10:13] dnickless opened #32569 "Performance of LINQ .Any() - type check to leverage .Count property?"
In the `.Any()` method here:
https://github.com/dotnet/corefx/blob/e043326e204a9566ee26403b522cf95cda2d54ee/src/System.Linq/src/System/Linq/AnyAll.cs#L18:L21

would it make sense to check for `IReadOnlyCollection` and call `Count` in order to avoid the enumerator instantiation?

[2018-10-02 10:15] Genbox commented on #31943
I'm trying to reproduce the issues we saw in .NET Core 2.0 from yesterday, but it seems there are some discrepancies. If I manage to reproduce them, I will report a separate issue.

So far, the .NET Core 2.1.5 runtime (from daily feed) seems to have fixed our issue.

[2018-10-02 11:30] dnickless opened #32570 "Performance: Make constructor List<T>(IEnumerable<T> collection) know about IReadOnlyCollection"
In the following `List<T>` constructor:

https://github.com/dotnet/corefx/blob/e043326e204a9566ee26403b522cf95cda2d54ee/src/Common/src/CoreLib/System/Collections/Generic/List.cs#L67

there is some special logic built-in already to support the efficient initialization of a `List<T>` based on an existing `ICollection<T>`. With the advent of `IReadOnlyCollection<T>` this constructor logic could be ex

[2018-10-02 11:41] JohannesHoppe commented on #30166
This also includes the Azure WebJobs SDK. I was never able to get it running behind our evil company proxy ('System.Net.Http.UseSocketsHttpHandler' does not work). For several years .Net Core is an endless source of frustration. 👎

[2018-10-02 12:13] Wraith2 commented on #32570
This will cause a performance degradation in existing code, the majority will pay the cost for something they are unlikely to use and have no opportunity to opt out of it. Casting is relatively slow and generic casts are slower still and can cause jit-ing of the IReadonlyCollection<T> type if it isn't used already.

Adding code to core parts of the clr like Dictionary and List has a multiplicative

[2018-10-02 12:43] GSPP commented on #32561
System.Net.Http is causing some trouble currently. I'm on .NET 4.7.1 Desktop. I had two projects with B depending on A. I was able to make it work by making B reference the framework (`<Reference Include="System.Net.Http">`) and A use the nuget reference:

[code]

The compiler error in project A was something like "conflicting versions of System.NetHttp: 4.0.0.0 and 4.2.0.0".

No other configurati

[2018-10-02 12:50] WillSullivan commented on #32561
@GSPP you're experiencing the birth pains of the .NET framework supporting .NET Standard 2.0. Read this https://github.com/Microsoft/dotnet/blob/master/releases/net471/KnownIssues/514195-Targeting%20.NET%20Framework%204.7.1%20copies%20extra%20files%20to%20your%20bin%20directory.md Upgrading to 4.7.2 was supposed to fix this issue, but apparently it's still kicking, albeit in a different form.

Sol

[2018-10-02 13:31] GSPP commented on #32561
@WillSullivan thank you.

For other people coming here I will leave a few notes:

I recommend to enable MSBuild logging as recommended here: https://stackoverflow.com/a/32633776 Then, delete all bin and obj folders, build and copy the build log to a file. That way you can make changes and use a diff tool to see the difference in behavior.

I also find out that binding redirects in web application

[2018-10-02 13:52] stephentoub commented on #32025
Again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/cb1ed2817eb526ece2a50fc0e9ab8fc5309c4cbf/workItem/System.IO.Compression.Tests/analysis/xunit/System.IO.Compression.GzipStreamUnitTests~2FDispose_WithUnfinishedReadAsync
on Windows 10, Windows 8, and Windows 7.

[2018-10-02 14:13] timabell commented on #31951
For the googlers arriving here: https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

[2018-10-02 14:16] stephentoub commented on #32569
https://github.com/dotnet/corefx/issues/24773
https://github.com/dotnet/corefx/issues/26579
https://github.com/dotnet/corefx/pull/28472

[2018-10-02 14:22] thomaslevesque opened #32575 "HttpUtility.ParseQueryString doesn't roundtrip when there are multiple values for the same key, behavior is inconsistent with .NET Framework"
In .NET Framework the `HttpUtility.ParseQueryString` has roundtripping behavior, i.e. the following test passes:

[code]

However, in .NET Core (2.1), this test fails: `values.ToString()` returns `type=foo%2cbar`.

[2018-10-02 14:51] stephentoub commented on #27000
It's not about what netstandard version you're using, but what implementation you're actually running on.  netstandard is just about the surface area you're targeting.  Presumably you're seeing this when running on .NET Core 2.0 on a mac; if you instead run on .NET Core 2.1, it should go away.

[2018-10-02 14:52] Tratcher opened #32576 "SocketsHttpHandler does not take into acount new certificate authorities"
_From @busesorin94 on October 2, 2018 11:17_

This issue only happens on .NET Core 2.1.X, when using DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=1.
Steps to reproduce:
1) Have a running application which calls a service using HTTPS for which the certificate authority is not trusted on the machine
2) Install the new authority on the machine and run update-ca-certificates
3) Call the service from t

[2018-10-02 14:54] stephentoub commented on #32576
cc: @bartonjs

[2018-10-02 14:55] GSPP commented on #32561
I succeeded by doing this:

Make all references and binding redirects use 4.2.0.0 like this:

    <Reference Include="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL">
      <HintPath>..\packages\System.Net.Http.4.3.3\lib\net46\System.Net.Http.dll</HintPath>
      <Private>True</Private>
    </Reference>

      <dependentAssembly>

[2018-10-02 15:01] jbhensley commented on #32454
I don't think we should be leaking native mem regardless of what happens.

Started looking at this again yesterday. Tried GC'ing the loop, but the finalizer is being suppressed. Whether it gets re-registered currently has no dependency on the state of this particular native allocation, which was a later addition. I am looking to open a PR that removes the suppression, which will effectively solve

[2018-10-02 15:20] grant-d commented on #1244
@GSPP, I wonder if consumers will intuitively understand the difference in naming. What about having a default param `bool recurse = false` on the method?

[2018-10-02 15:34] julienshepherd commented on #30057
I can confirm the issue in a production app. It started happening out of nowhere on Thursday, September 27th, even to apps that were previously compiled, released and working fine, Maybe Windows update pushed a new runtime version on users devices?

The code where the exception occurs is in a .NETStandard 2 library, referenced by a UWP app project targeting the 16299 Windows 10 build.

![posterror

[2018-10-02 15:54] bartonjs commented on #32576
This is known / intentional / by design.  The root trust list changes very rarely (particularly since .NET has no programmatic access to it), so as a performance optimization the contents are only read at most once per process.

We could, of course, change that model, but it would make all cert chain operations need to do a whole lot more IO, which would slow down chain building.

[2018-10-02 16:12] karelz commented on #31951
I don't think there is anything left here for us to do.

[2018-10-02 16:12] #31951 closed

[2018-10-02 16:19] karelz commented on #31943
.NET Core 2.0 is not supported anymore (since yesterday [2018/10/1](https://github.com/dotnet/core/blob/master/microsoft-support.md#out-of-support-net-core-releases)).

Happy to hear that 2.1.5 fixes the problem. In such case, we can close this issue as there is nothing left to track.

[2018-10-02 16:19] #31943 closed

[2018-10-02 16:21] ianhays commented on #14338
+1 for fromIndex and toIndex. `from` and `to` aren't quite descriptive enough.

Proposal looks good, just need to argue about naming :)

[2018-10-02 16:27] karelz commented on #32526
Are owners should comment - @bartonjs @GrabYourPitchforks cc @krwq

[2018-10-02 16:28] karelz commented on #32528
I was vague intentionally as I don't know the schedule for 2.1.5. @leecow can you please share rough ETA for 2.1.5?

[2018-10-02 16:30] leecow commented on #32528
1 hour ago ;-)

[2018-10-02 16:31] karelz commented on #30057
That sounds like a regression in the OS WinRT APIs.
Can you check which updates were installed?
Are you on official Windows release train (not insider)?

How badly does it impact you? Do you have a workaround?

[2018-10-02 16:33] TylerBrinkley commented on #14338
Another thing to consider is the placement of the `count` parameter. Should it be in between the two index parameters or at the end like how `Array.Copy` has the `length` parameter? Note, the name `count` was chosen as it mirrors the choice in `List.RemoveRange`.

[2018-10-02 16:35] #32536 closed

[2018-10-02 16:38] safern commented on #14338
I think we should place it at the end like `Array.Copy` to me it is better to first specify the indexes and at the end the `count`, it is kind of confusing to have (`fromIndex`, `count`, `toIndex`) if you read a caller without knowing the signature could be confusing. So I would follow the same patterns we already do.

[2018-10-02 16:44] TylerBrinkley commented on #14338
I'd be in favor of changing the proposal as `safern` suggests, renaming the `from` and `to` parameters to `fromIndex` and `toIndex` respectively and to move the `count` parameter to the end of the parameter list.

[2018-10-02 16:46] tarekgh commented on #1244
I agree with @grant-d RemovePrefix and TrimPrefix looks same to me and nothing indicate if one is recursive and the other is not. passing a bool for recursive may look better and explicit too. now I think we need to pick a name from the following list:

RemovePrefix
TrimPrefix
RemoveStart
TrimStart

I am inclining to the first one (RemovePrefix).

[2018-10-02 16:46] davidfowl opened #32582 "API Proposal: Expose SocketAsyncEventArgs constructor for suppressing the execution context"
This constructor should be exposed to give callers the control over not capturing and restoring the execution context per operation.

https://github.com/dotnet/corefx/blob/788690a86f37a9b70907d002a367f57fca8ba423/src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs#L95

[code]

cc @geoffkizer @stephentoub

[2018-10-02 16:48] JanEggers opened #32583 "Api suggestion: Monitor.TryEnter() with CancellationToken"
Im having a method that relies on a lock.

currently I do:

[code]
what I would prefere is that i can Monitor.TryEnter() or lock(_lock) with (ct) so that my function gets canceled as soon as the token is set.

[2018-10-02 16:48] safern commented on #14338
Just updated the proposal in the issue description to have that parameter naming and ordering.

[2018-10-02 16:56] bartonjs commented on #32526
Just because the enveloped transform was applied doesn't mean it was actually enveloped.

[code]

is also a legal representation, even though the enveloped transform was not required.

---

If I had to take a guess, I'd say that the problem is the position tagger uses the indices from `//ds:Signature`, but the position evaluator uses `ancestor-or-self::dsig:Signature[1]` (from... some context).

I

[2018-10-02 16:59] TylerBrinkley commented on #14338
You missed renaming the `List.Move` parameters and you'll probably want to update the mention of `from` and `to` in the Open Questions section.

[2018-10-02 16:59] GSPP commented on #1244
If the parameter design is chosen the parameter should not have a default. A default does not make sense here because this value must always be consciously decided. The default will be wrong in about half of the cases.

I'd call that parameter `removeAllInstances` or `removeAllOccurrences`. There is no harm in having a long but descriptive name. I also liked the proposal in the opening post `trimR

[2018-10-02 17:09] bartonjs commented on #14950
Nothing in .NET Core throws a FIPS exception.  All of the types which would have instead are wrappers over FIPSy types.

[2018-10-02 17:35] dnickless commented on #32570
Well, that is not exactly unexpected...

I just keep coming across this on a fairly regular basis... It popped up in a trace again today - in fact, it wasn't even that `List<T>` constructor call directly, it was rather LINQ's `.ToList<T>` in with a parameter of type `Dictionary<K, V>.KeyCollection` (which implements `IReadOnlyCollection<T>` only). So initially, I thought of suggesting this change

[2018-10-02 17:35] #32570 closed

[2018-10-02 17:37] dnickless commented on #32569
Oh well, it would appear there is high demand for that. ;) I'll close this one and I promise to properly use the search next time.

[2018-10-02 17:37] #32569 closed

[2018-10-02 18:11] #31482 closed

[2018-10-02 18:11] tarekgh commented on #1244
I am not sure I agree with that. if we have the default and anyone don't like the default behavior, they can override that. The benefit of the default parameter is don't have to write  extra things if the default is what you want.

[2018-10-02 18:12] Genbox commented on #31943
I have no idea where we saw the missing mac version then. Must have been somewhere else than the links you posted as not even their history mentions any change. Thanks for your help karelz.

[2018-10-02 18:30] danmosemsft commented on #32287
Does this include edits similar to https://github.com/dotnet/corefx/pull/32292 (and a backport thereof) @or is there another issue for that?

cc @leecow

[2018-10-02 18:44] Cheesebaron commented on #25746
On unix you open the console `/dev/tty0`, `/dev/vc/0`, `/dev/console` and write to it. However, as far as I know this requires root permissions. So writing directly to it will be a problem.

`beep` usually has its user id set to root.

[2018-10-02 19:30] jbhensley commented on #32312
@karelz @JeremyKuhne Let me know if there is anything else you need me to do. I'm sure this is not a very high priority item.

[2018-10-02 19:32] wuwei26 commented on #25773
Why is the Visual Studio 2017 Build Tools for 4.7.1 version of the dll different from the nuget version of the file for 4.7.1?
Visual Studio is 4.6.26011.1 while the nuget version is 4.6.25705.01; at the very least you would think you could keep the VS and nuget versions the same...

[2018-10-02 19:40] #32004 closed

[2018-10-02 20:03] stephentoub commented on #31766
@JunTaoLuo, any progress on a repro?

[2018-10-02 20:04] Cheesebaron commented on #25746
The function you have found is using `dos.h`, that doesn't seem like right place to look.

[2018-10-02 20:08] davidsh commented on #32576
@karelz

[2018-10-02 20:17] davidsh commented on #32576
Add the environment variable DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0

@bartonjs Why would this work with WinHttpHandler (WinHTTP).  Is it because they use a different algorithm for validating the certificates and trust roots etc.?

[2018-10-02 20:27] davidsh commented on #32575
There is already a PR for this submitted: #32578

[2018-10-02 20:27] #30356 closed

[2018-10-02 20:29] karelz commented on #32576
I agree that it sounds very corner case and looks like by design.
@busesorin94 do you have any specific scenarios which depend on the original curl behavior?

[2018-10-02 20:33] davidsh commented on #32514
Duplicate of #24454.

[2018-10-02 20:33] #32514 closed

[2018-10-02 20:35] karelz commented on #32575
Darn, I missed that :(

[2018-10-02 20:43] karelz commented on #25773
VS is different product than System.Net.Http nuget library (.NET tooling / IDE vs. .NET platform component, shipping from GitHub)

[2018-10-02 20:44] karelz commented on #32312
Sorry, I was at MSIgnite, not on email/GitHub.
@JeremyKuhne can you push on the API review next Tuesday please?

[2018-10-02 20:48] davidsh commented on #31943
.NET Core 2.1.5 has shipped as of today:

https://blogs.msdn.microsoft.com/dotnet/2018/10/02/net-core-october-2018-update/

[2018-10-02 21:08] chiddekel commented on #25746
Link was unavailable - here is re paste Debian git repo. http://git.deb.at/w/pkg/beep.git

[2018-10-02 21:19] stephentoub commented on #25746
That code is GPL.

[2018-10-02 21:20] tracker1 commented on #30793
@gfoidl no, a valid base64 string is divisible by 3 characters... there are 4 bytes encoded as 3 characters in base64.

[2018-10-02 21:29] tracker1 commented on #30793
@gfoidl My bad... I remembered incorrectly.. for some reason was thinking 3 encoded characters for every 2 bytes, not 4 encoded per 3 bytes.  You are correct.  :-)

and yeah, it was incredibly hacky...  I should have looked back at the spec instead of working from memory.  I found this bug, and thought it applied.

[2018-10-02 21:54] chiddekel commented on #25746
Yes code is GPL - re writed code based on beep Debian source code 👆- should be include the rule of interoperable in copyright law adding portion of code under GPL licence.

[2018-10-02 21:55] joperezr commented on #25773
@Jehoel what your issue tells me is that the server where your app is running doesn't have 4.7.2 installed. It may run fine on your machine because you do have 4.7.2 but the server must be on an earlier version of .NET. For regular console apps, we specify on the AppConfig the version of .NET that you target and when trying to load your app we ensure that this version is installed on the machine o

[2018-10-02 21:57] stephentoub commented on #25746
Sorry, I'm not quite understanding, but we _cannot_ base code in this repo on anything that is GPL.

[2018-10-02 21:58] chiddekel commented on #25746
You can

[2018-10-02 22:04] chiddekel commented on #25746
You can, new portion of code will be under GPL licence, and licence can be add to this specific portion of code, so will be include only to beep re-implementation.

[2018-10-02 22:05] stephentoub commented on #25746
No, that is not how this repo / product operates.

[2018-10-02 22:17] Jehoel commented on #25773
@joperezr I'll admit that was my problem: I was deploying to Azure App Services which doesn't yet support 4.7.2, only 4.7.1 (progress in here: https://github.com/Azure/app-service-announcements-discussions/issues/37) - but even when I manually copied the correct version of `System.Net.Http.dll` into my application's directory it still failed (with and without the binding redirect), plus I was conc

[2018-10-02 22:20] joperezr commented on #32561
@WillSullivan Do note that when targeting .NET Standard in your project and consuming .NET Framework libraries you are walking on the edge of unsupported territory. The original design is to have .NET Framework apps reference .NET Standard but not the other way around. Think of this way, when you target .NET Standard, then your library should run everywhere .NET Standard runs (for example: .NET Co

[2018-10-02 22:31] joperezr commented on #22781
Unfortunately, System.Net.Http has caused different sets of issues for apps, which explains why this issue is now a sum of a bunch of different root causes for different problems. Anyone facing a problem with System.Net.Http, I think we would benefit from logging a new issue along containing a small repro of the problem (if possible), a description, and a build log. If we find that two of those is

[2018-10-02 22:35] joperezr commented on #25773
placing a version of an assembly and adding a binding redirect is in most cases not enough, since you would have to also copy all of the new assemblies that the new System.Net.Http assembly references and uses at runtime. Most of the framework is tightly coupled, which means that it is hard to just pick different pieces of it from different versions and expect things to just work.

[2018-10-02 22:35] BrainSlugs83 commented on #32583
Clarification question: is your suggestion that `Monitor.TryEnter` should cancel your token if it fails? (e.g. returns false)?

Or that Monitor.Exit() (or the end of a lock statement) should cancel it?

[2018-10-02 22:49] joperezr commented on #32544
Well, @karelz brings a good point that there may be differences still with the actual framework that you have installed, but one other thing that I noticed right off the bat is that on the app that crashes you don't seem to have the VectorIssue.exe.config file which would contain the binding redirects that might be making it work on the first version.

[2018-10-02 22:58] BrainSlugs83 opened #32587 "Getting super weird binding redirect behavior with System.* NuGet Packages"
As soon as I add any of the latest NuGet packages (System.Net, System.Runtime, Microsoft.Bcl*, etc.) -- Visual Studio starts to warn me that:
1.) Basically every other project in my solution / down stream of that project needs to add that NuGet package also -- okay, that's not terrible, just annoying... (but more problematic because of issue no. 2, below):
2.) Every single downstream project sudde

[2018-10-02 22:59] wfurt commented on #32118
should be fixed by #32283. We no longer see failures.

[2018-10-02 22:59] #32118 closed

[2018-10-02 23:03] Lxiamail commented on #21942
@MrGadget1024 unfortunately, this fix doesn't meet .NET Framework 4.8 release bar. We won't be able to port it to full framework.

[2018-10-02 23:17] yujayee commented on #31427
Closing this issue. The fix doesn't meet NET Framework 4.8 release bar.

[2018-10-02 23:17] #31427 closed

[2018-10-02 23:47] karelz commented on #20809
Looks like UserVoice is the right place for SQL: https://docs.microsoft.com/en-us/collaborate/connect-redirect#sql-server-connect-site-id-68

[2018-10-02 23:54] JeremyKuhne opened #32588 "Api Proposal: Add reader for ReadOnlySequence<T>"
## Rationale and usage

Reading data out of a `ReadOnlySequence<T>`  (such as those returned via `System.IO.Pipelines.ReadResult`) is difficult. Writing performant, correct logic that handles data spanning multiple discontinuous segments is hard.

`SequenceReader<T>` wraps a `ReadOnlySequence<T>` and provides methods for reading binary and text data with a focus on performance and minimal or zero

[2018-10-02 23:57] JeremyKuhne commented on #32588
cc: @KrzysztofCwalina, @joshfree, @ahsonkhan, @davidfowl, @pakrym, @terrajobst, @danmosemsft

[2018-10-03 00:31] mconnew commented on #30760
WCF has another customer hitting this issue dotnet/wcf#3185

[2018-10-03 00:54] wfurt opened #32589 "System.Net.WebSockets.Client.Tests hangs on single core Linux"
https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20181002.03

This is causing consistent catastrophic failures on RedHat.69.
Because of unrelated issues, RH6 is only OS running on single core VM.
(daily failure since August 15)

CI runs fail only on Redhat.6 but after some investigation I was able to reproduce it on Ubuntu as well a

[2018-10-03 02:31] fabricefou commented on #1272
Any news on this issue?

[2018-10-03 04:01] davidfowl commented on #32582
@karlez why is this in future instead of 3.0? It’s trivial to do.

[2018-10-03 04:12] #30925 closed

[2018-10-03 05:39] JanEggers commented on #32583
What I want:

When I cancel the CancellationToken then Monitor.TryEnter should exit and return false.

[2018-10-03 06:55] tomlm opened #32593 "Xml Schema Validator doesn't find schema location xsd data when run on dotnet core"
This program works on .net 4.61 and runs but fails on .net core
[code]

When running this against invoice_fixed.xml (which should not have errors:
### desktop version
[code]
Which is correct.

### dotnet core version
[code]

Which is basically failing on every node saying it can't find the schema information

[2018-10-03 06:57] tomlm commented on #32593
[invoice.zip](https://github.com/dotnet/corefx/files/2440931/invoice.zip)
Here is the .xml and xsd files

[2018-10-03 08:17] MichalStrehovsky opened #32594 "System.Reflection.Metadata doesn't work with UAPAOT"
The light up code here:

https://github.com/dotnet/corefx/blob/9cb4ea0045eed954d72aea6f283d22f2d7fb3c7b/src/System.Reflection.Metadata/src/System/Reflection/Internal/Utilities/EncodingHelper.cs#L173-L188

requires that we have reflection metadata for the `Encoding_GetString` delegate, which we don't, because the delegate is not public and S.R.Metadata opts into size saving optimization that blocks

[2018-10-03 08:45] thomaslevesque commented on #32575
As mentioned by @karelz in https://github.com/dotnet/corefx/pull/32578#discussion_r222129986, there's another case that is handled by .NET Framework but not by .NET Core: keys without values, i.e. `name&another`. This should probably be a separate issue, though.

[2018-10-03 09:18] tmds commented on #31713
@ajaybhargavb does the suggested fix work for you?

[2018-10-03 09:44] jkotas commented on #32594
This light-up is not necessary for uap. The fix should be to change the conditions on when to not use the  light-up in the .csproj file to include uap as well:

https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/src/System.Reflection.Metadata.csproj#L97

[2018-10-03 09:51] #32589 closed

[2018-10-03 09:55] justlearntutors opened #32595 "System.TimeZoneInfo.ConvertTimeFromUtc bug"
We want to convert time.

Example
**Localhost**
DateTimeOffset TimeZoneInfoConvert = System.TimeZoneInfo.ConvertTimeFromUtc(DateTime.Parse("10/9/2018 8:00:00 AM"), System.TimeZoneInfo.FindSystemTimeZoneById("W. Europe Standard Time"));

Correct result: 10/9/2018 10:00:00 AM +02:00

**Server**
DateTimeOffset TimeZoneInfoConvert = System.TimeZoneInfo.ConvertTimeFromUtc(DateTime.Parse("10/9/2018 8:00

[2018-10-03 10:07] stephentoub commented on #21037
Again here:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/43fa6c59d7a078fce985cc6c094fa0fd37c0d39f/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerResponseHeadersTests~2FAppendHeader_NullOrEmptyName_ThrowsArgumentNullException(name:%20null)

[2018-10-03 10:09] #32575 closed

[2018-10-03 10:13] stephentoub commented on #32583
Being able to take a CancellationToken into Monitor.Enter/TryEnter would be a fine thing to add, but I expect implementation would be quite challenging.

[2018-10-03 10:59] karbeny commented on #18012
I work with serialPort in Linux like fileStream and it's working realy great.

[2018-10-03 11:27] shaggygi commented on #18012
@karbeny you have any code examples to share?

[2018-10-03 11:28] busesorin94 commented on #32576
I've reproduced this using a docker container hosted application (from microsoft/dotnet:2.1-aspnetcore-runtime).
My scenario is that we have an integration application which needs to deploy some custom authorities to docker services (E.g. after we set up a proxy for our system, we need to send the proxy certificate to docker services). We'd like to do that without having to kill all the running co

[2018-10-03 12:28] GSPP commented on #32587
If you search the https://github.com/dotnet/standard issue tracker for "System.Net.Http" and "System.Runtime" you find lots of breakage, for example:

https://github.com/dotnet/standard/issues/481
https://github.com/dotnet/standard/issues/567
https://github.com/dotnet/standard/issues/558
https://github.com/dotnet/standard/issues/887

All of this seems unresolved. I wonder how many people have issu

[2018-10-03 12:36] GSPP commented on #32417
Is `runtext` being used by anything? If yes that seems to be a threading problem. Multiple threads can simultaneously match using the same regex object.

[2018-10-03 12:53] karbeny commented on #18012
Here is example of my using.... It's not complete code.

`ExecuteCommand("stty 115200 raw -echo -F /dev/ttyUSB0");
FileStream fs = new FileStream("/dev/ttyUSB0",FileMode.Open);

        public static void ExecuteCommand(string command)
        {
            System.Diagnostics.Process proc = new System.Diagnostics.Process ();
            proc.StartInfo.FileName = "/bin/bash";
            proc.Start

[2018-10-03 13:04] karbeny commented on #18012
Here is implementation inside c# code.

`using System;
using System.IO;
using SimpleWebServer;
using System.Net;
using System.Threading;
using System.Timers;
using System.Text;

namespace Test
{
    class Program
    {
        static string serialString = "";
        public delegate void ZobrazZpravu(byte zprava);
        public static ZobrazZpravu myDelegate;
        static Thread vlakno;

[2018-10-03 13:08] WillSullivan commented on #32561
@joperezr

There's oddness, and it's still something to do with System.Net.Http (the bane of my existence for the past forever months). I completely understand the netstandard-referencing-netframework "edge of unsupported territory." That makes complete sense, and it's not a wise design choice on our part. I'll pass that on and see if we can support our overall needs while avoiding this scenario.

[2018-10-03 13:20] sixlettervariables commented on #32595
`ConvertTimeFromUtc` returns a `DateTime` rather than a `DateTimeOffset`. Given no `DateTimeStyles`, the parse result will have a kind of `Unspecified`. The implicit conversion to a `DateTimeOffset` from a `DateTime` of kind `Local` or `Unspecified` uses your local time zone offset. It seems that your server's time zone is UTC while your local machine's time zone is W. Europe Standard Time. You co

[2018-10-03 13:37] julienshepherd commented on #30057
I checked and the issue comes from a migration on our internal servers where the authentication was changed to Windows NTLM.

On [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/9e137127-e0e5-4aec-a7a9-d66f5b84c70b/rtm-known-issue-systemnethttphttpclient-or-httpwebrequest-class-usage-in-a-uwp-app-throws-a?forum=Win10SDKToolsIssues)and[ Stack Overflow ](https://stackoverflow.com/questions/405

[2018-10-03 14:49] Symbai commented on #32544
@joperezr The config file was the problem. With config file it works on both systems.

[2018-10-03 15:24] thomaslevesque opened #32598 "HttpUtility.ParseQueryString incorrectly outputs values without keys, behavior is inconsistent with .NET Framework"
Related to #32575.

When a query string contains values without key(*) (e.g. `foo&bar`), calling `ToString()` on the result of `HttpUtility.ParseQueryString` doesn't properly format those values. For instance, `foo&bar` becomes `=foo&=bar`.

The .NET Framework version handles this case correctly.

---
(*) You could also think of these as keys without values, which IMO would make more sense; but in

[2018-10-03 15:29] karelz commented on #32561
Can we close the issue or is there still something pending here?

[2018-10-03 15:30] thomaslevesque commented on #32575
Opened https://github.com/dotnet/corefx/issues/32598 to take care of this.

[2018-10-03 15:32] GSPP commented on #32561
@karelz what's the current plan to address the System.Net.Http.dll and System.Runtime.dll breakages? I don't necessarily mean this particular issue but all the ones that have been reported. There's a list in https://github.com/dotnet/corefx/issues/32587#issuecomment-426619079.

[2018-10-03 15:37] WillSullivan commented on #32561
Well, I'm doing something that's supported (I'm assuming "edge of unsupported" means inside the line), and there's no way to get rid of the warning, apparently... is this a no-fix? Would it be worthwhile to add a warning when a netstandard assembly is referencing a framework assembly, and state that you may encounter warnings about inconsistent versions that cannot be resolved so don't go down tha

[2018-10-03 16:08] karelz commented on #32576
I think we have these options:
1. Check root trust list more often -- This has perf impact on all scenarios, therefore it is not desirable, unless these are more scenarios & users who need it
2. Subscribe to (file system?) changes and refresh it when it changes -- @bartonjs is that an option?
3. Let users refresh root trust list explicitly (e.g. new API or side effect of existing one) -- Adding a

[2018-10-03 16:09] Clockwork-Muse commented on #32595
To be clear, almost certainly what you want to be doing is something similar to:

[code]

...or you can use [NodaTime](https://nodatime.org/), and use the appropriate domain types.

[2018-10-03 16:15] karelz commented on #32582
@davidfowl trivial != critical / high-value. 3.0 milestone means it is something we are fairly sure we can make happen or it is critical for that milestone and we should make it happen.
Future milestone does not mean it cannot happen earlier. It just doesn't make any promises on when it is going to happen. Therefore Future milestone is default for most bugs and API additions without clear high-imp

[2018-10-03 16:16] karelz commented on #32528
Yes, simply install it on server - the latest patch version is always picked up by apps. No need to re-publish.

[2018-10-03 16:32] davidfowl commented on #32582
High level goal of mine is to reduce the amount of places we're capturing the restoring the ExecutionContext unnecessarily.

I don't mind contributing this change as long as we agree on the API (which is why this is an API proposal). I'd like to avoid the additional overhead we currently have using SocketAsyncEventArgs in Kestrel similar to how https://github.com/dotnet/corefx/blob/a10890f4ffe0fad

[2018-10-03 16:39] karelz commented on #32561
@GSPP the plan is to keep understanding the root-causes as there are multiple problems with similar symptoms. And keep fixing them (many are fixed in latest VS tooling and .NET 4.7.2 AFAIK).
I suggested to @joperezr yesterday to create a wiki where we can keep list of known problems and where/how they were solved to streamline & load balance troubleshooting of these problems.
If you have better id

[2018-10-03 16:53] akhileshATI commented on #24480
+1

[2018-10-03 16:56] groogiam commented on #32465
I cannot seem to get a response from the service fabric team on this. After attempting to check the printer is valid and calling Marshal.GetLastWin32Error(), I get 1801 which indicates that unc printer path is not being resolved. The FabricHost process runs under SYSTEM but the spawned services are running under a domain account which should have full access to the network. This seems like a bug i

[2018-10-03 16:56] akhileshcoer commented on #24480
+1

[2018-10-03 17:03] ericstj opened #32600 "TypeConverter isn't working for ModifierKeys"
Reported by @onovotny, /cc @vatsan-madhavan-msft

Create a WPF application with a combination used in KeyBinding.Modifiers.  For example:
[code]

Run that application.

Expect: runs correctly
Actual: crashes on startup with callstack:
[code]

It would appear that the [typeconverter](https://docs.microsoft.com/en-us/dotnet/api/system.windows.input.modifierkeysconverter?redirectedfrom=MSDN&view=netf

[2018-10-03 17:08] wfurt commented on #31749
That is very different error. Can please post packet capture? Wireshark or ```sudo tcpdump -eni lo0 port 5001```

Did you try to access it wither with Safari or curl?

[2018-10-03 17:10] bartonjs commented on #32576
Option 2 is a no-go, we have decided to not depend on FileSystemWatcher within the shared framework; and it's only semi-reliable.

Option 3 is also not very likely, it's API that wouldn't have any effect on Windows or macOS, and that makes it hard to use.

That leaves it at 1 or 4.

@busesorin94 It seems like the custom trust should be known before the container starts, so it seems like it's part

[2018-10-03 17:38] airbreather commented on #31093
IIRC, it used to be that way.  [This post](https://blogs.msdn.microsoft.com/dotnet/2013/09/12/immutable-collections-are-now-rc/) explains the problems that led to `ImmutableArray<T>` getting reworked to what we have now.

[2018-10-03 18:30] vatsan-madhavan-msft opened #32602 "WPF on .NET Core needs updated TypeConverters for Uri and Enum"
Xaml parsing requires [TypeConverters to be implemented and work a certain way](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/typeconverters-and-xaml).

We have been working on getting some of our Xaml tests running against .NET Core 3, and also porting PresentationBuildTasks to work on .NET Core 3. In the process, we have encountered some problems with `UriTypeConverter` and `Enu

[2018-10-03 18:40] ericstj commented on #32602
/cc @safern

Probably related to https://github.com/dotnet/corefx/issues/32600.

[2018-10-03 18:48] jherby2k opened #32603 "Feature Request: Variable-size "long" for simplified p/invoke"
To greatly simplify p/invoke code (particularly struct definitions, but also method signatures), it would be amazing if there was a "long" type that matched the OS's compiler definition of long. This would mean no more preprocessor definitions, and a single assembly that works across OSes.

To be clear, this has nothing to do with word length. This is about what "long" means in compiled C code on

[2018-10-03 18:56] safern commented on #32602
Did you mean `TypeDescriptor`?  https://referencesource.microsoft.com/#System/compmod/system/componentmodel/EnumConverter.cs,172

We recently added this to `DateTimeConverter` -- https://github.com/dotnet/corefx/pull/31558

[2018-10-03 18:59] jherby2k commented on #32603
Thinking some more about implementation, the CLong type should just be treated like an Int32 on the managed side when it comes to range and casting. Any native code containing longs that runs on Windows would have to work properly with 4 byte longs, and if the code isn't intended for Windows, then CLong isn't for you anyway (just use Int64).

A UCLong (CULong?) would seem to be called for also.

[2018-10-03 19:00] ericstj commented on #32602
@safern Yeah I think `InstanceDescriptor` is missing.  For some reason folks excluded this from the initial commits.

https://github.com/dotnet/corefx/commit/aa2a05613e798ea173c2dc32cc78ebcea17fface#diff-7f45f23a644275c5e7cdb8ef12369fb9R86
vs
https://referencesource.microsoft.com/#System/net/System/_UriTypeConverter.cs,84

https://github.com/dotnet/corefx/commit/bf20e99b349b6ee5d9dfa4e6a7cb13088c4

[2018-10-03 19:43] EgorBo commented on #32603
Looks like what you need is proposed here https://github.com/dotnet/corefxlab/blob/master/docs/specs/nativesized.md

[2018-10-03 19:55] jherby2k commented on #32603
@EgorBo That refers to types that vary in size by word length (32-bit, 64-bit etc.). Different request but easy to confuse (I originally used the term "native long" but changed it to try and avoid this confusion).

[2018-10-03 20:37] KrzysztofCwalina commented on #32588
We need a reader for both ROS and Span. Why cannot this type have a ctor overload taking a Span?

[2018-10-03 20:40] karelz commented on #31034
@btecu do you hit the problem with your app, or with nuget client?
@Julian89757 did you hit the same issue in your app or in nuget client?

We're seeing similar problems on .NET Core 2.1 with nuget client, so any leads are appreciated. Thanks!

[2018-10-03 20:47] btecu commented on #31034
I saw it in our application. The application processes a high number of requests and a small number fail with that error. I wasn't sure where to even start looking.

[2018-10-03 20:50] karelz commented on #31034
@btecu how often does it happen to your app? (ideally frequency of failure per number of requests or at least per time unit)

[2018-10-03 21:06] JeremyKuhne commented on #32588
Taking `ReadOnlyMemory<T>` would be straight forward- we can add a convenience constructor for that.

Taking `ReadOnlySpan<T>` would be a little odd. None of the `ReadOnlySequence<T>` methods would work, `Position` and `Sequence` wouldn't make sense. I wouldn't want to have a two state reader where some of the properties/methods are unusable.

[2018-10-03 21:11] danmosemsft commented on #32417
@GSPP I think this attempts to protect it
[code]
`Get()` performs interlocked exchange.

As for the leak on the face of it it does seem like a potential problem. It is not immediately obvious to me why it holds on to runtext, the purpose of the cache is to avoid re-interpreting/re-compiling the pattern. It may be an accident. However @ViktorHofer is the expert.

[2018-10-03 21:34] pharring opened #32606 "Serializing rich payload events with Nullable properties fails"
Originally reported via Application Insights at https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/850

If you call `System.Diagnostics.Tracing.EventSource.Write<T>` passing in an object with nullable properties (`int?` or `double?`, for example) whose value is null (i.e. `HasValue` returns `false`), you get a System.Reflection.TargetException (full call-stack below).

This look

[2018-10-03 21:54] KrzysztofCwalina commented on #32588
Position would work just fine with Span. The sequence property does not seem to be very useful. And there is no reason to use TryRead returning ROS when you read a single span.

[2018-10-03 22:09] Clockwork-Muse commented on #31093
@airbreather -
I guess the question then is, "is the optimizer able to elide null checks?".

[2018-10-03 22:16] davidsh commented on #32587
@joperezr

[2018-10-03 22:18] karelz commented on #32587
@BrainSlugs83 can you please share repro steps? I cannot reproduce it with library and console app both targeting 4.7.2. Neither with simple .NET Standard 2.0 lib with explicit System.Runtime 4.3.0 dependency.

[2018-10-03 22:19] Clockwork-Muse commented on #32603
....so why isn't the native code considered "buggy", in that it's using a type with a variable size definition?  Especially since the next set of fields has an explicit size?

(Frankly, this is one of my least favorite C/C++ "features", for mostly this reason - that, and in almost all cases the far more interesting information is the range of the domain type, not the size of the physical type)

[2018-10-03 22:30] ajaybhargavb commented on #31713
Sorry, I haven't had the chance to try out the suggestions yet. I should get around to this sometime next week.

[2018-10-03 22:33] nic-hartley commented on #32184
[up-for-grabs] should probably be removed, looks like this is being worked on.

[2018-10-03 22:34] jherby2k commented on #32603
The merits of using long isn’t really the point.. my example is a pre-existing API already present on most Linux distributions. And it isn’t particularly obscure - I can provide other examples.

[2018-10-03 22:34] #32450 closed

[2018-10-03 22:47] krwq commented on #32593
@tomlm I suspect this is an xml resolver issue. Could you check if solution similar to this will work for you? https://github.com/dotnet/corefx/issues/26015#issuecomment-371244204

[2018-10-03 22:48] tarekgh commented on #32595
both @sixlettervariables  and @Clockwork-Muse  are correct. using the way that @Clockwork-Muse suggested will remove the confusion and be explicit.

[2018-10-03 22:48] #32595 closed

[2018-10-03 22:53] tomlm commented on #32593
Adding this to my settings
[code]
Solved the problem.  Makes sense, thanks for your help.

It would be great to update the docs, somehow I find many references which did not do that.

[2018-10-03 22:53] #32593 closed

[2018-10-03 23:00] joperezr commented on #32587
which framework are you targeting? If you could give a simple repro that would be the best so we could diagnose what is going on. FWIW, I don't believe the binding redirects are wrong. We add those because your app will need to use specific assemblies that will ship with your app in order to be able to consume .NET Standard based components at runtime. Those specific assemblies are supposed to get

[2018-10-03 23:02] deinok commented on #25293
@philippweidhas I have the same issue.
`Error no assets were resolved fom NuGet packages` on `corefx/external/runtime/runtime.depproj`

I try to build coreclr and corefx on same VM (the two for x86) but stucks at this point

[2018-10-03 23:06] joperezr commented on #32561
@WillSullivan what I meant by "edge of unsupported" is that this is not really a supported scenario, but since users transitioning from .NET Framework into .NET Standard might hit issues like these, we tried our best to let your app compile and run if at all possible. Having warnings on the build, as @karelz suggests, is just some restrictions that our tooling will notice when things aren't really

[2018-10-03 23:38] pharring commented on #32606
Here's a repro:

[code]

If targeting .NET 4.6 (or above), this completes successfully. However, if compiled for .NET Core, this throws a System.Diagnostics.Tracing.EventSourceException with an InnerException of
[code]

[2018-10-03 23:40] KrzysztofCwalina commented on #32588
```new SequencePosition(_currentIndex, null);```

The caller has the original ROS; they passed it to the ctor most likely. Why do they need the property to get it?

Is this a real and important scenario? I think there is value in having smaller number of these reader types. The value might be worth the tradeoff, i.e. limiting some scenarios where it's not clear we need them.

I am not sure if this

[2018-10-03 23:59] krwq commented on #32593
Glad it helped! @tomlm I'm currently tracking number of hits of similar issues and slightly leaning toward reverting the resolver setting for schema related cases (probably wouldn't help in your case since you use XmlReader directly)

[2018-10-04 00:03] vancem commented on #32606
Thanks Paul.  That is super helpful to have a nice small repro like this.

[2018-10-04 00:38] jnm2 commented on #16010
@tarekgh Is it okay if I ping? (It's been a month.)

[2018-10-04 00:49] tarekgh commented on #16010
@jnm2 you should hear soon about this one. thanks.

[2018-10-04 01:28] JeremyKuhne commented on #32588
While I agree in principle, there is also value in not providing types that solve multiple things poorly.

I don't think I am.

I know that handling Span will make this type more complicated and harder to use. I think having large swaths of the struct be non-usable in some cases is alone a non-starter. Take all these together and I have a hard time justifing spending the time:

1. Must know what b

[2018-10-04 01:41] KrzysztofCwalina commented on #32588
Have you measured it? As we talked, my mental model is that the methods simply read from the unread span (in both modes) and the only difference between the modes (from perf perspective) is when you hit the ned of the current span.

When we shipped the static methods, people (@jkotas and @stephentoub) felt is critical that we have a reader.

Is that objection different than point 3 above?

I am no

[2018-10-04 01:55] tannergooding commented on #32603
`[MarshalAs(UnmanagedType.CLong] int EndOfStream;`

This isn't sufficient. This would not allow the upper 32-bits to be used on 64-bit Linux.
Likewise, using `long` could cause a loss of data on Windows, if managed code were to set the upper 32-bits.

If this were to be handled, it would likely need to be done by an explicit type that the runtime will dynamically size as needed (much like `IntPtr`

[2018-10-04 01:59] BrainSlugs83 commented on #32587
Both 4.7.2 and .NET Standard 2.0. -- I can't share with you my verbatim code base due to NDA, but this eventually happens in every solution I work on at some point -- maybe not day 1, but after enough projects get into the solution (even with all packages consolidated), this eventually happens, and it's always the Microsoft.* or System.* packages that want the bad binding redirects.

I will try th

[2018-10-04 02:20] jherby2k commented on #32603
I suppose that’s potentially true, although in many (most) cases the upper 32 bits are not particularly useful (considering that the code is assumed to work on 32bit and Windows platforms). I’m curious if there is any new code being written with longs. My assumption is that their occurance in code is a legacy holdover from when 64-bit architectures were a pipe dream.

Keeping with the suggested at

[2018-10-04 02:40] tannergooding commented on #32603
I would like to hope that most "modern/new" C/C++ code is being written to be cross-platform and cross-architecture aware and that they will use explicitly sized types (int32_t, int64_t, intptr_t, etc), rather than relying on the C/C++ language keywords (int, long, long long, etc). And looking around at various "newer" codebases that are explicitly meant to be cross-platform/architecture, they ten

[2018-10-04 03:55] jkotas commented on #32603
I think `[MarshalAs(UnmanagedType.CLong]` on `int` or `long` would be sufficient. It would work just like any other interop marshaling and throw exceptions when the data does not fit.

I do not think a special casing like this would be worth it in this case.

[2018-10-04 04:08] tannergooding commented on #32603
This keeps coming up (the most notable likely being from @migueldeicaza: https://github.com/dotnet/coreclr/issues/963), and the only "correct" solution, today, is to cross-compile.

Which requires you to actually marshal the data, rather than allowing pinning or blitting of the value on 64-bit. If you expect to support 64-bit, you have to use long (or `intptr`), because you can't necessarily guara

[2018-10-04 04:08] donnyv opened #32608 "Issue with sending commands using process.StandardInput.Write on MacOS"
I'm having a weird problem where once a Terminal process is launched it will not accept anymore commands.
https://stackoverflow.com/questions/52638733/process-standardinput-write-is-not-writing-to-the-terminal-on-macos-using-net-c

[2018-10-04 04:20] jkotas commented on #32603
dotnet/coreclr#963 is a different issue from this one. I think that paying the price to marshal the data is perfectly fine for CLong.

[2018-10-04 05:56] JeremyKuhne commented on #32588
Yes- we can make the code **much** faster if we never have to go down the road of looking for additional space. Everything I measured (literally weeks of running perf tests) showed impact from the smallest of changes- even one condition would make a difference. I whipped together the start of SpanReader and got the following on the first thing I checked (these are going through the **same** 100,00

[2018-10-04 06:13] schamo commented on #32528
OK, I tried this out - unfortunately without success. The workaround's still doing the job, but we'd like to get away from this...
I wasn't able to create a simple repro, either. Seems to be more complicated than I thought. Don't know when I'll find some more time for this, hopefully still this week.

[2018-10-04 08:17] sandersaares opened #32610 "Could not load file or assembly 'System.ValueTuple, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies"
1. Create a new .NET Framework 4.7.1 console app project.
1. Install BenchmarkDotNet NuGet package.
1. Observe that above resulted in `<package id="System.ValueTuple" version="4.3.0" targetFramework="net471" />` in `packages.config` due to some dependency.
1. Paste the following code into Program.cs and excute the app.

[code]

Expected result: app executes and performs some no-op benchmarks.

Act

[2018-10-04 08:32] sandersaares commented on #32610
If I upgrade NuGet packages to recent versions, it looks like the error goes away. Does this mean that 4.3.0 is not actually compatible with net471, despite getting installed? Does it mean the BenchmarkDotNet package owner should require a later one to work around this? What is the right way forward here, so installing the package will result in a successful runtime experience?

[2018-10-04 09:42] wesleyolis commented on #30959
@karelz I will get back to you soon sorry. Just many issues problems to solve, see if I can make it even clearly for everyone to understand my perspective.

[2018-10-04 09:51] bpress opened #32611 "System.Net.Dns.GetHostAddresses() does not return all local ip addresses on Linux/.NET Core (it works in .NET Framework)"
A call to

`System.Net.Dns.GetHostAddresses(System.Net.Dns.GetHostName())`

returns only the first local IP address when running on Linux.

Tested with .NET Core 2.1.3

Here is the repro code:
[code]

Here is the (wrong) output I get on my Linux Debian 9:
[code]

If I run the very same code under Mono, it works, and this is the correct output I get:
[code]
On Windows both .NET Core and .NET Framew

[2018-10-04 10:47] jordanovski opened #32612 "System.IO.Path.Combine used in netstandard2.0 project not producing the same result when called from .NET Core and .NET Framework"
In a netstandard2.0 project, we have a method that creates a path from a string array using the **System.IO.Path.Combine** method.
[code]

This is the output we are getting from the method when we call it from a .NET Core 2.1 and .NET Framework 4.6.1 projects:

**.NET Core 2.1**
[code]

**.NET Framework 4.6.1**
[code]

Is this the expected behaviour of Path.Combine?

[2018-10-04 11:20] tmds commented on #32224
I discussed this with Tomáš Mráz (@t8m) who maintains the OpenSSL packages for RHEL and Fedora. On short term it should be ok to use the certificates without trust data, on long term we should look at using the trust data and match the appropriate trust.

We can change from PEM_read_bio_X509_AUX to PEM_read_bio_X509 where we read the store certificates to use the certificates without trust data.

[2018-10-04 11:55] filipnavara commented on #32224
As previously pointed out this won't work. `PEM_read_bio_X509` cannot read the data, which have the `BEGIN TRUSTED CERTIFICATE` PEM header.

[2018-10-04 11:57] tmds commented on #32224
Yes, those certificates will be skipped, which is desired.

[2018-10-04 12:27] MarcoRossignoli commented on #32612
/cc @JeremyKuhne

[2018-10-04 12:52] btecu commented on #31034
The application handles 10000s of requests a day, yet only very few (less than five) a day fail.

I have this one that happens consistently between one and three times a day:
[code]

I also have this one that happens a few times a day too so it might be related to the previous one:
[code]

[2018-10-04 12:57] jkotas commented on #32603
You example would get some extra instructions as well, in some cases at least.

`MarshalAs(UnmanagedType.CLong)` would have similar performance characteristics and limitations as passing `bool` over managed/unmanaged boundary. C# `bool` has to converted to C++ `bool`, similar to how C# `long` has to be converted to C++ `long` here.

[2018-10-04 13:05] t8m commented on #32224
I do not know what is the situation on SLES or other distributions. But on Fedora/RHEL the data files with and without the trust info contain practically the same certificates except the file with trust info might also contain intermediate certificates which are explicitly distrusted. I do not know off the top of  my head if we currently ship such distrusted certificates though, I would have to lo

[2018-10-04 13:36] stephentoub commented on #32582
Can we measure what the actual impact is? I'd be fine with an approximation just by changing the internal use of this ctor to always pass true, and then seeing how that affects a microbenchmark using the send/receive methods that would otherwise have passed false. I should have gotten concrete measurements for this when I initially made that change internally in corefx (I may have locally, I don't

[2018-10-04 13:38] stephentoub commented on #32582
ps It'd also be great if Kestrel didn't need its own SAEA usage and could just use the ValueTask-based methods on Sockets. What would it take to make that happen instead, in terms of e.g. other missing APIs or perf gaps?

[2018-10-04 13:39] #31728 closed

[2018-10-04 13:54] jordanovski commented on #32612
I don't know if this is the correct place of the **Path.Combine** implementation for .NET Core and .NET Framework but I found that in the .NET Framework implementation there is one comparison (`ch != VolumeSeparatorChar`) more for determining if **DirectorySeparatorChar** needs to be appended to the file path

**.NET Framework**
https://referencesource.microsoft.com/#mscorlib/system/io/path.cs,127

[2018-10-04 14:00] sixlettervariables commented on #32612
On Windows, `C:` and `C:\` mean two different things, oddly enough. Specifying a drive (i.e. `C:`) without a trailing directory separator character means, "relative to the current working directory of the drive," rather than the root of that drive (compare in a DOS/command prompt using `C:` vs `C:\`). For example:
[code]

[2018-10-04 14:38] baal2000 opened #32615 "Feature request: Add cancellation support to HttpClient async methods that lack it."
It seems obvious that there is a lack of external cancellation support in a few HttpClient methods: GetByteArrayAsync, GetStreamAsync and maybe others. Any particular reason?

What is expected:

[code]

I might be not alone here. If missed another case or the feature is in the pipeline already, then comment to the case and close as a duplicate.

Thanks.

[2018-10-04 14:38] #32598 closed

[2018-10-04 14:41] jherby2k commented on #32603
I think the best argument for not introducing a new type is that this issue relates to legacy / awkward code interop only. first-class support seems like overkill.

On the other hand, if adding the type isn’t too hard, the performance advantages might be nice. And it’s probably cleaner.

I will leave it up to you experts. both solutions are acceptable and I’d just like to see something as soon as

[2018-10-04 14:43] onovotny commented on #32457
Could this be related? https://github.com/dotnet/reactive/issues/823

A user is hitting assembly load issues with ValueTuple and RxNet

[2018-10-04 15:14] gabeluci commented on #29369
I just happened to look at this again today, and I realized that the updates made back in April weren't entirely accurate.

Right now, it reads like this:

It still makes reference to the "credentials specified in the constructor". In reality, the credentials specified in the constructor make no difference to this method. It should read something like this:

[2018-10-04 15:22] jkotas commented on #32603
+1

Adding a first class type for this is complex. Many different parts of the system would have to know about it, depending on how much first class this type would be. I do not think it is cleaner from the architecture point of view at least. The interop specific constructs should stay within the interop subsystem.

[2018-10-04 15:41] busesorin94 commented on #32576
I'm not sure I understood your question but I'll try to come up with an answer by describing how we register new CAs.
Firstly, a folder containing custom trust is mounted to the container. The entrypoint of the container is "update-ca-certificates && dotnet run X.dll". This assured us that at every restart of the container is, the custom CA list is trusted by the container OS.
When we are dynamica

[2018-10-04 15:53] bartonjs commented on #32576
How often are you updating your CA?  Usually a CA is good for several years, and is usually managed as "start sending this CA as trusted now, and we'll start issuing certs from it in a month or so", letting normal product update deployments happen between those events.

[2018-10-04 15:53] jkotas commented on #32612
This change was intentionally introduce by https://github.com/dotnet/coreclr/pull/16447

.NET Framework and .NET Core are not guaranteed to have same bugs. System.IO namespace in particular has a lot of bugs and limitations fixed compared to .NET Framework.

[2018-10-04 16:01] jherby2k commented on #32603
Lets assume a second-class type then. I'm okay having to cast to/from Int32 or Int64 to do anything useful on the managed side. Often these are just opaque fields on a struct, and they just need to be the right size.

[2018-10-04 16:13] safern commented on #32602
Also from looking at some data comparing what converters in full framework can convert to `InstanceDescriptor` I found that `NullableConverter` is missing that as well.

https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/NullableConverter.cs#L90
vs
https://referencesource.microsoft.com/#System/compmod/system/componentmodel/NullableConvert

[2018-10-04 16:18] fanoI commented on #32603
I'm asking myself if the correct porting to 64 bit would have to convert those field simply to the type int (or better int32_t) it seems on 64 bit OS the struct is now more bigger for no reason.

I don't know if:
[MarshalAs(UnmanagedType.CLong] long EndOfStream;

would be more clear in this case.

[2018-10-04 16:19] karelz commented on #29369
@gabeluci can you please submit changes directly against docs repo? (there is edit button on doc pages)

[2018-10-04 16:25] phatcher opened #32616 "System.Net.Sockets.SocketException: An attempt was made to access a socket in a way forbidden by its access permissions"
Migrated from [#3575](https://github.com/aspnet/Home/issues/3575)...

The call from my Asp.NET Core app is just a standard http get to retrieve OData metadata, e.g. `GET /api/odata/asset/$metadata `- this works 99.9% of the time but occasionally it fails and I get a HttpRequestException reported in Application Insights..

[code]
There are webjobs in the same app service plan and [#1876](https://gi

[2018-10-04 16:40] davidfowl commented on #32582
Some performance results are in the PR (it's the PlainTextPlatform). It's  improvement and it's repeatable. I ran it multiple times.

Yep, that's the first thing I looked at actually and it might be something that we do in 3.0. There's extra overhead because we want to control how continuations are scheduled and we bake that into the awaiter that we have. Using the Task based overloads means we'd

[2018-10-04 16:40] #32378 closed

[2018-10-04 16:58] danmosemsft commented on #32438
@artkpv I sent you a collaborator link. If you accept, I can assign this issue to you. Note: being a collaborator auto subscribes to the repo, you may want to adjust that after accepting.

[2018-10-04 17:05] ericstj commented on #32602
I have a fix for these, grabbing this issue.

[2018-10-04 17:12] gabeluci commented on #29369
Sure, I've added dotnet/dotnet-api-docs#580

[2018-10-04 17:13] ericstj commented on #32600
I debugged this a bit and found that the Baml itself appears to have the wrong TypeConverter ID.  On desktop we get FE66=-410, on core we're getting FF3D=-195.

Need to see how the XAML compiler determines these converter IDs.  It's possible we're missing typeforwards,typeforwardedfrom, or the ability to understand such attributes in the tooling.

[2018-10-04 17:32] davidfowl commented on #32582
OK latest results here https://github.com/aspnet/KestrelHttpServer/pull/2974#issuecomment-427096929

[2018-10-04 17:43] #28270 closed

[2018-10-04 17:55] sknyaze opened #32619 "High memory usage with c# dynamic keyword in Windows Service"
we are using dynamic keyword with our custom JSON parsing logic and it seems to be using a lot of memory to cache CallSite calls.

Eventually memory usage grows close to 4GB (server installed memory) and we have to restart our windows service due to alerts in our monitoring service.

Question is - does it CallSite logic clears/reuse cache from time to time, or when approaching memory usage limit,

[2018-10-04 18:05] sknyaze commented on #32619
Here is a screenshot of memory consuming objects:
![image](https://user-images.githubusercontent.com/31255843/46493474-12f86e80-c7d6-11e8-97ec-f55c658f83f3.png)

[2018-10-04 18:06] danmosemsft commented on #31987
@weshaggard 	can you help get the right owner engaged?

[2018-10-04 18:07] danmosemsft commented on #30156
@mairaw 	?

(Just going through our 2.1.x issues)

[2018-10-04 18:15] karelz commented on #32465
First, I would wait for ServiceFabric response - it is part of their end-to-end story. If you need fast answer, you can always contact Microsoft support.
If you have proof it is Win32 bug, not limited to just ServiceFabric, it would be good to mention it + provide the "proof". I am not aware of any public channel for OS Win32 APIs bug reporting beside official Microsoft support.

[2018-10-04 18:18] karelz commented on #31914
The conclusion was to fix nuget client - so that part is external.
There are separate discussions about improving .NET Core thread pool in general, but that is separate from this issue.

Closing.

[2018-10-04 18:18] #31914 closed

[2018-10-04 18:21] JeremyKuhne commented on #32612
@jordanovski Thanks for the report. As @jkotas mentioned this was intentional.

Primarily this was done to fix issues with cross platform scenarios. Having volumes mounted that support other characters is slowly becoming more common.

From a best practices perspective, you should never use drive relative paths. You should never use any partially qualified paths as a base path either. This typicall

[2018-10-04 18:21] stephentoub commented on #31914
The right fix, which is what the "fix nuget client" is working around, is to address FileStream's inappropriate blocking.

[2018-10-04 18:29] danmosemsft commented on #26476
This should be open while we consider backport.

[2018-10-04 18:30] vatsan-madhavan commented on #32600
System.Xaml should really be using `System.Windows.Input.ModifierKeysConverter` here instead of `EnumConverter`.  EnumConverter will fail if we supply a string like `"Control+Shift"` to it.

@rladuca - I think we need to spend some time on bringing up the Commanding DRT's for .NET Core.

Thanks for the report - we are on it. That said, this could take a little time depending on how difficult it tu

[2018-10-04 18:40] karelz commented on #26476
@danmosemsft do you plan backport to 2.1.x? (if yes, let's adjust the milestone ...)

[2018-10-04 18:42] danmosemsft commented on #26476
@karelz I'm assuming 2.2, I have a question out to Live Share folks.

[2018-10-04 18:43] vatsan-madhavan commented on #32602
Yes, `InstanceDescriptor` it is. Right now, there are not good reproes - either the reproes are blocked (presentationbuildtasks work, for e.g.) or band-aided (I have some hacks in place to get `UriTypeConverter` to work in our current `System.Xaml` .NET Core implementation). Your references/links from referencesource looks right to me.

[2018-10-04 18:49] karelz commented on #30311
@murray-grant-fe 2.1.5 is out. Did you get a chance to try it out?

[2018-10-04 18:56] ryalanms commented on #32602
Yes, the PresentationBuildTasks port has temporary InstanceDescriptor converters in the markup compiler that will need to be replaced when InstanceDescriptor conversion support is added.

[2018-10-04 19:28] jkotas commented on #19773
This is in the .NET Core 3.0 nightly builds now. Please give it a try and give us feedback.

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2018-10-04 19:35] #31956 closed

[2018-10-04 19:38] davidsh commented on #32615
Duplicate of #9071

[2018-10-04 19:42] ericstj commented on #32600
Found it!  We're missing TypeConverter attributes from reference assemblies.  We'll need to fix this both in WPF and CoreFx.  I'll take this and start by fixing the tooling in buildtools.

[2018-10-04 20:00] davidsh commented on #32615
Turns out #9071 is about HttpContent methods such as ReadAsStringAsync().

This issue is about HttpClient methods specifically.

[2018-10-04 20:08] filipnavara commented on #32408
Yes, but I am quite busy at the moment. Maybe tomorrow or early next week.

[2018-10-04 20:37] joelluijmes commented on #13309
Just out of the blue I got this exception using Npgsql.

[code]

For me it didn't get fixed by adding my the hostname to /etc/hosts
[code]

**However the most interesting part:** is that the exception only raises when starting the application from command line (`dotnet run`). When starting with debugger using vscode, no exception is thrown.

[2018-10-04 20:42] BrennanConroy commented on #32497
`BitConverter.ToString` as well

[2018-10-04 21:03] safern commented on #10752
@ianhays and I discussed this and we agree to add this 4 APIs for now:
[code]

As those are the most commonly used across collection types and the `Predicate` ones can be achieved through Linq and seem like edge cases.

To answer @terrajobst questions:

Yes, we would like this methods to be virtual to follow what we're currently doing in `ObservableCollection`.

Yes, and then `ObservableCollection

[2018-10-04 21:12] danmosemsft opened #32624 "Port ConfigurationPermission/ConfigurationPermissionAttribute as stubs"
This is showing up in some porting, eg it is referenced in a ServiceBus assembly. Unless it causes some cycle, we should port it as a stub just like EnvironmentPermission, etc.

T:System.Configuration.ConfigurationPermissionAttribute | T:System.Configuration.ConfigurationPermissionAttribute
-- | --
T:System.Configuration.ConfigurationPermissionAttribute | M:System.Configuration.ConfigurationPermis

[2018-10-04 21:16] danmosemsft commented on #31428
@safern, I see references to EventProviderTraceListener in some Azure service we are looking to port. How much work does it look like that would be to bring over?

[2018-10-04 21:57] ericstj commented on #32600
@vatsan-madhavan the [issue](https://github.com/dotnet/corefx/issues/32600#issuecomment-427145067) was that the [XamlCompiler](https://referencesource.microsoft.com/#PresentationBuildTasks/Base/System/Windows/Markup/TypeConverterHelper.cs,128) was reading trying to read the TypeConverter attribute from the reference assemblies.  Since all reference assemblies omit most attributes it wasn't finding

[2018-10-04 22:01] vatsan-madhavan commented on #32600
@ryalalnms If PBT is reading the *reference* netcore assemblies, we should understand why and whether this is the behavior we want.
cc rladuca

[2018-10-04 22:18] safern commented on #31428
I'm not an expert in the area, but it looks like we have an internal `EventProvider` that we could use for it, but it seems to behave slightly different than the one we exposed publicly.

I think about 2-3 days with proper testing.

[2018-10-05 01:07] kouvel opened #32628 "[API review] Add MethodImplAttributes.AggressiveOptimization"
Follow-up to API review https://github.com/dotnet/corefx/issues/32235, add `MethodImplAttributes.AggressiveOptimization` similarly to `MethodImplOptions.AggressiveOptimization`:

[code]

I had missed this enum in the other API review, it is used as the return type for `MethodBase.MethodImplementationFlags` and includes some internal values that are not exposed in `MethodImplOptions`.

CC @noahfalk

[2018-10-05 01:57] weitzhandler commented on #10752
@safern

TBH I find it disappointing that the predicate isn't in the API, because there won't be a way to refine the added collection, hence reducing the number of events occurring when modifying the collection instead of combining the entire action to one.
If the approved methods will be virtual, and will be open ended to allow adding the predicate-enabled methods later, that will be bearable.
Ju

[2018-10-05 02:00] weitzhandler commented on #10752
@safern

TBH I find it disappointing that the predicate isn't in the API, because there won't be a way to refine the added collection, hence reducing the number of events occurring when modifying the collection instead of combining the entire action to one.
If the approved methods will be virtual, and will be open ended to allow adding the predicate-enabled methods later, that will be bearable.
Ju

[2018-10-05 02:39] karelz commented on #32616
@geoffkizer @stephentoub any idea how to track it down?

@phatcher which OS?
Can you please try to reproduce it locally? Would you be able to share such a repro? (ideally minimized if possible) Thanks!

[2018-10-05 02:41] karelz commented on #32610
@joperezr is it a known issue?

[2018-10-05 02:49] JeremyKuhne commented on #32588
Changing the name to `SequenceReader<T>` for now to reflect that is what it works on and add an issue describing options to work with `Span`.

[2018-10-05 02:54] donnyv commented on #32608
I want to use a terminal window to keep feeding it commands. When I use just scriptFile and leave arguments empty, nothing happens.

[2018-10-05 04:43] dotMorten opened #32630 "Using Dynamic with COM object doesn't work"
I'm trying to use `dynamic` against COM objects to access the Location API `LocationDisp.LatLongReportFactory` as described here: https://docs.microsoft.com/en-us/windows/desktop/LocationAPI/locationdisp-latlongreportfactory

This works fine on .NET Framework, but fails on .NET Core when trying to access properties and methods on the COM object.

### Repro steps:

[code]

Exception:
[code]
![image

[2018-10-05 05:50] tannergooding commented on #31903
@mhall1, are you still working on this? (no rush if you are, I just want to ensure it is still taken by someone)

[2018-10-05 07:00] k0st1x opened #32631 "System.Drawing.Common - "Graphics.ScaleTransform" does not affect the Text size on the Mac"
"ScaleTransform" will affect on all graphics except "DrawString".
issue is reproduced only on Mac platform

[code]

[2018-10-05 09:03] phatcher commented on #32616
@karelz This is on a Windows App Service Plan, problem doesn't happen locally only on Azure

Is there anyway from Kudu to see if this is port exhaustion?

[2018-10-05 09:39] busesorin94 commented on #32576
I find this very used in a microservice based architecture. Think of a core application which's functionality is expanded with plugins. Every plugin could come with its own CA which should be trusted by other plugins or by the core itself.
We can wait a while to see if there are other people who want this feature. I can use DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER for now. Do you know if there

[2018-10-05 11:06] MarcoRossignoli commented on #32110
ping @JeremyKuhne @danmosemsft

[2018-10-05 11:06] mustakimali commented on #18449
I hit the issue today. As I don't have any control over that non-conforming REST API I'm consuming - I have little option but to use the reflection method for now 😢

[2018-10-05 11:18] MarcoRossignoli commented on #18449
Maybe an overload on `TryAddWithoutValidation` like `skipNormalization`

[2018-10-05 12:02] kieronlanning opened #32634 "System.IO.IOException: Unable to write data to the transport connection: Broken pipe."
When running a .NET Core 2.1 app in Docker, after a few minutes, the app exists with the following exception:

[code]

[2018-10-05 12:07] tmds commented on #32608
On Linux:
script.sh (which has x-bit set):
[code]
Program.cs:
[code]
outputs:
[code]

Does something similar not work on mac?

[2018-10-05 12:07] markekraus opened #32635 "HttpEnvironmentProxy fails when proxy URI contains trailing slash"
On linux, if the `http_proxy` or `https_proxy` environment variables contain a trailing slash, the proxy will not be used.

This can be reproed with PowerShell 6.1.0:

[code]

it should be `True`, instead it is `False`.

However, if the trailing slash is removed, TryCreate() works:

[code]

The issue appears to be in `GetUriFromString`.

[code]

[code]

Returns a uri

[code]

returns null.

[2018-10-05 12:15] OndrejNepozitek commented on #24786
I also encountered this problem when adding localization to an existing application. However, when I tried to test it in a new project, everything worked as expected.

Eventually, I was able to fix the problem in the original project. All I had to do was to remove an arbitrary PackageReference from the csproj file, build the app, and then add the reference back. (The motivation behing doing that w

[2018-10-05 12:56] sajagi opened #32636 "NTAccount.Translate fails with ObjectDisposedException"
## Synopsis

After calling NTAccount.Translate with invalid (non-existing) user the NTAccount.Translate method becomes unusable and throws System.ObjectDisposedException: Safe handle has been closed on any query (even for existing user).

## Code to reproduce

Code to reproduce:

[code]

## Expected behavior

Method should throw `System.ComponentModel.Win32Exception (0x80004005): The trust relatio

[2018-10-05 13:22] aaabbbcccddd00001111 opened #32638 "All File Paths for Windows Input and Output"
I want to use file paths with FileStream to do all input and output on Windows.
All input and output on Windows include display, sound, keyboard, mouse, storage, network, power, and ports.

What are the file paths?

[2018-10-05 13:39] jkotas commented on #32630
cc @AaronRobinsonMSFT

[2018-10-05 13:59] stephentoub commented on #32635
This looks like a dup of https://github.com/dotnet/corefx/issues/31326, which was fixed by https://github.com/dotnet/corefx/pull/31232 and https://github.com/dotnet/corefx/pull/31327.

[2018-10-05 14:05] bpress commented on #32611
The Mono implementation of `GetHostAddresses()` is very different.

If the hostname passed to the function matches the local hostname, then the function ends up calling a specific internal routine which enumerates local ipaddresses through a `SIOCGIFCONF` ioctl call on a local socket.

I believe that the same approach should be taken here, or at least make use of `getifaddr()`, although I'm not su

[2018-10-05 14:14] mhall1 commented on #31903
Yes, I am. I've just been busy with work lately.

On Fri, Oct 5, 2018, 1:51 AM Tanner Gooding, <notifications@github.com>
wrote:

[2018-10-05 14:25] vcsjones opened #32639 "SignedCms compatibility for the SignerInfo SignatureAlgorithm issue"
I've observed another divergence of behavior from `SignedCms` between netcoreapp2.1 and net472.

If the CMS has a SignerInfo with a `SignatureAlgorithm` OID of "1.2.840.113549.1.1.11" (sha256WithRSAEncryption), an exception is raised:

It appears that `CmsSignature` is only expecting '1.2.840.113549.1.1.1' which is just RSA Encryption:

https://github.com/dotnet/corefx/blob/0ce22c97d7117d2cf974e1d

[2018-10-05 14:28] onovotny commented on #32639
FWIW, Bouncy Castle appears to use the sha256WithRSAEncryption OID here. That's how I ran into it.

[2018-10-05 14:29] onovotny commented on #32639
@bartonjs wouldn't this need to hit 2.1.x as an LTS release too?

[2018-10-05 14:36] onovotny commented on #32639
Also, related, and likely the same root cause, calling `cms.Encode()` after loading it via `Decode(data)`, on the message fails with corrupt ASN.1 message exception.

[2018-10-05 14:52] tmds commented on #32634
From the stacktrace it seems the issue occurs when the connection to the sql server is removed from the pool.
The IOException is thrown because the server has already closed the connection. Because no-one catches it, it crashes your app.

[2018-10-05 14:55] bartonjs commented on #32639
@onovotny That's what I originally thought, too.  But apparently LTS means the opposite of that.

<sub>https://en.wikipedia.org/wiki/Long-term_support#Rationale</sub>

So it'd need a scenario that justifies the risk of change.

[2018-10-05 14:59] onovotny commented on #32639
@bartonjs how about existing stuff in the wild isn't validating on it? Does that count?

[2018-10-05 15:02] filipnavara commented on #32631
This is more likely [libgdiplus](https://github.com/mono/libgdiplus) issue and it should be tracked there. It would be nice to verify if it also happens when libgdiplus is compiled with the Pango rendering option.

[2018-10-05 15:13] stephentoub opened #32640 "Proposal: Public APIs for C# 8 async streams"
We're at a point where we should start exposing the necessary library support for C# 8 async streams, aka async enumerables, aka async iterators.  While we may find ourselves wanting to make further changes to these APIs, we've locked on what we plan to deliver initially, and we can adapt as necessary based on feedback.

[code]

**Assembly:**
We need to decide where we put these.  My expectation i

[2018-10-05 15:13] iSazonov commented on #32635
@stephentoub Is the fix in .Net Core 2.1.5?

[2018-10-05 15:14] stephentoub commented on #32635
I believe so.  What version are you using?

[2018-10-05 15:16] iSazonov commented on #32635
We moved to .Net Core 2.1.5 in PowerShell master branch but @markekraus repo script doesn't work for me and I can not confirm that fix works.

[2018-10-05 15:18] iSazonov commented on #32635
I found that the fix is in 2.1.5 https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.5/2.1.5-commits.md#corefx

[2018-10-05 15:19] onovotny commented on #32639
Actually isn't System.Security.Cryptography.Pkcs shipped as an out-of-band NuGet package anyway? If that's serviced, can't users pull in a later version with the fix?

[2018-10-05 15:34] kieronlanning commented on #32634
@tmds What I don't understand I guess is, well, why.

I'm not explicity catching is because I don't explicity do anything with it.

In-fact, it's an MVC app that catches and logs pretty much everything to prevent downtime and bad requests. But this, only in Docker, takes the app out completey.

[2018-10-05 15:41] kfreezen commented on #31190
@pjanotti
The `PipeSecurity` instance is being created by https://github.com/cloudveiltech/Filter-Windows/blob/d159989ed0385d5609372cbf690c23d43e51acec/Citadel.IPC.Common/IPC/IPCServer.cs#L679

That is being consumed by https://github.com/cloudveiltech/Filter-Windows/blob/d159989ed0385d5609372cbf690c23d43e51acec/Citadel.IPC.Common/IPC/IPCServer.cs#L288

[2018-10-05 15:44] tarekgh commented on #32640
would be nice if you include some sample code for the usage.

[2018-10-05 15:52] stephentoub commented on #32640
e.g.
[code]

[2018-10-05 15:57] jnm2 commented on #32640
Too late to include these APIs in .NET Standard 2.1?

[2018-10-05 15:59] onovotny commented on #32640
@stephentoub Did we determine what was happening with Ix.NET Async from dotnet/reactive? Especially with the Impl here:

https://github.com/dotnet/reactive/pull/423

Are you taking that code and putting it here in corefx? What about the existing package, etc? We should likely have a discussion on this?

[2018-10-05 16:01] stephentoub commented on #32640
When we've (you, me, @MadsTorgersen, etc.) talked about this previously, my understanding of the plan was that it would continue to live in reactive, and it would be updated based on the actual APIs shipping in the platform.  I don't believe anything has changed there.

[2018-10-05 16:03] jaredpar commented on #32640
@jnm2

Yes. Particularly because the associated language feature isn't complete yet, and isn't intended to be complete until the .NET Core 3.0 time frame. Need to ship the API + language feature at the same time so they can evolve together.

[2018-10-05 16:03] onovotny commented on #32640
@stephentoub That's fine with me, it just wasn't clear if that was still the case since it has been a while. Once the core interfaces/compiler work is somewhere we can pull from a private feed, we can update that branch to match. Also happy to give direct commit access to any member on the team that needs it.

[2018-10-05 16:07] tmds commented on #32634
Your not supposed to catch this one, corefx is.

[2018-10-05 16:29] danmosemsft commented on #32638
In most cases, Windows does not represent those concepts with file paths, as Unix does. You have to use API's - either Win32 API's, or .NET API's (which are often implemented in terms of Win32)

Is there API you need from .NET that seems to be missing?

[2018-10-05 16:39] jcouv commented on #32640
@stephentoub Shared a code sample above using high-level primitives. Here's a link to a lowered version of such an async-iterator method: https://gist.github.com/jcouv/ae7800985e3a8700bb84c6650d25bb69
This is still work-in-progress, but it shows how the new builder type would be called.

[code]

[2018-10-05 16:50] tarekgh commented on #32057
I couldn't repro it either. I am seeing net core is producing the output as expected.  maybe trying to extend the timeout at the end of main method could help in your case? or if you can share the repro and what environment you are running on that may help. I am closing the issue but feel free to respond back with any question or request.

[2018-10-05 16:50] #32057 closed

[2018-10-05 16:51] JeremyKuhne commented on #32110
Yes it should always throw. If the .NET Framework didn't there might be an argument not to throw, but I just double checked that it does.

[2018-10-05 16:51] JeremyKuhne commented on #32110
Oh, and clearly we need a test for it. :)

[2018-10-05 16:52] tarekgh commented on #32057
just for the record, here is the output I am getting in netcore app:

[code]

[2018-10-05 16:54] rladuca opened #32641 "WPF on .NET Core needs TypeDescriptor on System.Xml.Linq.XElement"
WPF has extension libraries for various types.  One of them is for System.Xml.Linq.XElement.

It expects that the TypeDescriptor for XElement contains the following property descriptors:
- Elements
- Descendants
- Attribute
- Element

This was previously provided by [XTypeDescriptor<T>.GetProperties with a special case for XElement](https://referencesource.microsoft.com/#System/compmod/system/comp

[2018-10-05 16:54] bartonjs commented on #32639
Sort of.  It's out of band for Microsoft.NETCore.App.  But it's included in Microsoft.AspNetCore.App.

[2018-10-05 16:56] Wraith2 opened #32642 "System.Data.SqlClient unused UDT length bytes"
https://github.com/dotnet/corefx/blob/06b5dab217d1c00633f6ffad1d00e79669c95a8b/src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs#L7323

I found this while looking for something else. The length is fetched as 8 bytes and never used, either it's wrong and should be used somewhere or those bytes are wasted.

[2018-10-05 16:57] davidsh commented on #32635
Duplicate of #31326.

[2018-10-05 16:57] #32635 closed

[2018-10-05 17:16] #26630 closed

[2018-10-05 17:18] rmkerr opened #32643 "PostAsyncExpect100Continue_FailsAfterContentSendStarted_Throws fails on CurlHandler"
This test failed on CurlHandler in one of the daily test runs today ([link](https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20181005.06/workItem/System.Net.Http.Functional.Tests)).

I'm pretty sure the test is just invalid on CurlHandler, as the expected behavior depends on an Expect: 100-Continue header being sent. LibCurl won't s

[2018-10-05 17:48] danmosemsft commented on #32110
Do you want me to assign to you @MarcoRossignoli 	?

[2018-10-05 17:49] akarnokd commented on #32640
I have a couple of questions:

1) Do I have to defend against reentrant `MoveNextAsync` invocations? I.e., when the `ValueTask<bool>` completes and the continuation would call `MoveNextAsync` again?

2) `DisposeAsync()` must be called after `MoveNextAsync`'s `ValueTask<bool>` completes and before the next `MoveNextAsync` would be invoked, right? If I wanted to implement a `Timeout` operator (with

[2018-10-05 17:49] Tratcher opened #32644 "decimal.ToString("N") behaving different on Ubuntu 18"
_From @JoshClose on October 5, 2018 17:46_

[code]

code: `(12345.67890).ToString("N")`
expected output: `"12,345.679"`
actual output:  `"12345.678900"`

_Copied from original issue: aspnet/Home#3589_

[2018-10-05 17:50] danmosemsft commented on #26845
cc @shauheen 	@chris-lauren

[2018-10-05 17:54] JoshClose commented on #32644
If just found the reason is because `CultureInfo.CurrentCulture` is `en-US-POSIX` on Ubuntu 18 and id `en-US` on Ubuntu 16.

What is the correct/recommended way to handle this?

[2018-10-05 17:57] Clockwork-Muse commented on #32644
The correct way to do **ANY** formatting is to always explicitly specify the target culture:
[code]
(or whatever)

[2018-10-05 18:01] jkotas commented on #32640
`System.Threading.Tasks.Extensions` shipped inbox on at least one platform. IIRC, the rules for OOBing that we have agreed on some time ago say that you cannot add to the OOB assembly once it shipped inbox on at least one platform.

[2018-10-05 18:04] vcsjones commented on #32639
@bartonjs I can do a PR for adding those OIDs if you agree that is the right thing to do for 3.0 while we sort out if this is right for 2.1.x. Thoughts?

[2018-10-05 18:04] MarcoRossignoli commented on #32110
Sure @danmosemsft it's my pleasure thank's!

[2018-10-05 18:06] danmosemsft commented on #32110
Done

[2018-10-05 18:08] safern commented on #10752
From reading the threads extensively I figured that the best thing to do regarding making the methods virtual or not, is that we shouldn't make this virtual methods but follow the Collection pattern where we have underlying `protected virtual` methods as that allows people to add filtering and custom behavior when inserting/removing items. So then the API would look something like this:

[code]

I

[2018-10-05 18:11] davidsh commented on #32408
Fixed in master with PR #32632

[2018-10-05 18:12] davidsh commented on #32408
@karelz Should we consider this for release/2.1.x ?

[2018-10-05 18:16] JoshClose commented on #32644
All apps would have to have a config with the culture or a way for the user to pick their culture then.

Wouldn't you want to use whatever culture the OS is set to so it formats correctly when in another country?

[2018-10-05 18:16] #32638 closed

[2018-10-05 18:30] rladuca commented on #32641
Just to be clear, there is no reproduction of this at this point as this is an exposed bug during feature work in WPF on .NET Core 3.  Reproducing this requires some changes that are currently in progress in the framework.

[2018-10-05 18:32] ti24horas commented on #26721
If i do that, I cannot control the RequestUri value just before sending the request because it crashes when HttpClient.CheckRequestMessage checks for url.

[2018-10-05 18:40] natemcmaster opened #32645 "Enumerable.Empty<T> in .NET Core 3.0 cannot be cast to IList<T>"
Yes, casting is bad...so we probably shouldn't do this, but is it reasonable to expect this to keep working?

[code]

[code]

The cast works in .NET Core 2.1, but not 3.0. In 3.0, it fails with:

[code]

I'm using .NET Core 2.1.5 and 3.0.0-preview1-27003-04.

![image](https://user-images.githubusercontent.com/2696087/46553713-130a7400-c893-11e8-8588-123c86f49d07.png)

cc @rainersigwald

[2018-10-05 18:41] stephentoub commented on #32640
Hmm.  I had it in my head that you couldn't modify/augment APIs of any types that had shipped in such assemblies, but I hadn't internalized that you couldn't add additional unrelated types to them, either.  What's the cause of that?  @weshaggard, @terrajobst, is that actually the case such that if we wanted to go partial OOB here we'd need to introduce a new assembly?

[2018-10-05 18:46] Clockwork-Muse commented on #32644
...you're working with ASP.NET, which is (usually) deployed as a server-running web application.  The culture of the machine is almost never relevant (as opposed to the culture of the viewer, or maybe some explicitly configured option).

For end-user applications, I don't tend to like automagically picking up the context on each call, specifically because it tends to make programmers act as if the

[2018-10-05 18:46] stephentoub commented on #32645
This changed as part of my PR https://github.com/dotnet/corefx/pull/31025.

IMHO, no, especially in a major release.  I think it's perfectly reasonable for an API that returns `IList<T>` to change what concrete implementation of it it hands back.  That's a key reason to return an interface in the first place.

[2018-10-05 18:48] Clockwork-Muse commented on #32644
So I guess the real question/issue here is, why did the reported/used culture of the machine change.  Is this a .NET core thing only, or did it actually change on the machine itself?

[2018-10-05 18:50] stephentoub commented on #32645
ps Of course, if it really ends up being a sore point for lots of folks, that changes what's reasonable ;)

[2018-10-05 18:53] natemcmaster commented on #32645
I agree, but I figured I would at least ask since "reasonable" is an imprecise metric.

Microsoft/MSBuild has code in VS 15.8 that does this. I don't know how hard it will be to update it. I'll open a new issue on MSBuild to fix it up. cc @rainersigwald @AndyGerlicher

[2018-10-05 18:53] #32645 closed

[2018-10-05 18:54] stephentoub commented on #32645
pps I expect if we wanted to address this, we'd do so by adding the interface to https://github.com/stephentoub/corefx/blob/48429ccae7b566d5b7cc2a1862885123daadd806/src/System.Linq/src/System/Linq/Partition.SpeedOpt.cs#L20 and implementing it appropriately.  The downside of that is primarily larger binaries / working set.

[2018-10-05 18:54] JoshClose commented on #32644
Yeah, I see your point. My app has no way for the user to change their culture, so I'd have to set it via config. Do you see a reason why using `CultureInfo.DefaultThreadCurrentCulture` and `CultureInfo.DefaultThreadCurrentUICulture` would be bad instead of explicitly using it in every place that can take a culture?

I'm using a fresh Ubuntu 18 install on Digital Ocean. The locale was set to `C.UT

[2018-10-05 19:00] stephentoub commented on #32645
Of course, if we're concerned about people casting to `IList<T>`, we'd probably also be concerned about them casting to `T[]`, in which case we'd probably want to revert that whole line and go back to returning `Array.Empty<T>()`.  The downside to that is we lose downstream optimizations based on `IPartition<T>`.

[2018-10-05 19:15] stephentoub commented on #32640
You need to expect that code will run synchronously as part of the completion of the `ValueTask`, so whatever code is completing the `ValueTask` needs to be ok with arbitrary code running as part of that, including another invocation of `MoveNextAsync`.  If it's not ok with that, it needs to move the completion to a place where it is ok with that, which could include queueing it.  For example, `Ta

[2018-10-05 19:16] bartonjs commented on #32639
@vcsjones It should follow the DSA model, where it makes sure that if (e.g.) sha1WithRsaEncryption is specified that the digest algorithm says SHA-1.

https://github.com/dotnet/corefx/blob/1d737919b3a74dd3d26a80b2268014b48a41a8d4/src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.DSA.cs#L14-L21

[2018-10-05 19:39] jkotas commented on #32640
The OOB would need to target a netstandard. If it does not target a netstandard, it is platform specific and we do not need unified type identity. It can be one type identity for netfx and different one for netcoreapp, etc. You can ship OOB like that, but it has limited value.

If the OOB targets netstandard, it should better work on all platforms that support netstandard, including .NET Core 2.1

[2018-10-05 19:52] davidsh opened #32647 "Revise some Http auth tests to use RemoteInvoke"
Some Http auth related tests have begun failing all the time on Outerloop UWP runs:

The UAP version of Http stack uses WinRT APIs (which use WinInet). And there is
implicit caching of credentials per-process due to WinInet.

To workaround this limitation, we need to use RemoteInvoke to keep each test isolated to a separate process.  We've done this for some tests but not all of the affected Http

[2018-10-05 20:30] stephentoub commented on #32640
Thanks, @jkotas.  That makes sense.  We've made a bit of a mess, haven't we ;)

Ok, so if we decide we need to go OOB for platforms other than .NET Core 3, we'll need to introduce a new assembly.

[2018-10-05 20:42] onovotny commented on #32640
@stephentoub Shot in the dark, and subject to API/design reviews anyway, but @bartdesmet split up IxAsync into `System.Linq.Async` and `System.Interactive.Async`.

Perhaps that's a good place for those interfaces?
https://github.com/dotnet/reactive/tree/IxAsyncCSharp8/Ix.NET/Source/System.Linq.Async/System/Collections/Generic

[2018-10-05 21:17] danmosemsft opened #32650 "Cleanup MSDN URL's in sources"
From grepping corefx/src/*/src/**cs, I find these non-https Microsoft links:
[code]

All of these should be updated to https as a matter of good practice. Also some are dead links that either should be fixed or removed.

Low priority cleanup

[2018-10-05 21:28] #26720 closed

[2018-10-05 21:44] stephentoub commented on #32640
Can you clarify what you mean?  The interfaces are going to ship in .NET Core, not as part of an external library.  If you mean if we decide to ship something OOB, sure, we could consider using such a name for an assembly.  Though OOB isn't the main plan right now; I only mentioned it as an off-hand thing... the delivery vehicle here is .NET Core 3.

[2018-10-05 21:45] manums commented on #19098
We running into exact same issue on core 2.0 app.

 I tried:

- UseProxy = false while creating HttpClientHandler

- AllowAutoRedirect=true and MaximumAutomaticRedirections to more than 1.

Both of them did not resolve the issue.

[2018-10-05 21:48] onovotny commented on #32640
@stephentoub I guess I mean that the assembly could/should be part of .NET Core. Ix Async is in grey area already and EF Core depends on it today.

[2018-10-05 22:12] akarnokd commented on #32640
Thanks.

I have a question regarding the `ValueTask`. Is it more efficient to have a constant `ValueTask` of true/false than having a constant `Task.FromResult` of true/false in synchronous return cases of `MoveNextAsync`?

[2018-10-05 22:17] stephentoub commented on #32640
`ValueTask<T>` is just a struct, and constructing it from a `T` just initializes that struct's fields:
https://github.com/dotnet/coreclr/blob/27c848e37e9998142b60e776cf5b5d08a3543fe1/src/System.Private.CoreLib/shared/System/Threading/Tasks/ValueTask.cs#L474-L481
so it's very cheap to just do `return new ValueTask<bool>(true)` or `return new ValueTask<bool>(false)`.  I'd expect that to be as cheap

[2018-10-05 22:37] xhoogland commented on #17905
Going to check the following:
- System.IO.Compression.Brotli (csv)
- System.IO.Compression.ZipFile (csv)
- System.IO.FileSystem.DriveInfo (csv)
- System.IO.IsolatedStorage (csv)
- System.IO.MemoryMappedFiles (csv)
- System.IO.Pipes (csv)
- System.Memory (csv)
- System.Net.NameResolution (csv)
- System.Net.Ping (csv)
- System.Net.ServicePoint (csv)
- System.Net.WebProxy (csv)

[2018-10-05 23:13] #29723 closed

[2018-10-05 23:43] safern commented on #32631
I just tried it locally with a locally built libgdiplus version with the pango flag and it works fine. This seems more like a libgdiplus issue, so closing the issue and feel free to move it to their repo, or to re-open if you consider this is a corefx issue.

Thanks for reporting it.

[2018-10-05 23:43] #32631 closed

[2018-10-06 00:40] #32643 closed

[2018-10-06 01:01] karelz commented on #19098
@manums if you are truly hitting HTTPS->HTTP redirection, then it is not supported in .NET Core as insecure.
BTW: .NET Core is out of support as of 10/1 (4 days ago), I would recommend to upgrade to .NET Core 2.1.

[2018-10-06 03:05] jkotas commented on #32650
Also, it would be nice to convert these to point to `https://docs.microsoft.com/` where the most current docs live these days.

[2018-10-06 04:54] Mirandatz opened #32656 "Where's the source for List<T>?"
Shouldn't it be [here](https://github.com/dotnet/corefx/tree/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Collections/src/System/Collections/Generic)?

[2018-10-06 05:51] Berrysoft commented on #32656
It's a part of `System.Private.CoreLib`, so it is [here](https://github.com/dotnet/corefx/tree/master/src/Common/src/CoreLib/System/Collections/Generic).

[2018-10-06 06:05] Mirandatz commented on #32656
I see.
But why is it in  System.Private.CoreLib?

[2018-10-06 06:10] Berrysoft commented on #32656
To improve the speed, maybe.😄

[2018-10-06 07:29] MarcoRossignoli commented on #32656
I asked in past this is the response https://github.com/dotnet/corefx/issues/29524#issuecomment-388046743
Further info https://github.com/dotnet/coreclr#relationship-with-the-corefx-repository
I hope i was helpful!

[2018-10-06 08:06] MarcoRossignoli commented on #32636
I get different exception:
[code]
My csproj
[code]
I'm in a domain.

[2018-10-06 08:18] o-g-o opened #32657 "Issue in corefx/src/System.Json/src/System/Json/JavaScriptReader.cs ?"
Was just reading the code and it appears to me there may be a bug in ReadCore()

It seems to me that when returning empty array ([]) and empty object ({}) this function does miss the ToArray() call, then it will return either a List<object> or Dictionnary<string, object> instead of proper Array.

[2018-10-06 09:59] artkpv commented on #32438
Reporting the progress. Now I've stopped at getting `SafeTokenHandle` to use `OpenProcessToken(..)`. The difficulty is that I don't understand why if I reference `System.Diagnostics.Process` lib with this class my `CoreFx.Private.TestUtilities` can not find it (`error CS0246: The type or namespace name 'SafeTokenHandle' could not be found`). It uses older lib in `.\bin\ref\System.Diagnostics.Proce

[2018-10-06 11:07] ViktorHofer commented on #32438
If you push your changes I can take a look.

[2018-10-06 11:07] pakrym commented on #32163
@natemcmaster, can you help me understand if and how this would work in prodcon builds? What I expect to happen is during 2.2 prodcon build we would get packages from https://github.com/dotnet/versions/blob/master/build-info/dotnet/corefx/release/2.2/Latest_Packages.txt and such downgrade pipelines to 4.5.0 failing all tests that depend on fixes.

@wtgodbe additional question, isn't 4.5.1 package

[2018-10-06 11:59] yetanotherchris opened #32658 "Why doesn't System.Security.Claim have a parameterless constructor?"
I'm trying to deserialize `Claim` objects as part of an Aspnet.Identity project, and running into problems with System.Security.Claim as it doesn't have a parameterless constructor.

I was wondering what the design decision is for the object requiring a type and value? It's a POCO after all isn't it? All logic for it happens in the store responsible for storing and checking it.

Chris

[2018-10-06 12:31] Wraith2 commented on #32657
The `JavaScriptReader` type is internal so the return values from `ReadCore` only have to match the expectations of the immediate callers, they aren't contracted or documented. The only use of the type is in JsonValue which inspects the return value of `ReadCore` and checks for `IEnumerable<object>` which both array and List<object> implement. Similarly the dictionary check is done with a check fo

[2018-10-06 13:56] jnm2 commented on #32656
You can search both repos at once by starting here: https://source.dot.net/#q=List%3CT%3E

Then, if you still want to go to GitHub, click the 'Web Access" link at the bottom right of the page.

[2018-10-06 14:50] #32656 closed

[2018-10-06 16:08] bartonjs commented on #32400
SDK 2.1.400 has runtime 2.1.2 (per https://www.microsoft.com/net/download/dotnet-core/2.1).  This looks like #29942, which was fixed for 2.1.3.

The current runtime is 2.1.5.  Depending on how you obtained things, you should either upgrade your runtime component, or upgrade to SDK 2.1.403.

[2018-10-06 17:56] weitzhandler commented on #10752
@safern

Only wanted to make sure you went through it. Thank you very much for your time. I do understand.

Kinda missing the point. The goal is raise as less events as possible and avoid unnecessary events. Please take a look at [this](https://github.com/dotnet/corefx/pull/26482/files#diff-1ac8157faff4154cd7e79ef80e4d3103R472). This will avoid all unnecessary events when replacing the collection.

[2018-10-06 18:12] samneirinck commented on #32650
In the spirit of Hacktoberfest, I'll pick this up. Most of them redirect to the correct `https://docs.microsoft.com` url already, so I'll replace them with the up-to-date https links

[2018-10-06 18:35] slang25 commented on #32640
Does that mean that the interfaces will be shipped in a separate package and then be shipped in .NET Core 3.0, a bit like what `ValueTuple` was introduced? Or am I confused?

[2018-10-06 20:12] lkts commented on #30913
I want to bump this and say that inability to set breakpoints in test code is pretty confusing.

[2018-10-07 01:45] jkotas commented on #32640
We have found that trying to patch the existing runtimes with new core features via NuGet package like we have done with ValueTuple always results in sub-par experience. We have tried that many times. Based on the discussions about this, I believe we are going to prioritize the long-term sustainability of the platform over patching the existing runtimes with new core features in creative ways.

Fo

[2018-10-07 02:24] stephentoub opened #32664 "Proposal: ManualResetValueTaskSource{Logic} types"
Related to https://github.com/dotnet/corefx/issues/32640.

**Background**

In .NET Core 2.1, we added the ability for a `ValueTask<T>` (and the non-generic `ValueTask`, which we also added) to be constructed not only from a `T` and `Task<T>`, but also from an `IValueTaskSource<T>`.  The primary benefit of this is that it allows the `ValueTask<T>` to be backed by an object that can be reused in ord

[2018-10-07 02:32] stephentoub opened #32665 "Proposal: Implement IAsyncDisposable on various BCL types"
Related to #32640.

Now that we’re adding `System.IAsyncDisposable` to the core libraries, we also want to implement the interface on a variety of types that currently do or have the potential to do asynchronous work as part of their disposal.  This is primarily focused on `System.IO` types that might flush or otherwise perform I/O as part of their clean up (e.g. flushing a buffer), though it is n

[2018-10-07 07:47] ViktorHofer commented on #32610
cc @adamsitnik

[2018-10-07 08:32] jmezach commented on #31050
I'm having a look at this and I see there are actually two implementations for this on OSX, the [AppleTrustStore](https://github.com/dotnet/corefx/blob/93ebee2ae64fbe4816ff4bf3bb19eb9ca174baf4/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/StorePal.AppleTrustStore.cs#L69) and the [AppleKeychainStore](https://github.com/dotnet/corefx/blob/93ebee2ae64fbe4816ff4bf

[2018-10-07 08:44] JunTaoLuo commented on #31766
I added a repro at https://github.com/JunTaoLuo/ZeroByteRead. To repro, run the app until the `Waiting to accept` message shows up, then navigate to http://localhost:5000 in your browser (or send a request via curl). If you run on mac, you'll see the following logs repeat over and over again:
[code]

If you run this on Linux or if you comment out the zero byte reads lines (https://github.com/JunTa

[2018-10-07 10:37] stephentoub commented on #31766
Any chance you have a repro without ASP.NET so we can better isolate it?

[2018-10-07 11:15] #32657 closed

[2018-10-07 11:17] stephentoub commented on #32644
cc: @tarekgh, @krwq

[2018-10-07 11:37] hajirazin opened #32672 "Proposal: ForEach in Linq"
Background:
I have seen many libraries have been Implementing custom extension method for LINQ. Most of the project I have work with has this extension method. Not all projects need all the methods from Libraries like MoreLinq.
Proposal:
My Proposal is to have ForEach extension method as part of LINQ.

[2018-10-07 11:39] stephentoub commented on #31766
Oh, nevermind my question... this repro is without ASP.NET.  Thanks.

[2018-10-07 12:56] MarcoRossignoli commented on #32672
You could follow this guide https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md and write a formal proposal.

[2018-10-07 13:10] jnm2 commented on #32672
When is `enumerable.ForEach(item => { })` better than `foreach (var item in enumerable) { }`?

[2018-10-07 13:27] nbaztec opened #32674 "Console Output in Unit Tests"
I'm facing a issue where a particular test fails for exactly a single target, however there's no way that I can debug the actual code to fix it. I've tried with `Console.WriteLine` but of course the assembly isn't included within `System.Net.Sockets`. `System.Diagnostics.Debug` doesn't show up on the test log either.

Any ideas?

[2018-10-07 13:27] o-g-o commented on #32657
Thanks for your response. False alert (sorry for that)

[2018-10-07 14:07] stephentoub commented on #32674
From within a corefx unit test you should definitely be able to use Console.WriteLine. If you mean using it within the product code in System.Net.Sockets, you could do something like:
[code]
on Windows, or:
[code]
on Unix.

Or you could locally/temporarily modify https://github.com/dotnet/corefx/blob/d6646295b889daf9cf46caae1f9097b719873439/src/System.Net.Sockets/src/System.Net.Sockets.csproj#L382

[2018-10-07 14:08] stephentoub commented on #32674
What's the test btw?  Is it some existing test that's failing for you without any changes to System.Net.Sockets?

[2018-10-07 14:40] hajirazin commented on #32672
@svick It's equally important in IEnumerable because other Linq methods return IEnumerable. It's very much important when you have linq chain and at the end of it you want to do foreach. It looks more readable when you can add foreach at the end of chain.

[2018-10-07 15:00] slang25 commented on #32640
I remember when async was first introduced and there was the [Microsoft.Bcl.Async](https://www.nuget.org/packages/Microsoft.Bcl.Async/) package which did a similar job to AsyncBridge.

Perhaps the types could be shipped with Ix.Async for those lower "unsupported" TFMs? The community will want to fill the gap, so this seems like a sensible home for it.

[2018-10-07 15:01] nbaztec commented on #32674
Thanks I'll try that, it's this test: https://mc.dot.net/#/user/nbaztec/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/da29f1b45f466d29d0049f0c02535bb1a668fbde/workItem/System.Net.Sockets.Tests

basically I need to see the output of DNS resolution since all the other assertions are passing.

[2018-10-07 15:14] jnm2 commented on #32672
@hajirazin I think this would be a better solution, then: https://github.com/dotnet/csharplang/issues/101

[2018-10-07 15:35] CodeBendor commented on #26352
There are numerous constants available in math.h / cmath.h... https://msdn.microsoft.com/en-us/library/4hwaceh6.aspx when you define _USE_MATH_DEFINES for c/c++.  Seems like it'd be pretty simple to include these in the .Net System.Math and they are obviously useful.

[2018-10-07 16:45] nbaztec commented on #32674
Sadly I still couldn't get the console output after adding `System.Console`
https://mc.dot.net/#/user/nbaztec/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/01404175cb26a27435382afae2155512c1da4127/workItem/System.Net.Sockets.Tests/wilogs

[2018-10-07 17:58] stephentoub commented on #32674
I see output like:
[code]
in those logs... what's not working?

[2018-10-07 18:53] sajagi commented on #32636
Hi, here are both stacktraces (1st and 2nd exception):

[code]

Btw. it should be noted that the 2nd exception is always thrown, even when a valid user is supplied.

[2018-10-07 19:04] stokito commented on #6869
This is a closed ticked but I'm doing an investigation for the same functionality for [JDK](https://bugs.openjdk.java.net/browse/JDK-8136584). Java doesn't have the `AppendLine` method so mostly it's used `append("str").append("\n")` instead.
I grabbed some statistics from java.base module (`java.lang`, `java.io` etc):
* char+\n: 40 usages  typical usage is: `]\n`. Can be found by regexp:  `.appen

[2018-10-07 19:18] nbaztec commented on #32674
I see, interestingly all the log outputs are missing from `Windows.10.Amd64.ClientRS4.Open-x86:Release` as if it uses an entirely different codebase.

[2018-10-07 19:28] ViktorHofer commented on #32438
Hadn't had time to look into it. Maybe somebody else can help unblocking @artkpv.

cc @anipik @danmosemsft)

[2018-10-07 19:34] ViktorHofer opened #32678 "Add a code coverage bot to PRs"
After the migration to Coverlet is done we should consider adding a code coverage bot that runs on PRs. There's also the option to fail the job if the coverage decreased.

Example from https://github.com/tonerdo/coverlet/pull/105:

![image](https://user-images.githubusercontent.com/7412651/46586022-b4065400-ca78-11e8-9931-3f36358652ce.png)

cc @danmosemsft @pjanotti

[2018-10-07 19:35] ViktorHofer commented on #32678
cc @danmosemsft @pjanotti

[2018-10-07 19:39] ViktorHofer commented on #32674
That's .NET Framework. If your project doesn't have a netfx configuration it will just run the official one from the GAC.

[2018-10-07 19:41] Anipik commented on #32438
@artkpv you are getting this error because ```SafeTokenHandle``` is an internal class . which ```OpenProcessToken``` you are trying to remove ?

[2018-10-07 19:50] gdar91 commented on #6204
Including at least System.Messaging in .net core 3.0 / Windows Compatibility Pack would be great, especially for NServiceBus users, as it makes a heavy use of MSMQ, because of it's bus-style messaging. All other messaging systems are broker-style, single point of failure.
Please let us use Microsoft Message Queuing within .net core!

[2018-10-07 20:02] nbaztec commented on #32674
Interesting, I guessed so but wasn't sure. I don't think I will be able to patch this bug it the original GAC, as such what might be the potential solutions - we can take this discussion to #32504 since the originnal answer is sufficient, just my code is never executed.

This bug is single handedly bothering me since a week now and I'm unable to come to a solution.
Thanks for the help.

[2018-10-07 20:07] #32674 closed

[2018-10-07 20:13] vcsjones commented on #32639
@onovotny

Unfortunately this fix does not address that issue which we saw from the BouncyCastle signature. I'll dig in to it and file a separate issue if necessary when I'm able to track down what the cause it.

<details>
<pre>
        System.Security.Cryptography.CryptographicException : ASN1 corrupted data.
        Stack Trace:
          C:\dev\Personal\corefx\src\Common\src\System\Security\Cry

[2018-10-07 20:33] vcsjones opened #32679 ""ASN1 corrupted data" on SignedCms in netcoreapp2.1 but not net472"
A thought-related but different issue from #32639 is an issue with round-tripping a CMS that was made from bouncy castle. Given this code:

[code]

File is available here: [bc.txt](https://github.com/dotnet/corefx/files/2454301/bc.txt)

This will fail in netcoreapp2.1 from 2.1.5 and System.Security.Cryptography.Pkcs with Version="4.5.1". However, this not raise any exceptions and work as-expected

[2018-10-07 20:33] vcsjones commented on #32679
/cc @onovotny @bartonjs

[2018-10-07 21:10] vcsjones commented on #32679
It looks like the issue here is that the ASN.1 data for the ContentInfo contains a constructed octet string, which has an indefinite length. I don't believe this is acceptable under the DER encoding rules, only finite length constructed elements are permitted. The culprit are these octets:

[code]

I've leave this issue open for @bartonjs and team to decide if this is "working as designed" or if t

[2018-10-07 21:29] tarekgh commented on #32644
@JoshClose

from where you are getting this recommendation? It is not recommended to use the POSIX or C as its collation behavior is not what most people expect. you may use Invariant culture or en-US is good.

[2018-10-07 21:31] vcsjones commented on #32679
After looking through various RFCs - I don't think BER encoding rules should be allowed. From RFC2315:

This CMS object is a signed data according to the OID in the message (1.2.840.113549.1.7.2). Thus in my opinion I think everything is working correctly.

[2018-10-07 21:46] onovotny commented on #32679
I will say the following

- there are signatures in the wild already that have this.
- Bouncy Castle creates the signature like this: https://github.com/onovotny/NuGetKeyVaultSignTool/blob/master/NuGetKeyVaultSignTool.Core/KeyVaultSignatureProvider.cs#L79-L116

[2018-10-07 22:01] vcsjones commented on #32679
I'm far from an expert in BC, but it looks like BC will stick with BER encoding unless you use something like `DEROutputStream`. when calling `var encoded = data.GetEncoded();`. I think it's just a matter of telling BC to do the right thing.

[2018-10-07 22:05] robinwilson16 opened #32681 "Scaffolding Identity Deletes All Content in site.css and site.js"
Each time I scaffold identity in a project by right-clicking the project and go to New... > Scaffolded Item and  and select Identity and add all pages I then find this deletes all content in site.css and site.js.

After scaffolding site.js contains this code only:
[code]

And site.css has this:
[code]

This has happened to me a few times now and over the last 3 VS updates (at least) and I have onl

[2018-10-07 22:33] #19892 closed

[2018-10-07 22:34] ViktorHofer commented on #19883
@weshaggard I didn't check, do you think that's still happening?

[2018-10-07 22:36] ViktorHofer commented on #19200
Implemented.

[2018-10-07 22:36] #19200 closed

[2018-10-08 01:43] stephentoub opened #32684 "Proposal: IAsyncEnumerable.ConfigureAwait(bool continueOnCapturedContext)"
Related to https://github.com/dotnet/corefx/issues/32640.

**Background**

With the addition of `IAsyncEnumerable<T>`, developers will be able to write asynchronous foreach loops, e.g.
[code]

This loop expands by the compiler into the equivalent of:
[code]

Note that as part of that expansion, the compiler introduced several `await`s not visible in the original source code (which is part of why a

[2018-10-08 02:05] mklement0 opened #32685 "What is the rationale behind quietly ignoring Environment.SetEnvironmentVariable calls with targets User or Machine on Unix-like platforms?"
_Persistently_ updating environment variables is (at least currently) only supported on _Windows_, which means passing the `User` and `Machine` enumeration values to `Environment.SetEnvironmentVariable` are _unsupported_ on macOS and Linux.

Surprisingly, however, doing the latter doesn't cause an _exception_, but is _quietly ignored_ (an effective no-op).

Even though this [behavior is documented

[2018-10-08 03:03] dotnet-mc-bot opened #32686 "Test failure: System.Tests.StringTests/Test_ToLower_Culture"
Opened on behalf of @Sunny-pu

The test `System.Tests.StringTests/Test_ToLower_Culture` has failed.

Timed out after 60000ms waiting for remote process 5096\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose(Boolean disposing) in E:\A\_work\5\s\corefx\src\CoreFx.Private.TestUtilities\src\System\Diagno

[2018-10-08 04:32] jkotas commented on #32685
See the discussion in https://github.com/dotnet/corefx/issues/20147

[2018-10-08 04:34] jkotas commented on #32681
This issue was moved to aspnet/Home#3595

[2018-10-08 04:34] #32681 closed

[2018-10-08 04:44] mklement0 commented on #32685
Thanks, @jkotas.

Reading the discussion and the linked issues I gather that the plan for addressing this is the following, correct?:

* Report a [_compile-time_ warning](https://github.com/dotnet/platform-compat/issues/122),
* but _no runtime_ PNE

[2018-10-08 04:50] jkotas commented on #32685
Right, that is the current plan.

[2018-10-08 05:34] mklement0 commented on #32685
I see, thanks.

Is the reason for not throwing a PNSE at runtime compatibility with Mono?

Note that not all CoreFx consumers are _compiled_ languages, so calls from PowerShell code, for instance, would not see the compile-time warning. A cmdlet that wraps this API, such as proposed in https://github.com/PowerShell/PowerShell/issues/5340#issuecomment-427706858, is then faced with the following - s

[2018-10-08 06:50] jordanovski commented on #32612
Thanks for the clarification @JeremyKuhne @jkotas

[2018-10-08 06:50] #32612 closed

[2018-10-08 09:10] epoyraz commented on #23984
are there any news on this issue?

[2018-10-08 09:13] bencyoung opened #32687 "Slower stream inversion with .NET Core"
The code below implements a "stream inverter" where data written to one stream can be read from another. I know the new pipe stuff will hopefully make this obsolete, but when testing I noticed that this was 20-25% slower on .NET Core 2.1 and 2.2 than .NET Framework 4.6.2. I'm not sure if that's big enough that you are interested, but I thought I would post it up anyway.

[code]

[2018-10-08 09:14] bencyoung commented on #32687
Note this has been stitched from a few blogs + some internal testing

[2018-10-08 09:25] chrisaut opened #32688 "System.ComponentModel.DataAnnotations EmailAddressAttribute behaviour differences by framework/execution context"
The following test fails when run via xUnitConsole/ConsoleApp/nCrunch, but succeeds (as it should) when run via the VS Test Explorer/inside an MVC app:

[code]

Remco from NCrunch has [validated that this issues does not appear prior to net472](https://forum.ncrunch.net/yaf_postst2596_Test-Fails-in-nCrunch-but-not-VS-Test-Runner.aspx).
Here is result of different frameworks:

![image](https://user

[2018-10-08 11:24] gleocadie opened #32689 "[CipherMode.CFB / TripleDES and AES ] Exception caught: "Specified cipher mode is not valid for this algorithm""
I have an application that runs on Windows and I'm in the process of migrating it to .Net Core on Linux.
While testing it on a server, I got this error:

`Exception caught: 'System.Security.CryptographicException in System.Security.Cryptography.Primitives.dll' ("Specified cipher mode is not valid for this algorithm")`

We cipher and decipher data using TripleDES and AES algorithms using the CFB mo

[2018-10-08 11:29] appsolutegeek commented on #31749
Hi @wfurt, I am getting the same problem.

[code]

Heres is the tcpdump

[code]

[2018-10-08 11:30] appsolutegeek commented on #31749
I also tried to curl it

[code]

[2018-10-08 11:31] appsolutegeek commented on #31749
To confirm, I did the following

[code]

[2018-10-08 12:52] jnm2 commented on #32684
Shouldn't there be an `IAsyncDislpsable.ConfigureAwait`, too?

[2018-10-08 13:00] santiagocabrera96 opened #32691 "XmlSerializer throws error when both class and superclass have a property with the XmlAnyElement attribute."
When I run this code, it throws exception at line 26. If I take the property of the subclass or the superclass the exception is not thrown.

Code:
[code]

CollectionOfObjects.xml
[code]

Exception:

[code]

![image](https://user-images.githubusercontent.com/24602231/46610217-b942bd80-cacf-11e8-8a00-442479fe771b.png)

[2018-10-08 13:21] vcsjones commented on #32689
/cc @bartonjs @krwq.

[2018-10-08 13:38] vcsjones commented on #32689
Can you clarify what you mean by "(default)" in:

The default mode has always been CBC as far as I am aware. Perhaps you mean a default for something else.

I think this is technically possible, all platforms appear to support it, being CNG, Security Transforms, and OpenSSL. At least for AES. I'm uncertain about 3DES for Security Transforms.

My humble opinion is that the crypto primitive story in

[2018-10-08 13:48] stephentoub commented on #32687
I just tried your repro on .NET 4.7.2 and .NET Core 2.1, and I actually see .NET Core 2.1 being measurably faster.  What kind of numbers are you getting on them?  Since your measurements are including things like JIT time, have you tried using a benchmarking tool that'll factor that stuff out, or at least execute your benchmark more than once so that you exclude first-run side effects?  Are you ru

[2018-10-08 14:14] ViktorHofer commented on #30423
Sorry for the delay, I had to first fix another related issue to be sure that this isn't caused by some recent xunit changes. I just tried it again and I'm also still hitting the libc.dll and VCRUNTIME140_APP.dll issue.

ping @luqunl @cshung

[2018-10-08 14:33] yetanotherchris commented on #32658
It looks like the class's responsibility is to serialize as well, so I'm assuming `Claim` is not intended to be JSONified (or any other text based serialization). Is this right?

[2018-10-08 14:55] artkpv commented on #32438
@Anipik  Yes, missed that. This is to reuse `Common\src\Interop\Windows\advapi32\Interop.OpenProcessToken.cs` in `CoreFx.Private.TestUtilities`.  That's inconsistency, I image, as external method in Common uses class which is not there. So I guess solution would be to move `SafeTokenHandle` into `Common\src\Microsoft\Win32\SafeHandles\` and use it in 3 libs (`System.Diagnostics.Process`, `System.S

[2018-10-08 15:02] bartonjs commented on #32689
This isn't really "related" to #4647 as it's that same issue with some scenario justification.  I'm closing this one in favor of that one (please move discussion to that issue).

Like @vcsjones said, such a PR would need to add it to all platforms where it's possible to do so; not just one of them.

They're already there, just marked as `[EditorBrowsable(Never)}` :smile:.

[2018-10-08 15:02] #32689 closed

[2018-10-08 15:05] gleocadie commented on #4647
Coming from #32689

My bad for the unclear definition of default: What I meant was that we use the corresponding Providers (e.g.: AesCryptoServiceProvider) with CFB mode without modifying the FeedbackSize. Which means that for 3DES and CFB, the feedback size is 8 and for AES and CFB the feedback size is 8.

I understand and thank you for sharing your vision about it. What is your priority on addin

[2018-10-08 15:10] blowdart opened #32694 "Specified initialization vector (IV) does not match the block size for this algorithm using TripleDesImplementation in asp.net core"
_From @Ashvini2004 on October 8, 2018 9:55_

Hi
We have normal asp.net website where we used encryption/decryption of passwords using TripleDesImplementation  algorithm.Now we are converting our site to asp.net core and just moved old encrypted passwords in new database user table. To login users in new site we need to decrypt old passwords so used same decrypt method which we were using earlier T

[2018-10-08 15:10] blowdart commented on #32694
_From @Tratcher on October 8, 2018 15:1_

@HaoK @blowdart

[2018-10-08 15:10] blowdart commented on #32694
@Ashvini2004 I have deleted the key information you provided, on the assumption that might be your "live" encryption key and IV. If you can confirm that those are sample keys and IVs you can add them back, otherwise you have done something rather bad from a security POV and need to examine how to change your encryption keys ASAP.

[2018-10-08 15:10] blowdart commented on #32694
Also as this isn't an ASP.NET issue, I'm moving this to corefx

[2018-10-08 15:11] nicolasr75 commented on #32400
@wfurt Thanks, very helpful.

[2018-10-08 15:15] #32400 closed

[2018-10-08 15:34] chrishaly opened #32695 "AsyncLocal got unexpected value after ExecutionContext.SuppressFlow in ThreadPool"
After call ExecutionContext.SuppressFlow(), When use AsyncLocal in ThreadPool WorkItem in the same Thread the next WorkItem can get AsyncLocal.Value setted in previous WorkItem.

Reproduce code

[code]

When call new AsyncLocalThreadPoolTester2().Test(true) the Console output always:
[code]
since I called ExecutionContext.SuppressFlow() so I don't want get any value from AsyncLocal, but in the cod

[2018-10-08 15:37] jkotas commented on #32685
It is one of the reasons. Even without Mono in the equation, no-op seemed like the right choice because of it makes more code "just work" (https://github.com/dotnet/corefx/issues/20147#issuecomment-303501844). There are other methods like this in the framework that we choose to turn into no-op on non-Windows platforms. The choices for these Windows-specific methods are always sub-optimal. Ideally,

[2018-10-08 15:43] natemcmaster commented on #32163
ProdCon only flows package versions if the package is built. Since System.IO.Pipelines is not produced in the 2.2 branch, we need to update aspnet's 2.2 builds to make sure we use the latest version of this package. Based on what I see in nuget.org, that is System.IO.Pipelines 4.5.2.

[2018-10-08 15:49] bartonjs commented on #4647
CFB is not currently on anyone's schedule.  But given that requests keep trickling in I'll mark it as 3.0.  You're welcome to do a PR for it, as long as it adds it to all platforms at the same time (and adds tests) :smile:.

[2018-10-08 15:51] mklement0 commented on #32685
Thanks, @jkotas.

Understood re breaking change, so I'm closing this.

Sounds like moving such overloads / methods into Windows-specific assemblies is the way to go in the future.

In cases where this is impractical, please reconsider the current "just works" approach, because its proper name should be "doesn't work, but pretends that it does", which I think is more harmful than throwing an except

[2018-10-08 15:51] #32685 closed

[2018-10-08 15:57] vcsjones commented on #32694
3DES has a 64-bit block size, so the IV should be 8 bytes, not 24. I'm surprised this ever worked in .NET Framework.

I would assume then that perhaps .NET Framework is truncating the IV, or only using certain range of the bytes.

[2018-10-08 16:04] vcsjones commented on #32694
So it turns out the .NET Framework allows IVs greater than 64 bits and truncates them.

So you should simply change your IV to only the first 8 bytes.

[2018-10-08 16:04] MarcoRossignoli commented on #32658
/cc @bartonjs @GrabYourPitchforks

[2018-10-08 16:19] vcsjones commented on #32694
So, as an example:

[code]

would become:

[code]

[2018-10-08 16:27] joperezr commented on #32457
I don't think so, I believe that the one you pointed is the same as this one: #32610

[2018-10-08 16:52] bartonjs commented on #32658
I presume that it doesn't have a default ctor because none of the properties are assignable (or at least most aren't).  I assume that none of the properties are assignable because readonly objects are easier to work with (they can be used as dictionary keys safely, et cetera).

Maybe @brentschmaltz would have more insight than that, though.

The workaround is probably to make a `SerializableClaim`

[2018-10-08 16:57] #32639 closed

[2018-10-08 17:30] wfurt commented on #31749
It seems like the client even cannot establish TCP. After sending SYN, server immediately resets connection.  That generally happens when you try to connect to closed port or if listening application immediately crashes (or throws unhandled exception)

It is also interesting that same sequence on IPv6 has different behavior. Can you post the actual pcap file @appsolutegeek ? (-w on tcpdump)

Maybe

[2018-10-08 17:54] Tratcher commented on #31749
Issues with the server TLS parameters would trigger that kind of symptom. E.g. it connects, calls AuthenticateAsServerAsync, fails, and aborts the connection. I assume IPv4 is fine if you connect using http instead of https?

[2018-10-08 18:02] rmkerr commented on #21876
This has failed on RedHat 6.9 in [almost every daily test run](https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20181008.01/workItem/System.Linq.Parallel.Tests/analysis/xunit/System.Linq.Parallel.Tests.ParallelQueryCombinationTests~2FSequenceEqual_OperationCanceledException(operation:%20Union-Right)) over the last few weeks.

RedHat

[2018-10-08 18:04] stephentoub commented on #21876
Does it fail on other systems if you pass `/p:XunitOptions="-maxthreads 1"` when running the tests?

[2018-10-08 18:07] GSPP commented on #32672
The nice thing about this is that you don't need a temporary variable if the target is a large computed expression. I have therefore written and used such an extension method. However, I found that the ugliness was not worth it.

In my opinion it is a mistake that `List<T>` has a `ForEach` method.

[2018-10-08 18:18] rmkerr commented on #21876
On my Win10 machine it passes with maxthreads set to 1. I'm not familiar enough with the code to know if Windows vs Unix could play a role here.

[2018-10-08 18:21] appsolutegeek commented on #31749
Thanks, guys for the help here.

Here is the netstat command

[code]

[2018-10-08 18:24] appsolutegeek commented on #31749
passing -w to tcpdump

[code]

[2018-10-08 18:28] wfurt commented on #31749
The syntax should be `sudo  tcpdump -w foo.pcap -eni lo0 port 5001`
When you do ^C, it will write data to foo.pcap. Please post that file.

As far as the netstat, it looks ok. I was wondering if there would be something lingering on port 5000.

[2018-10-08 18:30] vcsjones commented on #32679
@bartonjs If I am not mistaken, that PR is #30432, which went out in 2.1.3 (or 4?), so this broke very recently. Would it be fair then, to say that a servicing release to fix a regressing in a serving release is a good idea, and this might be worth fixing for 2.1.next?

[2018-10-08 18:33] appsolutegeek commented on #31749
@wfurt sorry, here is the file with the syntax you asked for

https://ufile.io/pmr0a

[2018-10-08 18:34] chase9 commented on #13309
Just thought I'd contribute what I've found out while running into this same issue.

I was having trouble with the `SendPingAsync()` method of `Ping`. It turns out that the problem was caused by including http:// or https:// in the hostname, and indeed including this also caused the ping command to fail in the terminal.

I got around this by creating a Uri with uri builder, then passing in the hos

[2018-10-08 18:34] appsolutegeek commented on #31749
ALso confirmed, when i did a clean and checked the keychain - they were 0 localhost

i think did the --trust and appeared 2 x localhost in the keychain

[2018-10-08 18:36] appsolutegeek commented on #31749
Here is small example of the console output

[code]

If I can provide anything more then please let me know.

[2018-10-08 18:39] appsolutegeek commented on #31749
with regards to using http vs https. I haven't changed anything. It seems to want to use https. I tried passing in the http but no joy. Do I need to change something ?

I came from .net window background, i stopped working with .Net around 3 years ago because of the non multi platform etc -  this is my first try with .net core on mac.

[2018-10-08 18:41] Tratcher commented on #31749
I meant does http work if you try that in your curl request?

[2018-10-08 18:41] appsolutegeek commented on #31749
I did notice it says its listening on port 5000 for http but when i enter that in my browser it redirects me to https 5001

http://localhost:5000

[2018-10-08 18:44] appsolutegeek commented on #31749
tried the curl on the http get

i.e.

 curl http://localhost:5000
curl http://localhost:5000/api
curl http://localhost:5000/api
curl http://localhost:5000/api/controller

no response

[2018-10-08 18:45] joperezr commented on #27907
If you are using an updated version of VS, I would expect that the extra files that get copied to your output folder along with some extra binding redirects that will be added to your app.config file to fix all the MissingMethodExceptions. Could someone hitting this attach the simple repro to the issue so we can validate that an updated version of VS fixes this?

[2018-10-08 18:46] appsolutegeek commented on #31749
This is the sample controller that was created for me

[code]

[2018-10-08 18:47] Tratcher commented on #31749
What's the TCP trace for the http case?

[2018-10-08 18:51] bartonjs commented on #32679
It'd probably qualify for two reasons.  1) It was a servicing regression.  2) The user scenario that's broken is existing signed NuGet packages (as opposed to the more generic item in the description in the other issue of "compatibility with Bouncy Castle").

Looks like I have paperwork to fill out after they're both in.