[2017-06-15 19:01] morganbr commented on #19585
Exception is marked Serializable, but GetObjectData does still throw NotImplementedException.

[2017-06-15 19:02] tmds commented on #20628
@Priya91 can you come up with a piece of code that works on Windows, does not work on Unix, and would be fixed by extending the PR?

[2017-06-15 19:02] morganbr commented on #19585
For reference, the correct file is https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Exception.cs

[2017-06-15 19:04] tarekgh commented on #20085
System.Tests.StringTests/CompareTest is not failing anymore in UWP runs. closing this one

[2017-06-15 19:04] #20085 closed

[2017-06-15 19:08] morganbr commented on #20348
This is CoreCLR, assigning to @ViktorHofer

[2017-06-15 19:09] svick commented on #21053
@bazzilic I believe there are plans to bring `Span<T>` to .Net Framework too, so that shouldn't be a problem.

[2017-06-15 19:10] tarekgh commented on #20077
@Jiayili1 the original issue was in System.Collections.Tests and your last reply regarding failure in System.Collections.NonGeneric.Tests. why that? should we have separate issue for that?

[2017-06-15 19:13] ViktorHofer commented on #20348
These are F5 tests so not the highest prio for me right now. Don't expect it to be fixed today.

[2017-06-15 19:14] tarekgh commented on #20077
Also I am seeing in the latest runs https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170615.03/workItem/System.Collections.NonGeneric.Tests the tests are succeeding. looks the failures was happening before we enabled the remote executions. but now it is enabled so I guess this fixed such failures

[2017-06-15 19:55] AntonLapounov commented on #20592
I disabled System.Threading.Tasks.Dataflow.Tests.EtwTests.TestEtw with this issue number as well.

[2017-06-15 19:57] Priya91 commented on #20628
@tmds I'm not sure what you are expecting? Are you asking for cases where applying the fix for Unix with hostnames can be a scenario? Accessing a file on another linux box that has a backward slash in its filename is not a common scenario?

[2017-06-15 20:14] safern commented on #18654
This applies only to System.IO.Ports and System.IO.Pipes, System.IO.IsolatedStorage ran fine in the latest run, with no failures and succeeded. So updating the issue name.

I'm investigating the hangs for F5.

[2017-06-15 20:17] tmds commented on #20628
The scenario is fine. I don't think it has code that would work better by extending the PR.

[2017-06-15 20:28] tmds commented on #20628
... because the extended PR allows you to put the backslash in the Uri, but there is no convenient way to get back the path. AbsoluteUri is percent encoded, LocalPath returns a Unc path.

[2017-06-15 20:39] joperezr commented on #20351
sure I'll take a look and let you know. @Jiayili1 where the tests disabled?

[2017-06-15 20:41] danmosemsft commented on #20348
This may be fixed, but the whol library is hanging right now so I can't see.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170615.03/workItem/System.Runtime.Serialization.Formatters.Tests/wilogs

[2017-06-15 20:44] joperezr commented on #20351
I checked and it's not disabled and looks like it hasn't failed again, so I'm going to close this as no repro for now.

[2017-06-15 20:45] #20351 closed

[2017-06-15 20:50] joperezr commented on #18048
This doesn't repro anymore on latest runs.

[2017-06-15 21:08] stephentoub commented on #21096
cc: @JeremyKuhne

[2017-06-15 21:09] Diego-Perez-Botero opened #21102 "ClientWebSocket.ReceiveAsync behavior difference between .NET Core and UWP"
There is a behavioral difference between the UAP and non-UAP implementations of ClientWebSocket.ReceiveAsync. Currently, the [WinRTWebSocket](https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WinRTWebSocket.cs)'s OnMessageReceived is only triggered when an entire message has been received, which doesn't allow ClientWebSocket.ReceiveAsync to han

[2017-06-15 21:11] Diego-Perez-Botero commented on #21102
A repro test that would fail with the UAP implementation and would pass with the non-UAP implementation is as follows:

[2017-06-15 21:24] JeremyKuhne commented on #21096
We should stop trimming these altogether- Windows will take care of this correctly.  @iricigor Do you want to do the PR for this?

[2017-06-15 21:29] shmao commented on #20478
@morganbr These types are `[Serializable]` types. DCS needs to serialize their private fields. The reflection is blocked on those private members.

[2017-06-15 21:31] Diego-Perez-Botero commented on #21102
Impact: large WebSocket messages (multiple megabytes of data) can be comprised of multiple "partial data" fragments (i.e., frames with FIN bit cleared - see [RFC 6455](https://tools.ietf.org/html/rfc6455)). Right now, the UAP implementation is buffering the entire message before that data can be drained by the app, which results in large memory footprint and prevents "streaming" scenarios (e.g., W

[2017-06-15 21:36] stephentoub commented on #7543
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/4845/

[2017-06-15 21:37] tarekgh commented on #20351
looks the remote execution making more tests to pass :-)

[2017-06-15 21:38] weshaggard commented on #21078
Also the access denied part is generally caused because msbuild or VS is holding locking those libraries so they cannot be updated. You generally need to shutdown those processes to unlock those files.

[2017-06-15 21:55] danmosemsft commented on #21022
From talking to @Chrisboh , Matt is not booked to do this. I'm going to resolve this.

[2017-06-15 21:55] #21022 closed

[2017-06-15 21:57] weshaggard opened #21103 "Manual shims need to build against the correct vertical references in AllConfigurations leg"
See comments at https://github.com/dotnet/corefx/pull/20839.

Currently the manual shims for mscorlib and System are resolving references from RuntimePath (https://github.com/dotnet/corefx/blob/master/src/shims/manual/mscorlib.csproj#L25), which is correct on individual vertical builds but as part of the AllConfigurations leg it will always be netcoreapp which means the shims for the other configu

[2017-06-15 22:02] tarekgh commented on #21095
CC @danmosemsft

[2017-06-15 22:06] danmosemsft commented on #21078
And VBCSCompiler.exe. Taskkill that, devenv and msbuild...

[2017-06-15 22:13] seanshpark commented on #20965
Does this message point to something?
[code]

[2017-06-15 22:25] davkean opened #21105 "Thousands and thousands of EventSourceException while processing event "TraceOperationBegin" thrown throughout a debugging session"
Windows Build: 15063.rs2_release.170317-1834

While debugging, I'm seeing thousands upon thousands of:

[code]

The stack at the time is:

               mscorlib.dll!System.Diagnostics.Tracing.EventSource.ReportOutOfBandMessage(string msg, bool flush) Line 3931       C#
               mscorlib.dll!System.Diagnostics.Tracing.EventSource.ThrowEventSourceException(string eventName, System.Exception

[2017-06-15 22:30] danmosemsft commented on #21105
This is from TPL but I don't know why it's doing this. @brianrob ?

[2017-06-15 22:32] davkean commented on #21105
I'm unsure if this is only the TPL path that's throwing or whether it's all tracing. It's just that we kick off thousands of Tasks in VS and everyone of them is throwing.

[2017-06-15 22:33] danmosemsft commented on #20942
I'm going to move to Future because we don't need to do this for 2.0 - you can baseline as mentioned.

[2017-06-15 22:33] mikem8361 commented on #21079
If the only scenario that this occurs is on Windows Debug, then I'm moving it to 2.1.

[2017-06-15 22:35] danmosemsft commented on #20041
@morganbr there seems no work here.

[2017-06-15 22:35] #20041 closed

[2017-06-15 22:36] danmosemsft commented on #20118
Moving to future as I don't see anyone with cycles to push for this. @karelz @weshaggard feel free to grab otherwise.

[2017-06-15 22:36] CIPop commented on #19918
Reopening (please close if expected). This failed again in 2.0.0 Outerloop:

https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/outerloop_netfx_windows_nt_release_prtest/1/consoleFull#19959462502d31e50d-1517-49fc-92b3-2ca637122019
https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/outerloop_netfx_windows_nt_debug_prtest/6/consoleFull#19959462502d31e50d-1517-49fc-92b3-2ca637122019

[2017-06-15 22:37] danmosemsft commented on #20279
@ericstj Eric when do you expect to do this? Is it likely to throw up bugs in 2.0 corefx (almost closed down) or only in tooling?

[2017-06-15 22:37] danmosemsft commented on #20324
@karelz we can move this out of 2.0 right?

[2017-06-15 22:38] danmosemsft commented on #20688
@JeremyKuhne I'm closing this because it seems all fixed or tracked separately.

[2017-06-15 22:38] #20688 closed

[2017-06-15 22:47] karelz commented on #20324
If it is machine specific and OS induced, we should close it / move it to 2.1 or Future.
@bartonjs thoughts? Is anyone still blocked by this?

[2017-06-15 22:54] bartonjs commented on #20324
There's a possibility that this had something to do with the automatic lock on our temporary keychains, so it could already be fixed.

I'm just going to close this.  If it's still happening, try preview2.  If it's still happening then, reopen the issue, hopefully with a stable repro.

[2017-06-15 22:54] #20324 closed

[2017-06-15 22:56] JeremyKuhne commented on #20688
Yes, this is resolved by the linked PRs (#20784 & #20822)

[2017-06-15 22:57] CIPop commented on #16430
I've seen this in https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/ubuntu14.04_release_prtest/264/consoleFull#6029473722d31e50d-1517-49fc-92b3-2ca637122019 while testing innerloop for #21100:

[code]

[2017-06-15 23:08] jkotas opened #21106 "console redirection is broken"
_From @Spongman on June 15, 2017 21:5_

[code]

stdout redirection:
=====
test command: `dotnet run > test.txt`
expected behavior is to show typed text in the console/tty, and to write the typed lines out to `test.txt`

on windows: works fine.
on linux: writes stdin to the file ok, but the typed text is not echoed to tty.

stdin redirection:
=====
test command: `dotnet run < test.txt` (test.txt ex

[2017-06-15 23:22] JeremyKuhne commented on #21096
@iricigor, if not, I'll fix this early next week.

[2017-06-15 23:41] vancem commented on #21105
This bug was fixed by the following PR in coreCLR.

https://github.com/dotnet/coreclr/pull/11941  Fix failures in ETW logging on 4GB aware 32 bit processes

Basically the problem was that Rosyn compiler both uses Tasks heavily (which causes many TPL events), and used more than 2GB of heap.   Some of the TPL event log the address of the object, and if this address is over 2GB, it got SIGN EXTENDED

[2017-06-15 23:41] #21105 closed

[2017-06-15 23:43] davkean commented on #21105
Thanks @vancem

[2017-06-15 23:51] joperezr opened #21109 "FileSystemWatcher test failing in uap when trying to delete directory"
cc: @ianhays @JeremyKuhne

Test `public void FileSystemWatcher_Directory_NotifyFilter_Security(NotifyFilters filter)` is throwing unauthorizedAccess exception when trying to delete a directory in UAP after calling the `SetSecurityInfoByHandle` PInvoke. Code looks something like:
[code]
If I move the Delete call before calling the PInvoke, it doesn't throw. I'm not sure if this is related to the pe

[2017-06-16 00:01] jeffbi opened #21111 "Incorrect results from DirectoryInfo.EnumerateDirectories() when subdir is named <non-breaking-space>"
Steps to reproduce
---------------------
Create directory `C:\Temp`, then within that directory create a sub-directory whose name is only the non-breaking-space character (Alt-0160). Then run the following program:
[code]

Expected Output
------------------
[code]

Actual Output
---------------
[code]
Going on until the stack is exhausted.

Note that the number in parentheses is the hex value of t

[2017-06-16 00:07] #20892 closed

[2017-06-16 00:07] shmao commented on #20478
@morganbr I just re-ran all these tests and they all passed now. I will send a PR to remove the [ActiveIssue] attributes.

Thanks for fixing the issue, @morganbr !

[2017-06-16 00:10] JeremyKuhne commented on #21109
I suspect that UAP just doesn't like having no permissions?

[2017-06-16 00:27] shmao commented on #20478
I was wrong. I didn't run the tests in ReflectionOnly mode. The tests are still failing. I'm investigating the issue.

[2017-06-16 00:30] AArnott commented on #19044
I haven't spent more time on it yet. My interest was primarily on learning who was calling the base methods of `HashBucket`. I didn't realize folks were waiting for me to fix it. :) I'm willing to, but it may not happen this week as I've been OOF for a week ending today and I have a lot to catch up on, plus Connect discussion to have with my team.

[2017-06-16 00:49] tarekgh commented on #21095
Gaurav, Ati, could you please help with this regression? Please treat this as high priority as it is blocking PS.

What is happening is we are trying to load a resource string and the call eventually get to ManifestBasedResourceGroveler.GetSatelliteAssembly which is calling RuntimeAssembly.InternalGetSatelliteAssembly and passing throwOnFileNotFound=false so we shouldn’t throw any exceptions. Inte

[2017-06-16 00:50] tarekgh commented on #21095
CC @AtsushiKan @gkhanna79

[2017-06-16 00:50] hughbe commented on #21079
@mikem8361 could you also confirm that this isn't the cause of the following difference between netfx and netcoreapp

Code:
[code]
Netfx:
[code]

Netcoreapp:
[code]

I can also repro this example above in Release mode, so I'm not sure if it's related, as the tests seemed to fail in Windows Release in the #21040.

Note that netcoreapp has no line numbers and no no file name so this makes things har

[2017-06-16 00:51] CIPop opened #21112 "HttpListener support for Digest"
The original HttpListener supported Digest and WDigest through Windows SSPIs. Since WDigest is not allowed by recent Windows versions, during the port, the SSPI code has been removed.

This is tracking the replacement code needed to support Digest authentication [RFC 2617](https://tools.ietf.org/html/rfc2617).

[2017-06-16 00:53] CIPop commented on #21112
@Priya91 is this applicable for the managed implementation as well?
/cc @karelz @DavidGoll

[2017-06-16 00:57] davidsh commented on #21112
fyi, RFC2617 (which describes Basic and Digest) is obsoleted by these RFCs:

https://tools.ietf.org/html/rfc7235 (overview)
https://tools.ietf.org/html/rfc7615 (authorization request and response headers)
https://tools.ietf.org/html/rfc7616 (digest scheme)
https://tools.ietf.org/html/rfc7617 (basic scheme)

[2017-06-16 01:01] shmao commented on #20478
@morganbr You were right. The reflection on the internal members of [Serializable] types are not blocked. The tests failed due to missing metadata. After I added the following entries in the rd.xml, the tests for collections passed ,

[code]

Do we expect developers to add entries like this or entries for specific system types? Can we just keep metadata for types that requires serialization so tha

[2017-06-16 01:09] gkhanna79 commented on #21095
When the Resolving event of ALC does not find any assembly resolved by the callback, it has always thrown an exception. This is not new in 2.0 but has been there since 1.0 (see https://github.com/dotnet/coreclr/blob/release/1.1.0/src/mscorlib/src/System/Runtime/Loader/AssemblyLoadContext.cs#L266 for 1.1.0 and https://github.com/dotnet/coreclr/blob/release/1.0.0/src/mscorlib/src/System/Runtime/Load

[2017-06-16 01:11] Jiayili1 commented on #20858
@lajones Thanks, I got it.

[2017-06-16 01:24] morganbr commented on #20478
@shmao, this test is a non-customer case that we've discussed in the past. Essentially, analysis figures out that these types need to be serialized, so it tells SG about them, which would generate working serialization code. However, this test case doesn't run SG.

For customers, their own types are likely already reflectable by default. Any framework types may or may not need rd.xml, but if we kn

[2017-06-16 01:32] JeremyKuhne commented on #18381
@ianhays I think #21109 is a dupe of this

cc: @joperezr

[2017-06-16 01:34] JeremyKuhne commented on #16050
@willdean The source was this way as far back as I could find it. :( Can you come up with an equivalent test?

[2017-06-16 01:52] bazzilic commented on #21053
Apparently, `Span<T>` is already available in .NET Framework through [a NuGet package](https://www.nuget.org/packages/System.Memory/).

According to the [source](https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs), `Span<T>` doesn't implement any interfaces, so we could have two additional constructors for BigInteger:

[code]

Efficient construction of BigInteger r

[2017-06-16 01:53] tmds commented on #20628
@karelz @CIPop @Priya91 @stephentoub @davidsh @sepidehMS can you review the PR (https://github.com/dotnet/corefx/pull/20623)? We should decide if this can be in 2.0. If not, it shouldn't be in a later release due to backwards compat.

[2017-06-16 02:11] svick commented on #21053
@bazzilic If the `Span<byte>` constructor is added, what is the point of also adding one for `IList<byte>`? You're generally not going to be using something like `List<byte>` to store a sequence of bytes, so I think `Span<byte>` should cover all the common use cases (including `ArraySegment<byte>` though `AsSpan()`).

[2017-06-16 02:17] Jiayili1 commented on #9228
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170616.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FPostAsync_CallMethod_EmptyContent(remoteServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-06-16 02:17] #19895 closed

[2017-06-16 02:18] Jiayili1 commented on #19285
This issue is still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170616.01/workItem/System.Net.Sockets.Tests/wilogs

[2017-06-16 02:39] hughbe commented on #21112
Does netfx support Digest? If so, what's the compat story for HttpListener in core - does compatability with the RFC or netfx preside?

[2017-06-16 02:44] Jose-CF opened #21116 "Version conflict in System.IO.FileSystem nuget package 4.3.0"
I would like to report a bug in this package.

The bug is as follows:
According to .NET Standard definition, .NET Standard 1.3 should match with .NET 4.6. That is fine.
However, in the nuget package, if you navigate to the ref/net46 you can find the assembly System.IO.FileSystem.dll, version 4.0.2.0. However, if you navigate to ref/netstandard1.3 you find System.IO.FileSystem.dll version 4.0.1.0.

[2017-06-16 02:48] Jiayili1 commented on #19639
Now this test failed with "Xunit.Sdk.TrueException", detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170616.01/workItem/System.Console.Tests/analysis/xunit/ConsoleEncoding~2FInputEncoding_SetDefaultEncoding_Success

Message:
[code]

Stack Trace:
[code]

[2017-06-16 02:52] danmosemsft commented on #20858
@safern another already fixed?

[2017-06-16 02:54] danmosemsft commented on #19044
No obligation Andrew just let us know if you don't...

[2017-06-16 02:56] Jiayili1 commented on #19591
This test failed with another issue "Xunit.Sdk.TrueException", detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170616.01/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.Directory_GetEntries_CurrentDirectory~2FCurrentDirectory

Message:
[code]

Stack Trace:
[code]

[2017-06-16 02:57] Jiayili1 commented on #20299
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170616.01/workItem/System.IO.Pipes.AccessControl.Tests/analysis/xunit/System.IO.Pipes.Tests.NamedPipeTest_AclExtensions~2FGetAccessControl_ConnectedStream

[2017-06-16 03:06] CIPop commented on #20400
Keeping this open: need to forward-port changes made after @DavidGoll PR in #21100.

[2017-06-16 03:28] danmosemsft commented on #16430
https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/ubuntu14.04_release_prtest/275/consoleText

[2017-06-16 03:32] karelz commented on #21112
From practical point of view, netfx compat should win over RFC, unless we have evidence that RFC incompatibility is causing troubles for mix-and-matching platforms in real apps.

[2017-06-16 03:52] CIPop commented on #21112
NetFX supports the Digest scheme through the Nego SSPI which should implement the RFC.

[2017-06-16 03:59] shravan2x opened #21119 "Documentation missing for ProcessStartInfo.RedirectStandardOutput"
This issue is created in reference to my SO issue [here](https://stackoverflow.com/questions/44467762/disposing-contents-of-stdout/44580472), which did not receive an answer in days. I then decided to experiment on my own. A copy is given below.

I'm not sure if the dotnet team has access to the docs [here](https://msdn.microsoft.com/en-us/library/system.diagnostics.processstartinfo.redirectstanda

[2017-06-16 04:12] danmosemsft commented on #21109
Curious case but FSW for security attributes changes is definitely low priority.

[2017-06-16 04:15] danmosemsft commented on #6751
@divega @saurabh500 anything you can share here?

[2017-06-16 04:16] danmosemsft commented on #9064
@saurabh500 is this scheduled for UWP6 (what we're currently working on)? If not please share update and fix milestone.

[2017-06-16 04:17] danmosemsft commented on #19202
@sjoerdverweij missed your post. That would be welcome except there is no way for ocmmunity folk to run uapaot tests...

[2017-06-16 04:19] danmosemsft commented on #20717
@AtsushiKan what was the issue? Do we need @VSadov to look?

[2017-06-16 04:20] danmosemsft commented on #20588
Pending guidance from Windows on the API to use here.

[2017-06-16 04:23] danmosemsft commented on #20519
@tijoytom was this on ILC or F5? The issue immediately above is probably just another of the F5 resource load issues, which was fixed since. I'll delete it.

[2017-06-16 04:24] danmosemsft commented on #20474
@kouvel we could use knowledgeable help with this one. @gkhanna79 suggested you might be able to take a look? Would you mind? @joperezr can share how to build/debug ILC tests.

[2017-06-16 04:25] danmosemsft commented on #20465
@zamont this is ILC so it's not the resource issue we had in the F5 runs. Didn't you fix some resource loader issues? Maybe this can be reenabled now.

[2017-06-16 04:28] danmosemsft commented on #20349
@safern the problem is that even though this test is marked `        [SkipOnTargetFramework(~TargetFrameworkMonikers.UapAot,..` it is getting run on F5 runs.

Can you fix that?

[2017-06-16 04:29] danmosemsft commented on #20349
Note it should run the other test instad, `Exception_TargetSite_Jit`, which has the reverse attribute.

[2017-06-16 04:29] #20825 closed

[2017-06-16 04:30] danmosemsft commented on #20347
Remote exec...

[2017-06-16 04:30] safern commented on #20825
This was fixed with ResourceManager

[2017-06-16 04:31] safern commented on #20349
Yes, I think it is time to add the attributes that exclude each other, and the one that includes both to stop having this issue. Thoughts?

[2017-06-16 04:33] danmosemsft commented on #20299
[code]

all call GetAccessControl/SetAccessControl. This is almost surely an expected result of appcontainer, but needs debugging.
P2

[2017-06-16 04:34] safern commented on #20858
Yes, this was ResourceManager issue.

[2017-06-16 04:34] #20858 closed

[2017-06-16 04:34] #20980 closed

[2017-06-16 04:34] safern commented on #20980
This was due to ResourceManager

[2017-06-16 04:35] safern commented on #20979
ResourceManager issue that was fixed

[2017-06-16 04:35] #20979 closed

[2017-06-16 04:35] safern commented on #20978
This was resource manager issue.

[2017-06-16 04:35] #20978 closed

[2017-06-16 04:36] safern commented on #20972
This was ResourceManager as well.

[2017-06-16 04:36] #20972 closed

[2017-06-16 04:36] safern commented on #20925
ResourceManager issue.

[2017-06-16 04:36] #20925 closed

[2017-06-16 04:36] safern commented on #20924
This was ResourceManager isssue

[2017-06-16 04:36] #20924 closed

[2017-06-16 04:37] safern commented on #20923
This was caused by ResourceManager

[2017-06-16 04:37] #20923 closed

[2017-06-16 04:37] safern commented on #20922
This was ResourceManager

[2017-06-16 04:37] #20922 closed

[2017-06-16 04:37] safern commented on #20921
This was ResourceManager issue

[2017-06-16 04:37] #20921 closed

[2017-06-16 04:38] safern commented on #20919
This was ResourceManager issue

[2017-06-16 04:38] #20919 closed

[2017-06-16 04:38] safern commented on #20917
This was ResourceManager issue

[2017-06-16 04:38] #20917 closed

[2017-06-16 04:38] safern commented on #20861
This was ResourceManager issue

[2017-06-16 04:38] #20861 closed

[2017-06-16 04:39] safern commented on #20857
This was ResourceManager issue.

[2017-06-16 04:39] #20857 closed

[2017-06-16 04:39] danmosemsft commented on #20298
Trivial test fix.

[2017-06-16 04:40] safern commented on #20300
Fixed today in: https://github.com/dotnet/corefx/pull/21104

[2017-06-16 04:40] #20300 closed

[2017-06-16 04:40] safern commented on #20298
Already fixed. I fixed it like a couple of days ago in: https://github.com/dotnet/corefx/pull/21029

[2017-06-16 04:40] #20298 closed

[2017-06-16 04:42] safern commented on #19590
Fixed in: https://github.com/dotnet/corefx/pull/20610/files#diff-3b9989a6be55cdb6f928d6ca33ef86f5R512

[2017-06-16 04:43] danmosemsft commented on #19764
Test is dead

[2017-06-16 04:43] #19764 closed

[2017-06-16 04:43] danmosemsft commented on #19763
trivial test update

[2017-06-16 04:44] safern commented on #19590
Sorry this was fixed for UapAot, but the fix is the same for Uap. I can do it now @danmosemsft

[2017-06-16 04:46] safern commented on #18381
Yes it is a dupe, they reference the same test, #21109 has a more detailed description and the test is disabled with activeIssue against it, so perhaps we should close this one.

[2017-06-16 04:47] safern commented on #17929
Fixed in: https://github.com/dotnet/corefx/pull/21070

[2017-06-16 04:47] #17929 closed

[2017-06-16 04:48] danmosemsft commented on #19033
Also  this one.
   throw new NotSupportedException(SR.Argument_PathFormatNotSupported);

    ---> System.NotSupportedException: The given path's format is not supported.
       at System.IO.Path.GetFullPath(String path)
       at System.IO.Directory.SetCurrentDirectory(String path)

[2017-06-16 04:50] danmosemsft commented on #19033
Also
 1183:   <data name="Argument_InvalidPathChars" xml:space="preserve">
 1184      <value>Illegal characters in path.</value>

Basically almost all the "throw new xxx" in Path*.cs.

[2017-06-16 04:51] safern commented on #19590
I just saw that we disabled the whole System.Diagnostics.Process tests for Uap as they need to be rewritten because of RemoteExecutor's new behavior, so that is why it hasn't failed in latest runs. https://github.com/dotnet/corefx/issues/20948

[2017-06-16 05:02] tijoytom commented on #20519
@danmosemsft It was ILC , zach merged his changes a while back.

[2017-06-16 05:02] #20519 closed

[2017-06-16 05:07] danmosemsft commented on #19033
`   throw new PathTooLongException(SR.IO_PathTooLong + fullPath.ToString());` is clearly wrong.

[2017-06-16 05:20] saurabh500 commented on #9064
@danmosemsft is this the uapaot work that is underway?

[2017-06-16 06:10] dotnet-mc-bot opened #21122 "Tests under: System.Tests.GetCommandLineArgs failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Tests.GetCommandLineArgs/CheckCommandLineArgs_ArgsWithEvenBackSlash` has failed.

RemoteExecuter: System.Runtime.Extensions.Tests, Version=4.2.1.0, Culture=neutral, PublicKeyToken=9d77cc7ad39b68eb <RemoteInvoke>b__6_2 arg1, \\\\\\\\\\\"alpha, \\\"arg3\r
    System.Reflection.TargetInvocationException: Exception has been thrown by the target of an inv

[2017-06-16 06:11] bazzilic commented on #21053
I believe that in this case the more appropriate question is - why should we _not_ implement the `IList<byte>` constructor? Whenever possible, especially if this does not incur performance drops, we should go for higher abstractions; and in case of BigInteger I see the use of `byte[]` instead of (at least) `IList<byte>` as a design oversight

Generally, `Span` and `IList` are not interchangeable,

[2017-06-16 06:24] danmosemsft commented on #19591
https://github.com/dotnet/coreclr/pull/12322

[2017-06-16 06:26] andreimcristof commented on #21116
same issue here

[2017-06-16 06:30] danmosemsft commented on #9064
Yes. I think this is asking whether SqlClient will be available for UWP. I don't know know your plans or whether you have something to share right now. Moved to Future meantime.

[2017-06-16 06:30] dotnet-mc-bot opened #21123 "Test: System.Runtime.ExceptionServices.Tests.HandleProcessCorruptedStateExceptionsTests/ProcessExit_Called failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Runtime.ExceptionServices.Tests.HandleProcessCorruptedStateExceptionsTests/ProcessExit_Called` has failed.

response.Status = Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvoke(MethodInfo method, String[] args, RemoteInvokeOptions options)
       at System.Run

[2017-06-16 06:40] danmosemsft commented on #21122
@tarekgh I wonder if your changes changed how arguments are passed or parsed to remote xecutor.

[2017-06-16 06:46] Jiayili1 commented on #20086
This issue is still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170616.01/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.TypeTests~2FGetTypeByName(typeName:%20%5C%22Outside%601+Inside%601%5C%22,%20expectedType:%20typeof(Outside%3C,%3E))

[2017-06-16 06:48] Jiayili1 commented on #20077
@tarekgh This issue is still repro on 20170616.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170616.01/workItem/System.Collections.NonGeneric.Tests/analysis/xunit/System.Collections.Tests.CaseInsensitiveHashCodeProviderTests~2FDefault_Compare_TurkishI

[2017-06-16 06:51] Jiayili1 commented on #18057
This test failed with another issue "Xunit.Sdk.TrueException", detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170616.01/workItem/System.Text.RegularExpressions.Tests/analysis/xunit/System.Text.RegularExpressions.Tests.RegexMatchTests~2FMatch_SpecialUnicodeCharacters

The test `System.Text.RegularExpressions.Tests.Reg

[2017-06-16 07:14] iricigor commented on #21096
Hi @JeremyKuhne , I created pull request for problematic two chars, for which I am sure its OK to remove. I think removing trimming altogether is slightly beyond my expertise.

Another thing, I am not sure if this is full scope of the issue. I raised an issue in corefx, as this is where I found the problem in code. But. the issue is impacting also full CLR, see also comment from @jeffbi in [PowerS

[2017-06-16 07:29] Jiayili1 opened #21127 "Fire Issue: System.Linq.Expressions.Tests on windows.81.amd64"
Detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170616.01/workItem/System.Linq.Expressions.Tests

[2017-06-16 07:33] dotnet-mc-bot opened #21128 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol: Tls12, requestOnlyThisProtocol: True) failed with "System.Net.Http.WinHttpException : The operation has been canceled""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol: Tls12, requestOnlyThisProtocol: True)` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The operation has been canceled

        Stack Trace:

[2017-06-16 07:38] Jiayili1 commented on #18907
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170616.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveUdpClient~2FSendToRecvFromAsync_Datagram_UDP_UdpClient(loopbackAddress:%20127.0.0.1)

[2017-06-16 07:41] Jiayili1 commented on #20550
This issue is repro on Core Tests (2.0.0) in build20170616.01, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170616.01/workItem/System.Net.Security.Tests/wilogs

[2017-06-16 07:58] qmfrederik opened #21129 "TypeConverters for System.Drawing"
TypeConverters are currently omitted from System.Drawing.Common, as described in #20593.

Since the idea is that Mono will use the CoreFX System.Drawing sources, and Mono maintains compatibility with Desktop .NET, we should add them back.

Here's what I can do:
- Add the TypeConverters (possibly from Mono) to CoreFX
- Add the TypeConverter attributes to the System.Drawing classes and hide them bet

[2017-06-16 07:58] qmfrederik commented on #21129
/cc @mellinoe @akoeplinger

[2017-06-16 09:15] pgolebiowski commented on #574
* @ebickle @jnm2 -- added
* @karelz @SamuelEnglard -- referenced

If the API is approved in its current form (two classes), I would create another PR to CoreFXLab with an implementation for both using a quaternary heap ([see implementation](https://github.com/pgolebiowski/algo-kit/tree/master/src/AlgoKit/Collections/Heaps)). The `PriorityQueue<T>` would just use one array beneath, while `PriorityQ

[2017-06-16 09:44] willdean commented on #16050
@JeremyKuhne Thanks for checking - I don't know what's being tested here, really!  Clearly there was some regression in the past something to do with UTF8, and this test was added as a result of that problem.

If there were comments in original code or anything in version control which pointed to an internal bug report then I might be able to reconstruct something based on the description of the p

[2017-06-16 10:10] moljac opened #21131 "API addition: System.Net.Http.HttpMethod.Patch method/verb"
System.Net.Http.HttpMethod.Patch method/verb (RFC5789) is a extension to HTTP 1.1 protocol and method definitions defined in (RFC2616 Section 9).

Suggestion: add API (static method HttpMethod.Patch that returns new HttpMethod("PATCH")) which is current workaround for this issue.

Pros:

*   consistent API with other HTTP methods.

Cons:

*   none, since this is new API, there should not be any br

[2017-06-16 12:45] AtsushiKan commented on #21095
cc @zamont

[2017-06-16 12:46] AtsushiKan commented on #20717
Yes. No root causing was done on this.

[2017-06-16 12:57] arvopartet commented on #11615
Has the StringInfo class API (for Linux) been made compatible? (in dotnet core 1.1 (for Linux (using VSC)) it misses a lot of methods mentioned on
https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-1.1&term=stringinfo
)

[2017-06-16 13:06] svick commented on #21053
Except that's not true. Using `IList<byte>` requires a virtual call *for every single byte*, which will likely affect performance significantly here.

But OK, I understand your point of view (even if I disagree with it).

[2017-06-16 13:15] gkhanna79 commented on #20474
@danmosemsft @kouvel should be able to help with projectN issues once he is done with his Desktop and CoreCLR issues.

For now, @AntonLapounov @sergiy-k can you please help look into this?

[2017-06-16 13:19] davidsh commented on #21131
Thank you for your suggestion.  This is a dupe of #17299.  Please review that issue and associated process for API additions.

[2017-06-16 13:19] #21131 closed

[2017-06-16 13:22] davidsh commented on #21128
Tracking "The operation has been canceled" issues in #19701

[2017-06-16 13:22] #21128 closed

[2017-06-16 13:26] gkhanna79 commented on #21095
@tarekgh What is the calltack in Windbg corresponding to the managed/VS captured one you shared above?

[2017-06-16 13:27] davidsh commented on #20465
This is not a ResourceManager issue.  I think the problem here is that it is a known issue that parameter names in exceptions are stripped out for ILC.

The fix here is to use AssertExtensions.Throws instead of Assert.Throws.  I didn't know about this fix when I first disabled this test.  I've already made similar fixes to other libraries for this problem. I can fix/renable this later next week.

[2017-06-16 13:43] gkhanna79 commented on #21095
@daxian-dbw .NET Core 2.0 Preview1 SDK is actually 5977 (you are using 5952, which is 25 builds old) and can be downloaded from https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-preview1-download.md.

Can you confirm the issue does not repro with it?

[2017-06-16 13:47] svick commented on #21119
There is a new version of API reference documentation for .Net being worked on at https://docs.microsoft.com/dotnet/api/. Specifically, [here is the documentation for `RedirectStandardOutput`](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.redirectstandardoutput?view=netcore-1.1).

The new API reference is open source, so if you have any suggestions for improvement

[2017-06-16 14:36] shravan2x commented on #21119
@svick Thanks for the links. I'll post an issue on the docs repo later today.

[2017-06-16 14:36] #21119 closed

[2017-06-16 14:44] moljac commented on #21131
@davidsh

My bad. Long night. Sorry I did not search good enough.

I will comment on the other issue.

[2017-06-16 14:53] moljac commented on #17299
Hi

My issue was dupe of this one, so I'll add my comment and links here.

Rationale: I'm Xamarin.Auth maintainer and developer and currently am investigating problems with Google Drive and Xamarin.Auth. Namely Xamarin.Auth has all verbs/methods that are as static properties in HttpMethod, but PATCH and of course Google needs PATCH for Drive API. Current workaround is to add `new HttpMethod("PATCH

[2017-06-16 15:07] joperezr commented on #18381
Agreed with @safern. Closing this one.

[2017-06-16 15:07] #18381 closed

[2017-06-16 15:11] danmosemsft commented on #21127
@jiayili1 I don't see a failure here?

[2017-06-16 15:14] danmosemsft commented on #21129
We are limiting the types we apply Serializable to so if you have new such attributes we might want to put them on mono specific partial classes.

[2017-06-16 15:23] ericstj commented on #20279
Tooling, all of this has moved upstack.  I've done this testing initially with the new implementation and haven't found issues.  I can close it.

[2017-06-16 15:23] #20279 closed

[2017-06-16 15:26] tarekgh commented on #21095
@gkhanna79 I am using the latest coreclr from the master branch and the problem repro there

[2017-06-16 15:28] gkhanna79 commented on #21095
Yes, I would have expected it there.

[2017-06-16 15:33] tarekgh commented on #21122
I doubt that as this will break a lot of other tests. What is expected from this test when running in UWP? I think UWP doesn't support the command parameters same way as non UWP? anyway, need someone take a look. if I get some cycles I can take a look.

[2017-06-16 15:37] tarekgh commented on #11615
@arvopartet the APIs added in 2.0 so it is expected to be missing in 1.1

[2017-06-16 16:00] gkhanna79 commented on #21095
https://github.com/dotnet/corefx/issues/18791 was filed since LoadFrom implementation for NS 2.0 was not accounting to look for dependency assemblies in the same folder as assembly for which LoadFrom was being attempted for. This was fixed in https://github.com/dotnet/coreclr/pull/11333 - however, the LoadFromResolve event handler should have returned null incase it could not load the dependency f

[2017-06-16 16:03] gkhanna79 commented on #21095
The issue does not repro in Preview1 since Preview1 had the original LoadFrom bug https://github.com/dotnet/corefx/issues/18791 and the fix (LoadFromResolve event handler) was introduced in Preview2 only.

Also, note that this issue only affects assemblies that are loaded via LoadFrom explicitly.

[2017-06-16 16:12] tarekgh commented on #21122
Oops wrong issue to comment. I'll remove the last comment and put it on the right issue :-)

[2017-06-16 16:30] joperezr commented on #18293
yeah, I found 5 calls to it, and replaced them. I'm done with the changes for netcoreapp but I'm missing some for uap, will send out a PR when I'm done.

[2017-06-16 16:36] joperezr commented on #18052
not sure I understand if this is a real issue or not. @Jiayili1 do you mind explaining why did you switch to only run this test in netfx on PR #19214? Does this mean that this test should never run in uap? if so we should just close this one.

[2017-06-16 16:52] JeremyKuhne commented on #19033
Yes, we should be creating formatted string resources for these where we don't have them. Many already have a "with path" and "without path" version. Some of them may already exist in other places- checking the desktop mscorlib is something that is worth doing.

[2017-06-16 17:00] joperezr commented on #17450
One of the tests disabled by this issue is now passing so some other change must have fixed it, but the `PointerFieldGetValue` is still crashing throwing an AV when `value` is `-1`. There is not an interesting callstack since all that is really happening, is that we are calling Xunit's `Assert.IsType<Pointer>(actualValue)` and `actualValue` is an `System.Object &`. I don't have xunit symbols, so I

[2017-06-16 17:00] joperezr commented on #17450
re-assigning to you so that you can forward it to the right person.

[2017-06-16 17:06] weshaggard commented on #15635
Closing as I'm tackling the CI legs in a slightly different way now that we have the portable legs.

[2017-06-16 17:06] #15635 closed

[2017-06-16 17:06] weshaggard commented on #9975
This is done now that we have Nano testing happening from the portable windows builds leg.

[2017-06-16 17:06] #9975 closed

[2017-06-16 17:09] JeremyKuhne commented on #21096
I am positive removing the entire thing is OK. The real bug is we shouldn't be doing this at all- certainly not in a world where our lowest supported OS is Windows 7. :)

After the change is done I'll mark it as NetFX Port Consider. That will get it in the pipeline for desktop. When it gets "ported" it would be under a "quirk" where it will only impact those targeting the latest version or those t

[2017-06-16 17:11] JeremyKuhne commented on #16050
I can't find any clues and I can't figure it out either, so I'm totally fine with deleting it.

[2017-06-16 17:23] weshaggard opened #21135 "Announcement: Corefx CI legs updating"
As part of so infrastructure changes we are shifting the CI system a little. As folks probably already have noticed we have added "Portable" legs instead of having a bunch of different individual linux distro legs. Given that Portable is our default netcoreapp configuration now we are also going to remove that term from the descriptions and simplify some of the other legs/names as well.

Given the

[2017-06-16 17:28] lajones commented on #20858
@safern I presume this applies to #20859 as well? Also can you talk to @Jiayili1 and let her know of a build she can re-run the tests on to see this passing?

[2017-06-16 17:30] safern commented on #20859
ResourceManager issue that was already fixed

[2017-06-16 17:30] #20859 closed

[2017-06-16 17:48] Priya91 commented on #21112
@CIPop Managed implementation doesnt have Digest auth as well.

[2017-06-16 17:50] joperezr commented on #18220
seems like the problem is a crash is happening during RemoteExecution and we are not catching that so the tests are just hanging forever.
Callstack is:
[code]

[2017-06-16 17:52] joperezr commented on #18220
One thing to  note, when you call the tests that seem to cause it (SyncTextReader tests) they won't fail, either by calling them individually or the whole class. But during a full test project run, all of the other test classes run first which make changes to the console title and other things, which then causes this exception to be thrown on the remoteExecutor

[2017-06-16 17:53] joperezr commented on #18220
tagging @ianhays since he owns console to see if he knows what might be happening since he is more familiar with the tests.

[2017-06-16 17:53] caesar1995 commented on #17317
Should we triage this issues as "System.Net"? Since it's related to WebSockets.

@davidsh @CIPop

[2017-06-16 18:17] daxian-dbw commented on #21095
Thanks for the fix!
Are we able to use .NET Core `2.0.0-preview3` packages with the `2.0.0-preview2` .NET Core SDK (CLI)?

[2017-06-16 18:19] gkhanna79 commented on #21095
The fix is in the runtime, so you should be able to use preview2 sdk and ask it to target the preview3 sharedFX (or update the runtimeconfig.json for the app). However, soon enough, there will be a preview3 SDK as well.

[2017-06-16 18:24] karelz commented on #21116
@weshaggard @ericstj @mellinoe thoughts?

[2017-06-16 19:04] Spongman commented on #21106
ugh, please forget the 'stdin redirection' part.

[2017-06-16 19:07] krwq opened #21141 "SqlGuid is not deserializing properly on netfx"
It's already in the: PR https://github.com/dotnet/corefx/pull/21137

[2017-06-16 19:32] ianhays commented on #20558
I was more thinking about having it for the Writer.

I definitely don't disagree with you. I personally have always disliked having the same class for writing/reading because it's more difficult to reason about. I don't even like the words 'Write'/'Read' being used in DeflateStream/GZipStream, but they're necessary to implement Stream.

I mostly just want to make sure we're avoiding unnecessary du

[2017-06-16 19:44] danmosemsft commented on #9064
Linking this here https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/9327945-uwp-sql-server-api

[2017-06-16 20:21] jamesqo commented on #21055
@AArnott Although I would prefer being consistent, I don't have a very strong opinion on this so I'm willing to go with your solution here. Plus as @karelz says (in the wiki) this will cause warnings for existing codebases, which are often treated as errors and can induce breaking changes.

@karelz Just a question-- do you really think it's a good idea to let anyone edit the wiki? This repo has 12

[2017-06-16 20:33] karelz commented on #21055
@jamesqo yes, I think it is a good idea. Trolls can be kicked out of GitHub / our org. And there is history, so we can review changes :) ... I prefer easier collaboration over fear from not-yet-observed malicious behavior.

[2017-06-16 20:38] ericstj commented on #21116
The version mismatch is by-design.

We version every desktop assembly that ships out of band in a package.  We do this to ensure that it has a unique version if installed to the GAC.

We don't reversion the netstandard reference assemblies as those are part of the "standard" contract.

These cases where the implementation (definition) is higher than the reference are completely normal.  This is a

[2017-06-16 20:45] #19033 closed

[2017-06-16 20:49] justinvp commented on #21135
As long as you're simplifying/cleaning up the names...

Nit: Any reason these couldn't be macOS instead of OSX? It's been macOS for a couple OS releases now.

Nit: It'd be nice if the casing of Net vs. NET was consistent.

[2017-06-16 20:50] shmao opened #21143 "DCJS_GetOonlyDictionary_UseSimpleDictionaryFormat Failed in ReflectionOnly on Uapaot"
[code]

[2017-06-16 21:00] jamesqo commented on #14354
@karelz Despite my comment [above](https://github.com/dotnet/corefx/issues/14354#issuecomment-306065370), I have changed my mind because I do not think I have the qualifications to choose the best hash algorithm. I looked into some of the libraries @morganbr listed and realized the implementation is [quite complex](https://github.com/google/farmhash/blob/master/src/farmhash.cc), so I can't easily

[2017-06-16 21:07] shmao commented on #21092
The fix for #20478 would fix this issue.

[2017-06-16 21:07] #21092 closed

[2017-06-16 21:10] AntonLapounov commented on #20474
@stephentoub  This might be a race condition in the ConcurrentBag code.  Usually the test dies on the following assert: ```int copied = CopyFromEachQueueToArray(arr, 0);
Debug.Assert(copied == count);``` but sometimes on other asserts.

[2017-06-16 21:13] stephentoub commented on #20474
It's of course possible, but we've never hit it on CoreCLR.  Possible it's a codegen issue / difference?  Or a difference in the various synchronization primitives being used (interlocked, volatile, etc.) between the runtimes?

[2017-06-16 21:15] AArnott commented on #21055
@jamesqo: yes IMO just defining an instance method that has the desired behavior seems like the way to go.

[2017-06-16 21:22] tannergooding commented on #14354
I've not benched it (or otherwise optimized it), but here is a basic implementation of the Murmur3 hash algorithm that I use in several of my personal projects: https://gist.github.com/tannergooding/0a12559d1a912068b9aeb4b9586aad7f

[2017-06-16 21:26] weshaggard commented on #21135
While I don't particularly mind this change it would be inconsistent with everything else we have in our infrastructure. For that reason I would like to keep it OSX and if we wanted to change it we should do a larger push through the system which I'm not sure is worth the effort.

I will fix this to make it NETFx.

[2017-06-16 21:26] tannergooding commented on #14354
I feel like the most optimal solution here is going to be to dynamically change the hashing algorithm based on the size of the input data.

Ex: Mumur3 (and others) are very fast for large sets of data and provide great distribution, but they can perform 'poorly' (speed wise, not distribution wise) for smaller sets of data.

I imagine we should do something like: If overall byte count is less than

[2017-06-16 21:31] tannergooding commented on #14354
It's probably also worth noting that several of the algorithms mentioned have implementations specifically designed for SIMD instructions, so an the most performant solution would likely involve an FCALL at some level (like is done with some of the BufferCopy implementations) or may involve taking a dependency on `System.Numerics.Vector`.

[2017-06-16 21:38] danmosemsft commented on #21129
@weshaggard @morganbr I wonder if we need an analyzer to flag if more [serializable]'s appear.

[2017-06-16 21:43] huanwu opened #21146 "Investigate the way to run SGEN.exe"
Investigate the way to run SGEN.exe from CLI.

[2017-06-16 21:43] AntonLapounov commented on #20474
@stephentoub Could you explain expected synchronization between `Monitor.Enter(queue, ref queue._frozen);` and `if (!_frozen ...)`, which is not under any lock?  `FreezeBag` may return before `TryLocalPop` observes that the _frozen flag is set.

[2017-06-16 21:47] huanwu commented on #21146
Need add a runtimeconfig.json like huanwu/corefx@4b14895 and also add <OutputType>Exe</OutputType>in the project file

[2017-06-16 21:47] #21146 closed

[2017-06-16 21:51] huanwu opened #21147 "Automate SGEN tests"
1. Add a new test project in SGEN and reuse the current XML tests.
2. Add baseline test

[2017-06-16 21:51] stephentoub commented on #20474
How?  FreezeBag will mark on each queue that it's being frozen:
https://github.com/dotnet/corefx/blob/master/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentBag.cs#L627
Then foreach it waits until any in-flight operation has quiesced:
https://github.com/dotnet/corefx/blob/master/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentBag.cs#L634

[2017-06-16 21:53] jamesqo commented on #21055
@AArnott OK. Have updated the proposal

[2017-06-16 21:59] AntonLapounov commented on #20474
@stephentoub

No, because `TryLocalPop` assigns `_currentOp` without any locking, and `FreezeBag` may not observe that `_currentOp` was set by another thread.

[2017-06-16 22:00] vancem opened #21148 "System.Net.Sockets: Go back to using GCHandles for linking a SocketAsyncContext to native code"
In the following commit:

https://github.com/dotnet/corefx/commit/730df62e8948846f8661189811980ac341559d1a

To fix a race we creates a new layer of 'tokens' and a dictionary to go from these tokens to the SocketAsyncContext (which is the managed object holding the state of a single asynchronous I/O.

After some discussion with @geoffkizer @stephentoub @jkotas and others we believe that it is a str

[2017-06-16 22:00] weshaggard commented on #21135
After some more discussion with other folks offline want to make the list a little more sparse and also mix in x86 runs so the current proposal is:

[code]

That should give us a decent mix of architecture, frameworks, flavors, and OS's. While keeping the number of legs for each PR at a reasonable count. We will still enable triggers for all combinations so people can trigger any combination as ne

[2017-06-16 22:01] stephentoub commented on #20474
_currentOp is volatile and there are additional barriers in place between the relevant operations.

[2017-06-16 22:04] AntonLapounov commented on #20474
@stephentoub Assignments to `volatile` fields do not have inter-processor locking behavior.

[2017-06-16 22:05] stephentoub commented on #20474
But the Interlocked.Exchanges between the relevant operations should ensure the state has been published, no?

[2017-06-16 22:24] #20478 closed

[2017-06-16 22:24] #20481 closed

[2017-06-16 22:39] AntonLapounov commented on #20474
@stephentoub

Yes, it will make the assignment to `_currentOp` globally visible by draining store buffers of the current core.  What makes you believe that it would make the assignment to `_frozen` (made by another core) visible to this core? `Interlocked.Exchanges` does not drain store buffers of other cores.

[2017-06-16 22:48] stephentoub commented on #20474
Either I'm misunderstanding or we're talking past each other.

Thread 1 does:
- _frozen starts as false
- Write true to _frozen
- Memory barrier
- Read _currentOp and synchronize if it's None

Thread 2 does:
- _currentOp starts as None
- Write Take to _currentOp
- Memory barrier
- Read _frozen and synchronize if it's true

You're saying it's valid for Thread 2 to read _frozen == false and for Thre

[2017-06-16 22:51] safern opened #21151 "System.Threading.Tests.MutexTests hanging in Uap"
This two tests are hanging in uap:

CrossProcess_NamedMutex_ProtectedFileAccessAtomic
AbandonExisting

Sorce code:
https://github.com/dotnet/corefx/blob/master/src/System.Threading/tests/MutexTests.cs#L142-L201

They both hang when calling `new Mutex(false, name)` and the name contains `"Global\\"` as its prefix.

cc: @kouvel @AntonLapounov

[2017-06-16 22:55] danmosemsft commented on #21151
I'm assuming this is because they are hitting app container and not gracefully handling that.

[2017-06-16 23:00] AntonLapounov commented on #20474
@stephentoub Sure. `Interlocked.MemoryBarrier` is basically no-op on x86 and does not enforce global visibility.  `Interlocked.Exchange` is a completely different thing and forces global ordering.  However, you need to force ordering on both threads, not just one of them.

[2017-06-16 23:01] JeremyKuhne commented on #20876
@kellypleahy Just a heads up- I've got to make some changes around this area for UAP work. #21149 changes the core FillAttributes- I'll drop mentions of any other changes that cross paths with this issue.

[2017-06-16 23:05] joshfree opened #21154 "Enable UWP6.0 MF x86 and MF ARM legs in outerloop"
This issue is tracking turning on the Multifile x86 and Multifile arm legs in Helix as part of the UWP6.0 zbb.

@tijoytom you'll want to chat with @joperezr for a pointer

/cc @yizhang82

[2017-06-16 23:05] kellypleahy commented on #20876
Thanks, I got a bit distracted but will be jumping back in this weekend.  I
can always rebase when you are done with your changes.

On Fri, Jun 16, 2017, 16:01 Jeremy Kuhne <notifications@github.com> wrote:

[2017-06-16 23:13] stephentoub commented on #20474
Yes, I know.

Really?  Well that's unfortunate. :smile:  What the heck is it doing on the Interlocked class?

Just to make sure we're on the same page, you agree then that if that Interlocked.MemoryBarrier had been an Interlocked.Exchange or Interlocked.CompareExchange on anything, it would have had the desired affect?

And are you sure these are the semantics that CoreCLR provides?  I'm still unc

[2017-06-16 23:26] AntonLapounov commented on #20474
@stephentoub Hmm, apparently JIT compiles `Interlocked.MemoryBarrier` into `lock or dword ptr [esp],0`, which forces global visibility.  In ProjectN-compiled code it is no-op.  Let me look further.

[2017-06-16 23:34] karelz commented on #21037
One time failure, moving to 2.1

[2017-06-16 23:39] AntonLapounov commented on #21151
Need to port changeset 1656573 from ProjectN branch.

[2017-06-16 23:49] DavidGoll commented on #20400
release/2.0.0 port has been merged. The follow-up change is for the next milestone.

[2017-06-16 23:52] weshaggard commented on #20869
Moving to 2.1 because it isn't blocking 2.0. We don't appear to have any cases of the out parameter issue based on @chcosta's other issue https://github.com/dotnet/corefx/issues/20942

[2017-06-16 23:54] jaredpar commented on #20942
When you see breaks like this with new compiler versions please do alert the compiler team directly about it. Compat is super important to us and we want to make sure we know about any unexpected breaks.

[2017-06-16 23:57] weshaggard commented on #20942
@jaredpar Consider yourself notified :) What is the right path for these? Should we add to NoWarn list or try to fix all the instances?

[2017-06-17 00:01] jaredpar commented on #20942
@weshaggard

Still trying to understand why warnings are being generated here. Lets take a look at the first few warnings:

[code]

That seems to map to the following code in [System.Diagnostics.Tracing.cs](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/ref/System.Diagnostics.Tracing.cs):

[code]

These are public members in a public type. Unlikely we are actually warn

[2017-06-17 00:04] weshaggard commented on #21129
As for the TypeConverters assuming we add them I would like to keep the in the TypeConverters library instead of System.Drawing.Common library if at all possible. We have been trying to invert this dependency to avoid everything needing to depend on TypeConverter.

[2017-06-17 00:15] safern opened #21156 "System.IO.Ports.Tests.OpenDevices.OpenDevices01 failed in uap"
This test is throwing the following exception:

[code]

When calling [CallQueryDosDevice](https://github.com/dotnet/corefx/blob/master/src/System.IO.Ports/tests/SerialPort/DosDevices.cs#L133)

cc: @danmosemsft @JeremyKuhne

[2017-06-17 00:19] JeremyKuhne commented on #21156
We've got a new API coming from Windows for this.

[2017-06-17 00:23] DavidGoll commented on #20816
Passing a string with *bounding* quotes is supported. The code referenced above is meant to detect embedded quotes after (temporarily) stripping the bounding quotes. Embedded quotes would be illegal per the RFC. The code may not be smart enough when stripping the bounding quotes. For example, if there are any other characters preceding the first quote or trailing the terminating quote, one or both

[2017-06-17 00:23] safern commented on #21156
Great, because the tests are hanging also because of this when calling: https://github.com/dotnet/corefx/blob/master/src/System.IO.Ports/tests/Support/PortHelper.cs#L20-L76 through conditional fact.

I'm adding `if (PlatformDetection.IsWinRT) return new string[0];` at the beginning of that helper method to unblock test execution.

[2017-06-17 00:24] caesar1995 opened #21158 "Array initialization throws ArgumentOutOfRangeException if size is 0 in ILC mode"
System.Net.Sockets.SendPacketsAsync tests run fine in F5 ('uap') & netcore & netfx mode. But in ILC ('uap-aot') mode they are failing.  It seems that the array initialization throws ArgumentOutOfRangeException if size is 0 (take one test for example):

[code]

SendPackets() will eventually call into `SetupPinHandlesSendPackets()` in `SocketAsyncEventArgs.Windows.cs`

[code]

If _sendPacketsElement

[2017-06-17 00:26] #21095 closed

[2017-06-17 00:45] karelz commented on #20400
Please file a separate bug for the follow up. Closing this one with 2.0 milestone.

[2017-06-17 00:45] #20400 closed

[2017-06-17 00:46] divega opened #21160 "Standarize on DiagnosticSource for tracing in System.Data.* components"
Currently we have around [27 `EventSource` trace points](https://github.com/dotnet/corefx/search?p=1&q=DataCommonEventSource++&type=&utf8=%E2%9C%93) in `System.Data.Common`.

On the other hand, SqlClient has been instrumented with `DiagnosticSource`.

I talked to @vancem today and we came to the conclusion that there may be enough value in standardizing on `DiagnosticSource` before we release 2.0.

[2017-06-17 00:49] divega commented on #19896
I talked to @vancem and we believe we should standardize on `DiagnosticSource` rather than add more `EventSource`. This is related to https://github.com/dotnet/corefx/issues/21160.

[2017-06-17 01:15] kouvel commented on #20474
Hmm memory barrier cannot be no-op on x86/x64, volatile can be no-op. x86/x64 does some store buffering that the memory barrier would fix.

[2017-06-17 01:25] danmosemsft commented on #21151
@tijoytom this will come automatically right?

[2017-06-17 01:50] kouvel commented on #21151
CoreCLR issue: https://github.com/dotnet/coreclr/issues/11306

Does this need to go into 2.0 or is 2.1 sufficient?

[2017-06-17 02:11] kouvel commented on #21151
I'll go ahead and port this, it needs some changes in the PAL as well

[2017-06-17 02:27] morganbr commented on #14354
@jamesqo, we're happy to help out with making choices; what we need the most help with is performance data for candidate implementations (ideally C#, though as @tannergooding points out, some algorithms need special compiler support). As I mentioned above, if you build a candidate that isn't chosen, we'll probably use it later, so don't worry about work being wasted.

I know there are benchmarks o

[2017-06-17 02:34] morganbr commented on #14354
@tannergooding, that kind of adaptability might be most performant, but I don't see how it would work with the Add method since it doesn't know how many times it'll get called. While we could do it with Combine, that would mean a series of Add calls could produce a different result than the corresponding Combine call.

Also, given that the most likely range of inputs is 4-32 bytes (Combine`1-Combi

[2017-06-17 03:15] tannergooding commented on #14354
I'm not personally convinced the API shape is quite right for general purpose hashing (it is close however)...

Currently we are exposing `Combine` methods for static construction. If these are meant to combine all inputs and produce a finalized hash code, then the name is 'poor' and something like `Compute` might be more appropriate.

If we are exposing `Combine` methods, they should just mix all

[2017-06-17 03:19] morganbr commented on #14354
For anyone looking for a less complicated starting point, try xxHash32. That's likely to translate pretty easily to C# ([people have done it](https://github.com/wilhelmliao/xxHash.NET)).

[2017-06-17 03:23] AntonLapounov commented on #20474
From my past ProjectN experience (and looking at the assembly code) I did not consider Interlocked.MemoryBarrier() to be a cross-thread synchronization point, so sorry for the confusion on my part.  Apparently NUTC implemented different semantics and that may affect other tests as well.

[2017-06-17 04:08] tannergooding commented on #14354
Still testing locally, but I am seeing the following throughput rates for my C# implementation of Murmur3.

These are for the static Combine methods for 1-8 inputs:
[code]

My implementation assumes that `GetHashCode` should be called for each input and that the computed value should be finalized before being returned.

I combined `int` values, as they are the simplest to test.

To compute the thr

[2017-06-17 04:38] danmosemsft commented on #18050
Failing to set user environment variables. Need to see how this goes on RS3.

[2017-06-17 04:45] danmosemsft commented on #18050
Hmm, it's still failing there. Need to investigate.

[2017-06-17 04:46] danmosemsft commented on #20086
I have no idea why this would fail in app container.

[2017-06-17 04:48] danmosemsft commented on #18055
Probably expected in appcontainer:
[code]

[2017-06-17 04:51] danmosemsft commented on #20303
This doesn't need @kouvel 's powers. It's just trying to write a file to the test directory.

[2017-06-17 05:19] mzji opened #21166 "System.ExecutionEngineException in System.Data.Common.dll"
The program is an ASP.Net Core 2.0 Preview MVC application, runs in an IIS application pool. After running several hours, an access to an action will let the runtime to load System.Data.Common.dll, then trigger a System.ExecutionEngineException in that assembly. Here is the stack trace extracted from the Stack window in Visual Studio's Debug View (I cannot get details that inside the exception, si

[2017-06-17 05:52] jswolf19 commented on #6857
The test I have failed only 2/10 times during `build-tests` on my machine (8 logical processors). If I add the `CollectionBehavior` attribute to have xunit not run in parallel, then I can get about a 5/10 failure rate. Any thoughts?

[2017-06-17 06:38] danmosemsft commented on #19119
Complete. @morganbr we need to put your list somewhere, perhaps you could put it on this repo's wiki? (Remove namevaluecollection)

[2017-06-17 06:39] #19119 closed

[2017-06-17 06:50] morganbr commented on #14354
@tannergooding, that sounds like great progress. To make sure you're getting the right measurements, the intent of the API is that a call to ```HashCode.Combine(a, b)``` is equivalent to calling
[code]

In both cases, the data should get fed into the same internal hash state and the hash should be finalized once at the end.

[2017-06-17 06:59] hughbe opened #21168 "Marshal.IsComObject on Unix should throw ArgumentNullException if the object is null to match Windows behaviour"
This is causing test failures in #21165 on Unix:

[code]

Although `Marshal.IsComObject` is a nop on Unix, we want to match the argument validation as some code relies on it on Windows

[2017-06-17 07:01] danmosemsft commented on #21122
Oh - I did not see it was UWP. @Jiayili1 this had the wrong label. I fixed it.

In the UAP case you pass the arguments as messages so it is getting the arguments used to start whatever the WinRT host process is - apparently a single argument + the image name.

The GetCommandLineArgs test needs disabling for UAP/AOT until we have a way to start a real child process.

[2017-06-17 09:41] adamhathcock commented on #20558
Yes, with a writer you have to specify an archive type.

I don't think that layout quite works.  You shouldn't have `CurrentEntry` on IArchive.  It doesn't have the concept of a current entry because it's random access.  There is very little shared between `IArchive` and `IForwardArchive` really.  The concepts just don't match much other than you're dealing with entries.  One case is a only an enu

[2017-06-17 11:20] hughbe commented on #20711
We should delete Debug statements that are failing, I agree. They were written before there were any unit tests.

[2017-06-17 12:48] hughbe commented on #20711
Eric, I've also given a stab at cleaning up some of the codebase with a view to use modern C# features etc. etc.

It's a big change but fairly montonous - removing devdocs, inline variables, fixup usings etc.

If you take a look here I've done an attempt for System.Drawing.Drawing2D. Do you think I should submit a PR?
https://github.com/dotnet/corefx/compare/master...hughbe:drawing2d-cleanup-examp

[2017-06-17 13:01] GSPP commented on #6857
@jswolf19 it has been my experience that threading issues are easier to produce with more threads than cores because that effectively pauses threads randomly every few dozen milliseconds and adds races.

[2017-06-17 13:12] Echo-8-ERA commented on #7855
Would something like this work?
[code]
I have no idea how to test it though.

[2017-06-17 13:30] tannergooding commented on #14354
👍

That is effectively what the code I wrote is doing. The only difference is that I effectively inline all the code (there is no need to allocate `new HashCode()` and track the number of bytes combined since it is constant).

[2017-06-17 16:44] stephentoub commented on #20474
Thanks, Anton. I assume your response means the issue is a bug you'll be fixing in the uapaot ilc runtime or compiler? Or do you still believe there's a bug to be fixed in ConcurrentBag?

[2017-06-17 18:19] tannergooding commented on #14354
@morganbr. Implementation + Throughput test for Murmur3: https://gist.github.com/tannergooding/89bd72f05ab772bfe5ad3a03d6493650

[2017-06-17 18:37] tannergooding commented on #14354
MurmurHash3 is based off the algorithm described here: https://github.com/aappleby/smhasher/wiki/MurmurHash3, repo says it is MIT

Working on xxHash32 (BSD-2 Clause -- https://github.com/Cyan4973/xxHash/blob/dev/xxhash.c) and SpookyHash (Public Domain -- http://www.burtleburtle.net/bob/hash/spooky.html) variants

[2017-06-17 18:45] jamesqo commented on #14354
@tannergooding Again, not a hash expert but I remembered [reading an article][1] that said Murmur was not DoS-resistant, so just pointing that out before we choose that.

[2017-06-17 18:55] tannergooding commented on #14354
@jamesqo, I might be wrong, but I'm fairly certain that vulnerability applied to Murmur2 and not Murmur3.

In either case, I am implementing several algorithms so that we can get throughput results for C#. The distribution and other properties of these algorithms are fairly well known so we can pick and choose which is the best later 😄

[2017-06-17 19:00] jamesqo commented on #14354
Whoops, forgot to link to the article: http://emboss.github.io/blog/2012/12/14/breaking-murmur-hash-flooding-dos-reloaded/.

@tannergooding OK. Sounds fair :+1:

[2017-06-17 19:18] norek commented on #20711
@hughbe it should be different PR or can I attach this change to #21015?

[2017-06-17 19:23] danmosemsft commented on #19119
Need an issue for these
 Remove unnecessary attributes and callbacks (NonSerialized, OnSerializing, etc) from non-serializable types (post 2.0) [up for grabs]
 CoreFX
 CoreCLR
 CoreRT
 (Nice to have only) Add Roslyn analyzer to build to check nothing has [Serializable] that's not on the approved list (post 2.0) [up for grabs]

[2017-06-17 19:25] norek commented on #20711
@hughbe for style changes is created separate issue #20706. Hm its this good idea to completely remove comments? I thought they should be converted from `doc` for `<summary>`

[2017-06-17 21:08] norek commented on #20711
Due waiting on #21015 feedback I can grab System.Drawing.Common.Imaging.

[2017-06-17 21:20] norek opened #21172 "System.Drawing.Imaging ColorrMatrix missing checking for wrong ctor params"
ColorMatrix class has missing some of bad values checking
1. Check for null in ctor
2. Check if passed array is smaller (in each dimension) than [4][4].

I can provide checking and throw ArgumentExceptions.
What do your think @mellinoe ?

[2017-06-17 22:12] danmosemsft commented on #21168
Seems reasonable

[2017-06-17 22:24] danmosemsft commented on #21035
I've seen this in 2.0 today. That doesn't mean we introduced it. I'll set up a repro box.
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170617.02/workItem/System.Runtime.Serialization.Formatters.Tests

[2017-06-17 23:37] hughbe commented on #20711
Yeah I'll submit a PR linking to that issue

[2017-06-17 23:38] danmosemsft commented on #20441
@saurabh500 here's a failure on ExecuteScalarTest, with logging. Ubuntu1404. Can you please look?

https://mc.dot.net/#/user/caesar1995/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/e05866aa1852f9998cd629df531515d82e39b968/workItem/System.Data.SqlClient.Tests/wilogs

[code]

[2017-06-17 23:42] hughbe commented on #21172
I say no, we don't to break netfx compat - System.Drawing.Common is there for compat purposes mainly

[2017-06-18 00:37] #20865 closed

[2017-06-18 00:43] koromorix commented on #15255
Is there a workaround for `ModuleBuilder.DefineDocument`? Does dotnet core provide any way to debug dynamically-created code?

[2017-06-18 02:18] jkotas commented on #21096
The same trimming is in CoreCLR CoreLib as well. Do we need the fix there too?

https://github.com/dotnet/coreclr/blob/6ba74dc2a7194f8d6c86c3aeab572a074ef645c8/src/mscorlib/shared/System/IO/PathInternal.cs#L17

[2017-06-18 02:30] hughbe commented on #21172
But do add tests for these kinds of things... I actually really enjoy  taking a look at the code and predicting what the results will be before I write the test. Makes the whole thing about more exciting, but maybe I'm weird 🙃

[2017-06-18 05:50] tijoytom commented on #21154
@joshfree @yizhang82  I know noting about how to schedule  helix runs , someone familiar with infrastructure should do it.

[2017-06-18 06:19] danmosemsft commented on #21035
Looks like almost surely the fuzzing test. We should make it manual.

[2017-06-18 06:30] bazzilic commented on #21053
I didn't think of that. I ran a quick test (https://gist.github.com/bazzilic/8b0d8f753031b3fcb4ece17a3fcb89bd) and `IList<byte>` appears to be 5-6 times slower than `byte[]`. In this case, it makes perfect sense to keep a more specific constructor for `byte[]` since it's faster.

It still makes sense to me to have the `IList<byte>` constructor for situations that _could_ arise.

[2017-06-18 08:48] fasetto commented on #15570
I have the same issue. ):

[2017-06-18 12:02] hughbe opened #21181 "RemoteExecutorTestBase throws TargetParameterCountException passing an empty string as an argument"
Example:
[code]

[2017-06-18 12:06] norek commented on #21172
Yup your are right! Im closing this issue and go write some test cases!

[2017-06-18 12:06] #21172 closed

[2017-06-18 12:13] hughbe commented on #21172
Woohoo! tests are a form of documentation by themselves, and also we want to ensure that the Unix implementation matches the quirks in Windows (to a certain extent)

[2017-06-18 16:38] stephentoub opened #21186 "InvalidBufferSizeThrows failed on netfx"
https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/netfx_windows_nt_debug_prtest/219/consoleText

System.IO.Tests.FileStream_ctor_sfh_fa_buffer_async.InvalidBufferSizeThrows [FAIL]
        Assert.Throws() Failure
        Expected: typeof(System.ArgumentOutOfRangeException)
        Actual:   typeof(System.ObjectDisposedException): Cannot access a closed file.
    Finished:    System.Collect

[2017-06-18 16:50] ViktorHofer commented on #15255
Not that I'm aware of. cc @dnlharvey, @AtsushiKan

[2017-06-18 16:53] ViktorHofer opened #21187 "Remove unnecessary attributes and callback from non-serializable types"
Relates to changes introduced in https://github.com/dotnet/corefx/issues/19119
Remove unnecessary attributes and callbacks (NonSerialized, OnSerializing, etc) from non-serializable types.

- [x] CoreFX
- [ ] CoreCLR
- [ ] CoreRT

cc @danmosemsft @morganbr

[2017-06-18 16:56] ViktorHofer opened #21188 "Add Roslyn analyzer to build to check nothing has [Serializable] that's not on the approved list"
Relates to changes introduced in https://github.com/dotnet/corefx/issues/19119
Add Roslyn analyzer to build to check nothing has [Serializable] that's not on the approved list

cc @danmosemsft @morganbr

[2017-06-18 17:21] ViktorHofer commented on #19119
Added.

[2017-06-18 17:26] danmosemsft commented on #21186
Was fixed in dbd01e7691932235e007e454a1b7d7934b582de9

[2017-06-18 17:30] danmosemsft commented on #21181
It is not quoting. It would need to do some quoting scheme on its arguments, and unquote at the other end;

https://github.com/dotnet/corefx/blob/master/src/CoreFx.Private.TestUtilities/src/System/Diagnostics/RemoteExecutorTestBase.Process.cs#L52

[2017-06-18 17:57] ViktorHofer commented on #19119
Also noteworthy, I created a script a few weeks ago which prints all serializable types (all access modifiers): https://gist.github.com/ViktorHofer/2da00443c8284c93f0aea5402c11238e

[2017-06-18 18:07] stephentoub commented on #21186
Does that fix need to be ported to the release branch then?

[2017-06-18 18:17] danmosemsft commented on #21186
I wouldn't object, but it's a bigger change so it would need inspection.

[2017-06-18 19:59] Alois-xx opened #21190 "Thread.Name should use SetThreadDescription"
Windows 10 Creators Update delivers new APIs to set the thread name

https://msdn.microsoft.com/en-us/library/windows/desktop/mt774976(v=vs.85).aspx

These should be used by the managed thread name set property as well so one can find the thread name in ETW traces on Windows as well. Currently there was no way to set the thread name for unmanaged threads with a decent API until Creators Update.

[2017-06-18 20:16] danmosemsft commented on #21190
@mikem8361 @brianrob as I understand it, `Thread.Name` is just a contract between CLR and the debugger and the value is stored on Thread. The idea is it could also SetThreadDescription.

[2017-06-18 20:17] danmosemsft commented on #21190
Issue moved to [dotnet/coreclr #12354](https://github.com/dotnet/coreclr/issues/12354) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-18 20:17] #21190 closed

[2017-06-18 20:17] danmosemsft commented on #21135
@hughbe fyi.

[2017-06-18 23:56] JeremyKuhne commented on #21096
@jkotas Yes, we need to pull in both places- thanks for the reminder.

[2017-06-19 00:36] danmosemsft opened #21193 "System.Drawing needs more code coverage (13.4%)"
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

This is a great place for new contributors to start.

[2017-06-19 00:50] danmosemsft commented on #20388
@jeremykuhne you caught a fish - on both Windows 8 jenkins runs
[code]
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/lastCompletedBuild/consoleText

I believe these machines are actually Server 2012 R2 .. from the console output
` OS=Microsoft Windows 6.3.9600 OSVer=Microsoft Windows NT 6.2.9200.0 OSArch=X64 Arch=X64 Framework=.NET Core 4.6.00001.0`

O

[2017-06-19 01:02] hughbe commented on #21193
Note that System.Drawing.Common is tracked in #20711

[2017-06-19 01:05] danmosemsft commented on #21193
Ah yes -- well, maybe this one would help attract contributors.

[2017-06-19 01:13] hughbe commented on #21168
I should mention I fixed this in coreclr but am waiting for coreclr to update before closing this issue

[2017-06-19 01:14] Jiayili1 commented on #21127
@danmosemsft On WIndows.81.Amd64, there is the fire icon, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170616.01/workItem/System.Linq.Expressions.Tests

If it doesn't the issue, I will close it.

[2017-06-19 01:26] danmosemsft commented on #21127
Thanks @jiayli. You're right. @dotnet/dnceng can you explain the fireball here? I see no failures in the log.

https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170616.01/workItem/System.Linq.Expressions.Tests

[2017-06-19 01:42] Jose-CF commented on #21116
@ericstj So what is the solution to this issue? So, over here I have a reference to two different versions of the same assembly. By design, what is the expected work-around for this issue?

Over here no binding redirects are created at all. Even with the flag to create them automatically.

Indeed I added them manually, but they are ignored. i.e. the assembly created as .NET Standard keeps asking f

[2017-06-19 01:42] danmosemsft commented on #20388
Incidentally if i change the code to look for ".foo" instead of ".txt" I don't get E_INVALIDARG like that.
[code]

Guess: it needs the "Desktop Experience" feature installed to work. If so, we could just make E_INVALIDARG here a "pass".

[2017-06-19 01:49] Jiayili1 commented on #19388
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170619.01/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.TaskWebClientTest~2FUploadFile_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-06-19 01:55] danmosemsft commented on #20441
@saurabh500 here's another, different test, on Centos
[code]

[2017-06-19 02:01] Jiayili1 commented on #17925
This issue is repro on Core Tests, failed test: ExecuteReaderWithCommandBehaviorTest
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170619.01/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.DiagnosticTest~2FExecuteReaderWithCommandBehaviorTest

[2017-06-19 02:01] #20932 closed

[2017-06-19 02:06] Jiayili1 commented on #19344
This issue is repro on build20170619.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170619.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledLogging

[2017-06-19 02:10] Jiayili1 commented on #20079
Failed again on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170619.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test~2FProxyExplicitlyProvided_DefaultCredentials_Ignored

[2017-06-19 02:11] danmosemsft commented on #21186
@jeremykuhne any reason we shouldn't grab dbd01e7 for 2.0 ?doesn't seem it depends on anything?

[2017-06-19 02:12] Jiayili1 commented on #20550
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170619.01/workItem/System.Net.Security.Tests/wilogs

[2017-06-19 02:42] stephentoub opened #21195 "Windows 10 legs appear to be missing"
![image](https://user-images.githubusercontent.com/2642209/27267566-54819300-5477-11e7-94ab-6496cf327ada.png)

cc: @danmosemsft

[2017-06-19 02:54] danmosemsft commented on #21195
@mmitche stopped the runs - I don't recall why - but 4df5a40ec6e7f3f8d9f3ccdadbec2b1cc31604f8 apparently didn't remove the badges.
We're ultimately migrating to having Helix run the tests and badges generated from there.

[2017-06-19 03:16] stephentoub commented on #21187
We need to be careful here not to break Mono in places where Mono is sharing corefx source.

[2017-06-19 03:31] robertmclaws opened #21197 "PlatformNotSupportedException using ConfigurationManager in ASP.NET 4.6.2"
I'm upgrading an existing and complex ASP.NET 4.6.2 application to use .NET Standard across the board. `ConfigurationManager` is not included in the standard by default, so I added `System.Configuration.ConfigurationManager 4.4.0-preview1-25305-02` to the .NET standard project that houses all my `ConfigurationSection`-based classes.

When I did, my previously-working ASP.NET app threw a `PlatformN

[2017-06-19 03:37] #19852 closed

[2017-06-19 03:39] danmosemsft commented on #21197
@robertmclaws can you clarify -- your suggestion is that this exception should suggest using System.Configuration if it finds it's running on desktop?

@jeremykuhne

[2017-06-19 03:55] danmosemsft opened #21198 "System.Linq.Expressions tests disabled with [Theory(Skip = "870811")]"
System.Linq.Expressions.Tests.LambdaTests.InvokeComputedLambda [SKIP]
System.Linq.Expressions.Tests.Compiler_Tests.CallOnCapturedInstance [SKIP]
System.Linq.Expressions.Tests.Compiler_Tests.NewExpressionwithMemberAssignInit [SKIP]
System.Linq.Expressions.Tests.Compiler_Tests.ArrayInitializedWithCapturedInstance [SKIP]
System.Linq.Expressions.Tests.Compiler_Tests.TestAndAlso [SKIP]

This number doe

[2017-06-19 03:55] danmosemsft commented on #21198
@vsadov is there a reason for this? Should we use activeissue against this issue?

[2017-06-19 03:56] danmosemsft commented on #21168
@hughbe it's merged now

[2017-06-19 04:04] robertmclaws commented on #21197
@danmosemsft No, sorry... what I am suggesting is that the code should either be functional on Desktop (probably by removing the PlatformNotSupportedException, or the NuGet package should be fixed redirect to System.Configuration when installed on Desktop. Right now the package is targeting .NET Standard 2.0 but doesn't actually work when you use it.

If the package is going to be fixed, it should

[2017-06-19 04:16] danmosemsft opened #21201 "Cleanup active issues on XML tests"
Many are archaic:
[code]

The tests should either be enabled, deleted, or ActiveIssue against a real issue.

[2017-06-19 04:18] danmosemsft commented on #21197
@weshaggard thoughts? this package is never going to be as functional as the desktop version - should it seamlessly be ignored when on desktop?

[2017-06-19 04:53] nagarajDeveloper commented on #20683
@svick<https://github.com/svick>

Actually i am talking about third point.when we write using System.Collections.Generic; , using System.Linq; has to add implicitly.

Because as per my understating  we are using "System.Linq" only when we use Collections. then what is point of importing System.Linq explicitly.

if we are using System.Linq rather than collection anywhere please mention those concep

[2017-06-19 05:28] davkean opened #21202 "Uri(String, UriKind) throws IndexOutOfRangeException for certain inputs"
We're relying on `Uri` in the http://github.com/dotnet/project-system, to represent paths. Testing our path handling code, I found that Uri throws IndexOutOfRangeException (instead of UriFormatException) in the following situations:

[code]

[2017-06-19 06:26] Jiayili1 commented on #19639
Following test: WindowAndCursorProps/Title_Set_Windows failed with "Xunit.Sdk.TrueException", detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170619.01/workItem/System.Console.Tests/analysis/xunit/WindowAndCursorProps~2FTitle_Set_Windows(lengthOfTitle:%2010)

[2017-06-19 06:33] dotnet-mc-bot opened #21203 "Test: System.Globalization.Tests.NumberFormatInfoCurrentInfo/CurrentInfo_Subclass_OverridesNumberFormat failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Globalization.Tests.NumberFormatInfoCurrentInfo/CurrentInfo_Subclass_OverridesNumberFormat` has failed.
[code]
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170619.01/workItem/System.Globalization.Tests/analysis/xunit/System.Globalization.Tests.NumberFormatInfoCurrentI

[2017-06-19 06:44] dotnet-mc-bot opened #21204 "Test: System.IO.FileSystem.DriveInfoTests.DriveInfoWindowsTests/TestValidDiskSpaceProperties failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.IO.FileSystem.DriveInfoTests.DriveInfoWindowsTests/TestValidDiskSpaceProperties` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.IO.FileSystem.DriveInfoTests.DriveInfoWindowsTests.TestValidDiskSpaceProperties()
Build : Master - 20170619.01 (UWP F5 Tests)
Failing configurations:

[2017-06-19 06:49] dotnet-mc-bot opened #21206 "Test: System.IO.Tests.FileStream_CopyToAsync/NamedPipeViaFileStream_AllDataCopied failed with "System.UnauthorizedAccessException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.FileStream_CopyToAsync/NamedPipeViaFileStream_AllDataCopied(useAsync: False, writeSize: 10, numWrites: 1024)` has failed.

System.UnauthorizedAccessException : Access to the path is denied.

        Stack Trace:

           at System.IO.Pipes.NamedPipeServerStream.Create(String pipeName, PipeDirection direction, Int32 maxNumberOfServerInstan

[2017-06-19 07:00] Jiayili1 commented on #20348
This test failed with another issue: "Xunit.Sdk.TrueException", detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170619.01/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FRoundtrip_CrossProcess(obj:%20Tree%601%20%7B%20Left%20=%20

[2017-06-19 07:07] Jiayili1 commented on #18048
This issue is still repro on UWP F5 Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170619.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.EnvironmentTests~2FGetFolderPath_Windows(folder:%20AdminTools)

[2017-06-19 07:12] Jiayili1 commented on #18049
This test failed with another issue: Xunit.Sdk.TrueException, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170619.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.Environment_Exit~2FCheckExitCode(expectedExitCode:%20-1)

Message:
[code]

Stack Trace:
[code]

[2017-06-19 07:17] Jiayili1 commented on #18053
Following test: System.Tests.StringTests/ToUpper_TurkishI

failed with same issue: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170619.01/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.StringTests~2FToUpper_TurkishI

[2017-06-19 07:20] dotnet-mc-bot opened #21208 "Test: System.Text.Tests.StringBuilderTests/Insert_Decimal(original: \"Hello\", index: 5, doubleValue: -4,56, expected: \"Hello-4.56\") failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Text.Tests.StringBuilderTests/Insert_Decimal(original: \"Hello\", index: 5, doubleValue: -4,56, expected: \"Hello-4.56\")` has failed.

Assert.Equal() Failure\r
                     ? (pos 7)\r
    Expected: Hello-4.56\r
    Actual:   Hello-4,56\r
                     ? (pos 7)

        Stack Trace:

           at System.Text.Tests.StringBuilderTests

[2017-06-19 07:25] Jiayili1 commented on #18058
This issue is still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170619.01/workItem/System.Threading.Overlapped.Tests/analysis/xunit/ThreadPoolBoundHandleTests~2FAllocateNativeOverlapped_PreAllocated_ReusedReturnedNativeOverlapped_OffsetLowAndOffsetHighSetToZero

[2017-06-19 07:26] dotnet-mc-bot opened #21209 "Test: System.Threading.Tests.EventWaitHandleTests/PingPong failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Threading.Tests.EventWaitHandleTests/PingPong(mode: AutoReset)` has failed.

RemoteExecuter: System.Threading.Tests, Version=4.1.1.0, Culture=neutral, PublicKeyToken=9d77cc7ad39b68eb PingPong_OtherProcess AutoReset, d3b856e924c440d3a9e5a366115f8266, ed2a8534cf8a44ac98ac133febfa7a59\r
    System.Reflection.TargetInvocationException: Exception has been

[2017-06-19 07:35] Jiayili1 commented on #20388
Failed with Cannot start ..., detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/90/testReport/System.Diagnostics.Tests/ProcessStartInfoTests/StartInfo_TextFile_ShellExecute/

[2017-06-19 07:39] Jiayili1 opened #21210 "No test result generated under "Microsoft.VisualBasic.Tests""
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170619.01/workItem/Microsoft.VisualBasic.Tests/wilogs

[code]

[2017-06-19 07:41] dotnet-mc-bot opened #21212 "Test: System.Collections.Concurrent.Tests.ConcurrentQueueTests/ManyConcurrentAddsTakesPeeks_ForceContentionWithOtherThreadsTaking(seconds: 1) failed with "Xunit.Sdk.InRangeException""
Opened on behalf of @Jiayili1

The test `System.Collections.Concurrent.Tests.ConcurrentQueueTests/ManyConcurrentAddsTakesPeeks_ForceContentionWithOtherThreadsTaking(seconds: 1)` has failed.

Assert.InRange() Failure\r
    Range:  (1 - 4)\r
    Actual: 0

        Stack Trace:

           at System.Collections.Concurrent.Tests.ProducerConsumerCollectionTests.<>c__DisplayClass50_0.<ManyConcurrentAdds

[2017-06-19 07:45] dotnet-mc-bot opened #21213 "Tests under: System.Collections.Generic.Tests.EqualityComparerTests failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Collections.Generic.Tests.EqualityComparerTests/NullableEquals<NonEquatableValueType>(left: System.Collections.Tests.NonEquatableValueType, right: System.Collections.Tests.NonEquatableV...` has failed.

Assert.Equal() Failure\r
    Expected: 16777216\r
    Actual:   1

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0xcdb4c0

[2017-06-19 07:47] v-haren commented on #20388
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/80/testReport/System.Diagnostics.Tests/ProcessStartInfoTests/StartInfo_TextFile_ShellExecute/

[2017-06-19 07:47] Jiayili1 commented on #21213
Failed tests:
NullableEquals
NullableGetHashCode

[2017-06-19 07:48] dotnet-mc-bot opened #21214 "Test: System.ComponentModel.Tests.InvalidEnumArgumentExceptionTests/Deserialize_ThrowsPlatformNotSupportedException failed with "System.NotImplementedException""
Opened on behalf of @Jiayili1

The test `System.ComponentModel.Tests.InvalidEnumArgumentExceptionTests/Deserialize_ThrowsPlatformNotSupportedException` has failed.

System.NotImplementedException : The method or operation is not implemented.

        Stack Trace:

           at System.Exception.GetObjectData(Runtime.Serialization.SerializationInfo info, Runtime.Serialization.StreamingContext conte

[2017-06-19 07:52] dotnet-mc-bot opened #21215 "Test: BasicEventSourceTests.TestsManifestNegative/Test_GenerateManifest_InvalidEventSources failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `BasicEventSourceTests.TestsManifestNegative/Test_GenerateManifest_InvalidEventSources` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   typeof(System.NullReferenceException): Object reference not set to an instance of an object.

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0x91

[2017-06-19 07:54] dotnet-mc-bot opened #21216 "Tests under: BasicEventSourceTests.TestsUserErrors failed with "Xunit.Sdk.EqualException" & "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `BasicEventSourceTests.TestsUserErrors/Test_BadEventSource_MismatchedIds` has failed.

Assert.Equal() Failure\r
                   ? (pos 5)\r
    Expected: EventSourceMessage\r
    Actual:   Event1\r
                   ? (pos 5)

        Stack Trace:

           at BasicEventSourceTests.TestsUserErrors.Test_Bad_EventSource_Startup(Boolean onStartup, Listene

[2017-06-19 07:56] Jiayili1 commented on #21216
Test: BasicEventSourceTests.TestsUserErrors/Test_BadTypes_Manifest_UserClass failed with "Xunit.Sdk.TrueException"

Message:
Assert.True() Failure\r\nExpected: True\r\nActual:   False

Stack Trace:
[code]

[2017-06-19 07:59] Jiayili1 commented on #19455
Following tests failed with same issue:
BasicEventSourceTests.TestsWriteEvent/Test_WriteEvent_ComplexData_SelfDescribing_EventListener
BasicEventSourceTests.TestsWriteEvent/Test_WriteEvent_Manifest_EventListener
BasicEventSourceTests.TestsWriteEvent/Test_WriteEvent_Manifest_EventListener_UseEvents

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2

[2017-06-19 08:02] dotnet-mc-bot opened #21217 "Tests under: System.DirectoryServices.Protocols.Tests.SortRequestControlTests failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `System.DirectoryServices.Protocols.Tests.SortRequestControlTests/Ctor_SortKeys(critical: False)` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0xa4ee2c
       at xunit.console.netcore!<BaseAddress>+0x827f46
       at xunit.console.ne

[2017-06-19 08:03] Jiayili1 commented on #21217
Failed tests:
Ctor_SortKeys
SortKeys_GetNull_ReturnsEmptyArray

[2017-06-19 08:07] dotnet-mc-bot opened #21218 "Test: System.Net.Security.Tests.LoggingTest/EventSource_EventsRaisedAsExpected failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.LoggingTest/EventSource_EventsRaisedAsExpected` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -323331298

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0x8615a8
       at System.Net.Security.Tests.LoggingTest.EventSource_EventsRaisedAsExpected()
       at xunit.console.netcore!<Bas

[2017-06-19 09:00] Jiayili1 commented on #20977
This issue isn't repro on recent builds, will close it. If it occurs again, will reopen it.

[2017-06-19 09:00] #20977 closed

[2017-06-19 09:05] v-haren opened #21219 "One or more tests failed while running tests from 'System.Collections.Immutable.Tests' failed in ci"
/mnt/resource/j/workspace/dotnet_corefx/master/rhel7.2_debug/Tools/tests.targets(353,5): error : One or more tests failed while running tests from 'System.Collections.Immutable.Tests' please check /mnt/resource/j/workspace/dotnet_corefx/master/rhel7.2_debug/bin/AnyOS.AnyCPU.Debug/System.Collections.Immutable.Tests/netcoreapp/testResults.xml for details! [/mnt/resource/j/workspace/dotnet_corefx/mas

[2017-06-19 09:06] Jiayili1 commented on #20920
This issue is not repro on recent builds, will close it.

[2017-06-19 09:06] #20920 closed

[2017-06-19 09:07] Jiayili1 commented on #20916
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:07] #20916 closed

[2017-06-19 09:09] Jiayili1 commented on #20862
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:09] #20862 closed

[2017-06-19 09:10] Jiayili1 commented on #20860
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:10] #20860 closed

[2017-06-19 09:10] Jiayili1 commented on #20856
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:10] #20856 closed

[2017-06-19 09:10] Jiayili1 commented on #20855
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:10] #20855 closed

[2017-06-19 09:11] Jiayili1 commented on #20854
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:11] #20854 closed

[2017-06-19 09:11] Jiayili1 commented on #20853
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:11] #20853 closed

[2017-06-19 09:12] Jiayili1 commented on #20852
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:12] #20852 closed

[2017-06-19 09:12] Jiayili1 commented on #20851
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:12] #20851 closed

[2017-06-19 09:12] Jiayili1 commented on #20850
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:12] #20850 closed

[2017-06-19 09:12] Jiayili1 commented on #20849
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:12] #20849 closed

[2017-06-19 09:13] Jiayili1 commented on #20727
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:13] #20727 closed

[2017-06-19 09:13] Jiayili1 commented on #20353
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:13] #20353 closed

[2017-06-19 09:13] Jiayili1 commented on #20352
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:13] #20352 closed

[2017-06-19 09:13] Jiayili1 commented on #20347
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:13] #20347 closed

[2017-06-19 09:14] Jiayili1 commented on #20086
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:14] #20086 closed

[2017-06-19 09:15] Jiayili1 commented on #20077
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:15] #20077 closed

[2017-06-19 09:16] Jiayili1 commented on #19763
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:16] #19763 closed

[2017-06-19 09:18] Jiayili1 commented on #19762
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:18] #19762 closed

[2017-06-19 09:18] Jiayili1 commented on #19654
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:18] #19654 closed

[2017-06-19 09:19] Jiayili1 commented on #19653
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:19] #19653 closed

[2017-06-19 09:19] Jiayili1 commented on #19648
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:19] #19648 closed

[2017-06-19 09:19] Jiayili1 commented on #19647
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:19] #19647 closed

[2017-06-19 09:19] Jiayili1 commented on #19645
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:19] #19645 closed

[2017-06-19 09:19] Jiayili1 commented on #19644
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:19] #19644 closed

[2017-06-19 09:20] Jiayili1 commented on #19643
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:20] #19643 closed

[2017-06-19 09:20] Jiayili1 commented on #19641
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:20] #19641 closed

[2017-06-19 09:20] Jiayili1 commented on #19640
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:20] #19640 closed

[2017-06-19 09:23] Jiayili1 commented on #17922
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:23] #17922 closed

[2017-06-19 09:23] Jiayili1 commented on #17923
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:23] #17923 closed

[2017-06-19 09:23] Jiayili1 commented on #17924
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:23] #17924 closed

[2017-06-19 09:24] Jiayili1 commented on #17926
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:24] #17926 closed

[2017-06-19 09:24] Jiayili1 commented on #17927
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:24] #17927 closed

[2017-06-19 09:24] Jiayili1 commented on #17928
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:24] #17928 closed

[2017-06-19 09:25] Jiayili1 commented on #17983
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:25] #17983 closed

[2017-06-19 09:25] Jiayili1 commented on #17986
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:25] #17986 closed

[2017-06-19 09:25] Jiayili1 commented on #17987
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:25] #17987 closed

[2017-06-19 09:26] Jiayili1 commented on #17989
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:26] #17989 closed

[2017-06-19 09:26] Jiayili1 commented on #17994
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:26] #17994 closed

[2017-06-19 09:26] Jiayili1 commented on #17995
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:27] Jiayili1 commented on #18054
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:27] #18054 closed

[2017-06-19 09:27] Jiayili1 commented on #18369
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:27] #18369 closed

[2017-06-19 09:27] Jiayili1 commented on #18908
This issue is not repro on recent builds, If it happens again, will reopen it.

[2017-06-19 09:27] #18908 closed

[2017-06-19 10:13] khellang commented on #20846
The MSDN documentation for [`string.Contains`](https://msdn.microsoft.com/en-us/library/dy85x1sa(v=vs.110).aspx) even has a remark on how to write this method yourself, as an extension method. It's obviously useful.

[2017-06-19 12:38] dsyme commented on #2209
I’ve been looking into high-performance functional data structures with a view to improving those available for .NET and F#.

However, existing literature on the JVM (e.g see [this]http://homepages.cwi.nl/~jurgenv/papers/PhDThesis_Michael_Steindorfer.pdf) for an excellent overview and some important breakthroughs) usually relies heavily on SSE4 instructions such as popcnt.  This means that any .NE

[2017-06-19 13:01] svick commented on #20683
In that case, there is nothing to be done in corefx and instead you should reopen this issue in [the csharplang repo](https://github.com/dotnet/csharplang), since you're proposing a change to the C# language (and not a change to the libraries).

But like I said, I wouldn't expect such a feature to be actually added to the language, I don't think it would be worth it.

`System.Linq` also contains `

[2017-06-19 13:23] avikenjale commented on #20356
@ericstj , modified design little bit to support correct frameworks.

[2017-06-19 13:54] jamesqo commented on #14398
@AlexGhiondea @vancem I'm trying to implement this myself now that #10156 was merged. Out of curiosity, do you know why `StringBuilder` uses a linked list of `char[]` rather than a `char[][]` to store the buffers?

[2017-06-19 14:04] ViktorHofer commented on #15731
@danmosemsft is this fixed now?

[2017-06-19 14:05] ViktorHofer commented on #13105
These aren't serializable anymore. Closing.

[2017-06-19 14:05] #13105 closed

[2017-06-19 14:07] stephentoub commented on #21198
Not on GitHub.  There is a matching work item in TFS, though.

[2017-06-19 14:27] vancem commented on #2209
Including @cmckinsey who runs the code gen team.     I agree that this is more of a CoreCLR than a CoreFX problem and thus should probably be moved there.    As others have stated, this area is challenging because it requires non-trivial changes at various levels of abstraction, and the results may be fragile (small changes in usage may have cause optimizations to cut out).   Ideally we fine some

[2017-06-19 14:40] vancem commented on #14398
I would advice caution and a methodical approach here.    Stringbuilder has a wide variety of important use scenarios, and it would be very easy to unintentionally damage an important scenario.

As mentioned above, keeping references to strings will trade off the performance in the short string case (which is frankly what I would expect to be the common case), so we must have good information that

[2017-06-19 14:47] karelz commented on #2209
cc @CarolEidt @jkotas

@mellinoe is driving our investment across CoreFX and CodeGen teams. We were limited by .NET Core 2.0 work, but I hope we will be able to restart the investment soon. @mellinoe can you please chime in where we are and what would be the next best steps?
Do we have CodeGen team onboard?

FYI: @Petermarcu @stephentoub @danmosemsft

[2017-06-19 14:59] Mpdreamz commented on #14612
Hey @karelz,

I think my ask boils down to having a way to toggle `CURLPIPE_HTTP1` for `CURLMOPT_PIPELINING` if you know the server supports it. For instance i'm writing the client for Elasticsearch and I know for sure the server will support HTTP1/1 pipelining and setting it generally yields a 30% boost in performance (number from memory if needed will report back with actual numbers of pipelinin

[2017-06-19 15:07] karelz commented on #14612
Do you expect it to be negotiated with the server on user's behalf and set automatically if supported by the server?
Or do you expect explicit API call to set it? (it may fail if Server does not support it)

[2017-06-19 15:13] Mpdreamz commented on #14612
An explicit API to explicitly (un)set it suffices for my usecase

[2017-06-19 15:43] karelz commented on #14612
The question is if it is the best thing for the platform. Is it possible to implement it without a new API?
Or does the user (caller) have to know about the Pipelininng support on the server / is the negotiation costly?

[2017-06-19 15:44] karelz commented on #14612
cc @Priya91 @wfurt @stephentoub

[2017-06-19 15:46] karelz commented on #19455
Moving to UWP6.0 milestone as it failed on UWP as well.

[2017-06-19 15:51] danmosemsft opened #21225 "Dumpling fails with AttributeError: DumplingConfig instance has no attribute 'dbgpath'"
[code]
https://ci.dot.net/job/dotnet_corefx/job/master/job/rhel7.2_debug/2971/consoleFull#32536873579fe3b83-f408-404c-b9e7-9207d232e5fc

@mellinoe

[2017-06-19 15:53] danmosemsft commented on #21219
It crashed but Dumpling failed
[code]

https://github.com/dotnet/corefx/issues/21225

[2017-06-19 15:54] danmosemsft commented on #21214
@morganbr wrong exception thrown

[2017-06-19 15:54] PawelGerr opened #21226 "NetworkInterface.Speed: different behavior"
The property `Speed` of type `NetworkInterface` behaves different on Linux than on Windows.

* On Windows I'm getting the number of **bytes** per second.
  * In my case the returned value is 1,000,000,000
  * That is the expected behavior (https://msdn.microsoft.com/de-de/library/system.net.networkinformation.networkinterface.speed(v=vs.110).aspx)
* On Linux I'm getting a `PlatformNotSupportedExce

[2017-06-19 15:55] danmosemsft commented on #21204
GetDiskFreeSpaceEx blocked in appcontainer?

[2017-06-19 15:56] danmosemsft commented on #21208
Another culture one.

[2017-06-19 15:57] danmosemsft commented on #21206
appcontainer?

[2017-06-19 15:57] danmosemsft commented on #21203
Another culture one. Likely all the same root cause.

[2017-06-19 16:01] Mpdreamz opened #21227 "HttpClient socket reuse behavior different on linux/osx/win"
I help maintain the .NET client for Elasticsearch and one of our integration tests does the following:

* download (if needed) Elasticsearch to `/tmp/NEST` or `%APPDATA%\NEST`
* start an empty Elasticsearch server and index some data.
* do `20` batches of `1000` searches.
* Inspect through an Elasticsearch API that exposes how many http connections it currently has open and opened in total if we a

[2017-06-19 16:04] Mpdreamz commented on #14612
Not sure if negotiation is even needed.

From [wikipedia](https://en.wikipedia.org/wiki/HTTP_pipelining):

[2017-06-19 16:06] danmosemsft commented on #21202
@davkean none of these throw anything (including UFE) on Desktop for me..?

Clearly this isa bug though as they throw IOORE on Core.
[code]

@karelz is this the right label for Uri? Please consider whether this is a 2.0 issue.

[2017-06-19 16:07] danmosemsft commented on #21166
@mzji root causing ExecutionEngineException is hard. Product support is the best place to go as they are very familiar with how to do this. Would you be able to open a ticket with them?

[2017-06-19 16:19] weshaggard commented on #21197
This nuget package should already be redirecting to System.Configuration on .NET 4.6.1+, see https://github.com/dotnet/corefx/pull/19224. However it doesn't look like that change made it into preview1 builds. @robertmclaws can you try using the our candidate for preview2 from our myget feed. https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Configuration.ConfigurationManager/4.4.0-pre

[2017-06-19 16:20] danmosemsft commented on #21166
Here's how to start a support incident
https://support.microsoft.com/en-us/assistedsupportproducts#gsproductselector

Type in “Microsoft .NET Framework”, and go through the process it outlines. You can let them know that if they need to escalate to the product team, they can give my name: Dan Moseley and I can help redirect internally.

[2017-06-19 16:21] karelz commented on #14612
Should it be a default then? Maybe with opt-out in case there are troubles with some servers? (not everyone plays by the rules and by wikipedia ;))

[2017-06-19 16:21] ericstj commented on #21116
@Jose-CF if you share the repro project or a diag log I can take a look and see what's going on.

[2017-06-19 16:36] mzji commented on #21166
@danmosemsft Thanks for your advise! Will do this now.

[2017-06-19 16:36] vancem commented on #21160
To document a bit more about our discussion on Friday,      This rationale includes

1.  It is good to be uniform at least for components that are likely to be used together in logging scenarios.    Having SQL Client and System.Data.Common having different logging mechanisms is not idea.
2.  If we want to change, we should do it now.   My understanding is that there is no dependency on the existin

[2017-06-19 16:41] mzji commented on #21166
@danmosemsft Since this issue happens with ASP.Net Core 2.0 Preview 1, should I choose ".Net Core 1.0" product and select "CoreCLR"? If I should choose "Microsoft .Net Framework" product, then which version should I use? 4.7, or ...?

[2017-06-19 16:52] danmosemsft commented on #21166
I think .NET Core and CoreCLR. It'll get routed correctly either way.

[2017-06-19 16:54] joshfree commented on #21154
@tijoytom it'll be cloning @joperezr 's /dotnet/corefx PR for the other 2 legs.  Could you sync up with @joperezr?

[2017-06-19 16:55] ericstj commented on #20356
/cc @terrajobst @weshaggard @AlexGhiondea

This might be more information than you want, but trying to give you a complete answer.

Profile-based PCLs didn't work in .NETCoreApp1.x seamlessly.  NuGet would not let you use them but you could *try* to use them by specifying [*imports*/*PackageTargetFallBack*](https://github.com/NuGet/Home/wiki/PackageTargetFallback-(new-design-for-Imports)).

If the

[2017-06-19 16:56] Mpdreamz commented on #14612
I guess so but I know better then to proclaim being an HTTP spec expert :)

[2017-06-19 17:00] danmosemsft commented on #21202
@Priya91 fyi

[2017-06-19 17:01] danmosemsft commented on #21202
My guess: these are not mainstream enough cases to churn Uri further for 2.0.

[2017-06-19 17:06] karelz commented on #21202
It's a good label. @Priya91 can you please help with this one?

[2017-06-19 17:07] CarolEidt commented on #2209
I disagree. While the implementation can sometimes be complex (e.g. some of the Widen/Narrow/Convert intrinsics), something like PopCount would be pretty straightforward (in fact, I used it as the basis for a RyuJIT tutorial: https://gist.github.com/CarolEidt/58c7d4290d649783c749). The hardest part, AFAICT is getting the API right, and getting it agreed upon. @cmckinsey can comment with more autho

[2017-06-19 17:08] danmosemsft commented on #21198
@VSadov this ID appears to indicate a Project N specific issue -- should the tests run for other configurations?

[2017-06-19 17:08] mzji commented on #21166
@danmosemsft Thanks.

[2017-06-19 17:08] Priya91 commented on #21202
@davkean These are invalid URIs?  Will look into this.

[2017-06-19 17:12] MattGal commented on #21127
Looks like we're still hitting https://github.com/dotnet/core-eng/issues/779.  Basically when the processor is trying to put stuff in the SQL DB, if it has trouble downloading the Result XML we ended up doing that.

@ChadNedzlek introduced some retry logic there but if it was a persistent issue with the storage account it could still reproduce since he has a very limited amount of time to process

[2017-06-19 17:14] stephentoub commented on #21160
This seems counter to what I thought we'd previously discussed.  In particular, DiagnosticSource only supports logging objects, and when we discussed the downsides of that from a performance perspective (e.g. allocations on each call), it was argued that these extra allocations were ok because DiagnosticSource usage would be very chunky, wouldn't be hot path, etc.  But now it sounds like you're sa

[2017-06-19 17:15] mzji commented on #21166
Looks like I should pay to get support...?

[2017-06-19 17:27] danmosemsft opened #21231 "User Environment variable tests should pass on uap/uapaot"
On the RS3 images, get/set of user environment variables should work and the tests should be enabled.

get/set of machine environment variables will be blocked by appcontainer and the tests shoudl be disabled for uap/uapaot.

[2017-06-19 17:31] AtsushiKan commented on #19044
@morganbr, @danmosemsft

Just as a reminder, the "Must fix by UWP 6.0" part of this can also be satisifed by fixing the toolchain so it knows to generate the the Equals/GetHashCode() methods for Hashbucket. (It's also supposed to be doing that based on the code pattern.) Let me know if you'd rather have a separate TFS bug for that as that bug fix should happen regardless of whether we fix the S.C.

[2017-06-19 17:33] AtsushiKan commented on #19044
I just realized I already had opened a TFS bug: 426550

[2017-06-19 17:44] joperezr commented on #21154
I'm happy to help with guidance offline @tijoytom so feel free to stop by.

[2017-06-19 17:51] manbearian commented on #20474
Hi, this is ian Bearman, Dev Lead on the .NET Native code generation team. Thanks to Anton and other folks for brining this thread to my attention.

The code that .NET Native is generation for System.Interlocked.MemoryBarrier on x86 is not correct. As @kouvel says above there should be an actually barrier instruction emitted for this operation. The code that @AntonLapounov reports for x86 CLR JIT

[2017-06-19 18:30] tijoytom commented on #21151
@danmosemsft CoreCLR changes are not syn'd to N/CoreRT , need to be manually ported.  Thanks @kouvel for doing it.

[2017-06-19 18:32] tijoytom commented on #21154
I might ask for @botaberg for help here . He knows way more about helix than i do.
cc @yizhang82

[2017-06-19 19:03] CIPop opened #21233 "Regression in System.Net.Primitives for UWP"
Running the UAP tests I'm getting the following for System.Net.Primitives:

[code]

[2017-06-19 19:03] CIPop commented on #20007
Reopening as it has been regressed by

[2017-06-19 19:04] CIPop commented on #21233
From the stack it is related to #19138.

[2017-06-19 19:05] CIPop commented on #21233
/cc @DavidGoll @davidsh

[2017-06-19 19:10] vancem commented on #21160
The advice between whether to use DiangosticSource or EventSource is indeed not very clear cut some cases (when the messages are high volume and/or EventListeners/ETW are your main scenario.    Indeed if you goal is to get messages from your instrumented code to ETW, using DiagnosticSource just ads overhead and complexity.     I tried to indicate this in my previous comment:

So I think most of th

[2017-06-19 19:18] tarekgh commented on #21122
Currently this should work fine for aot as it is not running inside app containers.

[2017-06-19 20:13] danmosemsft commented on #21151
@tijoytom fyi there is some sharing: corelib\src\mscorlib\shared syncs with corert\src\System.Private.CoreLib\shared automatically

[2017-06-19 20:27] Sphiecoh commented on #11046
Any update on this issue , hitting the same error with pfx that is password protected on Ubuntu 16.04.

[2017-06-19 20:32] bartonjs commented on #11046
@Sphiecoh If your PFX has a password that'd be a different problem, since this is specifically about a PFX with a `null` password (which is different than "the empty password").  Please open a new issue if you're having a different problem.

[2017-06-19 20:59] danmosemsft commented on #20388
Here's what we get on a vanilla Server 2012 R2 machine (not from the run) without desktop experience
[code]

So .txt is properly associated here - the behavior we're getting is as if it was .foo or some other unrecognized one.

For now, let's make the test not run on Server 2012 or by some means make it pass when this happens. We'l lstill get the coverage on other OS's.

[2017-06-19 21:00] alexperovich opened #21237 "clean.cmd should also stop dotnet and msbuild execution"
The current clean.cmd only stops execution of VBCSCompiler.exe. It should also stop execution of dotnet.exe and msbuild.exe to prevent problems with cleaning the output.

[2017-06-19 21:03] AtsushiKan commented on #21231
The user key tests aren't disabled - they probe to see if the appcontainer will let them into the regkey. So they should just start running (and passing) on their own.

The machine key tests have always expected to be hit with a SecurityException (due to elevation) so with luck, nothing changes there.

It'd be nice at some point to remove the probe so the tests no longer have an excuse to fail, bu

[2017-06-19 21:06] Sphiecoh commented on #11046
nvm I found my issue , password was cleared out of env.

[2017-06-19 21:20] divega commented on #6751
EF Core has been running on UWP since 1.0 but with some limitations and issues caused by differences in the .NET Native runtime. We track the specific issues at https://github.com/aspnet/entityframework/issues/.

EF Core 2.0 now targets .NET Standard 2.0 which means it won't work in UWP until the next version of UWP which come with support for .NET Standard 2.0 is released (you can find more detai

[2017-06-19 21:42] dcwuser commented on #20810
Sorry to be late replying; I was out of town. Yes, feel free to forward any regarding numerical or scientific computing issues. This one is a fine example, sorry I missed out on it.

________________________________
From: Dan Moseley <notifications@github.com>
Sent: Thursday, June 8, 2017 4:05 PM
To: dotnet/corefx
Cc: David Wright; Mention
Subject: Re: [dotnet/corefx] Question: double division con

[2017-06-19 21:54] dcwuser commented on #20714
Wouldn't be it better to do most of these in the JITer? It should be fairly simple for the JITer to recognize the IL produced by Math.Min, Max.Max, and 1.0 / x, and use the corresponding direct CPU instruction, on platforms that offer it, instead of executing the IL naively. This would have the advantage of not increasing the BCL API surface area, and of old code getting the faster behavior automa

[2017-06-19 21:56] dcwuser commented on #16841
No more feedback from me.

[2017-06-19 22:04] weshaggard commented on #21135
PR https://github.com/dotnet/corefx/pull/20508 has been merged. Please let me know if you see any issues.

[2017-06-19 22:07] danmosemsft commented on #21166
@mzji if you already have a contract (eg., if you are in a big corporation often there is a contract) then it may be covered. If not, and you want to pursue this, we can try looking directly although it might not be as effective. Is there a dump file you can share, that you are comfortable sharing (has no sensitive information in it)? If so, you can email "danmose" at Microsoft with  a link to som

[2017-06-19 22:11] AntonLapounov commented on #18058
@kouvel The `CreateFile2` P/Invoke call returns an invalid handle?  I could not repro this.

[2017-06-19 22:14] danmosemsft opened #21240 "Proposal: ref returns API for Dictionary"
@brandon942 commented on [Mon Jun 19 2017](https://github.com/dotnet/coreclr/issues/12361)

Dictionary value updates are not possible without unnecessary double lookups in the current Dictionary implementation.
This issue has been there forever and is particularly problematic for value-type/struct values which are extensively used in game dev. Value updates require the whole struct to be copied, c

[2017-06-19 22:18] danmosemsft commented on #21231
If we don't do this, the tests aren't giving much value since they can start failing and we wouldn't know. Perhaps we can introduce PlatformDetection.IsRS3 and use that.

Having said that I'm not sure there is any platform dependency here. They are adding the Env API to the WACK, and choosing to not constrain the behavior any more than AC already does. So they will work the same on RS2 -- in fact

[2017-06-19 22:20] danmosemsft commented on #19455
Error is
`System.Diagnostics.Tracing.EventSourceException : An error occurred when writing to a listener.\r\n---- Assert.Equal() Failure\r\nExpected: 0\r\nActual:   1`

@brianrob is this something you could look at ?

[2017-06-19 22:23] davkean commented on #21202
@danmosemsft Are you testing under 4.5+? Uri was changed in 4.5. I just verified and they all repro for me under desktop.

@Priya91 TBH, I've not done the legwork to figure out if they are invalid according to spec - they were generated for me by Pex. I don't need them for 2.0.

[2017-06-19 22:23] danmosemsft commented on #21212
Likely will be fixed by https://github.com/dotnet/corefx/issues/20474

[2017-06-19 22:25] danmosemsft commented on #21217
SortKeys_GetNull_ReturnsEmptyArray is doing `            FieldInfo field = control.GetType().GetField("_keys", BindingFlags.NonPublic | BindingFlags.Instance);` which will require rd.xml entry to work on ILC.

[2017-06-19 22:25] AtsushiKan commented on #21231
Just want to make sure: are you talking about EnvironmentVariableTargets.Process (which use the env api) or EnvironmentVariableTargets.User (which use the registry api.)?

The Process ones aren't disabled or skipped or conditionalized at all (except maybe in Viktor's open PR but I requested he revert that part.)

[2017-06-19 22:27] tannergooding commented on #20714
@dcwuser, there are a few issues here.

1. The behavior of the hardware instruction and the current implementation may not match up, so changing it could be considered 'breaking'.

2. The behavior between different architectures is not always consistent. ARM and x86 treat certain edge cases of `Min/Max` differently, so it boils down to one platform being more performant.

3. The result returned by

[2017-06-19 22:28] tannergooding commented on #16841
@mellinoe, any chance you could mark this as `API Ready For Review` (or tag the appropriate people)?

[2017-06-19 22:31] tannergooding commented on #20714
I do have a separate proposal/comment on another thread (https://github.com/dotnet/coreclr/issues/6906#issuecomment-307164495), where I suggest we just expose hardware intrinsic directly for general use.

Doing so would also solve all of these problems (without expanding API surface everywhere else) and would let users write/optimize their code how they need it (at the cost of users needing to exp

[2017-06-19 22:38] danmosemsft commented on #21202
@davkean ah, no I used csc out of the v4.0 folder...

[2017-06-19 22:40] davkean commented on #21202
Yeah, you'll go down the 4.0 path.

[2017-06-19 22:58] danmosemsft commented on #21231
.Process. I don't know of any plans to have .User work in an app.

OK then great -- maybe I should have just checked that instead of opening this :)

[2017-06-19 23:05] AtsushiKan commented on #21231
We should remove the probing for .User now then (and just replace the test with "if (!PlatformDetection.WinRT)". Actually, judging from the F5 helix runs, the probing that's ther isn't getting the job done anyway...

[2017-06-19 23:23] danmosemsft commented on #21217
Dont' know about Ctor_SortKeys

[2017-06-19 23:23] vancem opened #21248 "Provide StringBuilder.ForeachChunk for efficient access to characters in a StringBuilder"
Today, StringBuilder has problem in that the only way to read the characters out of the StringBuilder is to do it a character at a time  [] or call the ToString APIs to convert it to a string (and then index it).   Both of these are slow.

Typically what people actually do is call ToString, which forces the creation of a large string.   Often the very next thing that happens is that the String is

[2017-06-19 23:35] tarekgh commented on #21213
@danmosemsft shouldn't this be assigned to @ianhays? this is a collections issue.

[2017-06-19 23:38] danmosemsft commented on #21213
He's occupied with an MSRC apparently. It can go to someone else though.

[2017-06-19 23:39] tarekgh commented on #21213
I'll not get into this soon anyway. if it can wait then I am fine to keep it assigned to me.

[2017-06-19 23:45] stephentoub commented on #21248
This looks like a reasonable thing to add.  Note that I'll be opening one or more issues in the coming days with a list of APIs based on Span/Buffer I believe we should be adding, and I can put these on the list; others on StringBuilder include overloads for methods like Append/Insert for working with spans.

If we add such a ForEachChunk method, we should definitely include the generic context ar

[2017-06-19 23:46] omariom commented on #21248
Or StringBuilder can return the mathematical opposite of callbacks - a enumerator :)

[2017-06-19 23:52] weshaggard commented on #21135
There have been numerous successful PR's so I'm going to close this. Please feel to ask more questions or provide feedback if you like.

[2017-06-19 23:52] #21135 closed

[2017-06-19 23:54] dcwuser commented on #20714
Your explanation makes sense. In your last comment, it looks like you are draing a distinction between (A) exposing intrinsics via various methods in various methods in existing static classes throughout the framework and (B) exposing intrinsics in some way that segregates them more clearly. In that case, I vote for (B). That clearly messages to users that, if they want platform-independence, they

[2017-06-19 23:56] stephentoub commented on #21226
cc: @mellinoe

[2017-06-20 00:12] karelz commented on #21160
You might want to do bar check for 2.0. We are way deep in Escrow.

[2017-06-20 00:14] davidsh commented on #21233
There should not have been an Debug.Assert for this.  This code was changed to add the "public" modifier to the "InternalSetName" method when compiling for UAP.  Then the reflection solution can be used even on ILC which normally prevents reflection.

This assert should be removed. Instead, there should be a future TODO to figure out how to publicly expose the needed method.

[2017-06-20 00:15] davidsh commented on #21227
cc: @stephentoub

[2017-06-20 00:32] javiercn opened #21250 "[Cookie] CookieContainer has issues with cookies set to a different path than the current request uri path"
When a server sends back a cookie with a path different than the current request uri, CookieContainer throws an exception indicating that the path portion of the cookie is invalid. For example:

* HttpClient send a request to `/Home/About`
* The server answers with a redirect response to `/tfp/Identity/signinsignup/...` and sets a cookie to `/signin-oidc`
* Internally, CookieContainer throws or si

[2017-06-20 00:32] javiercn commented on #21250
@Eilon

[2017-06-20 00:55] davidsh commented on #21250
Current .NET Framework and .NET Core System.Net.Cookie does not handle RFC6265 yet.

related to: https://github.com/dotnet/corefx/issues/18013

[2017-06-20 01:06] JeremyKuhne commented on #21025
Should be `CreateFile2`, not `CreateFileFromApp`

[2017-06-20 01:07] divega commented on #21160
@vancem @stephentoub @saurabh500 I looked at the code in more detail and apparently I was completely wrong with my estimates. It seems that the number of actually calls to members of `DataCommonEventSource` in `System.Data.Common` is closer to 300 . Sorry for the misleading information I provided previously.

I think it might be too late to change this, unless we find a way to just change the impl

[2017-06-20 01:28] Jose-CF commented on #21116
@ericstj It is not happening in one repo. It is reproducible. To reproduce:
* Create a simple library project with target .NET Standard 1.3. Let's call it A
* Reference nuget package System.IO.FileSystem 4.3.0 in project A
* Create in a different solution a project B with target framework .NET 4.6.2
* Reference nuget package System.IO.FileSystem 4.3.0 in project B.

You have broken dependencies be

[2017-06-20 01:32] v-haren commented on #20223
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_release/82/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_StaticConnectAsync_HostNotFound/

[2017-06-20 01:37] mzji commented on #21166
@danmosemsft Ok, I will try to get a full process dump.

[2017-06-20 01:37] gperrego commented on #9996
@Tratcher Thanks for all of your work so far!  One question on your set up.  Is this step really required?

"back-end web site with the **same authentication configuration.**"

I hadn't seen that as a required step when looking at how to set up impersonation.  That was always done on the Front End Web Server but I hadn't seen that as a requirements on the Site/App that hosts the Service that gets

[2017-06-20 01:44] stephentoub commented on #21248
Vance, how do you see this behaving if the callback mutates the StringBuilder in ways that change/invalidate the chunks?

[2017-06-20 01:54] hughbe opened #21252 "TargetsWindows msbuild property is false for netfx configuration"
For the `netfx` configuration, `'$(TargetsWindows) == 'false'`
However, we can use the `netfx-Windows_NT` configuration instead, and `'$(TargetsWindows) == 'true'`

Is this expected?

Example configuration.props
[code]

Example csproj
[code]

Example Tests.cs

[code]

[2017-06-20 01:57] hughbe opened #21253 "`msbuild /T:BuildAndTest /P:TargetGroup=uap` prints to the console many times with "Cannot create a file when that file already exists.""
@joperezr suggested I make an issue.

Example log:

<details>
<summary>Click Here</summary>

[code]
</details

[2017-06-20 02:52] davidsh commented on #21057
Fixed with #21171

[2017-06-20 02:52] #21057 closed

[2017-06-20 02:54] davidsh commented on #21158
cc: @CIPop

[2017-06-20 03:03] Jiayili1 commented on #18049
This test: System.Tests.Environment_Exit/CheckExitCode(expectedExitCode: 42) failed with "System.NullReferenceException : Object reference not set to an instance of an object."

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170620.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.Environment_Ex

[2017-06-20 03:23] Tratcher commented on #9996
@gperrego I didn't spend a lot of time tinkering with the auth settings on the back-end site, I mirrored them for simplicity. It's likely they are not as strict as those on the middle tier, but you still need Windows auth enabled and Anonymous disabled.

I didn't have to set any special SPNs because I was always using the machine FQDN, which is registered as an SPN by default. You need additional

[2017-06-20 03:41] danmosemsft commented on #21252
@weshaggard

[2017-06-20 03:42] ahsonkhan commented on #21248
Regarding:
[code]
Span cannot be used as a type argument since it is a stack only type and cannot be boxed.

cc @VSadov

![image](https://user-images.githubusercontent.com/6527137/27315679-be81c316-552f-11e7-820e-2cf233a4aeba.png)

[2017-06-20 03:47] karelz commented on #21076
Reopening to track port to rel/2.0.0

[2017-06-20 04:00] rizamarhaban commented on #11042
Hi,

I'm getting the same issue while deploying IdentityServer 4 to Azure VM (Windows Server 2012 R2).

	crit: IdentityServer4.Hosting.IdentityServerMiddleware[0]
		  Unhandled exception: Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException: The system cannot find the file specified
			 at System.Security.Cryptography.CngKey.Open(String keyName, CngProvider provider, CngKeyOpenOpt

[2017-06-20 04:31] rizamarhaban commented on #11042
I found the solution here:

http://www.daves-blog.net/post/2014/06/16/X509Certificate-The-System-cannot-find-the-file-specified.aspx

Apparently, I need to enable the **Load User Profile** on the **Application Pool**. However, the error now changes to this:

	crit: IdentityServer4.Hosting.IdentityServerMiddleware[0]
      Unhandled exception: Internal.Cryptography.CryptoThrowHelper+WindowsCryptogr

[2017-06-20 05:50] davidfowl commented on #21248
I'm not a fan of callback methods like this for a couple of reasons:
- You need the state callback which doesn't work well for locals (you still need to allocate)
- You might need an async version in case the thing you're trying to do in the callback is async.

Is there any way we can revisit the `ISpanEnumerable<T>` pattern that @jaredpar suggested way back when.

[2017-06-20 06:41] kouvel commented on #21151
Closing as dupe of https://github.com/dotnet/coreclr/issues/11306

[2017-06-20 06:41] #21151 closed

[2017-06-20 07:04] dotnet-mc-bot opened #21258 "System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests fail on ILC with NullReferenceException"
Opened on behalf of @Jiayili1

The test `System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/RoundtripManyObjectsInOneStream` has failed.

System.Runtime.Serialization.SerializationException : Unable to find assembly 'WindowsBase, Version=3.0.0.0, Culture=Neutral, PublicKeyToken=31bf3856ad364e35'.

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0xccdaae

[2017-06-20 07:04] safern commented on #21151
Note that the affected tests where disabled with `[ActiveIssue]` pointing to this issue.

[2017-06-20 07:06] kouvel commented on #21151
Yes I have added a link to those to the other issue as well

[2017-06-20 07:07] Jiayili1 commented on #21258
Another failed test: System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/ValidateBasicObjectsRoundtrip, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170620.01/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FVal

[2017-06-20 07:09] dotnet-mc-bot opened #21259 "Test: System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/ValidateAgainstBlobs failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/ValidateAgainstBlobs(obj: GenericEqualityComparer`1 { }, blobs: [\"AAEAAAD/////AQAAAAAAAAAEAQAAAC9TeXN0ZW0uQ29sbGVjdG\"..., \...` has failed.

Error during equality check of type System.Collections.Generic.GenericEqualityComparer`1[[System.Byte, System.Private.CoreLib, Version=4.0.0.0, Cultu

[2017-06-20 07:26] Jose-CF commented on #15570
+1, happening over here also, crappy

[2017-06-20 07:42] dotnet-mc-bot opened #21260 "Test failure: System.Linq.Tests.SelectTests/SelectProperty"
Opened on behalf of @Jiayili1

The test `System.Linq.Tests.SelectTests/SelectProperty` has failed.

$BlockedFromReflection_0_927fe506 : MakeGenericMethod() cannot create this generic method instantiation because the instantiation was not metadata-enabled: 'System.Linq.Enumerable.Select<<>f__AnonymousType2<System.String,System.Int32>,System.String>(System.Collections.Generic.IEnumerable<<>f__Anonym

[2017-06-20 07:45] #19418 closed

[2017-06-20 07:45] dotnet-mc-bot opened #21261 "Test: System.Numerics.Tests.GenericVectorTests/SquareRootSingle failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Numerics.Tests.GenericVectorTests/SquareRootSingle` has failed.

Assert.Equal() Failure\r
    Expected: 43194.29\r
    Actual:   43194.3

        Stack Trace:

           at System.Numerics.Tests.GenericVectorTests.<>c__DisplayClass533_0<System.Single>.<TestSquareRoot>b__0(Int32 index, Single val)
       at System.Numerics.Tests.GenericVectorTests.Va

[2017-06-20 08:54] Jiayili1 commented on #19634
This issue is repro, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170620.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test~2FGetAsync_SupportedSSLVersion_Succeeds(sslProtocols:%20Tls,%20url:%20%5C%22https:~2F~2Fwww.ssllabs.com:1030

[2017-06-20 12:37] svick commented on #21248
I would also prefer enumerable, because:

* The API is easier to understand and use. (An enumerable type instead of a callback, a context and a custom delegate type.)
* Using it does not have to involve any virtual calls and involves less allocations than `ForEachChunk`.

How come enumerable allocates less, considering that the  proposed implementation of `ForEachChunk` uses stack-based recursion

[2017-06-20 12:53] stephentoub commented on #21248
StringBuilder currently isn't safe to be used concurrently... why would this operation need to be?

[2017-06-20 13:26] svick commented on #21248
@stephentoub Yeah, I didn't mean making `StringBuilder` thread-safe. But with that option, even *reading* the `StringBuilder` from the same thread while iterating the chunks would not be safe.

For example, consider code like this (using enumerable for cleaner code, but `ForEachChunk` would have the same issue):

[code]

This code would have to be disallowed, because it's reading the `StringBuilde

[2017-06-20 13:41] stephentoub commented on #21248
Yes, this is actually why I personally prefer the callback in this situation; it makes the scoping very clear, and, at least in my eyes (though little technically different about it), discourages accessing the StringBuilder directly.

Regardless, in any of these approaches, whether callback or enumerables, unless a copy of the data is made (which defeats the purpose of the method), StringBuilder w

[2017-06-20 13:42] davidfowl commented on #21248
We *do* have prior art in this space https://msdn.microsoft.com/en-us/library/bwabdf9z(v=vs.110).aspx but this pattern isn't pervasive in the BCL. This method doesn't take a state parameter so it's pretty much impossible to use without allocating.

The benefit of a push model like this is that we can do 0 allocations (using the string builder's memory directly without allocating the string). If we

[2017-06-20 13:44] davidfowl commented on #21248
More generally, maybe `StringBuilder` should be a `TextWriter` and there should have been a `CopyTo` and `CopyToAsync` on `TextWriter` that took a `TextReader` similar to `Stream.CopyToAsync`.

[2017-06-20 14:20] stephentoub commented on #21248
Can you share examples from ASP.NET where these would be used?

[2017-06-20 14:24] stephentoub commented on #21248
I'm not following. Did you mean CopyTo{Async} on TextReader that took a TextWriter? And that StringBuilder should have been a TextReader(which would be counterintuitive)?

[2017-06-20 14:30] aka-STInG commented on #18452
Also looking forward to get fix on nuget

[2017-06-20 14:47] AtsushiKan opened #21267 "Command Line tokenization is done all over the place and inconsistently. They should be reconciled."
We have at least four separate implementations of command line tokenization/pasting:

CoreCLR  - Windows - **Environment.GetCommandLineArgs()** and create a String[] array to pass to Main()
https://github.com/dotnet/coreclr/blob/master/src/utilcode/util.cpp#L2886

CoreRT - Windows - **Environment.GetCommandLineArgs()** and create a String[] array to pass to Main()
https://github.com/dotnet/corert/

[2017-06-20 14:54] stephentoub commented on #21160
For the “simple fix,” the number of call sites doesn’t really matter: the whole change could be done in the DataCommonEventSource type to keep the change localized and minimal, e.g.
https://github.com/stephentoub/corefx/commit/22bdd08aaa6e0c44a510fa4b8d8fbd6631278b8d
This isn't ideal, but it would at least move from using EventSource to DiagnosticSource.

I'm still not convinced that's something w

[2017-06-20 14:56] joperezr commented on #21253
cc @danmosemsft since he was working on trying to fix this in buildtools with PR: https://github.com/dotnet/buildtools/pull/1575

[2017-06-20 15:13] joperezr commented on #21210
I'll take a look at this today.

[2017-06-20 15:49] vancem commented on #21248
I suspected that this API would solicit lively feedback and that certainly seems to be the case.   Lets write down some principles that hopefully will help in deciding more details of the design.

1.  StringBuilder is not thread-safe (this is true today).    Thus we don't care if it values are not well defined on concurrent access, however we would strongly prefer that even in the presence of conc

[2017-06-20 16:03] svick commented on #21240
This is effectively a duplicate of https://github.com/dotnet/corefx/issues/20684.

[2017-06-20 16:17] weshaggard commented on #21252
That is expected. See https://github.com/dotnet/corefx/blob/master/tools-local/osgroups.props#L6 whenever you are building a configuration where the selected project configuration is Windows_NT then TargetsWindows will be set to true. If there is no OS specified in the configuration for the project then the OS will be AnyOS and thus TargetsWindows/TargetsUnix would not be set.

[2017-06-20 16:18] davidfowl commented on #21248
I don't know of anywhere we use a `StringBuilder` today in this way. In fact we wrote our own string struct based StringBuilder ( https://github.com/aspnet/Common/blob/530513107e37ab25d8a6182ce2cceb3ade369533/src/Microsoft.Extensions.Primitives/InplaceStringBuilder.cs).

StringBuilder should be a *TextWriter* and there should be an AsTextReader() method to get at the internal buffers without reall

[2017-06-20 16:19] deppe commented on #10713
I'm running into a very similar issue where DateTime.parse is throwing
`System.TypeInitializationException: The type initializer for 'System.Runtime.Versioning.BinaryCompatibility' threw an exception. ---> System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime.InteropServices, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the f

[2017-06-20 16:37] stephentoub commented on #21248
Sure.  I was just asking about your specific comment on how things should have been.  From an abstraction perspective, I don't see how the base TextWriter implementation could provide a meaningful CopyTo{Async} or AsTextReader implementation.  I'm thinking about it in terms of what we could add now rather than what could have been defined 15 years ago.

In any event, I think we are talking about a

[2017-06-20 16:38] tijoytom commented on #10713
@deppe Your  exception is about "System.Runtime.InteropServices" , this thread talks about "System.Runtime.InteropServices.PInvoke"

[2017-06-20 16:38] vancem commented on #21248
I agree that there is a larger discussion about what text writing abstraction we should be using, and I agree that TextWriter is the abstraction that people would prefer to use, not StrinBuilder.Append.

We should be thinking in these bigger terms (in terms of new services using ASP.NET 5).

That being said, I do think there is room for making 'easy' tactical improvements to StringBuilder for thos

[2017-06-20 16:42] deppe commented on #10713
Ah, should i open a new issue for this?

[2017-06-20 16:48] tijoytom commented on #10713
@deppe I dont think it's an issue with the framework , you need to check the version of System.Runtime.InteropServices your app is referencing...

[2017-06-20 16:50] tijoytom commented on #21154
@botaberg Can you please take a look at this one , @joperezr can help

[2017-06-20 16:53] botaberg commented on #21154
Hi @tijoytom @joperezr what PR needs to be cloned?

[2017-06-20 16:54] omariom commented on #21248
There could be low level, very fast, with no dynamic dispatch api
and a more traditional one - with objects, abstractions etc.

[2017-06-20 17:06] mellinoe opened #21270 "Add back some private constructors in System.Drawing.Common"
https://github.com/dotnet/corefx/commit/f6bb2b5bb5f8841e839fb99eb60118b7b37c4901 removed a few private constructors, because they are not interesting for .NET Core. We should add them back behind a flag, because mono needs them to stick around when they compile this code.

@hughbe

[2017-06-20 17:11] karelz commented on #20846
API review: Approved as described above.
Marking as up-for-grabs, should be fairly straightforward to do. Any takers?

This is tip of the iceberg. We have larger inconsistencies in string APIs. It would be great if someone wants to do a sweep and list all things we should add for consistency - should be tracked in issue #649. Anyone interested?

[2017-06-20 17:14] karelz commented on #17412
Given that nobody asks for the API currently, let's close it.
It is better to design APIs with consumer at hand. We do not have it now.
If someone needs the API and has a reasonable use case, please ping the issue and we can reopen it.

[2017-06-20 17:14] #17412 closed

[2017-06-20 17:16] karelz commented on #20345
API review: Approved.
I guess this is straightforward to do, given the functionality exists. Marking as up-for-grabs.

[2017-06-20 17:20] justinvp commented on #21270
Why not add the private constructors back to corefx without a flag? Having them private in the implementation is good, IMO, as it makes it clear in the implementation that these types should not have a public default ctor and cannot be created that way.

[2017-06-20 17:24] karelz commented on #19789
API review:
@AtsushiKan will we ever need API which tells where the TypeForwarder goes to? The above won't tell you that in case there are 2 or more hops: type forwarders: A -> B -> C.
The underlying question: Is this the API users actually want?

(conditionally approved: if the answer above is yes, most customers want this API)

[2017-06-20 17:25] karelz commented on #20845
API review: Approved

[2017-06-20 17:30] mikem8361 commented on #21079
What version of the .NET Core Windows runtime were you using? Did you generate portable PDBs or Windows PDBs for your test app?  If you are using Windows PDBs, make sure that microsoft.diasymreader.native.amd64.dll is in your shared framework binaries ("\Program Files\dotnet\shared\Microsoft.NETCore.App\<version>\").  If your app is built with Portable PDBs, there was a bug in System.Diagnostics.S

[2017-06-20 17:30] karelz commented on #20583
API Review:
Do we want the API on WebSocket or ManagedWebSocket?

If @stephentoub agrees, it is approved.

[2017-06-20 17:32] karelz commented on #21248
API review: This should come together with larger Span-ification of BCL (@stephentoub drives that).
It does not make sense to approve the APIs one by one. We would likely end up also with inconsistency.

[2017-06-20 17:36] karelz commented on #219
Next steps: We need survey of common delegates to decide which are worth adding and which are not ([1] in top post called out by @nguerrera).
It aligns well with our direction for BCL.

[2017-06-20 17:36] AtsushiKan commented on #19789
@karelz - I think that's a different use case (i.e. metadata analysis rather than just wanting to get the advertised type loaded.) For the latter case, type-forwarding is an implementation detail and the caller likely doesn't want to be bothered with it. It's like the CustomAttribute vs. CustomAttributeData divide. They're both useful but in different situations.

@slozier: feel free to chime in.

[2017-06-20 17:38] stephentoub commented on #20583
I don't understand the question... ManagedWebSocket is an internal type, an implementation detail.

[2017-06-20 17:40] mellinoe commented on #21270
Fair enough -- let's add them back unconditionally.

[2017-06-20 17:41] MattGal opened #21271 "Build definition work to disable external publish via PipeBuild definition"
Related: https://github.com/dotnet/core-eng/issues/626

This was informed by the MSRC work, where being able to selectively disable publish steps for all builds in the composed product was necessary.

I did some work to allow disabling any given Pipebuild leg with the -d arg (e.g. “-d "Regex:^Publish.*"”) but @dagood points out that there’s more to be done there since some repositories do things t

[2017-06-20 17:43] CIPop commented on #21158
@caesar1995 I think the general idea is that the code should work identically in both compiled and not compiled versions. Since we're using the not-compiled version for debugging, these kinds of differences will be extremely hard to understand and fix for app-developers.

@yizhang82 PTAL

[2017-06-20 17:45] deppe commented on #10713
@tijoytom What is the best way of figuring that out? The csproj in my project references System.Runtime.InteropServices 4.3.0 which is the most recent version. All references in the .deps.json file are also 4.3.0.  I do, however, see some packages that include 4.1.0 in the project.assets.json file, but I'm not sure if that is relevant/significant.

[2017-06-20 17:47] karelz commented on #494
We do not see huge value in doing this.
Closing as there hasn't been interested recently. If anyone wants to pick it up, provide API proposal, we will be happy to reopen.

[2017-06-20 17:47] #494 closed

[2017-06-20 17:48] ericstj commented on #21116
Mono,  .NETCore, and .NETNative all have more lenient binder policy that doesn't require redirects.  Desktop is the only thing that is this strict about version matches.  I'd love it if the desktop binder could be changed to automatically roll-forward (or even do so based on a flag) but that's been a non-starter in the past due to compat.

I agree that bindingRedirects make portability a more frag

[2017-06-20 17:52] karelz commented on #684
API review: We don't quite see the value yet. There is little interest lately, closing.
We'll be happy to reopen if someone has solid proposal.

[2017-06-20 17:52] #684 closed

[2017-06-20 17:52] mellinoe commented on #21225
Moved over to https://github.com/Microsoft/dumpling/issues/30.

FWIW, it looks like the crash dumps are still being uploaded successfully.

[2017-06-20 17:52] #21225 closed

[2017-06-20 17:55] mellinoe commented on #16841
@tannergooding Done; we can try to get this into the next design meeting.

[2017-06-20 17:58] karelz commented on #1625
@ghuntley is FreeBSD port ready for this? If yes, can you please submit formal API proposal with the added static field?

[2017-06-20 18:00] vancem commented on #21248
I am OK with considering both together.   However please note that typically the 'spanification' of the BCL is just providing Span overloads for things that used to take arrays.   This is different in the sense that we the use of Span was incidental, our goal was to expose the chunks of data inside the StringBuilder and Span just happened to be a way of doing that.

[2017-06-20 18:01] karelz commented on #2252
Included in #20902, closing.

[2017-06-20 18:01] #2252 closed

[2017-06-20 18:06] mellinoe commented on #21226
@PawelGerr Thanks for the bug report. It does look like we are neglecting to convert the value from `/sys/class/net/xyz/speed` into the correct units to match Windows. My understanding is that the value should be in bits per second, not bytes per second, but the Linux value is actually in megabits per second, not megabytes, so the conversion factor should be the same (1,000,000).

[2017-06-20 18:09] karelz commented on #20583
That is a detail we overlooked :) ... if there is only 1 public type, then this is approved.

[2017-06-20 18:10] karelz commented on #20583
@stephentoub can you please comment if it is suitable for up-for-grabs? (with rough complexity)

[2017-06-20 18:14] slozier commented on #19789
Yes, I believe this API is exactly what we need to get things working for us. The end goal is to be able to enumerate over all types in an assembly (forwarded or not) and this would give us exactly what we're missing (the forwarded types).

[2017-06-20 18:17] sharpcoder28 commented on #7439
What are these better architectures and patterns you spreak of?

[2017-06-20 18:19] mellinoe commented on #21226
I just double-checked: the information we use on OSX is already in bits per second, so this bug should only affect Linux.

[2017-06-20 18:20] karelz commented on #19789
OK, API review: Approved.

[2017-06-20 18:21] karelz commented on #19789
@AtsushiKan please mark it up-for-grabs if suitable. With hints of next steps and cost estimation (see details in [Triage info](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified)).

[2017-06-20 18:23] caesar1995 commented on #21158
Should I change the label? All of the tests failed with the same reason (array initialized with size 0), they only failed in ILC run. I don't think it's Socket related problem

[2017-06-20 18:29] PawelGerr commented on #21226
@mellinoe you are right, it is **bits** not **bytes**

[2017-06-20 18:39] davidsh commented on #21158
This might be related to #21243

[2017-06-20 18:39] caesar1995 commented on #21018
This test will only fail in UAP mode (succeed in ILC run).
I think it's probably related to app container. But even after I enabled loopback interface for the app, the test still hang.
I will continue investigation by using debugger.

cc: @davidsh

[2017-06-20 18:51] caesar1995 commented on #21158
Another note: if I directly do
`int[] a = new int[0];`
This will work in ILC mode. The situation is similar to the one I described here (From "But if I do"): #21062

[2017-06-20 18:51] akoeplinger opened #21273 "[NetFx/Mono compat] File.Delete throws IOException on non-existing file on a read-only file system on Linux"
Repro steps:

[code]

[code]

The same code works with Mono, i.e. throws no exception on the non-existent file as specified by MSDN: https://msdn.microsoft.com/en-us/library/system.io.file.delete(v=vs.110).aspx:

---

Importantly, it also works with .NET Core/.NET Framework on Windows when you create a new partition and use `diskpart` to set it to read-only via `ATTRIBUTES VOLUME SET READONLY`.

.

[2017-06-20 19:22] jnm2 commented on #684
Isn't `Convert` technically a legacy VB-compatibility class which was supposed to be replaced by `TypeConverter` even though no easy `TypeConverter.Convert` API was ever provided?
The `Convert` class is no good for nullable types.

[2017-06-20 19:25] CIPop opened #21274 "System.Diagnostics.Tests.ProcessStartInfoTests.StartInfo_TextFile_ShellExecute [FAIL]"
Found in https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug_prtest/122/consoleFull#-4760281082d31e50d-1517-49fc-92b3-2ca637122019
Ran part of #21239.

[code]

[2017-06-20 20:03] jnm2 commented on #219
Why not properties instead of methods? Properties give the sense the the value is cached and is the same every time you access it. Methods give the sense that they are doing more significant work on each call, such as allocating the delegates.

[2017-06-20 20:23] nguerrera commented on #219
Properties can't be generic.

We'd have to factor into separate generic types and that would hurt discoverability IMHO.

[2017-06-20 20:26] weshaggard commented on #21237
I'm not sure we should have it kill dotnet or msbuild as that might kill any other instances of those on the machine. I know I'm often building different repo's at the same time so I wouldn't want it to blindly kill msbuild.

[2017-06-20 20:37] jnm2 commented on #219
Thanks, not sure how I missed that. I agree.

[2017-06-20 21:16] kouvel opened #21275 "RemoteExecutorTestBase on UAP waits for the remote process"
It looks like the UAP implementation of RemoteInvoke waits for the remote process to finish before continuing, blocking the main process. Some tests are timing out due to this, and others that are expecting concurrent processing are being run sequentially.

Disabled tests:
- https://github.com/dotnet/corefx/blob/master/src/System.Threading/tests/EventWaitHandleTests.cs#L179
- https://github.com/do

[2017-06-20 21:26] kouvel opened #21276 "RemoteInvoke + Both reading/writing to a file does not seem to work"
The test is using FileCleanupTestBase.GetTestFilePath(), but it's getting the following exception from the remote process:

[code]

Disabled tests:
- https://github.com/dotnet/corefx/blob/master/src/System.Threading/tests/MutexTests.cs#L176

[2017-06-20 21:52] alexperovich commented on #21237
This is causing problems during the official builds where clean.cmd fails to delete the bin directory. We either need to kill those processes like we do VBCSCompiler.exe, or make clean.cmd not care if it can't delete something.

[2017-06-20 21:52] AndriySvyryd opened #21279 "Can't set SqlParameter.DbType to Date"
Executing `parameter.DbType = DbType.Date;` sets `SqlParameter.DbType` to `DbType.DateTime`

This results in an exception:

[code]
when executing the following code
[code]
Targeting `netcoreapp2.0`
Referencing `System.Data.SqlClient 4.4.0-preview2-25405-01`

[2017-06-20 22:18] AtsushiKan commented on #19789
Needs implementation on CoreCLR and Project N first (opened separate issues for those). The CoreCLR one may be grabbable for those with necesssary prereqs and moderate ambition.

Then it can be marked up-for-grabs (just adding the new api to the contract assemblies and writing some simple tests.)

[2017-06-20 22:19] weshaggard commented on #21237
For official builds @MattGal already started killing those processes but want we really need is a better process clean-up mechanism. I talked with @MattGal about adding a poison env variable at the beginning official build and then at the end kill any process that has the variable defined in it. That should help keep processes cleaned in our official builds.

[2017-06-20 22:21] stephentoub opened #21281 "Add initial Span/Buffer-based APIs across corefx"
With the advent of `Span<T>` and `Buffer<T>`, there are a multitude of improvements we’ll want to make to types across coreclr/corefx.  Some of these changes include exposing `Span<T>`/`Buffer<T>`/`ReadOnlySpan<T>`/`ReadOnlyBuffer<T>` themselves and the associated operations on them.  Other changes involve using those types internally to improve memory usage of existing code.  This issue isn’t abo

[2017-06-20 22:22] stephentoub commented on #13892
Replaced by https://github.com/dotnet/corefx/issues/21281

[2017-06-20 22:22] #13892 closed

[2017-06-20 22:24] stephentoub commented on #21053
I've included the `Span<byte>` ctor in #21281

[2017-06-20 22:25] Diego-Perez-Botero commented on #21274
This hit again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug_prtest/125/

Ran part of #21138

[2017-06-20 22:28] stephentoub commented on #21248
I mention `StringBuilder` in https://github.com/dotnet/corefx/issues/21281 and the few core methods I think we should add to it, but I agree with Vance that this one is unique enough that it's worth discussing as a separate entity.

[2017-06-20 22:38] stephentoub commented on #20583
It's fine to be up-for-grabs, and it's medium complexity.  The base virtual method is pretty simple to implement, as at its core it's just a loop that'll do ReceiveAsyncs and then invoke the callback, similar to what someone would do today if they were implementing this as an extension method.  The more complicated part is the efficient overrides in our various implementations.

One thing we may w

[2017-06-20 22:43] saurabh500 commented on #21279
@AndriySvyryd Why is this a bug? The value in `parameter.Value = new DateTime(1605, 1, 15);` is out of bounds as explained in the error message.

[2017-06-20 22:49] saurabh500 commented on #21279
I get the context after reading the EF issue. The implicit conversion from DbType.Date to DbType.DateTime is the problem leading to this issue.

[2017-06-20 22:51] CIPop opened #21282 "WindowsIdentity.IsAuthenticated is false when running in an AppContainer"
Tracking special-casing UWP in NegotiateStream_StreamToStream_Authentication_Success and NegotiateStream_StreamToStream_Authentication_TargetName_Success.
Since UAPAOT tests are not running in an AppContainer testing it will not exhibit the same problems. Fixing this is tracked by #18760.

I've narrowed the behavior difference to WindowsIdentity.IsAuthenticated when running in UAP mode, within an

[2017-06-20 22:58] stephentoub commented on #14323
This is likely worth doing in some fashion, but there are some known perf issues getting in the way currently (e.g. zero-initialization costs of the stackalloc'd memory).  Here's a simple example of what this could look like, using stackalloc for sufficiently small strings:
https://github.com/stephentoub/coreclr/commit/500978f61c236d840f68281ef290c389dd3f0d27

[2017-06-20 23:04] AndriySvyryd commented on #21279
I see that this wasn't fixed for back compat https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlParameter.cs#L249
But it's unfortunate that it was carried over to Core

[2017-06-20 23:08] saurabh500 commented on #21279
In principle `the back compat bugs` will have to stay in .Net Core because we need to have the behavior compat as close as possible to .Net Framework.

[2017-06-20 23:20] CIPop commented on #14560
Duplicate of #20033.
After #21283 most of the functionality is ready. One behavior difference was observed within the single-machine tests (multi-machine tests need to be ran as well): #21282

[2017-06-20 23:20] #14560 closed

[2017-06-20 23:23] CIPop opened #21285 "Manually run multi-machine Enterprise test scenarios"
- [ ] Several System.Net.Security can only be tested within a multi-machine environment.
- [x] Manually re-enable and run tests disabled by the CI intermittent issue tracked by #16534

[2017-06-20 23:30] CIPop commented on #21008
@davidsh I didn't see this on when running all tests after my changes in #21283,.
If this happens again after these changes please capture a full-memory dump using procdump during the deadlock and reopen this issue.

Sounds related to #18760 - the UAP run is the only one running in an AppContext.

[2017-06-20 23:30] #21008 closed

[2017-06-20 23:34] justinvp commented on #21281
Not sure if it should be considered as part of this effort or tracked separately, but it'd be nice if there was a non-allocating way to get an `Encoding`'s preamble. Right now, the only way to get it is by calling `Encoding.GetPreamble` which returns a `byte[]` array.

I suggest two new methods that match the naming/style of other methods on `Encoding`:

[code]

 - The first method can be used to

[2017-06-20 23:40] jkotas commented on #21281
[code]

You can have just one non-allocating `ReadOnlySpan<byte> GetPreamble()` method instead.

[2017-06-20 23:43] justinvp commented on #21281
Nice. But what would we call it? We can't overload on return type. `GetPreambleSpan`?

[2017-06-20 23:49] karelz commented on #21141
Reopening to track port to rel/2.0.0

[2017-06-20 23:52] krwq commented on #21141
@karelz this is already in 2.0.0: https://github.com/dotnet/corefx/commit/71f12632c21194d238bcde54508871a4ee67156b

[2017-06-20 23:57] shmao opened #21288 "DCS Serialize ICollection Class Differently on Desktop and NetCore"
The behavior difference is caused by the code difference in `CollectionDataContract.GetCollectionMethods`.

On Desktop:

[code]

On NetCore:

[code]

The implementation on Desktop is wrong. It would never find the IEnumerable`1 interface.

[2017-06-21 00:06] karelz commented on #21141
@krwq was there a PR? (I can't find it)
Can you please link this bug from it? (see [PR rule](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#pr-rules) [7])

[2017-06-21 00:08] tijoytom commented on #21233
Should be fixed by #21280

[2017-06-21 00:08] #21233 closed

[2017-06-21 00:18] justinvp commented on #21281
What about `ParseExact`?

I see `TryParse` mentioned. What about `Parse` and `ParseExact`?

These have `Parse` and `TryParse` methods. Should we do those as well?

What about `System.Enum`'s `Parse`/`TryParse`?

[2017-06-21 00:38] hughbe commented on #21252
I understand it's expect based off the infrastructure source code, but I'm not sure it's expected based off intuition. netfx is Windows only so I think this should be true for netfx

[2017-06-21 00:40] hughbe commented on #21079
I'm running from master in the test projects for master

[2017-06-21 00:41] hughbe commented on #21079
(As in, these are contributions to corefx, not my own app)
You may want to take a look at #21040

[2017-06-21 00:44] krwq commented on #21141
This was part of the serialization work: https://github.com/dotnet/corefx/pull/21098

[2017-06-21 00:51] karelz commented on #21141
OK, in future, please just add "Fixes #abcd" to that PR top description (I did it in this case).
Fixed in #21098

[2017-06-21 00:51] #21141 closed

[2017-06-21 00:54] danmosemsft opened #21292 "Reenable Ref Emit for XML Serializer in UAP"
Change #if uap in  https://github.com/dotnet/corefx/pull/20783 to #if uapaot only. per discussion with @zhenlan we want to keep RefEmit support for Xml Serializer in the compiled case as it's proven and faster than reflection base serialization and also matches DCS

Before this change, we had:
Debug (uap): RefEmit
Retail (uapaot): AOT optimization + RBS as fallback

After this change, we have
Debu

[2017-06-21 00:57] tijoytom commented on #21285
@CIPop Moving this Future since UWP6.0 is due in 4 weeks

[2017-06-21 01:04] davidsh commented on #7439
FtpWebRequest is supported now as part of .NET Core 2.0 (NETStandard2.0).

You can try it out in the previews releases or use the daily code in master branch.

[2017-06-21 01:15] tijoytom commented on #19210
The orginal issue looks more or like this https://github.com/dotnet/corert/pull/3687
I don't have enough context here , @jkotas rolled back the changes in CoreCLR , but the ResourceSet in CoreRT is still using dictionary but  https://github.com/dotnet/corert/pull/3687 fix the issue in CoreRT/N.
Is the right fix to port https://github.com/dotnet/corert/pull/3687 to CoreCLR ?

[2017-06-21 01:35] jkotas commented on #19210
The ultimate fix for this is to rollback the rollback above: move ResourceSet.cs to the CoreLib shared partition and make the sources identical between CoreCLR and CoreRT.

[2017-06-21 01:37] hughbe commented on #21270
I'll grab this

[2017-06-21 01:41] Jiayili1 commented on #19285
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170621.01/workItem/System.Net.Sockets.Tests/wilogs

OSX and Fedora OS

[2017-06-21 01:47] Jiayili1 commented on #21035
This issue is still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170621.01/workItem/System.Runtime.Serialization.Formatters.Tests/wilogs

[2017-06-21 01:49] dotnet-mc-bot opened #21294 "Test: System.Drawing.Tests.IconTests/ToBitmap_BitmapIcon_Success(icon: (Icon)) failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.Drawing.Tests.IconTests/ToBitmap_BitmapIcon_Success(icon: (Icon))` has failed.

System.ArgumentException : Parameter is not valid.

        Stack Trace:

           at System.Drawing.Bitmap..ctor(Int32 width, Int32 height, PixelFormat format)
       at System.Drawing.Icon.BmpFrame()
       at System.Drawing.Icon.ToBitmap()
       at System.Drawing.Te

[2017-06-21 01:54] mzji commented on #21166
This issue (and many other issues) is mystery gone after I switched the Core runtime from 32-bit to 64-bit. How could this happen? The application runs stably now.

[2017-06-21 02:05] danmosemsft commented on #21294
@hughbe this ctor just calls into GDI. I have no idea why this would fail on Windows 8.1 (actually Server 2012 R2)

[2017-06-21 02:27] hughbe commented on #21294
Some interesting observations.

The test data is
[code]

It's my understanding that `icon_48x48_one_entry_1bit` get's finalized at some point before `ToBitmap_BitmapIcon_Success` is run.

This means that the handle will be invalidated, and so the icon will be invalidated as well, as handles don't outlive their icons.

Interestingly, I can reproduce this with netfx almost 100% of the time.

I've su

[2017-06-21 02:38] hughbe commented on #21078
Sorry for the delay answering. I don't actually have a break key on my laptop - indeed I've never actually heard of one before!
https://en.wikipedia.org/wiki/Break_key shows some substitute key combinations for dell laptops, but they don't seem to work either

What I meant about the access denied errors is that if they occur I don't really want the build to continue, However, I can't exit the buil

[2017-06-21 03:00] Jiayili1 commented on #19924
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170621.01/workItem/System.Collections.Performance.Tests/wilogs

[2017-06-21 03:03] Jiayili1 commented on #19701
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170621.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FNoCallback_RevokedCertificate_NoRevocationChecking_Succeeds

[2017-06-21 03:06] morganbr commented on #14354
@tannergooding, I took a look at your Murmur3 implementation and it generally looks right and probably pretty well optimized. To make sure I understand correctly, are you using the fact that combinedValue and the internal state of Murmur are both 32 bits? That's probably a pretty good optimization for this case and explains some of my earlier confusion.

If we were to adopt it, it might need a cou

[2017-06-21 03:24] danmosemsft commented on #21294
Ah yes - I'm not sure where the actual exceptoin is coming from, but that makes sense. ..

[2017-06-21 03:31] JeremyKuhne commented on #21273
Need to check for exists first.

[Mono delete code](https://github.com/mono/mono/blob/010fcfb9ecfef1654b415dbb909a01148a89e827/mono/metadata/w32file-unix.c#L2495)
[Mono unlink code](https://github.com/mono/mono/blob/010fcfb9ecfef1654b415dbb909a01148a89e827/mono/metadata/w32file-unix.c#L299)

[2017-06-21 03:34] JeremyKuhne commented on #21273
[Our code](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/UnixFileSystem.cs#L148)

[2017-06-21 04:04] danmosemsft opened #21296 "Remove System.Drawing dead code"
Attached is a zip containing removed.htm which shows everything ILLink thinks is dead and all.htm which shows everything, with removed in red. Everything red should be safe to delete.

[removed.zip](https://github.com/dotnet/corefx/files/1090302/removed.zip)

@mellinoe @hughbe do you think it is safe for folks to do this without tests?

[2017-06-21 04:11] hughbe commented on #21296
Most of this is interop code - compilation will fail if something goes wrong.

Other stuff are private ctors in a sealed class which can't be removed
[code]

[2017-06-21 04:11] rynowak commented on #21248
@davidfowl @stephentoub

We definitely had a perf issue at one point in the view engine copying character-by-character out of a `StringBuilder`. I believe we optimized it by writing something custom 😲

This isn't the original issue, but another place we hit it. https://github.com/aspnet/Mvc/commit/43071319aa0c347a1d2dfcc8f14042807ddebe51#diff-d04c49a8be708ed4bfb0d8231f71d4e8L199

Exposing the span

[2017-06-21 04:25] danmosemsft commented on #21296
Yeah, that amongst others are exceptions I listed in this comment. Constants is another.
https://github.com/dotnet/corefx/issues/17905#issue-219402729
Of the rest it looks like a bunch is debug only and i did the scan in release.
I do see a little truly dead though.

[2017-06-21 04:29] danmosemsft commented on #21296
[removed.debug.zip](https://github.com/dotnet/corefx/files/1090336/removed.debug.zip)
Debug build .. a bit more helpful.

[2017-06-21 04:31] danmosemsft commented on #21166
That could mean it's a code-gen bug for example.

[2017-06-21 04:40] morganbr commented on #21259
This is a test issue -- it expects EqualityComparer<byte> to produce a ByteEqualityComparer, which it doesn't on AOT. We should probably just use reflection to instantiate ByteEqualityComparer in the test.

[2017-06-21 04:43] morganbr commented on #21258
@tijoytom, I fixed this in ProjectN over the weekend and @joperezr's run from today seemed to show that they were fixed. Do you know whether this result should include the fix?

[2017-06-21 04:46] tijoytom commented on #21158
@hoyMS Can you please take a look and see if this is the same issue as #21243?

[2017-06-21 04:51] tijoytom commented on #20482
Should be fixed by #21280

[2017-06-21 04:54] tijoytom commented on #20482
@joperezr This should be fixed now , but i can't find the PR to figure out the test that you disabled. Can you please re-enable them ?

[2017-06-21 05:00] danmosemsft commented on #21259
yes please :)

[2017-06-21 05:01] tijoytom commented on #21261
The difference is within the tolerance range ..

[2017-06-21 05:04] tijoytom commented on #21218
#20592

[2017-06-21 05:04] tijoytom commented on #21218
Closing this since it's same as #20592

[2017-06-21 05:04] #21218 closed

[2017-06-21 05:08] tijoytom commented on #19585
@shmao Do you need GetObjectData() too  or are you good with just Serializable attribute?

[2017-06-21 05:14] tijoytom commented on #19044
@AArnott The TFS bug is assigned to @morganbr . I am closing this one

[2017-06-21 05:14] mellinoe commented on #21296
I have several other "cleanup" items listed here: https://github.com/dotnet/corefx/issues/20706

We may want to do some of the reorganization / refactoring / consolidation first, since that is likely to affect which parts of the library end up being dead.

[2017-06-21 06:17] dotnet-mc-bot opened #21297 "UWP F5 tests: System.IO.IOException : RemoteInvoke cannot open the remote service. Open Service Status: AppUnavailable"
Opened on behalf of @Jiayili1

The test `System.ComponentModel.Tests.AsyncOperationFinalizerTests/Finalizer_OperationCompleted_DoesNotCallOperationCompleted` has failed.

System.IO.IOException : RemoteInvoke cannot open the remote service. Open Service Status: AppUnavailable

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvoke(MethodInfo method, String[] args

[2017-06-21 06:18] Jiayili1 commented on #21297
Failed tests:
Finalizer_OperationCompleted_DoesNotCallOperationCompleted
Finalizer_OperationNotCompleted_CompletesOperation

[2017-06-21 06:22] Jiayili1 commented on #20287
This test failed with another issue: System.IO.IOException

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170621.01/workItem/System.Console.Tests/analysis/xunit/CancelKeyPressTests~2FCanAddAndRemoveHandler_Remote

Message:
[code]

Stack Trace:
[code]

[2017-06-21 06:35] Jiayili1 commented on #21297
All tests under "System.Data.SqlClient.Tests" failed with:
System.IO.IOException : RemoteInvoke cannot open the remote service. Open Service Status: AppUnavailable

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170621.01/workItem/System.Data.SqlClient.Tests

[2017-06-21 06:38] v-haren commented on #19701
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/90/testReport/System.Net.Http.Functional.Tests/ResponseStreamTest/ReadAsStreamAsync_ValidServerResponse_Success_transferType__Chunked__transferError__None_/

[2017-06-21 06:43] v-haren commented on #19637
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/82/testReport/System.Net.Http.WinHttpHandlerFunctional.Tests/WinHttpHandlerTest/SendAsync_SlowServerAndCancel_ThrowsTaskCanceledException/

[2017-06-21 06:51] v-haren commented on #20388
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/82/testReport/System.Diagnostics.Tests/ProcessStartInfoTests/StartInfo_TextFile_ShellExecute/

[2017-06-21 07:05] dotnet-mc-bot opened #21299 "Test: System.Linq.Tests.ContainsTests/String failed with "System.Reflection.MissingMetadataException""
Opened on behalf of @Jiayili1

The test `System.Linq.Tests.ContainsTests/String` has failed.

System.Reflection.MissingMetadataException : This operation cannot be carried out because metadata for the following object was removed for performance reasons:\
    \
      EETypeRva:0x0003E2FC\
    \
    No further information is available. Rebuild in debug mode for better information.\
    \

        S

[2017-06-21 07:10] dotnet-mc-bot opened #21301 "Tests under: DispatchProxyTests.DispatchProxyTests failed with "System.Reflection.DispatchProxyInstanceNotFoundException""
Opened on behalf of @Jiayili1

The test `DispatchProxyTests.DispatchProxyTests/Create_Proxy_Derives_From_DispatchProxy_BaseType` has failed.

$BlockedFromReflection_0_48792822 : Exception of type 'EETypeRva:0x0003D150(System.Reflection.DispatchProxyInstanceNotFoundException)' was thrown.

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0x7b1c48
       at DispatchProxyTests.

[2017-06-21 07:13] Jiayili1 commented on #21301
Failed tests:
Create_Proxy_Derives_From_DispatchProxy_BaseType
Create_Proxy_Implements_All_Interfaces
Create_Proxy_Implements_Internal_Interfaces
Create_Proxy_Instances_Of_Same_Proxy_And_Base_Type_Are_Unique
Create_Proxy_Internal_Interface
Create_Same_Proxy_Type_And_Base_Type_Reuses_Same_Generated_Type
Create_Same_Proxy_Type_With_Different_BaseType_Uses_Different_Generated_Type
Created_Proxy_With_

[2017-06-21 07:21] dotnet-mc-bot opened #21302 "Test: System.Tests.GetEnvironmentVariable/EnumerateEnvironmentVariables(target: User) failed with "System.IO.IOException""
Opened on behalf of @Jiayili1

The test `System.Tests.GetEnvironmentVariable/EnumerateEnvironmentVariables(target: User)` has failed.

System.IO.IOException : No more data is available

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0x8a4a69
       at xunit.console.netcore!<BaseAddress>+0xa24c2f
       at xunit.console.netcore!<BaseAddress>+0xa24b55
       at xunit.console

[2017-06-21 07:21] Jiayili1 commented on #21302
Closed issue: https://github.com/dotnet/corefx/issues/17037

[2017-06-21 07:35] shmao commented on #19585
GetObjectData is required.

[2017-06-21 07:43] mzji commented on #21166
@danmosemsft The problem seems gone, should we close this issue? It cannot be reproduced now.

[2017-06-21 07:46] hughbe opened #21303 "Subclass of MemoryStream can cause a Debug.Assert to be hit in WindowsRuntimeBuffer"
[code]

Stack:
[code]

[2017-06-21 10:05] stephentoub commented on #19044
@tijoytom, why did you close this? Isn't there still a perf issue on coreclr?

[2017-06-21 10:06] stephentoub commented on #21226
Reopening to track 2.0 port...

[2017-06-21 10:17] stephentoub commented on #21296
Yes, please.

[2017-06-21 10:18] stephentoub commented on #21275
cc: @tarekgh

[2017-06-21 10:21] stephentoub commented on #21195
So the badges should be removed? Where are we on replacements?

[2017-06-21 10:32] stephentoub commented on #21274
Dup of https://github.com/dotnet/corefx/issues/20388

[2017-06-21 10:32] #21274 closed

[2017-06-21 10:41] akoeplinger commented on #21273
Please note that the current Mono code in master has a bug/regression, which is what lead us to discover the issue. Fix is: https://github.com/mono/mono/pull/5082.

[2017-06-21 11:58] stephentoub commented on #21281
Seems worthwhile.  I've updated the proposal with it.

Presumably the base implementation would just be:
[code]
and then derived implementations would do something like (e.g. for UTF8):
[code]
But that means that a misbehaving consumer could get a reference to the contents via DangerousGetPinnableReference and mutate the shared preamble state that others in the process could subsequently be using.

[2017-06-21 12:00] stephentoub commented on #21281
Yes, I meant to have both Parse and TryParse on these, but apparently didn't transfer them over properly from my notes. Fixed.

@justinvp, why do you ask about it?  You think it's critical to have across the board?  I'd left it out intentionally as I've not seen it used frequently or in hot path situations, and it could always be added subsequently, but maybe I'm misinformed?

The implementations

[2017-06-21 12:49] #21294 closed

[2017-06-21 13:11] vitek-karas opened #21304 "ObservableCollection.OnDeserialized NullRefs when called from JSON.Net"
When JSON.Net deserializes ObservableCollection it will call OnDeserialized on it with the below callstack:
Newtonsoft.Json!Newtonsoft::Json::Serialization::JsonContract::<>c__DisplayClass1.<CreateSerializationCallback>b__0+0x57
Newtonsoft.Json!Newtonsoft::Json::Serialization::SerializationCallback.Invoke+0x25
Newtonsoft.Json!Newtonsoft::Json::Serialization::JsonContract.InvokeOnDeserialized+0x76

[2017-06-21 13:12] vitek-karas commented on #21304
Note that this is causing AppCompat failures (5 apps in Top2000).

[2017-06-21 13:15] Liturgist opened #21305 "Support for POSIX character classes"
Is there any plan to support POSIX character classes? [:digit:] [:alnum:] etc.

[2017-06-21 13:17] hughbe commented on #21305
I assume this refers to Regex - http://www.regular-expressions.info/posixbrackets.html

[2017-06-21 13:25] jkotas commented on #21281
Yes, that's why the method has the Dangerous prefix.

[2017-06-21 13:26] jnm2 commented on #21281
Really not a different situation than different than `fixed` with a string, right?

[2017-06-21 13:26] jkotas commented on #21281
Right.

[2017-06-21 13:29] svick commented on #21305
If you open a new issue about the same proposal in a different repo, I think you should link to the previous issue (https://github.com/dotnet/core/issues/699) and possibly also close the previous issue.

[2017-06-21 13:30] stephentoub commented on #21281
Ok. It just feels different than some of the other cases we've discussed, as it's not just allowing someone to mutate local state that was supposed to be read-only, but global state that's shared by others. But I'm ok with it as long as we understand the consequences. And I realize it's just an extension of some of the other cases we've discussed.

That requires unsafe code and pointers, at which

[2017-06-21 13:36] jnm2 commented on #21281
Are there scenarios where all bets aren't off when you use APIs with `Dangerous` in the name?

[2017-06-21 13:38] stephentoub commented on #21281
There's a difference between a naming convention and having unfettered ability to write to any arbitrary location in memory.

[2017-06-21 13:41] hughbe commented on #20669
@tquerec I'm trying to find "Active Directory Lightweight Directory Services" but can't seem to find anything in the panel

http://imgur.com/a/4xBse

[2017-06-21 13:42] jkotas commented on #21281
The unsafe keyword just prevents you from using unsafe "all bets are off" language features. It does not prevent you from using equivalent library APIs. It has been the case since .NET Framework 1.0.

https://github.com/dotnet/roslyn-analyzers/issues/972 is a suggestion on how to fix this hole.

Marshal APIs (and many other more subtle APIs) let you do that without unsafe keyword since .NET Framew

[2017-06-21 13:45] stephentoub commented on #21281
Yeah, good point.

[2017-06-21 13:53] willdean commented on #20669
@hughbe It's perhaps no help to you other than to save you wasting more time scrolling up and down, but this is what it looks like here: (Windows 10 Pro 10.0.14393)

![win](https://user-images.githubusercontent.com/1306085/27387667-3fc080cc-5691-11e7-93f3-f4874a875dbf.png)

Are you using Pro or Home?

[2017-06-21 13:57] hughbe commented on #20669
I don't get that unfortunately... I have home edition

[2017-06-21 13:57] stephentoub opened #21306 "Crashes on shutdown from EventListener in various test projects"
We're continuing to be plagued by failures like this in netfx runs:
[code]
e.g. https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/102/.  If we're not already on a version of netfx that includes the fix, we need to move CI to a newer version.  And if we are on a sufficiently new version, then apparently the issue isn't fixed.

[2017-06-21 14:03] jswolf19 commented on #6857
I tried with two threads per core, which seemed to help a little (although it could have been statistical noise). I found that changing to threads from tasks and then having them wait on an event seems to get things lined up better to reproduce the issue. I got the test to fail 10/10 times during `build-tests` and it also seems to fail consistently when run alone (while allowing xunit to use paral

[2017-06-21 14:24] #21168 closed

[2017-06-21 14:24] avikenjale commented on #20356
@ericstj , Yes I used package ` Microsoft.NETCore.Portable.Compatibility` and one more thing I did to get this done is, to copy `portable` folder from `C:\program files(x86)\Microsoft visual studio\2017\community\MSBuild\` to `C:\Program Files\dotnet\sdk\1.0.4\Microsoft\`

Is this a correct way?

[2017-06-21 14:35] hughbe opened #21310 "[porting] SystemIcons.ShieldIcon fails with `Resource 'ShieldIcon.ico' cannot be found in class 'System.Drawing.SystemIcons'`"
The code for `SystemIcons.Shield` is as follows

[code]

The first error we get is an `EntrypointNotFoundException`  for `LoadIconWithScaleDown` which is likely a bug

The second error we get is constructing the icon:
[code]

This is likely because the logical name of the embedded resource icon is incorrect .

I'll submit a fix for the first part

[2017-06-21 14:46] #20429 closed

[2017-06-21 14:48] hughbe commented on #21310
The fix for this exception is easy: changing the csproj of the product code from
[code]

to

[code]

However, this silences the fact that we throw an `EntryPointNotFoundException` before

[2017-06-21 14:58] hughbe commented on #21310
Okay, so it's expected that `LoadIconWithScaleDown` as it has been removed in later versions of Windows. This means that the catch block is expected.

@mellinoe do you know when LoadIconWithScaleDown was removed from the Win32 API? If the API is not available in Windows 7, let's delete it and return the `ShieldIcon.ico` all the time.

I'd like to submit a PR with at least the fix about when '21177

[2017-06-21 15:03] karelz commented on #20846
Thanks for submitting the PR @yvanin! I sent you invite to CoreFX and CoreCLR repos, so that we can assign issues to you when you grab them. Please ping me when you accept the invitations.
Temporarily assigning to myself.

cc @joperezr @AlexGhiondea

[2017-06-21 15:05] danmosemsft commented on #21166
@mzji sure . Thanks for the report.

[2017-06-21 15:05] #21166 closed

[2017-06-21 15:13] mmitche commented on #21306
@stephentoub Will be fixed here: https://github.com/dotnet/dotnet-ci/pull/717

[2017-06-21 15:13] vancem commented on #20331
Some  documentation for EventCounters has been checked in here

https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/documentation/EventCounterTutorial.md

[2017-06-21 15:19] mmitche commented on #21195
@stephentoub Badges should be removed.  We haven't started on replacements yet.  Covered by: https://github.com/dotnet/core-eng/issues/992

[2017-06-21 15:19] stephentoub commented on #21306
Thanks, Matt.

[2017-06-21 15:24] stephentoub commented on #21195
😦

[2017-06-21 15:24] stephentoub commented on #21195
What about the netfx badges?

[2017-06-21 15:26] vancem commented on #21160
I think we should do nothing.   The current logging is string based, and frankly need to be reworked.   The only question is whether this logging is useful enough as it is to leave in (and thus take a compatibility burden on).

[2017-06-21 15:28] danmosemsft commented on #21195
What are you looking for here @stephentoub some we have the regular runs? Is it the convenience of seeing badges?

[2017-06-21 15:42] stephentoub commented on #21195
I want to know the status of master at a glance.  How else can I easily determine that?

[2017-06-21 15:47] karelz commented on #20331
Is it enough docs to close this issue or do we need more docs?

[2017-06-21 15:49] fujiy commented on #20331
I think so

[2017-06-21 15:49] #20331 closed

[2017-06-21 15:49] danmosemsft commented on #21195
@stephentoub right -- it's just funny that we have to do different Jenkins runs in order to show the badges. We should just have badges against the regular Helix runs so we can discard the rolling runs. @mmitche @Chrisboh any idea when you might have https://github.com/dotnet/core-eng/issues/992 up ?

[2017-06-21 15:54] stephentoub commented on #21195
It doesn't really matter to me what infrastructure the badges come from, only that they represent runs against the latest source in master.

What does this mean?  I think it's valuable that the badges represent the code currently checked in to master, which means the moment you merge, runs are initiated and the badges reflect those runs (today that means they switch to blue to indicate runs are in

[2017-06-21 15:59] JeremyKuhne commented on #21273
Noted- I wanted to illustrate that you're explicitly checking for exists. Our fix will be `if(!File.Exists()) return;` I assume.

[2017-06-21 16:00] ericstj commented on #20356
@avikenjale that looks like you were trying to *build* a PCL with the CLI tools.  I don't think that's supported but @livarcocc or @srivatsn would no better.
You don't need to do that if all you want to do is *reference* a PCL in a netcoreapp/netstandard project.
I believe the only supported way to *build* a profile-based PCL is to use the classic CSProj produced by the template and build with eit

[2017-06-21 16:02] akoeplinger commented on #21273
@JeremyKuhne where do you see that? From what I can see we simply call unlink().

[2017-06-21 16:04] JeremyKuhne commented on #21273
@akoeplinger Never mind, apparently I was seeing things last night. Just looked again. :)

[2017-06-21 16:10] tijoytom commented on #19044
@stephentoub If there is a perf issue please open a seperate bug , this is tagged under UWP6.0 and there is a corresponding  TFS bug.

[2017-06-21 16:12] tijoytom commented on #19044
On non-AOT platform the issue is

ImmutableHashSet<>.HashBucket needs to implement an Equals()/GetHashCode() pair. I strongly recommend that it also implement IEquatable<HashBucket> to remove the boxing penalty.

and the reflection use on AOT is tracked by TFS bug.

[2017-06-21 16:14] tarekgh commented on #21275
I moved this to the future as I an not sure we'll get to this in the next couple of weeks. I have replied @kouvel email regarding this and suggested to work around these tests by using Tasks for now till we allow the remote executor to be async.

[2017-06-21 16:15] stephentoub commented on #19044
No.  This issue as originally opened was covering both.  If it no longer needs to cover one piece of it, then we can just do as Ati says and change the milestone.  We shouldn't just close bugs and lose the relevant work.

Further, this issue number is still referred to in multiple ActiveIssues, e.g.
https://github.com/dotnet/corefx/blob/b3a7e25c630a1fb4a4631db0c763abaf04b409dd/src/System.Collectio

[2017-06-21 16:19] danmosemsft commented on #21195
@stephentoub we had a discussion on this a while back.

In the team, almost nobody seems to look at the badges -- on a regular basis maybe just you and me. Myself I only look at the daily runs, and haven't found myself ever using the commit-list that the badges offer. Certainly a one stop place to see state that's visible to the community is valuable so I was suggesting just pointing the badges at

[2017-06-21 16:20] tijoytom commented on #19044
This issue as originally opened was covering both
   That's a problem , if it's two different issues , they should be not be covered by one active bug. The UWP6.0 bugs need to be fixed by 7/14 , if this do not fall under UWP anymore please move it out of UWP then.

[2017-06-21 16:22] tijoytom commented on #21301
@shmao Is this something that you can help?

[2017-06-21 16:22] danmosemsft commented on #21297
@tarekgh MSDN does not help explain what might cause this. Maybe we need to add some retries.

[2017-06-21 16:22] weshaggard commented on #21252
That would be true for uap as well but we are trying not to bake any such assumptions into the configuration system. There is definitely a potential in the future where netfx and mono are similar builds and in that case mono would be more then just windows.

Thanks for the feedback @hughbe but at this point I don't think we want to make any changes to the current assumptions.

[2017-06-21 16:22] #21252 closed

[2017-06-21 16:24] tarekgh commented on #21297
@danmosemsft this looks the runner building on x86 is wrong.

CC @joperezr

[2017-06-21 16:28] avikenjale commented on #20356
@ericstj , Ahhh, now I remember, using VS 2017, it was working fine, however when I was trying to build same using `dotnet` command (and using VS Code IDE), it was failing so that time I copied this `portable` folder under **dotnet** folder.  This way my PCL+.netcoreapp+netstandard are building using `MSBuild` and `dotnet build` commands.

[2017-06-21 16:33] ViktorHofer commented on #21304
@justinvp do you have some free cycles to look into it?
@vitek-karas does that only affect uapaot or also release/2.0.0 with coreclr?

[2017-06-21 16:37] danmosemsft commented on #19044
Oops, our title edits crossed. fine.

[2017-06-21 16:46] ericstj commented on #20356
Yeah.  Dotnet CLI cannot officially build the the old projects, but it doesn't block it.  As a result, things appear to work, until they don't.  Portable is one example where it fails but there are many others.  I filed https://github.com/dotnet/cli/issues/6732 because of this.

[2017-06-21 16:52] hoyMS commented on #21158
I'm taking a look. Which project file should I use to repro the failure?

[2017-06-21 16:53] joperezr commented on #21297
This is a manifest problem, @tarekgh and I found the issue and have verified the fix. I'll push it soon to corefx so tomorrow's run should not have this any longer.

[2017-06-21 16:58] shmao commented on #21301
@tijoytom we don't own this library.

@tarekgh, according to the code history, can you help re-assign the issue?

[2017-06-21 16:59] hoyMS commented on #21158
@caesar1995 Thanks. Could you point me to the instructions on how to enable outerloop runs?

[2017-06-21 17:00] hoyMS commented on #21158
@caesar1995  Or can you provide the repro binaries and intermediates?

[2017-06-21 17:01] tarekgh commented on #21301
@AtsushiKan are you the right one to look at this one? if so, please assign it to yourself. otherwise, you may advise who should look at it.