[2019-09-06 07:53] fleed commented on #40229
@steveharter Thank you. I can confirm that it's fixed in **preview 9**

[2019-09-06 07:55] tmds commented on #40850
Yes, specific to the 5.0.0-27-generic on Ubuntu.
I don't have issues on Fedora with 5.1.15 kernel.

[2019-09-06 07:59] marchy commented on #40476
Confirmed the nightly build 4.7.0-rc2.19455.22 now works on MacOS!  😁
Great work all

[2019-09-06 08:06] qmfrederik commented on #40850
OK, I opened https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1843018 . I hope that's the right location to report Ubuntu kernel bugs. If anyone knows about a better way of contacting the Ubuntu team, let me know :).

[2019-09-06 08:15] qmfrederik commented on #40850
PS: There's a "Does this bug affect you?" link at the top of the page (green text, below the but title) that those who are interested can use to upvote this issue in Launchpad.

[2019-09-06 08:19] GSPP commented on #40620
Callers can `myLongs.Select(x => (double)x).Average()` as a workaround. No new APIs are needed.

[2019-09-06 08:41] marek-safar commented on #19914
Well, it's actionable on CoreFX side by stop relying on internal framework members. On Mono we have the only workaround which does patching of every version of this published NuGet for .NET Framework but as you can expect this is not a great solution

[2019-09-06 10:59] ViktorHofer commented on #40224
Still failing, even with the retry: https://dnceng.visualstudio.com/public/_build/results?buildId=340548&view=ms.vss-test-web.build-test-results-tab&runId=10067396&resultId=179008&paneView=debug

[2019-09-06 11:01] ViktorHofer commented on #38547
Failed again in a rolling build: https://dnceng.visualstudio.com/public/_build/results?buildId=340892&view=ms.vss-test-web.build-test-results-tab&runId=10081520&resultId=142066&paneView=debug

[code]

[2019-09-06 11:01] ViktorHofer commented on #38547
Will disable the test on UAP.

[2019-09-06 11:14] ViktorHofer opened #40877 "System.Drawing.Tests.ToolboxBitmapAttributeTests.Ctor_FileName(fileName: \"C:\\\\dotnetbuild\\\\work\\\\1c624edc-982b-4c35-b93c-6e0\"..., size: {Width=16, Height=16}) test failed"
System.Drawing.Tests.ToolboxBitmapAttributeTests.Ctor_FileName(fileName: \"C:\\\\dotnetbuild\\\\work\\\\1c624edc-982b-4c35-b93c-6e0\"..., size: {Width=16, Height=16})

https://dnceng.visualstudio.com/public/_build/results?buildId=340929&view=ms.vss-test-web.build-test-results-tab&runId=10083712&resultId=111257&paneView=debug

[code]

@safern we should investigate and/or disable the test to protect

[2019-09-06 11:17] ViktorHofer opened #40878 "Http2_SmallConnectionTimeout_SubsequentRequestUsesDifferentConnection times out on arm64"
System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_ConnectionPooling_Test.Http2_SmallConnectionTimeout_SubsequentRequestUsesDifferentConnection

Configuration: `netcoreapp-Windows_NT-Release-arm64-Windows.10.Arm64.Open`

https://dnceng.visualstudio.com/public/_build/results?buildId=340789&view=ms.vss-test-web.build-test-results-tab&runId=10076876&paneView=debug

[code]

[2019-09-06 11:17] ViktorHofer commented on #40878
@davidsh, @wfurt, @scalablecory, @eiriktsarpalis, @karelz

[2019-09-06 11:22] matthew798 commented on #32027
Yes you are correct. My code doesn't work in both dotnet core 2.2 (where SO_REUSEPORT is not set) and 3.0 (where it is). So it seems that SO_REUSEPORT has no effect on the result.

The bottom line is that the behavior I described is achievable in native code, but there seems to be no way in dotnet.

Ill open another issue.

[2019-09-06 11:25] ViktorHofer commented on #40813
You probably don't need more data but just in case: https://dnceng.visualstudio.com/public/_build/results?buildId=338743&view=ms.vss-test-web.build-test-results-tab&runId=9993546&resultId=112589&paneView=debug

[2019-09-06 11:57] ViktorHofer commented on #40226
Creating the key ourselves is a bit scary, let's first talk with Windows.

[2019-09-06 12:15] VladimirRybalko commented on #39227
Hello guys. I'm just curious, do you have any ETA for this?

[2019-09-06 12:21] matthew798 opened #40881 "Inconsistent socket behavior between dotnet and native"
I have observed what I believe to be a discrepancy between managed and native socket.

I am on dotnet core 2.2 and 3.0 on linux x64.

The problem is when you have 2 sockets. Both _bound_ to the same endpoint (`localEP`), and one _connected_ to a remote endpoint (`remoteEp`). AFAIK, dgrams from `remoteEp` should _always_ end up at the _connected_ socket, and dgrams from _anywhere_ else should end u

[2019-09-06 12:43] ViktorHofer commented on #40842
I just built Mirosoft.Win32.Registry on a Unix machine and the assembly contains the actual implementation code from Win32 instead of PNSE members.

cc @ericstj @safern

[2019-09-06 12:49] softworkz opened #40885 "API Proposal: SequenceReader<T>.GetSpan(offset, length)"
Today it isn't possible to acquire a span from a SequenceReader<T> without taking care about segment boundaries.

For example:

- You cannot simply do:
`BinaryPrimitives.ReadUInt32BigEndian(reader.UnreadSpan.Slice(0, 4))`
 Because you could hit a segment boundary
- You don't want to allocate a byte buffer each time, execute TryCopyMultisegment only to parse the Int32 from it (at least not in the m

[2019-09-06 13:12] davidsh commented on #34369
@kirkone - Please open a new issue to describe your problem. Be specific in terms of your network topology and what kinds of authentication is being used by servers and/or proxy. Enterprise authentication issues such as this are difficult to diagnose generally without a lot of information to reproduce the problem.  Thanks.

[2019-09-06 13:14] ViktorHofer commented on #40842
The condition is correct, even though its name is misleading. Those mentioned tests are negative tests that throw `ArgumentException` on both Windows and Unix and the condition `s_SupportsRegistry` is only used for those.

If a positive test would use that condition it would fail on Unix with a PNSE. On UAP the validation code isn't even reached and a PNSE is thrown immediately, therefore the dist

[2019-09-06 13:30] tannergooding commented on #40620
It should be clarified that `Int32` collections do have this problem. You just need to have an enumeration that returns `int.MaxValue` ~4 billion times (which also doesn't take terribly long to execute on modern computers).

At the end of the day, I think it would be better to expose an explicit API which is documented to handle the overflow scenario using `BigInteger`.

[2019-09-06 13:34] stephentoub commented on #40620
In practice, there's a big difference between having an `IEnumerable<int>` with 4294967296 elements and an `IEnumerable<long>` with 2.

[2019-09-06 13:37] filipnavara commented on #40842
Part of the problem could be that Mono is too eager with some initialization (possibly within the bounds of ECMA 335 specification but not identical to CoreCLR). The actual failure on the CI was the following:

[code]

The "expected" part suggests that the code path here was taken though:

https://github.com/dotnet/corefx/blob/063568705557b469606eef1069946484d78034ae/src/Microsoft.VisualBasic.Core

[2019-09-06 13:39] filipnavara commented on #40842
Ah, I guess I see what you were implying. Looks like the error is indeed related to the eager initialization then.

[2019-09-06 13:39] ViktorHofer commented on #40846
For how long would we add APIs to the legacy package pointing to the new one? This sounds problematic to me.

[2019-09-06 13:41] ViktorHofer commented on #40842
cc @akoeplinger

[2019-09-06 13:42] jkotas commented on #40846
From https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/ :

@Wraith2 I would recommend you start submitting your bug fixes and performance improvements to Microsoft.Data.SqlClient. Even if System.Data.SqlClient stays in CoreFX, I expect we will be hesitant to take significant changes because of risk. CoreFX does not have the infrastructure to fully validate significan

[2019-09-06 13:49] tannergooding commented on #40620
Sure, but at the same time you'll be able to overflow `decimal` after only ~1b elements; and if `Int128` ends up being supported for .NET 5 you'll have the same problem with `Int128` (can potentially overflow after 2 elements).

It would likely be better to just have a single API that handles this case (and any existing case) for when that is interesting to the user.

There are also other problems

[2019-09-06 13:51] filipnavara commented on #40842
Thanks for all the help! I'll do some more tests on the weekend and create a new Mono issue if it turns out to be problem there.

[2019-09-06 13:53] mrward opened #40888 "Disposing the FileSystemWatcher does not close associated file descriptors"
Filed this against Mono, which uses corefx, but the problem also affects corefx.

https://github.com/mono/mono/issues/16709

## Steps to Reproduce

Related problem - https://github.com/mono/mono/issues/15931

1. Sample project - https://github.com/mrward/test-file-watcher-dispose - multi-target project that builds .NET 4.7.2 and .NET Core 2.1
2. Build this project.
3. From the command line run `do

[2019-09-06 13:54] stephentoub commented on #40620
I disagree.  We have an API that claims to support averaging an `IEnumerable<long>`, a data type that's been in .NET for 20 years, but it can't handle an enumerable with only two inputs.  How many arrays have you seen with two inputs vs with ~1b elements?  The scenarios we're talking about here are very different; we should not use a super corner case to justify the behavior for one that's much mo

[2019-09-06 13:55] tannergooding commented on #40620
This isn't an issue with using `double` to compute the intermediate sum; this is an issue with returning `double` as the result that will only be exacerbated by allowing users to pass in even larger values (and we can't change the result from returning `double`).

[2019-09-06 13:57] stephentoub commented on #40620
I'm honestly not understanding what you're arguing for.  Are you saying this Average method should have never existed, should never be used, should be deprecated, etc.?

With this API, there will always exist the potential for a skewed result due to it returning a `double`; that's the nature of any API which casts a `long` to a `double`.  That doesn't mean it's acceptable for the method to throw o

[2019-09-06 14:03] ViktorHofer commented on #40799
It's just two tests which I recently re-enabled. I sent a PR to disable them again (https://github.com/dotnet/corefx/pull/40876) and close this issue. If we encounter additional failing tests we can/should continue our discussion here.

[2019-09-06 14:17] pawelpabich commented on #40846
From https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/ :

Is there a chance that bug fixes will be applied to both `S.D.SqlClient` and `M.D.SqlClient`? `M.D.SqlClient` only shipped a week or so ago. I hope you understand that switching to the new provider is not a simple task.

[2019-09-06 14:18] tannergooding commented on #40620
I'm just trying to ensure the tradeoffs of fixing the bug, for the given API, are well understood. The maximum error today is limited by the fact that you can't have a base sum over `long.MaxValue`, extending this will increase the maximum error possible for the result returned from the API and will likely just better expose an existing issue with the API that people will have to deal with instead

[2019-09-06 14:20] tannergooding commented on #40620
There are other potential mitigations to help reduce the rounding error (you could compute the average as `decimal` and then `return (double)decimalAvg;`); but they come with trade-offs such as potentially changing the existing result returned for certain sums (and in some cases, they won't change the result at all because the nearest value is up to 1024 away).

[2019-09-06 14:24] TomChalkerApption commented on #40853
Fixed by using a new project _Imports.razor to define imports

[2019-09-06 14:24] #40853 closed

[2019-09-06 15:02] olcayseker commented on #40850
I can confirm that, Linux host users should downgrade or upgrade kernel to build successfully. For me, i upgraded my Ubuntu host to kernel 5.2.12 and everything is fine now. There is nothing to do for sdk and runtime containers actually.

[2019-09-06 15:26] jkotas commented on #40846
The blog post has answer to this too. From https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/ :

[2019-09-06 15:36] Maximys commented on #22098
Is this bug fixed? Today I had spend whole day for understand what's going wrong with my microservice (.NET Core 2.2). On my developer PC with Windows 10 everything works fine, but on Docker with CentOS my microservice goes to invalid link ("file:////helloWorldService/getInfo").
I had try to reproduce this behavior on my PC (the same appconfig, the same environment variable), but no luck. Then, I

[2019-09-06 15:56] serbrech commented on #33179
Same here. I'm trying to run the azure pipeline agent in a debian10 container. I installed dotnet runtime `3.0-preview9` hoping this would be be resolved, but I hit the same issue :

[code]

[2019-09-06 16:05] MichaelSimons commented on #40850
I logged a Docker issue for this as well because they are involved - https://github.com/moby/moby/issues/39875

[2019-09-06 16:14] stephentoub opened #40890 "GetInstance_ExpectedCurrent_ReturnsExpected failed in CI on uap"
uap-Windows_NT-Debug-x64-Windows.10.Amd64.ClientRS5.Open
https://github.com/dotnet/corefx/pull/40867
[code]

[2019-09-06 16:17] stephentoub commented on #40773
Looking over our usage of RemoteExecutor.Invoke, a lot of it is due to UAP's CultureInfo.CurrentCulture being process-global rather than thread-local.  We could remove many of these if we stopped running these tests on UAP.  Alternatively, or in the interim, we could change many of these call sites to use a RemoteExecutor.InvokeIfUap that invoked the delegate remotely if it was uap and locally/syn

[2019-09-06 16:29] tarekgh commented on #40773
I prefer that, just in case we'll need to get that back in the future for any reason. But I would be OK either way.

[2019-09-06 16:31] karelz commented on #22098
This was fixed in 3.0. Did you try one of the latest Previews?

[2019-09-06 16:42] #38801 closed

[2019-09-06 16:43] davidsh commented on #38547
Disabled on UAP with PR #40875

[2019-09-06 16:43] #38547 closed

[2019-09-06 16:52] karelz commented on #19914
I am confused as what exactly is wrong and what are the options. This issue is pretty confusing and going in many directions over time, which is not helping :(
@marek-safar do you know which code depends on which internal Framework members?

Latest System.Net.Http package is direct copy of Framework sources to cause as few problems with .NET Framework compat as possible. I would be hesitant to tak

[2019-09-06 16:56] davidsh commented on #40881
@wfurt @tmds

[2019-09-06 16:59] joshudson commented on #35095
Here is a demonstration. The certificates are test certificates.

The key to understanding this code is we need to tear down an SslStream without ever calling Write() or Flush() to avoid a hang.

[35095.zip](https://github.com/dotnet/corefx/files/3584831/35095.zip)

The original test harness has the following comment:

                // If you are getting error "The token supplied to the function

[2019-09-06 17:02] Trolldemorted opened #40892 "PipeReader.ReadAsync can return empty segments"
I just noticed that segments in a ReadResult can be empty:

![grafik](https://user-images.githubusercontent.com/10261186/64445911-ce590f80-d0d7-11e9-846d-ae255df18171.png)
I assumed that the first segment was never empty, so I often use `result.Buffer.First.Span[0];` to access the first byte.

Is this intended behaviour? Can this be caused by me writing to the pipe in a wrong way? This is how I fi

[2019-09-06 17:03] JeremyKuhne commented on #37030
@jaredpar, here is another example of where `local` would be extremely useful.

[2019-09-06 17:07] JeremyKuhne commented on #40871
Perhaps `int skip` would be clearer? I had to think this through a couple of times when I first saw it.

[2019-09-06 17:11] JeremyKuhne commented on #40870
We should consider adding `skip`/`start` to align with #40871. It isn't as necessary in this case as we're moving the reader forward (unlike peeking, where there is no way to skip without rewinding), but it would improve perf a little.

[2019-09-06 17:12] JeremyKuhne commented on #40885
#40870 addresses this I believe.

[2019-09-06 17:15] TylerBrinkley opened #40893 "Make generic collection interfaces implement non-generic collection interfaces"
When dealing with collections from a non-generic context such as a serializer you must access the collection through the non-generic collection interfaces. Sometimes you can just cast the collection to the non-generic collection interface but when the collection does not implement the non-generic interface such as with `HashSet<T>` you must then use some reflection and wrap the collection in a new

[2019-09-06 17:15] fengzhenqiong commented on #40620
If use Decimal fallback approach the `Int32` Average can get rid of this issue as `Int32.MaxValue * Int64.MaxValue` is less than `Decimal.MaxValue`.

But the `Int64` version Average still have this problem.

[2019-09-06 17:16] JeremyKuhne commented on #40871
#40845 is the single element version of this.

[2019-09-06 17:21] JeremyKuhne commented on #40871
I have mixed feelings about taking a `start` of `SequencePosition`. My first inclination is to have it also take `int skip`. Trying to position from the start of the sequence is potentially really expensive and it introduces another possible error state (the `SequencePosition` not belonging to the `Sequence`).

[2019-09-06 17:21] Maximys commented on #22098
Thanks, @karelz . No, I did not try.
May be Microsoft can make hotfix for .NET Core 2.2?

[2019-09-06 17:22] krwq commented on #37770
@blelem I'll fix the Flush problem soonish. Seems the extra 0 I've seen is unrelated to the tcflush/tcdrain call I'm making - it only happens on 1st byte for me and seems to be specific to the device I use

[2019-09-06 17:24] danmosemsft commented on #40850
@MichaelSimons can we close this issue now then?

[2019-09-06 17:27] JeremyKuhne commented on #40845
I think a better choice here would be:

[code]

Picking an arbitrary start position makes the reader confusing- it has a position and is mostly forward-only. In addition the perf characteristics would be way out of line with the related methods.

[2019-09-06 17:32] mikeharder commented on #40850
@danmosemsft, @MichaelSimons: Just so you know, I believe this is still an issue on Azure Ubuntu VMs.

[2019-09-06 17:38] jkotalik commented on #40892
@davidfowl @pakrym IIRC I believe this behavior can happen based on how the pipe advances internally. I remember you two had a conversation about it. Is it possible to check if the first segment is empty before returning the ReadResult?

[2019-09-06 17:53] tmds commented on #22098
@karelz @Maximys the behavior is by design and hasn't changed since 2.0. See https://github.com/dotnet/corefx/issues/22098#issuecomment-504500695.

[2019-09-06 17:53] softworkz commented on #40870
The problem I'm seeing with this approach over my other suggestion here (https://github.com/dotnet/corefx/issues/40885) is the code flow.

1. You might not always want to actually consume and advance
2. You might want to read from another position
3. You don't want to check the return value each time:
  When parsing certain protocols, you'd rather want to check the remaining content for parsing on

[2019-09-06 17:59] madmir opened #40897 "Make NameValueCollection.HasKeys() method virtual and override it in WebHeaderCollection"
This suggestion is order to provide a fix for #33628.

**AllKeys** and **Keys** are overridden in WebHeaderCollection, but we are unable to change behavior of related **HasKeys()** method. This causes inconsistency described in aforementioned bug report.

**InternalHasKeys()**, as it's currently defined, seems to be redundant as well.

### Current
[code]
### Proposed
[code]

[2019-09-06 18:01] Trolldemorted commented on #40892
Just FYI, this behaviour does not occur in my setup if I read the inflate stream's output into a dedicated buffer, and `WriteAsync` the buffer into the pipe.

[2019-09-06 18:02] davidsh commented on #25752
Unfortunately, this is still a limitation for UWP apps regardless of the capabilities you enable in the UWP Package.appxmanifest file.

If this functionality is required for your app development, I suggest you submit to the portal here:
https://wpdev.uservoice.com/forums/110705-dev-platform

Perhaps a future Windows platform SDK will enable these APIs to work for UWP apps.

At this time, we will c

[2019-09-06 18:02] #25752 closed

[2019-09-06 18:06] davidsh commented on #25346
At this point, I believe that System.Net.Sockets tests have no significant issues remaining.

If there are still System.Net.Sockets tests that require enhancement, please open a separate issue/PR with details about tests need changes.  Thanks!

[2019-09-06 18:06] #25346 closed

[2019-09-06 18:11] davidsh commented on #24439
@agr

There have been several changes to System.Uri for localpath properties for .NET Core 3.0.

Please try out the latest preview:
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-9/

If this is still a problem, please open a new issue.

[2019-09-06 18:11] #24439 closed

[2019-09-06 18:15] davidfowl commented on #40892
Ugh yes we need to try to solve the empty segment problem. It’s a real PITA to deal with that today. Honestly I’d rather try to fix it with ReadOnlySequence itself but we’d need to measure the impact.

[2019-09-06 18:15] davidsh commented on #20470
At this point, we are going to live with this behavior.

[2019-09-06 18:15] #20470 closed

[2019-09-06 18:21] davidsh commented on #22158
This is already being tracked in Windows bug database.

[2019-09-06 18:21] #22158 closed

[2019-09-06 18:24] JeremyKuhne commented on #40870
The `TryPeek` APIs #40871 should address that part of it.

I don't think we should be turning the reader into a random access reader. The APIs are specifically designed around performance, skipping around to random `SequencePositions` is expensive and will increase the cognitive overhead on how to use the reader efficiently.

Only our positioning APIs throw, and they never should if your code is w

[2019-09-06 18:37] davidsh commented on #37775
I don't think we have this failure/hang recently. And the referenced CI run is not available anymore (mc.dot.net is not available). So, I will close this issue for now.

[2019-09-06 18:39] davidsh commented on #39059
I don't think we've seen this fail recently. Currently this isn't actionable since we can't repro it. So, I'll close this for now.

[2019-09-06 18:39] #39059 closed

[2019-09-06 18:41] davidsh commented on #36818
As you mentioned, it seems to be working for you now. It could have been issues in your networking environment that was causing timeouts.

There isn't anything actionable for us based on this current report. So, we'll close this for now.

[2019-09-06 18:41] #36818 closed

[2019-09-06 18:42] steveharter opened #40898 "Normalizing casing for property names in JsonException.Path helps deserialization performance"
Creating this issue to discuss feasibility of getting this into 5.0. cc @pranavkm @ahsonkhan @rynowak

If we remove support for using the literal JSON value for `JsonException.Path` we can get a ~5% end-to-end performance improvement during deserialization when using `options.CaseInsensitivePropertyNames=true` (which is the default for ASP.NET). Allocations are also reduced by ~30% (depends on pro

[2019-09-06 18:45] davidsh commented on #24394
Closing due to age. We can revisit potential UWP test failures if they occur again during CI testing.

[2019-09-06 18:45] #24394 closed

[2019-09-06 18:55] jkotalik commented on #40892
What impact would it have?

[2019-09-06 18:57] softworkz commented on #40870
I have written high performance parsing code and the bottom line was that I was faster by copying to a byte array and parsing from there than by using the insufficient crippled API of the SequenceReader in its current form.

You're exactly hitting the problem here: "**part** of it"

Now tell me, which code should a consumer of this API write, when he don't need to peek for a byte, but for an unsig

[2019-09-06 19:03] stephentoub opened #40899 "Message_ShouldFormatCountOfRootCausesUsingTheCurrentCulture test failed in CI on UAP"
[code]

[2019-09-06 19:03] stephentoub commented on #40899
Ironically this failed on https://github.com/dotnet/corefx/issues/40773.

[2019-09-06 19:04] #40890 closed

[2019-09-06 19:04] #40799 closed

[2019-09-06 19:06] #40842 closed

[2019-09-06 19:09] pakrym commented on #40892
ROS is very performance sensitive and we would have to add empty segment skipping code to multiple very hot paths (construction, First, enumeration etc)

[2019-09-06 19:09] JeremyKuhne commented on #40870
No API is going to address every use case. I'm not sure what you're suggesting here.

We have [binary reader extensions](https://docs.microsoft.com/en-us/dotnet/api/system.buffers.sequencereaderextensions?view=netcore-3.0). We didn't put peek versions of those as there was no request. Please feel free to create a proposal if you think it's useful. You can build the same sort of helpers in the mean

[2019-09-06 19:15] JeremyKuhne commented on #40871
Also note that we already have `TryCopyTo` which does effectively this. We should consider adding the matching API.

[code]

[2019-09-06 19:22] wfurt commented on #40881
can you post runable repro demonstating the problem @matthew798? There is nothing special .NET does AFAIK so it should mimic OS behavior. It should be also easy to verify if SO_REUSE* has any impact by adding that to the C example.

[2019-09-06 19:25] softworkz commented on #40870
What proposing here is the functionality that any of those helper methods would need to implement. So why should we propose a hundred helper method when a single method would be sufficient?

Those 6 extension methods that you are referencing is just a minimal subset of methods available from `BinaryPrimitives` for example.

Also, .NET Core recently added hundreds of various TryParse(..) overloads

[2019-09-06 19:39] danmosemsft commented on #40888
I don't know this code I just scanned it. But should this handle be explicitly disposed somewhere? @JeremyKuhne @carlossanlop

https://github.com/dotnet/corefx/blob/bca549851e2b24eceb1968a4a8ebab5f2ba4f7f2/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.OSX.cs#L143

[2019-09-06 19:40] danmosemsft commented on #40893
I'm sure there is lots of historical context here -- @terrajobst

[2019-09-06 19:41] danmosemsft commented on #40877
`netfx-Windows_NT-Release-x64-Windows.10.Amd64.ClientRS5.Open`

netfx so we just disable then ?

[2019-09-06 19:42] safern commented on #40877
Since it is netfx, let's just skip it in that framework.

[2019-09-06 19:51] davidsh commented on #40204
I've sent email to Windows SCHANNEL team asking for guidance.

[2019-09-06 19:53] softworkz commented on #40845
You mean that this method should actually advance the reader?

[2019-09-06 20:28] davidsh commented on #40204
@alexkeh

Initial feedback from the Windows SCHANNEL team is that 0-length application_data messages are not currently supported.

Have you tried .NET Core on Linux to see if it works there?  On Linux, .NET Core uses OpenSsl mostly (or MacOS specific libraries).

Do you have a simple repro/server that can generate these 0-length messages? That would be useful to help further troubleshooting.  Than

[2019-09-06 20:36] davidsh commented on #38047
Haven't seen this failure lately. Closing issue.

[2019-09-06 20:36] #38047 closed

[2019-09-06 20:37] davidsh commented on #38046
Closing due to age. Let's see if we can get a fresh failure with a dump or other repro'able information.

[2019-09-06 20:37] #38046 closed

[2019-09-06 20:46] davidsh commented on #40725
@fawdlstty What operating system is this? Windows? Linux? Can you show the output of "dotnet --info"?  Are you running on a VM (virtual machine) or docker container image?

[2019-09-06 21:29] JamesNK opened #40904 "HTTP2: Canceling token given to HttpClient.SendAsync does not send RST_STREAM"
Found by a customer: https://twitter.com/stevejgordon/status/1169995743568048129

This is a high impact bug. A user will cancel a streaming gRPC call on the client, but the server will never be notified. If the server is checking `CancellationToken.IsCancellationRequested` then it will hang open forever.

This is a regression of https://github.com/dotnet/corefx/issues/38391

Related: https://githu

[2019-09-06 21:32] davidsh commented on #40904
@wfurt @geoffkizer @stephentoub

[2019-09-06 21:34] stephentoub commented on #40904
@JamesNK, what version?  Is there a repro?  How does it differ from the test @wfurt says he added?  Etc.

[2019-09-06 21:36] JamesNK commented on #40904
I'm writing a regression test now.

[2019-09-06 21:37] JamesNK commented on #40904
[code]

[2019-09-06 21:45] geoffkizer commented on #40904
To echo what @stephentoub said: how is this different from existing tests we have, either for GRPC or HttpClient? We know that cancellation does send RST_STREAM for the tests we have, so what's special about this?

[2019-09-06 21:55] JamesNK commented on #40904
Repro and description of the test added.

[2019-09-06 21:58] davidsh commented on #39824
Windows 7 doesn't support ALPN. Hence, Windows 7 doesn't really support HTTP/2.

This is an Outerloop test. It talks with an external server. The errors being returned:

[code]

look like a transient networking problem when certificate checking is being done on the certificate from our external Azure test server endpoints. I don't think we see this failure all the time during CI. So, I'm going to

[2019-09-06 21:58] #39824 closed

[2019-09-06 22:00] JeremyKuhne commented on #40870
No. I'm suggesting you create `TryPeek` equivalent set of the things you want, if you want them. If you don't, that's ok.

I don't see how understand how your proposal provides more functionality then this proposal or the "peek" option that doesn't advance the reader. Yes, you can do it inline, but I've already gone into the reasons why we are unlikely to do that. If you have examples to demonstra

[2019-09-06 22:03] geoffkizer commented on #40904
In duplex scenarios, once SendAsync completes, the token you passed to it won't cancel the request anymore. See discussion in #39049.

What will cause the request to be cancelled is:
(1) If you throw while sending the request body. It sounds like in this scenario, the request body is already completed. Correct?
(2) If you dispose the response body before we've received it all, then we'll cancel th

[2019-09-06 22:05] JeremyKuhne commented on #40845
No, the peek methods shouldn't advance the reader at all. The idea here is that you can peek ahead for a value without having to get a set of values or rewinding the reader. Say, peek for a CR then peek again for a LF, rather than a CR/LF (as a simple example).

[2019-09-06 22:07] JamesNK commented on #40904
I got the impression from reading the issue that the opposite was true.

[2019-09-06 22:07] davidsh commented on #40904
What does "fully received" even mean here?  When would it be fully received? The server is simply streaming messages constantly. Although at some point the server will stop.

[2019-09-06 22:09] geoffkizer commented on #40904
See: https://github.com/dotnet/corefx/issues/39049#issuecomment-509871804

[2019-09-06 22:09] JeremyKuhne commented on #40871
We can review this, but I really am hesitant to introduce complete random access to the reader. Skipping ahead a bit makes sense to me, but arbitrary positioning is expensive and confuses the prevailing model here.

[2019-09-06 22:10] geoffkizer commented on #40904
Meaning we've received the end of the response stream (EndStream flag)

[2019-09-06 22:11] JamesNK commented on #40904
Hmmm, ok. I was sure this worked at this point: https://github.com/dotnet/corefx/issues/38391

Theory: Maybe what was fixed then was that disposing wasn't sending a cancellation.

[2019-09-06 22:12] wfurt commented on #40904
it should be clear from packet capture that we either should reach end of stream or send RST, right @geoffkizer ? If not that means operation did not finish and that would be bug.

[2019-09-06 22:13] geoffkizer commented on #40904
Yep. Trying to look now, but wireshark is being weird.

[2019-09-06 22:17] JamesNK commented on #40904
I think the current behavior is unexpected, but if there is no time to rethink/improve it in 3.0 then this could be fixed in the gRPC client. We can dispose the HttpResponseMessage on cancellation.

[2019-09-06 22:19] davidsh commented on #40897
It would be a breaking change to remove a method such as this:

[code]

from the `NameValueCollection` type. So, this API proposal would have to be reworked to not be breaking existing usage.

[2019-09-06 22:19] softworkz commented on #40845
Ah ok. So what are you implying by changing:

`bool TryPeek(int count, out T value);`

to

`bool TryPeek(int skip, out T value);`

Was it just about a better parameter naming then?

[2019-09-06 22:21] softworkz commented on #40871
TryCopy does copying. The purpose of this API is to go without copying data (except when crossing segment boundaries).

[2019-09-06 22:23] geoffkizer commented on #40904
Unexpected in that you expect the cancellation token from SendAsync to cancel the request, even after SendAsync completes?

I agree it's not obvious. We went around on this in #39049, and this is where we landed. For better or worse, I think it's too late to change this.

[2019-09-06 22:24] JeremyKuhne commented on #40870
For the proposal example, here is what you currently would have to write:

[code]

With this proposal it becomes:

[code]

It's more awkward for a span in the current code as you'd have to use `TryCopyTo` and manage your own span buffer. Presumption is the span API here would allocate an array like the other APIs do when it has to.

[2019-09-06 22:25] geoffkizer commented on #40904
The wireshark trace shows:

(1) Client sends a POST and full request body
(2) Server sends response headers and then sends partial response body chunks every ~1 second

So it looks like what's happening here is that because GRPC never disposes the response body, we are never sending a RST_STREAM. Changing GRPC to dispose the response body should fix this.

[2019-09-06 22:27] JeremyKuhne commented on #40845
Yep.

[2019-09-06 22:30] JamesNK commented on #40904
Confirmed disposing HttpResponseMessage works and no other gRPC unit tests regressed.

[2019-09-06 22:31] softworkz commented on #40870
With my proposal (https://github.com/dotnet/corefx/issues/40885) it's a one-liner:

`var myValue = BinaryPrimitives.ReadUInt32BigEndian(reader.GetSpan(offset, 4));

`

PS: I need UInt32, not Int32 - what would I do currently (except casting)?

[2019-09-06 22:31] JeremyKuhne commented on #40871
Sure, I'm suggesting that we add the same "skip" concept to `TryCopyTo` as well.  The proposal I'm happy with is:

[code]

[2019-09-06 22:31] softworkz commented on #40845
I apologize - I misunderstood.

[2019-09-06 22:34] davidfowl commented on #40870
With your proposal what gets returned when length exceeds the bounds?

[2019-09-06 22:34] JeremyKuhne commented on #40870
Just cast, there is another discussion bout adding the unsigned overloads. There is no cost to casting, which is why we didn't add them originally- just trying to be deliberate in adding API so we didn't end up with a really huge surface area.

[2019-09-06 22:37] geoffkizer commented on #40904
I should add that the discussion in #39049 doesn't really apply here because it's not duplex.

It's always been the case that when you use ResponseHeadersRead and SendAsync completes, the cancellation token passed to SendAsync will no longer cancel receiving the response. This is how it works for HTTP/1.1 too.

[2019-09-06 22:44] softworkz commented on #40870
An IndexOutOfRangeException. I have written parsing code that is processing large volumes of data and there's just a single try catch at the very top of the call stack.
Jeremy pointed out that high performance code should not use Exception handling and I agree in a way that it should not be used for controlling code flow.
The caller can check if there's enough data for calling, so IMO it's legit t

[2019-09-06 22:48] softworkz commented on #40871
@JeremyKuhne - I think we're coming from totally difference experiences in using this API.
Would you mind reading my conversation with David [here](https://github.com/davidfowl/TcpEcho/issues/15)?

I would make the same suggestion to you as I had written there:

I think this would help getting a better understanding about the requirements when trying to parse content using the SequenceReader.

[2019-09-06 22:52] JeremyKuhne commented on #40870
There is also some cost to adding the throw in the reader as well. I spent over two months getting the fast path as fast as possible- adding a single line or method call can measure in some of the cases.

Perf not withstanding, we didn't go that route with the design here so it would not align with the rest of the API.

[2019-09-06 22:54] matthew798 commented on #40881
Why yes I can. This is a small test I wrote to illustrate the problem in dotnet. It creates 4 sockets:
1. Local, bound and *unconnected* socket. Bound to: `localEp`
2. Local, bound and *connected socket. Bound to: `localEp` and connected to: `remoteEp`
3. Remote, bound and connected socket. Bound to: `remoteEp` and connected to: `localEp`
4. Remote, bound and connected socket. Bound to: `remoteEp2

[2019-09-06 23:00] JeremyKuhne commented on #40871
I actually wrote the reader with @ahsonkhan writing the JsonReader on top of it. We iterated for months to squeeze as much perf as we could out of the abstraction.

The JsonReader didn't use it ultimately as we wanted to get the absolute fastest performance for it, and any abstraction will add some overhead. Just making a method call was enough to impact the sorts of perf goals we were trying to r

[2019-09-06 23:25] wfurt commented on #38084
I see 826 failures in last 90 days on multiple Linux distributions. Last failure 8/27

[2019-09-06 23:28] softworkz commented on #40870
The check for the condition ("buffer long enough") is required in either case.
How would some conditionally called code affect performance by its sole existence as long as it's never called?
Or is the compiler adding some MSIL stuff due to the fact that the method could throw?

[2019-09-06 23:31] wfurt commented on #37899
last failure7/27 and it was failing consistently before on single queue. Probably broken by upgrades on environment. Not actionable now.

[2019-09-06 23:35] softworkz commented on #40871
My project is completed but I would still be interested in that code how you managed to do that using SequenceReader. Was it a char or a byte sequence and how did parse values without copying? How did you determine the length of string values to parse?

[2019-09-06 23:40] JeremyKuhne commented on #40870
When we do throw we use throw "helpers" in these critical paths which put the throw in another method as a throw prevents the method from getting inlined. Just having another method call can also impact the ability of the JIT to inline / optimize in other ways. For the fast paths the overhead is very, very small so seemingly trivial things can have a measurable impact.

[2019-09-06 23:42] JeremyKuhne commented on #40871
@ahsonkhan can you speak to @softworkz questions about parsing JSON with the SequenceReader? Perhaps point to an iteration where we still had the `SequenceReader` actively in use?

[2019-09-06 23:46] softworkz commented on #40870
I understand, but I'm not sure if the impact can be really significant considering that even the most elementary members are throwing exceptions - just think of an array's item accessor.

[2019-09-06 23:49] karelz commented on #40904
Looks like this is by design, closing.

[2019-09-06 23:49] #40904 closed

[2019-09-06 23:54] safern opened #40909 "Do a sanity check of our ref assemblies to see if any struct is missing a dummy field"
Based on the following discussion: https://github.com/dotnet/standard/pull/1500#discussion_r321741920

We should do a sanity check to find out if we're missing any dummy field from any significant structs in our ref assemblies.

cc: @stephentoub @ahsonkhan @ericstj

[2019-09-06 23:54] davidsh commented on #37962
We had several loopback based tests failing on OSX during that time. Since then we haven't seen any problems.  Closing for now.

[2019-09-06 23:54] #37962 closed

[2019-09-06 23:55] davidsh commented on #37432
Not currently actionable. Closing for now.

[2019-09-06 23:55] #37432 closed

[2019-09-07 00:03] JeremyKuhne commented on #40870
Sure, bounds checking period has a cost and it is enough to measure in the fast paths here where you're effectively just doing Span operations. There are some incredibly subtle JIT interactions we're considering in the implementation here- matching arguments to sub methods, having a single final return, etc. As I mentioned, we spent months flogging this code, running perf measurements and looking

[2019-09-07 00:09] scalablecory commented on #40888
@wfurt was recently looking at `FileSystemWatcher` on OSX

[2019-09-07 00:17] davidsh commented on #34407
@wfurt

What "problem" does it fix?  The original problem reported in this issue?  Or something else?

This discussion thread has drifted from the original issue reported. It seems the theory is that the original issue is fixed already in .NET Core 3.0. Is that right?

[2019-09-07 00:18] terrajobst commented on #40893
Adding a new interface to an existing interface was a source breaking change. DIMs *might* allow us to do that, but we recently discussed this in the context of the read-only interfaces and concluded that this can result in ambiguity of the default implementations ("shared diamond"). We'll have to go through the motions of seeing what common implementers are doing and convince ourselves that share

[2019-09-07 00:37] wfurt commented on #34407
yes, it fixes originally reported issue e.g. failure to negotiate SSL with mailjet.com with 2.x.

I could reproduce original issue with 2.1 and 2.2 and it works for me with 3.0. There was no feedback from @kspearrin if that is also true for him.

[2019-09-07 00:40] wfurt commented on #40888
I can take a look as well I can run repro on Linux for comparison. Also note that there was issue with Sockets that in some cases underlying handle would not be properly closed. That would show up if you target 2.1 even if you use 3.0 SDK.

[2019-09-07 00:44] ScotMac commented on #40204
@davidsh  i believe a simple SSL connection, that, after the handshake, just has the client do a read and the server send a application data record of the format: 0x17 0x03 0x03 0x00 0x00
will reproduce the problem.

[2019-09-07 00:47] matthew798 commented on #40881
Just a quick update. I tried setting SO_REUSEPORT in the DTLS server example at it works just fine. I was able to connect two clients simultaneously. I'll try working on an equivalent example in c, but as I mentioned it's far from being my strong point.

[2019-09-07 01:00] softworkz commented on #40870
A few months ago - when I was struggling trying to make some reasonable use of ReadOnlySequence - I've been reading through a lot of discussions here on that subject involving @stephentoub and @davidfowl and a few others from which I gained the impression that - under acknowledgement of the limited accessibility of the ReadOnlySequence API - there should be introduced something allowing some real-

[2019-09-07 01:03] wfurt commented on #40881
good to know. I'll try you repro code to see if I can dig out more information.

[2019-09-07 01:23] karelz commented on #40204
@ScotMac can you please create such repro and try it on Linux? That would be very helpful. Thanks!

[2019-09-07 01:27] grant-d commented on #26528
Question about behavior.
Compare the existing idiom:
[code]
Note the final `""` on the _rhs_ boundary.

If we use a comparable `Range` enumerator instead (per this issue), then the results would _ostensibly_ be:
[code]
The final value is not possible due to `start=6` is `IndexOutOfRange`.
So we have a different semantic to the existing idiom.
Do we emit a final value regardless, even though it's n

[2019-09-07 01:36] danmosemsft commented on #26528
@terrajobst?

[2019-09-07 01:57] matthew798 commented on #40881
@wfurt I tried my absolute best to whip something up in C for you to test. It doesn't work as is, but rather than give up and throw it away, perhaps you can save some of your own time by tweaking it. Anyway, in the hopes it's useful:
[code]

[2019-09-07 02:01] davidfowl commented on #40870
I don’t think it’s fair to say it doesn’t make using the ReadOnlySequence easier. That may not be the case for your specific scenario but it certainly does it make it easier to use for a majority of other scenarios and also makes several nasty edge cases completely disappear.

[2019-09-07 02:04] davidfowl commented on #40870
It might also be good to have an API like this on ReadOnlySequence directly

[2019-09-07 02:05] JeremyKuhne commented on #40870
The intent was to make it easier to handle cross segment reading, with a high priority on performance given the desire to use this in performance critical situations (e.g. handling web requests). While we didn't purposefully want to make it hard to use, it was specifically designed to be high performance no matter how you use it. That meant that it had to be somewhat aligned with the reality of th

[2019-09-07 02:12] wfurt commented on #35095
I understand what you trying to do @joshudson. However that is against  what SslStream does in normal case. Instead of simple disappearing it tries to send Alert and notify peer that it is going away. Also when underlying socket is being closed, it will at least try to close TCP.

The Dispose() call is not trying to eat any underlying exceptions. Nor we think it should. In this case it is not  Dis

[2019-09-07 02:30] divega commented on #34190
@verbedr any chance you were referring to https://github.com/aspnet/EntityFramework6/issues/1225?

[2019-09-07 02:50] davidfowl commented on #40885
Let’s add this method to ReadOnlySequence directly.

[2019-09-07 03:00] softworkz commented on #40870
I think the problem is that you haven't recognized yet, that there's a much wider range of potential for this technique. You have focused on and optimized for just a small range of specific use cases. But there's more - even cases where performance doesn't play a primary role. That's why I think that API proposals should not only be judged by how it would perform in those specific scenarios that y

[2019-09-07 03:06] davidfowl commented on #40871
Updated the proposal.

[2019-09-07 03:12] ScotMac commented on #40204
@karelz Actually, i believe our test team has tried via our library on Linux. Let me recheck with them and i will let you know the results.

[2019-09-07 03:33] pawelpabich commented on #40846
My comment wasn't precise enough.  The blog post talks about `fix **important** bugs` whereas I am talking about all bugs.

We are running .NET Core 2.2 on Linux in AKS backed by Azure SQL and only a week ago we managed to find a version of `S.D.SqlClient` (4.7.0-preview6.19303.8) that doesn't crash our app.  We've tried more recent versions but they had an unfortunate regression.

In our experien

[2019-09-07 03:57] tmenier commented on #19630
I just ran into this one. You probably have plenty of examples, but just to further confirm @nicholasb90 's hypothesis:

[code]

Is [this](https://stackoverflow.com/a/43871973/62600) a recommended work-around, i.e. using `Uri.UnescapeDataString` on the string before testing it? It makes my example pass but not sure if there are pitfalls.

[2019-09-07 04:40] ahsonkhan commented on #40905
Support for serializing enums as strings already exists if you use the built-in `JsonStringEnumConverter` and pass that in to the `JsonSerializerOptions`:
https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonstringenumconverter?view=netcore-3.0

See other related issues:
https://github.com/dotnet/corefx/issues/38568#issuecomment-509393089
https://github.com/dotnet/corefx/

[2019-09-07 04:40] #40905 closed

[2019-09-07 05:32] fawdlstty commented on #40725
Physical machine os, Win10. I don't have a Linux environment to run in right now, and the question can be reproduced in 2.2 and 3.0 previews.

[code]

[2019-09-07 06:00] wexman commented on #35691
I'm glad if I can help, this thing really is a big deal for me. I have posted a small piece of example code to #18964 if you're interested. (That issue proved to be helpful btw, this is where I gained the insight from)

[2019-09-07 06:48] scalablecory commented on #26528
I think `Range(6,6)` is more appropriate. There shouldn't be any `IndexOutOfRangeException`, because anything using the range shouldn't read >= the exclusive end index.

[code]

[2019-09-07 09:11] ChrML commented on #40830
The server has no preference at all regarding cipher suit ordering, it only lists which cipher suits it supports (with PFS suits being in the list, but not preferred by the server).

Do you mean that adding a CipherSuitePolicy to the code with the wanted cipher suits as a manually sorted list, should make the server prefer them in that order? I was under the impression that CipherSuitePolicy only

[2019-09-07 09:48] marek-safar commented on #19914
The details are in the original log. I didn't check if this property access is the only occurrence but it probably is not.

In more details

NuGet version of System.Net.Http targetting .NET Framework includes code in `HttpMessageInvoker.SendAsync` which calls `System.Net.Logging.On` property in System.dll assembly. The `Logging` is internal class https://github.com/microsoft/referencesource/blob/3

[2019-09-07 10:10] marek-safar commented on #40888
@danmosemsft @karelz this is impacting VS4M, it would be great to prioritize the investigation so we know what the options are for us.

[2019-09-07 10:57] Therzok commented on #40888
Profiling this, I found that the RunningInstance is being alive by these 2 paths. Sadly, there are no field names, as the mono profiler does not report field names.

<img width="675" alt="Screenshot 2019-09-07 at 13 55 37" src="https://user-images.githubusercontent.com/109974/64474048-58a48080-d177-11e9-80ba-39892080b9c7.png">
<img width="649" alt="Screenshot 2019-09-07 at 13 55 34" src="https://u

[2019-09-07 10:58] Therzok commented on #40888
These both keep the EventStreamSafeHandle and EventStreamCallback instances alive, leading to the native one not being released.

[2019-09-07 11:01] Therzok commented on #40888
To note, the System.IO.CoreFX.FileSystemWatcher namespace is due to a change in mono:
https://github.com/mono/corefx/blob/master/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.OSX.cs#L19-L24

[2019-09-07 11:04] Therzok commented on #40888
It's not just the safeHandle, the CancellationToken registration should also be disposed:
https://github.com/dotnet/corefx/blob/bca549851e2b24eceb1968a4a8ebab5f2ba4f7f2/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.OSX.cs#L173

[2019-09-07 11:36] bbartels commented on #26528
Though in the case of Range(6, 6), I think the first element should then be Range(-1, -1) to retain semantic equivalence.

[2019-09-07 14:07] danmosemsft commented on #40888
@therzok if you modify the code to do that can you confirm it solves it?

[2019-09-07 14:25] joshudson commented on #35095
`DisposeAsync` is a good solution so we can close with .NET Core 3.0 release.

[2019-09-07 14:40] davidsh commented on #19914
@marek-safar Thanks for the details.

In a perfect world, we would ship a new fixed version of this package. However, that is impossible now. The source code for the System.Net.Http NuGet package is built out of the release/2.0 branch which is now end-of-life. We no longer can even build a new System.Net.Http package out of the master branch. We no longer have the forked copy of the .NET Framework

[2019-09-07 14:47] #40813 closed

[2019-09-07 15:09] jkotas commented on #40846
Have you tried the most recent nightly version with a fix for #40476? Does it work on AKS + Linux + Azure?

The important bugs are the same type of bugs as what we are fixing in servicing releases: key scenario not working (ASK + Linux + Azure falls into this category), security issues, reliability issues (crash, hang, data loss).

[2019-09-07 16:55] Symbai opened #40920 "API Proposal: NetworkInterface.Enable() / NetworkInterface.Disable()"
At the moment is not possible to toggle a System.Net.NetworkInformation.NetworkInterface state without either using WMI, which does not work all the time or to run cmd/netsh process. It would be much easier and cleaner if there is a C# API for it.

[code]

Usage example:
[code]

[2019-09-07 17:07] FiniteReality commented on #40870
I personally don't like the first overload. It's deceptively simple, and the only sensible approach when it comes up to a boundary would be to fail. For example:

[code]

I would expect this method to return false, as the read could not read the specified number of bytes due to the boundary in the sequence.

This, in my opinion, means that more code will be written to only use the second ReadOnlyS

[2019-09-07 17:09] davidfowl commented on #40870
It wouldn't fail, it would allocate an array.

[2019-09-07 17:16] FiniteReality commented on #40870
That seems a bit odd to me considering most of these APIs seem to be designed to avoid that.

[2019-09-07 17:29] davidfowl commented on #40870
There's already prior art with `TryReadTo`. The `ReadOnlySpan<T>` overload gives you a span if it can in a non allocating slice and will fallback to allocating if it can't. https://github.com/dotnet/corefx/blob/59c6b1ab96aa2e99ed6ecb33a8bcf9283ce1ea27/src/System.Memory/src/System/Buffers/SequenceReader.Search.cs#L80

[2019-09-07 18:09] sharwell commented on #29346
@dbolin To clarify, we're interested in the following sequence

Scenario 1:

Create a _builder_, and add a bunch of items to it

Scenario 2:

1. Create a builder, and add a bunch of items to it
1. _Do not_ call `ToImmutable`
1. Remove the items from the builder

Expected outcome:

1. Scenario 1 should not produce garbage (allocation should match final working set)
2. Scenario 2 should not produce

[2019-09-07 18:15] krwq commented on #40830
@ChrML, yes specifying CipherSuitePolicy manually will do best attempt to respect the given order (both on server and client) but order it is not guaranteed since it's underlying implementation which eventually decides.

SSL_OP_CIPHER_SERVER_PREFERENCE setting will not be changed though with that so I believe it's client order which wins by default (at least with OpenSSL, unsure with SecureTranspo

[2019-09-07 18:21] danmosemsft commented on #40813
Yay for a flaky test caused by actual product issue!

[2019-09-07 19:10] ChrML commented on #40830
@krwq Yes, client order will win by default. This does not matter though, because the SSL Cert rating for the server will only consider what the server prefers. There is a seperate SSL Cert test for clients which considers client ordering, but that is outside the scope of what a server application developer can control.

What is important is that the server has a cipher suit preference. And that t

[2019-09-07 19:14] FiniteReality commented on #40870
I see. Thanks for the clarification.

[2019-09-07 20:18] AnFa1978 commented on #40905
Thx for your support. Was not aware of this feature

From: Ahson Khan <notifications@github.com>
Sent: Saturday, September 7, 2019 06:42
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Falkner, Andreas (SHS DS PS TP) <andreas.af.falkner@siemens-healthineers.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/corefx] Supports for serializing enums to their text name (#40905)

Support fo

[2019-09-07 21:03] dbolin commented on #29346
@sharwell Assuming you mean a builder starting from empty, I'm very confident that it works like you expect.  With a fixed branching factor there's never a need to reallocate mutable nodes.  With HAMTs, the branching factor is anywhere from 2 to 32, so the array of branches must be reallocated whenever that factor changes.  I'm sure the builder can be optimized to do better than mine, but I'd expe

[2019-09-08 02:11] findyoucef opened #40922 "IgnoreNullValues functionality broken"
Setting JsonSerializerOptions property of IgnoreNullValues to true does not work.

When attempting to deserialize a DateTime value that is null in the json string it throws the exception below. I thought setting the option to IgnoreNullValues should ignore the property, no?

converted to System.DateTime. Path: $.value[0].deletedDateTime
InvalidOperationException: Cannot get the value of a token ty

[2019-09-08 04:53] davidfowl commented on #40018
Completing both the reader and writer return the memory to the pool. The Pipe isn't disposable and that's by design

[2019-09-08 04:53] #40018 closed

[2019-09-08 06:28] davidfowl commented on #40892
I think we should at the very least try to avoid empty segments while building up the structure internally.

[2019-09-08 08:02] stevenguh commented on #29346
There are a few reasons, depending what is begin optimized. If we have a full size node (HashArrayMapNode) with a full size array (length of 32 -- branching factor of 32) in each node, then we don't have to use PopCount to find the index of an item. However, for each mutation, we will need to create another full array. On the other hand, if all the nodes are the ‘compressed’ node (BitmapIndexedNod

[2019-09-08 08:44] ViktorHofer commented on #40922
cc @ahsonkhan, @steveharter

[2019-09-08 09:18] kamaruddin-desai opened #40925 "EventLog access is not supported on this platform (Linux)"
# EventLog access is not supported on this platform (Linux)

System.PlatformNotSupportedException: EventLog access is not supported on this platform. An exception is thrown on linux platform(CentOS 7) when trying to read the remote windows host events. The same piece of code is working fine on Windows platform.

# General
`string queryString = "*[System/Level=2]"; // XPATH Query

[2019-09-08 09:32] marek-safar commented on #19914
I think the proposal of not shipping any update to this package makes it easier for Mono to stay on top of things which is good. At the same time, it'd be helpful to mark this package as deprecated or something like that at nuget.org.

[2019-09-08 10:51] roji commented on #40848
Regardless of the above discussion, this does seem to be a documentation bug - the IsolationLevel enum doesn't (and shouldn't) have `[Flags]`. @divega any interesting history here that you're aware of? Will submit a doc PR.

[2019-09-08 10:57] ViktorHofer commented on #40925
EventLog isn't supported on non Windows_NT OS's. https://github.com/dotnet/corefx/blob/8c041484dda3059bd4adebebda939a15ee4a087d/src/System.Diagnostics.EventLog/src/System.Diagnostics.EventLog.csproj#L5

[2019-09-08 10:59] ViktorHofer commented on #16789
@Anipik assigning to you as you will remove the UAP transport package.

[2019-09-08 11:04] roji commented on #40848
Have opened https://github.com/dotnet/dotnet-api-docs/issues/3141 to track the doc discrepancy, will leave this open for @divega to confirm that it shouldn't be possible to combine isolation levels.

[2019-09-08 11:46] GSPP commented on #40496
From using this API a few dozen times I have to say that this `MaxDegreeOfParallelism` is the exact thing that I wanted to set in 95% of the cases.

Elevating a single option to the constructor (as opposed to elevating all of them) is a bit of an impurity on this API. Also, you could set one value through the ctor and override it using a property initializer. IMO, these small impurities are worth

[2019-09-08 12:41] GSPP commented on #40771
I see! Thanks for the detailed reply.

Indeed, all repro cases, which I can generate, have the `/` at the end. This is what triggers single-segment mode.

Closing this since there is nothing to do.

[2019-09-08 12:54] GSPP commented on #40489
Maybe it is better to add a `Deque` and use that as a ring buffer.

[code]

I am in favor of adding a deque to the framework (https://github.com/dotnet/corefx/issues/32790).

[2019-09-08 12:54] GSPP commented on #3126
Maybe it is better to add a `Deque` and use that as a ring buffer.

[code]

I am in favor of adding a deque to the framework (https://github.com/dotnet/corefx/issues/32790).

[2019-09-08 13:12] kamaruddin-desai commented on #40925
1. .NET Core v3.0.0-preview9 or later releases are capable of reading Windows event logs of the remote Windows host is it possible now or in upcoming releases of .NET Core?

2. Its capability will be restricted to reading the Linux Syslogs?

Just looking for the answers of above two questions? 😃

[2019-09-08 13:14] stephentoub commented on #3126
Why is using a `Deque<T>` for this any better than using a `Queue<T>` for this?

[2019-09-08 15:01] #40707 closed

[2019-09-08 17:27] GSPP commented on #3126
@stephentoub That's a good point. I got confused there.

That makes it even less attractive to have a specialized ring buffer structure in the framework.

[2019-09-08 17:34] metaleap commented on #34239
@am11

I never had musl-Void, only ever standard (glibc) Void. However, should note that `dotnet` aborting with `No usable version of libssl was found` was the case for both 2.x and 3.x (preview) for me both back in May when I first tried (didn't notice the env override in thread-wall back then), and still now in Sep when I thought I'd give this another whirl.

Thought I'd mention it since parts o

[2019-09-08 18:20] divega commented on #40848
It is not possible to combine them, as far as I am aware. Since @roji already create a separate issue to track the API docs bug, and the question on how to enable read committed snapshot were answered by @Suchiman and @mburbea, closing this.

[2019-09-08 18:20] #40848 closed

[2019-09-08 18:59] tarekgh commented on #40496
@GSPP thanks for the feedback. the issue is already marked ready for the design review.

[2019-09-08 21:33] pakrym commented on #40892
Wonder if we should make it a rule, don't produce `ROS<>` with empty segments. We won't be able to assert it unfortunately.

[2019-09-08 21:49] stephentoub commented on #21577
This is available via SocketsHttpHandler.SslOptions.CipherSuitesPolicy.

[2019-09-08 21:49] #21577 closed

[2019-09-08 22:03] danmosemsft commented on #40925
For 1 - @Anipik can best answer.

For 2 - there is no current plan. I recommend you open an issue to track the request (proposing how the API should look and behave).

[2019-09-08 22:06] danmosemsft commented on #40920
@stephentoub I believe @karelz 's bot uses "lack of milestone" to trigger the "please triage/respond" emails to area owners, so they can give feedback, etc, and setting the milestone means they won't get that. (?)

[2019-09-08 22:07] stephentoub commented on #22276
The original proposer is now a ghost, the only known ways to do this are very expensive, and no progress had been made in years. Closing.

[2019-09-08 22:07] #22276 closed

[2019-09-08 22:08] #24788 closed

[2019-09-08 22:09] stephentoub commented on #25011
No API proposal in almost two years. Closing.

[2019-09-08 22:09] #25011 closed

[2019-09-08 22:09] scalablecory commented on #40920
@danmosemsft we still get the emails.

[2019-09-08 22:10] danmosemsft commented on #40920
Ah, OK.

[2019-09-08 22:13] stephentoub commented on #25603
I don't see us further extending TaskFactory with convenience methods. It has an unfortunately huge number of overloads making it more difficult to use than we'd like, and I don't think adding additional overloads or methods to it in order to avoid needing Unwrap will help; if anything I think it'll hurt. Thanks, though.

[2019-09-08 22:13] #25603 closed

[2019-09-08 22:14] Anipik commented on #40925
Yes you can read logs from the remote machine in all the available version of System.Diagnostics.EventLog package

[2019-09-08 22:15] stephentoub commented on #25885
Thanks, but we have no plans to move away from the Try pattern, and if we ever did, it would mean a massive overhaul to add a large number of new methods, not just one one-off.

[2019-09-08 22:15] #25885 closed

[2019-09-08 22:28] stephentoub commented on #40920
If we ever have that policy, then we need an SLA that every new issue will be tagged with initial milestone within e.g. 1 day by the area owners, especially at the end of a milestone.

[2019-09-08 22:46] scalablecory opened #40933 "Proposal: Zero allocation connectionless sockets"
This proposal eliminates allocations for connectionless use of `Socket`. It augments the `SocketAddress` class to allow reuse across operations, becoming a high-perf alternative to `EndPoint`.

# Rationale and Usage

APIs which need to translate between `IPEndPoint` and native `sockaddr` structures are performing a large amount of defensive copying and layering workarounds.

This affects UDP perfo

[2019-09-08 23:16] karelz commented on #40920
SLAs are coming independently AFAIK.
Notifications are still useful to allow area owners to subscribe to the new issue(s) manually. Or we would have to have some bot that subscribes people automatically. I assume it is something that can be fine-tuned when we do mono-repo which will amplify the existing problem of monitoring the entire repo.
Let's take the discussion offline if there are more ques

[2019-09-08 23:18] danmosemsft commented on #40920
Yup, we're discussing something of that sort across the repos.

[2019-09-08 23:22] danmosemsft commented on #22276
Sample code for the Restart Manager approach is here
https://github.com/microsoft/msbuild/blob/e70a3159d64f9ed6ec3b60253ef863fa883a99b1/src/Tasks/LockCheck.cs
As well as the cost of the operation, it is also racy.

[2019-09-08 23:44] stephentoub commented on #40933
If the core issue is repeated conversions from EndPoint to SocketAddress, why not cache it on the EndPoint instead?

[2019-09-09 00:12] stephentoub commented on #219
While I see some potential benefit here, we don't have any data to show that this would really be impactful (it's not just about how many call sites can be found, but how frequently the allocations result on hot paths), and this issue hasn't made any progress in years. I don't see that changing, so I'm going to close this. If someone has the time and inclination to do the appropriate analysis acro

[2019-09-09 00:12] #219 closed

[2019-09-09 00:15] scalablecory commented on #40933
Yes, I considered this option. We've been careful to make defensive copies when using `EndPoint`, which indicates to me that this could be a subtly breaking behavior change if `sendto` was suddenly not doing this. Also, given that `EndPoint` has `Serialize` and `Create` to enable `EndPoint` / `sockaddr` translation, it looks like a decision was made to explicitly not bake things into a single clas

[2019-09-09 00:22] stephentoub commented on #2454
We did https://github.com/dotnet/corefx/issues/2454#issuecomment-303475181 for 3.0.  Beyond that, I'm not seeing anything else here that's actionable, so I'm going to close this.  If there's a specific API proposal for something further, please open a separate issue. Thanks.

[2019-09-09 00:22] #2454 closed

[2019-09-09 00:24] stephentoub commented on #17871
We don't plan to do anything related to this.  If a developer wants to eat exceptions, they can do so explicitly.  Thanks for the suggestion.

[2019-09-09 00:24] #17871 closed

[2019-09-09 00:25] ahsonkhan commented on #40771
I think its still worth making things consistent between the two code paths for completeness (hence re-opening). That said, it's unlikely for this issue to cause much concern for most use cases.

I think this should be the expected exception thrown along with byte position set to 2, in both cases.

[2019-09-09 00:29] stephentoub commented on #35441
This effectively exists: `AsyncTaskMethodBuilder<T>` is a struct, provides a `Task` property that returns the associated `Task<T>`, has `SetResult/Exception` methods, etc.  It's meant to be used by the compiler for `async Task<T>` methods, but nothing prevents you from using it directly.

Plus, if someone really cares about this allocation, they're likely going to want to go further and use `Manua

[2019-09-09 00:29] #35441 closed

[2019-09-09 00:34] stephentoub commented on #6371
No proposal has been made for APIs related to this in a couple of years, and we're not going to change behaviors here by default.  I'm going to close this.

[2019-09-09 00:34] #6371 closed

[2019-09-09 00:36] stephentoub commented on #2865
Thanks for the suggestion, but the lack of progress or upvotes here in four years suggests this isn't worth investing in, especially as synchronously blocking on WaitHandles in this manner is discouraged in favor of using async/await whenever possible, so I'm going to close this. Thanks.

[2019-09-09 00:36] #2865 closed

[2019-09-09 00:37] stephentoub commented on #23898
All good thoughts, but functionally it's a dup of https://github.com/dotnet/corefx/issues/15490.  If we ever moved forward on enabling that functionality, either API could be considered.

[2019-09-09 00:37] #23898 closed

[2019-09-09 00:41] stephentoub commented on #22103
Thank you for the suggestion, but we don't plan to do anything to expose this.  Such functionality could easily be implemented however is desired in a library outside of Guid itself.

[2019-09-09 00:41] #22103 closed

[2019-09-09 00:43] M-Boukhlouf opened #40934 "CookieContainer do not handle session cookies (when Expires is not specified)"
# CookieContainer do not handle session cookies (when Expires is not specified)

According to this page: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie

Yet, in this case when the Expires is not specified in this Set-Cookie header:
`Set-Cookie: name=value; path=/store; httponly`
The CookieContainer set the Expires property to "1/1/0001 12:00:00 AM"
Which is expired and the co

[2019-09-09 00:43] stephentoub commented on #519
@mfalkvidd, valid concerns.  At the same time, more recent forward progress has been made on that issue and not on this one, and we don't need two issues covering the same scope, so I'm going to close that one. Thanks, all.

[2019-09-09 00:43] #519 closed

[2019-09-09 00:45] stephentoub commented on #37629
I think so.  But thank you for the suggestion.

[2019-09-09 00:45] #37629 closed

[2019-09-09 00:47] #13909 closed

[2019-09-09 00:53] stephentoub commented on #7580
I understand the motivation here, but this hasn't received attention in the last few years and I don't see that changing in the foreseeable future, so I'm going to close this.  If there are specific places where performance is demonstrably poor in real-world scenarios and where additional APIs would help, those could certainly be considered; in such a case, please open an issue with the specifics

[2019-09-09 00:53] #7580 closed

[2019-09-09 00:57] stephentoub commented on #24161
There hasn't been a lot of expressed interest in this for several years, and such an extension method could easily be implemented in another library, so I'm going to close this.  Regardless, thank you for the suggestion.

[2019-09-09 00:57] #24161 closed

[2019-09-09 00:57] #37095 closed

[2019-09-09 00:59] stephentoub commented on #35371
Dup of https://github.com/dotnet/corefx/issues/32412.  Thanks.

[2019-09-09 00:59] #35371 closed

[2019-09-09 00:59] danmosemsft commented on #40850
@MichaelSimons I imagine the only reason for us to have an issue at this point is if we need to adjust the kernel versions of any docker images we own, which would be better tracked in your repo.

[2019-09-09 01:04] am11 commented on #34239
In the first post, shell script code shown for glibc-based Void has `CLR_OPENSSL_VERSION_OVERRIDE=46` with working hello world example. Third comment probably should have restated it:

On the other hand, musl-libc variant -- at the time -- was having issue with hello world (even with that environment variable set) because corefx build for musl-libc was non-portable (favoring Alpine Linux).  In non

[2019-09-09 01:06] stephentoub commented on #7208
Thank you for the suggestion.  As the functionality in question already exists and this is just about creating a potentially slightly more desirable syntax, that syntax could be enabled by a simple extension method in any library, we generally don't add such extension methods to the core libraries, and this issues hasn't seen meaningful progress in years, I'm going to close this.

[2019-09-09 01:06] #7208 closed

[2019-09-09 01:08] stephentoub commented on #8126
We have no plans to add custom format strings for bool into the core platform.  Thank you for the suggestion, though.

[2019-09-09 01:11] stephentoub commented on #13795
We have no plans to provide additional functionality here.  There are a myriad of solutions available via various serialization libraries for achieving this kind of functionality if what's included in .NET itself isn't sufficient.  Thanks.

[2019-09-09 01:11] #13795 closed

[2019-09-09 01:13] stephentoub commented on #14412
(Removing "api-needs-work", as this issue is requesting that the existing `Convert.ToXx(..., 2)` methods allow for `0b` as a prefix on the passed in string, rather than failing if that's provided.)

[2019-09-09 01:14] stephentoub commented on #16084
The fact that there's no API proposal because there are so many methods highlights why we're not going to do this: it's a ton of work and additional surface area for little gain, and anyone desiring the extension syntax could write those extensions themselves, and even put them in a library on nuget for anyone else to use as well.  Thanks for the suggestion, though.

[2019-09-09 01:14] #16084 closed

[2019-09-09 01:17] stephentoub commented on #25396
There hasn't been any progress on this issue for a couple of years, including no follow-up to the questions posed about whether the significant implications of the proposal still make it useful.  As such, I'm going to close this.  Thanks.

[2019-09-09 01:17] #25396 closed

[2019-09-09 01:24] #18559 closed

[2019-09-09 01:40] stephentoub commented on #16490
I've seen few-to-no real-world cases where this would be valuable, and for those where it's needed, as @jcouv points out a for loop can be used with `ITuple`, or anyone can write the simple extension methods to do this themselves and even publish it to NuGet for others to consume.  Given this has been open for several years with very little interest, I'm closing it.  Thanks for the suggestion.

[2019-09-09 01:40] #16490 closed

[2019-09-09 01:57] davidsh commented on #40934
.NET Cookies don't work exactly the way browsers handle them.  There is no such thing as "session cookies" in .NET.  Cookies are received on the wire or created by APIs. Then they are stored in an in-memory CookieContainer object. If there is no 'Expires' attribute, then they live "forever" in the sense of living in the CookieContainer object. But when the application exits (the one that created t

[2019-09-09 02:00] davidsh commented on #40934
@scalablecory fyi. "Cookie" is part of System.Net namespace.

[2019-09-09 05:57] wfurt commented on #35095
good to know there is some solution for you.

[2019-09-09 05:57] #35095 closed

[2019-09-09 06:07] Daniel15 opened #40936 "System.Text.Json: Serializing IDictionary with nullable value type throws "Specified method is not supported.""
Repro:
[code]

Throws:
[code]

Using `Dictionary` instead of `IDictionary` fixes it.

[2019-09-09 06:44] ahsonkhan commented on #40936
I can repro this issue, but I believe nullable types are not supported, out-of-the-box.

The expected output, presumably, should be the following (which you would get if you had a dictionary/idictionary with non-nullable values): `{"Foo":{"Y2016":42}}`

That doesn't throw NSE, but it wouldn't do what you expect. The output is: `{"Foo":{}}`

cc @steveharter, @layomia

[2019-09-09 06:47] thedrow commented on #8126
I still believe it will be useful. :confused:

[2019-09-09 06:57] ahsonkhan commented on #40922
Here's a sample repro:

[code]

[code]

Note that serialization (i.e. writing) works as expected. The issue is specific to deserialization (reading).

[2019-09-09 07:01] Daniel15 commented on #40936
Why are nullable types not supported? That seems like a really odd omission.

In general I'm hitting many odd quirks with this new JSON serializer (many of which are already documented) so I think I'm just going to switch back to using Json.NET

[2019-09-09 07:16] ahsonkhan commented on #40936
Nevermind, I was mistaken. Nullable types should work. The scenario you shared highlights a bug specific to handling nullable types within dictionaries.

Can you please share some of the issues you are hitting against? I would be interested in hearing that feedback.

[2019-09-09 07:25] Daniel15 commented on #40936
I was trying to use an enum as the key in an `IDictionary`, and the serializer didn't like that (I think that's #40120). There were a few other issues but I forgot to write them down... I'm about to go to bed but I'll take a look at my apps/notes again tomorrow and see what the issues were.

[2019-09-09 08:16] ahsonkhan commented on #38907
Given this issue is about documentation, and we already have a doc published that covers most of the scenarios, moving this to 5.0.
https://docs.microsoft.com/en-us/dotnet/standard/datetime/system-text-json-support

There is just a bit of work left before we can close this issue, which involves closing on the location of the sample:
https://github.com/dotnet/samples/pull/1418
And update the doc ac

[2019-09-09 08:26] martingbrown commented on #8126
@stephentoub what does "have no plans" mean exactly? Why wouldn't we just go and file another case with this same suggestion in it?

[2019-09-09 08:42] mfalkvidd commented on #519
20 days ago the "api-ready-for-review" label was removed from 10013, calling for a survey to be conducted. Since then it seems like nothing has happened. That doesn't sound like forward progress to me ;-)

But if you can make things happen in 10013, please do. I'm just worried it will be mothballed.

[2019-09-09 09:01] verbedr commented on #34190
@divega I think this is a different issue. The ticket is referring to an error at compile time. I experienced the problem at migration time, but the problem is still compiler related.  It happens due to how the compiler names the resources when embedding it in the dll.  The full stack version renamed the resource to match the first class name in the depended cs file. So the resource was not named

[2019-09-09 09:25] jods4 commented on #8126
@stephentoub Maybe a short sentence to explain why this is closed and why people shouldn't open it again?

Having format strings for bools:
- Can be convienent;
- Is consistent with most other primitive types having formatters;
- @martingbrown gives an example where it helps with localization;
- @jnm2 gives an example where it helps with libraries such as reporting;
- Another library where it woul

[2019-09-09 10:14] trivalik commented on #33563
Since 6.2.9 is now released I retried it and got still an issue:

[code]

[2019-09-09 11:35] stephentoub commented on #519
It's been looked at and talked about, leading to that status change. That's more than had happened here.

If it doesn't happen, this one wouldn't either. Deciding to go ahead with an issue doesn't mean it's done exactly as outlined; it effectively represents a desire to explore the space further, whch could mean doing more or less than is described, or something different entirely.

[2019-09-09 11:39] fhoutr01 opened #40955 "DotNetCore 2.2.6 is slow on connecting and publish messages to AWS AMQ"
DotNetCore 2.2.6 on linux takes a long time to make connections and publish messages to AWS AMQ

# General
We run dotnetcore in containers on our OpenShift cluster. Most recently they failed on all environments because they can no longer connect to AWS AMQ. It feels like it's running against a timeout of something. This issue *only* occurs when running dotnetcore on linux.

My linux guest system i

[2019-09-09 11:43] stephentoub commented on #8126
It's been open for years with very little desire expressed for it, there have been very few requests for such functionality in two decades, the entire decision can be expressed in a ternary, a function can be used to implement the transform to make it reusable, string interpolation can be used to simplify the syntax, there are many different things that a bool can be used to indicate and we wouldn

[2019-09-09 11:52] jods4 commented on #8126
Judging by upvotes (7) it's on _open issues_ page 5 out of 102. At the same count you can close the request for a primitive color type and tar support.

no, no, and no.
As explained above.

By the same arguments we don't need format strings at all: neither for dates nor numbers.

I'm sure the demand for formatting bools is a lot less than dates but the reason why it's needed is the same. Even if y

[2019-09-09 12:28] YairHalberstadt opened #40941 "Add generic overloads for Delegate.CreateDelegate"
Currently usages of `Delegate.CreateDelegate` tend to be along these lines:

`(Func<object>)Delegate.CreateDelegate(typeof(FuncObject), methodInfo)`

For complicated delegates, this can be quite annoying and error prone.

it would be extremely simple to add generic overloads

[code]
and it would make the API much nicer to use.

#### API suggestion

The API is simple. We provide a matching generic

[2019-09-09 13:10] stephentoub commented on #8126
reductio ad absurdum.

There are well-established, standardized formats for formatting numbers and date times.  That is not the case for Boolean, which represents a simple choice in arbitrary domains.  How is Serilog going to know that I want my Boolean formatted as "employee"/"customer", "paid"/"late", "dog"/"cat", "a"/"b", "X"/"Y", "up"/"down", "malignant"/"benign", and on for literally thousand

[2019-09-09 13:18] stephentoub commented on #24408
Closing per discussion above. Thanks.

[2019-09-09 13:18] #24408 closed

[2019-09-09 13:20] stephentoub commented on #24835
Closing per the discussion.  Thanks.

[2019-09-09 13:20] #24835 closed

[2019-09-09 13:24] stephentoub commented on #25442
Dup of https://github.com/dotnet/corefx/issues/519

[2019-09-09 13:24] #25442 closed

[2019-09-09 13:26] stephentoub commented on #13757
https://github.com/dotnet/corefx/issues/25666 was opened later and is thus technically the dup of this one, but that one has more discussion, so closing this one as a dup.

[2019-09-09 13:26] #13757 closed

[2019-09-09 13:28] stephentoub commented on #25617
@KKhurin, is this still something you're pursuing now that https://docs.microsoft.com/en-us/dotnet/api/system.gc.getgcmemoryinfo?view=netcore-3.0 was added?  I understand they're not exactly the same thing, but those added APIs were meant to help with scenarios like what you describe as the motivation here.  With that, and with no progress on this issue in two years, I'm tempted to close this.  Th

[2019-09-09 13:29] Wraith2 commented on #40846
Like mars on non-windows being unstable (https://github.com/dotnet/corefx/pull/38271) and command cancellation just not working (https://github.com/dotnet/corefx/pull/38266) which are bug fixes have been open for 3 months, easily in time for 3.0 and yet remain unmerged.

There are politics at work with SqlClient and if support/attention is reduced further i can't see even important bugs being patc

[2019-09-09 13:32] jods4 commented on #8126
@stephentoub You missed the edit I made in my previous comment for clarity.
Yes, the formats are well-known and it would be silly not using them to format dates or numbers.
The important part is that _you can use them in placeholders_.

How would Serilog know? The same way it knows if I want 3 or 4 digits in my numbers. I tell it.
[code]

I am not passionate about this because it only pops up in m

[2019-09-09 13:42] stephentoub commented on #8126
I will re-open this, mark it as api-ready-for-review, and expect it will be closed for good when it's reviewed by the whole review team.  This is not how any other format strings work in .NET, the benefit here is super low, the risk is non-trivial (this will need to change how format strings are parsed in core methods like `string.Format`), and for an example like:
[code]
you can do the same with:

[2019-09-09 14:01] pawelpabich commented on #40846
We've spent quite a bit of time finding the current working for us version so at this stage we will wait for 4.7 to RTM with .NET Core 3.0.

[2019-09-09 14:27] jods4 commented on #8126
@stephentoub once more before this is reviewed and closed for good:

## Why the alternatives are not great

Would you format all your numbers by calling `.ToString("N2")`?
No -- for the same reasons:

**1. Format strings are localizable.**
Interpolation is not. If you want to localize your example, at best you can do:
`string.Format("The kettle is {0}", kettle ? "on" : "off")`
And then localize th

[2019-09-09 14:39] scalablecory commented on #8126
To justify the l10n argument, do we currently have any other context-sensitive format strings? This seems like something that we could take very far and may be better suited for another larger library.

Ignoring that, I don't see a significant benefit over a ternary.

[2019-09-09 14:41] MichaelSimons commented on #40850
@danmosemsft - A Docker container has no kernel inside it; it just installed and started on the kernel which is used on the host.  Because of this, I am not seeing a workaround that can be applied to our docker images.  Are there any potential alternative implementations of Process.MainModule.FileName?

Users affected by this, please chime in on the respective issues https://bugs.launchpad.net/ubu

[2019-09-09 14:50] ExLuzZziVo commented on #26085
Same there. My asp.net core app runs ok in debug mode. But when I run it in release mode I'm getting System.Drawing is not supported on this platform exception. Replacing the System.Drawing.Common.dll with netcoreapp2.0 version does the trick. I think this happens because one of the dependencies of my BLL uses netstandard version of this library(while BLL uses netcore version) and it's getting cop

[2019-09-09 15:13] jkotas commented on #40846
This does not qualify as important bug fix for me. We would not take this fix in servicing release either. This is the kind of fix that I expect to be made in `Microsoft.Data.SqlClient` only.

[2019-09-09 15:23] Wraith2 commented on #40846
It wasn't intended for a servicing release, as i said it's been sat open for 3 months which was more than enough time to get it included in the standard build before 3.0 cutoff. It's just that no-one was interested.

If it's going to get even harder to make any change to SqlClient than it already is then stop pretending to support it in corefx and mark it as dead, Just tell people who find bugs to

[2019-09-09 15:32] qmfrederik commented on #40850
@MichaelSimons `/proc/PID/exe` should be a link to the executable of the current process.

[2019-09-09 15:34] steveharter commented on #40922
Work-arounds:
- Use a nullable type (e.g. `Nullable<DateTime>`)
- Create a custom converter for that type that can handle null

[2019-09-09 16:00] qmfrederik commented on #40850
I just checked, this seems to work on the latest Ubuntu kernel:

[code]

[code]

Perhaps `Process.MainModule.FileName` could use this as a fallback?

[2019-09-09 16:03] jkotas commented on #40846
@Wraith2 I have submitted #40946 to make this clear.

[2019-09-09 16:37] scalablecory commented on #39677
Closing this out as docs were updated for 3.0

[2019-09-09 16:37] #39677 closed

[2019-09-09 16:40] davidsh commented on #30203
Now tracking with https://github.com/dotnet/docs/issues/14310

[2019-09-09 16:40] #30203 closed

[2019-09-09 16:44] davidsh commented on #34550
Now tracking documentation updates with https://github.com/dotnet/dotnet-api-docs/issues/3147

[2019-09-09 16:44] #34550 closed

[2019-09-09 16:45] TylerBrinkley commented on #40893
While it could be useful in reflection-like scenarios, Json.NET uses the [CollectionWrapper](https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/Utilities/CollectionWrapper.cs) and [DictionaryWrapper](https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/Utilities/DictionaryWrapper.cs) classes for this purpose, the fact that the non-generic interfaces do

[2019-09-09 16:45] #40893 closed

[2019-09-09 17:00] gbalykov commented on #38053
fyi, this PR did the trick: https://github.com/dotnet/coreclr/pull/25403

[2019-09-09 17:04] steveharter commented on #40922
There is a question here on correctness and validation. Since the value can never be null anyway, should `IgnoreNullValues` actually ignore "invalid" JSON? i.e. there can be reasons to want an exception in this case.

I compared against Json.NET (using `NullValueHandling = NullValueHandling.Ignore`) and it does ignore non-nullable values on deserialization, so perhaps compat is reason enough.

[2019-09-09 17:14] danmosemsft commented on #40850
Can someone more familiar with the Linux ecosystem please answer this: why would we invest in a workaround for a single kernel version that seems to have a significant, subsequently fixed bug in it? It takes time to do, would exist in the code indefinitely, and presumably would need back porting to several .NET Core releases to be useful.

Perhaps the Linux community will backport a fix to this ke

[2019-09-09 17:16] danmosemsft commented on #40850
BTW historically changes to what we parse from the proc filesystem have had a bug tail because we've discovered edge cases, eg., behaviors varying by kernel version, or in a recent case, we were pulling the process name but it turned out it would not return more than 15 characters. So I'd rather not change what we do here.

[2019-09-09 17:27] jkotas commented on #33563
@trivalik .NET Native for UWP (ie what you are using) is a different product from .NET Core. This bug was not patched for .NET Native for UWP. If you would like to see it patched for .NET Native, the best way to do that is to email dotnetnative@microsoft.com or report the problem via https://developercommunity.visualstudio.com/ .

cc @tommcdon

[2019-09-09 17:30] scalablecory commented on #38825
@chuyangliu you can use multiple instances of `Socket` concurrently, but calling a single instance of `Socket` concurrently is not thread-safe for all scenarios.

Currently, particular to the connectionless (i.e. UDP) methods, they are not currently thread-safe if you use the socket without binding it first.

[2019-09-09 17:30] #38825 closed

[2019-09-09 17:30] karelz commented on #40663
This does not seem to be severe enough to meet the 3.0 bar at this point. Moving to 5.0.
Can someone please clarify what is impact of this but? Is 5.0 sufficient milestone to have it addressed?

[2019-09-09 17:35] tndata opened #40947 "Provide the C# 8 nullable attributes as a NuGet package"
In C# 8 (.NET Core 3) you added new nullability-attributes to allow us to manually annotate types with their nullability.

Located here:
roslyn/src/Workspaces/Core/Portable/Utilities/NullableHelpers/NullableAttributes.cs

Why not provide these attributes as a stand-alone NuGet package, so that legacy packages (.NET Core <2.x / .NET Standard <2.1) libraries can be annotated with these attributes as

[2019-09-09 17:36] karelz commented on #40475
Next step: Disable the test until we have solution.

[2019-09-09 17:39] karelz commented on #40156
@scalablecory looked at it and thinks that this amount of allocations is fairly appropriate for the workload.
Closing as resolved.

If you think we allocate too much, please create a smaller repro demonstrating that. Thank you.

[2019-09-09 17:39] #40156 closed

[2019-09-09 17:45] karelz commented on #39617
Looks like most people are using async for these scenarios. Only 1 complaint so far.
When we fix that, we should add a test.

[2019-09-09 17:47] karelz commented on #39617
This might be fairly straightforward.

[2019-09-09 17:49] karelz commented on #39492
UWP, closing for now. We can revisit later when we re-enable UWP runs.

[2019-09-09 17:49] #39492 closed

[2019-09-09 17:53] karelz commented on #39317
Duplicate of #40933

[2019-09-09 17:53] #39317 closed

[2019-09-09 17:57] karelz commented on #39006
@saixiaohui are you still seeing this problem in production?
We would be interested in enabling some (new) logging and tracing to find out what is going on ...

[2019-09-09 17:59] karelz commented on #37776
Looks like one off - most likely CI flakiness. If there are more occurrences, let's reopen and investigate.

[2019-09-09 17:59] #37776 closed

[2019-09-09 18:05] karelz commented on #37122
I would suggest to use `SetPlatformOption` name.

[2019-09-09 18:10] karelz commented on #35965
@wfurt can you please look at Kusto. If it didn't fail again, let's close it.

[2019-09-09 18:11] geoffkizer commented on #40663
I identified a race in our cancellation logic (see above) that I think is the root cause here, but I haven't been able to confirm that yet. At the very least, I think we should confirm that.

The impact here is that when you are at the stream limit (default 100), and you cancel a stream, there's a race that will occasionally cause us to start the next stream before cancelling the previous stream.

[2019-09-09 18:11] karelz commented on #35716
Duplicate of #35861

[2019-09-09 18:11] #35716 closed

[2019-09-09 18:16] karelz commented on #35410
`Socket` property is protected, but not virtual, which means we should be able to just change its visibility.

[2019-09-09 18:17] tmds commented on #40850
imho this should be fixed in the Ubuntu kernel, because it is unique to that kernel.

[2019-09-09 18:19] KKhurin commented on #25617
GC.GetGCMemoryInfo should be suffice.

[2019-09-09 18:19] #25617 closed

[2019-09-09 18:20] karelz commented on #34355
Triage: Reasonable to fix. Priority is not high.

[2019-09-09 18:22] stephentoub commented on #40850
I agree.  We shouldn't try to work around this in Process.

[2019-09-09 18:28] karelz commented on #32865
It seems we do all that Mono does (@stephentoub). Most likely limitation of OSX.
If there is evidence saying otherwise, please let us know and we can reconsider.

[2019-09-09 18:28] #32865 closed

[2019-09-09 18:33] stephentoub opened #40948 "AttributeArray_SetGetAttributesAndModify_DoesCopy failed in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=345574&view=ms.vss-test-web.build-test-results-tab&runId=10345416&resultId=120899&paneView=attachments
[code]
https://github.com/dotnet/corefx/blob/f610925aee0ee4ad0586f677815dd0601209560f/src/System.ComponentModel.TypeConverter/tests/MemberDescriptorTests.cs#L310-L323

[2019-09-09 18:34] karelz commented on #31206
Triage: We need to understand why `Send` and `SendTo` behave differently.
We need either doc change, or product change, or test added.

[2019-09-09 18:36] karelz commented on #31182
Next step: We need repro

[2019-09-09 18:43] xperiandri opened #40949 "Cannot serialize F# dictionary"
[code]

Throws `NotSupportedException` https://github.com/dotnet/corefx/blob/da1f8120aeec867bbd81829358ed348d323b1d14/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs#L144

Why can it happen if parameters variable is of type `IDictionary<string,string>`?

[2019-09-09 18:44] karelz commented on #30804
@wfurt please take a look at Kusto and close it if it didn't happen recently.

[2019-09-09 18:44] danmosemsft commented on #40850
OK, I'm going to close this then. Thanks @tmds, @qmfrederik

[2019-09-09 18:44] #40850 closed

[2019-09-09 18:48] karelz commented on #29932
Triage: We do not think we need this type of API without clear customer demand and benefit. It can be built on top of our APIs if needed. If it proves to be super-popular, we can always reconsider adopting it into the platform.

[2019-09-09 18:48] #29932 closed

[2019-09-09 18:49] svick commented on #8126
@scalablecory It's not a format string, but there is [`DateTimeFormatInfo.MonthGenitiveNames`](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.datetimeformatinfo.monthgenitivenames) as separate from `MonthNames`, which can help you write a string that contains a date correctly, depending on the context.

(Though it's not quite enough, for example, to correctly translate `$"I'll se

[2019-09-09 18:50] bradwilson commented on #40475
@ViktorHofer wrote:

Assuming that this value is somehow fed into `maxParallelThreads` of 1, then this disables parallelization of execution, but that doesn't necessarily stop things from being started simultaneously. Example:

* Test 1 starts, opens up to listen on port 1234, and then yields the thread with `await`.
* Test 2 starts, opens up to listen on port 1234, and fails.

Additionally, if yo

[2019-09-09 18:54] karelz commented on #29742
Next steps: Re-enable the test and disable it only for RS4.

[2019-09-09 18:58] karelz commented on #28131
`Socket.SendTo` is covered in #35861

Triage: We should give `UdpCient` some Span overloads. Let's use this issue to track such investigation & work.

[2019-09-09 18:59] #15154 closed

[2019-09-09 19:18] safern commented on #24770
I agree with @ianhays old comment, I think to make it less confusing, wouldn't make sense to just make `ICollection.Remove(KeyValuePair<TKey, TValue>` public?

That would also make it consistent with other collections and APIs in the framework where the way to remove is through a `Remove` API which returns a `bool`.

@scalablecory thoughts on that?

[2019-09-09 19:29] JennyLawrance commented on #39505
@tmds The issue in cifs kernel hang is difficult to reproduce on demand. We will try to get a strace if we find a live repro.

[2019-09-09 19:42] ScotMac commented on #32291
MIT client libraries support BOTH the ability to see/utilize the client authentication via LSA *and* a Kerberos5 specific local credential cache (kinit/klist and okinit/oklist for Oracle). Are you saying that you don't support the LSA portion, and only support a local credential cache file?

[2019-09-09 19:48] xperiandri commented on #40949
While this `let parameters = new Dictionary<string,string> (dict <| seq { ("Secret", "secret") } )` works fine.
Looks like there is some bug in logic.

[2019-09-09 19:55] scalablecory opened #40952 "Race in Socket.BeginSendTo"
There is a race in `Socket` when `BeginSendTo` is used on an unbound socket. You can see code for setting `_rightEndPoint`:

https://github.com/dotnet/corefx/blob/da1f8120aeec867bbd81829358ed348d323b1d14/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L2700-L2737

`SocketTaskExtensions.SendToAsync` wraps this and so is also affected.

`_rightEndPoint` is also used in `BeginReceiveFrom` in

[2019-09-09 19:56] SteveSyfuhs commented on #32291
I expect that MIT is just calling SSPI since Windows doesn't expose a way to access cached tickets directly.

My library doesn't touch LSA at all. The cache is rudimentary and doesn't even use a file.

________________________________
From: ScotMac <notifications@github.com>
Sent: Monday, September 9, 2019 12:43:58 PM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Steve Syfuhs <steve@syfuhs.net

[2019-09-09 20:05] stephentoub commented on #40947
cc: @terrajobst, @cartermp

[2019-09-09 20:06] ssg commented on #25666
This actually originates from the discussions to make `GetHashCode` implementations use proven hash algorithms, in order to get better spread of the hash values, to reduce collision and improve performance. There is already an API proposal with methods like "Combine", "Add" to hide mixing logic (xor, bit shift, multiplication etc) behind an interface: https://github.com/dotnet/corefx/issues/14354

[2019-09-09 20:11] mklement0 opened #40953 "Bug in CultureInfo.Clone() causes .Calendar and .DateTimeFormat.Calendar to diverge"
Courtesy of excellent sleuthing by @lpatalas:

Accessing a `CultureInfo` instance's `.DateTimeFormat` property before it is cloned with `.Clone()` unexpectedly causes the clone's `.Calendar` and `.DateTimeFormat.Calendar` properties to reference _different_ objects; from https://github.com/PowerShell/PowerShell/issues/10438#issuecomment-529628273:

Code to reproduce:

[code]

Expected:

[code]

Ac

[2019-09-09 20:13] wfurt commented on #35965
I did not find any reoccurrence of this in CI.
This test failed 4x with Timeout on windows.10.amd64.client19h1.open in last 90 days.

[2019-09-09 20:13] #35965 closed

[2019-09-09 20:14] wfurt commented on #40809
did you have any luck collecting the trace @wjdavis5 ?

[2019-09-09 20:17] alexischr commented on #40054
@buyaa-n The issue on Mono was fixed because some patches were made to fix the issue. I am upstreaming these changes on a PR for this repo now.

[2019-09-09 20:25] wfurt commented on #30804
I did not see any recent Nano failures. I'll leave #25894 to track general instability on Windows.

[2019-09-09 20:25] #30804 closed

[2019-09-09 20:43] scalablecory commented on #40955
Hi @fhoutr01, are you able to try with .NET Core 3.0? We can give you some tracing commands that might help determine if there's something obvious. If nothing comes up there, we will need a minimal repro that doesn't go through an AMQ library.

[2019-09-09 20:44] #25986 closed

[2019-09-09 20:45] lpatalas commented on #40953
Actually accessing `CultureInfo.DateTimeFormat` alone is enough to trigger behaviour described above.

[2019-09-09 20:50] scalablecory commented on #40949
I believe `dict` creates an `IDictionary<>`, so there may be some difference there.

[2019-09-09 20:54] scalablecory commented on #40933
Related: span-based UDP using `EndPoint` #35861.

[2019-09-09 21:02] mklement0 commented on #40953
Thanks, @lpatalas - I've corrected the initial post accordingly.

[2019-09-09 21:04] scalablecory commented on #35861
Can we drop the two methods without `SocketFlags`? Users can specify `SocketFlags.None`. We have dropped these from our async APIs already:

[code]

For async, these would be more consistent with existing `Task`-based APIs:

[code]

(note return values to get endpoint / packet info, and defaulted cancellation token as last param)

[2019-09-09 21:26] scalablecory commented on #40953
Thanks for the great repro!

[2019-09-09 21:35] M-Boukhlouf commented on #40934
False, the whole issue I'm having is that the cookie is treated as if it's already expired, thus it's not used afterwards.

[2019-09-09 21:48] #35012 closed

[2019-09-09 21:59] ahsonkhan commented on #37156
Based on offline discussion with @JeremyKuhne, since we already have the property `UnreadSpan` that returns a slice of the `CurrentSpan`, we should change `ReadToEnd()` to be a property called `UnreadSequence`, which does the equivalent of the following:
[code]

[code]

[2019-09-09 22:07] davidsh commented on #40955
We've had various issues already reported here about Linux SSL performance. Many of those issues have been resolved for .NET Core 3.0. So, it would be very good to try out the latest .NET Core 3.0 preview:
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-9/

to see if the performance issues are resolved for you.

[2019-09-09 22:14] ahsonkhan commented on #40843
Currently, the caller would have to write the following if we don't add `AdvanceTo(...)`:
[code]

The concern with adding an API on `SequenceReader` that takes an arbitrary `SequencePosition` is that it may not belong to the `ReadOnlySequence` that was passed-in to the `SequenceReader` to begin with.

Also, based on discussions with @JeremyKuhne, what happens if the position being passed in to `Ad

[2019-09-09 22:24] wjdavis5 commented on #40809
Ill spend some time on this tomorrow.

On Mon, Sep 9, 2019, 4:15 PM Tomas Weinfurt <notifications@github.com>
wrote:

[2019-09-09 22:43] karelz commented on #35965
@wfurt what are the 4 failures? How do they relate to CI?

[2019-09-09 22:44] ahsonkhan commented on #40845
Are we fine with having to incur the cost of slicing the sequence and fetching the span again (for the API that takes a `SequencePosition`)? The other existing APIs on `SequenceReader` do not have this overhead. This concern would apply to all the APIs that take an arbitrary `SequencePosition`.

Maybe, something like this:
[code]

[2019-09-09 22:47] terrajobst commented on #40909
Related: https://github.com/dotnet/standard/issues/1512

[2019-09-09 22:51] wfurt commented on #35965
They are simple timeouts. e.g. not "strange" error when  we receive more than we send.
[code]

[2019-09-09 23:16] krwq commented on #37122
I do think this API is useful but I personally think we should not have this API in the framework since there is no way we can ever support this correctly on all platforms in uniform way. I'd prefer if someone wanting to set any options just did their own interop. Socket.Handle can be used to get native handle. I don't feel super strongly about this and it will be area owners final decision anyway

[2019-09-10 00:10] divega commented on #40476
@danmosemsft, @cheenamalhotra should this issue be closed now or is it still used to track something?

[2019-09-10 00:11] danmosemsft commented on #40476
It's fixed I believe. @cheenamalhotra feel free to close

[2019-09-10 00:25] davidfowl commented on #40843
That ship has long sailed with any API that takes. SequencePosition. I’m not sure why it’s unique to this API.

This may be a better API on the ReadOnlySequence itself

[2019-09-10 00:26] grant-d commented on #26528
I am busy implementing and noticed there's this overload:
`Split(this ReadOnlySpan<char> span, string separator);`,
but no corresponding overload with:
`Split(this ReadOnlySpan<char> span, string separator, StringComparison comparisonType);`

Is that a spec miss, should I add it?
Or was it intentional, in which case is the behavior `Ordinal`?

[2019-09-10 00:34] #40476 closed

[2019-09-10 00:34] karelz commented on #35965
I don't follow. Either the test has to expect the timeout, or we have a problem somewhere, don't we?
What am I missing?

[2019-09-10 00:57] scalablecory commented on #24770
@safern Dictionaries have avoided operating on `KeyValuePair`, and `ConcurrentDictionary` has a `Try` theme going on. I assume these are the reasons `Remove` is currently explicitly implemented -- it would not be consistent.

[2019-09-10 01:43] JeremyKuhne commented on #40843
It isn't unique, just the first place we would be exposing it in the reader.

Is it any different than `Slice`?

If we do add this API I think it should be `SetPosition()`. I'm a _little_ hesitant to add it however, as there potentially is a "hidden" cost to getting the span out again. In the example given, for example, it is cheaper (hugely so if it crosses spans) to slice the incoming data _befo

[2019-09-10 02:04] JeremyKuhne opened #40962 "Review System.Buffers proposals"
This is a meta issue for #40781, #40870, #40845, #40843, and #37156 which add new APIs to [`SequenceReader<T>`](https://apisof.net/catalog/System.Buffers.SequenceReader%3CT%3E). This captures the overall change for the review. Detailed discussions are in the linked issues.

Proposed new surface area:

[code]

[2019-09-10 02:04] davidfowl commented on #40843
oops, I was thinking this was TryPeek.

Does that mean we need to start adding operations on the reader directly?
If

[2019-09-10 02:07] ahsonkhan commented on #40962
cc'ing interested parties based on the issues listed:
@davidfowl, @GoldenCrystal, @stevejgordon, @softworkz, @FiniteReality,

[2019-09-10 02:10] JeremyKuhne commented on #40843
I'm not sure I follow?

[2019-09-10 02:15] davidfowl commented on #40843
You could argue that `PositionOf` only needed to exist because we didn't have `SequenceReader<T>.TryReadTo`. I'm thinking about higher level operations that return `SequencePosition` then get used in the `SequenceReader<T>` to avoid scanning again.

[2019-09-10 02:19] ahsonkhan commented on #40871
We should consider converging on the parameter names. One of: start/offset/skip and `length` rather than `count`, particularly since it applies to the `Length` of the ROSequence or ROSpan being returned.

[2019-09-10 02:20] JeremyKuhne commented on #40843
What else are we missing?

[2019-09-10 02:24] jkotalik commented on #40892
I think that rule works except when the `ROS<>` is empty.

@Trolldemorted From what I can tell, this potentially was fixed in 3.0. Could you try the latest 3.0-preview9 release and see if you hit this behavior again? https://dotnet.microsoft.com/download/dotnet-core/3.0.

[2019-09-10 02:57] davidfowl commented on #40892
@Trolldemorted can you show how you created the Pipe? In particular I want to see the PipeOptions

[2019-09-10 03:11] softworkz commented on #40962
IMO, the SequenceReader should not get any API added involving a SequencePosition parameter. Right now, it doesn't have any other - except the Position property.

I think there should be a clear separation between ReadOnlySequence and SequenceReader APIs, where ReadOnlySequence is dealing with SequencePosition objects and SequenceReader using integer offsets.

[2019-09-10 03:18] softworkz commented on #40843
I'm not sure if this API would even be possible to implement.. I mean, how for example would you compute the "Consumed" property?
When you would reset everything internally, it would be just like creating a new SequenceReader, where really creating a new one would be the better choice as resetting an existing SequenceReader would introduce semantical inconsistency.

Anyway, the motivation for addi

[2019-09-10 04:12] safern commented on #24770
I agree it has avoided to operate on`KeyValuePair` but in Dictionary we don’t have a `TryRemove`, we have a `Remove(TKey)`

https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.dictionary-2.remove?view=netframework-4.8

I agree the `TryRemove` in ConcurrentCollection broke this consistency, but TryRemoveIf was confusing at first sight, because there is no condition, basically the

[2019-09-10 05:13] ahsonkhan commented on #40949
cc @layomia

[2019-09-10 06:24] MrM40 opened #40964 "Permission denied in Interop.Sys.ForkAndExecProcess (Linux)"
Out of the blue I suddenly can't call the program `virsh` from my .Core console app in Linux using `Process.Start` (been running fine for the last year, not aware of any system changes, e.g. didn't run any updates)

I get the following error:

     Permission denied
     at Interop.Sys.ForkAndExecProcess(String filename, String[] argv, String[] envp, String cwd, Boolean redirectStdin, Boolean redi

[2019-09-10 06:50] fhoutr01 commented on #40955
Hey,

I installed dotnetcore 3.0 preview 9 and updated the csproj file to build it against a dotnet 3.0 app:
[code]
No luck unfortunately :(.

[code]

[code]

[2019-09-10 06:53] Crozin commented on #40955
Got the exact same issue using latest version (netcore3.0-preview9) as well as 2.1:

[code]

[2019-09-10 06:56] ZackTech opened #41116 "HttpContext.Session.GetString Not Working on Linux"
I have an Asp.net Core application version 2 (I have yet to upgrade it to version 2.2and beyond)

The following code generates a Captcha image:
[code]
When I test the Captcha code is correct with code like this:
[code]
It works fine on my local windows PC and on Azure but not on a Ubuntu VPS.
On the Ubuntu VPS it always comes back as null.

I build the project on a Windows PC using the following c

[2019-09-10 07:45] qmfrederik commented on #40850
Those hitting this issue, please note that the 5.0.0-27-generic kernel (the current Ubuntu kernel) contains a couple of security fixes, see https://usn.ubuntu.com/4114-1/ and https://usn.ubuntu.com/4115-1/. You may want consider that when reverting your kernel.

[2019-09-10 09:01] DaZombieKiller commented on #40941
+1, I often find myself writing extension methods on `MethodInfo` for this purpose.

[2019-09-10 10:16] GSPP commented on #40416
Such a type could not be built into the framework because the notion of what is a valid string and what is not depends on the scenario.

I think this `SafeString` can be useful although values of that type can still be `null`. At least you know that the values are not empty and that the whitespace conforms to your rules.

Also, an access of such a value will crash with a NRE. Sometimes, that's goo

[2019-09-10 10:23] alexstrickland commented on #23542
Extremely happy to discover that this worked very well with a Clipper DBF file export after I upgraded the project to .NET Standard without thinking about OleDbConnection.

[2019-09-10 10:31] Dogwei opened #40966 "What is the [__DynamicallyInvokable]?"
as title.

[2019-09-10 10:41] Therzok commented on #40888
@danmosemsft Don't have cycles available to take a look at it right now.

[2019-09-10 10:59] Gnbrkm41 commented on #40966
https://stackoverflow.com/a/12552079/10484567 ?

[2019-09-10 11:02] Daniel-Svensson opened #40967 "Add .Net Framework TFM to System.Reflection.MetadataLoadContext"
Please add a net4* target such as (net46 or net461 ?) to System.Reflection.MetadataLoadContext.

I want to consume it in a msbuild (distributed via nuget) task which should run on VS2015+ and I really do not want to have to ship the extra netstandard support assemblies.
They have given me problem before and I really cannot change target framework or which version of netstandard assemblies msbuild

[2019-09-10 11:26] Trolldemorted commented on #40892
@jkotalik just making sure, you want me to upgrade to sdk preview9, but keep System.IO.Pipelines on the latest stable  release (4.5.3)? Was 34765c5 landed in the sdk? I upgraded the SDK to 3.0.100-preview9-014004 and kept System.IO.Pipelines 4.5.3 but it happened again. I also noticed other segments can be empty too:
![grafik](https://user-images.githubusercontent.com/10261186/64609649-b03c2980-d3

[2019-09-10 11:45] GSPP commented on #40384
Is there enough test coverage to ensure that disposing happens reliably? Some sequences hold up resources such as database connections or file handles. If those are dropped this can be a nasty surprise (especially suddenly under load in production).

I understand that the LINQ implementations have become a lot more complex internally due to various optimizations. There's now more potential for for

[2019-09-10 11:48] chrarnoldus opened #40968 "Interpreting Expression results in InvalidCastException on 3.0 but not 2.2"
Consider the following code:

[code]

On 2.2, the output is as follows:

[code]

On 3.0 however, the second evaluation of the Expression (with preferInterpretation=true) results in an exception being thrown:

[code]

Can this regression be resolved in the final version of 3.0?

[2019-09-10 12:15] asmichi opened #40978 "WPF project with AutoGenerateBindingRedirects enabled produces MSB3277"
WPF project with `AutoGenerateBindingRedirects` enabled produces a MSB3277 warning, which is a similar issue to https://github.com/dotnet/corefx/issues/40012#issuecomment-522209519:

I started to get this MSB3277 warning after migrating my WPF project from 3.0 preview 7 to 3.0 preview 9.

## Workaround
Disable `AutoGenerateBindingRedirects` when targeting netcoreapp. Normally you do not need it on

[2019-09-10 12:31] marcnet80 commented on #40201
Hello, @tarekgh. Yes, you are right, need add **checked** for subtraction, something like this:
<pre>
int subtraction = 0;
try
{
   subtraction = checked(toExclusive - fromInclusive);
} catch (OverflowException)
{
    throw new OverflowException(nameof(subtraction));
}
</pre>
Could I take this issue?

[2019-09-10 13:39] stephentoub commented on #40964
You could try using `strace` to see what syscall is returning permission denied, and that might help you track down the cause.

[2019-09-10 13:52] steveharter commented on #40922
Some options assuming `IgnoreNullValues=true`.
1) Keep existing semantics; the workaround is to use a nullable type such as `DateTime?` (or a custom converter if that is not desired). `IgnoreNullValues=true` means "ignore null when null is a valid value". Requiring usage of a nullable type is consistent with the original serializer design directives to support simple POCO types (not not more compl

[2019-09-10 14:12] MrM40 commented on #40964
ok...I'll investigate, thanks :-)

[2019-09-10 14:36] MaximLipnin opened #40973 "Namespace name typo - Sytem.Threading.Tasks.Tests"
https://github.com/dotnet/corefx/blob/7ae1a252d7e68c5513d2658de7a401c37e9b0504/src/System.Threading.Tasks.Parallel/tests/RespectParentCancellationTest.cs#L22

[2019-09-10 15:21] jkotas commented on #40966
This attribute was used to mark APIs that are blessed for use in .NET Framework Windows Store Apps. It is not used in .NET Core.

[2019-09-10 15:21] #40966 closed

[2019-09-10 15:36] #40973 closed

[2019-09-10 15:40] paule96 opened #40975 "[Question] Why I was able to overrid a implemented method with an extension method?"
Hi corefx Team,

I have a big Question to the following Code:

[code]

The `Console.WriteLine(test.Any())` returns `false`. So the extension method was called. But in the [documentation ](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/extension-methods#binding-extension-methods-at-compile-time) about extension methods there is this sentence `You can use extens

[2019-09-10 15:43] danmosemsft commented on #40888
@Therzok not a problem, thanks for adding the information.

[2019-09-10 15:50] danmosemsft commented on #28410
Unassigning for someone else to look. Thanks for the start!

[2019-09-10 15:51] Wraith2 commented on #40975
You weren't. The compiler looks for a method on type `bla` called `Any` and doesn't find one so it then uses the extension. If you had used var or the direct type 'blub' in the variable declaration it would have been typed as 'blub' and resolved the instance method.

[2019-09-10 15:54] tarekgh commented on #40201
@marcnet80 feel free to work fixing this issue. I think the fix is not just adding the checked and throw here. I believe we can just change the implementation to use long in the calculation instead of int and make the operation succeed.

[2019-09-10 16:18] ericstj commented on #40978
We should see if this means that you cannot use a desktop library that exposes types in this assembly.  If so, this may meet the bar for 3.0 / 3.1.  The types forwarded in this assembly are PipeSecurity, PipesAclExtensions, PipeAuditRule, PipeAccessRule, PipeAccessRights.

[2019-09-10 16:23] slluis commented on #40888
It would be great to have a quick fix for this. It has an important impact in VSMac.

[2019-09-10 16:27] pranavkm opened #40979 "[System.Text.Json] UnsafeRelaxedJsonEscaping can result in StackOverflowException"
[code]

Here's what's causing the StackOverflow:

![image](https://user-images.githubusercontent.com/174281/64631901-ef0db780-d3ac-11e9-9bca-563841083e8a.png)

---------------------------------------------------
Original text:

_From @Zonciu on Tuesday, September 10, 2019 2:16:16 PM_

### Describe the bug
WebApi returning specific content cause stack overflow

### To Reproduce
#### Reproduction pr

[2019-09-10 16:27] pranavkm commented on #40979
_From @rynowak on Tuesday, September 10, 2019 2:51:25 PM_

@ahsonkhan - the only differnce between these cases appears to be the text.

[2019-09-10 16:28] pranavkm commented on #40979
_From @mkArtakMSFT on Tuesday, September 10, 2019 4:00:42 PM_

@rynowak I can repro this. yes, the only difference is the text.

[2019-09-10 16:28] pranavkm commented on #40979
_From @pranavkm on Tuesday, September 10, 2019 4:27:00 PM_

Here's the minimal repro step without MVC involved:

[code]

Here's what's causing the StackOverflow:

![image](https://user-images.githubusercontent.com/174281/64631901-ef0db780-d3ac-11e9-9bca-563841083e8a.png)

It's specifically the `UnsafeRelaxedJsonEncoding` which is what MVC uses by default for Json serialization.

[2019-09-10 16:30] ericstj commented on #40978
Looks like the compiler is permitting this, so it is not a blocking issue, however we should clean this up in 5.0.

[2019-09-10 16:55] danmosemsft commented on #40888
@slluis could you tell us more about the impact? Is this somehow a new problem?

What versions of .NET Core would VSMac require a fix in?

[2019-09-10 16:56] ericstj commented on #40739
We could also catch bad usage of `BinaryFormatter`, and I don't just mean *any* usage as some might prefer.   Where the type passed in to BinaryFormatter doesn't contain `Serializable`, where the type cast to from deserialization doesn't have `Serializable`.  When `Serializable` is on a type we could check that all the types contained in that type are `Serializable`.  Perhaps this is more of a com

[2019-09-10 16:58] JeremyKuhne commented on #40843
Consumed is always equal to the bytes from the Start to the current Position.

Only if we changed the `Sequence`. I do agree, however, that it makes it harder to wrap your head around using the reader efficiently.

We already have `TryAdvanceTo()`. The given example can be written as:

[code]

I think the argument I can see with allowing setting position is that you may want to call other methods

[2019-09-10 17:06] blowdart opened #40981 "Microsoft Security Advisory CVE-2019-1301: Denial of Service Vulnerability in .NET Core"
# Microsoft Security Advisory CVE-2019-1301: Denial of Service Vulnerability in .NET Core

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET Core. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware of a den

[2019-09-10 17:12] mrward commented on #40888
@danmosemsft The fix in corefx would be backported to Mono. Not sure what version of corefix Mono would be using. @steveisok may know more.

Currently this causes VS Mac to keep file descriptors around after file watchers are disposed. Eventually this breaks Mono's networking stack, which has a limit of 1024 file descriptors.

[2019-09-10 17:20] raphaelr commented on #40981
Hi,
Is 3.0 Preview9 affected by this? If so, what's the mitigation? The blog post at https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-9/ mentions that ".NET Core 3.0 Preview 9 is supported by Microsoft and can be used in production."

[2019-09-10 17:37] danmosemsft commented on #40925
This seems resolved. Please reopen if not.

[2019-09-10 17:37] #40925 closed

[2019-09-10 17:37] am11 commented on #37787
For Json.NET, there is a third party library which provides subtype discrimination via attributes: https://github.com/manuc66/JsonSubTypes#deserializeobject-with-custom-type-mapping.

Java's Jackson library provides a similar feature called [''Polymorphic Type Handling''', PTH](https://github.com/FasterXML/jackson-docs/wiki/JacksonPolymorphicDeserialization) that enables us to select subtype from

[2019-09-10 17:54] cston opened #40982 "Rename System.Linq.Expressions/src/*.Generated.cs files"
There are several files in System.Linq.Expressions/src named *.Generated.cs that are (no longer?) generated. The files should be renamed.

System\Linq\Expressions\Compiler\DelegateHelpers.Generated.cs
System\Linq\Expressions\Compiler\LambdaCompiler.Generated.cs
System\Linq\Expressions\Compiler\StackSpiller.Generated.cs
System\Linq\Expressions\Interpreter\CallInstruction.Generated.cs
System\Linq\Ex

[2019-09-10 17:54] stephentoub commented on #40739
@ericstj, we could do that.  However, we'll run into the same issue highlighted in:
https://github.com/dotnet/roslyn-analyzers/issues/1775#issuecomment-518372959
The ref assemblies don't have [Serializable] today.

[2019-09-10 18:09] wfurt commented on #40888
I'll take a look. I drop it before as it look like @Therzok  was digging into it.

[2019-09-10 18:24] danmosemsft commented on #40968
Please leave issue active for 3.0.x consideration after merging to master

[2019-09-10 18:25] ericstj commented on #40739
That's something we could fix.  `Serializable` is effectively part of the contract and something that we must maintain once we add it.  We have always been conservative about what we put in the reference assemblies, and it wasn't until this release we started adding and validating the presence of attributes.  Compile-time validation of `Serializeable` seems like a reasonable value proposition of a

[2019-09-10 18:36] JeremyKuhne commented on #40843
This was reviewed in #40962.  Concerns about [performance and usability](https://github.com/dotnet/corefx/issues/40962#issuecomment-530060857) pretty much as described so putting back to "needs work".

[2019-09-10 18:37] terrajobst commented on #8126
Honestly, while I agree with that being useful, it's trivial for people to define helper methods:

[code]

For `bool`:

[code]

For `bool?`:

[code]

Using the formatting APIs seems way too complex for this case.

[2019-09-10 18:37] #8126 closed

[2019-09-10 18:40] JeremyKuhne commented on #37156
This was approved in #40962 as:

[code]

Here are the rough implementations:

[code]

[code]

Marking as up-for-grabs to fully implement/test.

[2019-09-10 18:42] JeremyKuhne commented on #40870
Approved: https://github.com/dotnet/corefx/issues/40962#issuecomment-530060857

[code]

[2019-09-10 18:45] JeremyKuhne commented on #40845
Approved: #40962 (comment):

[code]

[2019-09-10 18:46] GSPP commented on #40266
@dasetser I work on two major applications that require long-running transactions. These are transactions for background jobs. The blocking that this causes has no end user impact. We need the atomicity so that failed jobs are rolled back. The transaction duration for such jobs ranges from milliseconds to a few hours.

There is nothing inherently bad about long-running transactions. They do requir

[2019-09-10 18:47] JeremyKuhne commented on #40871
Approved: #40962 (comment):

[code]

[2019-09-10 18:57] wfurt commented on #35965
generally yes, test should not timeout. I consider 4 failures as noice and the failure was quite different than this issue. If we see more frequent timeouts/failure we should open new issue with appropriate details.
I hope this makes more sense.

[2019-09-10 19:04] ericstj commented on #40979
I suspect this is too late for 3.0, but probably for 3.0.x.  @ahsonkhan can you take a look.

[2019-09-10 19:05] WinCPP commented on #40646
@ahsonkhan @GSPP I was thinking of looking into this, if no one is...

I need a help, though. I am creating a `self-contained` application using my local build and for that I am first doing the steps at this link https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#option-2-self-contained

However running `dotnet restore`, I get these errors. Appreciate inputs on h

[2019-09-10 19:10] tarekgh commented on #40953
Actually this is by design. here is some comments why:

- Cloning depends on the object state. If you cloned the same object twice while changing the state of this object between the 2 cloning operations, then expect you get a different cloned objects.
- When requesting CultureInfo.DateTimeFormat for the first time, it is actually changing the cultureInfo object state as it creates a new DateTimFo

[2019-09-10 19:18] Therzok commented on #40888
@wfurt just wanted to provide some assistance on the issue, as the retention paths should most likely be the same :smile:

[2019-09-10 19:20] wfurt commented on #40933
User may not care about port but you alway have to specify one for sending.
[code]
will not work unless you use Connect() before. And when you do, you do not need the remoteAddress/remoteEndPoint at all. Did I miss something?

[2019-09-10 19:22] omariom commented on #37220
Returning  `ReadOnlyCollection` means `AsReadOnly` will have to make a full copy of the HashSet.

What about a new type `ReadOnlySet` than can wrap any `ISet<T>`?
Then we will have readonly wrappers for all "ObjectModel" collections: [IList](https://docs.microsoft.com/en-us/dotnet/api/system.collections.objectmodel.readonlycollection-1?view=netcore-2.2), [IDictionary](https://docs.microsoft.com/en

[2019-09-10 19:35] pranavkm commented on #40979
@Zonciu, in the meanwhile, you could configure MVC to use the default JavaScriptEncoder which works around this particular instance of the issue:

[code]

[2019-09-10 19:43] geoffkizer commented on #40933
I think there are two historical things going on here. @stephentoub may have more context.

(1) These APIs were originally designed a long time ago and at the time, minimizing allocations was not a major priority, unfortunately.
(2) During the assembly refactoring for .NET Core, some classes that were originally all in the same assembly got moved into separate assemblies. In some cases this has le

[2019-09-10 19:57] geoffkizer commented on #40933
It seems to me that we need to consider the send case and the receive case separately here.

On the send side, there's no reason we need to do any copies at all. All we need to do is produce the native sockaddr bytes when we do the native call. Currently, that means we need to call IPEndPoint.Serialize which will allocate a SocketAddress etc. But if we just had something like IPEndPoint.Serialize(

[2019-09-10 20:11] pgovind opened #40988 "Consider creating an IndexSet Type"
Now that C# 8 has [Ranges](https://docs.microsoft.com/en-us/dotnet/api/system.range?view=netstandard-2.1), perhaps it is time to consider adding an "IndexSet" type. An IndexSet is a sorted collection of unique, unsigned, non-contiguous integers, generally represented as Ranges. For ex: The following IndexSet contains 260 integers in 3 Ranges.
`IndexSet anIndexSet = {  [0..100], [150..300], [1000..

[2019-09-10 20:32] karelz commented on #27638
Closing as not relevant. UWP will get larger investment later on - once we re-enable the test runs.

[2019-09-10 20:32] #27638 closed

[2019-09-10 20:35] karelz commented on #26882
Triage: We should check .NET Framework behavior. How does it behave on Linux?
We should make our APIs to be consistent a bit.

[2019-09-10 20:42] karelz commented on #25699
Next step: Try the code in C on Mac to see if we can make it work.

[2019-09-10 20:49] karelz commented on #22814
Does not seem to be a problem anymore. Please open new issue if it happens again.

[2019-09-10 20:49] #22814 closed

[2019-09-10 21:02] karelz commented on #21624
Multicast does not seem to play that much important role anymore. E.g. in enterprise, etc.
Only 1 vote in 2 years, closing.

[2019-09-10 21:02] #21624 closed

[2019-09-10 21:04] karelz commented on #21148
Looks like not so beneficial code cleanup. If it plays important role in perf of Sockets, it is going to show up in investigations.

[2019-09-10 21:04] #21148 closed

[2019-09-10 21:10] karelz commented on #19683
The original issue is too old, we may revisit this in overall stress effort in 5.0 - @eiriktsarpalis

The last 2 failures are different, we should file new issue if they appear again.

[2019-09-10 21:10] #19683 closed

[2019-09-10 21:14] agr opened #40993 "System.Uri handles certain character sequences starting with '%' inconsistently"
It's a follow up to #24439.

[code]

Repro steps:
1. `dotnet new console`
2. Paste the following code:
[code]
3. `dotnet run`

The output is:
[code]

There is no change in behavior since the previous issue. `System.Uri` still handles '%' characters in input string arbitrarily. Notice that in the first line of the output `%41`, `%20` and `%25` of the input string were processed in three different w

[2019-09-10 21:17] danmosemsft commented on #34493
Wouldn't we always recommend against `string.Intern` anyway for reasons @jkotas states? If so, I think we should close this rather than extend its API.

[2019-09-10 21:19] karelz commented on #15277
@geoffkizer is it addressed already?

[2019-09-10 21:21] karelz commented on #14308
Duplicate of #37118

[2019-09-10 21:21] #14308 closed

[2019-09-10 21:21] karelz commented on #37118
TODO: Looks also into other APIs on Sockets as mentioned in #14308

[2019-09-10 21:22] karelz commented on #13349
Perf tests were moved to perf repo. Closing.

[2019-09-10 21:22] #13349 closed

[2019-09-10 21:23] geoffkizer commented on #15277
No, this hasn't been addressed.

SocketTestServer is used for socket stress tests. I'm not sure how often we run these. If we're not actively running them, then there's not much value in having them.

But we probably should be running these. And if we are, then we really should have variations for sync APIs and Task-based APIs since these are the most common APIs to use.

[2019-09-10 21:28] dreymers-goformz opened #40995 "HttpClient adding a header changes the case of the header name"
For example: httpClient.DefaultRequestHeaders.Add("X-Request-Id", "test");
This adds a header with the last character upper-cased: X-Request-ID

Cause: When adding a header, the code is searching for any HttpKnownHeaderNames case-insensitive;  if it finds one, it then replaces the value with the one from HttpKnownHeaderNames.

This is problematic for anyone already using one of these headers with

[2019-09-10 21:31] divega commented on #34190
@verbedr thanks for the detailed explanation. Although I am still not sure why the new naming convention for resources wouldn't work. With https://github.com/microsoft/msbuild/issues/4695, we expect that the issue with files in subfolders will be gone.

@bricelam can you please take a look at the [above comment](https://github.com/dotnet/corefx/issues/34190#issuecomment-529370276) to see if you th

[2019-09-10 21:33] karelz commented on #7214
We have coverage in HTTP/2 (higher level).

[2019-09-10 21:33] #7214 closed

[2019-09-10 21:37] davidsh commented on #40995
@geoffkizer

[2019-09-10 21:41] geoffkizer commented on #40995
This is a known issue with how we deal with "known headers".

Is this actually causing issues in practice?

[2019-09-10 21:44] mconnew commented on #36896
I believe this api would also enable more WCF scenarios. We have a scenario enabled by the api SecurityBindingElement.CreateSspiNegotiationOverTransportBindingElement which makes native calls to Sspi. By exposing the NTAuth Negotiate API's, I believe WCF would be able to support this important enterprise scenario.

[2019-09-10 21:47] scalablecory commented on #40933
@wfurt `SocketAddress` is an entire `sockaddr_in`/etc. structure, it includes a port.

[2019-09-10 21:52] scalablecory commented on #40933
@geoffkizer I don't think needs to be a common use. Really you'd use the address to lookup a client's state in a dictionary -- you don't need an `EndPoint` to do this, but can instead use `SocketAddress` directly to avoid any conversions. Outside of this, the main reason I can think of to want ip/port is for display purposes... in which case, yes, you'd need to convert to `IPEndPoint` to get.

[2019-09-10 21:52] wfurt commented on #40933
ok. that would make sense. I look at .Net API and I did not see port there. Would you envision adding Port property to it as well?

[2019-09-10 21:53] wfurt commented on #40933
https://docs.microsoft.com/en-us/dotnet/api/system.net.socketaddress?view=netcore-2.2

[2019-09-10 22:03] scalablecory commented on #40933
Note it doesn't have an IP property either.

My vision is to keep `SocketAddress` opaque, and force users to use `EndPoint.Serialize` and `EndPoint.Create` to shuffle to/from `EndPoint` if they need to manipulate the IP/port. My expectation is that this would not be done once per op, but rather once per endpoint at the start of a "connection", so it's not needed.

[2019-09-10 22:09] scalablecory commented on #40933
@geoffkizer yea, I thought of that. I think keeping the APIs symmetrical is worthwhile, though. Plus, there's some (probably ultimately inconsequential, but...) benefit to avoiding a `SerializeTo(span)` overhead on every call to `SendTo`. Less important now if we end up taking another direction with QUIC, but that's a fair amount of redundant calls for such a packet-heavy thing.

[2019-09-10 22:13] Jozkee opened #41002 "Proposal: Add mechanism to handle curcular references when Serializing"
# Rationale and Usage

Currently there is no mechanism to prevent infinite looping when an object that contains a circular reference is serialized using `JsonSerializer.Serialize`.
You can find more information about how this works in Json.Net reading this [gist](https://gist.github.com/Jozkee/e96cfde875b4773086fadf3aa1017a10).

Issues related:
* https://github.com/dotnet/corefx/issues/38579
* htt

[2019-09-10 22:14] Jozkee commented on #41002
@ahsonkhan @JamesNK thoughts?

[2019-09-10 22:19] scalablecory commented on #40995
HTTP headers are case-insensitive, so in theory this should not matter if a server is well behaved.

[2019-09-10 22:20] wfurt commented on #20223
In last 90 days we failed:
Socket_StaticConnectAsync_HostNotFound 3x
Socket_StaticConnectAsync_Success 2x
Socket_ConnectAsyncDnsEndPoint_Success 3x

seems like on-off failures across multiple OSes.
If we care enough we may benefit from retries as neither one looks like massive failure.
We should also instrument tests to dump useful information - SocketAsyncEventArgs.SocketError, perhaps others.
It

[2019-09-10 22:21] JamesNK commented on #41002
Consider changing "values" in the array metadata object to "$values" to indicate it isn't a real property.

[code]

Instead of a dedicated property, what about adding ReferenceHandling as a property to `JsonPropertyAttribute` (is that the right name? I don't recall off the top of my head).
[code]

[2019-09-10 22:28] Symbai opened #41005 "API Proposal: BitArray.CopyTo(int value) / BitArray.From(int value)"
At the moment there is no way to create a System.Collections.BitArray from a single integer and no way to return the bits to a single integer. I don't know the exactly reason why the API is missing but considering its possible to achieve with a 1 length integer array it wouldn't be too difficult to add such an API.

[code]

Example::
[code]
Without these APIs we would have to create arrays when in

[2019-09-10 22:29] scalablecory commented on #40993
The only thing that looks questionable to me is the handling of %25. It appears to not be getting unescaped like the other two sequences.

%25 decodes to a percent sign, so it may be some artifact of wanting to escape %.

[2019-09-10 22:32] scalablecory commented on #40993
@wtgodbe I think you did something with `Uri` recently, does this ring a bell?

[2019-09-10 22:36] Jozkee commented on #41002
Agree.

`JsonPropertyAttribute` does not exist in `System.Text.Json` as far as I know.

[2019-09-10 22:44] steveisok commented on #40888
Mono is set up to track 2.2, so if a fix lands there it would be the easiest.

[2019-09-10 22:52] dreymers-goformz commented on #40995
@geoffkizer - not an issue for me (since I caught it); couldn't speak for anyone else, though.
@scalablecory - agreed, in theory.

Just seems wrong to change the key's value in the Add method.

[2019-09-10 22:54] wfurt commented on #21855
I see 19 failures in last 90 days. All on flavors of Windows 10. The artifacts are unfortunately gone. On next failure we should collect console.log and testResult.xml as they may contain useful information.
We should also instrument ConnectClient to log any exceptions to output log stream. (perhaps other places as  well).
We should also dump state of client and server in case of timeout.

[2019-09-10 22:57] agr commented on #40993
'%25' is the only one that comes out of that mess (local path -> uri -> local path) properly. So, in my opinion, it works as expected.

[2019-09-10 23:09] scalablecory commented on #40993
It might help if you give an example of what you expect the output to be.

From what I'm seeing:
%41 doesn't need escaping, so `AbsoluteUri` is correct to not have it escaped.
%20 is probably escaped in `AbsoluteUri` to disambiguate it from "+", so I'm okay with this.
%25 needs escaping in `AbsoluteUri` because it would otherwise be just a %, which is an incomplete escape. However, it gets double-

[2019-09-10 23:15] scalablecory commented on #40993
Actually, I see -- this is a file path. `Uri` should not be trying to unescape when it sees a file path. So all that behavior isn't important as it's probably not intended to happen in the first place and merely dominoing into the output we see.

[2019-09-10 23:21] agr commented on #40993
I have a file on disk with full name being `e:\%41foo%20bar%25.baz`:
![image](https://user-images.githubusercontent.com/102933/64657135-eafe8b80-d3e6-11e9-89bd-4bc7b5612c39.png)

 With literal '%' characters in the filename. No spaces, no upper-case 'A' characters. I don't see why `%41`, `%20` and `%25` receive different treatment. In the file name neither `%41`, nor `%20` have special meaning. Th

[2019-09-10 23:23] agr commented on #40993
And again, I'm repeating myself from the previous issue, Powershell does the absolutely expected thing:
[code]

[2019-09-10 23:27] geoffkizer commented on #40933
A couple related questions that I don't quite understand:

(1) Why does SocketAddress even exist today? Are there any APIs that take it? Is it just so a user can get the bytes for the native sockaddr structure? When would they even need to do this?
(2) Why is the IPEndPoint on ReceiveFrom passed by ref, instead of out?

[2019-09-10 23:29] geoffkizer commented on #40933
Yeah, that's a good point.

I agree but I'm not quite sure the best way to do this.

[2019-09-10 23:33] scalablecory commented on #40933
I think it is to allow custom implementations of `EndPoint` to serialize to it to pass `sockaddr` without 1st part support.

[2019-09-10 23:42] geoffkizer commented on #40933
@scalablecory Yeah that makes sense.

[2019-09-10 23:42] scalablecory commented on #40933
Looks like it's to work within `EndPoint`'s design:
* To know how much to allocate for a `sockaddr`.
* To then call `EndPoint.Create` (instance method, that knows how to deserialize for a specific `sockaddr` format) to create a new `EndPoint` based on the `sockaddr` you get from `recvfrom`.

[2019-09-10 23:43] geoffkizer commented on #40933
Ok, but you already had to bind the socket to a LocalEndPoint, right? So why can't you figure that out from the LocalEndPoint?

[2019-09-10 23:47] ScotMac commented on #32291
Sure, they call LSA APIs to acquire the ccache authentication data, after which they use it just like it came from a ccache file. You can read about KFW (KerberosForWindows) and their support for MSLSA here: https://web.mit.edu/kerberos/kfw-4.1/kfw-4.1.html

We would need support for file based, and probably MSLSA, ccache.

Your implementation strictly uses in memory data for the ccache? If so, is

[2019-09-10 23:48] scalablecory commented on #40933
Good point. I can't account for that.

Perhaps just an oversight in the design, or `LocalEndPoint` was made after `ReceiveFrom` was made.

[2019-09-10 23:53] Taloth opened #41009 "File.Move does not always delete source when overwrite is set to true"
### Affected versions

- since 3.0.0-preview (based on PR merges) on linux

### Issue Description

An overwrite parameter was introduced to File.Move.
If File.Move is called with overwrite=true, and the target file does not exist, and the file is being moved across filesystem boundaries. Then, erroneously, the source file is not deleted.

This is caused by a missing DeleteFile call following [this

[2019-09-11 00:02] SteveSyfuhs commented on #32291
Okay, so that's unsupported on Windows today. The way it queries LSA is not a supported mechanism, is blocked by default, and hard blocked in certain scenarios. SSPI is the only safe way on Windows clients.

The library could be extended easily enough to support a file-based cache. It's not terribly complicated.

________________________________
From: ScotMac <notifications@github.com>
Sent: Tuesd

[2019-09-11 00:09] ScotMac commented on #40204
It is also failing on .NET Core on linux (openSSL). It appears to fail a slightly different way for each of the different implementations.

* Framework: interprets the TLS Zero Length fragment as a *TCP* zero length receive (EOF). Note, not necessarily an SChannel issue. Could be a .NET interpretation of the SChannel return causing the problem.

* Core on Windows: In correctly looks for a signatur

[2019-09-11 00:15] ScotMac commented on #32291
Note, MIT's KFWindows *also* has a way of translating MSLSA to the MIT *API* cache. Here is their description (from the link i gave above):

* ms2mit.exe behavior has changed to improve the MSLSA: cache experience for UAC-restricted login sessions on an AD domain that runs ms2mit.exe in login scripts:
  * If the TGT is accessible in the LSA ccache, copy the LSA ccache to the API ccache.
  * Set th

[2019-09-11 00:20] ahsonkhan commented on #38498
Looks like these tests just failed again from https://github.com/dotnet/corefx/pull/40997

MacOS Build x64_Debug test failures are unrelated:
https://dev.azure.com/dnceng/public/_build/results?buildId=348664&view=ms.vss-test-web.build-test-results-tab&runId=10473744&resultId=168822&paneView=debug

System.Security.Cryptography.OpenSsl.Tests on netcoreapp-OSX-Debug-x64-OSX.1014.Amd64.Open

System.Se

[2019-09-11 00:22] ahsonkhan commented on #40262
Looks like it failed again in https://github.com/dotnet/corefx/pull/40997, but there is already another issue open, so keeping this one closed:
https://github.com/dotnet/corefx/issues/38498#issuecomment-530168442

[2019-09-11 00:31] stephentoub commented on #40968
Re-opening to track port to 3.0.x

[2019-09-11 00:38] ahsonkhan commented on #41002
Correct, we have `JsonPropertyNameAttribute`
https://github.com/dotnet/corefx/blob/b41b09eadd5eb3f5575845a982f2c177c37f7ce7/src/System.Text.Json/ref/System.Text.Json.cs#L748-L753

cc @steveharter

[2019-09-11 00:44] scalablecory commented on #41002
Is this proposal compatible with Json.Net?

[2019-09-11 00:44] scalablecory commented on #41002
[code]

Why `byte`?

[2019-09-11 00:49] #40979 closed

[2019-09-11 00:50] ahsonkhan commented on #40979
Fixed in master by https://github.com/dotnet/corefx/pull/40996, and in release by https://github.com/dotnet/corefx/pull/40997

[2019-09-11 01:00] terrajobst commented on #40947
It has come up. I'll see what we can do post .NET Core 3.0.

[2019-09-11 01:04] JamesNK commented on #41002
What determines if objects are equal? object.ReferenceEquals or object.Equals? Newtonsoft.Json uses object.Equals.

[2019-09-11 01:07] JamesNK commented on #41002
What happens if there are additional properties in a JSON reference object? (has `$ref`) What about if $ref isn't the first property in an object?

What happens if `$id` isn't the first property?

[2019-09-11 01:11] Jozkee commented on #41002
Yes for the metadata semantics that I am trying to follow; no for a feature parity, however we are not tied to follow the first one, just come up with what is already there since I have not found value in going on a different direction.

I was following existing enums in the namespace that also inherits from byte, thing that is made to reduce their size in the `Utf8JsonReader` struct. but since th

[2019-09-11 01:37] bricelam commented on #34190
I believe all the issues mentioned are resolved in the daily builds

[2019-09-11 02:13] marcwittke commented on #40850
To those having the mentioned error under their azure vm running Ubuntu:
Kernel `5.0.0-1018-azure` is affected as well. `5.0.0-1016-azure` works.

I enabled the grub timeout following this [guide](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/serial-console-grub-single-user-mode#access-for-ubuntu), used the serial console in the azure portal to select the working kernel from the bo

[2019-09-11 03:28] ahsonkhan commented on #40845
@JeremyKuhne - the parameter name isn't `skip`. It should be `offset`.

Also, don't forget the `readonly` keyword (+ the comment link needs to be updated).

[2019-09-11 04:05] davidfowl commented on #40892
@Trolldemorted you need to update the package to preview9 of System.IO.Pipelines

[2019-09-11 04:10] ahsonkhan commented on #40922
@rynowak, @JamesNK  - what do you think? To me, option 3 makes the most sense. When I see the `IgnoreNullValues` option from an end-user perspective, I assume it would work for both serialization and deserialization (even on value types that can't be null).

Although, I can see an argument to be made about option 1, but that requires the user to change their object model or workaround it with thei

[2019-09-11 04:11] Zonciu commented on #40979
@ahsonkhan @pranavkm For now I use `AddControllers().AddNewtonsoftJson()`, that works fine.

[2019-09-11 04:12] ahsonkhan commented on #40936
Given where we are at for 3.0, I don't think this issue meets the bar. Moving to 3.0.x for now.

[2019-09-11 04:13] ahsonkhan commented on #39843
Given this is currently by-design, and requires some thinking/design work to support this feature, moving to 5.0.

[2019-09-11 04:22] ahsonkhan commented on #40482
Given where we are at for 3.0, this doesn't meet the bar, particularly because it requires a breaking change to rename the parameter from `utf8Json` to `stream`.

`JsonDocument` and `JsonSerializer` accept streams that only contain UTF-8 encoded data (either if a UTF-8 BOM is present OR no BOM is present), and that's indicated by the parameter name.

We can re-consider making this change in the fu

[2019-09-11 04:26] ahsonkhan commented on #5681
cc @carlossanlop

[2019-09-11 04:36] Clockwork-Muse commented on #41005
`BitArray(int length)` is almost certainly due to `<SomeCollectionType>(int length)`.

This implies you have a significant number of pre-initialized integers (or a similar number of destinations), which strikes me as.... unusual.  If you don't have a pre-initialized value, you don't need the value consumption, of course.

[2019-09-11 04:41] ahsonkhan commented on #40979
That works too. Let me know when you revert back to using the built-in serializer and if you find any bugs/issues or have some feedback to share.

[2019-09-11 04:49] mklement0 commented on #40953
There is no _intentional_ change of state  here - just an _implementation detail_ (lazy initialization) that should never affect the behavior.

In fact, in PowerShell you _don't get a choice_: merely referencing `[cultureinfo]::InvariantCulture]` retrieves the `.DateTimeFormat` property _behind the scenes_ and therefore invariably surfaces the problem.

What is their _intended_ relationship and wh

[2019-09-11 04:53] ahsonkhan commented on #39712
The primary reason `SerializeToUtf8Bytes` has "Utf8" in the name was to distinguish it from the one that returns string (since you can't have API overloads with the same name just based on the return type). If you notice, the Deserialize APIs do not have "Utf8" in the name, since we can overload them just fine based on the input parameter.

The stream-based ones will likely remain defaulted to UTF

[2019-09-11 04:53] #39712 closed

[2019-09-11 05:11] ahsonkhan commented on #40756
@suedama1756 - was the issue resolved for you with latest?

Can you share a small repro of the issue you were seeing, primarily so I can track where the fix for your scenario came from?

[2019-09-11 05:40] ahsonkhan commented on #40704
Re-opening to consider for 3.1.

[2019-09-11 05:43] wfurt commented on #40888
I put up PR with proposed fix. I'm not sure if possible but it would be great if anybody can give it try with VS.
It does fix issue observed with provided repro.

[2019-09-11 06:26] ScotMac commented on #32291
Oh, and our MSLSA via MIT Kerberos5 works fine on all Windows versions. ie, is not blocked/hard.blocked.

[2019-09-11 06:28] AlexejLiebenthal commented on #41005
I just thought about your problem. And as `BitArray` is implemented as an [integer array field](https://github.com/dotnet/corefx/blob/76f566a281bbe979e80cbbb3a48ddf522cdcb4e1/src/System.Collections/src/System/Collections/BitArray.cs#L19), you need to create the array anyway.

If I understand you correctly, I think, I struggled sometime ago with a similar problem like you.
If you like to have some

[2019-09-11 06:41] MrM40 commented on #40964
YES, I got it!
It took me some time to find the right option for strace, I had to use the `strace -f -o /tmp/strace.txt MyDotNetApp` option.
For some reason there was a virsh file in the folder /root/ at 0KB, and apparently  dotnet has another path search order than the shell, so dotnet executed `/root/virsh` whereas shell execute the real virsh in "/usr/bin/virsh".
Perhaps it would be a good idea

[2019-09-11 06:52] theonlyremedy opened #41015 "ZipArchiveEntry.Name is wrong when FullName contains colon"
I've created a ZipArchive using .Net Core, I'm facing issue when I try to unzip the file. The problem is caused by ZipArchiveEntry which has colon in its name. I agree that Windows file names can't contain colon, but its perfectly legal in other systems. When I iterate through the entries in the ZipArchive, the ZipArchiveEntry displays a wrong file name. Please refer attached screenshot, you can s

[2019-09-11 07:04] kamaruddin-desai commented on #40925
Running the above-mentioned code snippet on **CentOS Linux release 7.6.1810 (Core)**
#https://github.com/dotnet/corefx/issues/40925#issue-490731052

Getting the below exception:

   at System.Diagnostics.EventLog.GetEventLogs(String machineName)
   at MySample.Main() in /opt/DotNetCore/TestFolder/Program.cs:line 11

[2019-09-11 07:13] ahsonkhan commented on #38666
This issue has been fixed by https://github.com/dotnet/dotnet-api-docs/pull/2629 and some of the later edits made by reflecting over the `JsonEncodedText`/`JsonSerializer` APIs and auto-porting the xml comments from the source.

I verified that all the relevant doc changes have gone through.
For example, all of these have the correct/multiple remarks:
- https://docs.microsoft.com/en-us/dotnet/api/

[2019-09-11 07:13] #38666 closed

[2019-09-11 07:21] Anipik commented on #40925
@kamaruddin-desai  you can only use this library on windows machine which means that both the host and remote need to be windows machine

[2019-09-11 07:33] ams-tschoening commented on #39920
The mentioned CTOR is only needed in IKVM to support atomic appends, but one can easily see this as an implementation detail of `FileMode.Append`. So how about instead of making an additional CTOR available to bother users with those differences, simply take internally care that if `FileMode.Append` is given, the file is opened for atomic appends implicitly?

What IKVM does:

https://github.com/am

[2019-09-11 07:58] GSPP commented on #40273
I found the need for this fairly frequently. It happens a lot when ingesting data from external sources. It's sometimes necessary to validate that the data has some unique key. For example:

    if (!incomingData.Select(x => x.SomeKey).IsDistinct())
        throw ...;

This is also useful in assertions in test and in production code.

I'd call this method `IsDistinct`.

To me, performance is a sec

[2019-09-11 08:10] RaghuMasineni opened #41019 "CVE-2017-0249 Elevation of Privilege issue"
we have developed our application on asp.net core 1.1 version with VS2015.

We are facing Elevation of Privilege issue for System.Net.Security 4.3.0 in my application while deploying build using Jenkins. So I have created a direct dependency for System.Net.Security by changing its version to 4.3.1 from 4.3.0 in project.json file as below,

  "netcoreapp1.1": {
      "dependencies": {
        "Micr

[2019-09-11 08:17] Symbai commented on #41005
@Clockwork-Muse @AlexejLiebenthal Thank you, I didn't know about that. For me I always needed BitArray for single integers, not arrays and it's the only way unless you know how to shift like @AlexejLiebenthal . Would you say it makes sense to have a new API for getting bits only from a single integer? Maybe even in BitConverter instead of BitArray? Or leaving this to external nuget packages?

I'm

[2019-09-11 08:26] GSPP commented on #40953
I think the core of the issue is that the getter of `CultureInfo.DateTimeFormat` changes state in ways that are observable. It's not just lazy initialization or caching. It's actually a side-effect in a property getter.

[2019-09-11 08:43] kamaruddin-desai commented on #40925
@Anipik Do we have support for reading remote windows events from the Linux host in future?

[2019-09-11 08:47] Wraith2 commented on #41015
The Name property will simply be the output of [GetFileName](https://docs.microsoft.com/en-us/dotnet/api/system.io.path.getfilename?view=netcore-3.0) which because you're calling it on windows regards the : as either illegal or part of the path root designation and returns the right most part after it.

[2019-09-11 09:13] danmosemsft commented on #40953
Reopening to continue discussion above.

[2019-09-11 09:15] danmosemsft commented on #41019
@joperezr for question above

[2019-09-11 09:42] fubar-coder commented on #8126
It's sad to see that this proposal was closed. The helper methods aren't useful for the "translation" scenario.

[2019-09-11 10:12] Wraith2 commented on #41005
Can't you use [BitVector32](https://docs.microsoft.com/en-us/dotnet/api/system.collections.specialized.bitvector32?view=netcore-3.0)

[2019-09-11 10:46] JanEggers opened #41020 "sql connection exclusive access to db"
im trying to automate db deployment for my app (MS Orleans cluster, has no build in api for that)

sometimes the setup fails because another connection is open and an "alter db" hangs because it needs exclusive access to the db.

my first idea was to put db in single user mode but that sometimes fails because there is another connection open to the db that I just created.

I added  SqlConnection.C

[2019-09-11 10:58] Wraith2 commented on #41020
Can't you set [Pooling](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnectionstringbuilder.pooling?view=netcore-3.0) to false on your connection string builder?

[2019-09-11 11:03] GSPP commented on #40933
Has it been measured what performance impact these allocations have? I wonder if it matters with real network communication just from a CPU usage standpoint.

[2019-09-11 11:15] Symbai commented on #41005
@Wraith2 Thanks for the tip but unfortunately it generates different bits on signed values.
[code]

[2019-09-11 11:51] Wraith2 commented on #41005
That is unexpected. The bit values for the signed version aren't the same either.
I wasn't suggesting interoperability though i thought you wanted a single int that's addressible via bits and in that case using BitVector32 throughout should do what you want.

[2019-09-11 11:59] AlexejLiebenthal commented on #41005
`BitVector32` has a different implemenation of `this[int] {get;}`.

`BitArray` checks whether the indexed bit is set or not.
`BitVector` checks whether all bits are set to get the indexed value.
e.g.: 0b0110 -> 6
BitArray[0]
BitArray[0]

[2019-09-11 12:05] Wraith2 commented on #41005
Oh, so you'd have to use bit consts to get the value you wanted, at which point you might as well be just masking yourself.

[2019-09-11 12:23] AlexejLiebenthal commented on #41005
Yes, it's more like checking via index, if a mask matches the (inner data) of `BitVector32`- instance.

I find the naming `bit` a bit misleading. Instead should this be renamed in my eyes to `mask`

[2019-09-11 12:32] Trolldemorted commented on #40892
I upgraded to 4.6.0-preview9.19421.4, but it still happens. Might be my imagination but it happens less frequently, though.

[2019-09-11 12:39] peters commented on #37564
@ahsonkhan Allocation free version:

[code]

[2019-09-11 13:24] ManickaP opened #41026 "Build for OS Unix on Win Fails"
Build of the repo for Unix OS fails with:
[code]

To reproduce run:
[code]
from Windows command line.

[2019-09-11 13:39] ManickaP opened #41029 "Build.cmd/Build.sh Help OS List"
Build.cmd/Build.sh help lists only 2 possible options for OS: ` Windows_NT` and `Unix`. [This page](https://github.com/dotnet/corefx/blob/de38804d52f6b65f0f290b81383f01e6943a6d8f/Documentation/project-docs/developer-guide.md) lists: `Windows_NT`, `Unix`, `Linux`, or `OSX`. And in [Directory.Build.props](https://github.com/dotnet/corefx/blob/master/Directory.Build.props) can also be found `NetBSD`

[2019-09-11 13:54] dazinator commented on #38758
Not supporting this is a fail for the .NET library ecosystem.
It means nuget package authors that provide serialisable models in their libraries (with Blazor in the picture now, there are nuget packages that provide server side and client side code, and models that must be serialised in between) - must pass on their choice of serializer to their consumers - i.e System.Text.Json vs Newtonsoft.Json.

[2019-09-11 14:32] davidfowl commented on #40892
@Trolldemorted if you can provide a repro (set of steps to reproduce the empty segments) that would be great. It would mean logging what you wrote and how you called `AdvancedTo` on the other side.

[2019-09-11 14:58] am11 commented on #41029
Combining a grep result, it looks like these are the possible supported values used in different contexts:

Also, this [doc](https://github.com/dotnet/corefx/blob/c4c1985531cc1f25c805bbc4801b85c98e0dfee0/Documentation/coding-guidelines/project-guidelines.md#individual-build-properties) probably has a typo: <code>$(OSGroup) -> <del>Windows</del> Windows_NT | Linux ..</code>

[2019-09-11 15:19] ViktorHofer commented on #38498
@MattGal can you please check if a machine regressed and isn't running with the latest openssl version?

[2019-09-11 15:56] tarekgh commented on #40953
Not really, when accessing the DateTimeFormat we'll create it using the CultureInfo.Calendar which is not just lazy initialization. You actually changing the state according what you have customized in Calendar.

Not true, CultureInfo.Calendar represent the default calendar of the culture. DateTimeFormat.Calendar can be set to any other optional calendar for this culture. for example, ja-JP can ha

[2019-09-11 16:16] matthew798 commented on #40881
@wfurt Sorry to bother you again with this, but I am wondering if I should start working on a workaround or if this is something that might be fixed/worked around soon. I need the functionality for my current project. I'm considering doing away with multiple sockets in my code and implementing a sort of dgram dispatcher that would forward all dgrams received to the appropriate "client" object. As

[2019-09-11 16:20] SamuelEnglard commented on #24680
In a project I had a need for a V4 UUID (implementation of an internal communication protocal). In my research I found that while System.Guid is a V4 UUID there is no guarantee that this will always be true. I therefore built my own Uuid type. While I can't say it's fully optimized, it is full compliant with RFC 4122 and provides logic for creating versions 2, 3, 4, and 5. I've copied the API belo

[2019-09-11 16:21] mklement0 commented on #40953
No, as the following PowerShell snippet demonstrates:

[code]

That is, after modifying the (on-demand created) `DateTimeFormat.Calendar` instance, `.Calendar` points to _that_. It is only _initially_ that the default calendar is referenced.

In fact, it works the other way around too: modifying a property of `.Calendar` implicitly populates `.DateTimeFormat.Calendar` too and again, both point to

[2019-09-11 16:31] davidsh commented on #41026
@ViktorHofer

[2019-09-11 16:32] davidsh commented on #41029
@ViktorHofer

[2019-09-11 16:39] tarekgh commented on #40953
As I mentioned, when creating DateTimeInfo from CultureInfo we use CultureInfo.Calendar as initial calendar in DateTimeInfo. in other word, both calendars are pointing to the same object. changing one will change the other. If you customize DateTimeFormatInfo.Calendar, you are disconnecting the 2 at that time.

do the following:

[code]

Now you have totally 2 different calendars in CultureInfo an

[2019-09-11 16:46] mklement0 commented on #40953
The `ci.DateTimeInfo.Calendar = new JapaneseCalendar();` scenario is technically distinct and unrelated to this bug report - we are _not_ talking about _intentionally_ making the two calendars diverge.

As highlighted in my previous comment, **that's the condition that the clone - _situationally_ in general, _always_ in PowerShell  - violates, and that is what needs fixing**.

[2019-09-11 16:52] mkArtakMSFT opened #41031 "TimeSpan property not bound"
_From @thanuja89 on Tuesday, September 10, 2019 6:09:05 AM_

We recently tried migrating to .NET Core preview 9.

We had a TimeSpan property in the model that we used in an Web Api Controller POST method. When we ran our integration tests, we noticed that the model would not be bound, but if we commented out the property, it works.

### Expected behavior
The model to be bound successfully

### Add

[2019-09-11 16:52] mkArtakMSFT commented on #41031
_From @mkArtakMSFT on Tuesday, September 10, 2019 5:19:13 PM_

Thanks for contacting us, @thanuja89.
Are there any errors in the `ModelState` in your action, when model binding fails?
Can you please share these errors, if any?

[2019-09-11 16:52] mkArtakMSFT commented on #41031
_From @thanuja89 on Wednesday, September 11, 2019 4:40:52 AM_

Yes @mkArtakMSFT

There is an error in the model state.

"The JSON value could not be converted to System.TimeSpan. Path: $.Leads[0].PreferredContactTime | LineNumber: 0 | BytePositionInLine: 565."

[2019-09-11 16:53] mklement0 commented on #40953
As for an example where the bug actively makes user code malfunction, due to PowerShell's unbeknownst-to-the-user access of `.DateTimeFormat` behind the scenes:

[code]
The reason this fails is that the `.ParseExact()` is based on `.DateTimeFormat.Calendar`, not `.Calendar`.

Obviously, that's not a problem if both properties point to the same instance, but - due to the bug - they're not - and, as

[2019-09-11 16:55] tarekgh commented on #40201
@marcnet80

No, we cannot change the already exposed public methods. What I meant the implementation of these  APIs will have a line like

https://github.com/dotnet/corefx/blob/6ff7587b9a0a55d1acd6e137b54c918bb4dd23a9/src/System.Collections.Concurrent/src/System/Collections/Concurrent/PartitionerStatic.cs#L249

which is subtracting 2 int values and causing the overflow issue. If we can try to be s

[2019-09-11 17:03] pranavkm opened #41032 "Port to 3.1 - Use ThrowHelper in Utf8JsonReader.GetGuid so that the deserializer can catch the exception and re-throw JsonException"
The PR is checked in to https://github.com/dotnet/corefx/pull/40938. As per offline discussion, the plan was to port this to 3.1.

[2019-09-11 17:03] tarekgh commented on #40953
Customizing CultureInfo.Calendar and expected to always reflect on formatting and parsing is wrong assumption in general. Formatting and Parsing always use DateTimeFormat.Calendar.

CultureInfo.Calendar is NOT for formatting or parsing. It is just telling what is the default calendar of the culture. You are mixing 2 things in one which is incorrect. We never promised customizing CultureInfo.Calend

[2019-09-11 17:04] pranavkm commented on #41032
/cc @ahsonkhan

[2019-09-11 17:09] MattGal commented on #38498
Alas I am OOF right now, but @ilyas1974 I think can help you.  Looks like the machine got reimaged and lost the updated OpenSSL version yesterday.

[2019-09-11 17:15] joperezr commented on #41019
What do you mean it is not getting reflected? The very first line: `"System.Net.Security/4.3.1"` means that the package that was restored was 4.3.1. The rest of the 4.3.0 versions just mean that the 4.3.1 System.Net.Security package depends on some packages that are 4.3.0. This matches the information in NuGet.org: https://www.nuget.org/packages/System.Net.Security/4.3.1 (open dependencies on that

[2019-09-11 17:16] Therzok commented on #40888
It fixes it!

[2019-09-11 17:17] mklement0 commented on #40953
As amply demonstrated above, that is not true, even though it may have been the original intent.

If it were true, then changes to `.DateTimeFormat.Calendar` should _never_ be reflected in `.Calendar` - yet they are, in almost all cases - except the corner cases that constitutes the bug at hand.

Yes, you could argue that's how it _should_ be: let `.Calendar` only ever reflect the - unmodified - d

[2019-09-11 17:20] ViktorHofer commented on #38498
Thanks. I'm not sure how much control we have other these machines but we really should find a mechanism to not loose these hard dependencies. We just discussed that in our infra meeting. We try to not lock ourselves too much on specific versions of dependencies (for our test runs) but for various reasons that's not possible with openssl.

[2019-09-11 17:31] krytarowski commented on #41029
NetBSD is WIP. I'm busy with some other parts of the OS to host .NET.

[2019-09-11 17:41] marklio commented on #40892
Marking this as reliability, as First.Span[0] and FirstSpan[0] are extremely common when processing ROS.

[2019-09-11 17:42] nikswap opened #41033 "Buffer not send using the Ping class"
Using the Ping class Send method is the buffer not included in the call. This is found to be when it uses the built in ping command.

The -p option is not populated in the method https://github.com/dotnet/corefx/blob/ecad65740b41b1502188ac6b412ade53fb54ba3e/src/Common/src/System/Net/NetworkInformation/UnixCommandLinePing.cs#L73

[2019-09-11 17:56] geoffkizer commented on #40995
If you use HTTP2 you'll actually get "x-request-id" on the wire, because all header names in HTTP2 are in lower case.

[2019-09-11 17:59] tarekgh commented on #40953
@mklement0 thanks. I'll think about it and will try to find if there is a way we can do it without allocating more objects.

[2019-09-11 18:02] layomia opened #41034 "Support non-generic IDictionary derived types for JSON serialization"
e.g. HashTable and SortedList. These throw not supported exception now.

[2019-09-11 18:08] jkotalik commented on #40892
@Trolldemorted what content is inside of test.blob?

[2019-09-11 18:13] Trolldemorted commented on #40892
I committed and pushed it, if your VS executes it in `\bin\Debug\netcoreapp3.0` the relative path should match.

It is just the beginning of an rfb stream, nothing extraordinary.

[2019-09-11 18:34] #37770 closed

[2019-09-11 18:35] scalablecory commented on #40933
@GSPP unfortunately we only have synthetic benchmarks to look at right now. Having good real-world benchmarks for Sockets is a long-term goal. Realistically, high-frequency protocols like QUIC, uTP, and latency-sensitive games (Unity engine) will see excessive gen-0 GC.

[2019-09-11 18:39] davidsh commented on #41033
@wfurt

[2019-09-11 18:41] JeremyKuhne commented on #40845
Copy/paste fail. Fixing.

[2019-09-11 18:46] kripergvg commented on #40933
@GSPP Here https://github.com/dotnet/corefx/issues/39317 I said that in our game server 40% of our allocations are from from UDP Socket. It is a disaster for us because we use GC.TryStartNoGCRegion and maintenance mode.

[2019-09-11 18:47] wfurt commented on #41033
There is really not good way how to do this unless executed as root when we have access to RAW socket. Different distributions have different options as well as there is size limit for -p option.
Perhaps we should improve documentation and  describe it as limitation.

[2019-09-11 18:53] wfurt commented on #40881
I'll take a look @matthew798 to at least get sense what is going on. It is Kernel's job to put datagrams to proper socket but there may be way how you can impact that using .NET api surface.

[2019-09-11 18:55] geoffkizer commented on #40933
@scalablecory I do think this is the right general approach. That is, have APIs that take/return a "sockaddr"-like argument.

I think my main concern here is that the way SocketAddress works is a little weird. One example (that you pointed out) is it's not obvious that ReceiveFrom would fill in the provided SocketAddress. But I'm not sure what to do about this.

[2019-09-11 18:56] nikswap commented on #41033
I think that most distros agrees on the -p option.

At least Debian based and Mac OS X both have the -p option.

However. In the documentation on Debian does it say the following:
[code]
meaning that an error / message / something to tell the user that only 16 bytes can be used might also be an option?

[2019-09-11 19:00] geoffkizer commented on #40933
One other thought.

It seems like there's some low-hanging fruit here in terms of allocation that we could improve without any new actual API. This would help issues like #39317. Seems like we should try to make this better first before we introduce new API; that will provide benefit to existing customers.

[2019-09-11 19:02] mthalman opened #41037 "Update to test on Alpine 3.10"
Now that Alpine 3.10 has been released, testing should be updated to include that version. Also, be sure to check that the CI build is using 3.10 as well.

Related to https://github.com/dotnet/corefx/issues/37646

[2019-09-11 19:03] mthalman opened #41038 "Update to test on Alpine 3.10 for 2.x"
Now that Alpine 3.10 has been released, testing should be updated to include that version. Also, be sure to check that the CI build is using 3.10 as well.  This is specific to 2.x servicing.

Related to https://github.com/dotnet/corefx/issues/38027

[2019-09-11 19:16] #40474 closed

[2019-09-11 19:23] marcnet80 commented on #40201
@tarekgh, thank you for respone. Should I create a new branch from latest release/3.1 or directly from master? Now I'am on release/3.1.

[2019-09-11 19:31] tarekgh commented on #40201
@marcnet80

Please create the branch from the master. You need to submit the PR against master. Thanks for helping with this issue.

[2019-09-11 19:32] theonlyremedy commented on #41015
But shouldn't it return the same no matter what the OS is? It should return the name of the file in the zip archive, not based on the OS or underlying filesystem.

[2019-09-11 19:48] scalablecory opened #41039 "Consider merging System.Net.Primitives and System.Net.Sockets"
I think Primitives and Sockets are good candidates to merge back into a single assembly.

This would allow us to make some optimizations that are currently impossible because we lack access to internals between the assemblies. One such example is anything on `Socket` that takes an `IPEndPoint` argument.

Related:
* #40933
* #39317
* #40156

[2019-09-11 19:55] davidmilligan commented on #18789
Currently porting some MEF1 to MEF2 and I ran into this issue. [vs-mef](https://github.com/microsoft/vs-mef) doesn't actually have this issue, so we're going to use that as a workaround.

[2019-09-11 19:55] davidsh commented on #41039
Dropping "area-System.Net.Sockets" label.  According to @karelz we only use one area label.

[2019-09-11 19:55] scalablecory commented on #40933
@geoffkizer thanks, I appreciate the thought you're putting into this.

Yea I'm not sure either. I wonder if we have any similar APIs we can lean on for inspiration... I'll have to go looking. @bartonjs can you lend us your API design muscle? If we have these two APIs, can you think of a clean way to help us distinguish between `SendTo` which only reads a `SocketAddress`, and `ReceiveFrom` which w

[2019-09-11 20:01] scalablecory commented on #41033
I don't know if it would be worth it, but what is the complexity of discovering capabilities at runtime?

[2019-09-11 20:16] davidsh commented on #41039
I think this issue opens up the broader discussion of merging other libraries (we used to call them 'contracts').  For example, merging System.Net.WebHeaderCollection with System.Net.Requests would solve some problems (#18784). In general, many times we really don't need new APIs between the libraries; we just need the libraries merged so that we can utilize 'internal' methods.

In .NET Framework,

[2019-09-11 20:16] wfurt commented on #40955
can you get packet captures @fhoutr01. From your description it feels like _every_ request is slow, not just all together e.g. aggregate performance, right?
As quick test, can you try to connect to specific IP instead of using name?

[2019-09-11 20:19] geoffkizer commented on #40933
Can you help me understand why merging the assemblies helps?

[2019-09-11 20:20] wfurt commented on #41033
we possibly could. The issue is that if we miss and pass unrecognized option, everything fails. There was some discussion about when we added TTL handling.

Also this only solve sending part. When somebody want to fill body with specific pattern and then verify that response buffer has (in)proper content you cannot do that - unlike Windows and running on top of RAW socket. We can come up with impr

[2019-09-11 20:22] ViktorHofer commented on #38498
Spoke with @ilyas1974 offline. Two clients had a different openssl version installed. Those will be fixed and the onboarding script will be updated to point to the latest 1.0.2t release.

[2019-09-11 20:30] wfurt commented on #23767
we can make the range more liberal like we did in #24844 for sending.
As far as the negative value: Only one way how that can happen AFAIK is if time is changed during test run. It may be better to use something like Environment.TickCount than actual DateTime.Now.
We can also exclude this test from parallelism to get more predictable time behavior.

I did not find any recent failure in related Sen

[2019-09-11 20:31] ilyas1974 commented on #38498
https://github.com/dotnet/core-eng/issues/7834 to update the Onboarding scripts
https://github.com/dotnet/core-eng/issues/7835 to update the existing systems.

[2019-09-11 20:33] nikswap commented on #41033
True. Regarding the part of verifying the data sent. Now does it seem like
that the code sends the data but nothing is returned.

I am quite sure that the server do not need to return the data sent but can
choose to do anything.

On Wed, Sep 11, 2019, 10:21 PM Tomas Weinfurt <notifications@github.com>
wrote:

[2019-09-11 20:39] wfurt commented on #25979
I found 4 failures in last 90 days. That can be considered as noice caused by CI environment.
Since this issue is super old, I'm going to close it.
If we see this test failing again, we should collect console.log and testResults.xml and we should start fresh issue.

[2019-09-11 20:39] #25979 closed

[2019-09-11 20:40] geoffkizer commented on #40933
Just looking at the SendTo code....

(1) We always make a "snapshot", i.e. copy, of the IPEndPoint -- which means a copy of the IPAddress as well. We only actually use the snapshot when _rightEndPoint is null, which I believe is uncommon. (I'm actually kind of unclear why we need _rightEndPoint at all here, but let's assume we do.) So at the very least we could just avoid the copy unless _rightEnd

[2019-09-11 20:45] scalablecory commented on #40955
Some tracing would be helpful here as well:

[code]

[2019-09-11 20:48] ViktorHofer commented on #41037
I don't see a docker image for 3.10: https://mcrflowprodcentralus.cdn.mscr.io/mcrprod/dotnet-buildtools/prereqs?P1=1568236084&P2=1&P3=1&P4=RRnugnNCyLF2%2B2WuY6EZl4g5ZnNMyPVkDdt0GLiZDRI%3D&se=2019-09-11T21%3A08%3A04Z&sig=IDwLCHNzM1gcT9UJDleOHZV%2BjHO4k3CiyRLO1%2Bzrd98%3D&sp=r&sr=b&sv=2015-02-21

[2019-09-11 20:52] wfurt commented on #26334
I do not see any failures in last 90 days and test is still enabled. closing for now.

[2019-09-11 20:52] #26334 closed

[2019-09-11 20:58] mthalman commented on #41037
I've logged an issue for @MattGal to get those created: https://github.com/dotnet/dotnet-buildtools-prereqs-docker/issues/182

[2019-09-11 21:03] softworkz commented on #40870
@FiniteReality - You might be interested in my comment https://github.com/dotnet/corefx/issues/40871#issuecomment-530088885 regarding allocation probability.

[2019-09-11 21:09] mkArtakMSFT opened #41043 "Prompt user to install .Net Core Runtime"
_From @Safirion on Wednesday, September 11, 2019 4:51:17 PM_

### Is your feature request related to a problem? Please describe.

When a user tries to run a non-autonomous .Net Core Desktop application (WPF) without having the .Net Core runtime (+ .NET Core Desktop Runtime) installed, nothing happens. The only thing that happens is the creation of a log in the windows event viewer.

### Describe t

[2019-09-11 21:09] mkArtakMSFT commented on #41043
_From @blowdart on Wednesday, September 11, 2019 5:42:41 PM_

This is the asp.net core repo, not the dotnet core repo which is over at https://github.com/dotnet/

@mkArtakMSFT can you move this?

[2019-09-11 21:10] mkArtakMSFT commented on #41043
@livarcocc I moved this over, but realized that this may have been moved to `coreclr` instead.

[2019-09-11 21:13] pranavkm opened #41044 "Create standard Dictionary class that doesn't throw a KeyNotFoundException"
_From @AdamHess on Wednesday, September 11, 2019 6:40:32 PM_

### Is your feature request related to a problem? Please describe.

Dictionaries make a missing element an "KeyNotFoundException" event when in reality is quite common place and can be better managed by a null check when an item in the dictionary.

This leads to clunky code like

[code]

### Describe the solution you'd like

A standard

[2019-09-11 21:13] pranavkm commented on #41044
_From @blowdart on Wednesday, September 11, 2019 6:41:22 PM_

This is the asp.net core repo, but your question should be asked in the dotnet core repo which is over at https://github.com/dotnet/

[2019-09-11 21:13] pranavkm commented on #41044
_From @AdamHess on Wednesday, September 11, 2019 7:58:47 PM_

Whoops my mistake.

[2019-09-11 21:37] Wraith2 commented on #41015
Possibly, but it can't do that because the definition of path segments is different between the platforms and the zip file doesn't carry information about the origin rules.

[2019-09-11 23:13] geoffkizer commented on #40933
I gotta say, I really don't understand why we set _rightEndPoint in SendTo.

The main purpose of _rightEndPoint seems to be to store the local endpoint. But in SendTo, we're setting it to the remote endpoint. This seems really weird.

[2019-09-11 23:18] brandonhood commented on #41044
@AdamHess Among the long list of reasons why such a dictionary type would probably never get added to .NET, here's a quick illustration of why this idea falls flat on its face:

[code]

What gets returned? Value types can't be null. The default int value (0) offers even less confidence than `null` that the key wasn't found.

[2019-09-12 00:33] scalablecory commented on #40933
We're storing the `EndPoint` into `_rightEndPoint` for use in both `LocalEndPoint` and `RemoteEndPoint`, but don't actually use the specific address it holds. `_rightEndPoint.Serialize()` is used to create a `SocketAddress`, which has a buffer of the correct size to use for `getsockname` and `getpeername`. We can then use `_rightEndPoint.Create` to deserialize that `sockaddr` into a new `EndPoint`

[2019-09-12 01:01] walterlv opened #41047 "When use the when keyword in a catch expression the app crashes instead of do what the document says"
## Issue

The document [Using User-Filtered Exception Handlers](https://docs.microsoft.com/en-us/dotnet/standard/exceptions/using-user-filtered-exception-handlers) says:

When there is an exception occurred in the when expression the exception will be ignored and the expression will return false.

This works in .NET Core and also works in .NET Framework in old-style project. But the app will **cra

[2019-09-12 01:03] AdamHess commented on #41044
Perhaps a constraint on the generic to be a nullabe type?

On Wed, Sep 11, 2019, 7:19 PM brandonhood <notifications@github.com> wrote:

[2019-09-12 01:05] scalablecory commented on #40933
We do, inside of `IPEndPointExtensions.Serialize`.

Yes, we could do this. `EndPoint` -> `SocketAddress` -> stack. You still have that allocation in the middle, and if we're async we can't use stack so one more allocation. But we'd still save from having an `Internals.SocketAddress` allocation.

One alternate to avoid all allocation for (sync) `sendto` is to add a public `EndPoint.SerializeTo(Span

[2019-09-12 01:12] geoffkizer commented on #40933
We are already special-casing IPEndPoint, so it seems to me we could just special case it directly from IPEndPoint -> stack.

We can still use the stack for async. It gets a little weird on Linux because we need to hold on to the IPEndPoint and generate the actual sockaddr on the stack each time we call into the OS, but I think that's fine.

[2019-09-12 01:18] scalablecory commented on #40933
Hrm for some reason I had it in my mind that `WSASendTo` required the address to stay alive, but it appears I'm wrong, or at least I can't find documentation supporting this. That solves one problem.

[2019-09-12 01:28] summeney commented on #39909
moto z2 has a special user-agent.
https://www.motorola.com.cn/motoz2play/overview/index.html

so .net core cant support alllllllllll moto z2 mobile phone????????????????????????

[2019-09-12 01:31] scalablecory commented on #40933
Good point. We'd have to make sure nobody is doing any weird overriding of `IPEndPoint.Serialize`, but It seems with `SendTo` we can do without any allocation. As you say, it is only `ReceiveFrom` to worry about then, and I don't think that is solvable without a new API because we always need to allocate an `EndPoint`, `IPAddress`, and if IPv6 a `byte[]`.

[2019-09-12 01:40] geoffkizer commented on #40933
Ah, I see.

Still, if those are internal, then 3rd parties can't implement them. So why is that preferable to just special casing IPEndPoint?

[2019-09-12 04:02] theonlyremedy commented on #41015
Thank you @Wraith2 for your inputs. I have to use FullName and parse file name now. But Iterating through zip files should return same name across different systems, no matter I do it on Windows or Linux. I feel like am losing control of handling errors too. Let me go through ZipArchiveEntry's code to find a way if it can be solved. I would love some debate on this from other members too. Thanks a

[2019-09-12 05:02] jkotas commented on #41047
Duplicate of https://github.com/dotnet/coreclr/issues/25534

[2019-09-12 05:47] shishirchawla commented on #28410
Hi @danmosemsft, I would like to have a go at this. Can you please get this assigned to me. Thanks.

[2019-09-12 06:03] JanEggers commented on #41039
maybe you should rather make the internals public then as they may be usefull for someone else as well...

[2019-09-12 06:15] GSPP commented on #40933
A central problem is that `Socket` needs to create `EndPoint` instances to receive UDP packets. Maybe API users could opt into a cache for those endpoint instances. Here is a raw sketch:

[code]

Callers can create one `EndPointCache` and share it across `Socket` instances. This design would preserve the `EndPoint` abstraction. It would not eliminate allocations. But it seems that the number of di

[2019-09-12 06:32] am11 commented on #41047
Configuration knob works with both:

Environment variable
[code]
and app.config

[code]

delete `obj` directory before `dotnet run` in case of app.config changes.

[2019-09-12 06:46] walterlv commented on #41047
@jkotas Thanks for helping me find the duplicated one. I searched everywhere yesterday but I can't find my original issue so I reported a new one. Sorry about that. Maybe this one can be closed.

[2019-09-12 07:01] RaghuMasineni commented on #41019
@joperezr Thanks for the update.

Our Website was built using visual studio 2015 with .netcore 1.1.0. So the project file is still project.json .And there are no plans for using VS 2017 in near future.
Is it possible to migrate project.json to SDK.csProj and dotnet core 1.1 to 2.1 with visual studio 2015 ?
Please provide me any useful link if possible

Following are the error details in Jenkins fo

[2019-09-12 07:04] #41047 closed

[2019-09-12 07:16] GSPP commented on #41044
You can do it like this:

    dict.TryGetValue(key, out var value);
    Console.WriteLine(value);

This simply prints the default value. I sometimes define an extension method to do this without the `out var` thing.

[2019-09-12 07:17] fhoutr01 commented on #40955
I'm currently abroad for work so I'll have a look at this on monday!

@wfurt I can attach wireshark logs when i'm back at the office next monday.
@scalablecory I'll get on that next monday!

[2019-09-12 08:14] stukselbax opened #41049 "AsyncLocal<T> value is changed unexpectedly to the old value when EntityFrameworkCore and SqlClient DiagnosticsListener used"
We are using Jaeger to track app performance and recently encountered in a problem tracking requests:

[code]

It occurred when we updated library opentracing-contrib/csharp-netcore from 0.5.0 to 0.6.0 where support for SqlClient DiagnosticsListener was added.

There is [an issue](https://github.com/opentracing-contrib/csharp-netcore/issues/44) in those library, but as it reproduced without it in

[2019-09-12 10:25] ManickaP opened #41050 "Build.sh in WSL 1 Fails with 'csc.dll exited with code 139'"
Env: WSL 1, Ubuntu 18.04, with prerequisites listed in [here](https://github.com/dotnet/corefx/blob/c4c1985531cc1f25c805bbc4801b85c98e0dfee0/Documentation/building/unix-instructions.md).
Build fails with:
[code]

It's always System.Reflection.MetadataLoadContext library.
The build works in WSL 2. However that requires Insider Preview of Win.

@davidsh Encountered the same problem.
Might be related

[2019-09-12 18:43] JeremyKuhne opened #41068 "Icon entry selection from file/stream does not consider color depth"
Originally reported in https://github.com/dotnet/winforms/issues/1825. #41048 fixes this, the change will need to be ported into 3.0.x.

[2019-09-12 23:21] safern opened #41077 "Corefx native build produces a warning on latest VS Preview (16.4.0 Preview 1.0 29311.250)"
[code]

The build shows as failed even though it didn't really fail because the native step produced a warning so it keeps going. (We might need to propagate the TreatWarningsAsErrors to the native build command), but that is not the real issue there.

cc: @ViktorHofer @ericstj

FYI: @carlossanlop

[2019-09-13 02:00] steveisok opened #41080 "FileSystemWatcher Deleted event not firing when moving multiple files outside the watched folder on macOS 10.13"
This was opened in Mono and bringing it upstream.

_From @jesh182 on Tue, 10 Sep 2019 15:01:54 GMT_

### Steps to Reproduce

1.  Add 3 files to the watched folder (The folder is "SomeFolder" inside user's home folder /Users/username/SomeFolder).
2.  Move the 3 files out of the watched folder at the same time (Move to trash also do the same).

### Expected Behavior
- Deleted event should be fired f

[2019-09-13 07:21] krwq commented on #25154
@dquist can you file separate issue for SerialPort and give example code/test? Which architecture and OS are you running on?

[2019-09-13 07:29] xsoheilalizadeh commented on #39564
I investigated a couple of weeks about this case and tried other approaches + #40003 that have better performance to having snake case naming policy. Finally, I got the best result and it have less allocation and fast execution. My last implementation is [ToSnakeCaseBySpan][1] . Shoud I open a new PR for this?
[code]
[1]:https://github.com/xsoheilalizadeh/SnakeCaseConversion/blob/master/SnakeCaseC

[2019-09-13 07:35] hez2010 commented on #39564
@xsoheilalizadeh I think the name of a property is usually not too long, so maybe you can use stackalloc to reduce memory allocation on heap to reduce GC pressure?
[code]

[2019-09-13 07:45] stukselbax commented on #41049
Strange context changed is _probably_ happens in [ExecuteReaderAsync()](https://github.com/dotnet/corefx/blob/b49a8a9be1d53cd9e50cb68fd8540be25c65d433/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlCommand.cs#L1722) method. It is a bit confusing because there used `TaskCompletionSource`, `Task<SqlDataReader>.Factory.FromAsync()` and `.ContinueWith()`...

[2019-09-13 07:47] xsoheilalizadeh commented on #39564
Nice suggestion, but here is a question how I should return buffer, I've got following:
[code]

[2019-09-13 07:47] Gnbrkm41 commented on #39564
Nope, not yet 😅 not until the API is approved.

[2019-09-13 07:51] hez2010 commented on #39564
Because buffer now is allocated on the stack, you cannot return it directly since it will be disposed after return. To solve it, you can simply change `return buffer` to `return buffer.ToString()`;

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Soheil Alizadeh <notifications@github.com>
Sent: Friday, September 13, 2019 3:48:38

[2019-09-13 07:59] DaZombieKiller commented on #41015
I definitely agree that the output of `Name` should not be platform-dependent.
The documentation for `ZipArchiveEntry.Name` states:

`The Name property contains the portion of the FullName property that follows the final directory separator character (\), and does not include the subdirectory hierarchy.`

This leaves no implication that it would be platform-specific or have special behaviour for c

[2019-09-13 08:24] MarcoRossignoli commented on #41039
I remember that was one of most advertised feat on docs/post/conference :smirk:

[2019-09-13 08:26] Wraith2 commented on #41015
I tend to agree and I've done come digging rather than guessing as I was before. It turns out that the zip file can contain knowledge of the source platform (not filesystem) which is in the [zip central directory](https://github.com/dotnet/corefx/blob/31a5bba0e79a5ae875f691d70ec3b9789691136d/src/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs#L56) and that it does later try to p

[2019-09-13 08:42] ViktorHofer commented on #39581
Happened again: https://dev.azure.com/dnceng/public/_build/results?buildId=353190&view=ms.vss-test-web.build-test-results-tab&runId=10640704&resultId=157169&paneView=debug

Configuration: `netcoreapp-OSX-Debug-x64-OSX.1013.Amd64.Open`

[code]

[2019-09-13 08:44] ViktorHofer commented on #40690
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=353190&view=ms.vss-test-web.build-test-results-tab&runId=10640904&paneView=debug&resultId=178143

Configuration: `netcoreapp-Windows_NT-Release-x86-Windows.10.Amd64.ClientRS4.ES.Open`

[code]

[2019-09-13 09:11] ViktorHofer commented on #41077
Something must have changed on the VS's side. Let's keep this open and investigate further if this still happens with a later 16.4-preview version.

[2019-09-13 09:19] GSPP commented on #39712
When UTF16 support is added, it will be in the form of a method `void SerializeUtf16(Stream stream, object obj)`. I don't see an alternative design possibility (that has a chance to be chosen). Do you?

And then we have a method `Serialize` and a method `SerializeUtf16` which is inconsistent naming.

[2019-09-13 09:24] ocoster commented on #40648
@divega - if it does happen on the client, then ignore me... I have seen queries fail when the query text has different casing for column names if the default collation is case sensitive.

[2019-09-13 09:54] ManickaP opened #41085 "VS Code Debugging Instructions"
I used [these instructions](https://github.com/dotnet/corefx/blob/master/Documentation/debugging/unix-instructions.md) to set up VS Code for debugging corefx. However, the `dotnet` in the program path: `corefx/bin/testhost/netcoreapp-Linux-{Configuration}-{Architecture}` (adjusted to include `artifacts` as is current directory structure) failed for me with:
[code]

The 5.0.0 is a version of dotnet

[2019-09-13 10:37] volanavlad opened #41086 "Linux only: System.RuntimeType.GetProperty does not find properties with cyrrilic chars if BindingFlags.IgnoreCase is set"
Linux only: System.RuntimeType.GetProperty() does not find properties with cyrrilic chars if BindingFlags.IgnoreCase is set.

The same code works fine on Windows OS.

[code]

More info: https://github.com/dotnet/core/issues/3356

[2019-09-13 11:31] ManickaP commented on #30909
This does not happen on WSL2, mentioned files are not empty anymore and contain at least the expected header (e.g.: [`// First line is header in each file.`](https://github.com/dotnet/corefx/blob/fdb13cc7ee134a17fb36a038b57795b7e2225274/src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Connections.cs#L46)).

I was able to reproduce the issue on WSL1 and the s

[2019-09-13 12:28] dquist commented on #25154
I'm running on core 3.0 preview 9 on Windows 1903.

I'd be happy to create a separate issue, however after browsing the source it seems this is the correct behavior.

SerialPort.Windows.cs inherits from Stream.cs which [implements](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/IO/Stream.cs#L352) `ReadAsync` as

[code]

Notice that the cancellation token is

[2019-09-13 14:29] ViktorHofer commented on #41085
Unfortunately not. You are not running against the live built assets but instead on the shared framework that comes with the SDK (currently 3.0.0-preview7). I'll take a look.

[2019-09-13 14:32] stephentoub commented on #24770
Really?  It's part of the `IDictionary<>` interface.

I agree... the `If` is confusing.  Why can't it just be an overload of the existing TryRemove?

That would be my preference.

All that said, this example used to motivate this API has a race condition: state.Count could change away from 0 after the check and before the TryRemove call. No?

[2019-09-13 14:37] ViktorHofer commented on #41085
Can you please share your launch.json file?

[2019-09-13 14:45] bartonjs commented on #24770
TryRemove(key, value) vs TryRemove(key, out value) have very different meanings (one is double-input conditional, one is single-input conditional).  Do we have a similar place where we have an overload differing by ref-ness with a similar complexity change?  It sort of makes sense when it's "more" complicated instead of "differently" complicated: `TryRemove(TKey key, TValue matchValue, out TValue

[2019-09-13 14:47] stephentoub commented on #24770
That predicate would need to be invoked while holding one of the dictionary's locks.  We've stayed away from that as it can easily lead to deadlock.

[2019-09-13 14:49] ManickaP commented on #30909
@stephentoub You suggested throwing [`NetworkInformationException`](https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Net/NetworkInformation/NetworkInformationException.cs) but it inherits from `Win32Exception` so it might not be the best candidate (as it is right now).

I see 3 options right now:
- split the `NetworkInformationException` into Win and Linux implementations
- creat

[2019-09-13 14:50] bartonjs commented on #24770
Wouldn't AddOrUpdate, when invoking `updateValueFactory`, be in the same state? (Perhaps it's "yes, and it leads to deadlock all the time")

[2019-09-13 14:56] stephentoub commented on #30909
We've had to accept the fact that "Win32Exception" is simply poorly named, and it's really "OSException".  It works fine on Unix, and is thrown in many other places.  It'd be a breaking change to change NetworkInformationException's base type, and NetworkInformationException similarly works fine on Unix.