[2017-01-30 02:36] chadwackerman commented on #11100
@jahmai When I used that command line it did not update my reference from 4.0 to 4.2 nor add the necessary copy flags. Make sure those are set for System.Net.Http and dependencies and it should work fine on Azure.

[2017-01-30 03:01] stephentoub commented on #1745
Thanks, @tmds. Sounds like a reasonable change to make then.

[2017-01-30 04:31] Thaina opened #15622 "Proposal: Dictionary<TKey, TValue>.Remove(TKey, out TValue)"
### API Proposal

[code]

### Motivation

The following is a common way to pull an item out of a Dictionary:

[code]

This requires the dictionary to calculate the hash code twice when the key is in the dictionary.

### Details

Functionality-wise it would do the same thing as the following method, but will be more efficient by having to generate the hash code only once:

[code]

## Original Propo

[2017-01-30 06:14] karelz commented on #984
Yes, we can offer assistance to community efforts. We kicked off 2 similar efforts in December - System.DirectoryServices #2089 (sadly, it didn't catch on and the promised community contributions didn't start, yet) and SignedXml #4278 (with significant progress by community).
Note that SerialPort was the next on the list -- we just didn't want to kick off too many such efforts in parallel, without

[2017-01-30 06:16] karelz commented on #15202
@tarekgh nope, you did good. I just added whose who are helping us with our stability of Networking tests effort.

[2017-01-30 06:23] karelz commented on #12492
Should I read it as that the proposal doesn't have a strong support from community yet?
Does it need more bake time?

I admit I didn't read the whole thread, but until we have majority involved community members agreeing with the proposal or at least with its direction, then we should not submit the proposal to API review.

@svick @dasMulli @SunnyWar @JonHanna do you want to chime in?

[2017-01-30 07:15] SWY1985 commented on #984
Hi, I'm currently working on porting one of our .NET libraries to .NET Standard so that we can use the same library on Windows and Linux. Serial Ports are an important part of that library.
I would be happy to assist in porting and testing where I can.

[2017-01-30 07:32] karelz commented on #8067
@chcosta ping? Are you working on it? If not, we should unassign you :)

[2017-01-30 07:33] karelz commented on #3576
@jaredpar do we need this bug opened in CoreFX? Is it tracking anything actionable here?

[2017-01-30 07:34] karelz commented on #9657
@ianhays are you working on it? (it's assigned to you) Or is it up for grabs?

[2017-01-30 07:35] karelz commented on #5315
@weshaggard are you working on it? (it's assigned to you)
Is it still actionable?

[2017-01-30 07:36] karelz commented on #10925
@MattGal @maririos are you working on it? (it's assigned to you)
Do we still need it, given that we are pushing for getting rid of run.exe?

[2017-01-30 07:38] JeremyKuhne commented on #984
As there is clearly interest, I'll start taking a look at moving the code. :)

At [first glance](https://msdn.microsoft.com/en-us/library/system.io.ports.aspx) it doesn't look too crazy.

[2017-01-30 07:42] karelz commented on #15612
cc @weshaggard @mellinoe

[2017-01-30 08:05] Abdullah2993 commented on #984
@JeremyKuhne that did be really great.

[2017-01-30 08:45] willdean commented on #984
@karelz  I like the process set out at the top of those two other efforts you linked to - both from the pov of absolutely not trying to improve the architecture / API on a first pass, and also seeing if there's any existing test code which can come across from outside the refsource but within MS.

Would porting to .NET Standard 2.0 be the current aim, or are we supposed to go to something lower at

[2017-01-30 09:38] VenkateshSrini opened #15623 "bypass SSL validation on Unbuntu"
Our client has an on premise hosting of Cloud foundry that runs using a self signed certificate. We are developing MicroServices for him in ASP.NET Core. During this we need to make HTTP calls for which we are using HttpClient.

•Is there way I can bypass the SSL validation check in SSL client for Ubuntu( I know it can be done for windows)?

[2017-01-30 09:56] jamesgibbs100 commented on #14978
Hi @saurabh500

How are your investigations coming along - any update at this time ?

Thanks
James

[2017-01-30 12:02] shaggygi commented on #984
I agree with @karelz and not quite sure on testing without physical hardware.  Maybe the first go would be to use hardware and then add better test support when x-plat and API improvements round occurs.  I did a quick search and came across these links that might give some insight.

[PySerial Unit Tests](http://pyserial.readthedocs.io/en/latest/examples.html#unit-tests) - This has some example tes

[2017-01-30 12:07] pollax commented on #11100
Our scenario is a direct dependency on types in System.Net.Http.
I tested `Update-Package System.Net.Http -Version 4.4.0-beta-24913-02 -Source https://dotnet.myget.org/F/dotnet-core` on one project and so far it seems to work well. That's very good news.

Regarding the Nuget/MyGet issues, I got the following output for this single project:

Note that I'm in timezone UTC +01:00, don't know when MyG

[2017-01-30 12:21] willdean commented on #984
One thing we need to be really clear about with using hardware for test is what that hardware actually is, and whether we end up testing the hardware's drivers more than we do the SerialPort implementation.  The same applies to the various 'virtual' ports systems.

In a perfect world I guess we would test against a 'real' (8250/16550-family) serial port as a kind of gold-standard, which used the n

[2017-01-30 12:22] AlexeiScherbakov commented on #984
Serial Port can be emulated on linux (real machine, virtual or docker) via
"socat".
So VM can be used as test agent for linux based OSes.
Is Serial Port loopback avaliable on Windows? May be Windows Server can
make virtual serial port on VM that is linked not to real serial port, but
to other virtual port VM?

30 Янв 2017 г. 15:04 пользователь "Greg Ingram" <notifications@github.com>
написал:

[2017-01-30 12:38] SWY1985 commented on #984
I am able to test with physical hardware on Linux and Windows using an USB RS485 converter (FTDI) and a generic USB RS232 port.

[2017-01-30 13:06] maartenba commented on #11100
@pollax Thanks. We found the issue (see my last comment above) - client+server combination. Working on making it better.

[2017-01-30 13:46] MikeGoldsmith commented on #11100
I can confirm using the beta System.Net.Http library from MyGet worked for my scenario:
- .NET 4.6 console application with a dependency on a library that uses System.Net.Http

It took around 90 seconds for the nuget package to download from MyGet and the bindingRedirect in the app.config was applied correctly.

I'm happy to help test more scenarios if they have been described somewhere.

[2017-01-30 13:50] NimaAra commented on #11224
As an FYI, here's a related post covering this issue and an interim solution. [Beware of HttpClient](http://www.nimaara.com/2016/11/01/beware-of-the-net-httpclient/)

[2017-01-30 15:39] mjrousos commented on #10198
Any updates on getting these calls redirected to Secur32 in Nano cases?

[2017-01-30 15:42] JohnGalt1717 commented on #9846
This is still an issue. System.Runtime.Serialization.Primatives is the new culprit of choice now throwing errors. Not sure if System.Net.Http is still an issue but probably is, it just hits that one first now on execution.  You guys really need to get ALL of these just working properly in .NET 4.6.x so we don't have to play this dance every time we use nuget to fix this stuff.

[2017-01-30 16:10] tarekgh commented on #15581
I'll take a look. this is weird as we didn't touch this area.

[2017-01-30 16:10] akcorp2003 opened #15630 "XDocument Save() with Filename"
Are there plans to add the filename to XDocument Save() method?

In the .NET Framework API, you can pass in a string as an argument and you can save it that way. However, in the .NET Core implementation, you can't do that.

[2017-01-30 16:23] tmds commented on #1745
@stephentoub I can make a PR for this. What is the proper way to `#if PLATFORM_UNIX` in `Uri.cs`?

[2017-01-30 16:30] gkhanna79 commented on #15503
@weshaggard Yes, that should be fine.

[2017-01-30 16:38] karelz commented on #1745
BTW: Assigned to you @tmds

[2017-01-30 16:47] jaredpar commented on #3576
No I don't think we need a bug here.

[2017-01-30 16:50] danmosemsft commented on #15630
It's added: https://github.com/dotnet/corefx/blob/master/src/System.Xml.XDocument/ref/System.Xml.XDocument.cs#L193
However it's not shipped -- this will be in the upcoming 2.0 release.

[2017-01-30 16:51] danmosemsft commented on #15609
https://github.com/dotnet/buildtools/issues/1305

[2017-01-30 16:51] #15609 closed

[2017-01-30 16:59] MattGal commented on #10925
@karelz Not actively working on this.  OK to close by me.

[2017-01-30 17:00] galich commented on #9846
We've updated referenced packages recently and our MSI build tool started to pick up tons of new DLLs we never needed before. Frankly, having seconds thoughts of if that whole .net core idea is a good one. Permanent issues with HTTP, frequent issues with string.Normalize(), dll hell replaced with package hell that produces dll hell...

Each update is a lottery and i don't feel like a winner. We us

[2017-01-30 17:06] karelz commented on #3576
OK, closing.
cc: @mellinoe

[2017-01-30 17:06] #3576 closed

[2017-01-30 17:07] karelz commented on #10925
OK, thanks for confirmation. Closing for now.
@mellinoe feel free to reopen if you feel otherwise ...

[2017-01-30 17:07] #10925 closed

[2017-01-30 17:08] #15630 closed

[2017-01-30 17:31] Eilon commented on #12625
@karelz we have ASP.NET Core scenarios that are blocked by this. Can we expect this bug to be fixed for the first preview of 2.0?

cc @DamianEdwards

[2017-01-30 17:34] karelz commented on #984
@willdean Reusing existing tests from Desktop .NET Framework is definitely and option. I will let @JeremyKuhne check how feasible it is (probably during his source code porting exercise). Maybe we use some SerialPort emulator there ...
@ianhays might have also insight on SerialPort tests in .NET Framework - I think he made some fixes there recently-ish.

I would suggest to build the library on top

[2017-01-30 17:37] chcosta commented on #8067
We no longer build with package references.  This is not an issue anymore.

[2017-01-30 17:37] #8067 closed

[2017-01-30 17:38] #5873 closed

[2017-01-30 17:47] stephentoub commented on #15623
You can set your HttpClientHandler's ServerCertificateCustomValidationCallback delegate to provide whatever validation you want, including just returning true for every certificate.  We do this in a bunch of our own tests, e.g. https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs#L54.

[2017-01-30 17:49] Tratcher commented on #15591
Let me put it another way. What does CookieCollection get you compared to the HttpHeaderValueCollection used by all of the other headers? Why should Cookie/SetCookie be different?

[2017-01-30 17:49] weshaggard commented on #5980
OK I don't think there is anything we can really do on this front from corefx side so I'm closing this issue. If folks still feel this is important then the SDK repo is likely the better choice to get some traction on this.

[2017-01-30 17:49] #5980 closed

[2017-01-30 17:50] karelz commented on #984
I have added the execution plan to the top-most post. Let me know if there is anything missing, or warrants clarification.

I plan to assign the issue to folks who participates in the effort - for that reason I sent collaboration requests to @willdean and @SWY1985 (GitHub limitation - please ping me here when you accept). If others are serious about contributing to the effort, please say so explic

[2017-01-30 17:51] quoctruong opened #15633 "File.GetLastWriteTime inconsistencies."
On Windows, File.GetLastWriteTime does not throw an error if the file does not exist. On Linux, however, this function throws an error.

[2017-01-30 17:53] karelz commented on #12625
@ramarag @tarekgh can you please prioritize this fix to unblock ASP.NET team?
cc: @danmosemsft @gkhanna79

[2017-01-30 18:00] jkotas commented on #12625
cc @morganbr

[2017-01-30 18:02] weshaggard commented on #4278
You can see my thoughts on InternalsVisibleTo in this old issue https://github.com/dotnet/corefx/issues/1604.  My general take is not to do it unless there is a real specific need to do it.

[2017-01-30 18:06] weshaggard commented on #5315
I'm not working on this. It is a clean-up item I've not looked through the source recently to see how pervasive it is currently. It is probably worth dividing it into new issues and have the owners of the libraries look into it and decided to violate our guidelines or clean it up.

[2017-01-30 18:06] danmosemsft commented on #15633
That seems like it should be fixed.

[2017-01-30 18:08] weshaggard commented on #15612
@jamesqo this isn't unique to release it happens when you call build-managed by itself. See https://github.com/dotnet/corefx/issues/14940. We need to clean that up a little but to fix it I would suggest calling build.cmd -release to ensure the native bits are also built.

[2017-01-30 18:08] #15612 closed

[2017-01-30 18:09] TylerBrinkley commented on #15453
I've updated the proposal to include generic versions of instance methods for performance reasons.

[2017-01-30 18:10] arcs001 commented on #13970
Hi @karelz yes I'm working, i should submit th PR this week. Thanks

[2017-01-30 18:11] stephentoub commented on #15633
https://github.com/dotnet/corefx/issues/1728

[2017-01-30 18:12] karelz commented on #13970
Cool, thanks for confirmation. I was just wondering given the 1 month silence ;-). No rush.

[2017-01-30 18:12] VenkateshSrini commented on #15623
Does this work on Ubuntu also. Please clarify ? Which version of System.NET.HTTP should I use?

[2017-01-30 18:12] shaggygi commented on #984
@karelz Once code is in a state we can run in our own dev environment, how do you want issues added (if some are found, that is :smile:) to this repo?  Add in this issue thread? Create new issues with [SerialPort] XXX?  Other?

[2017-01-30 18:12] deinok commented on #15591
@Tratcher For what i can see, a `SetCookieHeaderValue` its more or less like a Cookie an the same for `CookieHeaderValue` .
Can you explain me what's the benefits of using the style of HeaderValue in the case we already have a model for Cookies?

A `HeaderParser`can be create to parse that Cookie Headers.
The benefit of using Cookie and CookieCollection is that this models are already used in Syst

[2017-01-30 18:13] vcsjones commented on #12855
@karelz Ah! Sorry this one fell off my radar. Yes I will get a PR in very soon.

[2017-01-30 18:14] DirkRoelandt commented on #984
Hi Karelz,

Great to see some movement this topic.  We are also candidate to do testing within our software package providing this core framework implementation will support UWP & onboard UART hardware.

[2017-01-30 18:14] stephentoub commented on #15623
Yes, as long as the libcurl you're using is OpenSSL-based.

All of the released .NET Core versions have this support.

[2017-01-30 18:15] ianhays commented on #15633
I took this issue to a design review forever ago and sentiment was strong that the Linux versions should throw. So, it is definitely a purposeful difference in behavior.

This is a dupe of #1728, so we should reopen and continue discussion there if we want to change the behavior to match Windows.

[2017-01-30 18:15] #15633 closed

[2017-01-30 18:15] danmosemsft commented on #15554
Line coverage is 42%
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

[2017-01-30 18:17] ianhays commented on #15633
FWIW, my vote is/was consistency between platforms. Since the overall sentiment on compat has changed since #1728, it's possible we may want to make them the same now.

[2017-01-30 18:23] Tratcher commented on #15591
The Cookie type isn't appropriate for requests as it includes all of the response fields, which will likely cause confusion. E.g. "I added a whole list of cookies to the request and expected it to filter out the expired ones and the ones for different domains.." etc.. CookieContainer has these features, but HttpRequestMessage.Headers.Cookie shouldn't.

CookieHeaderValue and SetCookieHeaderValue al

[2017-01-30 18:27] karelz commented on #984
@shaggygi I assume you are referring to steps [4] and [5] in the execution plan. I would use common sense :).
Personally I think [5] should be filed separately (I included it in the plan for completeness) and [4] can be decided later ... if it starts right away as part of this effort, we may reuse this issue. If it doesn't start right away, it does not make sense to keep this issue alive just beca

[2017-01-30 18:28] jamesqo commented on #14220
I very much agree with @bartdesmet; I think if we don't act now, we'll forget about this issue for like a year and by then it'll be too late to do anything. @karelz It seems like everyone is in favor of adding these methods, can this be marked ready for review?

[2017-01-30 18:32] MattGal commented on #10421
I'm not currently working on this.   We're looking at reimagining what the contract looks like, so I think it'd be OK to close this issue for now;  there are many issues tracking improvement to the dev workflow.

[2017-01-30 18:33] ianhays commented on #15599
related to https://github.com/dotnet/corefx/issues/14853 and (to a lesser extent) https://github.com/dotnet/corefx/issues/12066 and https://github.com/dotnet/corefx/issues/10223

There are many fields in the ZipArchive header that I would like to see exposed in some manner eventually. I'm a bit hesitant to start exposing them one-by-one as we may end up with a messy API that we wish we could chang

[2017-01-30 18:34] karelz commented on #12855
Great, no rush. I'm happy my nagging was useful at least once :) (to catch something accidentally dropped ;))

[2017-01-30 18:37] karelz commented on #10421
Fine with me. @mellinoe feel free to reopen if you disagree.

[2017-01-30 18:37] #10421 closed

[2017-01-30 18:41] karelz commented on #14220
I would like to have area experts (@VSadov @OmarTawfik) to make the final call on readiness of this API for review - they are the first-level review, before we do the "big one" :)

That said, it seems to be consistent with previous direction of Queryable/Enumerable, so I expect it will be simple to get ack from @VSadov / @OmarTawfik.

[2017-01-30 18:49] karelz commented on #5315
I would love to see clear guidance "this is what has to happen". Then, we can justify "up for grabs".
Is it unclear if/what exactly we would do? Do we really need area owners to chime in? If yes, why? (hypothetical example is fine)

[2017-01-30 18:51] deinok commented on #15591
For what i know servers already filter Cookies (or should do it). Take this example.

`var cookie=new Cookie(){Name="name",Value="value",Expires="Thu, 01 Jan 1970 00:00:01 GMT"};`

This cookie is valid but the server should not react to that and the cookie Container the same. Also it is a Set-Cookie format.

`request.Headers.Cookies.Add(cookie);`

Internaly it is parsed to `Cookie: name=value;`

T

[2017-01-30 18:51] DirkRoelandt commented on #984
Fair enough.
Although I can not emphasize enough that the only the true added value of UWP (on desktop, kiosk, embedded, .. obviously) can be unleashed by having a proper serial interface to communicating with peripherals (still present for next years to come in a large majority of specialized hardware).
This is currently huge inconvenience on the UWP platform.

[2017-01-30 18:54] weshaggard commented on #5315
When we did a large code dump during the porting exercises there was a lot of code that used the define NET_NATIVE (https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=NET_NATIVE) instead of fixing that as part of the code dump we filed this tracking issue to clean these defines up to make them match our guidelines https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/p

[2017-01-30 18:55] karelz commented on #15374
When you have changes (strong recommendation: in a branch), submit PR on GitHub.
Area owners will review. Don't merge master until the very end. Just react to feedback in your branch (pushes automatically update PR on GitHub).

Both inner and outer loop tests should pass in general. We ask contributors to run inner loop before submitting PR and relevant Outer loop subsets. In this case, I would sk

[2017-01-30 18:57] stephentoub commented on #1745
It looks like we already build this assembly for each of Windows and Unix, so it's just a matter of determining how best to separate the functionality.  Fairly uniformly across corefx, we've done that with partial classes/methods; is it reasonable to do the same here?  That would be preferable.  If it's not possible or if for some reason doing so would cause a perf issue or would make the code rea

[2017-01-30 18:59] ianhays commented on #15560
Looks like a duplicate of https://github.com/dotnet/corefx/issues/11161 which was resolved in https://github.com/dotnet/corefx/pull/11235 back in August 2016.

Closing this issue as duplicate/resolved.

[2017-01-30 18:59] #15560 closed

[2017-01-30 19:00] Tratcher commented on #15591
I think you've just demonstrated my point about people being confused by the behaviors of the extra fields. The expiration (and all other cookie params) are not transmitted on the request, only name=value, so the server can't filter them for you. Filtering only happens on the client when deciding which cookies to send before adding them to the headers.

[2017-01-30 19:04] saurabh500 commented on #14978
@jamesgibbs100 There is a PR that @corivera is working on
https://github.com/dotnet/corefx/pull/15494

[2017-01-30 19:04] deinok commented on #15591
@Tratcher Thanks for the explanation. @karelz Proposal updated

[2017-01-30 19:12] weshaggard opened #15635 "Figure out the set of CI legs we should run by default on each PR"
Today we run various OS's, Architectures, and flavors (Debug/Release) on every PR. I think we should figure out the best set of combinations to get the most bang-for-the-buck in our PR CI system. For example I would not suggest we do Debug/Release for all OS's we should mix and match.

To see the discussion here is what I would suggest:

Windows - Debug - x64
Windows - Release - x86
OSX - Debug -

[2017-01-30 19:17] karelz commented on #15591
@Priya91 @davidsh @CIPop does the proposal look reasonable to you?

[2017-01-30 19:17] jamesqo commented on #15612
@weshaggard Thanks for the advice. I see that `build -release` is calling msbuild with `/p:ConfigurationGroup=Debug` though.

[code]

Same for `build-native`. It seems like only `build-managed` is paying attention to the -release switch?

[2017-01-30 19:18] karelz commented on #15560
FYI: It has been fixed in 1.1.

[2017-01-30 19:21] stephentoub commented on #15635
I suggest we include both debug and release for macOS:
- Some of our assemblies are specialized for macOS separate from Linux
- We've had multiple issues in the past where native builds pass on debug but fail on release due to warnings and the like that only occur in release, e.g. args that were used in debug but not in release resulting in unused argument warnings that are treated as errors

The

[2017-01-30 19:22] karelz commented on #15635
cc: @danmosemsft @mellinoe

[2017-01-30 19:23] karelz commented on #15635
Where is current matrix? I thought we were discussing even the rolling [builds & tests](https://github.com/dotnet/corefx#build--test-status).

[2017-01-30 19:26] stephentoub commented on #15635
It's listed at the bottom of every PR.  (Windows_NT + Ubuntu14.04 + CentOS7.1 + macOS) x (Debug + Release)

This PR is titled "Figure out the set of CI legs we should run _by default on each PR_"

[2017-01-30 19:30] JeremyKuhne commented on #15589
@karelz general guidance is good, but I think it's worth having a discussion about NullReference versus ArgumentNull in general as it is a bit different than changing exceptions thrown by argument validation.

I lean towards adding ArgumentNull _when we get a null argument that causes a NullRef_. NullRef infers accidental rather than intentional (certainly moreso than ArgumentNull). It can potenti

[2017-01-30 19:30] bartonjs commented on #4278
No.

If it's something other than a deep exception path it should be reachable, or deleted.  If it takes a tricky test case to hit it, well, that's what we need.

Assuming you mean "the test projects include the product source to get access to internal members": No.

-----

`[InternalsVisibleTo]` and source sharing are both inherited strategies.  The most vociferous of us believe (essentially) tha

[2017-01-30 19:30] karelz commented on #15635
I know - that's why I'm trying to ask about impact and overall VM resources optimization. Where do we spend most VM time - in per-PR CI or the rolling CI?

[2017-01-30 19:36] danmosemsft commented on #11468
This is done. @joperezr

[2017-01-30 19:36] #11468 closed

[2017-01-30 19:39] dagood commented on #15127
Seemed to repro on OSX release/1.1.0 in https://github.com/dotnet/corefx/pull/15634: https://ci.dot.net/job/dotnet_corefx/job/release_1.1.0/job/osx_debug_prtest/195/testReport/junit/System.IO.Tests/Directory_SetCurrentDirectory/SetToValidOtherDirectory/

[2017-01-30 19:43] weshaggard commented on #15635
I believe the per-PR is where we spend most of our CI budget because it resins on every commit pushed to any branch that is under PR.

I'm OK with doing debug and release for OSX I suggested only one because I know that the Mac resources are generally the long pole for many CI runs so I thought it might be better to have it only hit once per-PR.

[2017-01-30 19:44] weshaggard commented on #15635
Also I would suggest we have a more complete matrix like we do today for the rolling CI.

[2017-01-30 19:47] weshaggard commented on #15615
@joperezr It looks like we aren't properly configuring some of these projects.

[2017-01-30 19:50] karelz commented on #4278
Thanks @bartonjs for your insights while on vacation! Now go and have some fun in real world ;-)

[2017-01-30 19:54] karelz commented on #984
@DirkRoelandt thanks for feedback on the scenario value! We are passing it to UWP platform owners to make sure we are on the same page regarding importance of the scenario.

[2017-01-30 19:54] weshaggard commented on #15612
@jamesqo That command is just to generate our version headers which doesn't really matter if it is Debug or Release. It might be a good idea to pass along the data here https://github.com/dotnet/corefx/blob/master/src/Native/build-native.cmd#L19 but it isn't really necessary.

Let me know if you cannot successfully build with build -release but all our official builds and CI builds do build correc

[2017-01-30 19:57] karelz commented on #5315
After offline chat with @weshaggard:
It turns out that some NET_NATIVE ifdef'd code will likely be targeting .NET Native (and not CoreCLR in UWP for F5), while some will be general UWP (not .NET Native specific).
Currently we do not have great way to test in UWP (.NET Native or CoreCLR for F5) - that work is in progress.

If/when anyone wants to pick up the work, please ping us - @weshaggard can p

[2017-01-30 19:59] daflame76 commented on #984
I do not understand why we want to repeat all the work done by the RJCP serial port already. Could we not request to assume that implementation. It works cross platform already and closely follows the form of the System.IO.Ports.

[2017-01-30 20:06] #15581 closed

[2017-01-30 20:07] VSadov commented on #14220
Yes. I agree with all points.
I also though initially that since one of the inputs is an element, not in a sequence form, it would prevent to have meaningful symmetry, but it looks like it is all doable.

It will be a breaking change, but the scenario should not be very common yet.
It seems better to make the change now.

[2017-01-30 20:08] chadwackerman commented on #11100
Interesting side effect: adding the 4.4.0-beta of a Windows-only .NET library broke deployment of a  .NET Core application on Linux.

"dotnet restore" is hardcoded to 60 second package retrieval times. And there's no flag to select just a specific platform like "dotnet publish" supports. So for a cross-platform library your tiny Linux worker node downloads a bunch of Windows binaries unnecessarily

[2017-01-30 20:10] irontoby commented on #9788
I have a `.csproj` based ASP.NET Core 1.1 project in Visual Studio 2017 RC (using preview4 tools version) and am trying to figure out how to get these tools installed in my project, so that I can run `dotnet aspnet-codegenerator` for scaffolding.

All attempts using the above workarounds have failed, but maybe I'm not putting the `PackageTargetFallback` in the correct spot... could someone post a

[2017-01-30 20:11] OmarTawfik commented on #14220
I agree that we should keep the symmetry. ack 👍

[2017-01-30 20:19] Priya91 commented on #15591
@deinok The ```SetCookieHeaderValue``` and ```CookieHeaderValue``` types are not defined in .NET Core. Can you update the API proposal with the public surface area for those types as well. The ASP.NET ones looks good.

Conceptually the API makes sense, would like to . Additional concerns are:

1. Mono also has ```CookieHeaderValue``` under same namespace ```System.Net.Http.Headers```. The .NET Cor

[2017-01-30 20:23] jamesgibbs100 commented on #14978
@saurabh500 , @corivera  - thank you both muchly

James

[2017-01-30 20:24] CIPop commented on #7597
That may prove that the failures are not particular to the Linux subsystem for Windows. Docker Linux containers on Windows uses an actual Linux VM where the Docker server is hosted.

[2017-01-30 20:25] ianhays commented on #9657
I'm not actively working on this, no. Any community members interested in this are welcome to take a stab at it following the instructions from my earlier comment. The most difficult part of adding support will be making the managed LZMA code play nicely with a stream interface like DeflateStream's.

Another route would be to utilize the work done already in one of the many open-source implementat

[2017-01-30 20:27] tintoy commented on #4278
@karelz @bartonjs (although only once you're back from vacation!) @steveharter and anybody else with an opinion:

@anthonylangsworth has created [some initial tests](https://github.com/tintoy/corefx/tree/feature/xml-crypto/tests/src/System.Security.Cryptography.Xml/tests) as a discussion-starter, and we'd appreciate any feedback you may have so far.

[2017-01-30 20:27] karelz commented on #14220
@VSadov @OmarTawfik please update the bug accordingly in that case (api-needs-work -> api-ready-for-review, milestone: Future). (yes, I could do it instead, but I won't scale to watch over every single issue in CoreFX repo, so I need area owners to learn what to do ;-))

If there is breaking change impact (even small), it should be mentioned in the top-most proposal. So that it can be discussed as

[2017-01-30 20:27] Priya91 commented on #15202
This is fixed with @tarekgh PR #15562 . Should we close this?

[2017-01-30 20:28] Tratcher commented on #15591
Note everything in ASP.NET Core's Microsoft.Net.Http.Headers namespace/package are forks of System.Net.Http.Headers with proposed improvements for future unification. We're going to do another pass on these soon to reduce their allocations / improve their efficiency.

[2017-01-30 20:28] jamesqo commented on #14220
@karelz I will update the top.

[2017-01-30 20:30] karelz commented on #15202
I thought @tarekgh mentioned there is still something left -- this is a bit messy issue :(. We should carve out big/independent chunks into separate issues next time.

[2017-01-30 20:31] SunnyWar commented on #12492
@karelz I'm against this proposal as it stands. It does not solve the stated problem directly. To try to use it to solve the problem is inefficient and cumbersome. Sorry, I'm just not seeing the value the way it stands now.

btw: I think the case of generating a unique set of random values from a range or collection is common enough to be considered for addition to the framework, I just don't thin

[2017-01-30 20:31] willdean commented on #984
@daflame76 I don't know enough about https://github.com/jcurl/serialportstream to really comment, but I don't think that was ever intended as a drop-in replacement for .NET SerialPort which is perhaps more what people are hoping for here.

[2017-01-30 20:31] karelz commented on #14220
@jamesqo thanks!

[2017-01-30 20:37] willdean commented on #984
@karelz I have accepted the various invitations, contrib agreements.   What do you think about @daflame76's point about an existing OSS lib which does a lot of what you want (but isn't Core and isn't actively moving towards it yet.)   I know the MS of old would have shrugged and done its own thing, but I'm not sure nowadays...

[2017-01-30 20:45] tarekgh commented on #15202
we still need to fix the System.Net test failures. @Priya91 are you the right one to look at this issue?

[2017-01-30 21:01] karelz commented on #984
Using other .NET libraries is perfectly fine! We fully support all ecosystem efforts! ;-)
Any library has also option to join the [.NET Foundation](https://dotnetfoundation.org/).
The key value of same API shape in .NET Core is the ease of migration to .NET Core out of the box and ability to create portable libraries (.NET Standard-based).
If you notice, we (.NET team) are not pushing here for hav

[2017-01-30 21:03] karelz commented on #984
@willdean I added you to GitHub's collaborators list for CoreFX repo couple of hours ago. It does not seem to be accepted yet.

[2017-01-30 21:07] JonHanna commented on #12492
The idea of a shuffle method has been asked for a few times before, and rejected, but I think it's common enough and easy enough to accidentally introduce bias when rolling ones own that it would be worth adding.

For the cases where either this or shuffle would be useful, shuffle would be superior.

I don't see other cases being common, but maybe there's some domain where it comes up a lot that I

[2017-01-30 21:11] willdean commented on #984
@karelz I had tried to accept it, but it put me through a load of 2FA stuff and I think at the end of that I hadn't actually been accepted - I've just tried again so maybe it's OK now.   It's told me that I have view access (which I already did, of course...)

[2017-01-30 21:11] karelz commented on #12492
@JonHanna so your position is: No for this particular API shape. General direction is ok, if we make it "shuffle". Did I get it right?

[2017-01-30 21:21] JonHanna commented on #12492
It's no, but if I learnt of use-cases that weren't better-served by a shuffle, then I'd reconsider. (Assuming that because I can't think of any such uses means there aren't none, would be arrogant 😄 )

[2017-01-30 21:24] joperezr commented on #15515
seems like this one is done so I'm closing it.

[2017-01-30 21:24] #15515 closed

[2017-01-30 21:25] deinok commented on #15591
@Priya91 @Tratcher So what namespace `CookieHeaderValue` and `SetCookieHeaderValue` should have?
`System.Net.Http.Headers` will be ok.
Seems like there's no problem with ASP.NET Core version and i can't find any problem with Mono.

Mono System.Net.Http.Headers: https://github.com/mono/mono/tree/master/mcs/class/System.Net.Http/System.Net.Http.Headers

Should i define the contract of `CookieHeaderV

[2017-01-30 21:31] geleems opened #15640 "Dns.GetHostEntry("IPv4_string") does not work in Linux environment."
I am working on developing integrated authentication feature in Linux.
The feature utilizes API **System.Net.Dns.GetHostEntry**(string hostNameOrAddress) for domain name reverse look up while generating server SPN.
This method works great in Windows, but does not work in Linux when I feed IPv4 address for parameter.
IPv6 parameter works though in Linux.

Here is a sample code and its stack trace:

[2017-01-30 21:32] Tratcher commented on #15591
System.Net.Http.Formatting.dll is from ASP.NET WebApi, not Mono. Or is there a seperate mono version as well?
http://aspnetwebstack.codeplex.com/SourceControl/latest#src/System.Net.Http.Formatting/Headers/CookieHeaderValue.cs

[2017-01-30 21:40] deinok commented on #15591
@Tratcher No, you are right, sorry. So, how can we solve this? Any idea?

[2017-01-30 21:44] joperezr commented on #11299
ok, I'll remove the 2.0 milestone then. It is currently assigned to you, are you planning on working on it? If not, we should just add enough information in here and then flag it as up for grabs

[2017-01-30 21:46] kouvel commented on #11299
I don't think I will get to this any time soon, unassigned and marked

[2017-01-30 21:49] joperezr commented on #15101
I see, I know that @mellinoe had some similar problems when moving into the new scheme of only having one shared test runtime folder. I doublt we want to pass full path for System.Runtime.dll. Do you mind syncing up with Eric to try to find the best solution for both tests?

[2017-01-30 21:54] MattWhilden commented on #5088
This is resolved in version 5.3.0 of Microsoft.NETCore.UniversalWindowsPlaform. You'll need VS 2017 to take advantage of this. More details here: https://blogs.msdn.microsoft.com/dotnet/2017/01/30/announcing-net-core-net-native-and-nuget-updates-in-vs-2017-rc/

[2017-01-30 21:55] Priya91 commented on #15591
@Tratcher What's the version under Microsoft.Net.Http.Headers? [Here](https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.net.http.headers.cookieheadervalue)

Mono seems to pick up aspnet sources, so that means, there's are 2 versions of CookieHeaderValue, one in System.Net.Http.Formatting.dll and other in Microsoft.Net.Http.Headers.dll

[2017-01-30 21:57] Priya91 commented on #15202
The webproxy failure is logged here in this issue #13309

[2017-01-30 21:58] Priya91 commented on #15202
All the networking errors seems to be of same issue as #13309, host not found error is getting percolated as Device not found through .net wrapper. Requires more investigation, and can be tracked with the linked issue.

[2017-01-30 22:00] stephentoub commented on #15640
Are you sure IPv4 in general isn't working?  Sounds like the Linux box simply isn't able to resolve that specific address?  My Windows machine for example produces a similar error as it can't resolve it.

[2017-01-30 22:01] Tratcher commented on #15591
@Priya91 that's https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Net.Http.Headers/CookieHeaderValue.cs

Looks like we'll have to fudge the name of CookieHeaderValue when porting it to corefx. CookieValue? It will only have Name and Value properties.

[2017-01-30 22:02] tarekgh commented on #13309
here is my investigation from other issue on Mac SO

[code]

also on Mac OS there is other failure caused by same reason

[code]

[2017-01-30 22:04] tarekgh commented on #15202
@Priya91 if you think this is exactly the same issue you can close this issue.

[2017-01-30 22:04] karelz commented on #15202
OK, anything left in this issue to track?

[2017-01-30 22:04] JonHanna commented on #14220
Type parameter should be `TSource` to match it's mirror and similar cases in `Queryable`.

Apart from that, LG2M. Really, the API can't have any other shape and maintain the analogy with `Enumerable`.

[2017-01-30 22:05] PeteX commented on #10211
I've just had a similar problem to the original poster.  I'm okay with the Amazon endpoints, but I get failures with a self-signed certificate, and also when connecting to a server whose certificate was issued by letsencrypt.  In the case of the self-signed certificate, there are two errors: "unable to get certificate CRL" and "certificate not trusted".  In the case of the letsencrypt certificate,

[2017-01-30 22:06] tarekgh commented on #15202
No, System.Net failures is the last we had in this issue.

[2017-01-30 22:07] Priya91 commented on #15591
Discussed this with @weshaggard offline, and Wes had suggested that we had similar cases in adding new apis to collections before, and we could use the same API name, and mitigate the issue with unification in other platforms for same API surface area.

The real issue here is with the CookieHeaderValue definition in System.Net.Http.Formatting.dll, which has different api surface area than the one

[2017-01-30 22:08] Priya91 commented on #11566
fixed with #15559

[2017-01-30 22:08] #11566 closed

[2017-01-30 22:11] karelz commented on #14220
T->TSource updated in top-most post.

[2017-01-30 22:39] karelz commented on #12492
Looks like we do not have consensus yet. Flipping back to api-needs-work. If substantial number of votes tips it the other way, we can change it again :)

[2017-01-30 22:40] weshaggard commented on #15591
If the type name is the same and the API's are different then the only real option is to create a different type name. Before we do that though we should really understand if we cannot have the same type with all the same APIs and if we can do that then we can just type-forward theirs to the one we ship here.

[2017-01-30 22:44] Tratcher commented on #15591
To add a type forward you'd have to update System.Net.Http.Formatting.dll, which isn't being actively developed.

[2017-01-30 22:47] Tratcher commented on #15591
@weshaggard the APIs are too different, we do not want the CookieHeaderValue surface area from System.Net.Http.Formatting.dll, just the namespace and type name.

[2017-01-30 22:48] weshaggard commented on #15591
OK then we will need to come up with another type name to avoid the type collision.

[2017-01-30 22:51] joperezr commented on #15615
I think I know what is going on. The problem seems to be that the coreclr.depproj is still getting generated as
[code]
So when we restore it and binplace it to the runtime folder we are still binplacing the Windows version of it, which has all these types and makes the build to fail.

[2017-01-30 22:58] deinok commented on #15591
HttpCookieHeaderValue and SetHttpCookieHeaderValue?

[2017-01-30 23:17] tarekgh commented on #9294
@jkotas I have added the proposal on the top of this issue, could you please have a look and send your feedback? I already marked the issue ready for design review.

[2017-01-30 23:19] Priya91 commented on #15591
@deinok Sounds good, it could be HttpSetCookieHeaderValue though :) Can you update your proposal with the api surface area for these 2 types as well..

[2017-01-30 23:27] bartonjs commented on #10211
@PeteX OCSP support isn't present on Linux, so OCSP-only CAs won't work with revocation checks.  https://github.com/dotnet/corefx/issues/3034

[2017-01-30 23:33] karelz commented on #11100
Thanks everyone helping us verify the scenarios! We got so far 5 confirmations - see detailed list with links in top-most post. I consider it good enough validation to move to next stages.

* [4.a.ii] I am still chasing down the NuGet analysis.
* [5.a] I will ask @davidsh to prepare PR against release/1.1.0 branch.
* [5.b] I am prepping the process for release (we need director-level approval, but

[2017-01-30 23:35] Tratcher commented on #15591
Or just SetCookieHeaderValue, the conflict was only for CookieHeaderValue.

[2017-01-30 23:51] richlander commented on #11100
@onovotny - It does look the issue is now progressing forward, so let's just continue with this issue. It's great to see that folks are making positive progress.

[2017-01-31 00:41] Priya91 commented on #15640
you can check with nslookup <ipaddress> if it can resolve the ipv4 address to hostname.

[2017-01-31 00:53] Priya91 commented on #15549
@SandeepApsingekar Whatever code you're using for .NET Framework should work. .NET Core has the same API surface area of HttpClient as Full Framework. Can you post your code sample from full framework that doesn't work with .NET Core?

[2017-01-31 01:05] #15613 closed

[2017-01-31 01:31] VenkateshSrini commented on #15623
Hi Stephen,
As you can see that I will be hosting this in CloudFoundry. So please help me by letting know if I have to package any version of libcurl library also a dependency during code publishing?

[2017-01-31 01:31] chadwackerman commented on #11100
@karelz You can check off my scenarios which include 4.6 command line (Azure webjob) with ServiceBus dependency and a 4.6 app with dependencies on Azure Batch. Also a third app with dependencies on AWS and Dropbox which I previously moved to .NET Core just to get away from this issue (I pulled an old version to test today).

dotnet restore problem revived at https://github.com/NuGet/Home/issues/25

[2017-01-31 01:39] saurabh500 commented on #15640
If I use the IPv4 address of the target host in the Dns.GetHostEntry(), the resolution fails with the error message. The address is for a Windows and the code is executing on macOS/Linux.

Unhandled Exception: System.AggregateException: One or more errors occurred. (No such device or address) ---> System.Net.Internals.SocketExceptionFactory+ExtendedSocketException: No such device or address
   at

[2017-01-31 02:51] jkotas commented on #9294
Have you considered as exposing it on ExceptionDispatchInfo as a design alternative? It would make the setter to be less in your face.

@gkhanna79 Any comments about this API proposal?

[2017-01-31 05:15] karelz commented on #11100
Thank you @chadwackerman for your help and confirmation! Sorry for the trouble you encountered en route.
I have updated the top-most post.

[2017-01-31 05:47] karelz commented on #11100
I have added info to the top-most post - see section "Impact of the change - Breaking changes" for list of technical breaking changes (4), each with a workaround.

[2017-01-31 07:19] karelz commented on #984
Great, thanks! Assigned to both of you now.

FYI: @JeremyKuhne was collecting some background info on our tests and he thinks that we have some loopback mechanism in our current Desktop tests. Let's wait for his initial code priming, he should have more details then.

[2017-01-31 07:26] karelz commented on #11100
NuGet libraries impacted by the technical breaking change (described in top-most post) -- luckily "just" 4 NuGet libraries which use any of these new APIs:

System.Private.ServiceModel_4.3.0
  * https://www.nuget.org/packages/System.Private.ServiceModel/
  * Author: dotnetframework
  * Downloads: 11K (latest version) / 800K (total)
  * Description: Internal implementation package not meant for dir

[2017-01-31 08:11] maartenba commented on #11100
On the Visual Studio / NuGet crash / swapping on Linux: the reason for this is in the way the NuGet protocol works. I have documented findings in this issue: https://github.com/NuGet/Home/issues/4448

On MyGet side we will be deploying a change after the weekend (currently in test, ETA in production Monday Feb 7) that alleviates this server-side.

[2017-01-31 09:09] mellinoe commented on #9788
All of the above are discussions on how to reference the old, obsolete package `Microsoft.Composition`. Going forward, you should just use the `System.Composition` package; it should be functionally identical. Are you directly referencing `Microsoft.Composition` or is it pulled in transitively?

[2017-01-31 09:44] eiriktsarpalis commented on #9294
@jkotas Agree 100% with moving this to ExceptionDispatchInfo. Modifying stacktraces should only be made available to library/framework authors, and thus hidden from common view.

[2017-01-31 09:49] 304NotModified commented on #9294
Agree also on that.

[2017-01-31 10:13] deinok commented on #15591
@Priya91 and @Tratcher So `HttpSetCookieHeaderValue` and `HttpCookieHeaderValue` in `namespace System.Net.Http.Headers` are okey?

[2017-01-31 12:25] irontoby commented on #9788
@mellinoe it's being pulled in by `Microsoft.VisualStudio.Web.CodeGeneration.Tools` version `1.1.0-preview4-final`.

It appears I need to add that package as a `DotnetCliToolReference`, in order to make the `dotnet aspnet-codegenerator` command available. But since that package probably doesn't yet understand the new `csproj` syntax anyway, I'm guessing I just need to wait on them to update it.

[2017-01-31 14:19] marek-safar opened #15656 "./build.sh -? is not helpful"
./build.sh -?
[code]

[2017-01-31 14:40] willdean commented on #15656
This is a dup of #15609 - it's already fixed.

[2017-01-31 15:41] davidsh commented on #15591
I'm not comfortable yet with these names:

`HttpSetCookieHeaderValue` and `HttpCookieHeaderValue`

as they are inconsistent with the rest of the strongly typed property names in the current API surface with respect to using the `Http` naming prefix.

We'll need to work with @terrajobst to come with appropriate names that will pass API review.

[2017-01-31 15:49] deinok commented on #15591
@davidsh Okey, I will wait for you ;)

[2017-01-31 16:37] steveharter commented on #4278
I see that Mono has some SignedXml tests. These should be evaluated and vetted against the xmldigsig spec , suggestions that @bartonjs mentioned earlier, and current code to see what\if they are worthwhile to port\bring over. Ping me for copyright (header) information if these tests make sense to bring over.

[2017-01-31 16:38] karelz commented on #15656
We just need to propagate the buildtools into CoreFX. @danmosemsft @weshaggard @mellinoe are you tracking the update?

[2017-01-31 16:38] #15656 closed

[2017-01-31 16:40] jaredpar commented on #14869
Ping ... @ericstj, @weshaggard

[2017-01-31 16:47] weshaggard commented on #15656
No. BuildTools updates are done on demand by the person that wants to get a fix they made in BuildTools into corefx.

[2017-01-31 16:56] weshaggard commented on #14869
I have no context on this package, beyond we shipped it under a new identity when we moved it to corefx. Perhaps @ericstj has more then I.

However I would like to better understand the reason you need a System.Threading.Task.Dataflow  4.5.24.0 package? I'm not even entirely sure we can ship one outside of manually hacking up the package and reshipping the same binaries.

If you need to stick with

[2017-01-31 17:00] jaredpar commented on #14869
@weshaggard the problem is that it creates conflicts in our graph when a component depends on a newer version of Dataflow.  The only solution we have is to liberally spray "suppressParent" entries into our project.json files to avoid a slew of build and restore warnings.

There is a single DLL here that we, as Microsoft, have chosen to release under two different identities.  This makes it very di

[2017-01-31 17:04] weshaggard commented on #14869
Even if we upload a the 4.5.24.0 version of System.Threading.Task.Dataflow package won't this still be true? Or will you then force everyone to switch their package reference to System.Threading.Task.Dataflow?

[2017-01-31 17:11] jaredpar commented on #14869
@weshaggard

That is the idea.  By having a version of System.Threading.Task.Dataflow uploaded at the same version we can stage the migration to this package.

Owners of packages that depend on MS.Tpl.Dataflow can release a new version that just changes the package dependency from MS.Tpl.Dataflow to System.Threading.Tasks.Dataflow.  As the assemblies are identical in both packages down stream cons

[2017-01-31 17:13] karelz commented on #15656
Should we kick off one now that we have fix to '-?', or do you want to wait for more value before we update?

[2017-01-31 17:14] tarekgh commented on #9294
@jkotas it looks having it on ExceptionDispatchInfo could be better choice. thanks for pointing to that.
I'll change the proposal to use ExceptionDispatchInfo and I'll make my current proposal as the alternative design

[2017-01-31 17:14] karelz commented on #15591
@deinok it's not so much about waiting, but more about proposing alternatives and discussing them here :)

[2017-01-31 17:24] weshaggard commented on #15656
I have not concerns with someone submitting an update.

[2017-01-31 17:33] gkhanna79 commented on #9294
I concur - ExceptionDispatchInfo is way more appropriate for this task and does have the notion of "propagating" stacktraces that can be leveraged to address this scenario.

[2017-01-31 17:52] tarekgh commented on #9294
I have updated the proposal according to the feedback. thanks all for your feedback.

[2017-01-31 18:03] SandeepApsingekar commented on #15549
Hi Priya,

Thank you so much for following up with me. I actually had a problem in retrieving the url in the async methods. Now, I figured out the way. I can share the code of .NET core which I'm working on right now. Following is the code where I'm accessing the uri:.
HttpClient client = new HttpClient();
client.BaseAddress = new Uri("api url");
            client.DefaultRequestHeaders.Accept.Cle

[2017-01-31 18:21] terrajobst commented on #4805
That's unfortunate but our goal is to make things consistent with existing APIs, especially overloads. If all `char` based overloads are using ordinal semantics while the `string` ones are culture-sensitive. In that case, I think we should follow that.

So the new plan should be:

- We add overloads for both, `StartsWith` and `EndsWith`
- We add only the `char` version (no other overloads operatin

[2017-01-31 18:25] karelz commented on #4805
BTW: This is another example, why we need API proposal in the "formal form" (ideally in the top-most post). It makes it much, much easier to track and understand what we approved and what is the diff in next API proposal revision, etc. I will be insisting it more in future :)

[2017-01-31 18:31] fujiy commented on #4805
Thanks, we'll take care of it

[2017-01-31 18:32] akcorp2003 opened #15660 "Adding a newline to an XML document using XDocument"
I was wondering if someone can add the functionality to add an empty line to an XML file (or if the functionality already exists and I couldn't find it on the internet...).

I tried doing `xelement.element("elementname").Add(Environment.newline)` but it just screws up the formatting of the document.

If I do that, this is what the XML file looks like (truncated for clarity):

[code]

[2017-01-31 18:37] karelz commented on #15656
The key question is: Is the value (of not NullRef and potentially show more content) significant enough to warrant doing it just for this issue?

[2017-01-31 18:42] weshaggard commented on #15656
I'd say it probably is enough value. I don't know when we last updated BuildTools but I like keeping corefx updated as much as possible.

[2017-01-31 18:43] terrajobst commented on #9294
I think not exposing a setter on `Exception` makes sense. What's the behavior of `ExceptionDispatchInfo.SourceExceptionStackTrace`? Is this always a set or is it an append? If it's an append than it shouldn't be a property but a method. We could also make this a method that offers both variants. The reason being that

[code]

will not preseve the original stack trace but will append the new stack

[2017-01-31 18:43] willdean commented on #15656
I'm a nobody, with no valid opinion on this, but I'll express it anyway:   The same bug's been filed twice in the last 24-ish hours, and new users of the build system fall over it straight away, because they're told to run `build -?` ("Our dev workflow has changed! Use -? for help in the new options we have and how to pass parameters now.") and that promptly crashes.

If nothing else, it's a disma

[2017-01-31 18:46] terrajobst commented on #14220
Makes sense for symmetry between querables and enumerables.

[2017-01-31 18:48] tarekgh commented on #9294
@terrajobst in the current proposal in the behavior section, I proposed to overwrite the stack trace and not to append it. The reason is we are addressing the serialization scenario which doesn't need the append here. also with the current proposal, people still can append their stack if they need to just by getting the stack trace then append whatever they like and then set it back.

[2017-01-31 18:59] Priya91 commented on #15549
Closing the issue.

[2017-01-31 18:59] #15549 closed

[2017-01-31 18:59] Mike-EEE commented on #5766
Well I haven't heard back from @karelz so I can only assume he has been since been perched in front of his monitor as such upon learning that you can define a Console Application in Xaml:
![](http://www.reactiongifs.com/wp-content/uploads/2013/10/tim-and-eric-mind-blown.gif)

(Bad) jokes aside please let me know if you have any additional questions.

Also, from This Week in .NET, looks [like a pre

[2017-01-31 19:07] deinok commented on #15591
@karelz Then, the only viable way I see is use `System.Net.Cookie`

[2017-01-31 19:10] danmosemsft commented on #15656
@safern could you please create a PR today to update build tools?

[2017-01-31 19:12] safern commented on #15656
@danmosemsft yes will do so!

[2017-01-31 19:14] danmosemsft commented on #15656
@willdean you're not a nobody :) and you're quite right.

[2017-01-31 19:16] karelz commented on #15591
@deinok I am not fully following up on the thread, and I am not expert on the area (like other API reviewers). It would be great to see the shape of the API of both options - with highlighted pros/cons.

[2017-01-31 19:19] mellinoe commented on #15656
@weshaggard Are we ready to pull in a new buildtools, given all of the overrides we are doing here? I'm not sure how many conflicting changes have been made over in the buildtools repo.

[2017-01-31 19:21] danmosemsft commented on #15656
In the last week, though? We updated a week ago
https://github.com/dotnet/corefx/commits/master/BuildToolsVersion.txt

[2017-01-31 19:22] jamesqo commented on #14220
Awesome. I will take this issue @karelz

[2017-01-31 19:24] mellinoe commented on #15656
In that case, never mind! 😄 I thought we had been holding off on updates since the dev/eng stuff went into master. It should be fine as long as nobody's making conflicting changes in buildtools.

[2017-01-31 19:36] Priya91 commented on #15591
@deinok You can update the proposal with the api names who had initially mentioned, we can discuss this more in the API reivew meeting. We don't have to block on API name for now.

[2017-01-31 19:41] TylerBrinkley commented on #15453
@danmosemsft are you the CoreFX owner of this proposal. If so, could you let me know what needs to be done to get this API reviewed?

[2017-01-31 19:57] danmosemsft commented on #15453
@joperezr @AlexGhiondea are the [owners of this area](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md) so one of them will either give feedback on it or flip to "api-ready-for-review".

[2017-01-31 20:11] 304NotModified commented on #9294
Set also sounds more logical than append IMO

[2017-01-31 20:23] dennisdietrich commented on #3140
I could take this one. Is it sufficient to run the outerloop tests after turning checks on for a project or is there anything else I should try?

[2017-01-31 20:34] mellinoe commented on #3140
@dennisdietrich I think that would be a good start. Like @nguerrera said, it's probably a good idea to enable this for Debug builds only, to start. In order to do that, you can condition the property on `"'$(ConfigurationGroup)' == 'Debug'"` in the project file.

[2017-01-31 20:37] dennisdietrich commented on #3140
@mellinoe, definitely. Performance aside, turning this on for Release obviously could introduce breaking changes in the form of unexpected exceptions being thrown. Very well, please assign to me.

[2017-01-31 20:38] TylerBrinkley commented on #15453
Thanks @danmosemsft.

[2017-01-31 20:43] #1642 closed

[2017-01-31 20:47] darxis commented on #15332
@weshaggard I have a question.

To implement the methods that takes a parameter of type `System.Security.AccessControl.RegistryRights` I have to add a reference to the `Microsoft.Win32.Registry.AccessControl` assembly. I can't do that, because, the `Microsoft.Win32.Registry.AccessControl` asembly is already dependent on `Microsoft.Win32.Registry` (it is using this reference just to implement the `

[2017-01-31 20:51] TroelsL opened #15661 "Reconsider allowing unsecure connections in .NET Core"
I'm writing a C# wrapper around a very-much legacy SOAP/XML webservice.

The service uses a self-signed certificate that is expired. It also uses SSLv3, which, from what I can learn here and on the WCF teams github, is not allowed in corefx.

I fully understand the implications and reasoning behind this, but is there no way around this limitation? The company that made the device running the webse

[2017-01-31 21:08] blowdart commented on #15661
SSL 3 was considered insecure in 2014, and really really insecure, and should be taken out and buried in 2015. .NET Core deliberately excluded support for it, and SSL2. Given that the full .NET Framework can still allow teh use of such a deprecated protocol my only advice is to not use Core for this. It's not something we'd look at adding support for.

[2017-01-31 21:18] TroelsL commented on #15661
I have no strong objections to what you're writing, except that I'd love to be able to use .NET Core, and that I hate options being taken away from me.

But why does my app work on Windows though?

[2017-01-31 21:21] blowdart commented on #15661
What happens on linux? It's probably OpenSSL has even more strict default prohibitions on crypto.

[2017-01-31 21:31] TroelsL commented on #15661
I originally raised an issue on the WCF team github:

https://github.com/dotnet/wcf/issues/1749

My app is a svcutil (Connected Service) generated client that exposes a smart-home controller (web service) as a SignalR hub instead, solving both the SSL vulnerability (by wrapping it in HTTPS with TLS) as well as allowing client updates.

At the first call to the web service, I get a CurlException (f

[2017-01-31 21:42] Keboo opened #15663 "Allow for specify return value on System.Linq.Enumerable.*OrDefault methods"
I would like to propose adding a parameter to the System.Linq.Enumerable.*OrDefault methods for specifying the value to be returned in the default case. This is the value that would be returned instead of `default(TSource)` when there are no items in the enumeration

There are times when the default value of a given type may be a valid value from the enumeration. If the default value for the enume

[2017-01-31 21:48] blowdart commented on #15661
@morganbr any ideas?

[2017-01-31 21:57] stephentoub commented on #15661
In .NET Core 1.0/1.1 CurlHandler was enforcing its own policy here, restricting this to TLS 1.x.  In .NET Core 2.0+, CurlHandler just defers to the underlying system's defaults: https://github.com/dotnet/corefx/pull/13527
But libcurl versions since 7.39 also disable SSLv3 by default, so this won't change post that version.

Probably due to https://github.com/dotnet/corefx/pull/13527#issuecomment-2

[2017-01-31 22:04] karelz commented on #5766
@Mike-EEE I know I owe you an answer (it's marked important in my inbox & opened in browser).
So far I was able only to skim through the replies (thanks a lot everyone for all the details and insights!), but I didn't get time to educate myself on Xaml (as you point out) and read all replies thoroughly to be able to answer... sorry, too many fires and high-pris going on right now :(, I will get to

[2017-01-31 22:27] jnm2 commented on #15663
This would be an alternative to having to switch from `SingleOrDefault(predicate)` to `DefaultIfEmpty(x).Single(predicate)`.

[2017-01-31 22:35] Mike-EEE commented on #5766
All good @karelz!  Very much appreciate your efforts and dialogue here.

[2017-01-31 22:37] zhenlan commented on #7325
@karelz we are not using it for authentication.

[2017-01-31 22:54] weshaggard opened #15667 "netstandard tests aren't currently running"
Any test projects that have both a netcoreapp and netstandard build configuration is only ever running the tests for netcoreapp. So any tests that are conditioned for netstandard only are not currently being ran. System.Runtime (https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System.Runtime.Tests.csproj) is an example of such a project.

We need to decide whether or not we sh

[2017-01-31 23:02] ChrisEelmaa commented on #1271
I did take pretty deep look in this previously, and we'd have to modify the internal C++ code to expose what is needed (the length), and in some cases, the length is not even there.

happy to do this, but it could get tricky. I wonder if better path is to pull the IndexOf implementation out from C++ side to C# (so it would be semi-platform independent), and then change that instead (if that's the

[2017-01-31 23:10] tarekgh commented on #1271
we call the OS for the IndexOf functionality. for example on Windows we call FindNLSStringEx to do the Index of operation https://msdn.microsoft.com/en-us/library/windows/desktop/dd318059(v=vs.85).aspx. when we call this OS APIs we ignore the parameter pcchFound which give us the desired length. so we'll need to use this parameter and propagate it to the managed side and use it. we'll need to look

[2017-01-31 23:13] corivera opened #15669 "Investigate if lock statements are necessary in SqlClient.SNITcpHandle's EnableSsl & DisableSsl methods"
Whenever reads and writes are called on the _stream variable in SNITcpHandle, a lock(this) statement is used. EnableSsl & DisableSsl set the value of _stream without using any lock statements.

CC @saurabh500

[2017-01-31 23:18] JeremyKuhne commented on #984
#15671 PR is up, I've tagged everyone involved.

[2017-01-31 23:22] steveharter commented on #4981
The comments here and the non-"outdated" comments in the original PR still stand. Here's a list of known feedback still pending:

General feedback:
You should probably use auto-formatter on this. https://github.com/dotnet/codeformatter
Please address/remove the TODO's in the code.
Additionally, there appears to be no .sln file, and no tests.

Interop.LUIDAndAttributes1.cs
	19: Nit: move this up to

[2017-02-01 00:10] mellinoe commented on #15305
I think we should be able to all of these patterns with a few properties:

* `RunningOnCore` : This is determined by `MSBuildRuntimeType`. This should only control MSBuild-related stuff, like the path to the task assembly being used, or which Roslyn props file is imported (different behavior on .NET Core).
* `RunningOnUnix`: This will be used to control things like path separators, environment var

[2017-02-01 00:43] safern commented on #15656
Fixed, we just updated the buildtools version on #15662

[2017-02-01 00:51] weshaggard commented on #15305
Seems like a reasonable plan.

[2017-02-01 00:59] JeremyKuhne commented on #984
The code is up and running and should work (in theory). There is a simple test to get the test project up and working so I really haven't validated much.

Basic formatting cleanup was done and I pulled out the designer attributes and CAS related code. I also removed a block for `\\.\` paths.

Over the next week or so I'll try to pull together existing test sources and see about getting them up on

[2017-02-01 01:01] mellinoe commented on #15305
I experimented a bit. I believe we do need to keep around `TargetOS`. The problem is that `OSGroup` doesn't actually represent the OS you are running on, but rather the build configuration you are building for. Most of the time, it is just `AnyOS`, because most tests are not different per-platform. So we do need the `TargetOS` property to differentiate.

[2017-02-01 01:06] karelz commented on #15656
Great, thanks!

[2017-02-01 01:17] rahku opened #15673 "Re-enable reflection only tests"

[2017-02-01 01:20] rahku commented on #15673
Disabling tests as they will start to fail due to changes in coreclr repo. Will re-enable once coreclr dependencies are updated

[2017-02-01 01:41] morganbr commented on #15661
I think ServicePointManager lets you handle the self-signed, expired certificate. SSL3 is a tougher call. As @TroelsL points out, maybe explicitly opting into something insecure via ServicePointManager or other APIs should be OK, but I don't have insights into what that would take.

[2017-02-01 02:27] daflame76 commented on #984
I would like to help if possible.  I am intimately familiar with serial port libraries and I/O. I applied workarounds to solve the failure to handle the `fAbortOnError` DCB flag issue on the original .NET serial port.

[2017-02-01 02:39] karelz commented on #984
@daflame76 invite sent (ping me when you accept).
Please coordinate with others on next best steps - @willdean @SWY1985 (and @JeremyKuhne who coordinates it)

[2017-02-01 03:03] mconnew commented on #15661
@stephentoub, CurlHandler doesn't just defer to the underlying system defaults. See [this commit](https://github.com/dotnet/corefx/commit/79777327b700f6d14fa5c64b072e5a031d6d512b#diff-b18d4d400936e08d8a8fc68566a64f20R153) that you made 😄 where SSL2 and SSL3 are removed from the list of defaults so that even if libcurl on the system allowed it, it still can't be used.
@blowdart, preventing users fr

[2017-02-01 03:10] stephentoub commented on #15661
Yes, that's the PR I linked to in my comment.  I forgot we kept that behavior via OpenSSL configuration. You can see a discussion of it in the linked issue. I have no strong opinion on it and defer to the security experts as to whether to change it.

[2017-02-01 03:36] morganbr commented on #15661
@mconnew, I wouldn't say there's a DOS attack! This is simply a question of whether .NET Core should support @TroelsL's legacy service.

@stephentoub, my security thoughts after a bit more research on this are that _at best_, we can only make SSL3 available via explicit opt-in as an insecure protocol. As far as precedent, Internet Explorer disables SSL3 by default, but users can opt in; however, E

[2017-02-01 03:44] dhoehna commented on #15554
I don't know the process of taking an issue, but I volunteer to increase the test coverage.

[2017-02-01 04:35] JeremyKuhne commented on #984
@daflame76 the code is merged- please feel free to address the issue you mention. If you have any other fixes/improvements they would be welcome as well. We just want to try to keep the existing surface area compatible.

If you (or any others) have ideas for additional APIs we can create issues and push them through the API review process.

[2017-02-01 04:41] karelz commented on #984
We should not take any code changes, major refactorings or new APIs, until we have desired code coverage for the package (please see my plan above for details -- step [3] is prereq for [4] or [5], which can be done in parallel).

[2017-02-01 06:48] Muhammadbilawal commented on #15031
I have a problem error " 'System.IO.FileLoadException' " how can i get rid of this error .... i am new to programing

[2017-02-01 08:07] karelz commented on #15031
I would recommend to use StackOverflow.com or similar communities for general programming questions. Doing search on bing/google usually leads to helpful things as well.

[2017-02-01 09:41] tintoy commented on #4278
Thanks - we'll have a look at that :)

[2017-02-01 10:21] nietras commented on #15329
@joperezr since @KrzysztofCwalina hasn't replied, I think it is ready for review.

[2017-02-01 10:36] willdean opened #15680 "unsigned-correctness in interop structures"
I have been looking at the recent port #984 of the SerialPort code , and it raises for me a question about the use of unsigned types in interop signatures.

For example, the native `COMMTIMEOUTS` structure contains 5 `DWORDS` (https://msdn.microsoft.com/en-us/library/windows/desktop/aa363190.aspx).

However, in interop/windows/kernel32/interop.COMMTIMEOUTS.cs, it has 5 ints (this is how it came fr

[2017-02-01 11:19] anthonylangsworth commented on #4278
Thanks for that, @steveharter . Can you provide links, please? These could short cut a lot of our testing. Are there any copyright or other considerations if we expand or build on these instead of copying them verbatim?

[2017-02-01 11:52] VenkateshSrini commented on #15623
Thanks it is working

[2017-02-01 11:52] #15623 closed

[2017-02-01 13:51] marek-safar opened #15682 "Missing DataSetSchemaImporterExtension implementation"
CoreFX is missing implementation of [DataSetSchemaImporterExtension](https://msdn.microsoft.com/en-us/library/system.data.datasetschemaimporterextension(v=vs.110).aspx) which is available since .net 2.0 and not obsolete but missing in CoreFX.

cc: @karelz @egorbo

[2017-02-01 14:28] KrzysztofCwalina commented on #15329
which one is the final proposal? The APIs at the top of this issue?

[2017-02-01 14:32] blowdart commented on #15661
The cryptoboard were very happy with us disabling broken protocols. Given that there are other versions of .net that do support shooting yourself in the foot, I'm going to take serious convincing. And the introduction of a setting that makes it very clear, like .EnableBrokenCrypto()

[2017-02-01 15:35] TylerBrinkley commented on #15453
I've updated the proposal by removing the `System.Enums` namespace and moved its members into the `System` namespace.

[2017-02-01 15:56] karelz commented on #15682
@weshaggard @stephentoub @saurabh500 @YoungGah can you please comment why we left it out from Data porting?

[2017-02-01 15:59] karelz commented on #4278
@anthonylangsworth when copying source code from Mono, we have to keep & update the copyright header. I would suggest to first do just a copy (with the right headers, potentially minor tweaks). Once we have the code in CoreFX, we can modify the code as we wish.

[2017-02-01 15:59] stephentoub commented on #15682
IIRC, because SchemaImporterExtension doesn't exist in CoreFx, either.

[2017-02-01 16:10] TylerBrinkley commented on #15453
I see that there is already an `AttributeCollection` in the `System.ComponentModel` namespace which would suit my needs with some additions but it's included in the `System.ComponentModel.TypeConverter` assembly. Are binding redirects possible in .NET Core to enable moving this `AttributeCollection` class into `mscorlib`?

[2017-02-01 16:20] dermeister0 opened #15686 "Question: style guide for abbreviations"
I noticed that EntityFramework does not follow the Microsoft guideline:
[Capitalization Conventions](https://msdn.microsoft.com/en-us/library/ms229043(v=vs.110).aspx)

DbSet, DbContext should be written as DBSet, DBContext. Examples: [IDataRecord.IsDBNull](https://msdn.microsoft.com/en-us/library/system.data.idatarecord.isdbnull(v=vs.110).aspx), [System.DBNull](https://msdn.microsoft.com/en-us/lib

[2017-02-01 16:41] danmosemsft commented on #15453
If it's an interesting type that we could use as is (or modify without breaking existing users) then it's possible for us to move it down so this code could depend on i.

[2017-02-01 16:53] nietras commented on #15329
Yes, the extension methods.

On Feb 1, 2017 3:29 PM, "Krzysztof Cwalina" <notifications@github.com>
wrote:

[2017-02-01 16:57] TylerBrinkley commented on #15453
Excellent, I'll update my proposal accordingly.

[2017-02-01 16:59] karelz commented on #15661
Another angle to look at: How common is the scenario in the real world? How many customers have legacy services like @TroelsL?

[2017-02-01 17:01] karelz commented on #15673
@rahku it would be nice to provide reference to the "changes in coreclr" you refer to.

[2017-02-01 17:09] steveharter commented on #4278
@anthonylangsworth Mono tests - https://github.com/mono/mono/blob/0bcbe39b148bb498742fc68416f8293ccd350fb6/mcs/class/System.Security/Test/System.Security.Cryptography.Xml/SignedXmlTest.cs

[2017-02-01 17:09] karelz commented on #15663
You are adding new methods (we can't change existing ones).
I think the `= default(TSource)` will cause compiler ambiguity with the existing methods - we need to drop the default value IMO (please check first if I am not mistaken).

[2017-02-01 17:15] davidfowl opened #15687 "Add exchange type for a scheduler"
For pipelines, I'd like to be able to pass a `Scheduler` that determines where the continuation should run. The closet thing we have today is a sync context but it's really not appropriate for this. There's also a TaskScheduler but that's about scheduling tasks not arbitrary callbacks.

[code]

Not sure what other options we'd need here. this is similar to Java's executor https://docs.oracle.com/j

[2017-02-01 17:16] dennisdietrich commented on #3140
@mellinoe After thinking about this some more I don't think going for the individual project files is the right approach. We do want this for all projects so it makes more sense to have this in a props file used by all projects. I've noticed that there's already a whole bunch of them so I'll first check if any of those would be suitable (pointers welcome ;)).

[2017-02-01 17:19] JonHanna commented on #15663
It wouldn't cause ambiguity at the compiler level, but it would never be hit because the existing methods would always beat it in the overload resolution, so it's pointless. It could certainly cause ambiguity at the human understanding level.

If we had this (I've no strong opinion either way on that) we should also have `Queryable` equivalents.

[2017-02-01 17:23] jnm2 commented on #15663
I believe the way these conversations usually go is that you can't use optional parameters without breaking binary back compat. http://haacked.com/archive/2010/08/10/versioning-issues-with-optional-arguments.aspx

[2017-02-01 17:25] JonHanna commented on #3140
If you do it across all projects, it's very likely that there'd be a very large number of regressions, so you'd have to change all of those regressions, so it would likely be a massive one-shot PR. If you do it project by project it's more likely to lead to small easier-to-review PRs, and then the setting could be moved up to being global after that.

[2017-02-01 17:27] karelz commented on #3140
For the sake of reviewers: Please do NOT do large PRs, break them up :)

[2017-02-01 17:28] TylerBrinkley commented on #15453
@joperezr @AlexGhiondea I believe I'm done with my proposal updates. When you have some time could you please look over this proposal?

[2017-02-01 17:31] JonHanna commented on #15663
I think it would be safe in that regard, given the types involved, (though it could break someone reflecting and using the count of parameters to find which overload they wanted), but I wouldn't bet on that, and it could still mess with some future change, and in any case they're still pointless defaults as they'll never be used.

[2017-02-01 17:31] dennisdietrich commented on #3140
@JonHanna Fair enough. @karelz Also fair enough. Though, was exactly is considered 'large' in the corefx team? :)

[2017-02-01 17:37] karelz commented on #3140
Imagine you doing the code review: For how long do you want to scroll down and review code?

Here's recent example of rather larger-ish PR: #15597. I would personally break it down into smaller chunks - it is easier to review each chunk in 1 session, rather than to remember where you last left off. If the chunk is large ... you are forced to push through all of it at once.
Just my 2 cents.

[2017-02-01 17:44] karelz commented on #15686
ASP.NET incl. EF are in different repos: https://github.com/aspnet
CoreFX coding style is only for CoreFX repo AFAIK, although I expect it won't be so different from ASP.NET coding style.

Closing for now, let me know if you still have questions about CoreFX coding guidelines, we can reopen.

[2017-02-01 17:44] #15686 closed

[2017-02-01 17:45] karelz commented on #15680
@tijoytom do you have insight?

[2017-02-01 17:50] Keboo commented on #15663
@karelz  and @JonHanna I updated the issue description based on your comments (I hope I did it correctly; first time filing an issue in this repo).

[2017-02-01 18:03] jnm2 commented on #15663
@JonHanna It;'s not a source-level break, but it's still a binary breaking change. https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#signatures

You'll get a MissingMethodException if you compile against the original version and then run on a new framework without recompiling, which is exactly what happens in the .NET Framework. The binary is har

[2017-02-01 18:04] karelz commented on #15663
@Keboo all good so far, we will let you know if you're not following "the rules" ;-)

FYI: Next steps in [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) are:
1. Feedback from community on API addition
2. [Area owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) support the API addi

[2017-02-01 18:04] karelz commented on #15663
@jnm2 AFAIK the proposal only adds APIs, it of course can't remove any ;-)

[2017-02-01 18:06] jnm2 commented on #15663
@karelz, Ah, misunderstood the purpose of the original proposal. Latest revision makes sense.

[2017-02-01 18:09] mconnew commented on #15661
@blowdart, totally agree that if there is a change, calling it something very explicit like EnableBrokenCrypto() so there's no doubt that what is being done is at the users own risk. Maybe throw the word unsupported in there so there's no doubt about whether the scenario is supported or not. I.e. EnableUnsupportedBrokenCrypto().
Another possibility could be to create some mechanism to directly set

[2017-02-01 18:11] vcsjones opened #15688 "Access violation using X509Chain in netcoreapp1.1"
When upgrading a project from `netcoreapp1.0` to `netcoreapp1.1` we found that we were hard crashing the CLR.

The code below "works" in `netcoreapp1.0` on win10-x64, but will crash without warning when upgraded to `netcoreapp1.1`. The `catch` block doesn't run, it causes a watson error. The watson info is after the code.

There is nothing particular about `1.crt`, this happens for any X509 certif

[2017-02-01 18:13] stephentoub commented on #15661
There's already the HttpClientHandler.SslProtocols property.  Why wouldn't we just let that do what it's supposed to do? i.e. let the developer set it to something other than the default of None and we do our best to respect it.

[2017-02-01 18:40] JeremyKuhne commented on #15554
@karelz can you assign this to @dhoehna?

[2017-02-01 18:40] sepidehMS commented on #15332
@darxis Thanks for working on getting this in. I believe we would prefer the second option. @weshaggard any preferences?

[2017-02-01 18:46] deinok commented on #15591
Proposal updated to the initial state

[2017-02-01 18:52] JeremyKuhne commented on #984
Fixing specific issues while writing tests is fine by me- assuming there are tests that cover the code being changed and the scope of the change is digestible.

What we don't want to do is have major logic changes or significant rearchitecting without some reasonable coverage for both of the major classes. Some restructuring to support testability specifically is ok and probably needed.

[2017-02-01 18:56] karelz commented on #15554
@dhoehna collaborator invite sent. Please ping us when you accept and we will assign it to you. Assigning to @JeremyKuhne in the meantime ;-)

[2017-02-01 18:56] karelz commented on #15554
@JeremyKuhne ca you please add issue type? (I assume test enhancement)

[2017-02-01 19:00] stephentoub opened #15689 "Failed assert in ProcFsStateToThreadState on Linux and PortableLinux"
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/6/
[code]
cc: @gkhanna79, @mellinoe, @Priya91

[2017-02-01 19:00] JeremyKuhne commented on #15680
@willdean I'm fine with aligning these closer with the headers.  I didn't have a lot of time to thoroughly scrub the definitions.

I think in general we want to keep closer to the actual type definition (e.g. DWORD is uint). That said we should be cognizant of making things awkward with existing public APIs that had to stick with signed types to support languages that didn't have unsigned.  (Think

[2017-02-01 19:03] dhoehna commented on #15554
@karelz I have accepted and enabled two-factor authentication.

[2017-02-01 19:09] vcsjones commented on #15688
The managed stack is

[code]

I have a mini dump if that's useful.

[2017-02-01 19:19] mellinoe commented on #15680
We would prefer (at least I would) to have all of our PInvoke declarations be a direct mapping of the native types, but much of the code that we "borrowed" from the .NET Framework does not follow that rule. It hasn't been the highest priority to go and clean up every old PInvoke declaration with mismatched types, but we have done it on occasion. New PInvokes that we write should definitely adhere

[2017-02-01 19:23] tijoytom commented on #15680
@willdean There is no policy against having unsigned types in interop signature.
@JeremyKuhne it's usefull to have the document in CoreFX albeit after some corrections and review.

[2017-02-01 19:26] gkhanna79 commented on #15689
This test run was clean on https://github.com/dotnet/corefx/pull/15678.

[2017-02-01 19:26] gkhanna79 commented on #15689
@karelz can help route this to appropriate folks to look into.

[2017-02-01 19:30] danmosemsft commented on #15554
@dhoehna this may help https://github.com/dotnet/corefx/blob/master/Documentation/building/code-coverage.md

[2017-02-01 19:34] vcsjones commented on #15688
The idea that this is broken is frankly crazy, I can't imagine this shipped broken. This is probably a case of [select isn't broken](https://blog.codinghorror.com/the-first-rule-of-programming-its-always-your-fault/) but I'm able to steadily reproduce it with the minimal code above.

Guess I need to find another Windows box....

[2017-02-01 19:34] willdean commented on #15680
Thanks all.  I will correct the ones that are specific to the SerialPort classes.

[2017-02-01 19:34] #15680 closed

[2017-02-01 19:42] dhoehna commented on #15554
@karelz Now I have accepted the invitation.

[2017-02-01 19:49] karelz commented on #15554
Reassigned to you @dhoehna, thanks for your contribution in the space!

[2017-02-01 19:51] dennisdietrich commented on #3140
Suspending further work on this until @stephentoub 's concerns raised in RP #15690 are addressed.

[2017-02-01 19:53] karelz commented on #15680
@willdean please don't change the SerialPort yet. I would rather see the initial implementation fully tested, then we can start making changes like these.
It will IMO tremendously decrease the risk. Also it is easier to track the changes we might eventually port back to Desktop.

[2017-02-01 19:53] vcsjones commented on #15688
Nope this repros with a clean Windows Server 2016 install.

[2017-02-01 19:54] sepidehMS commented on #15660
@akcorp2003 If you can use `XmlDocument` instaed, you will be able to add new lines in elements without messing the format of the document using `CreateWhitespace` like [this](https://msdn.microsoft.com/en-us/library/system.xml.xmldocument.createwhitespace(v=vs.110).aspx).

If that doesn't solve your problem, please give more details on where you need the new line to be inserted and how you are us

[2017-02-01 19:54] karelz commented on #15689
Just setting the area is sufficient - [area owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) will get notification.
cc: @Priya91

[2017-02-01 19:55] dhoehna commented on #15554
@karelz Thank you.  What is the priority for this issue and what does the priority mean?  Also, is there a deadline when this issue has to be resolved?

[2017-02-01 19:57] karelz commented on #15554
Milestone is Future, which means we (.NET team) don't plan to invest into it during 2.0 timeframe. Other than that, no priority or deadline. It's nice to update the issue every week or two to communicate progress is being made - if there's no progress, others might want to pick it up.

[2017-02-01 19:58] dhoehna commented on #15554
Okay.  Thank you.

[2017-02-01 20:01] dhoehna commented on #15554
Another question.  I only see a folder called [System.Configuration.ConfigurationManager](https://github.com/dotnet/corefx/tree/master/src/System.Configuration.ConfigurationManager).  Is this the folder that needs better test coverage, or am I looking in the wrong spot?

[2017-02-01 20:03] willdean commented on #15680
@karelz I wasn't really going to touch anything on SerialPort until we have the netfx test code across - it doesn't seem worth trying to write new tests before we see what we've already got, and I'm fully on-board with "don't change it if it's not tested".

I fear you may be in for a disappointment about how rigorously it can be tested without additional hardware, but let's see...

[2017-02-01 20:10] karelz commented on #15680
@willdean perfect, thank you! (not looking forward to the disappointment :()

[2017-02-01 20:13] FireAlkazar commented on #15554
@dhoehna can I join this issue? It looks like a great start point to dive into corefx contribution.

[2017-02-01 20:17] dhoehna commented on #15554
@FireAlkazar I don't mind.  Once you are added, we can divvy up the work.    @karelz Is it possible to add another contributor?

[2017-02-01 20:47] TylerBrinkley opened #15691 "Add HashSet TryGetValue"
Sometimes I find myself needing to retrieve a value from a `HashSet`. You may wonder why that's needed when you already have the value when you might want to retrieve it. Well, that's not always true depending on the `Comparer` you're using as a value may evaluate to being contained within the set but is not strictly equal to the value stored in the set.

## Proposed API
[code]

## Rationale and U

[2017-02-01 21:02] magol commented on #15453
I like the proposal a lot.
One api that I'm missing is a method that remove not valid flags.

public static TEnum RemoveNotValidFlags<TEnum>(this TEnum value) where TEnum : struct, Enum;

See #10908

[2017-02-01 21:06] jnm2 commented on #15691
I've wanted this.

[2017-02-01 21:07] JonHanna commented on #15691
I have rolled my own hash sets solely for this use. (A while back I started on something that hit just this use and not other set purposes, with different versions for concurrent and single-threaded use, etc. as it can be very useful for memory-saving pools of objects, but then I got distracted by something shiny or something).

[2017-02-01 21:10] TylerBrinkley commented on #15453
For that case I'd suggest doing this.

[code]

I know it's less convenient but it seems too much of a specialized case to warrant a new extension method.

[2017-02-01 21:22] TylerBrinkley commented on #15453
Maybe as just a static method we could have the following.

[code]

and in use would be

[code]

Thoughts, @magol?

[2017-02-01 21:25] magol commented on #15453
You right,  maybe it is not a good method for a General api arter all. ☺️

[2017-02-01 21:31] JeremyKuhne commented on #15554
@dhoehna System.Configuration.ConfigurationManager is where all of the code is. We couldn't use the same exact assembly name as an existing .NET assembly, this was our best compromise. :)

[2017-02-01 21:31] karelz commented on #15554
@FireAlkazar added, please coordinate the work or tell us (me and @JeremyKuhne) if you need help or guidance.

[2017-02-01 21:35] danmosemsft commented on #15691
This would be useful for some string interning schemes, as @JonHanna mentions. I've copied and modified the HasSet code myself for this purpose in a previous product.

[2017-02-01 21:40] karelz opened #15693 "Get rid of System.IO.Compression OOB - .NET Standard 2.0 should forward to Desktop Framework"
The cost of shipping OOB for Desktop is very high and we have burned ourselves (System.Net.Http). Let's make sure we do not accidentally run into the same problems here as well.

cc: @ianhays @weshaggard

[2017-02-01 21:40] jamesqo commented on #15691
What's wrong with the Dictionary approach that was suggested in the top post? I think adding a `TryGetValue` method to HashSet would confuse 99% of users of the API who aren't using it for object pooling. Perhaps efforts should be dedicated to better pooling APIs instead.

[2017-02-01 21:42] danmosemsft commented on #15691
@jamesqo it's wasteful in space - an extra pointer in every entry.

How would it be confusing? (Not disagreeing just trying to understand)

[2017-02-01 21:50] jamesqo commented on #15691
Maybe it would be better to have specialized string interning APIs then that mitigated this problem then?

People not using the API for object pooling would ask "what's the point of this method if we already know the key?"

[2017-02-01 21:53] jamesqo commented on #15663
Would it be better to have a selector run for the default value instead of a concrete value?

[code]

[2017-02-01 21:58] dhoehna commented on #15554
@FireAlkazar How to you want to divvy it up?  I'm thinking of alphabetically.

[2017-02-01 22:05] ianhays commented on #15693
cc: @ericstj

[2017-02-01 22:29] FireAlkazar commented on #15554
@dhoehna I want to try at first to cover ConnectionStrings property of Configuration. Write some simple tests and check if they are ok. And move forward after getting some feedback.

[2017-02-01 22:31] dhoehna commented on #15554
Okay.  I'll start from the beginning than.

[2017-02-01 22:44] #14220 closed

[2017-02-01 23:15] blowdart commented on #15661
Because none was a compromise of a setting, because we can't rename it, and we need to be pushing people off broken crypto.

[2017-02-01 23:27] Priya91 commented on #15689
@gkhanna79 Can you provide instructions on reproing this locally? Just by looking at CI build definition, will executing this on a linux box be sufficient repro, or any additional configuration required?

[code]

[2017-02-01 23:27] stephentoub commented on #15661
We're pushing people off broken crypto by disabling it by default. But if we're talking about adding another property that's NoReallyIWantTheseSslProtocols, then people will just learn to set that one instead, and we're not any more secure and have a worse API. If we're going to allow people to opt in by seeing a property, we should just use the one we already have.

[2017-02-01 23:27] blowdart commented on #15661
Can we finally break backcompat and rename the None enum? :)

[2017-02-01 23:29] gkhanna79 commented on #15689
The above command is fine (-portableLinux is what triggers the portable build infrastructure). however, you need to execute it on RHEL image (which is what is used for these builds).

[2017-02-01 23:50] morganbr commented on #15661
@karelz the best data I can find is by looking at https://censys.io/blog/poodle , which found that as of October 2015, 0.12% of the top 1 Million sites only support SSLv3. Based on https://www.trustworthyinternet.org/ssl-pulse/ , support for SSLv3 on servers goes down a bit every month. Note that SSL3-only servers don't work with any popular browsers by default today.

[2017-02-01 23:51] danmosemsft commented on #15691
Any successful string interning API needs to have customizable policy (I guess that was why `String.Intern` failed). We could devise some such API but it's quite feasible to build something reasonable on HashSet or some other existing collection. I suspect if you're doing interning you're a relatively sophisticated developer and would be comfortable doing that.

/cc @jkotas

[2017-02-01 23:52] geoffkizer opened #15702 "System.Net.Sockets solution file is broken"
If I try to open it in VS, I don't see the System.Net.Sockets.csproj in src -- just the ref and test projects.

If I try to build it from the command line, it doesn't actually build System.Net.Sockets.csproj.

[2017-02-01 23:52] ahsonkhan opened #15703 "Remove restriction in System.Memory configuration.props that builds for Windows only"
From PR #15569
https://github.com/dotnet/corefx/pull/15569#discussion_r98976731

From **kouvel**:

[code]

From **mellinoe**:

From **kouvel**:

From **jkotas**:

     or

[2017-02-01 23:58] akcorp2003 commented on #15660
@sepidehMS I believe that is what I want. However, how do I do that with the apis in XDocument?

To put it concretely, I hope that I can create an XML file using just XDocument resulting in:

    <project name="Salesforce Ant tasks" default="deploy_my" basedir="." xmlns:sf="antlib:com.salesforce">

    <taskdef uri="antlib:com.salesforce" classpath="lib/ant-salesforce.jar" />

      <property file

[2017-02-02 00:03] mellinoe commented on #15702
The solution files are currently broken, unfortunately; it's a known issue. @weshaggard

Beside that, though, I wouldn't recommend building the solution files from the command-line anyways; it's never been something that we've tested or has reliably worked in the past.

[2017-02-02 00:06] mellinoe commented on #15703
I'm going to try to chase down https://github.com/dotnet/buildtools/issues/1301 again, once I finish my current work items. That's what is blocking System.Runtime.CompilerServices.Unsafe from building outside Windows.

[2017-02-02 00:16] mellinoe commented on #15693
Presumably this was done to introduce new functionality or fix bugs, etc. Are we going to regress any of that?

[2017-02-02 00:20] #15521 closed

[2017-02-02 00:21] corivera commented on #15521
Fixed

[2017-02-02 00:34] karelz commented on #15693
@weshaggard mentioned we "just" fixed bugs. And yes, we are going to regress that, consciously.

[2017-02-02 00:35] jkotas commented on #15691
Agree. Check the Roslyn string interning facility as a case study: https://github.com/dotnet/roslyn/blob/acc053dbd9d3cb25f086f86f36f80896c8379466/src/Compilers/Core/Portable/MetadataReader/PEModule.cs#L2986

The interesting points:
- It has two layers to align with the lifetimes of the compiler object graphs
- It has special entrypoints to intern based in UTF8 input
- It "forgets" strings - it doe

[2017-02-02 00:44] danmosemsft commented on #15691
Here's another one that I worked on
https://github.com/Microsoft/msbuild/blob/xplat/src/Shared/OpportunisticIntern.cs

It has some hard coded strings it does a fast check for, then uses several linked lists stored in priority order, each limited in the number of entries, and dedicated to a different size range. It also has a bunch of diagnostic logging to help tune it. Seems over complex now, but

[2017-02-02 00:49] danmosemsft commented on #15691
Another potential use case for the API proposed is a hashtable where each entry knows its own key (some object that has a name property for example). If you provide a comparer that compares only against the name, you can retrieve the object without the overhead of storing a separate key.

Oddly enough in that previous life I had to do that also
https://github.com/Microsoft/msbuild/blob/xplat/src/X

[2017-02-02 00:51] wtgodbe opened #15707 "Linux Crossbuild VSO job should use Docker Exec pattern"
https://github.com/dotnet/corefx/pull/15695 added a Linux Crossbuild job to the pipebuild - defined here (https://github.com/dotnet/corefx/blob/master/buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json). This job uses the old Docker pattern still used in CoreCLR, instead of the Docker exec pattern used by our other Linux job (https://github.com/dotnet/corefx/blob/master/buildpipeline/DotNet

[2017-02-02 00:52] JonHanna commented on #15691
An interning API can grow in some very non-set-related ways; concurrency, weak references, matching stored strings with character array ranges, hash-consing factories, layered stores, generalising the store of `string.Intern` to use as a layer. Which is all possibly useful, and all quite possibly of no value to the original request, depending on just why they wanted hash sets to offer this.

Just

[2017-02-02 00:55] akcorp2003 opened #15708 "Is there a function to copy directories?"
Currently, the `Directory` class contains a `Move()` method. However, the class does not possess a way to copy directories from one location to another. If a user wants to copy directories, he/she would have to write their own method to create a directory in the new location and call `File.Copy()` for each file in the source directory.

## Rationale and Usage

The `File` class has both `Copy()` an

[2017-02-02 01:03] rahku commented on #15673
this is no longer needed

[2017-02-02 01:03] #15673 closed

[2017-02-02 01:20] karelz commented on #15673
@rahku what do you mean by that it is not needed?

[2017-02-02 01:35] danmosemsft commented on #15708
As far as I know no (there's a ?cleaner way at the bottom [here](http://stackoverflow.com/questions/627504/what-is-the-best-way-to-recursively-copy-contents-in-c)).

You can propose an API for this if you want:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2017-02-02 01:44] XiaoFaye opened #15709 "Console app uses 100% cpu when is ran by Process.Start with redirecting input/output"
dotnet core version: 1.0.2
OS: Windows 10 or Ubuntu 16.04 x64

How to replicate the issue:

1. Create a Console app A, which will accept any input and print the length of the input.
2. Publish app A to a folder.
3. Create a Console app B, which uses Process.Start to start app A with RedirectStandardInput and RedirectStandardOutput set to true, In startinfo, filename is dotnet, argument is the main

[2017-02-02 02:19] danmosemsft commented on #15579
[code]

[2017-02-02 03:47] Keboo commented on #15663
@jamesqo I am not sure the selector adds much value here. Can you elaborate on when you would find it useful?
As for the SingleOrDefault case, it sounds like you are expecting this selector to get invoked in both when the enumeration is empty and when it contains multiple items. Wouldn't this be a change in the behavior of SingleOrDefault?

[2017-02-02 04:44] stephentoub opened #15713 "Vector3GetHashCodeTest AV'ing on Windows release"
With the latest CoreCLR update, this test is consistently AV'ing on Windows.
[code]
cc: @mellinoe, @CarolEidt

[2017-02-02 05:24] DamianEdwards commented on #14627
This increases the size of published ASP.NET Core apps by over 2 MBs with the CSPROJ-based tooling.

[2017-02-02 05:31] bartonjs commented on #15688
This is probably https://github.com/dotnet/coreclr/issues/8148.  Does your problem go away if you run it with the environment variable `COMPlus_ReadyToRunExcludeList` set to `System.Security.Cryptography.X509Certificates`?

[2017-02-02 05:39] karelz commented on #14627
@tmat ping ... this is blocking ASP.NET team.

[2017-02-02 05:39] bartonjs commented on #15252
@TrplM You can import a key from an `RSAParameters` by using the `ImportParameters` method on `RSA`.

Your code, aside from not using the `RSA` object in a `using` statement (and loading the key you want) seems correct, provided that `hash` is an array of the correct size (16 bytes for MD5).  If the array is the correct length, perhaps a full callstack can help reveal what's gone wrong.

[2017-02-02 05:44] bartonjs commented on #14745
@qmfrederik My initial instinct is that the remote context doesn't have a user profile loaded.  By not specifying `X509KeyStorageFlags.MachineKeySet` (which requires some machine-level permissions, such as being an administrator) the private key is trying to be saved into the user profile... which doesn't exist.

Another option may be to set `X509KeyStorageFlags.EphemeralKeySet`, I don't know if t

[2017-02-02 05:47] AlexGhiondea commented on #15453
@TylerBrinkley thanks for putting this together. It is a very interesting proposal that I am trying to better understand.

I have a few questions
  - This requires 2 language features to enable if I read it correctly. Does that mean it won't be possible to even implement this until those features are shipped.
 - I am trying to understand how I would use the GetMember methods -- that looks like an

[2017-02-02 07:01] karelz commented on #15709
Can you please provide sample code - it is much easier to reproduce it that way than to follow steps :)

[2017-02-02 07:57] msalsbery commented on #984
I would like to help out if I can, particularly with tests - both writing and executing (PC and Mac). I'm not an expert at serial comm by any means, but I use SerialPort extensively in car-PC software to interface with all kinds of hardware - GPS receivers, CAN/K-bus transceivers, OBD-II interfaces, etc.. The old  RS-232 is alive and well and I'd love to have SerialPort available in core!

[2017-02-02 07:58] ccicchitelli commented on #9846
Hello, I believe we've come across this issue as well in System.Net.Http. We've long used it for accessing System.ServiceModel.Channels.Message to use the ToHttpRequestMessage method (as part of our web service authentication process with custom headers). When we upgraded our app to .NET 4.6.2, this issue started happening. All Nuget packages are up to date as well. (As a side note, I'd point out

[2017-02-02 08:09] tmat commented on #14627
Do we need a release version of Microsoft.DiaSymReader.Native package? When is it needed? 1.5.0 won't be available until after Dev15 RTM build is done. I can create 1.4.1 with the fixed .props file, if needed.
BTW, I do not own code in the dotnet/core-setup repo, so I'm not sure why does it need to be me who updates the version number.

[2017-02-02 10:00] XiaoFaye commented on #15709
Sure,

**Console app A:**

[code]

**Console app B:**
[code]

**PS:** with or without process.WaitForExit() doesn't make any difference.

While running the **Console app B**, everything works fine, it can send input to **Console app A** and receive output. Once I type "**qqq**" and exit the **Console app B**, the **Console app A** will keep running on the background and use 100% of cpu as below:

[2017-02-02 10:18] olivier-spinelli opened #15716 "IEnumerable.Append extension method breaks basic enumerable contract"
Hi,

Append extension method does not seem to honor one of the basic IEnumerator contract and this may lead to quite subtle bugs:
[code]

[2017-02-02 10:19] MichaCo commented on #14529
@karelz @davidfowl I vote for that System.Runtime.Caching is NOT needed in the "new" world as we have all kinds of other alternatives now. And it would be kinda confusing to have to decide between that cache and Microsoft.Extensions.Caching.MemoryCache as they probably will be doing 99% exactly the same thing.

Porting existing apps might be an issue, but if you use a caching abstraction and DI, y

[2017-02-02 10:33] JonHanna commented on #15716
So does `yield` and many other implementations, which is in line with the documentation:

Arguably while the cases you show here clearly aren't bugs, if you cast the `IEnumerator<T>` to `IEnumerator` it's not in line with the documentation, though that's at odds with the documentation for `IEnumerator<T>` and the flaw lies there. (I was thinking a couple of days ago about filing an issue on exactl

[2017-02-02 10:35] JonHanna commented on #15716
Oh, I was misremembering that doc. This is clearly not buggy with that cast either:

(That doc does still disagree with the second case in the bullet points I quote from `IEnumerator<T>` though).

[2017-02-02 10:50] JonHanna opened #15717 "IEnumerator.Current being more restictive than IEnumerator<T>.Current is unuseful."
`IEnumerator.Current` and `IEnumerator<T>.Current` are both undefined prior to the first call to `MoveNext()` (or the first after a successful `Reset()`).

In the case following a `MoveNext()` that has returned `false` or an action has made the source collection consider itself to have been mutated, then `IEnumerator<T>.Current` is undefined while `IEnumerator.Current` is documented as always thro

[2017-02-02 11:27] JonHanna opened #15719 "Allow TryExpression inside a filter?"
Compiling a `TryExpression` that is inside the `Filter` expression of a `CatchBlock` of another `TryExpression` throws with the IL compiler (the interpreter has no problem with it).

This is reasonable since if it produced such IL it would be unverifiable.

It is however a limit on composability; a method producing `bool`-typed expressions may in good faith use a `TryExpression` within it while a

[2017-02-02 11:47] godrose commented on #10445
When using @okosodovictor 's suggestion make sure that the dependency behaviour is set to 'Highest' in nuget package manager.

[2017-02-02 13:11] ChrisEelmaa commented on #1271
okay I've made some progress on this, but kind of stuck now. I exposed the pcchFound for windows, and also wrote the Replace method which leverages the new internal IndexOf.

1) I wrote platform agnostic "Replace" method which can be shared on every platform(Windows, Linux, OSX), but not sure how to share it (if it's even possible), or should I duplicate it?

2) I can't seem to find a place where

[2017-02-02 13:14] olivier-spinelli commented on #15716
In all other places, calling Current throws a InvalidOperationException (as the tests demonstrate).

Hopefully `undefined` is not available in .net (I see you javascript :)) and up to me, confusing this "undefined" with default(T) is really very dangerous.

[2017-02-02 13:37] JonHanna commented on #15716
No, in some other places it does so. In other places like if you use `yield` in a method, it returns the default value of the type in question. Being undefined implementations are free to return any value or throw any exception, and they all do one or the other.

I think you are confusing `undefined` which is a possible value in Javascript with *undefined* which is a word meaning something hasn't

[2017-02-02 13:38] #3838 closed

[2017-02-02 14:19] TylerBrinkley commented on #15453
@AlexGhiondea thanks for looking at the proposal.

* This proposal makes use of 2 language features that haven't been implemented yet but they are not required in order to implement this proposal. Essentially, the proposed extension methods would be implemented as static methods initially and so users would need to use static method invocation syntax to use them. When these 2 language features are

[2017-02-02 14:21] olivier-spinelli commented on #15716
Just to clarify, my reference to javascript was just a joke. I think I perfectly understand **this undefined** here in the spec. Up to me, the fact that yield enumerator is not perfectly implemented is not a reason to blindly follow this dangerous path.
On the pure spec side you may be right but for API users, this is a terrible design.
We have here an opportunity to easily early detect more than

[2017-02-02 14:39] MarkMichaelis commented on #15663
This makes sense to me... good suggestion @Keboo.

[2017-02-02 14:51] JonHanna commented on #15716
It is perfectly implemented in this regard.

Why should people who use the interface as specified be penalised by unnecessary checks and in some cases extra state to allow those checks to cause a particular behaviour in the face of buggy uses? Why, given that you're only comparing two different cases, should the first one be considered correct an the second incorrect?

No, because changing the spe

[2017-02-02 15:02] olivier-spinelli commented on #15716
Sorry to disagree. If i like the.net plaform it is for a large part thanks to its ability to actually implement invariants, preferably strong ones.
Since I won't win this battle, I close the issue.
Thanks for your time!

[2017-02-02 15:02] #15716 closed

[2017-02-02 15:19] gkhanna79 commented on #14627
Various folks own components in that repo - and the own versions referenced in Microsoft.NEtCore.App as well. Please go ahead and submit a PR for this and send a note to shiproom since this is going to be in 1.1.x servicing release.

CC @leecow

[2017-02-02 15:50] bartonjs commented on #12388
@mmaguigan-dti It's not currently cleanly possible.  https://github.com/dotnet/corefx/issues/8688 is a proposal to add an `RSA.Create(int keySizeInBits)` which would solve this, but since it hasn't been implemented in either .NET Core or .NET Framework it isn't really helpful to you yet.

One answer is to build a NuGet package which has its own RSA factory method, which has a net46 implementation

[2017-02-02 15:54] jkotas commented on #15453
It may have good enough performance for some uses, but it does not have what I would consider great performance. Great performance mean parity when you do the same with bitmask operations.

[2017-02-02 15:55] jkotas commented on #15453
The JitHelpers are other tricks that @AlexGhiondea is talking about... .

[2017-02-02 16:03] karelz commented on #14529
Thanks @MichaCo for your view point.
I am curious if the above information changes community members' opinion? (please upvote / downvote the post above accordingly, or reply)

[2017-02-02 16:07] karelz commented on #984
@msalsbery collaborator invite sent (ping me when you accept - I'll co-assign you the issue).
Please coordinate with others assignees on next best steps - (and with @JeremyKuhne who coordinates it)

[2017-02-02 16:31] msalsbery commented on #984
@karelz Great thanks!  Invitation accepted

[2017-02-02 16:42] tarekgh commented on #1271
Put the implementation in its own cs file under \mscorlib\src\system\Globalization folder and then include the file in the project by add it entry in the file https://github.com/dotnet/coreclr/blob/master/src/mscorlib/mscorlib.shared.sources.props

usually when you have the implementation ready we add the tests in the corefx repo. this is done after we enable the new APIs in the contracts in the c

[2017-02-02 17:19] tewarid commented on #15157
@Priya91 Switching to TL 1.2 has eliminated the need for a customized cipher suite list in my case. I don't have a reason to justify pursuing this further. Please reopen if needed.

[2017-02-02 17:19] #15157 closed

[2017-02-02 17:20] willdean commented on #984
@msalsbery Just to bring you up to speed, because there's been a load of discussion in more than one place, which may be hard to follow - MS guys have done a rough (builds for Windows, no tests yet) migrate of SerialPort into CoreFx in the last couple of days.  They're also going to find (in the next week or so, we hope) the tests for SerialPort which were in the .NET framework, and we'll see how

[2017-02-02 17:40] TylerBrinkley commented on #15453
@jkotas

From my performance testing of `Enums.NET`'s `HasAllFlags` method's performance comes very close to doing the same with bitmask operations, much more compared to the already implemented `HasFlag` method. I just ran the performance on the .NET Framework on my computer with this [testing method](https://github.com/TylerBrinkley/Enums.NET/blob/ca49e29a8effe0460135eeb10eed6cc1ec907188/Src/Enu

[2017-02-02 17:43] karelz commented on #15719
@JonHanna it would help me a bit if you hint in future in the issues you file, if they are about Linq or Linq.Expressions, so that I can help set the labels correctly (not that they matter too much as both are owned by the same folks, but if we have them, let's use them properly :))
Thanks!

[2017-02-02 17:47] danmosemsft commented on #15716
@olivier-spinelli I think my overriding concern would be that this could be a breaking change (not just for existing Core users but for anyone bringing over an existing library), so it would have to bring a compelling benefit which I don't think is there.

[2017-02-02 17:59] danmosemsft commented on #15716
But -- sure appreciate the suggestion, and others would be welcome, or contributions for existing issues if you are interested.

[2017-02-02 18:23] #11220 closed

[2017-02-02 18:37] WinCPP commented on #15374
@karelz Thanks for the direction, learnt the process while working on this issue. Local inner loop execution was successful. Have created a pull request and will wait for review feedback.

[2017-02-02 18:41] jkotas commented on #15453
Runtime throughput is not the only performance metric we are concerned about. The startup and code bloat is another one - using generic helper methods for bitmasks checks is many (100x?) worse on this performance metric.

[2017-02-02 18:49] TylerBrinkley commented on #15453
@svick

That's a great point. You're right, it would be a breaking change if another generic method with a `T : struct` constraint currently calls `Enum.Parse` or `Enum.TryParse`. If the constraint on `Enum.Parse` and `Enum.TryParse` aren't changed it'll just mean there'll be a runtime type check which wouldn't be a big deal as parsing should take orders of magnitude more time to evaluate. While I

[2017-02-02 18:56] JonHanna commented on #15719
@karelz sure. This one is Linq.Expressions, btw.

[2017-02-02 19:07] non-standard commented on #10958
I see that in build 15019 the System.Net.HttpClient using the WinHttpHandler from nuget is still unable to receive a server_push response.  Is there more to it than just the WinHTTP component?

[2017-02-02 19:18] karelz commented on #3718
@Priya91 can you please follow up with WCF team (@mconnew @zhenlan) to find out if this is truly useful for them?

If not, it looks like we can close it. Once we get more customer feedback/need, we can reconsider.

[2017-02-02 19:20] dennisdietrich commented on #6045
Since #3140 is still under discussion and may get resolved as won't fix how about I take this one on for now (reckon it'll keep me busy for a while too :))?

[2017-02-02 19:22] geoffkizer commented on #13349
This test code changed a bunch in #15679.  I'm hopeful that we won't see this issue anymore.

[2017-02-02 19:25] karelz commented on #4148
Given WCF is not blocked and it is the only customer asking for this, we do not believe we should do anything tactical for .NET Standard 2.0.
What we should do long-term is to provide a new API which provides platform-independent way to expose lower-level stack errors.

[2017-02-02 19:31] ianhays commented on #15693
We'll also be removing [support for zips using deflate64](https://github.com/dotnet/corefx/issues/9925) that was added in https://github.com/dotnet/corefx/pull/11264.

[2017-02-02 19:32] karelz commented on #4502
The functionality is not supported by the underlying WinHttp stack in Winwdows. Probably not even in Curl. Unless we have full managed networking stack, we won't be able to reasonably implement it across the board.
Closing.

@zhenlan you marked this as blocking, can you please check if it is still blocking and if there are any workarounds for you.

[2017-02-02 19:40] karelz commented on #4887
Closing. We will see if we need it for more tests in future - then we can reconsider. We have a way to express it in the test code.

If the tests are disabled now, we will enable them in the networking test push which is in progress cc @steveharter @Priya91 @ianhays

[2017-02-02 19:44] karelz commented on #5120
We should consider it for 2.0 -- we should also find out if it is reasonable for us to reuse the ManagedWebSocket also on Windows.

[2017-02-02 19:49] karelz commented on #6606
The scenario seems to be rather corner-case.
@zhenlan @mconnew is it something you guys use in WCF?

[2017-02-02 19:50] tmat commented on #6045
@terrajobst What's the latest take on CLSCompliance? Is it still considered worth marking APIs CLSCompliant?

[2017-02-02 20:13] JonHanna commented on #15717
Duplicate of #1170

[2017-02-02 20:13] #15717 closed

[2017-02-02 20:15] karelz commented on #15693
Did it add any new APIs? Or "just" extend behavior of existing ones?

[2017-02-02 20:16] ianhays commented on #15693
It extended the functionality of existing APIs.

[2017-02-02 20:17] #15305 closed

[2017-02-02 20:20] vcsjones commented on #15688
Yes it did.

[2017-02-02 20:20] #15688 closed

[2017-02-02 20:24] karelz commented on #13299
Another instance https://github.com/dotnet/corefx/pull/15724#issuecomment-277072008

[System.Net.Sockets.Tests.DualModeConnectAsync.ConnectAsyncV4IPEndPointToV6Host_Fails](https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/56/testReport/junit/System.Net.Sockets.Tests/DualModeConnectAsync/ConnectAsyncV4IPEndPointToV6Host_Fails/)

[code]

[2017-02-02 20:26] mconnew commented on #4502
The short answer is this is blocking, there aren't workarounds, and this is doable on all platforms except perhaps UWP.

We are consuming HttpClient and not WinHTTP or libCurl. These are implementation details of HttpClient and are an abstraction for a very good reason. I shouldn't need to worry about how it's implemented. If the choice of implementation isn't able to achieve functional parity wit

[2017-02-02 20:29] karelz commented on #15693
Thanks for confirmation. Despite that I still believe we should rather make the change in .NET Standard 2.0.

[2017-02-02 20:31] ianhays commented on #15693
I agree.

[2017-02-02 20:38] davidsh commented on #10958
The bug that was fixed was the crash (exception thrown) when communicating with a server that advertised it supported server-push.  That exception was fixed.

However, full support for server-push is not implemented yet in the native WinHTTP component and, hence, not supported in WinHttpHandler / HttpClient in .NET Core.

[2017-02-02 20:40] JonHanna commented on #1170
Just found this after opening an issue requesting the same doc changes. I think the docs on when `IEnumerator<T>.Current` is undefined are fine, so copying those to `IEnumerator.Current` would be good.

[2017-02-02 20:44] karelz commented on #4502
Understood. Sadly, we are limited by current implementation(s). If we can fix it on Linux/Mac with libcurl, we can do that (thanks for pointer) - @Priya91 can you please check it out?

Long-term we should definitely review our strategy which networking stack to use - OS dependent (today), uniform (e.g. libcurl on all OSs), or our own (managed)? It is something we are actively discussing - incl. wh

[2017-02-02 20:49] karelz commented on #15719
@JonHanna :) ... and I thought I made the right guess, thanks!

[2017-02-02 20:51] karelz commented on #15374
Great, thanks for helping out!

If you're interested in more contributions to CoreFX, I would recommend to grab some ['up for grabs' issues](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aopen%20label%3A%22up%20for%20grabs%22%20-label%3Aapi-needs-work) (which are not API proposals)
The most valuable/impactful things are:
1. [2.0.0 (next release) up for grabs](https://github.com/dotn

[2017-02-02 20:59] mconnew commented on #15661
@morganbr, that's talking about HTTP use against a web server and not an appliance/device. A web server which can be reconfigured and modified is a whole different thing than a web service running on a device. It will often not be modifiable/configurable by the owner (as in can't change the code or modify the OS config) and when it goes out of support, there is no ability to "fix" it to use a more

[2017-02-02 21:03] mconnew commented on #4502
I made a suggestion [here](https://github.com/dotnet/corefx/issues/15661#issuecomment-276734159) about adding the ability to specify libcurl options via HttpClientHandler.Properties which are transparently applied to libcurl. While it might not be the right solution there, the concept might be worth considering for this issue. It wouldn't be locking in a new API to solve this issue on Linux which

[2017-02-02 21:14] danmosemsft opened #15731 "Review types for Serialization test coverage"
The binary rewriter that currently strips S.P.CoreLib.dll turns out to have been removing _some_ instances of serialization infrastructure on types it retained. That implies that we don't have test coverage for binary serializing these.

Investigate, and add coverage if necessary. If the type is internal to S.P.CoreLib.dll and is not serialized indirectly then possibly it isn't necessary. If the t

[2017-02-02 21:35] TroelsL commented on #15661
Just to add another scenario I've encountered, this time professionally:

We are receiving data from several GSM-based devices (think IoT before that was a thing) that report status updates over HTTPS. The older versions of these use a firmware that does not support TLS. Some of these are located in hard-to-reach locations, so physically going there to update would be tremendously expensive. And w

[2017-02-02 21:36] blowdart commented on #15661
Yea, ok, convinced, with a suitable opt-in flag.

[2017-02-02 21:38] ChrisEelmaa commented on #1271
okay, almost there. I added implementation for the Linux part as well. The only problem remains, I haven't had chance to test anything at all, so it's quite theoretical currently.

I created small test (mimicing coreclr\tests\src\CoreMangLib\system\text\encoding)) that uses the new overloads, however if I try to compile it through msbuild, I get:

my new methods are not picked up. any ideas?

[2017-02-02 21:40] axelheer commented on #15395
The `VerifyOutParameter` asserts using `MyBigIntImp.outParam`, which is a static property. Thus, we can have a race condition within `VerifyOutParameter`, which sets `MyBigIntImp.outParam` to `0` after the assert too. But I don't know how much the tests run in parallel (`VerifyOutParameter` is only in use by `divremTest`)...

But the output doesn't make sense anyway, since the correct result shoul

[2017-02-02 22:00] karelz commented on #6045
@dennisdietrich you seem to have luck to pick issues which we internally apparently don't have ful agreement on yet ... sorry for that :(. It doesn't happen much, except in your 2 picks :(.

In case we get stuck in discussions here as well and if you are still eager to contribute to CoreFX, I would recommend to grab some ['up for grabs' issues](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%9

[2017-02-02 22:11] morganbr commented on #15661
Does anyone have a technical proposal on what this would look like? I think I could be convinced based on the specifics. My criteria would be:
1. A clear code or configuration change is required to enable SSLv3
2. SSLv3 doesn't get into any defaults. In particular, we need handling so that usage of SslProtocols.Default doesn't accidentally turn on SSLv3.
3. We need some idea of how to deal with th

[2017-02-02 22:14] karelz commented on #15661
Next step: We need formal [API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md). With sample. Motivation can be copied from above replies.

Anyone interested to grab it?

[2017-02-02 22:28] onovotny opened #15735 "Library author wants to target netstandard and work with packages.config with LTS"
This bug needs to be back ported to NETStandard.Library -- 1.6.0.1 -- and remain in the LTS that works everywhere.

The issue was fixed here https://github.com/dotnet/corefx/issues/10445, but only is available in FTS.

This means that 1.6.0 is broken here.

@ericstj

[2017-02-02 22:34] dagood opened #15736 "Xplat native build with existing artifacts doesn't rebuild if only symbol stripping configuration has changed"
CMake (or Make) doesn't rebuild the xplat binaries when `-stripSymbols` is set differently than the command that built what's in `bin`. Symbol stripping happens on build, so this means someone might run a "successful" build command that ends up with unexpected outputs in this *very* specific case. Repro:

 1. Perform the native CoreFX build without stripping symbols (default).
 2. Perform a native

[2017-02-02 22:36] joshfree commented on #12652
/cc @joperezr

[2017-02-02 22:46] ericstj commented on #15735
We need to look at bringing this fix into 1.0 servicing and providing library authors with a meta-package that keeps them on the rails for building libraries that stay on LTS and work everywhere.  The RuntimeInformation bug was blocking folks from using the package in packages.config based projects.

/cc @leecow @karelz

[2017-02-02 23:10] CarolEidt commented on #15713
@stephentoub - when I run the tests, this test doesn't seem to run. Has it been disabled? If so, how does one enable it to run the test?

[2017-02-02 23:12] stephentoub commented on #15713
Yes, I disabled it so that we could update CoreCLR.  There's an [ActiveIssue] attribute on the test; just remove it, and it'll start running again.

[2017-02-02 23:14] vancem opened #15739 "Provide Precise UtcNow using Stopwatch."
As part general logging infrastructure, it is useful to have timestamps.  DateTime (using UTC) is a fine way of doing this, (it has 100nsec resolution) however DateTime.UtcNow has poor resolution (16msec).    We need a way of getting DateTimes that is more precise.

It is very straightforward to implement this using System.Diagnostics.Stopwatch.   Thus we recommend adding the following API to it

[2017-02-02 23:18] geleems opened #15740 "Building FunctionalTests of System.Data.SqlClient (dotnet/corefx/master) failed in Unix"
Building FunctionalTests of System.Data.SqlClient (dotnet/corefx/master) failed in Unix (Ubunbtu 14.04.5LTS x64) with following error messages:

[code]

Here is what I did before reaching this error messages.
* I cloned dotnet/corefx repository to Ubunbtu 14.04.5LTS x64
    - $ git clone https://github.com/dotnet/corefx.git DotNetCoreFx
* I ran build.sh script
    - DotNetCoreFx $ ./build.sh
* I r

[2017-02-02 23:21] geleems commented on #15740
cc: @saurabh500 @corivera @YoungGah @tvrprasad

[2017-02-02 23:25] weshaggard opened #15741 "Remove __BlockReflectionAttribute from pure facades"
For libraries that are pure facades we should avoid injecting the __BlockReflectionAttribute (https://github.com/dotnet/corefx/blob/ddadb906e40ed97cba9f9c58ad2f5642e0d91b50/dir.props#L78).

The reason we should block it for pure facades is because we have detection logic that breaks when there are any type defs including the internal one we inject for __BlockReflectionAttribute so we should disabl

[2017-02-02 23:27] eerhardt commented on #15289
@migueldeicaza - you have me convinced.  I agree that we should port `Mono.Posix` to .NET Core instead of inventing a new API that does the same things, but not covering all the same scenarios.

I took a first stab at building it for .NET Core here: https://github.com/eerhardt/mono/commits/MonoPosixNETCore.  I've run a few simple functions on .NET Core 2.0 on my mac, which worked.  I also hit a bu

[2017-02-02 23:27] joshfree commented on #15741
/cc @trylek

[2017-02-02 23:56] monubamb commented on #10198
I am using 1.1 framework and am still getting error.. Has this issue being resolved for nano on 1.1

 An unhandled exception has occurred: The instance of SQL Server you attempted to connect to requires encryption but this machine does not support it.
System.Data.SqlClient.SqlException: The instance of SQL Server you attempted to connect to requires encryption but this machine does not support it.

[2017-02-02 23:57] #15401 closed

[2017-02-02 23:58] weshaggard commented on #15401
@stephentoub I didn't open every solution file but I did build them all from the command line so I expect the should work now after https://github.com/dotnet/corefx/pull/15738. Please let me know if you see otherwise.

[2017-02-02 23:59] weshaggard commented on #15487
After https://github.com/dotnet/corefx/pull/15738 the solutions use the solution folders.

[2017-02-02 23:59] #15487 closed

[2017-02-03 00:00] weshaggard commented on #15378
After https://github.com/dotnet/corefx/pull/15738 these should be fixed and all solutions can be built from the command line.

While we could do this in CI we generally have to make our CI system work for all platforms and we cannot use sln files on non-windows so we are going to continue to use our traversal projects for the CI and official builds.

[2017-02-03 00:00] #15378 closed

[2017-02-03 00:01] steveharter commented on #13299
Linking to PR #14519; I'm currently focusing on the System.Net.Sockets random failures so looking at this now.

[2017-02-03 00:02] stephentoub commented on #15401
Thanks, Wes!  I'll let you know if I run into this in other places.

[2017-02-03 00:08] WinCPP commented on #15374
@karelz thank you for helping out with the process and stuff, I have good idea about it now. I enjoyed contributing and will look into the above mentioned labels and grab something!

[2017-02-03 00:10] ericstj opened #15744 "Clean up sequencing of targets that change ProjectReferences"
We have a few places where we change ProjectReferences.

AnnotateProjectReference in buildvertical.targets
ResolveMatchingContract in resolvecontract.targets
AddRuntimeProjectReference in referenceFromRuntime.targets
MarkReferencePrivateFalse in FrameworkTargeting.targets

I think the squence should be
ResolveMatchingContract | AddRuntimeProjectReference > MarkReferencePrivateFalse  | AnnotateProj

[2017-02-03 00:10] ericstj commented on #15744
/cc @weshaggard

[2017-02-03 00:14] weshaggard commented on #15332
(Sorry I know I typed a response to this the other day I must not have clicked comment or github dropped the ball).

We should move all the types that are needed down into Microsoft.Win32.Registry and leave a type forward for them in Microsoft.Win32.Registry.AccessControl. For compat we cannot completely remove Microsoft.Win32.Registry.AccessControl or the RegistryAclExtensions type.

For referenc

[2017-02-03 00:15] tarekgh commented on #1271
could you try adding the following element to your project

[code]

if you already have it please make sure its value is true.

here is a project example doing that

https://github.com/dotnet/coreclr/blob/master/tests/src/baseservices/compilerservices/FixedAddressValueType/FixedAddressValueType.csproj#L16

you may look at the PR https://github.com/dotnet/coreclr/pull/7181/files to see how addign A

[2017-02-03 00:17] monubamb commented on #10198
@corivera I am using Nano container image for my app.. any idea how you could do "did you drop a sni.dll compiled with secur32.dll to make this work? for the image..

[2017-02-03 00:20] weshaggard commented on #15702
This is fixed with https://github.com/dotnet/corefx/pull/15738.

[2017-02-03 00:20] #15702 closed

[2017-02-03 00:30] karelz commented on #15731
@tarekgh this is not Serialization itself, rather a property of CoreFX code base around serialization of specific types, right? In that case it should be in area-Meta.

[2017-02-03 00:37] anthonylangsworth commented on #4278
Thanks, @steveharter. I have started converting the tests over from NUnit to Xunit.

[2017-02-03 00:37] tarekgh commented on #15731
@karelz this is related to serialization only. I understand it is not changing anything in the serialization engine but it has nothing to do with anything else but serialization. isn't better we can be more specific about that?

[2017-02-03 00:40] karelz commented on #15731
We could be specific in CoreFX (check with @danmosemsft).
We should not ask Serialization team to fix our types to be correctly serializable though. That's not their key focus. If we have questions, they can help.

[2017-02-03 00:44] tarekgh commented on #15731
marking it as serialization doesn't mean we are asking the serialization team to do the work. but anyway, if it is up to me I would keep it serialization area.

[2017-02-03 01:01] saurabh500 commented on #14017
I have a failure with Line numbers

Assert.Null() Failure\r\nExpected: (null)\r\n
Actual: System.NullReferenceException: Object reference not set to an instance of an object.\r\n
at System.Data.SqlClient.SqlConnection.TryOpen(TaskCompletionSource`1 retry) in D:\\j\\workspace\\windows_nt_re---37265eab\\src\\System.Data.SqlClient\\src\\System\\Data\\SqlClient\\SqlConnection.cs:line 1011\r\n
at Syste

[2017-02-03 01:04] jamesqo commented on #15374
@WinCPP I see you have submitted a PR to fix this and it was merged. In the future, please put "Fixes #<issue number>" in the description of the PR when submitting a patch that fixes an issue. For example, you could have put "Fixes #15374" in your PR description. That way, GitHub auto-closes that issue once the PR is merged.

[2017-02-03 01:04] #15374 closed

[2017-02-03 01:08] karelz commented on #15731
Here's how I think about it:
Areas are associated with API contracts - as in implementation of them. Meta and Infrastructure are 2 exceptions to that rule. And Serialization is a merge of couple of serialization-related types. So 3 exceptions altogether :)

Applying serialization attributes does not require Serialization area expertise, so it does not belong here.
Same would apply for "Replace all

[2017-02-03 01:09] karelz commented on #15374
Thanks for catching it @jamesqo!

[2017-02-03 01:09] danmosemsft commented on #4278
I posted this but realized it's in @anthonylangsworth 's repo:

Here's the magic to do to the copyright headers when we pull code from Mono:

	1. Keep the existing copyright headers in place
		○ Note: If you are porting just portions of the file over, you still need to bring over all the existing copyright headers.
	2. Add the following copyright headers – NOTE this is missing the middle line of t

[2017-02-03 01:10] Priya91 commented on #3718
Synced with @mconnew  offline, WCF doesn't use channelbinding with NegotiateStream, they use channelbinding on httpclient. We can close this.

[2017-02-03 01:10] #3718 closed

[2017-02-03 01:15] karelz commented on #3718
Thanks @Priya91 for closing on it!

[2017-02-03 01:22] tarekgh commented on #15731
I am fine with your marking

[2017-02-03 01:43] saurabh500 commented on #15740
@karelz this is not a SqlClient issue. @geleems from my team opened this issue because he is having trouble running tests on Linux.
@geleems isn't `build-tests.sh` from the root of the clone failing too ?

[2017-02-03 01:49] karelz commented on #15740
I see, let's ask infra folks for guidance: @mellinoe @weshaggard

[2017-02-03 01:49] karelz commented on #15740
BTW: @saurabh500 feel free to adjust labels as you see fit in future ;-)

[2017-02-03 01:49] geleems commented on #15740
@saurabh500 @karelz
It fails `build-tests.sh` from the root of the fresh clone of dotnet/corefx.
This is the failure message.

[code]

[2017-02-03 01:55] JonHanna commented on #10470
Should such a property live in S.L.Expressions or perhaps elsewhere?

Am I right in thinking that a complementary `CanInterpret` would also be true now, and hence have no value?

[2017-02-03 02:05] jkotas commented on #10470
I think so.

[2017-02-03 02:30] mellinoe commented on #15740
Could you pass /p:OSGroup=Linux (or leave off that parameter entirely) ? It would also help to see which test is failing, exactly, i.e. by checking this file:

[2017-02-03 02:38] joezen777 commented on #13814
Link for anyone wondering how to add the environment variables to IIS. http://stackoverflow.com/questions/31049152/publish-to-iis-setting-environment-variable/36836533#36836533

[2017-02-03 03:30] JonHanna commented on #10470
It would be simple enough to add:

[code]
(Assuming I'm correct above that there couldn't be a case where `CanConvert` would also be wanted).

But could a similar question, which boils down to "is `Reflection.Emit` available?" going to have similar implications elsewhere so that other assemblies would want such a property, in which case maybe it should live in S.Reflection.

[2017-02-03 03:41] jkotas commented on #10470
This is not the same question.

Consider some of the following situations:

- `Reflection.Emit` is available, but it is implemented using IL interpreter
- `Reflection.Emit` is available, but the version of `System.Linq.Expression` used is the interpreter only version
- `Reflection.Emit` is not available, but `System.Linq.Expression` uses some other fast underlying execution system

[2017-02-03 04:32] WinCPP commented on #15374
@jamesqo Thank you, got it. Henceforth I'll do this way in the PR:

Title:  "Fixes #<issue_number> - <abstract for the fix>"
Description (comments): "Fixes #<IssueNumber>. <Details>.

I thought just mentioning the issue number in title and description automatically links up.

[2017-02-03 04:32] JeremyKuhne commented on #984
Tests are ported and I converted a few examples with #15746. I'll leave it up to @msalsbery, @willdean, & @SWY1985 to finish converting the rest.

As I mentioned in the PR, I don't have the right setup yet to validate fully.

[2017-02-03 04:41] msalsbery commented on #984
@willdean Thank you for the info.  I've followed and/or read through a few threads so I was fairly caught up...good to know I was on the right track

[2017-02-03 04:53] JeremyKuhne commented on #984
Note: @daflame76, you're still welcome to participate too. I haven't tagged you with the test PRs as you haven't been assigned yet.

[2017-02-03 06:19] aelij commented on #10457
Another possible workaround: create a library with extension methods in IL (like https://github.com/dotnet/corefx/tree/master/src/System.Runtime.CompilerServices.Unsafe). These methods would inline.

[2017-02-03 06:41] jkotas commented on #15739
Isn't this implementation going to drift over time (e.g. when the system time is getting adjusted)?

Have you considered implementing it by calling `GetSystemTimePreciseAsFileTime` instead? As side-effect, it would avoid the need to have active Stopwatch instance to get current UtcTime.

[2017-02-03 06:56] magol commented on #15453
Is it possible to do any optimization by roslyn  som that the calls to this method is replace with native bit operations at compile time?

[2017-02-03 07:28] SWY1985 commented on #984
I will attempt to get some tests done on a Windows machine tomorrow, using both RS485 and RS232 ports.

[2017-02-03 08:25] willdean opened #15752 "SerialPort Test migration tracking"
@SWY1985 @msalsbery @daflame76  I've opened this issue for the four of us to keep track of what's being done on migrating the SerialPort tests over to CoreFX style.

@SWY1985 It sounds like you're going to go first on this (today?) - perhaps you could let us know in here what bits you're doing/done so that we don't trip over each other.

[2017-02-03 08:26] willdean commented on #984
I've opened #15752 for those of us working on migrating tests to keep track of that specific bit of work without bogging this issue down.

[2017-02-03 09:22] drieseng commented on #15739
https://github.com/dotnet/coreclr/issues/5061

[2017-02-03 09:27] drieseng commented on #15739
Using ```GetSystemTimePreciseAsFileTime```  for ```DateTime.UtcNow``` is already being discussed here: https://github.com/dotnet/coreclr/issues/5061.

[2017-02-03 09:47] Mattacks commented on #503
[Our company Microsoft consultant Ben Gimblett pointed me to this thread when we discovered that we had to rip out contact checks to port our code to .Net Core]

@weshaggard [commented on Jan 23 2015] "1.What do people actually do with code contracts in their libraries and apps"

In our product:
- We use code contracts for all our interfaces (hundreds)
- We use code contracts for many internal and

[2017-02-03 09:52] JonHanna commented on #10470
Cool. That's enough variance to argue well that the property should live in S.L.E. Shall I open the above as a separate API proposal?

[2017-02-03 10:22] SetTrend commented on #15542
OK, the problem actually exists with getter-only properties using a Lambda expression, like this one:

`T GetService<T> => ...`

You cannot apply the `[DebuggerStepThrough]` attribute to these kind of properties, which becomes annoying due to the sheer simplicity of this kind of properties.

[2017-02-03 12:16] fujiy commented on #13970
We couldn't get the code coverage report for List class, I tried to follow the instructions here: https://github.com/dotnet/corefx/blob/master/Documentation/building/code-coverage.md#user-content-code-coverage-with-mscorlib-code

I think it is not working well: https://github.com/dotnet/corefx/issues/13094.

[2017-02-03 13:56] ericstj opened #15758 "Improve performance of ResolveMatchingContract"
I recently switched this to use p2p.  This was needed to handle 2 cases: desktop where we don't binplace contract at all (we binplace impl to ref), and down level config a where we aren't binplacing.

I noticed during the build all work that this can get somewhat expensive.  To bring that in check I propose the following.

1. If not targeting desktop.
2. And $(refpath)/assembly.dll exists
3. Set t

[2017-02-03 16:26] #15362 closed

[2017-02-03 16:40] stephentoub opened #15761 "Remove PinnableBufferCache from corefx"
The only remaining use of PinnableBufferCache in corefx is in SslStream, which uses two different instantiations of it to get read and write buffers.  I suggest we replace this usage with ArrayPool, so as to consolidate pools, and if doing so results in any regression, incorporate whatever we need from PinnableBufferCache into ArrayPool to address it (e.g. right now ArrayPool doesn't explicitly pa

[2017-02-03 16:53] svick commented on #15542
Maybe it would make sense to support applying `[DebuggerStepThrough]` directly to properties (and events?)? The debugger would then step through all accessors of that property.

[2017-02-03 17:31] weshaggard commented on #15758
That seems like a reasonable mitigation.

[2017-02-03 18:02] danmosemsft commented on #13094
@mellinoe how far are we off from making this work -- I'm not sure how much of the necsesary build refactoring remains. The linked issue for example is looking at CC for List. I'm not sure the "manual" instructions are still valid after the engineering work.

[2017-02-03 18:12] weshaggard commented on #503
@Mattacks to be clear my comments are more around applying code contracts to the .NET Core libraries themselves. The actual Code Contract APIs do exist in .NET Core so there shouldn't be any issue in porting code but there aren't any static analysis tools for them that work on .NET Core. Those tools were written by some researchers which aren't really getting much attention (see https://github.com

[2017-02-03 18:23] saurabh500 commented on #14756
@danmosemsft I had updated the SNI to the dependencies which are supported by .Net core. The latest test runs are good

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170203.02/workItem/System.Data.SqlClient.Tests

I think its safe to close this issue. In case there are any other failures, we could reopen the issue.

[2017-02-03 18:25] raffaeler commented on #8965
Sorry but how the assembly loading is supposed to work in netstandard1.5?
My app *must* either call the Assembly.LoadFrom or AssemblyLoadContext.Default.Loadxxx
The Assembly.Load cannot be used in my scenario.

I am not interested in calls specific to either netcore or netdesktop. The netstandard dll is "neutral" and should be able to do its job, right?

[2017-02-03 18:25] JeremyKuhne commented on #15752
Let me know if you have any questions.

[2017-02-03 18:26] danmosemsft commented on #14756
Awesome thanks.

[2017-02-03 18:26] #14756 closed

[2017-02-03 18:28] JeremyKuhne commented on #15752
Also, if you could add what actual hardware setups you've got and have run against that would be useful. I'm getting a couple USB serial port adapters myself.

[2017-02-03 18:28] danmosemsft commented on #15395
@mellinoe thoughts?

[2017-02-03 18:32] danmosemsft commented on #3140
Another reason piecewise change can be nice is (if we merge without squashing) we can selectively revert or bisect if there's an issue that emerges.

[2017-02-03 18:40] shanewalters commented on #9719
@bfdill For what it's worth, I was also running SQL Server 2008 SP3 and had connectivity issues. I upgraded to SP4 and I was able to connect just fine.

[2017-02-03 18:44] weshaggard opened #15763 "Any new libraries not shipped should use Open key"
Any new libraries like System.Transactions, System.Configuration.ConfigurationManager, System.CodeDom, etc that have not yet shipped yet should have their public keys set to the Open Key (i.e. UseOpenKey=true).

We should do an audit before we ship .NET Core 2.0 and make sure we update all these.

[2017-02-03 18:47] joperezr commented on #12652
Master today has both a configuration for uap and one for uapaot now, so this should be unblocked.

[2017-02-03 18:52] VSadov commented on #10470
Yes, this needs to live in S.L.E.
I still believe there is a value in

[code]

We already need to detect interpreted lambdas inside the interpreter itself. Would not be surprised if someone else needs this.

Interestingly, CanCompileToIL could actually be implemented in terms of IsInterpretedExpression - compile and cache trivial delegate and then just ask if it is interpreted or not.
Of course th

[2017-02-03 18:54] brianrob commented on #15761
Sounds reasonable to me.  Fragmentation is really the thing to watch when doing this.  However, know that it will take a fairly large workload to see the effects, both in terms of fragmentation as well as the cost in GC time of handling a very large number of objects that need to be moved during compaction.

You won't get pushback from me on wanting to merge pooling solutions, but just be aware th

[2017-02-03 19:03] justin-lavelle commented on #7623
Does HttpClient work with a client certificate?
Using dotnet 1.1 with System.Net.Http 4.3.0 in a console app and asp.net site.

[code]
It works fine on Windows 8.1/10 but fails on CentOS 7 with the following error...

_Exception: System.PlatformNotSupportedException: The libcurl library in use (7.29.0) and its SSL backend ("NSS/3.19.1 Basic ECC") do not support custom handling of certificates. A l

[2017-02-03 19:03] JonHanna commented on #10470
We have `IsInterpretedFrame` but don't seem to use it. It's one of those bits of dead code that I can be wary of deleting because it certainly looks useful! Am I missing a use or another mechanism for same, or is this just dead? In any case it could be the basis of that.

I'm inclined to think of `LambdaExpression` as the most natural declaring class, as the place where expressions meet delegates.

[2017-02-03 19:05] davidsh commented on #7623
In general, the answer is yes.  However, if you are having a problem, I recommend you open a new issue for this problem.  This issue itself is tracking a different task (regarding Windows UWP).

Thx,

[2017-02-03 19:05] willdean commented on #15752
@JeremyKuhne  You may already know this, but if you're buying USB-Serial adaptors, you want to make sure they're either FTDI or Prolific-based, and you need to try and buy them from somewhere where they're likely to be genuine (in the UK you can just buy stuff from FTDI themselves, but I'm not sure on the international options there.  People like Digikey are probably pretty safe.  The world is awa

[2017-02-03 19:10] TylerBrinkley commented on #15453
@magol that should be possible similar to what's proposed for `ToString`

[2017-02-03 19:11] vancem commented on #15761
I am OK with this approach.

[2017-02-03 19:15] #13249 closed

[2017-02-03 19:25] mellinoe commented on #15395
@Jiayili1 You have linked to the "lastFailedBuild" of this test configuration, so I don't think the link is valid anymore; it doesn't show the test failures for this issue. I believe this is the run that failed: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/77/

[2017-02-03 19:41] mellinoe commented on #15395
Although this whole thing is a bit crazy, I don't think there's a direct problem here because test cases within the same class shouldn't be running in parallel, and, like you said, this field is only ever touched in the `divremTest` class.

[2017-02-03 20:00] mellinoe commented on #15395
I repeated your experiment and that looks accurate to me as well.

[2017-02-03 20:11] shaggygi commented on #15752
I agree with @willdean.  I usually get from DigiKey or Mouser.  Here are a couple of links.

- https://shop.clickandbuild.com/cnb/shop/ftdichip?productID=342&op=catalogue-product_info-null&prodCategoryID=293
- http://www.digikey.com/products/en?keywords=CHIPI-X10

[2017-02-03 21:31] dhoehna commented on #15554
Am I doing something wrong?  I can't build System.Configuration.ConfigurationManager.  I get errors like "Missing compiler required member 'System.ParamArrayAttribute..ctor'" and "Predefined type System.Enum is not defined or imported" and "Predefined type System.Int32 is not defined or imported"

Here is what I have done
1. Fork the repo to my desktop
2. git pull on the corefx repo
3. Open Visual

[2017-02-03 21:45] benaadams commented on #15761
**tl;dr** The main issue is handling depletion+overflow scenarios; otherwise all buffers will be Gen2 anyway. In general, shouldn't be any issue. However, new api to override default pool where usage pattern is known?

----
The only issue I can see is from a fast pool sharing with a slow pool. Fast pool I'd define as getting a buffer, using it in a cpu operation then returning. Slow pool I'd defin

[2017-02-03 21:55] benaadams commented on #15761
Hmm... equally it might just as easily be solved by allowing the shared pool defaults to be increased (via startup configuration would be fine)

[2017-02-03 22:15] geleems commented on #15740
[TestExecution.txt](https://github.com/dotnet/corefx/files/751669/TestExecution.txt)
I attached the log of '/DotNetCoreFx/Tools/msbuild.sh /t:BuildAndTest /p:OSGroup=Linux'

[2017-02-03 22:29] svick commented on #15687
As a point of comparison, [Rx also has an `IScheduler` interface](https://msdn.microsoft.com/en-us/library/system.reactive.concurrency.ischeduler(v=vs.103).aspx).

Differences from the proposed interface are:

* It includes a notion of time (in the form of the `Now` property and two `Schedule` overloads). I always thought that was a weird design (when and where to schedule should be separate conce

[2017-02-03 22:32] akcorp2003 opened #15771 "Running bash shell programmatically on Mac OS X"
I am trying to figure out how to run a bash shell using .NET Core. Specifically, I want to run a bash shell, run a dotnet [path to dll] command and pass commands to the dll. I tried looking through the test classes in `System.Diagnostics.Process` but I couldn't wrap my head around it. :(

What I hope to achieve is something like on the .NET Framework:

`Process.Start("bash dotnet a.dll start")`

P

[2017-02-03 22:46] mellinoe commented on #15740
@saurabh500 Does the log give you any interesting info? I don't think there's any infrastructure problem here, just a regular test failure.

[2017-02-03 22:50] mellinoe commented on #15771
Have you tried using the `Process.Start` method? It should work fine. This command (`bash dotnet a.dll start`) doesn't look valid to me (you might want `bash -c`), but other than that, there shouldn't be any problems.

[2017-02-03 22:59] akcorp2003 commented on #15771
@mellinoe Yeah, that command probably isn't valid as it was just pseudocode. I haven't tried anything yet. What would I pass in as the argument?

[2017-02-03 23:00] benaadams opened #15773 "[Api?] Add Configuration option for shared ArrayPool limits"
Add Configuration option for shared ArrayPool limits
---
Currently the number of array buffers per size is `MaxBuffersPerArraySizePerCore * ProcessorCount`

With `const MaxBuffersPerArraySizePerCore = 8`

Change to:
[code]
Rational
---
With more and more activities using the Shared ArrayPool there is a higher chance of it becoming depleted; allocating extra, then discarding the over allocation on

[2017-02-03 23:00] benaadams commented on #15761
Raised issue for that https://github.com/dotnet/corefx/issues/15773

[2017-02-03 23:03] mellinoe commented on #15771
The easiest option is just to call this method: https://msdn.microsoft.com/en-us/library/h6ak8zt5(v=vs.110).aspx. The same exact method is available on .NET Core.

Example:

[code]

[2017-02-03 23:46] JeremyKuhne commented on #15554
@dhoehna you need to run the build.cmd from the root once. In order to run the tests you'll need to run the build-tests.cmd once.  After that you'll be able to build with the projects directly either through the command line (e.g. msbuild.exe) or in VS.

To run all of the tests from VS you need to set the test project as the startup project. We don't have things set up to use the test explorer yet

[2017-02-03 23:49] weshaggard commented on #15744
As an added note when doing a `/t:rebuild` on an individual project that has ReferenceFromRuntime references it will fail because the projects will not get rebuilt.

[2017-02-03 23:53] Priya91 commented on #15771
@akcorp2003 Did the proposed methods work for you?

[2017-02-03 23:53] mellinoe commented on #14589
@weshaggard Pretty sure this is covered now, right?

[2017-02-04 00:06] dhoehna commented on #15554
Oh.  I thought I did run  build.cmd.  I am running it now.  I'll let you know if I have any problems.

[2017-02-04 00:13] XiaoFaye commented on #15771
@Priya91  `Process.Start("dotnet", "a.dll");` will work, I have done that all the time.

[2017-02-04 00:16] akcorp2003 commented on #15771
@Priya91 Sorry, I was behind a network that wasn't allowing me to do nuget (probably I didn't set the proxy).

But yeah, it worked!!

[2017-02-04 00:16] #15771 closed

[2017-02-04 00:34] #14589 closed

[2017-02-04 01:02] tinchou opened #15776 "Add Odbc and SQLite OS deps to CI"
I'm working on [porting System.Data.Odbc](https://github.com/dotnet/corefx/pull/15646). I talked to a couple of people and we decided on writing some integration tests that would hit a SQLite database. Main reasons: easy to set up and cross-platform.

For things to work, I need two pieces:

* An Odbc library
* A SQLite Odbc Driver

On Windows:

* We use `odbc32.dll`, which is probably already inst

[2017-02-04 01:17] Jiayili1 commented on #15395
@mellinoe Thanks for the right link, I have updated the link in the details.

[2017-02-04 01:22] danmosemsft commented on #6302
Closing to make sure this gets opened when there's logging.

[2017-02-04 01:22] danmosemsft commented on #15158
@swgillespie ?

[2017-02-04 01:22] danmosemsft commented on #15383
@tstringer ?

[2017-02-04 01:23] danmosemsft commented on #15419
@saurabh500 what is the next action on this one? trying to keep test failures not getting too high..

[2017-02-04 01:34] Jiayili1 commented on #15065
This issue is repro on build 20170203.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170203.02/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FOpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal

Message:
[code]

Stack Trace:
[co

[2017-02-04 01:52] Priya91 commented on #14767
@steveharter Is this issue tracking test failure that's fixed with #15368

[2017-02-04 01:55] Priya91 commented on #12637
Issues #12637 and #13300 seems similar. It may be different test failures, but the error comes from CURL as SSL connect error, probably due to CA cert. It's reproing on Centos outerloop PR jobs frequently as well.

[2017-02-04 02:14] saurabh500 commented on #15419
@danmosemsft PR https://github.com/dotnet/corefx/pull/15780 with the fix

[2017-02-04 03:09] #15419 closed

[2017-02-04 06:19] davidfowl commented on #15687
Not sure about cancelling scheduled work. I guess some implementations would just ignore it.

This makes sense. I was going to make that change after seeing if there was interest:

[code]

OR

[code]

[2017-02-04 09:43] hughbe opened #15785 "SslStream_StreamToStream_ClientInitiatedCloseNotify_Ok failed"
failed in #15782

     System.Net.Security.Tests.SslStreamAlertsTest.SslStream_StreamToStream_ClientInitiatedCloseNotify_Ok [FAIL]
        System.ComponentModel.Win32Exception : The credentials supplied to the package were not recognized
        Stack Trace:
           D:\j\workspace\windows_nt_re---37265eab\src\Common\src\Interop\Windows\sspicli\SSPIWrapper.cs(167,0): at System.Net.SSPIWrapper.Ac

[2017-02-04 13:53] ChrisEelmaa commented on #1271
thanks,

had to enable that flag, and add the overloads to ref/mscorlib.cs as well.

I've created PR at https://github.com/dotnet/coreclr/pull/9316
unfortunately it didn't link PR with this issue, as they are in different repository.

that said, I am now a bit stuck. I've made all the tests pass on the windows, and it seems nice. However, on Linux the tests fail. I am running on OSX, so I had chan

[2017-02-04 17:19] darxis commented on #15332
@sepidehMS Do I have to also write tests for these methods? Or will they be written as part of another issue?

[2017-02-04 17:35] tstringer commented on #15383
@Jiayili1 was it just in openSUSE that you ran into this issue? I don't see why this would be a distro-specific issue. Do you have any other surrounding information on this? Did your tests run successfully on Ubuntu?

[2017-02-04 18:00] JonHanna opened #15790 "S.L.Expressions Expression.Default fails with DBNull"
When compiling `Expression.Default(typeof(DBNull)` the interpreter is fine, but the compiler throws an `InvalidOperationException` with a message of "Code supposed to be unreachable".

[2017-02-04 18:05] karelz commented on #15785
cc @steveharter @Priya91 @ianhays

[2017-02-04 18:06] karelz commented on #15776
cc @mellinoe

[2017-02-04 18:08] karelz commented on #15773
cc @stephentoub @jkotas @brianrob

[2017-02-04 18:47] JonHanna opened #15793 "CI isn't functioning"
Tests aren't being triggered, and https://ci.dot.net/ inaccessible.

[2017-02-04 20:22] stephentoub commented on #15793
cc: @mmitche, @danmosemsft, @karelz, @tannergooding

[2017-02-04 20:35] dhoehna commented on #15554
@JeremyKuhne I am still having issues.

Build.cmd ran to completion.
build-tests.cmd gave me yellow and red text at the end, saying some tests failed.

I opened visual studio and got the errors as described above but I was able to build all projects in System.Configuration.ConfigurationManager.

I do get an error when I try to run the test class though.  I pasted the image from my command prompt.

[2017-02-04 21:27] danmosemsft commented on #14724
@terrajobst for question above. Would like to get this to review (or not)

[2017-02-04 21:45] mellinoe commented on #15776
We'll need to consider what we can use outside of Ubuntu, as well, preferably on all of the distros we support.

[2017-02-04 22:00] danmosemsft commented on #13474
AGain
[code]

[2017-02-04 22:01] danmosemsft commented on #13474
Are tests in different classes using the same folder and running concurrently? Eg this failed also

[code]

@JeremyKuhne

[2017-02-04 22:03] danmosemsft commented on #13474
6 failed this way -- it seems unlikely all of them ran at once. Perhaps virus checking? I'll disable Forefrunt for `C:\\ProgramData\\IsolatedStorage`.

Question remains though about why the tests are apparently all using the same folder.

[2017-02-04 22:31] tinchou commented on #15776
Our library only depends on odbc being present *at runtime* (and unixODBC
is available everywhere non Windows). Then the native library handles the
connection to the driver transparently, be it SQLite or any other.

Now for the test *to run in CI*, we do need odbc and a SQLite driver.

Regarding support in other platforms:

* I'm trying to find a Mac for testing on Monday
* I can spin up some dock

[2017-02-04 23:33] JeremyKuhne commented on #13474
They're supposed to use the same folder- it isn't configurable (not without Evidence, which we don't have). The tests are set to not run in parallel because of this. (The assembly is attributed.)

[2017-02-04 23:41] JeremyKuhne commented on #15554
It would be better if you pasted the output rather than an image. (Just block it in ```.)

What solution configuration is active?

You should try building the test project from the command line. Run the developer command prompt and in the test directory run `corefx\src\System.IO.Ports\tests>msbuild System.IO.Ports.Tests.csproj /t:BuildAndTest`.

If things are messed up it is also worth trying `/t:

[2017-02-04 23:57] danmosemsft commented on #13474
OK, I"ll see if it reproes now I've e3xcluded the folder.

[2017-02-04 23:57] #13474 closed

[2017-02-05 00:00] JeremyKuhne commented on #15554
Er, sorry about using System.IO.Ports as the example. Same goes for the other project. I'm just in the middle of looking at Ports. :)

[2017-02-05 00:02] JeremyKuhne commented on #15752
#15796 has a couple blocking fixes. CI is down at the moment- when that gets settled I'll get it in. Changes are relatively minor.

[2017-02-05 00:33] JonHanna commented on #15793
Back.

[2017-02-05 00:33] #15793 closed

[2017-02-05 00:52] karelz commented on #15793
Thanks for restarting CI for all pending PRs @JonHanna!

[2017-02-05 01:03] dhoehna commented on #15554
I'll do all that. In the meantime I have a question.  Can I run the test just for SYstem.COnfiguration.ConfigurationManager, or do I have to run the tests for all projects?

If I can run the test for only System.Configuration.ConfigurationManger, how would I do that since build-tests.cmd is in the root?

[2017-02-05 01:12] FireAlkazar commented on #15554
@dhoehna you can do the following: in dev command promt navigate to Tools folder, execute ```msbuild.cmd /t:buildandtest ..\src\System.Configuration.ConfigurationManager\tests\System.Configuration.ConfigurationManager.Tests.csproj```
I personally run only System.Configuration.ConfigurationManager.Tests doing this issue.

[2017-02-05 01:54] JonHanna commented on #15554
If your working directory is the test directory, then `msbuild.cmd /t:buildandtest` suffices.

You do have to have built all the projects and tests first (and since the last pull that changed anything related to the projects, which is hard to second guess but obvious when building just the test project no longer works), but any changes that are just your own subsequently need only have the project

[2017-02-05 01:59] JonHanna commented on #15554
`msbuild /t:BuildAndTest /p:Coverage=true` is very useful too, as it runs a coverage on those tests. which you can then look at at bin/tests/coverage/index.htm

Personally I like to use it a bit like I would a bad spell-checker in that it might catch things I've missed, but it's best not to trust it 100%. So if there's a big red patch it definitely shows either something that needs more testing or

[2017-02-05 02:02] JeremyKuhne commented on #15554
There is pending work to have the test directory set up without actually having to run all of the tests (build-tests.cmd). You can CTRL-C out of them once they start going for now.

[2017-02-05 02:03] JonHanna commented on #15554
Or `build-tests -skiptests` to build them and not run them.

[2017-02-05 02:13] JonHanna opened #15806 "S.L.Expressions ignores scale compiling small constant decimals"
`decimal` scaling means that there are sometimes when `0m` is treated differently to `0.00m`, e.g. when `ToString()` is called. It can also consider `0.00m` different to `-0.00m` though not in the `ToString()` case.

When a `ConstantExpression` has a small integral decimal value (within the range of `long`) an optimisation loses this information if the compilation is done to IL. The interpreter is

[2017-02-05 02:21] jaime-olivares commented on #984
@karelz I have created PR for SerialPortStream making it compilable for .net standard, I tested some functionalities for Windows only, but I assume it shall work already in macOS and Linux. Please have a look: https://github.com/jcurl/SerialPortStream/pull/13

[2017-02-05 02:47] the-dwyer opened #15808 "Improve code coverage of System.IO.FileSystem.AccessControl (8.9%)"
@danmosemsft  created #14352 to increase unit tests.
I added some tests with issue #15375 and a pull request.
I have added some more tests that increase coverage to 8.7%

Please assign me to this issue so that I can create another pull request.

Thanks,

Michael

[2017-02-05 02:59] jkotas commented on #15773
The same concern about hints on how much memory to keep warm applies to GC in general, not just ArrayPool.

I do not think that the current implementation of ArrayPool is the final one. I would much rather look at how to make the ArrayPool self-tuning, or cooperate with the GC on self-tuning. The problem with similar knobs is that very few people knows how to set them well; or they set them once a

[2017-02-05 03:10] jkotas opened #15809 "Delete desktop BinaryCompatibility settings from System.Private.Xml"
https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Core/BinaryCompatibility.cs

This code does private reflection against desktop mscorlib and read full framework registry keys; none of which works well for .NET Core.

We should either delete it (preferred); or replace it with .NET Core compatible quirk if it is important to keep it.

As side-effect, this will also

[2017-02-05 03:13] benaadams commented on #15773
Yeah I was thinking as environment var; don't see it as an at runtime setting. And if it can tune using heuristics at a later date; happy both the be part of the real world testing and to have the enviorment var taken away.

[2017-02-05 03:16] benaadams commented on #15773
Yeah I was thinking as environment var; don't see it as an at runtime setting. And if it can tune using heuristics at a later date; happy both the be part of the real world testing and to have the enviorment var taken away.

GC is a more difficult beast as its a more general purpose allocator and cleaner; whereas the array pool is "easier" as it is focused on one very specific task of array alloca

[2017-02-05 03:17] jkotas opened #15810 "Delete desktop BinaryCompatibility settings from System.DirectoryServices"
https://github.com/dotnet/corefx/blob/master/src/System.DirectoryServices/src/System/DirectoryServices/BinaryCompatibility.cs

This code does private reflection against desktop mscorlib and read full framework registry keys; none of which works well for .NET Core.

We should either delete it (preferred); or replace it with .NET Core compatible quirk if it is important to keep it.

As side-effect,

[2017-02-05 03:42] jkotas commented on #14935
https://github.com/dotnet/corefx/issues/15809 may need to get fixed as part of this.

[2017-02-05 03:49] jcouv commented on #15229
Fixed in desktop, coreclr and corert. I think mono will pick this up automatically.
FYI @marek-safar just in case.

[2017-02-05 03:49] #15229 closed

[2017-02-05 04:14] jkotas commented on #12550
Fixed by https://github.com/dotnet/corefx/pull/14659

[2017-02-05 04:14] #12550 closed

[2017-02-05 04:20] danmosemsft opened #15814 "Issues with build -tests and build-tests"
I don't have a unix box handy right now, but it looks like it needs updates eg it looks for folders named 'netcoreapp1.1'

I did the .cmd -- https://github.com/dotnet/corefx/pull/15811

[2017-02-05 04:37] WinCPP commented on #8578
@karelz something that I can take up? I have to reference CoreCLR code base...?

[2017-02-05 06:20] Thaina commented on #5449
Future but closed ?

@VSadov @karelz

[2017-02-05 07:24] dhoehna commented on #15554
@JeremyKuhne
`summary`
I think the error came from me opening the solution file through a regular command prompt and not the Visual Studio command prompt.

solution configuration is debug.

`msbuild System.Configuration.ConfigurationManager.csproj /t:BuildAndTest`  success.  `/t:rebuildandtest` also worked.

Opened System.Configuration.ConfigurationManager.sln from visual studio command prompt.  S

[2017-02-05 09:09] chadwackerman commented on #9846
Wow, this is bad. I just spent months raising my voice two standard deviations beyond what open source traditionally tolerates in order to get another Sev 1 blocking bug even looked at: https://github.com/dotnet/corefx/issues/11100

Six months later and that production blocking bugfix still hasn't shipped because the overloaded manager himself chooses to be blocked waiting to hear back from some n

[2017-02-05 10:43] FireAlkazar opened #15817 "Code coverage report does not match tests"
I'm working on System.Configuration code coverage #15554 and a little bit stuck with coverage report.

**Problem description**
There is a test, that covers exception catch and throw in method, but both local and CI code coverage reports show, that the lines of method code are not covered.

**Details**
[Test for System.Configuration.TypeUtil](https://github.com/dotnet/corefx/blob/a8dce7c1c905e994c9

[2017-02-05 10:56] nietras opened #15818 "Span: Add BinarySearch(...) extension methods for ReadOnlySpan<T> (and Span<T>)"
Currently, there is no way to binary search in sorted native or fixed memory (e.g. coming from a pointer) in .NET, this proposal intends to fix that by adding binary search extension methods to `ReadOnlySpan<T>` (and currently also `Span<T>` due to type inference issues), but also proposes some different overloads than seen on `Array` to allow for inlined comparisons via the possibility to use val

[2017-02-05 11:35] JohnGalt1717 commented on #9846
Concrete data:

System.net.http and primatives is now OK in ASP.net apps. However you still have to do the whole binding redirect for any unit test projects.

Please get this fixed. It's becoming aajor time suck for no reason because you had to have seen this coming when you built .Net standard.

[2017-02-05 11:39] galich commented on #9846
i wonder if there is a way to reopen this issue? or nobody from .net core team is looking here

[2017-02-05 12:39] stephentoub commented on #15817
It's showing as not covered because that code isn't covered: the System.Configuration.ConfigurationManager.Tests project is including the TypeUtil.cs file from the src into the tests project, so the code that's getting executed here is the copy in the tests project, not in the actual library:
https://github.com/dotnet/corefx/blob/master/src/System.Configuration.ConfigurationManager/tests/System.Co

[2017-02-05 13:22] FireAlkazar commented on #15817
@stephentoub thank you, that explains  the case. So, we can't relay on report, that estimates coverage.

[2017-02-05 13:26] #15817 closed

[2017-02-05 13:26] stephentoub commented on #15817
IMHO, we should change the test project to not include this code, and then write tests that exercise this code in the product via the public entrypoints.

[2017-02-05 14:02] tinchou commented on #15776
Note on unixODBC: our own new and shiny ODBC Drivers for SQL Server on Linux and Mac rely on it https://mspoweruser.com/odbc-driver-13-1-linux-mac-released/

[2017-02-05 15:09] jamesqo commented on #15818
Shouldn't this go along with the `Sort` proposal? Binary search is one of the main reasons `Sort` is useful, IMO they should either be both accepted or both rejected.

[2017-02-05 15:29] jamesqo commented on #15663
@Keboo Sorry for the late reply.

I was thinking it could be used to lazily load a value if there was no item matching the predicate. Looking back though, I agree it may not make much sense, mainly because Linq is used with pure functions so a argument-less function would go against the grain.

@karelz Everyone seems to think this is a good idea, so maybe it can be marked ready-for-review.

[2017-02-05 15:39] chadwackerman commented on #9846
@JohnGalt1717 binding redirects are also required for the System.Net.Http problem even after the new version ships. Also the package version doesn't match the assembly version so factor that into the chaos as well.

They replaced the core HTTP component for the entire system, broke everything that touched it, and they didn't even notice. In fact they released several additional versions without no

[2017-02-05 17:26] dsplaisted opened #15823 "XML API documentation not available for System.ValueTuple"
- Reference System.ValueTuple NuGet package (version 4.3.0)
- Use APIs

**EXPECTED**: API documentation shows up in intellisense
**ACTUAL**: No API documentation shown

It looks like this is an issue with the package authoring, next to `System.ValueTuple.dll`, it has a file named `.xml` instead of `System.ValueTuple.xml`.

@weshaggard @ericstj @stephentoub

[2017-02-05 17:39] nietras commented on #15818
No, I don't think they are necessarily co-dependent in both ways. If
`BinarySearch ` does not make it, it should not exclude `Sort`. However,
the other way around does make less sense, admittedly. But sorting has
other purposes than searching. Is there any benefit in combining them?

On Feb 5, 2017 4:10 PM, "James Ko" <notifications@github.com> wrote:

[2017-02-05 18:22] jkotas commented on #15818
Sort and BinarySearch are co-dependent in the sense that they should follow the same patterns. Either both should be on the `TComparer : IComparer<T>` plan; or both should be on the classic `IComparer<T>` plan.

[2017-02-05 18:22] akoeplinger opened #15825 "Comparer<string>.Default sort order different on Linux/OSX than Windows or Mono"
Found this while investigating #15445 (**edit:** see https://github.com/dotnet/corefx/issues/15825#issuecomment-277564885 where it looks like `Comparer<string>.Default` is the underlying culprit):

[code]

This prints the following on OSX/Linux:

[code]

However, on Windows .NET Core or .NET Framework, as well as Mono on OSX/Linux it prints:

[code]

I suspected a difference due to culture/languag

[2017-02-05 18:23] jkotas commented on #15329
Related proposal: https://github.com/dotnet/corefx/issues/15818

[2017-02-05 18:47] nietras commented on #15818
Yes, definitely. The main thing is whether this pattern can be accepted for
Span. I can update the proposals with links to each other and some comments
about this. I don't want to necessarily merge the two since I think they
are both pretty long, and would like to keep them focused. If you'd rather
have them in one, let me know though.

On Feb 5, 2017 19:22, "Jan Kotas" <notifications@github.com>

[2017-02-05 18:48] jkotas commented on #6045
For at least last 5 years, we are explicitly not adding CLS Compliant IntPtr versions of APIs that take pointers. Yes, it means that the APIs that take pointers are only usable from languages that support pointers and you have to use `unsafe` in C# to use them. That's a good thing (tm).

[2017-02-05 18:48] JonHanna commented on #15825
I suspect the difference is with `Comparer<string>.Default`. Can you see if it behaves differently with the values involved?

[2017-02-05 18:52] jkotas commented on #6045
Why is not `MetadataReaderProvider.FromMetadataImage` sufficient?

[2017-02-05 19:01] jkotas commented on #3140
FWIW, turning on overflow checks in debug builds by default was considered several times in full .NET Framework. It was never done because of it did not have positive ROI. It never found enough bugs to pay for its cost. There is a price you pay for diverging behavior of debug and release build, maintaining annotations in large body of the code, and dealing with bugs introduced by maintaining the a

[2017-02-05 19:03] jkotas commented on #3140
I am pretty sure that turning this on for release builds is non-starter.

[2017-02-05 19:36] tmat commented on #6045
@jkotas The bug was filed before we had MetadataReaderProvider. We are still missing MetadataReaderProvider.FromPortableExecutable, so that might be one thing to add.

[2017-02-05 19:36] dsplaisted opened #15826 "Package downgrades occur when referencing System.ValueTuple from a .NET Core 1.0 project with a RuntimeIdentifier specified"
- Create a new Console App (.NET Core) project (targeting .NET Core 1.0)
- Add the following property to the .csproj file: `<RuntimeIdentifier>win7-x86</RuntimeIdentifier>`
- Reference System.ValueTuple (version 4.3.0)

[code]

- Run NuGet restore (e.g. `dotnet restore` from command line)

**EXPECTED:** No warnings on restore
**ACTUAL:** Lots of package downgrade warnings (57 of them to be specifi

[2017-02-05 19:42] srivatsn commented on #15826
Tagging @jaredpar @jcouv as well.

[2017-02-05 20:53] dennisdietrich opened #15827 "Test failure: CreateNormal_Unicode_Seekable and CreateNormal_Unicode_Unseekable in System.IO.Compression.Tests are invalid"
[code]

[2017-02-05 21:08] JeremyKuhne commented on #15554
@dhoehna It is stated in the docs that you have to do a command line build from the VS command prompt. Once you've built, however, VS should work fine with the solutions no matter how you launch it. I usually launch the solutions from the most recent on the task bar (I pin VS).

[2017-02-05 21:10] karelz commented on #15663
@jamesqo area experts are supposed to make the first-level API approval, by marking the API as such: @VSadov @OmarTawfik can you please check if the API proposal is in line with Linq direction?

[2017-02-05 21:15] karelz commented on #5449
I don't understand your question.
I 'fixed' the Milestone to 1.2=2.0 on 2016/12/3 to reflect it was rejected (=Closed) in 2.0-release timeframe.
Or are you trying to argue it should not be rejected?

[2017-02-05 21:19] karelz commented on #8578
@WinCPP assigned to you.
I don't think you need to do anything special - the Reflection APIs should be already available for consumption. It is "only" about changing Dynamic.Runtime code to use the APIs.
As mentioned above: Be extra careful to keep the same semantics (even for corner cases). If in doubt, ping the issue and @VSadov @OmarTawfik for advice.

[2017-02-05 22:12] fujiy opened #15829 "Code Coverage docs are outdated"
I'm trying to extract the coverage report for List class, but I couldn't follow the steps in https://github.com/dotnet/corefx/blob/master/Documentation/building/code-coverage.md#user-content-code-coverage-with-mscorlib-code

Some paths doesn't exist anymore and I'm not sure if the steps are still the same after https://github.com/dotnet/corefx/issues/15135 (Announcement: Engineering changes for co

[2017-02-05 22:13] fujiy commented on #15829
@arcs001

[2017-02-05 22:29] emgarten commented on #15826
I'm a little unclear on how this is expected to work.

1. If the intent here is to use System.ValueTuple 4.3.0 on top of NETCore.App 1.1.0 which contains older System packages then I think these downgrade warnings are correct given the current packages.

2. If the expectation is that adding System.ValueTuple 4.3.0 updates half of the dependency graph to 4.3.0 and overrides the runtime assemblies u

[2017-02-05 23:15] tannergooding opened #15830 "The new System.MathF APIs should have wrappers created so they are available on .NETStandard"
The new System.MathF APIs (#1151) where implemented in dotnet/coreclr#5492. However, they are currently only available in `netcoreapp1.1` base applications.

Until they make their way back into the Desktop framework, I propose that simple wrapper implementations be provided so the APIs are accessible in .NETStandard based libraries.

The wrapper function should just call the corresponding `System.

[2017-02-05 23:17] avgweb opened #15831 "ive completeopn"

[2017-02-05 23:29] dhoehna commented on #15554
That is so weird.  Do you know any reason why Visual Studio would not work when I open it from a regular command prompt, or from double-clicking on the solution?

[2017-02-06 01:00] akoeplinger commented on #15825
@JonHanna looks like you're right:

[code]

prints this on Windows/Mono:

[code]

and this on .NET Core OSX:

[code]

[2017-02-06 01:13] Jiayili1 opened #15833 "There is no test result generated under "System.Security.AccessControl.Tests.CommonSecurityDescriptor_CreateFromRawSecurityDescriptorTestC.../TestCreateFromRawSecurityDescriptor""
On build 20170204.01, under test: System.Security.AccessControl.Tests.CommonSecurityDescriptor_CreateFromRawSecurityDescriptorTestC.../TestCreateFromRawSecurityDescriptor

There isn't the test result generated.

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170204.01/workItem/System.Security.AccessControl.Tests/anal

[2017-02-06 01:25] JonHanna commented on #15825
`OrderBy` is doing what it should given that. The bug (or defined difference in behaviour between OSs) is in the comparer, so the issue title should probably be changed to get the right people's attention.

[2017-02-06 01:30] #15827 closed

[2017-02-06 01:40] akoeplinger commented on #15825
Changed the title. Though looking at it `Comparer<string>.Default` is just `GenericComparer<string>` which simply does `stringA.CompareTo(stringB)`, and indeed if I change my sample above to use that I get the same output. So seems to me this really boils down to some core sorting data/algorithm that is different between the OSes.

[2017-02-06 01:45] jkotas commented on #15825
Are both OSes same culture - what does `Console.WriteLine(System.Globalization.CultureInfo.CurrentCulture);` say?

[2017-02-06 01:54] Thaina commented on #5449
@karelz Well that confusing. Because if it is in the future and has milestone then it not fully rejected, just not do it now. So should not be closed

[2017-02-06 01:54] akoeplinger commented on #15825
@jkotas it's empty. But I get the same result if I force English with `LANG=en_US` env var or setting CultureInfo.CurrentCulture to en-US as I said in the first post.

[2017-02-06 02:22] dotnet-mc-bot opened #15837 "Test: System.Collections.Concurrent.Tests.ConcurrentQueueTests/ManyConcurrentAddsTakes_CollectionRemainsConsistent(seconds: 1) failed with "System.OutOfMemoryException""
Opened on behalf of @Jiayili1

The test `System.Collections.Concurrent.Tests.ConcurrentQueueTests/ManyConcurrentAddsTakes_CollectionRemainsConsistent(seconds: 1)` has failed.

System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

        Stack Trace:

           at System.Object.MemberwiseClone()
       at System.Collections.Generic.HashSet`1.CopyFrom(HashSet`1

[2017-02-06 03:22] danmosemsft opened #15839 "AV running System.Net.Http.Functional.Tests"
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows_prtest/17/consoleText
[code]

[2017-02-06 03:23] danmosemsft commented on #15839
@steveharter @bartonjs can't tell from the log which test it was.

[2017-02-06 03:32] #15831 closed

[2017-02-06 03:35] stephentoub commented on #15829
Yeah, looks like those docs are out-of-date.  You can follow the steps at:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits
to patch your corefx build with your locally built runtime, and then you should be able to see the coverage for List, e.g. if you follow those steps, and then in the System.Collections\tests directory

[2017-02-06 04:54] karelz commented on #5449
@Thaina I am confused as well by your answers, can you please explain what you mean?

This issue was fully rejected - see the comment above https://github.com/dotnet/corefx/issues/5449#issuecomment-261677771 at the time it was closed. Setting milestone to 2.0 at that moment would have been nice, but almost no one does that as it is unnecessary bureaucracy. The key thing is that we NEVER close issu

[2017-02-06 05:03] Thaina commented on #5449
@karelz Well, At first I just misunderstood that, if some request still have milestone future, I will not think it is "fully rejected" instead it would just be pending. That's why if it has both milestone but closed then it confused me

This is what I see, after I comment you modified the milestone so I think you just pending it

![image](https://cloud.githubusercontent.com/assets/1042507/22635212

[2017-02-06 05:06] Thaina commented on #5449
@karelz And as for arguing this should not be closed, I was already comment that

So I think this feature is worth because it not just for array. Instead, we should implement collection that could return ref along with this feature

[2017-02-06 05:10] karelz commented on #984
@jaime-olivares that sounds great. It's up to @jcurl to decide if he wants to take the change or not.
I assume MacOS/Linux will need to call different OS APIs than on Windows, so I would be surprised if it just works on those OS's without any additional work.

Overall, I think it is still valuable to continue in porting the old SerialPort APIs from Desktop to .NET Core as it will help developers t

[2017-02-06 05:18] karelz commented on #5449
BTW: Note that the 'true final' milestone is on the github page on right side -- it says "2.0.0" now.
The milestone change I did was FROM Future TO 1.2.0. (the Milestone was independently renamed to 2.0.0 later on). GitHub modification record of the milestone change Future -> 1.2.0 makes it confusing to understand what was changed to what.

@Thaina I admit I don't fully understand your argument no

[2017-02-06 05:33] Abdullah2993 commented on #9768
Any updates?

[2017-02-06 05:58] piotrpMSFT opened #15842 "'dotnet new' command throws error on OS X 10.9.5"
Moved from https://github.com/dotnet/cli/issues/5588 on behalf of @ebetron
-----

## Steps to reproduce
Follow the install instructions for .NET Core for Mac OS X on https://www.microsoft.com/net/core#macos

## Expected  behavior
A new .NET project created

## Actual behavior
$ mkdir -p /usr/local/lib
$ ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/
ln: /usr/local/lib//libc

[2017-02-06 05:58] piotrpMSFT commented on #15842
/cc @blackdwarf

[2017-02-06 05:59] dhoehna commented on #15554
*sigh*   Still not working.  Here is what I tried
1. Remove corefx folder from git.
2. run git clone https://github.com/dotnet/corefx.git
3. In a VS command prompt, run build.cmd
    I.  Got a warning: :\Program Files (x86)\MSBuild\14.0\bin\Microsoft.Common.CurrentVersion.targets
(1819,5): warning MSB3277: Found conflicts between different versions of the same dependent assembly that could not be

[2017-02-06 06:11] danmosemsft commented on #15823
@jcouv

[2017-02-06 06:13] jaime-olivares commented on #984
@karelz, thanks for reviewing. SerialPortStream hooks to the pertinent native libraries for each OS.

Regarding the old SerialPort API, it will be awesome to have it available for all platforms, but in the mean time SerialPortStream will allow us to deploy cross-platform applications right today.

[2017-02-06 08:04] bartonjs commented on #15842
10.9 isn't supported, 10.10 (Yosemite) was the oldest supported version for 1.0, 10.11 (El Capitan) is probably the best tested.

https://www.microsoft.com/net/core#macos (and the chosen RID) suggests that 10.11 is our lowest supported build for 1.1

[2017-02-06 08:06] bartonjs commented on #15842
And the error is corroborated by https://opensource.apple.com/source/CommonCrypto/CommonCrypto-60061/include/CommonRandom.h.auto.html:

[code]

[2017-02-06 08:10] Jiayili1 opened #15844 "Ubuntu 16.04 outerloop debug - System.Diagnostics.Tests.ProcessWaitingTests.WaitChain failed with "Xunit.Sdk.EqualException""
Failed test: System.Diagnostics.Tests.ProcessWaitingTests.WaitChain
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu16.04_debug/92/consoleText

Message:
[code]

Stack Trace:
[code]

Configuration:
OuterLoop_Ubuntu16.04_debug (build#92)

[2017-02-06 08:22] Jiayili1 commented on #13938
This issue repros on OuterLoop_Win7_Debug, build#87, Failed test: System.Net.Http.Functional.Tests.ResponseStreamTest.ReadAsStreamAsync_Cancel_TaskIsCanceled [FAIL]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/87/consoleText

Message:
[code]

Stack Trace:
[code]

[2017-02-06 08:45] willdean opened #15845 "At what point is tools/testdotnetcli supposed to be populated"
As a newcomer to the project, I am failing to get tests to build or run, because of failures to find dotnet.exe in tools/testdotnetcli.   (The directory doesn't exist at all)

`build.cmd` seems to run fine, but there is no "testdotnetcli" directory created in tools.

I am unclear what by process this directory is supposed to be built - `build-tests.cmd` seems to get off to a good start and does a

[2017-02-06 10:06] mellinoe commented on #15845
@willdean That folder should be initialized by the target in [this file](https://github.com/dotnet/corefx/blob/master/Tools-Override/ConstructSharedFx.targets). It should be run as part of `build-tests.cmd`, because it is imported in [src/tests.builds](https://github.com/dotnet/corefx/blob/master/src/tests.builds).

Can you clean out your Tools directory entirely and re-run the build? It's possibl

[2017-02-06 10:30] maartenba commented on #11100
Fix on MyGet side is live. SHould work fine in Visual Studio. When using NuGet.exe, make sure to use the NuGet.exe embedded in https://dotnet.myget.org/F/nuget-build/api/v2/package/NuGet.CommandLine (4.0 nightly) - the `3.5` seems to fail figuring out dependencies (but not always). Bug logged: https://github.com/NuGet/Home/issues/4512

[2017-02-06 10:46] SWY1985 commented on #15752
I have made a test setup at home with a couple of RS485 devices, but there were some personal issues so I couldn't get around to testing them. I hope I will be able to set up my test program within the next couple of days.

[2017-02-06 11:56] stephentoub opened #15847 "Workflow on an individual library broken"
If I make a change to src (e.g. src\System.Collections.Concurrent\src) and do "msbuild /t:rebuild", then switch to the tests and try to re-compile/run them with "msbuild /t:rebuildandtest", I get an error like:
[code]
The only way I've found to recover is to do a full build.cmd/build-tests.cmd from the root.

cc: @weshaggard

[2017-02-06 12:36] hughbe opened #15849 "#if netstandard17 check in System.Collection.Tests are not being run"
Steps to reproduce:
- `build.cmd`
- `build-tests.cmd`
- `cd src/System.Collections/tests`
- `msbuild /T:BuildAndTest`

E.g. change a test here (https://github.com/dotnet/corefx/blob/1d4d1d8b00f09a8198a4e402ad91b48a85a59036/src/System.Collections/tests/BitArray/BitArray_CtorTests.cs#L227) to:
[code]

I'd expect an IOE to be thrown, menaing the test ran, but it didn't. Also, in CI coverage, branches

[2017-02-06 12:49] hughbe opened #15850 "Code coverage not updating after modifying source files"
Steps to reproduce:
- `build.cmd` / `build-tests.cmd`
- Open a source project and modify a source file
- `build.cmd`
- Navigate to the corresponding test project and run `msbuild /T:BuildAndTest /P:Coverage=true`

Observe that the underlying source file has changed, but the coverage hasn't.

See this screenshot
![repro](https://cloud.githubusercontent.com/assets/1275900/22647655/5e3251bc-eca5-11e6

[2017-02-06 12:58] JonHanna commented on #15850
How about if you `msbuild` the source project instead of `build.cmd`? I've been doing that just because it's quicker, and haven't had this problem.

[2017-02-06 13:07] JonHanna opened #15852 "S.L.Expressions fails to compile constants of type TypeBuilder"
The compiler incorrectly assumes that such objects can always be used with `ldtoken` (`t is TypeBuilder` is part of the test for this), resulting in an `ArgumentException` with a message of "Type must be a runtime Type object." on `Compile(false)`.

[2017-02-06 13:35] chadwackerman commented on #11100
Thanks for the deep dive on this @maartenba. Never underestimate the impact even a minor tooling fix can have!

Interesting that the entire .NET team could miss both the Visual Studio crash and the NuGet problem.

I once asked an room of 80+ Microsoft devs to raise their hand if anyone was having problems setting breakpoints in the debugger. I got two hands. Compiler changed symbol format, you cou

[2017-02-06 14:22] JonHanna opened #15859 "S.L.Expression hitting Nullable<T>.Value should have expected exception message"
The exception message received from accessing `Value` on a null nullable is perhaps one of the better known message, and certainly useful.

Expressions that hit this case should have the same message.

Currently they do if compiled, but not if interpreted.

[2017-02-06 14:37] akoeplinger commented on #15445
I found out the root cause, see https://github.com/dotnet/corefx/issues/15825

PR to fix in buildtools: https://github.com/dotnet/buildtools/pull/1320

[2017-02-06 15:17] willdean commented on #15845
@mellinoe Thanks for that - removing \tools and rebuilding it hasn't made any difference - I'll investigate that target file and why it's not being run successfully.

[2017-02-06 15:27] willdean commented on #15845
OK, I think I might have got this going again now thanks to help from @mellinoe - I had to delete constructsharedfxcomplete.sem in \bin\obj in order to trigger the `ConstructTestingHost` to run again.

I have no idea how I arrived at this point of corruption, but this trap feels like somewhat of a bug, or at least it's rather unexpected behaviour for a built system.   If testdotnetcli is a depende

[2017-02-06 15:42] willdean commented on #15752
@SWY1985 Unless I hear you shout, I'll make a start today on straightforward migration of the legacy test files, in the way that @JeremyKuhne has already done for `Close.cs`    This will probably touch a lot of files but not alter the structure of the project in any significant way.

[2017-02-06 15:47] stephentoub commented on #15825
A more concise repo:
[code]
On my Windows machine this outputs:
[code]
On my Linux machine this outputs:
[code]

[2017-02-06 16:11] stephentoub commented on #15825
cc: @tarekgh, @ellismg, @eerhardt

[2017-02-06 16:27] steveharter commented on #15839
Additional info: machine: win2012-97aa20 + a code coverage run.

It would be interesting to know:
1) Does the AV only happens on win2012? FWIW with win2012 I am able to repro random failures in System.Net.Http.Functional although those failures so far have resulted in various Http exceptions, not AVs.
2) Does the AV occur for non-code coverage runs? Could that be contributing?

Note that MapRevoca

[2017-02-06 16:29] zadjii-msft commented on #12452
Status update:

I checked in a change to WSL last week that should hopefully mitigate much of this problem. While previously, we were injecting keypresses to the subsystem one character at a time, that would not work for a number of applications for keys that generate sequences of characters. So instead the kernel injects all the characters at once, which should generally mitigate the bad cursor p

[2017-02-06 16:41] eerhardt commented on #15825
On Linux, .NET Core uses ICU for string collation.

See http://demo.icu-project.org/icu-bin/collation.html

And type in `,` `)` in the Input box:
![image](https://cloud.githubusercontent.com/assets/8291187/22656214/417986a0-ec58-11e6-8869-ff4b726c9f21.png)

So unless we are choosing the wrong culture, whatever ICU says should be the order is what is returned.

Note there is never a guarantee of cu

[2017-02-06 16:48] jooooel opened #15865 "HttpClient decodes encoded Url?"
I'm trying to figure out some inconsistencies in how `HttpClient` handles URLs.

I have the following test code:

[code]

The code won't actually work, since we need authentication and other stuff for Twitter searches. But it demonstrates my problem.

The variable `url` will have the following value: `https://api.twitter.com/1.1/search/tweets.json?q=%28caf%C3%A9%20OR%20boulangerie%29`

However, lo

[2017-02-06 17:00] JonHanna commented on #15865
It certainly seems strange to decode (validly) the first and not the latter. I don't have much of an idea as to which, if either, is against the spec, but as a work-around would you be able to use:

[code]

for your authentication stage? Creating a `Uri` and looking at the `AbsoluteUri` property has the same behaviour as you describe, so you'd be able to create a signature that matches the URI tha

[2017-02-06 17:17] tarekgh commented on #1271
@ChrisEelmaa I saw you mentioned before

[code]

and then you have removed this comment. does this mean you were able to test it on OSX successfully? or you still have issues on OSX?

[2017-02-06 17:27] #15445 closed

[2017-02-06 17:27] #15859 closed

[2017-02-06 17:29] WinCPP commented on #8578
@karelz Now I understand. If this is to be done using the corefx/src/../System.Dyanmic.Runtime.sln, then I don't see any .cs files in the same, except for those in the test project. @VSadov , @OmarTawfik appreicate your advise.

[2017-02-06 17:31] karelz commented on #12452
Thanks @zadjii-msft. Is there anything left for CoreFX to change? (e.g. arrow keys, as mentioned above)

[2017-02-06 17:33] weshaggard commented on #15847
I will take a look.

[2017-02-06 17:41] karelz commented on #13938
cc: @steveharter @Priya91 @ianhays

[2017-02-06 17:44] karelz commented on #984
OK, thanks for info. I SerialPortStream is already cross-platform, then it seems like very interesting option for anyone who wants to get unblocked quickly and doesn't mind changing code.