[2018-03-17 02:20] stephentoub commented on #28066
Excellent. Thanks.

[2018-03-17 03:07] #25729 closed

[2018-03-17 03:12] #27460 closed

[2018-03-17 03:20] JeremyKuhne commented on #27592
@joperezr, this doesn't seem like an IO specific problem to @pjanotti & me. Don't hesitate to pull us in if there is something we need to fix.

[2018-03-17 03:27] #27488 closed

[2018-03-17 03:27] serialseb commented on #28156
The test above is failing reliably on all windows platforms, but not during the test itself. It simply causes the test run to fail with the above unhandled exception, but it's very isolated to that test. As the exception happends when coming back from a threadpool, i have from where it's triggered or why.

It requires both kestrel servers, with calls from one server to another, making a request an

[2018-03-17 03:45] JeremyKuhne opened #28159 "System.Reflection.Metadata.Tests frequently hanging OSX CI"
Seeing multiple hits for this over the past few days. #27959, #28158, etc.

[code]

[2018-03-17 04:03] stephentoub commented on #28159
Dup of https://github.com/dotnet/corefx/issues/27375

[2018-03-17 04:03] #28159 closed

[2018-03-17 05:41] serialseb commented on #28156
Ok, i've worked a bit more on this, and got as small a repro as i could figure out.

https://github.com/openrasta/openrasta-core/blob/winhttpHandler/src/Tests/Plugins.ReverseProxy/corefx_repro.cs

Leads to the same stack trace / exception / failure https://ci.appveyor.com/project/OpenRasta/openrasta-core/build/2.6.0-preview.1.1311+winhttpHandler

[2018-03-17 07:40] clarkis117 commented on #26544
@adamhathcock You're right, something in the ```XmlWriter.Create(result, settings);``` call is writing the BOM to the MemoryStream, in your repro on netcoreapp2.0.

[2018-03-17 09:36] xrkolovos commented on #28107
I am a colleague of @tdolgyras

[code]
Https works fine. The certificate  is issued from Let's Encrypt. That's the real address we are trying to communicate.

[2018-03-17 10:08] k0st1x commented on #28052
@safern it should be true everywhere, but it is false on the Linux

[2018-03-17 10:36] qmfrederik commented on #17135
@GrabYourPitchforks This is the first time I've heard about those usability issues. The API is/was supposed to be a very thin wrapper around `dlopen`/`LoadLibrary`. Can you elaborate a bit more on the usability issues you've found?

[2018-03-17 11:36] satano commented on #23127
I would take this one, but I do not exactly understand it. What is correct behavior of those `Options.Properties`?

[2018-03-17 13:18] jemiller0 commented on #24829
ConfigurationManager is there now. However, it has been lobotomized and only supports things like ConnectionStrings. And App.config doesn't work in certain contexts, like if you have a unit test assembly, it is not read. System.Diagnostics.TraceSource doesn't use App.config in .NET Core. So, you have to programmatically configure every single instance you have, making it for practical purposes unu

[2018-03-17 13:30] raufismayilov opened #28169 "[HttpListener] [GetContext] GetContext method call should unblock after call to Stop"
Hello,

It looks like there is an issue with HttpListener.GetContext call on windows. It should somehow unblock when HttpListener.Stop is called. However, It hangs on Windows, while on Ubuntu it works fine, i.e. throws HttpListenerException: Listener closed. The code is below:

[code]

By the way, GetContextAsync version works properly on both platforms: it throws ObjectDisposedException

[EDIT] A

[2018-03-17 13:45] ohadschn opened #28170 "Inconsistent null parameter handling in IEqualityComparer.GetHashCode(Object)"
The [docs](https://docs.microsoft.com/en-us/dotnet/api/system.collections.iequalitycomparer.gethashcode?view=netframework-4.7.1#System_Collections_IEqualityComparer_GetHashCode_System_Object_) state that `IEqualityComparer.GetHashCode(Object)` should throw `ArgumentNullException` when "The type of `obj` is a reference type and `obj` is `null`".

However, this contract is inconsistently implemented

[2018-03-17 14:44] danmosemsft commented on #24829
@jeremykuhne also

[2018-03-17 15:21] matekm commented on #2501
Hi @karelz

I see this ticket is up for grabs and no one actively working on it. Will it be ok if I start work on it?

As I understand there are following things that needs to be done:
1. Move AttachCallback and DetachCallback from SafeWinHttpHandleWithCallback  to SafeWinHttpHandle
2. Implement proper dispose in SafeWinHttpHandle
3. Replace SafeWinHttpHandleWithCallback  with SafeWinHttpHandle in

[2018-03-17 15:39] davidsh commented on #2501
Thx for your interest in this issue.  Actually, this issue should be closed now.  It is no longer needed.

When we did the work of switching the ClientWebSocket implementation from using WinHTTP to the new managed handler (SocketsHttpHandler), we no longer use the SafeWinHttpHandleWithCallback type.

In fact, that type could be removed from the repo now.

[2018-03-17 15:44] matekm commented on #2501
Thanks @davidsh - should I create a ticket for that and then remove this type or someone else will handle that?

[2018-03-17 15:46] davidsh commented on #2501
If you want, feel free to submit a PR to remove the type and use this issue number as the "Fixes XXX" line in your commit.

[2018-03-17 15:47] davidsh commented on #2501
I can assign this issue to you if you want.

[2018-03-17 15:50] karelz commented on #2501
I have renamed the issue and assigned to @matekm. Thanks for your help!

[2018-03-17 15:57] karelz commented on #28156
@serialseb I am not sure how to run the repro. Also it depends on Kestrel. Would it be possible to take it out into standalone console app? (less components in play, clearer repro)

[2018-03-17 16:01] karelz commented on #28169
FYI: Windows is built on top of http.sys OS component, while we have C# implementation on Linux/Mac. Hence the difference.
@caesar1995 do you have any insight what might be going on?

[2018-03-17 17:34] Petermarcu opened #28172 "HttpStatusCode compatibility across framework"
@incompletude commented on [Sat Mar 17 2018](https://github.com/dotnet/core/issues/1358)

Is there any reason for this?

[ProducesResponseType(HttpStatusCode.OK)] // requires cast
return StatusCode(HttpStatusCode.OK); // requires cast

Thx

[2018-03-17 17:42] karelz commented on #28172
Duplicate of #28157

[2018-03-17 17:42] #28172 closed

[2018-03-17 17:45] karelz commented on #28170
IMO those are sad mistakes of the past. Changing the implementation would mean breaking code which already depends on current exceptions. Also it would mean additional differences between .NET Framework and .NET Core. While the exception is not perfect, at least it is an exception. I would suggest to not fix these differences, maybe just document them properly. I let area experts to make the final

[2018-03-17 19:04] serialseb commented on #28156
@karelz I don't understand what you're asking for.

 - The file in https://github.com/openrasta/openrasta-core/blob/master/src/Tests/Plugins.ReverseProxy/corefx_repro.cs is self-contained and doesn't depend on anything.
 - You can run it, copy it outside if you wish, it's an xunit test.
 - I can only reproduce the bug in HttpClient using two Kestrel servers, so i don't see how I could remove the d

[2018-03-17 19:55] raufismayilov commented on #28169
The version details, as well as the results of running the code, are as follows:

- windows 10 .net core 2.1.300-preview1-008174, result: GetContext hangs and doesn't unblock when Stop is called

- ubuntu 17.10 .net core 2.1.4, result: GetContext throws HttpListenerException, Listener closed.

- windows 10 .net 4.6.2, result: GetContext throws HttpListenerException, The I/O operation has been abor

[2018-03-17 20:28] svick commented on #28064
I looked into *why* the safe code is so much slower than the unsafe code, since a good optimizing compiler should be able to make the performance of using `Builder` close to the performance of bypassing that abstraction.

My conclusion is that adding a new dangerous API is not necessary. What is necessary is:

1. The caller should be changed from setting `Capacity` and using `Add()` to setting `Co

[2018-03-17 20:43] weitzhandler commented on #10752
@karelz I understand. Thanks for your response tho. I hope we're gonna get there some time.

[2018-03-17 20:44] weitzhandler commented on #10752
@karelz I understand. Thanks for your response tho. I hope we're gonna get there some time soon.
But I'd like to request from you to link the [2nd round](https://github.com/dotnet/corefx/issues/10752#issuecomment-359197102) API from the [original post](https://github.com/dotnet/corefx/issues/10752#issue-170996032).

[2018-03-17 20:51] satano commented on #21129
I would try to do this one. I just need to explain a what should be done. What converters to take and where to put them.

[2018-03-17 21:27] safern commented on #28052
Thanks @k0st1x just wanted to make sure I understood what you meant. We do have a Linux Equals method, but we might have missed something.

[2018-03-17 21:50] kasper3 commented on #25102
On debian i did `ln -s /lib/x86_64-linux-gnu/libdl.so.2 /lib/x86_64-linux-gnu/libdl.so`.
Should we add various common names using the current technique https://github.com/dotnet/corefx/pull/27208/files#diff-557c4f4a6ff1d5ead7c96e76cf005001R46 for libdl? In post 2.1, once #17135 is landed we can update this pattern for all dependency libs.

[2018-03-17 22:10] kasper3 commented on #28052
Font.Equal checks FontFamily.Equals among other things, that is returning false.
From your example:

[code]

This comment maybe valid for same instance of managed object (`font1.Equals(font1)`), but not different instance of same font family on Unix: https://github.com/dotnet/corefx/blob/2ffe237f8018902ba931c26811a07c0515a33259/src/System.Drawing.Common/src/System/Drawing/FontFamily.cs#L147-L149

[2018-03-17 22:14] kasper3 commented on #28052
Tested with 2.0 and 2.1 on debian and windows, with nuget.config in project directory:

[code]

then `dotnet add package System.Drawing.Common -v 4.5.0-preview2-*`

[2018-03-17 22:32] qmfrederik commented on #25102
The problem with that technique is that it uses `dlopen` to probe for different filenames for `libssl`. Here, you're probing for `dlopen` itself so that doesn't work.

[2018-03-17 23:03] svick commented on #28132
Personally, considering that I'm using various versions of .Net Framework and .Net Core (including previews) and that I'm sometimes investigating behaviors that differ depending on which framework I'm using, I'd like to be able to print what framework I'm running on, so that I could easily write code that does something like:

[code]

To do this today, I copied [this code](https://github.com/dotne

[2018-03-18 04:02] jkotas commented on #28064
More powerful builder helps in some cases, but it won't ever solve the interop case when you need to interop efficiently with the existing code that expects regular arrays and guarantees immutability via documentation. Here is an example of this use case from Roslyn: https://github.com/dotnet/roslyn/blob/944ae114140ba77cbd4be370bf13a7f758f740b3/src/Compilers/Core/Portable/NativePdbWriter/PdbWriter

[2018-03-18 06:04] #27978 closed

[2018-03-18 07:11] incompletude commented on #28172
Sorry karelz. I messed up here. I thought I ask the wrong repo. Now I did.

[2018-03-18 08:52] clarkis117 commented on #26544
@karelz I would like to pick up this issue. I have identified the bug and have a initial fix for it. However, I'm not sure it's the most elegant fix. I'm also not sure where the test(s) should go since the bug is in CoreLib.

[2018-03-18 11:37] zokiad opened #28178 "How to remove integrity script on fallback ?"
Hi,

On my project .net core 2.1 preview 1, I include script like:

[code]

The generated html code is:

[code]

## **Issue:**
integrity is propagate to fallback in document .write:*
document.write("\u003Cscript src=\u0022\/js\/jquery.validate.min.js?v=F6h55Qw6sweK-t7SiOJX-2bpSAa3b_fnlrVCJvmEj1A\u0022 **integrity=\u0022sha256-F6h55Qw6sweK\u002Bt7SiOJX\u002B2bpSAa3b\/fnlrVCJvmEj1A=\u0022** crossori

[2018-03-18 12:12] ohadschn commented on #28170
@karelz Thank you. So just to clarify, the correct behavior (when implementing new classes) is what the docs say, right? Namely, check for nullity and throw `ArgumentNullException` correspondigly?

[2018-03-18 12:15] WinCPP commented on #25344
hmm and further I'm trying to figure out the place where the IR sub-tree generated by `GenTreeBoundsChk` in simd.cpp, is traversed to emit code for the throw BB. Because that is the place where I guess tree traversal code will have to be added for the new `SpecialCodeKind` to pull out the minimum number of elements expected for the `Vector<T>` per the simd type and that value will have to be passe

[2018-03-18 12:20] jkotas opened #28180 "SequenceEqual is very slow on .NET Framework x86"
Performance regression introduced by change #28080.

A single call to SequenceEqual expands into 400 bytes of very inefficient code. .NET Framework x86 JIT is not able to optimize out the complex generic code.

If there is no way to make the type-specific optimizations work well, we should ifdef them out from the netstandard implementation. The portable System.Memory implementation will be slower,

[2018-03-18 15:00] LeaFrock commented on #26899
I agree with stephentoub's answer above. But maybe we hope _Clear()_ of CD keeps its capacity when we can anticipate that there'll be a lot of add-operations soon. So I have a suggestion: how about add a overload-method of _Clear()_ like _Clear(int capacity)_？Give programmers a flexible choice.

[2018-03-18 15:28] MarcoRossignoli commented on #27841
@danmosemsft i'm working on this, my idea is for first fix 100% identical files, and after check < 30%(take me more time, to avoid conflict i'll do more PRs).

[2018-03-18 15:30] danmosemsft commented on #27841
OK we are stabilizing to ship over coming weeks so I suggest first a safe PR for identical and dead files. Then the rest maybe we hold the PR for after we branch for the last time

[2018-03-18 16:54] Petermarcu opened #28182 "Open .dll in new console window on Linux .Net Core"
@maroallegro commented on [Tue Dec 19 2017](https://github.com/dotnet/core/issues/1177)

I am able to run program.dll in same console window by running:

    var process = new Process
    {

        StartInfo = new ProcessStartInfo
        {
            FileName = "dotnet",
            Arguments = "program.dll",
            UseShellExecute = true,
            RedirectStandardOutput = false,

[2018-03-18 17:02] jpenniman commented on #2538
@mj1856, yes, I was referring to the new 2018 database being out and your library still on the last 2017 update. If there are no changes, then it's moot.

[2018-03-18 17:19] AndyAyersMS commented on #28180
The type specialization optimizations in the jit are architecture-independent, but there may be some architecture-dependent aspects in the recognition. If so, we should fix the jit, as it will impact a lot more than just this code path.

[2018-03-18 17:21] AndyAyersMS commented on #28180
Ah, see you are talking about desktop x86... that makes fixing the jit less appealing.

[2018-03-18 17:35] jpenniman commented on #2538
@mj1856, I agree on your two options:

That solves `TimeZoneInfo.FindSystemTimeZoneById` and the various convert methods without breaking any existing code and allows portability, since you'll always get the "right thing" regardless of what's passed in.

That just leaves `TimeZoneInfo.GetSystemTimeZoneIds()`. I suppose it *could* just return what ever is on the system. We have customers with apps

[2018-03-18 18:00] karelz commented on #28170
@ohadschn yes, the docs should be viewed as recommended way to implement it.
The cases [2] and [3] seem to be internal. Do you know if they expose their non-standard behavior in public APIs?

[2018-03-18 18:04] karelz commented on #26544
Great, thanks for help! Assigned to you.
I would follow pattern of other tests for sibling methods. In general, most of the CoreFX tests are in CoreFX repo, even if the code lives in CoreCLR. @krwq @pjanotti will be able to say for sure.

[2018-03-18 18:06] karelz commented on #28172
@incompletude no problem. It is sometimes not super-simple to navigate through our repos - the ["file new issue" template in core repo](https://github.com/dotnet/core/blob/master/ISSUE_TEMPLATE) has some pointers to our repos.

[2018-03-18 18:16] karelz commented on #28178
What generates the HTML? Is it ASP.NET functionality by a chance? (that would mean moving it to https://github.com/aspnet repos)

[2018-03-18 18:17] karelz commented on #28182
Duplicate of #26337

[2018-03-18 18:17] #28182 closed

[2018-03-18 18:37] karelz commented on #28139
Are you saying that if you build the app (https://github.com/johnkors/sqlclient.runtime.test/blob/master/src/host/Program.cs) against 2.0.0-2.0.5, then install 2.0.6, it will stop working (throwing the exception above)?
That looks like packaging or setup problem - @weshaggard @joperezr any idea where to route it?

[2018-03-18 18:54] #2501 closed

[2018-03-18 18:58] karelz commented on #27705
@davidfowl is there more API review feedback we didn't incorporate yet? Technically speaking we are past API freeze for 2+ weeks, so we should limit API surface churn + get shiproom approval. Let's make sure we are done with the API surface.

[2018-03-18 18:58] karelz commented on #27705
cc @joshfree @muratg

[2018-03-18 19:01] karelz commented on #27260
@iamatinkerer thanks for your help!
I sent you collaborator invite (that way we can assign the issue to you - GH limitation). Please let me know when you accept and I will assign it to you (temporarily assigning it to myself).
Note: Collaborators are automatically subscribed to all notifications per repo (500+ per day). We recommend to switch the repo to "Not Watching" - that will send you notific

[2018-03-18 19:36] karelz commented on #28046
@stephentoub is Future ok? Or do you think we should push it into 2.1?

[2018-03-18 19:37] karelz commented on #10752
The issue is marked api-ready-for-review. It is on our [list](https://github.com/dotnet/corefx/labels/api-ready-for-review). We have just been prioritizing review of APIs critical for 2.1. I hope we will be able to get to the Future backlog in 2-3 weeks.

[2018-03-18 19:37] krwq commented on #26544
@clarkis117, do not worry if it is not super elegant - we can give some recommendations during the code review - correctness is more important. Thank you for investigating this! (please cc us on the code review)

[2018-03-18 19:39] karelz commented on #12038
@stephentoub can you please ping shiproom with brief description of the API addition? Given we are quite past API freeze, we should do it.

[2018-03-18 19:56] stephentoub commented on #12038
What is the purpose of the API freeze? a) This was approved before it. b) This is making something public that was already implemented before it.

[2018-03-18 19:56] stephentoub commented on #28046
Future is fine

[2018-03-18 20:16] karelz commented on #12038
Good questions, I believe the main desire to track what's being added at this point - from partner impact point of view (e.g. Xamarin) and risk assessment & focus. Double check with them.
The API was approved after API freeze, which was on 3/1 😉.

[2018-03-18 20:24] MarcoRossignoli commented on #27418
@JeremyKuhne do you need an official api proposal like [this](https://github.com/dotnet/corefx/blob/e276a7cd9cfb4ff84c57109e25fc682f9403118e/Documentation/project-docs/api-review-process.md)?I've never written one i could try to help. One question, is there already some docs on Tryxxx new api?Or i need to read code to understand?

[2018-03-18 20:24] qmfrederik commented on #12038
From a partner impact point of view, the .NET client for Kubernetes (see @brendandburns 's message earlier) would benefit hugely from this still making it to 2.1; the alternative is duplicating the managed WebSocket client in the Kubernetes client which is not a very attractive option.

[2018-03-18 21:08] zokiad commented on #28178
Yes, of course. I create a new issue in ASP.net repos.

[2018-03-18 21:08] #28178 closed

[2018-03-18 22:26] IvanFarkas commented on #28132
@Clockwork-Muse I like contributors answering questions constructively, instead of interrogating about the motivation.
This is how we roll in the better part of Europe.

[2018-03-18 22:48] svick commented on #28132
@IvanFarkas Motivation is important, because it can affect the shape of the API. For example, should the API be `bool isNetCore20 = RuntimeInformation.IsFramework(FrameworkVersion.NetCore20);`, or `string frameworkVersion = RuntimeInformation.GetFrameworkVersion();`?

[2018-03-18 22:57] IvanFarkas commented on #28132
Run time statistics is basic to me and the lack of it is a serious oversight!
I can just use the Docker env, reporting .net runtime info if it’s too much trouble implementing this obviously lacking piece.

[2018-03-18 23:13] ohadschn commented on #28170
Well you can get the comparer from case [2] using the public `HashSet<int>.CreateSetComparer()`.
I couldn't find any public example for case [3].

[2018-03-18 23:21] kasper3 commented on #28132
We have a property ([RuntimeInformation.FrameworkDescription](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.frameworkdescription?view=netcore-2.0#System_Runtime_InteropServices_RuntimeInformation_FrameworkDescription)) but it is missing the framework version.
If it is not a huge breaking change, then the version can be added to the existing descripti

[2018-03-18 23:24] kasper3 commented on #28180
@AndyAyersMS, would it still be less appealing when x86 will fully switch to RyuJIT (https://github.com/dotnet/coreclr/projects/1, which seems to be complete)?

[2018-03-18 23:51] AndyAyersMS commented on #28180
.Net Framework (aka Desktop) uses Jit32 for x86 codegen.

.Net Core has been using RyuJit for x86 codegen since 2.0 [(announcement)](https://github.com/dotnet/announcements/issues/10).

There is currently no committed plan to replace the .Net Framework Jit32 with RyuJit, though we may consider doing this some day,

So for new packages where we are sharing source between .Net Framework and .Net Cor

[2018-03-19 00:17] jkotas commented on #28180
And even if there was a plan to switch to RyuJit on .NET Framework x86, it is still important that System.Memory works reasonably well on all already-shipped runtimes that it claims to support: .NET Framework 4.5+ and .NET Core 1.0.

[2018-03-19 00:36] JeremyKuhne commented on #27418
@MarcoRossignoli this one is mostly together. As we're wrapping up 2.1 right now and I wanted to give a chance for some feedback I've left it at "api needs work". If you have any feedback it would be very much appreciated. If you're interested in trying to implement some part of this I can push this forward to a formal review.

[2018-03-19 02:11] TigerBoom commented on #28091
@danmosemsft  That's too embarrassing ;-) My corporate PC was built in a previous decade.

However I just asked a colleague to run my script on his machine and it exhibited the same LDAP search behaviour as mine.

His machine specs are as follows:

[code]

[2018-03-19 02:19] TigerBoom commented on #28091
I'm only now starting to understand the Framework vs Core distinction.  I'm guessing from the output of the above RuntimeInformation that this is a Framework defect.  Before I even found this corefx issues site, I had actually already submitted this defect to [this visualstudio site](https://developercommunity.visualstudio.com/content/problem/215612/systemdirectoryservicesdirectorysearcher-ldap-ma

[2018-03-19 02:20] stephentoub commented on #27783
Made default in https://github.com/dotnet/corefx/pull/27821

[2018-03-19 02:20] #27783 closed

[2018-03-19 04:05] Anipik commented on #27418
@JeremyKuhne i will like to implement them if @MarcoRossignoli is not ineterested in implementing them.

[2018-03-19 07:00] yaakov-h opened #28188 "ConcurrentDictionary<,>.IsEmpty is barely faster than checking Count"
I would assume that a specialist method named `IsEmpty` is significantly faster than simply obtaining the `Count` of a `ConcurrentDictionary<,>`, yet it appears to be just a touch slower.

x-ref https://github.com/WiseTechGlobal/WTG.Analyzers/pull/23#issuecomment-374116037

Similar to the benchmark in the linked above, here's a benchmark comparing an empty dictionary to one containing 1,200 items.

[2018-03-19 07:37] johnkors commented on #28139
Yes, correct @karelz .

[2018-03-19 07:51] omariom commented on #28188
Have you tried it in multithreaded scenario?

[2018-03-19 07:54] johnkors commented on #28139
You can run these commands in the repro repo to check it out:
`docker build -f 2.0.5.Dockerfile .`
vs
`docker build -f 2.0.6.Dockerfile .`

[2018-03-19 08:22] yaakov-h commented on #28188
Would that actually make a difference, considering that both `IsEmpty` and `Count` start off with a call to `AcquireAllLocks`?

[2018-03-19 08:29] akarpov89 commented on #28170
@karelz  @ohadschn There are way more implementations (in BCL and in 3rd party libraries) which don't throw an `ArgumentNullException` in case argument is `null`. And that's kind of ok in my opinion. But let's first get back to the docs and what they really mean.

The intention is clearly to set a *precondition*, which is in case of `IEqualityComparer<T>.GetHashCode` is `obj != null`. The responsi

[2018-03-19 08:51] dotnet-mc-bot opened #28189 "Test failure: System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern/CurrencyNegativePattern_Get(locale: \"fa-IR\")"
Opened on behalf of @Sunny-pu

The test `System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern/CurrencyNegativePattern_Get(locale: \"fa-IR\")` has failed.

Assert.Contains() Failure
    Not found: 8
    In value:  Int32[] [1, 0]

        Stack Trace:

        null
Build : Master - 20180319.01 (Core Tests)
Failing configurations:
- Alpine.36.Amd64-x64
  - Release

Details:
https://mc.d

[2018-03-19 08:53] dotnet-mc-bot opened #28190 "Test failure: System.Globalization.Tests.RegionInfoPropertyTests/MiscTest(lcid: 1037, geoId: 117, currencyEnglishName: \"Israeli New Shekel\", alternativeCurrencyEnglishName:)"
Opened on behalf of @Sunny-pu

The test `System.Globalization.Tests.RegionInfoPropertyTests/MiscTest(lcid: 1037, geoId: 117, currencyEnglishName: \"Israeli New Shekel\", alternativeCurrencyEnglishName:)` has failed.

Assert.Equal() Failure
               ↓ (pos 1)
    Expected: ש״ח
    Actual:   שקל חדש
               ↑ (pos 1)

        Stack Trace:

           at System.Globalization.Tests.Region

[2018-03-19 08:58] dotnet-mc-bot opened #28191 "Test failure: System.IO.Compression.BrotliStreamUnitTests/CopyTo_Roundtrip_OutputMatchesInput(useAsync: True)"
Opened on behalf of @Sunny-pu

The test `System.IO.Compression.BrotliStreamUnitTests/CopyTo_Roundtrip_OutputMatchesInput(useAsync: True)` has failed.

System.UnauthorizedAccessException : Access to the path 'C:\\dotnetbuild\\work\\450db565-bf00-4d68-a490-43459d4ec859\\Work\\f82b1636-4c61-452d-b914-af7ef6b8e23c\\Unzip' is denied.

        Stack Trace:

           at System.IO.FileStream.ValidateFil

[2018-03-19 09:24] dotnet-mc-bot opened #28192 "Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandlerTest/GetAsync_IPBasedUri_Success(address: ::1)"
Opened on behalf of @Sunny-pu

The test `System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandlerTest/GetAsync_IPBasedUri_Success(address: ::1)` has failed.

System.Net.Sockets.SocketException : Address not available

        Stack Trace:

           at System.Net.Sockets.Socket.UpdateStatusAfterSocketErrorAndThrowException(SocketError error, String callerName) in /root/corefx-1490845

[2018-03-19 10:56] nockawa commented on #21281
@stephentoub or others, sorry in advance if the question were already asked, I've searched quite some time but couldn't find for it.

I would like to know if there's an API now to initialize a Stream based instances from a Memory<T> ?
Looks like a legit use case for me, but I can't find a way to do it.

Many thanks

[2018-03-19 11:46] MarcoRossignoli commented on #27418
@JeremyKuhne @Anipik i'd like to help on this, i do some check and if i understand well there are some overloads to add to internal helpers api to use span to avoid ToString() is it correct?I tried to do some simple tests using existing api and pass span.ToString() but when i test on [corefx](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-pr

[2018-03-19 12:23] omariom commented on #28188
Hmm.. From what I've seen concurrent collections have `IsEmpty` property as an optimization opportunity.

`ConcurrentDictionary` could try take/release each lock individually until it finds non-empty one. IMO, unlike `Count` it doesn't have to be very precise.

[2018-03-19 12:26] #27375 closed

[2018-03-19 12:45] pseudobjorn opened #28195 "[Regression] Wrong target type in System.ComponentModel.UInt16Converter.cs"
The target type on line 18 is wrong.
It should be typeof(**ushort**), and not typeof(short) as it is today.
Ref https://stackoverflow.com/questions/49361595/why-does-the-formatexception-returned-by-a-typeconverter-for-an-ushort-type-refe

[2018-03-19 12:51] stephentoub commented on #21281
@nockawa, not currently publicly exposed, though you can see/copy the implementation of one here:
https://github.com/dotnet/corefx/blob/master/src/Common/src/System/IO/ReadOnlyMemoryStream.cs

[2018-03-19 13:15] stephentoub commented on #28188
The difference is that Count needs to look at the counts for each bucket in order to sum them.  IsEmpty stops looking at the counts once it finds one that's non-zero.

The IsEmpty implementation provides a moment-in-time statement of truth.  If It were to take/release each lock, it's possible the collection could have never been empty but IsEmpty could still return true, e.g. if the dictionary con

[2018-03-19 13:16] marek-safar commented on #27995
@weshaggard I am curious .net 4.7.1 ships this package as inbox how is it going to be picked up?

[2018-03-19 14:53] pjanotti commented on #27152
Closing this one since it is being tracked by https://github.com/mono/mono/issues/7143

[2018-03-19 14:53] #27152 closed

[2018-03-19 14:59] nockawa commented on #21281
@stephentoub thanks, but why it's a ReadOnly  version? Nothing should prevent us of dealing withe a writable `Memory<T>`, right?

[2018-03-19 15:00] stephentoub commented on #21281
Because for the internal purposes we needed this for, it would always be a ReadOnlyMemory.

[2018-03-19 15:01] stephentoub commented on #21281
You could certainly wrap a writable stream around a `Memory<T>`, but you'd of course have a length limitation on how much could be written.

[2018-03-19 15:15] stephentoub opened #28198 "SqlUDTStorage.GetStaticNullForUdtType accessing shared dictionary without propery synchronization"
https://github.com/dotnet/corefx/blob/251d65c237aa26b49bc91bac25012340a93e64de/src/System.Data.Common/src/System/Data/Common/SqlUDTStorage.cs#L40-L63

It looks like it was written assuming Dictionary has the same thread-safety characteristics as Hashtable, but it doesn't.  Whereas Hashtable is safe for any number of reads to be used concurrently with at most one writer, for a Dictionary a writer m

[2018-03-19 15:16] stephentoub opened #28199 "Microsoft.CSharp code using unprotected shared dictionaries"
I did a search for "static readonly Dictionary" across corefx and looked for places where dictionaries were mutated without synchronization.  It looks like there are a few in Microsoft.CSharp, e.g.
https://github.com/dotnet/corefx/blob/251d65c237aa26b49bc91bac25012340a93e64de/src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Symbols/SymbolStore.cs#L18
https://github.com/dotnet/core

[2018-03-19 15:16] tannergooding commented on #17135
My biggest complaint about this API is that it will require a lot more effort to implement than `DllImport`.

The API certainly provides benefits and opens the possibilities for more complicated scenarios. However, it also requires a lot more explicit calls, declaring delegates with `UnmanagedFunctionPointer` attributes, and manually tracking the delegate/IntPtr combo and the eventual cleanup of t

[2018-03-19 15:28] qmfrederik commented on #17135
@tannergooding Absolutely, System.Drawing.Common is a good example of a library where the native wrapper went from `[DllImport]` to something significantly more complicated.

What you're describing sounds very much like Mono's dllmap (or a variant thereof), which would also work for most cases.

Having said that,
1. This is a real pain for lots of libraries
2. We're now stuck with having to resort

[2018-03-19 16:00] karelz commented on #28195
Could you please post the code here as well?
It seems you know the fix, do you plan to submit a PR? It would be very appreciated. Thanks!

[2018-03-19 16:16] dotnet-mc-bot opened #28200 "All TimeZone related tests failing on Alpine - could not find '/usr/share/zoneinfo/Local'."
Opened on behalf of @danmosemsft

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180319.04/workItem/System.Runtime.Tests

Example:
[code]
Build : Master - 20180319.04 (Core Tests)
Failing configurations:
- Alpine.36.Amd64-x64
  - Release

[2018-03-19 16:17] danmosemsft commented on #28200
Someone needs to fire up an Alpine docker container and see what's in '/usr/share/zoneinfo/Local'

[2018-03-19 16:28] dotnet-mc-bot opened #28201 "Test failure: System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern/CurrencyNegativePattern_Get(locale: \"fa-IR\")"
Opened on behalf of @danmosemsft

[code]
Build : Master - 20180319.04 (Core Tests)
Failing configurations:
- Alpine.36.Amd64-x64
  - Release

**Parameters to the Assert are reversed, please fix**
[code]

We see ICU version < 59 so we expect { 1, 0 } but the system is returning 8. Perhaps we are reading the ICU version wrong, or perhaps this ICU version is actually returning 8.

[2018-03-19 16:32] Nihlus commented on #17135
I've recently released a library which solves most (if not all) of the aforementioned issues, and bundles a cross-platform delegate-based approach into a simple and easy-to-use APIs, which also supports Mono DllMaps, as well as custom library search implementations. The backend is superficially similar to the proposed API, but is abstracted away for ease of use.

On top of that, it allows some mor

[2018-03-19 16:33] danmosemsft commented on #28201
Similar currency format issue also needs fixing

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180319.04/workItem/System.Globalization.Tests

```        Assert.Equal(threeLetterISORegionName, ri.ThreeLetterISORegionName);```

It is expecting the value for PlatformDetection.ICUVersion.Major < 59 and getting the value we expe

[2018-03-19 16:35] davidsh commented on #28192
(address: ::1) has failed.

This indicates that IPv6 loopback address isn't working.

[2018-03-19 16:36] danmosemsft opened #28202 "System.Net.Sockets tests cause exception on threadpool thread"
The assert on src/.System.Net.Sockets/tests/FunctionalTests/Shutdown.cs:line 22 will cause an exception to be thrown on a threadpool thread. When it fires it will take down the whole test library.

Consider either marshaling somehow back to the test, or using RemoteInvoke for all tests that lead to this codepath.

[code]
[code]

Example - this took out all S.Net.Sockets tests on Alpine.

https://m

[2018-03-19 16:37] IvanFarkas commented on #28132
I am running

- different versions of .NET Core runtime
- cross-compiled with different versions of .NET Core SDK
- on different versions of Linux distro
- inside different versions of Docker.

At runtime, I'd like to know
- what am I running on
- what am I running
- and where it came from.

Thank you very much for your help in advance.

[2018-03-19 16:38] VSadov commented on #28199
There is a global binder lock. Binder is single threaded.

[2018-03-19 16:39] dotnet-mc-bot opened #28203 "System.Net.Security.Tests fail on Alpine with "Address Not Available""
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180319.04/workItem/System.Net.Security.Tests

Example:

The test `System.Net.Security.Tests.ClientAsyncAuthenticateTest/ClientAsyncAuthenticate_EachClientUnsupportedProtocol_Fail(protocol: Ssl2)` has failed.

Assert.Throws() Failure
    Expected: typeof(System.NotSupportedExcept

[2018-03-19 16:40] karelz commented on #12038
I've send email to shiproom, let's see if we get it approved.

[2018-03-19 16:41] dotnet-mc-bot opened #28204 "System.Net.NetworkInformation Ping tests fail with "permission denied" on Alpine"
Eg
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180319.04/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.UnixPingUtilityTests~2FPacketSizeIsRespected(payloadSize:%200)

[code]
Build : Master - 20180319.04 (Core Tests)
Failing configurations:
- Alpine.36.Amd64-x64
  - Release

h

[2018-03-19 16:46] #26305 closed

[2018-03-19 16:48] dotnet-mc-bot opened #28205 "Test failure: System.MemoryTests.MemoryTests/OwnedMemoryPinLargeArray"
The test `System.MemoryTests.MemoryTests/OwnedMemoryPinLargeArray` has failed.

System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

        Stack Trace:

           at System.MemoryTests.MemoryTests.OwnedMemoryPinLargeArray() in E:\A\_work\63\s\corefx\src\System.Memory\tests\Memory\OwnedMemory.cs:line 125
Build : Master - 20180319.04 (Core Tests)
Failing conf

[2018-03-19 16:48] weshaggard commented on #27100
Fixed with https://github.com/dotnet/corefx/pull/27787.

[2018-03-19 16:48] #27100 closed

[2018-03-19 16:49] danmosemsft commented on #28205
I believe this is all our 32 bit configurations, and only those.

[2018-03-19 16:50] dotnet-mc-bot opened #28206 "[Desktop] Test failure: System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_ResponseDrain_Test / GetAsyncWithMaxConnections_DisposeBeforeReadingToEnd_DrainsRequestsAndReusesConnection"
The test `System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_ResponseDrain_Test/GetAsyncWithMaxConnections_DisposeBeforeReadingToEnd_DrainsRequestsAndReusesConnection(totalSize: 10000, readSize: 9500, mode: BytePerChunk)` has failed.

This is on .NET Framework.

System.IO.IOException : Unable to write data to the transport connection: An established connection was aborted by the so

[2018-03-19 16:51] anurse commented on #12038
FYI, this affects SignalR customers as well. We'd definitely like this fix as soon as possible.

[2018-03-19 16:53] dotnet-mc-bot opened #28207 "Test failure: System.Reflection.Metadata.Tests.AssemblyDefinitionTests/ValidateAssemblyNameForAssemblyDefinition"
The test `System.Reflection.Metadata.Tests.AssemblyDefinitionTests/ValidateAssemblyNameForAssemblyDefinition` has failed.

System.InvalidOperationException : Operations that change non-concurrent collections must have exclusive access. A concurrent update was performed on this collection and corrupted its state. The collection's state is no longer correct.
[code]
Build : ProdCon - Master - 2018031

[2018-03-19 16:54] dotMorten opened #28208 "HttpContent.ReadAsStreamAsync is over-allocating memoty"
In order to reduce memory overhead, we make webrequests return when the headers have been read using:

  `HttpClient.GetAsync(uri, HttpCompletionOption.ResponseHeadersRead);`

The idea is that afterwards you'll be reading the bytes from the returned stream as they trickle in from the network. Or at least that's what I had hoped. But looking at the implementation, the moment you try and get the str

[2018-03-19 16:55] danmosemsft commented on #28207
f2f327d8c5bdfe0d9c93bb70d5c3e7cd162351ab has caught a fish. fyi @vancem @benaadams @jkotas @stephentoub

[2018-03-19 16:56] #23135 closed

[2018-03-19 16:57] stephentoub commented on #28207
Already fixed here:
https://github.com/dotnet/corefx/pull/28185

[2018-03-19 16:57] #28207 closed

[2018-03-19 17:00] stephentoub commented on #28208
That's not what that code is doing.

Is this issue based purely on that code inspection, or do you have a repro?

[2018-03-19 17:06] stephentoub commented on #28199
Ok, so all of these are protected and fine? If so, we can close it.

[2018-03-19 17:12] VSadov commented on #28199
It may be worth adding comments that these are ok threading-wise.
Otherwise, static dictionaries indeed look suspicious.

[2018-03-19 17:16] #25605 closed

[2018-03-19 17:25] safern commented on #21129
@satano I found we're currently missing:

* FontConverter
* IconConverter
* ImageConverter
* ImageFormatConverter

We would need to port them from Mono:
https://github.com/mono/mono/blob/master/mcs/class/System.Drawing/System.Drawing/IconConverter.cs

Put them into System.ComponentModel.TypeConverter and then add the attributes to the corresponding types.

@qmfrederik is there any TypeConverter th

[2018-03-19 17:31] dotMorten commented on #28208
@stephentoub Code inspection:
Here it's read into a memory stream:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpContent.cs#L254
Or it'll hit `CreateContentReadStreamAsync` which in turn hits `LoadIntoBufferAsync(MaxBufferSize)`

But now inspecting internals, it looks like at least when running my .NET Core app on Windows, it replaces the content stream w

[2018-03-19 17:31] #28208 closed

[2018-03-19 17:31] danmosemsft commented on #28207
I see that original issue manifested as a hang and took some weeks to resolve - this proves such issues can be much more obvious/actionable now.

[2018-03-19 17:33] muratg commented on #27705
I think it's already too late to do this. Unless Fowler super-cares about this, my vote is to close it.

[2018-03-19 17:34] danmosemsft opened #28209 "Apply hang protection to HashSet<T> that we added to Dictionary<K,V>"
HashSet is likely prone to the same expensive hang as it uses essentially the same datastructures.

We should port dotnet/coreclr#16991 to Hashset.

cc @benaadams

[2018-03-19 17:34] danmosemsft commented on #28209
https://github.com/dotnet/corefx/issues/28123

[2018-03-19 17:36] danmosemsft commented on #28209
I see @vancem pointed out it has been reported to have been hit in cloud services using HashSet also. We should certainly port, then.

@safern perhaps you'd like to do this?

[2018-03-19 17:41] danmosemsft commented on #28201
dupes

New | #28189 | Test   failure:   System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern/CurrencyNegativePattern_Get(locale:   \"fa-IR\")    Labels: area-System.Globalization, test-run-core
-- | -- | --
New | #28190 | Test   failure: System.Globalization.Tests.RegionInfoPropertyTests/MiscTest(lcid:   1037, geoId: 117, currencyEnglishName: \"Israeli New Shekel\",   alternativeCurr

[2018-03-19 17:41] #28201 closed

[2018-03-19 17:46] karelz commented on #12038
We've got shiproom approval, to get it in 2.1 - @stephentoub do you want to reopen your PR and push it through?

[2018-03-19 17:52] danmosemsft commented on #25344
Incidentally, `Arg_IndexOutOfRangeException` really ought to be changed at some point to include the index and the array length. This is consistent with all the other places we have been including more useful data in exception messages, eg., filesystem paths

[2018-03-19 17:53] #23127 closed

[2018-03-19 17:55] stephentoub commented on #27390
I spent some time looking into this.  I believe the issue here (and maybe in some other WinHttpHandler tests) is to do with WinHttp's connection pooling.  In this test the server closes the connection even though the client didn't request it; I believe the client is attempting to reuse the same connection, and if the timing works out just right (or, rather, just wrong), WinHttp ends up failing whi

[2018-03-19 18:07] iamatinkerer commented on #27260
@karelz Thanks for the email subscription tip. I have accepted the collaborator invitation.

[2018-03-19 18:10] joshfree commented on #28205
@GrabYourPitchforks could you take a look at this for ZBB?

[2018-03-19 18:20] safern commented on #28209
Porting it now.

[2018-03-19 18:26] spati2 commented on #27971
Hi @karelz sorry about the delay. I am running my application on a windows 10 platform. I have been trying to make a PutObject request using AWSSDK.S3 dotnet package with the proxy settings on and that is encountering the said issue.

[2018-03-19 18:36] tannergooding commented on #23519
Closing this, as the APIs and implementations are essentially done (modulo the Fma ISA, which isn't implemented yet).

[2018-03-19 18:36] #23519 closed

[2018-03-19 18:43] WinCPP commented on #25344
Few days back, for issue dotnet/corefx#24343 (PR dotnet/coreclr#16733) I added the following new exception to be thrown in `Span` based constructor for `Vector<T>` and also patched it up in `T[]` based constructor...

[code]
To include the index and the length, are we looking to have message such as `Beginning at the specified index '{0}', the source should have at least '{1}' number of element(s)

[2018-03-19 18:45] weshaggard commented on #27995
That is a great question it looks like these library packages only contain a netstandard1.0 or 1.3 lib which means that if they are consumed on .NET 4.7.1 they will be an independent duplicated library and will not unify with desktop (bug in our packages :(). We did we put these shims inbox on .NET 4.7.1 so any assembly references to these will unify but the package references will not.

I chatted

[2018-03-19 18:45] #27995 closed

[2018-03-19 18:48] JeremyKuhne commented on #27418
@MarcoRossignoli, @Anipik whatever we do here it would have to go in after we fork for release, so it will be a awhile before we can get things checked in. I'll try and get this through API review in the next few weeks.  I'll open up issues for the API implementation when they are approved.

Anirudh, can you help Marco understand how the Path class flows through the repos?

[2018-03-19 18:55] stephentoub commented on #28122
Has it failed anywhere other than with WinHttpHandler?  Seems more likely it's an issue with WinHttpHandler.

[2018-03-19 18:56] rmkerr commented on #25632
The issue was introduced by the changes to `Uri.ParseRemaining` in PR #9542. I'm looking into a fix in between work on other issues, but I don't expect it to be too complicated.

[2018-03-19 19:02] danmosemsft commented on #25344
@WinCPP I think the existing string is very famliar to developers' eyes so I would change it only a little
[code]
This does not need to be in this PR. Fully eliminating the old string might take some time/several PR's.

[2018-03-19 19:02] davidsh commented on #28122
Could be. Based on the latest conversations and with #28213 perhaps it is an issue again with connection re-use logic in WinHTTP.

[2018-03-19 19:06] safern commented on #23127
Fix was made in: https://github.com/dotnet/corefx/pull/28167

[2018-03-19 19:16] weshaggard commented on #27592
Based on what I read it would appear this might be an issue in nuget itself. @rrelyea @emgarten have you guys seen related issues?

[2018-03-19 19:17] WinCPP commented on #25344
True. But I thought the ask in this issue (opening few comments) was to give at information as to how many number of elements are expected (should be present at the minimum) in the source... And the index throws a spinner as then the minimum number of elements in the source should be with respect to the index...

[2018-03-19 19:22] davidfowl commented on #27705
Sorry @Drawaes we're going to punt this one/

[2018-03-19 19:22] #27705 closed

[2018-03-19 19:36] yaakov-h commented on #28188
So what does the IEnumerator / LINQ .Any() do? It appears to take no locks at all... can this return false even if the dict has items, as you suggested with taking a lock bucket-by-bucket?

I was hoping for an optimisation, once figuring out what was happening under the hood.

[2018-03-19 19:43] satano commented on #21129
OK. I'll do it.

[2018-03-19 19:49] mpollock11p commented on #519
I'm new at this but this sure helped out a hole lot!  I was trying to get a whole packet out and don't know why anyone would even want the dashes in there??  Thanks much!!

[2018-03-19 19:50] AlexGhiondea commented on #28195
This commit (https://github.com/dotnet/corefx/commit/6f48f1959c292aa78fe38902f62e9dd33436c6c5#diff-4934d3603a94cae7e5f39a5bd171982a) changed the target type from Uint16 to short (instead of ushort)

https://github.com/dotnet/corefx/blob/6f48f1959c292aa78fe38902f62e9dd33436c6c5/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/UInt16Converter.cs#L18

[2018-03-19 20:14] danmosemsft commented on #25344
Fair enough

[2018-03-19 20:24] danmosemsft commented on #24473
@Anipik can you try the repro code above on 2.1?

[2018-03-19 20:35] Drawaes commented on #27705
No skin off my nose :) I was just crushing some stuff labeled 2.1 while bored

[2018-03-19 20:44] Anipik commented on #24473
@danmosemsft yeah I will do it

[2018-03-19 20:44] digitalnoiz opened #28219 "DataContractSerializer omits properties when elements are not in alphabetical order"
When attempting to read an xml document using the DataContractSerializer a property may not be populated if the element name is alphabetically before the first element.

It is expected that element order should not affect deserialization.

ViewModel

    [DataContract]
    public class ViewModel
    {
        [DataMember] public string Beta { get; set; }
        [DataMember] public string Alpha {

[2018-03-19 20:48] kasper3 opened #28221 "Can Console class tell us if it IsTty?"
Reading this code https://github.com/Microsoft/msbuild/blob/6851538897f5d7b08024a6d8435bc44be5869e53/src/Deprecated/Engine/Logging/BaseConsoleLogger.cs#L411-L426,  it looks like information whether the console is redirected is useful for such scenarios. Other utilities written in .NET would could also utilitize this property to control colored output. Might be trickier to distinguish if it is a ps

[2018-03-19 20:48] karelz commented on #26323
Pushing to Future based on discussions with @geoffkizer.
@stephentoub is there something in this area we need to do for 2.1 for WCF (apparently you were discussing related stuff with WCF team).

[2018-03-19 20:48] bartonjs commented on #27776
@gingters I have not been able to reproduce your problem.  If you can produce a stable repro I would be very interested in identifying and solving the bug, but currently there isn't enough to go on... everything I've tried has resulted in success.

[2018-03-19 20:50] stephentoub commented on #26323
I'm not aware of anything that's required, only nice-to-haves.  We already partially do this for basic (i.e. we store successful credentials if Preauthenticate is true and then automatically use those on subsequent requests), but a) we could be caching more stuff to avoid some allocations, and b) we're not doing it for other auth schemes, namely digest.

[2018-03-19 20:54] safern commented on #21129
Assigned to you. Thanks!

[2018-03-19 20:55] karelz commented on #25025
It is now turned on as default HttpClientHandler. We have a bug tail and a small feature adjustment in progress, otherwise it is done. Closing.

[2018-03-19 20:55] #25025 closed

[2018-03-19 20:56] jkotas commented on #25344
If you do this throughout the framework, you are going to bloat the code quite a bit and likely introduce number of performance regressions in the process.

We should understand the value we would be adding by doing so. It is pretty rare to be able to diagnose the index out of range exception by just looking at the bad index. You typically need to know the larger context, so I doubt that knowing t

[2018-03-19 20:59] Anipik commented on #27418
@MarcoRossignoli The steps involved for adding these apis will be

1. Adding the implementation of these in apis in path.cs class in mscorlib in coreclr repo.
2. Adding the method to the ref file in system.Runtime.Extensions Project.
3. Adding the tests for these new apis in System.Runtime.Extensions Project.

We will need to test these new apis by using a local build of coreclr. The steps to do t

[2018-03-19 21:00] danmosemsft commented on #25344
Alright -- makes sense -- disregard my suggestion ... 😃

[2018-03-19 21:01] ViktorHofer commented on #27418
For more infos see https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md

[2018-03-19 21:02] weshaggard commented on #28139
I've repro'ed this and I know the problem, it isn't an issue with System.Data.SqlClient package but the instead the shims (in particular System.dll shim) in the shared framework. I will fix it and see if I can suggest a workaround.

[2018-03-19 21:05] lkfr opened #28223 "HttpClient design and multiple proxies"
Hi,

Many articles I have read recommend to only use one instance of HttpClient in an application but I am not sure how to use this class in the following scenario:

- Server App (ASP.NET Core)
- Heavy usage of HttpClient for outgoing requests (Http dependencies)
- A different proxy has to be used for each outgoing request (round robin proxy with thousands of entries)

Should I have one instance o

[2018-03-19 21:08] maryamariyan commented on #26390
I tried the same using version "4.5.0-preview1-26216-02" in both netcoreapp2.0 and net461 and both work fine without exception.

[2018-03-19 21:10] joshfree commented on #25591
Moving to the future milestone as the issue is 'needs more info'.

@DnlHarvey I think the meta question is 'what is the expected behavior?'.  Perhaps you could help improve the docs for this @ https://github.com/dotnet/docs ?

[2018-03-19 21:17] MarcoRossignoli commented on #27418
I apologize @ViktorHofer @Anipik i did it. But i get MembersMustExist. Is there some way to understand if i'm using my local clr build?Maybe so i could understand what i'm missing, I'm using debug build. TYVM for your time.

[2018-03-19 21:22] ViktorHofer commented on #27418
From the link I posted:

[2018-03-19 21:28] stephentoub commented on #28221
Console.IsInput/Output/ErrorRedirected?

[2018-03-19 21:34] stephentoub commented on #28223
Can you just create your own IWebProxy that handles round-robining which proxy it gives back, and set that as the Proxy on the HttpClientHandler?

[2018-03-19 21:34] MarcoRossignoli commented on #27418
@ViktorHofer thanks, i'll try again!

[2018-03-19 21:37] stephentoub commented on #28122
This particular failure is a combination of what appears to be a race condition in winhttp as well as the test doing something that the RFC says it shouldn't.  Putting up a fix.

[2018-03-19 21:37] joperezr commented on #26390
This doesn't seem to be caused by the support package since that dll is not part of it. I'm looking at a log that has the repro, and the weird thing is that it seems like RaR is failing to load this dependency because it doesn't get deployed along the netsandard2.0 lib. This is the output I see for RAR:
[code]

For some reason it seems like it is not looking at the packages cache after reading the

[2018-03-19 21:39] karelz commented on #23782
After a discussion we decided to move it to Future. We do not allow `HttpRequestMessage` reusing. Checking its position after it has been sent seems like a corner case, that does not block important scenarios.

[2018-03-19 21:41] stephentoub commented on #23782
Not with HttpClient.  What about with HttpMessageInvoker?  Is it documented somewhere that the same message can't be used multiple times with it?

(To be clear, I'm not objecting to pushing this out; I just want to make sure our rationale is correct.)

[2018-03-19 21:47] tquerec commented on #28091
@TigerBoom I will make sure an issue get's opened in the framework database.

[2018-03-19 21:50] karelz commented on #23782
@davidsh can you please chime in?

[2018-03-19 21:52] joperezr commented on #26390
Looks like the problem is that when RAR tries to get the list of dependencies from a ProjectReference it doesn't really go through the deps.json file so it won't copy dlls that are nuget package references of a netstandard2.0 library. This should work fine if the way of referencing the netstandard2.0 library is done via a nuget package instead. Another workaround would be to add the reference to t

[2018-03-19 21:54] rmkerr commented on #23782
I don't see anything stating that we can't reuse an `HttpRequestMessage` with `HttpMessageInvoker`, but I think that is more of a documentation issue. In this case the issues that come up with request re-use are all in `CurlHandler`, and so are problematic no matter what.

[2018-03-19 21:56] karelz commented on #28195
Looks like a regression against 2.0. Probably copy-paste error / oversight.

[2018-03-19 21:56] davidsh commented on #23782
It is not documented either way. However, in practice our implementation have evolved to be problematic for this.

However, this particular issue here is actually not about whether or not a dev can re-use an HttpRequestMessage object for additional SendAsync() calls. Instead, this issue is about a difference in behaviors between the Windows and Linux HTTP stacks. Specifically, the Windows HTTP sta

[2018-03-19 21:58] ahsonkhan opened #28227 "Add stress tests for Span<T> APIs"
From https://github.com/dotnet/corefxlab/issues/1313

- Tests with multiple threads to confirm that Span<T> APIs are stateless and thread safe
- Tests with lots of GC allocations to confirm that when GC moves addresses around, the use of Span is still correct

[2018-03-19 22:07] qmfrederik commented on #17135
@Nihlus Looks interesting, thanks! Would be awesome if you could license it under something more permissive than GPLv3 and package it on NuGet ;-).

[2018-03-19 22:10] Nihlus commented on #17135
@qmfrederik It's on [nuget](https://www.nuget.org/packages/AdvancedDLSupport/1.0.0) already - there's custom licensing options available if GPLv3 doesn't fit your project. Drop me an [email](mailto:jarl.gullberg@gmail.com) and I'm sure we can iron something out :)

[2018-03-19 22:13] KKhurin commented on #27933
This came a bit as a surprise for me, but the cache names are case sensitive so you would need to use name="Default" for the default settings.

[2018-03-19 22:13] #27933 closed

[2018-03-19 22:21] maryamariyan commented on #26390
Workaround as @joperezr explained is to explicitly add the dependencies so as it is now if I add:
[code]
I can get the exception to go away

[2018-03-19 22:26] stephentoub commented on #28198
No, reads can still be occurring concurrently with the write, and that's not safe.

[2018-03-19 22:28] Petermarcu opened #28230 "Using SslStream to make an ALPN connection - confusion over parameters to use."
@bobuva commented on [Mon Mar 19 2018](https://github.com/dotnet/core/issues/1361)

I've updated to the .NET Core 2.1 preview in order to make an SSL connection. Our server requires an ALPN negotiation to occur. As I understand it, the preview is the first version of .NET Core to support ALPN.

Here is essentially what I'm doing:

[code]
The `ValidateServerCertificate` looks like this:
[code]
I ge

[2018-03-19 22:33] davidsh commented on #28230
You need to use this overload of `AuthenticateAsClient` in order to use ALPN.  And you need to set the ALPN in the property.

https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/ref/System.Net.Security.cs#L185

[2018-03-19 22:34] dotMorten commented on #17135
People still use GPL these days? Especially for a library that seems exceptionally silly, which is what LGPL was meant for. No one could ever use this, without releasing all their source code as GPL as well. So better not use any other 3rd party library.

[2018-03-19 22:34] JeremyKuhne commented on #26626
You can't change `ConfigurationManager.AppSettings` target app config in .NET Core. On desktop (e.g. .NET Framework 4.x) you can configure the path for the config when creating a new `AppDomain`. There are no `AppDomain`s in .NET Core so this isn't an option.

You _can_, however, explicitly load a `Configuration` object from any path via [`ConfigurationManager.OpenMappedExeConfiguration()`](https:

[2018-03-19 22:34] #26626 closed

[2018-03-19 22:37] Nihlus commented on #17135
@dotMorten The reasoning behind choosing GPL over LGPL has been better said in other channels: http://www.gnu.org/philosophy/why-not-lgpl.html

And as for being able to use it, you're incorrect - as I've previously stated, if GPLv3 doesn't fit your project or product, there are custom licensing options available to you. I have rent to pay and a mouth to feed, man.

[2018-03-19 22:37] saurabh500 commented on #28198
What is the safety issue, that the reader will read while the writes are going on, and get a null value, and hence will go on to write again?

[2018-03-19 22:39] saurabh500 commented on #28198
I am basically trying to understand the tagging with `tenet-reliability` in this case.

[2018-03-19 22:39] bobuva commented on #28230
Thanks David! I'll give it a try.

[2018-03-19 22:40] maryamariyan commented on #21197
@robertmclaws were you able to get unblocked using the newer versions of the ```System.Configuration.ConfigurationManager``` package?

Otherwise, I was wondering if you have a code snippet from the exception you hit to help with reproducing the bug?

[2018-03-19 22:56] huanwu commented on #25591
@DnlHarvey The repro steps are exactly what I mentioned above.

[2018-03-19 22:56] ericstj commented on #26390
I had a look.  The dependencies in the package were incorrectly being removed as a result of https://github.com/dotnet/buildtools/commit/e8f73c0d8d8891fddacc344ddda1e702015d5dbd#diff-f11695f50a6521c6af9a9522f6d3ce53.  /cc @weshaggard

We should undo that buildtools change.  Now it was made for a real reason: https://github.com/dotnet/corefx/issues/26129

But its removal has actually broken IO.Pack

[2018-03-19 23:01] rmkerr commented on #23782
I'd like to add on to this -- what I found was that because of the limitations of CurlHandler and of HttpRequestMessage, it is difficult to make the stream rewind behavior consistent.

The longer explanation is that `ContentLength` gets cached in `HttpContentHeaders` and this causes problems in Curl if we don't rewind the stream. When we try to resend an `HttpRequestMessage` (unsupported, but as i

[2018-03-19 23:03] JeremyKuhne commented on #22101
Closing. As stated, the recommendation here is to explicitly construct a `Configuration` object via `OpenMappedExeConfiguration()`.  One can copy into `testhost.dll.config` as mentioned if in a pinch.

[2018-03-19 23:03] #22101 closed

[2018-03-19 23:04] bobuva commented on #28230
@davidsh I tried that as shown below, but still get the remote certificate is invalid error.

[code]

[2018-03-19 23:08] DnlHarvey commented on #25591
Ok the behavior I observed while following your steps seems expected. Given I'm observing different behavior from what you've described, that statement is likely not relevant to your question, but I can't offer a better answer without a way to reproduce what you've described.

[2018-03-19 23:08] #25591 closed

[2018-03-19 23:12] #12038 closed

[2018-03-19 23:20] karelz commented on #12038
FYI @marek-safar API changes after API freeze, not sure if it impacts you ...

[2018-03-19 23:20] karelz commented on #12038
Thanks @stephentoub for pushing it through and thanks everyone for impact details, it's appreciated.

[2018-03-19 23:22] AlexGhiondea commented on #28195
This only impacts the exception message and should be a trivial fix.

When we fix this we should add tests to validate that the target type of the converters are the expected ones.

[2018-03-19 23:48] joperezr commented on #22781
Just in case anybody is still hitting this when targeting 4.7.1, we released today VS 15.6.3 which should fix the issue and automatically generate the right binding redirects for you.

4.0.0.0 is the assembly version inbox because Desktop assemblies on the GAC need to be 4.0.0.0. This is an inner implementation detail, so even though its assembly version is 4.0.0.0, the API it has actually matches

[2018-03-19 23:50] joperezr commented on #25773
For anybody still hitting this, we shipped today a version of VS 15.6.3 that contains the tooling fixes for this, so automatic binding redirects should now get generated for you that should fix most of these types of issues. Let me know if that is not the case

[2018-03-19 23:53] weshaggard commented on #28139
I've got a PR out that will fix this issue in master https://github.com/dotnet/corefx/pull/28234. Once it goes in I will look to get this fix ported to our release/2.0.0 branch as well.

However with that said the best workaround is to bump your System.Data.SqlClient package version to 4.4.3 as you already discovered.

[2018-03-19 23:56] sshinault commented on #8645
I am having the same problem connecting from an Amazon Linux AMI EC2 host to a Sql Server 2005 instance. I am using the mssql-cli client to test why my AWS Lamdba functions (C# .NET Core) were getting connection timeouts.

The packet captures look almost exactly the same as the original poster's - 2nd PRELOGIN request appears to attempt to send TLS/SSL payload and server responds by closing connec

[2018-03-20 00:00] weshaggard commented on #26390
@ericstj thanks for figuring out the issue is related to the fix I made (see what happens when your OOF :)). I will take a look and see what other options we have to address both scenarios.

[2018-03-20 00:04] tarekgh commented on #28200
@joperezr @MattGal we need to get the time zone data installed on the Alpine images. could you please help in that? this should fix this issue.

[code]

[2018-03-20 00:08] karelz commented on #28230
Did you try to set up `authOptions.RemoteCertificateValidationCallback`?
https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/ref/System.Net.Security.cs#L113-L124

It's possible we may need to validate the constructor arguments when the new overloads are used ... I vaguely remember we discussed that a bit.

[2018-03-20 00:18] kasper3 commented on #28221
Yeah i guess those could be used instead of try-catching on BackgroundColor

[2018-03-20 00:18] #28221 closed

[2018-03-20 00:39] maryamariyan commented on #25127
@techaimail this is a documentation issue- we don't support these sections on Core. You need to set the relevant properties on `SmtpClient` directly.  I'll get an issue open on the docs

[2018-03-20 01:15] #27374 closed

[2018-03-20 01:15] #27390 closed

[2018-03-20 01:16] #25127 closed

[2018-03-20 01:18] #28122 closed

[2018-03-20 01:33] stephentoub commented on #23782
I don't understand this explanation.  The test you highlighted is passing on Windows.  That means WinHttpHandler must be rewinding the stream as well to the starting position, as otherwise it would be failing this test, where the second iteration expects all of the relevant parts of the stream to be sent again, and that can only happen if the stream's position was rewound.

What am I missing?

[2018-03-20 01:38] bobuva commented on #28230
@karelz yes I did. I set it up to point to a validation function -- see my original post above (copied by Peter to this issue).

[2018-03-20 01:45] stephentoub commented on #28198
In general, code shouldn't use types concurrently in a manner they weren't designed to be used. Trying to read from a dictionary while it's being mutated could result in a variety of problems.  For example, this produces a NullReferenceException for me within seconds:
[code]

[2018-03-20 01:45] shimingsg commented on #28043
@bartonjs, I don't know if they are failed in other cases since I only run the GCStress.

[2018-03-20 01:49] stephentoub commented on #28188
It's just enumerating ConcurrentDictionary's enumerator, which is designed not to provide a snapshot and thus can get away without using locks, just as reading from a ConcurrentDictionary doesn't take locks, but doesn't provide snapshot semantics.

If you're fine with those semantics, you can use Any.  But we can't change IsEmpty to do the equivalent of Any.

[2018-03-20 01:53] jkotas commented on #28227
You should just make sure that this is covered by the existing stress mixes run by the stress team (cc @valenis). There is no point in you building a separate stress harness for Span.

[2018-03-20 02:04] yaakov-h commented on #28188
Does that mean that `Any()` can return false even when the collection does contain items?

[2018-03-20 02:10] stephentoub commented on #28188
Yes, e.g.
[code]

[2018-03-20 02:35] JeremyKuhne commented on #27091
@Cronan I'm not sure what the expectation is when hosting CoreCLR as to what `Assembly.GetEntryAssembly()` should return. @jkotas Do you have any idea on that part?

Were you trying to hit other statics on `ConfigurationManager`? When you're using `OpenMappedExeConfiguration` it doesn't impact the static entry points into `ConfigurationManager`.  You'd want to get the `AppSettings` off of the `Con

[2018-03-20 02:35] JonHanna commented on #28199
There is a comment to the effect, at the central point where the lock is taken, but comments nearer the dictionaries themselves wouldn't hurt.

[2018-03-20 02:49] ahsonkhan opened #28236 "Rename string-like Span.Equals method to SequenceEqual"
We have the following string-like extension method for `ReadOnlySpan<char>`:
[code]

However, due to its name, we are unable to leverage the implicit cast from string to `ReadOnlySpan<char>`. The following code throws a compiler error since it fails to match the correct overload.
[code]

Error	CS0176	Member 'object.Equals(object, object)' cannot be accessed with an instance reference; qualify it w

[2018-03-20 03:13] yaakov-h commented on #28188
Hmm, thanks.

[2018-03-20 03:13] #28188 closed

[2018-03-20 03:30] keeratsingh commented on #27605
Hi @karelz ,

As already known the issue is seen on Linux with netcoreapp2.1 only and not with netcoreapp2.0 keeping the SqlClient same in both the cases.
I added some traces in SqlClient to see the difference between the behavior for netcoreapp2.0 and netcoreapp2.1.
As per my investigation this seems to be an `sslstream` regression, given below is the specific line of code where the delay occurs

[2018-03-20 03:44] ahsonkhan opened #28238 "Consolidate the string and span tests for the string-like APIs"
See https://github.com/dotnet/corefx/pull/27319#discussion_r170049466 for additional details and context.

This way, all the tests will be in one place making it easier to maintain, rather than duplicated between assemblies. Consider moving them to Common as well and reference from System.Memory.csproj so that running System.Memory tests will run all the span related tests.

cc @tarekgh

[2018-03-20 03:55] jkotas commented on #27091
When hosting CoreCLR, `Assembly.GetEntryAssembly()` will return the assembly that `coreclr_execute_assembly` was called on. It will return null if `coreclr_execute_assembly` was not called.

https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.getentryassembly?view=netcore-2.0#remarks talks about this.

[2018-03-20 05:16] joshfree commented on #26952
@pjanotti this should go to the System.IO.Packaging owner(s) or to System.Xml.XmlTextWriter, per the debugging notes from @Luciferius

/cc @krwq

[2018-03-20 05:20] joshfree commented on #28236
I think living with the cast, span.Equals((ReadOnlySpan<char>)test, StringComparison.Ordinal), is reasonable until 'better betterness' overload resolution is fixed in the next minor update of the C# compiler.

[2018-03-20 05:30] ahsonkhan commented on #28236
I agree. I had forgotten about the changes to the overload resolution as part of the next minor update.

I just verified that it will work as expected in the future. Closing.

[2018-03-20 05:30] #28236 closed

[2018-03-20 06:02] mconnew commented on #27983
@weshaggard, none of those 3 options are applicable:
1. The API's are exposed publicly in the reference assembly. They are [here](https://github.com/dotnet/corefx/blob/master/src/System.ServiceModel.Syndication/ref/System.ServiceModel.Syndication.netcoreapp.cs) but only for .Net Core, not in .Net Standard.
2. The API's can't be made internal because they are used in .Net Core.
3. This doesn't appl

[2018-03-20 06:12] danmosemsft commented on #28202
@karelz we need to fix this first to get any actual results for sockets tests on Alpine. Could someone look?

[2018-03-20 06:16] kouvel commented on #27854
@ranouf, it looks like all of the types involved are in ASP.NET. Maybe https://github.com/aspnet/Mvc would be an appropriate place for this issue, it's not clear to me what is wrong or if it has anything to do with .NET Core. Could you please reopen the issue there?

[2018-03-20 06:16] #27854 closed

[2018-03-20 06:24] kouvel commented on #27896
Is [Deprecated] still used for a build-time notification, for those who may bypass the analyzer?

[2018-03-20 06:26] safern commented on #28030
@stephentoub would this need to be fixed or is this behavior expected?

[2018-03-20 07:01] pjanotti commented on #26952
@Luciferius the code for `XmlTextWriter.Close()` disposes the text writer both in CoreFX and .NET Framework. I think what you are referring to is the subtle difference in `PartBasedPackageProperties.Flush()` which in CoreFX always closes the underlying stream and in .NET Framework doesn't (see [CoreFX here](https://source.dot.net/#System.IO.Packaging/System/IO/Packaging/PartBasedPackageProperties.

[2018-03-20 07:17] Sunny-pu opened #28240 "Test under System.ServiceModel.Syndication.Tests.BasicScenarioTests.AtomFeedPositiveTest failed with "System.UnauthorizedAccessException : Access to the path 'C:\\Users' is denied.""
Test System.ServiceModel.Syndication.Tests.BasicScenarioTests.AtomFeedPositiveTest (from (empty)) failed.

Configuration: outerloop_netcoreapp_windows_nt_debug

Details:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/343/testReport/System.ServiceModel.Syndication.Tests/BasicScenarioTests/AtomFeedPositiveTest/

[code]
STACK TRACE:
at System.IO.FileSystem.D

[2018-03-20 07:33] lenew opened #28241 "Memory leak in HttpClient using ASP.NET Core"
I encounter a memory leak problem when using HttpClient to access an HTTPS URL. Code running on ASP.NET Core + Linux server（AWS AMI).

After about 1000,000 requests, RAM occupation (RES in top) will grows to about 1GB and not release after all requests are done. If I send more requests, ram will eventually occupy all avaliable system ram and stop responding.

Testing environment:  AWS c4.xlarge ,

[2018-03-20 07:52] Luciferius commented on #26952
@pjanotti My fault. It was only a guess, that this is the root cause. I did not check with the sources. The cause you found seems logical too.

[2018-03-20 08:35] MichaCo commented on #27933
@KKhurin thanks! Stupid me, should have seen that one coming ;)

What about the configuration section though?
Will it be required to add the configuration section and section group definition manually, like I explained above?
[code]

If that's the case, I'm totally fine with that, just wanted to point out that you'll get a hard error if you don't do it and that MemoryCache behaves different than u

[2018-03-20 08:43] johnkors commented on #28139
Thanks, @weshaggard !

As this is with the shim. What's the most likely scenario here? Will the fix be part of new release of the 2.0.6 runtime or released as a 2.0.7 runtime..?

[2018-03-20 08:54] lenew commented on #28241
Response is just a "hello" string, not large at all. I'v tried to dig into this problem  with llvm dump tool, found nothing at end.
This problem only occurs when using HTTPS urls, HTTP protocol works fine.

[2018-03-20 09:15] #27260 closed

[2018-03-20 09:22] Cronan commented on #27091
@JeremyKuhne I think `Assembly.GetEntryAssembly()` is behaving correctly, given the circumstances, but my expectation is that I'm still able to use `ConfigurationManager`, even when called from unmanaged code.

In my code I'm just calling `OpenExeConfiguration` or `OpenMappedExeConfiguration`, not using other statics, and because the call throws, there is no Configuration object returned. I'll pos

[2018-03-20 09:29] tmds commented on #27249
@markmcdowell https://github.com/dotnet/corefx/pull/26291 is merged. You can get a daily build from the cli repo: https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-linux-x64.tar.gz. I hope you won't see any more zombies when using this version.

[2018-03-20 09:33] davidfowl commented on #27268
Seems like it would be trivial to achieve this via a feature on the HttpContext rather than exposing it on the Stream.

[2018-03-20 10:34] stephentoub commented on #28202
@danmosemsft, this always fails on Alpine?

[2018-03-20 10:49] JonHanna commented on #27724
My idea about about only doing this for a UNC path isn't a good one, as mapped drives hide UNC and there can be other slow-to-access files.

Is there anything better than `var stream = await Task.Run(() => new FileStream(…));` that anyone knows of? Otherwise I'll apply that?

[2018-03-20 10:57] stephentoub commented on #27724
Any caller of this method could do the same thing if they need to, but doing it in the implementation means it's being forced on to everyone.

[2018-03-20 11:02] lkfr commented on #28223
Looks great, I will give it a try, thanks!

[2018-03-20 11:27] JonHanna commented on #27724
Not really, as obtaining the `FileStream` is within the method, so there's no way of either opting in or opting out of this.

If there isn't a better way, maybe that's the real problem here, and this should wait on such a better way being implemented first.

[2018-03-20 11:30] #26818 closed

[2018-03-20 12:13] drewnoakes commented on #13746
`IGrouping<TKey, TElement>` seems like another good candidate.

[code]

[2018-03-20 12:17] khellang commented on #28241
Sounds like it could be a leak in `CurlHandler`'s `SslProvider`? Which means it could also be in openssl or libcurl.

I wonder if there's a way to switch to the `ManagedHandler`/`SocketsHttpHandler` in 2.0.6? @stephentoub?

[2018-03-20 12:22] khellang commented on #28241
@lenew Are you able to update to 2.1-preview1? If that doesn't change things, it would give you an opportunity to test the managed handler by setting `COMPlus_UseManagedHttpClientHandler=true`

[2018-03-20 12:24] ViktorHofer commented on #24145
RegexRunner.runtext is exposed (internal protected) and therefore can't be changed easily without breaking already compiled assemblies.

[2018-03-20 12:36] tmds commented on #28002
Based on what was said I think we want SslStream/HttpClient to use SSL_CERT_DIR/SSL_CERT_FILE in the same way. Since SslStream is already consuming those variables, the preference is for HttpClient to use them in the same way (instead of behaving like curl/node/...). Technically it would be challenging to make SslStream and HttpClient behave different since for SocketHttpHandler they share this co

[2018-03-20 13:22] bartonjs commented on #28043
Alright, it looks like this got opened while the PR to fix it was out, so I'm going to close it as duplicate.

[2018-03-20 13:22] #28043 closed

[2018-03-20 13:26] danmosemsft commented on #27249
There is a few days delay for corefx to reach the SDK builds

[2018-03-20 13:28] bartonjs commented on #27776
Moving to future, but if we can get a stable repro then we should look at it and re-assess.

[2018-03-20 13:32] tmds commented on #27249
@danmosemsft indeed, the PR was merged some time ago already and I checked: it is part of the daily cli build.

[2018-03-20 13:45] stephentoub commented on #27724
Sure there is:
[code]

Right, Win32 doesn't provide any API that enables performing the open asynchronously.

[2018-03-20 13:49] stephentoub commented on #28030
This is expected.  BlockingCollection is thread-safe for everything except for Dispose, as is called out in the docs:
https://docs.microsoft.com/en-us/dotnet/api/system.collections.concurrent.blockingcollection-1.dispose?view=netframework-4.7.1#System_Collections_Concurrent_BlockingCollection_1_Dispose
[code]

[2018-03-20 13:59] MarcoRossignoli commented on #27418
@Anipik @ViktorHofer i understand the problem and i don't know if it's so by design(i don't find anything on this behaviour on docs, maybe i'm missing something). After build corefx with my clr bits it's all ok, the correct bins are in place and with reflector i can see my new methods on System.Private.CoreLib.dll in 9.9.9 folder.
But if i do a build:
[code]
compile phase download remote clr packa

[2018-03-20 14:34] ViktorHofer commented on #27418
.\build.cmd builds the entire repo with the coreclr package from myget. if you just want to build a specific project use `msbuild /t:RebuildAndTest` or `msbuild /t:Rebuild`. Of course you've overridden your local build you need to invoke build.cmd once more with the `CoreCLROverridePath` property as described by @Anipik.

[2018-03-20 15:00] MarcoRossignoli commented on #27418
ugh...i usually do this https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#building-individual-libraries , now i try with msbuild. Can i attach with VS for tests or i have to use only msbuild commands?

[2018-03-20 15:01] weitzhandler commented on #26818
@ViktorHofer
Thanks for your response!
Can you please get a bit more detailed about the dark side of binary serialization?

[2018-03-20 15:02] SunnyWar commented on #25654
I encountered this code today that was written at some point in the past in a piece of code the is performance critical.
`cfgUrl = cfgUrl.Replace(@"://", "-");
                cfgUrl = cfgUrl.Replace(@":\\", "-");
                cfgUrl = cfgUrl.Replace(@"\", "-");
                cfgUrl = cfgUrl.Replace(@"/", "-");
                cfgUrl = cfgUrl.Replace(@"?", "-");
                cfgUrl = cfgUr

[2018-03-20 15:04] benaadams commented on #27268
That should definitely be an additional step :)

This change would allow the advantages of the Pipe implementation to be picked up without the user changing any code; going direct would give more power to the user, however it requires the user to also change their programming patterns to get the advantages.

Also on HttpContext would it always be exposed as duplex or split (writer/reader). If the

[2018-03-20 15:28] safern commented on #28030
Thanks @stephentoub. Closing by design then.

[2018-03-20 15:28] #28030 closed

[2018-03-20 15:39] roji commented on #7810
Note suggestion for doing something similar with performance - a standardized ADO.NET benchmark suite https://github.com/aspnet/DataAccessPerformance/issues/37.

[2018-03-20 15:39] tarekgh commented on #28238
why didn't you mark this one for 2.1?

[2018-03-20 15:40] karelz commented on #28241
@khellang there is no easy way to switch to SocketsHttpHandler in 2.0.x. Using 2.1 preview 1 / daily build is best option.

@lenew if you run the same workload on HttpClient from console application, do you still see the same problem?

[2018-03-20 15:42] karelz commented on #28230
@bobuva your original post does not set `authOptions.RemoteCertificateValidationCallback`. It uses constructor overload. Don't use it. Use plain constructor + `AuthenticateAsClientAsync`.

[2018-03-20 15:45] karelz commented on #28202
How often does it fail this way? How many runs did we have on Alpine?

[2018-03-20 15:58] MarcoRossignoli commented on #27418
@ViktorHofer step forward
[code]
this works well!
But i try to use F5 in VS(to debug) i get
[code]
Is it possible debug with VS also?

[2018-03-20 16:05] davidsh commented on #28156
@serialseb Thx for the information above including the callstack. After looking thru the callstack and the WinHttpHandler source code, I believe the NullReferenceException is coming from trying to de-reference the `state` object.  There appears to be some race conditions where the `state` object has been unpinned and freed:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpH

[2018-03-20 16:08] rmkerr commented on #23782
You're right -- I definitely misunderstood the behavior on windows. In that case it may be worth giving this another look.

[2018-03-20 16:10] sokket commented on #25773
Thanks @joperezr!

[2018-03-20 16:17] tarekgh opened #28246 "error MSB3073: The command "python in CI"
09:06:21   System.IO.FileSystem.Watcher.Tests -> /mnt/j/workspace/dotnet_corefx/master/alpine-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/bin/Linux.AnyCPU.Debug/System.IO.FileSystem.Watcher.Tests/netstandard/System.IO.FileSystem.Watcher.Tests.dll
09:06:21   Traceback (most recent call last):
09:06:21     File "/mnt/j/workspace/dotnet_corefx/master/alpine-TGroup_netcoreapp+CGro

[2018-03-20 16:23] danmosemsft commented on #28202
It is consistently happening

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180319.01/workItem/System.Net.Sockets.Tests/wilogs
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180319.04/workItem/System.Net.Sockets.Tests/wilogs

Note some tests are runni

[2018-03-20 16:25] weshaggard commented on #27983
If these APIs are netcoreapp specific the implementation assembly isn't reflecting that. It only contains a netstandard implementation which has all these APIs. If these are intended to be netcoreapp only then you need a netcoreapp configuration in the implementation that has them but the netstandard configuration shouldn't have them.

[2018-03-20 16:32] bobuva commented on #28230
Hi @karelz,

Oh, yes, I used to pass it through the constructor, but I had already changed it to pass it through the `authOptions.RemoteCertificateValidationCallback`. I still had the same problem.

[2018-03-20 16:37] weshaggard commented on #28139
Yes the fix will be in an upcoming servicing release. I think we maybe too late for 2.0.7 release but hopefully 2.0.8 release. I will update this issue with that version once I know which shipping train it gets on.

In the meantime there shouldn't be any real drawbacks to updating the version of System.Data.SqlClient (other then the fact you have to update it :)).

[2018-03-20 16:39] bobuva commented on #28230
I also assume that `X509Certificate2` is acceptable (interchangeable with `X509Certificate`).

[2018-03-20 16:41] danmosemsft commented on #28246
https://github.com/dotnet/buildtools/pull/1969

[2018-03-20 16:41] #28246 closed

[2018-03-20 16:42] weshaggard commented on #28139
I also want to call out that not everyone will hit this issue as there are three things that have to be true before it triggers:

1) You have to move from 2.0.x to 2.0.6 shared framework.
2) You have to be referencing and using a version of System.Data.SqlClient less then 4.4.3.
3) You have to be using a library that uses a Data type from the System.dll shim, that is usually a .NET Framework libra

[2018-03-20 16:43] danmosemsft commented on #28198
@saurabh500 very shortly, https://github.com/dotnet/coreclr/pull/16991 will flag this misuse with an InvalidOperationException

[2018-03-20 16:44] tarekgh opened #28247 "CI Build step 'Execute shell' marked build as failure"
09:35:37 [ubuntu16.04_arm64_cross_debug_prtest] $ /bin/sh -xe /tmp/jenkins6999066973616382871.sh
09:35:37 + tar -czf bin/build.tar.gz --directory=bin/runtime/netcoreapp-Linux-Debug-arm64 .
09:35:37 tar: bin/runtime/netcoreapp-Linux-Debug-arm64: Cannot open: No such file or directory
09:35:37 tar: Error is not recoverable: exiting now
09:35:37
Build step 'Execute shell' marked build as failure

htt

[2018-03-20 16:46] danmosemsft commented on #28247
@sdmaclea do you have context?

[2018-03-20 16:59] bartonjs opened #28249 "Create an API to manipulate PKCS12 objects"
https://tools.ietf.org/html/rfc7292

* Allow enumeration of contents by type (KeyBag, PKCS8ShroudedKeyBag, CertBag, CRLBag, SecretBag)
  * SafeContents is a recursive node, so maybe it needs to be part of the enumerator and not an enumeratable thing.  Or maybe it should also be enumeratable because maybe someone wants to indicate "these belong together" for its contents.
* Should allow the authent

[2018-03-20 17:01] stephentoub commented on #28198
Though only if we had code that causes the race condition, which we don't currently.  This code is currently not exercised by any tests, and not in parallel with enough contention to cause the race to occur.

[2018-03-20 17:03] stephentoub commented on #28198
Actually, @danmosemsft, would that actually flag such cases?  I'd expect it to be better at flagging cases where there are parallel updates, rather than parallel reading with a single update.

[2018-03-20 17:13] lkfr commented on #28223
Is there a way with this approach to find out which proxy address has been used for a particular http request? The only context I have in GetProxy is the destination Uri, it can be subclassed but I am not a huge fan of this approach.

[2018-03-20 17:18] chester89 commented on #25773
It works no matter which framework we target?

On Tue, Mar 20, 2018, 19:10 Jonathan Miller <notifications@github.com>
wrote:

[2018-03-20 17:18] terrajobst commented on #28138
We're generally fine with the API shape, however:

* At this point in the cycle we need shiproom approval for API breaking changes. @davidfowl should work with @karelz to get it approved.
* We need to clarify the semantics for the buffer sizes that are supplied (0, too small, etc). @davidfowl follow up with @karelz to get this locked in.

Once both things are settled, @karelz will just mark this i

[2018-03-20 17:18] chester89 commented on #25773
@joperezr
On Tue, Mar 20, 2018, 20:17 Gleb Chermennov <thebitterend77@gmail.com>
wrote:

[2018-03-20 17:19] karelz commented on #28138
@muratg are you ok with this change so late?

[2018-03-20 17:26] #28189 closed

[2018-03-20 17:26] #28190 closed

[2018-03-20 17:27] sdmaclea commented on #28247
arm64 CI jobs were just enabled.  We ran "@dotnet-bot test ci please", but no one tried to trigger the newly generated jobs.

[2018-03-20 17:33] muratg commented on #28138
@karelz It should be OK from our side.

[2018-03-20 17:33] stephentoub commented on #28223
I don't understand the question.  You would create your own IWebProxy implementation, and its GetProxy would be handed the Uri of the destination and it would decide what proxy Uri to hand back.  It's in your implementation's control.

What other context are you looking for?

[2018-03-20 17:38] joperezr commented on #28200
I'll take care of it

[2018-03-20 17:39] saurabh500 commented on #28198
Thanks @danmosemsft and @stephentoub

@stephentoub  I hadn't realized that you were talking about the internals of the Dictionary throwing exception. I was looking at this from the point of view of a logical bug in the code where the data will never be returned as expected. I could very easily repro this issue with your code. It was extremely quick.

[2018-03-20 17:45] jkotalik opened #28251 "ReadOnlySequence's Enumerator returns different results for same struct."
Repro:
I am using Pipelines to obtain a ReadOnlySequence from a PipeReader. I am then iterating over the number of chunks in the buffer to count the buffer size, and then iterating again to add them into an array. Something like:

[code]

The writer to the pipe is writing and flushing memory in a loop:
[code]

My hypothesis is that the enumerator is skipping empty segments somehow.
cc/ @pakrym  @d

[2018-03-20 17:46] KKhurin commented on #27933
@MichaCo yes, according to corefx manually adding the config section definition is the way to go for now.

Your question made me think that we should probably add some comments to the sources so whoever wants to use the old config has an easier time to discover how to do so.

[2018-03-20 17:47] davidsh commented on #28156
Also, we (CoreFx) are not familar with building openrasta-core repo. That's why we usually ask for a smaller repro that just involves CoreFx code and possibly ASP.NET Core code.

Is it possible to trim this repro down to just ASP.NET Core and .NET Core components.  I.e. can you create a standalone repro using Visual Studio and ASP.NET Core templates:
![image](https://user-images.githubusercontent.

[2018-03-20 17:50] karelz commented on #28138
OK, let's get clarification on the above first (@davidfowl?).
Then let's get shiproom approval (I can help).
Then who's going to make the changes in CoreFX and ASP.NET? @davidfowl or someone on @muratg's team?

[2018-03-20 17:50] Anipik commented on #24473
@rajurh @ViktorHofer I tried running the zip file that you sent me but it doesnot throw any error related to serialization
the error thrown is
[code]
@rajurh can you provide some more info ?

[2018-03-20 17:52] joperezr commented on #28200
PR https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/37 created for it. @MattGal we will have to update the image we use for Helix in order to use the new one that has this dependency.

[2018-03-20 17:55] muratg commented on #28138
@karelz Thanks!  Yeah, we have PRs open in both Kestrel and SignalR where this can be added (or later, based on when this can go in.)  @davidfowl or someone in my team can handle ASP.NET changes, but I'm unsure about CoreFX.

[2018-03-20 17:56] karelz commented on #28230
There seems to be confusion around what was tried, how, etc. Can you please post final code sample, based on the recommendations above that still fails for you?
Can you check if the callback is invoked at all?

[2018-03-20 18:01] sdmaclea opened #28252 "Cross compile legs have machine affinity set to 'Ubuntu14.04' 'arm-cross-latest'"
Since these jobs are using docker there doesn't seem to be a technical reason for this.

@mmitche Suggested this be dropped.

Opening an issue to track

[2018-03-20 18:02] wfurt commented on #28202
I'll take a look @danmosemsft

[2018-03-20 18:03] MichaCo commented on #27933
@KKhurin makes sense, yup, all about documentation now. Thanks for the clarification!

[2018-03-20 18:04] danmosemsft commented on #28198
@stephentoub you're right, I did not attempt to verify that so I cannot make that statement. All we know is that after that change, misuse will no longer manifest in a hang.

[2018-03-20 18:06] danmosemsft commented on #28240
This does not seem a test or product issue. It is trying to delete one file in %temp%. I suspect something is bad with this machine.

[2018-03-20 18:08] wfurt commented on #28241
If you can post full app @lenew  I'll try to reproduce it and take a look. High usage does not necessarily mean it is leaking.

[2018-03-20 18:08] stephentoub commented on #28198
And that in and of itself is goodness :)

[2018-03-20 18:11] jkotalik commented on #28251
Seems to only occur when the ReadOnlySequence's chunk size is full (Ex writing 4096 bytes at a time).

[2018-03-20 18:12] terrajobst commented on #24145
* We should only expose these APIs if we can handle both, interpreted as well as compiled regexes, because otherwise we'd make compiled regexes even slower than today (because we need to copy the `ReadOnlyMemory<char>`/`ReadOnlySpan<char>` to a string).

* The current API shape has two modes `IsMatch` which doesn't return any results and `Match` which returns class instances that point back to the

[2018-03-20 18:14] mconnew commented on #27983
I'm a little confused. I didn't think we created netstandard implementations and that it was only a set of api's which different implementations such as .Net Core, Mono, netfx etc would then implement. The reference assembly project produces a different reference assembly for netstandard than it does for netcoreapp. This can be seen [here](https://github.com/dotnet/corefx/blob/master/src/System.Se

[2018-03-20 18:20] lkfr commented on #28223
I would like to know from an HttpResponseMessage which proxy Uri has been used by HttpClient to handle that request. I can track the Destination Uri => Proxy Uri relationship in my object and then use the response RequestMessage.RequestUri property but it will only work if the Uri object passed to GetProxy is the one in the RequestUri property.

[2018-03-20 18:22] benaadams commented on #28251
Can you provide more info?
[code]
`currentChunk` is always `0` and its accessing an array with nothing set rather than accessing `readOnlySequence`?

[2018-03-20 18:22] MattGal commented on #28200
Sounds good, when that's merged it should be as simple as updating setup-machine-alpine.sh.

[2018-03-20 18:23] jbednar79 commented on #26743
I've finally found the answer and there is no problem.
It was caused by default value for min asynchronous I/O threads. When I set this to higher value this pattern is no longer visible. We had around 68 requests per second on 4 core machine.

From the original 19,647 requests was originally around 500 requests with the time between 300 and 7,000ms. After changing the default value I had only arou

[2018-03-20 18:23] #26743 closed

[2018-03-20 18:33] jkotalik commented on #28251
Sorry, forgot to increment. Fixed in example.

[2018-03-20 18:34] stephentoub commented on #23765
Re-enabled in https://github.com/dotnet/corefx/pull/28106.

[2018-03-20 18:34] #23765 closed

[2018-03-20 18:37] ahsonkhan commented on #27094
Similar to https://github.com/dotnet/coreclr/issues/16336, the following code will cause a crash on full framework:
[code]

**Here is the proposed API change (moving the APIs):**
[code]

[2018-03-20 18:40] stephentoub commented on #24722
@Priya91, this was fixed and just not closed, right?

[2018-03-20 18:44] pakrym commented on #28251
It didn't repro with exactly such code. My futile attempts to repro: https://github.com/pakrym/corefx/commit/778fb5859534949535fc6309e1d302ae9ece8b79

[2018-03-20 18:49] JeremyKuhne opened #28255 "Add Path.TryGetTempPath()"
From API proposal #27418.

Need to add:

[code]

Returns false if the destination isn't large enough to fit the full path into.

[2018-03-20 18:50] JeremyKuhne opened #28256 "Add Path.TryGetRandomFileName()"
From API proposal #27418.

Need to add:

[code]

Returns false if the destination isn't large enough to fit the full path into.

[2018-03-20 18:51] JeremyKuhne opened #28257 "Add Path.TryGetRelativePath()"
From API proposal #27418.

Need to add a span based version of `Path.GetRelativePath()`:

[code]

Returns false if the destination isn't large enough to fit the full path into.

The best way to handle this is probably to rewrite the existing internal logic to use ValueStringBuilder (instead of StringBuilder). The Span overload above can use `destination` as it's original buffer and fail out if the

[2018-03-20 18:51] joshfree commented on #26952
Including callstacks for future reference

https://github.com/dotnet/corefx/blob/a3e4e241c7b7c33750258082969287b9cf45d757/src/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs#L679-L682

[code]

@pjanotti yes, this should get routed to the System.IO.Packaging owner to investigate why Flush was changed as part of the original port-to-core;
https://github.com/dotnet/corefx/blob/a1e7

[2018-03-20 18:51] JeremyKuhne opened #28258 "Add Path.TryGetFullPath()"
From API proposal #27418.

Need to add:

[code]

Returns false if the destination isn't large enough to fit the full path into.

[2018-03-20 18:52] rmkerr commented on #28065
I'd expect that the `CurlHandler` failures are a result of how `Curl` preauthenticates when only a single auth scheme is provided. Since that behavior is desirable, it probably just requires a test fix.

I think the other issues warrant more investigation though. I can take a look.

[2018-03-20 18:54] danmosemsft commented on #27418
@MarcoRossignoli did you do `2. Adding the method to the ref file in system.Runtime.Extensions Project.` ? Perhaps point to a branch we could see what you have.

[2018-03-20 18:55] JeremyKuhne commented on #27418
@MarcoRossignoli the API has been approved. I've created issues for each of the APIs. I'd suggest you try and tackle TryGetTempPath() to start. If that sounds good I can assign that one to you. We can help you work through the process on that issue.

[2018-03-20 18:58] karelz commented on #26743
Happy to hear you got to the bottom of it. Which API did you tweak exactly?

[2018-03-20 18:59] karelz commented on #28223
@lkfr is there any reason for you to believe it is not the same value / same object?

[2018-03-20 19:00] weshaggard commented on #27983
The implementation project only has a netstandard configuration https://github.com/dotnet/corefx/blob/master/src/System.ServiceModel.Syndication/src/Configurations.props#L5. We likely need to add a netcoreapp configuration for this library to match the ref API surface.

[2018-03-20 19:08] MarcoRossignoli commented on #27418
@danmosemsft here is what i've done on core fx https://github.com/dotnet/corefx/compare/master...MarcoRossignoli:27418_path the strange thing is that with msbuild command all works, but if i try to use VS debug i get the error.

[2018-03-20 19:09] MarcoRossignoli commented on #27418
@JeremyKuhne  ok i can try with TryGetTempPath() TYVM

[2018-03-20 19:10] danmosemsft commented on #27418
Ypu are missing method definitions in the src folder. Even empty stubs will be fine. The error is saying that you have ref but not src.

[2018-03-20 19:11] danmosemsft commented on #27418
I would expect MSBuild to error the same if you build in the src folder.

[2018-03-20 19:14] MarcoRossignoli commented on #27418
i thought the same...but on src i don't find TryJoin() for instance https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=TryJoin&type=

[2018-03-20 19:15] ajcvickers commented on #27820
@lajones Is this something that you can answer?

Putting this in the backlog for now since we aren't planning on fixing anything for 2.1.
/cc @divega

[2018-03-20 19:20] ViktorHofer commented on #27418
TryJoin is implemented in coreclr not corefx here: https://source.dot.net/#System.Private.CoreLib/shared/System/IO/Path.cs,b222a5ed8b7295f5

[2018-03-20 19:21] migajek commented on #17052
I'm afraid the problem is wider.
I was struggling to find out why my app doesn't work on .net core on Ubuntu.
I've been digging through librariers, but was able to narrow it down to just this

ladies, gentlemen ... behold:

[code]

[2018-03-20 19:23] karelz commented on #24742
Beside DCRs, what we planned to deliver in 2.1 is in.

[2018-03-20 19:23] #24742 closed

[2018-03-20 19:24] #28195 closed

[2018-03-20 19:25] ViktorHofer commented on #24473
That's why I asked for a minimal repro. The one provided doesn't outline the error described in this thread.

[2018-03-20 19:28] ViktorHofer commented on #26818
I cite myself from here https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization

[2018-03-20 19:29] MarcoRossignoli commented on #27418
yes @ViktorHofer i see...but i don't understand why if TryJoin is on core fx ref and not in src(like my others TryGetXXX methods i'm writing) it doesn't raise same error at compile time, if i understand well @danmosemsft expect that all ref methods sould be also on src folder(corefx/src/System.Runtime.Extensions/src/...) look at my branch:

https://github.com/dotnet/coreclr/compare/master...MarcoR

[2018-03-20 19:36] davidfowl commented on #28138
I think we can take on both sides. Give me some time and I'll come up with a plan here in a few days (1-2).

[2018-03-20 19:36] MarcoRossignoli commented on #28255
@JeremyKuhne if you want i can start with this, feel free to assign to me if you want.

[2018-03-20 19:37] kasper3 commented on #28247
`tar --directory dest` requires dest to be present, i.e. `mkdir dest` before `tar --directory dest`.

[2018-03-20 19:39] ViktorHofer commented on #27418
because the src assembly only acts as a façade and type forwards to System.Private.Corelib (the "mscorlib" from coreclr) i.e. when calling TryJoin.

It seems you misunderstood. Dan suggested that you can verify that error goes away when adding the method to the src assembly just for testing purposes. The implementation of these methods should take place in System.Private.Corelib and not in the src

[2018-03-20 19:44] sdmaclea commented on #28247
@kasper3 The path is blatantly wrong.  I must have made a cut/paste error when I added it.

[2018-03-20 19:57] MarcoRossignoli commented on #27418
@danmosemsft it's my fault, this is my first time on writing api cross repo, thank you so much for precious help, i hope to be less clumsy in future.

[2018-03-20 19:58] #28139 closed

[2018-03-20 19:59] migajek commented on #17052
setting the culture at the beginning of the program fixes the issue

[code]

[2018-03-20 20:00] stephentoub commented on #28223
Why does it require object identity?  Uri provides equality support via overriding Equals, GetHashCode, providing an operator== method, etc.

[2018-03-20 20:05] sdmaclea opened #28265 "CI Drop PR trigger for Ubuntu16.04 arm64 Debug Build leg"
Due to CI capacity, it would be better to not run these on every PR.

@weshaggard Please assign to me.  I'll take care of it after #28250 merges.
@eerhardt I'll also take care of sharing more code as you suggested.

[2018-03-20 20:07] davidsh commented on #28156
I spent a little time and was able to reconstruct a standalone repro using just ASP.NET Core and .NET Core.

I've attached the full Visual Studio solution here.
[AspNetCore2b.zip](https://github.com/dotnet/corefx/files/1831018/AspNetCore2b.zip)

I was able to reproduce the NullReferenceException with the same call stack you got above.

Thanks for reporting this and we will investigate the bug.

[2018-03-20 20:11] pakrym commented on #28251
Reproed by https://github.com/pakrym/corefx/commit/9dc3fbda05940222ac8f82ab12ca1e3258c863e5#diff-189d999cfee30003f64a57258ee0451e

[2018-03-20 20:14] lkfr commented on #28223
Requests with the same destination Uri value will not go through the same proxy so I need a way to distinguish them apart.

[2018-03-20 20:17] stephentoub commented on #28223
And you're trying to distinguish them by the actual Uri's object identity?  Even if the implementation guaranteed that the object identity of the Uri passed in wasn't perturbed, how is that going to work when you don't own that object, e.g. in the case of a redirect?

Regardless, this interface isn't going to change.  At this point I think this is more of a design question for your app and it'd be

[2018-03-20 20:24] jkotas commented on #27094
`MachineEndian` in the name may be unnecessary for non-extension methods on MemoryMarshal. Maybe just call them `MemoryMarshal.Read/Write` ?

[2018-03-20 20:35] safern commented on #27310
@RusKnyaz thanks for reporting the issue. Marking as up for grabs and future as this seems to be due to libgdiplus, but needs to be investigated.

cc: @qmfrederik

[2018-03-20 20:37] safern commented on #27313
Could be libgdiplus as well.

[2018-03-20 20:38] safern commented on #27320
Same as other issues, most likely libgdiplus since they don't reproduce in Windows, so moving to future.

[2018-03-20 20:39] safern commented on #27312
Most likely libgdiplus issue. @RusKnyaz might be worth opening an issued there pointing to these issues to see if they can be investigated/fixed there.

[2018-03-20 20:49] #26664 closed

[2018-03-20 21:00] #28247 closed

[2018-03-20 21:01] lkfr commented on #28223
Which is why I thought it might be useful to be able to get more context in the IWebProxy implementation instead of just a Uri (like for instance an application-defined value passed upfront in the call to HttpClient). Nevermind ...

[2018-03-20 21:05] rizwaans commented on #23193
I've got this issue in .net core 2.0, just to give you more idea about what I'm trying to achieve. I'm trying to connect to VSTS and update the test status "Passed" or "Failed" based on my unit tests
I run of this "Could not load file or assembly System.Net.Http Version=4.0.0.0" issue where the code is trying to open a connection to vsts.
var connection = new VssConnection("https://<myname>.visual

[2018-03-20 21:07] rizwaans opened #28267 "Could not load file or assembly System.Net.Http Version=4.0.0.0 in .net core app"
I've got this issue in .net core 2.0, just to give you more idea about what I'm trying to achieve. I'm trying to connect to VSTS and update the test status "Passed" or "Failed" based on my unit tests
I run of this "Could not load file or assembly System.Net.Http Version=4.0.0.0" issue where the code is trying to open a connection to vsts.
var connection = new VssConnection("https://.visualstudio.c

[2018-03-20 21:09] saurabh500 commented on #27989
The tests have hardcoded values for English culture. Moving to future

[2018-03-20 21:14] #24897 closed

[2018-03-20 21:15] ViktorHofer commented on #21398
That one is easily fixable. I will tackle it.

[2018-03-20 21:15] saurabh500 commented on #27626
Moving to future. The tests have been hardcoded with the strings to compare against.

[2018-03-20 21:18] AndrewZ1989 opened #28270 "System.Data.SqlClient.TdsParser performance improvement"
I've done a little research and it looks like we do a lot of unnecessary allocations in the 'TryReadSqlDateTime' method.

For each call of the method we allocate the array of bytes (`` byte[] datetimeBuffer = new byte[length];``)
instead of allocating it once and then reuse existing array.

Let's imagine that we read 1 million DateTime values from database. Using existing implementation of TdsPars

[2018-03-20 21:21] oneilj opened #28271 "Microsoft.Tpl.Dataflow does not contain assembly reference for .NET version 4"
Hi, I am in need of a version of dataflow that targets .net version 4. This is the error I get when I try to install Microsoft.Tpl.Dataflow or System.Threading.Tasks.Dataflow.
``` Could not install package 'Microsoft.Tpl.Dataflow 4.5.8'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.0', but the package does not contain any assembly references or conte

[2018-03-20 21:27] ahsonkhan commented on #28238
It did not seem very crucial, specifically for 2.1, given it is about moving tests around (doesn't bring up a test coverage gap, etc.). If you feel differently, please feel free to change it.

[2018-03-20 21:27] karelz commented on #28223
Seems to be answered.

[2018-03-20 21:27] #28223 closed

[2018-03-20 21:34] nockawa opened #28274 "Running Unit Tests fail with .net Core 2.1 when using System.Memory 4.5.0-preview3 package"
I have a very simple case:
- A .net Core 2.1 (Preview 2) library project containing the library to test. Referencing the System.Memory NuGet Package (4.5.0-preview3)
- A .net Core 2.1 (Preview 2) library project for the unit test, referencing the first library.

I've tried, xUnit, nUnit frameworks and `dotnet test`, Visual Studio Runner (15.7 Preview 1) and Resharper Runner (2018.1 EAP 3) and I ca

[2018-03-20 21:44] #28198 closed

[2018-03-20 21:48] UgurGumushan opened #28275 "System.Numerics give System.IndexOutOfRangeException when I try to process a vector with 2 items. The exceptions do not really help me figure out the issue"
the most basic implementation did not work for me. Vector constructor gives me System.IndexOutOfRangeException: 'Index was outside the bounds of the array.'
a thread on stackoverflow says there is a lower limit on the array size but it should be implemented inside the class

[code]

[EDIT] Format code snipper into readable form by @karelz

[2018-03-20 21:51] bobuva commented on #28230
Ok, I'll package it up for you. Thanks!

[2018-03-20 21:55] sdmaclea commented on #28265
The arm64 & x86 CI legs are currently only running build-native.sh on PRs and Merges.
The arm & armel legs are running ./build.sh and building the whole runtime managed + native.

arm64 is not able to do that until official packages are released.

In light of that, I will not try to simplify the groovy yet.

[2018-03-20 22:14] weitzhandler commented on #26818
Thanks.
In some scenarios binary serialization is still the right option (my current case - where I want to backup state of an immutable object).
Binary serialization also makes it easier to serialize using constructor.

Anyway I understand why the API shouldn't be expanded.

[2018-03-20 22:22] #26603 closed

[2018-03-20 22:25] KrzysztofCwalina commented on #26145
@weshaggard is this something you could help us with for the bug bounce this month?

[2018-03-20 22:28] KrzysztofCwalina commented on #28118
@sputier, we would like to fix all ship stopping bugs by end of week so they have time go through PR review / CI.  Is that something you'd still want to tackle?

[2018-03-20 22:33] KrzysztofCwalina commented on #27544
@GrabYourPitchforks, once we decide what semantics we want, we will decide who does the work.

[2018-03-20 22:34] KrzysztofCwalina commented on #27544
actually, I noticed this is fixed. So just make sure the semantics are what we want.

[2018-03-20 22:34] #27544 closed

[2018-03-20 22:35] KrzysztofCwalina commented on #27543
@AtsushiKan, is this fixed? If yes, please close.

[2018-03-20 22:36] wfurt commented on #28203
It seems like some versions of docker have IPv6 disabled unless you explicitly enable them and  provide subnet for the "docker" interface. I was not able to reproduce this with the same image running on my local server.

However I was able to reproduce it following CI steps on Azure with steps from @joperezr
One option how to fix it is to create (or update)  /etc/docker/daemon.json ewith following

[2018-03-20 22:36] sputier commented on #28118
I'm working on it at the moment and I'll make a PR tomorrow (3PM PT or so). Is it OK for you ?

[2018-03-20 22:41] AtsushiKan commented on #27543
@davidfowl - Pls confirm that https://github.com/dotnet/corefx/pull/27615 addresses your needs (and that we've decided what the semantics are :))

[2018-03-20 22:49] #25328 closed

[2018-03-20 22:52] joshfree commented on #26952
@bartonjs could you load balance this one please? thanks

[2018-03-20 22:54] joshfree commented on #26996
@weshaggard is this something you could help load balance for us?

[2018-03-20 23:07] bartonjs commented on #2910
Moving to Future, it's just getting a bit late to plumb this down (and a lot of tests need to be defined to ensure that we're behaving the same way as in our Windows black-box implementation... zero signers, multiple signers, igner-cert-not-included, hybridized values, etc)

The workaround for caller code which knows it's getting a PKCS7 is to just load it into the SignedCms class.  This is the na

[2018-03-20 23:12] karelz commented on #28267
Does it repro in brand new .NET Core 2.0 console app for you? Or does the repro require some additional dependencies?

[2018-03-20 23:21] rmkerr commented on #20245
On Linux this test depends on the configuration of `/etc/hosts`, which I suspect isn't consistent between machines.

For example, the Azure VM I use for Linux development was by default configured in such a way that this test would fail. In the process of setting the machine up to work with remote desktop, I edited the hosts file, and the test passes with the new configuration.

I'm waiting to hea

[2018-03-20 23:23] keeratsingh commented on #27769
@nils2612
Could you kindly try the following workaround and see if it resolves your issue ?
- Add "Min Pool Size=50" keyword to the connection string.
- Call SqlConnection.Open() once to warm up the connection, before executing your application.

Regards,
Keerat

[2018-03-20 23:24] joshfree commented on #27505
removing `test bug` label as WindowsPrincipal.IsInRole shouldn't be leaking an exception

https://github.com/dotnet/corefx/blob/master/src/System.Security.Principal.Windows/tests/WindowsPrincipalTests.cs#L15

[2018-03-20 23:25] keeratsingh commented on #27605
Hi @atiato
Could you kindly try the following workaround and see if it resolves your issue ?
- Add "Min Pool Size=50" keyword to the connection string.
- Call SqlConnection.Open() once to warm up the connection, before executing your application.

Regards,
Keerat

[2018-03-20 23:26] tarekgh commented on #17052
@ChristophB125 you can use the CompareOptions.IgnoreNonSpace to get comparison of "ß" evaluated as equal to "ss". CompareOptions can be passed to string APIs, CompareInfo APIs and also you can create StringComparer in 2.1 version using the following code:

[code]

@migajek en_US_POSIX is very special locale and its string sorting behavior is special too. This is why you got this surprising result

[2018-03-20 23:27] pakrym commented on #27880
We'll look at this in RC milestone

[2018-03-20 23:28] pakrym commented on #27268
We decided no to do this for 2.1

[2018-03-20 23:28] #27268 closed

[2018-03-20 23:29] caesar1995 commented on #28097
Thank you for the nice repro! I am investigating it now.

[2018-03-20 23:31] joperezr commented on #27580
@brianrob PerformanceCounters are part of System.Diagnostics.Tracing as per https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas

[2018-03-20 23:31] brianrob commented on #23072
Not required for 2.1.  Moving this to future.

[2018-03-20 23:33] brianrob commented on #27580
@joperezr did not realize that.  Thanks.

@adiaaida can you please take a look at this?

[2018-03-20 23:36] danmosemsft commented on #20245
Ypu could perhaps log the content of etc/hosts in the failure case?

[2018-03-20 23:36] saurabh500 commented on #28270
@AndrewZ1989 Sounds good. What approach do you intend to follow?
Create a field in TdsParser with the byte array? Or use something Like ArrayPool to rent out the byte array?

[2018-03-20 23:39] KrzysztofCwalina commented on #28118
Perfect. Thanks for confirming so quickly!

[2018-03-20 23:41] brianrob commented on #28099
From looking at MC, it looks like this has failed twice in the last month - both on the same day.  I am suspicious that this may be an environmental issue as these are ETW tests.

I am going to close this for now.  Let's re-open if it becomes more prevalent - we will then need to figure out how to keep the ETL files around for investigation.

[2018-03-20 23:43] brianrob commented on #25029
Moving this out to future.

[2018-03-20 23:48] tarekgh commented on #17052
I am closing this issue, feel free to send any more questions or issue. thanks all.

[2018-03-20 23:48] #17052 closed

[2018-03-20 23:50] ahsonkhan opened #28281 "Port over non-redundant Span tests from corefxlab"
From https://github.com/dotnet/corefxlab/issues/1403

Add span-based tests from corefxlab that are non-redundant and are testing interesting scenarios.

From a cursory view, here are some examples:
https://github.com/dotnet/corefxlab/blob/5b2bbc602833e4fac9a2cfe05ddfafe612dd9e86/tests/System.Buffers.Primitives.Tests/BasicUnitTests.cs#L332
https://github.com/dotnet/corefxlab/blob/5b2bbc602833e4fac9

[2018-03-20 23:52] joshfree opened #28282 "Memory<T> should implement IReadOnlyList<T>"
Migrating corefxlab issue https://github.com/dotnet/corefxlab/issues/903 on behalf of @smmalis37 now that Span/Memory have moved to the corefx repo for .NET Core 2.1:

[2018-03-20 23:54] rizwaans commented on #28267
I think you can reproduce it with out any additional dependencies. I just tried creating a new .net core console app and execute the below code.

        try
        {
            var u = new Uri("https://{My Account}.visualstudio.com");
            VssCredentials c = new VssCredentials(new Microsoft.VisualStudio.Services.Common.VssBasicCredential(username, password));
            var connection =

[2018-03-20 23:58] rmkerr commented on #20245
That sounds reasonable. I'll see if I can add logging and re-enable the test tomorrow.

Also, adding to the evidence that this is caused by the machine config is the following check elsewhere in the NameResolutionPal tests:
https://github.com/dotnet/corefx/blob/643bccc7f2c24a897cc15c42486d4184e1f931eb/src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs#L97-L104 The network confi

[2018-03-21 00:07] bartonjs commented on #27505
It seems pretty intentional that it throws in this situation (and matches NetFx).

Though, closing this as dupe of #16511.  (But I was going to look at fixing this this week anyways, if I get the chance)

[2018-03-21 00:07] #27505 closed

[2018-03-21 00:09] migajek commented on #17052
@tarekgh so the right question is .. why does .net core detect current culture as en-US-POSIX?
I cannot seem to find any information on where does current culture come from on Linux.

LANG env variable is en_US.UTF-8 ...

[code]

[2018-03-21 00:09] lajones commented on #27820
`RequiredAttribute` is a `ValidationAttribute`. All `ValidationAttribute`s allow you to set `ErrorMessageResourceType` and `ErrorMessageResourceName` instead of `ErrorMessage`. Then it will expect to find a class of type `ErrorMessageResourceType` with a static property whose name is `ErrorMessageResourceName`. Hope that helps.

[2018-03-21 00:10] joshfree opened #28283 "Productize NativeOwnedMemory"
Tracking issue original from https://github.com/dotnet/corefxlab/issues/1924
[code]

[2018-03-21 00:19] gfoidl commented on #28275
See https://github.com/dotnet/corefx/issues/25344 for similar problem.

[2018-03-21 00:25] benaadams commented on #28282
`Memory<T>`'s performance for `IReadOnlyList` would be dreadful as it would need to do a check and create a `Span<T>` for each element access.

Could you expose it as a `ReadOnlyMemory<T>` for same effect?

[2018-03-21 00:25] JeremyKuhne commented on #28099
@brianrob this is failing every single time for me on #28220.  (Three times in a row.)

[2018-03-21 00:39] tarekgh commented on #17052
@migajek

You may look at https://github.com/dotnet/coreclr/blob/master/src/corefx/System.Globalization.Native/locale.cpp#L123 for how we get the default user locale. in short, we call ICU function ```uloc_getDefault()``` to get the default locale.

[2018-03-21 00:42] davidfowl commented on #27543
Yep, this is good to clos

[2018-03-21 00:43] tarekgh commented on #17052
you may check if the values of the environment variables LC_MESSAGES and LC_ALL in your system.

[2018-03-21 00:45] karelz commented on #28267
Where do you get these types from then?
* Microsoft.VisualStudio.Services.Common.VssBasicCredential
* Microsoft.TeamFoundation.TestManagement.WebApi.ShallowReference
Can you post exact steps how to reproduce it? (start with new Console .NET Core 2.0 app)

Do you need more than the first 3 lines of code to reproduce it?

[2018-03-21 00:51] #28275 closed

[2018-03-21 00:59] karelz commented on #27605
@keeratsingh can you isolate the SslStream calls into standalone repro? That would simplify investigation greatly.

[2018-03-21 01:16] rizwaans commented on #28267
ok here you go.
1.create a .net core 2.0 console app
2.add Microsoft.TeamFoundationServer.ExtendedClient (15.112.1) package from Nuget
3.put the sample code from above comment , try and build.

<thisshouldbeyouraccount>.visualstudio.com

hope this helps you to recreate the issue.

incase you're not able to add the extended client package. just add the below code in .csproj

<PropertyGroup>
    <Pa

[2018-03-21 01:20] clarkis117 commented on #25809
Hmmm... maybe the issue is similar to this one #11206

[2018-03-21 01:24] maryamariyan commented on #27942
@jp2masa please refer to [here](https://docs.microsoft.com/en-us/dotnet/framework/mef/attributed-programming-model-overview-mef) for more detail.

Please let me know if this answers your question.

[2018-03-21 01:34] wfurt commented on #20245
It seems like on Windows attempt to resolve "hostname" always works. On Unix it may or may not depending on configuration. It would be nice to check if lookup work and skip tests if it does not.

[2018-03-21 01:48] brianrob commented on #28099
@JeremyKuhne I am grabbing a couple of repro machines to see if I can reproduce this.

[2018-03-21 01:55] MohammadHamdyGhanem opened #28285 "Some enhancements for existing classes"
Since there is many enhancements in the framework these days, I suggest to review all existing classes and update them to benefit from new features, such as:
-	methods that receive objects and/or return objects can use generics.
-	methods that have out parameters can have overloads that return ValueTuples
-	All properties and parameters that only deal with positive numbers like Lengths, widths, he

[2018-03-21 02:16] nockawa commented on #28274
Please tell me if there's anything I can do to help troubleshooting/fixing the issue.
I've just jumped on the .net Core bandwagon but I think I can help!

[2018-03-21 02:17] stephentoub commented on #26043
Thanks for the great debugging, @Maxim-Kornilov.

[2018-03-21 02:20] #28265 closed

[2018-03-21 02:27] caesar1995 commented on #28097
I have root caused the issue, will submit a PR tomorrow.

It's a bug in `WebScoketBuffer`, we forget to decrease our counter here.

https://github.com/dotnet/corefx/blob/298f1a21fc1e9f32ff6bb21d1d523f4b1455d2d0/src/System.Net.HttpListener/src/System/Net/Windows/WebSockets/WebSocketBuffer.cs#L329-L334

Framework [doesn't has this problem.](https://github.com/Microsoft/referencesource/blob/4fe434917

[2018-03-21 02:29] lenew commented on #28241
@khellang  2.1-preview have problem too 😞
@wfurt I'll post a test app later.

By now i find that this problem is relate to MaxConnectionsPerServer, if limit it to a 100, memory grow speed is slower than with it's default setting(int.MaxValue).
I'll do more test on different system to see if it is relate to libcurl version or OS version.

[2018-03-21 02:31] stephentoub commented on #28241
Is this using Preview 1?  If so, does it still show a problem if you first do:
[code]
?

[2018-03-21 02:42] #28199 closed

[2018-03-21 03:02] #26544 closed

[2018-03-21 03:22] wfurt commented on #28002
thanks @tmds. It would be great if you can summarize the behavior and differences.
I think it would be nice for other readers to get some context as not everybody knows all the details.

[2018-03-21 03:25] #27543 closed

[2018-03-21 04:00] davidsh commented on #28156
I was able to root cause this problem.

There are several different issues here.  The first is that there is an error handling bug in WinHttpHandler. That bug is causing the NullReferenceException which is being thrown on a threadpool thread and crashing the app.

The second problem is that the root error is that your proxy scenario is attempting to do a GET request with "Transfer-Encoding: chunke

[2018-03-21 05:12] RusKnyaz commented on #27312
And these guys out of lizhdilos not send me then some guys from libgdi? I have not programmed in C for a very long time. It takes too much time for me to create a simple example to reproduce the issue.

When I saw that cross-platform System.Drawign came out, I thought, "they are either geniuses or crazy!". But when I realized that this is just a wrapper over Mono's libgdiplus (BTW, why not Wine's

[2018-03-21 05:20] AlexRadch commented on #28136
How to make conditional code for netfx?
I did not find any example in documentations https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md
I need something like next:
[code]
Can anybody help to me  and document it at https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md

[2018-03-21 05:23] wfurt commented on #27996
I think this is bad test:

                byte[] buffer = new byte[expected.Length];
                int bytesRead = await context.Request.InputStream.ReadAsync(buffer, 0, buffer.Length);
                Assert.Equal(expected.Length, bytesRead);
                Assert.Equal(expected, buffer);

The documentation is pretty clear that  ReadAsync may return less data than asked for e.g. expecting eve

[2018-03-21 06:43] ahsonkhan commented on #28116
Failing here as well - https://github.com/dotnet/corefx/pull/28294#issuecomment-374845575

[2018-03-21 06:43] danmosemsft commented on #28136
PlatformDetection.IsNETFramework or similar...don't have code in front of me

[2018-03-21 06:47] geoffkizer commented on #27996
Yep, I agree.

I'd create some sort of test helper, e.g. an extension method like ReadToEndAsync on Stream.  As you say, this is pretty common and we should handle this consistently.

TextReader actually has a ReadToEndAsync() method already, but we're not using TextReader here.  But we can do something similar.

[2018-03-21 07:09] lenew commented on #28241
@stephentoub @khellang I forgot to set COMPlus_UseManagedHttpClientHandler=true
After set it to true and 2000000 requests, no leakage anymore. Memory occupation is stable at 450~500M.
Tests on different Os and libcurl:
1. Ubuntu 14.04LTS + libcurl4-gnutls + dotnetcore 2.0.6, no leakge, 429M
2. AMI Linux + libcurl-7.59.0-mbedlts, no leakage, 780M
2. AMI Linux + libcurl-7.59.0-openssl, no leakage, 7

[2018-03-21 07:17] migajek commented on #17052
@tarekgh thank you, this seems to work as expected then as `uloc_getDefault` returns en_US_POSIX for me.
I'll look into system configuration

[2018-03-21 07:33] johnkors commented on #28139
Yep, no worries. Just for context: We hit this issue as soon as we tried to update to 2.0.6 as of the recommended upgrades mentioned in the latest ASP.NET / dotnet core security announcements from @blowdart.

I don´t think we'll have any issues upgrading all our apps to 4.4.3 before installing the 2.0.6 runtime. Just a bit more work on our end to get the security fix out.

Thanks!

[2018-03-21 08:11] ahsonkhan commented on #28285
If the changes are internal/implementation detail, and not visible to the end user of the library, then we can make these changes. However, we can't modify the API surface of types that are publicly exposed or have already shipped.

@MohammadHamdyGhanem, it would be awesome if you could get us started by taking on some of these enhancements and submit a PR.

Can you provide specific examples of ch

[2018-03-21 08:33] tmds commented on #28002
@wfurt this is a summary based on my understanding of the problem and implementation:

The use-case is to allow a non-root user to specify trusted certificates.
It is common to use SSL_CERT_DIR/SSL_CERT_FILE environment variables for this.

curl and nodejs allow to override all certificates used using a single environment variable: SSL_CERT_FILE that points to a certificate bundle file.

.NET Core

[2018-03-21 08:35] #26043 closed

[2018-03-21 08:38] ahsonkhan commented on #25707
@pentp, is this still an issue when using the preview1 packages that were published recently (https://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe/4.5.0-preview1-26216-02)?

This package should have the API you were looking for:

[2018-03-21 09:04] dotnet-mc-bot opened #28299 "Test failure: System.Xml.Tests.XmlWriterTests_Encoding/WriteWithUtf32EncodingNoBom"
Opened on behalf of @Sunny-pu

The test `System.Xml.Tests.XmlWriterTests_Encoding/WriteWithUtf32EncodingNoBom` has failed.

System.PlatformNotSupportedException : Compilation of XSLT is not supported on this platform.

        Stack Trace:

           at System.Xml.Xsl.XslCompiledTransform.CompileQilToMsil(XsltSettings settings) in E:\A\_work\14\s\corefx\src\System.Private.Xml\src\System\Xml\Xslt\

[2018-03-21 09:13] chrisnas commented on #26043
Thanks Kevin  ;^)

[2018-03-21 09:14] stephentoub commented on #26043
Ah, sorry, yes, thanks @kevingosse.

[2018-03-21 09:29] stephentoub commented on #27771
@ericstj, this failed again on netfx:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/10178/consoleText
[code]

[2018-03-21 09:59] keyoke opened #28301 "Question - What is the Difference between Debug Type Full & Pdb"
Hi,
I have a question regarding the build output when setting the Debug Type Full or Pdb-Only in project properties on .NET Core. As far as I could see the assemblies produced are the same? I also don't see any difference in the pdb files which are produced... but maybe am missing something.

In full framework there is definitely a difference and it could have perf impact on resulting code, should

[2018-03-21 10:13] bondarchook commented on #25773
@joperezr
Automatically creating binding redirects is not proper fix for this bug.
It should never ever update references to higher version without good reason.

P.S. Frankly this whole AutoUnify thing is sound like bug to me. It should be at least optional.

[2018-03-21 10:33] gfoidl commented on #28301
Have a look at [Portable PDB](https://github.com/dotnet/core/blob/master/Documentation/diagnostics/portable_pdb.md) -- hope this clarifies.

[2018-03-21 10:34] ma-bjo commented on #25773
@joperezr
I have now tested the simple projects I uploaded on Jan 18 with Visual Studio 15.6.3, and the issue is still there. Sure, we get a lot of binding redirects to later assembly versions, but that is in no way a solution for the problem. Dataflow 4.8.0 that I used to easily reproduce the problem has NO DEPENDENCIES, but the tooling copies 12 assemblies to the output folder when I target .NET

[2018-03-21 10:36] keyoke commented on #28301
thanks that's interesting read but there is no mention regarding any possible Perf impact

[2018-03-21 10:37] stephentoub opened #28302 "UnauthorizedAccessException in System.ServiceModel.Syndication tests"
https://mc.dot.net/#/user/jkotas/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/bd6027746f2fd0c5515fdf8abb2fcecf3c25286a/workItem/System.ServiceModel.Syndication.Tests/analysis/xunit/System.ServiceModel.Syndication.Tests.BasicScenarioTests~2FRssFeedPositiveTest
[code]

[2018-03-21 10:47] stebet opened #28303 "Support exporting cryptographic keys to PEM format."
It would be very helpful to add the functionality to most of the asymmetric cryptographic algorithm implementations to add an explicit method to both import and export the cryptographic keys to the PEM file format.

We already have ```ToXmlString``` and ```FromXmlString``` on the [AsymmetricAlgorithm](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Primitives/src/Syst

[2018-03-21 10:49] gfoidl commented on #28301
It's for debugging. So there should be no influence when in Release and w/o debugger.

Do you have any concrete perf-problem, or just a informational question?

[2018-03-21 10:55] AlexRadch opened #28304 "Netfx System.Runtime.Serialization.Json.ReflectionOnly.Tests fails 2 tests at Tomsk time zone"
System.Runtime.Serialization.Json.ReflectionOnly.Tests fails 2 tests at Tomsk time zone with next log:
[code]
To reproduce setup Tomsk time zone and test with netfx framework.

Tomsk time zone is complex becauze some time ago
1. It was +0700 with daylight saving time
2. then it was +0600 with and without  daylight saving time
3. Now it is +0700 without daylight saving time.

So test use +0600 offs

[2018-03-21 11:26] benhysell commented on #25960
@tarekgh

I see the 2.0.6 release is out, https://github.com/dotnet/core/releases, did this fix make the cut?

If not, is it in the 2.1 preview?

[2018-03-21 11:30] luigiberrettini opened #28305 "Linux/OSX - setting ExclusiveAddressUse or DontLinger not supported"
Operation not supported exception when [using SetSocketOption](https://github.com/graffen/NLog.Targets.Syslog/blob/v5.0.0-beta-02/src/NLog.Targets.Syslog/MessageSend/Tcp.cs#L82-L86) to set ExclusiveAddressUse or DontLinger:
[code]
Please look at https://github.com/graffen/NLog.Targets.Syslog/issues/119 for more info

[2018-03-21 11:34] luigiberrettini opened #28306 "Linux/OSX PlatformNotSupportedException calling Socket.IOControl"
PlatformNotSupportedException when [using IOControl](https://github.com/graffen/NLog.Targets.Syslog/blob/v5.0.0-beta-02/src/NLog.Targets.Syslog/MessageSend/Tcp.cs#L86) to set keepAlive
[code]
Please look at https://github.com/graffen/NLog.Targets.Syslog/issues/119 for more info

[2018-03-21 11:59] sabatmonk commented on #23745
I have the same (or very similar) issue with core 2.0

`Unhandled Exception: System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.CurlException: Server returned nothing (no headers, no data)
   at System.Net.Http.CurlHandler.ThrowIfCURLEError(CURLcode error)
   at System.Net.Http.CurlHandler.MultiAgent.FinishRequest(StrongToWeakReference'1 easyWra

[2018-03-21 12:26] jchannon commented on #7403
I get this exception on OSX.

SDK : 2.1.3

Code:

[code]

Exception:
[code]

[2018-03-21 13:23] keyoke commented on #28301
ok thanks, the confusion for me was that for Full Framework our docs say there is a potential perf impact? I was wondering if this still applied for .NET Core, they also emit an additional attribute but I didn't see this in the produced assemblies so I guess this also doesn't apply .NET Core?

_"If you use -debug:full, be aware that there is some impact on the speed and size of JIT optimized code

[2018-03-21 13:31] bartonjs commented on #28002
It depends on the goal of the user.

* If they want to completely replace the system trust (permanently or during this program execution)
  * Set both variables
* If they want to add a certificate to their trust list permanently, being in addition to system trust
  * Open X509Store(Root, CurrentUser) and add the cert
* If they want to add a bundle of certificates for this program execution, but no

[2018-03-21 13:52] stephentoub opened #28309 "PEReaderTests.GetSectionData_Loaded failed in CI"
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ee4cab88df3d975a6f9cee26cd2c7b916d3b450e/workItem/System.Reflection.Metadata.Tests/analysis/xunit/System.Reflection.PortableExecutable.Tests.PEReaderTests~2FGetSectionData_Loaded
[code]

[2018-03-21 13:54] tmds commented on #28002
The behavior of curl is to replace the entire store when 1 variable is set. This is the same for every distro with OpenSSL backend.

Your comment provides a nice overview of how people can achieve various scenarios with custom certificates. Perhaps this should be in some documentation?

I'll make a PR that makes the curlhandler behave like SslStream/X509Store.

[2018-03-21 14:00] stephentoub commented on #28306
That's because it's only supported on Windows.  This IOControl code value is Windows-specific.

[2018-03-21 14:09] stephentoub commented on #28305
It would be better to use the Socket properties for these, namely Socket.ExclusiveAddressUse and Socket.LingerState.

That said, ExclusiveAddressUse wasn't enabled on Unix in .NET Core 2.0 and earlier, by design.  .NET Core 2.1 improves on this with https://github.com/dotnet/corefx/pull/24809.

[2018-03-21 14:15] stephentoub opened #28310 "Opening .sln after building with CoreCLROverridePath hangs"
Repro:
git clean -xdf
build.cmd -- /p:CoreCLROverridePath:c:\path\to\coreclr\release\build\
cd src\System.Runtime
System.Runtime.sln

Visual Studio opens and then sits with a progress dialog for a very long time.  After an hour the first time and a half hour the second time, I terminated the devenv process.  When I think cleaned and built without a custom runtime, the solution opened and became us

[2018-03-21 14:17] AlexRadch opened #28311 "System.Drawing.Common.Tests fails some tests on netfx framework locally"
System.Drawing.Common.Tests fails some tests on netfx framework locally with next log:
[code]
'В GDI+ возникла ошибка общего вида.' is 'A generic error occurred in GDI+' on English.

[2018-03-21 14:22] #28241 closed

[2018-03-21 14:36] jp2masa commented on #27942
It is decorated with the `ImportMany` attribute, the question is about multiple metadata with the same key.

[2018-03-21 14:40] AlexGhiondea commented on #25773
@ma-jo do you have a solution that we can look at?

The 12 files added to your output are correct. Due to a bug in the 4.7.1 support of .Net Standard 2.0 those files are required in the bin folder (along with binding redirects)

[2018-03-21 15:00] jbednar79 commented on #26743
I've changed this using the machine.config file where I set <processModel minIoThreads="50"...

[2018-03-21 15:15] karelz commented on #25960
@benhysell it seems the fix is in 2.0.6 (see https://github.com/dotnet/coreclr/pull/15735). Did you try it?
If you look at merge commit of the original PR in master (https://github.com/dotnet/coreclr/pull/13553), it made it to 2.1-preview1: https://github.com/dotnet/coreclr/commit/a3e884a062607ac296fc3943796627e2209a95ea (see the tag at the top)

@shrah @tarekgh any reason why this issue is still

[2018-03-21 15:18] karelz commented on #23745
@sabatmonk do you have a minimal repro we can try locally? Which distros did you try?

[2018-03-21 15:22] tarekgh commented on #28285
@MohammadHamdyGhanem I am going to close this issue and feel free to open a new issue with specific cases you see we need to enhance. The design committee went through this exercise of the new APIs exposed in 2.1. We cannot change the old APIs though. even if you think net core is side by side, but we don't want to break the libraries depend on the old behavior and can be used with the apps target

[2018-03-21 15:22] #28285 closed

[2018-03-21 15:25] skarllot opened #28314 "Allow custom equality comparer on ConcurrentDictionary TryUpdate"
The method `TryUpdate` from `ConcurrentDictionary` should allow to set a custom equality comparer for the value.

## Rationale and Usage

A custom equality comparer for `TryUpdate` can target three problems.

### Ahead Of Time

On some platforms is demanded static compilation ahead of time. On those platforms code generation is not allowed.
When the method `TryUpdate` use `EqualityComparer<T>.Defa

[2018-03-21 15:42] ma-bjo commented on #25773
@AlexGhiondea I have already attached two solutions to this thread, see my post from January 18.

So are you saying that @davidsh and others are wrong when they previously stated that the versions in the GAC should be used?

If there are bugs in .NET Framework 4.7.1, why isn't that fixed instead of trying to work around the issue with additional files and redirects? Can you give any details about

[2018-03-21 15:48] karelz commented on #28306
Closing per above comment

[2018-03-21 15:48] #28306 closed

[2018-03-21 15:49] danmosemsft commented on #21920
@Anipik this is failing on Alpine (only). You might get a repro machine to figure out why.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180321.05/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.DirectoryInfo_Delete~2FUnix_NotFoundDirectory_ReadOnlyVolume

[2018-03-21 16:06] tmat commented on #28301
There is no difference between `full` and `pdb-only` since Visual Studio 2013 (Roslyn).

[2018-03-21 16:09] dotnet-mc-bot opened #28319 "chmod: cannot access '/root/corefx-1502077/bin/testhost/netcoreapp-Linux-Debug-arm64/dotnet': No such file or directory"
Opened on behalf of @jcagme

Warnings: 2
Status Message: failed

Build : Master - 20180321.05 (Product Build)
Failing configurations:
- Linux
  - arm64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/build~2Fproduct~2F/build/20180321.05/workItem/Orchestration/analysis/external/Link)

[2018-03-21 16:36] pentp commented on #25707
The latest preview version resolves the issue.

[2018-03-21 16:37] danmosemsft commented on #28319
@sdmaclea this may be what you already fixed

[2018-03-21 16:38] karelz commented on #25707
Closing per comment above

[2018-03-21 16:38] #25707 closed

[2018-03-21 16:39] danmosemsft commented on #28311
I guess in this case it does not appear to be a test issue, but a product/GDI issue.

[2018-03-21 16:40] danmosemsft commented on #28302
Presumably #28240

[2018-03-21 16:40] #28302 closed

[2018-03-21 16:41] danmosemsft commented on #28271
@weshaggard any context?

[2018-03-21 16:48] danmosemsft commented on #27662
https://github.com/dotnet/corefx/pull/28242

[2018-03-21 16:53] danmosemsft commented on #27662
In CI I see ext2 on most distros and xfs on Centos/RHEL

In official, I see tmpfs on Fedora, ext2 on SLES, OpenSuse, Ubuntu, Debian, RHEL69, xfs on RHEL73/74, Centos 73/74, Overlay on Alpine 36

.. so no consistent pattern.

On an Ubuntu 1604 repro machine,
[code]

I guess a debugger is needed now.

[2018-03-21 16:53] weshaggard commented on #27942
@jp2masa what version of MEF are you using and on what framework? Is this on .NET Framework.

Can you share the code you are using to create the container and pull the export?

[code]

With that code along with a change to your Metadata view I got this to work:

[code]

[2018-03-21 16:59] jp2masa commented on #27942
I'm using System.Composition on .NET Core 2.0.

[2018-03-21 17:37] danmosemsft commented on #25781
This does not seem critical for 2.1? Or is there a reason it must be fixed?

[2018-03-21 17:37] danmosemsft commented on #24537
I'm going to close this since it's apparently been 6 weeks and it's not clearly actionable - please reopen if it happens again

[2018-03-21 17:37] #24537 closed

[2018-03-21 17:39] safern commented on #25781
Not critical. I must have added the 2.1.0 label automatically. Thanks @danmosemsft

[2018-03-21 17:40] rmkerr commented on #20245
After discussing this issue with @karelz and @wfurt, I think that we should just be skipping this test on Unix. The ability to resolve the localhost just isn't a guarantee that is made on Unix.

In the interest of "testing as much as we can" I'm going to enable the test, but pass it if we get the specific error that indicates we haven't been able to resolve the localhost on Unix. That way we'll ho

[2018-03-21 17:40] weshaggard commented on #27942
OK it seems like that is a limitation with determining the type of metadata, which I don't expect will be easily fixed without breaking other scenarios. If you need this to remain a string array you will have to do this:

[code]

[2018-03-21 17:45] yujayee opened #28321 "NaN test fails on IL based serializer."
When a double or single property or field is attributed to say the default value is NaN, the IL and reflection based serializers still serialize the NaN value. It is expected that when a field or property has the same value as the attributed default value, that the value is not serialized.

This issue is caused by the fact that the expression `double.NaN != double.NaN` will return true. These seri

[2018-03-21 17:47] danmosemsft commented on #27973
For these
[code]

Both derive from Dictionary which implements ISerializable so I guess we can remove the implementation from these types (which we haven't marked [Serializable]) -- @ViktorHofer can you confirm?

[2018-03-21 17:47] sdmaclea commented on #28319
I cannot see any details on the link you posted.  Most likely because I am logged in as anonymous.

[2018-03-21 17:48] tannergooding commented on #28321
@yujayee, for serialization, does the underlying bit representation of the given `NaN` matter (or is it at least explicitly documented not to)?

[2018-03-21 17:48] danmosemsft commented on #27973
?All the others seem to not be public/proteted in .NET Framework therefore our implementation should make them internal/private (or remove if dead code)

[2018-03-21 17:49] sdmaclea commented on #28319
My attempt to fix Product Build for arm64 is #28289

[2018-03-21 17:55] sdmaclea commented on #28319
The title of thei PR is cocnsistent with the error you get when you call either:
`./sync.sh -p -- /p:ArchGroup=arm64`
0r
`./build.sh  -buildArch=arm64 -Debug`

The new flow in #2820 (CI) & #28289 (Product Build) is designed to fix that.

[2018-03-21 17:55] ScotMac commented on #28249
This functionality is greatly needed. We specifically need access to the contents of the SecretBag, from a read only perspective.

[2018-03-21 17:59] yujayee commented on #28321
@mconnew

[2018-03-21 18:02] davidsh commented on #27861
Moving to future since the behavior now matches .NET Framework and the request can be processed by ignoring the cookie. We still may enhance cookie parsing to handle variations in the date format that include 'UTC' timezone indicator.

[2018-03-21 18:04] davidsh commented on #28027
It seems that the behavior differs depending on which proxy is used. Using the test 'HappySockets' proxy server, we get a RST back after the close frame (which causes this test failure). Using Fiddler, we get a FIN.

However, the test passes using .NET Framework and 'HappySockets' proxy server.

Need to investigate further to determine whether or not this is a test bug (proxy server shouldn't be s

[2018-03-21 18:11] safern commented on #27351
This should be future, seems like libgdiplus issue.

[2018-03-21 18:12] safern commented on #21129
@satano any progress o this? Do you have any questions?

[2018-03-21 18:12] mklement0 commented on #23592
@terrajobst: Good point; I'd actually not realized that the initializer even works with non-literal elements:

[code]

Thinking more broadly, though (and I'm happy to take this tangent where it belongs if it has any merit), should a `public void AddRange (System.Collections.Generic.IEnumerable<T> collection);` method be added to type `System.Collections.ObjectModel.Collection<T>`?

[2018-03-21 18:13] safern commented on #22630
Marking as future.

[2018-03-21 18:26] safern commented on #27433
PR is good to go, we're just waiting for CI to be green but it has been broken since yesterday.

[2018-03-21 18:26] safern commented on #21129
Sweet. Thanks for the update.

[2018-03-21 18:27] bobuva commented on #28230
@karelz I think I have the ALPN negotiation working. I'm using GRPC for data communications and it appears now that is where my bottleneck lies. Can you tell me if this sample code for SSL ALPN looks as it should? https://gist.github.com/bobuva/0026b8760a44b9c4e60f4649978f1766

[2018-03-21 18:38] stephentoub commented on #28310
dogfood

[2018-03-21 18:45] #28205 closed

[2018-03-21 18:46] joperezr commented on #26996
Can anyone hitting this upgrade to VS 15.6.3? We added a fix in the tooling that should fix the automatic binding redirect issue and reference the right dll which should have the method.

[2018-03-21 18:48] ericstj opened #28326 "Windows.Compatibility fails restore due to downgrades"
Create the project:
[code]

Restore it.

Observe failure:
[code]

This is beceause PKCS is listed as a `PrereleaseLibraryPackage` but Cng is a *stable* `LibraryPackage`.  This results in the downgrade.

/cc @safern @weshaggard

[2018-03-21 18:59] safern commented on #27312
@RusKnyaz I'm sorry to hear about you being disappointed, we're trying to do our best to have a cross-platform System.Drawing with the same behavior in between Windows and Unix and the reason why we chose libgdiplus is because of all the native calls being similar to GDI+, without that, it would've been somehow impossible to have a cross System.Drawing in this time frame.

However we really apprec

[2018-03-21 19:00] alexkeh commented on #28249
Excellent! Our only must have feature here is read-only SecretBag contents access. Thanks for working on this.

[2018-03-21 19:01] weshaggard commented on #28271
It is a feature request for the package. The owner should decide if they can support it there and want to add the configurations.

[2018-03-21 19:03] weshaggard commented on #25781
I think that is fine but I do worry a little about the compatibility between core and .net framework.

[2018-03-21 19:14] kouvel commented on #27369
@AlexGhiondea

[2018-03-21 19:14] kouvel commented on #28271
@AlexGhiondea

[2018-03-21 19:19] danmosemsft commented on #25781
We do have the ability to reship this if necessary

[2018-03-21 19:28] maryamariyan opened #28328 "Adding EnsureCapacity and TrimExcess APIs to SortedSet"
We want to add the EnsureCapacity and TrimExcess APIs to SortedSet.

The following APIs were approved earlier by @terrajobst at  https://github.com/dotnet/corefx/issues/24445#issuecomment-352869027

[code]

cc: @terrajobst @danmosemsft

[2018-03-21 19:29] corivera commented on #23984
@ezeasharma Were you able to resolve this issue?

[2018-03-21 19:29] maryamariyan commented on #28328
We've added EnsureCapacity and TrimExcess apis to Dictionary and HashSet as of corefx issue https://github.com/dotnet/corefx/issues/24445.

@terrajobst for HashSet and Dictionary we could already set Capacity from their constructors.
But this is a bit different for SortedSet. SortedSet has no constructor taking capacity as input. Given this knowledge, are these two APIs still needed for SortedSet?

[2018-03-21 19:31] maryamariyan commented on #24445
Closing this issue as we've added EnsureCapacity and TrimExcess APIs to Dictionary and HashSet.

Created a new issue https://github.com/dotnet/corefx/issues/28328 for tracking adding the same APIs to SortedSet.

[2018-03-21 19:31] #24445 closed

[2018-03-21 19:32] ezeasharma commented on #23984
Nope. Still seeing the same behaviour. Is there any patch released on top of 2.0?

[2018-03-21 19:35] corivera commented on #23984
There's a preview build for 2.1 available at https://www.nuget.org/packages/System.Data.SqlClient/4.5.0-preview1-26216-02

Does explicitly specifying the port in the DataSource fix this?

[2018-03-21 19:41] ezeasharma commented on #23984
@rzachariah

[2018-03-21 19:47] karelz commented on #28230
Yep, it looks as what I would expect - if it works great.
What was the problem with your previous attempts? Is there something we should change / document?

[2018-03-21 19:49] ezeasharma commented on #23984
We will give both a shot but it could take few days. will report back here.

[2018-03-21 19:56] OmarTawfik commented on #26772
cc @VSadov in case he had comments on the API.

[2018-03-21 20:00] OmarTawfik commented on #27972
@weshaggard what is the timeline for this work?

[2018-03-21 20:02] ahsonkhan commented on #27094
Since we are moving it to MemoryMarshal, simplifying the name doesn't get us much. Also, explicitly stating `MachineEndian` hints at why these APIs are different rather than simply calling them Read/Writes.

cc @KrzysztofCwalina

[2018-03-21 20:10] karelz commented on #28114
Progress on bugs: https://twitter.com/ziki_cz/status/976549475513544705
Highlights:
* Great progress on issues without milestone over last week - it will allow us to focus even more on 2.1 bugs now.
    * We went down to "just" 26 issues without milestone from 252 (+incoming)
    * We have only 6 issues without milestone are older than 1 week
* 1.5 weeks until 3/31 and plenty of 2.1 bugs to addres

[2018-03-21 20:13] jkotas commented on #28255
@JeremyKuhne Do we have examples of where the no-allocation version of this API makes a difference?

You are about to create a temporary file. Creating a temporary file is orders of magnitude more expensive operation than just allocating a string.

I think the no-allocation version of these APIs are adding negative value to the platform.

[2018-03-21 20:16] jkotas commented on #28258
See my comment https://github.com/dotnet/corefx/issues/28255#issuecomment-375080407

I do not think we should be adding this API.

[2018-03-21 20:17] jkotas commented on #28256
See my comment https://github.com/dotnet/corefx/issues/28255#issuecomment-375080407

I do not think we should be adding this API.

[2018-03-21 20:18] jkotas commented on #28255
(Add `Path.TryGetRelativePath()` and `Path.TryGetFullPath()` are fine.)

[2018-03-21 20:23] JeremyKuhne commented on #28256
I disagree. This is used a lot to build larger paths. I would agree with you if you were talking `GetTempFileName()`.  All of the APIs that were in #27418 are used for composing larger paths.

[2018-03-21 20:30] svick commented on #28328
`SortedSet<T>` is implemented as a tree:

https://github.com/dotnet/corefx/blob/92c204f51d208ae9dc854a59fcc01afa90264205/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L48-L52

https://github.com/dotnet/corefx/blob/92c204f51d208ae9dc854a59fcc01afa90264205/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L1676

https://github.com/dotnet/corefx/blob/92c204f51d20

[2018-03-21 20:30] jkotas commented on #28256
It would help if you show me a profile from msbuild or something that shows creating temporary filenames or paths is a significant source of allocation, and reducing them will make a significant difference.

I do not think we should be blindly adding a no-allocation version of every API that returns string. There is a threshold after which it becomes negative value. This API is above that treashol

[2018-03-21 20:36] luigiberrettini commented on #28306
How can we pass KeepAlive on non Windows OSes?

Given a .NET Standard version, I thought that, building against a set of target frameworks that implement it, meant supporting all the features of that version on each platform the framework was installable on.

At the moment docs are quite confusing, because they do not warn develoers about platform specific issues and they suggest to see the Window

[2018-03-21 20:36] luigiberrettini commented on #28305
Does Socket.LingerState also set DoNotLinger to false?

Given a .NET Standard version, I thought that, building against a set of target frameworks that implement it, meant supporting all the features of that version on each platform the framework was installable on.

At the moment docs are quite confusing, because they do not warn develoers about platform specific issues and they suggest to see th

[2018-03-21 20:36] karelz commented on #27907
I am able to reproduce it, but only with UnitTest project. Do you have a repro / scenario without UnitTest project?

[2018-03-21 20:39] ViktorHofer commented on #19715
@huanwu is this still to do?

[2018-03-21 20:40] stephentoub commented on #28306
You should be able to use Socket.SetSocketOption with SocketOptionName.KeepAlive on all OSes.

cc: @terrajobst

[2018-03-21 20:42] ViktorHofer commented on #20884
@safern I think we should prioritize this item. Do you have plan to address the mentioned issues here or should I step in and help?

[2018-03-21 20:42] weshaggard commented on #27972
Assuming the reference assembly is correct then this work can be done post-2.1.

[2018-03-21 20:42] stephentoub commented on #28305
LingerState is of type LingerOption, which has an Enabled property (and ctor argument) that controls whether linger is enabled or disabled.

[2018-03-21 20:43] JeremyKuhne commented on #28256
I agree with you in principle, but this is not a blind adding. We have a number of no-allocation APIs that are used to compose larger paths. We want to provide a consistent no-allocation route for building these. If these were not part of a larger story, were complicated to implement, etc. they would fall below the line for me as well.

[2018-03-21 20:44] huanwu commented on #19715
@ViktorHofer It is to track Microsoft.XmlSerializer.Generator issues. I will move the milestone to future for the remaining things.

[2018-03-21 20:44] karelz commented on #28306
@mairaw was incorporating our platform specific info from:
* https://github.com/dotnet/platform-compat
* https://github.com/dotnet/corefx/wiki/ApiCompat

However, I think this one is not called out. @luigiberrettini would you mind submitting a PR with docs changes to capture the fact? (@mairaw any recommnedations how?)

[2018-03-21 20:48] karelz commented on #21148
I am moving it to Future. If it proves to be critical for Sockets perf 2.1, we can bring it back. On its own, I don't think it is critical at this point.

[2018-03-21 20:50] luigiberrettini commented on #28306
This does not allow to set [keepalive time and interval](https://github.com/graffen/NLog.Targets.Syslog/blob/v5.0.0-beta-02/src/NLog.Targets.Syslog/MessageSend/KeepAlive.cs) and I did not find any other way to do it

If you tell me the repo I can work on it

[2018-03-21 20:50] ViktorHofer commented on #21704
As this is UWP specific I moved it to UWP6.1 and will check if this is still accurate locally.

[2018-03-21 20:51] jkotas commented on #28256
The story without the no-allocation way to get temporary path would be as much as consistent as with them. I do not think they are making the story more consistent.

[2018-03-21 20:52] bobuva commented on #28230
Here is a image of what I'm seeing in Wireshark, starting with the `Client Hello`. After what appears to be a successful handshake (including ALPN negotiation), my client apparently is sending a RST (reset) and I don't know why. Maybe it's just TCP cleaning up?

![image](https://user-images.githubusercontent.com/60141/37736787-0fec1c8a-2d0f-11e8-9feb-bd5f3168714b.png)

[2018-03-21 20:54] stephentoub commented on #28306
What API on Linux and macOS would?
cc: @tmds

[2018-03-21 20:54] ViktorHofer commented on #22332
@VSadov is the described situation still accurate or have improvements already been made to Span handling in Linq?

[2018-03-21 20:56] karelz commented on #28230
What kind of problems is it causing? Does it drop the connection?

[2018-03-21 20:58] karelz commented on #28306
Docs repo is: https://github.com/dotnet/docs (or just browse documentation and click the Edit button)
However, let's wait on guidance from @mairaw how to best capture platform differences in a unified way.

[2018-03-21 20:58] wfurt commented on #28306
Look at https://github.com/dotnet/corefx/issues/14237 @luigiberrettini
We should drive that to completion. It is open for grabs.

[2018-03-21 20:59] clarkis117 commented on #28299
@karelz I'll pick this one up. The test in question can be simplified to not use compiled XSLT.

[2018-03-21 21:01] qmfrederik commented on #27320
@RusKnyaz A lot of fixes were recently committed for libgdiplus.

Just to be sure, can you try with the latest version of libgdiplus?
You should be able to do:
[code]

to patch libgdiplus on your system. Make sure to remove the version of libgdiplus that ships with your Linux distro, though.

If you're on Ubuntu 16.04 and up to it, you can use packages from my ppa - https://launchpad.net/~quamotio

[2018-03-21 21:02] luigiberrettini commented on #28306
Should be [this](http://tldp.org/HOWTO/html_single/TCP-Keepalive-HOWTO/#setsockopt), but to avoid using platform specific PInvoke it should be wrapped by the framework

[2018-03-21 21:02] bartonjs commented on #22626
Reopening due to activity on https://github.com/dotnet/standard/issues/530.

[2018-03-21 21:03] safern commented on #27320
@qmfrederik thanks for the update, I can test it as well. The repro seems very clear.

[2018-03-21 21:06] JeremyKuhne commented on #28256
Other than you are forced to allocate. We can't cache the temporary path without breaking people, others may be in the same boat.

[2018-03-21 21:06] ViktorHofer commented on #23588
@danmosemsft is somebody working on this?

[2018-03-21 21:08] bobuva commented on #28230
After making the SSL connection, I create a grpc channel and send a message awaiting a response. I get a `Grpc.Core.RpcException` indicating that the stream was removed (it does bi-directional streams). `tcpview` shows the connection as having been `Established`, so I think it remains connected until I close the program. I bubble up the exception to the UI so I can see it immediately.

[2018-03-21 21:09] danmosemsft commented on #23588
Unfortunately not. At least OpenCover should [soon support portable PDB](https://github.com/OpenCover/opencover/issues/595#issuecomment-374838608) clearly there's other issues to root cause here.

[2018-03-21 21:09] kasper3 commented on #27783
@stephentoub, for the build-from-source scenario, is it ok to relax this check: https://github.com/dotnet/corefx/blob/9a2e5d8f0e7f816f983bce75f5bba22811df4994/src/Native/Unix/System.Net.Http.Native/CMakeLists.txt#L4-L6 and make corefx native build without libcurl?

[2018-03-21 21:10] danmosemsft commented on #23588
Not required to ship --> Future.

[2018-03-21 21:12] bobuva commented on #28230
Interesting... I'm now not getting the `[RST, ACK]` that's the last entry in the Wireshark output shown earlier! Trying to figure out if it was a small change I just made or not...

[2018-03-21 21:13] #23548 closed

[2018-03-21 21:16] stephentoub commented on #23588
😩

[2018-03-21 21:17] sdmaclea opened #28333 "[Arm64/Linux] Framework packaging is not quite correct"
I just took a look at
[code]

Looks like things are OK for v2.1
[code]
But arm64 support is not mentioned as supported in earlier versions.

@jkotas

[2018-03-21 21:17] stephentoub commented on #28133
This has been happening a fair amount, especially on macOS for some reason, e.g.
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/4a293fce894b2511ea4d66022936146a33157ffa/workItem/System.Net.Http.Functional.Tests/wilogs
https://mc.dot.net/#/user/AlexRadch/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b4628a60

[2018-03-21 21:18] sdmaclea commented on #28333
Probably #21236 was wrong

[2018-03-21 21:20] ViktorHofer commented on #23759
Jeremy do we need this for 2.1? If yes I will add some.

[2018-03-21 21:23] ViktorHofer commented on #23863
Thanks, I'm fine for now with the information provided in the links. Probably worth pointing out that the Bonus Points at the bottom need updates as I believe some of them are already addressed.

I think this issue should be moved to the dotnet/docs repo.

[2018-03-21 21:24] rmandvikar opened #28335 "SqlDateTime.MinValue returns year 1953 instead of 1753 on netcoreapp2.0"
`SqlDateTime.MinValue` returns year 1953 instead of 1753 on `netcoreapp2.0`. I get the correct year on `net471` (date 1/1/1753).

[code]
Below is the travis-ci log snippet and here is [full travis-ci log link](https://travis-ci.org/rmandvikar/csharp-extensions/builds/356540020#L692-L696).

[code]

[2018-03-21 21:26] sdmaclea commented on #28333
@janvorli Looks like a similar issue exists for `alpine.3.6-x64`  2.1 the only supported version.  Seems like it should be just as backward compatible as anyother Linux platform.

[2018-03-21 21:27] #27379 closed

[2018-03-21 21:30] ViktorHofer commented on #24728
Jeremy have you already started with this? That should be quickly done. Should I help?

[2018-03-21 21:30] ahsonkhan opened #28336 "Consider optimizing Span IndexOf for OrdinalIgnoreCase (portable span)"
This is specific to portable span (and not fast span).

We do not necessarily need to allocate and call the string APIs when StringComparison is OrdinalIgnoreCase for IndexOf.

See https://github.com/dotnet/corefx/pull/28239#issue-176098021 for details and a proposed implementation of IndexOfOrdinalIgnoreCase as a starting point.

We would need to test and measure to make sure there isn't signific

[2018-03-21 21:31] luigiberrettini commented on #14237
Isn’t this issue similar or superseded by #25040?

I think the public API should contain all possible socket options instead of allowing unsafe behavior, then a package like the Windows Compatibility Pack, could allow platform specific features.

[2018-03-21 21:35] karelz commented on #25253
Does not seem to be critical for 2.1 - moving to Future. If it blocks ASP.NET on Sockets perf investigations. In such case, we can bring it back.

[2018-03-21 21:36] kasper3 commented on #26739
Sounds reasonable. i found some hints of LibreSSL in CoreFX sources https://github.com/dotnet/corefx/search?q=libressl and was wondering therefore.

Since [build-from-source document](https://github.com/dotnet/source-build/blob/dev/release/2.1/Documentation/boostrap-new-os.md#development-libraries) particularly mentions `openssl or libressl` under dev dependencies, could the team's stance instead

[2018-03-21 21:36] keeratsingh opened #28337 "Setting keepalivetime and keepaliveinterval on Linux Sockets"
This question is in regards to #28061 and as per diagnosis by @saurabh500 :

I was able to successfully set the `SocketOption` `KeepAlive` to Use Keep-Alives via `SetSocketOption` method
`_socket.SetSocketOption(SocketOptionLevel.Socket, SocketOptionName.KeepAlive, true);`
However I am having trouble setting `keepalivetime` and `keepaliveinterval` values.

It is my understanding that using `Socket

[2018-03-21 21:36] geleems commented on #27974
In the MatchingRefApiCompatBaseline.txt,
It says the constructor `Microsoft.SqlServer.Server.SqlMetaData(System.String, System.Data.SqlDbType, System.Type)` does not exist in implementation, but does exist in the contract.
https://github.com/dotnet/corefx/blob/2169709020cb51c95aedf66f3db7c41d7d54a725/src/System.Data.SqlClient/src/MatchingRefApiCompatBaseline.txt#L2

But actually the constructor do

[2018-03-21 21:37] ViktorHofer commented on #24473
I don't believe this is specific to 2.0 nor to .NET Core at all. The Uri serialization code is the same between netfx and master. I believe this is due to a special handling of non-serializable types (.NET Core 1.1) in JSON.NET. I'm closing this for now. If we get another minimal repro I'm happy to look into it and reopen.

[2018-03-21 21:37] #24473 closed

[2018-03-21 21:38] ahsonkhan opened #28338 "SyndicationFeed_Load_Write_RSS_With_Optional_Elements test fails in CI with UnauthorizedAccessException"
From https://github.com/dotnet/corefx/pull/28308
System.ServiceModel.Syndication.Tests.BasicScenarioTests/SyndicationFeed_Load_Write_RSS_With_Optional_Elements
Windows.10.Amd64.Open-x86-Release
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ee4cab88df3d975a6f9cee26cd2c7b916d3b450e/workItem/System.ServiceModel.Syndication.Tests/ana

[2018-03-21 21:45] janvorli commented on #28333
@sdmaclea I am not sure I understand your last comment. We support alpine from 2.1 only, porting it back to 2.0 was not something we wanted to do.

[2018-03-21 21:45] karelz commented on #28045
Does not seem to be critical for 2.1 - we already have this in place in 2.0 and earlier.
Still would be good to implement for large-scale scenarios (esp. reliability).

[2018-03-21 21:46] janvorli commented on #28333
Do you want to enable arm64 support for 2.0 too? That would mean that you'd have to port all of the relevant arm64 changes to 2.0 first.

[2018-03-21 21:50] sdmaclea commented on #28333
It looks like when we build CoreFX 2.1 for Linux, the packages produced claim to support earlier NetStandard Versions.  They use the same native binaries as far as I can tell.

Not sure it would just work for arm64 and alpine too.

[2018-03-21 21:51] jkotas commented on #27094
Well, `AsBytes` or `Cast` do the operation in machine-endianess context as well.

Compare:

[code]
vs.
[code]

Why did you put machine endianess in my face for the first one, but not for the second one? The naming does not feel consistent.

[2018-03-21 21:52] sdmaclea commented on #28333
i.e.
[code]

[2018-03-21 21:54] sdmaclea commented on #28333
The 2.1 prerelease announcement video took time to emphasize it would support backwards compatibility, i.e. 2.0 apps.

[2018-03-21 21:54] ahsonkhan commented on #27094
Good point. I am fine with simplifying the name to remain consistent. Krzysztof, Immo, any objections? cc @terrajobst

[2018-03-21 21:55] weshaggard commented on #27974
Yes the wording in the baseline file is confusing, as this is a reverse apicompat check "implementation" in baseline is really the ref and "contract" in the baseline is really the src.

[2018-03-21 21:56] KrzysztofCwalina commented on #27094
I am ok with either naming/design

[2018-03-21 21:57] karelz commented on #26355
Next steps:
* Understand behavior on .NET Framework (set up machines)

Given that this is larger work item, we need to push it to Future at this moment. If there are signs we have problems in the area, we can revisit.

[2018-03-21 22:01] karelz commented on #27908
We are now at 3s timeout, which is not that bad. There is no super-simple way to fix it. Moving to Future.

[2018-03-21 22:05] karelz commented on #25163
Reusing Request objects is not officially supported & encouraged, so we can move it to Future. If we get feedback, we can reconsider.

[2018-03-21 22:08] janvorli commented on #28333
Where does the stuff in your previous comment come from? I've opened e.g. this nugget package: https://dotnet.myget.org/F/dotnet-core/api/v2/package/runtime.linux-x64.Microsoft.Private.CoreFx.NETCoreApp/4.5.0-preview3-26319-04 and it contains just netcoreapp2.1

[2018-03-21 22:13] joperezr commented on #25024
@joshfree we need to merge #28340. After that this should be closed.

[2018-03-21 22:17] cshaar opened #28341 "StringFormat curly brace escaping error"

[2018-03-21 22:18] cshaar commented on #28341
Run the following code and you get the followin output{
0
0
{0}
{}
namespace myApp
{
    class Program
    {
        static void Main()
        {
           Console.WriteLine(String.Format("{0}",0));  // no format string
           Console.WriteLine(String.Format("{0:}",0)); // no format string with colon
           Console.WriteLine(String.Format("{{{0}}}",0)); // no format string with escaped cu

[2018-03-21 22:26] geleems commented on #27974
@weshaggard Thanks for the info.
What is the command line to update the baseline?

[2018-03-21 22:27] Anipik commented on #21920
@danmosemsft we cannot repro tool with this failure. I will try to repro it using docker

[2018-03-21 22:29] sdmaclea commented on #28333
It came from my corefx build tree.  After I built arm64 and x64 packages
[code]

[2018-03-21 22:30] sdmaclea commented on #28333
I was checking to see that the arm64 packages were built correctly.  The significant size difference caught my eye.

[2018-03-21 22:31] ViktorHofer commented on #25267
I don't understand why this is set to 2.1 as it is a bug in netfx? Setting it to future for now.

[2018-03-21 22:33] safern commented on #27320
@qmfrederik I built libgdiplus locally, installed it and linked it to /usr/lib/libgdiplus.so and I got the same incorrect output, so seems this wasn't fixed in libgdiplus yet :(

[2018-03-21 22:36] ViktorHofer commented on #25706
Correct me if I'm wrong but this sounds like a bug in netfx and not something fixable as port of Core 2.1, right? Setting milestone to future. Do we have a TFS item that tracks this?

[2018-03-21 22:41] janvorli commented on #28333
This file doesn't seem to reflect what you've built locally, it is quite confusing. I can see e.g. this fragment on my Ubuntu 14.04. The files are definitely not compatible with dotnet core 1.0 and yet it lists them there. Moreover, before 2.0, there were no portable packages, so package for centos cannot be built or run on Ubuntu.
[code]

[2018-03-21 22:41] tarekgh commented on #21920
using docker is really easy. @joperezr helped me with other issues and it ended up to be very simple as long as you use the right Alpine image :-)

[2018-03-21 22:45] AlexGhiondea commented on #25706
This was fixed in .NET Framework 4.7.2.

@jkotalik there is an Early Access Preview for .NEt4.7.2 that you can try that has this fix.

[2018-03-21 22:45] #25706 closed

[2018-03-21 22:45] joshfree commented on #28341
@cshaar this is by design with how String Format handles escaped curly braces during processing.

The ```string s = String.Format("{{{0:N}}}", i);   //prints '{N}'``` example at https://blogs.msdn.microsoft.com/brada/2004/01/14/string-formatting-faq/ provides more details.

[2018-03-21 22:45] #28341 closed

[2018-03-21 22:48] sdmaclea commented on #28333
So should I close this?

[2018-03-21 22:51] bartonjs commented on #28303
This is covered under the desire for https://github.com/dotnet/corefx/issues/20414.

* RSA PKCS1
* PKCS8 (RSA, DSA, ECDSA)
* Encrypted PKCS8 (RSA, DSA, ECDSA)

And probably an "as PEM" or "as DER" (and maybe an "I'll guess")

It says import, but also intend an export.  If you're concerned that it won't address something, please feel encouraged to comment there.

[2018-03-21 22:51] #28303 closed

[2018-03-21 22:54] Davilink commented on #20296
Any news ? Still happen in dotnet core 2.0

[2018-03-21 22:57] janvorli commented on #28333
@eerhardt could you please help us understand the bin/packages/Debug/reports/runtime.linux-x64.Microsoft.Private.CoreFx.NETCoreApp.json contents? It seems to have entries for all versions of dotnet framework and native assets seemingly pointing to a local build of corefx stuff that was only built in the master branch for a different distro. See a fragment in my comment above.

[2018-03-21 23:00] stebet commented on #28303
Nice catch @bartonjs. I hadn't seen that issue. I'll add my comments there if needed. Thank you.

[2018-03-21 23:02] mayconbeserra commented on #23745
Sorry for the delay @karelz , but It works on .NET Core 2.

I only have one similar issue with .NET Core 2 on macOS High Sierra:

**Reported issue:** https://github.com/dotnet/corefx/issues/27000

[2018-03-21 23:07] ahsonkhan opened #28342 "TimesIncludeMillisecondPart_Linux test failing in CI on Ubuntu"
From https://github.com/dotnet/corefx/pull/28294
System.IO.Tests.FileInfo_GetSetTimes/TimesIncludeMillisecondPart_Linux
https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a319af0f981c27fd4bd680b6a545d44dc42fbbbc/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.FileInfo_GetSetTimes~2FTimesIncludeMillisecondPart_Linux

Ubuntu.1

[2018-03-21 23:08] ahsonkhan commented on #28342
cc @jkotas, related to https://github.com/dotnet/corefx/pull/28242?

[2018-03-21 23:17] safern commented on #20884
I've found plenty of tests disabled against this issue. I think we need to see which ones are still failing, try to consolidate all the exceptions between Windows and Unix and then all the libgdiplus related issues put them in one issue in corefx so that we can track them all, disable the tests against that issue and then open an issue in libgdiplus to get them fix and try to have a more stable cr

[2018-03-21 23:18] ViktorHofer commented on #25809
In fact the key returned by Console.ReadKey is printed on both Windows and Linux but the difference is that on Windows `ConsoleKeyInfo.KeyChar` is `\r` whereas on Unix it is `\n` when pressing enter (`ConsoleKeyInfo.Key` = `Enter`). That's by design as on Windows a newline consists of two character and because of that there is no newline printed onto the console. Closing.

[2018-03-21 23:18] #25809 closed

[2018-03-21 23:27] karelz commented on #20296
It is on our list of top problems for post-2.1. It won't be fixed in 2.0/2.1 though.

[2018-03-21 23:30] ViktorHofer commented on #26010
Closing as by design. PR for tests can be found here: https://github.com/dotnet/corefx/pull/28218

[2018-03-21 23:30] #26010 closed

[2018-03-21 23:31] VasiliyNovikov opened #28343 "Linux - FileStream.Length, FileStream.Seek & File.ReadAllBytes misbehaves with files in procfs"
I did the following experiment:
[code]
Which reports the following:
[code]
https://github.com/dotnet/corefx/blob/a8cfc6a498f0455c59b0030f74cba4dabeee86e1/src/System.IO.FileSystem/src/System/IO/File.cs#L320
This guy relays on FileStream.Length. I'm thinking if FileStream.Length should actually throw for files in procfs and CanSeek should return false for them and File.ReadAllBytes should check CanS

[2018-03-21 23:32] karelz commented on #14237
Looks like that.
Closing as duplicate of #25040.

[2018-03-21 23:32] #14237 closed

[2018-03-21 23:34] ViktorHofer commented on #27386
Closing.

[2018-03-21 23:34] #27386 closed

[2018-03-21 23:37] HalosGhost commented on #19521
I would like to add my voice to support this proposal. Rationals are actually incredibly useful for a wide variety of applications (for example, doing arithmetic with [currency](https://ren.zone/articles/safe-money) in a manner that is guaranteed to be accurate). In many cases where people use IEEE754 floats, rationals can be dramatically better.

I would like to suggest a few things though.

Firs

[2018-03-21 23:38] karelz commented on #27783
We still need to build CurlHandler as part of CoreFX (you can disable SocketsHttpHandler), so we need to keep it.

[2018-03-21 23:39] ViktorHofer commented on #27606
I agree here, the error message should be refined but I don't see this a must for 2.1 as it is a minor improvement not necessary for the upcoming release. Maybe we could add the type information on the native side?

[2018-03-21 23:41] tcables commented on #25960
I found that the error is not throwing directly to the consuming application, but throwing silently. If you look to Output > debug in visual studio, during property evaluation for the underlying DirectoryEntry for the Principal object, you will see the following error message:

`Exception thrown: 'System.Runtime.InteropServices.COMException' in System.DirectoryServices.dll`

example code:

[code]

[2018-03-21 23:42] karelz commented on #27000
Just to clarify: Your server requires client certificate to be sent? (the ServerCertificateCustomValidationCallback will only take care of ignoring server certificate)
If that's the case, you can't use OSX in that scenario until 2.1 with SocketsHttpHandler.

[2018-03-21 23:43] karelz commented on #23745
@mayconbeserra there is different exception in #27000. Why is that the same?

[2018-03-21 23:50] jkotas commented on #28342
cc @danmosemsft

[2018-03-21 23:53] #27619 closed

[2018-03-21 23:57] ViktorHofer commented on #27891
I stumbled upon this issue a few weeks ago during some perf related work in Regex. I agree with what Levi says that the default is dangerous but also agree with what Jan says that Rent could return larger arrays than what you actually requested and clearing those could cause severe bottlenecks.

We could change the current design from:

[code]

to

[code]

and adapt the the existing uses in the BC

[2018-03-21 23:59] keeratsingh commented on #27769
@nils2612 Thank you for responding back.
Yes, I was able to repro the issue on Linux with Azure Sql DB with netcoreapp2.1
The issue was not seen with netcoreapp2.0 as tested, this issue is related to #27605 and we are actively working to find what has caused the regression.

Regards,
Keerat

[2018-03-22 00:01] jocull commented on #22626
I appreciate you taking action on this @bartonjs - thank you!

[2018-03-22 00:02] ViktorHofer commented on #27889
Levi I agree with what Jan said. Now what's the desired action here? Can we even do anything (analyzers) here till 2.1?

[2018-03-22 00:03] tarekgh commented on #25960
@tcables the fix is actually was inside coreclr and not in System.DirectoryServices. can you tell what version of .net core you are using?

[2018-03-22 00:06] ViktorHofer commented on #27679
@AlexGhiondea As ParseExact is nothing new I believe this can safely be switched to future?

[2018-03-22 00:07] joshfree commented on #19521
Just a quick note that there's a rudimentary Rational class from the old bcl codeplex site @ https://github.com/MicrosoftArchive/bcl/blob/master/Libraries/BigRational/BigRationalLibrary/BigRational.cs

@HalosGhost if you're passionate about working on a prototype or example Rational type for .NET Core, a repo for the experiment to happen in could be https://github.com/dotnet/corefxlab

However I d

[2018-03-22 00:11] karelz commented on #28319
Closing per comment above - it is fixed.

[2018-03-22 00:11] #28319 closed

[2018-03-22 00:16] karelz commented on #28337
Duplicate of #28343

If it is 2.1 critical, please let me know.

[2018-03-22 00:16] #28337 closed

[2018-03-22 00:26] keeratsingh commented on #28337
@karelz We were trying to get this fix into 2.1 until we encountered this issue.
I am trying to get a confirmation if there is any such API for Linux at the moment that helps us to set `keepalivetime` and `keepaliveinterval` on Linux Sockets.
I will let @saurabh500 answer the question regarding the 2.1 criticality.

Apologies in advance, however I can't seem to understand how this issue is a dupli

[2018-03-22 00:43] twgraham opened #28344 "Port being stripped off Host header in HttpRequestMessage constructed by HttpWebRequest"
Following investigations into restsharp/RestSharp#1085, it appears that the Host header `HttpRequestMessage` constructed by `HttpWebRequest.SendRequest()` is being stripped of the port. This is evident [here](https://github.com/dotnet/corefx/blob/3dc80d215591fca7b4991ed3e60fc4ddb8e0d460/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L1166) where only the Host of the URI is used, regardle

[2018-03-22 00:51] stephentoub commented on #27783
It's possible it could be made optional, i.e. System.Net.Http.Native.so builds if you have libcurl and is skipped otherwise.

[2018-03-22 00:51] karelz commented on #28337
Wrong bug number above - #25040 is the right one (I'll update above posts).

I don't think we have options to set it without the APIs - @geoffkizer @stephentoub @wfurt can you confirm?

[2018-03-22 00:55] davidsh commented on #28344
Regarding this code you cited in HttpWebRequest code:

[code]

You're right that it probably should be something like this:

if (_hostUri != null)
{
    request.Headers.Host = _hostUri.Host + ":" + _hostUri.Port;
}
[code]

[2018-03-22 00:55] davidsh commented on #28344
cc: @karelz

[2018-03-22 01:00] karelz commented on #28344
This is result of early dogfooding of our bits. I asked the original thread if we know if it is a regression (in 2.0, 2.1, against Desktop, or Linux vs. Windows)
@caesar1995 can you please help reproduce it?

[2018-03-22 01:04] davidsh commented on #28344
Looking at the release/2.0.0 source code, this bug existed in 2.0 release as well.

[2018-03-22 01:04] akoeplinger commented on #27320
@filipnavara might be another challenge for you? :)

[2018-03-22 01:11] karelz commented on #28344
Ah, I missed the code reference earlier - should be fairly simple to fix. Looks like a compat problem against .NET Framework.

[2018-03-22 01:36] JeremyKuhne commented on #23444
We never took this interop dll.

[2018-03-22 01:38] tcables commented on #25960
My Asp.net Core website is targeting ".Net Core 2.0". The package I'm consuming to handle the AD abstractions is targeting .net standard 2.0.

I also ran `dotnet --info` from the package manager console:

[code]

[2018-03-22 01:40] JeremyKuhne commented on #23759
@ViktorHofer If you have time for it, please take it. If not, move it to future please. :)

[2018-03-22 01:44] brianrob commented on #28099
@JeremyKuhne thanks for pointing out the failures you saw.  I was able to reproduce it and find the bug.  I've posted a PR and cc'd you on it.

[2018-03-22 01:48] danmosemsft commented on #27662
@JeremyKuhne and I investigated further on a repro machine

* Broke into test and extracted path to test file for which test is getting 0 nsec
* Verified stat in the shell successfully gives msec part on that file
* Verified calling lstat directly in c successfully gives msec part on that file
* Verified that the call to lstat in System.Native.so is successfully getting msec part (looked at the me

[2018-03-22 01:49] danmosemsft commented on #27662
The impact of this bug is likely that no customers using official built bits will get milliseconds on Linux.

[2018-03-22 02:40] jkotas commented on #27662
The official builds are targeting "portable Linux" that is the lowest version of all supported Linux system. Is it possible the official build machine does not have support for the milliseconds resolution? http://man7.org/linux/man-pages/man2/stat.2.html says that it is supported since Linux kernel 2.6 only.

You should be able to find this out by looking at the official build buildlogs (not sure

[2018-03-22 02:40] jkotas commented on #27662
@janvorli Do you happen to know what is the minimum Linux kernel version that we support with portable Linux flavor?

[2018-03-22 02:57] ahsonkhan commented on #27350
Based on our discussion here, https://github.com/dotnet/coreclr/pull/17115 special cases empty spans ahead of time to avoid passing to Interop code (and prevent NullReferenceExceptions), especially if the span wraps a null string.

**So, to summarize:**
- Should Span.Empty return a pointer to an empty array instead of default?
   - No
- Do we need to add IsEmpty checks before trying to deference S

[2018-03-22 02:57] #27350 closed

[2018-03-22 03:00] ahsonkhan commented on #28238
Partially fixed in https://github.com/dotnet/corefx/pull/28347

**Leftover for future:**
- Remove redundant span tests from System.Memory that were initially ported over from StringTests.
- Refactor the StringTests.cs to isolate these newly added span-based tests into a separate file (possibly moving them to Common) and reference them from System.Memory.Tests.csproj so that we can execute all rele

[2018-03-22 03:24] weshaggard commented on #24483
There isn't anything actionable here so closing. Feel free to ask follow-up questions or examples you need help fixing.

[2018-03-22 03:24] #24483 closed

[2018-03-22 03:40] akashkc commented on #28198
@stephentoub If we will use `Dictionary` instead of `ConcurrentDictionary`, for instance using ..NET 3.5, what would be your suggestion to write in `s_typeToNull` dictionary  in thread-safe manner? I've an impression that using lock on object make it exclusive access to write.

[2018-03-22 03:57] danmosemsft commented on #27662
This is what the official build log has:
[code]
This output means that there will be no milliseconds. Which suggests I made a mistake somehow when I did not get this result on an official build machine myself. I see it is doing:
[code]
I was not passing `-portable` because I did not know about it, but it seems to only affect `FEATURE_DISTRO_AGNOSTIC_SSL`

[2018-03-22 04:00] Clockwork-Muse commented on #28335
You're converting to text and back.  My first guess is that it's giving/using a 2-digit year.  What is the output of `SqlDateTime.MinValue.ToString()`, please?

Also, is there a reason you're not using [`SqlDateTime.Value`](https://msdn.microsoft.com/en-us/library/system.data.sqltypes.sqldatetime.value(v=vs.110).aspx)?  To/From text seems like a lot of extra work.

[2018-03-22 04:03] danmosemsft commented on #27662
BTW, looking at the uname telemetry on preview 1 there is no kernel claiming a version earlier than `Linux 3.10.0-229.11.1.el7.x86_64 #1 SMP Thu Aug 6 01:06:18 UTC 2015` (this is Centos 7.1)

Now to return to examine a build machine.

[2018-03-22 04:23] wfurt commented on #27662
do you log what file system this runs on? It would be nice if there is full path of the file.
Also note that many calls will respect TMPDIR in case it is set and that may not be /tmp
One of the traces had /mnt in path. That is often  something else than root fs.

[2018-03-22 04:34] #28099 closed

[2018-03-22 04:56] #28342 closed

[2018-03-22 05:27] rmandvikar commented on #28335
That was it, the date string had `yy` format instead of `yyyy` format. I changed to use `SqlDateTime.Value`.

Is there a reason why `datetime.ToString()` returns string in `yy` format (ex: `"6/15/09 1:45:30 PM"`) instead of `yyyy` format for `netcoreapp2.0` or perhaps has to do with travis CI machines? On my local machine, I get `yyyy` format on `net471`.

[2018-03-22 06:00] rhyous commented on #27907
That is great you duplicated it!
I didn't know it was limited to unit tests. But that is the only place I am having the problem.

This is causing a lot of head aches. Not just for me, but for many other users out there, too. Most of the developers so far have blamed unit test frameworks, such as Moq.

I am not sure of the exact cause or what causes it to happen. But further research shows the foll

[2018-03-22 06:06] VahidN opened #28352 "System.Drawing.Common and RTL support"
Currently `System.Drawing.Common` version "4.5.0-preview1-26216-02" doesn't support RTL on operating systems other than Windows. Here is a sample to demonstrate this issue:

`SystemDrawingCommonRtlTest.csproj` file
[code]

`Program.cs` file
[code]

And here are its output
On Windows 10: It works correctly
![rtl-text-microsoft windows 10 0 16299](https://user-images.githubusercontent.com/766010/377

[2018-03-22 06:13] ghost opened #28353 "Consider removing corefx repo build dependency on libcurl"
(https://github.com/dotnet/corefx/issues/27783#issuecomment-375096678)

For build (everything) [from source](https://github.com/dotnet/source-build), dependency on libcurl can be made optional, such that if the project was compiled in the absence of libcurl, this line instead of throwing fatal error:

https://github.com/dotnet/corefx/blob/9a2e5d8f0e7f816f983bce75f5bba22811df4994/src/Native/Unix/Sy

[2018-03-22 06:21] Petermarcu commented on #28353
Good suggestion

[2018-03-22 06:22] eriawan commented on #24093
Why not just solve this to use `System.CodePoint` instead?
Imho it's more proper in terms of terminology from Unicode, and other folks in Java world are using it. So instead of having term on our own, let's abide to Unicode terms. It makes more sense, and more universal in terms of general characters and string implementation in .NET, also knowing the fact that String in .NET is a collection of ch

[2018-03-22 06:26] ahsonkhan opened #28354 "System.Data.Tests.DataTableTest3/XmlSchemaTest3 failing in CI with UnauthorizedAccessException"
From https://github.com/dotnet/corefx/pull/28350
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f1982993db81bc168e62e059516816b78af59bb7/workItem/System.Data.Common.Tests/analysis/xunit/System.Data.Tests.DataTableTest3~2FXmlSchemaTest3

Windows.10.Amd64.Open-x64-Debug
[code]

Also System.Data.Tests.DataTableTest3/XmlSchemaTest7
ht

[2018-03-22 06:41] AlexRadch commented on #27629
I think this is not 'test-bug'.

[2018-03-22 07:15] safern opened #28355 "Debugging on Unix doesn't load symbols"
When trying to debug any corefx test in a Unix system the debugger is not able to load symbols. The only symbol that is correctly loaded is System.Private.Corelib one.

All the symbols are present and the debugger output's is:
[code]
and this for all the loaded assemblies. Note that all the pdbs in corefx live next to the dlls.

I remember this used to work before.

This is happening with both VSC

[2018-03-22 07:29] sabatmonk commented on #23745
@karelz i will try to make a container to reproduce the issue without code from work ;)
As for repo, i use microsoft/dotnet but it failed with microsoft/aspnetcore also. From my tests, i cannot call an arachni server on a different machine but it works if i use an arachni container ("official" one or custom) in the same docker network. Also, it does a weird behavior where the arachni server will c

[2018-03-22 07:45] ma-bjo commented on #25773
Thanks @joperezr for finally explaining the details! I'm still very troubled by this, but at least it is starting to make sense now.

Just for completeness, are the 12 runtime facades in my example all the assemblies that had buggy facades in .NET 4.7.1, or can we expect more?

Will the 12 facades always be added to the output folder when referencing a library targeting .NET Standard 2.0, or is it

[2018-03-22 07:47] soc opened #28356 "Environment.SpecialFolder should expose values for"

[2018-03-22 07:59] atiato commented on #27605
Hi @keeratsingh

Same issue .

Message: Timeout expired.  The timeout period elapsed prior to obtaining a connection from the pool.  This may have occurred because all pooled connections were in use and max pool size was reached. ------- Inner Exception:  ---------- Stack Trace:    at System.Data.ProviderBase.DbConnectionFactory.TryGetConnection(DbConnection owningConnection, TaskCompletionSource`

[2018-03-22 08:30] tmds commented on #28343
Almost all files in proc have zero size and should be read till EOF.
These files represent some live state of the system, and they don't have a content until you request the state (i.e. read).
You can seek these files. Seeking to the start is a way of refreshing the content of the file.

Since this is a special file system, I suggest to not make FileStream more complex to support this.
We could do

[2018-03-22 08:41] ahsonkhan commented on #28274
**Can you please share your library project csproj and your test project csproj?**

What do you mean by that? When you create a new class library project, Visual Studio sets the TargetFramework to netstandard2.0, by default. What is your library's tfm?

I was able to create a Class Library Project along with an xUnit Test Project (targeting .NET Core 2.1) and run the tests, just fine.

[code]
[cod

[2018-03-22 08:44] filipnavara commented on #27320
Not really being an expert on the code here are my observations.

The API for setting clip rectangle applies a matrix transformation to the rectangle:

[code]

and so does the `GdipSetClipRegion` API, but `GdipSetClipPath` doesn't do it.

Knowing this the workaround would be to call `graphics.SetClip(new Region(path), CombineMode.Replace);`. If you can confirm that it helps then I can try to patch

[2018-03-22 09:05] safern commented on #27320
I just confirmed this, and you are correct, calling `graphics.SetClip(new Region(path), CombineMode.Replace)` which will Pinvoke into `GdipSetClipRegion` works fine and produces:

![clip_linux](https://user-images.githubusercontent.com/22899328/37760958-2b4fe00a-2db0-11e8-99de-aba9d3e54af3.png)

which is the expected output.

[2018-03-22 09:14] AlexRadch opened #28358 "Strange messages in System.Xml.Xsl.XslCompiledTransformApi.Tests log"
System.Xml.Xsl.XslCompiledTransformApi.Tests log contains next messages in log:
[code]

[2018-03-22 09:17] ektrah commented on #28274
@ahsonkhan I'm seeing the same problem with System.Memory preview2 packages running on the preview1 runtime (2.1.0-preview1-26216-03).

That is, if the test run starts at all. Running the above test gets stuck at "Starting test execution, please wait...".

I assumed that preview2 packages simply don't run on preview1 SDKs.

[2018-03-22 09:19] Mutuduxf commented on #11494
I have catched the ex but not sure it is this issue.The demo repository is [here](https://github.com/Mutuduxf/DispatchProxyDemo).The file DynamicProxy.cs in the unit test project WebApiOnlyTest has a class like this
[code]

but when i modify the InvokeProxy access modifier to "public" it will be OK.

[2018-03-22 09:19] VasiliyNovikov commented on #28343
Shouldn't we at least fix File.ReadAllBytes to not return empty result?

[2018-03-22 09:25] dotnet-mc-bot opened #28359 "Test failure: System.Collections.Tests.SortedDictionary_IDictionary_NonGeneric_Tests/IDictionary_NonGeneric_Add_NullValueWhenDefaultTValueIsNonNull(count: 0)"
Opened on behalf of @Sunny-pu

The test `System.Collections.Tests.SortedDictionary_IDictionary_NonGeneric_Tests/IDictionary_NonGeneric_Add_NullValueWhenDefaultTValueIsNonNull(count: 0)` has failed.

System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

        Stack Trace:

           at System.Collections.Tests.SortedDictionary_IDictionary_NonGeneric_Tests.IDi

[2018-03-22 09:27] luigiberrettini commented on #28306
Superseded by #25040

[2018-03-22 09:37] dotnet-mc-bot opened #28360 "Test failure: System.Tests.EnvironmentTests/CurrentDirectory_SetToValidOtherDirectory"
Opened on behalf of @Sunny-pu

The test `System.Tests.EnvironmentTests/CurrentDirectory_SetToValidOtherDirectory` has failed.

Timed out after 60000ms waiting for remote process 25015
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose() in /Users/buildagent/agent/_work/74/s/corefx/src/Common/tests/System/

[2018-03-22 09:38] tmds commented on #28343
The challenge is that for proc (and similar) files we need to allocate a buffer up-front (and deal with it maybe being too small). Whereas for real empty files we don't want to be allocating a buffer at all.
And there isn't a good way afaik to distinguish between these files.