[2017-12-04 23:48] ahsonkhan commented on #25499
Closing as duplicate of https://github.com/dotnet/corefx/issues/14376

[2017-12-04 23:48] #25499 closed

[2017-12-04 23:51] safern commented on #25526
I think it should be fine for System.Drawing since `ArgumentException` and `InvalidOperationException` inherit from `Exception` so it is still typeof(Exception) and when people port their libraries from .NET Framework into .NET Core and expect an `Exception` it will still be caught.

I think splitting tests is good, or we have an `AssertExtension` method in corefx that can receive 2 exception type

[2017-12-04 23:52] ahsonkhan commented on #25669
Span is a stackonly (by-ref like) type and cannot be used as a generic as that would box it. If you need a type that needs to live on the heap, consider using `Memory<T>`

See [this](https://github.com/VSadov/csharplang/blob/ef68acb505ad1a3310de133ef7af65c2c24da520/proposals/span-safety.md#ref-like-types-must-be-stack-only) for more information on ref-like types.

[2017-12-04 23:52] #25669 closed

[2017-12-04 23:57] xenocons commented on #25669
Right, excellent @ahsonkhan thank you for solving this one, which was really a problem on my end. In summary, it previously worked (boxing a Span) due to the compiler being less stringent about the correctness of boxing a stack only type (in other words, my code was working but probably broken!)

[2017-12-05 00:03] scegg commented on #25672
Ahh I posted this in a wrong group, sorry.

[2017-12-05 00:06] karelz commented on #25672
No worries, closing. If it turns out to be problem here, please provide additional information why, ideally with repro without entire Roslyn ;)

[2017-12-05 00:06] #25672 closed

[2017-12-05 00:09] eerhardt commented on #23496
Full disclosure:  I'm OK with closing this issue as "We've analyzed the behavior change and believe this is the correct behavior going forward. We believe the breaking change is justified."  The reason I re-opened the issue is because it was being closed as "I can't repro the problem".

[2017-12-05 00:12] MarcinJuraszek opened #25704 "In-place Array.Resize"
Is there anything blocking us from providing in-place `Array.Resize` experience when the new size is smaller than the current size of the array? It would leave empty space in the heap, but that would be fixed the next time GC compaction runs.

[2017-12-05 00:13] saurabh500 commented on #25620
I could isolate the issue to Dns resolution of the endpoint of the Sql Server being slow.

When the requests for opening a socket to Sql Server pile up, there is an increase in DNS lookup times as well.
I have the application from @CESARDELATORRE clone at https://github.com/saurabh500/SQLConnNetCore2IssueRepro

The endpoint to use for the socket based repro is `http://localhost:22354/api/values/sq

[2017-12-05 00:14] tannergooding commented on #25702
`const Half` will not be possible at this time (https://github.com/dotnet/csharplang/issues/688 is one such language proposal that could support it).

I'm not sure that `IConvertible` should be implemented.

The rest of the API surface looks feasible to be implemented in software without too much overhead.

There should likely be an implicit conversions to `System.Single` explicit conversion from

[2017-12-05 00:16] saurabh500 commented on #25620
For a Single TCP connection to Azure SQL DB
[code]

Using wget to send multiple requests to the sqlnet endpoint
[code]
The DNS Resolution time starts increasing for every request. As a result the timeout for SqlConnection is expired by the time a connection to a SQL server is established.

[2017-12-05 00:25] Spaceman1861 opened #25705 "Dotnet Core 2.0.3 Migration | Encoding unable to translate bytes [8B]"
Hi folks,

Im not sure if this is the correct place for this issue so please tell me if i should move it.

I recently have upgraded one of my apps to use dotnet core 2.0.3 from 1.1.4.

Everything works fine locally but when I deploy to my app service in azure I get the following exception.

[code]

The code that calls it is a httpclient that talks between the apps.

[code]

I'm a bit stumped as to

[2017-12-05 00:26] jkotalik opened #25706 "RuntimeInformation.OSArchitecture returns wrong value between net461 and netstandard2.0 and loads two different assemblies"
## **Example:**
Create a new application and a new library:
`dotnet new console`

Repro.cs:
[code]
Repro.csproj:
[code]

Now create a class library called ReproLibrary.
ReproLibrary.cs
`dotnet new classlib`

[code]
ReproLibrary.csproj
[code]

## **Expected Result:**
I expect both RuntimeInformation.OSArchitecture to return the same assembly and return the same results. I also expect them both to r

[2017-12-05 00:27] saurabh500 commented on #25620
I am using the following script on Ubuntu to emulate multiple concurrent connections.
[code]

The author of the issue has reported the repro on Docker, however, I can repro this issue even on Host Ubuntu VM

To find out if the DNS resolution on the OS itself is slow, I tried `nslookup eshopsql-e3h5ug5xd3rfs.database.windows.net` and the results for NS lookup were almost instantaneous.
However prog

[2017-12-05 00:28] saurabh500 commented on #25620
Copying folks from networking for guidance
cc @davidsh @stephentoub @wfurt

[2017-12-05 00:30] wtgodbe commented on #23496
Ah, I see, I missed that we don't emit the first ". It appears then that before your change, we didn't emit any " characters into the output arg, so we have different behavior now for 3+ quotes to open/close strings (`"""argument"""` became just `argument` before, but is now `"argument"`). Is this an expected consequence of that change? I think things would start getting strange when we get to hig

[2017-12-05 00:33] pentp opened #25707 "System.Runtime.CompilerServices.Unsafe package needs an updated version for other runtimes"
As C# 7.2 is now released there is a need for an updated S.R.CS.Unsafe on runtimes other than .NET Core. I couldn't find any way to get an updated nuget package for S.R.CS.Unsafe, can't even build it from source and the last preview version is from September.

[2017-12-05 00:35] 4creators commented on #25702
@tannergooding Updated proposal with `const Half` correction and implicit/explicit operators. Due to range of values represented by `System.Half` it should be possible to have implicit conversion operators to Int32, Int64, BigInteger and from Int16, Sbyte, Byte. Conversion from Int16 would require rounding.

[2017-12-05 00:38] wfurt commented on #25620
Do you have sample code for the Dns.GetHostAddressesAsync @saurabh500 ???
Did you run it in container or just base os? I assume your tests are on Azure instance?

[2017-12-05 00:40] saurabh500 commented on #25620
I have posted the link to the repro.
I am running on base OS on a VM in office

[2017-12-05 00:41] saurabh500 commented on #25620
@wfurt https://github.com/saurabh500/SQLConnNetCore2IssueRepro

[2017-12-05 00:41] saurabh500 commented on #25620
I've tried the repro in a container and I get worse results

[2017-12-05 00:45] wfurt commented on #25620
That is not that surprising. I do see sql demo but not pure dns test.
If I understood your post you had test with Dns.GetHostAddressesAsync without any SQL, right?

As far as BaseOS on a VM -> does that mean full Linux VM in Let Say Hyperv on Windows desktop?

[2017-12-05 00:55] LadislavBohm commented on #25520
I am having the same issue using WebSocketClient in Azure WebJob. Because this happens only in Azure I cant provide WireShark trace (or can I?).
WSS uri I am calling is: wss://sc-02.coinigy.com/socketcluster/

[2017-12-05 00:55] saurabh500 commented on #25620
In the repro there is an endpoint called sqlnet which only calls networking Api.
It tries to do something close to what SqlClient does to establish a network connection.

The OS is hosted on hyper v

[2017-12-05 01:25] svick commented on #25704
What happens when the array is concurrently iterated in a loop? The JIT often performs bounds checking only once before the loop. If the size of the array changed while in the loop, it could result in memory corruption.

I have created a somewhat related issue: https://github.com/dotnet/coreclr/issues/11686, but that's mostly about increasing the size of the array.

[2017-12-05 01:33] rajurh commented on #24473
Thanks sample application has been provided in just above your post which is date on Oct 18. Please do let me know if you need more details of it.

[2017-12-05 01:57] Priya91 commented on #23496
@wtgodbe Did you check what is the output of the argument parsing in this case on desktop?

[2017-12-05 01:57] Drawaes commented on #25620
Have you tried changing from connection.Open to connection.OpenAsync eg

[code]
as well as
[code]

I have noticed that Linux (with asp.netcore) if far more susceptible to thread starvation. Also a docker machine has a very low core count normally so dies off quickly and you start to hit timeouts.

Try changing to above and check the results (also was your DNS test done using blocking or async code

[2017-12-05 01:59] Priya91 commented on #23496
This comment in code states where the rules were taken from, but I don't think there is a defined standard somewhere.

[code]

[2017-12-05 02:03] 4creators commented on #23496
Is it possible to have it docs? I have hit similar issues already in my code.

[2017-12-05 02:17] saurabh500 commented on #25620
@Drawaes I am trying to understand what is causing the slow down of subsequent DNS lookup from the DNS Apis which both SqlConnection Open and OpenAsync code will use.
The result is that the DNS lookup takes long and eventually causes timeouts in SqlConnection.Open
I will give it a try with SqlConnection.OpenAsync to see what the degradation there is. However I have narrowed the repro down to Dns.G

[2017-12-05 02:29] #25336 closed

[2017-12-05 02:32] #25682 closed

[2017-12-05 02:34] kasper3 commented on #23496
Are there minimum steps to repro for this (like a five liner Main method)? https://github.com/eerhardt/ReproBug23496/blob/master/ConsoleApp1 seems too huge to be a self-contained steps.

Totally agree with Stephen's comment above; is the new behavior aligned with .NET 4.6x, 4.7x and Mono 5x? If not perhaps makes sense to revert it to match those? unless there is a very good reason to break compati

[2017-12-05 02:35] stephentoub commented on #25639
It also failed sporadically on Windows.

[2017-12-05 03:04] stephentoub commented on #15687
A few thoughts:
- **Generics.** For increased generality, I wonder whether the interface (not the method on the interface) should be generic, e.g. `public interface IScheduler<TState>` that works with `Action<TState>` rather than TState effectively being hardcoded to `object`.  This would allow for schedulers that can support TState rather than object to do so, e.g. `ThreadPool.GetScheduler<TState

[2017-12-05 03:22] jkotas commented on #23496
The escaping rules are documented here: https://docs.microsoft.com/en-us/cpp/cpp/parsing-cpp-command-line-arguments

[2017-12-05 03:25] jkotas commented on #25702
https://github.com/dotnet/coreclr/issues/11948

[2017-12-05 04:04] stephentoub commented on #25699
cc: @tmds

[2017-12-05 04:09] jkotas commented on #25704
- The operation would be unsafe. Some other thread can be accessing the array that is getting resized. We prefer to not add unsafe operations to .NET.

- The current GC requires the heap to be walkable (be able to go from one object to one that follows) at all times by looking at the object size. The GC can be walking the heap on the background thread in parallel with the resize operation. Hard to

[2017-12-05 04:16] saurabh500 commented on #25620
From what I am reading Docker doesn't impose any limitations on the resources of a container. I upgraded my VM to 4 cores and I could still repro the issue.

After this I changed the code to add an `await` on the task which waits on the Network socket connection and I saw tremendous improvement in Dns  resolution. I think this points in the direction of @Drawes theory of thread starvation.

I then

[2017-12-05 04:17] #4571 closed

[2017-12-05 04:19] saurabh500 commented on #20903
Closing the issue with PR https://github.com/dotnet/corefx/pull/25410
Thanks @FransBouma @divega @terrajobst @karelz

[2017-12-05 04:19] #20903 closed

[2017-12-05 04:20] wfurt commented on #25620
With blocking calls, everything will be serialized. The part I don't understand is why time would increase over time - unless we building backlog e.g. we are asking for lookup faster then processing.

[2017-12-05 04:47] saurabh500 commented on #25620
Yes, that't weird. I don't know about the internal implementation of `Dns.GetHostAddressesAsync`.

An experiment based on your comment above, if I change all calls to be blocking e.g.  `Dns.GetHostAddresses(serverName);` and `socket.Connect(targetAddr, port);` in the repro, the calls to network APIs are very quick!! Sub 100 ms response.

I would imagine that if I am waiting dns resolution and sock

[2017-12-05 04:49] SunnyWar commented on #25533
@ViktorHofer I think you guys should do whatever you like with the existing code to make it better. My assumptions don't really matter do they?

[2017-12-05 05:09] ViktorHofer commented on #25533
Why shouldn't your opinion matter? I am just curious how you got to your conclusion so that we don't overlook something before making a change. We need to understand all implications first.

[2017-12-05 06:20] dotnet-mc-bot opened #25712 "Test failure: System.SpanTests.ReadOnlySpanTests/Overlap(x1: 100, y1: 200, x2: 0, y2: 200, expected: True)"
Opened on behalf of @Sunny-pu

The test `System.SpanTests.ReadOnlySpanTests/Overlap(x1: 100, y1: 200, x2: 0, y2: 200, expected: True)` has failed.

System.ArgumentException : Overlapping spans have mismatching alignment.

        Stack Trace:

           at System.SpanTests.ReadOnlySpanTests.Overlap(Int32 x1, Int32 y1, Int32 x2, Int32 y2, Boolean expected) in E:\A\_work\1835\s\corefx\src\System.Me

[2017-12-05 06:22] Sunny-pu commented on #25712
failed tests:
Overlap
TestAlignedBackwards
TestAlignedForwards

[2017-12-05 06:52] jainankit2474 commented on #25513
Hi Davidsh,

As per our findings, we should use `connection.Start(IHttpClient httpclient)` overloaded method here. And pass the 'HttpClientHandler' as a parameter in HttpClient. After using the overloaded method, it is working fine without throwing any certificates exception.

Thanks,
Regards,
Ankit Jain

[2017-12-05 07:03] wfurt commented on #25699
I'm not sure I undersatnd this @pepone

If you look at the lines above:

           else if (optionLevel == SocketOptionLevel.IP)
            {
                if (optionName == SocketOptionName.MulticastInterface)
                {

...
                  err =Interop.Sys.SetIPv4MulticastOption(handle,Interop.Sys.MulticastOption.MULTICAST_IF, &opt);

That seems correct. Rest simply assumes int val

[2017-12-05 08:05] tmds commented on #25699
`struct in_addr` is a 4 byte value that represents an IPv4 address. So `struct in_addr` and `int` have the same size.
On Windows and Unix, this int represents is the IP address of the interface.
On Windows, when the IP address is a 0.x.x.x then it is interpreted as an interface index.
On Unix, this is not the case. To specify an interface index, you need to use `ip_mreq`. This is not supported on

[2017-12-05 08:29] pepone commented on #25699
I see so far that doesn't seems to work with OS X, with interface index 1 (loopback), my test for this is quite similar to the one in corefx that is currently only run on Windows
[code]

[2017-12-05 08:35] tmds commented on #25699
On my Linux machine:
[code]
What do you get?

[2017-12-05 08:36] pepone commented on #25699
[code]

[2017-12-05 08:48] Sunny-pu commented on #22434
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/250

[2017-12-05 08:58] tmds commented on #25699
So the test doesn't fail when setting the socket option, nor does it fail when sending the packet.
Maybe it gets eaten by the firewall.
Does the test work for interfaceIndex = 0? Is there a non-zero interfaceIndex that makes it work (e.g. default network interface)?

[2017-12-05 09:20] MarcoRossignoli commented on #25526
@safern i understand, i'll work on it.

[2017-12-05 09:22] MichalStrehovsky commented on #25706
Related to #25267.

[2017-12-05 09:30] gimpf commented on #25666
A first few questions, not thought through in detail yet:

What kinds of APIs are the focus here?

  - Common interfaces for, and implementations of different hash algorithms
  - Common interfaces for "hashable" data (to make hash-algorithms pluggable, so that algorithms can be selected depending on the environment)
  - Utilities around those things, like wrappers around Streams, as @JonHanna ment

[2017-12-05 09:44] pepone commented on #25699
[code]
On same OS X machine have a C++ test using IP_MULTICAST_IF with in_addr 0x100007F (127.0.0.1) and it works

and in this machine `NetworkInterface.LoopbackInterfaceIndex` is 1

[2017-12-05 10:01] davidfowl commented on #15687
I don't like the generics idea. It's viral and most of the time it'll be a reference type so we're not saving anything. It also forces all of the places that expose the schedulers to be generic (or expose methods like you suggest for ThreadPool). I don't see the benefit.

What if it's an `IExecutor` then? The reason I like scheduling is because that's what we'll use it for. We can iterate on the n

[2017-12-05 10:02] tmds commented on #25699
That is specifying the multicast interface as an IP Address. The equivalent C# is:
[code]

Is there a non-zero interfaceIndex (different from `1` loopback) that works? e.g. the default network interface?

[2017-12-05 10:33] pepone commented on #25699
Yes index 7 interface en0 works

It also works if I update the code to

[code]

Isn't clear to me why this work and index 1 does not, aren't both cases essentially doing the same picking loopback interface to send the multicast requests?

[2017-12-05 10:43] iSazonov commented on #24843
In PowerShell repo we see that the method (make it external pre-req the same way we depend on OpenSsl and libcurl today) is very sensitive.
https://github.com/PowerShell/PowerShell/issues/5590
https://github.com/PowerShell/PowerShell/pull/5624

[2017-12-05 11:03] tmds commented on #25699
The difference between
[code]
and
[code]
is the latter is more strict. Perhaps the firewall comes into play here? Can you see how the test behaves when you turn off your firewall?

[2017-12-05 11:10] pepone commented on #25699
Firewall is off with all this tests

[2017-12-05 11:39] mikeh688 commented on #24843
following up on what @jchannon has said, our port at https://github.com/VQComms/CsharpLDAP/tree/coreclrPort is based on the Novell original. We've ported it to .Net Core and the .Net Core version has been in use for approx 18 months on over 100 systems. It works well against MS AD, OpenLDAP and even Oracle (on Windows, Mac and Linux). We have expertise within the team and actively maintain it.

[2017-12-05 11:45] tmds commented on #25699
Looking back in history, it seems this has never worked on Mac Loopback: https://github.com/dotnet/corefx/pull/6523#issuecomment-194018529

Based on what we learned, maybe you can update the title of the issue to `MulticastInterface set to loopback index does not work on OSX`?

As a workaround, we know that this does work:

[code]

I can't debug this further (no mac).

[2017-12-05 12:18] stephentoub commented on #15687
No, it doesn't. If the type doesn't want to be generic, it can just use object, in which case it's no worse than if object were hardcoding in the interface:
[code]
But if someone can be generic and wants to be on the state, they have the option.

You don't see the benefit. I see potential benefit, and I don't see the downside.

TaskScheduler is abstract because you derive from it to override. Here

[2017-12-05 12:36] parsalotfy commented on #5766
https://github.com/andlabs/libui
and
https://github.com/noliar/DevZH.UI

may help you ;)

[2017-12-05 12:39] stephentoub commented on #25620
Imagine you have four threads in the thread pool, and on those four thread pool threads, you initiate a synchronous operation; each completes synchronously and the operations go on their merry way.

Now imagine you have four threads in the thread pool, and on those four thread pool threads, you initiate an asynchronous operation that will queue a work item back to the thread pool at some point dur

[2017-12-05 12:40] Drawaes commented on #25620
:) Its something I see over and over. It's due to the context of ASP.NET. It uses the same thread pool to try to service requests. You get a limited number of threadpool threads (I forget the core count multiplier off the top of my head). There is a hill climbing algo that approx adds a thread every 500ms, so if the cpu use is low and all threads are used then you get a very slow ramp up.

So you

[2017-12-05 12:41] Drawaes commented on #25620
@stephentoub beat me with a better explanation.

[2017-12-05 13:03] stephentoub commented on #25033
Dup of https://github.com/dotnet/corefx/issues/25661

[2017-12-05 13:03] #25033 closed

[2017-12-05 13:04] stephentoub commented on #23099
Dup of https://github.com/dotnet/corefx/issues/23099

[2017-12-05 13:04] #23099 closed

[2017-12-05 13:12] #24694 closed

[2017-12-05 15:01] davidsh commented on #25513
Thanks for confirming. We'll close the issue now.

[2017-12-05 15:01] #25513 closed

[2017-12-05 15:09] #23312 closed

[2017-12-05 15:27] #14673 closed

[2017-12-05 16:04] SergeBerwert opened #25717 "Error to create X509Certificate2 instance"
Hi
I try to create an instance from the class X509Certificate2 insight a container using microsoft/aspnetcore:2.0.3-nanoserver-1709 as base image.

That’s the code I use:
[code]

It works everywhere besides the image I pointed out on top.
On nanoserver 1709 I get the following exception:
[code]

[2017-12-05 16:50] xrkolovos commented on #25520
Hello, i uploaded my wireshark capture.

[wiresharkPackages.zip](https://github.com/dotnet/corefx/files/1532070/wiresharkPackages.zip)

[2017-12-05 16:53] xrkolovos commented on #25520
Some more info on this issue.
I try to navigate in this page from this server with Chrome and Firefox and everything works fine. When i try to navigate from IE i get an error

This is a windows issue definitely.

[2017-12-05 16:54] CESARDELATORRE commented on #25620
I can understand the improvements when using asynchronous calls, but using sync we can reproduce it with a low number of users and most of all, we cannot repro it with a similar or higher number of users when load testing the same code running on Windows or Windows Containers.
Shouldn’t it behave and perform in a similar/comparable way than when running the same C# code on Windows?
Also, there’s a

[2017-12-05 17:01] karelz commented on #25707
@pentp why is it needed for C# 7.2?

[2017-12-05 17:08] karelz commented on #25705
Do you have a minimal repro we can run locally as well? What is the exception call stack?

[2017-12-05 17:13] karelz commented on #25690
@weshaggard @wtgodbe any advice? I would expect we cache the binaries ...

[2017-12-05 17:15] qmfrederik commented on #17135
Adding the area owners @russellhadley @luqun @shrah to this thread.

One of the issues we're trying to solve is how managed code can load native libraries in a cross-platform way.

For example, System.Drawing.Common depends on libgdiplus which ships in various forms in various distros. So the [code probes for a couple of files](https://github.com/dotnet/corefx/blob/35d0838c20965c526e05e119028dd722

[2017-12-05 17:16] KrzysztofCwalina commented on #25712
@ektrah, @ahsonkhan, @nietras, we are running into this failure in outer loop tests.

[2017-12-05 17:29] karelz commented on #25495
@FSou1 thanks for you interest to fix the bug. I have sent you Collaborator invite, so that we can assign it to you (GH limitation). Please ping me once you accept (assigning to myself for now).

Pro-tip: Disable notifications for the repo (you will be auto-subscribed) as there's plenty (500+ per day) and opt-in into "your mentions / subscriptions" notification setting.

[2017-12-05 17:31] WinCPP commented on #23141
Hi @stephentoub thanks for the inputs in [this](https://github.com/dotnet/corefx/pull/25511#issuecomment-348285760) comment. I will try working on it for #24430 and then make use of it here...

[2017-12-05 17:57] pentp commented on #25707
`ref T AsRef<T>(in T source)` is needed to get writeable references.

[2017-12-05 17:59] shmao opened #25718 "New APIs for Accessing RSS Optional Elements"
We proposed adding the following APIs to enable developers to easily read/write RSS optional elements (see http://cyber.harvard.edu/rss/rss.html#optionalChannelElements). We planned to add the APIs on .Net Core only, not in netstandard.

[code]

[2017-12-05 18:02] valenis opened #25719 "Serverless performance analysis"
Investigate the performance of Azure Functions

[2017-12-05 18:04] FSou1 commented on #25495
@karelz ok, i've just accepted the invite.

Ok, i got it.

Any concerns about PR?

[2017-12-05 18:05] valenis opened #25720 "Profile Guided Optimizations: PGO tuning"
PGO tuning of native components in the .NET Core stack

[2017-12-05 18:08] valenis opened #25721 "Performance scenarions: RWC workloads"
Bring up Real World Code scenarios for benchmarking

[2017-12-05 18:09] valenis opened #25722 "Cross-platform performance analysis: Linux/Mac/Windows"
Cross-platform performance analysis: Linux/Mac/Windows

[2017-12-05 18:11] valenis opened #25723 "Competitive performance analysis"
Competitive performance analysis across various managed stacks and environments

[2017-12-05 18:13] valenis opened #25725 "Performance data publicly available"
Per PR/Commit publicly available performance data coming out of the performance reporting systems.

[2017-12-05 18:21] terrajobst commented on #25303
We don't believe this API is very useful, because

1. `TryParse` is really about parsing user input in tight loops, which regex shouldn't be.
2. Returning a `bool` isn't very informative. Granted, our current `ArgumentException` we expose information as a string, which is not machine readable, but that's probably the area we should be improving instead.
3. Plumbing it through the current engine wo

[2017-12-05 18:21] MarcoRossignoli commented on #25526
@safern the AssertExtension accept only ArgumentException based exception, i cannot use it with Exception,ArgumentException. The solution could be write an overload Exception,Exception or split tests. In case of splits, is there a guideline or some sample to follow?

[2017-12-05 18:21] #25303 closed

[2017-12-05 18:22] #25248 closed

[2017-12-05 18:23] #25320 closed

[2017-12-05 18:24] weshaggard commented on #25690
@RussellHaley we shouldn't be downloading the CLI each time you build, assuming you don't do a full clean --all, in between. Can you give more information on what you are doing? What OS and what commands you are running?

[2017-12-05 18:34] terrajobst commented on #12644
The ordering is unfortunate. @KrzysztofCwalina mentioned that we might want to take more options in the future to customize how the sizes are spread inside the pool; this indicates that we probably shouldn't take more values as individual arguments but instead introduce a new class that holds the the options like this:

[code]

(this needs more design, but illustrates the point)

[2017-12-05 18:42] benaadams commented on #24445
The setter would be very expensive if the dictionary contains items; as it will have to move everything

[2017-12-05 18:43] huanwu opened #25726 "Add tests for DataContractSerializer serializing collection types"
We need have tests covering DataContractSerializer serializing the following types.
Refer [https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs] on how to add the DCS tests using the common helper method.
#20329

- [ ] System.Collections.Generic.LongEnumEqualityComparer`1[[System.Runtime.Serialization.Formatters.Tests.UInt64Enum]]
- [ ]

[2017-12-05 18:45] benaadams commented on #24445
The setter would be very expensive if the dictionary contains items; as it will have to move everything - use the hashes to work out positions; move on collisions etc

[2017-12-05 18:45] huanwu opened #25727 "Add tests for DataContractSerializer serializing BindingList types"
We need have tests covering DataContractSerializer serializing the following type.
Refer https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs on how to add the DCS tests using the common helper method.
#20329

- [ ] System.ComponentModel.BindingList`1[[System.Runtime.Serialization.Formatters.Tests.Point]]

[2017-12-05 18:46] huanwu opened #25728 "Add tests for DataContractSerializer serializing SqlTypes types"
We need have tests covering DataContractSerializer serializing the following types.
Refer https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs on how to add the DCS tests using the common helper method.
#20329

- [ ] System.Data.SqlTypes.SqlBoolean
- [ ] System.Data.SqlTypes.SqlByte
- [ ] System.Data.SqlTypes.SqlDateTime
- [ ] System.Dat

[2017-12-05 18:47] huanwu opened #25729 "Add tests for DataContractSerializer serializing System.Drawing types"
We need have tests covering DataContractSerializer serializing the following types.
Refer https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs on how to add the DCS tests using the common helper method.
#20329

- [ ] System.Drawing.Point
- [ ] System.Drawing.PointF
- [ ] System.Drawing.Rectangle
- [ ] System.Drawing.RectangleF
- [ ] Syst

[2017-12-05 18:48] huanwu opened #25730 "Add tests for DataContractSerializer serializing System.Globalization types"
We need have tests covering DataContractSerializer serializing the following types.
Refer https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs on how to add the DCS tests using the common helper method.
#20329

- [ ] System.Globalization.CompareInfo
- [ ] System.Globalization.SortVersion

[2017-12-05 18:50] huanwu opened #25731 "Add tests for DataContractSerializer serializing System.Net.Cookie types"
We need have tests covering DataContractSerializer serializing the following types.
Refer https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs on how to add the DCS tests using the common helper method.
#20329

- [ ] System.Net.Cookie
- [ ] System.Net.CookieCollection // I expect issues here as netfx and core are using different types in

[2017-12-05 18:50] safern commented on #25526
Oh you're right, I was assuming both sides where ArgumentException based but netfx is throwing Exception. Let's split the tests, just name them the same and for the netfx just add a postfix like: ConstructorThrowsException_Netfx

and then you will add a `SkipOnTargetFramework` attribute. So you'll do something like:

[code]

[2017-12-05 18:51] terrajobst commented on #24445
We don't want to store the capacity as it makes serialization harder. Also, changing the capacity is likely an expensive operation (as it requires rehashing).

Instead, we would like an API like this:

[code]

`Resize` will allow growing and shrinking the underlying array but it would throw if `capacity < Count`.

[2017-12-05 18:54] benaadams commented on #12644
[code]

[2017-12-05 18:56] huanwu opened #25732 "Add tests for DataContractSerializer serializing System types"
We need have tests covering DataContractSerializer serializing the following types.
Refer https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs on how to add the DCS tests using the common helper method.
#20329

- [ ] System.Boolean
- [ ] System.Byte
- [ ] System.Char
- [ ] System.Int16
- [ ] System.Int32
- [ ] System.Int64
- [ ] System.L

[2017-12-05 18:56] benaadams commented on #24445
[code]

[2017-12-05 18:59] danmosemsft commented on #24445
The word Size to me suggests the number of items in the collection, rather than how many it can hold (Capacity). So I wonder if Resize is the best word? Maybe GrowCapacity?

[2017-12-05 19:01] benaadams commented on #24445
Capacity is real size of underlying capacity not Resize value. If you add items, it will then resize and it will change anyway.

However you probably don't want to be running at 100% capacity anyway as perf will be bad... :-/

[2017-12-05 19:02] terrajobst commented on #24445
Looks like the API needs more discussion.

[2017-12-05 19:03] PeterSmithRedmond commented on #25705
Looking at the [AutomaticDecompression](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler.automaticdecompression?view=netcore-2.0#System_Net_Http_HttpClientHandler_AutomaticDecompression) docs, I'd guess that you need to add GZip and Deflate as an AutomaticDecompression value.

The "can't convert 8b at index 1" is a hint that you're getting a GZIP response (the header f

[2017-12-05 19:04] PeterSmithRedmond commented on #25705
BTW: It's a general good practice to create a single HttpClient object and then reuse the created object for multiple requests.

[2017-12-05 19:05] albertolo opened #25733 ".Net Core cryptography"
I want to sign a xml file with net core 2

[code]
The X509IssuerSerial  declaration show the following error:
The type name 'X509IssuerSerial' could not be found in the namespace 'System.Security.Cryptography.XML'.
This type has been forwarded to assembly 'System.Security.Cryptography.Pkcs

The documentation shows that I should be in the System.Security.Cryptography.Xml namespace.

Is the other wa

[2017-12-05 19:08] terrajobst commented on #23881
We don't care super much; we see the value in promoting generally safe behavior so the API suggestion looks sensible to me. However, we lack expertise to judge whether this causes clutter (additional casting, like C++ const). So I'd leave it to runtime/compiler folks to decided what to do here.

[2017-12-05 19:19] saurabh500 commented on #25728
@huanwu Is this really System.Data ? Shouldn't this be handled by System.Runtime.Serialization?

[2017-12-05 19:23] terrajobst commented on #24072
That seems like a good suggestion, but we should do the same for arrays.

[2017-12-05 19:24] wtgodbe commented on #25690
Are you referring to https://github.com/dotnet/corefx/blob/master/init-tools.cmd#L48-L58? As Wes mentioned, this should only execute when you build from a clean repo.

[2017-12-05 19:25] udlose commented on #25303
This has nothing to do with parsing in tight loops.  Rather, it has to do with following the very guidelines that MS has defined in the  .NET Framework Design Guidelines ([Try-Parse Pattern - Framework Design Guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/exceptions-and-performance))

Unfortunately, when you design and write a public API, you do not have the luxury

[2017-12-05 19:29] terrajobst commented on #16878
We should change the name to `SequenceCompareTo` (notice the `To` at the end).

class static SpanExtensions
{
    static int SequenceCompareTo(this ReadOnlySpan<byte> first, ReadOnlySpan<byte> second);
}

[2017-12-05 19:32] PeterSmithRedmond commented on #24093
Three suggestions:
1. The Rune class is missing the critical "IsCombining".  Without that, we can't convert from a series of runes (code points) into a series of graphemes.

2. I'd love to also have a corresponding Grapheme class. A grapheme in this context is really just a list of one or more Runes (Code Points) such that the first rune isn't combining and the rest of the runes are combining.  Th

[2017-12-05 19:32] terrajobst commented on #14336
String isn't (logically) a collection of chars, so giving a read-only view seems off. Considering how far we're with the new span based APIs, I'm not convinced this interface is adding a ton of value for that cares about performance (and code that doesn't has alternatives today).

[2017-12-05 19:33] #14336 closed

[2017-12-05 19:33] mikedn commented on #25690
This sounds familiar. Same as this one from coreclr https://github.com/dotnet/coreclr/pull/11912 ?

[2017-12-05 19:34] karelz commented on #14336
@pharring are you ok with this resolution? Is Span reasonable "workaround" for your scenarios?

[2017-12-05 19:35] saurabh500 commented on #25620
@stephentoub and @Drawaes Thanks for the insights into what is going on with this issue.
Based on @stephentoub  explanation, I understand that DNS resolution is slow because the DNS resolution task is waiting to be scheduled and not because the actual resolution is taking time.

Currenly SqlConnection.Open() calls `Dns.GetHostAddressesAsync(serverName);` and `socket.ConnectAsync(targetAddr, port);

[2017-12-05 19:37] wtgodbe commented on #25690
@mikedn could be! confirming locally

[2017-12-05 19:41] wtgodbe commented on #25690
The semaphore file is created for me from a clean repo locally, but maybe it's not consistent across all machine configurations? @russellhadley can you confirm that you have an `init-tools.completed` file inside of `Tools\{ToolsVersion}` ?

[2017-12-05 19:43] terrajobst commented on #24343
We should align it with the existing APIs, so I'd rather make this a ctor on `Vector<T>` itself:

[code]

[2017-12-05 19:45] weshaggard commented on #25690
There are possibilities of the semaphore not getting written. See https://github.com/dotnet/source-build/issues/203. It would be good to fix this similar to what dotnet/coreclr#11912 does in corefx.

[2017-12-05 19:45] krwq opened #25734 "Convert Marvin hashing to use ReadOnlySpan"
Current managed implementation is using references and Unsafe.Add. This code is virtually unsafe and is problematic when i.e. passed length is invalid. Converting the code to use ReadOnlySpan would mitigate any issues of this kind. Currently it is a caller responsibility to make sure of that.

[2017-12-05 19:47] #25529 closed

[2017-12-05 19:48] terrajobst commented on #25671
Why would this property live on `Type` rather than `Assembly`? My understanding is that we have collectible assemblies, not collectible types IOW collectible types would be typed defined in a collectible assembly, no?

[2017-12-05 19:51] terrajobst commented on #24668
Any reason this can't be a named delegate? A constructed generic with that many parameters makes it hard to be consumed/produced by existing APIs.

[2017-12-05 19:51] #24946 closed

[2017-12-05 20:02] CESARDELATORRE commented on #25620
@saurabh500 Is there going to be a related fix for this issue? - Where and what timeframe can we expect?

[2017-12-05 20:06] saurabh500 commented on #25620
Yes

I don't have the answer to this question right now.

[2017-12-05 20:09] JonHanna commented on #25671
I was thinking about suggesting it on assemblies too, but for here:

1. Most developers deal with types more often than assemblies.
2. In terms of implementation, types is currently easy (already done, but not exposed), assemblies not (the only approach I can find being used is to get a type from it and examine that).

Assembly might still be worth doing too.

[2017-12-05 20:14] wtgodbe commented on #25690
https://github.com/dotnet/corefx/pull/25737 should hopefully resolve

[2017-12-05 20:18] CESARDELATORRE commented on #25620
Btw, can you confirm if the issue/fix is also related to SqlConnection running on plain Linux in addition to when running on a Docker Linux container?

[2017-12-05 20:21] saurabh500 commented on #25620
I have seen the issue on Ubuntu 16.04 as well as a hosted docker image.

[2017-12-05 20:32] CESARDELATORRE commented on #25620
OK, thanks for helping on this issue and jumping on it so quick! 👍

[2017-12-05 21:11] #24822 closed

[2017-12-05 21:25] #25121 closed

[2017-12-05 21:26] joshfree commented on #25121
Closing issue per discussion in PR.

[2017-12-05 21:40] wtgodbe commented on #25690
@russellhadley can you check out latest CoreFX and see if this still repros? If not, we can close this.

[2017-12-05 21:56] shmao commented on #24668
There's no reason it can't be a named delegate. We were just following the pattern used by other APIs for consistency, e.g. see https://github.com/dotnet/corefx/blob/a9fdc79ff8feb5ad46e9fcbe18fdffcd0bd74679/src/System.Net.Http.WinHttpHandler/ref/System.Net.Http.WinHttpHandler.cs#L45.

I'm open to add new named delegates for the new APIs. What do you think? @terrajobst

[2017-12-05 22:06] weshaggard commented on #25706
@AlexGhiondea @joperezr Looks like we might have a issue in the version of RuntimeInformation that we put into .NET Framework.

[2017-12-05 22:17] MgSam commented on #25303
@terrajobst I don't get it. Users say "Hey, this would be really useful for us" and Microsoft's response is, "No, this is not useful, because we've never had occasion to use it". Well, I've never had occasion to use a cryptography library, that doesn't mean it's not useful.

Maybe your response is going to be "well it only has two votes on Github". Yes, in a repo with a ton of churn where the rare

[2017-12-05 22:25] ViktorHofer commented on #25732
@huanwu are you planning to reuse our existing testdata set from binary serialization?

[2017-12-05 22:33] krwq opened #25739 "System.Reflection.Metadata intermittent failures on RHEL"
https://mc.dot.net/#/user/krwq/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/e7eb637d18b531e46e64997fe9de55ae1d52521e/workItem/System.Reflection.Metadata.Tests

All of the errors look more or less like:

[code]

[2017-12-05 23:00] Spaceman1861 commented on #25705
@PeterSmithRedmond you may be onto a winner with that

In relation to the dispose per request structure I agree it needs a refactor.

I will add AutomaticDecompression settings if this fails i will post the stack and create a repo

[2017-12-05 23:01] karelz commented on #24072
There seem to be also similar extension for `ArraySegment` @KrzysztofCwalina does it make sense to make it consistent with string and array overloads we are adding here?

[2017-12-05 23:05] huanwu commented on #25732
@ViktorHofer Could you share with us your code? We had planned to let each owner maintain the test code. But we would like to look at your test code and see if it is good for us. Thanks!

[2017-12-05 23:10] huanwu commented on #25728
@saurabh500 For types that use SerializableAttribute, it's up to the type owner to verify whether the types can be serialized by the serializers, e.g. DataContractSerializer.

[2017-12-05 23:15] ektrah commented on #25712
That's strange. The exception is thrown if this condition is true:

[code]

In the first test case, `SizeOf<T>` should be `4` and `byteOffset` should be `(IntPtr)((0 - 100) * SizeOf<T>)` = `-400` and `-400 % 4` should be `0`.

I will try to reproduce this locally. If that fails, is there any way we could get more information about the failing test case?

I will try

[2017-12-05 23:20] karelz commented on #25671
I still don't understand why the current implementation in CoreCLR is on Type - is it because of LTG @jkotas?
The only true collectibility is at assembly level ...

[2017-12-05 23:24] ViktorHofer commented on #25732
https://source.dot.net/#System.Runtime.Serialization.Formatters.Tests/BinaryFormatterTestData.cs,97

[2017-12-05 23:24] ViktorHofer commented on #25732
Duplicating the code would make no sense IMO

[2017-12-05 23:26] karelz commented on #24668
Can you please suggested alternative with named delegates? Side-by-side, so that we can decide.
`WinHttpHandler` is expert type and doesn't set the right example IMO.

[2017-12-05 23:35] karelz commented on #25303
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=14 (16 min duration)

[2017-12-05 23:36] karelz commented on #12644
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=953 (13 min duration)

[2017-12-05 23:38] karelz commented on #24445
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=1745 (28 min duration)

[2017-12-05 23:41] karelz commented on #24445
@danmosemsft The API is supposed to also shrink the capacity. Do you have alternative name for `Resize`? Maybe the argument name could be sufficient specification?

@davkean would the shortly-approved https://github.com/dotnet/corefx/issues/24445#issuecomment-349403320 API fit your needs? (i.e. no `Capacity` exposed - you mentioned it is ok, just double checking)

[2017-12-05 23:42] karelz commented on #23881
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=3414 (6 min duration)

[2017-12-05 23:42] karelz commented on #25229
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=3747 (2 min duration)

[2017-12-05 23:43] karelz commented on #24072
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=3913 (13 min duration)

[2017-12-05 23:43] karelz commented on #16878
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=4684 (5 min duration)

[2017-12-05 23:44] karelz commented on #14336
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=4973 (15 min duration)

[2017-12-05 23:44] karelz commented on #24343
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=5251 (11 min duration)

[2017-12-05 23:45] davkean commented on #24445
I would consider calling it EnsureCapacity - this will tackle the prime number issue (where the capacity is actually the next next prime number above the capacity).

[2017-12-05 23:45] karelz commented on #25671
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=5891 (4 min duration)

[2017-12-05 23:46] karelz commented on #24668
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=6154 (3 min duration)

[2017-12-05 23:46] davkean commented on #24445
StringBuilder calls it that: https://msdn.microsoft.com/en-us/library/system.text.stringbuilder.ensurecapacity(v=vs.110).aspx.

[2017-12-05 23:47] karelz commented on #24365
FYI: The API review discussion was recorded - see https://youtu.be/BI3iXFT8H7E?t=6317 (5 min duration)

Conclusion: We want to wait on @stephentoub in the API review meeting (Feb).

[2017-12-05 23:47] rmkerr commented on #25289
Ideally I'd like to make sure the 2.0.0 fix is as similar as possible to the 2.1.0 fix. However, I've been having some trouble with using span in 2.0.0. I get the error:

Despite Span<> having been implemented at that point. As far as I can tell no relevant references have been added to HttpListener.csproj. I can't help but think that I'm missing something simple, but have not been able to figure

[2017-12-05 23:48] karelz commented on #24445
The key argument against `EnsureCapacity` was that it leads you to believe it can only grow, and won't shrink (which is the key purpose of the API).

[2017-12-05 23:49] joshfree commented on #23870
Reviewed offline with feature team; closing suggestion issue and sticking with current design shape.  If you'd like to create an API proposal we can follow up further.  Thank you

[2017-12-05 23:49] #23870 closed

[2017-12-05 23:52] #25734 closed

[2017-12-05 23:53] karelz commented on #16878
Top post updated per API name change in API review: https://github.com/dotnet/corefx/issues/16878#issuecomment-349414287

[2017-12-05 23:54] karelz commented on #24343
Top post updated with approved API shape above https://github.com/dotnet/corefx/issues/24343#issuecomment-349418624.

[2017-12-05 23:56] davkean commented on #24445
[code]

Then you never need to expose the capacity - and the problem that it doesn't actually represent the capacity you set.

[2017-12-05 23:58] davkean commented on #24445
The key purpose was of the API, at least when I filed it, was to increase the size - not trim it. You only want to trim it when you know that you are done adding items at which point, you just trim it to its current Count.

[2017-12-06 00:04] weshaggard commented on #25706
I agree there appears to be a bug in OSArchitecture returning x86 which should be addressed.

The reason that you have 2 different assemblies is because of a type unification issue in .NET 4.7.1 where the netstandard.dll that gets loaded directly type-forwards to the RuntimeInformation type in mscorlib instead of forwarding to System.Runtime.InteorpServices.RuntimeInformation as it should be doing

[2017-12-06 00:06] dotMorten opened #25741 "Making a web request with CachePolicy and Fiddler on causes null-reference exception"
This bug occurs in .NET FX (tested .NET Framework 4.5.2 and 4.7). It only occurs when Fiddler is running as well.
The reproducer is a simple GET request with the cache policy enabled:
[code]

This request will fail with a `HttpRequestException`, but if you look at the inner exceptions, what's really happening is a `NullReferenceException` in `HttpWebRequest.CheckCacheUpdateOnResponse():`

https://

[2017-12-06 00:09] karelz commented on #25303
@udlose

The guideline is about Exceptions usage in **Performance** context -- that's what "tight loops" refers to. From that perspective it is the same thing.
We do not believe this scenario fits that guideline - i.e. it is not "~extremely performance-sensitive APIs~" as the guide phrases it.

What was left out from the write-up was that we agree there is a need to have better diagnostics for inc

[2017-12-06 00:10] jkotalik commented on #25706
Yeah that's what I assumed regarding the NET 471 issues. What version of RuntimeInformation is in mscorlib? Do they include newer bits?

[2017-12-06 00:10] divega commented on #25620
I was telling @saurabh500 offline that this part of the plan sounded very counterintuitive to me:

I.e. shouldn't we be striving to make `SqlConnection.OpenAsync()` non-blocking throughout?

But then he explained to me that currently we end up blocking on the result of the async methods we call, in places like https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/S

[2017-12-06 00:22] karelz commented on #25303
BTW: I had to update my answer above as it was incorrect based on what was discussed and I got a bit confused answering here.

[2017-12-06 00:36] davidsh commented on #25289
@stephentoub Can you help w/ this?

[2017-12-06 00:37] Drawaes commented on #25620
Be warned, that adding blocking back in badly effects aspnet's performance. If a connection is being opened and closed rapidly it can bring a webserver to it's knees, is there no other way around this?

[2017-12-06 00:43] stephentoub commented on #25289
Span is exposed from the System.Runtime contract starting in 2.1.  To use it in 2.0, you need to add a reference to System.Memory, which contains the out-of-band implementation of Span rather than the one implemented in the runtime.

[2017-12-06 00:45] divega opened #25742 "Reduce blocking calls throughout SqlConnection.OpenAsync() and other async APIs on SqlClient"
This is a follow up to the discussion at https://github.com/dotnet/corefx/issues/25620#issuecomment-349428958.

## TL;DR
the managed SNI implementation in SqlClient contains code that performs the DNS resolution and initiates the socket connection in a blocking manner. Ideally we should replace this with proper async code.

## Details
We now know about these cases in the constructor of https://git

[2017-12-06 00:46] rmkerr commented on #25289
Thanks for the quick response. I'll go ahead and do it that way.

[2017-12-06 00:51] karelz commented on #25303
@MgSam

If you browse the closed API proposals in this repo, you will notice that we can't take every single API request and often we reject APIs, because we do not believe it is common-enough case, or that it does not belong into CoreFX repo (see e.g. #20902).

Number of votes / people interested also plays a role. It can swing the scenario from "we do not quite think it is important" into "oh, s

[2017-12-06 00:53] danmosemsft commented on #24445
@davkean that would result in the absolute minimum size, but it could make the load factor excessive. If the capacity is only a little more than the count, there will be a lot of collisions, making lookup inefficient. You might instead want it to pick a prime that is, say, 20% larger than count (taking capacity possibly from 200% or arbitrarily larger than that, down to 120%). Or use the value you

[2017-12-06 00:55] divega commented on #25620
@Drawaes the problem is that the code is already blocking, only it calls the async API and then blocks on Task.Result. That seems to be worse than just calling the sync version, unless I am missing missed something.

Also, it seems the actual way around this would be to implement what I describe in https://github.com/dotnet/corefx/issues/25742. That doesn't seem too complex to me, but I don't know

[2017-12-06 00:57] davkean commented on #24445
Fair enough, I have zero opinion on the "reducing the capacity" scenario.

[2017-12-06 01:03] weshaggard commented on #25706
In .NET 4.7.1 we included RuntimeInformation in the framework and as part of that it got put into mscorlib. I don't think it is newer bits but I do think the bits are slightly different which is where this OSArchitecture bug is coming from.

[2017-12-06 01:08] Drawaes commented on #25620
I guess my point would be, why not fix it now. All that code in the constructor seems like it could be moved now to a method that is called in the ConnectAsync or ParallelConnectAsync there aren't any blocking connects in there.

[2017-12-06 01:09] karelz commented on #24445
My bad, I incorrectly remembered the scenario as mainly Trimming.

So what is the end-to-end scenario for growth?
You set initial capacity in constructor and then later on you need to add a batch of entries, so you call `dictionary.EnsureCapacity(dictionary.Count + newlyAddingCount)`? And then later maybe again.
Is that the pattern?

Just to clarify: It is NOT about scenario where you continuously

[2017-12-06 01:11] mconnew commented on #24668
@karelz, is HttpClientHandler an expert type too as that has a similar api which doesn't use a named delegate.

[2017-12-06 01:15] danmosemsft commented on #24445
@karelz correct, `dictionary.EnsureCapacity(dictionary.Count + newlyAddingCount)`

[2017-12-06 01:17] davkean commented on #24445
It's not about tricking the algorithm, it's about having more information than the dictionary about how many exactly items we're going to add immediately to prevent:

1) Prevent multiple resizes (traces show that we resize a significant amount of times in Add)
2) Prevent wasted space by adding too much capacity.

The pattern above is exactly the pattern that we would use.

[2017-12-06 01:18] karelz commented on #25741
Does it happen on .NET Core as well?
If not, we will have to move the bug - we do not track Desktop issues on GH cc @davidsh

[2017-12-06 01:20] shmao commented on #24668
@karelz Thanks for the suggestions. I updated the description with the named delegates.

[2017-12-06 01:25] JonHanna commented on #25671
The current implementation might just be because it's needed, since it's internal (and goes back to before corefx) and used internally, with the full implementation being extern. That in itself though shows that the CLR at least had a need for such a property (well, it was a method until yesterday) but not for one on assemblies.

Not that I think exposing that information about assemblies is neces

[2017-12-06 01:28] benaadams commented on #24445
Seems reasonable to only increase; as Trimming will cause perf issues (increasing collisions and cost for finding new entry for everything)

[code]

Perhaps additionally internalize the size calc?
[code]

Combine the two; with default value to have low(ish) collisions?

[code]

[2017-12-06 01:41] danmosemsft commented on #24445
Trimming is not a bad idea per se (imagine a dictionary that grew huge and then had almost all its items removed, right know if you care about size you have to guess this happened, then copy into another dictionary) it's just hard to pick a policy...

I would rather not expose load factor as it constrains implementation. I don't think @davkean wants to have to pick a load factor. He just wants to

[2017-12-06 01:51] benaadams commented on #24445
Base on [current dictionary](https://github.com/dotnet/coreclr/blob/4865f600df7270fbda7d36af34424343f10caa7f/src/mscorlib/shared/System/Collections/Generic/Dictionary.cs#L498-L501) implementation would be?

[code]

[2017-12-06 01:59] bartonjs commented on #25733
You may need to add a reference to the `System.Security.Cryptography.Pkcs` package, but you shouldn't need any reference to that namespace in a using statement.

[2017-12-06 02:26] saurabh500 commented on #25620
@divega

I won't comment on the complexity but I do know that this effort needs a change from the top level API to the networking layer and this might creep into native sni as well if done right. So according to me, to do this right the number of areas impacted would be many.
I think we should take any discussions about making OpenAsync truly async to the issue that you have opened.

@drawes if yo

[2017-12-06 03:00] danmosemsft commented on #24445
@benaadams yes I think so; if the caller wanted to tell us that it would likely not get any further inserts, we could use a smaller capacity, but that would be a different feature not requested here (I think)

[2017-12-06 03:04] benaadams commented on #24445
That is the smallest :)

Otherwise you'd go for
[code]
To bump it even if the capacity was a prime (and a little bit of loading slack)

[2017-12-06 04:03] morganbr commented on #25666
I propose enabling an API for several non-cryptographic hash algorithms as well as being extensible to future/user-provided algorithms. "Non-cryptographic" includes Spooky or Marvin32, but not SHA256 (we shouldn't have any overlap between System.Numerics.Hashing and System.Security.Cryptography to avoid confusion). The first set of algorithms we build can be determined after deciding on an API (us

[2017-12-06 04:24] stephentoub commented on #15687
In thinking about this a bit more, I realize that some of my feedback was a bit contradictory.  My concerns with Inline stem from my desire that a consumer would be able to the schedule method would be asynchronous from the call site, in which case it really is more of a "scheduler" than an "invoker".  So from a naming perspective, if such an interface were added, I think I'd want to see it codifi

[2017-12-06 04:42] Sunny-pu commented on #21430
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug/lastCompletedBuild/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/SetDelegate_ConnectionSucceeds_acceptedProtocol__Tls__requestOnlyThisProtocol__False_/

[2017-12-06 04:59] custarddog commented on #24445
You're right, I misread.

[2017-12-06 05:01] danmosemsft commented on #24445
You're right, I misread.

[2017-12-06 05:01] jodavis commented on #22479
I don't have any more detail since I posted. I was hitting it a lot while I was debugging some particular code that used Uri.TryCreate, but I haven't seen it in production.

[2017-12-06 05:43] dotnet-mc-bot opened #25745 "Test failure: System.Data.Common.Tests.DbConnectionTests/ProviderFactoryTest"
Opened on behalf of @Sunny-pu

The test `System.Data.Common.Tests.DbConnectionTests/ProviderFactoryTest` has failed.

Assert.NotNull() Failure

        Stack Trace:

           at System.Data.Common.Tests.DbConnectionTests.ProviderFactoryTest() in E:\A\_work\1434\s\corefx\src\System.Data.Common\tests\System\Data\Common\DbConnectionTests.cs:line 154
       at _$ILCT$.$ILT$ReflectionDynamicInvoke$.I

[2017-12-06 06:02] RussellHaley commented on #25690
Much obliged. I can confirm the change works correctly. The tools report as initialized on a second run.

/*****************************************************/
C:\Users\russh\Git\dotnet\corefx>build.cmd
Tools are already initialized.
Running: C:\Users\russh\Git\dotnet\corefx\src\Native\build-native.cmd x64 Debug Windows_NT --numproc 4 -portable toolSetDir=c:\tools\clr
Tools are already initializ

[2017-12-06 06:14] Petermarcu opened #25746 "Support Console.beep on Linux (Fedora/RHEL)"
@chiddekel commented on [Tue Dec 05 2017](https://github.com/dotnet/core/issues/1130)

Run on OS: Fedora 27
Kernel Linux:  4.13.16-302.fc27.x86_64

Step zero: `yum install beep`
First, run` sudo modprobe pcspkr` and then beep should work.

Additional uncomment the /etc/modprobe.d/beep.conf line at:
`# alias platform:pcspkr pcspkr`
to
`alias platform:pcspkr pcspkr`
For automatic load pcspkr module

[2017-12-06 06:57] RussellHaley commented on #1626
Hi, so I'm bogged down with the clr managed tests not running. https://pastebin.com/B5KhtKX5

Any input would be great as that's been an issue for some time. I have also recently run into a build failure on corefx building on Windows(master, Git revision 749194e). https://pastebin.com/JXUySLTY

I assume that's an intermittent problem but it's slowed me down tonight.

[2017-12-06 07:05] tmds commented on #25384
Also interesting to know: a SIGTERM handler can be added via the `AssemblyLoadContext.Default.Unloading` event.
The `Console.CancelKeyPress` is not generated on SIGTERM (but on SIGINT/SIGQUIT).

[2017-12-06 07:09] josteink commented on #1626
If you look at the error:

[code]

And the [offending line of code](https://github.com/dotnet/coreclr/blob/master/tests/runtest.sh#L786):

[code]

My gut feeling would be that `$maxProcesses` is not defined, leading to an incomplete boolean expression:

[code]

This should be fairly testable. And if that is the case, you just have to go hunting backwards to try to find out how you ended up like th

[2017-12-06 07:10] jkotas commented on #25712
This is most likely a bug in the closed source .NET Native AOT compiler.

[2017-12-06 07:28] jkotas commented on #25671
As @JonHanna said, this is about what the current needs is (collectibility at type level) vs. what the implementation is constrained to today (collectibility at Assembly / AssemblyLoadContext level and Method level). In theory, we can have collectibility at type level at some point in future. E.g. we can have DynamicType that is close sibling of existing DynamicMethod that can live without really

[2017-12-06 07:49] dotMorten commented on #25741
No idea. I don't think that API is in .NET Core. @terrajobst asked me to log it here.

[2017-12-06 07:52] RussellHaley commented on #1626
Thanks for the push @josteink , I was being lazy. :) You're correct.
/*************************************/
diff --git a/tests/runtest.sh b/tests/runtest.sh
index 12b0e6d74..5c45fc74f 100755
--- a/tests/runtest.sh
+++ b/tests/runtest.sh
@@ -113,6 +113,10 @@ case $OSName in
         libExtension="so"
         ;;

+    FreeBSD)
+        libExtension="so"
+        ;;
+
     NetBSD)
         libExten

[2017-12-06 08:50] GrabYourPitchforks commented on #25666
@morganbr, I like your proposal, though I'd offer some suggestions. First, I don't see the value of the `Try*` methods. There's never any ambiguity as to how large the destination buffers should be. The caller can always query the `HashSize` ahead of time to determine how many bytes will be written to the destination. If the caller specifies a destination buffer that's too short, just throw. (This

[2017-12-06 08:59] GrabYourPitchforks commented on #25582
I agree with @Clockwork-Muse. What's the motivation for this work item? Of the vanishingly small number of people who profile their applications and see that `DateTime.Now` is a bottneck, the easy solution for them is to change the code to instead call `DateTime.UtcNow`, _which is almost certainly the right thing for them to have done from the start anyway_.

[2017-12-06 09:17] tmds opened #25749 "Handling of SIGINT, SIGQUIT when SIG_IGN"
When dotnet is started with SIGINT, SIGQUIT set to SIG_IGN it should not change the disposition of those signals.

A shell may set these to SIG_IGN to ensure a background process it not killed.
See https://unix.stackexchange.com/questions/356408/strange-problem-with-trap-and-sigint

When set to SIG_IGN, we should keep it at that value because it also affects child processes. If the disposition is

[2017-12-06 09:48] tmds commented on #25749
CC @stephentoub

[2017-12-06 10:44] JonHanna commented on #25671
There's perhaps a nomenclature issue in that *Is Collectible* in the sense "is this a thing that can at some point be collected" is perfectly apt for `Type` and indeed is always true for some implementations (`TypeBuilder`, `EnumBuilder`, etc. are all types of `Type` and can all be collected, as indeed can `TypeDelegator` though I would assume that someone asking this of a delegator cares about th

[2017-12-06 11:14] nietras opened #25750 "Build fails `ApiCompat error : 0 : Unable to resolve assembly 'Assembly(Name=System.Private.CoreLib`"
I have tried building corefx `master` branch for some time on Windows. It has yet to succeed for me. I've tried on multiple windows machines. Followed the build instructions for windows. Yet it never works. Tried different commits and lately the one below with Visual Studio 15.5 installed. Still fails.

Almost everytime I want to do a contribution I hit these things, spent countless hours building

[2017-12-06 12:01] Drawaes commented on #25620
@saurabh500 Agreed that Async is a virus like that (in the nicest possible way). My point here is, that unless this going back to blocking is for a back port fix, then aren't you better off trying to eliminate the blocking one by one. At the moment its far easier to spot (Search for .Result, .Wait etc) rather than a temp hack that won't go out yet anyway?

I have a couple of things to finish up on

[2017-12-06 12:57] jkotas commented on #25289
System.Memory have not shipped a stable version yet. It is disabled in 2.0 servicing branches. You won't be able to add it as a dependency in 2.0 servicing fix.

You should redo the 2.0 servicing fix to not depend on Span.

[2017-12-06 13:24] stephentoub commented on #25620
And https://github.com/dotnet/corefx/issues/19836 😦

[2017-12-06 13:31] stephentoub commented on #25746
For clarification, `Console.Beep()` works fine on Unix.  It's `Console.Beep(int, int)` that throws PlatformNotSupportedException, due to lack of a good cross-platform mechanism for implementing it and it's relative value.

[2017-12-06 13:36] stephentoub commented on #25749
Seems reasonable.  It should just be a matter of changing:
https://github.com/dotnet/corefx/blob/33ec2994d85935b6c62df0792aef88b285d6c765/src/Native/Unix/System.Native/pal_console.cpp#L480-L485
to first check the current value by calling sigaction with a null second argument and then only proceeding to do this code if it's not SIG_IGN.

[2017-12-06 14:25] chiddekel commented on #25746
The implementation of platform Linux, Darwin, NT it simple if else statement or case switch.
The code run after e.g If (platform == Linux) { } the detect it restricted only this way:

The sounds are caused by the BIOS (Basic Input/Output System) by the OS (Operating System), by the DE (Desktop Environment).

[2017-12-06 14:28] stephentoub commented on #25746
You're welcome to submit a PR to be evaluated. I do not believe this is something folks at Microsoft will invest in any time soon.

[2017-12-06 14:33] anders9ustafsson opened #25752 ""Access is denied" when calling IPGlobalProperties.GetActiveUdpListeners on UWP"
I have a UWP application (minimum version set to 16299, Fall Creators Update) that consumes a .NET Standard 2.0 class library.

[code]
When calling `IPGlobalProperties.GetActiveUdpListeners()`, I get an *Access is denied* `NetworkInformationException`.

I have enabled internet (client and server) and intranet capabilities as well as enterprise authentication and system information, all to no avail

[2017-12-06 14:38] chiddekel commented on #25746
In short - implementation it's not hard to implement.
All pice is in place.

Linux Developer or distro maintainer of eg, Fedora, Debian etc, etc
Must check two-step:
 1. Is module `pcspkr` un-blacklist
 2. Is `PC Speaker, PC Beep, or Beep` unmute for example by alsa.

[2017-12-06 15:52] eerhardt commented on #25384
An option for general signal handling is to use the https://www.nuget.org/packages/Mono.Posix.NETStandard/ package.

From https://github.com/dotnet/corefx/issues/3188#issuecomment-340436998

For signal handling, you have 2 options:

1. Use Stdlib.SetSignalAction - to set which action should be performed when the signal is raised.  The options are either the default (SIG_DFL), error (SIG_ERR), or i

[2017-12-06 16:36] bartonjs commented on #25666
Maybe in the native side, but the managed side doesn't allow state cloning.  And "getting the hash" requires a HashFInal-type operation, such writing the number of bytes written; so once a hash has been "gotten" it has been tainted.  That's why crypto `IncrementalHash` has `GetHashAndReset()`.

I agree.  Byte -> (U)Int{32|64} requires a choice about endianness.  "Machine" is wrong, because then th

[2017-12-06 16:46] weshaggard commented on #25690
Thanks @RussellHaley for confirming and thanks @wtgodbe for fixing.

[2017-12-06 16:46] #25690 closed

[2017-12-06 16:47] JonHanna opened #25754 "Explicit dynamic conversion between some runtime-uncastable types gives wrong exception at wrong time."
Given an interface `IInterface` and an unsealed class `UnsealedClass` that does not implement it, then the following fails at runtime with `InvalidCastException`:

[code]

However, the following:
[code]

Fails with `InvalidOperationException` and the inappropriate message "No coercion operator is defined between types 'UnsealedClass[]' and 'IInterface[]'." (inappropriate as if it had been an array

[2017-12-06 16:50] dotMorten commented on #25741
Just to confirm... I don't see the members that the stack trace points to in CoreFX: https://github.com/dotnet/corefx/blob/e3f74deb999571d3f34a6b2b8011caebcf06dbfc/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs

[2017-12-06 16:52] Clockwork-Muse commented on #25582
...of course, part of the overall problem is that, really, you don't want to be logging in UTC either (which still has a timezone attached - namely, UTC).  You want an "absolute" stamp, which is an [`Instant`](https://nodatime.org/2.2.x/api/NodaTime.Instant.html) (which, granted, for historical and readability/roundtripping reasons, is usually **serialized** in UTC).
Because if I have a `DateTime`

[2017-12-06 16:53] bkoelman opened #25755 "DirectoryInfo.CreateSubdirectory bug allows creation above itself"
`DirectoryInfo.CreateSubdirectory()` throws on absolute paths, or when navigating using "..\dirname" above the current location. I think that is by design. However, this invariant breaks if the name after the dots is prefixed with the parent directory name.

Repro:
[code]

Which creates "c:\demo2\sub" without errors. I believe this is unintended behavior, caused by the next incorrect check: https:

[2017-12-06 16:55] albertolo commented on #25733
Hi, I already tried that without success.

The documentation says its in the  System.Security.Cryptography.Xml package
![image](https://user-images.githubusercontent.com/1964766/33673955-d01982c0-da73-11e7-8c3a-ebab04b0f537.png)

[2017-12-06 17:05] bartonjs commented on #25733
@albertolo The documentation says it is in the `System.Security.Cryptography.Xml` **namespace**.

https://apisof.net/catalog/System.Security.Cryptography.Xml.X509IssuerSerial shows that it is in `System.Security, Version=4.0.0.0, PublicKeyToken=b03f5f7f11d50a3a` for .NET Framework (4.7.1) and `System.Security.Cryptography.Pkcs, Version=4.0.3.0, PublicKeyToken=b03f5f7f11d50a3a` for .NET Core (2.0).

[2017-12-06 17:06] petroemil opened #25756 "Task.WhenAll support for Tuples"
`Task.WhenAll` should have a (set of) overload(s) to support returning the wrapped Tasks' results in a strongly typed `Tuple`.

An oversimplified implementation of this would look something like this
[code]
... and the usage would look something like this
[code]

I believe it would be relatively easy to implement but its value is huge as it allows to write simple but very efficient code that execu

[2017-12-06 17:12] Bobris commented on #16878
I looked at implementation mentioned in video in https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Primitives/System/Buffers/BufferExtensions.cs and it is correct, but "slow", so hopefully it is planned to have it with optimizations from beginning, please pretty please.

[2017-12-06 17:19] bkoelman commented on #25755
Somewhat related: `DirectoryInfo.CreateSubdirectory(string.Empty)` throws `ArgumentException` with message:

[code]

But calling `DirectoryInfo.CreateSubdirectory(" ")` succeeds without error. If the folder that the `DirectoryInfo` instance was pointing at initially did not exist, this call actually creates it.

[2017-12-06 17:21] udlose commented on #25303
@karelz

I watched the design session and appreciate that you record and share those - so thank you!

Unfortunately, the design discussion seemed to miss the point I was making and centered on the performance aspect - rather than the anti-pattern of using exceptions for control-flow which is what I was most concerned about.  Using exceptions for control-flow is specifically called out in the .NET

[2017-12-06 17:22] petroemil commented on #25756
Sorry, just realized this is the wrong repo :)
Opened an issue in the CoreCLR repo - where it belongs: [#15397](https://github.com/dotnet/coreclr/issues/15397)

[2017-12-06 17:28] mikedn commented on #25756
Actually this is right repo because this would be a new API addition and this kind of issue are discussed here, even if the implementation is in coreclr.

[2017-12-06 17:35] petroemil commented on #25756
Should I just reopen this then and close the other one in the CoreCLR repo?

[2017-12-06 17:37] mikedn commented on #25756
Yes.

This looks like an useful addition but I'm not sure it will work in the current form. The problem is that existing code that calls `WhenAll(params Task[])` will now call `WhenAll(Task<T1>, Task<T2>)` and likely fail to compile because the return type is different.

Perhaps something like this instead?

[code]

[2017-12-06 17:39] pharring commented on #14336
@terrajobst If it's not a collection of chars, then how would you describe it? (I used your words. My own description in #14572 is more precise.)

@karelz I've been playing with `ReadOnlySpan<char>` recently and, while it has its own limitations (requires latest C# compiler support; different behavior in .NET Core versus Desktop framework) it certainly solves the 'substring' problem.

However, it

[2017-12-06 17:43] karelz commented on #16878
@Bobris what else would you propose? Do you want to submit a PR?

[2017-12-06 17:50] davidsh commented on #25741
If not, we will have to move the bug - we do not track Desktop issues on GH
cc @davidsh

cc: @terrajobst

.NET Framework bugs should NOT be reported to this repo.  Instead, they should be reported on developercommunity.visualstudio.com.

Here is an example bug that was originally opened in GitHub but moved:
https://developercommunity.visualstudio.com/content/problem/154698/deadlock-between-httpcli

[2017-12-06 17:53] petroemil commented on #25756
You are right, this particular method signature would hide the original `WhenAll(params Task[] tasks)` option in most cases, the signature for this use case should be unique. Maybe it could be called `WhenEach` for the sake of differentiation, or it could expect to receive its parameters wrapped in a `Tuple`.

[2017-12-06 17:57] divega commented on #25620
+1 on removing blocking code on connection pooling for the async path. FWIW, this has come up in our discussions for https://github.com/aspnet/dataaccessperformance.

@Drawaes could you create a separate issue for this if one does not exist?

It is better to track those improvements separately because it is likely we will address the separately. E.g. we are considering taking the minimal fix for t

[2017-12-06 17:59] mikedn commented on #25756
Well, my (deleted) comment was mostly incorrect, somehow I read the signature as `public static (T1, T2) WhenAll<T1, T2>(Task<T1> task1, Task<T2> task2)`.

Now, it's is still true that adding this overload would make existing code call it instead of `WhenAll(params)`. It's not clear if there are any downsides in doing this. I suppose it may affect performance.

An interesting alternative might be

[2017-12-06 18:03] petroemil commented on #25756
I didn't dare to dream that big, I think introducing a new API is much simpler than introducing a new language feature, but I agree, if that syntax would be possible, that would be quite amazing.

[2017-12-06 18:07] stephentoub commented on #25756
FWIW, that doesn't require a new language feature, e.g. you can just write a GetAwaiter extension method for a tuple:
https://github.com/dotnet/corefx/issues/16010
https://gist.github.com/jnm2/3660db29457d391a34151f764bfe6ef7

[2017-12-06 18:08] mikedn commented on #25756
Ah, of course! Magic :smile:

[2017-12-06 18:14] davidsh commented on #25752
You probably need to have additional capabilities defined in your UWP manifest.  For example, do you have "Intranet" defined, i.e. "Private client/server" capability.  Can you attach your manifest file and/or list the XML for it here in this issue.

[2017-12-06 18:15] dpedrelli opened #25757 "Cannot load System.Net.Http, Version=4.0.0.0"
I'm using VS 2017.  I have a WinForms application that targets .NET Framework 4.6.1 and I am publishing as a ClickOnce app.  It uses my own Nuget package that targets .NET Standard 1.4.  The Nuget package references System.Net.Http.  When I install the application on a client computer. System.Net.Http.dll is not installed, even though it is referenced in the WinForms application.  App.config refer

[2017-12-06 18:18] pharring commented on #14336
@terrajobst Just watched the video. In it you say that Roslyn wanted this to work over TextBuffer and we solved that with SourceText. That's roughly correct, but the use cases for an abstraction over string are a lot broader than that. Consider all the APIs that construct readable names over syntax nodes or symbols. To construct a fully-qualified name, you have to pull together fragments of string

[2017-12-06 18:18] JonHanna commented on #25754
Oops. Linq is the culprit here, it shouldn't be rejecting that expression.

[2017-12-06 18:18] #25704 closed

[2017-12-06 18:25] petroemil commented on #25756
In this case, I guess my question got answered, there is already a pretty great solution that is being properly implemented.

There is one thing I noticed, that under the hood that `GetAwaiter` extension is using `Task.WhenAll(params Task[])` overload, which means it has a bit of extra allocation to turn those parameters into an array. Maybe if this would be properly supported by the `Task` APIs,

[2017-12-06 19:00] wtgodbe commented on #23496
Seconded what @kasper3 said, I'm having trouble reproing with @eerhardt's example

[2017-12-06 19:14] wtgodbe commented on #23496
It appears though that a desktop app that is passed a command line arg of `"""arg"""` will emit it as `"arg"`, which is consistent with the new state of the code in question. Therefore I'm inclined to think the code is working as intended. Or to quote @eerhardt,

[2017-12-06 19:22] anders9ustafsson commented on #25752
As I mentioned above, I have tested all capabilities that seemed remotely relevant, including Internet, Intranet, Enterprise Authentication, System Management, Remote System. None of them made any difference. If it matters, my tests were made in debug mode on the local machine.

[2017-12-06 19:24] anders9ustafsson commented on #25752
If there is another capability other than those I have listed above, I am eager to try it. Just point me in the right direction.

[2017-12-06 19:33] danmosemsft commented on #25303
Re the cost of implementation -- @udlose et al - would it still be helpful if the implementation of the new methods was simply a try/catch? There's still an exception, but if you are debugging in VS it by default will not break on exceptions in optimized code (like .NET itself). Also the code would not have to do the try/catch.

It would still have the perf impact of an exception, if any, but it s

[2017-12-06 19:46] GrabYourPitchforks opened #25759 "Consolidate UTF8 inspection / processing APIs to a single assembly"
This is a tracking issue for our ZenHub Security Epic.

[2017-12-06 19:47] GrabYourPitchforks commented on #25759
This is a tracking issue for our ZenHub Security Epic.

[2017-12-06 19:52] JonHanna opened #25760 "S.L.Expressions rejects valid conversions"
Given an interface `IInterface` and an unsealed class `UnsealedClass` that does not implement it, then the following delegate is valid, and works:

[code]

It will fail at runtime if we call `f(new UnsealedClass[0])` but could work if there was a derived class that implemented `IInterface` and we called `f(new Derived[0])`, etc.

However the equivalent expression:

[code]

…fails with `InvalidOper

[2017-12-06 20:00] karelz commented on #25303
@udlose

Your "using exceptions for control-flow" point was not missed. We just don't believe it is common scenario / normal flow of control to use invalid regexes. It is definitely not a practice we would recommend.

In general we do not plan to get rid of all exceptions in BCL which could in some not-so-common use cases be normal control flow by adding more Try\* methods. We save it for common p

[2017-12-06 20:04] GrabYourPitchforks commented on #10749
I don't know if it makes sense for this to be exposed as an `IEqualityComparer`. That interface is intended to be used in collections like sets and dictionaries, which is why it also exposes _GetHashCode_ in addition to _Equals_, whereas the typical use case for time-constant comparison is to compare two values in isolation without the involvement of any collection.

My ideal API would be just a s

[2017-12-06 20:08] danmosemsft commented on #25303
I think there may be confusion stemming from the name OP happened to suggest which was `TryParse`

The ask is not for `TryMatch` (a new flavor of an existing method adjusted to not throw - analogous to Int32.TryParse). It is for new functionality one might call `IsValidExpression`. There is no reason such a new method should throw.

We might think it's not going to get enough use to add, but I don

[2017-12-06 20:10] GrabYourPitchforks commented on #14325
FYI, I started addressing some of this in https://github.com/dotnet/corefxlab/pull/1881.

[2017-12-06 20:10] eerhardt commented on #23496
I've updated the repro project to target `netcoreapp2.1` and added instructions to the README file in the repo.

https://github.com/eerhardt/ReproBug23496/blob/master/README.md

The key here is:

On .NET Core 2.0, the program outputs:

[code]

On .NET Core 2.1, the program outputs:

[code]

[2017-12-06 20:18] Priya91 commented on #23496
@eerhardt This break is expected because we changed implementation to match other .net stacks. Does the program work with .net framework? If the framework has same behavior as .netcore 2.0, then it's a bug we should investigate further.

[2017-12-06 20:36] eerhardt commented on #23496
The program is specific to Unix (since it uses `/bin/sh`).

I compiled the program and ran the program on `Mono JIT compiler version 5.4.1.6 (2017-06/1f4613aa1ac Wed Oct 18 09:31:57 EDT 2017)` and it outputted:

[code]

[2017-12-06 20:39] eerhardt commented on #23496
So to answer @stephentoub's question above:

I've verified it is a break from Mono and from .NET Core 2.0.

[2017-12-06 20:51] ajcvickers opened #25761 "Failing connections after multiple requests"
Originally filed by @sebastianroesch as https://github.com/aspnet/EntityFrameworkCore/issues/10494

I have an ASP.NET Core Web application using EF Core 2.0. When performing a bunch of requests that retrieve data from the database, EF Core throws an error after approx. 100 requests. The database is an Azure SQL database and firewall settings are correct. Retrieving data works 80-90% of the times.

[2017-12-06 20:52] ajcvickers commented on #25761
@saurabh500 This was filed on EF Core, but it looks like a Sqlclient (or below) issue. Also, in triage we thought it might be related to #25620.
/cc @divega

[2017-12-06 20:55] wtgodbe commented on #23496
So it sounds like this is something we need to fix.

@Priya91 in https://github.com/dotnet/corefx/pull/21339/files#diff-015aad2514de8320cbfe19ed2b8ee9a7R511, were you trying to address only the case when the user passes an argument that looks exactly like `""` ? It does look like
 https://github.com/dotnet/corefx/blob/release/1.1.0/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix

[2017-12-06 21:15] udlose commented on #25303
@karelz

I don't think that @KrzysztofCwalina would agree with this practice.  I'd be interested to hear his thoughts.

[2017-12-06 21:19] danmosemsft commented on #25303
This discussion is repeating https://github.com/dotnet/corefx/issues/19928 which was asking for `AssemblyName.TryGetAssemblyName`

[2017-12-06 21:23] udlose commented on #25303
@danmosemsft - I appreciate your input.  The actual ask was for a `TryParse` which would follow the Try-Parse pattern. I give you a `string` and if it can be created into a valid `Regex`, you return `true` and a new instance of that `Regex` in the `out` param.  If it is not valid, you return `false` and the `out` param is null (default for reference types).

Your suggestion of a `Validate` is clos

[2017-12-06 21:32] weitzhandler opened #25762 "Allow creating a comparer from key selector"
### Suggestion

Please make another overload of the `Comparer<T>.Create` method that takes a `Func<T, object>` as a property selector, and will generate a comparer for the selected property.

### Motive

Currently, if we want to create a comparer for a specific property in an item, we have this option (would love to hear about others):

    var set = new SortedSet<User>(
     Comparer<User>.Create

[2017-12-06 21:36] Bobris commented on #16878
Not whole PR, but even "hand inlining" CompareTo to simple subtract (lengths are only positive so it is safe from wrapping) is improvement (inputs are identical):

BenchmarkDotNet=v0.10.11, OS=Windows 10 Redstone 2 [1703, Creators Update] (10.0.15063.726)
Processor=Intel Core i7-6500U CPU 2.50GHz (Skylake), ProcessorCount=4
Frequency=2531250 Hz, Resolution=395.0617 ns, Timer=TSC
.NET Core SDK=2.1.

[2017-12-06 21:40] divega commented on #23721
@geleems @saurabh500 Curious why this one isn't just considered by design. I assume the speed at which connection pool lookup succeeds or fails and simplicity trumps having connection strings that differ in whitespace or case ending in the same pool.

[2017-12-06 21:42] Priya91 commented on #23496
I dont exactly remember why I started doing that work, going by the PR looks like I started to fix the case of empty arguments, and then it turned out to unify the logic with corert. If you said that this is the same behavior with .net framework as well, then by reverting this change, it is going to introduce compat issues with framework. I recommend you work out a matrix with the behavior on all

[2017-12-06 21:46] wtgodbe commented on #23496
I believe Eric was saying that the behavior before this change was the same as mono/.net framework, but is different in 2.1 (I.E. this bug exists in 2.1, but not in .net framework/mono). Am I interpreting that wrong @eerhardt? Either way I agree a behavior matrix is a good idea.

[2017-12-06 21:50] karelz commented on #25750
@weshaggard any idea what might cause it? I haven't seen similar report so far :(

[2017-12-06 21:51] vonlar opened #25764 "Span tag in the xml documentation for System.Diagnostics.DiagnosticSource.4.4.1"
There's a span tag being generated in the System.Diagnostics.DiagnosticSource.xml file
`<?xml version="1.0" encoding="utf-8"?><span>
<doc>
  <assembly>
    <name>System.Diagnostics.DiagnosticSource</name>
  </assembly>`

I was unable to figure out how or where the span tag is getting added.

[2017-12-06 21:59] joshfree opened #25765 "IsolatedStorage random test failures UnauthorizedAccessException / DirectoryNotFoundException on Win 10 RS4 Insider Preview"
**repro**
./clean.cmd --all
./build.cmd
./build-tests.cmd

**output snippet:**

UnauthorizedAccessException
[code]

DirectoryNotFoundException
[code]

[2017-12-06 22:29] eerhardt commented on #23496
I don't have data on the .net framework behavior.  I've only run the program on Mono 5.4.1, .NET Core 2.0, and .NET Core 2.1.  I also haven't looked into paring down the repro program to the core "this exact ProcessStartInfo args are breaking".  That program was created by isolating the code in MSBuild that was causing the issue.  I got it isolated from MSBuild in a simple console app, and then st

[2017-12-06 22:38] KallDrexx commented on #11224
@withinoneyear from my understanding yes.  If you create an `HttpClient` and utilize it against Production Green, then swap production to Blue the `HttpClient` will still have an open connection to Green until the connection is closed.

[2017-12-06 23:01] karelz commented on #20311
No response for a week, closing. If you have more info, please let us know and we can reopen.

[2017-12-06 23:01] #20311 closed

[2017-12-06 23:05] wtgodbe commented on #23496
Is there a way I can run your repro on Windows? I just want to get a baseline for behavior on .net framework - do you think it'd be sufficient to write a simple console app that that prints out command line args & pass it args w/ different combinations of " characters?

[2017-12-06 23:16] weshaggard commented on #25750
I think the other error in your log is the root cause:
[code]

I've seen this once before because of a bug in msbuild (see https://github.com/dotnet/corefx/pull/24645/commits/d0e3851776a64cea638ae2c53f67a3b25def5756) which caused both sets of facades to be bin-placed. However I thought my fix (assuming you have it on your machine) should have taken care of this. I cannot see any obvious reason thi

[2017-12-06 23:17] karelz commented on #14684
No answer, closing

[2017-12-06 23:17] #14684 closed

[2017-12-06 23:19] karelz commented on #16179
@davidsh can you please answer the question above? So that we can close the issue ;) Thanks!

[2017-12-06 23:20] JunTaoLuo opened #25766 "MSB3277 warnings when building aspnetcore while referencing newest 2.1 runtime"
Scanning through our build logs after we tried to ingest the newest shared runtime, I'm beginning to see warnings from msbuild: `C:\Users\johluo\.dotnet\x64\sdk\2.2.0-preview1-007522\Microsoft.Common.CurrentVersion.targets(2041,5): warning MSB3277: Found conflicts between different versions of "System.Security.Cryptography.Cng" that could not be resolved.  These reference conflicts are listed in t

[2017-12-06 23:23] karelz commented on #18907
@wfurt can you please port it?

[2017-12-06 23:26] Quppa opened #25767 "ASP.NET Web Forms build fails after updating to Visual Studio 15.5 (SharedCompilationId parameter)"
After updating to Visual Studio 15.5, the two ASP.NET Web Forms projects in our solution are failing to build with the following errors:
[code]

I can work around the issue by removing the line `SharedCompilationId="$(SharedCompilationId)"` from the `Csc` element in `Microsoft.CSharp.Core.targets`.

Every project in our solution is using the latest version of `Microsoft.Net.Compilers` (2.4.0) and

[2017-12-06 23:35] danmosemsft commented on #23470
I don't think anyone wants the line number on the `throw;`, it is a bug, we would accept a fix for it, I think it is clearest to reopen this. The fix would be in CoreCLR.

[2017-12-06 23:35] karelz commented on #21148
@vancem what is status of this issue? Do you plan to submit PR?

[2017-12-06 23:40] karelz commented on #22765
Should be fairly straightforward.

[2017-12-06 23:40] Quppa commented on #23229
This does seem to be fixed in 15.5. I've removed the `RemoveNetFxForceConflicts` target from my `CSPROJ` files and haven't encountered the error.

[2017-12-06 23:47] karelz commented on #22796
Just curious if you found it by trying to send parts of large (2GB+) file. Can you please confirm?

We may need to rename `FileOffset` to `OffsetLong`, the API reviewers will have general guidance I hope.
Marking for API review.

[2017-12-06 23:50] karelz commented on #22796
Top post updated with API proposal

[2017-12-06 23:59] Spaceman1861 commented on #25705
@PeterSmithRedmond

Adding the following appears to have fixed the issue.
` new HttpClient(new HttpClientHandler { AutomaticDecompression = DecompressionMethods.GZip })`

This should probably have a clearer error or at the very least be listed on the breaking changes on the doco

https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/
https://github.com/aspnet/announcements/issues?page=1&

[2017-12-07 00:02] karelz commented on #24865
PerfView is a good tool as is Visual Studio.

[2017-12-07 00:02] #24865 closed

[2017-12-07 00:14] karelz commented on #24143
Duplicate of #14041

[2017-12-07 00:14] #24143 closed

[2017-12-07 00:18] danmosemsft commented on #25766
Should this be 2.1?
[code]

[2017-12-07 00:21] karelz commented on #25467
No reply for a week, closing. Let us know if the above is not enough.

[2017-12-07 00:21] #25467 closed

[2017-12-07 00:22] weshaggard commented on #25766
Yes. The 2.1 package doesn't work with netcoreap20

[2017-12-07 00:25] karelz commented on #24562
@tmds any progress on this one?

[2017-12-07 00:31] karelz commented on #25705
Closing as external issue then.

[2017-12-07 00:31] #25705 closed

[2017-12-07 00:35] wfurt commented on #22933
This seems like https://github.com/dotnet/corefx/issues/24036 It was resolved by changes to CI machines for Fedora and RH6.

[2017-12-07 00:35] #22933 closed

[2017-12-07 00:39] natemcmaster commented on #25766
Which package? Microsoft.NETCore.App or System.Security.Cryptography.Cng?

[2017-12-07 00:56] NVentimiglia commented on #15453
Currently we have to use DynamicInvoke, boxing, and EnumParse when converting with enums.  This  is especially true of framework code that aims to be 'user friend;y' and let consumers define their own types. (See MVVM / RX type programming)

This activity causes performance issue, especially on mobile devices.

If I could implicitly cast Enums to/from int without the boxing, dynamic invocation, an

[2017-12-07 01:02] stephentoub commented on #25467
FIONREAD is implemented in https://github.com/dotnet/corefx/pull/25579, anyway.

[2017-12-07 01:15] JonHanna commented on #15453
@NVentimiglia what's the issue with the first one you propose replacing with a `Convert`? It should just be a type-coercing `stloc`/`ldloc` at most, and likely just a nop that depends on the use of the `int` coercing the type.

[2017-12-07 01:27] weshaggard commented on #25766
Microsoft.NETCore.App 2.1.* only works with netcoreapp2.1 framework.

[2017-12-07 01:48] karelz commented on #25767
I have no idea where to route this issue. I would recommend to file VSFeedback from within VS.
It may not be specific to ASP.NET Web Forms. Probably a problem between C# and msbuild ...

[2017-12-07 01:48] #25767 closed

[2017-12-07 01:54] Quppa commented on #25767
@karelz All right - I've submitted it via VS Feedback.

[2017-12-07 01:55] karelz commented on #25764
Where is the documentation file generated? Is it in CoreFX source code? Or is it part of docs repo?
Why does it matter what is in the XML file? What breaks? What doesn't work?

[2017-12-07 02:01] karelz commented on #25757
The log says, there was post-binding policy to 4.1.1.1. Get rid of it by adding bindingRedirect of System.Net.Http 4.1.1.1 to 4.0.0.0 in your app.exe.config: https://github.com/dotnet/corefx/issues/25588#issuecomment-348044544

[2017-12-07 02:05] karelz commented on #25756
Duplicate of #16010
... I think we can close it that way.

[2017-12-07 02:05] #25756 closed

[2017-12-07 02:15] karelz commented on #25767
Great, hopefully it will be better routed there (it seems like the best place to me at least).

[2017-12-07 02:25] vonlar commented on #25764
So the documentation file gets automatically generated during the compilation process.  It looks at the source code comments and creates it from the comments.  How it managed to get a span tag in there I have no clue, I've never seen this ever happen since it's the compiler that creates it.

It's possible that the tag would keep Intellisense from working.  But in my use case, it's blocking down ch

[2017-12-07 02:31] dpedrelli commented on #25757
I changed:
[code]
to:

[code]

But I still get the redirect to 4.1.1.1 error.  The System.Net.Http.dll that I copied has version 4.6.23123.0.  Also, the install still does not include System.Net.Http.dll.  Is there a way for ensure the dll is installed with the ClickOnce setup?

Thanks

[2017-12-07 02:55] davidsh commented on #16179
.NET Framework always uses "blocking" for Close().  But that is also related to how someone might set the Socket.LingerState options (i.e. wait until the kernel flushes pending data on the wire).

https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.lingerstate?view=netframework-4.7#System_Net_Sockets_Socket_LingerState

But in general, the .NET Framework behavior is to set it to

[2017-12-07 03:05] ahsonkhan commented on #16878
Should this method be a generic method just like SequenceEqual?
i.e.
[code]

[2017-12-07 03:10] davidsh commented on #25757
Is it possible for you to post a small Visual Studio solution (*.ZIP file) that shows this problem?  There are  added complexities of this scenario being a WinForms application targeting 4.6.x and then being bundled with a ClickOnce setup.  So, in order to troubleshoot this, we need to see a complete solution so that we can attempt to repro the problem you are seeing.

[2017-12-07 04:06] jkotas commented on #16878
It would need to be `where T : IComparable<T>`.

[2017-12-07 04:22] #25684 closed

[2017-12-07 04:48] davidsh commented on #25520
It seems the problem is due to that server allowing only TLS 1.2.

See:
https://www.ssllabs.com/ssltest/analyze.html?d=sc-02.coinigy.com

TLS 1.3	No
TLS 1.2	Yes
TLS 1.1	No
TLS 1.0	No
SSL 3	No
SSL 2	No
For TLS 1.3 tests, we currently support draft version 18.

Windows Server 2012 R2 might require additional settings to use TLS 1.2.

The HTTP stack in .NET Core for Windows uses native WinHTTP layer.

[2017-12-07 04:51] davidsh commented on #25520
And in terms of the IE browser not working correctly, that is also interesting.  Internet Explorer uses native WinINet (not native WinHTTP).  It seems like both native Windows HTTP stacks use the registry to determine whether TLS 1.2 is enabled or not.

See:
https://technet.microsoft.com/en-us/library/dn786418(v=ws.11).aspx

[2017-12-07 05:35] ViktorHofer opened #25771 "Regex - Support Possessive Quantifiers"
Current popular regex engines like `java.util.regex` or `PCRE` support greedy, lazy and possessive quantifiers. The current .NET regex engine does only support the former two. Though they are syntactic sugar and can be mimicked with atomic grouping today, consider supporting them as they gained popularity over the last years.

Abstract:
Possessive quantifiers work the same as greedy quantifiers bu

[2017-12-07 05:45] RussellHaley commented on #1626
Okay, as per the very excellent information from janvorli, I was running part of my build in release and part of my build in debug. An embarrassing copy/paste mistake. I'm rebuilding now.

https://github.com/dotnet/coreclr/issues/1419

[2017-12-07 06:16] josteink commented on #1626
If you have a patch which fixes a broken build, I would recommend sending it as a pull-request so that it gets fixed for everyone :)

[2017-12-07 06:33] camp-007 opened #25773 "System.Net.Http v4.2.0.0 being copied/loaded from MSBuild tooling"
This issue was mentioned in the following comment, but that thread seemed to deal primarily with a different scenario.  @karelz requested a separate issue be filed and it doesn't seem that happened.

https://github.com/dotnet/corefx/issues/22781#issuecomment-322691420

The issue seems to be that when adding a reference to certain nuget packages, the version of System.Net.Http in the bin directory

[2017-12-07 06:45] camp-007 commented on #25773
My apologies, it seems the author of the previous comment I referenced did in fact open an issue here:  https://github.com/dotnet/corefx/issues/23306

However, I'm trying to read that chain and understand the final outcome.  It isn't clear to me what I'm doing wrong in my fairly basic scenario.  It seems very confusing/wrong that I'm getting System.Net.Http v4.2.0.0 introduced into my build.

At t

[2017-12-07 07:23] RussellHaley commented on #1626
Thank you, I will. I'm still working on getting tests to run though and I wasn't sure where the subsequent error was last night.

[2017-12-07 09:26] tengl opened #25774 "The type initializer for 'System.Net.Http.CurlHandler' threw an exception"
Hi,

I'm getting a weird error while running my server under CentOS. It said it is **"Unable to load DLL 'System.Net.Http.Native'"** (see exception below), and it only occurs when I start the server during startup using systemd or manually in Linux Screen, not in regular shell (Bash, PuTTY).

Why is this happening? From what I have found on Google, it seems to be an issue with openssl-libs, but ho

[2017-12-07 09:44] nietras commented on #25750
Running `clean.cmd --all` did indeed solve this, had run `clean.cmd`, but `--all` will be my default in the future 😄 Thanks.

I did have another issue though. Opening `System.Memory.sln` in VS 15.5 and building would give the following error for the `System.Memory.Performance.Tests` project (and lots of warnings):
[code]
Running `build-tests.cmd` solved that, since apparently the `PerfRunner.exe`

[2017-12-07 09:54] FSou1 commented on #25495
@karelz Would you mind helping me to determine the proper way to close this issue? As you've already mentioned a label should be assigned and an attribute for test ignoring on NET FX have to be added.

I'm afraid i'm stuck with both of them:
1. Do not have enough access rules;
2. Not able to figure out the content of testResult.xml to retrieve helpful information;

[2017-12-07 10:01] DamirLisak commented on #22853
Thank you for your proposal.
Your proposal would work if the user of my enumerator would adhere to good programming practices and will **not use the Reset()-Method** and start the iteration from scratch.
What do you think - Is the complete code in the System.Runtime.Serialization-Namespace implemented well so that for every Iteration a new Instance of my Enumerator will be instanced by calling the

[2017-12-07 10:03] nietras commented on #25750
On the other machine I had issues, the `clean.cmd --all` worked too, but for some reasons the `build-tests.cmd` fails with:
[code]

[2017-12-07 10:53] kurtschelfthout commented on #22796
Yes, that is exactly my use case. We have a file server which serves columns/blocks from data files which are witten in a columnar data format. The header gives us the offsets in the (potentially 2Gb+) file of the columns and the blocks of data in the columns. Clients ask for a set of columns/blocks which translates to a set of chunks of the file that the server needs to send to the client over th

[2017-12-07 14:34] #22528 closed

[2017-12-07 14:47] dpedrelli commented on #25757
@davidsh I can try to create a project.  However, if there is another way to accomplish this, I am open to it.  Even if I need a different way of deploying it than ClickOnce.  I am using WinForms, because of a 3rd party, Nuget package for PDFs that only support WinForms.  I am targeting 4.6.1, because my own Nuget targets Net Standard 1.4.

A bit more information, the WinForms app references Syste

[2017-12-07 15:05] denisvlah opened #25776 "Linux Dns.GetHostEntry doesn't work on Linux"
The Dns.GetHostEntry doesn't work at all on netcore 2.0.0 on Ubuntu.
It do work on windows netcore 2.0.0

Helpfully Dns.Resolve works on Linux as expected.

System.Net.Dns.GetHostEntry("192.168.1.21");  //fails with unreachable host
System.Net.Dns.Resolve("192.168.1.21"); // works on the same station on Linux.

I can see the same issue closed #15640 but I can reproduce this bug.

[2017-12-07 15:27] davidsh commented on #25773
Doing that kind of binding redirect is the correct workaround to this problem. However, you should just bind back to the 4.0.0..0 version. Doing so will ensure you use the GAC'd version of System.Net.Http.dll from the .NET Framework and not use the System.Net.Http.dll binary from the NuGet package.

I.e.

[code]

Although, reading your repro steps above, I don't understand why you would explicitly

[2017-12-07 15:27] davidsh commented on #25773
cc: @karelz @terrajobst - more packaging issues related to bindings.

[2017-12-07 16:07] udlose commented on #25303
@karelz after speaking with some coworkers they reminded me of an important business case for consuming/parsing many different regex patterns at runtime: **globalization** of address patterns, zip codes, area codes, credit card types (incl. non-US), etc.

[2017-12-07 16:08] eerhardt opened #25779 "Port Tensor library from corefxlab to corefx"

[2017-12-07 16:34] karelz commented on #25779
@eerhardt does it need to go through API review?

[2017-12-07 16:36] eerhardt commented on #25779
I think it already went through a first round, but yes, we should do a final/official API review.

[2017-12-07 16:48] weshaggard commented on #25750
@nietras I'm glad that fixed it for you. Out of curiosity did read the "Common full clean build and test run" section in https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md? It outlines exactly the steps you mention. If there is something you think would help in the docs please submit a PR to update them.

As for our Outerloop vs Innerloop test runs in VS I w

[2017-12-07 16:48] #25750 closed

[2017-12-07 16:48] karelz commented on #25779
Can you please post the API shape here? Or link to it if it is "too big". Then mark the issue as api-ready-for-review? Please ping Immo to schedule it, thanks!

[2017-12-07 16:52] natemcmaster commented on #25766
Are there any plans to change the Microsoft.NETCore.App 2.1.0-* package to only target .NETCoreApp2.1? If the package can't work on .NETCoreApp2.0, I don't see why there would be a problem removing this from its nuspec.

[2017-12-07 16:53] karelz commented on #25303
@udlose how is that dynamic scenario? If your localized regex is incorrect, is that something "normal" you expect and won't enable your feature on the specific language?
IMO it is a case of multiple static regexes (each of them should be validated at build-time), not a truly dynamic scenario.

[2017-12-07 16:55] 4creators commented on #25702
cc @eerhardt @ViktorHofer @tarekgh
Pinging since don't know which area it should be assigned to: `System` namespace or `System.Numerics`

[2017-12-07 17:00] weshaggard commented on #25766
We have issue https://github.com/dotnet/core-setup/issues/2437/ tracking the work to figure out how to handle the different netcoreapp TFM's from this package. We were originally going to try and keep support for all the older TFM's but the more we look into that the more we realize the amount of maintenance cost to do so so I expect before we ship 2.1 we will make this package only work for netco

[2017-12-07 17:08] tannergooding commented on #25702
I think the namespace it is in will likely come up in API review and get decided there (unless there is a clear consensus otherwise).

[2017-12-07 17:11] camp-007 commented on #25773
Thanks for the feedback!  This may be the key concept I'm struggling with:

Honestly, when targeting .NET Framework, I'm often confused why I usually end up with nuget package references targeting System.* (something I know should be in the framework).  But this happens to me all the time.

When building an app targeting 4.6.X a reference to the GAC'd version of System.Net.Http is included by defa

[2017-12-07 17:14] camp-007 commented on #25773
Also, Can you confirm that getting v4.2.0.0 referenced from C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\lib\System.Net.Http.dll would be expected/desirable?

[2017-12-07 17:14] udlose commented on #25303
@karelz - it's dynamic in that I might have these loaded into a database, file, etc. and not hardcoded directly into code.  I agree that in most cases, they are effectively static.  However, not always able to be stored in code as I gave examples of in prev comments.  What do you mean by

TMK, there's no way to validate a regex at compilation time.

Also, I remember in the design discussion above,

[2017-12-07 17:16] natemcmaster commented on #25766
Ok, thanks for clarifying.

[2017-12-07 17:19] karelz commented on #25303
@udlose I never before heard about globalization resources being stored in database for application. I think that is extremely rare.
By validated at build time I meant you should validate it before release (e.g. via testing). Or run with the risk your app is broken on certain language.
Either way, what is the difference for the app if you get bool or exception -- either way the app will not work o

[2017-12-07 17:21] udlose commented on #25303
@karelz CMS is typically used for Globalization (i.e. outside of code)

[2017-12-07 17:23] davidsh commented on #25773
Am I understanding that correctly?

So, it's actually even more complicated unfortunately.  In the old days, there were just references to .NET Framework assemblies.  Then came NuGet packages which added some complexity.  Recently with NETStandard20, developers can build class library that target NETStandard20 and use those on .NET Framework and/or .NET Core.

System.Net.Http is available in a NuG

[2017-12-07 17:23] davidsh commented on #25773
I can't really comment on that because I don't have your complete Visual Studio solution. So, I can't trace thru all the possible references you have.  But as long as you have a buildable solution now with binding redirects that work for you, then you should be good.

[2017-12-07 17:34] davidsh commented on #25741
We have moved the bug here so that it will be logged as a bug in .NET Framework.
https://developercommunity.visualstudio.com/content/problem/163070/making-a-web-request-with-cachepolicy-and-fiddler.html

You will be able to track status from there.

[2017-12-07 17:40] #25741 closed

[2017-12-07 17:41] camp-007 commented on #25773
[HttpIssue.zip](https://github.com/dotnet/corefx/files/1540040/HttpIssue.zip)

Here is my repro solution.  Something still feels very fishy about that 4.2.0.0 version getting brought in.

[2017-12-07 17:45] pranavkm commented on #25766
I'm also seeing this when referencing the 4.5.0 version of the System.Security.Cryptography.Cng package from a netcoreapp2.0 (referencing M.N.A 2.0.0):

[code]

[2017-12-07 18:24] karelz commented on #25303
Out of curiosity - what is CMS? (quick internet search didn't reveal anything related)

Either way, globalized regex for address/CC pattern seems to me similar to translated localized string (parameterized). What are you going to do when it is wrong? IMO you have to admit there is a bug in your application in such case. The globalized/localized resources are virtually part of your application (no

[2017-12-07 18:25] NVentimiglia commented on #15453
@JonHanna

Thanks, I think I might be confused. If there is no penalty for converting enums to/from ints, why do libraries such as Enums. Net exist ?

[2017-12-07 18:36] jamesqo commented on #15453
@NVentimiglia There isn't except when the type of the enum is generic.

@jkotas We should consider exposing [`UnsafeEnumCast`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/EqualityComparer.cs#L345) as a static method on `Enum`.

[2017-12-07 18:37] JonHanna commented on #15453
@NVentimiglia mostly as a replacement of the `Enum` static methods that go via `object` and hence do involve boxing. The direct cast of `int a = (int)MyEnum.Green;` doesn't.

If you compile something like `public static int Add(StringComparison x, StringComparison y) => (int)x + (int)y;` in a release build you'll see that it gets compiled to:
[code]
Just as if the arguments had been `int`.

Cases

[2017-12-07 18:45] karelz commented on #25495
@FSou1 only members have permissions to change labels - it is tied to commit permissions.
@ajcvickers adding netfx-port-consider, please double check it is something you want to eventually consider porting into Desktop.

@FSou1 let's keep PR discussion in the PR (testResults.xml)

[2017-12-07 18:46] NVentimiglia commented on #15453
@jkotas

Thanks, in my case I am using generics.

@JonHanna

Thanks, in my case I am using generics, so I am using the static helper methods.

[2017-12-07 18:54] TylerBrinkley commented on #15453
@jamesqo `UnsafeEnumCast` would not be necessary since this proposal includes generic `ToInt32`, `ToInt64`, etc. methods.

[2017-12-07 19:08] eerhardt commented on #23496
The exact program can't run on Windows because it is using `/bin/sh`.  Roughly this is what is happening:

[code]

Where `/tmp/tmp25048b5e928a4b948423df765b641fa0.exec.cmd` is a temporary generated file that contains

[code]

[2017-12-07 19:12] wfurt commented on #25429
I see 14 failures in November @davidsh and there was one failure in August. This seems like regression to me.

[code]

[2017-12-07 19:18] Priya91 commented on #24677
@tmds what are the other scenarios while using sockets for which ebadf wouldn't mean connection aborted?

[2017-12-07 19:22] wfurt commented on #24566
There are no failures in Helix runs. This seems one-off in CI.

[2017-12-07 19:23] safern opened #25781 "System.ComponentModel.Composition has internals visible to"
We are currently testing internals in System.ComponentModel.Composition, we should consider removing those if they don't add much value/bring more interesting code coverage. Also if we can't test them from the public APIs maybe we have some death code there :)

cc: @weshaggard @maryamariyan @danmosemsft

[2017-12-07 19:24] wfurt commented on #24114
This was caused by packet filter rules on specific distributions. That should be fixed now.
Please re-open if this fails again.

[2017-12-07 19:26] wfurt commented on #24114
BTW It did not failed since 11/09 and it was consistently failing before.

[code]

[2017-12-07 19:29] shmao commented on #24668
@terrajobst @karelz can you please review the new APIs that use the named delegates? Thanks.

[2017-12-07 19:31] shmao commented on #24672
This is added to System.ServiceModel.dll shim.

[2017-12-07 19:31] #24672 closed

[2017-12-07 19:33] wfurt commented on #23533
23 failures in November so far. Two failures on old RedHat, various Windows platforms otherwise.

[code]

[2017-12-07 19:33] tarekgh commented on #25722
@valenis who you think this should be assigned to?

[2017-12-07 19:34] tarekgh commented on #25723
@valenis who you think this should be assigned to? I am seeing you marked for 2.1

[2017-12-07 19:38] udlose commented on #25303
@karelz - CMS is a [Content Management System](https://en.wikipedia.org/wiki/Content_management_system). It is, in its simplest form, used for dynamic management of web and digital content.  In its more complex form (as I've found many times is the usage) it is used for globalization of digital resources.  There are literally dozens of enterprise-level CMS 3rd party systems for purchase.  Many tim

[2017-12-07 19:39] karelz commented on #24668
We will do that in our Tuesday API review session (hopefully the next one). You might want to join us (please ping Immo to send you the invite).

[2017-12-07 19:49] wfurt commented on #21702
I did not find any failures in Helix database. It seems like both failures did come from Ubuntu 16.04
It did failed once for me on Ubuntu 14 in run on my local machine.

[2017-12-07 19:50] tarekgh commented on #25730
@krwq could you have a look? it is not urgent though.

[2017-12-07 19:57] shmao commented on #25616
@remcoros Thanks for submitting the issue. To disable the warning, we probably can add something like below in the CSC task.

[code]

Can you please share a sample type that cause the warning with us? I haven't been able to repro the issue.

If it's your package that uses XmlSerializer to serialize types defined in your package, it would make sense to pack the generated assembly in the package. If

[2017-12-07 19:58] eerhardt commented on #25702
I think it is fine being in the System.Numerics label on GitHub, but my opinion would be that the type belongs in the `System` namespace to be beside `System.Single` and `System.Double`.

I'm not familiar with how to add intrinsic types, would the runtime need to be updated?  Or could this solely be done in `System.Private.CoreLib`?

[2017-12-07 20:00] wfurt commented on #20747
I'm closing for now unless new evidence pops up. It seems like the original post is very old and new hangs fixed. I would suggest to open new bug if this happens again as root cause may be different.

[2017-12-07 20:00] #20747 closed

[2017-12-07 20:01] karelz commented on #25303
Sure, that's dynamic scenario for webapps. However, it does not mean storing regexes without prior validation in there is the right pattern and common scenario.
I expect only limited set of people can change the regexes.
If there is invalid regex stored there, it is basically a bug in your application. It is exceptional case, not the common, typical case. It is something you want to fix/log rather

[2017-12-07 20:03] wfurt commented on #20685
Last occurrence from beginning of June. Closing now, please reopen if this fails again.

[code]

[2017-12-07 20:03] #20685 closed

[2017-12-07 20:06] wfurt commented on #20223
Last failure in Helix is from 2017-07-25. It is interesting that CI has disproportionally more failures.

[2017-12-07 20:07] wfurt commented on #19922
I could not find any recent failures. Please reopen if this fails again.

[2017-12-07 20:07] #19922 closed

[2017-12-07 20:10] wfurt commented on #16945
I could not find any recent failure. Please reopen if this fails again.

[2017-12-07 20:14] wtgodbe commented on #23496
I ran the following program against .net framework:

`class Program
    {
        static void Main(string[] args)
        {
            Process p = new Process();
            p.StartInfo.FileName = "C:\\Users\\wigodbe\\Documents\\Visual Studio 2015\\Projects\\ProcessStart\\ProcessStart\\tmp.cmd";
            p.StartInfo.Arguments = "\"\"\"triple quoted argument\"\"\"";
            p.Start();

[2017-12-07 20:14] tarekgh commented on #25664
@hughbe is the one added these tests and marked it as OuterLoop and looks these didn't run by default as I never hit.

@stephentoub please disable these tests and I can fix them when I am back if it can wait.

@danmosemsft, if @hughbe is not going to fix these, can you get one fix these if it is urgent?

CC @AlexGhiondea

[2017-12-07 20:17] 4creators commented on #25702
Adding any intrinsics using Half supporting processor instructions would require runtime changes. This is an ongoing work which adds Intel and Arm hardware intrinsics. Some of the instructions using 16bit floating point numbers cannot be currently supported due to missing System.Half. Adding this API should unblock this work.

[2017-12-07 20:23] eerhardt commented on #25702
I meant "would the runtime need to be updated strictly for adding the type?"- outside the hardware intrinsics portion.

For example, if you look at the IL for System.Double:

[code]

A new IL type would need to be added - `float16` - right?

[2017-12-07 20:29] fiigii commented on #25702
@eerhardt Another solution is to use `[Intrinsic]` attribute to mark `System.Half`, then the runtime/compiler can specially treat this type. This solution may be simpler and easier because we do not need to change IL and `System.Half` is just a `struct`.

See https://github.com/dotnet/coreclr/pull/15340

[2017-12-07 20:32] wtgodbe commented on #24874
@Anipik @danmosemsft closing this as resolved by https://github.com/dotnet/corefx/pull/25695, re-open if that's not the case

[2017-12-07 20:32] #24874 closed

[2017-12-07 20:41] BrennanConroy opened #25782 "SocketAsyncEventArgs returns null when accessing buffer then throws when trying to set BufferList"
We have the following code now throwing `SR.net_ambiguousbuffers` after https://github.com/dotnet/corefx/pull/25402

[code]

The reason is we do `_eventArgs.SetBuffer(buffer); // buffer is Memory<byte>` earlier, then when checking if `_eventArgs.Buffer` is null it returns null since the `_bufferIsExplicitArray` was set to false when using `Memory<byte>`

[2017-12-07 20:41] BrennanConroy commented on #25782
@stephentoub @halter73

[2017-12-07 20:45] CIPop commented on #8158
With help from @amarochk from the Microsoft.TSS team we've worked around this issue for TPM on Linux. This is no longer blocking us.

[2017-12-07 20:45] stephentoub commented on #25782
It sounds like the bug is that you're using the new _eventArgs.SetBuffer(Memory) but then still expecting _eventArgs.Buffer to be non-null.  With the change in your code to use _eventArgs.SetBuffer(Memory) rather than _eventArgs.SetBuffer(byte[], int, int), your code that checks _eventArgs.Buffer should also be changed.

[2017-12-07 20:50] Drawaes commented on #25429
The only thing I changed was to stop the tests from blocking on Tasks and make them async instead, I am happy to revert them however I don't think this is the underlying problem. Thoughts?

[2017-12-07 20:55] 4creators commented on #25702
@eerhardt

I would imagine it could be created in such a way:

[code]

[2017-12-07 20:56] tannergooding commented on #25702
Yeah. I don't think modifying the IL to support a new type is a good idea. `System.Half` should likely just be a normal struct and use `.field private int16 m_value` as its backing field.

I think, overall, it should be fairly opaque and just have the basic operations that can be easily implemented in software (equality, compare, isfinite, etc). The other operations (such as the arithmetic operati

[2017-12-07 20:56] 4creators commented on #25702
Hmm, perhaps it would necessary to add IL modifiers .size 2, and .pack 2.

[2017-12-07 20:58] fiigii commented on #25702
Agree.

[2017-12-07 20:59] 4creators commented on #25702
Some Half implementations implicitly promote it to Single, do all calculations using the format and after return result as Half.
see: `Half-precision floating point library` http://half.sourceforge.net/

[2017-12-07 20:59] danmosemsft commented on #25664
I think it's fine to just disable against this issue for now

[2017-12-07 21:02] 4creators commented on #25702
Not for long. Arm already supports Half scalar arithmetic which is similar but not conforming to IEEE 754:2008 as it does not support infinities or NaNs. Instead, the range of exponents is extended, so that this format can represent normalized values in the range of 2^{-14} to 131008.

[2017-12-07 21:06] jkotas commented on #15818
This will make the API less efficient for small valuetypes like bytes or ints. I think we need a general rules  about use of `in` for new APIs.

[2017-12-07 21:06] tannergooding commented on #25702
Those implementations might not be considered IEEE compliant (I don't remember the exact spec wording on this) as they can return a different result.

IIRC the spec dictates that each operation needs to be (effectively) computed to infinite precision and then rounded to the appropriate precision.

So:
[code]

[2017-12-07 21:11] krwq commented on #25730
@tarekgh I've mixed feeling if this should be Globalization or Serialization issue... @shmao - who's usually fixing those kind of test gaps?

[2017-12-07 21:14] 4creators commented on #25702
Agree, they look a lot like FMA calculations. However, GCC introduced Half to libc in two modes: (i) IEEE compliant, (ii) Arm implementation compliant. IMO opinion most ppl using Half currently for AI or media/graphics/games will be more interested in getting fast calculations and saving memory than being strictly IEEE 754 compliant. Compliance may be most important in other scenarios where I do n

[2017-12-07 21:20] tannergooding commented on #25702
I think that is a separate discussion and should be separate from the initial proposal to add the type.

I believe the initial proposal should add an opaque interchange type with a minimum set of operations. The minimum set should basically those listed in the OP, less the `IConvertible` implementation.

Additional operations can be discussed separately and added later, if required, as they likely

[2017-12-07 21:21] 4creators commented on #25702
Agree that's the best way to proceed.

[2017-12-07 21:23] karelz commented on #24601
@wtgodbe please check test history from @wfurt.
It seems like one off hiccup on OSX in installation of the product (I would expect more tests failed however). If it fails again, we may need to jump on it right away, and check the machine.

Another option is to look at the test and see if we can add more diagnostics logging which could help.

[2017-12-07 21:27] wfurt commented on #24601
For Helix runs, I see last failure from 2017-05-10

Just a note that there were some emails about Azure troubles. That mar or may not be related.

[2017-12-07 21:27] karelz commented on #24600
Duplicate of #24601

[2017-12-07 21:27] #24600 closed

[2017-12-07 21:28] wfurt commented on #24601
BTW the last CI link is dead and returns 404.

[2017-12-07 21:29] lmolkova opened #25783 "Alpine.3.6 x64 Debug Build build fails"
[code]

https://ci3.dot.net/job/dotnet_corefx/job/master/job/alpine-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/14/consoleFull

[2017-12-07 21:34] nietras commented on #15818
@jkotas I thought the JIT could decide on whether to pass by reference or value based on type, i.e. type size, and choose the best strategy. Of course, that would not be the case for interop etc. If that is not the case, you are probably right...

[2017-12-07 21:34] karelz commented on #24601
It seems like the product was not installed properly on the machines. It may be some infra hiccup.
If it happens again, please reopen, @wtgodbe will jump on it right away to chase down more detailed machine logs, while they are around.

[2017-12-07 21:34] #24601 closed

[2017-12-07 21:37] jkotas commented on #15818
Yes, the JIT does that already on x64 and arm64 - this optimization is builtin into the default calling convention on all modern platforms.

[2017-12-07 21:38] nietras commented on #15818
Yeah ok, then it doesn't make much sense to alter this. 👍

[2017-12-07 21:47] weshaggard commented on #25766
Something seems off with your package cache. My System.Core.dll on my machine references System.Security.Cryptography.Cng version 0.0.0.0, as expected. Can you double check your version in ILDasm to see if it shows the same?

[2017-12-07 22:00] karelz commented on #25783
@janvorli @weshaggard any idea what's going on?

[2017-12-07 22:07] janvorli commented on #25783
I bet it is an issue with dotnet host nuget package restoring. I've seen that at some point in the past when the core-setup packages were not being built yet. I wonder if it is possible that a specific version of the package is missing on myget. The restore seems to restore nothing in that case and doesn't fail for some reason.

[2017-12-07 22:17] karelz commented on #25040
Sounds like a reasonable proposal to us (@karelz @Priya91 @wfurt) -- @davidsh @DavidGoll any opinions.

BTW: We already have protocol specific options (e.g. IpTimeToLive) on the type: https://apisof.net/catalog/System.Net.Sockets.SocketOptionName.IpTimeToLive

[2017-12-07 22:27] karelz commented on #25354
Sounds good as proposed. The APIs with `FileStream` are a bit more advanced - require carefull resource management, but we don't see a reason for not exposing them.

[2017-12-07 22:53] halter73 commented on #25782
I see. I didn't see until now that SocketAsyncEventArgs.MemoryBuffer got added. The current behavior seems fine then. We can close this, right @BrennanConroy?

[2017-12-07 22:54] BrennanConroy commented on #25782
Yeah it was just a confusing API

[2017-12-07 22:54] #25782 closed

[2017-12-07 23:10] davkean commented on #24445
@danmosemsft Yes that's what I would like.

[2017-12-07 23:10] stephentoub commented on #25782
Thanks.

[2017-12-07 23:11] karelz commented on #25783
How did you make that connection based on the log above? Did you find more evidence in the full log?

[2017-12-07 23:19] ianhays opened #25785 "Add Brotli Compression to CoreFX"
# System.IO.Compression.Brotli

## Introduction

Brotli is a generic-purpose lossless compression algorithm that compresses data
using a combination of a modern variant of the LZ77 algorithm, Huffman coding
and 2nd order context modeling, with a compression ratio comparable to the best
currently available general-purpose compression methods. It is similar in speed
to deflate but offers more dense

[2017-12-07 23:26] karelz commented on #9296
@wfurt can you check your records - when did it happen last?

[2017-12-07 23:26] pranavkm commented on #25766
[code]

[2017-12-07 23:29] weshaggard commented on #25766
Yes that is what it is supposed to be. I don't know why your msbuild log is saying it references 4.3.1.0 version of the library then.

[2017-12-07 23:31] wfurt commented on #9296
Last failure is from 2017-09-03. As clear from the title, corefx-net.cloudapp.net/ is cloud service so stability of this test will depend on stability of external factors. However we will not see anything since test was disabled @karelz

[2017-12-07 23:37] Priya91 commented on #17427
I wrote a small app on MacOS and hit a websocket server using ManagedClientWebSocket and an https server using ManagedHttpClientHandler, both of these types uses SslStream in their implementation. I verified the ssl handshake data sent over the wire using wireshark, and verified that it in fact sends the server_name TLS extension in the ClientHello. Can you provide a small repro app for this bug,

[2017-12-07 23:42] janvorli commented on #25783
No, just the fact that the dotnet file is missing was the evidence. The sync.sh should have restored the package that contains dotnet, but there is nothing logged about it being restored and also no error. I know that the sync.sh is supposed to do that.

[2017-12-07 23:51] janvorli commented on #25783
I will locally check which version of the dotnet host package it is trying to pull and see if my theory is correct.

[2017-12-07 23:52] KrzysztofCwalina commented on #25785
I don't think the non-streaming samples are illustrating what we are after. They will never go through more than one itteration of the loop. The right sample would be something like the following:

[code]

[2017-12-08 00:01] karelz commented on #25661
Fixed by PR #25637

[2017-12-08 00:01] #25661 closed

[2017-12-08 00:04] karelz commented on #25429
@Drawaes what was the PR which might have introduced it?

[2017-12-08 00:18] Drawaes commented on #25429
#25347 was the earliest where I removed hard blocking from the tests.... although that was like the 24th of nov I believe so if the failures where increasing before then, it will rule it out.

[2017-12-08 00:21] karelz commented on #25429
That one was merged exactly on 11/21 when the tests started failing - https://github.com/dotnet/corefx/pull/25347#event-1352483857

I think we need to revert changes to these 2 tests, or fix them even better. Can you please look into that?
* Connect_MultipleIPAddresses_Success
* Connect_Success

[2017-12-08 00:27] stephentoub commented on #25429
Are these still failing with the same error? I thought @Drawaes already reverted the part that caused that specific problem in these.

[2017-12-08 00:42] karelz commented on #19701
This is tracking unreliable Azure infrastructure (Azure end points). Reopening.
E.g. test PostAsync_CallMethod_StreamContent (closed as dupe) failed in Sep, Oct and Nov.

[2017-12-08 00:48] pjanotti commented on #22014
Closed by PR #24616

[2017-12-08 00:48] #22014 closed

[2017-12-08 00:49] pjanotti commented on #24594
Leaving this one open until we get it on a servicing branch.

[2017-12-08 01:04] wfurt commented on #25429
Possibly @stephentoub I see Connect_MultipleIPAddresses_Success last failed 11/28 - recently from last week/month prospective. I did not follow the changes closely.

[2017-12-08 01:06] Drawaes commented on #25429
I reverted all the timeouts, I believe

[2017-12-08 01:10] Drawaes commented on #25429
The connect timeouts were removed on #25460  which was 9 days ago according to GH. If the last failure was on the 28th, and it's now 14 days later is this still an issue?

[2017-12-08 01:11] Drawaes commented on #25429
(FYI this doesn't "solve" the issue of why it takes that long for the tests to run sometimes, but at least lets the CI pass)

[2017-12-08 01:43] JonHanna commented on #23387
@Zaid-Ajaj ping?

[2017-12-08 02:18] JonHanna commented on #11797
To judge from comparing reference source and corefx:

Original NetFX implementation used `TypeDescriptor.GetConverter(type).ConvertFromInvariantString(value)` which would work fine with `typeof(Guid)` for `type`and `""8DAEDD83-289E-417C-AAAC-D48D77E0D84C"` for `value`.

Silverlight implementation would see if it could use `Enum.Parse`, then see if it could use `TimeSpan.Parse` and finally if the t

[2017-12-08 05:53] ahsonkhan commented on #25785
The BrotliResult enum is very similar (if not identical) to the OperationStatus enum in the System.Buffers namespace that we use for our Base64 Encoder and Decoder. Can we use OperationStatus as the returned enum in Brotli as well?

https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Buffers/OperationStatus.cs

[2017-12-08 08:13] nietras commented on #15818
Given this, I am a little perplexed by the example given for using `in` in https://docs.microsoft.com/en-us/dotnet/csharp/reference-semantics-with-value-types:
[code]
if the JIT already passes this by `ref`, what would the benefit be here in that case? Only thing is you cannot change the `in` parameters inside the method I assume... which you could if passed by value alone, but with no effect outs

[2017-12-08 08:30] mikedn commented on #15818
There seems to be a bit of confusion here. Yes, many calling conventions pass large values by reference anyway. But the by value semantics needs to be respected and most of the time that requires passing a reference to a copy of the original value. That prevents the callee from changing the original values and potential issues arising from the original value changing while the callee is using it (

[2017-12-08 09:28] huiguochen opened #25792 "NamedPipeServerStream creates a socket not a fifo on ubuntu"
I expected to use NamedPipeServerStream  to create a fifo file on linux,  but it created a socket Named "CoreFxPipe_1.fifo"  in /tmp directory.
here is test code:
[code]
what is the reason? how to create a fifo on linux?

[EDIT] Add C# syntax highlighint by @karelz

[2017-12-08 09:35] mikedn commented on #25792
See https://github.com/dotnet/corefx/issues/1849

[2017-12-08 11:30] giacomelli commented on #23308
If you are targeting more than one framework, like:
[code]
then you need to remember to conditional add the System.Data.SqlClient package reference:
[code]

[2017-12-08 12:54] Zaid-Ajaj commented on #23387
@JonHanna Sorry for late answer! Yes I have checked and it seems that the issue is fixed. Thanks a lot for your time :smile:

[2017-12-08 12:54] #23387 closed

[2017-12-08 13:13] tmds commented on #24562
@karelz This was fixed in https://github.com/dotnet/corefx/pull/24809.
It may be worth backporting to 2.0.

[2017-12-08 13:16] tmds commented on #23972
@maryamariyan this should be osx label instead of linux.

[2017-12-08 14:21] migueldeicaza commented on #24093
I do not where to start on the combining request, neither Go, Rust or Swift surface such an API on rune, Character or Unicode Scalar (their names for `System.Rune`).   Please provide a proposed implementation.

On grapheme clusters, it is a good idea, it should be tracked independently of `System.Rune`.   For what its worth, Swift use `Character` for this, but also Swift is not a great model for h

[2017-12-08 14:34] jnm2 commented on #24093
I'm sorry; I think `CodePoint` is an outstandingly good name. It's self-explanatory, memorable, and autocompletes with <kbd>c</kbd><kbd>p</kbd>.

[2017-12-08 15:06] JonHanna commented on #24093
`IsCombining` would definitely be necessary, but so too is knowing the combining class and once we have that `IsCombining` is largely sugar as it's just `IsCombining => CombiningClass != 0` or `IsCombining => CombiningClass != CombiningClass.None`. Grapheme clusters would indeed be outside of it again, but the starting point would be knowing the combining class for default clustering, reordering,

[2017-12-08 15:13] JonHanna opened #25795 "Microsoft.CSharp should support non-trailing named parameters"
C# now allows them, so so should Microsoft.CSharp.

Support directly on `dynamic` would depend on changes from Roslyn, but Roslyn can't offer that support until it will work with the library.

Support should match the behaviour of statically-bound C#, except for treating the case of a name that was changed in an override the same as the current dynamic behaviour, since in static C# that depends on

[2017-12-08 15:16] remcoros commented on #25616
@shmao Here is the build output with A LOT of (the same) warnings: https://ci.appveyor.com/project/ublsharp/ublsharp/build/108

- CS0219: The variable 'tmp' is assigned but its value is never used
- CS0162: Unreachable code detected

I think it's those two.

I'd prefer a new msbuild (like XmlSerializersNoWarn) property and not reuse 'NoWarn', so we still can catch warnings from the main library.

[2017-12-08 15:43] jnm2 commented on #24093
https://www.random.org/strings/?num=10&len=4&loweralpha=on&unique=on&format=html&rnd=new

[2017-12-08 16:57] karelz commented on #24562
Thanks for info - let's use the "Fixes #xyz" syntax in PRs in future, that will auto-close issues.

It does not seem to be common scenario. ASP.NET team didn't raise it as blocking. So I don't see a reason to porting it back to 2.0.x servicing.

Closing as fixed by #24809

[2017-12-08 16:57] #24562 closed

[2017-12-08 17:02] karelz commented on #25785
@ahsonkhan where was the OperationStatus approved as API? I asked the question on #22412 but didn't get answer :)

[2017-12-08 17:20] karelz commented on #25429
Seems that the regression introduced in #25347 has been fixed by #25460, closing.
The 2 tests mentioned above didn't fail since #25460 was merged on 11/28 and the tests were failing consistently 2x-9x per day since 11/21-22 when the regression was introduced.

[2017-12-08 17:20] #25429 closed

[2017-12-08 17:41] ianhays commented on #25785
Oh, yes, I didn't see that OperationStatus was in CoreFX already. It is interchangeable with BrotliStatus. I'll update the proposal.

[2017-12-08 17:50] pmlyon commented on #14702
@karelz, is it allowed to resize arrays retrieved from ArrayPool before returning them? I don't see it mentioned in the docs that are available in source: https://github.com/dotnet/corefx/blob/master/src/System.Buffers/src/System/Buffers/ArrayPool.cs

[2017-12-08 17:51] ianhays commented on #25785
Updated the spec with the more accurate use-case examples.

[2017-12-08 17:52] safern commented on #14702
AFAIK you have to rent a new piece of memory to the new size and copy the elements from the old and then return the old one.

[2017-12-08 17:54] danmosemsft commented on #25529
@AndresPabloGomez as @ViktorHofer mentioned, this has been logged internally as a potential port to the .NET Framework, which I see is what you're using. That would take a while though. I'm curious whether your server could potentially run .NET Core? If you're using Webforms, for example, that would not be possible.

[2017-12-08 17:55] danmosemsft commented on #25779
@tannergooding not sure whether you've already given feedback on this API, or whether it's the sort of API that interests you.

[2017-12-08 18:14] tannergooding commented on #25779
I've been following it (but not very closely).

The API shape overall looks reasonable to me.
  * nit: it would be helpful to add a newline between the logical API groupings (i.e. between `ToCompressedSparseTensor` and `ToSparseTensor` or between the constructors, properties, and methods, etc)

My feedback:
`ArrayTensorExtensions.ToTensor` should be `ArrayTensorExtensions.ToDenseTensor`, to match

[2017-12-08 18:16] AndresPabloGomez commented on #25529
Hi, is not possible to port to .Net Core. We have a high performance, scalable, fault tolerance Middleware and Application Server solution. Some features uses low level APIs to interface with other systems and legacies. We appreciate this changes implemented in .Net Framework.

[2017-12-08 19:02] shravan2x opened #25800 "HttpClient throws unexpected TaskCanceledException when HttpClient is reused"
**This is the raw stack trace from the exception that occurs**:
[code]

**The issue**:
My problem originates with the `HttpWebRequest` API being depricated and a significantly lower performance version being used in .NET Core 2.0. I use a library (QuarkHttp) that is a tiny wrapper around the `HttpWebRequest` API. When porting this wrapper library to .NET Core, I used a shared `HttpClient` instance

[2017-12-08 19:09] karelz commented on #14702
There is no real resize on arrays anyway, [`Array.Resize`](https://github.com/dotnet/coreclr/blob/v2.0.3/src/mscorlib/src/System/Array.cs#L48-L69) will just allocate new array. Resizing capability is not really available in .NET.

[2017-12-08 19:20] danmosemsft commented on #1849
For those interested: general domain sockets support was added https://github.com/dotnet/corefx/pull/25246

[2017-12-08 19:27] karelz commented on #9503
In internal discussion we found out that shipping the package just for Win7 is difficult and problematic. We are going with option [3] above -- use managed WebSockets for all Windows (except UWP). Title updated.

More details on the risk assessment from @davidsh (thanks!)

The managed WebSocket implementation (currently used only on Linux) is missing HTTP auth and proxy support.
The Windows .NET C

[2017-12-08 19:35] terrajobst commented on #25779
This looks like an API that we'll need 2 hours for.

@eerhardt @OliaG How soon does this need to happen?

[2017-12-08 19:37] eerhardt commented on #25779
Yes, it is a larger API and will take some time.  Especially the discussion around the Range type.

The plan is to ship this in .NET Core 2.1.  I'd like to get it into the first preview so it has more bake time, and more chance of getting feedback.

[2017-12-08 19:42] PinpointTownes opened #25801 "Should the Span-based Try* methods be renamed?"
As part of the (awesome) Span work, many `Try*` methods have been introduced in a bunch of places (e.g https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSA.cs).

Historically, the `Try*` pattern has almost always been used [for methods that don't throw under normal circumstances and instead return a boolean indicating whether

[2017-12-08 19:57] shravan2x commented on #25800
As an update, the issue appears to occur mostly on requests that have `fetchResponse` set to false i.e. the `HttpCompletionOption.ResponseHeadersRead` option is used.

[2017-12-08 20:00] halter73 commented on #24562
@karelz ASP.NET uses libuv instead of managed sockets in 2.0.x so it's not blocking. For anyone who is using managed sockets, [the workaround](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel.Transport.Sockets/SocketTransport.cs#L166-L196) is pretty ugly. I'm not sure if that influences your decision.

[2017-12-08 20:04] GrabYourPitchforks commented on #25785
I'm not convinced of the value of a struct-based encoder / decoder as opposed to a class-based encoder / decoder. At its core due to the interop you have a native handle under the covers. These handles need to have definite lifetimes, which means that somebody needs to make sure that handles are closed properly and that they're no longer used after they're closed. It's _very_ difficult to make the

[2017-12-08 20:06] eerhardt commented on #25779
Good call.  Fixed.

I had the same feedback, but @ericstj's thoughts were: https://github.com/dotnet/corefxlab/pull/1806#discussion_r142194947

I have no strong opinion either way.  I can let the API review team decide.  Here are my initial thoughts:
* The typical usage is to use numbers in a Tensor, which "Clone" may be explicit enough for numbers.
* ShallowCloneEmpty sounds odd to me.

There are

[2017-12-08 20:12] karelz commented on #24562
If/when we hear from customer(s) on 2.0.x they are hitting the problem, we can service it.
Given we don't have anyone and there is a workaround (quite small and while it PInvokes, not so scary/tricky), I don't think I can justify proactive servicing of the issue. IMO it is just not worth the work at this moment. Let's wait for first sign someone is hitting the problem.

[2017-12-08 20:14] Priya91 commented on #25800
@shravan2x Can you provide a short small repro app for the issue, with the exact combination of options for which this issue repros. The proxy stuff is not required for the repro right, going by your description, it would be great if only relevant code is there.

[2017-12-08 20:16] ianhays commented on #25785
@GrabYourPitchforks I tend to agree. I'd prefer to see the internal handle represented by a `SafeHandle` and the type garbage collectable to ensure proper disposal of the handle in all cases, but that would come at the cost of no longer having the non-allocating benefit of the API. It's definitely the more power user centric of the two approaches and in novice hands will often end in the underlyin

[2017-12-08 20:16] Priya91 commented on #25774
@tengl System.Net.Http.native is a native shim that's installed by .net core and consumed by the networking libs during execution. It looks like the way you are calling your app this dll is not found. Can you add the .netcore install location to the path, so that it finds this dll, I'm not sure how systemd works to find the dependencies.

[2017-12-08 20:19] danmosemsft commented on #25779
Presumably we need Roslyn to confirm the Range type, since they're going to adopt it. @khyperia

[2017-12-08 20:20] danmosemsft commented on #25801
@KrzysztofCwalina

[2017-12-08 20:20] shravan2x commented on #25800
@Priya91 I'm trying to get one up, but haven't had success yet. Making the same request over and over (with `HttpCompletionOption.ResponseHeadersRead`) doesn't lead to the error even after 2000 requests). I believe I need a combination of factors to get this to work, but I'm really not sure.

I've currently pushed a version of the app that replaces all common occurences of `HttpCompletionOption.Re

[2017-12-08 20:24] joshfree commented on #25783
Just hit this issue during PR https://github.com/dotnet/corefx/pull/25802

https://ci3.dot.net/job/dotnet_corefx/job/master/job/alpine-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/59/console

[2017-12-08 20:26] karelz commented on #25774
@wfurt can you please advise here as Linux expert?

[2017-12-08 20:27] joshfree commented on #25801
/cc @ahsonkhan @GrabYourPitchforks

[2017-12-08 20:31] janvorli commented on #25783
@joshfree The change is not in yet, there is a problem, the version change of dotnet host package causes Invariant.Tests test failure over all platforms.

[2017-12-08 20:37] danielcrabtree commented on #25773
I ran into the same problem, one of many with `System.Net.Http`. But I ran into the problem when upgrading from .NET Framework 4.7 to .NET Framework 4.7.1.

The problem seems to be that the libraries in:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net471\lib\`

Conflict with the libraries in:
`C:\Program Files (x86)\Reference Asse

[2017-12-08 20:43] wfurt commented on #25774
Typically you environment variables are different when running as a service, so as actual user.
You may also check if SELinux is enabled and if you can look at your policies or you can try to disable it to see, if that would make a difference.
Your description is lacking details on how _exactly_ you trying to run the service.

When you say "Linux screen" you mean "screen" utility e.g. /usr/bin/scr

[2017-12-08 20:45] weshaggard commented on #25783
I disabled

[2017-12-08 20:50] tengl commented on #25774
Thanks for the hints, it seems that it might be LD_LIBRARY_PATH that was missing. Thought the variables were identical, but they weren't. Will confirm on monday.

Btw, yes, @Priya91, it was the screen utility. Good to know, easier to trace errors there than in a service.

[2017-12-08 20:50] GrabYourPitchforks commented on #25785
Even if there is a measurable cost to switching to _class_ (and that would honestly surprise me), callers can work around it by pooling encoder / decoder instances. There's nothing that requires the type be a _struct_ in order to get high performance.

As an aside, I'm seeing that with this and other proposals we're trying to invent concepts analogous to C++'s deterministic destruction and non-cop

[2017-12-08 21:16] GrabYourPitchforks commented on #25801
From an API design perspective, returning `OperationStatus` from APIs we expect developers to use commonly makes me nervous. I've seen `if (Foo(...) == ERROR_INVALID_DATA) { /* ... */ }` on StackOverflow more times than I care to count, and I'd rather not perpetuate that incorrect convention throughout the C# development landscape.

But I _do_ agree with the original concern. We need to go through

[2017-12-08 21:24] tannergooding commented on #25779
I feel like that violates one of the .NET Naming Guidelines (https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/), but I don't have time to go searching through and finding it right now.

[2017-12-08 21:36] DrewScoggins commented on #25145
In the machine setup script we set a bunch of power configurations at the beginning of the script. That is some of what we do for machine setup. Also if you look in perf.groovy files in the CoreCLR and CoreFX repo you can find the stability prefix that we use when calling the performance tests. This sets the affinity of our process to one core, as well as setting our priority to high.

[2017-12-08 21:37] Priya91 commented on #25408
cc @stephentoub @geoffkizer

Seems reasonable to me, but we may have to consider how these managed handlers should be exposed, maybe separately in a different assembly, like winhttphandler.

[2017-12-08 21:39] livarcocc opened #25803 "`dotnet pack` product broken .nupkg with the latest daily build(2.2.0-preview1)"
_From @yyjdelete on December 7, 2017 1:34_

Test with dotnet sdk `2.2.0-preview1-007736`/7622/7460, Windows 10 x64(17064).
And `2.1.1` in VS15.5preview5 works well.

# Step:
1. Install the latest daily build of sdk
2. `dotnet new classlib`
3. `dotnet pack`
4. Open the output .nupkg with `NuGet Package Explorer` or some zip manager( and try unpack it), and get an error.
5. Found the `.nuspec` file

[2017-12-08 21:39] livarcocc commented on #25803
This issue was moved to NuGet/Home#6267

[2017-12-08 21:39] livarcocc commented on #25803
Turns out that this is potentially an issue in the framework. Moving it to corefx.

[2017-12-08 21:40] livarcocc commented on #25803
[code]

The program above can repro it. Copied from @yyjdelete

[2017-12-08 21:40] joshfree commented on #25803
@ianhays could you take a look at this for 2.1?
/cc @JeremyKuhne

[2017-12-08 21:41] KrzysztofCwalina commented on #25801
Well, here is what the Try pattern [guidelines ](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/exceptions-and-performance)say (see the last paragraph):

7.5.2 Try-Parse Pattern
For extremely performance-sensitive APIs, an even faster pattern than the Tester-Doer Pattern described in the previous section should be used. The pattern calls for adjusting the member name to make a

[2017-12-08 21:43] Priya91 commented on #25290
The second way looks good! If we expose an API, i don't think the mediatypeheadervalue allows Encoding to be set, it there also needs to be

[code]

[2017-12-08 21:44] danmosemsft opened #25804 "Iterating over a string builder by index becomes ~exponentially slow for large builders"
This is motivated by [this issue ](https://github.com/Microsoft/msbuild/issues/1593) originally opened against MSBuild, which internally in its reuseable string builder factory compares string builders by index. It happens to start from the end, but that doesn't seem to matter. The opener observed this can be enormously slower that creating a string first.

Using [this benchmark program](https://g

[2017-12-08 21:47] danmosemsft commented on #25804
MSBuild has this code [here](https://github.com/Microsoft/msbuild/blob/d075c6f7c09bb2d766b45ac740d867ecf08ff6bb/src/Shared/ReuseableStringBuilder.cs#L86) and [here](https://github.com/Microsoft/msbuild/blob/3986423a4cd2e7a716ab0c0d6ef28485f1844977/src/Shared/OpportunisticIntern.cs#L309)

This would not show up unless the MSBuild is expanding eg., large lists (such as the content of a large-ish fil

[2017-12-08 21:50] ianhays commented on #25803
This may be related to https://github.com/dotnet/corefx/issues/25665 which came in https://github.com/dotnet/corefx/pull/25624. That's the only change that occurred in the past month that might cause the above failure. @livarcocc what build were you using before this that didn't have this bug?

cc: @ViktorHofer

[2017-12-08 21:51] Clockwork-Muse commented on #25801
In particular, for `DateTime.TryParse` returns `false` if the string parameter is **null** or empty, which could be thought equivalent to "this `Span` isn't long enough".

[2017-12-08 21:52] ianhays commented on #25785
It doesn't appear to have a significant impact that I could see in my testing which isn't too surprising. I'll update the proposal to be class based, unless someone feels strongly that it should be a struct. @KrzysztofCwalina ?

[2017-12-08 21:54] Priya91 commented on #24952
@rohan-buchner It's not clear what you are trying to do from the description. Can you provide the repro code?

Also what version of libcurl do you have, what is the crypto backend, openssl/nss/gnutls? Which linux distro and version you are running on?

Did you compare what request is being sent out on the wire in both cases? Since the error says ssl connect error, maybe wrong certs are being used?

[2017-12-08 22:03] Priya91 commented on #21577
Adding ciphersuite property to sslstream is not a pre-requisite for this issue, the underlying implementations don't use SslStream .NET class for making secure connections. Only ManagedHandler depends on that, the curlhandler and WinhttpHandlers should be configuration through libcurl and winhttpapi support. This api proposal can happen independently from sslstream proposal.

[2017-12-08 22:03] Priya91 commented on #24541
Closing as dupe of #21577

[2017-12-08 22:03] #24541 closed

[2017-12-08 22:12] AndyAyersMS commented on #25804
You might see different behavior on Core than on Desktop here.

[2017-12-08 22:25] Priya91 commented on #24482
The rfc https://tools.ietf.org/html/rfc6266 states that when both filename and filename* is present, filename* should be given precedence and used to retrieve the information. You should be able to decode the encoding based on the the rules.

Also this program gives same output on .NET Framework and .NET Core,

[code]

[code]

on .net core

[code]

[2017-12-08 22:25] Priya91 commented on #24482
This is by-design.

[2017-12-08 22:25] #24482 closed

[2017-12-08 22:30] Priya91 commented on #24373
@cknaap Can you share the code that you used to test this, with expected and actual outputs?

[2017-12-08 22:30] Priya91 commented on #24372
Dupe of #24373

[2017-12-08 22:30] #24372 closed

[2017-12-08 22:31] huanwu commented on #25616
@remcoros Thanks for reporting this issue. We'll fix it.

[2017-12-08 22:32] JeremyKuhne commented on #25803
Note that  #25665 is referencing the fact that we removed the check for invalid path characters. While it is possible that caused this, it doesn't seem likely.

cc: @Anipik

[2017-12-08 22:36] Priya91 commented on #24253
@vanillajonathan Can you update the original issue with api-proposal?

[2017-12-08 22:36] Priya91 commented on #24133
@wfurt Can you look at the log for this test history? Does it repro?

[2017-12-08 22:38] Priya91 commented on #23401
cc @wfurt Performance of HttpClient, is this something that can be measured in the new lab setup.

[2017-12-08 22:40] Priya91 commented on #24074
@davidsh Were you able to verify the repro?

[2017-12-08 22:44] wfurt commented on #24133
I only see failures from August in Helix database. It seems like this one is of the tests connecting to external service (4.79.142.205). They are inherently unreliable.
I think the last link by @Sunny-pu here is incorrect. It is different test as well as it was attempt to connect to loopback server.

[2017-12-08 22:44] Priya91 commented on #23822
This test is not skipped in master, and there hasn't been recent reports of failure in the unix runs. However they are run only for windows build version greater than 1607 or higher. Since this issue is not tracking pending work, closing it, please reopen if failure repros.

[2017-12-08 22:44] #23822 closed

[2017-12-08 22:46] Priya91 commented on #23788
@Warpten What's the issue here? I don't understand what the ask is for?

[2017-12-08 22:51] Priya91 commented on #23771
@davidsh You mention it is managed handler in the description, but the test result doesn't looks like managed handler?

[2017-12-08 22:55] wfurt commented on #23401
The performance will depend on may factors - like using keep-alive, DNS, etc.
It is interesting that average request time for 2.0 is much shorter but overall duration is longer.
That may be because the time is spent in underlying native call. But that is hard to know for sure without more details.

I don't have any benchmarks for .net framework yet but it is on TODO list.

[2017-12-08 22:56] Priya91 commented on #23771
cc @wfurt Can you data on the latest failure for this test?

[2017-12-08 22:57] davidsh commented on #23771
Ref: https://mc.dot.net/#/user/davidsh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/169daaad2062ab623fdafa738c3fdbc778d3652e/workItem/System.Net.Http.Functional.Tests

See:
![image](https://user-images.githubusercontent.com/7684835/33788601-182a9f8a-dc28-11e7-9954-d7140bf9ee05.png)

[2017-12-08 22:59] danmosemsft commented on #25804
ToString (or string comparison) is measurably faster on Core, but indexing seems just as slow.
[code]

[2017-12-08 23:00] danmosemsft commented on #25804
Oops, desktop was on 32 bit. Let me try 64 bit.

[2017-12-08 23:03] wfurt commented on #23426
What is your use case @narciero aside from desire to control? In many cases you can set up routing table to have desired behavior. It is IP's job to decide packet routing, not HTTP. BTW I think the comparison to Listener does not make much sense to me. In that case you trying to create service which will wait for requests. Responses will be routed according to routing table AFAIK.

[2017-12-08 23:06] Priya91 commented on #24133
Since it was a one time failure, closing the issue with no-repro. Please reopen if new reports available.

[2017-12-08 23:13] danmosemsft commented on #25804
Edited to add 64 bit for desktop above. Now Core and Desktop are basically identical.

[2017-12-08 23:24] danmosemsft commented on #25804
The discrepancy is much smaller when the StringBuilder is presized ([gist](https://gist.github.com/danmosemsft/fb359822de58b081e7aafaf833ab74ca)):
[code]
Both 1000 and 5000 are approximately 4x, suggesting a more natural linear effect consistent with eg., bounds checks.

[2017-12-08 23:49] danmosemsft commented on #25804
This is presumably because every index has to walk the chain of chunks, checking the offset for each until it finds the one with the indexed location. In the 5000 case above, there are 250K characters so 32 chunks of 8000 characters. On average it has to loop 16 times to find the right chunk - for every index. No doubt this was a conscious compromise when making stringbuilder chunky. @vancem ?

[2017-12-09 00:08] ahsonkhan commented on #25785
It was implicitly approved as a placeholder to unblock the Base64 APIs and the final review was deferred, as far as I can recall, until we have more APIs (like the text encoders APIs, or in this case, compression APIs) to get a better understanding of the use cases. That is why I brought it up here since now we have more scenarios to confirm the usefulness/correctness of the enum.

[2017-12-09 00:20] vanillajonathan commented on #24253
@Priya91 Done. :)

[2017-12-09 00:39] karelz commented on #23401
Yes, this is very much on our list for ManagedHandler. We plan to compare Windows vs. Linux vs. Desktop vs. other platforms vs. old HttpClientHandler.
We will need to measure more characteristics than just this - different payload sizes, number of concurrent requests, measure CPU and network utilization, try scale up (1 vs. 2 vs. 4 vs. 8 cores), etc.

Given that it is on our backlog and the data a

[2017-12-09 00:39] #23401 closed

[2017-12-09 00:44] AndyAyersMS commented on #25804
When we did stuff like this in the past (for chunky sparse bitvectors in a  now-defunct compiler) we would cache the result of the last index lookup; subsequent index values tended to be "nearby". Random access would still be slow but this happens less often, but sequential accesses were now good.

This might require some invalidation logic elsewhere if the chunk structure can be messed with.

[2017-12-09 01:10] Priya91 commented on #24253
The property should just be a getter, otherwise the code receiving the exception can change the status code, but the other values on the exception will be invalid.

You should add a contructor that takes in status code for the exception, and expose only getter on the property..

[2017-12-09 01:27] danmosemsft commented on #25804
Another option is to store the chunk offsets in a shared array that could be binary searched. But I like your idea, it is simple and unlikely to hurt other cases.

[2017-12-09 02:07] sandorfr commented on #25138
You should write that it does not support WCF it in that documentation: https://github.com/dotnet/core/blob/master/samples/xmlserializergenerator-instructions.md.

Do you know if there is any ETA on a solution for WCF. this problem is currently very painful as it can currently take more than one second for a request to be serialized.

[2017-12-09 03:06] pieter-venter commented on #24104
We were hit by this very same issue. We use Selenium extensively and noticed that on Windows 10 machines our tests slowed to a crawl when we switched to .Net core. What is strange is on virtual machines, running Windows 2016 they were still running really fast.

I found @jimevans's [demo project](https://github.com/jimevans/NetCoreHttpPerfDemo) and started experimenting.

I tried disabling IPv6 on

[2017-12-09 03:24] yyjdelete commented on #25803
@ianhays
Tested with build from https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.App
`2.1.0-preview2-25430-06` works well but `2.1.0-preview2-25615-02` not.

[2017-12-09 05:38] ianhays commented on #25803
Good catch @yyjdelete. The pointer declaration is now `fixed (byte* bufferPtr = buffer)` but used to be `fixed (byte* buf = &buffer[offset])` before https://github.com/dotnet/corefx/pull/22927.

[2017-12-09 06:20] shravan2x opened #25809 "Extra newline in Linux on console input"
I have the following code targeted at .NET Core 2.0

[code]

When the program is run on Windows, typing `enter` a few times results in output like:

[code]

However, on Ubuntu, the output is
[code]

I believe this is because on Windows, typing the enter key on `Console.ReadKey()` does not actually print the `\n` character, whereas on Linux it does.

Is this something that can be fixed?

[2017-12-09 06:40] msvprogs opened #25810 "WebClient.DownloadString() method hangs sometimes (Ubuntu)"
WebClient.DownloadString() method hangs sometimes when called on Ubuntu platform. There is no system (at least I couldn't find it), but there are possibly many parallel HTTP requests called from PLINQ query, and the target sites are rather slow. In couple with the fact that .Core platform doesn't allow to abort threads, it leads to plenty of threads and retained data hanged forever.
Well, Download

[2017-12-09 07:12] RussellHaley opened #25811 "My build is failing on Windows 10"
I have been getting build errors for a couple of days. I  just updated to ec6014e and it's the same error so I don't suspect the code. The following is an example:

C:\Users\russh\Git\dotnet\corefx\src\shims\ApiCompat.proj(76,5): error : TypesMustExist : Type 'System.ComponentModel.Composition.AttributedModelServices' does not exi
st in the implementation but it does exist in the contract.

The co

[2017-12-09 08:05] DongLei-tw commented on #17278
ad System.Configuration.ConfigurationManager solved my issue.

[2017-12-09 08:22] shravan2x commented on #25800
I was finally able to reproduce it!

It has nothing to do with the `HttpCompletionOption`. It appears to happen because of this:
1. Send a request to xyz.com
2. Wait a bunch of time (like 10m)
3. Send another request to xyz.com
4. An exception is thrown since the HttpClient tries to use the old connection but fails since it was already terminated due to some timeout.

It only happens on Linux.

Th

[2017-12-09 11:04] nietras opened #25814 "[WIP] S.R.CS.Unsafe: Revise API to accomodate for `ref readonly`/`in`"
With the introduction of `ref readonly` return values and `in` (i.e. `ref readonly`) parameters the existing [`Unsafe` API](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/ref/System.Runtime.CompilerServices.Unsafe.cs
) should be considered for revision with respect to how to support these naturally.

### Rationale and Usage
Naturally support `ref readonly`

[2017-12-09 12:29] jo-ninja commented on #25800
I am also having the same problem but after I deploy it to Azure (Azure Container Service, Ubuntu 16.04).
In my case, I am using Docker For Windows and cannot reproduce it in my local environment. So it only happens in Azure.
I thought by using Docker I should be able to reproduce it in local as well ("It works on my machine!").... but it is not the case.
Probably also worth to mention that initia

[2017-12-09 13:20] omariom commented on #25814
Minimal alternative (though less convenient) is a method shaving off readonlyness:
[code]

[2017-12-09 13:28] nietras commented on #25814
I think `public static ref T AsRef<T>(in T source) { throw null; }` can do
that.

As you say this could be enough, if we can live with losing readonly.

On Dec 9, 2017 14:20, "OmariO" <notifications@github.com> wrote:

[2017-12-09 14:56] jkotas commented on #25814
This was discussed in https://github.com/dotnet/corefx/issues/23916.

[2017-12-09 14:58] vanillajonathan commented on #24253
@Priya91 Okay I edited the post and declared the `StatusCode` property as as setter-only without a getter.
I also added constructors. The class have 3 constructors. Not sure how many needs to be added, maybe 3?

[2017-12-09 16:36] Petermarcu opened #25816 "Core doesn't read the server certificate"
@hammond-of-texas commented on [Fri Dec 08 2017](https://github.com/dotnet/core/issues/1142)

# Issue Title

Core doesn't read the server certificate

# General

In general, a simple request like this will work in .Net:

[code]

The same thing will fail in core 2.0 with a "System.PlatformNotSupportedException: 'Operation is not supported on this platform.'" exception.

---

@richlander commented o

[2017-12-09 16:36] Petermarcu opened #25817 "Core does't read the server certificate"
@hammond-of-texas commented on [Fri Dec 08 2017](https://github.com/dotnet/core/issues/1142)

# Issue Title

Core doesn't read the server certificate

# General

In general, a simple request like this will work in .Net:

        static void Main(string[] args)
        {
            HttpWebRequest request = (HttpWebRequest)WebRequest.Create("https://www.sbb.ch");
            HttpWebResponse respons

[2017-12-09 17:55] davidsh commented on #25816
`ServicePointManager` and `ServicePoint` are not supported on .NET Core.

To get the server certificate associated with a HTTPS request, you can assign a delegate to[ServicePointManager.ValidationCallback](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepointmanager.servercertificatevalidationcallback?view=netframework-4.7#System_Net_ServicePointManager_ServerCertificateValidationCal

[2017-12-09 17:56] davidsh commented on #25816
cc: @karelz

[2017-12-09 17:57] davidsh commented on #25817
Duplicate of #25816

[2017-12-09 17:57] #25817 closed

[2017-12-09 18:24] nietras commented on #25814
My mistake. Did not see when looking.

[2017-12-09 18:24] #25814 closed

[2017-12-09 18:41] ArchieCoder opened #25818 "Exception object should have a non-localized version for exception message"
https://twitter.com/archiecoder/status/939532182107951104

Have the message only in Japanese or Chinese does not help the developer.

Having both the localized and non-localized versions would also help analytics service to sort by English message only.

[2017-12-09 18:50] jkotas commented on #17135
We may need a constructor overload that takes `DllImportSearchPath` to control the probing paths.

[2017-12-09 21:21] shravan2x commented on #25800
@jo-ninja I'm not sure a fixed 4 minute window would always work, since (apart from .NET Core's own timeout) different servers may have different connection timeouts.

[2017-12-09 23:48] zero-master commented on #9855
Everything got installed just fine until nuget mysteriously failed with these errors and I found this thread:

An error occurred while sending the request Error: SecureChannelFailure (The authentication or decryption has failed.) The authentication or decryption has failed. Error while sending TLS Alert (Fatal:InternalError): System.IO.IOException: Unable to write data to the transport connection:

[2017-12-10 06:31] VSadov commented on #25814
BTW the concerns about aliasing that might nit be guaranteed as discussed in #23916 was alleviated by allowing ‘in’ at the call site.

Since AsRef relies on direct reference to the arg, it would make safe to always call it with explicit ‘in’. - to make sure there are no conversions, temporary copies, etc...

AsRef(in someReadonlyVariable)

[2017-12-10 11:50] jakubsuchybio opened #25820 "XmlDocument and XDocument .Load badly resolves the path"
I am porting our server console app from .NET Framework 4.6.1 to .NET Core and after I made it compile, then I got a lot of runtime exceptions of XmlDocument and XDocument not loading.

I made a quick repro with this:
![https://i.imgur.com/79hOFVR.png](https://i.imgur.com/79hOFVR.png)
[code]

The problem is, when this file `test.xml` is located at path that contains character `#`.
For me it is at

[2017-12-10 13:07] niemyjski commented on #14612
What's the status of this?

[2017-12-10 13:08] niemyjski commented on #21227
Any ideas on this? I'm also seeing terrible performance for http connections

[2017-12-10 14:36] JonHanna opened #25824 "Microsoft.CSharp fails on ones-complement on enums smaller than 32-bit in size in checked context"
[code]

I'm afraid I introduced this regression with 184d882d which was meant to remove all of the setting of `CheckedNormal` and `CheckedNormal` (since merged as `Checked`) and leave the false default, but it left the redundant setting of it before then, so it can now be set wrong (it should always be false, but that will set it to true if the initial context is checked).

The same regression can

[2017-12-10 15:00] JonHanna opened #25826 "Microsoft.CSharp throws InvalidCast on complement of constant enum value"
[code]
or
[code]
Throws `InvalidCastException` "Unable to cast object of type 'Microsoft.CSharp.RuntimeBinder.Semantics.EXPRCONSTANT' to type 'Microsoft.CSharp.RuntimeBinder.Semantics.EXPRCAST'."

Same issue exists in NetFX.

[2017-12-10 17:05] LadislavBohm commented on #25520
@davidsh Thanks for the analysis and suggestion. Since I am deploying my app to Azure as WebJob, I am not able to install anything there. However I made a test where I changed from .NET Core 2.0 to .NET 4.6.1 and set:
[code]
and it works. So from what I understand there is no way yet to set (force) ClientWebSocket to use specific security protocol?

[2017-12-10 19:11] WinCPP commented on #24430
Hi @stephentoub further to our discussion in #25511 ([here](https://github.com/dotnet/corefx/pull/25511#issuecomment-348285760)), I could pass down the CancellationToken all the way to `SocketEventAsyncArgs.DoOperationReceive` ([here](https://github.com/dotnet/corefx/blob/be1e22243c0e2e2bb8d9f174e03687298f1e2f69/src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs#L264)).

[2017-12-10 19:22] WinCPP commented on #24430
Oh I just noticed, #23141 is also no more up-for-grabs :-) ... So should I be working on something else...? Thanks!

[2017-12-10 19:26] davidsh commented on #25520
This issue is about HttpClient.  Why are we talking about ClientWebSocket now?

[2017-12-10 19:36] LadislavBohm commented on #25520
Same problem described by OP seems to be affecting ClientWebSocket class, but if you want me to create new Issue I will.

[2017-12-10 19:50] Petermarcu opened #25828 "Creation of X509Certificate2 fails on Linux but works on Windows"
@secana commented on [Sun Dec 10 2017](https://github.com/dotnet/core/issues/1145)

# Creation of X509Certificate2 fails on Linux but works on Windows

Creating a X509Certificate2 instance from a byte array works on Windows but fails on Linux with a "CryptographicException".

# General

Tested Systems:
Windows 10
Ubuntu 16.04, Ubuntu 17.10
OpenSuse 42

All tested with:
**Dotnet Core Version: 2.0.2

[2017-12-10 20:31] qmfrederik commented on #5120
@stephentoub I wanted to come back on this:

Is there a way for me to override the server certificate validation or pass a list of valid root certificates to `ClientWebSocket`?

[2017-12-10 21:02] bartonjs commented on #25828
@secana Can you share an example file/byte-array which exhibits this behavior?

[2017-12-10 22:18] secana commented on #25828
@bartonjs of course. You find a valid X509 certificate which can be parsed on Windows but not Linux here: https://gist.github.com/secana/9c13f8fa495681f8a30adb5d8754450e

[2017-12-10 23:02] agocke opened #25829 "Checksum is calculated before signing in System.Reflection.Metadata.PEBuilder"
Look here at the code to verify the checksum:

https://github.com/dotnet/corefx/blob/45b724f6b6391910edea8a70f3f22a4a7996696d/src/System.Reflection.Metadata/tests/PortableExecutable/PEBuilderTests.cs#L665-L685

Note that there are no binary modifications before calculating the checksum, so the checksum should include everything in the binary except for the checksum blob itself.

But now look at th

[2017-12-11 00:37] fogbridgegit commented on #24029
i download dotnet-linux-arm.latest.tar.gz on 12/10 and im getting a
robot@ev3dev:~/dotnetlinux$ ./dotnet
-bash: ./dotnet: No such file or directory

i installed it in a local directory as well as
robot@ev3dev:~$ /usr/bin/dotnet/dotnet
-bash: /usr/bin/dotnet/dotnet: No such file or directory

is there some preinstallation i need to install?
i did a sudo apt-get upgrade before trying.

here are some

[2017-12-11 00:49] Porges opened #25830 "Allow heterogeneous collections of results with Task.WhenAll"
At the moment `Task.WhenAll` only permits the collection of results when passed a homogeneous collection of tasks:

    public static Task<TResult[]> WhenAll<TResult>(IEnumerable<Task<TResult>> tasks);

It would be nice to be able to use this with a heterogeneous collection of tasks as well.

At the moment to spin off several tasks in parallel and wait for the results you need to do something like

[2017-12-11 00:54] JonHanna commented on #25830
This would be the same functionality that #16010 would offer, but with a different syntax (I think I prefer its suggestion).

[2017-12-11 00:55] Porges commented on #25830
Thanks @JonHanna – I had a look for `WhenAll` but didn't find anything. That does look simpler and has less conflict with existing overloads 🙂

[2017-12-11 01:48] weitzhandler commented on #24895
Please implement this already!

[2017-12-11 03:11] Porges commented on #16010
What is needed to push along this proposal – a more formal write-up?

[2017-12-11 03:29] tmenier commented on #18133
I agree with @KuroThing on this - the behavior seems incorrect. If I'm allowed to ask whether an arbitrary string key is in a key-value collection, then the answer should always be yes or no. It doesn't make a lot of sense that I'm required to validate that arbitrary sting before I ask the question.

Assuming that's just the way it is, how would I even do that validation? In other words, how do I

[2017-12-11 03:38] sandorfr commented on #24680
Just updated the description accordingly.

[2017-12-11 07:21] maurocolella commented on #25633
@wfurt have you had a chance to look into that?

[2017-12-11 07:29] Clockwork-Muse commented on #24430
(I'm the wrong Stephen, but...)

My first assumption is going to be that you're going to end up with different methods - a `Task`-returning `async` method likely won't take the `SocketEventAsyncArgs` type, instead preferring to manage the relevant info via the async state machine (or at least pretend to for callers).  One thing I would have taken as an indication of this is the definition of the e

[2017-12-11 07:55] Sunny-pu commented on #22956
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/lastCompletedBuild/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_SslProtocols_Test/GetAsync_SupportedSSLVersion_Succeeds_sslProtocols__Tls__url____https___www_ssllabs_com_10301____/

[2017-12-11 08:57] vermorel commented on #24788
This option feels very natural with `ValueTuple`; this is exactly the sort of syntax benefits that I am expecting from being able to return multiple values.

@karelz I not too sure to understand what would be the problem of exposing `ValueTuple` in this context. I have looked-up the other issue, but the angle you are pointing out remains unclear to me. Could you shed some light on a scenario where

[2017-12-11 09:06] tmds commented on #24677
@Priya91 in corefx, `sendfile` is the only socket system call that accepts a file descriptor that isn't a socket. The managed implementation only passes valid file descriptors for this, so it won't generate EBADF. All other cases for EBADF reflect the socket handle.
After having another look at the available socket errors, I think `OperationAborted` _(The overlapped operation was aborted due to th

[2017-12-11 09:09] tmds commented on #24562
@karelz the developer may not have the ability to 'fix' the socket, as is the case here for HttpListener: https://github.com/dotnet/corefx/issues/25016

[2017-12-11 09:26] vgolynets commented on #24562
I agree with @tmds, it would be nice to have this fix in some next 2.0.x update. Now our code looks like:

`       public static void Main(string[] args)
        {
            var serverUrl = "http://*:31000/";
            Console.WriteLine("Server host {0}", serverUrl);

            var closing = new AutoResetEvent(false);
            Console.CancelKeyPress += (sender, ev) =>
            {

[2017-12-11 09:30] Sunny-pu commented on #25349
failed again in Master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171211.01/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.Diagnostics.Tests.PerformanceCounterCategoryTests~2FPerformanceCounterCategory_CategoryType_MultiInstance

[2017-12-11 09:33] ShalokShalom commented on #9855
@zero-master Which OpenSSL version do you use?

[2017-12-11 09:52] johndbell commented on #19914
Any updates on this issue? I'm seeing the missing method exception (System.Net.Logging.get_On) running unit tests against a .net standard 2 class library that uses HttpClient. This is using Mono 5.4.1.7. Any guidance would be greatly appreciated.

[2017-12-11 10:08] tengl commented on #25774
Confirmed.
Adding `Environment="LD_LIBRARY_PATH=/opt/rh/rh-dotnet20/root/usr/lib64"` to .service file did the trick.
Thanks

[2017-12-11 10:08] #25774 closed

[2017-12-11 10:39] rohan-buchner commented on #24952
@Priya91 I've managed to get past the issue by not using https. I have however pinpointed that my issue pertains to [this](https://github.com/dotnet/corefx/issues/19718) current open bug. Also please see [my question on StackOverflow](https://stackoverflow.com/questions/47015634/net-core-console-application-ssl-connect-error/47114694#47114694) with comments by Russ Cam who is an engineer at Elasti

[2017-12-11 10:39] #24952 closed

[2017-12-11 10:51] DutulescuRemus commented on #6913
Any update on when it will be available on nuget?

[2017-12-11 11:11] vermorel opened #25832 "Add ReadOnlySpan<T>(Span<T>) constructor"
It would be very nice to add the constructor overload `ReadOnlySpan<T>(Span<T>)` to the [list of constructors](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.internal.system.readonlyspan-1.-ctor) of `ReadOnlySpan<T>`.

Indeed, right now, it's not possible to have a method taking `Span<T>` as input and returning `ReadOnlySpan<T>` as output - the result being a fragm

[2017-12-11 11:34] tmds commented on #25774
@tengl I guess you have hard-coded `dotnet` to the path in the rh-dotnet20 software collection (scl)? Instead, you should enable the dotnet scl, then it will put `dotnet` on `PATH` and set `LD_LIBRARY_PATH` for you. The command-line in your service file should be something like `/usr/bin/scl enable rh-dotnet20 -- dotnet <your assembly>`.

[2017-12-11 11:55] tmds commented on #25774
@wfurt fyi, software collections are a way of packaging on RHEL/CentOS that allow including native libraries needed for an scl, without updating the 'global' system libraries (which could break existing applications). For dotnet we use it to include a different version of libcurl.

[2017-12-11 12:22] zero-master commented on #9855
@ShalokShalom

Here is the output of `openssl version`
`OpenSSL 1.1.0g  2 Nov 2017`

`uname -a`
`Linux 4.13.12-1-ARCH #1 SMP PREEMPT Wed Nov 8 11:54:06 CET 2017 x86_64 GNU/Linux`

[2017-12-11 12:39] javaptgl opened #25833 "Abnormal High Memory Usage"
This is a continuation of the following issue:
[https://github.com/PowerShell/PowerShell/issues/5609](url)

Steps to reproduce
------------------
Server: [https://gist.github.com/markekraus/b16f0991a843d2d2459aa4178dfe55b5#file-express-js](url)
[code]

Client: [https://gist.github.com/markekraus/b16f0991a843d2d2459aa4178dfe55b5#file-program-cs](url)

[code]

Output
------------------
After 6,000,0

[2017-12-11 12:49] kenleese opened #25834 "SqlClient 4.4.1 not published to NuGet"
SqlClient 4.4.1 resolves https://github.com/dotnet/corefx/issues/13422.
The November Update release notes indicate SqlClient 4.4.1 is released https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.3.md
Howvere the latest version on NuGet appears to be 4.4.0 https://www.nuget.org/packages/System.Data.SqlClient/
Am I misunderstanding?
cc @saurabh500

[2017-12-11 12:49] janvorli commented on #9855
@zero-master there is also an openssl-1.0 package for ARCH Linux that you can install side by side with the openssl 1.1 (https://www.archlinux.org/packages/core/x86_64/openssl-1.0/). That should fix the issue for you.

[2017-12-11 13:24] dario-l commented on #3688
For batching I'm using [solution from NHibernate](https://github.com/nhibernate/nhibernate-core/blob/ad4c2ef101cbf8ba798220973f4f78dd795e0896/src/NHibernate/AdoNet/SqlClientSqlCommandSet.cs).

Unfortunately on .net core is not implemented. SqlCommandSet type doesn't exist.

PS
Compiled on netstandard2 and run over framework 4.6.1 works.

[2017-12-11 13:45] hmarcelodn commented on #21429
Same issue with net core 2 running this in Ubuntu todays latest version today

[2017-12-11 14:07] benaadams commented on #25833
You have either to Dispose `HttpClient`; or you can use a single `static` one and not Dispose it rather than creating a new one for each request.

A static one will make use of keep-alives; creating each time but not Disposing will cause them to hang around on keep-alive connections.

Also you don't Dispose `HttpResponseMessage`

Something like this might be better?
[code]

[2017-12-11 15:48] kevingosse commented on #25443
That's something I could have used. We have a custom task scheduler in our codebase, that is bound to the lifetime of a request, and should stop executing new work after the request timeouts. But as mentioned, since there's no way of cancelling the enqueued task, it means that some code could be waiting on them forever.
The issue is aggravated by the fact that the task-creation methods on the Task

[2017-12-11 15:54] sharwell commented on #25443
During a review of the expected final state of a `Task`, @jasonmalinowski suggested that the cancellation of an operation that used `CancellationToken.None` should transition to a *failed* state instead of to the canceled state. Cancellation frequently leads to code flow situations which are difficult to understand, so I'm hesitant to support a change which makes it possible to further complicate

[2017-12-11 16:01] roji commented on #3688
@dario-l SqlCommandSet is an SqlClient-specific API, and is not even exposed publicly. The point here would be to add a standard API in ADO.NET, which may or may not end up resembling SqlCommandSet.

[2017-12-11 16:37] saurabh500 commented on #25834
@corivera what's going on in this case?

[2017-12-11 16:59] TylerBrinkley commented on #17299
Here's a formal API proposal.

It is common for API's to support the PATCH HTTP Verb. It would be much more convenient if `HttpClient` and `HttpMethod` were updated to support these and since `HttpMethod` is a class would reduce allocations for current users who aren't caching their Patch `HttpMethod`.

With this implemented, what is currently being implemented like this
[code]
could now be implem

[2017-12-11 17:18] natelaff commented on #25773
Well, I had all of this working. My project is targeting .NET Framework 4.7.1, and references a .NET Standard 2.0 library. Everything was happy until I upgraded from VS 15.4 to 15.5, now I'm back to needing the redirect?

[2017-12-11 17:22] tmenier commented on #18133
Posted related question here if anyone cares to chime in:

https://stackoverflow.com/questions/47746236/how-do-i-know-whether-an-arbitrary-header-name-is-valid-as-a-request-header-con

[2017-12-11 17:33] karelz commented on #14612
There's no new status - it needs solid proposal from someone who is interested and who fully understands it.

From Networking team side point of view, this is not mainline scenario, it has unclear value (number of customers who would benefit) and it is not aligned with our Networking roadmap (https://github.com/dotnet/designs/issues/9), so it is unlikely going to be funded from our side. I would s

[2017-12-11 17:36] shmao commented on #25138
Thanks for the suggestions, @sandorfr . We would consider to change the instructions and add the note.

The tool for WCF requires changes in .Net Core framework library. I expect the tool to be available after next .Net Core release.

This might be a performance issue with the serializer. The serializer generator is for improving the start-up performance of the serializers. It doesn't speed up the

[2017-12-11 17:39] eerhardt commented on #157
This change was rejected in PR.  See https://github.com/dotnet/corefx/pull/25388 and its discussion for reasoning.

Instead, the plan is to fix the cases where the JIT should generate better code using the existing by value methods.

For example, the first case identified is being tracked by: https://github.com/dotnet/coreclr/issues/15467.

Closing this issue since the change was not approved.

[2017-12-11 17:39] #157 closed

[2017-12-11 17:42] karelz commented on #24562
"Ugly", but working workaround & affecting a few developers is not a good reason for porting a bug fix into servicing branch. Otherwise we would make servicing branch the new master :)
The key questions for releasing a "hot fix" in servicing branch are:
* Is there a workaround?
* How many customers are affected?

If you tell me that you cannot work around the problem at all, or that the number of

[2017-12-11 17:51] karelz commented on #24788
@vermorel `ValueTuple` is loaded twice in apps targeting 4.6 and lower frameworks (from the NuGet package System.ValueTuple), while running on 4.7 (where `ValueTuple` is also part of mscorlib).
We rely on the fact those are isolated type universes which will never try to interact with each other.
If you light up (dynamically call method exposing `ValueTuple` as argument on 4.7+) and try to exchang

[2017-12-11 17:59] vermorel commented on #24788
@karelz Thanks a lot for the detailed explanation. The downside is much clearer now.

[2017-12-11 18:04] karelz commented on #24788
BTW: I don't view it as downside of this particular API. If `ValueTuple` is the right type, we should use it. It is more shout out (esp. to @AlexGhiondea @weshaggard @ericstj) that the scenarios which might lead into unfortunate situations are slowly rising and we should be aware of that and incorporate it in our designs of OOBs, policies around them and tooling.

[2017-12-11 18:08] karelz commented on #17299
Given the general ok from @davidsh above, I think we can consider it as ready for API review.

Minor tweak, we should add just 2 methods with `CancellationToken cancellationToken = default(CancellationToken)`

Updating top post now ...

[2017-12-11 18:09] jnm2 commented on #24788
Why not spend some time improving the runtime and tooling so that moving types in-box is more of a first-class experience? What if the CLR could resolve those errors like "Cannot cast X to X" itself?

[2017-12-11 18:16] danmosemsft commented on #25820
I'm not sure where things go wrong but XmlTextReader constructs uts URI over the string `file://c:\dev\c#\test\test.xml` which seems fine but ends up with
[code]
internally on ParsingState is the actual Uri object
[code]
I am not sure why there's a mixture of forward and backward slashes.

@rmkerr could this be another URI issue like https://github.com/dotnet/corefx/issues/25519?

I didn't check w

[2017-12-11 18:19] terrajobst commented on #25344
Normally I'd expect the constructor to throw an ArgumentExeception if the array's lenght is less than than `Vector<T>.Count`. I don't recall whether we explicitly don't do length validation for perf reasons. Also, I don't recall whether the constructor is an intrinsic or not.

@CarolEidt, do you have any thoughts here?

[2017-12-11 18:21] karelz commented on #24788
@jnm2 that is one of many potential solutions with its own list of downsides and complications. Let's take those discussions outside of this API issue please.

[2017-12-11 18:26] eerhardt commented on #25344
The issue is that the constructor that takes only an array calls into the constructor that takes an array and an index.  So that's where the "index" in "IndexOutOfRangeException" comes from -

https://github.com/dotnet/corefx/blob/075df17be2057be1d47f11597f0ee735cb39f60b/src/System.Numerics.Vectors/src/System/Numerics/Vector.tt#L186-L189

Perhaps just adding an appropriate message to this exceptio

[2017-12-11 18:30] #25495 closed

[2017-12-11 18:48] eerhardt commented on #25334
Need to add a proposed API, get it reviewed, and then implement the API.  After that, need to update the JIT to support SIMD on these new types.

Another feature that is coming in .NET Core 2.1 that will help here is Hardware/Platform Intrinsics.
 See https://github.com/dotnet/designs/blob/master/accepted/platform-intrinsics.md.  This exposes the underlying SIMD instructions to C# and allows you t

[2017-12-11 18:55] GrabYourPitchforks commented on #25759
Potential APIs that would be part of this assembly:

- `Utf8Char` (or whatever type we use to represent a UTF8 code unit)
- Validate the well-formedness of a UTF8 string
- Get UTF16 / UTF32 code unit count from a UTF8 string (and vice versa)
- Convert UTF8 string to UTF16 / UTF32 string (and vice versa)
- Convert invalid UTF8 string to valid UTF8 string (via invalid char replacement)
- Forward and

[2017-12-11 18:56] rmkerr commented on #25820
The missing section of the path is definitely being cut out by System.Uri, but I'm not sure yet whether or not that behavior is incorrect. It looks to me like the unencoded '#' is interpreted as the beginning of a [fragment](https://tools.ietf.org/html/rfc3986#section-3.5). That means that the rest of the URI is (correctly) dropped from LocalPath. When constructing a URI that contains special char

[2017-12-11 18:58] TylerBrinkley commented on #17299
I wasn't sure if we wanted to make the `CancellationToken` parameter optional since it wouldn't match the existing methods, but I'm fine with either.

[2017-12-11 19:05] karelz commented on #17299
I have seen the pattern on new APIs - the wider API review will correct it if it is wrong ;)

[2017-12-11 19:10] weshaggard commented on #23667
We have addressed this by continuing to build on 42.1 which should work on 42.2. At this time we don't plan to move to building on the latest version in our 1.x servicing releases.

[2017-12-11 19:10] #23667 closed

[2017-12-11 19:12] davidsh commented on #17299
We should match the current API pattern for the existing HttpClient APIs.

cc: @terrajobst

[2017-12-11 19:13] karelz commented on #13970
No activity in a long time, unassigning ...

[2017-12-11 19:14] karelz commented on #15554
No activity in a long time, unassigning ...

[2017-12-11 19:14] GrabYourPitchforks opened #25837 "Strengthen runtime tamper-proofing of managed applications"
This is a placeholder for work to be performed under the Security Epic. Summary: enable compiler and OS runtime security features to make it more difficult for adversaries to modify managed applications as they're executing.

[2017-12-11 19:15] wfurt commented on #25429
Can you please take a look at https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171211.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveMemoryNativeTask~2FSendRecvPollSync_TcpListener_Socket(listenAt:%20::1,%20pollBeforeOperation:%20False) @Drawaes ? It is associated with this issue. If we

[2017-12-11 19:15] weshaggard commented on #21525
@danmosemsft do you know if this still an issue?

[2017-12-11 19:17] weshaggard commented on #15741
Putting in UWP6.1 milestone as this issue is only applicable to UWP.

[2017-12-11 19:19] weshaggard commented on #17346
@joperezr is this covered by the work you did to validated the shared framework or is this slightly different?

[2017-12-11 19:20] weshaggard commented on #19781
@vancem @mikem8361 what is your guys take on using symbol packages at all? With the new symbol publishing work can we just stop producing symbol packages now are do we still want them as a transport mechanism?

[2017-12-11 19:21] weshaggard commented on #20122
@danmosemsft this is labeled as infra but is more specific to individual tests. Do you want this still for tracking? If so I think it would make since to file individual issues against the owners for the tests in question.

[2017-12-11 19:23] #20258 closed

[2017-12-11 19:23] weshaggard commented on #20258
Issue moved to [dotnet/buildtools #1833](https://github.com/dotnet/buildtools/issues/1833) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-11 19:25] eerhardt commented on #23519
Adding to the 2.1 milestone since @tannergooding is working on adding this now.

[2017-12-11 19:32] weshaggard commented on #23631
It doesn't look like these tests are failing in this same way any longer so closing this issue. If they start to fail again please reopen.

[2017-12-11 19:32] #23631 closed

[2017-12-11 19:32] rmkerr commented on #23702
This test has failed several times in the last month with the following error:

After talking to @davidsh I believe the failure was the result of a missing call to Socket.Shutdown. That missing call was added along with several others by @stephentoub in #25694. The last occurrence of this test failure was December 2nd, two days before #25694 was merged.

[2017-12-11 19:37] karelz commented on #17099
Unassigning to make it available for anyone interested ...

[2017-12-11 19:37] karelz commented on #16337
No progress in a while ... unassigning

[2017-12-11 19:39] danmosemsft commented on #21525
I do not. Let's close until we hit this again

[2017-12-11 19:39] #21525 closed

[2017-12-11 19:39] karelz commented on #15808
The code coverage is at 84.3%, closing.
cc @JeremyKuhne @pjanotti

[2017-12-11 19:39] #15808 closed

[2017-12-11 19:40] danmosemsft commented on #20122
That woudl work if someone would grep where all the OuterLoop ones are and make issues for the biggest buckets.

[2017-12-11 19:47] mikem8361 commented on #19781
I still want them as a transport method.  My new uploader tools take a symbol nupkg as its input.  We can eventually stop publishing the packages though.

[2017-12-11 19:47] tengl commented on #25774
Thanks @tmds, that's better than hard coded paths..

[2017-12-11 19:51] weshaggard commented on #24090
@steveharter I'm trying to follow the entire discussion so I can better understand the policy. Do we have a spec written up for this? I also want to be sure that whatever we end up with here as policy matches the tooling policy, in particular the conflict resolution, and we don't end up with different semantics.

[2017-12-11 20:04] ianhays commented on #25785
We discussed the struct/class and non-allocating/allocating concern in-person and the ending compromise is to leave it as an IDiposable struct, but use a Safehandle for the state pointer.

Does anyone else have any more feedback before I mark this as ready for review?

[2017-12-11 20:10] zcanann commented on #25344
Adding a message seems like a sufficient solution to me

[2017-12-11 20:19] tmds commented on #24562
In most cases there isn't because the Socket is not accessible to the developer.
e.g. an external dev cannot workaround this in HttpListener/Kestrel, because he does not have access to the Socket.

This affects every TCP server. Unless the Socket code gets some 'extra' that isn't needed on Windows, it will fail to restart in the 2 minutes after being stopped.