[2018-04-17 23:03] jnm2 commented on #29122
@tmat Seems like we can probably figure, if you're manipulating IL, you're smart enough to do without anyway. 😊

[2018-04-17 23:31] danmosemsft commented on #29158
The test is extremely simple, it does `Convert.GetTypeCode("Hello world")` which casts the string to `IConvertible` and calls `GetTypeCode()` which just returns a member of an enum.

@sandreenko is there any possibility this could be related? It is the only possibly interesting JIT change in this period.  The test is not using the return value of `Convert.GetTypeCode(value);` if that matters?

htt

[2018-04-17 23:42] sandreenko commented on #29158
@danmosemsft It looks unlikely, but still possible. That PR could change live intervals and affected register allocations (it should affect it in a good way, because with this PR we detect and delete more dead code that should have good effect on RA).

I think asm diffs will be able to find what caused that.

[2018-04-17 23:53] AceHack commented on #24681
I'm really going to miss code contracts, I would like to see them in .NET core.  Very helpful tool.

[2018-04-17 23:56] #29144 closed

[2018-04-18 00:12] karelz commented on #29164
Likely there. Nothing related to CoreFX here.
Pro-tip: Copy-paste exception as text. It is impossible to search for substrings in pictures :(

[2018-04-18 00:12] #29164 closed

[2018-04-18 00:26] danmosemsft commented on #29158
@stephentoub do you believe this is worth tracking for 2.1 ? It seems to me probably not. The code is not doing much and it appears likely to be a code gen related change that left other scenarios (with the possible exception of 8% on ToDateTime_String) unaffected.

[2018-04-18 00:28] huanwu commented on #27965
@Sunny-pu Could you check if it pass in recent build? It seems pass from [here](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20180417.03/workItem/Canonicalization.Tests/analysis/xunit/System.Runtime.Serialization.Xml.Canonicalization.Tests.XmlCanonicalizationTest~2FC14NWriterNegativeTests).

[2018-04-18 00:29] derk2689 commented on #28652
Just got this running from cli.  Thanks for all the work and help to all involved.

[2018-04-18 01:31] JeremyKuhne commented on #29140
@MichalStrehovsky thanks for the details- I'll update the test.

[2018-04-18 02:26] keeratsingh opened #29169 "Compilation errors while linking corefx\src\Common\src\Interop\Windows\NtDll\Interop.NtCreateFile.cs"
I am getting the following compilation errors when linking [Interop.NtCreateFile.cs](https://github.com/dotnet/corefx/blob/a28a2cdda67c024126f690bbe1331174a194f9ce/src/Common/src/Interop/Windows/NtDll/Interop.NtCreateFile.cs) in `System.Data.SqlClient` project.
[FileSystemEnumerator.Win32.cs](https://github.com/dotnet/corefx/blob/dd4519d0373e26789905a4836c3fc88a9257cc1c/src/System.IO.FileSystem/sr

[2018-04-18 02:42] SunnyWar commented on #24681
In 2012 I made a suggest to the visual studio user voice site to either support and finish Code Contracts or remove it. The issue was closed with no action taken (not enough votes).

From the beginning it was a public namespace that requires a semi-functional,  unsupported, "experimental" runtime. It's in even worse shape today. At a minimum it should be marked as obsolete. Personally I don't thin

[2018-04-18 03:16] iSazonov commented on #28944
@mklement0 Ping me too if you want.

[2018-04-18 03:35] PeterHag commented on #18964
Hi Lukasz,

Thanks for the suggestion. I'll try it as soon as possible, probably in
week-end and I will let you know if it solved my problem.

Kr,
Peter

2018-04-16 15:58 GMT+02:00 Lukasz C. <notifications@github.com>:

[2018-04-18 03:37] jkotas commented on #29169
corefx has two conflicting definitions of `UNICODE_STRING`:

[code]

Interop.NtCreateFile.cs assumes the first one, but your System.Data.SqlClient includes the second one.

[2018-04-18 04:04] jkotas commented on #29158
I believe that this was introduced by https://github.com/dotnet/coreclr/pull/16749/

This change modified interface declaration order on String (reconciling diffs w/ CoreRT):

Before: https://github.com/dotnet/coreclr/pull/16749/files#diff-d2a641ec9b77a5ea1cc985bdec3e74efL44

After: https://github.com/dotnet/coreclr/pull/16749/files#diff-0c82b98e414434b145b24386045c47a8R24

Interface casting is im

[2018-04-18 04:06] keeratsingh commented on #29169
Thank you @jkotas for the prompt response, changing the include file to `\corefx\src\Common\src\Interop\Windows\Interop.UNICODE_STRING.cs` resolved issues 1,2,4 and 5.

Is there a better way you can suggest to suppress issue/warning `BCL0015` ?

[2018-04-18 04:11] danmosemsft commented on #29158
Aha..I didn't notice that. Do you consider the new ordering to be best? It seems reasonable.

Is it feasible to improve that linear search?

[2018-04-18 04:12] pjanotti commented on #28791
There is no simple solution to this that we can take on 2.1 time frame, moving to future. The key here is that the connect from client side in domain sockets will succeed and the code will block on the receive, for now server/client needs a small protocol for the server to report that it has its desired number of clients connected.

[2018-04-18 04:15] MisinformedDNA opened #29170 "MemoryExtensions.Equals with StringComparison"
I'm trying to check for certain file extensions with the new `Span` APIs. I came across some odd behavior. Here's where I started, which, of course, only works for case-insensitive cases (i.e. Linux):

[code]

`SequenceEqual` doesn't have a case-insensitive overload, so I found

`if (MemoryExtensions.Equals(Path.GetExtension(entry.FileName), extension, StringComparison.OrdinalIgnoreCase))` which w

[2018-04-18 04:25] jkotas commented on #29169
What are you using NtCreateFile for?

cc @JeremyKuhne

[2018-04-18 04:29] keeratsingh commented on #29169
@jkotas
I am trying to add `SqlFileStream` capability to `System.Data.SqlClient` in .Net Core #15652
[Here](https://github.com/Microsoft/referencesource/blob/90b323fe52bec428fe4bd5f007e9ead6b265d553/System.Data/System/Data/SQLTypes/SQLFileStream.cs) is the .Net Framework implementation that I am trying to port over.

[2018-04-18 04:30] jkotas commented on #29158
It is hard to tell whether the new ordering is the best without data. Overall, I think the new ordering is better than the old one. The old one has ICloneable early. ICloneable  is legacy interface that documentation recommends to not use. The new one has it last that is certainly better.

https://github.com/dotnet/coreclr/issues/603#issuecomment-215879810

[2018-04-18 04:46] jkotas commented on #29169
I assume that you are calling NtCreateFile in netcoreapp Windows configuration only. I am not sure why you are getting the warning in the first place. System.IO.FileSystem is calling NtCreateFile too and I am not able to find any code to suppress the warning around it. @JeremyKuhne Have you done anything special for it?

Suppressing the warning sounds reasonable to me to allow you to make progress

[2018-04-18 05:22] AceHack opened #29172 "Add High level System.Reflection.Metadata API"
Please add high-level APIs that can be used without having to deference/follow all the pointers/handles.  I would love to just load an assembly and loop through the tree.

[2018-04-18 05:56] hazama-yuinyan commented on #29122
@jnm2 I already placed `DebugInfoExpression`s which represent Sequence Points in the expression tree(for now only for variable declarations to make sure they are placed in right places), and I'm thinking that I could implement an [ExpressionVisitor][exprvisitor] class which visits the expression tree and generates Sequence Points from the `DebugInfoExpression`s. I'm hoping that would work for me ;

[2018-04-18 06:34] Sunny-pu commented on #19683
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_release/5749/testReport/System.Net.Sockets.Tests/DualModeBeginAccept/BeginAcceptV4BoundToAnyV4_Success/

[2018-04-18 06:42] hpbieker commented on #29147
It is a application compiled using dotnet core 2.0.x on Windows, then I built a alpine image in a docker host running on Ubuntu 16.04 and ran it on the same docker host. So real Linux Docker.

[2018-04-18 06:53] p2atran opened #29173 "AuthenticateAsClientAsync hangs on core 1.1.4 [Question]"
Here's my stack overflow post with all the investigation I have done thus far:
https://stackoverflow.com/questions/49891249/tcp-close-wait-apple-apns

It seems like this api hangs on .net core 1. I tried it on 1.1.4 and 1.1.8 without any success.

[2018-04-18 06:54] GrabYourPitchforks opened #29174 "Correctness checking and perf improvements on ReadOnlySequence"
Currently APIs like `ReadOnlySequence<T>.Slice(SequencePosition, ...)` cannot validate certain aspects of their input parameters (such as that the provided _SequencePosition_ parameters are actually within the _this_ object) without incurring an O(n) traversal through the linked list of segments, where _n_ is the number of segments in the list. One option is to forego validation of the input param

[2018-04-18 06:55] #29173 closed

[2018-04-18 06:56] p2atran opened #29175 "AuthenticateAsClientAsync hangs on core 1.1.4 [Question]"
Here's my stack overflow post with all the investigation I have done thus far:
https://stackoverflow.com/questions/49891249/tcp-close-wait-apple-apns

It seems like this api hangs on .net core 1. I tried it on 1.1.4 and 1.1.8 without any success.

[2018-04-18 07:09] zhenlan commented on #18964
The issue eventually needs to be addressed in full framework to make xmlserializer code-gen be aware of netstandard.dll and add it in references for compiler.

[2018-04-18 08:02] mazong1123 commented on #29059
Sounds like a bug. @stephentoub @jkotas  do we have any historical reason for missing this validation?

[2018-04-18 08:46] safern commented on #28398
It seems super flaky, I even tried repro tool and it didn’t repro. I think it has to do with the paths where for some reason it is getting a locked file and not able to load the assembly because of that. So I think moving to 2.2 is fine.

[2018-04-18 09:06] Drawaes commented on #29022
One factor to consider is that the use case I have most of the time will not be a "foreign" buffer it will be from the same pool just a different pipe. So it should be fine in the RIO case.

Also we managed to sneak in some changes to pipelines that will allow a buffer to identify it's pool in the final API reviews before lockdown.

[2018-04-18 09:16] MarcoRossignoli commented on #28398
@safern if I can help you somehow, i'm here.

[2018-04-18 09:32] kdg3737 commented on #29110
I also have a version that solves this and added a test for it:

        [Theory]
        [MemberData(nameof(HostNameData))]
        public void SslStream_SNIThroughLocalCertificateSelectionCallback(string hostName)
        {
            X509Certificate dummyCert = new X509Certificate2();
            X509Certificate serverCert = Configuration.Certificates.GetSelfSignedServerCertificate();

[2018-04-18 09:52] masums commented on #21982
Still .Net core 2.1 does not support dynamic assembly loading and unloading. Even does not support creating a custom app domain. Without dynamic assembly loading and unloading it is not a pure modular architecture. Because for module update full website has to restart which is really tough after going into production. Also after loading a dll into context, it does not allow to delete and create a

[2018-04-18 10:15] hvanbakel commented on #21982
@masums you can work around the problem you described on Feb 3 above, see my link. The only problem that still exists in net core 2.0 is if you are trying to dynamically load a netcoreapp assembly that brings in other or different runtime dependencies.

Loading a different version of a dll into an existing running application is a whole different story though, that has never existed for full frame

[2018-04-18 10:35] CZEMacLeod commented on #11857
Hi All. Thanks for the snipped @kasper3 - Very useful for me.
What I am currently struggling with now is that `System.ComponentModel.Composition.Registration` does not seem to have a package available for it and is not included in the `System.ComponentModel.Composition` package.

The specific types I need are

* `System.ComponentModel.Composition.Registration.RegistrationBuilder`
* `System.Compone

[2018-04-18 10:44] markmcdowell opened #29176 "TcpClient ReceiveBufferSize Behavior"
Hello, I'm seeing some slight differences in TcpClient on dotnet core 2.0 vs dotnet 4.x both running on Windows 10.

I'm setting a large receive buffer and I'm expecting to receive a message of ~85k.

This is fine in some of the time but frequently the message is actually read in 2 reads. e.g. 20k then 65k.

I was expecting the the `NetworkStream.ReadAsync` to not return until the buffer is full o

[2018-04-18 10:46] davidfowl commented on #29176
That's the expected behavior.

[2018-04-18 10:47] markmcdowell commented on #29176
Thanks quick and to the point!

[2018-04-18 10:48] masums commented on #21982
@hvanbakel Thank you for your reply. I have managed dependent nuget packages assembly loading at dynamically  assembly loading time using another way. That is working. But if we cannot unload the assembly then we will not be able to replace and reload updated assembly/modules/features of the website, so have to stop the application pool and site then replace the assembly manually and start the app

[2018-04-18 10:50] davidfowl commented on #29163
As an added request since we're going down this rabbit hole. It would be great if we could also specify HttpMessageHandlers that run as part of the upgrade request so we don't need to special case WebSocketOptions.

[2018-04-18 11:01] moinoviimir commented on #20147
I ran into this same issue, and it took me a while to get through to the root cause. Lack of exceptions or relevant docs was a bit of an issue.

I feel a PR is in order, to the code or the docs or both, in order to save the next person their time. @polarapfel have you had the time to work on your PR? If not, I could try to look into that.

[2018-04-18 11:10] davidfowl commented on #29176
I don't believe so, no. We call the appropriate syscall on the OS and that does whatever it does.

[2018-04-18 11:13] smudge202 commented on #19888
I just experienced this issue and ended up here. Please note that assigning a `KeyContainerName` to `CspParameters` when instantiating your private key provider seems to trick everything into thinking the key is persisted and works as intended.

In my case, I'm decoding an RSA key and setting up the crypto provider as follows:

[code]

If you use the result of this in the `CopyWithPrivateKey` call

[2018-04-18 11:27] #29176 closed

[2018-04-18 12:32] lannsjo commented on #28652
Thank you! I have updated to 2.0.7 and everything works fine in Sierra 10.13.4 now!

[2018-04-18 12:34] benaadams commented on #29174
Works...

[2018-04-18 12:38] martinmikulka commented on #29156
Ok, thank you for your input.

While trying to solve my issue, I have found out, that Persian calendar is not available on Win Server 2012 R2. Below is output from the program, which dumps default and optional calendars from CultureInfo.

[code]

[code]

[2018-04-18 13:19] stephentoub commented on #29158
Certainly `IEquatable<string>`, `IComparable<string>`, and `IEnumerable<char>` are more important than `ICloneable` and `IConvertible`, so favoring the former by moving the latter to the end certainly seems like the right decision.

@jkotas, would anything be changed if we moved `IEnumerable` to the end?  I'm wondering how things would be impacted, if at all, since `IEnumerable<char>` inherits `IE

[2018-04-18 13:27] stephentoub commented on #24104
SocketsHttpHandler simply relies on Socket.ConnectAsync:

https://github.com/dotnet/corefx/blob/ab8e81453fa869556821c464bd5824b588d679cd/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs#L57-L62

I've not tested in this context to see what impact that has on this case.

[2018-04-18 15:11] ViktorHofer commented on #28700
Fixed in https://github.com/dotnet/docs/pull/4956. Closing.

[2018-04-18 15:11] #28700 closed

[2018-04-18 15:14] ViktorHofer commented on #23800
Right, this issue should stay open and the other one closed.

[2018-04-18 15:29] safern commented on #28816
@safern TargetGroup netfx corresponds to net471 in master now, right?

Note that this will not fail locally right now because my PR to update netfx to net471 hasn’t go in yet. Actually we might hold it until net472 comes out to not double the work once we want to upgrade to that one. In order to repro you need to pull my branch and just `build.cmd -framework:netfx` and then run the tests with `/p:

[2018-04-18 15:36] karelz commented on #29175
Do you have a minimal repro you can post here which we could try here?
Did you try .NET Core 2.0 / 2.1 Preview2?

[2018-04-18 15:47] karelz commented on #29163
@davidfowl can you please be more specific? How do you special case `WebSocketOptions` today? How do you plan to use HttpMessageHandlers?
How is it related to error details for upgrade request?

[2018-04-18 16:01] karelz commented on #25676
Reopening to track 2.1 port

[2018-04-18 16:03] vanillajonathan opened #29180 "Conditional access support in IIdentity"
This is not a feature request, more raising an issue for possible consideration.

When logging in from a new IP address, a new device or other criteria a identity provider could flag the authentication as limited.

The `IIdentity` interface could be extended with a property to communicate this information. Perhaps a boolean, possibly named `IsAuthenticationLimited` or something.

## Rationale and

[2018-04-18 16:03] #20360 closed

[2018-04-18 16:06] karelz commented on #29110
It's not clear what change you suggest - @rmkerr is already iterating on it in his PR #29167. Let's move the discussion about the fix there.
BTW: We should not bundle unrelated changes (e.g. allowing both `ServerCertificate` and `ServerCertificateSelectionCallback` - that is not desirable and it is unrelated to the regression)

[2018-04-18 16:07] tarekgh commented on #29156
@martinmikulka  right,, Windows started to support Persian calendar recently. what exactly you want to achieve here as this is not clear to me.

[2018-04-18 16:07] jakrivan opened #29181 "SqlDataReader.Close blocks in SNIReadSyncOverAsync after early breaking from reading large dataset"
SqlDataReader is taking unproportionaly long time to Dispose if you are early breaking enumeration through large data set.

I can observer order of magnitude difference in Dispose time depending on number in top clause in select statement, but regardless of the number of rows actually selected.

Let's have the following code:

        public static void Test()
        {
            IEnumerable<int

[2018-04-18 16:08] davidfowl commented on #29163
SignalR supports long polling, server sent events and websockets. We use HttpClient for the first 2 scenarios and ClientWebSocket for WebSockets. We lets users provide an HttpMessageHandler to do run arbitrary code before outgoing requests are sent with the HttpClient but that doesn't apply when using ClientWebSocket. The net effect is that we have to split out logic between configuring the HttpCl

[2018-04-18 16:25] ericstj commented on #29162
So this is a little tricky.  We can rollback the reference to 4.1.3.0 which will make it lower than the current impl, as well as lower than the ref in UAP 10.0.16299.  That's ok since the only one seeing the lower versioned ref is netstandard2.0 and the lower version ref will be satisifed by the higher def in UAP 10.0.16299 and netcoreapp2.1.  Once rolling back we'll have to make sure we still pro

[2018-04-18 16:35] p2atran commented on #29175
Hi Karelz, thanks for getting back to me so quickly. I basically just downloaded this library:

https://github.com/dmunch/Munch.APNS

And ran their program in their apnsConsole directory. I just added my cert in. If you run it as is you will get the "peer reset" exception. If you change the target framework to netcoreapp1.1 in the .csproj file in the console directory, it will just never return. I

[2018-04-18 16:35] p2atran commented on #29175
Oh I haven't tried core 2 yet as I had many issues when migrating my existing project over.

[2018-04-18 16:43] bartonjs commented on #19888
That doesn't "trick it".  It persists the key.  And then `CopyWithPrivateKey` understands it was bonded to a persisted key.

[2018-04-18 16:44] karelz commented on #29175
If you have trouble with that library, maybe it would be best to file the issue there.
If you have suspicion it is a bug in .NET Core, please isolate the minimal repro without the extra library dependency. Thanks!

[2018-04-18 16:48] kasper3 commented on #28482
@karelz, now that github has support for description and emojis in labels https://blog.github.com/2018-02-22-label-improvements-emoji-descriptions-and-more/, could labels like Post-ZBB made self explanatory?

Looks like docs team has started to use this feature: https://github.com/dotnet/docs/labels

![image](https://user-images.githubusercontent.com/33230602/38946230-7a10ff8e-4341-11e8-944c-8bdc7

[2018-04-18 16:58] Priya91 commented on #15017
Any updates on this?

[2018-04-18 17:07] karelz commented on #28482
@kasper3 sweet, I didn't know about that feature. I will update some of the labels over time. Thanks for pointing it out to me!

[2018-04-18 17:30] karelz commented on #29110
That does mean we should remove (comment out) the code which disallows both ServerCertificate and ServerCertificateSelectionCallback though.

I don't see what the proposed change is. PR would be better. Given that @rmkerr has already one up, let's use that one once he updates it to latest compat decision.

Sure, we could if you put up a PR. However, I question the value of it now that we have the

[2018-04-18 17:54] weshaggard commented on #26014
@leecow @terrajobst is this something we plan to do in 2.1?

[2018-04-18 17:55] weshaggard commented on #17346
@joperezr @ericstj any work left for 2.1?

[2018-04-18 18:05] pakrym commented on #29174
Good idea.
Similar thing to the tag can be accomplished by randomizing RunningIndex of the first segment. It would allow our bounds checking to catch most of the incorrect usages.

The last segment wouldn't work for pipelines that need to add/drop linked list nodes all the time and can't do O(n) operation every time a segment is appended.

That was the initial design, @KrzysztofCwalina  was heavil

[2018-04-18 18:26] karelz commented on #15017
No update. It is early for 2.2 plans. This is not top paint-point though.
Do you have some interesting scenario in mind @Priya91?

[2018-04-18 18:36] danmosemsft opened #29187 "System.IO.FileSystem.DriveInfo.Tests hung on RHEL73"
@Anipik shouldn't this have dumped a stack for us?

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180418.02/workItem/System.IO.FileSystem.DriveInfo.Tests/wilogs

[2018-04-18 18:40] jnm2 commented on #29122
@hazama-yuinyan Ultimately, will `DebugInfoExpression` lock you into Windows-only PDBs?

[2018-04-18 18:46] pjanotti opened #29188 "Add config to force OpenSsl error queue cleanup before Encrypt/Decrypt"
The optimization done in #25646 is risky per OpenSsl documentation: [The current thread's error queue must be empty before the TLS/SSL I/O operation is attempted, or SSL_get_error() will not work reliably.](https://www.openssl.org/docs/man1.0.2/ssl/SSL_get_error.html). We have fixed various locations in which CoreFX code was leaving errors on the SSL error queue, but it is possible that some locat

[2018-04-18 18:47] Anipik commented on #29187
Currently we don't get dumps for hung jobs through lldb.

[2018-04-18 18:59] p2atran commented on #29175
I don't think it is that library because I also tried another library which also hangs on AuthenticateAsClientAsync.

I'll try to get a minimal repro soon, but I think I may have found the issue:
https://github.com/dotnet/corefx/issues/17218

It looks like system.net on versions greater than 4.0.0 is broken for authenticateAsClientAsync right? Is there a work around for this perhaps that does not

[2018-04-18 19:00] geoffkizer commented on #24104
Me either.  I'm also not sure exactly what .net framework is doing here.  This seems like something worth understanding better...

[2018-04-18 19:03] mconnew commented on #27566
I'm okay closing this as the bug was against HttpClient/HttpClientHandler. Abstractly I'm not concerned with how this is fixed "under the hood".

[2018-04-18 19:03] #27566 closed

[2018-04-18 19:07] OmarTawfik opened #29190 "RuntimeBinder MethodTypeInferrer should handle pointer types"
The method type inference for the C# runtime binder should be able to handle pointer types.
With the introduction of `T : unmanaged` constraints, it became possible to have pointers as type arguments.

Source: https://github.com/dotnet/corefx/blob/master/src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/MethodTypeInferrer.cs
Feature Spec: https://github.com/dotnet/csharplang/blob/m

[2018-04-18 19:10] karelz commented on #29175
The referenced issue doesn't have root-cause. It seems the symptoms are different - hang vs. doing nothing.
You don't need to port project to .NET Standard 2.0. Just run it on .NET Core 2.0. Having a small isolated repro without any external library would be best next step.

[2018-04-18 19:14] ericstj opened #29191 "Enable closure validation on desktop frameworks during package testing"
Essentially remove this comment: https://github.com/dotnet/corefx/blob/6b2a3fe8ec3ab26627f5e8eb7abaace03eafa185/pkg/test/frameworkSettings/net/settings.targets#L4-L5

To do this we need to make sure we can  handle cycles that exist in the desktop assemblies and we ignore all intentional dangling references in the desktop facades and reference assemblies themselves.

[2018-04-18 19:28] instalab commented on #26966
Here is PKGBUILD for people in need.
https://raw.githubusercontent.com/instalab/DotNetArch/master/PKGBUILD

[2018-04-18 19:29] ericstj commented on #17346
I think we have as much as we need for 2.1.  Its running as part of the allConfigurations leg.

[2018-04-18 19:29] #17346 closed

[2018-04-18 19:34] p2atran commented on #29175
Wait what do you mean by that? I can run my .NET core 1.1.4 project as .NET Core 2.0 without having to port it over? Also that link I gave you was definitely the bug. I compiled the library using
https://github.com/dotnet/core/blob/master/release-notes/download-archives/1.0.7-download.md
and it worked without any problems.

Would I be able to use the .dll that the library spits out in mine so that

[2018-04-18 19:40] instalab commented on #26966
And here is PKGBUILD of dotnet-runtime, for people in need:
https://raw.githubusercontent.com/instalab/DotNetCoreArch/master/PKGBUILD

[2018-04-18 19:53] brettkc opened #29193 "System.Data.SqlClient .NET Core 2.1.3 Preview 2 - Unable to open connection to the database"
Unable to use System.Data.SqlClient to open a connection in .NET Core 2.1.3 Preview 2. I also tried previous versions of .NET Core 2 and encountered the same issue. I also manually updated to use the latest preview version of System.Data.SqlClient and same outcome.

**DB in question is SQL Server 2008 R2 running in 2000 compatibility mode, though this has never been an issue previously**

**UPDATE

[2018-04-18 19:54] joshfree commented on #28922
@saurabh500 @corivera can you PTAL?

[2018-04-18 20:00] karelz commented on #29175
Yes, you can force runtime selection on the command line AFAIK.

I am a bit lost on the remaining questions/comments. Either way, let's first try to understand the root-cause (i.e. having simplified repro), before we jump to conclusion that some version fixes the problem or not.

[2018-04-18 20:00] saurabh500 commented on #28922
cc @keeratsingh

[2018-04-18 20:00] joshfree commented on #28834
@brianrob @valenis could you help nudge this 2.1 performance investigation forward?

[2018-04-18 20:33] ahsonkhan commented on #29170
Is `extension` a string type? If so, the compiler is not matching to the correct overload (this issue has been resolved in C# 7.3).

**Try this:**
[code]
or
[code]

[2018-04-18 20:34] ahsonkhan commented on #29170
cc @VSadov, @joshfree, @AlexGhiondea, @KrzysztofCwalina

[2018-04-18 20:40] danmosemsft commented on #29116
@MarcoRossignoli that makes sense where they are ArgumentExceptions like this one. Other cases if any would need it manually added to the message. Would you like to have a go at a PR at least for this case?

[2018-04-18 20:44] danmosemsft commented on #27512
Note if you install https://userstyles.org/styles/108591/github-wide you see the graphs more easily.

[2018-04-18 20:45] MarcoRossignoli commented on #29116
@danmosemsft ok i'll work on it!

[2018-04-18 20:59] ahsonkhan commented on #29001
Fixed in https://github.com/dotnet/corefx/pull/29115 / https://github.com/dotnet/corefx/pull/29184

[2018-04-18 20:59] #29001 closed

[2018-04-18 21:13] shueybubbles opened #29196 "TraceInternal fails with null reference exception"
We publish Microsoft.SqlServer.SqlManagementObjects to Nuget.Org with NetStandard2.0 binaries. One of our customers built an app and runs it on Ubuntu with netcore-hosting and the app crashes:
[code]

Looking at the code for TraceInternal, it appears to use `GetEntryAssembly().GetName().Name`, but from looking around the repo it appears GetEntryAssembly() can return null in some cases.
Is there a

[2018-04-18 22:04] ahsonkhan commented on #29032
I discussed this with @ericstj, and it looks like an issue with the roll forward policy given the application is targeting netcoreapp2.0 when the dotnet SDK (from master) is for netcoreapp2.1.

A workaround for the issue is to add the following to the csproj:
[code]

![image](https://user-images.githubusercontent.com/6527137/38960441-5e6039b2-4319-11e8-9a91-4a1876814e78.png)

Steve, is this the ex

[2018-04-18 22:05] caesar1995 commented on #28863
IPv6 LLA starts with `fe80`. See [RFC 4291](https://tools.ietf.org/html/rfc4291#section-2.5.6):

[code]

IPv6 notation will be like: FE80::/10

[2018-04-18 22:49] ericstj commented on #29032
The host is rolling forward the 2.0 app to run on the 2.1 shared framework but it isn't removing System.Memory.dll which has been moved into the shared framework in 2.1.  This is a release blocking bug in the host.

[2018-04-18 22:53] rmkerr commented on #28830
I'm still in the process of trying to get symbol information, but here's the first regression report I've been able to generate. This has a baseline run on the old runtime version 2.1.0-preview2-26330-03 and asp net core version 2.1.0-preview3-32107. That's compared to runtime version 2.1.0-preview3-26331-01 and asp net core version 2.1.0-preview3-32112.

Name | Base | Test | Delta | Responsibilit

[2018-04-18 23:00] jkotas commented on #29158
`IEnumerable` would right after `IEnumerable<char>` in the list. The type builder adds the declared interface to the list first and then expands it immediately.

I have run experiments to see what the casting tends to be called on. I did not see generic types like `IEquatable<string>` or `IComparable<string>` much. They are typically used as generic constrains and so the runtime casts to them are

[2018-04-18 23:05] stephentoub commented on #29158
Really? Won't they be used by collections a bunch, e.g. a hash set of strings? Or does EqualityComparer.Default special-case strings?

[2018-04-18 23:11] MisinformedDNA commented on #29170
Yep, `extension` is a string. Casting or changing to 7.3 got rid of the errors. Thanks.

[2018-04-18 23:11] #29170 closed

[2018-04-18 23:13] jkotas commented on #29158
The cast happens once (via reflection) when the comparer is created: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/ComparerHelpers.cs#L134 .

[2018-04-18 23:13] steveharter commented on #29032
This should be fixed once this is in: https://github.com/dotnet/sdk/pull/2118 and the framework's deps.json file is updated to add version numbers.

I verified this will work with @ahsonkhan by manually adding an `"assemblyVersion" : "1.0.0"` to the framework's deps.json file for that System.Memory.

[2018-04-18 23:15] danmosemsft commented on #27064
Perhaps the failure below is the same issue.

[code]

[2018-04-18 23:29] sebastienros commented on #28830
I agree there is no indication that this is on corefx, when I first reproed it was obvious though but the command lines I provided are the best I can get now and it's not showing it.

I will move it to aspnet repos then.

[2018-04-18 23:44] rmkerr commented on #28830
Thanks for the heads up @sebastienros. I'll go ahead and close this issue.

[2018-04-18 23:44] #28830 closed

[2018-04-19 00:26] davidsh commented on #29175
Also, from what I understand about APNS (Apple Push Notification Service), it is an HTTP/2 based protocol.  It requires TLS protocol 1.2 and client TLS certificates.

Just curious why you are using SslStream to communicate with it since it requires HTTP/2 protocol.

[2018-04-19 00:29] p2atran commented on #29175
The library I'm using happens to use that, but it does use TLS 1.2 protocol when it uses `AuthenticateAsClientAsync`. I tried running the library with System.Net.Security 4.0.0 and was able to successfully send/receive push notifications.

[2018-04-19 00:34] p2atran commented on #29175
This is the `csproj` file for the working project:

[code]
And the one where it does not work (because it uses System.Net.Security Version=4.0.1.2):

[code]
I'm new to .NET Core frameworks so this is all confusing to me.

[2018-04-19 00:38] stephentoub commented on #29158
Ah, it's not that the interface isn't used much; it's actually used a lot. It's that we only cast to it rarely, as the cast result is then cached.

[2018-04-19 01:09] danmosemsft commented on #29187
Because of the issue Mike is investigating? Who owns the next action to make this work?

[2018-04-19 01:25] simonz130 commented on #8951
I understand that debian 9.4 (stretch) is not supported.
If so, can you update this page?
https://www.microsoft.com/net/download/linux-package-manager/debian9/runtime-2.0.6

[2018-04-19 01:34] danmosemsft commented on #8951
@leecow for that

[2018-04-19 01:47] bmarder commented on #14897
I'm getting this error as well with aspnetcore 2.1 preview2 as well.

[code]

[2018-04-19 02:13] Anipik commented on #29187
Mike`s dump was different. There is currently no one working on this. I worked on it briefly during last week but hit the roadblock as it required to make some changes on the helix side. (Just got the azure storage account to test that). I will proceed with it

[2018-04-19 03:02] #29158 closed

[2018-04-19 04:24] lmolkova opened #29207 "Public setter for System.Diagnostics.Activity.Current"
# Motivation

`Activity` represents a context for distributed operation tracing.
It is created when an operation (e.g. Http request) starts and flows with async calls within a process.

`Activity.Current` is `AsyncLocal` static variable that any logger/tracing system can use to stamp logs and telemetry with 'correlation ids'.

`Activity.Current` could be set via calling `Activity.Start` or `Activi

[2018-04-19 04:39] kasper3 commented on #26966
@instalab, could you please send your patches to upstream https://wiki.archlinux.org/index.php/git? cc @alucryd

[2018-04-19 06:08] ashishnegi opened #29210 "How to trace System.Net ?"
I am following the similar steps of [Network Tracing in .NET Framework](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/network-tracing) for CoreClr web app.

However, I don't see the `network.log` getting generated.
When I do the same steps in .Net Framework web app, it does generate the log file.

Sample coreclr web app with config file : [TraceSystemNetCoreClrNotWorking.zi

[2018-04-19 06:45] Sunny-pu commented on #24355
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180419.01/workItem/System.Net.NameResolution.Functional.Tests

[2018-04-19 07:01] MarcoRossignoli commented on #28863
@caesar1995 ok i ask this because in you sample for LLA on issue.

[2018-04-19 07:44] hazama-yuinyan commented on #29122
@jnm2 I don't know until I'll give it a try. But I guess(and am only guessing) `DebugInfoGenerator` is the class responsible for actually generating PDBs, so it will generate a portable PDB instead if I pass a `DebugInfoGenerator` that converts `DebugInfoExpression`s to Sequence Points and generates portable PDBs. This is what I meant in the previous reply. I'll look at the source codes to figure

[2018-04-19 07:45] danwalmsley commented on #29157
after a clean install of the OS this issue went away. I'll close the issue, and come back if we encounter again.

[2018-04-19 07:45] #29157 closed

[2018-04-19 07:55] cyberphone commented on #6405
Now the Microsoft sponsored proposal is published: https://tools.ietf.org/id/draft-erdtman-jose-cleartext-jws-00.html
This scheme already works in Java, Python, and JavaScript.

`ToString("ES")` could be an alternative if you feel uncomfortable modifying existing formatters.

[2018-04-19 08:01] Sunny-pu opened #29211 "Test System.Data.SqlTypes.Tests.SqlStringSortingTest.SqlStringValidComparisonTest(cultureName: \"el-GR\", localeId: 1032) failed in CI."
Tests System.Data.SqlTypes.Tests.SqlStringSortingTest.SqlStringValidComparisonTest(cultureName: \"el-GR\", localeId: 1032) had failed.

Message:
 FAILED: (SqlString Operator Comparison): SqlStrings are out of order\nExpected: True\nActual: False
[code]

Details: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/383/testReport/System.Data.SqlTypes.Tests/SqlS

[2018-04-19 08:22] cyberphone opened #29212 "DataContractJsonSerializer.CanonicalizeObject()"
There is an alternative to https://tools.ietf.org/id/draft-erdtman-jose-cleartext-jws-00.html in preparation which in addition to ES6 compatible string and number generation (https://github.com/dotnet/corefx/issues/5647), also requires that property names are _sorted_ as described in: https://cyberphone.github.io/doc/security/draft-rundgren-json-canonicalization-scheme.html.

This is trivial to ac

[2018-04-19 08:53] kasper3 commented on #28482
Thanks! If you prefer emojis, here is a cheat sheet (used by GitHub, Slack and 60 other services):  https://www.webpagefx.com/tools/emoji-cheat-sheet/ 😎

[2018-04-19 09:08] smudge202 commented on #19888
Thanks for the info. Unfortunately, it doesn't work on Linux (PSNE on `CspParameters`).

[2018-04-19 09:39] JosephWoodward commented on #24574
@alexzaytsev-newsroomly Did you ever find a solution to this?

[2018-04-19 10:18] kasper3 commented on #26966
Gentoo package updated with 2.0.7 https://github.com/gentoo/dotnet/pull/389

[2018-04-19 10:47] kasper3 commented on #23134
Should we add a TODO referencing to this issue in https://github.com/dotnet/corefx/blob/b2893f07cf61dae81d424dd676a0d903a36a10c2/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs#L348 and throw `NotSupportedException(SR.net_http_unsupported_version)` if `Version.Major > 1`?

[2018-04-19 10:57] stephentoub commented on #23134
No. If HTTP/2 isn't supported, we downgrade to 1.1; that's how it's always worked.

[2018-04-19 11:24] stephentoub commented on #23134
Feel free to do so.

[2018-04-19 13:10] joshbrw commented on #22184
@srini89 It clearly states above that removing `Trusted_Connection=True` resolves this issue.

[2018-04-19 14:00] davidsh commented on #29210
.NET Core uses a completely different form of tracing for networking.  It uses EventSource which is based on ETW.

Please take a look at this instructions:
https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md

[2018-04-19 15:29] jnm2 commented on #29172
Covered by https://github.com/dotnet/corefx/issues/2800?

[2018-04-19 15:30] jnm2 commented on #21982
.NET Framework lets you do this. That's one of the reasons you might need a strong name.

[2018-04-19 15:44] hvanbakel commented on #21982
@jnm2 do you have a link for that? I would be very interested to know how that works with multiple assemblies having the exact same type and existing application state etc. But that's unrelated to this issue.

[2018-04-19 16:00] AceHack commented on #29172
@jnm2 maybe, what I'm looking for is something very similar to [Mono.Cecil](https://github.com/jbevain/cecil).  This API is already very similar if I didn't have to follow all the pointers around.

[2018-04-19 16:29] jnm2 commented on #29172
@AceHack Then Cecil seems like it would be perfect for you. Why not use that?

[2018-04-19 16:31] jnm2 commented on #21982
@hvanbakel https://docs.microsoft.com/en-us/dotnet/framework/app-domains/strong-named-assemblies#why-strong-name-your-assemblies

[2018-04-19 16:33] tannergooding commented on #29026
@jcouv, right. Hence the comment `// TODO: Update AttributeUsage based on the compiler spec`

[2018-04-19 16:35] caesar1995 commented on #28863
Oops, corrected in sample to avoid confusion. Thanks!

This is a proposal which need investigation (so don't start working on it yet). If we choose to accept it, then yes we need to do those following steps.

[2018-04-19 16:54] #29116 closed

[2018-04-19 16:54] danmosemsft commented on #29116
@cdmihai if you find other such cases (different callstacks) please reopen or create a new issue so we can make a similar fix.

[2018-04-19 16:55] hvanbakel commented on #21982
Interesting, thanks!

On Thu, Apr 19, 2018, 18:32 Joseph Musser <notifications@github.com> wrote:

[2018-04-19 17:32] ViktorHofer commented on #28816
ping @Anipik

[2018-04-19 17:50] krwq commented on #26406
@bartonjs @onovotny, since we likely will need to pass certificate so that we can get signer info would it make sense to simply pass public key to `AsymmetricSignatureFormatter.SetKey` and let AsymmetricSignatureFormatter obtain private key however they want from that? (or if cert has already private key we could pass private key directly - although for consistently it makes sense to always pass p

[2018-04-19 17:53] ericstj opened #29218 "CoreFx needs to version assemblies in the shared framework past those which are OOB and have different surface area"
Previously whenever we added API to a contract or moved types down we had to version the assembly.  This was necessary because the contract was meant to be a portable representation along a single timeline of the API.

Up to this point we haven't cared about the assembly version when adding .NETCore-specific API.  This was because we were viewing .NETCore as a "fork" of the contract.  We could ima

[2018-04-19 17:54] onovotny commented on #26406
@krwq not 100% sure, but I'm ok passing the public cert always as I do have that. I have an impl of `RSA` that I'd want SignedCms to use:

https://github.com/onovotny/RSAKeyVaultProvider/blob/master/RSAKeyVaultProvider/RSAKeyVault.cs#L8

That implementation calls Key Vault for the signing method.

[2018-04-19 18:02] bartonjs commented on #26406
AsymmetricSignatureFormatter isn't involved in SignedCms.

My thoughts:

* Add a new constructor to CmsSigner: CmsSigner(SubjectIdentifierType, X509Certificate2, AsymmetricAlgorithm).
* During the signing operation, if an explicit AsymmetricAlgorithm object was provided use that object for signing, then verify the signature against the public key in the certificate (throw if it doesn't validate).

[2018-04-19 18:52] krwq commented on #26406
@bartonjs do you mean to verify directly after signing to check if AsymmetricSignatureFormatter implementation did the right thing?

How would passing AsymmetricAlgorithm work? I do not see it having any API like Sign or Encrypt which is needed for signing externally

[2018-04-19 19:44] bartonjs commented on #26406
Add it as a parameter to CmsSignature.Sign.  In each of the algorithm-specific resolvers you then understand how to cast it.

[2018-04-19 19:48] Petermarcu opened #29220 "Urgent: Ubuntu 18.04 has moved to curl 4 isntead of 3"
@borgdylan commented on [Thu Apr 19 2018](https://github.com/dotnet/core/issues/1466)

Some tools such as cmake in Ubuntu 18.04 are making use of libcurl4 instead of libcurl3. These two versions may not be installed at the same time. This means that one cannot have cmake and .NET COre isntalled at the same time. Please make a repo for 18.04 targeting libcurl4.

[2018-04-19 19:51] Petermarcu commented on #29220
This looks related: https://github.com/dotnet/core-setup/issues/3875

Perhaps its just a package dependency issue? @rakeshsinghranchi @stephentoub

[2018-04-19 19:51] stephentoub commented on #29220
@borgdylan, can you share more details?  How is the problem manifesting? corefx already builds against libcurl4 and generally distros symlink libcurl3 to libcurl4.  Is the problem that on Ubuntu 18.04 libcurl is built against a different SSL backend?

[2018-04-19 19:52] stephentoub commented on #29220
Ah, I see my question crossed with Peter's comment and that it's a packaging issue.

[2018-04-19 19:52] borgdylan commented on #29220
The problem is that older packages from .NET Core use libcurl3 not libcurl4. APT is forcing all libcurl3 dependants to be uninstalled if libcurl4 is to be installed.

[2018-04-19 19:53] borgdylan commented on #29220
The metadata in the libcurl4 packages say that it conflicts and replaces libcurl3.

[2018-04-19 19:55] borgdylan commented on #29220
The issue is made worse with cmake now using libcurl4. One cannot build anoything using cmake which is many projects nowadays, with .NET Core installed. Also the stable repos for .NET Core are still targeting ubuntu 16.04. Packaging changes happen on each release.

[2018-04-19 19:56] Petermarcu commented on #29220
I'm going to resolve this issue here and point to https://github.com/dotnet/core-setup/issues/3875 to track it.

[2018-04-19 19:56] #29220 closed

[2018-04-19 20:00] danmosemsft commented on #25539
@dsyme assuming some folks do need these for perf (like ourselves) are you suggesting they should have gone on a new type? (`PathSpan`..)

@jkotas Could tooling someday help here, somehow hiding overloads that differ only in ReadOnlySpan<char> vs string, and just letting the compiler bind to the right one? (That doesn't help where the signature changes entirely eg the Try pattern ones)

[2018-04-19 20:07] JeremyKuhne commented on #25539
These weren't added for the coolness factor. These overloads are very important for I/O heavy solutions. Allocations for path manipulation is a significant drag on VS/MSBuild for example.

They also aren't intended for beginners. The existing APIs are still there and can and should be used by people who don't care about allocations. We could, in theory, move them into a different class or namespac

[2018-04-19 20:18] CryptonZylog opened #29221 "Referencing .NET Framework libraries from a .NET Core 2.0 project"
Ok, I was under the impression that a project targeting .NET Core 2.0 features can reference .NET Framework (4.6.2) projects and/or libraries.

For example, I have a parent project (console app) that targets .NET Core 2.0 and can only target .NET Core 2.0 due to features introduced in it that aren't available in .NET Framework 4.6.2 (the latest framework we can currently support).

It seems this i

[2018-04-19 20:36] jkotas commented on #25539
You are typing `Path.`. What is the crystal ball IntelliSense should use to decide whether to show you the expert Span overloads; or just the regular string overloads?

I guess there can be AI applied to it, classify the users and the APIs, and then decide that most of the users like you do not use Span Path APIs and do not show you those either. I am not saying it is a good idea ... just brainsto

[2018-04-19 21:26] Petermarcu opened #29223 "Wrong debug directory entry in some .NET Core 2.1 preview1 libraries"
@KKatsnel commented on [Thu Mar 29 2018](https://github.com/dotnet/core/issues/1392)

Here two possible versions of the data format of a debug directory are described:
https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/PE-COFF.md
However, there are two Debug Directory Entries in the "System.IO.FileSystem.dll" library of 4.1.1.0 version (it's from .NET Core 2.1 previe

[2018-04-19 21:29] Clockwork-Muse commented on #29221
For WMI specifically, see #26601

[2018-04-19 21:39] weshaggard commented on #29149
Fixed with the buildtools change merged in https://github.com/dotnet/corefx/pull/29200.

[2018-04-19 21:39] #29149 closed

[2018-04-19 22:00] karelz commented on #28784
Moving to 2.2 per @JeremyKuhne's info and offline confirmation: https://github.com/dotnet/corefx/pull/28894#issuecomment-381366648

[2018-04-19 22:03] danmosemsft commented on #23800
@joelbraun @tquerec any investigation here that is must have for 2.1?  I assume this can move to Future right?

[2018-04-19 22:06] danmosemsft commented on #25539
If we could show a notional `IString` then perhaps we could collapse the two since most people would assume that `IString` would accept a `String`. I think of `ReadOnlySpan<char>` as just an extension of string (or can be). Yeah, I guess this doesn't make sense and I don't have an answer.

[2018-04-19 22:08] krwq commented on #26406
I've updated the proposal and PR to take AsymmetricAlgorithm, makes more sense after @bartonjs have explained me what's the problem with AsymmetricSignatureFormatter in CMS context

[2018-04-19 22:28] BruceForstall opened #29224 "arm32 and clang 5.0"
Due to bugs in clang3.9 on arm, coreclr changed builds to require >=clang4.0, and official build and CI system docker container was updated to use clang5.0. It seems like corefx should match this.

The coreclr change: https://github.com/dotnet/coreclr/pull/17422

[2018-04-19 22:31] kasper3 commented on #29224
@BruceForstall, since the compiler doesn't happen too often, can it be updated to latest Clang 6 instead?

[2018-04-19 23:01] jorive commented on #27495
Waiting on CI legs to finish for https://github.com/dotnet/corefx/pull/29203

[2018-04-19 23:12] danmosemsft opened #29226 "De-duplicate resource ID's"
When Mono pulls in CoreFX code they factor their assemblies like .NET Framework. This means .resx files from multiple libraries must get merged. When those libraries have resources with the same ID, and the string is not identical, this will not merge.

Below is a list I grepped out of all cases where we use a resource ID for multiple distinct string values.

1. Where it's a trivial spacing/punctu

[2018-04-19 23:12] danmosemsft commented on #29226
@weshaggard

[2018-04-19 23:15] danmosemsft commented on #29226
There is of course far more string duplication than shown above. The other cases just use identical strings. Ideally .NET Core would somehow avoid shipping the same string in multiple assemblies. For example move commonly reused strings into System.Runtime.dll and share from there.

That's a separate issue.

[2018-04-19 23:34] krwq commented on #26406
@bartonjs, I've talked with @morganbr offline and he has brough a point that if we have cert with RSA key we sometimes might still want to use different padding in CMS. With AsymmetricSignatureFormatter we could still do that (not the way I implemented but we could do additional formatting for DSA, ECDsa after using formatter), other option would be to create another overload with RSA padding (now

[2018-04-19 23:36] pjanotti commented on #25676
Closing since PR was merged into 2.1.

[2018-04-19 23:38] #25676 closed

[2018-04-19 23:47] AceHack commented on #29172
I really only need the reading side of things and it would be great to have something that is always kept up to date and released with the .net versions.

[2018-04-20 00:14] welkie commented on #26966
@instalab Those worked great for me, thank you! I've finally got my VS Code dev environment working again. No more switching into Windows. :penguin:

[2018-04-20 00:30] vancem commented on #29207
I agree that that scenario is useful (you have an activity and something outside your control (typically native code), transfers it to another thread, that in turn calls managed code, and you wish to 'stamp' the activity on this thread (this happens automatically then tasks/threadpool items create sub-tasks, but won't happen automatically if the thread hop was done by native code).

It is a straig

[2018-04-20 00:44] JeremyKuhne commented on #28784
There are additional issues below the obvious issue. The linked PR can't make it past CI, but passes locally. Given the time I think this should be dealt with in 2.2 where we can give it time to bake (once we've figured out why it is tripping up).

[2018-04-20 00:47] ericstj commented on #29218
So at least two instances of this that need to be fixed in 2.1 (in addition to the Vectors one already being fixed in #29183)
1. System.Memory
2. System.Threading.Tasks.Extensions.

This was based on an analysis of reference assemblies exposed by packages that differ between 2.0 and 2.1, are part of the shared framework, and also have the same version in 2.1.

I also need to examine implementation

[2018-04-20 00:50] vancem commented on #29207
As a API design thing, I toyed with the idea of making a method 'SetCurrent' rather than having a property setter.   This is an attempt to emphasize that this setter is UNUSUAL SCENARIOS only.

Ultimately, however I decided this whole API is reasonably rare, and I think the current design (that does the 'obvious' thing, is OK as well.

[2018-04-20 02:05] stephentoub commented on #29196
Reopening for 2.1

[2018-04-20 02:25] bartonjs commented on #26406
If a different RSA padding is used then a different OID needs to be written down, and the parameters object is very different.  It's a new scenario.  AsymmetricSignatureFormatter cannot be used with CMS.

[2018-04-20 03:35] joshgarnett opened #29232 "Add cross platform support for PerformanceCounters"
The recent addition of PerformanceCounters to 2.1 only supports Windows.  It would be great to offer a cross platform solution that worked on OSX & Windows as well.    The main categories that come to mind are .NET CLR Memory (Gen[0-2,Large] Heap Size, % Time in GC, etc...), .NET CLR LocksAndThreads, .NET CLR Jit, .NET CLR Exceptions, and Process.

[2018-04-20 03:57] ashishnegi commented on #29210
@davidsh I want to trace :
[code]

Can you confirm that the list of `Providers` provided on above documentation for my use case is complete ?
[code]

[2018-04-20 05:51] joelbraun commented on #23800
Not sure if I'm supposed to be tagged in this- I don't recognize any of the attached issues nor do I have any context on these tests.

[2018-04-20 06:27] calvin-pietersen commented on #29080
Sorry for the delayed response @davidsh. Looks good with .Net Core 2.1. SocketsHttpHandler now solves this issue. Thank you for the quick response.

[2018-04-20 07:49] Sunny-pu commented on #29015
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20180420.01/workItem/System.Console.Tests

[2018-04-20 10:38] GSPP commented on #28769
There was a lot of discussion now around what result shapes would be supported. My expression based proposal shows how the user can customize this API for the shape of any `T` at all. The construction of a `T` item can be provided by the user.

This means that value types, custom constructors, factory methods, field and property writes and nested objects are all automatically supported.

The user

[2018-04-20 10:39] GSPP commented on #28769
I now benchmarked the impact of allocations (I updated the code in the opening post; just change the value of allocationsPerRow and run). I tested allocating N objects per row.

0: 18.0ms/iteration.
1: 20.5ms/iteration.
10: 22.9ms/iteration.
100: 37.3ms/iteration.

"1" would be the typical use case. Each row normally turns into one DTO instance. This benchmark works on small rows of a fixed size.

[2018-04-20 11:38] AlexRadch commented on #28336
I am working on it.

[2018-04-20 11:46] GSPP commented on #28935
A `Date` data type would be handy as well.

[2018-04-20 11:53] MarcoRossignoli commented on #28336
@AlexRadch maybe you can answer to my question, to test "portable" code do you use netfx?

[2018-04-20 12:05] MarcoRossignoli commented on #28863
@caesar1995 i did a pass through parsing code, let me know if i can try a PR(it this proposal success).

[2018-04-20 12:45] hazama-yuinyan commented on #29122
@jnm2 Could I ask a question about the portable PDB format?

Skip below if you refuse to answer it.
I think I'm almost there, the first step, which means a portable PDB file that only contains a Document table and MethodDebugInformation table.
I've done with serializing sequence points. But I have no idea of what the `typeSystemRowCounts` parameter of the `PortablePdbBuilder` class's constructor,

[2018-04-20 13:01] stephentoub commented on #28336
That's what I do.

[2018-04-20 13:14] Tornhoof opened #29235 "Api Proposal: Implement ==/!= operators against string on Span/ReadOnlySpan"
In CoreClr https://github.com/dotnet/coreclr/issues/17566 I noticed that comparing string and ``Readonlyspan`` behaves differently for a sliced ``Span`` an unsliced ``Span``.

Rationale:
The following behaviour is currently true:
[code]
and the output is:
[code]

@stephentoub  explained that ``Span`` Equality works differently and does not compare the content, which is perfectly fine.

@svick poin

[2018-04-20 13:38] Tornhoof commented on #29235
Yeah, I imagined as much. I guess we can close that then.

[2018-04-20 13:38] #29235 closed

[2018-04-20 13:41] jnm2 commented on #29122
Certainly!

These are the only two places where Roslyn soecifies a typeSystemRowCounts for the `PortablePdbBuilder` constructor:
http://source.roslyn.io/#Microsoft.CodeAnalysis/PEWriter/MetadataWriter.cs,1746
http://source.roslyn.io/#Microsoft.CodeAnalysis/PEWriter/PeWriter.cs,212

Just passing `metadataBuilder.GetRowCounts()` has worked for me in the past.

[2018-04-20 13:44] jnm2 commented on #29122
Certainly!

These are the only two places where Roslyn specifies a typeSystemRowCounts for the `PortablePdbBuilder` constructor:
http://source.roslyn.io/#Microsoft.CodeAnalysis/PEWriter/MetadataWriter.cs,1746
http://source.roslyn.io/#Microsoft.CodeAnalysis/PEWriter/PeWriter.cs,212

Just passing `metadataBuilder.GetRowCounts()` has worked for me in the past.

The size of each table in the program d

[2018-04-20 13:45] maincoon opened #29236 "Invalid HttpListener.Stop() behaviour"
SDK
 Version:   2.1.300-preview2-008533
 Commit:    996eb6c92c

Runtime
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64

Host (useful for support):
  Version: 2.1.0-preview2-26406-04
  Commit:  6833f3026b

Method description says "Causes this instance to stop receiving incoming requests."

In fact after this call all client connections created with spec

[2018-04-20 13:50] maincoon commented on #29236
Oh! Сherry on the cake!
HttpListener.Stop() does not stop HttpListener.GetContext() call so it just hangs forever. Source code above also shows this.

[2018-04-20 13:55] jkotas commented on #29224
From https://github.com/dotnet/coreclr/issues/17684#issuecomment-382922452 : Clang6.0 is still not a stable branch

[2018-04-20 14:10] MarcoRossignoli commented on #28336
@stephentoub thank's!

[2018-04-20 14:13] MarcoRossignoli commented on #28238
@ahsonkhan the subject is the same?I could help with this.

[2018-04-20 14:16] ViktorHofer commented on #28816
Validated offline. This doesn't repro with net471 on my RS4 machine (which seems to be patched).

[2018-04-20 14:16] #28816 closed

[2018-04-20 14:38] jkotas commented on #29226
You can say that about most code under Common too. We are shipping duplicates of that code as well. I do not think it is something to fix. We have intentionally accepted small amount of duplication to make the implementation factoring clean (no InternalsVisibibleTo, etc.).

[2018-04-20 14:40] pjanotti commented on #29221
@CryptonZylog how are you building your project and referencing System.Management? Can you provide a small repro?

[2018-04-20 14:42] josephisenhour commented on #23800
Seems like a test bug and not a product bug. The exception is thrown as expected but the test is not handling it. I think it is ok to mark future and not block.

[2018-04-20 15:27] pjanotti commented on #29221
Thanks. The path to use System.Management from CoreFX is via the compatibility package.

Ok, I closing this issue.  Let us know if you find issues with the compatibility package.

[2018-04-20 15:27] #29221 closed

[2018-04-20 15:51] hazama-yuinyan commented on #29122
It works for me too!
Thanks a lot!
But the resulting PDB doesn't. Still needs some trial and error, sigh ;(

[2018-04-20 15:57] karelz commented on #29193
@David-Engel this looks similar to the known Preview2 issue, but according to the report the same behavior is on .NET Core 2., so maybe it is different problem?

[2018-04-20 15:59] karelz commented on #29210
The list of Networking providers is here IMO: https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md#systemnet-namespaces

[2018-04-20 16:14] tarekgh commented on #28834
CC @jkotas

[2018-04-20 16:29] David-Engel commented on #27769
Duplicate of #27605

Closing this to track a single issue for the underlying problem.

[2018-04-20 16:29] #27769 closed

[2018-04-20 16:30] danmosemsft commented on #29169
@keeratsingh was this sufficient?

[2018-04-20 16:31] davidsh commented on #29210
@ashishnegi Please follow the instructions in the above documentation.  The provider list is different than .NET Framework.  For example, there is no "System.Net.Cache".  In fact, those types are a no-op in .NET Core.

For HTTP tracing, the tracing output is limited for .NET Core 1.0, 1.1, 2.0.  This is since the HTTP stacks are built on native platform HTTP stacks.  However, starting with .NET Co

[2018-04-20 16:33] brianrob commented on #28834
FYI, I have the traces from @sebastienros and am investigating.

[2018-04-20 16:34] David-Engel commented on #27605
This regression feels like a blocker for 2.1 RC1. Hopefully we can confirm today if PR #29097 fixes the issue.

[2018-04-20 16:36] karelz commented on #29236
@maincoon is it a regression against .NET Core 2.0? Or is the behavior on 2.1 Preview2 the same?

[2018-04-20 16:37] AceHack commented on #26043
Do you recommend unsubscribing from this event in a console app?  Any problems if I don't unsubscribe?

[2018-04-20 16:39] stephentoub commented on #26043
You mean whether it's ok to let the console app terminate without unsubscribing as cleanup?  That's fine.

[2018-04-20 16:46] AceHack commented on #26043
@stephentoub yep, that's exactly my question, I'm very OCD about unsubscribing from events, so it just felt wrong not to unsubscribe.  I did a Task.Run and unsubscribed inside to get around this issue, guess I don't need that.  Thanks for the quick response.

[2018-04-20 16:47] stephentoub commented on #9543
@karelz, if someone on your team has time, it'd be very helpful to investigate this one.  This doesn't appear to be doing anything particular special with client certificates, but after the changes in https://github.com/dotnet/corefx/pull/29238, this now repros for me 100% of the time with WinHttpHandler, and sporadically with SocketsHttpHandler.  I worry there's some issue with how we're interact

[2018-04-20 16:49] #29196 closed

[2018-04-20 16:50] karelz commented on #29196
Ported in PR #29228 to release/2.1 branch

[2018-04-20 16:52] stephentoub commented on #27769
@David-Engel, are you sure it's the same issue?  I'm just confused because it sounds like this issue is related to the performance of asynchronous operations, whereas #27605 is believed to be due to synchronous operations.  Have I misunderstood?

[2018-04-20 16:52] karelz commented on #9543
@caesar1995 can you please help us and take a look?

[2018-04-20 16:53] karelz commented on #9543
The test is marked as disabled. How did you see the failures @stephentoub? (just curious)

[2018-04-20 16:54] stephentoub commented on #9543
I removed the ActiveIssue.

[2018-04-20 17:05] AfsanehR commented on #29211
@Sunny-pu Could you guide me on how to repro this failure? Just to confirm, will I need to be testing against master branch on an Ubuntu machine?

[2018-04-20 17:06] David-Engel commented on #27769
@stephentoub We believe so. Both issues are hitting the underlying SSL library in a way that we believe is resulting in a large delay from that library. Reading through them, it sounds like the library is not properly handling a mix of sync and async operations. Even though this issue is about async, some underlying operations in SqlClient are necessarily sync in nature when calling the underlying

[2018-04-20 17:18] jnm2 commented on #29122
What are you doing to test the resulting PDB to see if it works?

[2018-04-20 17:29] stephentoub commented on #27769
Really?  Meaning you might issue an async operation on SqlClient but internally it does synchronous ones?  That's something we should fix.

[2018-04-20 17:31] karelz commented on #29110
The fix was ported into release/2.1 branch in PR #29233

[2018-04-20 17:31] #29110 closed

[2018-04-20 17:33] saurabh500 commented on #27769
@stephentoub  The error we are tracking are during connection open, where a request to open a connection in connection pool is queued as a request to a single thread in the connection pool, and the running thread, opens all the requested connections synchronously.
All the connection opens in SqlClient are always sync.

[2018-04-20 17:36] JeremyKuhne commented on #29169
No, other than I only used it in netcoreapp. From a first look at the code I don't see why this is using NTCreateFile rather than CreateFile (non UAP)/CreateFile2 (UAP). I used it only in the non UWP builds to open handles relative to another handle (perf optimization). The code here isn't doing that.

@keeratsingh If you can't switch to CreateFile/CreateFile2 you won't be able to enable this clas

[2018-04-20 17:36] saurabh500 commented on #28921
This issue boils down to an exception thrown in XmlSerializer constructor, when invoked at line https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/tests/System/Data/SqlTypes/SqlInt64Test.cs#L724

At the line above, there is no System.Data stack involved.
This should be looked at by the area owners of System.Xml

[2018-04-20 17:36] stephentoub commented on #27769
Hmm.  I'm not completely following.  But if you believe this really is a dup and will be fixed by the other issue being fixed, ok, great :smile:  Looking forward to confirmation of that for both this and the other.

[2018-04-20 17:37] joshfree commented on #28901
@hqueue @alpencolt thanks for looking into this 😺

[2018-04-20 17:49] saurabh500 commented on #27769
This issue starts with slow data retrieval over async API calls on encrypted connections, which was fixed with https://github.com/dotnet/corefx/pull/27743
After further discussions on this issue, it seems like the opening of connection was turning out to be a bottle neck.

When a connection is opened async on SqlClient, SqlConnection.OpenAsync() is called.
In SqlClient, the connections are returne

[2018-04-20 17:52] stephentoub commented on #27769
This is helpful information, but with this statement, how is this a dup then of #27605?  That's what I'm confused about.  Are you saying that this issue is stemming from another connection pool getting created, which in turn requires another work item queued to the thread pool, but the thread pool was already saturated?  Or something else?

[2018-04-20 17:55] stephentoub commented on #28631
Thanks, @MattGal.  I will close this for now, and we can re-open if (when?) it becomes a blocker again.

[2018-04-20 17:55] #28631 closed

[2018-04-20 17:58] David-Engel commented on #29193
@brettkc Can you include the full exception from e.ToString()? I was able to connect fine to a SQL Server 2008 R2 instance with a DB running in SQL Server 2000 compatibility mode using .NET Core 2.0 and System.Data.SqlClient (4.4.3).

[2018-04-20 18:05] saurabh500 commented on #27769
This issue is not stemming from another connection pool being created, but underlying networking stack/SslStream opening the connection slower than before.

Assume that we have a connection timeout of 15 seconds on each connection and we request 15 connections from the connection pool at the same time. Connection pool will open all these connections serially or synchronously whether we call SqlCon

[2018-04-20 18:07] MattGal commented on #28631
Sounds good;  until we find the underlying issue causing this, you can always ping me to delete a rogue machine manually as well (just only expect quick service during normal work hours :) )

[2018-04-20 18:13] stephentoub commented on #28631
Thanks.

[2018-04-20 18:30] krwq commented on #28921
@saurabh500 any chance you could simplify the repro to Xml/Serialization?

[2018-04-20 18:31] krwq commented on #28921
cc: @huanwu @zhenlan

[2018-04-20 18:32] saurabh500 commented on #28921
I don't think there is much to simplify here. As you mentioned the call failed when `new XmlSerializer(typeof(SqlInt64));` is called.
Looks like there is a single hit of this failure, so repro may not be trivial.

[2018-04-20 18:36] joshfree commented on #26995
@karelz can we put this on the short list for 2.2 as part of finishing the brotli e2e?

Related https://github.com/aspnet/BasicMiddleware/issues/217

[2018-04-20 18:39] karelz commented on #26995
Sure why not. We didn't review issues for 2.2 yet. So anything in Future is potential 2.2 at this point.

[2018-04-20 18:54] lmolkova commented on #29207
@karelz can we put it into 2.2 scope? Or did I miss this train?

[2018-04-20 18:59] karelz commented on #29207
At this moment there is not much difference between 2.2 and Future. We didn't review/triage against 2.2 yet in the repo - see milestone description.

[2018-04-20 19:03] saurabh500 commented on #28921
It seems to me that there could be concurrent reads and writes to the Dictionary backing TempAssemblyCache causing this problem or NRE.
There is a static `s_cache` at `private static TempAssemblyCache s_cache = new TempAssemblyCache();` which is backed by a dictionary https://github.com/dotnet/corefx/blob/91a83313344bd96127dbc2c50723a930f93c33c5/src/System.Private.Xml/src/System/Xml/Serialization/

[2018-04-20 19:12] GrabYourPitchforks opened #29239 "Memory<T>.Slice doesn't preserve "this buffer is already pinned" flag"
See https://github.com/aspnet/KestrelHttpServer/issues/2510.

[2018-04-20 19:26] stephentoub commented on #28921
@saurabh500's analysis looks right to me.

[2018-04-20 19:33] ericstj opened #29242 "Post 2.1 RTM: update packageindex to account for 2.1 and harvest all locked reference assemblies"
/cc @weshaggard @joperezr

[2018-04-20 19:44] alexkeh commented on #28249
@ScotMac can answer that question better than I can.

[2018-04-20 19:44] jnm2 commented on #26995
I am very interested in an `All` member. Would you please review that possibility?

[2018-04-20 19:45] stephentoub commented on #26995
@jnm2, please open a separate issue.

[2018-04-20 19:48] brianrob commented on #28834
It looks like there is a 2.5 second CPU regression here that shows up in System.Private.CoreLib:
![image](https://user-images.githubusercontent.com/6210322/39070455-5ce9d716-4498-11e8-8059-39ef421fb844.png)

It looks like it stems from a dictionary lookup in ASP.NET routing.  There is more CPU time spent exclusively in these methods (the number on the far right is the exclusive CPU time in millise

[2018-04-20 19:54] jnm2 commented on #26995
Certainly! Sorry for missing the approval tag on this one.

[2018-04-20 19:56] sebastienros commented on #28834
Yes, I also found out about the Dictionary regression, and found some commits around that time. It makes totally sense as the Router is only used in MVC and a big client for dictionary lookups.

[2018-04-20 19:58] stephentoub commented on #28834
Was this regression only on Windows or also on Linux?

[2018-04-20 19:58] sebastienros commented on #28834
To be honest I don't know anyone that can correlate the commit numbers (that I got from the assemblies themselves) and what code is in it. It's due to how merges are done in corefx, no rebase/squash, and code copies. The git history is a maze ... it makes it very hard to get meaningful code diffs.

A simple way would be to decompile the two dlls I am testing, which I will do asap.

[2018-04-20 19:58] David-Engel commented on #29193
@brettkc The error simply indicates the instance specified in the connection string cannot be accessed or found. Are you sure you can access the host referenced in the SERVER value of your connection string from the machine you are running from? Are you escaping the backslash between the host name and the instance name in the SERVER value?

[2018-04-20 19:59] stephentoub commented on #28834
(I'm wondering if it may have been somehow caused by my changes in https://github.com/dotnet/coreclr/pull/17391.  Having the decompiled diff would be helpful.)

[2018-04-20 20:01] jnm2 opened #29243 "Add DecompressionMethods.All?"
The addition of `System.Net.DecompressionMethods.Brotli` was [recently approved](https://github.com/dotnet/corefx/issues/26995). I have been writing `DecompressionMethods.Deflate | DecompressionMethods.GZip` in my source automatically; since I don't want to exclude the possibility of Brotli, I'm going to be writing `DecompressionMethods.Deflate | DecompressionMethods.GZip | DecompressionMethods.Br

[2018-04-20 20:08] brettkc commented on #29193
@David-Engel Yes, I spent quite a bit of time completely bewildered. I just copied the controller verbatim in a .NET Framework 4.6.1 project and had no issues at all.

[2018-04-20 20:11] sebastienros commented on #28834
It's only visible on Windows

![image](https://user-images.githubusercontent.com/1165805/39071533-4c3a9eb0-449c-11e8-883b-fcb576ba6844.png)

[2018-04-20 20:16] benaadams commented on #29239
Hmm... think there is more missing here

[2018-04-20 20:27] pjanotti opened #29244 "Clean SSL error queue: X509 related functions"
This is a continuation of #25676 clean up, also related to #29188. Below is an assessment of the native functions from CryptoNative related to X509 (80 functions) and suggested actions.

- [x] CryptoNative_CheckX509Hostname => Relatively large native, likely leaving errors on queue
- [x] CryptoNative_CheckX509IpAddress => Relatively large native, likely leaving errors on queue
- [X] CryptoNative_D

[2018-04-20 20:28] stephentoub commented on #28834
Ah, thanks, definitely not https://github.com/dotnet/coreclr/pull/17391 then, as that wasn't merged until after the drop.  Maybe https://github.com/dotnet/coreclr/pull/16945; just speculating based on what Brian shared.

[2018-04-20 20:31] kasper3 commented on #29243
Does it mean the implementation will try all decompression methods on received data? Something else?

[2018-04-20 20:32] stephentoub commented on #28834
I shared Brian's question, though.  Both of the linked versions are depending on the exact same corelib package:
https://github.com/dotnet/corefx/blob/23165cee77ae4dd7a7645b7927872948bb27a73e/dependencies.props#L35-L36
https://github.com/dotnet/corefx/blob/8130620b542457ca4e72eb2bc81c3eae50192a33/dependencies.props#L35-L36

[2018-04-20 20:36] jnm2 commented on #29243
@kasper3 No, the client sends Accept-Encoding and looks at the response's Content-Encoding.

[2018-04-20 20:43] joshfree commented on #29032
adding 'tracking-external-issue' as SDK PR https://github.com/dotnet/sdk/pull/2118 will resolve this and there is no code changes required in the dotnet/corefx repo at this time.

@ahsonkhan once https://github.com/dotnet/sdk/pull/2118 is merged and a build is available, please verify and close.

[2018-04-20 20:44] ericstj commented on #29032
You will also need https://github.com/dotnet/corefx/pull/29241

[2018-04-20 20:48] stephentoub commented on #28834
I think it's very likely it's due to https://github.com/dotnet/coreclr/pull/16945.  Trying to repro now...

[2018-04-20 20:52] benaadams commented on #29239
https://github.com/dotnet/coreclr/pull/17708

[2018-04-20 20:54] evollu opened #29245 "TimeZoneInfo.ConvertTimeFromUtc makes ToUnixTimeMilliseconds wrong in linux"
[code]

the 3rd line generates different value than the previous 2 in linux

[2018-04-20 20:56] brianrob commented on #28834
Dug into the trace a bit more and also spoke with @stephentoub.  Here are some more stacks that help point at the difference.

Regressed Case:
![image](https://user-images.githubusercontent.com/6210322/39073355-5547ed54-44a2-11e8-9c48-5be3461902be.png)

Baseline Case:
![image](https://user-images.githubusercontent.com/6210322/39073371-65f015b4-44a2-11e8-99f2-ce5e05ad75a8.png)

A good chunk of the

[2018-04-20 20:57] ScotMac commented on #28249
Hi, we are currently using rsa libraries to write the record, as part of
the config setup (ie not a runtime operation). We need the .NET Core api
for the runtime read only for our fully Managed DB Client.

Thanks Scot

On Apr 20, 2018 12:23 PM, "cocowalla" <notifications@github.com> wrote:

[2018-04-20 20:57] kasper3 commented on #29224
Replied to that thread. Thanks @jkotas !

[2018-04-20 21:48] ahsonkhan commented on #28920
Fixed in https://github.com/dotnet/corefx/pull/29216

[2018-04-20 21:48] #28920 closed

[2018-04-20 21:49] CarolEidt opened #29247 "Intel HW Intrinsics classes should use inheritance"
A good portion of X86 ISAs all follow a hierarchy of support.  If `SSE2` is supported, then implicitly `SSE` is supported.  Similarly, if `AVX2` is supported, then `AVX` is supported as well.

We should design our HW Intrinsics classes in a similar fashion.  This allows for simplicity in coding calling functions from 2 (or more) instruction sets:

[code]

This means we should have our classes inhe

[2018-04-20 21:50] CarolEidt commented on #29247
cc @eerhardt  @fiigii @mikedn @4creators @tannergooding

[2018-04-20 21:54] ahsonkhan opened #29248 "Upgrade mirror to Run for multiple branches (Release and Master branches)"
We have noticed there are several commits missing in the coreclr release/2.1 branch that exists in corefx release/2.1 branch.

This means the mirror is not running on the release/2.1 branch and only runs on master.

This could lead to unexpected bugs in the product. For example, this PR just got opened for master, but corefx/2.1 and coreclr/2.1 are out of sync: https://github.com/dotnet/coreclr/pu

[2018-04-20 21:54] YetaWF commented on #23686
While closed, this issue is really not fixed. To/FromXmlString don't work. At least be honest about it and remove them altogether. Or is there a platform where they work?

[2018-04-20 21:57] tannergooding commented on #29247
Copying my response from the mentioned thread...

The original reasons for splitting this, as I recall, were:
* It makes the API consistent with the underlying ISA
* It sets a precedent that we should mirror the underlying ISA regardless of what a given runtime supports
* The API is part of CoreFX, not part of CoreCLR. CoreCLR only provides an implementation of the API.
  * Another runtime could,

[2018-04-20 21:58] bartonjs commented on #23686
@YetaWF They are defined in .NET Core because they are defined by .NET Standard.

They don't work on any .NET Core platform, because .NET Core doesn't have `mscorlib.dll`, the one library which contained cryptography, XML, and networking all together.

[2018-04-20 21:59] safern commented on #29248
The mirror's code will need to be updated to be able to specify branches we want to mirror across repos and then the mirror will have to listen to all branches that it has in the settings file to update them if needed. Shouldn't be hard, but it is still a code change. Currently I don't have bandwidth to do it, but maybe @Anipik could do it.

[2018-04-20 21:59] safern commented on #29248
cc: @danmosemsft

[2018-04-20 22:01] tarekgh commented on #28834
CC @ViktorHofer @danmosemsft

[2018-04-20 22:14] EgorBo commented on #29245
What do you mean by "different"?
by a small value (cost of ConvertTimeFromUtc+FindSystemTimeZoneById) or a large one (wrong timezone)?

[2018-04-20 22:17] evollu commented on #29245
Wrong time zone

[2018-04-20 22:27] ericstj opened #29249 "Remove workaround in package testing"
See https://github.com/dotnet/corefx/pull/29241#issuecomment-383237638

We're walking the closure of packages that build on top of netcoreapp2.1.  Those build using live references but the current package testing infrastructure tests against an LKG framework package.  As a result when we bump reference versions every package will see a break until we get an updated LKG with the new reference assem

[2018-04-20 22:28] fiigii commented on #29247
Actually, I do not think this is a problem. The codegen of helper intrinsic does not need to be constrained to ISAs. `Sse2.SetZeroVector128<float>` can generate any code to provide a "zero vector". Similarly, `Sse2.SetAllVector128` also can be generic to support the full range of generic types in SSE2.

[2018-04-20 22:31] welkie commented on #26966
@instalab Was wondering if you could help me with those PKGBUILD files. They worked on one of my PCs but not the other. On the problem PC, I can install the dotnet-sdk but not the dotnet-runtime. I get the following message:

[code]

Do you think waiting for the package to be updated in Arch's package manager would be better?

[2018-04-20 22:47] tannergooding commented on #29247
It may be worth noting that other languages/runtimes that are also bringing up HWIntrinsic support are also keeping the ISAs separated.

For example:
* Rust: https://github.com/rust-lang/rfcs/blob/master/text/2325-stable-simd.md#the-target_feature-attribute

[2018-04-20 22:53] #29239 closed

[2018-04-20 22:53] AlexRadch opened #29250 "Coudn't build System.Memory for netfx TargetGroup"
Next command `msbuild /t:Build /p:ConfigurationGroup=Debug /p:TargetGroup=netfx` return next errors in log:
[code]

There is no error for `uap` and `netcoreapp` TargetGroup  only for `netfx`.

Also build from root is successful `build -framework=netfx`

[2018-04-20 23:07] YetaWF commented on #23686
mscorlib.dll

[2018-04-20 23:10] David-Engel commented on #29193
@brettkc I've not been able to reproduce the issue. Can you add the output from `dotnet --info` to make sure we try using the same versions?

[2018-04-20 23:12] bartonjs commented on #23686
To/FromXmlString requires XML.  XML requires networking (because of legacy DTD support).  Networking requires X509Certificates (because of SslStream).  X509Certificates requires the crypto algorithms classes.

There's a circular dependency there.  The link in the circle that we decided to break was To/FromXmlString.

[2018-04-20 23:13] 4creators commented on #29247
It was main argument behind design of HW APIs. We have done split based on hardware support detection to give fine grained control over implementation.

I do not think it is true as after some additional data checks I have verified that latest Celeron N, Pentium N and Atom C series processors like:

https://ark.intel.com/products/95592/Intel-Pentium-Processor-N4200-2M-Cache-up-to-2_5-GHz or
https:

[2018-04-20 23:15] YetaWF commented on #23686
Dude, I read the whole thread. Yet, the solution is as simple as a cut/paste

[2018-04-20 23:17] fiigii commented on #29247
No, I am pretty that Goldmont architure has SSE -SSE4.2 instructions.

[2018-04-20 23:18] ericstj opened #29253 "Cannot use System.ServiceModel.Syndication and System.Service model in same net4 project"
We're building a reference assembly instead of a facade.

/cc @mconnew

[2018-04-20 23:24] stakx opened #29254 "System.Reflection.Emit: ILGenerator.Emit(OpCodes.Ldtoken, <MethodInfo>) produces incorrect metadata for methods with C# 7.2 `in` parameters in generic types"
@TAGC recently noted in https://github.com/castleproject/Core/issues/339#issuecomment-372605885 that DynamicProxy-based mocking libraries (e.g. Moq, NSubstitute) appear to have problems mocking the following generic interface:

Mocking such a type will typically result in a `MissingMethodException`. It only seems to occur with generic types, and in the presence of a C# 7.2 `in` parameter modifier.

[2018-04-20 23:25] 4creators commented on #29247
Can you point us into any docs confirming SIMD support in Atom.

Another problem is with Celeron N and Pentium N which are also known for lack of SIMD support.

[2018-04-20 23:42] fiigii commented on #29247
Please look for the docs of micro-architecture instead of processor product. For example, the newest ATOM/Celeron/Pentium should base on the architecture code-named _Goldmont_ or _Goldmont Plus_.

[2018-04-21 01:38] ahsonkhan commented on #29032
@ericstj, that is the release/2.1 PR. Do you have a PR for master?

[2018-04-21 01:47] karelz commented on #29188
It was rejected by shiproom for 2.1 RC1. Let's get it into 2.2, we will have it ready if needed.

[2018-04-21 02:03] morganbr opened #29258 "API Proposal: RuntimeFeature.HasJit and RuntimeFeature.CanEmitCode"
# Rationale
The most efficient patterns for reflection depend on the current runtime. On .NET Core, ```System.Reflection.
Emit``` or LINQ Expressions are usually most efficient because the JIT compiles them at runtime. However, for .NET Native, CoreRT, (and I believe Mono AoT), ```System.Reflection.Emit``` isn't available and LINQ Expressions are interpreted. Mono has progress on an interpreter th

[2018-04-21 02:43] #29188 closed

[2018-04-21 03:33] marek-safar commented on #28892
@stephentoub you can find the code under https://github.com/mono/mono/tree/master/mcs/class/System/Mono.Net.Dns the main entry point is SimpleResolver.cs. It's an opt-in feature enabled via an environment variable called `MONO_DNS`. Looking at the history you can see we didn't touch it much recently ;-)

[2018-04-21 03:52] jkotas opened #29260 "About 40% regression or the XmlDocument performance test Create()"
_From @maryamariyan on April 21, 2018 1:43_

The Regression for the XmlDocument performance test [Create()](https://github.com/dotnet/corefx/blob/697e2b910e6cccbc1f3d58be111e309db4823ab7/src/System.Private.Xml/tests/XmlDocument/Performance/Perf.XmlDocument.cs#L16) is illustrated in the chart below.

<img width="1062" alt="screen shot 2018-04-20 at 6 03 33 pm" src="https://user-images.githubusercon

[2018-04-21 03:52] jkotas commented on #29260
_From @RussKeldorph on April 21, 2018 3:48_

@maryamariyan Can you clarify why this was opened in coreclr instead of corefx?

[2018-04-21 04:46] danmosemsft commented on #29226
@MarcoRossignoli any interest? Not very exciting though..

[2018-04-21 05:13] maryamariyan commented on #29260
_From @maryamariyan on April 21, 2018 5:08_

@RussKeldorph please accept my sincerest apology here. This was meant to be created for corefx.

I copied the template from another issue I had opened earlier by right clicking on the "new issue" button (creating the issue in that repo), not noticing the original was already in coreclr.

I was paying much attention to the content of the issue that I mis

[2018-04-21 06:53] tmds commented on #27249
@markmcdowell seen any zombies lately? 😄

[2018-04-21 07:11] MarcoRossignoli commented on #29226
@danmosemsft i'm working on a pair of issue, after that if nobody grab this i'll work on it, not very exciting ok but i'm here to help...life’s not always a bowl of cherries(in Italy we say "is not always sunday"  :smile:). One question(useful to all), is there a style guide for double or single quotation marks for args?I prefer single.

[2018-04-21 07:12] hazama-yuinyan commented on #29122
I'm trying to actually debug my custom program(I mean the one written in my own programming language) in VS Code because it's the goal and I think it's the easiest way to see if it works. Although I realized that I can debug it in Visual Studio on Windows, I don't know whether it works on Mac as well.

[2018-04-21 07:52] MarcoRossignoli commented on #28238
@ahsonkhan  what does "S.M.T." stand for?

[2018-04-21 07:52] gfoidl commented on #29247
`SseX`?

For usage it is way more convenient to have these merged to one class.

[2018-04-21 07:55] MarcoRossignoli commented on #28238
This will likely result in some code duplication.

Do you mean create StringTests.Span.cs under src\Common\tests\Tests\System and add reference to System.Memory.Tests. and System.Runtime.Tests?

[2018-04-21 08:33] realvictorprm commented on #23969
So with the referenced code it's possible to open a folder x-platform?

[2018-04-21 12:07] stakx commented on #29254
(It appears that System.Reflection.Emit is actually implemented over in dotnet/coreclr, so perhaps I should've raised the issue there instead?)

I'm guessing at this point, but I could imagine that something goes wrong [in `COMModule::GetMemberRefOfMethodInfo`](https://github.com/dotnet/coreclr/blob/7483502dfb4f49e4077f5492aa3f0f7a0748b9fc/src/vm/commodule.cpp#L478)&mdash;more specifically, in [th

[2018-04-21 13:37] danmosemsft commented on #29226
@MarcoRossignoli sounds good. I think single quotes...

[2018-04-21 13:45] danmosemsft commented on #23969
@realvictorprm should be, try it out?

[2018-04-21 14:45] Scellow commented on #13329
This is just horrible i wonder why this was approved during design process, want to distribute your application to one of your client, then good luck to him to find what to open:
![image](https://user-images.githubusercontent.com/27389256/39085456-bf45509e-4582-11e8-9cfe-4c6cbf8330ec.png)

This is just ugly and a complete mess

runtime/
MyProgram.exe
MyLib.dll

This would have been a way better id

[2018-04-21 14:52] ericstj commented on #29032
Not yet as it conflicts with versioning effort in master.  The issue remains open and I’ve mentioned what’s needed in master.

[2018-04-21 14:58] kasper3 commented on #29247
No thanks 😀

To keep the both worlds happy, can we have `class SseX` in addition to those for separate ISAs?

[2018-04-21 15:11] jkotas commented on #29258
We have duplicate issues of this:

https://github.com/dotnet/corefx/issues/13535
https://github.com/dotnet/corefx/issues/25530

The preferred design for API availability checks in earlier discussions was to just add static `IsSupported` property to the API, like `AssemblyBuilder.IsSupported` or `DynamicMethod.IsSupported`. This pattern  scalles well to 3rd party APIs.

`RuntimeFeature.HasJit` make

[2018-04-21 15:45] #29019 closed

[2018-04-21 16:41] karelz commented on #13535
Duplicate of #29258

[2018-04-21 16:41] #13535 closed

[2018-04-21 16:43] karelz commented on #29245
@evollu can you post example of actual vs. expected results?

[2018-04-21 17:21] AlexRadch opened #29264 "Build for netfx does not run tests if tests source files was not changed"
To run `netfx` tests for `System.Memory` library I use next command `..\..\build . -framework:netfx` in `src\System.Memory ` folder.

If source files for tests are not changed than this command does not start tests. It only build library.
To run tests I should change some source file in `src\System.Memory\tests` folder.

If run `build` command without  `-framework:netfx` option it will run tests a

[2018-04-21 17:38] karelz commented on #29143
I am able to reproduce the problem with .NET Core 2.0 - the application does not need to set copy local false, or change its output (to minimize the repro). Either change library output directory, or just copy the output somewhere else - the project system won't find the library project and therefore won't generate necessary entries in app.deps.json file. It may be even by design.

app.deps.json w

[2018-04-21 17:40] karelz commented on #29143
This issue was moved to dotnet/project-system#3487

[2018-04-21 17:40] #29143 closed

[2018-04-21 18:06] ngbrown opened #29265 "System.Diagnostics.Activity does not use Correlation-Context: Id in GetRootId"
While `Activity` is implementing the hierarchical request id spec, in the case of a mixed hierarchical and non-hierarchical scenario, if the parent service only supports the flat request id, but it sets the `Correlation-Context: Id` header, then that `Id` should have made it into the baggage and would be available to pull from.

I think `Activity.RootId` should also check the baggage keys in addit

[2018-04-21 18:26] brettkc commented on #29193
@David-Engel update issue with output.

[2018-04-21 20:09] eddiedozier commented on #28652
Thanks for the fix guys!

[2018-04-21 21:05] janvorli commented on #24046
Fixed by #27208

[2018-04-21 21:05] #24046 closed

[2018-04-21 21:24] ahsonkhan commented on #29264
To build just System.Memory, run the following from the src directory:

Run the following from the System.Memory tests directory to run the tests:

[2018-04-21 21:27] roji commented on #28769
@GSPP what are the datatypes of `myCol1`, `myCol2` in your code sample? If they're `object` you're boxing all value types coming from the database, right? Otherwise there needs to be some sort of generic API which I'm not seeing in your sample - it would be good to understand exactly what you have in mind.

More generally, there's the question here of the extent to which we want to start including

[2018-04-21 21:28] ahsonkhan opened #29266 "Reflection.Emit.ILGeneration.Tests test fails in CI for OSX"
From https://github.com/dotnet/corefx/pull/29259
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b2c471b57bdf01d46ed9c2855b460880d2fc1c12/workItem/System.Reflection.Emit.ILGeneration.Tests/wilogs
OSX.1012.Amd64.Open-x64:Debug
 System.Reflection.Emit.ILGeneration.Tests
[code]

[2018-04-21 22:04] ahsonkhan commented on #29266
Again:
OSX.1013.Amd64.Open-x64:Debug
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b2c471b57bdf01d46ed9c2855b460880d2fc1c12/workItem/System.Reflection.Emit.ILGeneration.Tests/wilogs
[code]

[2018-04-21 22:33] ahsonkhan commented on #28968
Ubuntu this time.

https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b2c471b57bdf01d46ed9c2855b460880d2fc1c12/workItem/System.Threading.Channels.Tests/wilogs
Ubuntu.1404.Amd64.Open-x64:Release
[code]

[2018-04-21 22:45] evollu commented on #29245
here is the program
[code]
expected result: very similar unix time stamp
[code]
actual result: the last one time stamp is off. This only happens to linux (mine is 16.04). it works fine for windows and mac
[code]

[2018-04-21 22:55] stephentoub commented on #28834
This was due to the change to OrdinalIgnoreCase to add in necessary functionality. While that change did decrease perf build-over-build, even with the impact of that one change, .NET Core 2.1’s OrdinalIgnoreCase is still 4-5x faster than it was in .NET Core 2.0 (other changes after this also helped). Closing as by design.

[2018-04-21 22:55] #28834 closed

[2018-04-22 02:13] stephentoub commented on #29264
Or if you don't want to rebuild, use /p:ForceRunTests=true

[2018-04-22 02:13] #29264 closed

[2018-04-22 02:14] yzrmn opened #29269 "SystemColors values wrong"
Hi guys,

I noticed that the values of SystemColors are wrong in 2.0, so I checked with 2.1 and they were alright.
It looks like SystemColors is exposed in different places for 2.0/2.1 and I don't get where things go wrong.

### NET Core 2.0
[code]

### NET Core 2.1 (Preview)
[code]

[2018-04-22 02:28] yzrmn commented on #29269
### Additional info

[code]

[2018-04-22 03:04] danmosemsft commented on #29245
@tarekgh

[2018-04-22 03:05] Petermarcu commented on #28961
@danmosemsft @karelz . This is a place where we should make sure the error about missing dependencies is better so people know what to do when this happens.

[2018-04-22 03:36] AlexRadch commented on #29264
As I wrote here https://github.com/dotnet/corefx/issues/29250 I can not use `msbuild` for `netfx`

[2018-04-22 03:40] AlexRadch commented on #29264
`/p:ForceRunTests=true` is option for `msbuild` but I can not use this command for `netfx` see https://github.com/dotnet/corefx/issues/29250

Why `..\..\build .` run test but `..\..\build . -framework:netfx` doesn't?

How can I reopen this issue?

[2018-04-22 04:30] stephentoub commented on #29264
msbuild works fine for targeting netfx. If it doesn't for you, that's the issue to understand and address, and it sounds like #29250 covers that, so we don't also need this issue.

[2018-04-22 04:36] AlexRadch commented on #29264
Why `..\..\build .` run tests but `..\..\build . -framework:netfx` doesn't?

[2018-04-22 04:39] jkotas opened #29270 "Dumpling documentation points to empty website"
https://github.com/dotnet/corefx/blob/master/Documentation/debugging/crash-dumps.md has link to https://dumpling.azurewebsites.net/ . This is a empty website.

What is the up to date way to get dumpling crash dumps for corefx?

[2018-04-22 06:11] jkotas commented on #29266
This was likely introduced by https://github.com/dotnet/coreclr/pull/17659

There are more places that have the special casing for the lowest bit that do not work as expected now:

- https://github.com/dotnet/coreclr/blob/master/src/vm/frames.h#L2960
- https://github.com/dotnet/coreclr/blob/master/src/vm/stubhelpers.cpp#L1170

cc @sdmaclea

[2018-04-22 08:29] cyberphone opened #29271 "DataContractJsonSerializer: I-JSON Option Request"
Related: https://github.com/javaee/jsonb-spec/issues/80

[2018-04-22 11:53] yfzhn commented on #28030
private readonly BlockingCollection<T> _blockingCollection;
this._blockingCollection = new BlockingCollection<T>(new ConcurrentQueue<T>(), 10);
this bug maybe in ConcurrentQueue<T>

[2018-04-22 11:59] PeterHag commented on #18964
@Carq
Tried your suggestion and indeed it works because it now creates 2 versions.
I agree with Zhenlan that there is still a lot of work to be done. But at least now I can target .NET Standard 2.0 to ensure my API stays clean.
Thanks for the help guys, really appreciate it!

[2018-04-22 13:27] svick commented on #29245
As far as I can tell, this behaves as documented.

To make it easier to see what's going on, consider this code:

[code]

On my machine (in the CET/UTC+1 time zone), this prints:

[code]

Let's go though the lines in the output one by one:

1. `date` is some date with `DateTimeKind.Utc` (to emulate `DateTime.UtcNow`)
2. the correct Unix time
3. `ConvertTimeFromUtc` returns a date with `DateTimeKin

[2018-04-22 14:27] evollu commented on #29245
Update:
It turns out the issue shows up when it converts to timezone other than local timezone or UTC.

for example:
My mac system is new york timezone so when the program converts time to new york time it keeps timezone (perhaps convert it to Local?). When I try to convert it to America/Los_Angeles, I see timezone info get lost and `ToUnixTimeMilliseconds()` returns wrong result.

just like @svic

[2018-04-22 14:29] GSPP commented on #28769
@roji I know that I have not explained it very well. I'll harder:

Let's assume ADO.NET has an internal class `TdsReader` that has a method `ReadInt32` that behaves essentially like `BinaryReader.ReadInt32()`. Then, ADO.NET would create the expression tree `instanceOfTdsReader.ReadInt32()` and pass this tree as `myCol1`.

Then, application code can use this incoming expression tree to obtain the v

[2018-04-22 15:08] danmosemsft commented on #29270
@jkotas there should be a URL in the console output that you can pull. However I tried this on Friday and it did not work either.

[2018-04-22 15:08] danmosemsft commented on #29270
@DrewScoggins

[2018-04-22 15:47] yzrmn commented on #21803
I already put some work into this: https://github.com/yzrmn/System.CoreFX.Forms
Contributions would be very welcome!

[2018-04-22 20:26] MarcoRossignoli commented on #29226
@danmosemsft assign this to me if you like, i'm in the middle of a changes.

[2018-04-22 20:47] roji commented on #28769
@GSPP thanks for the details. OK, so you're proposing that ADO.NET providers expose an expression tree for reading an int, alongside the current *method* which reads an int. This fragment would then be combined by the user to a larger expression tree, typically reading an entire row (by combining column reading fragments), and compiled. Is that a fair description?

It's clear that this indeed woul

[2018-04-22 21:03] Anipik opened #29273 "Add FileSystem.Watcher.FilterList Property"
# Rationale
Currently there is no support for using multiple regex filters to monitor the file system using FileSystemWatcher Class. eg. If we want to monitor files with two extensions (.dll and .pdb), we wont be able to directly to due it.

There are 2 ways to work around this issue but non of them is optimal.

1. Create an instance of fileSystemWatcher class and listen to all the files using ```

[2018-04-22 21:14] jnm2 commented on #28769
Yes, very fair. My interest is in `IAsyncEnumerable<>`. For my own uses I'd want `T` to be able to be:
 - a column type (primitive type, DateTime, string, Decimal, enum)
 - an immutable user-defined struct or class

This would require ADO.NET to call user-defined constructors to pass in the primitive column values.

ℹ As a cool side benefit, I'd be able to use user-defined domain primitives for si

[2018-04-22 21:26] jnm2 commented on #28769
If you don't want IAsyncEnumerable, I'd also be interested in `reader.ReadRows<T>`. This can be generalized in the same way. Rather than filling an array element per row, ADO.NET would call an action per row and leave all the decisions to the user delegate (whether to allocate, how to instantiate, etc):

[code]

A user like me could easily wrap an `IAsyncEnumerable` API around this with `min: 1, m

[2018-04-22 21:53] danmosemsft commented on #29273
What is the advantage of Collection<string> over List<string> here? It is just a simple wrapper for the latter.

[2018-04-22 21:54] #28747 closed

[2018-04-22 21:58] danmosemsft commented on #29226
Ideally We'd have a little python or powershell script that would generate this list. Such that after your change it would produce zero results. And we could occasionally rerun it.

[2018-04-23 00:41] Anipik commented on #29273
@danmosemsft I am overriding ```InsertItem``` and ```SetItem``` to always convert "*.*" to "*" while adding to FilterList

[2018-04-23 01:25] rslangham commented on #24480
Slight different scenario, but still worth mentioning.  When connecting to a Windows SQL Server from an Linux .NET Core client,  compared to Windows  .NET 4.5 and Windows .NET Core clients,  the Linux was about 100 times slower for a specific sproc call that I was benchmarking.    On Windows it was taking around 50ms  and on Linux it was taking 5000 seconds,  these are values seen on the SQL serve

[2018-04-23 01:37] MohammadHamdyGhanem opened #29274 "Add FileLogTraceListener, Log and Asp​Log classes to .Net Core"
FileLogTraceListener class is available in .net framework in the Microsoft.VisualBasic.Logging namespace. It has some useful features that are not available in other TraceListeners, as descried here:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualbasic.logging.filelogtracelistener?view=netframework-4.7.2

This class is not available in .Net Core, so I suggest you add it and make it av

[2018-04-23 02:46] danmosemsft commented on #29273
Ah...I missed that on my small screen.

[2018-04-23 03:00] scovetta opened #29275 "FileSecurity fails accessing file with path >= 260 characters"
Under .NET Core 2.1.104 (Windows 10 / 64-bit), [FileSecurity](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/FileSecurity.cs#L606) fails to read permissions from file that have a path length exceeding 259 characters.

Stack trace snippet:
[code]
[Sample code demostrating this](https://gist.github.com/scovetta/01a6bca7881d3772a2

[2018-04-23 03:09] stephentoub commented on #29275
cc: @JeremyKuhne

[2018-04-23 05:16] AlexRadch opened #29277 "How to run System.Memory performance tests for netfx TargetGroup"
I added performance test for Span.IndexOf with comparisonType parameter. See https://github.com/dotnet/corefx/pull/29263 PR.

I want to run them for netfx TargetGroup but next command `msbuild /t:BuildAndTest /p:Performance=true /p:ConfigurationGroup=Release /p:TargetOS=Windows_NT /p:TargetGroup=netfx` doesn't run performance tests for netfx TargetGroup.

I need run them for netfx TargetGroup beca

[2018-04-23 07:36] maincoon commented on #29236
2.0 has same HttpListener.Stop() and ClientWebSocket.Close()/State behaviour. After HttpListener.Stop() call:

[code]

After ClientWebSocket.State == Open and ClientWebSocket.Close() call:

[code]

[2018-04-23 07:50] Sunny-pu opened #29278 "Test System.Net.Security.Tests.SslStreamSniTest.SslStream_ServerCallbackNotSet_UsesLocalCertificateSelection(hostName: \"a\") failed with "System.ComponentModel.Win32Exception""
Test: System.Net.Security.Tests.SslStreamSniTest.SslStream_ServerCallbackNotSet_UsesLocalCertificateSelection(hostName: \"a\") (from (empty)) has failed.

MESSAGE:
System.ComponentModel.Win32Exception : The client and server cannot communicate, because they do not possess a common algorithm
[code]
Details:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/474/test

[2018-04-23 08:19] JJoe2 opened #29279 "configSource with relative path does not work on Linux"
I am using System.Configuration.ConfigurationManager 4.4.1 and have a configuration file which references external files as follows:

[code]

I've tried running the application on both Windows and in a Linux docker container, and observed the following behavior.

1. On Windows, both external files are read successfully.
2. In a Linux docker container, the external appSettings file is read successf

[2018-04-23 11:12] JJoe2 commented on #29279
The internal helper class `UrlPath` has code that looks suspicious for non-Windows, e.g.
- IsDirectorySeparatorChar uses hardwired / and \ rather than Path.DirectorySeparatorChar and Path.AltDirectorySeparatorChar.
- IsAbsoluteLocalPhysicalPath expects a drive letter for an absolute path (second character = ":")
- IsEqualOrSubdirectory uses hardwired \ as directory separator
- IsEqualOrSubpathImpl

[2018-04-23 13:26] stephentoub commented on #29260
It ignores warmup costs appropriately.

That's very unlikely. The XmlDocument ctor is adding more than a dozen strings to the name table, such that each is hashed. That slower hashing is almost certainly the cause, though you could easily test to see.

The values added to the table are constants. This could be addressed by simply adding an Add internal overload that takes the hash code as an argum

[2018-04-23 13:59] davidsh commented on #29278
Duplicate of #23341 issue.

[2018-04-23 13:59] #29278 closed

[2018-04-23 14:58] sdmaclea commented on #29266
I think the quickest/safest fix for this would be to revert the amd64 part of dotnet/coreclr#17659

[2018-04-23 15:28] davidsh commented on #29087
I'm not sure what you mean here.  Yes, we should be resilient in general to errors. But we can't, for example, downgrade the authentication mechanism because of an error with a stronger mechanism.  For example, in HTTP auth scenarios (.NET Framework, .NET Core) with any of our handler, if Negotiate authentication fails for some reason, we don't try to use another, less secure, mechanism like Diges

[2018-04-23 15:42] karelz commented on #29271
@cyberphone what is the bug / feature ask? Can you please describe it?

[2018-04-23 15:51] cyberphone commented on #29271
@karelz Sure, I-JSON (https://tools.ietf.org/html/rfc7493) is a scheme which uses the part of JSON supported by ECMAScript where the treatment of the JSON Number is the most important one.  The purpose is simply to be able to interop with other JSON implementations.  As can be seen in the Java bug report, Oracle indeed have an I-JSON option, but unfortunately it doesn't work.

Serialization of a l

[2018-04-23 17:37] lmolkova commented on #29265
@ngbrown
Activity itself does not deal with HTTP headers. It only implements hierarchical Id generation.
The layer responsible for it is Asp.Net/Asp.Net Core (e.g. [here](https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/Internal/HostingApplicationDiagnostics.cs#L64)).

Is there some scenario that missing flat/hierarchical interop prevents?
To the best of my knowledge, th

[2018-04-23 17:37] JJoe2 commented on #29279
I suspect a fix for this could be to remove the check in `ClientConfigurationSystem.EnsureInit` that checks if configSource contains a forward slash character (or replace it by a proper check for a relative path).

Then we could use / as a separator in configSource, which should work on both Windows as Linux.

[2018-04-23 17:42] StephenBonikowsky commented on #29253
Adding @mconnew @huanwu who work on S.SM.Syndication

[2018-04-23 17:56] ericstj commented on #29253
We need to address this before release.  As it is now the types defined in this assembly don't unify with those in desktop and if I fix the package to make it unify you have test failures.  (see linked PR).

[2018-04-23 18:35] JeremyKuhne commented on #29275
@scovetta, do you have any interest in fixing this? If not, I can put it up for grabs.  We should do this, and we have an established pattern:

https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/Windows/kernel32/Interop.GetFileAttributesEx.cs

[2018-04-23 18:47] JeremyKuhne commented on #29273
@Anipik

1. Can you put the API in the namespace & class for context?
2. Can you please give some sample usage code?
3. Can you also describe what happens when you set `Filter`? Does it set the collection size to 1? Does it just set the first element?
4. What happens if you set `Filters` to null or empty?
5. What do we do if an element in `Filters` is null or empty? If we match everything, can/sho

[2018-04-23 18:52] Anipik commented on #29273
I will update the proposal soon

[2018-04-23 19:41] ViktorHofer commented on #27124
This is my private branch with the ongoing Spanification work: https://github.com/ViktorHofer/corefx/pull/1

I don't think that a lot of time is really spent in EnsureStorage as the runner with its buffer is cached across its Regex instance. Only the first time when the buffer is empty or when the buffer is too small the `DoubleStack` and `DoubleTrack` helpers will be called. Its definitely proble

[2018-04-23 20:17] stephentoub opened #29285 "Socket.ConnectAsync with an IPAddress and a failed connection leaves a Socket for finalization"
The static Socket.ConnectAsync method creates one or more Sockets to use to establish the connection, and that Socket is then returned when the connection is made successfully.  When the connection fails, it's supposed to Dispose of the created Socket(s).  But it's failing to do so when something other than a DnsEndPoint is supplied, hitting this code path:
https://github.com/dotnet/corefx/blob/4f

[2018-04-23 20:26] Jodacola commented on #29285
Following up on tests from the SignalR issue:

Still leaking with the forced GC.  Tests ran:
1. localhost without GC, **no** leaking (described at https://github.com/aspnet/SignalR/issues/2124#issuecomment-383704304)
1. With 127.0.0.1 without GC (to verify after previous test), leaking
1. With 127.0.0.1 **with** GC, leaking
1. With 127.0.0.1 **with** GC (second test with full clean and rebuild), l

[2018-04-23 20:29] krwq commented on #25128
cc: @terrajobst

[2018-04-23 20:31] stephentoub commented on #29285
Thanks, @Jodacola.  re: GC, I'm very surprised by that. I suspect some locals are having their lifetime extended and preventing the GC.Collect from having the desired affect.  Is your test debug or release?

[2018-04-23 20:34] amitgpta commented on #5501
@corivera i have downloaded 2.1.0 but still not able to see SqlCommandBuilder class, can you please provide some update?

or is there any alternative to this

[2018-04-23 20:35] JeremyKuhne opened #29288 "FileSystemWatcher does not need to allocate strings until they pass the filter"
This change was already done for Windows: https://github.com/dotnet/corefx/commit/11a12e6538a0a024c3adfb944c3983c0d66c3768

The Unix/MacOS implementations can do the same sort of optimization by converting the UTF-8 bytes into a temporary buffer that is passed to the filter method before converting to string.

[2018-04-23 20:52] JeremyKuhne opened #29290 "Add UTF-8 match algorithm for FileSystemName?"
A UTF-8 implementation of [`FileSystemName.MatchesSimpleExpression`](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemName.cs#L95) would allow matching Unix/Mac data without having to first convert to UTF-16. Something like this perhaps:

[code]

This could potentially improve performance. We currently convert from UTF-8 into a temporary UTF

[2018-04-23 21:11] morganbr commented on #29258
The IsSupported pattern would make this proposal look like this (with an IsSupported method for all entrypoint classes for reflection emit). What do folks think?

[code]

[2018-04-23 21:32] jkotas commented on #29258
LGTM.

I am not sure whether we need `CustomAttributeBuilder.IsSupported`. Can `CustomAttributeBuilder` be ever meaningfully used without `AssemblyBuilder`?

[2018-04-23 21:42] morganbr commented on #29258
We could probably do without ```CustomAttributeBuilder.IsSupported```. On closer inspection, the only thing it does by itself is build a binary representation of the custom attribute. While it's not in CoreRT right now, it could be as long as we drop the internal methods used by other parts of reflection emit.

After a bit of digging, we could potentially need more IsSupported APIs to cover downst

[2018-04-23 21:46] morganbr commented on #29258
CC @davidfowl, who could hopefully use this in ASP.NET.

[2018-04-23 22:06] jkotas commented on #29258
Yes, I think having a property like `bool Regex.IsCompiledSupported` would make sense.

[2018-04-23 22:49] mark-cordell commented on #28841
People who use client certificates will likely use different certificates when calling different hosts. Perhaps some will use different client certificates when calling different APIs on the same host. A large server app is likely making multiple kinds of requests to multiple hosts in parallel as part of its processing. Creating new WinHttpHandlers per unique ClientCertificate/ServerCertificateVal

[2018-04-23 22:49] Anipik commented on #29273
It just sets the first element

we can not set it ```null``` as it will be just ```ReadOnlyProperty```. We can although empty the collection using ```clear() or RemoveAt```. We can avoid that by overridding ```RemoveItem ``` function in such a way that we never have empty collection.

We never have a ```null or empty element``` in the collection. We always replace it with ```*``` while adding to t

[2018-04-23 22:51] tarekgh commented on #28878
I am hitting similar failures in the CI
https://mc.dot.net/#/user/tarekgh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/396ab5ae1dd74aad93198b002de4f22da1a42d0a/workItem/System.Diagnostics.PerformanceCounter.Tests

[2018-04-23 22:52] blowdart commented on #28841
Consider this like basic auth. You wouldn't share basic auth credentials across multiple servers, it'd be cached on a per server endpoint or set on a per request basic. Client certs would be the same. As would any type of authorization header.

[2018-04-23 22:54] bartonjs commented on #29244
Things that were pending that I checked off with no code change:

* CryptoNative_CheckX509Hostname
  * Doesn't interact with any functions which modify the error queue
* CryptoNative_CheckX509IpAddress
  * Doesn't interact with any functions which modify the error queue
* CryptoNative_GetX509CrlNextUpdate
  * Field reference, no errors.
* CryptoNative_GetX509NameEntry
  * STACK_OF function, no err

[2018-04-23 22:56] Jodacola commented on #29285
Haven't yet had an opportunity.  Day job firefighting. 😄

Will try as soon as I can.  Also, was running debug for the aforementioned tests.

[2018-04-23 22:58] JeremyKuhne commented on #29273
I meant:

[code]

Why not add one that takes `IEnumerable<string>`?

Please add the other details you've given above under "Implementation Details".

[2018-04-23 23:46] RussKeldorph opened #29292 "[arm32] corefx System.Net.Http.Functional.Tests fails"
_From @BruceForstall on April 23, 2018 21:44_

60 failures in this test suite:

https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst_prtest/3/consoleText

Some seem like timeout (which is probably just too tight):
[code]

There are many other error modes, though, e.g.,
[code]

_Copied from original issue: dotnet/coreclr#177

[2018-04-23 23:47] RussKeldorph opened #29293 "[arm32] corefx System.Net.NameResolution.Pal.Tests fails"
_From @BruceForstall on April 23, 2018 21:46_

https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst_prtest/3/consoleText

[code]

_Copied from original issue: dotnet/coreclr#17740_

[2018-04-24 00:07] dotnet-mc-bot opened #29294 "Test failure: System.Security.Cryptography.X509Certificates.Tests.CertificateCreation.CertificateRequestChainTests/CreateChain_Hybrid"
The test `System.Security.Cryptography.X509Certificates.Tests.CertificateCreation.CertificateRequestChainTests/CreateChain_Hybrid` has failed.
[code]
Failing configurations:
- Windows.81.Amd64-x86
  - Release

[2018-04-24 00:07] danmosemsft commented on #29294
Not much to go on but we can start tracking ..

[2018-04-24 00:46] danmosemsft commented on #20388
Fails occasionally on NETFX
Windows.10.Amd64.ClientRS2-x86-Release
[code]

[2018-04-24 01:05] Anipik commented on #29273
@JeremyKuhne Done and added some some examples too

[2018-04-24 01:39] #29266 closed

[2018-04-24 03:33] Jodacola commented on #29285
I just finished running several tests with CoreFX built from master (since I saw your PR had been merged) and I'm no longer able to reproduce the socket leaks.  Nice job!

[2018-04-24 03:39] stephentoub commented on #29285
Thanks for verifying!

[2018-04-24 04:00] caesar1995 commented on #9543
Here is my current summary:

Without any modification to current code base, there are three faliures for `Manual_CertificateSentMatchesCertificateReceived_Success`:

1. SocketsHttpHandler: args(numberOfRequests: 6, reuseClient: False)
2. SocketsHttpHandler: args(numberOfRequests: 3, reuseClient: True)
3. WinHttpHandler: args(numberOfRequests: 6, reuseClient: False)

_**1 & 2 are intermittent failu

[2018-04-24 04:25] Thaina commented on #16010
@jnm2 That's the reason I was propose #1454 and prefer https://github.com/dotnet/csharplang/issues/1454#issuecomment-380534376 than this issue

[2018-04-24 04:59] natemcmaster opened #29298 "Rollforward from .NET Core 2.0 to 2.1 throws with MissingMethodException when System.Memory package is referenced"
**Conditions**

An application that is:
 - compiled against netcoreapp2.0
 - has a package reference to System.Memory (v4.5.0-rc1-26423-06)
 - runs on a machine **without** Microsoft.NETCore.App 2.0.x installed, but has a Microsoft.NETCore.App 2.1.0 version...

**Result**
The application
 - rolls to execute on Microsoft.NETCore.App 2.1 ✅ , but
 - some System.IO apis throw MissingMethodException :x

[2018-04-24 05:07] danmosemsft commented on #29273
We can discuss in review, but it seems least confusing to me for setting filter to be equivalent to setting a one item filter list, and for getting filter to throw if there is more than one entry in filterlist.

[2018-04-24 05:09] natemcmaster commented on #29298
cc @Petermarcu @ahsonkhan @stephentoub

[2018-04-24 05:45] AlexRadch commented on #29277
@karelz  How to run performance tests for netfx

[2018-04-24 06:31] davidfowl commented on #29258
We should walk through the flow chart on what this would look like for our DI container. Today we have a couple of different modes (https://github.com/aspnet/DependencyInjection/blob/943ffa1187399ad4c2af0d23641af9804eacd4e6/src/DI/ServiceProviderMode.cs#L6):
- Dynamic - Use reflection the first 2 times somebody asks to resolve a service, then switch then compile it in the background after that usi

[2018-04-24 09:42] ahsonkhan commented on #29298
I believe the root cause of this issue is the same as #29032.

We are waiting for an SDK build with this change: https://github.com/dotnet/sdk/pull/2118 and a fix for this: https://github.com/dotnet/corefx/issues/29218 (specifically for master).

cc @ericstj, @steveharter

[2018-04-24 09:51] ahsonkhan commented on #24525
https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/94fd833223869af474221d5aa65a0a74e13f1396/workItem/System.Drawing.Common.Tests/wilogs

[code]

[code]

[2018-04-24 10:58] Metritutus opened #29301 "Optionally disabling AggregateException from showing other Exception messages in its own Message?"
I've noticed that `AggregateException`'s `Message` property always shows the messages of the exceptions within it in parentheses after the `AggregateException`'s own `Message`.  Is there any chance that a change will be made to allow the customisation of this behaviour, such as setting whether to display the `Message` of the `AggregateException` only without the messages of its `InnerExceptions`?

[2018-04-24 11:03] saibaskaran57 commented on #14897
I'm experiencing the same issue on asp net core targetting net461 framework. The HttpClient we're using is System.Net.Http 4.3.3. Also, we recently have updated to reuse HttpClient and experiencing this error intermittently.

[2018-04-24 13:03] jnm2 commented on #16010
@Thaina dotnet/csharplang#1454 has one big issue with it that I'm not sure I like: if you use shapes, there's no Task.WhenAll at the end. There's going to be much more overhead involved than with this issue. Also, these two issues are certainly not mutually exclusive. 😃

[2018-04-24 13:27] fdominguezcen commented on #5501
I actually got the preview and implemented it on my code and it is working fine. Make sure you add the correct references and are using VS 2017 preview as well

[2018-04-24 13:51] jnm2 commented on #26412
Just checking in. I have multiple .NET Framework `IEqualityComparer` implementations duplicating corefx code with comments pointing to this issue. Is this a definite no, no hashing API will be available for .NET Framework developers?

[2018-04-24 13:53] Thaina commented on #16010
@jnm2 I don't think that would be a problem. Because we don't really need `WhenAll` for tuple. Task would already be started and would likely work in parallel at the time it was put in the Tuple. The `await` in `GetAwaiter` just ensure each of them would ended

Or is it another reason you would need `WhenAll` in this case?

[2018-04-24 13:59] HaloFour commented on #16010
@Thaina

`Task.WhenAll` is what joins the results of all of those individual `Task` instances back into a single `Task` that can be awaited.  Without that you'd have to implement that logic yourself by enumeration all of the awaitables and registering for completion individually and counting down.  It's not hard, but it's not trivial bookkeeping.

[2018-04-24 14:00] jnm2 commented on #16010
@Thaina Let's move the discussion to the [csharplang issue](https://github.com/dotnet/csharplang/issues/1454#issuecomment-380541214), since this one is about BCL methods for C# 7.

[2018-04-24 14:10] natemcmaster commented on #29298
So, if I understand right, the fix requires that the deps.json file specify assembly versions. Does this means users will need to recompile with a new SDK? Or that just the shared framework needs to be compiled with this new SDK? If it is the former or both, what happens if someone doesn’t recompile (or can’t recompile) their app? I’m thinking about applications running on shared servers or hostin

[2018-04-24 14:16] sharwell commented on #16010
If this was a discussion about `ValueTuple<Task, Task>` and the like, I think it would make more sense. However, since this proposal is inseparable from the tuple syntax in C#, I would encourage revisiting this from the language perspective, similar to how `==` and `!=` were implemented.

I would expect the `await` operator applied to a tuple of awaitables to be itself awaitable. Since this is pat

[2018-04-24 15:24] sharwell commented on #16010
I discussed this with @jnm2 separately. It sounds like the implementation of the proposed method behaves the way I would expect for `Task` types:

1. The join operation is performed with the semantics of `Task.WhenAll`
2. In the event of one or more exceptions/cancellations, the *first* resulting exception is the one thrown (matching other await operations that throw the first inner exception)

Ho

[2018-04-24 15:43] ericstj commented on #29298
The shared framework needs the versions, so core-setup needs to have the SDK change.  I believe @dsplaisted and @steveharter we’re trying to get that in.  You can mock up the changes in the shared framework deps to test this.

App doesn’t need to be rebuilt, only if you want app to win does it need to rebuild.

[2018-04-24 15:58] fletchsod-developer commented on #8647
Does the `dotnet-xscgen` read in the C# model and validate the data dynamically inside the C# script, without the need for outside tools or without writing to file?

If not then what DotNetCore component should I be looking for that does this with XML Serializer Validation stuff?

[2018-04-24 16:02] karelz commented on #29301
It seems it is different behavior compared to .NET Framework. However, it doesn't feel like a bad behavior to me. It was actually intentional improvement - see #5364.

Why do you need just the `AggregateException` message without the inner exception? What is your use case?

[2018-04-24 16:25] karelz commented on #29277
@ahsonkhan @KrzysztofCwalina @joshfree should be able to answer that.

[2018-04-24 16:48] Metritutus commented on #29301
@karelz I'm aware of that case.  I probably should have referenced it directly in my original post, but that was the case I read when I said "I've read that this was changed a while back to make `AggregateException` messages more descriptive."

As for the use-case, I'm logging all exceptions and inner exceptions, and I don't want to include the messages of the `InnerExceptions` in the log record m

[2018-04-24 16:57] #29084 closed

[2018-04-24 16:59] amitgpta commented on #5501
@fdominguezcen I have Visual Studio Enterprise 2017, looks like some reference issue, can you please provide some detail which .net core Preview version you installed and how you updated the reference from 2.0 to 2.1.x preview version

[2018-04-24 17:07] tarekgh commented on #28933
One more question here regarding:

[code]

Will GetFirstWeekOfYear always return 1? or we are returning the relative Gregorian week number here?
Will GetLastWeekOfYear return GetWeeksPerYear returned value? or we are returning the relative Gregorian week number here?

wouldn't be better to have these return DateTime object which returns when the first week starts and when last week end? May we cha

[2018-04-24 17:08] saurabh500 commented on #5501
@amitgpta what's the version of SqlClient that you are using?

[2018-04-24 17:09] terrajobst commented on #26406
Looks good, any reason we wouldn't expose a matching property? @bartonjs suggested to use the name `privateKey` instead of just `key`, which seems reasonable to me too.

[2018-04-24 17:12] ericstj commented on #29162
Fixed in #29182

[2018-04-24 17:12] #29162 closed

[2018-04-24 17:13] ShawnSteele commented on #28933
Sorry, I haven't been following along :)
These sound bad to me.  The "calendar" has a week setting which is *NOT* the ISO week.  So if those are intended to be the first/last ISO weeks, they should say specify the iso week calendar.

No clue how the "first iso week" would be interesting, that's always "1", right?  And the last week would be like "GetLastISOWeekOfYear" - which might be a little bit

[2018-04-24 17:15] ShawnSteele commented on #28933
IsoWeeksPerYear changes (52/53), so "Per" seems odd.  There are 16 oz per quart (for every quart).   IsoWeeksInYear?

[2018-04-24 17:17] ShawnSteele commented on #28933
GetIsoWeeksInYear is the same as the last ISO week of the year, so I'd prefer that the first/last go away, they're redundant.

I do like the idea of a:
public static DateTime GetISOWeekYearStart(DateTime time);
public static DateTime GetISOWeekYearEnd(DateTime time);

[2018-04-24 17:25] ericstj commented on #29218
Removed release blocking tag as this was addressed in 2.1 with versioning changes.  Keeping the issue open as we need to validate with tooling.

[2018-04-24 17:27] terrajobst commented on #29273
Looks a good. A few points:

* We should just use a plural form instead of the `List` suffix, e.g. `Filters`.
* The property shouldn't be settable as this avoids problems when the watcher needs to use a derived type in the implementation.
* Adding a constructor that takes path and filters would be a source breaking change if people call it with a null value for the second argument (because we have

[2018-04-24 17:29] ShawnSteele commented on #28933
You confused me.  I did say:

Obviously they'd have to specify the "ISOWeek" bit since they're only the ISO calendar.

[2018-04-24 17:29] ericstj commented on #29298
Duping this to https://github.com/dotnet/corefx/issues/29032 as we don't need two issues. https://github.com/dotnet/corefx/issues/29032 remains open for verification purposes.

[2018-04-24 17:29] #29298 closed

[2018-04-24 17:31] AceHack commented on #8348
@bradbart how do you avoid the dependent assembly issue and System.IO.FileNotFoundException error when calling LoadFromAssemblyPath?

[2018-04-24 17:33] fdominguezcen commented on #5501
You need to install VS 2017 preview edition, then you can reference the preview assemblies

[2018-04-24 17:34] tarekgh commented on #28933
sorry, I misread it as "I don't like".

What about the naming:

[code]

[2018-04-24 17:36] saurabh500 commented on #5501
@amitgpta SqlClient has support for SqlCommandBuilder stating 4.5.
Try to add a dependency on this package from Nuget https://www.nuget.org/packages/System.Data.SqlClient/4.5.0-preview2-26406-04

[2018-04-24 17:44] terrajobst commented on #28046
I'm not sure I like it because it seems heavy-handed and the consuming code cannot use `foreach`.

@jaredpar is there any way we could change the compiler rules for `IEnmerable` to prefer a struct-based enumerator when `GetEnumerator()` is already taken? I suspect we'll have this problem in other areas too. @bartonjs suggested that we could add another property/method that returns a struct that pr

[2018-04-24 17:45] ShawnSteele commented on #28933
That naming is insufficient.
An "ISO" Calendar is exactly like the Gregorian calendar we all know.  It starts on 2018-01-01 and ends on 2018-12-31.  It has 365/366 years.
This discussion is all about the ISO Week Calendar, which is different.

So, either the class should be called "ISOWeek" or the methods need to specify that.

[2018-04-24 17:47] jaredpar commented on #28046
No

This is one of the most used patterns in .NET. Changing the compiler rules for how we bind existing `IEnumerable` is a back compat issue.

[2018-04-24 17:48] terrajobst commented on #27802
The API looks fine as proposed, but is this data really on the method definition (as opposed to the property/event definition)? I thought the same method can be used by multiple properties/events in metadata.

[2018-04-24 17:49] tarekgh commented on #28933
@ShawnSteele looks you have missed these methods are inside ISO class already.

Would be Calendar.ISO.GetYearStart/GetYearEnd.  or other suggestion is

Calendar.ISO.GetFirstWeekStart/GetLastWeekEnd

[2018-04-24 17:52] terrajobst commented on #16011
❤️

[2018-04-24 17:54] ShawnSteele commented on #28933
No, I didn't miss that.  "ISO" specifies many different things about date formats.  "ISO" does not imply that it MUST be the ISO Week Year format.

Either the class should be called ISOWeek, or the "Week" variation needs specified in the method.

eg: Calendar.ISOWeek.GetYearStart/GetYearEnd

Calendar.ISO.GetYearStart is ambiguous.  I'd expect that to always be Jan 1, not the ISO Week Year Start

[2018-04-24 17:55] tarekgh commented on #28933
why Calendar.ISO.GetFirstWeekStart/GetLastWeekEnd is not ok?

[2018-04-24 17:58] ShawnSteele commented on #28933
That is assuming that the "first week" you're talking about is an ISO week.  Which seems like a reasonable assumption for people that understand the ISO week calendar system, however I think it might be a little bit ambiguous to others.

[2018-04-24 18:01] terrajobst commented on #28053
Logically `Regex.Split` will treat the pattern  as the delimiter. The current behavior allows you segregate the delimiter from the values by whether the time is even (value) or odd (separator). Just omitting the empty tries doesn't seem helpful, it seems what you really want is to omit the delimiters.

[2018-04-24 18:04] ViktorHofer commented on #28053
That's what I just noted. If you use `\d+` instead of `(\d+)` you will get the results back without the delimiters and empty entries.

[2018-04-24 18:04] jorive opened #29308 "[Benchmark][Windows] One or more tests failed while running tests from 'System.Net.Http.Performance.Tests'"
The specified benchmark has been broken for few days now, and it's blocking uploading performance results on Windows.

System.Net.Http.Tests.SocketsHttpHandlerPerfTest.Get(ssl: True, connectionPerRequest: True, chunkedResponse: False, responseLength: 1): Only one usage of each socket address (protocol/network address/port) is normally permitted

[code]

[2018-04-24 18:07] tarekgh commented on #28933
I don't like ISOWeek name because the other API names in there wouldn't make sense. for example, having ISOWeek.GetWeekOfYear would have redundant "Week" name. If you think Calendar.ISO.GetFirstWeekStart/GetLastWeekEnd can be ambiguous, we can have Calendar.ISO.GetYearStart/GetYearEnd

[2018-04-24 18:11] ladeak commented on #28025
I would live to see an async Take method on BlockingCollection.

[2018-04-24 18:12] ShawnSteele commented on #28933
The other methods use "ISOWeek"?  So Calendar.ISO.GetFirstISOWeekStart?

GetYearStart/End I find less awkward, however they would need to include ISOWeek.  GetISOWeekYearStart/End - which would make them more awkward.

[2018-04-24 18:31] karelz commented on #29301
Are the `AggregateException` messages useful at all without InnerExceptions? Typically the message just says "One or more errors occurred". Does it make sense to log such message without further details at all?
Or do you provide more useful messages in your code when you create & throw `AggregateException`?
(Just trying to understand your scenario and if there are alternative solutions that could

[2018-04-24 18:39] tarekgh commented on #28933
No. we don't. look at the proposal in the top of the page and we have:

[code]

[2018-04-24 19:28] ahsonkhan commented on #29248
@danmosemsft ran the mirror manually for the 2.1 branch: https://github.com/dotnet/corefx/pull/29256 / https://github.com/dotnet/coreclr/pull/17713

Changing to blocking-release rather than blocking-RC1.

[2018-04-24 19:39] ShawnSteele commented on #28933
What about ISO.GetWeekYearStart/End?

I find "GetIsoFirstWeekStart" to be clumsy.  You're really wanting the beginning/end of the ISO Week year.  Which happens to be the beginning of the first week, but that's extra unnecessary mental redirection.

GetYearStart by itself is ambiguous because it doesn't say whether it's the calendar year or the week year.

[2018-04-24 19:43] tarekgh commented on #28933
This looks reasonable to me. I'll update the proposal per that if nobody else object :-)

[2018-04-24 19:47] tarekgh commented on #28933
For GetWeekYearEnd, would this return the starting of last week in the year? or will return last day of the week of the year?

[2018-04-24 19:47] rmkerr commented on #9672
I investigated this same issue as part of #28065. I'm able to reproduce this issue even if I skip CurlHandler completely and use only Curl. Even using their escaping mechanism, I can't make Curl send a single slash in a digest username. It either doubles the slash as you saw, or leaves it escaped.

Since this works in SocketsHttpHandler and appears to be an external bug without a workaround, I'm g

[2018-04-24 19:47] #9672 closed

[2018-04-24 20:11] karelz commented on #29301
If your scenario is about exceptions originating from your code, I think inheritting is the best option.
We should optimize primarily for usability of `AggregateException` exceptions originating in BCL and libraries - in such cases, the inner messages are fairly important and it is a painpoint to NOT have them (which is the case in .NET Framework).

Adding new API or switch just to be able to get

[2018-04-24 20:13] ahsonkhan commented on #29250
I am not able to reproduce this issue. I ran `msbuild /t:Build /p:ConfigurationGroup=Debug /p:TargetGroup=netfx` from the `System.Memory\src` directory and the build succeeded as expected (similarly, ran tests from the test directory).

Where are you running the msbuild command from? If you run it from the root of the directory, that is when you will get such an error (which isn't really supported

[2018-04-24 20:24] ahsonkhan commented on #29250
Run from the src or test directory: `corefx\src\System.Memory\src` or `corefx\src\System.Memory\tests`

[2018-04-24 20:24] #29250 closed

[2018-04-24 20:34] AlexRadch commented on #29250
I always used `src\System.Memory` for usual TargetGroup not for `netfx`

[2018-04-24 20:34] Lxiamail commented on #29253
Need to cherry picked to 2.1 branch for RTM.

[2018-04-24 20:36] ahsonkhan commented on #29277
I don't have a good way to run the performance tests for portable span.

The way I do it is, I build the System.Memory package, locally, and then reference it in my netcoreapp2.0 console application which either uses the Stopwatch (or xunit.performance/benchmarkdotnet) to measure the performance of the tests using portable span.

1) At the root of corefx: `build.cmd -allconfigurations -release`
2)

[2018-04-24 20:38] Lxiamail commented on #27983
This doesn't impact customer directly. Due to constrained resource, moving it to 2.2

[2018-04-24 20:44] ahsonkhan commented on #29250
It just happens to work, but the expected approach is to build from the specific src/test directory:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#building-individual-projects

[2018-04-24 20:44] amitgpta commented on #5501
Thanks @saurabh500,@fdominguezcen now its working

[2018-04-24 20:47] Lxiamail commented on #27484
It's not 2.1 RTM blocker. Moving to 2.2

[2018-04-24 20:50] jorive commented on #29277
Adding @DrewScoggins @adamsitnik

[2018-04-24 20:52] keeratsingh commented on #29169
@jkotas Yes, so far this would be windows specific only, given that it requires the transaction context token as described below, I have suppressed the warning.

@danmosemsft Yes this resolved the initial compilations errors.

@JeremyKuhne For SqlFileStream to work we need acquire and supply two pieces of information:
- Path to the destination file: This can be acquired using PathName method, bear

[2018-04-24 20:55] AfsanehR commented on #29147
Hi @hpbieker . Could you please share the output of `dotnet --info` from your docker environment?

I was not able to run a sample application using either of the runtime-alpine docker images complaining that it requires a dotnet SDK to be installed. Using the published DLL files also gives me error saying `Failed to bind to CoreCLR at '/Test/libcoreclr.so'`
 However, using `2.1.300-preview2-sdk-al

[2018-04-24 20:56] davidsh commented on #29308
cc: @stephentoub

[2018-04-24 21:03] rmkerr commented on #29292
Hey @RussKeldorph. I don't know much about our ARM testing setup. Are these running on physical machines or in QEMU? I think that this is going to be an interesting problem to solve -- it looks like we assume some minimum level of performance that we just don't get on ARM.

[2018-04-24 21:06] ShawnSteele commented on #28933
I'd return the start/end of the year.  (last day of the week of the year for GetWeekYearEnd)

[2018-04-24 21:09] stephentoub commented on #29260
It may not matter, but I don't think such a raw look at cost is the way to determine that. We have lots of things that are significantly cheaper than 1μs, and we'd definitely care if we regressed those by 40% (e.g. delegate invocation). The question is whether constructing an XmlDocument is done like this in scenarios where little else is done and it's a hot path.

[2018-04-24 21:11] danmosemsft commented on #29260
You're right, implicit in my statement was the assumption that the constructor is not run on a hot path. I agree that's not based on much evidence.

[2018-04-24 21:16] p2atran opened #29310 "View() rendering is slow [QUESTION]"
I migrated my ASP.NET Core 1.1 project over to 2.0 and everything seems to work okay. However, I noticed that where `return View()` is called in the server, my webApp loads extremely slow. This wasn't the case in my 1.1 project.

I'm wondering if this has to do with my migration or if it is a known issue.

[2018-04-24 21:31] krwq commented on #29260
I don't think this will be a problem in general and can't think of anything creating XmlDocuments that frequently but since someone decided it is a good idea to measure performance of the constructor it is worth investigating why and if we should care about that. I suspect if it matters anywhere it will be somewhere in the XmlSerializer code.

[2018-04-24 21:39] ViktorHofer commented on #29310
Wrong repository. Please post your question in the asp.net one: https://github.com/aspnet/Mvc

[2018-04-24 21:39] #29310 closed

[2018-04-24 21:47] tarekgh commented on #28933
I asked because it asks for the Week of the year's end :-) I think this can be understood returning the first day of the week which end the year.  The confusion I am seeing now is, does the API clear if we are returning the week or the day?

I started to think back GetYearStart/End would be clearer :-)

regarding your comment

This will be clear because the call will have ISO word (e.g. ISO.GetYea

[2018-04-24 21:58] RussKeldorph commented on #29292
@rmkerr These are runs on physical machines.  Note they are Checked builds of the runtime, which are substantially slower than Release as well.  I don't know enough about what the test is doing to make suggestions, but I'm happy to brainstorm ideas if you want to share more.

[2018-04-24 22:17] rmkerr commented on #29011
I've done some more testing here, and I'm able to reproduce this issue under the following conditions:
- We construct an absolute URI using the `Uri(Uri absolute, string relative)` constructor.
- The relative string begins with ~1000 characters, followed by a colon.
- The first character of the relative string is not a forward or back slash.

This gives us some excellent evidence for what is happe

[2018-04-24 22:27] rmkerr commented on #29292
@RussKeldorph thanks! I think that the first thing we should do is see if this is just caused by our tests running slower on ARM, or if there is a real behavior difference affecting networking performance.

Is it possible to run just one of the failing tests, and see if it still fails? Or, even better, to run the HTTP functional tests with parallelism disabled? It sounds like that might take a whi

[2018-04-24 22:49] ShawnSteele commented on #28933
I would expect ISO.GetYearStart() to return 1 Jan and ISO.GetYearEnd() to return 31 Dec.  This is the difference between an ISO year and an ISO week year.

[2018-04-24 23:02] morganbr commented on #29258
@davidfowl, now that I think about it a bit more, is ```DynamicMethod.IsSupported``` useful or should we only have ```RuntimeFeatures.HasJit```? In other words if refemit is interpreted, would you ever want to use it?

[2018-04-24 23:07] pjanotti opened #29313 "Keep SSL error queue clean"
Closing #29244 that covered only X509 and tracking all required changes in this issue. The APIs listed below were selected after a scrub of the CryptoNative_* APIs by me and @bartonjs.

[EDIT 1: Removing deadcode ones, will address later]

/cc @karelz

 - [x] CryptoNative_Asn1OctetStringNew => single call, needs ERR_clear_error
 - [ ] CryptoNative_Asn1OctetStringSet => single call, needs ERR_clear

[2018-04-24 23:08] pjanotti commented on #29244
Tracking X509 plus other changes in #29313

[2018-04-24 23:08] #29244 closed

[2018-04-24 23:42] karelz commented on #28841
HttpClient/HttpClientHandler programming model is different than HttpWebRequest/ServicePointManager.
* `ServicePointManager` is basically one giant static variable. Configuring `ClientCertificates` or `ServerCertificateValidationCallback` per server requires per-request settings. Which in implementation leads to mapping combination of endpoint & "interesting settings" to a pool of reusable connect

[2018-04-24 23:51] ahsonkhan opened #29314 "Update the Release Notes link for NuGet packages to point to .NET Core 2.1"
Currently, the release notes link in the published packages point to [.NET Core 2.0.4](https://go.microsoft.com/fwlink/?LinkID=799421):
https://github.com/dotnet/corefx/blob/a985f20d1a04d49ad086e3ef066565d05701cdaa/Packaging.props#L14

For example, see the preview2 System.Memory package which links to old release notes:
https://www.nuget.org/packages/System.Memory/4.5.0-preview2-26406-04

We shoul

[2018-04-24 23:59] tarekgh commented on #28933
Talked offline with @ShawnSteele and here is the final proposal we agreed on which should remove any confusion.

[code]

Let me know if anyone has any concern with the proposal so I can update the proposal at the top of the page.

[2018-04-25 00:04] karelz commented on #29314
Part of #23570 and #26014

[2018-04-25 00:29] weshaggard commented on #11857
@CZEMacLeod If you are interested in RegistrationBuilder APIs I suggest filing a new issue tracking it.

[2018-04-25 00:29] karelz commented on #29308
@jorive is it master branch or release/2,1?

[2018-04-25 00:50] jorive commented on #29308
@karelz sorry, it is on `master` branch

[2018-04-25 01:02] madelson commented on #25295
@truencoa interesting. Looks like `EmailAddressAttribute` uses a regex under the hood, which seems less robust than `MailAddress`'s custom parser (perhaps not, though).

[2018-04-25 01:06] mjsabby commented on #28841
@karelz ServerCertificateValidationCallback is a per-request thing.

I'm not going to argue with you on the history of how HttpWebRequest came to acquire this great property of having the ServerCertificateValidationCallback per-request. Maybe it was the design constraint of a single static variable that gave us this feature or maybe it was intentional.

The fact that WinHTTP also supports this mak

[2018-04-25 01:12] stephentoub commented on #28841
That's not true, is it? Won't there be different connections used?

[2018-04-25 01:33] truencoa commented on #25295
well, we tried using URI because that's just simpler, but couldn't figure out a way to parse it with and have our fail tests pass:

[code]
Uris are simply too accepting - especially with mailtos.

[2018-04-25 01:39] bartonjs commented on #29313
I'd take the dead code ones out of the list.  Since no one is calling them they clearly aren't polluting the error queue.  Deleting them in master is fine, but they'd be noise in a backport.

[2018-04-25 01:45] davidsh commented on #28841
Yes, this is not true. Different connections will be used.

HttpWebRequest create separate ConnectionGroup objects (pools of TCP connections) even to the same endpoint (ServicePoint) depending on various critera.

Two HttpWebRequest's that use different ServerCertificateValidationCallbacks, for example, will end up having different ConnectionGroup's in any ServicePoint.

See:
https://github.com/Mi

[2018-04-25 01:57] stephentoub commented on #28841
Thanks for confirming, David.

From my perspective, this is not something we should be adding to SocketsHttpHandler.  The pooling logic in the handler is currently simple, and thus fast.  Adding in additional things that need to be checked/compared to determine what pool to use will end up being very much not pay-for-play, in that we'll end up incurring costs associated with pool maintenance and m

[2018-04-25 02:10] davidfowl commented on #29258
No we'd never want to use it if it was interpreted in this scenario unless it was faster than reflection.

[2018-04-25 03:13] Petermarcu opened #29318 "Bug in HttpWebRequest when call an endpoint that returns 302"
@mrquake commented on [Mon Apr 23 2018](https://github.com/dotnet/core/issues/1473)

# Issue Title

When you call an endpoint that returns 302 the redirection url will have backslashes instead of forward slashes in "localpath".

# General

For example when you call Azure API using Fiddler or any other web debugging tool: "https://management.azure.com/subscriptions/xxx-xxx-xxx-xxxx/providers/Micros

[2018-04-25 03:34] Anipik commented on #28878
Failed Again
https://mc.dot.net/#/user/Anipik/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/4eff1879af8ed824bea94b9fdbab14da1e7d5ad6/workItem/System.Diagnostics.PerformanceCounter.Tests

[2018-04-25 03:52] MohammadHamdyGhanem commented on #29274
@karelz
This is not a question. It is an API request or a proposal.
Thanks.

[2018-04-25 04:01] AlexRadch commented on #29250
Ok. But using `src\System.Memory` is more convenient because now to run test I should goto to `src\System.Memory\src` and compile library than goto to `src\System.Memory\tests` and run tests.

 For usual TargetGroup I just used `src\System.Memory` folder with one command ;)

[2018-04-25 06:44] dotnet-mc-bot opened #29320 "Test failure: System.Collections.Concurrent.Tests.PartitionerStaticTests/TestStaticPartitioningArray"
Opened on behalf of @Sunny-pu

The test `System.Collections.Concurrent.Tests.PartitionerStaticTests/TestStaticPartitioningArray` has failed.

System.AggregateException : One or more errors occurred. (Assert.Throws() Failure\r
    Expected: typeof(System.InvalidOperationException)\r
    Actual:   typeof(System.Exception): Cannot create a file when that file already exists. (Exception from HRESULT:

[2018-04-25 07:59] iSazonov commented on #28933
LGTM.

[2018-04-25 08:55] hpbieker commented on #29147
[code]

I see that my project includes a System.Data.SqlClient.dll with fileversion 4.6.25921.2:
[code]
And this one (also version 4.6.25921.2):
[code]

[2018-04-25 09:46] ggeurts commented on #28403
I just ran into the same issue this week.

[2018-04-25 10:08] khellang commented on #28933
Yeah, that looks good. Would it make sense to also include methods for formatting an **ISO week date** as a string? From Wikipedia:

[2018-04-25 11:02] khellang commented on #28933
Also, is there a reason `GetWeeksPerYear`, `GetYearStart` and `GetYearEnd` can't just take `int year`?

[2018-04-25 11:21] ViktorHofer opened #29322 "Remove hashtable & friends compiled files from System.Runtime.Extensions"
This commit needs to be reverted when the new uapaot build (that contains the hashtable changes) is ingested: https://github.com/dotnet/corefx/commit/2e34bf9d93e23c2fdf978e457543b95906226721.

cc @jkotas

[2018-04-25 11:26] hgbloch opened #29323 "MacOS - Special hidden folders"
Dear corefx team,
We have encountered a special case of hidden folders in MacOs based machines.

When using DirectoryInfo to map the users machine, we are interested in knowing which folders are hidden, therefore checking the `FileAttributes.Hidden` attribute, which is determined if the file\directory name starts with a dot - '.'
Sadly, we found out that in MacOS uses additional file system flags

[2018-04-25 13:01] marek-safar commented on #29226
/cc @EgorBo

[2018-04-25 13:39] liguangkk opened #29325 "The type initializer for 'TimeZoneConverter.TZConvert' threw an exception."
I got this error on aws lambda.
The type initializer for 'TimeZoneConverter.TZConvert' threw an exception.
"errorMessage": "An item with the same key has already been added. Key: Canada/East-Saskatchewan",

[2018-04-25 13:54] EgorBo commented on #29226
Also it'd be nice to use unique names for tests across the corefx solution :-)

[2018-04-25 13:57] rmadisonhaynie commented on #27672
@rmkerr Do you have a recommended work around?

[2018-04-25 14:27] dbrownxc commented on #27672
For us, it is a matter of switching between NTLM and Negotiate depending on environment.  For now, what we are doing is setting this in configuration.  Using the new configuration classes, we just set up a development configuration (appSettings) that works for Windows and a release configuration that works for Linux (environment variable override works here).

[2018-04-25 14:56] bartonjs opened #29327 "Enable EnvelopedCms to work with an external private key"
There are two scenarios that are not currently possible with the EnvelopedCms class.

1) Decrypting the contents of an EnvelopedCms with an unattached/unattachable key (a la RSAKeyVault).
2) Being able to prove which certificate+key were used for the decryption operation, because the existing members all dive into the CurrentUser\My certificate store looking for other candidate certs+keys.  (https

[2018-04-25 15:45] bartonjs commented on #29294
`NTE_INTERNAL_ERROR` from asking CNG to generate an RSA key.  Without a stable repro it'll be hard to do anything.  We can leave this open for a little bit to see if maybe we have a bad machine and can track down what this particular one means.

But NTE_INTERNAL_ERROR is the moral equivalent of Debug.Assert.  A late check says that something previously went wrong and didn't notice, and now it does

[2018-04-25 16:00] karelz commented on #27672
Or you can use 2.1 (currently Preview2) where it is fixed.

[2018-04-25 16:06] karelz commented on #29308
@caesar1995 can you please take a look?

[2018-04-25 16:08] karelz commented on #29318
@mrquake do you know if it is a problem with .NET Core 2.1?
Do you have a minimal repro demonstrating the problem which we could run in house?

[2018-04-25 16:17] karelz commented on #29274
I don't think we plan to port those APIs over as they are. They are in weird/unrelated namespace (why Microsoft.VisualBasic) and the entire logging TraceListener technology was superseded with EventSource/EventListener.
The question is if we have similar functionality elsewhere. It would help to list the capabilities you are interested in.

[2018-04-25 16:46] karelz commented on #28961
Yes, it would be nice to have specific exception with reason "NTLM is not supported by the underlying OS" with permalink to article with potential workarounds.
Assuming we can detect from the GSSAPI error code that the root-cause is missing support for NTLM and nothing else.

[2018-04-25 16:47] tarekgh commented on #28933
Generally, formatting is done through the culture classes (e.g. DateTimeFormatInfo) but so far we don't support any culture need this formatting. we may think later providing similar to what we are providing for ISO formatting (i.e. "o" format) which can support YYYY-Wnn-dd (or YYYYWnndd). I like to do that separately from this proposal.

I thought about that before, I am thinking users would use

[2018-04-25 16:53] tarekgh commented on #29325
@mj1856  could you please look to know if this issue is because of TimeZoneInfo enumeration or it is TimeZoneConverter issue? Thanks.

[2018-04-25 16:54] tarekgh commented on #29325
https://github.com/mj1856/TimeZoneConverter

[2018-04-25 16:57] mfe- opened #29329 "Port System.ComponentModel.Composition.Registration (MEF1) to .NET Core"
Greetings,

regarding [Port System.ComponentModel.Composition (MEF1) to .NET Core](https://github.com/dotnet/corefx/issues/11857) the following is still missing:

- `System.ComponentModel.Composition.Registration.RegistrationBuilder`
- `System.ComponentModel.Composition.Registration.PartBuilder`
- `System.ComponentModel.Composition.Registration.PartBuilder<>`

See also https://github.com/dotnet/co

[2018-04-25 17:40] khellang commented on #28933
Shouldn't that be `DayOfWeek day` instead of `int day`? It's effectively "Calculating a date given the year, week number and weekday" outlined [on Wikipedia](https://en.m.wikipedia.org/wiki/ISO_week_date)

I tried implementing the methods in the current proposal and the aforementioned methods only need a Gregorian year. It's really a hassle when you have to construct an entire `DateTime` (with mon

[2018-04-25 17:41] mj1856 commented on #29325
Yeah, should be logged on my repo, not here.

@liguangkk, please log over there.  When you do, please give version and code to reproduce.  I thought I had addressed this one already.  Thanks.

[2018-04-25 17:44] tarekgh commented on #29325
@liguangkk could you please add the full stack?

@mj1856 I looked briefly at your code, although I am not sure exactly what the problem is, could it be because of the line

https://github.com/mj1856/TimeZoneConverter/blob/master/src/TimeZoneConverter/TZConvert.cs#L327

which looks we didn't encounter Canada/East-Saskatchewan before but now we do.

I'll move this issue to your repo. Thanks.

[2018-04-25 17:46] tarekgh commented on #29325
This issue was moved to mj1856/TimeZoneConverter#28

[2018-04-25 17:46] #29325 closed

[2018-04-25 17:47] ViktorHofer commented on #29329
cc @maryamariyan @danmosemsft

[2018-04-25 18:00] MohammadHamdyGhanem commented on #29274
Copy them to any name space you want. VB.NET has many unique tools of its own, and it makes things easier.

As I understand, EventSource/EventListener deals with ETW. I think this is a complicated tracing system, that is suitable for long running server aps and services. Other tracing tools are still useful in simple apps.
You already included them in CoreFx. If this is for backward compatablity,

[2018-04-25 18:01] tarekgh commented on #28933
I'll update the proposal with that. you are right, the day should be between Sunday, Monday....Saturday

The issue I am afraid people will run into is the input year, is it really the Gregorian year? or is it ISO year. you know we can get some dates in Gregorian (around Dec 29th) which can belong to the next year in ISO. having DateTime is removing this confusion and the Month and day number in Da

[2018-04-25 18:11] tarekgh commented on #28933
my last reply was only regarding

[code]

but I still believe the reset has to take a DateTime and not just year.

[2018-04-25 18:29] ViktorHofer commented on #29329
RegistrationBuilder requires CustomReflectionContext which is currently just stubbed out and not implemented: https://github.com/dotnet/corefx/issues/5844

[2018-04-25 19:19] m4raza opened #29330 "CurrentCultureIgnoreCase comparison giving different results on Linux and Windows due to whitespace character difference"
Hello,
equality with CurrentCultureIgnoreCase in the en-US culture is ignoring the difference between the whitespace character (32) and the non-breaking space (160) on linux/mac, but not on windows.  The test:

[code]

``currentCultureIgnoreCaseEquality``  is false on windows but true on linux. The other two are false on both windows and linux. The culture has been confirmed to be "en-US" on both

[2018-04-25 20:05] jorive opened #29331 "[Perf] Ubuntu16.04 runs blocked by multiple "PE file is already strong-name signed." errors"
[perf_ubuntu16.04_release](https://ci2.dot.net/job/dotnet_corefx/job/perf/job/master/job/perf_ubuntu16.04_release/1715/consoleText)

[code]
...

/home/administrator/jenkins/w/dotnet_corefx/perf/master/perf_ubuntu16.04_release/Tools/sign.targets(113,5): error : /home/administrator/jenkins/w/dotnet_corefx/perf/master/perf_ubuntu16.04_release/bin/obj/ref/System.Threading.Tasks.Dataflow/4.6.3.0/netsta

[2018-04-25 20:09] jorive commented on #29331
First failure occurred on `Apr 24, 2018 10:19 AM`

[2018-04-25 20:09] sdmaclea commented on #22924
@wtgoodbe Can this be closed? I think it should be implemented between #27656 #28280 & #28289

[2018-04-25 20:14] sdmaclea commented on #6901
@richlander @RussKeldorph @Petermarcu Has there been any progress in allowing arm64 to run through Helix.  Or is this something we can discuss offline.

I was looking at enabling arm64-linux corex runs in CI, but it is still blocked on helix as far as I can tell.

BTW I cannot see dotnet/core-eng must be private.

[2018-04-25 20:25] Chrisboh commented on #6901
Hi @sdmaclea,

Right now we are in the process of getting the new hardware that we ordered stood up in the lab and hooked up to Helix.  Once that is done we should be able to start sending a lot more work through that queue.  Right now there is only one machine left standing in that queue so until then I would hold off.  As for timing I hope to have it all ready to go in the next week or so.

[2018-04-25 20:37] normj commented on #28951
I saw this fix in the daily build. I want to make sure I understand the release flow and that this will go out with the next 2.1 release. This issue is breaking all request to Amazon Web Services with the AWS SDK in .NET Core 2.1 preview 2.

[2018-04-25 21:50] morganbr commented on #29258
Ok, let's just go with ```RuntimeFeatures.HasJit``` until/unless we see a useful scenario for using RefEmit with no JIT.

[2018-04-25 21:51] karelz commented on #28951
It got into master about a week before last integration into release/2.1 branch, so it is in release/2.1 branch and it will ship with next 2.1 release.
You can verify it on daily builds from that branch (labeled '-rc1').

[2018-04-25 21:53] normj commented on #28951
Awesome thanks

[2018-04-25 21:56] RussKeldorph opened #29335 "Environment.CommandLine does not work as expected."
_From @RabdPnguin on April 24, 2018 21:44_

Let's say I call a command with the following options:
cmd --option "--whatever"

Environment.CommandLine returns something different depending on whether it's a dotnet core app or full framework app.

4.7: "cmd.exe --option "--whatever""
core 2.0: "cmd.exe --option --whatever"

This presents a problem making it impossible (or at least difficult) to pass

[2018-04-25 21:56] RussKeldorph commented on #29335
@danmosemsft @karelz

[2018-04-25 21:56] RussKeldorph commented on #29335
_From @karelz on April 24, 2018 22:24_

@RabdPnguin thanks for your report - it seems there are 2 issues mixed together here:

4.7 vs. Core 2.0 difference in `Environment.CommandLine`. Is the main problem of stripping quotes around --whatever option? Can you please file an issue with repro on https://github.com/dotnet/corefx repo?
I wonder if it was introduced for Linux-Windows compat on purpose,

[2018-04-25 22:00] rmkerr commented on #28486
This is happening because of the Unix specific case for local path:
https://github.com/dotnet/corefx/blob/9e8d443ff78c4f0a9a6bedf7f95961cf96ceff0a/src/System.Private.Uri/src/System/Uri.cs#L1032-L1037
I'm going to investigate this more, but I think that the fix will likely just be to add UriComponents.Query and UriComponents.Fragment to that line.

[2018-04-25 22:01] khellang commented on #28933
It's important in some of the methods, yes, but not in the ones I mentioned. The only piece of information needed is a Gregorian year. It's trivial to pass `DateTime.Year` if you already have a `DateTime` instance, but it's totally unnecesary to construct a `DateTime` (which values do I use for month and day? does it matter? are they used?) just to pass it in.

BTW, there's already precedent for u

[2018-04-25 22:03] khellang commented on #28933
I can put up a gist with my quick implementations so you can get a feel for the APIs and their usage if you want?

[2018-04-25 22:13] tarekgh commented on #28933
What happens if you have a Gregorian year that crosses 2 ISO years?  here is some example:

If you pass Gregorian Year 2005.  and we know that

Sat 1 Jan 2005 would be the ISO 2004-W53-6
Sat 31 Dec 2005 |would be the ISO 2005-W52-6

Passing 2005 to our API would be ambiguous as we'll not know if we need to return the start/end of the ISO 2004 year or 2005 ISO year. As I mentioned, it would make se

[2018-04-25 22:17] tarekgh commented on #28933
I removed the example of the Gregorian year crossing 2 ISO years. will try to put a correct one.

[2018-04-25 22:30] RabdPnguin commented on #29335
After being directed to the correct repo this may be a duplicate of "https://github.com/dotnet/corefx/issues/29014".

In which case the answer is: Windows works different than Linux. I can't do what I want (get exact string as entered at commandline with quotes) in a cross platform way. If this is the case, this ticket can be closed.

I created a new ticket for the cli discrepancy between : and =

[2018-04-25 22:31] tarekgh commented on #28933
One other note regarding using DayOfWeek for the day instead of int in the following API
[code]

ISO week usually using days from 1 to 7 while DayOfWeek having days from Sunday=0 to Saturday = 6. do you think this can create confusion? Also, if we use DayOfWeek, do you think we accept value like ```(DayOfWeek) 7```?

[2018-04-25 22:35] danmosemsft commented on #29335
@RabdPnguin yes, I think [this ](https://github.com/dotnet/corefx/issues/29014#issuecomment-380484617) answers your question. In Linux it is not available.

I'm going to close as you suggest. Thanks for the report.

[2018-04-25 22:35] #29335 closed

[2018-04-25 22:41] Davilink commented on #26556
We use SignalR (the .Net Framework version because in dotnet core version isn't ready) with dotnet core 2.0, and when the Connection is drop, a WinHttpException is rise.

In the Error Event Handler i try to filter the exception using the « is » operator, but VS cannot find the assembly.

This exception seem to be in System.Net.Http, but in the « C:\Program Files (x86)\Reference Assemblies\Microsof

[2018-04-25 22:45] tarekgh commented on #28933
One more thing, for the following 2 APIs

[code]

should we just call them GetWeek and GetYear? These will be written as ISOWeek.GetWeek(...) and ISOWeek.GetYear(...)

[2018-04-25 23:27] keeratsingh commented on #29193
Hi @brettkc ,

I ran the code on Windows 10 `Version 10.0.16299 Build 16299` with SqlClient version `4.5.0-rc1-26424-04` and dotnet runtime version `Microsoft.NETCore.App 2.1.0-preview2-26406-04`, which is exactly the same runtime you are using and I don't see any issues with SQLServer2008 R2 DB with Compatibility mode `SQLServer2000(80)` set.
It seems like a setup issue in your environment, could

[2018-04-25 23:40] morganbr commented on #29327
How should the user know which cert/key to use?

[2018-04-25 23:42] ViktorHofer commented on #14334
@AtsushiKan System.Reflection.Context contains one type `DelegatingType` which inherits from TypeInfo and needs the public ctor. Any guidelines what to do here? Should we still use InternalsVisibleTo here or think again about exposing the ctor?

[2018-04-26 02:35] stephentoub commented on #29331
I hit this every once in a while.  I delete the the target .dll it's complaining about, and then it continues on happily.

[2018-04-26 03:15] DrSensor commented on #25792
Any workaround or specific param like `NamedPipeServerStream("1.fifo",PipeDirection.Out, nounixsocket: true)` to use linux named pipe instead of unix socket? It break the compatibility when in use for communicating between 2 different programming language.

[2018-04-26 03:32] morganbr commented on #29258
I incorrectly thought ```RuntimeFeatures``` was public. Would ```System.Runtime.InteropServices.RuntimeInformation``` be the right public class @stephentoub?

[2018-04-26 03:43] jkotas commented on #29258
@morganbr `System.Runtime.CompilerServices.RuntimeFeature` is public: https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.runtimefeature?view=netcore-2.0

[2018-04-26 03:53] bartonjs commented on #29327
One supposes that they would know what certificates they have disseminated.  In the case of the StackOverflow user they wanted to confirm that the sender was using the current cert/key instead of the previous, so they knew they should only have two plausible candidates.

Then, it seems like the answer is to just iterate the possibilities.

[2018-04-26 03:59] jkotas commented on #29322
Also delete workaround from https://github.com/dotnet/corefx/blob/master/pkg/test/frameworkSettings/netcoreapp2.2/settings.targets

[2018-04-26 05:27] iSazonov commented on #28933
Perhaps it make sense to have:
[code]

[2018-04-26 07:16] khellang commented on #28933
No, not at all. We already have an enum representing day of week. It would be a shame if we didn't use it. Why would we use a *less* specific type here, but a *more* specific type (`DateTime`) in `GetWeeksInYear`, `GetYearStart` and `GetYearEnd`?
I doubt anyone cares much whether `Sunday` represents `0` or `6`. They just want Sunday, that's it. The API should be responsible for converting to the c

[2018-04-26 08:07] khellang commented on #28933
Here's a gist with my current implementation; https://gist.github.com/khellang/53b98851b1d23eef97503ebb22612b3c

[2018-04-26 08:58] pkanavos opened #29340 "Unquoted `reference` argument in Microsoft.XmlSerializer.Generator.targets breaks builds"
The `--reference` parameter in the Microsoft.XmlSerializer.Generator.targets file is unquoted, breaking builds that use the tool :

https://github.com/dotnet/corefx/blob/a2c789559aad27409e55e31cef4c4b3092d5a472/src/Microsoft.XmlSerializer.Generator/pkg/build/Microsoft.XmlSerializer.Generator.targets#L15

SDK assemblies are stored in `Program Files` which makes the list of assemblies appear as sepa

[2018-04-26 09:52] kasper3 commented on #29330
Can't reproduce on Linux with .NET Core 2.0 and 2.1

[code]

On Windows 10 with .net core 2.0, Debian with 2.0 and Alpine Linux with 2.1, I get:

`culture: en-US, equality: False, ordinalIgnoreCaseEquality: False`

If your current culture is set to en-US or is empty (clean `LC_ALL` environment variable), then the result should be consistent. Are you sure that's the case in your environment?

[2018-04-26 09:55] luigiberrettini commented on #25040
I've created [some tests](https://github.com/luigiberrettini/CrossPlatformKeepAlive/blob/master/TestSuite.cs) to check if setting socket options related to keep-alive works.
Unfortunately, even if both Linux and OS X kernels supports the option name constants I used, the tests are failing:
 - [Linux](https://travis-ci.org/luigiberrettini/CrossPlatformKeepAlive/jobs/371471364)
 - [OS X](https://tra

[2018-04-26 11:50] jkotas opened #29341 "Intermittent "cannot access the file '...\project.csprojAssemblyReference.cache'" build errors"
Packaging All Configurations leg in CI started often failing with errors like:

[code]

[2018-04-26 11:54] jkotas commented on #29341
https://github.com/dotnet/corefx/pull/29337 : https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_all+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/11584/consoleText

[2018-04-26 11:56] jkotas commented on #29341
#29319 : https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_all+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/11591/consoleText

[2018-04-26 11:56] jkotas commented on #29341
@ericstj Can this be related to your recent build tools changes?

[2018-04-26 12:51] brettkc commented on #29193
@keeratsingh thanks for investigating

connection string is in this shape:
[code]

.csproj:
[code]

[2018-04-26 12:53] mrquake commented on #29318
@karelz I don't know... but I know that using full framework it works perfectly...

You can use this example here (https://github.com/Azure-Samples/billing-dotnet-ratecard-api)... it uses the same logic that I used but you need to convert to .NET Core...

I investigated further and it seems that the problem is not related to the backslashes but the Authentication header that goes in the first requ

[2018-04-26 12:59] Odirb opened #29342 "Bad HResult error codes with IOException on Linux"
Hi,

When a file cannot be access because it's used by another process, or when a file cannot be created because it already exists, the System.IO.File Open function throws an IOException with an invalid HResult value.

Sample code below returns 11 (EAGAIN?) instead of -2147024864 (ERROR_SHARING_VIOLATION). For a file in use it returns 17 (EEXIST?) instead of -2147024816 (ERROR_FILE_EXISTS).

Since

[2018-04-26 13:00] ericstj commented on #29341
Not my buildtools change but could be race in packaging tests.  I will look into it

[2018-04-26 13:15] m4raza commented on #29330
I don’t see currentCultureIgnoreCaseEquality printed in your output. This is the one that is appearing true on Linux for me and false on windows. The other two equalities are false everywhere. Can you check this?

[2018-04-26 13:16] GoldenCrystal commented on #25040
I think you are reproducing the problem from https://github.com/dotnet/corefx/issues/14237 in these tests. (Also the reason why I opened this issue)

The values used in ````SocketOptionName```` were obviously derived from Windows headers, thus allowing the current Windows SocketPal to simply forward the ````SocketOptionName```` value to the underlying API. (But we can expect this to change someday

[2018-04-26 13:21] ericwj opened #29343 "int.TryParse with span argument yields the wrong result after Slice"
Something wrong with my setup? I find it hard to believe if this is a bug you wouldn't have ran into this long ago.

![image](https://user-images.githubusercontent.com/9473119/39308269-4fefed26-4965-11e8-8e1e-7063122f9ff8.png)

[code]

global.json
[code]

.csproj (I first ran into this in a Web app, this is a reproduction in a test project)
[code]

`dotnet --info` in project directory
[code]

[2018-04-26 13:25] danmosemsft commented on #29343
@ahsonkhan

[2018-04-26 13:25] MarcoRossignoli commented on #27841
@danmosemsft @stephentoub  i run tools with < 30% diff...now for instance difference between src\CoreLib\Interop\Unix\Interop.Errors.cs and src\Interop\Unix\Interop.Errors.cs is a pair of enum value missing from CoreLib file. To update those difference my idea is to PR on coreclr the difference, wait merge and after that replace proj difference. Is this a correct way?Do you have better idea?

[2018-04-26 13:32] ViktorHofer commented on #14334
@jkotas I noticed you removed the InternalsVisibleTo attributes last month from System.Reflection. I would need to bring it back to access the internal TypeInfo constructor for S.R.Context which I try to port over. Any suggestions how to work around this?

[2018-04-26 13:37] luigiberrettini commented on #25040
I found the problem is `TryGetPlatformSocketOption` which is called passing option level and name:
[code]

It has misleading parameter names and return false for options not present in the [SocketOptionName enum](https://github.com/dotnet/corefx/blob/v2.0.7/src/Native/Unix/System.Native/pal_networking.h#L131):
[code]

This means that the keep-alive:
 - retry count TCP_KEEPCNT (Linux = 0x6, OS X =

[2018-04-26 13:56] eerhardt commented on #25792
You can use the [Mono.Posix.NetStandard](https://www.nuget.org/packages/Mono.Posix.NETStandard/) library on .NET Core to get access to the [mkfifo](https://github.com/mono/mono/blob/47187bbc9b552f6ca5b2d80a2be6c7395b40da9e/mcs/class/Mono.Posix/Mono.Unix.Native/Syscall.cs#L4013-L4017) POSIX command.  This will allow your program to read/write to a FIFO/Unix named pipe.

Regarding Windows 10 now sup

[2018-04-26 14:13] luigiberrettini commented on #25040
@GoldenCrystal do you have an example of the DllImport declaration to be used on Linux and OS X to call the operating system `setsockopt` function?

[2018-04-26 14:15] AtsushiKan commented on #14334
I'd just as soon make this constructor protected and be done with it. For S.R.C specifically, NETFX can presumably continue to use its own version. But not having this constructor is going to hamper other Reflection work in the future.

[2018-04-26 15:17] ericstj commented on #29341
There are a combination of issues here.  Some have always been present some were brought in with the new CLI: https://github.com/dotnet/corefx/commit/bf1b082df789afc222ff5f1431cdd20363c99bb5.

I'll try to address all of them.

[2018-04-26 15:28] samdearden opened #29345 "ASN1 corrupted data when using EnvelopedCms to decrypt on Debian Stretch"
I am using EnvelopedCms in the 2.1 preview 2 to decrypt a file that was encrypted using BouncyCastle.

Using EnvelopedCms to decode & decrypt the file under Windows works without error.

Running the same code under Debian stretch (microsoft/dotnet:2.1.300-preview2-sdk-stretch docker image) on the call to EnvelopedCms.Decode I get the following error:

System.Security.Cryptography.CryptographicExce

[2018-04-26 15:29] stevenguh opened #29346 "[Proposal] Use hash array mapped trie for ImmutableDictionary"
I've [implemented](https://github.com/stevenguh/ImmutableTrie) a variant of [hash array mapped trie](https://en.wikipedia.org/wiki/Hash_array_mapped_trie) and found out that it performs at around 2x faster than the current ImmutableDictionary with comparable memory usage. I am wondering if we can use that to replace the current implementation.

Here are some of the [benchmarks](https://github.com/

[2018-04-26 15:30] stevenguh commented on #28848
Yeah, I think this data structure cannot replace the existing implementation because of its poor insert and remove. I have an implementation [here](https://github.com/stevenguh/ImmutableTrie) that provide an API compatible alternative to `ImmutableList` in case anyone need that extra performance boost and if the penalty for `Insert` and `Remove` is not important.

Do you guys think this issue shou

[2018-04-26 15:57] sharwell commented on #29346
Do you have information about the retained memory for this type? I'd like to compare it to the numbers in #1502.

[2018-04-26 15:59] karelz commented on #29345
@bartonjs is that new code in 2.1?

[2018-04-26 16:04] danmosemsft commented on #27841
@MarcoRossignoli yes, that's what you will have to do for any changes where the corelib version is "better".

[2018-04-26 16:05] pabmcdonald commented on #27468
We have a customer that is using our product had this issue is causing a pain point with memory leaking.  I see that this in on the Future Milestone.  Is there any plans on when we could expect a fix?

[2018-04-26 16:13] MarcoRossignoli commented on #27841
corelib you mean corefx?

[2018-04-26 16:13] spottedmahn opened #29349 "NuGet Version Number Out of Sync with Assembly Version"
Why are the NuGet versions and the assembly versions not in sync?

### Example

Assembly | NuGet Version | Assembly Version
------ | --------- | --------
[System.Net.Http](https://www.nuget.org/packages/System.Net.Http/) | 4.3.3 | 4.1.1.2

Is this across the board or just some assemblies?

---

I have to go through mental gymanistics when I get exceptions like this:

- Why NuGet package do I have

[2018-04-26 16:14] jorive commented on #29331
This is happening in the lab when running `build-managed.sh`. Does the script have a retry switch?

[2018-04-26 16:15] danmosemsft commented on #27841
@MarcoRossignoli oops, yes.

[2018-04-26 16:28] danmosemsft commented on #29274
Is that correct @karelz ? It seems a very different thing, few people will replace Trace.Write debugging calls (and reading from a file) with firing ETW events (and using perfview).

I suggest changing this issue into an API proposal (using standard format) for additions to existing trace listener, presumably DefaultTraceListener. If the API is approved, implementation can be copied from the old V

[2018-04-26 16:41] AtsushiKan commented on #14334
#4491 (System.Reflection.Emit.AssemblyBuilder.Save)
#2800 (Assembly.ReflectionOnlyLoad replacement)

These two items are things we'll likely be prototyping in CoreFxLab during the 2.2 timeframe but aren't expected to ship in 2.2 for now but in something afterward. There, I see two ways to move:

1. We're willing to make these netcoreapp only by then.
2. We won't support materializing `TypeInfo` in

[2018-04-26 16:44] kasper3 commented on #29329
missing `port-to-core` tag

[2018-04-26 16:46] bartonjs commented on #29345
Looks like a deserializer problem reading implicitly tagged indefinite length octet strings (missed passing `expectedTag`).  Easy fix, I'll have a PR up in a bit.

[2018-04-26 16:48] bartonjs commented on #29345
[code]

This is a misleading callstack, since it misses the inlined call to the overload that didn't take `expectedTag` :).

[2018-04-26 16:59] Petermarcu commented on #29032
The simple statement of workarounds are:
1. Install .NET Core 2.0 since thats what you are targeting.
2. Target .NET Core 2.1.

[2018-04-26 17:10] Nagendracv commented on #22781
Still same issue here. Tried using 4.6.2 as well as 4.7.1.
Sad the issue is still not addressed
Happens wherever there is Cors package installed which has a dependency on webapi.client package and which depends on System.Net.Http 4.2

[2018-04-26 17:11] tarekgh commented on #29330
The framework depends on the underlying OS for performing the string comparisons. on Linux and Mac we use the ICU library for that. so, in general, you can expect a different behavior between OS's and even between OS's versions.

[2018-04-26 17:11] #29330 closed

[2018-04-26 17:16] kasper3 commented on #29330
sorry I missed it,

[code]

gives
`culture: en-US, currentCultureIgnoreCaseEquality: False, equality: False, ordinalIgnoreCaseEquality: False`
on windows and
`culture: en-US, currentCultureIgnoreCaseEquality: True, equality: False, ordinalIgnoreCaseEquality: False`
on Linux. Tried on both OS with .NET Core 2.0 and 2.1.

@tarekgh, could that be the option we are using in CoreCLR to configure ICU is

[2018-04-26 17:25] krwq commented on #29330
@kasper3 any specific option in mind? If you think this is fixable could your propose a change and a test case?

[2018-04-26 17:31] caesar1995 commented on #23506
Hey @chessar, thanks for reporting this issue!

I'm curious how did you discover this problem, and why do you need to call this function?

The `GetAttributeFromHeader` is an internal helper method inside a private class, which is only used in one place: `string charSet = Helpers.GetAttributeFromHeader(ContentType, "charset");` to get the content type in header.

We will only use it to get headerVa

[2018-04-26 17:40] tarekgh commented on #28933
@khellang

Yes. The scenario in my mind is someone getting an ISO date from some source (which will have the days from 1..7) and then want just call the framework with. if we didn't treat 7 as Sunday, the caller has to do it (doing day % 7) before calling us.

I think I am not confused or maybe I am still confused :-)
From your example it looks when you mentioned 2008, you meant 2008 is the ISO ye

[2018-04-26 17:40] caesar1995 commented on #24420
The managed ClientWebSocket implementation now provides support for all of ClientWebSocketOptions #24288.

@aka-STInG Could you please confirm the problem still exist?

[2018-04-26 17:45] chessar commented on #23506
Hello @caesar1995,
Initially, I post a bug in [https://github.com/Microsoft/referencesource/issues/32](https://github.com/Microsoft/referencesource/issues/32). And there, this is used when getting Files, Form in System.Web.HttpRequest (in the `GetMultipartBoundary`). And then post it here, too. It uses an absolutely identical code.

[2018-04-26 17:51] tarekgh commented on #29330
Could you try calling

[code]

and passing the CompareOptions values IgnoreCase | IgnoreNonSpace | IgnoreSymbols?

I'll it later as I don't have the Linux machine handy now.

[2018-04-26 17:57] maryamariyan commented on #29126
@TrevorFradsham have you tried using the latest version of System.Configuration.ConfigurationManager nuget package. The problem is reproducible in version 4.4.1 but not anymore in 4.5.0-preview2-26406-04

[2018-04-26 18:04] weshaggard commented on #16721
@hughbe are you still hitting this failure? I appear to be hitting it locally now and I'm curious if there is something I need to do to fix it?

[2018-04-26 18:06] weshaggard commented on #16721
[code]
Both of those are failing for me.

[2018-04-26 18:26] caesar1995 commented on #23506
This is .NET Framework issue, and in .NET Core, this legacy function is only used to parse `charset` attribute for `HttpListenerRequest` header value.

It's a convention that we put `charset` parameter at the end of `Content-Type` header (there is no RFC explicitly defines it), so there is no semicolon after it. For now, we don't have issue parsing the value.

@karelz Could you point @chessar a pl

[2018-04-26 18:26] #29207 closed

[2018-04-26 18:27] ahsonkhan commented on #28238
Yes.

Yes, remove the ones already moved to StringTestsSpan that you create in Common. Most have the same name, but some may not.

Let me give you an example. The following tests are essentially identical (and have the same name). The one in System.Memory is specific for spans only. The one in System.Runtime has both span and string. We should keep one copy of the input data and test (and move it

[2018-04-26 18:40] orellabac commented on #23542
I also have libraries that have general db access code that can be used for SqlServer, odbc, or oledb.
Obviously there are portions of code that will not run unless they are on windows but it will be great to have System.Data.oledb to port the library

[2018-04-26 18:45] caesar1995 commented on #27520
I think it's duplicated of #21250.

[2018-04-26 19:04] caesar1995 commented on #26983
SocketsHttpHandler follows WinHttpHandler's behavior, it will send cookies from both CookieContainer and header.

[2018-04-26 19:18] karelz commented on #27468
@Lexcess which NuGet package do you use exactly? [System.Net.Http](https://www.nuget.org/packages/System.Net.Http/)? Which one was the previous version?

@pabmcdonald based on previous post (https://github.com/dotnet/corefx/issues/27468#issuecomment-371505770) it doesn't seem to be a problem in .NET Framework code. Which information is incorrect?

Can someone please clarify if there is simple repr

[2018-04-26 19:27] karelz commented on #22781
@Nagendracv the problem should be fixed if you use latest VS tooling. There are 2 known exceptions: ASP.NET projects (tracked in #28833) and Service Fabric projects (not sure if we have tracking bug created yet - https://github.com/dotnet/corefx/issues/25773#issuecomment-380559133).
If you think you're not in either of those scenarios, please file a new issue with details about your repro, so that

[2018-04-26 19:28] pabmcdonald commented on #27468
@karelz  We are seeing this for a customer using .Net Core Standard 2.0.  If we pass a CancellationToken on the calls to HttpClient it seems to NOT leak.  Just when the calls don't have a token it does.  We can't seem to create a smaller set of code to show it failing.  We can only repro on customers system with their code calling us (we are a library to them).

[2018-04-26 19:33] karelz commented on #27468
@pabmcdonald check if they run on .NET Framework or .NET Core and what are their dependencies (esp. System.Net.Http nuget). You as a library probably target .NET Standard.
Without a confirmed repro there is not much we can do :(.

@caesar1995 can you please in parallel try the original repro? I wonder if it demonstrates a memory leak on .NET Framework.

[2018-04-26 19:45] karelz commented on #23506
@caesar1995 why is it not a problem on .NET Core? I assume we are parsing headers from client. If client doesn't put `Content-Type` at the end, we will have a problem. Or did I misunderstand?

The guidance for .NET Framework bugs is on our main page: https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback

[2018-04-26 19:56] weshaggard commented on #27361
I've been seeing the opposite race condition on core runs which I believe I've uncovered and address with https://github.com/dotnet/corefx/pull/29148/commits/1e24a59325b2bdf5050db70923aca4299dab9ba1.  After debugging through the tests I finally figured out we have a race condition around the creation these dummy images. I suspect this bug exists on .NET Framework as well, so that leg may still fai

[2018-04-26 20:11] caesar1995 commented on #23506
If client doesn't put `charset` parameter at the end of `ContentType` header (very unlikely), we will have a problem. But I think we should wait for customer's report, then to fix it. We can discuss offline.

In .NET Core, the function `GetAttributeFromHeader` is an internal helper method inside a private class, which is _**only**_ used in [one place](https://github.com/dotnet/corefx/blob/ff7f4ba7

[2018-04-26 20:18] caesar1995 commented on #23506
I have tried this data in Core, seems we don't have issue getting the `charset` value (correctly get `UTF-8`). Did you observe anything different?

[2018-04-26 20:24] bartonjs commented on #29345
@samdearden Do you mind if I use your file for a compat test going forward?

[2018-04-26 20:31] khellang commented on #28933
Is there even a difference between an "ISO week year" and a "Gregorian year"? I know they might start and end at different dates, but 2009 in the Gregorian calendar is 2009 in the ISO week calendar, right? It's only confusing once you start involving months and dates.

At least `ISOWeek.GetYearStart(ISOWeek.GetYear(dt))` can be composed nicely.

I'm not sure whether calling it `year` or `isoYear`

[2018-04-26 20:32] chessar commented on #23506
I agree that .NET Core has no problems with this function and apparently it is necessary to close this issue here.
Moreover, if this function is considered obsolete, and (hopefully) it will not be used anywhere else (for example, for `boundary`, as in the .NET Framework). But for System.Web.HttpRequest in the .NET Framework, I think this is an error. In the near future I will make a report in acco

[2018-04-26 20:38] jasongin opened #29354 "IsolatedStorage fails on Mac if ~/.local/share directory does not exist"
**Repro steps:**

1. Start with a clean Mac OS machine, or at least a clean user account on Mac that does not have any `~/.local/share` directory created yet.
2. From a .NET Core app, call `IsolatedStorageFile.GetUserStoreForAssembly()`

**Result**
[code]

**Explanation**
Apparently the [IsolatedStorage call to `Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData)`](https://gi

[2018-04-26 20:40] caesar1995 commented on #23506
Yes, I can confirm it.

I agree. Notice that Microsoft/referencesource is a not-monitored repository. Please follow instructions on this link https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback to report Framework issue. Thanks!

Closing.

[2018-04-26 20:41] pjanotti commented on #29331
I've never hit this before but started yesterday... also Ubuntu 16.04.

[2018-04-26 20:42] tarekgh commented on #28933
If you think the confusion will still exist, then we may keep the original proposal of passing DateTime instead of the year. there would not be any confusion at that time.

The other idea can be having an overload for these APIs, one take DateTime and the other overload will take the year as you proposed. I still prefer calling the parameter as isoYear for that overload.

[2018-04-26 20:45] chessar commented on #23506
OK, @caesar1995 , and thank you.

[2018-04-26 20:57] pjanotti commented on #29331
Something seems to have changed and also repros on macOS. If I do the following:
[code]
The second build fails complaining about all (?) dlls under bin/obj/ref/**/netstandard/*.dll - this didn't happen before.

1.

[2018-04-26 21:00] morganbr commented on #29258
Ah, right you are. I just didn't find it in the contract sources due to magic in how System.Runtime is built. In that case, I'll go ahead and mark this ready for review.

[2018-04-26 21:03] khellang commented on #28933
I just really struggle to understand how it makes it less confusing. It forces you to come up with some redundant input, while still passing in the same year integer. In my mind, that's not only as confusing, but also more work for no benefit.

[2018-04-26 21:47] karelz commented on #23506
Discussed offline. In theory client can send the `charset` in the middle. Let's try to fix the function. If it is too difficult I am ok to give up, given that we do not have any real-world scenario broken (yet).
However, the parsing doesn't sound correct, so if we can fix it cheaply and with low-risk that would be great.

[2018-04-26 21:53] weshaggard commented on #27361
https://github.com/dotnet/corefx/pull/29148/commits/19f882ef40faef60f07c3cf60eb1609c64b8365f updated the tests to handle the netfx behavior as well so there shouldn't be any ordering issues.

[2018-04-26 21:59] ViktorHofer commented on #14334
what about exposing the TypeInfo ctor in netfx as well?

[2018-04-26 22:30] danmosemsft commented on #16721
What does it produce, empty string, or some unexpected path?

[2018-04-26 22:33] jcouv commented on #3481
Note:  The ["async streams"](https://github.com/dotnet/roslyn/issues/24037) feature is running into a similar question.
When generating a type that implements `IAsyncEnumerable` (from an `async IAsyncEnumerable M() {...}` method), the compiler will produce a `GetAsyncEnumerator()` method.

Based on the discussion above, I will stick with the current pattern (if state machine is stopped and if it c

[2018-04-26 22:52] weshaggard commented on #16721
Empty.

I'm planning to just exclude those 2 in the test data https://github.com/dotnet/corefx/pull/29148/commits/3976762b16dbf1b452057a6eaba4fa82fda7d506

[2018-04-26 22:52] #29341 closed

[2018-04-26 22:53] tarekgh commented on #28933
Let's move on and confirm the APIs proposal that I think all of us agree on it now:

[code]

does this sound right?

[2018-04-26 22:58] BruceForstall commented on #28856
@Anipik Is this now fixed (and can be closed)?

[2018-04-26 23:07] Anipik commented on #28856
@BruceForstall ywah the tests are disabled for now

[2018-04-27 00:10] #29308 closed

[2018-04-27 00:26] danmosemsft commented on #29323
Seems that on macOS FileSystemAttributes.Hidden should check both the leading dot and this special system flag. Sound right @JeremyKuhne ?

[2018-04-27 00:28] danmosemsft commented on #29320
Seems that this codepath attempts to create a file -- perhaps we need a lock around SetAppXConfiguration() ?
[code]

[2018-04-27 01:00] stephentoub opened #29360 "[Uri] Uri.FindOrFetchAsUnknownV1Syntax is breaking thread-safety"
When Uri's CheckSchemeSyntax encounters an unknown scheme, it uses FindOrFetchAsUnknownV1Syntax to look up the scheme in a cache, implemented with a dictionary.  This cache is static and thus shared across all threads, and FindOrFetchAsUnknownV1Syntax is attempting to be thread-safe, by using a lock to protect writes to the dictionary.  But it's not using a lock to protect the reads in this functi

[2018-04-27 01:33] Priya91 opened #29362 "Assembly informational attributes not applied for .net core app"
**Repro:**

1. Create a .net core app
2. Set the following properties in the csproj

[code]
3. Publish the app.

**Expected:**
The properties on ```<assemblyname>.exe``` are set as per the info provided in the csproj.

**Actual:**
The properties are set only for ```<assemblyname>.dll```, not on the ```<assemblyname>.exe```. Note, the .exe is the one that runs, and is shown in task manager, firewal

[2018-04-27 01:33] mconnew commented on #27484
From this issue: https://github.com/dotnet/corefx/issues/27484#issuecomment-384074541

There's a link to this data in corefx with a screenshot showing Linux data in the same comment:

https://benchview/trendline?build_selector=latest&count=2000&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=%5B957%5D&archids=%5B23%5D&mpids=%5B1292%5D&cfgids=%5B2785,2706%5D&te

[2018-04-27 02:05] stephentoub commented on #29343
Thanks for highlighting this.

This is really bad. We need to fix it for 2.1 RTM.

[2018-04-27 05:37] iSazonov commented on #28933
Should `ToDateTime()` be `ToGregorianDateTime()`?

[2018-04-27 05:44] khellang commented on #28933
Yes! Thank you, @tarekgh ♥️

[2018-04-27 06:14] ShawnSteele commented on #28933
Sorry, I was out for a couple days.
I'm not fond of "DayOfWeek", because in the ISO Week Calendar, "day" is more like "date" in a traditional calendar.  Instead of 12 months, this calendar has 52 or 53 weeks.  Instead of "day of month" it has "day of week".  And those are explicitly 1-7, like in 2018-W23-7.  If it takes "DayOfWeek", then someone has to convert them and it isn't "natural" for this

[2018-04-27 06:24] ShawnSteele commented on #28933
Sorry, I was out for a couple of days.

I'm not terribly fond of the "DayOfWeek".  ISO Week Calendars have weeks equivalent to months of a traditional Gregorian calendar, and the day of week number is similar to the day of month number in a normal calendar.  So it formats things like 2018-W12-7.  We happen to know which "day" that 7 corresponds to, however the ISO Week format specifies day numbers

[2018-04-27 06:29] khellang commented on #28933
I don't think we should get too hung up on the values. The enum provides a way to represent "day of week", and it's used all over the .NET calendar/date/time APIs already. We should at least provide an overload with it, so it works seamlessly with the other APIs.

Yes, that's why I said:

[2018-04-27 06:41] electricessence opened #29364 "Question: System.Data Extensions..."
I've been working on simplifying ADO usage with extensions that work with the ADO interfaces and classes.

I'm at a point that I believe at least some (most) of the code base is worthy of integration/extension of the System.Data namespace and the rest may or may not need revision/consideration.

So many operations like executing a command require many lines of code to setup and properly execute.

[2018-04-27 07:29] samdearden commented on #29345
@bartonjs Go ahead, its just a test file.

[2018-04-27 07:38] iSazonov commented on #26954
In PowerShell repo we got first experience of using Span<T> and `stackalloc`. We found that we use one pattern:
[code]

Based on the discussion we would have to implement:
[code]
`RedLineStackallocTheshold` protects from stack overflow.
`StackallocTheshold` is important - it guarantees optimal use of the stack because we use `stackalloc` in nested functions. This value can only be selected based o

[2018-04-27 08:36] Sunny-pu commented on #24504
failed in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/600/testReport/System.Threading.Tests/MutexTests/CrossProcess_NamedMutex_ProtectedFileAccessAtomic_prefix____0d700b44018a4b90b59ef24b62beb9d7___/

[2018-04-27 09:04] svick opened #29365 "Should there be a .Net Standard 2.0 version of Reflection.Emit?"
System.Reflection.Emit is not part of .Net Standard, but there are packages that let you use it from a .Net Standard library (specifically, [System.Reflection.Emit](https://www.nuget.org/packages/System.Reflection.Emit/) and [System.Reflection.Emit.Lightweight](https://www.nuget.org/packages/System.Reflection.Emit.Lightweight/)). But those packages do not have a .Net Standard 2.0 version, only .Ne