[2018-08-27 19:01] weshaggard commented on #29383
I'm actively working through the issues right now.

[2018-08-27 19:11] geoffkizer opened #31979 "HTTP2: Support responses with trailers"
HTTP2 allows sending trailers. It does this in HEADERS/CONTINUATION frames that follow the response body, similar to HTTP/1.1 with chunked encoding.

We need to read and ignore these trailers, just as we do for HTTP/1.1 currently.

[2018-08-27 19:18] #30597 closed

[2018-08-27 19:29] karelz commented on #31969
We can consider it for 2.2 or even 2.1.x IMO.
To make the case it would help to provide some numbers. Lots of issues above have workarounds higher up in the stack. Would it be possible to measure one of them (e.g. https://github.com/aspnet/KestrelHttpServer/issues/2840 leading to OOM) with and without the fix to justify the change? (it would also serve as verification that the fix is the key probl

[2018-08-27 19:38] ViktorHofer commented on #27064
Happening again: https://mc.dot.net/#/user/ViktorHofer/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/cbcd432a8a1683a6e01bb0c51beb8570f121b860/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_Cancellation_Test~2FMaxConnectionsPerServer_WaitingConnectionsAreCancelable

[2018-08-27 20:00] stewartdclark commented on #31943
Sure we'd be happy to give 3.0 a try. Also note, one of the odd things about this case is, I've read in some cases/issues where other teams have reported they were able to authenticate with a proxy server in .NET Core 2.0 (using the WinHTTP Stack), but then started having issues on .NET Core 2.1 when the underlying TCP stack moved to SocketsHTTP, but our code does not send proxy authentication hea

[2018-08-27 20:09] #31873 closed

[2018-08-27 20:09] #31978 closed

[2018-08-27 20:09] davidsh commented on #31943
In terms of .NET Core 2.0 on Linux, Windows auth schemes such as NTLM or Negotiate are NOT supported for authentication to a proxy server.  This is a limitation of the HTTP stack (which uses Curl) on .NET Core 2.0 on Linux.

See: #27870

[2018-08-27 20:55] weshaggard commented on #24320
I'd like to still keep this issue open until we clean-up the various VS2015 support things in various scripts in our repo (see https://github.com/dotnet/corefx/search?q=vs2015&unscoped_q=vs2015).

[2018-08-27 21:08] geoffkizer commented on #31969
It's a little scary that ASPNET puts the HttpContext into the ExecutionContext. ExecutionContext flow (which happens on async invocation) is optimized for using the default EC. There may be some added overhead in flowing non-default ECs. Not sure, but this might be worth looking into...

[2018-08-27 21:19] #31907 closed

[2018-08-27 21:31] maryamariyan opened #31983 "Test failure: System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern/CurrencyNegativePattern_Get(locale: \"fa-IR\")"
The test `System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern.CurrencyNegativePattern_Get(locale: "fa-IR")` has failed.

Assert.Contains() Failure
    Not found: 1
    In value: Int32[] [8]

Failing in: `macOS Mojave (10.14)`
Not in: `macOS High Sierra (10.13)`

branch: release/1.0.0

[2018-08-27 21:36] maryamariyan opened #31984 "Test failure: System.Console.Tests.TermInfo/VerifyTermInfoSupportsNewAndLegacyNcurses()"
The test `System.Console.Tests.TermInfo/VerifyTermInfoSupportsNewAndLegacyNcurses()` has failed.

System.InvalidOperationException : The terminfo database is invalid.

Stack Trace:
[code]

Failing in: `macOS Mojave (10.14)`
Not in: `macOS High Sierra (10.13)`

branch: release/1.0.0

[2018-08-27 21:41] maryamariyan opened #31985 "Test failure: System.Text.RegularExpressions.Tests.RegexGroupTests/Groups(pattern: ...)"
The test `System.Text.RegularExpressions.Tests.RegexGroupTests.Groups(pattern: "[B-D\u0130]+", input: "aAeEĩıh BCDbcDİip", options: IgnoreCase, expectedGroups: ["BCDbcDİi"])` has failed.

Assert.Equal() Failure ↓ (pos 7) Expected: BCDbcDİi Actual: BCDbcDİ ↑ (pos 7)

Stack Trace:
[code]

Failing in: `macOS Mojave (10.14)`
Not in: `macOS High Sierra (10.13)`

branch: release/1.0.0

[2018-08-27 21:56] davidfowl commented on #31969
@geoffkizer a necessary evil to satisfy our customers that need access to the "current" http request. It's not on by default but can be turned on.

[2018-08-27 22:03] stewartdclark commented on #31943
Yes, agreed. Sorry, I didn't provide the context that this is precisely why we started testing with the simple console app (posted above) on Windows. We were trying to remove the Linux container as a variable and figured we'd surely be able to see the auth headers in Fiddler from a simple console app on Windows, but we were surprised (and stumped) that no auth headers are presented, and even more

[2018-08-27 22:06] davidsh commented on #31943
Many of the proxy-related bugs fixed in master branch (3.0) have already been ported to the 2.1.x servicing branches. Those bugs were ones were the bug appeared in .NET Core 2.1 but were not present in .NET Core 2.0.

It's possible that your bug is something different (although related to proxy auth scenario).  But testing it against the very latest 3.0 daily build will help identify root cause.

[2018-08-27 22:06] davidsh commented on #31943
cc: @karelz

[2018-08-27 22:09] weshaggard opened #31987 "Assembly version for System.ValueTuple is incorrect"
While investigating something else today @ericstj and I noticed that the assembly version for System.ValueTuple.dll shipped as 4.0.3.0 in 2.1 and as such may cause some assembly-ref-def mismatches on some platforms.

.NET Framework in version 4.7.1 has version 4.0.2.0 inbox, but the latest System.ValueTuple package has references for net461/net47/portable that have version 4.0.3.0. We might be OK

[2018-08-27 22:13] geoffkizer commented on #31969
Ah, cool.

If it's common to use this, it might be worthwhile seeing if there's more we can do to optimize EC flow for non-default ECs. It's been a while since I've looked at that code so I don't really know.

[2018-08-27 22:14] weshaggard commented on #31987
@Anipik I explicitly tagged as 2.1.x as I think we need to investigate if there is something we should service here.

[2018-08-27 22:15] chennas commented on #29147
Hi Team,
We are getting the below error, when connecting to remote sql server from docker container, what configuration ports/settings we have to enable?

excelfilecreation_1  |    at System.Data.SqlClient.SqlInternalConnectionTds..ctor(DbConnectionPoolIdentity identity, SqlConnectionString connectionOptions, SqlCredential credential, Object providerInfo, String newPassword, SecureString newSecure

[2018-08-27 23:04] kichalla opened #31990 "Provide a way to get the information about the actual command line used when using Process's ArgumentList"
I like that there's now a new property called `ArgumentList` on `ProcessStartInfo`.

For diagnostic purposes, I was looking to print out the actual command that was used to create the process. i.e I would like to see the command after any of its arguments were escaped etc.

[2018-08-27 23:27] safern commented on #31895
@softsan any luck?

[2018-08-27 23:30] fiigii commented on #31425
I still would like to say that the current approach is very efficient (https://github.com/dotnet/corefx/pull/31779#issuecomment-413756391).

Each `S.N.Vector` intrinsic in https://github.com/dotnet/corefx/issues/31425#issuecomment-415863096 loads data src, does some simple SIMD computation, and stores the result beck memory.  That would be fine for micro-benchmarks and `Matrix4x4` (that was not ve

[2018-08-27 23:34] karelz commented on #29147
@alexmg the milestone reflects that the issue was closed during the 3.0 work.

If you look at comment history, it was closed, because it was confirmed to work fine on 2.1 images: https://github.com/dotnet/corefx/issues/29147#issuecomment-399375323
If you have evidence it is not true, please provide some details. Thanks!

[2018-08-27 23:38] karelz commented on #29147
@mleyb can you please specify which images you think need still fixing?

@AfsanehR can you please check if the problem is truly addressed in all places devs expect them? Thanks!

[2018-08-27 23:38] tannergooding commented on #31425
@fiigii, these are likely things that the JIT will have to fix. Without it, only code in System.Private.CoreLib will be able to remain efficient and any user defined structs will be hit with these inefficiencies. CC. @CarolEidt

[2018-08-27 23:44] fiigii commented on #31425
AFAIK, that would be really difficult.
Why not just add an "internal" intrinsic that converts `Vector128<T>/Vector256<T>` between `S.N.Vectors` (like `StaticCast<T, U>`)?

[2018-08-27 23:45] karelz commented on #31943
@stewartdclark to set expectations: 2.0 is near end of support (see [here](https://github.com/dotnet/core/blob/master/microsoft-support.md#net-core-releases)) in 1 month, so we won't likely patch it, unless it is a security problem.
We port fixes into 2.1 servicing for impactful bugs. They need to be fixed first in master (3.0). Let's first root-cause your problem (ideally on master=3.0) as it see

[2018-08-27 23:49] tannergooding commented on #31425
Because not everyone uses `S.N.Vectors`, some people use their own Vector types (like Unity or Math.NET, etc)

[2018-08-27 23:51] benaadams commented on #31425
There's an issue for it https://github.com/dotnet/coreclr/issues/18542#issuecomment-399727861

[2018-08-28 00:11] dsplaisted commented on #29622
@UM001 Were you trying to retarget your app to .NET 4.7.1, as recommended in [this documentation](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls)?  If so, you should probably be able to just uninstall the System.Net.Http NuGet package.

[2018-08-28 00:30] bartonjs commented on #31743
They seem to largely be random memory spray problems, the most succinct seems to be

[code]

The CLI it's running is

[code]

That CLI build was built 11 months before the fix to how we handle libcurl+(a clone of openssl), so it seems like it doesn't have it.  But maybe the CLI version can lag the framework assets.  @weshaggard, any thoughts here?

[2018-08-28 02:48] alexmg commented on #29147
@karelz It was the `microsoft/dotnet:2.1-runtime-alpine` image that I had to update with the following to resolve the issue.

[code]

I assumed the need to add `icu-libs` and set the `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT` environment variable was a temporary workaround for the issue, and that future images would be updated to remove the need for this.

[2018-08-28 02:49] Sunny-pu commented on #24065
Failed again: https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20180828.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpRequestStreamTests~2FRead_InvalidOffset_ThrowsArgumentOutOfRangeException(offset:%203,%20chunked:%20True)

[2018-08-28 03:41] noctis0430 opened #31995 "Proposal: Add OldValue and NewValue properties in PropertyChangedEventArgs."
Sometime there is a need to subscribe to `INotifyPropertyChanged.PropertyChanged` event of a model from another view model, e.g. logging of property changes of the model from the view model. Current `PropertyChangedEventArgs` does not have a `OldValue` and `NewValue` property for this purpose.

### **Proposal: Add OldValue & NewValue properties**

    public class PropertyChangedEventArgs : EventA

[2018-08-28 03:43] noctis0430 commented on #31995
https://github.com/dotnet/csharplang/issues/1818

[2018-08-28 04:03] ahsonkhan commented on #31847
Another example of discrepancy with a fairly trivial repro (useful test case for future reference):
[code]

Also, the debugger is showing the same, incorrect value (it is most likely just calling ToString under the covers anyway):
![image](https://user-images.githubusercontent.com/6527137/44700133-7acfd280-aa3c-11e8-81bb-e8f8b5df3b45.png)

cc @jkotas

[2018-08-28 04:16] tannergooding commented on #31847
@ahsonkhan, I actually don't see what is wrong with your example. What are you expecting the values to be?

[2018-08-28 04:45] tannergooding commented on #31847
That is an incorrect expectation.

`String -> Double -> String` is never guaranteed to roundtrip, because a string may have a value that is not exactly representable by a double (as the case you gave shows).
* This is the sequence happening here, because the compiler has to take the string "88.102843" from source code and parse it into a double during compilation
Round-tripping is only guaranteed

[2018-08-28 04:47] tannergooding commented on #31847
For reference, in the case of your code, `88.102843` cannot be exactly represented by the double-precision format and the closest representable number (according to the IEEE rounding rules) is `88.102842999999993` (binary representation: 0x40560694FACE67D7).

The two surrounding values are:
* 88.102842999999979 (binary representation: 0x40560694FACE67D6)
* 88.102843000000007 (binary representation

[2018-08-28 05:51] tannergooding commented on #31995
Would a new subclass, `PropertyChangedEventArgs<T>` be a better idea?

That would remove the need for boxing and would not grow the size of the object for existing users.

[2018-08-28 06:50] mleyb commented on #29147
@karelz exactly the same image for us as @alexmg above

[2018-08-28 06:50] harvinders opened #31996 "System.DirectoryServices.Protocols not supported on UWP?"
I has trying to use `LdapConnection` in a UWP app and I get following exception. [#2089](https://github.com/dotnet/corefx/issues/2089) mentions that `System.DirectoryServices.Protocols` works on windows platform. Am I missing something or it really does not work on UWP?

[code]

[2018-08-28 06:57] noctis0430 commented on #31995
@tannergooding That will means the following

    public class PropertyChangedEventArgs<T> : EventArgs
    {
        // Properties.
        public string PropertyName { get; set; }
        public T OldValue { get; set; }
        public T NewValue { get; set; }

        // ctor.
        public PropertyChangedEventArgs(string propertyName, T oldValue = default(T), T newValue = default(T))
        {

[2018-08-28 08:58] lukepuplett commented on #31692
Thank you for this, and thank you for your answer on SO.

https://stackoverflow.com/questions/51749071/diagnosticsource-diagnosticlistener-for-frameworks-only

Your answer implies that an SF application comprising all .NET 2.1 Reliable Services should automatically add a `Request-Id` header to outbound requests, as per code in:

corefx/src/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs

[2018-08-28 09:01] mgravell opened #31997 "nupkg packaging of System.IO.Compression is broken for net472"
In reference to [System.IO.Compresssion](https://www.nuget.org/packages/System.IO.Compression/), current version is 4.3.0

Isssue *only* seems to impact `net472`

Example (designed to test multiple frameworks)

[code]

with

[code]

This compiles fine for all frameworks *except* `net472`. This fails to resolve the assembly correctly:

[code]

[2018-08-28 09:13] mgravell commented on #31997
Observation: nothing in the existing nupkg targets net47* - it stops at `<group targetFramework=".NETFramework4.6" />` - so I guess this is something in the resolver itself that makes `net472`  pick a different path than `net47`/`net471`

[2018-08-28 09:56] mgravell commented on #31997
Closing; this seems to have already been fixed - the problem above happens when using 2.1.300, but is fixed when using 2.1.401

I'd still love to know what the problem was/is, though, as it may impact my consumers.

[2018-08-28 09:56] #31997 closed

[2018-08-28 10:04] tannergooding commented on #31995
Why would you have to implement a generic interface? You could continue using regular `INotifyPropertyChanged` and just type check and cast the event args.

[2018-08-28 10:45] noctis0430 commented on #31995
@tannergooding Looking back on your previous comment, you'd mentioned **subclass**, which I obviously have missed out. So the subclass will be

[code]

Event handler at the view model has to cast the event argument accordingly.

[code]

The (probably) downside is that there will be multiple case that perform the same operation (i.e. adding log). Probably there is a better way to do that?

[2018-08-28 11:35] LasseNisted opened #31999 "LoadWithPartialName should not throw according to documentation"
According to the documentation at
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.loadwithpartialname?view=netcore-2.1
Assembly.LoadWithPartialName should not throw a FileNotFoundException. And this is also the case in .NET Framework 4.7.1. However, in .NET Core 2.1 it is implemented via Assembly.Load which throws. The documentation or implementation should be updated.

[2018-08-28 11:39] filipnavara commented on #31996
I don't think the LDAP APIs (eg. ldap_init) are available to UWP apps. Besides, your question was already answered in the issue you linked:

No, it is supported only for net core apps running on Windows and full framework. if you use it in UWP or on Linux, you'll get a PlatformNotSupported exception.

[2018-08-28 13:32] jnm2 commented on #31995
@noctis0430 You could also define your own `INotifyPropertyChanged<T> : INotifyPropertyChanged` so that you don't have to cast.

[2018-08-28 13:34] bartonjs opened #32000 "System.Net.Http.Functional.Tests timing out"
https://mc.dot.net/#/user/filipnavara/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/68ed63990b09ad9ceea911374da90acb1b042a89/workItem/System.Net.Http.Functional.Tests/wilogs currently show timeouts being hit on

* RedHat.74.Amd64.Open-x64:Release
* Centos.74.Amd64.Open-x64:Release

The failed runs all indicate that the xunit process made progress, then stopped printing to t

[2018-08-28 13:34] DanFTRX commented on #31995
This is entirely possible to implement with extension methods and the existing event, albeit with a bit more memory usage, and honestly I'd rather not see it become a core library part because then people would need to write code handling both the new and the old ways of doing it for years because adding new API doesn't magically update all users of the old API.  Not to mention that if you supply

[2018-08-28 15:38] karelz commented on #32000
We have seen these type of failures in networking nightly runs for quite some time. Mostly on Win7, but occasionally on OSX (more) and Linux (rarely).
I expect there is some failure condition leading to deadlock during the test runs.

[2018-08-28 15:54] iSazonov commented on #31972
@danmosemsft The PR is pushed.

[2018-08-28 15:55] safern commented on #31942
@TylerBrinkley thanks for the great summary, I just updated the issue description and included this comparison in there. Will mark as ready for review now.

[2018-08-28 15:56] TylerBrinkley commented on #26634
Moved to [corefxlab#2456](https://github.com/dotnet/corefxlab/issues/2456) as part of the specialized collections initiative.

[2018-08-28 15:56] #26634 closed

[2018-08-28 15:59] TylerBrinkley commented on #26638
Moved to [corefxlab#2457](https://github.com/dotnet/corefxlab/issues/2457) as part of the specialized collections initiative.

[2018-08-28 15:59] #26638 closed

[2018-08-28 16:32] maryamariyan opened #32003 "segfault running System.Security.Cryptography "Algorithms" and "OpenSsl" tests"
As reported earlier in issue dotnet/corefx#31743, building corefx and coreclr in release branch 1.1.0 on macOS High Sierra and Mojave (versions 10.13+) segfaults during init-tools command.

In addition to that, when using binary bits built from macOS Sierra (10.12) I noticed the following two security test projects also got segfaults:
-	System.Security.Cryptography.Algorithms.Tests
-	System.Securi

[2018-08-28 16:33] mklement0 opened #32004 "System.Console unexpectedly uses a UTF-8 encoding *with BOM* on Unix"
On Unix-like platforms, the character encoding to use by default in `System.Console` instances is determined as follows:

* If any of the following environment variables are set (which is the norm), the character encoding is derived from the first one that is defined: `LC_ALL`, `LC_MESSAGES`, `LANG`); e.g., if
`LANG="en_US.UTF-8"` is present, string `"UTF-8"` is extracted and the `Encoding` instan

[2018-08-28 17:16] christiaanverwijs commented on #30349
+1 for me. I have also have this issue in this code (which used to work):

                client.Timeout = new TimeSpan(0, 0, 120);
                client.DefaultRequestHeaders.Accept.Clear();
                client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));
                client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("

[2018-08-28 17:32] kugarliyifan opened #32005 "How Can I Use ClientCertificates in HttpClientFactory.CreateClient"
i use Microsoft.Extensions.Http library ,in my scene,only before call SendAsync function ,i can know use which X509Certificate,it just like that,i has many customer config data,when call the webapi,need to send the the customer's clientCertificate before call httpclient's sendasync function ,,but HttpClientFactory.CreateClient can't pass the new handler to client,   how can i solve the scene???any

[2018-08-28 17:33] karelz commented on #29147
Hmmm, looks like it should not have been closed. @AfsanehR can you please comment and reopen (if applicable)? cc @David-Engel @keeratsingh

What has to happen to get it fixed in the Docker images? Or is the workaround the only thing we will support?

[2018-08-28 17:34] cdmihai commented on #31942
Overloads for `ConcurrentDictionary` would also be nice :)

[2018-08-28 17:39] terrajobst commented on #30643
@MichalStrehovsky

Is this proposal still relevant? I thought we landed on having a private API for now.

[2018-08-28 17:43] AfsanehR commented on #29147
@karelz I had checked with dotnet:2.1-sdk-alpine version. I will confirm with @David-Engel and update you soon.

[2018-08-28 17:46] terrajobst commented on #31011
We can probably cut the APIs that don't specify a element (because `default(T)` doesn't seem reasonable) but it's still 6 APIs. We feel like we need a bit more justification to add these APIs.

@schungx what are the scenarios where you needed this API?

[2018-08-28 17:46] tmat commented on #27802
@terrajobst Is right that this API would need to deal with the case where a method is shared among multiple properties/events. It'd also be linear lookup, so perhaps this is not the best API.

@dgrunwald
PropertyDefinition.GetAccessors return 'other' accessors in the latest version: https://source.dot.net/#System.Reflection.Metadata/System/Reflection/Metadata/TypeSystem/HandleCollections.TypeSyste

[2018-08-28 17:46] #31505 closed

[2018-08-28 17:47] maryamariyan opened #32007 "Segfault running System.Net.Requests.Tests on release 1.1.x"
branch: release/1.1.0
segfault on:
- macOS High Sierra and Mojave (10.13+)
- (mission control shows failure on `Redhat.72.Amd64-AnyCPU` and `OSX.1013.Amd64-AnyCPU` failing but not on `OSX.1012.Amd64-AnyCPU`)
**Note:** The catastrophic failure seen from mission control for Redhat.72.Amd64-AnyCPU is unrelated to this issue. (refer to [this comment](https://github.com/dotnet/corefx/issues/32007#issue

[2018-08-28 17:47] #27802 closed

[2018-08-28 17:47] davidsh commented on #32005
@karelz - Where is HttpClientFactory repo?  This needs to be moved there.  I think it is ASP.NET.

[2018-08-28 17:47] karelz commented on #31011
Also, the original ask (from title) is also for `Memory` and `Span`. Do we need those? If not, let's change the title.

[2018-08-28 17:49] maryamariyan commented on #32007
[code]

[2018-08-28 17:49] CarolEidt commented on #31425
Why not just add an "internal" intrinsic that converts Vector128<T>/Vector256<T> between S.N.Vectors (like StaticCast<T, U>)?

First, without a full analysis of where the inefficiency is coming from in this case, it is hard to say how difficult this would be.

On the other hand, the messiness of a conversion intrinsic would not only be a non-trivial amount of work, but would be an unfortunate way

[2018-08-28 17:51] kugarliyifan commented on #32005
@davidsh    i view the HttpClientFactory repo issues,,,too few member,,,,,,,

[2018-08-28 17:51] GrabYourPitchforks commented on #31380
This has been fixed in the `feature/utf8string` branch.

[2018-08-28 17:51] #31380 closed

[2018-08-28 17:52] terrajobst commented on #31488
@JeremyKuhne

What would it look like if were to add them back where they were? How bad would the dependency be? These APIs show up a lot in porting.

[2018-08-28 17:54] karelz commented on #32005
This issue was moved to aspnet/HttpClientFactory#164

[2018-08-28 17:54] #32005 closed

[2018-08-28 17:54] karelz commented on #32005
@kugarliyifan that is the right place to file the issues though. Different set of people than here.

[2018-08-28 17:55] terrajobst commented on #31511
Makes sense. A few points:

* We should probably add corresponding APIs to `FileInfo` and `DirectorInfo`.
* Can this be implemented on Mac/Linux/Unix?

[2018-08-28 17:58] karelz commented on #32007
Are you able to reproduce it locally @maryamariyan? Is it 100%?
Is it part of some Mojave support effort?

[2018-08-28 17:59] maryamariyan commented on #32007
Yes I can repro locally on both Mojave and High Sierra

[2018-08-28 18:01] danmosemsft commented on #32003
Do we know the tests work OK on Sierra? (I assume so as they were probably originally developed on Sierra)

I wonder if the OpenSSL headers we build against on Sierra do not match the libcrypto version on High Sierra/Mojave.

[2018-08-28 18:03] maryamariyan commented on #32003
@danmosemsft I don't think it works on Sierra or even other Unix distros (basing my observation from mission control)

[2018-08-28 18:14] AfsanehR commented on #29147
@karelz I wonder if this should be taken up by this repo: [https://github.com/dotnet/dotnet-docker](https://github.com/dotnet/dotnet-docker)
We are not aware of the process to get the fix in Docker images.

[2018-08-28 18:37] mstum commented on #31858
In my specific use case, I have to work with an HTTP Header that sends the values above (`X-SomeApp-Data: foo=bar,barman="one two three",charset=utf-8`), but that same string could also be sent via body or query string.

You're right that maybe this isn't really specific to the HTTP Stack, it just conincidentially happens to have the exact functionality that I need to parse that string (and deal w

[2018-08-28 18:40] terrajobst commented on #31903
Some minor feedback:

* NextValue -> BitIncrement
* PreviousValue -> BitDecrement
* Copysign -> CopySign

[2018-08-28 18:45] karelz commented on #29147
@AfsanehR I am still a bit behind on understanding what is the problem ... if the problem is that a specific dependency of .NET Core is NOT present in specific Docker images, then yes, we should move it there - with explicit explanation what is missing where.

Or am I still missing some point here?

[2018-08-28 18:46] karelz commented on #32007
Is it higher-pri for your effort?
If yes, please work with @wfurt on debugging guidance. We may not get to it for a while sadly :(

[2018-08-28 18:55] Rutix commented on #15554
Hi @JeremyKuhne I want to give a shot to up the code coverage for this issue :). Any pointers which parts are the big wins ? Or should I just look at https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/ and pick the ones with the biggest blocks uncovered?

[2018-08-28 18:56] wfurt commented on #32007
Do you have trace from Redhat.72 run @maryamariyan ??? We should have functional sosplugin there and we should be able to get more information.

[2018-08-28 19:04] terrajobst commented on #31942
On the surface, the extension approach looks more appealing because it would allow the lookups to work against any instance of a dictionary (at least in principle, the current design only works if the dictionary was instantiated with a comparer that implements `IStringEqualityComparer`).

However, this also complicates the implementation and might have performance implications if we have to expose

[2018-08-28 19:18] MarcusWichelmann opened #32008 "Path.Combine and Uri violate Principle of least suprise"
The `Path.Combine (string path1, string path2)` method and the Uri constructor `Uri (Uri baseUri, string relativeUri)` behave very unexpected when the second parameter (the relative path) is an absolute path.

A very common use-case for these handy methods is, that the first parameter is an absolute path like `C:\RootDir\` and the second parameter is a user-defined relative path like `foo\bar.txt`

[2018-08-28 19:27] Treit commented on #21197
This issue does not seem to be resolved, or there is a variation on it that is exposed when attempting to consume a .NET Standard library from a unit test project. I see PlatformNotSupportedException if the unit test exercises code in a .NET Standard library that attempts to access ConfigurationManager.AppSettings.

I have created a simple demonstration project that reproduces the issue:

https://

[2018-08-28 19:30] maryamariyan opened #32009 "Segfault running System.Net.Http.Functional.Tests on release 1.1.x"
branch: release/1.1.0
segfault on:
- (mission control shows catastrophic failure on `Redhat.72.Amd64-AnyCPU` and `OSX.1013.Amd64-AnyCPU` and just failure on the rest)
**Note:** The catastrophic failure seen from mission control for Redhat.72.Amd64-AnyCPU is unrelated to this issue. (refer to this comment)
- macOS High Sierra and Mojave (10.13+) call stack from core dump:

[code]

cc: @karelz

[2018-08-28 19:31] maryamariyan commented on #32009
[code]

[2018-08-28 19:41] mstum opened #32010 "Add a SignedXml.CheckSignature method that returns information about the signed elements"
SignedXml.CheckSignature currently only returns a boolean value, with not much information about what is covered. This adds additional work when trying to validate whether an element I'm trying to process is covered by a valid Signature. Reasons for having to know this are [XML Signature Wrapping](http://www.ws-attacks.org/XML_Signature_Wrapping) attacks, or just sloppiness from the sender, where

[2018-08-28 19:46] maryamariyan commented on #32009
More on System.Net.Http.Functional.Tests
[code]

[2018-08-28 19:47] NickCraver commented on #32010
cc @terrajobst @karelz

[2018-08-28 19:51] maryamariyan commented on #32007
I will update both this issue and https://github.com/dotnet/corefx/issues/32009 with trace from Redhat.72 once I have it

[2018-08-28 20:41] AfsanehR commented on #29147
@karelz  yes, this is not a SqlClient issue. Either the base image of the docker file should be updated to have the icu-libs or the Dockerfile, for instance [here ](https://github.com/dotnet/dotnet-docker/blob/master/2.1/runtime/alpine3.7/amd64/Dockerfile), needs to have the following two lines suggested earlier.
[code]

[2018-08-28 20:53] ahsonkhan commented on #31011
We already have the T=char Trim APIs approved for ReadOnlyMemory. I would assume the same rationale would apply here for the generic ReadOnlyMemory. So, if we add the span-based ones, we should add the memory-based ones too.

https://github.com/dotnet/corefx/issues/30592

[2018-08-28 20:57] svick commented on #31903
What is the point of `MaxMagnitude` and `MinMagnitude`? That operation doesn't sound very common to me (but I could be wrong) and can be easily expressed with the existing API.

[2018-08-28 21:01] JeremyKuhne commented on #15554
@rutix Great! Pick whatever seems interesting to you off of that list. One other suggestion is to go through the docs and try to make sure we have tests covering the described scenarios there.

[2018-08-28 21:13] jkotas commented on #31942
This is trying to workaround the fundamental problem that ref-like types cannot be used as keys in collections today. We will hit the same problem for all keyed collections and many ref-like types. @cdmihai mentioned that `ConcurrentDictionary` would be nice too. The same can be said for `HashMap` and other collections. And the same can be said for Utf8 strings, Spans and other ref-like types. If

[2018-08-28 21:15] tannergooding commented on #31903
The purpose is to provide an efficient way to do `Math.Min(Math.Abs(x), Math.Abs(y))` or `Math.Max(Math.Abs(x), Math.Abs(y))`, but as a single operation.

The primary use-case (to my knowledge) is to ensure that a list of values are sorted so-as to minimize floating-point rounding errors when operating on a list where order would not matter for "normal" math rules.

[2018-08-28 21:29] JCKodel commented on #18449
[code]

It would make sense that `TryAddWithoutValidation` would not validate and/or normalize the header.
BTW, an example of this error can be seen in https://moip.com.br/en/ (an online payment gateway requires `Accept: application/json;version=2.1`. One space after `;` it won't recognize the version 2.1 (and will send an old response).

I know this is a Moip problem (how hard is to follow RFC ru

[2018-08-28 21:50] maryamariyan commented on #32007
https://mc.dot.net/#/product/netcore/110/source/official~2Fcorefx~2Frelease~2F1.1.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20180619.01 shows that failures on Redhat.72 that I pointed to is not necessarily meaninful to this issue or #32009 because the CI is failing all tests at once.

cc: @MattGal

[2018-08-28 21:52] mckenzielee commented on #30951
Yes, that workaround is straightforward. The main concern is this situation of the HttpClient re-using closed connections is not only isolated to the long URIs. Can you confirm that this is case?

[2018-08-28 22:01] GrabYourPitchforks commented on #30994
It's not that you don't trust the _user_ - it's that you don't trust the _data_. Consider something like Office or Visual Studio. I as a human being driving the mouse and keyboard am fully trusted. But the .docx / .csproj / whatever file I'm opening might be from some random source. Even within DevDiv we've spent significant resources within the past year or so trying to address reports where some

[2018-08-28 22:09] maryamariyan commented on #32009
The catastrophic failure for Redhat.72.Amd64-AnyCPU is unrelated to this issue

[2018-08-28 22:12] TylerBrinkley commented on #31942
I agree scalability is an issue if we add new types which is why I'm now in favor of the extension methods route which should scale more favorably.

Even if the ref struct constraint is added I don't see how we can use that for this use case in a non-stack context such as class members or static fields.

[2018-08-28 22:20] maryamariyan opened #32011 "Test failure: System.IO.FileSystem.DriveInfoTests.DriveInfoUnixTests/PropertiesOfValidDrive()"
The test `System.IO.FileSystem.DriveInfoTests.DriveInfoUnixTests/PropertiesOfValidDrive()` has failed.

Assert.Equal() Failure
Expected: Fixed
Actual:   Unknown

Stack Trace:
[code]

Failing in: `macOS Mojave (10.14)` and `macOS High Sierra (10.13)` locally
But succeeds on CI for OSX 10.11, 10.12 and 10.13. (refer to this [link](https://mc.dot.net/#/product/netcore/110/source/official~2Fcorefx~2Fr

[2018-08-28 22:58] vancem commented on #30994
Sure, I get that there are many possible security scenarios.   My main point is that DOS attacks are not as critical, and that allowing people to opt-out is reasonable.   That said, I don't like making features unless we actually know who will use it, and it is not clear who will use this opt-out, so I am not motivated to actually implement it.

I do note that event with the out-out, we are safe b

[2018-08-28 23:33] tfritzke commented on #24547
@weshaggard
In your case, the package is being reinstalled from the package cache for the solution:
Package 'Microsoft.Tpl.Dataflow.4.5.24' already exists in folder 'C:\Users\wesh\source\repos\ConsoleApp2\packages'
Please retest:
1) Delete the packages directory,
2) Run the command "Update-Package -Reinstall" without any additional parameters.

[2018-08-28 23:49] danmosemsft commented on #32011
This would be fixed by porting https://github.com/dotnet/corefx/pull/21636. I don't think it's worth porting though..

[2018-08-28 23:50] weshaggard commented on #24547
OK I was able to repro it now as it seems as though it only fails if trying to install or update Microsoft.Tpl.Dataflow package without a specified version.

To workaround you can call Update-Package -Reinstall Microsoft.AspNet.WebHooks.Custom.Mvc which will work because it is installing/updating to a specific version of Microsoft.Tpl.Dataflow.

@rrelyea to repro this you can do:
[code]
When someo

[2018-08-28 23:50] MattGal commented on #32007
RedHat 7.2 was EOL'ed last year, and since it does not receive the latest security patches and is no longer support for .NET Core, any work items sent to it will instantly fail, as there are no machines even trying to run those work items.

Just for clarity, **the correct fix is to remove any and all usage of EOL OSes!**  Currently, we only keep them around because build tasks which submit to the

[2018-08-28 23:51] danmosemsft commented on #32011
@shanselman I see you thumbsed-up -- is this something you're hitting? (That DriveInfo.DriveType on a default High Sierra/Mojave volume returns Unknown on 1.x)

[2018-08-28 23:53] danmosemsft commented on #32007
Given this reproes on High Sierra, which has been out for nearly a year, this is lower severity than if it was appearing first in upcoming Mojave.

[2018-08-28 23:54] danmosemsft commented on #31990
Hello @kichalla if you would like to propose an API please help format your top post per the instructions here https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2018-08-28 23:56] danmosemsft commented on #31983
This is because it has a newer ICU version. IT is a test issue only. It would be fixed by porting your own change https://github.com/dotnet/corefx/commit/fe548ac62bdc46785e7e153a5f2a3de15daefd6d and what it depends on. Probably not worth it.

[2018-08-29 00:01] danmosemsft commented on #31985
We know that Mojave upgraded their LIBICU. But this test has not changed since 1.0 - and does not appear to have any special casing for the LIBICU version. Perhaps Mojave has a version that no other distro tested so far has?

@maryamariyan this is failing only on release/1.0, not on 1.1, 2.1, master on Mojave?

`yield return new object[] { @"[B-D\u0130]+", "aAeE\u0129\u0131\u0068 BCDbcD\u0130\u006

[2018-08-29 00:32] morganbr commented on #32010
cc @bartonjs @krwq

[2018-08-29 00:53] maryamariyan opened #32012 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandlerTest/SendAsync_RequestVersion20_ResponseVersion20IfHttp2Supported(server: https://http2.akamai.com/)"
The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/SendAsync_RequestVersion20_ResponseVersion20IfHttp2Supported(server: https://http2.akamai.com/)` has failed.

System.Net.Http.HttpRequestException : The server returned an invalid or unrecognized response.

Failing in:
- Check [CI failures](https://mc.dot.net/#/product/netcore/100/source/official~2Fcorefx~2Frelease~2F1.0.0~2F/type/te

[2018-08-29 00:58] karelz commented on #30951
I am not aware of any other similar bugs. This is the only report we got in the area of reusing closed connections, so it is safe to assume it is isolated case. Although there may be more scenarios that can hit the underlying problem (we won't know for sure until we fully understand the fix).
Does it help?

[2018-08-29 00:58] maryamariyan opened #32013 "Test failure: System.Net.Http.Functional.Tests.HttpClientTest/Timeout_SetTo60AndGetResponseFromServerWhichTakes40_Success()"
The test `System.Net.Http.Functional.Tests.HttpClientTest/Timeout_SetTo60AndGetResponseFromServerWhichTakes40_Success()` has failed.

	      Assert.Equal() Failure
	      Expected: OK
	      Actual:   ServiceUnavailable

Failing in:
- Check [CI failures](https://mc.dot.net/#/product/netcore/100/source/official~2Fcorefx~2Frelease~2F1.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20180801.01/workItem

[2018-08-29 01:01] davidsh commented on #32013
That looks like an Azure hiccup.

[2018-08-29 01:01] karelz commented on #18449
@JCKodel thanks for the real-world example, that is very helpful.
Do you happen to know what Moip uses under the hood? Is it problem in their code or in the server they use?
If it is problem in the server, then we can expect more instances and the priority of this API would be higher.

[2018-08-29 01:05] karelz commented on #29147
@AfsanehR ok, please file a bug in that repo and link this one.
cc @krwq @tarekgh as icu-libs is globalization related (I think).

[2018-08-29 01:07] karelz commented on #32012
@maryamariyan is it 100% failure?

[2018-08-29 01:08] karelz commented on #32013
@maryamariyan can you try to rerun to weed out Azure hiccups? Otherwise it would be good to know if it is 100% repro.

[2018-08-29 01:31] annaaniol opened #32015 "Native Library Loader API"
This issue introduces a NativeLibrary abstraction for loading native libraries from managed code in a platform independent way. It provides two key functionalities

- A facility to register a callback to implement custom native library load logic from managed codeper assembly.
- A few methods to handle native library manipulations from managed code.

### Context
This API is introduced as part of i

[2018-08-29 03:52] tannergooding commented on #23449
@danmosemsft, should this be marked `up for grabs`?

[2018-08-29 03:57] danmosemsft commented on #23449
Sure

[2018-08-29 04:14] a-a-k commented on #31717
@karelz we could close this issue but I have one question for sure - is it expected behaviour, I've mentioned?

[2018-08-29 05:09] AaronRobinsonMSFT commented on #32015
cc: @jeffschwMSFT @luqunl @swaroop-sridhar

[2018-08-29 05:31] davidfowl commented on #31969
Yes, it's very common. Logging is the other thing that we make use of async local for. We basically have a connection scope and a request scope so all logs get tagged with the appropriate fields.

[2018-08-29 06:32] swaroop-sridhar commented on #32015
I think the title shouldn't say "Dllmap specific events."
While the API is being proposed in the context of implementing DllMap, the APIs are designed to be generically useful for anyone who wants to customize loading of native binaries -- and should be reviewed in that context.

For example, the `RegisterGetEntrypointCallBack` may be used to locate entry-points that are embedded/linked within a b

[2018-08-29 06:41] swaroop-sridhar commented on #32015
I also think that GetEntrypointDelegate() should take a NativeLibrary handle, since this information is unique enough to identify all other information, if necessary.

[2018-08-29 06:44] swaroop-sridhar commented on #32015
We need two pieces of information from `NativeLibrary` for diagnostic purposes.
- The  `Name()` or `ToString()` which refers to the name by which the calling-assembly refers to the imported library
- the `Path()`  to the actual native library that got loaded (say, after DllMap).

[2018-08-29 09:34] Wraith2 commented on #32015
Can a native library be unloaded?
Does the dll/so/dylib have to be located on storage or can they be memory resident only, in which case path wouldn't be distinguishing feature.
Even though the `Name` is for diagnostic purposes it may be wanted at runtime for logging etc, the debugger is not the only way to want to inspect this so I support keeping it.
Events vs callbacks doesn't really matter as

[2018-08-29 11:09] toso06 opened #32017 ".NET Core Xml Serialization Generation Utility 2.0.0-rtm"
Hello,

I have a WCF client proxy that use XmlSerializer in a .NET Standard 2.0 project called SHB.FORI.IncaProxy and thought the tool would improve my startup time but the tool fail. The SHB.FORI.IncaProxy project contain classes like this:

 [System.Xml.Serialization.XmlTypeAttribute(Namespace="http://schemas.itello.se/Inca/IncaWebServices/messages")]
    public partial class GetAccountingAccoun

[2018-08-29 11:12] svick commented on #32015
* What is the relationship between this proposal and https://github.com/dotnet/corefx/issues/17135, which is marked as approved?
* For the events version, is it okay that it doesn't follow [Framework Design Guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/event) by not using `EventHandler<T>`, `EventArgs` and having non-`void` return type?
* For the callbacks version,

[2018-08-29 11:56] iSazonov commented on #26310
In PowerShell we already dynamically add a Target property to FileInfo/DirectoryInfo objects.

[2018-08-29 13:30] jkotas commented on #32015
You cannot always tell the path that got actually loaded.

[2018-08-29 14:03] Tragetaschen commented on #14041
I've got my DBus client and get a file descriptor from BlueZ representing the RFCOMM socket when a smart phone connects to a registered Bluetooth profile. I would love to work with this using all the socket goodness instead of wrapping it in a Stream and providing the bare minimum read and write pinvokes by myself.

[2018-08-29 14:20] nzthiago commented on #19837
Have run into a customer porting a BizTalk mapping solution into Azure, trying to run their existing maps from inside Azure Functions, and ran into this same issue with Functions v2 (.NET Core based) while V1 worked fine (netfx based).

What are some alternatives? Remove any scripting from the maps, move the script code back into your main .NET code and edit the output file contents with it?

[2018-08-29 14:32] filipnavara commented on #32008
This is something that historically made a lot of sense. The common use case is `Path.Combine(Environment.CurrentDirectory, someFileNameInArgument)` or `new Uri(myCurrentWebPageUri, anUriSpecifiedInAHref)`.

The APIs probably cannot be changed for compatibility reasons, but it's a good example of something that could be addressed by some new convenience APIs. There's a code in CoreFX (https://gith

[2018-08-29 15:18] AaronRobinsonMSFT commented on #32015
@svick, That is a good point. We need to reconcile these two proposals. cc @danmosemsft and @mellinoe.

[2018-08-29 15:24] AaronRobinsonMSFT commented on #32015
I am inclined to say 'no'. The CLR has a number of caching mechanisms for native library scenarios and I don't know how easy it would be to properly update all of them. There is the native library cache that is for load library and we would also need to look at `DllImport` and make sure all related native method descs can be removed. There could be more in the CLR and that is not even getting to t

[2018-08-29 15:56] Anipik commented on #12403
we have merged this change into release so closing this issue

[2018-08-29 15:56] #12403 closed

[2018-08-29 16:01] jeffschwMSFT commented on #32015
@jkotas

The intention of providing the non-modified version of libraryname and entrypoint from the dllmap is to provide the right information to the developer to choose to either return the symbol as declared in code or find a suitable replacement.  The NativeLibrary would then be completely managed by the developer and the runtime/fx would not use it as an exchange type.

We discussed the callba

[2018-08-29 16:32] #29383 closed

[2018-08-29 16:42] los93sol commented on #30327
Any idea when this will be publicly available?  We're experiencing the issue with dotnet restore

[2018-08-29 16:57] Zexuz opened #32018 "Console.CursorLeft throws IOException when running in Azure"
The `Console.CursorLeft` throws a System.IO.IOException (Error at the bottom) when run in Azure as a 'App Service'.

Somewhat related issue?
[Console.WindowWidth fails with IOException](https://github.com/dotnet/cli/issues/2780#issuecomment-417004184)

**Expected behavior**
Nothing would happen and no exception would be thrown.

**Observed behavior**
Exception is throw.

Steps to reproduce

- Crat

[2018-08-29 17:03] karelz commented on #30327
We do not have official date for 2.1.5 release. Once it is merged, you can use daily builds from 2.1 branch if you want to get unblocked ASAP.

Servicing releases are officially estimated at 1-2 months cadence: https://github.com/dotnet/core/blob/master/roadmap.md#upcoming-ship-dates
If you look at 2.1.x history, you can guess at rough dates for 2.1.5: https://github.com/dotnet/core/blob/master/re

[2018-08-29 17:35] DamirLisak commented on #22853
I don't understand why this issue is closed? This is definitively a bug and must be fixed!

[2018-08-29 17:41] softsan commented on #31895
Sorry for late reply.
`System.Drawing.Common`  didn't work for me so i gave it up(since it was urgent and didn't get time to experiments).
so I used `CoreCompact.System.Drawing` library which resolved my issue.
Thanks.

[2018-08-29 18:00] Priya91 commented on #9768
+1 Please add support for socketshttpclient, and i assume clientwebsocket will automatically benefit

https://github.com/MicrosoftDocs/live-share/issues/844#issuecomment-417046902

[2018-08-29 18:06] danmosemsft opened #32019 "Code coverage builds are broken"
[code]
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/

@ViktorHofer this predates your changes, but perhaps you could take a look?

We ideally would have a way to know more reliably when code coverage build breaks. I only seem to notice some time later.

[2018-08-29 18:08] annaaniol commented on #32015
@svick I updated the events version to follow the [Framework Design Guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/event):

[code]

[2018-08-29 18:12] karelz commented on #9768
Please upvote the top post - that is searchable and sortable via GitHub ;)

[2018-08-29 18:17] Tratcher commented on #31866
What this comes down to is that Request.Body and StreamContent make fundamentally different assumptions and I don't think it makes sense to change either to accommodate the other.

Also, forwarding requests is a lot more involved than you imply above. See the prototype over at https://github.com/aspnet/proxy for some examples.

[2018-08-29 18:26] davidfowl commented on #31866
This scenario should work. Lets keep an issue open on the ASP.NET Core side of things.

[2018-08-29 18:27] MichaelSimons commented on #29147
@karelz, @AfsanehR - The `microsoft/dotnet` Alpine images are purposefully configured to use the [.NET Core 2.0 Globalization Invariant Mode](https://github.com/dotnet/dotnet-docker/issues/371).  This is done to reduce the size of the image substantially.  This is the best default setting for a container environment.  See https://github.com/dotnet/dotnet-docker/issues/371 for more details.

It see

[2018-08-29 18:31] Tratcher commented on #31866
This issue was moved to aspnet/Home#3476

[2018-08-29 18:31] #31866 closed

[2018-08-29 18:33] felipeOliveira commented on #18449
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Net.Http/src/System/Net/Http/Headers/NameValueHeaderValue.cs

![image](https://user-images.githubusercontent.com/2717505/44807670-820ff100-aba0-11e8-9a92-86a9b784bd57.png)

There is already support for leaving that space out, but no way to access it. `TryAddWithoutValidation` should pass true to the `leadingS

[2018-08-29 18:37] karelz commented on #32000
@rmkerr @wfurt this seems to hit our CI heavily in last few days - @filipnavara mentioned 4 occurrences on 1 PR and at least 1x on each other of his PRs in last few days.
Do we have history in Kusto or on Max's PowerBI dashboard? I want to confirm how widespread it is, on which OS, and when it started. We may need to prioritize it ...

[2018-08-29 18:39] karelz commented on #32018
App Service likely does not support Console at all, which would make it by design ...

[2018-08-29 18:48] karelz commented on #32008
cc @rmkerr @JeremyKuhne

For Uri, you can use [`Uri(string, UriKind.Relative)`](https://docs.microsoft.com/en-us/dotnet/api/system.uri.-ctor?view=netframework-4.7.2#System_Uri__ctor_System_String_System_UriKind_) if you know what you should be getting, then combine it via [`Uri(Uri, Uri)`](https://docs.microsoft.com/en-us/dotnet/api/system.uri.-ctor?view=netframework-4.7.2#System_Uri__ctor_System_

[2018-08-29 18:55] annaaniol commented on #32015
@jkotas

How can we collect such statistics?
I'd say such a simplification will strongly limit the functionality which is we don't want to happen.

[2018-08-29 18:58] JeremyKuhne commented on #32008
The "surprising" behavior of `Path.Combine` is precisely why I added [`Path.Join`](https://docs.microsoft.com/en-us/dotnet/api/system.io.path.join?view=netcore-2.1#System_IO_Path_Join_System_ReadOnlySpan_System_Char__System_ReadOnlySpan_System_Char__) in 2.1.

Docs are still catching up, but `Path.Join` (and `TryJoin`, which joins in a provided char buffer) simply combine inputs, ensuring that the

[2018-08-29 19:02] jkotas commented on #32015
@jeffschwMSFT should be able to help to connect you with the right people. We have data mining experts who should be able to do this easily.

[2018-08-29 19:06] karelz commented on #18449
@felipeOliveira the fact that something is technically possible is not a justification for adding new APIs. If we followed that, .NET API surface would be a GIANT mess today.
That said, @JCKodel's information is something that can support API addition.

Also, please remove your reflection code snippet - we do not want encourage anyone to use private reflection. That is unsupported hackary that lea

[2018-08-29 19:07] jeffschwMSFT commented on #32015
@jkotas

I feel that the entrypoint portion is pretty important.  Regarding the name mangling, if GetNativeEntryPoint provides the same level of name mangling as the original p/invoke, won't that be sufficient?

A quick search on github for dllmap and dllentry yields hits for both.  I agree with Jan that many of them are just for a dll, but there are certainly plenty (that is a scientific measurem

[2018-08-29 19:08] karelz commented on #32008
@JeremyKuhne did you consider obsoleting `Path.Combine` in some way? (e.g. in ref assemblies, or via [Platform Compat](https://github.com/dotnet/platform-compat) Roslyn analyzer)

[2018-08-29 19:16] ViktorHofer commented on #32019
looking...

[2018-08-29 19:27] ViktorHofer commented on #32019
bug introduced exactly by my change :/ I forgot to rename https://github.com/dotnet/corefx/blob/master/src/System.Globalization.Calendars/tests/CalendarTestWithConfigSwitch/coverage/xunit.console.netcore.runtimeconfig.json

[2018-08-29 19:36] masonwheeler commented on #32015
@Wraith2 Yes?

There doesn't seem to be much of anything here that impacts my reasoning wrt why DllMap is a bad idea that should not be incorporated into .Net Core.

[2018-08-29 19:37] ViktorHofer commented on #32019
Could vendor take care of checking the coverage build same as they check test failures?

[2018-08-29 19:38] danmosemsft commented on #31985
@ViktorHofer 1.0 and 1.1 are in support until June 2019. We would need an excellent reason to service them at this point. I do not see much chance that this meets the bar - it is almost certainly not a bug (or not our bug) anyway.

[2018-08-29 19:38] danmosemsft commented on #31985
https://www.microsoft.com/net/support/policy

[2018-08-29 19:39] ChronosWS opened #32021 "ReadOnlySequence<>.Slice(SequencePosition, SequencePosition) docs incorrect"
[code]

The documentation here indicates the end sequence position is inclusive.  This does not appear to be the case.

Consider:
[code]

In my test case, buffer[20] is the '\n' character.  eolPosition has a value of 20, as expected.  line.Length has a value of 20, consistent with an *exclusive* end position, verified by examining the contents of line.

[2018-08-29 19:55] MatthewLymer commented on #1973
@TylerBrinkley personally I'm not a fan of the `IsReadOnly` property, I would much rather have this information known at compile-time instead of run-time.  If you were referring to the `IReadOnlyCollection<T>` interface then I still think it would be useful for the caller or callee to know that the lookup will be fast instead of a potential iteration though a collection, though I'm not certain if

[2018-08-29 19:55] swaroop-sridhar commented on #32015
Path is probably a bad name (for assets like memory mapped loads etc) . However, we'll need some string to report the information here (mapped name / path / memory identifier, etc.) for diagnostic purpouses

[2018-08-29 19:57] andreujuanc commented on #22098
Hi,
I just deployed a new service , and we chose .net core for it.

**I'm using 2.1.401**

I created a typed httpclient and added the base address like so: `client.BaseAddress = new Uri(Configuration["SOMENEWSERVICE_URL"]);`

Docker compose:
`SOMENEWSERVICE_URL=http://somenewservice_url`

Then in somewhere i do this: `await Client.GetStringAsync("/api/values")`
Works on windows, but fails on linux

[2018-08-29 20:17] Rutix commented on #15554
Since it would be handy to see what impact my tests have on the code coverage I tried to get coverage working locally. When I do

[code]

[2018-08-29 20:26] shanselman commented on #32011
I thought I was but I was mistaken! Sorry to bother!

[2018-08-29 20:33] TylerBrinkley commented on #1973
Having just a `Contains` method doesn't define what a `Set` should do, just what a `Collection` should do. I mean `Contains` is not even a member of `ISet` but of `ICollection` which `ISet` inherits from. The other members of `ISet` should be required to define what a `Set` should do. I understand most people probably use sets exclusively for it's `Contains` method but there's so much more to sets

[2018-08-29 20:38] safern commented on #31895
Ok, I just wanted to understand what was happening to fix it if it was a real product issue. I'm pretty sure that setting the `LD_LIBRARY_PATH` env variable correctly should fix your issue. Whenever you have time would you mind checking and if it still fails, I would love to dive into the issue and fix it.

Will close the issue in the meantime, please feel free to re-open and I'm sorry you where h

[2018-08-29 20:38] #31895 closed

[2018-08-29 20:47] danmosemsft commented on #32011
No problem thanks @shanselman

[2018-08-29 21:09] swaroop-sridhar commented on #32015
@jkotas had recommended using Func<> notation instead of delegate typenames. So, the callback-registration version should be something like:
[code]

[2018-08-29 21:26] binki commented on #1973
@TylerBrinkley But is it even possible to define `IReadOnlyCollection<T>.Contains(T)` at this point? I assumed not. That’s why the only option is to introduce `IReadOnlySet<T>` and, when introduced, ensure that `IReadOnlySet<T>.Contains(T)` is declared on it.

@jnm2 says:

This seems to be the biggest issue to me right now. It would be odd for `IReadOnlySet<T>` to be invariant when `IReadOnlyColle

[2018-08-29 21:28] jkotas commented on #32015
I agree that we can make the entrypoint remapping work if we need to. My question is whether it is useful enough to add it to .NET Core. So far, I am failing to find a set of good examples of what it is actually needed for. It feels like a corner case that it is not worth to have and the few libraries that use it can workaround.

[2018-08-29 21:37] geoffkizer commented on #30691
(copying notes from email)

I’ve done some simple tracing on this but nothing obvious pops out. I think we will need a more involved investigation here, unfortunately.

Some thoughts on how to make progress here:

The test suite is doing lots of connection resets, and none of them look suspicious in and of themselves. To narrow this down I think we should try just running this single test, but run

[2018-08-29 21:38] pgolebiowski commented on #1973
That man speaks well, pour him more wine.

[2018-08-29 22:04] jeffschwMSFT commented on #32015
Perhaps I am missing the cost of getting entry point mapping working.  We could expose the equivalence of https://github.com/dotnet/coreclr/blob/master/src/vm/dllimport.cpp#L5683 as GetEntryPoint.

Another thought on why entry point may be important is for the DSL case that Miguel pointed out.  If you wanted to put your own encoding of library and entrypoint in the dllimport you would need the pai

[2018-08-29 22:12] AfsanehR commented on #31893
Closing this issue with PR #31937 . Thanks for your help regarding the update. I will create another PR to update the master branch version.

[2018-08-29 22:12] #31893 closed

[2018-08-29 22:20] shanselman opened #32024 "FileSystemWatcher may cause problems in containers - inotify limits and incorrect error message"
MOVED FROM  https://github.com/aspnet/Home/issues/3475

Looking around the web I'm seeing years of issues with FileSystemWatcher saying "The configured user limit (n) on the number of inotify instances has been reached."

UPDATE: Looks like https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Linux.cs#L371 w

[2018-08-29 22:32] weshaggard commented on #31925
Updating to the higher versions worked fine for the latest version of VS/msbuild but broke the earlier versions. To handle I'm trying a different approach which is to simply exclude System.Collections.Immutable from our task output that will allow us to use whichever version ships with msbuild. I've tested this on 15.7 and 15.8 and it works. I don't have a great way to test this on other versions

[2018-08-29 22:58] annaaniol commented on #32015
So we agreed on the following things:
- a native library can't be unloaded because of the reasons that @AaronRobinsonMSFT has pointed out,
- we will use `LoadNativeLibrary` and `GetEntrypoint` events (using EventHandler<T>),
- we keep exposing `GetNativeEntrypoint`,
- `toString()` on `NativeLibrary` will return debugging string that includes source library name, target name that was loaded, and lo

[2018-08-29 23:41] annaaniol commented on #32015
I included your suggestions and updated the Proposed API. Please take a final look and tell me if you have additional comments or questions.

[2018-08-30 00:33] jkotas commented on #32015
These comments do not appear to be addressed:

- The methods to register the callback should not be on Assembly itself. We do not want to add interop-specific methods to Assembly. https://github.com/dotnet/corefx/issues/32015#issuecomment-416819593
- This is not providing complete information to resolve the entrypoint. It would also need to provide the signature of the method and the method attrib

[2018-08-30 02:32] ahsonkhan commented on #32021
cc @pakrym

[2018-08-30 02:50] migueldeicaza commented on #31917
@benaadams I am not sure I follow the proposal, but if the idea was that we should additionally have an async version, I support the idea, but perhaps the name should be `TryOpenAsync`

[2018-08-30 05:48] dotnet-mc-bot opened #32025 "Test failure: System.IO.Compression.GzipStreamUnitTests/Dispose_WithUnfinishedReadAsync"
Opened on behalf of @Sunny-pu

The test `System.IO.Compression.GzipStreamUnitTests/Dispose_WithUnfinishedReadAsync` has failed.

Assert.Throws() Failure
    Expected: typeof(System.AggregateException)
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.IO.Compression.CompressionStreamUnitTestBase.Dispose_WithUnfinishedReadAsync() in /root/corefx-1990091/src/Common/t

[2018-08-30 07:06] Joe4evr commented on #31942
It's not so much using `ReadOnlySpan<char>` as the dictionary key, but doing a lookup with it without copy-allocating the slice it is wrapping.

[2018-08-30 07:42] tmds commented on #22098
@andreujuanc can you show a small, executable code snippet and describe how behavior differs between Windows and Linux?

[2018-08-30 08:35] tmds commented on #24704
@wtgodbe, @krwq ptal at what is being proposed. This will improve consistency with how Windows behaves when setting UseShellExecute for executables/script files. If the proposal is ok, I can work on this.

[2018-08-30 08:46] filipnavara commented on #32008
I don't think `Path.Join` solves the security concern because `..` is still a valid relative path. AFAICT there's no API that enforces that the resulting path stays within bounds of the absolute path, which is the real problem security-wise.

[2018-08-30 11:44] benaadams commented on #31942
Is what's equatable; so `string` <=> `ReadOnlySpan<char>`; however what about `string` <=> `ReadOnlySpan<byte>, Encoding.UTF8` etc

[2018-08-30 12:38] raffree commented on #31942
I would change NameValueCollection, but more modern version, passing allowDublicates parameter in constructor.
For dictionary i think extension method will fit completely.

[2018-08-30 12:58] TylerBrinkley commented on #31942
Another reason the extension methods route makes better sense.

What if we instead relied on the comparer to derive from `StringComparer` and not define an interface? That way we can easily expand support through adding virtual methods without having to define new interfaces or else wait for default interface implementation support.

[2018-08-30 13:50] Joe4evr commented on #31942
Sounds reasonable. I can already see use-cases for wanting to determine the value equality between a `string` and `utf8string`.
[code]

[2018-08-30 14:40] filipnavara commented on #32008
@danmosemsft How does `Path.GetFullPath` handle reparse points?

My argument is that `Path.Combine` is not insecure because of treatment of absolute path in second parameter. It is insecure for certain usage because the second parameter can escape from the absolute path in the first parameter. I, *personally*, do expect that from the API and do not find that surprising at all.

What I find useful

[2018-08-30 15:06] jkotas opened #32027 "Binding with ReuseAddress not working with UdpClient on Linux"
_From @olijf on August 30, 2018 11:13_

# Binding multiple clients on Linux platform in dotnet framework 2.1 does not work as expected

I am binding to a socket with SO_REUSEADDR (``MultiCastClient.Client.SetSocketOption(SocketOptionLevel.Socket, SocketOptionName.ReuseAddress, true);``) but on Linux this gives me an address already in use exception.
In dotnet core 2.0 this was working fine.

# Gen

[2018-08-30 15:50] jeffschwMSFT commented on #32015
@jkotas

Anna and I discussed this.  I think the challenge is that to achieve the proper Assembly level isolation we need to associate the callback with an assembly.  The simplest approach would be too extend Assembly, but I hear your feedback.

I think we should align with your recommendation, which moves us away from events and back to callbacks.  Within that design we felt that we would only al

[2018-08-30 15:58] jaredpar commented on #31868
Don't like this approach. The `onlyIfCheap` is not a quantifiable term. What is cheap to me may not be cheap to you.

There are plenty of examples today where there is a pair of methods `Operation` and `OperationOrDefault` and they have a well established pattern. When `Operation` fails do the `OrDefault` action. The problem is that `Count` cannot fail. This proposal would be both adding a new met

[2018-08-30 16:07] MarcusWichelmann commented on #32008
@filipnavara Even when the behaviour of `Path.Combine` has a historical background and is justified, the practice has shown, that this method actually gets misunderstood by developers. I've found uses of it that might cause serious security issues in at least three libraries, and I haven't even searched for them. I'm sure there are far more libraries or even web-services affected by this.

I didn'

[2018-08-30 16:07] swaroop-sridhar commented on #32015
I did some more search for Dll entry point map usage (outside of github), and I did not see widespread use of them. Most of the projects seem to use it for Mono specific mapings. In particular:
[code]
I tend to agree with Jan that the reason these mappings are not widely used is that they only work in the situation where we have Dlls on different platforms that differ in name but not in signature.

[2018-08-30 16:13] jeffschwMSFT commented on #32015
Do we feel this would not be a viable option?  The existing NDirectEntryPoint uses the method descriptor in the p/invoke to compute these values.  If the API were to provide a different set of method information would that even work?

[2018-08-30 16:15] jaredpar commented on #31032
What is netfx here? The old test framework?

[2018-08-30 16:16] jaredpar commented on #30466
Any updates on this @VCZYK ?

[2018-08-30 16:16] #29985 closed

[2018-08-30 16:17] davidfowl opened #32029 "CancellationToken passed into ReadAsync can cause TryRead fail after ReadAsync succeeds"
[code]

[2018-08-30 16:17] safern commented on #31032
netfx is .NET Framework v4.7.2 -- basically building the corefx repo with command
`build.cmd -framework:netfx`

Then run tests with `/p:TargetGroup=netfx`

[2018-08-30 16:18] swaroop-sridhar commented on #32015
Yes, I think we can get this to work. Since the native code used some utility to compute the first mangled name, we should be able to compute the new name too. We talked about this with @jkotas yesterday.

[2018-08-30 17:02] jkotas commented on #32015
You can make it work, but the design for it is not obvious. My recomendation would be to drop the entrypoint remapping callback from this phase, and just have callback for the native library loading. We can add the entrypoint callback later if it is proven to be really required.

[2018-08-30 17:03] #32019 closed

[2018-08-30 17:10] wtgodbe commented on #24704
@tmds I think the gist of the current proposal makes sense, but is a little cloudy. Could you put together a formal API proposal (if, as @TSlivede suggests, you plan on deprecating the current API & replacing it)?

[2018-08-30 17:10] tmds commented on #32027
This may be caused by changes in https://github.com/dotnet/corefx/pull/24809.

With 2.0 ReuseAddress did:
[code]
With 2.1 it does:
[code]

I'm trying to reproduce this, but I'm missing something. I can run two instances of this program concurrently:
[code]

[2018-08-30 17:14] AaronRobinsonMSFT commented on #32015
@jeffschwMSFT  I am inclined to agree with @jkotas about the name remapping if only because of the intended scope of @annaaniol 's project. It should be relatively easy to enrich the API if the community demands this functionality prior to the .NET Core 3.0 release.

[2018-08-30 17:19] tmds commented on #24704
No API changes. When UseShellExecute is set, this would happen:

Current behavior:

Proposed behavior:

else: use xdg-open, gnome-open, etc._

[2018-08-30 17:25] olijf commented on #32027
Hi Tom,
Tnx for looking into this. I'm running ``socat`` and another java client all on the same binding.
I haven't tried running multiple instances but will try tomorrow.
Hope this helps

[2018-08-30 17:45] TylerBrinkley commented on #31868
@jaredpar

So you would prefer something like the following?

[code]

I'm not sure an `OrDefault` method is necessary as it's very simple to achieve without, at least in `C#`.

[code]

[2018-08-30 17:47] TylerBrinkley commented on #31868
Instead of `onlyIfCheap` we could rename it to `allowEnumeration`.

[2018-08-30 18:05] danmosemsft commented on #32018
Based on the message I assume this is Windows. @Zexuz I assume you get the same behavior with .NET Framework.

[2018-08-30 18:07] krwq commented on #24704
@tmds @TSlivede I like some parts of the proposition (naming to be discussed) and I think we should not do too much magic in System.Process - it always leads to problems - I don't believe there is "one solution suits everyone" here. IMO UseShellExecute should be always doing 'sh -c' or something similar and not `xdg-open`/`gnome-open`/`gvfs-open`/`gio open`/`kfmclient`... (not sure if there is any

[2018-08-30 18:15] Lxiamail commented on #32017
@toso06 Thanks for reporting the issue. Is this new problem because the machine updated to WCF 4.5.3 package? Can you share the repro .csproj file?

[2018-08-30 18:18] tmds commented on #32027
I can reproduce this. The issue occurs when two applications each use a different option: one does `SO_REUSEADDR` and the other `SO_REUSEPORT`.
[code]
The fix will be to change back to changing both options for `SocketOptionName.ReuseAddress`.

@davidsh you can assign this to me.

[2018-08-30 18:29] jkotas opened #32036 "System.PlatformNotSupportedException' occurred in System.Security.Cryptography.Algorithms.dll"
_From @furoraest on August 30, 2018 17:44_

Hope this is the right repo for this problem:

When trying to export from ECDiffieHellman to ECDiffieHellmanPublicKey.ToByteArray() the exception rises:
Exception has occurred: CLR/System.PlatformNotSupportedException
An exception of type 'System.PlatformNotSupportedException' occurred in System.Security.Cryptography.Algorithms.dll but was not handled in

[2018-08-30 18:39] karelz commented on #32000
We analyzed failure frequency for last month and something indeed changed:
Starting 8/22 we started getting more of these failures on **Centos.74**, **RedHat.74** and **OSX.1013**. Other OSs stayed the same (OSX.1012, Windows.10, Windows.81, Ubuntu.1604 - just 1 hit, other OSs had no hits at all).
Starting 8/28 we started getting slightly more failures on **Debian.87**, **OpenSuse.423**, **Ubuntu.

[2018-08-30 19:00] filipnavara commented on #32000
That aligns with what I observed on my PRs. All the failures were on Centos.74, RedHat.74 and OSX.1013.

[2018-08-30 19:57] CIPop commented on #31242
@wfurt @davidsh @karelz  a few servicing questions:
1. is this going to be available in .NET Core 2.1? If yes, is it sufficient to upgrade to the latest SDK?
2. What are the instructions for 3rd parties that did `dotnet publish` to get the new fix?

/cc @tameraw, @abhipsamisra

[2018-08-30 19:57] filipnavara commented on #32000
It may or may not be related, but it started at around the same time (+/- time zone differences) when the new Xunit 2.4 test runner was merged. I was able to reproduce the hangs locally on OS X 10.14, but so far only when parallel runs are enabled.

[2018-08-30 19:59] IcanBENCHurCAT commented on #32036
Trying to look into this (so I can learn a bit more), but haven't found anything definitive yet.

I see the ECDiffieHellmanSecurityTransforms will throw this exception when calling ExportExplicitParameters. I see this function being called in plenty of tests that I assume have run on a Linux machine before.

I'm assuming that there is another class that finishes this implementation that I am not s

[2018-08-30 20:00] filipnavara commented on #32000
The hanging test on my machine is `System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_Cancellation_Test.MaxConnectionsPerServer_WaitingConnectionsAreCancelable`.

[2018-08-30 20:00] bartonjs commented on #32036
`ECDiffieHellmanPublicKey.ToByteArray()` doesn't have a (standards-)defined export format.  The version used by ECDiffieHellmanPublicKeyCng is Windows-specific, and only works for NIST P-256 (secp256r1), NIST P-384 (secp384r1), and NIST P-521 (secp521r1).

To create a copy of a key you should use the `ExportParameters()` method to obtain the rich ECParameters object; which can then be sent through

[2018-08-30 20:01] rmkerr commented on #32000
Thanks for the additional info! I'll take a look at that test.

[2018-08-30 20:03] karelz commented on #31242
It will be part of 2.1.5 release (cc @danmosemsft for confirmation)

For self-contained apps, you have to republish with 2.1.5.
For apps relying on shared-framework being installed, you need to upgrade to 2.1.5 on the server.
Does it help?

[2018-08-30 20:07] karelz commented on #32000
Thanks @filipnavara for your tip about the updated xunit test runner. That might be very much it - different timing, exposing our long-existing problem.
Were you able to identify the hanging test more than once by a chance?

We should try to repro locally too. Then maybe run the same test massively in parallel to get easier repro ...

[2018-08-30 20:12] filipnavara commented on #32000
Yes, can easily reproduce it locally now. Hangs roughly 20% of the time, more if the tests run in parallel. Managed to track it to this specific line with some reasonable confidence:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs#L340

[2018-08-30 20:21] MisinformedDNA opened #32037 "MSB8036: The Windows SDK version 8.1 was not found. Install the required version of Windows SDK or change the SDK version"
When I build I am getting this weird error.

OS: Win10 v. 1803
VS2017: 15.8.2

The machine was initially running VS 15.7.3 and I wanted to test #30094, so I used VS Installer to uninstall 15.7.3 and then installed 15.8.2 with no workloads. I then ran `vs_installer.exe modify --installPath "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community" --add Microsoft.VisualStudio.Component.NuGet -

[2018-08-30 20:25] swaroop-sridhar commented on #32015
Another option to consider is whether to have get/set APIs. That is, instead of
[code]
consider
[code]
The later version will facilitate writing code like:
[code]
for chaining callbacks
[code]
or for synchronization
[code]
However, this issue is not critical, because I think having multiple callbacks for the same assembly is rare, and that the behavior similar to `get/setCallBack` can be achieved

[2018-08-30 20:28] #31143 closed

[2018-08-30 20:28] Xambey opened #32038 "System.String.Equals(string value, StringComparison comparisonType) returns false when call with "True".Equals("true", StringComparison.CurrentCultureIgnoreCase) for Fedora 28"
System.String.Equals(string value, StringComparison comparisonType)

Net Core 2.1.401
x64

section.Value = "True"

Hi, I think I found a bug in this method. Call this method for section.Value = "True", with the value parameter equal to "true" and comparisonType to StringComparison.CurrentCultureIgnoreCase on Fedora 28 (from uname -a Linux localhost.localdomain 4.17.18-200.fc28.x86_64 # 1 SMP Wed A

[2018-08-30 20:29] karelz commented on #30327
Fixed in PR #31589, it will be part of 2.1.5 release.

[2018-08-30 20:29] #30327 closed

[2018-08-30 20:30] karelz commented on #31143
Fixed in PR #31768 in release/2.1 branch. It will be part of 2.1.5 release.

[2018-08-30 20:32] dustinsoftware commented on #31143
Thanks!!
On Thu, Aug 30, 2018 at 13:31, Karel Zikmund <notifications@github.com>
wrote:

[2018-08-30 20:46] JeremyKuhne commented on #32008
I've added more to the issue I opened above about documenting best practices with handling user/untrusted input paths. There is already an active issue that I can't find at the moment that recommends to never pass a local path to Uri without calling GetFullPath on it first.

[2018-08-30 20:49] rmkerr commented on #30691
Thanks for the advice Geoff. I'll try running the failing test in a loop to see if I can hit it more consistently.

[2018-08-30 21:07] powercode commented on #24145
Any progress on this?

[2018-08-30 21:09] #29623 closed

[2018-08-30 22:31] danmosemsft commented on #32038
@tarekgh

[2018-08-30 22:32] danmosemsft commented on #32036
is there something we can do to make the exception more helpful?

[2018-08-30 22:38] bartonjs commented on #32036
@danmosemsft I'm not sure that a resource string of "This method is only available on Windows" would really help.  If we ever made the Roslyn analyzer to warn about methods like this, and this didn't already get added, we should add it there.  But I don't know what precedent we have other than just throw a default PNSE.

[2018-08-30 22:43] danmosemsft commented on #32036
@bartonjs I guess I was thinking that the message could potentially say something like "To create a copy of a key you should use the ExportParameters() method to obtain the rich ECParameters object; which can then be sent through ECDiffieHellman.Create(ECParameters) and the PublicKey property of that object be read to get back a second instance of ECDiffieHellmanPublicKey."

(I don't know)

[2018-08-30 22:50] danmosemsft commented on #32037
@ViktorHofer it sounds like @MisinformedDNA followed the instructions at https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md. Is it possible another VS component is required?

[2018-08-30 22:51] Xambey commented on #32038
@filipnavara
![image](https://user-images.githubusercontent.com/17352479/44883569-3a808680-acc0-11e8-8702-dc40ce2237ae.png)

Does the comparison succeed if you use StringComparison.OrdinalIgnoreCase instead? - Yes, with OrdinalIgnoreCase all good (true)

[2018-08-30 22:53] TSlivede commented on #24704
@krwq As I already explained [above](https://github.com/dotnet/corefx/issues/24704#issuecomment-337686814), I beleave, that `UseShellExecute` must not call `sh -c` because that would mean, that on Windows and Linux there is an identical API-option but with completely different behavior (not in any way similar).

I can fully agree to this

and could understand if the dotnet core team decides to rem

[2018-08-30 22:54] divega commented on #30403
@GrantHoffman It seems to me that your primary goal is to be able to pass a predicate created outside the query to `FirstOrDefault()`, so that it can be parsed by the query provider and translated to SQL.

You also found (and I agree) that this is an area in which some of the complexity of how LINQ actually works "leaks through the seams" and you have had to form a deeper understanding in order to

[2018-08-30 22:54] Xambey commented on #32038
![image](https://user-images.githubusercontent.com/17352479/44883727-cabecb80-acc0-11e8-8521-2b6c34e3a16c.png)

[2018-08-30 23:02] TSlivede commented on #24704
I actually also don't really see the need for that feature.

I just included this suggestion, because it was requested [here](https://github.com/dotnet/corefx/issues/4720#issuecomment-161130544) and because `UseShellExecute` on Windows actually has the additional side effect, of launching console applications
within a new `conhost` <sup>(the terminal emulator on Windows)</sup> instance.

[2018-08-30 23:13] marek-safar commented on #31726
Tracked as https://github.com/mono/mono/issues/10142

[2018-08-30 23:18] weshaggard commented on #31925
This should be fixed in both the release/2.1 and 2.2 branches now.

[2018-08-30 23:18] #31925 closed

[2018-08-31 01:47] geoffkizer commented on #30691
If running in a loop doesn't do it, perhaps running multiple concurrent instances will help.

[2018-08-31 05:38] bigworld12 commented on #21803
@2mik what allows the quick creation of GUI applications in WinForms is the designer, not the actual WinForms libraries, WinForms designer is just a hard-coded c# library that is mapping drag-and-drop input to c# code.
the difference between winforms and wpf, is that in wpf you can actually edit the GUI as a xaml + drag-and-drop designer but in winforms you are only limited to the drag-and-drop de

[2018-08-31 05:54] devmikew commented on #21803
That's not correct - one can edit the c# code and ignore the designer. Though it's non-trivial.

I agree that xaml would be better.

Xamarinforms is cross platform including android, iOS, Linux etc. Again, however it isnt simple.

[2018-08-31 06:09] furoraest commented on #32036
Main problem was to get serialized output from  (public) key....
I am very new on .net core architecture but seems there are more similar cases where platform is not supported... Rewriting some base classes would bad idea/ too much work?

[2018-08-31 08:10] Opzet commented on #21803
I suggest you check out www.wisej.com

Winform Apps in the browser.  Amazing stuff.

Buy me a beer later..

[2018-08-31 10:14] toso06 commented on #32017
@Lxiamail, I made an example. Take a look at <a>https://github.com/toso06/SerializionAssemblyGenerationFail/tree/master</a>

When I compile the example project on my machine i get the following output:

1>------ Rebuild All started: Project: SerializionAssemblyGenerationFail, Configuration: Debug Any CPU ------
1>SerializionAssemblyGenerationFail -> C:\Users\TOSO06\source\repos\SerializionAssembly

[2018-08-31 13:16] 2mik commented on #21803
@bigworld12, I develop using both WinForms and WPF. WFP allows develop cool GUI. In real if you like creating clear layout, you have to edit XAML manually, like you do with HTML, that is difficult for inexperienced users. I work with guys whose primary skill is programming PLC. I'm sure they will never use WPF ))

[2018-08-31 14:38] jboarman commented on #8807
OK, so now that AccessToken support has been added into 2.2, what steps are needed for full AAD authentication support?

We are moving our teams to Azure MFA authentication, and having this completed is important to completing that migration.  Unless I'm missing something here, applications like SQL Server Operations Studio can't support Azure MFA until AAD Auth support is completed?

[2018-08-31 16:38] karelz commented on #32000
@filipnavara @rmkerr can you please try to disable the offending test to see if it helps?
If it helps noticeably to reduce the frequency, we should check it in to unblock CI runs. Thanks!

[2018-08-31 16:54] karelz commented on #32000
8/22-8/27 all failures were in System.Net.Http.Functional.Tests category

Starting with 8/28, some failures were also in other test categories:
* System.Net.Requests.Tests - 10 (2x RedHat.74, 2x Centos.74, 2x Ubuntu.1404, 2x OpenSuse.423, 1x Ubuntu.1604, 1x Debian.87)
* System.Net.Security.Tests - 8 (2x Ubuntu.1604, 2x Debian.87, 1x Centos.74, 1x RedHat.74, 1x Ubuntu.1404, 1x OpenSuse.423)

[2018-08-31 16:55] danmosemsft commented on #21803
@fanoI if this is now tracking cross-platform UI perhaps you could clarify that in the title.

[2018-08-31 17:06] rmkerr commented on #32000
@karelz I'll disable that test now.

[2018-08-31 17:13] bartonjs commented on #32000
@karelz Are all of the System.Net.Requests.Tests and System.Net.Security.Tests failures from my OpenSSL hybridization PR (#32006?).  I wasn't seeing those hangs locally until this morning, when I rebased on master (notably, I just jumped across the same xunit runner upgrade); but it's entirely possible that my change is exacerbating something.

[2018-08-31 17:19] annaaniol commented on #32015
I updated the description by removing `NativeLibrary::GetEntrypoint()` and the event-based vision. I think we agreed on having callbacks and exposing only the `NativeLibrary::Load()` function & mapping only libraries when using the dllmap. I also added the `assembly` argument to `RegisterNativeLibraryLoadCallback` as Swaroop suggested.

[2018-08-31 17:20] jnm2 commented on #31889
This is something I have to solve over and over in every project that uses SR.Metadata. Would you consider adding an API which parses serialized type names into a type provider, and an API which resolves enum metadata in external assemblies given an assembly file resolver which the user would implement?

[2018-08-31 17:51] CShark opened #32051 "WCF stops working when referencing System.Threading.Tasks.Dataflow"
I have two applications and I want to communicate between them using WCF using a Named Pipe. And it's broken.

The error is either a`EndpointNotFoundException` by the client while calling a function on the proxy if you start the ServiceHost in a separate Thread or a Server-side `FaultException` followed by a `AddressAlreadyInUseException` by the client if you open the host in the main thread (whic

[2018-08-31 17:52] krwq commented on #24704
@tmds I agree that on Windows openning xlsx opens Excel - I do not say this is bad but as a counterargument please note that on Windows if you open command prompt and type `foo.xlsx` it will also open Excel while shell won't do it for you without explicitly using i.e. xdg-open

[2018-08-31 17:57] MattGal opened #32053 "Network build failures in 'prodcon/corefx/release/2.2/' - '20180831.01'"
@dotnet-mc-bot commented on [Thu Aug 30 2018](https://github.com/dotnet/core-eng/issues/4138)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1993890
  - **Agent:** DDVSOWINAGE079
  - **Error log:** fatal: unable to access '***': Failed to connect to devdiv.visualstudio.com port 443: T

[2018-08-31 18:26] TSlivede commented on #24704
@wfurt

Yes, but that doesn't mean `UseShellExecute` is using cmd.exe ("command prompt") or any other command-line-shell. There are things that work with `UseShellExecute` but not in cmd, and things that work with cmd but not with `UseShellExecute`.

`UseShellExecute` allows urls (like http://google.de) to be opened in your browser, cmd.exe does not allow this.
cmd allows pipes, input- and output-

[2018-08-31 18:32] karelz commented on #32000
@bartonjs you're right, we can ignore those.
Kusto doesn't have easy mapping to PR (I will follow up to improve that). I checked manually and all the listed System.Requests.Tests and System.Net.Security.Tests hangs are from your PR #32006 - these 3 commits:
* https://github.com/dotnet/corefx/commits/dccab48ee72b1623ee594ff529d69b53da8bdbdd
* https://github.com/dotnet/corefx/commits/3c99f1d3fef0568

[2018-08-31 18:33] jkotas commented on #32015
This seems to be missing return type. What is the callback going to return?

It is unusual API design for Register method to return the previous callback. I do not think there is any prior art like that - here are examples of the existing Register methods: https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtoken.register?view=netcore-2.1 and https://docs.microsoft.com/en-us/d

[2018-08-31 18:37] karelz commented on #32000
@bartonjs if you can repro the new hangs locally, can you please check which tests are affected? It seems that the new xunit runner made the tests more suspectible to the hangs. Maybe even bug in xunit? ... We will see.
@rmkerr we will need to get to the bottom of this as high-pri - it seems more tests are affected than just the one we are disabling and it will block more and more devs over time.

[2018-08-31 18:38] TSlivede commented on #24704
`UseShellExecute` is executing a shell program: `xdg-open/gnome-open/gvfs-open/gio open/kfmclient` are shell programs, they are just not *command-line*-shell-programs.

I know, that in the *NIX context "shall" basically always means command-line-shell. But AFAIK .NET was originally developed for Windows, so when the term shell is used in the API it almost certainly means shell as in [Windows Shell

[2018-08-31 18:47] AaronRobinsonMSFT commented on #32015
@jkotas I agree this is not common the .NET world, but it is common in C++. See as an example: https://en.cppreference.com/w/cpp/error/set_terminate. Unsure if that sways the design in either direction, but I have always appreciated the ability to reset the value, but it may not matter in this case.

[2018-08-31 18:54] jeffschwMSFT commented on #32015
https://github.com/Microsoft/perfview/blob/9d8a9b90c5ed917da1b9bdea98210114a270e633/src/TraceEvent/TraceEvent.cs#L3212

This is an example of how TraceEvent handles a similar event where their could be multiple subscribers to a callback style event.  They are chained in a simple manner.

[2018-08-31 18:54] Petermarcu opened #32054 "How to get hardware information for MacOs、Linux and other OS"
@linkanyway commented on [Thu Aug 30 2018](https://github.com/dotnet/core/issues/1908)

# How to get hardware information for MacOs、Linux and other OS

is any possible to get hardware information by .net core

there is have `RuntimeInformation` class can help me to get .net core version some other helpful information, but i really need get hardware information also  like CPU core number,CPU speed,

[2018-08-31 18:57] Petermarcu opened #32055 "RegEx.IsMatch appear to fall into infinite loop"
@ie-zero commented on [Wed Aug 29 2018](https://github.com/dotnet/core/issues/1901)

# Issue Title
Regex.IsMatch appears to fall into an infinite loop when attempting to match

string ```"BEGIN:VCOMPONENT\r\nBEGIN:VCOMPONENT\r\n"```
against ```@"^(BEGIN\:VCOMPONENT\r\n)(.*\n*)*(END:VCOMPONENT\r\n)$"``` regular expression.

# General
I have experienced this behaviour on Windows 7 under .NET Core 2.

[2018-08-31 18:58] filipnavara commented on #32000
Did the tests run at all before the xunit upgrade? One of the reasons why the upgrade was made is that a lot of tests were incorrectly ignored and not run at all.

[2018-08-31 18:59] Petermarcu opened #32056 "Multiple Sqlconnections with Same connectionstring enlisting into distributed transaction"
@leo12chandu commented on [Fri Aug 24 2018](https://github.com/dotnet/core/issues/1892)

# Issue Title
Multiple Sqlconnections with Same connectionstring enlisting into distributed transaction.

# General
When I open 2 SqlConnections as below and enlist each of them in the same committable transaction, it enlists as a distributed transaction. I would've thought if its the same connection string, w

[2018-08-31 19:03] Petermarcu opened #32057 "TPL Joinblock sample works on .NET Framework 4.6, but has thread issue on Core"
@ZeroPKI commented on [Mon Aug 20 2018](https://github.com/dotnet/core/issues/1872)

# Issue Title

I'm using the following sample on .NET Framework 4.6 and it runs properly, however when I use the same code with .Core, the other threads never get called.
https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/how-to-use-joinblock-to-read-data-from-multiple-sources

# General

All in

[2018-08-31 19:09] jkotas commented on #32015
Right, there are multiple choices for how to deal with multiple callbacks. Looking at real scenarios when we expect multiple callbacks to be registered should help us choose the right one.

[2018-08-31 19:11] masonwheeler commented on #32015
Wait... isn't this literally the entire point of `event` and `MulticastDelegate`?  What am I missing here?

[2018-08-31 19:15] jeffschwMSFT commented on #32015
There is a semantic difference, for event all handlers will be invoked.  Here once we get a result we are going to stop calling the callbacks.

[2018-08-31 19:15] krwq commented on #24704
I think URLs and piping is something which convinces me more toward the proposed solution. I think it would be useful to compile a table of all scenarios we can think of which are expected to work on Windows and then from there figure out how to handle that on Linux so that we get maximum compat. It would be useful to also add stuff which is not working on Windows but currently does (or previously

[2018-08-31 19:42] tmat commented on #31889
Yes, decoding and encoding serialized type names would be useful. Could you file an issue?

No, such API does not belong to System.Reflection.Metadata.
https://github.com/dotnet/corefx/issues/2800 might be what you are looking for.

[2018-08-31 19:43] TSlivede commented on #24704
`UseShellExecute` on Windows allows using the parameter `Verb`. Some things that are possible with that parameter are documented [here](https://docs.microsoft.com/en-us/windows/desktop/api/shellapi/ns-shellapi-_shellexecuteinfow#edit) or [here](https://docs.microsoft.com/en-us/windows/desktop/api/shellapi/nf-shellapi-shellexecutew#edit), some others [here](https://docs.microsoft.com/en-us/windows/

[2018-08-31 19:48] krwq commented on #24704
@TSlivede I think abandoning completely won't work - we should cover at least most of the use cases (likely something really close to what you have proposed) and propose better alternative once we know what that is.

[2018-08-31 20:02] TSlivede commented on #24704
If by this you mean "the most used use cases" - ok, this shouldn't be too hard. Partially reverting https://github.com/dotnet/corefx/pull/24017 (try to execute directly before using `xdg-open, etc`) and maybe implementing the verb `runAs` using `sudo` or similar should cover most use cases.

If by most cases you mean something like 80% of all different use cases - I don't think that's possible, be

[2018-08-31 20:35] TSlivede commented on #24704
More strange things about `UseShellExecute`, that make it hard, to emulate the exact behavior of `UseShellExecute` on Windows:

- [`UseShellExecute` must be true for `ProcessStartInfo.ErrorDialog`](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.errordialog?view=netframework-4.7.2#remarks)
- [`WorkingDirectory` behaves differently depending on whether `UseShellExecu

[2018-08-31 20:47] krwq commented on #24704
@TSlivede I meant used use cases 😄 I'll see if we got some data about it available from nuget/github. I agree on what you just wrote (unless we got someone requesting any of that and has a valid scenario)

[2018-08-31 21:12] SteveL-MSFT commented on #31877
I'm able to work around the PowerShell PSSessionConfiguration issue by using `ServiceController.Refresh()` rather than creating a new object each time (still slower, but not an order of magnitude).  However, there still seems to be a fundamental issue with object creation performance.

[2018-08-31 22:11] rmkerr commented on #30691
Interestingly, I haven't even been able to get a failure from running the whole `Kestrel.Transport.Sockets.FunctionalTests` suite. I'm going to see if I can get things working on a separate machine, as it probably isn't worth diagnosing what is different about my current setup.

[2018-08-31 23:08] jorive opened #32062 "Regression on CoreFx benchmarks performance since tier jitting was enabled by default."
When tiered jitting was enabled by default on CoreClr, nothing was done to disable it for the performance runs on CoreFx. Was it intended? What do we want to do here?

[2018-08-31 23:31] danmosemsft commented on #32062
@kouvel my assumption is that for the microbenchmarks we use for corefx, we do not want tiered jitting involved (since it introduces uncertainty and also we are more interested in steady state perf) and ideally could switch it off entirely.

[2018-09-01 00:36] danmosemsft commented on #32055
@ie-zero hello, this regular expression is going to be slower than necessary in any engine because it involves heavy back tracking.

Your regex and pattern can be simplified and still demonstrate the problem eg to `(.*)*(Z)` and `abcdefghijklmnopqrstuvwxyz`. The engine matches zero or more characters zero or more times then takes zero or more of whatever that matched and then looks for the end of

[2018-09-01 00:36] #32055 closed

[2018-09-01 00:48] danmosemsft commented on #31181
Did not mean to close.

[2018-09-01 01:29] noahfalk commented on #32062
@kouvel is on vacation for a week

I'd be hesitant to disable tiered compilation as a long term measure. It has significant implications for steady state performance in some cases and that is the behavior customers are going to see.

If tests have regressed I suspect we'll want to figure out where that regression has come from and whether we think its a real issue that impacts customers (in which

[2018-09-01 03:54] danmosemsft commented on #31877
I agree. One data point so far is that if I take the.NET Core implementation and port it to.NET Framework, it is equally slow. So either the code is doing more work, which is not apparent to me, or something else like interop code possibly.

[2018-09-01 04:58] shakeri opened #32063 "Can not send email with SmtpClient on Ubuntu 18.4 LTS"
I'm trying to send email using Google SMTP server but its throwing exception:
[code]
At `Startup` Class:
[code]
And in `Controller`:
[code]

[2018-09-01 06:43] Alicg opened #32064 "Why does a copyright header of System.IO.Compression.DeflaterManaged refer to zlib?"
I don't understand why copyrights of System.IO.Compression.DefalterManaged.cs (https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.IO.Compression/src/System/IO/Compression/DeflateManaged/DeflaterManaged.cs) and System.IO.Compression.InflaterManaged (https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.IO.Compression/src/Sys

[2018-09-01 10:22] grahamehorner opened #32065 "AuthenticateAsClientAsync expections"
when attempting to connect to a Windows 10 IIS FTPS site on localhost the `AuthenticateAsClientAsync` exceptions `AuthenticateAsClientAsync("localhost",null,Tls|Tls11|Tls12)`

`new SslStream(NetworkStream, true).AuthenticateAsClientAsync("localhost",null,Tls|Tls11|Tls12);`

with or without the `RemoteCertificateValidationCallback`

[code]

[2018-09-01 13:13] ElderJames commented on #28403
I have this issue too.

[2018-09-01 14:51] benaadams commented on #31969
/cc @HassanHashemi

[2018-09-01 15:42] kouvel commented on #32062
My expectation was that most cases of cold methods with hot loops in the benchmarks would disappear after the switch to use BenchmarkDotNet. It looks like some new benchmarks based on BDN are in dotnet/performance repo (https://github.com/dotnet/performance/tree/master/src/benchmarks/corefx). Are the performance tests in the corefx repo going to be deleted eventually? Is there a regression in the

[2018-09-01 15:46] HassanHashemi commented on #31969
@geoffkizer this is the results i got after 50K request in 30 minutes.

![image](https://user-images.githubusercontent.com/6805984/44947525-0215a100-adc3-11e8-8ff4-0737a12091fb.png)

I will gladly do that.

[2018-09-01 19:48] jnm2 opened #32067 "Serialized type name decoder and encoder for SR.Metadata"
It's not possible to read attribute data from metadata without decoding serialized type names. I've had to reinvent my own parsing logic in every project, generics and all. Since this seems like a standard with only one correct implementation, it seems like a good fit for System.Reflection.Metadata. The current API simply hands you the serialized string during decoding and expects you to parse it:

[2018-09-01 19:50] jnm2 commented on #32067
@Anipik I believe this one is `area-System.Reflection.Metadata`.

[2018-09-01 19:51] jnm2 commented on #31889
@tmat

 opened: https://github.com/dotnet/corefx/issues/32067

Okay, probably. #2800 seems like a heavyweight way to deal with a narrow problem, but it could be more widely useful too.

[2018-09-01 19:57] jnm2 commented on #31889
@nguerrera

It just sunk in that changing the underlying type of an enum is one of the worst possible breaking changes for a library author. Attribute decoders will have no option but to read too much or too little and mess up everything that follows!

Changing the underlying type of an enum doesn't get a mention at https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/break

[2018-09-01 20:02] kellis1990 commented on #30729
Licence MIT

Copyright (c) [rok] [úplné jméno]

Povolení se uděluje bezplatně každé osobě, která obdrží kopii
tohoto softwaru a přidružených dokumentačních souborů ("Software"), které se mají vyřešit
v Software bez omezení, včetně práv bez omezení
používat, kopírovat, upravovat, sloučit, publikovat, distribuovat, sublicenci a / nebo prodávat
kopie softwaru a umožnit osobám, kterým je software posk

[2018-09-01 22:57] Petermarcu opened #32068 ".NET Core 2.1 downgrades HTTP/2 requests"
@lukebondespok commented on [Fri Aug 31 2018](https://github.com/dotnet/core/issues/1910)

Hello!

I have a Console application that targets .NET Core 2.1 in which I make an HTTP/2 request to google. However, when I inspect the outgoing HTTP request, I notice that the request was downgraded to HTTP/1.1. This can also be verified by checking the Version of the response.

[code]

If I target .NET Co

[2018-09-01 23:29] paule96 opened #32070 "Is there a way to port System.Beep to multiplattform?"
Hallo .NET Communtiy,

I have play a little bit with System.Beep. but then I see [here](https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Common/src/Interop/Windows/kernel32/Interop.Beep.cs) in the source code that only supports Windows. (and also I try it on a ubuntu bash...)

Can we port this to the other plattforms too? It would be very great! Currently [this](h

[2018-09-02 00:01] benaadams commented on #27526
Also

https://github.com/aspnet/KestrelHttpServer/blob/6551eae321cd6306b485906ea47e8d41e932d65b/src/Kestrel.Core/Internal/Http/HttpParser.cs#L399

and

https://github.com/aspnet/KestrelHttpServer/blob/153020ef8a81aa6b4c6efebd83a8b04863e4d40d/src/Kestrel.Core/Internal/Infrastructure/HttpUtilities.cs#L127

[2018-09-02 01:09] danmosemsft commented on #32070
Hello! Would you like to offer a PR?

[2018-09-02 03:33] danmosemsft commented on #32062
@adamsitnik

[2018-09-02 05:08] jkotas commented on #32070
Duplicate of https://github.com/dotnet/corefx/issues/25746

[2018-09-02 05:41] #32070 closed

[2018-09-02 05:42] danmosemsft commented on #32064
@AlexGhiondea do you konw?

[2018-09-02 05:43] danmosemsft commented on #32063
Hello, it may not help, but can you please confirm this reproes on 2.1 (or master)? 2.0 is about to go out of support.

[2018-09-02 08:34] wgebczyk commented on #30368
Hi,
I would like to pick up this issue and solve it. I have a few questions:
1. By "more compression test zips" you mean more physical files being added to test proj OR anyway of specifying such various input files?
2. I would assume the work in area of "$\src\System.IO.Compression" - not the Brotli part
3. What is the intention on adding "more weird zips" - improve coverage of existing code or fu

[2018-09-02 10:41] benaadams commented on #26523
Related issues https://github.com/dotnet/coreclr/pull/18670, https://github.com/aspnet/HttpClientFactory/issues/171

[2018-09-02 11:51] svick commented on #31934
Is there a reason why the API is synchronous? Would it be possible to make it asynchronous?

[2018-09-02 11:58] odhanson commented on #31934
@svick we are trying to find the common denominator for all platforms.  AFAIK the posix APIs are synchronous and most of the use cases too.

I dont see any problem wrapping these APIs with Tasks if you need to make them Async.

[2018-09-02 11:58] benaadams commented on #26523
Another instance where it would be useful https://github.com/aspnet/SignalR/pull/2904

[2018-09-02 12:05] benaadams commented on #26523
Current (ugly) workaround is:
[code]

[2018-09-02 12:27] benaadams commented on #26523
Another instance where it would be useful https://github.com/aspnet/Razor/pull/2565

[2018-09-02 12:51] qibunext opened #32073 "SaaS应用资源有限的情况下如何自动回收内存使用量"
[code]
SaaS应用资源有限的情况下如何自动回收内存使用量
数据访问使用的是 Entity framework + Pomelo.EntityFrameworkCore.MySql
服务器配置
2核4G内存
当应用程序运行在.net core 2.0上时内存使用量会缓存增加，但使用量最大化时会自动重启应用程序，会停止一会，（目前只能先用.net core 2.0）
应用程序运行在.net core 2.1上时内存使用量也会缓存增加，使用量最大化时不会自动重启，一直停留在最大的使用量。导致静态文件访问不了，mysql数据库访问也会超时

[2018-09-02 13:07] SimonCropp commented on #9725
note that the above workaround of

[code]

which used to return
[code]

now on 2.1 returns
[code]

so no longer useful

[2018-09-02 16:51] ie-zero commented on #32055
Thank you very much for taking the time to look into this @danmosemsft

[2018-09-02 17:28] danmosemsft commented on #32055
You're welcome @ie-zero. By the way if you are interested in contributing to.NET Core, there are plenty of issues marked up for grabs...

[2018-09-02 18:40] Zexuz commented on #32018
I have not tried with .NET Framework. Sadly I have no time to try with .NET Framework. I just hope even if this does not get fixed, that if someone google the stack trace it lets them here to help them figure out why it does not work.

[2018-09-02 21:37] ZBAGI commented on #31531
Thank you @ajcvickers for your opinion. In most of scenarios data have be validated manually - eather by searching database or applying more complex rules. And validation attributes are there just to filter out the obviously incorrect requests so application can deal with correct requests from the get go. By following that logic all validation related data annotations are useless - at least from v

[2018-09-02 21:58] hennys commented on #24547
We are running into the exact same issues after the unlisting.

For a bit of background, our CMS Library, which has `net461` and `netstandard2.0` targets, is using Dataflows. We wanted to use the newer `System.Threading.Tasks.Dataflow` package, but as it only has .NET Standard and Portable targets, any .NET Framwork 4.6.x application that uses our library would end up with the .NET Standard 2.0 ve

[2018-09-03 01:32] danmosemsft commented on #32073
Translation:
"How to automatically reclaim memory usage when SaaS application resources are limited
Data access using Entity framework + Pomelo.EntityFrameworkCore.MySql
server configuration
2 core 4G memory
When the application runs on .net core 2.0, the memory usage will increase, but when the usage is maximized, the application will be restarted automatically and will stop for a while. (At pres

[2018-09-03 02:03] Julian89757 commented on #31034
how is  going on  ?

[2018-09-03 03:30] davidsh commented on #32068
Yes it is expected.  .NET Core 2.1 switched to a different HTTP stack.  And it currently doesn't support HTTP/2.0.

See:
https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-net-core-2-1/

We built a new from-the-ground-up HttpClientHandler called SocketsHttpHandler to improve networking performance. It’s a C# implementation of HttpClient based on .NET sockets and Span<T>.
SocketsHttpHand

[2018-09-03 03:30] davidsh commented on #32068
cc: @karelz

[2018-09-03 07:57] dotnet-mc-bot opened #32076 "Test failure: System.Globalization.Tests.NumberFormatInfoCurrentInfo/CurrentInfo_CustomCulture(newCurrentCulture: en)"
Opened on behalf of @Sunny-pu

The test `System.Globalization.Tests.NumberFormatInfoCurrentInfo/CurrentInfo_CustomCulture(newCurrentCulture: en)` has failed.

System.Diagnostics.RemoteExecutorTestBase+RemoteInvokeHandle+RemoteExecutionException : Remote process failed with an unhandled exception.

        Stack Trace:

    Child exception:
      Xunit.Sdk.SameException: Assert.Same() Failure
    E

[2018-09-03 08:13] dotnet-mc-bot opened #32077 "Test failure: System.IO.Ports.Tests.GetPortNames/OpenEveryPortName"
Opened on behalf of @Sunny-pu

The test `System.IO.Ports.Tests.GetPortNames/OpenEveryPortName` has failed.

System.IO.IOException : The operation completed successfully.

        Stack Trace:

           at System.IO.Ports.InternalResources.WinIOError(Int32 errorCode, String str) in E:\A\_work\2\s\corefx\src\System.IO.Ports\src\System\IO\Ports\InternalResources.cs:line 93
       at System.IO.Ports

[2018-09-03 08:49] AriNuer commented on #21876
Test Failed again:
https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180902.04/workItem/System.Linq.Parallel.Tests/analysis/xunit/System.Linq.Parallel.Tests.ParallelQueryCombinationTests~2FSequenceEqual_OperationCanceledException(operation:%20Union-Right)

[2018-09-03 09:19] AriNuer commented on #9228
Failed again:
https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180902.04/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_PostScenarioTest~2FPostUsingContentLengthSemantics_Success(serverUri:%20https:~2F~2Fcorefx-net-http2.azurewebsites.net~2FEcho.ashx)

[2018-09-03 09:58] olijf commented on #32027
Hi @tmds ,
I see you've already figured out how to reproduce this and have pushed a fix to mitigate my issue. Can you give me an indication when I can expect this into the regular release? I'm very happy with how fast you've resolved this. Thank you.

[2018-09-03 10:40] shakeri commented on #32063
@danmosemsft thanks for reply.
I upgraded this project to version 2.1, but there is still a similar error:
[code]

[2018-09-03 11:09] tmds commented on #32027
@karelz when the PR is merged on master, will it become part of the 2.2 release? Can we consider this for 2.1?

@olijf by doing the `setsockopt(s.Handle.ToInt32(), 1, 2, &value, sizeof(int));` you should be able to unblock yourself. Please give it a try, an confirm that resolves the issue.

[2018-09-03 12:12] couven92 opened #32078 "Creating a ReadOnlySpan<byte> over a ref readonly parameter"
Is there a way to create a read-only span of a `ref readonly` or `in` parameter?

In essence I'd like to be able to create a `ReadOnlySpan<T>`over a function parameter in order to call the `.AsBytes()` extension method to get a `ReadOnlySpan<byte>` which will allow me to access the individual bytes of the input parameter.

The closest I have been able to get is calling `MemoryMarshal.CreateReadOnl

[2018-09-03 12:42] brettshearer opened #32080 "Process.Kill ArgumentNullException"
Receiving exception during Process.Kill as below.

   at System.StubHelpers.StubHelpers.SafeHandleAddRef(SafeHandle pHandle, Boolean& success)
   at Microsoft.Win32.NativeMethods.TerminateProcess(SafeProcessHandle processHandle, Int32 exitCode)
   at System.Diagnostics.Process.Kill()

ReferenceSource shows code differently to CoreFX code on GitHub.

 using (SafeProcessHandle handle = GetProcessHan

[2018-09-03 13:40] benaadams commented on #32078
Aside if you were converting to bytes you might want to use the unmanaged constraint?
[code]

[2018-09-03 14:11] drauch opened #32081 "ServicePoint ConnectionLimit reset when creating a web request"
I'm configuring an explicit ConnectionLimit for a given ServicePoint (note, I don't set ServicePointManager.DefaultConnectionLimit, as I want to set the new limit only for one specific service).

However, my ServicePoint's ConnectionLimit seems to be reset when creating a new request - look in `https://github.com/dotnet/corefx/blob/release/1.1.0/src/System.Net.Http/src/System/Net/Http/HttpClientHa

[2018-09-03 14:13] benaadams commented on #32078
So this would work:
[code]

[2018-09-03 14:33] drauch commented on #32081
It looks like on the current implementation it has changed to a correct:

{code}
if (this._maxConnectionsPerServerChanged)
        webRequest.ServicePoint.ConnectionLimit = this._maxConnectionsPerServer;
{code}

When did this change happen exactly?

[2018-09-03 15:18] danmosemsft commented on #32063
Thanks. Do you have a different machine to try? Not much to go on.

[2018-09-03 15:26] drauch commented on #32081
OK, it looks like this is https://github.com/Microsoft/dotnet/blob/master/releases/net471/KnownIssues/534719-Networking.ServicePoint.ConnectionLimit%20default%20behavior%20changed.md

But why is it working when referencing my GAC 4.7.1 version and it is only defect when I use the System.Net.Http NuGet package 4.3.3 (latest)?

[2018-09-03 16:01] couven92 commented on #32078
@benaadams Thank you very much! Exactly what I needed.

For completeness: When targeting .NET Standard, `MemoryMarshal.CreateReadOnlySpan` does not (yet) exist. Add references to `System.Memory` and `System.Runtime.CompilerServices.Unsafe` and use the following code instead:

[code]

[2018-09-03 16:01] #32078 closed

[2018-09-03 16:24] joshudson opened #32082 "[security] Directory.Delete(@"somepath", true) can be duped by a malicious process to descend other directories"
I have inspected the Windows and the Linux code and found both to be not armored against directory traversal switcheroo.

Exploit path:

1) Create a folder in the root directory with a bunch of files and subdirectories
2) Create a subdirectory with a large tree that mimics the contents of the directory you want the administrator to destroy
3) Wait for the administrator to attempt the delete. This

[2018-09-03 16:29] benaadams commented on #32078
Don't do that as you'll create a span on an untracked pointer and have a GC hole.

Could use `MemoryMarshal.CreateSpan` instead?
[code]

[2018-09-03 16:33] benaadams opened #32083 "Test failure UWP: System.Net.HttpListener.Tests, Read_NullBuffer_ThrowsArgumentNullException"
[code]

[2018-09-03 16:34] benaadams commented on #32083
See in https://github.com/dotnet/corefx/pull/32069

[2018-09-03 16:53] couven92 commented on #32078
@benaadams no, `CreateSpan` is also unavailable in .NET Standard

[2018-09-03 18:30] benaadams commented on #32078
Ahh, cos the runtime can't necessarily handle an internal reference pointer; it additionally needs the object pointer for the GC to hold it

[2018-09-03 18:37] olijf commented on #32027
@tmds Your workaround works fine in one scenario but in another one i'm still getting the bind exception. I'm still investigation why this happens.

[2018-09-03 18:44] couven92 commented on #32078
@benaadams Will it be added to standard in the future, do you think? Should I open an issue for that?

Can I call the internal ref T constructor for Span and ROS via Reflection? By creating an expression lambda I mean?

[2018-09-03 19:10] benaadams commented on #32078
Don't know...

/cc @jkotas

[2018-09-03 19:31] danmosemsft opened #32084 "Conditional tests are ignored in netfx runs"
Add a test like
[code]
Run it with `msbuild /t:rebuildandtest /p:targetgroup=netcoreapp` and it will run
Try `msbuild /t:rebuildandtest /p:targetgroup=netfx` and it will not be discovered (even marked as skipped)

@ViktorHofer

[2018-09-03 19:35] danmosemsft commented on #32082
@JeremyKuhne

[2018-09-03 21:03] danmosemsft commented on #32080
What version of .NET Core are you using?

This seems to mean the SafeHandle itself is null
[code]

I'm not sure why that is, but there's interop magic around SafeHandles. From the C#, I can't see how the handle could be invalid, either.

Do you have a way to repro? Or can you get under the debugger?

[2018-09-03 21:04] danmosemsft commented on #32083
ERROR_WINHTTP_CONNECTION_ERROR/WININET_E_CONNECTION_ABORTED  0x80072EFE

[2018-09-03 21:41] brettshearer commented on #32080
Sorry, this is .Net Winforms running 4.6 - I presume I am posting to the wrong location?
If so, what is the new location. Unfortunately with Connect disappearing and Microsoft content still pointing to Connect it makes finding it a bit hard.

https://www.microsoft.com/net/support/report-a-bug
points to
https://docs.microsoft.com/en-us/collaborate/connect-redirect

[2018-09-03 21:46] jkotas commented on #32078
The `MemoryMarshal.CreateSpan` method is being added to .NET Standard 2.1 in https://github.com/dotnet/standard/pull/819/ . Note that .NET Standard 2.1 will only work on new runtimes - it won't work on existing runtimes.

If you want to light up on runtimes that allow this via reflection, you should call the public `MemoryMarshal.CreateSpan` method via reflection. Calling internal methods via refl

[2018-09-04 02:39] danmosemsft commented on #32080
@brettshearer bugs in .NET Framework can be reported [here](https://developercommunity.visualstudio.com/spaces/61/index.html).

If the bug reproes in .NET Core, this is the place.

Yep, but why did `GetProcessHandle` return this handle. A repro would help.

[2018-09-04 02:46] danmosemsft commented on #32077
`Interop.mincore.OpenCommPort` returned an invalid handle for some port that had been returned by `Interop.mincore.GetCommPort`, but GetLastError returned 0.

[2018-09-04 02:57] brettshearer commented on #32080
Thanks - we are anticipating it may be a cross thread issue where two threads access Process.
Docs neither confirm nor deny thread safety on Process class.
We will try and force a repro separate to our implementation, but I expect it may simply turn into a documentation omission (although the reality is if not specifically mentioned thread safe, it's not).

[2018-09-04 03:10] ZhiqiangTao opened #32086 "How to get the duration of a mp3 file by using .net core 2.0 in Linux(Docker)?"
is there any useful api exists? I have found more time, but no result.

[2018-09-04 04:42] #31648 closed

[2018-09-04 06:31] shakeri commented on #32063
I tested this project on Windows Server 2012 R2 on the same network and it worked without problems.

[2018-09-04 08:31] MarcelWouters opened #32088 "new X509Certificate2 throws exception while loading certificate in Docker container"
SDK: Microsoft.AspNetCore.App 2.1.1

The following code throws an exception when it runs in a docker container

`            var certificatePath = Path.Combine(env.ContentRootPath, "TestCertificate.pfx");

            Console.WriteLine($"Certificate file exists: {File.Exists(certificatePath)}");

            var certificate =new X509Certificate2(certificatePath, "Password");`

The following except

[2018-09-04 11:56] brettshearer commented on #32080
I knocked together a repro to show the issue.
Run the following code a few times (I dropped it into a button click on a winform to create it).

[code]

[2018-09-04 12:02] schungx commented on #31011
Well, I came about this when needing to process zero-padded byte data obtained via a Socket.  So naturally something like `TrimEnd` for `Span<byte>` where I can specify the `trimElement` to be zero is immensely useful.

I can see this being useful in cases where you need to handle fixed-sized records with some default padding value.

Therefore, if 6 API's are too many, I would recommend just addin

[2018-09-04 12:12] jan0e opened #32089 "Redirecting process output blocks entire program on Ubuntu"
We observe strange behavior on our application, when starting processes with their output redirected. The complete application seems to be affected and gets very slow. This is very notable when the started processes write data to stdout in a medium frequency (e.g. 10 Hz).

We observe this with the current SDK (2.1.401) on Ubuntu 16.04.

I created a [minimal repo](https://github.com/jan0e/DotnetCor

[2018-09-04 12:29] Zermond opened #32090 "impersonate user on linux"
Hi,

I have one application by net core wich using under user1, and I have folder or file which have owner user2. Me need from my proccess with use impersonate get access to file or folder. How I can do it?

[2018-09-04 13:30] bartonjs commented on #32088
A similar issue was reported previously where the answer was to run with USER ContainerAdministrator.

https://github.com/dotnet/corefx/issues/25717#issuecomment-397918250

[2018-09-04 13:46] tmds commented on #32027
@olijf When setting both SO_REUSEADDR (via setsockopt) and SO_REUSEPORT (via SocketOptionName.ReuseAddress), I only got a bind exception when a previous socket was bound that didn't set any option.

[2018-09-04 13:57] jkotas commented on #31999
This issue was moved to dotnet/coreclr#19817

[2018-09-04 13:57] #31999 closed

[2018-09-04 14:06] lukebondespok commented on #32068
Wonderful, thanks for the help!

[2018-09-04 14:47] qmfrederik opened #32092 ".NET Core Only: CryptographicException: Unable to set field EncapContentInfo on type SignedDataAsn"
I'm using the `SignedCms` class to read a file which has an Authenticode signature.

When calling `SignedCms.Decode`,  I get a `CryptographicException` on .NET Core; but the code completes successfully on NET 4.x.

Here's the full stack trace:

[code]

You should be able to reproduce this issue with any driver catalog on Windows. For example, let's take the driver for an iPhone:

[code]

I'm testi

[2018-09-04 14:49] qmfrederik commented on #32092
/cc @filipnavara @bartonjs I know a lot of work is being done in this area of the codebase, so if there's a newer version of the, say, System.Security.Cryptography.Pkcs NuGet package you want me to test this with, let me know.

[2018-09-04 14:56] qmfrederik commented on #32086
.NET Core doesn't have a out-of-the-box MP3 API that I'm aware of.

You can use 3rd party libraries which enable you to work with MP3 files and inspect their metadata, such as the duration.

You can try a project like [FFmpeg.AutoGen](https://github.com/Ruslan-B/FFmpeg.AutoGen), searching [NuGet](http://nuget.org) for packages which help you interact with MP3 files, or ask this question on a site

[2018-09-04 14:56] filipnavara commented on #32092
I don't think the code currently handles Authenticode, but it's one of the things on my todo list.

[2018-09-04 14:58] adamsitnik commented on #32062
I have recently ported and partially rewrote all 3000+ CoreCLR and CoreFX benchmarks to BenchmarkDotNet. They are all available in the performance repo. We plan to open it as soon as we are ready (1-3 weeks). The old benchmarks are going to be removed, we are going to stop using xunit-performance.

Yes, it will. How?

1. BDN performs Pilot Experiment to decide how many times given benchmark should

[2018-09-04 15:38] IcanBENCHurCAT commented on #30261
Watching this issue. I see jbhensley has a code change for this. Interested to see feedback on the code change, if there is any.

[2018-09-04 15:49] IcanBENCHurCAT commented on #14346
Looks like there is still a lot of code coverage to be desired here. I will be digging into Mono tests this week to see if there is anything that can be pulled over.

[2018-09-04 16:05] ajcvickers commented on #31531
@ZBAGI If we were designing from scratch, then it wouldn't behave differently from string. However, the default behavior is that they do behave differently, and that cannot be changed, so the question is not the value of making them work the same, but the value of adding a switch and a new behavior.

[2018-09-04 16:06] lukebondespok commented on #32068
Any idea on when the SocketsHttpHandler implementation will support HTTP/2?

Thanks!

[2018-09-04 16:08] karelz commented on #32063
I suspect a problem with configuration on Linux - similar to #29087
@tmds @wfurt any tips & tricks for troubleshooting?

[2018-09-04 16:13] karelz commented on #32068
@lukebondespok we are currently targeting 3.0 (it can of course change).
Closing as answered.

[2018-09-04 16:13] #32068 closed

[2018-09-04 16:13] AtsushiKan commented on #32067
Note that Reflection already exposes a decoder.

https://docs.microsoft.com/en-us/dotnet/api/system.type.gettype?view=netframework-4.7.2#System_Type_GetType_System_String_System_Func_System_Reflection_AssemblyName_System_Reflection_Assembly__System_Func_System_Reflection_Assembly_System_String_System_Boolean_System_Type__System_Boolean_System_Boolean_

The main limitation is that it's not generic,

[2018-09-04 16:16] karelz commented on #32073
It seems that there is a memory leak - please use memory profiler for memory leak detection first.
It is not clear where the memory leak is - it can be in your code, in Pomelo or Entity Framework. Does not seem to be related to CoreFX repo, so closing.

[2018-09-04 16:16] #32073 closed

[2018-09-04 16:17] jnm2 commented on #32067
@AtsushiKan This is the target usage:

[code]

If I have to write any more logic while implementing `ICustomAttributeTypeProvider.GetTypeFromSerializedName` than this one-liner, I think that's a problem.

[2018-09-04 16:17] karelz commented on #32073
Here are links to some articles and tools you can consider to use: [query](https://www.bing.com/search?q=how+to+investigate+memory+leak+in+.NET&qs=n&form=QBRE&sp=-1&pq=how+to+investigate+memory+leak+in+.net&sc=0-38&sk=&cvid=88AE7C8547DF42059309B64032D8D1C5)

[2018-09-04 16:18] wfurt commented on #32063
I would suggest packet capture with wireshark or tcpdump. I would also suggest to install gss-ntlmssp package (or verify that it is in place)
Just some background @shakeri: Windows do have all the necessary parts needed for NTLM and Kerberos. On Unix, this varies based on distribution and configuration.

[2018-09-04 16:27] AtsushiKan commented on #32067
You'd need more than that one-liner in any case - your provider interface would have to have methods to construct nested TTypes and assembly-qualified TTypes.

But the point is taken that the solution should integrate nicely into S.R.Metadata.

[2018-09-04 16:28] karelz commented on #32081
The latest NuGet uses the same implementation as .NET Framework. In general, we recommend to drop the System.Net.Http nuget dependency as it has no advantage over using the one in .NET Framework. (previous nuget package versions tried to use different 'better' implementation and we failed to do it right, so we reverted all that)

The known issue in 4.7.1 states that it may be fixed in future. I gu

[2018-09-04 16:28] #32081 closed

[2018-09-04 16:36] paul1956 commented on #31181
@danmosemsft I wrote a test for IO.File.Exists and it seems to be returning the wrong value for a directory. The first Assert passes and the second fails.
[code]
The following tests fails
[code]

[2018-09-04 16:39] JeremyKuhne opened #32095 "Provide a way to overriding configuration file path"
Need to follow through how the default value gets set on .NET Framework and see if we can match. Notably, if there is a way to configure this via environment variables we should also allow doing this and update System.Configuration to pull from AppDomainSetup.ConfigurationFile.

At worst we should move the logic down from System.Configuration for generating this name.

Note that this value is sett

[2018-09-04 16:41] AtsushiKan commented on #32067
The argument to `GetAssemblyQualifiedType` would either be a string (the serialized assembly name) or an `AssemblyName`. The source input is a flattened string so there are no ECMA assemblyRefs to hand out.

[2018-09-04 16:42] danmosemsft commented on #31181
@paul1956 please see [docs](https://docs.microsoft.com/en-us/dotnet/api/system.io.file.exists?redirectedfrom=MSDN&view=netframework-4.7.2#System_IO_File_Exists_System_String_) for `File.Exists` - it returns false on directories. If you want something that returns true on file or directory, you can either check both, or use [DirectoryInfo.GetFileSystemInfos](https://docs.microsoft.com/en-us/dotnet/

[2018-09-04 16:43] danmosemsft commented on #22101
https://github.com/dotnet/corefx/issues/32095 created to find another solution.

[2018-09-04 16:46] jnm2 commented on #32067
Of course, thanks. `Span<char>` or `string`? 😃

[2018-09-04 16:50] AtsushiKan commented on #32067
LOL - I imagine at some point, there's be a Span/UTF8-itization upgrade of the api. I could already have used one for #2800.

[2018-09-04 16:55] Petermarcu opened #32098 ".NET Core 2.1 remote directory enumeration with filters can be slower than prior frameworks"
@ONeill45 commented on [Tue Sep 04 2018](https://github.com/dotnet/core/issues/1916)

# Issue Title

.NET Core 2.1 DirectoryInfo.EnumerateFiles() Performance is Slower than .NET Framework

# General

I have a .NET Core 2.1 Web API that is being built as a replacement for an older .NET Framework MVC Web Application (.NET Framework 4.5).

One of the responsibilities of this application is to take in

[2018-09-04 16:58] Petermarcu commented on #32098
@stephentoub as well.

[2018-09-04 16:59] rmkerr commented on #32000
I just checked in on the data this morning, and it looks like disabling the test worked. This weekend we saw less than ten test runs time out. That's in contrast to almost a hundred last weekend.

I'm having a bit of trouble setting up a machine to repro the issue, but once I get that together I'll try to fix the test itself.

[2018-09-04 17:06] karelz commented on #32027
@tmds master flows into 3.0. 2.2 is almost-servicing bar. Can you sum up the impact of this problem? If it is wide-impact, or if there is not a good workaround, we could consider it for 2.2 or 2.1.x.

[2018-09-04 17:08] JeremyKuhne commented on #32098
@ONeil45 What sort of template and source files do you have? (What is the pattern, how many files are in the directory, and how many matches)  Also, did you try measuring without the extra Linq filtering?

[2018-09-04 17:10] paul1956 commented on #31181
The comments in the code and all of the VB File handling code assumes what is in the comment, I can work with the new behavior but wanted to point out the discrepancy. What is the correct behavior for DirectoryExists and FileExist in VB, right now they just call IO.File.Exists and IO.Directory.Exists but when used internally they are expected to return True when anything exists with that FullName.

[2018-09-04 17:13] karelz commented on #32027
Based on reviewing the PR in master, it seems to be rather rare corner case, right?
Plus the workaround, sounds reasonably (although kind of ugly).

Given that we have only 1 report so far, I recommend to NOT port it to 2.2/2.1.x, until we get more developers hitting the problem.

[2018-09-04 17:28] olijf commented on #32027
Hi @karelz , imho I think this is actually a pretty big issue. Because you can not distinguish between ``SO_REUSEPORT`` and ``SO_REUSEADDR`` in dotnet core this is a major problem if you have multiple clients running created in different programming languages on the same binding (which all have different ways of doing the same thing). Plus it's a regression compared to the previous 2.0 runtime. I

[2018-09-04 17:31] AfsanehR commented on #29147
I will update here soon regarding the possibility of supporting this, however, for now the recommended way is to manually disable the Globalization Invariant Mode.

[2018-09-04 17:34] JeremyKuhne commented on #32095
Note that I don't expect this to "fix" `dotnet test`. I've opened an issue on vstest to try and get the ability to set up config files when testing.

[2018-09-04 17:39] danmosemsft commented on #31181
Ah, that comment in File.cs is wrong  (does not match implementation nor docs) please feel free to fix that.

Where does the VB code assume it returns true for a directory? I don't see it -- and that would mean the code has been broken for a long time, I think.

For the docs, I believe that refers to the "other" FileSystem class in M.VisualBasic.dll - the one that's a Module. I don't know why ther

[2018-09-04 17:45] karelz commented on #24012
Fixed in release/2.1 in PR #31806. Will be part of 2.1.5.

[2018-09-04 17:45] #24012 closed

[2018-09-04 17:48] JeremyKuhne opened #32099 "Need to pull pinning via `&MemoryMarshal.GetReference`"
C# 7.3 allows pinning spans directly. Pinning empty behaves differently than pinning the ref returned from `MemoryMarshal.GetReference`.

[code]

Yields something like:

[code]

https://github.com/dotnet/corefx/pull/32072#discussion_r214993222

cc: @danmosemsft, @jkotas

[2018-09-04 17:53] joperezr commented on #30729
Unassigning since (1) is done. I also did (2) for System.Runtime.Tests.

[2018-09-04 17:58] nguerrera commented on #31889
It should get a mention, yes. Attribute underlying types must not be changed.

[2018-09-04 18:01] JeremyKuhne commented on #32082
@morganbr

[2018-09-04 18:02] jnm2 commented on #32067
Just realized we also need `TType GetTopLevelType(string namespaceName, string typeName)`. Added to the top.

An alternative to `GetTopLevelType`/`GetNestedType` could be `TType GetNamedType(string namespaceName, string typeName, ImmutableArray<string> nestedNames)`.

Armed with this `INamedTypeProvider<>`, we could also ship helpers to build named types given a named type provider, a reader, and

[2018-09-04 18:04] BinaryPatrick opened #32100 "ASP.Net Core 2.1 not releasing memory"
An application running under a 15-25 requests per second load exhibits an endlessly growing memory footprint.

At first I thought I must have a memory leak, but when I run `dotnet new webapi`, compile the code using the release flag, and run it using `dotnet webapi.dll`, I get the same result.

I generated a load of ~20 GET requests a second to https://localhost:5001/api/values and after 10 minute

[2018-09-04 18:04] ONeill45 commented on #32098
@JeremyKuhne The folder is very large, currently 7k+ files (all .csv). The naming pattern is:

[code]

where the wildcard covers the DateTime stamp of the file's generation. Currently 12 matches are being found but that number could vary wildly depending on what number comes after the 'WK' portion of the template above (week number, let's the user target a specific fiscal week. These files get gen

[2018-09-04 18:08] danmosemsft commented on #32100
@BinaryPatrick hello, I don't know, let's move this to the ASP.NET repo.  If you want to investigate yourself, you'll want to look at https://github.com/Microsoft/perfview

[2018-09-04 18:09] danmosemsft commented on #32100
This issue was moved to aspnet/Home#3494

[2018-09-04 18:09] #32100 closed

[2018-09-04 18:10] BinaryPatrick commented on #32100
Thanks, for some reason I thought I was in the asp repo.

[2018-09-04 18:14] filipnavara commented on #32000
If it turns out to be a problem to reproduce it on your machine I can offer remote access to one of my machines. I have two of them that hang in the test 60% of the time. Just drop me an email.

[2018-09-04 18:17] AtsushiKan commented on #32067
`GetAssemblyQualifiedName()` with a null assembly name should suffice for getting "top level types." (Whether you want to split the namespace and simple name is an orthogonal matter. I don't have a strong preference either way.)

`GetAssemblyQualifiedName()` will have to be able to handle a null case since generic type arguments embedded in the serialized type name can (and do) omit the assembly q

[2018-09-04 18:19] mckenzielee commented on #30951
Yep, thank you.

[2018-09-04 18:20] AtsushiKan commented on #32067
Er, never mind, I see `GetAssemblyQualifiedName` takes a TType, not a type name. I think that's the right way to go.

[2018-09-04 18:28] karelz commented on #29147
@AfsanehR can you please look into how we can we make sure that:
1. Developers do not run into the problem by default.
2. If they run into it, the error message is descriptive enough to guide them to resolution (without further internet search, etc.).

[2018-09-04 18:29] jnm2 commented on #32067
@AtsushiKan What are your thoughts on this?

[code]

[2018-09-04 18:29] karelz commented on #32027
@olijf the key question is: How common is such setup?
I understand that if someone needs it, then it is bad, although there is a workaround.

[2018-09-04 18:30] JeremyKuhne commented on #32098
@ONeill45 Thanks for the extra info- can you provide a doc with filenames so I can repro against your exact scenario? (And an equivalent length path for the directory?) I don't need the contents, just want make sure I replicate where you're spending your time. You might be able to see something useful running this code with the perf tools in VS.

[2018-09-04 18:32] jnm2 commented on #32067
@AtsushiKan What are your thoughts on this?

[code]

If we do this, would we prefer a `TType GetAssemblyQualifiedType(TType type, MetadataReader reader, AssemblyReferenceHabndle handle)` overload or to be more eager and unify the two overloads into a method which receives `AssemblyName`?

[2018-09-04 18:35] AtsushiKan commented on #32067
For the case where you're parsing a serialized type name, SRM won't have any AssemblyReferenceHandles to hand out. I think the assembly name should just be a string. `AssemblyName` has lots of problems as an exchange type and eagerly wrapping it into an `AssemblyName` means you're spending cycles on parsing an assembly name (which is something the caller may not even care about.) It also means you

[2018-09-04 18:37] AtsushiKan commented on #32067
I suspect SRM and I have different philosophies about this but I'd love for all those Decode methods to be extension methods on the `Handle` argument...

[2018-09-04 18:45] jnm2 commented on #32067
@AtsushiKan Cool. No AssemblyName; I like this.

So if we have `DecodeTypeReference<TType>(MetadataReader, TypeReferenceHandle, INamedTypeProvider<TType>)` etc, we'll need all of these:

- `GetAssemblyQualifiedType(TType, string)`
- `GetAssemblyQualifiedType(TType, MetadataReader, AssemblyReferenceHandle)`
- `GetAssemblyQualifiedType(TType, MetadataReader, AssemblyDefinitionHandle)`

Is this okay

[2018-09-04 18:46] paul1956 commented on #31181
In the UI paths. I think it worked because the security code I deleted took care of existing directories. With that removed the only check is for a file and when that passes code below it doesn’t work correctly. I am going to run the tests on 4.7 and see what happens and will update comment in System.io.

[2018-09-04 18:47] danmosemsft commented on #32080
Thanks @brettshearer the repro is super helpful. I see the failure on both .NET Framework and .NET Core. Couple variations:
[code]
This needs investigation.

[2018-09-04 18:51] danmosemsft commented on #32080
BTW I get a hit about 1/30 times when I run in a loop.

[2018-09-04 18:52] ONeill45 commented on #32098
@JeremyKuhne

Here's a list of file names in the folder currently:

[Files.txt](https://github.com/dotnet/corefx/files/2349810/Files.txt)

For the folder name use \\\\foldername13\subfoldername1425

[2018-09-04 18:52] AtsushiKan commented on #32067
Decoding refdefspec handles is something one normally does to get a Type (which generally implies some kind of assembly binding.)

Parsing a serialized type name is something I took as the process of getting a **parse tree**.

If that's not the case, I'll need to think a bit about whether `GetTopLevelType` and `GetAssemblyQualifiedType` should be collapsed into one routine that takes an assembly n

[2018-09-04 18:53] danmosemsft commented on #32080
Oh, hold on. You're accessing a Process object on concurrent threads. That's not safe and it's why it's failing. Do you see an issue without concucrrent access?

[2018-09-04 18:54] AtsushiKan commented on #32067
I think having three overloads of `GetAssemblyQualifiedType` would be a burden on provider implementors, especially since the extra `Decode` apis feel like a convenience rather than something essential.

[2018-09-04 19:02] alfredr opened #32101 "Incorrect IEEE conversion buffer size in ECDsaCmsSignature"
The following throws `CryptographicException: Invalid signature.` when `curve` is  `nistP521` but succeeds for other curves. The root of the issue seems to be that the size of the buffer used for IEEE format conversion is specified as KeySize/4, which results in a buffer that is too small when the key size is not multiple of 4.

[code]

cc: @bartonjs

[2018-09-04 19:08] jnm2 commented on #32067
@AtsushiKan So far in none of my projects have I wanted to use `System.Type` as the `TType` in any decoder, especially refdefspec handles. I want the same parse tree for them as for serialized type names.

True. This makes me much prefer collapsing.

Yes, I agree. I'm probably going to end up writing helper methods that take an refdefspec handle and `INamedTypeProvider<>` but rather than serializi

[2018-09-04 19:32] danmosemsft commented on #31181
I bet you're right.

[2018-09-04 19:57] JeremyKuhne commented on #32098
@ONeill45 So this is over a UNC? That might be the key part.

[2018-09-04 20:07] krwq commented on #32003
@maryamariyan do you perhaps know if the test projects getting segfault when running tests or when preparing for execution?

[2018-09-04 20:17] krwq commented on #32082
I think this is reliability not security issue - attacker has to already have IO access to abuse this.

[2018-09-04 20:18] danmosemsft opened #32103 "Bring back missing protected fields from ResourceManager and ResourceSet"
### Proposal

We removed 4 protected fields from System.Resources types because (1) Hashtable was not in corelib at that time and (2) usage seemed low and public/protected fields are non standard. The 4 fields in System.Resources are:
[code]
Since then (1) it has emerged from api-port analysis there is significant usage especially for the ResourceSet fields and (2) Hashtable has moved to corelib.

[2018-09-04 20:26] krwq commented on #1593
Since the interface has to be implemented explicitly there will be no gain for existing apps from this work and little discoverability for new apps - I will close this issue for now - please reopen/comment if your app/library will gain anything from this work and we will reconsider given new data.

[2018-09-04 20:26] #1593 closed

[2018-09-04 20:27] karelz commented on #24304
Given that 2.0 will be out of support in less than 1 month, closing as Won't Fix.

[2018-09-04 20:27] #24304 closed

[2018-09-04 20:27] karelz commented on #28950
Given that 2.0 will be out of support in less than 1 month, closing as Won't Fix.

[2018-09-04 20:27] #28950 closed

[2018-09-04 20:28] karelz commented on #28551
It seems there is no interest to fix it in 2.0. Closing.

[2018-09-04 20:28] #28551 closed

[2018-09-04 20:28] karelz commented on #26724
Given that 2.0 will be out of support in less than 1 month, closing as Won't Fix.

[2018-09-04 20:28] #26724 closed

[2018-09-04 20:30] karelz commented on #16363
This is old bug, which was supposed to be addressed in 2.0.0. I assume it is not tracking anything actionable at this point, closing.
Feel free to reopen if I am wrong (ideally with more appropriate milestone).

[2018-09-04 20:30] #16363 closed

[2018-09-04 20:31] karelz commented on #23221
Seems to be addressed now, the FW link points to https://github.com/dotnet/core/tree/master/release-notes

[2018-09-04 20:31] #23221 closed

[2018-09-04 20:32] karelz commented on #19058
@ericstj do we still have some work left here? It is old bug with 2.0.0 milestone.

[2018-09-04 20:32] krwq commented on #13647
Closing this as won't fix. Improvement is welcome but it probably makes sense to fix it when spotted than spending time on this.

[2018-09-04 20:32] #13647 closed

[2018-09-04 20:36] krwq commented on #13827
Considering almost 2 years have passed and no new complains/upvotes - closing. Please comment/reopen if this is still an issue.

[2018-09-04 20:36] #13827 closed

[2018-09-04 20:40] Petermarcu opened #32105 "Some methods supported in lower version but not in higher version"
@wengxk commented on [Sun Sep 02 2018](https://github.com/dotnet/core/issues/1912)

I got some questions that why there are some methods  supported in lower version but not in higher version. For example, SqlParameterCollection.Add(String, SqlDbType, Int32, String)  method  and SqlDataAdapter.UpdateBatchSize property applies to .net core 2.0 but 2.1 not yet.
Is there anybody konw about it , i will

[2018-09-04 20:41] krwq commented on #15660
Closing this since workaround exists and currently does not seem we will fix it. Please upvote and comment if you agree that we should add similar API to XDocument.

[2018-09-04 20:41] #15660 closed

[2018-09-04 20:50] krwq commented on #18103
Closing this as won't fix - while reducing the size of System.Xml might be a potential gain we will have to ship potential new runtime binary either way. I do not think this is worth the effort just for the sake of splitting.

[2018-09-04 20:50] #18103 closed

[2018-09-04 20:57] krwq commented on #19837
Current recommendation is to remove any dependency on this feature. We'll update if plans regarding support for this feature change

[2018-09-04 21:00] safern commented on #32084
Last time I fixed this, it was related to referencing the xunit netstandard assemblies instead of the net45 assemblies. The difference was that the net45 assemblies included `MarshalByRef` as a base type in their communication types, when we used the netstandard ones, when running in desktop we would get serialization exceptions stating types couldn't be serialized, hence the conditions evaluated

[2018-09-04 21:13] krwq commented on #25890
Hey @pjanotti, do we still plan to fix this (or perhaps already fixed)?

[2018-09-04 21:28] brettshearer commented on #32080
The issue occurred recently in our internal test framework - we agree it is cross thread access causing the issue. I guess the big 'not thread safe by default' disclaimer on page #1 of the .Net manual covers this.

[2018-09-04 21:28] #32080 closed

[2018-09-04 21:36] krwq commented on #28486
@rmkerr, ping on this 😄 Please unassign yourself if this is still an issue and you're not working on it

[2018-09-04 21:42] rmkerr commented on #28486
I'll unassign myself for now. It's an interesting issue, but I don't think it's pressing currently.

[2018-09-04 21:54] halter73 commented on #30691
@rmkerr One think that I think improves the reliability of the repro in the `Kestrel.Transport.Sockets.FunctionalTests` suite is running the H2SpecTests in parallel. These tests [won't be enabled unless](https://github.com/aspnet/KestrelHttpServer/blob/991cfa8bd8ed940be32ffeda39f8beeb992c9c02/test/Kestrel.Transport.FunctionalTests/Http2/H2SpecTests.cs#L22-L23) you are running Windows 8.1 (or the s

[2018-09-04 22:02] krwq commented on #8028
Closing this as won't fix. Haven't seen any recent reports of this, I remember there was also some work done with similar tests - possibly it is already fixed. Please reopen/comment if there are more hits.

[2018-09-04 22:02] #8028 closed

[2018-09-04 22:03] bartonjs commented on #32092
I'm like 99% sure this is/was fixed by https://github.com/dotnet/corefx/pull/30432.

But the 2.1.3 release doesn't seem to have that fix in it.  Maybe it somehow missed a cutoff and will be in 2.1.4.

It definitely worked from building master this morning.

[code]

Worked fine.  (I don't have the Apple driver you referenced).

https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Security

[2018-09-04 22:10] pjanotti commented on #25890
netstandard vNext is not out yet, this one is blocked until that happens. That said it is a minor issue that only affects test sources.

[2018-09-04 22:16] krwq commented on #28486
Thanks 😄

[2018-09-04 22:21] wli3 opened #32110 "File.Delete behave differently when the directory is empty on Windows Vs non-Windows"
The following code throws on Windows, but not on Linux and Mac. Note, if there is no another layer of non-existing directory, they both will not throw.

[code]

On Windows

`Error Message:
 Did not expect any exception, but found System.IO.DirectoryNotFoundException with message "Could not find a part of the path 'C:\Users\wul\AppData\Local\Temp\kcnuii32.meo\gr3ldwn4.wu5'."
     at System.IO.FileS

[2018-09-04 22:35] #30188 closed

[2018-09-04 22:38] danmosemsft commented on #32084
@safern is going to add a test that checks for a static bool that is initialized by a preceding test in the same class that has an always-true conditional attribute. Assuming tests in a class are always run in the same order, that test should deterministically fail if conditional attributes are not respected.

Presumably the reverse (conditionals unexpectedly true) is sufficiently "tested" already

[2018-09-04 22:44] danmosemsft commented on #32099
@JeremyKuhne I tried doing this and get a bunch of test failures. Was this what you intended:
https://github.com/dotnet/corefx/compare/master...danmosemsft:memorymarshal?expand=1

Failures like
[code]

[code]
Any idea what I did wrong?

[2018-09-04 22:50] tarekgh commented on #32103
@danmosemsft  I modified the issue description to be a proposal so we can review it.

[2018-09-04 22:53] danmosemsft commented on #32103
@tarekgh we have not historically done any API review for API that's already in .NET Framework?

@terrajobst

[2018-09-04 22:55] danmosemsft commented on #32110
@JeremyKuhne it should throw on Unix then right?

[2018-09-04 22:57] JeremyKuhne commented on #32099
Likely nothing. This is the behavior difference- `&MemoryMarshal.GetReference` would return a valid pointer. `&` on an array of zero length returns null. There are likely a few places where we should bail out when we have nothing to do.

[2018-09-04 23:01] JeremyKuhne commented on #32110
We should be consistent with the .NET Framework behavior if they differ. Presumably Windows matches the legacy behavior.

[2018-09-04 23:07] AlexGhiondea commented on #32064
I am not sure why the specific comment is right there.

However, ZLib is used as the native side (in CLRCompression). This is already called out in the thirdpartynotices file here:
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/THIRD-PARTY-NOTICES.TXT#L60

[2018-09-04 23:09] danmosemsft commented on #32110
OK, up for grabs.

[2018-09-05 00:05] paul1956 commented on #31181
@danmosemsft do you have any more information about how to do manual testing with a UI? When I run the test under .Net 4.7 and force ManualTestsEnabled = True the tests run and I get Dialogs I can interact with. When I run the same test using "msbuild /t:rebuildandtest" I don't get any Dialogs.

[2018-09-05 00:41] karelz commented on #32105
`SqlDataAdapted` in `System.Data.Common` namespace is present on 2.0 and 2.1: https://apisof.net/catalog/System.Data.Common.DbDataAdapter.UpdateBatchSize
`SqlDataAdapted` in `System.Data.SqlClient` namespace is together with `SqlParameterCollection` part of Platform Extension, which is on TOP of .NET Core 2.0, applicable also to .NET Core 2.1: https://apisof.net/catalog/System.Data.SqlClient.SqlPa

[2018-09-05 02:39] danmosemsft commented on #31181
Windows forms UI is not available in the public repo yet. Just skip any tests involving UI, for now.

[2018-09-05 02:41] Anipik commented on #31764
There are 2 options left here

- We can proceed with @danmosemsft  suggestion plus moving EnumerableRowCollection to S.D.C and adding typeforwards for this class in S.D.DSE.
- Moving both the EnumerableRowCollection and DataTableExtension methods to S.D.C and adding typeforwards for both the classes in S.D.DSE. In this case we will only need to expose the AsDataView as an extension method.
LMK in

[2018-09-05 02:50] terrajobst commented on #26574
We discussed this today and created the following list of open issues:

* Should we have generalized methods on the vector types or should they live on the ISA-specific types?
    - Specifically: initialization and reinterpretcast-style methods
* Should the generalized vector types be constrained to specific types (e.g. via and `if`-check in the static constructor)?
* Should we add methods with ty

[2018-09-05 02:52] terrajobst commented on #26179
Looks good as proposed. Feedback:

* `Simd` should be named `AdvSimd0` so that's clear what the name refers to (ARM seems to use bit-patterns to indicate what is support, so it's not a named spec.

[2018-09-05 02:53] terrajobst commented on #26181
Looks good as proposed. Feedback:

* The parameter should be spelled out "select", or whatever the spec calls it.
* If we expand the generics, the first argument should be an `int`-based type

[2018-09-05 02:53] terrajobst commented on #26182
Looks good as proposed. Feedback:

* `Base` is too generic, should be `A64Base`.

[2018-09-05 02:54] terrajobst commented on #26183
Looks good as proposed. Feedback:

* No need to match X86 ordering of parmeter, just match the ARM instruction ordering.

[2018-09-05 02:54] terrajobst commented on #26185
Looks good as proposed. Feedback:

* We should have those, but we should also expose a generic setter on the vector types that are implemented in terms of those (and their X86).
* We should probably rename the method to `Duplicate` to match the ISA. Also, `Set` in .NET terminology means something different.

[2018-09-05 02:55] terrajobst commented on #26220
Looks good as proposed. Feedback:

* The type should be renamed `A64Crc32`
    - Should be copied the 32-bit ones into `A32Crc32`

[2018-09-05 02:55] danmosemsft commented on #26574
@tannergooding are you a good person to drive this? If so go ahead.

[2018-09-05 02:56] terrajobst commented on #26527
Should the naming reflect alignment requirements?
    - LDR doesn't require alignment
    - LDX does require alignment
* We probably don't need the static cast as this is just type-system change, so maybe we should just move this to a generic method the vector types.

[2018-09-05 02:57] terrajobst commented on #26564
Makes sense overall, but the parameter names need work and should be named to match .NET guidelines (i.e. no underscores or abbreviations).

[2018-09-05 03:06] tannergooding opened #32114 "Various projects not buildable in VS"
It seems that, even after having successfully run `build.cmd` from the command line, a good number of projects will not build successfully from within VS.

For example, after opening and attempting to build `System.IO.Pipelines.sln`; I get failures attempting to build `System.IO.Pipelines.csproj`:
[code]

[2018-09-05 03:14] paul1956 commented on #31181
The UI is not Windows Forms but I will ignore it. The PR should be ready for review later this week.  I will just return feature not available for Windows and Unix.

[2018-09-05 03:15] tannergooding commented on #26574
Probably. I had a few of these on the backlog to discuss already, for the x86 side.

I'll make sure issues are logged for these.

[2018-09-05 03:20] Anipik opened #32115 "Increasing the Granularity of SetLastAccessTime and SetLastWriteTime to 100 nanoseconds i.e number of ticks"
[code]
Both the asserts fail here
[code]

This is due to the fact that while setter we use ```DataTimeOffset.ToUnixTimeMilliseconds()``` function to get the ticks, which drops the last few bits.

We can define a new public api called ```DateTimeOffset.ToUnixTimeNanoseconds()``` in DateTimeOffset class. We have some of the constants setup here https://github.com/dotnet/coreclr/blob/master/src/Syste

[2018-09-05 06:34] iSazonov commented on #6374
@tarekgh We catched the issue in POwerShell repo for Get-Culture cmdlet.
Currently there is the CultureNotSupported exception in .Net Core 2.1 for Windows (for non-existent cultures with names with length > 3) but not for Linux and MacOs. Did your team decide not to add this fix to Linux and MacOs? Could you please share more information?

[2018-09-05 07:11] piraces commented on #32110
I would like to work on this. I will comment if I have any doubt.

[2018-09-05 07:38] TobiasSekan opened #32117 "[Request] Make Guid.Empty compile-time constant"
## The Problem
Currently the parameter `int.MaxValue`, `uint.MinValue`, `byte.MaxValue` , etc. are all compile-time constant, but `Guid.Empty` is

[code]
## Question
It is possible to make `Guid.Empty` as a  compile-time constant?

[code]

## Actual behaviour
[code]

## Expected behaviour
[code]

[2018-09-05 08:09] MarcoRossignoli commented on #32103
@danmosemsft i did a check and [ResourceManager.BaseNameField](https://github.com/dotnet/coreclr/blob/c62976e0aaef8c8fb456b16f21b9fe3bd73a40a5/src/System.Private.CoreLib/src/System/Resources/ResourceManager.cs#L124) and [ResourceSet.Reader](https://github.com/dotnet/coreclr/blob/030a3ea9b8dbeae89c90d34441d4d9a1cf4a7de6/src/System.Private.CoreLib/src/System/Resources/ResourceSet.cs#L30) are already

[2018-09-05 08:34] dotnet-mc-bot opened #32118 "Test failure: System.Net.Tests.HttpWebRequestTest/ContentLength_Get_ExpectSameAsGetResponseStream(remoteServer: https://corefx-net-http2.azurewebsites.net/Echo.ashx)"
Opened on behalf of @Sunny-pu

The test `System.Net.Tests.HttpWebRequestTest/ContentLength_Get_ExpectSameAsGetResponseStream(remoteServer: https://corefx-net-http2.azurewebsites.net/Echo.ashx)` has failed.

System.Net.WebException : The SSL connection could not be established, see inner exception. The remote certificate is invalid according to the validation procedure.
    ---- System.Net.Http.Htt

[2018-09-05 08:40] JohnnyWestlake commented on #32117
(For what it's worth, you can use `Guid defaultValue = default` in this case)

[2018-09-05 08:43] Sunny-pu commented on #29779
failed again: https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180905.01/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/System.Security.Cryptography.X509Certificates.Tests.CertTests~2FTestVerify

[2018-09-05 08:54] filipnavara commented on #32092
@bartonjs is right. I tested it on "USBAAPL64.cat" from my machine and it's the PKCS#7 vs. CMS incompatibility that was fixed by the referenced PR.

[2018-09-05 10:38] Alicg commented on #32064
@danmosemsft @AlexGhiondea thanks a lot for the answer.
Yes, I know that ZLib stays behind CLRCompression.dll. However, I need to copy just those two files which has nothing to do with CLRCompression.dll.
Is there any chance those comments be removed, like in all other files from https://github.com/dotnet/corefx/tree/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.IO.Compression/src/System/IO/

[2018-09-05 10:55] mjtpena commented on #18276
Wow. Basically my whole Cryptography layer can't be upgraded to .NET Core because of this.

[2018-09-05 11:34] louislewis2 commented on #27247
@joperezr Sorry for the delay, I was on leave a bit. I have the binlog where can I send it too?

[2018-09-05 12:45] AndreyBespamyatnov commented on #22469
@LuisPignataro Have you found a solution? I have the same issue when I'm using the EF6 with EFcore asp.net project

`TypeLoadException: Could not load type 'System.ComponentModel.DataAnnotations.AssociatedMetadataTypeTypeDescriptionProvider' from assembly 'System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.`

[2018-09-05 14:06] qmfrederik commented on #32092
@bartonjs FWIW, the 4.6.0-preview1-26905-03 version of the NuGet package doesn't seem to have the fix. I'll try to build from master and let you know how that goes.

[2018-09-05 14:08] svick commented on #32105
I suspect the issue here is that API reference says that the APIs apply to .Net Core 2.0, but not to 2.1: [`SqlParameterCollection.Add`](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlparametercollection.add?view=netcore-2.0#applies-to), [`SqlDataAdapter.UpdateBatchSize `](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqldataadapter.updatebatchsize?view=ne

[2018-09-05 14:17] LuisPignataro commented on #22469
No @AndreyBespamyatnov ! My solution was to recreate EF6 model with EFcore.

[2018-09-05 14:32] qmfrederik commented on #32092
Yup, master fixes this. Any rough guess about when we can expect an updated package on MyGet?

[2018-09-05 14:38] bartonjs commented on #32092
It sort of does, sort of doesn't.  The netcoreapp3.0 version has the fix.  But the netcoreapp2.1 version just extracts the DLL off of the latest stable package, which is the 4.5.0 version without the fix.

https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Security.Cryptography.Pkcs/4.6.0-preview1-26830-01 happens to be a balancing point where you should see the fix (before we started

[2018-09-05 14:57] qmfrederik commented on #32092
Awesome! That version seems to work on netcoreapp2.1, thanks!

[2018-09-05 15:21] jkotas commented on #32115
What would the signature of this method be to avoid high bits being dropped?

We do not need a new public API on DataTimeOffset to fix this. `System.IO.FileSystem` can do the conversion locally without a public API.

[2018-09-05 15:26] karelz commented on #32105
Thanks @svick for info!

[2018-09-05 15:30] jkotas commented on #32117
This is not a simple API addition. This is language feature request about being able to use a custom struct as a constant. The discussion about this is at https://github.com/dotnet/csharplang/issues/144 .

[2018-09-05 15:30] #32117 closed

[2018-09-05 16:13] weshaggard commented on #31764
@Anipik do you have any any sense of what all would need to be pulled into S.D.C in both of those options? Would it be all of S.D.DSE? If so do we know how much of a binary size increase that causes?

If both options end up with close to the same moved into S.D.C then I would go with option 2 so we remain essentially the same from the public surface area standpoint and we don't need to add any new

[2018-09-05 16:33] tarekgh commented on #32115
I agree with @jkotas that System.IO can just do the right calculations.

[2018-09-05 16:37] strawd opened #32119 "ASP.NET Core 2.1.0 breaks attribute-routed endpoints in applications targeting Microsoft.NET.Sdk"
We found that updating from `Microsoft.AspNetCore.All` version 2.0.9 to version 2.1.0 or switching to the `Microsoft.AspNetCore.App` package (which starts at version 2.1.0) breaks applications exposing attribute-routed web APIs when the SDK of the project is `Microsoft.NET.Sdk`, as opposed to `Microsoft.NET.Sdk.Web`.

After updating the dependency, all of the web API endpoints return a 404 error e

[2018-09-05 16:41] tarekgh commented on #32103
@MarcoRossignoli

you are looking at the implementation but these fields are not exposed from the contracts

https://github.com/dotnet/corefx/blob/master/src/System.Resources.ResourceManager/ref/System.Resources.ResourceManager.cs#L53
https://github.com/dotnet/corefx/blob/master/src/System.Resources.ResourceManager/ref/System.Resources.ResourceManager.cs#L80

[2018-09-05 16:46] narciero commented on #17670
any update on adding cancellation token overloads to `ReadLineAsync` ?

This is a common use case for reading data from a streaming HTTP API via `HttpContentStream`, would be nice to be able to set a timeout per read

[2018-09-05 16:47] abdulbeard commented on #5681
Anything I can do to help move this along?

[2018-09-05 16:47] MarcoRossignoli commented on #32103
You're right @tarekgh, thank's!

[2018-09-05 17:01] Anipik commented on #31764
I will try it and let you know how much stuff we need to pull into S.D.C

[2018-09-05 17:05] strawd commented on #32119
I realized this is probably the wrong repo to submit this issue against, so I created aspnet/Mvc#8388 and I am closing this issue.

[2018-09-05 17:05] #32119 closed

[2018-09-05 17:08] Anipik commented on #32115
okay sure. @tarekgh  just for curiosity, is there any reason we only have public api only for seconds and milliseconds ?

[2018-09-05 17:12] AlexGhiondea commented on #32064
@Alicg I am looking into that. I'll reply back once I know more.

[2018-09-05 17:15] karelz commented on #32118
@rmkerr is there any spike in the failures? Maybe due to Azure outage?

[2018-09-05 17:37] krwq commented on #8647
cc: @zhenlan who's team owns the xsd.exe

[2018-09-05 17:42] tannergooding commented on #30018
@GSPP, is there anything else you feel this bug should track, or are we good to close it?

[2018-09-05 17:44] tannergooding commented on #30696
@alexanderkozlenko, if you open a new issue requesting the documentation update; I'll mark it as up-for-grabs

[2018-09-05 17:45] bartonjs commented on #32118
Yesterday we added support for OpenSSL 1.1, which SLES 15 is probably using.  Presumably it's pointing at a different root trust list than the OpenSSL 1.0.2 on the same machine had.

The best way to find out is to use the cert validation callback and see what it's complaining about (my guess is the chain object will say UntrustedRoot)

[2018-09-05 17:46] tannergooding commented on #29069
Going to close this since:
* We already expose float overloads for all math methods
* We already expose DivRem
* FMA was approved and will be exposed once https://github.com/dotnet/corefx/issues/31903 is implemented

[2018-09-05 17:46] #29069 closed

[2018-09-05 17:47] GSPP commented on #30018
This is totally solved, thank you.

[2018-09-05 17:56] tarekgh commented on #32115
@Anipik we already have the issue https://github.com/dotnet/corefx/issues/24555 tracking that. look at the last comments on this issue to know why we didn't proceed yet with the proposed APIs.

[2018-09-05 18:03] JeremyKuhne commented on #17670
@narciero Just needs someone to drive updating the proposal. Feedback is:

1. Should target `TextReader`
1. Should only update `ReadToEnd` and `ReadLine`
1. Should follow the same implementation pattern as `ReadAsync(Memory<char>) ` (including overrides in `StreamReader` and `StringReader`)

Another question that should be considered is how a lower allocation version of these two APIs could/should

[2018-09-05 18:09] tarekgh commented on #6374
@iSazonov we depend on the underlying OS for creating the cultures. If the OS support the culture, then the framework will support it. if the OS doesn't support the culture, then we'll always throw CultureNotFoundException even on Linux/Mac. We are not specializing in Windows by any means here.

https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/src/System/Globalization/Cultu

[2018-09-05 18:12] #30018 closed

[2018-09-05 18:18] grahamehorner commented on #32065
@karelz I'm going to create a git repo for this soon, a little busy at present with a azure functions deployment going live

[2018-09-05 18:18] tannergooding commented on #30671
Closing, as there is nothing currently actionable here and no acting discussion.

If there are particular APIs you would like to see exposed, please open an API proposal, following the steps I listed above.

[2018-09-05 18:18] #30671 closed

[2018-09-05 18:18] tarekgh commented on #32051
@AlexGhiondea @joperezr  any idea what could be the problem?

[2018-09-05 18:31] Anipik commented on #32115
Thanks @tarekgh

[2018-09-05 18:44] karelz commented on #32063
Closing as answered.

[2018-09-05 18:44] #32063 closed

[2018-09-05 18:45] rmkerr commented on #30691
I'm finally able to repro this consistently. Thanks for the help :)

I'm going to start with collecting System.Net logs, and see what I can work out from there.

[2018-09-05 18:51] TranstecJasonD commented on #25138
How do you serialize only a single class? I created a .NET 2.0 Standard library project with VS 2017. Added the package and DotNetCliToolReference. When I compile the project, it appears that is attempting to serialize the entire DLL, which fails. When using sgen, I would use the "/t" option.

[2018-09-05 19:11] danmosemsft commented on #32063
@karelz I wonder if it would make sense for the exceptoin message to suggest installing it.

[2018-09-05 19:17] geoffkizer commented on #30691
For timing issues like this, I find it's often helpful to run some CPU intensive operation in the background, like a corefx build or HttpClient test suite.

[2018-09-05 19:51] tarekgh commented on #31935
@terrajobst @ericstj do you know if we support adding the release notes for every library we support? or we just share the release notes for the whole release?

[2018-09-05 19:55] AtsushiKan commented on #23762
Closing due to lengthy inaction.

[2018-09-05 19:55] #23762 closed

[2018-09-05 19:55] AtsushiKan commented on #23741
Closing due to lengthy inaction.

[2018-09-05 19:55] #23741 closed

[2018-09-05 20:07] tarekgh commented on #32076
@krwq do you have some time to look at this one?

[2018-09-05 20:08] AtsushiKan commented on #25254
Closing due to age. If problems persist, there should be a specific issue opened.

[2018-09-05 20:08] #25254 closed

[2018-09-05 20:30] tarekgh commented on #32038
@Xambey looks your culture is en_us_posix which is by design (from ICU library) not supporting the casing. you need to change your default locale either on the machine by setting the LANG environment variable or in your app by setting CultureInfo.CurrentCulture.

you may look at https://github.com/dotnet/corefx/issues/28611 for more info too.

I am closing this issue but feel free to reply back if

[2018-09-05 20:30] #32038 closed

[2018-09-05 20:35] tarekgh commented on #31968
@stephentoub I think the proposal is reasonable. please let me know if you have any concern so we can mark this as ready for design review. Thanks.

[2018-09-05 20:38] tarekgh commented on #31983
@danmosemsft do we need to fix the test for 1.0.x release? I believe we already fixed that for later versions.

[2018-09-05 20:44] wfurt commented on #32063
we talk about it while back @danmosemsft. I think that would be good idea.

[2018-09-05 20:48] mhall1 commented on #31903
Hi, I'm new on this project, but this seems easy enough. Can I take a stab at it?

[2018-09-05 20:51] davidsh commented on #32063
It's not a trivial problem to solve.  The error message we get back when doing NTLM operations is not always specific enough to determine that the problem is configuration (i.e. gss-ntlmssp not installed).

[2018-09-05 20:53] stephentoub commented on #31968
I don't have a strong opinion, other than if it is exposed it should be named UnsafeRegister rather than taking a bool.

[2018-09-05 20:56] tarekgh commented on #31968
@davidfowl  if you agree with @stephentoub, please update the proposal and we can move forward with it.

[2018-09-05 20:57] tannergooding commented on #31903
Sure thing.

As a pointer, this probably requires nearly identical changes to https://github.com/dotnet/coreclr/pull/15456 (but for the respective new APIs).

[2018-09-05 20:58] tannergooding commented on #31903
Feel free to ping me (either here, on our Gitter Channel, etc) if you have any questions/comments/concerns 😄

[2018-09-05 21:04] #31834 closed

[2018-09-05 21:08] #22705 closed

[2018-09-05 21:17] mhall1 commented on #31903
Thanks. I'm just having some trouble finding the right solution in corefx. I see a System.Numerics.Vector, but no System.Numerics

[2018-09-05 21:43] joperezr commented on #27247
you can attach it here so that I can take a look and see what is going on.

[2018-09-05 21:50] krwq commented on #16686
I don't think this is longer relevant

[2018-09-05 21:50] #16686 closed

[2018-09-05 21:54] arunprasathv opened #32126 ".Net Core Version of directoryservcies to talk to LDAP"
@tarekgh

Is there a .Net Core version of directoryservices available to interface with LDAP ? I'm looking for .Net Core 2.0.

[2018-09-05 22:04] tarekgh commented on #32126
@arunprasathv we have it but we support it on Windows only for now. we are looking at supporting it for Linux in the future.

https://www.nuget.org/packages/System.DirectoryServices/
https://www.nuget.org/packages/System.DirectoryServices.Protocols/

if you need it for Linux now, you may consider looking at https://github.com/flamencist/ldap4net

I am closing this issue but feel free to reply back

[2018-09-05 22:04] #32126 closed

[2018-09-05 22:10] tarekgh commented on #31983
I am closing this as won't fix for now and let's visit if we get more hits on that.

[2018-09-05 22:10] #31983 closed

[2018-09-05 22:11] sdmaclea commented on #26179
@terrajobst I think we refined the class name to `A64Simd0` in later discussion.

[2018-09-05 22:18] satjinder commented on #31275
Not sure if it would result in other kinds of problems or confusions, but I think the life could have been easier if await is by default for async methods and you could choose something like "getTask DoSomething()".

i.e. Explicit opt-out of await with default opt-in.

[2018-09-05 22:27] grahamehorner commented on #32065
@karelz doing some additional investigation as this looks as if I connect to the FTPS using the wrong mode implicit when explicit is needed or explicit when implicit is needed I can create the issue

[2018-09-05 22:28] louislewis2 commented on #27247
@joperezr done. Let me know if you need anything else.

[msbuild.zip](https://github.com/dotnet/corefx/files/2354761/msbuild.zip)

[2018-09-05 22:30] danmosemsft commented on #31983
Yep fine.

[2018-09-05 22:32] annaaniol commented on #32015
I updated the description. There is a corresponding PR with the implementation: [https://github.com/dotnet/coreclr/pull/19826](https://github.com/dotnet/coreclr/pull/19826)

No, and in the current version, if `RegisterNativeLibraryLoadCallback` gets called multiple times for one assembly, the registered callback will be overridden by the last specified callback.

[2018-09-05 22:50] maximecaron commented on #2704
hankbeasley is correct, if the CancellationToken is a static global variable and we call WhenCancelled() 2000 time per seconds you can clearly see how it would leak.

Each call to WhenCancelled() create a registration in the CancellationToken this registration contain a reference to the task and keep it in memory.

If the CancellationToken get cancelled the await will return and the using block wi

[2018-09-05 22:50] AaronRobinsonMSFT commented on #32015
Should be `private set`. If at all, I thought the `Name` property was being removed, if not please mark the setter private.

[2018-09-05 23:06] annaaniol commented on #32015
changed

[2018-09-05 23:13] davidfowl commented on #31968
Updated

[2018-09-06 00:40] davidfowl commented on #31968
I hate the name unsafe but we can be consistently terrible 😄

[2018-09-06 00:51] jnm2 commented on #16010
It would make me very happy if this could be in .NET Core 3.0. 😊

[2018-09-06 01:06] mklement0 commented on #6374
Thanks, @tarekgh.

I think that's the crux: why would _getting_ a culture implicitly _create_ it?

While using a _constructor_ may look more like an act of creation, conceptually it isn't, and that is even more evident when using `CultureInfo.GetCultureInfo()`.

So while there is _some_ semblance of validation - namely if the specified name isn't _formally_ correct - it's still problematic to get

[2018-09-06 03:33] iSazonov commented on #6374
@tarekgh Thanks! Now I was able to create a test with CultureNotFoundException for `Get-Cuture` cmdlet.

I also agree with @mklement0  that this behavior is somewhat different for different platforms and this can surprise users. At least it's hard to write code with predictable behavior for all platforms that are expected from .Net Core.

[2018-09-06 03:41] odhanson opened #32130 "Add MemoryMappedFile.CreateNew without map name"
The following factory method:
[code]
is not supported on OS other than windows when mapName is not null. This produces a warning in the system build when we use application compatibility checks, and relies on code reviews to make sure this API is always used with null.

I propose adding another overload:

[code]
to make is explicit about using the anonymous version.

I will add a PR shortly with t

[2018-09-06 06:11] paul1956 commented on #31181
@danmosemsft  The Native UI code was accidently deleted when I removed all the Security Stuff. The UI works now on Windows and will throw exception on Unix, if I replace <ConditionalTheory(NameOf(ManualTestsEnabled))> with <Fact> I can do manual testing.

I will need to add more tests for all the UI functions,

I have two issues, how to I get the Windows Code and Unix Code to be conditionally incl

[2018-09-06 06:58] wfurt commented on #13309
I wrote simple C program:
[code]
on Linux:
[code]
OSX:
[code]
FreeBSD
[code]
strangely,  "no such file" seems most intuitive. For comparison, Curl HTTP Handler throws " Couldn't resolve host name". I think the flaw is attempt to map NDS error to errno and than use strerror() instead of gai_strerror()
Since SocketError.HostNotFound is distinct code, we should be able to find way how to do the mappi

[2018-09-06 10:03] MarcoRossignoli commented on #32103
@danmosemsft I could work on this...i'll wait up-for-grabs label

[2018-09-06 10:42] filipnavara commented on #32036
@furoraest The problem is that the subset of algorithms and parameters supported on Windows and Unix (using OpenSSL) is different. The format of the output BLOB returned by `ToByteArray` is internal representation used by Windows, which doesn't necessarily support all algorithms supported on Unix.

It would be possible to implement certain subset, but it's likely not worth it since the code for lo

[2018-09-06 12:08] wengxk commented on #29391
Today i got the same problem. It does not seem to be resolve.

[2018-09-06 12:18] wengxk commented on #32105
Thank you for all! But today, i got the same problem as https://github.com/dotnet/corefx/issues/29391 when i using System.Data.SqlClient and set the UpdateBatchSize property to larger than 1 or set it to 0.
I very much hope that this exception will be solved in the near future.
Thanks a lot!

[2018-09-06 12:26] MarcoRossignoli commented on #32057
I did some test...and i see output from both version.
Could you attach your sample?
[TPLTest.zip](https://github.com/dotnet/corefx/files/2356998/TPLTest.zip)

[2018-09-06 13:56] GeorgeTsiokos commented on #26104
It was stated previously, but you're looking for these new overloads on `Encoding`. I've added the signatures here to make it obvious to anyone looking for the same (as I was):
[code]
_You can specify a string on the `GetBytes` call and it will implicitly cast to `ReadOnlySpan<char>`._

https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Text/Encoding.cs#L896
https://github.

[2018-09-06 14:39] ViktorHofer commented on #30913
Update: F5 launch with debugger is now working but breakpoint are not hit reliably. Will follow-up to get debugging working reliably.

[2018-09-06 14:50] TFTomSun commented on #19837
+1 here as well

[2018-09-06 14:51] TFTomSun commented on #19837
@carlomilanesi can u please tell me more about your workaround? Is it possible to transform xslt with scripts on linux with ur solution?

[2018-09-06 15:15] danmosemsft commented on #30913
I was seeing breakpoints in product getting hit but not in tests (although they seemed to bind). Even offer, test code was not visible on stack. As if the test assembly was being treated as "just my code  ". So you have an idea what's going on, Viktor?

[2018-09-06 15:25] Mpdreamz opened #32134 "Should HttpWebRequest utilize HttpClientFactory"
https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L1096-L1106 instantiates a new `HttpClient` for each request which is less then ideal.

[2018-09-06 15:32] ViktorHofer commented on #32037
@MisinformedDNA himself added the command line instructions. The Windows 10 SDK should suffice. I'm not sure why the 8.1 SDK is required here. Let me try to reproduce the error as I'm also interested in what really the exact minimum requirements are.

[2018-09-06 15:45] tarekgh commented on #6374
I am not sure why you need to write a code to distinguish the behavior across the platforms. .Net Core (and the full framework) is consistent here. we support whatever the OS support. Why do you think we need to fail a culture that the OS can create?

if you disagree with the OS behavior (as Windows can create a culture which not having a data for), then feel free to send your complaint to the Win

[2018-09-06 15:48] tarekgh commented on #32103
@MarcoRossignoli we need first to agree that is what we want to do. personally, I don't have any objection but I need to get more people to agree on that.

[2018-09-06 15:50] ViktorHofer commented on #32084
I don't think that's the issue here as we are using the right assemblies.

[2018-09-06 15:56] tarekgh commented on #16010
@jnm2 we will try to make you happy :-)  I marked the milestone as 3.0.

[2018-09-06 15:59] filipnavara commented on #31658
Homebrew now has Mojave bottles, so this should not be issue anymore.

[2018-09-06 15:59] #31658 closed

[2018-09-06 16:05] MisinformedDNA commented on #32037
@ViktorHofer The instructions worked prior to Core 2.1.

[2018-09-06 16:05] David-Engel commented on #29391
@wengxk The fix only went into the master branch and was not ported to 2.x. The next scheduled release out of master is 3.0 which appears to be scheduled for Q1 2019: https://github.com/dotnet/core/blob/master/roadmap.md#upcoming-ship-dates

[2018-09-06 16:06] karelz commented on #32105
@wengxk the bug you linked does not seem to be related to this one. Just clarifying ... let us know if you think we missed something in the end-to-end story.

[2018-09-06 16:08] Wraith2 commented on #31804
@AArnott did you get this implemented in your own package? because I've just reached a point where it would be really useful.

[2018-09-06 16:09] Tratcher opened #32135 "How to read Automatic Proxy Detection (WPAD) in Asp.net core"
_From @xinlongli2018 on September 6, 2018 16:8_

in asp.net we can use the following setting in web.config to point to a wpad.dat file to read all the proxy setting, is there a way we can achieve the same thing in asp.net core?
[code]
_Copied from original issue: aspnet/Home#3509_

[2018-09-06 16:10] davidfowl commented on #31804
FWIW I think this should exist, but it ends up being a heap allocation. So It kinda sucks.

[2018-09-06 16:27] Wraith2 commented on #31804
Allocation of the stream? presuming that I can get a section of the input sequence using Slice() I can stand a few allocs to create a container for that to avoid needing to copy the contents of the buffers.

For example i'll have a situation where there will 2Mib+ of compressed data in a pipe surrounded by some framing data. I want to identify the frame and payload limits then push out the payload

[2018-09-06 16:32] davidsh commented on #32134
This is a duplicate of an existing issue. I just can't find the issue number at the moment.

[2018-09-06 16:34] danmosemsft commented on #32115
@Anipik presumably this means that MSBuild will still over build (copy unnecessarily) ? I thought previous changes had fixed that...

[2018-09-06 16:47] davidsh commented on #32135
On Windows, the networking stack will read proxy configuration from the default IE settings.  So, the equivalent would work the same:

![image](https://user-images.githubusercontent.com/7684835/45172284-c19a9680-b1b9-11e8-840a-ff4184ca07cb.png)

However, the .NET Core networking stack doesn't use config files.

[2018-09-06 16:59] gthvidsten opened #32136 "Inject existing object into MEF2"
Say I have an object:
[code]
and I've set up MEF to use the current assembly (of which IMyObject is defined)
[code]

How can I inject the specific instance of `obj` into this configuration?

[2018-09-06 17:00] weshaggard commented on #32114
I was able to repro this locally and the issue comes down to something is setting ` GlobalPropertiesToRemove=Configuration;Platform` when we build the project references which causes the wrong configuration to be selected for that reference.

For reference when building the ref project in VS we have:
[code]

From the command line which succeeds we have:
[code]

Our build system depends on passing

[2018-09-06 17:04] Anipik commented on #32115
@danmosemsft the previous changes were little bit different from this one. And this particular case occurs very few times. Most of the operations preserve the timestamps like copy, move. This case occurs when we deliberately use setLastWriteTime or setlastAccessTime properties.

[2018-09-06 17:12] safern commented on #32084
That is exactly where I was thinking of adding it.

[2018-09-06 17:13] danmosemsft commented on #32115
@Anipik OK, that's not urgent then.

[2018-09-06 17:29] weshaggard commented on #32114
OK I tracked down the issue. Apparently it has been this way for a while as it also fails in the release/2.1 branch. I've submitted #32137 to fix it.

[2018-09-06 17:36] weshaggard opened #32139 "Some packages have higher netstandard versions then they should"
After my change https://github.com/dotnet/corefx/pull/32014 some of our packages are producing netstandard refs with higher assembly versions then some of harvested netcoreapp assets. At least System.Security.Cryptography.Pkcs is currently in this state but we should verify all the packages.

fyi @ericstj

[2018-09-06 17:42] karelz commented on #32130
@odhanson the API addition has to be approved first. Please do not put up PR, until it is approved.
See API approval details: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2018-09-06 17:44] karelz commented on #32134
Duplicate of #15460

[2018-09-06 17:44] #32134 closed

[2018-09-06 17:58] xinlongli2018 commented on #32135
Hi @davidsh, thank you for the reply, but do you know if this setting updates the registry value in windows?  how do we achieve this during deployment?

[2018-09-06 17:58] karelz commented on #31259
It was fixed in release/2.1 branch in PR #31332. It will be part of 2.1.5 release.

[2018-09-06 17:58] #31259 closed

[2018-09-06 17:59] huanwu opened #32142 "Support /t in the project settings for sgen"
Support type parameter in project settings so the customer can serialize just single class.
Refer #24491

[2018-09-06 18:01] davidsh commented on #32135
In general, IE settings that are displayed in the UI dialog are translated to registry entries in the HKCU (per-user) registry area.

There are several techniques to update those registry entries including using Group Policy.  See examples: https://docs.microsoft.com/en-us/internet-explorer/ie11-deploy-guide/auto-configuration-settings-for-ie11

[2018-09-06 18:01] karelz commented on #31201
Fixed in release/2.1 branch in PR #31871. Will be part of 2.1.5 release.

[2018-09-06 18:01] #31201 closed

[2018-09-06 18:02] Tratcher opened #32143 "ObjectDisposedException from HttpContent.LoadIntoBufferAsync with WindowsAuth"
Starting Sept 2nd ASP.NET Core started seeing unusual ODEs from HttpClient. There have been 26 automated repros in the last four days. 2.2 and 3.0 both reproduce the issue. I have not been able to reproduce it manually in 2.2, but it fails every time in 3.0. https://github.com/aspnet/HttpSysServer/issues/474

In the 3.0 branch the failures started after updating to .NET Core 3.0.0-preview1-26905-0

[2018-09-06 18:07] davidsh commented on #32143
@geoffkizer

[2018-09-06 18:09] karelz commented on #31388
Fixed in release/2.1 branch in PR #31680. Will be part of 2.1.5 release.

[2018-09-06 18:09] #31388 closed

[2018-09-06 18:10] huanwu opened #32144 "Area-Serialization Sprint 141"
The issue is for tracking issues to be done in sprint 141 (due by 9/21/2018)

[2018-09-06 18:11] xinlongli2018 commented on #32135
@davidsh is there another way to point to the wpad file in the code level?

[2018-09-06 18:14] davidsh commented on #32135
No.  While you can use IWebProxy (HttpClientHandler.Proxy), that won't help with PAC file use (either automatic discovery or explicit).  Only IE settings can be used to specify PAC file use.

[2018-09-06 18:17] #31677 closed

[2018-09-06 18:21] huanwu opened #32145 "Expose more parameters on csproj for sgen"
Review the current parameters supported in sgen and see if to support it in csproj.

[2018-09-06 18:33] geoffkizer commented on #32143
@Tratcher How do I run the repro?

[2018-09-06 18:40] karelz commented on #31547
Fixed in release/2.1 branch in PR #31632, it will be part of 2.1.5 release.

[2018-09-06 18:40] #31547 closed

[2018-09-06 18:43] rrelyea commented on #24547
we are doing work in the deprecated packages area...which will include marking a package for security or other reasons.  you will have more power than just "unlisting"
We'll then think this through on the client, updates, etc... how it should work based on that setting.
/cc @anangaur

[2018-09-06 18:43] karelz commented on #31082
Just to clarify:
* The bug was fixed in master branch in PR #31211, it will be part of 3.0 release (updating milestone).
* The fix was rejected for 2.1 servicing by shiproom in PR #31801.

[2018-09-06 18:44] AArnott commented on #31804
Yes, @Wraith2. It's documented [here](https://github.com/AArnott/Nerdbank.Streams/blob/master/doc/AsStream.md#readonlysequencebyte) and you can get it from [![NuGet package](https://img.shields.io/nuget/v/Nerdbank.Streams.svg)](https://nuget.org/packages/Nerdbank.Streams)

[2018-09-06 18:45] Tratcher commented on #32143
Alternate repro:

Enable Windows Auth in IIS and disable Anonymous. Oddly in IIS you need to make sure Kernel Mode auth is disabled (see Windows Auth Advanced Settings), whereas HttpSys only uses Kernel mode auth.
[code]

[2018-09-06 18:47] karelz commented on #31420
Fixed in release/2.1 branch in PR #32034. Will be part of 2.1.5 release.

[2018-09-06 18:47] #31420 closed

[2018-09-06 18:47] huanwu commented on #32017
Per #27425,  we need load the execution assembly for system.servicemodel.primitive instead of reference assembly

[2018-09-06 18:49] karelz commented on #12403
Fixed in release/2.1 branch in PR #31046. Will be part of 2.1.5 release.

[2018-09-06 18:53] karelz commented on #30781
Fixed in release/2.1 branch in PR #31162 (2nd attempt after the first attempt in PR #31009 was reverted by PR #31132). The fix will ship as part of 2.1.5 release.

[2018-09-06 18:53] #30781 closed

[2018-09-06 18:56] weshaggard commented on #24547
OK to unblock folks that still reference this package in their projects I've relisted the latest version of Microsoft.Tpl.Dataflow https://www.nuget.org/packages/Microsoft.Tpl.Dataflow/4.5.24.

We will keep this issue open until we have another option to help deprecate this package without breaking folks that currently reference it.

[2018-09-06 19:09] tarekgh commented on #31935
CC @joperezr

[2018-09-06 19:10] geoffkizer commented on #32143
I can't repro with your alternate repro. Works fine on my machine.

[2018-09-06 19:12] karelz commented on #31073
Fixed in release/2.1 branch in PR #31325. Will be part of 2.1.5 release.

[2018-09-06 19:12] #31073 closed

[2018-09-06 19:14] geoffkizer commented on #32143
I tried with both kernel auth enabled and kernel auth disabled, and it worked both ways.

That said, looking at the listed auth providers, I seem to only have NTLM enabled. I'm guessing you have Negotiate enabled as well? I have a bunch of different Negotiate providers listed here, none of which are enabled. Can you tell me which ones you have enabled?

[2018-09-06 19:15] mikem8361 commented on #19698
Please ignore the PRs/merges #31991. Wrong issue.

[2018-09-06 19:17] geoffkizer commented on #32143
I enabled Negotiate (and put it first in the provider list) and it still works, with or without kernel auth enabled.

[2018-09-06 19:20] karelz commented on #30406
History details: The changed was fixed in release/2.1 branch in PR #30789 (originally it was addressed by PR #30759, but later reverted by PR #30788).

[2018-09-06 19:34] geoffkizer commented on #32143
Do you have a simple httpsys repro for this? Might be easier than fiddling with IIS config.

[2018-09-06 19:42] anangaur commented on #24547
Linking Deprecate packages issue: https://github.com/NuGet/Home/issues/2867

[2018-09-06 19:53] richardpineo commented on #31749
This is an issue for me as well. My colleague with virtually identical setup does not have this issue so it seems to be something with my machine's configuration. Any clues on where to look next?

The reproduction path is simple:
[code]
Then debug through visual studio code 1.27.0 and the same error occurs (or dotnet run).  I have tried various things to trust my dev certificate but can't figure o

[2018-09-06 20:07] Tratcher commented on #32143
[WinAuthODE.zip](https://github.com/dotnet/corefx/files/2358588/WinAuthODE.zip)
I've attached a server that reproduces the issue against the above client code. This server app is written using 2.0. Run the WebApplication13 profile rather than IIS Express.

I realized this test does do one unusual thing, it sends a 401 again after the successful login to indicate the user did not permissions to acc

[2018-09-06 20:07] davidsh commented on #31749
cc: @wfurt

[2018-09-06 20:12] odhanson commented on #32130
@karelz sorry, I meant a link to a PR on my own fork, just for reference.

[2018-09-06 20:26] joperezr commented on #31935
I don't believe we have a good way today to provide release notes to the library granularity.

[2018-09-06 20:28] mconnew commented on #29271
@cyberphone, it seems like there's still a lot up in the air around this issue. Any changes would require a new API to opt in (which itself isn't a problem), but this could have problems if the wind changes again and things normalize differently. So I'm going to close this issue but feel free to reopen/open a new issue once the state of things has settled on a "correct" solution.

[2018-09-06 20:28] #29271 closed

[2018-09-06 20:32] mconnew commented on #27561
There isn't a need to use HttpClient, you can modify the XML content using a MessageInspector and still maintain the contract based programming model that WCF provides. Closing the issue as adding support in XmlSerializer is too large a change given soap encoding was replaced many moons ago.

[2018-09-06 20:32] #27561 closed

[2018-09-06 20:35] wfurt commented on #31749
I just did this @richardpineo and it works for me. I did  `dotnet dev-certs https`
 and `dotnet dev-certs https --trust.`

I think there is possibility that you have some conflicting certificate for `localhost` from the past.
I would suggest to run "Keychain Access", look for any localhost certificates/keys, remove them and repeat the steps. Look in both Login and System Keychain. When connection

[2018-09-06 20:36] karelz commented on #32130
@odhanson just be aware that it may be wasted time if the API eventually gets rejected or significantly changed. That's why we encourage contributors to wait for the approval first.
Feel free to go ahead with PR in your fork if you are ok with the risk.

[2018-09-06 20:37] geoffkizer commented on #32143
It looks like we broke the case where the server still sends 401 after auth completes. We are draining the response in this case when we shouldn't be.

I'll get a fix ready.

@karelz @davidsh We will want to backport this as well.

[2018-09-06 20:42] geoffkizer commented on #32143
Regression was introduced here: https://github.com/dotnet/corefx/pull/31589

[2018-09-06 20:59] richardpineo commented on #31749
@wfurt Woohoo - that did it, thanks. I had deleted the localhost certificate in the system section, but not in the login. Really appreciate the quick help.

[2018-09-06 21:07] wickdninja commented on #15825
We are in the process of migrating some legacy applications to core to run on Linux. Does anyone have a recommended workaround for this?  I would rather not change the internal behaviors of the project/s during the port. I would prefer to preserve the current behavior and possibly refactor out any needed workarounds during a future iteration. Thanks!

[2018-09-06 21:19] tarekgh commented on #15825
There is no good way to do that rather than build your own sorting component and use it. That is similar to what SQL is doing.

[2018-09-06 21:40] weshaggard opened #32147 "Document steps for servicing a library"
In particular steps on how to version the assembly and package as well as how to ensure the package is setup to build.

[2018-09-06 21:44] wfurt commented on #31749
I'm glad it worked @richardpineo. Can you please give it try as well @sankra?
It seems like it may be key pollution rather than something we would fix as a bug.
(and yes, one could argue we may improve code establishing the trust)

[2018-09-06 22:11] davidfowl commented on #31804
For big buffers I agree. This was a significant amount of allocations if you're sending lots of data.

[2018-09-06 22:13] mklement0 commented on #6374
@tarekgh:

Fully agreed that it's important not to hide any platform's native capabilities.

However, CoreFx has discretion with respect to how to _surface_ the native capabilities, and that's where my concern lies, which is unrelated to platform differences:

Why would _getting_ a culture (`CultureInfo.GetCultureInfo()`) from a _known list of predefined cultures_ (`CultureInfo.GetCultures(Culture

[2018-09-06 22:21] xinlongli2018 commented on #32135
got it, thank you very much ! @davidsh

[2018-09-06 22:29] weshaggard commented on #30960
https://github.com/dotnet/corefx/pull/32148 contributes to this effort.

[2018-09-06 22:33] davidsh commented on #32143
@Tratcher @geoffkizer I don't understand why this only repro's with Negotiate and not NTLM.  Have this been figured out yet?  The PR recently opened to fix this regression doesn't seem Negotiate-specific at all.

Perhaps this does repro with both Negotiate and NTLM now that it has been determined to be an problem regarding a final 401 response code.

[2018-09-06 22:39] geoffkizer commented on #32143
I agree, it seems like it should repro with both. I didn't try NTLM, only negotiate.

[2018-09-06 22:42] Tratcher commented on #32143
Nor do I. Does NTLM send different headers on the final response that result in a connection closure and a different HttpContent type?

[2018-09-06 23:05] caesar1995 commented on #31880
Seems this is .NET Framework related issue. I'm only able to repro in .NET Framework, but I will let @kiddoneal @rdlaitila to confirm.

Both repros provided are targeting .NET Framework, and in the issue description:

### Initial analysis (on Framework code base):

Like answered in [StackOverflow question](https://stackoverflow.com/questions/40502921/net-websockets-forcibly-closed-despite-keep-ali