[2017-08-16 20:32] ericstj commented on #23306
We're dead-ending all those packages with the intent that they become *part of the framework* again in .net 4.7.1.  The goal of netstandard2 is to stop the whole package-based portability model because of all of these problems.  You shouldn't need to chase down those DLLs, they are part of the build environment and should be installed on any machine that you consume netstandard2 libraries on.
@dsp

[2017-08-16 20:35] ViktorHofer commented on #23304
Just happened on my machine after cleaning, building and then building tests.

[2017-08-16 20:35] danmosemsft commented on #23308
I repro this. It is consuming this one:
C:\Users\danmose\.nuget\packages\system.data.sqlclient\4.1.0\ref\netstandard1.3\System.Data.SqlClient.dll

Indeed that one has no type forwards. To solve the problem, add a reference to the System.Data.SqlClient package itself (4.4.0). This does have the type forwards.

@weshaggard I believe this is inevitable until Dapper updates their package to have a net

[2017-08-16 20:40] Drawaes commented on #23177
1. It's ugly
2. It's adding more mess to something that should have been an option bag a while ago
3. Adding an options bag for some but not all options is confusing
4. If the other options aren't moved now... they never will

If I have learnt anything if you change concepts, and make that jump, you best clean up  all the bits in one go, or you will forever have some options there and some elsewhe

[2017-08-16 20:41] Tornhoof commented on #23308
@danmosemsft Thank you very much, your solution indeed solves my problem. I'll close this bug.

[2017-08-16 20:41] #23308 closed

[2017-08-16 20:42] Tornhoof commented on #23306
@ericstj Thank you again for explanation. As your solution actually works, I'll close this bug.

[2017-08-16 20:42] #23306 closed

[2017-08-16 20:43] DaveSlinn opened #23311 "Array bounds error with CryptoStream.Write using DESCryptoServiceProvider"
We have a simple text decryption function that uses classes in System.Security.Cryptography that works fine when targeting the full framework but throws an ArgumentException `Offset and length were out of bounds for the array or count is greater than the number of elements from index to the end of the source collection.` on the `CryptoStream.Write` method.

Here is the full extent of a console app

[2017-08-16 20:45] karelz commented on #23131
We need to figure out if it is architectural problem.
The symptom itself is lower pri.

[2017-08-16 20:46] weshaggard commented on #14235
Correct. This work is done.

[2017-08-16 20:49] karelz commented on #23138
We should investigate reasons for Beta.

[2017-08-16 20:50] ericstj commented on #23283
Hmm, it works for me.  Did you re-restore after making your project changes?  What does dotnet --version say?  Can you make sure to delete your bin/publish folders?

[2017-08-16 20:50] #23149 closed

[2017-08-16 20:51] JonHanna commented on #23304
Yeah, like Viktor I'd done `clean -all` then `build` then `build-tests` (I tried with and without `-skiptests`). The only error reported is the one I quoted above, along with warnings about boolean values being used with `WarningsAsErrors` and `DisabledWarning` in the `<Csc>` element in the csproj

[2017-08-16 20:54] karelz commented on #23147
@geoffkizer can you please check if we're ready to close it.

[2017-08-16 21:03] steji113 commented on #23166
In my personal opinion, with the managed implementation being so new, as a user I would expect this to be opt-in functionality for the 2.1.0 time frame. I think the trade off is that you are opting in to better performance, but perhaps a few rough edges in terms of stability until it gets some real-world, production usage. Post 2.1.0 I think it would be viable to be switched to being the default h

[2017-08-16 21:09] jnm2 commented on #23296
My guess would have been that FileStream always did overlapped IO because otherwise you'd have issues using up threads, but I guess you don't!

[2017-08-16 21:18] danmosemsft commented on #8158
@karelz to see feedback above about blocking porting.

[2017-08-16 21:25] markmcdowell commented on #23283
I created a brand new project just to be sure then built via Visual Studio and msbuild with the same results.

[code]
I then zip and upload to the centos 7 box.

On my dev machine:
[code]

[code]

[2017-08-16 21:31] adityamandaleeka commented on #22385
@stephentoub I think that's what's happening. I haven't looked at this code before, but it appears that we rely on the Windows threadpool for uapaot, and I guess it may be conservative about injecting new threads. In this particular case, the dequeue Tasks are just hogging cycles, which may be part of the problem. I'll try to find out more about the heuristics the Windows thread pool uses.

I'm no

[2017-08-16 21:32] ericstj commented on #23283
Ok, I can repro it with that commandline but not with dotnet publish... Looking into what is different...

[2017-08-16 21:36] markmcdowell commented on #23283
yes! i just tried dotnet publish and that did work.

[code]

[2017-08-16 21:38] ericstj commented on #23283
Yeah, I found the same.  Looking into the reason for the discrepancy.    Suspect some target execution order bug in the SDK /cc @dsplaisted @eerhardt

[2017-08-16 21:40] kouvel commented on #22385
My limited understanding is that the Windows thread pool compensates very well for blocking tasks. For CPU-bound tasks, it is not obliged to inject more threads. Having not looked at the code involved, would adding a Sleep(1) in the dequeue tasks on the test side help? I assume they're spinning for work and a periodic wait state is in order and that would hopefully help the thread pool inject thre

[2017-08-16 21:46] adityamandaleeka commented on #22385
@kouvel We can try doing that to hopefully get the test passing, but is there anything we should do on the product side for people who hit this issue in real usage? I assume cases like this work fine on non-uapaot scenarios because we have different thread pool logic there (with hill climbing and all the misc. tuning things we do) that potentially can prevent bugs like this.

[2017-08-16 21:49] ericstj commented on #23283
It appears to actually be a bug in conflict resolution when run on desktop and examining a cross-gen'ed linux binary.  I'm looking into it some more and will file an issue on the SDK.

[2017-08-16 21:51] markmcdowell commented on #23283
Thanks v. much. I'll try updating my build server to run the dotnet publish instead of the msbuild one.

[2017-08-16 22:00] kouvel commented on #22385
It's reasonable to expect that busy-spinning starves other threads. If busy-spinning in the test is the only issue, I think fixing that is sufficient. A thread pool can't be expected to compensate for busy-spinning because it typically can't tell the difference between that and long-running CPU-bound work where it wouldn't make sense to add more threads. The CoreCLR thread pool compensates for bus

[2017-08-16 22:03] khellang opened #23312 "Add Stream.CopyToAsync overload without buffer size"
## Rationale and Usage

Today, `Stream` has three `CopyToAsync` overloads:

[code]

If I want to pass a cancellation token, I'm forced to specify a buffer size:

[code]

One issue with the code above is "What does 81920 mean?". For readability, you could also include argument names:

[code]

This leads to some really verbose code, and in the majority of cases, I just want to stick with the default

[2017-08-16 22:06] adityamandaleeka commented on #22385
I agree. I'll try adding the sleep when I get some time.

[2017-08-16 22:15] adityamandaleeka commented on #22545
I'm able to repro this locally. I'll assign it to myself and start investigating.

[2017-08-16 22:24] wfurt opened #23313 "explore use of .netrc for managedHandler"
https://ec.haxx.se/usingcurl-netrc.html

it seems like curl can use it but I'm not sure if libcurl would on linux with c#
The come up in are of configuring proxy, but there may possibly be more, like authentication details.

[2017-08-16 22:27] safern commented on #22545
Thanks @adityamandaleeka really appreciate your help :)

[2017-08-16 22:30] huanwu commented on #23304
@JonHanna Let me enlist a new one and see if I can repro your issue.

[2017-08-16 23:03] fabio-muramatsu commented on #23296
@jnm2 Sorry, not sure if I get your point. The explanation given by @stephentoub that FileStream does synchronous I/O by default makes sense to me, since in this scenario, `StreamWriter.WriteAsync` would write synchronously in a dedicated thread. Because I'm always awaiting this method in my tests, it should perform almost the same as `WriteAllText`, but with some overhead caused by this additiona

[2017-08-16 23:06] Quppa commented on #23229
@ericstj Thanks - adding the redirects has indeed resolved the YSOD. I'm confused why we aren't getting the same error when the solution is built with 15.2.

[2017-08-16 23:07] jnm2 commented on #23296
@fabio-muramatsu I'm sorry, was responding to Stephen. I'm also curious about your question.

[2017-08-16 23:10] Priya91 commented on #23177
After an offline discussion with @ericstj , we have framework design guidelines, which recommend making only the longest overload virtual, clearly the current Sslstream overloads already violate that. It is afterall been observed that adding overloads will be a poor design. Also, the original design follows the create-set-call pattern which is widely used pattern in the framework. @Drawaes I'll be

[2017-08-16 23:11] stephentoub commented on #23296
@fabio-muramatsu, sorry, I missed that you were on Linux rather than on Windows.

On Unix, there isn't this dichotomy between file descriptors opened for sync vs async I/O.  We do enforce some of the same behaviors visible on Windows, e.g. code on Windows expects to be able to use a FileStream opened with async I/O for concurrent writes (meaning while you're not allowed to access a FileStream conc

[2017-08-16 23:14] #22431 closed

[2017-08-16 23:23] Drawaes commented on #23177
I can answer you OpenSsl question right now. You don't create the context (thus need any callbacks etc) until you hit the AcquireServer/Client Credentials private method on the SecureChannel. You don't hit this until you call the first Token Creation, and that isn't hit until you start the handshake. You can't make the SslCtx object without the certificate anyway, which is supplied on the Authenti

[2017-08-16 23:33] huanwu commented on #23304
@JonHanna I still cannot repro this issue on my another machine. From your error, it seems it doesn't generate the serializer code using our tool as defined in
https://github.com/dotnet/corefx/blob/master/src/Microsoft.XmlSerializer.Generator/tests/Microsoft.XmlSerializer.Generator.Tests.csproj#L35

And when it try to run csc in the following line, it cannot find the source code.
https://github.co

[2017-08-17 00:02] pranavkm commented on #23229
@danmosemsft \ @ericstj I'm able to (inconsistently) repro the issue of the binary getting in to the bin directory with a repro app @MaximRouiller pointed to: https://github.com/alfeg/vs15_3repro. Here are the steps that I've had the most success in reproduction:

1) Clean the repo
2) Launch the sln in VS
3) Hit Ctrl-F5 without changing the startup project.

I'm going to loop in @HongGit to see if

[2017-08-17 00:38] Drawaes commented on #23177
https://github.com/Drawaes/corefx/commit/de8fc6a997035067079b0938db6a292f50dc363a

Something like that for the options bag would be a good start... for ALPN I would use an enum, for the protocols and fixed buffers behind the scenes, they are set by IANA and take a fair amount of haggling to change. An enum that is [Flags] will allow multiple to be supplied, and then the "magic" strings can be hard

[2017-08-17 00:42] Drawaes commented on #23177
Something like this

[code]

You probably want to trim the list for stuff that you don't need to support (speedy for instance) but just to get the idea of what it would look like.

[2017-08-17 01:07] adityamandaleeka commented on #22545
I think I know what's going on here. Will post more details later.

[2017-08-17 01:15] Priya91 commented on #23177
I didn't say that it violates, I in fact said the original design on this proposal(at the top of the issue) is a good starting point.

[2017-08-17 01:16] shaggygi opened #23317 "[Question] System.Collections.Immutable.ImmutableDictionary reorders"
This is probably by design to help with the immutable types, but why does an ImmutableDictionary reorder keys after adding?  For example compared to regular Dictionary:

[code]
**Not Expected**: The order by keys are "two", "one", "three", "four"

[code]
**As Expected**: "one", "two", "three", "four"

I've tried the ImmutableSortedDictionary and appears to reorder by key.  I would like to have it

[2017-08-17 01:18] Drawaes commented on #23177
I miss understood then:) so you doing a prototype so I shouldn't update the API proposal until that?

[2017-08-17 01:22] Priya91 commented on #23177
I would like to implement and test the design first, before taking it to api-review. I think I have enough input to go on, once I publish my changes, you can dig at it to propose improvements. Sounds good?

[2017-08-17 01:25] Drawaes commented on #23177
Perfect ! Happy coding.

[2017-08-17 01:30] jemiller0 commented on #23229
Welcome to DLL hell. This is what happens when Microsoft parrots the Java Maven world. One of the things I have always hated about Java. .NET used to be superior, but, now we are in DLL hell thanks to the advent of NuGet.

[2017-08-17 01:59] Jiayili1 commented on #7812
failed again on Core Tests (2.0.0), detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170816.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test~2FInvalidCertificateServers_CertificateValidationDisabled_Succeeds

[2017-08-17 02:01] Jiayili1 commented on #9228
Failed again in Core Tests (2.0.0), detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170816.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FProxy_BypassFalse_GetRequestGoesThroughCustomProxy(creds:%20null,%20wrapCredsInCache:%20False)

[2017-08-17 02:02] Jiayili1 commented on #18907
This issue is still repro in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170816.01/workItem/System.Net.Sockets.Tests

[2017-08-17 02:04] Jiayili1 commented on #21433
This issue is still repro in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170816.01/workItem/System.Runtime.Tests

[2017-08-17 02:06] dotnet-mc-bot opened #23319 "Test: System.Net.Http.WinHttpHandlerFunctional.Tests.WinHttpHandlerTest/SendAsync_SlowServerAndCancel_ThrowsTaskCanceledException failed with "Xunit.Sdk.IsTypeException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.WinHttpHandlerFunctional.Tests.WinHttpHandlerTest/SendAsync_SlowServerAndCancel_ThrowsTaskCanceledException` has failed.

Assert.IsType() Failure\r
    Expected: System.Threading.Tasks.TaskCanceledException\r
    Actual:   System.Net.Http.HttpRequestException

        Stack Trace:

           at System.Net.Http.WinHttpHandlerFunctional.Tests

[2017-08-17 02:15] tarekgh commented on #21433
@Jiayili1 we didn't fix this in 2.0.0. we have fixed it in the master.

@danmosemsft do we need to fix this in 2.0.0 servicing branch too? note that the fix will not straight forward be porting as we have refactored the Platformdetection code and moved it in 2.1

[2017-08-17 02:16] adityamandaleeka commented on #22545
OK, so the issue here seems to be in the `AsyncMethodBuilder` code for uapaot. In `GetCompletionActionHelper`, there's a line where we call `SetStateMachine` after the part where we box the state machine. However, the `SetStateMachine` call is under `#if DEBUG` for some reason, so it fails on all our runs because they use the Release version of S.P.CoreLib.

I'm trying to understand the history be

[2017-08-17 02:20] embryologist opened #23320 "HTTP Error 502.5 - Process Failure ASP.Net Core2 after update to Microsoft.EntityFrameworkCore -Version 2.0.0 #7462"
## Steps to reproduce
[ARTSQLCORE.zip](https://github.com/dotnet/corefx/files/1230002/ARTSQLCORE.zip)

[code]
I installed `Microsoft.NETCore.App -Version 2.0.0` yet when I run the app I get this msg,

[2017-08-17 02:21] embryologist commented on #22991
close

[2017-08-17 02:43] juepiezhongren opened #23322 "Please Consider to Simplify the Keyword of "await"!"
Async is now everywhere, but "await" is always not that convenient, I think 2 things are making trouble:
  现在异步无处不在，但是"await"有地方不太方便，其中两点很困扰：

- [ ] - 1.     await is a bit LONG, especially when a lot of async functions are consequently called;
await有点长，特别是在有很多异步方法调用时就显得格外抓狂；
- [ ] - 2.     await is on the LEFT! Considerring how many javaers envy the Extending Method, which is the same troubling w

[2017-08-17 02:47] eyalsk commented on #23322
@juepiezhongren You may want to post this at [csharplang](https://github.com/dotnet/csharplang) which is the official repo for the language.

[2017-08-17 02:49] danmosemsft commented on #21433
@tarekgh it is not a goal to get and keep servicing branches all passing as they have never been all passing. If a test fix is basically a cherry pick I would take it, if not (if it's not losing much test coverage) I would not.

[2017-08-17 02:53] danmosemsft commented on #23322
@juepiezhongren please post at csharplang as suggested.

[2017-08-17 02:53] #23322 closed

[2017-08-17 02:53] danmosemsft commented on #23317
@AArnott

[2017-08-17 02:54] danmosemsft commented on #23317
Actually I guess I can answer tihs one. Dictionary<K,V> does not preserve ordering either. You are just getting lucky with the keys you picked.

[2017-08-17 03:01] davidsh commented on #23319
Duplicate of #19637

[2017-08-17 03:01] #23319 closed

[2017-08-17 03:13] #22991 closed

[2017-08-17 04:32] UweKeim commented on #23229
To me, the yellow exclamation marks remain present, no matter what I do.

To my surprise, my project otherwise seems to runs fully functional.

[2017-08-17 04:32] danmosemsft commented on #21433
.. although in such cases it would be nice to disable the test, to reduce noise.

[2017-08-17 04:33] ericstj commented on #23229
@UweKeim see the linked issue I opened in the SDK repo (with workaround).  I think this is what you are hitting.

[2017-08-17 04:38] sharwell commented on #23317
It sounds like you are looking for the equivalent of Java's LinkedHashMap, but in .NET and as an immutable collection. Currently no such collection exists, but you could create a new collection that maintains both a dictionary and a list as the backing store.

[2017-08-17 04:50] UweKeim commented on #23229
Awesome support, @ericstj That actually did the trick! (Although I have no idea what this actually does 😕)

If the workaround will be no longer necessary in the future, will it do any harm to leave it inside my PROJ files?

[2017-08-17 04:59] ericstj commented on #23229
@UweKeim glad that worked for you.  The thing its doing is tricking the IDE into thinking that the references that replaced your project entries actually came from the project.  Hopefully we'll get the SDK to fix this bug.  FWIW the same bug was present even in the project.json nuget stuff but it was less common.  The workaround is mostly harmless, but it could also cause the same issue if you hap

[2017-08-17 05:00] danmosemsft commented on #23312
@khellang good suggestoin, can you reformat into a speclet per the example linked in https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md ?

[2017-08-17 05:02] danmosemsft commented on #23307
Good suggestions @nchikanov go for it :)

[2017-08-17 05:03] danmosemsft commented on #23305
@yizhang82 can you help figure out what product this concerns?

[2017-08-17 05:07] ericstj commented on #23229
Correction, it's not *build* in VS that reproduces the copy, it is *debug*.  An updated procmon gave me a stack, here's the culprit:
[code]

@Eilon / @pranavkm do you know who owns mswebprj.dll?  Looks like it isn't honoring Private/CopyLocal=false

[2017-08-17 05:36] yizhang82 commented on #23305
@chengjinshengtaichanyejituan 请问你安装遇到问题是什么？能够把相关的错误信息发一下吗？是.NET Core SDK的安装出问题？

[2017-08-17 05:52] jamesqo commented on #23240
@stephentoub

Yes, that's the reason why I opened this issue. I offered performance as a secondary reason.

@stephentoub @jnm2 @TylerBrinkley I put this in the description but didn't emphasize it there: **it doesn't have to box.** https://github.com/dotnet/coreclr/pull/7895 made some changes to the JIT to avoid boxing for `Enum.GetHashCode()`, so the same thing can be done for `Enum.IsDefined()` i

[2017-08-17 06:02] PraisyA commented on #23292
@weshaggard
So, can we expect this in  next release..?  if you not please suggest me is there any better way to do.

Thanks

[2017-08-17 06:07] Jiayili1 commented on #22707
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170817.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FAllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection(statusCode:%20300,%20oldMethod:%20%5C%22HEAD%5C%22,%20newMethod:%20%5C%22HEAD%5C%22

[2017-08-17 06:09] dotnet-mc-bot opened #23327 "Test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandlerTest/AllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection failed with "System.IO.IOException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandlerTest/AllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection(statusCode: 300, oldMethod: \"HEAD\", newMethod: \"HEAD\")` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.IO.IOException : The server returned an invalid or unrec

[2017-08-17 06:16] Jiayili1 commented on #23098
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170817.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.NegotiateStreamTest~2FNegotiateStream_StreamToStream_KerberosAuthDefaultCredentials_Success

[2017-08-17 06:17] danmosemsft commented on #23292
@PraisyA there is no plan to port this API although it may be the feature owners would welcome it should you wish to provide a port. That is @corivera
As I mentioned there are likely other types the package needs that are missing. Possibly those could be added to.
As for what package you could use instead meantime, I cannot say.

[2017-08-17 06:20] Jiayili1 commented on #23099
Test: System.Net.Sockets.Tests.ConnectApm/Connect_MultipleIPAddresses_Success(listenAt: 127.0.0.1)  failed with same issue
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170817.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.ConnectApm~2FConnect_MultipleIPAddresses_Success(listenAt:%20127

[2017-08-17 06:22] Jiayili1 commented on #17681
failed again in Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170817.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom~2FReceiveFromV4BoundToAnyV6_Success

[2017-08-17 06:27] dotnet-mc-bot opened #23328 "Test: System.Collections.Tests.CaseInsensitiveHashCodeProviderTests/Default_Compare_TurkishI failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Collections.Tests.CaseInsensitiveHashCodeProviderTests/Default_Compare_TurkishI` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Collections.Tests.CaseInsensitiveHashCodeProviderTests.Default_Compare_TurkishI() in E:\A\_work\394\s\corefx\src\System.Collections.NonGeneric\tests\

[2017-08-17 06:27] Jiayili1 commented on #23328
related issue: https://github.com/dotnet/corefx/issues/20077

[2017-08-17 06:30] geoffkizer commented on #23177
Why not just use strings?  This has the advantage that if a new protocol is added, you can specify the string yourself.

[2017-08-17 06:31] geoffkizer commented on #23177
BTW, where did you get that list from?  I don't know where the "official" IANA list lives.

[2017-08-17 06:43] CharlBest commented on #23246
The addition of the System.Net.Mail nuget package was just an example of the package not working or conflicting core 2. But here is my real setup:
![image](https://user-images.githubusercontent.com/6147400/29399052-e967be48-8327-11e7-9603-43e028c5f825.png)
I am referencing a package called SendGrid.NetCore to send emails with. Are you sure if they remove the System.Net.Mail reference that it will

[2017-08-17 06:44] HongGit commented on #23229
@Jinhuafei could you please take a look?

[2017-08-17 06:52] Jiayili1 commented on #22583
failed again: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170817.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FPostAsync_ReuseRequestContent_Success(remoteServer:%20http:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-08-17 07:03] geoffkizer commented on #23177
Also, let's not stop working on the API proposal.  We should at least write up where we are currently and list the remaining open issues.  We may be able to make progress on some of these independent of Priya's prototyping work.

[2017-08-17 07:52] UnoSD opened #23330 "Assembly level ConfigureAwait attribute"
I would like to suggest a new assembly attribute that will set the default behaviour of `await`.

As in library code `.ConfigureAwait(false)` is widely used and missing it can lead to bugs, would be nice to disable capturing the context at assembly level.

`[assembly:ConfigureAwaitDefaultAttribute(false)]`

Alternatively, this can be implemented in Roslyn as a switch in csproj that would simply ad

[2017-08-17 07:57] Quppa commented on #23229
@AndersMad Also nice to have would be a way to install a specific (older) version of VS2017 for when something like this happens. I went as far as using System Restore to try and recover my 15.2 installation, but that just left the product in a mostly-broken state.

[2017-08-17 08:00] sandersaares opened #23331 "Cannot reference Foo(HttpResponseMessage) implemented in .NET Standard 2.0 library from .NET Framework 4.7 unit test library"
Create a .NET Standard 2.0 library with the following code:

[code]

Then create a .NET Framework 4.7 unit test library with the following code:

[code]

Expected result: test passes.

Actual result: `Message: Test method UnitTestProject2.UnitTest1.TestMethod1 threw exception:
System.MissingMethodException: Method not found: 'Void ClassLibrary1.Class1.Foo(System.Net.Http.HttpResponseMessage)'.`

[2017-08-17 08:48] Drawaes commented on #23177
https://www.iana.org/assignments/tls-extensiontype-values/tls-extensiontype-values.xhtml#alpn-protocol-ids

That is the official (as in RFC 7301 says that is the registry). Next there is an efficiency to being able to hold the strings statically as you need ASCII (or maybe its utf8 but I am sure it is ASCII/ANSI whatever) bytes and then add them to a list buffer, they are very rarely going to chan

[2017-08-17 08:51] darrensteadman opened #23332 "SslStream AuthenticateAsClientAsync throws when running under netcoreapp2.0"
I have an app that I've been porting from net461 to netcoreapp2.0 over the last few days and I've come across a problem when using SslStream.

If I run the ported application as netcoreapp2.0 I get the following exception when running on Windows 7 x64

A call to SSPI failed, see inner exception.
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Net.Security.SslState

[2017-08-17 10:02] geoffkizer commented on #23177
I agree, I don't expect users to remember the strings.  I'm just saying we should have a static list of strings instead of an enum.

Something like:

[code]

[2017-08-17 10:31] Tratcher commented on #23177
Yeah, do not use an  enum for alpn. This is an open dataset and an enum would prevent supporting additional values without a framework upgrade, let alone custom values. The value also does not affect the ssl implementation so there's no reason to restrict it. A similar mistake was made in the past for http status codes, but at least there you could cast to work around it.

Known constants are good

[2017-08-17 10:39] JonHanna opened #23334 "Warnings on compiling Microsoft.XmlSerializer.Generator.Tests.csproj"
On compiling the project directly, several CS0219 warnings.

On compiling from `build-tests`:

[code]

[2017-08-17 10:40] Drawaes commented on #23177
Fair enough, known constants is good for me.

[2017-08-17 10:50] JonHanna commented on #23304
On `rebuildandtest` I get the warnings #23334 is about and #23335 fixes and also:

[code]

When I then try `build-tests` from the repository root again, I get the same error as above.

Running the tests directly produced the file in `bin\AnyOS.AnyCPU.Debug\Microsoft.XmlSerializer.Generator.Tests\netstandard\Microsoft.XmlSerializer.Generator.Tests.XmlSerializers.cs` but `build-tests` looks for it i

[2017-08-17 11:06] stephentoub commented on #23240
Then, FWIW, I don't see this providing enough value to be worthwhile.

[2017-08-17 11:11] JonHanna commented on #23240
It hasn't, but personally I think the difference between a non-boxing generic method that used it if it did exist and the proposal here are on opposite sides of the threshold of being worthwhile.

[2017-08-17 11:38] svick commented on #23330
How exactly do you propose the attribute would work? How would it ensure that `ConfigureAwait(false)` is used?

I think this would have to be at the language level and there's already a proposal for that: https://github.com/dotnet/roslyn/issues/7673.

[2017-08-17 11:56] Tratcher commented on #23177
I suppose if we really wanted to be on spec we'd use `ReadOnlySpan<byte>` as the alpn datatype. The known constants would make this usable.

[2017-08-17 12:06] JonHanna commented on #23304
Incidentally, I'm doing this on a Windows 10 machine, not in a virtual machine, with my repository root at D:\dotnet\corefx

[2017-08-17 12:11] Drawaes commented on #23177
We can't have a list of span.

[2017-08-17 12:30] benaadams commented on #23240
I had a look at this for `.ToString`; the Jit typeforwards GetHashCode to the underlying type (e.g. byte, int, etc); and they have it defined so it doesn't box.

Alas it isn't as straightforward for `ToString` and and `IsDefined` as the value type doesn't have the methods directly defined

[2017-08-17 12:37] Drawaes commented on #23177
for static strings or buffers or whatever i would say
Http1.1
Http/2 over ssl
WebRTC
Confidential WebRTC
Pop3
IMAP
FTP

should be enough for now. Http/2 without tls seems silly because you are already connecting to a TLS endpoint.

[2017-08-17 12:40] CharlBest commented on #23246
Thanks @weshaggard for your help. We figured it out. I was referencing an old/pre-released package. Stupid me.

[2017-08-17 12:40] #23246 closed

[2017-08-17 12:43] darrensteadman commented on #23332
I have investigated this further and believe I know what is happening.

If you call `AuthenticateAsClientAsync` with just the `targetHost` then internally when everything is setup `SecurityProtocol.SystemDefaultSecurityProtocols` is being used. This currently means that the SSL connection will be negotiated with `SslProtocols.None` set. This is basically why the above exceptions are being thrown b

[2017-08-17 12:47] darrensteadman commented on #22085
I field my specific case as another issue #23332. In my specific case I have found a solution to the problem. It may or may not be related to this issue.

[2017-08-17 12:50] jheidlage1222 commented on #21359
So I installed the netcore2.0 SDK and runtime as they've been officially released now and I'm encountering the same error as described in this thread.  I did a write up of what I did to fix it (largely your advice here) but I just wanted to throw it out there that this issue may have re-emerged in the official release.
https://github.com/rschiefer/SeleniumInDotNetCore2P2/issues/1

[2017-08-17 13:06] kostadinmarinov commented on #16187
Is there a plan this problem to be fixed soon?

[2017-08-17 13:08] mscrivo commented on #23306
@ericstj Thank you for the explanation.  My main issue through all of this is the lack of guidance.  I could not find anything in the release notes detailing the tooling changes and what should be done to move from tooling v1 to v2.  It's still not entirely clear to me what the correct solution is.  Are we to remove the nuget packages?  or are we to keep them and just update the binding redirects

[2017-08-17 13:24] borisdj opened #23336 "Unable to resolve service for type 'Core.Data.CoreContext' while attempting to activate 'Core.Data.Repositories.UnitOfWork'"
I have part of WebAPI application that I want to move to separate project as class library.
It is common base structure that almost every app has so idea is to make it easy shareable.

What I have done in that direction is created a project named Core and moved those shared elements there, including Base Entities (e.g. User, Settings, etc), CoreContext, UnitOfWork, Generic Repository, BaseReposito

[2017-08-17 13:37] UnoSD commented on #23330
Only thinking out loud for now as it might be not feasible at corefx level or perform quite bad; I have seen an example using `SynchronizationContext.SetSynchronizationContext` to `null` (will try and find it later) which could be in the implementation of the `GetAwaiter` conditionally on the attribute; of course this not a real suggestion and needs thinking through.

Thank you for the link to the

[2017-08-17 14:13] davidsh commented on #22583
Duplicate of #9228.  Azure internet issues causing requests to be canceled.

[2017-08-17 14:13] #22583 closed

[2017-08-17 14:14] davidsh commented on #22707
Duplicate of #9228.  Azure internet issues causing requests to be canceled.

[2017-08-17 14:14] #22707 closed

[2017-08-17 14:16] ViktorHofer commented on #23304
Calling .\build-tests.cmd in root seems to be completely broken because of the Microsoft.XmlSerializer.Generator.Tests library. Can't get around the error in the root.

[2017-08-17 14:17] jemiller0 commented on #23229
@Quppa Yes, it is pretty unacceptable IMHO that Microsoft does not provide installers for older versions of Visual Studio such as 15.2. Way to go "software as a service." I wasted about a day and a half trying to downgrade after running into a critical error. I tried System Restore also. That resulted in a VS that displayed a blank white screen. I had to undo the System Restore and there is no way

[2017-08-17 14:47] TylerBrinkley commented on #23240
While true, I think what's held them back is a lack of a good use case for the BCL which #15453 provides. I'm trying to resurrect dialog on [csharplang#104](https://github.com/dotnet/csharplang/issues/104) so hopefully we might see some traction.

[2017-08-17 15:13] mscrivo commented on #23229
I am running into this as well, it all works fine after a clean build.  But if I run any tests in VS with resharper, the `Could not load file or assembly 'netfx.force.conflicts'` pops up.

[2017-08-17 15:22] Spacefish opened #23340 "RSACrpytoServiceProvider throws exception when decrypting fOAEP padded data"
https://github.com/dotnet/corefx/blob/2d7ee255d3cdb1b13072176d4881e1b58453358b/src/System.Security.Cryptography.Csp/src/System/Security/Cryptography/RSACryptoServiceProvider.Windows.cs#L269

This check throws an exception if the data is fOAEP padded, even if the real data is smaller than the key!

[2017-08-17 15:25] ericstj commented on #23306
We can't force folks to remove packages because they will appear as dependencies for existing libraries, which is why we have a mechanism for dealing with the conflicts that arise between the packages and the msbuild-provided libs.  If you happened to directly reference any of the netstandard packages you can remove them, but chances are you're bringing them in transitively.

I believe we do have

[2017-08-17 15:29] FransBouma commented on #23213
I ran into another type, System.DBNull. This too isn't serializable it seems. This is problematic if you try to serialize a DataTable with null values (which are stored as DBNull.Value). People with typed datasets and using binary serialization will not be amused ;)

I think DBNull should be serializable because of that reason.

[2017-08-17 15:40] danmosemsft commented on #23328
More of the culture twiddling happening in process.

[code]

@nchikanov more of the issue you're fixing...

[2017-08-17 15:46] MichalStrehovsky commented on #23240
As @benaadams points out, the trick done for `GetHashCode` isn't applicable (that wasn't even a codegen feature - I did the change purely on the vm side). This really is a case of having a value type and expecting to call an instance method on a reference type. This would need a bunch of understanding on the codegen side. Codegen isn't even aware of enums right now (can't really tell a difference

[2017-08-17 15:48] mscrivo commented on #23306
Ok, so now I've updated a bunch of nuget packages, like System.Collections.Immutable to the latest, which added the netstandard2 ref to my projects, I then removed any NetStandard and NETStandard.Library.NETFramework I added and added `<DependsOnNetStandard>True</DependsOnNetStandard>`  too my projects.  Finally, I added the bindingRedirects suggested and I got to state where everything compiles w

[2017-08-17 15:48] danmosemsft opened #23341 "Test failure: System.Net.Security crashed with System.ComponentModel.Win32Exception (0x80004005): The credentials supplied to the package were not recognized"
Like https://github.com/dotnet/corefx/issues/19345 but the whole test library failed.
[code]
https://mc.dot.net/#/user/justinvp/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/563aab7e14f70a99f38ff6ad48a72f2bb148ae40/workItem/System.Net.Security.Tests/wilogs

[2017-08-17 16:00] leecow opened #23343 "XslCompiledTransform BadImageFormatException - Bad Method Token"
@ThuCommix commented on [Wed Aug 16 2017](https://github.com/dotnet/core/issues/845)

# XslCompiledTransform BadImageFormatException

When using XslCompiledTransform.Transform the framework throws a BadImageFormatException - Bad Method Token. It works fine with the full framework.

# General

I'm using the newest dot net core sdk available in combination with Visual Studio 2017.3 and Windows10.

S

[2017-08-17 16:07] ericstj commented on #23229
@mscrivo is that a web project or something different?  I want to make sure we are able to track down all the cases where this is happening.

I have a workaround for folks hitting this, add the following to your project file, or some common targets file imported by your project file if you prefer:
[code]

I've also filed a bug in the sdk repo to track getting this fix in the product: https://githu

[2017-08-17 16:13] mscrivo commented on #23229
Yes all web projects that I'm seeing it in.

On Thu, Aug 17, 2017, 12:11 PM Eric StJohn <notifications@github.com> wrote:

[2017-08-17 16:13] danmosemsft commented on #16187
@TrabacchinLuigi @kostadinmarinov next step would be for someone to format this as an API proposal as per the example linked in https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

@JeremyKuhne do you have any feedback up front about this?

[2017-08-17 16:34] #22599 closed

[2017-08-17 16:35] mscrivo commented on #23306
Thanks! Adding the bindingRedirects to our test projects seems to have done the trick.  I wonder why VS didn't prompt to add them like it did for the other projects?

[2017-08-17 16:45] onovotny opened #23344 "System.Security.Cryptography.Algorithms doesn't load on net461"
Here's the scenario:

.NET Core SDK 2.0
Project targeting .NET Standard 1.4

Unit test project with net461 as a target

Getting
Could not load file or assembly 'System.Security.Cryptography.Algorithms, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d5

https://ci.appveyor.com/project/onovotny/rsakeyvaultprovider/build/1.0.0-preview.1.build.20+ge84ccf841e#L104

This repros in https://gi

[2017-08-17 16:47] danmosemsft commented on #23213
One would think DBNull would be easy to support serializing, but I don't see it on the original lists of commonly serialized types that we based our list off. In desktop it is marked serializable but seems to throw? https://referencesource.microsoft.com/#mscorlib/system/dbnull.cs,25

[2017-08-17 16:50] stephentoub commented on #23213
The dangers of static analysis.

Its GetObjectData uses info.SetType to essentially tell the deserializer to use a different type to deserialize it:
https://referencesource.microsoft.com/#mscorlib/system/dbnull.cs,32
That's done so that it's deserialized as the DBNull singleton rather than as a unique instance.

[2017-08-17 16:51] ericstj commented on #23306
It's because they are DLLs, so they aren't treated as "applications" by MSBuild so it doesn't think they need app.config.  There are a few issues on this **primary:** https://github.com/Microsoft/msbuild/issues/1310, https://github.com/dotnet/project-system/issues/2692, https://github.com/dotnet/sdk/issues/1405, https://github.com/dotnet/sdk/issues/267.  @tmat gave a good workaround to enable bind

[2017-08-17 16:56] christophwille commented on #23344
Another similar scenario, this time for System.Security.Cryptography.Primitives

https://github.com/icsharpcode/SharpZipLib

The library targets netstandard1.3, and when (eg) used via Nuget in a net461 project, it fails loading System.Security.Cryptography.Algorithms version 4.0

[2017-08-17 16:58] danmosemsft commented on #23213
Ah yes. Do we have any infra in Core to support deserializing singletons? We don't have this UnitySerializationInfo.

[2017-08-17 16:59] mscrivo commented on #23306
very nice, thank you for all the quick and helpful responses!  Combining all these instructions/workarounds into a single upgrade doc would probably go a long way to avoid having other people become super frustrated by this.   I can't count how many times I've had to do full cleans and rebuilds of our solution to get through this.

[2017-08-17 17:00] stephentoub commented on #23213
We had UnitySerializationInfo.  It was deleted here:
https://github.com/dotnet/coreclr/commit/b479cee9fdcee2cb4035fda788d34e724e32a222#diff-11ac2b6cb4cabbcf76d5c4d20fbf66b5L24

[2017-08-17 17:26] ericstj commented on #23344
@onovotny something is fishy here.  Its not a conflict, it's actually missing from the output directory.

[2017-08-17 17:28] karelz commented on #8158
Feedback is noted - as mentioned in our [security roadmap](https://github.com/dotnet/designs/issues/11), this is not commonly used API (4-6 asks on this thread so far), but when needed, it is very important.

[2017-08-17 17:32] #23273 closed

[2017-08-17 17:36] shmao opened #23347 "Area-Serialization Sprint 123"
The issue is for tracking issues to be done in sprint 123 (due by 9/8/2017)

[2017-08-17 17:51] ericstj commented on #23344
Found it, appears to be an SDK bug:
[code]

The SDK is incorrectly passing RID-specific assets to conflict resolution for a desktop project which doesn't even understand RIDs.  I've opened an SDK bug: https://github.com/dotnet/sdk/issues/1510

To workaround this you can specify a RID for net461 configuration.
[code]

@christophwille I'm not sure you're seeing the same problem.  I responded to the

[2017-08-17 17:51] #23344 closed

[2017-08-17 17:52] huanwu commented on #22936
Mostly done. Still need rename the project from Microsoft.XmlSerializer.Generator to dotnet-Microsoft.XmlSerializer.Generator. It is blocked now by the setup. Tarek is in the progress to fix it.

[2017-08-17 18:20] weshaggard commented on #22206
@joperezr and I are starting to do some ground work to convert corefx to using .NET Core SDK style projects which will definitely help get us in a better position to work with these projects in VS Code. We are still in the early exploration stage but it is something we hope to do over the next month or 2.

@jmezach thanks for the offer but until we get further down the road I'm not sure there is m

[2017-08-17 18:40] shmao opened #23351 "Verify Sgen End to End on Linux and Mac"

[2017-08-17 18:44] Drawaes commented on #23177
I would say the behaviour for ALPN should be...

If you provided protocols and the other side didn't participate at all (client never sent or server didn't respond) a null protocol negotiated. If there was no match but both sides sent then it's an exception with authentication failed. And the rest is a match.

[2017-08-17 18:48] shmao opened #23353 "Set Sgen Package Version for Preview"

[2017-08-17 18:56] shmao opened #23354 "Check Public APIs Exposed by Sgen"

[2017-08-17 18:57] stephentoub commented on #23330
There's no reliable way I see that this could be implemented purely in library; it would need to be based in language support.  As such, I'm going to close this out.  Thanks for the interest.

[2017-08-17 18:57] #23330 closed

[2017-08-17 19:03] joshfree opened #23355 "Mark UWP6.0 packages as stable"
Tracking issue for marking UWP6.0 as stable

[2017-08-17 19:26] geoffkizer commented on #23177
Based on separate discussions, I think our option bag will also need a flag to support disabling renegotiation, as this seems to be required for HTTP2.

[2017-08-17 19:29] danmosemsft commented on #23343
@krwq

[2017-08-17 19:30] danmosemsft commented on #23304
@huanwu  are you actively looking at this? If not we should probably revert the change if that gets build-tests working for these folks.

[2017-08-17 19:39] Drawaes commented on #23177
FYI you mentioned above ALPN was the pressing need, but

The TLS implementation MUST support the Server Name Indication (SNI) [TLS-EXT] extension to TLS. HTTP/2 clients MUST indicate the target domain name when negotiating TLS.

Afraid SNI is a MUST as well...

[2017-08-17 19:41] geoffkizer commented on #23177
We already support SNI on the client side, which is I think all that's necessary to be HTTP2 compliant.

[2017-08-17 19:41] obadz commented on #6770
hi @janvorli, is your last statement still true or are we now able to build the .NET tools from source+bootstrap binaries?

thanks

[2017-08-17 19:50] stephentoub opened #23358 "Override new Span/Buffer-based APIs on SerialStream"

[2017-08-17 19:50] stephentoub commented on #23358
cc: @pjanotti

[2017-08-17 19:50] natemcmaster commented on #20324
FYI - we are still hitting this consistently in 2.0.0 on our CI agents. As suggested above, it appears rebooting the machine can solve the problem, but we're not sure why. Do we have more details why rebooting works? And is there some kind of configuration that we can add to CI agents to avoid this issue permanently?

[2017-08-17 20:01] JonHanna commented on #23304
I'm curious as to how it works in CI. What is different for the CI runs?

[2017-08-17 20:01] janvorli commented on #6770
@obadz it is still true. I am actually working on finally bringing up Alpine Linux support and I am recording the steps I needed to do so that I can write down and publish instructions. Hopefully sometime next week.
But as for the NixOS, if it uses glibc as the standard C library, the current dotnet 2.0 tarball should just work for you. The new version is portable, that means that it can be used o

[2017-08-17 20:04] huanwu commented on #23304
@danmosemsft I am looking at this issue. build-test.cmd works on both of my machines.

[2017-08-17 20:04] obadz commented on #6770
Ah, great, thank you. Yes NixOS has glibc, but I'm interested in building from source.

[2017-08-17 20:06] bartonjs commented on #20324
Are you adding the certificates to the LocalMachine\My store?  That's backed by `/Library/Keychains/System.keychain`, and on my mac I see

[code]

So if the computer has gone to sleep or 300s have elapsed since (whatever Apple considers to be the start of the countdown) that keychain will become readonly.  The solution that Apple has in that case is to pop a cred/consent dialog; but if you're runn

[2017-08-17 20:08] janvorli commented on #6770
I think that even the build from sources should work for you now. We use the portable package as the tarball that the build downloads, so it should work.

[2017-08-17 20:08] karelz commented on #23255
Closing as it does not belong to CoreFX. AFAIK @terrajobst was talking for quite some time about some solution.

[2017-08-17 20:08] #23255 closed

[2017-08-17 20:10] smitpatel commented on #23255
@karelz - Which should be correct place to report this? (or perhaps get fixed)

[2017-08-17 20:11] karelz commented on #23233
@weshaggard can you please help here?
@marek-safar how urgent is it?

[2017-08-17 20:11] Drawaes commented on #23177
Good point, there is a clear MUST, however the loophole is that you don't have to respond with anything even if it supports it... :) back to the backburner for SNI. (Presuming the client does send it, I haven't checked but will take your word on that :) )

[2017-08-17 20:18] karelz commented on #23255
I don't think there is any "right place" on GitHub or anywhere :(.
Last time I checked, the web page was front-end for APIReview tool. And it was not properly funded by any team :(, basically just a hobby project.

[2017-08-17 20:20] weshaggard commented on #23292
I also don't know enough about this library to suggest a better way to do it on .NET Core.

[2017-08-17 20:22] huanwu commented on #23304
@JonHanna @ViktorHofer I cannot repro on either of my machine. Could you provide me more information? I guess the serializer was not generated successfully on your machine for some reason. Probably the outputpath variable is not set correctly. As defined in this [line,](https://github.com/dotnet/corefx/blob/c69764406ef2450bbf0499aa3c982972676756f3/src/Microsoft.XmlSerializer.Generator/tests/Micros

[2017-08-17 20:29] karelz commented on #23125
@davkean I meant isolated repro to confirm the 30.5ms of JIT time for `System.Collections.Immutable.ImmutableList1+Enumerator[System.Collections.Generic.KeyValuePair2[System.__Canon,System.__Canon]].Dispose()`

[2017-08-17 20:31] weshaggard commented on #23233
@ericstj I assume this is just another case where we want to add the Xamarin supports to the package?

[2017-08-17 20:32] karelz commented on #23336
Which CoreFX type do you have problem with? I am unable to get that from your description.
It generally helps to create a minimal repro.

[2017-08-17 20:35] wfurt opened #23360 "unable to pass in build parameters with spaces to Linux build scripts"
This is clone from #23302

@geoffkizer wrote:
msbuild.sh /t:RebuildAndTest /p:XunitOptions="-showprogress -parallel none"

I had similar problem see #1505 but it broke CI build as it did uncovered some other problems.
This is probably trivial change but has high risk for existing building infrastructure and needs to be tested there.

/cc @weshaggard @MattGal

[2017-08-17 20:40] AndyAyersMS commented on #23125
If you have ETL lying around, send it my way. Likely there is a classload or something similar in there, but best to be sure.

Also you are presumably prejitting in R2R format, right? R2R can't handle all the cases that classic ngen can, so some extra jitting is expected over what you might have seen on desktop.

[2017-08-17 20:49] danmosemsft commented on #16256
this was merged into release and if all goes well will go out in next servicing

[2017-08-17 20:49] #16256 closed

[2017-08-17 20:57] vinniep79 commented on #23306
To help frame the audience of this proposed "single upgrade doc":

- Yesterday my solution compiled and ran correctly
- Today I upgraded to VS 15.3.0
- Today it still compiles, but I have all kinds of warnings that weren't there yesterday:
![image](https://user-images.githubusercontent.com/10819254/29433316-8645bb9a-8353-11e7-9865-58c40fd21261.png)

And if I try running, I get:

This is the situat

[2017-08-17 20:58] natemcmaster commented on #20324
The failing tests are adding to CurrentUser\My.

https://github.com/aspnet/DotNetTools/blob/14dcbdb9dd37f3a3d91649c3deb685b77e481709/test/Microsoft.AspNetcore.CertificateGeneration.Task.Tests/GenerateSSLCertificateTaskTest.cs#L206-L210

This is interesting. If I login to the agent via SSH, I get the same error when executing "security show-keychain-info".

[code]

If I login with "Screen Sharing",

[2017-08-17 21:02] JeremyKuhne commented on #16187
I'm ok with us having this functionality, but I'd rather see this as extension methods on SafeFileHandle. This will allow hitting the functionality anytime you have a handle, not just with FileStream.

Something like:

[code]

[2017-08-17 21:12] ericstj commented on #23306
The reason this happens automatically on upgrade is because you get the new NuGet.  NuGet made a breaking change in order to map netstandard2.0 to net461.  This is essentially the price we had to pay to bring NETStandard2.0 back to net461 and not just some future .net framework.  Previously net461 only supported netstandard1.4.  Now net461 can suddenly start to load ns1.5, ns1.6 assemblies which a

[2017-08-17 21:17] zokiad opened #23362 "HttpClient don't send SSL server_name extension"
Hi,

The aim is to test a web farm. DNS is configured with one IP (behind there are several servers) and redirect to one web server.

To test one server in web farm, in framework 4.6.2, I use with sample code:

[code]

With framework 4.6.2, it is work fine.

**But in .net core 2**, with a test on IIS server web server, the connexion close when web client try to negociate SSL.
Here I use "ebay" ser

[2017-08-17 21:17] natemcmaster commented on #20324
We dug into this more and I believe we found the issue.

The problem: SSH session on macOS does not allow GUI interaction. Any process started from an SSH session will not be able to access keychains.

The reason restart fixed it: our CI agent normally starts as a LaunchAgent (not a LaunchDaemon). LaunchAgents start the process in a context that allows GUI interaction. This agent crashed for some

[2017-08-17 21:18] dotnet-mc-bot opened #23363 "Test failure: System.Net.WebSockets.Client.Tests.CancelTest/CloseAsync_Cancel_Success(server: ws://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)"
Opened on behalf of @safern

The test `System.Net.WebSockets.Client.Tests.CancelTest/CloseAsync_Cancel_Success(server: ws://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)` has failed.

Assert.Equal() Failure\r
    Expected: Aborted\r
    Actual:   Open

        Stack Trace:

           at System.Net.WebSockets.Client.Tests.ClientWebSocketTestBase.<TestCancellation>d__8.MoveNext$catch$0() in

[2017-08-17 21:19] safern commented on #23363
cc: @davidsh @CIPop this is happening in release/uwp6.0 branch

[2017-08-17 21:22] davidsh commented on #23363
You should disable the test.  It is a brittle test subject to race conditions.  So, if there is too much noise in the branch, then please disable the test.

[2017-08-17 21:23] safern commented on #23363
Disable or skip? Do you guys plan on investigating that race condition?

[2017-08-17 21:24] dotnet-mc-bot opened #23364 "Test failure: System.Net.Sockets.Tests.SendReceiveTask/SendRecv_Stream_TCP_AlternateBufferAndBufferList(listenAt: 127.0.0.1)"
Opened on behalf of @safern

The test `System.Net.Sockets.Tests.SendReceiveTask/SendRecv_Stream_TCP_AlternateBufferAndBufferList(listenAt: 127.0.0.1)` has failed.

System.Net.Sockets.SocketException : An existing connection was forcibly closed by the remote host

        Stack Trace:

           at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() in f:\dd\ndp\fxcore\CoreRT\src\System

[2017-08-17 21:24] danmosemsft commented on #23213
Thanks, I sh/could have found that myself. Given we support serializing SqlBoolean, etc -- is DBNull used where those guys are? If so it seems for consistency it could come along too.

[2017-08-17 21:25] safern commented on #23364
cc: @davidsh this one is also failing in release/uwp6.0 branch, only in amd-x86-Release. Could you please take a quick look?

[2017-08-17 21:25] davidsh commented on #23363
Disable.  We will investigate but not for a while.

[2017-08-17 21:27] safern commented on #23363
Ok, I will disable it in release branch for you guys. Thanks.

[2017-08-17 21:28] adityamandaleeka commented on #22545
#23365 fixes this in the release/uwp6.0 branch.

[2017-08-17 21:32] adityamandaleeka commented on #22545
Reopening to track this getting merged into release/uwp6.0.

[2017-08-17 21:35] borisdj commented on #23336
Application type is:
ASP.NET Core Web Application / .NET Framework - ASP.NET Core 2.0 / Web API

I will try to isolate example with the exception manifestation and add link to it.

[2017-08-17 21:37] cwe1ss commented on #18786
I'll close this as it no longer makes sense now that Activity is released. Maybe we can discuss some of these things (e.g. Inject/extract) in separate issues someday.

[2017-08-17 21:37] #18786 closed

[2017-08-17 21:39] karelz commented on #23336
If the types in question are in ASP.NET / Web API land, it would be best to file the issue under https://github.com/aspnet repos.
If the type in question lives in CoreFX repo, then this is the right place.

[2017-08-17 21:39] omajid commented on #16256
Thanks! We have been carrying this fix in our 1.x builds for a few months now and haven't seen any issues. @tanaka-takayoshi was kind enough to verify that this fix does fix the original issue.

[2017-08-17 21:42] JonHanna commented on #23304
@huanwu
[code]

So it looks like it's outputting it much as for you, but looking for it in the wrong place.

[2017-08-17 21:44] danmosemsft commented on #16256
great! PS maybe try 2.0 too?

[2017-08-17 21:45] borisdj commented on #23336
I guess the issue is for ASP.NET Core repo - [https://github.com/aspnet/Home](https://github.com/aspnet/Home)
Closing this one and moving it there.

[2017-08-17 21:45] #23336 closed

[2017-08-17 21:54] karelz commented on #23305
Closing as we do not have actionable info.

[2017-08-17 21:54] #23305 closed

[2017-08-17 21:57] karelz commented on #23317
Closing as it seems to be answered.

[2017-08-17 21:57] #23317 closed

[2017-08-17 21:59] karelz commented on #23320
Do you have a minimal repro? The attached project is rather large and hard to debug.

[2017-08-17 22:04] karelz commented on #23300
Does it work outside of Docker on regular VMs?

[2017-08-17 22:04] davidsh commented on #19635
Closing due to no actionable info from logs.

[2017-08-17 22:04] #19635 closed

[2017-08-17 22:06] huanwu commented on #23304
@JonHanna
Thanks for your log. From the log, it seems the cs was successfully generated in the outputpath which is d:\dotnet\corefx\bin/AnyOS.AnyCPU.Debug/Microsoft.XmlSerializer.Generator.Tests/netstandard/Microsoft.XmlSerializer.Generator.Tests.XmlSerializers.cs on your machine. It then launch csc to compile it. The csc command also refer the right path of source (d:\dotnet\corefx\bin/AnyOS.AnyC

[2017-08-17 22:07] Drawaes commented on #23177
Hmmm maybe we should investigate this... the assumption might be wrong that sni is working client side

https://github.com/dotnet/corefx/issues/23362

[2017-08-17 22:11] stephentoub commented on #23177
HttpClient in .NET Core 2.0 doesn't use SslStream.

[2017-08-17 22:14] Drawaes commented on #23177
Really... so it uses curl and whatever magic api on windows... but the new managed one will right?

[2017-08-17 22:16] stephentoub commented on #23177
HttpClientHandler uses libcurl on Unix and WinHttp on Windows.  The new managed HttpClientHandler implementation does use SslStream:
https://github.com/dotnet/corefx/blob/2efb83a3170ec14cafe6a14ea37edb037eb99836/src/System.Net.Http/src/System/Net/Http/Managed/HttpConnectionHandler.cs#L57

[2017-08-17 22:20] Drawaes commented on #23177
Cool and we know that SSLStream sends SNI for sure... or should I break out wireshark?

[2017-08-17 22:25] stephentoub commented on #23177
If you're volunteering, validation is always good. :)

[2017-08-17 22:28] AArnott commented on #23317
Yes, @danmosemsft there is an `ImmutableSortedDictionary<K,V>` class in this library.
And yes, dictionaries (immutable or otherwise) are generally not _ordered_ collections. So this is by design.

[2017-08-17 22:29] karelz commented on #22607
@Paxxi I sent you collaborator invite, so that we can assign the issue to you (let me know when you accept).
BTW: I recommend to disable all CoreFX repo notifications (you will be subscribed to all once you accept the invite), otherwise you will be DoS'd.

Thanks for your contribution!

[2017-08-17 22:31] tarekgh commented on #23300
would be good to include the exception stack trace too

[2017-08-17 22:34] tarekgh commented on #23320
Should this get moved to https://github.com/aspnet?

[2017-08-17 22:38] #23299 closed

[2017-08-17 22:40] #23334 closed

[2017-08-17 22:49] shaggygi commented on #23317
Thanks for the clarification.

[2017-08-17 22:50] danmosemsft commented on #23311
Marking 2.0 speculatively since this soudns like a compat issue.

[2017-08-17 22:58] karelz commented on #23311
@bartonjs can you please check importance?

[2017-08-17 23:02] cwe1ss commented on #18114
Amen @NickCraver !! I wanted to build a .NET version for OpenTracing.io but I pretty much gave up because all of this stuff in System.Diagnostics is extremely frustrating. And thanks to the no breaking changes policy, there's basically no hope - on the contrary, every future addition will just make it worse. Building a new API like OpenTracing probably doesn't help either as it a) is yet another D

[2017-08-17 23:16] nguerrera opened #23372 "MetadataReader API for getting content of embedded resources"
The metadata reader does not currently provide an easy way to get at the content of an embedded resource.

# First draft API proposal
[code]

# Sample implementation

https://gist.github.com/nguerrera/6864d2a907cb07d869be5a2afed8d764

* DISCLAIMER: I wrote that a long time ago against pre-release API and did not re-tested after simply fixing compilation errors.
* InvalidDataException should be Bad

[2017-08-17 23:17] huanwu opened #23373 "Microsoft.XmlSerializer.Generator Preview"
Track the issues that need be solved by SGEN preview release

[2017-08-17 23:18] huanwu opened #23374 "Sgen test on Linux, OSX"
Sgen automation fail on Linux. Need try the customer scenario on the Linux and unblock the automation run on Linux and osx.

[2017-08-17 23:19] karelz commented on #23331
@ericstj @weshaggard it has something to do with the netstandard TypeForwarders.
When I add Desktop library with Desktop Unit test library, I have to manually add reference to System.Net.Http. Once the Unit test library has as well .NET Standard 2.0 library dependency, the exception above appears.

[2017-08-17 23:19] karelz commented on #23373
@huanwu what is the issue? Can you please add a short description?

[2017-08-17 23:21] huanwu commented on #23373
This is z zenhub epic to track the SGEN issues that need be solved by preview release.

[2017-08-17 23:22] huanwu opened #23375 "Add help method in SGEN"
The help method just shows "in development". Need fill the right content.

[2017-08-17 23:25] huanwu opened #23376 "Review the output message in SGEN"
Need review the output message in SGEN since lots of text just copied from desktop version.

[2017-08-17 23:25] nguerrera commented on #23372
Re question: Actually, these API are all begging to be ReadOnlySpan<byte>, aren't they? cc @stephentoub

[2017-08-17 23:29] Drawaes commented on #23177
On windows at least it does
![image](https://user-images.githubusercontent.com/16406969/29438073-5588e0be-83ac-11e7-8e26-441fee43d9b9.png)

[2017-08-17 23:39] davidfowl commented on #18114
It's fair to complain about that from an extremely high level point of view and it's easy to say "just use a single abstraction" but there are good reasons that those are different. Now if you're saying that we need better guidance then I agree. We've mostly come up with some ad-hoc rules on when to use what but it's not clearly laid out anywhere.

Metrics and Counters are being tackled for 2.1. W

[2017-08-17 23:41] karelz commented on #23373
Ah, then please mark it as Epic, ideally with [Epic] prefix in the title as well. Thanks!

[2017-08-17 23:45] fiigii commented on #22940
Hi all, I have updated this API proposal based on above discussion and the [design review meeting](https://github.com/dotnet/apireviews/blob/master/2017/08-15-Intel%20Intrinsics/README.md). Please see the **Update** section for detials. All the changes are applied to our API source code as well. Once this proposal gets approved, we will submit the complete API design.

[2017-08-17 23:54] tmat commented on #23372
@nguerrera Wouldn't that require targeting netstandard2.0? Perhaps we could have 2 reference assemblies...

[2017-08-18 00:01] nguerrera commented on #23372
@tmat I don't actually know what the implications of that dependency are. I thought there was going to be a slower implementation of spans for down-level. We should come up with a way to use them in S.R.M though, it would be helpful in both the public API and the implementation if possible.

[2017-08-18 00:01] nguerrera commented on #23372
We should probably use a different tracking issue for Spans in S.R.M

[2017-08-18 00:02] tmat commented on #23372
We might need ifdefs though :(

[2017-08-18 00:14] benaadams commented on #22940
@fiigii was there any clarity on why
[code]
and not
[code]

A nit would be that `Compar`e doesn't need to be repeated in enum name and enum value so it could be shortened?

[code]
Otherwise LGTM

[2017-08-18 00:16] weshaggard commented on #23331
You are hitting a binding redirect issue. You can set the following properties in your unit test project to fix it:
[code]

You can see more information at https://github.com/dotnet/sdk/issues/1070

[2017-08-18 00:17] Drawaes commented on #18114
From my end, metrics in other apps using other frameworks, we tend to push them out to statsd, there we do aggregation/bucketing out of proc, and then forward it normally something like telegraf is used, with influxdb. Not sure what the .net story is but looking at this echo system might give some ideas for a xplat story.

[2017-08-18 00:20] fiigii commented on #22940
@benaadams Sorry, that is my mistake. `CompareVector*` has been changed to `Compare` throughout.

We have another enum named `StringComparisonMode`, so maybe this long name is necessary.

[2017-08-18 00:22] benaadams commented on #22940
Wouldn't clash e.g.
`FloatComparisonMode.CompareEqualOrderedNonSignaling`
to
`FloatComparisonMode.EqualOrderedNonSignaling`

`StringComparisonMode.CompareEqualOrderedNonSignaling`
to
`StringComparisonMode.EqualOrderedNonSignaling`

[2017-08-18 00:22] davidsh commented on #23362
Is this on Windows or Linux?

[2017-08-18 00:23] fiigii commented on #22940
FloatComparisonMode.CompareEqualOrderedNonSignaling
to
FloatComparisonMode.EqualOrderedNonSignaling

Good point. This change makes sense.

[2017-08-18 00:28] ghd258 opened #23377 "Enterprise Library ，Unity and AntiXss support net core?"
AntiXss
patterns & practices–Enterprise Library
patterns & practices -Unity

[2017-08-18 00:31] jnm2 commented on #23317
KeyedCollection indexes both by insertion order and key, contains both list and dictionary, no?

[2017-08-18 00:47] ghd258 opened #23379 "Razor Pages support ASP.Net server controls or have server controls?"
Razor Pages support ASP.Net server controls or have server controls?

[2017-08-18 00:49] nchikanov commented on #22355
@stephentoub Since both my PRs are merged, is it safe to close this issue? :)

[2017-08-18 00:58] adityamandaleeka commented on #22385
I confirmed that even adding a Sleep(1) fixes the issue on my repro machine. Just sent a PR.

[2017-08-18 01:09] bradwilson opened #23381 "Bright console colors don't work correctly on Linux"
Given the following C# code:

[code]

When run on Windows 10, it correctly prints out with bright foreground and background colors:

![Windows 10](https://user-images.githubusercontent.com/16944/29439952-20705a3c-8376-11e7-91ad-d0c16f76d7de.png)

When run on Linux (in my example, Ubuntu Server 16.04), bright colors are shown dark:

![Ubuntu 16.04](https://user-images.githubusercontent.com/16944/29

[2017-08-18 01:11] onovotny commented on #23381
That powershell prompt looks pretty slick....! :trollface:

[2017-08-18 01:13] karelz commented on #23381
@wfurt can you please take a look while @ianhays is out?

[2017-08-18 01:16] karelz commented on #23379
Please ask on https://github.com/aspnet repos

[2017-08-18 01:16] #23379 closed

[2017-08-18 01:17] karelz commented on #23377
Unrelated to CoreFX - please ask on feedback channels for the libraries you are interested in ...

[2017-08-18 01:17] #23377 closed

[2017-08-18 01:33] ghd258 opened #23382 "Do you support System.Web.UI.WebControls？"
System.Web.UI
System.Web.UI.Adapters
System.Web.UI.HtmlControls
System.Web.UI.WebControls.Adapters
System.Web.UI.WebControls.WebParts
System.Web.UI.WebControls;

[2017-08-18 01:52] stephentoub commented on #23381
@bradwilson, what is the value of your TERM environment variable?  Is it "xterm"?  What happens if you do `export TERM=xterm-256color` and then try running the program again?

[2017-08-18 01:54] stephentoub commented on #23381
For reference:
![image](https://user-images.githubusercontent.com/2642209/29440983-9690f74c-8396-11e7-9691-3e9687d021ca.png)

[2017-08-18 02:06] davkean commented on #23125
We're not using R2R (didn't even know it was enabled for desktop?) - we're using classic NGEN.

Interestingly enough while when I was looking at this, this long JIT time could repro and over and over again, if I try to repro it now, it's not occurring.

I've got a trace where we took 30ms to jit it, available: \\mlangfs1\public\davkean\corefx\23125 (uploading now, should take 20 minutes).

[2017-08-18 02:10] davkean commented on #23125
My repro was this:

1. Clone http://github.com/dotnet/roslyn
2. Checkout e7869bdaa642214a142d27e6a77263e0e3ba1a66
3. Open Visual Studio Command Prompt
4. Run Restore.cmd
5. `msbuild /nologo /m:1 /v:m /clp:Summary;PerformanceSummary /flp:v:d /t:ReportAssetsLogMessages /p:"SolutionFileName=Roslyn.sln;LangName=en-US;Configuration=Debug;LangID=1033;DesignTimeBuild=true;SolutionDir=E:\\roslyn\\;Solutio

[2017-08-18 02:23] adityamandaleeka commented on #22385
So @stephentoub raised concerns in the PR which moved my opinion on this back to where it was yesterday 😄. Ideally, we'll find a way to address this in such a way that code out in the wild that depends on busy waiting for new work doesn't break.

[2017-08-18 02:30] embryologist commented on #23320
@karelz, how can I provide you with a minimal one?

[2017-08-18 04:13] wfurt commented on #23381
TERM is one thing to look for. The colors also possibly depend on profile and termcap/terminfo

[2017-08-18 04:15] kouvel commented on #22385
Maybe I was too quick in looking at the test change, I guess it doesn't have to sleep every iteration, only when it fails to find work and maybe with some sort of a backoff scheme. But if a sleep(1) at any point would defeat the test then another thought is to use separate threads instead of the thread pool.

[2017-08-18 04:24] bradwilson commented on #23381
@stephentoub That's worse, actually:

![xterm-256color](https://user-images.githubusercontent.com/16944/29444018-0760b5ee-8391-11e7-9ef0-6b57cbb5132c.png)

Neither of my failure cases (SSH or native console) have `xterm` as their TERM value. The former has `cygwin`, and the latter has `linux`. In both cases, `xterm-256color` shows the results above (and is clearly not right, because it breaks full

[2017-08-18 04:39] bradwilson commented on #23381
@wfurt The `cygwin` terminal supports bold colors, as shown here with the output from `msgcat --color=test`:

![image](https://user-images.githubusercontent.com/16944/29444425-5831300e-8394-11e7-8e85-96f199962311.png)

Is .NET Core's color implementation not depending on the bold terminal feature?

[2017-08-18 04:45] dbeavon opened #23383 "Need some access to ExportDescriptorRegistry or its TryGetSingleForExport method"
I've been trying to use System.Composition as a replacement the old MEF1 container in Prism.  The problem is that the old container was super-slow.  I like what I've seen in System.Composition, but I really miss some of the dynamic composition features that we had with MEF1.

One of the more simple things I was able to do in MEF1 was to continually expand my AggregateCatalog to include new exports

[2017-08-18 05:10] wfurt commented on #23381
can you please describe what system you are connecting to and how?

What I was trying to say is that terminal handling (and colors) are somewhat more complicated.
The connecting  client states it self via TERM and than the OS look into it's internal database and tries to map certain attributes into sequence of bytes. Those sequences are interpreted by your client and than turned into bold or color

[2017-08-18 05:14] kostadinmarinov commented on #16187
Won't it be better and more consistent with the existing interface, if the methods are part of File class. This class already contains that functionality hidden as internal. We can move the body of the using into that public method and make the current one call it.

However,  based on my copy-paste experience, I see one problem - __Error.WinIOError(errorCode, path) needs path and we don't have it.

[2017-08-18 05:15] sandersaares commented on #23331
I confirm that adding that XML snippet to the project file appears to be a functioning workaround for the issue.

I do not understand a single sentence in the issue you linked but I notice a 2.0 label on there, so I am a bit surprised to encounter this issue in 2.0. But I suppose it is just related, not the same thing at all.

[2017-08-18 05:38] ruskindantra commented on #11042
@rizamarhaban I have the exact same issue as you but my certificate is not stored locally so how can I give read access to it?  I simply load the certificate in memory via AWS

[2017-08-18 06:00] danmosemsft commented on #23331
My interpretation @weshaggard is that https://github.com/Microsoft/vstest/issues/792 did not happen yet. If I make a unit test project, I do not see HasruntimeOutput set, the property mentioned there.

[2017-08-18 06:09] Horusiath opened #23385 "API Proposal: Merge Set-like operations over dictionaries"
### Rationale and Usage

I've noticed, that quite often developers run into a case, when there's a need to perform Set-specific operations over dictionaries. Examples of such can be found in languages like [Elm's Dict module](http://package.elm-lang.org/packages/elm-lang/core/latest/Dict#combine), but there are also multiple questions about it on the C# tags of StackOverflow, pointing that this is

[2017-08-18 06:13] Jiayili1 commented on #21720
This issue is still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170818.01/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlobs(obj:%20abc,%20blobs:%20%5B%5C%22AAEAAAD~2F~2F~2F~2F~2FAQAAAAAAAAAMAgAAAE5T

[2017-08-18 06:23] dotnet-mc-bot opened #23386 "Tests under: System.Collections.Generic.Tests.EqualityComparerTests/NullableEquals failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `System.Collections.Generic.Tests.EqualityComparerTests/NullableEquals<Byte>(left: 0, right: 128, expected: False)` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Nullable$1<System.__UniversalCanon>.get_HasValue() in f:\dd\ndp\fxcore\CoreRT\src\System.Private.Core

[2017-08-18 06:28] Jiayili1 commented on #23073
This issue is repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170818.01/workItem/System.Globalization.Tests.Execution/analysis/xunit/System.Globalization.Tests.CharUnicodeInfoGetUnicodeCategoryTests~2FGetNumericValue

The test `System.Globalization.Tests.CharUnicodeInfoGetUnicodeCategoryTests/GetNumericValue` h

[2017-08-18 06:33] Jiayili1 commented on #23204
Failed again,, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170818.01/workItem/System.Net.WebSockets.Client.Tests.Execution/analysis/xunit/System.Net.WebSockets.Client.Tests.KeepAliveTest~2FKeepAlive_LongDelayBetweenSendReceives_Succeeds

The test `System.Net.WebSockets.Client.Tests.KeepAliveTest/KeepAlive_LongDela

[2017-08-18 06:34] Paxxi commented on #22607
I have accepted the invitation now.

[2017-08-18 06:35] Zaid-Ajaj opened #23387 "Microsoft.CSharp bug when dynamically invoking a property of a F# Record with generic union input"
### Short description

Microsoft.CSharp bug when dynamically invoking a property (as a function) of a F# Record with generic union input. This used to work in "classic" .NET (net45)

### Details
While porting [my library](https://github.com/Zaid-Ajaj/Fable.Remoting) from full classic .NET (net45) to .NET Core 2.0 I have come across a weird bug that occurs in Microsoft.CSharp when trying to invoke

[2017-08-18 06:39] FransBouma commented on #23213
@danmosemsft DBNull is a value returned by e.g. a datareader when a null value is returned by the database, but other than that I don't see the connection. But I also don't see the use case of serializing a SqlBoolean, so perhaps in the use case where you found SqlBoolean should be serializable a DBNull is required to be serializable too. What I do know is that any datatable / typed datatable/set

[2017-08-18 06:49] Jiayili1 commented on #23097
This test failed in 2.0.0 branch, failed with another issue, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0-msrc~2F/type/test~2Ffunctional~2Fcli~2F/build/20170815.03/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessStartInfoTests~2FStartInfo_TextFile_ShellExecute

The test `System.Diagnostics.Tests.ProcessStartInf

[2017-08-18 06:59] Jiayili1 commented on #22090
Failed again, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0-msrc~2F/type/test~2Ffunctional~2Fcli~2F/build/20170815.03/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerPrefixCollectionTests~2FAdd_InvalidPrefixAlreadyStarted_ThrowsHttpListenerExceptionOnAdd(uriPrefix:%20%5C%22http:~2F~2Flocalhost~2Finvalid%25path~2F%5C%2

[2017-08-18 07:05] bradwilson commented on #23381
As described above, this is an Ubuntu Server 16.04 VM, running on Hyper-V. I experience the issue both via SSH (using the ssh client from Git for Windows) as well as via the native Linux console for the server (accessed via Hyper-V's client).

TERM for SSH = `cygwin`
TERM for Server console = `linux`

[2017-08-18 07:25] Jiayili1 commented on #23037
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_debian8.4_debug/143/testReport/System.Net.Http.Functional.Tests/HttpClientHandlerTest/SendAsync_RequestVersion20_ResponseVersion20IfHttp2Supported_server__https___http2_akamai_com__/

[2017-08-18 07:35] Jiayili1 opened #23388 "System.ServiceProcess.Tests.ServiceBaseTests.TestOnStartThenStop failed in CI"
Failed test: System.ServiceProcess.Tests.ServiceBaseTests.TestOnStartThenStop

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/lastCompletedBuild/testReport/System.ServiceProcess.Tests/ServiceBaseTests/TestOnStartThenStop/

Configuration: OuterLoop_netcoreapp_win7_release

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-08-18 08:32] aelij commented on #18394
The [StreamJsonRpc](https://github.com/Microsoft/vs-streamjsonrpc) library used by VS for IPC works with any stream, including pipes. I found it a very adequate replacement for Remoting.

[2017-08-18 09:32] marek-safar commented on #23233
It's not urgent as System.Security.Cryptography.Cng package is not broadly used. We found the issue internally during our netstandard 2.0 testing.

[2017-08-18 09:46] svick commented on #23385
* What are the use cases for `Merge` with `onLeft` and `onRight`?
* Should `Merge` with `onLeft` and `onRight` have separate types for `TValue` on input and output? For example, if `left` is `{ ("a", 1), ("b", 2) }` and `right` is `{ ("b", 3), ("c", 4) }` and I want the result to be `{ ("a", "left: 1"), ("b", "left: 2; right: 3"), ("c", "right: 4) }`, I couldn't use the proposed overload of `Merge

[2017-08-18 10:33] JonHanna commented on #23304
No. That directory contains:

[code]

[2017-08-18 10:38] Horusiath commented on #23385
@svick Having separate overload with 3 params may be useful for cases, where merge would be directly followed/preceded by transforming dictionary values: in this case we would like to avoid unnecessary allocations, that might be necessary if we want to create temporary dictionary for transformed values. It's a narrow case, but I think, it may be worth discussing.

In this case, you're right, that

[2017-08-18 10:44] JonHanna commented on #23387
Could you build corefx from the repository, and try it against that? This looks like a duplicate of  #21689 which is fixed in the repo.

[2017-08-18 10:53] nietras commented on #22940
👎 I really think this is the worst of the options for this. Having just `ref T` versions would be naturally useable for both native/pinned and managed memory, now we are left with something that is less than ideal for managed memory unless you already use `Span`. And two overloads, instead of just a single method. Additionally some overloads are simply only available in pointer version leaving no

[2017-08-18 10:55] nietras commented on #22940
@fiigii is this available anywhere?

[2017-08-18 10:57] stephentoub commented on #23381
It is, but whether that's supported is dictated by the terminal, and what the terminal supports is exposed via terminfo, which .NET Core examines to determine what it can do.  The terminfo specifies the max number of colors supported, and that's taken into account here when Console writes out the relevant escape string:
https://github.com/dotnet/corefx/blob/38e60f7d5b1bfa68b6dba3481fed63fad29ce315

[2017-08-18 11:46] stephentoub commented on #22385
Yeah, that sounds like the right solution.

[2017-08-18 12:28] turgayozgur commented on #13422
Why the new version of System.Data.SqlClient 4.4.0 does not contain this fix?

[2017-08-18 12:49] endowdly opened #23389 "Please consider supporting 10.11"
Some Mac users cannot upgrade to 10.12 due to Apple hardware requirements.

This blocks users of Mac OS 10.11- from using dotnet core 2, which blocks use of Powershell 6 alpha.

Please remove if this is a duplicate issue.

[2017-08-18 13:08] stephentoub commented on #23307
Failed again here:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/711f39a92e13e80186a30412b4a3fe472ecad4d6/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.UnloadingAndProcessExitTests~2FUnloadingEventMustHappenBeforeProcessExitEvent

[2017-08-18 13:10] stephentoub opened #23390 "CI failures from sgen"
[code]
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netcoreapp+CGroup_Release+AGroup_x86+TestOuter_false_prtest/2389/

[2017-08-18 13:14] stephentoub commented on #23307
Failed again here:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_uap+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/2415/

[2017-08-18 13:36] mscrivo commented on #23306
@ericstj I have one last question for you. If the nuget packages are dead-ended, what's the path to getting rid of them in our codebases?  As of right now, many package updates want to bring all those packages back into our solution.   I'd like to get rid of them since they are not needed any longer.

[2017-08-18 13:37] zokiad commented on #23362
On windows 10.

[2017-08-18 14:44] huanwu commented on #23304
@JonHanna
It seems the csc command look for the source code from the wrong place on your machine although the path looks correct from your log. Could you try to manually run this command?
     C:\Windows\Microsoft.NET\Framework\v4.0.30319\csc.exe /nowarn:true /reference:d:\dotnet\corefx\bin/ref/netstandard/CoreFx.Private.TestUtilities.dll /reference:d:\dotnet\corefx\bin/ref/netstandard/Microsoft.C

[2017-08-18 15:03] tarekgh commented on #23320
you can zip it and attach it to github here or put it on OneDrive and send a link

[2017-08-18 15:08] tarekgh commented on #21720
@ViktorHofer do you know if this run has your fix?

[2017-08-18 15:09] Zaid-Ajaj commented on #23387
Will try that ASAP and report back, thanks for quick response!

[2017-08-18 15:18] ViktorHofer commented on #21720
The PR was merged 22 hours ago so I expect the fix to be in it. But setting the culture helped because CookieContainer isn't failing anymore! Now DataTable is failing, I just discovered that the serialized xml contains a line which stores the culture:

`  <xs:element name="DataSet123" msdata:IsDataSet="true" msdata:Locale="en-US">`

I need to update the stored blobs. I don't know why that only fai

[2017-08-18 15:20] tarekgh commented on #21720
most likely is the OSX machine doesn't have en-US as the user language and instead, we use invariant.

[2017-08-18 15:23] ViktorHofer commented on #21720
So should I instead use Invariant for all the tests?

[2017-08-18 15:30] tarekgh commented on #21720
You need to ensure having the same culture used in the serialized stream and when the test runs. If you can enforce specific culture in the serialized stream and have the same culture used in test validation that will guarantee same results. choosing Invariant is good.

[2017-08-18 16:04] weshaggard commented on #23331
@danmosemsft  is correct these weren't fixed yet. While they are somewhat related to .NET Core/.NET Standard 2.0 they require fixes in the .NET Framework tooling which hasn't been done yet.

I'm closing this issue but if you want to continue the conversation I think the two linked issues are the better place to have them.

[2017-08-18 16:06] tarekgh commented on #23073
@joperezr looks the problem happened again and only on ARM with ILC.

@jkotas do you have any theory how this issue can happen? the method:

[code]

charName cannot be null and we are checking if it ends with the fixed string "First>" or "Last>". so to me, it is impossible we can get null reference exception here. or ILC generated code for ARM may have some problem.

[2017-08-18 16:06] AndyAyersMS commented on #23125
From the ETL, jitting for that method started at 3.040741s and ran until roughly 3.077s. During that time msbuild was not running that much -- it was only using around 10% of 1 CPU. The most active process was MsMpEng, perhaps prompted by writes to the ETL file.

You might be able to reduce the volume of ETL and hence the likelihood of ETL file I/O by rerunning with fewer noisy apps open; looks li

[2017-08-18 16:08] #22355 closed

[2017-08-18 16:19] karelz commented on #23320
Or make it so minimal, that the code modifications to default template fit here as source code ... that would be ideal

[2017-08-18 16:20] jkotas commented on #23073
Likely GC hole in ILC ARM generated code. Intermittent weird NullReferenceExceptions are typical symptoms of GC holes.

[2017-08-18 16:26] tarekgh commented on #23073
@fadimounir @MichalStrehovsky @Maoni0 @sergiy-k could one of you please have a look?

[2017-08-18 16:36] davidsh commented on #23363
This is also a duplicate of #22904.

[2017-08-18 16:39] karelz commented on #574
I updated the proposal in top-post with `IsEmpty { get; }`.
I have also added link to the latest proposal doc in corefxlab repo.

[2017-08-18 16:45] karelz commented on #13329
.NET Framework is "cheating" as you have plenty of files already present in the OS.
You can achieve the same with .NET Core, by installing machine-wide shared .NET Core if that is what you want.

Refactoring CoreCLR to merge all its files into one (incl. native + managed) is non-trivial work and I don't think the scenario is that interesting for too many customers.

[2017-08-18 16:51] karelz commented on #21055
@jamesqo can you please expend the names to all added methods. It will be easier to understand the proposed API surface (I couldn't make heads and tales of it in 10s). Thanks!

[2017-08-18 16:52] danmosemsft commented on #23382
@ghd258 right now, System.Web is not supported on Core.
Generally you can see what is supported where by searching here: https://apisof.net/catalog/System.Web.UI
If you'd like to ask for it to be ported, please open an issue in an aspnet repo -- perhaps https://github.com/aspnet/Home.

[2017-08-18 16:53] danmosemsft commented on #23390
@huanwu ?

[2017-08-18 16:53] jnm2 commented on #13329
The difference is that every Windows machine is guaranteed to have .NET Framework but not .NET Core, so unless there's a special reason that is worth making deployment more complex, I guess I'll end up staying there.
I guess customers don't typically write single exe utilities. Maybe one day. :-)

[2017-08-18 17:05] danmosemsft commented on #23213
@FransBouma do you know of any other types, not listed in https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization, that are likely to be important to successfully serialize many DataTable/DataSets ?

[2017-08-18 17:06] huanwu commented on #23390
@stephentoub Are there any test fail? "SGEN: error .." might come from our negative test.

[2017-08-18 17:09] karelz commented on #16201
@jaredrsowers

While you are correct it also comes with huge burden and cost - see https://github.com/dotnet/corefx/issues/16201#issuecomment-288769690. We considered this approach (also from other reasons), but rejected it - see #17647.

@tmds @Priya91 can we document clearly how to workaround this problem on older CentOS versions? If we see more customers hitting the problem, we should probably

[2017-08-18 17:09] stephentoub commented on #23390
It's showing up as the builds being on fire:
![image](https://user-images.githubusercontent.com/2642209/29469446-55ac1efc-8416-11e7-8847-8d5b574f1da4.png)
and it appears it's exiting with a non-zero exit code:
[code]

[2017-08-18 17:10] huanwu commented on #23390
@stephentoub can you find out which test fail?

[2017-08-18 17:11] stephentoub commented on #23390
This is all the information I have.

[2017-08-18 17:13] huanwu commented on #23390
@stephentoub One of my test is negative test and it is supposed to get the error message. So this error might not cause any test fail.

[2017-08-18 17:14] stephentoub commented on #23390
That may be, but it's still causing the whole leg to be reported as failing.

[2017-08-18 17:14] danmosemsft commented on #23386
@AtsushiKan ?

[2017-08-18 17:18] danmosemsft commented on #13422
@corivera for that question as @saurabh500 is out

[2017-08-18 17:20] huanwu commented on #23390
@stephentoub I will disable this negative test. Thanks!

[2017-08-18 17:20] tarekgh commented on #23073
CC @joshfree

[2017-08-18 17:21] danmosemsft commented on #23390
My guess is that there's a regex in play that is looking for standard-format errors in the test output - like this one.

[2017-08-18 17:32] AtsushiKan commented on #23386
@fadimounir , @davidwrighton - This is another USG issue. Test passes if I force the NullEqual instantations to be codegened.

[2017-08-18 17:37] davidsh commented on #23204
This is a test having a race condition. Can be fixed later.

[2017-08-18 17:38] davidsh commented on #23364
Intermittent networking issue and/or test flakiness.  Not a ship blocker.

[2017-08-18 17:40] weshaggard opened #23393 "Please introduce some location interfaces into .NET Standard"
@weitzhandler commented on [Mon Aug 07 2017](https://github.com/dotnet/standard/issues/436)

For example the [`GeoCoordinate`](https://msdn.microsoft.com/en-us/library/system.device.location.geocoordinate) class and the like.

---

@dotMorten commented on [Wed Aug 09 2017](https://github.com/dotnet/standard/issues/436#issuecomment-321441857)

If you were to do this, make sure this is heavily exten

[2017-08-18 17:45] danmosemsft commented on #23393
@weitzhandler @dotMorten do you consider porting GeoCoordinate (well all of System.Device.Location) a good and reasonable approach?

Looking at usage, it seems it was almost exclusively used in Phone apps. https://apisof.net/catalog/System.Device.Location

[2017-08-18 17:52] safern commented on #23364
@davidsh are you good with disabling this test also?

[2017-08-18 17:53] Code-ScottLe opened #23394 "Setting Http version when initialize HttpClient"
Right now, HttpClient will default to 1.1 on all requests, unless specifies directly on each `HttpRequestMessage` with `SendAsync()` (per [#4870](https://github.com/dotnet/corefx/issues/4870#issuecomment-289884130)).

It would be nice if we can initialize the client with the Http version of choice once, and use it for every API that `HttpClient` provides.

# Rejected API Proposal (attempt)

Motiva

[2017-08-18 17:53] Code-ScottLe commented on #23394
cc @karelz

[2017-08-18 17:56] karelz commented on #23394
@davidsh @geoffkizer any thoughts / pros / cons?

cc @stephentoub

[2017-08-18 17:56] davidsh commented on #23364
yes

[2017-08-18 17:59] davidsh commented on #23394
Technically, it would be a breaking change to change the default of HttpRequestMessage.Version from 1.1 to 2.0.  However, the default on UWP is 2.0.  And now that all the platform stacks support 2.0, it is probably an ok thing to do this for 2.1 release.

Keep in mind that .NET Framework default is still 1.1 via the inbox System.Net.Http.dll.  However, once someone pulls in the System.Net.Http.dll

[2017-08-18 18:00] Code-ScottLe commented on #23394
Can we do something like initializing the `HttpClientHandler` with a version so the `HttpClient` can use that to override the version on each `HttpRequestMessage` that it sends out?

[2017-08-18 18:00] stephentoub commented on #23394
Is the request here to change the default, or to add a property or something to HttpClientHandler, e.g. DefaultVersion, that would be used if a version wasn't set on the HttpRequestMessage?

[2017-08-18 18:02] davidsh commented on #23394
I don't think we should add a new property for this.  We should just change the default of HttpRequestMessage.Version to (2,0) except for NET46 platform.  For servers that don't support 2.0, it will fallback to 1.1 anyways.

[2017-08-18 18:05] davidsh commented on #23394
See:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpUtilities.cs#L18

We just need to change it to:

[code]

[2017-08-18 18:07] weshaggard commented on #21503
@janvorli has volunteered to write up some docs on how to build for new RIDs.

[2017-08-18 18:10] Code-ScottLe commented on #23394
The idea of defining build directive is faster, but that is still leaving this problem open, but with the case of user wants to specify very specifically the version of Http that they want to use (1.1 or 1.0) for various reason. Do you think introducing a new property gonna bring more trouble? I'm kinda torn in between.

[2017-08-18 18:12] JonHanna commented on #23304
@huanwu same exception, I'm afraid, except no reference to a csproj in the message.

[2017-08-18 18:12] davidsh commented on #23394
Devs that need more granular control over the HttpRequestMessage.Version already can simply use the HttpClient.SendAsync() method which takes an HttpRequestMessage.  The other methods of HttpClient are convenience methods (GetAsync, PostAsync).

I would prefer not cluttering up HttpClient with properties that aren't strictly necessary.

I do think, though, that it is time to change the default of

[2017-08-18 18:13] stephentoub commented on #23394
cc: @Tratcher

[2017-08-18 18:14] karelz commented on #23394
cc @davidfowl

[2017-08-18 18:18] Code-ScottLe commented on #23394
@davidsh Valid points. But then again, if you have to makes like 50+ calls and each time you have to make the `HttpResponseMessage` again just to be able to use the version of choice, it's very error prone and would be nice if we can just set it once and leverage all of the convenience methods like you mentioned above.  I thought it is a good improvement from the user perspective, but i also see i

[2017-08-18 18:20] nchikanov commented on #23307
Failed again here: https://mc.dot.net/#/user/nchikanov/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/df75bbb0de79082981b77df396e6618273fcbc4d/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.UnloadingAndProcessExitTests~2FUnloadingEventMustHappenBeforeProcessExitEvent

[2017-08-18 18:21] corivera commented on #13422
This fix is present in every .NET Core branch 1.1.0 and above. Not sure how this was missed.

[2017-08-18 18:23] JosephTremoulet opened #23395 "Undo "goto return" works-around"
Issue to track following up on feedback at https://github.com/dotnet/coreclr/pull/13314#issuecomment-321586182 -- now that the JIT tries to pull early returns out of loops, find the code where `goto` has been added to work around its prior inability to do so, revert, and make sure the JIT gives the desired layout.

[2017-08-18 18:24] JosephTremoulet commented on #23395
Partner of https://github.com/dotnet/coreclr/issues/13466.  Will need to wait for compiler change to propagate.

[2017-08-18 18:25] corivera commented on #13422
@turgayozgur Your Dapper issue says that 4.1.0 has the leak. Why do you say that 4.4.0 has it also?

[2017-08-18 18:27] davidsh commented on #23394
We should probably split this discussion into 2 parts.

1. Change the default of HttpRequestMessage.Version to 2.0 (except for NET46)

2. Add a new property to HttpClient such as:

[code]

[2017-08-18 18:42] FransBouma commented on #23213
@danmosemsft not that I'm aware of. I ran into it in my tests when I ported our ORM to netcore2.0/netstandard2.0 and as we have the feature to support typed datatables, a couple of tests failed with the reason DBNull wasn't serializable, but other tests with typed datatables without NULL values worked fine. It's of course anecdotal evidence but to my knowledge if a datatable without NULL values se

[2017-08-18 18:46] alexgwolff commented on #6913
https://github.com/PowerShell/PowerShell/tree/master/src/Microsoft.PowerShell.CoreCLR.Eventing/DotNetCode/Eventing

[2017-08-18 18:58] yizhang82 commented on #20157
Supported in CoreCLR PR https://github.com/dotnet/coreclr/pull/11940 and CoreFX PR https://github.com/dotnet/corefx/pull/23266

[2017-08-18 18:58] #20157 closed

[2017-08-18 19:05] turgayozgur commented on #13422
Dapper issue is not about my comment. I know that the leak fixed in 4.3.1. That works. Also, i am trying to say that 4.4.0 has the same leak problem.

[2017-08-18 19:05] cwe1ss commented on #18114
I don't know... I think the problem is that all of the current systems focus too much on output scenarios instead of instrumentation scenarios. EventSource was written to do out-of-process logging, ILogger was also written to do out-of-process logging (who doesn't love some internal competition? :smile:), DiagnosticSource was written to do in-process logging, Activity (being an extension of Diagno

[2017-08-18 19:19] danmosemsft opened #23398 "Make DBNull binary serializable"
We marked Datasets/DataTables as serializable but they can contain these.

Note it needs some special treatment as it is singleton - see reference sources.

See https://github.com/dotnet/corefx/issues/23213#issuecomment-323272756
cc @FransBouma

[2017-08-18 19:20] danmosemsft commented on #23398
/cc @ViktorHofer

[2017-08-18 19:21] MichalStrehovsky commented on #23073
@joshfree I'm going to assume it's a GC hole related to Span-ification of something in the framework. This should be investigated by the codegen team.

[2017-08-18 19:26] dotMorten commented on #23393
@danmosemsft I (and our customers) use it extensively in WPF too. I think it's a reasonable basic class, and as long as it's un-sealed and creatable, we can extend it with our additional more advanced needs, and so can the individual platforms that have more to offer.

I do wish the doc stated very clearly the spatial reference used for longitude and latitude (I assume it's WGS84 but it never clea

[2017-08-18 19:49] jbtule opened #23399 "Argument out of range exception on bind with `dynamic` keyword in coreapp2.0"
This is a regression and it does not occur in .net 4.6.2 or .net core 1.0 & 1.1

I've been able to replicate this error when there is a nested type inside of a generic type.
[code]
And you try to use dynamic invocation on a member or on the object itself of the nested type.
[code]
It throws a `System.ArgumentOutOfRangeException : Length cannot be less than zero.
Parameter name: length`

[code]

Sa

[2017-08-18 19:57] stephentoub commented on #23399
cc: @VSadov, @JonHanna

[2017-08-18 19:57] cwe1ss commented on #18114
It's not about "funneling everything into the same sink" but about getting everything you want/need from the different sources in the first place. Unfortunately, many libraries don't have documentation about their logging capabilities. With libraries that use `ILogger` (or any other 3rd party API) there's at least the visible dependency in NuGet but with libraries that use EventSource (like many A

[2017-08-18 20:02] jaredrsowers commented on #16201
@karelz I am unclear what you mean by

This is an easily reproducible issue on the latest, fully patched, CentOS. And, I agree, it would be fantastic to get a clearly documented "workaround" for this.

[2017-08-18 20:06] jbtule commented on #23399
Whoops this is a duplicate of #21689

[2017-08-18 20:06] #23399 closed

[2017-08-18 20:11] davidfowl commented on #18114
@cwe1ss What's your dream API? Paint me an end to end picture that would be happy with for all actors:
- Framework authors
- People consuming logs/metrics/events in applications
- Consuming data from the runtime itself (including native code)
- Tools that need to get diagnostics data out of proc
- Tools that need diagnostics in process (glimpse)

[2017-08-18 20:19] karelz commented on #16201
I mixed it up a bit, sorry (too long thread and lack of my expertise on Linux combined) - it is not about older CentOS, it is about CentOS not having .NET Core 2.0 package yet, per @tmds comment here: https://github.com/dotnet/corefx/issues/16201#issuecomment-300264672
The version of curl in CentOS distro is just not working well with .NET Core as I understand it.

[2017-08-18 20:49] ericstj commented on #23229
Delete the file first.  The workaround only prevents the web project system from copying it.  You'll have to delete it first: just delete your bin folder.

[2017-08-18 21:01] mscrivo commented on #23229
Got it, thanks.

[2017-08-18 21:03] danmosemsft commented on #23213
OK I opened an issue and I'll see if I can put someone on it. Possibly we can get it into a servicing release.

[2017-08-18 21:04] danmosemsft commented on #23213
Unless you want to take it of course :)

[2017-08-18 21:04] narciero opened #23401 "HttpClient Performance Slow Compared to .NET 4.7"
I have conducted a basic performance test of `HttpClient` in .NET Core 2.0 versus `HttpClient` in .NET Framework 4.7 and have noticed a gap in performance. The .NET Framework 4.7 `HttpClient/WebClient` outperforms .NET Core's `HttpClient` by ~1.5-2x in terms of how long it takes to complete a batch of _n_ requests.

### Testing
The test is a console app (run in release mode on Windows 7 16GB 3.5GH

[2017-08-18 21:05] safern commented on #23073
should @hoyMS take a look then?

[2017-08-18 21:06] jamesqo commented on #21055
@karelz I was a bit lazy; the type names are so long, and at the time I was editing on my phone. I've updated the proposal now that I'm on my laptop.

[2017-08-18 21:07] safern commented on #21055
Thanks @jamesqo just labeled it as api-ready-for-review :)

[2017-08-18 21:09] safern commented on #23363
Closing this one as it is a dup, will disable the test against #22904 then.

[2017-08-18 21:09] #23363 closed

[2017-08-18 21:10] safern commented on #23364
Cool. Will disable it. Thanks :)

[2017-08-18 21:15] AndyAyersMS commented on #23125
The NI for Systems.Collections.dll was also loaded about this time; I can't tell if this was just going on independently or was triggered by jitting this method.

[2017-08-18 21:34] bradwilson commented on #23381
@stephentoub It says 8 colors with bold, as I would've expected. It would appear that you're not checking for bold support to see if it's available and just assume that 8 is all you can do (rather than bolding the 8 for 16).

[code]

[2017-08-18 21:36] JonHanna commented on #23213
Was that list produced before `DBNull` was brought into corefx, perhaps. We were without it for quite a while.

[2017-08-18 21:37] danmosemsft commented on #23213
@JonHanna I believe @morganbr generated it by scanning desktop assets in Nuget.

[2017-08-18 21:53] danmosemsft commented on #23381
terminfo man page suggests some terminals may also support half bright ("dim")

[2017-08-18 22:19] adityamandaleeka commented on #22385
I just opened another PR. I couldn't reactivate the previous one since I modified branch history after it was closed.

[2017-08-18 22:23] corivera commented on #13422
Looking around in the 4.4.0 nuget package, I can see that the netstandard2.0 version of SqlClient has the correct behavior, while the netstandard1.3 version does not. The netstandard1.3 SqlClient in the 4.3.1 package has the correct behavior.

@weshaggard Where do the netstandard1.3 versions of the DLLs in the 4.4.0 packages get pulled from?

[2017-08-18 22:33] adityamandaleeka commented on #20128
Another instance:
[code]

CI link:
https://ci3.dot.net/job/dotnet_corefx/job/release_uwp6.0/job/osx-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/102/consoleFull

[2017-08-18 22:34] morganbr commented on #23213
The static analysis showed no serialization of DbNull.Value, but that's probably because you wouldn't create a field of type DbNull. DbNull.Value probably only shows up in collections or as Object.

[2017-08-18 22:34] jaredrsowers commented on #16201
I think the perfect "workaround" for CentOS would either be distribute this "more recent version of libcurl" that is installed on RHEL so that we could then set the LD_LIBRARY_PATH for. Or if that isn't possible, outline the steps taken to properly compile it and generate it ourselves...

[2017-08-18 22:39] joshfree commented on #23073
@MichalStrehovsky the Span-ification is not in the uwp6.0 release branch, so that shouldn't be the case.  Could you take a quick look?

[2017-08-18 22:41] adityamandaleeka commented on #22545
Merged in uwp6.0: https://github.com/dotnet/corefx/commit/e26ce15affa1954956f8d8e26e1dba81a905cbf6

[2017-08-18 22:41] #22545 closed

[2017-08-18 22:42] MichalStrehovsky commented on #23073
@joshfree I'm not good at reading Helix, but the URL has "master" in it. Are you sure this is the uwp6.0 branch?

[2017-08-18 22:43] shmao commented on #22779
This was caused by a bug in `XmlObjectSerializerWriteContext.SerializeWithXsiType`. The method used `DataContract.TypeIsInterface` which was supposed to be populated at app startup by UWP toolchain. For DataContract created at runtime, however, the field, `TypeIsInterface`, was never set.

[2017-08-18 22:48] TrabacchinLuigi commented on #16187
@kostadinmarinov I've tried to copy paste the actual implementation and i've end in the same situation where `__Error.WinIoError(errorCode, path)` need the path, IMHO a little refactor where the path is not needed and throw a simpler or dedicated exception and then `FileStream` catch it and re-throw shouldn't be that hard and so much slower ...
But Touching those parts of code seems like something

[2017-08-18 22:48] joshfree commented on #23073
@MichalStrehovsky Ah you are right.  It's not reproing in UWP6.0 despite the bug label : https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170818.01

[2017-08-18 22:53] weshaggard commented on #13422
If we aren't building them live then they get pulled from the latest stable version. It is possible that we never updated to pull from the 4.3.1 package and instead pulled them from the 4.3.0 package.

[2017-08-18 22:54] TrabacchinLuigi commented on #16187
I'm Already using `SafeFileHandle` ExtensionMethods with success, i just don't have the path in the exception message, but following the stack i'll get to more contextualized scope, so ... like i said, i wouldn't depend on the path...

[2017-08-18 22:55] pakrym opened #23404 "FtpWebRequest on core does not reuse connections"
FtpWebRequest on .net core connects and disconnects for every operation:

![image](https://user-images.githubusercontent.com/1697911/29480430-1aeaaf88-842d-11e7-8359-3e4f07b1e579.png)

Eventually hitting connection rate limit:

![image](https://user-images.githubusercontent.com/1697911/29480440-2e2bbb6e-842d-11e7-99b9-0d55aebb2e35.png)

Same code on net461 reuses connection:
![image](https://user-

[2017-08-18 22:56] danmosemsft commented on #23073
My bad -- I changed the milestone assuming there was a sporadic issue in both that simply happened to repro in master.

[2017-08-18 23:07] jkotas opened #23405 "Regression in dynamic method invocation in .NET Core 2.0"
_From @DavidZidar on August 18, 2017 22:45_

I've discovered a regression where calling a generic method with a dynamic argument throws an exception in .NET Core 2.0 but not in previous versions.

Here is a small program that cause the bug.
https://github.com/DavidZidar/DynamicProblems/blob/ad51939ec05bd840bf441e9653d6fb608872e6ce/DynamicProblems/Program.cs#L7-L36

The problematic type signature i

[2017-08-18 23:07] jkotas commented on #23405
https://github.com/dotnet/corefx/issues/21689

This should be fixed in the final version .NET Core 2.0. Are you running against preview?

[2017-08-18 23:07] jkotas commented on #23405
cc @VSadov @JonHanna

[2017-08-18 23:07] jkotas commented on #23405
_From @DavidZidar on August 18, 2017 23:0_

No, I'm running RTM.

[2017-08-18 23:11] huanwu commented on #23304
@JonHanna
It is so weird. I specify the source in the csc command (d:\dotnet\corefx\bin/AnyOS.AnyCPU.Debug/Microsoft.XmlSerializer.Generator.Tests/netstandard/Microsoft.XmlSerializer.Generator.Tests.XmlSerializers.cs). Why it try to look for this file from corefx root folder? It seems the problem is from csc command.

I try to simplify the csc command as the following. Could you try to run it unde

[2017-08-18 23:14] danmosemsft commented on #23386
should this be tracked for 6.0?

[2017-08-18 23:14] danmosemsft commented on #23386
do we need a TFS issue

[2017-08-18 23:14] jkotas opened #23406 "Enable System.Runtime.CompilerServices.Unsafe and System.Memory tests for UAP"
We need to get targeted unit test for Span enabled. They are very likely uncover bugs that will be hard to track down otherwise (e.g. #23073).

[2017-08-18 23:16] danmosemsft commented on #23307
uh I guess it's not just UAP

https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/cd117388176102f637796853ad3fb045de864616/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.UnloadingAndProcessExitTests~2FUnloadingEventMustHappenBeforeProcessExitEvent

[2017-08-18 23:20] jkotas commented on #23073
We should enable targeted Span tests first (#23073) before chasing down bugs like this.

[2017-08-18 23:26] joperezr commented on #23355
FYI: @weshaggard @ericstj

I'll take care of this once we are done with the brokered files DCR and we are ready to call a build the RTM one.

[2017-08-18 23:27] joperezr commented on #22206
At least from the stages we are now, I'm able to work in VSCode and use OmniSharp to get intellisense working.

[2017-08-18 23:29] MichalStrehovsky commented on #23073
We should also wait until the codegen team gets around to making sure these tests pass with the debug version of the compiler and GCStress (neither of which we do in Helix, AFAIK) - but that comes down to what I said two weeks ago and got summarized as me spreading FUD ;).

[2017-08-18 23:30] davidsh commented on #23404
The Ftp code was rewritten for core and uses a simpler TCP logic (TcpClient) than the .NET Framework which uses ServicePoint architecture and connection pools.

cc: @karelz @Priya91

[2017-08-18 23:32] nchikanov opened #23407 "System.Data.DataSetExtensions Test Failures with Unbox<T>"
Tests fail fast / crash when running ILCBuildType=ret in System.Data.DataSetExtensions on UapAot.
Test do not fail when ILCBuildType=chk. This is likely a code gen bug.

**Failure Location**: (One of many)
https://github.com/dotnet/corefx/blob/73f62d06803d086ee7f6745b55dfde63e27be779/src/System.Data.DataSetExtensions/tests/Mono/EnumerableRowCollectionTest.cs#L99-L102

Then Field<T> calls UnboxT<T>

[2017-08-18 23:32] nchikanov commented on #23407
I'll open a PR to force the tests to build on ILCBuildType=chk 👍

[2017-08-18 23:34] weshaggard commented on #23355
FYI: We haven't been marking the transport/private packages as stable as we don't push them to nuget.org. So for this release I expect only the Microsoft.NETCore.UniversalWindowsPlatform package to be marked stable in core-setup. We might need to stablize Microsoft.NETCore.Platforms/Targets as well but hopefully not as I don't think there are any UWP specific changes in them.

[2017-08-18 23:37] safern commented on #23407
Note that this failure is happening on master only because when this tests were added they didn't make the  cut and didn't make it to the release branch; but I would bet this issue is in the release branch as well.

@hoyMS  could you guys take a look please?

cc: @joshfree

[2017-08-18 23:39] karelz commented on #23404
That's correct `FtpWebRequest` is obsolete API: https://github.com/terrajobst/platform-compat/blob/master/docs/DE0003.md

We should update the docs to suggest alternatives.
@geoffkizer @Priya91 can you please update the API compat page? https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-08-18 23:41] karelz commented on #16201
That sounds very reasonable - I am waiting on @tmds or @Priya91 to provide more details here ...

[2017-08-18 23:41] hoyMS commented on #23407
Sure, will take a look.

[2017-08-18 23:51] safern commented on #23407
thanks @hoyMS assigned to you.

[2017-08-18 23:56] halter73 commented on #23404
Suggestions for alternatives would certainly be appreciated.

[2017-08-18 23:59] SaltyDH commented on #21689
I'm running into this issue at the moment. What's the correct way to swap out the Microsoft.CSharp assembly? I've got

- Dotnet core sdk: 2.1.0-preview1-007055
- Target framework: netcoreapp2.0
- <PackageReference Include="Microsoft.AspNetCore.All" Version="2.1.0-preview1-26666" />
- <PackageReference Include="Microsoft.CSharp" Version="4.4.0" />

It keeps using the Microsoft.NETCore.App 2.0.0 ref

[2017-08-19 00:17] karelz commented on #23382
Seems to be answered.

[2017-08-19 00:17] #23382 closed

[2017-08-19 00:21] karelz commented on #23387
Or you can just dogfood daily build: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2017-08-19 00:21] ghd258 opened #23411 ".NET Core 2.1 support .NET Framework 4.7？ OR .NET Framework 4.6.2"
.NET Core 2.1 support  .NET Framework 4.7？ OR .NET Framework 4.6.2

[2017-08-19 00:25] embryologist commented on #23320
I believe its `<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />`
I think updating it ti version 2 with the current Asp.Net Core Preview creates a conflict.  downgrading solved the problem

[2017-08-19 00:29] huanwu commented on #23304
@JonHanna I guess the problem is because we used the different version of CSC. I currently checked in a workaround. #23400

[2017-08-19 00:30] fiigii commented on #22940
@nietras I am working on building the intrinsic API source code into `System.Private.CoreLib`, will submit the PR later.

[2017-08-19 00:32] #19724 closed

[2017-08-19 00:38] tarekgh commented on #23320
This issue was moved to aspnet/EntityFrameworkCore#9480

[2017-08-19 00:38] #23320 closed

[2017-08-19 00:38] huanwu commented on #23390
The negative test has been removed.

[2017-08-19 00:38] #23390 closed

[2017-08-19 00:38] tarekgh commented on #23320
I moved this issue to the right place which can be tracked there

[2017-08-19 00:51] mellinoe commented on #13329
There are MANY reasons to prefer .NET Core over .NET Framework. Performance, modularity, serviceability, isolation, etc.

Having a single exe utility is mostly a cosmetic concern. There's no real functional difference (for anyone involved) if the executable is a single file or a single folder with a handful of files in it.

[2017-08-19 01:06] obadz commented on #6770
@janvorli, that sounds good. Looking forward to read your instructions when you publish them. Cheers.

[2017-08-19 01:17] #21433 closed

[2017-08-19 02:33] danmosemsft commented on #23411
@ghd258 can you clarify, what do you mean by support?

Also we havent announced goals for 2.1 yet.

[2017-08-19 02:33] Clockwork-Muse commented on #23317
@jnm2 - yeah, but there isn't an immutable version.

I've started to see `List` and anything similar with an index key as essentially another dictionary (indeed, in some cases this is exactly how it's used: "the item at index 1 is blah, ignore index 2, the item at index 3 is blah2....").
Coming from a more database perspective, I find it interesting that essentially guaranteeing insert order is ac

[2017-08-19 03:02] jbtule commented on #21689
Looking at the merge the fix for this is in `Microsoft.CSharp`. So is there a patched version of it available somewhere, alternative nuget feed?

[2017-08-19 03:05] jbtule commented on #23387
@karelz I tried to follow those instructions and the "latest download" zip file was pre-2.0.0 RTM.

[2017-08-19 04:05] jnm2 commented on #13329
@mellinoe Oh I agree for projects in general, that is certainly true. In the small utilities where this cosmetic is desirable, .NET Framework has thus far done a good enough job. I agree it's cosmetic in the same sense as being able to specify an assembly company and copyright message. But being a cosmetic thing doesn't make me like it less. Obviously not a priority here, that's quite understandab

[2017-08-19 05:11] Cisien opened #23415 "PlatformNotSupportedException when attempting to serialize DirectoryInfo instance with Newtonsoft.Json"
Cross-posting with https://github.com/JamesNK/Newtonsoft.Json/issues/1404 to demonstrate the pain this can cause with 3rd party libraries that have historically relied on this behavior vs simply removing the API which would bring attention to the problem immediately, instead of at runtime.

Please consider removing these APIs in the future

### Source/destination types

[code]

### Source/destinat

[2017-08-19 07:41] cwe1ss commented on #18114
@davidfowl Coming up with "the right" API is obviously a very tough and long-running process so this must be done in a working group. Here's just some of my thoughts:

* Microsoft should consolidate their server libraries (ASP.NET Core, Azure) to use ONE out-of-process logging standard. The current mix of EventSource and ILogger is unnecessary and counterproductive.
* "Potentially long-running ope

[2017-08-19 07:58] davidfowl commented on #18114
I personally thing that ship has sailed. Both will exist for the forseeable future. Even re-reading https://github.com/aspnet/Logging/issues/332, the problems are real but I'm not convinced of the solution. Lets remove our abstractions and just use ETW directly 😄.

What if we just removed all loggers and told everyone to use diagnostic source?

Another requirement is that it must be free if nobody

[2017-08-19 08:23] cwe1ss commented on #18114
I'm not saying that any one of them has to go completely. EventSource probably shines for low-level code and framework internals and ILogger seems to be a nicer fit for libraries/frameworks/applications. Maybe it's possible to move all Azure libraries to ILogger?!

You already (almost) get that with the existing DiagnosticSource.IsEnabled() check.

I'm not saying there shouldn't be a metrics API.

[2017-08-19 08:44] davidfowl commented on #18114
That's still assuming that metrics are an implementation detail of events instead of libraries producing them directly.

I think it can be improved but low level cross cutting concerns like this require lots of buy in. It's the same reason why it's hard to get people to agree on DependencyInjection libraries.

[2017-08-19 08:58] FransBouma commented on #23213
@danmosemsft If it's in corefx, sure, but I saw DBNull is in CoreCLR. I've never worked with that repo and as it's not straightforward I'll pass for now.

But perhaps I overlooked the type and it is in CoreFx? ( I couldn't find it, only in CoreCLR). I think the issue you created is in CoreFX but should be in CoreCLR? but perhaps that doesn't matter, not sure :)

[2017-08-19 09:30] ViktorHofer commented on #23213
You can search for types/members here in source.dot.net and even jump to the source via the link at the bottom right "Web Access": https://source.dot.net/#System.Private.CoreLib/shared/System/DBNull.cs,7faae4cef0a3f251

It is defined in coreclr and exposed in System.Runtime in the ref assembly. How to check where it is exposed? You simply go to http://apisof.net (ignore the cert warning, we are wo

[2017-08-19 10:41] JimSEOW commented on #23355
If there a way to have access to the a pre-release version of UWP 6.0? The library I am working works WELL with .NET standard 1.6 [_which is not compatible with UWP_] and I would like to bring that to **UWP IoT Core Creative Update.**

[2017-08-19 10:48] SaltyDH commented on #21689
I'm trying to use this one here: https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.CSharp/4.4.0

Just don't know how to get this to be picked up by the module loading instead of the 2.0.0 reference library. It shows up in the NuGet project tree but at runtime the loaded modules view in visual studio shows the 2.0.0 assembly instead.

[2017-08-19 11:34] caozhiyuan opened #23416 ".NET Core 2.0 Ubuntu 16.04 SocketException 10040 MessageSize"
Ubuntu 16.04 SocketException 10040 MessageSize
nioBuffers List<ArraySegment<byte>> nioBuffers
when nioBuffers  is large (total 892913 byte)  SocketException 10040 MessageSize

SocketError errorCode;
long localWrittenBytes = socket.Send(nioBuffers, SocketFlags.None, out errorCode);
if (errorCode != SocketError.Success && errorCode != SocketError.WouldBlock)
{
      throw new SocketException((int)er

[2017-08-19 11:39] ViktorHofer commented on #21720
Still failing: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170819.01/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlobs(obj:%20System.Data.DataSet,%20blobs:%20%5B%5C%22AAEAAAD~2F~2F~2F~2F~2FAQAAAAAAAAAMAgAAAE5TeXN0

[2017-08-19 12:26] caozhiyuan commented on #23416
git https://github.com/caozhiyuan/DotNetty     run Rpc.Server in Ubuntu 16.04    run Rpc.Client in windows

[2017-08-19 13:15] stephentoub commented on #23381
@bradwilson, are you referring to the entry `bold=\E[1m` that it has in addition to the `setab=\E[4%p1%dm` and `setaf=\E[3%p1%dm` entries for color? What exactly are you proposing be done... if the specified max colors is 8 rather than 16, and there's a bold entry, output both setfb and bold sequences when changing the foreground color?  What about the background color?

[2017-08-19 13:54] i3arnon commented on #22355
What do you think about supporting different Endianness (e.g. `ToInt32(buffer, Endianness.LittleEndian`)?
It would be very useful when working with data coming off the network, as it's much less consistent than memory Endianness.

[2017-08-19 14:02] stephentoub commented on #22355
@i3arnon, #22405

[2017-08-19 14:08] i3arnon commented on #22355
@stephentoub :). And I'm even subscribed to that issue.

[2017-08-19 14:23] ViktorHofer commented on #23415
https://msdn.microsoft.com/de-de/library/system.runtime.serialization.iserializable(v=vs.110).aspx

The ISerializable interface and the respective GetObjectData method which is called by Newtonsonft.Json is intended to be used by BinaryFormatter for **binary serialization**. We don't expect it to be used by other serialization frameworks.

cc @JamesNK @stephentoub

[2017-08-19 14:25] aobatact opened #23419 "Proposal: ReverseComparer"
If you want to sort a `List<T>` by descending, you have to create a Reverse IComparer class.
My Proposal is to add a `ReverseComparer<T>` class like System.Linq.Parallel.ReverseComparer and add extension method like
[code]

[2017-08-19 14:29] mikedn commented on #23419
Why bother creating a comparer at all? Just sort using a lambda expression.

[2017-08-19 14:30] ViktorHofer commented on #23415
I recommend to change this line:
https://github.com/JamesNK/Newtonsoft.Json/blob/7673a18e55c2b30a69ce0cf972b12d8a7c42d5d3/Src/Newtonsoft.Json/Serialization/JsonSerializerInternalWriter.cs#L863

to
[code]

[2017-08-19 14:41] aobatact commented on #23419
I know you can use `Comparison<T>` delegate, but you always have to write `(x,y)=>comparer.Compare(y,x)` and isn't it more simple to write 'comparer.Reverse()' ?

[2017-08-19 14:59] Horusiath commented on #23385
After working with proposed methods a little I've found out, that only 2 methods are actually useful (`Intersect(IEnumerable<KeyValuePair<TKey, TValue>>)` and `Merge(IEnumerable<KeyValuePair<TKey, TValue>>, Func<TKey, TValue, TValue, TValue>)`):

- As mentioned earlier it seems, that 3 param `Merge` method is too complicated and may violate single responsibility principle.
- `Except` method also s

[2017-08-19 18:13] bradwilson commented on #23381
I'm suggesting that in the face of 8-color + bold, you can at least get the 16 foreground colors (if not the 16 background colors).

[2017-08-20 00:59] weitzhandler commented on #16795
I'm on .NET Core 2.0 having solved the issue by installing `System.Data.SqlClient`.

[2017-08-20 04:56] lviana1 opened #23422 "HttpWebRequest in .NET Core 2.0 throwing 301 Moved Permanently"
The following single-line console program works just fine in .NET Framework 4.6.1:

[code]

However, in .NET Core 2.0 it throws the following exception:

[code]

This has always worked in the full .NET Framework, presumably because it automatically follows the redirection. However, it does not do that in .NET Core (it seems that AllowAutoRedirect is simply ignored), so I'm assuming this is a bug.

[2017-08-20 05:49] TimRowe opened #23423 "C# new operate bug?"
[code]

Do you know the value of listTest.MyList ???

It would be {1,2,3,4,5,6}   (on .net framework 4.6.1)

Someone can explain that??

[EDIT] Fixed proper code formatting by @karelz

[2017-08-20 05:59] mikedn commented on #23423
This is really a C# language question. Collection initialization works by calling collection's Add method so your `MyList = {4,5,6}` is really:
[code]
But more importantly:

What `new`? There's no `new` in `MyList = {4,5,6}` :smile: So there's no reason to expect a new list containing 4, 5 and 6 to be created.

[2017-08-20 06:08] TimRowe commented on #23423
It's really a big pit !  Someone would forget `new` , but they think they have done that. It's better to raise error without `new` .

[2017-08-20 06:18] mikedn commented on #23423
That would block a very common scenario - initializing readonly collection properties:
[code]

[2017-08-20 10:58] WinCPP commented on #22406
@stephentoub I'm unable to locate the tests / performance tests for `TextReader` / `TextWriter`. Please let me know where I can find them...

I'm doing this work in parts. First `TextReader` and `TextWriter`, followed by StringReader` / `StringWriter` / `StreamReader` / `StreamWriter` and then the `Buffer` based overloads...

[2017-08-20 11:25] JonHanna commented on #23423
From the C#5 spec (all specs after initializers were introduced have similar language):

A member initializer that specifies a collection initializer after the equals sign is an initialization of an embedded collection. Instead of assigning a new collection to the field or property, the elements given in the initializer are added to the collection referenced by the field or property. The field or

[2017-08-20 17:41] davidfowl commented on #20787
Closing this out as it's not required.

[2017-08-20 17:41] #20787 closed

[2017-08-20 18:16] fuglede commented on #23298
I spent a bit of time pondering about the implications of the bug; see [this gist](https://gist.github.com/fuglede/772402ecc3997ada82a03ce65361781b) for a write-up. TL;DR: the proof for the period in the $(k, l) = (55, 24)$ case can not be applied, but test batteries don't seem to notice, since other implementation quirks appear to matter more.

[2017-08-20 18:26] jnm2 commented on #23419
I would use this.

[2017-08-20 18:26] JonHanna commented on #23298
The wording in the documentation is:

So on the one hand in saying it's a modified version, deviation from that in Knuth 1981 isn't a bug as such. On the other hand, the use of *current* suggests that no promise is made to keep to the algorithm in use, so if there's a problem in the deviation it can be changed.

[2017-08-20 18:56] karelz commented on #23389
We have hard dependencies on MacOS 10.12 features (incl. crypto AFAIK).
Also, looking at the MacOS support cycle pattern, it seems 10.11 will be unsupported in Aug 2018, so adding (costly) support now (i.e. in next few months) would not be very practical IMO.

Given that this is the only ask and it is highly unlikely we will invest into something like that, I am closing the issue.
If you strongly

[2017-08-20 18:56] #23389 closed

[2017-08-20 19:08] karelz commented on #23422
Are you able to reproduce the same problem with just using Networking APIs? (without XML APIs) -- that will help us identify if it is problem in XML or Networking area.

BTW: The URL above does not seem to be forwarded anywhere in browser. Is that expected?

[2017-08-20 19:09] jnm2 commented on #23312
For years I've also wanted to be able to create a new StreamWriter with `leaveOpen: true` without specifying a buffer size or encoding.

[2017-08-20 19:31] khellang commented on #23312
Yes! I think that might be a bit more complicated, as it has a lot more ctors, but I'll see if I can file a proposal for that as well.

[2017-08-20 19:45] lviana1 commented on #23422
Yes, I can reproduce the same problem using just Networking APIs. You can use the simple console app below:

`using System.Net;

namespace ConsoleApp1
{
    class Program
    {
        static void Main(string[] args)
        {
            var request = WebRequest.Create("http://feeds.thisamericanlife.org/talpodcast");
            var response = request.GetResponse();
        }
    }
}
`

If you ta

[2017-08-20 20:16] justinvp opened #23425 "CI failures from Microsoft.XmlSerializer.Generator.Tests"
[code]

https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netcoreapp+CGroup_Release+AGroup_x86+TestOuter_false_prtest/2458/

Not sure if it's the same as #23390 or #23304.

cc: @huanwu

[2017-08-20 21:17] gimpf commented on #14354
@morganbr I've got a teaser ready.

**About SeaHash**: No, I've don't know about the quality yet; in case the performance is interesting, I'd add it to SMHasher. At least the author claims it is good (using it for checksums in a filesystem), and also claims that no entropy is thrown away during the mixing.

**About the hashes and benchmarks**: Project [Haschisch.Kastriert](https://github.com/gimpf

[2017-08-20 21:57] khellang commented on #23312
@danmosemsft Alright. I've tried to follow the linked speclet as closely as I could. Does it look OK now?

[2017-08-20 22:13] narciero opened #23426 "HttpClient specify interface to bind to / make requests from"
On a machine with multiple NICs, how can i specify (if possible) which interface IP to use for making requests?

I am sometimes on a server where the default management interface is not connected to the internet, however there are multiple other NICs that are internet-facing that I would like to be able to use.

With .NET Framework + ServicePointManager I believe you could use [BindIPEndPoint](htt

[2017-08-21 00:45] bradwilson commented on #23381
FWIW, while I think it would be beneficial to the community at large to fix this, the fact that it's broken (and unlikely to be fixed) in 1.x as well as 2.x means that I'll probably leave my ANSI version in indefinitely. I can't imagine this would reach the bar of fixing it in LTS.

[2017-08-21 02:29] TimRowe commented on #23423
@JonHanna,
Thanks for your greate answer，I understand now !!!

[2017-08-21 02:29] #23423 closed

[2017-08-21 02:45] dotnet-mc-bot opened #23427 "Test: System.Net.Tests.HttpListenerResponseHeadersTests/StatusDescription_GetWithCustomStatusCode_ReturnsExpected failed with "System.Net.Sockets.SocketException""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpListenerResponseHeadersTests/StatusDescription_GetWithCustomStatusCode_ReturnsExpected(statusCode: 426, expectedDescription: \"Upgrade Required\")` has failed.

System.Net.Sockets.SocketException : Too many open files in system

        Stack Trace:

           at System.Net.Sockets.Socket..ctor(AddressFamily addressFamily, SocketType s

[2017-08-21 02:47] Jiayili1 commented on #23427
@danmosemsft there is no 2.0.0 milestone, for 2.0.0 branch, which milestone need to be set? 2.0.x?

[2017-08-21 02:56] danmosemsft commented on #23427
2.0.x yes

[2017-08-21 04:02] droyad commented on #14762
@karelz Another use case, we (Octopus) use WMI to get all the child processes of the current process recursively so that we can wait on/kill them.

[2017-08-21 04:42] rolandh commented on #2857
You say that this is fixed. What release is it fixed in? I am using .net 4.6.1 building x86 and I find the timeout value is actually a strange multiple of what it should be.

[2017-08-21 05:28] Li-ReDBox commented on #9162
As others have mentioned, JSON is one of the popular data formats, used more often than XML. Most of languages have native support of JSON. It only makes sense to include the support of it in Core.

[2017-08-21 06:06] Jiayili1 commented on #16430
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170821.01/workItem/System.Data.SqlClient.Tests/wilogs

[code]

[2017-08-21 06:13] dotnet-mc-bot opened #23428 "Test: System.Linq.Parallel.Tests.FirstFirstOrDefaultTests/First_NoMatch_Longrunning failed with "System.AggregateException""
Opened on behalf of @Jiayili1

The test `System.Linq.Parallel.Tests.FirstFirstOrDefaultTests/First_NoMatch_Longrunning(labeled: Enumerable.Range-Ordered, count: 65536, position: 0)` has failed.

Assert.Throws() Failure
    Expected: typeof(System.InvalidOperationException)
    Actual:   typeof(System.AggregateException): One or more errors occurred. (One or more errors occurred. (Object reference

[2017-08-21 06:21] sandersaares commented on #23422
The site has an interesting redirect pattern:

1. Redirect to HTTPS variant of the same URL.
1. Redirect to a different URL over HTTP.

.NET Core appears to be throwing the exception on the second redirect.

[2017-08-21 06:21] Jiayili1 commented on #21427
@danmosemsft This issue is still repro in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0-msrc~2F/type/test~2Ffunctional~2Fcli~2F/build/20170818.01/workItem/System.IO.Compression.ZipFile.Tests/analysis/xunit/System.IO.Compression.Tests.ZipFileTest_ConvenienceMethods~2FExtractToDirectoryExtension_Unicode

do I need to reopen it for 2.0.0?

[2017-08-21 06:32] Jiayili1 commented on #21854
This issue is repro in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170821.01/workItem/System.Net.Mail.Functional.Tests/wilogs

[code]

[2017-08-21 06:49] Jiayili1 commented on #19583
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170821.01/workItem/System.Net.Ping.Functional.Tests

[2017-08-21 06:52] Jiayili1 commented on #19435
failed again in master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170821.01/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.UnixPingUtilityTests~2FPacketSizeIsRespected(payloadSize:%200)

[2017-08-21 06:55] Jiayili1 commented on #23099
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170821.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.ConnectSyncForceNonBlocking~2FConnect_MultipleIPAddresses_Success(listenAt:%20127.0.0.1)

[2017-08-21 06:58] Jiayili1 commented on #23231
This issue is repro in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170821.01/workItem/System.Net.WebProxy.Tests/analysis/xunit/System.Net.Tests.WebProxyTest~2FWebProxy_BypassOnLocal_MatchesExpected

[2017-08-21 07:00] dotnet-mc-bot opened #23429 "Test failure: System.Net.WebSockets.Client.Tests.SendReceiveTest / SendReceive_ConnectionClosedPrematurely_ReceiveAsyncFailsAndWebSocketStateUpdated"
## Types of failures

Affected tests:
* `System.Net.WebSockets.Client.Tests.SendReceiveTest` / `SendReceive_ConnectionClosedPrematurely_ReceiveAsyncFailsAndWebSocketStateUpdated` - 2x
* `System.Net.WebSockets.Client.Tests.ConnectTest` / `ConnectAsync_CookieHeaders_Success` - 1x

[code]

## History of failures

Day | Build | OS | Test
-- | -- | -- | --
7/29 | 20170729.02 | Suse42.2 | ConnectAsync_C

[2017-08-21 07:17] Jiayili1 commented on #23102
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/146/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticStopOnlyActivityLogging/

[2017-08-21 07:21] Jiayili1 commented on #23037
failed again in CI, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_debian8.4_debug/144/testReport/System.Net.Http.Functional.Tests/HttpClientHandlerTest/SendAsync_RequestVersion20_ResponseVersion20IfHttp2Supported_server__https___http2_akamai_com__/

[2017-08-21 07:46] Jiayili1 opened #23430 "System.SpanTests.ReadOnlySpanTests.OnSequenceEqualOfEqualSpansMakeSureEveryElementIsCompared failed with "Xunit.Sdk.TrueException" in CI"
Failed test: System.SpanTests.ReadOnlySpanTests.OnSequenceEqualOfEqualSpansMakeSureEveryElementIsCompared

COnfiguration: ubuntu16.10_release

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.10_release/3504/testReport/System.SpanTests/ReadOnlySpanTests/OnSequenceEqualOfEqualSpansMakeSureEveryElementIsCompared/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-08-21 07:52] Jiayili1 commented on #20893
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/180/testReport/System.Net.Sockets.Tests/DualModeConnectAsync/DualModeConnectAsync_DnsEndPointToHost_Helper_listenOn____1__dualModeServer__False_/

[2017-08-21 07:59] Jiayili1 commented on #22814
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/142/testReport/System.Net.Sockets.Tests/SendReceiveSync/Receive0ByteReturns_WhenPeerDisconnects/

[2017-08-21 08:07] Jiayili1 commented on #23099
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/142/testReport/System.Net.Sockets.Tests/ConnectSyncForceNonBlocking/Connect_MultipleIPAddresses_Success_listenAt__127_0_0_1_/

[2017-08-21 08:16] dotnet-mc-bot opened #23431 "Test: System.Tests.DecimalTests/Parse_Invalid failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Tests.DecimalTests/Parse_Invalid(value: null, style: Float, provider: null, exceptionType: typeof(System.ArgumentNullException))` has failed.

System.ArgumentNullException : Value cannot be null.\r
    Parameter name: s

        Stack Trace:

           at System.Tests.DecimalTests.Parse_Invalid(String value, NumberStyles style, IFormatProvider provi

[2017-08-21 08:19] dotnet-mc-bot opened #23432 "Tests under: System.Tests.EnvironmentTests failed with "System.InvalidOperationException""
Opened on behalf of @Jiayili1

The test `System.Tests.EnvironmentTests/GetFolderPath_UapExistAndAccessible(folder: Cookies)` has failed.

System.InvalidOperationException : The process has no package identity. (Exception from HRESULT: 0x80073D54)

        Stack Trace:

           at System.Runtime.InteropServices.McgMarshal.ThrowOnExternalCallFailed(Int32 hr, RuntimeTypeHandle typeHnd) in f:\dd\nd

[2017-08-21 08:21] dotnet-mc-bot opened #23433 "Tests under: System.Tests.MathFTests failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Tests.MathFTests/Round_Digits` has failed.

Assert.Equal() Failure\r
    Expected: 3.42199993\r
    Actual:   0.00100000005

        Stack Trace:

           at System.Tests.MathFTests.AssertEqual(Single expected, Single actual, Single variance) in E:\A\_work\441\s\corefx\src\System.Runtime.Extensions\tests\System\MathF.netcoreapp.cs:line 135

[2017-08-21 08:25] dotnet-mc-bot opened #23434 "Tests under: System.Tests.MathTests failed with "System.MissingMethodException""
Opened on behalf of @Jiayili1

The test `System.Tests.MathTests/Clamp_Byte(value: 0, min: 1, max: 3, expected: 1)` has failed.

System.MissingMethodException : Method 'Math.Clamp(byte, byte, byte)' from assembly 'System.Runtime.Extensions' was not included in compilation, but was referenced in MathTests.Clamp_Byte(byte, byte, byte, byte). There may have been a missing assembly, or a dependency on

[2017-08-21 08:25] Jiayili1 commented on #23434
failed tests:
Clamp_Byte
Clamp_Decimal
Clamp_Double
Clamp_Float
Clamp_Int
Clamp_Long
Clamp_MinGreaterThanMax_ThrowsArgumentException
Clamp_Sbyte
Clamp_Short
Clamp_Uint
Clamp_Ulong
Clamp_Ushort

[2017-08-21 08:41] dotnet-mc-bot opened #23435 "Test: System.Data.SqlClient.Tests.SqlConnectionBasicTests/IntegratedAuthConnectionTest failed with "System.Data.SqlClient.SqlException""
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.SqlConnectionBasicTests/IntegratedAuthConnectionTest` has failed.

System.Data.SqlClient.SqlException : Connection Timeout Expired.  The timeout period elapsed during the post-login phase.  The connection could have timed out while waiting for server to complete the login process and respond; Or it could have timed out while atte

[2017-08-21 08:44] Jiayili1 commented on #23432
This issue is also repro in UWP6.0 branch, detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170821.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.EnvironmentTests~2FGetFolderPath_UapExistAndAccessible(folder:%20Cookies)

So change the milestone to UWP6.0

[2017-08-21 09:52] mrtarkhan commented on #2949
really? nothing at all?
distributed transaction is a core functionality i think :/
using dotnet core 1.1.2

[2017-08-21 10:49] caozhiyuan commented on #23416
@karelz  git https://github.com/caozhiyuan/DotNetty
in examples folder run SocketAsyncClient in linux  run  SocketAsyncServer in window
![qq 20170821184606](https://user-images.githubusercontent.com/3415285/29516004-4edbb1f4-86a1-11e7-83cc-f0a127021046.png)

[2017-08-21 12:07] onematchfox opened #23436 "System.Runtime.Extensions nuget package installs signed dll (v4.6.24705.1)"
When referencing System.Runtime.Extensions (4.3.0) (or anything that makes uses of it), the dll that gets downloaded/deployed seems to be v4.6.24705.1 as opposed to the standard unsigned version as per the rest of the system dlls. The results in issues such as the following when attempting to publish for ubuntu 16.04.

[code]

Issue was not present when targeting .NET Core 1.1 and only presented i

[2017-08-21 13:54] lviana1 commented on #23422
FWIW, I've seen similar exceptions being thrown with other sites in .NET Core. For instance: http://www.npr.org/rss/podcast.php?id=35.

[2017-08-21 14:43] weltkante commented on #6191
Apparently this API made it only to .NET Core and neither into .NET Standard nor Desktop Framework? Any plans on including it in either of them?

[2017-08-21 14:44] tzachshabtay opened #23438 "ConcurrentDictionary: ApproximateCount"
Following the discussion from #3357, there seemed to be a consensus that an `ApproximateCount` property can fit plenty of use cases and can be implemented to be faster than `Count` (i.e to not lock).

Can this be added?

[2017-08-21 14:59] Tornhoof commented on #23306
Aa post mortem from my side:
I basically followed @ericstj's recommendation:
- Removed my manual binding redirects from every project and added:
[code]
everywhere.
``GenerateBindingRedirectsOutputType`` was new in my projects, see https://github.com/Microsoft/msbuild/issues/1310 for that problem.

- I converted all my projects to remove the packages.config and use ``PackageReference`` instead to g

[2017-08-21 15:05] mscrivo commented on #23229
I've added the workaround to our web projects but I'm still ending up with the dll in my web bin folders when debugging a test project.  Does it need to go in the test projects as well?

[2017-08-21 15:07] mscrivo commented on #23306
@Tornhoof yeah no kidding!  What process did you use to convert projects to use PackageReference instead of packages.config?

[2017-08-21 15:16] Tornhoof commented on #23306
Wrote a program, which parses packages.config and tries to replace as many old project references as possible. Had to manually fix my Web Projects, because of some weird Import statements in the csproj.

https://gist.github.com/Tornhoof/3710df4711900339d69a1cc99abf3ec2

[2017-08-21 15:26] mscrivo commented on #23306
Thanks for sharing that!

[2017-08-21 15:33] ericstj commented on #23306
The path to getting rid of the packages completely is netstandard2.0 / frameworks that support it.  You can think of those packages as the netstandard1.x representation of the API.  Once projects target >= netstandard2.0, >= netcoreapp2.0, >= net461, etc the packages are no longer used.  The packages may still appear in the package graph but will be removed (we don't want to force people to update

[2017-08-21 15:37] ericstj commented on #23229
/cc @BillHiebert who looked at this issue in the web project system.  My understanding that any web project would need it.  @BillHiebert can you share the project type guids that this issue applies to?

[2017-08-21 15:48] BillHiebert commented on #23229
This applies to web site projects (no msbuild project file) and web application projects. Projects which contain the type guid {349c5851-65df-11da-9384-00065b846f21}

[2017-08-21 15:53] darrensteadman opened #23439 "System.Data.Common.dll has an incorrect format"
I am in the process of updating a project that uses Windows Workflow to use some netstandard2.0 dependent assemblies.

When I build the project I get the following warning

The problem is the workflows now do not run and I get the following

This project has been working fine when all assemblies were targeting net461. This has only happened since introducing the netstandard2.0 libraries.

I am run

[2017-08-21 15:55] tarekgh commented on #21427
I'll try to port the fix to 2.0 for this test too.

[2017-08-21 16:02] tarekgh commented on #23395
@JosephTremoulet do we have links for the PR's which added the goto as a workaround? or pointer to some example for the code need to change? Thanks.

[2017-08-21 16:03] tarekgh commented on #23411
CC @weshaggard

[2017-08-21 16:10] fuglede commented on #23298
It should probably be noted that the deviations come in quite different flavors, some of which are less problematic than others:

* The recurrence in `Next()` is performed modulo $2^31 - 1$, while much of the relevant theory in Knuth is concerned with what happens when the modulus is a power of two. As far as I can tell, this is actually makes the generator more robust towards conventional statist

[2017-08-21 16:12] JonHanna commented on #23405
This was fixed by #22117, which was after 2.0.

[2017-08-21 16:14] ianhays commented on #21427
Thanks for handling that while I was out @tarekgh! If you haven't already gotten started on porting the disable then I can take care of it.

[2017-08-21 16:18] danmosemsft commented on #23312
@khellang looks good
@ianhays can you give feedback on the proposal.

[2017-08-21 16:22] karelz commented on #23416
That looks like a large project. Can you please isolate the repro to **minimal**?
That will ensure there are no accidental dependencies on undesired classes, libraries, etc. from the rest of the project.

[2017-08-21 16:24] caozhiyuan commented on #23416
@karelz  SocketAsyncClient  SocketAsyncServer has no dependencies  just git clone cd examples folder and dotnet run

[2017-08-21 16:25] caozhiyuan commented on #23416
it's just test code

[2017-08-21 16:28] danmosemsft commented on #23430
@ahsonkhan

[2017-08-21 16:28] evil-shrike commented on #17278
Hi.

.NET Core was released. System.Configuration types [should be](https://github.com/dotnet/corefx/blob/master/src/System.Configuration.ConfigurationManager/src/System/Configuration/) in class library for .net core. But it's very hard to understand how to use them.

A project which uses types from `System.Configuration` namespace won't compile:
[code]

VS (2017.3) doesn't suggest any fix for `Sy

[2017-08-21 16:28] tarekgh commented on #21720
Looking at the code

https://github.com/dotnet/corefx/blob/81506698c8355a23a1c5269b5fdeebd6fa94d687/src/System.Data.Common/src/System/Data/xmlsaver.cs#L1044

the check

[code]

I believe the OSX run has current culture is invariant which will cause setting

[code]

Your test has to handle this as the type is producing different serialization data depending on the current culture.

[2017-08-21 16:29] ianhays opened #23440 "Investigate rel OSX ZipFile failures"

[2017-08-21 16:35] tarekgh commented on #21427
@ianhays I didn't start yet so feel free to do it. I think we just need to change the Fact to ConditionalFact on a couple of failed test cases. Let me know if you need any help from me. and note that you need to get the ship room approval for any change in the servicing releases.

[2017-08-21 16:41] karelz commented on #17278
@JeremyKuhne should be able to answer and suggest documentation changes.
cc @mairaw as heads up for potential docs changes.

[2017-08-21 16:47] karelz commented on #23416
Both source codes seem to use DotNetty components:
https://github.com/caozhiyuan/DotNetty/blob/dev/examples/Rpc.Server/Program.cs
https://github.com/caozhiyuan/DotNetty/blob/dev/examples/Rpc.Client/Program.cs

Hard to say how deep the rabbit hole goes.

We really need isolated repros to be efficient on the team. Debugging through larger frameworks is huge waste of time (hours at best, days at wors

[2017-08-21 16:49] JonHanna commented on #7596
@StefH can you confirm if this is still and issue in 2.0?

Thinking about it again, I suspect this may have been a bug with the relatively incomplete implementation of `Type` that .NET Core once had compared to now, and my inability to reproduce it is due to that being improved.

[2017-08-21 16:52] karelz commented on #23422
https->http redirection is not supported - see #19183

[2017-08-21 16:52] danmosemsft commented on #23415
Anyway is it correct that if this type did not support ISerializable, the issue would be found at compile time? I would have expected a serializer to cast dynamically.

[2017-08-21 16:57] danmosemsft commented on #23431
This test has not changed in a long time. Another GC hole suspect like https://github.com/dotnet/corefx/issues/23073 ?

[2017-08-21 16:57] joshfree opened #23441 "System.Net.Tests.WebProxyTest/WebProxy_BypassOnLocal_MatchesExpected failure on SUSE"
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2Fuwp6.0~2F/test~2Ffunctional~2Fcli~2F/f902382494decbafaa7eefe4935d2a074f926d15/workItem/System.Net.WebProxy.Tests/analysis/xunit/System.Net.Tests.WebProxyTest~2FWebProxy_BypassOnLocal_MatchesExpected

Unhandled Exception of Type System.Net.Internals.SocketExceptionFactory+ExtendedSocketException
Message :
`Syste

[2017-08-21 16:59] ViktorHofer commented on #23415
Correct. Newtonsonft.Json casts the object to ISerializable like that:
`ISerializable value = (ISerializable)value` which **throws at runtime** with an InvalidCastException.

[2017-08-21 17:06] joshfree commented on #23432
@tijoytom could you take a quick look please?

[2017-08-21 17:06] thuannguy commented on #23229
@UweKeim @ericstj I ran into exactly the same issues which prevented me from updating many dependencies such as Microsoft.AspNetCore.DataProtection to the latest 2.0 release.

[2017-08-21 17:07] StefH commented on #7596
I also cannot confirm if it's solved in 2.0, I don't have the (test) code available.

I'll just close this issue and create a new one in case I see issues.

(At this moment, the original code from https://github.com/StefH/System.Linq.Dynamic.Core is not yet ported to 2.0)

[2017-08-21 17:07] #7596 closed

[2017-08-21 17:13] joshfree commented on #23355
@JimSEOW I encourage you to join the Preview program: [Early Access to Visual Studio Preview](https://www.visualstudio.com/vs/preview/).

[2017-08-21 17:31] danmosemsft commented on #22271
@joperezr can you give an update on this one? branch is in escrow shortly.

[2017-08-21 17:37] danmosemsft commented on #23039
Not failing now it seems

[2017-08-21 17:37] #23039 closed

[2017-08-21 17:38] danmosemsft commented on #23282
@nchikanov can you please prepare a port to release/uwp6.0 and send mail to get commit permission.

[2017-08-21 17:40] danmosemsft commented on #21689
@weshaggard how should they force it to pick up the 2.1 assembly?

[2017-08-21 17:47] ianhays commented on #23312
Yeah this would be great. This request feels familiar.. I may have seen it elsewhere but searching doesn't turn anything up, so it may have been a verbal request. Either way, that's another 👍 for this proposal.

[2017-08-21 17:49] wfurt commented on #21427
It seems like apfs uses utf-8 instead of utf16 according to this article @ianhays

https://developer.apple.com/library/content/documentation/FileManagement/Conceptual/APFS_Guide/FAQ/FAQ.html

I'm not sure if we have any unicode/i18n tests with UTF-8 files. That should also work on Linux IMHO. Also on Linux many executables pay attention to LANG and LC_ALL variables.

[2017-08-21 17:51] danmosemsft commented on #23312
OK, next step is to wait for the next review meeting... might be a week or two

[2017-08-21 17:58] stephentoub commented on #23425
cc: @danmosemsft

[2017-08-21 17:59] tarekgh commented on #21427
@wfurt, we always assume UTF8 and there is conversion be done to UTF16. @ianhays can confirm that too.

[2017-08-21 18:01] danmosemsft commented on #23425
Right, and on this one they're hanging
https://github.com/dotnet/corefx/pull/23414
Huangli seems to be out.

[2017-08-21 18:01] ianhays commented on #21427
Yes, that is correct as @tarekgh mentioned. This issue is caused purely by how APFS decided to do their expansion characters.

[2017-08-21 18:01] danmosemsft commented on #23425
@shmao are you available?

[2017-08-21 18:03] danmosemsft commented on #23439
@weshaggard @ericstj  ?

[2017-08-21 18:05] shmao commented on #23425
@danmosemsft I'll take a look at this.

[2017-08-21 18:06] JeremyKuhne commented on #17278
We created a different assembly name for this as the types were spread across more than System.Configuration.dll in NetFX (desktop).

@weshaggard Can you clarify the expectations here for System.Configuration usage?

[2017-08-21 18:11] JeremyKuhne commented on #6191
Thanks for asking. The intent is to get this into Desktop and Standard eventually. I've marked the PR appropriately so that we won't miss it.

[2017-08-21 18:14] narf37 opened #23443 "SqlClient Connection Pooling error"
Hello , I have an Webapi that connect to different sql servers, we enabled connection pooling for both connections. Recently we need to apply a patch to one server, so we need to restart it. The result was that the connection pool blow the whole application.

Different ways it fails:
  - When app starts, and you try to do first query to initialized the pool. If the server is not available or canno

[2017-08-21 18:18] JosephTremoulet commented on #23395
@tarekgh, here's what @stephentoub said in https://github.com/dotnet/coreclr/pull/13314#issuecomment-321586182:

I'm doing a pass through coreclr now looking for relevant `goto`s, and plan to do the same for corefx when the compiler change has propagated.

[2017-08-21 18:24] wfurt commented on #21427
ok, thanks for the info. What file name do we expect inside the test file? I tried to unpack that zipfile on Linux with LANG set to en_US.UTF-8 and the name inside looks strange.

I also created zip archive with Chinese name and that unpack ok on apfs

Builds-MBP:aa build$ unzip ../test.zip
Archive:  ../test.zip
 extracting: �?�注�?�?�微信.txt
Builds-MBP:aa build$ ls -al
total 0
drwxr-xr-x   3 build

[2017-08-21 18:28] JosephTremoulet commented on #23395
I should mention, as @jkotas did in https://github.com/dotnet/coreclr/issues/13466#issuecomment-323429800, that these `goto`s have been keeping the early return code out of loops (which the JIT should now be able to do by itself) but also have been sharing the same function epilog when multiple such `goto`s target the same function return point (which the JIT does not yet do on its own), so we're

[2017-08-21 18:33] JeremyKuhne opened #23444 "Resetting attributes broken in brokered locations"
Related to PR: #23316

Setting attributes twice on a file in a brokered location under UAP doesn't work. Issue is understood, need a new drop of FileApiInterop to fix.

[2017-08-21 18:41] weshaggard commented on #21689
If all you are after is an updated Microsoft.CSharp library (not sure if that is all that is needed as I'm sure about this full issue), you can get it from our dotnet-core feed https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.CSharp/4.5.0-preview2-25621-02.

[2017-08-21 18:44] tijoytom commented on #23432
@safern Can you please disable this test for UAPAOT , this need to run inside the app-container. it's the now familiar "The process has no package identity"

[2017-08-21 18:46] safern commented on #23432
@tijoytom yes I will update that.

[2017-08-21 18:50] danmosemsft commented on #23425
For what it's worth, dotnet-maestro-bot/master-UpdateDependencies branch currently gives

  CSC : warning CS1504: Source file 'c:\git\corefx\Microsoft.XmlSerializer.Generator.Tests.XmlSerializers.cs' could not
 be opened ('The system cannot find the file specified. ') [C:\git\corefx\src\Microsoft.XmlSerializer.Generator\tests\M

even though it HAS got the change https://github.com/dotnet/corefx/pu

[2017-08-21 19:05] shmao commented on #23425
The warning you mention above is as expected with  https://github.com/dotnet/corefx/pull/23400/files, which turned the original error into the warning above.

With that said, I'm fine with disabling all the sgen tests for now. What would be the easiest wasy of disabling all the tests on all configurations? @danmosemsft

[2017-08-21 19:06] danmosemsft commented on #23425
I think if you rename the test .csproj to .csproj.disabled or suchlike, it won't find it when it globs for test projects.

[2017-08-21 19:10] shmao commented on #23425
Sounds good. I'll try that.

[2017-08-21 19:14] danmosemsft commented on #23427
@wfurt you looked at this last .. maybe the fix didn't get into this branch

[2017-08-21 19:21] adityamandaleeka commented on #22385
Fixed in master and uwp6.0. Closing issue.

[2017-08-21 19:21] #22385 closed

[2017-08-21 19:24] jimcarley commented on #2949
Support of distributed transactions requires a distributed transaction coordinator on the platform where you are running. For Windows we obviously have MSDTC. But we need to make modifications to the classes and interfaces to allow an alternative distributed transaction coordinator to be "plugged in" and used. Those changes still need to be designed. The idea would be to modify the existing intern

[2017-08-21 19:38] ericstj commented on #23439
This looks like a BadImageFormatException when reading `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\ref\System.Data.Common.dll`.  Can you double check that the file is not corrupt?  You can run `signtool verify /pa "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensio

[2017-08-21 19:46] eerhardt commented on #18012
I don't think it is the plan to have CoreFX depend on Mono.Posix.NETStandard, at least it was never my intention.  Mono.Posix.NETStandard is intended for code outside of the BCL that needs to call POSIX APIs.  For code inside of the BCL, we have our own set of "shim" libraries (`System.Native`, `System.Net.Http.Native`, `System.IO.Compression.Native`, etc.) when we need to call into native librari

[2017-08-21 19:47] wfurt commented on #23427
That looks like a environmental problem.
The test failed with:

System.Net.Sockets.SocketException : Too many open files in system

[2017-08-21 19:55] #23282 closed

[2017-08-21 20:08] danmosemsft commented on #23427
My bad, it was @pjanotti .. and I was thinking of these.

https://github.com/dotnet/corefx/pull/22124
https://github.com/dotnet/corefx/issues/21892

[2017-08-21 20:10] #23425 closed

[2017-08-21 20:15] wfurt commented on #23427
Just a note that the message is slightly different. The original was
System.IO.IOException : Too many open files

that is limit per user/process/process group.

The system limit is across all users/processes. I do believe you would have to have admin rights on the machine in order to change that.

vs.

System.Net.Sockets.SocketException : Too many open files in system

The system limit can be reac

[2017-08-21 20:17] danmosemsft commented on #23438
@tzachshabtay thanks for the suggestion. Can you update your comment to be more like the format linked to from https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md ?

[2017-08-21 20:18] danmosemsft commented on #23419
@aobatact if you want to proceed could you please update your top comment to be more like the format in the example linked to by https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2017-08-21 20:23] danmosemsft commented on #23328
@nchikanov can you fix these too? I'l lfind something else also.

[2017-08-21 20:27] danmosemsft commented on #23415
@Cisien this probably isn't the info you want to hear, but you see it's a tradeoff- even where we had serialization implemented in earlier builds of .NET Core 2.0 , it wasn't all working (and as you know it wasn't in 1.x at all).

If a type (even DirectoryInfo) that we don't serialize was heavily binary serialized in the .NET Framework world, and we get lots of feedback about that, we would certai

[2017-08-21 20:28] danmosemsft commented on #12456
@weshaggard we have these on AppDomain now, right? So this can be closed?

[2017-08-21 20:30] safern commented on #23434
@tijoytom looks like the winmd has to be updated again. Could you please help doing that?

[2017-08-21 20:30] safern commented on #23434
This are just failing in master.

[2017-08-21 20:34] tannergooding opened #23448 "Update documentation for `System.Numerics.Vector<T>` to be more explicit."
This was raised in the dotnet/corefx gitter channel.

It is not currently clear from the documentation that the types exposed by the `System.Numerics.Vectors` assembly are not meant for general purpose `Vector` operations and that the types are heavily tied to the underlying hardware.

The documentation for this could be greatly improved.

Some types, such as `Vector<T>` should have explicit (and

[2017-08-21 20:35] danmosemsft commented on #23066
done.

[2017-08-21 20:35] #23066 closed

[2017-08-21 20:36] danmosemsft commented on #23033
@ndykman I don't this one is going to be an acceptable breaking change (or useful enough) unfortuntaely. Thanks for the suggestion, though. Others are welcome!

[2017-08-21 20:36] #23033 closed

[2017-08-21 20:36] danmosemsft commented on #23003
done

[2017-08-21 20:36] #23003 closed

[2017-08-21 20:36] weshaggard commented on #12456
Yes these are done.

[2017-08-21 20:36] #12456 closed

[2017-08-21 20:38] danmosemsft commented on #22747
@nchikanov quick fix hopefully.

[2017-08-21 20:39] danmosemsft commented on #22723
Seems fixed by above, @KostaVlev ?

[2017-08-21 20:39] #22723 closed

[2017-08-21 20:39] danmosemsft commented on #22747
eh, fixed already by https://github.com/dotnet/corefx/pull/22941/files

[2017-08-21 20:39] #22747 closed

[2017-08-21 20:41] danmosemsft commented on #22634
Now it fails
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170821.03/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Tests.IconTests~2FToBitmap_PngIconNotSupportedInSwitches_ThrowsArgumentOutOfRangeException
[code]

[2017-08-21 20:44] wfurt commented on #23381
few articles for reference

https://askubuntu.com/questions/875102/gnome-terminal-use-bright-colors-for-bold
https://en.wikipedia.org/wiki/ANSI_escape_code
https://superuser.com/questions/736873/enable-256-colors-for-cygwin-under-mintty

There seems to be general debate if bold/bright shall be used as extra colors.
This can perhaps be applied only in cases when terminal supports 8 color (or less)

[2017-08-21 20:54] ericstj commented on #23439
That doesn't seem to be it.  I'm reproducing it now on other assemblies.  Looking into it.

[2017-08-21 21:07] danmosemsft commented on #22630
If this font isn't installed I guess we need another that is GenericFontFamilies.SansSerif

[2017-08-21 21:09] ericstj commented on #23439
The problem here is that the workflow XAML compiler is loading reference assemblies for execution.  Its similar to https://github.com/dotnet/corefx/issues/23229.

The offending method is Microsoft.Activities.Build.Utilities.GetLocalAssembly(string).  This ends up loading the reference from the target framework for execution in the build process.

[2017-08-21 21:11] erikbra commented on #23344
I seem to have the exact same problem without targeting Netstandard at all, but using SDK-style projects for pure net461 solution. So it looks like the error is not dependent on netstandard being part of the mix (I might of course be wrong, please tell me if I can provide anything to help identify the issue).

[2017-08-21 21:14] aliostad commented on #23448
Thank you!

[2017-08-21 21:14] stephentoub commented on #22403
The implementation of the parsing side of this is complete.  The formatting side still need to be done, and would benefit from corert's managed formatting implementation being ported to coreclr, where the formatting is currently done in native code in the runtime.

[2017-08-21 21:17] ericstj commented on #23439
Workaround is the following, note that this relies on *private* MSBuild item names and could be broken in the future.  Note that this requires both a workaround for the xaml compiler and the workaround from #23229 since the workflow compiler is emitting a static set of reference filenames into a generated file and trying to load them at runtime.
[code]

[2017-08-21 21:26] ericstj commented on #23439
Moved this to SDK: https://github.com/dotnet/sdk/issues/1522

[2017-08-21 21:26] #23439 closed

[2017-08-21 21:29] tzachshabtay commented on #23438
@danmosemsft, done.

[2017-08-21 21:31] ianhays commented on #23419
personally I'm with @mikedn on using the lamdba expression. I'm curious how many people would actually a new `ReverseComparer` class when they could just pass the lambda instead. IMO it would have to be a lot of people to justify the new API.

[2017-08-21 21:39] ianhays commented on #23385
This is an interesting proposal. I've coded up something like these a few times before and I'm sure many others have, but I wonder whether it may be too much specific of a function to put into the core collection Dictionary. It would probably make more sense as a part of PowerCollections or as an extension method in a separate package with other specialized functions. That way you could also more

[2017-08-21 21:40] Jimmy062006 opened #23449 "PrivateMemorySize64"
Writing code in Dotcore 2.0 and trying to use ```Process.GetCurrentProcess().PrivateMemorySize64``` on Linux will yield 0 as a result where by Windows OS's return the expected results.

Is this intended ?

[2017-08-21 21:48] danmosemsft commented on #22482
this is done

[2017-08-21 21:48] #22482 closed

[2017-08-21 21:53] TAGC commented on #23449
This issue can be reproduced in microsoft/dotnet:2.0-sdk:

[code]

[code]

**Output**

[code]

[2017-08-21 21:53] corivera commented on #13422
Fixed this issue in the 4.4.1 SqlClient package by updating its netstandard1.3 package version to 4.3.1.

[2017-08-21 21:53] #13422 closed

[2017-08-21 21:55] danmosemsft commented on #21613
This is in .NET Core 2.0.

[2017-08-21 21:55] #21613 closed

[2017-08-21 21:56] danmosemsft commented on #21358
@JeremyKuhne does any work remain here, after the above changes?

[2017-08-21 21:57] danmosemsft commented on #21197
@robertmclaws is this resolved for you in final bits? if so we should be able to close this.

[2017-08-21 22:00] danmosemsft commented on #20942
@joperezr are you hitting these? you didn't mention you were -- in which case I guess we can close this?

[2017-08-21 22:06] danmosemsft commented on #12644
@MaggieTsang @niustephanie @nchikanov this is up for grabs, if one of you would like to take it, please assign to yourself.

[2017-08-21 22:08] TheBlackCentipede commented on #23449
<https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.cs#L484> - Process class, check the PrivateMemorySize64 property

<https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs#L110> Is linux implementation of ProcessManager aka what create the ProcessInfo and it literally assig

[2017-08-21 22:09] danmosemsft commented on #5377
@MaggieTsang @niustephanie @nchikanov this is up for grabs, if one of you would like to take it, please assign to yourself.

[2017-08-21 22:14] danmosemsft commented on #23438
@ianhays, @safern are [area owners ](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md) and can give feedback, or set to ready for review, as they think best.

[2017-08-21 22:24] JeremyKuhne commented on #21358
Closing and marking the relevant PR as port consider.

[2017-08-21 22:24] #21358 closed

[2017-08-21 22:26] JimSEOW commented on #23355
@joshfree Just installed15.3.1. Is there a Nuget Source where I could have access to the preview version of UWP6.0? Hope UWP6.0 will be released on time end of this month.

[2017-08-21 22:30] lajones commented on #22986
@weitzhandler Sorry for the delay. Your concerns are valid and apply to any change to `DataAnnotations` attributes. There may be any number of frameworks out there relying on the current behavior of any one of these attributes - which is why a high priority is to keep the current functionality of the attributes the same.

We can't speak for all such frameworks of course. Re EF, we do not use valid

[2017-08-21 22:36] joshfree commented on #23355
@JimSEOW I'll update you on this issue once it's available through the Visual Studio Preview channel.

[2017-08-21 22:38] danmosemsft commented on #23449
It seems to me the code could be improved to do as it says, at least fill it in for the current process. @Jimmy062006 was that what you needed it for?

[2017-08-21 22:41] krwq commented on #23343
Ok, I've had a successful local repro. Current status:

I've done some manual searches to see if I can find something obvious but was unlucky.

I've generated Qil (intermediate step to compiled xsl) through private reflection on both full framework and .NET Core (which unfortunately was missing code for debugging this but was able to port it quickly) and not seeing a difference on them which means

[2017-08-21 22:43] brianrob opened #23455 "DiagnosticSource Needs Documentation"
As @NickCraver points out in #18114, we need documentation that describes how DiagnosticSource is supposed to work from event production to consumption.  Further, this documentation should describe from a user's perspective what is required and expected.

[2017-08-21 22:46] danmosemsft commented on #23448
I think this issue probably should be in https://github.com/dotnet/docs.

[2017-08-21 22:54] TheBlackCentipede commented on #23449
Think this should be have at least a similar implementation on how Mono Runtime does it? It's basically reading from "/proc/{pid}/status" file.

[2017-08-21 22:58] danmosemsft commented on #23449
@stephentoub may be able to remember why he didn't do that.

[2017-08-21 22:59] danmosemsft commented on #23455
If this is for docs.dot.net the issue should be in https://github.com/dotnet/docs I think

[2017-08-21 23:00] brianrob commented on #23455
It's not yet clear where this documentation should live, but should we determine it to be docs.dot.net, I can move it.

[2017-08-21 23:02] stephentoub commented on #23449
This code reads from procfs. Which value maps to what's needed here?

[2017-08-21 23:06] joperezr commented on #22271
I'll take care of it by tomorrow EOD. Sorry for the delay.

[2017-08-21 23:10] TheBlackCentipede commented on #23449
According to Mono Runtime, it seems "VmData" is mapped to PrivateMemorySize64 as shown here: https://github.com/mono/mono/blob/master/mono/utils/mono-proclib.c#L633

[2017-08-21 23:10] dougbu commented on #22986
MVC discovers and executes `IValidationAttribute`s and other validation-related annotations automatically. The attributes can (mostly-statically) be added using `IValidationMetadataProvider`. Or, users can implement `IValidatableObject` in their model types and (dynamically) choose what properties get validated in those implementations.

I suspect MVC would pick up `ValidationAttribute` and `IVali

[2017-08-21 23:12] caozhiyuan commented on #23416
@karelz https://github.com/caozhiyuan/DotNetty/tree/dev/examples/SocketAsyncClient
https://github.com/caozhiyuan/DotNetty/tree/dev/examples/SocketAsyncServer

[2017-08-21 23:26] stephentoub commented on #23449
Doesn't VmData include shared pages?

[2017-08-21 23:35] TheBlackCentipede commented on #23449
http://ewx.livejournal.com/579283.html - VmData is calculated as the total address space usage (i.e. VmSize) with shared and stack pages subtracted.

And according to Proc.txt in Linux Repo in Github, it is mentioned that it is a private data segment:
https://github.com/torvalds/linux/blob/master/Documentation/filesystems/proc.txt#L248

[2017-08-21 23:41] stephentoub commented on #23449
Is it the right value then if stack is excluded? Is stack not included in PrivateMemorySize on Windows?

[2017-08-21 23:43] stephentoub commented on #23449
(Regardless, if the right values are available, it'd make sense to use that data to better populate the info object... though I think I'd want to see statm parsed rather than status.)

[2017-08-21 23:49] Priya91 commented on #23177
Status: I have a prototype for Unix, but the alpn apis are supported only from openssl 1.0.2 version. Currently working on patching my machine to have this version to get my implementation to build.

[2017-08-21 23:51] #22607 closed

[2017-08-22 00:01] weitzhandler commented on #22986
Thanks for your response, @lajones!

The difference between EF and some other frameworks that might rely on the annotation validation attributes (e.g. MVC), is that EF relies on the attribute **type**, rather than on the actual validation result, we're not going to have a problem with MVC if we expand `ValidationAttribute` to include conditional validation, because down the line, MVC is going to a

[2017-08-22 00:04] stephentoub commented on #23381
Yeah, that's why we only consider the color count. But I think it'd be reasonable to augment the code to also consider bold for foreground in the case of 8 colors and bold supported.

[2017-08-22 00:05] TheBlackCentipede commented on #23449
From what I gathered, stack is excluded from this calculation for VmData. I'm not sure on the other question.

[2017-08-22 00:06] jdemate opened #23456 "Why block computers objects from changing thier password?"
https://github.com/dotnet/corefx/blob/8769745f6bd85d9ca7d8f5c7270cbe457dd25c79/src/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/AD/ADStoreCtx.cs#L933-L937

I'm writing code that will trigger linux computers to rotate their password every 30 days and am hitting this exception.  Can someone tell me why computer objects would be denied the right to call Ch

[2017-08-22 00:09] jbtule commented on #21689
Thanks @weshaggard, while indeed that version of the nuget package, does contain the fix for other platforms (decompiled it to verify), it's a no-op for netcoreapp 2.0  :expressionless:

[2017-08-22 00:14] weitzhandler commented on #22986
Thanks for your response, @lajones!

The difference between EF (and/or others?) and some other frameworks that might rely on the annotation validation attributes (e.g. MVC), is that EF relies on the attribute **type**, rather than on the actual validation result.
With MVC, we're not going to have any problem to expand `ValidationAttribute` to include conditional validation, because down the line,

[2017-08-22 00:18] Drawaes commented on #23177
What version is the "min" for .net core these days? (Excluding macos)

[2017-08-22 00:21] jbtule commented on #21689
https://ci.appveyor.com/project/jbtule/dynamickeywordcomplextypesbugcore2-0/build/1.0.3

[2017-08-22 00:59] Priya91 commented on #16201
You can either do,

1. Use env variable SSL_DIR to an empty dir without certs, in which case the nss initialization will not use the default location of /etc/pki/nssdb [here](https://github.com/curl/curl/blob/a40f58d/lib/nss.c#L908), which may contain out of date certs resulting in CURLE_SSL_CACERT_BADFILE, which is the workaround that was used to unblock CI.

2. Use custom curl install built with

[2017-08-22 01:58] ahsonkhan commented on #23430
How can I get a repro for the test failure? Is it intermittent? There hasn't really been any code changes in the test/API implementation (https://github.com/dotnet/corefx/commits/master/src/System.Memory) so it is difficult for me to find the root cause without a way to reproduce the failure.

@AtsushiKan, any ideas of what could cause this intermittent failure in this test? I would image that eac

[2017-08-22 02:00] Jiayili1 commented on #23327
Now it is failing:
The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/AllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection(statusCode: 301, oldMethod: \"HEAD\", newMethod: \"HEAD\")` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The server returned an invalid or unrecognized response

[2017-08-22 02:13] Kryptos-FR commented on #14235
I have an issue with a project library that is compiled to different platform depending on the configuration chosen.

On .Net app (e.g. Desktop), I added the NuGet package for ValueTuple and thus it also added a reference in the .csproj. It compiles fine. But when I switch to Android, then it fails to compile with

I can't remove the reference because then it will fail on other platforms.

Wasn't

[2017-08-22 02:32] morganbr commented on #14354
@gimpf, that's a fantastic start! I took a look at the code and results and I have a few questions.
1. Your results show SimpleMultiplyAdd as about 5x slower than @tannergooding's Murmur3a. That seems odd since Murmur has more work to do than multiply+add (though I'll concede that rotate is a faster operation than add). Is it possible that your implementations have a common inefficiency that isn't

[2017-08-22 03:20] dougbu commented on #22986
@weitzhandler with the framework calling `GetValidationResult(object, ValidationContext)` already, what might need to change in MVC?

That said, **client-side** validation in MVC would likely get _very_ confused by conditional `ValidationAttribute`s. MVC would probably skip generating the relevant HTML for a `ValidationAttribute` that "looks" conditional i.e. conditional attributes would only be v

[2017-08-22 03:40] #23057 closed

[2017-08-22 03:56] weitzhandler commented on #22986
@dougbu [`GetValidationResult`](https://source.dot.net/#System.ComponentModel.Annotations/System/ComponentModel/DataAnnotations/ValidationAttribute.cs,426) internally calls `IsValid`, so from MVCs nothing is supposed to change in the server.
Anyway, you're right about the client-side code, since - like EF does - rely on the attribute **type** to generate appropriate JS without actually triggering

[2017-08-22 04:19] danmosemsft commented on #22663
This is now fixed in master. We decided not to rush into servicing.

[2017-08-22 04:19] #22663 closed

[2017-08-22 04:27] danmosemsft commented on #22292
@ianhays you may have been out when tihs came in. Thoughts? can you give feedback or flip to ready for review, as appropriate

[2017-08-22 04:28] danmosemsft commented on #21829
@brianrob can you please give feedback? is this an addition would you would support? if so please add api-ready-for-review label.

[2017-08-22 04:29] danmosemsft commented on #19889
I'm going to close based on the feedback above. Feel free to reactivate if you want to continue the discussion.

[2017-08-22 04:29] #19889 closed

[2017-08-22 04:31] danmosemsft commented on #19450
@Sire did you want to recast the proposal per the example linked to in the api review process above? if so we can take it to review, and if approved, get it implemented.
ping @ me if you have questions.

[2017-08-22 04:33] danmosemsft commented on #18756
@Priya91 is tihs ready for review, as you have stated it at the top (` long RawId`) ?

if so please add api-ready-for-review label.

[2017-08-22 04:35] danmosemsft commented on #15708
@akcorp2003 going through old issues -- any interest in writing up a proposal (update top comment) like the example linked to in the review process linked above?

[2017-08-22 04:36] weitzhandler opened #23460 "Enable Validation of entire graph"
Please implement a way to validate an entire graph of object, so validating the root object will walk throughout the entire object graph and validate all subsequent children and their properties:

[code]

Usage:

    Validator.TryValidateObject(company, ...);

The validation should walk thru the whole graph and validate both `Name` properties and the `Street` property.

[2017-08-22 04:37] danmosemsft commented on #18922
@JeremyKuhne this is an IO area we might want to invest in..

[2017-08-22 04:39] danmosemsft commented on #15173
@Priya91 I  believe you own Regexes. Do you consider tihs ready for api review? if so please flip labels.

[2017-08-22 04:40] weitzhandler opened #23461 "Enable MinLengthAttribute and MaxLengthAttribute in more collection types."
Please implement a `ValidationAttribute` that validates that a collection-typed property has any elements.
Maybe expand the `RangeAttribute` functionality to work with collection?

[code]

[2017-08-22 04:58] akcorp2003 commented on #15708
@danmosemsft I totally forgot that I made this issue! Yeah! I have interest in writing something up. I've never contributed to a significant open source project before. So is the process for me to fork this repo, build it, write my changes, and submit a pull request? I've taken a look at the API Review process so I kinda know what to expect.

[2017-08-22 05:19] JimSEOW commented on #23355
@joshfree Thank you, The combination of Xamarin Forms 3.0  (embedding) using .NET standard 2.0 (with hopefully soon XAML standard) and UWP6.0 is critical for our corporate customers. Great jobs to the team advancing UWP6.0 and beyond.

[2017-08-22 05:22] danmosemsft commented on #15708
@akcorp2003 we have a formal process (once we have an API we have to support it for X years so we have to think it through) which is basically what is in the markdown document linked above. So the first thing is to tidy up the proposal to be roughly like this example https://github.com/dotnet/corefx/issues/271
When you've done that, area owner will give you feedback. If they think it is worth addi

[2017-08-22 05:23] JimSEOW commented on #23355
@joshfree  Where can I find the diff between .NET standard 2.X and 2.0? I would like to vote for more System.Drawing.Drawing and System.Drawing.Drawing2D to go into .NET standard 2.X.

[2017-08-22 05:39] akcorp2003 commented on #15708
@danmosemsft Great! I should be able to write something up then in a week or so. Thanks for outlining the process!

[2017-08-22 05:49] danmosemsft commented on #23436
@weshaggard ?

[2017-08-22 05:56] ThuCommix commented on #23343
Is BadImageFormat Not something with x86/x64 Problems?

[2017-08-22 06:01] leastprivilege commented on #8688
So the x-plat problem still exists in netstandard 2.0

RSA.Create will create a 1k key on .NET Framework 4.6.1 and a 2k key on .NET Core 2.

Is there a workaround for that that doesn't involve multi-targeting our library (because of 1 API)? Am I missing something?

[2017-08-22 06:12] Jiayili1 commented on #19701
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170822.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FUseCallback_NotSecureConnection_CallbackNotCalled

[2017-08-22 06:33] Jiayili1 commented on #23364
Failed again, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170822.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveSyncForceNonBlocking~2FSendRecv_Stream_TCP_AlternateBufferAndBufferList(listenAt:%20::1)

The test `System.Net.Sockets.Tests.SendReceiveSyncForceNonBlocking/SendR

[2017-08-22 06:39] Jiayili1 commented on #14673
it is now failing:
The test `System.Net.Sockets.Tests.SendReceiveSync/SendRecvPollSync_TcpListener_Socket(listenAt: 127.0.0.1, pollBeforeOperation: False)` has failed.

System.AggregateException : One or more errors occurred. (Read poll after completion should have succeeded\r
    Expected: True\r
    Actual:   False)\r
    ---- Read poll after completion should have succeeded\r
    Expected: True

[2017-08-22 07:55] Jiayili1 commented on #23102
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_debug/147/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticSourceUrlFilteredActivityLogging/

[2017-08-22 08:35] geoffkizer opened #23463 "IPEndPoint should have Parse/TryParse methods"
IPAddress has this, but not IPEndPoint.

[2017-08-22 09:07] Jiayili1 commented on #22956
This test failed with same issue: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/148/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandlerTest/PostAsync_RedirectWith307_LargePayload/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-08-22 10:08] LiisiMotsharg opened #23464 "oft analysisservice in netcore2.0"

[2017-08-22 10:08] #23464 closed

[2017-08-22 10:11] tanelhiob commented on #23464
Yes, please implement it

[2017-08-22 10:11] MRoodi commented on #23464
Did you find a way to?

[2017-08-22 10:11] AMerkuri commented on #23464
I have same problem too

[2017-08-22 10:22] stephentoub commented on #23463
What would it parse specifically? Anything in the exact format it renders in ToString?

[2017-08-22 11:35] ohadschn commented on #495
I think the wording could be better.

The description says:

The remarks section says 👍

However IMHO it's not completely clear that two empty cancellation token are guaranteed to be equal.

[2017-08-22 12:13] aurocoin commented on #14724
Any track on this yet with 2.0 ?

[2017-08-22 12:14] RehanSaeed commented on #10920
I've been trying the following connection strings which work on my local Windows machine but fail

[2017-08-22 12:17] jmacnett commented on #16201
For what it's worth, the only way we found to 100% eliminate this issue was to throw a lock around the web call in c#, although we also had success with a retry-on-fail try-catch block.

[2017-08-22 12:42] tmds commented on #16201
Red Hat's build of .NET Core comes with a newer version of libcurl. This doesn't replace the system version (for which they are strong API/ABI garantees).
For CentOS we need the same. @Priya91 listed the available options until there is a CentOS build available.

[2017-08-22 13:26] bartonjs commented on #8688
@leastprivilege

[code]

Or

[code]

Though the latter is harmful to code that does blind casting.

[2017-08-22 13:41] dazinator commented on #14724
I assume you can never unload the default / top level `AssemblyLoadContext` is that correct? i.e similar to AppDomains?

It seems to me like the use case for a disposable / collectable `ALC` warrants a seperate class:

`DisposableAssemblyLoadContext` : IDisposable
`AssemblyLoadContext`

You can never upgrade a non collectable ALC to a collectable one, and a non collectable ALC can never be collect

[2017-08-22 14:00] AtsushiKan commented on #23430
Might be worth instrumenting the test to log what the actual compareNumber was. (0 or greater than 1?)

[2017-08-22 14:19] dazinator commented on #14724
On a sidenote, with respect to:

One simple way around that, when Disposing, if `Unloadable` is `false` - then don't call `Unload`.

[2017-08-22 14:34] fernandoresalves opened #23468 "Name not legible IsSuccessStatusCode in HttpResponseMessage"
I believe that the attribute IsSuccessStatusCode could be more intuitive.

[2017-08-22 14:38] davidfowl commented on #23468
What are you suggesting? The name can't be changed because that would be massively breaking for little gain.

[2017-08-22 14:49] fernandoresalves commented on #23468
My suggestion and successStatus.

[2017-08-22 14:54] cpaul06 opened #23469 "Exception in Directory.CreateDirectory when folder name ends with whitespace"
I'm getting inconsistent results when calling Directory.CreateDirectory in a .NETCoreApp 1.0 and 2.0 compared to .NETFramework 4.6.2.

If the folder ends with a whitespace but doesn't contain any whitespaces in the name:
`Directory.CreateDirectory("c:\work\CreateDirectory\folder \inner")
Directory.CreateDirectory("c:\work\CreateDirectory\ folder \inner")`
will throw an exception:
at System.IO.Win3

[2017-08-22 14:56] NicolasDorier opened #23470 "The throw keyword shows the wrong thrown exception line"
Using .NETCore2.0, Win10, it seems the `throw` keywor

Using the `throw` keyword loose all the initial stacktrace information.
You can workaround with `ExceptionDispatchInfo.Capture(ex).Throw();`, but this seems like a bug to me.

[code]
Actual output: (Exception line 28)

[code]

Expected output: (Exception line 24)

[code]

Workaround using `ExceptionDispatchInfo.Capture(ex).Throw();`:

[code]

[2017-08-22 14:57] jkotas commented on #23405
@VSadov I think we should port the fix to 2.0.x servicing release.

[2017-08-22 15:43] leastprivilege commented on #8688
Thanks - but where do I find `RSACng` ?

According to this
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rsacng?view=netstandard-2.0

It is not supported by netstandard2 libs.

[2017-08-22 15:47] leastprivilege commented on #8688
nevermind - I think I found it.

[2017-08-22 15:48] davidsh commented on #23468
Thank you for your suggestion. Unfortunately, this would be a large break in app-compat for the API.

Feel free to contribute your ideas, though, as part of future planning for revisions to networking APIs:
https://github.com/dotnet/designs

[2017-08-22 15:48] #23468 closed

[2017-08-22 15:49] davidsh commented on #23441
This on linux.  Assigning to @Priya91

[2017-08-22 15:51] davidsh commented on #23426
BindIPEndPoint delegate was never part of HttpClient.  But it was part of HttpWebRequest on .NET Framework.

This is not supported on .NET Core.

[2017-08-22 15:52] #23422 closed

[2017-08-22 16:01] Clockwork-Muse commented on #23470
... this is the behavior of the standard framework, too, though (And I'm on Win7 at the moment).  I'd consider this (mostly) expected behavior.

It might be better to restate this as a request along the lines of:

[2017-08-22 16:04] leastprivilege commented on #8688
Thanks! It is working!

[2017-08-22 16:08] danmosemsft commented on #23470
I see the same behavior in desktop back to 2.0. Which isn't to say ideally it would be improved.

[2017-08-22 16:09] danmosemsft commented on #23469
@nchikanov maybe this is something you'd be interested to investigate.

[2017-08-22 16:11] danmosemsft commented on #23388
same in System.ServiceProcess.Tests.ServiceControllerTests/ConstructWithServiceName_ToUpper

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170822.02/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.ServiceControllerTests~2FConstructWithServiceName_ToUpper

[code]

something i

[2017-08-22 16:13] joperezr commented on #23355
we haven't finilized defining anything above 2.0 yet that I'm aware, but the right place to make suggestion like that would be on https://github.com/dotnet/standard. cc: @mellinoe who owns System.Drawing.

[2017-08-22 16:16] lviana1 commented on #23422
Are you saying that this is by design in .NET Core, but NOT in the full .NET Framework? As I mentioned above, the exact same code has always worked just fine when targeted against the full .NET Framework, so if this is by design in .NET Core and NOT in the full .NET Framework that seems inconsistent...

[2017-08-22 16:18] danmosemsft commented on #21720
BTW @ViktorHofer maybe improve ValidateAgainstBlobs to log the decoded blobs .. would be easier since I don't thikn we've seen the last of ValidateAgainstBlobs...

[2017-08-22 16:23] davidsh commented on #23422
Yes, this is by-design in .NET Core.  This is a security-related change to prevent HTTPS -> HTTP redirection which is inherently insecure.  For apps that need to follow those redirections, you can turn off automatic redirection in the handler and follow the Location: response header manually.

[2017-08-22 16:28] weshaggard commented on #23436
` v4.6.24705.1` is the file version not the assembly version. I would need more information about what you are targeting to help with the error. ARe you targeting .NET Core 1.1 or .NET Core 2.0?

[2017-08-22 16:44] stephentoub opened #23471 "Remove Span(T[], int) ctor"
Span currently has these ctors with two parameters:
- `public Span(T[], int)`
- `public Span(void*, int)`
- `internal Span(ref T, int)` (currently internal, but potentially public in the future)

The usability issue is that the int parameter doesn't always mean the same thing: for the `void*` and `ref` ctors, it means length, but for the `T[]` ctor, it means offset.  This leads to subtle bugs when

[2017-08-22 16:50] krwq commented on #23343
@ThuCommix I believe this can be x86/x64 but could also be invalid IL instructions being generated or anything which is unexpected in the compiled code. Considering that your testcase seems to be unique and other XSL tests are passing I believe there is likely some kind of bug which got introduced when porting XSL. My steps here were first to make sure the source of compilation is as expected - if

[2017-08-22 16:58] stephentoub opened #23473 "Some IO tests now fail with "The directory is not empty""
When running the System.IO.FileSystem tests locally, I sporadically hit the following error on Windows 10:
[code]

[2017-08-22 17:01] danmosemsft commented on #22953
@Jiayili1 has this test ever passed on desktop?

[2017-08-22 17:08] jdemate commented on #23456
I was able to work around this issue by using the DirectorySearcher class to invoke ChangePassword through an LDAP call.  The fact that Active Directory allows this operation and there are other methods like LDAP that can make the call, I see no reason to retain this If statement.

[2017-08-22 17:20] karelz commented on #23448
We need to propose wording changes in docs, then move it to docs repo.
Anyone interested?

[2017-08-22 17:41] endowdly commented on #23389
This is really depressing news. Looks like I'll have to upgrade my hardware!

Thanks for taking the time.

[2017-08-22 17:43] weitzhandler opened #23476 "Please introduce a reusable implementation of ILookup"
Hi,

The [`Lookup`](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Lookup.cs) class' constructor is `private`, and its `Create` methods are `internal`.
I'd like to request to make the `Create` methods in lookup public, and/or introduce a `public`/`protected` constructor to it, so we can benefit of having custom `Lookup` implementations.

Alternatively (preferable opti

[2017-08-22 17:44] krwq commented on #23343
@ThuCommix for now you can use `new XslCompiledTransform(false)` to unblock yourself (disabled debug mode) - it seems like it doesn't repro when it's disabled

[2017-08-22 17:54] narciero commented on #23426
Are there any plans to support a multi network card scenario in .NET Core?

On a windows machine with multiple NICs how does HttpClient choose which interface to use?

[2017-08-22 17:59] davidsh commented on #23426
cc: @stephentoub @karelz