[2018-04-27 09:09] TrevorFradsham commented on #29126
‎Will give it a try

Thanks
Trevor
From: Maryam Ariyan
Sent: Thursday, April 26, 2018 3:27 PM
To: dotnet/corefx
Reply To: dotnet/corefx
Cc: Fradsham, Trevor; Mention
Subject: Re: [dotnet/corefx] # in file directory name causes System.Configuration.ConfigurationManager not to discover appsetings for .net core 2.0 app (#29126)

@TrevorFradsham<https://github.com/TrevorFradsham> have you tried using

[2018-04-27 09:34] svick commented on #28933
[code]

Would it make sense to add overloads that accept `DateTimeOffset` instead of `DateTime`, to make these methods easier to use for people who have to care about time zones? In other words:

[code]

[2018-04-27 10:05] khellang commented on #28933
What would the implementation do with the additional information (the UTC offset)?

[2018-04-27 10:12] svick commented on #28933
@khellang

I think the same thing the `DateTime` overloads would do with `DateTimeKind` or `TimeOfDay`: ignore it.

[2018-04-27 10:14] khellang commented on #28933
Doesn't that boil down to the same problem with having to pass a `DateTime` if you're only interested in the `Year` property? It's easy enough to go from a `DateTimeOffset` to a `DateTime` if that's all you need, no?

[2018-04-27 10:25] svick commented on #28933
@khellang

It is. I was just wondering if making working with `DateTimeOffset` slightly more convenient would be worth it. This way, people are not discouraged to use `DateTimeOffset` when they should be using it.

[2018-04-27 10:31] khellang commented on #28933
I'm all for encouraging use of `DateTimeOffset` (when you need it), but in terms of consistency and number of overloads, I'm not sure it's worth it. Anyway, I don't have a strong opinion here. I'm sure the API reviewers will have some good arguments for or against.

[2018-04-27 11:05] kouvel commented on #24504
My guess is that it timed out waiting for the remote process to exit, this sort of timeout has happened before elsewhere, cause is unknown. It's not clear that's what happened here though, I'll update the timeouts so that we can get better stack traces in the future.

[2018-04-27 12:09] niemyjski opened #29368 "Directory.EnumerateFiles returns paths with extra path separators"
This was working in 2.0 and once we upgraded to 2.1 preview 2 tests started to fail.

I'm passing `"C:\\Code\\Exceptionless\\src\\Exceptionless.Web\\storage\\"` to EnumerateFiles and it's returning a path that contains two separators. Which is breaking behavior when I replace the path with the original folder to get the relative path (and getting a root path).

`C:\Code\Exceptionless\src\Exception

[2018-04-27 12:10] niemyjski commented on #29368
@karelz @JeremyKuhne this may be related to https://github.com/dotnet/corefx/issues/29368

[2018-04-27 13:26] gabeluci opened #29369 "PrincipalContext.ValidateCredentials(null, null) does not use credentials supplied in the contructor"
This came from a question on Stackoverflow: https://stackoverflow.com/questions/50055073/testing-a-principalcontext-using-validatecredentialsnull-null-behaves-une

The [documentation of `PrincipalContext.ValidateCredentials(String, String)`](https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices.accountmanagement.principalcontext.validatecredentials?view=netcore-2.0#System_DirectoryS

[2018-04-27 13:43] ericwj commented on #29343
I was surprised Kestrel didn't run into this. But then this is Unicode.

[2018-04-27 15:39] karelz commented on #29368
@JeremyKuhne @pjanotti I put it into 2.1 until proven otherwise ...
@niemyjski which issue did you want to reference? You linked this one (self-reference).

[2018-04-27 15:42] karelz commented on #29369
I wonder what is the behavior on .NET Framework? Is it same, or does it do what documentation says?

[2018-04-27 15:43] karelz commented on #29365
@ericstj @weshaggard do you know if it is on purpose this way, or an oversight?

[2018-04-27 15:45] TingluoHuang commented on #23847
@ViktorHofer the same issue also reported in Newtonsoft but got closed as by design. https://github.com/JamesNK/Newtonsoft.Json/issues/1517

[2018-04-27 15:49] karelz commented on #29362
This issue was moved to dotnet/core-setup#4088

[2018-04-27 15:49] #29362 closed

[2018-04-27 15:58] rainersigwald opened #29370 "macOS: killed processes report different exit code in 2.1-preview2"
[code]

[code]

The 2.0 behavior matches my shells and some searching: it's `SIGKILL` (9) + exited-due-to-signal (128).

This was discovered when we updated MSBuild to use the preview2 runtime for testing (worked around with https://github.com/Microsoft/msbuild/commit/a476aa57010878fe30a77960b1cf73deb92fe1db). The repro there is fairly complicated, since we don't use `Process.Kill()`, instead manu

[2018-04-27 16:27] tquerec commented on #29369
The documentation is incorrect.  If NULL as passed as username and password the credentials of the current process are validated.  .NET core and .NET framework behave the same.

[2018-04-27 17:34] tquerec commented on #29369
Opened PR with changes https://github.com/dotnet/dotnet-api-docs/pull/92

[2018-04-27 17:36] tarekgh commented on #28933
@ShawnSteele what is your suggestion here? just name it as "year" and not isoYear"?

[2018-04-27 17:36] ShawnSteele commented on #28933
@tarekgh - For DateTimeOffset, I think that's a fair item for consideration.  Folks may be interested in the ISO  2007-04-05T12:30-02:00 type format, which includes a timezone.  I'd strongly encourage interchange using UTC, but dates/times aren't always that well behaved :(

[2018-04-27 17:40] ShawnSteele commented on #28933
@tarekgh Yes, just "year".  The "IsoWeek" class provides sufficient context.  If people feel that "IsoWeek" is still ambiguous, then I'd suggest "IsoWeekFormat" or some such that makes it more explicit that this is all about the ISO 8601 Week Format.

There is no scenario where it makes sense to pass in a non-iso-week-format year along with an ISO week format week and iso week format day.

[2018-04-27 17:40] tarekgh commented on #28933
I don't think so. we are currently supporting DateTime.ToString("o") which gives the ISO format according to DateTime (and DateTimeOffset). I am not expecting to see Iso week format including the time zone info. does the standard support such format?

[2018-04-27 17:44] tarekgh commented on #28933
ok, based on the last discussion here is the proposal:

[code]

would that be reasonable for all of you?

[2018-04-27 17:47] svick commented on #29365
@ericstj

How am I supposed to learn about that? As far as I can tell, Reflection.Emit is not reported by platform-compat. And when I google "reflection emit .Net Standard", the only result on the first page talking about whether you should use it that way is [a tweet from July 2017](https://twitter.com/terrajobst/status/892060963720974336) by @terrajobst suggesting that you *should* do it (maybe

[2018-04-27 17:47] ShawnSteele commented on #28933
Why does the proposed API not include a day of week?

public static int GetDayOfWeek(DateTime time);

If I want to format a date in the ISO Week Format, this class provides the year part of the ISO week format "2018" and the week number "17", but there is no method to return the day of week "7" for this Sunday.

An analogy would be like a Gregorian date information class that provided the year, th

[2018-04-27 17:51] ShawnSteele commented on #28933
@tarekgh - yes, the standard supports that format.  https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations

"Either basic or extended formats may be used, but both date and time must use the same format. **The date expression may be calendar, week, or ordinal,** and must use a complete representation."

[2018-04-27 17:52] gabeluci commented on #29369
Thanks folks.

[2018-04-27 17:55] tmds commented on #29370
The implementation changed from using the `waitpid` system call to the `waitid` system call.

The exit code is determined here:

https://github.com/dotnet/corefx/blob/a2142d9998a5fa27d27b3e3da2c3b527be359b00/src/Native/Unix/System.Native/pal_process.cpp#L453-L483

For a signal we should hit:

https://github.com/dotnet/corefx/blob/a2142d9998a5fa27d27b3e3da2c3b527be359b00/src/Native/Unix/System.Nati

[2018-04-27 18:03] tarekgh commented on #28933
Gregorian calendar already has this. I am not really seeing why we need to do that? as I mentioned before, we can look at providing formatting options separately from this proposal. so no need to provide API like what you are proposing. people can still convert Sunday to 7 if they need to do so. Would be overkilling providing such API to do so.

I am not interpreting the paragraph you are talking

[2018-04-27 18:08] danmosemsft commented on #28856
@Anipik missed a test. I will fix this.

[2018-04-27 18:15] ShawnSteele commented on #28933
You have me confused by "representing the date" vs "formatting it".  **All** of the ISO Week Dates are representable by DateTimes and don't need this class.  The ISO Week Formats are primarily a convention for formatting Gregorian dates in a manner that is convenient for some businesses.

The contexts I am used to seeing these dates is in a "weeks for a project" or "day" timescale, however 2018-W1

[2018-04-27 18:18] tarekgh commented on #28933
could you please send me the link from the ISO standard allow that (I mean allowing format like 2018-W17-05T10:00:00+02:00)? I appreciate your help here.

[2018-04-27 18:28] danmosemsft commented on #29354
Environment.GetFolderPath behavior
https://github.com/dotnet/corefx/blob/5cbac95f5530695a31a43e7748a4561e3a2dd32d/src/System.Runtime.Extensions/src/System/Environment.Unix.cs#L72
matches docs `The path to the specified system special folder, if that folder physically exists on your computer; otherwise, an empty string ("").`

Fix is probably for GetDataDirectory()
https://github.com/dotnet/corefx/

[2018-04-27 18:34] ShawnSteele commented on #28933
I don’t think DateTimeOffset needs addressed right now.  We could use DateTime and see if people clamor for a DateTimeOffset.  If so, it could be added later.  I don’t think that should block this work.

I'm fine with the proposal you posted last.

[2018-04-27 18:36] tarekgh commented on #28933
Thanks @ShawnSteele

I am going to update the proposal at the top with the following:

[code]

And I'll remove the alternative design section as what we have here is much better proposal anyway.  Thanks all for your valuable feedback.

[2018-04-27 18:38] JeremyKuhne commented on #29323
We should consider surfacing that flag. How does the terminal experience compare to files that start with a period? (And how does it compare to Linux?) I presume the flag only impacts the UI?

[2018-04-27 18:44] MarcoRossignoli commented on #29354
@danmosemsft unfortunately not accessible right now :disappointed: .
In past i did some tests on remote mac borrowed in office...but i can't reach at the moment(unexpected).
If nobody grab this next days i can try install vs code and fix it(i got a repo copy on that mac to run cross tests), i work on win, linux thanks to corefx contrib experience...i'd like help also on mac(if i could use VM...aah

[2018-04-27 18:50] hgbloch commented on #29323
The main difference is that dotted folder or files are hidden by default in the terminal as well.
While finder hides both flagged folders and dotted folders by default.

In Linux on the other hand, dotted files\folders are hidden by default in terminal and on most of the Desktop Environments.

Our main problem is in the use case of mapping users folders and drives, for example Volumes is also an h

[2018-04-27 18:52] tarekgh commented on #29320
I believe this is Windows issue and not the framework issue. The framework doesn't create any files.

@axelandrejs could you please have someone look at that? here is the framework code:

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.WindowsRuntime/src/System/Resources/WindowsRuntimeResourceManager.cs#L401

[2018-04-27 19:24] NanoWar opened #29373 "[Port Request] Add MetadataTypeAttribute to System.ComponentModel.Annotations"
Hey everyone!
I'm currently working on a .NET standard lib and would like to use a specific attribute (MetadataTypeAttribute) that is not yet available in your (awesome) shim "System.ComponentModel.Annotations". Would it be possible to add it somehow?

I'm not sure if or how adding the attribute is done legalwise, so I will try to point to some directions. It's currently only available for .NET [1

[2018-04-27 19:39] mjsabby opened #29375 "Exception.ToString() throws an exception when it encounters a frame that requires opening a regular PDB"
I seem to recall this (or something close to this) was reported for .NET 2.0. I did a quick search on the repo, but didn't find a duplicate.

The callstack below is for code that called `ToString()` on an Exception. It fails on a frame where the method debug information is in a regular PDB.

I'm also interested in just fixing the whole conundrum of not being able to open a regular PDB on CoreCLR (

[2018-04-27 19:47] RussKeldorph opened #29376 "[arm32/Ubuntu] corefx test failures: System.Net.NetworkInformation.Functional.Tests, System.Net.Sockets.Tests"
_From @BruceForstall on April 24, 2018 17:30_

These tests:
[code]

have segmentation faults in the corefx test run, e.g.:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst_prtest/1/consoleText

_Copied from original issue: dotnet/coreclr#17753_

[2018-04-27 19:47] RussKeldorph commented on #29376
_From @BruceForstall on April 24, 2018 19:2_

When fixing this, update tests\arm\corefx_linux_test_exclusions.txt

[2018-04-27 19:47] RussKeldorph commented on #29376
_From @echesakovMSFT on April 27, 2018 17:57_

`System.Net.NetworkInformation.Functional.Tests` receives `SIGSEGV` when running test method `System.Net.NetworkInformation.Tests.NetworkInterfaceBasicTest.NetworkInterface_LoopbackInterfaceIndex_MatchesReceivedPackets`:

[code]

[2018-04-27 19:47] RussKeldorph commented on #29376
_From @echesakovMSFT on April 27, 2018 18:11_

`System.Net.Sockets.Tests` receives `SIGSEGV` when running test method `System.Net.Sockets.Tests.IPPacketInformationTest.GetHashCode_NonDefaultValue_Succes`:

[code]

[2018-04-27 19:47] RussKeldorph commented on #29376
_From @echesakovMSFT on April 27, 2018 18:13_

Also `System.Net.Sockets.Tests` hangs when running test method `System.Net.Sockets.Tests.NetworkStreamTest.ReadWrite_Memory_LargeWrite_Success`

 **Update**: it turned out this test takes 10m to complete:

[code]

[2018-04-27 19:48] RussKeldorph commented on #29376
@karelz We think there's a good chance this isn't a runtime issue.  Could you guys take a look?

[2018-04-27 19:51] RussKeldorph opened #29377 "System.Diagnostics.PerformanceCounter.Tests failure"
_From @BruceForstall on April 26, 2018 23:8_

arm32/Windows corefx test System.Diagnostics.PerformanceCounter.Tests fails:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/14/consoleText

[code]

_Copied from original issue: dotnet/coreclr#17799_

[2018-04-27 20:11] danmosemsft commented on #29354
@MarcoRossignoli no problem. What sort of issues would you like me to look out for for you?

@maryamariyan I believe you have Mac access. Not urgent.

[2018-04-27 20:13] khellang commented on #28933
That's perfect as far as I'm concerned, @tarekgh. Thanks!

[2018-04-27 20:14] weshaggard commented on #29015
Failed again:
https://mc.dot.net/#/user/weshaggard/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/0a57c665edbc4e243b69e85b6c7df5c3ef3d7a4c/workItem/System.Console.Tests/analysis/xunit/WindowAndCursorProps~2FTitle_Get_Windows

[2018-04-27 20:28] JeremyKuhne commented on #29323
I believe we should return the readonly flag on MacOS if the file begins with period or if the MacOS specific flag is set. I'm still undecided on what set should do. Set both? Set neither if one is set? Set one of the two?

@pjanotti, any thoughts?

[2018-04-27 20:29] ericstj commented on #29365
I’ll let @terrajobst respond to that, perhaps he was thinking about the nuget gaurdrails feature we had in 1.x and the 1.x packages.  With those we had jagged implementations and build time support for messaging that things aren’t supported. I’m not particularly leaning one way or the other here just explaining the way things are working at the moment.  I think if we can get sign off from folks on

[2018-04-27 20:30] stephentoub commented on #29343
With string slicing, it only affects cases where you're slicing into a number, as the parsing stops when it gets to something that couldn't be part of the number, e.g. before the fix, this:
[code]
outputs this:
[code]
and when slicing as part of parsing, you're generally not slicing in the middle of a number like the first case above.

[2018-04-27 20:36] danmosemsft commented on #29323
We don't ever prefix a dot for you so the two options are fiddle with write permissions (what we do right now on Unix) and set the magic Mac flag? My vote is both.

[2018-04-27 20:39] pjanotti commented on #29323
I agree with @danmosemsft: for macOS seems natural to  fiddle with write permissions and set the macOS flag (we got covered about the intention of the user).

[2018-04-27 20:40] danmosemsft commented on #29375
Seems like we should at least have a more helpful exception than "Read out of bounds" if we read a regular PDB.

[2018-04-27 20:41] svick commented on #29365
@ericstj

But here the package (with .Net Standard 1.x assets) does exist. I don't think you can just stop updating a package and assume people won't use it anymore. At the very least, you should have documentation explaining the situation.

[2018-04-27 20:49] karelz commented on #29376
@RussKeldorph is it 100% repro? Is the problem that it takes too long? Does it take too long only on arm32, or is it combo of arm32 + some JIT stress settings?

[2018-04-27 20:52] JeremyKuhne commented on #29323
Derp, my bad. I remembered incorrectly. We don't set hidden. So the answer is:

- On get, check the flag on MacOS if the period check fails (doesn't begin with)
- On set, if MacOS, add the flag if it doesn't start with a period or have the flag

Thoughts?

[2018-04-27 20:54] RussKeldorph commented on #29376
@karelz I believe the crashes are more of a concern than the timeouts.  I think they are 100%, but @echesakovMSFT can confirm.  There's no JitStress or GCStress involved.  These are running on ARM ubuntu14.04, so there could be an incompatibility between corefx and that OS version, but I don't have much to base that on.

[2018-04-27 20:56] keeratsingh commented on #29169
@JeremyKuhne
I was able to resolve the compilation errors by editing the csproj file and adding different implementations for non-windows platforms.
So the only questions left now is if there is a way to supply the Extended Attributes via CreateFile/CreateFile2.

[2018-04-27 20:56] pjanotti commented on #29323
I understood it to be "add the flag if it starts with a period or Hidden was specified"

[2018-04-27 21:00] JeremyKuhne commented on #29169
I think we're stuck with creating a `.win32.cs` and `.winrt.cs` for this for now. I'm not seeing options that are blessed by UWP. We can create an issue to track finding another way through.

[2018-04-27 21:02] weshaggard commented on #29365
The biggest trouble with System.Reflection.Emit is that we don't have a way to provide the library in a netstandard way because of TypeInfo (see https://github.com/dotnet/corefx/issues/14334). The existing package is targeting netstandard1.1 but it is a lie and will only work on .NET Framework and .NET Core because of the tight coupling we have. We hacked it to work by playing InternalsVisibleTo t

[2018-04-27 21:03] karelz commented on #29376
We didn't see the crashes in our arm32 runs - @safern did we run on Ubuntu14.04?

[2018-04-27 21:05] akoeplinger commented on #29365
What about unlisting the no longer updated packages on NuGet so it's clear they are not recommended?

[2018-04-27 21:10] keeratsingh opened #29379 "Supply the Extended Attributes via CreateFile/CreateFile2 instead of NTCreateFile"
For SqlFileStream to work we need acquire and supply two pieces of information:
- Path to the destination file: This can be acquired using PathName method, bear in mind this is not a UNC path to the physical file system on the server. The path is just a bogus path that has meaning only in the context of this transaction which SQL Server can use to map to the real file in the file system.
- Transac

[2018-04-27 21:12] keeratsingh commented on #29169
Created issue #29379 to track finding another way as suggested.
Closing this as the original issue was resolved.

[2018-04-27 21:12] #29169 closed

[2018-04-27 21:12] CliffordOzewell opened #29380 "macosx 10.13.4 corefx build errors"
Building in CLI
Here are my details for the environment:
dotnet: 2.2.100-preview1-008633
openssl: 1.0.2o_1
mono: JIT compiler version 5.8.1.0
cmake: version 3.11.1
xcode : 9.2

[code]

Any help would be greatly appreciated.

[EDIT] Fix log formatting by @karelz

[2018-04-27 21:12] jkotas commented on #29169
It should be `.Uap.cs`. This is not WinRT specific.

[2018-04-27 21:15] safern commented on #29376
Did you mean @joperezr? I don't know where we ran them on, don't know anything about the arm32 runs, just that Jose was working on them.

[2018-04-27 21:36] MarcoRossignoli commented on #29354
@danmosemsft i don't have specific taste at the moment. For now i enjoied more with bug(like this) and new api(i've got a pair of PR waiting on new Span path api). But also working out of my confort zone(es. Linux/Mac, i work on win) stimulates me...i work with .net since 1.0 and now work on this codebase is amazing...i'm learning and growing a lot as dev. Thank's to all of you for this chance.

[2018-04-27 21:39] echesakovMSFT commented on #29376
@karelz Yes, it is 100% repro without any stress mode. Could be reproduced on Ubuntu/arm with a command similar to

[code]
This was done under a combination of Checked coreclr and Release corefx.
To build the testing environment I followed the way [what our CI does this](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_prtest/1/consoleText

[2018-04-27 21:39] krwq commented on #25449
Talked with @bartonjs offline and we will go with this:

[code]

[2018-04-27 21:45] huanwu opened #29381 "Area-Serialization Sprint 135"
The issue is for tracking issues to be done in sprint 134 (due by 5/18/2018)

[2018-04-27 21:46] weshaggard commented on #29365
That is a reasonable suggestion. I just unlisted all the versions of https://www.nuget.org/packages/System.Reflection.Emit/ and https://www.nuget.org/packages/System.Reflection.Emit.Lightweight

[2018-04-27 21:47] #28864 closed

[2018-04-27 21:47] bartonjs commented on #25449
@krwq AsnEncodedData has the oid as a property already (AsnEncodedData.Oid).

AddUnsignedAttribute(AsnEncodedData unsignedAttribute) and RemoveUnsignedAttribute(AsnEncodedData unsignedAttribute) should be sufficient.

And maybe Remove should return a bool indicating whether or not it removed anything.  (I'm not sure if we've landed on a consistent place for that or not across the framework)

[2018-04-27 21:48] #28113 closed

[2018-04-27 21:59] weshaggard opened #29382 "Remove ignored package references in pkg testing after move to 2.2"
Once we get the 2.2 version changes into core-setup and ingest the Microsoft.NETCore.App with those new versions then we can remove the following suppressions:

[code]

in https://github.com/dotnet/corefx/blob/master/pkg/test/frameworkSettings/netcoreapp2.2/settings.targets

[2018-04-27 22:03] ericstj commented on #29349
Package versions correspond to releases.  Assembly versions correspond to APIs/bugfixes/servicing.  We used to version the packages to match the (maximum) assembly version and we had a different sort of problem: which set of package versions should I reference to get all of the 1.1 release?  Different assembly versions exist in a single package because the package must not drop support for all fra

[2018-04-27 22:07] weshaggard opened #29383 "Update the harvested package list once we ship 2.1 stable"
Once 2.1 is shipped stable we should update the harvested versions to pull in the new stable packages.

As part of this work we should also remove the explicitly listed version support in System.Threading.Tasks.Extensions.pkgproj https://github.com/dotnet/corefx/pull/29148/files#diff-589bc4b6d3cf97b763cdd071a726b00bR29.

[2018-04-27 22:11] weshaggard opened #29384 "Now that we have moved to 3.0 we should remap netcoreapp to netcoreapp3.0"
Lets change netcoreapp to mean the latest TFM which is netcoreapp2.2 given we have bumped versions with https://github.com/dotnet/corefx/pull/29148

[2018-04-27 22:14] mjsabby commented on #29375
We should probably not throw an exception at all. All we have to do is check if the PDB file is at least 4 bytes, and that the first 4 bytes are `BSJB`.

I think this is an easy fix for 2.1, would we take it?

I'll open a separate issue for fixing the problem of regular PDBs working cross platform for the basic case of show casing line number information when formatting an Exception.

[2018-04-27 22:30] jkotas commented on #29375
There have been number of issues opened on that. It is not something we have plans to do https://github.com/dotnet/coreclr/issues/8175#issuecomment-261748193

[2018-04-27 22:36] mjsabby commented on #29375
Why not? It's just a change in the StackTrace class to read the lines stream? It will improve so much existing built code that runs on CoreCLR cross platform but is missing this information

[2018-04-27 22:39] mjsabby commented on #29375
I'm asking why not, because we have this code in CCI (https://github.com/Microsoft/cci/tree/master/PDBReaderAndWriter/PdbReader) that I think will just work. Is isn't it just a PR away? Or is there something more fundamental I'm missing.

[2018-04-27 22:43] jkotas commented on #29375
If we wanted to support it, it needs to work everywhere and not just for Exception stack trace. It is hard to explain otherwise.

[2018-04-27 23:05] #28856 closed

[2018-04-27 23:06] #23506 closed

[2018-04-27 23:09] krwq commented on #25449
@bartonjs for RemoveCounterSignature we are throwing the exception - I will follow this pattern and let's see if there is different opinion on that during the API review

[2018-04-27 23:27] weshaggard commented on #22924
Yes this can be closed.

[2018-04-27 23:27] #22924 closed

[2018-04-27 23:38] weshaggard opened #29386 "Add IItemProperties, IEditableCollectionView and associated types"
@dotMorten commented on [Tue Apr 24 2018](https://github.com/dotnet/standard/issues/718)

The `IItemProperties` and `IEditableCollectionView` in System.ComponentModel namespace are really great for describing data on ICollectionViewSource to handle dynamic datasources, where you don't have a pre-defined class to encapsulate a datamodel. For instance when dealing with generic data from any database

[2018-04-27 23:39] dotMorten commented on #29386
It's more problematic that they aren't in UWP and Mono than .NET Core where these things are used for generating complex UI.

[2018-04-28 00:05] david-beckman commented on #9071
For those looking for a workaround in the interim, see https://blogs.msdn.microsoft.com/lucian/2012/12/07/await-httpclient-getstringasync-and-cancellation/. In short, disposing of the content can be used on cancellation.

`    using System;
    using System.Diagnostics;
    using System.Net.Http;
    using System.Threading;
    using System.Threading.Tasks;

    /// <summary>
    ///     Extension

[2018-04-28 00:09] karelz commented on #29380
Looks like new MacOS release has new compiler which is more sensitive.
Are you interested in putting up PR with fixes?

[2018-04-28 00:13] karelz commented on #29380
Looks like the main error is in:
[code]

[2018-04-28 00:29] akoeplinger commented on #29370
I can confirm that the same thing happens on macOS Sierra (10.12) with `dotnet 2.1.300-preview2-008530` too.

[2018-04-28 00:46] CliffordOzewell commented on #29380
I will put up the PR with fixes

[2018-04-28 00:47] mjsabby commented on #29375
But certain scenarios are much more likely to be useful vs others. It is about compromise.

Being able to get stack traces with line numbers for code that you depend on is pretty useful when an exception occurs in production where the debug information was encoded in a regular pdb.

It is likely you will never need to debug that code which has the regular pdb, but will immensely benefit from that

[2018-04-28 00:49] danmosemsft commented on #27495
@jorive (or maybe @adamsitnik if Jose is out) are traces now available, with stacks, for us to compare?

[2018-04-28 00:52] jkotas commented on #29375
Right. It is about compromise. The compromise that we have settled on is to have Windows PDB to portable PDB converter: https://github.com/dotnet/symreader-converter . You can use that if you want to have line numbers on Unix, but you have Windows PDB for your binary for some reason.

[2018-04-28 00:53] mjsabby commented on #29375
And I'm saying that the compromise can be strictly better for this scenario which is much more common than debugging a PDB.

[2018-04-28 01:12] jkotas commented on #29375
Visual Studio/Code debugger and other diagnostic tooling is not open source...

I disagree that it is strictly better. It is strictly more confusing to explain what will work vs. what will not work with it.

We want the cross-plat diagnostic tools (debuggers, profilers) to worry about portable PDB only.

Also, Windows PDBs are many times larger than portable PDBs. Your binary footprint will be muc

[2018-04-28 03:24] dotnet-mc-bot opened #29390 "Test failure: ThreadPoolBoundHandleTests/AllocateNativeOverlapped_PreAllocated_ReusedReturnedNativeOverlapped_OffsetLowAndOffsetHighSetToZero"
Opened on behalf of @Sunny-pu

The test `ThreadPoolBoundHandleTests/AllocateNativeOverlapped_PreAllocated_ReusedReturnedNativeOverlapped_OffsetLowAndOffsetHighSetToZero` has failed.

System.ArgumentException : Handle value: -1\r
    Parameter name: handle\r
    ---- System.ArgumentException : The handle is invalid.\r
    Parameter name: handle

        Stack Trace:

           at ThreadPoolBoundHa

[2018-04-28 04:25] #24504 closed

[2018-04-28 04:29] xiaoyumu opened #29391 "Got "Specified parameter name 'Parameter1' is not valid." when doing batch update with SqlDataAdapter"
Hi guys,

I have recently using the ```System.Data.SqlClient``` of version ```4.5.0-preview2-26406-04``` to test if the batch update is supported in the latest build (Accoding to (https://docs.microsoft.com/en-us/dotnet/api/system.data.common.dbdataadapter.updatebatchsize?view=netcore-2.1#System_Data_Common_DbDataAdapter_UpdateBatchSize)) But if I set the ```UpdateBatchSize``` property of the ```S

[2018-04-28 10:10] tmds commented on #29370
Can someone with a mac please run the equivalent of `strace` on this console app?

e.g. on Linux I get this:
[code]
You can see `si_status=SIGKILL` show up here.

[2018-04-28 11:30] masums commented on #13407
Is there have any way to detect  System.StackOverflowException ( Which code segments are causing that? ) and prevent app crash at DotNet Core 2.0 or above?

[2018-04-28 13:07] rubberduck203 commented on #10012
For anyone stumbling across this, just handle the `Console.CancelKeyPress` event per [this thread](https://github.com/aspnet/Hosting/issues/870#issuecomment-257435212).

[code]

I don't know if it handles `kill`, but it's likely you just want a clean shutdown if the user presses `ctrl+c`.

[2018-04-28 14:56] jimkubatai commented on #11991
In net core 2.0 project still not work. What's problem? I tried to use System.Net.ServicePointManager.Expect100Continue = false, but it does not work. How to solve this problem with .net core?

On Windows all is ok, but when i run application on CentOS 7 i had exception:

   at System.Net.HttpWebRequest.GetResponse()
Code:

[code]

[2018-04-28 16:41] JanVargovsky opened #29395 "How to get OS' version?"
Hi,
how do I get correct Windows runtime version that is listed in "winver" command?

when I execute command "winver" it returns "Version 1709 (OS Build 16299.371)"

.NET Core 2.0 app:
System.Environment.OSVersion returns "Microsoft Windows NT 6.2.9200.0"
System.Runtime.InteropServices.RuntimeInformation.OSDescription returns "Microsoft Windows 10.0.16299 "

Do I have to manually extract it form t

[2018-04-28 17:43] JanVargovsky commented on #29395
Seems like System.Environment.OSVersion is unmaintained (should be Obsolete though).

Alternative is Microsoft.DotNet.PlatformAbstractions.RuntimeEnvironment.OperatingSystemVersion in the Microsoft.DotNet.PlatformAbstractions nuget package.

[2018-04-28 17:43] #29395 closed

[2018-04-28 19:39] Petermarcu opened #29396 "Default HttpClient not using configured web proxy"
@jagalves commented on [Sat Apr 28 2018](https://github.com/dotnet/core/issues/1484)

# Issue Title

When using a web proxy setup (in my case Fiddler), HttpClient is not using it by default.

This behavior is different between .net core 2.0 and in 2.1 preview 2.

# General

With fiddler running, the following code will try to make a request to "http://localhost.fiddler:65530" (I'm assuming nothing

[2018-04-28 20:46] karelz commented on #29396
@jagalves Just to clarify: Your primary claim is that Fiddler is bypassed by 2.1 Preview2. Is that correct?
We tested the scenario and it works locally for us on Preview2 (it was broken in Preview1). However, this is second report in last few days that it does not fully work on Preview2, so we would love to dig in deeper - it is concerning. Maybe it is influenced by OS version/settings, etc.?
Are

[2018-04-28 20:50] karelz commented on #29391
@xiaoyumu did it work ok on .NET Core 2.0? Can you please post minimal repro code? (to avoid confusion)
Also, I assume it fails always for you, it is not an intermittent failure. Is that correct?

[2018-04-28 20:56] karelz commented on #13407
Let's not highjack old bugs for related questions. If you need to debug it, get a dump and analyze the callstack - it will tell you more.
There's also general info on the topic: https://stackoverflow.com/questions/1599219/c-sharp-catch-a-stack-overflow-exception

[2018-04-28 21:33] jagalves commented on #29396
@karelz  yes that is the case. Fiddler is not used.

This is the output from $ dotnet -info

[code]

and dotnet --version gives 2.1.300-preview2-008533.

You can also see my windows version which is the latest insider build. I'll try to find some time to setup a vm and test it in an official windows version.

[2018-04-29 00:23] geoffkizer opened #29397 "SocketsHttpHandler: connection lifetime is not properly enforced when the connection limit is hit"
If you use PooledConnectionLifetime to limit the lifetime of a connection, we will not properly enforce this in the case where a connection is immediately reused for another request without going back into the pool first.

Repro code:

[code]

(This code fails when lifetime = 1, but actually succeeds when lifetime = 0 because we don't reuse the connection pool in that case.)

In practice, this mea

[2018-04-29 00:29] geoffkizer commented on #29397
I should clarify that to hit this issue, you need to:
(a) set PooledConnectionLifetime
(b) set MaxConnectionsPerServer
(c) hit the MaxConnectionsPerServer limit

This doesn't seem particularly common, so I think we can probably live with this for 2.1.

[2018-04-29 02:38] electricessence commented on #29124
I've also noted that in it's current form, you cannot inherently add a point with another point.  This makes no sense.  I have to write an extension to add two points together.

[2018-04-29 03:37] JohnRusk opened #29399 "FileVersionInfo.ProductMajorPart is wrong (and inconsistent with .NET Framework) if VersionSuffix contains period character"
With a version number like this:

1.0.0.1-build.foo

ProductMajorPart will return 1 on .NET Framework and 0 on .NET Core.

Admittedly, no-one should really make version suffixes that have dots, and the above should have been 1.0.0.1-build-foo.  But, when someone does include a dot in the suffix, .NET Core should at least be consistent with .NET Framework.

[2018-04-29 03:47] stephentoub commented on #29399
Can you share a repro? You're referring to .NET Core on Windows?

[2018-04-29 04:29] JohnRusk commented on #29399
Sorry. False alarm (sort of). It looks like the behavior is consistent on both platforms - i.e. returns 0 on both .NET Framework on Windows and .NET Core on Linux, in cases of such "malformed" version numbers.  Given that the two frameworks are consistent after all, I think this can be closed.

[2018-04-29 04:29] stephentoub commented on #29399
Thanks.

[2018-04-29 04:29] #29399 closed

[2018-04-29 05:05] geoffkizer opened #29400 "Brotli_External_DecompressesResponse_Success is consistently failing because httpbin.org is down"
This test has been failing in local runs for me all day.  Apparently httpbin.org has been down all day (or at least every time I run tests).

If httpbin.org is this unreliable, then I don't think we should be depending on it in functional tests.

[2018-04-29 13:16] davidsh commented on #29396
Fiddler usually runs on the loopback port ("localhost", "127.0.01").  I've never seen it named "localhost.fiddler" though.   I don't understand how "localhost.fiddler" would work since that name usually can't be resolved with DNS.

[2018-04-29 14:28] Trolldemorted opened #29403 "ECCurve does not exist in System.Security.Cryptography in netstandard 1.4 projects"
Since windows phones want fancy encryption too, could you either support netstandard1.4 on W10M or make the elliptic curve classes available in netstandard1.4?

[2018-04-29 16:16] jagalves commented on #29396
Yes, but when connected through a http proxy, clients normally rely on the proxy itself to do the resolving. localhost.fiddler is one of the ways to bypass the loopback exemption that normally we find on windows.

Try it yourself by typing "http://localhost.fiddler" on any browser while fiddler is running. (make sure the browsers are auto-detecting proxies).

There's also "ipv4.fiddler" and "ipv6.

[2018-04-29 18:13] jagalves commented on #29396
Ran it on a VM from hyper-v's quick create win10 developer environment. Made sure it was patched and Installed the required runtimes. Result of running similar code as before with fiddler running:

[code]

I've added some code to detect the runtime and receive the url from the command line but that's it.

[2018-04-29 18:16] kitsor opened #29404 "CngKey.Export The requested operation is not supported [Windows]"
Can't get RSAParameters on Windows.

Code to reproduce:
[code]

on Windows 10/8.1 returns:

[code]
on Ubuntu 16.04
[code]

Additional info:
[code]
[code]

[2018-04-29 20:11] Trolldemorted commented on #19168
Did anyone succeed in making Curve25519 work with .netcore/standard?

[2018-04-29 21:31] DrSensor commented on #5999
Any update/workaround for this?

[2018-04-29 22:47] bartonjs commented on #29404
When you opened the cert from a PFX you didn't specify X509KeyStorageFlags.Exportable.  On Linux keys are always exportable, but on Windows and macOS they aren't always.

[2018-04-29 22:56] bartonjs commented on #29403
ECCurve wasn't added to .NET Framework until .NET Framework 4.7, so it can't be defined any earlier than netstandard1.6.

https://github.com/dotnet/standard/blob/master/docs/versions.md.

If you're on a Win10 mobile that should be the UWP identifier, which should support netstandard2.0.

[2018-04-30 00:30] kitsor commented on #29404
Thanks!
Now it works!
[code]
I searched everywhere, but didn't find where the issue is. Error message isn't informative and I decided that isn't implemented on windows.

[2018-04-30 00:30] #29404 closed

[2018-04-30 00:59] Porges opened #29405 "There appears to be no way to prevent strings with embedded NULs from being parsed successfully as numbers"
A string with a trailing `NUL` char will always parse successfully, even if `NumberStyles.None` is passed:

[code]

[2018-04-30 04:07] danmosemsft commented on #29360
Should this be 2.1? Reliability with localized fix.

[2018-04-30 04:15] Torvin commented on #19765
@kpreisser  I don't see this as a bug. I think it works exactly as expected. The whole purpose of `ConditionalWeakTable` is to tie the life time of the "right" part of the table to the life time of its "left" part. You effectively tied your `table` to your `key`, and since the object referenced by `key` is still alive - so is `table`.

The purpose of `ConditionalWeakTable` is to add an 'extension'

[2018-04-30 04:15] danmosemsft commented on #29405
Was thinking this is https://github.com/dotnet/coreclr/pull/17820 at first, but seems not.

[2018-04-30 10:07] vbondarev commented on #28924
This article https://dev.to/carlos487/installing-dotnet-core-in-ubuntu-1804-7lp was help me.

[2018-04-30 10:07] Trolldemorted commented on #29403
The latest UWP version supports netstandard2.0 and I'd love to use that, but W10 mobile does not support the latest UWP version. When W10 desktops were upgraded to build 16299 (in the FCU) mobile devices were not, and are still unable to run UWP apps that target anything higher than 15254.

We are developing a library that has to work on mobile and desktop, so we are forced to stay with 1.4. Or ar

[2018-04-30 12:10] niemyjski commented on #29368
Here is the link to the existing code: https://github.com/FoundatioFx/Foundatio/blob/master/src/Foundatio/Storage/FolderFileStorage.cs#L230 The search pattern was `*` as it cannot be null.

[2018-04-30 13:31] akoeplinger commented on #29370
Ok, I digged into this:

First of all you need to allow `dtrace` since it's blocked by System Integrity Protection by default: http://blog.shalman.org/enabling-dtrace-on-macos-sierra/

Using this `dtrace` script we can see the waitid() values of a dotnet process started in another shell instance:

[code]

Output:

[code]

It looks like `waitid()` indeed doesn't return the signal number like it doe

[2018-04-30 13:42] stephentoub commented on #29370
cc: @danmosemsft, @ViktorHofer

[2018-04-30 13:46] qmfrederik commented on #29163
Another use case for this: the Kubernetes API server has a bunch of WebSocket endpoints which take parameters via the query string.

If you specify a wrong value for any of those parameters, the server will respond with a `400 Bad Request` and a JSON-formatted status object in the body which contains additional information.

The current design doesn't allow us to extract that information.

[2018-04-30 13:47] stephentoub commented on #29360
netfx has the same issue, other schemes are rare-ish, and whatever fix is applied would need sufficient perf testing to ensure we don't regress. I don't think it needs to be rushed into 2.1.

[2018-04-30 14:15] danmosemsft commented on #29405
@stephentoub

[2018-04-30 14:51] tmds commented on #29370
@akoeplinger thank you for investigating further! We can fix this regression by using `waitpid` for reaping (and continue to use `waitid` for finding children to reap). @stephentoub you can assign the issue to me if you want.

[2018-04-30 15:09] jkotas commented on #29015
Failed again:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/11832/

[2018-04-30 15:24] stephentoub commented on #29405
@danmosemsft, this isn't related to my changes.  This is the same behavior as on all previous releases of .NET Core and on .NET Framework as well.  Trailing nulls are explicitly ignored, as can be seen in the reference source at https://referencesource.microsoft.com/#mscorlib/system/number.cs,1031, with the comment in that function "For compatability, we need to allow trailing zeros at the end of

[2018-04-30 15:26] stephentoub commented on #29370
Thanks, @tmds.  Can you get to this quickly and keep the change to the minimum necessary to fix this (plus test(s))?  I'd like to try to get this into 2.1.

[2018-04-30 15:27] rwatjen commented on #27358
I too think there must be a way to inform the caller about the missing certificate store instead of the generic "file not found" error.

The lines
[code]
in Azure App Service for a .NET Core 2.0 ASP.NET app fail with that error.

How should the developer know that the problem is that the user certificate store doesn't exist? - In this case, the PFX file has been successfully loaded, so for the dev

[2018-04-30 15:34] stephentoub commented on #5999
For .NET Core 2.1 we've switched away from using libcurl and are now using a managed implementation.  We have not added unix domain socket support to it, and there are currently no plans to do so.

[2018-04-30 15:39] weshaggard commented on #27361
I included the fix with #29148

[2018-04-30 15:39] #27361 closed

[2018-04-30 15:43] karelz commented on #29396
Hmm, I am still confused: Does Fiddler work at all in your setups?
Your repro uses http://localhost.fiddler - if that is the only thing that does not work, while Fiddler is able to intercept all HTTP traffic and record it, then it is not probably critical for 2.1 (at least I don't view it as some horrible regression). Can you please confirm?

[2018-04-30 16:11] CliffordOzewell commented on #29380
hey karelz is there a workaround ????? alsao here is the link for my repo https://github.com/CliffordOzewell/corefx.git

[2018-04-30 16:26] rmkerr commented on #29396
I'll take a look at your repro now.

[2018-04-30 16:29] Anderman opened #29406 "SqlClient is bound to corefx with linked cs files"
A started a complete rewrite of the SqlClient but it still depend stong on linked cs files for registry (localDB) and sspi, sni. Could such api made public so that linked cs files not neccasary.

For a first implementation see. https://github.com/Anderman/TdsClient/

This version is faster and will probably will have a much smaller code base

[2018-04-30 16:30] stephentoub commented on #29396
@jagalves, I just tried your original repro, and with .NET Core 2.1 I get:
[code]
which is I believe what you expect it to do.  I have "2.1.0-preview3-26411-06" installed.

[2018-04-30 16:35] danmosemsft commented on #29405
Ah I see.

It looks like have some tests eg
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/Int32Tests.cs#L191
but not fall all types eg
https://github.com/dotnet/corefx/blob/a913bc7463a15c6aead2deb75f61df52242bac71/src/System.Runtime/tests/System/Int64Tests.cs#L172

Some tests may be missing for nulls embedded within the number, also.

[2018-04-30 16:36] stephentoub commented on #29405
There are tests for that, too, e.g.
https://github.com/dotnet/corefx/blob/997c881b22e5f4ad852fe141974f548004beef5e/src/System.Runtime/tests/System/Int32Tests.cs#L349-L355

[2018-04-30 16:37] danmosemsft commented on #29391
@keeratsingh, @afsanehr, @david-engel could you please evaluate whether this is needed for 2.1?

[2018-04-30 16:38] danmosemsft commented on #29405
Right, I said some because I didn't see them for Int64.

[2018-04-30 16:40] stephentoub commented on #29405
Is there an action item here or can this be closed?

[2018-04-30 16:41] danmosemsft commented on #29390
@kouvel looks like you looked at this last: https://github.com/dotnet/corefx/issues/18058

I believe this run is using near-latest corefx test sources, on near-latest coreclr, but in appcontainer.

[2018-04-30 16:42] stephentoub commented on #29390
And on ARM64.

[2018-04-30 16:46] danmosemsft commented on #29405
If you think we don't need tests for other numeric types, then we can close this.

[2018-04-30 16:55] stephentoub commented on #29405
Well, there are lots of differences in the tests, which effectively assume that things that would affect Int32 would affect the other numeric types, and thus Int32 has the bulk of the tests and then there are more limited smoke tests for the others, e.g. the difference between:
https://github.com/dotnet/corefx/blob/997c881b22e5f4ad852fe141974f548004beef5e/src/System.Runtime/tests/System/Int32Tests

[2018-04-30 16:59] #29405 closed

[2018-04-30 17:07] karelz commented on #29403
.NET Standard 2.0 support comes from the underlying platform (UWP in this case). In general, the implementation of .NET Standard 2.0 has dependency on new WinRT APIs or additional exposed Win32 APIs (which are not available on older UWP platforms). Therefore there is no way to make it work on older UWP platforms which do not have the APIs we depend on.

If our ECCurve implementation depends on new

[2018-04-30 17:11] joperezr commented on #29376
@karelz we ran on Ubuntu16.04 using qemu in order to try emulating the arm32 kernel. The results we had from those specific assemblies where:
[code]

[2018-04-30 17:16] AtsushiKan commented on #15960
@vsadov - I think the SetValue portion of this raises enough API consistency issues and layering issues (allowing C#-isms such as "readonly ref" to get enforced by the Reflection layer.) We shouldn't pull on the trigger on that yet.

How much blockage does the inability to write cause? Can we afford to wait for the general TypeReference-based solution?

[2018-04-30 17:38] VSadov commented on #15960
Yes. `ref readonly` is a C# concept.

It would be ok if reflection did not respect that. I do not think it respects readonly fields either.

[2018-04-30 17:39] karelz commented on #29370
@wtgodbe can you please work with @tmds to get it into 2.1 through the process? (let's fix it in master first of course)

[2018-04-30 17:39] rmkerr commented on #29396
I get the same result as Stephen with my currently installed version (2.1.300-preview3-008391). However, when I roll back to preview 2 (2.1.0-preview2-26406-04) I see the error mentioned in the original post:
[code]
@karelz is there an easy way to check what changes made it into preview 2? It would be good to verify that the default proxy fix is actually in the preview.
@jagalves could you try ins

[2018-04-30 17:41] JeremyKuhne commented on #29368
Ok, I see what happened here. Looking into how to fix it.

[2018-04-30 17:43] VSadov commented on #15960
Ref returning methods/properties are now very poorly supported by reflection. Even if we only get `read` access it would be better.

Let's not gate the reading part on rationalizing the behavior of `SetValue` if the latter is a much thornier issue.

[2018-04-30 17:45] AtsushiKan commented on #15960
No need to gate - the reading part is already done and tucked away.

[2018-04-30 18:00] karelz commented on #29380
@CliffordOzewell I think we need to either downgrade the compiler, or fix the problem:

Offensive line:
https://github.com/CliffordOzewell/corefx/blob/aefcc33b5d62c846bfddcb6b5f96416003355f7e/src/Native/Unix/System.Native/pal_networking.c#L1026
[code]

It seems that the definition of `c_static_assert` falls back to the last option:
https://github.com/dotnet/corefx/blob/e17b9a30803c8c25779b914c7148

[2018-04-30 18:00] mjsabby commented on #29375
I'm confused about your reticence because we have many places in the CoreFX/CoreCLR where compromises are made to benefit the user not make it harder for them.

Your counter proposal requires every person who discovers this to generate portable pdbs from their windows pdbs, and either make it a build process or repackage it themselves. Maybe this component is used in multiple places so now the tec

[2018-04-30 18:02] karelz commented on #29396
@rmkerr the best and safest option I know is to check the source code by tag: https://github.com/dotnet/corefx/tree/v2.1.0-preview2-26406-04
(I am not sure if commit details will show the tag as well)

[2018-04-30 18:04] joperezr commented on #29242
I can take care of this once we ship.

[2018-04-30 18:07] wtgodbe commented on #29370
Sure thing, I'll track https://github.com/dotnet/corefx/pull/29407 & help get it ported once merged.

[2018-04-30 18:07] jagalves commented on #29396
@rmkerr

Works as expected with 2.2.0-preview1-26430-04. Had to change the runtime config in order to run it but the request went through fiddler as it should.

Maybe the fix you guys mentioned above never made it to preview 2?

[2018-04-30 18:09] karelz commented on #29396
Yeah, looks like it didn't make it into Preview2. I want to make sure it is in for 2.1 rc1 at least ... let's verify.

[2018-04-30 18:11] geoffkizer opened #29410 "SocketsHttpHandler: connection limit is not enforced if you set PooledConnectionLifetime or PooledConnectionIdleTimeout to 0"
If you set either PooledConnectionLifetime or PooledConnectionIdleTimeout to 0, and you also set a connection limit, then we don't enforce the connection limit.  This is because we're not storing the HttpConnectionPool (AvoidStoringConnections is set to true).

Repro code:

[code]

Running this with lifetime == 0 will hit the bug -- the Assert.False will fail.

Note that fixing this will likely me

[2018-04-30 18:29] luhenry commented on #29380
I can see 2 solutions here:
 - pass `-Wno-shadow`
 - define `c_static_assert(e)` as a no-op.

The problem lies with C compilers that don't support static assert (it's only C11), and there is no good way to fix it. Whatever approach you take is fine by Mono.

[2018-04-30 18:36] ericstj opened #29412 "CoreFx.Private.TestUtilities dependencies are bogus versions"
See https://dotnet.myget.org/feed/dotnet-core/package/nuget/CoreFx.Private.TestUtilities.

The versions for Microsoft.DotNet.PlatformAbstractions and Xunit are bogus.

This is because the CoreFx packaging uses the package index to construct dependencies based on assembly references.  When data is missing from the index it assumes package version = assembly version and pre-release is the same as Co

[2018-04-30 18:38] rmkerr commented on #29396
It is at least in the release/2.1 branch. How can I check if it is in rc1?

[2018-04-30 18:43] ericstj commented on #29412
Given that this package is a hack it might be better just to turn off dependency harvesting completely (rather than trying to plumb xunit into the package index).  To do that we can just set `<OmitDependencies>true</OmitDependencies>` in the project file.

[2018-04-30 18:55] jkotas commented on #29375
If you use the regular .NET Core tooling, you should never run into this. .NET Core tooling will always generate the portable .PDBs for .NET Core apps. If there are corner cases where it is not the case, it is something to fix in the .NET Core tooling.

You will only run into this when you manually stitch together things using something completely custom. Very few people do that and there many thi

[2018-04-30 18:57] CliffordOzewell commented on #29380
@luhenry  @karelz should I not downgrade then and just run -wno-shadow and define as no-op?

[2018-04-30 19:06] saurabh500 commented on #29406
What is the intention of this issue?
The internal CS files we use are wrappers around SSPI calls for Integrated Authentication (for the completely managed SqlClient) because there are no APIs available to access the kerberos token in .Net Core.
All other CS files are internal to SqlClient. Or they are in the Common folder so that they are shared by System.Data.* assemblies.

[2018-04-30 19:07] danmosemsft commented on #29375
@jkotas would this not potentially occur when consuming libraries? Many were built using desktop tooling, or if you build locally, expect to be built by desktop tooling. We generally expect them to work on .NET Core.

@vancem since he is usually interested in PDB discussions.

[2018-04-30 19:08] karelz commented on #29396
The link above points to Preview2 tag: https://github.com/dotnet/corefx/tree/v2.1.0-preview2-26406-04 - is it there?

[2018-04-30 19:13] janvorli commented on #29380
This is strange, I've recently fixed exactly the same error by adding the `#elif defined(__has_extension) && __has_extension(c_static_assert)` (line 18 in the comment above) for xcode 9.3 in #28768. The xcode 9.2 was working fine with the previous state. So I wonder why the xcode 9.2 on @CliffordOzewell's Mac is having this trouble.
@CliffordOzewell, can you please run `clang --version` from the c

[2018-04-30 19:27] danmosemsft commented on #27484
@adamsitnik can you help

[2018-04-30 19:27] CliffordOzewell commented on #29380
@janvorli

 Cliffs-iMac:corefx cliffozewell$ clang --version
Apple LLVM version 9.1.0 (clang-902.0.39.1)
Target: x86_64-apple-darwin17.5.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin
Cliffs-iMac:corefx cliffozewell$

[2018-04-30 19:34] danmosemsft commented on #29375
@jkotas I was thinking more of the case where a Core app is consuming libraries built for NETFX, and wish to debug: generally that would mean cloning their repo, and building binary/PDB for yourself, which would generally make Windows PDB unless you re-work their build process. Perhaps that's not a concern?

[2018-04-30 19:50] weshaggard commented on #29412
I think disabling the harvesting will probably be fine.

[2018-04-30 19:54] weshaggard commented on #29242
https://github.com/dotnet/corefx/issues/29383 is related.

[2018-04-30 19:57] FlyingWraptor opened #29414 "Classes inheriting TcpClient or Sockets don't function using correct IP by default."
Duplicate from the .net core base-project issue # 1469.

# Sockets not listening right Internet Protocol in Net classes

Currently the (tested) sockets wrappers won't use IPv6 alongside IPv4 in dual-stack.
Meaning out of the box connections on SmtpClient, TcpClient and MySql connector require modifications at the Socket for functioning on IPv6.

In .NET Framework this isn't the issue at all becaus

[2018-04-30 20:12] rmkerr commented on #29396
No, it isn't present in preview 2.

[2018-04-30 20:13] sebastienros commented on #28830
Maybe not related to this issue, I noticed a perf improvement on Linux SSL between runtime versions `2.2.0-preview1-26423-02` and `2.2.0-preview1-26424-04`. Almost making up with what this one is losing. I could investigate and pinpoint which exact runtime version change contains the improvement.

[2018-04-30 20:25] #29011 closed

[2018-04-30 20:33] twsouthwick commented on #25294
This issue, I believe, is only hit when running the .NET Framework version of the packaging library. The .NET Core version (which this repo contains) does not use IsolatedStorage and does not hit this issue. Even though the System.IO.Packaging NuGet package says it supports .NET 4.6, in reality it is just redirecting to the implementation in .NET Framework. This means, that even using the NuGet pa

[2018-04-30 20:35] krwq commented on #25449
Moving relevant parts of [comment conversation](https://github.com/dotnet/corefx/pull/29408#discussion_r185072407) from PR here:

*From @bartonjs*

*From @krwq*

[2018-04-30 20:36] vancem commented on #29375
The original complaint was avoiding an error (exception) when doing ToString() on an exception (which walks its stack.    I am assuming there is no pushback on at least no failing.    There is an interesting question on exactly what it does do to give the user a hint that their PDB is 'wrong'.   Just giving up on line numbers is not as good as giving a parenthetical diagnostic that the PDB is not

[2018-04-30 20:37] weshaggard commented on #29035
Pasting @jaredpar response from email:

IMHO: I think most Microsoft teams should prefer latest vs. pinning a version.

The latest vs. default vs pinning is really a feature we added for enterprise customers. Keeping our commitment that different parts of a team can use different updates of VS and not break each other. That is Employee1 can use VS 15.3 and Employee2 can use VS 15.5 and the code wi

[2018-04-30 20:38] weshaggard commented on #29035
Based on that I'm going to suggest we continue to use "latest" until if there comes a time where it is problematic and then we can revisit.

[2018-04-30 20:38] #29035 closed

[2018-04-30 20:52] caesar1995 commented on #27468
I have tried the configuration mentioned by @Lexcess : HttpClient (v4.3.3) on .Net 4.6.1, and re-using an HttpClient sending requests without cancellation token (using the code from the issue description). Not able to repro the memory leak.

Can anyone post a repro here to further investigation?

[2018-04-30 20:55] rmkerr commented on #29414
Thanks for the report and the thorough set of repros. Do you know what the behavior is on on the latest version of .NET Framework (4.7.2)?

[2018-04-30 21:15] krwq commented on #25449
We talked offline and will have API as is but output representation will be more compact (merge by default)

[2018-04-30 21:25] rmkerr commented on #29396
Yep. This issue is a duplicate of #28603, which was fixed in PR #28671.

[2018-04-30 21:40] Lexcess commented on #27468
@karelz @caesar1995 So this was a few weeks ago but I believe the version was actually System.Net.Http 4.0.0 (as shipped in .Net FX). At the time our team felt they could knock together a repro so give us a little time to revisit it and we'll see if we can post one here.

If it helps we were seeing the behaviour when under significant load (performing around a thousand requests per second). Also t

[2018-04-30 21:47] caesar1995 commented on #27468
I have tried 4.0.0, still no luck there :(

A working repro will be very useful. Thanks for the efforts!

A question for you: Is there a proxy used/involved?

[2018-04-30 21:47] luhenry commented on #29380
@janvorli @karelz @jkotas I'll upsteam https://github.com/mono/corefx/pull/46 as well soon, since it turns out `has_extension` is not available on all C compilers and for some reasons `#if defined(has_extension) && has_extension(...)` doesn't work either.

[2018-04-30 21:49] Lexcess commented on #27468
@caesar1995 I don't believe there is a proxy in play, but I will double check.

[2018-04-30 21:51] bartonjs commented on #29345
This is fixed in master, and the fixed has merged into the release branch for the post-RC1 build.

[2018-04-30 21:51] #29345 closed

[2018-04-30 21:52] joperezr commented on #29242
Is the one you pointed out actually a dupe? they seem to be very similar...

[2018-04-30 21:55] rmkerr commented on #4502
Closing as this is tracked by #27745.

[2018-04-30 21:55] #4502 closed

[2018-04-30 21:56] caesar1995 commented on #27468
Yeah, please make sure App.Config/machine.config doesn't include a proxy, and Fiddler is not used.

Previously we have solved a memory leak issue in .NET Framework, which will happen if connecting to a HTTPs server through a proxy. I want to make sure it's not the same issue.

[2018-04-30 22:10] karelz commented on #28830
That would be nice if we can find out which changes misteriously fixed it.

[2018-04-30 22:28] janvorli commented on #29380
@luhenry I am not sure what do you mean by that. It is supposed to work on clang only. Are you saying that it doesn't work on clang?

[2018-04-30 22:31] Maoni0 commented on #19765
can you please tell me how you determined that key is still alive? when you do this:

[code]
a GC handle of the dependent type is created with its primary value as key and secondary value as the tuple obj. and this GC handle needs to be cleaned up by something - in the CWT case it's either by the finalizer or setting the primary of this handle to null (if you remove an entry). if you don't do eith

[2018-04-30 22:36] Maoni0 commented on #19765
when you do this:

[code]

a GC handle of the dependent type is created with its primary value as key and secondary value as the tuple obj. and this GC handle needs to be cleaned up by something - in the CWT case it's either by the finalizer or setting the primary of this handle to null (if you remove an entry). if you don't do either it'll stay and hold the secondary object live which means table

[2018-04-30 22:49] CliffordOzewell commented on #29380
Guys , So i pulled @janvorli's Repo and tried to build and this was my outcome now :

Cliffs-iMac:corefx cliffozewell$ ./build.sh
Installing dotnet cli...
Restoring BuildTools version 2.0.0-prerelease-01812-02...
Initializing BuildTools...
Making all .sh files executable under Tools.
  Restoring packages for /Users/cliffozewell/Desktop/Repos/corefx/Tools/crossgen/crossgen.csproj...
  Installing Mi

[2018-04-30 22:58] janvorli commented on #29380
@luhenry btw, one more option to make the typedef work is to create a unique name of the type. The GNU C has `__COUNTER__` macro that can be used for that. So we can make another typedef version e.g. as follows that would fix the issue:
[code]

[2018-04-30 23:00] janvorli commented on #29380
@CliffordOzewell you can just set the OPENSSL_ROOT_DIR as the error message suggests to the root of your openssl installation. On my Mac, it is `/usr/local/Cellar/openssl/1.0.2n`.

[2018-04-30 23:13] svick commented on #29375
I am confused by this issue. Do I understand it correctly that:

1. If I run a .Net Core application with non-portable PDB on Unix, `Exception.ToString()` internally throws an exception, which is then caught [here](https://github.com/dotnet/coreclr/blob/76ba8d518eb5830988878fca01e4a6096c1b0b2a/src/mscorlib/src/System/Diagnostics/Stacktrace.cs#L145-L147). As a consequence, the result of `Exception.

[2018-04-30 23:16] Anderman commented on #29406
Aha, Thx. Maybe I can use https://github.com/dotnet/corefx/blob/ee4aa4f1d29c6fb4f415577efcc7e14fe029b0ad/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs this as interface.

[2018-04-30 23:17] JeremyKuhne commented on #29368
@niemyjski Thanks for opening this! I have a PR for a fix up. You can work around the issue by trimming the trailing separator on `path` before passing to `EnumerateFiles`.

[2018-04-30 23:29] weshaggard commented on #29314
@leecow @terrajobst can you guys get the fw links updated?

[2018-04-30 23:38] Anderman commented on #29406
Thx I did found out how to do this and has it it working in managed mode without the SNI.dll. But how do I call this method? `public void GenSspiClientContext(SspiClientContextStatus sspiClientContextStatus, byte[] receivedBuff, ref byte[] sendBuff, byte[] serverName)`
The class is internal!

[2018-04-30 23:44] tmat commented on #29375
This issue belongs to System.Diagnostics.StackTrace not to SRM.

[2018-04-30 23:51] tmat commented on #29223
System.IO.FileSystem.dll with version:

`4.6.26404.05 @BuiltBy: dlab-DDVSOWINAGE078 @Branch: vsts-workflow-2768-g82d95f9a23 @SrcCode: https://github.com/dotnet/corefx/tree/82d95f9a23dad85b53ef4d0ef84e5cafac7f01cf"`

Has the following debug directory entries:

[code]

I don't see any issues.

[2018-04-30 23:52] #29223 closed

[2018-05-01 00:09] mconnew commented on #27786
Recent changes in the Marvin implementation have improved performance sufficient to remove regression and it looks like we're now actually a little faster than 2.0.0 on Linux.

[2018-05-01 00:09] #27786 closed

[2018-05-01 00:25] danmosemsft commented on #29354
@MarcoRossignoli OK sounds good we'll ping you on issues you might want.
cc @karelz fyi.

[2018-05-01 00:27] danmosemsft commented on #29354
@jasongin do you know how a Mac machine gets into a state where there is no `~/.local/share`?

[2018-05-01 00:28] danmosemsft commented on #29269
Can you clarify, you believe the 2.1 results are correct, and are asking for a fix to 2.0?

[2018-05-01 00:37] maryamariyan commented on #29126
Closing this issue as it is fixed on the newer version. @TrevorFradsham you can reopen if you still find an issue.

[2018-05-01 00:37] #29126 closed

[2018-05-01 00:38] Porges commented on #29405
So is that an "it has always been this way so it won't change"?

[2018-05-01 00:41] jasongin commented on #29354
We encountered this on some test machines that had the OS & user account freshly set up.

[2018-05-01 00:43] danmosemsft commented on #29354
OK it seems fine it's not in 2.1 then given isolated storage isn't super commonly used .

[2018-05-01 00:43] stephentoub commented on #29405
It's "It's always been this way, changing it would almost surely break code, and code that wants this to fail could used check for trailing nulls if they're an issue." Why do you need these to fail?

[2018-05-01 00:45] stephentoub commented on #29285
The 2.1 party of this was merged. Moving to 2.2.

[2018-05-01 00:46] stephentoub commented on #29343
@danmosemsft , yup, thanks for the reminder.

[2018-05-01 00:47] jasongin commented on #29354
As a data point, Live Share private preview telemetry showed about 18% of our Mac users were hitting this. (We initially didn’t catch it in internal testing.) Many of them were probably not .NET developers.

Anyway we’ve added a workaround so it’s not blocking us.

[2018-05-01 01:11] CliffordOzewell commented on #29380
here is the result after i added the path as suggested:

Cliffs-iMac:corefx cliffozewell$ ./build.sh
Tools are already initialized
Running: /Users/cliffozewell/Desktop/Repos/corefx/src/Native/build-native.sh   x64  Debug  OSX  --numproc 4  -portable  toolSetDir=c:\tools\clr
Setting up directories for build
Checking pre-requisites...
Commencing build of corefx native components for OSX.x64.Debug
In

[2018-05-01 01:13] CliffordOzewell commented on #29380
here is the output after i added the path suggested :

Cliffs-iMac:corefx cliffozewell$ ./build.sh
Tools are already initialized
Running: /Users/cliffozewell/Desktop/Repos/corefx/src/Native/build-native.sh   x64  Debug  OSX  --numproc 4  -portable  toolSetDir=c:\tools\clr
Setting up directories for build
Checking pre-requisites...
Commencing build of corefx native components for OSX.x64.Debug
Invo

[2018-05-01 01:16] Porges commented on #29405
I am currently checking for NULs myself, just wanted to clarify 🙂

[2018-05-01 01:17] CliffordOzewell commented on #29380
also looks like clang is old :
Cliffs-iMac:corefx cliffozewell$ which clang
/usr/bin/clang
Cliffs-iMac:corefx cliffozewell$ clang --version
Apple LLVM version 9.1.0 (clang-902.0.39.1)
Target: x86_64-apple-darwin17.5.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin
Cliffs-iMac:corefx cliffozewell$ brew update clang
Error: This command updates brew itself, and does not

[2018-05-01 01:34] karelz commented on #29354
@jasongin what is the workaround? Is it reasonable for others to use?
Impact on 18% Mac users is pretty large. Although we treated Mac as dev-only scenario so far.

[2018-05-01 01:43] twsouthwick commented on #26129
@weshaggard The NuGet package still has a dependency on `System.IO.FileSystem.Primitives` for net46, but when I look at the dll, there is no reference to that library. Is there some reason this is required even though everything is just forwarded to `WindowsBase`?

[2018-05-01 01:59] danmosemsft commented on #29354
Presumably to create the folder

[2018-05-01 02:06] Porges commented on #29405
I will amend the documentation (in my case I was very surprised when a downstream system complained about a string I had checked with `int.TryParse`).

[2018-05-01 02:07] stephentoub commented on #29405
Sounds good. Thanks.

[2018-05-01 03:54] davidsh commented on #29414
cc: @Tratcher

[2018-05-01 03:55] ericstj commented on #29032
The FileLoadException is occurring now because the assembly in the app is lower than what’s expected by the shared framework.  This is expected until the deps file is updated.

[2018-05-01 03:57] davidsh commented on #29414
@FlyingWraptor All of the examples you posted are for client-side connections (TcpClient, SmtpClient, etc.). But the bug title is about "listening sockets".

The concept of dual-mode is for listening sockets only. Do you have any repro that shows how you created a listener using sockets that isn't listening on both IPv4 and IPv6 ports?

[2018-05-01 04:12] jasongin commented on #29354
Yes.

[2018-05-01 04:16] Tratcher commented on #29414
Dual mode is not just for listening, it can also be used for outbound connections.

[2018-05-01 09:27] jagalves commented on #29396
Thanks for looking into this. Looking forward for the release. :)

[2018-05-01 10:02] JanEggers opened #29425 "System.Threading.Channels for net461"
there is a nuget for net461 for System.Threading.Channels but its empty. looks like this https://github.com/dotnet/corefx/blob/5da1070c7264594de50aff1a8b059c480c43a315/src/System.Threading.Channels/src/System.Threading.Channels.csproj#L9-L14 is missing net461

the error im getting is:

![image](https://user-images.githubusercontent.com/6747376/39469420-67028740-4d38-11e8-8eb7-8bd3d4ae1923.png)

[2018-05-01 10:16] JanEggers commented on #29425
was a restore issue removed the dependency and added  again now it works

[2018-05-01 10:16] #29425 closed

[2018-05-01 12:00] Torvin commented on #19765
What I'm saying is - this behaviour (when collection of CWT also removes the GC handles) isn't documented and if I were you I wouldn't rely on it.

[2018-05-01 13:14] #13960 closed

[2018-05-01 13:40] hughbe opened #29426 "How to use manually built libgdiplus when running corefx tests"
Hi,

I ran the following commands:
[code]

Then I ran
[code]

However, I get the messages
[code]

What am I doing wrong?

[2018-05-01 13:51] JimBobSquarePants commented on #29124
I thought the point of this API was consolidation not expansion?

Is MS now actively seeking to stamp out alternatives?

[2018-05-01 13:59] stephentoub commented on #29124
Huh? The original poster here is not Microsoft and everyone is free to suggest things they'd like to see added.

[2018-05-01 14:06] #27618 closed

[2018-05-01 14:06] #28508 closed

[2018-05-01 14:09] conradakunga opened #29427 "Guid Generation Performance Deteriorated in 2.1 vs 2.0 on OSX"
Running some benchmarks on Guid Generation on OSX 10.13.4 High Sierra shows quite some performance degradation between .NET Core 2.0.6 and 2.1.0-preview2, as reported using benchmark.net

The code itself:

[code]
Below are the results on OSX

Method |     Toolchain |       Mean | Allocated |
------------- |-------------- |-----------|----------|
 GenerateGuid | **.NET Core 2.1** | **2,601.0 ns** |

[2018-05-01 14:10] JimBobSquarePants commented on #29124
The issue raised has been accepted and marked for a future milestone. That implies consideration that the functionality will be added.

When System.Drawing was first proposed for the Windows Compatibility Pack for NET Core in #2025 it was introduced as a binary-compatible implementation of System.Drawing. One of the things noted in the listed priorities was the following.

Call me crazy but I see

[2018-05-01 14:11] stephentoub commented on #29427
cc: @janvorli

[2018-05-01 14:14] stephentoub commented on #29124
Nothing has been "accepted".

[2018-05-01 14:16] davidsh commented on #29414
Yes.  But dual-mode for listening is when you specify a port (say "80" for a webserver) and then you can listen on both IPv4 and IPv6 addresses bound to a network adapter.

Dual-mode for client-side is when you specify a DNS name (say "www.microsoft.com") and a port (i.e. 80). Then the client will try to connect to EITHER IPv6 or IPv4 addresses based on what DNS returns for A/AAAA records.

But th

[2018-05-01 14:17] yzrmn commented on #29269
Yes, I think something is not right with 2.0 (I checked again with the most recent SDK).

[2018-05-01 14:18] kasper3 commented on #29426
You can check output of `echo $PATH` if `/usr/local/lib/` is listed there, if not:

[code]

or

[code]

otherwise you can try to configure it to build and land it in `/lib` directory which is in PATH:

[code]

[2018-05-01 14:24] JimBobSquarePants commented on #29124
`¯\_(ツ)_/¯` I'll go find another hill to die on.

[2018-05-01 14:32] kasper3 commented on #29427
https://github.com/dotnet/coreclr/pull/16643

In 2.1, GUID is re-implemented in CoreCLR using a custom made `CoCreateGuid` function: https://github.com/janvorli/coreclr/blob/3b9f14d569182ac46a049965a630dfcd9e57d1dd/src/palrt/guid.cpp#L28-L48

In 2.0 is using `libuuid`.

[2018-05-01 14:48] #15960 closed

[2018-05-01 15:30] Nukepayload2 commented on #25669
I'm experiencing the same issue in Visual Studio 15.6.7 with VB 15.5.
I have added `<LangVersion>Latest</LangVersion>` in `<PropertyGroup>` in my .vbproj file. But this error is still showing. I clearly know that `System.Span(Of T)` can't be stored in fields or properties, so I don't want to see the BC30668 error preventing me from compiling my code.
I have to downgrade System.Memory to 4.4.0-prev

[2018-05-01 15:49] hughbe commented on #29426
@kasper3 that doesn't seem to work unfortunately :/

[2018-05-01 15:51] stephentoub commented on #29426
`export LD_LIBRARY_PATH=/usr/local/lib`?

[2018-05-01 15:52] luhenry commented on #29380
For some reasons, some compilers will complain about the second `has_extension` (something with unknown binary operator), all because it seems like the pre-processor is not smart enough to recognize the first `defined(has_extension)`.

It seems like a good option, but we need to guard against the existence of `__COUNTER__` since Mono is required to be compilable against older/weirder C compilers,

[2018-05-01 15:59] kasper3 commented on #29426
Remember to `make install` after you do `./autogen.sh --without-x11 --prefix /lib`

[2018-05-01 16:01] hughbe commented on #29426
Still nothing:

[code]

[2018-05-01 16:08] tarekgh commented on #28611
@mwoo-o The issue here is if .Net Core supporting POSIX. the issue here is what is the POSIX string comparison behavior. if you look at the link I sent before https://marc.info/?l=icu&m=101779972120281&w=2 you'll see

[code]

This makes the POSIX locale has special behavior for string comparison. in another word, en_US_POSIX behavior is really different than en_US behavior. the string comparison b

[2018-05-01 16:10] MarcoRossignoli commented on #27841
@ViktorHofer i saw you move hashtable to shared one week ago. On core fx there are another "version" with some difference...is correct override corefx version to coreclr?

corefx\src\Common\src\CoreLib\System\Collections\Hashtable.cs corefx\src\System.Runtime.Extensions\src\System\Collections\Hashtable.cs

i use Tools.DiffFiles

[2018-05-01 16:16] MarcoRossignoli commented on #27841
@jkotas i know you don't like too much unmanaged signature changes...related to this issue...do you think i should skip this?

Tools.DiffFiles
corefx\src\Common\src\CoreLib\Interop\Windows\Kernel32\Interop.GetFullPathNameW.cs corefx\src\Common\src\Interop\Windows\kernel32\Interop.GetFullPathNameW.cs

[2018-05-01 16:17] kasper3 commented on #29426
I have tested on Linux with a simple C program after compiling and installing libgdiplus:

[code]

`gcc test.c -o find-libgdi.exe` ->  `./find-libgdi.exe`. Can you try that with `.dylib`?

[2018-05-01 16:18] ViktorHofer commented on #27841
We had some issues with the changes and during that I probably forgot to delete the old one. This one should be deleted: corefx\src\System.Runtime.Extensions\src\System\Collections\Hashtable.cs

[2018-05-01 16:27] kasper3 commented on #29426
`LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib    gcc test.c`?
There is also a mysterious `DYLD_LIBRARY_PATH` for mac: https://stackoverflow.com/a/41072072

[2018-05-01 16:31] weshaggard commented on #26129
@ericstj could you take a look?

[2018-05-01 16:33] hughbe commented on #29426
Unfortunately various combinations of `DYLD_LIBRARY_PATH`, `LD_LIBRARY_PATH` and environment variables and even the exact path to the file doesn't seem to work.

[2018-05-01 16:54] ericwj opened #29430 "Is `Microsoft.XmlSerializer.Generator` working in 2.1-preview2?"
Reading #25138 and following the instructions to add a serialization assembly, I cannot seem to find a combination of `Microsoft.XmlSerializer.Generator` package version `TargetFramework` and `"sdk"` in global.json that works for my project (only the 1.0.0 package targeting netcoreapp2.0 works). Are there any known issues or am I doing something wrong?

I am getting this error trying to add this t

[2018-05-01 16:57] davidsh commented on #29400
Can we enhance the test loopback server code and use that instead of this external 3rd party server?

[2018-05-01 17:10] AArnott commented on #28848
Yes, thanks.

[2018-05-01 17:10] #28848 closed

[2018-05-01 17:12] dotnet-mc-bot opened #29431 "FileSystem build failures in 'prodcon/corefx/release/2.1/' - '20180501.03'"
There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1646411
  - **Agent:** DDVSOLINUXAGE002
  - **Error log:** /root/corefx-1646411/pkg/frameworkPackage.targets(0,0): error : IncludeLibFiles was specified but no file props were found in '/root/corefx-1646411/bin/pkg/uap/lib' [/root/corefx-1

[2018-05-01 17:14] kasper3 commented on #29426
Interesting, something we are not doing here: https://github.com/dotnet/corefx/blob/4bf9019/src/System.Drawing.Common/tests/Helpers.cs#L33

[2018-05-01 17:46] karelz commented on #29430
@mconnew @Lxiamail can you please review it against 2.1?

[2018-05-01 17:56] jkotas commented on #27841
I do not see this one used anywhere. Delete it?

[2018-05-01 17:58] electricessence commented on #29124
I would have nothing to say here if 'operators' could be defined like extensions so you could import some 'Point' lib that does the vector math.  But that's a C# language problem not a corefx problem.

Another suggestion would be to include extensions like `.Sum` so that others don't have to write it.
Would there be a way to make a Point behave like a value type so that IEnumerable<Point> could us

[2018-05-01 18:03] MarcoRossignoli commented on #27841
I do not see this one used anywhere. Delete it?

no ref on coreclr

...coreclr>findstr /n /s /c:"Interop.GetFullPathNameW.cs" *.csproj

but ref on corefx
[code]

[2018-05-01 18:04] ericstj commented on #26129
That's normal since the reference assembly [depends on it](https://github.com/dotnet/corefx/blob/master/src/System.IO.Packaging/ref/System.IO.Packaging.csproj#L31).  We must preserve the dependency so that folks compiling against the portable ref get all the facades.

[2018-05-01 18:11] jkotas commented on #27841
This is the copy from CoreLib already. Do you see the other (non-CoreLib) copy used anywhere?

[2018-05-01 18:28] Davilink commented on #19748
I have i project who target the Net Framework 4.7.1 it use a project who target Net Standard 2.0. In the project Net Standard 2.0, i use an SqlDataReader and when i tried to use the GetColumnSchema() it throws an exception (Not supported).

What i'm missing, isn't supported to work ?

[2018-05-01 18:30] MarcoRossignoli commented on #27841
[code]

https://github.com/dotnet/corefx/blob/master/src/Common/tests/Common.Tests.csproj#L111

[2018-05-01 18:39] krwq opened #29437 "SignerInfo.RemoveCounterSignature does not do what intended when counter signatures are in a single attribute"
This issue is being fixed in https://github.com/dotnet/corefx/pull/29408 but port of this should be considered for 2.1 (this is a new code)

# Issue
When multiple counter signatures are encoded in a single attribute RemoveCounterSignature may not do what intended (i.e. do not remove counter signature, remove wrong counter signature, remove all counter signatures)

*See `background` for more info.*

[2018-05-01 18:39] MarcoRossignoli commented on #27841
actually i think that api is not used:

[code]

@jkotas  i think i can remove file...do you agree?

[2018-05-01 19:02] wtgodbe commented on #29370
https://github.com/dotnet/corefx/pull/29407 is in, I can put up a port to 2.1 once I get access to my machine (should be tomorrow).

[2018-05-01 19:16] mwoo-o commented on #28611
We can't control the locale that are used by the customers.  So that will mean that if we want to
support POSIX, then we will have to make some code differentiation for POSIX  locale in our driver.
Is this correct understanding?

Questions:
Does Windows support POSIX locale?
Other than string functions in POSIX, is there something that we need to aware for POSIX behavior?
Any link information for

[2018-05-01 19:45] karelz commented on #29368
Reopening to track 2.1 port

[2018-05-01 20:54] huanwu commented on #29430
@ericwj , I tried on my machine but cannot exactly repro your problem. I hit a different problem, which is mentioned here #29340. So I manually edit the target file under [User]\.nuget\packages\microsoft.xmlserializer.generator\2.0.0-preview2-26406-04\build\Microsoft.XmlSerializer.Generator.targets with the &quot;@(Reference)&quot; After this change, all works for  2.1.  Could you try dotnet resto

[2018-05-01 21:04] tarekgh commented on #28611
No

.Net Core is just using ICU library. you may consult the ICU library documentation here http://userguide.icu-project.org/locale

You can still set the current culture in your code. using CultureInfo.CurrentCulture

We discourage users to set their locale to POSIX because of the issues we talked about here. If the user decided to use POSIX locale, then that is their choice and they will get the

[2018-05-01 21:49] JeremyKuhne commented on #29368
Change is in master and was put in for 2.1 RTM here: https://github.com/dotnet/corefx/commit/77732da1052923259a7668540ee62bf48d35956e

[2018-05-01 21:49] #29368 closed

[2018-05-01 21:58] ericwj commented on #29430
The output is massive. That is a clear difference with the .NET 2.0 / Generator 1.0.0 package. But since you ask for it...

I will look into the issue you mentioned. This is the situation before doing that.

This is with VS 15.7.0 Preview 5.0 installed, yes.

[code]

[2018-05-01 22:06] ericwj commented on #29430
Perhaps the deps thing is the problem? I get that if I do clean and build right after, too.

`Unable to generate deps.json, it may have been already generated.`

[2018-05-01 22:07] huanwu commented on #29430
@ericwj I don't understand why deps.json is related to the tool. My tool won't generate the deps.json. Can you compile your project if you remove the package and dotnetclitreference to the tool?

[2018-05-01 22:16] ericwj commented on #29430
Yes, without any warning.

The one odd thing is that `dotnet clean` will produce blue and gray text as if I had specified some verbosity level which I didn't.

[2018-05-01 22:24] huanwu commented on #29430
@ericwj Did you add a quote for "@reference" parameter and try again? I already made a PR on this fix #29442.

[2018-05-01 23:02] ericwj commented on #29430
I didn't get complaints about invalid arguments - changing line 15 doesn't change the result:

[code]

[2018-05-01 23:05] huanwu commented on #29430
Can you run this command dotnet Microsoft.XmlSerializer.Generator obj\Debug\netcoreapp2.1\GenerateXmlSerializer.dll --force --quiet on CLI directly?

[2018-05-01 23:14] joperezr commented on #24915
@jkotas any initial feedback on this? Personally, I'm not sure there is enough value for doing this since I don't think it would be used a lot.

[2018-05-01 23:17] ericwj commented on #29430
So yeah the deps thing is the error that is converted to a warning:
[code]

[2018-05-01 23:26] jkotas commented on #24915
Is there work required in compilers to recognize this attribute on assembly, or does it "just work"?

It is a very trivial edit. Small value for tiny amount of work sounds fine to me.

This change does have value for people out there who are perfectly happy to use ObsoleteAttribute to mark deprecated APIs.

This change does not have value for the core framework currently. The current API deprecati

[2018-05-01 23:30] ericwj commented on #29430
Note that the full path is `C:\Program Files\dotnet\sdk\2.1.300-preview2-008530\Sdks\Microsoft.NET.Sdk\targets\GenerateDeps\bin\Debug\netcoreapp2.1\` so that sounds reasonable.

And yes it works when I build as Administrator. But it is littering my Program Files.

[2018-05-01 23:30] rmkerr commented on #26092
I have not been able to repro this issue in over a thousand runs with recent version of corefx. On the same machine I was seeing this issue every ~10 runs before upgrading corefx. Based off the test run data in Kusto the number of occurrences of this failure tapered off in early April, and there have been no failures since April 18th. I'll keep investigating, but it does look like something has ch

[2018-05-01 23:31] huanwu commented on #29430
Sounds good!

[2018-05-01 23:41] fiigii commented on #29247
Made a PR to show the effect of merging SSE and SSE2 classes, which may help the discussion here.

[2018-05-01 23:47] karelz commented on #26092
If there were no failures for 2 weeks (incl. the 10 dupes listed in top post), let's just close it / wait for it to become common again. We should not chase down issues which don't happen in Helix.
One thing to double-check: Helix enabled auto-reruns on failure. I wonder if the first-run failures make their way into Kusto. That could explain the drop in occurrences lately. Can you lease check?

[2018-05-02 00:00] danmosemsft commented on #29368
Thanks again @niemyjski  -- we would welcome any other feedback you have on filesystem enumeration code, given the extensive rework it received for 2.1.

[2018-05-02 00:01] rmkerr commented on #26092
@karelz Sure! I'll have to look into how auto-reruns are logged in Kusto, but I can go ahead and find out.

[2018-05-02 03:04] conradakunga commented on #29427
If we ignore the slowdown frpm 2.0 to 2.1 for a moment, is that to say Guid generation on OSX regardless of generation technique (libuuid or custom function) is inherently slow? Let me re-post the benchmark numbers with the specs of the machines I run them on, using the same versions of .NET Core 2.0. and 2.1

BenchmarkDotNet=v0.10.14, **OS=macOS High Sierra 10.13.4 (17E202) [Darwin 17.5.0]**
**In

[2018-05-02 04:28] tastyeggs opened #29448 "Introduce an alternate way to work with EventSource that is not-so-magical"
When trying to create an new EventSource in my F# code, I'm unable to use Keywords, as that needs to be defined as a list of constants in an inner class of the EventSource; F# does not support inner classes.

While this can be pushed off as an F# issue (where there's already a bug that's being tracked), IMHO this is unnecessary complexity. There needs to be a *purely* functional way to instantiate

[2018-05-02 07:20] Sunny-pu opened #29449 "Tests under "System.Net.Http.Tests" failed with "Exit code was 131 but it should have been 42""
Failed tests:
System.Net.Http.Tests.HttpSystemProxyTest.HttpProxy_Local_Bypassed
System.Net.Http.Tests.HttpSystemProxyTest.HttpProxy_Local_Parsing
System.Net.Http.Tests.HttpSystemProxyTest.HttpProxy_SystemProxy_Loaded
System.Net.Http.Tests.HttpSystemProxyTest.HttpProxy_InvalidSystemProxy_Null
System.Net.Http.Tests.HttpEnvironmentProxyTest.HttpProxy_Exceptions_Match
System.Net.Http.Tests.HttpEnviro

[2018-05-02 08:47] atykhyy opened #29450 "Make System.Net.Http.WebRequestHandler more extensible"
Specifically, add an overridable virtual method equivalent to `InitializeWebRequest` to allow classes extending `WebRequestHandler` to control the properties of the `HttpWebRequest` and related objects that cannot be specified in `HttpClientHandler`/`WebRequestHandler` (example: `ServicePoint.ConnectionLeaseTimeout`). `InitializeWebRequest` is declared internal in the .NET Framework implementation

[2018-05-02 09:30] TAGC commented on #29254
Shame this issue missed the 2.1.0 bus. It will become increasingly difficult to use any sort of mocking framework as `in` parameters start becoming common in people's codebases.

[2018-05-02 09:57] janvorli commented on #29380
@CliffordOzewell the clang is not old, I have the same version on my Mac installed by the xcode 9.3. The clang version number has clearly nothing to do with the xcode version number, although it is part of xcode.
As for the openssl detection still not working, I assume you have checked that the openssl library is really in the directory you have set the env variable to, right? And btw, how have yo

[2018-05-02 10:08] janvorli commented on #29380
@luhenry sure, we would need to check if `__COUNTER__` is defined first. And I have meant to use it for GCC, not clang which already supports the `_Static_assert`.
The `__COUNTER__` macro is supported by GCC starting from version 4.3 which was released in March 2008. And my guess would be that the older GCC would just accept the typedef as we had it without the counter. I've tried it with GCC 4.1.

[2018-05-02 10:13] FlyingWraptor commented on #29414
The title is misleading and should be replaced to Sockets not determining correct Internet Protocol by default.

As written in the source: "With .NET 4.5 the entire Socket API has been updated so that Dual Mode is easy to configure, use, and it just works!".
Meaning out of the box a dual-sockets work.
I've tested this with the following result in .NET Standard 4.7.2:
[code]
Code:
[code]
This alrea

[2018-05-02 10:52] kasper3 commented on #29427
I think no. That's why this issue was marked with label `bug` and added to the current milestone 2.1, which means it will most like be fixed before 2.1 release.
Would be interesting to find out what is the hotpath in macOS causing this regression using micro benchmark.

[2018-05-02 11:03] hughbe commented on #29426
I just looked at the OSX runs for continuous integration. It seems like all the tests are being skipped there for the same reason as this PR.

Could this be a bug, or maybe a red herring as libgdiplus isn't install on the OSX CI?

https://mc.dot.net/#/user/hughbe/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/d2f980f646d3bea2038cdbf828b7e09101acc130/workItem/System.Drawing.C

[2018-05-02 11:29] Liero commented on #8807
@karelz: is 73 votes enough to prioritize this?

The community has become quite vocal about this, especially now when one can easily turn on Managed Service Identity on Azure Web Site

[2018-05-02 12:51] mscrivo commented on #28833
@joperezr FYI, the issue seems to be fixed when targeting the recently released .NET 4.7.2

[2018-05-02 13:09] VenkateshSrini opened #29452 "servicepointmanager is not working as expected with httpclient"
Hi,
I have a library in which makes a call to external web service. The SSL validation for this needs to be skipped. Since .NET core 2.0 implements ServicePointManager, we have given the code as
[code]
As per this even though the SDK does not give us an explicit way of switching of the SSL validation since ServicePointManager is single ton ideally this should have worked. But this did not happen.

[2018-05-02 13:13] stephentoub commented on #29427
@janvorli is working on a fix.

[2018-05-02 13:28] stephentoub commented on #29449
This isn't specific to these tests; the actual failure is:
[code]

[2018-05-02 13:28] stephentoub commented on #25037
It reoccurred.
https://github.com/dotnet/corefx/issues/29449#issuecomment-385977373

[2018-05-02 13:29] stephentoub commented on #26214
Dup of https://github.com/dotnet/corefx/issues/25037

[2018-05-02 13:29] #26214 closed

[2018-05-02 13:29] stephentoub commented on #29449
Dup of #25037

[2018-05-02 13:29] #29449 closed

[2018-05-02 13:34] CliffordOzewell commented on #29380
@janvorli i have set the env var by using adding the export path command i wlll send the modded  ~/.bash profile shortly to confirm its done correctly

[2018-05-02 14:12] Tratcher commented on #29414
@karelz failing with IPv6 addresses is definitely a bug...

[2018-05-02 14:18] FlyingWraptor commented on #29414
It just means it doesn't correctly set the required Internet Protocol for the classes that inherit the TcpClient and the Socket class, which .NET Standard does since 4.5.

[2018-05-02 14:42] ayende opened #29453 "Hangs with HttpClientHandler and AutomaticDecompression in 2.1 preview"
We recently have run into a spate of hangs in our tests when running the full test suite.
We have been able to narrow it down to a consistent hang when an `HttpClient` is reading from a pretty big stream and Kestrel is sending a pretty big stream.

This is all on the local machine, mind. We weren't able to reproduce this on stand alone tests, but consistently when running the full suite.
These tes

[2018-05-02 14:45] srijken opened #29454 "HashSet<string>(StringComparer.OrdinalIgnoreCase) performance worse in netcore 2.0"
I was checking the performance between `HashSet<string>()` and `HashSet<string>(StringComparer.OrdinalIgnoreCase` on .NET 4.6, and thought I'd check to see if it improved on netcore. The results are interesting, I expected netcore to be faster, but it proved to be way slower.

The code:
[code]

on .NET 4.6 I see figures of about 4 / 4.2 seconds
on netcore 1.0 and 1.1, it's similar
on netcore 2.0 I

[2018-05-02 15:14] stephentoub commented on #29454
I converted your test to one using Benchmark.NET:
[code]
and I got these results:

|            Method |     Toolchain |       Mean |
|------------------ |-------------- |-----------:|
| OrdinalIgnoreCase | .NET Core 2.0 | 1,604.4 ns |
| OrdinalIgnoreCase |  CsProjnet471 |   368.1 ns |
| OrdinalIgnoreCase | .NET Core 1.1 |   339.7 ns |
| OrdinalIgnoreCase | .NET Core 2.1 |   262.4 ns |

So there d

[2018-05-02 15:37] karelz commented on #29453
@ayende thanks for your report!
This is not a known issue. Can you please share stack traces and/or repro with us ASAP? Thanks!

cc @geoffkizer @davidsh

[2018-05-02 15:51] #29454 closed

[2018-05-02 15:58] stephentoub commented on #29453
@ayende, are the failures with both http and https, or just https maybe?  And is it possible something is causing the connection to be closed with partial data written by the server?  I'm just wondering if this may be https://github.com/dotnet/corefx/pull/29344.  Long shot, but figured I'd ask.

[2018-05-02 16:03] karelz commented on #29452
Do you use .NET Core or .NET Framework?
In .NET Core, `ServicePointManager` affects only `HttpWebRequest`. It does not affect `HttpClient`. You should be able to use `HttpClientHandler.ServerCertificateValidationCallback` to achieve the same.
In .NET Framework, the built-in `HttpClient` is built on top of `HttpWebRequest`, therefore `ServicePointManager` settings will apply to it.

[2018-05-02 16:18] pjanotti commented on #22271
Actually tests are still disabled since we had to revert the change that re-enabled them.

[2018-05-02 16:19] pjanotti commented on #28813
Sorry for missing this earlier @huoyaoyuan - the tests are actually disabled, the active issue #22271 was closed incorrectly. The only workaround at this moment is the one mentioned by above:

I'm going to close this and we track re-enabling this via #22271.

[2018-05-02 16:19] #28813 closed

[2018-05-02 16:52] karelz commented on #8807
@divega @David-Engel @saurabh500 can you please comment on SlqClient plans and how this work fits in?

[2018-05-02 16:59] ptorr-msft commented on #22271
Opening named pipes via `CreateFileFromApp` *should* work in the daily Windows builds now.

[2018-05-02 17:02] karelz commented on #29414
FYI: Fixed references .NET Standard -> .NET Framework (it was a bit confusing)

Marked as compat bug

[2018-05-02 17:07] davidsh commented on #29450
`InitializeWebRequest` is an internal method in the .NET Framework.  When HttpClient was first introduced in .NET 4.5, it had to wrap around the legacy HttpWebRequest stack.  HttpClient and related classes were placed into a separate System.Net.Http.dll binary while the rest of the networking stack is in System.dll.  HttpClient needed to call internal methods of HttpWebRequest and so various mitig

[2018-05-02 17:09] vancem commented on #29448
Note that the 'Write<T>' mechanism addresses may address your concerns.  You can certainly use it to log some fixed schema events.

Please take a look at https://blogs.msdn.microsoft.com/vancem/2015/10/02/dynamically-defined-events-in-eventsource-v4-6/ for more details.

Another possibility is to use DiagnosticSource (see https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Diagnost

[2018-05-02 17:09] davidsh commented on #29450
In terms of being able to manipulate ServicePointManager/ServicePoint classes, those classes are not functional in .NET Core.  New mechanisms for controlling connection related properties are now available directly in the HttpClientHandler class.  And, as always, we welcome feedback, API proposals, and PR's to make enhancements to these modern HTTP types.

[2018-05-02 17:09] davidsh commented on #29450
cc: @karelz

[2018-05-02 17:12] davidsh commented on #29452
To be clear here, ServicePointManager is a no-op in .NET Core for either HttpWebRequest or HttpClient classes.

On .NET Core and .NET Framework, both HttpWebRequest and HttpClient have method or properties available for handling the equivalent ServerCertificateValidation callbacks.

[2018-05-02 17:29] qmfrederik commented on #29426
@hughbe Try calling the `./find-libgdi` with `LD_DEBUG=all` or `LD_DEBUG=libs`, e.g.:

[code]

See http://www.bnikolic.co.uk/blog/linux-ld-debug.html for some other values of `LD_DEBUG` you can test.

Perhaps `libgdiplus.dylib` depends on another library which cannot be found. You can list them using `otool -L libgdiplus.dylib`

[2018-05-02 17:36] janvorli commented on #29427
Fixed

[2018-05-02 17:37] stephentoub commented on #29427
Re-opening to track port to release/2.1.

[2018-05-02 17:58] stephentoub commented on #29452
It is actually used in a limited capacity by HttpWebRequest in .NET Core:
https://github.com/dotnet/corefx/blob/8bf18073962f0ebb0e8333c5f6a419d9f14b435b/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L1152-L1157

[2018-05-02 18:31] rmkerr commented on #21202
It looks like all of these are failing because they contain the Unicode LTR control character. Historically we have stripped control characters out of URIs, and that behavior is causing the issue here. We calculate the index of the end of the path and then strip out the control character, shortening the string and causing the index to fall beyond the end of the string.

I'm not sure exactly what t

[2018-05-02 18:32] Lxiamail opened #29458 "verify/add test coverage for issue #29253"
Why didn't we catch the issue #29253 in our testing? Running test automation on desktop framework should have caught the issue, need to check why it didn't. If test automation can't cover the issue, we need to add manual test to cover it.

[2018-05-02 18:33] janvorli commented on #29380
@CliffordOzewell I don't see the OPENSSL_ROOT_DIR being set there.
The line below should fix the build:
[code]
or you can just prefix the build.sh with the variable setting like this instead:
[code]

[2018-05-02 18:34] MohammadHamdyGhanem opened #29459 "Add search methods to the StringBuilder"
# The Urge:
The StringBuilder class doesn't contain methods to search for the position of a string such as Contains,  IndexOf, LastIndexOf, IndexOfAny and LastIndexOfAny.
In some situations it is not efficient to use StringBuilder.ToString().IndexOf() to find these parts, such as when you add strings to the SB in a loop, and want to ensure it is not duplicated, so you need to search for them first

[2018-05-02 18:36] CliffordOzewell commented on #29380
@janvorli ok let me correct that.

[2018-05-02 18:40] CliffordOzewell commented on #29380
now it is this

# Setting PATH for Python 3.6
# The original version is saved in .bash_profile.pysave
PATH="/Library/Frameworks/Python.framework/Versions/3.6/bin:${PATH}"
export PATH=/Users/cliffozewell/Library/Python/3.6/lib/python/site-packages:$PATH

# Setting PATH for Python 3.6
# The original version is saved in .bash_profile.pysave
#PATH="/Library/Frameworks/Python.framework/Versions/3.6/bin

[2018-05-02 18:42] AlexMAS opened #29461 "CmsSigner.ComputeSignature() throws CryptographicException"
Hello!

I try to use `CmsSigner` from `System.Security.Cryptography.Pkcs` with an X.509 certificate which uses GOST algorithms (Russian Cryptographic Standards). And when I call `ComputeSignature()` it throws `CryptographicException` like below.

[code]

To eliminate this exception in .NET Framework 4.5 I used [CryptoConfig](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.

[2018-05-02 18:50] CliffordOzewell commented on #29380
@janvorli  now this is what the compiler is complaining about :

Cliffs-iMac:corefx-new cliffozewell$ ./build.sh
Tools are already initialized
Running: /Users/cliffozewell/Desktop/Repos/corefx-new/src/Native/build-native.sh   x64  Debug  OSX  --numproc 4  -portable  toolSetDir=c:\tools\clr
Setting up directories for build
Checking pre-requisites...
Commencing build of corefx native components for

[2018-05-02 19:07] CliffordOzewell commented on #29380
Yes I will post them right now

Sent from my iPhone

On May 2, 2018, at 12:01 PM, Jan Vorlicek <notifications@github.com<mailto:notifications@github.com>> wrote:

I assume you have opened a new console after modifying the .bash file, because without that, the env vars would not be set.
You can also verify that the variable is set by

echo $OPENSSL_ROOT_DIR

If it prints the right value and the bui

[2018-05-02 19:25] stephentoub commented on #29453
@ayende, you mentioned you're only able to repro this as part of your full suite, not isolated.  Can you tell what else is going on in the process, and in particular, what the threads in the thread pool look like?  This stack trace shows that it's using the synchronous methods on these streams, but the synchronous methods on HttpClientHandler are all implemented as blocking on top of the async ope

[2018-05-02 19:46] danmosemsft commented on #29459
Could you give more detail/ a code snippet showing what you are trying to do? IndexOf is of course O(n), and would be slower in StringBuilder than string because it's not necessarily contiguous. What you describe sounds like it could use a parallel HashSet.

That isn't to say that it's not reasonable to add these to StringBuilder. Unlike indexing into the buffer, they should have complexity roughl

[2018-05-02 19:49] ayende commented on #29453
I left this running overnight, and I don't think this is it. There are a 112 threads, but not a lot of them.

The server side stack trace is:

[code]

This is reproducible by two specific tests that stream a few tens of thousands of records.
I'm pretty sure that the Gzip is related to this somehow, because I can't reproduce this without it or on 2.0.

I have a dump file (154MB compressed) that I'm

[2018-05-02 19:51] stephentoub commented on #29453
Have you tried mixing and matching, e.g. a 2.0 client with a 2.1 server, and a 2.1 client with a 2.0 server?  Wondering if that would help to narrow it down.

[2018-05-02 19:56] ayende commented on #29453
Okay, something that might be related.

[code]

Looking here:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs#L40

Is it possible that there is a missing `ConfigureAwait(false)` that is causing this to deadlock?

[2018-05-02 19:58] ayende commented on #29453
Link to the dump file: https://drive.google.com/file/d/1dS9xAMgHz7B5ncTvlLdRvSDCanRWmjRs/view?usp=sharing

[2018-05-02 20:02] davidsh commented on #29318
Can you please attach a WireShark trace and/or a Fiddler trace?  That would help diagnose this problem.

[2018-05-02 20:03] MohammadHamdyGhanem commented on #29459
@danmosemsft
SB has a Replace method, and of cource it first searchs for the string to replace, so why not adding the Contains and IndexOf methods?
In practice, I used a string to check the existance of certain IDs to ensure a correct format, and a SB to make replacements becuase the string is large and I made thousand of replacements!.. My problem could be solved easly if the Replace method retur

[2018-05-02 20:07] rmkerr commented on #26092
We haven't hit any instances where the tests initially fail and then pass on retry. I'll go ahead and close this issue for now, though we should definitely re-open it if the error starts occurring again.

[2018-05-02 20:07] #26092 closed

[2018-05-02 20:18] karelz commented on #29450
Technically, we do not track .NET Framework bugs/feature asks on GitHub (see our [main page](https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback) for recommended way to report problems.
That said, our team owns also .NET Framework networking stack, so you got to the right people.
BTW: Referencesource is read-only view of some .NET Framework sources, it was never meant to

[2018-05-02 20:18] #29450 closed

[2018-05-02 20:55] joperezr commented on #29370
This was fixed in release branch via #29407

[2018-05-02 20:55] #29370 closed

[2018-05-02 21:02] tarekgh commented on #28611
@mwoo-o

The .Net framework chose to use the current culture for the default comparisons. You have the choice to perform the comparisons differently as you desired. Just pass the parameter StringComparison.OrdinalIgnoreCase or StringComparison.InvariantCultureIgnoreCase to the comparison APIs and you'll get what you want:

https://docs.microsoft.com/en-us/dotnet/api/system.string.equals?view=netfr

[2018-05-02 21:07] CliffordOzewell commented on #29380
@janvorli here is the output of the CMakeOutput.log :

Cliffs-iMac:CMakeFiles cliffozewell$ cat  CMakeOutput.log
The system is: Darwin - 17.5.0 - x86_64
Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.
Compiler: /Library/Developer/CommandLineTools/usr/bin/clang
Build flags:
Id flags:

The output was:
0

Compilation of the C compiler identification source "CMakeCC

[2018-05-02 21:13] sebastienros opened #29462 "Culture sensitive comparison performance on Linux"
After noticing a very important impact on string comparison algorithms while sorting a list of business objects, I decided to run a benchmark to analyze the differences between Linux and Windows.
The code is here: https://github.com/sebastienros/stringbenchmarks/blob/master/Startup.cs

Result:

|         Description |     RPS |
| ------------------- | ------- |
| Linux - CompareTo | 147,252 |
| Li

[2018-05-02 21:18] stephentoub commented on #29453
Yes.  Are you able to build System.Net.Http.dll to try out a fix?  Can you try adding `.ConfigureAwait(false)` to this line:
https://github.com/dotnet/corefx/blob/6906dbfe66609dd606c84b09462dc1ce1936ef7e/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs#L107
and see if that fixes your issue?  Regardless, I'm going to fix that.

[2018-05-02 21:25] CliffordOzewell commented on #29380
@janvorli  here is the output from CMakeError log:

Cliffs-iMac:CMakeFiles cliffozewell$ cat CMakeError.log
Determining if files linux/in.h exist failed with the following output:
Change Dir: /Users/cliffozewell/Desktop/repos/corefx-new/bin/obj/OSX.x64.Debug/native/CMakeFiles/CMakeTmp

Run Build Command:"/usr/bin/make" "cmTC_d340f/fast"
/Library/Developer/CommandLineTools/usr/bin/make -f CMakeFile

[2018-05-02 21:25] joperezr commented on #22271
sorry @pjanotti you are right, I didn't track the revert. I'll assign this to you since you are the area owner now.

[2018-05-02 21:27] joperezr commented on #28833
Yes, we fixed all of the issues we started seeing with the runtime facades on 4.7.2 as we found them, so all of this should be fixed on 4.7.2. That said, we should probably still keep this open for people targeting lower versions. Thanks a lot for checking though 😄

[2018-05-02 21:30] FlyingWraptor commented on #29414
My apologies for any use of the wrong terms/names which may have caused some misunderstandings.

[2018-05-02 21:36] danmosemsft commented on #14398
@jamesqo happened to come across this. Are you still interested in finding optimizations in StringBuilder? I like the incremental, data-based approach @vancem suggests.

[2018-05-02 21:51] CliffordOzewell commented on #29380
@janvorli   also the path is now set correctly for Openssl
echo gave me the expected results

[2018-05-02 21:54] bartonjs commented on #29461
In .NET Framework the SignedCms work is done by the OS, so registering additional algorithms with CAPI or CNG enables these scenarios.

We need a very different registration system than what we had in .NET Framework to enable being the primary extension point.  For a simple hash/digest algorithm it's probably always the case that the ASN AlgorithmIdentifier value is either `{ oid, NULL }` or ` { o

[2018-05-02 21:57] tuespetre opened #29463 "NewExpression assumes the result of GetGetMethod will be non-null"
If the `GetMethod` is non-public, `GetGetMethod()` will not return it, and a `NullReferenceException` can occur.

https://github.com/dotnet/corefx/blob/ff7aca470c71e5bcc00f09147b1c009b3944863c/src/System.Linq.Expressions/src/System/Linq/Expressions/NewExpression.cs#L316

[2018-05-02 21:58] cdmihai commented on #29095
@JeremyKuhne I can repro it on the msbuild repo: https://github.com/dotnet/cli/issues/8819#issuecomment-386130496

[2018-05-02 22:16] Lxiamail commented on #29253
@StephenBonikowsky can you port this to corefx 2.1RTM branch?

[2018-05-02 22:18] mwoo-o commented on #28611
@tarekgh
Are you suggesting to use
string.Compare(string1, string2, StringComparison. InvariantCultureIgnoreCase)?

In our code, we have a lot of
 string.Compare(string1, string2, true)
If we change it to use StringComparison. InvariantCultureIgnoreCase, do you see any impact on other
locales that will cause different behaviors?

[2018-05-02 22:28] karelz commented on #29414
No worries, now we are all on the same page and that's what matters :)

[2018-05-02 22:29] rmkerr commented on #28406
In .NET Core Preview 2 and .NET Framework 4.7.2 this throws the expected `UriFormatException`. Closing as this appears to be fixed.

[2018-05-02 22:29] #28406 closed

[2018-05-02 22:36] CliffordOzewell commented on #29380
now its throwing a _zero as null pointer constant_ error:

Cliffs-iMac:corefx-new cliffozewell$ ./build.sh
Tools are already initialized
Running: /Users/cliffozewell/Desktop/Repos/corefx-new/src/Native/build-native.sh   x64  Debug  OSX  --numproc 4  -portable  toolSetDir=c:\tools\clr
Setting up directories for build
Checking pre-requisites...
Commencing build of corefx native components for OSX.x6

[2018-05-02 22:36] pjanotti commented on #29313
Fixed via https://github.com/dotnet/corefx/commit/1cb15dfc8bcf0673443f3431dbdceb1b008dab87

[2018-05-02 22:36] #29313 closed

[2018-05-02 22:39] danmosemsft commented on #29462
@stephentoub

[2018-05-02 22:39] danmosemsft commented on #29427
Ported

[2018-05-02 22:39] #29427 closed

[2018-05-02 22:39] danmosemsft commented on #29427
Thanks @conradakunga perhaps you can try latest daily build tomorrow and confirm it's fixed?

[2018-05-02 22:57] tarekgh commented on #28611
@mwoo-o

You need to look at the places you are doing string comparison in your code and figure out if the comparison you are doing is one of the following cases:
- Does the comparison need to be performed linguistically according to the current culture (whatever the user choose the current culture)? if so, then you don't need to pass the StringComparison at all and we'll use the current culture t

[2018-05-02 23:01] mwoo-o commented on #28611
@tarekgh
Thank you very much for the information. We will need to go through 100+ string.Compare() calls. Will let you know if we have questions.

[2018-05-02 23:35] StephenBonikowsky commented on #29253
Port PR: #29466

[2018-05-02 23:38] joperezr commented on #29052
Closing for now since it seems like this hasn't failed again for a while.

[2018-05-02 23:38] #29052 closed

[2018-05-02 23:43] danmosemsft commented on #29462
Trying to find our perf tests for these..

[2018-05-03 02:31] stephentoub commented on #29453
Re-opening to track 2.1 port.

[2018-05-03 03:28] VenkateshSrini commented on #29452
Thanks for the insight

[2018-05-03 03:28] #29452 closed

[2018-05-03 04:48] AlexMAS commented on #29461
@bartonjs Thank you for your comprehensive reply.

Yes, I understand what you are talking about and suspected that there are many reasons for it. Currently I try to port on .NET Core my cryptographic library which works with GOST CSPs. Most of the unit tests are green except ones with signatures. :)

Hope you will have progress with the extensibility API in the nearest future. :)

[2018-05-03 05:44] Sebbs128 opened #29472 "ColorTranslator giving Named Color with null Name"
I've just come across this issue. So far I have only the one reproducible case, but I can verify this is a break in behaviour from .NET 4.6.2.

Under .NET Core 2.0 using the package System.Drawing.Common v4.5.0-preview2-26406-04, `ColorTranslator.FromWin32(16777215)` returns a `Color` with `IsNamedColor == true`, but `Name == null` instead of `White`

[code]

[EDIT] Add C# syntax highlighting by @

[2018-05-03 11:48] slozier opened #29474 "StartsWith/EndsWith not giving expected results on Linux"
Both of these are passing on Windows but failing on Linux (Ubuntu 16.04 over WSL). Also fails if I use the invariant comparison.
[code]

[2018-05-03 11:53] svick commented on #29463
If I understand it correctly, you're saying that the following code should not throw `NullReferenceException`, right?

[code]

Though I don't understand your suggested fix. The caller can indeed choose to pass in a `MethodInfo` for the non-public getter, but this issue happens when it doesn't do that. My suggested fix would be to use `GetGetMethod(nonPublic: true)` here.

[2018-05-03 12:48] mrquake commented on #29318
yes.. here it is:

GET https://management.azure.com/subscriptions/xxxxx-xxxxx-xxxxx-xxxxxx-xxxxxx/providers/Microsoft.Commerce/RateCard?api-version=2016-08-31-preview&$filter=OfferDurableId%20eq%20'MS-AZR-0017P'%20and%20Currency%20eq%20'USD'%20and%20Locale%20eq%20'en-US'%20and%20RegionInfo%20eq%20'US' HTTP/1.1
Connection: Keep-Alive
Content-Type: application/json
Accept: application/json
Authoriza

[2018-05-03 13:12] tuespetre commented on #29463
@svick that is correct. I was just mentioning the ability to pass in the `MethodInfo` to show that we already have the ability to give the `NewExpression` a `PropertyInfo` with a non-public getter. My suggested fix was using `GetMethod` instead of `GetGetMethod()`, and `GetMethod` calls into `GetGetMethod(nonPublic: true)` so it looks like we were on the same page but a different word 😉

[2018-05-03 13:15] stephentoub commented on #29453
Fixed in release/2.1.

[2018-05-03 13:15] #29453 closed

[2018-05-03 13:17] stephentoub commented on #29400
We already have a separate test that does that:
https://github.com/dotnet/corefx/blob/175984f5c05de918effd97bf322fb002e0da925b/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs#L16

I added both because I wanted to be able to also test against a different implementation of Brotli.  But if it's problematic we can just delete the external one.

[2018-05-03 13:24] stephentoub commented on #29049
I believe the issue has been fully explored, so I'm going to close this.  If there's still an open issue here, please feel free to clarify and re-open.

[2018-05-03 13:24] #29049 closed

[2018-05-03 13:29] stephentoub commented on #28787
@krwq, I don't see any remaining references to `IdnMapping` under `corefx\src\System.Net.Http\src\System\Net\Http\SocketsHttpHandler`.  Is there anything more to be done here?

[2018-05-03 13:33] nn-afly commented on #28652
:+1:

[2018-05-03 13:37] stephentoub commented on #28283
@GrabYourPitchforks, we decided not to do this, right?  Checking whether we can close this.

[2018-05-03 13:39] stephentoub commented on #28301
@mairaw, anything you want to do for the docs regarding the above?

I'm going to close this issue, as there's nothing left to do for corefx.

[2018-05-03 13:39] #28301 closed

[2018-05-03 13:44] stephentoub commented on #28046
This has probably been discussed before, but is there anything reasonable we could do in the runtime to make it a non-breaking change to change a signature from:
[code]
to
[code]
such that code compiled against the former would "just work" with an implementation containing the latter?  Then code compiled against the new signature would get the allocation benefit but code compiled against the older

[2018-05-03 14:11] jkotas commented on #28046
You can have both `Enumerator GetEnumerator()` and `IEnumerator<T> GetEnumerator()` methods in the IL. It is just that you cannot do that in C# today. It is possible to hack it via IL rewriting, e.g. the implementation can contain both methods, but reference assembly just the new one. The problem with introducing such non-standard overload in the implementation is that it would break reflection or

[2018-05-03 14:38] svick commented on #28046
@jkotas

Wouldn't that mean that if you upgrade to the newer reference assembly, code that does any kind of type inference will start behaving differently? E.g.:

[code]

I think that's an unacceptable breaking change.

[2018-05-03 14:44] marcin-chwedczuk opened #29476 "WebProxy uses pascal case for parameter names"
I am using version `4.3.3` of `System.Net.Http` package. When I tried to setup proxy for HttpClient I noticed that `WebProxy` class uses pascal case for constructor parameter names. For example see line:
https://github.com/dotnet/corefx/blob/8cb7675e8702d76dad15f1ac9858abe475b8324c/src/System.Net.WebProxy/src/System/Net/WebProxy.cs#L22
This is against .NET coding conventions which states that para

[2018-05-03 14:55] jkotas commented on #28046
This is a general problem with introducing overloads. If the new overload has same behavior as the old one (ie it is unlikely to change the behavior of existing code silently), I believe it has been considered as an option.

[2018-05-03 15:00] stephentoub commented on #29476
This type has been around for a very long time with these parameter names.  While they're unfortunately named, changing them is a breaking change, and it's not worth the compat break to change them.

[2018-05-03 15:37] Lexcess commented on #27468
Hello again, so we've been working to create a reproduction of this issue I wanted to give an update.

We can only consistently repro the behaviour in our production environment with the newer Nuget package. We don't see it if we change the environment (to say a local desktop, an Azure web app etc...). We haven't had the time to trying reverting the Nuget package, but older existing builds with th

[2018-05-03 15:45] karelz commented on #29476
Agreed. Sadly, compat wins here over consistency. It is not worth breaking people.

[2018-05-03 15:45] #29476 closed

[2018-05-03 15:55] stephentoub commented on #28058
As an aside, note that you can already extract the inflated data at basically equivalent speeds using existing APIs, namely CopyToAsync.

I pulled down @ericstj's changes for comparison, and then also added this to the benchmark:
[code]
to use the existing `CopyToAsync` overload that takes a buffer size.  The numbers here thus include the calls to transfer the data to the destination stream, for w

[2018-05-03 16:07] electricessence opened #29477 "ConcurrentQueue performance degradation?"
About six months ago I did a study on ObjectPools and different implementations using varying collection types.

I posted my conclusion here: https://www.reddit.com/r/dotnetcore/comments/76w4w2/object_pools_optimistic_array_vs_concurrent_queue/?st=jgqombfc&sh=6a26b8ff

The performance results in color are here: http://telegra.ph/Object-Pools-Optimistic-Array-vs-Concurrent-Queue-Results-10-17

Conc

[2018-05-03 16:09] danmosemsft commented on #29462
The tests are under Tests.System.Tests...

@sebastienros do you have evidence that this ratio is any different to 2.0? From the benchmarks we have, I do see that string comparison on Linux is significantly slower than Windows, but much faster than 2.0, and the ratio has improved.

[2018-05-03 16:09] danmosemsft commented on #29462
https://benchview/trendline?jobgroup=CoreFX&branchId=42&count=200&jobtype=rolling&rtids=[957]&archids=[23]&mpids=[1292]&cfgids=[2706]&testids=[59889,61512,60048,60200,60055,60281,63059,63111,61558,61598,60271,61483,61505,61753,61745,61749]&

[2018-05-03 16:10] stephentoub opened #29478 "Override Stream.CopyTo on DeflateStream"
Stream.CopyTo was made virtual in a previous release of .NET Core.  We override CopyToAsync on DeflateStream, but we don't currently override CopyTo.

[2018-05-03 16:11] stephentoub opened #29479 "Override Stream.CopyTo on FileStream"
Stream.CopyTo was made virtual in a previous release of .NET Core.  We override CopyToAsync on FileStream, but we don't currently override CopyTo.

[2018-05-03 16:26] stephentoub commented on #29477
It looks like your benchmark accesses `ConcurrentQueue<T>.Count` on every operation.  That's going to perform terribly.

[2018-05-03 16:29] stephentoub commented on #29400
I have no idea what implementation is being used by httpbin.org, but I assume it's not the .NET implementation.  If we were to update our endpoint to use the same .NET implementation, that would kind of defeat the purpose.  At which point, we may as well just get rid of this test.

[2018-05-03 16:38] davidsh commented on #29400
Most of the source for httpbin.org is open source here: https://github.com/requests/httpbin

I haven't looked at it to see whether the Brotli is there.

[2018-05-03 16:43] kasper3 commented on #28756
@omajid, thanks! also see https://github.com/dotnet/coreclr/issues/16989#issuecomment-379244780

Ubuntu 18.0.4 has llvm-toolchain with the fix in the official repo.

Debian also has the fix in Buster: http://metadata.ftp-master.debian.org/changelogs/main/l/llvm-toolchain-6.0/llvm-toolchain-6.0_6.0-3_changelog (in `-- Sylvestre Ledru <sylvestre@debian.org>  Tue, 24 Apr 2018 23:24:44 +0200`).

Both

[2018-05-03 17:01] AfsanehR commented on #29211
Closing this issue due to inactivity. If the failure happens again, please feel free to reopen it.

[2018-05-03 17:01] #29211 closed

[2018-05-03 17:02] krwq commented on #28787
@stephentoub, I think we should be able close, @davidsh any other places you can think of?

[2018-05-03 17:03] sebastienros commented on #29462
I could find some culture tests on benchview, but none for string comparison.
I ran the same application on .NET 2.0 too, and I can see some regression on an ASP.NET app so maybe a micro-benchmark would show different results.

Description | RPS - 2.0 | RPS - 2.1 | Delta
-- | -- | -- | --
Linux   - CompareTo | 167931 | 147252 | -12%
Linux   - CompareOrdinal | 319786 | 317025 | -1%
Windows   - Comp

[2018-05-03 17:05] stephentoub commented on #28787
I wasn't aware there was one.  Which were you concerned about specifically?

[2018-05-03 17:23] stephentoub opened #29481 "BeginConnect_EndPoint_AddressFamily_Throws_NotSupported test fails deterministically on netfx on RS4"
[code]

[2018-05-03 17:25] davidsh commented on #28787
It was implied here: https://github.com/dotnet/corefx/pull/28725#issuecomment-378071894

that there was additional IdnMapping "higher up in the stack" with HttpClient.

[2018-05-03 17:28] davidsh commented on #29481
RS4 (Windows 10 April 2018 Update) contains .NET Framework 4.7.2. There was an explicit bug fix for 4.7.2 that made this exception happen when concurrent I/O (a form of misuse) happens with those APIs.

[2018-05-03 17:29] stephentoub commented on #29481
There's no concurrent use in this test.  Seems like the fix may have been broken.

[2018-05-03 17:30] davidsh commented on #29481
See internal bug: 188428

cc: @caesar1995

[2018-05-03 17:37] caesar1995 opened #29482 "[Test] SendAsync_ExpectedDiagnosticSynchronousExceptionActivityLogging is not testing synchronous exception"
The purpose for this test is to verify if synchronous exception activity will be logged for `DiagnosticsHandler` SendAsync/GetAsync.
https://github.com/dotnet/corefx/blob/cebcf436358600a4808656b142a74f57d1e8f6f0/src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs#L505-L519

However, it's not forcing a synchronous exception for SocketsHttpHandler: https://github.com/dotnet/corefx/blob/mas

[2018-05-03 17:38] stephentoub commented on #29481
In any event, I'll fix up the test to not depend on this.

[2018-05-03 17:40] kasper3 commented on #29477
https://github.com/dotnet/corefx/blob/5086f38/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentStack.cs#L127-L158
vs.
https://github.com/dotnet/corefx/blob/5086f38/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentQueue.cs#L266-L337

[2018-05-03 17:44] electricessence commented on #29477
@kasper3 wow ok! LOL  Definitely a big difference.  (Still investigating.  Will have an update soon.)

[2018-05-03 17:45] danmosemsft opened #29483 "Audit awaits on calls that do not have ConfigureAwait(false)"
Generally CoreFX code (being library code) should not allow continuations to return to the thread's synchronization context, as if it's the non default context this will cause overhead and - if the caller is waiting synchronously - possibly deadlocks.

https://github.com/dotnet/corefx/pull/29465 fixed a couple of cases.

There are others. The regex `await (?!(.*ConfigureAwait))` strips almost all

[2018-05-03 17:49] danmosemsft commented on #29462
@sebastienros the link above show's CoreFX perf results. Of course the tests may be poor (they are certainly too few iterations) but they show improvements over 2.0 for Linux.

Can you repeat your benchmark, without ASP.NET in the picture -- just a console app?

[2018-05-03 17:54] electricessence commented on #29477
Confirmed.  When eliminating `.Count` calls, `ConcurrentQueue` behaves as expected.
Thank you for your time.

[2018-05-03 17:54] #29477 closed

[2018-05-03 18:12] geoffkizer commented on #29400
There's also this: https://www.iis.net/downloads/community/2016/03/iis-brotli

[2018-05-03 18:18] tuespetre opened #29487 "NewExpression should allow the use of inherited Members"
https://github.com/dotnet/corefx/blob/5086f389296886774c9009c89d241055e5157c42/src/System.Linq.Expressions/src/System/Linq/Expressions/NewExpression.cs#L225-L228

`NewExpression` does not allow for inherited members to be passed in for the `Members`.

Consider the following snippet in C# interactive:

[code]

Clearly the expression `new myderivedclass(1)` represents the construction of an instance

[2018-05-03 18:26] joperezr commented on #29459
@MohammadHamdyGhanem in case you are interested to provide the formal API proposal as @danmosemsft suggested, here is a good example of how the proposal should look like: #29258

[2018-05-03 18:27] caesar1995 commented on #29482
The correct way to verify synchronous exception in async operation would be:

`Assert.Throws<NotSupportedException>(() => { client.SendAsync(request); });`

This pattern `Assert.ThrowsAsync<Exception>(() => operation).Wait();` is not correct. It will verify async exception as well.

[2018-05-03 18:27] AaronRobinsonMSFT opened #29488 "Official PE specification should also be updated"
Since the .NET compiler is adding new PE Debug Directories definitions _and_ since they are directly/indirectly tied to Microsoft, it makes sense that the official PE specification found [here](https://msdn.microsoft.com/library/windows/desktop/ms680547(v=vs.85).aspx) should be updated to include the new Debug Directories defined at https://github.com/dotnet/corefx/blob/master/src/System.Reflectio

[2018-05-03 18:31] joperezr commented on #29322
Given that this seems to be UAP I'll move the milestone to be UWP vNext.

[2018-05-03 18:33] JeremyKuhne commented on #29095
@cdmihai, can you repro it with a standalone .NET Core app? Can you work with @Anipik to try and get us a repro we can debug?

[2018-05-03 18:47] joperezr commented on #29301
I agree with @karelz on this one. Seems like your scenario is a very specific one and there is a trivial way to fix it (inheriting). Given that, I will go ahead and close the issue for now, but as @karelz said, feel free to reopen in case you come up with different scenarios where inheriting wouldn't be an option and changing behavior or adding a new API would make more sense.

[2018-05-03 18:47] #29301 closed

[2018-05-03 18:49] IASamoylov opened #29490 "The problem of reading from GZipStream with CompressionMode.Decompress"
SDK: 2.1.4
OS: macOS High Series
Microsoft.NETCore.App: 2.0.6

Hi guys. Tell me whether this is a defect or not. When using MemoryStream, the data is not readable? Input data is not empty!

[code]

[2018-05-03 18:56] AArnott commented on #29483
@sharewell True, but IMO we already have an established pattern for this (and analyzers to boot!). Inventing a new pattern, particularly when only a few possibly violations remain in corefx to fix, seems overkill.

[2018-05-03 19:01] #29400 closed

[2018-05-03 19:02] #29481 closed

[2018-05-03 19:30] MohammadHamdyGhanem commented on #29459
@joperezr @danmosemsft
I did my best, despite I see this is a simple obvious request that doesn't need all this effort and time to write all this stuff!
Thanks.

[2018-05-03 19:34] migueldeicaza commented on #28892
It lacks some of the new features, like secure DNS, but it is a starting point.

[2018-05-03 19:37] electricessence commented on #29477
I was able to solve the count problem by adding some Interlocked Increment/Decrement when tracking the enqueue/dequeue (give/take).  And then also added a default to avoid the tracking all together (no counting).  And although the performance benefit of not tracking the count almost negligible, it wasn't zero.

https://msdn.microsoft.com/en-us/library/dd267339(v=vs.110).aspx
The documentation migh

[2018-05-03 19:37] jainaashish commented on #29095
I don't have a rhel72 machine so if someone can provide me a vm, then I can try to give the repro. Send me the details at asja @ Microsoft . com

[2018-05-03 19:38] ygoe commented on #5200
Umm, has this landed in .NET Core 2.0 for Windows already? This bug is still occuring here.

[2018-05-03 19:38] danmosemsft commented on #29459
@MohammadHamdyGhanem in your first code example, the algorithm is potentially quadratic. Why would you not use aHashSet instead of searching? I'm not saying there aren't motivations to add some of these API but maybe not this one.

[2018-05-03 19:41] danmosemsft commented on #29095
@Anipik can you please make this your first priority as we need to know whether there is a 2.1 bug.

[2018-05-03 20:01] caesar1995 commented on #5200
Yes.

.NET Core now fully using managed websocket. If you observe a bug, please open a new issue and attach a working repro.

[2018-05-03 20:03] weshaggard commented on #29095
There is some suspicion this may be the case for the linux failing leg of https://github.com/dotnet/core-setup/pull/4115. Ping me offline and I can share a repo machine.

[2018-05-03 20:08] mrquake commented on #29318
I'm not using any Azure SDK... I do exactly the way is in this code below:

https://github.com/Azure-Samples/billing-dotnet-ratecard-api/blob/master/ConsoleApp-Billing-RateCard/ConsoleProj/Program.cs

[2018-05-03 20:10] MohammadHamdyGhanem commented on #29459
I can use lists to buils large strings so there will be no use for the SB class!
I just gave a usage sample. In practice I was asked to modify large files to replace the IDs, and this was a one time job needed immediately (Programming languages not necessarily used large apps all the Times. Fast dirty code is laso needed in some areas in a daily basis!) . The fastest way is to load the files into

[2018-05-03 20:13] jainaashish commented on #29095
So here is the output of the same sample code ran on rhel72 machine.

[code]
And the content of the same folder:

`
[dotnet-bot@rhel72-20171003-238400 project3]$ cd /home/dotnet-bot/.nuget/packages/microsoft.netcore.platforms/
[dotnet-bot@rhel72-20171003-238400 microsoft.netcore.platforms]$ ls -al
total 28
drwxrwxr-x.   6 dotnet-bot dotnet-bot   85 Oct  3  2017 .
drwxrwxr-x. 140 dotnet-bot dotnet-

[2018-05-03 20:17] danmosemsft commented on #29459
Fair enough. I think the argument for at least IndexOf/LastIndexOf is good.

This is basically part of https://github.com/dotnet/corefx/issues/11390

@joperezr will review first

[2018-05-03 20:41] ygoe commented on #5200
My .NET Core has some WinHttpWebSocket in its stack trace, so I'm not sure this is correct. Unfortunately I don't have repros yet, just my complex application and I'm still trying to figure out what happens. I have found other trouble with WebSockets though that I will report in another issue.

[2018-05-03 20:45] huanwu opened #29494 "Port #29442 into 2.1 branch"
#29442
This change need be ported into 2.1 because the xmlserializer will break if passing in any reference path that contains space.

[2018-05-03 20:45] #10443 closed

[2018-05-03 20:56] joperezr commented on #29459
@stephentoub any initial concerns implementation-wise around adding these APIs to StringBuilder?

[2018-05-03 20:58] BruceForstall commented on #28853
@danmosemsft @safern These tests all fail -- in CoreCLR -- when run under under our JIT MinOpts testing, or a subset fail when run with our JIT Stress mode testing. It appears they might depend on a particular set of inlining, which would make the tests invalid -- you can't depend on what the JIT inlines or not.

Can we get these disabled?

Failure examples:
https://ci.dot.net/job/dotnet_coreclr/j

[2018-05-03 21:11] kasper3 commented on #29249
https://github.com/dotnet/corefx/pull/29480 is also merged

[2018-05-03 21:15] sdmaclea opened #29495 "sign.targets error during development (-release) workflow"
When rebuilding w/o a `git clean -x -d -f`
[code]
The second build issues may errors of the form.
[code]

Similar errors occur with this workflow.
[code]

[2018-05-03 21:32] #3205 closed

[2018-05-03 21:35] stephentoub commented on #29459
Which ones in particular?  Just IndexOf and LastIndexOf?

[2018-05-03 21:46] caesar1995 commented on #27468
@Lexcess Thanks for looking into it!

Since we are not able to repro it on our side, we will need a working repro/dump file to further the investigation.

[2018-05-03 21:51] stakx commented on #26184
@karelz, seeing that @AtsushiKan added this to the Future milestone, is there something that will have to be discussed before work on this can get started... or are you OK if I have a go at this?

Without having run any preliminary tests, at first glance it appears that the solution here would be quite simple: In https://github.com/dotnet/coreclr/blob/68e69118275bd37501d068a84290fd72c3852361/src/m

[2018-05-03 21:59] Petermarcu commented on #29343
So this is no longer blocking the release right?

[2018-05-03 22:00] Petermarcu commented on #29249
@ericstj can this be closed?

[2018-05-03 22:05] stephentoub commented on #29343
Correct. The only thing left is to merge the tests into the release branch. That was blocked waiting for an updated coreclr, and now it's just waiting for CI to finish. But obviously we can release without the tests in that branch.

[2018-05-03 22:06] MohammadHamdyGhanem commented on #11390
Also, Replace method should return the No. of Replacements it did via an out param.
This code:
[code]

is more efficient that this one, which will search the sb twice in case the search string exists (suppose IndexOf added):
[code]

[2018-05-03 22:14] huanwu commented on #29047
[Here](https://docs.microsoft.com/en-us/dotnet/standard/serialization/xmlserializer-element) are more description on it. Overall, it is to detect infinite loops during deserialization.
When turn it on, it will initialize an instance of XmlCountingReader. It will call [IncrementCount](http://index/?query=IncrementCount&rightProject=System.Xml&file=System%5CXml%5CSerialization%5CXmlCountingReader.cs

[2018-05-03 22:17] ericstj commented on #29249
Not yet, looks like @stephentoub merged the update but didn't remove these suppressions.  I'll submit a separate PR.

[2018-05-03 22:43] MohammadHamdyGhanem opened #29498 "Allow Regex to match and Replace patterns in StringBuilder"
There is no problem to use regex to match strings in a large string obtained from StringBuilder.ToString( ), but it's not suitable to use Regex.Replace method to replace strings in such large string. The alternative is like this:
[code]
This is code is larger and less efficient then this one:
[code]
Besides, the first code doesn't allow us to use a replacement pattern.

So I suggest to add these n

[2018-05-03 23:01] MohammadHamdyGhanem opened #29499 "Add some new StringBuilder.Replace overloads"
# Suggestions:

I suggest to add some new overloads to the StringBuilder.Replace method to:

# 1- return the no. of replacements via an out param:
This code:
[code]

is more efficient that this one, which will search the sb twice in case the search string exists (suppose IndexOf added):
[code]

# 2- to replace a range of chars with a string:
public StringBuilder Replace(int start, int length, stri

[2018-05-03 23:05] MohammadHamdyGhanem commented on #29459
I made more suggestions about the StringBuilder.Replace method here #29498 and here #29499.

[2018-05-03 23:05] MohammadHamdyGhanem commented on #11390
I made more suggestions about the StringBuilder.Replace method here #29498 and here #29499.

[2018-05-03 23:32] danmosemsft commented on #29095
The problem is we are seeing directories as files. We call readdir and check whether the d_type is DT_DIR.

The issue is that these machines have XFS file system, on which [readdir](https://linux.die.net/man/3/readdir) returns a d_type of DT_UNKNOWN for both files and directories.

In 2.0 encountering DT_UNKNOWN we then fell back to calling lstat to find out whether it's a directory - as the docs

[2018-05-03 23:33] electricessence opened #29500 "Channels: Please include common use extensions."
In my use of channels recently I'm very commonly repeating a simple consumer pattern.
It would be good to have this in the code base so it got reviewed by the community and kept up to date.

#### Common Use Case Example (Simple)

[code]

#### Ideas

I do not know the best way to include this as a proper set of extensions, but just a few examples:

[code]

[code]

[2018-05-03 23:37] davidfowl commented on #29500
This will get solved when the next version of c# adds support for async foreach.

[2018-05-03 23:47] karelz commented on #26184
@AtsushiKan would you take such PR?

[2018-05-03 23:54] danmosemsft commented on #29498
Regex relies heavily on O(1) indexing into the string. StringBuilder has nearly O(n) indexing. It is optimized for appending and staying out of LOH.

[2018-05-03 23:55] sebastienros commented on #29462
With BenchmarkDotNet we can also see regressions on `CompareTo`  but __not__ on `CompareOrdinal`.

### Linux 2.0
[code]

### Linux 2.1
[code]

### Windows 2.0
[code]

### Windows 2.1
[code]

[2018-05-04 00:06] MohammadHamdyGhanem commented on #29498
@danmosemsft
So, I said nothing about the Match method. Regex can sttill use the SB.ToString() for matching, but do the pattern replacement in the SB directly. It will need some work, but it can be done.

[2018-05-04 00:41] stephentoub commented on #29462
Can you please share the benchmark?

[2018-05-04 00:48] sebastienros commented on #29462
https://github.com/sebastienros/stringbenchmarks branch `console`, if you want to adapt it to measure other things (it's doing a Sort for instance) then I can re-run everything on all environments easily, that might save you some time.

[2018-05-04 00:51] sebastienros commented on #29462
Snap, I pushed a change to remove the Sort just before your comment. One commit before in the 'console' branch then.

[2018-05-04 01:03] Lexcess commented on #27468
@caesar1995

[2018-05-04 01:31] IASamoylov commented on #29490
@stephentoub Thanks for the question. I added the new example.

[2018-05-04 01:31] stephentoub commented on #29500
Right. We explicitly didn't add anything here yet as we intend to do so with support ala:
[code]

[2018-05-04 01:32] #29500 closed

[2018-05-04 01:54] stephentoub commented on #29343
Fixed by https://github.com/dotnet/coreclr/pull/17820 and https://github.com/dotnet/corefx/pull/29422.

[2018-05-04 01:54] #29343 closed

[2018-05-04 01:59] stephentoub commented on #29490
It's a bug in your example.  In your Compress method, you're getting the data out of the MemoryStream before it's actually in the MemoryStream.  Try changing your Compress method to instead be:
[code]

[2018-05-04 01:59] #29490 closed

[2018-05-04 02:04] #29249 closed

[2018-05-04 02:27] akashkc commented on #29498
@danmosemsft  : What do you mean by O(1) and O(n) indexing in string and stringbuilder respectively?

[2018-05-04 02:31] asthana86 opened #29503 "StartsWith/EndsWith not giving expected results on Linux"
Both of these are passing on Windows but failing on Linux (Ubuntu 16.04 over WSL). Also fails if I use the invariant comparison.

Debug.Assert("\r\n".EndsWith("\n"));
Debug.Assert("\r\n".StartsWith("\r"));

[2018-05-04 02:34] asthana86 opened #29504 "macosx 10.13.4 corefx build errors"
Building in CLI
Here are my details for the environment:
dotnet: 2.2.100-preview1-008633
openssl: 1.0.2o_1
mono: JIT compiler version 5.8.1.0
cmake: version 3.11.1
xcode : 9.2

Output of the build : Cliffs-iMac:corefx cliffozewell$ ./build.sh
Tools are already initialized
Running: /Users/cliffozewell/Desktop/Repos/corefx/src/Native/build-native.sh   x64  Debug  OSX  --numproc 4  -portable  toolSet

[2018-05-04 02:41] electricessence commented on #29500
#mindblow

I see, so something similar to AsyncEnumerable will solve the 'next' and 'complete' problem.

[2018-05-04 02:41] asthana86 opened #29505 "WebProxy uses pascal case for parameter names"
I am using version 4.3.3 of System.Net.Http package. When I tried to setup proxy for HttpClient I noticed that WebProxy class uses pascal case for constructor parameter names. For example see line:
corefx/src/System.Net.WebProxy/src/System/Net/WebProxy.cs

Line 22 in 8cb7675

 public WebProxy(Uri Address, bool BypassOnLocal) : this(Address, BypassOnLocal, null, null) { }

This is against .NET codi

[2018-05-04 02:59] coolcsh opened #29506 "WebProxy uses pascal case for parameter names"
I am using version 4.3.3 of System.Net.Http package. When I tried to setup proxy for HttpClient I noticed that WebProxy class uses pascal case for constructor parameter names. For example see line:
corefx/src/System.Net.WebProxy/src/System/Net/WebProxy.cs
Line 22 in 8cb7675
public WebProxy(Uri Address, bool BypassOnLocal) : this(Address, BypassOnLocal, null, null) { }
This is against .NET coding c

[2018-05-04 03:19] asthana86 opened #29507 "WebProxy uses pascal case for parameter names"
I am using version 4.3.3 of System.Net.Http package. When I tried to setup proxy for HttpClient I noticed that WebProxy class uses pascal case for constructor parameter names. For example see line:
corefx/src/System.Net.WebProxy/src/System/Net/WebProxy.cs

Line 22 in 8cb7675

public WebProxy(Uri Address, bool BypassOnLocal) : this(Address, BypassOnLocal, null, null) { }

This is against .NET codin

[2018-05-04 03:34] danmosemsft commented on #29498
@akashkc indexing into a string is just a jump to an offset as strings are contiguous areas of memory. Indexing into a StringBuilder requires traversing its data structures which can be slower : https://github.com/dotnet/corefx/issues/25804

[2018-05-04 03:40] davidsh commented on #29505
Duplicate of #29476

[2018-05-04 03:40] #29505 closed

[2018-05-04 03:41] davidsh commented on #29507
Duplicate of #29476

[2018-05-04 03:41] #29507 closed

[2018-05-04 03:41] davidsh commented on #29506
Duplicate of #29476

[2018-05-04 03:41] #29506 closed

[2018-05-04 03:41] jkotas commented on #29504
This was fixed by https://github.com/dotnet/corefx/pull/28768

[2018-05-04 03:41] #29504 closed

[2018-05-04 03:44] jkotas commented on #29503
Duplicate of #29474

[2018-05-04 03:44] #29503 closed

[2018-05-04 04:35] danmosemsft commented on #29095
Need 2.1 port

[2018-05-04 04:38] danmosemsft commented on #29095
@Anipik what is the filesystem on the drive you were testing on? Try `df`

[2018-05-04 05:37] MohammadHamdyGhanem commented on #25804
@danmosemsft
I looked at the source code.. The indexer uses this to traverse the chunks:
chunk = chunk.m_ChunkPrevious;
Each chunk refers to the its prev. chunk omly. This means we should iterate the StringBuilder backward (benchmark it). If you try to move forward, the sarch for each index will start from the last chunk, which is a disaster!
I think this can be solved if each chunck points to its

[2018-05-04 05:44] Chirag260619 commented on #25157
I am getting "Unable to load DLL 'aal2sdk.dll': The specified module or one of its dependencies could not be found."error while loading vasco dll('AAL2Wrap.dll') on linux plateform .Its working fine on windows plateform. Please help.

[2018-05-04 06:07] #29322 closed

[2018-05-04 06:08] #29382 closed

[2018-05-04 06:09] cyberphone commented on #29212
Hi @huanwu @mconnew Sorting in itself doesn't really address any interesting problem.  Anyway, my work with Json.NET as well as with the .NET platform have progressed considerably so you may close this issue now.

https://github.com/cyberphone/json-canonicalization/tree/master/dotnet/es6numberserialization#es6-compatible-json-number-serialization-for-net

https://github.com/cyberphone/json-canonic

[2018-05-04 07:48] fanoI commented on #21803
I'm trying to use @yzrmn Winform on Linux (Cent OS7), I had a problem with the wrong path of libX11 that should have resolved but now I've got this exception:

[2018-05-04 09:45] Quentinb commented on #12537
I know this is an old topic but the situation appears to still be the same. Does .Net core 2.0 / 2.1 not support reading SMTP settings from either the Web.Config or the appsettings.json files yet? The web appears to say no... ?

[2018-05-04 11:31] eiriktsarpalis commented on #25773
Seeing the same issue in VS 15.7 Preview 5 using net461 class libraries and console applications.

[2018-05-04 12:04] MohammadHamdyGhanem commented on #25804
I have implemented a linked list as a sample of data structure in one of my books. I solved the iteration problem by addind these methods to be used instead of for loop:```

        public bool MoveFirst()
        {
            if (FirstCell == null) return false;
            pCurCell = FirstCell;
            return true;
        }

        public bool MoveNext()
        {
            if (pCurCell

[2018-05-04 12:30] MohammadHamdyGhanem commented on #25804
This is the full LinkedList Class:
[code]

[2018-05-04 13:17] MohammadHamdyGhanem commented on #29498
@danmosemsft
I suggested some solutions in #25804, and I suggest to reopen that issue, and try to implement my solution as a pull request.
If SB has the MoveXX methodes as I discribed, it will get red of the indexing overhead, then there will no problem to use it with the Regex.

[2018-05-04 13:27] IASamoylov commented on #29490
@stephentoub thank you for helping me. It's my first experience with GZipStream.

[2018-05-04 13:50] AtsushiKan commented on #26184
If someone wants to grab this item, it's fine by me.

[2018-05-04 14:09] danmosemsft commented on #25157
@Chirag260619 can you please try using the LD_DEBUG environment variable to see where is looking?

[2018-05-04 14:16] mscrivo commented on #28833
@joperezr There is one new issue that I'm now facing.  If I have a .NET Framework 4.7.2 project that references both a .net standard 2.0 project and a nuget package that references some package that references an old `System.Net.Http` package, it will just flat out refuse to build stating that it cannot find `System.Net.Http`.

One example of such a package is: https://github.com/Antaris/RazorEngi

[2018-05-04 14:40] stakx commented on #29254
@AtsushiKan - I'd like to give this a try. Would you accept a PR?

[2018-05-04 14:42] AtsushiKan commented on #29254
Sure, go for it.

[2018-05-04 15:13] stakx commented on #26184
Great, I'll take a look at this then!

@AtsushiKan - I have one question about where to add tests: System.Reflection.Emit is implemented in dotnet/coreclr, but it might be appropriate to also add tests in dotnet/corefx (under https://github.com/dotnet/corefx/tree/master/src/System.Reflection/tests). How would I go about this? Should I wait until a coreclr PR gets merged into master, then send a PR

[2018-05-04 15:19] MohammadHamdyGhanem opened #29510 "Add a MutableString Class that contains the missing StringBuilder functinality"
From many issues and suggestions about StringBuilder class discussed in these topics
- Add search methods to the StringBuilder #29459
- StringBuilder should have all functionality of String #11390
- Allow Regex to match and Replace patterns in StringBuilder  #29498
- Iterating over a string builder by index becomes ~exponentially slow for large builders  #25804
I suggest to Leave the StringBuilder

[2018-05-04 15:25] MohammadHamdyGhanem commented on #29459
I proposed to add a MutableString class that contains the missing StringBuilder functinality  #29510
Hope you help implement it.

[2018-05-04 15:25] MohammadHamdyGhanem commented on #11390
I proposed to add a MutableString class that contains the missing StringBuilder functinality  #29510
Hope you help implement it.

[2018-05-04 15:25] MohammadHamdyGhanem commented on #29498
I proposed to add a MutableString class that contains the missing StringBuilder functinality  #29510
Hope you help implement it.

[2018-05-04 15:26] MohammadHamdyGhanem commented on #25804
@danmosemsft @AndyAyersMS @jkotas @Alois-xx @davkean
I proposed to add a MutableString class that contains the missing StringBuilder functinality  #29510
Hope you help implement it.

[2018-05-04 15:29] AtsushiKan commented on #26184
One more step: wait until CoreFX starts consuming the CoreCLR with your changes (usually takes a couple days after the merge into master)

Other than that, you got it exactly right.

[2018-05-04 15:33] LukasSefcik commented on #17905
I will look at the System.IO.FileSytem.

[2018-05-04 16:05] jkotas commented on #25804
@MohammadHamdyGhanem The efficient string builder iterator was proposed and being worked on by @vancem in https://github.com/dotnet/corefx/issues/21248 / https://github.com/dotnet/coreclr/pull/17530.

[2018-05-04 16:06] stephentoub commented on #29462
@sebastienros, thanks for sharing.

First I'm surprised by some of the absolute values your benchmark shows.  That's saying it took almost 5 microseconds to do that comparison on Linux?  That must be a very slow machine, or something else is going on, as it's at least an order of magnitude more than I'd expect.  I just tried your [Benchmarks]:
[code]
by plugging them into the harness I described i

[2018-05-04 16:06] stephentoub commented on #29462
cc: @tarekgh, @jkotas

[2018-05-04 16:35] joperezr commented on #29459
yeah, as @danmosemsft suggested I think that there is enough argument to add those. I just wanted to know if there where implementation concerns since you have more context on the implementation of SB.

[2018-05-04 16:39] stephentoub commented on #29459
I expect {Last}IndexOf with StringComparison for culture-sensitive comparisons could be challenging, in particular when a match might span across segments.  I'm also not at all convinced we should be adding all of these methods (and those proposed in the other issues just opened, e.g. https://github.com/dotnet/corefx/issues/29498 and https://github.com/dotnet/corefx/issues/29499).  This is attempt

[2018-05-04 16:41] joperezr commented on #25773
@eiriktsarpalis do you mind sharing a small repro so that we check what is going on? net461 shouldn't have this problem at all since the runtime facades have been injected successfully for many VS releases so I'm interested in understanding more about your scenario.

[2018-05-04 16:42] stephentoub commented on #29510
I do not think we should do this.  We already have a plethora of string representations:
- `String`
- `StringBuilder`
- `ReadOnlySpan<char>`
- `Memory<char>`

plus efforts underway to add more:
- `ValueStringBuilder` (https://github.com/dotnet/corefx/issues/28379)
- `Utf8String` (https://github.com/dotnet/corefxlab/issues/2165)

I do not want to see us add yet another one.

[2018-05-04 16:43] joperezr commented on #28833
@mscrivo do you mind sharing a binlog of your build so I can diagnose what is going on? In order to produce a binlog, you just need to call `msbuild yourProject.csproj /bl /t:rebuild` from a developer command prompt

[2018-05-04 16:44] MohammadHamdyGhanem commented on #21248
@vancem
 I hope you look at this and see if you can make use of some ideas:
 Add a MutableString Class that contains the missing StringBuilder functinality #29510
 Note that even if you improve the Indexer, using a for loop with StringBulider is still bad, becuase it iterates all the chunks from the beginning for each index. So, you must also make StringBuilder implement IEnumerator to allow us to

[2018-05-04 16:46] danmosemsft commented on #28853
https://github.com/dotnet/coreclr/issues/17558

@BruceForstall these provide valuable coverage. Can we make them more robust by using inlining attributes? Or skip them in jit stress runs? I realize there is no cast iron guarantee.

[2018-05-04 16:47] danmosemsft commented on #29510
Since we won't create a new stringlike type, I'm going to close this. There's other issues tracking adding more stringlike API to StringBuilder.

[2018-05-04 16:47] #29510 closed

[2018-05-04 16:53] MohammadHamdyGhanem commented on #29510
@stephentoub
@danmosemsft
Adding a new class is a part of the proposal, another part is to use the same ideas to improve the StringBuilder. @vancem is improving the indexer already, but without making the StringBuilder Implement the IEnumerator to use foreach, using the for loop is still a desaster. To Implement the Enumerator, the MoveXX methods I proposed are still needed, and they can make use

[2018-05-04 16:58] rmkerr commented on #20527
This issue has been fixed in curl via [curl/curl#1547](https://github.com/curl/curl/pull/1547). We also have a workaround on our end via the new SocketsHttpHandler available in 2.1 preview. Closing!

[2018-05-04 16:58] #20527 closed

[2018-05-04 17:05] sebastienros commented on #29462
I mentioned it in my previous comment that the results I pasted are not from the HEAD commit on the repository but the commit before, it had ` List.Sort` call on a list of strings using the two comparers, hence the 5ms. This was just to do exactly the same thing as Fortunes is doing. Then I realized that if would make more sense to compare only a single thing so I changed it, I should have created

[2018-05-04 17:07] mscrivo commented on #28833
@joperezr here you go ..
[msbuild.zip](https://github.com/dotnet/corefx/files/1975288/msbuild.zip)

[2018-05-04 17:48] krwq commented on #10396
Here is the example generated pfx/cert which is problematic (pfx password "1111"):

[code]

[2018-05-04 17:57] sebastienros commented on #29462
More data:

Linux - Azure - 2.0

[code]

Linux - Azure - 2.1

[code]

Linux - "Citrine (same hardware as TechEmpower)" - 2.0

[code]

Linux - "Citrine (same hardware as TechEmpower)" - 2.1

[code]

Interestingly the Citrine machines which are much powerful have the same results as the Azure VMs we are using. Note that the Citrine servers don't have Page Table Isolation disabled (Meltdown security

[2018-05-04 18:18] joperezr commented on #28833
thanks a lot! I'm taking a look at the binlog now, I'll let you know if that is not enough.

[2018-05-04 18:41] stephentoub opened #29517 "[UWP] Investigate missing ConfigureAwaits in HttpClientHandler uap implementation"
There are two awaits in the UAP implementation of HttpClientHandler:

https://github.com/dotnet/corefx/blob/9d38df5b1f63aeceec8832411ff6b6d4ab2133ed/src/System.Net.Http/src/uap/System/Net/HttpClientHandler.cs#L477

https://github.com/dotnet/corefx/blob/9d38df5b1f63aeceec8832411ff6b6d4ab2133ed/src/System.Net.Http/src/uap/System/Net/HttpClientHandler.cs#L500

I assume these should have `.ConfigureAw

[2018-05-04 18:49] davidsh commented on #29517
It's a bug.  They should have .ConfigureAwait(false) on them.

[2018-05-04 19:06] mattdot commented on #26845
I've been trying to build a UWP app which reads data from IOT sensors and I've been banging my head against this exact problem.  I can't use pandas or R because I'm in UWP-land and C# doesn't have a decent DataFrame API to use MathNet with in the same way I'd use SciPy with Pandas.  I'm pretty close to just abandoning .NET and building the whole thing in Python with the desktop bridge.  Unfortunat

[2018-05-04 19:31] danmosemsft commented on #29459
Right. I was thinking of the simple ordinal ones.

@vancem had some discussion of making it more stringlike here https://github.com/dotnet/corefx/issues/11390

I don't think we should do any of the elaborate suggestions there (like copy on write) just simply because the complexity of the implementation is already high and it's unlikely it could be done without impacting its 99% use case which is l

[2018-05-04 19:52] BruceForstall commented on #28853
A test that depends on JIT optimization behavior is fragile and, IMO, invalid.

SkipFrames_CallMethod_ReturnsExpected seems particularly bad, e.g.:
[code]
So the code is apparently already, statically, trying to anticipate C# compiler (?) inlining? This test should just be deleted, or fixed to allow any amount of inlining by JIT and/or C# compiler.

Can you explain what this part of VerifyStackFra

[2018-05-04 19:53] danmosemsft commented on #29095
For future reference, this only reproes on XFS if ftype=0, eg in my case:
[code]
This is set at the time the volume is created with mkfs.

[2018-05-04 19:53] #29095 closed

[2018-05-04 19:56] StephenBonikowsky commented on #29253
Approved and merged.
@ericstj Could you close this Issue for us?

[2018-05-04 19:59] ericstj commented on #29253
Yep.  Also, you should request access to CoreFx if this ServiceModel code is going to live here.

[2018-05-04 19:59] #29253 closed

[2018-05-04 20:02] jasallen opened #29523 "System.Memory; nuget does not add reference on Xamarin (4.5.0-preview2-26406-04)"
Latest prerelease nuget appears to have specific Xamarin listing that do nothing and trump the .NetStandard listings that would otherwise work correctly

[2018-05-04 20:03] joperezr commented on #28833
Ok, thanks again for reporting the issue and for the log. I have figured out what is going on in your case, basically, you are hitting two tooling issues which I will go ahead and log for this (one is a SDK issue, the other is a NuGet targets issue). A simple workaround for now, is to add this to your .csproj:
[code]

I have reproed your issue locally and this workaround did work for me. Let me kn

[2018-05-04 20:05] mscrivo commented on #28833
Thanks @joperezr

[2018-05-04 20:08] jasallen commented on #29523
originally had wrong nuget version.  To be clear: `4.5.0-preview1-26216-02` *does work* on Xamarin, it is `4.5.0-preview2-26406-04` that does not

[2018-05-04 20:09] #29483 closed

[2018-05-04 20:09] danmosemsft commented on #28853
@BruceForstall - my mistake I was thinking of the tests recently added to make sure that "throw;" didn't reset the line number of the throwing frame. These ones, the line number doesn't seem too important. It seems sufficient to check that there is a number present.

[2018-05-04 20:14] #29494 closed

[2018-05-04 20:19] danmosemsft opened #29524 "DriveInfo constructor does not accept nonexistent path on Linux, only Windows"
This code throws on Linux but works on Windows:
[code]

This is because in DriveInfo.Windows.cs we do Path.GetPathRoot, but in DriveInfo.Linux.cs we do not.

We should be equally tolerant on Linux so that code ports smoothly.

Note the docs claim only the drive letter is accepted: I'll open an issue against docs.

[2018-05-04 20:26] stephentoub commented on #29524
What do you expect it to do here?  On Windows it calls Path.GetPathRoot so that it can get the drive letter to match.  But on Linux, GetPathRoot will just return '/', which may not be the actual drive it's on.

[2018-05-04 20:31] stephentoub commented on #29462
The CompareToSame lines appear to be highlighting something else.  Note that what you wrote above for the "CompareSame" case is not actually what your benchmark is testing: for "CompareSame" you copied what I had, which was almost the same text but swapping the word "or" for "is" so that there was a difference in the middle.  But your benchmark CompareToSame is actually doing what its name says an

[2018-05-04 20:31] rmkerr commented on #25896
Closing as this test has not failed since March 30th.

[2018-05-04 20:31] #25896 closed

[2018-05-04 20:48] danmosemsft commented on #29524
I can't think of a perfect solution. A "largest common substring" match against DriveInfos from GetDrives() is one possibility. Another is to repeatedly do Path.GetDirectoryName() until you find an existing one (if any). Both are string manipulation, they won't follow links of course.

Not an API I'd design, but may be better than code failing that we could potentially make somewhat useful on Unix

[2018-05-04 20:50] grahamehorner commented on #26528
It would be great if the split worked also with Span<byte> and returned ReadOnlyMemory<ReadOnlyMemory<T>>, ReadOnlySpan<ReadOnlyMemory<T>>

[2018-05-04 20:51] danmosemsft commented on #29524
Even on Windows it doesn't follow junctions, it just cleaves the drive off the front. It's just less common to have junctions on Windows.

[2018-05-04 20:53] ahsonkhan commented on #26528
Clarifying the comment so the generic types show up:
It would be great if the split worked also with `Span<byte>` and returned `ReadOnlyMemory<ReadOnlyMemory<T>>`, `ReadOnlySpan<ReadOnlyMemory<T>> `

[2018-05-04 20:59] grahamehorner opened #29525 "Span<T> Memory<T> support linq"
It would be great if the Span<T> Memory<T> supported linq;

IMHO this would improve the developer experience when slicing/dicing
data while preventing heap allocations

[2018-05-04 21:09] stephentoub commented on #29525
It's quite rare to hear someone talk about using LINQ to avoid heap allocations.  Can you clarify how that would work?

[2018-05-04 21:19] ajcvickers opened #29526 "SEHException EFCore 2.0.2"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/11877 filed by @mysticdotnet since this kind of exception is never thrown by EF.

When i use ef core as orm i have a sehexception

[code]
### Steps to reproduce
Steps are described in this issue: [#1413](https://github.com/OData/WebApi/issues/1413)

### Further technical details
EF Core version: (2.0.2)
Database Provider: (Microsoft.E

[2018-05-04 21:20] ajcvickers commented on #29526
Note from @divega in EF Core triage: the full information about the repro is in https://github.com/OData/WebApi/issues/1413. The OData team has already tried removing EF Core from the repro and the exception went away. Given it is an SEHException, I suspect it isn't a problem with EF Core, but if we run the repro we may be able to identify where it is coming from.

[2018-05-04 21:38] #29430 closed

[2018-05-04 21:39] #29340 closed

[2018-05-04 21:46] rmkerr commented on #25902
Closing as this issue has not occurred since March 2nd.

[2018-05-04 21:46] #25902 closed

[2018-05-04 21:47] caesar1995 commented on #29482
Hmm, after lots of testing, I found `Assert.Throws<NotSupportedException>(() => { client.SendAsync(request); });` is not able to capture the synchronous exception in async operation.

We may need to manually use

[code]

[2018-05-04 21:47] rmkerr commented on #25912
Closing as this failure has not occurred since March 8th.

[2018-05-04 21:47] #25912 closed

[2018-05-04 21:48] grahamehorner commented on #29525
I was thinking eg. a where, orderby could return a linked list of pointers to the readonly span/memory; but not sure if it possible ?

[2018-05-04 21:50] rmkerr commented on #25880
Closing as this issue has not occurred since March 21st.

[2018-05-04 21:50] #25880 closed

[2018-05-04 21:51] rmkerr commented on #25981
Closing as this issue has not occurred since April 12th.

[2018-05-04 21:51] #25981 closed

[2018-05-04 21:52] rmkerr commented on #25980
Closing as this issue has not occurred since April 12th.

[2018-05-04 21:52] #25980 closed

[2018-05-04 21:53] rmkerr commented on #25904
Closing as this issue has not occurred since March 7th.

[2018-05-04 21:53] #25904 closed

[2018-05-04 21:54] gkonterman commented on #29329
@karelz @terrajobst @ViktorHofer I see this has the milestone `future` but can you please give a very raw estimation when it will be implemented/released? Actually, I need to make a business decision about the lack of this API. We really want to move to .net core/.net standard but this API is pretty critical for us.

I assume it will be part of the [Compatibility pack](https://blogs.msdn.microsoft

[2018-05-04 21:55] rmkerr commented on #24275
Closing as this issue has not occurred since March 11th.

[2018-05-04 21:55] #24275 closed

[2018-05-04 21:56] rmkerr commented on #20024
Closing as this issue has not occurred since April 12th.

[2018-05-04 21:56] #20024 closed

[2018-05-04 21:56] sebastienros commented on #29462
Correct, I didn't see this difference, I will add it. I won't add the results here unless you want to, I think I already drowned this thread with too much data already.

[2018-05-04 21:57] karelz commented on #27468
@Lexcess we do not have a secure file transport to use.  In general, we prefer to not receive NDA data directly from GitHub issues.  In such cases we recommend customers to contact official Microsoft support channel (I assume you have one).

Regarding this specific issue:  The problem is that a dump may not be sufficient to root cause the problem.  Also there is possibility that the problem is in

[2018-05-04 21:58] rmkerr commented on #25977
Closing as this issue has not occurred since April 5th.

[2018-05-04 21:58] #25977 closed

[2018-05-04 21:59] rmkerr commented on #24276
Closing as this issue has not occurred since April 18th.

[2018-05-04 21:59] #24276 closed

[2018-05-04 22:04] karelz commented on #29329
We do not have specific plans to port these APIs yet. That's why it is in Future milestone.
Please upvote the top issue.

Please provide more details about your scenario - why you need these APIs. Are there any workarounds you could consider?

[2018-05-04 22:10] danmosemsft commented on #29329
@gkonterman yes, MEF1 is already available in the compatibility pack - aside from the types listed above. It's marked preview, but is good to use now. We expect to mark it stable soon.

If you need the specific types in this issue, the linked PR's will provide them. That won't be in 2.1 but will be in the compat pack daily builds.

[2018-05-04 22:12] karelz commented on #29329
Ah, I missed the pending PR - setting milestone to 2.2.

[2018-05-04 22:35] mguinness commented on #25117
The use of [ReactiveX](http://reactivex.io/) to add an observable wrapper around FileSystemWatcher might be a good solution.

[2018-05-04 22:45] twsouthwick opened #29531 "System.IO.Packaging.Package should have a way to handle common errors with malformed packages"
`System.IO.Packaging.Package` provides a simple abstraction over a container to hold multiple objects in a single entity. This is commonly used in nupkg packages, vsix extensions, appx, and also Office documents. The package format makes heavy use of URIs to maintain relationships between various components. However, Office will allow a user to generate an invalid URI for one of these relationship

[2018-05-04 22:53] caesar1995 commented on #29482
I also found `Reflection` doesn't work well with async operation: when using Reflection to invoke a async method, which returns a Task object, if we don't explicitly call Task.Wait(), the async method will never be invoked.

So we need to modify above try catch example to make Reflection work:

[code]

[2018-05-04 23:00] danmosemsft commented on #25117
Another idea is to offer a pollable watcher (what changed since last snapshot), which would not rely on OS events.

[2018-05-04 23:11] huanwu commented on #29047
By further investigation, the code doesn't actually work as expected. Just need remove it from dotnet core.

[2018-05-04 23:34] karelz commented on #26184
@stakx I sent you collaborator invite. Once you accept, we will be able to assign the issue to you (GH limitation). Assigning to myself temporarily.
Pro-tip: Being collaborator will automatically subscribe you to all repo notifications (500+ day). We recommend to switch the repo to "Not Watching" which will send you notifications only on issues you are tagged, assigned, or you subscribe for explic

[2018-05-04 23:40] karelz commented on #12537
@Quentinb I don't think it is a good idea to parse web.config. It is much higher layer. appsettings.json might be reasonable ...
Which settings do you find useful? Which do you think we should bring over?
Did you consider using your own configuration file and set the settings based on it?

[2018-05-04 23:48] karelz commented on #29526
@ajcvickers FYI: This is not the right repo to route it - first-level analysis needs to happen first. Anyway, let's do it here to find out where to route it ...

@mysticdotnet Is it 100% repro? I see in other reports that more people were able to reproduce it ...
Did you try to get a dump? Did you attach native debugger to look at all first-level exceptions and to see the callstack?

[2018-05-05 00:09] stakx commented on #26184
@karelz: Thanks a lot for the invite. I've gladly acepted it. :)

[2018-05-05 00:10] stephentoub commented on #29525
That would require allocations.

[2018-05-05 00:25] stephentoub commented on #29482
This does not make sense.  Can you please clarify?

[2018-05-05 00:26] stephentoub commented on #29482
This is also not true.

What is the method you're invoking that's synchronously propagating an exception?

[2018-05-05 00:43] davidsh commented on #29482
You don't need to use reflection to hit that unique sync code path.

Just do something like this:

[code]

This will allow you to call the HttpClientHandler.SendAsync() method directly without the HttpClient or HttpMessageInvoker intercepting the null check for the HttpRequestMessage parameter.  Using a pattern like this will let you test the code path here:

https://github.com/dotnet/corefx/blob/

[2018-05-05 00:44] davidsh commented on #29482
You can see with this example that the ArgumentNullException is generated directly from the HttpClientHandler code (which is the codepath that you need to hit to make this test actually test the path we want to test.

Parameter name: request
   at System.Net.Http.HttpClientHandler.SendAsync(HttpRequestMessage request, CancellationToken cancellationToken)
   at ConsoleApp3.MyHandler.SendAsync(HttpR

[2018-05-05 00:46] davidsh commented on #29482
The example above was with .NET Framework.  But if you use the code pattern above you will be able to hit the right code paths in CurlHandler, WinHttpHandler, and SocketsHttpHandler.

I.e.

https://github.com/dotnet/corefx/blob/3ecf563f751f1817a6e0f60c9e7ee8d044e28951/src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.cs#L446

[2018-05-05 01:30] dlstucki commented on #29163
It's unfortunate the original report of this problem, from 2016, was closed because it's happened to show a call stack from WinHttp. There were a number of "me toos" on that thread. Now it has the appearance of half as many people are asking for it and only being 17 days old.

[2018-05-05 01:34] dlstucki commented on #29163
How might the HttpResponseMessage be exposed via some exception in the future? I imagine it would somewhat parallel WebException.Response but I can't find any appropriate exception type.

I may even consider trying to write a PR for this issue, I'm just not sure what the contract should look like since you've said WebException is considered legacy.

[2018-05-05 01:59] stephentoub commented on #29525
If someone wants to use LINQ with `Memory<T>`, they can do so via `MemoryMarshal.ToEnumerable()`.  Given that, I'm going to close this. Thanks.

[2018-05-05 01:59] #29525 closed

[2018-05-05 03:49] mrquake commented on #29318
please take a look at the Sadiqh Ahmed Microsoft (MSFT CSG) answers in this link below:

https://social.msdn.microsoft.com/Forums/azure/en-US/72de1bac-9657-434f-8811-365c9fe09a69/authentication-information-is-not-given-in-the-correct-format-check-the-value-of-authorization?forum=windowsazurepurchasing

[2018-05-05 05:25] ericwj commented on #29430
Is this fixed then? Where did the stray subfolder come from?

[2018-05-05 06:05] MohammadHamdyGhanem commented on #25804
@jkotas
A linked list should not have a chunk list. Consider this situation:
If you use the StringBuilder.Insert( ) Or Replace  method they may need more space, and hence call the
private void MakeRoom that can create a new chunk before the current one:

This will corrupt the chunk list, and if you try to sync it, it may affect the performance badly. So, as I proposed before, a double linked list

[2018-05-05 10:41] roji opened #29534 "DiagnosticSource listener/event names for SqlClient and other ADO providers"
As part of PRs submitted by @liuhaoyang to add DiagnosticSource tracing support [to Npgsql](https://github.com/npgsql/npgsql/pull/1910) and [to MySqlConnector](https://github.com/mysql-net/MySqlConnector/pull/493), a conversation has started in https://github.com/npgsql/npgsql/pull/1910 about how this support should look like.

[The DiagnosticSource docs](https://github.com/dotnet/corefx/blob/mast

[2018-05-05 10:42] roji commented on #29534
/cc @bgrainger @liuhaoyang @divega @ajcvickers

[2018-05-05 10:58] liuhaoyang commented on #29534
FYI @yuleyule66

[2018-05-05 11:32] Anipik commented on #29095
I used the Docker image available in MS repository for RHel7.2 . I will  post the file system as soon as I am able to use my desktop

[2018-05-05 12:41] MohammadHamdyGhanem commented on #25804
@jkotas
I can't believe that the best SB iterator is  a recursive function that calls a callback function!.. If SB has only 10 MB of text, this means 10 million pushes to the stack waiting for 10 millions callbacks, just to print or count something. Using enumerators is the only efficient way.

[2018-05-05 12:42] MohammadHamdyGhanem commented on #21248
@vancem
I can't believe that the best SB iterator is  a recursive function that calls a callback function!.. If SB has only10 MB of text, this means 10 million pushes to the stack waiting for 10 millions callbacks, just to print or count something. Using enumerators is the only efficient way.

[2018-05-05 12:50] MohammadHamdyGhanem commented on #21248
@vancem
Seems that the idea changed, but why do you need a spanor a memory to do enumeration?.. Just pass through and throw, using two variables to hold the current chunk and current charIndex. But this will need that each chunk has another ref to its next chunk.

[2018-05-05 12:53] jkotas commented on #25804
None of the proposals considered had the characteristics you are describing. The latest version of the proposal is in fact enumerator. Check the proposed implementation in dotnet/coreclr#17530.

[2018-05-05 13:19] MohammadHamdyGhanem commented on #25804
@jkotas
Sorry, I read the first proposal, but it chanded after a long discussion.

[2018-05-05 13:45] stephentoub commented on #25804
The first proposal didn't have those characteristics, either.

[2018-05-05 14:00] Quentinb commented on #12537
@karelz thanks for the response. In my case, DB connection settings and SMTP would be the most used. I generally use the appsettings.json for .Net core projects and add required settings in there such as custom values etc.

In my case recently, I have a .Net core as well as .Net Full framework Web app that uses the same common assembly for sending email and I need to send emails from both apps usi

[2018-05-05 14:54] CyangYu opened #29535 ".NET Core is incompatible with ncurses6.1 on Linux"
The previous version of mono also miss this problem
If you run "dotnet run" command on tty, it's normal, but in terminal, it crash

[2018-05-05 16:01] divega commented on #29534
Thanks for the heads up @roji.

We have talked about the possible benefits of having a standardized pattern for event names and categories across ADO.NET providers. Ideally a diagnostics tool listening would be able to identify at least the common events without having knowledge of specific providers. We also talked about the possibility of adding helpers in System.Data.Common to make this easier.

[2018-05-05 16:32] davidsh commented on #28107
The title of this issue references the words "client certificate".  But I don't see where client certificates are being in the code snippet above.  Does this repro involves any client certificates?  If so, this code snippet above should be adding those client certificate(s) to HttpClientHandler like this:

[code]

I just see the server certificate that comes from the server "auth.dimoschalkideon.g

[2018-05-05 16:35] davidsh commented on #28107
Also, we have seen issues with the .NET Core 2.0 Linux HTTP stack (which uses Curl).  It sometimes has been returning this error:

You might want to try out .NET Core 2.1 Preview 2.  It uses a new HTTP implementation, SocketsHttpHandler.

See; https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/

[2018-05-05 16:47] karelz commented on #29535
@CyangYu did you try to look at the crash? Are you sure it is caused by .NET Core and not other components?

[2018-05-05 16:51] davidsh commented on #16598
Based on reading the discussion on this issues and some workarounds that worked, I suspect the problem is related to several things.

What authentication schemes is the server requesting?  It sounds like either Negotiate or NTLM is being requested by the server.

Using default credentials from a Linux host trying to authenticate against a Windows Active Directory has many requirements in order to

[2018-05-05 16:52] #16598 closed

[2018-05-05 17:26] #29535 closed

[2018-05-05 17:38] stephentoub commented on #29474
Dup of https://github.com/dotnet/corefx/issues/4587, and specifically see https://github.com/dotnet/corefx/issues/4587#issuecomment-219087701.

[2018-05-05 18:01] hpbieker commented on #29147
Where you able to reproduce this?

[2018-05-05 18:06] karelz commented on #12537
I understand that it would be convenient, however, it would also limit flexibility. Each application type can decide on its own how to handle configuration today, where to read it from - is it per app? Machine wide? Or per user?

.NET Core console apps traditionally use appsettings.json file, but it can be named or placed anywhere else. AFAIK same goes for ASP.NET Core app - there is not fixed con

[2018-05-05 18:25] LandonCampbell commented on #8645
@sshinault Did you ever find a solution? I'm getting this from C# AWS lamba functions too.

[2018-05-05 18:27] karelz commented on #29340
@Lxiamail you moved it to 2.1 milestone, but the PR went only into 2.2. Updating milestone back. If it was ported to 2.1, please link the porting PR and adjust milestone.

[2018-05-05 18:29] karelz commented on #29340
Ah, it was ported in PR #29494 into release/2.1 branch
BTW: @huanwu using PR/issue numbers in titles is not telling much about what the PR/issue truly tracks :( - I would recommend to use copy of original title with [release/2.1] prefix or something like that. Thanks!

[2018-05-05 18:32] karelz commented on #29340
Also, for future I would recommend to reopen bugs after checkin into master to track the port. Now we have 2 issues both (this one and #29494) tracking the same fix in release/2.1. We usually use 1 issue with 2 PRs (master and release/2.1).

[2018-05-05 18:43] karelz commented on #29474
Closing as duplicate of #4587

[2018-05-05 18:43] #29474 closed

[2018-05-05 19:10] davidsh commented on #29210
Since the question seems to be answer, closing this issue.

[2018-05-05 19:10] #29210 closed

[2018-05-05 19:14] davidsh commented on #5888
Span<T>, for example, is the new efficient way to pass in these kind of string types instead of StringBuilder. So, closing this issue.  If there are new API proposals that would benefit from using Span<T> in the WebUtility class, then please open a new API proposal issue.

[2018-05-05 19:14] #5888 closed

[2018-05-05 21:37] davidsh commented on #3832
Not really needed at this point to invest in a large test effort. It would be better to simply react to any bugs in this area and add tests at that point.

[2018-05-05 21:37] #3832 closed

[2018-05-05 21:42] davidsh commented on #26344
Haven't seen this test failure again.  Closing.

[2018-05-05 21:42] #26344 closed

[2018-05-05 21:45] davidsh commented on #28556
Haven't seen this test failure since. Closing.

[2018-05-05 21:45] #28556 closed

[2018-05-05 21:45] davidsh commented on #28545
Haven't seen this test failure since. This timeout failure might be related to infra problems with OSX at that time. Closing.

[2018-05-05 21:45] #28545 closed

[2018-05-05 23:29] bgrainger commented on #29534
I started drafting some thoughts/proposal about ADO.NET DiagnosticSource events yesterday; sharing the document here in case it's useful: https://docs.google.com/document/d/1SKrW3uKQk8l9UOkGmaW_TjKk0qCm_lpZm5p5u69Zp4E/edit?usp=sharing

(Google Docs for now, happy to move to Markdown if people think it's useful. DM me if you want editing rights.)

[2018-05-06 03:25] davidsh commented on #27846
I didn't dig into why the call fails on Win7 on the loopback server side, probably there is limitation in Win7 schannel, because the failure is very consistent.

This is not a limitation on Win7.  The reason why the loopback server did not receive a client certificate is because the client (WebSocket.Client) did NOT send one.

On newer versions of Windows (after Windows 7), an TLS/SSL server (i.e.

[2018-05-06 05:14] danmosemsft commented on #29095
@anipik I think we can set this issue aside now. It is fully understood and fixed.

[2018-05-06 15:41] roji commented on #29534
@bgrainger have made some comments, I think it may be a good idea to move the conversation here, to make it more accessible etc.

[2018-05-06 17:48] jamesqo commented on #14398
@danmosemsft The StringBuilder code is quite complex so it would take a while for me to implement this. Maybe this can be marked up-for-grabs?

[2018-05-06 18:32] karelz commented on #28841
This is not something we plan to do / take for WinHttpHandler, closing.
There is a workaround, which is applicable to all HttpClientHandlers. There is no evidence that WinHTTP can do anything more than that in lower layers anyway.

[2018-05-06 18:32] #28841 closed

[2018-05-06 18:42] karelz commented on #28521
Given that this is bug in external component (WinHTTP), I don't think we should do anything here. The tests are disabled on non-SocketsHttpHandler:
https://github.com/dotnet/corefx/blob/9e8c200f0888a1db590da8ffa026aa7384771611/src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs#L577-L580

Closing.
cc @davidsh

[2018-05-06 18:42] #28521 closed

[2018-05-06 18:44] karelz commented on #28418
@Zuendelmeister did you get chance to try it on 2.1?

[2018-05-06 18:54] karelz commented on #28060
The tests are now limited to SocketsHttpHandler only, the test cases are invalid, so I think we are fine.
It is not worth to improve them and codify the Desktop behavior IMO. cc @davidsh

The tests:
https://github.com/dotnet/corefx/blob/9e8c200f0888a1db590da8ffa026aa7384771611/src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs#L591-L595

[2018-05-06 18:54] #28060 closed

[2018-05-06 18:57] karelz commented on #27970
It is not actionable without repro. Closing. Feel free to reopen if there is repro, or deeper analysis pointing to a specific problem.

[2018-05-06 18:57] #27970 closed

[2018-05-06 18:59] karelz commented on #27951
No repro yet. Closing. If you have a repro, or more details leading to root-cause, feel free to reopen. Thanks!

[2018-05-06 19:10] codywd commented on #26966
I'm on Arch Linux, with dotnet-sdk-2.1.105-1, and dotnet-runtime-2.0.7-1. This issue is still occuring for me, is a later version the one with the fix? I installed this from AUR using https://aur.archlinux.org/packages/powershell/, and I modified the pkgbuild to remove TERM=xterm before build.sh

[2018-05-06 19:14] karelz commented on #27549
Looks like we don't have enough information / repro to make it actionable. Closing.
If there is a repro or more detailed analysis, feel free to reopen.

[2018-05-06 19:14] #27549 closed

[2018-05-06 19:32] Dargmuesli commented on #26966
I guess you need to wait for the runtime 2.1 release within the next two months.

[2018-05-06 19:40] kasper3 commented on #26966
I thought it's supposed to be released in next two days?

But anyways, https://www.archlinux.org/packages/community/any/dotnet-sdk/ has the updated 2.0 now. @codywd, do you get this issue in powershell only or any project?

before:

[code]

was failing with

if that is working now, then PowerShell is somehow picking up old SDK. Otherwise, it is it still failing then something is wrong with package

[2018-05-06 19:46] davidsh commented on #27761
@luvhsail Looking at the code of the repro you posted, I think I understand the problem with the UWP app.

Your repro is trying to pass Default Credentials for the Windows Authentication to connect to your website/service.  I see this in your code:

[code]

In order for a UWP app to send Default Credentials to a server, there are 2 requirements.

First, the capability for EnterpriseAuthentication

[2018-05-06 19:49] davidsh commented on #27761
Please make the modifications as indicated above for your app/service.  If your are still having problems after that, then please reply back to this issue. Closing for now.

cc: @karelz @rmkerr

[2018-05-06 19:49] #27761 closed

[2018-05-06 19:55] codywd commented on #26966
@kasper3 When using the -p command, it tells me to specify a property and it's value. I simply dropped the -p, and it seems to build correctly. I'll follow up with the PowerShell git. Thanks!

[2018-05-06 19:56] davidsh commented on #27761
Note that using explicit credentials doesn't require listing the DNS name in the Local Intranet zone. But not sure if that is a possibility for your app.

[2018-05-06 19:57] Dargmuesli commented on #26966
That would be great. Afaik the release schedule said Q2 2018, but maybe I confuse something here.

[2018-05-06 20:02] codywd commented on #26966
@Dargmuesli Is there a PKGBUILD ready for the preview?

[2018-05-06 20:04] Dargmuesli commented on #26966
See @instalab's comment above. I don't have a working PKGBUILD right now, I'll just wait ;)

[2018-05-06 20:07] davidsh commented on #14612
HTTP/2.0 supports a very efficient stream multiplexing feature on a single TCP connection.  The goal is to add HTTP/2.0 to the new SocketsHttpHandler which is used on all platforms (Windows, Linux) starting with .NET Core 2.1.

Currently SocketsHttpHandler does not support HTTP/2.0. We hope to add this support in a future version after .NET Core 2.1.

Thus, there isn't a need to try to add legacy

[2018-05-06 20:07] #14612 closed

[2018-05-06 20:14] davidsh commented on #10146
This issue has changed over the course of discussion from a problem with Curl to a documentation issue for Linux HTTP stack (CurlHandler).

Starting with .NET Core 2.1 (available now as Preview 2), we have a new HTTP stack, SocketsHttpHandler, that works on both Windows and Linux.  In terms of the some of the client certificate problems discussed on this GitHub issue, you may find the problem work

[2018-05-06 20:14] #10146 closed

[2018-05-06 20:25] davidsh commented on #20066
It is possible that the "The server returned an invalid or unrecognized response" error is a limitation/bug in the WinHttpHandler HTTP stack (which uses native WinHTTP) on Windows.

Starting with .NET Core 2.1 (available now as Preview 2), there is a new HTTP stack, SocketsHttpHandler, that works on both Windows and Linux.

See:
https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-cor

[2018-05-06 20:25] #20066 closed

[2018-05-06 20:42] davidsh commented on #17174
Looks like this was fixed in Curl with this commit.  Probably need Curl version 7.59 or later:
https://github.com/curl/curl/commit/452203341d6e97b8f52f9a886046d9fdb96346a9

![image](https://user-images.githubusercontent.com/7684835/39677611-f065afb4-5132-11e8-91ce-a04a0394d344.png)

Please make sure your Linux Distro has this latest Curl. If you are still having problems, please open up a new issu

[2018-05-06 20:42] #17174 closed

[2018-05-06 20:42] codywd commented on #26966
@Dargmuesli Unfortunately, building Powershell-Git fails with the following error:
"/opt/dotnet/sdk/2.1.300-preview2-008530/Roslyn/Microsoft.CSharp.Core.targets(52,5): error MSB6006: "csc.dll" exited with code 131. [/home/XXX/.cache/yay/powershell-git/src/powershell/src/ResGen/ResGen.csproj]

These are the PKGBUILDS I made (modifying @instalab's):
dotnet-runtime: https://gist.github.com/codywd/745

[2018-05-06 20:45] kasper3 commented on #26966
my mistake; `-p` is a shorthand for `--project` option on `dotnet-run` command.

[2018-05-06 20:54] codywd commented on #26966
@kasper3 With that info, `dotnet run -p someApp` sucessfully returns `Hello World`

Seems to be something with PowerShell for sure.

[2018-05-06 22:19] MohammadHamdyGhanem opened #29537 "DateTime.Parse has strange behavior!"
DateTime.Parse(string s) has strange behavior!
According to docs at: https://docs.microsoft.com/ar-sa/dotnet/api/system.datetime.parse?view=netframework-4.7.1#System_DateTime_Parse_System_String_ :

This means:

`var D = DateTime.Parse("1/15/2018");`

is equivilant to:

`var D = DateTime.Parse("1/15/2018", CultureInfo.CurrentCulture);`

So, that code will have different results on different PCs!..

[2018-05-06 23:25] #29537 closed

[2018-05-06 23:40] MohammadHamdyGhanem commented on #29537
@stephentoub
There is a non-breaking solution that can be done at the IL level by translating the Parse(s) to Parse(s, c) where c is the exact culture used. This will preserve existing codes, let us use our cultures, and make the code run the same wayy on all PCs whatever their CurrentCutlure is. Is this possible?

[2018-05-07 00:06] svick commented on #29537
@MohammadHamdyGhanem I don't see how. How is your solution going to figure out if `Parse(s)` should be old-style or new-style?

[2018-05-07 00:10] MohammadHamdyGhanem commented on #29537
@svick
I don't understand the question. Please quote the phrase that confuses you.

[2018-05-07 03:07] Emeryao commented on #25102
in my case of Docker container with base image `microsoft/aspnetcore:2.0.5`
after running these commands the error disappear
[code]

[2018-05-07 03:12] danmosemsft commented on #14398
@jamesqo - for sure, just wanted to check first.

[2018-05-07 07:34] huga007 commented on #29269
faced the same issue

[2018-05-07 10:48] sawachika-kenji commented on #22910
In Google Chrome the cookie name is "name1" and value is "value1,name2=value2", this is obviously wrong,
the correct should be:
cookie1: name is "name1" and value is "value1"
cookie2: name is "name2" and value is "value2"

[2018-05-07 12:11] Burnaster opened #29538 "DateTime.ToShortDateString on Linux"
I already saw the issue #11221, and i respect that .NET core uses the operating system cababilities and that they may differ from what we see on windows.

**Problem:**
The DateTime.ToShortDateString produces a different string on a Linux (cflinuxfs2 / Ubuntu 14.04) or a Windows 10.
E.g. for "de-CH"
On Windows "01.01.2016"
On Linux "01.01.16"

It seems to me that ToShortDateString uses the "SHORT"

[2018-05-07 12:14] ChristianHaase commented on #27951
I'm so sorry, we've had problems with our test server. We just got it rebooted yesterday, and I'm working on a repro. I'll make sure to upload the repro, once I've tested it. My apologies.

[2018-05-07 13:49] shanalikhan opened #29540 "Azure Web Sites environment detected. Using 'D:\home\ASP.NET\DataProtection-Keys' as key repository; keys will not be encrypted at rest."
Tried to Publish the .NET Core 2.1 Latest Preview application in Azure Web App ( App Service ) through visual studio.

Received the following log in `stdout` folder set in `web.config`.

[code]

Why its using data protection i only have OAuth Client ID , Secret and Mongo Credentials in `appsettings.json` file in my simple project.
Is there any way to disable it

[2018-05-07 14:15] #26184 closed

[2018-05-07 14:34] gpomykala opened #29541 "Uri unable to parse URL longer than 263 characters"
AFAIK anything up to 2000 characters ought to be supported.

Reproduction:

`   var s = "http://www."
                    + string.Join("", Enumerable.Repeat("a", 249))
                    + ".com";

            new Uri(s, UriKind.Absolute);`

One letter shorter one is being parsed with no issue:

`   var s = "http://www."
                    + string.Join("", Enumerable.Repeat("a", 248))

[2018-05-07 14:49] #29541 closed

[2018-05-07 14:50] gpomykala commented on #29541
https://stackoverflow.com/questions/8724954/what-is-the-maximum-number-of-characters-for-a-host-name-in-unix

[2018-05-07 15:15] cskwrd opened #29542 "AsnReader and AsnWriter support?"
I was wondering why these classes are marked internal. Poking around, these classes (and maybe the Asn1Serializer) seem like they would be all that is required to truly generate certs from .NET core, solely from managed.

What am I missing? Why aren't these classes part of the public API?

[2018-05-07 15:32] TylerBrinkley commented on #15453
VS 15.7 is live and with it so is C# 7.3's support for the `Enum` constraint. Now that that's a reality, I'd love for this proposal to be pushed to target a release in .NET Core 2.2! Let's make this happen. @msft let me know what more this proposal needs to be reviewed. Thanks.

[2018-05-07 15:54] CliffordOzewell commented on #29380
Anyone there?

[2018-05-07 16:17] niemyjski commented on #29368
@danmosemsft We just upgraded exceptionless to 2.1-rc and will be testing it and doing benchmarks. I'll let you know how it goes! We are very excited so far and are seeing good numbers across the board.

[2018-05-07 16:26] masonwheeler commented on #29365
This is very needed.  Not being able to build and save assemblies is currently my #1 biggest blocker for updating to .NET Core, and I'd really like to see getting this very fundamental API up to speed made a higher priority than working on new features.

[2018-05-07 16:30] tarekgh commented on #29538
@Burnaster I am still seeing a gap between short and Medium. for example, if you want 12/13/1952, this is not short nor medium.

Would it be better to suggest the change to the ICU library, to update the short formats for such locales? the only concern I have, if we expose a new API, we'll still have a gap and will need to expose more APIs to fill such gaps. so fixing the ICU would make more sense

[2018-05-07 16:37] stakx commented on #26164
The PR linked above just got merged, so this can be closed. Reflection on the CoreCLR is going to report a `DefaultValue` of `null` for an optional parameter of the form `DateTime arg = default`.

[2018-05-07 16:37] #26164 closed

[2018-05-07 16:50] Clockwork-Muse commented on #29537
@MohammadHamdyGhanem -

What they mean is....

How is the compiler/JIT going to know that `DateTime.Parse("Sonntag, 6. Mai 2018")` needs the German culture?  Or to look at your Arabic culture case, how will the system know what `DateTime.Parse("1/12/2018")` actually parses to - is the month December or January?

The answer is, they can't, the best they can do is attempt to use "current culture".

[2018-05-07 16:55] tarekgh commented on #29538
The other idea could be, when we read the short date format from ICU we always force the 4-digit year instead of a 2-digit year.

@Burnaster does this will be better for you?