[2016-10-13 21:47] kouvel commented on #11631
Fixed by #12392

[2016-10-13 21:47] #11631 closed

[2016-10-13 21:47] kouvel commented on #11729
Fixed by #12392

[2016-10-13 21:47] #11729 closed

[2016-10-13 21:47] kouvel commented on #11231
Fixed by #12392

[2016-10-13 21:47] #11231 closed

[2016-10-13 21:49] karelz commented on #2252
Changing sorting algorithm might be dangerous from compat perspective.
I have hard time to imagine a new API name (Sort_GreatBehaviorIfAlmostSorted?)
I also wonder if it wouldn't be better to create a library which sits on top of .NET Core. Maybe this is not the best thing to have directly embedded in the platform.

Thoughts?
cc: @weshaggard @terrajobst @Priya91

[2016-10-13 21:50] ryanbrandenburg opened #12632 "Empty resx files cause ResourceManager to throw exception"
If you create a resx without any resources in it then try a `ResourceManager.GetString` call that would have to consult that resx it will throw a `BadImageFormatException` with the message "Corrupt .resources file. Unable to read resources from this file because of invalid header information. Try regenerating the .resources file.".
## Expected Behavior

I would expect the ResourceManager to just n

[2016-10-13 21:55] #6414 closed

[2016-10-13 22:04] weshaggard opened #12633 "Move FileStream into System.Runtime"
Due to various dependencies we need to move FileStream into System.Runtime as well as the implementation into System.Private.CoreLib.

See discussion at https://github.com/dotnet/standard/issues/52

I've started created a proof-of-concept branch that moves just the APIs in the contracts here
https://github.com/weshaggard/corefx/commit/e77e2b39371e5e3f202e4f8222bf3f73c9a70455, but the primary work

[2016-10-13 22:07] stephentoub commented on #12633
Ouch.  There's no way around that?

[2016-10-13 22:13] karelz commented on #2454
Looks like we need API proposal here.
The default should not change as @stephentoub said above due to compat.

[2016-10-13 22:16] karelz commented on #2865
We need API proposal here.

[2016-10-13 22:22] karelz commented on #3740
We are fine with removing the 'artificial' MAX_PATH enforcement in .NET Core code and leave the limit check on underlying OS.
Just make sure (incl. tests) that the exception is same as it used to be with the MAX_PATH check.

[2016-10-13 22:25] karelz commented on #5920
We are adding APIs back in netstandard2.0 effort.

[2016-10-13 22:25] #5920 closed

[2016-10-13 22:36] 304NotModified commented on #12260
What does checked and unchecked mean in the start post?

[2016-10-13 22:38] karelz commented on #8142
We need API proposal

[2016-10-13 22:38] AlexGhiondea commented on #12260
@304NotModified I am not sure what you mean. Could you give me a link to what you were asking about?

[2016-10-13 22:40] karelz commented on #8681
Did you get chance to debug it and find out what is wrong?

[2016-10-13 22:43] karelz commented on #8821
We need formal API proposal.

[2016-10-13 22:44] karelz commented on #8931
Looks useful. Can someone put together formal API proposal please?

[2016-10-13 22:47] CIPop commented on #10732
Duplicate of #11067.

[2016-10-13 22:47] #10732 closed

[2016-10-13 22:55] CyrusNajmabadi commented on #2252
Out of curiosity, why?  Other platforms (like Java) provide this and that's a good thing IMO.

[2016-10-13 23:08] karelz commented on #11575
Not worth having it around now.

[2016-10-13 23:08] #11575 closed

[2016-10-13 23:09] Priya91 commented on #11324
.NET Core Collections need to be cleaned up to throw ArgumentNullException in the specified cases in the issue description.

[2016-10-13 23:11] weshaggard commented on #12633
I'm open to ideas but right now there are reflection APIs that have direct dependencies on FileStream as well as plenty of things in CoreLib that need to read files so no matter what we will have a copy of some amount of it in there.

[2016-10-13 23:11] karelz commented on #6104
We need formal API proposal.

[2016-10-13 23:31] weshaggard commented on #8622
@VitaliyMF are there scenarios where you need only parts of what is now in System.Data.Common? Is it the size on disk that is of concern for you or is there another reason you want them separated?

[2016-10-13 23:38] JeremyKuhne commented on #3740
I'm fine with removing this as well. Just make sure there is a test that creates a semaphore with a length greater than MAX_PATH (1K would be a good choice) and add a comment that we're letting the API kick back names that are too long rather than pre-validating them.

If, for some reason, we get back an error that says the name is too long (say, with a 10K name or on Windows 7) we should make sur

[2016-10-13 23:43] jkotas commented on #12633
My comment from other thread:

Pretty much any core runtime implementation I can think of needs to access files. I do not think we are getting a lot of positive value by keeping it up stack (except for WinRT - but that can be dealt with in isolation) - if the FileStream is upstack, the core runtime needs to have its own LowLevelFileStream sort of type anyway.

Some thoughts on implementation:

- I

[2016-10-14 00:02] karelz commented on #2252
Feels to me like rather specific API, not a problem majority of devs will hit. Anyway just my view point (may be wrong).

I wasn't aware of that. Would you have suggestion based on the other platforms then? Formal API proposal is the next thing needed.

[2016-10-14 00:04] CyrusNajmabadi commented on #2252
Note: i'd prefer it to *not* be a specific API.  I'd far prefer the default Sort to just actually be good at dealing with inputs of a certain form.  That's one of the reasons it's the default for Python and why Java uses it as well.  It's not only very good at the worst inputs, but it's *extremely great* at certain types of inputs that do arise in practice.

[2016-10-14 00:20] karelz commented on #2252
By specific I meant, not commonly needed.

If there are no compat concerns from others (@weshaggard @terrajobst), I'll be fine with that as well.
Obviously such change should come with perf tests and perf measurements comparing the old vs. new behavior (on nearly-sorted and random inputs).

[2016-10-14 00:21] joperezr opened #12635 "TestTFM get's unset for execution when passed in"
Some recent change broke the scenario where you run:
[code]
What the above is supposed to do, is to trigger a build of `<SomeLibrary>.Tests.csproj` after the filtering is done, and pass in TestTFM=netcoreapp1.0. This is true, except that now somewhere during the build of `<SomeLibrary>.Tests.csproj` we are unsetting the property of TestTFM, which is causing the actual execution of the tests to run

[2016-10-14 00:23] CIPop commented on #12526
@Priya91 What is the difference in behavior between .Net Desktop and .Net Core (current implementation, if we don't perform this check)?

[2016-10-14 00:25] weshaggard commented on #2252
From a compat prospective it is definitely high risk. When we switched to IntroSort in the framework we broke all sorts of things from different errors conditions to different stable sorting behavior. We spent a lot of time digging out of the whole on that switch and had to add a bunch of quirks. From that experience I would be very hesitant to change the core sorting algorithm but instead would r

[2016-10-14 01:43] CIPop commented on #12601
/cc @ericeil

I've isolated this issue to a single Dev Box, the only one I have with 12 logical cores. Two other boxes (8 logical cores) took 11/12 minutes.
Since it has something to do with the number of cores, this could be a manifestation of #12217.

@Clockwork-Muse, out of curiosity, how many logical cores does your machine have? (Sounds odd :) but...) Can you try on a machine with less cores?

[2016-10-14 01:46] CIPop commented on #12601
@weshaggard Is there anything else other than .\clean; .\sync; .\build that I should to do ensure that the build tools or anything else particular to this machine gets updated?
I've already verified that dotnet.exe is ver 1.0.1.4500 in both the affected and one of the unaffected machines.

[2016-10-14 01:53] dotnet-mc-bot opened #12637 "Test failure: System.Net.Tests.HttpWebRequestTest/ContentLength_Get_ExpectSameAsGetResponseStream"
Opened on behalf of @jiangzeng

The test `System.Net.Tests.HttpWebRequestTest/ContentLength_Get_ExpectSameAsGetResponseStream` has failed.

[code]

Stack Trace:

[code]

Build : Master - 20161013.03 (Core Tests)
Failing configurations:
- Fedora.23.Amd64
  - AnyCPU-Debug

Link:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/201

[2016-10-14 03:05] Clockwork-Muse commented on #12601
@CIPop - Two logical processors (I'm back on my old desktop since moving back from Japan - Core2 Duo 6600.... yeah, refresh after Thanksgiving)

[2016-10-14 03:05] bartonjs commented on #12608
Weird, I thought I sent this this morning, but apparently not.

https://github.com/dotnet/coreclr/blob/3acc1bf985e7bf4c038df1c68ac5c941954eafca/Documentation/building/osx-instructions.md#openssl is up to date.  Apparently we have a redundant copy in corefx that needs to be updated.  Thanks for pointing it out.

[2016-10-14 03:50] shmao opened #12638 "[Impl] Port Implementation of System.Xml.XmlMtomReader/XmlMtomWriter"

[2016-10-14 03:56] shmao opened #12639 "[Impl] DataContractJsonSerializer.ctor(Type, string, IEnumerable<Type>) Throws PNSE"

[2016-10-14 06:02] Jackcu opened #12640 "Question: What is the TcpListener.BeginAcceptTcpClient I/O Model in DotnetCore 1.0.x"
I already know the BeginXXX(AMP) or XXXAsync(TAP) use IOCP in .NetFramework , then now I want to construct httpServer build on dotnetcore . so I need to know the inner mechanism.

http://stackoverflow.com/questions/39993130/what-is-the-tcplistener-beginaccepttcpclient-i-o-model-in-dotnetcore-1-0-x

[2016-10-14 06:20] JeremyKuhne commented on #11125
#12437

[2016-10-14 06:20] #11125 closed

[2016-10-14 06:21] JeremyKuhne commented on #10934
#12437

[2016-10-14 06:21] #10934 closed

[2016-10-14 06:22] JeremyKuhne commented on #10698
#12035

[2016-10-14 06:23] #11123 closed

[2016-10-14 06:24] JeremyKuhne commented on #10935
Without System.Security this isn't useful to implement. If we get strong feedback we can consider possible workarounds.

[2016-10-14 06:25] JeremyKuhne commented on #11124
#12437

[2016-10-14 06:25] #11124 closed

[2016-10-14 06:27] JeremyKuhne opened #12641 "Make IsolatedStorage enumerator return an empty set"

[2016-10-14 06:28] JeremyKuhne commented on #10936
#12641 to track making this return empty, closing the more complicated scenario pending user feedback.

[2016-10-14 06:28] #10936 closed

[2016-10-14 07:29] VitaliyMF commented on #8622
@weshaggard since we already have small and lightweight System.Data.Common in netstandard1.6, I think it is good idea to keep ability to have minimal footprint for .net core microservices / .net native apps.

Main concern not the size on the disk of course, but excessive dependencies: in .NET Core we have possibility to declare dependencies only on (small) assemblies that are really needed; good e

[2016-10-14 08:41] CodesInChaos commented on #3275
@ianhays

Following that logic, `SortedDictionary` itself is too specific, since you can (inefficiently) emulate it by sorting an array. The whole point of a sorted dictionary is its O(log(n)) access cost, the same is true for my proposed methods.

My personal experience is, that in most of the cases where a sorted dictionary seems useful, I also need this functionality. So I still think this prop

[2016-10-14 09:04] Jackcu commented on #12640
I have just resolved.

**In windows:**
AcceptAsync use the AcceptEx+SocketAsyncEventArgs(IOCP)
BeginAccept use the AcceptEx+SafeNativeOverlapped(IOCP)
Reference from:
https://github.com/dotnet/corefx/blob/release/1.0.0/src/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
https://github.com/dotnet/corefx/blob/release/1.0.0/src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArg

[2016-10-14 09:15] #12640 closed

[2016-10-14 10:32] Opiumtm opened #12643 "Improve "dynamic" performance"
`dynamic` feature today have extremely awful performance.
Dynamic typing in .NET languages (C#, VB) isn't used much, mostly because of intolerable slow performance and some bugs in implementation (there are memory leaks in dynamics, for example).

Some third-party libraries provide fast reflection based on IL emit at runtime to have fast access to object members. Even standard reflection API provi

[2016-10-14 11:20] xoofx opened #12644 "Allow for ArrayPool<T> to create buffers with a different minimum length"
Related to PR  #12642

## Problem

Currently, the default minimum length that can be rented from an `ArrayPool<T>` is hardcoded to 16 in a few places, in [DefaultArrayPool.cs](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Buffers/src/System/Buffers/DefaultArrayPool.cs#L35) and in [Utilities.cs](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f

[2016-10-14 11:24] stephentoub commented on #12644
cc: @KrzysztofCwalina, @sokket

[2016-10-14 11:48] stephentoub commented on #10698
@JeremyKuhne, @12035 added negative tests only, right?  What about actual functional tests?

[2016-10-14 12:14] erik-kallen opened #12646 "Possibility of hang in ReaderWriterLockSlim in case of ThreadAbortExceptions"
I just finished investigating an issue that I am pretty sure boils down to ReaderWriterLockSlim not being resistant to ThreadAbortExceptions.

If an asynchronous exception (eg. a ThreadAbortException) is thrown eg. on https://github.com/dotnet/corefx/blob/master/src/System.Threading/src/System/Threading/ReaderWriterLockSlim.cs#L300, the ExitMyLock() method will never be called and the next attempt

[2016-10-14 12:21] stephentoub commented on #12646
Thanks for the issue @erik-kallen.

Are you using the .NET Framework (aka "desktop") or .NET Core?  This repo contains the code for the latter, but thread aborts are not exposed/available in .NET Core.

[2016-10-14 12:24] erik-kallen commented on #12646
I am using .net framework.

I did not know that .net Core does not have ThreadAbortExceptions, you learn something new every day, in that case I gues it is not an issue with Core but I would appreciate if you could forward the issue to the team that handles .net framework.

[2016-10-14 12:29] erik-kallen commented on #12646
@stephentoub I am using .net framework.

I did not know that .net Core does not have ThreadAbortExceptions, you learn something new every day, in that case I gues it is not an issue with Core but I would appreciate if you could forward the issue to the team that handles .net framework.

[2016-10-14 13:16] stephentoub commented on #12646
cc: @kouvel

[2016-10-14 13:18] svick commented on #12643
Could you point out where exactly are the memory leaks? Are there issues for them?

Could you share those measurements (including the measured code)?

[2016-10-14 13:47] #12242 closed

[2016-10-14 14:08] Opiumtm commented on #12643
@svick Here are benchmarks:
https://github.com/Opiumtm/CodeExamples/tree/master/ReflectionBenchmark

Benchmark results (UWP .NET Core Release x64). It **isn't** compiled using .NET Native toolchain.
[code]

Most interesting results here are (for a case we're talking about):
[code]

"Dynamic" call scenario is:
[code]

Reflection cached delegate scenario is:
[code]

Basline plain .NET method invoke,

[2016-10-14 14:33] Opiumtm commented on #12643
@svick
And same test compiled using .NET Native toolchain

[code]

On .NET Native `dynamic` performs even worse.

[2016-10-14 14:34] stephentoub commented on #12633
Of course.  And we have the FileStream in coreclr that we use for that purpose, so certainly it'd be nice to consolidate down to a single one.  A few concerns:
- The native dependencies, which you mention, and I agree it likely makes sense to think of the repo boundary as not being there and just use System.Native.  I do not expect enough churn in the calls made between FileStream and the shim to

[2016-10-14 14:56] jkotas commented on #12633
This makes sense to me. The stack is likely going to be using ArrayPool more heavily - having it in corelib makes it easier to have private interface with the GC and optimize the pooling strategy.

[2016-10-14 15:36] karelz commented on #12608
Do you plan to delete the CoreFX stale version and just link the one in CoreCLR repo?

[2016-10-14 15:38] karelz commented on #2252
That's what I was afraid of. Seems like creating standalone library with assortment of sorting algorithms is the best approach here.

[2016-10-14 16:00] SedarG opened #12652 "Add uap10.1 configuration to System.Diagnostics.Tracing"
Related with #12013

[2016-10-14 16:05] ericeil commented on #12601
On my Surface Pro 4 (i5, 2 cores, 4 logical processors), package restore takes ~45 minutes; it's been that way for months.  I've been running Windows preview builds that whole time, so maybe that makes a difference?

[2016-10-14 16:12] benaadams commented on #12601
Antimalware Service Executable or  Microsoft Windows Search Indexer/Protocol Host doing anything exciting during this time? They like to go a bit wild depending if I'm restoring to somewhere excluded or not.

[2016-10-14 16:30] SedarG commented on #12652
This is currently blocked because S.D.Tracing can't be built even targeting netcore50aot.
https://github.com/dotnet/corefx/commit/7ed55c8e4114770f0705b82d856d97d08568de2a and https://github.com/dotnet/corefx/commit/0521ba9f809de30e4d8325b3833b4a9ae0ab50d8 brought some codepaths that weren't in netcore50aot before to be included now, and the new code paths are causing build errors.

i.e. System.Dia

[2016-10-14 16:39] AlexGhiondea opened #12655 "Add tests for new String.Join overloads"
Once dotnet/coreclr/pull/7621 makes its way over to CoreFx, we need to add tests for the new APIs.

[2016-10-14 16:42] AlexGhiondea commented on #10714
@joperezr is this something we can start working on now?

[2016-10-14 16:43] MattGal commented on #12608
Thanks @bartonjs !  The previous instructions actually didn't help, so I really appreciate the redirection.

[2016-10-14 16:43] AlexGhiondea commented on #9877
@sepidehMS is this still something we need to do?

[2016-10-14 16:44] AlexGhiondea commented on #9582
@stephentoub do you know who is working on this?

[2016-10-14 16:47] AlexGhiondea commented on #12565
@alexperovich can you work with @tarekgh on this?

[2016-10-14 16:49] stephentoub commented on #9582
At the moment, no one, at least not with a specific serialiation focus.  In many places, it's happening organically as part of folks bringing up other components and adding back members, at which point they're adding back the relevant ones here.

At one point I'd written/run a little tool to mark the types that were in corefx that needed to be made serializable.  This is out-of-date now, and some

[2016-10-14 16:50] AlexGhiondea commented on #12550
@sepidehMS is there specific work that we need to do when UWP support comes online to remove it, or would it happen as part of the UWP work?

[2016-10-14 17:01] AlexGhiondea commented on #12309
@jkotas do you know if the actual implementation in CoreCLR is missing or is this just about exposing APIs that already exist in CoreCLR?

[2016-10-14 17:03] ericstj commented on #12601
@benaadams was just going to suggest that.  Our measurements of restore show that it is typically network and disk bound.  First phase as it populates the full set of packages is network bound, with some contention due to shared resources in multiple projects (eg: every project backs up behind the one guy downloading the System.Runtime package).  Second phase as it writes out all project.lock.json

[2016-10-14 17:03] sepidehMS commented on #12550
The only change needed for this is to remove the file from Common directory and also remove it from any `csproj `that uses it (currently just one).

[2016-10-14 17:04] sepidehMS commented on #9877
@AlexGhiondea yes, these tests need to be re-written so that they no longer use checksum for verification.

[2016-10-14 17:07] jkotas commented on #12309
The sources should be there for the most part; but it requires editing of model.xml and the usual tweaks to make everything build, etc.

[2016-10-14 17:12] sepidehMS commented on #12144
Done by https://github.com/dotnet/corefx/pull/12609

[2016-10-14 17:12] #12144 closed

[2016-10-14 17:12] sepidehMS commented on #12239
Done by https://github.com/dotnet/corefx/pull/12609

[2016-10-14 17:12] #12239 closed

[2016-10-14 17:12] sepidehMS commented on #12173
Done by https://github.com/dotnet/corefx/pull/12609

[2016-10-14 17:12] #12173 closed

[2016-10-14 17:12] sepidehMS commented on #12172
Done by https://github.com/dotnet/corefx/pull/12609

[2016-10-14 17:12] #12172 closed

[2016-10-14 17:15] danmosemsft commented on #12592
Also [ComVisible] can be removed

[2016-10-14 17:26] Clockwork-Muse commented on #12601
@ericstj - My CPU is pegged, but it's listing dotnet.exe at >50% (as high as 80%).  RuntimeBroker occasionally shows up in the 15-30% range, but is usually way lower, as are the various Windows Defender-related stuff.
I'm neither network nor disk bound, not at this point anyways.  It spikes my network (and to a lesser extent, my disk) every few seconds/minute (possibly it's not redownloading every

[2016-10-14 18:00] 304NotModified commented on #12260
https://github.com/dotnet/corefx/issues/12260#issue-180414140i s using check boxes. If the check box had been checked, then it's already implemented (in a branch?)?

[2016-10-14 18:02] AlexGhiondea commented on #12260
Yes -- if there is check it means the types / members have been added.

[2016-10-14 18:05] danmosemsft commented on #11477
@shmao are these API's defined in Standard? If not (ie this issue is nice to have) then please remove the netstandard2.0 label.

[2016-10-14 18:08] danmosemsft commented on #10579
@zhenlan @shmao codeDOM is now present but only for code generation. If we cannot add a proper implementation of these API's then we should please have an issue in the Standard repo to consider removing the API's (unless we plan to throw from them)

[2016-10-14 18:13] shmao commented on #11477
@danmosemsft yes, the APIs are in NetStandard2.0.

[2016-10-14 18:14] danmosemsft commented on #11477
Ah ok. It was the 'if needed' that confused me.

[2016-10-14 18:21] CyrusNajmabadi commented on #2252
I feel like closing this out is premature.  I don't doubt risk.  But i assume that's why we have tests.  And presumably through the last round of doing this, we invested in appropriate testing to ensure these behaviors were preserved.  Furthermore, even if we don't change the core sorting algorithm, this could still go in 'CoreFx'.  Good data structures and algorithms benefit everyone.  We should

[2016-10-14 18:22] karelz commented on #12626
Does it have to happen in 1.2? What's the implication if it doesn't? (i.e. is it a cleanup vs. must-fix bug)

[2016-10-14 18:23] shmao commented on #10579
@danmosemsft We had a discussion on this. To support these APIs, without CodeDom, we potentially can implement a new solution either using RefEmit or reflection based serialization. We expected it to be at least 1 dev month work. The decision for the APIs was to leave them in standard and we prioritize the work for Core as necessary based on the usage.

/cc: @weshaggard

[2016-10-14 18:26] karelz commented on #12637
@davidsh why did you remove the 'test bug' label?

[2016-10-14 18:27] karelz commented on #12638
@shmao is it for netstandard2.0? In such cases we do not use "api-needs-work" label.

[2016-10-14 18:27] davidsh commented on #12637
It hasn't been investigated.  So, how can it be classified as a test-bug?

[2016-10-14 18:27] joperezr commented on #10714
yup, I was planning on taking this on once I'm done with investigating the test builds.

[2016-10-14 18:33] shmao commented on #12638
@karelz Thanks for fixing the label. Yes, this is for netstandard2.0. The API has been exposed in NetCore. But the implementation code has not been ported yet. We wanted to use the issue for tracking porting the implementation and adding test coverage for the API. What's the right label we should use in this case?

[2016-10-14 18:40] karelz commented on #12637
At this moment we treat one time intermittent failures automatically as "test bug", until we get rid of all flaky tests in CoreFX test bed. Maybe that is not the best fit for Networking area.
Anyway, I will soon start the area triage discussion also for Networking area and we can discuss details and nuances there.

[2016-10-14 18:40] 304NotModified commented on #12260
In which Branch? Master?

[2016-10-14 18:42] karelz commented on #12638
netstandard2.0 label is sufficient. NS2.0 is special project enough, that we do not need to capture more nuances of various work items via additional labels - it would be just unnecessary bureaucracy IMO.
api-* labels are meant mainly for APIs which need to go through API review (not this case).

[2016-10-14 18:45] shmao commented on #12638
Got it. Thanks for the guidelines, @karelz .

[2016-10-14 18:45] JeremyKuhne commented on #10698
@stephentoub, @joperezr is going to set up the pattern for those in #10334. I'll keep this one open to track FileStream separately, which will be completed once that is done.

[2016-10-14 18:48] karelz commented on #12646
Closing as it does not affect .NET Core.
Reporting bugs for Desktop .NET Framework can be done via Microsoft Support or Microsoft Connect. However, be warned that the bar for .NET Framework bugs is pretty high - the bug would have to have significant impact on non-trivial number of customers without easy workaround to get a chance to be fixed (it's a policy to mitigate risk of introducing new unin

[2016-10-14 18:48] #12646 closed

[2016-10-14 18:51] stephentoub opened #12659 "SocketAsyncEventArgs allocates unnecessary SafeHandles"
Every operation on a SocketAsyncEventArgs ends up allocating a SafeNativeOverlapped SafeHandle:
https://github.com/dotnet/corefx/blob/2117bae3a6c9736033e6d1659821ff3a1069920b/src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs#L160

This is adding a significant amount of overhead to networking operations that are trying to be optimized via SocketAsyncEventArgs, e.g. in a

[2016-10-14 18:52] alexperovich commented on #12162
@ramarag The following methods also need runtime interaction.
[code]

[2016-10-14 19:02] JeremyKuhne opened #12660 "Machine wide IsolatedStorage stores don't have same access rights on Unix"
Common app data has an underlying issue #12628. If we're able to come up with a workable solution we should look at getting rights set up for [Unix](https://github.com/dotnet/corefx/blob/master/src/System.IO.IsolatedStorage/src/System/IO/IsolatedStorage/Helper.Win32.Unix.cs#L52).

Note that the current implementation is up to the bar of the current Mono implementation for machine stores. Additiona

[2016-10-14 19:13] davidfowl commented on #12659
Wow

[2016-10-14 19:32] hlubovac opened #12661 "Will there be X509Certificate2.Verify method?"
Referring to https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs#L12

Compared to .NET 4, this method is missing; see: https://msdn.microsoft.com/en-us/library/system.security.cryptography.x509certificates.x509certificate2.verify(v=vs.110).aspx

Thanks.

[2016-10-14 19:37] danmosemsft commented on #10579
We should track that with an issue in the Standard repo.

[2016-10-14 19:54] hughbe commented on #12655
I'll take this once we update the core CLR dependencies here

[2016-10-14 19:56] weshaggard commented on #10579
I think we should keep the APIs and stub/throw for them until we can properly implement them.

[2016-10-14 20:02] mellinoe commented on #12660
Don't we use a machine-wide storage location in some parts of crypto? Perhaps I'm mis-remembering that part. @bartonjs

[2016-10-14 20:10] karelz commented on #12661
@steveharter @bartonjs is it part of netstandard2.0?

[2016-10-14 20:13] stephentoub opened #12662 "Avoid byte[] allocations once IPAddress.Address is back"
#12658 is adding back IPAddress.Address.  Various parts of the code end up allocating a byte[] to work around the lack of IPAddress.Address in the public surface area, e.g.

https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Common/src/System/Net/SocketAddress.cs#L110-L116
Once the packages have been updated with this property, we should fix those locations appropri

[2016-10-14 20:15] hlubovac commented on #12661
I don't know if this is equivalent (or even entirely correct), but in the meantime I found that this works:

           X509Certificate2 certificate = ...

            var chain = new X509Chain();
            chain.ChainPolicy.RevocationFlag = X509RevocationFlag.EntireChain;
            chain.ChainPolicy.RevocationMode = X509RevocationMode.Offline;
            chain.ChainPolicy.VerificationFlags =

[2016-10-14 20:18] mellinoe commented on #12608
@MattGal Did you mean that the instructions here (https://www.microsoft.com/net/core#macos) did not work? If so, we should definitely try to fix that, since it's the main download portal.

[2016-10-14 20:20] CIPop commented on #12601
I was able to fix the issue! I now see an acceptable __17min restore time__!

Digging deeper I found that the build system is not contained to the enlistment folder. It actually keeps files and locks on the system drive within \Users (.nuget, AppData\Local\Nuget cache).
One difference is that the machine with the problem has 2 clones of dotnet\core (which was my workaround for this issue: I'd keep

[2016-10-14 20:21] zhenlan commented on #10579
I normally don't like stub/throw because it makes debugging even harder, but it is acceptable if we already do this for other APIs. Do we?

[2016-10-14 20:22] MattGal commented on #12608
@mellinoe  Yes, they don't work for **building** corefx, but they may work fine for using it, which is what that portal seems to be for.

[2016-10-14 20:23] danmosemsft commented on #9938
@joperezr sounds like a global pass may be needed.

[2016-10-14 20:25] danmosemsft commented on #6204
Not currently planned. @terrajobst has this come up before?

[2016-10-14 20:32] morganbr commented on #12592
Any assemblies that can also be used on .NET Framework need to keep their attributes or they may break.

[2016-10-14 20:34] AlexGhiondea commented on #2252
I think CoreFx would be a good place for that kind of library. We can prototype it in CoreFxLabs and then move it over once it is ready.

But I don't think we can/should change the default sorting behavior.

[2016-10-14 20:35] weshaggard commented on #12145
@danmosemsft we do need to think about this all up but the reason I wanted an issue for it was to have the owner provide some suggestions for the naming based on the contents.

[2016-10-14 20:47] ericstj commented on #9938
/cc @weshaggard who was chatting with Xamarin folks about how their binder works.

[2016-10-14 20:48] steveharter commented on #12661
Yes, the Verify will be added via #12295. Thanks

[2016-10-14 20:48] #12661 closed

[2016-10-14 20:54] ericstj commented on #12626
@karelz this will likely get addressed with our project reference refactoring for corefx as part of 1.2.

[2016-10-14 21:04] moander commented on #11843
Ping? :)

[2016-10-14 21:11] mellinoe commented on #12608
Ah, that is a good point. As long as they work for running stuff then there's no problem.

[2016-10-14 21:27] MattGal commented on #12608
Quick update... I tried the instructions from CoreCLR and get different errors, but still can't just call build.sh:

-- Configuring incomplete, errors occurred!
See also "/Users/mattgal/git/corefx/bin/obj/OSX.x64.Debug/Native/CMakeFiles/CMakeOutput.log".
See also "/Users/mattgal/git/corefx/bin/obj/OSX.x64.Debug/Native/CMakeFiles/CMakeError.log".
Failed to generate native component build project!
C

[2016-10-14 21:33] weshaggard commented on #12260
Yes this work is in the master branch.

[2016-10-14 21:50] AlexGhiondea commented on #12405
This depends on the work @ramarag is doing to move the types related to SafeSerializationEventArgs

[2016-10-14 21:51] AlexGhiondea commented on #12260
Re-opening because Process is still not complete.

[2016-10-14 21:53] AlexGhiondea commented on #12655
@hughbe that is great! I assigned the issue to you!

[2016-10-14 21:55] alexperovich commented on #11388
This is not a problem with System.Threading.Tasks.Dataflow. As @svick said, `Remotion.Linq` is causing the download of many packages.
The fix is for `Remotion.Linq` to add a net45 dependencies section to their nuspec containing only the dependencies that aren't inbox on net45. Inbox assemblies are located in `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\Facade

[2016-10-14 21:55] #11388 closed

[2016-10-14 22:17] alexperovich commented on #11463
Closing because there is nothing actionable here. #8949 could help with the problem. You could also inspect the Task state without blocking with either @benaadams suggestion or #8931.

Feel free to reopen if you have a specific proposal.

[2016-10-14 22:17] #11463 closed

[2016-10-14 22:23] karajas commented on #12601
I might need to look into this further, I was under the impression that --no-cache was enabled on all builds.

Measuring logical cores is something I haven't done yet, but we do know nuget has contention issues. I can file an issue for this accordingly.

[2016-10-14 22:47] shmao commented on #12638
@mconnew suggested to remove IXmlMtomReaderInitializer/IXmlMtomWriterInitializer from NetStandard2.0 since WCF would not support MtomReader/Writer.

[2016-10-14 22:54] shmao commented on #12254
@ramarag, assigning the issue to you as you are working on #11809.

[2016-10-14 23:02] danmosemsft commented on #11035
@stephentoub IIUC this boils down to "refresh baseline files when bringing .NET Native up to NS2.0". We don't need an issue for the latter, and the baseline update happens naturally either as part of the change or if overlooked soon after (eg with /p:baselineallapicompaterror=true).

So I'm not sure it's worth having this issue. What do you thinK?

[2016-10-14 23:04] stephentoub commented on #11035
Sounds find.

[2016-10-14 23:04] #11035 closed

[2016-10-14 23:07] joperezr commented on #12635
This problem is not reproing to me anymore, so I'll close this for now, and keep a watch for it.

[2016-10-14 23:07] #12635 closed

[2016-10-14 23:28] danmosemsft opened #12669 "Add missing ISerializable"
The following should implement ISerializable per NS2.0, but in .NET Core they do not:

- [ ] System.ApplicationIdentity
- [x] System.ComponentModel.Win32Exception
- [x] System.Exception
- [x] System.IO.DriveInfo
- [x] System.IO.FileSystemInfo
- [x] System.IntPtr
- [x] System.Net.CookieException
- [x] System.Net.HttpWebRequest
- [x] System.Net.HttpWebResponse
- [x] System.Net.ProtocolViolationExcep

[2016-10-14 23:29] danmosemsft commented on #12669
@AlexGhiondea fyi.. some of these types we haven't ported yet, so it's more about the ones we already have, like StringBuilder. Maybe a good task for the new hire.

[2016-10-14 23:32] danmosemsft opened #12670 "Add missing ApplicationException derivations"
These should be deriving from ApplicationException per NS2.0 but in Core FX they aren't:

[code]

@AlexGhiondea FYI.

[2016-10-14 23:49] danmosemsft commented on #9582
Types missing ISerializable are tracked in https://github.com/dotnet/corefx/issues/12669

I'm wondering about [Serializable] attribute. That doesn't show up in the ref assys unfortunately.

[2016-10-15 00:06] karelz commented on #12626
Do we have a tracking issue we could dupe this one against then?

[2016-10-15 00:10] karelz commented on #2252
OK, 2 votes for special library, 2 votes for in CoreFX (via CoreFxLabs). Reopening for now.
We need formal API proposal review first - it's up for grabs.
If the API shape is approved, we can give a green light to anyone interested in implementing it.

[2016-10-15 00:14] alexperovich commented on #7798
The possible performance gains from this API addition don't outweigh the cost of maintaining a new API. The case where the default value is returned from a function is the exception, not the rule. If a specific application has performance issues that caching tasks can solve then it is easy to make a cache.

[2016-10-15 00:14] #7798 closed

[2016-10-15 00:17] karelz commented on #12638
Please work with @weshaggard on decisions what is / is not in netstandard2.0.
cc: @danmosemsft

[2016-10-15 00:28] danmosemsft opened #12672 "Add Guid.GetBytes(byte[]) and Decimal.GetBits(decimal d, byte[])"
@davidfowl commented on [Sun Sep 18 2016](https://github.com/dotnet/coreclr/issues/7251)

Today the supported way to get the `byte[]` representation of a guid is to use ToByteArray() https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Guid.cs#L893, which allocates a byte[]. Instead it would be great if there was an overload that could write into an existing `byte[]`

---

@mikedn

[2016-10-15 00:28] danmosemsft commented on #12672
Moved from CoreCLR as it's an API addition.

https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/contributing.md says:

Please use the following general rule-of-thumb for choosing the right repo to make your change (start by creating an issue):
•	The type or concept doesn't yet exist in .NET Core -> choose CoreFX.
•	The type exists in both CoreCLR and CoreFX repo -> choose Cor

[2016-10-15 00:29] danmosemsft opened #12673 "Make Decimal.GetBits(decimal d, byte[])"
@davidfowl commented on [Sat Sep 17 2016](https://github.com/dotnet/coreclr/issues/7247)

Would make it easier to write data to an existing buffer that way.

[2016-10-15 00:49] Priya91 commented on #12526
If the credential is found in cache then the identity is also captured when capturing the execution context returning from async call back to the user. This is enabled only on Windows. It updates the ```WindowsIdentity``` object in the result by calling ```GetCurrent``` for retrieving current window user object.

[2016-10-15 00:55] #12258 closed

[2016-10-15 01:06] #12400 closed

[2016-10-15 01:06] weshaggard commented on #12000
As we chatted CodeDom and CAS are 2 dependencies we need to better understand if we need them or not. However this particular issue is more about the other workaround code that exists in the XML project. We need to clean those up, I've left a number of comments pointing them out in https://github.com/dotnet/corefx/pull/12194

[2016-10-15 01:12] #11842 closed

[2016-10-15 01:26] CIPop opened #12674 "SmtpClient ported code is missing DEBUG assert statements"
In #12416:

All `GlobalLog.Assert*` statements must be followed by `Debug.Fail`.
See the pattern at https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Common/src/System/Net/InternalException.cs#L18

[2016-10-15 01:27] weshaggard commented on #8622
@VitaliyMF I agree with you in principle and perhaps we can even do that in this case but like with everything there is a balancing act we have to play in determining how many pieces we want to split things into. Having tons of tiny libraries isn't always better then having a single large library, they each have different trade-offs. For example with tons of tiny libraries there is acquisition and

[2016-10-15 01:38] weshaggard commented on #9938
@marek-safar @akoeplinger can correct me if I'm wrong but my understand is they always unify references for anything in their unification table (https://github.com/mono/mono/blob/master/mono/metadata/assembly.c#L88) to 4.0.0.0. However I don't see System.Json in that list so I guess we would need to match assembly versioning if we wanted the .NET Core implementation/references to work on mono/Xama

[2016-10-15 01:48] #8811 closed

[2016-10-15 01:49] #12213 closed

[2016-10-15 01:51] weshaggard commented on #12638
Removing is something we could entertain but we would need to look at some data and ensure these don't break other APIs that are part of the standard. If you would like to do that please file and issue on dotnet\standard with the full API list and supporting data.

[2016-10-15 01:59] karelz commented on #12638
It would be also good to understand the motivation. Xamarin considered the API useful to take. What is the value of not having it in standard?

[2016-10-15 02:04] karelz commented on #12672
We need formal API proposal

[2016-10-15 02:14] #11254 closed

[2016-10-15 02:57] ahhsoftware commented on #8622
We use data tables extensively.  When you are reading records off a queue with high throughputs and that data needs to be inserted in batches, you create stored procedures that take user defined table types, then create a data table that emulates the type.  Now you can pass a full set of data to the stored procedure and do inserts, updates, or merges in a set based way.  Trying to one off insert a

[2016-10-15 03:26] mellinoe commented on #12672
I see there's a couple specific requests for this, but it's more of a general problem. Should we look at all functions that can copy to new arrays and consider adding overloads that transfer to an existing array?

[2016-10-15 03:31] #12401 closed

[2016-10-15 03:33] stephentoub commented on #11737
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/51/consoleText
[code]

[2016-10-15 03:38] #11907 closed

[2016-10-15 07:29] mareklinka commented on #9838
I just opened the _coreclr_ PR and updated the _corefx_ pull request according to the discussions.

[2016-10-15 07:54] roji commented on #8622
@weshaggard and @VitaliyMF, wanted to add a +1 for keeping DataSet and friends in a separate package. These components don't really have anything to do with the the base ADO.NET layer - they are a data access layer on top of ADO.NET, similar to how ORMs are a layer. The initial decision to drop DataSet/DataTable entirely in netstandard shows to what extent this is true - these components are consi

[2016-10-15 07:57] roji commented on #8622
@ahhsoftware, the decision to reintroduce DataTable has already been made - that's not being discussed. The only question is whether it should be in the System.Data.Common library or in its own library.

Also, [as I wrote above](https://github.com/dotnet/corefx/issues/8622#issuecomment-233330870), DataSet/DataTable don't provide any performance benefits that can't be achieved via other means. Simp

[2016-10-15 08:07] VitaliyMF commented on #8622
@weshaggard as .net components author, I understand your point about fragmentation; in some cases better to provide all-in-one assembly, but in case of .net standard libraries (including System.Data.Common) situation is a bit different: a lot of benefits comes if they will be as small as possible (and as stable as possible).

We all remember "API-changes-hell" last years (I'm talking about incompa

[2016-10-15 08:23] VitaliyMF commented on #8622
@ahhsoftware you can use 3rd party libraries (netcore-compatible) for generating batching inserts and table-valued types with stored procedures (you don't need to wait for DataTable, actually). If you need a concrete solution feel free to contact me (or ask on SO) - I don't think this issue is a right place for these things.

[2016-10-15 08:29] hughbe commented on #12592
@morganbr how does one identify which assembly can be used on .NET fx?

[2016-10-15 08:44] jkotas commented on #12592
- In reference assemblies ie. ...\ref\...\*.cs, SecuritySafeCritical attributes can be always removed (they have no impact on the contract) and SecurityCritical attributes should always stay (I believe that some of the tooling looks at them in reference assemblies)

- In implementation assemblies ie ...\src\...\*.cs, the SecuritySafeCritical/SecurityCritical annotations are only needed if:
    - T

[2016-10-15 08:56] hughbe commented on #12592
@jkotas cheers, and what about ComVisible?

[2016-10-15 09:08] jkotas opened #12678 "Cleanup <NoWarn>0436</NoWarn> from all .csproj files"
This warning suppression is needed because of duplicated implementations between coreclr and corefx. We should clean them up - remove (or hide via model.xml) the conflicting implementation in System.Private.CoreLib.

[2016-10-15 09:09] jkotas commented on #12678
@rahku Could you please take a look at it when you get a chance? A lot of them are coming from duplicate AppDomain, etc. types in System.Runtime.Extensions.

[2016-10-15 09:17] jkotas commented on #12592
There are a few cases where ComVisible is needed for tests, or other corner cases; but it should be fine to remove otherwise. It was scrubbed once already (https://github.com/dotnet/corefx/pull/782), so there are not that many instances of it.

[2016-10-15 09:29] nmschulte commented on #8951
I've been experiencing this bug for a long time now too, using Debian Sid ("unstable").  **@karelz, how can I help resolve the issue?**  For now, I'm developing inside of a virtual machine, but that is exactly what I am trying to get away from and looking at .NET Core to begin with...

[2016-10-15 13:18] ahhsoftware commented on #8622
So for starters we are in a vertical that must follow OWASP standards.
High on the list is that all data access must be done through stored
procedures.

Now consider that we have a service that takes an order, and all associated
items.
PROCEDURE PUT_ORDER
(
      @PERSON_ID INT --FK to person placing order
      @ORDER_NAME NVARCHAR(32) --name of order
      @ORDER_ITEMS dob.ORDER_ITEM_UDT
)
BEGIN

[2016-10-15 14:52] vikas0380 opened #12681 "System.Linq Test Run fail on Mac OS X 10.11.5"
Using `../../../Tools/msbuild.sh /t:BuildAndTest` Command to Run System.Linq specific Tests Only, But getting Following error

[code]

[2016-10-15 15:43] karelz commented on #8951
I would get it under debugger / collect dump and analyze it. Do you need guidance for that or do you know how to do it yourself?

@ellismg @mellinoe can you please help / point in the right direction?

[2016-10-15 15:45] karelz commented on #12673
We need formal API proposal now.

[2016-10-15 15:52] karelz commented on #11497
@StephenCleary works on it ...

[2016-10-15 16:20] saleem-mirza commented on #2576
Task is good for general purpose but can not replace value of threads. Threads provide granular control over what you want to execute and how. Please give developers the tool what they want, not what MSFT want. Windows 8 is best example if MSFT want to learn some lesson.

[2016-10-15 16:24] stephentoub opened #12683 "SslStreamAlertsTest failure in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1647/consoleText

[code]

[2016-10-15 17:34] #12131 closed

[2016-10-15 17:41] geoffkizer opened #12685 "Determine how to handle some System.Net logging methods"
We are missing implementations for several methods on NetEventSource: PrintInfo, PrintWarning, etc.

We need to figure out how we plan to handle this.  Either implement the methods, or change the calling code to do something else.

[2016-10-15 17:58] saurabh500 commented on #8622
@weshaggard @stephentoub DataTable / Dataset need S.Data.Common base types and Data.Common have APIs which return DataTable objects.

[2016-10-15 18:39] roji commented on #8622
@saurab500 if you're intending to bring back the DataTable-based schema APIs in DbConnection and DbDataReader, then indeed it seems that DataTable/DataSet need to live in System.Data.Common...

[2016-10-15 19:01] #11573 closed

[2016-10-15 19:01] #12659 closed

[2016-10-15 20:47] nmschulte commented on #8951
I imagine I'll use GDB to dump the core (https://sourceware.org/gdb/onlinedocs/gdb/Core-File-Generation.html#Core-File-Generation)?  Are there debug logs or other info that I ought to include?

[2016-10-15 21:04] nmschulte commented on #8951
[code]

[core.30619.zip](https://github.com/dotnet/corefx/files/531414/core.30619.zip)

[2016-10-15 21:15] jamesqo commented on #7798
@alexperovich Yep. Also it looks like this API has been supplanted by `ValueTask<T>` for the most part, except for existing methods that need to return a Task.

[2016-10-15 22:28] jamesqo opened #12686 "Investigate using List.ConvertAll for SelectListIterator.ToList"
This code: https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Select.cs#L330

Could probably use the little-known [`List.ConvertAll`](https://msdn.microsoft.com/en-us/library/73fe8cwf%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396) api instead, which basically does the exact same thing as `list.Select(...).ToList()` except it [indexes directly into the backing array](http

[2016-10-16 00:30] #4425 closed

[2016-10-16 03:47] jkotas commented on #12673
Dup of https://github.com/dotnet/corefx/issues/12672

[2016-10-16 03:47] #12673 closed

[2016-10-16 03:59] davidfowl commented on #12672
Yes 😄

[2016-10-16 04:18] jkotas commented on #4928
It does not makes sense to add these as constructors. They should be added as Append methods instead:
- to match the existing StringBuilder surface. Append overloads are the rich set that takes all sort of arguments
- to be more flexible. Constructing one string builder from another one can be done as construct empty + append; but not the other way around.

[2016-10-16 05:55] tijoytom commented on #11881
follow up bugs
https://github.com/dotnet/corefx/issues/12512
https://github.com/dotnet/corefx/issues/12510

[2016-10-16 05:55] #11881 closed

[2016-10-16 06:01] linl33 commented on #5501
Any update on this class?

[2016-10-16 07:06] SunnyWar opened #12692 "Write allocates unnecessary StringBuilder in cltmconsole.cs"
In System\Xml\ModuleCore\cltmconsole.cs, the Write method allocates a StringBuilder object unnecessarily.

[code]

Can be written as
[code]

[2016-10-16 12:25] obadz commented on #6770
I'm also stuck trying to build corefx on Nix (I've got coreclr built: https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/compilers/coreclr/default.nix)

It seems that the build script attempts to download a tarball (something like https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview2-002733/dotnet-dev-ubuntu.14.04-x64.1.0.0-preview2-002733.tar.gz) but it seems t

[2016-10-16 12:34] stephentoub commented on #12683
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1674/consoleText
[code]

[2016-10-16 13:38] stephentoub opened #12696 "[1.0.0] TestUserCredentialsPropertiesOnWindows failing on Windows (v1.0 only)"
[code]

Examples:
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_windows_nt_release/13/
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_windows_nt_debug/12/
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_win10_release/12/
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_win10_debug/12/
https://ci.dot.net/job/dotne

[2016-10-16 14:00] stephentoub commented on #12002
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/debian8.4_debug/327/

[2016-10-16 14:49] davidsh commented on #12685
cc: @CIPop

[2016-10-16 14:51] SunnyWar commented on #12692
I put in a pull request for this so I'm closing this one.

[2016-10-16 14:51] #12692 closed

[2016-10-16 16:12] SamuelEnglard commented on #11898
Wanted to give an update that I moved my work to https://github.com/SamuelEnglard/weakdelegates

[2016-10-16 17:36] MarcoLoetscher commented on #10454
The newest and most professional solution is the one from [Andrew Whiddett](https://alphachitech.wordpress.com/2015/01/31/virtualizing-observable-collection/). The following sentence can be found on his project page:
- Works in any .NET project because it’s implemented in a Portable Code Library (PCL).

His solution works for WPF and Xamarin. In my opinion, a solution from Microsoft should also wo

[2016-10-16 17:51] jamesqo opened #12702 "Investigate preallocating space for ICollections/IIListProvider in SelectEnumerableIterator methods"
SelectEnumerableIterator's `IIListProvider` implementation, e.g. `ToArray`, `ToList`, etc. should attempt to preallocate space if the source is an ICollection or IIListProvider. We check before falling back to that iterator if the input is an IList or IPartition, but not if it's one of the parent interfaces.

**edit:** Adding 'investigate' b/c I'm not sure how common a non-IList ICollection is, or

[2016-10-16 21:15] pakrym opened #12704 "Creating new X509Certificate2 instance crashes CLR in Azure AppServices environment"
**Issue:**
Creating instance of X509Certificate2 using ctor(sting, string) overload causes CLR to crash without exception being printed and exit code `-1073740940`. Reproduces only in Azure AppServices environment.

**Repro steps:**

Publish or `dotnet run` project from https://github.com/pakrym/cert-crash-repro in Azure AppServices environment.

**Expected:**
Prints "Hello world!"

**Actual:**
Ap

[2016-10-16 22:46] benaadams commented on #12704
Related? https://github.com/dotnet/corefx/issues/12412

[2016-10-17 01:40] danmosemsft opened #12706 "Flaky test : SslStream_StreamToStream_DataAfterShutdown_Fail"
`https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1676/testReport/junit/System.Net.Security.Tests/SslStreamAlertsTest/SslStream_StreamToStream_DataAfterShutdown_Fail/`

[code]

[2016-10-17 01:42] stephentoub commented on #12706
cc: @cipop

[2016-10-17 02:51] stephentoub commented on #12199
@danmosemsft, how was this list generated?  Some of the types in the list aren't public, and some of those already implement ICloneable, e.g. https://source.dot.net/#System.Runtime.Serialization.Formatters/System/Runtime/Serialization/Formatters/Binary/BinaryUtilClasses.cs,285

[2016-10-17 03:26] danmosemsft commented on #12199
By hand using ILSPY over netstandard.dll and our contracts, and windiff - apparently not accurately, sorry. Hmm.

[2016-10-17 06:47] fogzot commented on #8951
Exactly same stack trace here. It is possible to include the debug symbols in the .deb packages or in the tarball? That would produce a much better trace.

[2016-10-17 09:43] hughbe opened #12713 "CodeNamespaceImportCollection.Add(null) throws NullReferenceException instead of ArgumentNullException"
See the following test:
[code]

Should this be fixed to throw an ArgumentNullException, in order to be consistent with other CodeDom collections?
Is there a backcompt concern?

@stephentoub

[2016-10-17 09:59] martinsuchan commented on #5088
@MattWhilden Just tested in VS2015 U3 + UWP Tools v1.4.1
Create empty UWP project, add this to project.json and rebuild on Release/ARM - you get those two warnings during build:

    "dependencies": {
      "Microsoft.NETCore.UniversalWindowsPlatform": "5.2.2",
      "MvvmLightLibs": "5.3.0"
    },

    Resources.System.Linq.Expressions.rd.xml(35): warning : ILTransform_0027: Method 'CreateLambda'

[2016-10-17 11:30] #12002 closed

[2016-10-17 12:56] nmschulte commented on #8951
I was unable to get `dotnet` to work in Debian 8 Jessie/stable, Debian 9 Stretch/testing, Debian Sid/unstable, or Ubuntu 14.04.5 LTS Trusty (Kernels 4.4 and 3.19).  I can capture stack traces and dumps from each, just let me know.  I've been waiting for these segfaults to be dealt with for many months now; it seems I just keeping hitting one after another after another; the CoreCLR Kernel 4.6 issu

[2016-10-17 13:40] b3nt0 commented on #11100
Just ran into this myself. Would be awesome if we didn't descend into dependency hell in .Net. It's heading that way.

[2016-10-17 15:03] davidebbo commented on #12704
The error is not Core specific, as the same core blows up the same way in a regular Console app on Azure Web App. It appears to be a [sandbox](https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox) rejection, but at this point I don't know what.

I suggest closing this issue and instead starting thread on [Web App forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=wind

[2016-10-17 15:21] stephentoub opened #12715 "KDCSetup failing on multiple Unix OSes in CI"
[code]

[2016-10-17 15:25] stephentoub commented on #12715
Similar result with slightly different error on Ubuntu:
[code]

[2016-10-17 15:27] stephentoub commented on #12715
@karelz, @mmitche, looking back through the logs from the past week or two, this appears to be causing intermitten failures in outerloop runs on at least CentOS and RHEL.  I'm not sure what's changed in these environments, nor why it's not consistent on every run.

Examples:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu16.10_debug/29/consoleText
https://ci.dot.net/job/dotnet

[2016-10-17 15:32] stephentoub opened #12716 "AppDomainTests.UnhandledException_Called failing in CI"
This has been failing frequently but intermittently.  The problem appears to be that the test waits for the process to exit, and it doesn't exit within 30 seconds:
https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Diagnostics/RemoteExecutorTestBase.cs#L170
[code]
Examples:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/38/consoleText
https://ci.dot.ne

[2016-10-17 15:36] vancem commented on #4928
When making them Appends, you don't need the capacity argument (which is nice).

Append(StringBuilder value);
Append(StringBuilder value, int startIndex, int length);

I believe we should start there.  As Jan indicates this is sufficient.  We may wish to have a constructor that takes a StringBuilder directly as a convenience but we should have clear reasons there is additional value there before d

[2016-10-17 15:39] karelz commented on #12715
@mmitche who's the right person to look at it as a high pri?

[2016-10-17 15:40] karelz commented on #12715
@stephentoub why System.Net? Isn't it general infra?

[2016-10-17 15:43] karelz commented on #8951
We definitely need callstack with symbols. The raw stack numbers are in general not helpful.
Do you know how to get them or do you need guidance?

[2016-10-17 15:43] stephentoub commented on #12715
No, this is from the script that runs as part of the System.Net.Security tests to configure a kerberos environment for the NegotiateStream tests to use on Unix.

[2016-10-17 15:45] mmitche commented on #12715
@karelz @stephentoub Nothing has changed for those runs for infra in the last week.  I don't have the bandwidth to investigate this.

[2016-10-17 16:01] karelz commented on #10454
I guess we're missing concrete proposal of which API to change and how, or which APIs to add.
With all implications thought through -- does it require changes in existing UI frameworks? Does it introduce compat problems? Etc.

[2016-10-17 16:05] bartonjs commented on #12608
@MattGal What branch are you building?  You need the change from https://github.com/dotnet/corefx/pull/12022, which is only in master.

[2016-10-17 16:05] karelz commented on #12715
@ericeil could you please help take a look?
In the worst case we should move the tests from CI to Outter loop and make it part of our Networking tests stability push planned for after netstandard2.0 work.

[2016-10-17 16:10] stephentoub commented on #12715
They are outer loop.

[2016-10-17 16:20] nmschulte commented on #8951
I don't know how; wouldn't GDB dump them if they were available?  If you're asking me to compile things w/ the symbols ("debugging enabled"), I'll need help; I can't even get the built versions of things work, so that's probably not going to happen.  If it's an option I can pass to `dotnet` (.NET CLI), that's simple enough.

[2016-10-17 16:20] karelz commented on #12672
We should probably wait first for the `Span<T>` discussion to finish. Then we will know what is the desired pattern we want in the APIs.

For tracking the more general issue, I would suggest filing a new issue with list of all such APIs. (someone needs to do a larger sweep) We can then decide to close this one.

[2016-10-17 16:23] karelz commented on #8951
@ellismg who can help here?

[2016-10-17 16:27] nmschulte commented on #8951
Would it make sense to e.g. change the `latest` packages to be `Debug` builds instead of `Release` builds like the release candidates and official releases use?

[2016-10-17 16:34] danmosemsft commented on #12632
I'm a bit confursed about the repro here. If I build a resx that is valid but has no resources, in desktop GetString returns null.

The only place I see the message above in CoreFX is BadImageFormat_ResourcesHeaderCorrupted which doesn't seem to be used.

Incidentally @alexperovich in a quick glance, src\System.Resources.ResourceManager\src\System\Resources\ResourceManager.cs seems to be much less

[2016-10-17 16:35] karelz commented on #12716
@ramarag can you please take a look now? We want to drive flaky test failures to 0.

[2016-10-17 16:42] danmosemsft commented on #11122
Ported everything in NS2.0 with 9b270c7b06751ab24d98d1404e4fd671c63aeb9e
Some aren't ported as NS2.0 excludes them (CAS)

[2016-10-17 16:42] #11122 closed

[2016-10-17 16:42] karelz commented on #12581
You can always try .NET Core. If you have small repro, it should be simple. I don't know what the result will be, but in .NET Core we can try to fix it.

You can file full .NET Framework bug on Microsoft Connect (via official Microsoft Support channel), but it won't get much attention unless it has significant impact without reasonable workaround on significant number of customers (just setting th

[2016-10-17 16:43] danmosemsft commented on #11115
Fixed with 9b270c7b06751ab24d98d1404e4fd671c63aeb9e

[2016-10-17 16:43] #11115 closed

[2016-10-17 16:48] stephentoub commented on #12459
Dependent on https://github.com/dotnet/corefx/pull/12719, as Win32Exception needs to be derived from ExternalException in order for SocketException to override ErrorCode.

[2016-10-17 16:51] karelz commented on #12713
What is the consistent behavior you propose?
In general this is IMO border line between compat vs. consistency of APIs ("beautiful APIs"). CodeDom is not super-widely used IMO, yet it may be one more thing where the platforms differ (deaths by thousands paper cuts) ...
cc: @Priya91

[2016-10-17 16:52] danmosemsft opened #12722 "Add missing derivations from MarshalByRefObject"
[code]

[2016-10-17 16:52] karelz commented on #12685
Should we make it part of netstandard2.0?

[2016-10-17 16:55] weshaggard commented on #8622
@stephentoub @saurabh500 can you please point out the particular APIs in question? If we do have these tight API dependencies it will tie our hands and will require is to keep these together in order provide compatible APIs.

[2016-10-17 16:55] stephentoub commented on #12685
This is an internal implementation detail; it's not something specified in the standard.

[2016-10-17 16:55] karelz commented on #12704
@bartonjs do you agree with @davidebbo?

[2016-10-17 16:56] danmosemsft opened #12723 "Decimal and X509Certificate are missing IDeserializationCallback"
It's in the implementation, just missing from the ref.

[2016-10-17 16:56] MattGal commented on #12608
@bartonjs I'm trying this in master every time.  I tried the exact instructions off the head of master this morning and am getting the identical error above currently.

[2016-10-17 16:56] karelz commented on #12702
cc: @VSadov

[2016-10-17 16:57] karelz commented on #12696
@Priya91 is it a regression? Or flaky test?

[2016-10-17 16:58] karelz commented on #12686
cc: @VSadov

[2016-10-17 17:00] karelz commented on #12685
Understood. But if the original implementation has it and it is useful and we do not bring it over, then it is a debt we are creating and we should track it as part of netstandard2.0. We may triage it post 1.2, but we should just not pile up more debt than we have to.

[2016-10-17 17:01] stephentoub commented on #8622
For example, IDataReader.GetSchemaTable:
https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/ref/System.Data.Common.cs#L1109
IDataReader was already in System.Data.Common, with this member, and DataTable was already in System.Data.Common as a result, just with an empty implementation.

[2016-10-17 17:04] stephentoub commented on #12685
Oh, you're using the terms "netstandard2.0" and ".NET Core 1.2" interchangeably?  I view those as being separate; the former is a specification for APIs that need to be available, and the latter is a particular implementation of that standard.  This work item is relevant to the latter but not to the former, so if your question is "should we track this for .NET Core 1.2", I'd say "yes".
cc: @weshag

[2016-10-17 17:07] hughbe commented on #12713
Out of the 17 or so collections in System.CodeDom, this is the only collection that doesn't throw an NRE

[2016-10-17 17:12] danmosemsft commented on #4804
Clearing assignee per our policy that assignment is for work that is imminent. UP for grabs

[2016-10-17 17:14] bartonjs commented on #12704
@karelz If a NetFx application fails in the same way then yeah, I'd say it has something more to do with Azure than us.  The NetFx code for that codepath hasn't changed in a long, long time.

[2016-10-17 17:20] muratg commented on #12704
:eyes:

[2016-10-17 17:21] hughbe opened #12724 "[Infrastructure"

[2016-10-17 17:22] danmosemsft opened #12725 "Enhance APICompat to discover [Serializable]"
Presumably some of these are missing, since BinarySerialization had been removed. It's hard to say how many because it's not represented in the ref assemblies. This may not be much (or even any) since there are still 149 instances of it in the CoreCLR implementations and we inherit most of those implementations. We do need it back since it likely changes serialization behavior.

To find them if an

[2016-10-17 17:22] danmosemsft commented on #12724
@hughbe can you clarify? :)

[2016-10-17 17:22] hughbe commented on #12724
Yup I created the issue accidently

[2016-10-17 17:23] AlexGhiondea commented on #12725
@danmosemsft should this be moved to the buildtools repo?

[2016-10-17 17:24] mellinoe commented on #12715
Related: https://github.com/dotnet/corefx/issues/12107

Ubuntu 16.10 has always had trouble with this script, it fails very often there. My only guess is that the package feed used by Ubuntu 16.10 is not as reliable as the other Ubuntu feeds we happen to be using.

An obvious fix is to have the packages pre-installed on our CI images so the script isn't trying to download and install stuff from th

[2016-10-17 17:24] weshaggard opened #12726 "Move netstandard security attributes into System.Runtime."
See https://github.com/dotnet/standard/pull/16 which contains the CAS attributes which are in netstandard because they have usage. They should be moved from System.Security.Permissions into System.Runtime.

cc @danmosemsft

[2016-10-17 17:25] danmosemsft commented on #12725
If you like -- figured we could track all NS2.0 work together. Up to you

[2016-10-17 17:25] danmosemsft commented on #12726
Reason: they have usaged, and S.S.Permissions might end up jsut being an extension.

[2016-10-17 17:26] hughbe commented on #12724
@danmosemsft updated, sorry - I pressed enter prematurely

[2016-10-17 17:27] stephentoub commented on #12725
When I'd checked a few months ago, we were missing ~200 across corefx.

[2016-10-17 17:30] stephentoub commented on #12706
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1703/consoleText
[code]

[2016-10-17 17:30] danmosemsft commented on #12725
How did you figure that out? Still have the utility around?

[2016-10-17 17:31] danmosemsft commented on #1347
This was added for 1.2

[2016-10-17 17:32] VitaliyMF commented on #8622
@stephentoub currently (in netstandard1.6) IDataReader.GetSchemaTable returns stub "DataTable" class, and all current implementations just throw NotImplementedException on GetSchemaTable, am I right? In other words, this method de-facto is deprecated, and not used any more; nobody calls it from netstandard assemblies because it returns useless DataTable stub and actually throws an exception.

In a

[2016-10-17 17:35] stephentoub commented on #12725
I'd written a little tool to find all of the types in corefx that weren't serializable, and then used reflection over desktop to find all types that were.  I don't think I have the code around anymore, but it shouldn't be hard to recreate.  Though it may not be necessary; this is an old and never-intended-to-be-merged/never-compiled branch, but it provides a sort-of diff from the time of the seria

[2016-10-17 17:36] danmosemsft commented on #9582
[Serializable] tracked by https://github.com/dotnet/corefx/issues/12725
Missing members tracked by https://github.com/dotnet/corefx/issues/12254

I don't think we need issues for CoreRT work. 80% CodeCoverage seems pretty good compared to much of CoreFX so probably not worth tracking.

@stephentoub any missing tests you had in mind? If not let's close this issue now

[2016-10-17 17:39] karelz commented on #12715
@mellinoe aren't those dupes of each other? Can we close one of them? (this one probably)

[2016-10-17 17:40] karelz commented on #12704
Closing per discussion above.

[2016-10-17 17:40] #12704 closed

[2016-10-17 17:44] stephentoub commented on #9582
Just note that for a type to be serializable, it must be [Serializable], but it may have additional serialization-related implementation, and some of that may not be visible by tracking missing members, e.g. there are [OnSerialized], [OnDeserialized], etc. attributes that can be used with [Serializable] and that wouldn't show up in a missing-member scan.  We can still track the missing serializati

[2016-10-17 17:44] #9582 closed

[2016-10-17 17:46] danmosemsft commented on #10073
These need to be rebuilt because they were based off MonoAndroid and should be probably based off Desktop. EXample TargetInvocationException derives from Exception in Mono but ApplicationException in Desktop. Assumption is that Desktop is the authority and we can get Mono changed if we discover some breaking difference. In fact as part of updating them we should diff them to see what differences t

[2016-10-17 17:48] karelz commented on #12685
Not really, but we may have different definition of nestandard2.0 here.
I treat it as a label in CoreFX which is about implementation of the .NET Standard 2.0 in .NET Core code base. It comes with API surface, its implementation, tests and everything else (incl. necessary useful logging). Unless we explicitly wave something out during the porting -- it can be parts of API surface, their implementa

[2016-10-17 17:53] danmosemsft commented on #12685
If it's part of bringing over a functional, tested type to satisfy NS2.0 surface area, it's worth labeling netstandard2.0. Then we can truthfully say that when there are no more issues labeled as such, we have cleared all the debt we introduced in the effort. If it's a marginal part of the implementation, or an optional enhancement to it, or a bug that already existed, ... then not. That's just my

[2016-10-17 17:54] bartonjs commented on #12608
Okay, a housecall to MattGal's office showed that the problem was he didn't have pkgconfig, which makes cmake's find_package do only basic guesswork.

It probably doesn't make sense to have the OpenSSL dependency instructions in coreclr anymore; so I'll move them to corefx and merge in the "you need cmake (and pkgconfig)" portions from coreclr, too.

[2016-10-17 17:55] joperezr opened #12730 "[P2P reference cleanups] Remove reference from System.Security.Permissions to System.Runtime once packages are updated"
Remove reference from System.Security.Permissions to System.Runtime once packages are updated. Reference was added by PR: #12729

[2016-10-17 18:00] shmao commented on #12638
WCF is the only consumer of this MTOM encoder. As WCF is not going to support MTOM on NetCore, having these APIs in Core doesn't provide actual value.

@mconnew , do you want to chime in here?

[2016-10-17 18:04] shmao commented on #11686
This is fixed by https://github.com/dotnet/corefx/pull/11924.

[2016-10-17 18:04] #11686 closed

[2016-10-17 18:04] VSadov commented on #11328
Yes, we absolutely should use the actual API.

[2016-10-17 18:11] shmao commented on #10578
@huanwu , it seems you had added tests for the issue with PR #11511. If so, can you please close the issue? Thanks.

[2016-10-17 18:13] shmao commented on #10570
@huanwu , can you please close the issue if we already have tests for the APIs? Thanks.

[2016-10-17 18:20] shmao opened #12731 "[Add Test] For New Added System.Runtime.Serialization.* APIs"
Here's the list of APIs.

[code]

[2016-10-17 18:23] danmosemsft commented on #12724
@mmitche what do you think of this idea? can you point to where the code changes would be?

[2016-10-17 18:23] mellinoe commented on #12025
Fixed by #12663

[2016-10-17 18:26] shmao commented on #11255
Closing the issue as IDataContractSurrogate has been removed from NetStandard2.0. See https://github.com/dotnet/standard/issues/17 for more details.

[2016-10-17 18:26] #11255 closed

[2016-10-17 18:33] mmitche commented on #12724
@danmosemsft There is merge functionality in the GH plugin right now (ability to merge as a post step), though I don't think that's the right thing to use in this case. The reasons are that the PR trigger plugin doesn't really keep track of all of the state of testing in the PR, and there could even be non-Jenkins runs in the PR itself (automatic code reviewers, security signoff, etc.).

I think t

[2016-10-17 18:37] hughbe commented on #12724
That would be a great addition!

[2016-10-17 19:02] mconnew commented on #12638
If you check the documentation for [XmlDictionaryWriter.CreateMtomWriter](https://msdn.microsoft.com/en-us/library/system.xml.xmldictionarywriter.createmtomwriter(v=vs.110).aspx) on msdn, under remarks it says:

It's only use is with SOAP message and only used by WCF. MTOM isn't supported by WCF in .Net core, and to add support would require a major rewrite in order to support it as our Http trans

[2016-10-17 19:03] davidebbo commented on #12704
Tracked by https://social.msdn.microsoft.com/Forums/en-US/54618916-1953-44cd-b426-14ab1caa59d2/creating-new-x509certificate2-instance-crashes-clr-in-azure-appservices-environment?forum=windowsazurewebsitespreview

[2016-10-17 19:07] stephentoub commented on #12725
(I'm working on bringing over some of these, namely where the projects have already been upgraded to support 1.7.)

[2016-10-17 19:35] Priya91 commented on #12713
We will leave the exception as is. Recently .NET Core collections was deviated from Desktop into throwing different exceptions, and we now have a bug #11324  to make the exceptions thrown be the same as in Desktop. This behavior deviates from Desktop behavior and we won't break compatibility here.

[2016-10-17 19:35] #12713 closed

[2016-10-17 19:36] ryanbrandenburg commented on #12632
Strange, I get that error message on both desktop and Core. I've made a repro app [here](https://github.com/ryanbrandenburg/EmptyResourceTestApp), do you get the described behavior when running that?

[2016-10-17 19:54] MarcoLoetscher commented on #10454
Please read the [article ](https://alphachitech.wordpress.com/2015/01/31/virtualizing-observable-collection/)by Andrew Whiddett then clarify some of your questions. We need an [ObservableCollection<T>](https://docs.microsoft.com/en-us/dotnet/core/api/system.collections.objectmodel.observablecollection-1) or a derivation with virtualization functions. Two solutions from third parties:
- [Telerik Da

[2016-10-17 19:59] danmosemsft commented on #12550
Not sure I follow this -- why would UWP make the implementation in CoreFX redundant? I thought it would use it.

[2016-10-17 20:06] #12138 closed

[2016-10-17 20:08] karelz commented on #10454
@MarcoLoetscher while I would love to educate myself in a new space, it is unlikely I will get to it anytime soon. Until then, anyone from the community should feel encouraged to create formal API proposal (that's why it is marked as "up for grabs" + "api-needs-work"), that would help speed things up.

[2016-10-17 20:13] #12641 closed

[2016-10-17 20:16] danmosemsft commented on #5964
netstandard2.0 as these seem to be on FileStream in NS2.0

[2016-10-17 20:29] #9465 closed

[2016-10-17 20:30] joperezr commented on #10073
Will do, I'll go re-build these once we are done defining what will be exposed in netstandard2.0

[2016-10-17 20:34] weshaggard opened #12735 "System.Net.* test configurations need updating"
Right now the System.Net.Security (and I'm assuming other System.Net.\* tests have the same issue) tests configurations only support netstandard1.7 which will block them from running tests in other configurations.

We should probably keep the netstandard1.3 configurations so we can still run these tests for uap. We also need to add a netcoreapp1.1 build configuration to get the new sslstreamalert

[2016-10-17 20:36] #1079 closed

[2016-10-17 20:46] karelz commented on #12638
Sounds good to me. Please work with @weshaggard on final decision.

[2016-10-17 20:47] danmosemsft commented on #12638
Decision should be logged in https://github.com/dotnet/standard issue

[2016-10-17 20:48] #11613 closed

[2016-10-17 21:02] nmschulte commented on #8951
I'm not sure why this bug is in the `corefx` repository, apologies for keeping it alive if I shouldn't be.

When using the [`preview` release](https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/Latest/dotnet-dev-debian-x64.latest.tar.gz), as opposed to the [`stable` release](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-debian-x64.latest.tar.gz), things work

[2016-10-17 21:04] richlander opened #12737 "Provide APIs to determine OS, Distribution, Version, Bitness and other useful Info"
I would like to be able to get this information from System.Environment.

I've been recently playing with the lsb_release command. I should be able to get most of this same information from System.Environment.

I saw some earlier discussions on some APIs leading to bad practices (for example, checking feature availability based on versions). All true, but I don't think we should use those bad prac

[2016-10-17 21:11] ellismg commented on #8951
@nmschulte Just to be clear, the contents of `~/src/omnisharp-roslyn` is just a clone of https://github.com/OmniSharp/omnisharp-roslyn, correct?

[2016-10-17 21:24] nmschulte commented on #8951
@ellismg precisely;

[code]

The `omnisharp-roslyn` provided build script attempts to setup a .NET CLI/Core environment, but I haven't run those in this case.  Running the script fails, using the default tooling of dotnet-dev-debian-x64.1.0.0-preview2-003131.tar.gz`, or `"preview"`/`"Latest"` (dotnet-dev-debian-x64.1.0.0-preview2.1-003153.tar.gz), which is why I'm here.

[2016-10-17 21:29] Priya91 opened #12738 "Duplicate resource strings in System.Net.Mail"
[code]

This bug exists on Full Framework as well.

[2016-10-17 21:30] Priya91 commented on #12738
cc @CIPop Can you take a look.

[2016-10-17 21:39] SedarG commented on #12013
Related: #11551

[2016-10-17 21:42] CIPop commented on #12683
/cc: @karelz
Thanks @stephentoub. I'll look into this.

I presume there's still no way to enable ETW in CI (#4152) and so I'll need to repro this locally.

[2016-10-17 21:45] danmosemsft commented on #12737
On Environment we now have OSVersion, Is64Bit, Is64BitProcess

[2016-10-17 21:48] ramarag commented on #12716
cc @rahku  is this something you are already looking into ?

[2016-10-17 22:04] richlander commented on #12737
Which version of the product is that for? 1.2?

[2016-10-17 22:14] janvorli commented on #6770
@obadz bootstrapping new OS is now a very tedious proces. The tarball downloaded by the script is just a bootstrap tarball that enables it to actually get msbuild and other managed stuff to enable building the managed parts (said in a simplistic manner).
You can take a look at the end of the https://github.com/dotnet/coreclr/issues/917 where a discussion on adding Alpine support in a similar manne

[2016-10-17 22:15] danmosemsft commented on #12737
Yes

[2016-10-17 22:15] ericeil commented on #12715
Closing this as duplicate of #12107.

[2016-10-17 22:15] #12715 closed

[2016-10-17 22:19] mellinoe commented on #12107
It's worth mentioning that we are seeing this outside of Ubuntu 16.10, as well. https://github.com/dotnet/corefx/issues/12715 has some more details of other failures. My assumption is that the cause of all the failures is just the flakiness of the installation process.

[2016-10-17 22:28] mellinoe commented on #12737
.NET Core 1.0 actually has more of this information, via `System.Runtime.InteropServices.RuntimeInformation`. We should probably treat the stuff in `Environment` as legacy, anyways, not as a future-proof way to query information about the system. Is there something else you need than is exposed by `RuntimeInformation`?

[2016-10-17 22:39] #12608 closed

[2016-10-17 22:47] davidsh commented on #12738
My guess is that this is a bug and that for SmtpMailboxBusy, the string should really say "Mailbox busy."

[2016-10-17 22:48] terrajobst commented on #12737
`System.Environment` doesn't expose this in .NET Core 1.0 as we were asked to remove versioning APIs due to compat concerns. However, they come back in vNext as part of .NET Standard 2.0.

For 1.0, the APIs that @mellinoe pointed you to should address these concerns partially. Most of the APIs return strings, but depending on your use case this might work.

[2016-10-17 23:12] Priya91 opened #12740 "TcpClient.BeginConnect doesn't handle socket exception for host name with multiple ip addresses."
[code]

[2016-10-17 23:12] Priya91 commented on #12740
cc @ericeil

[2016-10-17 23:14] CIPop commented on #12738
Verified that this is the same in Desktop.
@Priya91 @karelz @davidsh My recommendation is to leave these as-is to avoid any app-compat issues.

[2016-10-17 23:14] Petermarcu commented on #12737
Ok, so is this already addressed then in 1.2 with .NET Standard 2.0 support?

[2016-10-17 23:25] mellinoe commented on #12737
@Petermarcu `RuntimeInformation` (in .NET Core 1.0) offers quite a bit of this information. The new stuff we are adding back in 2.0 has some related things, but nothing that we don't already expose in `RuntimeInformation`.

@richlander mentioned `lsb_release`, which prints out a couple more things that we don't expose anywhere (in 1.0 or 2.0).

[code]

`RuntimeInformation.OSDescription` gives the

[2016-10-17 23:57] Petermarcu commented on #12737
So Rich, are you looking to have Description and Codename exposed?

[2016-10-18 00:01] vaindil commented on #11046
Not sure if this is related or if I should open a new issue, but I'm having a similar problem. I'm using certs _with_ a password. They work on Windows but fail on Linux. The specific exception message is this:

    error:23076071:PKCS12 routines:PKCS12_parse:mac verify failure

I created the certificates using OpenSSL on Windows Bash, so I don't know if a MAC entry was included. I can't find any r

[2016-10-18 00:07] sepidehMS commented on #12483
@stephentoub Is [System.Xml.RW.XmlWriter.Tests](https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/XmlWriter/System.Xml.RW.XmlWriter.Tests.csproj) one of them? Since these test projects are targetting `netstandard1.3`, I figured it's going to grab the package from package harvesting anyway and we don't need to reference pkgproj. Isn't that the case?

[2016-10-18 00:54] sepidehMS commented on #12550
@danmosemsft Right now, System.SystemException is not available for UWP. That's why I added a stub for it for now. Once it is available on UWP we need to remove this stub and that's what this issue is tracking.

[2016-10-18 01:27] stephentoub commented on #12483
If it is the case, we should fix that as we want our tests for Xyz project to be testing the latest Xyz project, otherwise any changes we make won't be tested until they're published into a new package.
cc: @weshaggard

[2016-10-18 01:44] ahhsoftware commented on #8622
Simply put, if I can't pass sets of data to stored procedures, I can't move
to .net core, and at this point in time a data table is what provides the
means.  You already have entity framework for those who can get by with
lighter weight SQL, but for the heavy lifting that ado.net provides, to
make it in a way that is not full featured is silly.

https://github.com/ahhsoftware/EzAdoVSSolution - loo

[2016-10-18 01:52] zhenlan commented on #12408
Hi @stephentoub, you ported most other serialization APIs that were in mscorlib on full .NET. You probably have better context where they should land in .NET Core. Would you mind to take this one as well? Thanks!

[2016-10-18 01:57] stephentoub commented on #12408
Seems like they have to be exposed from System.Runtime, as Exception.SerializeObjectState references the SafeSerializationEventArgs type, and SafeSerializationEventArgs exposes the AddSerializedState method that accepts an ISafeSerializationData, which means both of these types need to be reachable from Exception, which is in System.Runtime.  This is assuming we plan to expose that SerializeObject

[2016-10-18 02:13] MattWhilden commented on #5088
A-ha! I have a working theory on this.

We only trigger this warning if your application has a reference into System.Linq.Expressions (otherwise we ignore that rd.xml file). Previously, the blank template had a reference to ApplicationInsights for UWP and I now presume that was causing the UWP template to need System.Linq.Expressions. One recent change is that HockeyApp is now the preferred teleme

[2016-10-18 02:30] zhenlan commented on #10579
After some offline discussion, we decided to keep these APIs in NS2.0. Some functionality will not work on .NET Core without CodeDom or re-implementing the feature. We will deal with that as bug fix in the future, but keeping these APIs will allow apps to compile across different frameworks. For now, we do need to make sure corresponding functions will fail with clear message (eg. throws PNSE) ins

[2016-10-18 02:43] danmosemsft commented on #11656
@weshaggard why aren't these in standard?
[code]

they have to be worked around. https://github.com/stephentoub/corefx/blob/ec1b5981ee35e246cbfa803bf6644b5a85d9c7e2/src/System.Runtime.Serialization.Formatters/src/System/TemporaryStubs.cs#L43

[2016-10-18 02:43] danmosemsft commented on #11656
@stephentoub

[2016-10-18 03:07] CalebMacdonaldBlack commented on #10031
@hitched-simon-williams What solved this issue? Updating the database?

[2016-10-18 04:14] danmosemsft opened #12746 "Proposal to replace the algorithm used in Random Class."
@teo-tsirpanis commented on [Sat Oct 15 2016](https://github.com/dotnet/coreclr/issues/7635)

According to [MSDN documentation](https://msdn.microsoft.com/en-us/library/system.random%28v=vs.110%29.aspx?cs-save-lang=1&cs-lang=vb#Remarks), the `Random` class is using

This algorithm is somewhat obscure. I have found only [this paper](http://www.colostate.edu/~pburns/monte/rngreport.pdf) that can be

[2016-10-18 04:14] danmosemsft commented on #12746
Moved to the corefx repo (sorry should ahve been clearer in the PR). We use the corefx repo to track issues in the managed API/implementation, even the part that's actually residing in the coreclr repo.

[2016-10-18 04:16] danmosemsft commented on #12746
@stephentoub have there been suggestions in the past that we should change the implementation of Random?

[2016-10-18 04:18] danmosemsft opened #12747 "Improve "dynamic" performance"
@Opiumtm commented on [Fri Oct 14 2016](https://github.com/dotnet/coreclr/issues/7618)

`dynamic` feature today have extremely awful performance.
Dynamic typing in .NET languages (C#, VB) isn't used much, mostly because of intolerable slow performance and some bugs in implementation (there are memory leaks in dynamics, for example).

Some third-party libraries provide fast reflection based on IL e

[2016-10-18 04:25] danmosemsft opened #12748 "Incoherent CultureInfo in different machines"
@IlBaffo commented on [Thu Sep 29 2016](https://github.com/dotnet/coreclr/issues/7415)

Hi,
I have noticed that, creating a specific CultureInfo with "zh-Hant-\*", will be returned a culture with parent "CHS" (should be CHT) and creating a CultureInfo with "zh-Hans-\*" returns a culture with the DateTimeFormats in Traditional Chinese instead of Simplified.

Steps to reproduce:

- Create a console

[2016-10-18 05:03] Priya91 commented on #11566
@karelz What's the timeline for getting stable packages from release/1.1.0 and how does it compare with netstandard2.0?

[2016-10-18 06:35] Priya91 commented on #12529
@weshaggard The WindowsIdentity type is under extensions in [dotnet/standard](https://github.com/dotnet/standard/blob/e3e48e4e1e396381807eb255cf1f2150e73ce430/extensions/windowsidentity/windowsidentity.cs#L216). Does that mean it's not included for netstandard2.0?

[2016-10-18 07:13] roji commented on #8622
@ahhsoftware, you seem to be misunderstanding the conversation.

The current version of .NET Core does not have DataSet/DataTable, this will not change. The next version of .NET Core *will* have DataSet/DataTable - this has already been confirmed here. There's no need to say how important these components are for you.

However, it's important to understand that what you're accomplishing with DataS

[2016-10-18 07:18] robosek commented on #11324
So when key is incompatible .NET Core Collections should throw ArgumentNullException instead of ArgumentException just like it is on Desktop ?

[2016-10-18 07:46] hitched-simon-williams commented on #10031
Yes, it turned out that the server our database was hosted on had not been kept up to date.  We installed all the available updates (which included SP3) and the problem went away.

[2016-10-18 07:52] fogzot commented on #8951
@nmschulte dotnet runs fine on Jessie as long as you use the 3.16 kernel.Switch to a new one and you get the same libcrypt-related bug.

[2016-10-18 08:12] VahidN commented on #11196
An alternative solution using the current infrastructure:
[code]

[2016-10-18 08:53] martinsuchan commented on #5088
@MattWhilden The question remains, can the build process be fixed so there are no build warnings if there is any reference to System.Linq.Expressions?

[2016-10-18 12:30] stephentoub opened #12751 "TypeInfoTests.GetEvents failure in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/1816/consoleText
[code]

[2016-10-18 12:36] mburbea commented on #12747
isnt this a dupe of #12643 ?

[2016-10-18 12:38] stephentoub opened #12753 "DataTableReadWriteXmlTest.TestReadXml failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/1754/consoleText

[code]

I've only seen this fail once, on OSX.  It looks like we expected a node to contain an empty prefix attribute, and instead it wasn't there at all.  This is one of the ported Mono DataSet tests.

[2016-10-18 12:41] stephentoub commented on #11737
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/55/consoleText
[code]

[2016-10-18 13:05] AndreyAkinshin opened #12755 "InvalidDataException in Process.GetProcesses on Linux"
Consider the following program:
[code]
Sometimes on Linux (Ubuntu 16.04), I have the following exception:
[code]
Repro: the bug can be easily reproduced, if you run [Rider](https://www.jetbrains.com/rider/) before this Program.

The origin of the troubles:  I'm working on .NET Core tests support in Rider on Linux. When I try to execute
[code]
I have the following exception:
[code]
Thus, tests coul

[2016-10-18 13:47] tannergooding commented on #1151
The core change on the CoreCLR side has gone in, so I think we can close this after the CoreFX side goes in.

There are three bugs tracking the finer implementation details still needed (dotnet/coreclr#7689, dotnet/coreclr#7690, and dotnet/coreclr#7691).

[2016-10-18 14:22] stephentoub commented on #12725
I wrote a new tool this morning that uses Roslyn to look over all of our source files finding non-[Serializable] types, uses reflection to look over all of the desktop assemblies looking for [Serializable] types, and then intersects them to get a list of the types that aren't [Serializable] in corefx but are in desktop.  Below are the results.  There are a few false positives here, e.g. because so

[2016-10-18 14:23] ahhsoftware commented on #8622
fair enough

On Tue, Oct 18, 2016 at 3:14 AM, Shay Rojansky <notifications@github.com>
wrote:

[2016-10-18 14:32] ahhsoftware commented on #8622
Hey, while you're in there you might want to discover a better approach to
processing JSON results.  As it stands there is a character limit on
execute scalar, so we typically have to loop through the reader with a
string builder at index 0.  It would nice to have a method
cmd.ExecuteJson() or something along those lines that would do the same
thing under the covers.

Maybe not make things sealed

[2016-10-18 14:41] #12751 closed

[2016-10-18 14:48] karelz commented on #11566
1.1.0 is separate branch now. I think we can go ahead on this one in master. It is not going to affect 1.1.0 branch.

[2016-10-18 15:01] karelz commented on #1151
Great, thanks! Keep us posted on the progress.

BTW: It seems that you forgot to update the proposal on the top to `MathF` with capital `F`. Can you please do the edit to avoid any confusion? Thanks!

[2016-10-18 15:03] tannergooding commented on #1151
Fixed.

[2016-10-18 15:07] stephentoub commented on #12755
@AndreyAkinshin, thanks for the report.

When you say ```Repro: the bug can be easily reproduced, if you run Rider before this Program.```, I assume you mean running dotnet test while Rider is running (rather than it reproing if you run Rider, close Rider, and then run dotnet test)?  If so, can you run Rider, get its process ID, and share the output of ```cat /proc/12345/stat```, where 12345 is wh

[2016-10-18 15:08] stephentoub commented on #12748
cc: @tarekgh

[2016-10-18 15:11] AndreyAkinshin commented on #12755
Yep, sorry for the confusing wording.

Ok, will do it in a few hours.

[2016-10-18 15:12] nmschulte commented on #8951
That's the bug I assume this story is here to address, though, right?  There are no v3 kernels packaged for Debian Sid or Debian Testing (next stable; freezes 2017-02-05).

[2016-10-18 15:37] karelz commented on #12724
Sounds like a good idea. Not sure if this is the most pressing (i.e. most time wasting) thing right now.
/cc: @stephentoub for opinion

[2016-10-18 15:39] fogzot commented on #8951
@nmschulte Yes. Sorry, I didn't explain myself too well. I just wanted to emphasize that everything runs OK on Jessie *as long as you don't upgrade the kernel*, else everything breaks on Jessie too.

[2016-10-18 15:42] stephentoub commented on #12724
It'd be a nice addition, but I don't think it's a particularly large time sink right now.

[2016-10-18 15:42] omajid opened #12758 "Building corefx on Linux adds src\src dir to nupkgs"
If I build corefx (commit 9688ddbb62c04189cac4c4a) on RHEL, some of the nupkgs produced include unexpected `src\src` directories in their root.

For example:

[code]

That `src%5Csrc` file is unexpected.

If this nupkg gets included into a cli build, `dotnet` will cache various `.cs` files into `~/.nuget`. If someone does a `cd ~ && dotnet new && dotnet restore && dotnet build` they get thousands

[2016-10-18 15:43] karelz commented on #12755
cc: @Priya91

[2016-10-18 15:44] omajid commented on #12758
cc @ellismg (who helped me find the issue and the workaround)

[2016-10-18 15:45] karelz commented on #12758
@ellismg any idea where to route the problem?

[2016-10-18 15:47] karelz commented on #12025
Reopening to track port to release/1.1.0

[2016-10-18 16:03] #11497 closed

[2016-10-18 16:19] ianhays commented on #8376
In https://github.com/dotnet/corefx/commit/8d73384985d5a261e7a721acc13f5557ab67cba5 I moved StreamReader and StreamWriter out of mscorlib. This unblocks the ArrayPool overload we were talking about earlier.

Since the discussion has diverged from the OP and we're now talking about adding a new API instead of modifying the existing one, I'm going to close out this issue. The next step would be to o

[2016-10-18 16:19] #8376 closed

[2016-10-18 16:30] weshaggard commented on #10073
@joperezr please chat with me before you do this work item as we need to make it consistent with what I'm using in netstandard.

[2016-10-18 16:30] karelz commented on #7913
@sepidehMS can you please confirm you understand what is needed here?

[2016-10-18 16:34] karelz commented on #12550
@sepidehMS should it be assigned to you? (i.e. are you actively working on it?)

[2016-10-18 16:36] tarekgh commented on #12748
The framework depends on the underlying OS to get the globalization and culture data.

here is the differences in OS behavior which get reflected on the framwork:

```Windows 10:```
- it support the culture zh-Hant-CN
- when calling CreateSpecificCulture("zh-Hant-CN") will give zh-Hant-CN culture and will has the parent zh-Hant
- zh-Hans-CN is not supported when calling CreateSpecificCulture("zh-H

[2016-10-18 16:36] #12748 closed

[2016-10-18 16:42] karajas opened #12759 "Regression: System.Runtime.Tests fail with "Missing a required constructor" on System.Reflection.PseudoCustomAttribute._GetSecurityAttributes"
call CoreRun.exe xunit.console.netcore.exe System.Runtime.Tests.dll  -xml testResults.xml -notrait Benchmark=true -notrait category=nonnetcoreapp1.1tests  -notrait category=OuterLoop -notrait category=failing -notrait category=nonwind
  owstests
  xUnit.net console test runner (64-bit .NET Core)
  Copyright (C) 2014 Outercurve Foundation.

  Discovering: System.Runtime.Tests
  Discovered:  System.

[2016-10-18 16:44] karajas commented on #12759
This seems to be fallout from https://github.com/dotnet/corefx/commit/9b270c7b06751ab24d98d1404e4fd671c63aeb9e

/cc @weshaggard @joperezr @danmosemsft

[2016-10-18 16:58] weshaggard commented on #12483
cc @joperezr

While it is correct that when running these in netstandard1.3 configuration they will run against the asset harvested from the last stable package. However these tests should be running in multiple configurations, both the netstandard1.3 and netstandard1.7 configurations at a minimum, to ensure we test the live builds.

[2016-10-18 17:10] jimcarley commented on #11737
Thanks for these.

The most recent modifications help to narrow down where the failure is happening, but we will need to make further modifications and probably enable tracing to narrow down further. More changes to the test coming.

Jim

From: Stephen Toub [mailto:notifications@github.com]
Sent: Tuesday, October 18, 2016 5:42 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Jim Carley <jcarle

[2016-10-18 17:14] sepidehMS commented on #12550
@karelz Yes, I'm about to merge PR https://github.com/dotnet/corefx/pull/12351 to resolve this.

[2016-10-18 17:14] karelz commented on #12759
Assigning to @danmosemsft as he likely introduced the regression (feel free to reassign).

[2016-10-18 17:17] terrajobst commented on #12644
@xoofx

Adding this new API seems reasonable to us; do you have any expectations for the static shared pool?

[2016-10-18 17:30] joperezr commented on #12483
@weshaggard agreed, that is what @sepidehMS is fixing in #12742

[2016-10-18 17:39] stephentoub commented on #9641
The type was added in #10977, but it's not actually functional.  This is one we decided we need to be functional.

[2016-10-18 17:46] terrajobst commented on #12593
We (FXDC) just took a look. We'd prefer this version:

`IntPtr ByteOffset<T>(ref T origin, ref T target);`

[2016-10-18 17:48] sepidehMS commented on #10916
@jiangzeng Is this still failing? I couldn't find this failure in the last few builds [here](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F).

[2016-10-18 17:48] sepidehMS commented on #10915
@jiangzeng Is this still failing? I couldn't find this failure in the last few builds [here](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F).

[2016-10-18 17:49] sepidehMS commented on #10914
@jiangzeng Is this still failing? I couldn't find this failure in the last few builds [here](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F).

[2016-10-18 17:51] karajas commented on #6388
Failed for me as well.
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1764/consoleText
`
 System.Tests.EnvironmentTickCount.TickCountTest [FAIL]
        TickCount did not increase after one second. start: 4711531, values tested: 4711531.
        Expected: True
        Actual:   False
        Stack Trace:
        Condition(s) not met: \"ECExplicitCurvesSupported\"

[2016-10-18 17:58] jkotas commented on #12593
Thanks.

Just a thought: Would `IntPtr GetByteOffset<T>(ref T origin, ref T target);` look better than just ByteOffset?

[2016-10-18 18:00] Priya91 commented on #10777
@jiangzeng Which run configuration is this?

[2016-10-18 18:03] terrajobst commented on #6663
We see two options:

First one:

[code]

Second one:

[code]

The nice thing about the second one is that we can add more policy if we need to; `Stream` is abstract and adding new concept is generally somewhat harder. By making it an enum its a bit easier.

Secondly, do we need to do anything for `Write`? Our current behavior is that `Write` is essentially `WriteAll`. Do we  need a partial version

[2016-10-18 18:05] mellinoe commented on #6388
@stephentoub In the failures it looks like we usually have only read one value in the [SpinWait block](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/tests/System/Environment.TickCount.cs#L23), and never got a chance to read another value, due to bad scheduling luck. Maybe we should read once again after the `SpinWait`?

[2016-10-18 18:14] Priya91 commented on #11324
Yes, I don't think it's all of the collections, only generic SortedList IDictionary indexer implementation.

[2016-10-18 18:20] sepidehMS commented on #12198
Done by https://github.com/dotnet/corefx/pull/12351

[2016-10-18 18:20] #12198 closed

[2016-10-18 18:22] ianhays commented on #6663
Stylistically I prefer the second of the two options, but I'm a bit of a sucker for enums. `ReadRequestedCount` is an awfully verbose name for what is a conceptually simple modification of the existing `Read`.

I'd argue that our existing Write is already adequate because our default behavior is to write all bytes; if you want a partial write you could just decrease the count you pass to the funct

[2016-10-18 18:24] weshaggard commented on #12408
@ramarag is actually working on exposing these in S.Private.CoreLib already.

[2016-10-18 18:25] ellismg commented on #12758
@karelz I was looking into this with Davis and I think we'll need to make some fix in buildtools ultimately.  I assigned this issue to myself.  The workaround fixes the packages when built on Linux but impacts the windows build, so we can't take it as is.

I've assigned the issue to myself.

[2016-10-18 18:29] Priya91 commented on #11566
Master branch also tests all the configurations by setting ```/p:TargetGroup``` and ```/p:FilterToTestTFM``` properties to the desired configuration. Though the default is to run only netcoreapp1.1 tests, anyone can trigger a run to test other cases, in this ex, ```/p:TargetGroup=netstandard1.3``` and ```/p:FilterToTestTFM=netcoreapp1.0```. The package harvesting takes libs only from stable packag

[2016-10-18 18:36] bartonjs commented on #11046
@vaindil Yeah, it seems like a separate issue.  But, in order to identify if we'd be able to do anything about it you should send that PFX to a Linux machine with the `openssl` utility and try
[code]

If that can't read it then it's an OpenSSL library problem, and we won't be able to, either.  If it can, then there's a fallback path we're missing.

If the command line utility test passes, it'd be

[2016-10-18 18:41] weshaggard commented on #11656
My understanding from @jkotas is that TypedReference is a concept that doesn't work in CoreCLR/CoreRT and were removed from the standard with similar things like ArgIterator. If that isn't the case and they actually do work then we can reconsider.

[2016-10-18 18:42] SedarG commented on #12449
This is fixed on CoreRT with this commit: https://github.com/dotnet/corert/commit/e8a98085fcbbba8dccbc6d433a9c366b5d79ae7c

[2016-10-18 18:42] #12449 closed

[2016-10-18 18:48] vaindil commented on #11046
@bartonjs Just tested, the `openssl` command does work correctly. I created a new test certificate, all three parts [are attached](https://github.com/dotnet/corefx/files/537102/PFX.zip).

Key passphrase (`testkey.pem`): `123456`
PFX password (`badfinal.pfx`): `789789`

Generate the key and certificate:

    openssl req -x509 -newkey rsa:4096 -keyout testkey.pem -out testcert.pem

Convert to PFX:

[2016-10-18 18:55] stephentoub commented on #6388
Sounds reasonable.

[2016-10-18 18:57] ianhays opened #12761 "Merge IO.Pipes and IO.Pipes.AccessControl assemblies"
In https://github.com/dotnet/corefx/pull/8930 I brought Pipes AccessControl to CoreFX as its own separate assembly. This was fine with one exception (from the PR comments):

Now that back-compat is a higher priority, we should resolve this issue. One way to do that would be to merge the assemblies. Another way would be to make `PipeStream.CheckPipePropertyOperations` public.

caused the ToF test f

[2016-10-18 18:57] ianhays commented on #10899
closing in favor of the more descriptive https://github.com/dotnet/corefx/issues/12761

[2016-10-18 19:00] xoofx commented on #12644
I didn't want to throw an exception, so the code behind will round to the upper closest power of 2 . Apart maybe to improve the doc, not sure what's best in this case?

I left as it as it was, nothing changed. Doesn't fit well with a plain static access (and without C++ templates it is not possible)

though @stephentoub mentioned that there might be implementation reasons for the original default

[2016-10-18 19:27] jkotas commented on #11656
Well, there are number of other useless types and methods in netstandard20 that do not work (e.g. always throw PNSE) in CoreCLR/CoreRT today.

TypedReference and ArgIterator were removed from netstandard20 because of they are rarely used, hard and expensive to implement in the runtime, and they do not even have a first class syntax in C#. I do not see a huge difference between including them in ne

[2016-10-18 19:48] zhenlan commented on #12408
Cool. Should this be assigned to @ramarag? Will this be done by end of next month (including tests)?
cc: @danmosemsft

[2016-10-18 19:53] dotnetchris commented on #1218
@Priya91 is the short of it "fork Corefx, make a local change to 'fix it'" then comment back here?

[2016-10-18 19:57] danmosemsft commented on #12408
https://github.com/dotnet/corefx/issues/12405 covers SeralizeObjectState and it's assigned to @ramarag
@weshaggard you mention 'these' but I'm not sure what other relevant API he's exposing?

@zhenlan you guys own these types so it probably makes sense for you to add them but if you don't have cycles you can leave it unassigned and someone else will grab it...

[2016-10-18 20:13] weshaggard commented on #12408
I've seen a code review about adding Exception.SerializeObjectState but I didn't dig deeply to see if it included this full closure of types. I do think they would all need to be where Exception lives though so if @ramarag isn't doing them he should probably pick up the remainder.

[2016-10-18 20:26] Priya91 commented on #1218
Did you get a chance to look at the api proprosal doc that was linked in the previous comment? From the conversation I gather your proposal to fix the issue is to expose ```DefaultConcurrencyLevel```, so that can be used in the (int,int) ctor, instead of hardcoded user value for concurrencylevel. So you can update your issue description with the api speclet, like this,

[code]

And when the issue

[2016-10-18 21:29] stephentoub opened #12764 "DataViewTest.ColumnChangeName failing intermittently in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release/471/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release/455/consoleText
[code]

[2016-10-18 21:51] #11869 closed

[2016-10-18 22:03] huanwu opened #12767 "ExtensionDataObject test fail"
T:System.Runtime.Serialization.ExtensionDataObject not work as expected.

[2016-10-18 22:24] manu-silicon commented on #8141
Thanks for fixing this!

[2016-10-18 23:35] CIPop commented on #12601
With the fix from #12345 I get 6 minutes. Really good progress! Thanks @karajas!

[2016-10-18 23:43] huanwu opened #12772 "XsdDataContractExporterTest Fail"
Throw null reference exception when call the following code
 XsdDataContractExporter exporter = new XsdDataContractExporter();
exporter.CanExport(typeof(Employee));

This is because DataContractSet returns null (XsdDataContractExporter.cs). The code was commented.
DataContractSet DataContractSet
        {
            get
            {
                //if (dataContractSet == null)

[2016-10-18 23:44] jimcarley commented on #11737
I was just given a dump of a CloneTxTests failure which indicates that the transaction did not timeout when expected. But it is very intermittent. The same thing (transaction not timing out) would explain this intermittent failure, too. I currently have no explanation as to why the transaction isn't timing out.

[2016-10-18 23:54] #12764 closed

[2016-10-19 00:03] Clockwork-Muse commented on #12601
Last run for me was a ~30 min, but that was while the machine was locked (this machine is too old to hibernate well, so I have no clue what happens there)

[2016-10-19 00:13] CIPop opened #12774 "Split ServicePointManager into a separate contract"
Related: https://github.com/dotnet/standard/issues/72

 - [x] Create new System.Net.ServicePoint contract and move sources
 - [x] Remove the `CertificatePolicy` and `ICertificatePolicy` Obsoleted API s
 - [x] Add back `SmtpClient.ServicePoint`
 - [x] Change System.Net.Requests contract to depend on System.Net.ServicePoint contract
 - [x] Change System.Net.Mail contract to depend on System.Net.Serv

[2016-10-19 00:23] danmosemsft commented on #12759
Looking

[2016-10-19 00:33] stephentoub commented on #11737
Thanks, @jimcarley.

[2016-10-19 00:47] alecont commented on #12464
uhm... looking at corefx\src\System.Net.Sockets\src\System\Net\Sockets\SocketFlags.cs I see this comment:

        // This is defined in the .NET Framework and isn't being ported to CoreFx
        // since it is Windows specific. However, leave this enum value reserved
        // to prevent future numbering conflicts.
        // MaxIOVectorLength = 0x0010

checking with @davidsh

[2016-10-19 01:04] jiangzeng commented on #10916
@sepidehMS Yes, the latest builds which can re-pro this is 20160901.02, looks like it's not happening for more than one month

[2016-10-19 01:04] jiangzeng commented on #10915
@sepidehMS Yes, the latest builds which can re-pro this is 20160901.02, looks like it's not happening for more than one month

[2016-10-19 01:10] jiangzeng commented on #10914
@sepidehMS As I checked, this looks like the latest build(20160816.08) the issue happened.

[2016-10-19 01:32] CIPop commented on #12464
@alecont This is required for XPlat parity. Given that the API is present in Xamarin (https://developer.xamarin.com/api/field/System.Net.Sockets.SocketFlags.MaxIOVectorLength/) we should add it back here too.

[2016-10-19 01:48] weshaggard commented on #12529
WindowsIdentity is not part of .NET Standard 2.0. It will be an extension library on top of .NET Standard 2.0. I don't believe we are currently tracking any work to update our current WindowsIdentity extension library with new APIs.

[2016-10-19 02:11] bartdesmet commented on #11328
It seems we still don't have access to `Type.GetTypeCode` when I try to use it.

[2016-10-19 02:50] dotnet-mc-bot opened #12778 "Test failure: System.Net.Http.Functional.Tests.HttpClientTest/Timeout_SetTo60AndGetResponseFromServerWhichTakes40_Success"
Opened on behalf of @jiangzeng

The test `System.Net.Http.Functional.Tests.HttpClientTest/Timeout_SetTo60AndGetResponseFromServerWhichTakes40_Success` has failed.

System.Threading.Tasks.TaskCanceledException : A task was canceled.

[code]

Build : Master - 20161019.01 (Core Tests)
Failing configurations:
- Ubuntu.1404.Amd64
  - AnyCPU-Debug
- Ubuntu.1604.Amd64
  - AnyCPU-Debug
  - AnyCPU-Release

[2016-10-19 02:53] jiangzeng commented on #12778
For **Ubuntu.1604.Amd64-AnyCPU-Debug**:
Unhandled Exception of Type Xunit.Sdk.EqualException
Message :
Assert.Equal() Failure\nExpected: OK\nActual:   GatewayTimeout
Stack Trace :
   at System.Net.Http.Functional.Tests.HttpClientTest.Timeout_SetTo60AndGetResponseFromServerWhichTakes40_Success()

[2016-10-19 03:14] dotnet-mc-bot opened #12780 "Test failure: System.IO.IsolatedStorage.ContainsUnknownFilesTests/ContainsUnknownFiles_CleanStore"
Opened on behalf of @jiangzeng

The test `System.IO.IsolatedStorage.ContainsUnknownFilesTests/ContainsUnknownFiles_CleanStore` has failed.

[code]

Stack Trace:

[code]

Build : Master - 20161019.01 (Core Tests)
Failing configurations:
- Windows.10.Amd64
  - AnyCPU-Debug
  - AnyCPU-Release
- Windows.7.Amd64
  - AnyCPU-Release

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2F

[2016-10-19 03:59] stephentoub commented on #12725
After these PRs:
https://github.com/dotnet/corefx/pull/12736
https://github.com/dotnet/corefx/pull/12762
https://github.com/dotnet/corefx/pull/12781
the following ~30 types across corefx still need [Serializable] applied (and in some cases the associated serialization implementations).  I skipped these as the projects haven't yet been updated for netstandard1.7 (cc: @ericstj):

Microsoft.CSharp
-

[2016-10-19 05:12] SamuelEnglard commented on #11898
Ok, so the code in https://github.com/SamuelEnglard/weakdelegates should work.

API:

[code]

Primary issue currently is that I haven't found a way to make the syntax nice and short like we have for regular delegates. In theory that is more of a C#/compiler issue though

[2016-10-19 06:15] AlexGhiondea commented on #12408
@weshaggard that was my PR that I had opened.
However, it required changes to the CoreCLR that @ramarag was already working on so I close mine until the other PR is ready.
@ramarag can you confirm your changes also cover these types?

[2016-10-19 06:35] morganbr commented on #12592
The assembly attributes for that are SecurityTransparent, SecurityCritical, and AllowPartiallyTrustedCallers.

[2016-10-19 06:47] AndreyAkinshin commented on #12755
[code]

[2016-10-19 08:10] nietras commented on #12593
Thanks, I like it better without "Get" simply because it is more succinct
and... less java-like, ha! :-)

I can try make a PR for this end of this week.

On Oct 18, 2016 19:59, "Jan Kotas" <notifications@github.com> wrote:

[2016-10-19 11:40] stephentoub commented on #12755
Thanks, @AndreyAkinshin.  That stat file looks fine and parses ok. Does Rider launch any other processes?

[2016-10-19 11:46] cdrnet commented on #12746
Note that while this may not be a breaking API change, it would certainly break almost every use case using a fixed seed (e.g. all kind of acceptance tests).

[2016-10-19 11:47] AndreyAkinshin commented on #12755
Yes, Rider consists of several processes. E.g., we also have a java process:
[code]

[2016-10-19 11:54] stephentoub commented on #12755
Hmm, that one parses ok as well.

Based on the stack, there's some file /proc/N/stat (for some number N) that has a format we're not expecting, and in particular something isn't parsing correctly related to the third field (the letter 'S' in both of your examples), e.g. the input is ending after the name, or we're somehow parsing the name incorrectly, or something like that.  I've not seen this ha

[2016-10-19 12:00] AndreyAkinshin commented on #12755
Yes

No problem. Which command I should run?

[2016-10-19 12:08] stephentoub commented on #12746
I agree.  This is why, for example, we have this test:
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/tests/System/Random.cs#L57
to help ensure we don't accidentally change the algorithm in a way that would impact the sequence.

I see a few options:
1) Change it anyway.
2) Change it only when a seed isn't provided, i.e. when the default ctor is used, use any algorithm w

[2016-10-19 12:25] stephentoub commented on #11995
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1802/consoleText
[code]

[2016-10-19 12:52] cdrnet commented on #12746
Regarding 3, there are quite a few such libraries out there already, e.g. Math.NET has a [couple](http://numerics.mathdotnet.com/Random.html#Uniform-Random-Number-Generators) (which already derive from System.Random and work well as drop-in replacement) but I've also seen other pure pRNG libraries in NuGet.

[2016-10-19 12:53] stephentoub commented on #12755
Could you try this?
[code]

[2016-10-19 12:56] stephentoub commented on #12746
In which case maybe there's nothing else that needs to be done there :)

[2016-10-19 12:59] AndreyAkinshin commented on #12755
[statfiles.zip](https://github.com/dotnet/corefx/files/539046/statfiles.zip)

[2016-10-19 13:06] stephentoub commented on #12755
Thanks, @AndreyAkinshin.  I don't know what's going on, but all of these files parse fine; I don't get the seen exception on any of them.

If I were to give you a commit for an update to System.Diagnostics.Process.dll (or even a build of the dll if that would help), would you be able to try it?  I can add some instrumentation to help us understand where things are going wrong.

[2016-10-19 13:10] AndreyAkinshin commented on #12755
Ok, no problem.
By the way, you could download Rider and try it on you own Linux.

[2016-10-19 13:16] stephentoub commented on #12755
Oh, from the page you linked to, it sounded like builds weren't available yet.

[2016-10-19 13:36] AndreyAkinshin commented on #12755
You could fill the "Subscribe to receive early builds" form (only Name and e-mail are required) and you will get the direct link for downloading. Or I could send the link for you personally (e.g., via e-mail).

[2016-10-19 14:42] dotnetchris commented on #1218
@Priya91 yes i reviewed the link you provided and the response you provided does not match what i took away from that link at all.

Re-reading that for a 3rd time, i see you're now referencing a link in link the "here's a good example". That's very non-obvious and something much better needs integrated into the post directly. Or atleast make it scream CLICK HERE FOR AN EXAMPLE.

[2016-10-19 15:38] karelz commented on #12780
@JeremyKuhne @ianhays can you please take a look? This is a new test failure, please treat it as P0-ish. We want to fix the test (or product) ASAP to avoid noise in CI. Thanks!

[2016-10-19 15:44] stephentoub commented on #12755
Thanks, @AndreyAkinshin.  I installed Rider and found the problem.  The JetBrains.ReSharper.Host.exe process has a thread in it with a name that includes spaces: "JetPool (S) Reg".  When we're parsing the processes' task list looking for its threads, we parse the stat file for each task, and in doing so we misinterpret the space in the name as a space separator for the other items in the line.  Th

[2016-10-19 15:50] AndreyAkinshin commented on #12755
Ok, thanks. Could I expect a bugfix in the next version of coreclr?

[2016-10-19 16:13] geoffkizer opened #12788 "remove System.Net.NetworkAccess and System.Net.EndpointPermission from netstandard 2.0"
These are CAS types.

[2016-10-19 16:16] geoffkizer commented on #12788
Refiled under dotnet/standard

[2016-10-19 16:16] #12788 closed

[2016-10-19 16:27] danmosemsft commented on #12725
@ericstj were you planning to do a bulk upgrade to 1.7? if not then we should probably open a separate issue for that.

[2016-10-19 16:28] ericstj commented on #12725
@danmosemsft I've been updating all the "hard" packages then individual ones as folks request.

I did write some scripts for bulk upgrade but the result wasn't pretty.  Too many special cases and places cleanup.  I'll help out here by upgrading all of these.  Feel free to send folks my way if they encounter additional libraries that still need updated.

This is already updated to netstandard1.7.

[2016-10-19 16:37] jimcarley commented on #11995
Something weird is definitely going on with transaction timeouts. I have now seen failures where a transaction doesn’t timeout when expected and others where it times out too early. And the failures are all intermittent.

From: Stephen Toub [mailto:notifications@github.com]
Sent: Wednesday, October 19, 2016 5:26 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Jim Carley <jcarley@microsoft.com

[2016-10-19 16:45] couven92 commented on #10054
The issue also occurs for Nordic languages.
for
[code]
Output in .NET Framework 4.6.1:
[code]
In .NET Core:
[code]

[2016-10-19 16:56] sepidehMS opened #12789 "Add XmlSchema and Xslt test coverage for Non-Windows platforms"
Right now we do not have any XmlSchema and Xslt test coverage on non-Windows platforms. These tests are using file paths and need to change so that they can run on all other platforms successfully as well.

[2016-10-19 17:03] sepidehMS commented on #10914
Closing as this hasn't failed in a while. Please feel free to re-open in case it happens again.

[2016-10-19 17:03] #10914 closed

[2016-10-19 17:04] sepidehMS commented on #10915
Closing as this hasn't failed in a while. Please feel free to re-open in case it happens again.

[2016-10-19 17:04] #10915 closed

[2016-10-19 17:04] danmosemsft commented on #11656
Per the discussion above then, this can remain outside of Standard, and we already haev a workaround linked above.

[2016-10-19 17:04] #11656 closed

[2016-10-19 17:05] sepidehMS commented on #10916
Closing as this hasn't failed in a while. Please feel free to re-open in case it happens again.

[2016-10-19 17:05] #10916 closed

[2016-10-19 17:05] danmosemsft commented on #12725
thanks @ericstj ..appreciate it.

[2016-10-19 17:07] tarekgh commented on #10054
@couven92 this is expected as discussed in this thread. if you want to get the desktop behavior, you can through adding the line

[code]

in your initialization code

[2016-10-19 17:09] geoffkizer commented on #12463
Fixed with #12782

[2016-10-19 17:09] #12463 closed

[2016-10-19 17:15] #8186 closed

[2016-10-19 17:30] stephentoub commented on #12725
Thank you, @ericstj.

Ah, right, that one was upgraded, but I was blocked from making the change due to waiting for updated packages.

[2016-10-19 17:33] steveharter commented on #9984
@danmosemsft can you elaborate on this (and if I need to do anything other than the EditorBrowsable). Thanks

[2016-10-19 17:37] asbjornu commented on #12581
@karelz: I will try to reproduce this in .NET Core. My question then still applies:

Also, how do I upgrade a project from 4.5.2 to .NET Core?

Thanks for the pointer, but my impression is that spending any amount of time on Microsoft Connect is a waste.

While I violently disagree that the workaround is reasonable, I understand that this is one way to reason about it.

[2016-10-19 17:40] bartonjs commented on #9984
@steveharter I'm guessing that the comment came from me in an email... but I don't remember what, if anything, I would have meant.  (Perhaps "define it in the impl but leave it out of the ref"?).

Also, where I said RijndaelManaged should go directly to SymmetricAlgorithm, that's no longer valid, since the Rijndael base class is also part of netstandard2.0 (I was trying to cut that type).

[2016-10-19 17:42] joperezr commented on #12255
`T:System.Runtime.ConstrainedExecution.ReliabilityContractAttribute` seems to be done already, so we only need to add the other one.

[2016-10-19 17:47] JeremyKuhne commented on #12780
@karelz How do we repro these? How is AnyCPU-Debug run? It can't find the actual product assembly, possibly a build authoring issue (maybe multithread specific)?

[2016-10-19 17:50] karelz commented on #12780
I would hope there is a simple guidance how to rerun just one test locally and how to run a particular test in Helix 1,000-times.
If there is no such guidance yet, can you please ask around and try to put it together? It will be very valuable to everyone working on .NET Core.
Thanks!

[2016-10-19 17:51] karelz commented on #12780
cc: @joperezr if he can point to some docs/experts.

[2016-10-19 17:51] karelz commented on #12780
cc: @danmosemsft

[2016-10-19 18:09] #12674 closed

[2016-10-19 18:14] Priya91 commented on #12529
@karelz The API is not available for netstandard2.0, so closing this issue.

[2016-10-19 18:14] #12529 closed

[2016-10-19 18:15] AlexGhiondea opened #12793 "Create implementation of HandleCount on Unix"
Once https://github.com/dotnet/corefx/pull/12765 is checked in, create the Unix implementation for HandleCount.

[2016-10-19 18:20] AlexGhiondea opened #12794 "Bring remaining System.Diagnostics.Debug members to netstandard2.0"
[code]

[2016-10-19 18:20] AlexGhiondea opened #12795 "Bring remaining System.Diagnostics.Debugger members to netstandard2.0"
[code]

[2016-10-19 18:22] AlexGhiondea opened #12796 "Bring remaining System.Diagnostics.*Trace members to netstandard2.0"
[code]

[2016-10-19 18:23] AlexGhiondea opened #12797 "Bring remaining System.Diagnostics.* members to netstandard2.0"
This is a grab bag of a couple of APIs that don't fit well in other issues:

[code]

[2016-10-19 18:23] sepidehMS commented on #7913
@karelz Yes, I'm investigating this right now.

[2016-10-19 18:24] Priya91 commented on #12774
@CIPop It should also include tracking checking for Server certificate revocation, using the ```ServicePointManager.CheckCertificateRevocationList``` in ```TlsStream.AuthenticateAsClient``` and ```TlsStream.BeginAuthenticateAsClient``` used by ```SmtpClient``` and ```FtpWebRequest```

[2016-10-19 18:25] AlexGhiondea opened #12798 "Bring remaining System.ComponentModel.* members to netstandard2.0"
There are just 2 members missing from that namespace:

[code]

[2016-10-19 18:25] AlexGhiondea commented on #12798
Note that these members are defined in the System.Runtime contract.

[2016-10-19 18:26] Priya91 commented on #1218
@dotnetchris Thanks for the feedback.

cc @terrajobst @weshaggard: Can you take a look at documentation feedback on Api-Review process. Thanks!

[2016-10-19 18:35] karelz commented on #12529
Thanks!
cc: @CIPop @davidsh

[2016-10-19 18:36] huanwu opened #12799 "[XmlTypeMappingTest] Fail to Serialize Types with Soap Attributes."
This scenario doesn't work since soap not supported..

[2016-10-19 18:45] steveharter commented on #9981
Bumped up the estimate from 1 to 3. Assuming CNG implementation (i.e. we need to add the CNG code to CSP assembly)

[2016-10-19 18:51] bartonjs commented on #9981
Not sure I follow?  We don't want to reimplement, just defer.

[2016-10-19 18:59] steveharter commented on #9981
Assuming then same approach as Rijndael-over-Aes (except in CSP). 2 days depending on what I find\learn for testing Rijndael-over-Aes

[2016-10-19 19:00] aaron-meyers commented on #1973
While this discussion brings up lots of interesting points, it seems to be straying far from the simple and obvious suggestion that started this thread. And that is discouraging because I would really like to see this issue addressed.

As the OP said, the failure to maintain parity among collection types when IReadOnlyList was added without IReadOnlySet is unfortunate and many people have implemen

[2016-10-19 19:15] karelz commented on #12581
You can try to flip the VS target framework from to .NET Core 1.0 / 1.1 preview. You may find out that it is missing bunch of APIs your project uses (we are bringing lots of them back in next version 1.2.0). If you hit that, the other best option is to create a small isolated repro and then migrate just that.
@weshaggard do we have any .NET Core migration guide docs?

At the end of the day it is g

[2016-10-19 19:44] stephentoub commented on #4833
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/1816/

[2016-10-19 20:07] stephentoub commented on #12755
I'm hoping the fix (https://github.com/dotnet/corefx/issues/12791) will be in the 1.1 release.

In the meantime, I've also opened https://github.com/dotnet/cli/issues/4452 to look at adding a workaround to ```dotnet test```.

Thanks for your help in tracking this down.  Apparently spaces in process/thread names on Unix are relatively rare :smile:

[2016-10-19 20:32] CIPop opened #12808 "SmtpClient: EvenSources should either have a GUID attribute or have the GUID documented"
- [ ] Add/Document the GUID within the source-file that defines it (EmailEventSource).
 - [ ] Document the GUID at https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md#traces

[2016-10-19 20:38] JeremyKuhne opened #12810 "Move ArrayPool to System.Private.CorLib"
Move ArrayPool to System.Private.CorLib so we can use in FileStream, etc.

#12633

@ianhays, @stephentoub, @sokket

[2016-10-19 20:41] geoffkizer commented on #12127
This is no longer part of netstandard 2.0.

[2016-10-19 20:41] #12127 closed

[2016-10-19 20:49] geoffkizer commented on #12133
This is no longer part of netstandard 2.0.

[2016-10-19 20:49] #12133 closed

[2016-10-19 20:50] stephentoub commented on #12127
@weshaggard, @danmosemsft, what's our thinking on what goes into System.Security.Permissions?  Even if it's not in netstandard, should the type be added there?

[2016-10-19 21:18] AlexGhiondea opened #12811 "Bring remaining System.Numerics members to netstandard2.0"
There is a single member missing, but System.Runtime.Numerics needs to be updated to netstandard1.7.

[code]

[2016-10-19 21:23] AlexGhiondea opened #12812 "Bring remaining System.Runtime members to netstandard2.0"
[code]

[2016-10-19 21:26] AlexGhiondea opened #12815 "Bring remaining System.Runtime.InteropServices.ComTypes to netstandard 2.0"
[code]

[2016-10-19 21:27] #12255 closed

[2016-10-19 21:27] AlexGhiondea opened #12816 "Bring remaining System.Text members to netstandard2.0"
[code]

[2016-10-19 21:29] AlexGhiondea opened #12817 "Port remaining System.Xml.Linq members to netstandard2.0"
[code]

[2016-10-19 21:37] thewavelength commented on #8662
If I'm not totally wrong, I can reproduce this behavior in `1.0.0-preview2-003131` - is this wanted?

[2016-10-19 21:39] CIPop commented on #12601
@Clockwork-Muse Based on an offline discussion with @ericstj, the issue you are seeing could be different: caused by network speed, not the CPU.
To check this theory:

1. If not already done, please try the above workaround to start from a clean environment.
2. Manually remove _all_ .`project.lock.json` from the enlistment but keep the `\packages` folder. (Don't run `.\clean`.)
3. Run `.\build`.

[2016-10-19 21:53] tarekgh commented on #12816
@AlexGhiondea

These APIs are already there, please look at the following test which is calling these APIs

https://github.com/dotnet/corefx/blob/master/src/System.Text.Encoding/tests/UnicodeEncoding/UnicodeEncoding.netstandard1.7.cs

Note that these APIs are defined in the base Encoding class contract so UnicodeEncoding is getting them from there.
or you mean we need to explicitly mention these i

[2016-10-19 22:00] Priya91 commented on #11598
Not able to repro locally, and not enough data to figure out failing for Default or DefaultInvariant case. Either case, it looks like a bug in ```CompareInfo.GetHashCode```. Renabling the test to get line no on failure.

cc @tarekgh

[2016-10-19 22:02] AlexGhiondea commented on #11655
@rahku do you know how much work is left here?

[2016-10-19 22:03] joperezr opened #12818 "Recent changes in coreclr broke System.Runtime tests since Assembly.Load implementation changed"
Console output is:
[code]

[2016-10-19 22:17] rahku commented on #11655
i have completed most of work in PR #7681

[2016-10-19 22:18] rahku commented on #11655
remaining is EscapedCodeBase and getFiles which has a dependency on FileStream which needs to move to corelib

[2016-10-19 22:18] rahku commented on #11655
I still need to expose it in corefx though

[2016-10-19 22:35] Clockwork-Muse commented on #12601
The 33 minutes was from a clean environment (following the workaround).
Manually remove the lock files and then running build makes that step take about ~10 minutes (for a difference of 20 minutes).

So sounds like network is/was my primary issue (not surprising).

[2016-10-19 22:56] CIPop commented on #12685
Logging is part of .Net Desktop behavior: https://msdn.microsoft.com/en-us/library/ty48b824(v=vs.110).aspx
For debugging purposes, logging is indispensable for understanding why a state machine fails. That said, it's not critical for apps and the mainstream scenarios to work.

@geoffkizer We already designed and are following a pattern for all System.Net: #5101. We're converting all public logging

[2016-10-19 23:00] geoffkizer commented on #12136
This would require adding the TokenBinding class.  TokenBinding has an internal constructor, and is only used in HttpListener (see HttpListenerRequestContext).  I'm not sure what the implications of making the constructor public are.

@davidsh, do you know what this does, exactly?  Do we actually need it for netstandard 2.0?

[2016-10-19 23:03] geoffkizer commented on #12685
@CIPop Yes, I know about NetEventSource.  The problem is that it's missing a few of the old Logging methods that FtpWebRequest uses (and I suspect, other system.net code too).  Is the solution to just add new events?

[2016-10-19 23:04] ericeil commented on #12148
Note that for most of these methods, the only change needed is to mark the existing method `virtual`.

[2016-10-19 23:05] stephentoub commented on #12685
It's also broken in many cases due to reusing the same event sources in multiple libraries, and the pattern leads to very verbose code at the call sites, as well as adding significant inefficiencies when tracing is enabled.  It all needs to be revisited.

[2016-10-19 23:24] gmj06 opened #12821 "Array.ConvertAll not available in Core 5.0"
Hi All,

I was trying to convert string[] to int[] using Array.ConvertAll, which is giving me an error as following

'Array' does not contain the definition for 'ConvertAll'  under Core 5.0

Please Suggest

[2016-10-19 23:33] #12755 closed

[2016-10-20 00:10] geoffkizer commented on #12142
Doing this would add a dependency from System.Runtime.Extensions (where WebUtility currently lives) to System.IO.

@weshaggard over to you to decide how to handle this.

[2016-10-20 00:17] mellinoe commented on #12821
We are adding this back in a future release, but it's not available right now.

On the other hand, it's an extremely trivial function to implement:

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Array.cs#L1014
[code]

Feel free to use that implementation if you'd like.

[2016-10-20 00:18] davidsh commented on #12136
cc: @CIPop

[2016-10-20 00:19] vancem commented on #12808
The GUID for any particular EventSource can be determined by calling the 'Guid' API on the EventSource.  It is stable (it will never change until the EventSource name is changed).

More conveniently, you can use a tool like PerfView or WPA to determine the Guid for the EventSource (Ask it to turn on the EventSource using the *NAME syntax and see what Guid it produced).

Alternatively you could log

[2016-10-20 00:33] CarolEidt commented on #1605
@benaadams posted a request for `Vector<ushort>` to `Vector<byte>` conversion. @terrajobst @mellinoe @sivarv what is the best way to move forward?

[2016-10-20 01:57] gmj06 commented on #12821
@mellinoe Thank you so much for sharing the information

I have seen couple of implementation as below
#if DNX451
   //Implementation
#endif
#if DNXCORE50
   //Implementation
#endif

So, I was curious to know new implementation in Core 5.0

[2016-10-20 01:57] #12821 closed

[2016-10-20 02:39] stephentoub commented on #11737
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/59/consoleText
[code]

[2016-10-20 02:41] #12740 closed

[2016-10-20 02:41] weshaggard commented on #12127
I would just put them all in S.S.Permissions if we feel we need them for compat.

[2016-10-20 06:47] ivanbottero opened #12828 "DataContractResolver ignored"
Hello,

I'm developing a WCF service that is called from a WPF app and from an UWP app

The service is full duplex (with netTcp binding) and it uses a custom DataContractResolver for dynamic types resolution

All is ok when I call the service from the WPF app

When I try to call the same service from a UWP app I get a SerializationException. It seems that the DataContractSerializer is ignored (no

[2016-10-20 06:52] #12722 closed

[2016-10-20 06:57] benaadams commented on #1605
What about something like?
[code]

[2016-10-20 08:06] IlBaffo commented on #12748
Hi, I do not disagree with the policy of letting to the OS provide the data, specially because the calendar Day/Month names are wrong.
What I found confusing, if not problematic, was that:

1. there is no warning about this behavior in the documentation (or at least I didn't find it) or in the method intellisense
2. there is not way of manually fixing the CultureInfo instance because some properti

[2016-10-20 13:33] stephentoub commented on #6302
This is still happening, e.g.
http://ci.dot.net/job/dotnet_corefx/job/master/job/opensuse42.1_release/142/
http://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release/283/
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release/451/
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.04_release/414/
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release/483/

[2016-10-20 14:20] steveharter commented on #9981
Note that the proxy pattern does not support derived classes since the fields HashSizeValue, HashValue and State cannot be propagated to the implementation class. Applies to the SHA* classes since they are not sealed, and the Rijndael class in #9984 (but LegalBlockSizesValue and LegalKeySizesValue fields).

Taken offline.

[2016-10-20 14:39] stephentoub opened #12833 "VerifyCrlCache failing intermittently in CI"
e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_osx_debug/40/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_release/39/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug/37/
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_debian8.4_debug/12/

[code]

cc: @bartonjs, @steveharter

[2016-10-20 15:38] karelz commented on #12818
@rahku can you please take a look?

[2016-10-20 15:40] karelz commented on #12828
@shmao can you please help/route?

[2016-10-20 15:56] bartonjs commented on #12833
This really needs total isolation to work reliably (since it's depending on filesystem state).  It can be reduced to "only one copy of the test suite running at a time" isolation by changing to a certificate from an issuing CA that is used nowhere else in any corefx test.  It's just (apparently) too easy for a race to happen between when the CRL-cache is wiped out and it verifying that behavior wh

[2016-10-20 16:11] #11117 closed

[2016-10-20 16:11] #12313 closed

[2016-10-20 16:11] #11116 closed

[2016-10-20 16:16] gregg-miskelly opened #12834 "Linux: System.Diagnostics.Process.GetProcesses can throw if reading from /proc for any process fails"
## Source
This issue was initially reported by @robvanpamel on https://github.com/OmniSharp/omnisharp-vscode/issues/808.

## Environment data
`dotnet --info` output:

[code]

## Description
This issue came @robvanpamel having problems with `dotnet test` when invoked by OmniSharp. From inspecting the code, this looks to be the problem:

1. `dotnet test` is calling System.Diagnostics.Process.GetProc

[2016-10-20 16:17] ericstj commented on #12725
@stephentoub did the commit I shared a couple days ago unblock you for HttpClient: https://github.com/ericstj/corefx/commit/38a31ba9e17f1fa6a86a8edd221771f1b8950f24
Let me know if you'd like me to fix the tests and push this through.

[2016-10-20 16:20] adamralph commented on #4794
Is there any plan to support this on Windows?

Or is there any other way to send an http/https URL to Windows for default handling using .net core?

[2016-10-20 16:24] stephentoub commented on #12725
Sorry, I hadn't tried it as I thought you were still working on it (e.g. the tests).  If you could push it through, that'd be great.

[2016-10-20 16:42] ericstj commented on #12725
Sure, I'll pick that back up.

[2016-10-20 16:47] CIPop commented on #12685
The current pattern is to add new events with unique IDs for unique strings, following the EventSource guidance.

Yes, this is known and tracked by #5755.

@vancem Is this a known issue with EventSource? @stephentoub are we using the EventSource incorrectly in System.Net code?

@stephentoub Please add a tracking item with more details.

[2016-10-20 16:51] stephentoub commented on #12685
This has nothing to do with EventSource, but rather the pattern that's being used by the networking libs.  The call sites are making multiple calls for each call site (one for event source, one for asserts), and they're doing a lot of computation in the calls, which forces them to be guarded by an IsEnabled check.  What should be one line often ends up being ~10.

[2016-10-20 16:55] shmao commented on #12828
@ivanbottero Thanks for opening the issue. Can you please share a repro app/code for the issue with us?

[2016-10-20 17:04] svick commented on #12834
This sounds very similar to https://github.com/dotnet/corefx/issues/12755.

[2016-10-20 17:09] stephentoub commented on #12834
I believe this is the same as https://github.com/dotnet/corefx/issues/12755, for which a fix was already merged.

[2016-10-20 17:09] #12834 closed

[2016-10-20 17:24] AlexGhiondea opened #12837 "Improve error handling in BinaryReader/BinaryWriter"

[2016-10-20 17:36] adityamandaleeka commented on #8657
@bartonjs This occurred today while we were trying to reproduce a different issue. I have a dump if it would be helpful to you.

[code]

[2016-10-20 17:40] ericstj opened #12838 "Remove project refs from NetworkInformation after package update."
Remove the following two project references from src\System.Net.NetworkInformation.csproj once packages are produced:

[code]

[2016-10-20 17:47] bartonjs commented on #12517
Testing the fix

[2016-10-20 18:08] huanwu opened #12840 "CreateMtomReaderWriterTest fail"
Test fail because all member in XmlMtomReader and XmlMtomWriter class are not implemented.

[2016-10-20 18:19] danmosemsft commented on #12127
It doesn't seem to have usage so I think we can leave this one.

[2016-10-20 18:28] CIPop commented on #12808
Thanks @vancem for confirming that there is no tool distributed with Windows that would support *Name.
I've logged a Feedback Hub suggestion for the next version of Windows. Even if support will be added in future OS versions, the log capture technique not requiring additional tools (such as PerfView or WPA) should work on older Windows versions where CoreFX is supported as well.

Given this, we s

[2016-10-20 19:01] halter73 commented on #11564
I was testing an app that connected to Redis on "localhost" that worked fine on Windows, but failed on Linux with a PlatformNotSupportedException.

Reading the background issue, I think I prefer @stephentoub's option 7 with all properties tracked to in order to align the behavior of Socket as closely as possible on all OSs. Now that we're adding the Socket APM methods back for compat, it doesn't r

[2016-10-20 19:05] stephentoub commented on #12135
Fixed by https://github.com/dotnet/corefx/pull/12781

[2016-10-20 19:05] #12135 closed

[2016-10-20 19:07] stephentoub commented on #7938
FormatterServices.GetUninitializedObject has been added to .NET Core 1.2.
Related discussion at https://github.com/dotnet/corefx/issues/8133.

[2016-10-20 19:07] #7938 closed

[2016-10-20 19:18] stephentoub commented on #12669
This is essentially done now.  Of all of those remaining, all but one haven't been ported at all, so when they are, their serialization implementation should be brought along for the ride.  That just leaves WebHeaderCollection, which will be handled as part of finishing https://github.com/dotnet/corefx/issues/12725.

[2016-10-20 19:18] #12669 closed

[2016-10-20 19:24] jnm2 commented on #1973
@aaron-meyers The only concern I would have is that `IsSubsetOf` and friends cannot be derived from `Contains` in an _efficient_ manner. When it's two hash tables, for instance, relying on `Contains` forces you to use nested loops rather than hash matching.

[2016-10-20 19:29] davidsh commented on #8662
@thewavelength What is "1.0.0-preview2-003131"?  This bug was fixed in .NET Core 1.0 RTM release.

If you can repro it, please attach a repro solution so that we can investigate. If so, please open a new issue for tracking.

[2016-10-20 19:42] CIPop commented on #12136
Token binding is a client and server new TLS feature: https://tools.ietf.org/html/draft-popov-token-binding-00
/cc @ericeil In .Net Desktop support for TokenBinding is available for HttpListener since .Net 4.6.1. From the client-side, at least IE/Edge and Chrome have support for this security feature.

[2016-10-20 19:58] kouvel opened #12850 "Clean up <NoWarn>436</NoWarn> and aliases"
In System.Threading, System.Threading.Thread, and System.Runtime.Extensions.

Remove types from CoreCLR where there are implementations in CoreFX, and clean up the aliases as far as possible.

[2016-10-20 20:05] #12723 closed

[2016-10-20 20:17] CIPop commented on #12685
This was considered during design. We have two options: change logging to only exposed already available data or maintain log compatibility with .Net Desktop. At that time we've chosen to go with option 2. What is your recommendation?

[2016-10-20 20:19] vancem commented on #12808
What exactly is the change that you want?

[2016-10-20 20:27] stephentoub commented on #12685
If there's a requirement that every SomeEventSource.Assert call has a corresponding Debug.Assert call, and vice versa, then a single entrypoint should be defined somewhere that does both.  And for efficiency, the call site should do minimal work, relying on the called function to do that work behind a guard check for IsEnabled, such that the call site doesn't need an IsEnabled check either.  So fo

[2016-10-20 20:32] CIPop commented on #12808
Just wanted to understand this part:

Since that was answered, I've removed the assignment and updated the details above.

[2016-10-20 20:42] CIPop commented on #12685
The work is tracked by #5265.

[2016-10-20 20:45] geoffkizer commented on #12685
cc @Priya91, @ericeil -- I expect they've been dealing with this issues too.

[2016-10-20 20:46] stephentoub commented on #12685
Thanks. (And to be clear, my comments in that thread were for the short term solution, as a way to not do a ton of allocation while not redesigning the pattern. But we should redesign the pattern :)

[2016-10-20 21:02] tannergooding opened #12855 "Test coverage for `System.Math` and `System.MathF` should be expanded."
Currently the test coverage for `System.Math` and `System.MathF` is fairly sparse, to say the least.

It should be expanded, at the very least, with the same set of tests that cover the native implementations in the CoreCLR PAL layer (which has a minimum of 20 tests per API and ensures that the interesting inputs are covered).

As part of this work, the tests should also be converted to use the `[

[2016-10-20 21:22] gkhanna79 opened #12858 "We should dynamicaly link into uCRT"
And only statically link the CRT startup code.

[2016-10-20 21:32] geoffkizer commented on #12136
@weshaggard, @stephentoub

The problem here is adding the TokenBinding class.  It has only an internal constructor today.  To make this usable (e.g. by HttpListener) we would need to add a public constructor to it.  Is that acceptable to do?

[2016-10-20 21:36] ericstj commented on #12725
All these are either done or in PR.

[2016-10-20 21:37] stephentoub commented on #12725
Thanks a bunch, Eric.

[2016-10-20 21:39] stephentoub commented on #12136
How about if we add it to System.Net.HttpListener (or whatever assembly @ericeil is putting HttpListener in), use the internal ctor, and then if we find a need in the future we can type forward it down, add appropriate additional API surface area, etc.  Reasonable?

[2016-10-20 21:39] AlexGhiondea commented on #12793
For example, we should be able to get the number of open file descriptors in the process, which is similar in concept to a handle.

[2016-10-20 21:41] jamesqo opened #12860 "Override the synchronous Stream.CopyTo for other Streams"
Since `Stream.CopyTo` is now virtual, we should investigate overriding it for other Streams under `netcoreapp1.1`. For example, the ones in which @stephentoub suggested overriding the async version, like #12037 and #11573, could be candidates, although I'm not familiar with their implementation details. `FileStream` seems it could certainly benefit from overriding, since you can [see a `Buffer.Blo

[2016-10-20 21:42] AlexGhiondea opened #12861 "Consider the AOT case for APIs that not supported on all platforms."
https://github.com/dotnet/corefx/pull/12765

[2016-10-20 21:45] davidsh commented on #12136
The reason for that is that devs are not to create this on their own.  This object is returned by other code.

[2016-10-20 21:50] geoffkizer commented on #12136
@stephentoub I don't think that works.

TransportContext already exists, and lives in System.Net.Primitives.  It's used by System.Net.Security and System.Net.Http.

TransportContext is missing the GetTlsTokenBindings method.  This method returns an IEnumerable<TokenBinding>.

HttpListener is the only code that actually implements/uses GetTlsTokenBindings.  But other code uses TransportContext, jus

[2016-10-20 21:52] stephentoub commented on #12136
Ah, I see, I was missing the necessary context (no pun intended).

[2016-10-20 21:52] geoffkizer commented on #12136
@davidsh How would we implement HttpListenerRequestContext -- which derives from TransportContext and overrides GetTlsTokenBindings?

[2016-10-20 22:00] danmosemsft opened #12864 "Start running CoreFX tests against Mono"
Currently we run these tests against Desktop, Core, UWP on Windows, Unix, OSX where applicable. Now we have an increased focus on compatibility with Xamarin/Unity, we should consider having these tests run against Mono as well.

[2016-10-20 22:00] karelz commented on #12858
@gkhanna79 what is the value of such change?

[2016-10-20 22:00] danmosemsft commented on #12864
I haven't marked this NS2.0 as although very relevant to the effort it isn't essential and coudl be done later.

[2016-10-20 22:02] karelz commented on #12860
Can you create a list of such streams?

[2016-10-20 22:02] karelz commented on #12860
cc @JeremyKuhne @ianhays

[2016-10-20 22:04] stephentoub commented on #12793
On Linux we can get this by enumerating the contents of ```/proc/self/fd```.  That's relatively expensive, though, so we'd want to do it only on demand I think.

[2016-10-20 22:07] karelz commented on #12025
Ported in #12760

[2016-10-20 22:10] karelz commented on #12023
Ported in #12026

[2016-10-20 22:10] #12023 closed

[2016-10-20 22:37] gkhanna79 commented on #12858
We wont have the servicing burden of CRT, which will be taken care off by the OS.

[2016-10-20 22:50] karelz commented on #12858
That makes sense. Is there a list of CoreFX components that have dependency on uCRT? (I guess only a bunch of native components ...)
Isn't there overlap with CoreCLR dependency on uCRT?

[2016-10-20 22:50] hughbe opened #12868 "Porting bug in System.CodeDom.CodeDomProvider for non existent languages and extensions"
Opening, as I will submit a fix after #12867 is merged.

## NetFx
`CodeDomProvider.IsDefinedLanguage("no-such-language")`
returns `false`

## NetCore
`CodeDomProvider.IsDefinedLanguage("no-such-language")`
throws `KeyNotFoundException`

This is because we can't use `System.Configuration`

/cc @stephentoub

[2016-10-20 22:52] CIPop commented on #12136
Another option: Make the relevant APIs virtual and return a derived class that inherits from `System.Net.Primitives`/`TokenBinding` and is implemented in the internal `System.Net.HttpListener`/`System.Net.Internals.TokenBinding`.
The virtual modifier will be required for `GetRawTokenBindingId` and `BindingType`.

[2016-10-20 22:54] hughbe commented on #12868
Note: `IsDefinedLanguage` is not the only place this error propagates:
- IsDefinedLanguage (should return false)
- GetLanguageFromExtension (should throw System.Configuration.ConfigurationErrorsException)
- IsDefinedExtension (should return false)
- CreateProvider (should throw System.Configuration.ConfigurationErrorsException)

[2016-10-20 23:06] ianhays commented on #12858
@gkhanna79 which lib is the "CRT startup code"?

Right now we statically link all libraries for Debug builds, but only statically link 2/3 for Release.

**Debug:**
Static: libcmtd.lib, libvcruntime.lib, libucrt.lib

**Release:**
Static: libcmtd.lib, libvcruntime.lib
dynamic: ucrt.lib

[2016-10-20 23:09] mellinoe commented on #12864
How do we plan to handle behavior incompatibility with mono? Traditionally, bug-for-bug parity with the mono implementation hasn't even been considered, but parity with .NET Framework has been a pretty big priority.

[2016-10-20 23:21] jkotas commented on #12864
This is not about being bug-for-bug compatible.

[2016-10-20 23:24] geoffkizer commented on #12462
These map to a Windows-specific socket option.

Interestingly, we seem to allow you to try to set this option via SetSocketOption on non-Windows platforms.  Presumably it fails, however (or at least doesn't do what you want it to).

@stephentoub How should we handle this?  We can make them no-ops on non-Windows platforms, or we can make them throw.  I do think it's odd that we let you set the sock

[2016-10-20 23:26] geoffkizer commented on #12148
fixed in #12849

[2016-10-20 23:26] #12148 closed

[2016-10-20 23:27] mellinoe commented on #12864
I brought it up because many of our tests will probably fail due to behavior differences on mono. Right now, the tests weren't written with mono in mind, so it will be a bit of work to understand all those differences and re-configure the tests. When we have behavior differences between our current platforms, we usually either remove assertions (aka test coverage), write multiple tests, disable te

[2016-10-20 23:27] geoffkizer commented on #12462
cc @davidsh @cipop @ericeil

[2016-10-20 23:42] karelz commented on #12868
cc: @Priya91

[2016-10-20 23:46] gkhanna79 commented on #12858
These constitute the startup and general initialization code.

[2016-10-21 00:03] Socolin opened #12871 "HttpClient: SSL connect error with client certificate"
Hi

I'm trying to do an https request using `HttpClient`

[code]

My nginx is configuring to accept client certificate if given, but it doesn't do the verification `ssl_verify_client optional_no_ca` (it's done somewhere else)

nginx config:
[code]

When I use `HttpClient` with no client certificate: It works
When I use `HttpClient` with a client certificate, it failed with the following error
When

[2016-10-21 00:07] davidsh commented on #12871
cc: @stephentoub

[2016-10-21 00:27] weshaggard commented on #12737
@richlander are you wanting this information just as a description string or in some other form? Do you expect people to make runtime decisions based on it?

If we want more APIs we need to put someone on this and write a design proposal for the scenarios we want to support. I also agree with @mellinoe that we should be preferring RuntimeInformation for new APIs over putting them on Environment be

[2016-10-21 00:38] stephentoub commented on #12871
@bartonjs, thoughts on this?

[2016-10-21 01:00] bartonjs commented on #12871
`~/.dotnet/corefx/cryptography/crls/` is the directory where we cache Certificate Revocation Lists (CRLs), the `bd2b1cbf` part is a hash of the subject name of the CA cert associated with the CRL (you can see what it is for any particular certificate with `openssl x509 -in somecert.cer -subject_hash -noout`).

You definitely shouldn't create the file on your own (just `rm` it if you haven't alread

[2016-10-21 01:22] tannergooding commented on #490
https://github.com/dotnet/coreclr/pull/5492 is tracking the remaining work here. The CoreCLR side changes have been merged already.

[2016-10-21 01:27] Socolin commented on #12871
It seems to be different between
[code]

Already done it was just to confirm it was the good file

I use the same certificate with `--cert my_file` in curl's command line and it works

```curl --cert my_file.pem --cacert ca.crt https://XXXXX/```

Here my file (with some missing lines)

[code]

As you can see the key is here:

`-----BEGIN PRIVATE KEY----- `

[2016-10-21 02:03] JeremyKuhne opened #12878 "FileStream needs re-implemented for UAP10.1"
`FileStream` is moving down to `System.Private.CoreLib`. The nested, multiplexing WinRT implementation we shipped with netcore5.0 needs re-implemented.

It isn't straightforward as we don't cross-compile CoreLib and the WinRT PAL lives in CoreFX. Some discussion around this has already taken place in PR #12809.

@jkotas, @ericstj, @ianhays

[2016-10-21 02:37] stephentoub commented on #12462
If the options are actually supposed to do something, and the behavior is meaningful and observable, and we can't achieve it on Unix, we should throw on Unix.

[2016-10-21 02:51] bartonjs commented on #12871
@Socolin Does `my_file.pem` look sort of like
[code]
?

If so, that format is something which works from the commandline utilities, but not from the X509Certificate2 constructor.  You'll need to convert it to a PFX.  If the top segment goes to `cert.cer` and the bottom to `cert.key` then you can make a PFX with `openssl pkcs12 -export -in cert.cer -inkey cert.key -out cert.pfx`  (You might be able

[2016-10-21 03:48] #12798 closed

[2016-10-21 07:23] mairaw commented on #12341
@ericstj you mentioned localization before. So, do we ship localized IntelliSense files with our packages? I'm not sure how this works for .NET Core and NuGet packages.

Also, if you guys can send me an email with the location of the files currently being used, I could try to compare with what we're using to generate the docs site. Perhaps we could update some of the files with the latest content?

[2016-10-21 08:40] bartdesmet opened #12886 "CI failure in NetworkAvailabilityChangedTests.NetworkAvailabilityChanged_JustRemove_Success"
See https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/2043/ for more details.

[2016-10-21 09:04] ivanbottero commented on #12828
Hi,
I made a repro app/code for the issue
The solution contains:
- WPF app
- Universal app
- WCF service
- NetCore library with the service reference (used by wpf app and universal app)
- A class library with the DataContractResolver

The wpf app can call the service with success because the resolver is called (you can set a breakpoint on TryResolveType)
The universal app can call the service but

[2016-10-21 09:47] pdeligia opened #12887 "Bring remaining System.Data.SqlClient.SqlBulkCopy members"
There are missing APIs from `System.Data.SqlClient.SqlBulkCopy` as seen in https://github.com/dotnet/standard/blob/bcf714ee4d6086d898fb7357972ae2827120ae7d/platforms/xamarin.ios/System.Data.cs#L2752, such as:

[code]

It would be great if these could become available.

[2016-10-21 12:09] stephentoub commented on #12886
[code]

[2016-10-21 13:28] ericstj commented on #12341
Yes, to localized IntelliSense.  They are in culture-specific subfolders next to the reference assemblies inside the packages.

You can see the full set inside this package:
https://dotnet.myget.org/F/dotnet-core/api/v2/package/Microsoft.Private.Intellisense/1.0.0-rc4-24220-00

Download it and rename to zip to get all the XML.  /cc @weshaggard

[2016-10-21 13:34] #9984 closed

[2016-10-21 14:44] stephentoub commented on #12199
After https://github.com/dotnet/corefx/pull/12888, the only remaining types in the list are ones that aren't exposed yet, so their ICloneable implementations should just be brought with them if/when they're generally exposed.

[2016-10-21 14:44] #12199 closed

[2016-10-21 14:52] stephentoub commented on #12029
I'm hitting this, too.
Version 1607 (OS Build 14393.321)

[2016-10-21 15:14] rock-meister commented on #2089
@joshfree or anyone else in the know...
We are looking to start a new project which needs access to ActiveDirectoryServices.AccountManagement Question,  Is the port targeted for either 1.1 or 1.2?

[2016-10-21 15:39] karelz commented on #12887
cc @stephentoub - any thoughts?

[2016-10-21 15:43] stephentoub commented on #12887
This is a question for @saurabh500.

[2016-10-21 16:16] #9838 closed

[2016-10-21 16:21] richlander commented on #12737
/cc @leecow

[2016-10-21 16:22] karelz commented on #12887
cc: @weshaggard to comment on general netstandard2.0 guidance

[2016-10-21 16:25] Socolin commented on #12871
There is one more section with the ca.cert included. This file is the one I use with curl with `--cert` option
[code]

With pkcs12 format it works.

So it seems the file format I used is not supported but I got no clear error, but It's ok for me.
Maybe improve error handling would be interessting ?

Thank you.

[2016-10-21 16:47] tmat opened #12891 "Finalize System.Reflection.Metadata public API surface for 1.1.0 release"
Since CoreFX 1.0.0 release we have added many new APIs to SRM to support Roslyn and other customers. We need to finalize these APIs for 1.1.0 as follows:
- [x] Finish signature decoder - add generic context parameter and rationalize type provider interfaces
- [x] Finish signing support in PEBuilder including PE checksum
- [x] Finish new BlobReader public surface (IndexOf, Offset, SkipBytes, SeekOf

[2016-10-21 18:59] JeremyKuhne opened #12892 "Add a more flexible special folder API"
The current `Environment.GetFolderPath()` is based on the pre Windows Vista `CSIDL` based `SHGetFolderPath`. This API was depreciated and doesn't have any of the special folders introduced in Vista and beyond. We've updated the internal implementation in CoreFX to use the new `SHGetKnownFolderPath`, which takes a Guid. If we exposed a Guid based API we would allow:
1. Accessing newer or user regis

[2016-10-21 19:15] drewnoakes commented on #1973
Perhaps a new interface, `IComparableSet<T>` could contain the set operations.

We already have extension methods on `IEnumerable<T>` for a few set operations.

[2016-10-21 19:27] joperezr opened #12893 "System.Net.Security tests are broken when updating to the new coreclr"
When trying to update to the newest coreclr with PR #12836 some System.Net.Security tests started hanging. They all call the same API which launches a task that is awaited and apparently it never resolves. Tests that are in this state are:
[code]

I will disable those tests for now to unblock the coreclr update which some folks depend on, but this issue is to track why did those started failing.

[2016-10-21 20:09] karelz commented on #12893
How many tests are you disabling?

[2016-10-21 20:29] danmosemsft opened #12894 "Duplicate resource name warnings building on Unix"
It looks like the Resgen/GenerateResource task on Unix flags these, but the one we get building on Windows does not (which would be nice to understand). Many of these are genuine duplicates that just need removing, but the componentmodel ones aren't - I haven't figured out why they're appearing as they don't seem to be dupes in the resx.

[code]

[2016-10-21 20:42] CIPop commented on #12029
https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/SystemUnicastIPAddressInformation.cs#L170

The assert is incorrect:
`Debug.Assert(prefixLength < (addressBytes.Length * 8));`

This will fail for the /32 (HOST) CIDR:

[code]

Should be <= instead of <.

[2016-10-21 20:48] huanwu commented on #12828
@ivanbottero, thanks for reporting this issue. I can repro this issue. We will investigate.

[2016-10-21 20:50] AlexGhiondea commented on #12257
I have split the work into 2. One (the Linq/Dynamic piece) is covered by #12606.

The remaining work is:
[code]

[2016-10-21 20:56] stephentoub commented on #12894
@AlexGhiondea already fixed some of these (the TypeConverter ones) in https://github.com/dotnet/corefx/pull/12879/files

[2016-10-21 21:04] CIPop commented on #12893
@joperezr Also, do you have more information on what API is hanging (call stack)?

[2016-10-21 21:14] ericeil commented on #6912
We should consider this if it shows up in performance testing, or is needed to facilitate other work in this area.  For now, closing this issue.

[2016-10-21 21:14] #6912 closed

[2016-10-21 21:19] danmosemsft commented on #12894
Ha! that's why I didn't see them, because I was grepping on a box after I pulled that down.

[2016-10-21 21:34] ryanbrandenburg commented on #12625
Interestingly setting the NeutralResourcesLanguage in AssemblyInfo DOES set resourceManager._neutralResourcesCulture to that language, but does NOT affect this behavior as one might expect after reading [this](https://github.com/dotnet/corefx/blob/master/src/System.Resources.ResourceManager/src/System/Resources/ResourceManager.cs#L97) area of the ResourceManager.

[2016-10-21 21:55] aaron-meyers commented on #1973
@jnm2 The [implementation of these methods used by HashSet](https://referencesource.microsoft.com/#System.Core/System/Collections/Generic/HashSet.cs,6699684fb76d566b) only requires Contains and enumerating the other collection (which IReadOnlySet would get by inheriting IReadOnlyCollection). It does require though knowing that the other set uses the same comparer. Perhaps it is worth adding the Co

[2016-10-21 22:05] huanwu opened #12901 "IXmlMtomReaderWriterInitializerTest fail because of NotImplementedException"
All methods in XmlMtomWriter are not implemented.

[2016-10-21 22:05] aaron-meyers commented on #1973
Alternately, the Comparer could be on a separate interface and the extension method implementations of the set operations would only use the efficient route if both objects implement the interface and have the same comparers. The same approach could be applied for IReadOnlyDictionary (in fact, perhaps they just use the same interface). Something like ISetComparable. Or drawing from @drewnoakes the

[2016-10-21 22:10] karelz commented on #2503
@ericeil says all the code he saw is already there ... closing

[2016-10-21 22:10] #2503 closed

[2016-10-21 22:15] geoffkizer commented on #11883
Implemented in #12594

[2016-10-21 22:15] #11883 closed

[2016-10-21 22:22] huanwu opened #12902 "IXmlTextReaderInitializerTest fail"
Throw InvaidCastException when call the following code, which works on desktop version.
XmlDictionaryWriter textWriter = XmlDictionaryWriter.CreateTextWriter(stream, Encoding.UTF8, false);
IXmlTextWriterInitializer writerInitializer = (IXmlTextWriterInitializer)textWriter;

[2016-10-21 22:28] shmao opened #12903 "Port #12407 to 1.1.0 - Reflection on XmlConvert Not Working in Net Native"
This issue is for tracking porting #12407 to release/1.1.0 branch.

Issue:
XmlSerializer's reflection based serialization uses reflection to find XmlConvert's method and invoke it. This fails in Net Native due to the metadata info of XmlConvert is reduced away.

[2016-10-21 22:29] shmao opened #12904 "Port #12389 to 1.1.0 - JsonDataContract.GetGeneratedReadWriteDelegates May Throw ArgumentNullException"
This issue is for tracking porting #12389 to release/1.1.0 branch.

Issue:
JsonDataContract.GetGeneratedReadWriteDelegates may throw ArgumentNullException in NetNative.

[code]

[2016-10-21 22:32] ramarag commented on #12408
Yes i am working on this. My first change has already made to corefx [https://github.com/dotnet/coreclr/commit/bc382fd9ef27b9d200045cc030cf09b7bf547173]. But i was under wrong impression of coolness of bclrewriter tool. [ The tool created an empty ISafeSerializationData interface].

I have the fix for ISafeSerializationData in PR at https://github.com/dotnet/coreclr/pull/7754/commits/0bd8f2a02da90

[2016-10-21 22:46] Priya91 commented on #12868
@hughbe Good catch! We should fix .NET Core to match Desktop behavior. What's the current behavior in .NET Core for cases where Desktop is throwing ``` System.Configuration.ConfigurationErrorsException```? Since ```Configuration``` is not exposed for netstandard2.0, we should keep .NET Core behavior as is for now for such cases.

[2016-10-21 22:49] alexperovich commented on #5182
@sokket Are you still working on this?

[2016-10-21 22:55] sokket commented on #5182
Nope, I am not

[2016-10-21 22:57] alexperovich commented on #8112
@jamesqo Can you create an api proposal?

[2016-10-21 23:01] alexperovich commented on #4974
Closing as this is a duplicate of #5182

[2016-10-21 23:01] #4974 closed

[2016-10-21 23:05] danmosemsft commented on #8112
Perhaps `StringBuilderCache` should be public. As well as being useful we could then reuse the cache across assemblies. I'm thinking the BCL itself might prefer to keep using its own though as it would add a point of fragility: a misbehaving user can reuse the StringBuilder after returning it.

[2016-10-21 23:08] danmosemsft opened #12908 "Failure in System.Net.Sockets.Tests.DualModeConnectionlessReceiveMessageFrom.ReceiveMessageFromV6BoundToSpecificV6_Success"
https://ci.dot.net/job/dotnet_corefx/job/release_1.1.0/job/centos7.1_debug_prtest/114/console

[code]

[2016-10-21 23:09] danmosemsft commented on #12908
@CIPop who should look at this..?

[2016-10-21 23:22] safern commented on #12811
System.Runtime.Numerics is already updated to netstandard 1.7 in [this commit](https://github.com/dotnet/corefx/commit/a4b0295dbbf0e94aca77869c34d4bbb4c9686972)

And System.Numerics.BigInteger already has member

[code]

[Source code](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs#L997-L1004)

[2016-10-21 23:26] danmosemsft commented on #12894
On Windows, these aren't flagged because the ResourceReader puts the resources in a ListDictionary, which collapses duplicates, before the GenerateResource task sees them. Apparently this wasn't always the case, hence the code for MSB3568 in the GenerateResource task. I'm curious why this isn't true on Unix, I'll see if I can figure that out as a debugging exercise.

[2016-10-21 23:36] AlexGhiondea commented on #12811
Yes. It looks like @danmosemsft fixed this with https://github.com/dotnet/corefx/commit/182f55af4899052eb2b8aa24c6451b80214ce9ff

I am not sure why the tooling flagged it as something that we still need to do. Will investigate.

[2016-10-21 23:36] #12811 closed

[2016-10-21 23:42] mellinoe commented on #1605
@benaadams Could you clarify the behavior of the above? The way I am reading it and interpreting how it's supposed to work, it seems like some of the types are reversed. For example, if I was narrowing UInt16's into UInt8's, then I need twice as many `Vector<UInt16>`'s, not the other way around. Maybe I'm getting hung up on the naming.

[2016-10-21 23:49] benaadams commented on #1605
@mellinoe ah good point; it was late at night :)

[2016-10-21 23:59] dotnet-mc-bot opened #12912 "Test failure: System.Collections.Concurrent.Tests.BlockingCollectionTests/TestDebuggerAttributes"
Opened on behalf of @venkat-raman251

The test `System.Collections.Concurrent.Tests.BlockingCollectionTests/TestDebuggerAttributes` has failed.

System.InvalidOperationException : The API 'System.Collections.Concurrent.BlockingCollection`1[[System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]].m_collection' cannot be used on the current platform. See http://go

[2016-10-22 00:03] mellinoe commented on #1605
Here's another straw-man proposal. How about directly exposing `UnpackHigh` and `UnpackLow`? Does this make sense from our abstraction level?

[code]

If we want to maintain a higher abstraction level, we could have just `Widen` (a specialization of `UnpackHigh` and `UnpackLow`):

[code]
(Pretend that `Vector<4>` and `Vector<2>` map to abstract 4- and 2-length vector types)

To address @nietras 's

[2016-10-22 00:17] benaadams commented on #1605
With `UnpackLow` and `UnpackHigh` `Widen` in the example above could just be an extension method? (assuming it jitted well for registers)

How would narrow work? Use cases

1. Ascii -> UTF16 (byte -> ushort)
2. UTF16 -> Ascii (ushort-low x 2 -> byte)
3. UTF16 validate ascii

3 could be lots of ways; a contrived one for narrow
[code]

[2016-10-22 00:36] joperezr commented on #12893
They are all calling this method:
[code]
And basically the line with `t.GetAwaiter().GetResult()` is never returning.

[2016-10-22 00:38] joperezr commented on #12893
I don't really have a callstack as I didn't really spent much time debugging this, but I thing that debugging the call of `stream.AuthenticateAsClientAsync` seems to be the key

[2016-10-22 00:44] zhenlan commented on #12638
@shmao can you please open issue in dotnet/standard repo so folks can make final decision if these MTOM APIs should be removed from NS 2.0.?

[2016-10-22 00:50] natemcmaster opened #12913 "Microsoft.DiaSymReader.Native.x86.dll ends up in nuget package"
Microsoft.DiaSymReader.Native 1.4.0 includes a .props file as included below. This includes a condition `!Exists('project.json') AND !Exists('$(MSBuildProjectName).project.json')`. The deprecation of project.json means that when users upgrade from a project.json build system to a MSBuild system (and thus deletes project.json), this .props file will include Microsoft.DiaSymReader.Native.{arch}.dll

[2016-10-22 01:05] CIPop commented on #12908
Looks like one of the dual-mode socket tests fails on Centos. I believe that would be @ericeil, @stephentoub /cc: @karelz

[2016-10-22 01:38] jkotas commented on #11809
I think it would be a fine idea.

[2016-10-22 01:39] #12593 closed

[2016-10-22 01:57] jamesqo opened #12915 "API Proposal: Adding Array.IndexOf and LastIndexOf overloads that accept a comparer."
## Background

Currently, `Array.IndexOf` does not accept a comparer parameter and uses the default equality comparer. This means that people who want to find a value in an array with a custom comparer (e.g. a collection type that accepts an `IEqualityComparer`) typically resort to using for-loops or LINQ to find the value. This is slower than calling `Array.IndexOf` directly since it is specializ

[2016-10-22 04:02] shmao commented on #12638
Opened https://github.com/dotnet/standard/issues/78 for tracking this. @zhenlan

[2016-10-22 06:25] mellinoe commented on #1605
Right; it *could* be, since `Widen` as described above is essentially just two calls to `UnpackLow/High` with the second parameter as `Zero`. Then again, maybe we want it as a direct intrinsic since it could be very common.

It seems like the API for it could be as straightforward as this:

[code]

@CarolEidt What are your thoughts?

[2016-10-22 08:38] nietras commented on #1605
@mellinoe having direct access to `UnpackLow/UnpackHigh` sounds good, but would this work for 16-bit to 32-bit signed integer conversion with SSE 4.1 instructions such as:
[code]
Or should there be `UnpackLow/High` overloads without the `second` parameter that can either revert to calling with zeros or use a optimized path for this case when available? That is also add the following:

[code]

For

[2016-10-22 08:43] hughbe commented on #12868
The current behaviour is throwing a `KeyNotFoundException`. However, if you look [here](https://github.com/dotnet/corefx/blob/master/src/System.CodeDom/src/System/CodeDom/Compiler/CodeDomProvider.cs#L211) then it seems that we've defined a private exception to throw in this case.

Perhaps @stephentoub could clarify what the best course of action is (keep the KeyNotFoundException or use the private

[2016-10-22 10:22] #12029 closed

[2016-10-22 10:39] stephentoub commented on #12886
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/2097/consoleText

[2016-10-22 10:47] ili opened #12921 "Type.GetRuntimeMethod returns wrong method"
[code]

in this case `GetRuntimeMethod` returns method with `Int64` parameter, while I'm looking for `Int32`

[2016-10-22 10:54] #12868 closed

[2016-10-22 10:57] stephentoub commented on #12150
Already covered by https://github.com/dotnet/corefx/issues/12725

[2016-10-22 10:57] #12150 closed

[2016-10-22 11:31] jkotas commented on #4673
API added in https://github.com/dotnet/coreclr/pull/5492

[2016-10-22 11:33] jkotas commented on #4673
Covered by https://github.com/dotnet/corefx/issues/1151

[2016-10-22 11:33] #4673 closed

[2016-10-22 11:34] #12725 closed

[2016-10-22 11:35] stephentoub commented on #12886
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/2099/

[2016-10-22 12:05] stephentoub commented on #12886
(@karelz, FWIW, I think we should hold off on adding a "test bug" label until we know something isn't a product bug... in this case, it is a product bug)

[2016-10-22 13:17] stephentoub commented on #12921
@ili, on ```Nullable<T>```, there is only one defined ```op_Implicit``` method:
https://source.dot.net/#System.Private.CoreLib/src/System/Nullable.cs,78
[code]
Since in your example ```T``` == ```Int64```, the only op_Implicit method is one that takes an Int64.

[2016-10-22 15:53] alex4998 commented on #5088
Having the same issue looking for the answer. I don't think it is a good practice to just ignore warnings.

[2016-10-22 16:07] #12886 closed

[2016-10-22 16:17] robosek commented on #12590
I’ve started to investigate this document with private collections of generic List type. Up for now, there are some places simillar to your example with [System.Diagnostics.Process](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs#L30). In this example there is a List of type ProcessInfo initialized with default capacity equ

[2016-10-22 16:31] stephentoub commented on #12184
#12853 has been merged to move these types down into System.Net.Primitives.  We just need to remove the P2P references that were temporarily put in place.  That can be done once we get updated corefx packages in the repo.

[2016-10-22 16:35] stephentoub opened #12926 "RC2CipherTests failing on Win7 with "unknown error""
e.g. https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/42/consoleText

[code]

cc: @steveharter, @bartonjs

[2016-10-22 16:47] stephentoub opened #12927 "Code coverage is broken"
As can be seen in the latest report, it's only providing coverage for a single assembly out of 143 built.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

It's at least partially related to https://github.com/dotnet/buildtools/issues/1144, but I expect there are issues beyond that, as when that issue was opened, the code coverage report wa

[2016-10-22 17:37] karelz commented on #12912
cc: @Priya91 @ianhays

[2016-10-22 18:00] stephentoub commented on #12192
This is how they're currently checked-in.  Let's leave it that way, and we can revisit it if/when we have a need. I'll close this now then.

[2016-10-22 18:00] #12192 closed

[2016-10-22 19:18] stephentoub commented on #12912
This looks like the same issue as https://github.com/dotnet/corefx/issues/10838.
cc: @jkotas

[2016-10-22 20:11] Clockwork-Muse opened #12932 "Consider making the echo test servers able to not pickup websocket data."
I've been trying to tighten a couple of WebSocket tests (specifically that [multiple outstanding `SendAsync` calls  throws an exception](https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs#L85)), but ended up running into a problem:
The internal, lower-level buffering means the data gets picked up, regardless of the delay in the server `Receive`in

[2016-10-22 20:37] davidsh commented on #12932
cc: @CIPop @stephentoub

The "echo servers" are something that my team owns and we host it on corefx-net.cloudapp.net. It is not something that is completely open source at this point.  The code exists in a separate repo and it requires us to update the server.

[2016-10-22 23:33] mikega commented on #962
@krwq where does this code live? I'm looking at https://github.com/dotnet/corefx/tree/master/src/System.Xml.XPath.XDocument and all I see are pretty empty solutions. If you can fire me off the path to the class and the test proj I'll give it a shot implementing the new tests.

[2016-10-23 06:11] bartonjs commented on #12079
Addressed by #12800 (master) and #12869 (release/1.1.0). Don't know why it didn't get closed by GitHub... closing now.

[2016-10-23 06:11] #12079 closed

[2016-10-23 11:59] #12774 closed

[2016-10-23 11:59] #12147 closed

[2016-10-23 12:01] #12126 closed

[2016-10-23 12:34] stephentoub opened #12934 "TestGetAsciiWithDot failing on several OSes"
@Clockwork-Muse, @tarekgh

https://ci.dot.net/job/dotnet_corefx/job/master/job/opensuse42.1_release/384/
https://ci.dot.net/job/dotnet_corefx/job/master/job/opensuse42.1_debug/388/
[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora23_debug/449/
https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora23_release/450/
[code]

I'll refer to my comment on the original PR:
https://gith

[2016-10-23 12:36] stephentoub commented on #7806
Failed again here, this time on Fedora:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/44/consoleText
[code]

[2016-10-23 12:38] stephentoub commented on #7806
Tests do not always run in the same order.  If the tests are expecting to be run in a particular order, we need to fix the tests.

[2016-10-23 15:24] stephentoub commented on #9975
cc: @karelz, @weshaggard, @Petermarcu
Due to this issue, we've not been testing anything in CI on Nano Server for months.
If we care about Nano Server (which I assume we do), we should fix this asap.
If we don't care about it, we should remove the legs from CI and remove the badges from the home page.

[2016-10-23 15:43] #12921 closed

[2016-10-23 16:19] sxmichael opened #12937 "CurlHttpHandler throws exception when http status >= 600"
When parsing response headers CurlHttpHandler throws HttpRequestException when http status >= 600. Specifically relevant line is [here](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Net.Http/src/System/Net/Http/Unix/CurlResponseHeaderReader.cs#L46) .

This produces different behavior when running on windows platform (when WinHttpHandler is used, which do

[2016-10-23 19:50] davidsh commented on #12937
cc: @stephentoub

[2016-10-24 01:09] stephentoub opened #12939 "Unhandled exception in System.Net.Security tests on Windows"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/64/consoleText

[code]

cc: @davidsh, @cipop

[2016-10-24 01:55] dotnet-mc-bot opened #12940 "Test failure: System.Net.Tests.FtpWebRequestTest/GetResponse_ServerNameNotInDns_ThrowsWebException"
Opened on behalf of @jiangzeng

The test `System.Net.Tests.FtpWebRequestTest/GetResponse_ServerNameNotInDns_ThrowsWebException` has failed.

Assert.Equal() Failure\r
    Expected: NameResolutionFailure\r
    Actual:   ConnectFailure

        Stack Trace:

           at System.Net.Tests.FtpWebRequestTest.GetResponse_ServerNameNotInDns_ThrowsWebException()
Build : Master - 20161023.01 (Core Tests)
F

[2016-10-24 02:07] stephentoub commented on #12940
@jiangzeng, on the computer you're using to run these tests, what happens if you open a web browser and browse to a non-existent host, e.g. browse to "http://3326272AF20A4731A3C16A3D495D1945.com".  Do you get an error from your service provider about not being able to find the target page, or do you get an error from the browser about a DNS failure?

[2016-10-24 02:35] #12441 closed

[2016-10-24 02:36] hseok-oh commented on #12441
Fixed by #12829, dotnet/coreclr#7649

[2016-10-24 02:59] jiangzeng commented on #12940
@Chrisboh
@stephentoub I'm not running the tests. I think the runs are automatically triggered, and the machines get destroyed fast, maybe can only setup a machine with the same configuration.
I think @MattGal may help about this.

[2016-10-24 03:33] unshorn opened #12941 "Deserialization callback order in System.Runtime.Serialization.ObjectManager"
The  object listed here throws a Null reference exception on deserialization because the deserialization callbacks are raised from the outer object and then works its way in (causing an outer object to access an inner object that's not initialized yet.)

Is this by design or a bug?

`
var d = new Dictionary<HashSet<string>,string>(HashSet<string>.CreateSetComparer());
d.Add(new HashSet<string>() {

[2016-10-24 04:35] Clockwork-Muse commented on #12934
@stephentoub - although we've discovered that the behavior of OpenSUSE has changed.

... For the Linux platforms in the original tests, what was the gain?  It feels like the test was saying "this call might fail, it might succeed, we don't really care, or know, or track it...".  Well, it does ensure that the call either fails with a specific exception, or returns the original string, which is impo

[2016-10-24 05:29] Clockwork-Muse commented on #7806
Even besides the test ordering problem, `Random` [isn't threadsafe](https://msdn.microsoft.com/en-us/library/system.random(v=vs.110).aspx#ThreadSafety).  Tests are run in parallel.
So part of what we're seeing is possibly due to its internal state being corrupted.  The remarks claim that concurrent access results in a 0 being returned, but the current code doesn't seem to do anything to ensure tha

[2016-10-24 05:54] dotnet-mc-bot opened #12942 "Test failure: System.ServiceProcess.Tests.ServiceControllerTests/ConstructWithDisplayName"
Opened on behalf of @jiangzeng

The test `System.ServiceProcess.Tests.ServiceControllerTests/ConstructWithDisplayName` has failed.

System.Exception : error: System.ServiceProcess.ServiceController.TestNativeService.exe failed with exit code -1073741515

        Stack Trace:

           at System.ServiceProcess.Tests.ServiceProvider.RunServiceExecutable(String action)
       at System.ServiceProce

[2016-10-24 07:29] jkells commented on #9846
I see mentions of binding redirects and beta packages in this thread, what is the official workaround? Should I be using the beta package or doing a binding redirect?

[2016-10-24 08:18] hughbe opened #12943 "System.Linq.Expressions factories throw NullReferenceException with global fields and global methods"
Consider the following test class I put together of all instances. I will submit a PR fixing these bugs if it you guys approve, so please let me know. Here I've used RefEmit to produce the global fields/methods, as C# doesn't support them

[code]

@bartdesmet @VSadov @JonHanna

[2016-10-24 08:49] parjong opened #12944 "TestFailure: System.Net.Mail.Functional.Tests"
I encountered the following test failure while running ``System.Net.Mail.Functional.Tests`` unittest:
[code]

[2016-10-24 09:20] lburkovsky opened #12947 "System.IO.Compression: Add support for password protected files"

[2016-10-24 10:51] stephentoub commented on #12934
Doesn't that further contribute to the notion that this is unspecified behavior on Linux, so trying to pin it down will just cause us continued grief?

What you stated: "it does ensure that the call either fails with a specific exception, or returns the original string, which is important"

I don't know much about this particular test, but just from looking at it quickly, it seems like it fails in

[2016-10-24 11:32] ili commented on #12921
@safern but I'm looking method, with parameter type `Int32`!, `null` should be returned, because there are no method taking `Int32`
This is according to MSDN: https://msdn.microsoft.com/en-us/library/system.reflection.runtimereflectionextensions.getruntimemethod(v=vs.110).aspx

I do refer that `GetRuntimeMethod` would return me method with name & parameters I'm looking for, and it returns me "some

[2016-10-24 11:34] CarlCrol opened #12948 "Xamarin form using OPC UA Client SDK fails to Session Connect"
Working on creating a Xamarin.form Android App using Xamarin.form fails to Session.Connect. throws an error connection refused. Is the SDK supports Xamarin.forms?
Is there samples on how to use the .net core sdk in xamarin forms?

[2016-10-24 11:35] stephentoub commented on #12921
Int32 is implicitly extended up to Int64.  If you changed ```var paremeterType = typeof(int);``` to ```var paremeterType = typeof(DateTime);``` for example, then it would return null.

[2016-10-24 11:52] ili commented on #12921
@stephentoub thanks for your reply

`op_Implicit` is used to make a convert avoiding boxing, this is a real code used:
[code]

so when I'm getting method taking `Int64` as parameter a do have an exception on ` Expression.Convert(p, to, op)` because `to` is `Int32`

[2016-10-24 12:10] stephentoub commented on #12921
It's possible there's a problem with Expression.Convert, but I'm having a bit of trouble following the example, e.g. I'm not sure what your ```from```, ```to```, and ```p``` arguments are.  If the real concern here is with Expression.Convert's behavior, can you open a separate issue for that?  If you can supply a short self-contained repro (e.g. a Main method that exhibits the unexpected exception

[2016-10-24 12:13] stephentoub opened #12949 "Lots of restore failures on Unix"
A bunch of our Unix CI legs have begun to fail with errors like:
[code]
or
[code]
cc: @weshaggard, @joperezr, @bartonjs, @ericstj

[2016-10-24 12:22] ili commented on #12921
@stephentoub I'll try to do it today or tomorrow

[2016-10-24 12:23] stephentoub commented on #12921
Thanks, @ili.

[2016-10-24 13:15] ili opened #12950 "Expression.Convet System.InvalidOperationException"
This test sample

[code]

falls with exception

[code]

[2016-10-24 13:16] ili commented on #12921
@stephentoub please see #12950 for `Expression.Convert` issue test

[2016-10-24 13:16] stephentoub commented on #12685
Since I've been complaining about the System.Net logging and the issues have been sitting here for so long, I've assigned them to myself and am working on an overhaul.

[2016-10-24 13:17] stephentoub commented on #12950
cc: @bartdesmet, @VSadov

[2016-10-24 14:44] zabulus commented on #12950
This fails also on .NET Desktop.
I'm not sure what are you trying to achieve but exception seems legitimate.
You are trying convert ```Int64?``` constant to ```int``` using method with following declaration:
```Nullable<Int64>op_Implicit(Int64 value)```
Following runs successfully:
[code]

[2016-10-24 15:40] CIPop commented on #12893
@joperezr If Security is the only contract that's failing after this CLR update, please disable the test and assign the issue to me for investigation.
If there are other Task related failures within the same update, it's probably best if it's analyzed by the CLR team before the merge.

I'm also interested to know the answer to @karelz question above:

[2016-10-24 15:43] stephentoub commented on #12893
I believe @joperezr listed out in his original comment the five tests that were failing and that he disabled.

[2016-10-24 15:57] crummel commented on #12927
The way we're using -register and filtering haven't changed, it seems like the PDBs might be the primary problem.  Our last good run before https://github.com/dotnet/buildtools/issues/1144 was filed was [http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/code_coverage_windows/38/Code_Coverage_Report/](#38), which has 90 assemblies reporting.  If @MattGal doesn't have time I can take a

[2016-10-24 16:00] stephentoub commented on #12927
I believe the real number should be closer to 110 or so, so even that 90 number was after some libs were already missing their PDBs (that's when we filed https://github.com/dotnet/buildtools/issues/1144).

Yeah, I expect that's the cause.  While there are a variety of PDB-related issues it could be, normally this happens when the PDB isn't deployed to the same directory as the associated .dll.

Th

[2016-10-24 16:21] danmosemsft commented on #12323
@morganbr Same reasoning as for much of the other API we're adding -- to be compatible with desktop and Xamarin so libraries can be reused. There are very few exceptions, generally for technologies we don't plan to bring over like remoting. We aren't making judgements about the usefulness or advisability of using an API.

[2016-10-24 16:34] CIPop commented on #12932
@davidsh @Clockwork-Muse Actually, the code is in this repo and scripts are available to deploy it on your own VMs: https://github.com/dotnet/corefx/tree/master/src/Common/tests/System/Net/Prerequisites

This is still work in progress (e.g. we don't have automatic deployment) but I can help updating the server after you've tested it locally.

[2016-10-24 16:59] steveharter commented on #12323
On GetNonZeroBytes - working with Jeremy to ensure we use the 'correct' version of the implementation as there is two ways it is implemented, with one being correct.

[2016-10-24 17:02] MattGal opened #12953 "New System.Net.Requests tests are in a mis-matching namespace"
@geoffkizer
I noticed with the new FTP tests that their namespace is System.Net.Tests:
https://github.com/dotnet/corefx/blob/d324c82ec8ada48d690eb65381606c93989e9654/src/System.Net.Requests/tests/FtpWebRequestTest.cs#L13

Ideally this should be  System.Net.Requests.Tests as later on it makes it much easier to follow test results back to their test assembly.

[2016-10-24 17:04] tarekgh commented on #12934
I agree with @stephentoub to revert the change done in this test cases to be resilient to the different platforms. I'll try to do this to unblock the CI

[2016-10-24 17:06] geoffkizer commented on #12953
I think I was following FileWebRequestTest.cs here.  I'll go through and clean these all up.

[2016-10-24 17:06] karelz commented on #12949
@weshaggard @ericstj who is the best person to take a look at this kind of failures?
cc: @danmosemsft

[2016-10-24 17:08] stephentoub commented on #12953
This goes against the guidelines we have for the repo.  A test for class Namespace.Class should be in Namespace.Tests.  It sounds like @geoffkizer has it set up correctly.

[2016-10-24 17:08] CIPop commented on #3501
Tracking adding static analyzers with this issue as well.

[2016-10-24 17:09] karelz commented on #12948
@weshaggard don't we need NS2.0 APIs (Xamarin compat) to support Xamarin forms?

cc: @danmosemsft

[2016-10-24 17:11] mellinoe commented on #12892
A few general, big-picture questions / observations:

* This probably shouldn't be in `Environment` since that would make it much harder to update and version.
* If this is designed with cross-platform behavior in mind, are `Guid`s the right level of abstraction? That seems very Windows-centric, and doesn't map to other platforms in a meaningful way. Folks picking this up on other platforms would

[2016-10-24 17:12] karelz commented on #12947
I think it is dupe of #12066 -- closing
cc: @ianhays

[2016-10-24 17:12] #12947 closed

[2016-10-24 17:12] danmosemsft opened #12954 "Missing some members of System.Diagnostics.Tracing.EventListener"
These were added between 4.6.1 and 4.6.3 and we're going to add them to NS2.0 so they need to be added to Core.

[code]

[2016-10-24 17:12] MattGal commented on #12953
I stand corrected;  I still think it's confusing and made it hard to find my way backwards on test failures.

[2016-10-24 17:12] #12953 closed

[2016-10-24 17:13] karelz commented on #12944
@Priya91 it looks related to your Mail work ...

[2016-10-24 17:14] danmosemsft opened #12955 "Add some missing System.Net.Security"
These were added between 4.6.1 and 4.6.3 and we've decided to add such API to NS2.0 so we need them in Core.

[code]

[2016-10-24 17:14] karelz commented on #12941
@shmao @huanwu can you please take a look?

[2016-10-24 17:15] stephentoub commented on #12953
Here's the relevant issue: https://github.com/dotnet/corefx/issues/2898.  You can see a lot of work has gone into conforming to this.  If we want to revisit it, we should discuss it on that issue before making any changes to move away from it.

[2016-10-24 17:16] danmosemsft commented on #8158
Change of plan, we now want all 4.6.2 and 4.6.3 API in NS2.0. So we do need to port these to Core. Here's the API:

[code]

[2016-10-24 17:18] stephentoub commented on #12944
Closed by https://github.com/dotnet/corefx/pull/12945

[2016-10-24 17:18] #12944 closed

[2016-10-24 17:18] danmosemsft commented on #11067
We are bringing NS2.0 up to match 4.6.3 so these are in scope. Here's the list

[code]

[2016-10-24 17:18] danmosemsft commented on #12955
dupe of https://github.com/dotnet/corefx/issues/11067

[2016-10-24 17:18] #12955 closed

[2016-10-24 17:19] MattGal commented on #12953
No, I'm fine leaving things as-is especially if they're actually consistent.  I was simply checking out a test failure for "System.Net.Tests.FtpWebRequestTest" and find it frustrating there's no assembly anywhere named System.Net.Tests.dll.  The name of the assembly is how work items in .NET Helix are listed, so I just had to do the extra lookup step to realize this would be in System.Net.Requests

[2016-10-24 17:20] CIPop commented on #12939
Thanks for opening the issue @stephentoub. I saw more of these happening lately.
There is no indication on what test was running (the issue happened on an IOCP completion thread) and no dump or ETW traces (enhancement tracked by #4152).

The only way to further investigate is to repro on a dev box.

[2016-10-24 17:21] danmosemsft commented on #11802
We do want to bring NS2.0 up to 4.6.3 now, so these are included.

[code]

[2016-10-24 17:22] CIPop commented on #12893
@stephentoub @joperezr Are those tests the only tests that needed to be disabled during this merge? The original comment is only talking about S.N.Security and it's not clear if there were other similar issues within other contracts.

[2016-10-24 17:22] joperezr commented on #12893
Correct, 5 tests were disabled. And these 5 tests were the only ones failing across the whole repo with the update, so I'll assign this to you for more investigation.

[2016-10-24 17:23] danmosemsft opened #12956 "Add missing members of DSACng and RSACng"
We want to bring NS2.0 up to match 4.6.3 so we are missing these members

[code]

/cc @bartonjs @steveharter

[2016-10-24 17:23] stephentoub commented on #12939
Suggestion: modify DummyTcpServer's ctor to either take and store a stack trace which it then includes in any exceptions it allows to go unhandled (e.g. from OnReceive), or do the same but with a [CallerMemberName] in the DummyTcpServer's ctor.  that should help us to understand at least which test it is the next time it happens.

[2016-10-24 17:23] joperezr commented on #12893
Yes, only those 5 in the whole repo, so it might be something related to just S.N.Security