[2019-10-28 05:52] MagicAndre1981 commented on #38579
Milestone is set to 5, so no it will be not part of 3.1 and so this is useless at all.

[2019-10-28 06:09] benZhai01 opened #42168 "Request CachePolicy doesn't applied in .net core 3.0"
#### Steps:

1. create a Console App(.net core 3.0)
2. apply following code
[code]
3. run sample.

#### Actual Behavior
It's observerd that http request header doesn't include the cache seeting.

![image](https://user-images.githubusercontent.com/47809203/67655539-e9375a00-f98b-11e9-8c53-71846184779e.png)

#### Expected Behavior
Runing with the same code in Console App against .net framework, we c

[2019-10-28 06:59] willowTank commented on #25290
Thank you very much.

[2019-10-28 08:59] #40014 closed

[2019-10-28 09:46] stephentoub commented on #42167
Thanks. Dup of https://github.com/dotnet/corefx/issues/26378.

[2019-10-28 11:09] rick-de-water commented on #42149
Another issue with implementing this yourself is the lack of any partial deserialization functions such as `TryDeserialize`, which forces you to do multiple passes on the JSON data. Once with the `Utf8JsonReader` to make sure that you loaded a complete object, and then another pass to deserialize it into an actual object.

[2019-10-28 11:11] coxp commented on #41769
@jhaygood86 Although not raised by myself, this seems to be the exact issue that we are suffering from. https://github.com/DigDes/SoapCore/issues/344.

We can't regenerate the client-side code because we don't own those services.

Additionally we have the issue that SoapCore is not really production ready (and to be fair is not v1 yet and even the author hopes that MS will make the project redunda

[2019-10-28 11:27] iSazonov commented on #41333
Will  InvariantCulture be the same as locale "C"/"POSIX" ?

[2019-10-28 12:10] GRdevOps commented on #24843
I believe DirectoryServices makes calls out to specific win dll's that do not exist on linux or .Net Core.  Been awhile, but off the top of my head I believe when they made .Net Core and wanted to add LDAP functionality they simply wrapped the .Net Core functionality around the old calls, or something like that....

[2019-10-28 12:16] MV10 commented on #42153
enums are numeric but this is a perfect use-case supporting an ongoing discussion about string-based enums:

https://github.com/dotnet/csharplang/issues/2849

[2019-10-28 12:32] tmds commented on #41519
If it doesn't work cross-platform (esp on Windows), it's not that interesting.

I don't know how to compute the shared secret myself, so I'm going to take a dependency on BouncyCastle and use that to calculate the shared secret:

[code]

Thanks for your input @bartonjs !

[2019-10-28 12:32] #41519 closed

[2019-10-28 13:06] stephentoub commented on #42155
Please share several example places it would be used.  Otherwise it's difficult to validate that the designed feature actually meets the need.

In additional to Cancel also presumably needing to wait for async operations to complete, CancellationTokenRegistration.Dispose() must also wait if the registration it's disposing is for an async callback that's currently executing.

The inverse is also a

[2019-10-28 13:07] ViktorHofer opened #42170 "Cleanup diverging code branches when moved to dotnet/runtime"
Search for this issue number inline and remove the different branches.

[2019-10-28 13:08] julienGrd commented on #38579
You can for the moment switch to newtonsoft, im facing the same problem and i use this class extensions (adapt the settings to your needs)

[code]

[2019-10-28 13:23] #42167 closed

[2019-10-28 13:41] pasikarkkainen commented on #24843
@GRdevOps See https://github.com/dotnet/corefx/issues/24843#issuecomment-475187057 . @dogguts did the initial port of System.DirectoryServices.Protocols to Linux, wrapping openldap library on Linux. ie. similar wrapper implementation as it is on Windows currently. Someone needs to finish the initial port..

[2019-10-28 14:00] Logerfo opened #42172 "`DebuggerDisplayAttribute` in ADO.NET types"
## Description
As discussed in npgsql/npgsql#2687, some ADO.NET types could benefit from having a `DebuggerDisplayAttribute`.

## Which types _should_ have it?
- Types that have a small handful number (preferably one) of "main" properties.

## Which types should _not_ have it?
- Types that overrides the `ToString` method, since the debugger uses it by default.

## Pending questions
- Should we use

[2019-10-28 14:23] YohDeadfall commented on #42172
Speaking about debugging info, I would like to see `"ParameterName = {ParameterName}, Value = {Value}"` for the `DbParameter` type. The command type could expose the current state.

[2019-10-28 14:43] brettrowberry commented on #42153
@MV10 I hadn’t considered string-based enums. Cool. I’m for anything that provides documentation within the context of a user’s editor.

[2019-10-28 14:47] Logerfo commented on #42172
@YohDeadfall I have updated the description in order to include your suggestion for the `DbParameter` type.
About the `DbCommand` type, I don't know what you mean. As far as I know, there is no `State` or similar property. It does exist for `NpgsqlCommand`, you might be mixing them up.

[2019-10-28 14:49] YohDeadfall commented on #42172
Sorry, I mean `DbConnection`.

[2019-10-28 15:02] Logerfo commented on #42172
OK, updated.

[2019-10-28 15:02] dotnetdot1 opened #42173 "Graphics.DrawString 中文乱码的问题"
我发现使用nuget安装的System.Drawing.Common 在源码里面的 api是
[DllImport("libgdiplus", ExactSpelling=true)]
internal static extern int GdipDrawString(IntPtr graphics, string text, int len, IntPtr font, ref RectangleF rc, IntPtr format, IntPtr brush);
没有CharSet标识，导致在centos下 DrawString 中文是乱码，将此代码改成
 [DllImport("gdiplus", CharSet = CharSet.Unicode)]
        static internal extern int GdipDrawString(IntPtr graphics,

[2019-10-28 15:12] stephentoub commented on #32582
The latest data that was shared above states (in what was linked to):
"Blah, I'm running more performance tests what's there now might be noise."
"Might be a wash."
That's not particularly conclusive for exposing new API entirely about improving performance. :wink:

I'm actually not against the idea of exposing it, but if it's decided it's actually needed, we need to think through how to do so.  E

[2019-10-28 15:25] dotnetdot1 commented on #41292
https://www.cnblogs.com/dotnet-org-cn/p/11756285.html
nuget 包中的GdipDrawString 定义问题导致的 乱码，收到改回来就好
nuget 包中的GdipDrawString 定义 少了CharSet 标记导致的

[2019-10-28 15:25] dotnetdot1 commented on #41292
https://www.cnblogs.com/dotnet-org-cn/p/11756285.html
nuget 包中的GdipDrawString 定义问题导致的 乱码，收到改回来就好
nuget 包中的GdipDrawString 定义 少了CharSet 标记导致的

[2019-10-28 15:48] benaadams commented on #32582
The example change while removing the EC restore when it returns, does add an EC suppress + restore when it starts; so while its removing work its also adding work.

Whereas the api change; I assume, would just be passing a bool which would drop the capture and restore, so only remove work?

[2019-10-28 15:56] HaraldMuehlhoffCC commented on #38760
Just a quick reminder that new client / server applications that cost millions to develop and will have to be maintained for more than a decade are currently being built using `BinaryFormatter`. Even in times of "assume breach" using `BinaryFormatter` over a secured internal network connection has it's merits and the stability of the API surface is crucial for the credibility of the .NET platform.

[2019-10-28 16:00] 87Alex commented on #42062
Thank you, We will wait for the next release.
This method is just a part of a more complex project and check. We get the culture name from a file name and use it to load required culture values. Users can make a mistake in the file name. I got the difference in our tests and did not check how our application behaves with incorrect culture values.

[2019-10-28 16:05] tarekgh commented on #41333
I am not sure what you mean by be the same, in 3.0 we already map "C" locale to InvariantCulture. "C" locale behavior is not desirable at all and that is why we did this mapping.

[2019-10-28 16:08] davidfowl commented on #42155
What sort of examples are you looking for? Examples where people are calling .Wait today? Here's a place where it will be used:

https://github.com/aspnet/Extensions/blob/f00078cf2ccfa878083e8fb11e01fdd1fef1cf7d/src/Hosting/Abstractions/src/IHostApplicationLifetime.cs#L16-L28

We would trigger the async verisons of these token callbacks (the code path is already asynchronous).

https://github.com/

[2019-10-28 16:13] tarekgh commented on #42062
I am not sure if this is right thing to validate. How the culture get included in the file name in the first place. You can run into scenarios having culture names in the file names that you assume it is not valid and can be valid. I suggest you go away from manually validating the culture this way or restrict the cultures to the current OS culture list. it is easy OS can add cultures in the futur

[2019-10-28 16:25] Clockwork-Muse commented on #42164
_Why_ do you want to override the mutation methods?  What problem are you actually trying to solve?

[2019-10-28 16:27] davidfowl commented on #32582
"Blah, I'm running more performance tests what's there now might be noise."
"Might be a wash."
That's not particularly conclusive for exposing new API entirely about improving performance.

Yea, testing this change was hard and I never got conclusive data about whether it moves the needle. It does do unnecessary work and that still bugs me. Hopefully we'll be in a better place to get data soon.

[2019-10-28 16:33] steveharter commented on #42149
We do have plans for the `IAsyncEnumerable` via https://github.com/dotnet/corefx/issues/41358 which should meet your need for one-by-one results.

Also since the existing Stream-based deserialize methods wait until all data is read before returning the result, they don't meet the requirement of returning items one-by-one. However, those Stream methods are also async and do not require the whole St

[2019-10-28 16:49] jasantosw commented on #40730
Hello, I'm having the same SGEN1 warnings building a simple project in VS2019 16.3.1 that targets the netcoreapp2.1 framework and uses version 2.1.0 of the .NET Core Xml Serialization Generator:

1>ConsoleApp2 -> C:\Users\jasw\source\repos\ConsoleApp2\ConsoleApp2\bin\Debug\netcoreapp2.1\ConsoleApp2.dll
1>[Microsoft (R) .NET Core Xml Serialization Generation Utility, Version 2.1.0]
1>Copyright (C)

[2019-10-28 16:49] iSazonov commented on #41333
@tarekgh Sorry, my question was about Windows.

[2019-10-28 16:55] tarekgh commented on #41333
Yes, "C" on Windows is mapped to Invariant too (in net core 3.0).

[2019-10-28 17:21] TamarChristinaArm opened #42176 "API Proposal : Arm Shift and Permute intrinsics"
The `A32` variants of these are blocked pending resolution of the `<lanes>x<copies>` implementation in #26574 (e.g. `int32x2x2`).  The permute instructions such as `ZIP1` and `ZIP2` present an interesting challenge.  Since intrinsics in CoreCLR/CoreFX are supposed to match down to a single hardware instruction this makes it a bit awkward, since on `A32` `ZIP, TRN, UZP` are destructive operations w

[2019-10-28 17:32] abelykh0 opened #42178 "[snap][rhel7] SSL is not working"
Environment:

[code]

Install .Net Core using `snap` (see https://github.com/dotnet/core/blob/master/release-notes/3.0/3.0.0/3.0.0-download.md)

[code]

Run the following code:

[code]

You get the following:

[code]

If you run the same code on the same RHEL 7 with .Net Core installed using `yum`

[code]

The output is as expected:

[code]

[2019-10-28 18:12] GrabYourPitchforks commented on #38760
@HaraldMuehlhoffCC Thank you for your feedback. Your comments hit on a few key points which I think are prime examples of why I had proposed this work item to begin with.

You are correct in that new applications (in 2019!) are being built with `BinaryFormatter` dependencies. IMO this is in large part due to the fact that Microsoft as a whole has not presented a unified message saying "do not use

[2019-10-28 18:22] scalablecory commented on #42180
Correct, the default is 1.1.

To default this to 2.0 in a usable way, we would first need to support [h2c upgrade](https://github.com/dotnet/corefx/issues/41621).

[2019-10-28 18:32] TylerBrinkley commented on #32868
What needs to be done for this to be marked as `api-ready-for-review`?

[2019-10-28 18:32] #42180 closed

[2019-10-28 18:41] MarcoDorantes commented on #24829
Hi, @igalnassi .
For what it worth, and for your information, using .NET Core 3.0, the configuration at app.config section <system.diagnostics> still does not have effect on System.Diagnostics.Trace class methods (like WriteLine). But, now I am able to manually add, for example, a System.Diagnostics.TextWriterTraceListener, to the Trace.Listeners collection and now the Trace.WriteLine method worke

[2019-10-28 18:56] jemiller0 commented on #24829
It would be great if Microsoft would add this functionality back in. The new logging API that requires dependency injection and other third party libraries is a monstrosity. You should not have to rely on third party software for something as fundamental as logging. Also, you shouldn't have to rely on overly complicated design patterns such as dependency injection. TraceSource was straight forward

[2019-10-28 18:59] jemiller0 commented on #24829
I should say, maybe I would be fine with configuring it programmatically. That is, if you could configure it globally. The way it stands now, you can't. You have to configure each TraceSource instance, which typically are going to be all over the place. For practical purposes, it makes it unusable. Unfortunately, Microsoft doesn't care. They would rather just push you into using the new piece of g

[2019-10-28 19:03] HaraldMuehlhoffCC commented on #38760
@GrabYourPitchforks Thanks for your comment. We have indeed control both of the client and the server and it's running in a tightly restricted environment (electric utility companies). And this won't change for the client I'm talking about. Our web client is of course using a different protocol (JSON).

I don't quite get your running arbitrary code analogy. In a sense all protocols use some binary

[2019-10-28 19:07] blowdart commented on #38760
_Just because the BinaryFormatter isn't using a human readable format doesn't mean that it's creating some sort of executable._

I'm afraid you're incorrect. It's not a matter of human readable versus binary, it's how the serialization works. BinaryFormatter puts the class information inside the serialized data. When it's deserialized that information is used to create the objects embedded in the

[2019-10-28 20:00] mgravell commented on #38760
feature-compatible and not much slower.

It is hard to comment on "feature-compatible" here without talking about
what features you're using, as several of BinaryFormatter's "features" are
really anti-features, but: you might find it relatively easy and performant
to try protobuf-net (I'm hugely biased, disclosure blah blah). I should
note that protobuf-net *also* had a similar optional / opt-in "

[2019-10-28 20:07] ericstj commented on #42111
I would have expected that the packaging task sees that System.IO.FileSystem.Primitives is inbox on .NET4.6.1 and removed the dependency.  Here: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Build.Tasks.Packaging/src/CreateTrimDependencyGroups.cs#L87

We'd need to debug here to find out why this isn't getting trimmed.

[2019-10-28 20:17] wfurt commented on #42178
Do you have trusted CAs installed @abelykh0 ? And what is your inner exception? That should give some clue. You can also try `openssl s_client -connect www.github.com:443 -status`

[2019-10-28 20:17] wfurt commented on #42178
cc: @tmds

[2019-10-28 20:18] vcsjones commented on #42172
I wonder if there is any security guidance or concerns for using `DebuggerDisplayAttribute` on information that is sensitive. `ConnectionString` maybe contain a username and password.

[2019-10-28 20:19] wfurt commented on #42168
cc: @davidsh

[2019-10-28 20:23] blowdart commented on #38760
And if you want to see examples of binary formatter abuse in action; https://youtu.be/kz7wmRV9xsU?t=1273

[2019-10-28 20:24] Logerfo commented on #42172
@vcsjones I don't think there is any concern, as it probably would for `ToString`. If someone has access to the value displayed in the debugger through the attribute, it's sure that they also have access to its members values, including private ones.

[2019-10-28 20:27] wfurt commented on #42114
Problem with lazy init is that you may not get consistent info or it may not work if something changes.
cc: @JeremyKuhne

[2019-10-28 20:32] abelykh0 commented on #42178
Don't know

I have both `yum` and `snap` installs at the same time. Here is the output of `yum` dotnet:
[code]
Here is the full output of `snap` dotnet:
[code]

You can also try openssl s_client -connect www.github.com:443 -status
[code]

[2019-10-28 20:49] wfurt commented on #41953
I agree that `domain` should be supported and it probably should take precedence over `search` as well.
As far as list of all domains DNS is willing to search: that would need new API. Also current structure assumes that this is per interface.  However that is not true in practice on Unix systems where DNS resolver is global per system (or container)

[2019-10-28 20:51] HaraldMuehlhoffCC commented on #38760
Thank you, @blowdart and @mgravell! I get that security is not free & I've been actively following quite a few security folks on Twitter. Nevertheless for our very large object model I wouldn't necessarily want to add as much metadata as protobuf-net seems to require (even though we generate part of our model via a custom ORM and could generate attributes for some of the classes programmatically).

[2019-10-28 20:56] blowdart commented on #38760
As soon as we start adding limitations it's no longer compatible. We can't break the entire world like that. And surrogates have their own problems with DoS and OOM attacks.

[2019-10-28 21:11] HaraldMuehlhoffCC commented on #38760
@blowdart "With great power comes great responsibility" ;)

The currently available API should make it possible to add whitelisting types if required; see `public virtual ISerializationSurrogate GetSurrogate(Type type, StreamingContext context, out ISurrogateSelector selector)` in `ISurrogateSelector`.

I'm with you that it's a good idea to make using the `BinaryFormatter` a conscious choice; even

[2019-10-28 21:12] wfurt commented on #42178
cc also @bartonjs in case this rings a bell.

[2019-10-28 21:14] blowdart commented on #38760
Moving it to a separate package doesn't mean you roll your own, you just have to opt-in to using it, with suitable dire warnings.

And then point #4 in Levi's plan would get you a safer one anyway.

[2019-10-28 21:15] tannergooding commented on #42176
Thanks @TamarChristinaArm.

I've added this to the list of APIs to cover tomorrow.

[2019-10-28 21:16] corbinmunce commented on #38007
I was surprised this isn't supported yet.

[2019-10-28 21:17] tannergooding commented on #26220
I've removed the `api-approved` label and will take this back to API review.

We will need to determine whether the ISA name or method names change.

[2019-10-28 21:28] HaraldMuehlhoffCC commented on #38760
@blowdart  Then just keep it supported (or at the very least hand it to the community like WCF) ... otherwise customers would still be required to "roll their own" or use some other formatter - that wouldn't necessarily be safer - once critical (security) bugs were discovered. (I'm not talking about the architectural shortcomings you've written about)

I will look into adding whitelisting for our

[2019-10-28 21:29] ericstj commented on #42173
Thank you for raising this issue.

Translation above is that we are missing `CharSet` from GdipDrawString.

This is a duplicate of https://github.com/dotnet/corefx/issues/41292

Fixed in https://github.com/dotnet/corefx/pull/42015.

[2019-10-28 21:29] #42173 closed

[2019-10-28 21:37] GrabYourPitchforks commented on #38760
Per @blowdart's earlier comment (and my original description in the issue), surrogates have their own problems that won't always protect you.

__The simple and unfortunate fact is that the `BinaryFormatter` type is unfixably insecure. Full stop.__

That fact is what led to this issue being opened in the first place. Most customers aren't aware that the above sentence explains the state of the worl

[2019-10-28 21:49] weltkante commented on #38760
Blanket bans aren't going to fix interoperability with existing clipboard/drag'n'drop usage. Customers are demanding that they can copy data/interact between applications, as far as I'm concerned you can move it into a separate package but BinaryFormatter can't go away as long as classic Desktop Framework WinForms/WPF client applications are around.

Also I've yet to see a suggestion for replacing

[2019-10-28 21:49] wirecat opened #42185 "Add WolfSSL Support as an OpenSSL alternative"
WolfSSL is an SSL library targeted at embedded development that focuses on size and speed. It's also FIPS certified which is is important for anyone working with federal agencies.

WolfSSL website: https://www.wolfssl.com/
WolfSSL github: https://github.com/wolfSSL/wolfssl

I have two ideas currently on how dotnet could support WolfSSL:

1. The `System.Security.Cryptography.Native` code relies on

[2019-10-28 21:50] bartonjs commented on #42178
Nope, doesn't ring a bell.  Best guess is that the snap one is binding to a different libssl than the yum one is, and they have different trust root locations configured.

You could try something like

[code]

As an example:
[code]

[2019-10-28 22:09] ericstj commented on #42145
@steveharter @ahsonkhan this looks like a bug in how the Serializer is consuming a stream.  When we see a BOM it looks like we do throw an exception from the reader.

[code]

Throws `Unhandled exception. System.Text.Json.JsonReaderException: '0xEF' is an invalid start of a value. LineNumber: 0 | BytePositionInLine: 0.`

I see that the serializer [handles ](https://github.com/dotnet/corefx/blob/be5

[2019-10-28 22:10] rick-de-water commented on #42149
I think that is similar what I'm asking for? Though the fact that there is no `DeserializeEnumerable` next to `DeserializeEnumerableAsync` confuses me a bit.

Yes, not the entire stream is loaded. But the entire JSON object still is. Which will still be massive if the source was also massive. I want to deserialize one object from the top level array, process it, and then throw it away, never havin

[2019-10-28 22:17] ericstj commented on #42092
Marking for 5.0 since this isn't a regression.

[2019-10-28 22:17] HaraldMuehlhoffCC commented on #38760
@GrabYourPitchforks `FTP` in itself is also "unfixably" insecure with it's cleartext password but can be made more secure by using additional measures like `https:`.

As we have trusted clients, trusted servers, secured communication channels (only trusted clients can connect to the servers) and secured networks it's almost as if I'm locally passing data between classes. So in our case even passin

[2019-10-28 22:18] ericstj commented on #40739
Here's another one: https://github.com/dotnet/corefx/issues/42093

[2019-10-28 22:20] ericstj commented on #42084
/cc @layomia

[2019-10-28 22:26] joperezr commented on #41019
@RaghuMasineni where you able to re-target your app to 2.*? Can this issue be closed now?

[2019-10-28 22:27] ericstj commented on #42061
/cc @safern @akoeplinger

Sounds like a native AV or structured exception from libgdiplus.

[2019-10-28 22:31] joperezr commented on #41748
For the 3.1 available preview packages now, we recently shipped preview 1. You can get those installers/binaries from here: https://dotnet.microsoft.com/download/dotnet-core/3.1
/cc: @ahsonkhan @steveharter for the Json question.
For 3.1 release, I'm not sure if we have a specific day set yet, but from @richlander's blog it seems to be December 2019: https://devblogs.microsoft.com/dotnet/announcin

[2019-10-28 22:32] ericstj commented on #42043
/cc @steveharter

[2019-10-28 22:32] ericstj commented on #42001
/cc @steveharter

[2019-10-28 22:36] ericstj commented on #41923
Closing as no info after 1 week.  Please reopen if you can share a repro.

SWAG: looks to me like you're using a component that forgot to distribute/load its dependencies.  You might try to follow up with that component owner.  The callstack of the exception might indicate where the load occured and which component was missing the dependency.

[2019-10-28 22:36] #41923 closed

[2019-10-28 22:40] ericstj commented on #41743
I believe this issue belongs in https://github.com/aspnet/extensions. /cc @anurse

[2019-10-28 22:40] #41743 closed

[2019-10-28 22:47] ericstj commented on #41709
But when targeting desktop you get ref/net461 (4.0.2.0) lib/net461 (4.0.2.0).  The only framework that requires strict matching is .NETFramework, and for these (and most nuget packages) to work you need to enable automatic bindingRedirects.

In this case the package *could not* change the assembly version of ref/netstandard2.0 since it UAP16.0.16299 shipped that assembly inbox.  On .NETFramework w

[2019-10-28 22:47] #41709 closed

[2019-10-28 22:47] bartonjs commented on #42185
Supporting libraries other than OpenSSL on Linux is not something that we're interested in at this time.

* More options means more ways that "something went wrong" errors confuse people
* More options means that we need to expose those options - how does someone assert they want the WolfSSL binding instead of the OpenSSL binding? Does one fall back to the other?
* Assuming that the WolfSSL OpenSS

[2019-10-28 22:47] #42185 closed

[2019-10-28 22:49] ericstj commented on #41667
@layomia / @steveharter this is similar to the Newtonsof.JSON *interpretation/compatibility* that others have been asking for.

[2019-10-28 22:56] ericstj commented on #41677
@pranavkm @rynowak does this sound right?  I would have expected that MVC has a fast path for this.

FWIW, the following worked for me: `var str = JsonSerializer.Deserialize<string>("\"hello world\"");`
Perhaps you can try using double-quotes in your post command?

[2019-10-28 22:58] ericstj commented on #41646
Closing as this issue belongs in https://github.com/JamesNK/Newtonsoft.Json.

[2019-10-28 22:58] #41646 closed

[2019-10-28 22:59] PureKrome commented on #38760
@HaraldMuehlhoffCC You're really really _really _ hell bent on using `BinaryFormatter`, aren't you? The discussion includes a few _really_ knowledgeable people in this field and they all have given you numerous reasons why BF should **not be used**.(If anything, you should be chuffed you even got some responses from 1, let alone a few, of those busy folks!)

If you want to go ahead and use - by al

[2019-10-28 23:04] ericstj commented on #41578
/cc @steveharter

We should discuss if we want to support this and other attributes from `System.Runtime.Serialization` before adding them.

[2019-10-28 23:04] GrabYourPitchforks commented on #38760
I'm aware of this. There has also been research in abusing drag-and-drop and clipboard functionality in WinForms and WPF applications in order to gain code execution permissions. See for instance [this blog post](https://www.nccgroup.trust/uk/about-us/newsroom-and-events/blogs/2018/december/beware-of-deserialisation-in-.net-methods-and-classes-code-execution-via-paste/) from around a year ago. Tha

[2019-10-28 23:05] PureKrome commented on #38760
Edit: look what popped up into my socials, literally minutes after I posted this:

https://pulsesecurity.co.nz/advisories/untitled-goose-game-deserialization

talk about lol @ timings .....

![image](https://user-images.githubusercontent.com/899878/67724567-8dc0a700-fa33-11e9-9351-baed359f489d.png)

[2019-10-28 23:17] davidsh commented on #42178
What happens if you use 'curl'?  I.e. `curl https;/www.github.com`

[2019-10-28 23:52] steveharter commented on #42145
@ANahr can you try `ReadAllBytes` instead of `ReadAllText`, or specify the encoding to help debug? Perhaps the file doesn't contain the a UTF8 BOM (or contains a UTF16 BOM).

Tests are [here](https://github.com/dotnet/corefx/blob/50d8c71bb6139f3c06dd820d6d757a095a9fe994/src/System.Text.Json/tests/Serialization/Stream.ReadTests.cs#L104-L130)

@ericstj the same you posted won't detect the BOM -- it

[2019-10-28 23:54] pranavkm commented on #41677
@ericstj MVC doesn't special case deserializing a string value, it pretty much passes the request Stream as-is to the input.

@giammin you want to pass a JSON string token to MVC.  JSON strings require that be double quoted - see http://www.json.org. Newtonsoft.Json was a bit more lax and allowed JSON (double quoted strings) and JavaScript strings (single quoted strings) which explains why `-d "'d

[2019-10-29 00:33] wfurt commented on #41953
note that OSX allows per interface configuration
[code]
But we currently do not use that interface so we fall back to processing /etc/resolv.conf.

[2019-10-29 01:54] abelykh0 commented on #42178
The `snap` (not working) dotnet:
[code]

The `yum` (working) dotnet:
[code]

[2019-10-29 01:55] abelykh0 commented on #42178
[code]

[2019-10-29 01:57] abelykh0 commented on #42178
By the way, if you have a workaround, I would appreciate it.

[2019-10-29 02:01] stephentoub commented on #42093
Thank you for the suggestion.  I absorbed this into https://github.com/dotnet/corefx/issues/40739.

[2019-10-29 02:01] #42093 closed

[2019-10-29 02:22] weitzhandler commented on #42164
I'd be fine with just an `ObservableDictionary`, but I often find myself needing to expose a specific data type as dictionary, and set its values internally in a different manner.

[2019-10-29 02:40] davidsh commented on #42178
curl: (77) error setting certificate verify locations:
  CAfile: /opt/rh/rh-dotnet30/root/etc/pki/tls/certs/ca-bundle.crt
  CApath: none

Since 'curl' isn't working, this clearly points out to a problem with the operating system and the pki configuration.

[2019-10-29 02:49] wfurt commented on #42178
I think one of the openssl versions may have different expectation for location of trusted certs.
You can try to set SSL_CERT_DIR or SSL_CERT_FILE to point at system one rather than  /opt/rh/...

[2019-10-29 02:53] abelykh0 commented on #42178
I guess RHEL is "special" because there's a yum package called `rh-dotnet30-lubcurl`. There's no similar package for Ubuntu 18.

Files in this package:
[code]

[2019-10-29 03:12] safern commented on #42061
Assigned to try and get a repro and see what the issue is, it might be libgdiplus issue as @ericstj suggests, but want to try a few things out.

[2019-10-29 03:23] electricessence commented on #42147
I'm closing this because I've been able to get this working in a fresh environment.

[2019-10-29 03:23] #42147 closed

[2019-10-29 04:32] bartonjs commented on #42178
[code]

Take your version of that, then try

[code]

Alternatively, assuming the snap version is built portable you can try to get it to bind to libcrypto.so.10 and libssl.so.10 as the first binding attempt:

[code]

[2019-10-29 05:42] HaraldMuehlhoffCC commented on #38760
@PureKrome :) with regards to your Ninja edit!

What I'm trying to understand is how use cases of `BinaryFormatter` differ in their security implications. There surely must be some cases worse than other, aren't there? (There are almost almost some shades of grey)

From my understanding persistently storing some `BinaryFormatter` output unsigned (and unencrypted) and naively reading it should be w

[2019-10-29 06:00] PureKrome commented on #38760
When Levi / Barry/ Nick / Mark (and others) are saying to stop using BF, why are you still spending energy trying to "understand use cases"? To me, this reads as: "trying to find scenario's to justify using a BF" ?

I would spend time either:
- swapping out BF for something else, if time and money are ok.
or
- do nothing and accept the risks with full knowledge of the problem.

I feel like the res

[2019-10-29 09:33] SaravananAyyanar opened #42191 "How to use .sdf file in .NET Core?"
In .NET framework, we can load the .sdf file using System.Data.Linq.DataContext. But this is not available in .NET Core.

How can we use .sdf files in .NET Core?
[code]

[2019-10-29 09:36] kieronlanning commented on #40100
Can we re-open this, @steveharter? I've this exact problem with the release version when specifying `IgnoreNullValues = true` in the `JsonSerializationOptions`.

Any combination of an array property will cause this to fail when that property is set to true: default value (`Array.Empty<T>()` or just `nul`l).

Repo for bug: https://github.com/kieronlanning/SystemTextJsonArraySerializationBug

[2019-10-29 09:43] tmds opened #42192 "IsDaylightSavingTime_CasablancaMultiYearDaylightSavings fails on rhel.8"
We have an internal CI server that does daily builds of corefx on rhel.8.
Since 24 sept, System.Runtime.Tests is failing on IsDaylightSavingTime_CasablancaMultiYearDaylightSavings.

I haven't looked further into this yet.

[code]

cc @omajid @RheaAyase

[2019-10-29 09:53] AntonLandor commented on #41729
@ViktorHofer Yes, I agree it should be in `Contributing.md`. You could add some of the parts discussed in the [page you linked](https://mozillascience.github.io/working-open-workshop/contributing/). What I think is lacking right now for new developers is some simple outline for how the workflow could look, and what they should do first to get started. There are great docs which can be linked in `C

[2019-10-29 11:01] FailedShack commented on #42113
@antiufo I believe it actually does make sense for browsers to leave them in, as this kind of URI normalization does technically change semantics and it's up to the server to handle it in some way or another. I would however [hope no-one relies on that kind of behavior](https://xkcd.com/1172/).

I think it's desirable to be able to perform this normalization in some way, given that that the most c

[2019-10-29 11:03] giammin commented on #41677
@pranavkm thanks for you reply.
i already tried different quotes and escaping and I did some further tests but i always get this error:

and if I try something like:

`curl -H "Content-Type:application/json" https://localhost:5000/api/controller -X POST -d   "{\"someValue\":\"dsfjlsdajf\"}" -v`

i get:

[2019-10-29 11:04] balaji764612 commented on #40730
Hi,
 I have been trying this for a week and it doesnt work the way it is specified in https://docs.microsoft.com/en-us/dotnet/core/additional-tools/xml-serializer-generator

 I tried the same steps as in the link and still I see the error as described here.

 Thanks for your help!

[2019-10-29 11:42] igalnassi commented on #24829
For what it’s worth, we migrated to NLog and its support to load from
Config files without restarting has helped tremendously. It’s performance
is among the best as well. Very happy with our choice.

On Mon, Oct 28, 2019 at 15:01 Jon Miller <notifications@github.com> wrote:

[2019-10-29 12:05] giammin commented on #41677
i resolved...

the problem was powershell

adding` --%` resolved the issue  https://stackoverflow.com/a/24750582/921690

[2019-10-29 12:05] #41677 closed

[2019-10-29 12:30] adamsitnik commented on #42058
I've used VTune to profile following repro:

[code]

![image](https://user-images.githubusercontent.com/6011991/67766904-cff7e180-fa4f-11e9-90b0-dc1db58fb466.png)

And confirmed what @stephentoub has wrote. Most of the time is spent in `getcwd` and it looks like we don't have any alternative ;(

[2019-10-29 13:18] adamsitnik opened #42193 "Getting process information is few times slower on Linux"
Getting process information is few times slower on Linux:

| Slower                                             | Lin/Win | Win Median (ns) | Lin Median (ns) | Modality|
| -------------------------------------------------- | -------:| ---------------:| ---------------:| --------:|
| System.Diagnostics.Perf_Process.GetProcesses       |   12.94 |      1048505.00 |     13562765.47 |         |
| Syste

[2019-10-29 13:40] juliusfriedman opened #42194 "Cannot build from source openSUSE Tumbleweed"
[ 17%] Built target System.IO.Compression.Native-Static
  [ 33%] Built target System.IO.Compression.Native
  [ 35%] Built target System.IO.Ports.Native-Static
  [ 38%] Built target System.IO.Ports.Native
  [ 53%] Built target System.Native
  [ 67%] Built target System.Native-Static
  [ 71%] Built target System.Net.Http.Native-Static
  [ 76%] Built target System.Net.Http.Native
  [ 77%] Building C

[2019-10-29 13:52] juliusfriedman commented on #42194
Using the tar with dotnet prebuild I can use the following commands to build and run:

Microsoft (R) Build Engine version 15.9.20+g88f5fadfbe for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

  Restore completed in 108.6 ms for /home/julius/test/test.csproj.
/home/julius/dotnet/sdk/2.1.501-preview-009418/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.RuntimeIdentifierInference

[2019-10-29 14:16] antiufo commented on #42113
On the other hand, normalizing empty segments would mean that .NET would be unable to represent URLs that browsers are able to represent.

While the RFC might recommend against empty segments, they are sometimes used, and not just by erroneous client software.

[https://en.wikipedia.org/wiki///](https://en.wikipedia.org/wiki///) (disambiguation page for double slash character on Wikipedia) is for

[2019-10-29 15:02] ManickaP commented on #41183
Switches turning on CurlHandler: [SocketsHttpHandler](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.socketshttphandler?view=netcore-3.0)

[2019-10-29 15:03] o-piskunov opened #42196 "[ARM/Linux] Broken cross build"
After https://github.com/dotnet/corefx/pull/42175 ARM/Linux cross build failed with next output:
[code]

Used wrong file name: `eng/disableSourceControlManagement.targets` instead of `eng/DisableSourceControlManagement.targets`

cc @jkotas @alpencolt

[2019-10-29 15:47] abelykh0 commented on #42178
OK, this workaround works:
[code]

Do you know how long it will take you to fix the issue?

[2019-10-29 15:55] ericstj commented on #42145
@steveharter, the file was shared above.  It starts with `EFBBBF` which looks like a UTF-8 BOM.  One thing that's unique about this file is that it has an array at the root level.  Not sure if that's what makes it special.  I clarified my investigation above.  I was trying to illustrate that this isn't a BOM-specific failure, since that should be a very early exception from the Reader.  This appea

[2019-10-29 16:02] JamesAshworth commented on #41846
@danmosemsft Not an area I'm confident enough with I'm afraid - not looked at this code before, and haven't got the time at the moment to get familiar.

[2019-10-29 16:13] mthgr commented on #33506
We are experiencing this issue too.

After researching this for 2 weeks I came across this issue here which won't be fixed.

I'd like to clarify something...

This thread seems to state that this is Linux related only.

_Yet I'm having the same issues between 2 Windows servers_.

I have a service running on a windows server that can't connect properly to a Filezila server installed on Windows. Sam

[2019-10-29 16:15] bartonjs commented on #42178
As far as I know, the expectation on RHEL is to use the package from yum, which is build specifically for RHEL.

I assume that the snap package has OpenSSL as a dependency, which means snap pulls in some sort of "system generic" OpenSSL... and the problem is that "system generic" OpenSSL isn't working nicely on RHEL (in particular, doesn't share a source of trust data).  But, I don't really know a

[2019-10-29 16:17] jhirschdrg opened #42197 "File.Move() when the destination does not contain a path the source file gets deleted and no exception is thrown"
`File.Move(@"C:\abc.txt, "abc.txt");`

If the destination is not a path and not null or empty just a string, the file gets deleted, and no exception is thrown

[2019-10-29 16:50] blowdart commented on #38760
_I'm just not convinced that it really needs to be marked as Obsolete and be left unsupported._

What support would you expect? It simply cannot be secured, we cannot touch it without breaking compatibility. It's unsupported now, it's just marking it as obsolete would make that more public.

_Personal opinion time_

I want to get .net to the point where you specifically have to opt-in to using ins

[2019-10-29 16:51] jkotas commented on #42196
@ViktorHofer Could you please take a look? Is this just a typo?

[2019-10-29 16:53] bert2 commented on #41959
Is there no interest in this? I expected this to be a rather trivial change...
@AArnott , what do you think?

[2019-10-29 17:03] carlossanlop opened #42199 "Remove duplicates of Interop.Kernel32.GenericOperations.GENERIC_READ and GENERIC_WRITE"
There are a few places in corefx that are declaring these two constants, but we should be consuming them solely from Interop.Kernel32.GenericOperations.
A few of them are shared with CoreLib so the file needs to be moved to the correct location.
See this comment for more context:
https://github.com/dotnet/corefx/pull/42099#discussion_r339838409

[2019-10-29 17:05] alnikola commented on #41175
It works in the latest dogfood.

[2019-10-29 17:06] abelykh0 commented on #42178
It behaves the same whether scl is enabled or not (gives exception as described).

[2019-10-29 17:29] ericstj commented on #41371
@wtgodbe @mmitche this change is in to arcade, do you guys plan to manually flow Arcade into CoreFx release branches?

[2019-10-29 17:40] layomia commented on #42084
@KamranShahid thanks for opening this. Can you share a snippet of the code that led to this exception? Also, what version of .NET Core are you using?

[2019-10-29 17:49] layomia commented on #41825
@zachsaw is this blocking a scenario for you? If so, would the work around of using the concrete type work for you?

[code]

[2019-10-29 17:49] weltkante commented on #38760
If back compat is so bad why would anyone even bother to be compatible with Desktop Framework in the first place? Right, because it isn't bad, because it is important. Its the only way to win over the devs which have investments on Desktop Framework.

UWP tried exactly that, dropping compatibility in favor of a shiny new model designed for "security". It didn't work out.

Now BinaryFormatter is ju

[2019-10-29 17:50] ericstj commented on #41932
@FeodorFitsner do you have an update?  Our time window is quickly closing for getting a fix in 3.x.  Looking at your sample code I see two potential sources of a leak: the call to NextValue, or whatever you are doing in SaveMetadata().  If you can get a repro of the leak in very basic console app it'd help isolate it.

@buyaa-n I do see a change that's somewhat suspicious of changing memory usage

[2019-10-29 17:51] #34493 closed

[2019-10-29 17:52] #42181 closed

[2019-10-29 17:52] stephentoub commented on #42181
Thanks.

[2019-10-29 17:57] layomia commented on #40120
@ts46235 could you please open a new issue for this since this is different from the current issue?

[2019-10-29 17:57] ViktorHofer commented on #41175
Great to here! Thanks for letting me know.

[2019-10-29 17:59] blowdart commented on #38760
So we shouldn't ever improve?

[2019-10-29 18:04] jkotas commented on #41663
It is ok to have performance regressions if they are understood and done intentionally for a good reason. We have done this trade-off many times in the history of .NET.

[2019-10-29 18:05] FeodorFitsner commented on #41932
Yes, I've found the source of memory leak. So, these are memory/CPU Hyper-V counters:

[code]

`_workerName` in the code above is the name of Hyper-V VM.

I don't know if that helps you guys to find an issue in .NET Core logic or maybe it's Hyper-V specific problem, but in our app commenting that piece makes huge difference. Otherwise, with those counters queried memory is leaking like 500 MB per

[2019-10-29 18:07] pranavkm commented on #40120
@ts46235 I responded to your question in the other issue you opened here - https://github.com/aspnet/AspNetCore/issues/16618. Marking the conversation here as off topic.

[2019-10-29 18:22] buyaa-n commented on #41932
@ericstj I did call `NextValue()` within a loop, but not sure if that loop is same as you suggesting. My machine don't have "Hyper-V" counters so I just used Lan/Ethernet counter for testing as in the original issue. But didn't run with a memory counter.
@FeodorFitsner is your console app is using those "Hyper-V" counters same as in your other app?

[2019-10-29 18:28] HaraldMuehlhoffCC commented on #38760
Why has the comment by @weltkante been marked as off-topic? If even the well-meant comments of collaborators aren't welcome here how can this be an inclusive platform for discourse?
How can Microsoft hope to better understand and serve the needs of it's community & customers if even this civilized discussion between Microsoft-friendly folks makes some "grab their pitchforks" (excuse the pun)?

My

[2019-10-29 18:28] mmitche commented on #41371
@ericstj Ya, once we finish 3.0.1

[2019-10-29 18:31] blowdart commented on #38760
Because it's not really off topic, we would like to understand why people would don't want to go through an extra gesture to keep their insecure code going.

[2019-10-29 18:32] #42196 closed

[2019-10-29 18:39] ANahr commented on #42145
As @ericstj stated the file is attached in the first comment. It contains a UTF-8 BOM and if you read the json with ReadAllBytes it will fail with the same error message.

I am also relatively certain that it only happens if the json source is larger than the buffer size (16kb default)

calling the API with
new JsonSerializerOptions() { DefaultBufferSize = 50000 };
does not produce the error in th

[2019-10-29 18:39] stephentoub commented on #38760
@blowdart, somehow @weltkante's comment was hidden as off-topic, which is I believe what @HaraldMuehlhoffCC was asking about.  I unhid it (and don't know how to see who hid it or why).

[2019-10-29 18:39] weltkante commented on #38760
Because I marked it as such, I collapse my comments if they aren't directly on topic but still worth posting. I agree this was a border case here.

doesn't parse for me, but I don't mind if its moved in a separate package or marked obsolete, as long as its still _supported_ (meaning the annotations and class layouts in Core can't change because they are required for BF to work, unless you introduc

[2019-10-29 18:40] blowdart commented on #38760
Ah I didn’t notice that. Wasn’t me either.

________________________________
From: Stephen Toub <notifications@github.com>
Sent: Tuesday, October 29, 2019 11:39:33 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Barry Dorrans <Barry.Dorrans@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Remove BinaryFormatter from the shared framework in .NET 5 (#38760)

@bl

[2019-10-29 18:44] HaraldMuehlhoffCC commented on #38760
Good to know that @weltkante hid his comment himself. Peace! ;)

[2019-10-29 18:50] carlossanlop opened #42200 "Confirm legacy behavior (NT5) still applies to current SafeFileHandle creation code"
[This PR](https://github.com/dotnet/corefx/pull/42099/) will reintroduce code coming from .NET Framework. It will contain a comment explaining behavior from Windows 2000. The comment says:

@JeremyKuhne 's request is to reconfirm and reinvestigate this behavior:

Link to comment for full context:
https://github.com/dotnet/corefx/pull/42099/files/b847fe477abe89c0daf2c73c6d263596a7f6486b#r340219065

[2019-10-29 18:50] buyaa-n commented on #41932
Thank you @FeodorFitsner it would be helpful, by my understanding memory leak is not happening with the console app but happening with your other app right?

[2019-10-29 18:59] nguerrera opened #42201 "Fatal, internal CLR error getting network interfaces"
I have seen this a couple of times on my machine running dotnet/toolset tests against 5.0 runtime. I don't have a good repro or a dump yet. Posting early in case someone recognizes this and saves me the time of chasing further.

[code]

[2019-10-29 19:02] FeodorFitsner commented on #41932
It looks like, yes.

[2019-10-29 19:05] nguerrera commented on #42201
This is on Windows.

[2019-10-29 19:09] ericstj commented on #41371
Assume the same will happen in 3.1?

[2019-10-29 19:12] weltkante commented on #38760
Also I think the whole discussion about BinaryFormatter on the clipboard making a security breach possible is ill placed. The clipboard isn't a security boundary, it is a communication channel.

If a browser (or other application) is allowing placement of untrusted data of arbitrary formats on the clipboard its a browser security issue, just the same as if the browser were executing untrusted data

[2019-10-29 19:16] blowdart commented on #38760
Removing BinaryFormatter doesn't stop applications communicating, it just means they need to find another way to do it, be it json or bson or anything else that is a constrained, safe, serializer. You are painting BinaryFormatter as the only way to do something and that simply isn't true.

[2019-10-29 19:18] weltkante commented on #38760
It is the only builtin and comfortably usable way when using the clipboard. As I said before, provide a replacement, give it time to get adopted, THEN you can remove BinaryFormatter from clipboard/dragndrop.

[2019-10-29 19:18] ericstj commented on #41570
Adjusting milestone to reflect remaining work.

[2019-10-29 19:20] ericstj commented on #41427
Closing as fix is in 3.1, some tests are remaining to be merged once branch opens but we can let the PR track those.

[2019-10-29 19:20] #41427 closed

[2019-10-29 19:21] ericstj commented on #42145
Yep, we nailed it down offline and @steveharter has a fix.  Marking this for 3.1, might need to consider for 3.0.x as well.

[2019-10-29 19:23] tmds commented on #42178
I guess you were running curl in the scl here https://github.com/dotnet/corefx/issues/42178#issuecomment-547220990?

It's interesting this works:

What versions of OpenSSL are installed on your RHEL7?

How does this behave if you use the `dotnet` from https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-3.0.100-linux-x64-binaries?

[2019-10-29 19:35] blowdart commented on #38760
Given that you can paste data to the clipboard as json with a couple of lines of code, and json is now built in, and re-hydrate to a known object type from json calling binary formatter the only built in way seems quite disingenuous.

[2019-10-29 19:46] mmitche commented on #41371
Yeah, those arcade subscriptions flow to both places

[2019-10-29 19:49] danmosemsft commented on #41846
Thanks @JamesAshworth not a problem.

[2019-10-29 19:57] GrabYourPitchforks commented on #41663
We also have a few options available to address any performance losses if they show up in hot paths. For example, we already have a few places where we special-case `OrdinalIgnoreCase` comparison and go down a fast path if the input is all-ASCII. We could investigate expanding the number of places which receive such an optimization. We could cache commonly-used cultures at the ICU interop layer. W

[2019-10-29 20:27] leecow commented on #42178
Curl will be whatever is provided by the 'host' OS (RHEL in this case) and the SDK running from the Snap will execute entirely within the context of Ubuntu Core 18 so I would expect this to repro regardless of which Distro is in use. I wonder if there needs to be a "port" opened out of the Snap sandbox? Will need to poke around and experiment.

[2019-10-29 20:39] KamranShahid commented on #42084
I am using .net core 3.0
At the moment i doesn't have my code. But what was happening is I am trying to save Request Form and Query String as a serialize json. When i received the request in my controller action, I pass HttpContext's Request to my certain method where i serialize the content for some audit log. It is working perfectly fine with newtonsoft json
Thanks

[2019-10-29 20:40] scalablecory commented on #35861
triage: maybe default the socket flags, and then ready for review.

[2019-10-29 20:40] abelykh0 commented on #42178
Ubuntu 18 works fine, only RHEL has this issue,.

[2019-10-29 20:44] scalablecory commented on #37122
triage: not sure about naming, should we have GetRawSocketOption? ready for review.

also thinking about: RawBind

[2019-10-29 20:50] scalablecory commented on #11564
triage: no strong demand, but not against the idea. revisit in future if we see more demand.

[2019-10-29 20:50] #11564 closed

[2019-10-29 20:56] scalablecory commented on #42004
triage: add APIs of https://github.com/dotnet/corefx/issues/40586 as well, then close that as duplicate. we should look at all other usages of DNS to see what could use this (or cancellation) API.

[2019-10-29 21:00] abelykh0 commented on #42178
Yes. If not running in the scl, it outputs nothing (I guess it is working)

1.0.2k-19.el7 (x86_64) from rhel-7-server-rpms

How to install it?

[2019-10-29 21:01] abelykh0 commented on #42178
The default installation of RHEL 7 does that. I suppose it should be easy to replicate on your end.

[2019-10-29 21:11] roji commented on #41879
@my0n this is indeed a bug in corefx, PR #42119 is out and will hopefully make it into 3.1.

[2019-10-29 21:21] weltkante commented on #38760
@blowdart either you are I are very mistaken, strings [get serialized via BinaryFormatter](https://source.dot.net/#System.Windows.Forms/System/Windows/Forms/DataObject.cs,821) and you can't change that because that would break compatibility with existing .NET applications (including Core 3.1 LTS)

Note that I'm talking of custom formats, not the default `TEXT` format, as any professional applicati

[2019-10-29 21:27] geoffkizer opened #42205 "System.Net.Quic initial API review"
This is the first cut at APIs for using the QUIC protocol.

A brief overview of QUIC is available here: https://blog.cloudflare.com/the-road-to-quic/

[code]

Notes:

Generally, this object model is inspired by the existing System.Net.Sockets API -- Connect, Accept, LocalEndPoint, RemoteEndPoint, etc. Some differences worth noting:

(1) QuicListener and QuicConnection take SSL options classes, sin

[2019-10-29 21:30] geoffkizer commented on #42205
cc @stephentoub @dotnet/ncl @jkotalik @anurse @davidfowl

[2019-10-29 21:55] scalablecory commented on #42205
Presumably the fields will actually be properties.

[2019-10-29 21:57] scalablecory commented on #42205
How will `QuicListener.Close` be different from `QuicListener.Dispose`?

[2019-10-29 21:58] scalablecory commented on #42205
Does it make sense to implement `IAsyncDisposable`?

[2019-10-29 21:59] scalablecory commented on #42205
Is it conceivable that QUIC might ever be asked for in non-IP networking? Should those `IPEndPoint` be made `EndPoint` to allow for this?

[2019-10-29 22:02] scalablecory commented on #42205
(work for a separate API proposal, perhaps: it would be super super nice if NetworkStream and QuicStream both implemented some base class or interface that provides `ShutdownRead` and `ShutdownWrite`.)

[2019-10-29 22:08] ericstj commented on #42091
Fixed in master with https://github.com/dotnet/corefx/pull/42102.  Keeping this open to port to 3.1.

[2019-10-29 22:13] geoffkizer commented on #42205
Yep, fixed, thanks

[2019-10-29 22:14] geoffkizer commented on #42205
They are the same. That's how Socket works too. I suppose we could just get rid of Close; I don't have a strong opinion here

[2019-10-29 22:14] geoffkizer commented on #42205
At this point I don't see any reason to, but we can revisit in the future if necessary.

[2019-10-29 22:14] scalablecory commented on #42160
I would be interested in a `ReadAsStreamAsync` that explicitly doesn't buffer.

Related https://github.com/dotnet/corefx/issues/38559

[2019-10-29 22:15] geoffkizer commented on #42205
I think it's pretty doutbful. QUIC is explicitly defined in terms of UDP.

[2019-10-29 22:21] scalablecory commented on #42205
I feel like I've seen guidance to not do this anymore, but can't find it. @bartonjs anything in our guidelines about this?

[2019-10-29 22:24] omariom commented on #42205
Any plans to have PipeReader and PipeWriter in the API?

[2019-10-29 22:28] davidsh commented on #42160
From a design perspective HttpContent.ReadAsStreamAsync() never buffers. It simply returns the stream.

When we  originally designed the HttpContent APIs for ReadAs*, we made them all have the "async" suffix and return a Task. That was required for ReadAsStringAsync, ReadAsByteArrayAsync since they are explicitly reading (buffering) in the entire response body. But ReadAsStreamAsync was never goin

[2019-10-29 22:40] bartonjs commented on #42205
We haven't made it to the chapter with the Dispose Pattern in it yet with our systemic analysis of the guidelines, but the current guideline is:

It's a CONSIDER, so if it feels wrong, don't do it (things can be added later easier than they can be removed).  If you run across where we said "don't do that", it would be useful for justifying any changes to that guideline.

If you do add Close(), Clo

[2019-10-29 22:50] bartonjs commented on #42192
FYI @tarekgh

[2019-10-29 22:51] MichalBrylka opened #42207 "XML documentation for some methods in System.Runtime.Intrinsics is inconsistent"
Hi,

I've created a Roslyn based scanner that goes through System.Runtime.Intrinsics codebase and tries to rewrite intrinsics methods so that they have names equal to related CPU instructions:
https://github.com/nemesissoft/IntrinsicsGenerator/tree/master/IntrinsicsGenerator

in which a simple regex scans XML docs to look for instruction names. Most methods are documented but these are not:
https:

[2019-10-29 22:54] sveinfid commented on #39564
Please could KebabCase also be added?

It should be a *very* minor addition - basically the same as SnakeCase but with `-` in place of `_`

E.g. requests sent to Apple Push Notification Service **require** kebab-case JSON fields: https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification#2943360

[2019-10-29 22:55] tannergooding commented on #42207
Thanks for logging this @MichalBrylka.

We should definitely update the XML comments (for IntelliSense) and ensure that those changes flow back to the docs repo as well.

CC. @carlossanlop

[2019-10-29 22:57] scalablecory commented on #42208
not sure if belongs in asp.net or json @ahsonkhan @Pilchie

[2019-10-29 22:58] MichalBrylka commented on #42207
What also might be good is to add documentation to all VectorX.Create() methods to signify which CPU intrinsic they refer to. Do you agree @tannergooding ?

[2019-10-29 23:00] omariom commented on #42205
Something like this?

[code]

[2019-10-29 23:09] poke commented on #38760
Comments like these makes me wonder if you actually read the very first post of this issue. This is a **suggested plan** for .NET 5 where `BinaryFormatter` does not ship by default but will require an additional and separate dependency to use the *exact same* `BinaryFormatter`. In *addition*, there is the idea of a *new* serializer which is similar to `BinaryFormatter` but safe and secure which al

[2019-10-29 23:15] scalablecory commented on #40586
Triage: we are okay with these APIs. Combining this into #42004 to make API review simpler. Closing this one.

[2019-10-29 23:15] #40586 closed

[2019-10-29 23:17] tarekgh commented on #42192
@tmds could you please send the output of the following command on the failing machine?

```zdump Africa/Casablanca```

CC @eerhardt

[2019-10-29 23:19] jkotalik commented on #42205
@omariom I don't think we are against having PipeReader/PipeWriter apis here, but we would first need to discuss adding Pipelines to Microsoft.NetCore.App first (right now it's a standalone package). We may have something that can be used in AspNetCore as well.

[2019-10-29 23:20] jkotalik commented on #42205
@geoffkizer I don't see how the bool Connected would be used reliably; an event or callback may be better (like OnConnected).

[2019-10-29 23:24] jkotalik commented on #42205
Does SslClientAuthenticationOptions apply to both client and server scenarios?

[2019-10-29 23:28] jkotalik commented on #42205
Why are QuicConnection, QuicStream, and QuicListener sealed? Can they be virtual?

[2019-10-29 23:29] jkotalik commented on #42205
As @scalablecory mentioned, DisposeAsync and CloseAsync instead of sync.

[2019-10-29 23:30] omariom commented on #42205
`Connect` instead of `Create` and a `CancelationToken` parameter:
[code]

[2019-10-29 23:36] omariom commented on #42205
In the API streams are created synchronously. What transitions them to `Connected` state?

[2019-10-29 23:40] danmosemsft commented on #42153
@brettrowberry thanks for reporting. Intellisense text actually comes from https://github.com/dotnet/dotnet-api-docs/ not from this repo. (We do sometimes seed from this repo)

Do you want to open a PR or issue against https://github.com/dotnet/dotnet-api-docs/ ?

[2019-10-29 23:41] danmosemsft commented on #42123
@roji do you want to open an issue (or PR) against https://github.com/dotnet/dotnet-api-docs/  ? That's the place for it.

[2019-10-29 23:45] scalablecory commented on #34144
More food for thought: `HttpClient` could make use of a `ToLower(byte)` and a `ToLower(ReadOnlySpan<char> src, Span<byte> dst)`.

[2019-10-29 23:46] omariom commented on #42205
Instead of having public `ctor` and `ConnectAsync` method on `QuicConnection`
we could have `QuicConnector` class with its ConnectAsync returning a QuicConnection
as `QuicListener`'s `AcceptConnectionAsync` does.

[2019-10-29 23:51] Pilchie commented on #42208
also @anurse for signalr.

[2019-10-29 23:57] caioproiete commented on #38760
@weltkante If I understand correctly, @GrabYourPitchforks's proposed plan is to move `BinaryFormatter` away from **.NET Core**. The code you linked to is from the **Windows Forms** codebase - a _consumer_ of `BinaryFormatter` - that will be affected by this just like you and me on our desktop apps, and we'll all have to make a decision: Find/implement a better solution or accept the risk by using

[2019-10-30 00:01] omariom commented on #42205
@jkotalik  Another argument for having pipes natively in  .NET QUIC is that
if in the future MSQUIC team decides to use [Registered IO](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/hh997032(v%3Dws.11) ) or [io_uring](https://kernel-recipes.org/en/2019/talks/faster-io-through-io_uring/) and expose zero-copy abilities,
only  pipes API will allow t

[2019-10-30 00:03] weitzhandler commented on #42164
I meant that I need both, although I need the notification more often.
And as I said, `IDictionary` has a lot of fields and is tedious.
A `DictionaryBase` like `Collection<T>` what give all I need.

[2019-10-30 00:05] anurse commented on #42208
It sounds like this may be a feature that Newtonsoft.Json had but System.Text.Json does not. I know Newtonsoft did a whole bunch of funky stuff with dates. SignalR doesn't really do anything special here, I think it's most likely a serializer feature-request

[2019-10-30 00:14] geoffkizer commented on #42205
`QuicStream.Connected` shouldn't exist; I've removed it above.

A QUIC stream doesn't really have a separate Connect operation. You just start sending on it.

[2019-10-30 00:20] anurse commented on #42205
I think there may be value in other EndPoint types at some point, but we can add ctors later. One thing that comes to mind is that we could use an `EndPoint` to coordinate the mock in-memory version. If we add a ctor like this:

[code]

Where `MemoryEndPoint` is mostly an "opaque" type from a user perspective that helps coordinate things so that two `QuicConnection` that are given the same `Memory

[2019-10-30 00:25] geoffkizer commented on #42205
I agree this is interesting. IPEndPoint is not sealed, so I think we could just derive a "mock" endpoint type from it.

[2019-10-30 00:26] geoffkizer commented on #42205
`Open` is good; I think I may prefer it to `Create` too. But I don't have a strong opinion.

[2019-10-30 00:28] geoffkizer commented on #42205
My (perhaps naive) assumption is that higher-level protocols won't rely on this. I think at one point HTTP3 did, but changed it so they don't anymore. It's problematic in some ways and using the HTTP3 approach seems better in general.

That said, it seems straightforward to add in the future if necessary.

[2019-10-30 00:30] geoffkizer commented on #42205
Yep -- updated above.

[2019-10-30 00:30] JamesNK commented on #42160
Yes it does? That's what I've observed, and the source code used to return the stream loads all the content from `SerializeToStreamAsync` into a stream, rewinds it, then returns that.

https://github.com/dotnet/corefx/blob/26d7b6626ab0385a1158e674855f81ab73f628e0/src/System.Net.Http/src/System/Net/Http/HttpContent.cs#L453-L459

`StreamContent.ReadAsStreamAsync()` does just return its stream, but t

[2019-10-30 00:31] bartonjs commented on #42205
Not "instead of".  Our (unpublished) async guidance is to add a sync version of every async thing (for high level types).

Sync-only: OK.  Async-only: not OK (except speciality low-level things)

[2019-10-30 00:32] geoffkizer commented on #42205
`SslClientAuthenticationOptions` applies to client scenarios. `SslServerAuthenticationOptions` applies to server scenarios.

[2019-10-30 00:34] geoffkizer commented on #42205
I prefer just having two different APIs, it seems simpler that way. Both is equivalent to Close().

[2019-10-30 00:35] stephentoub commented on #42205
I understand the meaning of "bidirectional" stream.  But with "unidirectional"... which direction is it?  System.IO.Pipes uses a PipeDirection enum for In, Out, and InOut... maybe something like that is relevant here? (Or maybe I'm totally misunderstanding the concept.)

I think we should get rid of Close.  We can always add it later if it proves meaningful, but I doubt it will.

[2019-10-30 00:35] geoffkizer commented on #42205
there could be QuicConnector class with its ConnectAsync returning a QuicConnection
as QuicListener's AcceptConnectionAsync does.

Yeah, that's definitely a possibility. I'm not sure it adds enough value to be worth creating another class, though.

[2019-10-30 00:36] jkotalik commented on #42205
Makes sense. Will AcceptConnectionAsync use an internal constructor to new up the QuicConnection?

Shutdown and Close in MsQuic I believe are always async, so are we okay with having both if the synchronous ones will always be sync over async?

[2019-10-30 00:36] anurse commented on #42205
Fair point, and that's why I'm kinda waffling on it. We could add the API later as an overload.

It's known what the direction is. Since you are initiating it, it means you are writing to it. Bidirectional just allows the remote party to also send on that stream.

[2019-10-30 00:37] davidsh commented on #42160
Sorry. In thinking about this now, perhaps I mixed these up.  I should not have talked about HttpContent.ReadAsStreamAsync().

Instead, I think I was really referring to HttpClient.GetStreamAsync() where that API never buffers the response body. And that was the one that could have been a pure sync API (HttpClient.GetStream) since there isn't any I/O activity to do that.  But in designing HttpClie

[2019-10-30 00:38] geoffkizer commented on #42205
It's always outbound. That is, the peer that creates a unidirectional stream can write to it but not read; the peer that accepts the unidirectional stream can read but not write.

There is no way for a peer to create an inbound-only stream in QUIC.

"Unidirectional" and "bidirectional" are the terms the RFC uses so I'm inclined to stick with them.

[2019-10-30 00:38] scalablecory commented on #42205
I also think I prefer two APIs, though symmetry with `Socket.Shutdown` wouldn't be a terrible thing.

[2019-10-30 00:40] scalablecory commented on #42205
My assumption was that Close/Dispose would have behavior similar to `Socket.Dispose`, but it seems that was incorrect.

How do we achieve a reset stream VS a shutdown & cleanly closed stream?

[2019-10-30 00:44] weltkante commented on #38760
Ok you changed my mind, I won't bother arguing for compatibility any more. Not that it affects me and my argument, I still believe clipboard and drag'n'drop aren't a security boundary for your average UI application as the attacker must be in the same security context to write to the clipboard or initiate a drag'n'drop operation - but yeah, I see the problem and the risk of other people who do wor

[2019-10-30 00:44] geoffkizer commented on #42205
In what sense? Specifically re graceful vs abortive shutdown? Close/Dispose on Socket is not necessarily abortive, and Shutdown is not necessarily graceful.

Yeah, I agree we need to clarify how this works. Let me think about it a bit. QUIC is a bit different than TCP here in that you can reset one direction without resetting the other.

[2019-10-30 00:48] stephentoub commented on #42160
@JamesNK, what is the scenario where this is showing up for you as an issue?

Request content is meant to be sent on the wire using HttpContent.CopyToAsync, e.g. that's how SocketsHttpHandler does it:
https://github.com/dotnet/corefx/blob/6e1d3ff966d72b2e9903ce0b208403eaa9e492ff/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L781-L782
and that just uses SerializeToStr

[2019-10-30 00:49] stephentoub commented on #42205
Got it.

[2019-10-30 00:52] JamesNK commented on #42160
The concrete problem is the `TestServer` in ASP.NET Core (in-memory simulation of a server) was reading `ReadAsStreamAsync`. I have a PR in progress to replace `ReadAsStreamAsync` with a pipe and populate it using `HttpContent.CopyToAsync`.

https://github.com/aspnet/AspNetCore/pull/15591

This fixes `TestServer`. I created this issue to check whether the current buffer behavior is still correct n

[2019-10-30 00:54] stephentoub commented on #42160
On what kind of HttpContent?

[2019-10-30 00:56] JamesNK commented on #42160
https://github.com/grpc/grpc-dotnet/blob/9e39edb0a3fc7a625085490bf64c2794870a519e/src/Grpc.Net.Client/Internal/PushStreamContent.cs

[2019-10-30 00:58] omariom commented on #42205
If the connection has been migrated, does it change its RemoteEndPoint?

[2019-10-30 00:59] stephentoub commented on #42160
Thanks.  Yeah, your PushHttpContent is explicitly a producer in a producer/consumer scenario.  You would need to override CreateContentReadStreamAsync to similarly implement a consumer.

[2019-10-30 01:05] JamesNK commented on #42160
So option 2 from https://github.com/dotnet/corefx/issues/42160#issue-513014040

It's relatively simple to do using a `Pipe` and Stream adapters with the reader and writer, but it forces the implementation to take a dependency on all of Pipes just in case someone calls ReadAsStreamAsync in a delegating handler.

Is there a better way? Is there anything that could be done in corefx to not put the co

[2019-10-30 01:09] JamesNK commented on #42160
Or perhaps CreateContentReadStreamAsync should just throw an exception if AllowDuplex is true. A clear exception message saying "ReadAsStreamAsync is not supported, you should call CopyToAsync" would be preferable to accidentally deadlocking by buffering.

[2019-10-30 01:19] GrabYourPitchforks commented on #38760
I appreciate the difficulties this might impose on WinForms applications. Check out my comments at https://github.com/dotnet/corefx/issues/38760#issuecomment-511216505 and https://github.com/dotnet/corefx/issues/38760#issuecomment-547183707 where I describe a possible way to address this. Those comments propose that though there would be no _in-box_ support for using `BinaryFormatter`, there would

[2019-10-30 01:38] davidfowl commented on #42205
Doesn’t shutdown need to be fully asynchronous or at least allow for it? This is where it helps to have multiple implementations, it usually shows other ways APIs can be used.

[2019-10-30 02:02] brettrowberry commented on #42153
I was hoping you’d say that. Thanks!

[2019-10-30 02:06] phihnp commented on #24843
I'm using *Novell library*, it works both on Linux and window.
But without SSL it could not create/update the entry with unicodePwd field.
So I'm looking for the support of System.DirectoryServices. library on .net core. Do we have plan for this supporting ?

[2019-10-30 02:19] GrabYourPitchforks commented on #34144
@scalablecory are the heterogeneous parameters `ROS<char>` and `Span<byte>` intentional? What would the behavior of such a method be?

[2019-10-30 02:29] zehavibarak commented on #42208
Actually , the inconsistency of date serialization in Net Core vs SignalR was there in 2.2. If you were to serialize the same data from controller, and forward it via SignalR in v2.2 - you'd run into the same issue. This makes it likely to be more of a time zone thing than serialization one. Only that in pervious SignalR, you could set the DateTimeZoneHandling, which would make the serialization a

[2019-10-30 02:39] danmosemsft commented on #42207
@MichalBrylka would you like to offer a PR here?

[2019-10-30 02:40] scalablecory commented on #34144
Think `ASCII.GetBytes()` + `ToLower`. We do such a thing when writing out headers for HTTP/2.

[2019-10-30 02:42] danmosemsft commented on #42201
@AaronRobinsonMSFT  in case he has thoughts

[2019-10-30 02:44] danmosemsft commented on #41932
@buyaa-n  it is very likely a bug in the HyperV counter implementation. Do you have Hyperv installed? If not, try installing it (it’s part of windows) and create a VM . See whether you can get the leak to happen.

[2019-10-30 02:45] danmosemsft commented on #42197
That’s not good! @buyaa-n  can you confirm?

[2019-10-30 02:50] AaronRobinsonMSFT commented on #42201
Boo. This is similar to both https://github.com/dotnet/coreclr/issues/27491 and https://github.com/dotnet/coreclr/issues/27496. It is probably related to https://github.com/dotnet/coreclr/pull/26340.

/cc @jkoritzinsky

[2019-10-30 03:01] FeodorFitsner commented on #41932
Moreover, I suspect it leaks on Windows Server 2019 (1809) specifically. We run the same code on Windows Server 2016 (though built against .NET Core 2.2) - no leaks so far.

[2019-10-30 03:26] danmosemsft commented on #41932
@FeodorFitsner does it leak using 2.2 on 2019? I assume so, and this is a bug introduced in windows 2019, right?

If you have a support contract with Microsoft that would be the most effective way to get a fix for it. Otherwise we can help file a bug internally.

[2019-10-30 03:51] iSazonov commented on #41663
From my experiments with Simple Case Folding a two-level table is as fast as ASCII workarounds. I believe MSFT experts can make it even faster.

[2019-10-30 04:05] AriNuer opened #42211 "Many tests failed due to System.ArgumentException : Absolute path information is required"
**Job:**
[corefx-ci #20191029.52](https://dnceng.visualstudio.com/public/_build/results?buildId=406908)

**Part of error message:**
[code]

**Part of stack trace:**
[code]

[2019-10-30 04:08] buyaa-n commented on #41932
@danmosemsft yes I have enabled Hyper-V and installed win10 instance, and running the sample provided by @FeodorFitsner since around 6pm, just checked so far no leak. From sample I was not able to create Network adapter counters because somehow no instance found, but was able to create memory and CPU counters for that Hyper-V VM, instead Network adapter loading more memory counters as he mentioned

[2019-10-30 04:13] buyaa-n commented on #42197
Sure I will

[2019-10-30 04:34] dev-masih opened #42212 "Unexpected behavior in Dictionary methods Remove and Clear (.NET Core)"
I am trying to implement a caching mechanism for enumerating collections safely, and I am checking if all modifications of the built-in collections are triggering an `InvalidOperationException` to be thrown by their respective enumerators. I noticed that in the .NET Core platform the [`Dictionary.Remove`][1] and [`Dictionary.Clear`][2] methods are not triggering this exception. Is this a bug or a

[2019-10-30 04:49] mjwills commented on #42212
This does appear to be a bug, since the docs clearly state the old .NET Framework behaviour is the expected behaviour (i.e. it is the **contract**, not just old behaviour):

If this is no longer the case, then **at the very least** the docs need to be updated to be clear what is the specification (contract) and what isn't.

[2019-10-30 04:51] dev-masih commented on #42212
https://github.com/dotnet/corefx/issues/29979#issuecomment-399806076

[2019-10-30 06:07] Daniel15 opened #42215 "Catching exceptions in IAsyncEnumerable"
Imagine something like:
[code]

Where `CallSomeApi` is actually some streaming API that provides an `IAsyncEnumerable` (for example, `.ResponseStream.ReadAllAsync()` on a gRPC streaming response)

How am I supposed to handle exceptions thrown by CallSomeApi? My initial naive thought was something like this:
[code]

But this throws [CS1626](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs1626

[2019-10-30 06:24] RaghuMasineni commented on #41019
@joperezr  Fix for the issue is available in 4.3.1 onwards as per below announcement,
https://github.com/dotnet/announcements/issues/12

We are yet to migrate our application to Core 2.* due to other issues. You can close this thread but issue is not resolved and we are just ignoring these warnings for now.
Thanks.

[2019-10-30 07:38] juliusfriedman commented on #42194
Installed https://software.opensuse.org/package/krb5 which did nothing....

[2019-10-30 07:44] juliusfriedman commented on #42194
Kerberos was needed so I grabbed

https://software.opensuse.org/package/krb5 and krb5-devel which solved that problem.

Lib ssl and others are also needed so check the instructions before building.

[2019-10-30 07:44] #42194 closed

[2019-10-30 07:56] imperugo commented on #38163
Immutable is a plus, but IMHO it must me reached without attributes.

use `[JsonPropertyName("FolderName")]` does't look a good option to me.

[2019-10-30 07:58] jkoritzinsky commented on #42201
Yeah this is due to dotnet/coreclr#26340. When I fix the test failures, this will likely be fixed in the process.

[2019-10-30 08:33] adamsitnik opened #42216 "Getting Environment Variables is few times slower on Linux"
| Slower                                                   | Lin/Win | Win Median (ns) | Lin Median (ns) | Modality|
| -------------------------------------------------------- | -------:| ---------------:| ---------------:| -------- |
| System.Tests.Perf_Environment.ExpandEnvironmentVariables |    4.06 |          155.25 |          630.15 |         |
| System.Tests.Perf_Environment.GetEnvironmentVa

[2019-10-30 08:48] niklasholm commented on #36068
I discovered the need for this when migrating to ASP.NET Core 3.0. Kestrel now throws an error by default if trying to access the request stream synchronously, as hashing the request body would do. To work around it, I had to copy the request stream (asynchronously) to a memorystream object and use it for hashing, which seems like an expensive and ugly workaround. The hash algorithm having an asyn

[2019-10-30 09:09] roji commented on #42123
Yep @danmosemsft, will do that soon.

[2019-10-30 09:10] brettrowberry commented on #42153
Created https://github.com/dotnet/dotnet-api-docs/issues/3426

[2019-10-30 09:10] #42153 closed

[2019-10-30 09:17] adamsitnik commented on #42216
I've taken a brief look at `Environment.GetEnvironmentVariable` and it looks like most of the time is spent for doing text operations: getting length of the key (which is known up-front), converting Unicode to Utf8 and then searching for the key in the array:

![image](https://user-images.githubusercontent.com/6011991/67844117-7d74fe80-fafd-11e9-87a7-020c426efdaf.png)

![image](https://user-images

[2019-10-30 09:41] AdamJachocki commented on #32563
I am a little shocked seeing that Copy method is now obsolete :| What about deep cloning a object that contains strings? We can do now new string(oldStr), but was it only just some kind of weird cleaning that I don't understand?

[2019-10-30 09:43] Tino92 opened #42217 "Calling and awaiting several tasks and getting the results"
In some cases we want to run several tasks and wait for them to complete before executing more code, but the results do not have anything in common with each other.

Example:
[code]
This ends up being a lot of lines of code, while what I really want to do is get the results back from Task.WhenAll().

Something like this would be nice:
[code]

Reference:
https://stackoverflow.com/questions/17197699

[2019-10-30 10:04] jaykrell commented on #38760
Can the format underlying RPC (DCE?) be used instead?

[2019-10-30 10:04] stephentoub commented on #32563
Strings are immutable. Why do you need to create a copy?

[2019-10-30 10:08] kevingosse commented on #42217
Looking similar to https://github.com/dotnet/corefx/issues/25756

[2019-10-30 10:16] tom-englert commented on #41913
@ericstj any update on this?

[2019-10-30 10:59] stephentoub commented on #42212
Dup of https://github.com/dotnet/corefx/issues/42123

[2019-10-30 10:59] #42212 closed

[2019-10-30 11:10] LokiMidgard opened #42218 "MissingManifestResourceException if Resourcefile contains multiple dots"
When adding a `.resx` file beneth another file by naming it e.g. `MainWindow.xaml.resx` to put it under `MainWindow.xaml`, following exception occurs.

[code]

I assume the problem is that the `ResourceManager` is initilized in the generated code with
[code]

instad of

[code]

Or the resource should be embedded with the name `ResourceEditor.MainWindow.xaml.resources`.

I haven't found the code th

[2019-10-30 11:18] jtattermusch commented on #41852
CC @jtattermusch

[2019-10-30 11:51] Ulisse67 commented on #42216
I think, as a quick fix, that the check by length could be scrapped and just strcmp() could be used, if it doesn't use strlen() internally :-)

[2019-10-30 12:30] TylerBrinkley commented on #32276
I was going to change [Enums.NET](https://github.com/TylerBrinkley/Enums.NET) from using a Fody implemented version of `System.Runtime.CompilerServices.Unsafe` to the nuget package but since I'm targeting .NET 4.5 it is resulting in adding a ton of .dll's to consuming code that targets the .NET Framework. Is it possible for the `System.Runtime.CompilerServices.Unsafe` package to multi-target .NET

[2019-10-30 12:33] erik-gz commented on #33506
@mthgr  I can confirm that it is indeed also a Windows (Server) issue since a few weeks. More specific since the release of this update:

•	Windows 10, 2016
         o	October 8, 2019—KB4519998 (OS Build 14393.3274)
         o	https://support.microsoft.com/nl-nl/help/4519998/windows-10-update-kb4519998
•	Windows 8.1, 2012
         o	October 8, 2019—KB4520005 (Monthly Rollup)
         o	https://sup

[2019-10-30 12:44] MichalBrylka commented on #42207
I might. Any rules to follow ?

[2019-10-30 12:47] VinceGitHub opened #42219 "WebUtility.HtmlDecode different results .net 4.8 and .net core 3.0"
if i decode the string `"Herr & Frau Stra&szlig;er"` i get two diffrent resulsts depending on the framework.

.Net Framework 4.8 = `"Herr & Frau Straßer"`
.Net Core 3.0 = `"Herr & Frau Stra&szlig;er"`

if we compare the WebUtility.cs -> HtmlDecode methods:

.Net Framework 4.8
` int index = value.IndexOfAny(_htmlEntityEndingChars, i + 1);`
`if (index > 0 && value[index] == ';')`

.Net Core 3.0 line

[2019-10-30 12:48] stephentoub commented on #42215
You can store the exception into a local and then outside of the catch block yield.

[2019-10-30 13:09] uncleyo opened #42220 "System.Text.Json DictionaryKeyPolicy is ignored if entry value is null"
When setting `DictionaryKeyPolicy = JsonNamingPolicy.CamelCase;`, only non-null value entries have their keys properly converted.

I believe it is because the key is only converted inside the else branch [here](https://github.com/dotnet/corefx/blob/d3c298496e9dbdc35008efcaa6c863286f211170/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs#L148-L157).

[2019-10-30 14:15] AArnott commented on #41959
No good reason we omitted the `Builder.Replace` method AFAIK. I would support adding it.

[2019-10-30 14:51] tmds commented on #42192
[code]

[2019-10-30 14:55] julienGrd opened #42221 "Problem Deserialize JsonException with Newtonsoft"
Hello guys, i met a problem to deserialize JsonException (from System.Text.Json) with newtonSoft.

I can have this kind of exception when for example there is an error in a Js call supposed to return data (i originally post this issue on the blazor github, they sayed me to post this issue here).

I have a really surprised exception : Error: System.Runtime.Serialization.SerializationException: Memb

[2019-10-30 15:10] steveharter commented on #41508
I believe you intended to create a [Newtsonsoft ](https://github.com/JamesNK/Newtonsoft.Json) issue.

The error contains "Newtonsoft.Json.Serialization.JsonSerializerInternalWriter.CheckForCircularReference" and does not repro on System.Text.Json.

[2019-10-30 15:24] natnan commented on #37949
I have come across this on .NET Core 3.0 and think it is a valid issue for self-contained deployments. The same call that worked on .NET framework 4.5.2 now requires upgrading .NET framework on the machine when .NET Core is involved.

[2019-10-30 15:25] julienGrd commented on #42221
That's the problem i'm not sure where open this issue. Because I use NewtonSoft since a long time to serialise/deserialise my class and was never a problem like this. I will open an issue on this library too but i'm sure they will respond me the problem come from the JsonException class.

anyway, i create the issue on thier repo : https://github.com/JamesNK/Newtonsoft.Json/issues/2209

[2019-10-30 15:29] eerhardt commented on #42192
I can look into this.

@tmds - I assume they also fail on CentOS 8? Or is this only on RHEL 8?

[2019-10-30 15:32] tmds commented on #42192
@eerhardt they should, but I haven't tried.

[2019-10-30 15:44] zehavibarak commented on #42208
@anurse as I've said, it is likely 2b a SignalR issue, since the same date value serialize with and without timezone. The only other thing I can think of, is that EF serialization omits timezone

[2019-10-30 15:52] steveharter commented on #42221
Both System.Text.Json and Newtonsoft have a `JsonException` class. Closing issue.

[2019-10-30 15:53] #41508 closed

[2019-10-30 16:16] tarekgh commented on #42217
@kevingosse is right. This is the same as #25756 and it has been discussed in https://github.com/dotnet/corefx/issues/16010 and decided not to do it. Also there is a NuGet package out there which can help in the needed scenario.

CC @stephentoub

[2019-10-30 16:16] #42217 closed

[2019-10-30 16:25] anurse commented on #42205
The extra complexity there is that a peer in a QUIC connection can have [multiple connection IDs](https://quicwg.org/base-drafts/draft-ietf-quic-transport.html#connection-id).

We should be considering how connection migration may affect these APIs, though I think it's reasonable to call some of that out-of-scope for 5.0. The `LocalEndPoint` and `RemoteEndPoint` could both change (though the `Loca

[2019-10-30 16:27] ebekker commented on #24843
Likewise, most of my usage is from an AWS Lambda function (.NET Core apps on Amazon Linux AMI) and it interacts with both AWS managed MSAD controllers, as well as our own self-hosted controllers.

[2019-10-30 16:57] buyaa-n commented on #42197
It is working as expected in .Net core 2.2, 3.0, 3.1. @jhirschdrg i think you are mistaking the output of your app. When you are not set the whole path output will be in `\bin\[Build Mode]\[Target framework` of your current working directory. You can find from there your "abc.txt" file. For example in my case it is in `\ConsoleApp5\bin\Debug\netcoreapp3.0\abc.txt`.

[2019-10-30 17:09] tarekgh commented on #42218
This issue was moved to microsoft/msbuild#4862

[2019-10-30 17:31] danmosemsft commented on #37949
@natnan that's right, you do need an upgraded .NET Framework. It's a known limitation. As mentioned above, WMI is considered a legacy tech by my understanding, and we don't plan to port it wholesale to .NET Core. That is why we have this interop solution that requires an updated .NET Framework.

[2019-10-30 17:33] danmosemsft commented on #42123
OK, let's close this then. Thanks.

[2019-10-30 17:43] jhirschdrg commented on #42197
Thanks, @buyaa-n.

It was in production code, I was searching with the windows search in the app directory but I was unable to find it.

I checked now in the user's home directory `c:\users\username` and found it.

Now I see that it's even in the [Microsoft Docs ](https://docs.microsoft.com/en-us/dotnet/api/system.io.file.move)in the remarks section at the bottom

[2019-10-30 17:45] GrabYourPitchforks commented on #32563
Do you have a tool that walks an object graph looking for the `ICloneable` interface and calling `ICloneable.Clone()` over and over again? That scenario should continue to work, as `string.Clone()` is not being obsoleted. The contract of that method is that it returns _this_.

[2019-10-30 17:57] buyaa-n commented on #42197
Great, then I think we can close the issue, thanks for confirmation

[2019-10-30 17:57] #42197 closed

[2019-10-30 18:11] tarekgh commented on #42192
I tried Centos 8 and I am not seeing the problem there. I used net core 3.0 to check it. And the time zone data looks good to me too:

[code]

@tmds could you please try to dump the whole zone data in your machine?

[code]

[code]

[2019-10-30 18:34] stephentoub opened #42231 "CertificateValidationRemoteServer_EndToEnd_Ok test failing on all PRs on Windows"
cc: @wfurt, @davidsh

[2019-10-30 18:50] davidsh commented on #42231
Can you post a link of one of the failures? What is the error message?

[2019-10-30 18:51] stephentoub commented on #42231
The last 7 PRs in the repo:
![image](https://user-images.githubusercontent.com/2642209/67889169-b83e5d00-fb24-11e9-8b15-51c1fc9a9d4a.png)
e.g.
https://dev.azure.com/dnceng/public/_build/results?buildId=407674&view=ms.vss-test-web.build-test-results-tab&runId=12743580&resultId=178362&paneView=debug
[code]

[2019-10-30 18:53] davidsh commented on #42231
This is the test:
https://github.com/dotnet/corefx/blob/62e6ccfa09322db02d6c043226bd382debc915c4/src/System.Net.Security/tests/FunctionalTests/CertificateValidationRemoteServer.cs#L16-L38

[2019-10-30 18:56] davidsh commented on #42231
The server uses the remote Azure endpoint:

https://corefx-net-http11.azurewebsites.net

The endpoint is working fine when using the browser.

[2019-10-30 18:57] davidsh commented on #42231
Can you reproduce the failures locally on your dev machine when running the System.Net.Security tests?

[2019-10-30 18:59] stephentoub commented on #42231
No.  It's possible it was transient and has already resolved itself.  Or maybe there's some kind of networking issue between the CI machines and the endpoint.

[2019-10-30 19:03] davidsh commented on #42231
Curiously, this particular test is not marked 'Outerloop' even though it connects with an external server in Azure. I think the test should be changed to Outerloop. We can also consider that this test is not needed considering everything else we already test for TLS. If so, we can delete this test.

[2019-10-30 19:04] ericstj commented on #41913
Yeah, it redistributes the old build for these.

Public key tokens should not have changed, if they did, that's a bug that should be fixed.  I can confirm that's the problem here.

From package 1.3.0

From package 1.2.0 (all same)

This needs to be fixed in 3.1, and likely 3.0 as well.  @maryamariyan @ViktorHofer.

Looks like this was regressed with https://github.com/dotnet/corefx/commit/cf52405e

[2019-10-30 19:05] #42219 closed

[2019-10-30 19:09] eerhardt commented on #42192
From my `centos:8` docker image I have: `tzdata-2019a-1.el8.noarch`.

I also compared these dates to an Ubuntu 18 image I have, and `zdump -v /usr/share/zoneinfo/Africa/Casablanca` looks the same for both from `1940` to `1950`.

`centos:8`:

[code]

Ubuntu 18:

[code]

I did however notice a difference in more recent years (around 2018-2019) between the two, but this appears to be because of updat

[2019-10-30 19:12] safern commented on #41913
I can take this. It seems like a simple fix as @ViktorHofer and @maryamariyan are busy with other immediate stuff.

[2019-10-30 19:13] ericstj commented on #41913
I already have the fix.

[2019-10-30 19:13] safern commented on #41913
Sounds good. Thanks.

[2019-10-30 19:16] ericstj commented on #41393
This is a bug in System.Composition.* fix is here: https://github.com/dotnet/corefx/pull/42232

We'll need to bring this through servicing too.  For now don't pick up the 1.3.0 package as we need to fix that assembly identity.

[2019-10-30 19:19] lobster2012-user opened #42234 "StreamReader: Read + ReadAsync = bug ???"
At work (net core 3.0) I ran into an unpleasant bug. I received packets on the socket, having only 5 messages in it, I could read only 4. I found that I mistakenly used blocking and non-blocking calls, and only this combination led to an error.
At home reproduced the situation (net core 2.2)

[code]

[2019-10-30 19:24] karelz commented on #33506
Comments above say that Windows is working fine - https://github.com/dotnet/corefx/issues/33506#issuecomment-438878667

If you see Windows issue, please file a new bug as it is likely some unrelated regression or something. Please specify exact .NET Core version. Ideally try latest released (3.0.x currently) as well.
I will hide the Windows comments above as they are unrelated tot he main issue he

[2019-10-30 19:57] mthgr commented on #33506
I think the comment above is wrong (33506). I've been working on this project for a few months now (pre-dating the updates mentioned above) and I've had this issue since day 1 and had to deactivate the mentioned settings on FileZilla to make it work.

For your internal reference, I've been in contact with IPworks to use their commercial library for FTP since we can't make use of any open source pr

[2019-10-30 19:59] stephentoub commented on #42234
Are you able to repro the issue using StreamReader directly rather than via Json.NET's types?  It's of course possible there's an issue in StreamReader itself, but it sounds like it might be hitting a buffering problem in Json.NET.

[2019-10-30 20:02] scalablecory commented on #42234
This looks like a test bug... am I wrong?

- you're exiting the receive loop after receiving 5 messages.
- you're only sending 4 messages
- you have a `await Task.Delay(-1).ConfigureAwait(false)` prior to `stream.Dispose()`, so the socket will never get shut down on the send side. this causes the receive side to wait for data that will never come.

[2019-10-30 20:11] lobster2012-user commented on #42234
@scalablecory
1 json message + 3 json messages+ 1 json message + delay + 1 messages

@stephentoub
I did wrappers on readers at work to display logs, it was obvious to me that the problem was in streamReader.
I'll try without json.

[2019-10-30 20:11] wfurt commented on #42231
Could be also IPv4 vs IPv6 preference. But I would expect other tests using same EndPoint also failing... The "forcibly" suggest we get RST from the server or firewall/load-balancer in-between.

[2019-10-30 20:23] scalablecory commented on #42234
I did not catch the count. Thanks.

[2019-10-30 20:30] lobster2012-user commented on #42234
Add a log_1.
It can be seen that the message was recorded
{555555}
it was not read completely, on the second attempt we are blocked.

[code]

[2019-10-30 20:43] coenm opened #42236 "Base64.EncodeToUtf8 behavior changed between netcore2.1 and netcore3.0"
The following call

[code]

returns `OperationStatus.NeedMoreData` running netcore2.1 and `OperationStatus.Done` in netcore3.0

Is this intentionally? Is this a bug? Should this be documented?

Example can be found at:

[code]
The test will pass in netcore2.1 and fail in netcore3.0

[2019-10-30 20:53] stephentoub commented on #42234
Thanks.  If you can come up with a repro that just uses StreamReader rather than things layered on top of it, that'd be much more helpful (and if you can't, that says something helpful, too ;)

[2019-10-30 20:54] lobster2012-user commented on #42234
[code]

[2019-10-30 20:54] lobster2012-user commented on #42234
[code]

[2019-10-30 20:55] lobster2012-user commented on #42234
![изображение](https://user-images.githubusercontent.com/9452368/67898106-c0bc8500-fb70-11e9-88fb-feecc6dd5607.png)

[2019-10-30 21:09] lobster2012-user commented on #42234
+ LogStream

textread.readasync-begin 1023
stream.read-begin 1024
00:08:46 written-before {"Prop":"111....11111"}
stream.read-end 411/1024 '{"Prop":"111....11111"}'
00:08:46 written-after total=411
00:08:46 written-before {"Prop":"222....22222"}{"Prop":"333....33333"}{"Prop":"444....44444"}
00:08:46 written-after total=1644
00:08:46 written-before {"Prop":"555....55555"}
00:08:46 **written-after t

[2019-10-30 21:15] mikepenaMS opened #42237 "When using ReadAsync on Stream returned from HttpContent.ReadAsStreamAsync and the internet drops, it sometimes doesn't return"
Hello,

We are trying to read in a file in chunks and we noticed that if the internet drops out for large files that ReadAsync doesn't return, the thread just seems to exit and no exception is thrown. I made a small repro of the issue below.

[code]

[2019-10-30 21:18] TylerBrinkley commented on #32276
It currently targets netstandard1.0, netstandard2.0, and netcoreapp2.0, the library is implemented in IL directly so I don't think it would hold us back.

[2019-10-30 21:25] mikernet opened #42238 "Add ConcurrentDictionary.Comparer property"
It would be useful to expose this as a getter property, similar to `Dictionary<,>.Comparer`.

[2019-10-30 21:38] gfoidl commented on #42236
With https://github.com/dotnet/corefx/blob/fd454581475dd32b88ed45d38976855f24bd6751/src/System.Memory/src/System/Buffers/Text/Base64Encoder.cs#L29 I would say to is a bug, as "more data will follow".

I introduced this in https://github.com/dotnet/corefx/pull/34529, so I'll prepare a fix (+ test, as there is none, obviously).

[2019-10-30 21:45] gfoidl commented on #42236
Same applies to `Base64.DecodeFromUtf8`.

[2019-10-30 21:56] carlossanlop commented on #42231
In case it's helpful, my 3.1 Port CI seems to be hitting these same networking failures:
https://github.com/dotnet/corefx/issues/42231

My failure logs, in case they are helpful:
Windows x64: https://helix.dot.net/api/2019-06-17/jobs/b8e03ca9-f491-48bf-a040-92ed8532b4af/workitems/System.Net.Security.Tests/console
Windows x86: https://helix.dot.net/api/2019-06-17/jobs/430162ce-2954-49bd-af88-b506ed

[2019-10-30 22:07] MichalBrylka commented on #42207
@danmosemsft
ok, will try

[2019-10-30 22:13] ericstj commented on #42231
Seeing this in my release/3.1 PR too.
https://dev.azure.com/dnceng/public/_build/results?buildId=407986&view=ms.vss-test-web.build-test-results-tab&runId=12754528&resultId=157383&paneView=debug

Can a change be fast-tracked to disable this test while things are investigated?

[2019-10-30 22:15] davidsh commented on #42231
@wfurt Can you submit a PR to master (and probably release/3.1) to disable the test to help unblock folks?

[2019-10-30 22:19] GrabYourPitchforks commented on #42236
I believe the 3.0 behavior to be correct. `OperationStatus.Done` means "this method has consumed the entirety of the source data without error, and there was enough space in the destination buffer to hold the resulting output." For an empty source buffer, this is trivially true.

[2019-10-30 22:20] gfoidl commented on #42236
@GrabYourPitchforks this was my initial thought also, but then I looked at `isFinalBlock: false` and that changed my mind.

[2019-10-30 22:23] GrabYourPitchforks commented on #42236
The documentation for the _isFinalBlock_ parameter is incorrect. The documentation should instead read "Set to _true_ when the source buffer contains the entirety of the data to encode. Set to _false_ if this method is being called in a loop and if more input data may follow. At the end of the loop, call this (potentially with an empty source buffer) passing _true_.."

[2019-10-30 22:31] gfoidl commented on #42236
Yep, this seems fine and natural to me.

`isFinalBlock: false` with empty input is not very natural, and I can't imagine a proper use-case for this.
But if any user has such a scenario the .NET Core 2.1 behavior would be better.
So "termination" (i.e. `Done`) can be achieved with `isFinalBlock: true` only.

I don't have a strong opinion here either.

[2019-10-30 22:39] GrabYourPitchforks commented on #42236
This is incorrect. `OperationStatus` return values do not reflect the status of the entire operation, which might consist of multiple calls to the `OperationStatus`-returning step method. `OperationStatus` return values only reflect the status of one particular iteration: the immediate method call which returned the value in question. And this particular iteration is `Done` because the entirety of

[2019-10-30 23:00] gfoidl commented on #42236
Then the whole `isFinalBlock: false`-story in `System.Buffers.Text.Base64` is broken.
[code]

To follow your statement of `Done`, the result should be changed to cover these cases for `isFinalBlock: false`:

| Case | `OperationStatus` | Comment |
| -- | -- | -- |
| input % 3 == 0, output large enough | `Done` | |
| input % 3 != 0, output large enough | `NeedMoreData` | |
| output not large enough

[2019-10-30 23:03] danmosemsft commented on #42207
Thanks!

[2019-10-30 23:08] ericstj commented on #42091
Fixed in https://github.com/dotnet/corefx/pull/42209

[2019-10-30 23:08] #42091 closed

[2019-10-30 23:10] GrabYourPitchforks commented on #42236
Yes, that is a bug. In your scenario the result should be `OperationStatus.Done`.

[2019-10-30 23:18] gfoidl commented on #42236
Just checked the [initial API proposal](https://github.com/dotnet/corefx/issues/24568#issuecomment-338833370), and that is in line with your view:

---

Good to know. This bug is then around since the base64-apis got introduced...
I'm going to address this (in the next couple of days).

[2019-10-30 23:20] GrabYourPitchforks commented on #42236
As another example of why `OperationStatus.Done` is the correct return value, consider an API that would perform hex encoding:

[code]

This API doesn't take an `isFinalBlock` parameter at all because it's unnecessary. One byte of input always translates to two chars of output, and there's no special processing which needs to take place for the "final" chunk of data. This API can be used in a one-

[2019-10-30 23:21] MichalBrylka commented on #42207
@danmosemsft
@tannergooding
what do you think about documenting VectorX.Create methods as well
i.e. _mm256_set_epi32 for Vector256.Create(int e0, int e1, int e2, int e3, int e4, int e5, int e6, int e7);
?
This sounds like a lot to document, I'm not saying I'll be able to provide them all, but it may be a good start

Otherwise I'm happy to provide these several missing XML docs

[2019-10-30 23:27] tannergooding commented on #42207
I think it would be fine to document that the `Vector256.Create` methods correspond to the `_mm256_setr` methods (noting that they correspond to `_setr_` not `_set_`).

[2019-10-30 23:29] karelz commented on #32276
Even in IL you can depend on new APIs.
I would personally decide based on upvotes on such request. @ericstj any thoughts?

[2019-10-30 23:31] gfoidl commented on #42236
Thanks, I got it.

Had a mental connection of `NeedsMoreData` with `isFinalBlock: false`. Now in hindsight this doesn't make sense at all, because as caller when I know / set `isFinalBlock: false` then I don't need a return value telling me that more data is expected :wink: (that's why `false` was used), so `Done` is what I expect, to know that my provided data was encoded successfully. Then more

[2019-10-30 23:45] GrabYourPitchforks opened #42245 "Base64.EncodeToUtf8 sometimes returns NeedMoreData when it should return Done"
As @gfoidl reports in https://github.com/dotnet/corefx/issues/42236#issuecomment-548148179:

[code]

This sample outputs `NeedsMoreData` but it should instead output `Done`.

[2019-10-30 23:45] GrabYourPitchforks commented on #42236
Thanks for finding the issue with the non-empty buffers! I opened a tracking item for it.

[2019-10-30 23:47] gfoidl commented on #42245
I'll fix this (in the next couple of days).

[2019-10-30 23:48] GrabYourPitchforks commented on #42236
Relabeling this with _documentation_ and _breaking-change_ so that we know we should doc it.

[2019-10-30 23:48] MichalBrylka commented on #42207
@tannergooding
meanwhile, could you please tell me where is the code responsible for translating high level call (i.e. Avx2.Add) to appropriate assembly instruction ?

[2019-10-30 23:58] gfoidl commented on #42245
The same applies to `DecodeFromUtf8`.

[2019-10-31 00:16] danmosemsft opened #42246 "Message_ShouldFormatCountOfRootCausesUsingTheCurrentCulture failed on UAP"
[code]

[2019-10-31 00:16] danmosemsft commented on #42246
We're not running UAP test configuration anymore (this was in release/3.1) but we should log the line.

[2019-10-31 00:18] davidsh commented on #41652
Have you been able to test using the custom .conf file?

Also, do you have NTLM installed on the Linux machines (gss-ntlmssp)? And what credential are you using in the .NET layer? Is it `CredentialCache.DefaultCredentials`?

The reason for the questions is that when Negotiate (SPNEGO) protocol is used but has errors with Kerberos, NTLM fallback would be possible assuming you are using explicit cre

[2019-10-31 00:46] carlossanlop commented on #41614
Both Directory and File methods have been merged to 5.0 and ported to 3.1.

[2019-10-31 00:46] #41614 closed

[2019-10-31 01:43] TylerBrinkley commented on #32276
You're right but it is already targeting .NET Standard 1.0 which is a much more limited API surface layer than .NET Framework 4.5.

[2019-10-31 01:54] #42246 closed

[2019-10-31 02:14] ericjohannsen opened #42250 "Marshaling struct as callback on Ubuntu"
I'm experimenting with pinvoke calls on Ubuntu. For the most part, everything works as expected, but I can't understand why this code seems to populate the `struct stat` with incorrect values. Even the first member of the struct `st_dev` has a value that doesn't seem plausible.

[code]

I created `struct timespec` and `struct stat` by looking at the C headers installed on my Ubuntu 18.04 VM. I use

[2019-10-31 02:33] GrabYourPitchforks opened #42251 "Add [CallerMustBeUnsafe] attribute to denote APIs which should be called in an unsafe block"
Per https://github.com/dotnet/roslyn-analyzers/issues/972, there's an outstanding feature for a Roslyn analyzer which would require a caller to use an `unsafe` block to make an API call that's pointer-equivalent dangerous but which doesn't take pointers.

For example:

[code]

Whether that feature exists as a standalone analyzer or whether it gets moved into Roslyn proper (see https://github.com/d

[2019-10-31 03:20] davidfowl opened #42252 "API proposal: TryReadTo(out ReadOnlySpan<T> sequence, ReadOnlySpan<T> delimiter)"
Today there's no overload of TryReadTo that returns (via out parameter) a `ReadOnlySpan<T>` and allows passing a `ReadOnlySpan<T>` delimeter.

[code]

@JeremyKuhne do you recall why we left this out?

[2019-10-31 03:41] AriNuer opened #42253 "Test failed: System.Net.Security.Tests.CertificateValidationRemoteServer.CertificateValidationRemoteServer_EndToEnd_Ok"
**Job:**
[corefx-ci #20191030.51](https://dnceng.visualstudio.com/public/_build/results?buildId=408780)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/d4f54233-a11c-405b-a82a-6800e4f4a5f0/workitems/System.Net.Security.Tests/console
https://helix.dot.net/api/2019-06-17/jobs/54c01015-d8e1-48e4-8de9-e300331111d1/workitems/System.Net.Security.Tests/console

**Failed tests:**
System.Net.Securit

[2019-10-31 05:02] davidfowl opened #42255 "API Proposal: Uf8Parser overloads for ReadOnlySequence<byte>"
These text parsers are very convenient when parsing text based protocols (like HTTP/1.1 and RESP). It would be great to have overloads of the existing APIs that support `ReadOnlySequence<byte>`. I end up writing code like this:

[code]

I would be great if this was built into the existing parser.

cc @ahsonkhan

[2019-10-31 05:21] jkoritzinsky commented on #42250
The native signature for the callback that `ftw` takes doesn’t take a `stat` by value. It takes a `stat*`. If you change the `stat` parameter to be of type `ref stat` instead of just `stat` it should work as expected.

[2019-10-31 05:40] oliverjanik commented on #1973
What's the status here? I'd really like this interface in standard lib and have HashSet<> implement it.

[2019-10-31 06:00] ahsonkhan commented on #42255
Should we consider adding these APIs on `SequenceReader` instead (or potentially in addition to)?

Something like these extension methods:
https://github.com/dotnet/corefxlab/blob/94248fb2ea9881936d6338b0d2d62ca8c79cbd79/src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader_text.cs#L239-L275

[2019-10-31 06:04] dehghani-mehdi commented on #25117
@danmosemsft Any idea how prevent change event fire on fake changes? e.g: hitting `ctrl+s` without actual change.

[2019-10-31 06:18] davidfowl commented on #42255
I originally had that but the problem is that with text based protocols are usually delimited. For example, say you wanted to parse an HTTP/1.1 response (e.g. HTTP/1.1 200 OK\r\n). You want to write code that looks like this:

[code]

If we add these parser APIs, how do you avoid parsing the status code into an integer until you have the full payload?

[code]

[2019-10-31 06:32] cyperous commented on #41841
I've been playing around trying to figure out if and when the atime changes when reading a file.

It seems that if I create a drive formatted with MacOS Extended, I don't encounter any issues at least when it comes to using stat -s file.

For some reason on an APFS file system though the st_atime is not being updated.

@wfurt I would agree with you, even Windows 10 has access times disabled and yo

[2019-10-31 06:42] safern commented on #40711
It failed again and it produced a coredump:

https://helix.dot.net/api/2019-06-17/jobs/5335d74d-89b3-4543-9c31-2236a792653d/workitems/System.Net.Mail.Functional.Tests/files/core.1000.2870

https://dev.azure.com/dnceng/public/_build/results?buildId=408989&view=ms.vss-test-web.build-test-results-tab&runId=12790968&resultId=176542&paneView=attachments

[2019-10-31 07:15] cyperous commented on #41841
I just had a major revelation.
I just tried using the following command `sudo mount -vuwo strictatime /Volumes/Drive`

This drive is formatted apfs.

After performing this action the access time's are now being updated on this drive.

YEAH!!!

[2019-10-31 07:57] ahsonkhan commented on #42236
I am not certain if we want to take this breaking change. There are two questions here:
1) Is the .NET Core 2.1 behavior intended and correct?
2) Let's assume it isn't, should we make the breaking change or revert back to the original behavior?

Regarding 1, I think the `isFinalBlock=false` changes the circumstance. I am not 100% sold yet that if someone passes false there, we should be returning

[2019-10-31 08:11] GrabYourPitchforks commented on #42255
(Standard grumbling that this belongs on an `AsciiParser` class, not a `Utf8Parser` class, since presumably you want these APIs to fail if they encounter non-ASCII data.)

The APIs seem reasonable. We'd have to be a little careful with the implementation because each method would need to know the worst-case input length based on the `out T` and the `char standardFormat` parameters. It's likely tha

[2019-10-31 08:38] ahsonkhan commented on #42208
For customizing the serialization of dates using S.T.Json's serializer, you'd need to register your converter that formats the dates to the output you expect (as part of `JsonSerializerOptions`, by setting `PayloadSerializerOptions`).
See this document for more details:
https://docs.microsoft.com/en-us/dotnet/standard/datetime/system-text-json-support#custom-support-for--and-

@zehavibarak - can y

[2019-10-31 08:57] GrabYourPitchforks commented on #42236
I think this thread has presented overwhelming evidence that the 3.0 behavior is correct for empty input buffers. This is backed up by the behavior of other `OperationStatus`-based APIs, a thought experiment involving future `OperationStatus` APIs that don't accept an _isFinalBlock_ parameter, and references back to the original issue description which clearly indicate that the return value was in

[2019-10-31 09:26] GrabYourPitchforks commented on #42236
For more info on why the calling code in my sample is written the way it is (without even looking at `OperationStatus`), check out the discussion at https://youtu.be/BEBq3__WfDc?t=6134 (timestamp 1:42:14).

[2019-10-31 09:43] GrabYourPitchforks commented on #42236
Also, for further context check out recording at https://youtu.be/BEBq3__WfDc?t=5160 (timestamp 1:26:00), where we discuss the interplay between `isFinalBlock` and `OperationStatus.NeedsMoreData`. The discussion there revolves around that it's intended to resolve an ambiguity regarding "I don't know whether I need to give this data special treatment because I don't know if I'm going to be called a

[2019-10-31 10:28] gfoidl commented on #42252
To which type this should apply? I assume `SequenceReader<T>`.

`sequence` reminds me of `ReadOnlySequence<T>`, so maybe `span`, to be in line with https://github.com/dotnet/corefx/blob/8ee61dd103ff55445f8baf3137bb768ed86370d9/src/System.Memory/src/System/Buffers/SequenceReader.Search.cs#L19

[2019-10-31 11:30] Wraith2 commented on #42251
And some of the Unsafe methods?

[2019-10-31 11:39] eiriktsarpalis commented on #42237
How frequently does it happen? I ran the example about 10 times and it consistently surfaced an IOException. NB I'm using a console app that simply calls your method:
[code]
Perhaps you're doing something different?

Could you also please share the runtime version you are using? I tested using .NET Core 3.0.

[2019-10-31 11:55] akoeplinger commented on #38445
Looks like setting `OPENSSL_ROOT_DIR` still works if we point it at an openssl 1.1 version:

`OPENSSL_ROOT_DIR="/usr/local/Cellar/openssl@1.1/1.1.1d/" ./build.sh`

[2019-10-31 11:59] DenisSemionov commented on #38650
As I needed only one-side serializer (to make API return derived class properties), I came up with current solution

    public class CustomConverter : JsonConverter<BaseClass>
    {
        private readonly JsonSerializerOptions _serializerOptions;

        public CustomConverter()
        {
            _serializerOptions = new JsonSerializerOptions
            {
                PropertyNamingPol

[2019-10-31 12:53] gfoidl commented on #42245
The desired behavior of `System.Buffers.Text.Base64` is summarized in the tables below.

@GrabYourPitchforks please have a look, so that I didn't miss a check or that like.
Based on that table the (unit-) tests will be adjusted.

### Encoding

| isFinalBlock | input                                      | output-buffer-length                    |    OperationStatus    | Comment

[2019-10-31 13:14] davidchisnall commented on #41488
@jasonpugsley, is it possible for you to submit a port so that we can have packages for .NET core?  That should make it easier for people who want to work on improving the git master to bootstrap everything.

[2019-10-31 13:33] FaizulHussain commented on #19630
I've had similar issues. In my case the method IsWellFormedUriString failed if it contained %2D instead of hyphen character (-)

[2019-10-31 14:35] tmds commented on #34868
fwiw, I don't like it when classes do things that may potentially block in Dispose/DisposeAsync, like sending data to a peer.
I rather have an explicit method for this, that accepts a CancellationToken.

I'm not sure why this would behave differently when closed with a QUIT message vs only a TCP close.

[2019-10-31 15:00] stephentoub commented on #9680
@madenwela is working on this one.
cc: @danmosemsft, FYI.

[2019-10-31 15:31] ericjohannsen commented on #42250
That did the trick!

However, my starting point for the experiment was the documentation here, which shows the incorrect signature.

https://docs.microsoft.com/en-us/dotnet/standard/native-interop/pinvoke

[2019-10-31 15:35] bartonjs commented on #42236
The API docs for OperationStatus (https://source.dot.net/#System.Private.CoreLib/shared/System/Buffers/OperationStatus.cs,52cc599542def2d4) suggest that Done is the right answer, too.

* `Done`: The entire input buffer has been processed and the operation is complete.
  * Sounds like if `bytesConsumed` == `source.Length` that Done is the correct answer.
  * Yeah, there's a question of what an "ope

[2019-10-31 15:52] scalablecory commented on #42255
I don't know if I'd want it in corefx but an extension on `ReadOnlySequence` could make this simple:

[code]

[2019-10-31 15:58] #41839 closed

[2019-10-31 16:02] davidfowl commented on #42252
@gfoidl fixed!

[2019-10-31 16:04] Clockwork-Muse commented on #42208
nit: `-08:00` isn't a timezone, it's an offset.

Note that deserializing into `DateTimeKind.Local` is inherently dangerous, since even if the instant (same UTC value) is retained this still distorts the apparent value and what adjustments would need to be performed with regards to DST and other cross-zone comparisons.  If you get passed an offset, use `DateTimeOffset`.
And unless you're _very_ car

[2019-10-31 16:18] davidfowl commented on #42255
We're just delegating to the Span overloads for most of these (I would assume all check for overflow).  Isn't double the only special case?

[2019-10-31 16:39] ericstj opened #42264 "Corefx packages aren't using License expression"
Something regressed in the build of our packages in that they only contain licenseUrl and not license expression.

https://docs.microsoft.com/en-us/nuget/reference/nuspec#license

We should try to fix this for 3.1 if we can.

[2019-10-31 16:54] tmds commented on #40711
I tried to use `dotnet dump analyze` but the `clrstack` and `clrthread` commands are hanging. Not sure if it is supposed to work.

I'll have a look at debugging this using `libsosplugin.so` next week.

[2019-10-31 16:58] ViktorHofer commented on #40711
@jkotas @danmosemsft can you help Tom? I tried it myself and didn't get very far with WinDbg.

[2019-10-31 16:59] jonwingfield commented on #41489
@davidsh It does require setup of a krb5.conf file, but this is environment dependent so I can't really provide an example file. There isn't anything extra to do other than specify the KDC and realms as outlined in this article: https://docs.microsoft.com/en-us/sql/connect/jdbc/using-kerberos-integrated-authentication-to-connect-to-sql-server?view=sql-server-ver15.

[2019-10-31 17:21] adamsitnik commented on #42047
@danmosemsft @safern this is the issue I've been talking about today. You've mentioned that it has been already solved? I've tried to update everything to latest bits but the perf did not change.

[2019-10-31 17:26] zehavibarak commented on #42208
I’m setting from DateTime.UtcNow, sending via SignalR and saving to EF context. That value is later serialized via MVC – with a different offset. How would you suggest to write this better?

[2019-10-31 17:31] ericstj commented on #36861
@sbomer can this be resolved?

[2019-10-31 17:32] stephentoub commented on #36861
Yup, we updated last week.

[2019-10-31 17:32] #36861 closed

[2019-10-31 17:33] zehavibarak commented on #42208
@ahsonkhan JsonSerializerOptions doesn't have the Newtonsoft JsonSerializationSettings DateTimeZoneHandling = DateTimeZoneHandling.Utc. The value I'm using is DateTime.UtnNow, which serialize with offset from SignalR, while serialize without offset from controller (in my code I first persist it via EF, so maybe the prob is there)

[2019-10-31 17:33] stephentoub commented on #36861
(Although it'd be nice to also do the "To not get stale dependencies we should also invest in auto-updating it" part.  Maybe a separate issue?)

[2019-10-31 17:34] ericstj opened #42269 "Eliminate duplication with shipping ILLink targets"
We should avoid defining our own ILLink targets and instead extend/configure the shipping ones.  We still have a lot that is unique to corefx (trimming libraries not apps, diffing the result) but we can avoid bugs by sharing the invokation logic from the official targets.  See https://github.com/dotnet/corefx/pull/42266

/cc @sbomer @ViktorHofer @eiriktsarpalis

[2019-10-31 17:36] ViktorHofer commented on #36861
I'll do that right now.

[2019-10-31 17:41] ViktorHofer commented on #36861
I just set up a subscription. This is now part of the batched dependency update in master.

[2019-10-31 17:44] ViktorHofer commented on #36861
Actually Version.Details.xml is missing the metadata for darc to update. Adding it: https://github.com/dotnet/corefx/pull/42270

[2019-10-31 17:47] danmosemsft commented on #40711
This is Linux right? Windbg won't work, as far as I know.

[2019-10-31 17:48] danmosemsft commented on #40711
@mikem8361 could you please take a look at this? dump is at https://helix.dot.net/api/2019-06-17/jobs/5335d74d-89b3-4543-9c31-2236a792653d/workitems/System.Net.Mail.Functional.Tests/files/core.1000.2870

[2019-10-31 17:48] mguinness commented on #25117
Take a look at [FileSystemWatcher Follies](https://blogs.msdn.microsoft.com/winsdk/2015/05/19/filesystemwatcher-follies/) to understand the limitations of the process.  I don't see how you can achieve what you need without using something like file hashing to track changes to a files content.

[2019-10-31 17:52] safern commented on #42047
FWIW, a big difference in between the Windows and Unix implementation, is that Windows uses a COM Interface that `GDI+` knows about so it just does direct calls on the interface object passed  down:
https://github.com/dotnet/corefx/blob/0822e3787583ef4cc05bcad44a60848b3bdabd88/src/System.Drawing.Common/src/System/Drawing/Image.Windows.cs#L35

However, the way `libgdiplus` works is different, you n

[2019-10-31 18:08] Clockwork-Muse commented on #42208
Generally speaking, any serialization of a date-time value falls into one of two categories:
 1. A "logged" value representing the exact instant in time something occurred, usually expressed in UTC for historical/interop reasons.
 1. A "future" value representing an estimate of a future time, almost never in UTC (because UTC is usually not relevant for schedules).

If you're dealing with a logged

[2019-10-31 18:11] JeremyKuhne commented on #42252
We were a little pressed for time, it might have fallen off due to additional complexity to optimize that case.

[2019-10-31 18:16] dehghani-mehdi commented on #25117
@mguinness right now I store copy of file (from last real change) to have something to compare with, but this adds 2 IO (read the changed file and that copy) and I don't happy with this solution. do you have better idea?

Also I could not use memory cache, because the memory usage of my app is important.

[2019-10-31 18:26] mikem8361 commented on #40711
It seems to work for me of course.  The only thing I can think of is that dotnet-dump is trying to download symbols from the ms symbol servers (is on by default). You can disable this with `setsymbolserver -disable` before you run `clrstack`.

[code]

[2019-10-31 18:28] ericstj commented on #42231
Still failing in release/3.1.  Were you going to port your fix there?

[2019-10-31 18:36] iolazarc opened #42272 "MemoryCache erroneously reports successful additions after it's been disposed"
System.Runtime.Caching.MemoryCache will report successful addition of a new item to the cache for the Add and AddOrGetExisting methods after Dispose has been called on the instance.
This is in violation of the documentation which states "true if insertion succeeded, or false if there is an already an entry in the cache that has the same key as item." (for Add). For AddOrGetExisting it gets more co

[2019-10-31 18:38] GrabYourPitchforks commented on #42251
Maybe. On one hand the developer already quite literally wrote `Unsafe.<something>` in their code, so requiring an `unsafe` block seems redundant. But there is something to be said for consistency.

[2019-10-31 18:41] GrabYourPitchforks commented on #42255
If you pass `int.MaxValue` worth of zeroes to the span overload? It should handle them just fine and return `0.0`.

[2019-10-31 18:42] adamsitnik commented on #41663
I think that we should revisit all known platform differences and group them into 3 categories:

- ICU bugs (and report|fix them)
- invalid ICU API usage (requires fix on our side)
- by design (and document these differences)

An example of ICU bug that we've already fixed: https://github.com/unicode-org/icu/pull/840

Examples of things that can be bugs on our side or ICU side:

[code]

[code]

[2019-10-31 18:47] sfadeev commented on #38650
@DenisSemionov, it seems like your sample escapes classes and writes data as string. To serialize normally json converter should be something like this (similar to @steveharter sample above):

[code]

... and then registered in JsonOptions:

[code]

[2019-10-31 18:53] GrabYourPitchforks commented on #42236
There is potentially one exception to this: an API could return `DestinationTooSmall` even if it has consumed the entire input buffer. An example of such an API would be something that writes a marker to the end of the destination stream saying "I'm finished!", such as might occur within a CBC-style cipher.

[code]

[2019-10-31 19:05] DenisSemionov commented on #38650
@sfadeev , I agree with you, noticed my mistake too late. Can't find any good examples or documentation for polymorphic serialization in .net core 3.0, need to support 9 subclasses in one web API get method. I will share my solution if I come up with a smart one.

[2019-10-31 19:15] sfadeev commented on #38650
@DenisSemionov, you can use sample from my comment above.

[2019-10-31 19:21] huoyaoyuan commented on #42251
Today, `unsafe` means enable the unsafe syntax. With this analyzer, it will mean "doing unsafe things". It may conflict with some analyzer saying "unnecessary 'unsafe' modifier".

[2019-10-31 19:22] adamsitnik commented on #41663
Personally I am not a big fan of such optimizations. It adds a LOT of complexity on our side.

I am not sure if I understand correctly, but we already have a cache:

https://github.com/dotnet/coreclr/blob/c6697a00ef7ecba6012b1a52f13401ce06b8295b/src/System.Private.CoreLib/shared/System/Globalization/CompareInfo.Unix.cs#L42

I had the "pleasure" to get more familiar with ICU code and I can say that

[2019-10-31 19:33] bartonjs commented on #42236
Fair enough. If `U[] DoTheThing(Array<T>.Empty)` produces a non-empty thing, then "consumed == source.Length" might not be `Done` :smile:

[2019-10-31 19:35] mguinness commented on #25117
You'll be better served using file hashes, see [Computing File Hashes in C#](http://gigi.nullneuron.net/gigilabs/computing-file-hashes-cs/) for more info.

[2019-10-31 19:37] GrabYourPitchforks commented on #42251
@huoyaoyuan You raise a good point. We need to set a bar for ourselves on where we want to apply this attribute. If the `unsafe` keyword right now essentially means "let me do pointer-related stuff," then maybe we set the bar to "apply it to wherever an API allows you do to something that would normally require a pointer." This gets a little hairy though, since there are some things that are point

[2019-10-31 19:45] huoyaoyuan commented on #42251
The safety of an API may also various. For example `Unsafe.As`, it can be super dangerous like `As<T[], SZArrayHelper<T>>`, or super safe like `As<float, int>`

[2019-10-31 19:47] nickalbrecht commented on #42220
I just ran into this as well. Makes for really inconsistent behaviour when trying to use the a Json result from asp.net core app because the Json object might be the expected case in instance and a different casing in another.

[2019-10-31 19:48] tarekgh commented on #41663
We got some parties asking for using ICU on Windows. They already used it on Linux and never heard any complain from them about the perf there. So far, we didn't get anyone talked about the expected performance at all.

[2019-10-31 20:10] davidsh commented on #42231
@ericstj

@wfurt just submitted PR #42273 against release/3.1 branch

[2019-10-31 20:12] mikepenaMS commented on #42237
I am building it on a WPF app targeting .NET Framework 4.6.1. The code is built as part of a library that will target UAP, Net 46, Net Standard 2.0.

[2019-10-31 20:15] davidsh commented on #42237
So, this is basically running against .NET Framework and not .NET Core. We don't track bugs with .NET Framework here.

Please post an issue here:
https://developercommunity.visualstudio.com/spaces/61/index.html

[2019-10-31 20:16] ericstj commented on #41913
Fixed in https://github.com/dotnet/corefx/pull/42235

[2019-10-31 20:16] #41913 closed

[2019-10-31 20:17] ericstj commented on #41393
Fixed in https://github.com/dotnet/corefx/pull/42235.

[2019-10-31 20:17] #41393 closed

[2019-10-31 20:26] mikepenaMS commented on #42237
Will do, thank you David!

[2019-10-31 20:26] #42237 closed

[2019-10-31 20:29] Pilchie opened #42275 "Socket errors in a reverse proxy"
_From @colutti on Tuesday, October 29, 2019 4:36:24 PM_

We have developed a reverse proxy to send requests to different endpoints. It has been working so far, but we see a lot of socket errors with timeout exceptions. We are using a singleton instance of httpclient but the issue still happens.

The code with the repro steps can be found here:

https://github.com/colutti/tr-reverse-proxy

_Copied

[2019-10-31 20:30] Pilchie commented on #42275
_From @Pilchie on Tuesday, October 29, 2019 7:34:24 PM_

@rynowak ?

[2019-10-31 20:30] Pilchie commented on #42275
_From @Pilchie on Thursday, October 31, 2019 8:29:28 PM_

@rynowak told me this isn't  client factory, it repros with just `httpclient`.  Moving to Corefx.

[2019-10-31 20:30] Pilchie commented on #42275
@karelz can you take a look?

[2019-10-31 20:32] BreyerW commented on #42251
I would like to raise a point about forward-compatibility - will this analyzer be optional? And if yes be on or off by default on net 5?

These apis may be rarely used by avg developer but many companies develop programs that have at least one bottleneck where good throughput is bare minimum. If this analyzer will be forced in net 5 (via integrating directly to roslyn without ability to disable th

[2019-10-31 20:40] abbotware opened #42276 "Span CopyTo Span - Crashes .Net"
There appears to be some sort of threading issue in the .Net Framework for the following code:

`Memory<byte> memory = new byte[100];`
`ReadOnlySpan<byte> temp = new byte[30];`
`temp.CopyTo(memory.Span);`

attached is a sample program that will crash the error:

The process was terminated due to an internal error in the .NET Runtime at IP 00007FFE09357BFD (00007FFE091A0000) with exit code 80131506

[2019-10-31 20:42] abbotware commented on #42276
This program crashes on .Net Framework 4.72 and 4.8 using System.Memory" Version="4.5.3"
CPU has 8 cores

[Program.txt](https://github.com/dotnet/corefx/files/3795749/Program.txt)

[2019-10-31 20:43] jkotas commented on #41663
It is super rare to see globalization APIs used on performance critical paths. If somebody uses globalization API on a performance critical path, it is most likely a bug - a wrong API being called.

[2019-10-31 20:45] buyaa-n commented on #41932
My repro efforts was not successful, @FeodorFitsner is it possible to share with us the memory dump you are seeing the leak? Also not sure if you are already tried this: forcing GC completely after disposing counters might give different result
[code]

[2019-10-31 20:49] scalablecory commented on #42275
@colutti do you have a small repro showing this issue?

[2019-10-31 20:57] scalablecory commented on #41275
@wfurt was not able to reproduce. Closing this out -- please feel free to reopen if you're still encountering this problem and can provide more detail.

[2019-10-31 20:57] #41275 closed

[2019-10-31 20:58] scalablecory commented on #41320
Closing this out -- please feel free to reopen if you're still encountering this problem and can provide more detail.

[2019-10-31 20:58] #41320 closed

[2019-10-31 21:02] FeodorFitsner commented on #41932
Do you have instructions how to collect the dump and where to securely submit it? Will try forcing GC in the meantime.

[2019-10-31 21:03] scalablecory commented on #41207
@FinexTech were you able to do any testing?

[2019-10-31 21:07] scalablecory commented on #41588
#41778 will help here.

[2019-10-31 22:01] marklio commented on #41932
Expect instructions for collecting the dump shortly. Can you share your security concerns? Who would you like to have access to look at your dump? (this might affect how we suggest to submit it) The easiest thing would be to create a repro that is free of security concern on your end, and you can easily share that via OneDrive or other mechanism. If your only repro contains sensitive information,

[2019-10-31 22:07] marklio commented on #41932
As for capturing a dump, it sounds like you've got a process that's leaking memory. The easiest thing to do in that case is just look at the process in the details view of the task manager, right-click, and select create dump file. It will create the dump file, and tell you the path that it is saved. (NOTE: If you are running x86 on a 64-bit machine, you need to run the 32-bit taskmgr.exe.)  For o

[2019-10-31 22:20] mfeingol commented on #38641
Just ran into this issue today. The default behavior is worse than previous behavior and was entirely unexpected. We should fix it, either by using ISO8601 or being compatible with Newtonsoft.

[2019-10-31 22:57] Samirat opened #42280 "TimeSpan wrap-around error / does not throw an Overflow Exception"
This is a really easy repro:
TimeSpan.FromMinutes(TimeSpan.MaxValue.TotalMinutes)
returns
-10675199.02:48:05.4775808

Also true for seconds, hours, and days
Major problem for anyone serializing TimeSpan.MaxValue as any of these types

This occurs on .NET Core 3.0 but not 2.2.

[2019-10-31 23:22] ericstj commented on #42145
Fixed in https://github.com/dotnet/corefx/pull/42243

[2019-10-31 23:22] #42145 closed

[2019-10-31 23:27] wfurt commented on #41588
note that normally the IPv6 connect should fail fast with RST unless blocked by firewall.
That is something to try and check with Wireshark.

[2019-10-31 23:49] FeodorFitsner commented on #41932
@marklio Would be OK if I wrap a dump into zip with password, attach zip here and then send password to your email (on your GitHub profile)?

[2019-11-01 00:09] davidfowl commented on #42255
Constrain the input size to int.MaxValue for ReadOnlySequence

[2019-11-01 00:17] marklio commented on #41932
Again, it comes down to what your security and/or privacy concerns are. What matters to us is that your concerns are addressed.

We have a GDPR-compliant file attach scenario built into the problem reporter here: https://developercommunity.visualstudio.com/content/problem/post.html?space=61

You could share the dump by reporting an issue through there and then point us to the issue (or we may have

[2019-11-01 00:19] davidfowl commented on #40626
This is done now https://docs.microsoft.com/en-us/dotnet/standard/io/pipelines. If you'd like to see more please file an issue on the docs.

[2019-11-01 00:19] #40626 closed

[2019-11-01 00:30] davidfowl commented on #27185
@halter73 showed interested in doing this

[2019-11-01 00:53] Drawaes commented on #27185
I haven't back read the whole issue but.... There is never a scenario (outside cancelation/error) that if you say "I need 5k" but actually you want 3k ... In TLS due to the encrypted nature it's all or nothing.

Secondly surely if your "asked for" amount is > the backpressure threshold shouldn't you throw straight away.... As your requirement is already bigger than your backpressure anyway?

[2019-11-01 00:53] davidfowl commented on #35514
Spoke to @stephentoub and he's OK with this being part of .NET Core App. There's nothing confirmed about whether we actually use it anywhere yet though.

[2019-11-01 00:54] marklio commented on #41932
OK, I got it straightened out. Editing the comment above with good instructions.

[2019-11-01 01:17] benZhai01 commented on #42168
Any updates here? I think it's a very basic property.

[2019-11-01 02:12] stephentoub opened #42283 "Proposal: ChannelReader<T>.TryPeek"
Per comment at https://github.com/dotnet/corefx/issues/41819#issuecomment-542819724, we should consider adding:
[code]
We'd need to confirm, but I believe it should be possible to implement this on all of the built-in channel implementations.

[2019-11-01 02:34] davidfowl commented on #27185
@Drawaes the back pressure mechanic was changed completely in the last version so it's no longer a problem.

[2019-11-01 02:56] VincentBu opened #42285 "Test failed: System.Threading.Tests.ThreadingAclExtensionsTests.EventWaitHandle_Create_InvalidMode"
**Job:**
[corefx-ci #20191031.66](https://dnceng.visualstudio.com/public/_build/results?buildId=410818)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/0ae3a0ed-ee54-473f-928f-d57f7a804b47/workitems/System.Threading.AccessControl.Tests/console

**configuration:**
all Windows configurations

**Failed tests:**
System.Threading.Tests.ThreadingAclExtensionsTests.EventWaitHandle_Create_InvalidMo

[2019-11-01 03:00] danmosemsft commented on #42285
@carlossanlop

[2019-11-01 03:03] danmosemsft commented on #42285
@VincentBu can you please always include the configuration in issues like this that you open. For example "netcoreapp-Windows_NT-Debug-x64-(Windows.Nano.1809.Amd64.Open" or similar. It might be several, in this case you might say "all Windows configurations" eg

[2019-11-01 03:05] danmosemsft commented on #41587
@StephenMolloy cam likely help.

[2019-11-01 03:09] carlossanlop commented on #42285
@danmosemsft @VincentBu this test has not been merged yet, is part of a PR actively being reviewed, so I don't understand, wht was an issue opened against it?

[2019-11-01 03:14] danmosemsft commented on #42285
lol...I didn't notice that! Good question.

[2019-11-01 03:22] VincentBu commented on #42285
sorry, I am not sure if failed tests triggered by PR should be watched. Should i close it?

[2019-11-01 03:25] danmosemsft commented on #42285
@VincentBu please ignore tests triggered by CI.

[2019-11-01 03:25] #42285 closed

[2019-11-01 04:17] FeodorFitsner commented on #41932
Thanks for the instructions! We are deploying leaking code now to a controlled environment and I'll share the dump tomorrow.

[2019-11-01 05:17] andrew-boyarshin commented on #42141
@tannergooding It would be great to receive at least some initial feedback and "api-proposal" issue tag.

[2019-11-01 05:21] danmosemsft commented on #42280
I am guessing this change was caused by https://github.com/dotnet/coreclr/pull/24279
I thought this would be fixed by https://github.com/dotnet/coreclr/pull/27010 but it is not.

@tannergooding are we doing the best thing we can with the arithmetic here?

[2019-11-01 05:21] danmosemsft commented on #41380
https://github.com/dotnet/corefx/issues/42280

[2019-11-01 06:02] TimLovellSmith opened #42287 "NegoState creates an ObjectDisposedException during Close() that might never be thrown?"
Noticed this because i found a small source of lock contention in .net Framework is that SslStream.Dispose() does this upfront exception construction during .net Framework's _SslState.Close() - and then tracked down that NegoState seems to be the equivalent in corefx, and AFAiCS follows the same pattern, though the exception might not actually ever get raised. [The contention actually seems to be

[2019-11-01 06:09] judeleander commented on #38878
Currently there is no support for Ignoring Default Values while Serialization in `System.Text.Json`, which is required for ignoring default value for value types (Data type), as mentioned earlier by @karthickthangasamy  the same support is available in [Json.NET](https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_DefaultValueHandling.htm), this can be achieved by adding an API **`IgnoreDe

[2019-11-01 07:05] developervariety commented on #39260
I'm running into this issue too. Only solution for me is to use a non-async library xNet.. which fulfills my needs, but no asynchronous support which is a downfall.

[2019-11-01 07:14] khellang commented on #38641
@mfeingol What behavior? That it simply fails?

It's really easy to just add the workaround @rezabayesteh mentioned.

[2019-11-01 08:30] FinexTech commented on #41207
We dumped all sysctl parameters with 2 different versions of kernel (v3 and v5) for comparison. The main idea was that some defaults were changed in new version. An attempt to apply new values didn't give any results. Kernel v4 works the same way as v3.
All these performance spikes are somehow related to outgoing connections (we use restsharp for doing API requests).
BTW: every rest request does d

[2019-11-01 08:49] natnan commented on #37949
@danmosemsft, sorry to bring it up again but any chance this can be reconsidered? :)

From what I understand, the recommended way is to use MMI (Microsoft.Management.Infrastructure) instead of System.Management. However, MMI is barely documented (everything you google will give you WMI sample code), [barely maintained](https://github.com/PowerShell/MMI) and [does not work on Windows 7](https://git

[2019-11-01 08:54] ClimberBear commented on #39260
Same problem with net core 3.0.0.
I'm suffering same bug with a big public API server (https://publications.europa.eu/), publications office for all European Union

[2019-11-01 11:29] jsmcneal commented on #41501
Have you guys had a chance to take a look at this?

[2019-11-01 11:44] SaravananAyyanar commented on #42191
Any update regarding this??

[2019-11-01 11:56] adamsitnik commented on #41663
I agree. The problem is that `StringComparison.CurrentCulture` is our default for all string based operations. So anytime our customers call `string.IndexOf`, `string.LastIndexOf`, `string.StartsWith`, `string.EndsWith` without specifying the `StringComparison` in explicit way, they hit the "slow path". Most software engineers don't measure the performance regulary, so typically they realize that

[2019-11-01 13:35] jkotas commented on #41663
They will hit the "slow path" only if the strings do contain globalization-sensitive characters.

Part of the plan is to have a switch to use NLS. So if somebody hits a problem with ICU (whether it is functionality or performance), they can go back to the legacy NLS to workaround it.

[2019-11-01 13:37] jkotas commented on #41663
Using StringComparer.Ordinal properly is not just a performance micro optimization. It is often required for security.

[2019-11-01 14:08] zlatanov opened #42292 "Consider adding new ConfigureAwait methods with additional TimeSpan as timeout or CancellationToken parameter."
Consider introducing new awaitables (for both Tasks and ValueTasks) that can time out (throw OperationCanceledException) when awaited:

[code]

Consider the following situations:

We have an expensive task that should be executed only once, but can be observed by many. We can use TaskCompletionSource<T> for this. However there is no built in mechanism for consumers to await the result for a given

[2019-11-01 14:18] mikernet opened #42293 "Max Array Length Property/Method"
There are a lot of variables that factor into the max allowed array size (runtime implementation, 32 vs 64 bit, size of the data type, `gcAllowVeryLargeObjects` config, etc). Unless I'm missing something, there doesn't seem to be a particularly easy way to determine this at runtime for the current executing environment (please correct me if I'm wrong).

It would be rather helpful if there was a pr

[2019-11-01 14:24] jkotas commented on #42255
Is this example how you imagine writing production quality high-performance HTTP response parser, e.g. are you going to use these APIs in Kestrel if we add them?

[2019-11-01 14:27] davidfowl commented on #42255
That would be ideal if the performance drop wasn't terrible. We started to write an HTTP client for performance testing here https://github.com/sebastienros/httpsocket/blob/38f3ee6d4a357fa60fec4a8b6cf802ce7e921924/src/HttpSocket.cs#L146-L175 and it uses the above code.

[2019-11-01 14:46] jkotas commented on #42255
So what is this code fragment going to look like with this API?

[2019-11-01 14:57] davidfowl commented on #42255
I would use the ReadOnlySequence overload instead I get the data instead of ReadOnlySpan.

[2019-11-01 15:06] davidfowl commented on #42255
This isn’t the main scenario though, it’s when you have parsed some sequence of date then you need to further parse and slice to get the right section, then you want to turn it into some primitive

[2019-11-01 15:10] Samirat commented on #42280
Should probably convert it to a long before doing the comparison.

[2019-11-01 15:11] jkotas commented on #42293
Sounds reasonable to me.

[2019-11-01 15:15] tannergooding commented on #42280
I'm building to validate the logic on 3.1 (this was against 3.0 which doesn't have dotnet/coreclr#27010).

I would speculate the error is due to following change:
[code]

Which was forcing the overflow if later arithmetic might overflow.

[2019-11-01 15:25] jkotas commented on #42255
And would you still use SequenceReader? I think we have way too many of these parsing helper APIs and it is getting very difficult to figure out what is the right combination to use for any given situation.

[2019-11-01 15:27] mfeingol commented on #38641
@khellang: what I observed with a relatively vanilla ASP.NET Core project is that it serializes a `Timespan?` as a `HasValue` field, and then each of the properties of the TimeSpan struct.

I did, but that shouldn't be necessary for such a commonly used type.

[2019-11-01 15:27] eerhardt commented on #35791
Marking this as ready for review in order to move this proposal forward.

[2019-11-01 15:35] jaymins93 commented on #41520
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;
using Microsoft.EntityFrameworkCore;
using AzureDataBackUpPortal.Model;
using Microsoft.AspNetCore.Mvc.Rendering;
using JW;

namespace AzureDataBackUpPortal.Pages.Stats
{
    public class IndexModel : PageModel
    {
        pri

[2019-11-01 15:36] jaymins93 commented on #41520
`@page
@model AzureDataBackUpPortal.Pages.Stats.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    #pagingDiv a, #pagingDiv span {
        display: inline-block;
        padding: 0px 9px;
        margin-right: 4px;
        border-radius: 3px;
        border: solid 1px #c0c0c0;
        background: #e9e9e9;
        box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0

[2019-11-01 15:46] Clockwork-Muse commented on #41520
@jaymins93 - why all that code...?  It doesn't appear related

[2019-11-01 15:48] adamsitnik commented on #41663
This is true only for `en*` cultures. The "slow path" is the default for every other culture.

[2019-11-01 15:51] tannergooding commented on #42280
Ok, so this is a bug around the above logic but reverting it to the above isn't necessarily the correct fix.

The `TimeSpan.MaxValue.TotalMinutes` is `long.MaxValue` (`9223372036854775807`) ticks and `15372286728.091293` minutes.

When going through `TimeSpan.FromMinutes` the value is multiplied back by the inverse scale `TicksPerMinutes` (`600000000`). The exact result of this multiplication is `

[2019-11-01 15:52] Clockwork-Muse commented on #42293
...Out of curiosity, are we expecting the answer to be constant for the life of the program, or could the value returned decrease if multiple very large arrays are allocated?

[2019-11-01 16:08] SteveSyfuhs commented on #42078
I think you're hitting a user profile issue, which is what @davidsh is describing. Internally the private key gets shoved into an in-memory or temporary on-disk certificate store, which lives in the logged on session's user profile. AFAIK the profile isn't loaded by default for ApplicationPoolIdentity whereas Network Service already has one.

[2019-11-01 16:08] mikedn commented on #42293
Doesn't sound very useful to me:

* gcAllowVeryLargeObjects is enabled by default in .NET Core so unless this API makes it to .NET Framework (and it very likely won't) this is not a big selling point for such an API
* On 32 bit platforms the array length is severely constrained by available contiguous memory so it's not clear what value are you going to get from an API that tells you that the max

[2019-11-01 16:12] Clockwork-Muse commented on #42292
Current workaround:
[code]
The other task will be created with `TaskStatus.Created`, and if you never start it it will not complete.
If necessary, you can chain `ContinueWith` calls on the dummy task to do things like provide defaults on timeouts.

[2019-11-01 16:12] FeodorFitsner commented on #41932
@marklio I've created the report with dump attached in a "Microsoft only" comment as you suggested: https://developercommunity.visualstudio.com/content/problem/803951/systemdiagnosticsperformancecounter-leaks-memory.html

Thank you for looking into that! I'm eager to know about your findings. Maybe it's something we could/should fix on our side.

[2019-11-01 16:14] #42264 closed

[2019-11-01 16:15] #42220 closed

[2019-11-01 16:15] ericstj commented on #42220
Fixed in 3.1. Thanks for the report!

[2019-11-01 16:20] SteveSyfuhs commented on #41952
HTTP clients derive the SPN from hostname, and the Windows-ism in particular will canonicalize CName records down to the A records. So if you do `get("https://foo.bar.com/")` and `foo` is a CName `foo => www-intname-abc123-app.bar.com`, then the SPN that is looked up will be `http/www-intname-abc123-app.bar.com`. I suspect your `ourService` is just a CName in DNS. The reason this works with Kerb.n

[2019-11-01 16:22] #30865 closed

[2019-11-01 16:23] #9680 closed

[2019-11-01 16:30] tarekgh commented on #42292
@zlatanov could you please format the request as described in https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md?

[2019-11-01 16:35] tannergooding commented on #42141
I think the premise, in general, is fine. Given that it isn't trivial to compute, it might be better to have it be called `GetBitLength`

[2019-11-01 16:35] marklio commented on #41932
Great. I can see it. @buyaa-n , let me know if you have trouble seeing the dump.

[2019-11-01 16:41] buyaa-n commented on #41932
Yes I see the dump, thank you @marklio @felipepessoto!

[2019-11-01 16:42] davidfowl commented on #42255
I don't think it's complicated (having written a bunch of these parsers now). The main problem is that nothing takes a ReadOnlySequence so once you've parsed and narrowed your search, you're left with the complicated logic to materialize the bytes into something else. It's very much like trying to use `Span<T>` on .NET Standard 2.0.

e.g. https://github.com/aspnet/AspNetCore/blob/271ebe019823e8e6a

[2019-11-01 16:46] sharwell commented on #42292
Here's an example `WithTimeout` implementation:

https://github.com/microsoft/vs-threading/blob/09e774c49bc5bf56470455951d7dc3cd0c0a0920/src/Microsoft.VisualStudio.Threading/TplExtensions.cs#L63-L109

[2019-11-01 16:49] ericstj commented on #39169
This is built out of an internal repository set up by @saurabh500.  I found it here: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_git/b2175e18-4168-41d2-966f-d886ad052cb5?_a=history

I believe the 2.0 release build is here: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/results?buildId=857588

The files appear to be here: \\cpvsbuild\drops\SNI\DotNet-CoreFx-SNI\201707

[2019-11-01 16:54] grahamehorner opened #42294 "Bitmap.Save 'A generic error occurred in GDI+"
when calling bitmap.Save with a file path where the folder doesn't exist the save method throws a
System.Runtime.InteropServices.ExternalException: 'A generic error occurred in GDI+.'

IMHO the the folder should be created (to match folder file operations) or throw an expection of DirectoryNotFoundException

[2019-11-01 16:55] davidsh commented on #41952
This is a behavior that originated in .NET Framework. It was considered a bug that it didn't work the same in .NET Core. So, #40109 was part of making the fix so that the behavior matched .NET Framework.

In general, the best practice has been to define SPNs against A records.

For situations where a custom SPN needs to work against HttpClient, .NET Framework provided the [AuthenticationManager.Cu

[2019-11-01 16:59] tarekgh commented on #42292
CC @stephentoub

[2019-11-01 17:05] SteveSyfuhs commented on #41952
+1 This looks like a good way to handle this issue for apps that can't make DNS or AD changes.

[2019-11-01 17:09] ericstj commented on #39169
So I was going to help out here by indexing this, but first thought I'd double check the original issue (so I could see failure first, then fix the failure).  Turns out this is no-repro.

The following all work for me:
[code]

I was able to locate symbols for all stable versions of sni.dll on both http://symweb and https://msdl.microsoft.com/download/symbols

Closing this as no-repro.

[2019-11-01 17:09] #39169 closed

[2019-11-01 17:22] GrabYourPitchforks commented on #42255
So the code pattern is that the caller slices the input based on some delimiter (such as CRLF), then passes the sliced sequence to these parsing APIs? That is somewhat different than the behavior of the span-based APIs, which consume input until a delimiter is encountered.

[2019-11-01 17:24] andrew-boyarshin commented on #42141
Yeah, sounds reasonable. Updated API proposal:
[code]
One more concern is `int` vs `uint`. From runtime perspective it is better to use `uint` to better express the semantics and make JIT more informed. Downside of it is that unsigned integer types have very sparse API coverage in CoreFX (even arrays have only signed indexers) due to them being non CLS-compliant. Despite me wishing to make this un

[2019-11-01 17:48] tannergooding commented on #42141
The next step is marking it `api-ready-for-review` (which I'll do after giving this a period for others to comment) and then reviewing it as part of the API review backlog.

API review typically happens once per week on Tuesday between 10 and noon Seattle Time. We don't review the backlog every Tuesday as sometimes there are dedicated review sessions for other APIs (such as the ARM Hardware Intrin

[2019-11-01 17:50] scalablecory commented on #42293
What is the use case for this?

[2019-11-01 17:55] scalablecory commented on #42292
People very rarely want to cancel/timeout the await itself rather than the actual async operation --- making this ease to use *correctly* is imperative.

[2019-11-01 18:05] uncleyo commented on #42220
That was quick! Was considering to make this my own first contribution to the repo, but you've nailed it, people!

[2019-11-01 18:12] GrabYourPitchforks commented on #42251
@huoyaoyuan I already have a similar API proposal at https://github.com/dotnet/corefx/issues/42133. One of the downsides is that it might allow an explosion of APIs since there are many different combinations we'd want to allow. As a strawman, I wonder if it might be better to ship an API `Safe.Cast<T, U>(...)` which will allow the conversion only if _T_ and _U_ are primitive numeric types and hav

[2019-11-01 18:27] jkotas commented on #42293
Take a look at how we are using internal version of this in collection classes, etc.:

https://github.com/dotnet/coreclr/search?q=%22Array.MaxArrayLength%22&unscoped_q=%22Array.MaxArrayLength%22
https://github.com/dotnet/coreclr/search?q=%22Array.MaxByteArrayLength%22&unscoped_q=%22Array.MaxByteArrayLength%22

[2019-11-01 18:33] ericstj commented on #32276
Easy for Unsafe, since we still build the package in master: https://github.com/dotnet/corefx/pull/42297.

For the others this is a similar change, but in servicing.

[2019-11-01 18:41] davidfowl commented on #42255
In these particular examples that are handling streaming data it has to be done this way. Parsing partial integers would succeed so we need to get the entire "frame" first.

Yes, I guess that's why the bytesConsumed parameter exists. Generally though this approach applies here as well when using these APIs in the same way. I now see your original concern about overflow and edge cases, but that can

[2019-11-01 19:10] GrabYourPitchforks commented on #42255
So what we're really talking about is a behavioral equivalent to `int.TryParse`, not `Utf8Parser.TryParse(ROS<byte>, out int)`?

[2019-11-01 19:14] GrabYourPitchforks commented on #35877
Is @tannergooding's API proposal at https://github.com/dotnet/corefx/issues/35877#issuecomment-471004904 the thing we want to bring through review?

[2019-11-01 19:21] karelz commented on #37949
I think it comes down to **how many customers** need it (so far I have seen only couple of requests) vs. **how costly** it is to port (my assumption is that the cost is high, otherwise we would have ported it).
If we invest in the space, we should consider beefing up MMI instead of just porting WMI. MMI might have solved some of the migration problems already.

While current workarounds are not id

[2019-11-01 19:22] karelz commented on #39260
Please upvote top post if you hit this issue - "me too" replies are easy to miss and hard to count.

[2019-11-01 19:30] karelz commented on #32276
@ericstj are we ok with contribution for Unsafe in master?

[2019-11-01 19:39] karelz commented on #19630
@FaizulHussain can you please update your reply with the code (e.g. like in https://github.com/dotnet/corefx/issues/19630#issuecomment-529069574)? It will be harder to miss in future.

[2019-11-01 19:48] ericstj commented on #32276
Yeah, which is why I did it :).  Of course it won't ship until next year.  Is that what you are asking?  If so then that should be directed towards the folks who need this.  If they need it sooner we'd need to push it into servicing

[2019-11-01 19:52] davidsh commented on #42078
Since you were able to resolve your problem, we can close this issue now.

[2019-11-01 19:52] #42078 closed

[2019-11-01 19:54] TylerBrinkley commented on #32276
I have a workaround using Fody so I don't necessarily need this earlier and since I'm releasing a new major version of my library imminently I'd rather not wait nor pressure you to release within that time-frame. I can just switch over in my next major version after this one.

[2019-11-01 19:56] davidsh commented on #34033
What browser are you using? How is .NET Core involved with your browser exactly?

[2019-11-01 20:00] natnan commented on #37949
That makes sense.

I wrote something that runs `wmic` command and parsing the output. It seems to work. But hard to verify in all types of Windows deployments. Hopefully it prints in the same format all across.

Thanks.

[2019-11-01 20:10] #41706 closed

[2019-11-01 20:10] #41779 closed

[2019-11-01 20:21] #42201 closed

[2019-11-01 20:32] mikernet commented on #42293
@Clockwork-Muse My expectation is that it would be constant. It would be an "arrays up this size are possible on this runtime" number.

@mikedn Even if .NET Core has it enabled by default, there could still be differences on various 64 bit runtimes (i.e. mono, iOS/Andriod, some future .NET Standard platform, Raspberry pi, etc) or a user of our library could have very large objects disabled.

You m

[2019-11-01 21:00] danmosemsft commented on #42280
@Samirat any interest in offering a PR? We can help, if you have not worked in this repo before.

[2019-11-01 21:38] jeremybparagon opened #42299 "Conditional format specifier and negative zero"
I am looking for a way to make something like `(-0.01).ToString("0.#;-0.#")` produce `"0"`. In .NET Core 3.0, it produces `"-0"`. This makes the conditional format specifier unusable for me.

During my experimentation, I noticed that `(-0.01).ToString("p0.#;n0.#")` produces `"-p0"`. Thus, it seems that the statement "negative values are always displayed without a minus sign when section separators

[2019-11-01 21:39] jeremybparagon commented on #42299
I realized this is probably a CoreCLR issue.

[2019-11-01 21:39] #42299 closed

[2019-11-01 21:43] halter73 commented on #27185
Given the old behavior where backpressure was based on consumed bytes, this makes a lot of sense. Given the new behavior where backpressure is based on examined bytes, I think it's fair to say you are "examining" all the bytes until you get at least the number of bytes you expected.

Really this feature is just meant to be a more optimized version of the following:

[code]

[2019-11-01 21:57] karelz commented on #34033
@srdmnc see https://github.com/dotnet/corefx/issues/34033#issuecomment-519608439

[2019-11-01 22:08] davidsh commented on #34033
We definitely fixed the original issue where an `ObjectDisposedException` on SslStream was being thrown on a threadpool thread and thus crashing the process with an un-catchable exception.  That was fixed in .NET Core 3.0 as I [mentioned](https://github.com/dotnet/corefx/issues/34033#issuecomment-534282836).

However, it appears based on these reports above that there is still an `ObjectDisposedEx

[2019-11-01 22:10] danmosemsft commented on #42294
Seems reasonable - do you want to offer a PR? We would want the same behavior on Unix and Windows, but if the directory was created in the .NET code, that would hopefully be true.

[2019-11-01 22:11] Neme12 commented on #2116
@tarekgh

It seems that times have changed (looking at System.Text.Json 😄)

[2019-11-01 22:13] mikernet commented on #42293
Hmmm...how does `Span<byte>` handle large array sizes > 2B elements? The Length is an `Int32` and there is no `LongLength`.

[2019-11-01 22:13] daviburg opened #42301 "NetworkCredentials leaks password copies due to lack of disposable pattern implementation"
A class which owns a disposable resource needs to implement the disposable pattern itself. This is particularly important for SecureString which upon dispose calls Close on the internal safehandle for security reasons. NetworkCredentials class in .NET Core, and Framework for that matter, forgot to implement IDisposable, creates copies of the SecureString on each get and set call of the password ac

[2019-11-01 22:19] GrabYourPitchforks commented on #42301
Related: https://github.com/dotnet/corefx/issues/40393, which discusses why `SecureString` isn't actually a good building block for code which handles credentials.

[2019-11-01 22:19] mikernet commented on #42293
Looks like it just throws `OverflowException` 😢 Looks like half my use case might be a bit of a moot point.

[2019-11-01 22:42] daviburg commented on #40393
SecureString is not perfect. SecureString can be misused. SecureString can be misunderstood.
Deprecating SecureString is pretty much giving up on providing a solution for providing some degree of protection of secrets.

No, SecureString's value is not limited to Win32 APIs. We are working on Azure integration service and we deal with passwords, credentials and secrets all the time (we handle over

[2019-11-01 23:07] wfurt commented on #41207
Yes, it seems like in this case DNS would be useful. .NET fully depends on OS and it does not cache any answers.  In norma cases persistent connection would be maintain and lookup for each request would be avoided but it seems like this is not quite same for you. The pool would be maintained but it depends on how you structure you code and if you use same HttpClient for subsequent requests.
Also o

[2019-11-01 23:07] tarekgh commented on #42192
@tmds do you have any update?

[2019-11-01 23:14] GrabYourPitchforks commented on #40393
Nobody is telling developers to implement their own approach to encryption, and nobody is giving up on security. In fact, the proposed replacement (see https://github.com/dotnet/coreclr/issues/18386) clears out memory more aggressively and prevents secrets leakage better than `SecureString` ever did. It's a way to move the entire platform forward while leaving behind types like `SecureString` whic

[2019-11-01 23:25] Grauenwolf opened #42303 "Proposal: CancellationToken with Timeout"
When using time based cancellations, there are a few potential problems.

* Setting a timeout on a `CancellationTokenSource` requires starting a timer.
* If the `CancellationTokenSource` is disposed, the timeout will never fire and the ``CancellationToken` will not be cancelled. This isn't clear in the documentation.
* The `CancellationTokenSource` must be tracked in some way so it can be properly

[2019-11-01 23:55] tarekgh opened #42304 "Distributed Context in ASP.NET/OpenTelemetry"
This issue is tracking the work need to be done for supporting the distributed context scenarios for ASP.NET and OpenTelemetry.

Here is the scenarios we need to support:

## Distributed Context scenarios
These scenarios talking about ILogger and OpenTelemetry scenarios. OpenTelemetry has a goal to implement all these scenarios if you replace “ILogger” with “OpenTelemetry Logging API”. The goal of

[2019-11-01 23:56] #42304 closed

[2019-11-01 23:57] tarekgh opened #42305 "Distributed Context in ASP.NET and Open Telemetry"
This issue is tracking the work need to be done for supporting the distributed context scenarios for ASP.NET and OpenTelemetry.

Here is the scenarios we need to support:

## Distributed Context scenarios
These scenarios talking about ILogger and OpenTelemetry scenarios. OpenTelemetry has a goal to implement all these scenarios if you replace “ILogger” with “OpenTelemetry Logging API”. The goal of

[2019-11-02 00:00] tarekgh commented on #42303
CC @stephentoub

[2019-11-02 00:07] tarekgh opened #42307 "Make Activity and OpenTelemetry Span the same"
This issue tracking the work as the part of the issue https://github.com/dotnet/corefx/issues/42305

[2019-11-02 00:14] benaadams commented on #42303
Or bake the Timestamp into the `CancellationTokenSource` (since `CancellationToken` is just a wrapper on its pointer) and delay the Timer creation until there is a registration?

[2019-11-02 00:21] Grauenwolf commented on #42303
That sounds like a reasonable compromise.

My only objection is that it means we're still stuck with dealing with the lifetime of the CancellationTokenSource. I'd rather not use it if I don't have to.

[2019-11-02 00:25] stephentoub commented on #42303
I don't understand the proposal. How would registered callbacks work?

That is a reasonable thing to experiment with as an implementation detail. However a) it will increase the size of the CTS, b) from what I've seen it's rare to have a  CTS that's never registered with, and c) from what I've seen most CTS's are registered with soon after creation. If you can demonstrate otherwise, it's been wort

[2019-11-02 00:26] Grauenwolf commented on #42303
For those of us playing at home, what does it actually mean to "register" a CTS?

[2019-11-02 00:27] stephentoub commented on #42303
cancellationToken.Register(someDelegate)

[2019-11-02 00:32] Grauenwolf commented on #42303
Ah, I don't think I've seen ant code use that. Most of what I deal with just occasionally checks it in a loop.

Would be a safe place to hang the CTS.Dispose call?

[2019-11-02 00:35] alex-oswald commented on #42303
Does this extension solve your need?
https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AsyncGuidance.md#using-a-timeout

[2019-11-02 00:36] Tratcher commented on #41787
Progress: With #42070 we've achieved everything on the list except the automation.

We can also consider sharing additional files on a case by case basis. That work should not be tracked in this issue.

When we start on H3 we should mimic this approach but share as much as possible from the start.

[2019-11-02 00:38] Tratcher commented on #41787
Remaining open issue: How to share resource strings across assemblies? We got this working in AspNetCore but not CoreFx.

[2019-11-02 00:39] stephentoub commented on #42303
Yup, understood. But it's used in a ton of places in library code, most often in leaf nodes of a call tree where the operation transitions from managed to native. Search corefx and coreclr for Register and UnsafeRegister if you want to see some examples. For example, any operation that directly or indirectly performs asynchronous network operations will involve a registration.

[2019-11-02 03:44] Random832 opened #42309 "Equals returns true for ReflectPropertyDescriptors with different target types."
PropertyDescriptor.Equals only checks the Name and PropertyType, and ReflectPropertyDescriptor does not override. This prevents, for example, using PropertyDescriptors of different target types as dictionary keys without a custom equality comparer.

e.g.
[code]

[2019-11-02 04:03] willmotil opened #42310 "Request toString()"
**int** **float** **double** types ect.  when you call .ToString() on them in dot net all create garbage that must be collected. It's infuriating noob and been passed on by for how many years now ?.

I got around this with a wrapper that just spit out characters from the value itself by simply doing the decimal to char conversion myself. Using a ugly fat noob wrapper around StringGarbageBuilder.
T

[2019-11-02 04:45] Random832 commented on #42310
Have you looked at the TryFormat functions? It won't work with a StringBuilder, but you can write the formatted value into a char array that way.

[2019-11-02 04:52] davidfowl commented on #42255
@GrabYourPitchforks I think that would be reasonable yes. That way we can call safely delegate to the the Span overloads. I'd prefer if we kept these implementations super cheap to implement. So far we've scoped it:

-  Fully formed primitives (no partial data allowed)
- Limiting the max input size (to something reasonable to prevent abuse or weird edge cases)

Do we also need to add these overloa

[2019-11-02 04:54] davidfowl commented on #27185
Also, that will be the implementation in the PipeReader abstract base class. I'll turn this into a formal API proposal.

[2019-11-02 04:55] willmotil commented on #42310
I have not i will, however think of the children.

I have a wrapper class around StringBuilder with the string overloads, I just append values doesn't handle float double exponent characters but its good enough for my needs typically.
Since i mostly use it for any dynamic values that must be converted to strings.

[2019-11-02 05:13] danmosemsft commented on #42310
Do you mean to modify an existing string? Strings are immutable in.NET.

I agree that you likely are looking for Try Format. It accepts a Span, so it can be over any buffer (just not an existing string)
https://docs.microsoft.com/en-us/dotnet/api/system.double.tryformat?view=netcore-3.0

[2019-11-02 05:15] 47th commented on #20296
Deriving HttpTimeoutException from TaskCanceledException violates “is a” relationship between these two exceptions. It will still make calling code to think that cancellation happened, unless it specifically handles HttpTimeoutException. This is basically the same handling that we have to do at the moment when we check for cancellation token being canceled to determine whether it’s a timeout or no

[2019-11-02 05:54] shubhamranjan commented on #42193
Can I take this up as a part of https://github.com/dotnet/corefx/pull/41122 ? Or with a new PR ?

[2019-11-02 05:57] jkotas commented on #42193
New PR would be best.

[2019-11-02 06:23] GrabYourPitchforks commented on #42310
Related: https://github.com/dotnet/coreclr/issues/20253

That issue tracks the runtime identifying that an object (such as the result of `myInt.ToString()`) is short-lived, allowing the memory to be reclaimed at the end of the frame. The general idea is that things should become more efficient automatically without requiring the developer to modify existing code.

[2019-11-02 06:45] jtattermusch commented on #35404
CC @jtattermusch

[2019-11-02 07:11] Clockwork-Muse commented on #2116
With Windows now natively supporting leap seconds, and [PTP](https://en.wikipedia.org/wiki/Precision_Time_Protocol) becoming more of a thing, I've been contemplating a design that would support leap seconds from the beginning.

Not only do the current types not fully support leap seconds (because of legitimate back-compat concerns), NodaTime doesn't either, that I'm aware of.  For that matter java

[2019-11-02 11:14] beefsteak opened #42312 "Could not parse the JSON file"
1.Create new worker service project.
2.Debug is error, but run is right.
![image](https://user-images.githubusercontent.com/14013918/68070114-fe095880-fda4-11e9-96d5-53d2345a41f6.png)

[2019-11-02 12:26] kekekeke4 opened #42315 ".net core 3.0 Publish SingleFile on linux can not run"
I use vs2019 to publish singlefile on win10.  I Add 3 nodes(PublishSingleFile:true ; PublishTrimmed:true ;RuntimeIdentifier:linux-x64) to the .csproj file,then I publish and deploy the release files to the linux system(ubuntu 18.04) and run it,but tips "command not found"。

[2019-11-02 13:00] #42315 closed

[2019-11-02 13:59] AlbertoCe opened #42318 "Collectible AssemblyLoadContext unmanaged dll unload"
Hello,

when I load a plugin that uses EntityFrameworkCore (using a custom collectible AssemblyLoadContext) and try to unload it, it does not get unloaded: the IsActive property of the context's weakreference remain true even after multiple GC.Collect() and GC.WaitForPendingFinalizers().

I start to think it is related to the load and use of EF unmanaged libraries like sni.dll.

I tried to load th

[2019-11-02 14:49] mcraiha opened #42319 "Performance of BigInteger.Pow isn't optimal when exponent is NPOT"
I am trying to implement VDF (verifiable delay function) with C# and I noticed **BigInteger.Pow** has quite big performance penalty if exponent is NPOT (Non-Power-Of-Two).

and code I used for testing
[code]

[2019-11-02 15:43] jkotas commented on #40348
Failed again in https://github.com/dotnet/coreclr/pull/27632/

[2019-11-02 16:02] tannergooding commented on #42319
Powers of two are faster because it is mostly just repeated squaring of the existing value and a multiplication at the end, where-as non-powers of two requires repeated multiplication (which is more expensive).

[2019-11-02 16:32] AlbertoCe commented on #42318
This is the GCRoot dump of the LoaderAllocator instance:

0:015> !gcroot -all 0000026BD9FE3FC0
HandleTable:
    0000026BD8561320 (strong handle)
    -> 0000026BD9EE9680 System.Object[]
    -> 0000026BD9EF2948 System.Threading.Thread
    -> 0000026BD9FDF9C0 System.Threading.ExecutionContext
    -> 0000026BD9FDF9A0 System.Threading.AsyncLocalValueMap+OneElementAsyncLocalValueMap
    -> 0000026BD9FDF

[2019-11-02 16:46] electricessence commented on #32742
@stephentoub Will netstandard2.1 support be added?

[2019-11-02 19:02] GhostTyper opened #42320 "Nullable Reference Types: return MaybeNull with this modifier"
See this code snippet:

[code]

My aim was to make it clear to the code analyzer that I wanted to maybe return `null`. However I utterly failed at this, because whatever I try, the analyzer tells me (loosely translated): "possible null reference return".

I think this shouldn't happen - or what am I doin' wrong here?

[2019-11-02 19:16] rob313663 opened #42321 "Typo in comment"
corefx/src/Common/src/CoreLib/System/Tuple.cs
// In this case, the rest **memeber** has less than 8 elements so we need to combine some our elements with the elements in rest

Maybe missing an "of" before "our" also.

[2019-11-02 19:22] #42310 closed

[2019-11-02 19:25] jkotas commented on #42310
Another related issue: https://github.com/dotnet/csharplang/pull/2293

[2019-11-02 21:16] GrabYourPitchforks commented on #42321
Proposed fix in https://github.com/dotnet/coreclr/pull/27637. Thanks for the find!

[2019-11-02 21:23] davidsh opened #42323 "Http tests hanging: ProxySetViaEnvironmentVariable_DefaultProxyCredentialsUsed"
Both HttpClient and HttpWebRequest tests are hanging with similar patterns:

https://helix.dot.net/api/2019-06-17/jobs/d5c29930-eea7-42ae-89a1-259a59bb94fc/workitems/System.Net.Http.Functional.Tests/files/console.48c41834.log

https://helix.dot.net/api/2019-06-17/jobs/d5c29930-eea7-42ae-89a1-259a59bb94fc/workitems/System.Net.Requests.Tests/files/console.3091abbb.log

[2019-11-02 21:39] davidsh commented on #41901
Regarding HTTP/3 work, we are beginning early work mostly on the transport layer (QUIC). See: #42311

We have not announced any commitment regarding HTTP/3 functionality for .NET 5 RTM. But you can follow this repo to watch early progress in HTTP/3.

[2019-11-02 21:39] #41901 closed

[2019-11-02 23:37] manandre commented on #21472
I am willing to help on that topic.
I propose to split the work into multiple successive tasks:
- [ ] Implement in System.Private.CoreLib in coreclr
- [ ] Expose from System.Runtime contract in corefx
- [ ] Add tests to System.IO tests in corefx
- [ ] Use it in `HashAlgorithm.ComputeHash(Stream)`

[2019-11-03 00:24] #42321 closed

[2019-11-03 00:54] GreatFireWall commented on #21715
The answer solve a bug that I find it 2 days. Please add this to the document.

[2019-11-03 00:58] stephentoub commented on #21715
The documentation says:
https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/dataflow-task-parallel-library
"We recommend that you handle exceptions in the bodies of such blocks. However, if you are unable to do so, the block behaves as though it was canceled and does not process incoming messages."

What additional information would you like to see?  Or you just want the above to

[2019-11-03 01:05] GreatFireWall commented on #21715
I think add to the `Post` and `SendAsync` methods' remarks of each block will be better.

Because it is usually people found that they return false to realize that something is wrong, normal people will start looking the docs of  `Post` and `SendAsync`.

[2019-11-03 07:56] willmotil commented on #42310
Related: dotnet/coreclr#20253

Thank you c# jesus who ever pushed for this god bless you.

[2019-11-03 13:02] RyadaProductions opened #42334 "System.Text.Json Deserialize creates a different type than specified by the argument"
Using .NET Core 3.0 its `System.Text.Json.JsonSerializer.Deserialize<T>(string json)` results in a `InvalidCastException`. In our specific case the exception message is:
[code]
If we use Newtonsoft.Json we don't encounter this problem with the exact same DTO's and json.
The invalid cast is thrown from inside of the framework.

I have created a small reproduction project, this contains all the file

[2019-11-03 17:48] GrabYourPitchforks commented on #42255
Just to set baseline expectations, these are *not* going to be cheap to implement if you're looking for behavioral parity with existing `TryParse` methods. Any length restriction we impose would be artificial (and honestly could be done by the caller without us writing a helper method), so the likely result is that we'll end up duplicating the existing parsing logic into these methods.

[2019-11-03 18:06] davidfowl commented on #42255
OK, well that's unfortunate but I don't really have any push back. The only unfortunate thing here basically leads back to what @scalablecory mentioned. There's no way to have an efficient byte enumerator that would be more efficient with span and less efficient with ReadOnlySequence/SequenceReader. That might be worth looking into if we end up needing to duplicate all of these methods.

@AndyAyer

[2019-11-03 18:07] davidsh opened #42339 "Some networking tests failing in Outerloop on Windows 7"
A few SslStream and WebSocket tests are always failing on Windows 7 with the same SocketException due to a likely RST being sent/received with the remote server.

      System.IO.IOException : Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host..
      ---- System.Net.Sockets.SocketException : An existing connection was forcibly closed b

[2019-11-03 18:50] davidsh commented on #42339
HttpListener test also failed on latest Windows 7 run with a crash dump

----- end Sun 11/03/2019 17:58:22.21 ----- exit code -1073740940 ----------------------------------------------------------
 Sun 11/03/2019-17:58:22.21
 Sun 11/03/2019-17:58:22.49
2019-11-03 17:58:22,840: INFO: 1776: run(82): main: Main thread starting 10 workers
Worker 0: starting...
Worker 1: starting...
Worker 2: starting.

[2019-11-03 18:51] GrabYourPitchforks commented on #42255
Agree - having something like the ref interface proposal would definitely help here. Then we could potentially reuse the same logic for Span and ReadOnlySequence and rely on generic specialization to make things more efficient.

[2019-11-03 20:44] echesakovMSFT commented on #26182
Closed in https://github.com/dotnet/coreclr/pull/27568

[2019-11-03 20:44] #26182 closed

[2019-11-03 21:30] karlra opened #42341 "TransactionScope memory usage grows endlessly"
I noticed when doing some performance testing of my code that my usage of TransactionsScope resulted in huge memory usage that just grew, never shrank, even after GC. At first I thought it was the SqlClient but in the end I boiled it down to the TransactionsScope class and the TransactionScopeAsyncFlowOption.Enabled option which is used to support async/await with TransactionScope. I use this opti

[2019-11-03 21:33] karlra commented on #42341
I'm having this issue on .net core 2.1 on Windows, but I tried it with .net core 3.0 and it happens there as well.

[2019-11-03 21:36] karlra commented on #42341
Also, running it for a while and then attempting to take a memory snapshot in the debugger crashes the debugger. If you do it very quickly instead, you get a snapshot but the memory usage of the shown object doesn't add up to anything close to what is reported in the graph.

[2019-11-03 21:56] scalablecory commented on #42255
@davidfowl @GrabYourPitchforks C++ enables you to do this with templates and iterators and I've employed it very successfully in the past for high-perf parsing. I'd love it we could get better parity there.

When I tried to do this myself in C# I hit two roadblock features I needed:

- enable `ref struct` to implement interfaces.
- add a `ref struct` generic constraint that enforces "you must use

[2019-11-03 22:00] jkotas commented on #42255
I agree ref interfaces or ref constrains would be useful.

I have doubts whether the specific helper methods discussed here are useful enough to be in the core framework. I believe that there are two mainstream categories of parsers to worry about:
- High-performance production-grade parsers always work against buffers for number of difference reasons: look ahead, context to give good error messag

[2019-11-03 23:04] davidfowl commented on #42255
@jkotas I agree that `ReadOnlySequence<T>` isn't performant for parsing. It's job was to be an representation of a single or multi-segment buffer that would be as efficient as possible while in a single buffer, but pay the cost when you needed to span buffers. While that came with some tradeoffs, we have this type in the BCL now and I'd like more ways to interact with them in the BCL natively with

[2019-11-03 23:11] davidfowl commented on #42255
@GrabYourPitchforks prior ART https://github.com/dotnet/corefxlab/blob/94248fb2ea9881936d6338b0d2d62ca8c79cbd79/src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader_text.cs#L15

We'll see if anybody complains 😄

[2019-11-03 23:21] jkotas commented on #42255
It is not just about performance. It is also about usability. What would help to convince me if you show me a delta how these methods will be used in Utf8JsonReader, Kestrel (or some other production grade parser). The motivating example was from a test code and it was not very convincing.

We should focus on designing scenario: Parsing data coming from ReadOnlySequence. We have a SequenceReader f

[2019-11-03 23:31] cston commented on #42083
It looks like the behavior changed as a result of https://github.com/dotnet/corefx/pull/28664 where the dynamic binder is reused in more cases.

In your repro, `BindGetMember()` is returning a `DynamicMetaObject` representing a `ConstantExpression`. Given that, should the `BindingRestrictions` limit the reuse to the specific receiver instance?

For instance, using `BindingRestrictions.GetInstanceR

[2019-11-04 00:36] davidfowl commented on #42255
The general pattern for using SequenceReader is to the methods to narrow down a Span or Sequence of content to further parse. We have many examples of production parsers already described in this thread.

Kestrel's header parser https://github.com/aspnet/AspNetCore/blob/dba39d60c89b743d45411ba6bc6b02b5a8019032/src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs#L180 (ignore the pointers, thos

[2019-11-04 01:16] davidsh opened #42344 "FileSystemWatcher tests on MacOS constantly fail on Outerloop CI run"
https://dev.azure.com/dnceng/public/_build/results?buildId=414240&view=ms.vss-test-web.build-test-results-tab

![image](https://user-images.githubusercontent.com/7684835/68095358-a11da900-fe5d-11e9-8e9a-1ae9f4b1ba03.png)

[2019-11-04 01:17] davidsh commented on #42344
I plan to disable these tests so that we can have GREEN for CI in Outerloop

[2019-11-04 01:28] VSadov commented on #42083
Yes, A restriction like `BindingRestrictions.GetExpressionRestriction(Expression.Constant(true))` makes the binding applicable to more cases than you probably want.

[2019-11-04 01:28] davidsh commented on #42168
Unlike .NET Framework, .NET Core does not have any caching features for HTTP.  It does not support .NET Framework related [System.Net.Cache](https://docs.microsoft.com/en-us/dotnet/api/system.net.cache?view=netframework-4.8) features.

There are really 2 parts to the caching logic.

1. HTTP request headers that get sent out when HttpWebRequest.CachePolicy is set.
2. HTTP response processing for ei

[2019-11-04 01:38] benZhai01 commented on #42168
@davidsh Thanks for detail explanation.
I think (1) is enough on my side.
BTW, can this fixing be included in .netcore 3.1 release? It's really a annoying issue for me.

[2019-11-04 01:39] scalablecory commented on #42341
Confirmed. Thanks for the simple repo!

[2019-11-04 01:42] davidsh commented on #42168
The change has to be made to the 'master' branch first which is targeting .NET 5. After that, the change can be considered for .NET Core 3.1.

We're getting close to .NET Core 3.1 RTM, so, it's possible it won't make that release. But it could be considered for a servicing release to .NET Core 3.1, i.e. .NET Core 3.1.1, 3.1.2, etc.

[2019-11-04 01:48] benZhai01 commented on #42168
@davidsh that's great, thank you.

[2019-11-04 02:08] CwjXFH opened #42345 "Questions about the *.Fast.cs files"
Hi,
I noticed some .Fast.cs files were removed(or consolidate) from source files in master branch commit 'ba25a05f32b3cd0503b1a306f6e769b427456bd0'.
Like Span.Fast.cs. Removed Span.Fast.cs file and removed the partial keyword from Span.cs.

+ Why not code in the same file?
+ What's the purpose of these *.Fast.cs files?

![removed *.fast.cs files](https://user-images.githubusercontent.com/11468733/

[2019-11-04 02:17] GrabYourPitchforks commented on #42345
Earlier versions of packages like __System.Memory__ were built both for .NET Core and for .NET Full Framework. Depending on which target runtime you were compiling the `Span<T>` type for, you'd bring in both _Span.cs_ and _Span.Fast.cs_ (if you were compiling for .NET Core) or both _Span.cs_ and _Span.Portable.cs_ (if you were compiling for .NET Framework).

Check out the __System.Memory.csproj__

[2019-11-04 02:18] #42345 closed

[2019-11-04 02:25] danmosemsft commented on #42344
https://github.com/dotnet/corefx/pull/40543

[2019-11-04 02:45] davidsh commented on #42344
@wfurt

#40543 didn't fix everything. And these specific tests are always failing Outerloop MacOS CI run making outerloop red and not green. So I will disable these tests against this issue.

[2019-11-04 02:59] #42136 closed

[2019-11-04 03:52] #23449 closed

[2019-11-04 03:54] stephentoub commented on #36086
Reopening for https://github.com/dotnet/corefx/issues/36086#issuecomment-545081264

[2019-11-04 04:11] reflectronic commented on #40962
Shouldn't the parameter names be `span` and `sequence` for methods with either overload? Existing methods that provide both that follow that pattern, and it is useful for writing code like `reader.TryReadTo(span: out var span, '\n')`.

[2019-11-04 04:17] reflectronic opened #42347 "Proposal: SequenceReader<T>.ReadAny"
### Rationale

Today with `SequenceReader<T>` you can keep reading until you find a certain delimiter. However, I find that often I want to read until I *no longer find* certain characters.

For example, if I am implementing a parser and I am parsing out a number, I would like to keep reading until the next character is no longer one of `0123456789.` There is currently no such functionality to do

[2019-11-04 04:44] reflectronic commented on #40739
An analyzer that warns when PLINQ would [choose sequential mode](https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/understanding-speedup-in-plinq#when-plinq-chooses-sequential-mode) on a query would be useful.

[2019-11-04 05:25] scalablecory commented on #42312
what does your json file look like?

[2019-11-04 05:28] wfurt commented on #42344
#40543  only touched Linux implementation. #41963  may help. I was planning to look at them but I got distracted with 3.1 investigation.

[2019-11-04 05:36] rolandoldengarm commented on #40850
For anyone who has the same issue running Docker builds on Azure Hosted Linux agents, switching to Ubuntu 16.04 fixes the issue.
ubuntu:latest has this issue in our case since today.

[2019-11-04 06:32] Gnbrkm41 opened #42348 "Reasons behind having duplicate type for S.R.CS.Unsafe and Internals.R.CS.Unsafe"
All the members are identical, but it seems weird to have two separate types that have all the same members; is there a reason behind that? It doesn't feel quite right, and would be nice if it could be merged into S.R.CS one.

[2019-11-04 07:42] DenisSemionov commented on #38650
@sfadeev, This works exactly as needed, much appreciate for provided example!

[2019-11-04 09:16] lostmsu opened #42349 "Uri.EscapeUriString should be deprecated"
Please, see the relevant [StackOveflow thread](https://stackoverflow.com/questions/4396598/whats-the-difference-between-escapeuristring-and-escapedatastring/34189188#34189188).

From my understanding of the issue, there is no valid and/or safe use case for `EscapeUriString`. Either one wants to escape a URI component, in which case they should call `EscapeDataString`, or they construct URI incorre

[2019-11-04 09:27] AriNuer opened #42350 "System.Text.Json.Tests Timed out with Exit Code:-3"
**Build:**
[20191103.46](https://dnceng.visualstudio.com/public/_build/results?buildId=414378)(Master)

**Details:**
https://helix.dot.net/api/2019-06-17/jobs/c5186878-c214-4c57-b446-c4666979f3b3/workitems/System.Text.Json.Tests/console

**OS & Arch:**
Linux arm

**Queue name:**
netcoreapp-Linux-Release-arm-(Debian.9.Arm32.Open)Ubuntu.1604.Arm32.Open

**Log:**
[code]

[2019-11-04 11:15] stephentoub commented on #42350
The tests finished successfully:
[code]
Seems like an infrastructure issue.
@dotnet/dnceng

[2019-11-04 11:25] aik-jahoda commented on #42344
#41963 doesn't fix this outer loop test

[2019-11-04 11:41] KalleOlaviNiemitalo opened #42352 "OverflowException in ActivityTracker.ActivityInfo.AddIdToGuid"
I got an OverflowException from the `Microsoft.Diagnostics.Tracing.ActivityTracker.ActivityInfo.AddIdToGuid(Guid* outPtr, int whereToAddId, uint id, bool overflow)` method in the [Microsoft.Diagnostics.Tracing.EventSource.Redist 2.1.0 NuGet package](https://www.nuget.org/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist/2.1.0), in a program targeting .NET Framework 4.6.1 and running on .NE

[2019-11-04 11:53] lukas-lansky commented on #42350
@stephentoub Thanks, we are looking into this.

[2019-11-04 12:00] KalleOlaviNiemitalo commented on #42352
To reproduce:

1. Expand [EventSourceRepro.zip](https://github.com/dotnet/corefx/files/3803852/EventSourceRepro.zip).
2. Build the repro program.
3. Start PerfView collecting from providers `*DemoEventSource,*Microsoft.Tasks.Nuget`.
4. Run the repro program in the Visual Studio debugger.
5. It throws System.OverflowException when `i == 165`.

[code]

[2019-11-04 12:09] KalleOlaviNiemitalo commented on #42352
The corresponding method in "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\mscorlib.dll" of .NET Framework 4.8 does not include the overflow checks.

[2019-11-04 12:16] KalleOlaviNiemitalo commented on #42352
I guess the overflow checks were enabled for the NuGet package here: <https://github.com/dotnet/corefx/blob/4ac4c0367003fe3973a3648eb0715ddb0e3bbcea/src/Microsoft.Diagnostics.Tracing.EventSource.Redist/src/Microsoft.Diagnostics.Tracing.EventSource.Redist.csproj#L12>

They are still present in the newest preview version, microsoft.diagnostics.tracing.eventsource.redist.2.2.0-preview2.19523.17.nupkg

[2019-11-04 13:09] tmds commented on #42192
<details>

/usr/share/zoneinfo/Africa/Casablanca  -9223372036854775808 = NULL
/usr/share/zoneinfo/Africa/Casablanca  -9223372036854689408 = NULL
/usr/share/zoneinfo/Africa/Casablanca  Sun Oct 26 00:30:19 1913 UT = Sat Oct 25 23:59:59 1913 LMT isdst=0 gmtoff=-1820
/usr/share/zoneinfo/Africa/Casablanca  Sun Oct 26 00:30:20 1913 UT = Sun Oct 26 00:30:20 1913 +00 isdst=0 gmtoff=0
/usr/share/zoneinfo/A

[2019-11-04 13:16] lukas-lansky commented on #42350
So, from what I understand, every second attempt to run "Linux Build arm_Release" results in timeout as after 5 minute run of the tests + 10 minutes long upload of the result to AzDO overflows the 15 minute timeout you have configured for everything that isn't arm64.

I would propose to add arm together with arm64 in the following config of yours

[code]

as a quick fix to unblock you? For a prope

[2019-11-04 14:06] davidsh commented on #42344
Thanks! I understand those fixes probably didn't help with this issue. But it's important that we get test failures either fixed or tests disabled so that CI gets to GREEN.

That's why I disabled the tests now. Then later, when someone has the time, they can investigate the failures. But at least CI will be improved for the team since people have to always spend time chasing after RED failures.

[2019-11-04 14:26] asmichi commented on #42136
Awesome, thank you! I'm really glad this got into 3.1.

[2019-11-04 15:09] zgabi opened #42357 "Type object in assembly loaded with Assembly.LoadFile is different from the same type which is directly referenced"
Hi,

I have a problem with migrating our application to .net core 3.0.

I've created a small example which shows the same problem as I have in my application:

ClassLibrary1, netstandard2.0 has the following class:
[code]

ConsoleApp1 has a reference to ClassLibrary1, netcoreapp3.0
[code]

When the ConsoleApp1 targets .NET 4.7.2 the value of the `ok` variable is `true`. In .NET Core 3.0 it is `fal

[2019-11-04 15:22] #32611 closed

[2019-11-04 15:58] SamuelEnglard commented on #38555
Anything more concrete than future? Trying to decide on library usage

[2019-11-04 16:07] #41080 closed

[2019-11-04 16:07] #41465 closed

[2019-11-04 16:08] StephenLarkin opened #42369 "System.IO.Path.Combine seems to work differently from .NET framework"
# General

Tested on .NET Core v2.1, 2.2, 3.0:

[code]

In .NET Framework this throws an Argument Exception as documented:

[code]

In .NET Core it returns the string with the newline character.

[2019-11-04 16:11] scalablecory commented on #42275
Or a stack trace? It's not super clear from your description what is happening. Are you getting a `TimeoutException`, or a `SocketException` (10060)?

[2019-11-04 16:15] lukas-lansky commented on #42350
According https://dnceng.visualstudio.com/public/_build/results?buildId=414716 it seems the change didn't help. @MattGal can you help here, please?

[2019-11-04 16:44] MattGal commented on #42350
@lukas-lansky you just haven't successfully increased the timeout;  likely some esoteric msbuild property issue or just setting the wrong one.

https://helix.dot.net/api/2019-06-17/jobs/526021f2-c080-4761-baf0-8670680174f8/workitems/System.Text.Json.Tests/console shows 900s timeout still.

[2019-11-04 16:48] jkotas commented on #42255
Agree.

Yes, that is the way to implement high-performance production-grade parsers. I do not think any amount of helper APIs is going to change that.

Yes, I think APIs along these lines are the most powerful building blocks for lower-performance handrolled parsers that just need to get the job done.

For example, I think it would be useful to have `ReadLine` API for `SequenceReader<byte/char>` t

[2019-11-04 16:55] jjxtra commented on #39828
Seeing this in latest .NET core 3 SDK, does anyone have a work-around?

[2019-11-04 16:55] jkotas commented on #42348
Internal.S.R.CS.Unsafe has a subset of methods for internal consumption by S.P.CoreLib. It is implement by complex IL patching - since it is not possible to write IL in CoreLib directly.

S.R.CS.Unsafe has all methods, it is implemented directly in IL and it ships as separate NuGet package.

If we merged these two, we would:
- We would need to use the complex IL patching (or some alternative) to i

[2019-11-04 16:56] #41879 closed

[2019-11-04 17:07] Gnbrkm41 commented on #42348
I see. Thanks for the clarification!

[2019-11-04 17:07] #42348 closed

[2019-11-04 17:11] jaredpar commented on #42255
In terms of language design ref interfaces / constraint is a fairly straight forward extension of our existing work. The ref constraint in particular was discussed at the time of ref struct and the behavior is mostly understood.

The tricky part is, as per usual, all features start at -100 so need to justify the cost is worth it. :smile:

I have a doc I'm already working on for improvements to ref

[2019-11-04 17:18] AArnott opened #42366 "Named pipes hang when written asynchronously w/o async flag"
When creating named pipes on .NET or .NET Core, unless I use `PipeOptions.Asynchronous`, async I/O operations done later end up hanging the I/O operations. Even if I pass in a `CancellationToken`, these async I/O methods do not cancel when demanded.

IMO the async flag should be simply an optimization -- not something that if set incorrectly causes a hang.
But even if a hang is acceptable, surely

[2019-11-04 17:20] stijnherreman commented on #12034
@terrajobst is it correct to say that the way forward is to depend on NTS in applications (as per https://docs.microsoft.com/en-us/ef/core/modeling/spatial) and to consider `Microsoft.SqlServer.Types` as an implementation detail and/or legacy component of SQL Server?

[2019-11-04 17:22] Tratcher commented on #39828
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2019-11-04 17:39] tarekgh commented on #42192
@tmds the data looks good there.

could you please try to run the test manually on that machine and look if it fail? otherwise we'll need to try to get a local repro to investigate.