[2017-04-28 17:40] stephentoub commented on #13169
(Though it appears https://github.com/dotnet/corefx/pull/17444 changed this behavior... my tests above were on .NET Core 1.1.... checking on .NET Core 2.0...)

[2017-04-28 17:43] steveharter commented on #13349
I have not been able to repro any failures outside of OSX; I did not try to repro on OSX.

The test is currently disabled only for OSX, so we can move this to future (not Close)

[2017-04-28 17:53] davidsh commented on #18905
I thought choice 2 was keep it as-is (PNSE) for 2.0 but fix it in Future.  I thought choice 3 was fix it now for 2.0. I never thought choice 2 was close it and wait for customer feedback. But if that is choice 2 then ok.

[2017-04-28 17:55] stephentoub commented on #13169
Now as of #17444, on .NET Core on both Windows and Unix, `t1` ends as Canceled and `t2` ends with an InvalidOperationException.  So they're consistent with each other, but not with desktop.  But, @davidsh, from your comments in https://github.com/dotnet/corefx/issues/5200#issuecomment-288525147, it sounds like this is the desired behavior and this issue can just be closed?

[2017-04-28 17:55] #18975 closed

[2017-04-28 17:57] karelz commented on #18905
I think that we should either fix it now (3 - if we believe it is important), or punt it (2 - due to no usage and warnings on MSDN) until we get evidence that it is used regardless the warnings and blocks adoption of .NET Core - if that happens, we can switch back to option (3), but it will be reactive, not proactive (i.e. moved to Future).

[2017-04-28 18:01] davidsh commented on #13169
Does "it" means that "An OperationCanceledException" is thrown if the async I/O is canceled via an explicit request, i.e. cancellationtoken being set or via timer".

If so, then yes, that is the desired behavior which matches the .NET guidelines for async best-practices

[2017-04-28 18:01] danmosemsft opened #19110 "GetFolderPath_Windows tests ~all fail on Nano"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170428.02/workItem/System.Runtime.Extensions.Tests

eg
[code]
need fixing.

[2017-04-28 18:03] stephentoub commented on #13169
That's not exactly the situation here.  The situation here isn't an explicit request to cancel or timeout: it's using the API incorrectly, issuing a second ReceiveAsync when there's already one pending, in which case the first one is completing as canceled.

[2017-04-28 18:08] davidsh commented on #13169
I think that is still ok given the idea that an action was taken to cause a pending operation to cancel.  Folks like @terrajobst are other folks that could comment on the "correctness" of the exception being thrown.

[2017-04-28 18:10] stephentoub commented on #13169
Ok.  I'll consider the updated behavior by-design then and this issue is now addressed as the behavior is consistent between Windows and Unix.

[2017-04-28 18:10] #13169 closed

[2017-04-28 18:17] mellinoe commented on #19086
We should fix this, but we don't need to do it for 2.0. It doesn't cause actual failures, just crappy output in the tests, and some projects won't have dumpling active if it happens. It's crappy, but not critical, IMO. It is essentially this: https://github.com/dotnet/buildtools/issues/1360.

[2017-04-28 18:21] gkhanna79 commented on #18877
PR with fix is out.

[2017-04-28 18:26] gkhanna79 commented on #19104
@kouvel Can you PTAL?

[2017-04-28 18:28] danmosemsft commented on #19110
What we return is apparenlty not matching what SHGetFolderPathW returns on Nano

[2017-04-28 18:39] mellinoe commented on #19036
This is fixed now (https://github.com/dotnet/corefx/pull/19066).

[2017-04-28 18:39] #19036 closed

[2017-04-28 18:39] stephentoub commented on #19098
@davidsh, is it by-design on .NET Core on Windows that such redirections result in the request failing with an OperationCanceledException (that's then wrapped in an HttpRequestException) rather than just not doing the redirect?

[2017-04-28 18:42] #9006 closed

[2017-04-28 18:42] #16259 closed

[2017-04-28 18:42] danmosemsft commented on #18463
@mellinoe this test runs with several other test data ,we don't need it to run in the functional run with 10000000 specifically. Is there an "if" check we can do to disable the test from Helix in functional runs?

This assumes htis isn't something that's hitting actual perf runs. Maybe it is.

[2017-04-28 18:44] shmao commented on #18964
The root cause of the issue is explained by https://github.com/dotnet/corefx/pull/18743#issuecomment-296306832.

It seem to me that we need to make changes on full framework to fix the issue. Is there anything we can do to address the issue in NetCore?

@weshaggard @zhenlan

[2017-04-28 18:48] danmosemsft commented on #18970
already fixed by 7b407e7

[2017-04-28 18:48] #18970 closed

[2017-04-28 18:49] danmosemsft commented on #18898
Setting to 2.0 for visibility of this PNSE.

[2017-04-28 18:49] danmosemsft commented on #18892
Setting to 2.0 for visibility of these PNSE

[2017-04-28 18:50] davidsh commented on #19098
My answer to this question would be to first ask what is the behavior on .NET Framework (Desktop). But I believe the answer is that on .NET Framework HTTPS -> HTTP was allowed. We choise to use a more secure default for HttpClientHandler.

The question, then, is what is a better design choice.  An error or simply to ignore the redirection. We went with an error which is what happens internally wit

[2017-04-28 18:51] bartonjs commented on #18892
@akoeplinger Is CryptoConfig still readonly in Xamarin, or did you start accepting mutation with netstandard20 alignment?

[2017-04-28 18:51] danmosemsft commented on #18666
@jcouv do you need this for the 2.0 release and it will be done by 5/10? If so please set milestone=2.0.  If not please set milestone=future.

[2017-04-28 18:52] danmosemsft commented on #18931
Issue moved to [dotnet/coreclr #11298](https://github.com/dotnet/coreclr/issues/11298) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 18:52] #18931 closed

[2017-04-28 18:55] mellinoe commented on #18463
I don't think it would hit the real perf runs. It looks like it's only happening because of the lower open-file-limit on macOS. I think I'm just going to disable these tests on macOS.

[2017-04-28 19:02] akoeplinger commented on #18892
@bartonjs there was no change in that regard, it still throws PNSE on AOT platforms (Xamarin.iOS).
I think it accepts mutation on JIT platforms (Xamarin.Android) though.

[2017-04-28 19:03] weshaggard commented on #18580
Testing this locally it isn't msbuild that is the problem it is run.exe. It appears as though msbuild is returning the correct exit code but run.exe which is a wrapper is not.

@stephentoub I know you fixed https://github.com/dotnet/corefx/pull/7676 (which I verified via ilasm is present in the process library we are running on) are you aware of any other issues with ExitCode always returning 0 fr

[2017-04-28 19:04] ericstj commented on #14595
Closing in favor of https://github.com/dotnet/core-setup/issues/1550 since we only need one issue tracking this and the work is happening in core-setup.

[2017-04-28 19:04] #14595 closed

[2017-04-28 19:09] steveharter commented on #18869
Since this failed in CI, moving this from Future to 2.0 until we can triage it

[2017-04-28 19:11] davidsh commented on #18869
Removing milestone until we triage it.

[2017-04-28 19:21] ianhays commented on #18909
This failure doesn't have much to do with the actual test. The initialization of the client-server AnonymousPipe pair failed before we had a change to test the Write operation. I haven't seen this happen elsewhere, so I'm closing this. Also, there's not much we can do about the pipe failing to be created... maybe add some logging or retries which I'd *really* prefer to not do. I'll keep an eye out

[2017-04-28 19:21] #18909 closed

[2017-04-28 19:23] #19076 closed

[2017-04-28 19:23] #19093 closed

[2017-04-28 19:26] steveharter commented on #17537
The above repro on 'core tests' is on Win7 and the same TimoutException. This test is windows-only and only appears to affect Win7 (2008)

[2017-04-28 19:34] saurabh500 opened #19115 "Error while building CoreFx on Windows"
I am trying to build CoreFx on Windows. I have synced the latest code and using build.cmd from the root of the repository.

However the build fails with
`Unhandled Exception: System.TypeLoadException: Could not load type 'System.Object' from assembly 'System.Runtime, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.`

I have cleaned the clone using `git clean -d -f -x `
I get the

[2017-04-28 19:39] saurabh500 commented on #19115
@mellinoe Do you have any pointers for this issue?

[2017-04-28 19:40] steveharter commented on #17537
This test does use a certificate, so tracking https://github.com/dotnet/corefx/issues/16516 as possibly related as they both use Configuration.Certificates.GetServerCertificate()

[2017-04-28 19:42] karelz commented on #17619
Another update on remaining issues: https://twitter.com/ziki_cz/status/858042980673957889 (as of couple of hours ago)

Huge progress in both fixes and triage!

Note that we have new Post-ZBB label to mark issues which are important for 2.0, but don't affect product source code (e.g. documentation bugs, infrastructure issues), so they will be exempt from ZBB rule (so far only 9 across all 4 repos).

[2017-04-28 19:47] steveharter commented on #16584
Note this is marked as a dupe of #13349 but may have other root cause as the exceptions are different (ObjectDisposedException vs. SocketException). Unable to repro on offline Unix and Windows CI machines running repeatedly. Keeping closed until we have another occurrence.

[2017-04-28 19:47] stephentoub commented on #18580
I'm not aware of any issues.  Any chance you have a standalone repro?

[2017-04-28 19:52] stephentoub commented on #19098
We currently have three different behaviors:
- Desktop allows the https->http redirect.
- .NET Core on Unix doesn't redirect and ends with the 302.
- .NET Core on Windows fails with an exception.

To me the behavior of not doing the redirect makes more sense.  But regardless we have a choice:
- Keep the inconsistency across all three
- Make .NET Core on Windows not error out
- Make .NET Core on Un

[2017-04-28 20:06] davidsh commented on #19098
This will be difficult because you can't change WinHTTP auto-redirect behavior like that. So, we would end up having to turn off WinHTTP auto-redirect and try to "do it ourselves" in the handler by parsing the 3xx response, follow the Location: url response header and then create a new http request (internally) and submit the new one etc. Lots of code and would be messy.

We could decide to do thi

[2017-04-28 20:08] weshaggard commented on #18580
I don't have a standalone repo but if you have a linux box you can pull down https://github.com/weshaggard/corefx/tree/RunExitCodeRepo and run build.sh to see the issue.

[2017-04-28 20:09] stephentoub commented on #19098
Same is true in reverse on Unix.  We would likely need to implement redirects in the handler rather than relying on libcurl's implementation.

[2017-04-28 20:15] steveharter commented on #16602
Note offline CI machines do hang very rarely hang when running repeatedly; I will update here with the tests that were running at the time of the hang when I have that information.

[2017-04-28 20:17] davidsh commented on #19077
The issues you have above are related to new work (more APIs available) in .NET Core 2.0.  The APIs you're trying to use aren't available except in the .NET Core 2.0 release.

If you need your code above to work for .NET Core 1.0 or 1.1, you'll need to modify it to use only those APIs available in those releases.  Otherwise, please try out the .NET Core 2.0 builds from the daily build feed or wait

[2017-04-28 20:18] davidsh commented on #19077
If you have a bug after changing your code to use just .NET Core 1.0/1.1 APIs, please open up a new issue and attach your repro code, preferably as a complete Visual Studio solution.  Thanks!

[2017-04-28 20:18] #19077 closed

[2017-04-28 20:25] huanwu opened #19116 "Support IObjectReference in DCS"

[2017-04-28 20:36] stephentoub commented on #18580
I get:
[code]

[2017-04-28 20:49] stephentoub opened #19119 "Scale back [Serializable] for .NET Core 2.0"
We brought [Serializable] and BinaryFormatter back for .NET Core 2.0 in the name of compat and helping code to migrate to core.  But it comes with some serious implications, and it's becoming clear we took things too far.  Doing this makes it very easy for code to take dependencies on private implementation details and will end up binding our hands for improvements/optimizations/refactorings/etc.

[2017-04-28 20:51] stephentoub commented on #19119
cc: @danmosemsft, @jkotas, @Zhenlan, @KrzysztofCwalina, @kieranmo, @Petermarcu, @terrajobst, @billwert

[2017-04-28 20:54] hongdai commented on #12618
@karelz  I should be able to do it next Monday - waiting for server merges to happen in our branch.

[2017-04-28 20:54] morganbr commented on #19119
@stephentoub , I'm starting work on a tool to remove SerializableAttributes, stub out ISerializable implementations, and remove OnSerializing et al methods from whatever types we decide not to make serializable. Of course, I won't send out a PR until we get the final set of types.

[2017-04-28 20:59] #18147 closed

[2017-04-28 21:01] ViktorHofer commented on #18482
@hughbe so you are taking that one? 👍

[2017-04-28 21:11] AlekseyMartynov commented on #7812
Seen this exception today in AppVeyor build logs: https://ci.appveyor.com/project/AlekseyMartynov/cc/build/8#L66

[2017-04-28 21:19] danmosemsft commented on #19119
This would mean we would have to take care with our ISerializable implementations to match the names used by desktop ISerializable impoelmentations (or desktop types' private fields if they use reflection). Also desktop needs to be tolerant of extra fields we may at some point want to serialize in there. Are either of those a concern?

This plan will make it feasible to support cross-version on th

[2017-04-28 21:28] stephentoub commented on #19119
Correct

Hopefully this will rarely be an issue.  But in situations where core needed to add additional state that needed to be serialized, yes, we'd have to factor that in.

[2017-04-28 21:31] smile21prc commented on #15280
Re-implementing the old Nano CI isn't the correct way to fix the broken Nano CI builds because that approach is a bit of a hack.

@mmitche is working on the portable build + Helix in CI (dotnet/core-eng#643), which will fix Nano CI builds correctly once complete. As a result, this task doesn’t need to be tracked as a separate issue any more, as there won’t be additional Nano-specific work after hi

[2017-04-28 21:32] stephentoub commented on #18780
Closing in favor of #19119

[2017-04-28 21:32] #18780 closed

[2017-04-28 21:33] #15280 closed

[2017-04-28 21:36] stephentoub commented on #19098
@danmosemsft, @karelz, @bartonjs, do you have an opinion on .NET Core's blocking of https->http redirects whereas they're allowed on desktop?

[2017-04-28 21:40] jkotas commented on #19119
I assume that we are also going to add TypeForwardedFromAttribute to point to the original desktop homes for these types.

[2017-04-28 21:42] stephentoub commented on #19119
Presumably we'll have to in order to try to support the cross-runtime serialization.

[2017-04-28 21:45] morganbr commented on #19119
Would we also have to add TypeForwardedFrom attributes to desktop to handle types serialized by Core?

[2017-04-28 21:49] danmosemsft commented on #19098
Sounds like a case where we're becoming more secure by default, which can be a good reason to make a breaking change. But ideally we'd have a flag code could set to get desktop behavior. It sounds like that would be messy, but presumably it's better we handle that mess than the library.

[2017-04-28 21:54] #18993 closed

[2017-04-28 21:58] weshaggard commented on #19119
While we are looking into this can I get you guys to take a look at https://github.com/dotnet/standard/issues/300 as well and help decide if OnDeserializedAttribute, OnSerializingAttribute, OnSerializedAttribute, and OnDeserializingAttribute should be removed from netstandard?

[2017-04-28 22:02] stephentoub commented on #19119
You mean whether the attributes themselves should be removed, or whether usage of them should be removed?  For the former, I don't know why we'd remove them: whether or not we use them in our implementations, they're a supported part of the runtime serialization / BinaryFormatter scheme, and I'd think we'd want to keep them exposed for usage.  For the latter, usage of these attributes represents i

[2017-04-28 22:26] shmao commented on #18373
The test passed in the latest run. Closing the issue.

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_debug/36/testReport/(root)/DataContractJsonSerializerTests/

[2017-04-28 22:26] #18373 closed

[2017-04-28 22:31] geleems commented on #12072
This issue happens because *unmanaged* transaction is not rolled back before the connection moves back the pool. That means this error only happens when user initiates *unmanaged* transaction by executing `BEGIN TRANSACTION` command manually in code, and the transaction is not finished properly before the connection moves back to the pool.

Recommended (*managed*) way of initiating transaction is

[2017-04-28 22:41] ianhays commented on #19092
For this one we may want to keep the ArgumentException. The CryptoException is being thrown on netfx because we're not doing boundary checking before attempting to do the hashing. The ArgumentException on netcoreapp is being thrown [in the HashProvider common file before doing the actual hashing](https://github.com/dotnet/corefx/blob/master/src/Common/src/Internal/Cryptography/HashProvider.cs#L30)

[2017-04-28 22:47] jhudsoncedaron commented on #12072
So how do you write a function that does not care if it is in a transaction or not to create a command?

This is the reason we don't use the managed transaction API.

[2017-04-28 22:55] weshaggard commented on #19119
I was more talking about whether or not the APIs should be exposed. Right now I'm leaning towards your suggestion which is to leave them broken and get the fix in desktop but I wanted other opinions. If there are any other suggestions lets not derail this issue lets just have them at https://github.com/dotnet/standard/issues/300.

[2017-04-28 23:02] geleems commented on #12072
@jhudsoncedaron Could you provide a little more information about? :

In our understanding, if there is a function that creates a command without knowing if it is in a transaction or not, then the caller of the function should manage the transaction flow.
If the command is adding transaction as TSQL, then it should also make sure that there is clean up logic involved there as well.

[2017-04-28 23:06] #18877 closed

[2017-04-28 23:10] jhudsoncedaron commented on #12072
We discovered that Connection.CreateCommand() returns a command that doesn't work if a transaction is open. It's easy enough to fix if you know you need to do this, but the fix code crashes if there is no transaction open. We have tons of helper functions that read stuff from the database that literally do not care if the caller opened a transaction or not.

The connection pool is kind of broken a

[2017-04-28 23:11] alexperovich opened #19129 "Test System.Linq.Expressions.Tests.ParameterTests.ReadAndWriteRefParameters causes FailFast on AoT"

[2017-04-28 23:12] karelz commented on #19077
If you want to try out .NET Core 2.0 early builds, please follow these instructions: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2017-04-28 23:12] bartonjs commented on #19092
Yeah, this one seems like we want to keep the corefx fix.

[2017-04-28 23:15] karelz commented on #19077
You can also check the .NET Portability Analyzer: https://docs.microsoft.com/en-us/dotnet/articles/standard/portability-analyzer it should give you .NET Core 2.0 and .NET Standard 2.0 information (I hope at least).

Here is official/public ship dates information about .NET Core 2.0: https://github.com/dotnet/core/blob/master/roadmap.md#ship-dates

[2017-04-28 23:18] bartonjs commented on #19098
I agree with Dan.  I like the not redirecting behavior. Whether it ends at a 302 or throws isn't something I'm familiar enough with the usage to have a strong opinion about.

Since we probably can't insert a switch in a meaningful way, exception might be better...

[2017-04-28 23:28] karelz commented on #18482
@hughbe we asked @ViktorHofer to help with Networking issues, so if you have plenty of work / no time, just say so and he can pick it up ;-) (we just don't want to steal things from under your fingers ...)

[2017-04-28 23:29] karelz commented on #12618
Great, thanks!

[2017-04-28 23:41] karelz commented on #19098
Agreed as well - let's be more secure. If we have enough people hitting it who want Desktop behavior, we could potentially expose it later under a flag (based on demand) as 'less secure' option.

Can someone please summarize the difference here? https://github.com/dotnet/corefx/wiki/ApiCompat
Not sure we should flag the API, but at least we should document the behavioral difference ...

[2017-04-28 23:41] karelz commented on #19098
Moving to 2.0 to document the behavioral difference.

[2017-04-28 23:46] karelz commented on #13349
Moving to Future per @steveharter's recommendation above.
We had a few real failures, so let's not close yet.

[2017-04-28 23:56] shmao commented on #18902
https://github.com/dotnet/corefx/commit/0671542316520f4ba0a489dff7e163c183eb0135 should have skipped the issue. The test didn't fail in the latest build. Closing the issue.

[2017-04-28 23:56] #18902 closed

[2017-04-29 00:00] karelz commented on #19115
cc @weshaggard

[2017-04-29 00:10] jcouv commented on #18666
@azhmur
I checked with a few folks (@vsadov, @davidwrighton) and confirmed this seems ok from a runtime perspective, including .NET Native.

There is a window to get this in the .NET Core 2.0 release, if you want to make a PR next week (that'd be great).
Let me know if you won't be able to do it, I'll try to squeeze it in my backlog.

[2017-04-29 00:13] #19116 closed

[2017-04-29 00:15] saurabh500 commented on #19115
I got around the issue by deleting the Nuget package cache and .donet folder from user profile.
This started happening after I built EF on my dev machine

[2017-04-29 00:15] #19115 closed

[2017-04-29 04:34] WinCPP commented on #18787
@davidsh just asking... instead of creating a derived class of MemoryStream, how about doing the necessary validations that throw expected exceptions right in the RequestStream.Write* methods ([here](https://github.com/dotnet/corefx/blob/e9ecf74d845476540f40fa8fdc62c53ebf048519/src/System.Net.Requests/src/System/Net/RequestStream.cs#L100-L113))?

[2017-04-29 04:41] bartonjs commented on #18735
I highly suspect this is the same underlying problem as https://github.com/dotnet/corefx/issues/6302; so I'm closing this in favor of that.  It's certainly not reproing super frequently.

[2017-04-29 04:41] #18735 closed

[2017-04-29 04:45] bartonjs commented on #19023
After talking with @karelz this seems like it's probably not worth fixing.  We should just note it on the platform differences page.

1) We don't *really* have AesCryptoServiceProvider
2) It's the only SymmetricAlgorithm implementation in all of .NET with this behavior.

So in corefx we're just making AesCryptoServiceProvider act more like the rest of the platform.  If people complain we can alway

[2017-04-29 04:53] karelz commented on #19023
Key decision points for me:
* 97% customers use another API
* The different behavior is only error path - so typically affects "just" dev-cycle error detection. Those who depend on thrown exception in production should be very few (if any at all).
* It is costly (and ugly) to fix it in .NET Core

Overall it feels more in the bug-by-bug compatibility, rather than useful compat. So unless there is s

[2017-04-29 04:57] andreschort commented on #9855
Any chance this makes it to the 2.0 Preview release?

[2017-04-29 05:40] bartonjs commented on #9855
@andreschort Nope, no one has been looking at it... we're still on 1.0.2.

[2017-04-29 05:48] hughbe commented on #18486
This issue looks like its a bug in CookieParser, not HttpListenerRequest.

[2017-04-29 06:41] karelz commented on #18823
@JeremyKuhne only 1 area label please, otherwise we have double counting of issues and fuzzy responsibilities. Please refer to [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified). Thank you!

[2017-04-29 06:41] karelz commented on #18826
@JeremyKuhne only 1 area label please, otherwise we have double counting of issues and fuzzy responsibilities. Please refer to [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified). Thank you!

[2017-04-29 06:55] karelz commented on #18869
This might be a sign of product bug. Let's keep it in 2.0 for now. In next Networking triage (Thursday meeting) we should go through all test failures and make final call what is in / out of scope for 2.0.

[2017-04-29 06:58] karelz commented on #19094
Low frequency, likely environment problem per analysis above -> Future.

@danmosemsft I thought we will stop filing one-time test failures as 2.0 ...

[2017-04-29 07:37] ptoonen commented on #19095
I'll start work on this one.

[2017-04-29 07:38] karelz commented on #18910
@shmao please add another issue type when you remove one - please refer to [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified) for details. Thanks!

[2017-04-29 07:47] JinShil opened #19139 "Question: Visual Studio Designer Integration for .Net Core/.Net Standard 2.0"
.Net Standard 2.0 and .Net Core 2.0 have included APIs in `System.ComponentModel` for building and extending the Visual Studio designer (e.g `Component` class, `DesignerAttribute`, `TypeConverter`, etc..)

However, if one tries to use these classes in the current release of Visual Studio 2017 to create designers for their classes, Visual Studio displays errors in the designer like

[code]

In Visu

[2017-04-29 07:54] YoupHulsebos commented on #17905
In  System.Collections.Immutable and System.Collections.NonGeneric the only code flagged is either used constants or methods in common files where other methods of the same class are used in that project, so they require no further work.

[2017-04-29 08:06] karelz commented on #17905
Thanks @YoupHulsebos, top post updated.

[2017-04-29 08:12] karelz commented on #19139
In VS changes are needed (which is IMO likely), there will be accompanying VS update.

I wonder if this is more related to Desktop magic retargeting pack (or whatever we call it) -- @weshaggard @ericstj?

[2017-04-29 09:34] ptoonen commented on #8567
I'll take on this challenge.

[2017-04-29 09:45] yaelkeemink commented on #17905
In System.Collections.Immutable and System.Security.Cryptography.Primitives the only code flagged is either used constants or methods in common files where other methods of the same class are used in that project, so they require no further work.

[2017-04-29 11:37] stephentoub commented on #19098
I updated the API compat page.

Sounds like we want to keep the behavior of not following https->http redirects and that we can't readily change the behavior from either WinHTTP or libcurl, so we'll keep it as-is for now.  For a replacement managed implementation, we'll need to decide what behavior we want here (at least by default, potentially exposing it as a knob)... I'd vote for behaving in th

[2017-04-29 11:37] #19098 closed

[2017-04-29 11:54] #17977 closed

[2017-04-29 13:08] DawidTabak commented on #17051
Hi, I'd like to help resolve this issue seeing as it's up for grabs.

I've created a commit with the change as I've understood it.
- suggested API in MethodBase
- extended the MethodBaseTests of System.Runtime.Tests.

I'm not sure about the test coverage though.

DawidTabak/corefx@13a3d5dd3ba8fc36061dcab6469d4d9db2449a30

[2017-04-29 13:49] DawidTabak commented on #17051
I think I'm missing something in System.Reflection.Emit

[2017-04-29 14:55] safern commented on #19079
Sounds good.

[2017-04-29 15:17] AArnott commented on #19044
Thanks, @stephentoub. The build is now working. But tests still aren't showing up in Test Explorer. Should I be expecting them to? Otherwise what is the recommended way to step through tests? Add a Debugger.Launch somewhere?

[2017-04-29 15:21] davidsh commented on #18787
Yes, that is a better idea.  Please go with that.

[2017-04-29 15:23] danmosemsft commented on #17905
@yaelkeemink thanks updated checkboxes.

[2017-04-29 15:57] jmezach opened #19152 "OSX build issue with low ulimit"
Today me and @ptoonen ran into an issue when doing a full build of the corefx repo on OSX. Compiling some assemblies failed with a Too Many Open files error. This is caused by a low ulimit (see ulimit -a, which showed 256 for open files on my machine (OSX Sierra 10.12.4)).

The init-tools.sh script already tries to change the ulimit by issuing ulimit -n 2048. It seemed that this can only be done w

[2017-04-29 16:01] karelz commented on #19152
@mellinoe @weshaggard can (at minimum) detect the situation in our scripts and warn users?
It will make our first-time contributors life easier. (e.g. for the Netherlands hackaton which is in progress now).

Thanks!

[2017-04-29 16:03] ViktorHofer commented on #18900
@davidsh I don't think that your assumption regarding the MediaType is correct. If I test your code in netfx I get the following raw request:
[code]

and the following response:
[code]

The WebHttpResponse object properties don't show any differences when you set the MediaType property or when not. I looked into the netfx code, it seems the value is just passed into the internal constructor of the

[2017-04-29 16:27] ptoonen commented on #19152
Strange part is that root privileges should not be necessary and init-tools.sh performs the correct issues :-/ It appears as though something is resetting the limit in between.

[2017-04-29 16:28] davidsh commented on #18900
The 'MediaType' property is something you set on the HttpWebRequest.  It should affect the request headers.  It doesn't necessarily affect what comes back from the server (response headers....HttpWebResponse).  These request headers let the server know what types of response body content is preferred by a client but a server can ignore that.  See the RFC for details.

So, the real test is whether

[2017-04-29 16:30] bartonjs commented on #15570
@ericstj / @ianhays: Is there anything we can be doing here? It seems like a tooling problem (like the bug Eric opened for msbuild) and that the user action is to use binding redirects.  If there's no action for us, we should just close the issue...

[2017-04-29 16:32] ViktorHofer commented on #18900
But it doesn't affect them. I tested it in a netfx app and traced with fiddler. And when you look into the netfx code you see that the property is only passed into the constructor of HttpWebResponse where it isn't used (only serialization...).

[2017-04-29 16:40] ViktorHofer commented on #18900
Another test with better Content-Type and Media-Type.

My sample code:

[code]

Request raw:
[code]

Response raw:
[code]

[2017-04-29 16:46] karelz commented on #19152
Is it something you guys could help us track down - maybe even suggest a PR for the scripts?

[2017-04-29 16:47] ptoonen commented on #19152
Already looked into it (on the side), but mainly working on a different PR at the moment :) Will take another look once that's done.

[2017-04-29 16:48] karelz commented on #18900
BTW: If you find deficiencies in docs, can you please file bug on docs to track the improvement? Or in CoreFX if it requires work from us to provide the right content first ... thanks!

[2017-04-29 16:50] karelz commented on #19152
Great, thanks! Appreciate your help here -- especially in things which will make it better for the next contributor.

[2017-04-29 16:54] karelz commented on #19098
Thanks @stephentoub! I also added link back to this issue in case we need more details/reference later.

[2017-04-29 17:00] jmezach commented on #18892
I would like to work on this. I had a look at the [reference source](http://referencesource.microsoft.com/#mscorlib/system/string.cs,8281103e6f23cb5c) and it seems easy enough to port. I just need the resource strings. Can I get them from somewhere?

[2017-04-29 17:20] karelz commented on #17051
Thanks for contribution @DawidTabak! I sent you contributor invitation, so that we can assign this issue to you (GitHub limitation). Please ping me here when you accept the invitation.

Let's move the technical discussion to your PR.

[2017-04-29 17:22] karelz commented on #17051
Also note that we are finishing .NET Core 2.0 -- we will delay any new APIs and larger changes which are not critical for 2.0 until after May 10 (1.5 weeks). Just setting the expectation ... see https://github.com/dotnet/corefx/issues/17619#issuecomment-296872132 for details

[2017-04-29 17:23] bartonjs commented on #18892
@jmezach Your reference source link is to System.String.  Are you commenting on the correct issue? What are you proposing for this one? (I'm personally torn between "make it work" and "document it as not working")

[2017-04-29 17:26] ptoonen commented on #8567
After looking at this issue for a bit, I don't see any reason why it would be limited to 9999. Can anyone at Microsoft see any reason why this limit is imposed? I suggest making the max Int32.MaxValue as @mormegil-cz already suggested.

[2017-04-29 17:28] ViktorHofer commented on #18900
Yeah 👍 But first we need to clarify if my statement is correct...

[2017-04-29 17:28] jmezach commented on #18892
@bartonjs Uhm, I think I pasted in the wrong URL. I was refering to [here](http://referencesource.microsoft.com/#mscorlib/system/security/cryptography/cryptoconfig.cs,565f8b55bbef37aa).

For now I've just copied the code from there (for AddAlgorithm) and got it to compile, except for the Environment.GetString calls. Haven't written any tests yet, so I'm not sure if I'll run into issues later on. C

[2017-04-29 17:31] karelz commented on #18900
Sounds ... reasonable ;)

[2017-04-29 17:51] karelz commented on #13800
@MikevanDongen I am sent you contributor invite - once you accept, we can assign this issue to you.
In future, please ping issues when you grab them, so that others know as well. Thank you!

[2017-04-29 17:55] karelz commented on #17051
Saw you accept @DawidTabak, assigning to you ...

[2017-04-29 18:28] karelz commented on #19095
@ptoonen thanks for your contribution!
I sent you collaborator invite, so that we can assign it to you. Ping me here please when you accept it. Thanks!

[2017-04-29 18:29] karelz commented on #19095
Also I am not sure if we have good/any guidance on running UWP tests at this moment. If you hit any road blocks, please let us know - we may need to clean up our own guidance first ...

[2017-04-29 18:36] ptoonen commented on #19095
@karelz you should be able to assign now :)

[2017-04-29 18:38] karelz commented on #19095
Done, thanks!

[2017-04-29 19:05] mikeharder opened #19154 "System.Data.SqlClient 4.4.0-preview1 doesn't support RIDs win-x64 or win-x86"
# Repro Steps
1. Install SDK 2.0.0-preview1-005899
2. Create app using files below
3. `dotnet restore`
4. `dotnet publish -f netcoreapp2.0 -r win-x64`
5. `bin\Debug\netcoreapp2.0\win-x64\Repro.exe`
[code]
6. `dotnet publish -f netcoreapp2.0 -r win7-x64`
7. `bin\Debug\netcoreapp2.0\win7-x64\Repro.exe` (works as expected)
8. I assume `win-x86` has the same issue, though I haven't tested.

# Program.

[2017-04-29 19:23] danmosemsft commented on #19152
Ideally we would do this for tests also -- caused https://github.com/dotnet/corefx/issues/18463

[2017-04-29 19:30] ptoonen commented on #19152
I'll take a look at this tomorrow. My main dev machine is a mac.

[2017-04-29 21:29] danmosemsft commented on #18052
This has ` [SkipOnTargetFramework(TargetFrameworkMonikers.Netcoreapp, "The coreclr fixed a bug where Guid.TryParse throws a format or overflow exception (https://github.com/dotnet/corefx/issues/6316)")]`
but it should be `[SkipOnTargetFramework(~TargetFrameworkMonikers.NetFramework, ...` since it should only run on netfx.

[2017-04-29 21:30] danmosemsft commented on #18056
Test needs `[SkipOnTargetFramework(TargetFrameworkMonikers.Uap, ..` as it is in appcontainer so this will never work.

[2017-04-29 21:30] danmosemsft commented on #18053
Don't know why this is failing.

[2017-04-29 21:31] danmosemsft commented on #18048
Some of the special folders, like this one, aren't visible in appcontainer. thos should be broken into another test, marked `[SkipOnTargetFramework(TargetFrameworkMonikers.Uap,..`

[2017-04-29 21:31] danmosemsft commented on #18060
@MikevanDongen here's some more writing outside of temp...

[2017-04-29 21:32] danmosemsft commented on #17989
Product issue (code not enabled for UWP yet). not a test issue.

[2017-04-29 21:33] #19095 closed

[2017-04-29 21:34] danmosemsft commented on #18654
@Jiayili1 are these tests still failing this way? please update issue if needed.

[2017-04-29 21:35] ViktorHofer commented on #18405
@karelz ZBB label maybe?

[2017-04-29 21:36] danmosemsft commented on #17932
@MattGal how do I see the console output for a helix test run? This is something I often do in Jenkins. Some info does not get into the xml log.

[2017-04-29 21:36] danmosemsft commented on #17929
@MikevanDongen another if you're interestd..

[2017-04-29 21:36] danmosemsft commented on #17926
Product issue most likely. not impl yet for uap.

[2017-04-29 21:37] danmosemsft commented on #17923
Product issue -- not impl yet for uwp.

[2017-04-29 21:37] danmosemsft commented on #17922
Probably product issue for uwp.

[2017-04-29 21:40] danmosemsft commented on #17986
Different default in UWP impl for some reason.

[2017-04-29 21:45] danmosemsft opened #19156 "WaitHandleWaitAll fails on desktop"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170429.02/workItem/System.Threading.Tests/analysis/xunit/System.Threading.Tests.ManualResetEventTests~2FWaitHandleWaitAll
[code]

Needs this adding
`[SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework, "Full framework throws NotSupportedException  because test

[2017-04-29 21:46] danmosemsft commented on #19156
@Jiayili1 can you tell me why we didn't already have an issue for this (at least I couldn't find one). Are there any other desktop failures missing isuses?

@safern

[2017-04-29 21:46] ViktorHofer commented on #6901
@Chrisboh Is this planned for 2.0?

[2017-04-29 21:46] danmosemsft commented on #19156
@Jiayili1 please disable the test with the attribute above and put up a PR

[2017-04-29 21:49] davidsh commented on #17986
The reason is that we can't control it on UWP.  the UWP implementation via the WinRT Windows.Web.Http APIs do not have a property to control this.  It is hardcoded to Wininet default which is 10.

[2017-04-29 22:06] Chrisboh commented on #6901
We have a limited set of hardware in place that is currently planned for UWP work.  Nothing is stopping other runs from happening on this hardware but it may take a bit longer than normal to complete.  @danmosemsft I don't think Arm64 was on the 2.0 matrix, should it be?

[2017-04-29 22:21] danmosemsft commented on #6901
@Chrisboh it's not. Samsung are presumably handling all arm testing for 2.0. @Petermarcu does that match your expectation?

[2017-04-29 22:36] Petermarcu commented on #6901
Correct that arm64 is not for .NET Core 2.0 but we as you can tell, @Chrisboh has been bringing up infra to make sure we can keep doing the bringup work. Samsung is doing work for Linux arm32.

This can go into Future for now since we don't need to actively track it. @gkhanna79 let me know if you think I'm missing anything.

[2017-04-29 23:14] gkhanna79 commented on #6901
Sounds good to me.

Thanks,
Gaurav
________________________________
From: Peter Marcu <notifications@github.com>
Sent: Apr 29, 2017 3:36 PM
To: dotnet/corefx
Cc: Gaurav Khanna (CLR); Mention
Subject: Re: [dotnet/corefx] Integrate Arm64 test runs in Helix (#6901)

Correct that arm64 is not for .NET Core 2.0 but we as you can tell, @Chrisboh<https://na01.safelinks.protection.outlook.com/?url=https%3

[2017-04-30 00:20] danmosemsft commented on #19139
@davkean

[2017-04-30 04:03] AlexGhiondea commented on #18666
@azhmur @jcouv I have move this out of the 2.0 milestone. If you can get this checked in next week that would be great!

[2017-04-30 06:38] karelz commented on #19154
@weshaggard @ericstj can you please help root-cause it / route it? Thanks!

[2017-04-30 08:31] artemlos opened #19162 "ECCurve.Validate() error message inconsistency for Explicit Curves"
When defining an explicit curve, there's an inconsistency in the error message.

If some of the parameters are incorrect, we get:
[code]

Based on the message, only **Prime, A, B, G.X, G.Y and Order** are required and **Cofactor** is optional. However, based on [Validate() line L207](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Algorithms/src/System/Security/Crypto

[2017-04-30 15:43] ism opened #19166 "[Cookie] .net core 2.0 HttpClient cookie handling bug"
I tested client application and found bug related to cookies. Here i provide test server in python. Basically, first GET request sets cookie on client, second POST request followed by redirect updates that cookie.

Example work as intended in python requests, curl,  System.Net.Http.WinHttpHandler 4.3.0.

Expected Response:

-- Done Set
-- Done Index: Set-Cookie: p=not_overwritten
-- Done Index: Se

[2017-04-30 15:57] davidsh commented on #19166
What is the behavior if you use .NET Framework?

And which platform do you feel is not correct?

[2017-04-30 17:39] ism commented on #19166
This cookie was found on production website. Browsers( i tested chrome & firefox) handle it correctly - they set cookie, then update cookie after redirect and website keeps working. I tested it against "old" HttpWebRequest\HttpWebResponse way using .Net 4.6.1 and it doesn't send any cookie with following request, while adding them into CookieContainer collection. The reason is the way how CookieCo

[2017-04-30 18:05] karelz commented on #19162
That sounds reasonable. Do you plan to submit PR with a fix?

[2017-04-30 18:15] karelz commented on #18405
Yep, good catch. Thanks @ViktorHofer!

[2017-04-30 21:30] mejiamanuel57 commented on #15031
I just installed System.Diagnostics.DiagnosticSource and System.Collections.Immutable from the NuGet Package Manager, and everything is working :)

[2017-04-30 21:35] danmosemsft commented on #10528
@karelz below are currently implemented in coreclr but not exposed in corefx. Ideally we would have tests and expose them. Some of this was implemented by @jamesqo, some by another contributor who has left.

[code]

[2017-04-30 21:36] danmosemsft commented on #10528
/cc @stephentoub fyi

[2017-04-30 21:39] stephentoub commented on #10528
They're being exposed here: https://github.com/dotnet/corefx/pull/17033

[2017-04-30 21:40] midnightstarr opened #19167 "How can I use binary serialization with CookieContainer"
I need to serialize CookieContainer to the binary file. I was looking for BinaryFormatter but couldn't find it. I use the newest version of .NET Core. I tried serializing it with protobuf-net and msgpack but it didn't work. Any solution for this? I saw the support for binary serialization was added in 2.0 but I need to use some alternative solution now in 1.1.

[2017-04-30 21:43] danmosemsft commented on #13800
@karelz @MikevanDongen this issue also tracks exposing `String.GetHashCode(StringComparison comparisonType);` from CoreCLR, which I see was implemented. @MikevanDongen do you plan to put up another PR to expose that one?

/cc @stephentoub re unexposed API.

[2017-04-30 21:44] artemlos opened #19168 "What is the proper way of implementing explicit curves as ECCurve type?"
I want to implement Curve25519 as an ECCurve type so that it can be used in ECDsa. I've tried to define as shown below:

    public class Curves
    {
        // TODO: check the key gen rand. work in progress. check constants.
        public static ECCurve Curve25519
        {
            get
            {
                return new ECCurve()
                {
                    CurveType = ECCur

[2017-04-30 21:48] danmosemsft commented on #16836
@karelz @stephentoub another that's already in coreclr but not exposed: IsVariableBoundArray.

[2017-04-30 21:51] danmosemsft commented on #4865
these are the members that aren't exposed:
[code]

[2017-04-30 22:17] davidsh commented on #19167
In general .NET Core 1.x does not support binary serialization.  This is only supported in .NET Core 2.0.

You can always implement something custom via XML/Json, etc. but that requires you to hand serialize the objects using only the public API surfaces (properties, etc.).

[2017-04-30 22:17] davidsh commented on #19167
cc: @karelz @danmosemsft

[2017-04-30 22:43] danmosemsft commented on #19167
Although we have binary serialization in 2.0, we are planning to scale it back before we ship to just primitive and collection types (https://github.com/dotnet/corefx/issues/19119). For higher types like this we recommend using a different serializer.

[2017-04-30 22:44] danmosemsft commented on #19154
@saurabh500

[2017-04-30 22:54] danmosemsft commented on #17986
OK I think we wnat to change
`                Assert.Equal(50, handler.MaxAutomaticRedirections);`
to
`Assert.Equal(PlatformDetection.IsWinRT || IsNetNative ? 10 : 50 , handler.MaxAutomaticRedirections);`

[2017-04-30 22:55] danmosemsft commented on #17929
I meant to tag @ptoonen . No idea how I mixed up.

[2017-04-30 22:56] danmosemsft commented on #18060
I meant to tag @ptoonen here also. .

[2017-04-30 22:57] danmosemsft commented on #18052
@shimingsg could someone on your team please update test as above.

[2017-04-30 23:00] danmosemsft commented on #17934
@ViktorHofer yes. For some of these we've disabled the test for `[SkipOnTargetFramework(TargetFrameworkMonikers.Uap..`. It so happens that in our UapAot runs we don't run in appcontainer but that may change in which case it would need disabling for that also.

More useful is `PlatformDetection.IsWinRT` which indicates whether the code is in an appcontainer. It would be better to make it expect the

[2017-04-30 23:02] danmosemsft commented on #18051
@jkotas we have no plans to support this in appcontainer right? JIT remains prohibited and we would not use an interpreter for an entire assembly?

in which case this is expected result.

[2017-04-30 23:48] jkotas commented on #18051
There are number of differences between CoreCLR and .NET Native for UWP. In the past, we have been adding explicitly checks here and there to CoreCLR to make things artificially not work to match .NET Native for UWP. This issue is about one of these checks: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/AppDomain.cs#L482

The question is whether we continue maintain these ch

[2017-05-01 01:50] bartonjs commented on #19168
Do you have a stack trace?

[2017-05-01 02:44] stephentoub commented on #16856
Closing under the assumption this was fixed by #18962.  Please re-open if it wasn't.

[2017-05-01 02:58] stephentoub commented on #18712
Desktop will also throw if bufferSize <= 0:
https://referencesource.microsoft.com/#mscorlib/system/io/stream.cs,202
What am I missing?

[2017-05-01 03:06] gkhanna79 opened #19175 "double value in appsettings can't be read"
@juliengomes commented on [Sun Apr 30 2017](https://github.com/dotnet/core/issues/608)

Not sure where to put this issue so I just put it here.

In my appsetting.json file, I have a double value in dictionnary, something like
[code]

This is the code I have in my Startup.cs file

[code]

And this is MyOptions
[code]

When I try to run this, I get the following error
[code]

This is my dotnet versi

[2017-05-01 03:06] gkhanna79 commented on #19175
CC @danmosemsft @karelz

[2017-05-01 03:40] MikevanDongen commented on #13800
I don't mind doing so (later this week).

-------- Original Message --------
From: Dan Moseley <notifications@github.com>
Sent: Sunday, April 30, 2017 11:43 PM
To: dotnet/corefx <corefx@noreply.github.com>
Subject: Re: [dotnet/corefx] Proposal: Make it easier to use StringComparison & StringComparer with GetHashCode. (#13800)
CC: Mike van Dongen <github@mikevandongen.nl>,Mention <mention@noreply.g

[2017-05-01 04:37] danmosemsft commented on #19156
@Jiayili1 never mind, Stephen's fixing it.

[2017-05-01 04:47] karelz commented on #19175
Where does `Microsoft.Extensions.Configuration` live? I don't think in CoreFX ... @JeremyKuhne any idea?

[2017-05-01 04:48] danmosemsft commented on #19175
I believe the relevant line is likely here - although it's inlined. This is owned by asp.net, and they're using invariant culture which won't parse fr-fr number format.

https://github.com/aspnet/Configuration/blob/e1b7960f22b7c508645fedb8a50f0e873d7407d5/src/Microsoft.Extensions.Configuration.Binder/ConfigurationBinder.cs#L316

[2017-05-01 04:50] danmosemsft commented on #19175
@haok you made the last change to this file. Is this a bug, and if so should it go to your configuration repo?

[2017-05-01 05:36] danmosemsft opened #19179 "Difference in behavior of AssemblyName.FullName vs. desktop"
[code]
on desktop gives
[code]
on core gives
[code]
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170501.01/workItem/System.Reflection.Tests/analysis/xunit/System.Reflection.Tests.AssemblyNameTests~2FVersion(version:%20255.1,%20versionString:%20%5C%22255.1.65535.65535%5C%22)
https://mc.dot.net/#/product/netcore/ma

[2017-05-01 05:38] danmosemsft commented on #18661
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170501.01/workItem/System.Xml.XmlSerializer.Tests

[2017-05-01 05:40] rnagpal opened #19180 "UnderlyingSystemType replacement in .NET Standard1.4"
I've some NETFX code that I'm trying to compile for .NET Standard 1.4 and one of the issues I'm facing is how to replace UnderlyingSystemType property on the Type object.

I see that this has been exposed from TypeInfo class for .NET Standard 1.5 and 1.6 but I'm looking for an equivalent in .NET Standard 1.4

Any suggestions?

[2017-05-01 05:42] danmosemsft commented on #18661
Note this reproes in reflectoin only and non reflection only.

[2017-05-01 05:47] danmosemsft commented on #18810
Since tihs passes locally, I doubt there is a real bug here.

[2017-05-01 06:09] danmosemsft commented on #18809
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/37/testReport/junit/System.Reflection.Tests/AssemblyTests/LoadFile_NullPath_Netfx_ThrowsNullReferenceException/

The test is expecting NRE on desktop because newer versoins of desktop throw NRE. We should probably just remove the test from desktop.

[2017-05-01 06:13] tmat commented on #18376
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/7218/

[2017-05-01 06:14] danmosemsft commented on #19023
Disable the whole AesContractTests.CreateTransformExceptions for desktop then?

[2017-05-01 06:18] danmosemsft commented on #18830
Without adding that facade, someone using this package on desktop will get ours, not the more capable desktop one. Seems we should avoid that.

[2017-05-01 07:00] artemlos commented on #19168
[code]

[2017-05-01 07:14] artemlos commented on #19162
I'm a bit unsure. Should the **cofactor** be a requirement for all explicit curves?

[2017-05-01 08:04] KevalPatel commented on #6476
What is ADP here ?

[2017-05-01 08:13] davidfowl commented on #18791
FWIW I brought this up when the API was added to .NET Core 2.0 and I think it should work. We should make LoadFrom at the very least, look at assemblies next to itself. That's like 80% of what people expect.

[2017-05-01 08:21] KevalPatel commented on #4571
Is there any workaround to make it below line work ?

var factory = DbProviderFactories.GetFactory("System.Data.SqlClient");
                var conn = factory.CreateConnection();

[2017-05-01 08:45] XaveScor opened #19183 "HttpClient redirect bug"
http://stackoverflow.com/questions/43573321/httpclient-302-redirect
I have 2 urls: https://pcr.apple.com/id868222886 and https://jigsaw.w3.org/HTTP/300/302.html. Both have a location link and 302 response code. But apple's link has 0-len response body.
[code]

[2017-05-01 08:49] karelz commented on #6476
@KevalPatel please don't comment on old-closed issues. No one is likely monitoring them.

I don't understand your question in this context, so can't answer.

[2017-05-01 08:56] karelz commented on #18791
@jkotas @gkhanna79 did we consider emulating Desktop 'assemblies next to each other' behavior in CoreCLR? Is it technically possible in CoreCLR binding model?
Could we change default? (compat with 1.x may be a problem now :()
If not, could we provide easy workaround -> e.g. opt-in, or API overload, or simple API alternative?

cc @danmosemsft as this may cause some non-trivial migration pain

[2017-05-01 08:57] karelz commented on #19162
Isn't it what the code does? Or are there more code paths?

[2017-05-01 10:37] #19156 closed

[2017-05-01 10:53] svick commented on #19175
I think the issue is that `JsonConfigurationFileParser` incorrectly converts the `double` to `string` using the current culture [here](https://github.com/aspnet/Configuration/blob/9b633a4/src/Microsoft.Extensions.Configuration.Json/JsonConfigurationFileParser.cs#L98), but `ConfigurationBinder` correctly expects invariant culture.

This certainly belongs to aspnet/Configuration.

[2017-05-01 11:14] svick commented on #19175
And I think it's actually a duplicate of https://github.com/aspnet/Configuration/issues/470.

[2017-05-01 11:14] stephentoub commented on #19183
What's the question?   You asked the same question on stackoverflow and got this answer:
http://stackoverflow.com/questions/43573321/httpclient-302-redirect/43576738#43576738

[2017-05-01 11:23] stephentoub commented on #19179
The difference is that desktop has:
[code]
whereas core has:
[code]
and sets FEATURE_FUSION. You removed the ifndef in CoreCLR here: https://github.com/dotnet/coreclr/commit/b9f410b7b85d3948aece3aa009885df244f11e41#diff-8b5c082f27b55aa1d4b297f3b78309d0L109 :wink:

[2017-05-01 11:25] stephentoub commented on #19175
Thanks, @svick.  Closing as dup of aspnet/Configuration#470.

[2017-05-01 11:25] #19175 closed

[2017-05-01 11:29] DalSoft opened #19185 "WinHttpException should map to WebException Status"
At the moment to handle transient exceptions cross platform, I'm having to do something special for .NET Standard Windows only (Map the NativeErrorCode to a WebExceptionStatus). But for .NET 4.x and Mono I just get the WebExceptionStatus Status from the InnerException.

Here is how Mono does it fro iOS
https://github.com/mono/mono/blob/master/mcs/class/System.Net.Http/HttpClientEx.cs

[2017-05-01 11:30] #10528 closed

[2017-05-01 11:30] #14170 closed

[2017-05-01 11:40] XaveScor commented on #19183
No, this is not question. Why ThhpClient don't redirect on specific url? I think HttpClient should redirect on any pages which have Location header.

[2017-05-01 11:51] stephentoub commented on #19183
It's not based on the presence of a Location header: it's based on the response status code.

But that's not the issue here.  The issue here is that you have an https URL that's trying to redirect to an http URL, which is explicitly blocked for security reasons.

cc: @davidsh, @bartonjs, @danmosemsft

[2017-05-01 12:45] midnightstarr commented on #19167
CookieContainer exposes too little to serialize it all and without using reflection and accessing _domainTable it's not possible to get all the cookies without specifying the Uri.

[2017-05-01 13:02] #18997 closed

[2017-05-01 13:05] stephentoub commented on #18974
Let's close this under the assumption it was infrastructure.  We lack any other means of investigating this one occurrence (the mentioned logs are gone).

[2017-05-01 13:05] #18974 closed

[2017-05-01 13:06] stephentoub commented on #18890
"Problem with the SSL CA cert (path? access rights?)"... this is a dup of https://github.com/dotnet/corefx/issues/16201

[2017-05-01 13:06] #18890 closed

[2017-05-01 13:17] stephentoub commented on #18864
The server says it'll send 16000 bytes of content, and sends ~20 of it (but keeps the connection open so it could theoretically send the remaining ~15980 bytes).  The client reads that ~20 bytes and then disposes of the response / response stream.  It should be perfectly acceptable for a client to stop reading prior to receiving the entire content, and the server is in fact very slow... so slow th

[2017-05-01 13:25] bartonjs commented on #19168
It looks like ECDsa.Create(ECCurve) on Windows ended up with a named curve bias.

[code]

That should work (based solely on code inspection).

[2017-05-01 13:46] stephentoub commented on #18543
Address by @ianhays in https://github.com/dotnet/corefx/pull/19114

[2017-05-01 13:46] #18543 closed

[2017-05-01 14:26] artemlos commented on #19168
I've tested the code suggestion and got the error below:

By executing the code:
[code]
I get the following:
[code]

[2017-05-01 14:37] bartonjs commented on #19023
@danmosemsft `ValidateDecryptorProperties` is what this issue says failed, not `CreateTransformExceptions`.

We can disable the test, or do something like

[code]

[2017-05-01 14:38] bartonjs commented on #19168
Windows doesn't support explicit curves until Windows 10.  That callstack makes me think you're on something older.  There's not really a workaround for that, since there's just not OS support for us to call into.

[2017-05-01 14:42] artemlos commented on #19168
I'm using Windows 10 Pro and the project is targeting _.NETCoreApp1.1_

[2017-05-01 14:43] bartonjs commented on #18892
@jmezach It's not `AddAlgorithm` and `AddOid` I'm worried about, but the callers of CryptoConfig.  But, I suppose, it's fine.  Turns out, if calling CryptoConfig.Add\* causes something to break you should just stop calling it

Cryptography_AlgorithmTypesMustBeVisible = Algorithms added to CryptoConfig must be accessable from outside their assembly.

Cryptography_AddNullOrEmptyName = CryptoConfig c

[2017-05-01 15:21] gkhanna79 commented on #18791
@jkotas can chime in if it was considered but there is no such thing that CoreCLR Binder supports. This is one of the places where .NET Core differs from Desktop significantly - other areas are things like binding redirection, lack of GAC, lack of AppDomains, etc. Even for LoadFrom, the API is not exactly equivalent to how it behaves in Desktop since, in .NET Core, we always load into DefaultConte

[2017-05-01 15:25] ism commented on #19166
I looked at the code and here is what i found.

According to https://github.com/dotnet/corefx/blob/master/src/System.Net.Primitives/src/System/Net/Cookie.cs by default all Version 0 cookies set as CookieVariant.Plain in VerifySetDefaults
[code]
Later in same procedure we handle empty path (_pathImplicit) based on CookieVariant
[code]
So cookie-path is set to uri-path. This behavior comes from old

[2017-05-01 15:25] tarekgh commented on #18712
@ramarag may send more details. but what I am seeing is:

Stream.CopyTo(Stream) here
https://referencesource.microsoft.com/#mscorlib/system/io/stream.cs,183

is calling

InternalCopyTo
https://referencesource.microsoft.com/#mscorlib/system/io/stream.cs,223

which just do contract.require and not really throwing

[2017-05-01 15:33] stephentoub commented on #18712
@tarekgh, that overload doesn't take a bufferSize. Look at line 202.

[2017-05-01 15:35] bartonjs commented on #19168
Okay... Hm.  With your curve definition I replicate your exception.  With NIST P-256 explicit I get success.

[code]

I think part of the problem is that your curve parameters are wrong.  Like, G.Y seems rather incorrect.  And if the curve order were 8 there'd only be 8 private keys, which seems pretty easy to brute force :smile:.

Now that I'm a little more awake I feel like Windows has limited M

[2017-05-01 15:39] XaveScor commented on #19183
How to disable this behavior? Have we some options for it? Security is unimportant thing in my problem.

[2017-05-01 15:49] gkhanna79 commented on #18712
@tarekgh Who should this be assigned to?

[2017-05-01 15:51] tarekgh commented on #18712
@stephentoub you are right. I'll look more to see why we are getting the exception on netcore and not on the desktop. @ramarag if you have more details you may send it as you were the one investigated this issue before.

@gkhanna79 this issue should still be assigned to @ramarag till we send more info if the change need to be done in System.IO

[2017-05-01 15:59] davidsh commented on #19183
If you need to handle HTTPS -> HTTP redirection, you should disable automatic redirection in HttpClient.  Then handle the 3xx responses yourself.

[code]

[2017-05-01 16:02] davidsh commented on #19185
We have thought about how to improve error handling in HttpClient.  HttpWebRequest for example has WebException and WebExceptionStatus enums.  This would something for a future release.

HttpClient returns HttpRequestException's.  We are thinking about adding a property to that except similar to WebExceptionStatus enum behavior.  That is how we would handle cross-platform error codes.  We would pr

[2017-05-01 16:11] gkhanna79 commented on #18712
@ramarag can add details but seems to me that the issue is in IO and IO owner (is it Ian) should pick this up and drive it ahead to closure.

Let me know you think otherwise.

Thanks,
Gaurav
________________________________
From: Tarek Mahmoud Sayed <notifications@github.com>
Sent: May 1, 2017 8:51 AM
To: dotnet/corefx
Cc: Gaurav Khanna (CLR); Mention
Subject: Re: [dotnet/corefx] Test: System.Reso

[2017-05-01 16:18] ericstj commented on #18936
Fixed with https://github.com/dotnet/corefx/pull/19117

[2017-05-01 16:19] #18936 closed

[2017-05-01 16:20] ianhays commented on #15570
No, this can be closed. This is a tooling issue that we already have an issue for in msbuild linked above.

[2017-05-01 16:20] #15570 closed

[2017-05-01 16:22] tarekgh commented on #18712
@gkhanna79 I'll take a look anyway and will push this forward to resolution.

[2017-05-01 16:23] ianhays commented on #18826
@safern assigning this one to you since you were working on the full path failures. This is an older failure so you may have resolved it already.

[2017-05-01 16:24] ianhays commented on #18823
@safern assigning this one to you since you were working on the full path failures. This is an older failure so you may have resolved it already.

[2017-05-01 16:29] vancem commented on #19091
including @brianrob

This looks like the test is just being a bit to picky about the exact error message.    Should be easy to fix but there may be several of the same type of issue 'behind' this one, so we need a nice local repro for @brianrob to look at.     We may wish to disable the test and log an issue to reenable it if we don't have time to fix it (these negative tests are not the highest p

[2017-05-01 16:32] daxian-dbw commented on #18791
We tried to mimic `Assembly.LoadFrom` in powershell in .NET Core 1.1 and the prior versions, and the way we do is to have a probing path list keep track of the directory paths of the assemblies that are loaded by `LoadFrom`, and use the probing paths in `override Load` or `Resolving` handler so that implicit loadings via `Assembly.Load` can discover the dependency assemblies sitting next to the lo

[2017-05-01 16:34] jkotas commented on #18791
And how do you resolve conflicting versions?

Just looking next to the assembly is not hard. It becomes hard once you get multiple assembly versions with same name and have to start picking the rigth one. The sole purpose of desktop fusion with all binding redirects, Load/LoadFrom contexts, promotion from LoadFrom to Load, etc. is to pick the right copy of the assembly to use in the given situatio

[2017-05-01 16:41] karelz commented on #18791
I like the idea of examples - we can easily call out limitations of each example, without taking on the burden of dealing with by-design bugs and long explanations why something behaves as it does.

@davidfowl would that be acceptable middle-ground?

[2017-05-01 16:43] bartonjs commented on #6302
@ianhays Do you want to take care of moving the retry into a \#if DEBUG section?  Since we don't know what "wrong" means we'll just have to check for all zeros.

There are a couple places that could benefit:
* [ExtractBignum](https://github.com/dotnet/corefx/blob/bfac45af5dddcbd70b6935fcf92b4b8755f3cd1c/src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Bignum.cs#L75-L81) betw

[2017-05-01 16:44] davidfowl commented on #18791
What if we just handle the "I have a bunch of assemblies side by side" issue? We basically do what *everyone* is going to do and on a call to LoadFrom we add a "probing path" where the target assembly is.

Can we start by talking about that specific problem to see where the edges are? I don't want to start with the "we have to mimic desktop behavior" because I don't think we do.

[2017-05-01 16:44] #18798 closed

[2017-05-01 16:47] davidsh commented on #19166
Thx for the added information.

We are aware of RFC6265.  However, the Cookie parsing code in both .NET Core and .NET Framework have not yet adapted to handling this RFC revision. We are concerned about keeping app-compat behavior with previous versions of .NET Core and .NET Framework. It might be possible to incorporate these added rules of RFC6265 and still maintain previous RFC parsing behavior

[2017-05-01 16:48] karelz commented on #18791
How would you address @jkotas's point of conflicts? Throw? Use the first one loaded?
That's the policy baking which feels a bit like a slippery slope IMO.

[2017-05-01 16:48] ianhays commented on #6302
Yeah, I'll take this one.

[2017-05-01 16:49] davidsh commented on #17986
What is the difference between `PlatformDetection.IsWinRT` and `PlatformDetection.IsNetNative`?  Why not just `!PlatformDetection.IsNotUap` ?

[2017-05-01 16:49] karelz commented on #19166
Do we want to merge both into an umbrella RFC6265 issue?

[2017-05-01 16:51] davidfowl commented on #18791
We already have policy baked in today in CoreCLR, versions are unified (highest wins).

Let me flip the question, what happens today if you load another dll into the same load context of a higher or lower version?

[2017-05-01 16:52] davidsh commented on #19185
This is really a dupe of #4148

[2017-05-01 16:52] gkhanna79 commented on #18791
By Design, a load has every only loaded a single version of the assembly, independent of whether it is Desktop or CoreCLR.

[2017-05-01 16:53] karelz commented on #18791
That's a good question. However we have a problem that "look next to the files" approach will NOT necessarily probe for already-loaded assemblies in new locations. Or do you propose to always probe to unsure no new conflicts were created?

[2017-05-01 16:55] davidsh commented on #19167
@midnightstarr  I appreciate your frustration and agree that the cookie* classes don't have a lot of public API surface to approximate a serialization solution.

Unfortunately, for .NET Core 1.x, there is no good solution other than reflection.  I believe that .NET Core 2.0 will provide better serialization support.

[2017-05-01 16:55] #19167 closed

[2017-05-01 17:01] gkhanna79 commented on #18712
Thank you @tarekgh

[2017-05-01 17:03] davidsh commented on #19166
This is a feature-level issue and not a bug. Recommend this be target post 2.0.

[2017-05-01 17:03] safern commented on #18826
This should be fixed with: https://github.com/dotnet/corefx/pull/19012

[2017-05-01 17:03] #18826 closed

[2017-05-01 17:04] weshaggard commented on #19154
@corivera @saurabh500 looks like you guys need to update the sni package to move the the portable win RID. Instead of "win7-x64/win7-x86" we are moving everything to "win-x64/win-x86".

[2017-05-01 17:05] weshaggard commented on #19154
fyi @eerhardt @gkhanna79 one package that still needs converted to portable RIDs.

[2017-05-01 17:13] weshaggard commented on #19139
Eventually we will likely have VS designer support for .NET Core components but I don't expect that to come online in the next VS update. Most of the Component design is around WinForms and WPF support which is not a target for .NET Core (at least not at this time).

The errors you are seeing are related to the fact that the inbox .NET Framework doesn't know about most of these .NET Core assembly

[2017-05-01 17:19] MattGal commented on #17932
@danmosemsft if we're assuming you're starting from the link above:

- Click on the "System.Globalization.Tests" link in the breadcrumbs at the top (the view in the link is Xunit results).
- Click "Infrastructure Execution Logs," and pick a flavor (in this case your choices are x64 Debug and Release)
- Console output is logged in "Console", while logs for both python scripts used are below.  Raw X

[2017-05-01 17:32] krwq commented on #18810
@danmosemsft seems we have two copies of these tests:
https://github.com/dotnet/corefx/blob/7e0170e0ce47ef07c987cdbf8716259d9054cd1d/src/System.Private.Xml/tests/XmlSchema/XmlSchemaSet/XmlSystemPathResolverTests.cs
https://github.com/dotnet/corefx/blob/30e9fb02d048e88c71f772eed80ccff407f614d9/src/System.Private.Xml/tests/XmlReader/XmlResolver/XmlSystemPathResolverTests.cs

I believe desktop should

[2017-05-01 17:37] saurabh500 commented on #19154
@weshaggard ack. Working on it.

[2017-05-01 17:37] tarekgh commented on #18712
This is a regression from the ResourceWriter code in the method Generate. if you look at the desktop implementation, it has the following code

https://referencesource.microsoft.com/#mscorlib/system/resources/resourcewriter.cs,508
[code]
nameSection is a memory stream of length 0. this code will execute fine because there is no checks for the stream length.

in corefx this implementation has chang

[2017-05-01 17:43] ism commented on #19166
There is still inconsistent behavior of my test example in Windows vs Debian 8. I am not sure what to do about it.

[2017-05-01 17:51] optlink commented on #9855
As a work around, where can I specify the necessary cmake options to point at a different openssl location. For example, I have these options:

-DOPENSSL_INCLUDE_DIR=/usr/include/openssl-1.0 -DOPENSSL_SSL_LIBRARY=/usr/lib/openssl-1.0/libssl.so -DOPENSSL_CRYPTO_LIBRARY=/usr/lib/openssl-1.0/libcrypto.so

I've tried putting them as __CMakeExtraArgs in src/Native/build-native.sh but this seems to have

[2017-05-01 17:54] huanwu commented on #16702
Not repro anymore.

[2017-05-01 17:54] #16702 closed

[2017-05-01 18:01] shmao opened #19188 "Improve Exception for KnownTypeAttribute.MethodName on UWP"
`KnownTypeAttribute.MethodName` is not supported by UWP toolchain. The toolchain would give warning on using the property and users would get exception at runtime. Accroding to the feedback, the exception is not clear for figuring out the failure. We can try to improve this exception.

[2017-05-01 18:09] karelz commented on #19166
Absolutely. The question is if we close this issue as dupe of the other, or if we want to keep both opened (i.e. they are different). Or if we want to create new umbrella feature issue and then close this one (and maybe the old one as well) as dupes.

[2017-05-01 18:10] karelz commented on #19166
@davidsh is the Windows vs. Linux inconsistency also due to missing RFC? If yes, how?

[2017-05-01 18:13] karelz commented on #19139
Seems to be answered by @weshaggard, closing. Please let us know if you need more info (we can reopen again), thanks!

[2017-05-01 18:13] #19139 closed

[2017-05-01 18:13] stephentoub commented on #16441
A fine fear.  But we can't use the corefx repo as a dumping ground for completely corefx-unrelated issues just because we fear folks won't be looking in the right place.

(Maybe I should start using issues in the corefx repo as a place to track my grocery shopping list as I spend so much time in the corefx repo and I'm concerned I won't pay as much attention to the note on my fridge. :wink:)

[2017-05-01 18:13] davidsh commented on #19166
@stephentoub would have to comment on Windows vs. Linux difference. I'm not sure how this happens because I thought both implementations rely on .NET cookie parsing of the 'Set-Cookie' HTTP response headers as well as the 'Cookie' HTTP request headers used.

[2017-05-01 18:20] stephentoub commented on #19166
The CurlHandler implementation just passes the Set-Cookie header string to the CookieContainer:
https://github.com/dotnet/corefx/blob/b5e830365796613f5d076970653cc939d8726a94/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.cs#L578
and stores the header from the CookieContainer into subsequent requests:
https://github.com/dotnet/corefx/blob/a999d1094734b1ba7248d3e92e576f9fe4567f5b/src/Syst

[2017-05-01 18:21] stephentoub commented on #17010
A few for https://github.com/dotnet/corefx/issues/9006 was merged a few days ago in https://github.com/dotnet/corefx/issues/19082.  Does this still repro with the latest bits from master?

[2017-05-01 18:25] karelz commented on #17010
I will opportunistically close it as Fixed. If there's evidence otherwise, please shout out ASAP, and we can reopen, thanks!

[2017-05-01 18:25] #17010 closed

[2017-05-01 18:28] karelz commented on #16441
Nice comment 😛

I hear ya. The situation here is different - Mono/Xamarin folks have been asking for this for years AFAIK. And we didn't act. So I guess it is time to create pressure on ourselves as well ;)

@preetikr can you please chime in if we are on track and where best to track the issue? Given that Mono/Xamarin folks are ok to track it internally, I am fine moving it into internal 4.7.1 db

[2017-05-01 18:39] danmosemsft commented on #14592
done

[2017-05-01 18:39] #14592 closed

[2017-05-01 18:40] steveharter commented on #6302
FWIW here's Jenkins history since last December including the release branch. I can't say whether each of these failed for the same reason this issue is tracking, since that level of history isn't available.

Pretty much every flavor of Linux + Mac.

[code]

[2017-05-01 18:40] danmosemsft commented on #18098
@alexperovich @joperezr is this actually already done?

[2017-05-01 18:41] mellinoe commented on #18390
I created some simple tests with BenchmarkDotNet and gathered some manual data on my local workstation for the worst offenders in the list above. After doing that, I was not able to see the same regressions that were indicated by this one-off data. Our view is that this data is not reliable enough to spend tons of time analyzing, and that the best way to move forward is to improve the test coverag

[2017-05-01 18:41] #18390 closed

[2017-05-01 18:42] danmosemsft commented on #16363
@ericstj if it's necessary to release, it's milestone 2.0 but I marked post ZBB.

Are you doing this - the manual work? I want to assign someone...

[2017-05-01 18:42] karelz commented on #6302
All failures are in release builds :(

[2017-05-01 18:51] steveharter commented on #6302
Good catch @karelz. Also I updated the list to further back - still only release builds

[2017-05-01 18:52] bartonjs commented on #6302
Yeah, I hadn't noticed that.  Good eye, Karel.  Hmm.

[2017-05-01 18:55] karelz commented on #6302
Could we add a hack to crash hard when env. var. is set and it happens? (and set the env. var. in Jenkins & Helix)

[2017-05-01 18:56] alexperovich commented on #18098
This is not done yet.

[2017-05-01 18:56] mconnew opened #19191 "Profile captured by PerfRunner is missing events needed by PerfView"
I am running performance tests using the following command:
[code]
When opening the .etl file in PerfView, most stack frames show the module as ManagedModule. For example:
[code]
When running the test using PerfView to capture the profile, all the module names are correct.

[2017-05-01 18:56] karelz commented on #6302
BTW: If chasing down this bug means also updating 1.x, I'd support it

[2017-05-01 18:59] bartonjs commented on #9855
The CMake instructions come from https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt

I don't know that the -D options will help, because pkg-config is probably finding your 1.1 build, and I think pkg-config wins.

If you can list the package files for however you got OpenSSL 1.0.x on a system that has 1.1, look for something like `openss

[2017-05-01 19:01] danmosemsft commented on #19179
@stephentoub I did that because, unless I was horribly mistaken, FEATURE_FUSION was never defined in Core.

I ran the same code on 1.0, without my change, and it gives the same result:

[code]

[2017-05-01 19:02] stephentoub commented on #19179
I wasn't saying you broke it, rather I was pointing out that desktop is taking a code path that was removed from coreclr because one has FEATURE_FUSION set and the other doesn't.

[2017-05-01 19:05] danmosemsft commented on #19179
You had me worried for a minute! I'd have to debug why there's a difference.

[code]

and ASM_DISPLAYF_FULL includes ASM_DISPLAYF_VERSION

[2017-05-01 19:06] danmosemsft commented on #19179
What i mean is, why ` m_context.usMajorVersion != 0xFFFF` isn't applying. I see why it's adding the other bits.

[2017-05-01 19:08] #18311 closed

[2017-05-01 19:08] #18809 closed

[2017-05-01 19:18] vancem commented on #19071
I see your distinction, but this is not something wired into Activity.     You seem to be saying that we did not instrument HTTP properly (we could have used Activity to produce the operation names you indicate above).    This may be a fair critique of the instrumentation site, but I actually don't know how HTTP instrumentation along can do what you want above, because it SEEMS to be using the HTT

[2017-05-01 19:30] karelz commented on #19191
@DrewScoggins can you please help?
@mconnew is it blocking you? Or were you able to work around it?

[2017-05-01 19:35] karelz commented on #19180
What do you use it for? What is your scenario?

[2017-05-01 19:41] NicolasDorier commented on #17010
@stephentoub is there any easy to use container somewhere so I can give it a try ?

[2017-05-01 19:48] karelz opened #19194 "CryptoStream - crash when bytesToDeliver=amountRead"
Created based on Connect feedback: http://connect.microsoft.com/VisualStudio/feedback/details/2604876/bug-in-system-security-cryptography-cryptostream (internal bug [213692](https://devdiv.visualstudio.com/DevDiv/_workitems?id=213692&_a=edit))

**Description:** A case is not handled in the `Read` method where `bytesToDeliver` equals `amountRead` exactly - the `ProcessFinalBlock` label is never inv

[2017-05-01 19:54] karelz commented on #19194
Suggested fix from the report: https://github.com/dotnet/corefx/blob/e9ecf74d845476540f40fa8fdc62c53ebf048519/src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptoStream.cs#L357-L362

[code]

[2017-05-01 19:56] karelz commented on #19194
Repro from the bug report:

[code]

[code]

[2017-05-01 19:59] karelz commented on #19194
Next steps:
1. Turn the repro above into a test case, validate it is still a problem.
2. Make the fix.

Should be fairly straightforward ...

[2017-05-01 20:11] karelz opened #19198 "SignedXml - refuses valid signed XML file"
Created based on Connect report: http://connect.microsoft.com/VisualStudio/feedback/details/1765025/verify-xml-signature-getc14ndigest-problem-in-signedxml-class

**Description:** I've a problem with verifying XML signature file. The signature is done by third-party application and I am verifying the signature of that XML file in .NET framework 4.0 (check with latestes 4.6 and there is no differen

[2017-05-01 20:11] karelz commented on #19198
Next steps:
1. Turn the repro into bug report
2. Fix the bug

[2017-05-01 20:11] cwe1ss commented on #19071
What `Activity` does is different, not necessarily improper - avoiding confusion for people who might look at both systems is my main point here.

There are advantages and disadvantages to both methods.

`Activity`:
  * guarantees a fixed unique compile time constant for every *type* of instrumentation. This is great for how activity is used right now because this name is the only way for tracers

[2017-05-01 20:14] karelz commented on #19198
cc @StanislavUshakov @anthonylangsworth @tintoy @peterwurzinger - anyone interested to tackle it?

[2017-05-01 20:14] weshaggard commented on #15045
OK I took a closer look at this dependency unfortunately it isn't as clean as I would have liked. While I could have probably cleaned out the attributes usage in the implementation the real trouble is the ICustomTypeDescriptor interface which is implemented by a number of types in System.Data.Common. I cannot easily break that dependency as those interface implementations are also part of netstand

[2017-05-01 20:14] #15045 closed

[2017-05-01 20:17] mconnew commented on #19191
@karelz, I can work around it. I do one run using the method listed above, grab the executing command line from the log and then have perfview run the exact same thing adding `*Microsoft-Xunit-Benchmark` as an additional provider to get the test start and stop events . Interestingly perfview also creates a significantly smaller .etl file. When loading the PerfRunner generated profile in perfview,

[2017-05-01 20:20] karelz commented on #16594
After a discussion we decided to:
Build against .NET Standard 2.0. Create facade for Desktop (also includes Mono), so that the inbox one is picked up. Work happens in #19189.

It will impact/limitation on our ability to add new APIs in the API surface. If it is API we want eventually in Desktop (which may be none), we can take it and eventually port.
For more future-looking APIs, we will suggest t

[2017-05-01 20:26] karelz commented on #16685
See details in https://github.com/dotnet/corefx/issues/16594#issuecomment-298421865 on limitations of adding APIs into SignedXml/EncryptedXml - if we want to reboot the API surface and make it truly modern, we will have to create new package, which does not exchange types with .NET Framework inbox SignedXml/EncryptedXml. It may still compile from same source code though.

[2017-05-01 20:28] gkhanna79 commented on #18791
@jkotas and I chatted about this offline. There is no good way to mimic the _exact_ Desktop behavior without introducing more complexity and confusion to the resolution mechanics for the user. We agreed that we should document the following:

Assembly being loaded using LoadFrom must have its transitive closure as part of the app OR the app should wire-up to ResolvingEvent to resolve the dependenc

[2017-05-01 20:28] karelz commented on #18994
FYI:
See details in https://github.com/dotnet/corefx/issues/16594#issuecomment-298421865 on limitations of adding APIs into SignedXml/EncryptedXml - we may not take all APIs into the package that ships in Desktop. We reserve the right to create a new package, which does not exchange types with .NET Framework inbox SignedXml/EncryptedXml. It may still compile from same source code though.

[2017-05-01 20:29] optlink commented on #9855
Thanks for the help, we've got it working by passing in some parameters to build-native.sh as seen here: https://aur.archlinux.org/packages/dotnet

[2017-05-01 20:32] karelz commented on #19191
Sounds like Future milestone then ... @DrewScoggins @mellinoe is that ok?

[2017-05-01 20:34] karelz commented on #17010
Here are dogfooding docs: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md
Hope it helps.

[2017-05-01 20:34] karelz commented on #17010
cc @danmosemsft @mellinoe @weshaggard regarding the container idea ...

[2017-05-01 20:43] bartonjs commented on #9855
@optlink Cool, glad to hear it.  I clearly misremembered from the last time I had to try to figure out what find_packages did (while figuring out why it didn't do what I wanted it to). :smile:.

[2017-05-01 20:51] davidsh commented on #18869
System.Net.Http.HttpRequestException : An error occurred while sending the request.
---- System.Net.Http.WinHttpException : The server returned an invalid or unrecognized response

This error is impossible to diagnose with a dump file or a repro.  We need to understand what the "response" was that is considered "invalid or unrecognized".

[2017-05-01 20:53] karelz commented on #18869
How do we collect that?
We can ask @steveharter to get the repro on his CI machine if we give him the right scripts to capture the right stuff ...

[2017-05-01 20:55] mellinoe commented on #19191
Sounds fine to me.

[2017-05-01 20:58] davidsh commented on #18864
Or, we have implemented it incorrectly/behavior-different on .NET Core.

This code:

[code]

is assuming that it will return with fewer bytes than buffer.Length is that is the only amount currently available on the wire.  But perhaps .NET Framework treats that Read call as wanting to wait to read all the bytes to fill the buffer except if it reaches the end of the stream completely.  And it would

[2017-05-01 21:01] stephentoub commented on #18864
I'd consider that a bug in desktop.  For better or worse, Stream.Read{Async} is not supposed to do that.

[2017-05-01 21:02] davidsh commented on #18869
There are two ways to collect something.  Server-side (HttpListner-side) tracing or Client-side (HttpClient) tracing.

For example, we would do something like this to record all low-level Windows WinHTTP and WinSock logs via something like this:

[code]

That will collect a huge trace, though, if it takes a long time to repro.

[2017-05-01 21:05] davidsh commented on #18864
Well, if there are no bytes to read at the moment, then Stream.Read cannot return anything until a byte appears.  It can't return with 0 bytes because the semantic of that is having reached "end of file".

[2017-05-01 21:06] davidsh commented on #18864
https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.networkstream.read?view=netframework-4.7#System_Net_Sockets_NetworkStream_Read_System_Byte___System_Int32_System_Int32_

Int32
The number of bytes read from the NetworkStream, or 0 if the socket is closed.

[2017-05-01 21:06] stephentoub commented on #18864
That's not what I was referring to.  It can block / not complete while there's 0 bytes to be read, but once there's something to be read, it's not supposed to wait around in hopes of receiving everything that was requested.

[2017-05-01 21:06] #18896 closed

[2017-05-01 21:10] davidsh commented on #18864
Maybe there are some race conditions we don't understand and .NET Framework hits them more than .NET Core. Perhaps this test is brittle in some way.  Need to be investigated more deeply

[2017-05-01 21:23] #18797 closed

[2017-05-01 21:26] danmosemsft commented on #18201
@safern, @AlexGhiondea is there anything of interest to 2.0 here? I assume not. if not we can move out.

Just above this assert is
[code]

[2017-05-01 21:31] safern commented on #18201
This is quirked behavior that when TFM is < 4.6.2 MemberDescriptor.Equals does the comparison of object1.description vs object2.category instead of description vs description, so that is why @weshaggard decided to add category and description to be the same value, I tried to repro and didn't get a local repro, it seems to be flaky. But I don't really know why if it is pretty clear that description

[2017-05-01 21:33] safern commented on #18201
http://index/?query=MemberDescriptor.Equals&rightProject=System&file=%5BRepoRoot%5D%5CNDP%5Cfx%5Csrc%5Ccompmod%5Csystem%5Ccomponentmodel%5CMemberDescriptor.cs&line=331

[2017-05-01 21:34] safern commented on #18201
https://referencesource.microsoft.com/#System/compmod/system/componentmodel/MemberDescriptor.cs,331

[2017-05-01 21:42] ianhays commented on #6302
@steveharter does the jdash report accurately show failures from PRs? [I looked to JDash for the failures linked in this issue, but they appear to be missing](http://jdash.azurewebsites.net/builds/test?name=System.Security.Cryptography.X509Certificates.Tests.PublicKeyTests.TestKey_RSA&viewName=dotnet_corefx&pr=True&limit=1000&startDate=2016-1-01). The last non-release branch failure on jdash occur

[2017-05-01 21:47] DrewScoggins opened #19200 "Add Desktop perf runs to our CoreFX infrastucture"
Currently, if you specify the target group netfx performance tests fail to run.  We need to add this functionality.

[2017-05-01 21:47] karelz commented on #18869
Is there option for circular buffer?
@steveharter mentioned ~1% failure rate ... so we will need something like that, or stop the tracing between runs. Steve, how difficult would it be to try it in your scripts? At least once to see how big the trace is ...

[2017-05-01 21:50] davidsh commented on #18869
Yes, the syntax for the "netsh trace start" line would need to change accordingly.  I'm not familiar with the exact parameters you'll need for that but one could look it up and use whatever is appropriate.

[2017-05-01 21:57] geleems commented on #18277
I performed some investigation, and realized this behavior is by design.
Here is my test code:
[code]
Default isolation level is `ReadCommitted`, and it is replaced to new isolation level value when a transaction object is created. The isolation level value remains in connection of server side (client side does not store anything after transaction is disposed) even after transaction is finished be

[2017-05-01 22:04] alexperovich opened #19202 "Tests in System.Data.Common crash on uapaot"
The following tests crash on uapaot:

- System.Data.Tests.SqlTypes.SqlXmlTest.Constructor2_Stream_Unicode
- System.Data.Tests.SqlTypes.SqlXmlTest.Constructor2_Stream_Empty
- System.Data.Tests.SqlTypes.SqlXmlTest.Constructor3
- System.Data.Tests.SqlTypes.SqlXmlTest.Constructor3_XmlReader_Empty
- System.Data.Tests.SqlTypes.SqlXmlTest.CreateReader_Stream_Unicode
- System.Data.Tests.SqlTypes.SqlXmlTes

[2017-05-01 22:09] steveharter commented on #6302
@ianhays I also included PRs in my query, and none showed up, so yes something is amiss in the data.

[2017-05-01 22:25] #18712 closed

[2017-05-01 22:34] davidfowl commented on #18791
I still don't think you need the exact desktop behavior, we might be overthinking it. Can you explain the reasoning?

If we can't do something basic how can users....

@gkhanna79 Can we do more than write docs and instead write a sample?

[2017-05-01 22:35] huanwu commented on #16701
This is because the code is generated based on corefx, where the default constructor for XElement is public. The generated code is like
` o.@MyElement = (global::System.Xml.Linq.XElement)ReadSerializable(( System.Xml.Serialization.IXmlSerializable)**new global::System.Xml.Linq.XElement());**`

However the default constructor doesn't exist in dotnet standard, so the compile will fail.

[2017-05-01 22:37] huanwu opened #19204 "Make XElement serializable in netstandard"
The default XElement constroctor is public in corefx, but not in dotnet standard. This breaks our serialization generator for XElement type. The code will be generated based on the corefx and use the default constructor when create a new XElement instance. But it cannot compile in dotnet standard since the default public constructor doesn't exist. Need make them be consistent to unblock our scenar

[2017-05-01 22:39] karelz commented on #18869
@steveharter can you please spend 1h to see if it is feasible? (please time box it)

[2017-05-01 22:57] davkean commented on #19139
This issue was moved to dotnet/project-system#2100

[2017-05-01 22:57] davkean commented on #19139
Let's capture this bug, though. I've moved it over to project-system for the moment.

[2017-05-01 23:04] karelz commented on #19204
@huanwu @shmao should it got into 2.0?

[2017-05-01 23:06] huanwu commented on #19204
@karelz yes, it is 2.0

[2017-05-01 23:09] karelz commented on #19204
Can you please also add issue type label? See [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified) for details.

[2017-05-01 23:11] joperezr commented on #1244
@ChrisEelmaa sounds good! let us know in case you do want to take it so that we can assign the issue and provide any help if needed.

[2017-05-01 23:18] tarekgh commented on #18976
@dannyb2100 could you please answer the questions we asked in this issue to know if we can help with it?

[2017-05-01 23:31] jcouv commented on #18528
Sounds like a reasonable proposal, although not high priority.
From discussion with Alex and Wes, this would need vetting with compat council and also need fixing across the board (3 implementations: desktop, coreCLR and coreFX) for consistency. I haven't not checked with F# folks yet.

In any case, I most likely will not be able to get to this in the next couple of weeks to catch this wave.
Marki

[2017-05-01 23:32] weshaggard commented on #15092
Majority of this is complete with BuildTools PR https://github.com/dotnet/buildtools/pull/1460 and CoreFx PR https://github.com/dotnet/corefx/pull/19007. There is still more clean-up I would like to see happen but I will file individual issues in BuildTools to track those.

[2017-05-01 23:32] #15092 closed

[2017-05-01 23:35] joperezr commented on #18083
after chatting offline with @ericstj looks like a roughly costing for this would be around 2 days of work in case we decide to do it as a one off thing, and probably around a week if we want to automate some parts of it or all of it and have official builds that check this. If we decide to do the one-off approach, @ericstj and I agreed that it would be better if we do it closer to release as oppos

[2017-05-01 23:42] weshaggard commented on #15092
I'm tracking other clean-up items with https://github.com/dotnet/buildtools/issues?q=is%3Aissue+is%3Aopen+label%3A%22BuildTools+Consolidation%22.

[2017-05-01 23:52] karelz commented on #18907
Looks like one time issue, moving to Future.

[2017-05-01 23:54] karelz commented on #12618
@hongdai any update?

[2017-05-01 23:58] weshaggard commented on #18083
I would love to see this actually automated in some way as it would help us catch regressions sooner, but I understand it is not trivial and requires a higher level repo build to attempt so I'm OK with the status quo of doing it manually closer to release.

[2017-05-02 00:05] danmosemsft commented on #18083
@joperezr If yo'ure confident it's about a week then I'm fine with automating it.

[2017-05-02 00:11] karelz commented on #9543
@steveharter can you please check if you hit it on the CI machine in a loop?
If not, I guess we should close it as no repro, at least until next failure in CI. Thoughts?

[2017-05-02 00:14] madelson commented on #18277
@geleems it isn't true that isolation level only affects transaction. As long as SQL is in autocommit mode (the default), each statement executes in an implicit transaction using the current isolation level. This is what caused me to report the bug.

[2017-05-02 00:16] jkotas opened #19210 "ResourceSet enumeration fails on uapaot"
Attempt to shared ResourceSet implementation between CoreRT and CoreCLR reveled bugs in the CoreRT/ProjectN version: https://github.com/dotnet/corefx/pull/19196#issuecomment-298439628

[2017-05-02 00:18] karelz commented on #4002
@stephentoub can you please help here?

[2017-05-02 00:18] danmosemsft opened #19211 "UWP tests producing no result - crash in xunit?"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170501.02

shows Xunit Counts
Pass: 0
Fail: 0
Skip: 0

execution produced no test result xml
2017-05-01 13:31:34,950: INFO: proc(54): run_and_log_output: Output: FAILED 0x8027025B (The app didn't start.

00 0000005c`adb9e830 00007ffd`6c404f55 KERNELBASE!RaiseException(unsigned l

[2017-05-02 00:19] danmosemsft commented on #19211
Oh, I just noticed this is CoreCLR tests.

[2017-05-02 00:27] danmosemsft commented on #19204
@weshaggard

[2017-05-02 00:29] MattGal commented on #19211
See me for dump / repro info.  I noted this appears for the first time in build 20170428.02

That means the change most likely occurred between commits 35903a1cab676d100b5b90754e5313f43b30170d and ea78c27d8d5f75825f9b596df4e95199d38a55e1.

[2017-05-02 00:43] bartonjs commented on #6302
I'm like 99% sure I just found the missing GC.KeepAlive and the confusing scenario that bound it all up.

Thanks @karelz  for noticing the release-only, and @steveharter for getting a stable repro with that knowledge.

[2017-05-02 00:54] VSadov opened #19212 "Proposal for adding System.Runtime.CompilerServices.IsRefLikeAttribute"
# Rationale and Usage

For upcoming C# features captured in [Safe Spans proposal here](https://github.com/VSadov/csharplang/blob/3ab16a77b9fefe3805fa81044ba72d6c254e00f9/proposals/span-safety.md), the C# compiler needs a way to annotate structs in metadata as ref-like. The proposal is to add a new attribute to `System.Runtime.CompilerServices` namespace similar to`IsReadOnly`, named `IsRefLike`.

[2017-05-02 00:56] VSadov commented on #19212
CC: @dotnet/roslyn-compiler @terrajobst @karelz @weshaggard @marek-safar

[2017-05-02 01:09] krwq commented on #19204
Previously we have have marked XElement constructor internal in the contract so that serialization worked fine - would that be sufficient?

[2017-05-02 01:21] karelz commented on #6302
Congrats on chasing down the issue after 1+ year of rare, yet annoying, occurrences! -- Great work! Thanks to everyone helping to catch it.

BTW: @danmosemsft is now tracking down why we didn't run all tests under GCStress=3 on Release mode as we planned. We will finish that off as well.

[2017-05-02 01:29] karelz commented on #19212
@VSadov just double-checking: It is fine to do it post-2.0, right?

[2017-05-02 01:39] Jiayili1 commented on #19156
@danmosemsft I'm sorry that I missed this message since we are oof on holiday for international labor day. And this test failed since 20170428.02, and last week we looked into 20170428.01, this test does't fail on 20170428.01.

[2017-05-02 01:41] DrewScoggins commented on #19191
Yeah, seems good.

[2017-05-02 01:47] danmosemsft commented on #19156
No problem, thanks!

[2017-05-02 02:07] Jiayili1 commented on #18052
#19214

[2017-05-02 02:14] VSadov commented on #19212
@karelz - the shipping requirements are basically the same as for "IsReadOnly" - https://github.com/dotnet/corefx/issues/17741

The feature will work without attributes in the runtime, except in netmodules where it will result in an error since an attribute cannot be embedded in a module.

Also, as soon as any span-like type (including Span/ReadOnlySpan themselves) is declared in a particular `cor

[2017-05-02 02:29] jnm2 commented on #18528
@jcouv I'm motivated to get this through. I'll go ahead and PR if that's okay.

[2017-05-02 03:00] #18787 closed

[2017-05-02 03:53] saurabh500 commented on #19154
Changes merged for Master as well

[2017-05-02 03:53] #19154 closed

[2017-05-02 04:02] danmosemsft commented on #18263
@ianhays @stephentoub are you aware of a core specific change here -- reason why these fail on desktop?

[2017-05-02 04:09] karelz commented on #19212
@VSadov The `IsReadOnly` was already last-minute exception, but it was high value for Roslyn. I'm starting to be concerned how many such we have remaining. Can you please confirm this is the last one?
We really want to decrease the risk of making last minutes mistakes. Rushing APIs rarely pays off.

You will have to run it by .NET Core shiproom at this point (see my every-two-business-days emails)

[2017-05-02 04:57] hongdai commented on #12618
The test has passed!

[2017-05-02 04:57] #12618 closed

[2017-05-02 05:00] tintoy commented on #19198
I could take a look tomorrow morning (AU timezone) if nobody else wants it?

[2017-05-02 05:04] anthonylangsworth commented on #19198
I was going to put up my hand for it but the earliest I can get to it is tomorrow evening.

[2017-05-02 05:58] karelz commented on #12618
Thank you @hongdai for confirmation!

[2017-05-02 05:59] karelz commented on #19198
Appreciate your help guys, thanks! I guess whoever starts first should ping this issue ... thanks again!

[2017-05-02 06:13] Jiayili1 commented on #18726
This issue is repro on Core Tests, Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170502.01/workItem/System.Console.Tests/analysis/xunit/ConsoleEncoding~2FInputEncoding_SetWithInInitialized_ResetsIn

The test `ConsoleEncoding/InputEncoding_SetWithInInitialized_ResetsIn` has failed.

Assert.Equal() Failure\r
    Expec

[2017-05-02 06:16] dotnet-mc-bot opened #19218 "Test: System.Data.SqlClient.Tests.SqlConnectionBasicTests/IntegratedAuthConnectionTest failed with "System.Data.SqlClient.SqlException""
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.SqlConnectionBasicTests/IntegratedAuthConnectionTest` has failed.

System.Data.SqlClient.SqlException : Failed to generate SSPI context.

        Stack Trace:

           at System.Data.SqlClient.SqlInternalConnectionTds..ctor(DbConnectionPoolIdentity identity, SqlConnectionString connectionOptions, Object providerInfo, Boolean r

[2017-05-02 06:17] dotMorten commented on #11898
@thomaslevesque I don't think the event declaration should declare event. Instead the event handler subscription should declare it to be weak. The class that exposes the event can't possibly know if the instance that's subscribing is going to be a longer-lived object or not. That's something the subscriber knows.

[2017-05-02 06:18] Jiayili1 commented on #17420
Failed again on build 20170502.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170502.01/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FTestBasePriorityOnUnix

[2017-05-02 06:24] v-haren opened #19220 "System.Globalization.Tests.GregorianCalendarGetWeekOfYears.GetWeekOfYear failed in CI"
failed test: System.Globalization.Tests.GregorianCalendarGetWeekOfYears.GetWeekOfYear
detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/opensuse42.1_debug/2246/testReport/System.Globalization.Tests/GregorianCalendarGetWeekOfYears/GetWeekOfYear/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-02 06:28] Jiayili1 commented on #18048
This issue is repro on Core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170502.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.EnvironmentTests~2FGetFolderPath_Windows(folder:%20AdminTools)

[2017-05-02 06:29] dotnet-mc-bot opened #19221 "Test: System.Tests.EnvironmentTests/GetSystemDirectory failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Tests.EnvironmentTests/GetSystemDirectory` has failed.

Assert.Equal() Failure\r
              ? (pos 0)\r
    Expected: \r
    Actual:   C:\\Windows\\system32\r
              ? (pos 0)

        Stack Trace:

           at System.Tests.EnvironmentTests.GetSystemDirectory()
Build : Master - 20170502.01 (Core Tests)
Failing configurations:
- Windows.10

[2017-05-02 06:33] dotnet-mc-bot opened #19222 "Test: System.Threading.Threads.Tests.ThreadTests/ApartmentStateTest_ChangeBeforeThreadStarted_Windows failed with " Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Threading.Threads.Tests.ThreadTests/ApartmentStateTest_ChangeBeforeThreadStarted_Windows(getApartmentState: Func`2 { Method = System.Threading.ApartmentState <ApartmentStateTest_MemberD...` has failed.

Assert.Equal() Failure\r
    Expected: STA\r
    Actual:   MTA

        Stack Trace:

           at System.Threading.Threads.Tests.ThreadTests.Apartm

[2017-05-02 06:36] dotnet-mc-bot opened #19223 "Test: System.ServiceProcess.Tests.SafeServiceControllerTests/GetServices failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.ServiceProcess.Tests.SafeServiceControllerTests/GetServices` has failed.

KeyIso.CanStop\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.ServiceProcess.Tests.SafeServiceControllerTests.GetServices()
Build : Master - 20170502.01 (Core Tests)
Failing configurations:
- Windows.10.Nano.Amd64-x64
  - Debug

Detail: h

[2017-05-02 06:36] Jiayili1 commented on #19223
Closed Issue: https://github.com/dotnet/corefx/issues/14554

[2017-05-02 06:47] Jiayili1 commented on #18376
This issue is repro on portable core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170502.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpRequestStreamTests~2FRead_FullLengthAsynchronous_Success(transferEncodingChunked:%20True,%20text:%20%5C%22%5C%22)

[2017-05-02 07:01] sonix07 commented on #9855
+1 for openssl 1.1 native support

[2017-05-02 07:09] Jiayili1 commented on #18654
@danmosemsft On build 20170502.01, all the tests under UWP F5 Tests failed to generated the test results, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170502.01

[2017-05-02 07:17] Jiayili1 opened #19225 "Tests failed: System.Net.Requests.Tests / System.Net.Tests.HttpWebRequestHeaderTest"
Tests under "System.Net.Requests.Tests" failed to generate the test result.

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170502.01/workItem/System.Net.Requests.Tests/wilogs

[code]

[2017-05-02 07:17] Jiayili1 commented on #19225
Closed issue: https://github.com/dotnet/corefx/issues/18199

[2017-05-02 07:36] Jiayili1 commented on #18196
@ViktorHofer This issue is still repro on 20170502.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170502.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/System.ConfigurationTests.UrlPathTests~2FGetDirectoryOrRootName_GettingDirectoryFromAFilePath

[2017-05-02 07:43] Jiayili1 commented on #18710
Checked the commit is in this build, it is repro on 20170502.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170502.01/workItem/System.Reflection.Tests/analysis/xunit/System.Reflection.Tests.AssemblyNameTests~2FFullName(name:%20%5C%22NAME%5C%22,%20expectedName:%20%5C%22NAME%5C%22)

[2017-05-02 08:01] shimingsg commented on #18726
get this error today, TestGCStressLevel=3:
  Exception from RemoteExecutorConsoleApp(System.Console.Tests, Version=4.1.0.0, Culture=neutral, PublicKeyToken=9d77cc7ad39b68eb, ConsoleEncoding+<>c, <InputEncoding_SetWithInInitialized_ResetsIn>b__3_0):
  Assembly: System.Console.Tests, Version=4.1.0.0, Culture=neutral, PublicKeyToken=9d77cc7ad39b68eb
  Type: ConsoleEncoding+<>c
  Method: Int32 <InputE

[2017-05-02 08:28] Jiayili1 commented on #19041
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/38/testReport/System.Security.Cryptography.Rsa.Tests/ImportExport/ImportExport1032/

[2017-05-02 08:29] Jiayili1 commented on #19040
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/38/testReport/System.Security.Cryptography.Rsa.Tests/ImportExport/UnusualExponentImportExport/

[2017-05-02 08:36] Jiayili1 commented on #14673
This issue is repro on outerloop_win7_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/32/testReport/System.Net.Sockets.Tests/SendReceiveApm/SendRecvPollSync_TcpListener_Socket_listenAt____1__pollBeforeOperation__True_/

[2017-05-02 08:38] Jiayili1 commented on #5485
Failed again in CI, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/32/testReport/System.Net.Http.Functional.Tests/PostScenarioTest/PostEmptyContentUsingChunkedEncoding_Success_serverUri__http___corefx_net_cloudapp_net_Echo_ashx_/

[2017-05-02 09:18] ststeiger commented on #1563
Just wanted to add that a class like "Rectangle should have properties TopLeft, TopRight & BottomLeft, BottomRight.
PdfSharp XRectrangle has them, and they are very useful when drawing a non-trivial graph.

[2017-05-02 09:43] hughbe opened #19226 "Commented out code in WebClient for issue that is closed"
Ouch. And for the others
https://github.com/dotnet/corefx/blob/ee6845afaa8c316469ef522ac0f4747e157747c0/src/System.Net.WebClient/src/System/Net/WebClient.cs#L231

I'm submitting a PR fixing this

[2017-05-02 09:59] dannyb2100 commented on #18976
@tarekgh, Sorry about the lack of replies. For some reason, I was not getting an email notification about replies!

I am running Windows 7

[2017-05-02 10:14] ViktorHofer commented on #19225
Likely a networking issue

[2017-05-02 10:23] thomaslevesque commented on #11898
Well, if the subscriber is long-lived, it doesn't matter whether it's subscribed weakly or not, so the event publisher doesn't need to know about it anyway.

[2017-05-02 11:09] vitek-karas opened #19227 "WinRT app can't create mutex with Global\ prefix"
System.IO.IsolatedStorage may end up trying to create a mutex with name starting with Global\ prefix. Apps running in the WinRT context don't have access right to create global named mutex. So this will always fail.

[2017-05-02 11:10] vitek-karas commented on #19227
This causes the biggest bucket of failures in our app compatibility tests right now.
Internal TFS bug number 406673.

[2017-05-02 11:42] stephentoub commented on #18263
I'll take a look today.

[2017-05-02 11:47] grahamehorner commented on #17833
Is there any possibility of a short term work around ? until officially supported?

[2017-05-02 11:50] filipw opened #19230 "OrderBy produces different output on Windows and *nix"
Not sure if this isn't a duplicate, but couldn't find an existing issue. This was against `netcoreapp1.1`

# Repro

[code]

# Output Windows

[code]

# Output *nix

[code]

[2017-05-02 11:52] grahamehorner commented on #8188
Is there any mileage in possibility providing a work around until officially supported, this is a blocker for us moving to asp.net core as we aren't able to invalidate cached items as notifications was used as the trigger this

[2017-05-02 11:54] filipw commented on #19230
Actually, this is a dupe of https://github.com/dotnet/corefx/issues/15825

[2017-05-02 11:54] #19230 closed

[2017-05-02 12:01] ViktorHofer commented on #19226
@hughbe I already submitted a PR for that. It is pending.

[2017-05-02 12:04] ViktorHofer commented on #19226
https://github.com/dotnet/corefx/pull/19118

[2017-05-02 12:05] ViktorHofer commented on #19226
Ooh I see, that's not the same one...

[2017-05-02 12:07] JonCubed opened #19231 "POST with a body greater than 1024 chars fail on linux"
While running .net core in AWS Lambda, a POST with the HttpClient fails always to certain third-party servers when the body has more than 1024 chars. The following is the exception I get

[code]

I've tested the exact same request on windows in .net core and postman and it succeeds.

I use the following code to reproduce the issue.

[code]
my project.json, nothing special just dependency for AWS L

[2017-05-02 13:21] hughbe commented on #19226
I'll let you get your PR merged in first

[2017-05-02 13:44] stephentoub commented on #19231
Thanks, @JonCubed. Can you email me an endpoint I can try?

[2017-05-02 13:47] stephentoub commented on #19226
@danmosemsft, we should probably do a TODO search across the codebase.

[2017-05-02 14:41] AtsushiKan commented on #19016
Opened TFS 428550 - closing this issue as we'll track the work there.

[2017-05-02 14:41] #19016 closed

[2017-05-02 14:46] TheBuzzSaw commented on #9855
My Arch Linux dev environment just broke, and I'm pretty sure this is the cause.

[2017-05-02 14:53] steveharter commented on #18869
Sure. Will start asap.

[2017-05-02 14:58] karelz commented on #14673
It seems to be now failing roughly 1/week

[2017-05-02 15:00] AtsushiKan commented on #19044
You should just be able to hit F5 in VS - the repo .sln for these projects are supposed to populate the debug parameters correctly. I never use Test Explorer so I don't know if that's even supported in CoreFx.

[2017-05-02 15:03] karelz commented on #19227
@vitek-karas did it work in UWP apps in earlier versions of .NET Native?
You suggest it is a regression ...

cc @danmosemsft

[2017-05-02 15:19] jongoodnow commented on #14978
Hello, Is it possible to get this patch for netcore 1.1.1? I tried including `"System.Data.SqlClient": "4.4.0-preview1-25220-02"` in my project.json (daily build from April 20), but I'm still seeing this problem persist (not sure if that build would include this patch).

[2017-05-02 15:19] vitek-karas commented on #19227
Yes, this is a regression caused by the recent NS2.0 integration. It was sort of covered by another issue with Mutex (endless loop) which @AntonLapounov fixed recently.

It affects cca 25 apps in Top2000.

[2017-05-02 15:26] ViktorHofer commented on #19226
@hughbe I just updated my PR with the 3 commented out sections as I saw they are referencing the same issue as my code. I hope that's okay for you.

@stephentoub @danmosemsft I will created a dedicated issue for the TODO crawling

[2017-05-02 15:26] #19226 closed

[2017-05-02 15:34] tarekgh commented on #18976
@dannyb2100 thanks for your reply. could you please help with the questions:

- Could you try to find if the DLL api-ms-win-core-registry-l1-1-0.dll exist in your system anywhere too?
- Could you try reference the package https://www.nuget.org/packages/Microsoft.NETCore.Windows.ApiSets/ and see if this will help?
- if you can share a small project to repro the issue that will be very helpful.

tha

[2017-05-02 15:37] hughbe commented on #19226
There are more than 3 commented out sections, 5 or 6 from memory. Maybe you miscounted? HttpResponseHeaders has a bunch of TODOs for Connection,Exception,Host, ContentLengthh.

Can't fix now as Internet at home is too bad to restore packages. Feel free to push for your PR to be merged. I also dont have time at work to figure out how to test these fixes so I appreciate all the help you are providin

[2017-05-02 15:41] hughbe commented on #19226
@karelz it's possibly unlikely that this dotnet restore timeout limitation (I.e we can't customise the restore timeout) affects many people, but is it worth pushing this through the build tools or the CLI people? It's a bit of a pain having to bring my laptop to work to restore packages to build corefx as home internet is < 100kbs. It can restore packages but takes longer than 60s which is a fixed

[2017-05-02 15:41] ViktorHofer commented on #19226
Yeah it could have been more, I shouldn't have used a precise number. I addressed all TODOs section in System.Net.WebClient and System.Net.Requests.

Ooh that's unfortunate to hear. It's a shame that dotnet restore needs Internet, we should fix that 😋

[2017-05-02 15:46] ViktorHofer opened #19235 "Review Open TODOs around the entire code base"
Currently there are 2923 TODOs in the entire corefx code base. Below is the ordered grouping of TODOs by 1st level directories. As some of them can probably be ignored/removed, it's still worth giving them a look at some point of time.

## Areas with TODOs
- [ ] System.Private.Xml: 412
- [ ] System.Linq.Expressions: 356
- [ ] System.Net.Http: 294
- [ ] System.Net.Sockets: 282
- [ ] System.Data.Com

[2017-05-02 15:57] ViktorHofer commented on #19235
[code]

[2017-05-02 16:01] weshaggard commented on #19204
We cannot make the constructor public in .NET Standard 2.0. We should make it internal in Core. https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml.Linq/src/System/Xml/Linq/XElement.cs#L132.

[2017-05-02 16:04] pranavkm commented on #18849
@weshaggard - the API is available  in `netstandard1.5`. The calling code doesn't know it's running on desktop: https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/WebHostExtensions.cs#L96. If this isn't meant to work in desktop, shouldn't the API be moved to `netcoreappx.y`?

[2017-05-02 16:05] pranavkm commented on #18849
I suspect this is another manifestation of https://github.com/dotnet/corefx/issues/19058.

[2017-05-02 16:07] karelz commented on #14978
@jongoodnow I think you mean the future release from 1.1.x servicing branch, as 1.1.1 was already shipped. It is already too late to get it even into the subsequent release - 1.1.2.

Would it be acceptable for you to wait for 2.0 release?

[2017-05-02 16:19] danmosemsft commented on #19235
Thank you for kicking this off. We should not allow any new TODO's (or UNDONE's or BUGBUG's...) in the code, except perhaps in limited circumstances such as bringing up a new ported library. If something is worth a TODO, it's worth an issue. Ideally we would not have to do a pass like this.

[2017-05-02 16:19] danmosemsft opened #19236 "System.Net.NameResolution.Pal.Tests.GetHostByName_HostName failed with No such device or address"
This broke CI
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/4495/consoleText
[code]

[2017-05-02 16:20] danmosemsft commented on #19236
Note what CI calls Portable Linux is actually RHEL7.2.

[2017-05-02 16:32] #6302 closed

[2017-05-02 16:40] danmosemsft commented on #19223
Something special about this service on Nano maybe?

[2017-05-02 16:43] ianhays commented on #18263
I disabled a couple tests like this one but put the wrong reason in the message it looks like. iirc these are failing because the DeflateStream async methods in netfx don't properly defer to the underlying stream - they instead use the Stream classes async wrappers around the sync methods. This causes failures in the helper class that records hits to its async methods.

[2017-05-02 16:43] jcouv commented on #18528
@jnm2 That'd be awesome! Thanks for offering :-)
The window for .NET Core 2.0 is 5/10. If you take care of coreCLR and coreFX, I will take on the desktop framework side of things.
I will also start internal thread with compatibility council to confirm they are ok with API behavior change (for both `Tuple` and `ValueTuple`). I expect it should be ok.

Note that tests live in coreFX. To test a coreC

[2017-05-02 16:44] ianhays commented on #18263
Though `OverlappingFlushAsync_DuringReadAsync` should be failing regardless of the problem I mentioned above. It should just be failing in a different place i.e. on the actual FlushAsync call.

[2017-05-02 16:45] ianhays commented on #18263
@stephentoub I can take this one and knock it out if you're not actively working on it.

[2017-05-02 16:46] weshaggard commented on #18849
See https://github.com/dotnet/corefx/issues/11023 where this was discussed in the past. This is a case where we had a netstandard set of APIs but not all platforms supported an implementation for it.

For this library we are no longer shipping it as an individual nuget package any longer and it will only ship in Microsoft.NETCore.App going forward so folks won't be able to consume it for a desktop

[2017-05-02 16:55] danmosemsft commented on #19220
@tarekgh

[2017-05-02 16:57] danmosemsft commented on #19041
@safern you forgot to attribute this test in your PR...

[2017-05-02 16:57] tarekgh commented on #19220
yes I am trying to look at this. This failure on OpenSUSE and I am not able to see the history of this test on that OS. so I wondering if we started to run such OS? or why this test started to fail.

[2017-05-02 16:58] safern commented on #19041
Oops. Will add now. Thanks for looking and pointing out.

[2017-05-02 17:00] danmosemsft commented on #19040
The above is adifferent test. Opening a new issu.e

[2017-05-02 17:00] #19040 closed

[2017-05-02 17:00] bartonjs commented on #19168
Since the issue started off about ECDsa.Create(ExplicitCurve) encountering a NullReferenceException and I've fixed that, I'm going to close the issue.  Feel free to keep posting on your progress, and we can make new issues for specific faults as they're encountered.

Though I am a bit curious why you're wanting to do ECDsa with curve25519; it's self-described for ECDH:

(https://cr.yp.to/ecdh.html

[2017-05-02 17:00] #19168 closed

[2017-05-02 17:04] danmosemsft opened #19238 "Desktop failure in System.Security.Cryptography.Rsa.Tests/ImportExport/UnusualExponentImportExport/"
This issue is repro on desktop, detail:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/38/testReport/System.Security.Cryptography.Rsa.Tests/ImportExport/UnusualExponentImportExport_2/

[code]

[2017-05-02 17:06] davidfowl commented on #18849
@weshaggard you realize that everyone that uses System.Runtime.Loader is broken because that package is permanently broken right? For some reason, it was originally made to support .NET Standard 1.5 instead of netcoreapp1.0 (which is what it should have been the whole time). Can we update that package or is it pretty much dead at this point?

[2017-05-02 17:12] weshaggard commented on #18849
That package is essentially dead once we ship 2.0. We could consider shipping an update of it to force the breaking change but I think our guidance will be to stop using it as opposed to updating it.

[2017-05-02 17:12] #18849 closed

[2017-05-02 17:20] ianhays opened #19239 "RSACng throws different exception than other RSAs on netfx"
[RSACng.ImportParameters on Netfx throws an ArgumentException when either the Exponent or Modulus are null](https://referencesource.microsoft.com/#System.Core/System/Security/Cryptography/RsaCng.cs,322). This is different from RSACSP.ImportParameters which throws a CryptographicException for the same imputs. [We decided to use a CryptographicException for RSACng in netcoreapp](https://github.com/d

[2017-05-02 17:20] #19239 closed

[2017-05-02 17:23] terrajobst commented on #18581
In a perfect world, we'd have these APIs:

[code]

Since expressed `public TValue GetOrAdd(TKey key, Func<TKey, TArg> valueFactory);` as `TValue GetValue(TKey key, CreateValueCallback createValueCallback)` we belive the proposed APIs makes the most sense:

[code]

[2017-05-02 17:25] terrajobst commented on #18420
Makes perfect sense.

[2017-05-02 17:27] ianhays commented on #18546
@sepidehMS are you working on this one?

[2017-05-02 17:27] danmosemsft commented on #19222
@stephentoub are you aware of any differences on Nano wrt apartment threading model?

[2017-05-02 17:34] danmosemsft commented on #19220
@tarekgh as far as I know we've been running against OpenSuSE 42.1 for a while. Helix just changed to 42.2 and it's apparently passing there. 42.1 is out of support so if it's a 42.1 issue only we don't care about it, and we should probably update netci.groovy to change to 42.2.

[2017-05-02 17:34] karelz commented on #17619
Another update on remaining issues: https://twitter.com/ziki_cz/status/859459337042837504
Only 1 week and 1 day left before 5/10

Great progress on issues without milestone (potential work).

So far only 13 bugs are marked as Post-ZBB (documentation bugs, infrastructure issues).
We will likely slip a few Networking issues past 5/10.

[2017-05-02 17:35] vancem commented on #4865
Set to milestone 2, can be pushed out if there is a problem

[2017-05-02 17:35] safern commented on #19238
On Helix:

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170502.03/workItem/System.Security.Cryptography.Cng.Tests/analysis/xunit/System.Security.Cryptography.Rsa.Tests.ImportExport~2FUnusualExponentImportExport

[2017-05-02 17:35] terrajobst commented on #17917
We believe the best course is to remove the overloads that take `IDictionary<K,V>` and leave `IReadOnlyDictionary<K,V>`. Rationale:

* The important BCL types implementing `IDictionary<K,V>` also implement `IReadOnlyDictionary<K,V>`
* It seems likely that we'll be able to change the inheritance hierarchy to make `IDictionary<K,V>` extend `IReadOnlyDictionary<K,V>`

[code]

[2017-05-02 17:36] safern commented on #19238
@bartonjs 4.6.2 fix?

[2017-05-02 17:36] danmosemsft commented on #19218
@saurabh500 note this is on Windows Nano. We do support Nano for 2.0. The runs only restarted recently so it's probably not a new failure. (May even be flaky and not Nano related)

[2017-05-02 17:37] stephentoub commented on #18263
Ok, thanks, please do.

[2017-05-02 17:38] terrajobst commented on #17345
Looks good as proposed.

[2017-05-02 17:39] danmosemsft commented on #19094
We haven't decided that -- we would still want to triage core run issues immediately, so it may not get us much if we set the milestone to future. Note that outside of networking, most test failures are stable failures ie, real.

[2017-05-02 17:43] vancem commented on #18775
I believe @lmolkova  fixed this (your link above now points to fixed code).   Please reopen if this is not the case.

[2017-05-02 17:43] #18775 closed

[2017-05-02 17:43] krwq commented on #19204
@huanwu - I don't see why internal wouldn't work - is it uapaot problem? Should you update rd.xml?

[2017-05-02 17:44] Eilon commented on #19057
Is this bug good to be closed now?

[2017-05-02 17:45] cwe1ss commented on #18775
Yes, this is fixed. thx!!

[2017-05-02 17:46] AtsushiKan commented on #17345
Assigning myself for the CoreRT part (I have some refactoring plans related to this so I want to be the one to do this.)

[2017-05-02 17:47] vancem commented on #18806
I don't think it is slow.  It should happen in well under a second.    It needs to be looked at.

[2017-05-02 17:48] vancem commented on #18808
Needs to be looked at.

[2017-05-02 17:50] vancem commented on #19052
@lmolkova - are you in a position to test V4.5 changes?

[2017-05-02 17:50] safern commented on #17917
@Pothulapati could you please follow up with this issue? Next steps:
1. Remove `IDictionary<TKey, TValue>.GetValueOrDefault()` extension methods from CollectionExtensions.cs: https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/CollectionExtensions.cs#L9-#L23

2. Remove APIs from ref contract: https://github.com/dotnet/corefx/blob/master/src/System.Col

[2017-05-02 17:53] SergeyKanzhelev commented on #19052
Just to make sure we are on the same page - this issue is not for support of 4.5 framework. I propose the same reflection code will be running. The only difference is that detection of framework will happen in runtime, not compile time when you set the target framework for the project.

[2017-05-02 17:56] saurabh500 commented on #19057
@corivera my understanding is that you have ported the fix to relevant branches. Please close this bug if that's the case

[2017-05-02 18:00] huanwu commented on #19204
@krwq  This impact our serialization code generator scenario. The code was generated based on corefx,. Since the default constructor for XElement is public, (https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml.Linq/src/System/Xml/Linq/XElement.cs#L132)
the generated code is like
o.@MyElement = (global::System.Xml.Linq.XElement)ReadSerializable(( System.Xml.Serialization.IXmlSeriali

[2017-05-02 18:00] joperezr commented on #4865
Although it's fine to add the new netcoreapp configuration for 2.0, I think that as discussed in the thread we won't be adding these members back since they are not in netstandard2.0 by design, so I'm not sure if setting milestone to 2.0 is right, but I will let the area owners decide.

[2017-05-02 18:07] jnm2 commented on #18528
@jcouv Thanks for the instructions. I recently did the same kind of PR for ConcurrentDictionary (https://github.com/dotnet/corefx/pull/18441) so I'll try to duplicate the process.

Can I target `ValueTuple`, `Tuple` and `Array` all at once then?

Sure. Separate PR?

[2017-05-02 18:09] jnm2 commented on #18528
@jcouv [@omariom says](https://github.com/dotnet/corefx/issues/18666#issuecomment-295858824) it is waiting for https://github.com/dotnet/coreclr/issues/6688. Can you clarify?

[2017-05-02 18:10] chaseaucoin commented on #18394
As an RPC alternative to System.Remoting, WCF, or Sockets, I generally use ZeroMQ  It is robust for RPC it sits on top of sockets but is much friendlier from an end-developer syntax standpoint. It also allows for other strategies like push-pull, pub sub, etc..

[2017-05-02 18:23] karelz commented on #18581
It's aup-for-grabs again:
This should be fairly straightforward and simple (the only complication is adding API - which we have prior examples of).

[2017-05-02 18:23] #17934 closed

[2017-05-02 18:25] karelz commented on #19094
OK, fair. We can be on top of new 2.0 test failures and triage them out to Future as necessary :)

[2017-05-02 18:27] jacksontbryan commented on #7812
@karelz  I don't think this error is being prioritized sufficiently.  I just had a developer hit this error with a local development environment today.  When hit, it's an all-stop issue for a production environment.

[2017-05-02 18:33] karelz commented on #7812
@jacksontbryan thanks for bringing it up - we track it in 2.0 as a must-have, because it hit 4 customers in the wild.
We just didn't get to it yet.

Are you concerned that it might be punted to Future and not addressed in 2.0 at all? (I can 99%-guarantee that it will be addressed)
Or are you concerned that we didn't get to it yet and you need fix in daily builds ASAP?

[2017-05-02 18:36] krwq commented on #19204
@huanwu would changing it to internal fix the issue and cause proper code to get generated?

[2017-05-02 18:37] #16594 closed

[2017-05-02 18:39] huanwu commented on #19204
@krwq yes, it will solve our problem if you change it to internal.

[2017-05-02 18:44] krwq commented on #16594
@karelz FYI

[2017-05-02 18:45] #19041 closed

[2017-05-02 18:48] karelz commented on #16594
I've noticed, it's great, thanks!
Did we change our plans or is it the same thing we discussed in Wes's office?

[2017-05-02 18:48] terrajobst commented on #19212
We'd prefer this name:

[code]

With respect to downlevel poisining, you should use a message like this:

[code]

Otherwise looks good.

[2017-05-02 18:53] #19057 closed

[2017-05-02 18:54] ianhays commented on #18271
Since the re-openings above apply to different tests, it would appear that the original test in the OP has been resolved. Closing.

[2017-05-02 18:54] #18271 closed

[2017-05-02 18:54] corivera commented on #19057
Ported to release/2.0.0 with https://github.com/dotnet/corefx/commit/cd0ba32c82870e95ae67112580c8e98749fd450b

[2017-05-02 18:55] jacksontbryan commented on #7812
I'm concerned it will get punted because it didn't look like a development resource had been assigned.

[2017-05-02 19:02] krwq commented on #16594
@karelz - we have found some problems with uap and netstandard - if we don't care about uap until 5/10 then everything else is as discussed:
- desktop has facade
- retarget to netstandard

additionally we had to remove few SHA2 related consts fields from the contract because they are not on netfx < 4.6.2 yet - added documentation in the wiki for that

[2017-05-02 19:04] XaveScor commented on #19183
Wow. Why we can't add the flag "enable redirect https -> http"?

[2017-05-02 19:12] jongoodnow commented on #14978
Thanks for the quick reply. 2.0 is coming soon, right? Maybe I'll try to use the preview version.

[2017-05-02 19:12] jcouv commented on #18528
@jnm2 Separate PR is probably safer. Thanks

Yes, I think doing all three types (`ValueTuple`, `Tuple` and `Array`). I'm waiting to hear back from compatibility council and F# team.

For the ValueTuple optimization, the optimization would not be required if the runtime could do it itself (dotnet/coreclr#6688). But I don't expect the runtime issue to make progress soon, so it is good to optimize fr

[2017-05-02 19:29] karelz commented on #16594
Can we please have another discussion? I want to understand the plan 100%.
Packaging has high-risk of biting us back later. I want to be crystal clear on the plan -- your ""problems with ... netstandard" make me nervous.

[2017-05-02 19:31] karelz commented on #14978
Yes, it is coming soon: https://github.com/dotnet/core/blob/master/roadmap.md#ship-dates (I can't share more date details publicly yet, but working on permission to do so, which will take couple of weeks still :()

[2017-05-02 19:33] jlanng commented on #18581
I can look at this.  It'd be my first contribution so I might need a little hand holding

[2017-05-02 19:33] karelz commented on #14978
Once we have the fix, it would be awesome if you can help us validate it (from our daily builds - we have steps how to do that). It assumes that you can somewhat reproduce the problem (even if it is in the form "if I run XYZ, it typically fails in 3 days")

[2017-05-02 19:36] karelz commented on #14978
Here's how you can use daily builds: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

They are pretty stable these days. If you hit issues, just let us know.

[2017-05-02 19:40] karelz commented on #7812
It hasn't been assigned yet (we have it on backlog and it will be eventually grabbed by someone).
As I said above, I can 99% guarantee it won't be punted. Mainly because of the impact on real-world scenarios (4 customer reports).

Unless it requires 6 months of work and rewriting of half of the Networking stack, we should address it in 2.0. If it is so costly that it doesn't fit into 2.0 final rel

[2017-05-02 19:41] davidsh commented on #18869
I was able to get traces and have WinHTTP team help decode them.

It turns out the test case that causes the test failure is this:

[code]

There seems to be a bug in WinHttpHandler dealing with sending zero-length content using chunked encoding.

So, this test failure is actually an HttpClient product issue even though these tests themselves are testing HttpListener.

I’ll take a closer look at t

[2017-05-02 19:42] jongoodnow commented on #14978
Thanks. I will give this a shot. I'd like to ask for my own understanding - why can't I just include the latest DLL for System.Data.SqlClient and leave everything else the on the older version? That's what I was attempting to do before.

[2017-05-02 19:42] karelz commented on #18581
Great! Just sent you invite - let me know when you accept, we can then assign it to you.

[2017-05-02 19:43] karelz commented on #18581
Here are some docs (under construction): https://github.com/dotnet/corefx/wiki/Contributions#expose-api-across-coreclrcorefx

@joperezr @AlexGhiondea can help as well.

[2017-05-02 19:43] karelz commented on #14978
Because it depends on new APIs in other DLLs.

[2017-05-02 19:46] karelz commented on #18869
Kudos for tracking it down!

How common is the scenario? How impactful is it on customers? Is it P1 for 2.0?

[2017-05-02 19:56] jlanng commented on #18581
Alright, looks like I'm in!

Thanks for the pointers. I'll shout if I get stuck.

[2017-05-02 19:58] artemlos commented on #19168
@bartonjs I used it just to test ECC in .NET. Thank you for pointing this out. It appears there is no ECDH handler in .NET core. It would be cool if .NET Core would support some of the safe curves here: https://safecurves.cr.yp.to/. Maybe in a future release?

[2017-05-02 19:59] tintoy commented on #19198
Ok - I'll have a look at this shortly.

[2017-05-02 20:00] karelz commented on #18581
BTW: If you want to help with updating the docs (wiki is writable without PR process), that would be great!

[2017-05-02 20:01] jnm2 commented on #18528
@jcouv Which is better?

Acts just like the `IStructuralEquatable.Equals(object)` implementation by using three different comparers; boxes:

[code]

Fewer branches, acts just like the `IStructuralEquatable.Equals(object)` implementation by using three different comparers; does not box if it can help it:

[code]

Fewer branches, acts more like the normal logic of using a single comparer, also boxes

[2017-05-02 20:01] jongoodnow commented on #14978
Ah, makes sense. Thanks!

[2017-05-02 20:05] jkotas commented on #18581
@jlanng Note that it is implemented here: https://github.com/dotnet/corert/blob/4d6760f3ca6ca17eb31c441bc5d8f5c1e309386c/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs#L431

So this just needs flipping to public, copying the implementation for CoreCLR repo, and exposing it with tests in CoreFX.

[2017-05-02 20:06] karelz commented on #14978
And because if it doesn't, it is NIGHTMARE to juggle the dependencies in the 100-something DLLs we have. We make mistakes, which cause PAIN. Even without mistakes, it causes PAIN also to our customers, because one library pulls in more, you run untested combination, etc. The complexity & cost is just not worth the value it brings.

[2017-05-02 20:07] jongoodnow commented on #14978
That is fair. Thanks for taking the time to respond!

[2017-05-02 20:10] jnm2 commented on #18528
I would typically lean towards `if (comparer == null) comparer = EqualityComparer<object>.Default;` since that is the exact analog of every other BCL method, but that is guaranteed to just end up calling `ValueTuple<*>.Equals(object)` which calls `ValueTuple<*>.Equals(ValueTuple<*>)` and uses three different comparers, so we could optimize all that away without side effects by going with the secon

[2017-05-02 20:13] jcouv commented on #18528
@jnm2
The third option also makes more sense to me (`comparer = comparer ?? EqualityComparer<object>.Default;`).

I didn't understand that part. The comparison at this point is on elements, so `ValueTuple<*>.Equals(object)` method should not be involved.

[2017-05-02 20:14] JeremyKuhne commented on #19227
We can probably just remove the logic to put it under a random subfolder for RT as we didn't do it before.

[2017-05-02 20:14] gkhanna79 commented on #18791
Fixed with https://github.com/dotnet/coreclr/issues/11333

[2017-05-02 20:14] #18791 closed

[2017-05-02 20:15] JeremyKuhne commented on #19033
Not opposed, this is generally a left over from limited trust scenarios on desktop.

[2017-05-02 20:16] jnm2 commented on #18528
@jcouv Right, I mixed myself up there. So we'd want to call `EqualityComparer<object>.Default.Equals` on each element because that is an observable behavioral change compared to calling `EqualityComparer<T*>.Default.Equals`. Perfect.

[2017-05-02 20:18] jnm2 commented on #18528
@jcouv Last question, is this a worthwhile optimization?

[code]

Or, alternatively, should `EqualityComparer<object>.Default` be cached as part of 18666?

[2017-05-02 20:23] pjanotti commented on #19194
hi @karelz - I can take this one. I'm not a contributor yet.

[2017-05-02 20:24] ericstj commented on #16363
I'll do it, but it cannot be done until we have a stable build of packages.

[2017-05-02 20:24] saurabh500 commented on #8188
Query notifications via SqlDependency and related APIs is a feature we have on the backlog. However we couldn't get it into 2.0 because we didn't have the bandwidth.
We will be looking to port this feature in Future iterations.

[2017-05-02 20:25] jcouv commented on #18528
Other code in coreFX seems to use `EqualityComparer<object>.Default`. I'd stick with that, absent benchmarking information.

[code]

Whether or not to cache, I'd also lean towards not caching absent benchmarking.

[2017-05-02 20:26] geleems commented on #18277
@madelson

I meant isolation level parameter is only consumed by method that creates transaction, which is `SqlConnection.BeginTransaction()`. Once isolation level is set to certain value, it will remain at that setting through the session *as intended* until you change it. If you want to just change the isolation level setting, and don't want transaction, you can do as following:
[code]
However,

[2017-05-02 20:29] jnm2 commented on #18528
That is not preferential to `if (comparer == null) comparer = EqualityComparer<object>.Default;`, is it?

[2017-05-02 20:30] tintoy commented on #19198
@karelz - I'll create a test for this scenario; assuming it fails, is that sufficient for a repro?

[2017-05-02 20:31] jcouv commented on #18528
@jnm2
Good point. The `if` statement would be better (doesn't assign unless needed). Do put curly braces around the body though.

[2017-05-02 20:32] benaadams commented on #14354
A user can always create a non-security focused hash; so given the two options

1. Default hash utility is non-security aware; user can create a security aware hash function
2. Default hash utility is security aware; user can create a custom non-security aware hash function

Then the second is probably better; and what's suggested wouldn't have the perf impact of a full on crypto hash; so it makes

[2017-05-02 20:35] jnm2 commented on #18528
Sure, if that's what you want:

[code]

However ValueTuple is full of this convention:

[code]

[2017-05-02 20:37] jcouv commented on #18528
Ok, never mind for braces then :-)

[2017-05-02 20:37] jnm2 commented on #18528
Sure thing. I don't care, just checking.

[2017-05-02 20:42] jkotas commented on #18581
@terrajobst I am wondering whether it would be better to not add the API at all. Sure you need to create delegate with the existing API; and cache it if you care about perf that is no different  from many other methods that take delegate). But the damage from that may be less than damage from an API with poor consistent name.

[2017-05-02 20:53] karelz commented on #19194
Invitation sent. Ping me when you accept, so I can assign it to you.
Let us know if you hit any roadblocks.

[2017-05-02 20:54] JeremyKuhne commented on #15337
Discussed this with @ianhays, we're getting too close to the end of 2.0 to make a change here of this nature. Pushing out so we can try looking at a targeted direct P/Invoke option.

[2017-05-02 20:55] karelz commented on #19194
Also, welcome onboard!
And check out our (under construction) docs for new contributors: https://github.com/dotnet/corefx/wiki/New-contributor-Docs
If you have questions, ask. If you have tips & tricks, feel free to edit the wiki (it is opened for edits to anyone, without PR system).

[2017-05-02 20:55] stephentoub commented on #19222
Last I knew, Nano didn't support STAs, so I'm guessing it's defaulting all threads to MTA.

[2017-05-02 20:57] danmosemsft commented on #16926
This is happening but may not be done by ZBB.

[2017-05-02 21:01] pjanotti commented on #19194
I just accepted the invitation. I will start with the doc.

[2017-05-02 21:03] ViktorHofer commented on #15337
I agree. The change shouldn't be done that close to 2.0

[2017-05-02 21:05] tintoy commented on #19198
NP - just bootstrapping the build on my new laptop and then I'll get right onto it.

[2017-05-02 21:06] jnm2 commented on #18528
@jcouv `Array.BinarySearch` uses `Comparer.Default` if you pass null, whereas `Tuple.  IComparable.CompareTo(object)` uses `Comparer<object>.Default`.

When adding the null chackes, I was going to go with `Comparer.Default`, but now I'm not sure which it should be.

[2017-05-02 21:08] jnm2 commented on #18528
Or should it be different for Array than for the tuple types?

[2017-05-02 21:10] karelz commented on #19198
BTW: We have new docs for contributors (mostly new contribs): https://github.com/dotnet/corefx/wiki/New-contributor-Docs
If you have gotchas, please add them - it is writeable wiki without PR system.

[2017-05-02 21:17] tintoy commented on #19198
No worries - I have a Powershell profile that sets up environment variables for corefx / netfx dev, but building corefx itself has more subtle requirements it seems; had to drop back to using "Developer Command Prompt for VS2017" to get it to work.

[2017-05-02 21:19] tintoy commented on #19198
Hmm, interesting. After the build, I see `src/shims/ApiCompatBaseline.netcoreapp.netfx461.txt` has changed:

[code]

[2017-05-02 21:24] tintoy commented on #19198
Urk! Ok, have run into a more serious problem. Opened `System.Security.Cryptography.Xml.sln` in VS2017, hit build, and run into a wall of errors:

[code]

I'm sure this worked on my old machine, and I have verified that required VS components are installed (read the contributor docs to be sure). Anything obvious I've missed?

[2017-05-02 21:28] tintoy commented on #19198
(interestingly, the test project builds fine, it's just the other 2 that don't)

[2017-05-02 21:31] karelz commented on #19198
Did you compile from root first? @mellinoe @weshaggard can hopefully help troubleshoot ...

[2017-05-02 21:33] tintoy commented on #19198
Yep, `.\build.cmd`. That works fine. Interestingly, if I run `msbuild src\System.Security.Cryptography.Xml\System.Security.Cryptography.Xml.sln` it also fails (can't find `Microsoft.CSharp.Portable.targets`).

[2017-05-02 21:34] tintoy commented on #19198
Or if I build from developer command prompt, it just spits out the same wall of errors listed above.

[2017-05-02 21:36] mellinoe commented on #19198
Are you able to build the csproj directly from the command line?

[2017-05-02 21:36] karelz commented on #19198
cc @krwq

[2017-05-02 21:45] ianhays commented on #19090
[The log with that failure](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/consoleFull) shows 12 tests failing in the Pkcs test assembly, all with this same failure.

I cannot repro those failures locally.

[2017-05-02 21:45] tintoy commented on #19198
@mellinoe yes! Just not the solution file.

[2017-05-02 21:46] tintoy commented on #19198
Wrong configuration selected perhaps?

[2017-05-02 21:46] tintoy commented on #19198
Hmm, nope - there are only 2 configurations listed.

[2017-05-02 21:50] danmosemsft commented on #19221
Indeed I see on a Nano machine, that `Environment.GetFolderPath(Environment.SpecialFolder.System)` is empty string. which means `SHGetKnownFolderPath` is returning nothing for `FOLDERID_System`, `FOLDERID_SystemX86`, etc.

[2017-05-02 21:52] danmosemsft commented on #19110
Same as https://github.com/dotnet/corefx/issues/19221,`SHGetKnownFolderPath` doesn't work on Nano.

[2017-05-02 22:04] optlink commented on #9855
@bartonjs Are there any other things I should be checking? It seems most dotnet commands involving network access fail without giving any useful error information. For example, dotnet restore runs and returns happily but doesn't actually do anything. I've tried linking to a version of libcurl that was built with openssl 1.0 but have had no luck with this.

[2017-05-02 22:07] tijoytom opened #19249 "Lambda expressions using dynamic types are optimized away by ILC toolchain analyzer."
Example
   dynamic d = 3;
   Assert.Throws<DivideByZeroException>(() => d / 0);

This will throw NullReferenceException in ILC tool chain since anonymous method will be optimized    () => d/0  but changing dynamic to int will fix the issue

 int  d = 3;
 Assert.Throws<DivideByZeroException>(() => d / 0);

[2017-05-02 22:11] steveharter commented on #18869
Note that a fix here will also likely fix https://github.com/dotnet/corefx/issues/18376

[2017-05-02 22:13] karelz commented on #18869
Should we dupe the other one against this one then?

[2017-05-02 22:14] weshaggard commented on #19198
@krwq just make some configuration changes to this project so I suspect we need to regenerate the sln file. You can do that by doing https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/project-guidelines.md#updating-configurations.

[2017-05-02 22:17] bartonjs commented on #9855
@optlink If it's not failing catastrophically saying that it can't load System.Security.Cryptography.Native.OpenSsl, it shouldn't be an OpenSSL-related problem.  I assume you're building all of the shims locally... do the unit tests pass?

[code]

[2017-05-02 22:18] pjanotti commented on #19194
Building and running tests from VS 2017 command prompt ok. However from VS 2017 I am getting:

Could not load file or assembly 'System.IO.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

but this is not a blocker I can make progress with the command-line tools.

[2017-05-02 22:23] tintoy commented on #19198
@weshaggard - thanks, that did the trick. Had to edit `build.proj` though - the `UpdateVSConfigurations` target had a dependency on a non-existent`BuildCoreFxTools` target.

[2017-05-02 22:23] morganbr commented on #19249
@tijoytom , what's null in this case?

[2017-05-02 22:26] JonCubed commented on #19231
@stephentoub emailed

[2017-05-02 22:30] jnm2 commented on #18528
The coreclr PR is up https://github.com/dotnet/coreclr/pull/11345

[2017-05-02 22:31] davidsh commented on #18376
Will probably be fixed with PR #19251

[2017-05-02 22:31] jcouv commented on #18528
@jnm2 I'm not sure either (between `Comparer.Default` or `Comparer<object>.Default`. I'll take a deeper look tonight. The PR reviewers may also be able to chime in.

Just to keep you updated, the compat council is still discussing the question. I'll let you know once settles (hopefully with an approval).

[2017-05-02 22:36] tintoy commented on #19198
Test fails, but according to [this online verifier](https://www.aleksey.com/xmlsec/xmldsig-verifier.html) the signature is invalid, too. Perhaps it's a whitespace issue? Was the original XML supplied in a file or perhaps mangled by form / forum page?

[2017-05-02 22:36] davidsh commented on #18869
You can if you want.  I have a PR going now.  When it is merged, we can close both issues.

[2017-05-02 22:48] karelz commented on #18869
OK, your decision ...

[2017-05-02 22:49] karelz commented on #19198
I copied it from web page. There was also file ... digging ...

[2017-05-02 22:49] madelson commented on #18277
@geleems I agree that the behavior with pooling represents the biggest problem here; that's what burned us.

Maybe it's a separate issue, but I do think that most callers to the API would expect the isolation level to reset on dispose despite the documentation that says otherwise. Much like the scoping of the foreach var (which changed in C#5), this seems like it could be one of those cases where

[2017-05-02 22:49] karelz commented on #19194
@mellinoe @weshaggard is that expected?

[2017-05-02 22:51] sjoerdverweij commented on #19104
This is an intentional break, to make Reflection cheaper. See "Reflection" under
https://blogs.msdn.microsoft.com/dotnet/2016/02/10/porting-to-net-core/

If you want to use this test for both platforms, you'll have to #ifdef.

[2017-05-02 22:56] karelz commented on #19198
Here are the files from the repro:
- [signedOK_xdsNS_inRoot.xml.txt](https://github.com/dotnet/corefx/files/972170/signedOK_xdsNS_inRoot.xml.txt)
- [XmlDsigLog_signedNOT_OK_xdsNS_inSignatureNode.txt](https://github.com/dotnet/corefx/files/972167/XmlDsigLog_signedNOT_OK_xdsNS_inSignatureNode.txt)
- [XmlDsigLog_signedOK_xdsNS_inRoot.txt](https://github.com/dotnet/corefx/files/972169/XmlDsigLog_signe

[2017-05-02 22:59] sjoerdverweij commented on #19202
I can fix SqlDateTimeTest (not a contributor yet)

[2017-05-02 23:01] jnm2 commented on #18017
I'm really motivated to help this get in 2.0. Can I help?

[2017-05-02 23:02] danmosemsft commented on #19110
Here's what I get for each folder. Environment.GetFolderPath (from ShGetKnownFolderPath) is mostly blank, sometimes reasonable. ShGetFolderPath (what the test checks) is either blank or just the user profile folder. Desktop for both of these is the 3rd column

[code]

[2017-05-02 23:05] danmosemsft commented on #19110
@JeremyKuhne fyi.

[2017-05-02 23:06] tintoy commented on #19198
Ok, tried that, too - the online validator says it's still not valid:

'''
func=xmlSecOpenSSLX509StoreVerify:file=x509vfy.c:line=360:obj=x509-store:subj=X509_verify_cert:error=4:crypto library function failed:subj=/CN=Prvi Uporabnik/OU=i4 user/O=Test d.o.o./L=Tolmin/C=SI;err=20;msg=unable to get local issuer certificate
func=xmlSecOpenSSLX509StoreVerify:file=x509vfy.c:line=408:obj=x509-store:subj=

[2017-05-02 23:08] jnm2 commented on #6073
Is there anything I can to to help move this forward?

[2017-05-02 23:15] tintoy commented on #19198
I also tried the repro code supplied above, loading directly from `signedNOT_OK_xdsNS_inSignatureNode.xml.txt` (preserving whitespace), and validation still fails.

Will have a go to see if it works on netfx, but it looks to me like this doesn't repro on corefx.

[2017-05-02 23:15] optlink commented on #9855
I can't run the unit tests:
[code]

[2017-05-02 23:17] lmolkova commented on #19052
I've done some quick analysis on what could be done here

* I believe the right approach is to test it on NET45, most likely it will just work, so will will decide at compile time to include the hook.
I'll try to test it today, it's even a problem to have a machine with NET45 only.

*  Runtime detection.
1. System.Net.Http (or System.Net) dll version on NET45 and NET46 is the same: 4.0.0.0
2. `Env

[2017-05-02 23:31] karelz commented on #19198
Interesting. Either CoreFX vs. NetFX difference, or invalid bug report ...

[2017-05-02 23:33] karelz commented on #6073
See my last statement above: https://github.com/dotnet/corefx/issues/6073#issuecomment-273845281

[2017-05-02 23:34] karelz commented on #18017
This will likely NOT get in 2.0 - see my comment https://github.com/dotnet/corefx/issues/18017#issuecomment-297179050
We are sort-of locked down for 2.0 API surface.

[2017-05-02 23:41] jnm2 commented on #18017
@karelz When you say "likely"... is that just a polite way of saying no? I'd hate for someone to decide they could squeeze it in at the last minute, but too late for @WinCPP or me to PR.

[2017-05-02 23:42] jnm2 commented on #6073
@karelz Too late for 2.0?

[2017-05-02 23:47] vsccarl opened #19255 "Rename class file appears to not update proj file"
In the latest d15rel build renaming a class file keeps the original file name and marks it as 'Not Found' in solution explorer.

Repros in all .NET Core project types.

![image](https://cloud.githubusercontent.com/assets/12900364/25643859/efe179f0-2f56-11e7-8442-e2eaa2ac6b4f.png)

[2017-05-02 23:50] karelz commented on #6073
I think so -- see https://github.com/dotnet/corefx/issues/17619#issuecomment-296872132 for details. It is about minimizing risk.
Rushing APIs is never a smart idea. Small mistake can cost you life-time of compat problems. It's just not worth the risk, unless the value is really HUGE. Makes sense?

[2017-05-02 23:51] jnm2 commented on #6073
Yup, I have no problem with that. Just making sure my time is put to good use!

[2017-05-02 23:54] danmosemsft commented on #19110
https://gist.github.com/danmosemsft/2317eac85ba0006add7a41ea73bb35ac

[2017-05-03 00:07] karelz commented on #6073
Yep, appreciate it. For best use of time, I'd suggest to check: #17619 (top post).

[2017-05-03 00:15] karelz commented on #18017
By "likely" in this context I meant that I am not the final decision maker.
And also that it depends on how big and scary the change is ...

Personally, I would leave it to post-2.0. Honestly, having 10 more APIs is not going to move the needle. Even adding 100 more APIs is probably not going to change much for 2.0. Of course, unless one of them is huge pain to many developers ;).
What's needed mo

[2017-05-03 00:17] pjanotti commented on #19194
@karelz I built a simplified test that hit the issue but the proposed fix broke other tests. Tomorrow I will give another go at it (now I really want to debug it from VS...)

[2017-05-03 00:23] danmosemsft commented on #19255
Issue moved to [dotnet/project-system #2109](https://github.com/dotnet/project-system/issues/2109) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-03 00:23] #19255 closed

[2017-05-03 00:27] karelz commented on #19194
It's quite possible that the proposed fix was wrong, or that it is more involved - I didn't verify that.
@ianhays should be able to help if you can't figure it out - ping him if/when that's the case (he can get help from other experts if necessary).

[2017-05-03 00:27] danmosemsft commented on #19235
Actually looks much less worse than it seems. Most of these 2,900 are in tests (like `[OuterLoop] // TODO: Issue #11345`) or are bogus like "ToDouble".

Searching for capitalized TODO in product sources in CoreFX I see only 206. Looks like about half include an issue number.

[2017-05-03 00:39] danmosemsft opened #19259 "Dumpling.sh: line 24: /proc/self/coredump_filter: No such file or directory"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/2864/consoleFull#-13326339622d31e50d-1517-49fc-92b3-2ca637122019

[code]

[2017-05-03 00:39] danmosemsft commented on #19259
Or perhaps this is just saying "there's not been any dumps"?

[2017-05-03 00:42] danmosemsft opened #19260 "Failure of FindByValidThumbprint_RootCert"
Both my OSX legs are failing with this. It seems unlikely I caused it -- somehting changed in the machines?
@bartonjs ?

https://github.com/dotnet/corefx/pull/19256
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/2864/consoleFull#-13326339622d31e50d-1517-49fc-92b3-2ca637122019

[code]

[2017-05-03 00:50] mellinoe commented on #19259
I'm not sure. This might just be a Linux-ism that is trying to run on OSX as well. @sepidehMS Do you remember what that line is supposed to do?

[2017-05-03 01:10] bartonjs commented on #19260
The best that I can think of is that something installed this as a root cert on the macs at some point, and it's considered not a valid root by some criterion.

Since we don't support modifying the root stores on macOS this would have had to be manual configuration.  @mmitche, any ideas?

[2017-05-03 01:19] lmolkova commented on #19052
I manually tested the hook on pure .NET45 with tests we have and it just works in the same way as for NET46.
Here is PR: #19262

[2017-05-03 01:24] bartonjs commented on #19260
@danmosemsft We could probably replace https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.X509Certificates/tests/FindTests.cs#L252-L266 with X509Chain.Build and avoid this situation; but that feels a bit... circular.  But it might be fine.

[2017-05-03 01:24] lmolkova commented on #19052
@SergeyKanzhelev
Please note that this change will de-facto disable instrumentation with EventSource in ApplicationInsights

[2017-05-03 01:35] Jiayili1 opened #19263 "Desktop: System.Security.Cryptography.Xml.Tests.XmlLicenseTransformTest.ValidLicense failed with "System.ArgumentException""
Failed test: System.Security.Cryptography.Xml.Tests.XmlLicenseTransformTest.ValidLicense

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Xml.Tests/XmlLicenseTransformTest/ValidLicense/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-03 01:40] Jiayili1 opened #19264 "Desktop: Tests under "System.Security.Cryptography.Xml.Tests.XmlDecryptionTransformTest" failed with "System.NullReferenceException""
Failed tests:
System.Security.Cryptography.Xml.Tests.XmlDecryptionTransformTest.LoadStreamInput_CorrectXml
System.Security.Cryptography.Xml.Tests.XmlDecryptionTransformTest.GetOutput_XmlWithEncryptedDataInRoot
System.Security.Cryptography.Xml.Tests.XmlDecryptionTransformTest.GetOutput_XmlWithEncryptedData
System.Security.Cryptography.Xml.Tests.XmlDecryptionTransformTest.GetOutput_XmlNoEncryptedDat

[2017-05-03 01:50] jkotas commented on #18581
I have rewritten the existing case in CoreRT using the existing API w/ CreateValueCallback:
https://github.com/dotnet/corert/pull/3491. Surprisingly, it is fewer lines than with the new API.

I do not think that this API is good addition.

[2017-05-03 01:50] #18581 closed

[2017-05-03 02:03] tarekgh commented on #19220
This is very interesting failure because it fails when create DateTime object. the values we use to construct the DateTime is generated randomly. I have reviewed the code we have which generate such values and I am not seeing any obvious case which can generate wrong values for years, months and days. the only explanation I can have is Random class somehow generate negative values.

I am going to

[2017-05-03 02:21] Clockwork-Muse commented on #19220
@tarekgh - sure it can, [the last case doesn't match year with the month/day-of-month generated](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Globalization.Calendars/tests/GregorianCalendar/GregorianCalendarGetWeekOfYear.cs#L48-L49):

[code]

... I think it's likely intellisense is to blame for supplying the wrong thing.

[2017-05-03 02:43] Jiayili1 opened #19267 "Tests under "System.Security.Cryptography.Xml.Tests.SignedXmlTest" failed with "Xunit.Sdk.TrueException""
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/consoleText

Failed test:
 System.Security.Cryptography.Xml.Tests.SignedXmlTest.VerifyHMAC_SHA256
 System.Security.Cryptography.Xml.Tests.SignedXmlTest.VerifyHMAC_MD5
 System.Security.Cryptography.Xml.Tests.SignedXmlTest.VerifyHMAC_SHA512
 System.Security.Cryptography.Xml.Tests.SignedXmlTest.VerifyHMAC_

[2017-05-03 02:48] Jiayili1 opened #19268 "Tests under "System.Security.Cryptography.Xml.Tests.SignedXmlTest" failed with "Xunit.Sdk.EqualException""
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Xml.Tests/SignedXmlTest/AsymmetricRSASignature/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Xml.Tests/SignedXmlTest/SignedXmlUsesSha256ByDefault/

Failed tests:
 System.Security.Cr

[2017-05-03 02:48] Clockwork-Muse commented on #19220
Actually, I'm less sure that's the actual problem, but it's still a potential issue.

A bigger problem is that all the calls to the random data functions are running off of a static, shared instance of `Random`, which isn't threadsafe.  So we might be getting bizarre data too.

[2017-05-03 02:51] Jiayili1 opened #19269 "Desktop: System.Security.Cryptography.Xml.Tests.SigningAndVerifyingWithCustomSignatureMethod.SignedXmlHasVerifiableSignature failed with "System.Security.Cryptography.CryptographicException""
Failed test: System.Security.Cryptography.Xml.Tests.SigningAndVerifyingWithCustomSignatureMethod.SignedXmlHasVerifiableSignature

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Xml.Tests/SigningAndVerifyingWithCustomSignatureMethod/SignedXmlHasVerifiableSignature_signatureMethod____http___www_w3_org_2001_04_xm

[2017-05-03 02:53] kinchungwong commented on #15957
Question for possibly a future API proposal.

The description below is a hypothetical situation. **The actual question is at the bottom.**

----

***Hypothetical situation 1***

Suppose someone would like to use:

 * `Array.ConvertWithTruncate(int[] source, int sourceStart, byte[] dest, int destStart, int count)`
   * (where the lowest 8 bits will be kept)
 * `Array.ConvertWithSaturation(int[] sou

[2017-05-03 02:54] Jiayili1 opened #19270 "Desktop: System.Security.Cryptography.Xml.Tests.SigningVerifyingX509Cert.SignedXmlHasCertificateVerifiableSignature failed with "System.NotSupportedException""
Failed test: System.Security.Cryptography.Xml.Tests.SigningVerifyingX509Cert.SignedXmlHasCertificateVerifiableSignature

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Xml.Tests/SigningVerifyingX509Cert/SignedXmlHasCertificateVerifiableSignature/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-03 02:56] Jiayili1 opened #19271 "Desktop: System.Security.Cryptography.Xml.Tests.EncryptionMethodTests.KeySize_SetNegativeValue_ThrowsArgumentOutOfRangeException failed with "Xunit.Sdk.EqualException""
Failed test: System.Security.Cryptography.Xml.Tests.EncryptionMethodTests.KeySize_SetNegativeValue_ThrowsArgumentOutOfRangeException

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Xml.Tests/EncryptionMethodTests/KeySize_SetNegativeValue_ThrowsArgumentOutOfRangeException_value___1_/

MESSAGE:
[code]
STACK TRAC

[2017-05-03 02:59] Jiayili1 opened #19272 "Desktop: System.Security.Cryptography.Xml.Tests.EncryptedXmlTest.DecryptData_CipherReference_InvalidUri failed with "System.ArgumentNullException""
Failed test: System.Security.Cryptography.Xml.Tests.EncryptedXmlTest.DecryptData_CipherReference_InvalidUri

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Xml.Tests/EncryptedXmlTest/DecryptData_CipherReference_InvalidUri/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-03 03:00] Jiayili1 commented on #19268
Following tests failed with same issue:
 System.Security.Cryptography.Xml.Tests.ReferenceTest.Ctor_Uri
 System.Security.Cryptography.Xml.Tests.ReferenceTest.Ctor_Stream

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Xml.Tests/ReferenceTest/Ctor_Uri_uri__null_/

[2017-05-03 03:03] Jiayili1 opened #19273 "Desktop: System.Security.Cryptography.Xml.Tests.RSAKeyValueTest.LoadXml_InvalidXml failed with "System.FormatException""
Failed test: System.Security.Cryptography.Xml.Tests.RSAKeyValueTest.LoadXml_InvalidXml

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Xml.Tests/RSAKeyValueTest/LoadXml_InvalidXml_xml_____KeyValue__RSAKeyValue__Modulus_gZ1_O7iks9ncETqNxL______/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-03 03:04] krwq commented on #19090
@ianhays possibly got fixed or intermittent. Let's reopen if it repros for anyone again

[2017-05-03 03:05] hughbe commented on #19220
[code]

The `day` field depends on `randomYear`. However, the year is `RandomYear()`. `RandomYear() != randomYear` most of the time. So I guess if `RandomYear()` is a leap year, `randomMonth == 2`, and `RandomDay(randomYear, randomMonth)` is greater than 29 or whatever, the test will fail.

[2017-05-03 03:06] Jiayili1 opened #19274 "Desktop: System.Security.Cryptography.Xml.Tests.KeyInfoX509DataTest.AddIssuerSerial_Issuer_Null failed with "System.NullReferenceException""
Failed test: System.Security.Cryptography.Xml.Tests.KeyInfoX509DataTest.AddIssuerSerial_Issuer_Null

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Xml.Tests/KeyInfoX509DataTest/AddIssuerSerial_Issuer_Null/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-03 03:08] Jiayili1 opened #19275 "Desktop: System.Security.Cryptography.Xml.Tests.KeyInfoX509DataTest.AddIssuerSerial_Null_Serial failed with "System.ArgumentException""
Failed test: System.Security.Cryptography.Xml.Tests.KeyInfoX509DataTest.AddIssuerSerial_Null_Serial

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Xml.Tests/KeyInfoX509DataTest/AddIssuerSerial_Null_Serial/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-03 03:12] #18869 closed

[2017-05-03 03:12] davidsh commented on #18376
Fixed with PR https://github.com/dotnet/corefx/issues/19251

[2017-05-03 03:12] #18376 closed

[2017-05-03 03:16] jcouv commented on #18528
@jnm2 The compat discussion is still not settled, but it seems that we shouldn't update the implementation in coreFX. Otherwise, we'd be introducing a significant break from people moving from 4.6.x plus package (no NRE) to 4.7 (throws NRE).

[2017-05-03 03:18] AlexGhiondea opened #19276 "Inconsistent results with Parallel.For"
Running this code produces inconsistent results:

[code]

[2017-05-03 03:34] danmosemsft commented on #19260
Yeah it's not just my job.
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug_prtest/2828/

[2017-05-03 03:35] danmosemsft commented on #19260
I'm going to disable it for this issue to unblock CI.

[2017-05-03 03:38] danmosemsft commented on #19260
Reenable test when fixing..

[2017-05-03 03:44] jnm2 commented on #18528
@jcouv

This was done with https://github.com/dotnet/corefx/issues/18432. I believe that this is par for the course and one of the reasons that https://github.com/terrajobst/platform-compat is being developed.

[2017-05-03 05:29] hazzik commented on #16795
@weshaggard

I'm trying to port my stuff to .NetCoreApp, but strangely with version 2.0.0-preview2-25303-01 it tries to consume netstandard1.3 instaed of netstandard2.0 of System.Data.SqlClient.

Am I doing something wrong?

[2017-05-03 05:47] Jiayili1 opened #19280 "Desktop: System.Diagnostics.Tests.HttpHandlerDiagnosticListenerTests.TestCanceledRequest failed with "System.Net.WebException""
Failed test: System.Diagnostics.Tests.HttpHandlerDiagnosticListenerTests.TestCanceledRequest

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Diagnostics.Tests/HttpHandlerDiagnosticListenerTests/TestCanceledRequest/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-03 05:52] Jiayili1 opened #19281 "Desktop: System.Net.Sockets.Tests.SendReceiveApm.SendRecv_DisposeDuringPendingReceive_ThrowsSocketException failed with "System.ObjectDisposedException""
Failed test: System.Net.Sockets.Tests.SendReceiveApm.SendRecv_DisposeDuringPendingReceive_ThrowsSocketException

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Net.Sockets.Tests/SendReceiveApm/SendRecv_DisposeDuringPendingReceive_ThrowsSocketException/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-03 06:20] Jiayili1 opened #19283 "Desktop: Tests under "System.Security.Cryptography.Cng.Tests.RsaCngTests" failed with "System.Security.Cryptography.CryptographicException""
Failed tests:
System.Security.Cryptography.Cng.Tests.RsaCngTests.RSACng_Ctor_UnusualKeysize_1032
System.Security.Cryptography.Cng.Tests.RsaCngTests.RSACng_Ctor_UnusualKeysize_384

Detail:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/39/testReport/System.Security.Cryptography.Cng.Tests/RsaCngTests/RSACng_Ctor_UnusualKeysize_1032/
https://ci.dot.net/job/dotnet

[2017-05-03 06:24] SergeyKanzhelev commented on #19052
@lmolkova it wouldn't disable it, it will improve it. My understanding is those callbacks are only for header insertion/reading

[2017-05-03 06:41] Jiayili1 commented on #13298
This issue is repro on Core Tests in build 20170503.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170503.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FNoCallback_RevokedCertificate_NoRevocationChecking_Succeeds

[2017-05-03 06:42] Jiayili1 commented on #5485
This issue is repro on Core Tests in build 20170503.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170503.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PostScenarioTest~2FPostEmptyContentUsingChunkedEncoding_Success(serverUri:%20http:~2F~2Fcorefx-net.cloudapp.net~2FE

[2017-05-03 06:43] Jiayili1 commented on #17537
This issue is repro on Core Tests in build 20170503.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170503.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SchSendAuxRecordHttpTest~2FHttpClient_ClientUsesAuxRecord_Ok

[2017-05-03 06:49] dotnet-mc-bot opened #19284 "Test: System.Globalization.Tests.NumberFormatInfoNumberGroupSizes/NumberGroupSizes_Get failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Globalization.Tests.NumberFormatInfoNumberGroupSizes/NumberGroupSizes_Get(format: NumberFormatInfo { CurrencyDecimalDigits = 2, CurrencyDecimalSeparator = \".\", CurrencyGroupSeparator ...` has failed.

Assert.Equal() Failure
    Expected: Int32[] [3, 2]
    Actual:   Int32[] [3]

        Stack Trace:

           at System.Globalization.Tests.NumberF

[2017-05-03 06:50] Jiayili1 commented on #19284
Closed Issue: https://github.com/dotnet/corefx/issues/17643

[2017-05-03 06:55] Jiayili1 opened #19285 "Fire Issue: System.Net.Socket.Tests failed to generate the test result"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170503.01/workItem/System.Net.Sockets.Tests/wilogs

[code]

[2017-05-03 07:05] dotnet-mc-bot opened #19286 "Test: System.Diagnostics.Tests.HttpHandlerDiagnosticListenerTests/TestCanceledRequest failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.HttpHandlerDiagnosticListenerTests/TestCanceledRequest` has failed.

Assert.Equal() Failure\r
    Expected: 1\r
    Actual:   0

        Stack Trace:

           at System.Diagnostics.Tests.HttpHandlerDiagnosticListenerTests.<TestCanceledRequest>d__6.MoveNext() in E:\A\_work\134\s\corefx\src\System.Diagnostics.DiagnosticSource\tests

[2017-05-03 07:09] dotnet-mc-bot opened #19287 "Test: System.IO.Pipes.Tests.AnonymousPipeTest_Write_ServerIn_ClientOut/ValidFlush_DoesntThrow failed with "Xunit.Sdk.EqualException'"
Opened on behalf of @Jiayili1

The test `System.IO.Pipes.Tests.AnonymousPipeTest_Write_ServerIn_ClientOut/ValidFlush_DoesntThrow` has failed.

Assert.Equal() Failure\r
    Expected: 123\r
    Actual:   -1

        Stack Trace:

           at System.IO.Pipes.Tests.PipeTest_Write.<ValidFlush_DoesntThrow>d__9.MoveNext() in E:\A\_work\298\s\corefx\src\System.IO.Pipes\tests\PipeTest.Write.cs:line 222

[2017-05-03 07:25] jlanng commented on #16836
I'd be happy to surface these in CoreFX

[2017-05-03 08:15] Jiayili1 commented on #19238
Failed tests:
ImportExport1032
UnusualExponentImportExport
ImportReset
LargeKeyImportExport
PaddedExport
MultiExport

[2017-05-03 08:20] safern commented on #19238
ImportExport1032 was fixed on: https://github.com/dotnet/corefx/pull/19240

Which was merged after the jenkins build finished, so it shouldn't fail on next builds.

[2017-05-03 09:07] Jiayili1 commented on #19179
@danmosemsft For method GetEntryAssembly()
It already had an attribute [SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework, "On desktop, XUnit hosts in an appdomain in such a way that GetEntryAssembly() returns null")]

Do I need to change it to
[SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework, "dotnet/corefx #19179")]?

[2017-05-03 11:27] akazemis commented on #6371
I need this fix. Is anyone working on it? or is there any other ticket for this fix?

[2017-05-03 11:38] #19276 closed

[2017-05-03 11:39] #19222 closed

[2017-05-03 11:40] #19220 closed

[2017-05-03 12:06] #19221 closed

[2017-05-03 12:36] dannyb2100 commented on #18976
Hey @tarekgh, could not find 'api-ms-win-core-registry-l1-1-0.dll' on my system, but added 'Microsoft.NETCore.Windows.ApiSets' and it runs as expected now.

Thanks again :)

[2017-05-03 13:04] Pzixel opened #19295 "Proposal : runtime attributes"
**Summary**

Making easier to extend existing classes with attributes

**Motivation**

Sometimes we find us in situation when we want to attribute being dynamically added to a class that didn't have it before. It may be `Serializable`, `DataContract` or tons of `Validation`. Very viable example is that we want to display some model in UI and validate user inputs. In Microsoft stack you have to do

[2017-05-03 13:25] tah9m9 commented on #19194
I made the original bug report with the repro project and proposed solution. So I'll be interested in how it is resolved.

[2017-05-03 13:58] AtsushiKan commented on #19295
One problem with this idea is that Reflection CustomAttribute apis are only one way of consuming attributes, and increasingly, not even the preferred way. There's the unmanaged IMetadataImport interface, CCI, System.Reflection.Metadata.dll, and probably others I've overlooked.

So if the idea is to inject new attributes into consumers unaware of your scheme, you have a lot of paths to integrate wi

[2017-05-03 14:09] eerhardt opened #19296 "Segmentation fault with openssl 1.1.0.e when trying to create new projects"
_From @nlowe on May 3, 2017 1:12_

## Steps to reproduce
1. Install openssl `1.1.0.e-1`
2. Create a new console application

## Expected  behavior
The application template is created successfully

## Actual behavior
An empty project file is generated. The application then segfaults with the following stack trace from gdb:

[code]

Downgrading to `1.0.2.k` corrects the problem. I am unsure if this

[2017-05-03 14:09] eerhardt commented on #19296
_From @livarcocc on May 3, 2017 4:34_

@eerhardt @mlorbetske Can we prioritize this investigation? We have been hitting this in CI and now  people are hitting this out in the open.

[2017-05-03 14:09] eerhardt commented on #19296
@bartonjs - any thoughts?

[2017-05-03 14:09] eerhardt commented on #19296
You're installing `openssl 1.1.0.e-1` in CI?

[2017-05-03 14:09] eerhardt commented on #19296
_From @bartonjs on May 3, 2017 5:2_

We require OpenSSL 1.0.2.  1.1.0 is a breaking change that we haven't adopted yet.  https://github.com/dotnet/corefx/issues/9855.  Yakkity is still on 1.0.2, per http://packages.ubuntu.com/yakkety/openssl.

Since 1.1 is a breaking change it should be registered as `libcrypto.so.1.1.0`, not `libcrypto.so.1.0.0`

[2017-05-03 14:09] eerhardt commented on #19296
_From @mlorbetske on May 3, 2017 7:3_

@nlowe when you say empty project file, you mean a zero byte file gets generated & then a segfault or is there any sort of console output from `new` before the crash?

[2017-05-03 14:09] eerhardt commented on #19296
_From @mlorbetske on May 3, 2017 7:17_

@livarcocc from the segfaults we've been seeing in the CLI, they seemed to be happening after project creation finishes but before the app exits.

The success message is present in the outputs for those cases (printed [here](https://github.com/dotnet/templating/blob/rel/vs2017/post-rtw/src/Microsoft.TemplateEngine.Cli/New3Command.cs#L327) for the 2.0 CLI, an

[2017-05-03 14:15] luhenry opened #19297 "Broken CMake check for `accept4`"
In https://github.com/dotnet/corefx/blob/master/src/Native/Unix/configure.cmake#L264 you have `HAVE_ACCEPT4` while in https://github.com/dotnet/corefx/blob/master/src/Native/Unix/Common/pal_config.h.in#L33 you have `HAVE_ACCEPT_4`. This seems like a typo in https://github.com/dotnet/corefx/commit/f2a1529b8a73b9e6c7a194004af3806a108dacf7

[2017-05-03 14:31] pjanotti commented on #19194
I am thinking that it is actually wrong for a Stream derived class to throw if Flush is called, even if it doesn’t support writing. Some points to corroborate that:

* [Here](https://msdn.microsoft.com/en-us/library/system.io.stream.canwrite(v=vs.110).aspx) it mentions the methods that throw NotImplementedException if a Stream derived type does not support writing, but, Flush is not listed there.

[2017-05-03 14:33] steveharter commented on #5485
Closing this as likely dupe of https://github.com/dotnet/corefx/issues/18869 which was just fixed.

Same scenario: chunked encoding + empty string + win7 (2008)

[2017-05-03 14:33] #5485 closed

[2017-05-03 14:40] tah9m9 commented on #19194
I'll can go along with that. Although, my gut tells me that logically Flush is strictly a function of writable streams and Write operations. That it would be called during a Read operation is silly at best and unpredictable at worst. My theory is that the docs simply omitted the Flush operation by some kind of mistake and both should be corrected for consistency in the logical interpretation of ho

[2017-05-03 14:48] karelz commented on #3906
Looks like PerformanceCoutners are used for example by [NLog](https://github.com/NLog/NLog/wiki/platform-support), we could look at it as example of customer usage, to see how to migrate such code to .NET Core / .NET Standard.

[2017-05-03 14:59] weltkante commented on #4100
Is there anything I should do to move this forward? I'm not in a particular hurry, but I'm not sure either what the next steps would be. I assume we are waiting for feedback?

[2017-05-03 15:02] karelz commented on #4100
@nguerrera @tmat it looks like this slipped through in your area. Can you please check it out?

[2017-05-03 15:10] danmosemsft commented on #19283
@bartonjs ?

[2017-05-03 15:19] sharwell commented on #249
If you can use C# 7, one handy way to address this can be seen in dotnet/rosyln#19126. 👍

[2017-05-03 15:21] jkotas commented on #19212
Do we also need to enlighten the runtime to recognize and enforce this attribute as part of this?

[2017-05-03 15:27] nlowe commented on #19296
@mlorbetske @eerhardt There is no console output from `new` before the segmentation fault. When creating the console application, a 0-byte `csproj` was being created.

[2017-05-03 15:27] mmitche commented on #19260
@bartonjs I don't recall doing so, but I could be wrong,  What kind of command would modify the root store?

[2017-05-03 15:33] vancem commented on #19052
I don't understand @lmolkova 's comment above.   The change is basically treating V4.5 the same as V4.6, which, given that it does work on V4.5, seems to be only goodness.

[2017-05-03 15:44] bartonjs commented on #19296
Since OpenSSL 1.1 isn't supported, and we already have an issue for that, I'm closing this issue.

Provided that OpenSSL 1.1 is installed with an SONAME other than libcrypto.so.1.0.0 it shouldn't interfere with .NET, and should be able to exist side-by-side with OpenSSL 1.0.2 (SONAME libcrypto.so.1.0.0)

[2017-05-03 15:44] #19296 closed

[2017-05-03 15:45] karelz commented on #19052
Agreed with @vancem
This looks scary, can you please explain it @lmolkova

[2017-05-03 15:49] karelz commented on #19194
@ianhays can you please comment? The arguments above sound reasonable, but I don't have enough first-hand experience with Streams/CryptoStream to assess the fully ...

[2017-05-03 15:50] karelz commented on #19194
@tah9m9 is it ok if I close the Connect bug? I think the discussion & resolution here is easier to track ... (the end result of when/where/how it will be addressed is the same in both places)

[2017-05-03 15:52] tarekgh commented on #19284
@danmosemsft are we supporting Ubuntu 17.04 now?

[2017-05-03 15:52] bartonjs commented on #19283
net462 fix.  Prior to net462 we got cranky if the key size was invalid per our LegalKeySizes definition.  In net462 we said "eh, the OS says it's fine, here's the answer".  So we'd want to name this condition something like `KeySizeTrustsOSValue` if we want to have feature-named conditions.

[2017-05-03 15:54] tah9m9 commented on #19194
@karelz It doesn't look like I can change the status or do anything to close that Connect issue.

[2017-05-03 15:55] karelz commented on #18976
Cool. So can we close?

Also I wonder if there is some documentation we should update to make it easier for others? Or was it more one off project-specific problem? Or just a rare problem?

[2017-05-03 15:56] bartonjs commented on #19260
`security add-trusted-cert [and some options]` as well as `security add-certificate`.  Or to have used the Keychain Access GUI tool and marked a certificate as "Always Trust".

[2017-05-03 15:58] karelz commented on #19194
You can't, but I can ;-) ... I'll take you comment as 'go ahead' signal ...

[2017-05-03 15:59] tah9m9 commented on #19194
For the discussion.. I can understand if Flush were to be called consistently in the process of every Read (or at least full read) on CryptoStream, but it is only called in this one case where the only variable is stream length.

[2017-05-03 15:59] tarekgh commented on #18976
@gkhanna79 could you please double check why 'api-ms-win-core-registry-l1-1-0.dll was missing in this case? I am expecting all dependency should be installed on windows 7 for 1.1. right?

[2017-05-03 16:06] joperezr commented on #19280
@lmolkova looks like you recently added this test, do you mind taking a look?

[2017-05-03 16:08] karelz commented on #16836
I think it should be in the same manner as `IsSZArray` -- @AtsushiKan @MichalStrehovsky

BTW: @AtsushiKan @MichalStrehovsky for future -- these questions could have been easily avoided if we had [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) (see the example link there) with full API surface, class names, etc. I didn't want to b

[2017-05-03 16:08] joperezr commented on #19286
Is this a dupe of #19280 ?

[2017-05-03 16:09] karelz commented on #16836
@jlanng assigned to you.

[2017-05-03 16:09] joperezr commented on #19280
note that this specific one failed on a desktop run. Perhaps this test should only run on core?

[2017-05-03 16:15] tmat commented on #4100
@weltkante I think we agreed above on adding  ```public ImmutableArray<MethodDefinitionHandle> Others { get; }``` to the PropertyAccessors/EventAccessors structs. The next step would be to create a PR that implements it and adds tests.

[2017-05-03 16:16] AtsushiKan commented on #16836
TypeInfo derives from Type so it gets everything Type gets. There's no need to add new overrides or apis there in the future. TypeInfo is now a relic of the aborted .Net Core minimization of Reflection - it will slowly fade out of sight and mind.

[2017-05-03 16:16] karelz commented on #18581
Thanks @jkotas for catching it. It makes sense. @jlanng no more work is needed here, sorry. I see that you are already picking up other work items, thank you!

[2017-05-03 16:22] weshaggard commented on #19198
Thanks I will submit a fix for that and a PR to update all the configurations.

[2017-05-03 16:29] karelz commented on #4100
Yep @nguerrera was just waiting on your opinion: https://github.com/dotnet/corefx/issues/4100#issuecomment-292672561

If you (the owners) are ok with the API shape, please update the top post with final API shape and mark it for API review (api-ready-for-review). Once it gets approved, it can be implemented.

[2017-05-03 16:34] tmat commented on #4100
@karelz My opinion was expressed by 👍 on Nick's proposal.

[2017-05-03 16:39] gkhanna79 commented on #18976
If the apiset package contains it, it should be there. Is there a repro for it?

Thanks,
Gaurav
________________________________
From: Tarek Mahmoud Sayed <notifications@github.com>
Sent: May 3, 2017 9:05 AM
To: dotnet/corefx
Cc: Gaurav Khanna (CLR); Mention
Subject: Re: [dotnet/corefx] Unable to run new app: System.DllNotFoundException: Unable to load DLL 'api-ms-win -core-registry-l1-1-0.dll': T

[2017-05-03 16:41] tarekgh commented on #18976
@dannyb2100 could you please provide a simple repro project to @gkhanna79 ? Thanks

[2017-05-03 16:49] karelz commented on #4100
Well, not sure when you added it, but as you see it was not clear ;-)

Also you still didn't mark the bug for next stage (API review) - which should have happen once area experts/owners make the decision ...

[2017-05-03 16:58] tmat commented on #4100
Updated the proposal and marked for API review.

[2017-05-03 17:00] karelz commented on #19198
Actually there seems to be workaround suggested on the Connect issue which I missed (sorry!): https://connectadmin/Feedback/ConnectTab.aspx?FeedbackID=1765025

Here it is (from Bruno C Dias Ribeiro on 4/6/2016 at 5:46 PM):

We caught ourselves in this same issue here while trying to validate the Peru TSL (Trust Service List) (https://iofe.indecopi.gob.pe/TSL/tsl-pe.xml). It did not propagate the e

[2017-05-03 17:03] karelz commented on #19198
I don't know enough about SignedXml to judge if it makes the original bug report invalid, or what else to think about it. @tintoy do you have opinion? (Or should I ask @krwq to take a look?)

It seems that it helped the original reporter:

[2017-05-03 17:05] lmolkova commented on #18418
fixed with #18881

[2017-05-03 17:05] #18418 closed

[2017-05-03 17:09] WinCPP commented on #18017
@onovotny in case of Size * int, I believe we are ok with integer overflow on same lines as in case of `Add` ([link](https://github.com/dotnet/corefx/blob/ae6bf515460f425096df92e4305f2e324c5bb9ed/src/System.Drawing.Primitives/src/System/Drawing/Size.cs#L138))...? Thanks!

[2017-05-03 17:11] lmolkova commented on #19052
@vancem @karelz
Sorry for not being clear.

ApplicationInsights uses EventSource to track HTTP outgoing requests on NET45+.
Recently it started to listen to the HTTP hook implemented in DiagnosticSource.
The hook has higher priority than the EventSource since it gives more information (requests and responses).

So since the hook starts to work on NET45, EventSource listener becomes no-op. It is go

[2017-05-03 17:13] lmolkova commented on #19280
@joperezr
This test intends to run on .NET Desktop. The test is incorrect and I will fix it later today. Feel free to ignore the test in the meantime if needed.

[2017-05-03 17:19] karelz commented on #19052
OK, thanks for explanation - so disabling EventSource is actually a GOOD thing, as it is replaced by usage of more detailed DiagnosticsSource.

[2017-05-03 17:26] nlowe commented on #19296
@bartonjs Thank you for the clarification, however this seems to not work even if I have `openssl` 1.0 installed. It appears inconsistent, as I can sometimes generate new projects, and other times it will segfault. Using the `mvc` template seems to make the segfault occur more frequently.

[code]

[code]

As you can see, `/usr/lib/libcrypto.so.1.0.0` is indeed from `openssl` 1.0. Should I open a n

[2017-05-03 17:38] optlink commented on #9855
We're attempting to work out the Arch Linux problems here: https://bbs.archlinux.org/viewtopic.php?pid=1708479

We've got openssl 1.0 linking but running anything network related from the CLI causes segfaults. Since curl links to openssl 1.1 and is also used by this project we are trying to link to a version of it built with openssl 1.0. We cannot get cmake to find and link the correct version of

[2017-05-03 17:43] #19284 closed

[2017-05-03 17:52] bartonjs commented on #19296
@nlowe Oh, you're on arch.  https://github.com/dotnet/corefx/issues/9855#issuecomment-298982251 -> https://bbs.archlinux.org/viewtopic.php?pid=1708479 shows fellow users-of-arch trying to make things work.  If you get a repro on one of the supported distros (RHEL, Ubuntu, Mint, Debian, Fedora, CentOS, Oracle, openSUSE) which doesn't involve OpenSSL 1.1, I'd be happy to have a new issue tracking it

[2017-05-03 17:53] danmosemsft commented on #19284
Yes.
What we have published: https://github.com/dotnet/core/blob/master/roadmap.md  says generally says we support "version N and later".

In practice that means we support all released versions that are in support at the time we ship. Since we haven't shipped yet that will mean we will need to support some distro versions that as of today aren't released (eg Debian 9)

Any later versions beyond t

[2017-05-03 17:55] joperezr commented on #19280
@lmolkova great thanks, I'm assigning the issue to you then.

[2017-05-03 17:57] nlowe commented on #19296
@bartonjs hmm, that may be. I'll read that thread, thanks for the link

[2017-05-03 18:00] tarekgh opened #19305 "Support building corefx on Ubuntu 17.04 and OSX 10.13"
When building corefx on Ubuntu 17.04 getting some error like:

[code]

[2017-05-03 18:00] bartonjs commented on #9855
@optlink Ooooh, so not "network" (sockets / NetworkStream), but "HTTP".  That's pretty different, in terms of what code runs.

The best way to bootstrap might be to build libcurl with some other provider (libcurl+nss, perhaps?).  That'll prevent us from trying to talk to it, since we'll know the pointers are nonsense.  (Well, because it'll respond to the OpenSSL callback option with CURLE_NOT_BUIL

[2017-05-03 18:01] tarekgh commented on #19305
CC @mellinoe

[2017-05-03 18:02] mbowman8 commented on #9788
Thanks @rubit0 for the solution!

[2017-05-03 18:02] tarekgh commented on #19305
#19284

[2017-05-03 18:03] weshaggard commented on #19194
I think you were hitting https://github.com/dotnet/buildtools/pull/1468 which we just fixed yesterday in our tools repo and should get integrated into our toolset in a few days.

[2017-05-03 18:05] tarekgh commented on #19284
We didn't support building corefx on Ubuntu 17.04 yet. I filed issue per @mellinoe request so we can build on Ubuntu 17.04

[2017-05-03 18:10] bartonjs opened #19306 "Check libcurl TLS backend version to avoid calling into OpenSSL 1.1"
If we end up in a sheared state where we're linked against OpenSSL 1.0(.2) (the best we currently support) but libcurl is linked against OpenSSL 1.1 (the newest version) we'll try interpreting incompatible pointers; leading to strange behaviors, including segfaults.

Since the distro changing libcurl to use openssl11 could occur even with OpenSSL 1.0 still being on the system the only sign of prob

[2017-05-03 18:11] bartonjs commented on #9855
I created #19306 for the libcurl+openssl11 problem.

[2017-05-03 18:13] bartonjs commented on #19306
Actually, what we probably actually want to know is if it's using OpenSSL is it the exact same libssl/libcrypto.  So if anyone knows any way of determining that, that'd be great.

(Not just "same version"... if it's different `.so` files then they could have different compile options, making pointer-passing still unsafe)

[2017-05-03 18:17] ianhays commented on #18546
I cannot repro this failure locally and have not seen it fail in CI.

Also, the linked failure in the OP actually shows this test passing, not failing.

[2017-05-03 18:18] vancem commented on #19091
Don't forget to re-enable the test after this is fixed (disabled with #19291)

[2017-05-03 18:22] ianhays commented on #18546
I can repro this failure locally when run in a loop.

Also, the linked failure in the OP actually shows this test passing, not failing.

[2017-05-03 18:23] optlink commented on #19306
@bartonjs I can already build different versions of curl with openssl 1.0 linked or not, the problem I'm having is that System.Net.Http.Native.so won't be linked to it because cmake won't find it even if I pass in DCURL_LIBRARIES. I don't think I can rebuild my distro's default curl without openssl without causing issues in other places, so it's going to have to be overridden somewhere.

Any ideas

[2017-05-03 18:24] JanLenoch commented on #19098
Thanks @karelz , @stephentoub and others for pointing me to the HTTPS > HTTP issue. Sorry for mistakes in my code. I've just botched these examples from a different working code, without actually compiling them.

Upon experimenting with request headers, I've managed to avoid that Gravatar's HTTPS > HTTP issue. Without such redirect, HttpClient did its job perfectly!

[2017-05-03 18:27] steveharter opened #19307 "Modified SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync can't handle large buffers"
The test SocketPerformanceAsyncTests.SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync was modified to send a large buffer which occasionally fails under Unix, but works under Windows.

To repro the error, modify the test variables as follows:
[code]
The smallest buffer that repros was 4096 but that does not repro as easily as 8192. A buffer size of 2048 did not repro even after tho

[2017-05-03 18:28] vancem commented on #19052
Fixed with PR #19262

[2017-05-03 18:28] #19052 closed

[2017-05-03 18:33] #18726 closed

[2017-05-03 18:34] #19281 closed

[2017-05-03 18:45] Pothulapati commented on #17917
@safern In The CoreRt Repo,If I remove the GetValueOrDefault Methods from the Dictionary,I Get The Following Error
`    4>src\System\RtType.cs(1203,46): error CS1061: 'Dictionary<string, RuntimeEventInfo>' does not contain a definition for 'GetValueOrDefault' and no extension method 'GetValueOrDefault' accepting a first argument of type 'Dictionary<string, RuntimeEventInfo>' could be found (are yo

[2017-05-03 18:48] jnm2 commented on #17917
(@Pothulapati That would be easier to read if fenced with ```` ``` ```` ... ```` ``` ````.)

[2017-05-03 18:53] ianhays commented on #19287
It looks like this is failing because the netcore ReadByte is blocking for a result, whereas the netfx ReadByte is just returning -1.

[2017-05-03 18:54] #19297 closed

[2017-05-03 18:56] Pothulapati commented on #17917
@safern  Sorry,I mentioned that the error is from CoreRt repo(edited the comment now),The error is from the Coreclr repo.
@jnm2 Oh Yes.I was thinking the same but didn't know how to change .Thanks,:D

[2017-05-03 19:09] danmosemsft commented on #18726
@Jiayili1 two issues got mixed into one here.
This issue is about Unix.
Your comment here https://github.com/dotnet/corefx/issues/18726#issuecomment-298505991 is about Nano. Can you please open a new issue for that one.

[2017-05-03 19:13] pjanotti commented on #19194
Thanks @weshaggard

[2017-05-03 19:16] alexperovich commented on #6371
Nobody is working on this right now.

[2017-05-03 19:29] VSadov commented on #19212
@terrajobst - should this become "api-approved" or we have some open issues?

[2017-05-03 19:33] VSadov commented on #19212
@jkotas - making runtime recognize this attribute seems like a separate item.
It seems that can be done only after the attribute actually exists and added to the types.

I am wondering what runtime could do with the attribute? - like refuse to JIT code that places this on the heap?

[2017-05-03 19:34] safern commented on #17917
Maybe we should move CollectionExtensions implementation to S.Private.Corelib because it seems like CoreRT and CoreCLR implementations uses `Dictionary<TKey, TValue>.GetValueOrDefault()`

cc: @stephentoub @jkotas @ianhays

[2017-05-03 19:35] jkotas commented on #19212
It is separate work item, but it is part of the same feature. Have you thought through what kind of breaking potential is going to come from shipping the attribute in one release and the actual enforcement in later release?

It will do what it does for the existing hardcoded set of byref-like types: https://github.com/dotnet/coreclr/search?utf8=%E2%9C%93&q=IsByRefLike&type=

[2017-05-03 19:44] ianhays commented on #19287
The issue is that it doesn't seem to be doing it every time. I can run the test code in a loop and the assertion will either fail the first time or not at all. It's not the only test that seems to be affected in this way, but the other ones fail in a more expected manner:

[code]

The other tests that have failed similarly are `System.IO.Pipes.Tests.AnonymousPipeTest_Specific.ReadModeToByte_Accept