[2017-03-13 19:25] ianhays commented on #15098
@ViktorHofer did you end up making any progress on this issue?

[2017-03-13 19:31] karelz commented on #12535
@Priya91 the PR you referred (#16450) just enables some tests.
Does it mean that the things called out in top post about porting to .NET Core were done in another PR?

[2017-03-13 19:32] mellinoe commented on #15689
We hit this on a regular CentOS run: https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/4507/consoleText

[2017-03-13 19:36] karelz commented on #17056
@shmao 2.1 or Future milestone?

[2017-03-13 19:36] karelz commented on #17055
@shmao 2.1 or Future milestone?

[2017-03-13 19:42] danmosemsft commented on #17028
Actually, assuming I understand that API, `IsAmbiguousTime` wouldn't be relevant in this case, as when one springs forward, there is no ambiguous hour.

[2017-03-13 19:47] danmosemsft commented on #17058
Thank you for doing this @mellinoe I had just done the same analysis and was about to open an issue. My list is the same.

[2017-03-13 19:51] tarekgh commented on #17028
that is right. this is why I said I expect this code to work.

[2017-03-13 19:55] danmosemsft commented on #2089
@karelz for that question, but I think the answer is that this is not currently expected in the 2.0 release, as we don't have a developer scheduled for it. Community contributions are welcome. it doesn't need to ship _in_ the 2.0 release, it can go out on NuGet at any time it is ship ready.

[2017-03-13 20:24] nevcoBpalacio commented on #2089
Perfect! You answered my question.

Thanks.

[2017-03-13 20:39] daveaglick commented on #16322
FWIW, I'm seeing something similar to this when using Roslyn 2.0.0 from within an MSBuild task (the fact that's it's an MSBuild task is probably not germaine, other than that it makes diagnosing the binding problems harder).

I've tried every combination of binding redirects I can think of without luck. I've also tried installing System.IO.FileSystem 4.3.0 directly into the MSBuild task project wi

[2017-03-13 20:39] bartonjs commented on #17058
I don't think we want to make the CNG types work on Linux by magic (@danmosemsft?), so Cng.Tests should be Windows-only.
Csp.Tests is tracked by https://github.com/dotnet/corefx/issues/16585
Pkcs.Tests is tracked by https://github.com/dotnet/corefx/issues/3334
ProtectedData is explictly not supported on !Windows, so should probably be Windows-only.

[2017-03-13 20:40] daveaglick commented on #16913
FWIW, I'm seeing something similar to this when using Roslyn 2.0.0 from within an MSBuild task (the fact that's it's an MSBuild task is probably not germaine, other than that it makes diagnosing the binding problems harder).

I've tried every combination of binding redirects I can think of without luck. I've also tried installing System.IO.FileSystem 4.3.0 directly into the MSBuild task project wi

[2017-03-13 20:47] Priya91 commented on #10504
This doesn't fail locally, re-enabling the test for CI.

[2017-03-13 20:58] Priya91 commented on #12535
Yes, I had put these NTAuth files in a common location, and used them instead of reflecting to Security lib. This was done long back, and hence the issue was closed. Refer PR #13292 referenced in the issue above. It got reopened because the tracking test was pointing to this issue, which is fixed in the #16450 PR.

[2017-03-13 20:59] Priya91 commented on #15689
It would be nice, if the link points to the test failure instead of entire console text.

[2017-03-13 21:05] danmosemsft commented on #16857
We should be careful not to think of Outerloop as the home of flaky tests any more. (We did temporarily dump networking tests there while we stablized them.) Outerloop is the place to get more OS configurations, and to run excessively slow tests. But it's nearly as expensive when stuff fails, our badges turn red, we still open issues and analyze them, make fixes, failures can obscure real bugs. Ar

[2017-03-13 21:06] karelz commented on #12535
Now it makes sense, thanks!

[2017-03-13 21:06] danmosemsft commented on #2089
@nevcoBpalacio any interest in taking a shot at a contribution?

[2017-03-13 21:07] Priya91 commented on #11623
This doesn't fail locally, re-enabling for CI.

[2017-03-13 21:09] danmosemsft commented on #16857
What that means for FSW tests where the API is apparently intrinsically flaky is perhaps that we pick a certain tolerable failure rate and make the test verify that rate. Say, we expect to get the right notification 99% of the time and we would accept 1 spurious failure a month out of 10,000 runs. Then we can calculate a test retry count we are willing to accept. If that's too much thinking, we co

[2017-03-13 21:12] karelz commented on #11623
1 time failure only. Long time ago. Not actionable without more data. @Priya91 please close it once you re-enable the test, thanks!

[2017-03-13 21:13] Priya91 commented on #11623
Thanks @karelz Will close with PR #17065

[2017-03-13 21:17] #15689 closed

[2017-03-13 21:18] Priya91 commented on #17010
@NicolasDorier Can you please provide a repro..

[2017-03-13 21:23] danmosemsft commented on #17058
Whether to remove CNG from netstandard since they aren't impl in Unix is tracked by https://github.com/dotnet/standard/issues/235

[2017-03-13 21:23] nevcoBpalacio commented on #2089
I do have an interest, especially with this topic as I know it holds back many from going to core with enterprise solutions. However, we have a work around and I cannot seem to find the time in the day(evening with kids) for it. I will make an attempt to re-tool my system at home to work with GitHub. I appreciate you asking though! Thanks.

[2017-03-13 21:27] mellinoe commented on #17058
I'm assuming all "AccessControl" assemblies are not supported by-design.

Registry: not supported by design

System.IO.Ports: Still coming online, doesn't work outside Windows

Crypto: Not supported by design

System.ServiceProcess.ServiceController: Not supported by design

System.Threading.Overlapped: Not supported by design

I fixed System.Private.Uri, so everything on this list should be accou

[2017-03-13 21:27] #17058 closed

[2017-03-13 21:30] karelz commented on #17045
@Priya91 do oyu know if we have docs on that? If not, we should create issue to track adding it.

[2017-03-13 21:32] Priya91 commented on #16201
@stephentoub Thanks! The issue i'm trying to understand is how the error happens. We already have data on what the error is.. This seems to happen inconsistently when all of the tests are run in the assembly. When that particular test is run, the failure doesn't repro. Also using Curl directly outside of .NET, issuing 200 easy requests with a multi agent doesn't repro the issue.

@tmds Will try wi

[2017-03-13 21:35] Priya91 commented on #9728
@deepumi Centos default curl installation comes with NSS as crypto backend. Please recompile curl with openssl and then it should work.

[2017-03-13 22:32] brianrob commented on #2751
@WinCPP, thank you for your contribution.  I appreciate it.  Any change to this space should be a bug-level fix, and not something that changes surface area.  This is especially true considering that these APIs are part of netstandard.

Looking at the code, it's not clear to me what the behavior here should be.  It's somewhat convoluted because both TraceListener and Trace have IndentLevel propert

[2017-03-13 22:41] ianhays opened #17067 "Compression.ZipArchive: Expose ExternalFileAttributes for Entries"
# Problem

The ExternalFileAttributes field of a ZipArchiveEntry is currently hidden within the implementation and not accessible. This has been fine in the Windows world since it's not used but it *is* used by Unix's `zip`/`unzip` programs to store file permissions of an entry. As it currently stands, there is no way to carry Unix RWX permissions within a zip, so at unzip time the unzipper has to

[2017-03-13 22:54] #16751 closed

[2017-03-13 23:07] #12509 closed

[2017-03-13 23:09] KrzysztofCwalina commented on #16730
@gafter, any pointers?

[2017-03-13 23:09] jamesqo opened #17068 "Proposal: Convenience API for throwing exceptions"
## Background

It's quite verbose to validate arguments because you have to write an if-statement and `throw new XXXException` for each validation. Even with C# 7's new throw-expressions, you still have to write out the latter part. This makes people write their own helper classes for validating arguments, e.g. [here](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/sr

[2017-03-13 23:11] jamesqo commented on #17068
/cc @KrzysztofCwalina; would such an API be a good idea for corefxlab?

[2017-03-13 23:28] eerhardt commented on #16962
I've debugged the issue.  It appears that the RHEL machines in Helix have a newer version of the tzdata, and the new version appears to break our TimeZoneInfo logic.

I've traced the change down to https://github.com/eggert/tz/commit/c9e6ef07cc6f1062ddd032c96c5172f403c0058f causing the break.  I'll work on getting a fix tomorrow, and doing more investigation on exactly why this change broke us.

[2017-03-13 23:56] ericstj commented on #16918
I went ahead and turned this on, though it might be better if you built the identity package in your own repo. That way you only have to update one thing in corefx: the version of the identity package.

[2017-03-13 23:59] davidsh commented on #17014
C:\Windows\Microsoft.NET\Framework\v4.0.30319\System.Net.NetworkInformation.dll

That dll is a facade and not implementation.  And I thought, the .NET Core builds for 'net46' binary should also create a facade as well even though there is a downloadable NuGet package for System.Net.NetworkInformation.  It's possible that facade assemblies also have the same "binding redirects" problem on .NET Fram

[2017-03-14 00:07] karelz commented on #17014
cc @ericstj for insight ...

[2017-03-14 00:08] abbasl commented on #16994
Facing same issue.

_SCENARIO:_ When opening a connection to a SQL Server database running on Linux (specifically an AWS Lambda), the framework is throwing an unsupported operation exception since System.Runtime.InteropServices operations aren't supported.

_SUGGESTED RESOLUTION:_ Don't throw this exception on non-Windows clients. Similar situation here: https://github.com/StackExchange/StackExcha

[2017-03-14 00:09] Reza1024 opened #17071 "Exposing Windows.Foundation.UniversalApiContract as NuGet package"
Hi,

I am trying to create a netcore library to be consumed in a Windows 10 app (UAP)
[code]
But a big part of the API is not present in `Microsoft.NETCore.UniversalWindowsPlatform` and instead they are some contracts (`Windows.Foundation.UniversalApiContract`, ...) which cannot be added as a reference to the project. So none of the [UWP Apis](https://docs.microsoft.com/en-us/uwp/api/) can be cons

[2017-03-14 00:15] karelz commented on #17021
@terrajobst?

[2017-03-14 00:17] ericstj commented on #16912
It looks like Security.Permissions cannot come out because it is an implementation dependency of Registry and Net.Mail.  Codepages cannot come out because it is an implementation dependency of SqlClient.

[2017-03-14 00:22] #10504 closed

[2017-03-14 00:22] #11623 closed

[2017-03-14 00:23] danmosemsft opened #17072 "Compression tests are writing their test files to their install directory"
Compression tests are writing their test files to their install directory. In appcontainer, they apparently can't do that.

In the example below, `ZipTestData\StrangeZipFiles\largetrailingwhitespacedeflation.zip` comes from the test and it's just suffixed onto the folder of the dll, which I guess is the current directory.

[code]

@AlexGhiondea this was in your private run.

[2017-03-14 00:24] Petermarcu commented on #16992
@JeremyKuhne

[2017-03-14 00:45] Priya91 commented on #16610
[code]

[2017-03-14 00:47] Priya91 commented on #16610
Not able to repro locally.

[2017-03-14 00:49] tarekgh commented on #17021
Issue moved to [dotnet/sdk #984](https://github.com/dotnet/sdk/issues/984) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-14 00:49] #17021 closed

[2017-03-14 00:54] JeremyKuhne commented on #16992
You can specify any filename you like if you want to. That said I'm tentatively ok with the concept, but I'm not super comfortable with deployment expectations. Can we say confidently that there would likely not be a foo.exe that didn't match foo.dll?

[2017-03-14 00:55] karelz commented on #17021
@tarekgh does it mean it is "just" limitation in the templates? (i.e. SDK)

[2017-03-14 01:12] tarekgh commented on #17021
I am seeing this the tool chain to create VB.NET app which mainly is VB compiler and the targets to build it. I am not seeing we'll have any changes in the library or the runtime side.

[2017-03-14 01:14] karelz commented on #17068
BTW: I don't think using corefxlab would bring too much benefit in this case.

[2017-03-14 01:19] karelz commented on #17026
@ericstj @terrajobst any advice?

[2017-03-14 01:23] Reza1024 commented on #17071
[sdk](https://github.com/dotnet/sdk) repo is propbably more appropriate for this issue, moved it there: https://github.com/dotnet/sdk/issues/986

[2017-03-14 01:23] karelz commented on #17032
That's weird. Is that expected @terrajobst @ericstj? SDK bug?

[2017-03-14 01:27] karelz commented on #17021
Fair, let's hope we don't need any changes to Microsoft.VisualBasic then.

[2017-03-14 01:31] jamesqo commented on #17068
@karelz Why not?

[2017-03-14 01:35] eerhardt commented on #16962
When parsing the `America/Catamarca` tzfile on the Helix RHEL machine, we are getting a POSIX format that looks like `<-03>3`, which was breaking our parsing rules, and is causing the exception.

Here's the [change to the `tzset.3` man pages](https://github.com/mkerrisk/man-pages/commit/4faf9583af02a8fab4d9784b5349e22516ff0d05) that allows for this new format.

Basically, we need to change the [TZ

[2017-03-14 01:48] tarekgh commented on #17032
cc @weshaggard

[2017-03-14 01:51] VSadov commented on #16767
@joperezr  - yes, I want to write a formal proposal, just did not have time for that lately.

[2017-03-14 02:08] NicolasDorier commented on #17010
I will try. This come from a customer running the same code as me on the same ubuntu, the only different we spotted is that he is low on memory. This problem is transient. (one call fail, and 3 will succeed)

Will try to repro, but how to repo GC activity?

[2017-03-14 02:16] Jiayili1 commented on #16593
Failed again on [20170313.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170313.01/workItem/System.Memory.Tests/analysis/xunit/System.SpanTests.ReadOnlySpanTests~2FIndexOverflow)

[2017-03-14 02:19] Jiayili1 commented on #16962
This issue is repro on build [20170313.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170313.01/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.TimeZoneInfoTests~2FIsDaylightSavingTime_CatamarcaMultiYearDaylightSavings)

[2017-03-14 02:23] jamesqo opened #17075 "StringBuilder's indexer throws different exceptions for get & set"
[code]

It throws an `IndexOutOfRangeException` with no parameter name for the getter, and an AOORE with `nameof(index)` for the setter. The latter exception seems superior because 1) it includes the parameter name, and 2) IOORE is only supposed to be used by arrays IIRC. Should we consider changing the getter to follow the setter?

[2017-03-14 02:34] jamesqo commented on #17034
@danmosemsft There appear to be some that you have missed, e.g. [here](https://github.com/dotnet/corefx/blob/master/src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs#L1746-L1774), [here](https://github.com/dotnet/corefx/blob/master/src/System.CodeDom/src/System/CodeDom/CodeNamespaceImportCollection.cs#L34). I'm betting that there are a lot more cases in [this gre

[2017-03-14 02:38] KrzysztofCwalina commented on #16593
I talked to @ahsonkhan about this today. He will take a look at fixing it withing the next 2 weeks or so.

[2017-03-14 02:57] karelz commented on #16593
@KrzysztofCwalina @ahsonkhan can you please disable the test right away? We need to decrease noise in CoreFX. Failures like this one impact also per-PR CI runs. Thanks!
All test failures should be treated as P0.5 ...

[2017-03-14 02:59] karelz commented on #17010
You don't repro GC activity. You stress the code path (hit it over and over again). Sometimes you need to set the right conditions (low memory by allocating a lot first).

[2017-03-14 03:03] karelz commented on #17068
Let me turn it around: What kind of benefits do you expect from corefxlab?

[2017-03-14 03:33] karelz commented on #17075
What is the behavior on Desktop?

[2017-03-14 03:43] #9394 closed

[2017-03-14 03:46] jamesqo commented on #17075
@karelz Presumably the same, I think it has been like this from the initial commit to coreclr.

[2017-03-14 03:47] TylerBrinkley commented on #16417
@joperezr just checking if you guys got the chance​ to look over this proposal?

[2017-03-14 03:53] ahsonkhan commented on #16593
@karelz, failing tests disabled in PR #17077

[2017-03-14 03:59] NicolasDorier commented on #17010
thanks a lot I will try.

[2017-03-14 04:01] los93sol commented on #2089
Nevcobpalacio, if you use vs17 and don't require cross plat you can get a bit closer to what you want by using the core web app template targeting the full .net framework and ref the system.directoryservices.accountmanagement dll the old fashioned way and roll your own middleware to do it in the meantime.  From what I've seen the same code should carryover to targeting .net core once this is avail

[2017-03-14 04:05] ahsonkhan opened #17078 "Add tests to increase code coverage for Span<T> APIs"
Here is a snapshot of the coverage:
![image](https://cloud.githubusercontent.com/assets/6527137/23919318/a410e1e2-08b3-11e7-8710-172522e8ebc6.png)

Currently, SpanHelpers, specifically SpanHelpers.Clear.cs needs tests.
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/System.Memory_SpanHelpers.htm

[2017-03-14 04:14] AlexGhiondea commented on #5558
@stephentoub it is possible that this was only an issue in N and not in Core.

[2017-03-14 04:15] AlexGhiondea commented on #14695
@stephentoub yes.

At the time, it was not clear if we were going to bring back the LicenseFile property.

[2017-03-14 04:23] jkotas commented on #14533
This is not just a test issue. The primary issue here is that the array variance checks are done incorrectly in the slow Span.

[2017-03-14 04:52] danmosemsft commented on #17034
Right -- and another 10-15 in Corelib.

Now we just need a volunteer to plow through some of these.

[2017-03-14 05:29] danmosemsft opened #17080 "UnloadingEventMustHappenBeforeProcessExitEvent failed in CI"
This is the first use of the folder for this test -- it's upstream of the remote process. It appears that FileCleanupTestBase failed to make the directory. Need to add logging.

[code]

Perhaps we should log (Console.WriteLine if necessary)

[code]

[2017-03-14 05:34] #16949 closed

[2017-03-14 05:57] danmosemsft commented on #17037
@JeremyKuhne the code does RegQueryInfoKey to get the number of values in the key. Then it calls RegEnumValue passing it indexes until it reaches the number of values it got earlier. If the number of values has been reduced during enumeration then RegEnumValue returns ERROR_NO_MORE_ITEMS according to MSDN.

Perhaps an environment variable was just cleared between the two function calls. I suggest

[2017-03-14 06:01] danmosemsft commented on #17037
I see this code was just copied from Desktop.

[2017-03-14 06:01] jkotas commented on #14533
It is not complex.

[2017-03-14 06:18] Jiayili1 opened #17083 "System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_EachServerUnsupportedProtocol_Fail fail in CI"
Configuration: OuterLoop_Fedora24_debug ([build#116](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora24_debug/116/testReport/))

Failed test: System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_EachServerUnsupportedProtocol_Fail

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora24_debug/116/consoleText

Message:
[code]

Stack

[2017-03-14 06:44] hughbe commented on #17075
https://github.com/Microsoft/referencesource/blob/master/mscorlib/system/text/stringbuilder.cs#L515

[2017-03-14 06:45] hughbe commented on #17075
And tests exist for this here: https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/Text/StringBuilderTests.cs#L147

[2017-03-14 07:38] wuyifan opened #17086 "Broken pipe exception when child process crashed on Linux"
Create a child process and redirect the stdout.
If the child process crashed, the parent process will get a IOException after a period of time, and this exception can not be caught.
Running on Windows is all right.

**Environment:**
Ubuntu 16.04
dotnet core 1.0.4 & 1.1.1

**Code:**
Process process = new Process();
process.StartInfo.FileName = XXXX;
process.StartInfo.Arguments = XXXX;
process.Start

[2017-03-14 08:35] GZidar commented on #15031
@haraldnagel You are quite correct that specifying the startup project does make the commands work (well spotted), but it is interesting that changing to netcoreapp1.0 also makes it work. Thank you and @karelz for following up despite this being a PEBKAC issue.

[2017-03-14 09:28] alenjalex commented on #17043
oh... my bad... :)
Thanks @karelz . Will do accordingly.

[2017-03-14 09:33] Jiayili1 opened #17088 "Test: System.Data.SqlClient.Tests.SqlConnectionBasicTests.ConnectionTest failed in CI"
Failed test: System.Data.SqlClient.Tests.SqlConnectionBasicTests.ConnectionTest

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_debug/1369/consoleText

Configuration: InnerLoop_Fedora24_debug (build#1369)

Message:
[code]

Stack Trace:
[code]

[2017-03-14 09:40] jesperll opened #17089 "Matrix4x4 perspective helper methods do not handle farPlaneDistance = float.PositiveInfinity"
All Matrix4x4.CreatePerspective* methods are affected

If you pass in float.PositiveInfinity as farPlaneDistance the resulting matrix is invalid:
M33 and M43 are both float.NaN
They should be -1 and -nearPlaneDistance respectively

As a workaround you can use float.MaxValue instead but I think float.PositiveInfinity should create a valid projection matrix as well.

[2017-03-14 10:04] Noldax commented on #16967
**Stack Trace :**
[code]

[2017-03-14 10:09] JonHanna commented on #17075
There are other indexers that throw IOORE and the documentation certainly suggests it should be used in such cases. I'd consider it superior to AOORE in such cases where it not that those which throw AOORE are more numerous, and hence probably the one to go for.

Throwing one sometimes and the other other times is definitely unfortunate though, it's also quite possibly what someone has a dependenc

[2017-03-14 10:33] NicolasDorier commented on #17010
I did not manage to reproduce on the microsoft docker image.
A customer of mine have this error. I tried to reproduce with this code:

[code]
To no success...

[2017-03-14 10:40] NicolasDorier commented on #17010
here is a repro:
[code]

Running the latest docker:

[code]

[code]

Running docker image microsoft/dotnet:latest (id 0abf88e1ef29)

[2017-03-14 12:02] #5558 closed

[2017-03-14 12:14] stephentoub commented on #16967
No, that's unrelated.  This doesn't work by design: the Stream returned doesn't support seeking (it's streaming data from the server) and thus doesn't allow you to access its Length.  It worked when changing from using HttpWebRequest to HttpClient because the GetAsync method used with HttpClient by default buffers the output into a MemoryStream, which is the stream that ends up being returned and

[2017-03-14 12:35] #16116 closed

[2017-03-14 12:59] fubar-coder opened #17093 "Convenience extension methods for Span<T> for interop with IEnumerable<T> et al?"
There doesn't seem to exist a method that allows the creation of an `IEnumerable<T>` from a `Span<T>`.

Useful extension methods would include:

* `ToEnumerable()`

  Useful for passing a `Span<T>` to a function accepting `IEnumerable<T>` (e.g. for LINQ)

* `GetEnumerator()`

  Should save one allocation when compared to `ToEnumerable()`

* `AsReadOnlyList()`

  For indexed access in code indicati

[2017-03-14 13:08] dmitriyse opened #17094 "Proposal: Add Result property to non generic Task."
Suppose you have some method:
[code]

[2017-03-14 13:16] dmitriyse commented on #17094
or we can introduce some contract that is useful in many other places:
[code]

[2017-03-14 13:28] sklivvz commented on #11672
I can confirm ILMerge.exe fails with .net core win64 assemblies:

[code]

[2017-03-14 13:55] omajid commented on #16256
Is there some way community can provide input on the review list? For example an individual or an organization may strongly desire a fix and would be willing to help with the review/testing workload.

In terms of reports and requests for a fix, is any consideration applied to "hey, I am user running into bug foobar, please fix!" vs "hey, i am running into bug foobar, fix is baz and here's how I te

[2017-03-14 14:15] JonHanna commented on #17094
What should it do with a `Task` that doesn't have a result (the sort of operation that would be `void` if not async?)

Why not just make `MySample` generic?

[2017-03-14 14:19] eerhardt commented on #17067
I like it. Thanks for writing this up.

I also like that making me happy is a benefit.  😆

[2017-03-14 14:22] dmitriyse commented on #17094
1) Making MySample generic sometimes impossible. Generics is a virus - all path of instance traveling should be generic. For example why WPF was not implemented all in Generics - the answer is too heavy code (places with 10+ generic arguments).

2) Task.Result for Task (with out result) will always return null and it's no problem.

[2017-03-14 14:22] eerhardt commented on #17067
One quick question, the [zip spec](https://pkware.cachefly.net/webdocs/APPNOTE/APPNOTE-6.3.3.TXT) you pointed out just lists the "external file attributes" as "4 bytes".  Would it make more sense to expose this as a `uint`?

[2017-03-14 14:31] stephentoub commented on #17094
It is a problem.  It suggests that all non-generic tasks have results, and they don't.  There's also no way to differentiate null as a valid result from null meaning the Task doesn't have one. Further, this could have a perf impact, as Task doesn't store the result, rather the derived `Task<TResult>` does; that means that either the field would need to be moved down to Task, in which case it would

[2017-03-14 14:33] dmitriyse commented on #17094
Please pay attention to my second post in this thread. This problem can be solved.

[2017-03-14 14:41] stephentoub opened #17099 "Improve System.Net.Security code coverage (58%)"
It's currently at 58.3% line and 45% branch.  Both of these would ideally be at least above 80%.

Status on 6/4/2018:

System.Net.Security | 6025 | 2721 | 8746 | 32749 | 68.8% |  55.2%
-- | -- | -- | -- | -- | --  | --

[2017-03-14 15:19] nevcoBpalacio commented on #2089
@los93sol thanks for that suggestion. Our initial discussions are to build it similar to that suggestion and make it a middle ware module that we can "cut over" to whatever lands in Nuget later. Thanks a bunch!

I have to comment and commend you on this suggestion. I was skeptical at first about this change to core. However, with this community approach, discussions like this come into light and h

[2017-03-14 15:28] stephentoub opened #17103 "EventSource_EventsRaisedAsExpected in System.Net.Security tests failed in CI"
This test turns on events and then calls a few other tests, so the actual failure ("The credentials supplied to the package were not recognized") is coming from System.Net.Security.Tests.SslStreamStreamToStreamTest.SslStream_StreamToStream_Authentication_Success.
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/4621/consoleText
[code]

[2017-03-14 15:30] stephentoub opened #17104 "DSAImportExport.ExportAutoKey test failed in CI on Windows"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/4626/consoleText
[code]

[2017-03-14 15:59] #16566 closed

[2017-03-14 16:02] danmosemsft commented on #14724
Setting ready for review so that Immo sees it

[2017-03-14 16:07] danmosemsft commented on #16430
@Jiayili1 any more hits?

[2017-03-14 16:10] stephentoub commented on #16430
(I'm hopeful #16903 fixed this.)

[2017-03-14 16:13] KrzysztofCwalina commented on #17068
There is a need for APIs like that in corfxlab and in the pletfrom. For example, System.Slices already duplicates this: https://github.com/dotnet/corefxlab/blob/master/src/System.Slices/System/Runtime/Contract.cs

I never turned the Contract.cs APIs into a package as there are several interesting trade-offs here, and I did not have time to think how to resolve them.

Also, I think this is related

[2017-03-14 16:13] danmosemsft commented on #16896
In my opinion that is okay (you could call the field _potentiallyRelevantStack if you want to make it clear...) the point of the callstacks in an exception are diagnostics for a developer, and a developer is sophisticated enough to be able to handle the fact that it may not be relevant. It could save expensive work such as changing the code and waiting for another repro, or attaching a debugger an

[2017-03-14 16:20] danmosemsft commented on #16430
In that case, I'm happy to close this and we'll reopen if it occurs again. @saurabh500

[2017-03-14 16:21] sharwell opened #17106 "Early return possible in ImmutableInterlocked.AddOrUpdate"
If the `valueFactory` returns the same value as was present in the dictionary previously, the [`AddOrUpdate`](https://github.com/dotnet/corefx/blob/343561048c85321713c30b6e69ddd20cfac94dea/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableInterlocked.cs#L262) method can return that immediately. This optimization would be equivalent to the one currently performed by the [`U

[2017-03-14 16:39] joperezr commented on #16417
so sorry about that, we've been triaging issues and haven't got into yours yet, but we are very close!

[2017-03-14 16:50] karelz commented on #16945
cc @Priya91 @ianhays @steveharter

[2017-03-14 16:53] danmosemsft opened #17107 "Need code coverage run for Unix"

[2017-03-14 17:01] stephentoub commented on #17107
First we need a code coverage tool that works on Unix.
https://github.com/dotnet/coreclr/issues/445#issuecomment-277821044

[2017-03-14 17:01] danmosemsft commented on #17080
@Jiayili1 please help grab the logging if this fails again.

[2017-03-14 17:04] jkotas commented on #16896
There is more than just the textual stacktrace. The Exception and ExceptionDispatchInfo also contains extra data for bucketing the crashes that an extra textual _potentiallyRelevantStack field would not just work.

A convenience method that does `Capture(source).Throw()` sounds reasonable for me. Would `ExceptionDispatchInfo.Rethrow` be a better name for it?

[2017-03-14 17:14] sharwell opened #17108 "ImmutableInterlockedTests.InterlockedCompareExchangeArrayDefault has no assertions"
The [`ImmutableInterlockedTests.InterlockedCompareExchangeArrayDefault`](https://github.com/dotnet/corefx/blob/343561048c85321713c30b6e69ddd20cfac94dea/src/System.Collections.Immutable/tests/ImmutableInterlockedTests.cs#L172) test is missing assertions, so while it provides some code coverage it's not currently able to reveal bugs aside from exceptions. Assertions regarding `oldValue` should proba

[2017-03-14 17:15] karelz commented on #17103
Is it a new test case by a chance?

[2017-03-14 17:17] stephentoub commented on #17103
No

[2017-03-14 17:20] danmosemsft commented on #16896
I guess I've been in the situation countless times in previous teams where I've been looking at some log after the fact where either the system or some test harness logged ex.ToString() and that's all I've got. This is all we had in many cases for networking before Stephen made his change to the networking code, and there's still 150 hits of "throw XX" left in CoreFX of which some proportion invol

[2017-03-14 17:22] terrajobst commented on #14724
@kouvel

Your explanation makes total sense. So what about this?

[code]

[2017-03-14 17:23] karelz commented on #17103
cc @Priya91 @ianhays @steveharter

[2017-03-14 17:24] davidfowl commented on #16896
Here's an example:

https://github.com/aspnet/DependencyInjection/blob/7484d22ec24263342fcc9c865b993d183282660c/src/Microsoft.Extensions.DependencyInjection/ServiceLookup/CallSiteRuntimeResolver.cs#L33

[2017-03-14 17:29] gkhanna79 commented on #14724
Looks fine to me.

[2017-03-14 17:31] kouvel commented on #14724
Same here

[2017-03-14 17:35] ianhays commented on #17067
It would make more sense, yes. I get yelled at with CLS-Compliance errors when I switch it to uint though.

[2017-03-14 17:41] #16918 closed

[2017-03-14 17:41] ericstj commented on #16918
@saurabh500 what do you think about producing the identity package in your repo?

[2017-03-14 17:44] terrajobst commented on #16567
Does this require a new API or could we fix the implementation of `GetMethod` to bind to to a generic method? Isn't the new method essentially just a shorthand for `GetMethod("foo", ...).MakeGenericMethod(....)`? And if not, could we change `GetMethod` so it is simply a shorthand?

[2017-03-14 17:47] karelz commented on #17048
Somewhat similar to #5884

[2017-03-14 17:49] danmosemsft commented on #16283
This hit CI again. Thanks for your work on this -- especially since it might be a product issue

[2017-03-14 17:52] Petermarcu commented on #16992
Where do I specify the filename? For standalone apps, we rename the app to be foo.exe and the natural thing to expect is to need to put foo.exe.config.

[2017-03-14 17:52] terrajobst commented on #17048
@AtsushiKan, is your design complete? It seems it's quite involved and we need to talk about this, so we can ask questions in order to fully understand the goals. Could we do this next Tuesday?

[2017-03-14 17:53] eerhardt commented on #17067
😢

[2017-03-14 17:54] terrajobst commented on #17051
Makes sense and looks good as proposed.

[2017-03-14 17:54] stephentoub commented on #17067
@terrajobst, how much do we care about CLS compliance around exposing uint from public surface area?

[2017-03-14 17:55] qizhanMS commented on #16283
Is this time also failed when running code coverage?

[2017-03-14 17:57] bartonjs commented on #10117
As of https://github.com/dotnet/corefx/issues/17011 OpenSSL isn't a dependency for macOS (.NET Core 2.0), unless an application goes out of their way to say something like `new RSAOpenSsl()`.

[2017-03-14 17:57] #10117 closed

[2017-03-14 17:58] karelz commented on #17103
@stephentoub thanks, I was more interested in recent changes to DiagnosticSource in Networking ... if it is unrelated, let's keep it here.

[2017-03-14 18:00] tarekgh commented on #17036
talked offline with @sepidehMS and showed here where is the problem. it is test bug.

[2017-03-14 18:02] stephentoub commented on #16283
Yes

[2017-03-14 18:04] stephentoub commented on #17103
It's unrelated. This is enabling an EventSource and then running some other tests while it's enabled.

[2017-03-14 18:07] terrajobst commented on #16619
We agreed that the syntax with explicit culture (invariant or current) isn't ideal, but that's for the language teams to decided whether that's important to fix. We believe exposing the new API allows static code analysis tools to detect the case (i.e. establish the IL encoding of interpolated strings).

[2017-03-14 18:12] terrajobst commented on #16799
Makes sense. Only suggestion would be to make it a suffix, rather than a prefix so both APIs show up side-by-side in IntelliSense and docs, so:

[code]

[2017-03-14 18:14] svick commented on #17094
@dmitriyse What are the "many other places" where `IObjectHandle<T>` could be used? Without those, I think the interface should be named `ITask<T>`, as proposed in https://github.com/dotnet/roslyn/issues/2981 (though the proposal does not belong in the roslyn repo, it belongs here) and [on UserVoice](https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/5754247-make-task-t-imp

[2017-03-14 18:14] AtsushiKan commented on #17048
@terrajobst  While I'd personally be ok with the design as stated, there's plenty of wriggle room in spec'ing out this api, especially when it comes to the edge cases. (And yes, I half-expected this proposal would be a forcing function to have that discussion.)

So yes, let's indeed discuss further next Tuesday.

[2017-03-14 18:15] karelz commented on #17043
@tquerec is it something you want to track in .NET Core for future? Otherwise, please close.

[2017-03-14 18:17] terrajobst commented on #16833
Looks good, but we'd suggest changing `x` to value:

[code]

[2017-03-14 18:24] karelz commented on #17083
cc @Priya91 @ianhays @steveharter

[2017-03-14 18:25] HaloFour commented on #16567
@terrajobst

No, the methods above disambiguate generic methods by arity, enforce generic constraints and confirm the parameter types to the generic type arguments.  The current API does none of those things which is why the prescribed manner to resolve generic methods is to use `GetMethods` and to interpret every `MethodInfo` manually.

[2017-03-14 18:26] terrajobst commented on #16836
The API would make sense, but the check you proposed doesn't seem right. My understanding is that using `Array.Create` you can create single-dimension, zero based arrays, but those aren't SZ arrays. Your check would return true. It seems the check should be something like this:

[code]

If the original check is indeed the one you intend, then the name should be different.

[2017-03-14 18:27] danmosemsft commented on #17107
Ah - I would say this is very much Future then.
Ideally we would have a way to diff Windows and Unix coverage, I can think of some ways that could be useful.

[2017-03-14 18:34] JeremyKuhne commented on #16992
[`ConfigurationManager.OpenExeConfiguration(string exePath)`](http://source.dot.net/#System.Configuration.ConfigurationManager/System/Configuration/ConfigurationManager.cs,151956d8b621934d)

[MSDN](https://msdn.microsoft.com/en-us/library/ms224437.aspx)

I guess we could go for the `.dll.config` first and fall back to `.exe.config` if it is missing? Ultimately the value comes from `Assembly.GetEnt

[2017-03-14 18:36] karelz commented on #17094
@dmitriyse for future new API proposals please follow [API proposal process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) (esp. the example).

[2017-03-14 18:37] AtsushiKan commented on #16836
I'd want it to return true - they may be "single-dimension" and have "zero bounds" but they aren't the same type and this api is specifically useful for the cases where we have to treat them differently (e.g. string serialization, type name generation.)

Coming up with an accurate but usable name should be interesting in light of the fact that .NET designed two incompatible ways to create single-d

[2017-03-14 18:39] karelz commented on #17108
@sharwell do you plan to submit a PR?

[2017-03-14 18:39] dmitriyse commented on #17094
Ok, thanks. I will inspect this guide.

[2017-03-14 18:42] gkhanna79 commented on #16896
Changing `throw ex;` behaviour is also a breaking change. Also, not all such uses expect to perform a rethrow - they do know it will be a reset of stacktrace.

[2017-03-14 18:48] danmosemsft commented on #16896
@gkhanna79 that's why I was suggesting adding it to a new field on Exception. If there is custom serialization of exception or suchlike - it would be lost. I imagine that's usually not the case.

[2017-03-14 18:49] terrajobst commented on #16896
Looks good as proposed.

[2017-03-14 18:52] svick commented on #17093
I don't think that would work, since `Span<T>` is stack-only and so you can't have for example a method that returns `IEnumerable<T>`, where the returned object contains the `Span<T>`.

On the other hand, I think this should work `Memory<T>`, which is basically a version of `Span<T>` with less limitations, but one that is also less efficient. `Memory<T>` could likely even implement `IEnumerable<T>

[2017-03-14 18:55] gkhanna79 commented on #16896
Please see my earlier response - it sounds confusing relative to the existing usage semantics.

[2017-03-14 18:57] danmosemsft commented on #16896
@gkhanna79 I thought your pushback was a new method on Exception. A new field would not change usage.

[2017-03-14 19:03] gkhanna79 commented on #16896
What purpose would this public do?

[2017-03-14 19:05] sepidehMS opened #17112 "System.UnauthorizedAccessException in System.Tests.EnvironmentTests.OSVersion_ValidVersion"
Test failure in System.Tests.EnvironmentTests.

https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/4636/consoleFull#-8467542952d31e50d-1517-49fc-92b3-2ca637122019

On Windows x86

[code]

[2017-03-14 19:05] ianhays commented on #17103
This is another https://github.com/dotnet/corefx/issues/16516 failure. I'll disable it and add it to the list.

[2017-03-14 19:12] #17028 closed

[2017-03-14 19:19] MichalStrehovsky commented on #16836
@terrajobst If `GetArrayRank() > 1` is true, you don't even need the `!type.IsSZArray` check. This is explicitly something that needs to returns `true` if this is a multidimensional array type, even if it's rank is 1. Multidimensional array of rank 1 is a different type from vector in the .NET type system but reflection API surface doesn't provide good ways to distinguish those.

[2017-03-14 19:22] MichalStrehovsky commented on #16836
`IsMDArray` might be a better name after all. It complements `IsSZArray` and makes people who are not "in the know" not make assumptions about what that name means.

I can see how `IsMultidimensionalArray` would suggest the rank is greater than 1, but that's not how the ECMA-335 spec uses the term, or how the .NET type system operates.

`IsMDArray` puts more cognitive load on people and maybe they

[2017-03-14 19:33] mellinoe commented on #17089
I don't think I have seen a matrix implementation which allows for this special case. All other implementations of a 4x4 matrix exhibit the same behavior as this, meaning `float.PositiveInfinity` is not a valid distance for the far plane. My immediate recommendation would be to create your own specialized factory method which has the semantics you would like, but we can discuss whether you think t

[2017-03-14 19:34] ianhays commented on #10887
Resolved in https://github.com/dotnet/corefx/pull/15730

[2017-03-14 19:34] #10887 closed

[2017-03-14 19:38] ianhays commented on #10890
resolved in https://github.com/dotnet/corefx/pull/15730

[2017-03-14 19:38] #10890 closed

[2017-03-14 19:38] ianhays commented on #13243
resolved in https://github.com/dotnet/corefx/pull/15730/

[2017-03-14 19:38] #13243 closed

[2017-03-14 19:42] sharwell commented on #17108
@karelz Not at this time. I found the issue while working on a Java port of the library (specifically tunnelvisionlabs/java-immutable#40).

[2017-03-14 19:46] ianhays commented on #7702
Closing this as it has been resolved in CoreFX. Just waiting on that new package to be uploaded...

[2017-03-14 19:47] ericstj commented on #17026
Those old packages were never intended to work with the new nuget.  BCL.Build used a powershell script to install its targets which is no longer supported, it then relied on nuget installing reference items with hintpaths to find the references to redirect, which no longer happens.  There's some hacking you could do to make this work but I think manually defining the redirects might be easier.  Mi

[2017-03-14 19:53] AtsushiKan commented on #17051
Adding it to CoreRt now.

CoreClr and CoreFx can be considered up for grabs, for at least the next few days.

[2017-03-14 19:58] WinCPP commented on #2751
Thank you @brianrob. I am enjoying this.

There are two counter functionalities at work over here,
1. Per thread indentation - this intention is evident from the `Trace.Indent` & `Trace.Unindent` methods to  manipulate the `IndentLevel` stored at thread level, allowing per-thread indentation.
2. Per Listener indentation controlled by `TraceListener.IndentLevel` property. But I don't think that was

[2017-03-14 20:02] karelz commented on #13470
Moving to Future. It should not block 2.0 release.

[2017-03-14 20:10] shawnhar commented on #17089
I don't have a strong opinion on this.  There are some use cases for projection matrices with infinite far clip plane (notably in stencil shadow rendering) but this is definitely a corner case and not something that I see widely supported in other matrix implementations.  On the other hand the change seems benign, and this isn't a performance sensitive path so the extra conditionals aren't a big d

[2017-03-14 20:12] #17036 closed

[2017-03-14 20:13] jcouv opened #17116 "Add helper method to describe features supported by the runtime"
As we ramp the compiler and runtimes together, we want to prevent users from compiling code that we know will fail against a certain runtime.
For instance, we plan for newer runtimes to support default implementations in interface, and the compiler should be able to detect that you're compiling against an older runtime without that support.

Previously, this was done by having the compiler look fo

[2017-03-14 20:21] eerhardt opened #17117 "Incorrect trailing TimeZoneInfo.AdjustmentRule on Unix"
On Unix, time zone data is retrieved from tzfiles.  See https://linux.die.net/man/5/tzfile.

The transition times of each time zone are stored in this file.  Every time the offset from UTC changes, an entry is made.  In practice, they are "forecasted" out until about 2037.

In V2 of the tzfile, the time transitions after this "last" transition date are represented by a "POSIX" style string that re

[2017-03-14 20:21] eerhardt commented on #17117
/cc @tarekgh

[2017-03-14 20:23] jamesqo commented on #17068
Nice. Do you or @justinvp have a link to the discussion?

You mean things like annotating parameters with `[NotNull]` [like in EF Core](https://github.com/aspnet/EntityFramework/search?utf8=%E2%9C%93&q=NotNull) for usage errors, and Java-style checked exceptions for runtime errors?

[2017-03-14 20:23] KrzysztofCwalina commented on #17093
As @svick explained, there is no way to do it without making a copy of the data. Span\<T\>.ToArray() copies the data and can directly or indirectly do what @fubar-coder described above.

[2017-03-14 20:33] #17083 closed

[2017-03-14 20:33] #17103 closed

[2017-03-14 20:33] jamesqo commented on #17068
@KrzysztofCwalina BTW, if you like the shape of this API, there is something that would make it even sweeter. A C# language proposal that I neglected to mention earlier is related to this API: https://github.com/dotnet/csharplang/issues/205. If that were implemented, it would allow users to forego having to pass in the argument names at all, and still get descriptive error strings.

[code]

[2017-03-14 20:38] jcouv commented on #17116
CC @marek-safar to represent mono.

[2017-03-14 20:42] shiftylogic opened #17118 "Do loop unrolling for slow span copyto (slow path)"

[2017-03-14 20:57] justinvp commented on #17068
#1525

[2017-03-14 21:00] eerhardt opened #17120 "TimeZoneInfo.AdjustmentRule information is not correct on Unix"
On Unix, we are trying to populate the "DaylightTransitionStart" and "DaylightTransitionEnd" values for the AdjustmentRules.  However, this design is flawed and leads to incorrect data being reported by the API.

See https://github.com/dotnet/corefx/issues/2465#issuecomment-127645308 and the whole issue for discussion on how the Windows-centric TimeZoneInfo.AdjustmentRule API was modified to fit t

[2017-03-14 21:02] danmosemsft commented on #16896
It means if I inspect the exception in a debugger, or possibly do ToString() on it, I see this extra information that may potentially be useful.

[2017-03-14 21:09] tarekgh commented on #17117
Thanks @eerhardt for logging the issue.

[2017-03-14 21:09] #13244 closed

[2017-03-14 21:14] tarekgh commented on #17120
#17117

[2017-03-14 21:15] marek-safar commented on #17116
This is useful but I am curious where do you think this API will live or whether it'll always be compiled in to every assembly

[2017-03-14 21:19] jcouv commented on #17116
I think this API should live in core libraries (ie. along with the `object` type).

[2017-03-14 21:24] Priya91 commented on #12236
It hasn't repro'ed in CI so far, hence closing the issue.

[2017-03-14 21:24] #12236 closed

[2017-03-14 21:24] jaredpar commented on #17116
The API needs to live in corlib: the assembly with no external references and containing `System.Object`.

[2017-03-14 21:26] weshaggard commented on #17032
.NET 4.6 only supports up to .NET Standard 1.3 references based on that compatibility table. So this is expected.

Also note that the compatibility matrix at https://github.com/dotnet/standard/blob/master/docs/versions.md assumes the new set of tools coming with the .NET Standard 2.0 work.  The table that is interesting for the released set of tools is https://github.com/dotnet/standard/blob/maste

[2017-03-14 21:26] #17032 closed

[2017-03-14 21:31] Priya91 commented on #16348
This seems related to issues #16371#15839

Code coverage runs producing AV in multiple test libs..

[2017-03-14 21:31] ianByrne opened #17123 "Missing ncrypt.dll with AWS Lambda"
Honestly, I have no idea if this is the correct place to ask this, so one thousand apologies if it is not - this GitHub repo is the only thing I can find that is in any way related to my error.

I am having troubles authing to the Google API from an AWS Lambda function. When trying to create a GoogleCredential, the following exception is thrown:

The inner exception lists a missing DLL:

This is t

[2017-03-14 21:34] marek-safar commented on #17116
That's little complication as there is no single corlib anymore (think of netstandard(s)) but I guess runtime does not really need to read this enum type declaration after all.

[2017-03-14 21:34] Priya91 commented on #16371
This seems related to issues #16348  #15839

Code coverage runs producing AV in multiple test libs..

[2017-03-14 21:38] jaredpar commented on #17116
The runtime doesn't need to read this enum.  But the compiler needs to know the capabilities of a runtime to decide what features it can enable.  This problem exists precisely because there are so many runtimes out there now 😦

Consider default interface methods as an example.  When targeting Desktop 4.6 this feature can't be enabled.  C# though has no notion of TFMs, frameworks, etc ... All the c

[2017-03-14 21:39] weshaggard commented on #16912
I still want to take a closer look at those dependencies and break them if possible.

[2017-03-14 22:04] mellinoe commented on #17089
I would agree that the only downside is the "overhead" of the extra conditional, but that hardly matters given how often these functions are generally used. The fact that `float.MaxValue` is a direct replacement for this scenario, and the fact that no other libraries allow this, gives me a little pause. At the same time, it would be nice to remove one extra "corner case" for consumers to worry abo

[2017-03-14 22:04] karelz commented on #17032
duh, I entirely misread the table the other way, should have caught it myself, sorry! :(

[2017-03-14 22:06] karelz commented on #16896
Marking as up for grabs - code is mentioned by Stephen above. The only complexity is exposing a new API.
Any takers?

[2017-03-14 22:09] karelz commented on #17083
Closed as dupe of #16516 (in the PR above).

[2017-03-14 22:10] mellinoe commented on #17123
@bartonjs

What operating system does this run on? "ncrypt.dll" is a Windows binary, so it should be present assuming you are running on Windows. It's possible that the code path you are attempting will only work on Windows, and you may need to use a different one on Linux/OSX. I'm not familiar with this Google library, so I can't say for sure about that.

[2017-03-14 22:11] karelz commented on #17116
cc @terrajobst

[2017-03-14 22:18] karelz commented on #17051
@AtsushiKan in that case please mark it as "up for grabs" ;-)

[2017-03-14 22:23] fubar-coder commented on #17093
There's absolutely no way to enumerate over the elements covered by a span without a for loop? Is it impossible to box (copy) a Span<T>?

[2017-03-14 22:26] benaadams commented on #17093
Boxing moves it from stack to heap and span is a stack only type, so you can't box it (which is why it implements no interfaces)

[2017-03-14 22:29] danmosemsft opened #17126 "SqlClient types do not fulfil desktop surface area"
The following members are on types implemented in .NET Core. However the members are missing, although they are present on Desktop.

The problem with this situation is
- it defies user expectations that if a type X exists, code from other platforms that use X will work on .NET Core
- it cannot be fixed without servicing -- it is not possible to supply a standalone package with the rest of the type

[2017-03-14 22:36] bartonjs commented on #17123
Yeah, it looks like Google's OAuth2 is calling into RSACng directly, but that's a type that only works on Windows.

You'll need to raise an issue with Google's library.  Theythey should be using `RSA.Create()` instead of picking an implementation (at least on .NET Core.  If they want to use RSACng when they're on .NET Framework (or generally when on Windows) that's a fine choice to make).

[2017-03-14 22:37] ianByrne commented on #17123
Fantastic, thanks for the tip. I'll log an issue with them.

[2017-03-14 22:37] #17123 closed

[2017-03-14 22:44] karelz opened #17127 "AVs under code coverage"
#15839 - 2017/2/5 - System.Net.Http.Functional.Tests
#16371 - 2017/2/21 - System.Net.Mail.Functional.Tests
#16348 - 2017/2/21 - System.Xml.XmlDocument.Tests

## #15839 - 2017/2/5 - System.Net.Http.Functional.Tests
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows_prtest/17/consoleText
[code]

## #16371 - 2017/2/21 - System.Net.Mail.Functional.Tests
https://ci.dot.net/job/do

[2017-03-14 22:44] karelz commented on #16371
Dupe of #17127

[2017-03-14 22:44] #16371 closed

[2017-03-14 22:44] karelz commented on #16348
Dupe of #17127

[2017-03-14 22:44] #16348 closed

[2017-03-14 22:44] karelz commented on #15839
Dupe of #17127

[2017-03-14 22:44] #15839 closed

[2017-03-14 22:51] danmosemsft opened #17128 "Win32 registry types missing a couple methods that are present on Desktop"
These should either be implemented, since we cannot add members OOB, or else (low priority) throw PNSE().

Usage of Registry.DynData is very low (~0.1%) and RegistryHive.DynData basically zero.
[code]

https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.netcoreapp.netfx461.txt

[2017-03-14 23:12] danmosemsft opened #17129 "CodeDOM.Compiler missing 4 members"
These four members exist on Desktop but not on .NET Core. We have a stub definition of Evidence, so we should implement stub definitions of these so that code that uses them does not fail merely because the method is missing which they may not even care about.

[code]

[2017-03-14 23:15] #14695 closed

[2017-03-14 23:20] corivera commented on #17126
CC @saurabh500 @geleems

[2017-03-14 23:21] Priya91 commented on #16598
In your code, you can do

[code]

and print out the headers..

[2017-03-14 23:21] safern opened #17130 "[Netfx compat]: CodeNamespaceImportCollection in desktop uses ArrayList as its data collection."
`CodeNamespaceImportCollection` in desktop uses `ArrayList` as its data collection and in core we use `List<CodeNamespaceImport>` which brings difference in behavior when using its APIs, such as different exception types.

cc:  @tarekgh @ianhays

[2017-03-14 23:21] stephentoub commented on #17129
That would mean adding a dependency on System.Security.Permissions.dll. Haven't we been actively avoiding that?

[2017-03-14 23:21] corivera commented on #17126
SqlBulkCopy WriteToServer* function are being added in this PR:
https://github.com/dotnet/corefx/pull/16884

[2017-03-14 23:27] tarekgh commented on #17130
we can change the documentation if needed. looks the desktop behavior is better as can distinguish the invalid cast failure from other failures.

[2017-03-14 23:29] safern commented on #17130
What I'm looking is that it doesn't always throws `InvalidCastException` in desktop, I'm trying to identify the cases.

[2017-03-14 23:31] safern commented on #17130
But an `ArgumentException` also makes sense because you're passing and invalid argument as the array you are trying to copy to the destination has a value of a different type than the destination array.

[2017-03-14 23:32] #16972 closed

[2017-03-14 23:34] danmosemsft commented on #3906
Also note that if and when we implement this, the ref definition is incomplete. It is missing at least these from its desktop counterparts:

[code]

[2017-03-14 23:36] sam-wheat commented on #17032
@weshaggard

Be clear about what "the platform" means.
In the row for  .NET Framwork there are four "the platform"'s listed:  4.5, 4.5.1, 4.6, and 4.6.1
The logical way to read it is that the last "the platform" listed is the current one until it changes.

This really says nothing since anything that supports 1.6 by definition supports 1.5, 1.4, etc. I read the table to mean that versions lower th

[2017-03-14 23:36] deepumi commented on #9728
@Priya91 Thanks! I have to work with our Network team on this.

Look forward to fix this from .net core in the future release.

[2017-03-14 23:40] tarekgh commented on #17130
right, but we have cases we throw like ArgumentNullException when passing null argument. someone may claim ArgumentException could be right for null too. The same example apply for other cases like out of range exception for instance.

I don't have strong opinion as ArgumentException is correct too but I prefer for casting failure returning specific exception about the problem.

[2017-03-14 23:44] safern commented on #17130
Well yeah, you are right there! Then we should make it throw `InvalidCastException` for all the cases in Core and Desktop.

[2017-03-14 23:50] JonHanna commented on #17130
If I've read the docs and done a `catch(ArgumentException)` then I'll catch that fine due to inheritance, but not `InvalidCastException`

[2017-03-14 23:52] weshaggard opened #17131 "Ensure consistent usage of Roslyn compilers"
Right now we have a custom targets and task that allows us to pass in the host process via OverrideToolHost (https://github.com/dotnet/corefx/blob/977f6e021235b8ff5bab8baf4bf53d03af4706f8/Tools-Override/Build.Common.props#L40) which is inconsistent with the shipping task library. This causes some issues like https://github.com/dotnet/coreclr/issues/10056 and also requires us to maintain a private

[2017-03-14 23:55] tarekgh commented on #17130
that is good point too. as I mentioned I don't have strong opinion. just want to differentiate if someone interested in catching cast exception case.

[2017-03-15 00:02] JonHanna commented on #17130
Which implementation(s) of the interface is differing?

[2017-03-15 00:21] safern commented on #17130
The one that I've found is `ArrayList.CopyTo()` which uses `Array.Copy`, and I've found the real difference.

I've found this in `CodeNamespaceImportCollection` which in desktop uses an `ArrayList` to store its data and in Core we changed it to use `List<CodeNamespaceImport>` so if we create a `CodeNamespaceImportCollection` and try to use `CopyTo` passing a destination array with different elemen

[2017-03-15 00:21] stephentoub commented on #17128
I would expect so, given this Obsolete message :smile:
[code]

[2017-03-15 00:22] danmosemsft opened #17133 "CAS related stubs missing some members breaking desktop compat"
These should be trivially added (with null impl/return default(T)) to improve compatibility. @Petermarcu noted this.

[code]

[2017-03-15 00:24] safern commented on #17130
Sorry actually the difference in behavior is in `CodeNamespaceImportCollection` not in `ArrayList`.

[2017-03-15 00:25] danmosemsft opened #17134 "Evidence is missing 5 stubs"
These should be trivially added (and do nothing) to improve compatibility.

[code]

[2017-03-15 00:26] mellinoe opened #17135 "Helper class for dealing with native shared libraries and function pointers"
# Approved Proposal

From https://github.com/dotnet/corefx/issues/17135#issuecomment-365364216

[code]

# Original proposal

Note: Proposal updated based on discussion: https://github.com/dotnet/corefx/issues/17135#issuecomment-353571556

## Background

Many popular C-callable shared libraries exist which do not have a consistent name across platforms. Examples include:

* SDL2
* OpenAL
* Vulkan
*

[2017-03-15 00:28] danmosemsft commented on #17134
Rolling into one issue https://github.com/dotnet/corefx/issues/17133

[2017-03-15 00:28] #17134 closed

[2017-03-15 00:35] danmosemsft opened #17136 "When method is not impl, we should not throw NotSupportedException()"
We standardized on throwing PlatformNotSupportedException() even if we don't support the API on _any_ platform.

We're throwing NSE in a number of places that we added in 2.0, and according to the above principle we should not.

Random example https://github.com/dotnet/corefx/blob/master/src/System.Security.Permissions/src/System/Security/SecurityContext.cs#L12

I don't see this as a high priority

[2017-03-15 00:37] danmosemsft commented on #17135
You've eliminated the option of mimicing Mono's solution (DllMaps, as you mention)?
Would this API ultimately work for Mono, making DllMap unnecessary?

[2017-03-15 00:39] stephentoub commented on #17136
Why is that?  It seems like given the existence of both NSE and PNSE, we'd use NSE when something simply isn't supported (e.g. Stream.Seek throwing NSE when CanSeek is false) and we'd use PNSE when something isn't supported because of the platform on which we're running (e.g. it depends on a piece of OS functionality that's not present on this OS but is on another).

[2017-03-15 00:43] stephentoub commented on #17136
We've generally said that changing to throw a more derived type is acceptable.  And PlatformNotSupportedException derives from NotSupportedException.

[2017-03-15 00:48] akoeplinger commented on #17135
Related discussion (which you're probably aware of): https://github.com/dotnet/coreclr/issues/930

[2017-03-15 00:49] mellinoe commented on #17135
@danmosemsft See the link that @akoeplinger shared.

[2017-03-15 00:55] akoeplinger commented on #17135
@mellinoe since my thread is pretty old by now, do you know what the current status of MCG (which was proposed as the solution by .NET runtime folks) is?

[2017-03-15 01:03] mellinoe commented on #17135
I don't know. I'd be interested to hear an update from @yizhang82 about it.

[2017-03-15 01:06] KrzysztofCwalina commented on #17093
@svick, you might want to look at type called Memory<T>. It might be better suited to what you want to do.

[2017-03-15 01:14] Jiayili1 commented on #17080
@danmosemsft I will update the comment here if this fails again.

[2017-03-15 01:57] dotnet-mc-bot opened #17138 "Test failure: System.Net.Tests.HttpWebRequestHeaderTest/HttpWebRequest_Timeout_Throws"
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpWebRequestHeaderTest/HttpWebRequest_Timeout_Throws` has failed.

Assert.InRange() Failure\r
    Range:  (1 - 10000)\r
    Actual: 11094

        Stack Trace:

           at System.Net.Tests.HttpWebRequestHeaderTest.HttpWebRequest_Timeout_Throws()
Build : Master - 20170315.01 (Core Tests)
Failing configurations:
- Windows.7.Amd64
  - x86

[2017-03-15 02:04] saurabh500 opened #17139 "Integrated Auth On SqlClient is completely broken"
The integrated auth in SqlClient is completely broken.

Opening this issue to track the progress.

[2017-03-15 02:04] saurabh500 commented on #17139
cc @geleems

[2017-03-15 02:28] stephentoub commented on #17130
If there's a visible difference in behavior stemming from using List instead of Array list, should we just switch back to using ArrayList?

[2017-03-15 02:30] stephentoub commented on #17139
On all OSes?

[2017-03-15 02:32] Jiayili1 commented on #16516
This issue is repro on build [20170315.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170315.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.SslStreamNetworkStreamTest~2FSslStream_SendReceiveOverNetworkStream_Ok)

[2017-03-15 02:33] Jiayili1 commented on #16962
This issue is repro on build [20170315.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170315.01/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.TimeZoneInfoTests~2FIsDaylightSavingTime_CatamarcaMultiYearDaylightSavings)

[2017-03-15 02:33] asrendon commented on #9675
I tried the following below and get "An object reference is required for the non static field, method, or property" and instantiating it throws the error "Does not contain a constructor that takes 0 arguments" SO what am I supposed to do to get network interface information for my Windows universal app?
[code]

[2017-03-15 02:57] saurabh500 commented on #17139
I made managed SNI the default network impl on Windows.
So now its broken on all platforms.

[2017-03-15 02:58] saurabh500 commented on #17139
@geleems is investigating. I am assuming this has to do with changes to the NegotiateStreamPal. We need to beef up the integrated auth tests with the test server.

[2017-03-15 03:07] davidsh commented on #9675
As we indicated above in the discussion on this issue, that functionality is not yet implemented for Windows UWP.

[2017-03-15 05:17] danmosemsft commented on #17136
You're right about the derivation.

@terrajobst / @weshaggard do we have a policy about PNSE vs. NSE?

[2017-03-15 05:26] danmosemsft commented on #17128
Ha, I didn't see that. MSDN just says it always throws ObjectDisposedException so adding it would not be difficult.

For reference the impl was removed here https://github.com/dotnet/coreclr/pull/5724/commits/68e668e753b6596c2a9e550fe4f824809a8e1c22

@weshaggard happy to ignore this one?

[2017-03-15 05:27] AlexGhiondea commented on #14695
Thank you @stephentoub

[2017-03-15 05:33] AlexGhiondea commented on #16417
@TylerBrinkley as @joperezr has mentioned we haven't yet got around triaging this.

However, I was looking at this now in preparation for triage, and can't figure out why I can't rewrite the code above like this? Can you help me understand?

[code]

[2017-03-15 05:57] Jiayili1 commented on #9296
Failed  again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_opensuse42.1_debug/129/testReport/System.Net.WebSockets.Client.Tests/KeepAliveTest/KeepAlive_LongDelayBetweenSendReceives_Succeeds/

[2017-03-15 06:11] Jiayili1 commented on #16201
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug/132/testReport/System.Net.Tests/HttpWebRequestHeaderTest/HttpWebRequest_ProxySetAfterGetResponse_Fails_remoteServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-03-15 06:16] Jiayili1 commented on #16610
This issue is repro on: OuterLoop_WIndows10_debug ([build#122](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/122/testReport/))

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/lastCompletedBuild/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging/

[2017-03-15 06:38] karelz commented on #16610
@Priya91 OneNote updated with another hit

[2017-03-15 07:01] bbowyersmyth commented on #14300
@AnthonyDGreen I'm dependent on them now purely because they were already being used. I can certainly move them over to be using BCL functions. It just requires some effort as they are not one-for-one replacements. For example `Left` can take a length longer than the string and it will just return the string instead of giving an error like `Substring` will.
I'm ok if the call is to leave them in t

[2017-03-15 07:05] safern commented on #17130
I think we should probably switch back, I don't know why we change to use List (maybe performance or availability at the time we ported this type). We should consider this for 2.0 as it could be a potential breaking change in compatibility e.g:

* differences in exceptions thrown in `Collection.CopyTo`.
* When `Enumerable.Current` is at the end and elements are added to the collection afterwards i

[2017-03-15 08:09] jcouv opened #17144 "Missing AllowPartiallyTrustedCallers on ValueTuple"
Relates to https://github.com/dotnet/roslyn/issues/17783

The attribute is missing on both the `netstandard1.0` and `portable-net40+sl4+win8+wp8` targets.

[code]

[2017-03-15 08:28] xavierpena commented on #7702
@ianhays Just so you know, despite all my efforts I was unable to make it work in the new VS2017 (no workaround, no nothing). Eagerly waiting for that new package to be uploaded.

[2017-03-15 09:37] fanoI opened #17147 "Add an (U)Int128 type"
While I know it does exist BigInteger sometimes it would be needed to have a type that is explicit 128 bit and nothing more probably it would be more efficient too (at least in a 64 bit machine at it could be represented as a couple of the long).

An Int128 is the "natural" type of GUID, IP6 addresses and more at low level but nevertheless true x86 instruction CPUID returns 4 integers (in 4 regist

[2017-03-15 10:34] ViktorHofer commented on #15098
@ianhays Hey Ian, unfortunately not yet. Feb was pretty tough. But now I have dedicated time for this. I need to fix a Prism build issue and after that I will look into that issue again. I will let you know by the end of this week!

[2017-03-15 11:28] omajid commented on #16201
I have seen this error message on my end too (in a VM), while building other repos. Don't have a way to isolate/reproduce it.

[2017-03-15 12:10] stephentoub commented on #9296
Again:
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/windows_nt_release_prtest/207/

[2017-03-15 12:28] kwaazaar opened #17149 "Add value to HttpStatusCode enum: TooManyRequests (=HTTP 429)"
This statuscode is often returned when quotas or throttling limits are being applied to an API. This is often done using an API platform such as Azure API Management or Nginx. Since API's are gaining popularity and more companies are introducing these limits, this statuscode will appear more often in real live scenarios and therefore deserves a representation in this enum.

See the commit on my fo

[2017-03-15 12:59] svick commented on #17147
What are the use cases for this? Both GUIDs and IP addresses already have their own types, so you don't need 128-bit integer types for those.

Are there any languages or libraries that have this type? That could also indicate it is useful.

[2017-03-15 13:04] TylerBrinkley commented on #16417
I should have been more clear in my example, the `logFormat` is coming from configuration. The value I gave it was just an example. I've updated the proposal to retrieve the value from configuration.

[2017-03-15 13:34] stephentoub commented on #17130
When I ported CodeDom to corefx, I changed it in response to PR feedback here;
https://github.com/stephentoub/corefx/commit/33ab56ac0d54b9f80cf0c572736822c6ffe20ce7
Since I broke it, I've put up a fix at #17151.

[2017-03-15 14:24] fanoI commented on #17147
C (and consequently C++) have int128 at least as extension in 64 bit architectures.
Rust is in the process to add these: https://github.com/rust-lang/rfcs/blob/master/text/1504-int128.md
Julia too: http://docs.julialang.org/en/stable/manual/integers-and-floating-point-numbers/

The GUID stuct has done an "Int128" by hand to represent the GUID value at low level:
https://github.com/dotnet/coreclr/b

[2017-03-15 14:45] Dia6lo opened #17153 "Can't find ways for custom marshaling"
I have created new .NET Core console app in VS 2017 (targeting .NETCoreApp 1.1) and I want to use custom marshaling in my code, but I stuck with 2 issues:
1. There is no UnmanagedType.CustomMarshaler (== 44) enum member anymore
2. There is no ICustomMarshaler anymore (I guess since https://github.com/dotnet/corefx/pull/15769)

So, there is a question: was custom marshaling removed from .NET Core o

[2017-03-15 15:23] svick commented on #17153
[`UnmanagedType.CustomMarshaler`](https://apisof.net/catalog/System.Runtime.InteropServices.UnmanagedType.CustomMarshaler) and [`ICustomMarshaler`](https://apisof.net/catalog/System.Runtime.InteropServices.ICustomMarshaler) are coming back in .Net Core 2.0/.Net Standard 2.0.

Though I don't know if that means custom marshaling will actually be supported on .Net Core 2.0.

[2017-03-15 15:41] weshaggard commented on #17128
We explicitly made the decision to not bring these back when we did the other registry API bring back which I still believe we shouldn't do as we don't support win9x any longer.

[2017-03-15 15:42] weshaggard commented on #17128
For reference see conversation at https://github.com/dotnet/corefx/issues/15332. Closing this one.

[2017-03-15 15:42] #17128 closed

[2017-03-15 15:51] stephentoub opened #17154 "ReceiveMessageFromV6BoundToSpecificV4_NotReceived failed in CI on Ubuntu"
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/4644/consoleText
[code]

[2017-03-15 16:39] weshaggard commented on #17136
The general guidance is to use NSE when something isn't ever supported anywhere. Consider a base virtual method that you expect to be overridden we throw NSE in the base to indicate that we will never implement in the base, or consider the non-seekable stream example we would throw if you call Seek. NSE is also commonly used when bringing up new libraries to temporarily indicate that we don't yet

[2017-03-15 16:39] davidsh commented on #17149
Pushing to Future. We do not plan to take any API change for 2.0 release. Doing so requires we push the Http contract out of NETStandard2.0.

Also, see #4382.  There are other status codes we would like to add to the HttpStatusCode enum type as well.  The 429 status code is already included in that issue #4382.

[2017-03-15 16:40] davidsh commented on #17149
Dupe of #4382.

[2017-03-15 16:40] Clockwork-Muse commented on #17147
The (virtual) pointer size on the IBM System i (iSeries, AS/400) is 16 bytes (possibly due to the architecture using a single-level store, but I don't know quite what they anticipate memory to grow to...).  You can't really use it to store a number, though, and most of the legacy customers using the machine would be defining numeric variables by the number of **digits**, not bytes (especially sinc

[2017-03-15 16:40] #17149 closed

[2017-03-15 16:43] stephentoub commented on #16180
@karelz, @Priya91, @geoffkizer, I've changed the milestone from Future to 2.0.  This is an easy change to make, the question is just if we want to make it, and if we do, as it does have an observable impact, we should either do so now or not do it at all.  I lean towards making the change.

[2017-03-15 16:47] #17130 closed

[2017-03-15 16:51] weshaggard commented on #16928
@davidsh this library already exists inbox on .NET Framework so the package has a placeholder file for net45 and so we cannot put a facade in this package as we should only keep what is there already inbox. So there shouldn't need to be any package changes for this issue.

So I think the issue is still that we have a difference in behavior on .NET Framework vs .NET Core and if we want to fix .NET

[2017-03-15 16:58] weshaggard commented on #16825
400KB is still a sizable amount so I do think it is worth a little more diving to understand if there are any public APIs in here that we don't expose in our public contracts and if there is any implementation code that is just unreachable.

[2017-03-15 17:05] weshaggard commented on #15570
@karelz @ianhays @ericstj this sounds more like a tooling limitation where the correct set of dependencies are not seen by ResolveAssemblyReferences task which is the one in charge of generating the auto-binding redirects. If it doesn't see the conflicts then it will not generate the binding redirects and thus you hit this runtime issue. I don't know enough about the feature and how everything flo

[2017-03-15 17:10] jkpindahbc commented on #16994
It appears there is an issue with "System.Data.SqlClient" version greater than "4.1.0".  Any version after this breaks on OS detection in the AWS Linux version used as the OS for Lambda functions.  Rolling back my "Microsoft.EntityFrameworkCore.SqlServer" package to version "1.0.3" allows the code to work.  Not sure if this allows the issue to be closed or not as there is clearly still a bug in th

[2017-03-15 17:13] weshaggard commented on #17058
Thanks for digging into these @mellinoe. The changes you made look correct to me.

[2017-03-15 17:23] ericstj commented on #15570
That issue is already opened: https://github.com/Microsoft/msbuild/issues/1346.

[2017-03-15 17:25] danmosemsft commented on #16825
OK, let's leave this open and in 2.0. One way to take a closer look would be to decompile both, then run the code formatter on both so we get the underscores on fields. Then windiff.

[2017-03-15 17:27] shiftylogic commented on #16840
Fixed by #17063

[2017-03-15 17:33] weshaggard commented on #16825
@danmosemsft you could also try running the bclrewriter over it to see what it strips out.

[2017-03-15 17:35] danmosemsft commented on #17147
@jkotas

[2017-03-15 17:35] stephentoub commented on #17149
What does this mean?  We can add to the .NET Core API surface area without impacting netstandard2.0.

[2017-03-15 17:39] davidsh commented on #17149
Yes, we could add it to just .NET Core 2.0 surface and not to NETStandard20.  But there is a lot of work in API changes including packaging, testing, etc.

We are prioritizing reliability and other high-impact things at this point for .NET Core 2.0.  Adding API surface area like this is not high priority and so will be deferred.

[2017-03-15 17:43] AmadeusW commented on #14336
I'm following this issue and just wanted to share a [blog post on Ropes](https://kukuruku.co/post/ropes-fast-strings/) ([wiki](https://en.wikipedia.org/wiki/Rope_(data_structure))) that I just saw. Ropes are a data structure that might be used to implement strings in disjoint memory locations, which we could use in #16786

[2017-03-15 17:46] jkotas commented on #17147
I assume that this would also include C# language support, etc. It is similar problem as https://github.com/dotnet/coreclr/issues/963 that @KrzysztofCwalina should start tackling soon - may want to keep potential future addition of int128 in mind.

[2017-03-15 17:47] weshaggard commented on #17014
Yes any assembly that ships in box, facade or implementation, will have the same binding redirection problem if we ship a facade with a higher version in a package, which it appears we have done in this case. This is another instance of https://github.com/Microsoft/msbuild/issues/1346 where the auto-binding redirects don't work, but if you manually create them then it will work.

@sam-wheat try ad

[2017-03-15 17:58] abbasl commented on #16994
Even with "Microsoft.EntityFrameworkCore.SqlServer": "1.0.3" I get the same error. See bottom of the stack trace below and project.json for reference.

**STACK TRACE FROM CLOUDWATCH:**
One or more errors occurred. (A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is cor

[2017-03-15 18:37] karelz commented on #17144
@terrajobst @weshaggard I guess we don't need API review for such change, do we?

[2017-03-15 18:39] karelz commented on #17153
@yizhang82 @tijoytom can you please comment?

[2017-03-15 18:41] davidsh commented on #17144
Perhaps not API review but security review needed.  Also they need to run secannotate tool on the 'netfx' binary for this package and verify 0 errors.

cc: @morganbr

[2017-03-15 18:41] weshaggard commented on #17032
I agree the arrows do cause some confusion. @terrajobst some more feedback on our compat tables. Perhaps we should do away with the arrows completely now and just fill in the table completely.

[2017-03-15 18:45] DnlHarvey opened #17160 "XmlSerializer not building correctly for UAPAOT"
Here's the call stack I'm seeing, I don't think this can work in this configuration:
System.Xml.Serialization.TempAssembly.GenerateRefEmitAssembly($XmlMapping[] xmlMappings, Type[] types, String defaultNamespace)
System.Xml.Serialization.TempAssembly..ctor($XmlMapping[] xmlMappings, Type[] types, String defaultNamespace, String location)
System.Xml.Serialization.XmlSerializer.GenerateTempAssembly(

[2017-03-15 18:56] karelz commented on #17032
I like the idea of filling the table fully - the arrows confused me as well (although I only skimmed the table and didn't truly use my brain fully :)). We can make the fillings in grey or smaller font if we want the highest supported NS pop from the table for each product version. But maybe that's an overkill ...

BTW: I'll be happy to make the changes if you guys don't have time.

[2017-03-15 18:57] karelz commented on #17154
cc @Priya91 @ianhays @steveharter

[2017-03-15 18:58] karelz commented on #17147
Given that it is cross-cutting, I wonder if it makes sense to track it in CoreFX repo ... however, I am not sure if there is better place for such larger issues to get traction ...

[2017-03-15 19:07] karelz commented on #17149
FYI: That is the default way we add any new APIs in CoreFX these days. We do not push NetStandard contracts. Especially given that we plan to stop shipping Desktop packages.
BTW: While we push many issues to Future as they are not "must-have" for 2.0, we still take community contributions (PRs) for Future issues as well.

[2017-03-15 19:15] yizhang82 commented on #17153
It is supported in .NET Core 2.0. The commit is https://github.com/dotnet/coreclr/commit/e8c4f5499136e137fdb3e3c5fb798b2637b21996

[2017-03-15 19:22] danmosemsft commented on #16409
This is reminiscent of https://github.com/dotnet/corefx/issues/16782 as well.

@billwert do you
/cc @bwadswor both this and #16782 are examples of where @billwert / your team's compat data would be helpful.

[2017-03-15 19:38] davidsh commented on #16805
@weshaggard @karelz How do we move forward on making a decision here?  If we remove these APIs from NETStandard2.0, then that will break people that have started using them.

[2017-03-15 19:41] fanoI commented on #17147
@jkotas but the idea of https://github.com/dotnet/coreclr/issues/963 is to expose as IL operations add, mul, div for native int and native float (that is some sense already existed in IL... as nint and "F") right?
This could be done for int128 / uint128 too? Could this make work on 32 bit CPU at assembler level?

I've opened the issue here  because is where System.Numerics lives (if I'm not mistak

[2017-03-15 19:42] danmosemsft commented on #17136
OK that's clear -- this means that we would not throw NSE in any situation where Desktop had the type but did not throw NSE

[2017-03-15 19:45] davidsh commented on #17014
Change label tag since the binding redirect problem is not System.Net specific.

[2017-03-15 19:47] danmosemsft commented on #16782
@billwert as this is back. Bill do you guys have data from your compatibility infra to guide us?

[2017-03-15 19:50] stephentoub commented on #17136
Basically match desktop behavior: if desktop throws NSE, throw NSE... if we can't match desktop behavior and instead need to throw to say it's not supported, then PNSE.

[2017-03-15 19:51] weshaggard commented on #17136
Correct, that sounds like a reasonable guideline.

[2017-03-15 19:52] davidsh commented on #4002
Apparently, all these DnsEndPointTests are using "localhost" as the domain name to resolve.
Unfortunately, "localhost" typically only resolves to IPv4 loopback on Unix, not both IPv4 and IPv6. So using this for testing is problematic.
Regardless, I agree we need to fix these tests.

So, is the "fix" for these tests to replace "localhost" with either/both "127.0.0.1" and/or "::1"?

[2017-03-15 19:58] ianhays commented on #17067
This is ready to go when @terrajobst decides on the int/uint API, so it'll be in for 2.0.0.

[2017-03-15 20:02] sam-wheat commented on #17032
I agree. Its a matter of finding where two lines intersect on a grid.  Lets not make more of it than what it is.

@terrajobst

I hope corrective action is taken on [this issue](https://github.com/dotnet/standard/issues/242) also.  This last weekend was yet another complete waste of time.  Its madding when everything is broken and even the documentation is incomprehensible and intentionally wrong.

[2017-03-15 20:02] davidsh commented on #17138
This test is setting a 10 millisecond timeout for a request.  The test is connecting to a "loopback" server that is not an HTTP server but a simple listening socket. So, the request will never get a response.

And yet, the test is failing because the socket read is not time'ing out until 11.094 seconds later. This is why the test is failing.

My guess is that the machine were these tests are runni

[2017-03-15 20:03] rynowak commented on #17139
@saurabh500

Could a failure like this be related?

Connection string:
[code]

Exception:

[code]

[2017-03-15 20:29] danmosemsft opened #17163 "Some members of ECDsaCng are missing from Core"
The following members are on types implemented in .NET Core. However on desktop they have more members. The members below are missing from Core. I believe that's because the types are included in NS, and the NS definitions don't include them because they're not in Xamarin (?) even though at least some of them they've been in .NET Desktop for a while.

The problem with this situation is
- it defies

[2017-03-15 20:32] danmosemsft commented on #17163
@weshaggard in case I misstated.

[2017-03-15 20:36] danmosemsft opened #17164 "Some System.Security.Principal types are missing members present in Desktop"
The following members are on types implemented in .NET Core. However on desktop in 4.5+ they have more members. The members below are missing from Core.

The problem with this situation is
- it defies user expectations that if a type X exists, code from other platforms that use X will work on .NET Core: instead they have to reason about individual members on X
- in some cases it cannot be fixed wi

[2017-03-15 20:37] TylerBrinkley commented on #16417
@AlexGhiondea thanks for taking the time to evaluate this proposal.

You're right that it strongly couples the argument names to the code however so does the standard `string.Format` as it requires you to know the order of the arguments passed into the code.

Here's an example implementation. Note, I haven't tested this yet.

[code]

[2017-03-15 20:54] AlexGhiondea commented on #16417
@TylerBrinkley thanks for the sample implementation. One thing that came to mind is - does it handle escaping characters? I worry that there are quite a few corner cases when parsing the string fomat that we need to make sure we cover.

That's true -- however, the coupling is looser when using argument order:
 - when using argument position, you can change the implementation (ie. rename arguments)

[2017-03-15 20:58] WinCPP commented on #15622
@danmosemsft @karelz I have open a PR [#10203](https://github.com/dotnet/coreclr/pull/10203). Kindly review.

I am working on the CoreFx changes + tests. Will raise a PR for them tomorrow. Thanks.

[2017-03-15 21:00] safern commented on #15622
Thanks @WinCPP we will review your PR. Thanks for your contribution.

[2017-03-15 21:12] davidsh commented on #16897
Closing this since it is not .NET Core specific and the methodology used to track "memory leaks' should be changed as per the guidance given above.

[2017-03-15 21:12] #16897 closed

[2017-03-15 21:13] saurabh500 opened #17166 "Managed SNI on windows doesnt allow LocalDB connectivity"
Managed SNI should be able to connect to LocalDb on windows

[2017-03-15 21:15] saurabh500 commented on #17139
@rynowak What is the SqlClient build that you are trying this on?
Looks like you are connecting to LocalDB using Managed SNI. This is not supported in Managed SNI.
Issue here : https://github.com/dotnet/corefx/issues/17166
Workaround: set the app context flag to get LocalDB features.  AppContext.SetSwitch(“System.Data.SqlClient.UseLegacyNetworkingOnWindows”, true);

[2017-03-15 21:19] davidsh commented on #16928
Ok. So, this really then is a bug in .NET Framework.  On .NET Core, we don't see this bug due to #11873.  Once we fix #11873, then we might see the same behavior.

So, regardless.  I think this issue needs to be closed here because there currently is not a hang with .NET Core and this is clearly a .NET Framework specific bug.

[2017-03-15 21:23] safern commented on #16928
Yes as I mentioned in the issue's main comment this is a .NET Framework specific bug where that code path will hang but in .NET Core it will not. I opened this issue to track it and add it to the `SkipOnTargetFrameworkAttribute` under the tests that were hanging so that when we scan those tests we know what is happening and why we are skipping them. So we can close it if you want.

[2017-03-15 21:24] tarekgh commented on #16928
@davidsh could you log a bug for the desktop?

@safern please ensure the test is skipped

[2017-03-15 21:29] lt72 commented on #17139
@davmason FYI

[2017-03-15 21:45] danmosemsft commented on #17138
Seems like a case where cranking the timeout is completely reasonable.

[2017-03-15 22:10] AlekseyTs commented on #17116
As an alternative to an enum I would like to suggest to use a static class with Boolean constant fields instead. So, something like:
[code]

This way we will be able to rely on the value of a particular field vs. just its presence or absence. It will be much easier to right conditional code based on the fact that a certain feature is supported. For example:
[code]

[2017-03-15 22:24] jkotas commented on #17147
Not strictly required. Depends on the design.

[2017-03-15 22:26] karelz commented on #16928
@tarekgh for logging Desktop bug we should just mark this one with netfx-port-consider label. And we can close it right away.

[2017-03-15 22:26] jesperll commented on #17089
WPF's [PerspectiveCamera](https://referencesource.microsoft.com/#PresentationCore/Core/CSharp/System/Windows/Media3D/PerspectiveCamera.cs,89) handles positive infinity if that's prior art enough ;)

I'm porting some WPF specific rendering code to a cross-platform library and came across this edge case.

[2017-03-15 22:47] davidsh commented on #8538
This looks like a WinHTTP bug.  It is not giving us back any errors from the Tls connection failure.  So, it basically "hangs" since we get notifications that the async call for WinHttpSendRequest is done.

I got traces and I'm contacting the WinHTTP team for analysis.

[2017-03-15 22:59] weshaggard commented on #16805
We aren't really worried about folks using them from netstandard2.0 itself but folks consuming the netstandard1.6 version are the set to worry about. Do we have any data about the usages of them? I'd be OK keeping them in netstandard2.0 but they would still throw on .NET Framework.

[2017-03-15 23:01] jcouv commented on #17116
From discussion with Aleksey, we came up with a design that addresses both compile-time and runtime-time scenarios reasonably well.

[code]

Checks at compile-time would inspect the `Supports` attribute, and checks at runtime would call the `bool Supports(RuntimeFeatures)` method.

[2017-03-15 23:04] safern commented on #16928
@tarekgh the tests are skipped and linked to this issue.

[2017-03-15 23:04] #16928 closed

[2017-03-15 23:13] geoffkizer commented on #4002
I don't think that's the right fix, no.  It kind of defeats the purpose of these tests, which (I think) is to actually test name resolution.  The fact that the only name they resolve is "localhost" is kind of lame to begin with.

It would be better to use a real DNS name here.  Of course that may introduce it's own set of problems, but if we think we can manage those, it would certainly make the t

[2017-03-15 23:19] geoffkizer commented on #16180
I agree, this seems like the right thing to do.

[2017-03-15 23:46] AtsushiKan commented on #17051
IsConstructedGenericMethod now lit up on CoreClr (as part of https://github.com/dotnet/coreclr/pull/10202)

All that's left to do is to add it the contract and tests on corefx.

[2017-03-15 23:52] evandixon commented on #8965
The [latest NuGet package](https://www.nuget.org/api/v2/package/System.Runtime.Loader/4.3.0) only contains binaries for netstandard1.5 despite having entries for several other frameworks like net462 and variants of Xamarin

[2017-03-15 23:57] davidsh commented on #8538
I discussed this with the WinHTTP team. It seems this is a bug in our loopback test server that is doing the TLS/SSL handshake.

From the WinHTTP team:

The client does TLS fallback to TLS1.1 because it gets SEC_E_ALGORITHM_MISMATCH during the TLS1.2 negotiation, and the server never responds to the TLS1.1 client hello. It’s waiting on a response from the server, and the receive timeout is infinit

[2017-03-15 23:59] stephentoub commented on #8538
The loopback server is using SslStream for the handshake.  Do you mean it's a bug in how the loopback server is using SslStream (which would be a test bug), or a bug in SslStream (which would be a product bug)?

[2017-03-16 00:01] davidsh commented on #8538
Hmm...that actually is a good question.  Maybe then it is a bug in SslStream itself that we have uncovered via this HTTP test.  I'll put back 'bug' until we figure this out.

cc: @CIPop

[2017-03-16 00:07] karelz commented on #16805
We never discussed removing the APIs from .NET Standard 2.0 - that would be compilation breaking change.
Desktop will eventually catch up and it already misses some ~100 APIs which will throw at runtime. We are "just" adding 8 more. Not ideal, but best solution under the circumstances.

I thought that we had lengthy discussions and email threads which clarify that by now. Maybe we should summarize

[2017-03-16 00:09] Drawaes opened #17174 "HttpClient crashes when reading a stream with trailing headers on Linux"
HttpClient ignores trailing headers on windows, however crash when the same headers are read on Ubuntu with

System.Net.Http.HttpRequestException : Error while copying content to a stream.
---- System.IO.IOException : The read operation failed, see inner exception.
-------- System.Net.Http.CurlException : Failed writing received data to disk/application
Stack Trace:

Failing test on ubuntu

https:

[2017-03-16 00:13] davidsh commented on #16805
Ok.  Then I don't understand what we are proposing to do here for this issue.  If we remove the 'net46' binary implementation from this System.Net.Http package, then are we still keeping the 8 new APIs in the 'ref' folder for the package even when we remove the implementation itself?

Or, are we updating the 'ref' itself as well to match EXACTLY 'net46' which means it won't have the 8 new APIs.

[2017-03-16 00:13] karelz commented on #16180
Sounds good. Given it is cheap, I don't have concerns.
@tmds is it something you plan to contribute?

[2017-03-16 00:14] Priya91 commented on #17174
@Drawaes Can you provide a short repro.

[2017-03-16 00:18] Drawaes commented on #17174
Well the problem is not much supports trailing headers but it has been suggested that it is used for timing. I have some basic middleware and a nuget package that adds it to Kestrel.

https://github.com/Drawaes/CondenserDotNet/blob/master/test/Condenser.Tests.Integration/TrailingHeaderMiddlewareFacts.cs

[2017-03-16 00:21] Drawaes commented on #17174
Obviously you need to remove the [WindowsOnlyFact] to have it run in xunit on linux

[2017-03-16 00:25] Priya91 opened #17175 "Sacl doesn't have Mandatory Ace for setting integrity levels to objects."
On windows, integrity levels are set using MandatoryAce in System access control lists. Currently we don't have a way to do this with AccessControl apis.

Add the following types of WellKnownSidTypes

[code]

Create a MandatoryAce type which will do this https://msdn.microsoft.com/en-us/library/windows/desktop/aa965464(v=vs.85).aspx

[2017-03-16 00:31] karelz commented on #16805
What is the 'ref' for? For targeting net46 profile? Or also for targeting .NET Core, etc.?

[2017-03-16 00:35] svick commented on #17116
1. How will this work with .Net Standard? Do I understand it correctly that newer versions of .Net Standard reference assemblies will expand the list of features in `[Supports]` and by doing that requiring all frameworks that implement that version of .Net Standard to support those runtime features (and not just API surface)?

2. How do you make a check at runtime for a feature that is not listed

[2017-03-16 00:38] #16770 closed

[2017-03-16 00:38] #17138 closed

[2017-03-16 00:40] jaredpar commented on #17116
@svick

It doesn't.  Net Standard describes the set of APIs that are available to a program.  This particular enum is describing the set of runtime features available to compilers.

Concrete example: there is a PR out to add support for generic attributes.  This isn't about API surface but rather enabling a particular scenario at the CLR level.  Not all runtimes support this feature.  Hence in ord

[2017-03-16 00:40] karelz commented on #17153
Closing per @yizhang82's comment above. Please reopen if you feel it is not sufficient answer.

[2017-03-16 00:40] #17153 closed

[2017-03-16 00:42] davmason commented on #17139
@saurabh500 I am trying on NETStandard.Library 2.0.0-beta-25115-01. We are using the nightly builds of the standard library so it changes every day. It was working with this exact setup last week, I don't know the build number for the last working build.

[2017-03-16 00:51] TheLastRar commented on #14762
I've used WMI to find specific information about the computer's network adapters when dealing with OpenVPN Tap-windows and winpcap.

winPcap gives me the GUID of a device, which I use WMI to find the NetConnectionID (for the user to pick from).
Tap-windows, I search for adapters with a specific ServiceName / HardwareID to find what adapter belongs to it, then get the GUID to be able to use it.

[2017-03-16 00:54] davidsh commented on #16805
There is only one 'ref' file for all platforms.

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/ref/System.Net.Http.cs

[2017-03-16 00:58] karelz commented on #16805
But it tends to have ifdefs per platform -- the new 8 APIs should be ifdefed out of net46 IMO. I'd wait on @weshaggard's guidance. I am just guessing based on partial info.

[2017-03-16 01:00] svick commented on #17116
@jaredpar

So if I write a library that targets .Net Standard x.y, I will never be able to use generic attributes? Because the compiler doesn't know what runtime it will run on, only that I target that specific version of .Net Standard.

Yes, but the latest proposal by @jcouv implied that there are run-time scenarios as well. I was specifically asking about those.

[2017-03-16 01:01] davidsh commented on #16805
We have never done that in the 'ref'.

[2017-03-16 01:19] karelz commented on #16805
It seems that 'ref' is only for .NET Core targeting ([example of .NET Core-only API adiditon](https://github.com/dotnet/corefx/commit/fa66c2ec6298da0c8ce336f692eeeb91fdaf6e47)). Maybe packages which target also Desktop compile ref twice? @weshaggard will know ;-)

[2017-03-16 01:26] karelz commented on #17175
@Priya91 which area is it? Security? Networking?

[2017-03-16 01:29] ahsonkhan commented on #16888
@jkotas: Would we then remove the current CopyTo method then and have a new method that behaves as proposed here? What would happen to TryCopyTo?

@KrzysztofCwalina, @terrajobst, @shiftylogic: Have I summarized the sample usage of the current and proposed CopyTo methods correctly and sufficiently?

**Here is the example of how Span.CopyTo would be used currently:**
[code]

[code]

**Here is the ex

[2017-03-16 02:22] zhenlan commented on #6564
Just in case anyone on this thread is not aware of, binary serializer including ISerializable etc. have been made available in corefx
https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Serialization.Formatters

[2017-03-16 02:43] #9652 closed

[2017-03-16 02:51] Jiayili1 commented on #15018
This issue is repro on build 20170316.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170316.02/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.PingTest~2FSendPingAsyncWithIPAddress_AddressAsString

Message:
[code]

Stack Trace:
[code]

[2017-03-16 03:09] Jiayili1 opened #17177 "System.Net.NameResolution.Pal.Tests: seg fault"
System.Net.NameResolution.Pal.Tests, there is no result generated.

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170316.02/workItem/System.Net.NameResolution.Pal.Tests/wilogs

[2017-03-16 03:14] TylerBrinkley commented on #16417
It handles the case of two opening braces which denotes that an opening brace should be output as well as the case of two closing braces which denotes that a closing brace should be output. It doesn't allow an opening brace in names. All it really does is identifies named arguments and replaces them with an indexed argument and then has the standard `string.Format` do the rest of the parsing. I th

[2017-03-16 03:19] StingyJack commented on #9788
When trying to add a WCF connected service in VS 2017, I get this in the output window.

`"Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.1"`

and this in the WCF Service window
[code]
I tried adding MS.Composition 1.0.30 package to the aspnetcore proejct but still get the same error just with a different version. This all worked in VS 2015.

[2017-03-16 03:24] jkotas commented on #16888
Your SampleUsage1 is not how the code would be written today. try/catch on non-exception codepath is no-no.

You SampleUsage2 does not work. Is it missing something?

Is it really the case the GetModeSpace takes destination and gives you new one that has the old one copied into it? It would expect GetMoreSpace for this use case to give you a new buffer that starts from 0.

CopyAsMuchAsPossible

[2017-03-16 04:15] Jiayili1 opened #17179 "Tests under System.Net.Sockets.Tests.DisconnectTest failed in CI"
Configuration: OuterLoop_Fedora23_debug ([build#131](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug/131/testReport/))

Failed tests:
System.Net.Sockets.Tests.DisconnectTest.Disconnect_Success(reuseSocket: False)
System.Net.Sockets.Tests.DisconnectTest.BeginDisconnect_Success(reuseSocket: False)
System.Net.Sockets.Tests.DisconnectTest.DisconnectAsync_Success(reuseSocke

[2017-03-16 04:19] Jiayili1 commented on #16201
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/135/testReport/System.Net.Tests/HttpWebRequestHeaderTest/HttpWebRequest_ProxySetAfterGetResponse_Fails_remoteServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-03-16 04:27] Jiayili1 opened #17180 "System.Diagnostics.Tests.ProcessTests.HandleCountChanges failed in CI"
Configuration: InnerLoop_Fedora24_release ([build#1378](https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_release/1378/testReport/))

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_release/1378/consoleText

Failed test: System.Diagnostics.Tests.ProcessTests.HandleCountChanges

[code]

[2017-03-16 05:02] RichiCoder1 commented on #6564
@zhenlan Part of the .NetStandard2.0 work I assume?

[2017-03-16 05:08] ahsonkhan commented on #16888
SampleUsage1 has try/catch around CopyTo which can (and does) throw an exception when source is larger than destination.

I don't understand. I ran it in a test application and it works as expected. Why won't it work?

I did not fully understand the semantics of GetMoreSpace() from what was shown in the original post. I assumed it copied into a new span that is backed by larger array/memory. How e

[2017-03-16 05:17] ericis commented on #2394
Up vote for WF rewrite with tests and support for modern Roslyn features as a part of Core. I'd love to see how serverless and containers could affect the architecture, especially the deployment and scaling of rule sets within distinct domain contexts and business processes. I'd personally prefer a succinct DSL over a WYSIWYG designer. I did personally love the designer, but it felt quirky almost

[2017-03-16 05:21] AlexGhiondea commented on #16417
@TylerBrinkley thanks for confirming that we do some escaping -- did not have a change to do a full review of the code.

I am not sure that people will actually know when to localize some words and when they should not. I think for small projects it is probably obvious, but in larger ones, where the localization is done by a different team I think it is not going to be easy to tell when a word is

[2017-03-16 05:24] AlexGhiondea commented on #8965
/cc @ericstj any ideas why we have a lib only for ns1.5 but placeholders for the rest?

[2017-03-16 05:33] jkotas commented on #16888
Right, it means that you are using exceptions for regular control flow - that's no-no.

No. It would be unnecessary copy. It gives you a new buffer to copy what's remaining into.

The current CopyTo method matches what CopyTo methods do everywhere else in framework: https://github.com/dotnet/corefx/search?p=2&q=CopyTo&utf8=%E2%9C%93 . I do not see why we would want to remove it.

[2017-03-16 05:53] davidfowl commented on #16888
That's not a great name. `TryCopyTo` sounds better.

[2017-03-16 06:14] Jiayili1 commented on #16757
This issue failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu16.10_release/132/testReport/

[2017-03-16 08:07] tmds commented on #16180
@karelz you can assign it to me

[2017-03-16 08:31] fanoI commented on #17147
It is correct that in reality at the IL level the operations between n(u)int and F are perfectly defined but they are not exposed by C#?

[2017-03-16 08:31] NicolasDorier commented on #17010
@Priya91 does the repro works for you ?

[2017-03-16 09:03] tmds commented on #16180
@stephentoub @Priya91 I put together a sample app that shows how not setting CLOEXEC affects socket close: https://gist.github.com/tmds/493a1c56cb00e453e131a6c3134b76a3.

[2017-03-16 11:11] #4007 closed

[2017-03-16 11:11] stephentoub commented on #17179
Fixed by https://github.com/dotnet/corefx/pull/17167

[2017-03-16 11:29] qmfrederik opened #17184 "Drawing primitives are missing [Browsable(false)] attributes"
Some of the Drawing primitives are missing `Browsable(false)` attributes. This causes additional attributes to show up in the list of properties returned by the `TypeDescriptor` for those classes.

Here's the full list:

* `Size` and `SizeF`:
  - `IsEmpty` should be marked as `[Browsable(false)]`
* `Point` and `PointF`:
  - `IsEmpty` should be marked as `[Browsable(false)]`
* `Rectangle` and `Rect

[2017-03-16 11:44] gerab commented on #9234
wow, i spent two days with debugger and wireshark to find the same bug. The workaround for me was to offer server all possible authorization schemes:
_credentialCache = new CredentialCache
            {
                {new Uri(ResourceUrls.BaseUrl), "NTLM", _credential},
                {new Uri(ResourceUrls.BaseUrl), "NEGOTIATE", _credential}
            };

[2017-03-16 11:45] stephentoub commented on #16688
Another case here:
https://github.com/dotnet/corefx/issues/17180

[2017-03-16 11:45] stephentoub commented on #17180
Looks like another case of https://github.com/dotnet/corefx/issues/16688

[2017-03-16 11:45] #17180 closed

[2017-03-16 11:50] stephentoub commented on #17177
According to the log it's a seg fault:
[code]

[2017-03-16 13:24] mikedn commented on #17147
The `Guid` struct reflects the UUID format, it's not an `Int128` done by hand. If that was the case then probably a simple implementation would have been used (e.g. 2 longs). Besides, Guid is pretty much an opaque blob of bits with no operations defined on it. The value of `Int128`, if any, is in the operations it offers and not in it being an 128 bit quantity.

I'm not sure why that would be need

[2017-03-16 13:46] baal2000 commented on #10040
@karelz
@davidsh

Comment:
System.Net.Http + System.Net.Http.WinHttpHandler NuGet v. 4.3.0 - based  custom server runs out of IO Completion threads intermittently (at least once a week) due to this exact issue. At the point of failure, the process dump contains 1500+ threads in WinHttpRequestState.DisposeCtrReadFromResponseStream() along with a similar count of threads in WinHttpResponseStream.Can

[2017-03-16 14:01] stephentoub opened #17187 "TestCommonPriorityAndTimeProperties failed in CI on macOS"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug_prtest/123/consoleText
[code]

[2017-03-16 14:13] stephentoub commented on #16516
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/4723/consoleText

[2017-03-16 14:13] fanoI commented on #17147
Yes this "F" type was a little mystery for me when I've changed Cosmos' IL2CPU to emit SSE instructions for floating point operations... in the end I've decided that for x86 architecture 'F' was the same thing of double (64 bit floating point).
So the concept of "native floating point" of which was talking @migueldeicaza is more difficult to have as "F" is not a complete type as IntPtr is at IL le

[2017-03-16 14:16] neilcawse commented on #10040
This issue is impacting us in production. Any meaningful systems with lots of async connections are likely to also be impacted. Case has been open 8 months,  a long time if dotnet core is being pushed for use in serious systems. If you are stuck maybe we can try help build a repo.does seem to be load related.

[2017-03-16 14:16] TylerBrinkley commented on #16417
Another use case for this is as the basis of a basic templating system where you don't have to pass in all available values but just use the `valueProvider`.

[2017-03-16 14:17] davidsh commented on #10040
Please submit a repro and/or memory dump. Otherwise, it will be very difficult to diagnose.  Thx.

[2017-03-16 14:18] stephentoub commented on #16180
@tmds, one specific case I think we'll need to be careful of, or at least think through: our named pipe support on unix is implemented on domain sockets.  It's extremely common to pass anonymous pipes to child processes, and while certainly less common to do so with named pipes, I wouldn't be surprised if folks do so.

[2017-03-16 14:20] benaadams commented on #17147
There is a native compare exchange (LOCK CMPXCHG16b) for 128 bit types on x64 https://github.com/dotnet/corefx/issues/10478 which would require correct alignment to work

[2017-03-16 14:23] stephentoub commented on #14536
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/128/consoleText
[code]

[2017-03-16 14:24] stephentoub commented on #16516
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/124/consoleText

[2017-03-16 14:35] tannergooding commented on #17147
@benaadams, yes but that could be achieved with a possibly more useful feature, such as an extension to StructLayout that lets you directly control the alignment (not just the size or packing).

In either case, I believe that, while use case is slim, there are probably enough scenarios and algorithms out there that having a 128-byte integer data structure would probably be useful.

I would propose

[2017-03-16 14:40] benaadams commented on #17147
@tannergooding I did suggest an Atomic type https://github.com/dotnet/corefx/issues/10481 rather than exposing CMPXCHG16b directly which is available in other languages and useful for implementing lock free algorithms

[2017-03-16 14:55] stephentoub commented on #17179
This appears to still be happening, in particular on macOS, even after my fix in #17167.
cc: @luhenry

[2017-03-16 15:09] baal2000 commented on #10040
@davidsh
@karelz

Please follow up on @EmmaZhu reference to [[CoreCLR][KnownIssue]Hang in when cancelling a request due a dead lock in .Net Core framework #47](https://github.com/Azure/azure-storage-net-data-movement/issues/47).

[2017-03-16 15:16] stephentoub opened #17188 "Socket.Begin/EndSendFile completing asynchronously hangs on macOS"

[2017-03-16 15:32] baal2000 commented on #10040
@davidsh

Might help: [the parsed dump](https://docs.google.com/document/d/1zqrS8c_Yc2oH0Fe__hIXS7vSR7By80sSnULBdLRLkx0/edit?usp=sharing) showing all active threads with call stack and thread Id at the moment of the process failure.

Let me know if there are any questions.

[2017-03-16 15:47] saurabh500 commented on #17139
@davmason Localdb connectivity is expected to be broken right now. If your tests only use LocalDB, you can incorporate the work around I have mentioned above.
I am looking into enabling LocalDB with Sqlclient's current networking interface.

[2017-03-16 15:51] joperezr commented on #9539
AssemblyLoadContext and AssemblyExtensions are not part of netstandard so UWP still supports netstandard.

[2017-03-16 15:52] joperezr commented on #9539
Closing for now since the original question has been answered. Feel free to reopen if you have any follow ups and we will update it if this ever changes.

[2017-03-16 15:52] #9539 closed

[2017-03-16 15:57] davmason commented on #17139
@saurabh500 I tried the workaround and it still failed. Is there anywhere in particular that the set context call needs to go? I put it in Main before any calls to asp.net.

[2017-03-16 15:57] bgever commented on #9846
We've been hitting this issue for months now, and it's been definitely several full-time days of headache.

Worst is, it creeps up at the worst possible moment: runtime! No build-time warnings, the whole thing blows up unexpectedly. Sometimes it works on our dev machines, and then it blows up when we deploy to a cloud service (with the instance keeping recycling due to it happening at startup). Th

[2017-03-16 15:57] karelz commented on #10040
@baal2000 your reference to @EmmaZhu does not contain any repro or signs of ability to get repro. Or am I missing something?
Let's see if your parsed dump helps. From its brief inspection I have a suspicion that it won't be enough for us to root-cause - @davidsh can you please take a look? If it doesn't, we might need (heap) dump (or even better a repro) to have a chance to make further progress (

[2017-03-16 16:11] karelz commented on #9234
@davidsh is there something we could do to compensate / detect prior/post the bad behavior in the OS? If we can bring the 2 days tracking time down, that would be amazing ...
@gerab any idea what would have helped you? (beside having the OS bug fixes)

[2017-03-16 16:13] KrzysztofCwalina commented on #16888
@ahsonkhan, the "current" code sample is not the greatest:
1. As Jan said it cannot rely on exceptions
2. It's not really doing what you need to do. Here is a very long (and buggy) version that I wrote, as I did not have time to write a shorter one:

[code]

[2017-03-16 16:13] karelz commented on #17179
@stephentoub @luhenry are you guys working on the problem? (given it is assigned to you)

cc: @Priya91 @ianhays @steveharter

[2017-03-16 16:15] qizhanMS commented on #16755
@karelz I got confused on which issue number we should use in the code. Please specify. Also should we close some issues because #16755, #13532 and #10353 are same root cause.

[2017-03-16 16:15] Petermarcu commented on #16923
@ericstj , can you take a look at this?

[2017-03-16 16:17] snakefoot commented on #16782
Know that BirthTime is the most correct value, but instead of doing fallback to LastWriteTime, then it could be nice it did fallback to LastChangeTime (ctime) as MONO does.

ctime should be the time of when the filesystem-node was created/updated (Thus normally older than LastWriteTime).

NLog uses the FileCreationTime to order files by age, and delete the oldest files. This fails horrible when al

[2017-03-16 16:19] davidfowl commented on #16888
Let's just add `TryCopyTo<T>(Span<T> span, out int copied)`

[2017-03-16 16:20] davidsh commented on #10040
I would need a heap dump (*.dmp file ) and/or a repro to diagnose this.

[2017-03-16 16:21] saurabh500 commented on #17139
I tried this in a test case.
`AppContext.SetSwitch("System.Data.SqlClient.UseLegacyNetworkingOnWindows", true);` should be done before any single SqlConnection Open.
On SqlConnection.Open, the appcontext value is cached for the process. Setting this AppContext value after any single connection would result in not honoring the appcontext.

I am using this code to verify

[code]

[2017-03-16 16:23] karelz commented on #16755
If you have duplicates, mark as as duplicates and close them.
The issue which is used in ActiveIssue on disabled tests has to be open. It is up to you if you want to go and update the attributes on tests, or make you life easier and keep open the issue which is disabled from ActiveIssue in tests.
Does it help?

Overall: No process, just common sense ;)

[2017-03-16 16:24] karelz commented on #10040
@baal2000 @neilcawse @EmmaZhu is it something that you can provide? Otherwise, we are stuck I am afraid :(

[2017-03-16 16:26] jaredpar commented on #17116
This will be true for Net Standard 2.0.  It's possible in the future Net Standard will begin requiring that runtimes support generic attributes and it will be included in the definition of corlib.

[2017-03-16 16:28] KrzysztofCwalina commented on #16888
When would TryCopyTo return false? If when destination is not large enough, then it's a bit confusing as the method would actually succesfully copy bytes.

CopyTo with out int parameter is better, but in some scenarios, it better to simply do:
[code]
and now you will have to do:
[code]
This is not a blocking issues, but something to consider.

[2017-03-16 16:29] qizhanMS commented on #16755
We now may have trouble because I updated the code and changed 16755 to 13532. Right now, should I change the code back to 16755, or add "disabled-test" label to 13532?

[2017-03-16 16:31] karelz commented on #16755
I am lost what is what now.

Here are the rules of common sense:
1. Don't keep multiple issues tracking the same thing, resolve them as duplicates.
2. If a test is disabled (via ActiveIssue), the issue should be opened, not closed.

Does it help?

[2017-03-16 16:31] luhenry commented on #17179
I have submitted https://github.com/dotnet/corefx/pull/17189

[2017-03-16 16:37] davidsh commented on #4002
Managing external servers, networks or DNS entries is difficult for the CI system.

Perhaps relying on something like www.microsoft.com which has both IPV4 AND IPV6 addresses in DNS might be sufficient.

[2017-03-16 16:38] karelz commented on #17184
@alexperovich does it align with Desktop? If not, is it the right thing to do? Note: @qmfrederik wants to contribute ;-)

[2017-03-16 16:40] jkotas commented on #16888
I would be useful to write a version that actually works. Should it be this?

[code]

[2017-03-16 16:43] geoffkizer commented on #4002
Yeah, something like www.microsoft.com would be good.  Or www.contoso.com or something like that, depending on how that resolves.

[2017-03-16 16:44] davidsh commented on #9234
@gerab Are you going thru a proxy?  The original bug report could only be repro'd if going thru a proxy.

[2017-03-16 16:46] #17086 closed

[2017-03-16 16:47] reneherrero commented on #17015
Yes, answered indeed.
Thanks guys!

[2017-03-16 16:50] karelz commented on #4382
@kwaazaar are you interested in tackling the larger enum update? We can help you with the API review if you need guidance ...

[2017-03-16 16:54] karelz commented on #15018
cc @Priya91 @ianhays @steveharter

[2017-03-16 16:55] karelz commented on #17177
cc @Priya91 @ianhays @steveharter

[2017-03-16 17:00] qmfrederik commented on #17184
@karelz @alexperovich Here are the MSDN docs for Desktop, all showing the `[Browsable(false)]` attribute:

* [Size.IsEmpty](https://msdn.microsoft.com/en-us/library/system.drawing.size.isempty(v=vs.110).aspx)
* [Point.IsEmpty](https://msdn.microsoft.com/en-us/library/system.drawing.point.isempty(v=vs.110).aspx)
* [Rectangle.IsEmpty](https://msdn.microsoft.com/en-us/library/system.drawing.rectangle

[2017-03-16 17:01] jkotas commented on #16888
Perfect. How would the method be written if we had this API?

[2017-03-16 17:02] karelz commented on #11100
I know I am late with the post-mortem here, my apologies.
I didn't forget, I just didn't get to it yet due to higher priorities (planning/tracking 2.0, looking deeper into the binding redirects issue which surfaced here as well - #9846)
I'll try hard to finish the post-mortem in next 1-2 weeks.

[2017-03-16 17:05] karelz commented on #17184
You can also check Desktop code at https://referencesource.microsoft.com/ and https://github.com/Microsoft/referencesource
If Desktop has it, I don't see reason for .NET Core to drop it. @alexperovich should provide final call.

[2017-03-16 17:12] qmfrederik commented on #17184
Yup, that attribute is also present in the reference source:

- [Size](https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/Size.cs,135)
- [Point](https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/Point.cs,83)
- [Rectangle](https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/Rectangle.cs,98)

[2017-03-16 17:19] eerhardt opened #17190 "System.Xml.XPath.XmlDocument is no longer getting produced/published"
`System.Xml.XPath.XmlDocument` is not in the shared framework, and there are no recent nuget packages for it on https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Xml.XPath.XmlDocument.

We need to publish this assembly somewhere - either in the shared framework or as a standalone NuGet package.

@ericstj @weshaggard @krwq

[2017-03-16 17:24] zhenlan commented on #6564
@RichiCoder1 Yes, correct.

[2017-03-16 17:24] rionmonster commented on #17034
I started working on this a short while ago and had a few questions:

- Should the replacement be performed within the existing `src` projects only or do we want to target the `tests` as well?
- In a few scenarios, I've had the `TryAdd()` method not recognized on a given Dictionary object (i.e. not recognized by autocompletion and won't build). Is this the expected behavior for those that "won't"

[2017-03-16 17:26] brianrob commented on #2751
@wincpp, I agree with you that if we're going to make a change here that we're going to have a pick a side and go with it.  I think it's going to be the thread side as you point out.

This issue points out the problem that when switching threads, the IndentLevel of the current thread for the Trace in question is not used.  It would be a pretty simple change to modify TraceListener.get_IndentLevel

[2017-03-16 17:32] gerab commented on #9234
@davidsh no proxy between me and server

[2017-03-16 17:36] AlexGhiondea commented on #17144
@jcouv is this something you are planning to work on?

[2017-03-16 17:38] ianhays commented on #15018
FWIW, the PingTimeout used in this test is already 10 seconds.

[2017-03-16 17:40] AlexGhiondea commented on #17075
I am in favor in keeping this behavior as-is so that it matches what we have in Desktop. It is unfortunate that we were not consistent, but I am not sure the advantage of fixing this outweighs the compat risk.

[2017-03-16 17:40] #17075 closed

[2017-03-16 17:41] ianhays commented on #16516
Four failures in a week suggests there hasn't been any difference in the failure rate of the test re-enabled and modified in https://github.com/dotnet/corefx/pull/16877. Since we've got enough failure reports for analysis of the test, I'm going to disable it again to clean up the builds.

[2017-03-16 17:44] danmosemsft commented on #17034
Yes, it would make sense to update tests as well.

@joperezr can you think of a reason why this API wouldn't be visible someplace? Everyone should see this API, it's on corelib?

[2017-03-16 17:44] danmosemsft commented on #17034
@karelz what magic does @rionmonster need to do to get assigned this issue..

[2017-03-16 17:45] AlexGhiondea commented on #16084
@Thaina I think we need a formal API proposal that will describe the reasons behind adding those extension methods as well as calling out all of the methods that you are considering creating wrappers for.

[2017-03-16 17:45] joperezr commented on #16417
Looked at this on triage again, and as mentioned above we don't feel there is enough value given the disadvantages that it could bring. Lets get @weshaggard and @terrajobst opinion on it.

[2017-03-16 17:46] karelz commented on #17034
@rionmonster ping me when you accept collaboration invite, I can then assign it to you.

[2017-03-16 17:47] joperezr commented on #16347
@stephentoub do you want to add anything more to the proposal or would you like to take this to review?

[2017-03-16 17:50] ericstj commented on #8965
Yeah, Loader isn't supported anywhere but coreclr.  It has a netstandard ref because that's the only way to represent surface area shared between more than one platform.  The package intentionally puts lib placeholders where it isn't supported to trigger NuGet's ref/lib compatibility check.

[2017-03-16 17:52] joperezr commented on #16217
Seems like what this issue is about is to make the existing check more efficient, so changing title to match that plus adding the label of enhancement.

[2017-03-16 17:55] danmosemsft opened #17193 "Improve SkipOnTargetFramework for UAP use"
Right now TFM is defined like this
[code]
and these map 1:1 to the XUnit traits passed to the runs:
[code]

Code for uap, uapaot, and netcoreapp is 99% the same and functional behavior should be 99% the same between netcoreapp and uap and 98% the same with uapaot. We want most implementation and tests to be oblivious of the differences.

So
(1) it would be nice to have a shortcut for
 `[SkipOnTarg

[2017-03-16 17:55] AlexGhiondea commented on #16721
/cc @JeremyKuhne

[2017-03-16 17:56] danmosemsft commented on #17193
@jkotas for comment on #2

[2017-03-16 17:59] Priya91 commented on #17175
@karelz These types are in System.Security.AccessControl, this is windows lib AFAIK

[2017-03-16 18:04] rionmonster commented on #17034
@karelz

Done.

I'm compiling a list of all of the non-test areas where changes are being made as well as those that aren't working but should possibly me (i.e. where the `TryAdd()` method is unrecognized).

This should be a fairly thorough list as well, as I am going around checking everything with a `ContainsKey()` to ensure that some expression, grep, or other search didn't miss anything. I'll

[2017-03-16 18:06] vladimir-kazakov opened #17194 "Enums missing from System.Security.Cryptography.X509Certificates."
The following enums are missing from the System.Security.Cryptography.X509Certificates namespace:

* [TrustStatus](https://msdn.microsoft.com/en-us/library/system.security.cryptography.x509certificates.truststatus(v=vs.110).aspx).
* [X509SelectionFlag](https://msdn.microsoft.com/en-us/library/system.security.cryptography.x509certificates.x509selectionflag(v=vs.110).aspx).

Both are available in .N

[2017-03-16 18:12] davmason commented on #17139
@saurabh500 I figured it out, the workaround does work for me. I had messed with the connection string trying to figure out why it didn't work and forgot to change it back. Thanks for your help.

[2017-03-16 18:12] weshaggard commented on #17190
@sepidehMS @danmosemsft

We should avoid shipping another package for this if we can. We should verify but my assumption is that all the extension methods that are here are now instance members on the core XML types after our NS2.0 work, so this should never be needed for new source and only necessary for existing binaries.

The options I see are:

1. Live with old package for anyone that needs th

[2017-03-16 18:13] ianhays commented on #7702
I apologize @xavierpena, I misunderstood the effect that removing the OOB package would have on your scenario. I expected that removing the build would cause our packaging to make the net46/net463 binary for any future Compression packages be a pure type-forward to desktop. After talking with @ericstj more in detail, I found that to be incorrect. What actually will happen is that the new packages

[2017-03-16 18:13] ericstj commented on #16923
@weshaggard fixed something similar: https://github.com/dotnet/buildtools/pull/1373.

DiagnosticSource [isn't actually part](https://github.com/dotnet/corefx/blob/release/1.1.0/pkg/NETStandard.Library/NETStandard.Library.packages.targets) of NETStandard.Library.  It looks like it is part of the *closure of implementation* of NETStandard.Library on .NETCoreApp1.x:
System.Diagnostics.DiagnosticSourc

[2017-03-16 18:19] stephentoub commented on #16401
Failed here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug_prtest/121/consoleText
[code]

[2017-03-16 18:20] ericstj commented on #17190
If we do option 1 then we should delete the entire contract from the master branch.

[2017-03-16 18:20] eerhardt commented on #17190
If we go with option 1, it would seem appropriate to have some sort of assurance (i.e. test) this continues to work.  I'm not sure where the best place to test it would be, maybe in `dotnet/core-setup`.

[2017-03-16 18:21] jkotas commented on #17193
This is basically another incarnation of TFM hierarchy.

There is a shortcut for it today used in number of places: `[SkipOnTargetFramework(~TargetFrameworkMonikers.NetFramework, ...)]`. It explains pretty well what it actually is - it is testing behavior that was changed from .NET Framework.

Agree.

[2017-03-16 18:23] ericstj commented on #16923
To ensure this doesn't break, I'll add a step to the end of the all-configurations build that restores all the packages we produce for all the configurations they support.

[2017-03-16 18:28] stephentoub commented on #16347
I don't have anything to add to the API request.  There's the separate matter of whether there's a good implementation for it.

[2017-03-16 18:38] baal2000 commented on #10040
@karelz @davidsh

Not exactly a repro but a summary of what our code does to get into the trouble state:

- Multiple parallel tasks controlled by a shared cancellationTokenSource.Token_ **token0** instance.
- Each  task executes
_await httpClient.PostAsync(url, content, _CancellationToken_ **token1**)_
where **token1** is the same shared **token0** instance.
- The first successful task executes _c

[2017-03-16 18:42] rahku commented on #12678
ignoring duplicates in Microsoft.Diagnostics.Tracing.TraceEvent.dll. This is not a corefx dll.
AssemblyHashAlgorithm in System.Reflection.Metadata.dll is not part of reference/contract dll. And is in a different namespace. So ignoring that as well.

[2017-03-16 18:43] baal2000 commented on #10040
Just a quick glance at the code related to disposing of WinHttpResponseStream._requestHandle field: is disposing of __requestHandle_ field done consistently?

- There is a lock around _this._requestHandle.Dispose()_ in WinHttpResponseStream.CancelPendingResponseStreamReadOperation (that is 50% of the the deadlock cause)
- _WinHttpResponseStream.Dispose()_ does the same and **more** by reassigning

[2017-03-16 18:49] weshaggard commented on #16805
cc @ericstj so he can have an opinion on this as well.

@karelz I do think we should explicitly list what we had decided because I honestly don't remember and we jumped around so much I don't know exactly where everything landed.

If we decide to stop shipping the OOB in a future version it will be a breaking change and assuming we accept that then we don't need to ship anything ref or lib for net

[2017-03-16 18:50] danmosemsft commented on #17153
@Dia6lo if you want to try out 2.0 you can take a look at this
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2017-03-16 18:51] rahku commented on #12678
Rest all the above types have been made internal or removed from corelib

[2017-03-16 19:02] weshaggard commented on #16417
I tend to agree that this doesn't add enough value to be added to string directly. String.Format is already a huge source of bugs and performance issues and adding more layers is not something we really want to do. I like the general idea of a basic templating system but I think it would be better served as a higher level concept not directly on string.

[2017-03-16 19:04] alexperovich commented on #17184
I don't see any reason why they shouldn't have it. I believe they were not included because the attribute didn't exist in .net core, but it should exist now with the 2.0 work.

[2017-03-16 19:16] sepidehMS commented on #17190
The extension type in System.Xml.XPath.XmlDocument exposes 7 extension methods from which 2 are not available as instance members:

1. `public static System.Xml.XPath.XPathNavigator CreateNavigator(this XmlDocument document, System.Xml.XmlNode node)` which is `protected internal virtual System.Xml.XPath.XPathNavigator CreateNavigator(System.Xml.XmlNode node)` on XmlDocument type

2. `public static

[2017-03-16 19:20] mellinoe commented on #17184
Is this something we should do a broader pass over, if it's a compatibility concern?

[2017-03-16 19:21] sepidehMS commented on #14875
Questions seem to be answered, so closing. @tloo please re-open otherwise.

[2017-03-16 19:21] #14875 closed

[2017-03-16 19:23] alexperovich commented on #17184
That would probably be a good idea, though BrowsableAttribute isn't really a compat thing. It's just used by designers.

[2017-03-16 19:24] mellinoe commented on #17184
This made me think it could affect actual code, although maybe the only code doing this is designers 😄

[2017-03-16 19:26] DevMk opened #17198 "Not able to get PInvoke error message on Linux and MacOs"
Hello,

I see that Marshal.GetLastWin32Error() returns [proper errno](https://github.com/dotnet/corefx/issues/6778), however Marshal.ThrowExceptionForHR(Marshal.GetHRForLastWin32Error()) always throws "The operation completed successfully" instead corresponding error.

[code]

Actual result

[code]

Expected result:

Exception with "No such file or directory" message

[2017-03-16 19:27] rionmonster commented on #17034
Alright, here's the list, which should include all non-test related changes from `Dictionary.ContainsKey()` to `Dictionary.TryAdd()` that follows the pattern indicated earlier.

**System.CodeDom**
- [ ]	...\src\System\CodeDom\CodeNamespaceImportCollection.cs(34)

**System.ComponentModel.TypeConverter**
- [X] ...\src\System\ComponentModel\ReflectTypeDescriptionProvider.cs(451)
- [X]	...\src\System\

[2017-03-16 19:29] davidsh commented on #16805
This issue is marked as 2.0.  So, "future version" is now. We need to make a decision for 2.0.

[2017-03-16 19:36] danmosemsft commented on #17034
@rionmonster great, you might start a PR with the ones you've done so far, then we can take a first look while we solve the other issue.

[2017-03-16 19:39] danmosemsft commented on #17034
@rionmonster one thing you might look at is code coverage -- make sure each of the points you change already have some test (otherwise we might want to add a test, or at least take more care)

You can see code coverage here
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

Optionally after yo'ure done someone could also update corelib. https://github.

[2017-03-16 19:40] mellinoe commented on #16601
I think the main problem here was running `msbuild` on the solution file rather than a project file. If you're still hitting problems please let us know and we can try to give further help.

[2017-03-16 19:40] #16601 closed

[2017-03-16 19:40] danmosemsft commented on #17193
Issue moved to [dotnet/buildtools #1395](https://github.com/dotnet/buildtools/issues/1395) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-16 19:40] #17193 closed

[2017-03-16 19:43] danmosemsft opened #17199 "Some S.Configuration tests are writing to the test directory"
Tests should not write to the current directory. They should use `System.IO.TempDirectory/.TempFile` or similar means to write to a unique location in temp. This causes failures in appcontainer as well as being messy.

Similar issue: https://github.com/dotnet/corefx/issues/17072

[code]

[2017-03-16 19:44] rionmonster commented on #17034
@danmosemsft

Sure thing. I'll push that one out shortly.

Since we are doing tests as well, it may be best to update as many of these non-test calls prior to changing the actual tests themselves, just to be on the safe side. Coincidentally, the first applicable test that came up for a replacement was one of the performance dictionary tests (from `Performance\Perf.Dictionary.cs` in System.Collecti

[2017-03-16 19:45] danmosemsft commented on #17199
fyi @AlexGhiondea

[2017-03-16 19:45] deepumi commented on #17045
@Priya91 @stephentoub @karelz Thank you all.

The issue has been resolved.

[2017-03-16 19:49] danmosemsft commented on #17133
The implementation is stubs but it looks like we were adding tests for CAS just to make sure the methods existed.

[2017-03-16 19:52] davidsh commented on #13906
My guess is that this failed due to losing network connection with the test server.

This is probably a transient network issue from the CI machine thru the Internet to the Azure test server end point.

[2017-03-16 19:54] weshaggard commented on #16805
Agreed the decision should be made in 2.0.

[2017-03-16 19:55] danmosemsft commented on #17129
I think nothing in this System.CodeDom library is part of NS2.0. So it would be legal to add such a dependency, and a matter of choice whether we want to. Since their usage is zero or close to it it's probably not worth it so we can close this.
@weshaggard

[2017-03-16 19:59] saurabh500 opened #17202 "Can System.Data.SqlClient take a dependency on non .Net Core libraries?"
This is a question more than an issue which will help with the design of Azure Active Directory authentication for Azure SQL DB.

SqlClient on Desktop depends on a DLL written in C++ and utilizes Windows APIs which needs to be installed on the client machine to be able to authenticate to Azure SQL DB using AAD.

For .Net Core, the solution provided above doesn't apply as it is not applicable to Un

[2017-03-16 20:01] danmosemsft commented on #17187
@stephentoub this is saying that the threat state is not terminated but the ID is zero. It looks like there are circumstances on OSX where we can retrieve the ID but not the state (leaving it at "initialized"). Do you remember what those are -- your change: https://github.com/dotnet/corefx/pull/2185/files#diff-742d089551ef9077b50205f4b1610ef1R60

[2017-03-16 20:02] danmosemsft commented on #17202
@weshaggard

[2017-03-16 20:04] danmosemsft commented on #17034
Yes, I would certainly run "old tests" against "new code". One way to do that is push up your implementation changes in your PR and make sure the CI system gets green. Then push up your test changes and CI can run again. They don't actually need to be in distinct commits in master.

[2017-03-16 20:04] #16401 closed

[2017-03-16 20:11] stephentoub commented on #17187
The main one IIRC is that getting the thread information is a two-step process: first we ask the OS for the thread IDs, and then we ask it in turn for each thread's information.  Since it's not atomic, it's possible between those steps a thread could have gone away, so we have its ID but don't know anything more about it.

I don't know if there are other cases where we'd be unable to get the data

[2017-03-16 20:12] NickCraver commented on #17202
One major issue is community as well: this isn't just `SqlClient`. This would affect things like Dapper as well - it's a mess for all downstream libraries as well when the core ones do things like this. I personally wouldn't want to see this dependency taken. IMO, it'd be cleaner to put that auth in another library (though that ship may have sailed).

[2017-03-16 20:15] qmfrederik commented on #17184
Yes, that's how this got on my radar. Some of the unit tests of Mono's System.Drawing fail on .NET Core 2.0 because of this.

I'll prepare a PR which brings back these attributes

[2017-03-16 20:19] Giorgi commented on #17032
Same here. Spent couple of hours figuring out why I couldn't reference .Net Standard 1.6 library from .Net 4.6.2 project until I found [non github](https://docs.microsoft.com/en-us/dotnet/articles/standard/library) version of the .NET Platforms Support matrix.

.Net Standard is already confusing to some (many?) people and having wrong/unclear documentation adds even more confusion.

[2017-03-16 20:20] weshaggard commented on #17129
I wouldn't add the dependency just for those members.

[2017-03-16 20:27] weshaggard commented on #17202
We cannot take a dependency on anything in the core which we don't build the source for ourselves. I see a few possible directions:

1. We implement the authentication ourselves, either directly in SqlClient or another library.
2. We expose new APIs in SqlClient as an extension point that allow an application to do the authentication they need and pass along the access token so SqlClient can use i

[2017-03-16 20:27] #17129 closed

[2017-03-16 20:27] davidsh commented on #9234
I was able to repro the problem now without using a proxy.

For example, TFS servers will present WWW-Authenticate headers listing Basic first and NTLM, Negotiate last:

WWW-Authenticate: Basic realm="http://exampleTFSServer:8080/"
WWW-Authenticate: Negotiate
WWW-Authenticate: NTLM

I am following up with WinHTTP team. They previously closed the bug as not-repro.

[2017-03-16 20:31] danmosemsft commented on #17179
@luhenry sounds like we can close this now that's merged - please reactivate if I'm wrong.

[2017-03-16 20:31] #17179 closed

[2017-03-16 20:40] davidsh commented on #9234
@gerab Also, is there any kind of redirection involved on the server endpoint you are using. The default behavior in the handlers is to provide for automatic redirection. But I think the root cause problem is not the order of authenticate headers but rather if redirection is involved.  For example, in the TFS server I mentioned above, there is redirection to a subfolder.  If I do an HTTP request d

[2017-03-16 20:50] davidsh commented on #9234
I have root caused what I believe to be the real problem here.  Our WinHttpHandler currently clears out all credentials (including specify the default credential) if there is redirection.

See:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpRequestCallback.cs#L210

But that is too strict. We should only be clearly this out if we change ho

[2017-03-16 20:51] saurabh500 commented on #17202
@NickCraver @weshaggard Thanks for the feedback.

@NickCraver

Do you mean a .Net Core library which can provide the functionality which can be consumed by upstream libraries like SqlClient?

[2017-03-16 20:52] davidsh commented on #9234
Moving to 2.0 milestone.

[2017-03-16 20:53] davidsh commented on #9234
Also, I no longer think this is an external WinHTTP issue.

[2017-03-16 21:05] gerab commented on #9234
@davidsh  that was a request from HttpClient to web api hosted by kestrel behind iis. Does it matter? iis acts like proxy

[2017-03-16 21:07] davidsh commented on #9234
When I asked about a "proxy", I wasn't talking about in the "architecture" sense.  Yes, that architecture could be thought of as a proxy.

But I was talking about the literal sense of whether HttpClient is sending a request on the wire and there is a proxy between it and the uri it is sending the request to.

[2017-03-16 21:08] rionmonster commented on #17034
@danmosemsft

A quick comparison with all of the methods that have been changed thus far with the code coverage that you mentioned earlier indicates that all of the methods that are being tested should be covered and not require any new tests.

Additionally, my local build with these changes ran all of the available tests and passed without issue (and it looks like CI did as well).

[2017-03-16 21:12] gerab commented on #9234
@davidsh i'm sorry, for that misunderstanding David.
I am absolutely sure, that there is no proxy between me and server

[2017-03-16 21:22] #16467 closed

[2017-03-16 21:33] davidsh commented on #9234
@gerab Can you comment on whether there are redirections in your repro?  I believe the root cause in the repros is due to redirection and our bug (as I noted above) w.r.t. how we handle credentials after redirection

[2017-03-16 21:33] mellinoe commented on #17198
I believe this is because you are calling `GetLastWin32Error` twice, essentially (once directly and once through the `GetHRForLastWin32Error` method). The first call is giving you the correct error code, but the second call returns "success" because the first call wiped the error code out. @stephentoub Is that accurate?

[2017-03-16 21:35] tannergooding commented on #12855
@vcsjones, are you still working on this? If not, I'm done with the other `System.MathF` bugs I had self-assigned and can start on this again.

[2017-03-16 21:39] rionmonster commented on #17034
As far as updating non-dictionary tests goes, there really were not too many and a pull request for these will be coming shortly:

**System.Data.SqlClient**
- [X] ...\tests\ManualTests\SQL\Common\InternalConnectionWrapper.cs(160)

**System.Linq.Expressions**
- [X] ...\tests\ILReader\ILPrinter.cs(123)

**System.Private.Xml.Linq**
- [X] ...\tests\TreeManipulation\XAttributeEnumRemove.cs(248)
- [X] .

[2017-03-16 21:51] stephentoub commented on #9234
I believe CurlHandler copied this logic from WinHttpHandler; if there's an issue in WinHttpHandler to be fixed, we likely have a similar one in CurlHandler.

The more tests the better, and that'll help highlight if we actually have a problem on Unix as well.

[2017-03-16 21:57] danmosemsft commented on #17034
Hey @joperezr can you suggest why @rionmonster can't see this API from some libraries? It's in corelib and exposed through System.Runtime, that's visible to everyone right?

[2017-03-16 22:00] danmosemsft commented on #17034
Not sure what you're asking. We can't add the same API to those types without going through API proposal/review process for them. Of course anything deriving from Dictionary get it for free but those don't. If you mean is there more to replace there I think most or all of their use of ContainsKey() will not be a pattern you can replace.

[2017-03-16 22:06] jcouv commented on #17144
Yes, I plan to fix this.
I wasn't sure if I should just assign the bug to myself or let it go through triage.

[2017-03-16 22:12] rionmonster commented on #17034
I just didn't want to break any of the existing tests, but I didn't go through each of those too rigorously thus far. As you mentioned, it's unlikely that that pattern will pop up too often, so the replacement shouldn't be too bad.

I'll update the PR to include those updated tests, once I get them done.

[2017-03-16 22:24] stephentoub opened #17209 "AcceptAsync with existing Socket not implemented on Unix"
Windows has built-in support for accepting into an existing socket, something not available on Unix.  But we can approximate it in the .NET layer on Unix, e.g. by accepting into a new socket and transferring over the SafeCloseHandle and related state.  This will allow the same APIs to be used cross-platform so that code running on Windows gets the intended benefits while not having to fork based o

[2017-03-16 22:52] rionmonster commented on #17034
Just pushed up the PR, it turns out there was only a single test case that matched that pattern (and wasn't a test to explicitly test the `ContainsKey()` method).

[2017-03-16 22:54] rionmonster commented on #17034
As far as the tests go, these are all of the Dictionary-related ones that could potentially benefit from the change:

**System.Collections**
- [ ]  ...\src\Common\tests\System\Collections\IDictionary.Generic.Tests.cs(769)
  _[IDictionary_Generic_RemoveKey_DefaultKeyContainedInDictionary]_
- [ ]  ...\src\Common\tests\System\Collections\IDictionary.Generic.Tests.cs(800)
  _[IDictionary_Generic_TryGe

[2017-03-16 22:56] #15837 closed

[2017-03-16 22:58] linflux opened #17211 "SecurityNegotiationException not found in Core"
Hi,
I have an issue with a WCF Soap Service that throws me an SecurityNegotiationException:

`
System.ServiceModel.Security.SecurityNegotiationException: Could not establish trust relationship for the SSL/TLS secure channel with authority 'foobar.com'.
---> System.Net.Http.HttpRequestException: An error occurred while sending the request.
---> System.Net.Http.CurlException: Peer certificate cannot

[2017-03-16 23:17] ericstj commented on #14594
Removing myself as I believe the plumbing work from CoreFx is done and @chcosta picked up the rest.

[2017-03-16 23:17] karelz commented on #17144
AFAIK ValueTuple is driven by you @jcouv - you are key decision maker, and responsible for it, so assigning to yourself is a good thing ;-). You don't need to block on Runtime area owners to bless things, just keep them informed. If ValueTuple grows into 10+ issues, we might want to create separate area path for it.

[2017-03-16 23:18] AlexGhiondea commented on #7804
@yizhang82 is this something you or @tijoytom are working on for 2.0?
How long do you think this is going to take?

[2017-03-16 23:19] karelz commented on #17175
@Priya91 new API in future is ok?

[2017-03-16 23:20] yizhang82 commented on #7804
Not for 2.0 because it is not there in desktop CLR. It'll be post 2.0 work.

[2017-03-16 23:20] ericstj commented on #16923
I found that at least one other package has the problem: OpenSSL.  It's also used by HTTPClient's implementation but not part of NETStandard.Library.  I'm working on getting some validation in build to catch these cases.

[2017-03-16 23:21] mellinoe commented on #14588
@weshaggard Do you have some concrete ideas for this? I can pick this up if we have specific ideas about how to improve. I know this was filed a while back and a lot has changed since then, so we might not feel that anything needs to be done anymore.

[2017-03-16 23:24] davidsh commented on #17211
System.ServiceModel is part of WCF.  You should enter your issues here:

https://github.com/dotnet/wcf

[2017-03-16 23:27] weshaggard commented on #14588
@ericstj has cleaned up a lot of it over time but I would still like for us to minimally like to delete binplacing.targets and merge it into one of other targets that will go to BuildTools (perhaps FrameworkTargeting.targets).

@ericstj is there anything else you would like to see cleaned up here?

[2017-03-16 23:27] joperezr commented on #17120
Is this a dupe of #17117? If so, then we should just close this

[2017-03-16 23:28] Dia6lo commented on #17153
Thanks, @danmosemsft, I'll surely try it!

[2017-03-16 23:28] weshaggard commented on #14935
@joperezr is this complete?

[2017-03-16 23:33] tannergooding opened #17213 "Expand the Perf test coverage for the System.Numerics.Vector types"
The current perf test coverage for the System.Numerics.Vector types is fairly limited (this extends to types such as Matrix4x4, Quaternion, and Plane as well).

Given that these are meant to be fairly core high-performance types (used in things such as Multimedia-based applications), it is important that we have a high amount of perf-test coverage over the current implementations.

[2017-03-16 23:33] tannergooding commented on #17213
FYI. @mellinoe, @DrewScoggins

[2017-03-16 23:34] tarekgh commented on #17120
it is related but not duplicate. please keep both opened. thanks

[2017-03-16 23:36] tannergooding opened #17214 "Improve the performance of the System.Numerics.Vector types"
The `System.Numerics.Vector` types are currently implemented as intrinsics in the CoreCLR. However, the perf in some cases is not ideal (especially around load/store for Vector3 and Vector2).

These scenarios should be investigated and improved. I believe that targeting comparable performance to the DirectXMath implementation is a reasonable goal here (it is also implemented entirely in intrinsics

[2017-03-16 23:36] tannergooding commented on #17214
FYI. @mellinoe, @DrewScoggins

[2017-03-16 23:43] mellinoe commented on #16571
@weshaggard I'm not really sure what's involved with this. Could you give more info?

[2017-03-16 23:47] #14594 closed

[2017-03-16 23:47] svick commented on #17068
[code]

What is the point of all those name parameters here? I get how specifying the string/array name is useful, but I think the index and count parameters might be obvious or they might not be parameters at all. So I think this mostly just makes the API harder to use.

---

[code]

Should there be overloads for other numeric types, at least `long`?

[2017-03-16 23:51] karelz commented on #12855
2.5 months no progress, I think it is safe to assume @vcsjones didn't have much time so far - feel free to grab it @tannergooding.

[2017-03-16 23:53] ajcvickers commented on #10526
@danroth27 @dougbu Do either of you know if it is by-design that DisplayAttribute does not have DataFormatString and NullDisplayText? It looks to me like DisplayAttribute is not designed to use these properties and therefore it would not be appropriate to add them, but I am hoping somebody else has some more context.

[2017-03-16 23:54] danmosemsft commented on #17211
Issue moved to [dotnet/wcf #1811](https://github.com/dotnet/wcf/issues/1811) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-16 23:54] #17211 closed

[2017-03-16 23:56] ajcvickers commented on #10527
@cervengoc We have reviewed the EditableAttribute and it seems that it is geared towards properties and not classes. In particular the AllowInitialValue makes sense for a property but is, at best, ambiguous if applied to a class.

Also, it would take consumers of the annotation to read it from the class before it could be used for anything, and it seems unlikely that many (if any) consumers would

[2017-03-16 23:56] #10527 closed

[2017-03-16 23:59] karelz commented on #17184
@danmosemsft we may need to do broader pass on this attribute - can you please track it?

[2017-03-16 23:59] danmosemsft commented on #17034
If you have any doubt it is fine to do a followup PR just for the test changes. If you want to do that you could break them into another branch and force push to your PR so it just has product changes.

[2017-03-17 00:02] #17184 closed

[2017-03-17 00:02] weshaggard commented on #16571
If you open up System.Data facade with ildasm you will see a bunch of global methods in there, I think something managed C++ uses. We need to have GenFacacdes clear out whatever stores that stuff as part of rewriting the binary. Without that we end up with a bunch of bogus type references that cause tools to have issues reading this binary.

[2017-03-17 00:02] ajcvickers commented on #10606
@JohannStudanski I don't think there is anything we can do _in the data annotation_ that would make this work for all client side validation, or even know or warn when it is not going to work. The consumer of the annotation might be able to do that, so if you feel strongly that this should be done in ASP.NET Core, then you might want to file an issue there. However, my understanding is that their

[2017-03-17 00:02] #10606 closed

[2017-03-17 00:06] ajcvickers commented on #11005
@hughbe After analyzing this we don't think that there is a compelling enough case to make a change here. It is true that a case can be made for InvalidOperationException instead of IndexOutOfRange exception, but both have reasonable interpretations. Also, changing the exception type thrown would be a breaking change. We think this would be a relatively minor breaking change in this case, but only

[2017-03-17 00:06] #11005 closed

[2017-03-17 00:07] ajcvickers commented on #11025
We can see the value in this, but it seems like quite an esoteric corner case. We would consider a pull request to make this change, but it is not something we are going to work on at this time.

[2017-03-17 00:09] joperezr commented on #17034
The problem of not seeing this API will be when building with the configuration of netstandard. The reason is that this particular API is currently only available in uap and netcoreapp, and if we want to expose it in netstandard then we would have to add it to the dotnet/standard repo (cc. @weshaggard).

@jamesqo responding to what you said earlier here:

That is not the case anymore. If we have s

[2017-03-17 00:11] ajcvickers commented on #11044
We can see the value of making this change, although it seems like using the data annotation in this way (mutating it for different members) is quite unusual. We are not going to work on this, but we would consider a PR for option 2--that is, fix the caching such that the display name is re-calulated if needed.

[2017-03-17 00:14] karelz commented on #16805
@weshaggard I lack the right technology terms in the space to describe what we decided. But what you said in https://github.com/dotnet/corefx/issues/16805#issuecomment-287155831 is exactly what I had in mind.
Let's sit down and think through all implications of such "radical" and technically breaking decision, but I think we should do it to lower the pain we inflict on our customers.

[2017-03-17 00:15] divega commented on #11142
**Data Annotations Triage:** the main course of action we have considered to address this issue is to allow opting-in the proposed behavior. We don't want to change the default behavior because we think it could break the assumption potentially baked into many existing applications that these attributes are enough to guard against empty strings.

In that design, a new `AllowEmptyStrings` flag woul

[2017-03-17 00:15] #11142 closed

[2017-03-17 00:16] karelz commented on #17034
We cannot add the API into netstandard, unless it is present on all the platforms .NET Standard is supposed to cover (.NET 4.6.1)

[2017-03-17 00:17] ajcvickers commented on #13280
As stated above, this is not a validation error, but rather an application logic error (at some level) that is setting both properties. We are not planning to work on this, but we would consider a PR that makes the message better--for example, by including the ErrorMessageResourceName in the message. (We would not want to include the ErrorMessageString in the message just on the off-chance that it

[2017-03-17 00:18] mellinoe commented on #17214
Definitely a valuable goal, although the majority of the work here will be in improving the SIMD codegen, and potentially the codegen around the new MathF intrinsics.

[2017-03-17 00:23] ajcvickers commented on #14748
Some attributes have a default error message, some do not. This is by-design--there are attributes for which there is no reasonable default. While it can be argued that RequiredAttribute could have a default error message, doing so would be a breaking change for applications that depend on it being null in any conditional. Also, unless we made every data annotation have a default error message (wh

[2017-03-17 00:23] #14748 closed

[2017-03-17 00:25] ajcvickers commented on #16101
@weshaggard Who is responsible for doing this across all the .NET libraries?

[2017-03-17 00:26] ajcvickers commented on #16402
@weshaggard We believe that the plan here is that everything more to net standard, which means that we should not make this change. Can you confirm?

[2017-03-17 01:48] vcsjones commented on #12855
Yes - I apologize. ☹️

[2017-03-17 02:04] danmosemsft commented on #17034
@rionmonster to summarize what @joperezr says above (and I should have known) some of our libraries are built in a configuration called netstandard that cannot access API that's not in netstandard (like this one). They could be changed in some cases to not do that, but use of this API is not a good enough reason. In short: just use where you can.

[2017-03-17 02:11] tannergooding commented on #12855
@vcsjones, I do the same thing sometimes (as happened when I created the bug in October up until today, when I actually had some time again 😄)

[2017-03-17 02:43] Jiayili1 commented on #17179
this issue is repro on OuterLoop_Fedora24_debug ([build#119](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora24_debug/119/testReport/))Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora24_debug/119/consoleText

Will check on next build to see if needing to reopen it.

[2017-03-17 02:44] karelz commented on #12855
Agreed, things happen, no worries @vcsjones ;-)

[2017-03-17 02:52] rionmonster commented on #17034
I figured that would be the case based on some of the earlier conversation. Given that, I believe that the current pull request has added it just about everywhere that it is reasonable to be included (both source and tests).

I may need to revert one of the recently changed dictionary performance tests however, as it seemed to break the "Vertical Netfx Build" with the following error:

I'm not sur

[2017-03-17 02:53] karelz opened #17216 "Add missing [Browsable(false)] attributes"
The attribute is new in 2.0. We should port also its usages into .NET Core 2.0.
Example: #17184

cc @danmosemsft @weshaggard

[2017-03-17 02:56] ahsonkhan commented on #17093
@svick, can you close this issue and possibly open one for `Memory<T>` in https://github.com/dotnet/corefxlab/issues if it is relevant?

You can find `Memory<T>` here:
https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Primitives/System/Buffers/Memory.cs#L15

[2017-03-17 03:22] jarenduan commented on #17026
@ericstj Thanks for the analysis and suggestion, I believe you are right. However, I did the app.net40.config thing as you said, and still got the errors.

When it worked for you, is there any "async/await" code in your project? If I compile an empty multi-target project, it will pass the compilation with a few warnings, but it will fail if I write some "async/await" codes.

I am also considering

[2017-03-17 03:46] tannergooding commented on #17214
So looking at `Vector2` and `Vector3`, it seems the primary 'perf' issue with load/store is that we don't treat them as 16-byte structures.

This is good for keeping memory allocations small, but it is bad for perf (because we end up doing multiple read/writes instead of a single read/write).

For something simple like `var result = VectorXValue` we produce the following:
**Vector2:**
[code]
**Vec

[2017-03-17 03:55] tannergooding commented on #17214
We would probably see a pretty big win here if we treat Vector3 and Vector4 as 16-byte structures. Most operations will end up touching the extra registers, but can trivaially be masked out of operations where it matters (such as equality checks).

For example, DirectXMath implements equality as follows (in all cases `FXMVECTOR` is `__m128`):
**Vector2**
[code]
**Vector3**
[code]
**Vector4**
[code

[2017-03-17 04:00] tannergooding commented on #17214
It also has a convention for two different types of load. An efficient one, that assumes the read is 16-bytes, and a slow read that assumes it is the size of the data structure (12-bytes for Vector3).
**Read 12-bytes as Vector3**
[code]
**Read 16-bytes as Vector3**
[code]

[2017-03-17 04:05] #16910 closed

[2017-03-17 04:05] karelz commented on #17202
Option 1b: Share the source code with client library (assuming licenses are compatible, etc.)

[2017-03-17 04:10] ReimuHakurei opened #17218 "System.Net.Security 4.3.0 breaks AuthenticateAsClientAsync on Linux"
Hopefully this is the right issue tracker for this bug.

System.Net.Security 4.3.0 breaks, at the very least, authenticating with Apple's push notification servers in an unusual way -- but only on Linux. It still works fine when used on Windows.

Here is a simple C# program, which does the bare minimum I've found to trigger this bug. For obvious reasons, I cannot provide the certificate file, alth

[2017-03-17 04:11] anthonylangsworth commented on #16798
@krwq This should be closed as the fix was merged.

[2017-03-17 04:15] karelz commented on #16798
Fixed in #17020

Thanks @anthonylangsworth for reminder!

[2017-03-17 04:15] #16798 closed

[2017-03-17 04:18] karelz commented on #17026
@jarenduan can you paste the code you have to add to empty project to get it failing? The "line" which makes it from OK to broken. That would help us reproduce inhouse.

[2017-03-17 04:45] danmosemsft commented on #17216
Is this really needed for 2.0?

[2017-03-17 04:45] danmosemsft commented on #17216
Didn't mean to hit close!

[2017-03-17 04:46] danmosemsft commented on #17160
@zhenlan

[2017-03-17 04:57] dougbu commented on #10526
In my opinion, `DataFormatString`, `NullDisplayText` and other `[DisplayFormat]` properties are better where they are. These properties are focused on the value of a field while `[Display]` properties are focused on what surrounds the field. (`Prompt` might cross the line but the rest are pretty clear.)

The alternative of adding `ResourceType` to `[DisplayFormat]` would be a significant breaking

[2017-03-17 05:15] danroth27 commented on #10526
@Eilon

[2017-03-17 05:51] jarenduan commented on #17026
@ericstj  like this:

[code]

The csproj:

[code]

The app.net40.config is same as you posted. And in output window:

Failed.

[2017-03-17 06:05] Jiayili1 opened #17220 "System.Diagnostics.Tests.ProcessWaitingTests.WaitForPeerProcess failed in CI"
Configuration: OuterLoop_Fedora24_debug ([build#119](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora24_debug/119/testReport/))

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora24_debug/119/testReport/System.Diagnostics.Tests/ProcessWaitingTests/WaitForPeerProcess/

[code]

[2017-03-17 06:17] Jiayili1 commented on #14536
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/128/testReport/System.Security.Cryptography.X509Certificates.Tests/ChainTests/VerifyWithRevocation/

[2017-03-17 06:22] Jiayili1 commented on #16516
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/lastCompletedBuild/testReport/System.Net.Security.Tests/SslStreamNetworkStreamTest/SslStream_SendReceiveOverNetworkStream_Ok/

[2017-03-17 06:24] gulbanana commented on #16805
I would very happily give up those new apis to avoid the nightmare of binding redirects.

[2017-03-17 06:29] Jiayili1 opened #17222 "System.ServiceProcess.Tests.ServiceControllerTests.StopAndStart failed in CI"
Failed test: System.ServiceProcess.Tests.ServiceControllerTests.StopAndStart
Configuration: OuterLoop_Windows10_release ([build#130](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/130/testReport/))

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/130/consoleText

Message:
[code]

Stack Trace:
[code]

[2017-03-17 07:10] jskeet opened #17225 "Teach the dynamic binder about synthetic ItemN tuple fields"
(Originally reported as part of https://github.com/dotnet/roslyn/issues/17911)

While we can't know for sure whether a particular `ValueTuple<...>` was originally used as a C# tuple type or directly as the CLR type, it's reasonable to err on the side of assuming the language feature was in use - so for dynamic references to `d.ItemN` where `N` is greater than 7, the binder should attempt to transl

[2017-03-17 07:20] jskeet commented on #17225
(And actually, the C# compiler handles CLR-typed `ValueTuple<...>.Item9` etc anyway, so that's even more compelling - it really just would be following the same rules at dynamic binding time as at compile time.)

[2017-03-17 07:39] doggyde opened #17226 "ServerCertificateCustomValidationCallback with client certificate not called in win10 environment, but called in debian environment"
Hello

The following code

	X509Certificate2 clientCert = new X509Certificate2("cert.pfx");
	HttpClientHandler clientHandler = new HttpClientHandler()
	{
		ServerCertificateCustomValidationCallback = (sender, cert, chain, sslPolicyErrors) => { return true; },
		ClientCertificateOptions = ClientCertificateOption.Manual,
		SslProtocols = SslProtocols.Tls12
	};
	clientHandler.ClientCertificates.Add(c

[2017-03-17 07:49] karelz commented on #17222
@Jiayili1 can you please add test-run-core or test-run-desktop tags to bugs you file? They are more useful than the blocking-clean-ci ...
Thanks!
cc @danmosemsft

[2017-03-17 07:52] Jiayili1 commented on #17222
@karelz Got it.

[2017-03-17 07:53] karelz commented on #17216
If we don't have them at the right places, what is the impact? I assume VS uses them for some purpose ...
From end-to-end perspective it might be needed for 2.0 (there is a good reason we have these attributes in Desktop I assume).

[2017-03-17 07:56] karelz commented on #17222
Thanks @Jiayili1!

[2017-03-17 08:01] Portikus commented on #16322
I had a similar issue with "System.Runtime.Serialization.Primitives". I have the same structure, a .netstandard 1.4 library and a net461 UnitTest project.
Adding System.Runtime.Serialization.Primitives nuget package (Version 4.1.1)  to the UnitTest project works as a workaround.

[2017-03-17 08:18] cervengoc commented on #10526
Thank you for your updates.

I agree with @dougbu that `DisplayFormat` properties indeed belong to a different place than `Display` properties, so I can fully accept this logic. However the biggest problem was for me the inability to localize the `DisplayFormat` properties.

At my current level of insight I can't see the breaking change what localizability would introduce in `DisplayFormatAttribut

[2017-03-17 08:21] cervengoc commented on #10527
I understand, thank you for the update.

[2017-03-17 08:41] janosjanka opened #17227 "MEF does not support compatible export types for generics"
Type compatibility checker of MEF does not check type constraints and covariance correctly when an exported generic class uses constraints on its type arguments that represent different but compatible types. Let's take a look at the following example:

[code]
As we can see, ModelB derives from ModelA and _IPugin{out TModel}_ is also covariant. So, the following assignments must be valid:

[code]

[2017-03-17 09:23] tmds commented on #16180
The common pattern is that the receiving process expects to use certain fds. Between fork and exec, the parent process fds are setup to match those using dup2. The Process class does this for std{in,out,err}. There is no API for a user to do this for his own file descriptors, so I wouldn't expect developers to be relying on this. Does that make sense? I don't know about the named pipe implementati

[2017-03-17 09:27] weitzhandler commented on #16402
1. Is DataAnnotations part of netstandard?
2. I thought this repo is for those targets outside the .NET that lacks annotations support, so why not support them all?
3. IValidatableObject?

[2017-03-17 09:50] DevMk commented on #17198
Yes, definitely. Thank you.

Is there a way to get both GetLastWin32Error and GetHRForLastWin32Error? Or get HR based on error.

One for special error handling, second one for exception message.

[2017-03-17 11:14] BharatRajMeriyala commented on #16598
Sorry for the delayed response and thanks for the code...
The 401 unauthorized error actually happens at webRequest.GetResponseAsync().. So I am unable to print the Headers as mentioned in the code above.

Below is my approach to access the report server url..

[HttpGet("[action]")]
        [AllowAnonymous]
        public async Task<FileContentResult> DownloadReport()
        {
            string

[2017-03-17 11:54] stephentoub commented on #16180
Yes, but that's not the case I was referring to.  I was referring to something along the lines of the AnonymousPipeServerStream example in the MSDN docs:
https://msdn.microsoft.com/en-us/library/system.io.pipes.anonymouspipeserverstream(v=vs.110).aspx
The "server" process creates an AnonymousPipeServerStream, gets the "client" handle, and launches a child process handing off the client handle to i

[2017-03-17 14:10] kwaazaar commented on #4382
@karelz: do you want me to create the pullrequest for this issue? That's fine, just let me know.

[2017-03-17 14:59] karelz commented on #4382
@kwaazaar yes. It is up for grabs - i.e. anyone can pick it up and submit PR. If you're interested, please let me know.

[2017-03-17 15:01] karelz commented on #4382
Actually my apologies (previous reply deleted to avoid confusion), first step is to create API proposal (it has to be thought through carefully). Then we need to approve the API. Then it will be the right time for PR implementation.
It's still up for grabs. Just don't jump directly to API proposal.

[2017-03-17 15:04] karelz commented on #16598
@BharatRajMeriyala your reply seems to be deleted. Was it on purpose or by mistake?

[2017-03-17 15:10] kwaazaar commented on #4382
If I'm correct, I can post the proposal right here in a reply?
Furthermore: since these are just additions to an existing enum, I guess my API proposal would be the complete set of additions to the original version.

[2017-03-17 15:21] tarekgh commented on #17216
this attribute used to hide some APIs from the Intellisense. the impact if we don't have it is Intellisense would show more APIs which I don't think is a big deal.

[2017-03-17 15:22] stephentoub commented on #14319
@rvfernandes, are you still hitting this issue?  Can you provide more details (e.g. OS, .NET Core version, etc.)?  I'm unable to repro the problem you're seeing.  I wrote a little app to attempt to:
[code]
and CPU goes up while requests are failing, but then goes back down to idle once the requests have completed.  Do you see otherwise?

If you're able to reproduce, are you able to attach a debugg

[2017-03-17 15:24] AtsushiKan opened #17232 "Need api to determine if a type is "byref-like.""
**Proposal for New API:**

[code]

With Span<>, we're now introducing a mainstream type that has "by-ref-like" or "stack-only" restrictions. We also have TypedReference in this bucket, but Span<> takes this concept out of the "eccentric uncle in the closet" realm.

There is, however, no robust way to know if a type has these restrictions. Apis like Array.CreateInstance() need to guard against thes

[2017-03-17 15:26] tarekgh opened #17233 "Need APIs for unicode case mapping and case folding"
@gafter commented on [Mon May 11 2015](https://github.com/dotnet/coreclr/issues/976)

The Unicode function for determining the category of Unicode characters (`System.Globalization.CharUnicodeInfo.GetUnicodeCategory(char)`) appears to reflect a fairly recent version of the Unicode standard. However, the functions for performing Unicode case mapping (culture-insensitive uppercase and lowercase) app

[2017-03-17 15:27] stephentoub opened #17234 "SendAsync_SlowServerRespondsAfterDefaultReceiveTimeout_ThrowsHttpRequestException failing in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/148/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/147/consoleText
[code]

[2017-03-17 15:28] stephentoub opened #17235 "X509StoreTests.Constructor_StoreHandle failed on macOS in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_osx_debug_prtest/93/consoleText
[code]

[2017-03-17 15:33] mattleibow opened #17236 "Is there a version 4.1.0.0 of System.Xml.ReaderWriter anywhere?"
I notice in the v4.3.0 NuGet of System.Xml.ReaderWriter, the `netstandard1.3` assembly version is 4.1.0.0. But, no other version is like this, all appear to be version 4.0.10.0... The `netcore50` version is 4.0.10.0. Even System.Xml.XDocument, which has a direct dependency on System.Xml.ReaderWriter, references a version 4.0.10.0. (The references of which I speak are the actual assembly references

[2017-03-17 15:38] tannergooding commented on #17214
We are using `movapd` instead of `movaps`, which is not ideal. The Intel Architectures Optimization Manual (http://www.intel.com/content/dam/www/public/us/en/documents/manuals/64-ia-32-architectures-optimization-manual.pdf) recommends:

MOVAPS and MOVAPD do the same thing, but MOVAPS takes one less byte to encode the instruction

There are a plethora of other optimization details recommended for f

[2017-03-17 15:40] ReimuHakurei commented on #17218
I'll check top later, but it is of note that the system in question has 1GB of memory + 2GB of swap free, and no other library exhibits the issue.

Where can I find a nightly build of System.Net.Security? I don't see any on NuGet. Are binaries available, or do I need to compile it myself?

[2017-03-17 15:45] karelz commented on #17234
cc @Priya91 @ianhays @steveharter

[2017-03-17 15:58] weshaggard commented on #16101
@danmosemsft has been looking at this more generally but ultimately it is up to the library owners to ensure they have the correct surface area for their library.

[2017-03-17 16:12] BharatRajMeriyala commented on #16598
I changed the report server to a differebt VM on my Azure subscription and I dont seem to face this issue. I will update the issue in greater issue soon.

[2017-03-17 16:12] ajcvickers commented on #16101
@weshaggard @danmosemsft How are we defining "correct" at this point? We dropped stuff that we didn't think was useful; I don't think that analysis changes. But if the goal is now as much compat as possible, then we should bring them all back. Happy to do either.

[2017-03-17 16:12] davidsh commented on #17234
This test is never going to be 100% reliable in CI. In general, testing cancellation is problematic because cancellation is "cooperative" and not guaranteed.  So, in some cases when the CI machine is busy, it might be possible for the cancellation request to take longer than the actual HTTP request. Which means the request succeeds and thus the test fails because the request was not cancelled.

[2017-03-17 16:18] weshaggard commented on #16101
.NET Core 2.0 is definitely taking a big pivot towards compat over pure cleanliness. So I would suggest you add all the APIs back unless there is a strong reason to keep some of them out.

[2017-03-17 16:20] ericstj commented on #14588
Targets should be merged in BuildTools but the BinPlaceConfiguration items should live in the consuming repo, along with repo/config-specific settings like IsUAP, IsNetCoreApp, etc.

I suspect there is a better way to handle ref/lib paths rather than tacking them onto a single item but that's not an essential fix.

[2017-03-17 16:21] ajcvickers commented on #16101
@weshaggard Will do.
@lajones @divega Putting this in 2.0 and updating it to indicate that we will bring all APIs back.

[2017-03-17 16:22] ericstj commented on #17026
If you're getting those warnings it means the binding redirects are not correct.  Let me share the exact project that worked for me.

[2017-03-17 16:25] stephentoub commented on #17234
Why can't it just go against a loopback page that never finishes the request?  Then cancellation/timeout can be issued at any point after we issue it.  In fact we already have such a test:
https://github.com/dotnet/corefx/blob/09f9d0beb74fa254e9e26e246ee81ce0a263eeda/src/System.Net.Http/tests/FunctionalTests/CancellationTest.cs#L31

[2017-03-17 16:27] stephentoub commented on #17234
Again:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/150/

[2017-03-17 16:28] stephentoub commented on #17235
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_osx_debug_prtest/94/

[2017-03-17 16:28] bartonjs commented on #17235
@mmitche I know we talked in the hallway about having the parallel job count for the Macs be reduced to 1; did that happen?

[2017-03-17 16:29] davidsh commented on #17234
That could be an option.  I had previously thought the WinHttpHandlerTest was already against a loopback server.

[2017-03-17 16:30] stephentoub commented on #17234
Do we need these WinHttpHandler-specific test at all, since the test I linked to would seem to cover the same functionality?

[2017-03-17 16:32] ericstj commented on #17026
It looks like you also need to set
[code]

Previously this was set by the BCL.Build targets which aren't being imported as I mentioned above.

With those two settings I can successfully build your sample.  Gist is here:
https://gist.github.com/ericstj/7df5e4b09b6c706758c3812e48a46a59

[2017-03-17 16:35] davidsh commented on #17226
This is interesting.  The ServerCertificateCustomValidationCallback should be called regardless of whether or not you use a client certificate.

Unrelated to your issue, but, I do want to caution you though, that using self-signed client certificate WILL NOT work as you expect because the server doesn't trust those and we have seen issues where those certificates do not get sent to the server.  Th

[2017-03-17 16:35] bartonjs commented on #17235
Actually, while parallel jobs can make this fire, I think it can occasionally trip itself, too.

If an outerloop store modifying test happens at the same time as this, there's the race condition between two reads of store.Certificates seeing a modified state.

So the test needs to be hardened.

* X509StoreMutableTests_OSX and X509StoreTests added to the same \[Xunit.Collection\]
* Make the test fi

[2017-03-17 16:37] davidsh commented on #17226
And in looking at the repro:

	Windows 10: SecurityError / Callback not called
	Debian: No Error / Callback called

It seems that the use of the self-signed client certificate is causing a TLS/SSL handshake error which is preventing the callback from getting called.

[2017-03-17 16:40] davidsh commented on #17234
WinHttpHandler.ReceiveTimeout is different from HttpClient.Timeout.  In fact, when HttpClient uses HttpClientHandler, it internally sets all the WinHttpHandler timeouts to "infinite".  The cancellation mechansim is very different in the HttpClient.TImeout test.

If we want good code coverage of the WinHttpHandler specific properties, then we need this test in some way.

[2017-03-17 16:40] weshaggard commented on #16402
@ajcvickers there isn't anything that would block adding a portable version to the System.ComponentModel.Annotations nuget package (assuming it can build against the portable profile).

DataAnnotations is not part of .NET Standard but does build on top of .NET Standard so it can be consumed via a .NET Standard Library project.

@ajcvickers as for adding additional APIs that can definitely be done

[2017-03-17 16:45] weshaggard commented on #17216
That isn't correct. EditorBrowsable is what hides things from intellisense. Browsable is generally used by other designer tools, in particular WinForms property dialog (https://msdn.microsoft.com/en-us/library/system.componentmodel.browsableattribute(v=vs.110).aspx).

So as for .NET Core I don't know if there is really anyone consuming these.

[2017-03-17 16:46] ericstj commented on #16805
I think to make an educated decision here we'd need to look at all consumers of those new APIs and get them to weigh in.  My understanding is that the APIs were added specifically for our partners to create "useful" server libraries while not depending on platform specific technology (OpenSSL, WinHTTP).  ASP.NET and Azure come to mind, but perhaps @terrajobst has a comprehensive source for that da

[2017-03-17 16:47] joperezr commented on #17160
cc @shmao do you mind taking a look?

[2017-03-17 16:48] tarekgh commented on #17216
Thanks Wes for the correction. I am moving it to the future according to Wes comment

[2017-03-17 16:48] weshaggard commented on #14588
OK we should have those somewhere else then, likely dir.props.

[2017-03-17 16:51] joperezr commented on #14935
It's definitely building for uapaot vertical now, but it doesn't have a special configuration for it, since it's just reusing the uap implementation. From what I can tell, it is building against contracts and we don't seem to have invalid PInvokes so I believe that should be enough but let me know if we want to add a specific uapaot configuration for it. I'll close this for now.

[2017-03-17 16:51] #14935 closed

[2017-03-17 16:55] shiftylogic commented on #16593
- Is their a swap partition enabled? _Note that by default, most cloud linux VMs do not enable swap partitions (by default) which means there is no way to page out of physical memory._
- How much physical RAM is on the machine.
- Unless it has changed, Linux does deferred page allocation. So, you don't see an OOM for physical memory limits until you start touching the virtual pages. So, if you hav

[2017-03-17 16:55] shmao commented on #17160
@joperezr The issue seems that the assembly for UWP doesn't use the code under `#if uapaot`. To fix this, we may need to target the assembly for `uapaot` instead of `uap`, and add
[code]

[2017-03-17 16:56] joperezr commented on #16417
Given the previous feedback I'm going to close this for now, we do however appreciate the contribution. Also, feel free to re-open if you come up with new scenarios that might add value to this proposal.

[2017-03-17 16:56] #16417 closed

[2017-03-17 17:01] ericstj commented on #14588
Yeah, or some dedicated props file.  I don't like how dir.props is a dumping ground.  Seems like we should split it up a bit and put the split props in a subfolder.

[2017-03-17 17:01] ericstj commented on #16126
Ping

[2017-03-17 17:02] joperezr commented on #17160
I see, I can fix that. I'll send up a PR

[2017-03-17 17:03] TylerBrinkley commented on #16417
Thanks for the consideration!

[2017-03-17 17:09] stephentoub commented on #17234
I see, I didn't notice it was a different timeout property. In that case the test we have could be duplicated and modified.

[2017-03-17 17:15] weshaggard commented on #14588
Fair I'd be OK with it being split but I would prefer that we move all but dir.props out of the root directory.

[2017-03-17 17:52] ianhays opened #17242 "Provide a way to override the logic of retrieving the preamble bytes in StreamWriter"
@kichalla commented on [Tue May 05 2015](https://github.com/dotnet/coreclr/issues/933)

In ASP.NET MVC, we use StreamWriter in some places to write data to the response stream. We want to avoid writing the BOM or preamble bytes irrespective of whether an encoding requires preamble or not.

I was initially looking to subclass StreamWriter and override some method like `GetPreamble` to prevent writi

[2017-03-17 18:25] ericstj commented on #17190
For `ToXPathNavigable` is that because we missed something in the NS2.0 work or was that an entirely new method?

[2017-03-17 18:26] sepidehMS commented on #17190
@ericstj I believe it's a new method as it doesn't exist on Desktop.

[2017-03-17 18:31] lajones commented on #2093
There are currently 2 internal implementation of the `LocalizableString` class (with the same namespace) – one defined in the `System.Web` assembly and one in `System.ComponentModel.DataAnnotations` assembly. While we could make one of them public it would then clash (compiler warning CS0436) with anything that refers to `LocalizableString` within the other one. So it could be done with a bit of w

[2017-03-17 18:38] ericstj commented on #16923
Wrote comprehensive tests and found all cases:
[code]
I'll fix all these up now and check in the tests.  I need to find a place to run them because putting them in CI or build will take too much time.

There are some additional problems with package support that also need to be fixed.  I'll file separate issues for those.

[2017-03-17 19:10] #11743 closed

[2017-03-17 19:20] zamont commented on #10338
Fixed by dotnet/core-setup#1649

[2017-03-17 19:20] #10338 closed

[2017-03-17 19:38] ericstj commented on #16923
I was actually able to fix all the separate issues.  With my changes all packages we build are restoring correctly on all platforms they support.

[2017-03-17 19:46] #16857 closed

[2017-03-17 20:01] danmosemsft commented on #17222
First thing to try could be increasing the 10 sec timeout in ServiceControllerTests.cs to 30 sec or something. @Priya91 if that seems reasonable, @Jiayili1 could do it for us?

[2017-03-17 20:06] Jonathan34 commented on #5593
So this is part of the .net standard 1.7 and will be integrated into .Net Core 2.0?
i am currently trying to migrate a .net framework 451 dll to .net standard 1.6 and it heavily uses xslt...

[2017-03-17 20:23] karelz commented on #17216
@weshaggard Will it impact GUI apps consuming .NET Standard libraries? I think not, but checking.

BTW: Support of VS (IntelliSense, designers, etc.) is part of our end-to-end story we need to worry about.

[2017-03-17 20:26] karelz commented on #16805
@ericstj assemblies replacing Desktop binaries are in much worse position - we do not run Desktop tests (incl. for components upstream) with them overwritten.
However, for CoreFX packages sitting on top of Desktop, we do test the latest versions in CoreFX. There are no upstream dependencies in Framework itself.

[2017-03-17 20:27] karelz commented on #16805
BTW: Is GACing our packages (which sit on top of Desktop, but are not its replacements) a common scenario? Do we recommend it? Should we discourage it? (it won't fly for plugin systems like VS I guess)

[2017-03-17 20:35] karelz commented on #17232
Looks somewhat related to recent #14047. Will we need more similar APIs for Span?
cc @jkotas

[2017-03-17 20:39] danmosemsft commented on #5593
@Jonathan34 yes `System.Xml.Xsl` is part of .NET Standard 2.0 and will ship in .NET Core 2.0.  (Just not support for `<msxsl:script>`.)

Do you want to try it out? Here are instructions for using .NET Core 2.0 nightly builds in VS 2017.
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md
If you hit any problems please do post back.

[2017-03-17 20:44] Jonathan34 commented on #5593
@danmosemsft thanks. What i thought. can we use a .Net standard 2.0 assembly in an asp.Net core 1.1 (mvc)?

[2017-03-17 20:47] danmosemsft commented on #5593
If it runs on .NET Core 2.0. I don't know how to do that upgrade (but obviously it's supported!). @davidfowl where is the "dogfooding guide for ASP.NET Core 2.0"?

[2017-03-17 20:52] Jonathan34 commented on #5593
Well the dll will use .Net standard 2.0 but my app will rely on .Net core 1.1 (until 2.0 is out). We can't use the beta version in prod but we may survive if one dll is in beta....

[2017-03-17 20:53] tannergooding commented on #17214
I think these are probably the core optimization rules for handling load/store of SIMD types:

with partial floating-point register writes, e.g. from the MOVSD XMMREG1, XMMREG2 instruction. Use
the MOVAPD XMMREG1, XMMREG2 instruction instead.
The MOVSD XMMREG, MEM instruction writes all 128 bits and breaks a dependence.
The MOVUPD from memory instruction performs two 64-bit loads, but requires add

[2017-03-17 20:55] danmosemsft commented on #5593
The assembly must run on .NET Core 2.0 runtime.

[2017-03-17 21:11] ericstj commented on #16805
I don't disagree with you, but you said bindingRedirects, not "replacing desktop components".  From the bindingRedirects argument this is no different from anything else.

I agree replacing desktop components has more cost.  Folks can decide to do it but they need to make sure all scenarios are tested.  Once they do that it can actually provide some *great* wins for our customers.  Look at MSBuild

[2017-03-17 21:13] DrewScoggins commented on #17214
Adding @dotnet/jit-contrib and @russellhadley

[2017-03-17 21:17] Jonathan34 commented on #5593
The assembly yes. But what about the ASP.net core app using the 2.0 assembly? Sorry I m trying to see if 1.1 can run a 2.0 assembly or if everything needs to be 2.0.

[2017-03-17 21:18] danmosemsft commented on #5593
Sorry everything from the implementation of XSL downwards needs to be 2.0. Do you use XSL in a limited way? If so perhaps there is a 3rd party library you could use for XSL meantime.

[2017-03-17 21:19] jkotas commented on #17232
This should wait for the design for byref-like types (e.g. ttps://github.com/dotnet/csharplang/pull/264).

I expect that the byref-like types will be explicitly marked by a custom attribute. So this property won't be inferred, but explicitly specified instead and this API will be essentially just a fetch of this custom attribute (or more efficient equivalent).

[2017-03-17 21:19] weshaggard commented on #17216
It could potentially, but it depends on how the tools load the assemblies. Currently these GUI designer tools only work for .NET Framework applications which have all the necessary attributes. The Browsable attributes are currently not in the netstandard refs so if tooling was to work against the platform APIs themselves and read that ref then they wouldn't have the metadata. However it wouldn't b

[2017-03-17 21:21] danmosemsft commented on #17198
@DevMk you could inline this.
[code]

[2017-03-17 21:22] danmosemsft commented on #17198
I think this is resolved -- please reopen if not.

[2017-03-17 23:09] karelz commented on #16653
This is not necessary for 2.0, pushing to Future.

[2017-03-17 23:09] ericstj opened #17256 "CoreFx is now including source and PDBs in all packages"
It looks like something was done wrong with the work to make combined packages.

Only transport packages should have source and PDBs.

Non-transport packages should still be split.

[2017-03-17 23:15] karelz commented on #14588
Moving to Future per discussion with @mellinoe

[2017-03-17 23:15] karelz commented on #14584
Not must have for 2.0

[2017-03-17 23:17] karelz commented on #14467
@safern @tarekgh this looks like dupe of your Desktop push. Closing this one.

[2017-03-17 23:17] #14467 closed

[2017-03-17 23:17] weshaggard commented on #14588
We need to do the build tools split before 2.0 otherwise we will be in a pretty bad place for servicing our 2.0 tools.

[2017-03-17 23:18] karelz commented on #9293
This is difficult and obscure. @bartonjs can we push it to Future? To compensate we could do one off manual sign off test ... thoughts?

[2017-03-17 23:20] geleems commented on #17139
This issue was resolve by fix https://github.com/dotnet/corefx/pull/17197#event-1003342960
I tested both Windows and Unix environment, and it all worked after this fix.

[2017-03-17 23:20] #17139 closed

[2017-03-17 23:24] weshaggard commented on #16900
I wouldn't expect this to happen at all on a clean build but if you want to essentially turn off signing you can pass `/p:SignType=oss` to the build to tell it to only do OSS signing which is limited.

[2017-03-17 23:24] #16900 closed

[2017-03-17 23:25] weshaggard commented on #16177
@ericstj I believe this is done now correct?

[2017-03-17 23:26] #16125 closed

[2017-03-17 23:27] weshaggard commented on #15579
This warning has been cleaned up in recent weeks.

[2017-03-17 23:27] #15579 closed

[2017-03-17 23:27] weshaggard commented on #15220
@ericstj I believe you have completed this work already, correct?

[2017-03-17 23:28] weshaggard commented on #15136
cc @safern

[2017-03-17 23:30] weshaggard commented on #14469
As part of our 2.0 ship matrix we will be adding support for Fedora 25.

[2017-03-17 23:31] weshaggard commented on #13409
Directions on consuming our latest bits can be found at https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md.

[2017-03-17 23:31] #13409 closed

[2017-03-17 23:32] weshaggard commented on #10382
This is an old infra piece to accomplish this now see https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits.

[2017-03-17 23:32] #10382 closed

[2017-03-17 23:34] weshaggard commented on #14946
@tloo were you able to figure out your issue here?

[2017-03-17 23:35] bartonjs commented on #9293
We've pushed it off since before 1.0 RTM, so clearly we "can" live without it.  As long as we have one distro which still runs the tests that are disabled because of this problem we can safely say that the code works.

If the number of distros which run these tests has fallen to 0 (it's Linux-only) then we've definitely lost coverage and this becomes more important.

[2017-03-17 23:36] weshaggard commented on #14627
This was done with https://github.com/dotnet/core-setup/pull/1424.

[2017-03-17 23:36] #14627 closed

[2017-03-17 23:42] #14868 closed

[2017-03-17 23:42] weshaggard commented on #14868
Issue moved to [dotnet/buildtools #1398](https://github.com/dotnet/buildtools/issues/1398) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-17 23:50] weshaggard commented on #15339
@danmosemsft did you handle this with your PR?

[2017-03-17 23:56] ericstj commented on #16177
Yeah, where we can.  I had to undo it in a few places where packages were part of the implementation closure of NS.L and couldn't introduce a cycle.

[2017-03-17 23:56] #16177 closed

[2017-03-17 23:56] ericstj commented on #15220
Yep.  It is done.

[2017-03-17 23:56] #15220 closed

[2017-03-17 23:57] weshaggard opened #17260 "Move to 2.0 CLI for our toolsets"
As part of the Build from Source effort we need to be able to build CoreFx with the 2.0 CLI otherwise we will not be able do a full stack build from SharedFx to CLI and then reuse that to build the stack again.

Somethings that I know will be broken are the 2.0 tools no longer support direct restore of a project.json file which we depend on still in corefx (likely in all our repos).

cc @dleeapho

[2017-03-17 23:58] karelz commented on #9293
Alright, future it is. Sad, but the right cost/benefit trade off at this moment.

[2017-03-18 00:00] ellismg commented on #17260
@weshaggard, @chcosta has a work item for next sprint to get corefx (and coreclr and other build tools based repositories) onto the 1.0 RTM tooling (which doesn't have the project.json support).

[2017-03-18 00:01] ellismg commented on #17260
The work item is in the private repository we use to track the engineering system team's work.

[2017-03-18 00:03] weshaggard commented on #17260
Do you mean onto the 2.

[2017-03-18 00:04] weshaggard commented on #17260
Yes I guess you are correct that it is the 1.0 RTM tooling not the 2.0 tooling but there maybe cases were we need at least the 2.0 based nuget tooling.

[2017-03-18 00:07] ellismg commented on #17260
I assume we actually end up needing something on the 2.0 train to understand the new TFMs (or we continue to do our copy hack, like we did with the project.json based tooling.

[2017-03-18 00:14] #17144 closed

[2017-03-18 00:15] karelz commented on #17216
OK, sounds reasonable for post-2.0.

[2017-03-18 00:20] omajid commented on #14469
@weshaggard, not sure what your timelines are, but Fedora 26 is expected to release in June: https://fedoraproject.org/wiki/Releases/26/Schedule. It might be a good idea to target that. Last year .NET Core 1.0 and Fedora 24 were released a few days of each other and 1.0 didn't support 24.

[2017-03-18 00:22] weshaggard commented on #14469
Fedora 26 is on our list to watch but it isn't clear yet whether that will happen in our 2.0 timeframe.