[2016-02-22 22:55] davidsh commented on #5045
@cesarbs It is on our list to re-investigate. As I said earlier, the fix was originally tested against the test case in the CoreFx repo.

[2016-02-22 23:16] mellinoe commented on #6321
On Windows_Debug: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/2665/

[2016-02-22 23:20] lukasz-pyrzyk commented on #6122
Hi @davidsh. Sorry for insufficient description of issue - programming at night reduces my focus.

When it comes to issue.
I've tried several time to reproduce that, but without any success. Since this issue I've updated dnvm runtimes.
Sorry for the confusion

[2016-02-22 23:41] davidsh commented on #6122
Ok.  For now we'll close this issue.  If you find you have a solid repro...then we can re-visit this. Thx.

[2016-02-22 23:41] #6122 closed

[2016-02-23 00:25] andschwa commented on #5902
Along a really similar vein, when most interactive apps are run and then closed (say, Vim), `Console.ReadKey()` no longer recognizes the arrow or home/end keys, and instead reports letters: "A, B, C, D, 1~, 4~" for "Up, Down, Right, Left, Home, End".

If this isn't `System.Console`, then it may be our own use of it, and we'd appreciate any pointers to debug it.

I've verified that `TERM` remains `

[2016-02-23 00:36] stephentoub commented on #5894
Failed again here:
[code]

[2016-02-23 00:36] #6321 closed

[2016-02-23 00:38] stephentoub commented on #5902
This is likely very related.  We likely need to handle some of the signals I mentioned, and potentially SIGCONT, to redo some of the initialization previously done, including re-sending KeypadXmit: https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.Unix.cs#L618.

[2016-02-23 00:44] #6286 closed

[2016-02-23 01:36] ericstj commented on #5955
Also, the redist list may be empty but we can examine the files in the targeting pack to correct that.

[2016-02-23 02:13] alsemenn opened #6326 "System.Runtime.InteropServices.Architectue is missing IA64"
In System.Runtime.InteropService.Architecture enum IA64 architecture is missing.

[2016-02-23 02:59] terrajobst commented on #6276
@Priya91 Thanks for clarifying. In that case, we should indeed do it for RTM.

[2016-02-23 03:08] terrajobst commented on #5964
:smile: I see. In that case RTM seems fine :-)

I don't see a problem with exposing these APIs. @KrzysztofCwalina @weshaggard?

[2016-02-23 03:11] terrajobst commented on #6167
Thanks, that seems like a good idea indeed!

@stephentoub @weshaggard What would like to see in there? In my case, I'd like to point that PRs that add APIs should have a corresponding issue to be filed first.

[2016-02-23 03:14] terrajobst commented on #4940
Agreed.

[2016-02-23 03:14] #4940 closed

[2016-02-23 03:16] stephentoub commented on #6167
For issues, the normal stuff (description of the problem, minimal repro steps, etc.), but also we often see target platform missing from the description, so it'd be good to highlight that.

For PRs, the body should contain a "Fixes ..." link to the issue (sometimes folks just put the issue number in the title, and that's not as easily followed), plus this way the issue automatically gets closed.

[2016-02-23 03:16] weshaggard commented on #6276
Agreed

[2016-02-23 03:18] terrajobst commented on #6167
That makes sense. I'll take a crack at the template and submit a PR.

[2016-02-23 04:26] vijaykota commented on #6072
@kapilash is taking care of this in #6139 so reassigning.

[2016-02-23 04:29] vijaykota opened #6329 "Use a random password for NegotiateStream Kerberos tests"
This is with reference to https://github.com/dotnet/corefx/pull/6158#discussion_r53619572

Instead of hardcoding the password in setup-kdc.sh a random password can be generated which can be shared with the test code. This would improve the security of a dev machine where the script is run

[2016-02-23 04:54] weshaggard commented on #5964
I don't have any real context on these perhaps @ericstj might have some ideas as to why we didn't expose them in the first place.

[2016-02-23 06:15] ayende commented on #5964
They are probably hidden because they are not portable, see: http://0pointer.de/blog/projects/locking.html

[2016-02-23 07:19] blackdwarf commented on #5899
@SamuelEnglard what is the action here? Seems like we have agreement on the glossary.md content's at least becoming a core-docs artifact, correct?

[2016-02-23 07:38] ayende commented on #6318
What does this gives you that ConcurrentDictionary<T, object> (and just not using the value) ?

[2016-02-23 08:48] 304NotModified commented on #1797
Well that isn't the case when using `[MethodImpl(MethodImplOptions.NoInlining)]`.

Can you elaborate on that?

Maybe. But currently we would like to use the caller attribute, but we can't. It's a binary breaking change in the core of whole NLog. And it looks like that if new caller attributes are added to the compiler/C#, we have again breaking changes - so it's not future proof at all.. :(

Thank

[2016-02-23 09:27] JohanLarsson commented on #6318
Nothing but communicates intent better imo. I usually do stuff like [this](https://github.com/JohanLarsson/Gu.ChangeTracking/blob/master/Gu.ChangeTracking/Internals/ConcurrentSet.cs) (not a proper set).
Set operations are perhaps tricky to get right with concurrency.

[2016-02-23 11:06] varocarbas commented on #6308
My detailed impressions about what modifications should be performed in the `System.Math` methods, ordered by importance:

1) Proper rounding/truncation also accounting for integer types.
- `Math.Round` should also include integer (at least, `int` and `long`) overloads. As rightly point out via comments in the associated PR (https://github.com/dotnet/coreclr/pull/3232), these new overloads shouldn

[2016-02-23 11:17] varocarbas commented on #6308
@mellinoe There you have it.

[2016-02-23 11:22] xied75 commented on #5964
The blog post is surprisingly negative towards Linux, makes one want to dump the penguin forever. :)

I kind of doubt that No serious software use locks in Linux, at least __git__ does.

[2016-02-23 11:32] akoeplinger commented on #6308
It'd be nice to have a speclet of the new APIs, [the API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) points to https://github.com/dotnet/corefx/issues/271 as a good example. E.g. in "Proposed API" you can immediately see the new APIs instead of needing to read through the text.

[2016-02-23 11:45] varocarbas commented on #6308
@akoeplinger I get your point; in fact, I am a code-first-talk-later kind of guy. But this situation is a bit complicated.

Bear in mind that each `System.Math` method includes a different functionality with a different algorithm. Even worse: these algorithms aren't public (at least, not some of them, like `Math.Pow`), but part of the native/C++/Microsoft-kept-to-themselves functions. For example:

[2016-02-23 11:52] lstefano71 commented on #3993
At CppCon 2015 Niall Douglas explained what is the correct algorithm to delete a directory tree on NTFS and why the naive algorithm is wrong. Here's the relevant bit of his talk: https://youtu.be/uhRWMGBjlO8?t=8m53s
(The algorithm for Posix is just before).
Here's the PDF with the slides: https://github.com/CppCon/CppCon2015/blob/master/Tutorials/Racing%20the%20Filesystem/Racing%20the%20Filesystem

[2016-02-23 11:57] akoeplinger commented on #6308
@varocarbas How they're implemented doesn't really matter in the first step of an API addition (which is to decide whether or not they should be added or not).

Having a code snippet to see which methods/overloads you're proposing to add makes this easier, e.g.:

[code]

[2016-02-23 12:01] varocarbas commented on #6308
@akoeplinger Ah! I didn't get your point, sorry; will write it right away.

[2016-02-23 12:56] atrauzzi commented on #5349
Will there be any updates to install instructions for people who want to run on 15.10 (or future current non-LTS releases)?

[2016-02-23 12:57] varocarbas commented on #6308
@akoeplinger Here you have it.

[code]

[2016-02-23 13:09] mgravell commented on #1613
The key thing that is different is the `DbType` behavior; in .NET it is ok without this being set explicity; in the current core builds, it needs to be set to work:

        [Fact]
        public void AdoNetEnumValue()
        {
            using (var cmd = connection.CreateCommand())
            {
                cmd.CommandText = "select @foo";
                var p = cmd.CreateParameter();

[2016-02-23 13:44] svick commented on #6318
@ayende Apart from the "it's clearer what this code does" reason and the precedent of having `HashSet<T>`, there is a small, but measurable, difference in performance and memory consumption.

A very simple test: when I add a million values to `Dictionary<int, int>`, it takes 42 ms and consumes 26.6 MB of memory, while with `HashSet<int>`, it takes 38 ms and consumes 21.3 MB.

[2016-02-23 14:00] ayende commented on #5964
@xied75 Git doesn't use file locks. It use lock files.
In other words, it use the presence of a file to detect whatever it is lock or not, it doesn't use the flock or F_SET_LK methods.
I just grepped the git source to verify that, by the way.

[2016-02-23 15:03] #6316 closed

[2016-02-23 16:05] GSPP commented on #2209
Operations with multiple operands are a good case for *not* putting the operations on the primitive types.

`a.RotateLeft(b)` or `a.ParallelExtract(b)` reads asymmetrical and artificial (such as `a.Add(b)` would - terrible).

[2016-02-23 16:08] JonHanna commented on #6318
If anything more so, since the concurrency consideration means there are a few spots that want to be particularly efficient, so not having to do anything with values would be an even greater gain there than with `HashSet<T>`.

[2016-02-23 16:31] redknightlois commented on #2209
@GSPP I agree about the multiple operators, but what about unary operations like BitCount, FirstSetBit, etc?

[2016-02-23 16:37] stephentoub opened #6331 "XmlWriterApi TCEOFHandling test failing on Unix"
It's not handling new lines properly.

[2016-02-23 16:38] jkotas commented on #6276
Fixed by https://github.com/dotnet/corefx/pull/6320

[2016-02-23 16:38] #6276 closed

[2016-02-23 16:44] jkotas commented on #6326
Do you need it for anything? I do not believe anybody has plans to bring .NET Core to IA64.

[2016-02-23 16:47] stephentoub opened #6333 "GenerateRuntimeDependencies failed in CI due to runtime.json file"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/99/consoleFull
[code]

[2016-02-23 16:53] GSPP commented on #2209
I think all these fairly esoteric operations should be squirreled away somewhere. Almost all code will not want to use them. I can see the case for supporting some of these as extensions as long as it's in an uncommon namespace.

Also, putting them into anything with "Vector" in the type or namespace name is simply a misnaming. These instructions are unrelated to the very idea of a vector.

Naming

[2016-02-23 17:29] svick commented on #6318
@JohanLarsson

I think a `ConcurrentSet` would be useful even without set operations.

[2016-02-23 17:37] JonHanna commented on #6318
I know of one C# concurrent hash set and one in Java and neither offer concurrency on set operations, only on the add, remove, contains.

[2016-02-23 18:12] ericstj commented on #5964
At the time we did the initial contract we had 3-strikes against this API.

1. Sub-file locking was not supported by all platforms.  We couldn't lock the files which we got through the WinRT broker since we didn't have a handle and WinRT didn't expose anything like sub-file locking.  That's not a blocker since there are other similar things we can't do with brokered files.

2. The failure mode for

[2016-02-23 18:13] hughbe opened #6338 "Complex.Equals(object) and Complex.Equals(Complex) do not always return the same result"
## Context
Complex provides 3 main ways of testing equality of a complex:
- `Complex.Equals(Complex)`
- `Complex.Equals(object)`
- `==(Complex, Complex)`

## Problem
[code]
The problem is that `Equals(object)` calls the `==` operator instead of the `Equals(Complex)` method. Note that the `==` operator and `Equals(Complex)` method have different code, and this causes discrepancies.

The problem mai

[2016-02-23 18:20] JonHanna commented on #6338
It definitely breaks the contract of `Equals()` and I imagine was just an oversight of not spotting the NaN case. Maybe someone will point out a backwards compatibility case, but I say go for it.

[2016-02-23 18:39] alsemenn commented on #6326
Ok. Thanx.

[2016-02-23 18:39] #6326 closed

[2016-02-23 18:56] Priya91 commented on #4384
Fixed by referenced PR.

[2016-02-23 18:56] #4384 closed

[2016-02-23 18:56] Priya91 commented on #6230
The Arm64 arch has been added to RuntimeInformation. Closing this issue, since it's tracking it.

[2016-02-23 18:56] #6230 closed

[2016-02-23 19:14] ZhichengZhu opened #6344 "System.Runtime.InteropServices.RuntimeInformation.ProcessArchitecture returns the wrong platform in SysWow64\cmd.exe"
Here is a small repro program:
[code]
If you run this code under SysWOW64\cmd.exe and using x64 machine, the program will print x64. But %PROCESSOR_ARCHITECTURE% actually is x86. I am not sure if ProcessArchitecture should return the actual processor info or the should base on the current running environment.

[2016-02-23 19:20] #5205 closed

[2016-02-23 19:20] terrajobst commented on #5964
Thanks @ericstj. My understanding is that in AppContainer a file could be lockable if it is from a location we can use Win32 but not lockable when it comes from a location that can only be accessed via the WinRT broker, right?

In that case it looks like the APIs will have to throw `NotSupportedException` as it depends on context. This tells me that FileStream would need a capability API to allow

[2016-02-23 19:24] terrajobst commented on #5868
@stephentoub, are you going to add the API? If not, @weshaggard, who should be taking care of it? I don't think it should be assigned to me :smile:

[2016-02-23 19:25] terrajobst commented on #392
I believe this is taken care of by our [triaging document](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/triage.md).

[2016-02-23 19:25] #392 closed

[2016-02-23 19:29] terrajobst commented on #1565
Moving to future as it doesn't make the RTM bar.

[2016-02-23 20:06] dagood commented on #6333
Hmm, I don't have a good enough grip on the pkgprojs and Packaging.targets to think of a reason this might happen. @ericstj, any ideas?

[2016-02-23 20:13] ericstj commented on #6333
Two package projects building the same identity. /cc @chcosta

This is due to a bug in the builds file: https://github.com/dotnet/corefx/blob/master/src/System.Net.Primitives/pkg/System.Net.Primitives.builds#L8

That should be the win\System.Net.Primitives.pkgproj

My binclash logger didn't catch this because the PkgProj's don't set TargetPath.

[2016-02-23 21:03] chcosta commented on #6333
Thanks Eric, I'll take a look.

[2016-02-23 21:06] #6344 closed

[2016-02-23 21:06] ZhichengZhu commented on #6344
My mistake. Sorry

[2016-02-23 21:07] hughbe opened #6351 "Bug setting host to partial IPV6 address in UriBuilder"
## Problem

This is the code for the setter of a host in UriBuilder:

[code]

The setter for `UriBuilder.Host` checks to see if an IPV6 address has been provided. It follows the following alogrithm
- If the host is an IPV6 address and has does not start with a square bracket, add square brackets around the host.

The problem occurs when the host already has a square bracket at the end, but not at

[2016-02-23 21:09] hughbe commented on #3646
FYI, there is similar behaviour for the setter for Fragment

[2016-02-23 21:12] mellinoe commented on #6338
I think we will be able to do this for CoreCLR/.NET Core without an issue, but we will most likely need to "quirk" the behavior on the desktop framework if we ever want to port the change back there. That part isn't something you'd have to worry about, just pointing it out. There's also the possibility we don't want to bother porting this back to the desktop framework.

[2016-02-23 21:16] hughbe commented on #6338
Awesome. Would you like me to also port my PR to coreclr as well?

[2016-02-23 21:28] hermitdave commented on #6318
Is there's plan to add this? If there is and it's up for grabs, I can look into it

[2016-02-23 21:30] mellinoe commented on #6338
No, that shouldn't be necessary. If we do end up making that change it will have to be on our side and go through some approval processes as it would ship in an update to the .NET Framework. I was mostly just stating the above for our own consideration in the future.

[2016-02-23 21:32] hughbe commented on #6338
Understood.

[2016-02-23 21:33] hughbe opened #6353 "UriBuilder needs some tests"
## Problem
UriBuilder currently does not have any tests in corefx.
This means that changes to the class cannot be tested (especially if issues like #6351 and #3646 are fixed). Furthermore, it reduces the coverage report for System.Private.Uri.

## Solution
I have sent a PR with a complete set of tests covering 100% of UriBuilder. This is PR #6354

[2016-02-23 21:59] corivera opened #6355 "NullReferenceException in SmiMetaData.cs when running DataStreamTest"
System.Data.SqlClient.ManualTesting.Tests.DataStreamTest.RunAllTestsForSingleServer_nwnd10SqlClient [FAIL]
	System.NullReferenceException : Object reference not set to an instance of an object.
	Stack Trace:
		D:\CoreFX\src\System.Data.SqlClient\src\Microsoft\SqlServer\Server\SmiMetaData.cs(294,0): at Microsoft.SqlServer.Server.SmiMetaData..ctor(SqlDbType dbType, Int64 maxLength, Byte precision, B

[2016-02-23 22:05] terrajobst commented on #5899
Here is what I think we should do:

* Move `dotnet/corefx/Documentation/project-docs/glossary.md` to `dotnet/core-docs`
* Follow @cartermp's advice and add new TOC entry "Glossary" under "Understanding the .NET Platform"

It seems either @cartermp or @blackdwarf should own this, given you guys own the docs. Fair?

[2016-02-23 22:05] noahfalk commented on #1797
You might still run into issues with jitted code tail calls or unexpected callers injected by C# refactoring the IL (iterators, async, future language features)? I don't know for a fact that you will, but I'm also not promising anyone that there exists any specific set of steps that guarantees you won't.

For .Net Native, metadata (which includes method names) are not included for all methods by d

[2016-02-23 22:11] svick commented on #6318
@hermitdave You might want to have a look at how [the API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) works.

[2016-02-23 22:19] 304NotModified commented on #1797
Agree, we have some logic on that.

We mostly need it for the (full) type name. Method name is less important.

Yes, thanks for the info.  :+1:

[2016-02-23 22:30] hermitdave commented on #6318
Thanks @svick will keep an eye on this one

[2016-02-23 22:57] JohanLarsson commented on #6318
@svick

Agreed, perhaps it should not be called `Set`? IDK.

[2016-02-23 23:27] chcosta opened #6361 "BinClash logger doesn't detect clash if PkgProj doesn't set TargetPath"
BinClash logger doesn't catch a clash if PkgProj's don't set TargetPath.

See https://github.com/dotnet/corefx/pull/6352

[2016-02-23 23:28] davidsh commented on #6353
We also have lots of Uri and UriBuilder tests internally but not yet ported them to CoreFx GitHub.

[2016-02-23 23:30] davidsh commented on #6353
cc: @CIPop @SidharthNabar

[2016-02-23 23:39] hughbe commented on #6353
@davidsh good to know.

I've been spending some spare time over Christmas on some Uri tests. Obviously coverage is not a perfect way of measuring, but those tests increase coverage to >70% from 30%.

They're pretty comprehensive IMO. If you have time, you can take a look here: https://github.com/hughbe/corefx/blob/de09b5a315185f13657b74a3b83738ff5b21c989/src/System.Runtime/tests/System/Uri.cs

The

[2016-02-23 23:42] hughbe commented on #6353
It also seems that the source code for System.Private.Uri is a bit of a mess, and in need of future refactoring. Therefore for my tests above I tried to find both common and corner cases. These may or may not be useful for your internal test suite too.

[2016-02-23 23:46] davidsh commented on #6353
Please do not do any refactoring of System.Private.Uri.  We know it is not pretty.  But we need to keep it as-is so that we can diff fixes between CoreFx (.NET Core) and .NET Framework.  Over time, we will get the code into a more maintainable state.

Thank you for your contributions and we will schedule the PR for review.

[2016-02-23 23:48] hughbe commented on #6353
Oh no I don't intend to do any refactoring, don't worry!

[2016-02-23 23:49] davidsh commented on #6351
Allowing this to succeed is a bug:

[code]

But I'm not sure if/when we can fix due to app-compat concerns.  We will need to review.

[2016-02-24 00:28] cartermp commented on #5899
@terrajobst sounds good.  @blackdwarf sound good to you?  If so I'll move the doc and create the PR on core-docs and corefx.

[2016-02-24 01:03] blackdwarf commented on #5899
@cartermp go for it, but then reference this issue and then resolve it when merged.

[2016-02-24 01:29] sepidehMS commented on #5950
This failure doesn't look related to TreeManipulation. All tests in TreeManipulation are passing and the error messages printed were expected. However, those messages have been removed in https://github.com/dotnet/corefx/pull/6360.

[2016-02-24 03:22] JonHanna commented on #2317
Since this is being treated as an API change rather than a bug-fix, I suppose it needs a proposed API, no matter how minimal.

### Proposed API

[code]

All of which is already clear from the discussion above, but there's no harm dotting i's.

[2016-02-24 06:13] ayende commented on #5964
One common use of this API in production is here:
https://github.com/apache/lucenenet/blob/master/src/Lucene.Net.Core/Store/NativeFSLockFactory.cs#L165

When we ported this to the CoreCLR we just used the native call, and since
we need to support this on Linux, we'll probably change that to use a
locking file, instead of a file lock.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-5

[2016-02-24 08:26] DerpMcDerp commented on #1168
For swizzling, the field name (i.e. `XX`, `XY`, ..., `XXXX`, ..., `WWWW`) approach results in an insane amount of properties. I think an indexing operator should be used instead:

[code]

The jitter should look to see if the numbers passed in are all constants so it 1. uses the register selection feature of some SIMD processors and 2. skips over the index out of range checks.

For the basic case,

[2016-02-24 08:31] noahfalk commented on #1797
Interesting, wouldn't have expected that. It won't offer any reprieve right now because type names are in the same boat, but definitely something we can keep in mind when trying to do some work to improve the situation

[2016-02-24 13:43] stephentoub commented on #5209
Fixed by https://github.com/dotnet/corefx/pull/6282

[2016-02-24 13:43] #5209 closed

[2016-02-24 15:38] ballm commented on #6180
I've updated a test console app to https://github.com/ballm/dotnet_core_issue_6180.git it makes 10 requests and outputs their timing to screen along with showing an average. When targeting DNX46 it is considerably quicker than targeting DNXCORE5. Have added the outputted results I captured below.

DNX 4.6

0: 291.0291 ms
1: 289.0289 ms
2: 278.0278 ms
3: 273.0273 ms
4: 284.0284 ms
5: 282.0282 ms
6:

[2016-02-24 15:48] GSPP opened #6371 "Reset certain thread-local state after thread pool work item execution"
It can sometimes happen by accident that a thread pool work item sets some thread-local state such as:
- SynchronizationContext.Current
- HostContext (used for HttpContext.Current)
- Thread priority
- Thread name
- Thread culture
- Thread principal
- Others?

Failing to reset that state causes non-deterministic "leaks" that are very hard to diagnose. This is especially relevant in ASP.NET and in u

[2016-02-24 16:23] svick commented on #6308
I'm not sure those mathematical functions make sense for `decimal`. `decimal` is usually used for its ability to represent decimal fractions accurately, not for its larger precision.

[2016-02-24 16:43] varocarbas commented on #6308
@svick I think that your misunderstood some of my statements. Let's me do a quick summary:
- `double` can deal with much bigger values than `decimal` (and any other numeric type). No doubt on that.
- `double `precision is much worse than the `decimal` one, because it is a floating point type (https://en.wikipedia.org/wiki/Floating_point) unlikely `decimal`. In fact the associated MSDN article(http

[2016-02-24 16:55] JonHanna commented on #6308
`IEEERemainder` means the remainder as defined by IEEE Std 754-1985. That document has nothing to say about `decimal`.

Why might one want to know a cosine in `decimal` unless an eccentric mathematician had offered a job with a salary of (cos 1.5) million?

[2016-02-24 16:56] JonHanna commented on #6308
The `Round`, `Truncate` and `Pow` overloads I can definitely see a value to.

[2016-02-24 17:10] varocarbas commented on #6308
@JonHanna Even I recognise that some of the proposals aren't too necessary :) unless the overall consistency is brought into picture. Some modifications are very easy, why not properly supporting all the types?

Regarding `IEEERemainder` (and other suggestions), my approach was: why forcing anyone to use a specific type? For example: you might be doing all your calculations by using `decimal `or `

[2016-02-24 17:21] JonHanna commented on #6308
Well, there's the question of just how easy the trigonometric functions would be on `decimal`, though I don't think that should be worried too much about yet. They are likely not as easy as the `double` for which there would be FPU support.

But `IEEERemainder` doesn't make any sense for `decimal` as there's just no defined meaning. `Remainder` might.

[2016-02-24 17:23] bartonjs opened #6373 "Followup on imported TODOs in CapiHelper"
CapiHelper.cs was migrated in with several TODOs.  Many of them are being removed right now, but there are three that are going to survive immediate pending changes:

CapiHelper.GetKeyParameter:

CapiHelper.ValidateCspFlags:

CapiHelper.DecryptKey:

* [ ] GetKeyParameter
* [ ] ValidateCspFlags
* [ ] DecryptKey

[2016-02-24 17:34] varocarbas commented on #6308
@JonHanna Ah! I didn't get your point the first time! IEEERemainder calculates the floating point reminder! Logically, `decimal` has nothing to do here. I will correct this issue right away.

I guess that it is clear that I haven't ever used this function. I found it while skimming through all the `System.Math` methods to include a comprehensive list, as requested by akoeplinger.

[2016-02-24 17:34] #2336 closed

[2016-02-24 18:27] varocarbas commented on #6308
To address some of the concerns in the comments above regarding the advantages of the second subgroup (`decimal` overloads), I have written the small C# code below these lines.

[code]
It uses one of the `System.Math` functions supporting different numeric types (`Math.Abs`). This is a very simplistic testing framework, which delivers different results on account of the order of the loops (i.e., b

[2016-02-24 18:52] varocarbas commented on #6308
@JonHanna Regarding trigonometric functions, I think that you are facing the problem wrongly. It is not a matter of needing `decimal` for certain calculations (you are right, `double` should be more than enough in these cases), but of avoiding an expensive type conversion (see my previous comment). These functions might be called from anywhere (i.e., any algorithm built in certain way for whatever

[2016-02-24 18:58] cdmihai opened #6374 "When does core clr throw CultureNotSupported exception?"
On windows, `new CultureInfo("zh-CHS")` or `new CultureInfo("Shared")` (bogus name) throw a CultureNotFoundException. On OSX they don't.
However, "zh-CHS" was obtained by calling `CultureInfo.GetCultures(CultureTypes.AllCultures)` on full framework. reading #1669 I get the understanding that any string is now fair game and should be supported.

In light of this, when can one expect CultureNotFound

[2016-02-24 20:18] svick commented on #6308
@varocarbas From your test, I would arrive at a different conclusion: that if performance matters, don't use `decimal` at all. And I don't understand why are you comparing the casting version with the `double` version. If you compare it with the existing `decimal` version, the casting version is only 3 times slower.

And this is probably the best case scenario, [computing the absolute value of `de

[2016-02-24 20:26] JonHanna commented on #6308
You might get better accuracy for some values, with comparable speed if you cast to and from `F`. I'd be very surprised if directly acting on decimal could be anywhere near as fast as casting and being able to use the CPU.

[2016-02-24 20:39] varocarbas commented on #6308
@svick Please, re-read my comments because you didn't get the point. It is not a matter a choosing one or the other type, it is a matter of delivering a comprehensive solution for any possible scenario. My test is not trying to prove the differences between `decimal` and `double` (because in that case I wouldn't rely on a conversion, but on the adequate overload); but the differences between what

[2016-02-24 20:42] varocarbas commented on #6308
@JonHanna Do you know what they say in these cases? "Put your money where your..." or http://ericlippert.com/2012/12/17/performance-rant/

[2016-02-24 20:48] JonHanna commented on #6308
Yep, if you're going to suggest that you can do trig on decimals faster than casting to double, show how.

[2016-02-24 20:49] linuxuser27 commented on #6308
@varocarbas I believe @svick gets the point quite clearly, its just that it would seem you and him are not on the same page. It looks like your argument is that .NET should provide full type overloads so it is easy to do any operation without thought. @svick is from the perspective of why provide a mechanism that will lead people down a path that doesn't really make sense. Personally I am with @sv

[2016-02-24 20:54] varocarbas commented on #6308
@JonHanna I guess that deserve it.

[2016-02-24 20:59] JonHanna commented on #6308
No, seriously, if it can be done with a performance increase that definitely ups the value in offering it.

[2016-02-24 21:00] varocarbas commented on #6308
@linuxuser27 I have proposed all these changes because of having found myself in this situation many times. For example: a very complex algorithm performing lots of actions calling `System.Math` methods just eventually. Logically, I will not define the variables in my algorithm to make sure that a specific call to a function is maximised. Is this a big deal? No. Is this something which might be im

[2016-02-24 21:08] varocarbas commented on #6308
@JonHanna But this is the whole point of my aforementioned comment. It shows what is required right now when using these methods with `decimal` variables (i.e., a conversion to `double`) vs. a situation somehow emulating what the new overloads will deliver. This is the maximum I can do before having the go-ahead and actually implementing the new `decimal` overloads.

Example: I want to use `decima

[2016-02-24 21:13] linuxuser27 commented on #6308
@varocarbas I think that is absolutely true. Many times people perform operations that do not need to be fully maximized or the most efficient. I am merely commenting that providing certain overloads can lead people down paths that are not ideal. Should .NET provide this? I don't know, but I do think that an argument can be made that some overloads are a bad idea because of the confusion it can ca

[2016-02-24 21:18] sokket commented on #4839
We have this general concept now so this isn't really needed...closing

[2016-02-24 21:18] #4839 closed

[2016-02-24 21:26] ericeil commented on #4728
Moving this to the Future milestone; we can reprioritize if there is user demand.

[2016-02-24 21:26] varocarbas commented on #6308
@linuxuser27 I always put special attention to optimising my algorithms. But what is better for a specific function (i.e., `double` arguments) might be horrible for the whole algorithm; and I will not make my algorithm worse just to fullfill the requirements of a function used a couple of times. If you could do this function better to avoid me performing unnecessary conversions, I would be happy t

[2016-02-24 21:34] corivera commented on #6355
CC @saurabh500

[2016-02-24 21:37] corivera opened #6375 "Failing test with Japanese characters in SqlTypeTest.SqlStringValidComparisonTest on Linux"
System.Data.SqlClient.ManualTesting.Tests.SqlTypeTest.SqlStringValidComparisonTest [FAIL]
        Error (Default Comparison Option with Operator): ﾌｧｽﾞ･ｷﾞﾀｰ and ファズ・ギター should be equal
        Expected: True
        Actual:   False
        Stack Trace:
              at System.Data.SqlClient.ManualTesting.Tests.SqlTypeTest.SqlStringDefaultCompareOptionTest(Int32 localeID)
              at System.Da

[2016-02-24 21:45] ericeil commented on #5251
It looks like if there *was* a bug here, it's since been fixed by #5608.

[2016-02-24 21:52] ericeil commented on #6006
I'm unable to repro this, and there isn't enough info here to find the cause.  Would be nice if we saved core dumps for these sorts of failures....  If it comes up again, I'll take another look.

[2016-02-24 21:52] #6006 closed

[2016-02-24 21:52] saurabh500 commented on #6355
@corivera Does this happen only for Share Memory ?

[2016-02-24 22:12] linuxuser27 commented on #6308
@varocarbas Never suggested that at all. In fact I agree with you entirely. Please do not assign your incorrect interpretation to my statement, it is rude and indefensible in this kind of discussion. My point was that providing a mechanism/API that can distort or mislead the user is not ideal. For example providing a mathematical function that will return a value that does not provide the precisio

[2016-02-24 22:17] kkurni commented on #6375
Related issue which seems out of our control. https://github.com/dotnet/corefx/issues/5022

[2016-02-24 22:40] varocarbas commented on #6308
@linuxuser27 OK. Sorry about having misinterpreted your words.

No problem regarding what you are saying in your last message. Both `decimal` and `double` are two parallel realities which will get a parallel treatment in the proposed overloads; in fact, the whole point of my proposal is letting them be parallel, rather than using the same `double` road.

For example: I might use ` double varDouble

[2016-02-24 22:52] mellinoe commented on #6308
I will give some of my thoughts on the proposed additions:

[code]
I could see these being useful in some scenarios. Is there a reason these do not mirror the `float` and `double` overloads? By that, I mean, why is there no overload which takes both a "digits" and "MidPointRounding" parameter? Did you mean for the second overload (in each pair) to include both parameters? When rounding an integer,

[2016-02-24 22:59] andschwa commented on #5902
Going to add another, related, thing:

On OS X, with `TERM=xterm256color` (and all others tested) when the system Terminal is left to its defaults, the "delete" key (used as "backspace") sends `^?`, which according to `stty -a` ought to be interpreted as 'erase' (as in the backspace action, or `Backspace`), but instead gets interpreted by `Console.ReadKey()` as `Delete` (as in the forward delete a

[2016-02-24 23:16] varocarbas commented on #6308
Sorry, it was a typo (corrected). In fact the new integer overloads have always to include the argument digits. JonHanna already highlighted other problem. Sorry about that, but honestly I wasn't expecting to write so many things here.

In fact, my first version delivered the same for integer than for decimal types (i.e., 123456 being rounded to 3 being 123), but linuxuser27 made a quite fair poin

[2016-02-24 23:28] stephentoub commented on #5902
This isn't related. Can you please open a separate issue?

[2016-02-24 23:31] andschwa commented on #5902
Can do.

[2016-02-24 23:33] andschwa opened #6377 ""Delete" key on OS X not interpreted as `Backspace`"
On OS X, with `TERM=xterm256color` when the system Terminal is left to its defaults, the "delete" key (used as "backspace") sends `^?`, which according to `stty -a` ought to be interpreted as 'erase' (as in the backspace action, or `Backspace`), but instead gets interpreted by `Console.ReadKey()` as `Delete` (as in the forward delete action). Note that "fn-delete" is interpreted the same way (but

[2016-02-24 23:51] CIPop opened #6378 "CoreFX build stores data within the Users folder"
Trying to build CoreFX on a VM with a 25GB System Disk (C:) and 250GB source disk (S:) fails by getting at 0bytes free on the C: drive.
I've tracked this down to a 1GB folder within the Users\username\.nuget folder.

I can't/don't know how to change the System Disk size (it's an internal Windows build VM).

Is there any way to keep the build contained to the folder where I've cloned dotnet/corefx

[2016-02-24 23:53] mellinoe commented on #6308
My point was intended to highlight a different issue, when your double value has more than a single integral digit. For example, consider the following numbers, which are similar to your example numbers:
[code]
I can round the second number to 1260, but I cannot round the first number to 1260. I find this asymmetry very undesirable, personally. If you think about it, this is what's happening:

[co

[2016-02-24 23:56] #6070 closed

[2016-02-25 00:41] CIPop commented on #6378
Just figured out how to expand the disk from HyperV. Still, I think there's a problem that the build system is changing other folders on the box.

[2016-02-25 00:56] #5707 closed

[2016-02-25 01:51] corivera opened #6381 "Incorrect number of pools in ConnectionPool.ClearAllPoolsTest"
System.Data.SqlClient.ManualTesting.Tests.ConnectionPool.ConnectionPool_Nwnd9Mars [FAIL]
        Incorrect number of pools exist
        Expected: True
        Actual:   False
        Stack Trace:
              at System.Data.SqlClient.ManualTesting.Tests.ConnectionPool.ClearAllPoolsTest(String connectionString)
              at System.Data.SqlClient.ManualTesting.Tests.ConnectionPool.RunDataTestF

[2016-02-25 01:53] corivera commented on #6381
CC @saurabh500 @kkurni

[2016-02-25 01:56] corivera opened #6382 "Exception caused by connection closed in DDAsyncTest on Linux"
System.Data.SqlClient.ManualTesting.Tests.DDAsyncTest.ExecuteCommand_WithSharedConnection_ShouldPerformAsyncByDefault [FAIL]
        System.AggregateException : One or more errors occurred. (Invalid operation. The connection is closed.)
        ---- System.InvalidOperationException : Invalid operation. The connection is closed.
        Stack Trace:
              at System.Threading.Tasks.Task.Wait

[2016-02-25 01:56] corivera commented on #6382
CC @saurabh500 @kkurni

[2016-02-25 01:57] corivera opened #6383 "StateObj still has outstanding writes in AsyncTest.FailureTest"
System.Data.SqlClient.ManualTesting.Tests.AsyncTest.FailureTest [FAIL]
        FAILED: Thrown exception for ExecuteReaderAsync was not an InvalidOperationException: System.Diagnostics.Debug+DebugAssertException: StateObj still has outstanding async writes

           at System.Environment.GetStackTrace(Exception e, Boolean needFileInfo)
           at System.Environment.get_StackTrace()

[2016-02-25 01:58] corivera commented on #6383
CC @saurabh500 @kkurni

[2016-02-25 02:39] #5896 closed

[2016-02-25 02:48] stephentoub opened #6384 "Lots of restore errors in various corefx builds"
e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/2746/consoleFull
[code]

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_debug_bld/654/consoleFull
[code]

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_debug_bld/654/consoleFull
[code]

These are happening frequently but randomly and taking out a lot of runs.

cc: @weshaggard, @chcosta, @erics

[2016-02-25 02:53] saurabh500 commented on #3480
We have added the following interfaces to .Net CoreFX in System.Data.Common

IDataParameter
IDataParameterCollection
IDataReader
IDataRecord
IDbCommand
IDbConnection
IDbDataParameter
IDbTransaction

This was done in the PR https://github.com/dotnet/corefx/pull/6359

[2016-02-25 03:05] mythz commented on #3480
@saurabh500 Great stuff, thx!

[2016-02-25 03:12] phillip-haydon commented on #3480
:+1:

[2016-02-25 03:42] #6353 closed

[2016-02-25 03:42] #4563 closed

[2016-02-25 03:42] #5628 closed

[2016-02-25 03:42] #6154 closed

[2016-02-25 03:42] #6173 closed

[2016-02-25 03:42] #6306 closed

[2016-02-25 03:42] #6311 closed

[2016-02-25 05:55] ericstj commented on #6384
Haven't seen that error before. Looking through the NuGet code it seems like we'd get this if it failed a request from the source.  Does that seem right, @emgarten?
Any chance we can get the full log from one of these builds, @stephentoub?
/cc @dagood

[2016-02-25 08:37] varocarbas commented on #6308
From a pure programming-functionality point of view, you are completely right; but not from a mathematical one. If you understand `Math.Round(decimal d)` as decimal rounding, an input as 1255.255 could never be changed to 1260, because this would be integer rounding of the integer part. To get that you should convert the given value to integer and use the corresponding overload (i.e., the `int`/`l

[2016-02-25 10:47] JonHanna commented on #6308
What makes you think that a `Math.Cos(decimal)` would be quicker than converting to double and back, considering that `double` can be used with low-level floating point operations that can't be used with `decimal`?

Accuracy could certainly be gained, but I think the idea that speed could gained needs to be demonstrated.

[2016-02-25 11:02] varocarbas commented on #6308
@JonHanna I certainly don't like talking generally and relying on assumptions, but I cannot prove it before actually implementing it.

I cannot even perform a proper comparison with the `Math.Round` `int` overload which I already created (in the associated PR). The closest option I have is using CoreRun.exe, but this has a very important impact on performance (everything gets orders of magnitude s

[2016-02-25 12:56] stephentoub commented on #6384
@mmitche, do we store any artifacts for failed builds?  I couldn't find them on Jenkins.  If not, can we enable that, at least for the msbuild log?

[2016-02-25 13:02] jchannon commented on #3480
:+1:

[2016-02-25 13:20] kumarharsh commented on #645
@whoisj what people generally mean by "support for Windows 10" is that the Explorer and Powershell/Command-Prompt be able to open/delete these files or folders.

[2016-02-25 13:34] ddobric commented on #2576
Just as reminder... What is the implementation state of Thread in net.core? Porting of existing libs to .NET is very difficult if we have to target Task-style. Having 'Thread' is MUST.

[2016-02-25 14:52] Michael-DST commented on #5766
Well everyone, how about that Xamarin deal, huh!  something tells me that this issue is going to get a lot busier in the coming months. :smile:

[2016-02-25 14:58] mlfletcher1988 commented on #6251
Looking for a first time open source contribution - could i take this issue?

[2016-02-25 15:09] stephentoub commented on #6251
@mlfletcher1988, thanks for your interest!  @Clockwork-Muse already grabbed this one and has a PR for it at https://github.com/dotnet/corefx/issues/6270.

[2016-02-25 15:12] stephentoub commented on #5750
Just happened again:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/1362/console
[code]

[2016-02-25 15:13] mlfletcher1988 commented on #6251
Ha, you can tell its getting late on in the week..... Missed that comment completely!

[2016-02-25 15:15] stephentoub opened #6388 "TickCountTest failed on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/2762/consoleFull

[code]

[2016-02-25 15:20] stephentoub commented on #6384
Some builds are failing with different package-related errors, too, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_ubuntu14.04_release/
[code]

[2016-02-25 15:26] svick commented on #6308
@varocarbas

Of course they are. If I'm following the chain correctly, [`Math.Round(double, int)`](https://github.com/dotnet/coreclr/blob/43b39a73cbf832ec13ec29ed356cb75834e7a8d7/src/mscorlib/src/System/Math.cs#L118-L124) calls `Math.InternalRound`, which in turn calls `Math.Round(double)`. That is [defined as intrinsic](https://github.com/dotnet/coreclr/blob/43b39a73cbf832ec13ec29ed356cb75834e7a8

[2016-02-25 15:38] varocarbas commented on #6308
@svick  Thanks! I am very happy to have been proven wrong on this front!

This was my first contact with the native code and I quickly got tired on the quite unclear referencing system. Then I saw various posts in SO (although a bit old, this is true) and thought that these ideas were still applicable!

I will take a look at it right away and correct all my (wrong) references about this.

[2016-02-25 15:43] dagood commented on #6384
I'll check out those Ubuntu restore compatibility errors, those shouldn't be transient. There's some platform-specific restore behavior (inferred RID) that wasn't verified on Ubuntu before the dotnet CLI upgrade that probably made this happen.

`Unable to resolve` is new to me too.

[2016-02-25 15:50] varocarbas commented on #6308
(I have preferred to delete my first comment and re-write it again after realising about a small issue)

@svick  Thanks for the contribution.

Note that this was my first contact with the native code and got a bit tired of the unclear referencing system (one file links to other, which links to other, which links to others). Although I did reach the file you are showing, which didn include a defini

[2016-02-25 16:37] bartonjs commented on #5540
@GuardRex System.Security.Cryptography.Encryption was deleted in... August?  Something in that package chain is referencing a really old version of the crypto libraries.

[2016-02-25 16:50] RichiCoder1 commented on #5766
Not necessarily. There might be a good chance what we see UWP's Xaml or Xamarin's flavor of Xaml become some cross platform library. Which might mean neither a port of System.Xaml or even a purely managed Xaml implementation may happen.

[2016-02-25 16:50] mmitche commented on #6384
@stephentoub We don't today, but I believe we now have the ability to archive or do other postbuild steps differently based on job result.

[2016-02-25 17:16] davidsh commented on #5927
Turns out we still have a cycle between strongly root WinHttpRequestState and the inner field of RequestHandle.

------------------------

00007ffcec778d28    42738      7863792 System.Net.Http.WinHttpRequestState
0:012> !gcroot 000000e691bf1610
HandleTable:
    000000e50ff1b890 (strong handle)
    -> 000000e691bf1610 System.Net.Http.WinHttpRequestState
Plus I see a huge native heap:
0:012> !addre

[2016-02-25 17:25] GuardRex commented on #5540
@bartonjs Tracing back from `System.Security.Cryptography.Encryption` in the lock file ...
[code]
This isn't a blocking issue for me, so if its best to wait, I can certainly do so. If you want a repro, let me know, and I'll have one up by this evening (or I can post the lock file if that's all you need).

[2016-02-25 17:25] Michael-DST commented on #5766
Xamarin's Xaml system is closed/internal though and nowhere near as mature as System.Xaml.  The code itself is rather flimsy (an acknowledged concern on their end -- actually using that is one of the reasons it is closed/internal).  Additionally, it is tightly-coupled to BindingObject which is prohibitive if you are wanting to do POCO serialization, etc.

And as outlined above, UWP's Xaml system i

[2016-02-25 17:38] stephentoub commented on #6314
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_debug_tst_prtest/2292/console

[2016-02-25 17:39] RichiCoder1 commented on #5766
I've heard that internally there's a preference for UWP's Xaml over WPF and such's Xaml, though obviously different teams at Microsoft may have different opinions . .Net's Xaml is without a doubt more powerful, but that likely comes with drawbacks that are the reason UWP is so scaled back.
And my non purely managed, one nice thing about UWP's Xaml is that it's not DotNet exclusive. So a potential

[2016-02-25 17:51] Michael-DST commented on #5766
Alright, I am confused.  When you say .NET... you're talking 4.6, right?  From my understanding this is for a .NET Core Xaml library, which by its very nature is cross-platform and .NET (4.6) exclusive?  When you say "not DotNet exclusive" you mean "is DotNet inclusive"?  Double-negatives. :stuck_out_tongue: This is obviously not true because you cannot use UWP Xaml in .NET 4.6 (nor would you want

[2016-02-25 17:55] Michael-DST commented on #5766
And I would also like to say that I have also heard the internal leanings towards UWP's Xaml, but that was before there was some community discussion around it starting in that thread above and beyond ([ala Tim Heuer's Twitter discussion](https://twitter.com/timheuer/status/626444991221465089)).  The needle has definitely moved since then.  At least, it had better! LOL.  There are those with the m

[2016-02-25 18:06] sepidehMS commented on #5950
Closing the issue, since this is not a XML failure.

[2016-02-25 18:06] #5950 closed

[2016-02-25 18:17] bartonjs commented on #5540
@GuardRex Thanks for the info.  I've opened https://github.com/NuGet/Home/issues/2181 to hopefully get NuGet.Common using newer references so it doesn't resurrect the dead S.S.C.Encryption package.

[2016-02-25 18:47] RichiCoder1 commented on #5766
When I say DotNet, I mean DotNet including core and framework. And I realize you can't use UWP Xaml outside UWP apps, I was referring to the ability to use it in C++ UWP apps. So when I say not having it be DotNet exclusive, I mean being about to use it from C++ (or potentially other languages). And I imagine the reason why the team that owns XAML doesn't consider use cases outside UI seriously is

[2016-02-25 18:51] weshaggard opened #6393 "Reduce the number of feeds we use for restoring our repo"
Currently have 4 feeds in our feed source list:

https://github.com/dotnet/corefx/blob/master/dir.props#L101
[code]

We should eliminate corefxtestdata and buildtools from our normal source list to reduce the amount of network traffic we are doing when restoring.

Note we should still keep the build-tools feed in our init-tools.cmd (https://github.com/dotnet/corefx/blob/master/init-tools.cmd#L12)

[2016-02-25 19:00] Michael-DST commented on #5766
OK great @RichiCoder1 thank you for your explanation.  I think I *almost* completely follow you now... when you say "framework" you mean 4.6?

In my view, I will say that part of the reason why the internal team feels that it's uncommon to use it outside of UI has to do with poor engagement with developers, as I think Tim's post shows.  I am also guilty of this as I really didn't get chirpy about

[2016-02-25 19:21] bartonjs commented on #5251
https://github.com/dotnet/corefx/blob/master/src/Native/System.Security.Cryptography.Native/pal_ssl.cpp#L219-L224

[code]

It has just reshaped.

ECDH/RSA reports ECDH, but ECDH/ECDSA reports ECDSA, and ECDH reports ECDSA.

Maybe that's what Windows does in these cases, I haven't tested.  It probably needs to be forced by doing something like

[code]

Then connecting to that endpoint (bypassing th

[2016-02-25 20:04] mellinoe opened #6397 "Consider making helper script flag syntax uniform"
Just throwing this out there because it's a minor annoyance for me, nothing high priority or workflow-breaking.

This is referring to the difference between `clean.cmd /b` and `clean.sh -b`. I know these were done to match the usual "OS standard" flag syntax, but I think it would be simpler if these were just the same across platforms (i.e. `clean -b` everywhere). I'm often typing the wrong flag a

[2016-02-25 20:12] terrajobst opened #6398 "Support global unhandled exception handler"
As outlined in https://github.com/dotnet/coreclr/issues/2999, we need a replacement for `AppDomain.UnhandledException`. Couple of requirements:

* Should be a low-level API that isn't depending on other orthogonal features such as `AssemblyLoadContext`, `Task`, or `Thread`
* Can't be on a type that is already exposed in .NET Framework (such as `Environment`)
* Should be raised for all threads

Tho

[2016-02-25 20:15] stephentoub commented on #6398
I assume you mean "Should be"?

What would the handler do, simply provide a hook to be notified about an exception as it's on its way to crashing the app and do something like some logging or some quick cleanup?  Or go further and allow you to eat it and stop the app from crashing?  I'm ok with the former... I'd be more concerned about the latter.

[2016-02-25 20:17] stephentoub opened #6399 "RunSemaphoreSlimCurrentTests failed in Win10 outer loop"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/101/consoleFull
[code]

[2016-02-25 20:27] KrzysztofCwalina commented on #6398
I am pretty sure (and hopeful) it's the former. it might be worth adding a note about it to the issue.
... And my thoughts are that it's a good approach.

[2016-02-25 20:29] RichiCoder1 commented on #5766
By framework, I'm using it to refer to desktop .Net. That seems to be the  popular way to differentiate between Core and the Full Framework.

I agree. One of the nice things about all of Microsoft recents moves is it almost forces better engagement with developers :).

Very excited about that myself! Now just to see how that plays would. That could mean anything from making the Xamarin tooling fir

[2016-02-25 21:00] #5927 closed

[2016-02-25 21:14] tmat opened #6402 "CustomAttributeExtensions.GetCustomAttributes returns null when called on a DynamicMethod"
It should return an empty collection.

Repro:

Create a desktop console app:

[code]

[2016-02-25 22:20] stephentoub commented on #6384
Here's an OS X example of the package restore "Unable to resolve" errors:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_bld_prtest/1664/console
[code]
How do we make forward progress getting this fixed?

@mmitche, could we turn on archiving of the msbuild log for failures?

[2016-02-25 22:21] #6377 closed

[2016-02-25 22:21] #6399 closed

[2016-02-25 22:21] #6251 closed

[2016-02-25 22:22] Michael-DST commented on #5766
OK cool... thank you for the info. :+1:

As for //build... indeed. :)  Personally, I would like to see a new model altogether that is (loosely?) based on UWP and utilize the new Xamarin goodness to move it to iOS/Droid.  Stronger Xaml model wouldn't hurt, either.  Guess we should keep this thread quiet until after April 28th, after all. :stuck_out_tongue:

[2016-02-25 22:35] NickCraver commented on #6398
@stephentoub I think the former meets almost all *reasonable* needs. I'm not sure how you'd possibly handle the latter - a global "recover from anything" scenario seems a bit on the insane side to me. I agree on staying away from attempting anything like that.

I'm looking forward to this one personally because of `StackExchange.Exceptional` - we want to log all errors that are encountered and hop

[2016-02-25 22:36] mellinoe commented on #6378
I guess this is an issue with hhow NuGet restore is being done? It might be something we can configure, or it might just be something that NuGet needs to add. The folder that is filling your disk up seems to be the user-wide package cache.

[2016-02-25 22:41] stephentoub commented on #6398
Yes :wink:

[2016-02-25 22:42] nguerrera commented on #6398
I think the following could work and meet all of the criteria:

[code]

That would reuse UnhandledExceptionEventHandler and UnhandledExceptionEventArgs and group next to them in IntelliSense.

[2016-02-25 22:44] justinvp commented on #6398
Adding back just `AppDomain.CurrentDomain.UnhandledException` is off the table?

[2016-02-25 22:45] nguerrera commented on #6398
We are avoiding re-introducing System.AppDomain because AppDomains are not a concept in .NET Core.

[2016-02-25 22:52] justinvp commented on #6398
I understand the desire -- I'm just wondering if it'd be more practical (both for implementing it and for developers porting existing code to CoreCLR already familiar with the existing API) to just expose the existing API (without adding back any other APIs on `AppDomain`). Its existence in .NET Core could be explained as "there's only ever a single AppDomain, the current one".

[2016-02-25 22:52] shmao opened #6405 "To Add an ES6 Compatible Way to ToString double"
DataContractJsonSerializer converts a double value to a string by calling,
[code]
The string is not compatible with ECMAScript 6 (see the [specs](http://www.ecma-international.org/ecma-262/6.0/#sec-tostring-applied-to-the-number-type)). For example,

An ES6 compatible way to ToString double and floats would be useful.

[2016-02-25 22:53] saurabh500 opened #6406 "Remove System.Collection.NonGeneric from SqlClient contracts"
Based on a PR review comment https://github.com/dotnet/corefx/pull/6396#discussion_r54168394 we should try to remove the SqlClient's dependency on System.Collection.NonGeneric

System.Collections.CollectionBase is being used in SqlBulkCopyColumnMappingCollection inheritance.

[2016-02-25 22:53] saurabh500 commented on #6406
cc @justinvp

[2016-02-25 22:53] NickCraver commented on #6398
I agree with not bringing back `AppDomain` for this - it's both confusing and incorrect. This is a process-level event handler, not an "app domain" one, since that level of containment no longer exists.

[2016-02-25 22:55] saurabh500 commented on #6406
@justinvp In case you want to submit a PR for this issue after https://github.com/dotnet/corefx/pull/6396 is merged, I am keeping this up for grabs.

[2016-02-25 22:57] shmao commented on #5647
Thanks for the suggestion, @JamesNK . That seems reasonable to me. I opened https://github.com/dotnet/corefx/issues/6405 for tracking this.

DataContractJsonSerializer converts a double value to string by calling,
[code]

[2016-02-25 23:13] stephentoub opened #6408 "Usage of "using static" with Interop"
Our interop design across corefx has a top-level static class named Interop.  This class has a few helpers on it, but the bulk of its contents is in nested static classes, one per library.  Each of those then has static P/Invoke methods.  For example, from some code in System.IO.FileSystem.dll:
[code]
Now that we're using C# 6 in the repo, we could start utilizing "using static" to avoid some of t

[2016-02-25 23:44] JamesNK commented on #5647
That is what Json.NET does as well.

[2016-02-25 23:45] JamesNK commented on #6405
This would be useful for Json.NET or any other JavaScript/JSON focused .NET library.

[2016-02-25 23:50] nguerrera commented on #6408
Remind me why we went with a static class instead of a namespace. I assumed that we wanted to see `Interop` whererever there was interop.

Also, only slightly related, but we might want to reconsider having anything internal outside of the System or Microsoft namespaces. There are cases where it affects end-users: https://github.com/dotnet/corefx/issues/2278

[2016-02-25 23:53] aL3891 commented on #6398
How about `Exception.[On]Unhandled`? (A static event on the Exception class)

[2016-02-25 23:54] nguerrera commented on #6398
That would break this criteria from the description:

[2016-02-25 23:56] mellinoe opened #6410 "RunSemaphoreSlimTest8_ConcWaitAsyncAndRelease failed in Windows_Debug OuterLoop"
See this run here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/lastCompletedBuild/testReport/System.Threading.Tests/SemaphoreSlimTests/RunSemaphoreSlimCurrentTests/

[code]

[2016-02-25 23:59] mellinoe commented on #6398
This seems simple and good to me.

[2016-02-26 00:00] svick commented on #6398
@nguerrera I don't like that that doesn't fit with the naming in the rest of the framework. Only exceptions are named ending with `Exception` and events aren't called things like `Raised`.

Maybe naming the class something general, like `Exceptions` could work (so the event would be `Exceptions.UnhandledException`)? Or `ExceptionHandling`? Something along those lines.

[2016-02-26 00:01] nguerrera commented on #6398
Good point.

[2016-02-26 00:02] nguerrera commented on #6398
What do folks think about `AppContext.UnhandledException`? We've already moved other things you used to do via AppDomain.CurrentDomain there.

[2016-02-26 00:03] nguerrera commented on #6398
Ah, that's another existing in desktop type, isn't it.

[2016-02-26 00:03] NickCraver commented on #6398
Yep, `AppContext` was in 4.6.

[2016-02-26 00:23] justinvp commented on #6398
Something else to keep in mind: When the related `AppDomain.FirstChanceException` event was added in 4.0, we added `FirstChanceExceptionEventArgs` to the `System.Runtime.ExceptionServices` namespace instead of `System` (to avoid adding new clutter to the `System` namespace) and used `EventHandler<T>` instead of creating a new delegate.

If a new API is created,

 1. Should it go in the `System` na

[2016-02-26 00:26] stephentoub commented on #6410
Dup of #6399 which was addressed by #6400

[2016-02-26 00:26] #6410 closed

[2016-02-26 00:31] emgarten commented on #6384
@ericstj it doesn't look like a request failed here, the message indicates that the package wasn't found, but looking at the source myself I see these packages on myget.

[2016-02-26 00:32] stephentoub commented on #6408
I believe it was so we could define some helpers on it, but over time we moved most (though not all) of those helpers off.  There is also the benefit of seeing "Interop" everywhere, which would be defeated by ```using static``` with it.  If we wanted to move away from it being a class, we probably could, though I'm not sure there's a lot of benefit to such a change.  Maybe the right answer is: lea

[2016-02-26 00:47] mellinoe commented on #6408
I thought the issue with internal-types was only problematic if it was in an "otherwise unused" namespace. Our `Interop` type is internal, but it's in the global namespace, so doesn't that mean we are okay? From what I understand of the issue linked above, it was problematic because the namespace itself was being preferred over the type.

[2016-02-26 00:48] mellinoe commented on #6410
My mistake, searched for the wrong method name. Thanks for already fixing this :smile:

[2016-02-26 00:49] HaloFour commented on #6371
Honestly I'd think it's worth it to reset all TLS and treat each work item as if it's executing on a new thread.

[2016-02-26 00:59] dagood commented on #6384
Can we get access to dotnet.myget.org logs and find out what the servers think is going on? No idea what kind of logging is done but there might be some info there.

[2016-02-26 01:15] akoeplinger commented on #6378
You can set the NUGET_PACKAGES env variable to configure the cache location (https://docs.nuget.org/release-notes/nuget-3.2#new-features). The dotnet CLI supports it too.

[2016-02-26 01:55] nguerrera commented on #6408
I think you're right and I just hadn't remembered the details.

[2016-02-26 02:03] cyberphone commented on #5647
If you look into the published .NET code in the initial bug report, there are other incompatibility issues as well.  My wish is to be able to use the following with .NET:
https://cyberphone.github.io/openkeystore/resources/docs/jsonsignatures.html

[2016-02-26 02:16] CIPop commented on #6378
Thanks @akoeplinger ! I'll give that a try.

@mellinoe If this works, maybe we can integrate the `NUGET_PACKAGES` env variable in `build.cmd`?

[2016-02-26 02:21] nguerrera commented on #6408
So back to the original question, I've personally grown to like Interop at the call site. It's shorter than our previous NativeMethods convention but retains the characteristic of drawing attention to interop boundaries, which I like.

I don't dislike using static generally, though. I've found it nice for Math and Roslyn's SyntaxFactory.

[2016-02-26 02:25] emgarten commented on #6384
Are these failures consistent? Or does the second restore work? There have been recent networking changes in nuget xplat, I'm just trying to rule those out.

[2016-02-26 02:29] stephentoub commented on #6384
They're frequent but inconsistent, failing on different OSes (Windows, Ubuntu, OS X, etc.), with different packages failing to resolve (runtime.win7.System.Net.Requests, runtime.unix.System.Diagnostics.Debug, runtime.unix.System.IO.Pipes, etc.)... our PRs currently each have 8 legs associated with their CI jobs (a debug + release build on each of four platforms), and it seems like the majority of

[2016-02-26 03:00] Priya91 commented on #6283
@hughbe Is this pattern observed in corefx? a general search doesn't give any hits.. Most of corefx is using ```nameof``` operator.

[2016-02-26 03:13] joshfree commented on #6397
maybe just make the windows version work with both /b and -b syntax.

[2016-02-26 03:20] ericstj commented on #6378
We actually directly use the --packages parameter.  If we're still writing to userprofile that means someone is missing a -packages folder somewhere.  @weshaggard @joperezr I'm guessing this is in the tool staging.

[2016-02-26 03:51] weshaggard commented on #6378
The tool-runtime does end up getting published to the userprofile. For other purposes we are considering switching everything to use the user cache (see https://github.com/dotnet/corefx/issues/5444) so I think the env variable is a good way to go if you have issues with space in that path.

@CIPop I don't think we want to set this in build.cmd we want it to be user specific. If a user wants to cha

[2016-02-26 03:55] weshaggard commented on #6384
I suspect this has to do with the load we are putting on dotnet.myget.org right now. @dagood can you please confirm that this isn't a configuration issue or tooling issue. If we find that it is a myget issue I will follow up with the myget team on this.

[2016-02-26 04:02] ellismg commented on #6408
I feel the same way.

[2016-02-26 04:03] stephentoub commented on #6408
Great.  I'm going to close this out.  Obviously folks can continue to comment on it and we can choose to re-evaluate in the future, but for now, there doesn't seem to be any good reason to change what we're doing.

[2016-02-26 04:03] #6408 closed

[2016-02-26 04:04] SunnyWar opened #6414 "IntersectWithEnumerable function SortedSet does unnecessary rotations"
![sortedset](https://cloud.githubusercontent.com/assets/4521425/13342870/d3f94fe8-dbfa-11e5-8402-99d70c58ac06.PNG)

I believe the following change would cause the tree to perform fewer rotations and therefore should be faster. This also handles the case where the set contains all the elements and does not need to be cleared and rebuilt.

[2016-02-26 04:11] CIPop commented on #6378
Thanks @weshaggard. Since this is known and expected and it seems to have a simple workaround configuration, I'm closing the issue.

[2016-02-26 04:11] #6378 closed

[2016-02-26 04:47] SunnyWar opened #6415 "In SortedSet replace log2 function with Math.Log(x, 2)"
I did a test and 1 + (int) Math.Log(x, 2) was slightly faster than the implementation of the private static int log2(int value) function.

1. Replaces all occurrences of log2 with Math.Log(x,2).
2. Remove the log2 function.

Note: it's odd that to get the same results as log2 I had to use, "1 + (int)Math.Log(value, 2)". So after this change the way log2 is used might want to be looked over.

[2016-02-26 06:20] ianhays opened #6416 "[ToFDisable] Port tests for: System.AppContext"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:20] ianhays opened #6417 "[ToFDisable] Port tests for: System.Collections.Concurrent"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:20] ianhays opened #6418 "[ToFDisable] Port tests for: System.Collections.NonGeneric"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:21] ianhays opened #6419 "[ToFDisable] Port tests for: System.ComponentModel.Annotations"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:21] ianhays opened #6420 "[ToFDisable] Port tests for: System.ComponentModel.EventBasedAsync"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:21] ianhays opened #6421 "[ToFDisable] Port tests for: System.ComponentModel.TypeConverter"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:21] ianhays opened #6422 "[ToFDisable] Port tests for: System.Console"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:21] ianhays opened #6423 "[ToFDisable] Port tests for: System.Data.SqlClient"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:22] ianhays opened #6424 "[ToFDisable] Port tests for: System.Diagnostics.FileVersionInfo"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:23] ianhays opened #6425 "[ToFDisable] Port tests for: System.Diagnostics.Process"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:23] ianhays opened #6426 "[ToFDisable] Port tests for: System.Diagnostics.TextWriterTraceListener"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:23] ianhays opened #6427 "[ToFDisable] Port tests for: System.Diagnostics.TraceSource"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:24] ianhays opened #6428 "[ToFDisable] Port tests for: System.Diagnostics.Tracing"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:24] ianhays opened #6429 "[ToFDisable] Port tests for: System.Globalization"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:24] ianhays opened #6430 "[ToFDisable] Port tests for: System.Globalization.Extensions"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:25] ianhays opened #6431 "[ToFDisable] Port tests for: System.IO"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:25] ianhays opened #6432 "[ToFDisable] Port tests for: System.IO.Compression"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:25] ianhays opened #6433 "[ToFDisable] Port tests for: System.IO.FileSystem"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:25] ianhays opened #6434 "[ToFDisable] Port tests for: System.IO.FileSystem.DriveInfo"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:26] ianhays opened #6435 "[ToFDisable] Port tests for: System.IO.FileSystem.Watcher"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:26] ianhays opened #6436 "[ToFDisable] Port tests for: System.IO.MemoryMappedFiles"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:26] ianhays opened #6437 "[ToFDisable] Port tests for: System.IO.Pipes"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:27] ianhays opened #6438 "[ToFDisable] Port tests for: System.IO.UnmanagedMemoryStream"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:27] ianhays opened #6439 "[ToFDisable] Port tests for: System.Linq.Queryable"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:27] ianhays opened #6440 "[ToFDisable] Port tests for: System.Reflection.DispatchProxy"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:27] vijaykota commented on #6072
Fixed in #6139

[2016-02-26 06:27] #6072 closed

[2016-02-26 06:28] ianhays opened #6441 "[ToFDisable] Port tests for: System.Reflection.Emit.ILGeneration"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:28] ianhays opened #6442 "[ToFDisable] Port tests for: System.Reflection.Emit.Lightweight"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:28] vijaykota commented on #5838
Closing this since we are trying out GSS-NTLMSSP instead

[2016-02-26 06:28] #5838 closed

[2016-02-26 06:28] vijaykota commented on #5806
Closing this since we are trying out GSS-NTLMSSP instead

[2016-02-26 06:28] #5806 closed

[2016-02-26 06:28] ianhays opened #6443 "[ToFDisable] Port tests for: System.Reflection.Extensions"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:29] ianhays opened #6444 "[ToFDisable] Port tests for: System.Reflection.TypeExtensions"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:29] ianhays opened #6445 "[ToFDisable] Port tests for: System.Runtime.Extensions,"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:29] ianhays opened #6446 "[ToFDisable] Port tests for: System.Runtime.InteropServices.RuntimeInformation"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:29] ianhays opened #6447 "[ToFDisable] Port tests for: System.Runtime.Loader"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:29] vijaykota commented on #5889
Closing this since we are trying out GSS-NTLMSSP instead. With that we expect the fallback to happen automatically inside the MIT GSSAPI library.

[2016-02-26 06:29] #5889 closed

[2016-02-26 06:30] ianhays opened #6448 "[ToFDisable] Port tests for: System.Security.Claims"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:30] ianhays opened #6449 "[ToFDisable] Port tests for: System.Security.Cryptography.Algorithms"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:31] ianhays opened #6450 "[ToFDisable] Port tests for: System.Security.Cryptography.Csp"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:31] ianhays opened #6451 "[ToFDisable] Port tests for: System.Security.Cryptography.Csp"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:32] ianhays opened #6452 "[ToFDisable] Port tests for: System.Security.Cryptography.Encoding"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:32] ianhays opened #6453 "[ToFDisable] Port tests for: System.Security.Cryptography.Primitives"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:32] ianhays opened #6454 "[ToFDisable] Port tests for: System.Security.Cryptography.X509Certificates"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:32] ianhays opened #6455 "[ToFDisable] Port tests for: System.Security.Principal.Windows"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:32] ianhays opened #6456 "[ToFDisable] Port tests for: System.Text.Encoding.CodePages"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:33] ianhays opened #6457 "[ToFDisable] Port tests for: System.Text.Encoding.Extensions"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:33] ianhays opened #6458 "[ToFDisable] Port tests for: System.Text.RegularExpressions"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:34] ianhays opened #6459 "[ToFDisable] Port Monitor tests for: System.Threading"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:34] ianhays opened #6460 "[ToFDisable] Port tests for: System.Threading.Overlapped"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:35] ianhays opened #6461 "[ToFDisable] Port tests for: System.Threading.Tasks.Parallel"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:36] ianhays opened #6462 "[ToFDisable] Port tests for: System.Xml.XmlDocument"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:36] ianhays opened #6463 "[ToFDisable] Port tests for: System.Xml.XmlSerializer"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 06:36] ianhays opened #6464 "[ToFDisable] Port tests for: System.Xml.XPath"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-02-26 07:37] hughbe commented on #6283
Nope just in coreclr I think. Especially not after nameof
I only mentioned this in corefx because I read somewhere that issues about mscorlib should be posted in corefx

[2016-02-26 09:16] shrutigarg opened #6465 "[System.Net .Security Tests for NTLM] Allow Unix Implementation to take "Domain\User" format as a user."
Currently if we pass the credential having user in format Domain/User.. It fails ,, We should fix this to accept this.

[2016-02-26 09:20] varocarbas commented on #6308
@mellinoe I am new here and that's why don't know the exact implications of assigning an issue to someone. Does it mean that you will be taking care of everything? Can I still participate in these implementations (= write the algorithms)?

[2016-02-26 10:09] mgravell commented on #3480
Awesome; is there a milestone for this to hit nuget? rc3?

On 25 February 2016 at 02:54, Saurabh Singh <notifications@github.com>
wrote:

--
Regards,

Marc

[2016-02-26 10:15] shrutigarg opened #6466 "[System.Net .Security Tests for NTLM] Figure out a way to validate if ntlm is initialized or not."

[2016-02-26 10:24] nvivo commented on #3480
As commented on the PR,  we need to understand why there are no async methods on these interfaces.  As it was proposed,  this is basically a trimmed down version of ADO.NET 1.1 interfaces,  and I don't think the idea should be only compatibility with old code.

The interfaces should focus on the current state of ado.net, as async methods should be the default way to access any database today.  Wit

[2016-02-26 12:05] #6167 closed

[2016-02-26 12:07] jgauffin commented on #3480
The current interfaces are fine as they are. The implication of changing them is just too large.

The async model is quite different from the synchronous one and as you might know, if you go for the async model you should do it all the way. Hence there are really no reason to have the same interfaces for both APIs. Create new ones for the async API.

If the .NET team wan to provide a more modern A

[2016-02-26 12:42] NickCraver commented on #3480
:+1: on the interfaces, good compromise.

That's the *entire* idea here. Otherwise, base classes would be fine. That's a whole lot of porting pain we want to avoid.

I disagree with this, but I don't disagree with an async version of the interfaces necessarily (which no one implements today). This would be a new feature. We can't retroactively be adding members to existing interfaces, that just br

[2016-02-26 13:36] sady4850 opened #6467 "A connection was successfully established with the server, but then an error occurred during the login process"
dotnet 1.0.0-beta-001528

Runtime Environment:

OS Name:     ubuntu
OS Version:  15.04
OS Platform: Linux
Runtime Id:  ubuntu.15.04-x64

System.Data.SqlClient 4.0.0-rc3-23823

ConnectionString : data source=server,port;Initial Catalog=XXXXXXXX;Integrated Security=False;User ID=sa;Password=XXXX;Connect Timeout=150;Encrypt=False

The same console app works on Windows.

Opening SqlConnection results

[2016-02-26 13:45] nvivo commented on #3480
Ok, maybe I expressed myself in the wrong way here or was too strong with my words.

I'm in favor of an additional interface for async if needed. What I'm not OK with is having something that defines **an official contract for ADO.NET** (that's what interfaces are) but doesn't have async methods anywhere in it.

I agree, this is the main reason why most providers don't bother implement a real asyn

[2016-02-26 13:59] NickCraver commented on #3480
I don't want to wound too harsh, but that ideal world is a very far cry from reality. Async is very pervasive and infectious. You simply can't rely only on async APIs in libraries and expect entire applications to be async consumers (changing a *ton* of their code to be async as well) on a whim. Sync -> Async everywhere is also very bad for lots of deadlock and efficiency reasons. There will be sy

[2016-02-26 14:33] nvivo commented on #3480
.NET 4.5 introduced async methods on the provider base classes. This was in 2012, almost 4 years ago, so it has been part of the ADO.NET provider API for a while. Entity Framework 6 (released on 2013) depends on this async APIs for all providers.

Async methods are already part of the ADO.NET for enough time that a lot of  people would scream if that was not included in .NET Core. I have *legacy c

[2016-02-26 14:38] mgravell commented on #3480
If people want (and they should) to use the async APIs, they can already do
that *before this change* by using the base types. Ultimately, the request
to support the interfaces was made for backwards compatibility reasons;
adding methods to an interface *completely blows this out of the water*.
That said, it is actually just about possible as *extension methods* and
type-checking against the abstr

[2016-02-26 14:39] mythz commented on #3480
You're completely misunderstanding the purpose of these ADO.NET Interfaces which is to maintain compatibility with existing code. These aren't *new* interfaces, these are *existing* interfaces. If you want access the newer API's reference the concrete base types.

[2016-02-26 14:40] NickCraver commented on #3480
@nvivo  Apologies, I'm just not following you - I was talking about *interface* APIs - those have never existed. The base types already have all of the same `*Async` methods - is there something specific that's missing? I think you're arguing that they should be bundled into interfaces...yeah sure, but that's another issue which I encourage you to open.

[2016-02-26 15:02] davidsh commented on #6445
Re: WebUtility, UriBuilder
cc: @CIPop @SidharthNabar

[2016-02-26 15:06] stephentoub opened #6468 "Unable to upgrade packages due to Debian errors"
cc: @dagood, @chcosta, @weshaggard

https://github.com/dotnet/corefx/pull/6386 is still failing due to errors like the following.  What else is necessary to let this work?  There are some changes blocked on being able to upgrade to the newer packages.  Do we need to wait for newer packages to be published to myget and upgrade to those instead?

[code]
(Note as well there are some 503s at the end.)

[2016-02-26 15:06] nvivo commented on #3480
Yeah, I think we're going in circles here. I stated this before, I don't think interfaces should be added *just* to help porting code. From a compatibility standpoint, the base classes have been the official API for ADO.NET since 2005, and that's what providers implement. Anything using an IDbCommand or IDbConnection could easily be ported (and should have been ported) to use base classes with a s

[2016-02-26 15:15] nvivo commented on #3480
@mgravell

This is not about being able to do anything. It's about architecture. Interfaces are contracts, .NET Core is a new framework that is adding this contract to a redesigned version of the API.

.NET core should not add an official contract to a new API just to help migrate really old code, while most of the other stuff will be missing anyway. If that is a concern, people are just not looki

[2016-02-26 15:44] mythz commented on #3480
False. The issues have been discussed numerous times in this thread from multiple library authors with first hand experience affected by this.

Any solutions requiring end customers to use ifdefs is a broken dev experience and a non-starter, i.e. there will never be a successful product requiring customers to litter their code with #defs when alternatives exist.

These are not new interfaces, they

[2016-02-26 15:59] stephentoub commented on #5902
I'll take a look at this one, Pallavi.  Thanks.

[2016-02-26 16:08] dagood commented on #6468
/cc @ericstj

I'm not familiar with the rename, but I see that it's `debian.8` and `debian.8-x64` in the `Platforms` package, so I imagine runtimes entries like https://github.com/dotnet/corefx/blob/07d316627bbe4a1a89024fc7f5e4f6b4b5138838/src/Common/test-runtime/project.json#L28 (`debian.8.2-x64`) need to be renamed.

[2016-02-26 16:10] manu-silicon commented on #6276
:+1: Thanks

[2016-02-26 16:46] dagood commented on #6384
@weshaggard If it's a tooling or config issue, it's one that I haven't seen before. I haven't seen a repro of this locally to be able to catch a request with Fiddler or anything. Keeping detailed logs CI-side to see what the restore call is hitting (assuming it's hitting some http error) would be very helpful.

[2016-02-26 16:48] tarekgh commented on #6374
@cdmihai just wondering, why you are using zh-CHS and not using zh-Hans? zh-Hans is really the right name. zh-CHS is just supported in the desktop because it was kind of legacy and the standard zh-Hans was not introduced yet.

[2016-02-26 17:15] nvivo commented on #3480
@mythz let's agree to disagree.

[2016-02-26 17:41] cdmihai commented on #6374
Long story actually :)
I was trying to make msbuild selfhost on coreclr and got into an issue where the string "Shared" was seen as a valid culture on OSX, but not on Windows (here is how we were checking if it's valid: https://github.com/Microsoft/msbuild/blob/ce30ce4dee76b7d27d9e6e2c7a2e13dfed054841/src/XMakeTasks/CultureInfoCache.cs#L46). The fact that some resource was seen as having the cultu

[2016-02-26 17:57] tarekgh commented on #6374
thanks @cdmihai I'll look at this.

[2016-02-26 18:52] joshfree commented on #6448
@brentschmaltz @tushargupta51

[2016-02-26 19:13] stephentoub opened #6471 "Remove Issue and PR templates"
I know we just added them, but I'm already finding them to be problematic.  There's a ton of text in them, so much that I end up just ignoring them, deleting everything, and writing my own message.  Plus, for PRs with a single commit, it appears the template text takes precedence over the normal behavior on GitHub of using the commit's description, which means extra work to get the contents of the

[2016-02-26 19:15] davidsh commented on #6471
+1

[2016-02-26 19:22] sokket commented on #5598
@stephentoub We should update this list after the last design review to find places where we can safely use Buffers without causing potential side effects

[2016-02-26 19:35] SamuelEnglard commented on #6398
When would this new method be raised? When ` AppDomain.UnhandledException` was raised or when ` AppDomain.FirstChanceException` was? I use `FirstChanceException` to get dumps of the application to help debugging and I could see that being useful in core too.

@terrajobst why can't it be on an existing type?

[2016-02-26 19:35] terrajobst commented on #6471
Sounds good to me :-) /cc @weshaggard

It was good experiment though.

[2016-02-26 19:43] weshaggard commented on #6471
LOL... I'm fine with that. It is probably still worth having the template as examples in some md file so we can point people at for good examples of how to structure the different type of issues.

[2016-02-26 19:45] stephentoub opened #6472 "Remove problematic ArrayPool usage"
We decided in the design meeting today that we should only be using ArrayPool in corefx itself in places where we can guarantee the types/methods won't cause corruption, even if the can of misuse.  Some of the usage we've already put in place doesn't meet this bar and needs to be removed.

[2016-02-26 19:48] stephentoub commented on #6471
It was :)  We might still consider doing something for Issues, but with much less text, just a couple of bullet points or something.  For now, though, removal seems best.

That's a good idea, maybe adding something to the contribution guidelines that highlights what good issues / PRs look like.

[2016-02-26 20:23] jasonwilliams200OK commented on #1626
Update - Today I ran test on FreeBSD, thousands of tests were passing and then some were failing due to obvious lack of System.Diagnostics.Process and friends snafu. After ~40 minutes of successful execution, it hung on System.IO.FileSystem tests (for about ~15 minutes before I pressed Ctrl+C to terminate).

[2016-02-26 20:45] stephentoub commented on #5598
@sokket, yeah.  Most of the ones we'd envisioned won't work.  Off the top of my head, I think some in System.Net.Http may still be appropriate, and we could probably make FileStream work with some extra overhead to track whether any operation (sync or async) is still in progress... as @jkotas alluded to today, likely the only place where the extra synchronization costs would be measurable would be

[2016-02-26 21:04] benaadams commented on #5598
Would the addition of an InternalShared buffer pool help with any poor use code buffer pool use? Would mean a double buffer pool by default though.

[2016-02-26 21:06] kkurni opened #6476 "API for Code based configuration for DBProviderFactories"
# Problem

DbProviderFactories in .NET Framework provides an API to manage DbProviderFactory which configured in machine.config and load that assembly from GAC via reflection

In Corefx, there is no more GAC and machine.config.

Community are asking to have a standard way to manage DbProviderFactory to write provider agnostic code in libraries.
https://github.com/dotnet/corefx/issues/4571
https://

[2016-02-26 21:06] stephentoub commented on #5598
In most cases, no, e.g. in the example of CopyToAsync where the buffer is getting handed out to an arbitrary stream.  We could potentially take it further and special case by checking the concrete type of both the source and destination streams and only using the pool if they're on an allowed list, but that's cumbersome and quickly reaches a point where it's unclear it's really worthwhile.

[2016-02-26 21:19] benaadams commented on #5598
It would protect corefx for any bad Rent/Release semantics in user code though (unless they returned the buffer to a different pool, when they didn't rent it in the first place)

If the stream kept hold of the buffer at the end of the awaited operation though that would be a bad implementation? As in a standard read/write sequence that buffer will be transformed by the calling code and or reused f

[2016-02-26 21:23] benaadams commented on #5598
Though using Spans would likely mean the api for Stream would have to change; or a new type of Stream...

[2016-02-26 21:23] stephentoub commented on #5598
Yes, as you say at the expense of needing to maintain a completely separate pool, if not multiple pools, given that many of the desired locations is in a completely independent assembly, and a goal is that such assemblies don't have private communication between each other.

Yes, any of the problems here would be due to bugs.  The concerns that started this discussion were that now bugs which were

[2016-02-26 21:31] kkurni commented on #6476
CC @YoungGah @saurabh500 @corivera @nadiatk

[2016-02-26 21:50] stephentoub commented on #6472
Fixed by #6473

[2016-02-26 21:50] #6472 closed

[2016-02-26 21:52] sokket commented on #2279
Fixed the notification differences but the lock differences are a result of the platform and not a lot of value-add is there. closing

[2016-02-26 21:52] #2279 closed

[2016-02-26 22:06] maumar opened #6477 "Order of execution for Enumerable.Join differs between coreclr and net451"
Order of execution for Enumerable.Join differs between coreclr and net451. End results are correct for both cases, but if customers are depending on order of execution (should they?) they might run into trouble.

Repro:

[code]

Result on net451:

OrderEnumerator MoveNext
OrderEnumerator Current
OrderEnumerator MoveNext
CustomerEnumerator MoveNext
CustomerEnumerator Current
CustomerEnumerator Move

[2016-02-26 23:23] DavidObando opened #6479 "System.ObjectDisposedException thrown while trying to compose very large multipart form"
I'm not sure if this is by-design, an actual issue, or something else. I'm trying to upload a **very large** file (or set of files) using a multipart form via a POST message, up to 4 GB total message size.

The client that's going to send this very large message is not able to finish creating the data stream before I get a `System.ObjectDisposedException` indicating: `"Safe handle has been closed"

[2016-02-26 23:23] VSadov commented on #6477
Calls to Current should be ignorable, since they definitely must be idempotent.
Without that it becomes:

Result on net451:

OrderEnumerator MoveNext
OrderEnumerator MoveNext
CustomerEnumerator MoveNext
CustomerEnumerator MoveNext

Result on coreclr:

CustomerEnumerator MoveNext
OrderEnumerator MoveNext
OrderEnumerator MoveNext
CustomerEnumerator MoveNext

I wonder, why the difference...

[2016-02-26 23:24] VSadov commented on #6477
@stephentoub @JonHanna

[2016-02-27 00:06] #6471 closed

[2016-02-27 00:08] #5700 closed

[2016-02-27 00:29] JonHanna commented on #6477
The same is true of `GroupJoin` as of #5372, and was pretty much the point of that PR. This behaviour with `Join` copied the change as part of #6061, which also adds taking another short-circuiting opportunity that doesn't apply to `GroupJoin`.

As such if the difference is considered a breaking change, #5372 will have to be completely undone, #6061 just made less ambitious.

I'll submit a PR soon

[2016-02-27 00:39] NickCraver commented on #6398
@SamuelEnglard it can't be on an existing type because that type exists on desktop CLR already and can't be forwarded properly if it has new members not already on the desktop CLR method. It's a type forwarding issue that affects a lot of API decisions. With a new type, we're loading the new type (instead of forwarding) and have a lot more flexibility.

[2016-02-27 01:18] JonHanna commented on #6477
Okay, there's a PR to undo it. Now to argue against my PR being accepted :smile:

Part of the observable change is that we may short-circuit and not access `inner` at all, and no further into `outer` than a single `MoveNext()`. Such short-circuiting changes were discussed before and decided as acceptable and several changes have introduced them were applicable since.

The other part of the observa

[2016-02-27 01:23] VSadov commented on #6477
I kind of think that because of internal use of Lookup, the relative enumeration order of joined sequences is already not very obvious.
Unlike crossjoin, the relative enumeration order seems unlikely to be relied on here, so perhaps we should keep optimization.

If we were ok with completely optimizing away the creation of inner lookup, we should be ok with creating the lookup after fetching one e

[2016-02-27 01:32] JonHanna commented on #6477
It seems the only issue caused for EF was with tests, and of course tests can have oddly tight dependencies they don't really need to have and don't signify a real issue (sadly the opposite is also true).

We should see if the EF team have any deeper concerns though.

[2016-02-27 02:23] maumar commented on #6477
@JonHanna is correct, for EF this is purely a test issue and the workaround is trivial, so its not a big concern from our perspective at all.

When reporting this I wanted to make sure you were aware of the discrepancy, and whether it is acceptable degree of change from your point of view.

[2016-02-27 03:28] jamesqo opened #6485 "Add parameterless overloads of TrimStart/TrimEnd"
I propose we add parameterless overloads of `TrimStart`/`TrimEnd` for the String class.
# Rationale
- We have a parameterless `Trim` [method](https://msdn.microsoft.com/en-us/library/t97s7bs3%28v=vs.110%29.aspx), so it's best to do this for symmetry.
- <s>We can avoid array allocations every time the method is called, e.g. `TrimStart()` would no longer transparently allocate an array. We can avoid

[2016-02-27 03:45] joshfree commented on #6467
@saurabh500 @corivera @kkurni

[2016-02-27 03:55] saurabh500 commented on #6467
@sady4850 is this an Azure SQL server?
Also is this one off or a consistent failure?

[2016-02-27 05:09] chcosta commented on #6468
I'll take a look

[2016-02-27 11:42] tmds opened #6486 "Support setting outgoing interface for multicast on Socket"
The desktop framework and mono support setting the interface used for outgoing multicast traffic by passing the interface index as a value for the MulticastInterface SocketOption.
[code]
On Windows this is an acceptable value for IP_MULTICAST_IF, see [msdn IPPROTO_IP](https://msdn.microsoft.com/en-us/library/windows/desktop/ms738586%28v=vs.85%29.aspx).
On non-Windows platforms the request should b

[2016-02-27 11:45] stephentoub opened #6487 "HttpWebRequestTest.Abort_BeginGetRequestStreamThenAbort_EndGetRequestStreamThrowsWebException(remoteServer NullReferenceException"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/1405/console

[code]

[2016-02-27 11:50] jasonwilliams200OK commented on #6397
:+1:

Like many other applications, `node.js`, its package manager `npm` and all the packages follow the same Unix conversion uniformly everywhere (including Windows): double hyphen `--` for full option name and single hyphen `-` for a single letter alias: `node test --watch` == `node test -w`.

On Winodws, the built-in programs on cmd use `/` token for both option names and single letter aliases.

[2016-02-27 14:52] maxima120 commented on #3107
there are dreams of wanna be scientists and there are engineering tasks of practicioners.
there is nothing wrong to have dynamic binding as it proven works. your debates can long for years only to produce a monster noone will use..

I say - give us WPF-style binding with now. we (people who makes actual software) need it yesterday.

[2016-02-27 15:37] stephentoub commented on #6485
When you compile with Roslyn and Array.Empty is available, it'll use Array.Empty for the argument rather than allocating an array.

[2016-02-27 15:39] chadly opened #6489 "Missing ObjectContent class in System.Net.Http"
It appears `ObjectContent` didn't make it among the various subclasses of `HttpContent` (`StreamContent`, `StringContent`, etc.). Is this a bug or is there another way to use `HttpClient` to POST json somewhere?

e.g.

[code]

[2016-02-27 15:50] stephentoub commented on #6486
cc: @SidharthNabar, @davidsh, @CIPop

[2016-02-27 16:06] davidsh commented on #6489
The set of *Content classes in HttpClient is the same as .NET Framework.

ASP.NET WebAPI did have a set of extension classes with JSON formatting.

cc: @danroth27

[2016-02-27 16:26] aL3891 commented on #6398
Maybe `GlobalEvents.UnhandledException / FirstChanceException` There could be other events that might be useful as well for debugging or profiling that could be added there down the line.

[2016-02-27 16:26] maxima120 commented on #5766
I hope you guys can do it ! :)

[2016-02-27 16:30] chadly commented on #6489
Ah, thanks I see now. After reading aspnet/Mvc#1639, I added a reference to [Microsoft.Aspnet.WebApi.Client](https://www.nuget.org/packages/microsoft.aspnet.webapi.client/) package and it now works even though that package doesn't explicitly target .net core.

Will that package be updated to target .net core?

[2016-02-27 16:30] #6489 closed

[2016-02-27 17:09] davidsh commented on #6489
The ASP.NET team can answer that question better.  Feel free to open an issue on the aspnet/mvc repo.

[2016-02-27 18:33] sady4850 commented on #6467
@saurabh500

`select @@VERSION`

Microsoft SQL Server 2008 R2 (SP1) - 10.50.2500.0 (X64)   Jun 17 2011 00:54:03   Copyright (c) Microsoft Corporation  Developer Edition (64-bit) on Windows NT 6.1 <X64> (Build 7601: Service Pack 1)

This is 100% consistent

[2016-02-27 18:37] saurabh500 commented on #6467
Thanks @sady4850

We will take a look.

[2016-02-27 18:51] JonHanna commented on #6485
You can also use `TrimStart(null)`, to avoid even that, if you aren't using Roslyn.

[2016-02-27 18:51] jamesqo commented on #6485
@stephentoub Huh, I didn't know that; props to Roslyn. Even so, Array.Empty still creates more overhead, since it has to lazily initialize an array/introduces another method call.

[2016-02-27 18:56] jamesqo commented on #6485
@JonHanna Yeah, but most people don't do that. :wink:

[2016-02-27 19:00] svick commented on #6485
@jamesqo

I doubt that overhead is going to be measurable under normal circumstances. That lazy initialization is using a static field initializer, which usually doesn't have any overhead beyond the first call. And that method call is very likely going to be inlined. So the total overhead should be just a static field load.

[2016-02-27 19:14] jamesqo commented on #6485
@svick I suppose you guys are right; I crossed out that bullet point from the list.

[2016-02-27 20:02] kkurni commented on #6467
@sady4850 it seems this issue related with https://github.com/dotnet/corefx/issues/5187

Try to apply hotfix on your sql server
https://support.microsoft.com/en-us/kb/2653857

----Quoted---
SQL Server 2008 R2 Service Pack 1

The fix for this issue was first released in Cumulative Update 6 for SQL Server 2008 R2 Service Pack 1. For more information about how to obtain this cumulative update package

[2016-02-27 20:05] saurabh500 commented on #6467
@kkurni are you suspecting this to be the TLS issue?

[2016-02-27 20:33] kkurni commented on #6467
Yes based on the sql server and it happened on ubuntu and the error message saying that unable to read data.

It most likely stuck when receiving those login bytes during login. The server doesnt response because open ssl split the bytes.

[2016-02-27 21:28] saurabh500 commented on #6467
@sady4850 would it be possible to apply this patch to the server and try connecting from linux again?
Let us know.

[2016-02-28 00:35] stephentoub opened #6493 "Outer loop Win7 and Win10 builds failing consistently with various errors"
Outer loop builds are repeatedly failing with a variety of errors:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win7_debug/98/consoleText
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/104/consoleText
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win7_release/94/consoleText
[code]

[2016-02-28 00:37] stephentoub opened #6494 "Outer loop Ubuntu legs pass all tests but then fail with IOException"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_ubuntu14.04_release/8/consoleFull
[code]

Also, why after the tests are run is it then doing a native build?

[2016-02-28 01:10] jkotas commented on #4491
Large chunks of Reflection.Emit code in the runtime are Windows-specific. It is not easy to just enable them for CoreCLR because of it would not work on Unix. In particular, the support for emitting debug information depends on unmanaged PDB writer that is very complex Windows-specific component that we have no plans to open source and bring x-plat.

We are also not happy about Reflection.Emit bei

[2016-02-28 01:21] stephentoub opened #6495 "Outer loop runs aren't running inner loop tests!"
```/p:WithCategories="InnerLoop;OuterLoop"``` is being passed to msbuild, causing ```-trait category=InnerLoop -trait category=OuterLoop``` to be passed to the xunit command line, but "inner loop" tests aren't attributed with an [InnerLoop] attribute, there is no "InnerLoop" trait, etc., and so the only tests that are getting run are the few outer loop ones.

[2016-02-28 01:23] #6355 closed

[2016-02-28 01:30] stephentoub commented on #6461
@ianhays, thanks for doing this work. Can you help me to understand a few things?
- What tool are you using to measure coverage?  Something other than OpenCover/ReportGenerator? You wrote that we're missing 339 lines of coverage, but when I just ran ```msbuild /t:rebuildandtest /p:Coverage=true``` and looked at the resulting report, it states only 130 of the coverable lines are uncovered, so I'm n

[2016-02-28 01:49] stephentoub commented on #6479
@DavidObando, I think the large size may actually be a red herring, and the real issue is that because it's so large, it's taking a very long time to upload, and you end up hitting the default timeout of 100 seconds set on HttpClient, hence the task getting canceled.  When I add the line:
[code]
to your repro, that particular error goes away.

[2016-02-28 01:53] #6205 closed

[2016-02-28 01:53] #6210 closed

[2016-02-28 01:53] #6211 closed

[2016-02-28 01:58] davidsh commented on #2505
Re-opening this issue.  It was closed incorrectly.

This issue *is* for the System.Net.WebSocket.Client code.

[2016-02-28 02:00] davidsh commented on #2508
We need to fix this in order to fix #6142.

[2016-02-28 02:11] stephentoub commented on #6487
@davidsh, I just took a peek at these tests, and they seem inherently racy.  Am I reading it correctly that it starts a request, then aborts it, and expects that the operation will have been canceled?  But if on rare occasion there's a blip and the request actually finishes before it can be aborted, the exception field won't be set, and it'll attempt to access the Status property off of the null f

[2016-02-28 02:19] davidsh commented on #6487
`HttpWebRequest.Abort` has always problematic on CoreFx since we implement HttpWebRequest on top of HttpClient which is inherently async in nature.

.NET Framework behavior for HttpWebRequest.Abort and MSDN docs state that Abort() is sync in nature and will not return until the "callback" has completed.

There are some small windows of race condition inherit in the implementation of HttpWebRequest

[2016-02-28 02:19] stephentoub commented on #6422
@ianhays, that exact test is here:
https://github.com/dotnet/corefx/blob/master/src/System.Console/tests/CancelKeyPress.cs#L12-L23

Can you clarify?

[2016-02-28 02:21] stephentoub commented on #6487
Thanks for the explanation.

No, I think this is the only time we've seen it fail.  Which makes sense... if that actually is the cause, you'd expect it to fail only very rarely.

[2016-02-28 10:54] nietras commented on #5474
@mellinoe @terrajobst since the timeline for `1.0.0-rc2` has been changed is there any chance `Unsafe` could be added to this milestone again, instead of RTM? As far as I can tell the API is stable for `Unsafe` at least with regard to this thread. Not sure about your internal discussions.

I have been thinking about the above statements (below) made by @mikedn and how this could perhaps allow an e

[2016-02-28 11:45] mikedn commented on #5474
Nope. You can't store a managed pointer in a reference variable as such a pointer may point to the interior of a managed object. When the GC encounters a reference it expects that the reference points to the beginning of the object because it needs to access the method table and the object header.

I've never been curious enough to check how GC tracks managed pointers but they're likely problemati

[2016-02-28 13:20] sady4850 commented on #6467
@saurabh500 installing SP3 solved the problem, thanks

[2016-02-28 13:20] #6467 closed

[2016-02-28 16:58] SirusDoma opened #6501 "Configuring project to Define conditional compilation symbol and allow unsafe block"
Hello there!
Today, I tried dotnet core, created a new simple hello world project via Visual Studio 2015 (C# -> Web -> Console Application (Package)), it automatically restore the packages, and once finished, I just compile it. It's work like a charm!

However, I would like to add conditional compilation symbol and allow unsafe block.
How can I do that? thanks in advance

[2016-02-28 17:53] justinvp commented on #6406
FYI, I started working on this and will submit a PR soon.

[2016-02-28 18:41] DavidObando commented on #6479
@stephentoub makes sense.  Thanks for taking a look.

[2016-02-28 18:41] #6479 closed

[2016-02-28 19:47] tibel commented on #5598
Isn't pooling a technique for reducing stress on GC. So it can't be safe by definition: Buying some performance by weakening the safety net.

Safe pooling would require to extend the runtime/GC by the concept of pooling so you can return an object immediately and don't have to wait for a GC cycle (good old `malloc` and `free`). When the runtime knows about pooled objects it can handle the returnin

[2016-02-28 20:09] davidsh commented on #6465
FWIW, the format for <domain> plus <user> is usually `Domain\User` i.e. use the backslash and not the forward slash character.

[2016-02-28 20:11] nietras commented on #5474
Exactly, so I couldn't understand how this could be possible either but the sentence:

Kept nagging me and I thought perhaps there was someway to define `Span<T>` like:
[code]
That is, one could misuse the `Object` field to point to unmanaged memory too, the `Offset` would then be zero for the native pointer case.

[2016-02-28 22:01] benaadams commented on #5598
The GC itself is essentially a pool.

However, its also much more complex as it deals with polymorphic types; objects of different-sizes, non-predicable lifespans, and has to infer the usage relationships and reference graphs to workout when things are not longer used so their memory can be returned to the pool; without foreknowledge of the application and how it works; it also does heap defragmen

[2016-02-28 23:34] jimitndiaye commented on #2394
Patiently waiting for that GitHub repo. Only just realised that WF hadn't been ported to .NET Core which pretty much killed its viability for our product. Which is a shame as we love the changes coming to ASP.NET core and the whole cross-platform, slimmed down, modular idea of .NET Core but we need WF as it is the basis of our entire product.

[2016-02-28 23:37] stephentoub commented on #5750
Just failed again (OS X Debug):
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/1441/console
[code]

[2016-02-29 00:21] jasonwilliams200OK commented on #4963
This was addressed by #5911.
@joperezr, @SamB, should this issue be closed?

[2016-02-29 00:42] davidsh commented on #6142
Fixed with #6500.

[2016-02-29 00:42] #6142 closed

[2016-02-29 00:55] stephentoub opened #6506 "SocketAsyncEngine event loop FailFast on OSX"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/1447/console
[code]
cc: @ericeil, @pgavlin

[2016-02-29 01:00] ronnyek commented on #2394
I guess I honestly dont really care if this is WWF, or if its some other well supported workflow engine, but I do think for purposes of extendability, workflow of some sort could be absolutely huge.

[2016-02-29 03:15] davidsh commented on #5045
@cesarbs I tried the repro. And I can reproduce the results you say.

FWIW, I tested the code fix against our test server in Azure by modifying your client repro:

[code]

and I get `401`.  That said, when I try to connect to the http://localhost server you have, I do see the 200 response, which implies that default credentials are getting sent.

So, I will need to investigate this further.

[2016-02-29 03:24] davidsh commented on #5045
cc: @CIPop @stephentoub @SidharthNabar

@cesarbs I found out why it appears that my fix doesn't work on your http://localhost server.

According to MSDN documentation for native WinHTTP (which is what System.Net.Http uses on CoreFx):

https://msdn.microsoft.com/en-us/library/windows/desktop/aa384066(v=vs.85).aspx

Sets an unsigned long integer value that specifies the Automatic Logon Policy with o

[2016-02-29 03:24] jonorossi commented on #4491
@jkotas many thanks for the explanation here, it makes complete sense. I'm glad you guys are planning to provide a more general purpose object model around the heart of .NET, IL. I'd seen the portable PDB reader/writer and some metadata object model appear in Roslyn, they look great. In the past I've used Cecil for the exact reason the .NET Framework API is so heavily tied into the runtime, glad t

[2016-02-29 04:15] tmat commented on #4491
FYI @ManishJayaswal @jaredpar

[2016-02-29 06:14] shrutigarg commented on #6465
Thanks.. it was a typo.

[2016-02-29 07:55] HB-2012 commented on #2089
I rely on this library. It's a shame I can't port now.

[2016-02-29 09:30] tmds opened #6513 "NullReferenceException when calling Socket.SetMulticastOption on ubuntu 14.04"
Calling Socket.SetMulticastOption throws a NullReferenceException on ubuntu 14.04.

Example program:
[code]
[code]

Output:
[code]

[2016-02-29 09:59] JonHanna commented on #6477
Can we consider this safe to close then? @VSadov ? @stephentoub ?

[2016-02-29 10:33] shrutigarg commented on #6465
it includes fixing user@domain type too

[2016-02-29 12:29] stephentoub commented on #6513
Thanks for the repro.  I'll take a look...

[2016-02-29 13:59] stephentoub opened #6516 "SendToV4IPEndPointToDualHost_Success timeout on OS X"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/1458/console
[code]

[2016-02-29 14:41] whoisj commented on #645
@kumarharsh, while I appreciate what you're saying. if people are asking about the Windows Explorer Shell, then they should be looking for avenues to query the owners of the Windows Explorer Shell. The CRL/NetFX developers have little information and influence in that arena.

As an aside, if CoreFX supports long file names then it will not be long before PowerShell does as well.

[2016-02-29 15:55] CurtHagenlocher opened #6517 "Feature request: Better low-level support for making use of streaming algorithms"
There is a class of algorithms that works against a sequential stream of data. Typically, the algorithm is initialized with some starting state. It's then presented with a sequential stream of identically-typed elements. For each arbitrarily-chosed block of elements, the algorithm may either modify the starting state or produce an incremental block as part of an output stream, or both, depending o

[2016-02-29 16:48] joperezr commented on #4963
Yes, this is fixed, so I'm closing now. @SamB feel free to re-open if needed.

[2016-02-29 16:48] #4963 closed

[2016-02-29 17:14] #6513 closed

[2016-02-29 17:39] svick commented on #6517
Why would you want to read the compressed stream?

That sounds a lot like [`CopyToAsync()`](https://msdn.microsoft.com/en-us/library/hh159084).

[2016-02-29 17:46] cartermp opened #6518 "Proposal: Make CoreFX the source of XML Doc comments"
## Problem

Today, the [API Reference](https://dotnet.github.io/api/System.Collections.Generic.List%601.html) for .NET Core is actually displaying information from the .NET Framework XML Doc comments.  These comments don't live in source - they are separate files that Intellisense then also parses in Visual Studio.  When .NET Core ships for RTM, the data used to populate API reference docs and Int

[2016-02-29 17:46] DavidObando commented on #6479
@stephentoub I have a couple of follow-up questions:
1. In the spirit of user friendliness, can we get a more descriptive inner exception in the task cancelled exception? Something indicating the connection timed out?
2. The clock is ticking for this timeout event even though the app is still building the message that's going to be sent. Is this by design?

[2016-02-29 17:48] stephentoub commented on #6479
@davidsh, can you answer these questions?

[2016-02-29 18:32] mellinoe commented on #6308
Yes, you will still implement and test the feature. Me being assigned basically means I am available to help the process move along, and answer any questions you have.

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#assignee

[2016-02-29 18:33] #6338 closed

[2016-02-29 18:53] mellinoe commented on #6308
I'm not really familiar with any such distinction regarding integer vs. decimal rounding. In my view these are the same operation, mathematically and programatically. The only difference is the digit on which the rounding is performed. I see no real difference between rounding `11.15 -> 11.2` and `11.15 -> 10.0` other than the digit rounded on.

These seem like compound operations to me. Going fro

[2016-02-29 19:03] shmao commented on #5647
@cyberphone can you please direct me to the spec for the following point? Thanks.

[2016-02-29 19:11] joshfree commented on #52
@blackdwarf could you help with the http://github.com/microsoft/referencesource individual file license issue?  Also I don't think issue tracking should be enabled for that repo - it's slowly collecting stackoverflow type questions which people won't see.

[2016-02-29 19:21] cyberphone commented on #5647
Hi @shmao
When reading section 24.3.2.2 paragraph 2 b of
http://www.ecma-international.org/ecma-262/6.0/ECMA-262.pdf
I do this interpretation.

All browsers do this so it can't be completely wrong :-)

[2016-02-29 19:25] VSadov commented on #6477
My vote is for closing and keeping these optimizations.

[2016-02-29 19:28] blackdwarf commented on #52
@joshfree sure thing. I can disable issues right now, do we want that?

[2016-02-29 19:32] joshfree commented on #52
@blackdwarf yeah, if you could do that and point the 6-7 people who created issues in that repo to the right place (similar to the blurb in the corefx readme) that would be helpful

[2016-02-29 19:56] blackdwarf commented on #52
@joshfree not a problem, I assume the right place is corefx?

[2016-02-29 20:00] joshfree commented on #52
@blackdwarf no, it's actually not GitHub/corefx for .NET Framework specific asks.

[2016-02-29 20:05] blackdwarf commented on #52
@joshfree off I go to solve that particular (easy) thingie.

[2016-02-29 20:38] CurtHagenlocher commented on #6517
I had good reasons for wanting to compress on read. The specifics aren't really pertinent to the request, which is about providing the means to let developers build their own higher-level abstractions on top of lower-level functionality which is already present, but frustratingly inaccessible.

[2016-02-29 20:58] stephentoub commented on #6486
@tmds. it's not clear to me from your description... you say this works on the desktop framework and mono... where does it not work?  Does it work on Windows on coreclr?  Do you have a small repro you can share that fails?

[2016-02-29 21:11] ianhays commented on #6517
I thought about this more over the weekend since your email thread, but I"m not sure I understand where exactly we're missing functionality compared to other APIs. Yes, there is some indirection around the zlib functions (setinput, needsinput, etc) to fit in the Stream style, but the functionality is mostly the same.

For general purposes the use case of wanting to compress a stream is definitely

[2016-02-29 21:12] svick commented on #6517
I think that specifics can be useful:

* It means alternative and possibly even better solutions can be proposed (whether in the form of new API or just using an old one).
* It helps understanding how common what you're asking for is.

[2016-02-29 21:24] rstam commented on #6517
The lack of support for incrementally computing an MD5 hash is one of several things blocking a port of the MongoDB .NET Driver to .NET Core. We rely on being able to compute the MD5 hash incrementally while we are doing other work (like incrementally uploading/downloading the chunks that make up a potentially very large GridsFS file). We never have the entire buffer in memory at once, so calling

[2016-02-29 21:28] ayende commented on #6517
For example, I might want to compress data that I write to WebSocket, which
doesn't have stream interface.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Mon, Feb 29, 2016 at 7:39 PM, Petr Onderka <notifications@github.com>
wrote:

[2016-02-29 21:31] stephentoub commented on #6517
cc: @bartonjs

[2016-02-29 21:32] ianhays commented on #6517
I don't know much about crypto(@bartonjs), but isn't that what [IncrementalHash](https://github.com/dotnet/corefx/blob/ac67ffac987d0c27236c4a6cf1255c2bcbc7fe7d/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/IncrementalHash.cs) is for?

[2016-02-29 21:33] ianhays commented on #6517
https://github.com/dotnet/corefx/issues/4123

[2016-02-29 21:37] CurtHagenlocher commented on #6517
Okay, some specifics then. In my most recent scenario, we have an internal contract for binary values which effectively looks like this:

class BinaryValue {
    public Stream Open();
}

Now I want to implement a function with the prototype
BinaryValue Compress(BinaryValue value);

Note that decompression is easy, a DecompressedBinaryValue could have an "Open" which simply returns new DeflateStrea

[2016-02-29 21:45] CurtHagenlocher commented on #6517
The very first time this API made me angry was when I was trying to implement Python's compression support for IronPython. In the end, I gave up trying to do it on top of the BCL's public API and (IIRC) just got permission to fork the code. There's been at least one other case where the existing API was not what I wanted, and that's when I ported Hive ORC file support to C#. I think I ended up usi

[2016-02-29 21:48] bartonjs commented on #6517
@ianhays (and @rstam) Yep, the IncrementalHash class is where the incremental hash composition functionality migrated; and #4123 does explain/example it.

[2016-02-29 21:53] ayende commented on #6517
But things like compression would be very useful to have independent of the
Stream.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Mon, Feb 29, 2016 at 11:48 PM, Jeremy Barton <notifications@github.com>
wrote:

[2016-02-29 21:54] rstam commented on #6517
@ianhays  IncrementalHash looks promising. First I've heard of it though. A search of MSDN yields no hits.

In general, we really need some documentation that describes what *IS* in .NET Core. The discoverability of things like this is very poor.

[2016-02-29 22:11] stephentoub commented on #5750
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/1414/console

And slightly different but similar here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/1480/console

[2016-02-29 22:16] stephentoub commented on #6506
Just hit this again, this time with the added debug assert message: "Unexpected _registeredEvents: None"
[code]

[2016-02-29 22:34] mellinoe commented on #6501
You can add some compilation options to project.json, see here: https://github.com/aspnet/Home/wiki/Project.json-file.

[2016-02-29 22:46] tushargupta51 opened #6529 "src"

[2016-02-29 22:46] tushargupta51 commented on #6529
Typed in wrong window. Closing.

[2016-02-29 22:46] #6529 closed

[2016-02-29 23:16] svick commented on #6517
@CurtHagenlocher

In that case, you can use the non-asynchronous (and thus blocking) `CopyTo()`. I don't think there's another choice, even if you write the code yourself: either the code is asynchronous, or it blocks. I assumed blocking would be a bigger problem, so I suggested `CopyToAsync()`.

Also, `CopyToAsync()` isn't as bad as you suggest, especially when it comes to resource consumption: i

[2016-02-29 23:20] ayende commented on #6517
CopyTo / CopyToAsync does a pretty big buffer allocation, though.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Tue, Mar 1, 2016 at 1:16 AM, Petr Onderka <notifications@github.com>
wrote:

[2016-02-29 23:23] svick commented on #6517
@rstam

That's what [dotnet.github.io/api](http://dotnet.github.io/api/index.html) is for, though it's very much a work in progress.

Specifically, [the documentation for `IncrementalHash` is supposed to be here](http://dotnet.github.io/api/System.Security.Cryptography.IncrementalHash.html). I *think* the reason why it's not really there (apart from listing the members, which is not really documen

[2016-02-29 23:27] varocarbas commented on #6308
@mellinoe Thanks for the clarification. I will try to bother you as less as possible :)

Integer whatever means operations among integers and decimal whatever operations among decimal numbers. The considered integer types (`int` and `long`) will have the same behaviour, equivalently to what will happen with the decimal ones (`decimal` and `double`); that's why differentiating between both groups.

[2016-02-29 23:30] eerhardt opened #6530 "Restoring a "dotnet new - Hello World" console app downloads 340 MBs of NuGet packages"
To repro on a new machine (or delete your `%userprofile%\.nuget\packages` folder):

- Install the latest dotnet cli: https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-win-x64.latest.exe
- In a new cmd prompt:
  - mkdir C:\DotNetTest
  - cd C:\DotNetTest
  - dotnet new
  - dotnet restore
  - dotnet run

# Expected Results
In all actuality, I expected the same .NET assembl

[2016-02-29 23:32] svick commented on #6517
@ayende [You can specify whatever buffer size you want.](https://msdn.microsoft.com/en-us/library/hh137801) I was wondering whether using the new `ArrayPool` might make sense, but [apparently it's not possible](https://github.com/dotnet/corefx/issues/5598#issuecomment-173726925).

[2016-02-29 23:37] varocarbas commented on #6308
@mellinoe I have got lots of info from you (+ other commentators) and should better put all these ideas together to avoid unnecessary time wasting. I will write a comprehensive enough summary + a better definition of the most-supported proposals ASAP (tomorrow or on Wednesday) and we can continue from there.

[2016-02-29 23:45] #4450 closed

[2016-03-01 00:01] krytarowski opened #6531 "Comparing file-descriptor number with OPEN_MAX isn't portable"
During dotnet verification on NetBSD with managed tests I ran into assertion of invalid OPEN_MAX value.

Log message:

[code]

Culprit code:

[code]

--- https://github.com/dotnet/corefx/blob/master/src/Native/Common/pal_utilities.h#L127

I checked `fd` with few core-dumps (available to me, tests are still running) and it was of value: 139, 131, 129, 132, 130, 147, 139, 130, 149.

GDB snapshot.

[

[2016-03-01 00:05] krytarowski commented on #6531
@stephentoub PTAL

[2016-03-01 00:25] #5849 closed

[2016-03-01 00:26] mellinoe commented on #6308
Okay, that sounds reasonable. Please try to cover some of the edge cases above in usage examples. For example, it seems the input for `Math.Round(int, int)` starts from 1, not 0, and this is what was causing the confusion above. Those are the sorts of specifics we need to capture in the proposal so that everyone can be on the same page.

Beside that, I would be interested to hear if anyone else ha

[2016-03-01 00:32] mellinoe commented on #6530
What's the action item here, exactly? The CLI has its dependencies bundled in with the product, not in the package cache. That is going off the [raw zip](https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/Latest/dotnet-win-x64.latest.zip) I downloaded earlier today, but I would guess that the MSI is the same.

[2016-03-01 00:51] krytarowski commented on #6531
Alternatively we can remove these `asserts`(3), since the `#else` case is checking against `INT32_MAX` - it doesn't look too critical.

[2016-03-01 01:09] nguerrera opened #6533 "CustomAttributeDecoder should cache and reuse common arguments to avoid boxing"

[2016-03-01 01:12] nguerrera opened #6534 "Assert correctness of all custom attribute decoding tests"
Currently, due to lack of time, some tests just check that we don't throw.

A better approach would probably be to generically compare reflection CustomAttributeData to S.R.M CustomAttributeValue for every test attribute applied.

[2016-03-01 01:13] shmao commented on #5647
Thanks for the info, @cyberphone . According to Note 3 in section 24.3.2,

Serializing "\u000a" into "\"\\u000a\"" seems correct, right?

[2016-03-01 01:14] SirusDoma commented on #6501
Thanks for your response!

[2016-03-01 01:14] #6501 closed

[2016-03-01 01:15] ianhays commented on #6422
That... is interesting. My per-test results for that test show it having more coverage than it's open equivalent.

Though that test is slightly different in open, I would expect it would provide the same coverage. However, one difference is in the method: ```System.Void System.Console::remove_CancelKeyPress(System.ConsoleCancelEventHandler)``` where in open we're missing lines 327-330 but in that

[2016-03-01 01:15] maciejw opened #6535 "HttpClient.GetAsync does not call virtual SendAsync"
can you confirm that this is NOT by design?

All [Verb]Async methods except GetAsync end up in one particular SendAsync method
[code]

I think GetAsync should not be en exception.

[2016-03-01 01:18] stephentoub commented on #6422
Do the ToF tests run in an environment that's already hooked up a CancelKeyPress handler?  xunit has one (which is why you can ctrl-C to gracefully exit a test run).

[2016-03-01 01:23] davidsh commented on #6535
This is By-Design.  What are you observing that is wrong with the implementation?

By the way, all of the convenience helper methods of HttpClient (such as GetAsync, PostAsync) eventually call the main handler (HttpClientHandler, usually) and it is the SendAsync virtual method of that class that is actually doing the work.

And if you need to hook into the pipeline chain of handlers, you should lo

[2016-03-01 01:24] davidsh commented on #6535
See this article for a historical perspective on the architecture of HttpClient and the handler pipeline:

[2016-03-01 01:24] stephentoub commented on #6477
Let's keep 'em.

[2016-03-01 01:26] ianhays commented on #6422
I have not delved into the ToF xunit runner so I'm not sure. If I can't find any other instances of this happening then I'm going to blame this one on infrastructure differences. There are a few other differences in how I run the tests e.g. ToF tests are in a batch window, open tests are in a powershell window that could contribute to this weird inconsistency.

[2016-03-01 01:31] jamesqo commented on #5888
@stephentoub Shouldn't this be labeled as an API addition, since it's adding a new public method to a class?

[2016-03-01 01:35] davidsh commented on #5888
It is labeled ok right now.  Yes, though, in order to move forward with this issue, a properly filed api addition issue must be generated along with design thoughts on how with would align with .NET Framework existing API patterns.

[2016-03-01 01:35] maciejw commented on #6535
when I derive from HttpClient GetAsync call will not call my overriden SendAsync method.

I wanted to use decorator with HttpClinet and compose some things this way. I could do it using HttpMessageHandler, but this GetAsync should call this overriden SendAsync I think:) I look into DelegatingHandler, thanks.

[2016-03-01 01:38] davidsh commented on #6535
You should not be deriving HttpClient in the first place.  It is not meant to be derived from at least in terms of overriding "SendAsync" behavior.

The design pattern is to create a new HttpMessageHandler (or use the DelegatingHandler) class.  That has the virtual SendAsync() method that you can override.  Then you pass in that new HttpHandler chain into the constructor for HttpClient.

[2016-03-01 01:43] maciejw commented on #6535
OK, thanks for clarification. I look into it.

[2016-03-01 02:09] davidsh commented on #6535
Ok. We'll close this issue since the question was answered.

[2016-03-01 02:09] #6535 closed

[2016-03-01 02:14] corivera opened #6541 "SqlClient Tests: TdsParser::ThrowExceptionAndWarning called with no exceptions or warnings!"
Happens intermittently in various test cases.

[2016-03-01 02:30] terrajobst commented on #6517
@CurtHagenlocher I'm not entirely sure I understand what you're asking for. it looks like you want an easier way to:

* Wrap an existing stream to perform some processing as data is being read. Write now, you've to do the delegation yourself and make sure you override all the right methods.
* Having a way to convert from pull to push and vice versa.

Is that correct?

[2016-03-01 03:30] jamesqo opened #6542 "WebUtility.UrlEncode/Decode methods allocate even when unneeded"
As it stands, the [current implementation](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/Net/WebUtility.cs#L360-L362) of `WebUtility`'s `UrlEncode`/`Decode` methods allocate even when there is nothing to change in the original string, e.g. `UrlDecode("Foo")`. We should probably change this (I may submit a PR) so that it just returns the original string if no

[2016-03-01 03:41] #6531 closed

[2016-03-01 03:45] krytarowski commented on #6531
Thanks!

[2016-03-01 03:49] CurtHagenlocher commented on #6517
@terrajobst No. Ideally, I'd like to be able to consume this kind of functionality without having to implement a Stream at all.

[2016-03-01 06:18] ayende commented on #6517
Yes, but I can't provide an external buffer, or control the allocations.
If I need to run this in high perf code, I cannot call this method, because
of the allocation cost.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Tue, Mar 1, 2016 at 1:32 AM, Petr Onderka <notifications@github.com>
wrote:

[2016-03-01 06:18] cyberphone commented on #5647
It says *or* with the shorter forms which seems like an alternative.  And it is OK according to the JSON spec.  But the following lines say different things:

24.3.2.2 Runtime Semantics: QuoteJSONString ( value )
The abstract operation QuoteJSONString with argument value wraps a String value in QUOTATION MARK code
units and escapes certain other code units within it.
1. Let product be code unit 0x

[2016-03-01 06:42] vijaykota commented on #6199
We are still hitting the modified assert due to some weirdness in gss_display_status. In negative cases on a debug build, this API gets called and when checking for minor status with a value like 0x186a5, this returns status==0, gssBuffer.lenght==0, gssBuffer.value=<non-null junk pointer> gss_release_buffer on this does not cause any issues so looks like safest approach is to remove the assert

[2016-03-01 11:50] krytarowski opened #6546 "Tests failing on NetBSD"
I will track here progress on running managed code tests with CoreCLR/CoreFX on NetBSD.

For now:
1. I disabled locally all tests failing on FreeBSD or Linux or OSX.
2. I added locally 'timeout 15m' call before each `corerun` execution to address hanging tests.

Command:

`./run-test.sh --coreclr-bins /usr/pkg/CoreCLR/ --mscorlib-bins /usr/pkg/CoreCLR/ --corefx-tests /public/bin/tests/FreeBSD.AnyC

[2016-03-01 11:54] krytarowski commented on #6546
I note that many tests are falling down due to lack of `.dll` files -- like:

[code]

Is this Windows-only?

[2016-03-01 12:34] stephentoub commented on #6546
That test is attributed in the source as ```[PlatformSpecific(PlatformID.Windows)]```.  It should not be running.  When was the last time you sync'd your corefx repo?  My guess is you don't have the updated buildtools that added NetBSD to the PlatformSpecific support.

[2016-03-01 12:37] stephentoub commented on #6506
Failed again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/1515/consoleFull
[code]

[2016-03-01 13:24] #6384 closed

[2016-03-01 13:25] #5864 closed

[2016-03-01 13:31] stephentoub commented on #3202
Fixed by #5752

[2016-03-01 13:31] #3202 closed

[2016-03-01 13:32] #2161 closed

[2016-03-01 13:32] #6477 closed

[2016-03-01 13:50] stephentoub commented on #6446
Some of the code in this library only executes when on a particular platform, when using a particular chip set, etc.  That's not going to be addressed by adding more tests.

That said, I don't understand this number.  According to OpenCover / ReportGenerator when I run ```msbuild /t:rebuildandtest /p:Coverage=true```, there are only 264 total lines of which 14 are uncovered:
![image](https://cloud

[2016-03-01 13:54] xrkolovos opened #6548 "Problem with System.Linq.Queryable extention methods"
hello,
i am trying to use this method
public static IQueryable<TSource> Where<TSource>(this IQueryable<TSource> source, Expression<Func<TSource, bool>> predicate)
from System.Linq.Queryable
https://github.com/dotnet/corefx/blob/ac67ffac987d0c27236c4a6cf1255c2bcbc7fe7d/src/System.Linq.Queryable/src/System/Linq/Queryable.cs

and i get this error
cannot resolve method 'Where(System.Linq.Expressions.E

[2016-03-01 14:06] Dmitry-Me opened #6550 "System.Security.Cryptography.X509Certificates.X509Store hides errors when cert collection is obtained from a closed store"
`System.Security.Cryptography.X509Certificates.X509Store` has

[code]

which silently returns an empty collection if the store is not opened. The code to traverse a store looks something like this:

[code]

if `Open()` call is omitted for any reason - "no problem", the code works, just looks at empty collection. This is error hiding. `Add()` and `Remove()` don't allow the store to be not opened in

[2016-03-01 14:20] bartonjs commented on #6550
@Dmitry-Me I agree, but right now Desktop is the spec.  Behavior breaking changes between core and desktop for the same codepath is bad (it makes the code less portable) and breaking changes are pretty hard to do.

But, maybe your `isOpened` suggestion is a reasonable compromise.

[2016-03-01 14:22] xrkolovos commented on #6548
Fixed
the problem was that it was missing "System.Linq.Queryable"

[2016-03-01 15:20] eerhardt commented on #6530
I think the biggest/first action item would be to reduce the size of our packages.  The example I show above is repeated for other packages. For example, there are two versions of System.Runtime which account for 84 MB on disk.

18 TFMs X 9 languages is making up for a big problem. Maybe one step we could do is create language specific packages. Each developer only cares about a single language. A

[2016-03-01 16:20] #6548 closed

[2016-03-01 16:34] stephentoub commented on #5750
Same issue here (but with SendRecvApm_Stream_TCP):
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/1523/consoleFull

[2016-03-01 16:35] stephentoub commented on #6506
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/1520/consoleFull

[2016-03-01 18:04] ianhays commented on #6446
I re-ran everything and get 0 missing lines. It's possible my results for this library were older from before I made some important fixes to how I was combining results. I'm going through all of the issues and updating them now with the new, outerloop-inclusive results.

Closing this as no missing lines to port.

[2016-03-01 18:04] #6446 closed

[2016-03-01 18:06] ddobric opened #6555 "cannot compile system.net.sockets"
Hi all,

trying to compile System.Net.Sockets. It fails with errors:

"System.Net.NameResolution 4.0.0-rc3-23829 is not compatible with DNXCore,Version=v5.0.
 System.Security.Principal.Windows 4.0.0-rc3-23829 is not compatible with DNXCore,Version=v5.0."

..build output...

Restoring NuGet packages...
 To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, cl

[2016-03-01 18:06] tarekgh commented on #6416
I looked at the coverage report and I am seeing the lines not covered are the properties which used when the ArgumentException get thrown in the code. so if we have right coverage for AppContext.SetSwitch & AppContext.TryGetSwitch with the path throw the exception, then we should get the 100% coverage in SR too. right?

[2016-03-01 18:14] tarekgh commented on #6416
should we have a test exercise the stand alone library and not the one in mscorelib.dll? I don't know how to exclude the SR code from the coverage when running against mscorlib.dll

CC @AlexGhiondea

[2016-03-01 18:28] palladia opened #6556 "FileSystemInfo contains missing/wrong info when symbolic links become broken"
Originally filed in [coreCLR issue #3366](https://github.com/dotnet/coreclr/issues/3366), but perhaps it's  more appropriate here.

Running dotnet 1.0.0-beta-001472 on Ubuntu 14.04.1, System.IO.FileSystem.*:  4.0.0-rc3-23819:

On Linux, a symbolic link has following typical FileSystemInfo
-----------------------
Mode              : --r--l
VersionInfo       : File:             /usr/bin/dotnet

[2016-03-01 18:42] ianhays commented on #6461
Original comment updated with fixed coverage that includes outerloop coverage for the open tests.

Let me give you a detailed overview of how I'm getting the coverage. I'll respond to that email thread as well.

The results provided from the early-stages ToF vs. Open coverage contained reports that compared the results of running all the ToF tests vs all the Open tests. The issue with this was tha

[2016-03-01 18:51] stephentoub commented on #6416
My concern isn't excluding it from coverage.  It's that we're injecting dead code ;) (That said, it's only a small amount of dead code, so it's not a huge concern.)

[2016-03-01 18:59] tarekgh commented on #6416
if want to exclude the resource generation, can use the property ExcludeResourcesImport=true
Alex may know better when building the stand alone library and when building the Façade which can use this property

[2016-03-01 19:01] stephentoub commented on #6556
Thanks for the issue.

We had a discussion about related issues here:
https://github.com/dotnet/corefx/issues/5630

Based on that, what do you propose we do differently?

[2016-03-01 19:32] palladia commented on #6556
I agree that trying to match Windows behavior of symbolic links makes this a difficult problem.

On Linux, FileSystemInfo should show the link itself, not what it points to.  In fact, you can create a symbolic link to a non-existent item in Linux.  With that assumption, FileSystemInfo.Exists should always be 'true', and FileSystemInfo.Attributes should never throw exceptions.

My 2 cents...

[2016-03-01 19:36] stephentoub commented on #6556
So just to make sure I understand, you're saying that you'd want FileSystemInfo to be different from File/FileInfo and Directory/DirectoryInfo in this regard, that FileSystemInfo should never follow a symlink, for any functionality... am I understanding correctly?

[2016-03-01 19:40] andschwa commented on #6556
After reviewing, I think your current implementation is the best compromise. Python made the same compromise. I would change my mind if we were to add new interfaces for dealing with symlinks explicitly (which is what Boost did), thus leaving this up to the developer. Barring that, the current behavior should remain unchanged.

In @palladia's case, we need to ignore the `File.Exists` attribute if

[2016-03-01 19:41] andschwa commented on #6556
This should be safe because, if the symlink itself didn't exist, the `ReparsePoint` property would not be set, is that correct @stephentoub?

[2016-03-01 19:44] stephentoub commented on #6556
That's correct.

[2016-03-01 19:46] palladia commented on #6556
FileSystemInfo is just base class of FileInfo/DirectoryInfo, right?

On Linux, a symbolic link is just another type of file, like pipes, sockets, etc.  Whether it points to something valid or not, it shouldn't matter.  What I do a Directory.EnumerateFiles(), I shouldn't have to look individually at each file to see if it's a symbolic link on Linux, and then treat it differently.  I have to do that

[2016-03-01 19:50] stephentoub commented on #6556
Yes, I was trying to understand if you were somehow asking for different behavior when used via the base reference.

But the whole point of a symlink is they're used in place of other ones as a redirection, with the idea that most consumers shouldn't actually care that they're not looking at the real one.  You call Directory.EnumerateFiles for a symlink to a directory, you expect that to successfu

[2016-03-01 19:51] andschwa commented on #6556
@palladia You *always* have to treat symbolic links differently (follow or not follow). What .NET does here does not affect that; they're just choosing a default behavior that's easiest to deal with.

The only real bug is just lack of documentation on the choice :smile: I'm sure that will all come in time!

[2016-03-01 19:53] palladia commented on #6556
I guess that's why Linux has lstat vs. stat.  It's definitely not clear that you should always follow the link.

[2016-03-01 19:55] stephentoub commented on #6556
And we just have one thing.  We have to pick a single behavior that'll make most things "just work".

[2016-03-01 19:55] palladia commented on #6556
If I do a "ls", I want to see the link itself.  If I open a file, I expect it to follow the link.  If I "rm" a link, I want to remove the link, not what it points to.

[2016-03-01 19:55] andschwa commented on #6556
Correct. And in this case, lstat is used; then if it's a symbolic link, that information is noted, and then stat is used.

However, I would like to know what is done for `File.Delete`. @stephentoub does that operation affect the link or its target?

[2016-03-01 19:57] palladia commented on #6556
I don't know if a single behavior makes sense for Linux.

[2016-03-01 19:58] stephentoub commented on #6556
That's Directory.EnumerateFiles... you'll see the link.

That's File.Open* / FileStream.ctor... it follows the link.

That's File.Delete... and it deletes the link.

The link.

[2016-03-01 19:58] stephentoub commented on #6556
I don't understand.  How can we have a single operation do two different things?  Seems we're talking past each other.

[2016-03-01 19:59] palladia commented on #6556
If I do a "ls", I want to see the link itself
That's Directory.EnumerateFiles... you'll see the link.

Except that if the link becomes broken, your FileSystemInfo becomes totally messed up.

[2016-03-01 20:01] andschwa commented on #6556
The behaviours you just listed are what I'd expect given the implementation, and are the best defaults.

@palladia Not messed up, just not what we were expecting. It'll say it doesn't exist, but it will also note that it's a symlink. So "symlink existence" is equivalent to `File.Exists || File.IsSymlink` (pseudocode).

[2016-03-01 20:01] andschwa commented on #6556
I think that's all we needed to know.

[2016-03-01 20:01] stephentoub commented on #6556
If the link becomes broken, the FileSystemInfo's ReparsePoint will still be true.  Yes, you'll get an error if you try to then use it, but you can detect that via the attributes.  If we instead had Exists return true in this case, then you'd try to use the file and blow up, and there' s no API you can check to detect that.

[2016-03-01 20:03] stephentoub commented on #6556
If by "totally messed up", do you mean you can't use it at all?  I agree you should be able to inspect the attributes so that you can see if it's a reparse point.  If that's not working, I'll fix that.

[2016-03-01 20:06] palladia commented on #6556
Isn't this what "Target" field is for?

For current implementation of Get-ChildItem in Powershell, it outputs FileSystemInfo as an object.  So if a sym link gets severed, I can catch the FileNotFound exception, but it will not display anything for Mode, Length, CreationDate, etc.

[2016-03-01 20:10] palladia commented on #6556
Yes, once a sym link gets severed, FileSystemInfo.Attributes throws FileNotFound Exception, and most other fields become blank.  This exception gives me more headache than the Exists field.

[2016-03-01 20:12] stephentoub commented on #6556
Target on what?  FileSystemInfo doesn't have a Target member.

I believe you're in the minority.  I could of course be wrong.

I'll take a look.

[2016-03-01 20:19] palladia commented on #6556
I don't see Target as a property listed, but in PowerShell:

PS /home/george/PowerShell-Linux> $a = Get-ChildItem testlink
PS /home/george/PowerShell-Linux> $a.GetType()

IsPublic IsSerial Name                                     BaseType
-------- -------- ----                                     --------
True     False    FileInfo                                 System.IO.FileSystemInfo

PS /home

[2016-03-01 20:20] palladia commented on #6556
On Windows, Target field correctly points to what the symlink points to.

[2016-03-01 20:20] ericstj opened #6561 "Better NETStandard meta-package support"
Today we have a number of contracts in NETStandard.Library that are supported on various different versions of netstandard.

For some we should see about supporting them back further:
  Collections.Concurrent
  Win32.Primitives
  InteropServices.PInvoke
  Console
  FileSystem
  Sockets

Barring that we should at least partition them into dependency groups for each version of NETStandard, so that r

[2016-03-01 20:21] andschwa commented on #6556
@palladia Sanitize that post...

[2016-03-01 20:24] stephentoub commented on #6556
There is no Target on FileSystemInfo.  That must be something your app is creating.

[2016-03-01 20:28] onovotny commented on #6561
What is the baseline version of .NET that you're supporting? 4.5? Unfortunately, I've heard a lot of requests for net40 support, so it'd be really helpful if the meta-packages could at least bring in `frameworkAssembly` references for those so we can still use the consolidated Library/Platform target when multi-targeting a project that has a net40 output.

[2016-03-01 20:28] palladia commented on #6556
Yeah, I will have to investigate that, I don't know how Target gets added.

[2016-03-01 20:29] andschwa commented on #6556
@palladia You need to sanitize that post.

[2016-03-01 20:35] stephentoub commented on #6556
So you're right that we're throwing from Attributes; I forgot I added that behavior.  But... I'm not sure it makes sense to change it.  I get that it's causing issues for you, but anything else is going to result in very odd behavior where the FileSystemInfo morphs from being about the target file to the symlink itself.

If Exists is made to return true but the attributes are all about the symlink

[2016-03-01 20:39] ericstj commented on #6561
/cc @weshaggard
Net40 doesn't support contract factoring (System.Runtime et al.) so frameworkAssembly is not sufficient.  We'd have to come up with facades generated against the 4.0 surface area.  In some cases this would produce API that is unusable since the API isn't present in net4.0.

[2016-03-01 20:41] palladia commented on #6556
As I stated, I think on Linux one should not follow the link by default, but I understand the desire to be consistent, and I have no problem with that.  If you think the current behavior is correct, I can work around these "problems" I have hit.

[2016-03-01 20:45] psibernetic commented on #3480
Just adding my 2 cents as another ORM developer, abstract classes are always a code smell when not backed by an interface. Would love to see new interfaces provided to match the abstract classes and method signatures overloaded with a minimum requirement interface API.

Thumbs up to the community for speaking up.

[2016-03-01 20:45] onovotny commented on #6561
I recognize the pain, and as much as I question the need for net40, it just keeps coming back...so just trying to keep that in mind.

[2016-03-01 20:47] psibernetic opened #6562 "ThreadAfinity support?"
Just curious if there is a debate or plan on supporting thread static or if I can safely assume that ThreadAfinity is gone for good.

[2016-03-01 20:53] ellismg commented on #6562
[TheadStaticAttribute is exposed by System.Runtime](https://github.com/dotnet/corefx/blob/39471b56bd0241e60a33b4179a04187b96481547/src/System.Runtime/ref/System.Runtime.cs#L1639).  Is there something else you are looking for?

[2016-03-01 21:02] psibernetic commented on #6562
That covers it thanks, I was getting mixed up with Thread.BeginThreadAfinity

[2016-03-01 21:02] #6562 closed

[2016-03-01 21:08] davkean commented on #3480
@psibernetic Can you help me understand that statement? What about this is a code smell?

[2016-03-01 21:21] psibernetic commented on #6517
Aren't you really asking for a low level form IEnumerable here, something that can be written to directly (stream) or consumed with separate positions in the stream? Or is this an argument for an auto-feeding StreamWriterReader that consumes stream A -> Stream B? @ayende @CurtHagenlocher.

[2016-03-01 21:36] ericeil commented on #6516
My best guess is that this is due to the inherent unreliability of UDP.  The test sends a single packet, and demands receipt of it.

@stephentoub, @CIPop, do we see similar failures on Windows ever?  I wonder if UDP delivery to loopback is more reliable on Windows...

[2016-03-01 21:38] eocampo commented on #3480
@psibernetic

Interfaces and abstract classes give us contract, both give us an abstraction and a good definition for the API. Interfaces are most useful when implementing classes could implement more than one interface or are subclasses of another base class (assuming that is a very big advantage of that base class). In this case in particular, concrete classes for Connection, Command, and so on

[2016-03-01 21:44] SamuelCox opened #6564 "Question: Serialization support going forward from .Net Core 1.0"
Hi all,
I have heard about support for serialization being discontinued in .Net Core 1.0 as it is not viable for cross-platform. (Paraphrasing from memory) What does this mean in practical terms? Are my code-bases that use BinaryFormatter's Serialize and Deserialize methods going to be completely deprecated, and I'll have to convert my codebase over to say, protobuf-net? Or have I misunderstood?
T

[2016-03-01 21:59] krytarowski commented on #6546
Thank you.

I'm bootstrapping new tests for the NetBSD target (I don't want to target Linux/FreeBSD any more even if the tests are mostly compatible)... and I'm getting errors:

[code]

I will try to research it.

[2016-03-01 22:07] corivera commented on #6381
Doesn't repro when running ConnectionPoolTest by itself, but occurs frequently when running the whole test suite. This might be caused by XUnit parallel test execution (but still merits bug investigation)

[2016-03-01 22:10] sokket commented on #2684
Looking into this, there are some issues here that need some thought: The OS X FSW has a nasty tendency to add the 'Created' flag onto events multiple times after the original Created event...this has to be worked through first otherwise our test path validation fails

[2016-03-01 22:23] varocarbas commented on #6308
After so much valuable feedback, the new status of this issue (not correcting `System.Math` anymore, but creating a new set of methods) and my clearer ideas about how this whole open .NET contribution works, I think that my proposal can be summarised into the following two points.

1) The most relevant changes (improvements in round + truncation) can be merged into a new method supporting all the

[2016-03-01 22:26] varocarbas commented on #6308
@mellinoe  There you have the summary/new version. Hopefully, your symmetry (+ other) concerns are now addressed

[2016-03-01 22:30] stephentoub commented on #6556
I've been discussing this offline with a few folks to get some more opinions.

We're thinking that the best (or least bad option) and most consistent is for these File/Directory/FileInfo/DirectoryInfo APIs to continue doing what they're doing for normal files/directories and valid symlinks... but for a broken symlink, to fallback to being about the symlink.  There are downsides to this, of course,

[2016-03-01 22:36] CIPop commented on #6516
@ericeil We see a different kind of failure for UDP: #5234 but we see these for TCP quite often #5185.
For Windows, I've never seen this happening on my Dev box.

[2016-03-01 22:47] psibernetic commented on #3480
@eocampo You are right that the abstract classes probably provide "good enough" abstraction and contracts. I always try to provide very narrow interfaces that represent actions that can be taken such as IAsyncCommand and the likes. That allows my frameworks to be plugged into in ways that may have not been considered at design time of the framework with less chance of terrible NotSupportedExceptio

[2016-03-01 22:49] stephentoub commented on #6556
Actually, @ianhays and I have been playing with this more, and experimenting with lots of different use cases with mklink on Windows.  It seems we might actually want to do basically what @palladia suggests, and have all of the file information be about the symlink, but when you enumerate, open, etc., have that follow to the target...

[2016-03-01 22:52] psibernetic commented on #3480
The best-practices model followed predominately in dot net has been expose interfaces and inherit from base classes has it not?

[2016-03-01 22:59] corivera commented on #6382
Doesn't repro when running DDAsyncTest by itself. Might be a race condition caused by XUnit parallel test execution.

[2016-03-01 23:03] eocampo commented on #3480
@psibernetic Well not always. For example [this recommendation on the MSDN site](https://msdn.microsoft.com/en-us/library/scsyfw1d(v=vs.71).aspx) has more than a decade there. And that guideline is very common from .Net Framework 2.0 at least.

Also this is a good reference of the guidelines for library design in .Net from the early days:

http://www.amazon.com/Framework-Design-Guidelines-Conventi

[2016-03-01 23:12] #5611 closed

[2016-03-01 23:15] stephentoub commented on #6556
@palladia, thanks for raising this.  We're going to basically go with your recommendation, with the caveat that we're going to special case a couple things around directories to make the APIs behave more as one would expect, e.g. Directory.Exists(validSymlinkToADirectory) should return true (whereas just doing the "normal" thing would have that return false because the symlink is a file).

[2016-03-01 23:15] ericeil commented on #6516
Thanks, @CIPop.

#5234 looks like something different; I think I've identified the problem, and I'll submit a PR.

[2016-03-01 23:19] saurabh500 commented on #4346
We don't support the instance name support on Linux yet.
As a work around please use the server name and the port name.

[2016-03-01 23:19] palladia commented on #6556
Thanks for doing the research.  I know there's probably no perfect solution to this, and that's probably why Linux chose to have separate 'lstat' vs 'stat'.

[2016-03-01 23:20] andschwa commented on #6556
This sounds like a fine compromise. Follow the symlinks only where they make the *most* sense to do so. Cool.

[2016-03-01 23:29] corivera opened #6571 "Null Argument Exception in AsyncTest.FailureTest on Linux"
System.Data.SqlClient.ManualTesting.Tests.AsyncTest.FailureTest [FAIL]
        System.AggregateException : One or more errors occurred. (Value cannot be null.)
        ---- System.ArgumentNullException : Value cannot be null.
        Stack Trace:
              at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
              at System.Threading.Tasks

[2016-03-01 23:31] ericeil commented on #6516
Looking through #5185, it looks like the failures are for UDP, not TCP.  So it seems plausible that this is the same issue.

[2016-03-01 23:32] corivera commented on #6571
CC @saurabh500 @kkurni

[2016-03-01 23:33] ericeil commented on #5185
The common theme here seems to be failures in `ReceiveFromAsync_Helper`, which is using UDP, not TCP.  I've changed the title accordingly.

[2016-03-01 23:36] eocampo commented on #3480
Anyway I think the hard discussion here is about two subjects now:

a) The Interfaces are just for backward compatibility or can we "start from scratch" (breaking code) to allow a cleaner interface and API design.
b) How much can we go for a modern and clean design at the cost of not be compatible with the full .net framework. (Compatibility specifically between .Net Core and Full core on data acc

[2016-03-01 23:40] ericeil commented on #6516
Closing this as a duplicate of #5185.

[2016-03-01 23:40] #6516 closed

[2016-03-01 23:41] chlowell opened #6573 "Add missing members of System.ComponentModel namespace"
`System.ComponentModel` is a common dependency of applications developed for the .NET Framework. Porting these would be easier if more of the namespace were available in .NET Core. This issue proposes to add `System.ComponentModel` members with no designer, UI, or other unavailable dependencies.

## Proposed additions
[code]

## .NET Framework vs .NET Core proposed
[code]

[2016-03-01 23:43] sokket opened #6574 "XML test directories contain SLN files and don't adhere to the correct solution hierarchy"
In some of the XML test folders, for instance System.Xml.XDocument, there is a SLN file in the test directory. This is not how the rest of CoreFx works for tests and should be refactored to have the namespace SLN point to each test CSPROJ

[2016-03-01 23:44] #5750 closed

[2016-03-01 23:44] #6506 closed

[2016-03-01 23:49] shmao commented on #5647
Thanks for pointing out that, @cyberphone. I will take a look at this.

[2016-03-01 23:58] sokket commented on #6574
Never mind, I was reading things wrong...not an issue

[2016-03-01 23:58] #6574 closed

[2016-03-02 00:00] ianhays commented on #6461
Original comment updated with fixed coverage that includes outerloop coverage for the open tests.

Let me give you a detailed overview of how I'm getting the coverage. I'll respond to that email thread as well.

The results provided from the early-stages ToF vs. Open coverage contained reports that compared the results of running all the ToF tests vs all the Open tests. The issue with this was tha

[2016-03-02 00:11] ianhays commented on #5630
https://github.com/dotnet/corefx/issues/6556

[2016-03-02 00:21] mellinoe commented on #6308
Thanks for the update. This looks a bit better, but I still have a few comments:

* `RoundTruncateType.Truncate` seems to have the same semantics as "Round toward zero" (that is what truncation is). Instead of having these two concepts put together into one method (rounding and truncating), why can't we just call this `RoundTruncateType.TowardZero` ? This now brings up the fact that `RoundTruncate

[2016-03-02 00:23] ianhays opened #6578 "[ToFDisable] Port tests for: System.Threading.Tasks"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-03-02 00:24] ianhays commented on #6457
Re-run of open tests with OuterLoop shows 0 missing lines. Closing.

[2016-03-02 00:24] #6457 closed

[2016-03-02 00:37] justinvp commented on #6573
[code]

Maybe I'm reading the proposal incorrectly, but isn't `INotifyPropertyChanged` already in .NET Core?

https://github.com/dotnet/corefx/blob/ac67ffac987d0c27236c4a6cf1255c2bcbc7fe7d/src/System.ObjectModel/src/System/ComponentModel/INotifyPropertyChanged.cs

https://github.com/dotnet/corefx/blob/ac67ffac987d0c27236c4a6cf1255c2bcbc7fe7d/src/System.ObjectModel/ref/System.ObjectModel.cs#L173-L1

[2016-03-02 00:38] ianhays commented on #6447
My latest coverage reports in Open for this library are failing. I'll investigate more and get some more detailed results.

[2016-03-02 00:40] ianhays commented on #6444
Latest reports show this having 0 uncovered lines. Closing.

[2016-03-02 00:41] ianhays opened #6579 "[ToFDisable] Port tests for: System.Runtime.Numerics"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-03-02 00:42] ianhays opened #6580 "[ToFDisable] Port URI tests"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-03-02 00:42] ianhays commented on #6580
Pretty sure these failures is because those tests, when moved to open, were moved out of the System.Runtime tests directory.

[2016-03-02 01:12] stephentoub commented on #6578
Could you share which 1 line? I'll take care of it ;)

[2016-03-02 01:53] chlowell commented on #6573
You're correct, thank you. I missed that assembly while building the diffs. I've removed the types in ```System.ObjectModel``` from the proposed additions.

[2016-03-02 02:43] terrajobst commented on #6485
I think having these overloads make sense; however, I've moved it to future because it requires changes to the .NET Framework in order to be compatible at RTM. This change doesn't make the bar for the upcoming version so it has to queued up for the next train.

[2016-03-02 02:49] justinvp commented on #6573
Some comments on the proposed collections:

[code]

Same feedback applies to the other proposed collections.

[2016-03-02 02:49] terrajobst commented on #6398
@aL3891 `GlobalEvents`, `ApplicationEvents`, `ProcessEvents`

They all sound a bit too generic for my taste. I liked @nguerrera suggestion. The issue with the `Exception` suffix is well taken, what about this:

[code]

[2016-03-02 02:53] #5234 closed

[2016-03-02 03:24] SamuelEnglard commented on #6398
@terrajobst I actually kind of like `*Events` because it gives a good place for other events in the future, kind of like `Microsoft.Win32.SystemEvents`

[2016-03-02 03:34] justinvp commented on #6398
@terrajobst,

 1. Why `System.Runtime` namespace and not `System.Runtime.ExceptionServices`?
 2. Where would the `AppDomain.FirstChanceException` event be added if it was eventually added to .NET Core? I don't think it'd make sense on a class named `UnhandledError` and not sure I like the idea of adding another type for it (e.g. `FirstChanceError.Raised`?).

How about something like this:

[code]

[2016-03-02 05:30] SamuelEnglard commented on #6398
@terrajobst I like what @justinvp has suggested.

I'd make `ExceptionObject` of type `Exception` though. I don't think the reason for it being of type `object` in the full framework are valid here.

[2016-03-02 05:37] justinvp commented on #6398
I believe the reason it is typed as object in the full framework is because the CLR allows any object to be thrown (which some languages allow). Not sure if that's applicable in .NET Core.

[2016-03-02 07:34] Clockwork-Muse commented on #6555
If you're building via VisualStudio, does this actually keep you from building, or is it just giving the "error"?  It's complaining in System.Threading.Tasks, but doesn't stop builds.  That's what it looks like is happening here, given the output lists a dll.

[2016-03-02 07:52] hughbe commented on #6580
Ian, it may be worth taking a look at my PR #6370 if you have time.
This might reduce the number of tests you have to port :)

[2016-03-02 08:29] ddobric commented on #6555
It is a real error. I get the same one when I try >dnu build

[2016-03-02 08:29] davidfowl commented on #6561
net40 requires cross compilation.

[2016-03-02 09:20] varocarbas commented on #6308
Most of your first comments sound good to me. Regarding the typos (`RoundToEven`) and the lack of precision (`PI_dec` and `E_dec`), I apologise about them and will try to avoid all this in the future. As said, I wasn't planning to spend so much time here and am still delivering expected-to-be-corrected partial contributions. I will be changing this gradually.

Your "Round toward zero" proposal, al

[2016-03-02 15:02] davidsh commented on #6580
@ianhays We have Uri tests our on backlog for porting including aligning them with .NET Framework Desktop.

[2016-03-02 15:25] GSPP opened #6589 "Add a production assert facility"
It is possible to use `Debug.Assert` in `DEBUG` builds to assert runtime conditions. The Base Class Library currently has no way to assert something in non-debug builds. That's a pity because in many applications it is a prudent choice to leave (cheap) assertions enabled in production.

Many projects do not wish to make use of Code Contracts. It seems heavy-weight to pull in Code Contracts just to

[2016-03-02 15:35] svick commented on #6589
Are you just asking for a more convenient way to write the following code?

[code]

[2016-03-02 15:56] GSPP commented on #6589
Pretty much, yes. That would be the body of the method. The `Debug` one would have a `Condition("DEBUG")` attribute on it.

[2016-03-02 16:40] ericstj commented on #6561
I gather that @onovotny is ok with that.  He's asking us to make the NETStandard.Library package a *shortcut* for a handful of references that folks might take on framework assemblies.  Technically this is possible but I think it would dilute the meaning of this package a bit, and it would lead to "cliffs" where very different API is available, but there are always cliffs when cross compiling.

[2016-03-02 17:17] onovotny commented on #6561
Yup, cross-compilation. I don't want/like `net40` anymore than I'm sure you do, but unfortunately that has been a sticking point. When using the cross-compiling capabilities of xproj, this is easy to do, but instead of putting a single dependency in the project.json for `netstandard.library`, people will need to put that as a framework-specific dependency. That just adds more friction.

[2016-03-02 17:27] ericeil commented on #6555
Are you able to build other corefx projects?  Does your repro build successfully using build.cmd?

[2016-03-02 17:38] ddobric commented on #6555
Yes. I tried for example .Collections solution. It builds fine.

[2016-03-02 17:45] ianhays commented on #6578
"System.Threading.Tasks\\4.0.0.0\\Task\\TCWT.RunUnwrapTests_CancellationTests\\TCWT.RunUnwrapTests_CancellationTests.xml": [
    {
      "ModuleName": "System.Threading.Tasks",
      "ClassName": "System.Threading.Tasks.TaskExtensions",
      "MethodSignature": "System.Threading.CancellationToken System.Threading.Tasks.TaskExtensions::ExtractCancellationToken(System.Threading.Tasks.Task)",
      "

[2016-03-02 17:55] stephentoub commented on #6578
@ianhays, thanks, but that line should not be coverable, as it's immediately preceded by a Debug.Fail.
https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks/src/System/Threading/Tasks/TaskExtensions.CoreCLR.cs#L219
Did you build the ToF code as release rather than as debug?

[2016-03-02 17:57] ericeil commented on #6555
FWIW, I see similar errors when building in VS, for both System.Collections *and* System.Net.Sockets.  As @Clockwork-Muse points out, the project still builds.  If I build the projects from the command line, using MSBuild, I don't see these errors.

Perhaps @chcosta can shed some light on this.

[2016-03-02 18:01] ianhays commented on #6578
Yes, yes I did. I had not anticipated debug failures. Closing.

[2016-03-02 18:18] cdmihai commented on #6374
I am tempted to pinvoke into specific OSes to get a list of supported cultures. I see that unix systems have `locale -a` which returns all the available locales (POSIX command). Unfortunately I'll also have to do some string manipulation to get the output consistent across platforms. Why doesn't corefx use this to populate GetCultures(CultureTypes.AllCultures)?

[2016-03-02 18:29] tarekgh commented on #6374
@cdmihai why you need to get the list of the locales in the first place? the direction now is culture identifier with right format (lang-region-script) considered valid culture even if the OS doesn't have real data for. for example if you request en-FJ will try to get the English Fiji even the data is not part of the shipped cultures. this is already implemented in Windows 10. by that, the enumera

[2016-03-02 18:40] davidfowl commented on #6561
I don't see why you'd need any framework assemblies by default. If you need things like xml then you need to add a reference but most of the things represented as facades are in mscorlib, System, and System.Core.

[2016-03-02 18:56] onovotny commented on #6561
Let me make this more concrete:

Take the following project.json:
https://gist.github.com/onovotny/091a0b38edc918bca4eb

Ideally I'd like to put a single reference to `netstandard.library` here on the next line so it applies to everything: https://gist.github.com/onovotny/091a0b38edc918bca4eb#file-project-json-L14

That will fail today though.

Instead, I need to put `netstandard.library` in sever

[2016-03-02 18:59] mellinoe commented on #6308
Yes, you're correct about that, my apologies. It would still be interesting to explore if we could combine these into a single operation, something like:

[code]

That's just off the top of my head though, it could probably be improved. It doesn't blend well with the existing Round overloads, but I think this is one of the primary problems with any new Round overloads.

I would still like to avoid

[2016-03-02 19:04] jamesqo commented on #6485
@terrajobst Sounds good. Thanks for taking this proposal into consideration :smile:

[2016-03-02 19:26] chcosta commented on #6555
The version of NuGet that Visual Studio uses does not support the netstandard packages.  To work around this, do a build once from the command line (per @ericeil, and I have confirmed locally), this should build, then in Visual Studio, Options->NuGet Package Manager->General and disable both "Allow NuGet to download missing packages" and "Automatically check for missing packages during build in Vi

[2016-03-02 19:31] hongdai opened #6592 "HttpClient ctor failed on Mac due to Unable to load DLL 'System.Security.Cryptography.Native'"
Call stack:
Unhandled exception of type 'System.TypeInitializationException': System.TypeInitializationException : The type initializer for 'System.Net.Http.CurlHandler' threw an exception.\n---- System.TypeInitializationException : The type initializer for 'Http' threw an exception.\n-------- System.TypeInitializationException : The type initializer for 'HttpInitializer' threw an exception.\n----

[2016-03-02 19:51] hongdai commented on #6592
Could it be related to https://github.com/dotnet/corefx/issues/2546?

[2016-03-02 19:54] jasonwilliams200OK commented on #1609
@JeremyKuhne, @Djuffin, this seems to be fixed, removed from props and builds on Unix:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/opensuse13.2_debug_tst/757/testReport/System.Diagnostics.Tests/DebugTests/

Should this issue be closed and the note about it under https://github.com/dotnet/corefx/blob/f2b8d97/Documentation/building/unix-instructions.md#known-issues be removed?

[2016-03-02 19:57] jasonwilliams200OK commented on #1609
??? :open_mouth:

@mellinoe, @stephentoub any ideas how did this happen? I swear I just posted a comment.. :smile:

[2016-03-02 19:57] joshfree commented on #6564
https://github.com/dotnet/corefx/blob/2b15de70c1cf9f585c4878a722de4dbe42b4940b/Documentation/project-docs/porting.md#binary-serialization

[2016-03-02 19:58] varocarbas commented on #6308
@mellinoe

That's why creating new methods is notably easier here: the existing ones are too restrictive and prone to incompatibilities. For example, this `MidpointRounding` `enum` is very difficult to be adapted, but has to be kept for compatibility reasons. What about a new `Math.RoundExact`? It might include the new variables without any problem.

Actually (= mathematically) speaking truncation

[2016-03-02 20:18] SamuelCox commented on #6564
Hi @joshfree , yes unfortunately that was the document that caused the confusion. Out of the suggestions there, JSON.NET does json serialization, protobuf-net does binary serialization, and datacontractserializer does xml serialization. The problem with that, is if I want to do binary serialization. While protobuf-net is a great library, it is limited. From Protobuf-nets repo, the supported types

[2016-03-02 20:29] mellinoe commented on #6308
I don't agree, "truncate" seems more ambiguous to me. Like you mentioned, in the BCL truncation has only ever referred to truncating non-integral values to integral values. This seems to be the same for other programming languages / standard libraries. "Truncation" also has connotations outside of mathematics that more or less align with its meaning in the BCL right now. "Truncate" means to shorte

[2016-03-02 20:38] mtaron opened #6595 "API Port flags compiler generated code in portable class libraries"
Hi, I'm trying out API Port on one of my project and noticed that it was flagging some compiler generated code. A simple repro:

1. Create a new Portable Class Library (I did C#, .NET Framework 4.6, Windows Universal 10.0).
2. Add a new Resource File (.resx).
3. Build.
4. Run API Port.

It flags the compiler generated ResourceManager property as a portability issue. Is this is a problem?

[2016-03-02 20:43] varocarbas commented on #6308
@mellinoe In fact, my first approach was precisely delivering the truncation for integers which you are referring; but linuxuser27 made a fair point by highlighting that this was too much for integers (i.e., removing orders of magnitude right away). In any case, I understand your position and do think that the last `enum` is much better.

Note that my last proposal for `Math.Truncate` wasn't meant

[2016-03-02 20:52] rolfik commented on #6124
@Pilchie,

It is possible now via nuget package created from xproj, but only when You do not have the xproj and csproj project folder in the same parent folder or solution, because then "project reference to xproj" wins over "nuget package reference to xproj" and it cannot be overriden by let us say `type` attribute of the dependency in `project.json`.
Or is there a way to do it somehow?

When wil

[2016-03-02 21:16] mtaron commented on #6595
Realized I should move this to microsoft/dotnet-apiport. Closing here.

[2016-03-02 21:16] #6595 closed

[2016-03-02 21:29] noahfalk commented on #1609
Djuffin went to work on a new project a while back fyi. I assigned the issue to @JeremyKuhne in case he'd like to confirm everything is resolved for himself.

[2016-03-02 21:32] mellinoe opened #6598 "System.Composition.* libraries do not produce a NuGet package"
On top of this, the assemblies do not list an AssemblyVersion. These were "special" libraries in that they were already previously shipped as a [NuGet package](https://www.nuget.org/packages/Microsoft.Composition/1.0.30) before we moved them into corefx. We should come up with a story for them going forward. The previous version used was 1.0.30, so we should bump up from that at the very least. Th

[2016-03-02 22:20] eadordzhiev commented on #6589
There is the `Trace.Assert()` method which is identical to `Debug.Assert()` but works in non-debug builds. The only problem is that it displays a message box when assertion fails, but you can set `AssertUiEnabled` of the current `TraceListener` to `false` to suppress it with code or `Web.config`. See [MSDN](https://msdn.microsoft.com/en-us/library/tk4kachs(v=vs.110).aspx) for more information.

[2016-03-02 22:36] GSPP commented on #6589
Thanks for bringing this to my attention.

`Trace.Assert` appears to be `[Conditional("TRACE")]` according to Reflector. That means it is not available in production builds. Also, if `AssertUiEnabled == false` the assert is disabled (according to your description). That doesn't help because it should be always on.

[2016-03-02 22:57] krytarowski commented on #6546
Few results from the partial run (interrupted, process is in general prolonged due to hangs of certain tests) of tests:

[code]

[2016-03-02 23:54] #5902 closed

[2016-03-03 00:01] jasonwilliams200OK commented on #2546
@bartonjs, found some references for similar CommonCrypto support work: https://github.com/search?q=openssl+commoncrypto+is%3Apr&ref=searchresults&type=Issues&utf8=✓.
Seems like mostly they have prefixed the function names with `CC_`, for which `#define`s and `static_cast`s would be required. Hopefully, there won't be a major blocker for S.S.C.N coverage.

[2016-03-03 00:36] corivera commented on #6541
Only happens when running all tests in parallel, so likely a race condition somewhere.

[2016-03-03 01:13] weshaggard opened #6602 "Add back managed implementation of System.IO.Compression"
We want to put System.IO.Compression into NetStandard.Library (not NetStandard.Platform) but in order to do that we need to have a fallback implementation that is pure IL that can be used on new platforms that may not have the native dependency supported.

cc @ericstj @KrzysztofCwalina

[2016-03-03 01:20] ericstj opened #6603 "System.IO.Compression 4.1.0-rc2-23901 provides a compile-time reference assembly for System.IO.Compression on {TFM}, but there is no run-time assembly compatible with {RID}"
Lots of folks have been hitting this lately.  The cause is that some package in the compile graph brings in System.IO.Compression 4.0.0 RTM but nothing newer.

At RTM System.IO.Compression defined a runtime.json that mapped System.IO.Compression to runtime packages that contained CLR compression for RIDs win7-x86, win7-x64, and win8-arm, not the implementation assembly.  The implementation was par

[2016-03-03 01:21] ericstj commented on #6603
In the meantime if you hit this issue you can workaround it by directly referencing the latest System.IO.Compression in your project.json rather than bringing in the old version through dependencies.

[2016-03-03 01:21] stephentoub commented on #6602
Why does that require "putting it back"? Wouldn't that just be a different build of the binary? In which case this could be done if/when such a platform arises?

[2016-03-03 03:23] davidfowl commented on #6603
Are these packages in things that we (the set of repositories we manage, aspnet, wcf, corefx, roslyn etc?) Are other people?

[2016-03-03 03:54] ericstj commented on #6603
One case I've seen is NuGet.Packaging.  CoreFx doesn't have the problem as-is since we've updated most to latest.  I don't want to count on everyone updating if I can fix in a way that doesn't increase complexity.

[2016-03-03 04:51] davidfowl commented on #6603
I think everyone should update

[2016-03-03 05:49] cdrnet commented on #6564
Also, none of them can reliably serialize exceptions (and keep all the relevant data), as needed e.g. in distributed computing (Azure...).

[2016-03-03 09:19] vijaykota opened #6606 "Kerberos ticket is not fetched when target is a user"
The xplat NegotiateStream implementation is able to successfully use Kerberos auth when the target of `AuthenticateAsClientAsync` is a service principal eg. HOST/machine, HTTP@machine etc. However, if the target is a user like foo@domainfqdn, the auth is failing. Perhaps in this case, the `gss_import_name` needs to be called with some OID other than `GSS_KRB5_NT_PRINCIPAL_NAME`

[2016-03-03 10:00] iamjasonp commented on #6606
Awesome, thanks @vijaykota.

Should we also be considering whether or not to translate the domain part of the UPN into uppercase as well? In our testing, we have found that the UPN must be in uppercase for the scenario to work.

Not sure if that would be a safe operation though.