[2018-03-12 21:01] sdmaclea commented on #27750
It was briefly discussed (but not necessarily resolved) as part of #26564

[2018-03-12 21:04] satano opened #27989 "Test System.Data.Tests.SqlTypes.SqlDoubleTest.Conversions fails on non english culture"
The test is failing on [this line](https://github.com/dotnet/corefx/blob/444e6bb7fd274be680fb3bf4b22258821e77ae2c/src/System.Data.Common/tests/System/Data/SqlTypes/SqlDoubleTest.cs#L408) (and I believe [this will be the same](https://github.com/dotnet/corefx/blob/444e6bb7fd274be680fb3bf4b22258821e77ae2c/src/System.Data.Common/tests/System/Data/SqlTypes/SqlDoubleTest.cs#L413)).

Failing message is:

[2018-03-12 21:09] Drawaes commented on #27985
The warning in the compiler needs to go in quick... as this API might have a process to go through, how about split the warning out and get it pushed through I think the warning is super important!

[2018-03-12 21:14] karelz commented on #21148
@geoffkizer @vancem do you think we need to finish it in 2.1?

[2018-03-12 21:21] karelz commented on #26967
Skimming through the issue, it does not look like critical for 2.1.
Is there actually anything at all we can do?

[2018-03-12 21:22] karelz commented on #27672
@dbrownxc any update on the repro? Our chances to fix it in 2.1 are slowly going down. Thanks!

[2018-03-12 21:25] karelz commented on #27702
@rajurh any chance to get a standalone minimal repro?

[2018-03-12 21:27] karelz commented on #27870
@wfurt is it important for 2.1? It does not look like that from the description.

[2018-03-12 21:27] geoffkizer commented on #21148
I don't think it's mandatory, but I'm not sure we should punt it yet.

[2018-03-12 21:31] karelz commented on #27971
@spati2 which product do you see the failure on? .NET Core? Which version? Or is it .NET Framework 4.6.x/4.7.x?

[2018-03-12 21:32] vancem commented on #21148
We are actively trying to improve socket perf for 2.1.   We should leave this until we declare we are done on that effort and then this will either be done or punted.

[2018-03-12 21:33] karelz commented on #27979
@davidsh what action would you recommend here?

[2018-03-12 21:35] dbrownxc commented on #27672
[HttpClientErrorRepro.zip](https://github.com/dotnet/corefx/files/1804635/HttpClientErrorRepro.zip)

Sorry!  It got busy around here.
To test on Windows I just run the test against an IIS hosted web site.
To test on Docker, I run

`docker build .`

I make it always fail (hack) so I see the returned output even if the call succeeds.

[2018-03-12 21:38] karelz commented on #27672
@rmkerr can you please take a look?

[2018-03-12 21:41] SteveL-MSFT opened #27990 "Console.CursorLeft and CursorTop always returns 0 when used in Shell-in-a-box"
[ShellInABox](https://github.com/shellinabox/shellinabox) enables a shell within a browser.  Currently [PowerShell Core 6](https://github.com/powershell/powershell) has an experience problem within ShellInABox because Console.CursorLeft and Console.CursorTop always returns 0.

Repro:

[code]

replace program.cs with this:

[code]

[code]

Expected:
[code]

Actual:
[code]

Blocking https://github.c

[2018-03-12 21:41] rmkerr commented on #27672
Yep! Thanks for getting around to sending out the repro @dbrownxc -- it makes things way more manageable on our end.

[2018-03-12 21:42] davidsh commented on #27979
1) I don't view this as 2.1 milestone critical. It should be deferred. @weshaggard can probably comment better about the criticality of this.

2) Most of these libraries just need to have more  "ifdef uap" sprinkled in the source code to change the class names from "public" to "internal" visibility. I know that System.Net.Http library is that way. I think it is that way for the others libraries ci

[2018-03-12 21:46] davidsh commented on #27870
IMHO, proxy authentication in enterprise scenarios tends to use Negotiate/NTLM much more than basic auth. So, getting proxy auth to work with schemes beyond basic is important.

[2018-03-12 21:48] wfurt commented on #27870
I can retest with 2.0 to see if this is regression.

[2018-03-12 21:52] weshaggard commented on #27979
As long as you believe the public API surface in the ref is correct then I agree this isn't 2.1 critical. The implementation clean-up can happen post-2.1

[2018-03-12 21:59] brianrob commented on #19071
Moving to Future as this is now a doc bug.

@cwe1ss can you point me to the documentation that you're interested in changing so that I can figure out next steps?  Thanks.

[2018-03-12 22:00] dagood opened #27992 "Add auto-updater for Microsoft.SymbolUploader.Build.Task package"
On the dotnet/versions side, copy the files from https://github.com/dotnet/versions/tree/master/build-info/dotnet/buildtools/master into a new folder, say, `build-info/dotnet/sym-uploader/master/`, then edit the files to correspond to this single package and its version.

In dependenices.props:
 * Look at https://github.com/dotnet/corefx/commit/18f7ad2ddcfd72c3b6473a4a4a0edd6ab5283f1b for `...Curr

[2018-03-12 22:09] danmosemsft commented on #27990
@SteveL-MSFT is it possible for you to debug a little?
https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.Unix.cs#L326

[2018-03-12 22:10] spati2 commented on #27971
@karelz  I am running a .NetCoreApp 2.0 application.

[2018-03-12 22:24] danmosemsft commented on #27990
What happens if you do this in the terminal?
[code]

On my Ubuntu box, I get a string like "49;1".

I see in the code we have this assert:
[code]

Can you also try this?
[code]
On my Ubuntu machine, I get `u7=\E[6n` indicating it supports cursor position request.

[2018-03-12 22:24] karelz commented on #27971
OK, which OS? Windows / Linux? Which version/distro?
Do you have a minimal repro which we could try locally?

[2018-03-12 22:32] valenis commented on #25723
Moving this to post 2.1

[2018-03-12 22:33] valenis commented on #25722
Moving this to post 2.1

[2018-03-12 22:36] valenis commented on #25380
This should be a placeholder for tracking the Linux/Windows performance discrepancies as a whole since there are multiple benchmarks with deltas between the two platforms. I'm pushing this out of 2.1 for now.

[2018-03-12 22:42] danmosemsft commented on #27990
It looks like it attempts to support `6n` so it would probably need debugging to figure out why it wasn't working for us:

https://github.com/shellinabox/shellinabox/blob/e6c25e84bc662797c7382500f136bb74874c2500/shellinabox/vt100.jspp#L4183

[2018-03-12 23:06] akoeplinger opened #27995 "System.Resources.Reader/Writer packages needs Xamarin support"
We've added facades for System.Resources.Reader.dll and System.Resources.Writer.dll inbox so we'd like to add the placeholders for the usual Xamarin platforms to those packages.

[2018-03-12 23:06] caesar1995 opened #27996 "System.Net.Tests.HttpRequestStreamTests failures with SocketsHttpHandler"
These tests only fail on OSX in `HttpListener` if set SocketsHttpHandler as the default handler:

[Read_FullLengthAsynchronous_Success(transferEncodingChunked: False, text: \"Non-Empty\")
Read_FullLengthSynchronous_Success(transferEncodingChunked: False, text: \"Non-Empty\")
Read_NotEnoughThenCloseAsynchronous_Success(transferEncodingChunked: False)](https://mc.dot.net/#/user/caesar1995/pr~2Fjenki

[2018-03-12 23:07] danmosemsft commented on #24333
We have made improvements here but do not plan more for 2.1 that isn't already tracked. Moving to Future to collect future work

[2018-03-12 23:08] danmosemsft commented on #24145
Design in progress but will miss 2.1

[2018-03-12 23:08] caesar1995 commented on #27996
We may need to look into it for 2.1.

[2018-03-12 23:08] brianrob commented on #27485
This does appear to be fixed.

[2018-03-12 23:08] #27485 closed

[2018-03-12 23:10] safern commented on #27433
@weshaggard so from what I understand this is not a bug right? Just want to triage the issue the right way to see if it is 2.1 priority.

Maybe we should open a 2.1 issue for this to improve this.

@superriva I guess that would be a new API, right?

[2018-03-12 23:11] huanwu commented on #27561
@bartekkois Could you share more about your repro code?  I could not repro this problem if just simply serialize and deserialize the object of the above class.

[2018-03-12 23:11] #26361 closed

[2018-03-12 23:14] SteveL-MSFT commented on #27990
@danmosemsft I'll see if I can determine where exactly it's failing

[2018-03-12 23:15] weshaggard commented on #27433
I'd say this is a bug in the .NET Core implementation. It makes DirectoryCatalog unusable for dynamically loading assemblies in MEF, which is its primary job.

I don't think it needs to be a new API we can fix this in the impelmentation. My suggestion is to keep the existing code path but handle Assembly.Load exceptions and attempt a fallback of an Assembly.LoadFrom to try and make more scenarios

[2018-03-12 23:17] safern commented on #27433
@superriva would you like to work on this issue throwing a PR with @weshaggard's suggestion?

[2018-03-12 23:27] danmosemsft commented on #27990
I'd use browser tools and put a javascript breakpoint in VT100.prototype.cursorReport to start. Thanks @SteveL-MSFT

[2018-03-12 23:48] Anipik commented on #23592
@terrajobst it will be a breaking change as ctor call will become ambiguous when the second argument is ```null``` ? should we change something in the model ?
Do you mean ICollection or IreadOnlyCollection when you wrote ```Collection<string> ?

The setter is still missing from the model.

[2018-03-12 23:56] rmkerr commented on #27672
Something definitely looks wrong here. With NTLM credentials set on the client side, and both NTLM and Negotiate enabled on the server side, we don't even attempt to authenticate.
[code]
[code]
After the exchange above, the client closes the connection to the server without even attempting to authenticate. If I leave `NTLM` enabled but disable `Negotiate`, it works. If I change the credential type

[2018-03-13 00:01] keeratsingh commented on #27605
Hi Omar,

Thank you for the specifics, I was able to repro the issue consistently with **netcoreapp2.1** on Linux, I will investigate further and get back to you with updates/questions.

Regards,
Keerat

[2018-03-13 00:11] ViktorHofer opened #28001 "ROS comparison with specific culture"
While doing some Span optimizations in Regex I noticed that the current comparison extension methods on ROS don't support comparison with a specific culture: `MemoryExtensions.CompareTo(this ReadOnlySpan<char> span, ReadOnlySpan<char> value, StringComparison comparisonType)`.

With string I can do that in different ways either by `string.Compare(string, string, CultureInfo, CompareOptions);` or by

[2018-03-13 00:23] weshaggard commented on #27969
Looks like a dogfooding issue https://github.com/dotnet/roslyn/issues/25237.

[2018-03-13 00:23] #27969 closed

[2018-03-13 00:38] #27966 closed

[2018-03-13 01:01] caesar1995 opened #28002 "HttpClientUsesSslCertEnvironmentVariables() test will fail on Linux with SocketsHttpHandler"
The [HttpClientUsesSslCertEnvironmentVariables test](https://github.com/dotnet/corefx/blob/eb892471f8691dad65ff47f5b12ddc8d378ae460/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.Unix.cs#L79) will fail on Linux with SocketsHttpHandler for these two test data:

`[InlineData(false, false, true, true, true)]`
`[InlineData(false, false, true, false, true)]`

[code]

[2018-03-13 01:02] Anipik commented on #27646
@AlexRadch
I am still not able to repro it
[code]
[code]
Does changing  EventLog.DisplayName toEventLog.Log works for you ?

[2018-03-13 01:07] wfurt commented on #23150
The missing part us bypass list on Windows @stephentoub.  I know what needs to be done now and I started on it - but did not finished yet. That can possibly be tracked as separate issue.

[2018-03-13 01:17] Anipik commented on #27027
ServiceBase Tests are fixed for both .netCore and .netDesktop. so closing this issue

[2018-03-13 01:17] #27027 closed

[2018-03-13 01:19] Anipik commented on #23864
@danmosemsft we have ported the ServiceBase.AutoLog to netcore. is there anything else that we need to port ? if not should we close this ?

[2018-03-13 01:28] caesar1995 commented on #28002
I think probably we wrote the test case wrong in the first place, because SocketsHttpHandler will not be tested at all if we do `HttpClient client = new HttpClient()`.

Since now we make the SocketsHttpHandler as the default handler, the test will consistently fail.

If this is a bug in SocketHttpHandler, we need to fix the test as well, i,e,. `using (HttpClient client = CreateHttpClient(useSocket

[2018-03-13 01:49] ajcvickers commented on #27963
@karelz We haven't changed anything here, so this looks like a regression in the underlying platform. What's the process in such cases? Who should this be assigned to who knows about the platform and what has changed?
/cc @divega

[2018-03-13 01:50] tarekgh commented on #28001
I don't think there was any specific reason to not expose this one. you cannot use the string for this comparison or your code is already using spans?

[2018-03-13 01:55] tarekgh commented on #28001
by the way, I believe we didn't expose any span API that takes CompareOptions either. If we are going to expose API takes culture, then we have to use CompareOptions that time.

[2018-03-13 02:04] BrendanGrant commented on #27952
I see what the problem is @kouvel... and I think it's a bug... but of another sort.

Strings tells me:
@(#)Version 4.6.25519.02 built by: root-964b436a2dbb. Commit Hash: 36f70fa4be4bd37d4d76d06dd2cc433ff46351bd

Which i believe maps to the 2.0.0 release. The file on my local system is dated 7/20/2017, despite me using <RuntimeFrameworkVersion>2.0.5</RuntimeFrameworkVersion> on the app... but only

[2018-03-13 02:15] karelz commented on #27963
We rely on test owners to route it to the right place by doing first-level investigation.
Note that it may be also flaky test case ...

[2018-03-13 02:25] stephentoub commented on #28002
I think this was intended to work only with CurlHandler. @tmds?

[2018-03-13 02:44] BrendanGrant commented on #27952
Adding the following to the end of my dotnet publish command seems a more safe/obvious way to work around this silent downgrade:

[code]

[2018-03-13 02:51] wfurt commented on #25066
There should not be blocking calls for Async IO. That should be easy to check with strace or debugger.
Possibly you should be able to use select or poll to see if stream is readable before doing read.
If you post simple app with repro, I can take a look @Const-me

[2018-03-13 03:28] terrajobst commented on #23592
That change is now intentional as the collection type itself is mutable (`Colection<string>` rather than `IReadOnlyCollection<string>`).

[2018-03-13 03:38] kouvel commented on #27952
Yes that commit hash maps to the 2.0.0 runtime. That does sound like a bug to me, imo it should not be that easy to run against an older runtime. Filed https://github.com/dotnet/cli/issues/8776 for this specific issue.

[2018-03-13 04:06] danmosemsft commented on #23592
@terrajobst what is the advantage of `Collection<string>` over `ICollection<string>` ? I actually did not know the former existed, and in all our API, the latter seems about 7 times more commonly used in return values.

[2018-03-13 04:10] danmosemsft commented on #27977
Does this help? I think it needs special treatment to build for ARM64. I do not think there is a dotnet executable for it.

https://github.com/dotnet/corefx/blob/master/Documentation/building/cross-building.md

[2018-03-13 04:12] danmosemsft commented on #27977
also I see https://github.com/dotnet/corefx/issues/25333

[2018-03-13 04:16] danmosemsft commented on #27978
@Anipik each of these describe a mismatch between implementation ("contract" in the text in this case) and contract ("implementatoin" in the text..it's confusing). Talk to Jeremy to ask how to resolve it.

[2018-03-13 04:35] danmosemsft commented on #27963
Seems this test has not existed very long, and for a while the UWP F5 tests were not running. However it is flaky. As you see from the link above it only failed once.

This does not seem high priority to me.

[2018-03-13 04:36] danmosemsft commented on #27965
I expect this is part of the teething troubles with ILC runs getting stood up again. I would wait a week or two.

[code]

[2018-03-13 04:37] danmosemsft commented on #27951
Can you run the app under gdb and get a stack trace?

[2018-03-13 04:47] mklement0 commented on #23592
If it is a mutable collection that must be populated by accessing `.ArgumentList` on a `ProcessStartInfo ` instance, wouldn't [`System.Collections.Generic.List<string>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1?view=netframework-4.7.1) be a better choice, given that it offers an `.AddRange()` method that allows it to be populated from an existing array / `IEnum

[2018-03-13 04:48] danmosemsft commented on #27580
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180313.01/workItem/System.Diagnostics.PerformanceCounter.Tests

this time on win10 x64

[2018-03-13 06:02] arpit-nagar commented on #27970
@rmkerr @karelz Please let us know if you need more details.

[2018-03-13 07:01] bartekkois commented on #27561
This code is a part of proxy class automatically generated by dotnet-svcutil based on WSDL description of SOAP web service provided by my VoIP provider. As fas as I`ve debugged the problem I am able to use this class (login, get some data and logout) like this:

[code]
 and evertything work`s perfectly fine unless I reach a class that contains array. Then for instatance clinentDetailsArray count p

[2018-03-13 07:19] Petermarcu opened #28007 "Subscribe to a system event"
@mDev86 commented on [Mon Mar 12 2018](https://github.com/dotnet/core/issues/1336)

Can i subscribe to a system event such as TimeChanged?
Is there a cross-platform alternative solution for System.Win32.SystemEvents?

[2018-03-13 07:39] tmds commented on #28002
We want this to work with the SocketsHttpHandler too.
For example, we see users want to do this when running their builds in a non-root container that accesses a local NuGet server with a custom cert.

From the test results it looks the variables are in effect when they are both set. Only setting SSL_CERT_FILE is not enough for the SocketsHttpHandler.

[2018-03-13 07:55] hjc4869 commented on #25066
Use this simple program to read from /proc/self/fd/0 (stdin) with useAsync=true

[code]

The `fs.Dispose()` silently succeeded but `await s.ReadAsync()` never returns or throws any exception, until input from stdin.

With `strace -f dotnet test.dll` we can see
...
[pid 120954] open("/proc/self/fd/0", O_RDONLY|O_CLOEXEC) = 22
[pid 120954] fstat(22, {st_mode=S_IFCHR|0620, st_rdev=makedev(136, 0), ..

[2018-03-13 08:51] chester89 commented on #25773
@joperezr sorry, I didn't provide the whole problem.
the reason I caught this error was due to the fact that we had several System.Net.Http dll versions in our solution (4.2.0.0 and 4.0.0.0, which can be found at `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5`).
I was doing some refactoring and caught the issue - `MethodMissingException` was thrown when calling

[2018-03-13 08:56] danmosemsft commented on #28007
@ericstj

[2018-03-13 09:25] Sunny-pu commented on #25745
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20180313.01/workItem/System.Data.Common.Tests/analysis/xunit/System.Data.Common.Tests.DbConnectionTests~2FProviderFactoryTest

[2018-03-13 09:32] chester89 commented on #25773
@joperezr as for which dll version ends up in a bin folder:
- before I did any of these changes (when we had 2 different versions of System.Net.Http in the solution, both from local machine, not from nuget) - I get 4.2.0.0 in my bin folder
- after changes (using package 4.3.3 from nuget with binding redirect) - I get 4.1.1.2

[2018-03-13 09:39] marek-safar commented on #27731
@weshaggard that would work.

The more complicated version of having typeforwarders to our mscorlib for some types with an implementation for the rest is probably not doable for you, right?

[2018-03-13 09:53] danmosemsft commented on #23864
please also port ServiceProcessDescriptionAttribute

Ęventlog.get if it's missing

Permission ones into the S.Security.Permissiins library.

Then close this. Now this is not new API so it can go in 2.1. Should be trivial work for you

[2018-03-13 10:43] jnm2 commented on #23592
Oh, I assumed it was a typo.

[2018-03-13 12:29] svick commented on #27985
@Drawaes In that case, I think an issue in dotnet/roslyn should be opened for that.

[2018-03-13 12:30] tmds commented on #28002
Suppose SSL_CERT_FILE is set and SSL_CERT_DIR is not set.
curl will then only load certificates from SSL_CERT_FILE:

[code]

And corefx falls back to loading from the default for the unset envvar:

https://github.com/dotnet/corefx/blob/bf36018813d2724e5bc9140d72e0d8bf92f2b621/src/Native/Unix/System.Security.Cryptography.Native/pal_x509_root.cpp#L11-L16

[2018-03-13 12:45] ViktorHofer commented on #28001
The current situation isn't ideal as I don't see a way to compare two strings with a specific culture and CompareOptions. In my case I need to allocate the string from the Span to do the comparison.

Correct, I'm switching to Span to reduce allocation.

Agree.

[2018-03-13 12:51] ViktorHofer commented on #27418
I believe Jeremy is talking about `Span<char>` destination overloads, i.e. `public static int GetFullPath(ReadOnlySpan<char> path, ReadOnlySpan<char> basePath, Span<char> destination)`.

[2018-03-13 13:10] MarcoRossignoli commented on #27418
@ViktorHofer you are right, no async or need of reference here

[2018-03-13 13:15] airbreather commented on #27486
:-1: for any software fallback at all, given that there'll be `IsSupported` guards for callers.

I could maybe be on board with the idea of software fallback if **all** operations at least under a given `IsSupported` umbrella are either defined as "software-fallback-supported" or "software-fallback-not-supported", with the promise that nothing will move from the former category to the latter.

It

[2018-03-13 14:27] 4creators commented on #27911
Current experience with writing very simple `Sse` and `Sse2` code points to one pain point `StaticCast` design. Due to using two type arguments it requires writing explicitly all generic type arguments and the function name could be shortened.

My proposal is to change API as follows:

[code]

The change allows for generic type argument inference and as a result it is not necessary to use any type

[2018-03-13 15:31] ericstj commented on #28007
We haven't yet implemented Microsoft.Win32.SystemEvents cross-plat, nor was I planning to but that doesn't mean it couldn't be done.  FWIW Mono only did timers, not any of the other events.

[2018-03-13 15:37] tarekgh commented on #28001
@ahsonkhan do you know any other workaround from the span side?

@ViktorHofer do you have the original strings that you constructed the span from in the first place? if so, I believe you can use these strings without the allocation. otherwise, I would say just file API request issue but I am not sure if we still open to introduce more new APIs in 2.1.

[2018-03-13 16:01] weshaggard commented on #27731
Currently corefx doesn't have a targeting pack that represents Xamarin so that would be more difficult to do right now. If you would like to start producing those shims from corefx then we could definitely figure out a way to do that but lets file a separate issue for that if we want to do it and do it for other libraries as well.

[2018-03-13 16:08] karelz commented on #27970
@arpit-nagar we need a repro - can you try to isolate it from your application? Create something similar to your workload that you can share publicly?

[2018-03-13 16:09] 4creators commented on #25344
Similar way in VS Code is to use search with functionName or in Visual Studio open `coreclr\bin\Windows_NT.x64.Release\CoreCLR.sln` and use Find with FindAll (you can use regex in search as well). In my experience Intellisense in VS is not always reliable.

[2018-03-13 16:19] stephentoub commented on #27375
Again here on Debian:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/4c14dbf0ac87f4b945c48d8191cda21a86de7778/workItem/System.Reflection.Metadata.Tests/wilogs

[2018-03-13 16:31] iluuu1994 opened #28009 "RFC: MARK in Regular Expressions"
First of all, I'm hoping that this is the right place to post this.

[Here](https://stackoverflow.com/questions/49256716/regex-mark-to-see-which-capture-group-was-matched) is the original StackOverflow post.

There's this neat little `MARK` keyword in the PCRE Regex specification:
https://pcre.org/current/doc/html/pcre2syntax.html#SEC23

https://3v4l.org/ErCrp
[code]

As you can see, `MARK` allows

[2018-03-13 16:38] KrzysztofCwalina commented on #27824
The change would not work. IRetainable requires Retain and Release implementations.

[2018-03-13 16:48] rmkerr commented on #25878
I just ran into this error again on Mac. You can find the test run [here](https://mc.dot.net/#/user/rmkerr/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b7bf1527864fae30fd91b7fc5fd50ea08e79b76c/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test~2FGetAsync_SupportedSSLVersion_Succeeds(sslProtocols:%20

[2018-03-13 16:54] karelz commented on #25878
I would expect `System.Net.Test.Common.RemoteServerException : Likely external issue with remote server` in the exception. Was that not the case?

[2018-03-13 16:55] #27301 closed

[2018-03-13 16:59] jaredpar commented on #27985
One case I didn't see called out in the proposal is how to deal with older compilers. Take C# 7.2 which shipped with full `Span<T>` support. To that compiler the return from the `Alloc` method is freely returnable. Have to guard against that case.

Best way to prevent this is to add a modreq to `Span<T>::Alloc`. Modreq is designed exactly for this purpose and will prevent older compilers from usin

[2018-03-13 17:00] rmkerr commented on #25878
No. The exception and stack trace look very similar to what is mentioned in the issue description, but I don't see any reference to `System.Net.Test.Common.RemoteServerException : Likely external issue with remote server`
[code]

[2018-03-13 17:02] blowdart opened #28010 "[Discussion] Microsoft Security Advisory CVE-2018-0875: Hash Collision can cause Denial of Service"
# Microsoft Security Advisory CVE-2018-0875: Hash Collision can cause Denial of Service
## Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in the public versions of .NET Core 1.0 and 2.0 (including other minor and patch releases).
This advisory also provides guidance on what developers can do to update their applications correctly.

Mic

[2018-03-13 17:06] JamieKeeling commented on #28010
When will a new build of the Docker images be published?

[2018-03-13 17:08] ektrah commented on #27824
Feel free to ignore the change proposal; the issue is more about the inconsistency in the pattern for retaining and pinning memory.

For perspective, there are also the [SafeHandle ](https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.safehandle(v=vs.110).aspx) class and the lovely [SafeBuffer](https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.safebuffer(v

[2018-03-13 17:11] terrajobst commented on #27685
Looks like we want to go with these names:

[code]

[2018-03-13 17:16] fabiano commented on #28010
Hi, can you update the Runtime and SDK download archive page with the links to download the version 2.0.6?

[2018-03-13 17:20] ektrah commented on #28010
What are the arguments for the [dotnet-install script](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script) to get the latest version?

[code]

[2018-03-13 17:28] stephentoub commented on #27597
I believe both CurlHandler and WinHttpHandler require a CredentialCache for redirects, but are happy with a NetworkCredential for the initial preauthentication.  And it looks like unless you configure things differently, netfx is similar.  Should we not follow that precedent rather than always requiring a CredentialCache?  Always requiring it would seem to be a relatively visible breaking change.

[2018-03-13 17:36] davidsh commented on #27597
Yes, I think we should follow netfx pattern.

[2018-03-13 17:38] terrajobst commented on #27417
A few questions:

* We need to understand the relationships between different platforms, as in, which platforms claims support (i.e. returns `true` for `RuntimeInformation.IsOSPlatform()`).
* It's unclear whether consumers need to understand the implied DAG or not.
* It's unclear how we can, or should, handle version numbers. Potentially an overload for `RuntimeInformation.IsOSPlatform()` that als

[2018-03-13 17:48] JeremyKuhne commented on #27418
Note that we did add `public static bool TryJoin(ReadOnlySpan<char> path1, ReadOnlySpan<char> path2, Span<char> destination, out int charsWritten)` in 2.1.  `TryGetFullPath()` is still pending. I'll update the description.

[2018-03-13 18:04] ViktorHofer commented on #28001
Not really in this layer where I'm operating. I will file an issue as I believe others will hit that also.

[2018-03-13 18:09] stephentoub commented on #12038
@davidsh, I just looked at the WinRT implementation, and it appears to be based on MessageWebSocket, which has an API surface that I'm not sure could support this.  Any concerns?

[2018-03-13 18:09] SteveL-MSFT commented on #27990
@danmosemsft debugging the javascript, it's definitely sending the cursor position in the correct format.  Need to debug the corefx code now.

[2018-03-13 18:12] davidsh commented on #12038
In that case, it would have to throw PNSE on UAP for now.  Long-term we should consider moving the UAP version to use the "managed" implementation, same as the rest of CoreFx.

[2018-03-13 18:17] ViktorHofer commented on #28001
Reused this item for the proposal.

[2018-03-13 18:23] ianhays commented on #25844
@joshfree @AtsushiKan

[2018-03-13 18:25] joshfree commented on #25844
@AtsushiKan I'd like to see if we can get this in the 2.1 wave.  Could you take a look?  Hopefully this is less than a day of work.

[2018-03-13 18:39] satano opened #28012 "Tests System.Drawing.Tests.FontTests failing on CharSet on non English culture"
These two tests are failing on my system:

- [ToLogFont_Invoke_ReturnsExpected](https://github.com/dotnet/corefx/blob/6cd1708e72a863342f6c6b6a7a735cf55ceff048/src/System.Drawing.Common/tests/FontTests.cs#L719)
- [ToLogFont_InvokeGraphics_ReturnsExpected](https://github.com/dotnet/corefx/blob/6cd1708e72a863342f6c6b6a7a735cf55ceff048/src/System.Drawing.Common/tests/FontTests.cs#L756)

Both are faili

[2018-03-13 18:58] AtsushiKan opened #28013 "Forward-port the Intel optimizations to Zlib 1.2.11"

[2018-03-13 19:02] #27285 closed

[2018-03-13 19:04] dmitriyse opened #28015 "Add official type for "Void for Generic arguments" cases (and kill brand new non-generic "ValueTask")"
The problem:
---
CLR denies to use System.Void in generic arguments.
And as a result we have code like that:
[code]
Language/CLR solution:
---
This proposal https://github.com/dotnet/csharplang/issues/696 probably would not be implemented at all.

Temporary solution:
---
We are defining special type internally like System.Void
[code]
Fresh example:
https://github.com/dotnet/corefx/blob/master/src/

[2018-03-13 19:09] dmitriyse commented on #28015
Probably it's some think is "1/10 billion dollars mistake" when Generic Argument was introduced. :)

[2018-03-13 19:14] dmitriyse commented on #28015
@stephentoub, I beleve you have even more power than Chuck Norris!

[2018-03-13 19:21] #27685 closed

[2018-03-13 19:24] ahsonkhan commented on #28001
Should we also consider providing the other overloads on string like the ones that take bool and CultureInfo without CompareOptions:
[code]

What about the other APIs like Start/EndsWith? Consider adding those to the proposal as well.

There isn't really a workaround for this that doesn't end up re-allocating the string.

[2018-03-13 19:26] ViktorHofer commented on #28001
I believe just using bool ignoreCase is legacy and not needed if you have a CompareOptions enum. @tarekgh

[2018-03-13 19:34] saurabh500 commented on #27769
This is interesting that using the IP address increases throughput in your case. You are basically skipping the step in SqlClient which translates hostname to IP address.

[code]

Whether this will have a side effect or not, is dependent on the app and the thread requirements of other CoreCLR applications.

I know that there are some issues in SqlClient which can cause multiple threads to be spun

[2018-03-13 19:36] nils2612 commented on #27769
Okay, thanks for the feedback, did you try my repro? Is it reproducible on your side?

[2018-03-13 19:41] saurabh500 commented on #27769
@keeratsingh is looking into a few issues in this area, where the connection pool doesn't scale. He had tried a few scenarios and is looking further into this.
What we figured out is that if the app targets netcoreapp2.0 the connection pool scaled better. We are trying to understand what caused this scalability regression for us.

[2018-03-13 19:45] AlexRadch commented on #27646
@Anipik  Does you change Windows interface language?
Issues are here https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.EventLog/tests/EventLogTests/EventLogTests.cs#L83, and here https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.EventLog/tests/EventLogTests/EventLogTests.cs#L112 because `LogDisplayName` is localized property.

Changing EventLog.DisplayName to Ev

[2018-03-13 20:02] weshaggard commented on #27980
weshaggard 5 days ago  Member
@KKhurin can you confirm whether or not these APIs should be in the reference assembly or whether or not they should be removed from the implementation?

  @KKhurin
KKhurin 5 days ago  Member
Those are the types used for the config, but they are not supposed to be used by the end user. Therefore I removed them from the ref assembly.
@JeremyKuhne, @danmosemsft, do you

[2018-03-13 20:03] weshaggard commented on #27980
@KKhurin lets continue the conversation over here.

I'm not sure. In .NET Core we don't have support for the full configuration system that .NET Framework does so I'm unsure how this configuration actually works.

[2018-03-13 20:04] migueldeicaza commented on #27417
I would like to revisit my proposal to add additional operating system, and the heritage of the operating systems as follows:

Unix:
* Linux is a Unix
* BSD is a Unix
* Solaris is a Unix

Linux (just to state explicitly, it was embedded in the patch):
* Android is a Linux
* Tizen is a Linux

Web:
* Emscripten (a platform that Unity supports, the predecessor to WebAssembly)

Users should understand

[2018-03-13 20:08] karelz commented on #27746
FYI: The test was added few weeks ago by @wfurt

[2018-03-13 20:40] Anipik commented on #27646
![hindiinterface](https://user-images.githubusercontent.com/10516582/37368531-c0e17eec-26c3-11e8-9337-caaf419cd4e6.PNG)

yes , i have changed the interface language but file names have not changed yet. Can you put a pr for fixing this error as i am not able to repro it?

[2018-03-13 20:40] srini89 commented on #22184
@MansoorJafari . How did you resolve the issue..?

[2018-03-13 20:43] AlexRadch commented on #27646
Change `EventLog.DisplayName` to `EventLog.Log` in PR?

[2018-03-13 20:44] srini89 commented on #22184
my connection string is : Server= XX-XXXXXX\\SHARED;Database=XXXX;Trusted_Connection=True;MultipleActiveResultSets=true" .

I am getting this error 👍

Cannot access Kerberos ticket. Ensure Kerberos has been initialized with 'kinit'.
ErrorCode=InternalError, Exception=Interop+NetSecurityNative+GssApiException: GSSAPI operation failed with error - An invalid status code was supplied (SPNEGO cannot f

[2018-03-13 20:44] srini89 commented on #22184
@geleems
my connection string is : Server= XX-XXXXXX\\SHARED;Database=XXXX;Trusted_Connection=True;MultipleActiveResultSets=true" .

I am getting this error 👍

Cannot access Kerberos ticket. Ensure Kerberos has been initialized with 'kinit'.
ErrorCode=InternalError, Exception=Interop+NetSecurityNative+GssApiException: GSSAPI operation failed with error - An invalid status code was supplied (SPNEGO

[2018-03-13 20:45] Anipik commented on #27646
how about checking

if the culture is not en-US ?

[2018-03-13 20:47] ChristianHaase commented on #27951
That's where my knowledge of linux fails me. GDB is installed on the server, but I'm not sure how to run the application with GDB to get the stacktrace. I managed to create a coredump, but again, no knowledge about how to actually read it.

If you have time to write a short step-by-step guide, I'd be happy to get it done. My apologies :/

[2018-03-13 20:51] joshfree commented on #27662
This is failing 100% from [3/2/2018 - 3/13/2018 in outerloop runs](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180313.03/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.DirectoryInfo_GetSetTimes~2FTimesIncludeMillisecondPart)

[2018-03-13 20:51] tarekgh commented on #28001
I don't think we need the APIs takes the bool ignore cases. but we may need to have IndexOf/LastIndexOf overloads that take culture and CompareOptions

[2018-03-13 21:13] JeremyKuhne commented on #27978
System.IO.FileSystem:

[code]

[2018-03-13 21:16] AtsushiKan commented on #25844
Made an attempt to do this - however, this causes eight test failures in System.IO.Compression.Tests ("ZLibException : The stream state of the underlying compression routine is inconsistent." thrown in a small set of tests that seem to be testing flushing, async and other strange scenarios.) This will require a deeper investigation to figure out what's going on. (See attached PR: https://github.co

[2018-03-13 21:17] JeremyKuhne commented on #27978
System.IO.IsolatedStorage:

[code]

[2018-03-13 21:18] #27901 closed

[2018-03-13 21:21] weshaggard commented on #27978
[code]

That one is definitely weird I wonder `fixed` makes the field public.

For comments in these baseline files use `#` instead of `//`.

[2018-03-13 21:23] karelz commented on #27951
It might be easiest to create a standalone repro we can try locally.
[Quick search](http://web.mit.edu/gnu/doc/html/gdb_8.html) on internet shows `bt` as the right gdb command for stacktraces.

[2018-03-13 21:27] rmkerr opened #28020 "[Uri] Constructing an absolute URI from a relative URI sometimes results in an incorrect encoding"
Copying from the original report:

When using a relative URI built from `Uri.MakeRelativeUri` to create a new URI with the constructor `Uri(Uri, Uri)`, the resulting URI has a `LocalPath` property that is not escaped properly.

[code]
The user that reported this issue was able to use the following workaround:
[code]
The use case here is very obscure, so I'm marking this issue as future.

[2018-03-13 21:28] rainersigwald opened #28021 "ArgumentNullException with StringComparer.CurrentCultureIgnoreCase when GlobalizationMode.Invariant=true"
When GlobalizationMode.Invariant=true is in effect (such as on Alpine in the `microsoft/dotnet:2.1-runtime-deps-alpine` image), attempts to use `StringComparer.CurrentCultureIgnoreCase` cause crashes.

This appears to have changed between runtime 2.0 and current builds of 2.1.

Simple repro:

[code]

Working:

[code]

Failing:

[code]

[2018-03-13 21:29] niemyjski commented on #28010
What about apps deployed to azure? I really wish azure run times would be patched by the time these release notes are released.

[2018-03-13 21:37] KrzysztofCwalina commented on #27948
All good questions we discussed today. @GrabYourPitchforks volunteered to explore this space and propose tweaks.

[2018-03-13 21:41] KrzysztofCwalina commented on #27824
@ektrah, thanks for bringing it up. We are looking into doing cleanup here. I like the idea of exploring whether we can use SaheHandle semantics/APIs.

[2018-03-13 21:47] leecow commented on #27951
1.x is not yet supported on Debian 9 and is a part of the effort to get caught up on overall Distro support. I believe the schedule has us all caught up by June / July.

[2018-03-13 21:55] davidsh opened #28024 "ClientWebSocket should always use CONNECT tunneling thru a proxy"
While working on https://github.com/dotnet/corefx/issues/26957, I noticed that WS (websocket non-secure) connections thru a proxy don't use CONNECT tunneling. Instead, they appear to be using just a fully qualified GET request thru the proxy.

This differs from .NET Framework and .NET Core 2.0 (originally used WinHTTP).  In order to maximize success with websocket connections thru proxies, .NET Fr

[2018-03-13 21:57] davidsh commented on #28024
cc: @dotnet/ncl

[2018-03-13 21:58] tarekgh opened #28025 "Blazing-Fast replacement for the System.Threading.Task.Dataflow (as an extension to System.Threading.Channels)"
@dmitriyse commented on [Mon Mar 12 2018](https://github.com/dotnet/corefxlab/issues/2154)

The problem.
---
When you developing DotNet application that should handle more than 10k+ items/sec on a single ServerNode, You are facing with DotNet framework botlenecks and app architecture bottlenecks.

System.Threading.Tasks.Dataflow solves the architecture problems. It's allows to decouple operations

[2018-03-13 22:04] davidsh opened #28027 "ClientWebSocket aborts on closes when going thru a proxy"
While working on #26957, I noticed that the following test will fail. There seems to be a problem with the close frame exchange and final TCP socket close when going thru a proxy.

Repro test (not yet in repo):

[code]

Fails with error:

[code]

[2018-03-13 22:06] davidsh commented on #28027
cc: @dotnet/ncl

[2018-03-13 22:14] davidsh commented on #28024
FYI. The same trace of a websocket connection (non-secure) thru a proxy using .NET Framework:

[code]

You can see that it does a CONNECT verb to the proxy even for non-secure (i.e. port 80) destinations to the websocket server.

[2018-03-13 22:20] wisexp opened #28030 "BlockingCollection.TryTake throws ArgumentNullException"
Per MSDN https://docs.microsoft.com/en-us/dotnet/api/system.collections.concurrent.blockingcollection-1.trytake?view=netframework-4.7.1, BlockingCollection.TryTake should not throw ArgumentNullException, however we found this is not true, which cause unhandled exception.

The source code: https://referencesource.microsoft.com/#System/sys/system/collections/concurrent/BlockingCollection.cs,462c00bf

[2018-03-13 22:27] jkotas commented on #28021
cc @tarekgh

[2018-03-13 22:32] janvorli commented on #28021
@kasper3 this is not Alpine specific, but rather specific to the usage of the invariant globalization mode. Alpine docker image just happens to have it set by default to save space (the ICU libraries are really large), but the globalization should work on Alpine just fine if enabled and ICU is installed.

[2018-03-13 22:34] huanwu commented on #27773
After investigation, TimeZoneInfo need fix this problem so it can support DCS.  The error is because it try to serialize AdjustmentRule but AdjustmentRule is not a  known type for TimeZoneInfo. Actually, AdjustmentRule should not be serialized. It need be ignored during serialization and reconstructed during deserialization based on OS information.

[2018-03-13 22:37] tarekgh commented on #28021
I'll take a look.

[2018-03-13 22:41] kasper3 commented on #28021
You are right, i just tested on Alpine and Debian

Alpine: `docker run -it microsoft/dotnet:2.1-sdk-alpine`
Debian: `docker run -it microsoft/dotnet:2.1-sdk`

both have exactly the same result

Setup:

[code]

Test:

[code]

but

[code]

[2018-03-13 22:50] caesar1995 commented on #23404
Close in https://github.com/dotnet/platform-compat/pull/102

[2018-03-13 22:50] #23404 closed

[2018-03-13 22:51] Clockwork-Muse commented on #27773
@huanwu - Note that doing so may mean a deserialized datetime value no longer represents the same instant in time.

On the one hand, normally you _don't_ want to transmit the full set of rules (due to size), so making this automatic is nice.
On the other, I really wish people would make this explicit by passing the id, since whoever receives it on the other end (or even you, if there's a big enoug

[2018-03-13 22:52] giacomociti opened #28033 "Ensuring order in case of exception in System.Threading.Tasks.Dataflow blocks"
Dataflow blocks shut down in case of an exception, but a few more items may get propagated before actual completion, including items that appeared after the faulty one in the input sequence.
I may provide a few lines of code to show this, but looking at the source code it seems this is intended. I don't get the rationale of this behavior: skipping a faulty item but propagating a few subsequent one

[2018-03-13 23:07] Clockwork-Muse commented on #28030
On the one hand, the code is returning something it's not supposed to be.
On the other hand, it's doing it because you're `Dispose`ing it (per the repro), so you have a use-after-free bug; you'll want to fix that.

[2018-03-13 23:17] AlexRadch opened #28035 "Should we add extention method to write ReadOnlySequence to IBufferWriter ?"
Now `System.Buffers.BuffersExtensions` have method to write ReadOnlySpan to IBufferWriter. Should we add similar method for `ReadOnlySequence`?
[code]

[2018-03-13 23:30] #27875 closed

[2018-03-13 23:39] exiled78 commented on #2538
For the record, I thought this might work for an app developed on windows, but deployed to AWS Lambda Function. It works, however, the catch code does not accommodate daylight savings. The windows code correctly gives the offset as +11, the catch code incorrectly gives +10. Note the tz.IsDaylightSavingTime() incorrectly returns false on linux.

                    TimeZoneInfo tz;

[2018-03-13 23:59] rmkerr commented on #27672
I was concerned that this issue might lie lower down the stack, or that it was an issue of machine policy blocking NTLM. I've gone ahead and tested it directly with the WinHttp authentication API and I don't see the same result, so that isn't the case. Since the issue does not occur on Linux I expect that the problem is somewhere in our `WinHttpHandler` authentication code.

Besides that I haven't

[2018-03-14 00:00] #27492 closed

[2018-03-14 00:06] ViktorHofer commented on #28001
We currently don't have such for string. So this will be entirely new APIs?

[2018-03-14 00:09] tarekgh commented on #28001
We have these exposed from CompareInfo class.

[2018-03-14 00:21] seriouz commented on #27672
@rmkerr Do i understand you correctly: There is no issue with dotnet core (wether on linux nor on windows). The problem lies within iis based services like OWA which use WinHttpHandler?

[2018-03-14 00:35] ViktorHofer commented on #28001
@tarekgh should we also add these? I see that these only have `bool ignoreCase, CultureInfo culture` overloads on string. Should we mimic them or can we also make use of CompareOptions here?

[2018-03-14 00:47] #27652 closed

[2018-03-14 00:58] avanderhoorn commented on #26593
We are looking at having to implement this for our app. Would be nice if this was part of corefx.

[2018-03-14 00:59] AlexRadch commented on #27947
What is reason of `SequencePosition` struct with public properties `Integer` and `Object` ? May be better to have different `SequencePosition` struct for each `Sequence`? It will allow to hide `SequencePosition` internal properties. For example `ReadOnlySequence` will define `ReadOnlySequencePosition` and so on.

[2018-03-14 01:01] Priya91 commented on #26593
@wfurt Does curlhandler read the system proxy settings on osx?

[2018-03-14 01:07] wfurt commented on #26593
no, it does not. That is what I marked it as enhancement.

[2018-03-14 01:11] JeremyKuhne opened #28040 "API Proposal: Helper to get ReadOnlySpan<char> from string with terminator"
In some cases we want null terminated spans of char (interop for example). There isn't a convenient helper to get a span from a string with the terminator included.

[code]

This is useful when you want to take a ReadOnlySpan<char> as a parameter that you then need to pass to something (notably a native API) that expects a null terminated string. We can easily validate that we have a null and not

[2018-03-14 01:17] KrzysztofCwalina commented on #28040
We could also do:
[code]

[2018-03-14 01:29] #27481 closed

[2018-03-14 01:50] tarekgh commented on #28001
The apis should look like:

[code]

The other option is to add these extension methods to CompareInfo (instead of the Span) and at that time we'll not pass CultureInfo.

I prefer the CompareInfo option because this will be consistent with the strings APIs.

[2018-03-14 02:02] tarekgh commented on #2538
This looks a bug and need to be investigated.

[2018-03-14 02:23] tarekgh commented on #28001
Also, I prefer to expose the proposed CompareTo from CompareInfo too with the name "Compare"

[2018-03-14 03:19] shimingsg opened #28043 "System.Security.Cryptography.Rsa.Tests.EncryptDecrypt_Span and System.Security.Cryptography.Rsa.Tests.EncryptDecrypt_Array [FAIL]"
tests failed on windows when COMPlus_GCStress=3:
1. System.Security.Cryptography.Rsa.Tests.EncryptDecrypt_Array.RsaDecryptOaepWrongDataLength [FAIL]
[code]

2. System.Security.Cryptography.Rsa.Tests.EncryptDecrypt_Span.RsaDecryptOaepWrongDataLength [FAIL]

[code]

Attached the full testResults.txts:
[testResults_System.Security.Cryptography.Cng.Tests.txt](https://github.com/dotnet/corefx/files/180

[2018-03-14 03:31] AlexRadch opened #28044 "ReadOnlySequence constructor validation issues"
`public ReadOnlySequence(ReadOnlySequenceSegment<T> startSegment, int startIndex, ReadOnlySequenceSegment<T> endSegment, int endIndex)` constructor does not validate some issues.

I suggest to add next validations:

1. `endSegment.RunningIndex < 0`
to validate that endSegment.RunningIndex not negative.

2. `startSegment != endSegment && (ulong)startSegment.RunningIndex > (ulong)endSegment.RunningI

[2018-03-14 03:43] stephentoub opened #28045 "Need a thread-safe/scalable credential cache for use in System.Net.Http"
HttpClientHandler implementations supporting preauthenticate currently use a CredentialCache to store credentials, but CredentialCache is not thread-safe, and since requests might be modifying the cache, all access to it needs to be locked.  That means when preauthenticate is enabled, every request needs to take the same lock while accessing the cache to see if it contains credentials for use in t

[2018-03-14 03:49] stephentoub commented on #28045
There are other inefficiencies that can be addressed by replacing our usage of CredentialCache, e.g. storing rather than recomputing the basic auth token for the cached credentials.

[2018-03-14 04:08] stephentoub opened #28046 "Support struct Enumerator for ConcurrentDictionary"
ConcurrentDictionary enables enumerating the dictionary while other threads are modifying it, making it very useful in a variety of scenarios.  But its GetEnumerator allocates an enumerator object.  We can't change the return type of GetEnumerator, but we can at least expose an enumerator struct to enable enumeration without allocating.

Proposal:
[code]

Example usage:
[code]

[2018-03-14 04:15] Clockwork-Muse commented on #2538
@exiled78 -
If you're developing on Windows, is WSL (Windows Subsystem for Linux) available?  Granted, I don't know what AWS's test platform looks like, so I don't know if that's even possible, but that might allow for non-Windows zone ids.  At minimum, though, I'd probably switch which is the "common" branch, since that function is going to be called far more often once deployed.

Keeping timezon

[2018-03-14 04:33] #27646 closed

[2018-03-14 04:34] stephentoub commented on #28002
cc: @bartonjs

@tmds, are you suggesting that the logic in pal_x509_root.cpp be updated?

[2018-03-14 04:42] wfurt commented on #28002
I think there was similar port asking to preserver SSL_XXX variables for new SocketHandler.
It seems like we have user relying on current behavior on Unix and it would be nice to preserve it.

[2018-03-14 05:31] jkotas commented on #28040
I think it is odd for the Length property to include the null terminator.

Instead, what I think we really need is a naming convention or a new type for zero-terminated spans. When I am looking at `Span<char>` variable, I need to be able to tell whether it is zero terminated or not.

[2018-03-14 05:34] dmitriyse commented on #28025
@tarekgh how I can edit the issue ?

I found mistake: "public class ChannelWriterBufferSlice<T>" should be struct.

[2018-03-14 05:34] jkotas commented on #28040
This is invalid code. When you get a general `Span<char> bar` from somewhere, you cannot index at `bar[bar.Length]`. You cannot make assumptions that the memory at `bar[bar.Length]` is there, or that it is immutable.

[2018-03-14 05:39] danmosemsft commented on #28033
@karelz do we have a designated owner for Dataflow?

[2018-03-14 06:28] wfurt commented on #26732
I verified manually that this is fixed. Remaining work is writing test.

[2018-03-14 06:39] MohsenBzm commented on #6913
What about linux, or dockerized linux .netcore containers? where does the `EventLog` save the logs?

[2018-03-14 06:41] danmosemsft commented on #6913
@MohsenBzm this is Windows only and may never have Linux functionality. It is ported to help Windows based code move to Core. In some cases we r have gone further eg for Drawing we ship the Mono version for Linux.
What are you trying to achieve?

[2018-03-14 06:42] MohsenBzm commented on #6913
It seems to be written to /var/log/message

[2018-03-14 06:43] MohsenBzm commented on #6913
@danmosemsft : I mean using .netcore https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore2x

[2018-03-14 07:25] Sunny-pu opened #28049 "Test System.Net.Tests.HttpRequestStreamTests.Read_FullLengthSynchronous_Success failed with "Assert.Equal() Failure\nExpected: 9\nActual: 6""
The test: System.Net.Tests.HttpRequestStreamTests.Read_FullLengthSynchronous_Success(transferEncodingChunked: False, text: \"Non-Empty\") has failed.

Details: https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug/5762/testReport/System.Net.Tests/HttpRequestStreamTests/Read_FullLengthSynchronous_Success_transferEncodingChunked__False__text____Non_Empty___/

[code]

[2018-03-14 07:40] Sunny-pu commented on #28049
failed tests:
Read_FullLengthAsynchronous_Success
Read_FullLengthAsynchronous_PadBuffer_Success
Read_NotEnoughThenCloseAsynchronous_Success
Read_TooMuchSynchronous_Success

[2018-03-14 07:43] davidfowl commented on #27947
Because there's a hope that we can use it as a general representation of a position in another abstraction that hasn't made its way to corefx as yet https://github.com/dotnet/corefxlab/blob/cf025e0c6521ee7936ef13c83f2bc0b643fe4b7e/src/System.Buffers.Primitives/System/Collections/ISequence.cs.

Yes, this is true but we have hopes that this can be more general purpose. The tradeoff is the lack of ty

[2018-03-14 07:46] davidfowl commented on #27268
@pakrym and @KrzysztofCwalina what do you think about this?

[2018-03-14 07:52] tmds commented on #28002
Yes. When one envvar is set, we shouldn't fall back to the default for the other. I can make a PR for this.

[2018-03-14 08:10] lukazh commented on #25800
I reproduced the issue on a ubuntu 16.04 x64 vm with runtime 2.0.6 and sdk 2.1.101.

[2018-03-14 08:48] AlexRadch commented on #27947
I ask this because I don't see where Position struct can be general used. For example, I don't see that some class or method will store or work with positions from different sequences in general, without casting to special sequence.

Also for some new sequence it can be not enough Position struct with only two properties  (Integer and Object).

Some questionable compromises for me.

Thanks for ans

[2018-03-14 08:49] dotnet-mc-bot opened #28050 "Test failure: System.Net.Sockets.Tests.SendReceiveSyncForceNonBlocking / SendRecv_Stream_TCP_LargeMultiBufferSends"
The test `System.Net.Sockets.Tests.SendReceiveSyncForceNonBlocking/SendRecv_Stream_TCP_LargeMultiBufferSends(listenAt: 127.0.0.1)` has failed.

[code]

## History of failures

Day | Build | OS | Details
-- | -- | -- | --
3/14 | 20180314.01 | Ubuntu14.04 | [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180314.01/workIt

[2018-03-14 08:50] lukazh commented on #25800
I reproduced the issue on a ubuntu 16.04 x64 vm with runtime 2.0.6 and sdk 2.1.101.

The issue came out with the default `completionOption` parameter of `HttpClient.GetAsync` method which is `HttpCompletionOption.ResponseContentRead`. When I changed it to `HttpCompletionOption.ResponseHeadersRead`, everything goes fine.

It seems to have something to do with [the call of `LoadIntoBufferAsync` on t

[2018-03-14 08:56] #27947 closed

[2018-03-14 08:58] davidfowl commented on #27947
/cc @KrzysztofCwalina

[2018-03-14 09:13] AlexRadch commented on #27947
@davidfowl Where `SequencePosition` defined in corefxlab? I did not find it https://github.com/dotnet/corefxlab/search?utf8=%E2%9C%93&q=%22struct+SequencePosition%22&type=

[2018-03-14 09:28] davidfowl commented on #27947
It's not defined there, it's in corefx. It's used in corefxlab.

https://github.com/dotnet/corefxlab/blob/22c2d4edc6fc16ed50489f6709ee54ab8aede113/tests/System.Collections.Sequences.Tests/SampleCollections/Hashtable.cs

https://github.com/dotnet/corefxlab/blob/22c2d4edc6fc16ed50489f6709ee54ab8aede113/src/System.Collections.Sequences/System/Collections/Sequences/ArrayList.cs

[2018-03-14 09:49] shimingsg opened #28051 "System.Net.Internals.SocketExceptionFactory+ExtendedSocketException : No such device or address"
tests failed on Ubuntu16.04 when COMPlus_GCStress=3:

[code]

[2018-03-14 10:50] gabrielimmich commented on #27820
Would anyone know how to help me?
I still have not found the solution for this case.

[2018-03-14 11:05] k0st1x opened #28052 "System.Drawing.Font equality on Linux platform"
font family is a singleton on the windows platform, but not on Linux

[code]

may be the Equals method on the Linux platform should be different.

[2018-03-14 11:13] ChristianHaase commented on #27951
I created a repro, but I want to test it myself first. I've installed a local machine with debian 9, if it fails there, I'll send you the repro. If not, I'll test on the AWS debian server, and send you the repro if it fails. I'll get back to you once I've tested myself.

[2018-03-14 13:01] ektrah commented on #27824
Experimenting a bit more, it looks like I don't have much use for `ReadOnlyMemory<T>.Retain(pin: true)` at all, as pinning `ReadOnlyMemory<T>.Span` is easier and faster:

| Method |     Toolchain |     Mean |     Error |    StdDev |
|------- |-------------- |---------:|----------:|----------:|
| TryGet | .NET Core 2.0 | 24.98 ns | 0.0418 ns | 0.0391 ns |
|   Span | .NET Core 2.0 | 36.61 ns | 0.089

[2018-03-14 13:43] CShepartd commented on #11897
Be carefull about using `TimeZoneConverter` (https://github.com/mj1856/TimeZoneConverter) cuz is vver 13000% slower than BCL and over 54000% slower than NodaTime (https://github.com/mj1856/TimeZoneConverter/issues/14)

I hope .Net Core get independent from system timezone and evolve into IANA time (or windows get new timezone API)

[2018-03-14 14:27] dbrownxc commented on #27672
@rmkerr I'm seeing the mirror error on Linux where NTLM correctly works but Negotiate and Negotiate\NTLM combo never attempts to authenticate.  It is completely possible that it is further down the stack, too, but just some extra information.

[2018-03-14 14:27] ViktorHofer opened #28053 "Consider adding a Regex.Split options overload similar to StringSplitOptions"
[code]

[2018-03-14 15:00] DaRosenberg opened #28055 "XAttribute.ToString() on .NET Core produces different DateTime formats compared to .NET Framework and Mono"
On .NET Framework and Mono:

[code]

On .NET Core:

[code]

Note that on .NET Core, the `XAttribute` serialization uses the same format as the [ISO 8601 DateTime format specifier](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings#Roundtrip). Whereas, on .NET Framework and Mono, the `XAttribute` serialization uses a reduced format where the ".0000000"

[2018-03-14 15:01] ViktorHofer opened #28056 "Regex.Split with RegexOptions.RightToLeft implementation/documentation behavior"
I wonder if the current Regex.Split implementation when using in combination with RegexOptions.RightToLeft is what a user would expect. See the below example:

[code]

The only difference is that the capture groups, if some are used are evaluated from right to left, but not the matches themselves. That's because in the implementation the list of string is reversed at the end but the capture groups

[2018-03-14 15:04] AtsushiKan commented on #22773
As stated above, this is gated on TFS 472258 - this is a tricky problem to solve and not slated for 2.1.

[2018-03-14 15:05] ViktorHofer commented on #28056
cc @vancem @danmosemsft @jkotas @stephentoub @terrajobst

[2018-03-14 15:06] AtsushiKan commented on #24897
This issue was opened with the assumption that the api's are equivalent and the implementation can be ported over directly - as stated above, it's not that simple.

[2018-03-14 15:09] stephentoub commented on #24897
This issue is really about improving the performance of Convert.TryFromBase64Chars.  Maybe the changes can't be ported directly.  Maybe because the API is more flexible in what it accepts it won't be as optimizable.  But that doesn't mean nothing can be done, does it?

[2018-03-14 15:12] stephentoub commented on #28055
cc: @tarekgh, @krwq

[2018-03-14 15:14] andreycha commented on #20331
@fujiy @vancem hi guys. How did you manage to get counter values in PerfView? When I launch it via command line (`PerfView /onlyProviders=*SomeEventSource:EventCounterIntervalSec=1 collect`) it only shows me events. And I'm only able to see counters (but without events) if I run collection from PerfView UI.

[2018-03-14 15:16] AtsushiKan commented on #24897
We can always look at improving the performance in any api - we don't automatically track each one with an issue though. This one was seen as a "low-hanging fruit" during a PR so we opened an issue - a closer look showed it to be not so low-hanging.

However, if you believe there's a concrete opportunity here in this particular api, feel free to open an issue or reopen this one with a more accurat

[2018-03-14 15:21] stephentoub commented on #24897
What prevents the logic from being ported, and just treating whitespace as "invalid data" for which we then fall back to the slower algorithm?

[2018-03-14 15:22] ViktorHofer commented on #28056
Part of the reason why I'm asking this is because I can't implement a Span enumerator for Regex.Split if we don't yield the entries in the right order. And I can't change the match logic that is used underneath to match left to right because the pattern computation is already done during the Regex instance construction...

[2018-03-14 15:23] danmosemsft commented on #28056
If it's the same behavior as 2.0 I would add a test to protect the behavior and defer consideration to next release.

[2018-03-14 15:24] ViktorHofer commented on #28056
I marked the issue as future, this is not time critical! But important to discuss whenever is time.

[2018-03-14 15:26] ViktorHofer commented on #28056
Yes it's the same behavior as in 2.0 and in netfx and the behavior is already protected by tests. What I'm questioning is the design decision and with it the written tests.

[2018-03-14 15:26] AtsushiKan commented on #24897
Ok, fair answer. I'm not sure the added complexity is worth it here but that's something that can only be answered by measuring the perf results. I'll reopen.

[2018-03-14 15:29] stephentoub commented on #27740
Failed again on OpenSUSE:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/db2a86e941db7153ed2214a30e28588c4bc85787/workItem/System.Xml.XmlSchema.XmlSchemaValidatorApi.Tests/wilogs
[code]

[2018-03-14 15:43] eerhardt commented on #2538
@exiled78 - what version of Linux are you on?  On my macOS High Sierra, it correctly returns `+11`.  Is it possible the tzdata is out of date on that Linux machine?

[2018-03-14 15:47] karelz commented on #28033
It is part of System.Threading which is [owned](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) by @kouvel
TPL part was always owned by someone on BCL team - last was @tarekgh. @tarekgh was there any transition to someone else?

[2018-03-14 15:48] tarekgh commented on #28025
@dmitriyse I have fixed it. let me know if you cannot edit it and want to change anything.

[2018-03-14 15:48] andreycha commented on #20331
@vancem and is it correct to use event counters without calling `WriteEvent()`? E.g. if I just want to track numbers and don't need events. Should I mark `Request()` method with `[NonEvent]` attribute maybe?

[code]

[2018-03-14 15:49] rmkerr commented on #27672
@seriouz -- I should have been more clear there. WinHttpHandler is part of .NET. It's the underlying implementation of HttpClientHandler on Windows. I think it is very likely that this is a .NET problem.

@dbrownxc Thanks for the info -- I'm not as familiar with our authentication setup on Linux, but I'll take a look.

[2018-03-14 15:51] karelz commented on #25800
@lukazh do you have a simplified repro you can share?

[2018-03-14 16:03] tarekgh commented on #28055
could you clarify more regarding that? yes, it is 2 different strings but the date value is same. could you send an example how this break the round-tripping? does your code explicitly depend on the string values?

@krwq the difference here is in net core we format the date using us ToString("o") while in the desktop we manually format the date

http://index/?query=XContainer.GetSt&rightProject=Sy

[2018-03-14 16:05] karelz commented on #28051
Duplicate of #24355

[2018-03-14 16:05] #28051 closed

[2018-03-14 16:08] KrzysztofCwalina commented on #27824
Yes, retain pin is for pinning for longer than the current frame, e.g. async operations.

[2018-03-14 16:14] DaRosenberg commented on #28055
@tarekgh Yes, I should clarify. It does not technically break round-tripping per se.

Our app uses an in-memory store on both client and server, which reads and writes (using the same code) to an XML file. This XML file is continuously synced at the file level, using the rsync delta transfer protocol, between client and server.

When such a sync happens, the server does a semantic in-memory merge

[2018-03-14 16:18] ViktorHofer commented on #28056
cc @joshfree

[2018-03-14 16:19] tarekgh commented on #28033
@giacomociti could you provide some sample code demonstrate the issue?

@karelz I own System.Linq.Parallel and we had implicit understanding System.Threading.Tasks owned by @kouvel and I was helping with issues in this area.

CC @stephentoub

[2018-03-14 16:20] KrzysztofCwalina commented on #27268
I like the scenario, but is it much worse without the interfaces? i.e. we could just add PipeReader/Writer properties to Stream and the calling code would check if the properties are null or not (just like the code sample above does).

[2018-03-14 16:27] lukazh commented on #25800
@karelz FYI. No big difference from what shravan2x provided.
[code]
I will try it out with 2.0.3 later to check if the issue comes out again.

[2018-03-14 16:27] ViktorHofer commented on #28056
Closing, as I misread the documentation. It clearly states that RegexOptions.RightToLeft only changes the search direction and it does not change the interpretation of the results. Sorry for the spam! Found my answer.

[2018-03-14 16:27] #28056 closed

[2018-03-14 16:31] KrzysztofCwalina commented on #28035
cc: @davidfowl

We want to add the ability to transfer buffer chains from one pipe to another. We need to make sure the transfer API and this API work together well.

[2018-03-14 16:31] pjanotti commented on #27302
Confirmed fixed by #27341

[2018-03-14 16:33] benaadams commented on #27268
Have to change BCL Stream for that and wait for it to hit a .NET Standard and it only works for `Stream` type. `IPipeReader`/`IPipeWriter` works OOB and for many other types (e.g. perhaps its an Rx type, or a Channel, or a StringBuilder etc)

[2018-03-14 16:34] ChristianHaase commented on #27951
[test.zip](https://github.com/dotnet/corefx/files/1812040/test.zip)
Here's an attachment with a simple repro. To make the request, simple press the "Make call" link on the front page, to the left. This is a very simple repro, but basically that's what's causing the segfault (a simple `HttpClient` request). I haven't tested this myself yet, but I might as well dump this here.

[2018-03-14 16:37] giacomociti commented on #28033
this is a [gist](https://gist.github.com/giacomociti/1e95d95d6a0d02d60472e9207d8c2b9c) with an example.
Thanks

[2018-03-14 16:45] caesar1995 commented on #28049
Dup of #27996.

The failure occurs after we made the SocketsHttpHandler the default handler.

[2018-03-14 16:45] #28049 closed

[2018-03-14 16:45] #26957 closed

[2018-03-14 16:46] caesar1995 commented on #27996
Those tests will also fail on CentOS intermittently. (#28049)

[2018-03-14 16:54] ericstj opened #28058 "DeflateStream decompression throughput is dependent on size of internal buffer"
We have an internal buffer in `DeflateStream` and its size has significant impact on the throughput of the API.  Currently this buffer is defined by DefaultBufferSize which is [fixed at 8KB](https://github.com/dotnet/corefx/blob/3fca26cedf6c54aabc100e69106fc7e263db7815/src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs#L16)

This was brought to my attention by some pa

[2018-03-14 16:54] mj1856 commented on #2538
@eerhardt  - TZDB data for Sydney hasn't changed in a long time, so I doubt it's that.

@exiled78 - Is it possible two different dates were being passed in the `dateTime` parameter, or that their `.Kind` properties were different due to how they were initialized?  If not, what was the value that was passed?  Was it something very old or far distant (like `DateTime.MinValue` or `DateTime.MaxValue`?

[2018-03-14 16:54] whoisj commented on #24093
I think, if we're going to make this a Unicode character type we need to follow Unicode's naming conventions; which means _"code point"_.

Or maybe we just give up and call a duck a "duck" and refer to them as Unicode Characters (aka uchar).

[2018-03-14 16:57] KrzysztofCwalina commented on #27268
[code]

[2018-03-14 16:59] mj1856 commented on #11897
@CShepartd - there is a constructive way to go about requesting perf improvements and this is not it.  Note that in your tests you posted to the issue in my repo, you are primarily testing conversion - which is outside the scope of what the library provides.  We can discuss improving perf on the lookup/mapping, perhaps by adding some internal caching, but as I pointed out before - being inflammato

[2018-03-14 17:03] pjanotti commented on #27884
No leaks showing up in WCF stress using the recycle pool frequency knob.

[2018-03-14 17:17] karelz commented on #25800
@lukazh we were not able to reproduce the original problem in house or on vanilla VM (see https://github.com/dotnet/corefx/issues/25800#issuecomment-352556764 and https://github.com/dotnet/corefx/issues/25800#issuecomment-354729309).
If you have a small repro that reproduces on vanilla install, please let us know. We can try to reproduce it again.

[2018-03-14 17:34] tarekgh commented on #28055
@krwq

Is it possible instead of using DateTime.ToString("o") in the line
https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml.Linq/src/System/Xml/Linq/XContainer.cs#L833

to use XsdDateTime to format the date?
https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Xml/Schema/XsdDateTime.cs#L428

or there will be dependency problem?

[2018-03-14 17:47] krwq commented on #28055
@tarekgh, yes but we should be able to find something in here, i.e.:
https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/XmlConvert.cs#L823

[2018-03-14 17:48] karelz commented on #27951
@ChristianHaase can you try to reproduce it outside of ASP.NET? Or is the ASP.NET somehow important for it to repro? Console application with minimal dependencies would be best.
What do you mean by "_I haven't tested this myself yet_"? ... It would be best to wait for a repro you can confirm you can reliably reproduce to avoid wasting time by chasing things which may or may not reproduce.

[2018-03-14 17:49] JeremyKuhne commented on #28040
Whoops, mistype. Thanks!

[2018-03-14 17:59] jkotas commented on #28040
I expect that similar off-by-one mistypes like this would happen a lot if the Length property of `Span<char>` included zero terminator some of the time.

[2018-03-14 18:00] JeremyKuhne commented on #28040
For types that are meant to represent strings only I agree, but spans are general purpose and roughly analogous to array and array.Length I think.

How about extensions of IsZeroTerminated/ZeroTerminate for spans?

[2018-03-14 18:02] ahsonkhan commented on #28044
This is already done today. See tests here https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.cs#L360

and startSegment.RunningIndex + startSegment.Memory.Length <= endSegment.RunningIndex

I don't think either of these things are possible, so we don't need to check. @pakrym, please correct me if I am mistaken.

[2018-03-14 18:03] #27731 closed

[2018-03-14 18:11] caesar1995 opened #28060 "[Desktop] HttpClientHandler authentication test cases failing (hang) on Framework run"
Contributes: #27113

The `HttpClientHandler_Authentication_Succeeds()` test will fail on Framework run with `System.TimeoutException : WhenAllOrAnyFailed timed out after 60000`, for the below four test data:

[code]

[2018-03-14 18:11] jkotas commented on #28040
We have made decision to use `Span<char>` as equivalent of strings. `Span<char>` is analogous to System.String, not array.

I think if somebody needs to check whether the last char of `Span<char>` is zero when they use `Span<char>` in non-started way, they can just write a code for it. I do not think there should be extension method for it. If we really think there needs to be a method for it, it

[2018-03-14 18:16] mj1856 commented on #11897
FYI - I have addressed the perf concern @CShepartd described.  It is resolved in version 2.3.1.

[2018-03-14 18:25] kevcunnane opened #28061 "SqlConnection fails to reliably keep long-running connection open"
This issue affects applications such as SQL Operations Studio which have long-running connections (e.g. backing a T-SQL Editor) based on the .Net Core stack. On the .Net Full stack, the connection reliably stays open or reports as non-open in the ConnectionState, allowing the application to reopen as needed. However on the .Net Core stack the state is shown as Open but on attempting any command th

[2018-03-14 18:32] dotnet-mc-bot opened #28062 "Test failure: System.MemoryTests.MemoryTests/OwnedMemoryPinLargeArray"
Opened on behalf of @danmosemsft

The test `System.MemoryTests.MemoryTests/OwnedMemoryPinLargeArray` has failed.

System.OutOfMemoryException : Array dimensions exceeded supported range.

        Stack Trace:

           at System.MemoryTests.MemoryTests.OwnedMemoryPinLargeArray()
Build : Master - 20180314.02 (Full Framework Tests)
Failing configurations:
- Windows.10.Amd64-x86
  - Release
- Windo

[2018-03-14 18:33] JeremyKuhne commented on #28040
And you can have embedded nulls in System.String but you can't implicitly terminate Span<char>. I'm not sure why it is a problem to _explicitly_ include the 0. Implicitly I get.

Actually I think we need a general extension of `bool EndsWith<T>(this ReadOnlySpan<T> span, T value)`

I agree for ZeroTerminated verbage.

[2018-03-14 18:34] danmosemsft opened #28063 "A callback was made on a garbage collected delegate of type 'System.Reflection.Emit.ILGeneration.Tests!System.Reflection.Emit.Tests.ILGeneratorEmit4+StringReverseCdecl::Invoke'."
OSX10.12
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180314.02/workItem/System.Reflection.Emit.ILGeneration.Tests/wilogs

[code]

[2018-03-14 18:38] benjamin-hodgson opened #28064 "Proposal: ImmutableArray.UnsafeFreeze<T>(T[])"
Use case: efficiently creating an `ImmutableArray` with a (large) fixed number of elements.

Presently if you need to create an `ImmutableArray<T>` with a known collection of elements, the most efficient way to do so using existing API methods is to create an `ImmutableArray<T>.Builder`, set its `Capacity` to allocate an array of the correct size, fill the `Builder` with repeated calls to `Add`, a

[2018-03-14 18:56] benaadams commented on #27268
:-/

But that's in a weird lying Type system place that Stream lives; saying duplex but not being. Or like `IReadOnlyList` vs `IList`.

It shouldn't implement the interface for something its not. If its only a writer that's all it should implement; if its duplex then it should implement that. However if its only writable it shouldn't implement duplex, then return `null` on reader.

[2018-03-14 18:59] benaadams commented on #27268
Fitting with the nullable reference types coming to C#8 it would be
[code]
But :(

[2018-03-14 19:09] stephentoub commented on #27884
Thanks, @pjanotti!

[2018-03-14 19:22] shravan2x commented on #25800
@karelz If this is too difficult to reproduce on a vanilla VM, perhaps we could try to reproduce in a container, freeze it and upload?

[2018-03-14 19:23] stephentoub commented on #28045
Whatever we do here, we should also look at including a max size, so that it doesn't grow unbounded.

[2018-03-14 19:33] ahsonkhan commented on #28062
cc @GrabYourPitchforks

This test was recently added in https://github.com/dotnet/corefx/pull/28032.

[2018-03-14 19:42] danmosemsft commented on #28063
cc @petarpetrovt

[2018-03-14 19:43] KrzysztofCwalina commented on #27268
Sure, the interfaces allow for additional type system enforcement of the contract. I just wanted to make sure we are explicit about the value added by the interfaces.
If it was six months ago, I would say the added value is worth it. Given where we are in the product cycle, this proposal makes me nervous (i.e. would hate to add interfaces that we then cannot, or don't want to, implement on streams

[2018-03-14 19:50] caesar1995 opened #28065 "HttpClientHandler authentication test cases failing on WinHttpHandler & CurlHandler"
Contributes: #27113

Authentication test cases will fail on WinHttpHandler and CurlHandler with two error, `Assert.Equal() Failure` & `TimeoutException`.

## For WinHttpHandler:

Only `HttpClientHandler_Authentication_Succeeds()` test will fail:

### `Assert.Equal() Failure Expected: OK Actual:   Unauthorized` for:

[code]

### System.TimeoutException : WhenAllOrAnyFailed timed out after 60000, fo

[2018-03-14 19:50] karelz commented on #25800
@shravan2x that is a good idea. It would be still good to minimize the steps which are installed / executed on the container prior to the repro.
I am very curious how @lukazh's repro steps look like for Ubuntu VM.

[2018-03-14 19:51] caesar1995 commented on #27113
All failures are tracked by:
SocketsHttpHandler: No failure.
WinHttpHandler: #28065
CurlHandler: #28065
Netfx: #28060

[2018-03-14 19:58] pjanotti opened #28066 "[wcf.stress]: SocketsHttpHandler has worse perf than WinHttpHandler w/ https and HttpClientCredentialType:Windows"
[EDIT: Numbers below were obtained with debug build and do not reflect the difference between the release builds]

The settings for this issue were:
[code]

Summary:

SocketsHttpHandler:

- StressLevel:1,  StressRunDuration:8
No IOException, no pool recycle, single work reported 500
- StressLevel:4, StressRunDuration: 8
Various IOException, no pool recycle, each work reported 100

WinHttpHandler:

[2018-03-14 20:08] SteveL-MSFT commented on #27990
The ReadStdin() call after WriteStdoutAnsiString(TerminalFormatStrings.CursorPositionReport) fails to read any bytes so it returns with default value of 0.  Not sure yet why it's failing.

[2018-03-14 20:09] danmosemsft opened #28067 "StringBuilder Insert causes suboptimal memory allocation"
See https://github.com/dotnet/corefx/issues/27625#issuecomment-369791334 for full discussion.

https://github.com/dotnet/coreclr/pull/16926 fixes the major problem which is unbounded growth. However in #27625 it's also observed that Insert has a potentially suboptimal chunk use strategy:

Insert does not try hard to reuse space (it won't shuffle along more than 32 characters) so it's fairly easy t

[2018-03-14 20:14] danmosemsft commented on #28062
Note it only failed on full framework.

[2018-03-14 20:18] danmosemsft commented on #28055
Aside why are there two copies
C:\git\corefx\src\Common\src\System\Xml\Schema\XsdDateTime.cs
C:\git\corefx\src\System.Private.Xml\src\System\Xml\Schema\XsdDateTime.cs

The common one I think is dead?

[2018-03-14 20:20] GrabYourPitchforks commented on #28062
Can we detect at runtime if large array support is enabled? We can skip the test if this flag is not enabled.

[2018-03-14 20:27] ahsonkhan commented on #28062
You could also disable it on full framework, similar to our ToString tests:
https://github.com/dotnet/corefx/blob/a9e68bf3f993a853343fdc1b2c3bb9f7cfd5c411/src/System.Memory/tests/ReadOnlySpan/ToString.cs#L93
[SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework, "Large array support is disabled.")]

[2018-03-14 20:46] GrabYourPitchforks commented on #28062
I'd rather not use the target moniker because it _is_ a legitimate test if the proper switch has been enabled. But if we can't detect that switch at runtime then suppressing the test on full framework would be a viable alternative.

[2018-03-14 20:48] danmosemsft commented on #28062
You could try catch for OOME specifically. That would have some value

[2018-03-14 20:48] rmkerr commented on #27672
I think I've tracked this issue down. Here are the conditions under which it will repro:
- There are at least two authentication schemes enabled on the server.
- The user only provides credentials that have an authentication scheme less secure<sup>(1)</sup> than the most secure option offered by the server.

In the conditions we see here, the user provides NTLM credentials, but the server supports

[2018-03-14 20:48] krwq opened #28069 "Investigate if there is a duplicate code in the common folder for XmlSchema"
As @danmosemsft has mentioned in https://github.com/dotnet/corefx/issues/28055 there are two copies of XsdDateTime which might be the same:

[code]

If that is the case there might be more copies of other files from XmlSchema as well. Investigate and remove any duplicate code.

[2018-03-14 20:48] krwq commented on #28055
@danmosemsft I've created https://github.com/dotnet/corefx/issues/28069 to track this

[2018-03-14 20:50] benaadams commented on #27268
My main worry is pre-2.1 ship you can change it to
[code]
Post-ship introducing these interfaces post 2.1 it would become
[code]

Which is the messy situation with `IList` and `IReadOnlyList` which should have been an interface hierarchy; but instead are side-by-side interfaces

[2018-03-14 20:59] ericstj commented on #28058
@stephentoub mentioned to me:

I don’t think one could say that a larger size is universally better here.  I measured one case: a FileStream from a fast disk examining throughput while reading everything at once.  What about a NetworkStream measuring latency?  What about an application that uses many concurrent DeflateStreams and cares about density/memory footprint?  The ASP.NET [issue](https://g

[2018-03-14 21:05] geleems commented on #21030
@dopare `TrabsactionScope` is supported in 2.1 preview. Please use it for your scenario.

[2018-03-14 21:05] #21030 closed

[2018-03-14 21:21] keeratsingh commented on #27605
Hi Omar,

While we are still investigating as to why this issue occurs in netcoreapp 2.1 and not in 2.0, could you kindly try setting these ENV variables and see if it resolves the issue for you.
Kindly set the ENV variables from the terminal that the aspnetcoreapp(LinuxPerformanceTest) is run from.
[code]
Regards,
Keerat

[2018-03-14 21:57] karelz commented on #27113
@caesar1995 please update the disabled test against the new bugs and close this one.

[2018-03-14 22:08] weshaggard commented on #23743
@ericstj any thoughts on a good approach to ensure the packages are valid? Should we diff the nuspecs between last release and this release and perhaps manually look at any new packages?

[2018-03-14 22:13] davidsh commented on #27861
@Tratcher Does .NET Framework accept the Twitter cookie into the CookieContainer? Or did it ignore it?

[2018-03-14 22:20] ericstj commented on #23743
Package validation helps since it looks at assembly versions supported by the last package and latest, but isn't foolproof since it doesn't crack the assemblies.

The [package tests](https://github.com/dotnet/corefx/tree/master/pkg/test) are one good thing to run.  Those will catch cases where we replace a facade with an IL implementation.  We can also grow them to make sure they cover the scenari

[2018-03-14 22:23] #23108 closed

[2018-03-14 22:30] brianrob commented on #19091
This is a desktop bug - moving to future.

[2018-03-14 22:30] brianrob commented on #23661
This is a desktop bug, moving to future.

[2018-03-14 22:38] jkotas commented on #28040
Yes, creating the non-standard zero-terminated spans explicitly is ok. But they should be kept as local micro-optimizations. They should not leak through the system. When they do leak in internal implementation, it should be clear that it is non-standard Span. I think that every argument or return value of method that is zero terminated `Span<char>` should have comment next to it that says that it

[2018-03-14 22:46] weshaggard commented on #27995
We no longer build and ship those packages live, so it would need to happen in servicing event if we really need/want this. Do we believe this is worth servicing for?

[2018-03-14 23:13] KrzysztofCwalina commented on #27268
We should consider removing IDuplexPipe from 2.1.

[2018-03-14 23:15] benaadams commented on #27268
I'd be ok with that too (to bring back at a later stage)

[2018-03-14 23:21] harvinders commented on #27885
I believe the issue is within project.asset.json. I created a copy of the whole project and then removed stuff one by one. I removed the bin and obj and restored the packages. This resulted in a different project.asset.json.

Unfortunately, I can't share it and still trying to have a meaningful minimal repo that reproduces the issue. Sorry about that.

[2018-03-14 23:58] JaedsonBarbosa commented on #2089
Hi, will this work in UWP?

[2018-03-15 00:00] amrmahdi commented on #13773
Same issue here. The behavior is not consistent between .NET and .NET Core. The following code throws different exceptions on the 2 frameworks:

[code]

Exception from .NET 462
[code]

Exception from .NET Core 2.0

[code]

As you can see, the exception from .NET Core does not indicate what is the problem is. As opposed to the exception from .NET 462, where the inner exception is the actual ```Http

[2018-03-15 00:07] divega commented on #27849
Thanks @Porges for raising this. Nice catch! I theory we could change empty key values to be serialized as `''` but we don't require values in connection strings to be quoted, so wouldn't it be strange if `"empty="` meant something different form `"empty=''"`?

Based on this, I think there is another interpretation for the issue:

In the connection string "mini-language", there isn't a distinction

[2018-03-15 00:08] divega commented on #27849
Copying @bricelam @roji @saurabh500 @ajcvickers, in case any of them has an opinion on this.

[2018-03-15 00:15] vancem commented on #20331
FYI: There is some tutorial documentation.

https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/documentation/EventCounterTutorial.md

@andreycha  - I am very surprised by question above.   You seem to have the right PerfView command line and I certainly would not have expected different behavior based on you use the GUI or not.

Your code above will work (and never fire an

[2018-03-15 00:29] Porges commented on #27849
Hi @divega

`empty=''` and `empty=` already mean different things - the latter unsets a previously set value. (I assume this is so that you can remove defaults or something like that.)

For example:

[code]

Yes, I was writing some tests for my own implementation and found this. 🙂

[2018-03-15 00:29] tarekgh commented on #2089
No, it is supported only for net core apps running on Windows and full framework. if you use it in UWP or on Linux, you'll get a PlatformNotSupported exception.

[2018-03-15 00:34] divega commented on #27849
Are you sure that what you are seeing doesn't just mean that the last setting wins?

[2018-03-15 00:49] Porges commented on #27849
If you dump the list of keys, only `key2` is present.

[2018-03-15 00:58] divega commented on #27849
Ok, I get that this is the behavior you observe immediately, hence currently `"empty="` does mean something different form `"empty=''"`.

However the behavior after you roundtrip to the ConnectionString property is inconsistent, and what I am saying is that if we made `"empty=''"` mean exactly the same as `"empty="`, then the behavior would become consistent.

And I like this alternative more beca

[2018-03-15 01:01] Porges commented on #27849
Yes, either solution works for me :grin:

[2018-03-15 01:34] caesar1995 commented on #23765
Have run the test 200 times locally on Ubuntu VM, no failure. Will enable the test.

[2018-03-15 01:58] #28055 closed

[2018-03-15 02:05] kouvel commented on #16010
@karelz I realize I'm supposed to own this area but I am no expert in this area. The proposal looks fine to me, CC @stephentoub

[2018-03-15 02:42] dotnet-mc-bot opened #28082 "Test failure: ReadAndWrite/OutputEncodingPreamble"
Opened on behalf of @Sunny-pu

The test `ReadAndWrite/OutputEncodingPreamble` has failed.

System.IO.IOException : The parameter is incorrect

        Stack Trace:

           at System.ConsolePal.SetConsoleOutputEncoding(Encoding enc)
       at System.Console.set_OutputEncoding(Encoding value)
       at ReadAndWrite.OutputEncodingPreamble()
Build : 2.0.0 - 20180314.01 (Core Tests)
Failing configu

[2018-03-15 02:49] dotnet-mc-bot opened #28083 "Test failure: System.Globalization.Tests.CalendarHelpers/ToDateTime_Invalid(calendar: JapaneseLunisolarCalendar { AlgorithmType = LunisolarCalendar, Eras = [5, 4, 3], IsReadOnl)"
Opened on behalf of @Sunny-pu

The test `System.Globalization.Tests.CalendarHelpers/ToDateTime_Invalid(calendar: JapaneseLunisolarCalendar { AlgorithmType = LunisolarCalendar, Eras = [5, 4, 3], IsReadOnl)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentOutOfRangeException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Globalizatio

[2018-03-15 03:00] Sunny-pu commented on #20245
failed again:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20180314.01/workItem/System.Net.NameResolution.Pal.Tests/analysis/xunit/System.Net.NameResolution.PalTests.NameResolutionPalTests~2FGetHostByName_HostName

[2018-03-15 03:25] dotnet-mc-bot opened #28085 "Test failure: System.IO.Tests.PathTests/GetInvalidFileNameChars_OtherCharsValid"
Opened on behalf of @Sunny-pu

The test `System.IO.Tests.PathTests/GetInvalidFileNameChars_OtherCharsValid` has failed.

Assert.Equal() Failure\r
                 ↓ (pos 3)\r
    Expected: C:\\data\\helix\\work\\71360258-a4a4-4a3a-806f-b···\r
    Actual:   C:\\Data\\helix\\work\\71360258-a4a4-4a3a-806f-b···\r
                 ↑ (pos 3)

        Stack Trace:

           at System.IO.Tests.PathTests

[2018-03-15 03:27] Sunny-pu commented on #28085
failed test:
System.Tests.EnvironmentTests/GetSystemDirectory
System.IO.Tests.PathTests/GetInvalidFileNameChars_OtherCharsValid

[2018-03-15 03:31] dotnet-mc-bot opened #28087 "Test failure: System.Threading.Threads.Tests.ThreadTests/ApartmentStateTest_ChangeBeforeThreadStarted_Windows(getApartmentState: Func`2 { Method = System.Threading.ApartmentState <ApartmentStateTest_MemberData>)"
Opened on behalf of @Sunny-pu

The test `System.Threading.Threads.Tests.ThreadTests/ApartmentStateTest_ChangeBeforeThreadStarted_Windows(getApartmentState: Func`2 { Method = System.Threading.ApartmentState <ApartmentStateTest_MemberData>)` has failed.

Assert.Equal() Failure\r
    Expected: MTA\r
    Actual:   STA

        Stack Trace:

           at System.Threading.Threads.Tests.ThreadTests.Apar

[2018-03-15 03:34] Sunny-pu commented on #28087
Closed issue: [#22094](https://github.com/dotnet/corefx/issues/22094)

[2018-03-15 04:29] jkotas commented on #28063
Need to add `GC.KeepAlive(...)` to keep the delegate alive during the call to dynamic method.

[2018-03-15 04:55] TigerBoom opened #28091 "System.DirectoryServices.DirectorySearcher LDAP_MATCHING_RULE_IN_CHAIN search term escaping is broken"
When performing a LDAP_MATCHING_RULE_IN_CHAIN search using System.DirectoryServices.DirectorySearcher the standard escaping of the search term does not work.
Standard LDAP search term escaping: https://tools.ietf.org/search/rfc2254

For this example, assume the DN is: CN=Rees\, John,DC=big,DC=com
Notice the string representation of the DN already contains a backslash.
If this DN is used as a searc

[2018-03-15 05:00] jkotas commented on #28063
#28092

[2018-03-15 05:15] GrabYourPitchforks commented on #28062
Looked through the unmanaged side of things and I don't see any place where we expose this switch via a public API. Going to use @ahsonkhan's suggestion of skipping the test on full framework. I'm nervous about swallowing OOMs because they could mask latent issues with the test or with the code under test.

[2018-03-15 05:17] ahsonkhan commented on #28062
Can you please run it locally for TargetGroup=netfx to make sure the test passes (at least once)?

[2018-03-15 05:28] Anipik opened #28093 "System.IO.Tests.EnumerableTests/EnumerateDirectories_NonBreakingSpace failing on OSX"
[code]
https://mc.dot.net/#/user/Anipik/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/26b967e2aab520a0da79c316024360f635dc937d/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.EnumerableTests~2FEnumerateDirectories_NonBreakingSpace

cc @JeremyKuhne @danmosemsft

[2018-03-15 05:32] JeremyKuhne commented on #28093
Possible that there is an ordering problem. If so use FSAssert.EqualWhenOrdered().

[2018-03-15 07:06] davidfowl commented on #27268
No, we use it as public API in Kestrel and SignalR.

[2018-03-15 07:08] roji commented on #27849
Agree with @divega that `empty=` should simply be processed as the absence of the key, i.e. that `ContainsKey("empty")` should return false for string `empty=`. I can't imagine any practical usefulness for specifying a key without a value, and the syntax distinguishing an empty value from a non-existent key would be very specific as said above (i.e. quotes aren't used anywhere else).

[2018-03-15 07:45] lukazh commented on #25800
I ran some more tests on the same VM with different URLs and the exception never came out. Even with the URL I used to repro it can't ensure to run into the issue.
I captured the requests sent to `https://api.steampowered.com/`. The request that sent first established a connection with the server and the others reused the connection. After waiting for a few minutes, when the issue is likely to be

[2018-03-15 07:58] MarcoRossignoli commented on #28069
@krwq is this simila to #27841?

[2018-03-15 11:09] alfredmyers commented on #25873
Reading @JeremyKuhne 's blog [post](https://blogs.msdn.microsoft.com/jeremykuhne/2018/03/09/custom-directory-enumeration-in-net-core-2-1/) something caught my attention.

[code]

If those properties are UTC as their name indicate, why use `DateTimeOffset` that incorporates an [offset](https://docs.microsoft.com/en-us/dotnet/api/system.datetimeoffset.offset) when a `DateTime` with `DateTime.Kind` =

[2018-03-15 11:47] benjamin-hodgson commented on #28064
@jkotas Thanks, I didn't know about #196. I quite like the idea of using a `ref` parameter and setting it to `null`; it is a little more complex but it has some minor safety benefits in the relatively common case where the array has only one reference to it. I also quite like the `ByteArrayUnion` idea in that PR, might turn out to be marginally faster than calling a dynamic virtual method like I d

[2018-03-15 12:07] stijnherreman commented on #13660
It's a bit strange that Azure is such a huge and important part of Microsoft, but .NET Standard and .NET Core aren't given the necessary resources to support it.

I don't mean to blame anyone here, it's just that I'd love to use .NET Core but still cannot do so more than 3 years after it was announced.

[2018-03-15 12:37] stephentoub commented on #27375
Again on Windows 8:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ef54f662eaaef296234b757dd0472f3c5668530d/workItem/System.Reflection.Metadata.Tests/wilogs

[2018-03-15 12:41] stephentoub opened #28096 "Enumeration.ExampleTests.TestGetFilesWithExtensions failed in CI"
https://mc.dot.net/#/user/jkotas/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a327a1bfaf988ecb8a45dc6b61462ada4f1af52d/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.Enumeration.ExampleTests~2FTestGetFilesWithExtensions
[code]
cc: @JeremyKuhne

[2018-03-15 12:41] stephentoub commented on #27375
Again on macOS:
https://mc.dot.net/#/user/jkotas/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a327a1bfaf988ecb8a45dc6b61462ada4f1af52d/workItem/System.Reflection.Metadata.Tests/wilogs

[2018-03-15 12:42] #28063 closed

[2018-03-15 12:51] stephentoub commented on #27390
Again here on Win10:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/c4be4d70ccecae8b1d5f0b6883687b9b321d72cf/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_HttpCookieProtocolTests~2FGetAsyncWithRedirect_SetCookieContainer_CorrectCookiesSent

[2018-03-15 12:55] yanc opened #28097 "Websockets - receiving messages in chunks does not detect message size or properly set EndOfMessage flag"
see https://stackoverflow.com/questions/49299333/websockets-in-net-core-2-0-receiving-messages-in-chunks

This works correctly in .NET 4.6.1 but not in .NET Core.

[2018-03-15 14:10] jkotas commented on #28064
The leanest and fastest version of this hack is to use System.Runtime.CompilerServices.Unsafe. With that, the hack is one-linker like this:

[code]

[2018-03-15 14:13] jkotas commented on #28064
cc @VSadov @gafter @jaredpar If I remember correctly, you had strong opinions about not having an officially sanctioned unsafe API for this.

[2018-03-15 14:32] shravan2x commented on #25800
@lukazh My timeout was 100s for an endpoint that usually completes <1s. I'm fairly confident waiting longer wouldn't change much.

[2018-03-15 14:33] #27976 closed

[2018-03-15 14:36] dbrownxc commented on #27672
Great news!

[2018-03-15 14:46] #27597 closed

[2018-03-15 14:53] danmosemsft commented on #27841
@MarcoRossignoli yes the sync is only coreclr to corefx. It would be great if you could look at deduping yes.

@egorbo do you still have the script handy?

[2018-03-15 15:08] jnm2 commented on #28030
When I ran into this, @sharwell explained that BlockingCollection.Dispose is not considered thread-safe. I was trying to use it to send an atomic cancellation signal, distinct from completing, but I refactored it to use completion for cancellation as well and sort everything out afterwards.

[2018-03-15 15:43] karelz commented on #28097
@stephentoub any insight?

[2018-03-15 15:43] karelz commented on #28097
@yanc do you have a repro we could run locally? (against some real server)

[2018-03-15 15:47] yanc commented on #28097
I could prepare something for you.

[2018-03-15 15:56] yanc commented on #28097
@karelz I will have something for you to test with later today.

[2018-03-15 15:57] #27590 closed

[2018-03-15 15:58] danmosemsft commented on #27841
BTW that many of these files are not quite duplicates (eg formatting changed or one is alive and had a few fixes in it) so I suggest start by finding duplicate names then either eyeball the diff or look for "small" diff outputs rather than simply running one of the many scripts that find exact duplicate files.

[2018-03-15 15:59] stephentoub commented on #28097
What version of .NET Core is this, and what OS?

[2018-03-15 16:02] stephentoub commented on #27891
That's an arguable flaw in the API design, but it's what the API is.

[2018-03-15 16:02] bartonjs commented on #28002
The environment variable behavior that we have matches what the openssl commandline utility does (I'm pretty sure).

It's more important to match the openssl CLI than to match curl.

[2018-03-15 16:07] GrabYourPitchforks commented on #27891
You could always change the default. It would not affect existing compiled code, and anybody who is passing an expicit parameter anyway would retain the same behavior even after recompilation.

[2018-03-15 16:10] danmosemsft commented on #28085
Thanks @Sunny-pu. Because all these are in the release/2.0.0 branch, and are not new, they are probably not worth fixing. Please do open issues if you see failures in release/2.0.0 that seem to have been newly introduced.

[2018-03-15 16:10] #28085 closed

[2018-03-15 16:11] danmosemsft commented on #27038
@JeremyKuhne is there more you can add assert wise?

[2018-03-15 16:12] danmosemsft commented on #26008
@JeremyKuhne can you confirm this is a doc issue.

[2018-03-15 16:12] danmosemsft commented on #25842
This is completed.

[2018-03-15 16:12] #25842 closed

[2018-03-15 16:14] yanc commented on #28097
@stephentoub .NET Core 2.0 on Windows 10.

[2018-03-15 16:16] bartonjs commented on #28043
@shimingsg Does that mean they only failed for you under GCStress?

Otherwise this looks like it was another copy of #27590.

[2018-03-15 16:22] MarcoRossignoli commented on #27841
@danmosemsft sure the scripts is only to save time, but i agree with you, we should to check every file. Could be not so easy understand the correct one, and maybe to avoid conflicts could be useful do more PR. I wait for @EgorBo and after i'll try to work on this if you agree.

[2018-03-15 16:24] weshaggard commented on #25382
For 2.1 here is a manual 2.1 Debug build:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180314.07

For comparision here is the Release build test results:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180314.06

@danmosemsft could you please as someo

[2018-03-15 16:26] danmosemsft commented on #27841
That would be great!

[2018-03-15 16:29] dotnet-mc-bot opened #28099 "Flaky tests BasicEventSourceTests.TestsWriteEvent/Test_WriteEvent_SelfDescribing_ETW and Test_WriteEvent_Manifest_ETW"
Opened on behalf of @danmosemsft

The test `BasicEventSourceTests.TestsWriteEvent/Test_WriteEvent_SelfDescribing_ETW` has failed.

Assert.Equal() Failure\r
    Expected: \r
    Actual:   x

        Stack Trace:

           at BasicEventSourceTests.TestsWriteEvent.<>c__DisplayClass10_1.<Test_WriteEvent>b__31(Event evt) in E:\A\_work\63\s\corefx\src\System.Diagnostics.Tracing\tests\BasicEventSourceT

[2018-03-15 16:31] safern commented on #25860
@danmosemsft have we seen this fail again? From the link it seems like it was crashing on CI.

[2018-03-15 16:32] safern commented on #25727
@huanwu any update moving to future as this doesn't seem like a high pri for 2.1

[2018-03-15 16:33] safern commented on #25498
Moving to future.

[2018-03-15 16:33] danmosemsft commented on #27996
These failed on a CHK run on Fedora, Debian, Redhat.

Read_FullLengthAsynchronous_PadBuffer_Success(transferEncodingChunked: False, text: \"Non-Empty\")
Read_FullLengthAsynchronous_Success(transferEncodingChunked: False, text: \"Non-Empty\")
Read_FullLengthSynchronous_Success(transferEncodingChunked: False, text: \"Non-Empty\")

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~

[2018-03-15 16:34] danmosemsft commented on #27996
Assert.Equal() Failure
Expected: 9
Actual:   6

[2018-03-15 16:35] danmosemsft commented on #25382
I went through them and nothing looks chk specific., I made sure there were issues for everything.

Can you set this up to run weekly now?

[2018-03-15 16:35] danmosemsft commented on #25382
And if you do, how will we avoid missing them in all the release builds?

[2018-03-15 16:40] eerhardt commented on #27167
The original proposal of having a `struct Numeric` that wraps an `object`, or having an `INumeric` interface, are not feasible.  This would cause boxing of every number, which will not perform satisfactorily.

However, the issue described here is an issue that we would like to fix some point.  We have the same need in the `Tensor<T>` type in corefxlab:  https://github.com/dotnet/corefxlab/blob/mas

[2018-03-15 16:40] danmosemsft commented on #28096
Curious as they look rather equal. BTW what does the SElect() here achieve?
[code]

[2018-03-15 16:41] Stamo-Gochev opened #28100 "Using System.Reflection.TypeExtensions.GetProperties in .NET Core 2.0"
I am using a Class Library project, whose target frameworks are `net451` and `netstandard1.6`, which dynamically compiles a class in a way similar to the example here (a "standard" way to do the compilation):

https://github.com/dotnet/roslyn/issues/16211#issuecomment-372998985

but inside a method in `MyClass`, I want to retrieve all public properties like this (the actual code is the string of t

[2018-03-15 16:43] tmds commented on #28002
`curl` does it with  1 envvar

So does `node`:
[code]

And `python` too:
[code]

[2018-03-15 16:44] ViktorHofer commented on #25660
Thanks for the feedback. I will look into this and get back to you.

[2018-03-15 16:46] danmosemsft commented on #28083
@krwq could you please port your #27617 to release/2.0.0 ? I think it  needs a very brief mail to shiproom, but just "tell mode"

[2018-03-15 16:48] safern commented on #24709
@dezsiszabi sorry for the late response, I missed this issue.

I think this is a very specific scenario to expose a new API in the existing ones, we usually add new APIs or expose them into interfaces when the use cases are more for a general purpose and not a single specific one.

Are you still willing to have this added to an existing interface? If so, could you please add an API proposal in thi

[2018-03-15 16:49] weshaggard commented on #25382
Not yet we are still dependent on something dotnet/core-eng#2176 which isn't funded.

[2018-03-15 16:50] safern commented on #23127
Setting as 2.1 and up for grabs, doesn't seem like very hard to fix.

[2018-03-15 16:51] danmosemsft commented on #28087
In 2.0 PlatformDetection treated Windows IOT server as if it was Nano server. In 2.1 thisi s fixed. Not worth backport.

[2018-03-15 16:51] #28087 closed

[2018-03-15 16:55] jnm2 commented on #24709
Reminds me of https://github.com/dotnet/corefx/issues/10752#issuecomment-247672980 which is a pattern I use.

[2018-03-15 16:56] jeffschwMSFT commented on #26257
@luqunl looked into this issue earlier in the week.  Depending on your scenario there is likely a code workaround that may work while we determine the right fix.  Here is a snippet of the code pattern shared to help @Priya91 ...
Define the interface manually:
[Guid("9C4C6277-5027-441E-AFAE-CA1F542DA009"), TypeLibType(4160)]
    public interface INetFwRules : IEnumerable
    {
       …
        [Dis

[2018-03-15 17:04] #23990 closed

[2018-03-15 17:05] yujayee commented on #27488
@zhenlan @huanwu I submitted a pr to fix the repeated warning messages in target file. Then to solve the issue, we still need to figure out how to show warning messages from sgen(which has more specific warning messages) instead of target file.

[2018-03-15 17:11] #23864 closed

[2018-03-15 17:12] krwq commented on #28069
@MarcoRossignoli I don't see XmlSchema on that list. We can add it as subitem there. In here the exact file list is not known at this time.

[2018-03-15 17:13] #26753 closed

[2018-03-15 17:15] #27113 closed

[2018-03-15 17:19] zhenlan commented on #27488
Yes, sounds good. Thanks @yujayee!

[2018-03-15 17:20] roederja2 commented on #24480
I can confirm it's better now, but I'm still seeing about a factor 2 difference between windows and linux. I'm fast loading with SqlBulkCopy.

[2018-03-15 17:26] danmosemsft commented on #28100
@weshaggard seems this is because of your change below?

commit a4364b283016758aff4d8ea162e6e8c550e2da6f
Author: Wes Haggard <Wes.Haggard@microsoft.com>
Date:   Mon Oct 16 11:46:43 2017 -0700

    Update SupportedFrameworks to netcoreapp2.1 for some packages

[2018-03-15 17:29] safern commented on #25843
Due to @jkotas concerns and final decision that MemoryPool should be the place of making this by default we should either close this issue or turn it into an API proposal to add something like `ArrayPool.Rent(int minimumLength, bool clearArray)` as @danmosemsft mentioned if we want the option to have a zero-initialized ArrayPool when renting it.

[2018-03-15 17:33] danmosemsft commented on #25843
We should also look at these suggestions above when we do that.
https://github.com/dotnet/corefx/issues/25843#issuecomment-351226440

[2018-03-15 17:39] safern commented on #25043
I don't think ArrayPool should be Disposable as the intention of these API is something similar to C malloc/free functions where you rent a space of memory and you return it yourself when you're done using it, it is an Unsafe API where you need to rent the piece of memory that you need and return it when you're done specifically to avoid allocations and the GC handling those objects for you. So I

[2018-03-15 17:40] weshaggard commented on #28100
@danmosemsft I don't believe it is related to that commit. It most likely has to do with changes in the shared framework between 1.1 and 2.0

@Stamo-Gochev is is kind of hard to follow exactly what you are doing and what is compiled when. Could you setup a repo with some sample projects that demonstrate the issue you are hitting and I will take a look and help you figure out a solution.

[2018-03-15 17:41] tdolgyras opened #28107 "Issue with HttpClient with Client Certificate on Ubuntu 16.04"
Ubuntu 16.04
.net sdk 2.1.4

We have an issue making a Https Request with httpClient in Ubuntu 16.04
Sample code
[code]
We get this error
[code]

In our windows pc works perfectly. This website uses Let'sEncrypt for ssl.
Do we have any workaround?  We searched the backlog and there are a lot similar issues but no workaround was found.

thank you

[2018-03-15 17:44] #25150 closed

[2018-03-15 17:46] dmetzgar commented on #22168
No updates on this issue. Closing

[2018-03-15 17:46] #22168 closed

[2018-03-15 17:50] tarekgh commented on #28033
@giacomociti I'll take a look and get back to you. thank you.

[2018-03-15 17:52] wfurt commented on #28107
mplampla.org does not resolve for me. Did you mean mplampla.com ?
Does it work when you use curl from commands line?
If not, there can be something wrong about your system trust.

[2018-03-15 18:02] pjanotti commented on #27871
Did we start to support those env variables because we were using libcurl before and now we need to keep supporting them to not break code targetting 2.0? It seems odd to do this type of thing via environment variable...

[2018-03-15 18:03] tdolgyras commented on #28107
When i user curl it works.
Here is the correct url.
curl -i http://auth.dimoschalkideon.gr/.well-known/openid-configuration

[2018-03-15 18:03] Anipik commented on #27978
@JeremyKuhne should I add your comments to the MatchingRefApiCompatBaseline.txt file for both the projects ?

[2018-03-15 18:05] huanwu commented on #25731
@davidsh  System.net should be responsible for ensuring the type can be serialized correctly. So the test need be added and maintained in system.net project.

[2018-03-15 18:09] tarekgh commented on #25873
This may be obvious if you are looking at the signature because it indicates UTC, but when using the returned DateTime in subsequent operations, would not be obvious if the DateTime is UTC without carefully checking that. Returning DateTimeOffset is always better in such situations telling the returned result is associated with UTC zone (even if it has offset). so the subsequent operation on the r

[2018-03-15 18:10] davidsh commented on #25731
cc: @karelz

[2018-03-15 18:13] ViktorHofer commented on #25731
I'm not sure that's the right approach, i.e. for binary serialization we put all the type tests into System.Runtime.Serialization.Formatters.Tests to guarantee a complete test scenario (serialization all types into a stream, serialization one-by-one, roundtripping, etc.). All the test test data is already written and can be found here: https://source.dot.net/#System.Runtime.Serialization.Formatter

[2018-03-15 18:16] JeremyKuhne commented on #26008
This is a documentation issue. Spaces are valid trailing chars in Unix. In Windows they get normalized away as @divinity76 has pointed out (as do trailing periods).  If you're curious I've described this in great detail at https://blogs.msdn.microsoft.com/jeremykuhne/2016/04/21/path-normalization/.  There are other posts on my blog that go into how paths go through the system.

If you want the tra

[2018-03-15 18:16] #26008 closed

[2018-03-15 18:17] huanwu commented on #25731
cc: @mconnew

[2018-03-15 18:17] ViktorHofer commented on #28009
Thanks @iluuu1994 for the suggestion. As we are currently busy with finishing up for 2.1 let me get back to this item later (in a few weeks).

[2018-03-15 18:24] bartonjs commented on #28002
The environment variables used by .NET are the environment variables used by the openssl commandline utility.  The goal is to be able to use the openssl CLI and .NET in the same way, since we're using OpenSSL as the processing engine.

Comparison to other tools, while interesting, doesn't change the design goal.

[2018-03-15 18:28] iamatinkerer commented on #27260
Can I work on the fix for this issue?
Since the work was done for SqlClient in https://github.com/dotnet/corefx/pull/19937/files, I will have a good idea of what to do. I think a bunch of code for this particular issue can be moved to the Common/src/System/Data/ProviderBase folder and can be reused in Odbc and SqlClient.

However, I don't know where to get the System.Data.Odbc.OdbcMetadata.xml use

[2018-03-15 18:30] JeremyKuhne commented on #24039
@stephentoub I'm moving this to future- have you thought about @KrzysztofCwalina's suggestions?

[2018-03-15 18:32] JeremyKuhne commented on #21857
Push comes to shove we can move this out of 2.1.

[2018-03-15 18:36] JeremyKuhne commented on #24728
@stephentoub Presumably we still want this for 2.1, right?

[code]

@danmosemsft this is an easy one

[2018-03-15 18:38] #25298 closed

[2018-03-15 18:40] danmosemsft commented on #24728
Let's roll this in with any other consistentification we decide on tomorrow.

[2018-03-15 18:41] JeremyKuhne commented on #24250
@maryamariyan I spoke with @danmosemsft- I'm going to take this back as we want to get the change into the system soon.

[2018-03-15 18:41] 4creators commented on #27911
@CarolEidt @eerhardt  @fiigii @tannergooding

Ping. It is quite serious issue for devs who would be writing code using HW intrinsics and I would strongly recommend changing API before v2.1 ships. Fix is easy and fast.

[2018-03-15 18:41] saurabh500 commented on #27260
@iamatinkerer Thanks for showing interest. We haven't started working on this issue actively. I will upload the `System.Data.Odbc.OdbcMetadata.xml` on Github and provide the link.

[2018-03-15 18:42] JeremyKuhne commented on #25535
@Anipik please close this out once you think you've fully implemented and resolved all outstanding issues.

[2018-03-15 18:44] karelz commented on #28107
@tdolgyras the curl URL is not HTTPS, can you check also with HTTPS?

[2018-03-15 18:45] #11542 closed

[2018-03-15 18:45] bartonjs commented on #28002
Sure.  The user store is the user store.  The environment variables only control the system store.

That's not going to be possible in any reasonable fashion.  You've moved from letting curl make decisions (sometimes falling back to X509Chain) to letting OpenSSL and X509Chain make decisions.  That means that HttpClient is now consistent with SslStream (which is good).

Changing the way the environ

[2018-03-15 18:46] tarekgh commented on #27773
@huanwu what you mean by that? AdjustmentRule is a class defined inside TimeZoneInfo. why it is not known? please elaborate more on that.

[2018-03-15 18:46] wfurt commented on #28107
btw the default curl builds with GnuTLS @karelz.
curl 7.50.1 (x86_64-pc-linux-gnu) libcurl/7.50.1 GnuTLS/3.5.3 zlib/1.2.8 libidn/1.33 librtmp/2.3
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtmp rtsp smb smbs smtp smtps telnet tftp
Features: AsynchDNS IDN IPv6 Largefile GSS-API Kerberos SPNEGO NTLM NTLM_WB SSL libz TLS-SRP UnixSockets

That is another layer or

[2018-03-15 18:47] Anipik commented on #25535
yeah I am just waiting on the new version of coreclr in corefx

[2018-03-15 18:47] tmds commented on #28002
I think it makes sense to look at how other runtimes (node, python) do this. Our users are devs/runtime users, not openssl cli users.

[2018-03-15 18:48] wfurt commented on #28002
cc: @geoffkizer @karelz

[2018-03-15 18:48] fiigii commented on #27911
Personally, I prefer to always write explicit `TFrom` and `TTo` for this kind of type-cast functions.

[2018-03-15 18:50] karelz commented on #25731
@huanwu @zhenlan cc @danmosemsft I like the idea to make it more centralized to save overall cost. Is it something we could consider?

[2018-03-15 18:51] JeremyKuhne commented on #27038
I did fix issues right after this one was opened and changed the asserts: https://github.com/dotnet/corefx/pull/27102

#27504 tracks a different entry to the updated assert.

[2018-03-15 18:51] #27038 closed

[2018-03-15 18:52] wfurt commented on #27871
yes @pjanotti. The goal is to make new HttpHandler behave as old CurlHandler.
There is #23313 to possibly read credentials from a file. Curl can do that now, but HttpCurlHandler does not. There is always option to set credentials explicitly if anybody needs to.

[2018-03-15 18:54] JeremyKuhne commented on #26797
@SteveL-MSFT we've been unable to get a repro on this, I've added a test to see if we can flush out where our default casing determination isn't what we expect.

[2018-03-15 18:56] danmosemsft commented on #28091
@TigerBoom I assume this is in .NET Core 2.0? do you get the same results in .NET Framework ?

[2018-03-15 18:58] JeremyKuhne commented on #27978
Only for the APIs we aren't changing. If you change the APIs the entries should go away. (IsolatedStorage file should go away completely)

[2018-03-15 18:59] bartonjs commented on #28002
@tmds The only reason that we read the environment variables at all is to be consistent with OpenSSL, and it's a behavior we've had since long before .NET Core 1.0 released.  It is primarily so that the default utilization of OpenSSL's TLS trust and .NET's X509Chain don't produce different answers.   (Or, rather, that we aren't ever in a case where the TLS default validator says "yes" but X509Chai

[2018-03-15 19:00] satano commented on #26447
Can I take this one?

[2018-03-15 19:01] GrabYourPitchforks commented on #25843
There's also resistance to making this change in MemoryPool. If I can collect experimental numbers to demonstrate that this has negligible performance impact, would people be willing to reconsider this issue?

[2018-03-15 19:02] karelz commented on #28002
Can we scope the change just to HttpClient code paths? Being compatible with curl / .NET Core 2.0 is important.

[2018-03-15 19:03] danmosemsft commented on #28082
Let's see whether this happens on 2.1

[2018-03-15 19:03] yanc commented on #28097
@karelz @stephentoub
Here's a sample project reproducing this problem: [https://www.dropbox.com/s/nvyp93sg79odxhz/TestWS.zip?dl=0](dropbox link)

Please give it a go.

[2018-03-15 19:04] KKhurin commented on #26536
This is nice to have, but not urgent (as this can be worked around by changing the polling timer interval in config).

[2018-03-15 19:07] 4creators commented on #27911
But it is not the way C# code is written by majority of coders. Most of the C# language features introduced over last years are aimed at reducing amount of code written and not to increase it.

[2018-03-15 19:08] danmosemsft commented on #26447
@satano yo'ure assigned..

[2018-03-15 19:09] KKhurin commented on #26537
Only makes sense to fix after dotnet/coreclr#14561 & dotnet/corefx/issues/25396 are fixed. Aligning milestone (future) with dotnet/coreclr#25396 milestone.

[2018-03-15 19:09] tmds commented on #28002
@bartonjs I don't understand how _OpenSSL's TLS trust_ and _.NET's X509Chain_ could produce different results if they take into account SSL_CERT_DIR/SSL_CERT_FILE the same way. My view is from usability perspective rather than implementation perspective.

@karelz SSL_CERT_DIR/SSL_CERT_FILE was not a feature in 2.0 (although we are backporting it to .NET Core 2.0 for RHEL due to customer requests).

[2018-03-15 19:11] KKhurin commented on #26586
Will wait for another failure to investigate.

[2018-03-15 19:13] karelz commented on #28002
@tmds I am lost then. What is the customer ask exactly? To work as other tools do (curl, node, python)?

[2018-03-15 19:13] KKhurin commented on #27980
@weshaggard if there is something to change here we better do it before 2.1, right? Let me quickly try to see if the config will still work with these types being internal.

[2018-03-15 19:14] TigerBoom commented on #28091
@danmosemsft Sorry I'm really new to this.  I do PowerShell but don't really understand the .Net ecosystem.  Can you tell me how to verify the environment details you need?  Something I can run from a PS console would be best since I don't use VS.

[2018-03-15 19:15] karelz commented on #26586
@KKhurin please look proactively into test results history (e.g. Kusto). The bugs are not updated with each failure.

[2018-03-15 19:19] danmosemsft commented on #28091
@TigerBoom sure. What do you get from these commands? I showed the results I get as examples:

[code]

[2018-03-15 19:19] bartonjs commented on #28002
No, SslStream would need to know about it, and X509Chain would need to know about it.  That's a lot of plumbing to a security-critical component.

Then it seems like there's not a compat issue here.  The change to the sockets handler means HttpClient behaves like SslStream already did.

My assertion is that they do *currently* take them into account the same way.  Curl didn't let OpenSSL do the de

[2018-03-15 19:22] KKhurin commented on #27933
Thanks for reporting this @MichaCo!
I'll take a look.

[2018-03-15 19:23] sdmaclea commented on #27911
It is also not technically impossible to support `Cast<T>` and `StaticCast<T,U>`.  Although long term I suspect API design will want to select only one.

I would also like an opinion from @CarolEidt and/or @eerhardt since this is one of the next API to add to arm64.

[2018-03-15 19:24] mconnew commented on #25731
@karelz, I disagree. If a serialization bug is introduced in a code change in the CookieCollection class, which test project should fail due to the product change? Should 3 different test projects for 3 different serializers fail for 1 bug in a different project? I think that a bug introduced in the CookieCollection class should cause a failure in the test project for the CookieCollection class. T

[2018-03-15 19:24] TigerBoom commented on #28091
Not promising!

PS H:\> [System.Console]::WriteLine([System.Runtime.InteropServices.RuntimeInformation]::FrameworkDescription)
Unable to find type [System.Runtime.InteropServices.RuntimeInformation]: make sure that the assembly containing this
type is loaded.
.....
PS H:\> [System.Console]::WriteLine([System.Runtime.InteropServices.RuntimeInformation]::OSDescription)
Unable to find type [System.Ru

[2018-03-15 19:28] tmds commented on #28002
The use-case is to allow a non-root user to specify trusted certificates.

This is what was implemented here: https://github.com/dotnet/corefx/pull/25219
The behavior of using SSL_CERT_DIR/SSL_CERT_FILE is same as curl/node/python.

The test added then fails for SocketHttpHandler, which behaves the same as openssl cli.

And even when changed, they can take them into account the same way.

Just lik

[2018-03-15 19:37] danmosemsft commented on #25731
@mconnew we verify BinaryFormatter scenarios on everything [Serializable], including CookieCollection. Could you clarify where the bug might lie if BinaryFormatter succeeds but DCS does not?

BTW centralization of tests in one file need not imply the ownership model. We are just observing that the approach you see in https://source.dot.net/#System.Runtime.Serialization.Formatters.Tests/BinaryForma

[2018-03-15 19:38] yanc commented on #28097
@karelz

to reproduce:

1. Run in debug mode
2. Set breakpoint on WebsocketConnection.cs at WebSocketConn.ReceiveAsync call
3. Open testws.html (tested in Chrome). It connects to localhost wss and sends a block of 1050 characters.
Observe that breakpoint is hit multiple times, reading full buffer each time. EndOfMessage is never set.

Changing buffer size to over 1050 bytes results in correct mess

[2018-03-15 19:39] danmosemsft commented on #28091
@TigerBoom what OS are you on? Also do you know whether you are using "regular" Powershell (what you get with Windows typically) or "Powershell Core" (https://github.com/PowerShell/PowerShell)

On my Windows box, these commands work on both. I don't have Linux handy at this minute.

[2018-03-15 19:41] CarolEidt commented on #27911
This seems like a reasonable proposal - i.e. the notion of having a cast with a single generic argument. However, we are already well past the point of finalizing 2.1 API changes, and really this kind of feedback is what we are looking to get before finalizing the API.
Furthermore, I think it's worth discussing whether the simple name `Cast` is sufficiently expressive, as `Cast` (vs. `StaticCast`)

[2018-03-15 19:43] sscoleman commented on #2089
I am using  this code in a lambda function in AWS which runs on Linux in the background and I am getting this error.   "System.DirectoryServices.AccountManagement is not supported on this platform."
I am using core 2.0
[code]

[2018-03-15 19:45] #28093 closed

[2018-03-15 19:46] 4creators commented on #27911
I understand it but while writing just couple of functions it was just striking how often that operation is used and how tedious it is to write it. That kind of experience is difficult or impossible to predict without writing real world code.

If it is too late to change whole API perhaps we can implement `Cast<T>` as a software wrapper for `StaticCast<T,U>` as we did with `SetVector128` and `SetA

[2018-03-15 19:47] tarekgh commented on #2089
@sscoleman Yes, this is not supported on Linux yet. It is supported on Windows only.

[2018-03-15 19:48] sdmaclea commented on #27911
@jkotas had suggested that `StaticCast<>` was inconsistent with `Span` which chose `Cast` if I remember correctly.   Being from C++ world, I preferred `ReinterpretCast<>`  because both static_cast and cast in C++ imply type conversion.  However that was vetoed.

[2018-03-15 19:50] fiigii commented on #27911
I like this `Cast<TFrom, TTo>`.

[2018-03-15 19:51] mikedn commented on #27911
That's unfortunate. Reinterpret is a much more suitable name for this kind of stuff. No idea why would anyone veto that.

[2018-03-15 19:51] 4creators commented on #27911
We may have both: `Cast<TFrom, TTo>` and `Cast<TTo>`

[2018-03-15 19:52] krwq commented on #26724
Also failed exactly the same way here:
https://mc.dot.net/#/user/krwq/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.0.0~2F/test~2Ffunctional~2Fcli~2F/01ea1a10121fdfc6f3e577d66987b4deef97a507/workItem/System.Data.SqlClient.Tests

[2018-03-15 19:52] 4creators commented on #27911
With the latter implemented as software wrapper of the `Cast<TFrom, TTo>`

[2018-03-15 19:56] krwq commented on #28083
Interestingly it didn't auto-close when merged https://github.com/dotnet/corefx/pull/28102

[2018-03-15 19:56] #28083 closed

[2018-03-15 19:56] euclid47 commented on #2089
@sscoleman there is an issue created on it, https://github.com/dotnet/corefx/issues/24843.  It was said there was not enough community interest in it with the exception this question comes up all the time. So now you are in a crap spot. You spent time implementing directory services and then find out Linux is supported. Now you ask yourself why is this being touted as platform agnostic if there ar

[2018-03-15 19:56] 4creators commented on #27911
It is due to different naming conventions and history of C++ vs. C#

[2018-03-15 19:56] davidsh commented on #27549
Since this code use `WebRequestHandler`, it is specific to .NET Framework.  That handler class is not available on .NET Core.

[code]

[2018-03-15 19:57] sdmaclea commented on #27911
@mikedn I just read the original discussion in #26527 vetoed was a little strong.

[2018-03-15 19:58] eerhardt commented on #26860
I believe all the questions were answered in this issue.

w.r.t. adding `IsNormalized` and `Plane.Equals(Plane other, bool MathematicallyEquals)`, I don't see these new methods adding value over the existing functionality.  Therefore, I'm going to close this issue.

If you feel strongly these new methods should be considered, please follow the https://github.com/dotnet/corefx/blob/master/Documenta

[2018-03-15 19:58] #26860 closed

[2018-03-15 20:00] jchannon commented on #24843
No. It works. Nothing to maintain

[2018-03-15 20:08] pasikarkkainen commented on #24843
So did anyone try porting System.DirectoryServices.Protocols to work using ldap library from https://github.com/VQComms/CsharpLDAP/tree/coreclrPort ?

[2018-03-15 20:12] jchannon commented on #24843
We haven't as we didn't need it however open to pull requests. We can then
publish to nuget. Currently packaged in an internal nuget feed.

On Thu, 15 Mar 2018 at 20:09, pasikarkkainen <notifications@github.com>
wrote:

[2018-03-15 20:15] huanwu opened #28113 "Area-Serialization Sprint 133"
The issue is for tracking issues to be done in sprint 133 (due by 4/6/2018)

[2018-03-15 20:18] pjanotti commented on #26952
/cc @ianhays @ViktorHofer this is more related to compression.

[2018-03-15 20:18] karelz commented on #26586
Top post updated with history as of 3/15. No repro since 2/9, maybe it got fixed?
If you think it might have, I recommend to close it and wait for another occurrence to reopen the issue.

[2018-03-15 20:19] tmds commented on #28002
... but that would be a breaking change for SslStream (and other?), which probably is a no-go.

[2018-03-15 20:21] weshaggard commented on #27980
Yes it would be a good idea to make sure this is correct before we ship it stable in 2.1. I've not personally looked deeply at the library so I'm not sure what is necessary or not, but in general unless there is a reason we shouldn't have extra public APIs in the implementation that aren't in the ref.

[2018-03-15 20:21] StefanoD commented on #27549
Ok, thx. Where shall I report it?

[2018-03-15 20:21] KKhurin commented on #26586
yes, it might have (at least this particular place).
There might be more time-dependent tests and I'd open separate bugs for them.

[2018-03-15 20:21] #26586 closed

[2018-03-15 20:23] mconnew commented on #25731
@danmosemsft, there's a bug in BinaryFormatter which we didn't fix on the full framework because it could have some really difficult to track down compat issues. The OnDeserialization callback won't get called sometimes if someone has overridden `GetHashCode` and `Equals` and two separate instances say they are the same object when taking into account the result of those two methods. In the tracki

[2018-03-15 20:28] davidsh commented on #27549
@karelz pls advise on best way to report .NET Framework bugs.

@StefanoD, A do have a comment about your current snippet of repro code:

[code]

It is not clear from this code whether or not the client certificate is good.  Where did those bytes[] come from? Normally a client certificate needs to be trusted and have the private key accessible.  And that usually happens only when retrieving a clien

[2018-03-15 20:29] liquidboy commented on #24843
we, like @jchannon , have successfully forked novell's LDAP library and are using it in an ASP.NETCore "Standard" application ..  https://github.com/Aconex/Novell.Directory.Ldap.NETStandard/commits/master

The LDAP server we are using is OpenDJ  https://en.wikipedia.org/wiki/OpenDJ

We have 3 servers running OpenDJ replicated …

Been working great for over 2 yrs

[2018-03-15 20:29] mikedn commented on #27911
Naming conventions and history have nothing to do with this, they don't impose how to name a feature that's practically new to .NET/C#.

[2018-03-15 20:29] benaadams commented on #27268
Then stick in the inheritance before it goes live and can't be added?

[2018-03-15 20:34] karelz opened #28114 "Announcement: Driving towards zero 2.1 bugs by March 31 (ZBB)"
As we are getting closer to .NET Core 2.1 [ship dates](https://github.com/dotnet/core/blob/master/roadmap.md#upcoming-ship-dates), we would like to **drive [2.1.0 bugs](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20milestone%3A2.1.0) close to 0 by March 31** = ZBB (zero bug bounce) date.
Note: We will keep fixing 2.1 issues after that, until the final release (e

[2018-03-15 20:36] thedevopsmachine commented on #2089
It's fairly obvious if you look at the greater Microsoft strategy. Microsoft are throwing ALL of their development resources into Azure, and that includes Active Directory. Check out "What's new in 2016", it's mostly AzureAD/Hybrid investments. https://docs.microsoft.com/en-us/windows-server/identity/whats-new-active-directory-domain-services.

Microsoft is not investing in this library for Linux

[2018-03-15 20:39] terrajobst commented on #2089
`System.DirectoryServices` is currently a Windows-only API and it's part of the [Windows Compatibility-Pack for .NET Core](https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/). In principle, we can make parts `System.DirectoryServices` but we haven't had the resources to do that yet and #24843 is tracking that item.

Why are we allowing to ins

[2018-03-15 20:43] karelz commented on #28114
See our progress on bugs in 2018 (as of yesterday 3/14 13:38 PT): https://twitter.com/ziki_cz/status/974384999423082496

[2018-03-15 20:44] terrajobst commented on #2089
@thedevopsmachine

That's not how I see it. As you pointed out, we intend to make money via Azure. And Azure is a cloud platform that offers a wide variety of technologies and operating systems. We have no business interest to promote Windows in the cloud over Linux in the cloud. But of course, .NET has had a strong presence on Windows for 15 years. Making things fully functional across all operat

[2018-03-15 20:48] SteveL-MSFT commented on #27990
Based on my investigation, it appears to be an issue with ShellInABox https://github.com/shellinabox/shellinabox/issues/428

[2018-03-15 20:48] #27990 closed

[2018-03-15 20:49] danmosemsft commented on #25731
@mconnew historically, how common are those cases? My concern is that it doesn't scale to have type owners also own testing they work with the various Microsoft serializers.

Presumably there are also cases where individual types throw up bugs in DCS itself.

The BinaryFormatter model is that my team owns https://source.dot.net/#System.Runtime.Serialization.Formatters.Tests/BinaryFormatterTestData

[2018-03-15 20:50] yanc commented on #28097
@karelz This is just an expanded version of what I've previously put on SO. Is this what you were looking for?

[2018-03-15 20:51] danmosemsft commented on #27990
Thanks for helping figure that out, @SteveL-MSFT .

[2018-03-15 20:52] danmosemsft commented on #27990
That ShellInABox repo looks semi-inactive so it may be that whoever wants this to work will have to have a shot themselves (if they accept PR's)

[2018-03-15 20:53] 4creators commented on #27911
There is an interesting C# language proposal https://github.com/dotnet/csharplang/issues/1349 `Champion: "Partial Type Inference"` which would allow to simplify usage of API with 2 type parameters.

[2018-03-15 20:58] tarekgh commented on #28114
@karelz why we don't use https://github.com/dotnet/announcements/issues for the announcements instead? it looks this would be a better place for the whole release.

[2018-03-15 20:59] tarekgh commented on #28114
CC @AlexGhiondea

[2018-03-15 21:01] saurabh500 commented on #27260
@iamatinkerer Here you go https://github.com/saurabh500/corefx/blob/67468a0b81f46702471716965f01817ec2adb9a2/src/System.Data.Odbc/src/Resources/System.Data.Odbc.OdbcMetaData.xml

[2018-03-15 21:05] weshaggard commented on #26214
Yeah this doesn't seem to be related to System.Data. A quick search shows it has happened in random tests (https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=%22Exit+code+was+131+but+it+should+have+been+42%22&type=Issues). I renamed this issue to failed with "Exit code was 131 but it should have been 42" and we can use this to try and get a repo. If anyone hits any similar failures please li

[2018-03-15 21:08] liquidboy commented on #2089
i agree with the approach with having a consistent api x-plat and x-framework, but it is soul destroying whenever ive encountered that dreaded error .. i feel for @sscoleman   ...

[2018-03-15 21:25] mconnew commented on #25731
Ultimately I think it comes down to the question of who is responsible to ensure that a type attributed with Serializable can be serialized? I believe it's the person who is responsible for putting that attribute there.
I understand what you're saying about how simple the tests can be, but DCS is a little more complicated as the size of our output is a lot bigger so our tests can't be one liners (

[2018-03-15 21:26] safern commented on #27647
@AlexRadch does this repro in .NET Framework? Cause from the stack trace and `System.Runtime.InteropServices.ExternalException : A generic error occurred in GDI+` sounds like an issue in GDI+ rather than in our implementation.

[2018-03-15 21:29] saurabh500 commented on #24480
@roederja2 what version of SqlClient are you testing?
Also are you using encrypted connections and are you using asynchronous APIs?

[2018-03-15 21:31] safern commented on #28012
@satano thanks for your report, this is a dup of: https://github.com/dotnet/corefx/issues/27647

Will close it as we have more details in the other issue.

[2018-03-15 21:31] #28012 closed

[2018-03-15 21:31] karelz commented on #28114
cc'ing recent contributors to CoreFX repo (in random order):
@AlexRadch @kasper3 @AppBeat @jswolf19 @Jlalond @cwe1ss @sherlock1982 @mattpwhite @joelbraun  @sdmaclea @fiigii @tmds @MarcoRossignoli @JonHanna @sylveon @petarpetrovt @RemiBou @omajid @kekekeks @hughbe @benjamin-hodgson @AlexG2017 @artkpv @clarkis117 @github-john-doe @nietras @baulig @JeffCyr @pepone @alpencolt @jbednar79 @Lroca88 @k0st

[2018-03-15 21:48] karelz commented on #28114
and more:
@OzieGamma @bording @svick @WinCPP @weitzhandler @Thiez @gfoidl @Douglas-Cleghorn @testfirstcoder @justinvp @KeithHenry @pentp @dajeffri @logiclrd @ah- @davidmatson @strajkovmsft @ayende @kassemsandarusi @philippgille @alfredmyers @diamondo25 @mqudsi @the-dwyer @TylerBrinkley @jcdickinson @madelson @LotharOfTheHillPeople @EgorBo @peterhpchen @TheSatoshiChiba @satano @fadamsen @JohnTortug

[2018-03-15 21:52] sscoleman commented on #2089
Thanks for the feedback guys. For anyone looking for similar. One of the other guys on my team did it like this. But it is not recursive to bring back all the nested groups. Ill follow other thread to see where it goes.

  string searchroot = System.Environment.GetEnvironmentVariable("SEARCH_ROOT");
                    string ad_user = System.Environment.GetEnvironmentVariable("AD_USER");

[2018-03-15 21:54] JeremyKuhne opened #28116 "System.Net.Http.Functional.Tests are consistently failing in OSX CI"
Most of the runs are failing with -3 running System.Net.Http.Functional.Tests:

https://ci3.dot.net/job/dotnet_corefx/job/master/job/osx-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/

@davidsh, @wfurt

[2018-03-15 21:56] davidsh commented on #28116
cc: @karelz

[2018-03-15 22:00] karelz commented on #28114
and more:
@FransBouma @Cronan @kgarlinski @lzybkr @cod7alex @adriangodong @stukselbax @reaction1989 @KostaVlev @qmfrederik @4creators @yvanin @deinok @jaredcnance @ektrah @brunolins16 @sh3ev @MrDesjardins @MaxHorstmann @jpelcis @wateret @jiria @hqueue @SimonCropp @supporterPL @teeram @poizan42

[2018-03-15 22:13] ahsonkhan opened #28118 "Improve test coverage of Span.SequenceCompareTo for T != byte"
We need to add more tests for MemoryExtensions SequenceCompareTo for T = int, long, string, etc.

For context - https://github.com/dotnet/corefx/pull/28080#discussion_r174811155

[2018-03-15 22:14] divega commented on #27849
**System.Data triage:** Although in principle we are not against changing the behavior so that `empty=''` starts having the exact same semantics as `empty=` (i.e. Contains returns false, the key doesn't get rendered in the connection string again), it doesn't seem important enough for us to address it or to spend much time doing a deeper analysis on whether this could break anything.

I am going t

[2018-03-15 22:14] #27849 closed

[2018-03-15 22:15] wfurt opened #28119 "HttpClient can sometime take long time to get response"
This was originally reported by @avanderhoorn. According to their telemetry  some simple requests are taking more than 30s to complete:

After some investigation it seems like this is caused by using stalled connection from connection pool.
 The basic repro is to make HTTP request, wait 5+ minutes and do do another request.
When second request goes out write to socket buffer succeeds and client wa

[2018-03-15 22:22] #26601 closed

[2018-03-15 22:32] weitzhandler commented on #10752
@karelz
Can we push this issue into 2.1, this has been a long issue that is rather compelling in almost any UI and MVVM scenario, and improves performance drastically.

The API I proposed is no much other from the API that was already approved. It just added more flexibility and a few more essential options.

[2018-03-15 22:33] wfurt commented on #28119
may be related to #25040

[2018-03-15 22:43] #25133 closed

[2018-03-15 23:02] tarekgh commented on #27518
@valenis is this something you already do? or are you asking the owners to do it? could you clarify?

[2018-03-15 23:04] tarekgh commented on #27518
also, we tag the issues with one area. so I have removed the globalization tag.

[2018-03-15 23:09] #25535 closed

[2018-03-15 23:10] pjanotti commented on #26422
Fixed by PR #27652

[2018-03-15 23:10] #26422 closed

[2018-03-15 23:11] Jlalond commented on #15554
Hey @karelz and all, I messaged Dan the other day, but I thought I'd field it here as well
![image](https://user-images.githubusercontent.com/25160653/37495619-66e13ea6-2884-11e8-8e34-3993671ad3e2.png)

I found the above line of code, and thought I understood it for testing. I.E. using that specific type as an index for this hashtable. So I populated the dictionary (inherits from hashtable for cla

[2018-03-15 23:13] pjanotti commented on #26410
Thanks for reporting and opening the issues @SemperPeritus I will close this one per PR #27652, the follow up for the other issues will be tracked on the other issues.

[2018-03-15 23:14] #26410 closed

[2018-03-15 23:16] danmosemsft commented on #15554
@Jlalond I guess you tried gitter, probably I should actually go there!

I don't know anything about this code. "X as Y" can return null even if X can be cast to type Y, if X is itself null. Does that help?

[2018-03-15 23:20] tarekgh commented on #27773
@huanwu

This is not possible because TimeZoneInfo can be created using custom rules which would be user specific.

[2018-03-15 23:27] danmosemsft commented on #25731
Sounds like it makes sense that the test(s) reside in CoreFX. It seems fine to me they are in one test library, that works well for binary formatter, and nothing can get committed without those tests passing. So the question is (1) who creates such tests for DCS, DCJS, XmlSerializer (2) who maintains them.

What do you think of you guys laying down in CoreFX similar skeleton tests for each of your

[2018-03-15 23:28] MohammadHamdyGhanem commented on #27167
@eerhardt
So, all we need is a new keyword that works as arithmetic constrain (i.e. enum, arith or num)
[code]
The purpose of the arith keyword is to tell the compiler at design time that this is a valid operation, and to ensure that T must be a numeric data type. At run time, T is known and  x + y should execute as normal.

[2018-03-15 23:41] MohammadHamdyGhanem commented on #27167
It came to me now, that we also need to constrain object and dynamic types. maybe something like this:
[code]

Or it can be shortened like this:
`var z = (arith)enum1 + (arith)enum2;`

But I think Enum class should be some how marked as arith, so there will be no need for any more casting:
`var z = enum1 + enum2;`

[2018-03-15 23:48] tarekgh opened #28122 "CI fail in System.Net.Http.Functional.Tests.HttpClientHandler_Authentication_Test.PreAuthenticate_FirstRequestNoHeader_SecondRequestVariousStatusCodes_ThirdRequestPreauthenticates"
## Failure details

[code]

## History of failures

Date | Build | Details
-- | -- | --
2018/3/15 | de2b82fe34b19d1faa8eb45f0a180f80d932bd3a | [link](https://mc.dot.net/#/user/tarekgh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/de2b82fe34b19d1faa8eb45f0a180f80d932bd3a/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler

[2018-03-15 23:51] davidsh commented on #28122
This test is using the loopback server.  And this test is a recently new test.

I suspect there is a bug in the test loopback server.

cc: @karelz @stephentoub

[2018-03-15 23:51] danmosemsft opened #28123 "Flag unprotected concurrent dictionary access"
`Dictionary<K, V>` is not threadsafe for concurrent access involving writes. If this occurs the datastructure can get corrupted and more and more threads can get "captured" inside `FindEntry` or `TryInsert` (or certain other methods), looping continously until the process terminates. `HashSet<T>` has a similar backing datastructure and can similarly "capture" threads inside `AddIfNotPresent` (or o

[2018-03-16 00:01] Jlalond commented on #15554
I understand what you're saying, but we're checking for a type, and said type is a concrete type, and we have an object of that type, and I'm confused why it's still returning null

[2018-03-16 00:10] palenshus commented on #19889
@DanAtkinson thanks for trying!

[2018-03-16 00:13] GrabYourPitchforks commented on #28062
Manually verified against full framework by setting environment variable `COMPLUS_gcallowverylargeobjects=0` and running, observing failure, then setting to 1 and running, observing success.

[2018-03-16 00:14] mikem8361 commented on #27343
Done.

[2018-03-16 00:14] #27343 closed

[2018-03-16 00:18] joshfree commented on #13210
reactivating and setting the milestone to 1.1 as this is failing in CI for the 1.1 servicing branch

[2018-03-16 00:24] danmosemsft commented on #28123
Using the simple program below in a few tries the loop was always of an entry whose `next` pointed to itself. That is not necessarily the only kind of loop.

[code]

[2018-03-16 01:06] AlexRadch commented on #28114
I starting add tests for ReadOnlySequence longer than int.Max. It is second part of issue https://github.com/dotnet/corefx/issues/26768.

Also I created PR with new tests for ReadOnlySequence that it fail. https://github.com/dotnet/corefx/pull/28095 . If new tests are correct I will try to remove bugs in ReadOnlySequence to pass new tests.

[2018-03-16 01:07] #23592 closed

[2018-03-16 01:45] vancem commented on #28123
@danmosemsft

My thinking about the problem also suggests that one node loops are likely to be the most common.

That suggest that simply testing for the single node loop at formation time (which is clearly wrong), may be a sufficient mitigation.   (we don't have to be perfect, just common, if we catch even 20% of the errors then give it 5X more time and it will fail (and this is just an alert).

[2018-03-16 01:47] #28021 closed

[2018-03-16 02:26] karelz commented on #28114
Great, thanks! I will lock the discussion here to keep it scoped to updates to the announcement.
For specific suggestions, questions and concerns, please use existing issues or file new ones (feel free to tag me).

[2018-03-16 02:35] mklement0 commented on #23592
@Anipik:

Kudos for getting this done.

My concern was that choosing `System.Collections.ObjectModel.Collection<string>` as the type of the - get-only - `.ArgumentList` would make it potentially cumbersome to populate the collection of arguments, as it would have to be done _one by one_ via the `.Add()` method.

If `.ArgumentList` were settable, you could at least do something like:

[code]

I may

[2018-03-16 02:43] AlexRadch commented on #27647
@safern I do not test netfx. I will try it later.

[2018-03-16 02:45] billknye opened #28131 "Span Support for Socket SendTo and UdpClient"
Checking out the new Span based socket apis in 2.1 preview 1, I noticed the api of UdpClient doesn't have span based overloads.

Falling back to Socket, it appears there too the SendTo api is missing any overloads for Span and friends.

Digging deeper into [SocketPal.Windows](https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs#L203-L238),

[2018-03-16 02:46] AlexRadch commented on #27647
@safern I did not find netfx repository https://github.com/dotnet?utf8=%E2%9C%93&q=netfx&type=&language=

[2018-03-16 02:49] safern commented on #27647
There is no specific repo for netfx, actually in corefx you just need to run:

build.cmd -framework:netfx
msbuild path/to/test/project /t:rebuildandtest /p:targetgroup=netfx

[2018-03-16 02:50] jnm2 commented on #23592
There will probably be times where I'm passing around an IReadOnlyList<string> and like mklement0  say,s it looks like I'll have to foreach over it to use it with ProcessStartInfo.

[2018-03-16 03:16] Anipik commented on #23592
@mklement0 @jnm2 i understand the problem and can talk with @terrajobst  to update the api model

[2018-03-16 03:28] AlexRadch commented on #27647
Thank you, This is documented here https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md#debugging-netfx-tests-in-visual-studio

[2018-03-16 03:28] terrajobst commented on #23592
@mklement0

You can easily work this around by using collection initialization I'd argument is more readable then using `AddRange`:

[code]

The primary reason to use `Collection<string>` is that this type doesn't expose implementation. If in the future we decided we want to sync the `Arguments` collection with the the flat string string, we can return a derived type of `Collection<string>` that i

[2018-03-16 03:33] aaronfranke commented on #27167
@MohammadHamdyGhanem I think it would make more sense to call it `number` instead of `arith`

[2018-03-16 03:34] #28062 closed

[2018-03-16 04:00] AlexRadch commented on #27647
It seems the same fails except last: `..\..\..\build . -framework:netfx >test.log`
[code]

[2018-03-16 04:03] AlexRadch commented on #27647
And new `System.Drawing.Tests.BitmapTests.Ctor_NullGraphics_ThrowsArgumentNullException [FAIL]` fail added.

[2018-03-16 04:18] danmosemsft commented on #28123
Makes sense. Cc @jkotas any concerns/thoughts

[2018-03-16 04:25] Petermarcu opened #28132 "Get the .NET Core version number at runtime"
@IvanFarkas commented on [Sat Jan 27 2018](https://github.com/dotnet/core/issues/1242)

Is there a reliable way to get the **.NET Core version number** at runtime that works on **Nano Server** and **Ubuntu** **Docker** containers as well, please?
I've seen some hacks deriving it from folder structure that breaks when the app is deployed onto Nano Server and Ubuntu Docker container images.

[2018-03-16 04:28] danmosemsft commented on #28132
@IvanFarkas I'm curious for what purpose you need the version at runtime?

[2018-03-16 04:38] benaadams commented on #28123
Could do something like: https://github.com/dotnet/coreclr/compare/master...benaadams:dictionary-concurrent?expand=1

Isn't 100% and not sure about perf; but would catch a variety of situations (spins, double modify, change prior to return...)

[2018-03-16 04:47] jkotas commented on #28123
Agree that it make sense to do something here. I think we should guarantee that the Dictionary never hangs.

If a large scale clould service starts hitting it in production today when starts align, they are in trouble - spinning servers are much worse problem than crashed servers. Detecting the imminent hang 20% of the time does not get them out of the trouble.

[2018-03-16 04:49] danmosemsft commented on #28123
@stephentoub FHI

[2018-03-16 04:54] ahsonkhan opened #28133 "System.Net.Http.Functional.Tests Assertion Failed - We should only be here if cancellation was requested"
From https://github.com/dotnet/corefx/pull/28080 on OSX.1013.Amd64.Open:Debug-x64
https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/be5aaa6aafd5a19086974af807cb66588586e825/workItem/System.Net.Http.Functional.Tests/wilogs

[code]

@davidsh, @wfurt, @stephentoub

[2018-03-16 04:56] jkotas commented on #28123
For insert, we can piggy back on the existing collisionCount local to detect the hang.

[2018-03-16 05:00] benaadams commented on #28123
True, updated suggestion https://github.com/dotnet/coreclr/compare/master...benaadams:dictionary-concurrent?expand=1

[2018-03-16 05:02] joshfree opened #28135 "Why does HttpClient in Core allow GET requests with bodies, while Framework version does not?"
_Opened on behalf of @IanKemp from https://github.com/dotnet/core/issues/1333_

-------
_@IanKemp writes -_
As per the title, the `HttpClient` implementation between Core and Framework differs in this regard. Consider the following example:

[code]

* In .NET Core (tested with 1.0 and 2.0), the above executes successfully.
* In .NET framework (tested with 4.7.1, 4.6.1, 4.5), the above throws a `Pr

[2018-03-16 05:14] jkotas commented on #28123
This is going to hurt on non-Intel HW. I think we should just start with the simple change that just detects the hangs. Once we get feedback that it is not sufficient, we can improve upon it.

[2018-03-16 05:18] benaadams commented on #28123
Should it be a failfast error?

[2018-03-16 05:19] danmosemsft commented on #28123
Are the version checks adding anything over putting  the simple`loops >= entries.Length` check in each of the places we loop over entries? Simple easy to understand and provably catches all hangs?

[2018-03-16 05:24] benaadams commented on #28123
They catch data structure corruption that doesn't necessarily lead to a hang (e.g. Earlier in a chain of concurrent uses)

Though slowing Dictionary down makes me sad

[2018-03-16 05:25] danmosemsft commented on #28123
IMO a Failfast in release is only for indeterminate corruption or security violation. It has to be bad enough that it is better to immediately destroy all process state. If we supported UI apps this is a case where a user could reasonably try to save their state, or at least the app could try to write to a recovery file.

If it helps we could throw something more exotic than InvalidOperationExcept

[2018-03-16 05:31] danmosemsft commented on #28123
I suggest the goal should be a targeted fix just to turn hang into fault. It is a specially insidious case of corruption.

[2018-03-16 05:31] benaadams commented on #28123
Concurrent use of the Dictionary could lead to a torn write (between two Inserts) of an Entry with a key not matching it's value; if you are using the data to store user info or make decision you will be in a very bad way (cpu usage aside)

[2018-03-16 05:41] benaadams commented on #28123
Could "fault" the Dictionary on detection and make every operation on it fail after; rather than fail fast? (as per enumerator)

[2018-03-16 05:45] danmosemsft commented on #28123
You could just null out _buckets... It's useless at that point anyway. It leaves entries rooted, which might be useful in dump analysis.

[2018-03-16 05:55] wfurt commented on #23009
hi @anjmao, sorry for the delay. I was able to get this finally running.  Since this is quite trivial I did run API directly using go run and then I use use "dotnet run" to start netcore app.
The connection to 5002 port peaked at 512 and stay flat through out the test run.

Since the original post was on preview build, could you please try it again with released version (or possibly use 2.1 previe

[2018-03-16 05:55] wfurt commented on #23009
BTW I'm running without containers on osx 10.12.6

[2018-03-16 07:46] StefanoD commented on #27549
@davidsh The client certificate has been created by me and is normally not trusted. But this is not a problem, because my peer does a custom validation (by checking the fingerprint).
The certificate is an an embedded ressource (*.resx) and retrieved as shown in the code and it is indeed a pfx file.

As I said before: The `AccessViolationException` didn't always happen.

How should I store my certi

[2018-03-16 07:49] sputier commented on #28118
I'd be glad to start contributing to corefx wth this one !

[2018-03-16 08:02] AlexRadch opened #28136 "Testing netfx fails in 27 tests localy on non english Windows"
Testing netfx fails in 27 tests localy on non english Windows with next log:
[code]

I can make logs for each failed tests.

[2018-03-16 08:03] EgorBo opened #28137 "ConcurrentDictionary is not marked as serializable"
The following code crashes:
[code]
with
[code]
(tested on .net core 2.0, 2.1-preview and master).
The regular dictionary serializes just fine.

UPD: just found https://github.com/dotnet/corefx/pull/19742
I am wondering will it be fixed or it's by design now?

[2018-03-16 09:06] MohammadHamdyGhanem commented on #27167
@aaronfranke
Any suitable name is OK.

[2018-03-16 09:06] davidfowl commented on #27268
@pakrym do you have any opinions here? It seems like a fairly minimal change and I dunno how much runway we have for 2.1 maybe another day 😄

[2018-03-16 09:23] roederja2 commented on #24480
4.5.0-preview1-26216-02, I also tried the PacketSize=4096 workaround. And yes, using asynchronous API. Strangely I'm seeing very high CPU usage. In the profiler I can't really see the reason for that. The highest % is 5% on the GetValues method in my DataReader implementation which is expected. Do you think I should try the synchronous API instead?

Not using encrypted connections.

[2018-03-16 09:32] EgorBo commented on #27841
@danmosemsft @MarcoRossignoli
Here is the script: https://gist.github.com/EgorBo/bc20111c9f7514f6ba584e1d91da60a6
it looks messy and I used a diff tool provided by git 🙂

[2018-03-16 09:55] andreycha commented on #20331
@vancem thank you for the answer. Maybe I did smth wrong but after I removed all [Event] methods from my event source and left only "perf counters" methods, it started to work fine.

I have one more question: do I need to register (https://github.com/Microsoft/dotnet-samples/blob/master/Microsoft.Diagnostics.Tracing/EventSource/docs/EventRegister.md) such event source which contains only counters?

[2018-03-16 10:02] davidfowl opened #28138 "WebSocketProtocol.CreateFromStream should allow specifying a receive buffer and a send buffer"
Currently you can specify a receive buffer to the WebSocketProtocol.CreateFromStream API but you cannot control the send buffer. Currently the managed websocket implementation always allocates a pooled array for sends which may not be optimal if the underlying stream is already buffered (it introduces an extra layer of unnecessary buffering).

I'd like to propose we change this method to the follo

[2018-03-16 10:37] roederja2 commented on #24480
So I tried the synchronous API on windows and I get a better insertion speed (although it seems to vary a lot - so not quite sure about that), but definitely lower CPU utilization. It now uses one core only whereas with the the async API it would max out all four cores on my VM. I'll try what the synchronous API does on linux.

[2018-03-16 11:06] MarcoRossignoli commented on #27841
@EgorBo great! TYVM

[2018-03-16 11:31] khellang commented on #27167
I think this will be solved by https://github.com/dotnet/csharplang/issues/110.

See @MattWindsor91's writeup at https://github.com/MattWindsor91/roslyn/blob/master/concepts/docs/csconcepts.md

[2018-03-16 11:47] stephentoub commented on #28123
That's true for most invalid concurrent access to shared state. I agree with Dan's assessment of needing a very targeted change; let's not let this scope creep.

[2018-03-16 11:49] stephentoub commented on #28137
This was by design. We only brought back runtime serialization for types where it was deemed really important for broad compat.

[2018-03-16 11:51] ViktorHofer commented on #28137
Find binary serializable types for .NET Core here: https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization#binary-serialization-in-net-core

[2018-03-16 11:53] #28137 closed

[2018-03-16 11:53] stephentoub commented on #28131
Exactly. We've added hundreds of span/memory-based methods based on an analysis of what's most common / impactful, but we fully expect more needs to be uncovered and more APIs will be added in the future. If this particular case is valuable to you, please feel free to submit an API proposal.

[2018-03-16 11:56] stephentoub commented on #28122
David, most (though not all) of these kinds of errors I've seen recently have come from WinHttpHandler, very frequently on Win7 (though this one was Win10). Is there something that makes that implementation more sensitive?

[2018-03-16 12:03] stephentoub commented on #28066
@pjanotti, any updates on this? I know you told me offline that this was inadvertently done with debug bits; have you been able to repro a similar difference with release?

I tried a some https / Negotiate / default credentials scenario locally and didn't see any such throughout difference. But maybe my usage differs in a meaningful way.

[2018-03-16 12:13] stephentoub commented on #28138
In general I'm fine with that. We made it just a single scratch buffer with the idea that the implementation could use it however it wanted, for receive, for send, or partitioned for both, even though currently the implementation only uses it for receives.

That said, how do you propose the implementation used the provided send buffer? From our conversation yesterday, I thought you didn't want the

[2018-03-16 12:21] anjmao commented on #23009
Hi @wfurt

I just update repository code and .net docker image to use `microsoft/dotnet:2.0-sdk`.
Here are results after wrk stopped running. It seems that updating version didn't helped and problem still exists. Could you try running it on docker with docker-compose to make sure you are also reproducing it? Thanks 👍
<img width="1075" alt="netcore_file_descriptors" src="https://user-images.githubu

[2018-03-16 12:30] jnm2 commented on #23592
So folks who build and pass around the arguments in a `IReadOnlyList` or `ImmutableArray` will have to foreach and add one at a time unless that is switched to a derived collection type. I'll probably add an AddRange extension method in projects like this. :+1:

[2018-03-16 12:54] Stamo-Gochev commented on #28100
@danmosemsft @weshaggard

I will be working on isolating the issue in a project that I can send you as the project is not open-sourced, but what I have found so far is that the problem is caused by the `System.Reflection.TypeExtensions` assembly not being referenced when the compilation is done and thus the `GetProperties` method is not available.

The references to the assemblies that are necessa

[2018-03-16 13:01] mklement0 commented on #23592
@terrajobst:

I appreciate the explanation.

The syntax you demonstrate is indeed great for initializing from a _literal_ and as simple as it gets.

The ability to initialize from a _preexisting collection_ with something like `.AddRange()` would indeed make a nice complement, as @jnm2 suggests.

[2018-03-16 13:05] danmosemsft commented on #28123
@benadams any interest in measuring the minimal loop counter change, since you already got started? And I know you have a special interest in Dictionary perf...

[2018-03-16 13:33] alexsandro-xpt commented on #11897
Take a look how I'm using @CShepartd

[code]

I'm using `TZConvert.IanaToWindows` from https://github.com/mj1856/TimeZoneConverter I will change it to NodaTime ASAP

[2018-03-16 14:12] johnkors opened #28139 "System.Data.SqlClient cannot be found"
Hi

In a specific scenario, I cannot load `System.Data.SqlClient` using the 2.0.6 runtime. The 2.0.5 runtime works.

A small repro : https://github.com/johnkors/sqlclient.runtime.test

A build of both runtimes:
https://travis-ci.org/johnkors/sqlclient.runtime.test/builds/354338277

In 2.0.5, I can use System.Data.SqlClient (ok, it fails to connect to a unknown db here - but using the dll works).
I

[2018-03-16 14:26] pjanotti commented on #28066
The first measurements were incorrectly made with debug builds. When I switched to an older release build initially there was a bit of perf advantage to WinHttpHandler, but, when sync'ed to b506a14ebcfedc7afde4a587b2d0977a35c52632 SocketsHttpHandler became a bit faster (I will collect precise numbers soon). That said it is not clear to me what change(s) are responsible for the improvement.

[2018-03-16 14:32] johnkors commented on #28139
The issue is the same on both windows and linux containers.

[2018-03-16 14:35] florimm commented on #28139
I have the same issue also, I think this happened after I upgraded visual studio.

[2018-03-16 14:38] stephentoub commented on #27871
That's not actually my top goal here.  Rather, libcurl supports these because they're a defacto standard for this kind of thing on unix, e.g.
https://wiki.archlinux.org/index.php/proxy_settings
https://msdn.microsoft.com/en-us/library/hh272656(v=vs.120).aspx
https://docs.cloudfoundry.org/cf-cli/http-proxy.html
https://unix.stackexchange.com/questions/212894/whats-the-right-format-for-the-http-prox

[2018-03-16 14:39] florimm commented on #28139
This:
[code]

[2018-03-16 14:45] florimm commented on #28139
@johnkors I think you mean System.Data.SqlClient 4.4.3

[2018-03-16 14:47] sdmaclea opened #28140 "Update cross build-rootfs for modern world"
As part of building docker image for arm64 cross compiling I spent a lot of time looking at build--rootfs.sh.  The following seem like changes which should be done...

+ Add latest Ubuntu version: Artful and Bionic
+ Remove unsupported Ubuntu versions: Vivid and Wily
+ Add latest lldbdev versions: 4.0, 5.0, 6.0
+ Update lldb default to 3.9 to be consistent with non-cross build
+ Drop old lldb vers

[2018-03-16 15:08] sdmaclea commented on #26527
@eerhardt @CarolEidt @RussKeldorph

These are not currently implemented.  I think they their absence will make the Arm64 SIMD intrinsics difficult to use.  I think we could safely implement them in CoreCLR and expose the API in CoreFX in time for Zero Bug Bounce.

Is that still an option?  Or will the PR's be deferred till after ZBB.

[2018-03-16 15:12] eerhardt commented on #26527
If we can't complete simple scenarios with the ARM64 intrinsics APIs, then it doesn't make sense to leave them in.  So I'd suggest at least getting a simple end-to-end scenario working, or removing the APIs all together.

I would take the PRs to complete a simple end-to-end scenario if they were completed before ZBB.

[2018-03-16 15:25] eerhardt commented on #27911
Agreed with this.  We have to stop churning the API at some point so it can be shipped.  We can change the API post-2.1, which is why we made it experimental for 2.1.  This suggestion can go on that list.

[2018-03-16 15:30] IvanFarkas commented on #28132
:-)
I need to know.

[2018-03-16 15:31] kasper3 commented on #28135
This maybe a breaking change with older versions of HttpClient, but it is useful. `curl` supports GET with body `curl -d "stuff" -XGET http://site/path`.
GET is idempotent, that means the contents of request shouldn't change the response: https://tools.ietf.org/html/rfc7231#section-4.2.2 suggests PUT, DELETE and safe methods are idempotent, and [4.2.1](https://tools.ietf.org/html/rfc7231#section-4

[2018-03-16 15:40] vancem commented on #28123
I want to push back on the desire catching 100% (or near) of the hangs.

Yes, if these hangs happen in production it is unfortunate, but it is no worse than now, AND it takes only one instance of this throw for users to be alerted that there is a problem.    Moreover, as Ben has pointed out, hangs may be the most obvious issue but frankly I were running a service I would be MORE concerned about th

[2018-03-16 15:40] Clockwork-Muse commented on #28132
@IvanFarkas - well, there's a difference between "I'd like to know to log it on program startup", and "I'd like to know for feature detection/bug workarounds"....

[2018-03-16 15:46] kasper3 commented on #26603
@KrzysztofCwalina, there is no API proposal for MMF Memory/Span overloads, should this issue be converted to `api-needs-work`. It will help downstream projects (serializers and other data computers etc,) waiting to update to .NET Core 2.1, if MMF also join the Span(t) and Memory(t) club. Thanks!

[2018-03-16 15:52] pakrym commented on #27268
To start with I don't like the naming, having PipeWriter that doesn't implement IPipeWriter but instead returns it is very weird.

Do we have other examples of downcasteble marker interfaces that have a single property? It feels that example above is too unnatural, usually, we provide a set of constructors to allow calling class to pass whatever they have instead of trying to downcast things to su

[2018-03-16 16:05] davidfowl commented on #28138
I planned to pass `Memory<byte>.Empty` for sends. For receives we're passing in the minimum header length (14 bytes).

Yes, on further thinking maybe the send buffer should be a buffer size instead of a buffer itself. We would still pass 0 to turn buffering off completely but then it would let the internal implementation still rent up to that amount from the array pool if it wanted to. That way yo

[2018-03-16 16:07] jkotas commented on #28123
Yes, we should equivalent of the Feng's change. Turn HANGs into exceptions, and nothing else for now. I agree that we should not over-engineer this.

However, I do not understand why you are pushing back on detecting 100% of the hangs. It is exactly what Feng's change has done, and it is very simple.

[2018-03-16 16:14] jkotas commented on #28123
I suspect that folks responsible for keeping large sites alive would have different opinion about this. Living with a pager makes your coding style more defensive.

[2018-03-16 16:15] benaadams commented on #27268
How about this then? 😄
[code]

If you want a pipe fast-path on `ResponseStream` to avoid all the additional copies and internal buffering that happens via `HttpResponseStreamWriter`/`TextWriter` for both MVC and Json, its a very easy way to present as streams and pick up the optimizations while dropping the use, contention and additional memory use of ArrayPool (i.e. no api changes to take advanta

[2018-03-16 16:17] stephentoub commented on #28138
I'm ok with that.

How are you doing the 0-byte receive?  You're doing it on the underlying connection for the stream you passed to WebSocket, and then only calling WebSocket.ReceiveAsync when you know there's something there to read?

You mean that's what you want to do, rather than what you're currently doing, as that will require a change in the implementation, no?

[2018-03-16 16:18] benaadams commented on #28123
Then you'll ask me to write tests ;)

[2018-03-16 16:19] vancem commented on #28123
I am OK with Fengs change (simply detecting hangs).   It is simple and low cost (again we should measure).   I may have been misinterpreting feedback, by my pushback on 100% was about the more complex changes that were suggested that catch more stuff (with _version).

If we are going with Fengs suggestion I am happy.

[2018-03-16 16:25] vancem commented on #28123
I should note that while Feng's change has the nice compat feature, my expectation is that hangs only account for a small fraction of the corruption that is happening when you use things like Dictionary in concurrent environments.   Lost entries seem like the most likely problem (and lost free list entries).  We are not detecting these (almost by design because of compat), which I think is unfortu

[2018-03-16 16:27] karelz commented on #28138
If we need a change to API, we should finalize it ASAP. We will also need shiproom approval (we are past API freeze).
How big change to the implementation do we expect? Couple of hours of work, or more?

[2018-03-16 16:28] vancem commented on #20331
That is surprising behavior.   It is not how it is supposed to work.

No.   EventRegister only makes sense if you want to use EventSource to log things to things like the windows event viewer.

[2018-03-16 16:29] karelz commented on #10752
I don't think it is a good idea to rush this API. Moreover, technically speaking we are past API freeze. Given that the change and the new API shape didn't get enough scrutiny from community / experts tells me it is not as simple as it looks.
If I remember correctly, even the original approval was a bit open-ended with "_we need more implementation validation, before we are fully ok with the API_"

[2018-03-16 16:29] weshaggard commented on #28100
@davidfowl @anurse any ideas why HostingEnvironment seems to not work here? Is there some difference between 1.1 and 2.0 that needs to be accounted for?

[2018-03-16 16:35] MarcoRossignoli commented on #22026
@safern i think this could be closed, i checked source and seems [this](https://github.com/dotnet/corefx/pull/24656) pull fix the issue.

[2018-03-16 16:38] karelz commented on #28136
@AlexRadch can you submit fixes to the tests? That would be very valuable. Also, did you check previous bugs? I have seen few similar specific bugs filed.

[2018-03-16 16:39] davidfowl commented on #28138
the plan is to do it at both layers. Using libuv this is already the case and we're now trying to add it to the socket transport https://github.com/aspnet/KestrelHttpServer/pull/2393. SignalR also has to do it at the websocket layer https://github.com/aspnet/SignalR/pull/1603. The chain looks like this:

[code]

That's what the implementation lets us do right now.

[2018-03-16 16:40] benaadams commented on #28123
Added PR just to break the loops https://github.com/dotnet/coreclr/pull/16991

[2018-03-16 16:40] davidfowl commented on #28138
How big change to the implementation do we expect? Couple of hours of work, or more?

Agreed, it's not that much work. Probably a day with tests but @stephentoub can better estimate.

[2018-03-16 16:43] stephentoub commented on #28138
It does?  Not efficiently:
https://github.com/dotnet/corefx/blob/23165cee77ae4dd7a7645b7927872948bb27a73e/src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs#L698

[2018-03-16 16:45] stephentoub commented on #28138
Yeah, that's about right, maybe two days, as whatever's done here needs to work well for both ASP.NET and ClientWebSocket, which might mean tweaking SocketsHttpHandler as well, depending on the design that's landed on here.

[2018-03-16 16:46] safern commented on #22026
A right. Thanks @MarcoRossignoli

[2018-03-16 16:46] #22026 closed

[2018-03-16 16:49] karelz commented on #28135
It would be good to know if SocketsHttpHandler allows it or not (it should for compat with curl/winhttp). If it does not, please file a new bug.

.NET Framework is separate (older) implementation based on Sockets as well. If it doesn't allow these request, it is likely a more strict RFC interpretation. Given that GET bodies are useless (they are ignored by servers) and that it is not a regression

[2018-03-16 16:49] #28135 closed

[2018-03-16 16:50] stephentoub commented on #28135
It does.

[2018-03-16 16:54] karelz commented on #26210
@kasper3 thanks for validation on 2.1! That is very useful!
Closing as fixed.

[2018-03-16 16:54] #26210 closed

[2018-03-16 16:56] davidfowl commented on #28138
Not as efficiently as it could but we're working with the API patterns we have. The websocket doesn't yield until the header is read and when we pass in a 0 byte payload buffer, it returns telling us there is data and then we read again. Unfortunately it doesn't communicate the payload length to the caller, that could let us drain the receive without doing 0 byte reads in between but it's somethin

[2018-03-16 16:58] stephentoub commented on #28138
I mean not efficiently at all.  If you give the WebSocket a 14-byte receive buffer when calling CreateFromStream, with the current implementation as far as I see you'll never get more than 14 bytes at a time in any call to ReceiveAsync.

[2018-03-16 16:59] davidfowl commented on #28138
Ugh, I thought I read that incorrectly. Well that's terrible and we need to fix that...

[2018-03-16 16:59] safern commented on #27647
So this sounds to me like the bug probably came from the pure port of netfx to .NET Core. I will debug and try to find the root cause. Thanks @AlexRadch for confirming that it repro. Also from the new error in netfx it is a bug in the test since we're asserting for the netfx paramName in the ArgumentNullException and we are trying to avoid doing that since this changes from version to version.

Se

[2018-03-16 17:04] MohammadHamdyGhanem commented on #27167
I looked at the Int32 structure here:
https://github.com/Microsoft/referencesource/blob/master/mscorlib/system/int32.cs
There is a commented out code that implements the IArithmetic<int>interface!>> I sarches for the reason and I fond this:
https://stackoverflow.com/questions/41832780/iarithmetict-interface-in-c-sharp
Clearly there was trilas to solve the numeric types problem, but it is not succe

[2018-03-16 17:16] AlexRadch commented on #27647
The test is correct, but Exception message is localized on my Windows from `Value of 'null' is not valid for 'g'.` to `Значение 'null' недопустимо для 'g'.`. Issue is that test expects english message but fails on equal localized message.

It suggest to test only exception class but not message.

[2018-03-16 17:16] huanwu commented on #27773
@tarekgh I will take a look if any workaround works for you case.

[2018-03-16 17:19] stephentoub commented on #28138
That's what I'm saying.  It wasn't written expecting that access pattern; if that's the access pattern that's going to be used with it, the implementation needs to change to accomodate.

[2018-03-16 17:25] johnkors commented on #28139
Yes, good catch. 4.4.3 works. Edited.

[2018-03-16 17:26] davidfowl commented on #28138
Thanks for the heads up, we can't merge that PR until this is fixed. Should I open another issue?

[2018-03-16 17:27] stephentoub commented on #28138
Sure.  And then maybe a PR? :smile:

[2018-03-16 17:43] pjanotti commented on #25632
I took a quick look and this is related to `Uri` generating incorrect `LocalPath` when the umlaut is present:

[code]

produces:

[code]

The prefix "file:" on the `LocalPath` makes it an invalid path.

/cc krwq

[2018-03-16 17:51] pjanotti commented on #25632
@JeremyKuhne the exception pointed [above](https://github.com/dotnet/corefx/issues/25632#issuecomment-348695293) was slightly better than the one that I got, see below. I suspect that it is due of `GetFullPath` not being called anymore. Perhaps opportunistically when fixing something else could you add the file name to the exception?

[code]

[2018-03-16 18:01] MohammadHamdyGhanem commented on #27167
@jnm2 , @yaakov-h , @aaronfranke , @eerhardt , @khellang
I posted a new proposal with a new approach:
#1387#1387, Proposal: define signatures for generic type parameters

[2018-03-16 18:01] safern commented on #27647
That is what I suggested. In netfx we don't test exception messages or parameters because they can be localized or change from version to version. If we change

[code]
to
[code]

the paramName (message in this case) will not be tested because will hit this code path: https://github.com/dotnet/corefx/blob/master/src/CoreFx.Private.TestUtilities/src/System/AssertExtensions.cs#L28

Please feel free t

[2018-03-16 18:03] ericstj commented on #27167
@MohammadHamdyGhanem indeed, folks care about this problem very much.  It's no coincidence that multiple language proposals show how they intend to help solve this problem.  I wasn't around for the initial IArithmetic<T> experiments but my understanding is that an interface and instance methods had both poor performance and bad semantics (because they cannot use operators).

For operators you need

[2018-03-16 18:05] terrajobst commented on #23592
That's fair but how often will this likely be the case in practice? In my own experience, I have centralized the process creation and string mangling in one place. And that's the place where I'd construct the startup info.

[2018-03-16 18:05] SteveL-MSFT commented on #27990
@danmosemsft I agree.  Tried to spend some time understanding their code, but have other urgent items to work on.  Maybe I'll revisit this in the future if someone else doesn't fix it.  Appreciate your pointers.

[2018-03-16 18:07] natemcmaster opened #28145 "Culture info ru-BY missed in .NET core 2.0.6 on Windows Server 2012 R2"
_From @NGancevich on March 16, 2018 7:16_

I have Localization on my asp.net core 2.0.6 and it's working on local machine. But when I publish to IIS on server 2012 r2 it's throwing an exception
Application startup exception: System.Globalization.CultureNotFoundException: Culture is not supported.
Parameter name: name
ru-by is an invalid culture identifier.
   at System.Globalization.CultureInfo.In

[2018-03-16 18:08] ahsonkhan commented on #28118
Awesome! Let me know if you have any questions regarding on-boarding or contributing.

@karelz, can we please assign this issue to @sputier?

[2018-03-16 18:09] MohammadHamdyGhanem commented on #27167
@ericstj
Thanks for the details.
I proposed to define a segnature dotnet/csharplang#1387dotnet/csharplang#1387, Proposal: define signatures for generic type parameters. Maybe it is like the contract, but my aim is for generics, and no need to change the current CoreFX classes and structs to deal with.

[2018-03-16 18:10] jnm2 commented on #23592
I'm thinking of things like Cake and process utility classes I've written for build scripts and integration testing. But an extension method will go a long way and `Collection<>` can be subclassed later if there's demand.

[2018-03-16 18:24] karelz commented on #25632
@pjanotti is there difference in Uri parsing between .NET Core and .NET Framework? Or is it difference in IO not handling well file: repfix?

[2018-03-16 18:30] AlexRadch commented on #27647
Ok. Now I understand you due my english. I will make PR.

[2018-03-16 18:32] karelz commented on #28118
@sputier I just sent you collaborator invite (GH prereq to assign it to you). Once you accept ping me and I will reassign it to you (assigning to myself temporarily).
Heads up: Accepting will auto-subscribe you to all repo notifications (500+ per day). We recommend to change repo Watch settings to "Not Watching" - that will notify you only about your mentions and explicit subscriptions.

[2018-03-16 18:36] mj1856 commented on #11897
The perf issue was not with the `IanaToWindows` call, but in the `GetTimeZoneInfo` method - which you could use to replace the middle part of your code (L12-20 shown here).

The issue was specifically related to a control-flow-by-exception in the implementation, which has since been refactored out.  The latest version, 2.3.1, does not have this perf issue.

[2018-03-16 18:36] safern commented on #27647
No worries :)

Thanks, really appreciate it.

[2018-03-16 18:40] VSadov commented on #28064
The whole point of `ImmutableArray<T>` is to be immutable. The type does not offer any other value.

There is a number of patterns, such as argument validation without making private copies that rely on instances never changing values. If we could rely on a convention, we would not need the type and just use ordinary arrays.

I am a bit amused that we have to defend that `immutableArray<T>` must b

[2018-03-16 18:43] davidsh commented on #28122
Probably because Windows 7 WinHTTP has more bugs in it that were fixed in later versions.

If we wanted to diagnose this error:

[code]

then we would need to get low-level traces to send to the WinHTTP team. In the past when we have done that, it usually was a bug in that Windows OS version but fixed in a later version.

[2018-03-16 18:44] VSadov commented on #28064
Another solution could be just using ordinary arrays on the hot internal paths.

I can see how `ImmutableArray<T>` could be an unnecessary obstacle in a closed system which could implement "I will not mutate" convention and where performance is paramount.
We do use ordinary arrays in Roslyn when performance is critical and immutability stands in the way and when we do not need to expose the data a

[2018-03-16 18:57] wfurt commented on #23009
ok, I'll give it try. BTW When I counted my connections I only counted connections to port 5002 e.g. connection  caused by HttpClient. Also sockets in TIME-WAIT state is not sign of descriptor leak. That is mandatory state _after_ TCP connection was closed.
http://www.tcpipguide.com/free/t_TCPOperationalOverviewandtheTCPFiniteStateMachineF-2.htm

You can track socket usage with
lsof -n | grep ^dot

[2018-03-16 19:22] ViktorHofer commented on #28001
It would be great if we could finish the shape of this api-suggestion and send it to the review meeting. @tarekgh or @ahsonkhan could you drive that effort?

[2018-03-16 19:25] fgreinacher commented on #25043
Sorry, but I don’t get how IDisposable has anything to do with the GC. In this case it is just meant as a more conventient (and partially more safe) way to ensure that your arrays are returned to the pool when you’re done with them.

[2018-03-16 19:45] serialseb commented on #26278
I'm suddenly getting the same errors on a reverse proxy component set of unit tests. Google gets me here for that stacktrace, but you closed the issue, and i'm unsure as to the resolution on this ticket. Should I add to this ticket, open another one or is there another ticket tracking this? Error is at https://ci.appveyor.com/project/OpenRasta/openrasta-core/build/2.6.0-preview.1.1298%2Bmaster

[2018-03-16 19:47] davidsh commented on #27549
Have you been able to repro the `AccessViolationException` and with both native and managed debugging turned on in Visual Studio?  I think it would be best to get a good stack trace of this error.

Is it possible for you to create a complete Visual Studio solution of the repro and attach it here as a zip file?  That would allow us to troubleshoot this directly.

[2018-03-16 19:49] davidsh commented on #26278
Please open a new issue.  Please attach a repro so that it can be diagnosed.  It may not be same root cause as this original issue.

[2018-03-16 19:53] pjanotti commented on #25632
Yes, it is correct in 4.7.1. For the same short repro from above the output is:

[code]

[2018-03-16 20:00] serialseb commented on #26278
kk

[2018-03-16 20:01] jkotas commented on #28064
I agree that getting around immutability is fundamentally unsafe operation. The question is whether we should have a API to codify the unsafe pattern instead of telling everybody to depend on internal implementation details.

For example, we have introduced `Memory<T> System.Runtime.InteropServices.MemoryMarshal.AsMemory<T>(ReadOnlyMemory<T> readOnlyMemory)`. We could have said that folks should u

[2018-03-16 20:02] karelz commented on #25632
@rmkerr can you please take a look? is it expected difference in UriParser between .NET Core and .NET Framework?

[2018-03-16 20:06] AlexRadch opened #28149 "System.CodeDom.Tests fails 6 tests on netfx framework on non english Windows"
System.CodeDom.Tests fails 6 tests on netfx framework on non english Windows with next log:
[code]

See https://github.com/dotnet/corefx/issues/28136 also.

[2018-03-16 20:09] rmkerr commented on #25632
I don't think that behavior is expected. I'm able to repro on the latest version of .NET Core. It doesn't repro in 4.7.2, so I don't think it's related to any of the recent updates to URI. That leaves a fairly small number of possible differences between the Core and Framework implementations that could be causing this.

[2018-03-16 20:14] safern commented on #25043
Sorry, I missed use the concept of the GC. My point here is that using the IDisposable pattern is to free unmanaged resources, i.e native handles before the GC destructs the object which will just free managed resources. ArrayPool is a pure concept of Rent/Return an array from a shared instance pool, it doesn't really involve freeing native handles or disposing other objects within its class. What

[2018-03-16 20:43] KrzysztofCwalina commented on #26603
@kasper3, please open a separate issue for adding span support to MMF. This issue was about Memory<T>'s length property not being able to deal with large files.

[2018-03-16 20:46] safern commented on #28052
@k0st1x are you implying that in Linux should be false or that it returns false on linux when it should be true?

[2018-03-16 20:50] winkmichael commented on #11292
Still seeing this in mono 4.8 and .net core 2 on OSX

[2018-03-16 20:54] MohammadHamdyGhanem opened #28152 "Proposal TypeListAttribute"
# Suggestion:
Define a TypeListAttribute tilke this:

[code]

This attribute can be used to mark generic classes like this:
[code]
Then C# or VB.NET can use the TypeListAttribute.Types[] to validate the generic class code.
The compiler should test the foo<T> for all these types, i.e. foo< int >, foo< float > , foo< byte >.
if the code of the foo class is ok in all these cases, then it should compi

[2018-03-16 20:58] jkotas commented on #25043
There may different kind of wrappers one can build around arrays returned by ArrayPool. The recently introduced MemoryPool<T> is the reference counted one that you can use like this:

[code]

Other kind of wrappers are being discussed in https://github.com/dotnet/csharplang/issues/1344 or https://github.com/dotnet/corefx/issues/27985. I think the one wrapper that we do need is a wrapper that abstr

[2018-03-16 21:14] #27906 closed

[2018-03-16 21:35] #27672 closed

[2018-03-16 21:52] safern commented on #27647
It is weird why `logFont.lfCharSet` is getting the value of 204 when in a Russian Windows, we are assigning `_gdiCharSet` value to it when calling `ToLongFont` and `_gdiCharSet` is either set to default: 1 or to what is passed in the constructor, which in this case should be the same value as what `new Font(...)` was passed to. I don't see any other place of `_gdiCharSet` being modified.

@AlexRad

[2018-03-16 21:53] #24250 closed

[2018-03-16 21:54] tarekgh commented on #28001
@ahsonkhan let me know if you'll not be able to do it.

[2018-03-16 22:04] safern commented on #25102
Moving to future since it depends on API: https://github.com/dotnet/corefx/issues/17135 being added.

[2018-03-16 22:06] JeremyKuhne commented on #24728
Confirmed that we want to match existing param names.

[2018-03-16 22:09] pjanotti commented on #28066
Currently the performance is as follow:

- StressLevel:1,  StressRunDuration:8
SocketsHttpHandler performs ~4% more transactions
- StressLevel:4, StressRunDuration: 8
SocketsHttpHandler performs ~20% more transactions

I checked that change e2ed932d985badf1551affc868f965d2f774bf4d is the main cause for the improvements (I didn't profile to see exactly why but reverting it we get back to worst perf

[2018-03-16 22:09] #28066 closed

[2018-03-16 22:15] qmfrederik commented on #17135
@GrabYourPitchforks I missed this being moved to Future since there are no notifications for label changes.

Can I assume you don't plan to work on this in the near future? If so, could you add the up-for-grabs tag?

I'd very much like to see this in 2.1 as it impacts a couple of my scenarios and I'm willing to spend time on this.

[2018-03-16 22:18] serialseb opened #28156 "System.NullReferenceException in System.Net.Http.WinHttpRequestCallback.RequestCallback"
Couldn't find any issue that seemed to cover the problem. I'm running kestrel in tests, and writing a reverse proxy component.

At an unknown point in running the tests, I get the following exception:
[code]

Repro:
 - code: openrasta/openrasta-core@e2b2c5d
 - tests: https://github.com/openrasta/openrasta-core/blob/1e006fddfd91b14d92177c3948517a809074f553/src/Tests/Plugins.ReverseProxy/errors/prox

[2018-03-16 22:36] tarekgh commented on #27773
@mlacouture here is the way you can allow DCS to serialize the TimeZoneInfo object. but in general, if you have the choice, don't serialize the TimeZoneInfo object and instead serialize the zone id (i.e. TimeZoneInfo.Id). I am closing this issue but feel free to send any more questions if you have any. Thanks for reporting the issue.

[code]
And then you can do

[code]

[2018-03-16 22:36] #27773 closed

[2018-03-16 22:49] sputier commented on #28118
@ahsonkhan @karelz Thank you ! I accepted the invite, and I'm ready to dig into corefx :smile:

[2018-03-16 22:54] davidfowl commented on #28138
Updated the proposal.

[2018-03-16 23:01] fgreinacher commented on #25043
Yeah, the API shape of `MemoryPool.Rent` is what I was looking for in this proposal. So, I’ll just have to wait for those APIs and migrate my code to use them :) Thanks everyone!

[2018-03-16 23:01] #25043 closed

[2018-03-16 23:03] safern commented on #25043
Thanks for your interest in the product and proposal @fgreinacher

[2018-03-16 23:08] Tratcher commented on #27861
No, .NET Framework doesn't accept these either, but it at least didn't throw.

[2018-03-16 23:17] mlacouture commented on #27773
@tarekgh, thanks for providing the workaround but unfortunately it can't be used in the context of the [orginal issue](https://developercommunity.visualstudio.com/content/problem/200357/unable-to-create-web-service-reference-on-net-core.html) as the serialization is done by a tool.

[2018-03-16 23:24] stephentoub commented on #28138
Thanks. Can you also update the proposal with what you expect the behavior to be for null buffer sizes and then the buffer sizes are smaller than the implementation wants?

[2018-03-16 23:27] tarekgh commented on #27773
@mconnew can you think of any workaround for the @mlacouture scenario?

[2018-03-17 00:02] ahsonkhan commented on #28001
If it is not urgent, I will be able to do it after ZBB. Otherwise, I would appreciate the help, @tarekgh.

[2018-03-17 00:04] tarekgh commented on #28001
I think this can wait.

[2018-03-17 00:05] Petermarcu opened #28157 "HttpStatusCode compatibility across framework"
@incompletude commented on [Fri Mar 16 2018](https://github.com/dotnet/core/issues/1356)

This is very inconvenient. Both ways produce errors.

[code]

Is there any reason for this?

Thx.

[2018-03-17 00:24] GrabYourPitchforks commented on #17135
Hi @qmfrederik, we're still set on getting to this in a future release, and in fact we're even code-complete on the feature (see https://github.com/dotnet/coreclr/pull/16409). We found some usability issues while testing, and these issues will require API tweaks. We weren't able to get the necessary changes in under the scheduling deadline.

But the implementation in the referenced PR _is_ otherwi

[2018-03-17 00:31] karelz commented on #28157
@incompletude did you mean these ASP.NET Core types?
* [Microsoft.AspNetCore.Mvc.ProducesResponseTypeAttribute](https://apisof.net/catalog/Microsoft.AspNetCore.Mvc.ProducesResponseTypeAttribute)
* [Microsoft.AspNetCore.Http.StatusCodes](https://apisof.net/catalog/Microsoft.AspNetCore.Http.StatusCodes)

If yes, then https://github.com/aspnet will be the right place to address your question/suggesti

[2018-03-17 00:31] #28157 closed

[2018-03-17 00:33] karelz commented on #28156
Do you have reliable repro? Can you isolate it and share it with us?

[2018-03-17 01:20] jkotas commented on #28152
This C# language feature needs to be vetted first. It does not make sense to do without it.

[2018-03-17 01:24] #28123 closed

[2018-03-17 01:24] tarekgh commented on #28145
The framework picks the culture information from the OS (i.e. Windows in this case). looking at the link you have pointed at  https://msdn.microsoft.com/en-us/library/cc233982.aspx it shows

[code]

which means this culture supported in Release 10 which is

[code]

So this is not supported on server 2012 r2

[2018-03-17 01:24] #28145 closed

[2018-03-17 01:35] karelz commented on #27592
@pjanotti please do not remove area labels. If it is not IO, please route it to new area. Thanks!

[2018-03-17 01:40] JeremyKuhne commented on #27592
@karelz So where does it go- it is a packaging problem not System.IO.

[2018-03-17 01:58] karelz commented on #27592
@joperezr @weshaggard are best folks to discuss packaging with. Depending on where the problem is it would be the package area (IO in this case) or Infrastructure.

[2018-03-17 02:05] ahsonkhan commented on #26768
If you want to see missing code coverage areas, run `msbuild /t:rebuildandtest /p:Coverage=true` from the System.Memory test directory and navigate to/open `\corefx\bin\tests\coverage\System.Memory_ReadOnlySequence_1.htm`

[2018-03-17 02:08] karelz commented on #28152
Is your goal of `TypeListAttribute` to enable multiple generic constraints? (i.e. `where T : { int, float, byte}`)
That would not be the right way to go about it - attribute cannot express which generic argument it applies to and it is vastly different from existing generic constraints which are encoded in Metadata tables - see [ECMA spec 335](http://www.ecma-international.org/publications/standar