[2017-02-13 22:29] terrajobst commented on #15957
Proposal looks like ready for review, we should tackle that tomorrow.

[2017-02-13 22:29] danmosemsft commented on #16121
I see 53 matches of "= *'netstandard'" in our test csproj's.

[2017-02-13 22:31] #16109 closed

[2017-02-13 22:32] stephentoub commented on #16098
The actual source of the problem is detailed earlier in the log, an unhandled exception in the remoted function:
[code]

[2017-02-13 22:49] divega commented on #8123
Data Annotations Triage: This seems to be a reasonable request. It is likely that changes would be needed on frameworks that use data annotations such as ASP.NET Core MVC (maintained in http://github.com/aspnet/mvc/) in order for it to work end-to-end.

[2017-02-13 22:49] Priya91 commented on #13309
Looking at the test failure itself, the test failed due to gethostentryasync failed. The exception suggests that the machine didn't have the reverse dns lookup configured, it would have resulted in same error as host not found through native OS calls.

[2017-02-13 22:50] collheesi opened #16123 "DllImport with specific version"
Hey guys,

I'm trying to run native code by using `DllImport`. You can take a look here if you want: https://github.com/tinchou/corefx/blob/master/src/System.Data.Odbc/src/Common/System/Data/Common/UnsafeNativeMethods.cs

[I was specifying `odbc` as my dll name](https://github.com/tinchou/corefx/blob/master/src/System.Data.Odbc/src/Common/System/Data/Common/ExternDll.Unix.cs), which seemed to work

[2017-02-13 22:51] divega commented on #8201
@karelz it looks like this should probably be assigned to someone outside of our team to come to resolution. Will you figure out the right owner?

[2017-02-13 22:53] tinchou commented on #16123
ping @divega @bricelam @moozzyk @mmitche @MichaelSimons.

[2017-02-13 22:53] ianhays commented on #13970
Great to hear it @fujiy!

[2017-02-13 22:53] ianhays commented on #14244
Gotcha, thanks for the update :)

[2017-02-13 22:53] ianhays commented on #13308
Gotcha, thanks for the update :)

[2017-02-13 22:55] ianhays commented on #16094
I agree with Jeremy on leaving the existing behavior as-is. I think an API to disallow link following would be fine or an API to take a predicate would be better.

[2017-02-13 22:57] morganbr commented on #16022
@MichalStrehovsky , that's a bit of an over-exaggeration. We've never had metadata for everything public in the framework, so we probably wouldn't add it for everything private in the framework.

@jkotas , having the toolchain do reflection blocking stuff internally doesn't sound too unreasonable, though it would still need some indication that an assembly should go through the process (some CoreF

[2017-02-13 23:02] MichalStrehovsky commented on #16022
As I wrote in the bug, the reason we hit this is because the DLR is reflecting on `CSharpGetMemberBinder` type in Microsoft.CSharp. That's a private type in Microsoft.CSharp. @jkotas suggested we make things work well without reflection blocking. How do you suggest we would fix it without the "over-exaggeration"?

[2017-02-13 23:04] divega commented on #8913
Data Annotations Triage: At first glance this looks like an interesting request, but making it work would require more work on ASP.NET Core (maintained in http://www.github.com/aspnet/home/) than in the data annotation itself. Data annotations cannot take a dependency on Microsoft.AspNetCore.Http to make it work so the "protocol" between the attribute and `IFormFile` would need to use some other c

[2017-02-13 23:04] #8913 closed

[2017-02-13 23:09] morganbr commented on #16022
@MichalStrehovsky , we have a few different tools for something like that:
1. Scoped rd.xml in the assembly. If the DLR is supposed to reflect on CSharpGetMemberBinder, we could add something like <Namespace Name="Microsoft.CSharp.RuntimeBinder" Dynamic="Required All" /> to Microsoft.CSharp.dll (Altering that to make actual sense with what the DLR does, of course. Maybe SubTypes is more appropriat

[2017-02-13 23:11] divega commented on #9750
Data Annotations Triage: This seems like a good idea. Although we are not planning to do it in the near future we would consider a PR from someone in the community. Changes would need to happen in data persistence frameworks that reason about this attribute (such as EF Core) in order to make things work end-to-end.

[2017-02-13 23:15] MichalStrehovsky commented on #16022
@morganbr Yes, and that will solve this for the exact problem the original problem was about and nothing else.

Let's say that nobody wants to do 1-3 for each private type a random app in the future might reflect on. We're left with either the RD.XML I proposed, or reflection blocking. Let's just stay at "we need to restore reflection blocking, period", seems like we agree on that :).

[2017-02-13 23:16] ericstj commented on #14504
Hitting the same thing in CI.  https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/3378/testReport/junit/System.Net.Security.Tests/ServerAllowNoEncryptionTest/ServerAllowNoEncryption_ClientRequireEncryption_ConnectWithEncryption/

[2017-02-13 23:20] morganbr commented on #16022
@MichalStrehovsky , that sounds perfectly reasonable. I was assuming there was something DLR-specific here, but I agree we don't want random reflection walks into private code.

[2017-02-13 23:29] karelz commented on #8201
@divega when we know who should do the work, I agree - right now we need to get traction on what needs to happen where, so keeping it in the feature area seems most logical (e.g. we might need your team to "approve" releasing the source code). Makes sense?

[2017-02-13 23:50] geleems opened #16125 "Parsing logic for data source in connection string is to be refactored"
Parsing logic for data source in connection string is to be refactored for cleaner code and easier maintenance. Current parsing logic is scattered over several methods, and it is better to get them all together in one place.

[2017-02-13 23:56] ericstj opened #16126 "Package publishing is dodgy"
During official builds it looks like all legs overwrite files when copying to azure storage.  This creates some unreliable "last in wins" behavior where the last build to succeed will be the one that gets published.

In 1.0 and 1.1 folks tried to workaround this by turning off some of the overlapping package builds on non-windows, but this is contrary to the vertical build goals.  Those goals driv

[2017-02-13 23:59] geleems commented on #4198
@boorad The branch I have worked on for integrated authentication feature is:
https://github.com/geleems/corefx/commits/integauth_pr

[2017-02-14 00:05] lmolkova opened #16128 "DiagnosticListener performance optimization"
### Motivation
It is motivated as a performance optimization. The IsEnabled() with no arguments allow a inlinable quick check for performance reasons.

### Details
Add DiagnoticListener.IsEnabled() without arguments as an initial loose check that returns true if there is a subscriber to DiagnosticListener (suggested in #15971).

### API proposal
[code]

/cc @vancem @stephentoub

[2017-02-14 00:05] danroth27 commented on #7129
We've hit a need for this as well in [ASP.NET Core Identity Services](https://github.com/aspnet/identityservices). We need to be able to issue [JSON Web Tokens (JWT)](https://jwt.io/) that have been signed with an asymmetric key, just like [Azure AD B2C](https://azure.microsoft.com/en-us/services/active-directory-b2c/) does today. The idea is that we want ASP.NET Core Identity Services to mimic th

[2017-02-14 00:24] danmosemsft commented on #16036
OK closing since we will keep as is.

[2017-02-14 00:24] #16036 closed

[2017-02-14 00:24] saurabh500 opened #16129 "Make Managed SNI the default implementation on Windows"
SqlClient uses different implementations of SNI for Windows and non-Windows platform.

The plan is to use a unified implementation of SNI, the managed version for Windows and non-Windows platform.
This issue tracks the unification of the two SNI implementations.

The switch on windows will come with a AppContext switch, which will allow users to use Native SNI.

[2017-02-14 00:26] saurabh500 commented on #16129
- [ ] Include Managed SNI source to build on Windows

- [ ] Refactor code using the MANAGED_SNI flag from the csproj

-[ ] Apply the AppContext switch and set Managed SNI path as default.

[2017-02-14 00:28] Priya91 commented on #13309
@jchannon Can you provide a repro of the failure, the test bug is probably because GetHostEntryAsync failed on mac OS due to incorrect machine dns configuration. Trying host <query> would have produced error host not found. We haven't had this test fail since on any of our CI machines, so I need more info to resolve your issue.

I used the following code with .NET Core 1.1 on OS X 10.10.5,

[code]

[2017-02-14 00:37] jkotas commented on #16022
Yes, it is what I meant by "the exceptions to this policy should be in rd.xml".

I meant to make reflection blocking work without corefx build magic that sprinkles BlockReflectionAttributes.

[2017-02-14 00:40] bartonjs commented on #7129
@stukselbax I'm not very keen on the idea of making X509Certificate(2) mutable.

If one ignores the problem of (IFC) Diffie-Hellman keys it feels like it boils down to:

* CertificateSigningRequest.  Should be capable of expressing the values in PKCS#10/[RFC2896](https://tools.ietf.org/html/rfc2986).
* In addition to being created, a CertificateSigningRequest should be able to be loaded and inspec

[2017-02-14 01:00] karelz commented on #16098
@lmolkova @vancem can you please take a look at the test failure?

[2017-02-14 01:00] danmosemsft commented on #13298
tagged as blocking as it's making our badge red. @Priya91 could you please disable today? (if you can't immediately fix)

[2017-02-14 01:08] karelz commented on #16123
cc @janvorli

[2017-02-14 01:08] danmosemsft opened #16133 "Failures in .HttpClientHandlerTest.GetAsync_AllowAutoRedirectTrue_RetainsOriginalFragmentIfAppropriate"
Turning our Win7 badge read. @Priya91 could you please fix or disable today to get back to green.

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/lastCompletedBuild/testReport/

[code]

[2017-02-14 01:19] danmosemsft commented on #15280
Engineering work:
https://github.com/dotnet/core-eng/issues/358
https://github.com/dotnet/core-eng/issues/406
https://github.com/dotnet/core-eng/issues/135
https://github.com/dotnet/core-eng/issues/436

Other:
https://github.com/dotnet/corefx/issues/9975
https://github.com/dotnet/corefx/issues/7434
https://github.com/dotnet/corefx/issues/7433

[2017-02-14 01:19] Thaina commented on #15622
@ianhays

That's right, fixed. Thank you

For Dictionary, I just think we should have compact keyword in one line. Make it 2 lines again defeat the purpose of making this API
Please consider that we can get value from dictionary by indexer and `TryGetValue`. And we just use each API in different place
Also `Remove` is not the same purpose as that `TryRemove` and `TakeValue`. So why you say it `3 w

[2017-02-14 01:22] Thaina commented on #1942
On a second thought. I think we should just have `bool Remove(K key,out V value)` being overload method

Because `Remove` already return `bool`. Should not need `Try` in the name

[2017-02-14 01:23] Jiayili1 commented on #15383
@tstringer  The link is https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_opensuse42.1_debug/77/

It is failed on build#77, but this page could not be found now.

[2017-02-14 01:24] danmosemsft commented on #16098
Removing tag as now disabled while we fix.

[2017-02-14 01:25] Thaina commented on #15622
On a second thought. I think we should just have bool Remove(K key,out V value) being overload method

Because Remove already return bool. Should not need Try in the name

[2017-02-14 01:29] dhoehna commented on #15554
@FireAlkazar
@JeremyKuhne

I got it working.  I found an assumption that wasn't said in the documentation, I will double-check to make sure I am correct than post an issue.

Now I am getting run-time errors when I run the solution from Visual studio, is this supposed to happen?

[2017-02-14 01:32] mellinoe commented on #16123
@yizhang82 This seems related to the thread I started with you a few weeks back.

Right now, there's no way to write PInvoke's to native libraries whose names differ "considerably" on different platforms. We do need to concretely document this, but my understanding is that we do the following when trying to locate the shared library:

* Try with and without "lib" prefixed to the given name (outsid

[2017-02-14 01:33] danmosemsft commented on #16121
@weshaggard I believe this is the only work required to make sure netstandard tests actually run (as I expect them anyway). Let mek now if you believe there are tests that should be running but are not running for some other issue.

[2017-02-14 01:36] tinchou commented on #16123
For now I have the library name conditionally included at build time depending on the target platform. It won't be hard to add an OSX-specific setting, but anyway I had to ask if it was possible.

I'm fine if you want to turn this issue into a documentation request.

Thanks!

[2017-02-14 01:39] lmolkova commented on #16098
Please check #16135 PR

[2017-02-14 01:40] JeremyKuhne commented on #15554
Not that I'm aware of. Can you give an example?

[2017-02-14 01:55] Priya91 commented on #16046
Got a centos image similar to what helix uses, and running, sudo update-ca-trust on the machine fixed the SSL CA cert path issue.

@MattGal is updating the machine script to run this after imaging, will wait for confirmation on if this fixes the build break.

cc @karelz @steveharter @ianhays

[2017-02-14 01:58] Priya91 commented on #13298
Which badge, Jenkins or Helix? Please provide more info on OS and callstack or link to failure..

[2017-02-14 02:17] Jiayili1 commented on #15472
This issue is still repro on Fedora, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170213.01/workItem/Common.Tests/wilogs

[2017-02-14 02:23] Ran-QUAN commented on #13914
@ianhays

Yes, clean build didn't fix the problem. Even creating a new UWP project didn't fix it.

clrcompression.dll is copied to the `bin\ARM\Debug` folder. And I also checked the deployment log, it was copied into the layout.

Here is my project.json

[code]

Version 4.1.0 has no problem, I got the error when upgrading ef core SQLite to version 1.1, which references System.IO.Compression 4.3.0

[2017-02-14 02:46] Jiayili1 commented on #15981
This issue is repro in build 20170213.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170213.01/workItem/System.IO.Compression.Tests/analysis/xunit/System.IO.Compression.Tests.BeginEndDeflateStreamTests~2FDecompressWorks

[2017-02-14 02:50] saurabh500 commented on #4198
Fixed with https://github.com/dotnet/corefx/issues/15742

[2017-02-14 02:50] #4198 closed

[2017-02-14 03:04] dhoehna commented on #15554
@JeremyKuhne Sure.

Run 1:
File: SystemAttributeCollection.cs
Line: 76
Method: ThrowIfReadOnly
Error: ConfigurationErrorsException
Message: An exception of type 'System.Configuration.ConfigurationErrorsException' occurred in System.Configuration.ConfigurationManager.dll but was not handled in user code

Additional information: The configuration is read only.

Run 2:
File: ValidatorUtils.cs
Line: 1

[2017-02-14 03:35] danmosemsft commented on #15472
@mellinoe can you put up a PR to update tools?

[2017-02-14 04:04] JonHanna commented on #8081
I had been working systematically on this, before I wasn't able to contribute much for a while last summer. Need to track what, if anything remains in this, issue. Shall update the opening comment with a task list.

[2017-02-14 04:12] jamesqo opened #16138 "Investigate using Unsafe to circumvent covariant array typechecks in ToArray"
During a recent PR I tried changing [this](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Concat.cs#L467) to hold references to the collections directly instead of holding the index of each collection, which I had originally done to keep the size of the builder to a minimum. It seems like the benefits extended past just memory usage, though-- changing the builder to a

[2017-02-14 04:23] jamesqo commented on #16138
/cc @jkotas

[2017-02-14 04:23] benaadams commented on #16138
Also have a look at RefAsValueType
https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/RefAsValueType.cs#L11

On 14 February 2017 at 04:12, James Ko <notifications@github.com> wrote:

[2017-02-14 04:24] jamesqo commented on #16138
@benaadams Yes, I am aware of that type. The only problem is that these are the arrays that are returned to the user so they have to be of type `TSource[]`.

[2017-02-14 04:47] jkotas commented on #16138
We should wait for Span to become more stable. Span will allow you to circumvent covariant array checks as well, without writing tricky unsafe code.

[2017-02-14 04:54] jamesqo commented on #16138
@jkotas `Span<T>` can only be stored on the stack though, so it cannot be a field of the builder type... plus, it could take a long time to mature.

[2017-02-14 05:55] karelz commented on #16128
@vancem if it is ready for API review, please mark it as such before 10am tomorrow (the API review meeting).

[2017-02-14 06:16] jkotas commented on #16138
Well, I am not a fan of type unsafe code spreading in something like Linq. People will get it wrong and it sets a bad example.

Fixing https://github.com/dotnet/coreclr/issues/603 should make these type checks very cheap. We should look at it first.

If even the cheap type check is a problem, we may look into adding a non-variant array helper type that allows you to hoist the covariant check, with

[2017-02-14 06:25] yaakov-h commented on #13309
I ran that same code with .NET Core 1.1 on macOS 10.12.3 (16D32) and got an exception.

[code]

I wonder if something changed in the networking stack of newer versions of macOS.

[2017-02-14 06:27] Jiayili1 commented on #10911
Failed in 20170213.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170213.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.ServerAsyncAuthenticateTest~2FServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success(serverProtocol:%20Tls11)

Failed test:  System.Net.Sec

[2017-02-14 06:29] eerhardt commented on #15289
@jnm2 - The classic example is the `libuv` package, which is a "fat" package that contains native assets for all the runtimes it supports.  See http://www.nuget.org/packages/Libuv/1.9.1 for the package, https://github.com/aspnet/libuv-build for building the source code, and then https://github.com/aspnet/libuv-package for building the package.

You would just also add in the managed IL assembly in

[2017-02-14 06:41] benaadams commented on #16138
That would be amazing 😄 To go further, I wonder if it could be expressed as an attribute?

[code]
Though might be leaky when taking function local copies to work on; or assignment/return of whole array?

[2017-02-14 06:45] jkotas commented on #16138
Right, the attribute would turn this into ad-hoc language feature.

[2017-02-14 06:49] groege commented on #13914
Same here -> I'm referencing 4.3.0 because of EF Core 1.1

[2017-02-14 06:59] benaadams commented on #16138
Helper would be good too; I assume `List<T>` is nonvariant as are its interfaces so `List<T>.Add` and `T this[int index]` could make use of it in coreclr; even if the type itself would take longer and require api review?

[2017-02-14 07:08] JeremyKuhne commented on #15554
I can't really tell without a call stack, but I assume this is either normal (e.g. you're in the middle of a test that is looking for an exception) or possibly your start command in your test project isn't quite right.

Btw, when you're including blocks of output, using [code fencing](https://guides.github.com/features/mastering-markdown/) would make your posts a lot easier to read. :)

[2017-02-14 07:27] feiyun0112 commented on #16025
"System.Data.SqlClient": "4.3.0"

[2017-02-14 07:35] Jiayili1 commented on #16055
InnerLoop_Windows8.1_release ([build#1067](https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release/1067/consoleText)), Following tests failed with "System.UnauthorizedAccessException : Access to the port 'COM1' is denied":

Message:
[code]

Stack Trace:
[code]

Failed tests:
Write_byte_int_int/Offset_NEG1
Write_byte_int_int/Count_MinInt
Write_byte_int_int/Count_GT_Length
Write_byte_

[2017-02-14 08:15] divega commented on #10149
Data Annotations Triage: [`DataTypeAttribute`](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/DataTypeAttribute.cs) does not implement validation, only some formatting functionality for specific types. Validation is implemented in attributes that derive from `DataTypeAttribute` such as `EmailAddressAttribute`, `PhoneAttr

[2017-02-14 08:42] #15356 closed

[2017-02-14 08:46] #15355 closed

[2017-02-14 09:19] stukselbax commented on #7129
@danroth27 We also uses certificates to sing the JWT (and for TLS, of course), and currently we have wrapper on OpenSSL API (as stated in #16111) to create self-signed certificate, CSR, and to sign that CSR.

@bartonjs Good point about the immutable X509Certificate(2) instances.

About CA: I think it is implementation detail about which extension will be included into the resulted certificate - th

[2017-02-14 09:20] doublnt commented on #8086
I have the same question and Error with you @Edu115 ,and how did you solve it ?

[2017-02-14 09:29] Edu115 commented on #8086
@doublnt I solved it as @saurabh500 described, by using the server port.

[2017-02-14 10:00] JonHanna commented on #16138
Possibly a fix to #13816 would make this irrelevant by reducing the need for some of the checks (though possibly it would actually complicate the checks, it's hard to predict a hypothetical change).

[2017-02-14 11:26] tstringer commented on #15383
@Jiayili1 Can you please reproduce the issue through CI so that we can have the full picture of the failure?

[2017-02-14 14:27] jkotas commented on #16138
Agree, `List<T>` may be a fine place to experiment with this.

This fix has neglible performance effect.

[2017-02-14 16:31] ayende opened #16146 "ExecutionEngineException when using SslStream"
[code]

See the reproduction here:
https://gist.github.com/ayende/ba61b7d21065c0db8df6a905902ed1b3

Get the files, then run:

* dotnet restore
* dotnet run

The program will crash immediately on trying to do SSL authentication.
Note that if I change this line:

https://gist.github.com/ayende/ba61b7d21065c0db8df6a905902ed1b3#file-project-json-L10

To `      "version": "1.0.1"` it works as expected.

[2017-02-14 17:17] danmosemsft commented on #16098
Should be fixed by https://github.com/dotnet/corefx/pull/16135

[2017-02-14 17:17] #16098 closed

[2017-02-14 17:24] danmosemsft commented on #13298
Jenkins outerloop badge. Today, it's not showing. Removed tag. We'll have to tune this process so may be it gets a tag if it caused a red badge in the last 3 days or something.

[2017-02-14 17:27] steveharter commented on #16046
These are likely related to recent failures in System.Net.Tests  regarding the "SSL CA cert" message. It does appear to be random, however.

Here's some release1.1 failures:
http://jdash.azurewebsites.net/builds/test?name=System.Net.Tests.HttpWebRequestTest.GetResponseAsync_GetResponseStream_ContainsHost%28remoteServer%3A%20https%3A%2F%2Fcorefx-net.cloudapp.net%2FEcho.ashx%29&viewName=dotnet_coref

[2017-02-14 17:30] danmosemsft opened #16147 "Failure of System.Net.Tests.HttpWebRequestTest.GetResponseAsync_UseDefaultCredentials_ExpectSuccess"
This is causing a red badge today.
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_release/lastCompletedBuild/testReport/

Please fix or disable immediately to get us a green badge, thanks.

[code]

@Priya91 @steveharter

[2017-02-14 17:31] danmosemsft opened #16148 "Failure of System.Net.Http.Functional.Tests.HttpClientHandler_ClientCertificates_Test.Manual_CertificateSentMatchesCertificateReceived_Success"
This is making today's badge read.
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/lastCompletedBuild/testReport/

Please fix or disable immediately so we can get a green badge again, thanks.

[code]

@Priya91 @steveharter

[2017-02-14 17:31] danmosemsft commented on #16133
@Priya91 @steveharter

[2017-02-14 17:43] gkhanna79 commented on #15936
Currently, there is not a way to specify that since the host has bunch of invariants built around it being next to shared folder.

Is there a reason you cannot use the dotnet.exe from the second location above?

[2017-02-14 17:48] MattGal commented on #16046
The change is up on our Centos execution VMs now, but there wasn't a 1.1.0 run overnight, so we won't know if it's fixed for a bit.
That said, JDash having the same call stack makes it sound like a real bug;  if random other folks hit it with entirely different machine setups, our workaround may not be sufficient.

[2017-02-14 17:57] ianhays commented on #11861
@safern any comments/thoughts? If not, then this looks ready for review.

My only remaining thought is that the API surface area is quite large in its current state and may be more difficult to push through review. It may be better to implement this in stages, where the first stage has a minimal API similar to BitArray, the second stage adds e.g. operator overloads and other constructors, then the

[2017-02-14 18:01] vancem commented on #16128
Note that this is motivated as a performance optimization.    It allows DiagnosticSource code to avoid a virtual calls.   The IsEnabled() with no arguments allow a inlinable quick check, again for performance reasons.

[2017-02-14 18:08] steveharter commented on #16148
Dup of https://github.com/dotnet/corefx/issues/14838

I'll verify if random\intermittent. If not, I'll disable the test otherwise we are actively working on it and will attempt to determine cause.

Also see related closed issues:
https://github.com/dotnet/corefx/issues/9543
https://github.com/dotnet/corefx/issues/9212
https://github.com/dotnet/corefx/issues/9785

[2017-02-14 18:08] #16148 closed

[2017-02-14 18:11] joperezr commented on #16121
The only part that I'm not convinced on doing is:

This is because we have a lot of test projects where we don't currently have a condition, but they are supported by netstandard. I would say that the right way to do this, is to:
 - Remove all Conditions of `'$(TargetGroup)'=='netstandard'`
 - Go through the rest of the ItemGroups, and check if they can actually build as netstandard, by building `

[2017-02-14 18:17] karelz commented on #16128
@vancem only one api-* label please ;-)

[2017-02-14 18:22] ianhays commented on #13914
@Ran-QUAN Could you try changing your runtimes section to:
[code]

and see if that resolves your issue. It sounds like both you and @groege are getting old versions of the win10-* packages. Are you using the myget feed or the nuget feed for your packages?

[2017-02-14 18:27] weshaggard opened #16152 "Things with the open key have different identities on unix builds"
Because of https://github.com/dotnet/corefx/blob/master/Tools-Override/Roslyn.Common.props#L29 we are getting different keys when building on core (i.e. non-windows). We need to make the assembly identity the same on all builds so we should instead work around https://github.com/dotnet/roslyn/issues/8210 by turning on DelaySign instead.

Due to issue https://github.com/dotnet/corefx/issues/16126 w

[2017-02-14 18:28] weshaggard commented on #16126
This is actually causing a real issue right now which is manifesting itself in assemblies with incorrect identities. see https://github.com/dotnet/corefx/issues/16152.

[2017-02-14 18:34] karelz commented on #16128
@vancem I updated the top post with your 'motivation' - please feel free to make such edits of top post proposal directly in future. Thanks!

[2017-02-14 18:37] safern commented on #11861
Just the same thought as you have @ianhays we should definitely break it down maybe in two steps to make it easier to review as you mention. In general I like this proposal.

[2017-02-14 18:39] am11 commented on #10120
Please consider both APIs: checking the equality based on real-path and getting the real-path for given path:

[code]

* `HaveSameTarget` is proposed in `Directory` and `File` types because existing `System.IO.Path` APIs are mostly doing canonical operations (no real FS / IO intervention). Therefore, `Directory`, `File`, `DirectoryInfo` and `FileInfo` seem to be good candidates for this method. Ho

[2017-02-14 18:45] karelz commented on #11861
I think it would be sufficient to just separate the methods clearly into 2 sections: 1st part: old APIs, 2nd part: New APIs.
Is that ok with you @ianhays @safern?

[2017-02-14 18:45] terrajobst commented on #14416
We should close on our obsoletion policy; there is no consensus yet. So except for the obsolete attribute, the API proposal looks good as proposed.

[2017-02-14 18:46] dhoehna commented on #15554
@JeremyKuhne Ah, so sorry I forgot about a call stack.  I'll include those. I'll also take a look at code fencing.
I'll post more later today with a call stack.

[2017-02-14 18:47] safern commented on #11861
@karelz that's good enough! I will go ahead and do it :)

[2017-02-14 18:47] JonHanna commented on #14416
Okay, I've redacted that bit but left it visible, and will proceed with the addition.

[2017-02-14 18:53] ljw1004 commented on #10120
What exactly is the definition of "Real Path"? You wrote "resolves symlinks etc" but there's a lot buried in that...

* On unix if you have two hard links then there's no unique real path. Likewise in Windows if you have junction points.
* On Windows if you use "subst" on your hard drive then for instance x:\file.txt and c:\directory\file.txt might both be the same file, but I don't know which of

[2017-02-14 18:54] safern commented on #11861
Updated the proposal!

[2017-02-14 18:56] terrajobst commented on #15914
OK, that makes sense to me. So there are two arguments for having extension methods.

1. We want to use generic specialization, i.e. having methods specific for `Span<byte>` vs `Span<char>`. For that to work, they need to both be extension methods.
2. Every method on a generic type needs to be instantiated by our AOT compiler. By making them generic methods on a non-generic type, we can make it pa

[2017-02-14 18:56] #15914 closed

[2017-02-14 19:02] terrajobst commented on #16128
The (1) looks fine.

We're not sure about the argument for sealing. Why do you think the compiler is able to emit a non-virtual call? @jaredpar, is this actually true?

[2017-02-14 19:12] ianhays commented on #10120
Before we mark this as ready for review we should update the issue with a more concrete API proposal including a finalized API, some code examples, and justification for real-world usage. I think Jeremy's post is on the right track for desired behavior, we just need something more formal before we should move forward.

[2017-02-14 19:12] am11 commented on #10120
Agree on that. I am not an expert but I think the API can define reasonable constraints. I thought `HaveSameTarget` can make use of `GetRealPath` under the hood.

On the contrary, I think there really is a need of parsing the real path in .NET (especially Core) as it is provided by almost all other language frameworks.

PHP http://php.net/manual/en/function.realpath.php
Perl http://perldoc.perl.or

[2017-02-14 19:18] ljw1004 commented on #10120
"I thought HaveSameTarget can make use of GetRealPath under the hood." -- no it can't! I gave examples where the correct solution (inode &c.) will correctly claim that two files are the same, but GetRealPath (as defined in PHP and Python and nodejs) will claim they're different.

[2017-02-14 19:23] lmolkova opened #16155 "Add System.Diagnostics.Activity.RootId property"
# Motivation
System.Diagnostics.Activity.Id is unique identifier which may be used to filter logs related to particular activity.
Id has hierarchical structure: /root-id.id1.id2.id2 and generated when activity starts internally.

Root node of id (root-id) is common for all activities involved in operation processing, so logging systems may filter logs with Id prefix. However some logging systems m

[2017-02-14 19:25] JeremyKuhne commented on #10120
I'll chime in more later when I have more time.  I'll point out #1086 again as it discusses overlapping issues.

One initial thought is that we have to think about multiple drivers (such as mounted network shares) in how we define anything. I don't know that it is possible to say that two files definitively *aren't* the same if they don't share the same actual device (e.g. `\Device\Harddisk0\` on

[2017-02-14 19:31] mellinoe commented on #15957
Note from design discussion:
* Consider renaming the parameters to `low` and `high`, as appropriate, in order to better document how the parameters are used.

[2017-02-14 19:39] karelz commented on #16155
@vancem please flip it to api-ready-for-review if you're ok with the proposal, motivation, etc.
cc @valenis

[2017-02-14 19:40] terrajobst commented on #15957
We should rename `source1` and `dest1` to `low` and `source2` and `dest2` to `high`.

We should leave `value` as-is -- it's consistent to other methods on `Vector`.

[2017-02-14 19:42] weshaggard commented on #15936
If we do that how can we specify the additional test directory. We essentially have the shared framework and test output directory we need to be able to resolve from both.

[2017-02-14 19:42] vancem commented on #16128
When you have a class C and it has a definition, and that method is sealed, then the target MUST be the definition in C (because it must be the most derived version, and sealing it insures that the definition in C is the most derived version).   This means that the method does NOT need to be called virtually (which means it can be inlined)   I have not checked recently but the JIT used to have thi

[2017-02-14 19:47] gkhanna79 commented on #15936
Are the additional test artifacts to be consumed part of the app.deps.json?

[2017-02-14 19:48] vancem commented on #16155
This is arguably a convenience routine (it just does string manipulation on the 'ID' property.    However it does make the concept of a RootID more discoverable, and that is the value of having it (more than one customer wanted it).

[2017-02-14 19:50] CZEMacLeod commented on #14653
Any timescale for this forwarding package as I have run into this problem a couple of times now?

[2017-02-14 19:52] stephentoub opened #16156 "EnumerateEnvironmentVariables(target: Machine) test failing with SecurityException"
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/96/
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/95/
[code]
cc: @JeremyKuhne

[2017-02-14 20:08] mattman624 commented on #15570
I have this exact same issue. Glad to finally see it is not just me.

[2017-02-14 20:27] karelz commented on #15570
@ianhays can you please help?

[2017-02-14 20:35] steveharter commented on #16148
This does seem to be causing consistent failures in  "windows_nt" so it should be disabled soon unless we can find a fix

[2017-02-14 20:53] ianhays commented on #15570
4.2.0 and .Primitives 4.0.0 I have no problems. This is whether I install
4.3 into my netstandard13 library or not. Please see github sample repo.

This is because the 4.2.0 version of Algorithms depends on the 4.0.0 version of Primitives, whereas the 4.3 version of algorithms depends on the 4.3 version of primitives.

Did you install the 4.3 versions of Algorithms as well as Primitives to your ne

[2017-02-14 20:55] mattman624 commented on #15570
Yes, correct.  I cannot use the workaround because that causes another issue between different versions of System.Net.Http, because that library uses cryptography.

[2017-02-14 20:57] weshaggard commented on #15936
No the aren't part of the app.deps.json file. The deps file we have today only contains bits from the shared runtime folder. We don't generate a unique deps file for each test project, we could potentially consider doing that if necessary but I would prefer it if we don't need to.

[2017-02-14 21:27] ianhays commented on #15570
Alright, lets see if we can figure out the problem then. Some thoughts/questions/ideas:
- Did you install the 4.3 versions of Algorithms as well as Primitives to your net46 project that is using packages.config as @ericstj mentioned?
- Can you confirm what the version of the Primitives dll being restored to your bin dir actually is?
- Can you link me your project.json and project.lock.json? It wou

[2017-02-14 21:44] Priya91 commented on #16060
The hang is happening at test MulticastInterface_Set_AnyInterface_Succeeds, this is a dupe of #13323

[2017-02-14 21:55] weshaggard opened #16161 "Clean-up our build definition files"
We have a number of things that should be cleaned up in our official and CI builds.

1. We should delete a lot of unnecessary properties. example FilterToOSGroup, TargetOS, etc. We should also look at cleaning out the amount of paramters we are passing to things like CreateHelixArguments, especially when we are only disabling that step.
2. We have a lot of duplication things like our PB_*Arguments

[2017-02-14 22:05] weshaggard commented on #16121
Yes I agree with cleaning up the conditions and that will ensure the tests build and run in the netcoreapp configuration. However there is still a mode where we want to build the test projects as netstandard and run them on netcoreapp, which is ever so slightly different then building the tests as netcoreapp and running them as netcoreapp. I do agree with @jkotas comment in one of the other thread

[2017-02-14 22:07] karelz commented on #16060
If it is hang, should we close it?

[2017-02-14 22:07] FireAlkazar opened #16162 "Correct behavior of System.Configuration.LocalFileSettingsProvider GetPropertyValues method"
**Problem description**
Unexpected exception while writing tests for `System.Configuration.LocalFileSettingsProvider` (#15554)

**Details**
[This line of code](https://github.com/dotnet/corefx/blob/a8dce7c1c905e994c9519e0f26b0497832942a10/src/System.Configuration.ConfigurationManager/src/System/Configuration/LocalFileSettingsProvider.cs#L103) uses `SettingsPropertyValue` constructor and later [thi

[2017-02-14 22:15] chcosta commented on #16161
Regarding #2.  I'd actually prefer we went the other direction and reduced our coupling on VSTS.  There are some nice properties of moving arguments into the PB_*Arguments parameters instead of defining them in build definitions.  It allows us to make our build definitions more generic and therefore more re-usable.  it's also a step towards moving away from a dependency on VSTS as we can encapsula

[2017-02-14 22:15] mattman624 commented on #15570
1. Yes I did, and I made a solution that has some tests in a net46 project that references a cryptographical class from a standard13 project. The net46 referenced 4.3 and it did not work, using the work around it then did work.  I changed it back to 4.3 to answer question two.

2. using dotPeek I see: System.Security.Cryptography.Algorithms (4.0.0.0, msil, .Net Framework v4.0, Debug) and
System.Se

[2017-02-14 22:17] Priya91 commented on #16060
Yeah, closing this as dupe of the other one.

[2017-02-14 22:17] #16060 closed

[2017-02-14 22:32] ianhays commented on #15570
Sorry, for the project.json could you share the one that uses 4.3.0?

[2017-02-14 22:33] JeremyKuhne commented on #16162
Behavior should match Desktop (4.6.x) generally. This didn't throw there, it shouldn't throw here.

Go ahead and fix the code. Fyi, we should have the ability to directly run the tests against desktop again in the next week or so.

[2017-02-14 22:35] karelz commented on #16060
@Priya91 how can we best prevent similar fireball fire-drill investigation in future 1.1 servicing releases?

[2017-02-14 22:39] mattman624 commented on #15570
That is the project.json from the standard13 project. I do not see any project.json in my net46 project.
It is my understanding that NuGet installs all of the dependencies behind the scenes and project.json only contains the highest level dependencies

[2017-02-14 22:55] mattman624 commented on #15570
[project.zip](https://github.com/dotnet/corefx/files/775515/project.zip)

here is the project.json from my actual project, not the demonstration project and it shows references to 4.3.0.

[2017-02-14 23:00] bricelam opened #16165 "Move DataSet & DataAdapter out of System.Data.Common"
It feels like in .NET Standard 1.7/2.0 that `System.Data.Common` is growing beyond just what's required to implement a basic ADO.NET provider.

Talking with @divega, it seems that features like `DataSet` and `DataAdapter` could be split out into a separate contract like `System.Data.DataSet`.

APIs like `DbConnection.GetSchema()` and `DbDataReader.GetSchemaTable()` are a little tricky because they

[2017-02-14 23:00] benaadams commented on #15957
Question... my [SIMD cheat sheet](https://db.in.tum.de/~finis/x86-intrin-cheatsheet-v2.1.pdf) says that unpack is available on SSE2; could there be a way to use these functions in coreclr (even if its hardcoded to x64 and the original AMD64 instructions)

[2017-02-14 23:08] ianhays commented on #15570
But your project.lock.json shows the netstandard project using 4.2.0, not 4.3.0. That's where the old 4.0.0 dependency is coming from.

That's mostly true, yeah. The actual resolved dependencies are in the project.lock.json file.

In the original post it's stated that **both** the netstandard and net46 projects are referencing the 4.3 version of Algorithms which raises the interesting question of

[2017-02-14 23:13] mattman624 commented on #15570
Yes, my first project.json was from my demo project. The second file I included is from my current project I am developing and it displays 4.3.0 for both of those dependencies.

The workaround works in the demo project, however in the main project it introduces many many other dependency problems.

[2017-02-14 23:18] mellinoe commented on #15957
@benaadams Could you explain more what you mean?

[2017-02-14 23:29] benaadams commented on #15957
As I understand it Vector can be used upstream of coreclr (e.g. corefx, et al); but the types aren't available in coreclr itself. I assume there may be issues with `IsHardwareAcclerated` branch elimination and Vector sizing with NGen?

However a place `Widen` would be very useful would be in ASCII and UTF8 `Encoding`s for conversion to `string` which are defined in coreclr rather than corefx. `Nar

[2017-02-14 23:38] mellinoe commented on #15957
I see; you're asking whether `Vector<T>` can be used within System.Private.CoreLib for optimizations to lower-level core types. Right now, it cannot. You would need to implement such optimizations in a separate layer.

[2017-02-14 23:46] weshaggard commented on #16152
Fixed by https://github.com/dotnet/corefx/pull/16157.

[2017-02-14 23:46] #16152 closed

[2017-02-14 23:55] karelz commented on #16162
@JeremyKuhne can you please add the triage labels as we discussed?

[2017-02-14 23:56] tarekgh commented on #3140
People on this issue, we are getting close to enable CheckForOverflowUnderflow for the whole corefx  for the debug build. this may happen in the next couple of days. please let's know if you have any concern before doing that. Thanks.

[2017-02-14 23:56] Priya91 commented on #13323
Debugged through this on a machine where the test is hanging on redhat. When setting the network interface index to 1 (lo) the test passes, and setting index to 2 (eth0) the test hangs, index 2 corresponds to eth0 network interface.. On machine where the test passed, the socket is able to receive on both network interface indexes 1,2. It only makes sense to conclude that the default network interf

[2017-02-15 00:16] Priya91 commented on #16060
This bug is not in .NET, as running the test with master bits on the same machine produces the hang, whereas the test passes on Jenkins machines. We need to figure out if it's configuration/firewall/unknown element on the machine that's causing this.

One way to prevent this will be to use the same image that Jenkins uses on Helix. Or disable this test for helix test runs.

cc @MattGal what is the

[2017-02-15 00:18] dhoehna commented on #15554
@JeremyKuhne I rant he test project again.  Since the error happened in the dll there is not stack trace.

I've had this happen before in other projects.  I'll try to find where the main code is so I can put a breakpoint there.

[2017-02-15 00:23] dotMorten commented on #9675
This is an absolutely horrible practice. That completely defeats the purpose of having a .NET Standard.

[2017-02-15 00:24] ianhays commented on #15570
Thanks @mattman624, I got it reproduced.

The error might be that the dll being produced in the netstandard1.3 classlibrary project has the 4.0.0 versions of both Algorithms and Primitives in the manifest:
![image](https://cloud.githubusercontent.com/assets/2606879/22955054/fb79ba58-f2ce-11e6-8233-090a826a2363.png)

regardless of the version listed in the *deps file alongside the dll, the project.

[2017-02-15 00:29] dagood commented on #16126
/cc @dleeapho I think this is something we should support in BuildTools. Some background: right now, our publishing code is in the VSTS definition, and it uses tool acquisition scripts in the build pipeline repo.

[2017-02-15 00:37] Priya91 commented on #13309
@yaakov-h I dont think it's the stack that's changed, as i just updated my mac today, and ran the program, it worked as expected.

[2017-02-15 00:56] #16076 closed

[2017-02-15 00:58] jcouv commented on #15175
Could someone link to the work item for adding the new targeting pack in corefx repo? I'm assuming that is planned to do shortly.

[2017-02-15 00:58] stephentoub commented on #9543
Reopening since it's being referenced by #16167

[2017-02-15 01:34] onovotny commented on #9675
@karelz will this be included in the work to get netstandard 2.0 to UWP? Like actually implemented and working, not throwing?

[2017-02-15 01:37] fujiy commented on #14376
I was trying to use my own build of System.Memory (unsuccessfully btw) and figure out that we have two implementations: https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Span.cs and https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Span.cs.

How does it work?

Thanks

[2017-02-15 01:39] safern commented on #16040
Currently working on this

[2017-02-15 01:41] karelz commented on #9675
We should at minimum consider it. Personally I'd say that if it is implementable (via APIs available in UWP context) and not super-costly, I don't see a reason to exclude it - @davidsh @CIPop is it part of your NS2.0 UWP plan?

Note: The issue is marked 'untriaged' - we are still working through Networking area triage (it's taking longer than I'd like as we are heads down on quite a lot of high-pr

[2017-02-15 01:47] MattGal commented on #16060
I don't think it's entirely fair to say the bug is not in .NET simply because no one has found the root cause.  Without understanding of that, it's just guesswork.

Either way, the only way we do test filtering today is via XUnit trait, and that is not helix specific.  It would be fairly simple to add a new trait specific to this, but until you've proven there's something specifically wrong with H

[2017-02-15 01:50] davidsh commented on #9675
yes, this is already part of our .NET Standard 2.0 for UWP plan.

And by the way, the implementation won't be using WinRT APIs for UWP.  We plan to re-use the existing .NET Core implementation which will work on UWP since those needed win32 api's will be part of allowed api for app container.

[2017-02-15 01:52] onovotny commented on #9675
@davidsh That's fantastic news! From the above comments, it sounded like there might be other API's in a similar situation -- that are in the surface area but throw at runtime on UWP. Is that still the case for 2.0 or have those gaps been filled? If there is a gap, is there a list we can triage to help get community support behind any specific sections?

[2017-02-15 01:54] Priya91 commented on #9675
@karelz What would be the milestone for .netstandard2.0 UWP? Leaving it at Future for now.

[2017-02-15 01:57] karelz commented on #9675
@Priya91 very good point. I think it's time to create one - I'll call it 2.1-UWP for now (@danmosemsft feel free to adjusted while I am OOF :))

[2017-02-15 01:59] ccicchitelli commented on #9675
@dotMorten @kaepora Couldn't agree more. I'm disappointed this is even a question that needs to be asked. Come on MS!

[2017-02-15 02:02] Jiayili1 commented on #15383
@danmosemsft Can you do a favor? Since I couldn't navigate to the previous builds, the page could not be found, https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_opensuse42.1_debug/ there only shows recent 20 builds, but this issue is repro on build#77.

[2017-02-15 02:06] mellinoe commented on #15472
@danmosemsft I think it should be updated now (or rather, yesterday).

[2017-02-15 02:06] Priya91 commented on #16060
@MattGal From the investigation, it looks like it's highly likely that it's machine configuration issue. Syncing with redhat folks to help debug, and temporarily disabling the test for redhat and fedora machines.

[2017-02-15 02:21] davidsh commented on #9675
We are working thru the list.  But the objective for the ".NET Standard 2.0 for UWP" milestone is getting the entire surface area of .NET Standard 2.0 working on UWP.  So, that includes System.Net.NetworkInformation as well as the System.Net.Security contract (SslStream, etc.).

In general, we have added more things to the win32 allowed list such as iphlp, schannel, etc. so that we can implement t

[2017-02-15 02:24] onovotny commented on #9675
Off topic to this particular issue but has there been progress on getting ILEmit to work / be supported on UWP in any capacity? Even a fallback interpreter like iOS has can be useful for some things.

[2017-02-15 02:24] karelz commented on #9675
I changed the milestone to 2.1.0 with explanation it is 'temporary version' - cc @danmosemsft

@dotMorten @ccicchitelli @kaepora I understand your view point. We're trying to do our best. Sadly, in some (hopefully rare) cases we have to resort to the NotImplemented solutions - due to inability to fully implement the API, or due to resource constraints - ideally backed with low usage data and avail

[2017-02-15 02:26] karelz commented on #9675
@onovotny RefEmit is out of scope of .NET Standard 2.0 UWP wotk - it is one of the reasons why RefEmit is not part of .NET Standard 2.0, because it can't be implemented on all platforms. cc @terrajobst @danmosemsft

[2017-02-15 02:38] ccicchitelli commented on #9675
I totally understand not every method and API call can be implemented on all platforms for obvious reasons, but I'd like think that's the only reason something doesn't get included.

I'm in the position of planning to port a rather large .NET desktop/server app over, let's just say it's not exactly what I expected it would be when the ".NET everywhere!" announcement was made.

[2017-02-15 03:47] jamesqo commented on #16138
@jkotas Is that possible using the current Unsafe APIs? AFAICT there is no way using the current Unsafe/JitHelpers classes... `Write(AsPointer(ref array[index]), value)` does not work because the array can get moved around between AsPointer/Write. `Unsafe.Add(ref JitHelpers.GetArrayData(array), index) = value` (which is done by Span) does not circumvent it because it returns a `ref T` which has to

[2017-02-15 04:11] danmosemsft commented on #15383
@Jiayili1 after a while (?2 weeks) the log are deleted. If the log is gone, there is nothing that can be done. If there is a newer build with a failure, please link that. If there is not, please close this until there is one.

[2017-02-15 04:13] dotMorten commented on #9675
IMHO that just means this API shouldn't have been part of the standard. If you make the API part of the standard, and a platform is saying it supports that standard, you also commit to provide the implementation. Getting runtime exceptions instead of compile time errors is quite unacceptable. I can sit here and happily think my .NET Standard component runs on all these platforms, and then it turns

[2017-02-15 04:19] danmosemsft opened #16172 "ci.dot.net not responding"
Eg the badges on the homepage are dead, etc.

@mmitche

[2017-02-15 04:34] hqueue commented on #15519
PR https://github.com/dotnet/corefx/pull/16139 (merged) reverted workaround  for `arm`
and add workaround for `armel`.

[2017-02-15 04:40] hqueue opened #16174 "[arm32/Linux] Remove workaround to prevent armel package restore"
In PR #16139, we restore packages for x64 (instead of armel), since armel host packages are not yet available (CoreFX has a cyclic dependency on upstack repo for this).

Once Core-Setup publishes packages for Host for Linux Armel (arm32), #16139 should be reverted.

There is a same issue for arm (#15519) which can be closed by now.

Related issue for arm32 CI (Issue #16175): We have to update ARM

[2017-02-15 04:58] hqueue opened #16175 "[arm32/CI] host packages are not yet available for armel"
We can not use `-buildArch` and `-RuntimeOS` for armel when building managed code, because armel host packages are not yet available.

For example, we can build managed code for ubuntu.16.04-arm with following options.
`./build-managed.sh -Release -buildArch=arm -RuntimeOS=ubuntu.16.04`

But we can't build for tizen.4.0.0-armel yet, so we build managed code with following workaround command witch

[2017-02-15 05:01] jkotas commented on #16138
Right, there is no great way to do it using the current Unsafe/JitHelpers - there would need to be new ones invented for this purpose.

[2017-02-15 05:09] jkotas commented on #16138
BTW: My point about looking at dotnet/coreclr#603 first still holds. I believe that fixing dotnet/coreclr#603 is more valuable than introducing non-variant array wrapper because of nothing needs to be rewritten to get the benefit.

[2017-02-15 05:27] karelz commented on #11100
Thanks @pollax for validation of your end-to-end scenario (top post updated).
Waiting for **couple of more validations**, before we can ship it as final fix on nuget.org ... almost there ...

My apologies that we missed the binding redirect in instructions (I didn't realize we automatically bump assembly version due to potential GAC'ing, but it makes sense).
Also apologies that myget forces you in

[2017-02-15 05:37] tmds commented on #13323
@Priya91 can you try this on the CI machine.
1. run `/sbin/ifconfig`
verify the interface has flags like this:
[code]
2. run `route -n`, the output will tell you what linux thinks is the default interface for multicast traffic
3. Compile and strace [Program.cs](https://gist.githubusercontent.com/tmds/0684ad0f3e858879bd59913095240f15/raw/f15e647cbc58b05fb460a67cf43b746a476f0a01/gistfile1.txt): `str

[2017-02-15 05:43] MaximBalaganskiy opened #16176 "EF Core SqlClient and App Insights"
What can be the reason for not seeing raw SQL in EF app insights in net core project? Not locally nor in Azure.

I remember at some point with one of the RCs I saw SQL logged but not anymore.
Originally, I posted the question here https://github.com/aspnet/EntityFramework/issues/5510 but was referred to this repo.

[2017-02-15 05:58] Jiayili1 commented on #15383
@danmosemsft Thanks Dan, I will check this issue on next few builds.

[2017-02-15 06:09] Jiayili1 commented on #15472
Update this issue status, still repro on build 20170214.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170214.02/workItem/Common.Tests/wilogs

[2017-02-15 06:12] Jiayili1 commented on #15472
Update: This issue is not repro on build 20170215.01.

[2017-02-15 06:15] danmosemsft commented on #15472
great thanks

[2017-02-15 06:18] hermitdave commented on #9675
This is indeed lot worse that before.. I don't remember a time where API surface was not implemented for one part in Full Dotnet framework. So much for DotNet everywhere.

I agree though this issue was only raised 8 months ago. With all the final and RC releases you lot keep making, few small platforms are bounds to go unsupported.. All for the greater good. yay

[2017-02-15 06:23] davidfowl opened #16177 "Standalone packages built from CoreFX should depend on NetStandard.Library and Microsoft.NetCore.App"
Seems like CoreFX is still using granular package references for dependencies in both netstandard1.1 and netcoreapp2.0. Why is that? Here's an example of System.Memory:

![image](https://cloud.githubusercontent.com/assets/95136/22962800/1a6e908e-f304-11e6-8d14-d02e49988d22.png)

/cc @weshaggard @ericstj @Petermarcu

[2017-02-15 06:25] Jiayili1 opened #16178 "There is no test result generated under "System.Data.SqlClient.Stress.Tests""
Failed on OSX.1011.Amd64:AnyCPU-Debug in build 20170215.01, under "System.Data.SqlClient.Stress.Tests".

But there is no test result generated. detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170215.01/workItem/System.Data.SqlClient.Stress.Tests/wilogs

[2017-02-15 06:43] mika76 commented on #8086
Just tried and RC3 is throwing the same error...

[2017-02-15 07:26] Ettery commented on #16029
Just to confirm that I am seeing the same issue running the code above on Ubuntu 14.04.

    $ openssl x509 -in adfscert.crt -text

Is successful, giving the same result as above, while the code given in the original issue gives the error reported there, using the same string certificate  value.

Since openssl appears to be working if reading the certificate from a file (if the header/footer are a

[2017-02-15 07:55] tmds opened #16179 "Socket Close sets socket to non-blocking instead of blocking"
Socket.cs has a comment at: https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L4847
[code]
and the implementation is
[code]

I don't think Linux supports a non-blocking close, so it won't affect the behavior there. Perhaps it will cause bugs on other platforms, Windows in particular.

[2017-02-15 07:57] tmds opened #16180 "create sockets and open files with CLOEXEC by default"
Sockets should not be shared with child processes. So probably it makes sense to add SOCK_CLOEXEC when creating a socket.

https://github.com/dotnet/corefx/blob/7a230270559cfbef056aaafc022cdfd8fd3d829e/src/Native/Unix/System.Native/pal_networking.cpp#L2363

[2017-02-15 08:28] karelz commented on #16176
What you don't see? Which type of project? (is EF special project type?)
Do you have minimal repro? (starting with new app without anything)

[2017-02-15 08:28] agcos opened #16181 "ServicePointManager in dotnet 1.0.0-preview2-1-003177"
In which assembly can I find `ServicePointManager`?

[2017-02-15 08:30] karelz commented on #16179
@tmds what's the concern? Do you have a repro which fails on Windows?

[2017-02-15 08:35] zabulus commented on #16181
It's in netstandart 2.0: https://apisof.net/catalog/System.Net.ServicePointManager

[2017-02-15 08:43] tmds commented on #16179
@karelz no repro, the comments says: 'blocking' while the code does: 'non-blocking'. Only one can be correct.

[2017-02-15 12:32] EgorBo opened #16184 "Missing DbProviderFactory::CreatePermission public method"
DbProviderFactory used to have

`public virtual CodeAccessPermission CreatePermission(PermissionState state)`

now it doesn't: https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/Common/DbProviderFactory.cs

However, OdbcFactory still have it:
https://github.com/dotnet/corefx/blob/master/src/System.Data.Odbc/src/System/Data/Odbc/OdbcFactory.cs#L51

/cc @marek-safar

[2017-02-15 13:54] ppumkin commented on #1624
After struggling for way to long I made my own IHttpHandler Interface and implemented everything for my use case. Makes my concrete code easier to read and tests can be mocked out without some creeazy ass stuff.

[2017-02-15 14:18] delahermosa opened #16185 "Events not fired on inkcanvas after changing InputDeviceTypes"
I'm using an inkCanvas in a UWP application, when I change the property InputDeviceTypes events like PointerExited or PointerMoved are not fired anymore, it's a bug or shall I subscribe to different events?

Thanks in advance.

[2017-02-15 14:44] stephentoub commented on #16184
It was removed from Common to remove the dependency on permissions. cc: @weshaggard

The Odbc port is still a work in progress. The code in corefx is effectively a non-functional code dump from reference source at this point.

[2017-02-15 15:01] Ettery commented on #16029
I have now also attempted a work-around;  As openssl seems happy to read the certificate from a text file (provided it has the headers and footers), I changed the code to write out a text file (with the head/foot) and attempt to import the certificate from file using :

    File.WriteAllText(fileName, certText);
    var coll = new X509Certificate2Collection();
    coll.Import(fileName);

but unfor

[2017-02-15 15:06] TrabacchinLuigi opened #16187 "SetCreationTime, SetLastAccessTime, SetLastWriteTime Should not open a new stream to obtain a SafeFileHandle"
I know that in many cases it is ok to do so, but we found ourself in the case where we need to set file times without closing the actual `FileStream`, and this is possible via Windows API.
To do so we had to write **unsafe** code which mimic the functionality of the [existing functions](https://referencesource.microsoft.com/#mscorlib/system/io/file.cs,63bd669b43be5f17,references).
(which include r

[2017-02-15 15:18] bartonjs commented on #16029
Yes, CoreFx on Linux uses OpenSSL to know what a certificate is.  The good news is that OpenSSL is being consistent, whether from a file or from bytes it's complaining that it doesn't like your certificate.

The bad news is that it's not being consistent between the commandline tool and our usage of the library.  I've never heard of a case where it/we failed to load a legitimate certificate.

Unle

[2017-02-15 15:40] mattman624 commented on #15570
@ianhays Is there a way to solve this issue?

[2017-02-15 16:08] #15519 closed

[2017-02-15 16:18] dennisdietrich commented on #3140
@tarekgh @karelz I have not created a PR yet but I have prepared a new branch and **this one includes the change to dir.props**: https://github.com/dennisdietrich/corefx/commits/Unchecked-Part9
Local inner loop results:
 - Windows 10: Clean
 - macOS 10.12: A few failures due to my network setup (I think)
 - Ubuntu 16.04: Clean (one failure, but it's a known issue)
However, I can't get a clean oute

[2017-02-15 16:38] tarekgh commented on #3140
@dennisdietrich you may start submitting the PR and enable all CI checks on this PR and let's look what is failing there and we can progress from there.

[2017-02-15 16:53] ericstj commented on #16177
That work isn't done yet.  This package was a one off package produced by @mellinoe to unblock some work.

FWIW the only thing that will cahnge for this package is that .NETCoreApp 2.0 will lose the System.Runtime reference.

Were you also expecting NS1.0 to change?  /cc @terrajobst

[2017-02-15 17:01] am11 commented on #16094
Thanks for the feedback @JeremyKuhne, @ianhays and sorry for the late reply; I have been doing some research and come to a agreement with Jeremy's comment above that with the existing `EnumerateFiles` API, the suggested predicate overload wouldn't be necessary. This is just my opinion and perhaps still up to debate if there are still some advantages of having a predicate signature, which we cannot

[2017-02-15 17:07] mmitche commented on #16161
I would actually prefer fewer parameters that flow from the top level to the lower build levels (where the parameters stay the default, hardcode them), but a mechanism that dynamically creates build definitions for PR type cases.

This is closer to what a full pipeline implementation in either VSTS and Jenkins would look like.  Instead of having to parameterize every way you might want to run thin

[2017-02-15 17:32] #16172 closed

[2017-02-15 17:38] MattGal commented on #15472
@danmosemsft , I don't think this means this bug is fixed, simply that we made it so the tests don't crash.  If we care about dumpling working in this scenario, it still doesnt.  I will get Fedora 23 actually cleaned up today.

Just to make sure you understand why:
- I was attempting to disable Fedora 23 runs entirely since 23 is EOL, and we had been building for 24 and sending those to the 23 que

[2017-02-15 18:01] jcouv opened #16195 "ValueTuple in desktop 4.6 app clashes with that of mscorlib 4.7"
Repro:
1. Make a trivial app targeting 4.6 involving tuples (you must add a reference to ValueTuple package)
2. On a machine with 4.7 installed, try to debug that program
3. The program runs fine, with modules listed below (ValueTuple.dll from the corefx package included in the app, mscorlib.dll from desktop 4.7)
4. In the EE (Immediate Window, Watch, QuickWatch) type something that involves tuple

[2017-02-15 18:06] tmat commented on #16195
A fix would be to include System.ValueTuple.dll in .NET Framework 4.7 that type-forwards all types to mscorlib and add it to GAC. When loading System.ValueTuple the loader would prefer this library over the one in the app dir. So there would be no duplicates loaded and EE wouldn't pick it up.

[2017-02-15 18:09] tmat commented on #16195
Issue https://github.com/dotnet/roslyn/issues/17157 has the same root cause.

[2017-02-15 18:17] jcouv commented on #16195
Discussed with @weshaggard
If we made a change to desktop 4.7 to have type unification to System.ValueTuple.dll version 4.0 (type unification only cares about major and minor version), then we'd introduce another problem.
System.ValueTuple.dll 4.0.1.1 has `ITuple`, but desktop 4.7 doesn't.
An app that used `ITuple` on desktop 4.6 would lose it when loaded on a machine with 4.7. (Maybe that isn't s

[2017-02-15 18:20] chcosta commented on #16161
What do you mean by "top level"?  the pipeline file?

Doesn't that assume you know all the ways people will want to run things and constrain flexibility?  I agree with "enable people to edit the pipeline as necessary to get the behavior they want for a specific branch or whatever."

[2017-02-15 18:21] agcos commented on #16181
Thanks @zabulus.

So, does that mean I should be using **.NET Core 1.0.0-preview2-1-003177** and the **.NET Standard 2.0** in my ASP.NET Core application. I am developing in VS Code on macOS and trying to follow [this](https://docs.microsoft.com/en-us/aspnet/core/tutorials/your-first-mac-aspnet) tutorial.

[2017-02-15 18:24] weshaggard commented on #16161
Here is an example of what I'm referring too:
[code]

We shouldn't be need to duplicate "Release", "x64", "Linux" on every different build step that is happening. If we can script that away and eliminate duplication I would be fine with that as well but I really hate repeating things and it just makes for common mistakes.

[2017-02-15 18:26] chcosta commented on #16161
I agree

[2017-02-15 18:28] mmitche commented on #16161
@weshaggard Totally agreed.

I think we should be parameterizing the most common variations that people want to run, but if they do want to run something custom (like varying the test build configuration vs. the create helix arguments), then you should just submit a private with a new version of the pipeline definition/vsts build definitions.

As part of the pipeline work i've identified that ther

[2017-02-15 18:46] tmat commented on #16195
Why doesn't 4.7 have ITuple? Can we add it?

[2017-02-15 18:49] jcouv commented on #16195
I shiproom rejected the ITuple PR when I made it (a few days past code complete alas), so I doubt they would take it now.
@weshaggard Let me know if I'm being too pessimistic.

[2017-02-15 18:49] tmat commented on #16195
The shiproom didn't know we have a bigger problem.

[2017-02-15 18:52] tmat commented on #16195
If the compiler resolved the ambiguity by picking the type from mscorlib, wouldn't we have the same problem with ITuple? That EE wouldn't see ITuple, so expression evaluation would behave differently than the application code. That would be confusing for the user.

[2017-02-15 18:55] steveharter commented on #16133
@sepidehMS it appears  System.Net.Http.Functional.Tests.HttpClientHandlerTest.GetAsync_AllowAutoRedirectTrue_RetainsOriginalFragmentIfAppropriate is now failing on win7.

Can you please add back the [PlatformSpecific] and log appropriate 'win7' bug. Thanks.

Per issue https://github.com/dotnet/corefx/pull/15932

[code]

[2017-02-15 18:57] steveharter commented on #16133
I didn't see that Priya already disabled the tests, so we should be good except for the new issue regarding Win7

[2017-02-15 19:01] JeremyKuhne commented on #16094
@am11 It isn't so much what we have to handle (though that obviously matters) as how we define the API and document it. Most APIs that deal with IO are going to have limitations and caveats- being aware of the corner cases we can choose terms and focus functionality to minimize confusion and give results that are as predictable as possible.

For the `IsSymbolicLink()` for example, we'd want to tak

[2017-02-15 19:27] kriscoleman commented on #11100
Hey guys,

Slightly off topic but I just wanted to give a shoutout to the team here. This issue has been very active and the response has been sometimes hostile. Despite the hostility, I feel the dev team here handled it with class.

Thanks for the support guys and keep up the good work. Mistakes happen. Thanks for fixing it, I understand it takes time.

[2017-02-15 20:02] weshaggard commented on #11661
@ericstj any ideas?

[2017-02-15 21:03] ericstj commented on #11661
Looks like this: https://github.com/dotnet/corefx/issues/7702

[2017-02-15 21:10] Priya91 commented on #13323
@tmds

ifconfig has the following output:

[code]

and strace has this output, it's waiting for recvmsg,

[code]

[2017-02-15 21:18] danmosemsft commented on #16178
@saurabh500 can you please look?

[2017-02-15 21:18] danmosemsft commented on #16100
@Jiayili1 I think @willdean may have fixed or disabled this now? Please close if appropriate

[2017-02-15 21:18] danmosemsft commented on #16099
@Jiayili1 I think @willdean may have fixed or disabled this now? Please close if appropriate

[2017-02-15 21:19] danmosemsft commented on #15981
@ianhays @JeremyKuhne

[2017-02-15 21:21] saurabh500 commented on #16178
@danmosemsft that's expected. these tests only build in the repo and we run them locally.

[2017-02-15 21:22] weshaggard commented on #16108
I'm not entirely sure what fixed this but I don't see the build warning any longer.

cc @ericstj

[2017-02-15 21:22] #16108 closed

[2017-02-15 21:28] danmosemsft opened #16200 "Failure in System.Net.Http.Functional.Tests.HttpClientHandler_ClientCertificates_Test.Manual_CertificateSentMatchesCertificateReceived_Success(numberOfRequests: 6, reuseClient: False)"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/lastCompletedBuild/testReport/

System.Net.Http.Functional.Tests.HttpClientHandler_ClientCertificates_Test.Manual_CertificateSentMatchesCertificateReceived_Success(numberOfRequests: 6, reuseClient: False) (from (empty))

[code]

@steveharter @Priya91 could you please fix or disable this today to get our badge green?

[2017-02-15 21:30] Ran-QUAN commented on #13914
@ianhays I'm using nuget feed.

[code]

Removing `win10-arm` from project.json will fail the package restore with the following error:

`Error	Your project.json doesn't list 'win10-arm' as a targeted runtime. You should add '"win10-arm": { }' inside your "runtimes" section in your project.json, and then re-run NuGet restore.`

[2017-02-15 21:30] danmosemsft commented on #16178
@MattGal what is the right way to disable a test from running even in outerloop, but allow it to run locally (presumably with some flag)

[2017-02-15 21:31] danmosemsft opened #16201 "Curl exception: Problem with the SSL CA cert (path? access rights?) on centos, fedora, redhat."
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_portablelinux_debug/lastCompletedBuild/testReport/System.Net.Tests/HttpWebRequestHeaderTest/GetResponse_UseDefaultCredentials_ExpectSuccess_remoteServer__https___corefx_net_cloudapp_net_Echo_ashx_/
[code]

@steveharter @Priya91 please either fix or (presumably) disable today, so we can get a green badge.

[2017-02-15 21:40] danmosemsft opened #16202 "System.Net.Http.Functional.Tests.HttpClientHandlerTest.GetAsync_AllowAutoRedirectTrue_RetainsOriginalFragmentIfAppropriate is failing"
These are failing

Logs at https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/lastCompletedBuild/testReport/

`System.Net.Http.HttpRequestException : An error occurred while sending the request.\r\n---- System.Net.Http.WinHttpException : The data is invalid`

[code]

@Priya91 @steveharter please fix or (presumably) disable today so we can get a green badge.
Click in  to see

[2017-02-15 22:02] Priya91 commented on #16202
@danmosemsft This is a dupe of #16133.. And it's from the same run #97. Can you please avoid filing duplicate bugs when there are no newer runs.

[2017-02-15 22:02] #16202 closed

[2017-02-15 22:05] MattGal commented on #16178
The "failure" here was an infra bug caused by running > 1 client at once on Macs (since we only really have 5 machines).  I've brought all the prod macs back to 1 instance per machine and understand the bug, will get a fix for that in the pipeline.

As for what we should do for test assemblies which contain no XUnit facts, the right thing to do here is to not send them off to run at all.   Applyin

[2017-02-15 22:06] Priya91 commented on #16133
This test is disabled for win7, so removing blocking-clean-ci.

[2017-02-15 22:12] Priya91 commented on #16200
@steveharter Assigning to you, since you mentioned you are looking at this yesterday.

[2017-02-15 22:14] danmosemsft commented on #16178
I see the pattern that you might use @saurabh500 if you don't want tests to run in Jenkins:

[code]

[2017-02-15 22:20] Priya91 commented on #16147
This issue is in same class as #16201, curl exception with ssl ca certs. Tracking such failures in a single issue and closing others as dupes.

[2017-02-15 22:20] #16147 closed

[2017-02-15 22:22] Priya91 commented on #14838
dupe tracked in #16200

[2017-02-15 22:22] #14838 closed

[2017-02-15 22:29] MaximBalaganskiy commented on #16176
EF is EntityFramework, used in Asp.Net Core 1.1 project. Dependency telemetry does not have SQL text.

[2017-02-15 22:55] MattGal commented on #16178
@danmosemsft  I think this sort of approach only matters when there are actual theories/facts to be skipped.  I do like that style though.

[2017-02-15 22:56] steveharter commented on #13938
I was able to repro this. In my repro, an ObjectDisposeException is raised in WinHttpResponseStream.ReadAsyncCore(byte[] buffer, int offset, int count, CancellationToken token) here:
[code]
because the handle has been closed because of the call to Cancel() in the test, and because the call to read the stream has not yet finished (race condition). Full stack:
[code]
In windows, the actual handle is

[2017-02-15 22:59] dhoehna commented on #15554
@FireAlkazar How are you running the tests?

[2017-02-15 23:09] discostu105 opened #16206 "net46 referencing netstandard1.3: 'Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0'"
Ran into a strange problem and isolated it to the following:

 * ConsoleApp (.NET 4.6, old csproj)
 * ClassLib (netstandard1.3, new csproj)
 * ClassLib uses `System.IO.File`
 * ConsoleApp references ClassLib

When executed, this exception flies: `System.IO.FileNotFoundException: 'Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3

[2017-02-15 23:10] discostu105 commented on #16206
btw: something similar has been reported here: https://github.com/aspnet/EntityFramework/issues/6831 and https://github.com/aspnet/Hosting/issues/801

[2017-02-15 23:13] weshaggard commented on #16206
@discostu105 can you add a reference to NETStandard.Library package to your net46 console application? It is needed to get the System.IO.FileSystem assembly that is missing.

[2017-02-15 23:18] discostu105 commented on #16206
@weshaggard great, that solved my problem. thanks for super-fast response!

just for the record: when doing the ConsoleApp in the new csproj format (still net46), it did work without adding a reference.

[2017-02-15 23:18] #16206 closed

[2017-02-15 23:22] weshaggard commented on #16206
Yes in the new project system we are able to flow the NETStandard.Library package reference automatically so you don't need to do in manually but in the old system the manual referencing is still needed.

[2017-02-15 23:28] Priya91 commented on #16146
Looking at the callstack the AV is happening while trying to build the certificate. @bartonjs Any ideas if this is the same as #13814?

@ayende if it's the same issue, you can try the workaround specified in the issue #13814

[2017-02-15 23:39] bartonjs commented on #16146
Yep. https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1-known-issues.md#systemexecutionengineexception-in-systemsecuritycryptographyx509cerificatesdll-on-windows

(The workaround is the last item on that page, which is where the anchor points... but browsers + big windows + small text = ambiguous visual reference)

[2017-02-15 23:39] #16146 closed

[2017-02-15 23:44] weshaggard commented on #15122
In PR 16207 add a "-tests" option that will cause both the src and the tests to be built, as well as runs the tests.

[2017-02-15 23:49] Priya91 commented on #16180
@tmds Why shouldn't sockets not be shared with child processes? Linux allows child processes to inherit all file descriptors from parent to child, hence it's legal to allow inheritance of sockets as well right.

[2017-02-15 23:51] weshaggard commented on #15168
@mellinoe you mentioned that you were working on a way to create a self-contained tests output is that something you are still looking at?

[2017-02-15 23:56] Priya91 commented on #16179
@tmds Is the concern here to change the code comment?

[2017-02-16 00:04] Priya91 commented on #11207
Per @davidsh last comment, seems like the bug is caused due to malformed cookies from server. Closing the issue as not a bug in .net.

[2017-02-16 00:10] Priya91 commented on #15202
Closing issue as all networking errors are tracked.

[2017-02-16 00:10] #15202 closed

[2017-02-16 00:11] Priya91 commented on #13301
This is dupe of #13464

[2017-02-16 00:11] #13301 closed

[2017-02-16 00:24] VSadov opened #16209 "Need an efficient helper to check if an instance of T is a default(T)"
The need arises once in a while to check if a value at hand is not initialized.

See for example comments on  https://github.com/dotnet/corefx/pull/16122

Also, If/when parameterless constructors for structs are introduced, the need for `IsDefault` check could become more apparent.

[2017-02-16 00:24] SolalPirelli commented on #11207
@Priya91 Sure, it's malformed cookies from the server, but dealing with non-compliant servers is part of a client's job; also, the full .NET Framework handles it just fine, so it's a regression in .NET for UWP.

[2017-02-16 00:24] VSadov commented on #16209
CC @jkotas

[2017-02-16 00:36] Priya91 commented on #13464
Given that gethostentryasync depends on native os apis getaddrinfo, gethostbyname and .NET just wraps those results. I don't think there's a bug in .NET to be fixed here, given the inherent platform differences. Closing the issue, please reopen if you think .NET should behave differently than OS apis.

[2017-02-16 00:37] stephentoub commented on #13464
I think the test needs to be fixed.

[2017-02-16 00:44] Priya91 commented on #13464
Next steps: Rewrite test to handle the difference.

[2017-02-16 00:46] Priya91 commented on #11207
@SolalPirelli Is the implementation from desktop giving a non-empty value for malformed cookie?

[2017-02-16 00:50] #15122 closed

[2017-02-16 00:50] Priya91 commented on #12908
Not seeing this failure in release/1.1.0 branch 25 builds.. Closing as not repro, please reopen if issue found again.

[2017-02-16 00:50] #12908 closed

[2017-02-16 01:07] Jiayili1 commented on #16099
@danmosemsft I will check it on the new build, thanks Dan.

[2017-02-16 01:10] weshaggard commented on #16097
@stephentoub I was actually able to run build.cmd first time online and then the second time unplugged from the network which worked fine.

I did hit an issue where I couldn't build and individual library via "rebuild" because the auto ProjectReferences to things under external caused a restore to happen. I've fixed that with https://github.com/dotnet/corefx/pull/16210.

Can you please give this a

[2017-02-16 01:10] Priya91 commented on #11207
I checked the following code under desktop and .NET Core 1.1, they have the same output:

[code]

On desktop:

[code]

From .NET Core 1.1

[code]

[2017-02-16 01:11] weshaggard commented on #16081
Removed these in #16212

[2017-02-16 01:16] geoffkizer opened #16213 "Timing issue with Socket.ReceiveAsync causes occasional corrupted data"
Code below.

Short version of this problem: We have a timing issue in the p/invoke logic for WSARecv that can cause received data to be corrupted when you use SocketAsyncEventArgs and ReceiveAsync in a particular way.

You need to:
(a) Use multiple buffers via SocketAsyncEventArgs.BufferList (not SetBuffer)
(b) In the completion callback for the ReceiveAsync, you need to change the BufferList and

[2017-02-16 01:19] weshaggard commented on #15503
@hseok-oh @gkhanna79 after looking at this a little while I don't think we can do it without further work because we use the CoreCLR package for more then just testing. We use it for building some of our corefx libraries as well. For building we don't need an exact matching architecture just a System.Private.CoreLib.dll to reference so it could really be any. So I think the best workaround is to c

[2017-02-16 01:22] Priya91 commented on #12618
@zhenlan You've marked the issue as blocking partner, but it has not been in the radar for 2.0.0.

If you are able to workaround after kinit and the DefaultCredentials working, this is not blocking right?

cc @karelz

[2017-02-16 01:25] gkhanna79 commented on #15503
@weshaggard Why does CoreFX build reference an implementation assembly and not a contract corresponding to it?

[2017-02-16 01:25] sepidehMS commented on #16133
@steveharter I removed the PlatformSpecific label after looking at this test's history and also the APIs it calls and to me it didn't seem like it should be specific to Unix. Do you mean this should never run on Windows and I missed something?

[2017-02-16 01:27] weshaggard commented on #15503
We don't have a contract form of System.Private.CoreLib which we have a number of facades we build in corefx that need that need to type-forward things down to System.Private.CoreLib. We could create a ref for that but I would prefer not doing that.

[2017-02-16 01:32] Priya91 commented on #12319
The windows functionality will be available in 2.0.0 but missing in Unix. Adding it to 2.0.0, to consider this Unix work if manpower available.

[2017-02-16 01:35] Priya91 commented on #12015
We are tracking this as part of networking test cleanup.

[2017-02-16 01:38] davidsh commented on #11207
The UWP version of System.Net.Http dll is very different than the non-UWP version.  The UWP version uses the code in 'netcore50' source directory.  It uses the WinRT Windows.Web.Http stack (based on Wininet).  This is very different from the non-UWP System.Net.Http.dll which on .NET Core uses WinHTTP.

If you want to repro this problem, you need to write a UWP app.

[2017-02-16 01:40] davidsh commented on #11207
Yes, UWP uses the System.Net.Http package built from CoreFx.  So, it is ".net core binaries".  But remember that there are multiple binaries in the NuGet package.  The UWP one is using the 'netcore50' target (to be renamed the uap10.1 target).  This is a different binary than non-UWP.  Most of the source code is the same for System.Net.Http except the implementation of the handler (HttpClientHandl

[2017-02-16 01:52] #16081 closed

[2017-02-16 01:54] Jiayili1 commented on #15844
This issue is repro on InnerLoop_Fedora24_debug ([build#990](https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_debug/990/consoleText)).

Message:
[code]

Stack Trace:
[code]

[2017-02-16 01:56] stephentoub commented on #16213
cc: @davidsh, @cipop

[2017-02-16 02:03] Jiayili1 commented on #16200
This test failed on OuterLoop_Ubuntu14.04_debug ([build#104](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug/104/consoleText)).

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug/104/consoleText

Message:
[code]

Stack Trace:
[code]

[2017-02-16 02:14] Jiayili1 commented on #13298
This issue is repro on OuterLoop_PortableLinux_release ([build#14](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_portablelinux_release/14/consoleText)).

Message:
[code]

Stack Trace:
[code]

So added "blocking-clean-ci" label.

[2017-02-16 02:18] danmosemsft commented on #15814
`build -tests` apparently doesn't run tests.
`build-tests` does run tests, but there should be a way to build without tests.
@Petermarcu

[2017-02-16 02:19] Jiayili1 commented on #13298
This issue is also repro on OuterLoop_Windows7_release (build#98).

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/98/consoleText

Failed tests:
[code]

[2017-02-16 02:19] jamesqo commented on #16209
Yes, definitely, this would be awesome. A cost-free API for checking whether some generic type is a class (and not a nullable) would be nice too, if it can be implemented straightforwardly.

[2017-02-16 02:20] danmosemsft commented on #16185
@terrajobst do you know where to log issues against XAML?

[2017-02-16 02:21] Petermarcu commented on #15814
I was running `build.cmd -BuildTests` I didn't try `build.cmd -tests`

[2017-02-16 02:22] danmosemsft commented on #16178
Oh, I missed that there were no XUnit tests in it.

@saurabh500 sounds like maybe worth doing ` ArchiveTests=False as an MSBuild property in the test's project/ .builds `

[2017-02-16 02:24] hseok-oh commented on #15503
I understand we need System.Private.CoreLib.dll that is generated in CoreCLR to build CoreFX. That's fine. But at least, we need to support that new contributers can build correct CoreCLR + CoreFX set for new target platform(architecture). Can we confirm that there will be no the correctness problem in CoreFX build wth overriding another existing RID? How can they do CoreCLR & CoreFX test in targe

[2017-02-16 02:28] hongdai commented on #12618
WCF cusotmers will NOT be able to work around by kinit and the defaultCredentials working. They need the API HttpClientHandler.UseDefaultCredentials to set to System.Net.CredentialCache.DefaultNetworkCredentials.

[2017-02-16 02:29] Jiayili1 commented on #16046
This issue is repro on OuterLoop_Centos7.1_release (build#95), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_release/95/consoleText

Message:
[code]

Stack Trace:
[code]

So added "blocking-clean-ci".

[2017-02-16 02:32] Jiayili1 commented on #16100
This issue doesn't repro, so remove "blocking-clean-ci", and closed this issue.

[2017-02-16 02:32] #16100 closed

[2017-02-16 02:34] Jiayili1 commented on #16099
This issue doesn't repro, so remove "blocking-clean-ci", and closed this issue.

[2017-02-16 02:34] #16099 closed

[2017-02-16 02:35] Jiayili1 commented on #16055
This issue doesn't repro on today's build, so remove label "blocking-clean-ci".

[2017-02-16 02:55] weshaggard commented on #15503
Agreed I will reopen this and try to at least add some documentation.

[2017-02-16 02:57] weshaggard commented on #15814
I just added `build.cmd -tests" in PR https://github.com/dotnet/corefx/pull/16207 which will build and run tests on top of building the src.

[2017-02-16 02:57] weshaggard commented on #15814
We do still need an option for build-tests.cmd that will just do a test run.

[2017-02-16 03:03] WinCPP commented on #3862
@karelz @CIPop @stephentoub In the above PR, I have targeted the 'static volatile' fields. Code has double-check locked initialisation for instance fields, as well. Would it be correct to say that those are not of concern? Appreciate your inputs.

[2017-02-16 03:06] jkotas commented on #16209
Do you have more examples where this would be needed? It is not a rocket science to write such helper - take address of the value and its size, and check whether it is all zeros (using unsafe code, potentially with the usual loop unrolling, etc.).

Agree. It should be separate issue.

[2017-02-16 03:31] jamesqo opened #16217 "Add an API to check whether a generic type is a class"
It would be nice to have a cost-free API to check whether a generic type is a class. You can check `default(T) != null` and be 100% confident something is a struct if that condition is true, but if `default(T) == null` then it could be a class or a nullable. The only way to tell right now is via reflection, using something like `typeof(T).IsGenericType && typeof(T).GetGenericTypeDefinition() == ty

[2017-02-16 03:39] jkotas commented on #16217
Why it needs to be this complex? Can't it be just `typeof(T).IsValueType` ?

[2017-02-16 03:42] benaadams commented on #16217
Counter part of `IsReferenceOrContainsReferences<T>()` of `IsReference<T>()`?

[2017-02-16 03:44] jamesqo commented on #16217
@jkotas Well yes, you could use something like `default(T) != null || typeof(T).IsValueType` to make the check for regular structs fast and still handle nullables (or `default(T) == null && typeof(T).IsValueType` to detect them), but most code I've seen tends to use what I've written for explicitly detecting nullables. Either way though reflection still needs to be used.

[2017-02-16 03:47] jamesqo commented on #16217
@jkotas As an aside, it looks like the implementation could be changed in Comparer/EqualityComparer to make detecting nullables more efficient... see https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/EqualityComparer.cs#L53 and https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/Comparer.cs#L59

[2017-02-16 03:53] jkotas commented on #16217
So the real problem is that `typeof(T).IsValueType` is slow. We can either tech the JIT to recognize it as intrinsic; or introduce a new API and tech the JIT to recognize the new API as intrinsic. The first option sounds better to me. Is there a good reason why we would want to introduce a new API for this instead of just make the existing one more efficient?

Micro-optimizations in these methods

[2017-02-16 04:04] jamesqo commented on #14047
Should this issue be closed?

[2017-02-16 04:06] jamesqo commented on #16217
How complicated would it be to teach the JIT to recognize existing code as intrinsic? I remember seeing an issue raised by @omariom in coreclr that was dated 2015 about recognizing these kinds of patterns; can't find it now, but I came over it a year later and it was still open.

[2017-02-16 04:13] jkotas commented on #14047
It was not exposed in the contracts yet.

[2017-02-16 04:24] jkotas commented on #16217
Add new CorInfoIntrinsics enum in inc\corinfo.h; recognize on the VM side; expand it impIntrinsic in the JIT. For example, here is a change that added new intrinsics for `Span<T>` https://github.com/dotnet/coreclr/commit/0bedde3a63f22b65155d5f369e75c448c6afb786 (the commit also contains some other unrelated changes).

[2017-02-16 04:30] davidfowl commented on #16177
@ericstj Both should be changed. We should follow our own guidance here (use the NetStandard.Library package instead of granular references).

[2017-02-16 04:42] FireAlkazar commented on #15554
@dhoehna
Initially I run `corefx\build-managed.cmd` and `corefx\build-tests.cmd`.
 In Developer command prompt for VS2015 I navigate to `corefx\src\System.Configuration.ConfigurationManager\tests` folder and run `msbuild /t:buildandtest System.Configuration.ConfigurationManager.Tests.csproj`.
After that I open '.sln' in VS, select test project as startup and Ctrl+F5 or F5.
Also I avoid clean solut

[2017-02-16 05:47] karelz commented on #16181
.NET Standard 2.0 will be implemented by .NET Core 2.0, which didn't ship yet. You can used daily builds, but it is not RTW quality.

[2017-02-16 05:48] #16181 closed

[2017-02-16 08:00] #16025 closed

[2017-02-16 08:52] tmds commented on #16180
When a child process inherits the file descriptors, it can do anything with them and the parent process can no longer assume it is the sole controller of those descriptors. The file descriptors which are shared are a random snapshot at the time of exec. They can include even sensitive handles which should only be used by the parent. Close-on-exec should be the default. This also applies to files.

[2017-02-16 09:16] tmds commented on #13323
@Priya91 that looks fine. Perhaps packets are blocked by the firewall? Try `systemctl stop firewalld` and then run the Program. If that doesn't help, try disabling the service (`systemctl disable firewalld`) and a reboot and then run the program.

[2017-02-16 09:22] davidfowl opened #16221 "Add primitive/exchange type for a "single fire" event"
We have several places where we need to represent an event that fires once and classic .NET events are a poor way to represent it because of the following reasons:

- Events don't describe if they fire once or multiple times, you have to trust the API (like a connection closed event handler should only fire once)
- There's no way to poll events. In some cases it my be reasonable to check if the ev

[2017-02-16 09:26] smosek commented on #12887
Is there an easy workaround (writing a command with many insert statements is not what I consider easy)?
Would very much like to see this added.

[2017-02-16 11:15] tipa commented on #13914
I see this is still making problems to some of you, so I thought I might add some observations of mine:

- The problem does only occur on Mobile and the current public  build 14393

- It is not happening on Desktop or on the current Insider Mobile build 15031

@Ran-QUAN @groege do you have same experiences? Maybe we can save Ian and the others from some headache and just wait for the Creators Upda

[2017-02-16 11:50] springy76 commented on #2704
Whatever you invent, please consider what happens when the ThreadPool is starved due to heavy load.

Task.Delay(-1, token).Continue[..] has the worst behavior in my test:

[code]

[2017-02-16 11:50] benaadams opened #16223 "All Tests failing"
Example: https://github.com/dotnet/corefx/pull/16222

[2017-02-16 11:53] omariom commented on #16217
@jamesqo

[Make JIT time constants from calls to Type methods and propertie ](https://github.com/dotnet/coreclr/issues/2591)

[2017-02-16 12:02] omariom commented on #16221
_Just for discussion_
Can't `Task<bool>` be used for that?

[2017-02-16 12:52] hqueue commented on #16223
I also experienced same failure now on Ubuntu 14.04-x64.
It can be reproduce when run `./build-managed.sh -release` with newly cloned latest corefx.

I found that last working corefx has `packages/coveralls.io` directory which was restored during build, but I can't restore it with the latest corefx (ee5acbafbafb1128026a96afac3508f494b857e8).

[2017-02-16 13:29] donatasm commented on #14799
Up until that any work arounds on this? I mean graceful shutdown for at least inside docker container for a dotnet core app.

[2017-02-16 14:59] lgrosales commented on #9846
I was getting the same issue as @andriysavin and both the binding redirect to 4.0 and upgrading to System.Net.Http 4.3 fixed my issue. I decided to go with the upgrade as it's the safest approach.

[2017-02-16 15:11] ericstj commented on #16177
@davidfowl I believe the guidance is to not reference NETStandard.Library at all and let it be implicit on the frameworks that support it.  That change is for everything supporting ns2.0 and later.

We could make the NS1.x assets use NETStandard.Library package reference, but that has not been part of the POR as of yet.   @terrajobst and company would need to agree to this and spec it out with res

[2017-02-16 15:17] JohnGalt1717 commented on #9846
using System.Net.Http 4.3 only solves the issue on web apps. If you use Azure Web Jobs it doesn't solve the problem. If you use desktop apps it doesn't solve the problem.

And System.Runtime.Serialization.Primitives also has issues. (it's still on 4.1.2 even though the package says it's 4.3, the binding redirect is for 4.1.2 that it insists on updating constantly)

And worse, every single time you

[2017-02-16 15:20] Ettery commented on #16029
I had a suggestion on my [StackOverflow question](http://stackoverflow.com/questions/42253226/how-are-people-authenticated-in-their-asp-net-core-web-apis-on-ubuntu-docker-giv) to decode the string from Base64 when converting to the byte array, and that has solved the problem, it would seem that the Windows code will detect and decode base64 where openssl does not.  Might be worth doing that in the

[2017-02-16 15:25] davidsh commented on #9846
I think you are running into the larger problem that is described in #11100.

We have a larger fix for that issue in the System.Net.Htpp 4.3.1 package that should address the problems you're seeing with Azure Web Jobs and desktop apps.

Please take a look at #11100.  You can try out the 4.3.1 package from the MYGET feed.  It will be published to the main NuGet.Org feed within the next week or so.

[2017-02-16 15:25] davidsh commented on #9846
cc: @karelz

[2017-02-16 15:29] bartonjs commented on #16029
Oh, I totally missed that you used ASCII.GetBytes instead of FromBase64String.  I guess Windows' PEM loader isn't a PEM-loader but a Base64-loader; and OpenSSL's checks the PEM armor.

Well, that'll certainly make for some interesting new tests.

[2017-02-16 15:37] JohnGalt1717 commented on #9846
That still doesn't address: System.Runtime.Serialization.Primitives having the same issues.

[2017-02-16 16:24] ericstj commented on #16108
@weshaggard you regressed this with https://github.com/dotnet/corefx/commit/6cb8c638f4d49b8f723c8012707c1dca57dadd54#diff-53c14936ddb0a4adc94bcde1ec388167L71 and I fixed it with https://github.com/dotnet/corefx/commit/87e1262bd0e66513c729d0be06f3d76e05d599b1#diff-53c14936ddb0a4adc94bcde1ec388167R65

[2017-02-16 16:57] steveharter commented on #16133
@sepidehMS the change to remove the label caused Win7 jobs to fail, so we needed to add that label back at least for Win7. @Priya91 did that already, and I didn't know that until after I added my comment.

Note that the Win7 runs do not run automatically for PRs, so that job has to be manually started.

If there is not already an issue to fix this for Win7, please create the issue (as you already

[2017-02-16 16:58] danmosemsft opened #16225 "System.Security.Cryptography.X509Certificates.Tests.ChainTests.VerifyChainFromHandle_Unix failed"
@steveharter could you please fix or disable today? Red badge.
/cc @bartonjs

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug/lastCompletedBuild/testReport/System.Security.Cryptography.X509Certificates.Tests/ChainTests/VerifyChainFromHandle_Unix/

[code]

[2017-02-16 16:59] tarekgh commented on #16185
@yizhang82 @joshfree do you know who can help with this issue from XAML? Thanks.

[2017-02-16 17:00] danmosemsft commented on #16225
Maybe some logging useful in `private static void EnsureFilePermissions(FileStream stream, uint userId)`?

I don't know why there's no line numbers.

[2017-02-16 17:04] steveharter commented on #16225
Sure by EOD will disable and add some logging if appropriate.

[2017-02-16 17:05] bartonjs commented on #16225
It means that the fedora23 machines have their temp directory (which gets mapped as a temporary $HOME) on NTFS.  (Infrastructure bug https://github.com/dotnet/corefx/issues/9293, and a bug to change this assert to a texted exception).

Fedora23 should have been turned off for these in CI with https://github.com/dotnet/corefx/pull/9309... don't know why it's back.

And one of the other versions of

[2017-02-16 17:07] danmosemsft commented on #16225
Oh I know why #9309 isn't working -- it's Fedora 24 now!

You might want to change this
` private static bool IsReliableInCI { get; } = !PlatformDetection.IsFedora23;`
Note Fedora 25 is coming soon.

Should we be concerned we aren't getting coverage on Fedora..

[2017-02-16 17:11] stephentoub commented on #16225
Yes

[2017-02-16 17:11] danmosemsft commented on #15844
@Priya91

[2017-02-16 17:12] danmosemsft commented on #16223
https://github.com/dotnet/corefx/pull/16224

[2017-02-16 17:13] danmosemsft commented on #16225
It was  rhetorical :)

[2017-02-16 17:14] danmosemsft commented on #9293
Milestone=2.0 since we aren't getting x509 coverage on Fedora.

[2017-02-16 17:22] davidsh commented on #9846
This GitHub issue was specifically about version inconsistency with System.Net.Http.

If you are having a problem with other libraries, you should first try to make sure you're using the current .NET Core 1.1 packages.  And if you still have problems, please open a new issue and include a repro solution including your .CSPROJ and/or project.json files.

[2017-02-16 17:24] davidfowl commented on #16177
AFAIK that's the case for projects but not packages produced by projects that target ns 2.0. Those packages I assume also need to work down level so I don't see the package reference going away. Targeting NetStandard.Library 2.0 (the package) still lets you target older netstandard TFMs and there's no implicit references on old project systems (unless we don't care, but I think we do as that's par

[2017-02-16 17:25] davidfowl commented on #16221
@omariom Task can be used, cancellation token can be used. They are both hacks IMO. Neither of them are abstractions. See the file example.

[2017-02-16 17:25] JohnGalt1717 commented on #9846
It's about the endless version issues. Not just one. That was just an example I provided originally. You need to make ALL OF THEM WORK.

If they don't, you don't you don't have a releasable product.

Someone needs to go write a boat load of unit tests for absolutely ALL of these nuget packages and test in all environments on .NET Framework.

[2017-02-16 17:30] dleeapho commented on #16126
I agree it would be good to put package publish into BuildTools, that way CoreClr, Core-Setup, WCF(?), and CoreRT could leverage the more robust package publish.
@weshaggard , @ericstj since this seems to be a hot item, should this be fixed in CoreFx first then move it to BuildTools?

[2017-02-16 17:58] joshfree commented on #16185
@lutzroeder would know

[2017-02-16 18:06] rture opened #16227 "JwtBearerAuthentication fails on AWS Lambda"
JTW authentication works on local windows development but fails on Linux
Getting following error

[Information] Microsoft.AspNetCore.Authentication.JwtBearer.JwtBearerMiddleware: Bearer was not authenticated. Failure message: IDX10503: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.X509SecurityKey , KeyId: ****************************
'.
Exceptions caught:
'System.Platfor

[2017-02-16 18:31] vancem commented on #15023
This has been implemented (pull request #15103)

[2017-02-16 18:31] #15023 closed

[2017-02-16 18:38] vancem commented on #16155
@terrajobst  - this is a minor addition to the API.   Please include anyone who may be interested.   We would like to move forward reasonably quickly.

To be clear, I want this API.

[2017-02-16 18:48] stephentoub commented on #8768
I'm going to reopen this and explore the option 7 I suggested.

I'm thinking of something like this:
- Have a fixed "allowed" list of options, including at least the options configured via named properties on Socket, e.g. Socket.NoDelay, but potentially extended to include other high-value settings.
- Track whether, prior to a socket.Connect{Async}(multipleAddresses), Socket.Handle is accessed or

[2017-02-16 18:59] geoffkizer commented on #8768
Is it really that bad to just add static methods that do the right thing?  As it stands, there's no "right" way for users to write their code on Unix platforms.  Seems like this is a functional gap and we need to address it.

I realize that's a compat pain between .NET Core and .NET Framework, but how do we value that vs actually implementing the right functionality here?

Note we already have sta

[2017-02-16 19:04] Priya91 commented on #13323
@tmds after stopping firewall the app worked, although how do i just disable for this app like on windows, instead of entirely disabling firewall. I tried this,

[code]

[2017-02-16 19:12] davidsh commented on #7736
@ianhays Are you actively working on this ARM64 stuff?  If not, we'll change it to un-assigned.  Thx.

[2017-02-16 19:18] NickCraver commented on #8768
+1 to option 7.

@geoffkizer Yes, it's bad. A major goal (the primary goal?) of `netstandard2.0` is to make cross-platform things *just work*. When we have 1 method that works on Windows (and may even test to work on other platforms), that's bad, unexpected behavior for every user or library author to encounter and fix. Currently we have code that may not blow up until you get to production (and w

[2017-02-16 19:19] davidsh commented on #7812
Could be a product bug....need more investigation.

[2017-02-16 19:26] davidsh commented on #7836
We believe this difference has been gracefully handled on *Nix.  We will re-visit this issue again if it is impacting customers.

[2017-02-16 19:26] #7836 closed

[2017-02-16 19:28] davidsh commented on #7841
@karelz We think this should be re-routed to perhaps System.IO or other documentation team.  Can you pls re-route.

[2017-02-16 19:28] davidsh commented on #7841
cc: @geoffkizer

[2017-02-16 19:36] davidsh commented on #7856
We need to convert the existing "OutputDebugString" low-level tracing in WinHttpHandler and make that align with the other EventSource based tracing we use. We also need to update the documentation as well.

[2017-02-16 19:42] davidsh commented on #7864
This will require a new overload to the StringContent constructor so that the charset isn't specified by default on the `Content-Type` request header.  So, we'll need an API proposal for that.

[2017-02-16 19:44] davidsh commented on #7877
This is part of the .NET Standard 2.0 for UWP work.

[2017-02-16 19:51] tmds commented on #8768
@stephentoub Personally I am fine with the PNSE informing me to adjust my code to Dns.Resolve or call a static method.

Some observations from the references made to this issue:
- mongo-csharp-driver, slamby-api, CoreFTP implemented option 4/5
- CoreFTP is doing some funky DNS caching
- StackExchange.Redis Closed(=Umerged) PR does a Dns resolve and then tries the addresses. Once it finds an addres

[2017-02-16 19:51] davidsh commented on #7893
The current thinking is that our long-term plan is to use managed code for websocket implementation.

[2017-02-16 19:51] #7893 closed

[2017-02-16 19:52] davidsh commented on #7896
Switching to use managed websocket code.

[2017-02-16 19:52] #7896 closed

[2017-02-16 19:54] davidsh commented on #7983
Thank you for the suggestion.  It is a good idea in general about having templates, but we think it belongs where it is in WCF and is not generally applicable to .NET Core.

[2017-02-16 19:54] #7983 closed

[2017-02-16 19:57] davidsh commented on #8237
We think this is a useful component in general but it might be better served as a separate project/library on NuGet.

[2017-02-16 19:57] #8237 closed

[2017-02-16 20:09] tmds commented on #13323
@Priya91
you can find the local port range by executing `sysctl net.ipv4.ip_local_port_range`
to allow a udp port range do something like this: `firewall-cmd --zone=public --add-port=4990-4999/udp`
adding the `--permanent` flag will make this persistent. You need to restart the firewall to make it use the permanent rule.

[2017-02-16 20:42] danmosemsft opened #16229 "Cleanup types duplicated between CoreCLR and CoreFX"
The following types are implemented in BOTH CoreFX and CoreCLR (corelib).

Generally a type doesn't need to be duplicated. If it has to be in corelib (because other types in corelib need it) it can be removed from CoreFX.

(Exception, where only a small piece of the type is actually needed in corelib, it can be convenient to leave the full implemention in Corefx - it shares for free and easier to

[2017-02-16 20:44] danmosemsft commented on #16229
Environment is also special.

[2017-02-16 20:44] dennisdietrich commented on #14344
@stephentoub Well, that's pretty bad. ;) I could take this one. Is there an existing test codebase somewhere I could use as a starting point or do I have to start from scratch (I mean, from the one test you added :))?

[2017-02-16 20:46] danmosemsft commented on #16229
These don't seem even used in corelib so removing should be a no-brainer

[code]

[2017-02-16 20:56] danmosemsft commented on #16229
I'll do the easy ones above.

[2017-02-16 21:33] Priya91 commented on #13323
@tmds The tests uses ports that are out of 4990-4999 range for udp.. how did you get this range of ports?

[2017-02-16 22:24] tarekgh opened #16235 "System.Diagnostics.Tests.ProcessTests.Process_StartTest fail in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/3528/

[code]

[2017-02-16 22:30] tarekgh opened #16236 "Look at the gaps in the netfx test running"
@ericstj mention we have a test gap in the way we are running the NetFX tests. Eric want to to run the tests same way the customers runs their app on the desktop. currently we create the NetFX runtime folder and we use a config file for the tests to make it point at the assemblies in the Runtime folder which is different than what customers do in the real scenarios

https://github.com/dotnet/coref

[2017-02-16 22:33] Priya91 commented on #11991
@lukeamcmurray .NET Core 1.1 is released now, you can get the bits from [here](https://www.microsoft.com/net/download/core#/current). Did upgrading the .NET Core version fix the bug?

[2017-02-16 22:33] tarekgh commented on #16236
CC @weshaggard

[2017-02-16 22:42] #3140 closed

[2017-02-16 22:47] Priya91 commented on #9728
@karelz The release docs needs to be updated as mentioned in this [comment](https://github.com/dotnet/corefx/issues/9728#issuecomment-229171860), can you please reroute to the right person.

[2017-02-16 22:49] Priya91 commented on #9728
@niemyjski Apart from the documentation update, can you create another issue with an api proposal for the API you've mentioned in this [comment](https://github.com/dotnet/corefx/issues/9728#issuecomment-229172301). The API proposal process information is [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2017-02-16 22:54] steveharter commented on #14137
Closing as the perf issue with the recent build from source changes makes this much better.

[2017-02-16 22:54] #14137 closed

[2017-02-16 23:02] ericstj commented on #16126
That's up to you, but I don't think it should live in corefx outside whatever hooks you need to invoke it.

[2017-02-16 23:07] ericstj opened #16238 "Nothing is consuming signed binaries."
Somewhat related to https://github.com/dotnet/corefx/issues/16126.

I looked into some of the recent packages and they are unsigned.  I believe this is because the signing is happening on the TargetPath but we're packaging the binplaced output of the project.  It seems that when the signing task copies the signed file back from the signing server it breaks the hardlink.

This will be coicidentally

[2017-02-16 23:11] ericstj commented on #16238
Actually it looks like we aren't even hardlinking so that explains why signing the TargetPath does nothing to the binplaced locations...

[2017-02-16 23:24] danmosemsft opened #16240 "CI Failure in System.IO.Tests.FileStream_LockUnlock.OverlappingRegionsFromOtherProcess_ThrowsException"
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/3515/testReport/junit/System.IO.Tests/FileStream_LockUnlock/OverlappingRegionsFromOtherProcess_ThrowsException_fileLength__10__firstPosition__3__firstLength__5__secondPosition__2__secondLength__4_/

[code]

[2017-02-16 23:26] stephentoub commented on #14344
Thanks, @dennisdietrich.  That's a nice offer.  @VSadov, do you know if there are existing tests for this internally somewhere?

[2017-02-16 23:31] tarekgh commented on #3140
@dennisdietrich I would to thank you for all your work done here. that is really awesome.

[2017-02-16 23:32] danmosemsft commented on #16240
I cannot find `145` on any list of Unix error codes. Any idea?

[2017-02-16 23:33] danmosemsft commented on #14344
Maybe from whatever repo @JeremyKuhne found the serial port tests recently.

[2017-02-16 23:37] danmosemsft opened #16242 "Connection terminated during SQL test"
This broke our test run. @saurabh500 is this related to test or implementation (some loopback connection?), or is it infrastructure?

https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.10_debug/lastCompletedBuild/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteScalarTest/

[code]

[2017-02-16 23:41] dennisdietrich commented on #3140
Don't mention it. Happy to contribute. :)

[2017-02-16 23:43] saurabh500 commented on #16242
In the test we are opening a localhost connection. After that we expect the connection to be around and exchange data over it.
Looks like the connection was terminated for some reason.

`System.Data.SqlClient.SqlException : A transport-level error has occurred when receiving results from the server. (provider: TCP Provider, error: 2 - Connection was terminated)` is thrown when there is a networkin

[2017-02-16 23:47] danmosemsft commented on #16242
OK, let's close this and keep an eye out for a pattern.

[2017-02-16 23:47] #16242 closed

[2017-02-16 23:48] steveharter commented on #16225
Tests disabled

[2017-02-16 23:48] #16225 closed

[2017-02-16 23:48] saurabh500 commented on #16242
Sounds good. Thanks

[2017-02-16 23:50] stephentoub commented on #16225
We don't actually want to close this, do we?  Or are we deleting the tests rather than disabling them?

[2017-02-17 00:15] steveharter commented on #13938
Also note that there are asserts in ReadAsyncCore et al regarding invalid handles. Since an exception is possible these asserts should probably be removed or replaced with logic that guards against that. Will likely create a new issue to track that.

[2017-02-17 00:27] steveharter commented on #16225
We close so it gets re-opened if the test fails again.

The root issue is https://github.com/dotnet/corefx/issues/9293

[2017-02-17 00:56] mairaw commented on #9728
Is it about the installation instructions on the dot.net site @Priya91?

[2017-02-17 01:09] Priya91 commented on #9728
@mairaw Yes..

[2017-02-17 01:11] steveharter opened #16248 "Canceling Http task may result in faulted task instead of canceled\completed"
See related issue https://github.com/dotnet/corefx/issues/13938

In Windows, when a response task is canceled, the request handle is destroyed, which may cause an ObjectDisposedException (or other http exception) in other tasks. The expectation should be the same as in Linux - a task status of Canceled, or perhaps RanToCompletion if the task already completed

For example, the last Assert below ma

[2017-02-17 01:15] steveharter commented on #13938
Created new issue https://github.com/dotnet/corefx/issues/16248 to track the underlying issue with Windows disposing the handle during cancel causing task faults.

[2017-02-17 01:15] #13938 closed

[2017-02-17 01:26] mairaw commented on #9728
Ok thanks for confirming @Priya91. @leecow @kendrahavens, can one of you take a look at this?

[2017-02-17 01:33] Priya91 commented on #13323
Adding area-infrastructure tag to pop the issue in their query.

[2017-02-17 01:33] stephentoub commented on #8768
Thanks, @NickCraver and @tmds. @tmds, isn't SIO_LOOPBACK_FAST_PATH a Windows-only option, anyway?

[2017-02-17 01:34] Priya91 commented on #14684
@rottor12 Can you check if firewall is not blocking the MulticastGroupPort? Is this reproing still?

[2017-02-17 01:36] terrajobst commented on #14653
You can work this around by following these steps:

* Uninstall `Microsoft.Composition`
* Install `System.Composition`

[2017-02-17 01:38] mellinoe commented on #13323
If we know what the exact fix is, feel free to update the machine images. Have we seen this outside of the Fedora 23/24 runs in Jenkins here (e.g. Helix or elsewhere)?

[2017-02-17 01:39] VSadov commented on #14344
I will take a look if there is something salvageable.

[2017-02-17 02:31] NickCraver commented on #8768
Yep - Windows only, so that'll need to be behind a platform check either way (as it is already for anyone using it).

Putting platform-specific optimizations behind platform-specific checks isn't a problem, IMO. They are optimizations, and completely optional. Basic functionality like "connect to this hostname" obviously my opinion sways sharply the other way on ;)

[2017-02-17 02:46] danmosemsft commented on #16223
myget up again.

[2017-02-17 02:46] #16223 closed

[2017-02-17 02:50] Priya91 commented on #13323
These are the changes required to be done in the following images:

1.	Redhat image on Helix builds
2.	Fedora23 and Fedora24 images on Jenkins builds

Change to be made:

-	Figure out the ipv4 range of ports using,
sysctl net.ipv4.ip_local_port_range

-	Set firewall policy to allow udp packets on that range,
sudo  firewall-cmd --permanent --zone=public  --add-port=*startport*-*endport*/udp

[2017-02-17 04:11] karelz commented on #16227
'Microsoft.IdentityModel` does not seem to be part of CoreFX. Do you know which NuGet package it comes from and where the code lives?

cc: @bartonjs

[2017-02-17 04:39] Thaina opened #16254 "Please add extension method Dictionary.TryGetValue return nullable"
I think this extension method would be useful

[code]

[2017-02-17 05:03] karelz commented on #13323
@Priya91 please use only [1 area path](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified). Feel free to change the area path if you think it is more infra issue (creating a new one with better title might be better IMO). Or just add folks based on [area owners/experts](https://github.com/dotnet/corefx/blob/master/Documentation/project-

[2017-02-17 05:11] karelz commented on #3140
Agreed, great job @dennisdietrich.
If you're interested in more CoreFX contributions,  would recommend to grab some ['up for grabs' issues](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aopen%20label%3A%22up%20for%20grabs%22%20-label%3Aapi-needs-work) (which are not API proposals) - the most valuable/impactful things are:
1. [2.0.0 (next release) up for grabs](https://github.com/dot

[2017-02-17 05:13] karelz commented on #7841
@davidsh just change the area label and it will take care of itself :)

[2017-02-17 05:14] karelz commented on #7841
And if you want to be really nice, you can tag [area owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) -- cc @JeremyKuhne @ianhays.

[2017-02-17 05:18] bartonjs commented on #16227
`BuildRsaPublicKey` doesn't have the ability to throw that exception.  `git blame` says it hasn't changed since 2015-10-16:

https://github.com/dotnet/corefx/blame/e981ddf3e4174f2aeb9469f8b8c9c9db65fc6c90/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509Encoder.cs#L410-L421

So... I'm a bit confused by the callstack.

[2017-02-17 05:31] geoffkizer commented on #7841
This doesn't sound like a System.IO issue to me.  Sounds like it's squarely about Sockets.  Am I missing something?

[2017-02-17 05:32] geoffkizer commented on #7841
Perhaps a detailed blog post about our Sockets model/implementation would be useful.

[2017-02-17 05:39] ViIvanov commented on #16254
Looks like names `GetValueOrNull` and `GetValueOrDefault` will be more convenient. `TryGet...` is well known pattern for methods that returns bool and with last `out` parameter.

[2017-02-17 05:49] Thaina commented on #16254
Thanks for suggestion. I don't mind any naming just want this functionality

But for compaction could the latter be `GetDefault` ?

[2017-02-17 05:52] karelz commented on #9846
This is a long thread, moreover closed for 5+ months.
Can someone please summarize the problem which is left? (ideally with a good description without assumption of prior knowledge)
I would also suggest to create a new issue (with better title properly describing the scope), so that it is easier to follow the problem discussion and loop in the right experts.

Regarding shipping NuGet packages for

[2017-02-17 05:55] karelz commented on #12618
What's the user scenario? How common is it?

[2017-02-17 06:04] karelz commented on #15554
@FireAlkazar @dhoehna if you found steps which don't work in VS, please file a new bug (and CC me) - we need to either fix the infra or change our docs to guide devs via supported path. Thanks!

[2017-02-17 06:04] #16162 closed

[2017-02-17 06:13] Jiayili1 opened #16255 "All tests on build 20170217.01 failed to generate the test results"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170216.03

Most of the tests failed on Debian.82, Fedora.23, OSX.1011, Redhat.72, Ubuntu.1404, Ubuntu.1610, Win10 & SUSE.428.

[2017-02-17 06:13] ccicchitelli commented on #9846
@karelz does this help? https://github.com/dotnet/corefx/issues/9846#issuecomment-276891271

What else can I provide to help clarify/detail the issue?

(I've successfully enabled a workaround by redirecting back to the older version of the library.)

[2017-02-17 06:20] dhoehna commented on #15554
@karelz I was going to file a new bug.  I want to get the solution working before I do to make sure I have covered everything from first installation to final build.

[2017-02-17 06:24] karelz commented on #9846
@ccicchitelli sorry, but the comment you referenced is not clear to me. Also it talks only about System.Net.Http, while there are concerns about System.Runtime.Serialization.Primitives above. So I am confused.
It would be great if the issue description can filter out problems caused by #11100 (which is being resolved) - the comment you reference seems like it might be actually dupe of #11100 (but

[2017-02-17 06:26] karelz commented on #15554
@dhoehna great, no rush. Getting yourself unblocked with workaround is typically first thing to do. Just wanted to make sure we don't forget to address the pain for others (and ourselves ;-)) in future.

[2017-02-17 06:32] ccicchitelli commented on #9846
Actually you're right, I think that issue is the one. I hadn't seen it before now. My googlefu failed me.

[2017-02-17 06:49] Jiayili1 commented on #16046
This issue is repro on build OuterLoop_Centos7.1_debug (build#97), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/97/testReport/System.Net.Tests/HttpWebRequestTest/GetResponseAsync_UseDefaultCredentials_ExpectSuccess_remoteServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-02-17 06:51] Jiayili1 commented on #15844
This issue is repro on InnerLoop_Fedora24_release (build#995), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_release/995/testReport/System.Diagnostics.Tests/ProcessWaitingTests/WaitChain/

[2017-02-17 06:56] tanaka-takayoshi opened #16256 "[backport request] IOException during "File.WriteAllText" to the file under NFS on Linux with corefx 1.0.3"
At first, I'd like to confirm can I request backport here? If not, I'll turn down my PR.

I'm facing below IOException with this simple code when ``/mnt/volume`` is a NFS shared directory even if the user of process has a valid access to ``/mnt/volume`` and it exists.
[code]

[code]

This error only occurs on .NET Core 1.0. If I updated  .NET Core to 1.1 (update project.json and use the .NET Core

[2017-02-17 06:57] dennisdietrich commented on #3140
@karelz Sure am. Looks like #14344 will be next.

[2017-02-17 07:22] hqueue commented on #13749
@wateret@karelz Can we close this issue ? It seems that  https://github.com/dotnet/corefx/pull/15900 is merged by now we can cross-build corefx for arm(hardfp) inside a docker image.

[2017-02-17 07:28] weitzhandler opened #16257 "Feature request: integrate PluralizationService in .NET"
Hi,

The [.NET reference source](https://github.com/Microsoft/referencesource) repo, contains the [PluralizationService](https://github.com/Microsoft/referencesource/tree/master/System.Data.Entity.Design/System/Data/Entity/Design/PluralizationService) used by the EF to pluralize class names etc.

Could we see the pluralization service as part of the .NET?
Is there a NuGet package for the .NET refe

[2017-02-17 07:38] Jiayili1 commented on #16248
Test "System.Net.Http.Functional.Tests.ResponseStreamTest.ReadAsStreamAsync_Cancel_TaskIsCanceled" failed with "System.ObjectDisposedException : Safe handle has been closed".

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/99/testReport/System.Net.Http.Functional.Tests/ResponseStreamTest/ReadAsStreamAsync_Cancel_TaskIsCanceled/

Message:
[code]

Stack Trace:
[co

[2017-02-17 08:04] Clockwork-Muse opened #16258 "Performance tests erroring out"
...or perhaps the instructions are out of date, or I'm missing something (again...).

Attempting to run performance tests is failing with the following error:
[code]

(this is occurring on at least this and `System.Threading.Tasks` performance tests, so I'm assuming it's a symptom of a larger problem).
Note that I've built both libraries and tests, in both debug and release (and I feel like the fa

[2017-02-17 08:11] #13749 closed

[2017-02-17 08:32] karelz commented on #16258
cc @DrewScoggins @valenis

[2017-02-17 08:34] tmds commented on #8768
Yes, this is exactly what makes it interesting. It won't be covered by the 99% of option 7.

When option 7 is implemented most 1% options could simply be placed after the connect call. That isn't the case here. SIO_LOOPBACK_FAST_PATH must be set before the Connect call.

@stephentoub I see TcpClient already handles the 95% case. Offering yet another alternative to the developer to solve the PNSE.

[2017-02-17 08:35] karelz commented on #16257
If you want it to be part of EF, please follow up on EF repo: https://github.com/aspnet/EntityFramework
If you want some specific capabilities to brought down to CoreFX, please describe which - don't assume any prior knowledge in the space.

[2017-02-17 08:37] karelz commented on #16256
@leecow what is our backporting policy for LTS?

[2017-02-17 08:37] karelz commented on #16255
cc @danmosemsft

[2017-02-17 08:39] karelz commented on #16254
Looks like dupe of #3482

[2017-02-17 08:39] #16254 closed

[2017-02-17 08:40] tmds commented on #16180
@Priya91 SOCK_CLOEXEC is the default behavior of [python](https://github.com/python/cpython/blob/5ec08cea9574cf53c985af5dbed6bc3d56ff58b7/Modules/socketmodule.c#L4742) and [go](https://github.com/golang/go/blob/3792db518327c685da17ca6c6faa4e1d2da4c33c/src/net/sock_cloexec.go#L21)

[2017-02-17 08:46] tmds commented on #16179
@davidsh @CIPop @Priya91
The reference source
[code]
FINBIO doc

the parameter is set to zero, so the nonblocking mode should be disabled => blocking

[2017-02-17 09:00] DrewScoggins commented on #16258
We are currently in the midst of bringing the performance tests back up.  You can track the progress of the PR [here](https://github.com/dotnet/corefx/pull/15767).  As it currently stands I do not believe that running performance tests works locally.

[2017-02-17 09:03] pelhu opened #16259 "Linux, exception in EasyRequest.Cleanup() when HttpCompletionOption.ResponseHeadersRead used"
Hi,
When i run on Ubuntu 14.04.5 LTS
[code]
I have error
[code]
Some times i have other error
[code]

No problem occurs if i do not use "MultipartFormDataContent" or put "HttpCompletionOption.ResponseContentRead". But for me it's not possible because I download very large files by post with "MultipartFormDataContent".

Best regards

[2017-02-17 09:14] weitzhandler commented on #16257
Hi,
The `PluralizationService`, is as its name implies, a service that pluralizes or singularizes words.
It consists of a base class that can be implemented in any language, and an implemented class that supports pluralization/singularization in the English language.

Since this service is a very useful service that is already implemented and tested by Microsoft, it would be nice if anyone can fac

[2017-02-17 09:15] Thaina commented on #3482
I think API should separate constraint for class and struct

I was propose like this

[code]

[2017-02-17 09:50] karelz commented on #16257
Hmmm, that's an interesting functionality. Why do you think it belongs into BCL? It sounds like very narrow use case. Maybe external NuGet package or EF itself would be better fit ...

[2017-02-17 09:54] xplicit opened #16260 "RSA.SignData() does not work on Linux"
I try to sign and verify binary data with RSA CryptoProvider. When I do this on Windows all works as expected, if I do this on Linux signature verification fails. If I sign data on Windows and then verify it on linux then verification works too, so the issue belongs to `SignData()` on Linux
Here is the sample. Is there a workaround to avoid this verification fail?

Linux OS: Ubuntu 16.04
dotnet --

[2017-02-17 10:03] weitzhandler commented on #16257
The idea is it shouldn't be tied to EF at all. However an external NuGet sounds fair, but it would be nice if it becomes official.

[2017-02-17 10:25] JonHanna commented on #3482
@Thaina I can see how the `V` -> `V?` of the first could have an advantage, but why constrain the bottom two? The only thing I see the constraint adding is that it prevents some use and forces people to re-write their own if they need it.

[2017-02-17 10:49] Thaina commented on #3482
@JonHanna I just think in general we should not assume default struct value as default. We should always get null to check or ensure default value by ourself

should not be hard just always add ` ?? 0` or ` ?? default(AStruct)` at call site

[2017-02-17 10:52] JonHanna commented on #3482
The calling code is the place where that can be decided as wisdom or folly.

It's absolutely impossible from a generic method that isn't constrained, because such a method can't call either of those methods at all.

[2017-02-17 11:01] Thaina commented on #3482
I think we should guide this convention to be default coding behaviour

@JonHanna Could you please clarify?

What I mean is. I propose all those extension method with constraint by that reason. If we got a dictionary of struct then we should always use `GetValueOrNull` like this

[code]
or
[code]

[2017-02-17 11:29] benaadams commented on #16128
Hasn't been true for the 15 year lifetime of .NET; though is often cited. However... its on its way! 🎉
https://github.com/dotnet/coreclr/pull/9230

[2017-02-17 11:30] willdean commented on #16033
This probing behaviour is now in the test suite, with a suitable call  `HasHardwareFlowControl` which can be used to attribute tests to show that they require proper flow control.

[2017-02-17 11:30] #16033 closed

[2017-02-17 11:39] willdean opened #16261 "SerialPort: Incomplete BeginX operations prevent timely close/reopen"
There is a long-standing problem in the `SerialPort` interface which has survived the migration to Core.  This delays the closing/disposing of a `SerialPort` which has incomplete `BeginRead/BeginWrite` operations on it.

This often manifests itself as an inability to open a port immediately after closing it.

Within Core this has given rise to issue #16055 - that issue contains some content from a

[2017-02-17 11:39] willdean commented on #16055
Closing this - #16261 is better focused

[2017-02-17 11:39] #16055 closed

[2017-02-17 13:06] willdean commented on #15280
The core-eng links don't work here - are they ms-private or has something been renamed?

[2017-02-17 13:10] StingyJack opened #16263 "Can a compiler warning/error be added for unused immutable results?"
I was trying to add Using directives to a compilation unit, and eventually got it right after a few days of
looking elsewhere in my code for the problem before discovering the actual trouble spot.

An example for illustration...
[code]
Can we get a compiler warning or error when a new immutable result isnt immediately used in assignment or parameter?

Can these immutable objects be tagged as such

[2017-02-17 13:13] willdean commented on #15752
In case anyone's watching this but not seeing the other stuff go through:

* We've migrated all the original tests (~1000  of them) over to work with the CoreFx test framework.
* The tests all pass using the Core version of `SerialPort` where you have well-behaved hardware
* There are various hardware configurations which don't (and won't ever) pass all the tests, but I might be able to improve th

[2017-02-17 13:17] shaggygi commented on #15752
@willdean I can't express how much I (and others) appreciate your work in this space.  I'm watching your progress as this is a MUCH needed feature.  Keep up the good work 😄

[2017-02-17 13:18] willdean commented on #984
@karelz Progress on this doesn't quite align with the checkboxes at the top, but we've now done most of '3' - we have a full suite running locally where the proper hardware is available.  I don't know what the line-coverage looks like, but it's going to be as good as it ever was.

There perhaps needs to be a step '3.5' which is to refactor the Windows source code into the right arrangement to allo

[2017-02-17 13:23] benaadams commented on #16263
Not sure what types they are; are they readonly structs?

So this issue? (e.g. calling method on readonly struct copies the struct before the call to prevent modification)
https://codeblog.jonskeet.uk/2014/07/16/micro-optimization-the-surprising-inefficiency-of-readonly-fields/

[2017-02-17 13:50] StingyJack commented on #16263
The type is [CompilationUnitSyntax](http://www.coderesx.com/roslyn/html/3FB4C78A.htm), and the problem is not really about efficiency of algorithim or struct/class/readonly, but rather "all these things dont work and give no indication they wont, but you can try to use them anyway".

All those attempts to add usings didnt actually add them - the .Usings.Count remained 0.

If the .Usings property w

[2017-02-17 13:54] JonHanna commented on #3482
What if we have a dictionary of `T` and `T` is not constrained?

[2017-02-17 14:03] benaadams commented on #16263
Might want to raise it in https://github.com/dotnet/roslyn as its both the compiler that would warn; and the location of the types?

[2017-02-17 14:30] JohnGalt1717 commented on #9846
@karelz The issue is that it isn't just System.Net.Http. It's pretty much ALL of the updated .NET Standard compatible versions of these dlls that were once just part of the .net framework.

Any time ANYTHING is done in those that .NET 4.6.2 doesn't support directly, they need to have special shims to make them work right like #11100  does for System.Net.Http.

System.Runtime.Serialization.Primativ

[2017-02-17 14:53] jnm2 commented on #3482
Why constrain either overload? I don't get it. Allow me to use three parameters for classes and two parameters for structs, if I so desire, as well as vice versa.

[2017-02-17 15:04] stephentoub commented on #8768
I'm not understanding. It doesn't apply to Unix, and on Windows this issue doesn't exist. So why is it interesting?

This is about a) making 15 years of existing code and already compiled binaries work better, and b) making the obvious/simple code a dev new to the platform would write just work.

[2017-02-17 15:06] ByronAP opened #16265 "ClientWebSocket bypass/accept invalid/expired ssl certificates"
Is there a way to bypass/accept invalid/expired ssl certificates when using ClientWebSocket?

yes many will say it's not good for security etc... however it is very useful for testing.

[2017-02-17 15:33] Thaina commented on #3482
@JonHanna Well, I get your point now, you right

@jnm2 Because we could achieve what you want with `??` operator and it better performance to use it for default class

If we allow default parameter on class dictionary. There would be someone code like this

[code]
Which is not good. It will always initial new object without using. We should always use `??` like this
[code]
so if it not null it wou

[2017-02-17 15:38] tmds commented on #8768
You're right. Not relevant.

It's great when things just work.

[2017-02-17 15:46] JonHanna commented on #3482
If a newbie does that, it'll be sub-optimal but not break. Sub-optimal but working code is fine for a newbie. The unnecessary allocation isn't shooting yourself in the foot, it's wearing Italian leather dress shoes while cleaning your house; more expensive than necessary but not actually stopping you from getting the job done.

Never mind newbies. I wouldn't worry about that code a large percentag

[2017-02-17 15:49] Thaina commented on #3482
@JonHanna That's to say even we don't mind newbie if normally we should not use then I think we would rarely use that function. So it redundant in my opinion

[2017-02-17 16:21] CZEMacLeod commented on #14653
Unfortunately that doesn't really address the issue where I rely on 2 packages, one of which depends on Microsoft.Composition 1.0.30 and one on System.Composition 1.0.31, especially during package restore and/or CI builds.

[2017-02-17 16:30] jnm2 commented on #3482
@Thaina there are cases where passing a value that you have sitting around is more efficient than branching your code with `??`. In some cases it may be sub-optimal to use `??`.

Plus you could make your same argument, that `new SomeStruct(x, y, z)` could be a lot of work that should go after a `??` instead of using the default value parameter. Your own argument is an argument against having the G

[2017-02-17 16:31] willdean commented on #16265
#15661

[2017-02-17 16:39] tarekgh commented on #16257
why you think so? there are a tons of features that is nice to exist but it doesn't have to be in the .net core. I think what @karelz suggested is more reasonable here.

[2017-02-17 16:41] tarekgh commented on #16257
I am closing this issue here but feel free to reopen it if you disagree. we can still support you if you need any help with the design as needed. thanks for bringing the issue.

[2017-02-17 16:41] #16257 closed

[2017-02-17 16:42] Thaina commented on #3482
@jnm2

Please enlighten me how you would return default value without branching internally

You right, I should not make that another `GetValueOrDefault` for struct. Should just have only nullable api

I agree that we should have freedom. It just that, should we contains it in common API? Because we still free to extend it
Well, if it really common then I would agree

[2017-02-17 16:47] jaredpar commented on #16128
There are two aspects:

1. Can sealing cause the managed compiler to emit a `.call` instruction vs. a `.callvirt`?  The former in some cases is more efficient because it avoids a null check.  In some cases the JIT can avoid the null check even with the `.callvirt`.  But the managed compiler can be more flexible because it only has to obey language semantics while the JIT has to obey IL semantics (

[2017-02-17 16:54] jnm2 commented on #3482
There's an internal branch in _both_ cases, @Thaina. The default parameter results in one branch being used, internally. The `??` syntax results in two branches, one internal, one external. :)

And casting to a nullable adds even more perf overhead in all cases. I think this would be an even worse decision. It was intended as satire. =)

[2017-02-17 16:58] benaadams commented on #16128
What would be the pattern? If you were holding a `DiagnoticSource` you would need to drop to listener to get the advantages so something like?
[code]
Or would it be recommended to always hold `DiagnoticListener` directly?

[2017-02-17 17:04] Thaina commented on #3482
@jnm2 I know that why I wrote it like that. Please accept your satire back and know that I never have a problem to be tit for tat

As I said. I just want constraint for common case. You still have freedom to extend your own if you really need. I just want to nominate common best practice to be API

Is the default value for class is common enough? I just don't think so so I think we should kept min

[2017-02-17 17:14] jnm2 commented on #3482
@Thaina I couldn't tell, but fair enough :'D

However, you keep bringing up extending. Can you demonstrate a proof of concept where I can use other non-dictionary extension methods from `CollectionExtensions` but supply my own `GetValueOrDefault` with no type constraints?
In my experience you can't extend this way. The compiler is unable to resolve which extension method to use and fails the build

[2017-02-17 17:18] Thaina commented on #3482
@jnm2 Well, that's argument is understandable and I would agree with that. My case just work with generic dictionary

[2017-02-17 17:30] steveharter commented on #16248
@Jiayili1 that failure was before the changes made in pull https://github.com/dotnet/corefx/issues/16248, so remove the blocking label and deleting the comment.

[2017-02-17 17:30] leecow commented on #16256
@karelz - case by case basis. If the issue is broadly impacting then we can review and decide.

[2017-02-17 17:31] jnm2 commented on #3482
@Thaina Cool. I guess it's a bit like the discussion on whether tuples should be mutable, where the team decided to be permissive so that more people with different viewpoints would be served.

[2017-02-17 17:37] hongdai commented on #12618
The user scenario is WCF clients use default credential on the machine to communicate WCF service. This is a very common scenario.

[2017-02-17 17:39] danmosemsft commented on #15280
Oops, @willdean, I recall now they currently are as at present they also track internal engineering infra.

[2017-02-17 17:42] leecow commented on #9728
Thanks @mairaw, I'll look into the install instruction updates.

[2017-02-17 17:59] chrisfcarroll commented on #4571
I followed the thread and I'm still lost, but I think the current state is, there is no equivalent to DbProviderFactories in Core at the moment. Have I followed correctly?

[2017-02-17 18:10] RussKeldorph commented on #15913
@pgavlin Please figure out this and #15713 assuming @stephentoub hasn't already solved it.

[2017-02-17 18:32] danmosemsft commented on #15844
@Priya91 can we disable on Fedora?

[2017-02-17 18:41] danmosemsft opened #16270 "Failure in MonoTests.System.Configuration.ConfigurationSaveTest.ModifyListElement"
@JeremyKuhne this gave us a redbadge today. Any ideas?

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/lastCompletedBuild/

[code]

[2017-02-17 18:42] danmosemsft commented on #16270
That error can appear if the file is entirely empty.

[2017-02-17 18:44] lmolkova commented on #16128
@benaadams it's recommended to use DiagnosticListener directly.

[2017-02-17 18:51] #15713 closed

[2017-02-17 18:56] danmosemsft commented on #16263
I'm going to resolve this as it seems the roslyn repo is the right place. good luck.

[2017-02-17 18:56] #16263 closed

[2017-02-17 18:56] danmosemsft commented on #16255
https://github.com/dotnet/corefx/pull/16271

[2017-02-17 19:07] sepidehMS opened #16272 "WIn7 Test failure: System.Net.Http.Functional.Tests.HttpClientHandlerTest.GetAsync_AllowAutoRedirectTrue_RetainsOriginalFragmentIfAppropriate"
Test is currently disabled for Win7. Please fix or verify if the test is not supposed to run on Win7.

[code]

Stack trace:
[code]

[2017-02-17 19:08] sepidehMS commented on #16272
cc: @steveharter @davidsh @Priya91 @CIPop

[2017-02-17 19:09] sepidehMS commented on #16133
Created new issue https://github.com/dotnet/corefx/issues/16272. Closing this one.

[2017-02-17 19:09] #16133 closed

[2017-02-17 19:22] ericstj commented on #16238
Ok, my hard-linking quick fix fixed this for the runtime coreapp packages.  The reference package is still unsigned due to #16126, it appears to be getting overwritten by the x-plat builds.

I think this may be "good enough".   I don't want to sign additional stuff since we're seeing that signing is actually the majority of time during our official builds.

[2017-02-17 19:22] #16238 closed

[2017-02-17 19:24] JeremyKuhne commented on #16270
Timing I assume. For one the RunWithTempFiles is using Path.GetTempFileName(), which creates a 0 byte file. The helper then deletes the created file and continues with the test, which will serialize to that file location. As delete isn't synchronous I imagine bad luck is inevitable here, but hard to replicate and fully understand the side effects.

I'm also unsure of the exact algorithm the OS use

[2017-02-17 19:31] Priya91 commented on #13323
Marking it as infra, since the work left here is to change the build image.

[2017-02-17 19:34] Priya91 commented on #16180
@tmds Thanks for the info, I wanted to look into what windows is doing here, haven't had a chance.
@CIPop @davidsh What's the windows behavior here?

Also for filesystem we have fileshare.inheritable, but do we have an api to allow user to control this behavior for sockets? I don't see any issues in changing the default, will there be any indirect user scenario breaks because of the change?

[2017-02-17 19:46] steveharter commented on #9543
I believe there are two issues with this test:
1) A cert was reused after it was gc'd and caused errors like "The client certificate credentials were not recognized". This was fixed with the creation of the cert every time through the loop https://github.com/dotnet/corefx/issues/15777
2) The test fails with "a task has been canceled" or "The server returned an invalid or unrecognized response". Th

[2017-02-17 19:46] stephentoub opened #16274 "Proposal: LazyInitializer.EnsureInitialized<T>(ref T target, ref object syncLock, Func<T> valueFactory)"
### Background

System.Threading.LazyInitializer has several EnsureInitialized overloads that make it safe and easy to lazily initialize a field, e.g.
[code]

It has several overloads, that can be split into two groups:
- Optimistic concurrency
- Pessimistic concurrency

[code]

The optimistic concurrency overloads don't use locks, only interlockeds.  This means you don't need a separate lock obje

[2017-02-17 19:56] dhoehna commented on #15554
@FireAlkazar @JeremyKuhne I can run `build-managed.cmd` but I get the following errors and warnings

- warnings
  - C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.Common.CurrentVersion.targets
(1820,5): warning MSB3245: Could not resolve this reference. Could not locate t
he assembly "netstandard". Check to make sure the assembly exists on disk. If t
his reference is required by your code, you

[2017-02-17 19:56] dhoehna commented on #15554
@JeremyKuhne Do I need to install xunit?

[2017-02-17 20:02] Priya91 commented on #12618
@hongdai kinit is a system command, what is the posix C API that accomplishes this on Unix?

We can modify HttpClientHandler.UseDefaultCredentials to use CredentialCache.DefaultNetworkCredentials, but this will return null, unless we initialize this with kinit. So we need the posix OS API that we can call from .NET pal.

[2017-02-17 20:05] #14790 closed

[2017-02-17 20:06] rrelyea opened #16275 "[Feedback] Can not update to .NETCore 1.1.0 after upgrading to Microsoft.NETCore.UniversalWindowsPlatform v5.3.0"
Internal bug 385268 & vsfeedback issue 806440
Create UWP project with VS2015 and upgrade UWP package to v5.2.2 Open project in VS2017 RC3 - RC4. Open Manage NuGet packages for solution and check available updates. Microsoft.NETCore.Runtime.CoreCLR v1.1.0 is listed as package available for update. Trying to update fails with error message:
GET https://api.nuget.org/v3/registration1-gz/microsoft.net

[2017-02-17 20:07] rrelyea commented on #16275
@jainaashish (nuget team) found: runtime.win8-arm.microsoft.netcore.jit package isn't available on NuGet.org which is why this update failed. DotNet team needs to look into this and publish this package.

@ericstj

[2017-02-17 20:25] JeremyKuhne commented on #15554
No, you do not have to install xunit. Try and make sure your basics are in place:

0. Make sure you are fully synced up to the latest changes in master.
1. Run "Developer Command Prompt for VS2015".
2. Change your current working directory to the root of your enlistment.
3. Run "Clean.cmd --all" _from the root of your enlistment_.
4. Run "Build.cmd" _from the root of your enlistment_.

That should

[2017-02-17 20:56] #15852 closed

[2017-02-17 21:21] hongdai commented on #12618
I don't know if there is a posix C API.
I think the customer scenario is similar to window log in. Once window log in, you don't need to initialize - CredentialCache.DefaultNetworkCredentials will return the credential the customer has provided when log in. In unix, they just need to do kinit command instead of window log in.

[2017-02-17 22:40] AndyAyersMS opened #16279 "Intermittent test failure with beta-25015-04 CoreCLR update"
Looks like something in this update is causing an intermittent failure in System.Collections.Generic.Tests.ComparerTests.NullableOfIComparableComparisonsShouldTryToCallLeftHandCompareToFirst.

It will occasionally fail with System.EntryPointNotFoundException.

This was initially seen on OSX/CentOS but will also happen on Windows.

beta-25014-04 is last known good CoreCLR.

See discussion in #16252

[2017-02-17 22:45] #16270 closed

[2017-02-17 22:48] danmosemsft commented on #16235
@priya91

[2017-02-17 23:28] #16255 closed

[2017-02-18 00:00] AndyAyersMS commented on #16279
Looks like this is caused by dotnet/coreclr#9485. @sivarv can you take a look? We may want to back this change out if the problem/fix is not obvious, since we're falling behind getting coreclr updates into corefx.

To reproduce:

Pull the changes from #16252, build retail corefx. (Below assumes repo is c:\repos\corefx)
Sync your coreclr to master at F686B5F and build CHK

Drop the chk clrjit.dll i

[2017-02-18 01:30] steveharter commented on #9017
To prevent creating another issue, opening this one again.

We have another failure:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release/1132/

[code]

We connect to a V4 port and then listen on V6 of the same port (or vice-versa in SendToAsyncV6IPEndPointToV4Host_NotReceived) . However, I don't believe there is any guarantee that the V6 listening port isn't already being used by someo

[2017-02-18 01:49] lmolkova commented on #15135
What about netfx? Will there be another single package targeting it?

[2017-02-18 02:11] Priya91 commented on #12015
Debugged through this, this failure is happening because of a curl bug/difference in behavior. Curl is parsing the http status code 407 (proxyauthrequired) and throwing a curl (56) CURLE_RECV_ERROR error from curl_multi_info_read when using a proxy to connect to a https server. Although when trying to connect to a http server using proxy, curl returns CURL_OK code, and the call to curl_easy_getinf

[2017-02-18 03:16] JonHanna commented on #16209
If it could work on a boxed value, I'd use it in `System.Linq.Expressions.Compiler.ILGen.TryEmitConstant` so that any value type not already handled could have a constant that happened to be the default emitted the same way default expressions are. As is one would have to create a default value of the given type through reflection before using `RuntimeHelpers.Equals()` and that allocation just to

[2017-02-18 03:41] #16028 closed

[2017-02-18 03:46] VSadov commented on #16028
I agree, allowing this operation in dynamic scenarios, considering that it was throwing, seems unlikely to be breaking. Especially since it worked in Xamarin implementation.

[2017-02-18 04:50] AndyAyersMS commented on #16279
PR to undo the impacting change at dotnet/coreclr#9667.

[2017-02-18 04:55] jamesqo opened #16283 "[CI Failure] System.Transactions.Tests hung and timed out build"
Found this in a code coverage build, which did not complete due to this. See https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows_prtest/24/consoleFull#10606384068101fac1-935e-4556-95f9-7a0e25ca0b52; note the difference in times on the left.

[2017-02-18 05:36] tofutim commented on #15570
Hi, I need help resolving this issue. Is there any kind of workaround? Previously I downgraded to Cryptography 4.2 and 4.0, but with Net.Http, it really gets hosed. To replicate

1. Install System.Net.Http 4.3.0 into a .NET 4.6 app
2. Try to use it

[2017-02-18 06:30] sivarv commented on #16279
Backed out struct promotion change that was causing intermittent failure.
https://github.com/dotnet/coreclr/pull/9667

[2017-02-18 06:30] #16279 closed

[2017-02-18 06:41] karelz commented on #16275
Does not look like CoreFX issue, rather like a problem in tooling - @davkean @eerhardt can you please advise where to route it?
cc: @danmosemsft

[2017-02-18 08:56] Vhab commented on #11100
Here's another confirmation the new version fixes the issue.

We use KeyVault, bumping to 4.3.1 fixed the issue.

[2017-02-18 09:11] bartonjs commented on #16260
Your `InverseQ` value is incorrect.

A) `InverseQ` is supposed to be less than `P`.  Your `InverseQ` value is twice as long as `P`.
B) `(Q * InverseQ) % P` should be 1.  Yours is 0.

`tCiWIg9XI/dfdsdLlvQac7xISCQmxLS6WRCoECqC/gab/FJPKy2ZKJs6pJBJmE7yuVA8YihbKyKhuSVhr5/Fi954mrDIFxP+WbUbOQwCX55sfp2xzHUDwCH4U0sgm8RFhhPwTnRpwYyx2vEa2uv3T5m2KqkbEwFveEK4x+ivh2o=` seems to be the correct value for InverseQ

[2017-02-18 10:09] JonHanna commented on #16028
The operation covered by the original post should definitely be allowed.
I mean the situation of e.g. `2 - StringComparison.InvariantCulture` which was also working for .NET Core too, except in the lifted byte-base case covered by this issue. The spec seems to say that isn't allowed and since the lifted equivalent of that expression now goes through the code I added, if I'd followed the spec to th

[2017-02-18 16:18] JonHanna opened #16287 "API Change: Restore CompileToMethod in S.L.Expressions"
At https://github.com/dotnet/corefx/issues/11408#issue-174928345 @bartdesmet notes:

The entry-point came back conditionally excluded when that issue was closed. I also agree it can be useful, while I've only used it a handful of times myself, it was really useful those few times.

That Xamarin is now using this feature adds another advantage, in that we can't test it, and hence catch regressions

[2017-02-18 16:32] stephentoub commented on #16287
@danmosemsft, @weshaggard, @VSadov, any reason this hasn't come back for 2.0?

[2017-02-18 18:36] tofutim commented on #9846
@JohnGalt1717 John, I have exactly your issue and I need to make progress. I decided to jump back to 4.3.0 and am stuck at the 4.0.0 requirement for System.Security.Cryptography.Primitives.

How do I 'hack in binding redirects' so that I can move forward?

[2017-02-18 18:52] ccicchitelli commented on #9846
@tofutim when I did the binding redirect, I also had to manually locate the DLLs to the build folder. For some reason, the MSBuild process wasn't outputting the redirected DLLs or pulling them from the GAC.

[2017-02-18 19:11] tofutim commented on #9846
can you tell me more about how to do this? I'm not sure what 'binding
redirect' means.

On Sat, Feb 18, 2017 at 10:53 AM, ccicchitelli <notifications@github.com>
wrote:

[2017-02-18 19:45] jamesqo commented on #1942
Is there a formal specification of what is being proposed? I might grab this if I have time but it seems unclear from the discussion exactly which out of `TryAdd`, `GetOrAdd`, `AddOrUpdate`, and `TryUpdate` were approved and what parameters they should take.

[2017-02-18 19:49] ccicchitelli commented on #9846
Then you have some reading to do: https://www.google.com/search?q=binding+redirect

[2017-02-18 20:20] dennisdietrich opened #16289 "Microsoft.VisualBasic.Strings.Left(String, Int32) crashes with null ref when length is negative"
Repo: Call method with negative Length (e.g. ```Strings.Left(string.Empty, -1);```)
Expected: ```System.ArgumentException``` (Argument 'Length' must be greater or equal to zero.)
Actual: ```System.ArgumentNullException``` (Value cannot be null.)

Looks like it can't find the resource ```Argument_GEZero1``` for some reason. Output from a (tweaked) test I'm working on for #14344.

[code]

[2017-02-18 20:31] tofutim commented on #15570
I was able to make progress using binding redirects:

[code]
and adding System.XML 4.3. But it feels... sketchy.

[2017-02-18 21:04] tofutim commented on #11100
Hi, I have this problem with SignalR. But how do I get System.Net.Http 4.3.1?

[2017-02-18 21:23] jaredcnance opened #16290 "CheckMediaTypeFormat throws exception for valid Content Types"
`MediaTypeHeaderValue.CheckMediaTypeFormat(String mediaType, String parameterName)` (https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/MediaTypeHeaderValue.cs#L254) throws exception for value "text/html; charset=ISO-8859-4" which is used as an example in the [w3 RFC 2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).

But, moreover why is this

[2017-02-18 21:29] karelkrivanek commented on #11100
@karelz Azure Storage API scenario revalidated with the 4.3.1 version from MyGet.

Sorry for not responding sooner.

[2017-02-18 21:34] danmosemsft opened #16291 "Several SQLClient tests failed in Jenkins"
Various OS eg https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug/lastCompletedBuild/testReport/

[code]

Looks connection related
[code]

[code]

is a test server down? Or client issue?

@saurabh500

[2017-02-18 21:37] saurabh500 commented on #16291
These expect a failure and provide a result based on the exception message. They don't expect a server.

[2017-02-18 21:41] saurabh500 commented on #16291
Looking into it. The tests were marked OuterLoop with the comment that it takes long time for the tests to run on some network.

[2017-02-18 21:44] saurabh500 commented on #16291
@danmosemsft How do I check when the failures started happening? And also how do I check for correlation of results on other OS ?

[2017-02-18 21:46] danmosemsft commented on #16289
That would happen if I had accdientally removed it this morning, but I don't think I did:
[code]

Do you see it in src/Microsoft.VisualBasic/src/Resources/Strings.resx?

[2017-02-18 21:48] danmosemsft commented on #16289
It's odd it's using `R:\corefx\src\Common\src\System\SR.vb`. My copy is in `src/Microsoft.VisualBasic/src/Resources/SR.vb`

[2017-02-18 21:50] danmosemsft commented on #16289
Does it repro if yo usync before (or temporily revert) 6b4423? If so I'l take a look.

[2017-02-18 21:56] danmosemsft commented on #16291
I don't have handy right now the general guide to looking at test history in Jenkins, but right now many of the red badges on the main page https://github.com/dotnet/corefx are hitting this. If you go to one of those, click "back to project" on the left, or use the breadcrumbs near the top to get to the actual build (login in top right may help) you can click on 'history' on the left to see the bu

[2017-02-18 21:57] danmosemsft commented on #16291
Ah, this seems to get history for a test:

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug/lastCompletedBuild/testReport/System.Data.SqlClient.Tests/ExceptionTest/ExceptionTests/history/

So slow - I think the server may be parsing XML on the fly.

[2017-02-18 21:57] jaredcnance commented on #16290
#16292 would allow media type parameters, but again I think the solution should be to remove this check or provide an alternative mechanism for creating requests which may be invalid.

[2017-02-18 21:59] danmosemsft commented on #16291
Yes, they all just now started failing. That makes it likely it's me - but hard to see how.

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug/lastCompletedBuild/testReport/junit/System.Data.SqlClient.Tests/TcpDefaultForAzureTest/AzureNoProtocolConnectionTest/history/

[2017-02-18 22:01] dennisdietrich commented on #16289
Yep. My topic branch is still on 31cb598 which is a few hours older so it's safe to say that 6b4423f didn't cause this. Also, I can confirm that this is a more general issue as ```Conversions.ChangeType(Object, Type)``` is affected as well.

[2017-02-18 22:01] danmosemsft commented on #1942
@safern can you please talk to @terrajobst to get explicit what the API board actually approved.

[2017-02-18 22:04] saurabh500 commented on #16291
I am looking at https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug/106/
This was run at Feb 17, 2017 11:10:39 PM

Are the timestampts UTC or PT ?

If it is PT, then the change should have been in 106 as well and it should have failed, but didn't

[2017-02-18 22:06] saurabh500 commented on #16291
I didnt realize that the Jenkins page is showing the changes as well. Clearly the Strings change is not there.

[2017-02-18 22:09] danmosemsft commented on #16291
Can you repro it locally? If so does it repro without 6b4423?

Or I can take a look.

[2017-02-18 22:09] saurabh500 commented on #16291
The change to System.Data.SqlClient was
Remove 'using Res = System.SR'. As it requires SR to be in System and in (commit: edcedfb) (detail / githubweb)

Tested by 105 https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug/105/

[2017-02-18 22:11] saurabh500 commented on #16291
It will take me sometime to get into my dev machine to repro this. If you have your dev environment ready, then please go for it. Otherwise I will get to it when I get a chance.

[2017-02-18 22:14] danmosemsft commented on #16291
I'll try

[2017-02-18 22:21] VSadov commented on #15467
need to think/experiment about this.

On one side the bider does generate instance restrictions for rules when arguments are literals, so it intentionally tries to specialize on the values (not just types). I wonder how often this works and how large the benefits are for constant-folded operations.
I.E.  if it specializes `i + 0` to `{<int>, <int, 0>}` and folds it to be just `i`, then it needs to

[2017-02-18 22:25] danmosemsft commented on #16291
Yes, it's me. I didn't see this `SR.GetResourceString(Enum.GetName(typeof(SniContext)` looks up an enumeration by name in the resx. I'll fix.

Sorry for the noise.

[2017-02-18 22:29] stephentoub commented on #16291
How did it pass CI?

[2017-02-18 22:32] saurabh500 commented on #16291
OuterLoop test failed. The Exceptions related tests of SqlClient were moved to OuterLoop because they were taking time to fail.
Is OuterLoop run in CI ?

[2017-02-18 22:32] saurabh500 commented on #16291
From what I know OuterLoop tests are run periodically and not with every PR.

[2017-02-18 22:33] saurabh500 opened #16293 "SqlClient Exception tests should be moved to inner loop"
SqlClient exceptions test should be moved to Inner Loop, at least the ones that can fail fast and provide results quickly.

[2017-02-18 22:34] saurabh500 commented on #16291
I have opened https://github.com/dotnet/corefx/issues/16293 to investigate moving the SqlClient Exception tests to Inner Loop

[2017-02-18 22:36] stephentoub commented on #16291
Right, they're run once a day by default and then on demand. In the future we should explicitly run Outerloop on sweeping changes like the resources removal. Good lesson for the future.

[2017-02-18 22:37] danmosemsft commented on #16291
Yes, my bad: I had forgotten it was possible to do. I did check it in on Friday, and checked the first Outerloop run in the morning.

[2017-02-18 22:39] stephentoub commented on #16291
We've all broken things like this :)

[2017-02-18 22:42] saurabh500 commented on #16291
SqlClient has non-conventinoal logic to retrieve strings to translate errors coming from Native SNI. In the end I am just glad that the tests caught this issue. :)

[2017-02-18 22:43] onovotny commented on #14565
Ping? This is not good...

The Out-of-box version is `4.0.1` that gets copied to the output directory is but in-box components are looking for `4.0.0.0`. Even with `AutoGenerateBindingRedirects` enabled, a binding redirect isn't being generated for this.

[2017-02-18 22:44] danmosemsft commented on #16291
OK, PR up. There may be some other break somewhere, I"ll keep an eye out. There were such a huge number of dead strings, I think it's worth the churn.

[2017-02-18 22:48] JonHanna commented on #15467
The only difference that can be hit through `dynamic` AFAICT is that `someDynamic / 0` should throw `RuntimeBinderException` but throws `DivideByZeroException`. It would be easy enough to fix that while also removing the rest of the constant folding, though ironically it is for the same reason the one bit in #15537 that could break someone.

[2017-02-18 22:54] JonHanna commented on #15467
Not at all. In #15537 I only tried to fix the constant binding that was already attempted, and apart from the empty `IsDivByZero` it only affects folding of operations with two constant operands.

[2017-02-18 23:12] Jaedson33 commented on #4278
Are there any failing tests in this project?

[2017-02-18 23:15] anthonylangsworth commented on #4278
@Jaedson33 We are currently converting the mono tests. I have not found any failing tests that indicate code errors yet but we still have many tests to go.

[2017-02-18 23:17] Jaedson33 commented on #4278
@anthonylangsworth What can I do to help?

[2017-02-18 23:18] #16291 closed

[2017-02-18 23:26] jnm2 commented on #15289
I'm relieved that I finally have something that works! .nuspec is perfect.

I have some complaints.

### 1. Docs

I can't find the magic strings `runtimes\win\native`, `runtimes\win-x86\native` and `runtimes\win-x64\native` documented anywhere, so the following is figured out by trial and error. **Docs would be nice.**

### 2. Concerning NuGet v2 (net462 .csproj + packages.config)

NuGet v2 (packa

[2017-02-18 23:36] bbowyersmyth commented on #16289
Possibly related https://github.com/dotnet/buildtools/issues/1256

[2017-02-19 00:32] jimcarley commented on #16283
Sorry for my lack of knowledge. Where do I find the testresults.xml for this?

[2017-02-19 00:45] omajid opened #16296 "Support OpenSSL 1.1"
[OpenSSL 1.1.0 was released](https://www.openssl.org/news/openssl-1.1.0-notes.html) in August 2016. Various distributions are starting to switch to it now:

- [Arch](https://lists.archlinux.org/pipermail/arch-dev-public/2017-January/028673.html)
- [Debian](https://wiki.debian.org/OpenSSL-1.1)
- [Fedora](https://fedoraproject.org/wiki/Changes/OpenSSL110)

OpenSSL 1.1.0 breaks both API and ABI. Ther

[2017-02-19 00:46] omajid commented on #16296
As an example, the first set of errors look like this:

    /builddir/build/BUILD/dotnetcore-1.1.0/core-bootstrap/tools/dotnet-bootstrap/fedora.26-x64-dotnet/src/corefx/src/Native/Unix/System.Security.Cryptography.Native/openssl.cpp:102:21: error: member access into incomplete type 'X509' (aka 'x509_st')
        if (x509 && x509->cert_info && x509->cert_info->validity)
                        ^

[2017-02-19 01:36] tarekgh commented on #14565
I think we need to generate the binding redirect automatically and create a config file for the app. we have done such work for our internal netfx tests in our corefx repo.

@weshaggard is this something tracked to be done before shipping?

@ericstj do you have more info about the plan here?

[2017-02-19 03:27] #11213 closed

[2017-02-19 03:55] jkotas opened #16298 "Span: System.Memory is missing `unchecked` annotations"
It is causing different behaviors between debug and release builds.

Repro: Run this against netfx debug build of System.Memory:

[code]

Actual result: System.OverflowException
Expected result: System.IndexOutOfRangeException

[2017-02-19 03:59] #12015 closed

[2017-02-19 04:28] JonHanna commented on #16298
CC @dennisdietrich

[2017-02-19 05:57] bartonjs commented on #16296
Already open as https://github.com/dotnet/corefx/issues/9855

[2017-02-19 05:57] #16296 closed

[2017-02-19 06:59] #16293 closed

[2017-02-19 07:05] davidfowl commented on #14833
Isn't this fixed now?

[2017-02-19 08:08] davidfowl commented on #9670
@JunTaoLuo does this still repro? If not can we close this?

[2017-02-19 08:47] anthonylangsworth commented on #4278
@Jaedson33 I have answered that question at https://github.com/tintoy/corefx/issues/6#issuecomment-280904587 . To summarize, we have 84 mono tests still failing (mainly due to changed defaults and .Net core limitations). Any help to get the remaining tests working is appreciated. Otherwise, I'm working through them.

[2017-02-19 09:34] RheaAyase commented on #9293
Did someone check F24 or 25 by any chance? F23 is EOL so if this is not a problem on newer versions, this issue is kinda irrelevant now.

[2017-02-19 10:03] Malikshehadah opened #16301 "How I can contribute to dot net core source code"
@Petermarcu ,can you help me please, I want to contribute to dot net core source code, but I don't know how to start , I did not contribute to any open source projects before, but I love .Net too much.

Thank you.

[2017-02-19 11:23] maartenba commented on #11100
@tofutim gathering dependencies is slow because of a lot of metadata going over the wire - https://github.com/NuGet/Home/issues/4448

[2017-02-19 11:33] JonHanna commented on #16301
1. Take a look at [How to Engage, Contribute and Provide Feedback](https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback) and the documents it links to.

2. If you don't know it already, learn about the [GitHub Flow](https://guides.github.com/introduction/flow/) (though only the first few slides will apply to you, the last two are about how project owners make use of contr

[2017-02-19 12:24] anthonylangsworth commented on #4278
@karelz @bartonjs @steveharter  The [System.Security.Cryptography.CryptoConfig class](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/CryptoConfig.cs) class states that many XML transforms are not supported on CoreFx (lines 281 to 303 at the bottom of `DefaultNameHT`).

These correspond to URIs used by classes in the `System

[2017-02-19 16:35] tofutim commented on #11100
I figured that. Any ETA on getting it into nuget.org?

[2017-02-19 16:51] bartonjs commented on #9293
@RheaAyase Yes, it's all our Fedora VMs and our Ubuntu 16.xx VMs.  When the issue was opened Fedora23 was the only version of any distro we were testing on which had this problem (because, apparently, it was the only version of any distro that we were testing on which didn't have a base image provided by Azure).

[2017-02-19 19:44] VSadov opened #16305 "Remove unnecessary use of `GetTypeInfo()` in Linq/Expressions/Dynamic, etc.."
Possibly a dupe.

`GetTypeInfo` patterns like `someType.GetTypeInfo().IsValueType`  were added to workaround initially reduced API surface of `System.Type`.

I think we have most of those APIs back on `System.Type` and it is likely more efficient to call them directly.
(need to confirm, but it is unlikely that calling via `Sysyem.Type` cost more since as last resort it could just use GetTypeInfo i

[2017-02-19 19:52] JonHanna commented on #16305
I'll happily take this issue, especially since I'm likely to have clashing PRs with someone doing this as far as two of the projects listed go, though I'll start with double-checking in case there is some advantage to keeping this as is, first.

[2017-02-19 19:55] geoffkizer opened #16306 "pinning bug in Socket.SendTo on Windows"
From looking at the code, it appears we are not properly locking the socketAddress buffer to Socket.SendToAsync.

https://github.com/dotnet/corefx/blob/bfac45af5dddcbd70b6935fcf92b4b8755f3cd1c/src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs#L947

The linked code does the following:

(1) Call SetUnmanagedStructures with pinSocketAddress == false; so socketAddress won’t be pinned

[2017-02-19 21:13] geoffkizer opened #16308 "Unix SocketAsyncEventArgs implementation should clone user-provided buffer list"
When the user sets the BufferList property, we store it and then directly use this whenever we perform a socket operation, e.g.:

https://github.com/dotnet/corefx/blob/684af05e70b345eecd503e23d0d6d4efd67f9130/src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs#L251

This means that the user can mutate the list after setting it (or even concurrently), and we will see a differ

[2017-02-19 21:13] geoffkizer commented on #16308
@stephentoub -- FYI

[2017-02-19 22:21] stephentoub commented on #15383
Occured here on macOS:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/3525/

[2017-02-19 23:27] cYCL157 commented on #10198
Is there an update to this issue or is there a loctation to download a corrected version of sni.dll?  Or even instructions on how to manually compile it?

[2017-02-20 00:25] stephentoub commented on #15383
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_release/296/

[2017-02-20 00:32] stephentoub opened #16310 "GetResponse_UseDefaultCredentials_ExpectSuccess test failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_release/102/

System.Net.Tests.HttpWebRequestHeaderTest.GetResponse_UseDefaultCredentials_ExpectSuccess(remoteServer: https://corefx-net.cloudapp.net/Echo.ashx) [FAIL]
        System.Net.WebException : An error occurred while sending the request. Problem with the SSL CA cert (path? access rights?)
        ---- System.Net.Http.

[2017-02-20 00:47] JonHanna commented on #16305
Yeah, there doesn't seem to be any case where going through it gains anything, except the few cases where it's completely necessary. There are a few where it being necessary isn't 100% clear (is it always safe to replace `GetTypeInfo().ImplementedInterfaces` with `GetInterfaces`? I think so but being unsure I'm inclined to leave things as is).

[2017-02-20 01:25] JonHanna commented on #16305
System.Linq only uses it in tests. They may as well be left as is.

[2017-02-20 01:40] jkotas commented on #16305
Check the implementation of the methods to get the answer: https://github.com/dotnet/coreclr/blob/80c30e7dfbe00ab30bb86ba2c0f883130766643e/src/mscorlib/src/System/Reflection/TypeInfo.cs#L181. As you can see, ImplementedInterfaces is a dumb forwarder to GetInterfaces, so it is safe to replace.

[2017-02-20 01:41] jkotas commented on #16305
#8576 #8577 #8578 #8579 are about similar type cleanup.

[2017-02-20 01:42] JonHanna commented on #16305
I did check that, but since the method is virtual, it could be overridden. I can't find anything doing so, but absence of evidence and all that.

[2017-02-20 01:51] jkotas commented on #16305
I do not think you need to worry about functional differences. The two methods are meant to return same set.

There may be performance difference: `ImplementedInterfaces` returns enumerable, and so it can be potentially implemented more efficiently. It is not the case in CoreCLR; but it is the case in CoreRT. I would keep the calls to `ImplementedInterfaces` as is for performance reasons.

[2017-02-20 01:54] JonHanna commented on #16305
The two PRs also mean there's no longer any cases where it's being called a few times in quick succession, which I wanted to clean up one way or another anyway, so the couple of remaining calls aren't a big deal in comparison.

[2017-02-20 02:17] dotnet-mc-bot opened #16315 "Test: System.Security.AccessControl.Tests.CommonSecurityDescriptor_CreateFromSddlForm/TestCreateFromSddlForm failed with "System.OverflowException & System.InvalidOperationException""
Opened on behalf of @Jiayili1

The test `System.Security.AccessControl.Tests.CommonSecurityDescriptor_CreateFromSddlForm/TestCreateFromSddlForm(isContainer: False, isDS: False, sddl: \"O:LAG:SYD:AI(A;ID;FA;;;BA)(A;ID;FA;;;BO)(A;ID;FA...` has failed.

System.OverflowException : Arithmetic operation resulted in an overflow.

        Stack Trace:

           at System.Security.AccessControl.GenericSe

[2017-02-20 02:21] Jiayili1 commented on #16315
Following test also failed with "System.OverflowException & System.InvalidOperationException":
System.Security.AccessControl.Tests.CommonSecurityDescriptor_GetBinaryForm/TestGetBinaryForm
System.Security.AccessControl.Tests.CommonSecurityDescriptor_GetSddlForm/TestGetSddlForm
System.Security.AccessControl.Tests.CommonSecurityDescriptor_PurgeAccessControl/TestPurgeAccessControl
System.Security.Acce

[2017-02-20 02:28] JoeGordonMVP commented on #11100
@davidsh This just popped up on the OwlMQ mailing list. I can report that the updated package solves it.

Thanks so much to the team for getting ahead of this. Awesome work!

[2017-02-20 02:35] Jiayili1 commented on #15383
This issue is repro on InnerLoop_PortableLinux_release ([build#296](https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_release/296/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteReaderTest/)).

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_release/296/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteReaderTest/

Message:
[code]

[2017-02-20 03:02] davkean commented on #16275
@karelz CoreFX own these packages and the uploading of them.

[2017-02-20 03:34] stephentoub opened #16316 "ShouldThrowIOExceptionDeletingCurrentDirectory failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/3539/consoleText

System.IO.Tests.DirectoryInfo_Delete_bool.ShouldThrowIOExceptionDeletingCurrentDirectory [FAIL]
        Assert.Throws() Failure
        Expected: typeof(System.IO.IOException)
        Actual:   (No exception was thrown)

[2017-02-20 04:32] #16086 closed

[2017-02-20 07:41] Malikshehadah commented on #16301
Thank you very much @JonHanna , Great description and path to start & follow . Thank you again for your time  writing this replay.

[2017-02-20 07:57] Jiayili1 commented on #15383
This issue failed again on: https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug/1104/testReport/

[2017-02-20 08:16] tanaka-takayoshi commented on #16256
@leecow @karelz Thank you for comments. How about in this case? How do you or your team decide this is broadly impacting or not?

[2017-02-20 09:18] saurabh500 commented on #15383
@tstringer all except one failure was the guid mismatch from the diagnostics test.
I have seen the tcp exception and looking into it. Can you diagnose the guid mismatch failure?

[2017-02-20 09:36] saurabh500 commented on #15383
Since there are multiple listeners beings installed for diagnostics and the tests are executing in parallel, each listener can listen to all commands being executed.
Since the tests are executing in parallel, one of the listeners is getting a notification about the beginning of one of the commands and then the notification for the completion of another command. As a result the Guid retrieved befor

[2017-02-20 10:01] JonHanna commented on #15383
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/3540/ is OS X but seems perhaps a variant of the same

[2017-02-20 12:41] fujiy commented on #14376
Hi guys, after building CoreFX, I can't find System.Memory package. Do you know how to generate it?

I just found the DLL (at "corefx\bin\runtime\netcoreapp-Windows_NT-Debug-x64\System.Memory.dll"). So, I'm copying it manually to System.Memory package cache folder "C:\Users\myuser\.nuget\packages\System.Memory\4.4.0-beta-24913-01\lib\netstandard1.0".

It works and I can use it to debug on Visual S

[2017-02-20 12:50] stephentoub commented on #15844
The exit code suggests the process is crashing having received a SIGCHLD signal, which should not have that effect.

[2017-02-20 13:44] stephentoub commented on #13298
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/105/consoleText
[code]

[2017-02-20 14:59] smadala opened #16322 "(Packaging issue in System.IO.FileSystem) System.IO.File in .NET Standard library fails when run in unit test"
_From @davkean on January 20, 2017 3:49_

_From @gulbanana on December 16, 2016 11:28_

Possibly this issue should be in a vstest repository but I can't find one.
Repro: https://github.com/gulbanana/repro-netstandard-systemio

When using System.IO in a .NET Standard 1.4 class library, unit tests referencing the library fail. The error is
`Message: System.IO.FileLoadException : Could not load file

[2017-02-20 14:59] smadala commented on #16322
_From @davkean on January 20, 2017 3:49_

_From @srivatsn on December 16, 2016 20:31_

@codito

[2017-02-20 14:59] smadala commented on #16322
_From @davkean on January 20, 2017 3:49_

_From @srivatsn on December 20, 2016 22:57_

@dotnet/vstest

[2017-02-20 14:59] smadala commented on #16322
_From @davkean on January 20, 2017 3:49_

_From @codito on December 21, 2016 12:50_

We're investigating this issue. As a workaround, please use `<PackageReference Include="NETStandard.Library" Version="1.6.0" />` instead of `1.6.1` in netstdlib.csproj.

[2017-02-20 14:59] smadala commented on #16322
_From @davkean on January 20, 2017 3:49_

_From @gulbanana on December 21, 2016 13:47_

I've verified that the workaround works on my system (until I want to use a nuget package which references 1.6.1 :-) )

[2017-02-20 14:59] smadala commented on #16322
There is mismatch between version number of `.nuget\packages\system.io.filesystem\4.3.0\ref\netstandard1.3\System.IO.FileSystem.dll (4.0.1)` and `.nuget\packages\system.io.filesystem\4.3.0\lib\net46\System.IO.FileSystem.dll(4.0.2)`.
There is no .nuget\packages\system.io.filesystem\4.3.0\lib\netstandard1.3\System.IO.FileSystem.dll file.

Due this mismatch System.IO.FileSystem 4.0.1 getting bind in

[2017-02-20 14:59] smadala commented on #16322
_From @codito on February 20, 2017 14:55_

@smadala packaging issue in corefx?

[2017-02-20 14:59] smadala commented on #16322
Could be, moving to corefx.

[2017-02-20 17:56] mcachopas commented on #10445
@okosodovictor thank you very much, it worked to me

My error was on installing sqlite-net-pcl in a solution with xamarin

[2017-02-20 18:06] stephentoub commented on #15383
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/916/

[2017-02-20 18:21] nietras commented on #15818
I have added this to the proposal.

@karelz I think this is ready for API review, if no one objects.

[2017-02-20 18:58] safern commented on #1942
@danmosemsft yes, I'll talk to @terrajobst and will post the API approved so that @jamesqo can grab this!

[2017-02-20 19:36] VSadov commented on #15467
As I see documentation for parts of C# dynamic binder like https://msdn.microsoft.com/en-us/library/microsoft.csharp.runtimebinder.csharpargumentinfo(v=vs.110).aspx  do not recommend using them directly from code. And I doubt anyone does, unless trying to mimic C# compiler.

On the C# compiler side, considering that `const dynamic` can only have a value of `null`, not `1` or `0`, I do not see how

[2017-02-20 19:39] VSadov commented on #15467
Basically, I think we should keep/fix the folding only if it is reachable through `dynamic` and I cannot find how to do that.

[2017-02-20 19:55] JonHanna commented on #15467
We don't even have any of that. It was in adding some that I realised it was quite buggy.

It's not for two constants. A dynamic expression with one dynamic and once constant or literal is easily enough done, but that doesn't affect folding. It *does* affect the handling of division by constant zero, though that's the one thing that could be a breaking change to fix.

[2017-02-20 20:57] #16308 closed

[2017-02-20 20:59] danmosemsft commented on #16315
@dennisdietrich

[2017-02-20 21:10] jnm2 commented on #1624
Came across this today: http://www.davesquared.net/2011/04/dont-mock-types-you-dont-own.html

[2017-02-20 21:15] danmosemsft commented on #15383
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_osx_release/lastCompletedBuild/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteReaderTest/

[2017-02-20 22:29] dennisdietrich commented on #16315
M'kay. What's the deal with these tests? When I execute ```msbuild System.Security.AccessControl.Tests.csproj /t:RebuildAndTest /p:Outerloop=true``` I doesn't seem to even run Xunit; the last target running is ```GenerateTestExecutionScripts```.

[2017-02-20 22:52] dennisdietrich commented on #16298
This looks like it's trivial to fix. Even so, I wouldn't want to submit a PR without a unit test. However, the tests in ```\src\System.Memory\tests\``` don't seem to pickup the assembly compiled from the source in ```\src\System.Memory\src\```. What am I missing here?

[2017-02-21 00:34] danmosemsft commented on #16283
Again - https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/106/consoleText

@mmitche - do we archive testresults.xml anywhere?
@jimcarley meanwhile you could try looping it overnight locally. I am not sure if there is a better way than putting the xunit command line in a batch file with a loop.

[2017-02-21 00:45] danmosemsft commented on #1942
Then we should open an issue to use it. The crude regex `if +\(!([^.]+)\.ContainsKey\(([^)]+)\)\)[ {]*\n[ {]*\1.Add\(\2,` finds 7 uses outside of the dictionary tests (I would have expected more -- Find Refs on ContainsKey would find them)

[2017-02-21 00:54] JonHanna commented on #16305
I jumped on this as the projects listed were those I'm particularly interested in, but the same matter applies elsewhere, and my as well be done more completely.

[2017-02-21 00:55] saucecontrol commented on #15957
Thanks, @mellinoe.  I had a follow-up question to the one I asked in the PR comments but figured it belongs here instead.  I have to apologize for my ignorance as I'm not sure I fully understand how RyuJIT updates and the .NET Core and .NET Framework versioning work with the add-on package dependencies.  Will the updated version of System.Numerics.Vectors have a runtime version requirement that ke

[2017-02-21 01:13] jamesqo commented on #1942
I think I found like 50+ last year when I grepped the repo for `ContainsKey`, looking for places that had a pattern like `if (dict.ContainsKey(key)) { T value = dict[key]; ... }` to replace them with `TryGetValue`. I sifted through all of the usages and I remember only ~4 of them could use `TryGetValue`, all the rest were doing `if (!dict.ContainsKey(key)) { dict.Add(key, ...); }`.

[2017-02-21 01:20] danmosemsft commented on #16301
@Malikshehadah indeed you are welcome to contribute. I will close this now as the question is answered but do summon me with @danmosemsft if you have questions or are looking for guidance.

[2017-02-21 01:20] #16301 closed

[2017-02-21 01:22] JonHanna commented on #16305
Incidentally @VSadov when I was double-checking on the performance impact as I said I would above, the most common case would be for the type to inherit from `TypeInfo` and return itself anyway, so the impact isn't severe (it isn't allocating) but it is still in favour of dropping the call (it is still extra work to get the result, not very likely to be inlined due to the virtual nature, and there

[2017-02-21 01:26] danmosemsft commented on #16315
@dennisdietrich adding `/v:d` on the end gives me a log that says at the end

`Target "RunTestsForProject" skipped, due to false condition; ('$(TestDisabled)' != 'true') was evaluated as ('true' != 'true').`

that's not in the project file but running again this time with `/pp` and searching for that  I find

[code]

looking again in the project I see
[code]

[2017-02-21 01:28] danmosemsft commented on #16315
Now what is curious is why they are running in Helix! @joperezr @MattGal do you know what might be different?

[2017-02-21 01:29] danmosemsft commented on #16315
adding link https://github.com/dotnet/corefx/issues/15041

[2017-02-21 01:31] danmosemsft commented on #16315
And incidentally when I temporarily remove RunTestsForProject (or add `/p:RunTestsForProject=true` to override it) I repro the above failure. Which is apparently distinct and upstream of 15041 so perhaps introduced by the overflow change and worth looking at.

[2017-02-21 02:00] benaadams opened #16334 "Improve Encoding Fallback Tests"
Tracking issue

Encoding Fallback issue was detected via CI failure in XML tests rather than via Encoding tests

see: https://github.com/dotnet/corefx/pull/16252#issuecomment-280894383

[2017-02-21 03:19] svick commented on #15957
The `Widen` methods use `out` parameters to return multiple values. But in C# 7, it will become possible to use tuples (i.e. `ValueTuple`) for the same purpose.

From the API design perspective, would it be worthwhile to consider changing the API to that? For example, changing from:

[code]

To:

[code]

If the answer is yes, how hard would it be to make CoreCLR compile a call to such method to th

[2017-02-21 04:06] tandyearls commented on #984
@ellismg We are in the middle of a big project which involves porting .NET Core to a few new processor architectures.  To communicate between our laptops and hardware which is running our ports of .NET Core, we have already built a .NET Core SerialStream implementation for macOS, Linux and Windows.

Would it be helpful if we contributed this code?  The code is currently being use just for our own

[2017-02-21 04:14] tandyearls commented on #984
@ellismg @karelz, @JeremyKuhne We are in the middle of a big project which involves porting .NET Core to a few new processor architectures.  To communicate between our laptops and hardware which is running our ports of .NET Core, we have already built a .NET Core SerialStream implementation for macOS, Linux and Windows.

Would it be helpful if we contributed this code?  The code is currently just

[2017-02-21 04:41] danmosemsft commented on #15844
@stephentoub how did you get from 145 to SIGCHLD? In the Linux headers I have, it's 17.

[2017-02-21 04:47] hqueue opened #16335 "[armel][Tizen] Enable CoreFX Pipeline build support for Linux for armel (Tizen)"
Enable CoreFX Pipeline build support for Linux for armel (Tizen) and publish packages

@gkhanna79 Please assign this to yourself as you requested, because I don't have permission :)

[2017-02-21 05:31] danmosemsft commented on #16298
I edited `src\system.memory\src\System\Span.Extensions.cs` to break it, built `src` with `msbuild` then went to `tests` and ran `msbuild /t:buildandtest` and indeed I broke the tests.

I'm not an expert on the build system though.

[2017-02-21 05:32] danmosemsft commented on #16240
https://github.com/dotnet/corefx/issues/15844#issuecomment-281071229 says it's SIGCHLD

[2017-02-21 05:37] danmosemsft commented on #936
This code was moved into System.Private.Xml. It's probably more useful to have new issue for that.

[2017-02-21 05:37] #936 closed

[2017-02-21 05:38] danmosemsft commented on #937
This code was moved into System.Private.Xml. It's probably more useful to have new issue for that.

[2017-02-21 05:38] danmosemsft commented on #935
This code was moved into System.Private.Xml. It's probably more useful to have new issue for that.

[2017-02-21 05:38] danmosemsft commented on #934
This code was moved into System.Private.Xml. It's probably more useful to have new issue for that.

[2017-02-21 05:38] #934 closed

[2017-02-21 05:38] #935 closed

[2017-02-21 05:38] #937 closed

[2017-02-21 05:41] danmosemsft opened #16336 "Improve code coverage for System.Private.Xml (49.7%)"
There are ~950 types in here, mostly in the System.Xml namespace. Some have good coverage, many not.

We should reach 80-90% coverage on this.

This is a great opportunity for an external contribution.

https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

[2017-02-21 05:47] danmosemsft commented on #14346
@saurabh500 coverage for SqlClient is still only 22%. Is there any internal test code that might help, that someone could help clean up possibly?

https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

[2017-02-21 05:48] danmosemsft opened #16337 "Improve code coverage for System.Data.Common (51%)"
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

[2017-02-21 05:51] danmosemsft commented on #7758
The coverage of the namespace is only 24%

https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

[2017-02-21 05:55] danmosemsft commented on #1199
This is now part of System.Private.Xml contract so the number is not broken out by itself.I could certainly be improved though.

[2017-02-21 05:56] danmosemsft commented on #931
It's apparently now at 70% which is improved

https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

[2017-02-21 05:57] benaadams commented on #16334
Code coverage for
DecoderFallbackBufferHelper 29.8% (16.6% branch)
EncoderFallbackBufferHelper 34.9% (6.2% branch)

[2017-02-21 05:57] danmosemsft commented on #921
It's now at an awesome 95%! Closing
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

[2017-02-21 05:57] #921 closed

[2017-02-21 05:58] danmosemsft commented on #919
It's at 83% now and the missing coverage is in relatively little used parts. I think we can focus elsewhere.

[2017-02-21 05:58] #919 closed

[2017-02-21 06:16] dotnet-mc-bot opened #16338 "Test: System.Net.Security.Tests.SslStreamStreamToStreamTest_Async/SslStream_StreamToStream_Write_ReadByte_Success failed with "System.AggregateException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.SslStreamStreamToStreamTest_Async/SslStream_StreamToStream_Write_ReadByte_Success` has failed.

System.AggregateException : One or more errors occurred. (VirtualNetwork: Timeout reading the next frame.) (The credentials supplied to the package were not recognized)\r
    ---- System.TimeoutException : VirtualNetwork: Timeout reading

[2017-02-21 06:21] danmosemsft commented on #15635
What is the problem we are trying to solve -- CI seems to be working pretty smoothly to me and have good covearge.

I wondered whether we were covering both bitnesses for Windows but I see debug is always x86 and retail x64 (perhaps should be in the job name)

@mmitche are we short of VM resources?

[2017-02-21 06:52] Jiayili1 commented on #13298
Failed on OuterLoop_Centos7.1_debug (build#105), adding "blocking-clean-ci" label.

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/105/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_ServerCertificates_Test/NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds/

[2017-02-21 06:58] Jiayili1 commented on #16310
This test failed on OuterLoop_Fedora23_release (build#109), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/109/testReport/System.Net.Tests/HttpWebRequestHeaderTest/GetResponse_UseDefaultCredentials_ExpectSuccess_remoteServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-02-21 07:10] Jiayili1 commented on #16200
This test failed on OuterLoop_Ubuntu16.10_debug (build#101), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu16.10_debug/101/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_ClientCertificates_Test/Manual_CertificateSentMatchesCertificateReceived_Success_numberOfRequests__6__reuseClient__False_/

[2017-02-21 07:14] xplicit commented on #16260
Thanks, it was `Modulus` instead of `InverseQ` and `D` in serialized key, and now it works on both platforms. But shouldn't be there some kind of `ArgumentException` about invalid data, or at least the same output behavior both on Windows and Linux platform? In my opinion the same platform-independent code should work or should fail together for all target platforms. It's difficult to diagnose the

[2017-02-21 07:14] karelz commented on #4805
The API needs to be exposed & tests added.

[2017-02-21 07:35] geoffkizer opened #16340 "test failures in System.Net.NetworkInformation on a clean Windows build"
I just synced up and I'm seeing the following test errors:

[code]

[2017-02-21 07:37] geoffkizer commented on #16340
Also, build-tests.cmd hangs eventually instead of completing.  Not sure if this is related or not.

[2017-02-21 07:42] dennisdietrich commented on #16315
@danmosemsft Thanks! I fixed all overflows I could find but since the tests for System.Security.AccessControl don't all pass there might be more. Still, suggest closing this issue with PR 16341 and opening a new one after 15041 is resolved if necessary.

[2017-02-21 08:06] willdean commented on #984
@tandyearls It will need the MS guys to comment on taking big blocks of 3rd party code - I don't know the score there.  The situation as of today is that the original .NET (Windows-only) implementation of SerialPort/SerialStream has now been ported to corefx, so there's probably not much need for another implementation of that now.

But, if it's OK to include them, the macOs/Linux bits might be a

[2017-02-21 08:25] dennisdietrich commented on #16298
@danmosemsft You're right. But try breaking ```Span<T>```, that shouldn't work. Turns out the type is also checked into coreclr: https://github.com/dotnet/coreclr/blob/dcd5eeaf0948e2c5abed49b1c025d65f85c921d3/src/mscorlib/src/System/Span.cs
And I'm pretty sure the tests run against that:
[code]
[code]
Tests aside, is there a good reason for the type existing in two places?

[2017-02-21 10:26] karelz commented on #984
@tandyearls we should check larger contributions with lawyers - to make sure it is not a copy of another code, and to ensure all authors are onboard with CoreFX license, etc. - @terrajobst @richlander can you please advise?
Otherwise I don't see a problem.

As @willdean says, it would be great to kick-start for Linux/OS-X. We could potentially replace also Windows implementation if the code is hig

[2017-02-21 10:27] karelz commented on #16305
@VSadov please use only one area path - see [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified)