[2019-05-24 10:44] Wraith2 commented on #37915
I'm pretty sure there are no direct changes to SqlClient in that period, since I'm a source of a lot of SqClient changes I keep an eye on it so I don't get out of step. At the moment all work on it is stalled pending the Microsoft.Data.SqlClient move. It's worth keeping in mind that it would be related to underlying coreclr/corefx changes. Since it's on windows it's using the native implementation

[2019-05-24 11:55] softworkz commented on #37044
### Repro Szenario for UDP Bug

@karelz - you wrote:

and

Following up your chat with @LukePulverenti about backporting the fix to 2.2, I have created a reproduction scenario for you: https://github.com/softworkz/ReuseBug

The solution contains a native Linux app and a netcore console app, multi-targeting netcore 2.0, 2.2 and 3.0

This demonstrates:

- works in 2.0
- fails in 2.2
- works again in

[2019-05-24 12:10] Symbai commented on #37764
I've noticed that this issue only occurs using .NET Core Preview 5. On .NET Core Preview 3 this issue does NOT occur. (Please note that using .NET Preview 5 I've uninstalled all other .NET Core 3.x versions and vice versa). So it somehow also depends on .NET Core and whatever has changed between Preview 3 and Preview 5.

The exact version where this issue occurs is:
`3.0.100-preview5-011568`

And

[2019-05-24 12:35] JeffCyr commented on #37749
Alright I will close the issue then

[2019-05-24 12:35] #37749 closed

[2019-05-24 13:27] martin-pes opened #37927 "HttpClient with client certificate fails with OpenSslCryptographicException on Linux"
I am trying to make calls from ASP.NET Core application to [Swish payment platform](https://developer.getswish.se/merchants/)
simulator Web API. I am using `HttpClient` to make the calls and I am attaching client certificate which is required by the API.

This is the code I am using (full source code [here](https://pescn.visualstudio.com/_git/AspNetCoreSwish?path=%2Fsrc%2FSwishClient%2FControllers

[2019-05-24 13:50] #36798 closed

[2019-05-24 13:55] stephentoub commented on #37701
This is adding a LeaveOpen option for when creating a PipeReader/Writer that wraps a Stream; do we need something similar for the other direction, when using AsStream to create a Stream that wraps a PipeReader/Writer?  Right now calling Dispose on the Stream will call Complete on the PipeReader/Writer; I still believe that's the right default, but if we're making the other direction configurable,

[2019-05-24 14:34] mikaelnordin commented on #37927
I have the exact same issue with the same payment provider (Swish). I have done some network captures and the only difference i can see is that on windows the client sends 3 certificates to the server but on linux it sends only 2.

### Capture from windows 10:
[code]

### Capture from linux:
[code]
The .p12 file contains these certificats:
[code]
As you can see there is no root-certificate and i t

[2019-05-24 15:01] mikaelnordin commented on #37927
I just got a hold of the root certificate (O=Getswish AB, OU=Swish Member CA, CN=Swish Root CA v2 Test). When i add this to the X509Store(StoreName.CertificateAuthority, StoreLocation.CurrentUser) store the handshake works in linux too. Here are network catpures of the certificate exchange in the SSL handshake on windows 10 and linux with the new root cert installed in the store.

Windows 10:
[cod

[2019-05-24 15:08] onovotny opened #37929 "Add .NET 4.6.1 target to AsyncInterfaces"
The AsyncInterfaces package currently targets .NET Standard 2.0 and .NET Standard 2.1. This means that a .NET Framework 4.6.1 project may pull in a lot of other packages by referencing this one.

Please add a .NET 4.6.1 target (with the same items as in the .NET Standard 2.0 one) to minimize package dependency issues.

[2019-05-24 15:08] steveharter commented on #37896
Sure.

Actually, I don't think we want to physically move any files in the repo. The reader\writer\document all have their own directories even though they are in the root `System.Text.Json` namespace.

[2019-05-24 15:27] danmosemsft commented on #31447
@theimowski could you please open a new issue? It is easy to overlook contents on old ones.

It doesnt surprise me this fails as we snapped WMI code from after this point. I guess they made code changes since 4.5.1 that require new exports. If you want you could debug a bit and see whether it's something minor and we could make our code tolerant of its absence.

[2019-05-24 15:28] ErikEJ commented on #33897
Looks like System.Data.SqlServerCe runs fine in a .NET Core 3.0 app (tested with preview6 SDK)

[2019-05-24 15:50] #37898 closed

[2019-05-24 15:53] Yucked commented on #37904
@ahsonkhan Prev 6 seems to have fixed both of the issues. Here is the payload from YT API:
https://pastebin.com/raw/Ma8SwjhZ

[2019-05-24 16:09] safern commented on #37924
Closing this one in favor of: #34619

[2019-05-24 16:09] #37924 closed

[2019-05-24 16:18] halgab opened #37930 "System.IO.Compression.ZipFile: overloads to write to a stream rather than a file"
The `ZipFile.CreateFromDirectory` signatures all assume that we want to write the resulting file directly to the file system. But for small archives that are directly uploaded to e.g. Azure blob storage, this is not very efficient.
Would you consider adding overloads that take an output `Stream` rather than `destinationArchiveFileName`? It would look like this:

[code]

[2019-05-24 16:39] krwq opened #37931 "Single line comments ended with single \r return \r when calling GetComment"
Repro:

[code]

[code]

cc: @ahsonkhan

[2019-05-24 16:40] #37849 closed

[2019-05-24 16:51] ajcvickers commented on #25128
@cycbluesky We aren't going to unseal attributes, as explained on [the other issue](https://github.com/dotnet/corefx/issues/33724#issuecomment-466580643) you were commenting on.

[2019-05-24 17:16] andre-ss6 commented on #33724
@ajcvickers How big is the performance impact? Do you have any data on how much is that difference, especially taking into consideration how frequently are the sealed and unsealed attributes used?

[2019-05-24 17:22] ajcvickers commented on #33724
@andre-ss6 No, I don't have specific numbers. If you do some tests and show that the performance difference is negligible, then that would be something we could consider. However, this will be an up-hill battle. The accepted wisdom for attributes is that they should be sealed, so changing that will require strong evidence that this wisdom is wrong.

[2019-05-24 17:24] ScotMac commented on #37599
Looks like it is a Core issue.  It doesn't happen for sqlplus (C client), and does happen on linux with a pretty similar stack.

Linux failure:
Unhandled Exception: Oracle.ManagedDataAccess.Client.OracleException: ORA-00542: Failure during SSL handshake ---> OracleInternal.Network.NetworkException: ORA-00542: Failure during SSL handshake ---> System.Security.Authentication.AuthenticationException:

[2019-05-24 17:38] halter73 commented on #37701
I agree. We should have a LeaveOpen option for both the reader and writer.

[2019-05-24 17:43] LukePulverenti commented on #37044
@softworkz thank you !

@karelz Yes it would be great to get this back-ported because ever since the 2.1 release we've had to tell users to shutdown all other upnp or dlna software on the machine in order to prevent this from happening.

[2019-05-24 17:44] wfurt commented on #37599
The information about certificate trust does not have enough details. There are several recent posts similar to this where the the issue is server certificate. Windows implementation seems to be more liberal but OpenSSL correct v3 flags are required.

You can try this (on Linux) to verify that your general trust is correct:
[code]
post output of that command @ScotMac if it connects successfully bu

[2019-05-24 17:59] buyaa-n commented on #37545
Another case: when there is no default constructor defined for a class NRE is throwing
[code]

[2019-05-24 18:11] danstur commented on #25128
@ajcvickers Oh I understand that it's not about general exceptions, but about the model validation messages (although I should've been clearer on this in my second post!)

But I find the same still applies to a lesser degree: Is it really useful to show the user "'Foo.Bar[0]' is a required value"? For most the message will be way too technical and since such a message is caused by a programming er

[2019-05-24 18:31] jhudsoncedaron commented on #37559
All roads lead back to the thread pool. There's been debates in the past whether or not threadpool should be swappable.

So, I wrote a custom replacement for thread poo in 588 lines, clobbered the stock System.Threading.ThreadPool.dll with it, and discovered the .net core dlls don't actually call it. Apparently it's a forwarder dll, and the .net core dlls are linked against the real one.

I've red

[2019-05-24 18:43] wfurt commented on #37044
BTW Here is nice reading: https://idea.popcount.org/2014-04-03-bind-before-connect/

[2019-05-24 18:44] Anipik commented on #37896
All the files in reader\writer\document are in the same namespace. If we dont move the files, some of the files\classes will be in System.Text.Json and some System.Text.Json.Serialization

[2019-05-24 18:46] dasMulli opened #37935 "Hardware Intrinsics Feedback"
So I just spent some time experimenting with Hardware Intrinsics and wanted to share my experience.
I have no previous experience with using hardware intrinsics except vor a very basic understanding of what it is about nor any pre-existing asm/c* optimised avx/sse code that I could copy from, but I set out to improve on a routine that showed up as by far the most expensive loop for implementing th

[2019-05-24 18:55] Gnbrkm41 commented on #37935
I remember seeing that AVX-512 isn't widely available in common consumer CPUs.
![image](https://user-images.githubusercontent.com/42944058/58350371-a6cf9580-7ea0-11e9-9822-041c828e276c.png) (From wikipedia `AVX-512` document)
In addition, I remember hearing that at the moment AVX-512 instructions involves downclocking of the CPU which actually can be worse compared to alternatives; but I might be

[2019-05-24 18:58] GeorgeAlexandria commented on #34019
Hello @safern and thanks for you suggestions. Issue was updated and I'm hope that now it's more structured and easy to reviewed.

[2019-05-24 19:18] steveharter commented on #37896
Per offline discussion, I agree with this concern. However since we already have a mix of physical folders and namespaces that don't align we should refactor all of this after the usability studies and when we know the namespaces are correct (if we agree it makes sense to do that at that time).

Otherwise it just adds short-team overhead and the possibility of additional file moves.

[2019-05-24 19:23] Alois-xx opened #37936 "JsonSerializer does not serialize fields"
So far JsonSerializer only supports serialization of properties. Practically every other serializer can also serialize fields. Is this feature on the roadmap?

[2019-05-24 19:26] karelz commented on #37044
@softworkz @LukePulverenti I think we may be dealing with multiple problems here as some people on this thread said that 3.0 does not fix it for them.
Either way, we have a repro now, so let's try it -- @tmds or @wfurt will you have time to try it out and reproduce? If we can reproduce in-house, it should be easier for us to track it down. I'd be also interested in the repro result on 2.1.

Thanks

[2019-05-24 19:54] softworkz commented on #37044
@karelz - Yes, ours is about the UDP bug https://github.com/dotnet/corefx/issues/32027 which was correctly fixed for 3.0 by PR https://github.com/dotnet/corefx/pull/32046 and we're hoping to get it backported to 2.2. It's getting a bit embarrassing having to tell users that our software cannot coexist with other DLNA software, especially once they've found out that any other two (non-netcore) appl

[2019-05-24 20:04] Anipik commented on #37936
cc @steveharter @ahsonkhan

[2019-05-24 20:06] Anipik commented on #37904
This is fixed so closing this one

[2019-05-24 20:06] #37904 closed

[2019-05-24 20:27] noahfalk commented on #36149
If someone knows, it would be good to clarify this issue is related to https://github.com/dotnet/coreclr/issues/18225

[2019-05-24 20:59] ahsonkhan commented on #37931
Given the json payload is effectively empty, I would consider this a low priority issue, but it is a bug nonetheless.

For example, if the JSON actually contained some content, the test passes:
[code]
cc @WinCPP

[2019-05-24 21:05] steveharter commented on #37768
Capturing some design decisions:
•	Use valid JSONPath – basically the same as Json.NET except start with “$” or "$." (e.g. “$.customer.phone[0]”).
•	Use dot-notation and bracket-notation the same as Json.NET (if special characters encountered, switch to bracket for that given property name).
•	Escape the property name to avoid injection.
•	If an error is encountered on the nth element (whether or

[2019-05-24 21:14] ahsonkhan commented on #37904
cc @layomia

[2019-05-24 21:24] tanbchr opened #37940 "GetSchema Async"
I was curious to know why there is not an `async` version of the `GetSchema`?

Basically, for each collection information name, it is doing queries to retrieve the metadata.

I know that we can query directly the database to retrieve the same information. However, we are using multiple ADO.NET providers and we are not depending on the implementation of the `GetSchema` function nor on the type of t

[2019-05-24 21:38] tannergooding commented on #37935
CC. @danmosemsft, @CarolEidt, @RussKeldorph who may enjoy reading some positive Hardware Intrinsics feedback.

[2019-05-24 21:40] tanbchr commented on #37940
We are about to wrap it with a TaskCompletionSource, so we can have an async version of it. But we are not 100% sure if it is a good idea. Maybe some concrete implementation of `GetSchema` are not async (I/O) and that is why there is not an asynchronous version of it?

[2019-05-24 21:47] Gnbrkm41 commented on #37935
Regarding `Avx.CreateVector128Int(1,1,1,1,1,1,1,1)` (I think you meant 256): `Vector256.Create(1)`?

[2019-05-24 21:51] tannergooding commented on #37935
AVX-512 is not currently very common in consumer grade CPUs. It also nearly triples the currently exposed surface area (taking us from ~1500 APIs to ~4500 APIs). It *may* be on the plate in the future, but that will likely be dependent on availability, need/desire, and perf numbers.

This has come up a few times before as well and likely won't happen for 3.0, but may happen in the future based on

[2019-05-24 22:07] ahsonkhan commented on #37936
Duplicate of https://github.com/dotnet/corefx/issues/36505

Yes it is, but for vNext.

[2019-05-24 22:07] #37936 closed

[2019-05-24 22:54] rainersigwald opened #37942 "System.Resources.Extensions API to add untyped BinaryFormatter"
`PreserializedResourceWriter` currently exposes

https://github.com/dotnet/corefx/blob/bf7dbd6d37285a147dd30f5dfca6582046dcabc7/src/System.Resources.Extensions/ref/System.Resources.Extensions.cs#L32

Unfortunately, when (desktop) `ResXResourceWriter` chooses to write a BinaryFormatter byte array, it does not preserve type information in the `.resx`. For instance:

[code]

is accessed at runtime as

[2019-05-24 23:02] anurse commented on #37701
Seems appropriate to me. Updated my comment.

[2019-05-24 23:14] CarolEidt commented on #37935
@dasMulli - Thanks for this! Just to follow up on a couple of things mentioned by @tannergooding above:

Would the `Unsafe.ReadUnaligned` address what you want to do?

Also, with regard to `Avx.CreateVector128Int(1,1,1,1,1,1,1,1)`, it is indeed true that `Vector128.Create(1)` or `Vector256.Create(1)` will give you a vector with all the same values, though there are currently some inefficiences the

[2019-05-25 00:06] vatsan-madhavan opened #37943 "System.Reflection.MetadataLoadContext has dependency on newer System.Memory package than it was built against"
`System.Reflection.MetadataLoadContext` (for e.g., `4.6.0-preview6.19273.5`) ….
- ... depends on `System.Memory/4.5.3`  (`AssemblyVersion=4.0.1.1`)
- ... requires `System.Memory` with `AssemblyVersion=4.0.1.0` (=> this is NOT `4.5.3` – this is `4.5.2)`.

This incoherence breaks the build for PresentationBuildTasks in [dotnet/wpf](https://github.com/dotnet/wpf).

We are temporarily working around t

[2019-05-25 00:15] nguerrera commented on #37943
cc @steveharter

[2019-05-25 01:04] kakiyama1018 opened #37945 "Build issue when targeting .NET core 2.1 on machine with only .NET Core SDK 2.2"
I'm trying to ship some code samples to users that will work regardless of whether they have .NET SDK 2.1 or 2.2.

According to...
https://docs.microsoft.com/en-us/dotnet/core/versions/selection
... it states that:

"A given SDK supports a fixed set of frameworks, capped to the target framework of the runtime it ships with. For example, the .NET Core 2.0 SDK includes the .NET Core 2.0 runtime, whi

[2019-05-25 01:05] Gnbrkm41 opened #37946 "Further vectorisation of BitArray?"
I've noticed a couple things while strolling through the source of BitArray:
* `And`, `Or`, `Xor` have `Sse2` path however it does not have `Avx2` path
* `Not` is not vectorised at all

I tested using a relatively simple implementation (....I pretty much copy & pasted the `Sse2` path and amended it for `Avx2/Vector256` :^) ), and it looks like vectorising might have some positive effect on the tim

[2019-05-25 03:13] Fabi commented on #37689
Did you try the latest .NET Core 3 preview? I know that a few months ago some changed related to redirecting were merged since it was broken in some cases.

[2019-05-25 04:55] danmosemsft commented on #37946
@tannergooding is the right person here

[2019-05-25 04:55] danmosemsft commented on #37946
The numbers look very promising though!

[2019-05-25 04:56] danmosemsft commented on #37946
Could you share a link to the branch?

[2019-05-25 06:09] ScotMac commented on #37599
@wfurt I believe our server requires two way auth. ie, the client will also need t authenticated. I am not that familiar w/ openssl, but it appears the s_client command take a -cert <arg> param. I believe the <arg> is a filename? Can the filename be a pkcs12 file?

[2019-05-25 06:39] cspotcode opened #37948 "No way to turn off tty echo via corefx API (tcsetattr on Linux)"
On Linux, TTY echo needs to be disabled to avoid keystrokes -- potentially ugly ansi escape sequences -- from rendering on the console.  dotnet's API does not expose this functionality except within `Console.ReadKey`, which is inadequate.

PSReadLine reads input keystrokes by repeatedly calling `Console.ReadKey` in a loop.  Dotnet's `ReadKey` implementation turns off TTY echo while it's waiting fo

[2019-05-25 06:40] cspotcode commented on #37948
Related: PowerShell/PSReadLine#753

[2019-05-25 07:39] CodingNinjaOctocat commented on #36545
If I have a IAsyncEnumerable that contains 20 elements, each element takes 1 seconds to get, and if I just want to get the last element, then it takes 20 seconds for me to use Last()?

This is crazy!

I wish I could use IEnumerable<Task> so that I could quickly enumerate the elements and then manually await it, but the asynchronous data source forced me to use The IAsyncEnumerable.

[2019-05-25 08:27] dasMulli commented on #37935
Reg `Vector256.Create()`: seems that I completely missed that, I only searched on `Vector256<T>` for creation methods.

`Unsafe.ReadUnaligned`: I'll just stick with pointers before making things too complicated. I was simply thinking of ways to not necessarily use pointers (and pointer arithmetic) everywhere.

@tannergooding Thanks for the explanations.

[2019-05-25 08:27] dasMulli commented on #37935
Closing since my outstanding questions have been answered.

[2019-05-25 08:27] #37935 closed

[2019-05-25 08:43] Gnbrkm41 commented on #37946
https://github.com/Gnbrkm41/corefx/tree/bitarrayintrinsics. Looks like the tests pass w/o problem, but I'm not sure if mine's the most optimal. Feedbacks... and more tricks appreciated.

[2019-05-25 09:43] theimowski opened #37949 "Using System.Management for Self Contained Apps required specific full .NET version"
I'd like to revisit https://github.com/dotnet/corefx/issues/31447

Following code for self contained .NET Core 2.1 console app on Windows 8.1 Pro with .NET 4.5.1:

[code]

Experienced following exception:

[code]

When I update System.Management to latest preview version (4.6.0-preview5.19224.8), the exception changes to:

[code]

which is obviously more informative, however .NET Core is supposed

[2019-05-25 09:50] svick commented on #36545
@CodingNinjaOctocat That sounds like you want `IEnumerable<Task<T>>`, instead of `IAsyncEnumerable<T>`. What's preventing you from using that?

[2019-05-25 10:27] tmds commented on #37044
@karelz @softworkz is talking about a UDP issue https://github.com/dotnet/corefx/issues/32027 which was decided not to be backported: https://github.com/dotnet/corefx/issues/32027#issuecomment-418447086.

The main issue reported here is a TCP issue observed when using HttpClient.

[2019-05-25 10:32] stephentoub commented on #37948
Have you tried .NET Core 3.0?

[2019-05-25 15:33] softworkz commented on #37044
And still we're asking for it. It's a bug - not a "corner case".

Not quite. We're not the only ones referring to the UDP bug here.

[2019-05-25 16:25] #37844 closed

[2019-05-25 18:32] tmds commented on #37044
Yes, this is causing confusion, so it's good to make clear the difference. The issue reported here is for HttpClient/TCP, and it was assumed the UDP fix would solve it, which is not the case.

[2019-05-25 18:37] karelz commented on #37044
Agreed, this issue is already pretty confusing even without mixing it up with UdpClient. Let's keep this issue specific to **HttpClient/TCP** (I will update the title).
Let's move the discussion about backporting #32027 into separate issue please (we can reuse #32027 for now) -- BTW: I would be interested in confirmation what exactly are symptoms of UdpClient - in that issue, not here please. Note

[2019-05-25 18:40] softworkz commented on #37044
@karelz - Can you move posts? Or should I repeat my information in the other issue?

[2019-05-25 18:41] karelz commented on #37044
@softworkz posts cannot be moved, please copy relevant information over. Thank you!

[2019-05-25 18:43] karelz commented on #37044
Just to reiterate:
We still need someone to help us track the **HttpClient** problem down:
**Anyone has an environment where it happens on somewhat regular basis, where we could work with you to collect more logs and experiment?** It would be great help that would unblock us. Thanks!
See instructions from @wfurt above: https://github.com/dotnet/corefx/issues/37044#issuecomment-495425689

[2019-05-25 18:50] softworkz commented on #32027
Copying over from #37044:

----

----

----

[2019-05-25 18:52] softworkz commented on #32027
----

----

[2019-05-25 18:53] softworkz commented on #32027
And still we're asking for it. It's a bug - not a "corner case".

Not quite. We're not the only ones referring to the UDP bug here.

_Originally posted by @softworkz in https://github.com/dotnet/corefx/issues/37044#issuecomment-495927124_

[2019-05-25 18:54] karelz commented on #37044
@yuezengms @yanrez @arsenhovhannisyan @antoinne85 @blurhkh @EvilBeaver @antonioortizpola @LukePulverenti @sapleu @rrudduck @rbrugnollo @robjwalker @OpenSourceAries I'd like to ask you for 2 favors:
1. Can you please confirm if your repro is truly on `HttpClient`/TCP and NOT `UdpClient`? (please confirm you're on `HttpClient`/TCP by **upvoting** this reply)
2. Is any one of you in position to colle

[2019-05-25 18:56] softworkz commented on #32027
@karelz - I was able to copy over **our** parts of the UdpClient issue, but not the ones from the others having he same problem.

[2019-05-25 19:02] karelz commented on #32027
Thanks @softworkz!
So far it seems we have 2 customers confirmed to hit `UdpClient` problem -- @olijf and @softworkz. If anyone else hit the **`UdpClient`** problem, please reply here and tell us so.

@softworkz I wonder if it would be acceptable for you to wait for 3.0 RC in July (see [roadmap](https://github.com/dotnet/core/blob/master/roadmap.md#upcoming-ship-dates)). If there are more customer

[2019-05-25 19:10] LukePulverenti commented on #32027
We are only one customer but we do bring a lot of users across every OS and NAS device that we can deploy the runtime to. Right now this is creating enough troubleshooting for us that in order to save face we are passing this information onto users and saying that we'll just have to wait for an updated runtime. We would prefer to not have to start building our own fork of the runtime from source,

[2019-05-25 19:13] softworkz commented on #32027
Once we discovered the problem we thought we could wait until March which was the original roadmap date for netcore 3.0.
But we're getting increasing pressure from customers as nobody wants to stick to our old version based on netcore 2.0 anymore (where it was still working).
Also, migrating to a new framework version is not a trivial task, because in fact we're delivering to the widest range of p

[2019-05-25 19:51] davidsh commented on #26627
There was no ticket opened for this .NET Framework bug.

Thanks for opening the ticket.

[2019-05-25 20:28] tmds commented on #32027
You should be able to work around the issue as described here: https://github.com/dotnet/corefx/issues/32027#issuecomment-418082355

[2019-05-26 00:40] karelz commented on #32027
Just to clarify @softworkz @LukePulverenti: Are you from the same company?

@softworkz AFAIK, March was never original roadmap for .NET Core 3.0.
.NET Core 2.0 is out of support, so I understand your desire to not use it. We would recommend the same.

Can you please try workaround from @tmds? Would that be acceptable until you are able to upgrade to 3.0?

[2019-05-26 05:19] Therzok commented on #37629
Just thought about this from a different perspective, which makes the problem really hard to solve in the current world.

Exposing corlib internals to immutable.collections, which would be a layering violation, which most likely makes it not an option.

Then we are left with teaching corlib about ImmutableArray.

Don't know what to say about the other immutable collections. The usage pattern of Im

[2019-05-26 07:17] danmosemsft commented on #37949
Based on the above yes it seems you must update your.NET Framework version to at least match the snap of the code we made. But as mentioned in the other issue if it is important to you you could investigate whether it is feasible to make the code more tolerant. It is unlikely we will have time to do this.

[2019-05-26 07:30] nagytech commented on #10012
@kierenj Starting with with .NET Core 2.0, you can use the `AppDomain.CurrentDomain.ProcessExit` hook.

https://apisof.net/catalog/System.AppDomain

[2019-05-26 07:56] toptensoftware opened #37955 "Incorrect StackChange value for OpCodes.Stelem"
Shouldn't the stack change value for `OpCodes.Stelem` be `-3` instead of `0`?

https://github.com/dotnet/corefx/blob/b86783ef9525f22b0576278939264897464f9bbd/src/Common/src/CoreLib/System/Reflection/Emit/OpCodes.cs#L1878

[2019-05-26 09:04] Symbai opened #37956 "MS.Internal.FontCache.DWriteFactory type initializer exception"
This only starts to happen in Preview 6 (3.0.100-preview6-012085) but not in Preview 5 and lower. One of my WPF applications crashes at start on App().Run(). Sadly its a larger application and the stacktrace shows a lot internal stuff so it's hard for me to find the line that's causing it.

Exception:
[code]

Stacktrace:
[code]

[2019-05-26 10:01] dasMulli commented on #37935
If anyone is interested, I've been poking at this algorithm for another day, changing data structures (most importantly double to float), removing a dependency on MathNet.Numerics except for the entry point API and changed every loop that seemed worth it to use hardware intrinsics. The results are great. Without the hardware intrinsics but with the other changes I'd still be well over a second for

[2019-05-26 11:55] GSPP commented on #37882
Is there any use case for this? What system produces JSON with octal numbers?

[2019-05-26 11:56] GSPP commented on #37884
This can be done by making the predicate perform the post processing action. It's a bit of a hack.

[2019-05-26 13:36] CodingNinjaOctocat commented on #36545
You're right, I test it over and over again, IEnumerable<Task<T>> is the best choice.

[2019-05-26 14:27] andrewaggb opened #37957 "File allocation inconsistency between Windows and Linux and sparse allocations"
My basic problem.  I want to pre-allocate files (reserving space) ahead of time so that it's not possible to run out of space at a later time.

Sample Code:

using (var fs = File.Open(fileName, FileMode.CreateNew, FileAccess.ReadWrite, FileShare.None))
{
       fs.SetLength(1024L * 1024L * 1024L * 2);
}

On my ntfs windows 10 machine this creates a 2gb file and decreases the free space reported on

[2019-05-26 15:30] EgorBo commented on #37946
@Gnbrkm41 It's important to keep performance the same for all values, not only some large arrays (where AVX is obviously good). I see you extended the switch from 4 to 8 cases, I am not sure it will be converted to a jump table and also I bet there will be a performance regression between 4 and 8.

[2019-05-26 17:19] Ryder25 commented on #31265
For example, if you have a game data file that needs to be written using different endianness depending on the platform.

If reading/writing the file for Windows, then you may use LittleEndian, and instantiate the BinaryReader/Writer as so.  Whereas for the PlayStation 3, the reader/writer would be instantiated with BigEndian.

[2019-05-26 17:47] danmosemsft commented on #37935
Thanks for the update @dasmulli. If your project is open source, perhaps others would be interested if you pushed something the changes before and after.

[2019-05-26 18:04] krwq commented on #37882
@GSPP unix permissions are in octal, for machine generated JSONs it doesn't matter what the format is

[2019-05-26 18:21] Halofreak1990 commented on #31265
@Ryder25 that is assuming you'd output your assets in a different endianness for each specific platform, which is something I'd personally never do. Why complicate development, if the framework automagically fixes things for you? .NET, as it currently works, allows one to use little-endian assets, and in code never care about that, unless you need to fiddle with specific bits. For example, a littl

[2019-05-26 18:41] Ryder25 commented on #31265
I'm not saying I would do it, but I've seen it done before with several games. I can see a case where the game itself is written in C++, and there could be tooling done in C#. At that point, you can't only focus on what's happening in the .Net bcl.

[2019-05-26 19:56] electricessence opened #37958 "BoundedChannel ChannelWriter .WriteAsync() never completes."
.NET Standard 2.0 inside a .NET Core 2.2 console application.

I've run into a very strange issue with `.WriteAsync(`) that after hours of debugging I can't really say why it's happening, but I have found a work-around that is satisfactory.

For some reason I was able to replicate over and over a situation where writing to a bounded channel would eventually stop even though the channel had been dr

[2019-05-26 20:15] softworkz commented on #32027
More 'for' than 'from', but yes.

Well, now I'm confused because you're the one who edited the roadmap document:
https://github.com/dotnet/core/blob/1b9b75a242b09f85a6dd7916ff08e7c28154f2b5/roadmap.md
Q1 2019 was the announced ship date from May 24, 2018 until Nov 6, 2018.
The last month in Q1 2019 is March 2019.

We'll try and report back, thanks.

[2019-05-26 20:58] am11 commented on #37957
I think that is the case.

* `FileStream.SetLength` API uses `ftruncate(2)` on Unix, that creates a sparse file and is available Unix-wide. It does not provide option to create a non-sparse file if underlying filesystem supports both.
* `fallocate(2)` is non-portable Linux specific, it is allocate-y and creates non-sparse file when mode is 0: `fallocate (fd, 0, offset, length)`.
* `posix_fallocate

[2019-05-26 22:13] stephentoub commented on #37958
Can you share an isolated repro? From a super quick glance at your code, I'd guess you're ending up awaiting the same ValueTask twice, which is not supported.

[2019-05-26 22:24] Symbai opened #37959 "Unsafe.CopyBlock confusing parameter order"
Unsafe.CopyBlock and Unsafe.CopyBlockUnaligned have the destination  as first parameter and source as second. This is kinda confusing as all other copy methods in .NET have source as first and destination as second. Wouldn't it be better to follow the unofficial "standard" ?

[code]

As you can see it's always source first, except on Unsafe.Copy methods.

[2019-05-27 00:56] Joe4evr commented on #37959
This would break all consumers of the API, so it can't be changed. The best thing you could do here (and is something that's recommended to do when a method has multiple parameters of the same type in a non-obvious order) is to use named arguments so that the compiler will do The Right Thing:tm: for you. Additionally, with [this 7.2-introduced feature](https://docs.microsoft.com/en-us/dotnet/cshar

[2019-05-27 01:55] danmosemsft commented on #35647
As noted in the linked issue, the same issue exists with `StackTrace`. `Exception.ToString()` ignores any override of that property and instead calls the base implementation (`GetStackTrace`). I think that needs the same fix.

[2019-05-27 02:19] joshudson commented on #37559
I just found another instance of the deadlock, this time contained within coreclr itself. The following function can deadlock:

    async Task Deadlocky()
    {
        byte bytes = new byte[1];
        Task.Delay(1); // Ensures we are on a theadpool thread.
         using (var fs = new FileStream(@"C:\temp\demo.bin", FileMode.Access.Create, FileMode.Write))
         {
             await fs.WriteA

[2019-05-27 04:46] joshudson commented on #8895
Put up pull request for fix. I chickened out and made the Unix behavior match the current Windows behavior of both `Close()` and `Dispose()` generate IO exceptions on buffer flush. The behavior can now be toggled for both by inheriting from `FileStream` and overriding `Close()` and `Dispose()`.

[2019-05-27 05:13] electricessence commented on #37958
Oh really!?  You can only await a ValueTask once?  So a single ValueTask can't have multiple awaiters?

[2019-05-27 05:17] electricessence commented on #37958
Might not be right away but I'll look deeper into getting an isolated repro.
I'll close for now and re-open when I do.

[2019-05-27 05:17] #37958 closed

[2019-05-27 05:18] mikedn commented on #37959
`CopyBlock` does follow the "unofficial" standard - that of the IL `cpblk` instruction that this method exposes.

[2019-05-27 05:31] electricessence commented on #37958
@stephentoub ... isn't DisposeAsync() a ValueTask?  Does that mean you have to emit a unique ValueTask when it's called?  Or is it gonig to be assumed that DisposeAsync only get's called once by it's owner?

[2019-05-27 07:06] ViktorHofer opened #37962 "Test failure: ContentType_SetNullEmptyOrWhitespace_ResetsContentType"
`System.Net.Tests.HttpListenerResponseHeadersTests.ContentType_SetNullEmptyOrWhitespace_ResetsContentType(contentType: null, expectedContentType: null)` failed on `netcoreapp-OSX-Debug-x64-OSX.1012.Amd64.Open`: https://dev.azure.com/dnceng/public/_build/results?buildId=202411&view=ms.vss-test-web.build-test-results-tab&runId=4899702&resultId=484348

[code]

[2019-05-27 08:57] GSPP commented on #37816
Maybe number exceptions and separate them with an empty line?

[code]

With `AggregateException` there can be a tree of exceptions. Maybe format the tree like

[code]

It's great that this is being improved. The `Exception.ToString()` output is one of the most valuable debugging tools we have. What ever you do please do not remove any information. It is important that every piece of data available

[2019-05-27 09:42] adrianm64 commented on #23544
@yahorsi, you already have that.
`HttpMessageHandler` is what you call stateless (everything passed via parameters) and `HttpClient` is stateful (holds default headers etc).

Just use a static HttpMessageHandler and then create a new HttpClient whenever you need to alter default headers/timeout etc.

[2019-05-27 09:49] GSPP commented on #37694
Multiple identical keys are likely an error in the data. Picking the last one hides errors and drops data. It's `ON ERROR RESUME NEXT` for data... Seems like a bad default.

[2019-05-27 09:50] martin-pes commented on #37927
I have followed advice of @mikaelnordin  (many thanks for that) and workaround worked for me. My immediate problem is solved then.

However it does not seem right to me that Windows and Linux implementations behave differently - unless I am doing something wrong with the certificate installation - so I hope leaving the issue open for now can be useful.

[2019-05-27 10:17] shaulbehr opened #37965 "Is .NET Standard being retired with .NET Core 3.0?"
I'm attempting to upgrade my project to .NET Core 3.0 preview. I've installed the SDK, and updated all my .NET Core projects to `netcoreapp3.0`.
I figured that I should do the same for my .NET Standard projects, and update those to the latest version, i.e. `netstandard2.1`. But now when I try to compile my .NET Core projects, I get a compiler error:

I searched for this issue and couldn't find any

[2019-05-27 11:06] JarnoNijboer commented on #37965
.NET Standard is not deprecated and as long as you don't need API's from .netcore3.0 or .netstandard2.1, you should target .netstandar2.0. The projects you are referencing are ASP.Net projects and ASP.Net 3.0 only works on .net core 3.0. Asp.net 2.x was targetting .netstandard 2.0 because is supported .net core and .net full framework.

[2019-05-27 11:06] Wraith2 commented on #37965
No. At least that isn't the plan currently. Corefx in 3.0 will support netstandard 2.1. Desktop framework (netfx) will only support netstandard 2.0 and the plan is to not implement ay later netstandard versions on desktop. After core 3.0 it will be [rebranded as 5.0](https://devblogs.microsoft.com/dotnet/introducing-net-5/) and a lot of work will be done to integrate multiple framework and runtime

[2019-05-27 11:11] theimowski commented on #37949
what do you mean by "match snap of code"?

Anyway updating .NET Framework isn't really a viable option - we need the application to be "Self contained" as it's distributed among many client machines.
Apparently Self Contained does not really work for .NET Core and System.Management to query WMI.

In this case, do you recommend to switch from System.Management to Microsoft.Management.Infrastructure

[2019-05-27 11:45] stephentoub commented on #37958
Correct.  See https://devblogs.microsoft.com/dotnet/understanding-the-whys-whats-and-whens-of-valuetask/ for more details.

Yes, it returns a ValueTask.

A method that returns a ValueTask needs to ensure that its caller is able to consume it.

As with Dispose, DisposeAsync is supposed to be callable any number of times (serially), with subsequent calls effectively being nops.

[2019-05-27 12:01] Joe4evr commented on #37559
Since it's not `await`ed, that call actually *doesn't* switch your context to anything.

This is true, but that's why `await using` has been introduced, and ASP.NET Core 3 will throw you a new exception if you ever do synchronous IO (even unwittingly) as that would do, and you have to fix it up.

[2019-05-27 12:09] danmosemsft commented on #37949
@theimowski i didn't provide context. The WMI functionality in.NET Framework is split across native and managed code. We did not want to port the native code into.NET Core. We thought it is OK to require the native binary exist on the machine as is it part of.NET Framework so part of Windows. However we had to let the managed part so that it could run on Core. To do this we snapped a copy of it fr

[2019-05-27 12:12] danmosemsft commented on #37949
In that it depends on the native part being up to date (4.6.2 most likely) your are correct

[2019-05-27 12:14] danmosemsft commented on #37949
I am not familiar with that technology. I know WMI is considered legacy and not advised for new projects. If MMI is newer (surely yes!) and supported on.NET Core then yes it is probably a better choice. If it is not then perhaps we can ask that team what they suggest (or to port it) Maybe @karelz knows.

[2019-05-27 12:18] danmosemsft commented on #37816
@GSPP note also https://github.com/dotnet/coreclr/pull/24793 which will generally add more info

[2019-05-27 12:19] danmosemsft commented on #37816
@GSPP wrt ordering do you believe the current organization - outermost message first, innermost stack first - is the correct, least confusing one?

[2019-05-27 12:22] yahorsi commented on #23544
Not sure what you mean. SendAsync is protected abstract in the HttpMessageHandler and receives HttpRequestMessage.

[2019-05-27 12:37] Wraith2 opened #37966 "DiagnostSource async and parenting"
I'm writing a program that and want to be able to monitor non-intrusively in production. The suggested way to do this was EventSource in the past but is now DiagnosticSource which should work for both in and out of process mornitoring.

I'm receiving messages from client systems and once validated I want to schedule a new task to deal with the contents. Once I've received the message the receive t

[2019-05-27 12:42] alisolutions opened #37967 "Call keychain APIs using .NetCore on macOS"
How I may call Keychail APIs using .Net Core on MacOs. Any help please.
I have looked into the following issues, but did not getting it. Thanks
https://github.com/dotnet/corefx/pull/16588

[2019-05-27 13:32] darrelmiller commented on #23544
@yahorsi @adrianm64 You need to use HttpMessageInvoker if you want to call a HttpMessageHandler directly.

@vladiliescu The convenience methods assume that you are not going to want to set per-request headers.  This is not a terrible assumption for a reasonable number of scenarios.  Having to fall back on creating a HttpRequestMessage and then use SendAsync if you want more control is, in my opini

[2019-05-27 13:51] PinpointTownes commented on #36719
I can confirm everything works like a charm with the latest SDK. Great job 👍

[2019-05-27 14:05] theimowski commented on #37949
Thanks @danmosemsft for explanation, appreciate that.

I could try investigate this however I don't fully understand how to do this - could you provide some more guidelines:
- what debugger to use,
- how to attach it,
- how to find the proper "export",
- how would a workaround look like if I found root cause?

Regarding MMI, I believe the alternative solution is using `CimSession` family of object

[2019-05-27 15:09] joshudson commented on #37559
@Joe4evr : I'm looking at the coreclr code right off of yesterday's master. It does *not*.

[2019-05-27 15:19] shaulbehr commented on #32024
@rynowak going through your suggestions:

1. Limiting the number of TestServer instances.
Can't cut down on the number of TestFixtures. Unthinkable. So I started going down the path of making a cache of TestServers, since the vast majority of my TestFixtures use the same config...then realized that the TestServer gets injected with a `Container`, and I need a new `Container` per TestFixture. Bam.

[2019-05-27 15:46] scegg commented on #33457
Hit this bug last year when I need to use Assembly.Load in dotnet standard 2.

Workaround (for Load and LoadFile, but not for LoadFrom directly):
Reference System.Runtime.Loader from nuget and use this code:

using (var ms = new MemoryStream(bytearray)) // or FileStream
                {
                    assembly = System.Runtime.Loader.AssemblyLoadContext.Default.LoadFromStream(ms);

[2019-05-27 16:14] electricessence commented on #37958
@stephentoub Thanks for the clarification.  I'll pass this info along.

[2019-05-27 16:18] danmosemsft commented on #33457
@jeffschw in case this looks like a loader issue to him.

[2019-05-27 16:27] electricessence commented on #37958
@stephentoub if I might slip one very important question in about `await` in here:
Will `await` ever have a way (maybe in c#8) that will make:
[code]
[code]
I totally understand this might break certain desired behavior for true 'deferring' of awaitables, but is there or can't there simply be:
[code]
Maybe some keyword that checks any awaitable for completion and synchronously continuing?

[2019-05-27 16:41] svick commented on #37958
@electricessence That's how `await` already works: if `myValueTask.GetAwaiter().IsCompleted` returns `true`, the method continues synchronously.

[2019-05-27 17:33] stephentoub commented on #37967
There are no APIs that map 1:1 with Keychain.  If you need to access such APIs directly, you would need to write your own P/Invokes, or find a library that's already done it.

[2019-05-27 18:18] vladiliescu commented on #23544
@darrelmiller Agreed, manually creating an HttpRequestMessage and using it for SendAsync is by no means terrible. I do not think that this is what beginners (i.e. people not familiar with HttpClient) will use though. Beginners will use GetAsync and PostAsync and PutAsync. And when they'll need to set per-request headers they'll look at the overloads for Get/Put/Post, find nothing there, and conclu

[2019-05-27 18:56] davidsh commented on #29622
@joperezr Can you comment on this?

[2019-05-27 19:03] buyaa-n commented on #36240
Adding a test case:
[code]

[2019-05-27 19:09] EamonNerbonne opened #37968 "Expression.Compile(preferInterpreetation:true) miscompilation of MemberMemberBinding for struct members"
The repro is simple:

[code]

Correct behavior would be to print 42 four times. However, the preferInterpreetation path miscompiles this and appears not to pass the mutation back up to the real struct (is #13007 possibly related?); so this actually prints 42 three times, then 0.

In other words:
 - `new Something { AStructField = new AStruct { AValue = 42 }}` OK!
 - `new Something { AStructField =

[2019-05-27 19:17] BCSharp opened #37969 "UTF8Encoding reports incorrect error position during incremental decoding"
TL;DR
In .NET Core 3.0.100-preview5-011568, during UTF-8 incremental decoding, when an invalid byte is located in one increment but can only be detected during decoding of the subsequent increment, the reported index position of the invalid byte refers to a different byte.

Full story: consider the following input to be decoded:

[code]

It contains one invalid byte in position 2 (zero-based-index

[2019-05-27 19:17] BrennanConroy commented on #34963
Does this change mean we'll get APIs like `ChannelReader<T>.ReadAllAsync([EnumeratorCancellation] CancellationToken cancellationToken)` when targeting `netstandard2.1`? Or do we need to request specific libraries to provide `netstandard2.1` versions?

[2019-05-27 19:23] buyaa-n opened #37970 "JsonSerializer should be able to parse Numbers into string"
It might be by design for now, but its good to support it
[code]

[2019-05-27 19:32] buyaa-n opened #37971 "Improve boolean type conversion support"
I think JsonSerializer should support at least these values [1, 0, "true", "false"]
[code]

[2019-05-27 19:35] davidsh commented on #37747
@pan-theis Can you describe this repro scenario in more detail?  How are you determining that delegation is not working?  Usually, a scenario like this requires 3 machines (client, middle tier server, backend server).

Can you also show the output of "dotnet --info" that you are using?  Have you tried to use the latest .NET Core 3.0 Preview?  We've made lots of enterprise scenario fixes in .NET Co

[2019-05-27 19:53] davidsh commented on #36553
@tebeco

is it technically possible to get the nightly of 3.0 running against current azure sdk ?
or does the sdk needs to be first built against the nightly then used here for test ?

I don't think anyone answered your specific question here.  I'm not sure what you mean by "current azure sdk". But if you want to try out .NET Core 3.0, you can download the latest preview release.

https://devblogs

[2019-05-27 19:53] fredericaltorres commented on #23604
.UseDefaultServiceProvider(options =>
           options.ValidateScopes = false)

Worked for me

[2019-05-27 20:09] Gnbrkm41 commented on #37946
I don't expect mine to be the absolute best (in fact I'm not really good in terms of optimisations), it was just a simple proof-of-concept so it can get some attention. Would love to learn from it hopefully :^)

[2019-05-27 20:41] yohanb commented on #32875
Made a little tool for this if ever it could help someone:

[2019-05-27 21:09] electricessence commented on #37958
@svick are you suggesting that there's no benefit (compilation or run-time) checking for `myValueTask.IsCompletedSuccessfully ` like in the first example?  If so I'm so relieved. :|
I always thought placing await anywhere automatically incurred scheduling.

[2019-05-27 21:14] wfurt commented on #37599
no, I don't think it can take pkcs12. https://www.openssl.org/docs/manmaster/man1/s_client.html
But you can extract certificate and key from pkcs12 using `openssl pkcs12`
You can also look at examples  here: https://www.feistyduck.com/library/openssl-cookbook/online/ch-testing-with-openssl.html

[2019-05-27 21:24] wfurt commented on #37599
BTW I also noticed that the new stack fails on LoadMachineStores(). Since you mentioned pkcs12: did you import it via X509Certificate2.Import? As I mentioned before, you can share simple  SsslStream example of your code without any private ADO.NET as well as describe all steps you did to establish trust @ScotMac

[2019-05-27 21:36] svick commented on #37958
@electricessence There are some cases where checking `IsCompletedSuccessfully` can be useful (see e.g. [how it's used in corefx](https://github.com/dotnet/corefx/search?q=IsCompletedSuccessfully)), but those should be really rare and they're not about scheduling.

[2019-05-27 21:55] davidfowl commented on #37965
@shaulbehr What version of visual studio are you using?

[2019-05-27 22:03] cbenard commented on #37903
@danmosemsft can you add `System.Configuration.Install` as well? The [signatures are on referencesource.microsoft.com](https://referencesource.microsoft.com/#System.Configuration.Install/System/Configuration/Install/ComponentInstaller.cs,0c64c3a84420ee9c) but the implementations aren't there. They're also not in `microsoft/referencesource`.

`System.ServiceProcess` relies on `ComponentInstaller` a

[2019-05-27 22:08] joshudson commented on #37743
I've been studying this problem for a long time. It is really really hard. I wish I could offer you something but I can't either.

[2019-05-27 22:08] ViktorHofer commented on #11057
WSL2 runs on a fully supported Linux kernel which should behave like all other distros. I believe we don't need this work here anymore.

nit: we should remove the existing WSL conditions in source code.

[2019-05-27 22:26] electricessence commented on #37958
Right, I think my misconception has been dismissed.  I definitely see when it's useful and when it's not.
Thank you everyone.

[2019-05-27 22:34] davidsh commented on #37607
Can you post the source code for the "server" you are using that is requiring Digest?  Is it using Kestrel or IIS hosting for example?

[2019-05-27 22:48] arkoc commented on #37607
It's not .net core. Its Monero Blockchain wallet RPC. Basically here is source code of it:

https://github.com/monero-project/monero/blob/50d48d611867ffcd41037e2ab4fec2526c08a7f5/contrib/epee/src/http_auth.cpp#L222

[2019-05-28 01:00] andrewaggb commented on #37957
I agree it would be a breaking change to align the behavior.

My preference would be to overload File.Open though.  Otherwise you have to duplicate every option in the filemode enum with a Sparse variant.  Also the FileMode enum has been around forever.  I think the least friction would be be an overload with another parameter that takes an enum for sparse/nonsparse, eg FileAllocation.Sparse and F

[2019-05-28 01:22] scalablecory commented on #37957
Sparse files on Windows have tradeoffs, I don't think we'd want to change default behavior here. I would say each OS should have whatever is "natural" for them, with flags to ask for specifics if wanted.

[2019-05-28 01:37] KeltarHelviett commented on #37884
Yes, but it looks weird.

[2019-05-28 02:20] davidsh commented on #37607
I'm confused because you say this is an ASP.NET Core application.  Is it an ASP.NET Core application but the app is making outbound HTTP requests to that C++ wallet RPC server?

[2019-05-28 04:39] JeremyKuhne commented on #37743
@sergei66666 can you provide some more detailed repro steps?

- What is a file name that does this?
- What ftp tool are you using?

Can you manipulate the file via the terminal? Or does it only present problems in .NET code?

[2019-05-28 05:04] sergei66666 commented on #37743
1) On my windows 10 file name for example is "Тестовый файл.txt".
2) I transfer it on linux using WinSCP using FTP protocol. On linux installed vsftpd from repository (not patched version with support of filename conversion).
3) Via terminal I can type "ls -l" and see "-rw-r--r-- 1 vsftpd nogroup 0 May 28 04:52 ???????? ????.txt". I can't delete file, but I see attributes.

[2019-05-28 05:18] ScotMac commented on #37599
Yes, i looked at exactly that manpage before i send the last message. It has no details of what the -cert takes. But i found here a good description of how to convert the pkcs12 to something the s_client will take here:

https://techdrawer.wordpress.com/2014/10/07/testing-ssl-with-your-certificate-using-s_client/

Specifically, i will try the following:

1. The resulting pcks12 (.pfx, .p12) can be

[2019-05-28 05:46] mikedn commented on #37956
This looks like a duplicate of https://github.com/dotnet/coreclr/issues/24705

[2019-05-28 07:28] Lohnegrim commented on #37645
Hi, I got a Update from the GDPicture Support, they make a fix on their end.

[2019-05-28 07:28] #37645 closed

[2019-05-28 08:25] ccic commented on #35086
@stephentoub @bartonjs
When I use dotnet 3.0 preview on another Ubuntu VM (on Azure), I cannot reproduce the improvement. It takes about 3 seconds for every 1000 iteration. I found it connects to "apps.digsigtrust.com" when the @stephentoub's test "X509Chain build" is running.

But on my local VM which shows huge improvement never connects "apps.digsigtrust.com".

Is there anything wrong for my en

[2019-05-28 09:59] Symbai commented on #37956
Looks like, except the issue you linked is closed and said its fixed in 3.0.100-preview6-012016 but in my case in happens in 3.0.100-preview6-012085 which is newer.

So it's not fixed?

[2019-05-28 10:33] m-valenta commented on #5681
Like @kccsf I have simillar issue with the Kestrel server configured to disallow synchronous IO. With the current implementation I can not use ZipArchive directly with the Kestrel's response stream - because of  synchronous disposing.

[2019-05-28 10:46] albahari commented on #37956
I can confirm that it's not fixed as of preview6-19270

[2019-05-28 10:53] arkoc commented on #37607
Yes, sorry. Maybe I phrased sentence wrongly. Exactly, This is asp.net core app which is doing outbound Http requests to C++ wallet rpc (which is using digest authentication)

[2019-05-28 11:07] tundeanderson commented on #23426
I'm voting for this too. I'm working on a application that needs to make many api requests (as an automated proxy for users), the api is rate limited by IP, I'd like to split request over multiple nics if needed, depending on recent api usage by the application

Was anyone able to achieve this in dotnet? Some pointers would be much appreciated if so, otherwise I'll need to stop using dotnet for th

[2019-05-28 11:21] shaggygi opened #37978 "System.Printing Support"
I was trying to port an API to .NET Core that uses System.Printing PrintServer.  I came across this [doc](https://docs.microsoft.com/en-us/dotnet/api/system.printing.printserver?view=netcore-3.0) and have the impression System.Printing is supported.  Am I missing something?

I currently have the following installed: 3.0.100-preview5-011568

[2019-05-28 12:00] NSentinel commented on #23426
@tundeanderson It not available for `.NET Core` only. In the classic framework you can use [BindIPEndPoint](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepoint.bindipendpointdelegate)

Or you can switch to a lower level and use other primitives instead.

[2019-05-28 12:48] marcusien commented on #25128
It really makes big sense to allow Data annotations messages to be localized.
Honestly, what is the purpose to create an error handling layer for "validation messages" while there's already a validation layer on classes ?

When I write this

It is expected that the validation message is poped up for the user with localization.

[2019-05-28 13:21] davidsh commented on #37776
We should try to understand why this timed out.  It's trying to connect to loopback address. This could be a case of too many tests running in parallel slowing down the test machine. But needs investigation.

[2019-05-28 13:29] davidsh commented on #34879
@stefankip

Could anyone please help me out here, really don't know what else to do...

This particular issue was fixed in .NET Core 3.0. Please try out the latest .NET Core 3.0 Preview:
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-5/

If you are still having a problem, please open a new issue.

[2019-05-28 13:32] stefankip commented on #34879
We switched to Basic auth, so all good now :-) Thanks!

[2019-05-28 13:46] ableji opened #37982 "ToLocalTime() in System.DateTime do not always produce expected result"
# Issue Title

ToLocalTime() method in System.DateTime do not always produce correct result;

# General

based on my researches tehran time zone is kind of dynamic,
first half of year is (+4:30) and second half (+3:30) but ToLocalTime() always add 3:30.

there is more details here:
https://www.timeanddate.com/time/zone/iran/tehran
https://www.timeanddate.com/time/zone/iran

I think  ToLocalTime()

[2019-05-28 13:51] davidsh commented on #37927
What version of .NET Core are you using for this app? Please show the output of "dotnet --info".

[2019-05-28 13:53] davidsh commented on #37927
To me it seems that there is something wrong in the selections of which intermediate certs to send on Linux. Does it always assume that the last cert in the chain is a root cert that should not be sent?

@bartonjs Can you comment on this? Is this just "expected" behavior difference with Linux vs. Windows?

[2019-05-28 13:56] dasMulli commented on #37935
Just got the go-ahead from our customer to release the code for this class, i'd like to re-do the different optimization steps to benchmark each change separately.

On a different note: How "bad" is casing a `bool*` to a `byte*`? Is the memory size and content (0 / 1) well-defined or considered an implementation detail of the CLR?
(Something i may change as well but currently there is a boolean ma

[2019-05-28 13:58] joshudson commented on #37743
His file system encoding isn't UTF-8 (only for some files). This borks the file system functions. This problem is hard to deal with for the same reason some tools upchuck on Windows when encountering a filename with unpaired surrogates.

[2019-05-28 14:09] joshudson commented on #8895
There's more fix coming. Right now this interacts badly with Process.Start

[2019-05-28 14:12] mikaelnordin commented on #37927
I'm running 2.1:
[code]

[2019-05-28 14:40] rprouse commented on #37956
I can reproduce this issue on two of my machines using @albahari's beta if you need any help tracking down the problem.

[2019-05-28 15:17] #37959 closed

[2019-05-28 15:33] dasMulli commented on #37935
Thanks!

Yeah i have AVX code now that compares the bools to a Zero-Vector https://gist.github.com/dasMulli/e5b96d8a520a9c60764425e3378d0ddf#file-counttruesbenchmark-cs-L64-L68

[2019-05-28 15:54] karelz commented on #34879
We would still appreciate verification of the original problem if at all possible @stefankip ;)

[2019-05-28 16:15] tarekgh commented on #37982
@ableji Which OS version you are running on? And which version of the .NET you are using?

[2019-05-28 16:20] ericsampson commented on #23544
aka 'Pit of Success'. This isn't an imaginary scenario, I've seen this issue happen (and fixed it) at a couple companies. Now maybe it can be argued that the original developers were naive or should have known better (used middleware etc), but the story that @vladiliescu laid out does happen FWIW.

[2019-05-28 16:20] Clockwork-Muse commented on #37982
Also, can we please see sample code that you're using?

[2019-05-28 16:22] karelz commented on #37949
@danmosemsft never heard of MMI before, so I can't help here :(

[2019-05-28 16:36] #35007 closed

[2019-05-28 16:46] tmat opened #37983 "System.ValueTuple package is missing net472 target directory"
Whne targeting .NET Framework 4.7.2 RAR claims the project should copy System.ValueTuple.dll from the package (from net47 directory) to its output dir. But in reality it shouldn’t copy anything since it’s already in the FX.

System.ValueTuple package has netstandard2.0 target dir containing `_._` sentinel, but does not have one for `net472`. Then targeting .NET Framework RAR falls back to `net47`,

[2019-05-28 17:01] ericstj commented on #37983
A couple notes here: the desktop assembly should never have versioned past the inbox assembly.  We won't be able to change the version of the assembly in the targeting pack.

Since this assembly doesn't contain any type-defs (and thus noone can ever get a reference to it) we can safely fix this by adjusting the desktop reference assembly version. IOW the net47 assets should be built with AssemblyV

[2019-05-28 17:15] terrajobst commented on #37510
It's not entirely clear what the API is. We assume you're proposing to add this property:

[code]

Presumably the units aren't supposed to be parsed or localized, correct? If so, we should make that clear in documentation. The prefix `Display` looks sufficient, though.

[2019-05-28 17:23] terrajobst commented on #35283
We should. Looks good.

[2019-05-28 17:29] terrajobst commented on #35499
And we landed on:

[code]

[2019-05-28 17:31] terrajobst commented on #36741
Since we don't feel super strongly and the compiler would need to change, we're leaving it where it is.

[2019-05-28 17:31] #36741 closed

[2019-05-28 17:35] terrajobst commented on #37396
@noahfalk / @sywhang are you OK with this? This change looks good to us.

[2019-05-28 17:44] JeremyKuhne commented on #37743
Yeah, this one is tricky. It could be potentially dealt with by including an extra reference in the FileSystemInfo class on Unix to hold the raw bytes if there is a conversion issue. I doubt we would want to take the space/performance hit for such a rare case.

One thing that might be worth doing is updating the recursive deletion to use the raw name bytes. It might allow removing stubborn folders

[2019-05-28 17:45] terrajobst commented on #37534
We certainly don't want the comparison operators as they feel hard to define. `IsDefault` feels OK & consistent, but we're unsure how much value this adds. Why can't the receive just read? Why is the validation necessary? Why is the `Try`-pattern not sufficient?

[2019-05-28 17:46] #37534 closed

[2019-05-28 17:52] danmosemsft commented on #35499
Should we mark up for grabs or is someone planning to take this?

[2019-05-28 17:55] terrajobst commented on #37701
The API shape as oulined by @anurse's [comment](https://github.com/dotnet/corefx/issues/37701#issuecomment-495461474) looks good.

@tannergooding has filed a separate bug for removing the explicit buffer sizes and instead use sentinels so we can change their values later.

[2019-05-28 17:56] tannergooding opened #37984 "PipeOptions, StreamPipeReaderOptions, and StreamPipeWriterOptions should not hardcode default sizes."
As per the title, `PipeOptions`, `StreamPipeReaderOptions`, and `StreamPipeWriterOptions` should be updated so that the default sizes (such as the buffer size) are not hardcoded. The current values are based on profiling data and that may change in the future based on additional profiling data or customer feedback.

Changing it to not be hardcoded leaves the default buffer size an implementation d

[2019-05-28 17:57] danmosemsft commented on #35500
@kouvel I guess this stays open because https://github.com/dotnet/corefx/pull/37401 was only part of the work?

[2019-05-28 17:58] tannergooding commented on #37984
CC. @anurse, @stephentoub

[2019-05-28 17:59] tannergooding commented on #37984
I've marked this for 3.0 as we should change this before the API ships, if we are going to.

[2019-05-28 18:01] tannergooding commented on #37701
See https://github.com/dotnet/corefx/issues/37984

[2019-05-28 18:01] danmosemsft commented on #31570
@cdmihai I noticed nobody picked this up, if you're still interested feel free to offer a PR otherwise I'll leave up for grabs.

[2019-05-28 18:08] jkotas commented on #31570
@danmosemsft https://github.com/dotnet/coreclr/pull/20805 is the implementation for this, no?

[2019-05-28 18:10] kouvel commented on #35500
This was only meant to be open until the APIs were exposed, closing with https://github.com/dotnet/corefx/pull/37401

[2019-05-28 18:10] #35500 closed

[2019-05-28 18:11] danmosemsft commented on #31570
Oh yes of course, we didn't assign.

[2019-05-28 18:28] MarcoRossignoli commented on #31570
corefx part https://github.com/dotnet/corefx/pull/33244

[2019-05-28 18:31] jhudsoncedaron commented on #37743
I thought to fix it by making it possible to swap file system encodings at runtime using a [ThreadStatic] variable. Not really a good solution. Another possability is making a modified UTF-8 encoder-decoder pair that has no byte strings it can't round-trip. It's its own ugliness though.

[2019-05-28 18:40] jkotalik commented on #37984
Yeah, definitely agree we should do this.

cc @davidfowl

[2019-05-28 18:43] danmosemsft commented on #35500
@kouvel I meant because you didn't expose all the above, but I guess that was intentional
https://github.com/dotnet/corefx/pull/37401/commits/abc1e2caabcf27eae089ce9d7e2d45cf8f4423c3

[2019-05-28 18:46] kouvel commented on #35500
Oh ok, yes that was intentional. We had decided to start with not distinguishing local vs global work items, and those could be added later if needed.

[2019-05-28 18:50] johnkellyoxford opened #37985 "Consider exposing `System.Diagnostics.StackTraceHiddenAttribute` publicly"
It appears to be a very useful attribute, particular as `System.ThrowHelper` is `internal`, this would be invaluable for user-written throw helper types to keep the best possible exception semantics while still having the advantages of a throw helper. It could be abused, but not really in a "breaking" way, just using it stupidly could make debugging a little harder, so unless there is something I

[2019-05-28 18:56] JeremyKuhne commented on #37743
Isn't the problem more of a one-off file with an encoding other than UTF-8? Or am I misreading?

[2019-05-28 19:00] jhudsoncedaron commented on #37743
Probably. My home system has a mismash of UTF-8 and CP437 filenames since `/home` predates UTF-8 localization entries.

[2019-05-28 19:04] WinCPP commented on #37931
@ahsonkhan, @krwq May I pick this up for fix?

[2019-05-28 19:05] ahsonkhan commented on #37984
For clarity, this issue is talking about `StreamPipeReaderOptions`, `StreamPipeWriterOptions`. Please correct me if I am mistaken.
https://github.com/dotnet/corefx/blob/1064d0352c007fd2d8fb32d7f6e286fbb6d41264/src/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeWriterOptions.cs#L24

As an aside, the `JsonSerializerOptions` doesn't have a non-parameterless ctor at all and exposes the `Default

[2019-05-28 19:17] danmosemsft commented on #37985
@tommcdon

[2019-05-28 19:21] danmosemsft commented on #37978
@shaggygi do you have https://www.nuget.org/packages/Microsoft.Windows.Compatibility installed?

Assuming so - check the API's you need are available: https://apisof.net/catalog/System.Printing

[2019-05-28 19:26] #33295 closed

[2019-05-28 19:27] #37552 closed

[2019-05-28 19:30] ahsonkhan commented on #37931
I am not sure how far @krwq has gotten with this but certainly he wouldn't mind if you worked on it. Please cc him on your PR (and me) and we can collaborate that way. Note that a similar issue exists in the multi-segment case and should be fixed:
`ConsumeSingleLineCommentMultiSegment`
https://github.com/dotnet/corefx/blob/e58b35cd0f8fe6caa194ca7e48388d8d59854fe0/src/System.Text.Json/src/System/Te

[2019-05-28 19:45] joperezr commented on #29622
@nicholashead we don't really have a good guide in order to show this info because it is not super trivial as a package might not be all up deprecated, simply just deprecated for one single TFM of all the ones supported in the package. For System.IO.Compression, If you are targetting .NET Framework 4.7.2 then you shouldn't be referencing the package at all as all the Apis live in System.IO.Compres

[2019-05-28 19:54] stephentoub opened #37989 "MonoTests.System.Runtime.Caching.MemoryCacheTest.Contains failed in CI on netfx"
https://dev.azure.com/dnceng/public/_build/results?buildId=203415&view=ms.vss-test-web.build-test-results-tab&runId=4922022&resultId=158673&paneView=debug
netfx-Windows_NT-Release-x86-Windows.10.Amd64.ClientRS5.Open
[code]

[2019-05-28 20:08] wfurt commented on #37516
The repro seems to connect to port 80 using ssl.
and I get `hello 05/28/2019 18:50:35
`

I modified that to use LocalCertificateSelectionCallback and did few mods to your Program.cs.
With that I get:
[code]
(It seems to timeout sometimes)
I also verified with Wireshark that client sends certificate after requested from Server.

![image](https://user-images.githubusercontent.com/14356188/58508366-b

[2019-05-28 20:15] tommcdon commented on #37985
cc @noahfalk @sywhang

[2019-05-28 20:22] steveharter opened #37992 "Issues (de)serializing floating point data types on netfx"
Originally this was a placehold for an ActiveIssue regarding floating point behavior on netfx (vs corefx). Since the behavior on netfx can't be changed due to compat, closing this issue.

[2019-05-28 20:23] ahsonkhan commented on #37971
Duplicate of https://github.com/dotnet/corefx/issues/37740.

We generally want to avoid any type coercion/inference by default and only let users opt-in to such behavior if they implement custom converters.

[2019-05-28 20:28] ericstj commented on #37943
@joperezr looks like this is fallout from https://github.com/dotnet/corefx/pull/37600

We should also update https://github.com/dotnet/corefx/blob/e8990ae04e4ef62f5ccb143352472c9b4d5d5968/external/binplacePackages/binplacePackages.depproj#L31-L41 to be consistent with whatever we are baselining to.  Otherwise we end up compiling against a different assembly than what we'll depend on.  This is OK i

[2019-05-28 20:31] ericstj commented on #37943
To be clear this is a not a coherency issue, it's just a case were we are lifting the dependency up to a newer version that what we built against.  This sort of thing is normal and acceptable in most cases but in the case of a build task which wishes to avoid hooking AssemblyResolve and cannot specify bindingRedirects it makes it hard to deal with.  https://github.com/dotnet/corefx/issues/34816 tr

[2019-05-28 20:39] anurse commented on #37984
Should we use `int?` or is that overkill here?

[2019-05-28 20:54] danmosemsft opened #37994 "AV in RsaCryptRoundtrip_OaepSHA1"
Not actionable as is.
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37960~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190528.20/workItem/System.Security.Cryptography.Cng.Tests/analysis/xunit/System.Security.Cryptography.Rsa.Tests.EncryptDecrypt_Span~2FRsaCryptRoundtrip_OaepSHA1
[code]

[2019-05-28 20:56] krwq commented on #37931
@WinCPP I have initial fix for the single segment with test cases (there is one test case failing but I think this is a test issue but haven't started looking at it yet) - I haven't started on the multi-segment yet at all.

If you want to pick this up you can go ahead and pick it up from my WIP changes which I just checked in:
https://github.com/krwq/corefx/tree/fix-33321

I currently have some si

[2019-05-28 20:56] danmosemsft commented on #37994
Correction, 0xC0000001 (STATUS_UNSUCCESSFUL) not an AV.

[2019-05-28 20:56] ahsonkhan commented on #37971
The extension/converter feature is tracked by https://github.com/dotnet/corefx/issues/36639.

Closing as by-design.

[2019-05-28 20:56] #37971 closed

[2019-05-28 20:56] ahsonkhan commented on #37970
The extension/converter feature is tracked by https://github.com/dotnet/corefx/issues/36639.

Closing as by-design.

[2019-05-28 20:56] #37970 closed

[2019-05-28 21:00] tannergooding commented on #37984
Other APIs are and have been using -1 to represent this. We should likely do the same here for consistency

[2019-05-28 21:03] tommcdon commented on #37396
@terrajobst Looks good to me

[2019-05-28 21:03] anurse commented on #37984
Fair point, I think consistency is important here. Just wanted to mention it :).

[2019-05-28 21:05] wfurt commented on #33857
I modified the example code to use Tls1.0:
[code]

With that I can connect and get content.

[2019-05-28 21:05] #33857 closed

[2019-05-28 21:13] krwq commented on #37931
ahh I confused this with https://github.com/dotnet/corefx/issues/33321 - I included the fix in there as well so you can isolate it and send a patch (and do similar for multi-segment)

[2019-05-28 21:25] bricelam commented on #32095
cc @divega

This hook would help the EF6 tests. For now, we work around it with a bit of MSBuild magic:

[code]

[2019-05-28 21:40] stephentoub commented on #37378
Failed again here:
https://dev.azure.com/dnceng/public/_build/results?buildId=203470&view=ms.vss-test-web.build-test-results-tab&runId=4923924&resultId=476692&paneView=debug
netcoreapp-Linux-Release-x64-Ubuntu.1604.Amd64.Open
[code]

[2019-05-28 21:46] #37842 closed

[2019-05-28 22:05] stephentoub opened #37997 "SocketAddress with arbitrary AddressFamily throws PNSE on Unix"
This succeeds on Windows:
[code]
returning:
[code]
but on Linux and macOS it throws:
[code]

[2019-05-28 22:18] bricelam opened #37998 "Load DbProviderFactories from ConfigurationManager"
Automatically registering DbProviderFactories from App.config is probably out of the question give the decision to decouple things from configuration. However, perhaps an API on ConfigurationManager would make sense:

[code]

Calling it with this in your App.config...
[code]
...would be equivalent to the following.
[code]

cc @divega

[2019-05-28 22:23] rynowak commented on #36714
We came across another need for this when writing a converter. You often want to re-enter the serializer to handle some value inside a converter.

[code]

[code]

[2019-05-28 22:26] rynowak commented on #36717
We have a use case for this when writing custom converters. Frequently you want to use the JsonSerializer to read a value from the writer so that the serializer can do the right thing.

[2019-05-28 22:46] pranavkm commented on #36240
I tried this out earlier today using `3.0.0-preview6-27728-02` and things are essentially the same as the original reported issue. Could we consider throwing if the serializer encounters a `ValueTuple` for 3.0 if there isn't enough runway to support the feature in this release? The experience is a bit frustrating since it seems like serialization succeeded, but all you have is empty objects.

[2019-05-28 23:08] tarekgh commented on #37982
I just tried that on Windows and Ubuntu machines and I am getting the right results.

@ableji maybe the dates you used was wrong? I mean the daylight saving starts 4th week of March and ends on 3rd week of September. so please try dates like 2019/4/1 and 2019/19/1 and let me know what you are getting. don't forget to send the OS and .Net versions you are using and also send the code you are using

[2019-05-28 23:16] krwq opened #38000 "Add Environment.TotalProcessorCount"
*Created per offline feedback.*

Consider adding something like Environment.TotalProcessorCount.  The problem is Environment.ProcessorCount is returning a value designed for scheduling threads within a process.  The Windows scheduler has a feature called processor groups that limits one process to at most 64 cores.  However, if you’re writing code to schedule processes (instead of threads) then yo

[2019-05-28 23:23] noahfalk commented on #37396
LGTM

[2019-05-28 23:41] noahfalk commented on #37510
Answers:

Correct. Only some of counters are expected to be displayed as a rate, so only those counters have DisplayRateTimeScale.

Correct, no intention for parsing or localization on these strings.

We don't believe we need it. The expectation is to display a composite string label such as: "Allocation Rate (MB/s)" or "Bank Account Balance ($)". In the UIs we are building or anticipate others wi

[2019-05-28 23:46] scalablecory commented on #32808
Have narrowed this down a little bit, is an interesting issue.

- CONNECT tunnel and authenticated proxy appear to be code exhibiting the issue. @geoffkizer does this jive with where you're seeing it?
- `LocalProxyServer` used in test does not close its client sockets. When altered to close properly the issue in `HttpClient` is hidden. So, issue may be related to connections being held open for lo

[2019-05-29 00:08] ahsonkhan commented on #37552
The distinction here is that `XmlElementAttribute` covers a few different concepts, whereas `JsonPropertyNameAttribute` is solely about the name itself. I am not sure if there would be a need, in the future, to extend `JsonPropertyNameAttribute` to include anything that isn't related to customizing the name.

Hence, I don't see the name change buying us all that much to justify the API churn.

[2019-05-29 00:38] wfurt commented on #37516
[code]

[2019-05-29 00:44] stephentoub opened #38001 "SystemNative_GetCpuUtilization assert failure"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37996~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190528.42/workItem/System.Runtime.Extensions.Tests/wilogs
[code]

[2019-05-29 00:44] #35283 closed

[2019-05-29 00:46] jkotas commented on #37378
cc @VSadov

[2019-05-29 00:47] stephentoub opened #38002 "RandomNumberGeneratorTests.GetInt32_CoinFlipLowByte failed in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=203643&view=ms.vss-test-web.build-test-results-tab&runId=4930112&paneView=debug&resultId=298967
netcoreapp-Linux-Release-x64-Ubuntu.1604.Amd64.Open
[code]

[2019-05-29 02:01] rfht opened #38006 "How ignore bad comparer for backwards compatibility?"
I have this old assembly that shipped with mono v4 (the game Terraria, but that's besides the point) and when I try to run it with mono 5.x, it fails on start because of

[code]

I found out that this is because it is triggered by `System.Collections.Generic.ArraySortHelper<T>.Sort` as found in https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/shared/System/Collections/Generi

[2019-05-29 03:48] justinushermawan opened #38007 "JsonSerializer support for ExpandoObject"
Does `JsonSerializer.Parse(String, Type, JsonSerializerOptions)` support for dynamic `ExpandoObject ` return type?

Something like this:
`dynamic p = JsonSerializer.Parse(json, typeof(ExpandoObject));`

[2019-05-29 03:52] joshudson opened #38008 "Net Core 3.0 bootstrap failure for c7d48ca"
Commit c7d48ca7732b7717e84d8375588d83866104ef58 builds a really broken corefx when using 3.0preview5 as the initial bootstrap source.

    joshua@nova:~/netcore/corefxϟ uname -a
    Linux nova 4.19.0-4-amd64 #1 SMP Debian 4.19.28-2 (2019-03-15) x86_64 GNU/Linux
    joshua@nova:~/netcore/corefxϟPATH=/home/joshua/netcore/3.0preview5:$PATH ./build.sh -restore -build -buildtests -test

generates hunde

[2019-05-29 03:56] VSadov commented on #37378
`Timed out after 60000ms waiting for remote process`   -  I think I have seen this before. I think it is related to some infrastructure to run a scenario as a separate process. In that other case the test did not even need to run as a separate process.

Will take a look.

[2019-05-29 06:04] stefankip commented on #34879
I understand, unfortunately the WCF service has switched to Basic authentication and NTLM is disabled, so I'm unable to do any verification, sorry.

[2019-05-29 06:15] martin-pes commented on #37927
Regarding version:

For **Linux** I build on Docker, I am using standard ASP.NET Core Docker images
**mcr.microsoft.com/dotnet/core/aspnet:2.2-stretch-slim**  - for base
**mcr.microsoft.com/dotnet/core/sdk:2.2-stretch** - for build

For **Windows**
[code]

[2019-05-29 07:03] ArneMancofi opened #38011 "Flat Request-Id"
@lmolkova , in [FlatRequestId.md](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/FlatRequestId.md) , under [step 3 of the Non-hierarchical Request-Id example](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/FlatRequestId.md#non-hierarchical-request-id-example), how can "service-b ... scan through its headers and fin

[2019-05-29 08:02] vitaaaly opened #38014 "X509Certificate2 contains empty "Subject" property on Linux on .Net Core 2.2"
I create X509Certificate2 instance from a byte array on Linux, but property "Subject" is empty.
When I make the same operation on Windows property "Subject" contains necessary information.

I use .Net Core 2.2.
Code for creation X509Certificate2:

`

            var collection = new X509Certificate2Collection();

            collection.Import(rawData);

            var certificate = collection.Cas

[2019-05-29 08:14] paulomorgado commented on #37552
A `JsonPropertyAttribute` could be an explicit way of saying the opposite of `JsonIgnoreAttribute`.

`JsonPropertyAttribute` would, optionally have a `Name` property.

[2019-05-29 08:20] jlestercastro opened #38015 "Hyperledger fabric : container_linux.go:344: starting container process caused "exec: \"scripts/script.sh\": stat scripts/script.sh: no such file or directory":"
Hello, someone know on how to fix this issue.
I'm setting up my first hyper ledger fabric network.
Getting Hyperledger-Image : OK

Generating Gensis block: Command : cd fabric-samples/first-network
Status: OK
![image](https://user-images.githubusercontent.com/39945211/58541132-63bd4b80-822d-11e9-8816-5fd34df372c8.png)

But when running up the network show this.

![image](https://user-images.github

[2019-05-29 09:41] tebeco commented on #36553
@davidsh @karelz

Hello again,
I just tried to moved a solution from sdk `2.2.204` to sdk `3.0.100-preview5-011568`.
I did not changed any source and i got this :

[code]

so i tried :
[code]

Is this PR included in this SDK ?
Also, where does that source comming from -_-
i even added a `nuget.config` with a clear on all sources :
[code]

Final touch, we use a `Directory.Build.props` to setup the

[2019-05-29 09:43] ichensky opened #38016 "[Proposal]: Tuple default values"
Proposal add ability to add default values to tuples.
For simplifying code like:
[code]
to this:
[code]

Another ex.
[code]

[2019-05-29 09:45] shaggygi commented on #37978
@danmosemsft Thanks for reply.  Yes, I have Win Compat installed.  Just don't see the related System.Printing IntelliSense show up.  Trying to use PrintServer, LocalPrintServer and PrintQueueCollection which appear in the provided link.  Any other packages need to be installed?

[2019-05-29 11:47] jkotas commented on #38016
This is a new language feature proposal. Moving to csharplang.

[2019-05-29 13:12] PremSha20 commented on #33897
What is current progress ?

[2019-05-29 13:17] michaelschmit commented on #37120
I'm still running into this issue on 3.0 preview 5.  I notice the linked PR is not going to be merged due to failed checks.  Any chance this is going to be fixed?

[2019-05-29 13:56] ErikEJ commented on #33897
Current progress, as stated above is that the current provider works fine with .net Core 3.0 (Windows only)

[2019-05-29 14:08] roji commented on #30426
Note conversation happening in https://github.com/npgsql/npgsql/pull/1997#issuecomment-496926658

[2019-05-29 14:29] ViktorHofer commented on #29294
Same cause on a different test ` System.Security.Cryptography.Dsa.Tests.DSASignVerify_Stream/InvalidKeySize_DoesNotInvalidateKey`.

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37451~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190529.12/workItem/System.Security.Cryptography.Cng.Tests/analysis/xunit/System.Security.Cryptography.Dsa.Tests.DSASignVerify_Stream~2FInva

[2019-05-29 14:37] suncodefactory commented on #33115
I personally think this is a rushed solution to a bad architectural design decision.  This should have been done long ago.... Now it is going to cause a lot of pain everywhere... From library developers to enterprise developers.

There is no easy way to "smooth" out this new "feature".

This is MS trying to solve a problem they caused in the first place.  And now everyone has to pay the price.

Wi

[2019-05-29 14:37] ViktorHofer opened #38022 "Run code analyzer on test projects to search for missing Fact/Theory attributes"
See https://github.com/dotnet/corefx/pull/37451#discussion_r288595192

@danmosemsft could be a good task for an intern / community.

cc @stephentoub

[2019-05-29 14:39] stephentoub commented on #38022
cc: @safern

[2019-05-29 14:52] valeriob commented on #33115
Hi @suncodefactory,
i remember some time ago when ppl yelled at ms for not using opensource libraries, now they are blamed for doing so :D
From my point of view Aspnet/core MVC api have been very stable since mvc1/2 ! The reason why aspnet was stable since 2.0 was that it never changed/improved at all 😄.
To be honest if you are using advanced feature of a serialization library you have the chance

[2019-05-29 15:15] jemiller0 commented on #33115
I agree with @suncodefactory. Another half baked design. Exactly what the ASP.NET team has been putting out for years ever since the downgrade to MVC. The whole transition to .NET Core has been sloppy. A lot of this is simply being motivated by Microsoft trying to move everyone into the cloud where they can make more money.

[2019-05-29 15:24] stephentoub commented on #34361
This test is failing a lot, e.g. on Ubuntu 18.04 at https://dev.azure.com/dnceng/public/_build/results?buildId=203907&view=ms.vss-test-web.build-test-results-tab&runId=4938070&paneView=debug&resultId=122690
[code]

[2019-05-29 15:28] stephentoub commented on #37823
Any update on this?  If it's not going to be fixed imminently, can we disable the OleDb tests until it is?  It's causing hundreds of outerloop test failures, which makes it more difficult to see actual failures to pay attention to.
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37990~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190528.4/workItem/System.Data.OleDb.Tes

[2019-05-29 15:29] #32365 closed

[2019-05-29 15:31] MichaelLogutov commented on #33115
We able to move microservices from net framework to Linux (net core) without almost any effort from pruduct teams. I don't know what you guys talking about. Microsoft doing great job speading up implementation of changes like this that have been long overdue.

[2019-05-29 15:40] Wraith2 commented on #30426
Aren't cases 2 and 3 really the same thing if you're expecting an instance of T, which is that they're not a T so whether it's null or DBNull.Value it should throw. If you want to use the tristate capability just use the non-generic overload. If users want performance they can pay the development time price for ensuring it is possible.

[2019-05-29 15:41] JesperTreetop commented on #33115
The most frustrating web projects I've worked on have all been Web Forms-based. The premise of Web Forms was flawed from the beginning, since it attempted to provide something that only with something like Blazor is becoming available. MVC and similar frameworks may not be as amenable to dropping an automatically bound data grid in, but they trade this ostensible flexibility with not trying to pap

[2019-05-29 16:02] suncodefactory commented on #33115
For me the point is not about third party libraries... It is about architectural design which in this particular case is lacking or just plain wrong.

Also I never talked about classic asp.net... I was talking about .NET Framework 2.0.  And the reason it was stable was not because there was no improvements as you falsely claim (since .net core is based on .NET 4.6.1).  The reason was because it wa

[2019-05-29 16:06] suncodefactory commented on #33115
Changes like this should not be happening at all..... So you are happy with breaking changes?

And saying that the asp.net core team has been doing a great job at shipping changes is simply not true.

I have been developing with asp.net core since beta 3 and I am pretty sure the architectural design process is lacking.

As for how good asp.net core is vs classic... I have no objections as I as wel

[2019-05-29 16:07] MattGal commented on #37823
@stephentoub we're hoping to roll out the changes (to remove the extra driver installs) today.  I'll try to update this thread when that happens.

[2019-05-29 16:08] stephentoub commented on #37823
Great.  Thanks, @MattGal.

[2019-05-29 16:13] manigandham commented on #33115
Can we limit this discussion to the JSON functionality in .NET Core 3 please?

[2019-05-29 16:28] lmolkova commented on #38011
I guess this is a mistake.
If you are interested in the correlation standard, this is the one: https://www.w3.org/TR/trace-context/

We will gracefully retire Request-Id (hierarchical and non-hierarchical). Please use new and shiny W3C trace-context.

[2019-05-29 16:34] safern commented on #37260
@jlestercastro I re-named the issue to improve the exception message and I believe @eanova is working on it, so I will re-open the issue to track that work.

[2019-05-29 16:40] CarolEidt commented on #30747
I agree with @tannergooding - we can't assume alignment in general, so we have to assume unaligned loads unless an aligned load is explicity specified as a HW intrinsic. That said, on some targets performance is better when aligned.

If we ever had to support a target where all loads had to be aligned, we'd have to specially handle any data types with alignment requirements > 8, and code like this

[2019-05-29 16:47] maryamariyan commented on #37823
I prepared the follow up PR that will need to get merged after the dnceng changes get rolled out here: https://github.com/dotnet/corefx/pull/38024

[2019-05-29 16:55] ericstj commented on #37907
Might be an MSBuild regression.  /cc @rainersigwald

Looks like MSBuild itself (or a logger) hit an ArgumentNullException then MSBuild blew away the stack when reporting it:
https://github.com/microsoft/msbuild/blob/a7ec0717645fbf928048ace681e817c049a03762/src/Build/BackEnd/BuildManager/BuildManager.cs#L415-L416

Does it reproduce every time?  Maybe you can capture a binlog or a diag log to get th

[2019-05-29 16:56] davidsh commented on #37120
Sorry.  It appears I used the wrong PR number in the link above.  That link isn't related to this issue at all.

And this issue has not been resolved in .NET Core 3.0 branches yet. It still needs more investigation.  But https://github.com/dotnet/corefx/issues/37120#issuecomment-487868688 points to a possible area that might be causing the problem.

[2019-05-29 16:57] ericstj commented on #37868
Still reproducing?  Could be an issue of a known bug with blob feeds.
https://github.com/dotnet/arcade/issues/2774

[2019-05-29 16:57] phillip-haydon commented on #33115
So no improvements should be done? Why are you even a programmer if you don't want software to evolve and grow and get better?

[2019-05-29 17:02] tannergooding commented on #34929
This was reverted due to the WPF scenario and it now preserves the NaN once again. We will likely be adding new overloads that don't preserve the NaN in the future.

Closing since this also means we don't have anything that needs to be documented.

[2019-05-29 17:02] #34929 closed

[2019-05-29 17:03] davidsh commented on #36553
@tebeco It's not efficient to comment on this closed issue.  This issue was closed since it reflected the new HttpClient.DefaultProxy API that was added.  But your scenario is trying to use environment variables to set global proxy.  It's not using the new HttpClient.DefaultProxy API (which would have to be used with dotnet restore itself).

We did add  support for using environment variables to s

[2019-05-29 17:05] ericstj commented on #37646
Since #36426 was fixed in master lets make sure master is using Alpine 3.9 in CI.  /cc @ViktorHofer

If you need separate work for servicing can you spin off a separate issue for that?

[2019-05-29 17:07] jemiller0 commented on #33115
It's not really even breaking changes. It's porting code to a new framework. A new framework that is now replacing the old one. Microsoft is notorious for this kind of thing. Like with Silverlight and all the stuff they have going on with Mono. Multiple similar but separate frameworks. This could have all been avoided had .NET been designed more like Java in a platform independent manner to begin

[2019-05-29 17:09] safern commented on #38022
I started this work but then my priorities changed. I think it should be fairly simple, we can enable the analyzers like I did here: https://github.com/dotnet/corefx/pull/34410 and then disable all warnings except the ones for missing Fact/Theory attributes.

I'll leave it unassigned in case someone from the community wants to pick it up (since it is not marked as 3.0) -- if after ZBB is still unr

[2019-05-29 17:16] ericstj commented on #37738
This should now be fixed in the latest SDK.

[2019-05-29 17:16] #37738 closed

[2019-05-29 17:22] TsengSR commented on #33115
@suncodefactory

Ah, c'mon, you make it sound like "breaking change" means you have to scrap your project and start from scratch.

How many breaking changes can you count that were there in ASP.NET Core 2.x/3.0 which required more than

* Referencing a different package
* Using a different namespace
* Changing more than 5 lines of code
* Removing 1-2 lines of code (i.e. Properties from Options cla

[2019-05-29 17:33] mthalman opened #38027 "Update to test on Alpine 3.9 for .NET Core 2.x"
CoreFX is currently being tested on Alpine 3.6 which is EOL. This should be updated to the latest, Alpine 3.9.

Example data showing 3.6 is being used: https://mc.dot.net/#/product/netcore/21msrc/source/prodcon~2Fcorefx~2Frelease~2F2.1-msrc~2F/type/test~2Ffunctional~2Fcli~2F/build/20190412.01

Also, the CI build seems to be using 3.8 and should also be updated to 3.9.

This issue applies to servic

[2019-05-29 17:34] mthalman commented on #37646
I've created #38027 to address 2.x.

[2019-05-29 17:43] bartonjs commented on #35086
@ccic If you're seeing activity on EVERY request, that suggests that either

a) The Azure VM doesn't trust the root, so ends up not caching data.
b) The disk is not writable (full, readonly, etc) so caching fails.

The only "intermittent" thing I can envision is OCSP/CRL expiry, if revocation is enabled on your tests.  And the only thing I could think that would be different is that the Azure VM e

[2019-05-29 17:50] bartonjs commented on #37599
@ScotMac for your Linux on:

[code]

Seems like there's a file in /etc/ssl/certs/ (or wherever the system trust lives on your particular distro) that can't be opened by the current user.

[2019-05-29 17:52] krwq commented on #37931
I have time to pick it up again so will finish working on the other issue which will include a fix for this

[2019-05-29 17:53] davidsh commented on #37729
As you indicated, Section [3.2.2](https://tools.ietf.org/html/rfc2617#section-3.2.2) of the RFC is pretty clear:

[code]

This looks like a bug in SocketsHttpHandler.

[2019-05-29 18:08] wfurt commented on #37997
How come it works on Windows? Did OS created socket with unknown family? When I tested Netlink and CanBus I would get error.

[2019-05-29 18:11] JeremyKuhne opened #38028 "Investigate using unlinkat() when recursively deleting directories"
If we can use [`unlinkat()`](http://man7.org/linux/man-pages/man2/unlink.2.html) when walking through a recursive directory deletion we could:

1. Speed up the process (as we wouldn't need to convert the raw file name to UTF-16 and back)
2. Deal with files that don't have a valid UTF-8 file name (#37743)

We'd have to change the internal enumerator to (internally) expose the file descriptor for th

[2019-05-29 18:12] stephentoub commented on #37997
On Windows it doesn't create a Socket or go to the OS at all: it just fills bits into the buffer:
https://github.com/dotnet/corefx/blob/e3a4edabd12b5f7dc9be20136cc867bbe67f1f7c/src/Common/src/System/Net/SocketAddressPal.Windows.cs#L19-L28

In contrast, on Unix it does:
https://github.com/dotnet/corefx/blob/e3a4edabd12b5f7dc9be20136cc867bbe67f1f7c/src/Common/src/System/Net/SocketAddressPal.Unix.cs#

[2019-05-29 18:13] JeremyKuhne commented on #37743
I created #38028 to describe the improvement on deletion that I discussed [above](https://github.com/dotnet/corefx/issues/37743#issuecomment-496618562).

[2019-05-29 18:16] wfurt commented on #37997
What do you suggest? Defer creating OS socket?
Socket with unknown family would not be useful for any real usage, right?

[2019-05-29 18:16] wfurt commented on #38008
Is the linked commit correct @joshudson ?

BTW I don't think you can pick any random dotnet and expect corefx to build.

cc: @safern

[2019-05-29 18:18] wfurt commented on #38015
This seems like wrong repo @jlestercastro.
You this only for issues with .Net Core libraries.

[2019-05-29 18:18] #38015 closed

[2019-05-29 18:26] wfurt commented on #37868
I can build on 18.04. I've seen something similar while back on Ubuntu 16 and unsuccessfully try to debug it with @safern. I end up creating new VM image with same version and that fixed it.

[2019-05-29 18:29] wfurt commented on #37907
#37868 is failing to restore packages and I think it is quite different. How exactly do you run your build @vcsjones? I'm using 18.04 as my Linux build server and I did not see this.

[2019-05-29 18:31] poke commented on #33115
@suncodefactory

How is this actually a _breaking_ change? The new JSON APIs are a completely new set of APIs that are introduced in .NET Core which neither remove nor break any existing stuff. Yes, you will see things and libraries switch to it eventually as it offers different optimization opportunities, but you are not forced to apply that to your code.

Speaking about ASP.NET Core in particula

[2019-05-29 18:35] tmds commented on #37997
Do the enum values of `AddressFamily` match the native AF_xxx values on Windows?

[2019-05-29 18:35] WinCPP commented on #37931
@krwq sorry, suddenly got occupied with lot of new tasks at work and didn't get time to look into this whole day today. Thanks for looking into the same. Will back off for now...

[2019-05-29 18:49] tmds commented on #37997
Yes, this seems to be the case. That's why it makes sense to fill in the address family in the Windows implementation. On Linux, you can only fill in what you can map from 'Windows values', PNSE makes sense then.

The recently added values don't map directly with Windows AF_xxx values:

https://github.com/dotnet/corefx/blob/e3a4edabd12b5f7dc9be20136cc867bbe67f1f7c/src/System.Net.Primitives/src/Sys

[2019-05-29 19:06] YohDeadfall commented on #36240
`ValueTuple` has fields, not properties, and the current implementation doesn't support them. There is #36505 to track progress (am working on it and will try to open a PR on this weekend).

[2019-05-29 19:11] roji commented on #30426
Returning `DBNull.Value` isn't possible because the method is generic and returns T.

Aside from that, I'm not sure I see a conceptual reason for restricting the API from returning null. There are a lot of APIs out there which return a value or null (e.g. Dictionary's indexer); null really is an OK value to have in your database (or dictionary).

If we we get to a point where we tell people to use

[2019-05-29 19:23] miguep opened #38031 "Debug.Flush() is not wired to Trace.Listeners"
https://github.com/dotnet/corefx/pull/32846 allows Debug.Write and Debug.WriteLine to be routed to a custom listener added to Trace.Listeners, but Debug.Flush is not routed.

[2019-05-29 19:26] stephentoub commented on #38031
cc: @maryamariyan, @jkotas

[2019-05-29 19:34] MarcoRossignoli commented on #36395
@ViktorHofer @safern @ericstj  is there a simple way to know if corelib used corefx contains coreclr commit? The @danmosemsft's idea (`[assembly: AssemblyInformationalVersion("3.0.0-preview6.19277.72+419b46fc7d0fe0659e7ab521c222b7c921b36e35")]`) works but it's a bit tricky, maybe some dependences metadata file contains already last commit.

[2019-05-29 19:52] JeremyKuhne commented on #27963
This test class is having intermittent failures in the CI runs, and appears to be more frequent now that we've turned off automatic retries.

[code]

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37718~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190529.33/workItem/System.ComponentModel.Annotations.Tests/analysis/xunit/System.ComponentModel.DataAnnotations.Tests.Ran

[2019-05-29 19:55] Wraith2 commented on #30426
Success is getting an instance of whatever T is, right? So what's failure? what does it mean to get a false back from the TryExecuteScalar<T> or whatever we end up with?

It's one of two things as enumerated above, either the query didn't return a result or it returned a database null result.  If you expect either of those things to be able to happen (and to be able to cope with them) you probably

[2019-05-29 20:00] maryamariyan commented on #38031
This was also described in the comment here (as low priority)
https://github.com/dotnet/corefx/issues/32955#issuecomment-435305723

[2019-05-29 20:09] tarekgh commented on #37868
Unfortunately, on my VM I am still hitting the exact same error. I pulled the latest sources and built clean.

[2019-05-29 20:22] #37992 closed

[2019-05-29 20:34] vcsjones commented on #37907
@wfurt a simple `./build.sh` at the corefx root.

Yes. I'll grab a binlog and see if I can find out what's going on.

[2019-05-29 20:43] yujayee commented on #35691
@wexman Could you try if the following workaround works in your scenario?
[code]
On .NET Core, it is using RefEmit xml serializer, but on .NET framework, there is also a code generation fallback when RefEmit doesn't work. That's why there are inconsistency behaviors.

[2019-05-29 20:47] bartonjs commented on #29294
I don't think we can disable all of crypto on Win8.1 :smile:.

I've reached out to Windows CNG to see if they have any advice.

[2019-05-29 20:47] ericstj commented on #37868
Do you have a recent binlog so that we can reconcile it with the data from the server?  One thing that I noticed is that it says 1366 versions in dotnet-core.  If I look at the json file from the blob feed I see that the claimed "nearest" version (3.0.0-preview5.19222.4) is actually almost the 1366th version in the file.  It's actually 1368 but we likely had a couple servicing versions that came i

[2019-05-29 20:54] wfurt commented on #37907
yes, binlog would be good. I assume it is not single core machine, right? BTW You may try `export UseSharedCompilation=false` It is not a fix but it helped me in the past.

[2019-05-29 20:56] MarcoRossignoli commented on #37545
@ahsonkhan is this up for grabs or there is someone working on?

[2019-05-29 20:58] Brar commented on #30426
The way I see It, the classic non generic API will stay around, so it can be used to fill in gaps of the generic API.
The new generic API is mostly about performance because it can't do much more than help you to avoid boxing.
I envision three methods:
1. the classic `object DbCommand.ExecuteScalar()`
2. the new `T DbCommand.ExecuteScalar<T>()`
3. the new `bool DbCommand.TryExecuteScalar<T>(out T

[2019-05-29 21:04] ViktorHofer commented on #36395
The `AssemblyInformationalVersion` is the easiest way to identify of which commit a given assembly is built from.

[2019-05-29 21:07] Brar commented on #30426
Also:
Both  new generic methods (2. and 3.) would obviously also throw on query results that are type-incompatible to `T`.

[2019-05-29 21:10] JeremyKuhne commented on #36167
Validated that this was fixed and added a specific test in #38029.

[2019-05-29 21:10] #36167 closed

[2019-05-29 21:12] JeremyKuhne commented on #37567
Validated that this was fixed and added a test with #38030.

[2019-05-29 21:12] #37567 closed

[2019-05-29 21:30] ygoe opened #38033 ".NET breaks smartctl program"
I can't use the `smartctl` program from a .NET Core application. On Ubuntu 16.04 Server, this happens when I run the command `smartctl -A '/dev/sda'` as root:

[code]

When I start the same command through .NET Core, this is the output:

[code]

This is the code:

[code]

.NET Core 2.2 on Linux x64. The same command works fine when calling from a PHP interpreter and when piping through `cat`. So I

[2019-05-29 21:42] lpereira opened #38034 "pal_random: *rand48() initialized with very little entropy"
`srand48()` is called with `time(NULL)` as its source of entropy.

PR #37906 refactors some of the code and leaves `lrand48()` only as a fallback mechanism (rather than using its output to XOR with the good numbers provided by the system), so this isn't as critical.

However, there's [plenty of entropy sources in a modern system](https://nullprogram.com/blog/2019/04/30/) if one knows where to look

[2019-05-29 21:42] ericstj opened #38035 "[source-build] Implement a source-build workflow for GenAPI"
We need GenAPI for product build to produce not supported assemblies.

GenAPI depends on CCI which isn't part of source build.

To deal with this, we'll depend on a pre-built version GenAPI during the online portion of SourceBuild ('$(OfflineBuild)' != 'true' AND '$(DotNetBuildFromSource)' == 'true').  During this phase we'll make sure all the generated source files are copied to a directory under

[2019-05-29 21:55] tarekgh commented on #37868
Thanks @ericstj. clearing the cache the way you described made it work perfectly.

[2019-05-29 21:55] #37868 closed

[2019-05-29 22:11] ahsonkhan commented on #37992
For reference, this was the relevant PR: https://github.com/dotnet/corefx/pull/37894

[2019-05-29 22:29] eanova commented on #37260
Hi everyone!  I've been chipping away at this and trying to get comfortable tooling at the same time. I found this article that discusses Mono debugging of libgdiplus using LD_DEBUG helpful.
https://www.mono-project.com/docs/gui/problemgdiplusinit/

I guess there really isn't more information we can capture such as individual dependencies that are missing.  So I'll pretty much stick to what @danmo

[2019-05-29 22:31] karelz commented on #37892
If you reference it from another module and run against "moved" binaries, what does it do?

[2019-05-29 22:36] tarekgh commented on #37982
@ableji I am closing this issue but feel free to respond back with the information if you still reproduce the problem you are seeing and then we can reopen this issue. Thanks for your report.

[2019-05-29 22:36] #37982 closed

[2019-05-29 22:37] karelz commented on #37929
@joperezr @stephentoub any thoughts?

[2019-05-29 22:37] ericstj commented on #37868
Great!  Seems cache-age on those index files should make this impossible to happen persistently like this. /cc @emgarten @jcagme in case they feel this smells and want to follow up with an investigation to blob feed tooling.

[2019-05-29 22:41] karelz commented on #37965
The error above should not happen netcoreapp3.0 does support netstandard2.1. Please use latest preview and latest Visual Studio.
cc @wtgodbe @ericstj

[2019-05-29 22:42] karelz commented on #37967
Closing as answered.

[2019-05-29 22:42] #37967 closed

[2019-05-29 22:44] davidsh commented on #38014
@bartonjs

[2019-05-29 22:46] karelz commented on #37945
@nguerrera @dsplaisted @ericstj @safern can you please help here?

[2019-05-29 22:49] ygoe commented on #38033
Little update: The same code works fine through Mono 4.2.1. It's just .NET Core that breaks it.

Here's the output of `dotnet --info`:

[code]

The app I'm using now was created with VS 2019 today, using the code from the old Mono app that's in use for years.

[2019-05-29 22:53] karelz commented on #37956
@safern can you please help route it to the appropriate area?

[2019-05-29 22:57] danmosemsft commented on #38033
Does it help to compare `strace` traces of `smartctl` between working and non working cases?

[2019-05-29 22:57] ericstj commented on #37965
Correct, this should work when using VS 2019 with a recent .NET SDK.  If you're still seeing issues, please reactivate this and share your `dotnet --info` output.

[2019-05-29 22:57] #37965 closed

[2019-05-29 22:59] bartonjs commented on #38014
In order to diagnose this at all I'd need to see a certificate for which this was true.

[2019-05-29 23:02] ericstj commented on #37945
2.2 SDK should work fine for targeting any previous netcoreapp.  Double check that you're in a clean state: delete bin and obj and rerun `dotnet build`.

If that doesn't work please share a project file?  Also this issue likely belongs in https://github.com/dotnet/sdk but I'll see if I can clarify / resolve before moving it.

[2019-05-29 23:02] karelz commented on #38006
How is CoreRT involved here? cc @jkotas
Can you create a standalone repro demonstrating the problem? Is it potentially caused by Mono taking CoreFX sources? @marek-safar

[2019-05-29 23:04] karelz commented on #38008
@joshudson what exactly are you doing? Does it happen with latest source code as well?

[2019-05-29 23:08] bartonjs commented on #37994
Oh, the joys of status codes.  What's wrong? (UNSUCCESSFUL.) Where? Beats me.

[2019-05-29 23:18] KKhurin commented on #37893
@TonyValenti have you taken look at [ASPNET core memory cache](https://github.com/aspnet/caching/tree/master/src/Microsoft.Extensions.Caching.Memory)?

What exactly do you mean by "GC-friendly"? An item with 30 minutes expiration is almost guaranteed to be promoted to Gen2 and if there are many items like this they will collectively churn gen2 quite a bit.

[2019-05-29 23:21] sebastienros commented on #35167
What was the perf impact of this change from a corefx perspective?

[2019-05-29 23:21] karelz commented on #36240
Duplicate of #36505

[2019-05-29 23:21] #36240 closed

[2019-05-29 23:44] onovotny commented on #37118
Does this include `UdpClient`? I just looked at the surface area for the type in NET Standard 2.1 and did not see a `SendAsync` or `RecieveAsync` method with a `CancellationToken` overaload. It would be useful there too.

[2019-05-29 23:49] karelz commented on #32027
Fair point. It is so long time ago that I forgot :), sorry!

[2019-05-29 23:53] softworkz commented on #32027
Quick update: The workaround was successful in case of my repro scenario. We're currently adding this to a new beta and then I'll report back..

[2019-05-29 23:56] ViktorHofer commented on #38001
Happened again: https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37900~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190529.43/workItem/System.Runtime.Extensions.Tests/wilogs

[code]

[2019-05-29 23:57] roji commented on #30426
First, I'm not necessarily completely against TryExecuteScalar(). My problem is that it's needlessly clunky when null values are possible, and that it gives no meaning to the Try* pattern. I also don't really understand the objection to a generic ExecuteScalar which would return `T?` (aside from [this current limitation](https://github.com/dotnet/csharplang/issues/2194) in C# 8 nullability, which

[2019-05-30 00:00] roji commented on #30426
@Brar I agree with most of what you say. Specifically, if you don't know the *type* of expected data (as opposed to its *nullability*), then you should be using the non-generic API. The same holds for DbDataReader, where you would call the non-generic `GetValue()` and not generic `GetFieldValue<T>()`.

As I wrote above, the only point where I have trouble is with TryExecuteScalar vs. ExecuteScalar

[2019-05-30 00:03] jkotas commented on #38006
This is not CoreRT specific issue. This is bug-for-bug compatibility between .NET Framework and.NET Core (and all runtimes that are reusing .NET Core libraries).

[2019-05-30 00:06] ViktorHofer commented on #29294
Happened again on Win81: https://dev.azure.com/dnceng/public/_build/results?buildId=204333&view=ms.vss-test-web.build-test-results-tab&runId=4950354&resultId=498464&paneView=debug

[2019-05-30 00:11] joshudson commented on #38008
I'm trying to build a new corefx from master to test something else. I took the latest preview build to bootstrap from, cloned master and built with full testing yesterday. I can certainly pull master again and try again.

[2019-05-30 00:15] joshudson commented on #38028
Algorithm here: https://github.com/dotnet/corefx/issues/32082

[2019-05-30 00:18] roji commented on #37940
tl;dr it could make sense to add `GetSchemaAsync()` to ADO.NET, but this is likely a low-priority async addition.

More in detail:

Wrapping a synchronous method with TaskCompletionSource will not turn it into a "real" async method: you will still need some thread to block while the method is executing (see [this article](https://devblogs.microsoft.com/pfxteam/should-i-expose-asynchronous-wrappers

[2019-05-30 00:27] bartonjs commented on #29294
Interesting that it's the same test as before.  While sending data to Windows I noticed that the second ever report of this error was for RSA (not DSA) and on Windows 10.  The first was DSA, Windows version unknown, a different test.

If there's a semi-reliable way to force this to happen I'd love to send a repro to Windows and let them catch it in action.

[2019-05-30 00:52] krwq commented on #38033
Also in addition to what @danmosemsft asked could you print output of following:

[code]

[2019-05-30 01:17] sebastienros commented on #34990
I could repro the issue when using HttpClient and doing an h2c request, i.e. to a server supporting Http2 but without TLS. And HttpClient doesn't support it since 2.1.

[2019-05-30 01:27] wfurt commented on #34990
This should be possible now with 3.0 preview builds and either DOTNET_SYSTEM_NET_HTTP_SOCKETSHTTPHANDLER_HTTP2UNENCRYPTEDSUPPORT=1 or System.Net.Http.SocketsHttpHandler.Http2UnencryptedSupport App context switch.

However without ALPN there is always possibility for mismatch.

[2019-05-30 01:27] joshudson commented on #38008
Still happening with commit bd492f2084f9c6be6af5338f29a54e1c3bc65599 which is tip of master as of 2 minutes ago.

[2019-05-30 01:36] vcsjones commented on #38002
This is something I added. I don't see the test failing for a "real" reason other than that the test is trying to test something random. @bartonjs any thoughts on ways I can improve the tests here to prevent a failure here?

[2019-05-30 01:36] ViktorHofer commented on #21037
System.Net.Sockets.Tests.SendPacketsAsync/NormalBufferRange_Success(type: Async): https://dev.azure.com/dnceng/public/_build/results?buildId=204518&view=ms.vss-test-web.build-test-results-tab&runId=4974894&resultId=470516&paneView=debug

[code]

[2019-05-30 01:41] bartonjs commented on #38002
I'd start with printing what the threshold was.  Maybe the range needs to be widended, or the 1024 changed to 2048?

[2019-05-30 01:43] emgarten commented on #37868
There shouldn't be any caching done by blob storage. NuGet client has a cache policy of 30 minutes for all json files and the server has no control over it.

[2019-05-30 01:44] stephentoub commented on #37378
I've opened https://github.com/dotnet/arcade/pull/2919 which should help make those issues easier to track down.

[2019-05-30 01:50] vcsjones commented on #37907
@wfurt thanks for that. `UseSharedCompilation=false` did get it to build successfully (and it built _much_ faster, about 10x).

Correct, it's a 16C/32T box.

I did grab a binlog of a failed build but didn't see any smoking gun of what the failure was. Everything seemed OK and then suddenly "build failed" right at the end. I can upload it somewhere if anyone cares to look at it provided I can get i

[2019-05-30 01:52] karelz commented on #38008
I don't understand why you say you need bootstrap.
Cloning CoreFX and building it should be doable by following our docs. Did you do that?
Or are you experimenting with unsupported OS/architecture?

[2019-05-30 02:07] joshudson commented on #38008
I located the problem. `PlatformAPIs.LoadDistroInfo()` tried to parse `/etc/os-release` for version, didn't find a number there. I'm guessing this is test harness code so I can just try/catch around parsing the string in `PlatformDetection.ToVersion()`

[2019-05-30 02:59] davidsh commented on #34550
Regarding the discussion here about streams having a "timeout" for read or write, the .NET Framework in general has a historical pattern for that where the abstract System.IO.Stream class has properties for [ReadTimeout](https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.readtimeout?view=netcore-2.2) and [WriteTimeout](https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.writetim

[2019-05-30 03:00] stephentoub commented on #37929
What's the downside of adding a 4.6.1 target?  "Just" increased size of the NuGet package?

@terrajobst, any strong reason not to do this?

[2019-05-30 03:02] stephentoub commented on #34550
For better or worse, these timeouts only ever applied to synchronous APIs, and are documented as such.  For example, the Begin/EndRead/Write APIs on Stream that have been around forever ignored these (unless they were implemented in terms of the synchronous methods, in which case they would pick up the timeouts effectively by accident).

[2019-05-30 03:05] #37646 closed

[2019-05-30 03:07] ViktorHofer commented on #29294
I would try to run the test on a Windows 81 machine in a loop (200-500 times should suffice).

[2019-05-30 03:15] karelz commented on #38008
Why didn't it parse it on your system and it worked on everyone's else?

[2019-05-30 03:21] joshudson commented on #38008
Whoever wrote that code assumed it was a number. Not set isn't a number.

    joshua@nova:~ϟ cat /etc/os-release
    PRETTY_NAME="Debian GNU/Linux buster/sid"
    NAME="Debian GNU/Linux"
    ID=debian
    HOME_URL="https://www.debian.org/"
    SUPPORT_URL="https://www.debian.org/support"
    BUG_REPORT_URL="https://bugs.debian.org/"
    joshua@nova:~ϟ

I've got another spurious test failure pull r

[2019-05-30 03:24] karelz commented on #38008
@joshudson you are the only persona out of couple of hundred that ran into this.
We should first figure out what is different on your system that leads to such special cases.
Don't batch unrelated PRs. Also, let's hold on first to figure out why is your system different than everyone's else ...

[2019-05-30 03:25] karelz commented on #38008
cc @wfurt

[2019-05-30 03:30] kouvel commented on #36885
Fixed by https://github.com/dotnet/coreclr/pull/24163

[2019-05-30 03:30] #36885 closed

[2019-05-30 03:38] lmolkova commented on #30653
fixed in #35906

[2019-05-30 03:39] joshudson commented on #38008
A typical `/etc/os-release` would look something like this:

PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
    NAME="Debian GNU/Linux"
    VERSION_ID="9"
    VERSION="9 (stretch)"
    ID=debian
    HOME_URL="https://www.debian.org/"
    SUPPORT_URL="https://www.debian.org/support"
    BUG_REPORT_URL="https://bugs.debian.org/"

However, I'm on trunk debian (drivers...). `VERSION_ID` is not defined. Th

[2019-05-30 03:40] hazzik commented on #34550
We're using `BinaryReader` (because reasons) and so it's synchronous calls over the stream. So @davidsh your example does not really apply to us.

[2019-05-30 03:42] lmolkova commented on #38011
I have just added deprecation note on flat-id spec in #38025 and referenced https://www.w3.org/TR/trace-context/ there. It has never been implemented and no code changes are expected.

[2019-05-30 03:42] #38011 closed

[2019-05-30 03:44] ccic commented on #35086
@bartonjs I wonder why the caching fails, so I did more tests, and found it may be related to the certificate. Only Chain build for "Let's Encrypt certificate" is very slow. My previous test run"Let's Encrypt certificate" on Azure VM, but run @stephentoub's test embedded certificate on local VM, that is not correct.

I have 2 certificates to check: @stephentoub's test embedded certificate (embedde

[2019-05-30 04:00] danmosemsft commented on #38033
Good thinking @krwq. When I run `smartctl -A '/dev/sdc'` on my Ubuntu I get `/dev/sdc: Unable to detect device type` - no quotes in output. If I do `smartctl -A \'/dev/sdc\'` I get  `'/dev/sdc': Unable to detect device type` . So I think you are getting literal quotes in your output due to literal quotes in your input due to perhaps the issue mentioned.

[2019-05-30 04:01] danmosemsft commented on #38031
@maryamariyan it does not seem to me that this is essential in order to ship 3.0, so I moved to Future. Please feel free to change back.

[2019-05-30 04:08] danmosemsft commented on #37978
Ah, System.Printing not System.Drawing.Printing. I think that's WPF. @ericstj is it available in Core? I see only a ref in https://github.com/dotnet/wpf/blob/master/src/Microsoft.DotNet.Wpf/src/System.Printing/ref/System.Printing.cs

[2019-05-30 04:08] danmosemsft commented on #38008
Thanks for figuring this out, @joshudson

[2019-05-30 04:09] wfurt commented on #38008
'sid' is never-ending rolling release without number @karelz - like master vs 3.0. For that reason we don't test on it or claim support. It would be reasonable to take a fix to make parsing more resilient. (we may need one for core-setup as well)

[2019-05-30 04:15] wfurt commented on #37907
I'm glad it worked @vcsjones but the outcome is surprising. Shared compilation _should_ be faster we we keep process running and JITed instead of starting new one over and over. Since your machine is quite powerful it really may be some race condition in msbuild.

There was some variables how to enable internal msbuild logging but I cannot find it.

[2019-05-30 04:24] Brar commented on #30426
There's no objection on my part aside from [this current limitation](https://github.com/dotnet/csharplang/issues/2194) in C# 8 nullability, which has to be a deciding factor unless we know for sure that the feature will come.

[2019-05-30 04:37] nvmkpk opened #38043 "The new JsonSerializer fails to serialize Guid"
It produces '{}' for a Guid. However, it appears to be deserializing it fine.

[2019-05-30 04:37] ahsonkhan commented on #38007
No, this feature is not supported at this point but something we should consider for vNext. Do you have an example usage to motivate the feature request?

Marking as future.

[code]

[2019-05-30 04:41] ahsonkhan commented on #38043
Can you please provide a sample repro with more details?

[code]

[2019-05-30 04:44] ahsonkhan commented on #37545
It's up for grabs. Marking accordingly.

[2019-05-30 04:52] bartonjs commented on #35086
@ccic If your system isn't considering Let's Encrypt as trusted that'll definitely throw things off.

I can't explain the "apps.digsigtrust.com", since that's not part of the Let's Encrypt infrastructure.

* If it was trying to download the "Let's Encrypt Authority X3" cert it would fetch http://cert.int-x3.letsencrypt.org/
* If it was trying to do an OCSP check on your cert it would hit http://oc

[2019-05-30 04:59] ahsonkhan commented on #37882
Based on previous discussions, we do not plan to support octal numbers. The reader tries to uphold following the JSON spec very closely by default with only a few high-priority deviation (under config).

This is still something we should fix. Marking as up-for-grabs if anyone's interested.

[2019-05-30 05:22] vitaaaly commented on #38014
@bartonjs I found the reason of this problem.
In ReadDirectoryOrIA5String of DictionaryStringHelper ([see here](https://github.com/dotnet/corefx/blob/e23119d577e644d2c2a25419c88c1181681358e0/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Helpers.cs#L215)) use swich..case that contains some UniversalTagNumbers, but in my case tag.TagValue is UniversalTagNumber.NumericSt

[2019-05-30 05:33] alisolutions commented on #37967
Do .Net core gives any support to create asymmetric keys? like Ecdsa. And we want to save them in key chain so that later on we can retrieve them for further use. As you have stated in this [link](https://github.com/dotnet/announcements/issues/21) that, from v2.0, you are using Apple Security Framework on macOS.
We have implemented it on Windows using CNG Nuget, but unable to find on MacOS.
Please

[2019-05-30 05:39] karelz commented on #37967
Did you look at our crypto APIs in `System.Security` namespace?
@bartonjs @krwq may be able to tell more
BTW: You may want to create new issue if @bartonjs does not answer ... in general we do not monitor closed issues and this is somewhat different question than the original one.

[2019-05-30 05:52] ccic commented on #35086
@bartonjs I checked "apps.digsigtrust.com" whose IP is 192.35.177.64, and it points to https://www.identrust.com/. I found Let's Encrypt used idenTrust to cross sign its certificate. See https://letsencrypt.org/certificates.

I checked the certificate of chain1.pem(https://letsencrypt.org/certs/lets-encrypt-x3-cross-signed.pem.txt) with openssl command: openssl x509 -in chain1.pem -noout -text
It

[2019-05-30 05:58] alisolutions commented on #37967
Yes I have looked into System.Security namespace, but unable to find required APIs.
I will wait for @bartonjs & @krwq response, otherwise I will create a new thread.

[2019-05-30 06:17] bartonjs commented on #37967
Keys can be created (e.g. `ECDsa.Create()`), but not persisted into a keychain. The only way to persist a key into a keychain is by having it paired to a certificate in a PFX/PKCS#12 file and then importing it with X509KeyStorageFlags.PersistKeySet (that'll import the cert and key into the default keychain).

[2019-05-30 08:00] AriNuer opened #38046 "Test failure: System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest/GetAsync_IPv6LinkLocalAddressUri_Success"
The test `System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest/GetAsync_IPv6LinkLocalAddressUri_Success ` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : Master - 20190529.66

Failing configurations:
- OSX.1012.Amd64.Open-x64-Release

Details:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2

[2019-05-30 08:26] AriNuer opened #38047 "Test failure:System.Net.Tests.HttpListenerContextTests/AcceptWebSocketAsync_InvalidHeaders_ThrowsWebSocketException(headers: \"Connection: Upgrade\\r\\nUpgrade: Test2\")"
Test `System.Net.Tests.HttpListenerContextTests/AcceptWebSocketAsync_InvalidHeaders_ThrowsWebSocketException(headers: \"Connection: Upgrade\\r\\nUpgrade: Test2\") `has failed.

Message :
[code]
Stack Trace :
[code]
Build : Master - [20190529.66](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190529.66)

Failing configurati

[2019-05-30 08:32] ahsonkhan commented on #36974
[code]

cc @JamesNK, @bartonjs

[2019-05-30 08:40] roji commented on #30426
OK, thanks.

In that case, IMHO it makes sense to wait a bit and see how things develop on that side. At the end of the day, `ExecuteScalar<T>()` (and `TryExecuteScalar<T>()`) are only sugar - whatever they do can always be done by calling `ExecuteReader()` and `GetFieldValue<T>()`. This means it isn't urgent to figure this out right now - we can do so later when the picture clarifies...

[2019-05-30 09:21] shibaev opened #38049 "Basic usage of GdipSetClipPath does not work"
Add this test to testclip.c:
[code]

Currently, it produces empty output.

However, it properly shows black rectangle if you:
* comment `C (GdipSetClipRect (graphics, 0, 0, 612, 792, CombineModeIntersect));` line
or
* define PASS symbol or invert `#ifndef PASS` condition

I.e. GdipSetClipRegion works properly, while GdipSetClipPath doesn't.

[2019-05-30 09:25] shibaev commented on #38049
@filipnavara, @akoeplinger, why do not we re-use basic GdipSetClipRegion implementation from GdipSetClipPath? Less code, no duplication - that will prevent us from fixing similar issues (like this one or #233) in the future.

[2019-05-30 09:28] ccic opened #38050 "Let's Encrypt certificate validation too slow on Linux"
After the fix of https://github.com/dotnet/corefx/issues/35086, X509Chain build sees a big perf improvement, but for Let's Encrypt certificate, it is still too slow.

[code]

On windows, the output:
1000 iterations: 00:00:00.2156929
1000 iterations: 00:00:00.1387840
1000 iterations: 00:00:00.1537569
1000 iterations: 00:00:00.1433948
1000 iterations: 00:00:00.1191109

On Ubuntu 16.04 or 18.04 (eith

[2019-05-30 09:30] shibaev commented on #38049
Sorry, submitted to the wrong project (corefx instead of libgdiplus)

[2019-05-30 09:30] #38049 closed

[2019-05-30 09:37] vitidev opened #38052 "MemoryMarshal.AsBytes<T>(...) for Memory<T>"
Why MemoryMarshal does not contain overloads for Memory<T>?

     MemoryMarshal.AsBytes<T>(Memory<T>)
     MemoryMarshal.AsBytes<T>(ReadOnlyMemory<T>)

[2019-05-30 10:01] ygoe commented on #38033
There seems to be a difference in command-line arguments handling. Left is through `dotnet`, right is called directly from the shell. The string quoting of `'/dev/sda'` is not resolved in the left case.

![grafik](https://user-images.githubusercontent.com/868315/58625319-82c1e900-82d2-11e9-9fb8-4e2fcfaab88f.png)

[2019-05-30 10:23] ahsonkhan commented on #36714
It might be easier to review both the read and write side together (https://github.com/dotnet/corefx/issues/36714 / https://github.com/dotnet/corefx/issues/36717), and also in the context of existing APIs:

**API Proposal:**
[code]

**Questions:**
1) Parameter ordering. The output sink to write to is not the first parameter (stream/writer), while the input source is (stream/read).
2) In terms of n

[2019-05-30 10:33] adrianoc-unity3d commented on #37892
@karelz following the steps:

1. Compile SomeLib.dll & SomeProgram.exe
2. In SomeLib.cs, move `public int field;` to class **A**
3. Recompile **only SomeLib.dll**
4. Run *S*omeProgram.exe**

Step **4** throws an exception:

   at C.Main()

[2019-05-30 10:36] johnkellyoxford commented on #38052
This wouldn't really be possible I think, because you cannot cast an underlying `T[]`/`string`/`MemoryManager<T>` to a byte version, without some kind of flag inside `Memory<T>` indicating to cast the resultant `Span<T>` from `.Span` into a `Span<byte>`, which increases the size of it

[2019-05-30 11:10] ViktorHofer commented on #38001
Happens very frequently now: https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37358~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190530.4/workItem/System.Runtime.Extensions.Tests/wilogs

[2019-05-30 11:44] ViktorHofer commented on #34666
Happened again: https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190529.66/workItem/System.Threading.Tests/analysis/xunit/System.Threading.Tests.MutexTests~2FCrossProcess_NamedMutex_ProtectedFileAccessAtomic(prefix:%20%5C%22f66454e1782b48a3861d01e14c9e4330%5C%22)

cc @stephentoub

[2019-05-30 11:49] ViktorHofer opened #38053 "System.Linq.Expressions.Tests crashes on Debian.9.Arm32.Open-arm:Release"
Test: System.Linq.Expressions.Tests (crash)
Configuration: Debian.9.Arm32.Open-arm:Release

[code]

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190529.66/workItem/System.Linq.Expressions.Tests/wilogs

I suggest to execute the tests in a loop to force the crash. @MattGal should know if such a machine (debian 9 arm32) is

[2019-05-30 11:53] ViktorHofer commented on #30162
Happened again: https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190529.66/workItem/System.Security.Cryptography.X509Certificates.Tests/wilogs

@tmds can you please try to fix the test or disable it? Thanks.

[2019-05-30 12:07] ycrumeyrolle commented on #36974
Do you expect to escape the base64 string?

[2019-05-30 12:09] #35564 closed

[2019-05-30 12:43] ViktorHofer commented on #29294
Failed again but this time in System.Net.Security.Tests:

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38021~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190530.12/workItem/System.Net.Security.Tests/wilogs

[2019-05-30 13:03] MarcoRossignoli commented on #37522
@layomia is there some doc in some branch ready to check? I was working on throw better exception but I'm not sure what is or not supported yet.

[2019-05-30 13:25] rfht commented on #38006
CoreRT is used in mono's build. The corresponding code is here: https://github.com/mono/corert/blob/master/src/System.Private.CoreLib/shared/System/Collections/Generic/ArraySortHelper.cs#L43. It is pulled in as an external dependency in `external` directory (https://github.com/mono/mono/tree/master/external).

yes, @jkotas is right and this is about compatibility with previously tolerated buggy im

[2019-05-30 13:41] Symbai opened #38059 "System.InvalidOperationException on calling Process.GetCurrentProcess().StartInfo"
I was porting one of my applications and the following line of code fails in .NET Core 3 while it works perfectly fine in .NET Framework (WPF application):

`var startInfo = Process.GetCurrentProcess().StartInfo;`

Exception:
[code]
Happens when running within VS and outside. If this exception is expected to happen, how can I port this line of code to .NET Core 3 ? Is there an alternative to retri

[2019-05-30 13:51] MarcoRossignoli commented on #37885
Up for grab?I'm working also on other similar

[2019-05-30 13:53] vcsjones commented on #38050
Since you posted the private key for the certificate, I just revoked the certificate out of abundance of caution. The private key should not be necessary to reproduce issues with chain building.

@ccic if you are using this certificate you should use certbot to replace the certificate.

Here is an unrevoked Let's Encrypt certificate (from my own website) that still reproduces the issue and does no

[2019-05-30 13:56] jkotas commented on #38006
The compatibility quirk for .NET Framework target framework does not make sense in .NET Core (ie CoreCLR or CoreRT) because of the target framework is never .NET Framework in .NET Core.

If you care about this to be fixed in existing class libraries Mono, I think it would be best to fix it directly in the Mono fork.

[2019-05-30 13:56] kronic commented on #30426
Можно еще добавить методы
[code]

[2019-05-30 14:02] vcsjones commented on #38050
As for the issue itself, I see very slow chain building on netcoreapp2.2, but ~1 second on 3.0-preview5. The performance issue appears to have been fixed with #35367, I believe.

@ccic can confirm if the performance is improved on the latest 3.0 preview for you?

/cc @bartonjs

[2019-05-30 14:09] vcsjones commented on #38059
This is likely a duplicate of #37674.

[2019-05-30 14:14] ViktorHofer commented on #37897
Failed again: https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F37972~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190530.22/workItem/System.Security.Cryptography.X509Certificates.Tests/wilogs

[2019-05-30 14:15] jkotas commented on #38052
Correct. This is not implementable as @johnkellyoxford explained.

[2019-05-30 14:15] #38052 closed

[2019-05-30 14:21] deinok commented on #38007
@ahsonkhan GraphQL is a good example.

The spec recomends JSON but it is not tied to any specific serialization in the response.
This implys that the "data" field of the response is of the kind: dynamic. As it can't be infered.
Without ExpandoObject the deserialization makes dynamic a type of a JSON making. So accessing to that abstract dynamic "data" must be done knowing that in fact that dynamic

[2019-05-30 14:42] rfht commented on #38006
That makes sense. I will bring it up with mono then. From my end this issue is closed then. Feel free to re-open if needed. I will post a link to mono thread once open.

[2019-05-30 14:42] #38006 closed

[2019-05-30 14:44] steveharter commented on #36125
The float\single converter in the serializer now uses the appropriate reader API. I'll update the issue.

For `char` a string of length 1 makes the most sense IMO. That is also what Json.NET uses. The work-around for someone to handle this themselves is not trivial.

[2019-05-30 14:51] bartonjs commented on #37967
Actually, you can do it easier by just adding the cert (with a paired key) to `new X509Store(StoreName.My, StoreLocation.CurrentUser, OpenFlags.ReadWrite)`, that's also the default keychain.

But you can't open a macOS key by identifier, or save a key with a controlled identifier.

[2019-05-30 14:54] bartonjs commented on #38014
@vitaaaly The fact that hasn't come up in several years makes it a pretty unique certificate.  Looking at the RFC it says that common attributes are DirectoryString (and the semi-common email-address attribute is IA5String), I guess it doesn't have a serious grudge against NumericString; though it seems like it must be a custom attribute.

[2019-05-30 14:57] steveharter commented on #36717
The `ReadValue` terminology -- does just `Read` work? We have `ReadAsync` already and that would be consistent.

Design notes:
- The buffer in the reader must contain all of the data necessary to return the value - i.e. the reader shouldn't return `false` to request more data.
- If there is extra data in the buffer after deserialization that is OK - the deserializer should not throw. This is diffe

[2019-05-30 15:05] Symbai commented on #38059
Everything. I'm using this to restart my application with or without runas flag. I need to make sure it's launched exactly the same as before (same command arguments, same environments, same start directory) etc.

[2019-05-30 15:14] steveharter commented on #36714
Originally I thought this was fine - the object being written is "more pertinent" than the stream so it should be first. However I see value in having the stream first considering if we ever expect this to be an extension method on `Stream`.

Should we just have Write APIs, or having both WriteAsValue and WriteAsProperty overloads useful/convenient.

I prefer Just `Read`.

Assuming the writer will

[2019-05-30 15:24] #38059 closed

[2019-05-30 15:32] Tragedian commented on #35824
A text-oriented read/writer pair seems like a logical extension for Pipes; especially useful as an integration point for many of the existing APIs which work over a `TextReader` or `TextWriter`. I've written a basic implementation of both `TextPipeReader` and `TextPipeWriter` in my current project and can see myself implementing them again in future projects.

My only question would be whether the

[2019-05-30 15:40] #16011 closed

[2019-05-30 15:41] stephentoub commented on #37826
This has been checked in.

[2019-05-30 15:41] #37826 closed

[2019-05-30 15:42] Tragedian commented on #34927
This would be supremely useful for text-parsing. A `Pipe<char>`, fed by a `Pipe<byte>` lets me work over a set of text without having to deal with extensive buffer management.

Perhaps restricting it to `unmanaged` types makes the most sense, encouraging switching to `Channels` for higher-level objects and letting us still perform reasonable optimisations?

[2019-05-30 15:43] stephentoub commented on #33552
@ahsonkhan, can this issue be closed, or is it still tracking adding additional APIs?

[2019-05-30 16:07] GSPP commented on #37816
Yes, the outermost one should be first. It is the highest level piece of information. For example, all SQL errors are wrapped in `SqlException`. This is great because we can catch this single exception type and interpret it using its data properties. `SqlException` is a great example for exceptions done right.

The inner exception usually is meant to be logged and interpreted by the developer. Its

[2019-05-30 16:12] Yucked opened #38064 "JsonSerializer throws MissingMethodException"
StackTrace:

[code]

Throw right here: https://github.com/Yucked/Frostbyte/blob/master/Handlers/StartupHandler.cs#L36

SDK and RunTime

[code]

[2019-05-30 16:25] AArnott opened #38065 "System.Threading.Tasks.Extensions shipped multiple times with same assembly version, different assembly references"
The System.Threading.Tasks.Extensions.dll assembly shipped multiple times on nuget.org with the *same assembly version* but with *different assembly references*.

Specifically:

| NuGet package version | Assembly version | Assembly version of reference to System.Runtime.CompilerServices.Unsafe |
|--|--|--|
| 4.5.0 | 4.2.0.0 | 4.0.4.0 |
| 4.5.1 | 4.2.0.0 | 4.0.4.0 |
| 4.5.2 | 4.2.0.0 | 4.0.4.**1**

[2019-05-30 16:25] stephentoub opened #38066 "Path directory separator tests failing on Unix"

[2019-05-30 16:25] stephentoub commented on #38066
cc: @MarcoRossignoli

[2019-05-30 16:33] AArnott commented on #38065
[One of the many customer reports of the VS crash](https://developercommunity.visualstudio.com/content/problem/569009/unable-to-start-visual-studio-1610-p3.html)

[2019-05-30 16:41] ahsonkhan commented on #36974
Good question, and yes, we would follow the default escaping behavior.

[2019-05-30 16:42] ahsonkhan commented on #36717
The `ReadAsync` tries to read as much as possible. `ReadValue` would be consistent with `JsonDocument.ParseValue` which reads just one value (whether it be an object/array or primitive).

[2019-05-30 16:57] ahsonkhan commented on #36714
I am working under the assumption we don't have the `WritePropertyName` API on the writer for a few reasons:
1) For preview 6, we won't have this API, so not providing the WriteAsValue/Property overloads will make the API not usable. I would wait for the converter design to finish and we can adjust then.
2) I have investigation pending for the perf impact of adding such an API on the rest of the w

[2019-05-30 17:02] wtgodbe commented on #37907
My hacky workaround for getting a verbose msbuild.log file is manually editing https://github.com/dotnet/corefx/blob/73066ea252de240b0c3bcb79a0d9a1cfbbe56952/eng/common/build.sh#L178 to:

`bl="/flp:v=diag"`

@wfurt is the `UseSharedCompilation` workaround documented somewhere/do we have an issue for it?

[2019-05-30 17:04] tanbchr commented on #37940
I do understand that this can be a low priority and that it is not the most used method in the ADO.NET. However, for ETL processes, it is super important.

Right now, we are making a homemade data-synchronizer that enables the users to select the tables that they want to migrate to other systems. The `GetSchema` is heavily used to fetch the metadata of the source connections when it is the time to

[2019-05-30 17:09] roji commented on #37940
Are you referring to actual tables getting changed, in runtime, and therefore the cache getting out of sync? That seems somewhat extreme as schema changes typically also involve code changes, which means your application is restarting anyway... More detail here would be appreciated.

If you have a caching, then we're talking about optimizing for not blocking a thread in the rare case where the cac

[2019-05-30 17:12] joperezr commented on #37929
AFAIK there are no other concerns apart from nuget package size and to actually make the source compile against netfx.

[2019-05-30 17:16] nvmkpk commented on #38043
I am using it from asp.net core 3.0 preview 5. I will try with a new project.

[2019-05-30 17:22] JeremyKuhne commented on #38028
Note that whatever is done here should:

1. Use the `FileSystemEnumerator`
2. Limit the number of open file descriptors (it is easy to exhaust them with large directory trees)

Handling changes to the directory structure being deleted is a non goal outside of ensuring we fail gracefully. Things can and will vanish / change.

[2019-05-30 17:25] terrajobst commented on #36974
* `Utf8JsonWriter.WriteAsBase64String()` -> `WriteBase64String()`
* `Utf8JsonReader.GetBytes()` -> `GetBytesFromBase64()`
* `Utf8JsonReader.TryGetBytes()` -> `TryGetBytesFromBase64()`
* `JsonElement.GetBytes()` -> `GetBytesFromBase64()`
* `JsonElement.TryGetBytes()` -> `TryGetBytesFromBase64()`

[2019-05-30 17:26] tanbchr commented on #37940
The synchronizer application that we are building is able to connect to any source of data. We are using those ADO.NET libraries from this [vendor](https://www.cdata.com/ado/).

We have no control over the metadata of those sources. Since we are not dependent on the sources that we read, we don't have to restart the data-synchronizer itself. We act as a third party application and can connect to a

[2019-05-30 17:30] safern commented on #22145
Closing as this is in netfx.

[2019-05-30 17:30] #22145 closed

[2019-05-30 17:32] safern commented on #18201
Closing as we're no longer testing for netfx for this test assembly after: https://github.com/dotnet/corefx/pull/37972

[2019-05-30 17:32] #18201 closed

[2019-05-30 17:32] ScotMac commented on #37599
Yes, the linux issue appears to be environmental, and we are now able to connect successfully from Linux.

However, the MacOS issue remains. Would you like me to try the openSSL command from MacOS?

[2019-05-30 17:36] joperezr commented on #37929
I'll take care of this.

[2019-05-30 17:38] roji commented on #37940
Thanks for the additional info, it's clear.

Note that as I wrote above, even if we were to add an async GetSchema() API in corefx, for it to actually be helpful providers would have to be updated to override it and actually perform the I/O asynchronously - we have no control over that. Just to make sure it's understood.

[2019-05-30 17:41] wfurt commented on #37599
on MacOS we do not use OpenSSL for SslStream so it is not quite valid test. For client cert, I assume you use Import function as on Linux, right?

You never answer question about what certificate server uses and how do you set up trust. If that is certificate signed by well known CA, you should have it already in your KeyChain but it would be good to verify that.

You can do Wireshark trace from L

[2019-05-30 17:41] terrajobst commented on #36714
* We should make the stream the first argument as they are logically extension methods
* `ReadValue` makes sense
* The `As` infix notation feels odd. We should just call it `WriteValue` and `WriteProperty`. We should also change them in `JsonElement`.
* Adding `WriteProperty(JsonEncodedText propertyName, Utf8JsonWriter writer)` makes sense.

[2019-05-30 17:43] terrajobst commented on #36714
Approved because we approved the combined one #36974.

[2019-05-30 17:44] terrajobst commented on #36717
Approved because we approved the combined one #36714.

[2019-05-30 17:46] stephentoub commented on #33500
[code]

[2019-05-30 17:48] jplantinga47 commented on #37764
Any update on this?  I'm experiencing it as well with Preview 6 (nightly) and the very latest VS.  I get my fatal error when i call Deserialize on my XmlSerializer.

[2019-05-30 17:50] tanbchr commented on #37940
Yes! It is exactly why I said that it will be nice to have it sooner. It will give more time to the provider's writer to integrate it in their libraries.

[2019-05-30 17:51] roji commented on #30426
@kronic at the moment we're discussing the general shape of the API - async version(s) would definitely get added once we stabilize. BTW I'm not sure this is a good candidate for returning ValueTask as opposed to Task (pretty much always performs I/O, so never returns synchronously).

[2019-05-30 17:51] safern commented on #19091
Closing as this is in desktop.

[2019-05-30 17:51] #19091 closed

[2019-05-30 17:58] stephentoub commented on #38001
@filipnavara, could you take a look?

[2019-05-30 18:02] terrajobst commented on #36125
The `char` one might be harder to define. We should get @JamesNK input on those. Basically two options:

* **We can treat it as a number**. If the primary goal is to define serialization behavior, that might be OK. And given that we have to write UTF8 that might be more honest.

* **Treat it as a single character string**. This would mean that we either throw for chars that we can't represent in U

[2019-05-30 18:05] kronic commented on #30426
This is wrong for example for Sqlite

[2019-05-30 18:12] stephentoub commented on #35239
I believe @davidkaya is correct.  I don't see a good way to do this without either a) adding some API to help with it, b) changing the behavior of a previously shipped API (e.g. making SslStream re-query the passed in options), or c) tearing down every downgraded connection and starting a new one (which would be bad).

[2019-05-30 18:15] safern commented on #18268
Closing as this is for desktop and we're no longer going to run tests for desktop in this project: https://github.com/dotnet/corefx/pull/37972

[2019-05-30 18:16] #18268 closed

[2019-05-30 18:16] safern commented on #18265
Closing as this was in desktop and we're no longer running tests for this project in desktop after: https://github.com/dotnet/corefx/pull/37972

[2019-05-30 18:16] #18265 closed

[2019-05-30 18:17] safern commented on #18269
Closing: https://github.com/dotnet/corefx/pull/37972

[2019-05-30 18:17] #18269 closed

[2019-05-30 18:20] safern commented on #16934
Closing per: https://github.com/dotnet/corefx/pull/37972

[2019-05-30 18:20] #16934 closed

[2019-05-30 18:32] davidsh commented on #35239
I vote for b).  The 'AllowRenegotiation' property is pretty new. I don't think having SslStream re-query it will break anyone.

[2019-05-30 18:41] MarcoRossignoli commented on #37545
Link another related issue https://github.com/dotnet/corefx/issues/37188

[2019-05-30 18:45] Anipik commented on #38001
Its happening really frequently on the local machine as well. I am looking into it

[2019-05-30 18:45] roji commented on #30426
SQLite us definitely an outlier here - almost all databases involve some sort of networking I/O; according to this logic every single method on the ADO.NET API would return ValueTask just so that it can be used with SQLite.

Thé claim can also be made that sqlite will still typically do I/O to complete the call, and so the overhead of Task is likely to be quite negligible.

But nothing is closed f

[2019-05-30 18:49] ahsonkhan commented on #37522
I am working on writing up such a doc and hoping to get it checked in by eod tomorrow. Hopefully, that will help.

[2019-05-30 18:56] danmosemsft commented on #36842
@Anipik @maryamariyan please limit 3.0 milestone to issues that must be fixed to ship 3.0.

[2019-05-30 18:58] danmosemsft commented on #34882
@tannergooding can we clear this bug out (close or fix for 3.0 I guess) so we get this area path to zero for 3.0

[2019-05-30 19:02] ericstj commented on #36794
@stevenbrix did you still need a fix for this for WPF for 3.0 or did you use the workaround I suggested?

[2019-05-30 19:05] danmosemsft commented on #35783
resovled by https://github.com/dotnet/corefx/pull/37294 ?

[2019-05-30 19:05] #35783 closed

[2019-05-30 19:08] danmosemsft commented on #32095
Moving to Future as this is not required to ship 3.0.

[2019-05-30 19:11] stephentoub commented on #35239
It's more about the model.  The idea was that SslStream would copy out of the options instance whatever it needed, so that the options instance could then be changed and used with other SslStreams.  Whether or not anyone will do that, I don't know, but this breaks that model.

cc: @bartonjs, @krwq

[2019-05-30 19:13] danmosemsft commented on #33509
@GrabYourPitchforks I am going to assume this is not for 3.0 as at this point it woudl be more of a DCR. Feel free to fix if I am wrong.

[2019-05-30 19:13] danmosemsft commented on #34830
@GrabYourPitchforks I am going to assume this is not for 3.0 as at this point it woudl be more of a DCR. Feel free to fix if I am wrong.

[2019-05-30 19:13] danmosemsft commented on #34042
Not must fix for 3.0

[2019-05-30 19:15] danmosemsft commented on #33879
@jeffschwMSFT @swaroop-sridhar is this still targeting 3.0? Unless it is a must have it seems it should be marked Future. 3.0 is only for must have at this point.

[2019-05-30 19:16] danmosemsft commented on #34503
@pakrym @jkotas is this must have for 3.0? If not it is time to move this to Future milestone.

[2019-05-30 19:16] danmosemsft commented on #36446
@tannergooding can you please move this to the docs repo if that is the next step and close this out?

[2019-05-30 19:17] danmosemsft commented on #33729
System.Numerics.Tensors is not shipping (at least not on the 3.0 schedule). Is there any 3.0 work here? If not let's close it out.

[2019-05-30 19:17] MarcoRossignoli opened #38071 "[QUESTION]VS Debugging issue"
I cannot see variables on watch debug windows with VS2019 Preview only for corefx solutions
![image](https://user-images.githubusercontent.com/7894084/58658057-ede5dc80-831f-11e9-882e-68f93fba65db.png)

[code]
Does anyone know the reason?Is it only my issue?

[2019-05-30 19:17] danmosemsft commented on #28398
Closing for now then.

[2019-05-30 19:17] #28398 closed

[2019-05-30 19:19] danmosemsft commented on #37156
@JeremyKuhne it seems to me this is not required to ship 3.0. Moving to future. If I am wrong please let me know.

[2019-05-30 19:20] danmosemsft commented on #33403
Old flaky test. Reopen if still an issue.

[2019-05-30 19:20] #33403 closed

[2019-05-30 19:21] danmosemsft commented on #20558
MOved to future. This is not a must fix for 3.0

[2019-05-30 19:22] MarcoRossignoli commented on #35783
Mmm error was on Win...btw no more happened...

[2019-05-30 19:22] danmosemsft commented on #31362
@odhanson did the workaround above help you?

I will move this to Future given comments above.

[2019-05-30 19:23] danmosemsft commented on #30953
Moving to Future .Not a must have for 3.0

[2019-05-30 19:24] jkotas commented on #34503
I think this should be just closed. There is nothing actionable suggested to improve the situation.

[2019-05-30 19:24] #34503 closed

[2019-05-30 19:24] danmosemsft commented on #31597
@safern this does not seem to me essential in order to ship 3.0. Please correct me if I'm wrong.

[2019-05-30 19:24] danmosemsft commented on #31598
Not required for 3.0 release

[2019-05-30 19:24] tannergooding commented on #36446
Opened.

[2019-05-30 19:24] #36446 closed

[2019-05-30 19:25] danmosemsft commented on #36448
Optimization here would be welcome but since it's not a regression from the last release, this is not necessry to ship 3.0. Moving to future.

[2019-05-30 19:25] tannergooding commented on #33729
This is really more of a `meta` issue that is tracking adding docs in general. I think it is likely better tracked by the internal list that @carlossanlop was working on.

[2019-05-30 19:25] #33729 closed

[2019-05-30 19:26] danmosemsft commented on #33470
@ViktorHofer from a quick read, the risk/benefit here is not sufficient for 3.0 at this point. Moving to future. LMK if I'm wrong.

[2019-05-30 19:27] danmosemsft commented on #37691
@sebastienros do we know whether this was a regression from past release? Also, is this critical for meeting 3.0 perf goals?
If not we should move to future milestone please.

[2019-05-30 19:28] danmosemsft commented on #37260
Moving to Future. Work can still happen, but it's not essential that we fix this before ship 3.0.

[2019-05-30 19:29] jkotas commented on #33879
Duplicate of https://github.com/dotnet/coreclr/issues/22028

[2019-05-30 19:29] #33879 closed

[2019-05-30 19:30] danmosemsft commented on #36642
Should this be assigned to you @Anipik ?

[2019-05-30 19:30] krwq commented on #35239
Perhaps we should have a way of changing that in the ALPN callback or re-query after calling that callback.

On the other hand it slightly feels to me that since TLS is aware of ALPN it should know that HTTP2 does not allow re-negotiation in which case TLS would/should auto-restrict re-negotiation when it notices HTTP2 (in which case the HTTP client wouldn't do anything special to handle that).

[2019-05-30 19:31] danmosemsft commented on #35744
Given this is not a product issue, and the test is disabled, moving to Future as it's not required to ship 3.0

[2019-05-30 19:31] danmosemsft commented on #33540
@safern my suggestion here is move to Future as there's only one report. Also it is likely in libgdiplus not us?

[2019-05-30 19:31] davidsh commented on #35239
I don't have a strong feeling about whether we should add a new API to fix this or adjust the previous behavior.

But I do have a strong feeling that we should fix this scenario.

[2019-05-30 19:32] danmosemsft commented on #33456
Closing as it's been 6 months without any new report here. Please reactivate if it's still an issue.

[2019-05-30 19:32] #33456 closed

[2019-05-30 19:32] tannergooding commented on #34882
`TestZ`, `TestC`, and `TestNotZAndNotC` are not necessarily intuitive names, but they do mirror the names of the C/C++ intrinsics and we've not been able to come up with better names.

`TestAllOnes` is merely a helper method and `TestAllZeros`/`TestMixOnesZeros` are just duplicated names.

The proposal is then to remove `TestAllOnes`, `TestAllZeros`, and `TestMixOnesZeros` from the `Sse41` class (

[2019-05-30 19:33] ericstj commented on #36498
@AaronRobinsonMSFT can you please elaborate on this?  I see plenty of other things in COM2Interop that depend on WinForms types, so we definitely cannot bring all that down.

Previously on desktop there was a loose binding here via a FullyQualifiedTypeName to System.Windows.Forms: https://referencesource.microsoft.com/#System/compmod/system/componentmodel/TypeDescriptor.cs,4689

Why can't we keep

[2019-05-30 19:34] danmosemsft commented on #29972
Report of one flaky test a year ago. Not useful to keep.

[2019-05-30 19:34] #29972 closed

[2019-05-30 19:34] danmosemsft commented on #30686
@carlossanlop seems like a feature request, not required to ship 3.0. If you agree please move to Future.

[2019-05-30 19:35] danmosemsft commented on #34027
Seems test only issues. Moving to Future.

[2019-05-30 19:36] krwq commented on #35239
IMO the simplest fix for this release (does not require new API) would be directly in SslStream and then if we ever find ourselves in a place where it would be useful to have more control over this behavior (I can't currently think of scenario other than HTTP2) then we could add a new API and possibly adjust HTTP client behavior.

[2019-05-30 19:37] ericstj commented on #30812
Looks like this is already done: https://github.com/dotnet/corefx/commit/2e6994336ba7eddb326646d43f1456e753caf47d#diff-42882c856b91468ce503d745a162d07bR5

Fixed in #29350

[2019-05-30 19:37] ericstj commented on #37907
I took a closer look at this codepath and I don't think we'll find what we want in the logs.  See: https://github.com/microsoft/msbuild/blob/a7ec0717645fbf928048ace681e817c049a03762/src/Build/BackEnd/BuildManager/BuildManager.cs#L2120-L2124.  So this seems like MSBuild hit an exception in a logger or in the IPC between nodes.  I think the only way we'd get more info here is a debugger or added ins

[2019-05-30 19:40] davidsh commented on #35239
I wish we had APIs in SslStream (server-side) to cause renegotiation in the first place.  We currently don't have that kind of control. So, we end up having to use servers that do it such as Windows IIS etc.

[2019-05-30 19:40] DualBrain opened #38072 "VB.NET "My" not working as expected?"
@cston and @KathleenDollard,

Here is an isolated example running on the most recent bits as far as I can tell (at least with regards to the Microsoft.VisualBasic side of things).

Module Program
  Sub Main(args As String())
    Console.WriteLine(My.Computer.Name)
    Console.WriteLine((New Microsoft.VisualBasic.Devices.ServerComputer).Name)
    Console.WriteLine(System.Environment.MachineName)

[2019-05-30 19:45] stephentoub commented on #35239
You mean breaking layering and teaching SslStream about specifics of HTTP2?

[2019-05-30 19:55] davidsh commented on #35239
I agree that we should *not* break layering.  But we need a way of SslStream to adjust the AllowRenegotiation or perhaps get rid of it entirely. What if SslStream client-side didn't care if server asked for regnegotiation?  We used to always allow it. What is the big deal if a non-comformant HTTP/2 asked for it?

[2019-05-30 19:57] vcsjones commented on #37907
Since I can only reproduce this on Linux and not Windows this might be a bit challenging for me. :sweat_smile:

I'll see what I can do here.

[2019-05-30 19:57] stephentoub commented on #35239
That's interesting.  In other words, fix this by simply removing the setting of AllowRenegotation = false in SocketsHttpHandler.

[2019-05-30 19:59] odhanson commented on #31362
@danmosemsft yes, I have unblocked on this a long time ago by opening the ZipPackage for read only.

[2019-05-30 20:00] danmosemsft commented on #31362
great thanks.

[2019-05-30 20:02] tarekgh commented on #37691
I don't think this is a regression.

[2019-05-30 20:04] safern commented on #33540
Yes this is likely libgdiplus and not us. I'll move it over to libgdiplus and close this one to be investigated on their side. We just call GdipDrawString which is native code in order to produce the bitmap.

I created: https://github.com/mono/libgdiplus/issues/554

[2019-05-30 20:04] #33540 closed

[2019-05-30 20:06] ScotMac commented on #37599
Regardless whether you use OpenSSL on MacOS or not, i assumed you wanted to see the server cert via openssl.

In terms of the trust, the certificate is digicert and both client and server are adding an EXPLICIT trustpoint for the digicert CA/root. We are not relying on "well known CAs" at all. Sorry if my previous response was not clear.

[2019-05-30 20:08] ScotMac commented on #37599
Regardless whether you use OpenSSL on MacOS or not, i assumed you wanted to see the server cert via openssl. ie, that -showcerts option you indicated.

In terms of the trust, the certificate is digicert and both client and server are adding an EXPLICIT trustpoint for the digicert CA/root. We are not relying on "well known CAs" at all. Sorry if my previous response was not clear.

[2019-05-30 20:08] fdbva opened #38073 "String Dictionary with StringComparer.Ordinal slower than default EqualityComparer"
Hello.

As I understand it, a `Dictionary` with it's key as `string` and using `StringComparer.Ordinal` should be faster than with a default `EqualityComparer`.
I did some tests with `BenchmarkDotNet` and it seemed true for `.NET Framework` but not for `.NET CORE`.

Maybe I'm doing something wrong?
Bellow are the results, the code for the tests and the `csproj` file.

[code]

[code]
[code]

[2019-05-30 20:09] vcsjones commented on #37907
Some additional evidence that it might be a race issue.

1. I can reproduce this using only `./build.sh --restore`. So perhaps `UseSharedCompilation` was a red herring.

1. The issue goes away if I do `taskset -a 1 ./build.sh --restore` which is a CPU mask of 0b00000001.
1. The issue comes back if I do `taskset -a 3 ./build.sh --restore` which is a CPU mask of 0b00000011.

It seems that as soon as

[2019-05-30 20:15] #36642 closed

[2019-05-30 20:20] bgrainger commented on #30426
SQLite's lack of async I/O has always felt like a bug, not a feature, to me. Oracle's MySQL Connector/NET also [uses 100% synchronous I/O](https://bugs.mysql.com/bug.php?id=70111) but I don't think we should tailor the ADO.NET API to those providers' inability to perform async I/O.

(I realise that the engineering effort required to support async I/O in SQLite and Connector/NET is very large and s

[2019-05-30 20:26] sebastienros commented on #37691
This is not a regression, I already filed a related issue a year ago.

[2019-05-30 20:31] mjsabby commented on #37691
We should fix this right? 2x-6x for such a critical operation seems bad.

[2019-05-30 20:33] tarekgh commented on #37691
Yes we should look at it but I don't think this is urgent for 3.0 as it is not a regression. I am going to move it to the future milestone.

[2019-05-30 20:33] AndyAyersMS commented on #38073
There are a number of optimizations to the dictionary and the handling of the default comparers by the jit -- for example, dotnet/coreclr#14125, dotnet/coreclr#15419). So not too surprising that this is now the fastest method.

I have not looked at the ordinal comparer perf; perhaps it would be worth investigating.

[2019-05-30 20:40] wfurt commented on #37599
ok. So you add it to System Root or System  KeyChain on OSX?

[2019-05-30 20:47] nvmkpk commented on #38043
Here is a simple repro:

[JsonGuid.zip](https://github.com/dotnet/corefx/files/3238677/JsonGuid.zip)

[2019-05-30 21:11] seanmcd-msft commented on #2315
that makes sense to me.

[2019-05-30 21:29] Anipik commented on #38001
There are a couple of issues. The way we are using the interop here is not correct https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/AppDomain.Unix.cs#L14

The native function tells amount of cpu utilization  by the process from the last recorded time(which could be previous call to this function or the process start time) to the current time.
here the input cpuinfo ref is

[2019-05-30 21:30] #37943 closed

[2019-05-30 21:43] steveharter opened #38074 "Support JSONPath on JsonDocument"
As an extension to https://github.com/dotnet/corefx/issues/37768, the JsonDocument class should support setting the `Path` property on `JsonReaderException`.

In addition, once this is complete, the serializer should re-throw `JsonReaderException` (as it does today) but now with the `Path` property pre-pended with the results from `JsonReaderException` to include the full Path of the serializer +

[2019-05-30 21:44] #37768 closed

[2019-05-30 21:48] AaronRobinsonMSFT commented on #36498
Yep. This is a really loose coupling that is easy to forget about or even miss. There isn't any reason this can't be kept as is, but it is a very jagged edge that would be better to fix if possible. As mentioned above, the fix is basically what was done in framework (https://github.com/dotnet/corefx/pull/36496). The issue with the framework "mitigation" is that the failure would be silent and so w

[2019-05-30 21:50] ScotMac commented on #37599
No. Sorry if i wasn't clear again. We are adding that EXPLICIT trustpoint to the client and server certs, not the O/S.

[2019-05-30 21:53] tannergooding commented on #38001
That particular line of code hasn't been touched since the code was introduced ~4 months ago.

If overflow is a concern here, you will need to either use `uint128` (expensive) or `double` (potentially lossy).

`System.Diagnostics.Stopwatch` does the latter for the same scenario.

[2019-05-30 21:56] stephentoub commented on #38001
here the input cpuinfo ref is zero. We need to correct this implementation.

I'm not following.  What are you suggesting it should be?  If it's wrong, isn't the other use of it at https://github.com/dotnet/coreclr/blob/9773db1e7b1acb3ec75c9cc0e36bd62dcbacd6d5/src/System.Private.CoreLib/src/System/Diagnostics/Eventing/RuntimeEventSourceHelper.Unix.cs#L15 also wrong, since the first time it's used,

[2019-05-30 22:05] Anipik commented on #38001
I think the polling counters are using the first value just as an offset\bogus value. They don't care about the cpu utilization at the first point.
They use it calculate cpu utilization between 2 points.

[2019-05-30 22:09] Anipik commented on #38001
https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_time.c#L170
returns the current timestamp where as https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_time.c#L154
returns time durations for the current process.
so we need to provide subtract some offset from the first to make both of these comparable

[2019-05-30 22:12] stephentoub commented on #38001
Sure, but https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/AppDomain.Unix.cs#L14 always ignores the utilization; it's calling it just to get at the lastRecordedUserTime.  And because it's using a new default value each time, isn't it effectively always like the "first" call?

[2019-05-30 22:16] carlossanlop opened #38075 "build-native.cmd expects "Program Files (x86)"

[2019-05-30 22:19] carlossanlop commented on #38075
I have two identical Windows 7 VMs where I configured and installed everything so I could run corefx unit tests.

I followed the instructions on both VMs at the same time. I am able to successfully build x64, but x86 fails to build.

With the help of @wtgodbe , we found that build-native.cmd expects the "Program Files (x86)" folder to exist so it can find the VS installation. But since it's not fo

[2019-05-30 22:23] Anipik commented on #38001
yes for ```MonitoringTotalProcessorTime``` its always like first call.

sorry I missed that we are only using  lastRecordedUserTime. But would it make then make sense to just right an interop for this function https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_time.c#L154

Btw the assert error is due to the overflow that I mentioned https://github.com/dotnet/corefx/issu

[2019-05-30 22:23] tarekgh commented on #37929
@joperezr would you do that for all recently added packages?

[2019-05-30 22:25] stephentoub commented on #38001
I considered it, but this method is really just a compat implementation and performance here is not critical, and as such I preferred to just use the existing function that does a bit of unnecessary work rather than carry around additional code that also needs to be maintained.

Great, that makes more sense.  Thanks for tracking it down :)

[2019-05-30 22:25] danmosemsft commented on #36723
We need to resolve this before shipping.

[2019-05-30 22:26] #35088 closed

[2019-05-30 22:28] VSadov commented on #29101
I think this is resolved in https://github.com/dotnet/coreclr/pull/24504

[2019-05-30 22:28] #29101 closed

[2019-05-30 22:28] Anipik commented on #38001
Okay then I will just fix the overflow error

[2019-05-30 22:29] carlossanlop commented on #38075
Related: I initially was running `build.cmd` by itself, but it seems we do not automatically detect the architecture, so we explicitly need to add `-arch x86`. Should I open a bug to add logic to Directory.Build.props that automatically detects the architecture?

Here are the lines that do this detection (credit to @wtgodbe for telling me where these lines were):
https://github.com/dotnet/corefx/b

[2019-05-30 22:31] PedroCavaleiro opened #38248 "ExtendedSocketException: nodename nor servname provided, or not known."
Hi,

I'm trying to send a mail using MailKit from my WebAPI but keep getting this error
On .NETCore 3:
ExtendedSocketException: nodename nor servname provided, or not known

And on .NetCore 2:
Device Not Configured

This error is what made me test the .NET Core 3
This is my current system configuration

OS: macOS Mojave (10.14.5)
.NET Core (SDK): 3.0.100-preview5-011568
.NET Core (Runtime): 3.0.0-

[2019-05-30 22:37] stephentoub commented on #38073
Why would you expect it to be faster?

[2019-05-30 22:43] tarekgh commented on #37343
@jshin47 I am closing this issue as there is no real action from our side. Feel free to send any more questions if you need any more help. Thanks for your report.

[2019-05-30 22:43] #37343 closed

[2019-05-30 22:56] safern commented on #38075
Yeah, I think we have two options here:

1.  Fallback to "%ProgramFiles%" if "%ProgramFiles(x86)%" doesn't exist or is not set.
2. Detect what arch we're running on and then set the _VSWHERE path correctly.

I don't think so, that is the architecture you want your binaries to target, so you could potentially build for 64 in a 32 OS bit and then distribute it and run it in a 64 bit. So I think the

[2019-05-30 22:58] safern commented on #38075
Marking as future as I don't think this is blocking 3.0 due to not being pretty common to build on a 32 bit OS.

[2019-05-30 23:03] rynowak commented on #32024
Sorry for the delay on this, I've been out of the office. You should be able to call `ConfigureAppConfiguration` and then inside there all `IConfigurationBuilder.Sources.Clear()`. https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Hosting/Hosting/src/WebHostBuilderExtensions.cs#L121

If you can show my how you're setting up `TestServer` I can probably give you some more specific advice.

[2019-05-30 23:23] safern commented on #38008
Marking as future since this is test code, not critical for 3.0. @joshudson thanks for figuring this out, would you be interested on putting up a PR to make our parsing more resilient here?

[2019-05-30 23:27] ericstj commented on #36498
I see internals access to ComNativeDescriptor in WinForms that would complicate pushing that type down, also seeing a non-trivial type closure of this type that would cause more types to be pulled down.  I haven't done a full analysis of that yet but it seems like a considerable amount of work that is risky since it would mean cross-repo collaboration.  Unless there is a customer ask to enable thi

[2019-05-30 23:28] fdbva commented on #38073
I think mostly because of Microsoft documentation about strings and their article about best practices [docs best practices](https://docs.microsoft.com/en-us/dotnet/standard/base-types/best-practices-strings#recommendations_for_string_usage)
Also, benchmark data enforces that, but I understand it may not be a valuable base for core.

Sorry for the short answer, I'm on my phone walking home. Tomorr

[2019-05-30 23:29] tannergooding commented on #34882
Updated the original post to match the proposal I e-mailed to the framework design review alias.

[2019-05-30 23:30] safern commented on #37956
Based on the conversation here: https://github.com/dotnet/wpf/issues/771#issuecomment-496608283 this is a duplicate of: https://github.com/dotnet/coreclr/issues/24705 -- which started flowing up the stack as of 2 days ago, so it is just a matter that it flows up to the SDK and then we produce a new daily build with this change.

Is there a simple way to repro? If there is a simple repro we could v

[2019-05-30 23:30] #37956 closed

[2019-05-30 23:37] bricelam opened #38078 "TypeDescriptor.GetAttributes() doesn't return multiples"
TypeDescriptor doesn't properly handle attributes with `AllowMultiple = true`.

Given a class like this...
[code]
...only the first instance of `CustomValidationAttribute` is returned:
[code]

This is blocking some validation scenarios in EF6.

cc @Pilchie @ajcvickers

[2019-05-30 23:39] safern commented on #36395
If I understand correctly you could always look at `Version.Details.xml` file in corefx and that will contain the commit sha that the dependencies were built from. For example, corefx master currently uses a corelib that its last commit was:

https://github.com/dotnet/corefx/blob/30ca4113ed07fc78060a0c9d3f95eee4fe8f8ee3/eng/Version.Details.xml#L5

[2019-05-30 23:44] safern opened #38080 "System.Drawing.ImageConverter cannot convert from System.Drawing.Icon"
Transfered from: https://github.com/dotnet/winforms/issues/985

Minimal repro:

Create a Winforms .NET Core app.

Add following code into Form.cs file.
[code]

Make a breakpoint at this code line: Object result_obj = myObj.ConvertFrom(test_Icon);

Run the app.

@Anipik maybe you could help with this one?

It seems like we missed this when porting: https://referencesource.microsoft.com/#System.Draw

[2019-05-30 23:45] Anipik commented on #38080
sure I will take a look into it

[2019-05-30 23:50] steveharter commented on #31485
@hughbe is this still occurring?

Reflection emit is supported on netfx, so perhaps you have an AOT System.Reflection assembly (which throws PNSE in release mode).

Moving to future; likely not a product issue.

[2019-05-30 23:53] Anipik opened #38082 "Enabling the incremental build for Native projects as well"
Currently if we make a change in the native proj, we have to  build from the root in order to get the changes.
We should enable incremental build for the native projects as well.

cc @ericstj

[2019-05-30 23:56] steveharter commented on #29254
Proposing moving to 3.0 unless someone picks this up.

[2019-05-30 23:59] terrajobst commented on #37691
Tagging @adamsitnik as Dan assigned him to take a look

[2019-05-31 00:00] safern commented on #38080
Thanks 😄 -- assigned.

[2019-05-31 00:02] safern commented on #32987
Thanks, @hernot. I've marked as api-ready-for-review.

[2019-05-31 00:06] JeremyKuhne opened #38084 "NegotiatedCipherSuiteTest timeout test failures"
System.Net.Security.Tests.NegotiatedCipherSuiteTest had a number of timeout exceptions (Alpine run):

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38039~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190530.55/workItem/System.Net.Security.Tests

NegotiatedCipherSuite_SslProtocolIsLowerThanTls13_ShouldMatchTheProtocol(protocol: Tls)
NegotiatedCipherSuite_SslProtocolIs

[2019-05-31 00:12] vcsjones commented on #38078
Perhaps related to or already fixed by  #37261?

[2019-05-31 00:33] noahfalk commented on #37966
Both techniques are usable in-proc, the primary difference is that EventSource requires all the logging data passing through it is serializable whereas DiagnosticsSource allows passing object references directly with no serialization. If serialization is OK EventSource + EventListener should work well. If you need to pass around object references DiagnosticsSource + DiagnosticsListener fills that

[2019-05-31 00:43] joshudson commented on #38008
@safern: PR is already up.

[2019-05-31 00:55] ahsonkhan commented on #38043
I don't see any calls to the `JsonSerializer` here.

cc @pranavkm, @rynowak

[2019-05-31 00:57] stephentoub commented on #38073
`EqualityComparer<string>.Default` might have a different concrete type than `StringComparer.Ordinal`, but it has the same semantics in that the default equality comparer for strings is ordinal case-sensitive, just like `StringComparer.Ordinal`.  In .NET Core, for safety reasons, both use randomized hashing, which helps avoid collision attacks.  But when a `Dictionary<>` is constructed without a c

[2019-05-31 01:17] onovotny opened #38085 "Preview 6 regression with AddRange on ICollection/Collection"
When updating the SDK from Preview 5 to the latest Preview 6 nightly (3.0.100-preview6-012131) and recompiling my app, I started getting runtime exceptions in `ListCollectionView` due to changes in `AddRange`.

I have an extension method keyed on `ICollection<T>` called `AddRange` that accepts an `IEnumerable<T>`. It loops over the items and calls `Add(T item)` on the collection. I believe this is

[2019-05-31 01:25] pranavkm commented on #38043
MVC is serializing the `IEnumerable<Guid>` on behalf of the user. An equivalent test would be:

[code]

[2019-05-31 01:33] bricelam commented on #38078
Probably. I’ll try again on a build with that fix.

[2019-05-31 01:46] terrajobst commented on #36222
@jcouv @jaredpar any reason why we shouldn't add the `NullableAttribute` to CoreFX? If so, would you mind submitting a PR or at least provide the API surface?

[2019-05-31 01:59] ahsonkhan commented on #38043
This test passes, so I am not sure what the issue is here.
[code]

[2019-05-31 02:28] bricelam commented on #38078
Negative. Still failing with System.Private.CoreLib version 3.0.0-preview6.19280.1 which includes that commit.

[2019-05-31 02:29] pranavkm commented on #38043
@ahsonkhan this was reported using preview5 builds. Perhaps the issue has since been fixed.

[2019-05-31 02:30] KindOfANiceGuy commented on #16829
@krwq So it would appear that the CanonicalXmlEntityReference class is completely encapsulated. There's no API we can access from outside the assembly. Following your suggestion from above, I compared it with the version in the .NET Framework. It didn't look like there was very much difference in the way it had been implemented, and is basically internal all the way up the chain. So looks like thi

[2019-05-31 02:44] VBAndCs opened #38086 "Create visual designer for TPL dataflow"
The system.threading.tasks.dataflow namespace allow defining tasks as a network of linked blocks. I think using it will be easier if we can use a visual designer to define the blocks, link them and configure there properties, then the designer produces the code, so we can only focus on the code we write inside each block (double-clicking the block entity in the designer should open the related met

[2019-05-31 02:46] stephentoub commented on #38086
That would be a fine project for someone to work on.  But corefx generally isn't the right place for such tooling, and I don't see that being a priority any time in the foreseeable future.

[2019-05-31 02:59] VBAndCs commented on #38086
@stephentoub
I know it needs to be a part on VS.NET and VSCode to be used with any type of project, but the nuget refers to this repo as the project site.

It can simplify concurrent programming, make the code more readable, and apply the separation of concerns principal.

[2019-05-31 03:07] terrajobst opened #38087 "Expose top-level nullability information from reflection"
With C# 8, developers will be able to express whether a given reference type can be null:

[code]

(Please note that existing code that wasn't compiled using C# 8 and nullable turned on is considered to be unknown.)

This information isn't only useful for the compiler but also attractive for reflection-based tools to provide a better experience. For example:

* **MVC**
    - Provides a way to auto

[2019-05-31 03:27] aaronfranke commented on #37795
In case this idea is accepted, I updated [my branch](https://github.com/aaronfranke/corefx/tree/tuple-create-more) to expand ValueTuple as well, and I upped it to 21 arguments to match `.ToTuple()`'s limit. Note that it doesn't update in [the PR](https://github.com/dotnet/corefx/pull/37790) due to it being closed.

[2019-05-31 03:33] terrajobst commented on #38086
Yeah, this request doesn't belong here. We wouldn't be the ones building it. So tracking it here doesn't make much sense either. So I'm closing it.

[2019-05-31 03:33] #38086 closed

[2019-05-31 04:03] rynowak commented on #38087
What's the behaviour with a value type? Does this include reflecting the effect of `Nullable<>` as well?

[2019-05-31 04:04] mattwar commented on #38087
Are these really static methods?  Shouldn't they have a parameter then?

[2019-05-31 04:18] ccic commented on #38050
After creating a new Ubuntu 18.04, install dotnet core 2.2, and dotnet core 3.0 preview nightly, I saw the issue disappeared and get the following data with dotnet core 3.0 preview nightly

1000 iterations: 00:00:01.4288970
1000 iterations: 00:00:01.2398440
1000 iterations: 00:00:01.2450654
1000 iterations: 00:00:01.2414768
1000 iterations: 00:00:01.3235624

After diagnostic by using "strace", I f

[2019-05-31 04:20] ccic commented on #38050
Anyway, I found on windows it is ~10X faster than on Linux. Is it possible to improve further on Linux?

On windows with dotnet core 2.1.504
1000 iterations: 00:00:00.9194700
1000 iterations: 00:00:00.1349630
1000 iterations: 00:00:00.1310108
1000 iterations: 00:00:00.1288279
1000 iterations: 00:00:00.1361873

But on Linux with dotnet core 3.0.100-preview6-012026:
1000 iterations: 00:00:01.4288970

[2019-05-31 04:22] safern commented on #38087
What if we just make Type have a GetNullableState? That way we just access the return type or the parameter type that way we just get the info from there.

Also, for PropertyInfo, we can have a NullableState on the setter and on the getter depending if we have an attribute. I.e

[code]

That will have a nullable input but a non-null output.

[2019-05-31 04:30] bartonjs commented on #38050
Possibly, but there's not another known/suspected easy win... and given the time remaining in 3.0, and the outstanding bugs, there's not really time (for me) to look further in this release.

[2019-05-31 04:53] aaronfranke commented on #22940
Where can we find documentation on how to use intrinsics? I can see that the `[Intrinsic]` attribute is used in [`Vector2_Intrinsics.cs`](https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Vector2_Intrinsics.cs), but also in [`Vector2.cs`](https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Vector2.cs), and I'm not

[2019-05-31 05:15] bartonjs commented on #29294
Windows suggests that this error code mostly means there's a disk problem (e.g. disk full).  If the frequency has started to pick up on this then perhaps our Windows 8.1 machines/images need some sort of cleanup.

[2019-05-31 05:16] ahsonkhan commented on #36974
Re-opening since the (de)serializer work is still left. The APIs have been added.

[2019-05-31 05:38] safern commented on #38008
Thanks, I completely missed it on the thread, but just saw that you linked it. Thanks 😄

[2019-05-31 05:56] ericstj commented on #38082
Agree this would be nice to have, moved to future since these CMake scripts have had this behavior since 1.0 and nothing should be forcing us to do this now.  I'm not sure how incremental CMake is, but others who are familiar are free to pick this up. /cc @ViktorHofer @safern

[2019-05-31 06:13] ericstj commented on #36452
Current plan is that source build folks will produce a reference package for these.

If that doesn't work out we can use the 2-phase process we are relying on for GenAPI to handle this.

[2019-05-31 06:13] #36452 closed

[2019-05-31 06:17] ericstj commented on #35821
ATM this doesn't account for the per-configuration case since I imagine those have more nuanced requirements.

[2019-05-31 06:27] ericstj commented on #35610
Ping: do you imagine adding this attribute to our reference assemblies will constrain API design in the future?

[2019-05-31 06:32] ViktorHofer commented on #38082
Duplicate of https://github.com/dotnet/corefx/issues/29778

[2019-05-31 06:32] #38082 closed

[2019-05-31 06:33] ViktorHofer commented on #29294
@MattGal disk space problems on win81 (see above). Can you please verify?

[2019-05-31 06:33] terrajobst commented on #38087
@rynowak

They would return `Unknown` right now. We could add an enum member `NotApplicable` that we return for non-reference types or throw `InvalidOperationException`. We could also handle those, but this feels wrong because nullable value types are actually different types.

@mattwar

Sigh. No, I wrote up a sample project to test this and I used extension methods and then I didn't fix it when c

[2019-05-31 06:38] ericstj commented on #32539
Here are the packages I see that should be part of this:
System.ComponentModel.Composition.Registration
System.Reflection.Context
System.Reflection.Emit*
System.Runtime.WindowsRuntime*

@safern can you add these to the package?

[2019-05-31 06:47] ViktorHofer commented on #30812
This is about setting the TFM to netstandard2.1. The current netstandard 2.0 tfm is a throwing one.

[2019-05-31 06:49] ericstj commented on #29549
Given we see that we're working with Arcade's version suffix logic I don't see an immediate action here for us.  @mmitche if you come up with something that we have to react to in order to facilitate some stable-commit process let us know.

[2019-05-31 06:49] #29549 closed

[2019-05-31 06:51] RussKie opened #38130 "The name 'fontFamily' and 'fontSize' do not exist in the current context"
* .NET Core Version:
[code]
* Have you experienced this same bug with .NET Framework?: **No**

**Problem description:**

I speculate, but it looks like a debugger visualiser for `Font` may be broken - it expect `familyFont` and `fontSize` which are absent.
I don't believe it is a WinForms issue per se, but I was unable to trace the source of the issue.

**Actual behavior:**

While testing dotnet/w

[2019-05-31 06:52] ccic commented on #38050
@bartonjs All right. I know you need to prioritize your tasks for 3.0.
When will the 3.0 preview 6 release? I'd like to try it on my service.

By the way, I'd like to share the lesson I learn for this issue. Somebody else may encounter the same issue.

**Symptom:**
x509 certificate verification is too slow, CPU usage is low (<5%), "iftop" indicates it downloads something from internet during runni

[2019-05-31 06:57] chucker commented on #38087
They are, but on a source level, C# abstracts the difference away. Maybe introduce something like ValueNull and ValueNotNull as additional enum values. That way, the distinction is still prominent, but it’s also not a runtime surprise (a.k.a. exception) that these won’t be handled.

[2019-05-31 07:45] AaronRobinsonMSFT commented on #35610
@ericstj  Nope. I don't see any reason these can't be kept if analyzers have a need.

[2019-05-31 07:46] maryamariyan commented on #37823
Prepared and merged https://github.com/dotnet/corefx/pull/38090 ignores oledb tests temporarily while the fix for oledb is underway.
(to help track other outerloops results better)

[2019-05-31 08:22] xxfroxx commented on #32751
Just to put in my two cents... I have the same issue and as it is written in the error message below, the cert of the web server I'm trying to pull data from is indeed invalid.

[code]

You should notice that when you use any browser against the site or repo you connecting to, the browser should have the message `certificate invalid`.

According to my research, Why is this happening?.

1) The web

[2019-05-31 08:54] AriNuer opened #38092 "Test failure: System.Text.Json.Serialization.Tests.ObjectTests/Write(testObj: JsonElementClass { Array = , False = , Number = , Object = , String = , ... })"
Test `System.Text.Json.Serialization.Tests.ObjectTests/Write(testObj: JsonElementClass { Array = , False = , Number = , Object = , String = , ... }) `has fail.
Message :
[code]
Stack Trace :
[code]

Build: Master - [20190530.71](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190530.71)

Failing configurations:

- Alpine.38

[2019-05-31 08:55] iSazonov opened #38093 "Issue with System.Management.ManagementClass in 3.0 Preview5"
Come from https://github.com/PowerShell/PowerShell/issues/9780

Repo on PowerShell:
[code]

I guess it is here:
https://github.com/dotnet/corefx/blob/2746a21357470e3da9e3e9222f2da350c9e5dd3a/src/System.Management/src/System/Management/ManagementPath.cs#L321

https://github.com/dotnet/corefx/blob/000aa2e0740524bdc2db690201e1b3521dd417a3/src/System.Management/src/System/Management/InteropClasses/WMI

[2019-05-31 08:59] MichalStrehovsky commented on #38087
Why not just make these extension methods and stash them away somewhere in the `System.Diagnostics.CodeAnalysis` namespace? Or better yet, in a NuGet package shipped out of the Roslyn repo - since their meaning is defined by the C# compiler?

These annotations don't have a meaning to the runtime and reflection itself doesn't respect them in `MethodBase.Invoke` or `FieldInfo.SetValue` - it feels od

[2019-05-31 09:03] MarcoRossignoli commented on #38092
Again here https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38061~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190531.3/workItem/System.Text.Json.Tests/analysis/xunit/System.Text.Json.Serialization.Tests.ObjectTests~2FWrite(testObj:%20JsonElementClass%20%7B%20Array%20=%20,%20False%20=%20,%20Number%20=%20,%20Object%20=%20,%20String%20=%20,%20...%20%7D)

[2019-05-31 10:20] JonPSmith commented on #33115
Two questions from a EF Core user.

1. Will `System.Text.Json` support circular references? Circular references can occur in EF Core data where there are navigational links going both ways between classes. Json.NET handles this with settings like
[code]
2. With the rise of DDD-styled classes with private setters and private constructors can `System.Text.Json` deserialize these types of classes?

[2019-05-31 10:24] svick commented on #38073
@stephentoub What if `Dictionary<T>` used the same tricks for `StringComparer.Ordinal`?

The `Comparer` property has to behave differently for the two comparers in question, but I think that could be done by turning `NonRandomizedStringEqualityComparer` from singleton to "doubleton".

This would add one reference equality check to the constructor and one field access to `Comparer`, but those costs

[2019-05-31 10:28] stephentoub commented on #38073
If it can be done without breaking anything, without measurable overheads, and with measurable improvements, sure.

[2019-05-31 10:53] gfoidl commented on #36974
this means data -> base64 -> escaping?
If so, are there any plans to go data -> escaped base64? This would be better perf-wise (especially for large(r) data), as it's O(n) instead of O(2n).

[2019-05-31 11:50] Wraith2 commented on #37966
I intend for my data to be serializable and not to pass around complex types so I could use EventSource but having looked around I'd seen recommendations that diagnostics activities were the way to do this since it can be bridged backwards. I could rework on event source but that required writing an event source class for each use case and that feels like a step backwards in usability.

I'm workin

[2019-05-31 11:51] gfoidl commented on #38049
Just for reference: https://github.com/mono/libgdiplus/issues/552

[2019-05-31 12:01] GeorgeAlexandria opened #38094 "ImmutableHashSet<T>.SetEquals has redundant counter"
Hello,

The implementation of [ImmutableHashSet\`T.SetEquals](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableHashSet_1.cs#L744) use redundant [`matches`](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableHashSet_1.cs#L754) counter. This counter is redundant

[2019-05-31 12:40] roji commented on #38087
See https://github.com/dotnet/csharplang/issues/2384 for this at the language level. @terrajobst users could call `PropertyInfo.GetGetMethod()` and check there, but what would be the result for a call to `GetNullableState()` directly on a `PropertyInfo` which has different nullability settings for getter and setter?

I think the idea here is that these attributes are meaningful to various reflecti

[2019-05-31 12:49] roji commented on #30426
@bgrainger I agree.

FWIW for Sqlite doing async there would mean plumbing that through native, which indeed seems like a lot of effort/complexity with not that much necessary gain. Oracle's driver really has no excuse.

[2019-05-31 13:03] jkotas commented on #38093
cc @jkoritzinsky

[2019-05-31 13:17] stephentoub commented on #38092
Again here:
https://dev.azure.com/dnceng/public/_build/results?buildId=206868&view=ms.vss-test-web.build-test-results-tab&runId=5025142&resultId=257238&paneView=debug

[2019-05-31 13:25] stephentoub commented on #35239
Essentially we'd be trading one bug for another.  By setting AllowRenegotiation to false, we respect the HTTP/2 spec and treat renegotation requests as errors, but if we downgrade to HTTP/1.1 then valid renegotation requests will be denied.  By not setting AllowRenegotation to false, we respect erroneous renegotation requests from a non-complaint server, and if we downgrade to HTTP/1.1 then valid

[2019-05-31 13:41] ygini commented on #24843
Upvoting this feature request

[2019-05-31 14:01] tannergooding commented on #38087
These attributes are not only going to be respected by the C# compiler, they are also going to be understood and consumed by other nullable aware languages (such as F#).

I would also say that, regardless of whether or not the runtime treats these attributes specially, the overarching ecosystem ultimately will, which I believe is the important point here. These attributes (and others like the `unm

[2019-05-31 14:01] dmiller02 commented on #37044
Hi we hit this issue on a .net core 2.2 application running on Azure Linux Kubernetes. We tried using .net core 3 and while this improved some of the issues we still consistently hit this error. Our investigations found that the HttpClient wasn't releasing ports despite the clients being disposed. Though when running in windows the client was releasing the ports. We updated our dependency injectio

[2019-05-31 14:11] stephentoub commented on #37044
Got a repro you can share?

[2019-05-31 14:22] dmiller02 commented on #37044
Sorry, unfortunately not.

These are the pages we found that helped us:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2
https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests

[2019-05-31 14:39] theimowski commented on #37949
I ended up using MMI - seems to do the job when .NET Framework is not in the newest version.
I don't think I'll come back to diagnosing why System.Management didn't work, installing Visual Studio on client machine just to trace the issue is not very convenient for me.
The issue can be closed now

[2019-05-31 14:52] karelz commented on #37949
You don't need to install VS to track down problems, but happy to close it ...

[2019-05-31 14:52] #37949 closed

[2019-05-31 14:56] karelz commented on #37044
@dmiller02 are you in position to get back into bad state and help us collect some logs?

[2019-05-31 15:06] steveharter commented on #38092
@JeremyKuhne can you take a look please.

[2019-05-31 15:17] dmiller02 commented on #37044
Shouldn't be too difficult. We have the images for the service in question and can re-create the error.
What logging would you need?

[2019-05-31 15:17] #38001 closed

[2019-05-31 15:24] fume commented on #33596
Any chance to have a better Exception message? The actual one is of course misleading...

thanks, regards

[2019-05-31 15:25] karelz commented on #37044
@wfurt @stephentoub what kind of logs may help us confirm what is going on, on Linux?

[2019-05-31 15:26] danmosemsft commented on #37691
@mjsabby  is right, it's significant enough we should investigate.

[2019-05-31 15:26] ericstj commented on #35610
Ok. Will remove suppression

[2019-05-31 15:30] MarcoRossignoli commented on #33596
@fume understand if issue is related to corrupted state due to concurrency is very hard if not impossible sometimes(in my experience)...for this reason usually on doc you found "access in non thread safe manner could lead to undefined behaviour" too much possible states.

[2019-05-31 15:30] MichalStrehovsky commented on #38087
To be clear, my question is not whether we need an API that provides this functionality - but whether such API should be on `ParameterInfo` and friends. Since this is adding non-virtual methods (not properties), my expectation is that this API is not going to do any caching - so it doesn't really _need_ to be an instance method.

We could easily stash this API away in e.g. System.Reflection.TypeEx