[2017-07-14 18:34] brunin2509 commented on #22229
Sure, I think I can do that! Thanks for the reply!

[2017-07-14 18:34] DGilliesMS commented on #21379
Looks like it may be calling convention converter issue.  DavidWr is going to have a look.  Here are some details from an email (and skype) thread between DavidWr, Fadi and me:

So I believe that this what is expected:
Int8, int16 – sign extend to 32 bits.
Uint8, uint16 – zero extend to 32 bits.  I believe this includes Boolean representation (a uint8 essentially).
I don’t think 64 bits changes th

[2017-07-14 19:17] CZEMacLeod commented on #14529
Our codebase has a lot of references to `System.Runtime.Caching`, including `System.Runtime.Caching.ChangeMonitor`. Any progress on this item as this is one of our major sticking points with migrating to NetStandard

[2017-07-14 19:50] AlexGhiondea commented on #21392
Marking this as post-zbb since we depend on a fix from Windows.

[2017-07-14 19:51] ghost opened #22276 "IOException message for ERROR_SHARING_VIOLATION should say which process ID(s) are holding the file"
It would be great that instead of saying:

The error message would be:

Originally by @stephentoub had written code that could do this for the article "Restart Manager and Generic Method Compilation"
https://msdn.microsoft.com/sl-si/magazine/mt149362?author=stephen+toub
https://web.archive.org/web/20140403112957/https://msdn.microsoft.com/en-us/magazine/cc163450.aspx

[2017-07-14 20:13] sfmoloney commented on #19914
@marek-safar @ericstj  Hi guys I was wondering if know if we have a resolution to the issue raised here ... e.g. the missing method.

[2017-07-14 20:13] davidsh commented on #22256
This test wasn't supported to run on Windows 7.  It's only supposed to run on Windows 10 versions that support the DHE cipher suites fix:

[code]

[2017-07-14 20:16] geleems commented on #22236
@EgorBo
Can you switch the `SQLEXPRESS` instance TCP port back to 1433, and try this connection string: `string cs = @"Server=.\SQLEXPRESS1111;` with `Native SNI` and  with SQL Server Browser ***off*** ?

If it still able to connect to SQL Server instance `SQLEXPRESS`, then it seems `Native SNI` trys 1433 when port resolution fails.
If it cannot connect, then it seems there is a cache that stores

[2017-07-14 20:17] davidsh commented on #22256
It is almost like the `ConditionalTheory` attribute isn't working.

[2017-07-14 20:18] davidsh commented on #22256
Looks like this test is running in the 2.0.0 release branch.  We only disabled those tests in the master branch.

[2017-07-14 20:18] davidsh commented on #22256
Duplicate of #7812.

[2017-07-14 20:18] #22256 closed

[2017-07-14 20:36] corivera commented on #21323
Looks like this only happens when using Encrypt=true in the connection string

[2017-07-14 20:49] caesar1995 commented on #22066
It's not possible to implemente all Stream.*Async overrides in HttpListener. For
[code]
we cannot override inherited member 'Stream.ReadAsync(byte[], int, int)' because it is not marked virtual, abstract, or override.

We are able to override the [`public virtual Task<int> ReadAsync(Byte[] buffer, int offset, int count, CancellationToken cancellationToken)`](https://github.com/dotnet/corert/blob/m

[2017-07-14 21:13] davidsh commented on #22066
You can have 3-parameter method call the 4-parameter method like this:

[code]

[2017-07-14 21:18] caesar1995 commented on #22110
There are 5 tests in HttpResponseStreamTests.cs disabled with this issue.

I will look into it.

[2017-07-14 21:29] #20033 closed

[2017-07-14 21:42] CIPop commented on #19583
@DavidGoll @Diego-Perez-Botero I believe we've pinned this down to ICMP API bugs in the OS: some of the Win32 APIs are not properly working in an AppContainer.
This explained why we're not seeing the bug in UAPAOT - since it's not running in an app-container (i.e. #18760).

@Diego-Perez-Botero are you going to disable the tests against this issue (right now they are disabled against the epic).

[2017-07-14 21:47] Diego-Perez-Botero commented on #19583
Correct - IcmpCreateFile is failing with **E_ACCESSDENIED** when running inside an AppContainer. This is an OS issue and there's no workaround; we'll need to wait for the OS folks to fix it.

I'll go ahead and disable the tests against this issue.

[2017-07-14 21:48] CIPop commented on #22110
@caesar1995 /cc @DavidGoll @jkotas @stephentoub
There's some chance this is caused by the same reason here: https://github.com/dotnet/corefx/issues/22066#issuecomment-315242374 - If Stream is not able to figure out that we have Begin/End defined, it will fall-back to synchronous I/O which in turn may create random deadlocks within tests using async/await.

On top of that, the tests are already kno

[2017-07-14 22:08] weshaggard commented on #22211
We are still going through the motions of getting this into .NET Core 2.0 SDK but if you want to unblock yourself right now you can add a PackageReference to NETStandard.Library.NETFramework 2.0.0-preview3-25514-04 (https://dotnet.myget.org/feed/dotnet-core/package/nuget/NETStandard.Library.NETFramework/2.0.0-preview3-25514-04) you will need to add our myget feed (http://dotnet.myget.org/F/dotnet-

[2017-07-14 22:12] caesar1995 commented on #22110
@CIPop I have finished implementing Stream.*Async overrides in HttpResponseStreamTests.cs

The good new is, the tests will pass on my machine without hanging.

I will continue my work towards HttpRequestStreamTests.cs.

[2017-07-14 22:23] SteveL-MSFT opened #22280 "[System.Diagnostics.Process]::Start() different behavior from FullCLR"
Repro:
Pass `c:\` as the process to start

[code]

Expected:
With FullCLR (I'm using 4.7.02531 on Win10) it will open that folder in explorer

Actual:
If you do the same with 2.0.0-preview2-006502 you get Access Denied.
This causes a regression in PowerShell https://github.com/PowerShell/PowerShell/issues/4252

[2017-07-14 22:26] roji commented on #8955
FYI I'm working on implementing this within Npgsql, I'll be coming back with some info pretty soon.

[2017-07-14 22:29] stephentoub commented on #22280
Regression from when running on what, .NET Framework or .NET Core 1.x?

Have you tried setting UseShellExecute to true explicitly? It's false by default in core, by design, as true can't work on some platforms.

[2017-07-14 22:31] brianrob commented on #20589
@corivera, the issue here is that assemblies in CoreFX are reflection blocked for any non-public surface area.  This would imply that your EventSource type is non-public.  There are three choices that you can make here:

1. Add the EventSource to the EventSource IL transform in ProjectN TFS (see ProjectN\ndp\pntoolchain\Microsoft.NetNative.ILTransform\Transforms\EventSourceTransform.cs).  Look at

[2017-07-14 22:32] tijoytom commented on #22222
@safern
System.Runtime.Test fails with a nutc issue and is tracked by TFS:464118
System.Linq.Expressions seems to be fine on my localmachine with the latest bits

[2017-07-14 22:37] safern commented on #22222
System.Linq.Expressions still failed to ILC in todays build. When are your latest bits from? Are they running in helix against them yet?

[2017-07-15 00:00] SergeyKanzhelev opened #22284 "[DiagnosticsSource] http correlation protocol should not force to make Request-Id unique"
Http correlation protocol is designed defensively to protect from bad callers. Many tracing systems are used in enclosed systems with trusted callers. These systems may benefit having shorter identifiers.

Proposal is to
1. change protocol description and
2. provide a way to enable "trusted callers" mode in built-in .NET instrumentation

[HTTP Correlation Protocol](https://github.com/dotnet/corefx

[2017-07-15 00:09] #22280 closed

[2017-07-15 00:16] pjanotti commented on #21156
There is also the path via another API to be added to UWP but that API is not ready yet.

[2017-07-15 00:29] 4creators commented on #16835
I have created a [C# `const keyword` extended usage proposal](https://github.com/dotnet/csharplang/issues/744) as a one of the possible solutions to enforcing compile time constant usage in some methods overloads. I think it's clean, intuitively easy to understand since it is still well known keyword used in the very same way but in new places and very easy to implement.

[2017-07-15 00:59] justinvp commented on #22066
This is the [implementation](https://github.com/dotnet/corert/blob/ff7eba504516fa0bc0a50357ad559c19b45d1d51/src/System.Private.CoreLib/src/System/IO/Stream.cs#L242-L245) of the 3-parameter overload on `Stream`:

[code]

It is not virtual and just calls the 4-parameter overload, which is virtual.

If you want to change the behavior of `ReadAsync` in a subclass of `Stream`, all you need to do is ove

[2017-07-15 01:13] geleems commented on #22184
@Unvilon
I tried to reproduce the issue you experienced, but I could not reproduce the issue.
I tried multiple times, but could not find any issue about it.
***
My environment is:
* Ubuntu 16.04 LTS
* SQL Server 2017 CTP 2.1
* .NET Core 2.1 build 73cc12351901873e19b905283bc727c3b5f29fe6

My test code is:
[code]
And Console output is:
[code]

[2017-07-15 02:44] richlander commented on #14529
I have also used this type in my apps. I upvoted.

[2017-07-15 03:11] PinpointTownes commented on #22211
I can confirm it works amazingly fine when adding a reference to the latest `NETStandard.Library.NETFramework` package: https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-openidconnect-server/build/1.0.0-rtm-1266#L558! :tada:

Thank you very much for your help and your time (... and for convincing your colleagues it was worth fixing this bug so late :sweat_smile:).

![](https://media.g

[2017-07-15 03:29] davidsh commented on #22251
@brianrob @vancem Can you take a look at this?  The `InvalidCastException` is really coming from the ApplicationInsights code which is using information generated by the Diagnostics.

[2017-07-15 07:50] karelz commented on #22211
Reopening to track the release/2.0.0 branch port. @weshaggard feel free to close it (and update milestone) if you don't get it through ...

[2017-07-15 07:52] karelz commented on #22256
Moved to 2.1 as it was not addressed in 2.0 yet.

[2017-07-15 07:54] karelz commented on #19583
Does it impact the product, or only tests? (it is marked as test enhancement)

@Diego-Perez-Botero did you start the discussion with OS API owners to address it in RS3? Do you have a bug #?

[2017-07-15 07:57] SpocWeb opened #22292 "System.IO.Compression.ZipArchiveEntry: Add Crc32 Property"
ZipArchiveEntry should get a "Crc" Propery.

# Rationale and Usage
ZIP Files are frequently used as a Backup Medium. To rapidly check the ZIP Contents against other File-Copies it would be most efficient to expose the already existing _crc32 Field as a Read-Only Property.
This would save having to extract and compare File Contents Byte-wise when checking whether a File has different Content.

# Pr

[2017-07-15 09:17] ysmoradi opened #22293 "How can I detect my code is running on top of .net core?"
[code]

Thanks in advance.

[2017-07-15 10:31] ConductedClever opened #22294 "Detected package downgrade"
Hi. I have encountered the following issue.

`Detected package downgrade: Microsoft.NETCore.App from 2.0.0-preview3-25514-02 to 2.0.0-preview2-006497`

while executing `dotnet restore` over a project with following csproj:

[code]
I am doing something wrong?

[EDIT] Fixed formatting as xml - @karelz

[2017-07-15 11:18] svick commented on #22293
The option that comes to mind is to check for the `System.Runtime.Loader.AssemblyLoadContext` type, which exists in .Net Core, but not in .Net Framework:

[code]

Though I don't know if there are any guarantees this will work the same in the future.

[2017-07-15 11:26] davidsh commented on #19583
It is a product issue.  We are working with the Windows team to get it fixed.  It is an OS bug.

[2017-07-15 14:17] karelz commented on #19583
Switching to bug in that case. What is the impact of the bug? How many apps / APIs will be broken?

[2017-07-15 14:27] hughbe commented on #20711
I've just sent in a PR for BufferGraphics: https://github.com/dotnet/corefx/pull/22298

That's gonna be my last system.drawing pr for a couple of weeks so feel free to grab anything else including Graphics.cs which is the last big area missing tests

[2017-07-15 16:20] bartonjs commented on #22211
https://github.com/dotnet/corefx/pull/22248 was merged (rel/2.0)

[2017-07-15 16:20] #22211 closed

[2017-07-15 16:36] SteveL-MSFT opened #22299 "[System.Diagnostics.Process]::Start() doesn't return error on Unix if fileName is directory"
Repro:

Using PowerShell:
[code]

Expected:
error that `/home` isn't valid or access denied

Actual:
New forked powershell process

[2017-07-15 17:25] stephentoub commented on #21922
@bartonjs, do we have any SslStream tests for cert revocation checking?  This test UseCallback_ValidCertificate_ExpectedValuesDuringCallback is a theory, and it's the checkRevocation:true calls that are failing.  I'm wondering if this is actually an SslStream bug related to revocation checking that we're only noticing now having turned on the ManagedHandler tests that use SslStream.

[2017-07-15 17:50] JonHanna opened #22300 "Microsoft.CSharp does not see interfaces as derived from object when doing member lookup"
A variant of #14752, with a related but not quite identical cause.

Given:

[code]

We would expect output of `True`, but instead we get a `RuntimeBinderException` with a message of

[2017-07-15 18:13] cydhaselton commented on #21503
Thanks everyone for the feedback and info. Given the requirements for the official pipeline build and that I'm probably the only one working the Android port at the moment I'm going to go forward with assumption Android won't be an official build.

Knowing this, I have another (hopefully final) set of questions:

1.  Are there examples of bring-ups (i.e. open issues, PRs) for  unofficial builds?
2

[2017-07-15 18:48] Unvilon commented on #22184
@geleems I'm not able to test it using the latest build (.NET Core 2.1) due to multiple issues I could not resolve. I will response when it is more stable.

[2017-07-15 18:53] karelz commented on #8158
Crypto area investments planned are now published: https://github.com/dotnet/designs/issues/11

[2017-07-15 18:54] JonHanna commented on #14752
Try again and you'll see it doesn't.

The problem is that in searching for methods and for types there is one place where the code expects `GetMembers` to include inherited non-overridden members, which it doesn't for interfaces, and two places that expects walking `BaseType` to expose the whole inheritance chain, which again it doesn't for interfaces.

[2017-07-15 18:56] karelz opened #22302 "Security crypto - Roadmap"
See https://github.com/dotnet/designs/issues/11

[2017-07-15 19:06] bartonjs commented on #21922
I'm not sure.  I don't think I wrote one, but I'd like to think they were already there.

I know that Apple does revocation checking differently.  (Which reminds me of their "Think Different" slogan).  They sometimes (for reasons I haven't been able to black-box deduce) don't bother checking CRLs, deciding that OCSP is the only way to go.  Then they report RevocationStatusUnknown, because they rea

[2017-07-15 20:34] Petermarcu commented on #21503
@cydhaselton , I have this on my todo list and will try to get you some answers soon. We've been having similar conversations with folks that want to bring Alpine up again. I'd like to make this easier and at least work towards having a checklist of how this can be done.

Are you saying you have android builds of coreclr and corefx? You will need at least the host from the core-setup repo. Once yo

[2017-07-15 20:59] cydhaselton commented on #21503
@Petermarcu Both CoreFX and CoreCLR can be built for Android-21. Additionally a PR has been merged to the CoreCLR repo that allows package builds for Android.

Are you talking about a native build of this repo?

[2017-07-15 21:01] Petermarcu commented on #21503
@cydhaselton yes. Thats where dotnet.exe and hostpolicy.dll are built which know how to launch .NET Core apps.

[2017-07-15 21:12] cydhaselton commented on #21503
@Petermarcu Ok I'll see what I can do to get core-setup building for android.
Last question for now: where do package builds fit in with this…i.e. are they necessary for a folder-based working runtime?

[2017-07-15 21:30] Petermarcu commented on #21503
The only complication I believe will be with Microsoft.NETCore.App.deps.json. That may need a little "hacking" but otherwise, the folder based layout should work. You need packages so support building a "self-contained" application but the packages aren't the ones from coreclr or corefx, there is a single package from core-setup that you would need that provides the runtime for android. We'll have

[2017-07-15 21:44] #21926 closed

[2017-07-15 21:46] #21875 closed

[2017-07-16 00:48] Eilon commented on #14752
@JonHanna you are some kind of genius!

[2017-07-16 02:23] JonHanna commented on #14752
@Eilon "Given enough eyeballs, all bugs are shallow." If I was really that much of a genius I would have found it in April ;)

[2017-07-16 02:52] stephentoub commented on #21922
@bartonjs, you were right about the status:
[code]
Is there anything we can do about this in the product code?  Or should I just change the test to skip the assert if revocation checking was enabled and it gets this error with this status and it's a mac?  Or something else?

[2017-07-16 05:42] MichalStrehovsky commented on #17232
These now have an approved attribute (`System.Runtime.CompilerServices.IsRefLikeAttribute`) that marks them. Maybe we can drop the *blocked* tag?

[2017-07-16 09:18] karelz commented on #22299
Does it repro in C# with `Process.Start("/home")` call?

[2017-07-16 09:21] karelz commented on #22294
@weshaggard is it more question for CLI repo?

[2017-07-16 09:29] karelz commented on #22293
I think you can use [`System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription`](https://apisof.net/catalog/System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription) API, which is part of .NET Standard 1.1+, also see [source code](https://github.com/dotnet/corefx/blob/c46e2e98b77d8c5eb2bc147df13b1505cf9c041e/src/System.Runtime.InteropServices.RuntimeInformation/src/Syst

[2017-07-16 11:07] KostaVlev opened #22309 "System.Drawing.Imaging.ImageAttributes.SetColorKey() is set but not applied."
I am writing test for `System.Drawing.Imaging.ImageAttributes` #20711:

        [ConditionalFact(nameof(PlatformDetection) + "." + nameof(PlatformDetection.IsNotWindowsNanoServer))]
        public void SetColorKey_Success()
        {
            using (var bitmap = new Bitmap(_rectangle.Width, _rectangle.Height))
            using (var graphics = Graphics.FromImage(bitmap))
            using (var

[2017-07-16 11:28] karelz commented on #22309
FYI: @hughbe @mellinoe

[2017-07-16 11:32] karelz commented on #22211
BTW: I added "Fixes \#abc" into the 2.0 PR ...

[2017-07-16 11:36] escamoteur commented on #5381
Why is this topic closed? Will we have to wait for v 2.0?
I'm trying to post a module of nancyfx to netstandard and miss Type.GetProperty

[2017-07-16 14:14] hughbe commented on #22309
From https://msdn.microsoft.com/en-us/library/windows/desktop/ms535429(v=vs.85).aspx sample code:

Ignoring the possibility i may be doing this C++ incorrectly, it looks as though this is a bug in GDI+.

[code]

In the sample code above, modified from the sample online, it shows that the C++ implementation looks broken.
I've sent @mellinoe an email with a GDI+ bug before and he wasn't sure the lib

[2017-07-16 16:18] michaelhkay commented on #2295
Great to see that this is on the agenda.

When thinking about an API for XPath 2.0 or XPath 3.1, do bear in mind that the type system is much richer than XPath 1.0. For example, an XPath 2.0 expression can return a sequence of strings, or a sequence of integers; an XPath 3.1 expression can also return a map or an array (or even a function!).  (So an API that's conceived entirely around the idea of

[2017-07-16 16:52] ConductedClever commented on #22294
I have found the solution. It was because of my weak understanding over package dependencies.
Now, the correct config is as follow:
[code]
The issue was two-sided. One was the mistake of using 2.0.0-* wildcard over version specifying. So that the latest packages got restored for preview3 but mine was preview2.
The second mistake was about the packages I was using with version 1.0.0. For example if

[2017-07-16 16:52] #22294 closed

[2017-07-16 18:43] jkotas commented on #16835
I do not think that it is a good idea to throw exceptions as performance warnings when the JIT is not able to perform given optimization. There are number of cases where the slow non-interpreted implementation is perfectly acceptable. For example, profilers and other similar diagnostic tools that instrument IL can modify the IL such that the JIT may not be able to detect the constant.

It is not u

[2017-07-16 23:38] arespr commented on #22103
Sequential guids compatible with Sql server implementation:
http://developmenttips.blogspot.com/2008/03/generate-sequential-guids-for-sql.html

[2017-07-17 01:17] redknightlois commented on #16835
@jkotas @mellinoe probably I am not understanding the root of the issue of immediate access instructions. But given that the latency for the immediate is 1 and the other case (register) is 3 in the worst case (on most relevant architectures at least), there is not such a big difference between one or the other. If the JIT can see the constant, fine, you issue the immediate instruction; if not, wel

[2017-07-17 01:43] dotnet-mc-bot opened #22316 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test/NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds failed with "System.Net.Http.CurlException : Failure when receiving data from the peer""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test/NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.
    ---- System.Net.Http.CurlException : Failure when receiving data from the peer

        Stack Trace:

           at System

[2017-07-17 02:11] Jiayili1 commented on #20223
Failed again on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170717.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DnsEndPointTest~2FSocket_StaticConnectAsync_HostNotFound

[2017-07-17 02:18] Jiayili1 commented on #20246
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170717.01/workItem/System.Net.HttpListener.Tests/wilogs

[code]

[2017-07-17 06:51] harshjain2 opened #22318 "Hang/Race-condition observed in Sockets"
We are using Sockets and using `BufferedStream` of size [8 * 1024](https://github.com/harshjain2/vstest/blob/fe6fbc50699511baf8bc838bfc23ff5278fb5de3/src/Microsoft.TestPlatform.CommunicationUtilities/SocketCommunicationManager.cs).

We are observing an intermittent hang because of which the test execution doesn't complete as expected.
Is this a known issue?
We tried debugging, but couldn't find an

[2017-07-17 07:03] Jiayili1 commented on #20223
Failed again on outerloop_netcoreapp_ubuntu14.04_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/111/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_StaticConnectAsync_HostNotFound/

[2017-07-17 07:06] Jiayili1 commented on #19344
Following test failed with same issue: System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest.SendAsync_ExpectedDiagnosticSourceUrlFilteredActivityLogging

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_debug/112/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticSourceUrlFilteredActivityLogging/

[2017-07-17 08:28] Jiayili1 opened #22321 "Failed to download package 'Microsoft.NETCore.Targets.1.0.1' in CI"
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/125/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_release/lastCompletedBuild/
Failed to generate the test report

/mnt/resource/j/workspace/dotnet_corefx/master/outerloop_netcoreapp_fedora24_release/Tools/dotnetcli/sdk/2.0.0-preview1-005977/NuGet.targets(97,5): error : F

[2017-07-17 11:11] karelz commented on #22321
@weshaggard @mellinoe any idea?
cc @danmosemsft

[2017-07-17 11:13] karelz commented on #22318
Which .NET Core version do you use? Latest 2.0 Preview 2? Daily 2.1 builds? Older 1.1/1.0?
Did you try to isolate the repro to a specific test case? The repo above has quite a bunch of tests :(
How often does it happen?

[2017-07-17 11:15] karelz commented on #22318
@stephentoub @geoffkizer did we fix anything in the area recently? I vaguely remember we had similar-ish hang issues in Sockets ...

[2017-07-17 11:25] karelz commented on #20903
@divega any update? It would be nice to push the API forward. Or do you want to wait for @saurabh500 to get back from his leave?

[2017-07-17 12:04] stephentoub commented on #22318
@harshjain2, there's a ton of code in that repo.  Do you have an isolated repro you can share?  We can't debug all of VSTest.  Without knowing more, my initial guess would simply be that if the buffered stream is sitting around the socket that you're not flushing everything you need to, but I've not actually looked at the code.

@karelz, not that I'm aware of.

[2017-07-17 12:04] karelz commented on #22090
Fixed in rel/2.0.0.0 branch in #22228.

[2017-07-17 12:06] karelz commented on #22205
One time failure, moving to 2.1

[2017-07-17 13:47] AtsushiKan commented on #16567
I've updated the top comment with my counter-proposal. Based on some prototyping, I think this is a proposal that can be easily implemented in a day or two, has an implementation that's 90% sharable between CoreCLR and CoreRT and is foundationally and conceptually sound. This is something I could take to api-review.

[2017-07-17 14:04] MSRiganti opened #22324 "GDPR + Always Encrypted"
Hi,

please read this EU regulation [GDPR](http://ec.europa.eu/justice/data-protection/reform/files/regulation_oj_en.pdf).

We will need functional support for SQL **Always Encrypted** before **25. may 2018** .

When it will be implemented in **EF Core**?
(Please, give it priority. It will be before 25 may 2018?)

Thanks

[2017-07-17 14:09] shaggygi commented on #22324
Probably need to move this issue to: https://github.com/aspnet/EntityFramework

[2017-07-17 14:50] HaloFour commented on #16567
I think it sounds pretty good.  Having the generic type parameters represented by special instances of `System.Type` should help to simplify resolution.

I am curious about the third-party type binder situation.  I've only ever dealt with `Type.DefaultBinder`.  Are you aware of instances where a custom binder has been used?  I assume that any such binder would have to be updated to support these n

[2017-07-17 14:58] 4creators commented on #16835
😆 Seems that our discussion is misplaced because of errors in [Intel Architecture
Instruction Set Extensions Programming Reference edition August 2015 319433-023](https://software.intel.com/sites/default/files/managed/07/b7/319433-023.pdf) which is the most recent reference published by Intel comprising SSE/AVX/AVX2 instruction set extensions. When compared to [Intel Architecture Instruction Set E

[2017-07-17 15:24] jhudsoncedaron commented on #22236
That would be correct, but I'm pretty sure the fallback mechanism is shared memory which is a royal pain in managed code and won't work when talking to another computer.

[2017-07-17 15:42] #21392 closed

[2017-07-17 15:45] vancem commented on #22284
Do you have a proposal for how we should update the standard?

My understanding of why this clause is in the standard is the following scenario

Machine A is processing Request with ID1.    It uses this ID1 as the ID for two request to two different machines, Machine B and Machine C.

Thus both B and C know that their 'parent' is ID1.  So far all is good.   However each in turn need to create chil

[2017-07-17 15:47] vancem commented on #22251
Including @SergeyKanzhelev from app-insights.

[2017-07-17 15:49] joperezr commented on #22252
cool I will disable all of these tests then

[2017-07-17 15:49] AtsushiKan commented on #16567
No, I haven't seen any such instance. I did note that as a possible extension point - if it actually turned out to be important to combine this feature with custom binders, we could expose some additional surface area to let them recognize and deal with signature types. (Basically, we'd expose the helpers I have in mind that would let the default binder deal with them.) I wouldn't be surprised if

[2017-07-17 15:52] divega commented on #20903
@karelz this is still sitting on my plate, I have just been busy with other things. Planning to come back to it next week.

[2017-07-17 15:53] Clockwork-Muse commented on #22103
Um, if you're trying to use sequential GUIDs on SQL Server, I'd probably just ask the server to create them.  Which would solve the uniqueness/concurrency problem (ie, running the given code from multiple machines is going to result in collisions, which might be costly).

Note that generating sequential ids is useful to avoid index fragmentation, and **not** to provide some ordering of data.  Row

[2017-07-17 16:12] EgorBo commented on #22236
@geleems @jhudsoncedaron
yeah looks like NativeSNI uses "Shared Memory" as a fallback protocol (Managed SNI doesn't).
SQLEXPRESS1111 doesn't work in both Native and Managed

.\SQLEXPRESS works in NativeSNI only if "Shared Memory" is enabled (when SQLBroswer is disabled).

[2017-07-17 16:17] KostaVlev commented on #20711
I am trying to write test for `ImageAttributes.SetOutputChannelColorProfile()`. The test looks like this:

        [ConditionalFact(nameof(PlatformDetection) + "." + nameof(PlatformDetection.IsNotWindowsNanoServer))]
        public void SetOutputChannelColorProfile_Name_Success()
        {
            using (var bitmap = new Bitmap(_rectangle.Width, _rectangle.Height))
            using (var graph

[2017-07-17 16:29] danmosemsft commented on #22264
This test name should be corrected `public void TestMainModuleOnNonOSX()` it is testing OSX also.

[2017-07-17 16:34] weshaggard commented on #6024
As a quick update to let folks know I've not forgotten about this issue. This is still on my list but right now we have a lot of folks on vacation and I'm on point for finishing our .NET Core 2.0 release which is my top priority. Once that settles down over the coming weeks I will get back to this.

[2017-07-17 16:38] weshaggard commented on #22321
Looks like a network timeout issue with nuget. I don't think there is much we can do with this.

[2017-07-17 16:38] #22321 closed

[2017-07-17 16:39] mellinoe commented on #20711
@KostaVlev Please submit a PR to this repository, where the TestData packages are produced.

https://github.com/dotnet/corefx-testdata

All you need to do is add the file to the correct folder, and then update the nuspec: https://github.com/dotnet/corefx-testdata/blob/master/System.Drawing.Common.TestData.nuspec.

[2017-07-17 16:47] krwq commented on #22299
Is it possibly ShellExecute=true? that would sound like vaild behavior then. Not sure what the value for that is by default on linux, if false then it's a bug

[2017-07-17 16:53] tannergooding commented on #16835
I believe, for a compiler feature, adding a `modreq isliteral` flag to the generated IL is the best route.

The runtime would still likely need to validate the parameter is a literal and throw if it is not (for manually implemented IL, or a compiler that ignores the modreq flag anyways).

[2017-07-17 16:53] mconnew commented on #21568
@Drawaes, using HttpClient directly, the 500's from behind a load balancer are easy to deal with. Dispose the old HttpClient and instantiate a new one. There is an overload of the [HttpClient ctor](https://source.dot.net/#System.Net.Http/System/Net/Http/HttpClient.cs,112) which takes an HttpClientHandler and a bool to say whether the HttpClientHandler should be disposed. With this, you can have a

[2017-07-17 17:04] caesar1995 opened #22328 "Undo Stream.*Async overrides in HttpResponseStream/HttpRequestStream"
PR #22282 is just a bandaid for lots of Stream-derived types in the wild don't override Read/WriteAsync.

Once Read/WriteAsync in Stream is fixed on ILC, the code should be undone.

[2017-07-17 17:10] caesar1995 commented on #22328
https://github.com/dotnet/corert/issues/4172

[2017-07-17 17:18] JeremyKuhne commented on #22245
@niustephanie Can you prep this for API review?

[2017-07-17 17:24] #22252 closed

[2017-07-17 17:24] #22253 closed

[2017-07-17 17:24] #22254 closed

[2017-07-17 17:30] Drawaes commented on #21568
does that kill the single connection in the connection pool?

[2017-07-17 17:35] tarekgh commented on #22135
@lemmaa based on the latest replies I am closing the issue again. feel free to reply or ask to reopen if you think there is anything need to be done from net core side. thanks.

[2017-07-17 17:35] #22135 closed

[2017-07-17 17:55] vcsjones commented on #7023
I'm curious how AES-GCM will be implemented on the Apple platform with CommonCrypto. While macOS has support for AES-GCM, it isn't publicly documented. You have to sneak in a header and use, technically, private APIs for AES-GCM/CCM on macOS.

[2017-07-17 18:02] CIPop commented on #19583
@karelz /cc @Diego-Perez-Botero @DavidGoll The latest is that Ping will not work on UWP in this OS release.

This issue is not tracking code changes to:
1. Throw PNSE with the correct message
2. Document this for UWP

[2017-07-17 18:03] dmetzgar commented on #2394
@Suriman, fair point

I updated the readme on the [corewf repo](https://github.com/dmetzgar/corewf) to have a better description of what's involved in porting WF to .NET Core. Would you mind having a look?

[2017-07-17 18:06] bartonjs commented on #7023
@vcsjones Probably PlatformNotSupportedException.  (Though possibly via OpenSSL lightup).

[2017-07-17 18:11] CIPop commented on #22328
Removing these is only an optimization (nothing bad functionally if we leave them as-is for this release): https://github.com/dotnet/corefx/pull/22282#issuecomment-315835088

/cc @DavidGoll

[2017-07-17 18:15] DavidGoll commented on #19583
I assume that was supposed to be "now".

Ping is used by 0.6% of apps.

[2017-07-17 18:23] lmolkova commented on #22284
Randomization is not only needed because we do not trust callers but to provide unique Id in certain scenarios:

- HTTP request headers are copied when request is redirected. So if service calls any dependencies before redirecting request (e.g. auth, caching, proper location lookup, etc), there will be Id collisions.
- retries which are done by proxy

[2017-07-17 18:25] vcsjones commented on #7023
If that is on the table, I would strongly consider it.

[2017-07-17 18:30] Drawaes commented on #7023
If that is so, then will you need to ship a version on OpenSSL for OSX, I thought the old one with Macs doesn't support GCM? I could be wrong.

[2017-07-17 18:36] sidshetye commented on #7023
@bartonjs 'supporting' it via a PlatformNotSupportedException is really strange :/  ... my vote would be for the OpenSSL route too, especially if you're doing something similar for Linux. Could also allow for a FIPS-140 validated route through OpenSSL FIPS modules. As well as AES-NI and GCM operation acceleration that's in OpenSSL.

[2017-07-17 18:37] bartonjs commented on #7023
@dawaes We only work with OpenSSL 1.0.x, so we ignore the 0.9.8 version that ships with the OS.  By "Lightup" I mean "if OpenSSL 1.0.x is installed we'll use it for GCM, otherwise we will throw PNSE".

The only reason it's contentious is I just spent 9 months making it so we had no OpenSSL dependencies on a mac :smile:.

[2017-07-17 18:41] sidshetye commented on #7023
Could you share why? You've spent some time with it, so there might be something I (or the community) could learn by sharing that experience. BTW, another +1 for OpenSSL is that you'd get other modes like CCM etc 'for free'.

[2017-07-17 18:42] vcsjones commented on #7023
Correct. macOS ships OpenSSL 0.9.8zh 14 Jan 2016 out of the box.

There are a few options here.

1. Just don't support AES-GCM on a Mac.
1. Use OpenSSL. Do a runtime check for support and a correct version of OpenSSL, if it's there, use it.
1. If it's on the table, use LibreSSL which will be shipping in 10.13 out of the box. Apple is going to start shipping and updating LibreSSL in macOS to addres

[2017-07-17 18:42] jacpull commented on #22284
@vancem - What would be preferable is something in the Activity/Proc configuration. I'm not sure keeping this in the ID itself is a good idea as the value passed in by an untrusted caller.

@lmolkova - Agree. Another example is pub-sub mechanisms, where the same value is subscribed to by many components.

[2017-07-17 18:43] Drawaes commented on #7023
@bartonjs I was also thinking that :) ahh the life of a dev ...

[2017-07-17 18:48] vcsjones commented on #7023
I sympathize with the desire to be rid of OpenSSL on macOS. The one that comes out of the box is horribly out of date and Apple doesn't support it. That means CoreFX would need to ship OpenSSL with CoreFX, which is very undesirable because the impetus for patching it is now on the CoreFX team.

The other option is to just hope it's on the box. Homebrew is the most common way of doing this, but eve

[2017-07-17 18:55] bartonjs commented on #7023
This is the "if we can't solve the problem in a happy way".  If the platform doesn't support it, we'll report that.

This is likely.  `new RSAOpenSsl()` on macOS uses OpenSSL; but that's a very direct "I want to use OpenSSL" option.  For GCM/CCM it would be "see if we can do a safe-init, and instead of throwing the TypeInitializationException throw a PlatformNotSuppotedException".  It might be jus

[2017-07-17 18:59] bartonjs commented on #7023
Nor do we.  We won't call libcrypto.0.9.8.dylib, only libcrypto.1.0.0.dylib, which is not on-the box.

By policy we do not, and will not.

Yep, our official instructions for 1.x were to install OpenSSL via Homebrew, and do a minimal installation (linking the versioned libraries in, but not replacing the "unversioned" forwarder)

[2017-07-17 18:59] JonHanna opened #22331 "Microsoft.CSharp binder not prepared for mis-called static calls."
If we set up a dynamic call-site as follows;
[code]

Then `target` can now be used to call a static method called `Equals` as in e.g. `target(site, typeof(object), "A", "A")` returning true.

The binder is not prepared for the consumer incorrectly calling it with a non-type as the second argument, throwing `RuntimeBinderInternalCompilerException` with a message of  "An unexpected exception occurre

[2017-07-17 19:01] joshfree commented on #21154
@botaberg can this bug be closed now that your PR has been merged?

[2017-07-17 19:01] corivera commented on #22236
@geleems If you have time, it might be a good idea to improve the error reporting in this case so that's it's clear that it's a connection failure rather than a connection reset error.

[2017-07-17 19:04] corivera commented on #21324
Only happens when using TCP with Encrypt=true. Seems to be related to SslStream being unable to recover after a timeout. In fact, the recommendation for SslStream is to dispose the stream after encountering fatal IOExceptions

[2017-07-17 19:06] geleems commented on #22184
@Unvilon

I tested again with 2.0.0-preview2-006497 in Ubuntu 16.04 LTS.
I could not reproduce the issue with 2.0.0-preview2-006497 as well.
***
Test Code:
[code]
Console output:
[code]

[2017-07-17 19:08] VSadov opened #22332 "Span and friends may require work in Linq.Expression/DLR and dynamic binders"
It is not permitted to box these types and expressions/binders would need to know about that.

Otherwise there could be some relatively trivial ways to cause failures such as dynamically invoking a Span-returning method by name. That would easily result in a Span being boxed, which might fail very ungracefully.

[2017-07-17 19:24] JonHanna commented on #22332
Failing gracefully might at least be an improvement, if clearly not as good as just working.

I really must take a look at how Span works.

[2017-07-17 19:28] brianrob opened #22335 "Investigate Ways to Reduce Dependence on Reflection for EventSource"
EventSources currently require reflection for both manifest-based logging and tracelogging.  The latter is required, because there is no concept of subclasses or event methods - just calls to Write<T> public methods on EventSources.

However, we can do better with manifest-based logging.  There is currently an IL transform in the toolchain that triggers for a well-known set of EventSources in the

[2017-07-17 19:47] botaberg commented on #21154
@joshfree @joperezr have we gotten confirmation that the multifile ARM leg is running?

[2017-07-17 19:55] brunin2509 commented on #22229
@krwq I've just submitted the PR (https://github.com/dotnet/corefx/pull/22336). Is there anything else I could do?

[2017-07-17 19:57] mellinoe commented on #20711
@KostaVlev I've updated a new version of System.Drawing.Common.TestData, version 1.0.3. You need to update this file in corefx in order to use the new version:

https://github.com/dotnet/corefx/blob/master/external/test-runtime/XUnit.Runtime.depproj#L77

The test project will automatically pick up the new file based on this wildcard inclusion: https://github.com/dotnet/corefx/blob/master/src/Syste

[2017-07-17 20:00] joperezr commented on #21154
I merged your PR today, so we can't really get a confirmation until a new full build occurs (either tonight's or tomorrow's)

[2017-07-17 20:08] mellinoe commented on #22299
I did some very basic tests on .NET Core 1.1, and there does seem to be some strange behavior. `Process.Start("/home")` does succeed. On the returned process object, `ProcessName` returns "dotnet", `StartInfo.UseShellExecute` returns false, and `MainModule` returns null (which seems bad).

[2017-07-17 20:17] mellinoe commented on #16835
@jkotas Thanks for bringing that up; we hadn't considered such a scenario in our discussions. In general, I don't really have a strong preference for one option or the other, because I am very hopeful that we will be able to rely on a compiler feature to make the difference more-or-less irrelevant.

[2017-07-17 20:24] AtsushiKan commented on #16567
Re-labeled as "api-ready-for-review". Now the waiting game starts...

[2017-07-17 20:24] jacpull opened #22339 "[DiagnosticsSource] http correlation protocol should optionally support intrinsic sort"
Related to issue #22284

The current version of the Hierarchical Request Format mandates uniqueness. But analytics on tracing formats which are vector clock based, also rely on the format providing a sort without depending on other event properties such as Time. To provide such a sort as well as provide uniqueness, the elements in the vector have to support a monotonic sequence.

The current proto

[2017-07-17 20:29] stephentoub commented on #22299
Presumably the exec call fails, such that the ExitCode indicates the failure?

[2017-07-17 20:32] sepidehMS commented on #17925
failed again:
https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/ubuntu14.04_debug_prtest/496/testReport/junit/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteReaderAsyncTest/

[code]

[2017-07-17 20:35] Diego-Perez-Botero commented on #19583
I have updated the [ApiCompat page](https://github.com/dotnet/corefx/wiki/ApiCompat) with this UWP limitation and have sent out a PR to throw PNSE in UWP (#22338).

[2017-07-17 20:45] #20592 closed

[2017-07-17 20:53] DnlHarvey commented on #21680
Fixed with https://github.com/dotnet/corefx/pull/22330

[2017-07-17 20:53] #21680 closed

[2017-07-17 20:56] dantraMSFT commented on #20994
using System;
using System.Net;
using System.Net.Http;

namespace Header20994
{
    class Program
    {
        static void Main(string[] args)
        {
            Uri uri = new Uri("http://httpbin.org/headers");
            HttpRequestMessage request = new HttpRequestMessage(HttpMethod.Get, uri);
            // throws System.FormatException: The format of value '12345' is invalid.
            r

[2017-07-17 20:58] jacpull commented on #22284
Wanted to clarify, that we are not removing the restriction that Request Id should be unique. We are simply creating an option for components to maintain uniqueness along with enabling sort and more efficient wire cost under the right circumstances, with the tradeoff being a small performance cost and responsible configuration. This proposal and the one in #22339 provides this flexibility.

[2017-07-17 21:03] tijoytom commented on #21154
@botaberg Closing this since the PR is merged.

[2017-07-17 21:03] #21154 closed

[2017-07-17 21:07] JonHanna commented on #20994
`12345` is indeed an invalid e-tag. Did the server 304 for it with the version that allowed it?

If not then it was doing no good anyway, so there's less value in being bug-compatible.

[2017-07-17 21:12] jkotas opened #22343 "AppDomain events have wrong sender"
[code]

The sender argument for these events should be AppDomain.CurrentDomain, but it is actually the internal AppDomain object.

#22330 fixed this for FirstChanceException event on uapaot only. This should be fixed for all of the events and for both CoreCLR and CoreRT. Also, tests should be added.

We may consider fixing this by moving AppDomain back to CoreLib. Having it in CoreFX seems to have

[2017-07-17 21:15] jkotas commented on #22343
Tagging this with UWP6.0 milestone for visibility, though I will likely get postponed at this point.

[2017-07-17 21:15] jkotas commented on #22343
cc @DnlHarvey

[2017-07-17 21:31] Priya91 commented on #20497
Thanks @madelson ! Marking api ready for review.

[2017-07-17 21:47] #22328 closed

[2017-07-17 21:49] caesar1995 commented on #22328
The fix is in corert https://github.com/dotnet/corert/pull/4174. PR #22282 is closed.

[2017-07-17 22:11] #22222 closed

[2017-07-17 22:11] Diego-Perez-Botero commented on #20130
I have updated the [ApiCompat page](https://github.com/dotnet/corefx/wiki/ApiCompat) with the UWP limitation and have merged the PR to throw PNSE in UWP (#22338).

[2017-07-17 22:11] #20130 closed

[2017-07-17 22:11] safern commented on #22222
@tijoytom today's build didn't show this failures so closing the issue.

[2017-07-17 22:22] Diego-Perez-Botero commented on #19583
Re-opening and leaving it active for _Future_. All relevant tests are already marked as **ActiveIssue** with this issue's #.

[2017-07-17 22:30] caesar1995 commented on #22110
Status update:

I'm still investigating the hang in HttpRequestStreamTests. I added `Console.WriteLine("some_test begins");` at the beginning of each hanging test case,
and `Console.WriteLine("some_test ends");` at the end of it. The behavior is, tests are still hanging, without printing anything on Console.

Some tests will run fine separately and print everything as expected, but if I enable the

[2017-07-17 22:58] mconnew commented on #21568
If you specify false on the constructor, it won't kill the connection pool in HttpClientHandler.

[2017-07-17 23:02] niustephanie opened #22345 "Add method IsPathFullyQualified() to replace IsPathRooted() for returning if a path is relative"
A common mistake is to assume that `IsPathRooted()` paths cannot be relative. To make the distinction between rooted and relative clear, `Path` should implement a `IsPathFullyQualified()` method that returns whether or not changing the current directory will change the path.

Details in issue #22245

## Rationale and Usage
Currently, `IsPathRooted()` does not answer the question of whether changin

[2017-07-17 23:13] Unvilon commented on #22184
@geleems

I've found out the reason of this problem.

I used both SqlClient and Entity Framework in my application

Connection string for Entity Framework had the one extra parameter - Trusted_Connection=True; When it is used to connect to the local database, it causes "Cannot access Kerberos ticket. Ensure Kerberos has been initialized with 'kinit'" exception.
For SqlClient the same parameter doe

[2017-07-17 23:15] #22184 closed

[2017-07-17 23:19] danmosemsft commented on #21427
@ianhays we need your take on whether this is something we should service for (ie, it indicates a significant bug that folks updating to 10.13 will hit) or is just a test update/glitch that can wait.

@wfurt and @Priya91 have macOS 10.13 boxes you can use to investigate this. Do you think you'll have time in the next 2 weeks or so?

Note that 10.13 changed some locale data (upgrade their ICU maybe

[2017-07-17 23:21] danmosemsft commented on #22324
@MSRiganti please open the issue in the EF repo linked above. Thanks

[2017-07-17 23:22] JonHanna opened #22347 "CI issue: Error during cleanup: java.io.IOException: in OSX Debug"
https://ci3.dot.net/job/dotnet_corefx/job/master/job/osx-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/1318/console

https://ci3.dot.net/job/dotnet_corefx/job/master/job/osx-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/1316/console

and a few more in the last couple of hours.

[2017-07-17 23:22] richlander commented on #22324
Naive question ... will this feature require any change to System.Data? It's not an EF-only thing.

[2017-07-17 23:23] lmolkova commented on #22339
The standard does not require monotonic sequence, just provides guidance.

The .NET implementation uses
- a monotonically incremented within the instance (and randomly seeded at startup) number for the **incoming** request suffix. In 'atomic increment' mode we would always append '.0'
- a monotonically incremented number starting from 1 for **internally** generated Activities (such as outgoing req

[2017-07-17 23:25] danmosemsft commented on #22293
@ysmoradi Please reopen if the solution above is insufficient. For a better way you may want to see/contribute to https://github.com/dotnet/corefx/issues/17452

[2017-07-17 23:25] #22293 closed

[2017-07-17 23:36] mellinoe commented on #22299
In my test, `ExitCode` returns 13.

[2017-07-17 23:42] jacpull commented on #22339
Yes - to make Id compatible with cV, we would need atomic increment mode. But this is on the outgoing path. If we have atomic increment mode on the outgoing path of a caller, then we don't really need to add entropy suffix on the incoming path of the corresponding target, in order to preserve uniqueness.

So typically for a caller/callee, if the caller is in atomic increment mode, the callee can b

[2017-07-17 23:44] safern commented on #21720
This is failing for UapAot also.

@ViktorHofer do you have an update for this?

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170717.02/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlobs(obj:%20AdjustmentRule%20%7B%2

[2017-07-17 23:47] karelz commented on #22332
@VSadov only one area label please per issue - see [Triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified)

[2017-07-17 23:47] karelz commented on #22332
cc @stephentoub who drives Span and friends work in CoreFX

[2017-07-17 23:49] CIPop commented on #22066
@jkotas @stephentoub we still have a test disabled.
We need a code change in CoreFX to re-enable the test once it's passing. Do you know how long we need to wait for the corert change to propagate?

[2017-07-17 23:49] karelz commented on #22347
@weshaggard @mellinoe are you aware of this?
cc @danmosemsft

[2017-07-17 23:55] JonHanna commented on #22332
@karelz probably best to put it on S.L.Expressions. That would be the first pin to knock down, as if we can't do anything with it in Expressions, then the other two can at best produce something that throws when it gets that far.

[2017-07-17 23:56] safern opened #22348 "System.Runtime.Serialization.Formatters.Tests failing in UapAot"
Tests are failing with error:

[code]

Stack Trace:
[code]

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170717.02/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlobs(obj:%20AdjustmentRule%20%7B%20DateEnd%20=%201955-

[2017-07-17 23:57] safern commented on #22348
This is related to: https://github.com/dotnet/corefx/issues/21720

But I wanted to open this individual bug in order to track the ilc failure as that falls into the UWP milestone.

[2017-07-18 00:06] safern opened #22350 "System.Threading.Tasks.Tests are failing in UapAot"
- System.Threading.Tasks.Tests.AsyncTaskMethodBuilderTests.FaultedTaskExceptions
-  System.Threading.Tasks.Tests.AsyncTaskMethodBuilderTests.TaskMethodBuilderT_ValidateFaultedTask
- System.Threading.Tasks.Tests.AsyncTaskMethodBuilderTests.TaskMethodBuilder_ValidateFaultedTask
- System.Threading.Tasks.Tests.AsyncTaskMethodBuilderTests.Tcs_ValidateFaultedTask
- System.Threading.Tasks.Tests.AsyncTask

[2017-07-18 00:08] safern commented on #16764
@joperezr this could be closed now right?

[2017-07-18 00:11] safern commented on #21443
@swgillespie this tests are failing again with the same error.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170717.02/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.GCExtendedTests~2FTryStartNoGCRegion_SettingLatencyMode_ThrowsInvalidOperationException

Would you mind taking a look?

[2017-07-18 00:14] safern opened #22351 "System.Runtime.ExceptionServices.Tests.ExceptionDispatchInfoTests/StaticThrow_UpdatesStackTraceAppropriately failed in UapAot"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170717.02/workItem/System.Runtime.Tests/analysis/xunit/System.Runtime.ExceptionServices.Tests.ExceptionDispatchInfoTests~2FStaticThrow_UpdatesStackTraceAppropriately

Message :
[code]

Stack Trace
[code]

cc: @danmosemsft

[2017-07-18 00:31] JeremyKuhne commented on #22345
Note that this is already implemented as an internal method:

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/IO/PathInternal.Windows.cs#L270-L306

[2017-07-18 00:38] caesar1995 commented on #22110
I was able to narrow down to 3 problematic test cases: `Read_InvalidOffset_ThrowsArgumentOutOfRangeException`, `Read_InvalidOffsetSize_ThrowsArgumentOutOfRangeException` and `Read_TooMuchAsynchronous_Success`.
1. `Read_TooMuchAsynchronous_Success` will always hang
2. `Read_InvalidOffset_ThrowsArgumentOutOfRangeException` and `Read_InvalidOffsetSize_ThrowsArgumentOutOfRangeException` will hang if B

[2017-07-18 00:39] lemmaa commented on #22135
@tarekgh , @jefgen  I got it. I have confirmed that the locale is not included in the CLDR official release package. However, I still do not know why it is in the `charts`, [Maithili](http://www.unicode.org/cldr/charts/31/by_type/locale_display_names.languages__k-n_.html#4d3b6ddb764c35bf) for example, and not in the release package. Do you know why, as an experienced person?

By the way, given the

[2017-07-18 00:40] mellinoe commented on #22347
I believe we have seen this sort of problem infrequently for a long time. This category of problems doesn't have much to do with our tests or our build infrastructure, but it's rather a problem with Jenkins itself, or maybe a problem with the way our Jenkins servers are configured. @mmitche Do you have any more specific info about this particular issue?

[2017-07-18 01:00] steji113 commented on #8655
@JeremyKuhne / @karelz now that we got the changes into CoreCLR and tests updated here, what are the next steps to get CoreFX to use the latest CoreCLR bits?

[2017-07-18 01:08] tarekgh commented on #22135
I don't know either but I think you can send your question to CLDR folks

CLDR is not applied to VS, it will get applied to the OS. So Windows every release picks the new changes from CLDR and include it with that new release. Linux depends on ICU. so the new ICU version will pick the CLDR and then you have to install such new ICU version on that Linux box.

If you are running on Windows 10 I expe

[2017-07-18 01:09] AntonLapounov commented on #22350
These tests call `Assert.Contains("End of stack trace", e.StackTrace)`.  After ProjectN change 1666008, `e.StackTrace` no longer contains this substring.  Before:
[code]
After:
[code]

[2017-07-18 01:09] krwq commented on #22229
@brunin2509 thank you a lot! I think all of the comments will be in the PR

[2017-07-18 01:11] safern commented on #22350
Is this expected? If so should we skip that Assert.Contains for UapAot?

[2017-07-18 01:15] trylek commented on #22350
I think it's just a bug I made in my recent refactoring related to NS2.0 API implementation, I'm looking into that right now.

[2017-07-18 02:16] Jiayili1 commented on #21857
This issue is repro on Core Tests (2.0.0), detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170718.01/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.File_Delete~2FUnix_NonExistentPath_ReadOnlyVolume

[2017-07-18 02:30] hughbe commented on #22251
Thanks. We're now hitting this on our production server - it seems to be random at this point

[2017-07-18 02:46] JeremyKuhne commented on #8655
@steji113 CoreFX automatically consumes updated CoreCLR bits. You'll see PRs like this: #22322

Just keep an eye on the changes going through and update the tests when you see a new CLR drop. If the next one doesn't have it, just wait one more- you just had bad timing. :)

[2017-07-18 02:56] stephentoub commented on #22299
And errno 13 is permission denied.

[2017-07-18 03:58] stephentoub opened #22353 "Expose Span<T> from System.Runtime contract"
Span<T> needs to be exposed from System.Runtime so that other types exposed from System.Runtime can use it in public APIs.

cc: @ahsonkhan, @KrzysztofCwalina

[2017-07-18 04:00] stephentoub opened #22354 "Move {ReadOnly}Buffer<T> to System.Private.CoreLib, expose from System.Runtime contract"
Needed for new Stream methods to use `Buffer<T>` in public APIs.

cc: @ahsonkhan, @KrzysztofCwalina

[2017-07-18 04:06] stephentoub opened #22355 "Add BitConverter Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement in System.Private.CoreLib in coreclr (it's "shared" with corert)
- [x] Expose from System.Runtime.Extensions contract in corefx
- [x] Add tests to System.Runtime.Extensions tests in corefx

[code]

[2017-07-18 04:14] stephentoub opened #22356 "Add Random Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement in System.Private.CoreLib in coreclr (corert shares the same file)
- [x] Expose from System.Runtime.Extensions contract in corefx
- [x] Add tests to System.Runtime.Extensions tests in corefx

[code]

Implementation should be in terms of `Next()`.  The `NextBytes(byte[])` base method is implemente

[2017-07-18 04:19] divega commented on #22324
@richlander @danmosemsft It needs support in SqlClient for it to work in .NET Core first. This support it is not in place yet, and I am not sure when it is planned but it is the gap list we have been discussing.

There is an issue tracking it for SqlClient: https://github.com/dotnet/corefx/issues/18276. We don’t have an issue tracking it for EF Core yet because we don’t consider it actionable yet.

[2017-07-18 04:24] steji113 commented on #8655
@JeremyKuhne awesome, thanks. Less things for me to worry about!

[2017-07-18 04:32] SteveL-MSFT commented on #22299
errno 13 is expected and what should be returned

In PowerShell, we rely on xdg-open as the equivalent to shellexecute on Windows.

[2017-07-18 04:34] stephentoub opened #22358 "Add DateTime{Offset} Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement in System.Private.CoreLib in coreclr (corert shares the same files)
- [x] Expose from System.Runtime contract in corefx
- [x] Add tests to System.Runtime tests in corefx

[code]

[2017-07-18 04:36] stephentoub commented on #22299
https://github.com/dotnet/corefx/issues/19956

[2017-07-18 04:37] stephentoub commented on #22299
So it's behaving as expected?  I thought you were asking that the API, for example, throw an exception from Start.

[2017-07-18 04:51] richlander commented on #22324
We are aware of GDPR and it is something we are interested in.

[2017-07-18 05:18] danmosemsft commented on #22205
Machine clock got updated. We could check exit time is either after DT.Now before the process or before DT.Now after the process.

[2017-07-18 05:40] MSRiganti commented on #22324
OK, done, issue is moved: [github.com/aspnet/EntityFramework/issues/9193](https://github.com/aspnet/EntityFramework/issues/9193)

(I have seen: [18276](https://github.com/dotnet/corefx/issues/18276) and [9142](https://github.com/aspnet/EntityFramework/issues/9142) and many more.)

Thanks

[2017-07-18 05:51] jkotas commented on #22066
It takes several days. @MichalStrehovsky Could you please push CoreRT -> ProjectN when you get a chance to pick the fix for this?

[2017-07-18 05:58] SteveL-MSFT commented on #22299
Sorry should have been more specific.  We expect a Win32Exception to be thrown and NativeErrorCode to be 13.  This doesn't happen for when filename is a directory.

[2017-07-18 06:03] SteveL-MSFT commented on #22299
Simple repro
[code]

[2017-07-18 06:04] danmosemsft commented on #22347
@dotnet/dnceng

[2017-07-18 06:11] Jiayili1 commented on #22244
Failed again on UWP ILC Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170718.01/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessStartInfoTests~2FStartInfo_NotepadWithContent(useShellExecute:%20False)

[2017-07-18 06:37] dotnet-mc-bot opened #22360 "Test: System.Data.Tests.SqlTypes.SqlBooleanTest/ToSqlInt64 failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Data.Tests.SqlTypes.SqlBooleanTest/ToSqlInt64` has failed.

Assert.Equal() Failure\r
    Expected: 1\r
    Actual:   0

        Stack Trace:

           at System.Data.Tests.SqlTypes.SqlBooleanTest.ToSqlInt64()
       at Object _$ILCT$+$ILT$ReflectionDynamicInvoke$.InvokeRetV(Object, IntPtr, InvokeUtils+ArgSetupState&, Boolean) + 0x2c
       at Objec

[2017-07-18 06:45] Suriman commented on #2394
@dmetzgar Thanks for the clarifications and for clearly showing the way forward to port WF to .NET Core. I understand from what you say that Microsoft is not going to do all this migration work and that it hopes the community does, is it? The answer to this question is the key, depending on the response, companies can opt for an alternative route or do the work that Microsoft should do.

[2017-07-18 06:53] danmosemsft commented on #22360
@safern ARM code gen? The code here seems quite straightforward.

[2017-07-18 06:57] dotnet-mc-bot opened #22362 "Tests under: System.Linq.Expressions.Tests.ConvertCheckedTests failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Linq.Expressions.Tests.ConvertCheckedTests/ConvertCheckedNullableByteToNullableEnumLongTest(useInterpreter: True)` has failed.

Assert.Equal() Failure\r
    Expected: A\r
    Actual:   B

        Stack Trace:

           at System.Linq.Expressions.Tests.ConvertCheckedTests.VerifyCheckedNullableByteToNullableEnumLong(Nullable<System.Byte> value, Boole

[2017-07-18 07:00] Jiayili1 commented on #22362
Failed tests:
ConvertCheckedNullableByteToNullableEnumLongTest(useInterpreter: True)
ConvertCheckedNullableCharToNullableEnumLongTest(useInterpreter: True)
ConvertCheckedNullableEnumToNullableULongTest(useInterpreter: True)
ConvertCheckedNullableUIntToNullableEnumLongTest(useInterpreter: True)
ConvertCheckedNullableUShortToNullableEnumLongTest(useInterpreter: True)

[2017-07-18 07:14] Jiayili1 commented on #22351
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170718.01/workItem/System.Runtime.Tests.Execution/analysis/xunit/System.Runtime.ExceptionServices.Tests.ExceptionDispatchInfoTests~2FStaticThrow_UpdatesStackTraceAppropriately

[2017-07-18 07:16] dotnet-mc-bot opened #22364 "Tests under: System.Threading.Tasks.Tests.AsyncTaskMethodBuilderTests failed with "Xunit.Sdk.ContainsException""
Opened on behalf of @Jiayili1

The test `System.Threading.Tasks.Tests.AsyncTaskMethodBuilderTests/FaultedTaskExceptions` has failed.

Assert.Contains() Failure\r
    Not found: End of stack trace\r
    In value:     at System.Threading.Tasks.Tests.AsyncTaskMethodBuilderTests.<>c.<FaultedTaskExceptions>b__29_18()\r
       at Void System.Threading.Tasks.Task`1.InnerInvoke() + 0x36\r
       at Void S

[2017-07-18 07:17] Jiayili1 commented on #22364
Failed tests:
FaultedTaskExceptions
TaskMethodBuilderT_ValidateFaultedTask
TaskMethodBuilder_ValidateFaultedTask
Tcs_ValidateFaultedTask
TrackedSyncContext_ValidateException

[2017-07-18 07:22] jacpull commented on #22339
To elaborate with an example, assume the incoming value to a component is "X.", and the component makes an outgoing call in the same context, then the Request ID on the outgoing value as per current spec will be "X.A_B." where "A_" is a  randomly generated suffix that was appended on the incoming path and "B" is a randomly generated suffix emitted on the outgoing path.

The proposed changes will i

[2017-07-18 07:50] Jiayili1 commented on #20223
This issue is repro on outerloop_netcoreapp_portablelinux_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_release/110/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_StaticConnectAsync_HostNotFound/

[2017-07-18 10:10] nshibano opened #22365 "new ArraySegment<T>() can not be iterated by foreach statement"
This repro throws System.InvalidOperationException with message "base array is null". (This message is translation from Japanese to English. Actual message will be a bit different.)

I think expected behavior is not throwing exception.

[code]

Confirmed in Visual Studio 2017 Community edition. .NET Framework version is 4.6.1 (newest in selectable versions).

[2017-07-18 11:19] KostaVlev opened #22367 "System.Drawing.Imaging.ImageAttributes.SetOutputChannelColorProfile() Throws System.Runtime.InteropServices.ExternalException on netcoreapp - does not on netfx (#20711)"
The test:

[code]

**Expected:** `ArgumentNullException`

**Actual:**
`netfx` - `ArgumentNullException`
`netcoreapp` - `System.Runtime.InteropServices.ExternalException: A generic error occurred in GDI+.`

(#20711)

[2017-07-18 11:40] #22205 closed

[2017-07-18 11:44] hughbe commented on #22367
Another case of missing `Path.GetFullPath`. The netfx code is:
[code]

`IntSecurity.DemandReadFileIO(colorProfileFilename)` is not available in .NET Core, so we just deleted it.

The fix would be to replace `IntSecurity.DemandReadFileIO(colorProfileFilename)` with a simple call to `Path.GetFullPath(colorProfileFilename)`

Take a look at https://github.com/dotnet/corefx/issues/21558

The fix should

[2017-07-18 11:52] nshibano commented on #22365
This was because ArraySegment is struct type and struct type always have default parameterless constructor, as described in this document.

https://msdn.microsoft.com/en-us/library/aa288208(v=vs.71).aspx

Parameterless constructor of structs can not be overridden. Therefore this is inherent behavior of struct types.

[2017-07-18 11:52] #22365 closed

[2017-07-18 12:09] roji commented on #8955
OK, I've done this in Npgsql (https://github.com/npgsql/npgsql/issues/1639). The question is now how to best add this to ADO.NET as a whole, to allow this to be used in a database-independent way.

### General Benefits

* Offers a strongly-typed, generic API (`TypedValue`) alongside the existing weakly-typed object-based API. Promotes type safety, is a more modern API, etc.
* Avoids needless boxin

[2017-07-18 12:13] KostaVlev commented on #22367
@hughbe  sure.... I will be ready with the tests shortly too.

[2017-07-18 12:57] KostaVlev commented on #20711
@mellinoe Do you mean I can do something like

[code]

in the `System.Drawing.Common.Tests.csproj` file?

[2017-07-18 13:25] mirhagk opened #22369 "System.Net.Http.FormUrlEncodedContent throws exception for large value"
This bug is an existing bug in .NET 4.6.1, and .NET core contains the same bug.

The issue occurs when you attempt to use FormUrlEncodedContent class for a value that is very large (greater than `0xFFF0`). When using `FormUrlEncodedContent` for the post body this would be acceptable according to the [`application/x-www-form-urlencoded` spec](https://www.w3.org/TR/html401/interact/forms.html#h-17.1

[2017-07-18 14:14] stephentoub commented on #22369
Dup of https://github.com/dotnet/corefx/issues/1936?

[2017-07-18 14:21] dleeapho commented on #22347
@maririos PTAL CI failure. Your tracking issue: https://github.com/dotnet/core-eng/issues/1231

[2017-07-18 15:01] mirhagk commented on #22369
Yes, I apologize.

Although it is concerning that the issue has been open for a while. I'll close this issue, and comment there. (If it's legitimately up for grabs I'll see if I can tackle it)

[2017-07-18 15:01] #22369 closed

[2017-07-18 15:42] #21922 closed

[2017-07-18 15:45] pjanotti opened #22373 "Diff between Core 2.0 and legacy Fx: XslTransform fails on custom function"
This came about when working on #21201. The test for `XslTransform` using `XsltArgumentList` with a custom implementation crashes with the following stack on Core 2.0:

[code]

On legacy Fx v2.0.50727 and v4.7.2046.0 the same code produces the expected results. For convenience the code with the isolated repro is below but the respective test is going to be marked with the # of this issue too.

Not

[2017-07-18 15:46] karelz commented on #22332
@JonHanna fine with me - it is the same experts/owners after all :)

[2017-07-18 16:13] danmosemsft commented on #22373
@sepidehMS could you please evaluate the impact.

[2017-07-18 16:25] #18210 closed

[2017-07-18 16:25] #22174 closed

[2017-07-18 16:26] #22229 closed

[2017-07-18 16:28] stephentoub opened #22375 "Add TimeSpan Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [ ] Implement in System.Private.CoreLib in coreclr (corert shares the same files)
- [ ] Expose from System.Runtime contract in corefx
- [ ] Add tests to System.Runtime tests in corefx

[code]

[2017-07-18 16:34] stephentoub opened #22376 "Add Version Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement in System.Private.CoreLib in coreclr (corert shares the same files)
- [ ] Expose from System.Runtime contract in corefx
- [ ] Add tests to System.Runtime tests in corefx

[code]
---
EDIT 8/17/2017:
We'd approved:
[code]
as a way to avoid needing to add two TryFormat overloads based on whether it

[2017-07-18 16:37] joperezr commented on #22244
Poaching from @krwq :)

[2017-07-18 16:38] DRAirey1 commented on #16795
I'm running into this now.  Why was this issue closed?  What was the resolution?

[2017-07-18 16:43] stephentoub opened #22377 "Add Guid Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement in System.Private.CoreLib in coreclr
- [x] Implement in System.Private.CoreLib in corert (if Guid isn't yet "shared" between coreclr and corert)
- [x] Expose from System.Runtime contract in corefx
- [x] Add tests to System.Runtime tests in corefx

[code]

[2017-07-18 16:48] stephentoub opened #22378 "Add String Span-based ctor"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement in System.Private.CoreLib in coreclr
- [x] Implement in System.Private.CoreLib in corert (unless string is "shared" by then)
- [x] Expose from System.Runtime contract in corefx
- [x] Add tests to System.Runtime tests in corefx

[code]

[2017-07-18 16:48] acecebov opened #22379 "Add support to use custom structs to create System.Numerics.Vector<T>"
Add support for unsafe creation of System.Numerics.Vector<T> with additional parameters:
new Vector<T>(T* values) - will work similar like new Vector<T>(T[])
new Vector<T>(T* values, int index) - will work similar like new Vector<T>(T[], int index)

this way we can easily use our custom structs (like Vector3d, Vector4d) to create Vector<T>.

Additionally, it would be really nice to improve new Vec

[2017-07-18 16:49] ajcvickers commented on #8955
@roji Good stuff! /cc @anpete

[2017-07-18 16:50] weshaggard commented on #16795
@DRAirey1 you need to reference the newest version of the System.Data.SqlClient package.

[2017-07-18 16:55] ianhays commented on #21427
This is an issue with how OSX pre 10.13 would expand certain unicode characters in their filesystem. There's this weird thing with certain unicode characters (Chinese/korean in particular) where they can either be represented by one character or two characters that when viewed side-by-side look the same as the one char (called unicode normalization). Most systems (linux, windows) use the one chara

[2017-07-18 16:55] stephentoub opened #22380 "Add String Span-based method for writing into String's buffer"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement in System.Private.CoreLib in coreclr
- [x] Implement in System.Private.CoreLib in corert (if string isn't yet "shared" between coreclr and corert)
- [x] Expose from System.Runtime contract in corefx
- [x] Add tests to System.Runtime tests in corefx

[code]

Mostly approved, but open issue around

[2017-07-18 17:13] DRAirey1 commented on #16795
I pulled down the 4.3.1 just this morning on a fresh .netstandard library project and got the errors.  Then I pulled down pre-release 4.4.0-preview.  Then I pulled down the System.Data.Common 4.3.0.  None of these changes seems to have removed the conflict between the .netstandard library and the System.Data.  What am I missing?

[2017-07-18 17:14] hoyMS commented on #22360
It doesn't look like a code gen bug since it's failing with Debug mode too but I'll take a look.

[2017-07-18 17:25] weshaggard commented on #16795
Yes would need to reference the latest prerelease for SqlClient https://www.nuget.org/packages/System.Data.SqlClient/4.4.0-preview2-25405-01. If that doesn't eliminate this issue for you can you please share your project.assets.json file (can be found in your obj dir) so I can have a look at the packages you are restoring in your project.

[2017-07-18 17:27] stephentoub opened #22381 "Add Stream Span/Buffer-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement span-based APIs in System.Private.CoreLib in coreclr
- [x] Implement buffer-based APIs in System.Private.CoreLib in coreclr
- [x] Implement span-based APIs in System.Private.CoreLib in corert (if Stream isn't yet in "shared")
- [x] Implement buffer-based APIs in System.Private.CoreLib in corert (

[2017-07-18 17:29] mellinoe commented on #22379
new Vector(T* values, int index) - will work similar like new Vector(T[], int index)

These overloads are impossible in C#, because pointer types cannot be generic. The only way it would be expressible is as a static factory method ,e.g. `Vector.CreateInt32(int*, index)`, but this would need to be repeated for every type.

The supported way to create `Vector<T>` instances from a pointer is to use

[2017-07-18 17:29] safern commented on #22360
It could be a codegen bug. @hoyMS even if it fails in Debug we always build our tests with ILC build type to ret. So it seems like it could be an optimization bug. Would be worth trying to build the tests as chk mode in ILC to see if they fail or not.

[2017-07-18 17:38] hoyMS commented on #22360
OK, I'm taking a look. I'm testing src\System.Data.Common\tests\System.Data.Common.Tests.csproj. Is there a way to only run the specific SqlBooleanTest test?

[2017-07-18 17:38] mellinoe commented on #20711
@KostaVlev Yes, that's right. For now, though, just go ahead and hard-code the new version. I may actually want to create a property all the way up in https://github.com/dotnet/corefx/blob/master/dependencies.props, and use that property everywhere in the repo, including the test-runtime project file. That way it would only be specified once.

[2017-07-18 17:42] safern commented on #22360
Yes. You could do:
[code]

That will build the tests as ret for ILC and will only run that specific test. You could play with the ILCBuildType and see if it fails in ret and it doesn't in chk.

Note that this is only failing on ARM.

[2017-07-18 17:55] swgillespie commented on #21443
Ouch. The delegate allocation [here](https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/GCTests.cs#L631) is significantly more expensive allocation-wise than I thought. Based on my measurement in a debugger, the delegate results in a total of 23kb allocated, which boots us out of the no GC region before. I'll bump up the allocation limit and add a comment warning about th

[2017-07-18 17:58] swgillespie commented on #21443
Also I just want to shout out to the Helix repro tool and the people behind it - it's been really, really awesome for this.

[2017-07-18 18:05] AntonLapounov commented on #22364
Duplicate of #22350.  Fixed in ProjectN build 25519.

[2017-07-18 18:06] altrive opened #22383 "SqlConnection GetSchema("DataTypes") method returns wrong datatype for tinyint"
SqlConnection's method GetSchema("DataTypes") returns following results for "tinyint" data type

- DataType: System.SByte
- IsUnsigned:True

This result is inconsistent and it seems it should return System.Byte as DataType,
because SQLServer's tinyint data type is defined to be mapped to .NET byte type (0-254)
<https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql-server-data-type-mapp

[2017-07-18 18:10] lmolkova commented on #22251
@hughbe

Perhaps AsiaChat.ImportExport.csproj depends on WinHttpHandler assembly (`C:\Users\hugh\.nuget\packages\system.net.http.winhttphandler\4.3.0\runtimes\win\lib\netstandard1.3\System.Net.Http.WinHttpHandler.dll`).

However WinHttpHandler is also compiled into System.Net.Http.dll.

Application Insights listens to diagnostics events with complex payload from System.Net.Http/WinHttpHanler and a

[2017-07-18 18:18] makroeze opened #22384 "Add support for disabled short path generation to System.IO.Tests.Directory_GetFileSystemEntries_str.PatternTests_DosStarOddSpace()"
```PatternTests_DosStarOddSpace()``` currently tests for pattern-matching behavior on files that, according to inline documentation in the test source, is due to a preexisting bug in the Windows stack. However, the exhibited behavior is intended on systems that have short path alias generation enabled because the pattern is matched against both the full file name and the shortened alias generated

[2017-07-18 18:30] DRAirey1 commented on #16795
OK.  It looks like the System.Data.Common was a bad idea.  I started over again with a clean project, just installed the pre-release.  It seems to be working now.

[2017-07-18 18:45] MichalStrehovsky commented on #22066
Done: dotnet/corert#4180. This will be in tonight's Project N build.

[2017-07-18 18:47] safern opened #22385 "System.Collections.Concurrent.Tests not producing testResults.xml in UapAot"
This tests haven't produced testResults.xml in Debug-x64 and Release-x64 for UapAot in the past days.

I tried to repro locally but wasn't lucky. I just missed to use the Helix repro tool, but hadn't have time for that.

[2017-07-18 18:48] weshaggard commented on #16795
Sorry I forgot to mention that System.Data.Common is now part of netstandard2.0 so you should't need a reference to it, but the tooling should eliminate if you did reference it.

[2017-07-18 18:50] danmosemsft commented on #21427
@ianhays thanks for the investigation. We should get to green - can you conditionalize the tests so they don't run on 10.13, against this issue?

I think PlatformDetection would need `IsNotMacOs1013`

[2017-07-18 18:52] hoyMS commented on #22360
@safern Thanks. I'm seeing a different failure with both /p:ILCBuildType=chk and /p:ILCBuildType=ret. Have you seen this before? I was wondering if I missing anything in reproing this.

C:\hoy\native-chk>xunit.console.netcore.exe system.data.common.tests.dll
xUnit.net console test runner (32-bit .NET Core)
Copyright (C) 2014 Outercurve Foundation.

Discovering: system.data.common.tests
Discovered:

[2017-07-18 18:56] vancem commented on #22339
First, let me say that I am VERY supportive of making the ID sortable.   We should definitely make that happen.

Second, I have a VERY STRONG preference for a 'modeless design'.     Only if we try HARD and fail should we be even considering have modes.

Third, lets first talk about our current IMPLEMENTATION, once we have a good decision about how to do that, writing up the spec language (which mo

[2017-07-18 18:56] corivera commented on #22360
@hoyMS That's a known failure related to EventSource reflection in uapaot. https://github.com/dotnet/corefx/issues/20589

[2017-07-18 18:58] safern commented on #22360
You are missing some of the xunit arguments that skip tests for specific platforms and targets. That specific test is disabled for UapAot against this issue: https://github.com/dotnet/corefx/issues/20589. After you build the tests make sure you copy the arguments from the generated RunTests.cmd file.

They should look something like this:

[code]

In order to get this arguments go to the generated

[2017-07-18 19:00] safern commented on #22360
With those arguments the tests that need to be skipped will not execute and if you add the /p:XunitOptions parameter that I pointed you above, you will see that the parameters will include that one as well and only the test that you are investigating will be executed.

[2017-07-18 19:00] danmosemsft commented on #22244
These should be PNSE
[code]
And tests should match.

it would be nice to fix the misspelling of Unknown also

[2017-07-18 19:16] vancem commented on #22284
I am still on the fence about this.     Basically the issue is whether IDs coming into a system need to have a random child ID appended to it to insure that the IDs on that system do not collide with children generated on other machines (which got the request from the same parent).

On the one hand:

Adding the random child ID is not that big of deal.  It simply adds a modest size.   Thus nothing

[2017-07-18 19:22] dmetzgar commented on #2394
Microsoft will not do an official port of WF to .NET Core. My team and I will work on this in our spare time, but not in an official capacity or with any scheduled releases. All of the issues listed are up for grabs. There are uses for such a port for some of the projects we do. That will be where most of our contributions come from. I think it's fair to close this issue for now and point people t

[2017-07-18 19:22] #2394 closed

[2017-07-18 19:58] stephentoub opened #22386 "Override new Span/Buffer-based APIs on FileStream"
Dependent on https://github.com/dotnet/corefx/issues/22381.

[2017-07-18 19:59] stephentoub opened #22387 "Override new Span/Buffer-based APIs on NetworkStream"
Dependent on #22381.

- [X] Override span-based Read/Write methods
- [x] Override buffer-based ReadAsync/WriteAsync methods

[2017-07-18 19:59] stephentoub opened #22388 "Override new Span/Buffer-based APIs on MemoryStream"
Dependent on #22381.

- [X] Override span-based Read/Write methods
- [ ] Override buffer-based ReadAsync/WriteAsync methods

[2017-07-18 20:00] stephentoub opened #22389 "Override new Span/Buffer-based APIs on UnmanagedMemoryStream"
Dependent on #22381.

- [X] Override span-based Read/Write methods
- [ ] Override buffer-based ReadAsync/WriteAsync methods

[2017-07-18 20:00] stephentoub opened #22390 "Override new Span/Buffer-based APIs on DeflateStream"
Dependent on #22381.

- [X] Override span-based Read/Write methods
- [ ] Override buffer-based ReadAsync/WriteAsync methods

[2017-07-18 20:01] stephentoub opened #22391 "Override new Span/Buffer-based APIs on CryptoStream"
Dependent on #22381.

[2017-07-18 20:01] stephentoub opened #22392 "Override new Span/Buffer-based APIs on GZipStream"
Dependent on #22381.

- [X] Override span-based Read/Write methods
- [ ] Override buffer-based ReadAsync/WriteAsync methods

[2017-07-18 20:03] stephentoub opened #22394 "Investigate overriding new Span/Buffer-based APIs on streams used in ZipArchive"
There are a bunch of internal stream types.  They may or may not benefit from having their Span/Buffer-based APIs overridden (depends on how they're consumed and what optimizations are possible).

Dependent on #22381.

- [X] Override span-based Read/Write methods
- [ ] Override buffer-based ReadAsync/WriteAsync methods

[2017-07-18 20:04] stephentoub opened #22395 "Override new Span/Buffer-based APIs on PipeStream"
Dependent on #22381.

- [X] Override span-based Read/Write methods
- [ ] Override buffer-based ReadAsync/WriteAsync methods

[2017-07-18 20:05] stephentoub opened #22396 "Override new Span/Buffer-based APIs on streams used in System.Net.Http"
Dependent on #22381.

[2017-07-18 20:06] stephentoub opened #22397 "Override new Span/Buffer-based APIs on BufferedStream"
Dependent on #22381.

- [X] Override span-based Read/Write methods
- [ ] Override buffer-based ReadAsync/WriteAsync methods

[2017-07-18 20:08] stephentoub opened #22398 "Override new Span/Buffer-based APIs on SslStream"
Dependent on #22381.

- [ ] Override Read(Span)
- [ ] Override Write(ReadOnlySpan)
- [ ] Override ReadAsync(Memory)
- [x] Override WriteAsync(ReadOnlyMemory) (https://github.com/dotnet/corefx/pull/24295)

[2017-07-18 20:08] stephentoub opened #22399 "Override new Span/Buffer-based APIs on NegotiateStream"
Dependent on #22381.

[2017-07-18 20:12] sharwell commented on #22381
:bulb: Can start writing `= default` for the default value, assuming you don't want to go the actual right way and make it required. 😉

[2017-07-18 20:23] terrajobst commented on #22345
We've [reviewed & approved](https://youtu.be/jKQWMCPZ08Y?t=55) this issue today:

* Should we fix `IsPathRooted` to not consider `\foo.txt` and `C:foo.txt` as being rooted, i.e. make it match `IsFullyQualified`
    - No, we believe this would be an unacceptable breaking change
    - Also, we'd no longer match the Windows definition of rooted paths, relative paths, and fully qualified paths.
    -

[2017-07-18 20:26] corivera commented on #20718
I could not repro these integrated auth failures when connecting to SQL Server. Seems like this may be integrated auth bug in the test proxy server code.

[2017-07-18 20:34] stephentoub opened #22401 "Add BigInteger Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [ ] Implement in System.Runtime.Numerics
- [ ] Expose from System.Runtime.Numerics ref
- [ ] Test in System.Runtime.Numerics.Tests

[code]

[2017-07-18 20:45] stephentoub opened #22403 "Add primitive type Span-based Parse/TryParse/TryFormat methods"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement parsing in System.Private.CoreLib in coreclr
- [x] Implement parsing in System.Private.CoreLib in corert (unless primitive types are "shared" by then)
- [x] Expose parsing from System.Runtime contract in corefx
- [x] Add parsing tests to System.Runtime tests in corefx
- [x] Implement formatting i

[2017-07-18 20:51] joperezr commented on #16764
right, this is done.

[2017-07-18 20:51] #16764 closed

[2017-07-18 20:54] stephentoub opened #22404 "Consider adding {ReadOnly}BufferStream types"
Just as we have a MemoryStream that works with `byte[]` and an UnmanagedMemoryStream that works with a `byte*` and a length, we should support treating `Buffer<byte>` and `ReadOnlyBuffer<byte>` as streams.

It’s possible we could get away with reimplementing `MemoryStream` on top of `Buffer<byte>`, but more than likely this would introduce regressions for at least some existing use cases, and it d

[2017-07-18 21:02] stephentoub opened #22405 "Consider adding BitConverter overloads that accept endian option"
#22355 lists APIs we're planning to add that use `Span<byte>` instead of `byte[]`.  These and the existing methods also use the current machine's endianness.  We should separately consider overloads that accept the endianness to use, rather than always using that of the current machine, e.g.
[code]
or
[code]
cc: @bartonjs

[2017-07-18 21:18] maririos commented on #22347
Thanks @JonHanna for reporting the issue.

Rebooting the server and the nodes fixed the issue. Recent jobs executed in the nodes have completed
successfully.

[2017-07-18 21:18] #22347 closed

[2017-07-18 21:19] stephentoub opened #22406 "Add TextReader and TextWriter Span/Buffer-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement in System.Runtime.Extensions
- [x] Expose from System.Runtime.Extensions contract
- [x] Add tests to System.Runtime.Extensions.Tests

[code]
EDIT 7/25/2017: Updated with CancellationTokens per API review.

[2017-07-18 21:21] stephentoub opened #22408 "Override new Span/Buffer-based APIs on StreamReader"
Depends on https://github.com/dotnet/corefx/issues/22406.

[2017-07-18 21:22] stephentoub opened #22409 "Override new Span/Buffer-based APIs on StreamWriter"
Depends on #22406.

[2017-07-18 21:22] stephentoub opened #22410 "Override new Span/Buffer-based APIs on StringReader"
Depends on #22406.

[2017-07-18 21:23] stephentoub opened #22411 "Override new Span/Buffer-based APIs on StringWriter"
Depends on #22406.

[2017-07-18 21:27] dantraMSFT commented on #20994
@nmbradford Can you answer Jon's question?

[2017-07-18 21:27] #22244 closed

[2017-07-18 21:29] stephentoub opened #22412 "Add TransformationStatus enum from corefxlab"
Based on corefxlab work, will be used by a variety of new corefx Span-based APIs.  We need to re-review to make sure it's exactly what we want to bake in to the core of the framework
[code]
cc: @terrajobst, @bartonjs, @KrzysztofCwalina, @ahsonkhan

[2017-07-18 21:32] jnm2 commented on #22381
++ for the actual right way 😄

[2017-07-18 21:37] bartonjs commented on #22405
I think the enum makes it clearer to read, but if we're consistent with parameters being either bigEndian or littleEndian then the `bool?` is accurately capable of describing it (unless we wanted to support [Middle-endian](https://en.wikipedia.org/wiki/Endianness#Middle-endian), but that doesn't seem terribly likely.  Right?)

I'd call the zero-value `System` or `Native` instead of `Current` to in

[2017-07-18 21:37] krwq commented on #22264
Seems like original issue was an Xunit/Xunit.Runner.Uap display error

[2017-07-18 21:38] mellinoe commented on #22405
I strongly prefer the second version, although I know folks will not want to add a new "Endianness" enum into a core namespace. The first option feels like an abuse of the nullable type and looks a bit unpleasant to me. If we use the first option, we should flip the `bool?` parameter to `isBingEndian` such that `false` is a reasonable default (rather than true), given that most/all .NET implementa

[2017-07-18 21:40] bartonjs commented on #22405
I guess an extra cost of the enum (aside from the typedef/Intellisense cost) is that we need to validation on it, or have a convention that says all unmapped values get treated as `Native`/`Current`.  That said, I still think it enhances legibility.

[2017-07-18 21:42] JonHanna commented on #20994
(Not to say that being bug-compatible is definitely not a good idea anyway, but it's more strongly justified in that case, and more strongly again if the server didn't work when given a valid e-tag like) `Headers.Add("If-Match","\"12345\"")`)

[2017-07-18 21:44] mellinoe commented on #22412
Regarding naming, I'd prefer the following:

* "TransformResult", or something with "Result" in the name
* "Success", rather than "Done"
* "SourceTooSmall" -- symmetry with "DestinationTooSmall"

[2017-07-18 21:52] jnm2 commented on #22405
While I don't particularly agree about abuse of `bool?`, I do agree about readability.

[2017-07-18 21:57] DavidChennells opened #22415 "System.IO.MemoryMappedFiles.MemoryMappedView.CreateView(...) check for sufficient virtual memory is incomplete"
The static factory method of the internal MemoryMappedView is typically called from MemoryMappedFile.CreateViewAccessor(...) after a user has created a MemoryMappedFile.  An overload of CreateViewAccessor() with no parameters is provided for the common case that the view is to cover the entire file.  That overload results in a DefaultSize value of zero being passed to the size parameter of MemoryM

[2017-07-18 22:03] safern opened #22416 "System.Data.SqlClient.Tests crash on UapAot in Release-x86"
This seems to be a codegen bug as this only happens when ILC built in ret mode, if we build them as chk mode then they don't crash.

There are various tests crashing and they seem to be flaky, once every 3 runs aprox.

This is one of the tests I've seen crash:
- System.Data.SqlClient.Tests.SqlErrorCollectionTest.CopyTo_Throws

Error:
[code]

Stack Trace:
[code]

I will force the tests to be built

[2017-07-18 22:03] saurabh500 commented on #20718
I think this was also related to sni.dll dependency

[2017-07-18 22:07] stephentoub commented on #22412
In case it wasn't obvious from my comments I added to the type, me, too ;)

[2017-07-18 22:10] stephentoub opened #22417 "Add Convert Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement in System.Private.CoreLib in coreclr ("shared" with corert)
- [x] Expose from System.Runtime.Extensions contract in corefx
- [x] Add tests to System.Runtime.Extensions tests in corefx

[code]

Mostly approved, but needed to re-verify approach with TransformationStatus.

Depends on https://github.

[2017-07-18 22:16] jkotas commented on #22405
Agree. The enum makes the APIs slower than they need to be. What's wrong with having  endianness to be part of the API name?

[2017-07-18 22:26] Clockwork-Muse commented on #22405
I appreciate the readability of the enum.

(That said, I'm of the opinion that methods shouldn't have boolean parameters, in favor of separate methods or perhaps an enum.  Because otherwise "now the method does two things")

[2017-07-18 22:35] corivera commented on #20718
@saurabh500 It still repros for me in uapaot runs. But the failures seem to be coming from the test proxy code. Integrated auth against an actual server using uapaot code works fine.

[2017-07-18 22:35] joshfree commented on #22416
@hoyMS could you take a look?

[2017-07-18 22:36] corivera commented on #20718
The error seems to be a SEC_E_INVALID_TOKEN error coming from https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/tests/Tools/TDS/TDS.EndPoint/SSPI/SSPIContext.Windows.cs#L199

[2017-07-18 22:37] hoyMS commented on #22416
sure, someone from my team is taking a look.

[2017-07-18 22:46] saurabh500 commented on #20718
Ok. Got it.

[2017-07-18 23:50] jacpull commented on #22339
Thanks for the pointer to the code and the explanation. Couple of points:
- As currently implemented in .NET, the generation of 'internal' child ids is very much aligned to the cV's implementation and protocol on the outgoing path.
- One key issue though is that the language in the current specification for the hierarchical request id does not make the atomic increment mandatory. The current langu

[2017-07-19 00:09] corivera commented on #20718
@saurabh500 I see that the StartServerAuthentication() method in SSPIContext.Unix throws an not supported exception. Any idea why that is? Could this failure be another case where windows specific code is still being used uapaot runs?

[2017-07-19 00:20] lemmaa commented on #22135
Thanks, @tarekgh . I'll try it with your guide. I expect that if I can install a custom locale on Windows 10, and Visual Studio works well on it, I can temporarily solve almost all the problems.

[2017-07-19 00:21] cydhaselton commented on #21503
@Petermarcu So I've finally managed to get the following cross-built for Android:
[code]
However the build throws 20 warnings and fails after with the following error:
[code]
Is this due to not having a plug in location for the android RID or something else?

[2017-07-19 00:24] Petermarcu commented on #21503
@weshaggard any thoughts? We need to make sure people can build netcoreapp for their own RIDs.

[2017-07-19 00:26] #20589 closed

[2017-07-19 00:27] tarekgh commented on #22135
@lemmaa just to mention, using custom cultures will work on pre-Windows 10 too.

[2017-07-19 00:32] weshaggard commented on #21503
@cydhaselton see https://github.com/dotnet/core-setup/blob/3009b12355fb5829681928aa343f81f2020812d9/src/pkg/projects/Microsoft.NETCore.App/src/Microsoft.NETCore.App.depproj#L56 it looks like it didn't find a coreclr for your build. Did you get any issues during restore?

[2017-07-19 01:51] dotnet-mc-bot opened #22425 "Test failure: System.ConsoleTests.Perf_Console/OpenStandardInput"
Opened on behalf of @v-haren

The test `System.ConsoleTests.Perf_Console/OpenStandardInput` has failed.

System.IO.IOException : Too many open files

        Stack Trace:

           at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, String path, Boolean isDirectory, Func`2 errorRewriter)
       at Interop.CheckIo[TSafeHandle](TSafeHandle handle, String path, Boolean isDirectory, Func`2 erro

[2017-07-19 02:10] hughbe commented on #22251
The deps for AsiaChat.ImportExport is
[code]

And for AsiaChat.Core
[code]

I think the issue is in a package further down, [Facebook.NET](https://github.com/hughbe/Facebook.NET/blob/master/src/Facebook.NET/Facebook.NET.csproj)

And here we see `WinHttphandler`:
[code]

As a package author, is it safe to conclude that referencing `System.Net.Http.WinHttpHandler` can and will break clients upstream

[2017-07-19 02:11] mahoekst opened #22427 "System.IO.FileNotFoundException when opening connection in UWP"
I try to get SQL Client to work in UWP. When I try to connect to a localdb I get an error.

In debug mode:
System.IO.FileNotFoundException: 'Could not load file or assembly 'Microsoft.Win32.Registry, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.'

In release mode:
System.TypeLoadException: 'Unresolved P/Invoke method 'RegOpenKeyEx!ap

[2017-07-19 02:21] v-haren commented on #19388
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170719.01/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.TaskWebClientTest~2FUploadString_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-07-19 02:24] v-haren commented on #21720
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170719.01/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlobs(obj:%20CookieContainer%20%7B%20Capacity%20=%2010,%20Count%20=%201,%20MaxCookieSize%20=%201024,%

[2017-07-19 02:35] stephentoub opened #22428 "Add BinaryReader Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [ ] Implement in System.Private.CoreLib in coreclr
- [ ] Implement in System.Private.CoreLib in corert (if BinaryReader isn't yet in "shared")
- [ ] Expose from System.IO contract in corefx
- [ ] Add tests to System.IO tests in corefx

[code]

[2017-07-19 02:37] stephentoub opened #22429 "Add BinaryWriter Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [ ] Implement in System.Private.CoreLib in coreclr
- [ ] Implement in System.Private.CoreLib in corert (if BinaryWriter isn't yet in "shared")
- [ ] Expose from System.IO contract in corefx
- [ ] Add tests to System.IO tests in corefx

[code]

[2017-07-19 02:40] stephentoub opened #22430 "Add StringBuilder Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement in System.Private.CoreLib in coreclr ("shared" with corert)
- [x] Expose from System.Runtime contract in corefx
- [x] Add tests to System.Runtime tests in corefx

[code]

[2017-07-19 02:45] stephentoub opened #22431 "Add Encoding Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [ ] Implement in System.Private.CoreLib in coreclr ("shared" with corert)
- [ ] Expose from System.Text.Encoding contract in corefx
- [ ] Add tests to System.Text.Encoding tests in corefx

[code]

[2017-07-19 04:51] EshG commented on #14346
@danmosemsft It looks like mono has a tool that generates test databases locally. I'd be glad to try and implement something similar. What do you think?
https://github.com/mono/mono/tree/master/mcs/class/System.Data/Test/DataProviderTests

[2017-07-19 05:04] mattqs commented on #9213
https://docs.microsoft.com/en-gb/dotnet/api/system.net.http.httpclient?view=netcore-1.1

[2017-07-19 05:40] dotnet-mc-bot opened #22434 "Test failure: System.Net.Security.Tests.NegotiateStreamTest / NegotiateStream_*"
## Types of failures

Affected tests:
* NegotiateStream_StreamToStream_AuthToHttpTarget_Success
* NegotiateStream_StreamToStream_KerberosAuthWithoutRealm_Success
* NegotiateStream_StreamToStream_KerberosAuthentication_Success
* NegotiateStream_EchoServer_ClientWriteRead_Successive_Async_Success
* NegotiateStream_EchoServer_ClientWriteRead_Successive_Sync_Success
* NegotiateStream_StreamToStream_Ke

[2017-07-19 05:41] v-haren commented on #22434
failed test:
System.Net.Security.Tests.NegotiateStreamTest/NegotiateStream_EchoServer_ClientWriteRead_Successive_Async_Success
System.Net.Security.Tests.NegotiateStreamTest/NegotiateStream_EchoServer_ClientWriteRead_Successive_Sync_Success
System.Net.Security.Tests.NegotiateStreamTest/NegotiateStream_StreamToStream_AuthToHttpTarget_Success
System.Net.Security.Tests.NegotiateStreamTest/NegotiateStr

[2017-07-19 05:50] v-haren commented on #21037
failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170719.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveTask~2FSendRecv_Stream_TCP(listenAt:%20::1,%20useMultipleBuffers:%20True)

[2017-07-19 06:12] hseok-oh commented on #17601
I'll prepare enabling Linux x86 TC pri2 test on CI.

[2017-07-19 06:43] jacpull commented on #22284
The additional size is a concern for two reasons.
- It adds up for large systems. Assuming we are adding 4 bytes on each incoming path, on a large system like Asimov where the cV based cooker can see upwards of 200 Billion events per day with an average cV having 5 stages, this translates to roughly 4 TB increase per day, most of which is unnecessary.
- Increased wire cost on metered connections f

[2017-07-19 12:21] cydhaselton commented on #21503
@weshaggard No issues during restore.  Can `ReferenceCopyLocalPaths` be specified in the `./run.sh build-native` command or do I need to modify the code?

[2017-07-19 12:31] cydhaselton commented on #21503
@Petermarcu In response to earlier reply:

Can I assume this includes PowerShell?

There was a discussion/blog post about this somewhere and unfortunately I don't remember where, but I believe the opinion was that running tooling on android would be inefficient at best and unusable at worst.   I'm sure there are people who would use SDK tooling (which I assume means msbuild, and everything else ne

[2017-07-19 13:33] onovotny opened #22437 "Extensibility for x509Certificate2"
It would be really nice to have an extensibility point around `X509Certificate2` that allows certificates backed by other crypto providers. The existing implementation of `X509Certificate2` is pretty much hard-coded to use `RSACryptoServiceProvider` or `DSACryptoServiceProvider` on Windows. Not sure about the other platforms.

My use case is that I'd like a way to support Azure Key Vault-backed ce

[2017-07-19 13:38] dima117 commented on #18012
I tried to compile the source [code from Mono](https://github.com/mono/mono/tree/master/mcs/class/System/System.IO.Ports) for .NET Standard 2.0 using the [Mono.Posix.NETStandard](https://www.nuget.org/packages/Mono.Posix.NETStandard) library. The compilation was successful and I was testing COM port reading and writing on the Mac OS.

Is there any way which I can help in the implementation of the

[2017-07-19 14:48] DRAirey1 commented on #12534
OK.  I can live without Ambient Transactions, but are you saying that we can't even use explicit Transactions?  How are you supposed to do anything remotely serious with SQL without Transactions?

[2017-07-19 15:11] AtsushiKan commented on #22385
One test never terminates. The only machine that I had that repros the hang is a crappy VM running WIndows RS3. May be the windows version, maybe it's the speed but either way, it reliably passes (quickly) or reliably hangs.

`-method System.Collections.Concurrent.Tests.ConcurrentQueueTests.MultipleProducerConsumer_AllItemsTransferred
`

Disabling conditionally:
https://github.com/dotnet/corefx/pu

[2017-07-19 15:15] saurabh500 commented on #12534
@DRAirey1 you can use DbTransaction APIs with SqlClient to manage transactions. System.Transactions cannot be used with SqlClient in 4.4.0

@geleems can we close this issue now that you have pushed your changes for ambient transactions and related APIs?

[2017-07-19 15:36] dangi12012 opened #22440 "Add more Math operation support System.Numerics.Vectors"
Support for some SIMD instructions are missing in Numerics.Vectors

Vector.RootN //Only SquareRoot is implemented
Vector.Exp //Every element of the result is exp(a,b) where a,b are input vectors
Vector.LShift //Shift elements in a by elements in b
Vector.RShift //Like above would simulate a = b >> c for all elements

It wondsers me because Or and XOr is there but not shift.
Code where Vectors woul

[2017-07-19 15:49] DRAirey1 commented on #12534
How does this work with an n-Tier design?  That is, how do I create a transaction that commits to my in-memory model and my persistent store (SQL Server) as an atomic action?  I don't see how I do this with an SqlTransaction.

[2017-07-19 15:58] tannergooding commented on #22440
For `Vector.RootN`, There is no hardware acceleration (no SIMD instruction for this). Additionally, even `System.Math` and `System.MathF` don't currently expose a `RootN` function so there would not be a 'simple' way of creating a pure software implementation today.

For `Vector.Exp`, There is also no hardware acceleration but writing an extension method would be trivial. I am also not sure if thi

[2017-07-19 16:10] danmosemsft commented on #22348
@ViktorHofer is out until Monday. Perhaps @tarekgh can look sooner, if he frees up.

[2017-07-19 16:11] danmosemsft commented on #22343
@DnlHarvey this does not seem necessary for this release, moving out. Feel free to push back.

[2017-07-19 16:13] danmosemsft commented on #22351
Another one looking for "end of stack trace" dupe of https://github.com/dotnet/corefx/issues/22350.
@trylek

[2017-07-19 16:13] danmosemsft commented on #22350
Also https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170717.02/workItem/System.Runtime.Tests/analysis/xunit/System.Runtime.ExceptionServices.Tests.ExceptionDispatchInfoTests~2FStaticThrow_UpdatesStackTraceAppropriately

[2017-07-19 16:15] ViktorHofer commented on #22348
Josh was asking Morgen if he could take a look

[2017-07-19 16:16] danmosemsft commented on #14346
I don't own this area. @saurabh500 @corivera can you provide guidance here...

[2017-07-19 16:19] ViktorHofer commented on #22348
For this precise issue I have already done like 80% of the work required (merging coreclr and corert TimeZoneInfo code). I will submit a PR in coreclr and ask @tarekgh if he can finish the work (Unix code not converged yet).

[2017-07-19 16:24] vancem commented on #22339
I think changing the language to make it monotonic is reasonable.   I will propose a PR.

Also making the suffix optional is fine as well, I will add that to the PR.

[2017-07-19 16:30] danmosemsft commented on #20441
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/lastCompletedBuild/consoleText
[code]
[code]

[2017-07-19 16:30] danmosemsft commented on #20441
@corivera this continues to fail sporadically. Do the logs help?

[2017-07-19 16:39] weshaggard commented on #21503
That should be setup from the restore. Can you do a a build of the Microsoft.NETCore.App.depproj with a diag log and share the log so I can have a look?

It it turns out we need to do work in core-setup then yes we should file an issue there but if it is just figuring out what to do we can continue the conversation here.

Yes assuming there are no other platform specific libraries that powershell

[2017-07-19 16:45] ViktorHofer commented on #22348
Done. See https://github.com/dotnet/coreclr/pull/12899

[2017-07-19 16:48] lmolkova commented on #22251
@hughbe
Thanks for the update.

Referencing WinHttpHandler does not break the app. It's the issue in the ApplicationInsights (https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/650) that breaks them.

it happens under following conditions
- app targets  .net core < 2.0
- app or its dependency uses WinHttpHanlder directly AND HttpClient
- app depends on AppInsights SDK 2.1+ (with

[2017-07-19 16:50] vancem commented on #22284
From a spec perspective, I do not have a problem making the appending of a suffix on incoming request ID optional.    As mentioned above, if we did not add a suffix on incoming requests, the worst that would happen is that it would cause ID ambiguity if the same HTTP request was forwarded to multiple machines (without updating the ID) which both logged activities (since each machine would generate

[2017-07-19 16:55] ViktorHofer commented on #21720
Yes, but I'm currently at an internal event. I can look into it earliest by Sunday.

[2017-07-19 16:57] acecebov commented on #22379
Interesting idea to use Unsafe.Read, it might do the trick.
I agree the best solution would be to implement #5360!

[2017-07-19 16:57] #22379 closed

[2017-07-19 16:57] ViktorHofer commented on #21720
@safern The log you posted is a different issue (AdjustmentRule type, not CookieContainer type).

[2017-07-19 16:58] jacpull commented on #22284
For the .NET implementation, I would suggest doing #3 with the default configuration being #2. We can take the burden of configuration enforcement for internal MS components. This is a small price for a smoother transition.

[2017-07-19 17:09] vancem commented on #22284
I am not against option 3 (configurable), but I would want to understand who exactly sets it and that the benefit is great enough to overcome the pain of getting dealing with a non-default configuration.    It seems like everything works with option 2 as well (just as sooth a transition), and if/when we care about the size, we can pursue option 3 (or 4, or maybe even 1).

[2017-07-19 17:12] joshfree commented on #22427
@corivera PTAL

[2017-07-19 17:15] danmosemsft commented on #21892
@pjanotti do we have any evidence that some tests are misbehaving? Is it apparently as simple as over stressing the machine?

[2017-07-19 17:16] danmosemsft commented on #22425
@pjanotti another perhaps innocent victim of https://github.com/dotnet/corefx/issues/21892

[2017-07-19 17:16] #22425 closed

[2017-07-19 17:17] safern commented on #21720
You're right. Deleting my comment.

[2017-07-19 17:23] geleems commented on #12534
Ambient Transaction and Transaction related APIs were ported from Framework: https://github.com/dotnet/corefx/pull/22059

[2017-07-19 17:23] #12534 closed

[2017-07-19 17:25] geleems commented on #22236
I added appropriate error message for the error when SQL Server Browser is not accessible: https://github.com/dotnet/corefx/pull/22400

[2017-07-19 17:25] #22236 closed

[2017-07-19 17:31] jacpull commented on #22284
If this option were enabled, we would have guidance on the relevant onboarding wikis/docs for any developer instrumenting with a Common Schema compliant logger on adding the necessary configuration in code. Sample wikis like those for the Asimov [cV](https://osgwiki.com/wiki/CorrelationVector) and  Geneva [IFx](https://osgwiki.com/wiki/Correlated_IFx) in any case would need changes to leverage the

[2017-07-19 17:43] MattGal commented on #21892
Setting the limit to whatever CI does (I think it's 2000 because tests are run in the same context as the init-tools call?) should be tolerable since that's how CI tests were run for a very long time without people's objection.  I do agree the choice to up the limit should be on the area owners as well, as well as logged in some way that Dan could audit.

[2017-07-19 17:53] cydhaselton commented on #21503
@weshaggard

I can.  Before I do, should the restore be pulling from a local set of packages or a feed?

[2017-07-19 17:55] DRAirey1 commented on #12534
Yes.  I see the Transactions.  Yes.  I see the SqlClient library.  No, I can't get them to work together like they do in .NET Framework 4.7.  I don't need Ambient Transactions, but I need some mechanism to make sure that my in-memory update and my SQL update are committed as a unit.  If there's some new library or paradigm, I'm happy to look at it.

[2017-07-19 18:00] vancem commented on #22284
@jacpull, you can see that plumbing the configuration has non-trivial cost (you have to get a bunch of devs all doing the right thing).  It is an ongoing cost and while possible, it is very easy to underestimate its cost (and it will be hard to get 100% compliance).    This is why I don't like systems that have configuration (easy to say in the design 'we support both' hard in practice to get what

[2017-07-19 18:02] weshaggard commented on #21503
It is my understanding that you are producing a new runtime which isn't published so I would expect your packages would be coming locally. Another option is to share with me a branch of your changes and how you are building so I can try to repro myself.

[2017-07-19 18:23] danmosemsft opened #22443 "StackOverflow in System.IO.Tests.Directory_CreateDirectory.DirectoryLongerThanMaxLongPathWithExtendedSyntax_ThrowsException"
@JeremyKuhne your change 0721434 looks most relevant here. Not sure whether its unterminated or just too much recursion. I don't have symbols so I can't tell which path exactly.

https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/259/consoleText

System.IO.Tests.Directory_CreateDirectory.DirectoryLongerThanMaxLongPathWithExtendedSyntax_ThrowsException

[code]
I don't know th

[2017-07-19 18:25] danmosemsft commented on #21892
@pjanotti I would recommend seeing what we actually use (apparently `lsof` is the way)

[2017-07-19 18:28] safern opened #22444 "System.ComponentModel.ComponentResourceManager.ApplyResources separator conflicts in uwp"
Since UWP apps merge their resources into a pri file given the '.' separator for [ApplyResources](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/ComponentResourceManager.cs#L70-L200) our costumers could potentially hit a MakePri failure when compiling their application.

The reason why costumers could hit this is if they add into thei

[2017-07-19 18:31] jacpull commented on #22284
Quite see the additional cost and overhead. But we cannot reactively add the option to turn it off when it becomes a problem. That approach is a difficult one to sell to platform owners that own the common sinks, upload agents and cookers who are sensitive to getting end users to make code changes in a short time window and also sensitive to growth projections from near term to maybe 18 months. So

[2017-07-19 18:31] tarekgh commented on #22444
Thanks @safern for logging the issue

[2017-07-19 18:32] pjanotti commented on #21892
@danmosemsft the issue is that we need to run in the same context as the test code since the limit is per session. Let's do the following: I will add the setting for the tests that hit this recently and then I will look into getting this information inside the test process (in case of hitting the issue). If that is feasible we can consider the investment as a more long term and robust option.

[2017-07-19 18:36] danmosemsft commented on #21892
good point. sounds good.

[2017-07-19 18:40] PeterSmithRedmond commented on #22405
I like having the tri-state enum.  A good goal is to let people fall into the "pit of success" -- can we give Big Endian two different name?  I'd love to have an enum like this:
{
0 = systemEndian,
1 = networkEndian
1 = bigEndian # same and networkEndia
2 = littleEndian
}

That way the two most common things people need to do -- convert system to network and network to system -- are super easy.  I

[2017-07-19 18:47] DRAirey1 commented on #2949
I think it's safe to say from the discussion that most people here were expecting the Transaction class to be compatible with the System.Data.SqlClient library.  I don't know who's problem it is, but I get a message to the effect of 'Enlisting in Ambient transactions is not supported'.  It doesn't look like the SQLClient cares much for the Transaction class.

Is there some other library or some ot

[2017-07-19 18:48] danmosemsft commented on #21240
I'm going to resolve as such. @brandon942 please reactivate if it's not a dupe

[2017-07-19 18:48] #21240 closed

[2017-07-19 18:49] danmosemsft commented on #21825
I wonder if we should have a bigger tracking issue since you're not going to fix them all together.

[2017-07-19 18:51] #22264 closed

[2017-07-19 18:51] #22266 closed

[2017-07-19 18:51] #22268 closed

[2017-07-19 18:51] #22269 closed

[2017-07-19 18:51] Clockwork-Muse commented on #22405
@PeterSmithRedmond - if we're adding "Network" as an option, does that mean `SystemEndian` should be `HostEndian` instead (to match with the `NetworkToHost`/`HostToNetwork` methods elsewhere)?  Just curious here.

[2017-07-19 19:00] danmosemsft commented on #22444
Usage of https://apisof.net/catalog/System.ComponentModel.ComponentResourceManager is quite small. I think at this point this can move out.

[2017-07-19 19:01] safern commented on #22444
@danmosemsft, already fixing this here: #22418

[2017-07-19 19:03] tarekgh commented on #22444
Are you suggesting to not expose this class? I don't think we can change this for net core 2.0 at this moment

[2017-07-19 19:03] richlander commented on #22324
Can you stop closing this @karelz?

I found this resource: https://blogs.msdn.microsoft.com/sqlsecurity/2017/05/24/now-available-guide-for-enhancing-privacy-and-addressing-gdpr-requirements-with-the-microsoft-sql-platform/.

We are still talking about this and I am following up with @MSRiganti on mail to learn more.

[2017-07-19 19:17] mellinoe commented on #20712
I've discovered a slight wrench in the plans for using the existing mono code on CoreCLR. Some platforms (like Fedora) use the name "libgdiplus.so.0", rather than just "libgdiplus.so". Ubuntu and Debian have both of those names (or at least symlinks for them), so CoreCLR is able to resolve the DllImport's to just "gdiplus".

Realistically, the best option here is to rewrite the native imports usin

[2017-07-19 19:52] danmosemsft commented on #22444
@tarekgh no I meant I am not tracking it as debt for 6.0

[2017-07-19 19:57] danmosemsft commented on #19771
@saurabh500 @corivera @weshaggard any objection to me finding someone to just go ahead and do this now?

Also I assume corefx is a good place for it, given it's small and has no home right now - also closely goes with S.Data.

@terrajobst

[2017-07-19 20:08] danmosemsft commented on #19771
If it's simple we can port it. You guys would own it after that (which doesn't sound like much of a burden)..

[2017-07-19 20:31] stephentoub commented on #20712
Given the runtime support (or lack thereof) that exists for this, doing it manually seems like the best option.

Seems like even a small runtime feature would be helpful here, e.g. if DllImport could be augmented to support taking the name of a static field to read from or a static property/method to invoke to get the name of the library that should be targeted.  Then this would be fairly easily s

[2017-07-19 20:39] safern commented on #21443
@swgillespie failed again :(

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170719.93/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.GCExtendedTests~2FTryStartNoGCRegion_SettingLatencyMode_ThrowsInvalidOperationException

[2017-07-19 20:45] JeremyKuhne commented on #22443
We probably need to make these test directories longer in length. With long paths they're currently over 800 directories deep.

[2017-07-19 20:46] safern commented on #20511
Taking a look now. Finally unblocked by ResourceManager stuff :)

[2017-07-19 20:46] swgillespie commented on #21443
😭

[2017-07-19 21:10] swgillespie commented on #21443
@safern that link seems to be broken? I don't see any results on that page.

[2017-07-19 21:14] safern commented on #20511
@brianrob the ArrayPoolEventSource in CoreFX is actually being used: https://github.com/dotnet/corefx/blob/master/src/System.Buffers/src/System.Buffers.csproj#L24-L30

So I will just go ahead and port that into CoreRT.

[2017-07-19 21:19] safern commented on #21443
@swgillespie weird I just opened it and works fine. Are you logged in?

[2017-07-19 21:20] swgillespie commented on #21443
@safern hmm, must've lost my session somehow. Thanks!

[2017-07-19 21:45] Drawaes commented on #22440
I would like Exp it's very important for brownian motion calculations used in monte carlos. There is a whole rang of hardware acceleration for these.

https://software.intel.com/en-us/node/695443

[2017-07-19 21:48] qmfrederik commented on #20712
@mellinoe For CentOS, I think there are two additional options that could serve as temporary workarounds:
- Use libgdiplus0 from the Mono repositories (http://www.mono-project.com/download/#download-lin-centos); that does include `libgdiplus.so`
- If you don't find `libgdiplus.so` in the libgdiplus packages, can you check the libgdiplus-devel package? That sometimes includes the `.so`-files withou

[2017-07-19 21:54] Drawaes commented on #22440
I take it back while intel calls them "intrinsics" they are actually just functions with multiple AVX calls.... pity

[2017-07-19 21:58] tannergooding commented on #22440
@Drawaes, yeah. There is no actual hardware instruction for these, so implementing it becomes non-trivial.

If we had some form of `raw intrinsic` support in CoreFX (https://github.com/dotnet/coreclr/issues/6906#issuecomment-307164495), then this would at least be somewhat 'easier' to implement (reimplement `MathF.Exp` using the intrinsic APIs and then implement a `Vector.Exp` form of that algorit

[2017-07-19 22:05] mellinoe commented on #20712
@qmfrederik Realistically, it will probably be more work to go through and update all of the CI machines with a different package (and test them, etc.) as a temporary workaround than it will be to just fix the imports in the code. I should be able to write something that will automate the translation.

[2017-07-19 22:08] ViktorHofer commented on #22016
ping @davidwrighton

[2017-07-19 22:11] Drawaes commented on #9855
How would the shim work in your mind for 1.1 and 1.02 at the same time, do you imagine it would check for 1.1 and if it doesn't find it fall back. Would this be done at the C++ shim level?

[2017-07-19 22:13] #21273 closed

[2017-07-19 22:15] bartonjs commented on #9855
I don't expect it would.  I think 1.1 would be "I built locally / my distro built locally" and 1.0.2 would be used by "portable Linux", until we dropped 1.0.2 altogether.

[2017-07-19 22:17] safern commented on #22350
Not failing anymore. Thanks @trylek for fixing it.

[2017-07-19 22:17] #22350 closed

[2017-07-19 22:19] trampster commented on #14235
I just ran into this issue in Xamarin for android. If I add the System.ValueTuple nuget package, the add finishes without error but no project reference is added to System.ValueTuple but there is a entry in my packages.config.

There is a folder in the nuget package called MonoAndroid10 with an empty file called _._

If I manually add a reference to the .net standard dll then it fails with errors

[2017-07-19 22:26] bartonjs commented on #9855
To clarify a bit:

https://github.com/dotnet/corefx/blob/85e260e605f7e689ad1a11843ac2dc7d37a0eeb6/src/Native/Unix/System.Security.Cryptography.Native/openssl.cpp#L100-L108:

[code]

=>

[code]

[2017-07-19 22:31] Drawaes commented on #9855
Gotcha, if def 👍 :)

[2017-07-19 22:43] corivera commented on #5501
This was added in https://github.com/dotnet/corefx/pull/20883

It will ship in 2.1.0.

[2017-07-19 22:43] #5501 closed

[2017-07-19 22:44] corivera commented on #8188
Query notification support was added in https://github.com/dotnet/corefx/pull/20708

[2017-07-19 22:44] #8188 closed

[2017-07-19 22:45] jacpull opened #22452 "[DiagnosticsSource] Hierarchical Request-Id to support unbounded traces"
@vancem, @lmolkova, @SergeyKanzhelev

The current version of the Request-Id is specified to have a max length of 1024 bytes.

This max length is designed to accommodate the hierarchical request format which maintains a growing vector of elements.

Assuming an average of two digit increments for outgoing paths, each stage requires 12 bytes :
- 9 bytes (8 random characters + '_')
-  2 digits
- '.'

[2017-07-19 22:46] ViktorHofer commented on #8188
... and will be available with the .NET Core 2.1 and the next version of UWP. Right @corivera ?

[2017-07-19 22:47] corivera commented on #8188
Yep

[2017-07-19 22:56] kevcunnane opened #22453 "SqlConnection.Open fails with SSL error on macOS High Sierra (10.13)"
SqlClient connections to any SQL Server instance fails on macOS High Sierra. The repro for this is below. This is impacting users of the MSSQL extension for VSCode - see https://github.com/Microsoft/vscode-mssql/issues/954 for the original bug report. I've created a .Net only repo below that's very simple.

@saurabh500 @corivera @karelz could you please take a look and let us know if you need anyt

[2017-07-19 23:01] kevcunnane commented on #22453
One more thing - I see looking more closely at your [announcement page ](https://github.com/dotnet/announcements/issues/22) there are a number of SSL issues you reported to Apple. It's quite likely this is then a known issue / duplicate of these.

[2017-07-19 23:16] hoyMS commented on #22360
Fixed has been checked into TFS as Changeset 1666878.

[2017-07-19 23:30] karelz commented on #22324
@richlander I closed it based on the text [above](https://github.com/dotnet/corefx/issues/22324#issuecomment-315963460). If you think it tracks something different it would help if you can clarify what the issue actually tracks ;)
If you are following up, please assign it to yourself to express that -- see [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue

[2017-07-19 23:44] corivera opened #22458 "SqlClient FunctionalTests fail due to missing System.Private.Interop.dll"
The SqlClient functional tests are failing on a clean build of the latest master branch. SqlClient ManualTests are fine.

Test output:
Running tests... Start time: 16:41:07.42

  Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Private.Interop, Ver
  sion=999.999.999.999, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file

[2017-07-20 00:02] corivera commented on #22458
Correction, this issue does not repro on a clean build. I built uap before I started seeing these failures. Maybe it's related

[2017-07-20 00:08] #21201 closed

[2017-07-20 00:08] danmosemsft commented on #22453
@bartonjs

[2017-07-20 00:09] corivera commented on #22458
Actually can't repro the bug at all now. Maybe it was a transient issue with myget or something. Closing this bug.

[2017-07-20 00:09] #22458 closed

[2017-07-20 00:10] bartonjs commented on #22453
The one we reported has to do with SecureTransport being the server; but maybe they have a related client bug.  It'd be interesting to see the TLS handshake series as captured by tcpdump/Wireshark/etc.

[2017-07-20 02:18] Jiayili1 commented on #22434
Failed again on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170720.91/workItem/System.Net.Security.Tests

[2017-07-20 02:57] Jiayili1 commented on #20024
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170719.03/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ResponseStreamTest~2FReadAsStreamAsync_ValidServerResponse_Success(transferType:%20ContentLength,%20transferError:%20None)

[2017-07-20 03:47] carlowahlstedt opened #22463 "Integrated authentication failing when attempting to connect to SQL Server from macOS Sierra"
This issue is originally discussed [here](https://github.com/Microsoft/vscode-mssql/issues/356#issuecomment-316166467).

Following the [Kerberos Setup Instructions](https://github.com/Microsoft/vscode-mssql/blob/380cfb4e8acce9d9d8368d2a5f32cfff9c73a933/KERBEROS_HELP.md). Steps 1 through 3 work perfectly. However, when attempting step 4 I get the following:
[code]

Per @kevcunnane request, I'm subm

[2017-07-20 03:51] morganbr commented on #22391
This would also need to be plumbed through the encryption and hash algorithms to get any of the benefits of Span (CryptoStream doesn't really do anything on its own, it just calls into ICryptoTransform).

CC @bartonjs

[2017-07-20 05:37] bartonjs commented on #22391
@morganbr Yeah, ICryptoTransform is still on the to-review log.  After 5 hours of API reviews we've made it through System.IO while reviewing the full surface of corefx :smile:.

\*Stream has a Span-shape now, so the API is approved; the implementation details for CryptoStream will end up being dependent on ICryptoTransform.

[2017-07-20 05:51] #22443 closed

[2017-07-20 05:52] #21660 closed

[2017-07-20 05:52] #21661 closed

[2017-07-20 05:52] #21663 closed

[2017-07-20 06:09] dotnet-mc-bot opened #22464 "Test: System.Net.WebSockets.Client.Tests.CloseTest / CloseAsync_DuringConcurrentReceiveAsync_ExpectedStates"
Opened on behalf of @Jiayili1

The test `System.Net.WebSockets.Client.Tests.CloseTest/CloseAsync_DuringConcurrentReceiveAsync_ExpectedStates(server: wss://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)` has failed.

System.Net.WebSockets.WebSocketException : The WebSocket is in an invalid state ('Closed') for this operation. Valid states are: 'Open, CloseReceived, CloseSent'

        Stack

[2017-07-20 06:11] Jiayili1 commented on #22464
related issue: https://github.com/dotnet/corefx/issues/21853

[2017-07-20 06:41] Jiayili1 commented on #20390
Failed in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/114/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticSourceUrlFilteredActivityLogging/

[2017-07-20 07:24] MSRiganti commented on #22324
Hi @karelz, nice presentation yesterday in Prague at Microsoft, I was there.
In this case, I think @richlander  is right.

When I run the application, and an exception occurs, which says: **"Keyword not supported: 'column encryption setting'."**
Because I add **`Column Encryption Setting=Enabled;`** in the **Connection String**.

The stack trace includes:

If you search in the [dotnet/corefx](http

[2017-07-20 08:21] karelz commented on #22324
Thanks for explanation @MSRiganti ... I was confused by previous replies.

@richlander can you please mark the bug according to our triage? Is it about new API? Which area? (System.Data or all over)
I let @tarekgh push it further in Meta area ...

[2017-07-20 09:54] Shtong opened #22468 "System.IO.Compression.ZipFile contents not available on Android platforms"
Hello,

After installing the official NuGet package `System.IO.Compression.ZipFile`, version 4.3.0, on a Xamarin Android project, the `System.IO.Compression.ZipFile` assembly is not made available, even though the `System.IO.Compression` is there.

The Nuget package actually only contains the library for the `net46` and `netstandard1.3` frameworks. The other 'supported' frameworks (all mobile spec

[2017-07-20 10:08] mattwarren commented on #22332
@JonHanna this [blog post](http://adamsitnik.com/Span/) is a good place to start

[2017-07-20 10:16] Drawaes commented on #9855
I am trying to add a function I need to the OpenSsl BIO, not sure I am getting what I need to do. I added

PER_FUNCTION_BLOCK(CRYPTO_set_ex_data, true) \

and
`#define CRYPTO_set_data_ex CRYPTO_set_data_ex_ptr`

but when I build I get

      (CRYPTO_EX_DATA *, int, void *)') is not allowed
    FOR_ALL_OPENSSL_FUNCTIONS

I am not sure I understand the procedure or am missing something to add a func

[2017-07-20 12:04] ysmoradi opened #22469 ".NET Core 2 type load exception when using full .net framework dll"
We've developed an app on top of "Full .NET/Owin". We managed to run that app on top of "Full .NET/ASP.NET Core" very easily.
Then we started to test that on .net core 2 as it accepts referencing full .net assemblies. Interestingly lots of things are working (signalr, web api, static files middleware etc).
Now we're working on "ASP.NET Web API / OData" as it has no suitable equivalent in .net core

[2017-07-20 12:12] ysmoradi commented on #22469
https://github.com/dotnet/corefx/issues/16101 I saw this now. Sorry. Could you please add this type to .net core 2?

[2017-07-20 12:12] ysmoradi commented on #16101
@harsimranb Any news? Thanks in advance.

[2017-07-20 12:24] JonHanna opened #22470 "Remove checks for impossible conditions from Microsoft.CSharp"
#22456 removed some error codes that were never used, but there is other code in Microsoft.CSharp that checks for conditions that are irrelevant (can only happen when defining a type, constant operations, or other cases that only come up in static code) or impossible (lacking a mscorlib, types like `int` and `object` aren't available, in which case there would have been a fatal error before the co

[2017-07-20 13:29] thomas-frantz opened #22472 "HttpClient forcing spaces into Accept headers with parameters breaking non-conforming REST APIs."
Alright, so an API we are having to use (which, of course, we have no control over) appears to be strictly looking for an `Accept` header formatted as `application/json;masked=false`. However, `HttpClient` is breaking this apart and forcing a space between the `;` and masked, causing their API to treat it as `application/json` (which I'm pretty sure is just their default.) I've reproduced this in

[2017-07-20 13:43] svick commented on #22472
I think this a duplicate of https://github.com/dotnet/corefx/issues/18449, which also has a workaround that involves private reflection.

[2017-07-20 13:44] thomas-frantz commented on #22472
@svick It is, I just found that one too. Thanks.

Sorry about that.

[2017-07-20 13:44] #22472 closed

[2017-07-20 14:49] dangi12012 commented on #22440
If you already implement extension Methods think about: Bitshift, Modulus and Exp. Maybe even Sin, Cos. Then you already have them implemented if they ever are accelerated by hardware!

[2017-07-20 15:11] EgorBo opened #22474 "SqlConnectionStringBuilder - several keywords are not supported"
I am wondering why [these keywords](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionStringBuilder.cs#L873-L887) are marked as "not supported" in SqlConnectionStringBuilder? Is it by design or just is not yet implemented? Especially:
- 'Network Library'
- 'asynchronous processing'
- 'connection reset'
I tried to run mono System.Data test

[2017-07-20 15:59] MichalStrehovsky opened #22475 "Unaccounted forced unoptimized build of System.Security.Cryptography.X509Certificates tests"
The tests are forced to run unoptimized with ILC but there's no issue I can find tracking an underlying codegen issue: https://github.com/dotnet/corefx/pull/22173#issuecomment-316449128.

These either shouldn't be forced to run unoptimized, or there should be a UWP6.0 bug that codegen people are looking at.

[2017-07-20 16:00] joperezr commented on #22464
cc: @DavidGoll @davidsh

[2017-07-20 16:11] tarekgh commented on #22324
I moved it to System.Data.SqlClient area as it is the only stack affected here. and assigned it to @richlander as he is already following up,

[2017-07-20 16:13] richlander commented on #22324
@MSRiganti Does https://github.com/dotnet/corefx/issues/18276 cover this scenario?

[2017-07-20 16:37] daviburg commented on #2295
Newer version support of XSLT would also benefit BizTalk Server and Azure Logic App XML transform, both which build upon .NET's support of XSLT.

[2017-07-20 16:52] #21692 closed

[2017-07-20 16:52] #22444 closed

[2017-07-20 17:02] Petermarcu commented on #21664
We had agreed on a name last week. I think we just Said Microsoft.NETFramework.Compatibility.Windows. @terrajobst is that what you recall? We had also discussed just dropping Windows because it could be inferred because that is where .NET Framework runs. I have mixed opinions on that part.

[2017-07-20 17:09] weshaggard commented on #21664
We don't want NETCore in the package name to indicate it is about adding support to .NET Core?

[2017-07-20 17:10] joshfree commented on #22385
@tijoytom could you help get a repro for @AtsushiKan?

[2017-07-20 17:13] AtsushiKan commented on #22385
This is likely something related to threading or tasks on RS3 vs. RS2. It should be looked at by someone in that space.

[2017-07-20 17:15] safern commented on #22385
cc: @kouvel @AntonLapounov who have context in threading and tasks

[2017-07-20 17:34] tijoytom commented on #22385
@AntonLapounov Can you take a look?

[2017-07-20 17:44] am11 commented on #9855
@Drawaes, I think we would need to patch https://github.com/dotnet/corefx/blob/9b4112d/src/Native/Unix/System.Security.Cryptography.Native/opensslshim.cpp#L46-L49 to use explicit / C-style cast:

[code]

*(also line 11 has the ICU typo)*

See http://winladen.tumblr.com/post/5244813131/staticcast-and-reinterpretcast-from-and-to-void and (shamelessly) dotnet/coreclr#12556 :)

[2017-07-20 17:57] bartonjs commented on #19887
Fixed by https://github.com/dotnet/corefx/wiki/ApiCompat/_compare/b52fd7a02fe73bf7918dbf837c3f76d6cd052e64...d83580449742099878e8fa391881ccd8d5b128dc

[2017-07-20 17:57] #19887 closed

[2017-07-20 18:03] bartonjs commented on #9855
@janvorli Do you know why the `reinterpret_cast` would be failing here? (and do you have an opinion on the shape of the fix?)

[2017-07-20 18:11] corivera commented on #22474
Asynchronous processing has been deprecated since 4.5 came out. Network Library is not supported in Core currently.

I'm not familiar with the connection reset keyword. There's no documentation for it on msdn.

[2017-07-20 18:26] janvorli commented on #9855
@bartonjs let me take a quick look

[2017-07-20 18:33] janvorli commented on #9855
@bartonjs, @Drawaes - I have tried to add the function to the list of functions in opensslshim.h on my Ubuntu 14.04 as follows and it compiles fine:
[code]
I have tried to compile it with both clang 3.5 and clang 3.9. So I wonder what's different on your box.

[2017-07-20 18:42] mi-hol commented on #3906
Also Powershell Core is affected by missing basic PerformanceCounter features like ElapsedTime [https://github.com/PowerShell/PowerShell/issues/4295](url)
From my view adding just the basic 'read' counters dealing with time measures would be a great improvement for many use cases and would boost compatibility!
This improvement could potentially be accomplished within just a few hours :)

[2017-07-20 18:44] SteveL-MSFT commented on #6746
We also need this for PowerShell https://github.com/PowerShell/PowerShell/issues/1654

[2017-07-20 18:51] pjanotti commented on #21892
@danmosemsft @MattGal I just added it to the console perf test, the only other issue listed here already got its `ulimit` updated for macOS.

[2017-07-20 19:03] danmosemsft commented on #22468
@weshaggard thoughts?

[2017-07-20 19:06] Drawaes commented on #9855
Not sure it's a Ubuntu 14.04 clean vm running on windows 10. Just installed last night. Dotnet preview 2 installed  (with dependencies) and then the dependencies required to build corefx from the website. Build.sh and build-native.sh both work fine until I add that function

[2017-07-20 19:10] jodavis opened #22479 "NullReferenceException from System.Uri"
Sometimes `Uri.TryCreate` returns an invalid Uri when given a file path with a trailing slash. The `MinimalUriInfoSet` flag is set, but `m_Info` is null, so most of the methods and properties of the Uri throw `NullReferenceException`. The behavior is not deterministic; for the same input I sometimes get a working Uri.

I can reproduce this (sometimes) with the following code in a unit test:

[code

[2017-07-20 19:14] JonHanna opened #22480 "CodeCoverage runs are failing with various test faults"
The last 8 runs have failed with the message "NuGet hit a corrupted cache on this machine. Please email @jaredpar with a link to this run."

[2017-07-20 19:14] janvorli commented on #9855
@Drawaes would you mind sharing the whole build log for the corefx src/build-native.sh using gist? Please delete the whole bin folder before that so that the log is complete.

[2017-07-20 19:42] corivera commented on #22427
Looks like registry functions are not available in UWP. I'll submit a PR to throw a NotSupportedException from SqlClient localdb connections on UWP

[2017-07-20 20:34] geleems commented on #22453
@kevcunnane Hi, I was trying to repro the issue you were experiencing, and the issue did not happen in my repro steps on macOS 10.12.

Here is my environment info:
* SQL Server 2016 running on different VM
* .NET Core 2.0.0-preview2-25401-01 on macOS ***10.12***
* csproj file
[code]
* Program.cs
[code]
* Console output:
[code]

[2017-07-20 20:45] xumins opened #22482 ".NET Core 2.0 test should support Windows IoT Core checking"
We are testing .NET Core 2.0 on Windows IoT Core in response to the growing popularity of developing managed apps on IoT Core platforms. Currently there is only one test flag 'IsNanoServer' to test .NET Core 2.0 for both Nano Server and IoT Core platforms.  Because there is no specific flag for Windows IoT Core, it results in at least 2 false test failures.  We suggest to add a specific test flag

[2017-07-20 20:49] DRAirey1 opened #22484 "System.Data.SqlClient doesn't work with System.Transactions.Transaction"
I understand that there's no support for ambient transactions, but even explicit transactions don't seem to work.  I have a middle tier which I'm porting to .NET Core.  I simply want to make sure that the in-memory update is committed with the SQL update as an atomic operation.  I had been using ambient transactions, but decided to move to explicit after reading that ambient wasn't supported.  So

[2017-07-20 20:53] danmosemsft commented on #22482
@xumins how should it determine IoT Core? For Nano server we are doing this, which is falsely triggering on IoT Core.

public static bool IsWindowsNanoServer => (IsWindows && !File.Exists(Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.Windows), "regedit.exe")));

Generally Windows versioning API's prefer you do capabilities checks rather than identify the specific SKU although in

[2017-07-20 21:06] corivera commented on #22484
SqlClient transaction support was only added recently in https://github.com/dotnet/corefx/commit/6de0d9478326f4e76016a59193b646508540e75a

It will be included in the 2.1.0 release.

@geleems Do you have anything else to add here regarding two-phase commits?

[2017-07-20 21:09] cydhaselton commented on #21503
@weshaggard Here's my core-setup branch https://github.com/cydhaselton/core-setup/tree/android-cross-build

Will re-run the build with a diag.log in the meantime and attempt to use the ReferenceCopyLocalPaths option

[2017-07-20 21:10] steji113 commented on #8655
@JeremyKuhne Do we need to document that non Desktop platforms may throw different exceptions now depending on the path. I noticed other platform differences are noted here: https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-07-20 21:19] DRAirey1 commented on #22484
Like I said, my middle tier requires that I commit an in-memory operation and a database operation as an atomic unit.  Should I abandon my attempt to move to .net core until Q4 2017?

[2017-07-20 21:22] Drawaes commented on #9855
https://gist.github.com/Drawaes/c04cd6540de4ae1545f3bbe004ba9e6c

Is that what you need?

[2017-07-20 21:24] mahoekst commented on #22427
But it's a very common scenario. How do we fix this for UWP?

[2017-07-20 21:27] corivera commented on #22484
We have preview packages available, if you'd like to try using those.

SqlClient Package: https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Data.SqlClient
Myget feed: http://dotnet.myget.org/F/dotnet-core/api/v3/index.json

[2017-07-20 21:31] Drawaes commented on #9855
Scratch that first one, I made a typo, I have typed that line a few times.. here is the "correct" broken one.

https://gist.github.com/Drawaes/7b2011e7b9eda9c6adea4e4fdac0c9b4

[2017-07-20 21:32] mellinoe commented on #22468
If there is an empty folder for `MonoAndroid10`, that usually means that the assembly is supposed to be shipped with MonoAndroid itself, which means you wouldn't need anything from the package. What version of MonoAndroid are you using?

[2017-07-20 21:34] DRAirey1 commented on #22484
Install-Package System.Data.SqlClient -Version 4.5.0-preview2-25520-92 -Source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
Restoring packages for C:\Source\Main\Trading Post\Web Application\WebApplication\WebApplication.csproj...
  GET https://api.nuget.org/v3-flatcontainer/system.data.sqlclient/index.json
  OK https://api.nuget.org/v3-flatcontainer/system.data.sqlclient/index.json 17

[2017-07-20 21:43] Drawaes commented on #9855
Here is something....  if I run
./build-native.sh

from the corefx folder it fails. But if I run if from the

/corefx/src/Native

folder it works fine... ? so seems it is not a problem with the code but the build script somewhere?

[2017-07-20 21:44] corivera commented on #22427
Registry APIs are not a part of netstandard

[2017-07-20 21:47] Drawaes opened #22485 "./build-native.sh fails to build after adding openssl function if run from root"
On a clean Ubuntu 14.04 LTS machine with only the prereq's for .netcore and with the entire thing building first.....

If I add a function to the opensslshim.h such as

PER_FUNCTION_BLOCK(CRYPTO_set_ex_data, true) \

with adding the pointer as well

#define CRYPTO_set_data_ex CRYPTO_set_data_ex_ptr

and then run ./build-native.sh from the "corefx" root folder I get the following output

https://gi

[2017-07-20 21:54] mellinoe commented on #22485
Hm. Something wrong with how we are using / invoking CMake from different folders, perhaps?

[2017-07-20 21:56] Drawaes commented on #22485
Very possibly, seeing as I am basically at the level of having two commands in VIM :P it is all a bit beyond me, but I can def repeat it and it's a clean Ubuntu VM on hyper V so should be repeatable.

[2017-07-20 21:59] mellinoe commented on #9855
Any reason not to try to support both? I wouldn't be surprised if, in the future, the "old stable" distros and the "bleeding edge" distros support different versions, and we might want to support both of them with a portable binary.

[2017-07-20 22:06] Drawaes commented on #9855
Yeah 1.02 isn't going anywhere for a little bit

Version 1.1.0 will be supported until 2018-08-31.
Version 1.0.2 will be supported until 2019-12-31 (LTS).

So about 18 months of life left kicking in it... after that it should be dropped like a hot potato, no good reason to support it after that.

[2017-07-20 22:08] kevcunnane commented on #22453
@geleems exactly, this does not occur on Sierra (10.12). As mentioned it is a high Sierra (10.13) issue only. SqlClient is completely broken on this. I understand High Sierra is in preview but it'll be released in a few months. That's why I linked this bug in https://github.com/dotnet/core/issues/677 which is tracking all High Sierra-specific issues

[2017-07-20 22:09] Drawaes commented on #9855
To be fair it's going to be a bit nasty, with the current "PAL" layer for openssl from my limited understanding it just straight maps functions from different Dlls, for 1.1 it is actual interface changes (for the better but still) I guess the mapping could be done in the same place with function pointers and to make the PAL more substantial, could also be a maintenance and testing nightmare to hav

[2017-07-20 22:18] pjanotti commented on #21892
@danmosemsft @MattGal for now let's keep this issue open and see if we hit it on other tests. If that happens we can look at capturing information about opened files to give better information to the tests owners to decide if they just want to increase the limit or something else.

[2017-07-20 22:19] mahoekst commented on #22427
Ah ok, so SQLClient is not fully standard compliant?

[2017-07-20 22:19] danmosemsft commented on #3906
cc @brianrob

[2017-07-20 22:31] jaredpar commented on #22480
We should update that message. It was written when we were still debugging into the failure.

The problem here is that a Jenkins VM gets restarted abruptly during a package restore. It's done in such a way that the package directory ends up in a corrupted state. Any future nuget operation on that machine, other than clear, is pretty much guaranteed to fail. Once we discover a machine in that state

[2017-07-20 22:31] danmosemsft commented on #22453
@bartonjs who is best placed to investigate this? It isn't in SQL code.

[2017-07-20 22:38] #22331 closed

[2017-07-20 22:43] danmosemsft commented on #22427
@mahoekst it does build in a netstandard configuration) however it's explicitly referencing registry
[code]
Registry provides a dummy version for netstandard use that simply throws PlatformNotSupportedException.

@corivera I see another problem. The use of LoadLibrary (which is not legal in UWP) is not getting blocked by the build because we still have these lines in the project:
[code]

Given you

[2017-07-20 22:44] danmosemsft commented on #22427
cc @weshaggard

[2017-07-20 23:01] krwq commented on #22030
Hi @kronic,

I have checked XPath 1.0 Spec ( https://www.w3.org/TR/xpath/ ) and we are searching for a path between two AST nodes in a grammar:
- RelativeLocationPath https://www.w3.org/TR/xpath/#NT-RelativeLocationPath
- FunctionCall https://www.w3.org/TR/xpath/#NT-FunctionCall

I have got lost in recursion when searching a path by hand so I wrote a simple script analyzing that for me. (nodes are

[2017-07-20 23:05] corivera commented on #22427
@danmosemsft Is there a UAP compliant way to use the SSPI interop calls? Looks like that also breaks the uap build after removing the UWPCompatible tag.

[2017-07-20 23:15] danmosemsft commented on #22427
They should all be coming. I'll check. Please baseline them for now by adding a file similar to src\System.Net.Security\src\PinvokeAnalyzerExceptionList.analyzerdata.uap.

[2017-07-20 23:17] bartonjs commented on #9855
@mellinoe

We can't compile for both.  We'd have to make the build process be something like
* Build for 1.0.2 on system A
* Build for 1.1.0 on system B
* Merge the binaries, and make some kind of magic switching logic.

That would be even more magical than the portable assets currently are.

OpenSSL 1.1 has a massive number of breaking changes, don't let the fact that they only bumped the minor v

[2017-07-20 23:20] Drawaes commented on #9855
:) Imagine MS getting away with numbers like this for a "minor" version bump

63.4% | 760 new | 433 removed
https://abi-laboratory.pro/tracker/objects_report/openssl/1.0.2l/1.1.0/report.html

[2017-07-20 23:30] #14752 closed

[2017-07-20 23:30] #22300 closed

[2017-07-20 23:31] bartonjs commented on #22453
@kevcunnane Have you tried with the latest builds?  Looking at the callstack again this looks like one of the first High Sierra bugs we fixed.

@danmosemsft Dunno.  I don't have, or know how to obtain, SQL resources; so I can't test it.

[2017-07-20 23:45] mellinoe commented on #9855
@bartonjs I'm not suggesting it would be easy or trivial, but there doesn't need to be anything magical about it. We already do dynamic library and function loading -- we could extend it in various ways. We could also try something like build two native shims, and then select one or the other at runtime from managed code.

[2017-07-20 23:53] danmosemsft commented on #22427
@pjanotti note we will have a baseline for System.Data.SQlClient as well (it was being bypassed by `<UWPCompatible>false</UWPCompatible>` in the project, which @corivera is removing)

[2017-07-20 23:55] bartonjs commented on #9855
@mellinoe That sounds more magical than I'd like core security/crypto code to be.  If business needs force us to do it we can; but until then I really want to keep it simple.  It should always be clear what version is being loaded since our API exposes pointers out, and accepts pointers in.  Once we have a heuristic it gets a lot easier for getting library mismatches leading to memory corruption.

[2017-07-20 23:55] danmosemsft commented on #18083
@joperezr any update on this or remaining concerns?

[2017-07-21 00:11] mellinoe commented on #9855
Fair enough -- I guess I'm just not a fan of the "magical" description. From a simplified view, it would just involve two separate supported backends, which happen to both be usable from the same OS, and which happen to use different versions of a native lib. A bit hand-wavy, to be fair...

#ifdef'ing seems like the right way to do it for the short-term. I brought this up because the cynic in me i

[2017-07-21 00:29] kevcunnane commented on #22453
@bartonjs I've just tested using the official [.Net Core 2.0 Preview 2](https://www.microsoft.com/net/core/preview#macos) bits. I'd be happy to test if there is a new build I can install on my mac? Note that I'm not set up to build corefx and integrate it locally but if there's an installable SDK I can do so.

It'd be great if this was already fixed and will be in the next update.

By the way test

[2017-07-21 01:17] geleems commented on #22484
@DRAirey1 Can you provide a short sample code to test your scenario with your newly added transaction support? I guess it would work with our latest support, and I would like to try it.

[2017-07-21 01:18] tarekgh opened #22488 "NamedPipeClientStream high cpu usage when server unavailable"
_From @coderb on July 20, 2017 11:31_

NamedPipeClientStream does a tight infinite loop (spins without blocking) if Connect(Timeout.Infinite) is called and the server is unavailable (not running or the pipe is busy).

I would suggest that the retry loop should yield the cpu (Thread.Sleep/Task.Delay) for say 250ms.

[code]

_Copied from original issue: Microsoft/dotnet#445_

[2017-07-21 01:20] tarekgh commented on #22488
cc @JeremyKuhne @ianhays

[2017-07-21 01:30] JeremyKuhne commented on #22488
This is a NetFX issue. CoreFX spin waits here. @ianhays

[2017-07-21 01:42] safern commented on #20511
Fixed in changeset: 1667201 in TFS. Will update to be ingested and will re-enable the tests.

[2017-07-21 05:58] anfomin commented on #22453
I've the same issue on macOS 10.13 High Sierra while connecting to the SQL Server 2014. However encryption is not enabled in the connection string.

It's strange but connection to the SQL Azure via SqlClient works. Is there any workaround for connection to the SQL Server?

[2017-07-21 06:33] dotnet-mc-bot opened #22492 "Test: System.IO.Tests.PathTests/GetFullPath_NonControlWhiteSpaceStays failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.PathTests/GetFullPath_NonControlWhiteSpaceStays(component: \"\")` has failed.

Assert.Equal() Failure\r
                     ? (pos 7)\r
    Expected: C:\\Test?\r
    Actual:   C:\\Test\r
                     ? (pos 7)

        Stack Trace:

           at System.IO.Tests.PathTests.GetFullPath_NonControlWhiteSpaceStays(String component)

[2017-07-21 06:36] dotnet-mc-bot opened #22493 "Test: System.IO.Tests.PathTests/GetDirectoryName_NonControl failed with "System.ArgumentException ""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.PathTests/GetDirectoryName_NonControl(path: \" \")` has failed.

System.ArgumentException : The path is empty.\r
    Parameter name: path

        Stack Trace:

           at String System.IO.Path.GetDirectoryName(String) + 0xb8
       at System.IO.Tests.PathTests.GetDirectoryName_NonControl(String path)
       at Object _$ILCT$+$ILT$Reflect

[2017-07-21 07:27] Shtong commented on #22468
I'm using MonoAndroid 7.1. After reading your message I quickly found out that the assembly is indeed shipped with MonoAndroid, but it is named `System.IO.Compression.FileSystem`. After adding it I was able to access the `ZipFile`class.

[2017-07-21 07:36] mellinoe commented on #22468
@Shtong Great! Let us know if you have any other questions.

[2017-07-21 07:36] #22468 closed

[2017-07-21 07:53] Kimi-Arthur commented on #9855
Even if we/you don't do it magically, as long as there is a version supporting/using openssl 1.1.0, it would be great! Is it already there yet?

Distros like Arch can pass in different flags in their build config files (PKGBUILD) and choose the correct one for them. They already do that for a lot of packages I believe.

[2017-07-21 07:57] MSRiganti commented on #22324
No.
Because #18276 cover the funkcionality, not the answer, when it will be done.
My (and not just my :-) ) question is: When?
**Will it be released before 25 may 2018?**
According to the answers we can, or we cannot build new projects with this framework.
I found, that this funkcionality is not in plan yet.
Stackowerflow: [41027953](https://stackoverflow.com/questions/41027953/sql-server-always-e

[2017-07-21 10:35] cydhaselton commented on #21503
@weshaggard and/or @Petermarcu a better question, is there doc or gist similar to [this](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits) for core-setup.

[2017-07-21 12:52] DRAirey1 commented on #22484
It took me most of last evening, but after clearing the Gnuget cache, I was able to load the 4.5.0 preview.  However, that didn't change the result.

[code]
System.NotSupportedException: 'Enlisting in Ambient transactions is not supported.' when the **EnlistTransaction** is called.

[2017-07-21 14:02] steji113 commented on #8655
@JeremyKuhne thanks for your help fixing the tests! I referenced this issue here so that we can trace the cause of the new behavior and also updated my status post.

[2017-07-21 15:02] bartonjs commented on #22453
@kevcunnane Here's the saga of the links you need to have noticed.  (Not casting aspersions at you, you can just skip to the end if you like :smile:)

* The landing page (https://github.com/dotnet/corefx/).
* That has a section called "How to Engage, Contribute and Provide Feedback"
* In there there's a link "Dogfooding daily builds" (https://github.com/dotnet/corefx/blob/master/Documentation/proj

[2017-07-21 15:07] Shtong opened #22496 "UWP - 4.3.0 regression - Directory.CreateDirectory crashes with DirectoryNotFoundException"
Hello,

I've noticed a regression that happened in a UWP project when updating the `System.IO.FileSystem` package to the latest version (4.3.0). After the update, creating a new directory outside the app's local folder with `Directory.CreateDirectory()` fails with a `DirectoryNotFoundException`, whereas it worked fine before the update (with version 4.0.1).

Reproduction steps :

* On an up-to-dat

[2017-07-21 15:28] Shtong commented on #22496
My bad, I didn't setup my environment properly and had an error that wasn't really one... :-1:

[2017-07-21 15:28] #22496 closed

[2017-07-21 16:18] tarekgh commented on #22324
CC @saurabh500 @corivera

[2017-07-21 16:20] joperezr commented on #22493
I believe this is an easy fix, just use AssertExtensions.Throws instead of Assert.Throws

[2017-07-21 16:24] ianhays commented on #22488
Closing this as it isn't .net core relevant.

I've backported this fix to full .net and it should be included in the release after the next one.

[2017-07-21 16:24] #22488 closed

[2017-07-21 16:26] coderb commented on #22488
now that's what i call service!!! thank you!!!

[2017-07-21 16:27] joperezr commented on #18083
last time I checked, everything was looking fine, but I'm happy to trigger a new validation run. In fact, Now that I have some spare time I'll try to set this up as part of an official build leg and have it running daily.

[2017-07-21 16:30] #21975 closed

[2017-07-21 16:30] coderb commented on #22488
hey ian-

sorry if i'm being dumb here, but aren't we still going to use 100% cpu for `Connect(Timeout.Infinite)` when the server is unavailable on windows in the follow code:

[code]

[2017-07-21 16:40] coderb commented on #22488
so i see the corefx code uses SpinWait.SpinOnce() on each loop iteration.

this strikes me as ultra agressive and suprising behavior.  the API from the outside would appear to block ala a Socket.Connect() when in reality it is going to still eat tons of CPU.

why not Sleep(250) each iteration after a certain number of iterations?  if the user is waiting a few seconds for a connection an extra 250m

[2017-07-21 16:42] DRAirey1 commented on #22484
I can't even get a simple program to run.  I've got a clean copy of Visual Studio 2017 Preview (2), got a brand new .NET Core console application.  I plug the code in above into the 'Main' method and when I run it I get:

[code]
When it tries to execute the 'new SqlConnection' line.

[2017-07-21 16:45] stephentoub commented on #22488
SpinWait has fallback behavior, such that i'll end up doing Thread.Sleeps:
![image](https://user-images.githubusercontent.com/2642209/28473409-6c9a51f2-6e12-11e7-879b-87617467c905.png)

[2017-07-21 16:51] coderb commented on #22488
Your test is analogous to

[code]
but really what is happing is

[code]
SpinWait on my system:

[code]

[2017-07-21 17:06] stephentoub commented on #22488
It generally won't sleep for 1ms... more likely 10-15ms.  And the work required in WaitNamedPipe if it doesn't block is small.

Can you please share a repro on .NET Core 2.0?  I see this:
![image](https://user-images.githubusercontent.com/2642209/28474139-618b1582-6e15-11e7-9785-8d43b2437bb0.png)

[2017-07-21 17:11] kevcunnane commented on #22453
Great news! I verified this is fixed in the Preview 3 daily builds. So I'll close this out. Thank you for the pointers - I would have really struggled to figure out where the builds are / how to get this tested.

[2017-07-21 17:11] #22453 closed

[2017-07-21 17:12] kevcunnane commented on #22453
One more question - is there a public ETA for Preview 3? We'll want to take that as soon as it's available. Thanks!

[2017-07-21 17:12] danmosemsft commented on #22493
No it's not checking the parameter name (that's just the default ToString output for argument exception)

It's probably because it doesn't yet have the changes that were made in CoreCLR. They look like they all reached CoreRT so it's just waiting for that.

[2017-07-21 17:13] danmosemsft commented on #22492
Another one needing an update of the PN corelib.

[2017-07-21 17:15] danmosemsft commented on #22453
@kevcunnane thanks for verifying. For dates -- we don't have anything more concrete right now than what's [on our roadmap](https://github.com/dotnet/core/blob/master/roadmap.md). Not long now though.

[2017-07-21 17:20] coderb commented on #22488
ok, i hear you and it probably is ok on windows.  the thing is there are multiple assumptions built in that are fragile- 10-15ms timeslice architecturally depenedent on the windows scheduler.  not sure what would happen on linux especially on a kernel that might be build with NOHZ or realtime / low latency (1ms scheduler if i recall).  we're also assuming TryConnect() is fast.  i just don't see wh

[2017-07-21 17:23] JeremyKuhne commented on #22493
Yeah, the CoreRT mirror was delayed a bit. @safern

[2017-07-21 17:24] danmosemsft commented on #22434
@davidsh is this just another manifestation of test flakiness? If so please move out of 2.0.

[2017-07-21 17:26] JeremyKuhne commented on #8655
@steji113 no problem, it is a little tricky to get everything lined up perfectly.

[2017-07-21 17:27] bartonjs commented on #22089
#22228 fixed this in 2.0 and #22267 made it start failing (which we expected, but weren't seeing) in master.  So closing this.

[2017-07-21 17:27] #22089 closed

[2017-07-21 17:29] JonHanna opened #22500 "Microsoft.CSharp does not identify indexer properties correctly"
The dynamic binder assumes that all indexers are called `Item` with the exception of that on `string`. So for example:

[code]

[2017-07-21 17:35] safern commented on #22493
But they made it to coreRT 2 days ago:

https://github.com/dotnet/corert/pull/4193
https://github.com/dotnet/corert/pull/4195

The question here is how often do we mirror from coreRT to PN TFS? Because what we consume is what is built out of ProjectN not CoreRT right?

[2017-07-21 17:45] JeremyKuhne commented on #22493
Yes, but I don't know when the last N merge was made. It used to be manual in one direction I think, but I don't recall which way.

[2017-07-21 17:49] danmosemsft commented on #20117
@safern can you try enabling the issues disabled against 20117 see if they pass?

[2017-07-21 17:53] geleems commented on #22484
@DRAirey1 I just tried with ff11ac65876e8ea8ed16a6b51ded48e19d6283ba. And no error occurred.

With test code:
[code]

Console output:
[code]

[2017-07-21 17:57] stephentoub commented on #22488
Because there's a downside to longer waits, even with a backoff scheme, and we've not yet seen a case that's harmed by using the smallest sleep possible.  If you have one, please do share, but otherwise in the absence of an actual problem we'd prefer to optimize for the cases we know to exist and to keep the code as simple as possible.  One of the most common scenarios that hits this code path is

[2017-07-21 17:58] safern commented on #20511
My change didn't make it to yesterday's official build but it is already in ProjectN. All the disabled tests against this issue pass. So I will wait until we consume that change to enable the tests and close this issue.

[2017-07-21 17:59] safern commented on #22493
@danmosemsft and I just checked. It is manual from CoreRT to ProjectN and ProjectN doesn't have this changes in yet. Dan just sent an email to @MichalStrehovsky to see if we could take care of that merge.

[2017-07-21 17:59] safern commented on #20117
Sure.

[2017-07-21 18:00] MSRiganti commented on #22324
Thank you.

[2017-07-21 18:05] geleems commented on #22484
@DRAirey1
As @corivera mentioned, the transaction support was recently added to .NET Core, and official build is not released. The error you got with clean official .NET Core is surely expected since current official release build does not have transaction support.

[2017-07-21 18:06] coderb commented on #22488
kudos @stephentoub .  i get it.  i appreciate you taking the time to explain.  what you say makes complete sense.  i was a little wound up by getting hit with the 100% cpu bug on netfx but you've clearly thought it through.  thank you.

[2017-07-21 18:11] safern opened #22502 "System.IO.FileSystem.Tests.*.LongPathSegment failed in UapAot"
All LongPathSegment tests under System.IO.FileSystem failed in UapAot with error:

[code]

Failing Tests:
-  System.IO.Tests.FileInfo_Create.LongPathSegment
- System.IO.Tests.File_Create_str.LongPathSegment
- System.IO.Tests.File_Create_str_i.LongPathSegment
-  System.IO.Tests.File_Create_str_i_fo/LongPathSegment

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/typ

[2017-07-21 18:23] JeremyKuhne opened #22503 "Recursive directory deletion doesn't scale"
On Windows in particular, as paths can be ~32K characters long. It is quite possible to have directories nested 1000 levels deep. (#22443)

On Windows the P/Invoke is suboptimal- the WIN32_FIND_DATA struct isn't blittable, causing multiple managed and unmanaged heap allocations in addition to eating up space on the stack.  Making this blittable and passing it in by ref would relieve a large chunk

[2017-07-21 18:28] danmosemsft commented on #22271
@joperezr verified the Windows bug fixes our tests: we are waiting on the build to be updated now.

[2017-07-21 18:37] danmosemsft commented on #22453
I should also add we expect CoreFX to ship essentially in the state you just got.. so it'd be great if you'd flag any other issues you hit.

[2017-07-21 18:42] kouvel opened #22506 "[uapaot] AsyncTaskMethodBuilder<TResult>.SetStateMachine throws when 'm_moveNextAction' is uninitialized"
It's a difference from CoreCLR behavior, the exception occurs here:
https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncMethodBuilder.cs#L874

The following test was temporarily disabled for uapaot in PR https://github.com/dotnet/corefx/pull/22481:
- AsyncValueTaskMethodBuilderTests.SetStateMachine_InvalidArgument_ThrowsException

Test:

[2017-07-21 18:48] danmosemsft commented on #22479
Surprises me it's not consistent. I didn't know that the URI class had any non determinism.

[2017-07-21 19:10] stephentoub commented on #22488
Thanks, @coderb. If after trying the fix you do find situations where it's still problematic, please do let us know :)

[2017-07-21 19:12] swgillespie commented on #21443
Here is the stack that causes the GC that boots us out of the No GC region (TLDR: resource lookup for the error message when throwing the one `InvalidOperationException` that the test is expecting)

[code]

I don't think this repros when running in single-file compilation mode - i'm still looking around to see why this is the case. (This is probably why I couldn't repro this locally without the He

[2017-07-21 20:13] #22348 closed

[2017-07-21 21:13] jakepetroules opened #22508 "Value 0x0010 for DllCharacteristics is missing"
In corefx/src/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/PEFileFlags.cs, there is no value for 0x0010 listed.

I cannot find it documented anywhere, however if I build a native DLL with cl.exe and pass /APPCONTAINER to the linker, this bit is present in the resulting PE file's DllCharacteristics field.

While the link.exe documentation for /APPCONTAINER isn't clear whether

[2017-07-21 21:13] #22427 closed

[2017-07-21 21:14] mellinoe commented on #22508
@nguerrera Any idea what that flag value means?

[2017-07-21 21:15] damageboy commented on #2209
I want to add to what @redknightlois wrote and say that I can't think of a single PL / environment where at the very least, when intrinsics are supported at all, they are at least supported with the straight-to-opcode approach.

MS needs not go anyfurther than revisit its own C++ compiler to witness that.

I'm all for a more generalized (a-la System.Numerics) approach for an XP experience where th

[2017-07-21 21:18] JonHanna commented on #22480
Guess someone's going to have to do that for the coverage runs, so.

[2017-07-21 21:30] tannergooding commented on #2209
I really hope that if such a feature is implemented, we choose better names:
* `_pdep_u64` -> `DepositContiguousLowBits` or `DepositContiguousBits`
* `_mm256_slli_epi64` -> `ShiftPackedInt64` or `ShiftPacked` or even just `Shift`

No reason why we have to make it hard to read :wink:

[2017-07-21 21:54] vellozzi opened #22509 "Overriding the RID for build.sh"
I'm building the coreclr, corefx, and cli repos for Amazon Linux.

When I build the corefx repo I run into issues because the build scripts and tools don't handle the RID 'amzn.2015.09-x64' properly.

I originally tried to fix the build scripts in the corefx repo to override the RID, instead of deriving from /etc/os-release.  But there are scripts and tools that get downloaded as part of the build

[2017-07-21 22:10] damageboy commented on #2209
@tannergooding I understand where you are coming for, and am definitely all for having readable/meaningful names...

However, people, in this specific case, are not going to use these sorts of intrinsics with a clean slate, or at least many of them will have "prior convictions" and baggage coming from C/C++....

So while having nice meaningful names is something I would definitely like, I do stron

[2017-07-21 22:14] SteveL-MSFT opened #22510 "Need ProtectedData support on non-Windows"
Current package https://dotnet.myget.org/F/dotnet-core/api/v2/package/System.Security.Cryptography.ProtectedData/4.0.0-rc3-24022-00 throws PlatformNotSupported on non-Windows.

This feature is needed by [PowerShell](https://github.com/PowerShell/PowerShell/issues/1654) and [Nuget](https://github.com/NuGet/Home/issues/1851) and it doesn't make sense for everyone to roll their own.

The original [is

[2017-07-21 22:25] cydhaselton commented on #21503
@weshaggard: Debug logs posted. [This one](https://pastebin.com/3ENyDdPb) is from `run.sh build-native` and [this one](https://pastebin.com/DEBHfbh4) is from `run.sh build-custom` (see next comment)
Additional note: Using the build instructions from [here](https://github.com/dotnet/core-setup/issues/283#issuecomment-284307445), specifically `run build-custom -verbose -OSGroup=Linux -- src/corehost

[2017-07-21 22:30] #20117 closed

[2017-07-21 22:45] danmosemsft commented on #22469
@AlexGhiondea what criteria did you use for selecting the S.CM types to port? We have some parts of eg System.ComponentModel.DataAnnotations.dll from 4.6.1 and not others.

Below are the concrete types In S.CM (except Composition) that are in 4.6.1 but not Core.
[code]

[2017-07-21 22:47] danmosemsft commented on #22469
It would be interesting to know the full set you need @ysmoradi ... not sure how to find out though unless you want to add this type locally and see what happens,.

[2017-07-21 23:42] bbowyersmyth commented on #22474
@corivera There is some doco on the old site https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlconnection.connectionstring(v=vs.71).aspx

Seems the functionality was removed in .Net Framework 2.0 SP1 https://social.msdn.microsoft.com/Forums/sqlserver/en-US/677a3b80-6aa3-4859-8d71-a5e533f11296/connection-pooling-connection-reset-on-net-20-sp1?forum=sqldataaccess

[2017-07-22 00:02] fadimounir commented on #21379
@Jiayili1 Can you please confirm that this test is now passing on ARM? The fix for this issue has been checked-in to the ProjectN branch.
If the tests pass, we can close the issue.

[2017-07-22 00:05] safern commented on #21379
@fadimounir https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170721.03/workItem/System.Runtime.Tests.Execution/analysis/xunit/System.Tests.ArrayTests~2FBinarySearch_SZArray%3CSByte%3E(array:%20%5B-128,%200,%200,%20127%5D,%20index:%201,%20length:%203,%20value:%20-128,%20comparer:%20null,%20expected:%20-2)

The tests just failed

[2017-07-22 00:09] fadimounir commented on #21379
@safern it was checked in yesterday 7:27pm. I think tomorrow's test results would be the ones that are interesting to check. Today's results are very unlikely to use the fix.

[2017-07-22 00:12] safern commented on #21379
Yes, the official builds happen at 6pm everyday so it should be picked up by corefx tomorrow morning, so I will keep an eye on them over the weekend.

[2017-07-22 00:35] halter73 opened #22515 "SslStream.AuthenticateAsClient takes a long time to throw given invalid remote cert on macOS High Sierra"
Starting in macOS 10.13, some Kestrel tests that expect `SslStream.AuthenticateAsClient[Async] to fail got dramatically slower. The reason for this that the call to AuthenticateAsClient takes much longer on 10.13 than it does in previous versions of macOS. To demonstrate this, run the following console app against a website with an invalid cert. If you don't have such a website easily available, f

[2017-07-22 00:37] lemmaa commented on #22135
Thank you @tarekgh. After installing the custom locale through the guide you gave me, I confirmed that `*.resx` was successfully built in VS2017. Now I just need to make sure I can build custom locale using dotnet cli on linux for CI. I will share the results. Thanks a lot for your help.

[2017-07-22 00:46] tarekgh commented on #22135
I am not sure I understand this. As I mentioned previously custom cultures as Windows specific feature and not supported on Linux. This is OS feature and not .net framework feature.

[2017-07-22 00:47] danmosemsft commented on #22480
I don't think that's the cause, @jaredpar your message appears whenever the text `.*XmlException.*` is in the log
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/failure-cause-management/4caf22c3-f09b-4ab4-99f1-9fb264c1b418/

IO test faiulre  https://github.com/dotnet/corefx/issues/22443
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/259/console

[2017-07-22 00:48] danmosemsft commented on #22480
I deleted the .*XmlException.* pattern as I don't think that's a sufficiently specific indication.

[2017-07-22 00:50] danmosemsft commented on #22480
This won't fix itself. We aren't seeing these more recent issues on the regular runs so it seems code coverage related.

[2017-07-22 01:01] tarekgh commented on #22135
one thing I came across for Linux, is the link http://userguide.icu-project.org/locale#TOC-Usage:-Creating-Locales which it looks ICU can allow creating a locale which is not supported. I didn't look at the details but you take a look and figure out if this can help in your scenario

[2017-07-22 01:06] danmosemsft commented on #22515
@Priya91 @bartonjs not sure who's looking at this ..

[2017-07-22 01:06] danmosemsft commented on #22509
@weshaggard

[2017-07-22 01:06] danmosemsft commented on #22509
@weshaggard

[2017-07-22 01:16] #22373 closed

[2017-07-22 01:19] jamesqo commented on #12915
I actually just ran into a case where this would be useful: https://github.com/jamesqo/BlockList/blob/master/BlockList.cs#L73-L84. I'm making an array-based collection and I want to offer `Contains(T, IEqualityComparer<T>)` in addition to the `Contains(T)` I'm mandated to implement by `ICollection<T>`. However, since there's no comparer overload that's not possible.

[2017-07-22 01:21] bartonjs commented on #22515
This is a known problem.  Building a revocation-enabled chain from a self-signed certificate spins for a long time then emits two contradictory codes.... the return value is OSError 0 (noErr).  The out value is kSecTrustInvalid (I'm corrupt).  Since the return value is what we use for the string lookup we give the message as "No error".

I've always seen it as 4**5** seconds, not sure where your s

[2017-07-22 01:23] bartonjs commented on #22510
We have no plans to do this.  It requires OS features that are only available on Windows.

[2017-07-22 01:23] #22510 closed

[2017-07-22 01:30] jefgen commented on #22135
Thanks Tarek. Note that if you do "create" a locale using the approach in that document, ICU will end up falling back to using some sort of 'default' data, so you might not get the results that you expect. (Date formats will not necessarily match what you might expect, etc.)

@lemmaa As for the previous question regarding the 'charts' in CLDR, note that CLDR does collect data for all sorts of lang

[2017-07-22 02:06] lemmaa commented on #22135
Thanks @tarekgh, don't worry, I know that the tool, Locale Builder 2.0, is for windows only. I know there is a similar approach to linux, and I want to add a custom locale to the linux system in the same way as https://askubuntu.com/questions/21316/how-can-i-customize-a-system-locale. For linux, there is a `glibc` locale system in addition to the `libicu` locale, so I can not be sure before trying

[2017-07-22 02:10] tarekgh commented on #22135
just ensure the locale name on Linux using underscore in the name and not dashes :-)

[2017-07-22 02:18] lemmaa commented on #22135
Yes, So CoreCLR automatically converts this as in https://github.com/dotnet/coreclr/blob/master/src/corefx/System.Globalization.Native/locale.cpp#L98

[2017-07-22 02:29] halter73 commented on #22515
If you look at the exception for the second call to AuthenticateAsClient which omits the extra parameters passed to the first call, it's a little different. It matches the exception from macOS 10.12.

And while that second call is much faster (10173 ms) than the first call on macOS 10.13, it's nowhere near as fast as the same call on macOS 10.12 (20 ms).

Maybe it's the same or similar issue, but

[2017-07-22 04:30] ysmoradi commented on #22469
@danmosemsft I'm ready! Just tell me how to add this type locally to my app. Then I try to do the same for other types as needed. I can copy its code from mono code / reference source, but how can I add this type locally? I'm gonna spend time no matter how hard it would be.

[2017-07-22 04:34] #22502 closed

[2017-07-22 04:43] jamesqo opened #22520 "Request: Consider displaying count in debugger display when known for System.Linq iterators"
Today I was debugging an xUnit theory that accepted an `IEnumerable<int>`. In my test data method, I was generating the enumerable via `Enumerable.Range`. When I looked at the enumerable in the debugger, it was stringified to `{System.Linq.RangeIterator}`. I needed to evaluate the enumerable via 'Results View' and count the number of elements displayed to find the count.

<img width="960" alt="cor

[2017-07-22 05:04] danmosemsft commented on #22520
Seems like this probably comes from src\System.Linq\src\System\Linq\DebugView.cs. There's a note there that VS instantiates them by hard coded name. Perhaps if you add a Count property there, and test whether the IEnumerable is an ICollection, and if so return the count, you might get some of this.

[2017-07-22 05:08] danmosemsft commented on #22469
@ysmoradi OK, it wil lbe a bit of work if you've not previously got set up to contribute. You'll want to clone this corefx repo, and then follow the docs (start [here](https://github.com/dotnet/corefx/wiki)) to build it. Then follow the docs [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md) to use the result. Hopefully the docs are accurate - if not plea

[2017-07-22 05:09] danmosemsft commented on #22469
Once you are successfully consuming bits you built yourself, you can add the type. You'd edit src\System.ComponentModel.Annotations\ref\System.ComponentModel.Annotations.cs to add the declaratoin, and put the implementation in src\System.ComponentModel.Annotations\src.

[2017-07-22 05:46] danmosemsft commented on #12228
https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/59bc20a58c0b3a277811d4010e2a51e2eb513c5a/workItem/System.Transactions.Local.Tests/analysis/xunit/System.Transactions.Tests.AsyncTransactionScopeTests~2FAsyncTSTest(variation:%209)

unfortunately I do not see anything extra in the test result file:
[code]

[2017-07-22 05:47] danmosemsft commented on #12228
@qizhanMS which file would the logging be in?

[2017-07-22 05:47] danmosemsft commented on #12228
https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/59bc20a58c0b3a277811d4010e2a51e2eb513c5a/workItem/System.Transactions.Local.Tests/wilogs

[2017-07-22 06:28] jakepetroules commented on #22508
Sorry, my fault, I completely forgot PE files are little endian. The value I was looking at is indeed 0x1000 (IMAGE_DLLCHARACTERISTICS_APPCONTAINER), not 0x0010.

[2017-07-22 06:28] #22508 closed

[2017-07-22 06:40] ysmoradi commented on #22469
Thanks. I'm gonna try these steps (:

[2017-07-22 08:40] reddwarf666 commented on #22510
Trying to read and keep track of this issue is very difficult on github, cross references all over the place and all seem to get closed without any actual resolvement.

Will we be able to use this feature on MacOS / Linux or won't we?

[2017-07-22 08:55] bits8 commented on #5381
Hey!
IsSubclassOf was removed. What can use to same result?

[2017-07-22 10:30] hughbe commented on #22500
Is there a typo in the second example: should be d[42] not i[42]

[2017-07-22 10:32] JonHanna commented on #22500
Thanks @hughbe

[2017-07-22 12:06] benaadams commented on #2209
The C++ intrinsics don't match the asm opcodes in name anyway.

Would it not be better to match the asm descriptions and merge opcodes with overloading?

While at the same time, not shying away from the use of vowels, but staying away from underscore exuberance?

[2017-07-22 12:55] svick commented on #5381
@bits8 [`Type.IsSubclassOf` is coming back in .Net Core 2.0 and .Net Standard 2.0.](https://apisof.net/catalog/System.Type.IsSubclassOf(Type)) In the meantime, one option would be to copy [its source code](https://github.com/dotnet/coreclr/blob/f10955c/src/mscorlib/shared/System/Type.Helpers.cs#L320-L332).

[2017-07-22 13:00] JonHanna commented on #5381
If you make an extension method matching the signature, then the compiler will switch to using the instance method instead as soon as it becomes available.

[2017-07-22 13:14] JonHanna commented on #5381
@bits8 This should serve:
[code]

[2017-07-22 13:16] bits8 commented on #5381
@svick @JonHanna Thank you! I've solved this issue with writing own code.

[2017-07-22 14:15] benaadams commented on #2209
@damageboy C# version could look something like this
[code]
or with `using static`
[code]

[2017-07-22 17:08] bartonjs commented on #22510
@reddwarf666 No, this API will only ever work on Windows. (and if we were to ever make something that worked cross-platform (which I don't forsee) it would probably be a new API, not this one).

ProtectedData is part of Windows DPAPI (Data Protection API).  It encrypts the data using an algorithm of its choice and a key that it probably makes up on the spot.  That key it needs to write down, but t

[2017-07-22 17:15] reddwarf666 commented on #22510
@bartonjs Thanks for the extensive write-up, appreciated. I guess we have to live with this reality that not everything will be cross platform. I do hope a general solution will be found but I understand the issue a bit better now.

[2017-07-22 18:37] DRAirey1 commented on #17523
Yeah, I've got this problem now, exactly, with Visual Studio 2017.

[2017-07-22 19:42] benaadams commented on #2209
@dsyme @redknightlois @jonathanmarston @mellinoe @damageboy @CarolEidt

API starter for comment/feedback

[code]

[2017-07-22 20:14] terrajobst opened #22527 "Project URL isn't meaningful"
Our packages all point to `http://dot.net` which isn't a very meaningful location. Instead, the packages should probably point to their proper GitHub repos, e.g. `https://github.com/dotnet/corefx`.

[2017-07-22 20:18] jnm2 commented on #22527
https 😈

[2017-07-22 20:20] terrajobst commented on #22527
Point taken and fixed.

[2017-07-22 21:29] JonHanna opened #22528 "RuntimeBinderException could provide a useful HelpLink"
Many causes of `RuntimeBinderException` being thrown are directly analogous to causes of compile-time errors when compiling C#.

These errors all have some, often copious, information available about them on the web, and roslyn already has a mechanism for guiding developers to a Bing search, which could be easily piggy-backed on to provide a `HelpLink` that has a good chance of beating the results

[2017-07-22 21:32] benaadams commented on #2209
Perhaps to address @damageboy's concerns also have a Intrinsics Interop

[code]

Then you just need to a the header `using static System.Numerics.Intrinsics.Interop;` and all the C-style functions are available? So this would then be vaild:

[code]

[2017-07-23 00:55] sanvey35 commented on #22528
Hye h

[2017-07-23 05:54] damageboy commented on #2209
@benaadams Having those two versions is basically what I meant...

I like meaningful names just like any sane person, but when porting or trying to implement some paper you may be reading it just makes some sense to have the interop version around.

Few comment though

* Wouldn't it make more sense the have the interop version in some x64/x86 namespace, along side ARM ones?
* Can/Should he canonic

[2017-07-23 10:02] clrjunkie commented on #21810
"System.IO.Connectivity" ?

[2017-07-23 12:01] benaadams commented on #2209
Yes, throw for intrinsics of wrong platform, also some are x-plat so something like?
[code]

Yes. They are fairly universal functions and the software fallback is well known; so I'd think they sit well as platform independent "intrinsics".

Note this is different than interop intrinsics (as above) and platform/cpu specific intrinsics that either aren't common or have a complex software fallback (e

[2017-07-23 12:20] benaadams commented on #21753
@stephentoub could you tag me on the coreclr PR? The are a couple minor tweaks that can be done, that aren't valid in corefx (as its coreclr independent)

[2017-07-23 14:06] damageboy commented on #2209
Seems pretty sensible to me so far, yes.

Well, there is something like the intel way of doing things in ICC where they can generate functions for several archs and then they basically do a synamic dispatch to the appropriate function.

For anything that take a considerable amount of cycles that sort of approach is both inclusive as far as compiling once, running "everywhere"...

[2017-07-23 15:05] benaadams commented on #2209
For detection I was hoping there was some way to directly tie to the method/method group itself with an extension like:
[code]
To do
[code]
But it doesn't seem that's valid C# 😞

[2017-07-23 16:53] damageboy commented on #2209
On the other hand

[code]

Is really not that bad

[2017-07-23 17:00] damageboy commented on #2209
One thing I'm not really clear about in this discussion is are we talking about numeric intrinsics per-se here, or general intrinsics?

All of the examples so far are fine for `System.Numerics`, but if we start going into prefetching and clearing cache instructions, then this becomes something completely different... at least from the title...

Maybe the whole thing needs to become slightly wider

[2017-07-23 17:16] tannergooding commented on #2209
@damageboy, there have been a few proposal on the subject of general intrinsics (https://github.com/dotnet/coreclr/issues/6906#issuecomment-307164495).

[2017-07-23 17:18] JonHanna opened #22534 "Microsoft.CSharp does not report CS1545 or CS1546"
If a type has property with parameters that is not its indexer property, then attempting to index it in C# will cause either CS1545 if it has both a getter  and setter ("Property, indexer, or event 'XXX' is not supported by the language; try directly calling accessor methods 'get_XXX' or 'set_XXX'") or CS1546 if it has only one of those ("Property, indexer, or event 'XXX' is not supported by the l

[2017-07-23 17:27] Trolldemorted opened #22535 "ClientWebSocket throws exception when connecting after abort"
The [documentation ](https://msdn.microsoft.com/en-us/library/system.net.websockets.clientwebsocket.abort(v=vs.110).aspx) of `ClientWebSocket.Abort()` says:

But after calling `Abort`, one can no longer connect with that ClientWebSocket. The following snippet throws an ObjectDisposedException ("Cannot access a disposed object"):

[code]

I understand that this exception is thrown when trying to re

[2017-07-23 17:45] davidsh commented on #22535
This is the same behavior as .NET Framework.  Calling Abort() is a terminal operation and closes the socket.  The connection lifetime is over at that point and essentially this is similar to Dispose().

The documentation can probably be enhanced to explain this better.

[2017-07-23 17:45] davidsh commented on #22535
cc: @CIPop @DavidGoll

[2017-07-23 17:51] Trolldemorted commented on #22535
Thanks for the quick response - after having read the documentation i assumed that Abort would only reset the current state of the socket and it would behave as a new instance would do.

[2017-07-23 19:00] jkotas opened #22536 "Constructor Using Dynamic Type Not Visible When Using InternalsVisibleTo"
_From @adamrodger on July 23, 2017 16:35_

I have a class in `ClassLibrary1` like this:
[code]
And then in `OtherLibrary` I have a test:
[code]

**Expected Result**: Running the test passes and "Success!" is written to the console
**Actual Result**:
[code]

If I change the constructor to take an explicitly typed object (e.g. pass a string directly) then the test passes. If I make the constructor p

[2017-07-23 19:11] JonHanna commented on #22536
There was a recently closed issue very similar to this (hard to track down now, on phone), so maybe this is a duplicate.

[2017-07-23 19:33] cydhaselton commented on #21503
@jkotas

After trying several times to implement option 1, I ran the build with the CoreCLROverridePath  set.  Unfortunately it failed with the same error:
[code]

[2017-07-23 20:11] dmitrymal commented on #13914
Has this been resolved or is there a workaround?

I am also getting similar errors in the Debug mode. It appears the errors only happen in the emulator (I don't have an ARM device to test).
I don't get an error in the Release mode or on the Desktop

When I get an error, here is the Debug output related to the error:

Exception thrown: 'System.DllNotFoundException' in System.IO.Compression.dll
Exce

[2017-07-23 20:58] davidsh commented on #22434
@danmosemsft All these test failures are on Linux (Ubuntu). They are also related to the NegotiateStream class.  Those tests use a loopback server and not an Azure endpoint.  All the tests seem to be failing in similar way:

"System.Security.Authentication.AuthenticationException : A call to SSPI failed, see inner exception.\n-------- System.ComponentModel.Win32Exception : GSSAPI operation failed

[2017-07-23 21:29] benaadams commented on #2209
Prefetching and clearing cache can be inadvisable, but its not strictly unsafe..?

[2017-07-23 22:41] davidsh commented on #22161
It turns out that Wininet (used in WinRT Windows.Web.Http) has disabled the use of the 'TRACE' HTTP verb.  The internal bug 12745122 has been closed as by-design.

Please see related article:
https://www.rapid7.com/db/vulnerabilities/http-trace-method-enabled

At this point, we will adjust the CoreFx tests and make a note in the AppCompat wiki about this difference.

cc: @stephentoub

[2017-07-24 02:58] dotnet-mc-bot opened #22542 "Test: System.Data.SqlClient.Tests.AmbientTransactionFailureTest/TestSqlException failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.AmbientTransactionFailureTest/TestSqlException(connectAction: Action`1 { Method = $BlockedFromReflection_4_851c0221 { Attributes = ReuseSlot, Assembly, HideBySig, C...` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Data.SqlClient.SqlException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot

[2017-07-24 03:02] Jiayili1 commented on #17925
This issue is repro on UWP ILC Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170724.01/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.DiagnosticTest~2FConnectionOpenAsyncErrorTest

[2017-07-24 05:55] dotnet-mc-bot opened #22543 "Tests under: System.Data.SqlClient.Tests.TcpDefaultForAzureTest/AzureNoProtocolConnectionTest failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.TcpDefaultForAzureTest/AzureNoProtocolConnectionTest` has failed.

Expected error message A network-related or instance-specific error occurred while establishing a connection to SQL Server., but received: Value cannot be null.\r
    Parameter name: name\r
    Expected: True\r
    Actual:   False

        Stack Trace:

[2017-07-24 06:02] dotnet-mc-bot opened #22544 "Test: System.IO.Tests.DirectoryInfo_EnumFSI_str_str/SearchPatternLongPath failed with "System.IO.DirectoryNotFoundException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.DirectoryInfo_EnumFSI_str_str/SearchPatternLongPath` has failed.

System.IO.DirectoryNotFoundException : Could not find a part of the path 'C:\\Users\\DotNetTestRunner\\AppData\\Local\\Temp\\DirectoryInfo_EnumFSI_str_str_hdeqoqwz.xbj\\SearchPatternLongPath_635_6d7c9ccc\\kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk

[2017-07-24 06:19] dotnet-mc-bot opened #22545 "Test: System.Threading.Tasks.Tests.AsyncValueTaskMethodBuilderTests/AwaitOnCompleted_InvokesStateMachineMethods failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Threading.Tasks.Tests.AsyncValueTaskMethodBuilderTests/AwaitOnCompleted_InvokesStateMachineMethods(awaitUnsafe: False)` has failed.

Assert.Equal() Failure\r
    Expected: System.Threading.Tasks.Tests.AsyncValueTaskMethodBuilderTests+DelegateStateMachine\r
    Actual:   (null)

        Stack Trace:

           at System.Threading.Tasks.Tests.AsyncVal

[2017-07-24 06:27] damageboy commented on #2209
@benaadams Right, bad naming...

@tannergooding Haven't seen that one before

There seem to be a few of these slogging around...

[2017-07-24 06:39] Jiayili1 commented on #22434
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170724.01/workItem/System.Net.Security.Tests

[2017-07-24 08:50] JonHanna commented on #22480
I'm guessing yesterday's run working means this is okay now.