[2016-10-24 17:26] danmosemsft commented on #12956
These are all be overrides so it's possible there's no work.

[2016-10-24 17:27] MattGal commented on #12940
While the machines do get destroyed soon after usage we try hard to have them have as little customization as we can get away with.   For whoever looks at this ( I started, but it's going to take 2+ hours to get me a Win7 VM?) if you have corporate network access, the dotnet cli, and python 2.7 installed to c:\python27, it's as simple as:

dotnet exec \\helixutil\tools\repro\HelixJobReproCore.dll

[2016-10-24 17:28] danmosemsft commented on #12956
It looks like almost nothing.
[code]

[2016-10-24 17:29] davidsh commented on #12940
cc: @CIPop @stephentoub

This is an example of a test that really should be a unit test using a mock network.  It is possible given the variability of the real network, that DNS resolution to non-existent names doesn't work as expected.

[2016-10-24 17:31] danmosemsft commented on #12887
SqlBulkCopy is not in .NET standard 2.0 as it's SQL Server specific. The decision whether to add more to SqlBulkCopy is @saurabh500 's

[2016-10-24 17:34] saurabh500 commented on #12887
@danmosemsft Are the APIs mentioned here used widely in Xamarin / Mono apps ?

[2016-10-24 17:34] joperezr commented on #12949
I'll update to latest corefx versions to see if this was just a failure on that specific package for that version.

[2016-10-24 17:35] karelz commented on #12886
I agree for areas which already went through initial catch-up triage, where we treat new test failures as P0-ish work items.
System.Net is not in that bucket yet and there is lots of debt in test failures investigations. During the catch-up triage we typically use label:"test bug" && milestone:1.2.0 to mark the debt and intent to investigate/address it for next release (1.2.0). From that perspecti

[2016-10-24 17:41] tarekgh commented on #12934
https://github.com/dotnet/corefx/pull/12957

[2016-10-24 18:04] danmosemsft commented on #12887
@saurabh500 Not according to our data.

[2016-10-24 18:06] danmosemsft commented on #10777
@Priya91 I don't believe @jiangzeng sees these issues. He opens them with the tool. You will either have to email, or (better) show him how to subscribe.

[2016-10-24 18:10] geoffkizer commented on #12953
What's the FtpWebRequestTest failure you're seeing?

[2016-10-24 18:10] tijoytom opened #12959 "CookieCollection IsReadOnly do not match desktop"
CookieCollection IsReadlyOnly is hardcoded to return false , but desktop return true which is not correct. The desktop implementation  returns true from this for collections created with the default ctor  which is not correct.
See comment for further details : https://github.com/dotnet/corefx/pull/12916/files#r84574719

[2016-10-24 18:12] bartonjs commented on #8158
For the OpenSSL-based implementation of this, here's a snippet of a quick tool that I wrote to make sure Windows and OpenSSL were on the same page.

[code]

Since KDF1_SHA256 produced the same answer as on Windows (DeriveKeyViaHash(HashAlgorithmName.SHA256) clearly all the data alignment stuff is happy.  DeriveKeyTls may be a bit harder, I don't seen an exported function for that offhand in OpenSS

[2016-10-24 18:12] MattGal commented on #12940
@geoffkizer for visibility in test failure.

[2016-10-24 18:13] Priya91 commented on #9975
The build system has diverged a lot in the past few months, and the nano scripts haven't been updated to reflect those changes in buildtools and corefx. At a quick glance, the run-test.cmd is still testing the stuff under netcoreapp1.0, but the test folder structure has changed in master to ```$(TargetGroup).netcoreapp1.1\netcoreapp1.1```. As a result no tests are being run. The Nano Server script

[2016-10-24 18:13] danmosemsft commented on #12956
My bad. From talking to @weshaggard these will not be part of 2.0. Not worth an issue.

[2016-10-24 18:13] #12956 closed

[2016-10-24 18:14] danmosemsft commented on #12954
My bad. These will not be part of NS2.0.

[2016-10-24 18:14] #12954 closed

[2016-10-24 18:16] danmosemsft commented on #8158
My bad about NS2.0. These are not planend for it. Removing label.

[2016-10-24 18:16] danmosemsft commented on #11067
My bad. These are not required for NS2.0

[2016-10-24 18:17] bartonjs commented on #8158
Well, at least I put my notes somewhere easier to find because of this :)

[2016-10-24 18:17] danmosemsft commented on #11802
Ignore my comment above. These are not part of NS2.0

[2016-10-24 18:18] geoffkizer commented on #12940
There's a similar test for HttpWebRequest (it uses a guid url, though).  It's marked as [OuterLoop].  Should we just change this to [OuterLoop] for now?

[2016-10-24 18:18] sepidehMS commented on #12483
Done by https://github.com/dotnet/corefx/pull/12742

[2016-10-24 18:18] #12483 closed

[2016-10-24 18:23] JeremyKuhne commented on #12892
What would you suggest? From a discoverability perspective I think it's problematic to put somewhere else. Also, why is it harder to update? The idea is that `Guid`'s are way more version independent than `Enum` and we'd be selective in adding public `Guid` defines, at least in `System`.  Platform specific `Guid`'s can live in platform-specific libraries potentially.

More so than `CSIDL`s. :) The

[2016-10-24 18:26] davidsh commented on #12940
All networking tests were supposed to be marked [outerloop].

[2016-10-24 18:31] karelz commented on #9975
@Petermarcu what is our priority for Nano investments now?

cc: @danmosemsft

[2016-10-24 18:34] bartdesmet commented on #12943
Interesting behavior... Where does the `NullReferenceException` originate from? Is it assuming that something like `DeclaringType` is non-null maybe?

[2016-10-24 18:41] mellinoe commented on #12892
If it is on `Environment`, then that means the whole .NET Framework would need to be updated in order to get new functionality or bug fixes, etc. If it was an OOB assembly (not in the standard platform), then it could be shipped whenever, wherever, however we wanted on all platforms. With our new packaging plans for .NET Core, we would also need to wait for a new version of the .NET Core platform

[2016-10-24 18:49] Clockwork-Muse commented on #12953
@MattGal - We essentially have that issue anyways, since some of the regular source namespaces don't match the folder namespace.

[2016-10-24 18:56] bartonjs opened #12962 "Add HttpClient tests for doing client authentication with a certificate with no private key"
Providing a client auth cert which has no private key is a failure path that doesn't appear to be tested currently.  With the addition of the test(s) we should look at what kinds of exceptions are being raised, and whether or not they have useful (or at least roughly consistent) information across Windows and Linux.  (If they're both terrible messages maybe we should try to detect the situation ri

[2016-10-24 18:58] bartonjs commented on #12871
Excellent.  Glad to hear it.

I've opened #12962 to track adding a test for this case and ensuring that we have some vaguely useful error messages on both Windows and Linux.  That'll take over from this issue.

[2016-10-24 18:58] #12871 closed

[2016-10-24 19:00] hughbe commented on #12943
Correct - we assume DeclaringType is nonnull

[2016-10-24 19:06] weshaggard commented on #9975
When we do fix this we should avoid duplicating this information in this special runtest.cmd file and instead call the individual test runtests.cmd files. We don't need yet another place that needs to be updated when we make test infra changes they should be consistent.

[2016-10-24 19:18] AlexGhiondea commented on #12606
The reason why this is going to be a bit more complicated is because these methods need to be added on the Expression type. This type lives inside `System.Linq.Expressions` contract and `System.Dynamic.Runtime` has a dependency to that type.

If we you were to move it you would introduce a cycle between the two contracts. So because of that we are going to have to collapse the `System.Dynamic.Runt

[2016-10-24 19:46] geoffkizer commented on #12462
There's also a TcpListener.AllowNatTraversal that I assume we want also.

[2016-10-24 19:47] blowdart commented on #12623
Addressed in

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/480#issue-169228203
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/477
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/476#issuecomment-255491385

[2016-10-24 19:47] #12623 closed

[2016-10-24 19:51] PinpointTownes commented on #12623
@blowdart admit it, you couldn't resist :trollface:

That said, my third question still has no answer.

[2016-10-24 19:52] danmosemsft commented on #12837
@AlexGhiondea is this really a 1.1 issue? Can you add more details?

[2016-10-24 20:01] polita commented on #12623
@PinpointTownes Sorry, we don't have a GitHub repo for WCF. RSACng support has been added to WCF 4.6.3.

[2016-10-24 20:05] ianhays commented on #12837
I'll take this.

[2016-10-24 20:06] sxmichael commented on #12937
solved by https://github.com/dotnet/corefx/issues/12938

[2016-10-24 20:06] #12937 closed

[2016-10-24 20:08] weshaggard commented on #10556
Updated with #12244.

[2016-10-24 20:08] #10556 closed

[2016-10-24 20:17] blowdart commented on #12623
I did check with @polita first before closing, which was how I got the issues.

[2016-10-24 20:22] Priya91 commented on #10445
Looking into dropping windows implementation from runtimes to lib/netstandard1.1..

[2016-10-24 20:23] AlexGhiondea commented on #12837
@danmosemsft yes, we need this in 1.1.

[2016-10-24 20:24] PinpointTownes commented on #12623
Just to make sure we're talking about the same thing, by `RSACng` support, I mean in code paths like this one: https://referencesource.microsoft.com/#System.IdentityModel/System/IdentityModel/Tokens/RsaSecurityKey.cs,210 (as you can see, it's not WCF-specific)

[2016-10-24 20:25] steveharter opened #12966 "Port Rfc2898DeriveBytes.CryptDeriveKey"
Likely need to call a BCrypt API not yet called (BCryptDeriveKey), and find equivalent on OpenSsl
Update: BCrypt is not compatible with current desktop which uses CAPI, so this will throw PNSE. In addition, since this is exposing a thin layer on top of a native API, no attempt will be used to emulate this on OpenSsl so that will also throw PNSE.

[code]

[2016-10-24 20:57] xplicit opened #12969 "NetworkInterface.GetAllNetworkInterfaces() throws exception in cloud9 docker container."
`NetworkInterface.GetAllNetworkInterfaces()` always throws exception if try to run it in cloud9 docker container.

Steps to reproduce: create new workspace at www.c9.io, then install .net core v1.0.1 and type `dotnet new`. Then add following line in the `Main` method

[code]

and type `dotnet run` (you're possible need to add necessary references to `project.json`). It throws exception:

[code]

T

[2016-10-24 21:01] davidsh commented on #12969
cc: @stephentoub

[2016-10-24 21:02] stephentoub commented on #12969
@mellinoe, could you take a look?

[2016-10-24 21:09] bartonjs commented on #10858
This issue slipped through my cracks.  I'm trying to figure out what's going on here, but I've never used an ASP.Net project so I don't know how to set up the repro.  Does anyone have a minimal repro with idiot-proof setup instructions for me to achieve an investigation?

[2016-10-24 21:15] jchannon commented on #10858
Clone and run this

https://github.com/aspnet/KestrelHttpServer/tree/dev/samples/SampleApp

[2016-10-24 21:17] mellinoe commented on #12969
@xplicit Could you give some more details about this environment? I would like to repro it but the site wants me to put payment information in. Do you have a more straightforward repro environment?

I'm not sure why you're not able to catch the exception; that does seem like a strange problem. If there are systems in which we can't access these files, I will need to augment our current checks. Rig

[2016-10-24 21:26] xplicit commented on #12969
@mellinoe To create account at this site I made virtual credit card and put the info from virtual credit card. I don't know more details about how they create docker instances and which docker version they used, because I just saw this site at first time an hour ago.

I created the workspace with environment, it should be public, but I don't know can somebody else use it without creating account.

[2016-10-24 21:26] tarekgh commented on #12934
This should be fixed now by the linked PR. Thanks.

[2016-10-24 21:26] #12934 closed

[2016-10-24 21:34] kouvel commented on #10481
@whoisj:

It looks like InterlockedCompareExchange128 is only available on x64 on Windows:
https://msdn.microsoft.com/en-us/library/26td21ds.aspx
https://msdn.microsoft.com/en-us/library/bb514094.aspx

What is the issue with mutating a struct containing a reference? Why can it not be treated as flat memory?

[2016-10-24 21:36] anass-b commented on #10858
@bartonjs I would like to mention as well that simply running the project in this repo: https://github.com/aspnet/KestrelHttpServer/tree/dev/samples/SampleApp may not make the bug appear.

Here is some steps that will help reproduce it:
- Use Linux or macOS (I could reproduce this issue on RHEL7)
- Setup your OS to trust the "testCert.pfx" certificate by adding it to the trusted list
- Have two AS

[2016-10-24 21:37] kouvel commented on #10481
I like the proposal, but I think it would be good to provide only a value type atomic (have `Atomic<T>` be a value type) and let the user determine how to store and use that data correctly so that multiple threads can share it. That would simplify it a bit and eliminate the interface, which I feel mostly wraps boxing, only marginally improves the usability, and may even add some confusion.

It loo

[2016-10-24 21:38] tijoytom commented on #12510
@davidsh @CIPop @stephentoub

Note: Private copy in Common has two additional values in it. They are not in .NET 4.6 and Xamarin, so we can't add them in public netstandard2.0 contract.

So we do not want to expose the new Version2.0  , what's the standard way to handle this .What am doing now is split  the class across two source files and conditionally include if it's 1.7 .

[2016-10-24 21:40] tijoytom commented on #12959
We will keep it false

[2016-10-24 21:40] #12959 closed

[2016-10-24 21:40] mellinoe commented on #12969
From reading around a bit, it sounds like c9.io might be using SELinux or AppArmor or something like that to block access to those folders. We most likely just need to protect against this case.

I think these need to be upgraded to `catch (IOException)`:

https://github.com/dotnet/corefx/blob/master/src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxNetworkInterface.cs#L176

[2016-10-24 21:42] ianhays commented on #7702
@ericstj was there a resolution to this?

[2016-10-24 21:45] alexperovich commented on #12467
This has happened twice more in with completely different exceptions.

SafeArrayRankMismatchException:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2084/
InvalidComObjectException:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/2104/

[2016-10-24 21:45] CIPop commented on #12136
@geoffkizer No... you're right: it doesn't work without the protected ctor.
Looking closer at the API surface, the fact that the ctor is not protected is most likely a bug: `TokenBinding` has been designed after `ChannelBinding` which has one.

We should add the protected ctor although I'm not sure how that fits in the netstandard20 architecture.
@weshaggard or @ericstj might know if this is possi

[2016-10-24 21:45] ianhays commented on #10787
Passing on latest builds.

[2016-10-24 21:45] #10787 closed

[2016-10-24 21:45] ianhays commented on #10887
Passing on latest builds.

[2016-10-24 21:45] ianhays commented on #10888
Passing on latest builds.

[2016-10-24 21:46] ianhays commented on #10889
Passing on latest builds.

[2016-10-24 21:46] ianhays commented on #10890
Passing on latest builds.

[2016-10-24 21:46] xplicit commented on #12969
@mellinoe it also can be permissions which are used in ReadAllText(). This file is located on docker read-only file system, so may be trying to apply additional permissions on read cause this exception. I can `cat /sys/class/net/lo/operstate` under the same user without problem

[2016-10-24 21:49] Priya91 commented on #12912
We are not looking at UWP F5 failures now. Closing as per @karelz

[2016-10-24 21:49] #12912 closed

[2016-10-24 21:50] kouvel commented on #10478
Would have to handle platforms that don't support an interlocked 128-bit compare-exchange natively. For example, `CompareExchange` could throw on those platforms, and perhaps 'Interlocked' could have a property that indicates whether it is supported on the platform. I don't think it can fall back to locks, as all of the interlocked operations would have to be atomic with respect to one another, an

[2016-10-24 21:50] #10478 closed

[2016-10-24 21:55] sepidehMS commented on #12074
Done by https://github.com/dotnet/corefx/pull/12874

[2016-10-24 21:55] #12074 closed

[2016-10-24 21:55] sepidehMS commented on #7913
Done by https://github.com/dotnet/corefx/pull/12874

[2016-10-24 21:55] #7913 closed

[2016-10-24 22:04] CIPop commented on #12510
@tijoytom I believe that you need to add #if netcoreapp11 around the new API. I wasn't successful so far in making tests work (but I was able to produce multiple ref and implementation binaries).
@weshaggard recommended System.Runtime.Extensions as example.

[2016-10-24 22:08] mellinoe commented on #12969
Hm, that is sort of interesting in and of itself, but I'm not familiar enough with Unix file permissions to know if it is expected. @stephentoub , @JeremyKuhne , does it make sense that you would be able to `cat` a file, but not necessarily do `File.ReadAllText` on it? It looks like the source code for this was refactored so I'm having trouble tracing all of the system calls we make in `File.ReadA

[2016-10-24 22:15] ianhays commented on #9839
According to the [netstandard1.3 vs netstandard1.2 diff](https://github.com/dotnet/standard/blob/master/docs/versions/netstandard1.3_diff.md), Path.GetFullPath isn't available on netstandards before 1.3.

I'm not sure why that is the case, as it was available on the full framework .NET 1.1. Other Path APIs like [GetFileName](https://github.com/dotnet/standard/blob/4419038e6c8eaed28609d3103b814b0fe

[2016-10-24 22:22] #12197 closed

[2016-10-24 22:23] benaadams commented on #10481
@kouvel there are a number of lock free algorithms that are blocked from not having it.

So for example the Concurrent collections and the threadpool queues can't be fully non-allocating and use pooled nodes as they would suffer from the [ABA problem](https://en.wikipedia.org/wiki/ABA_problem). With the 128 bit CAS then you can add a state/tag/counter to the pointer to resolve this.

A 128 bit CAS

[2016-10-24 22:39] vancem commented on #10481
There is a fair bit of detail here, and I have not really given it too much thought, but I have some observations / concerns.

1) It is VERY easy to get low-lock code correct, so ideally uses of Atomic would be RARE.   Thus the 'benefit' part of a cost-benefit analysis is not going to be high (since relatively few users benefit).  This argues AGAINST doing anything tricky (e.g. special JIT support

[2016-10-24 22:48] #9710 closed

[2016-10-24 22:52] benaadams commented on #10481
@vancem https://github.com/dotnet/corefx/issues/10478 is for 128 bit `InterlockedCompareExchange`; but then you still need alignment for the Int128s which can't be guaranteed for arbitrary structs and has no fallback for when there is either no cpu support (x86, some arm) or platform support (not implemented in the clr yet)

[2016-10-24 22:55] xplicit commented on #12969
When fix please don't forget to not hide the error with exception handling. If general exception can not be handled in some cases and crashes the process it's a critical error.

[2016-10-24 22:55] JeremyKuhne commented on #9839
It wasn't available on Windows 8/8.1 Universal.

[2016-10-24 22:55] #9839 closed

[2016-10-24 23:00] mellinoe commented on #12969
@xplicit A lot of information exposed in the `NetworkInformation` library is not available on Linux, even aside from this particular problem. There are many places that the library already throws a `PlatformNotSupportedException` where information cannot be reasonably obtained. In this case, we will most likely be throwing `PlatformNotSupportedException` if we cannot read the files. `OperationalSt

[2016-10-24 23:04] #12399 closed

[2016-10-24 23:04] ianhays commented on #9839
Ah, there ya go. Thanks @JeremyKuhne.

[2016-10-24 23:06] MattGal commented on #12940
@geoffkizer I can confirm this reliably repros with the different exception on Windows 7 machines.  Ping me if you need assistance seeing a repro (Can just add you to this box).  Note that demotion to [OuterLoop] will not stop this from running in the daily "official" jobs.

[2016-10-24 23:15] xplicit commented on #12969
@mellinoe we use this method to get IP addresses and their subnet masks for network interfaces, we do not use any other properties include `OperationalStatus`. So this is fine, that some properties will throw `NotSupportedException`. But currently we cannot use it safely because `NetworkInterface.GetAllNetworkInterfaces()` crashes the process on the call and I do not see a workaround how to preven

[2016-10-24 23:15] bartdesmet opened #12976 "Some methods on Expression should not be public"
Noticed these are public for no obvious reason:

* `ValidateArgumentTypes`
* `ValidateArgumentCount`
* `ValidateOneArgument`

[2016-10-24 23:30] danmosemsft commented on #12637
It is now failing with
`System.Net.WebException : An error occurred while sending the request. Problem with the SSL CA cert (path? access rights?)\n---- System.Net.Http.HttpRequestException : An error occurred while sending the request.\n-------- System.Net.Http.CurlException : Problem with the SSL CA cert (path? access rights?)`

[2016-10-24 23:30] geoffkizer commented on #12940
Does the similar HttpWebRequest test fail?  Specifically, HttpWebRequestTest.GetResponseAsync_ServerNameNotInDns_ThrowsWebException (which is marked as OuterLoop).

[2016-10-24 23:35] danmosemsft commented on #9171
@bartonjs @steveharter Lots of tests are failing in the offical test runs due to this.

eg https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161024.01/workItem/System.Security.Cryptography.Algorithms.Tests

What should we do here -- have some setup step that gets openssl?

[2016-10-24 23:39] MattGal commented on #12940
@geoffkizer yes, I can confirm that test passes.

[2016-10-24 23:40] geoffkizer commented on #12940
Interesting, thanks.

I can change this to work the same way the Http test works.  Not sure why they behave differently, though...

[2016-10-24 23:42] mellinoe commented on #12969
Aside from some other strange bug, I don't see why you shouldn't be able to catch the exception that is being thrown there. Could you post the code you've tried?

[2016-10-24 23:52] ianhays commented on #9118
Do these still run? I'm getting an error:

  D:\git\corefx\Tools\PerfTesting.targets(41,5): error : Xunit performance package was not found [D:\git\corefx\src\System.IO.Pipes\t
ests\Performance\System.IO.Pipes.Performance.Tests.csproj]

[2016-10-24 23:52] saurabh500 commented on #12195
We need to open source SNI to take care of these issues.
@corivera is already working on it.

We have identified an internal build of SNI package which can be shipped as part of 1.1
Working with @weshaggard and @gkhanna79 over emails to coordinate the effort for shipping SNI from TFS for 1.1

[2016-10-24 23:53] geoffkizer commented on #12940
Actually, it already does work the same way as Http.  Strange.

[2016-10-24 23:56] svick commented on #12969
@mellinoe I can reproduce that strange behavior on c9.io too.

When I run this code using `dotnet run`:

[code]

The output is:

[code]

And not `caught` as I would expect.

[2016-10-24 23:57] MattGal commented on #12940
With the disclaimer that I am not a networking expert, I believe networking APIs frequently just wrap what's there on Windows, and the networking stack has received a fair bit of attention in the last couple major Windows releases.   So, much like globalization / localization tests will detect different behaviors for date formatting and other stuff on different versions of Windows, your error scen

[2016-10-24 23:57] bartdesmet opened #12979 "Failure in InvalidComObjectExceptionTests.SerializationRoundTrip"
See [here](https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/2098/testReport/junit/System.Runtime.InteropServices.Tests/InvalidComObjectExceptionTests/SerializationRoundTrip):

[code]

[2016-10-24 23:58] bartdesmet commented on #12979
Seems like the serialized exception data contains the stack trace and line offsets are different.

[2016-10-24 23:59] bartdesmet commented on #12979
More such errors @ https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2094/

[2016-10-25 00:01] #12816 closed

[2016-10-25 00:01] #11611 closed

[2016-10-25 00:01] #11612 closed

[2016-10-25 00:04] geoffkizer commented on #12136
If we're adding a constructor anyway, we may as well make it public and not have to make the other methods virtual.

[2016-10-25 00:06] vancem commented on #10481
Yes, it seems that magic is needed to solve the alignment issues for CAS128, which makes its cost higher and thus its cost-benefit proposition worse.    Right now we don't really have a thought-through design for CAS128, and it 'feels' like it is probably too expensive for its value (so far at least...).

If we want to proceed with this, we need to clearly articulate the cost (how we would solve t

[2016-10-25 00:17] davidsh commented on #12136
The constructor for TransportContext should be protected and not public.  It is an abstract class.

[2016-10-25 00:23] shmao commented on #12941
@unshorn , thanks for opening the issue. What serializer did you use to serialize the object? Can you please provide a simple repro code for the issue? Thanks!

/cc: @stephentoub

[2016-10-25 00:31] alexperovich commented on #12469
@stephentoub fixed these in #12621

[2016-10-25 00:31] #12469 closed

[2016-10-25 00:42] alexperovich commented on #12815
This has been fixed in #12873

[2016-10-25 00:42] #12815 closed

[2016-10-25 00:47] stephentoub commented on #12969
cc: @janvorli, as this sounds like am exception handling bug

[2016-10-25 00:51] unshorn commented on #12941
@shmao
binary formatter
here's the sample code.

The exception thrown is:
Run-time exception (line 24): Object reference not set to an instance of an object.

Stack Trace:

[System.NullReferenceException: Object reference not set to an instance of an object.]
  at Program.Main(): line 24

[code]

[2016-10-25 01:06] ramarag commented on #11809
@jkotas @stephentoub  Currently
System.Runtime.Remoting.Messaging.Header
System.Runtime.Remoting.Messaging.HeaderHandler are used by BinaryFormatter

Should we be removing those methods of BinaryFormatter ?

[2016-10-25 01:16] kouvel commented on #8949
Closing in favor of dotnet/coreclr#1754, will track this issue there

[2016-10-25 01:16] #8949 closed

[2016-10-25 01:17] benaadams commented on #10481
@vancem yes, I mean you can't do object pooling + CAS on x64 in .NET currently; you can only do GC + CAS on x64.

You could in theory do object pooling + CAS on x86 in .NET though I haven't investigated that particularly as its not relevant to my domain (need Vector ops too much)

[2016-10-25 02:09] Priya91 commented on #12942
It doesn't repro locally for me with the helix bits. The error code points to dll not found, and @MattGal says the vcruntime140d.dll and msvcp140d.dll is not installed on helix machines. The fix for this would be to always build the testnativeservice as release even in debug mode.

[2016-10-25 02:28] ramarag commented on #11866
fixed by https://github.com/dotnet/corefx/commit/483ec7abc869a4128a0ff884e848592cac19ab8b

[2016-10-25 02:28] #11866 closed

[2016-10-25 02:34] knocte commented on #12892
But AFAIU, CSIDLs were never exposed in the .NET API. They were exposed in a higher level enum-based API. Are you planning to do the same for these GUIDs?

[2016-10-25 02:43] ramarag commented on #11637
@jkotas it should be fine for me to add these Apis to System.Runtime ?

[2016-10-25 02:53] jkotas commented on #11637
`System.Threading.Overlapped` should go to `\corefx\src\System.Threading.Overlapped`

[2016-10-25 03:13] kouvel commented on #6371
The work tasks perform is not expected to rely on thread state. They could potentially use thread locals for caching purposes since a thread pool is expected to reuse threads, and that would be valid. But aside from that, they are not expected to modify thread state that could otherwise negatively affect other tasks. If a task is doing such a thing, to me that would seem to be the problem.

If a t

[2016-10-25 03:39] bartonjs commented on #9171
@danmosemsft Yep, there should already be a step that does it, but it probably calls `brew link --force openssl`, which doesn't work anymore.  (The fact that machine setup isn't failing when it does that is a sign of a bug in infrastructure).  Instead it needs to follow the steps on https://www.microsoft.com/net/core#macos (though with the `mkdir /usr/local/lib` that we haven't added on that page)

[2016-10-25 03:51] #12125 closed

[2016-10-25 04:23] vors opened #12983 "Cannot instantiate System.Net.Http.HttpClientHandler on OS X with new package"
## Repro

Create a simple project on OS X with System.Net.Http.HttpClientHandler

project.json

[code]

Program.cs

[code]

Use `dotnet run` to run the program.
## Expected

`Hello World!System.Net.Http.HttpClientHandler`
## Actual

Ctor exception

[code]
## Environment

OS X 10.11.6 x64

dotnet cli tool

[code]

[2016-10-25 04:46] weshaggard commented on #12948
I suspect that isn't enough. @akoeplinger are you aware of anyone working on enabling Xamarin forms on top of .NET Core?

[2016-10-25 04:49] xplicit commented on #12969
@mellinoe the code is the same which @svick posted. Also

[code]
does not catch exception. While

[code]

catches exception as expected.

[2016-10-25 04:57] geoffkizer commented on #12136
@davidsh It's not TransportContext that needs a constructor.  It's TokenBinding.

[2016-10-25 05:09] JeremyKuhne commented on #12892
I'd like to see a good OOB story, but I don't think we have one yet. I'd personally like to see a place where code like this could live in tandem as it works it's way into the Standard.

They weren't, but I've seen code that has taken advantage of the values actually being CSIDLs.

Not in an enum. Common GUIDs will live in the static class I described. Moving away from an enum to identifiers allow

[2016-10-25 05:15] lburkovsky commented on #12066
Speaks something against?

[code]

[2016-10-25 05:18] xplicit commented on #12969
By the way, shouldn't it be `System.Security.SecurityException` instead of  `System.UnauthorizedAccessException`? For .NET MSDN states that FileStream constructor throws `SecurityException` when there is not enough permissions to the file.

https://msdn.microsoft.com/ru-ru/library/47ek66wy(v=vs.110).aspx

but

    new FileStream("/sys/devices/virtual/net/lo/operstate", FileMode.Open, FileAccess.Re

[2016-10-25 05:24] xplicit commented on #12969
And some more info. If run following in mono (I tried in 3.2.8) it returns string "unknown" without throwing exception as expected:

    File.ReadAllText("/sys/devices/virtual/net/lo/operstate");

[2016-10-25 05:39] weshaggard commented on #12136
Based on what I'm seeing there are only a few options:

1. We remove these APIs from the standard
2. We combine more of these types by moving them down into System.Net.Primitives
3. We add the new APIs as netcoreapp specific so we can use them in our implementation but won't be part of netstandard (at least not until some future version if we want to add them to the standard).

I don't have strong

[2016-10-25 10:15] akoeplinger commented on #12948
That'd be a question for @rmarinho

[2016-10-25 10:39] rmarinho commented on #12948
We are planning a move to NS.. but still working the details out since UWP support for 2.0 is behind schedule.
At the time we could only move to NS1.4 so we could support UWP and others.
That said it should be compliant using the PCL shim package on your NS project no?

[2016-10-25 10:58] CarlCrol commented on #12948
Confused on the answers so opc ua sdk will still not work on xamarin.android right?

[2016-10-25 11:48] fitzchak commented on #12615
@nil4 it will, but we want to avoid using it as ConditionalWeakTable is using locks and this will slow down the applications of our users.

[2016-10-25 11:51] fitzchak commented on #12615
Our product is (EntityFrameworkProfiler)[https://www.hibernatingrhinos.com/products/efprof]. The user is using it by calling EntityFrameworkProfiler.Initialize() by the very beginning of their application. In order to add support for Entity Framework Core v1.0 we track connections using the tracing infrastructure and adding just the ConnectionId to the connection will help us associate commands to

[2016-10-25 11:59] stephentoub commented on #12979
And others:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/2133/consoleText
[code]
This only just started, yet the code for BinaryFormatter hasn't changed in a long time; I also don't believe we took a coreclr update when most of them happened.  It also appears to be happening sporadically across different exception types and different OSes, but all of the ones I've seen have

[2016-10-25 12:04] stephentoub commented on #12979
@jkotas, we use this BinaryFormatterHelper.AssertRoundtrips function:

to serialize and deserialize lots of different exception types in corefx, e.g.
https://github.com/dotnet/corefx/blob/c5abd4a0b4c299cb49098f7ebd33ff22e3914568/src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs#L387
https://github.com/dotnet/corefx/blob/2117bae3a6c9736033e6d1659821ff3a1069920b/src/System.Te

[2016-10-25 12:10] jkotas commented on #12979
This is dup of https://github.com/dotnet/corefx/issues/12467. @alexperovich and @mikem8361 are looking into it.

I suspect that it is caused by PDB reading failing intermittently and the failure being ignored (the PDB reading is under a big catch block).

[2016-10-25 12:10] #12979 closed

[2016-10-25 12:48] MontyGvMC opened #12987 "No Database connection from Ubuntu 14.04 LTS to SQL Server 2008 R2"
I am facing problems connecting from an ASP.NET Core Web API using Entity Framework Core running on Ubuntu 14.04 LTS to a Windows Server 2008 R2 running a SQL Server 2008 R2.

the Window Server 2008 R2 is unpatched.
I installed SQL Server Service Pack 3,
have TCP/IP enabled,
have named pipes enabled.

The app gets running and everything seems fine (swagger ui shows up shows the rest api)
when I tr

[2016-10-25 13:17] ili commented on #12950
@zabulus yes, you are right, about  .Net Desktop, I'v done test too, an it fails...

speaking about the goal  - is to build convert expression from one type to another (so `p` is just an expression returning value with `from` type). So the idea is to find if `from` type defines implicit convert to `to` type, and use it if possible

[2016-10-25 14:04] #12976 closed

[2016-10-25 14:38] bartdesmet commented on #12943
I don't see any compelling reason why these shouldn't work just fine. `MethodInfo` instances with `DeclaringType` set to `null` are valid, and our API claims to deal with all `MethodInfo` instances just fine. I'd be curious to see how many places we have this assumption of a non-null `DeclaringType` though (same for other `MemberInfo` subtypes); the fix may show up in quite a few places.

[2016-10-25 14:43] stephentoub opened #12991 "GCNotifiicationTests failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/73/consoleText

[code]

[2016-10-25 14:44] stephentoub opened #12993 "FileInfo_OpenSpecial.FileShareOpen failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/73/consoleText

[code]

[2016-10-25 15:04] stephentoub opened #12994 "Socket tests are not running in CI"
As evidenced by this PR, which added a failing innerloop and outerloop test, yet all legs passed.
https://github.com/dotnet/corefx/pull/12988

You can see in the log, for example this one on Windows at https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/2117/consoleText, that System.Net.Sockets.Tests gets built:
[code]
but that's the only reference to the suite in the whole

[2016-10-25 15:13] hughbe commented on #12943
FieldInfo, MethodInfo and ConstructorInfo are the only MemberInfos that can have a null `DeclaringType`

I'll go through the ones I found:

- AndAlso: should **allow** (as MethodInfo can come from anywhere)
- Bind (method): should **not allow** (as MethodInfo should represent a property accessor)
- Bind (field): should **allow** (as MemberInfo represents the field to be set)
- ListBind (method): s

[2016-10-25 15:18] hughbe commented on #12943
Actually, I'm wrong about `AndAlso` and `OrElse`, as apparently `op_true` and `op_false` have to be declared on the declaring type of `method`

[2016-10-25 15:25] mattjcowan commented on #12969
nodejs also returns "unknown" on cloud9 without any errors (using both sync and async calls)
[code]

[2016-10-25 15:33] stephentoub commented on #12969
I suspect I may know what the problem is (for the File.ReadAllText failure, not for the inability to catch the exception).

Can you try compiling and running this small C program:
[code]
and share the output?  I suspect we're going to see output like:
[code]
or for that last line something else non-zero.

[2016-10-25 15:38] karelz commented on #12993
@JeremyKuhne @ianhays can you please take a look?

[2016-10-25 15:39] karelz commented on #12991
@swgillespie can you please take a look? cc: @Maoni0 @sergiy-k

[2016-10-25 15:41] karelz commented on #12987
@saurabh500 can you please advise here?

[2016-10-25 15:42] karelz commented on #12983
@bartonjs looks like OpenSSL can't be loaded, can you please help troubleshoot here?
cc: @steveharter

[2016-10-25 15:46] stephentoub commented on #11624
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/75/consoleText
[code]

[2016-10-25 15:46] karelz commented on #12948
Xamarin Forms are not yet supported on .NET Core.

I don't know what UPC UA SDK exactly is (doesn't seem to be part of Xamarin) -- you might want to reach out to the project owners & maintainers.

[2016-10-25 15:55] ericstj commented on #7702
Folks hitting it can reference the workaround package.  That will force the bindingRedirects to be correctly generated.

We're revamping packaging as part of the next release and hope to better address these types of issues.

[2016-10-25 16:06] joperezr commented on #12759
I'll keep this open and assign to me just to track the re-enabling of those tests once we consume @jkotas coreclr fix.

[2016-10-25 16:17] dsgouda commented on #9118
@brianrob can you ask someone from perf to take a look

[2016-10-25 16:19] mattjcowan commented on #12969
i get:

[code]

[2016-10-25 16:20] danmosemsft commented on #12759
@joperezr do you understand why this didn't fail in CI? it's not outer loop and it doesn't seem related to testing against latest bits (?)

[2016-10-25 16:21] danmosemsft commented on #12759
Never mind I see your other message.

[2016-10-25 16:29] stephentoub commented on #12969
Thanks, @mattjcowan.  Yeah, so the problem is that the flock call is failing when asking for a shared lock on the file, resulting in an EACCESS (which, interestingly, isn't listed in any of the man pages for flock I've looked at).  Since this is advisory locking only anyway, we should probably change the call such that rather than failing for any error, we only fail in the case of EWOULDBLOCK (mea

[2016-10-25 16:31] CIPop commented on #12940
@geoffkizer HttpWebRequest is written on top of WinHTTP while this is written on top on the simplified connection management mechanism that you've provided.
(Without looking at the code:) Could this be because your implementation doesn't perform connection retries similar to the .Net Desktop stack/WinHTTP implementations?

[2016-10-25 16:35] bartdesmet opened #12998 "Add IReadOnlyList<T> constructor to ReadOnlyCollection<T>"
In some places in `System.Linq.Expressions` we implement `IList<T>` with all mutating methods throwing exceptions, just to be able to pass it to the constructor of `ReadOnlyCollection<T>`. An additional constructor overload with `IReadOnlyList<T>` would be useful to reduce code bloat.

[2016-10-25 16:36] CIPop commented on #12136
Adding a public ctor isn't how we've designed the object model with the API review board the partner team that implemented the feature. The key point was that we wanted offer a similar developer experience to the existing `ChannelBinding` object model.

I think this is a good approach. (Which I believe will include 1 as well.)

[2016-10-25 16:40] swgillespie commented on #12991
will do!

[2016-10-25 16:54] bartdesmet commented on #12998
It seems this type lives over in the CoreCLR repo and the change may be non-trivial because there's an `IList<T>` field and `IList<T>` does not implement `IReadOnlyList<T>` (not sure why though).

@terrajobst - Any input on this?

[2016-10-25 16:55] janvorli commented on #12969
@xplicit - regarding the exception not being caught - did you mean that you get the same exception reported as unhandled or do you get some other exception?

[2016-10-25 17:01] karelz commented on #12837
Reopening to track 1.1 port

[2016-10-25 17:04] saurabh500 commented on #12987
@MontyGvMC  Do you have SP3 installed on the server 2008 R2 ?

[2016-10-25 17:04] xplicit commented on #12969
@janvorli I meant that the behavior is exactly the same like @svick shows in the comment https://github.com/dotnet/corefx/issues/12969#issuecomment-255898895

Exception is thrown and process exited with "Unhandled exception" message.

[2016-10-25 17:06] stephentoub commented on #12969
@xplicit, does the exception get caught with this slight variation?
[code]

[2016-10-25 17:07] stephentoub commented on #12969
(Nevermind, I see you already answered that earlier, and the answer was essentially it does not get caught.)

[2016-10-25 17:08] xplicit commented on #12969
@stephentoub yes, it is not caught with `catch` without type specification.

[2016-10-25 17:10] geoffkizer commented on #12136
I don't understand this.  HttpListener calls `new TokenBinding(...)`, see here: https://referencesource.microsoft.com/#System/net/System/Net/HttpListenerRequest.cs,1111

Since these now live in separate assemblies, it seems like the most straightforward thing to do is to just add a public ctor.

[2016-10-25 17:13] geoffkizer commented on #12136
What does this mean in practice?

[2016-10-25 17:18] geoffkizer commented on #12940
Yes, there are plenty of reasons why they could be different; it just seems odd to me.

I will just remove the specific check for NameResolutionFailure since it doesn't seem to be reliable.

[2016-10-25 17:19] geoffkizer commented on #12464
This will be removed from netstandard 2.0.

See here: https://github.com/dotnet/standard/issues/82

[2016-10-25 17:19] #12464 closed

[2016-10-25 17:22] huanwu commented on #11954
Verified. All pass.
My project.json file:
    "Microsoft.NETCore.UniversalWindowsPlatform": "5.2.2",
    "System.Xml.XmlSerializer": "4.3.0-preview1-24527-03",
    "System.Private.DataContractSerialization": "4.3.0-preview1-24527-0",
    "System.Runtime.Serialization.Xml": "4.3.0-preview1-24530-04",
    "System.Runtime.Serialization.Json": "4.3.0-preview1-24527-03",
    "xunit.assert": "2.1.0",

[2016-10-25 17:23] #11954 closed

[2016-10-25 17:24] huanwu commented on #7991
Fixed with #10903

[2016-10-25 17:24] #7991 closed

[2016-10-25 17:31] janvorli commented on #12969
@xplicit ah, sorry for not reading through the whole issue before asking. So it is an exception handling issue. I'll look into it.

[2016-10-25 17:33] ericstj opened #13001 "ValueTuple should support mscorlib-based PCL in 1.1 release"
We made a fix to add a build of ValueTuple that works on mscorlib-based frameworks (net 4.0 and silverlight) as requested by ML / F#.  We need to port this to the 1.1 branch so that it releases with the first stable release of the ValueTuple package.

/cc @jcouv @KevinRansom

[2016-10-25 17:34] #12462 closed

[2016-10-25 17:48] shmao commented on #12903
This is fixed by #12907.

[2016-10-25 17:48] #12903 closed

[2016-10-25 17:49] shmao commented on #12904
This is fixed by #12906 .

[2016-10-25 17:49] #12904 closed

[2016-10-25 17:54] bartdesmet opened #13003 "CI failure in DateTimeFormatInfoGetInstance.GetInstance_ExpectedCurrent"
See https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2074

[code]

[2016-10-25 18:03] karelz commented on #13003
cc @tarekgh

[2016-10-25 18:06] karelz commented on #12998
We should separate the discussion of why IList does not implement IReadOnlyList.

cc: @VSadov

[2016-10-25 18:11] JeremyKuhne opened #13004 "Consume ArrayPool from CoreLib"
Change impl in CoreFx to use copy of ArrayPool from System.Private.CoreLib. This is follow up to #12810.

[2016-10-25 18:14] JeremyKuhne opened #13005 "Move FileStream from CoreFX to CoreCLR"
Need to move CoreFX FileStream down to System.Private.CoreLib once #11707 is complete.

[2016-10-25 18:31] jchannon commented on #10858
For me simply running that app in the repo on OSX showed the issue or
running the code I supplied on OSX

On 24 October 2016 at 22:37, Anass Bouassaba <notifications@github.com>
wrote:

[2016-10-25 18:31] JeremyKuhne commented on #11943
This is due to legacy DOS support in Windows.  In DOS the period was only legal as a separator from the file extension, which was technically separate from the file name. In searching for files `*.` meant "any filename with no extension".

`*.` is _technically_ "zero or more characters followed by a period". In order to be compatible with the legacy meaning `*.` and `*.*` are given special handlin

[2016-10-25 18:31] #11943 closed

[2016-10-25 18:33] bartdesmet opened #13007 "No write-back of mutable struct instances to live constant boxes"
Consider the following test:

[code]

which uses a lambda equivalent to:

[code]

where `o` is a mutable struct. With the expression interpreter, the assert succeeds, but with the expression compiler, the assert fails.

The issue with the compiler is in the use of `unbox.any` upon accessing the `Closure.Constants` array slot containing the live constant containing the boxed instance of `new Struct

[2016-10-25 18:34] JeremyKuhne opened #13008 "Consume FileStream from CoreLib"
After #13005 we need to consume FileStream from CoreLib.

[2016-10-25 18:43] #12891 closed

[2016-10-25 18:57] krwq commented on #11726
As this is UWP specific, we can defer it for now @danmosemsft

[2016-10-25 18:59] halter73 commented on #10858
@jchannon I just ran the https://github.com/aspnet/KestrelHttpServer/blob/dev/samples/SampleApp/Startup.cs on debian 8.2 and everything seems to work.

First I tried making a request with Chrome ignoring cert errors which was successful. Then I generated a new non-expired testCert.pfx using the following openssl commands then added it as a trusted CA:

    debian82:~/KestrelHttpServer/samples/Samp

[2016-10-25 19:18] karelz commented on #13007
cc: @VSadov

[2016-10-25 19:30] ramarag commented on #12625
@tarekgh  the divergence in behavior was caused by your change in
https://github.com/dotnet/corefx/commit/ba6f2955580a029037d920c4be836e9850427e46

comments on how to proceed further?

[2016-10-25 19:58] halter73 commented on #10858
I think I figured out what was going on. I finally started seeing the `Interop+OpenSsl+SslException: SSL Read BIO failed with OpenSSL error` when the app I was testing threw an exception prior to  writing to the response body.

A little further investigation using the LoggingConnectionFilter (which is enabled via the call to `options.UseConnectionLogging();` in the Kestrel SampleApp), showed that

[2016-10-25 20:01] jchannon commented on #10858
:+1:

[2016-10-25 20:02] tijoytom commented on #12143
Fixed by https://github.com/dotnet/corefx/pull/12888

[2016-10-25 20:02] #12143 closed

[2016-10-25 20:09] #12459 closed

[2016-10-25 20:30] weshaggard commented on #12994
@joperezr is planning to write a tool to inspect which test build configurations are running and which are being ignored to try and help with this type of issue.

[2016-10-25 20:32] shmao commented on #11319
This was fixed by https://github.com/dotnet/corefx/pull/12017.

[2016-10-25 20:32] #11319 closed

[2016-10-25 20:35] ianhays commented on #9347
Unlikely we'll want to as they're so prone to the previous error. Closing,

[2016-10-25 20:35] #9347 closed

[2016-10-25 20:36] ianhays commented on #9973
No longer an issue since so many infra changes have happened.

[2016-10-25 20:36] #9973 closed

[2016-10-25 20:37] ianhays commented on #10054
Closing issue as expected behavior.

[2016-10-25 20:37] #10054 closed

[2016-10-25 21:20] chcosta commented on #12294
For release 1.1, the commit sha is available in the assembly informational version (on Windows).   Later releases now include commit information in each package as a .txt file.

[2016-10-25 21:20] #12294 closed

[2016-10-25 21:21] tarekgh commented on #12625
@ramarag you are looking at wrong place as the change you referred to is AOT specific and not used in the scenario we are talking about.

[2016-10-25 21:38] #12994 closed

[2016-10-25 21:39] stephentoub commented on #12184
The TODOs were removed in #13000

[2016-10-25 21:39] #12184 closed

[2016-10-25 21:45] ericeil commented on #12236
This test is now disabled in Master; if approved, #13013 will disable the test in release/1.1.0.  Moving this issue to 1.2.

[2016-10-25 22:00] tarekgh commented on #13003
@bartdesmet I couldn't repro this issue and I am seeing the subsequent CI runs not failing with it. do you get this failure regularly?

[2016-10-25 22:33] bartdesmet commented on #13003
Just saw it once for a PR.

[2016-10-25 23:01] SedarG opened #13020 "Move Microsoft.NetCore.Portable.Compatibility package to assets to CoreFX"
This package gets invalidated as we move types around. One example is, System.Runtime.CompilerServices.IsConst, which moved out of System.Private.Corelib into System.Runtime. mscorlib in the Compatibility package still has a typeforward to System.Private.CoreLib, which is causing issues on .Net Native scenarios.

[2016-10-25 23:24] tarekgh commented on #13003
Thanks @bartdesmet. this failure looks so weird and this is first time I am seeing it. I am going to close this issue for now and if we got it again I'll spend more time digging deeper on it.

[2016-10-25 23:48] brianrob commented on #9118
To my knowledge, these still run.  This sounds like more of a build issue.

[2016-10-25 23:51] karelz commented on #13001
Fixed in PR #12823

[2016-10-25 23:51] #13001 closed

[2016-10-26 00:06] #12818 closed

[2016-10-26 00:29] Priya91 opened #13025 "System.IO.Tests.PathTooLongExceptionInteropTests.From_HR failed in Windows PR CI"
[code]

Refer job [here](https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/2164/), [here](https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2160/)

[2016-10-26 00:30] #12942 closed

[2016-10-26 00:37] janvorli commented on #12969
I have looked into that. The exception handling is actually working correctly. The problem is that the `System.Net.NetworkInformation.dll!System.Net.NetworkInformation.LinuxNetworkInterface+<>c__DisplayClass5_0.<GetLinuxNetworkInterfaces>b__2(System.String, LinkLayerAddressInfo*)` is called from native code as a reverse pinvoke from `System.Native.so` (`SystemNative_EnumerateInterfaceAddresses` fu

[2016-10-26 00:40] ramarag commented on #12254
We are not adding these, see discussion on https://github.com/dotnet/corefx/issues/11809#issuecomment-253126440

[2016-10-26 00:40] #12254 closed

[2016-10-26 01:54] stephentoub commented on #13025
Also here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2165/consoleText
and here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2165/consoleText

[code]

[code]

@yizhang82, has something changed recently with regards to handling of interop and HRs?

[2016-10-26 01:56] stephentoub commented on #13025
And here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/2163/
[code]

[2016-10-26 02:17] MattWhilden commented on #5088
The infrastructure we have for warning suppression doesn't seem to allow suppression of this one. :-(

One workaround would be to get an updated package of System.Linq.Expressions with the fix in it. If someone from framework could comment on the feasibility of that it would be much appreciated.

[2016-10-26 02:20] dotnet-mc-bot opened #13028 "Test failure: System.Diagnostics.Tests.ProcessWaitingTests/MultipleProcesses_StartAllKillAllWaitAll"
Opened on behalf of @jiangzeng

The test `System.Diagnostics.Tests.ProcessWaitingTests/MultipleProcesses_StartAllKillAllWaitAll` has failed.

System.ComponentModel.Win32Exception : Cannot allocate memory

        Stack Trace:

           at Interop.Sys.ForkAndExecProcess(String filename, String[] argv, String[] envp, String cwd, Boolean redirectStdin, Boolean redirectStdout, Boolean redirectStderr

[2016-10-26 03:52] Kation opened #13032 "Exception when return type contains SqlConnection"
If a method or property that return type contains SqlConnection like **SqlConnection**, **Task&lt;SqlConnection&gt;** or **List&lt;SqlConnection&gt;**, there is an exception when we are trying to list this object in **Watch Window**.

[code]

[2016-10-26 03:54] AlexGhiondea commented on #12405
Thanks @ramarag for handling this with #13029

[2016-10-26 03:54] #12405 closed

[2016-10-26 05:24] #12940 closed

[2016-10-26 05:52] wateret opened #13033 "[ARM/CI] CI cannot find arm-hardfp rootfs image"
The CI job linuxarmemulator_hardfp_cross_debug fails.

The error message is:

[code]

Which means that CI does not have `/opt/linux-arm-emulator/platform/rootfs-u1404.ext4` but I already sent this file to CI.

@jashook Could you please check?

[2016-10-26 06:58] #12408 closed

[2016-10-26 07:51] jiangzeng commented on #10825
It's failing as following for build [20161025.02](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20161025.02/workItem/System.Runtime.InteropServices.Tests/analysis/xunit/System.Runtime.InteropServices.HandleCollectorTests~2FCountOverflow)

Windows.10.Amd64-AnyCPU-Debug 
Unhandled Exception of Type System.InvalidOperationExcep

[2016-10-26 09:30] fitzchak opened #13034 "Enhance SqlClientDiagnosticListener to support SqlTransaction"
It will be great if SqlTransaction will output tracing info about Commit, Rollback and Dispose as SqlConnection and SqlCommand have tracing info about connection open/close and command executing/executed.

[2016-10-26 09:46] MontyGvMC commented on #12987
I installed SQL Server 2008 R2 Service Pack 3.

For Windows Server 2008 R2 the highest I could find was Service Pack 1 and so far we decided not to patch  the Windows Server itself (who knows what doesnt run afterwards).

I am preparing a fresh Windows Server 2008 R2 (fully patched via internet updates) and a fresh SQL Server 2008 R2 to test the project and this issue.

Maybe tomorrow I can say mo

[2016-10-26 11:01] jkotas commented on #11809
Yes - assuming https://github.com/dotnet/standard/issues/88 that I just opened goes through.

[2016-10-26 11:28] svick commented on #13032
What is the exception?

[2016-10-26 11:59] stephentoub commented on #10825
@jiangzeng, that's a UWP F5 test.  That's the same root cause as https://github.com/dotnet/corefx/issues/10838

[2016-10-26 12:32] alexgwolff opened #13035 "System.Data.Odbc Namespace"
Are there any plans to provide this API?
My project is still rightfully so. Not everything can to use with ADO.NET like Excel ODBC
You see that even the Mono has support for it.
Att.

[2016-10-26 13:39] devatwork opened #13036 "WebUtility.HtmlDecode does not decode all HTML5 character entities"
The current character entity replace dictionary used inside WebUtility uses the entity set as defined in HTML4, see https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/Net/WebUtility.cs#L757.

However, the HTML5 spec defines additional entities, see https://www.w3.org/TR/html5/syntax.html#named-character-references.

I'm willing to send a PR to include the new nam

[2016-10-26 15:30] Kation commented on #13032
When breakpoint in the class that has the member I said, type **this** will show **Internal error in the expression evaluator**.

[2016-10-26 15:38] karelz commented on #13036
Sounds like reasonable thing to do. @davidsh @CIPop any suggestions?

[2016-10-26 15:40] karelz commented on #13034
Do you have suggestion how to do that?
cc: @saurabh500

[2016-10-26 15:40] stephentoub commented on #13028
This means the system was so low on memory that it couldn't fork off another process.  There's nothing we can do about that.

[2016-10-26 15:44] karelz commented on #13035
It's not part of .NET Standard 2.0.
CC: @saurabh500 @weshaggard @stephentoub

[2016-10-26 15:45] karelz commented on #13025
@JeremyKuhne @ianhays can you please take a look? Looks like impactful intermittent failure ...

[2016-10-26 15:50] stephentoub commented on #13025
This set of tests has been very stable for months.  That it's such a simple test and just started failing so frequently suggests a regression of some kind.

[2016-10-26 16:15] tarekgh opened #13041 "Add more Globalization APIs to netstandard 2.0"
It is decided to add more globalization APIs to netstandard 2.0.

The PR show what is added
https://github.com/dotnet/standard/pull/51

here is the globalization APIs list we need to add:

[code]

[2016-10-26 16:24] stephentoub commented on #12136
Presumably HttpListener would just provide its own derived type.  I don't have a strong opinion here, but if a TokenBinding is not meant to be created by arbitrary code, and it seems like that's the case and why it has an internal rather than public ctor today, then I can understand the push to have a protected instead of public ctor.  Making it protected allows for code to really create one if it

[2016-10-26 16:31] danmosemsft commented on #13028
Let's reduce it from 50. Any reason it can't be 5 or 10?

[2016-10-26 16:32] stephentoub commented on #13028
No functional reason.

[2016-10-26 16:51] #12759 closed

[2016-10-26 16:59] AlexGhiondea commented on #12260
Closing this as all the types listed here have been ported.

[2016-10-26 16:59] #12260 closed

[2016-10-26 17:14] matekm commented on #1378
Hi guys,

I would like to take contribute some time for corefx and this issue looks nice as an introductory task. Will it be ok if I pick it up?

[2016-10-26 17:56] terrajobst commented on #6598
@mellinoe

I assume this can now be closed?

[2016-10-26 18:07] saurabh500 commented on #13035
cc @YoungGah

[2016-10-26 18:10] saurabh500 commented on #12987
@MontyGvMC

I am assuming that you will update the Sql Server 2008 R2 with SP3 in the new installation.

[2016-10-26 18:13] saurabh500 commented on #13034
@fitzchak

For SqlCommand which APIs are you talking about, w.r.t. tracing ?

[2016-10-26 18:14] saurabh500 commented on #13034
@karelz  this is an enhancement request.

[2016-10-26 18:23] karelz commented on #13034
@saurabh500 mark it so :)

[2016-10-26 18:25] Priya91 commented on #13028
Reducing the iterations in the tests to 10

[2016-10-26 18:25] saurabh500 commented on #13034
@fitzchak I just realized that you are talking about `SqlClientDiagnosticListener` which was added to .Net core by @tstringer
We can look into this when we work on SqlTransaction support for .Net core.

[2016-10-26 18:26] tannergooding commented on #1151
The CoreFX side has gone in as well now. I will continue working on the finer implementation details in my spare time. The additional work being:
* https://github.com/dotnet/corefx/issues/12855 - Additional managed UnitTest coverage, to be at least on par with the PAL layer coverage we have
* https://github.com/dotnet/coreclr/issues/7689 - Ensuring the intrinsic support is properly piped through
*

[2016-10-26 18:36] dsgouda commented on #9118
We used to be able to run perf tests locally using the build targets under CoreFX, I am not sure if this is true today, someone from perf may have to take a look

[2016-10-26 18:59] #12349 closed

[2016-10-26 19:09] AlexGhiondea opened #13047 "Re-enable tests for StringBuilder after updating CoreCLR"
The tests need to be updated after https://github.com/dotnet/coreclr/pull/7803 is done.

[2016-10-26 19:10] bartdesmet opened #13048 "AddChecked factory method passes false for liftToNull"
Noticed in PR https://github.com/dotnet/corefx/pull/13046. Unlike any other factory methods for binary expressions, `AddChecked` passes `false` for the `liftToNull` parameter. That seems like a bug.

[2016-10-26 19:22] bartdesmet opened #13050 "Review disabled features in expression interpreter code"
We have the following `#if` symbols sprinkled across the code but never enabled:

* FEATURE_COMPILE_TO_METHODBUILDER
* FEATURE_PDB_GENERATOR
* FEATURE_DLG_INVOKE
* FEATURE_FAST_CREATE
* FEATURE_THREAD_ABORT
* FEATURE_MAKE_RUN_METHODS
* FEATURE_STACK_TRACES
* NO_FEATURE_STATIC_DELEGATE

Some may be worth enabling again given the addition of some APIs in the latest .NET Standard build flavors; other

[2016-10-26 19:24] bartdesmet opened #13052 "Use netstandard1.7 for System.Linq.Expressions"
Which will bring back `Type.GetTypeCode` etc. enabling progress on https://github.com/dotnet/corefx/issues/11328 etc.

[2016-10-26 19:26] #12257 closed

[2016-10-26 19:28] AlexGhiondea opened #13054 "Add Serializable attribute on ApplicationId"

[2016-10-26 19:38] karelz commented on #13036
Feel free to submit a PR.
Guidance:
* We should avoid breaking compat -- i.e. do not change existing 'wrong' code (if you find any). Such changes should be discussed explicitly upfront.
* Add test coverage

[2016-10-26 19:41] #12512 closed

[2016-10-26 19:43] karelz commented on #13052
cc @VSadov

[2016-10-26 19:54] #12128 closed

[2016-10-26 19:57] geoffkizer commented on #12136
Given that this is proving to be tricky to actually implement, I think we should seriously consider just cutting this for now.  We can always revisit in a future release.

[2016-10-26 20:35] pushist1y opened #13057 "Loading assemblies with dependencies at runtime"
Trying to implement loose coupling approach in my new application i've run into problem.
I have a main application, an assembly with abstractions and an assembly which i want to load dynamically. The actual loading code is:

`foreach (var path in paths)
                {
                    var fullPath = Path.Combine(System.AppContext.BaseDirectory, path);
                    if (!File.Exists(ful

[2016-10-26 20:53] janvorli commented on #12969
@mellinoe - would you be the right person to look into fixing the issue with exception handling over the managed - native - managed boundary in the GetLinuxNetworkInterfaces I have identified?

[2016-10-26 21:00] CIPop commented on #12136
I'm adding some documentation here: #13026 on how to add netcoreapp1.1. I also plan to submit a PR soon with the code changes.

[2016-10-26 21:06] yizhang82 commented on #13025
@stephentoub We are not making any change in this area. Mostly we are focusing on adding APIs and completing CoreRT/.NET native interop story.

[2016-10-26 21:15] AlexGhiondea commented on #13025
The tests are failing with this message:

MESSAGE:
Assert.IsAssignableFrom() Failure
Expected: typeof(System.IO.PathTooLongException)
Actual: typeof(System.IO.FileNotFoundException)
+++++++++++++++++++
STACK TRACE:
at System.IO.Tests.PathTooLongExceptionInteropTests.From_HR() in D:\j\workspace\windows_nt_re---37265eab\src\System.Runtime\tests\System\IO\PathTooLongException.InteropTests.cs:line 16

[2016-10-26 21:16] stephentoub commented on #13025
@yizhang82, ok, but something significant has changed.  This test hasn't changed since April, yet it's now failing very frequently, with errors like the one @AlexGhiondea just shared, highlighting that it's returning a different exception type than expected.

[2016-10-26 21:19] vors commented on #12983
I actually was able to fix the problem with patching dylib for openssl:
https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md#openssl

[2016-10-26 21:30] karelz commented on #13025
This may very well be caused by some bug in underlying stack (CoreCLR, JIT, etc.). Given that this is just 1 particular test showing these symptoms, we will start with test owner first.

@yizhang82 who has the best chance to find out what is going on? You/your team or @JeremyKuhne.

We need someone to take a look right now. First step should be disable the test, immediately followed by investigati

[2016-10-26 21:33] AlexGhiondea commented on #13025
@karelz I have a PR out to disable the 3 tests (#13059)

[2016-10-26 21:35] ianhays commented on #9641
[Looking at the original reference source](https://referencesource.microsoft.com/#mscorlib/system/security/permissions/principalpermission.cs), most of it can be easily translatable to .net core. My only concerns are the things wrapped in `FEATURE_CAS_POLICY` and `FEATURE_IMPERSONATION`. Are those bits necessary to include as well? Some of the functions like `Demand` won't work without `FEATURE_IM

[2016-10-26 21:45] karelz commented on #13025
@AlexGhiondea great, thanks! I assume you don't plan to investigate it further ... (just checking)

[2016-10-26 22:16] geoffkizer commented on #12136
Thanks @CIPop, that documentation is helpful.

[2016-10-26 22:17] geoffkizer commented on #12136
Per discussion, we will cut this.

I'll file a separate issue against netstandard2.0.

[2016-10-26 22:17] #12136 closed

[2016-10-26 22:20] danmosemsft opened #13062 "Port x-plat SecureString implementation from CoreFX to mscorlib"
@shrah commented on [Wed Oct 26 2016](https://github.com/dotnet/coreclr/issues/7834)

The x-plat SecureString implementation need to be ported from corefx/src/System.Security.SecureString/src/System/Security/SecureString.cs  to mscorlib. This is required in order to port the Marshal.SecureStringTo\* APIs as they take SecureString as parameter.

[2016-10-26 22:21] karelz commented on #12142
@weshaggard can you please advise?

[2016-10-26 22:27] mellinoe commented on #12969
@janvorli I'm working on it.

[2016-10-26 22:30] mellinoe commented on #12969
Note that the bug described in this issue is resolved with the fix to `File.ReadAllText`. I'll provide extra checks in `GetAllNetworkInterfaces()` to ensure that exceptions aren't propogated out of the reverse PInvoke, but it shouldn't have any direct effect on this scenario after the `ReadAllText` fix.

[2016-10-26 22:30] janvorli commented on #12969
@mellinoe ok, makes sense.

[2016-10-26 22:34] danmosemsft commented on #11771
@mellinoe could you take a look please as we are trying to get the test run clean. If you don't have time then please disable the test with this issue #.

[2016-10-26 22:37] danmosemsft opened #13063 "AccessViolationException in BigInteger tests"
Possibly related to https://github.com/dotnet/corefx/issues/11771, but an AccessViolationException. Even when running out of memory, we shouldn't do that. Seems it needs a fix of its own. @mellinoe

[code]

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161026.02/workItem/System.Runtime.Numerics.Tests/details/736c97ed-fa83-4

[2016-10-26 22:38] JeremyKuhne opened #13064 "ArrayPool exception in CoreCLR strings are reversed"
https://github.com/dotnet/coreclr/blob/74cbc9e2c42ffb01c84a68adb59a2ff35ae23333/src/mscorlib/src/System/Buffers/DefaultArrayPoolBucket.cs#L91

Messed this up when switching the type around. Also need to ensure we actually have all of these strings present.

[2016-10-26 22:48] #12323 closed

[2016-10-26 22:48] #9981 closed

[2016-10-26 22:58] AlexGhiondea commented on #13062
I think the right approach is to pull the type (SecureString) and it's closure down into S.Runtime. We can probably re-use the implementation we already have inside S.S.SecureString and move that as well into S.Runtime.

/cc @weshaggard in case he disagrees.

[2016-10-26 23:00] vors commented on #12983
Sorry, the patching helped for the older lib (4.1.0), but not the the preview3 one

[code]

^^^ here patching openssl works fine

[2016-10-26 23:00] swgillespie commented on #12991
@karelz I haven't been able to repro this locally so I'm adding some additional logging for the next time this occurs.

[2016-10-26 23:03] stephentoub commented on #13062
I was actually wondering if the right answer was to pull most of Marshal up, as we've done with Environment, Thread, etc., exposing from the runtime just the necessary pieces to make it work, e.g. the internal calls.

[2016-10-26 23:05] stephentoub commented on #13062
(Alex,  maybe we're saying the same thing?)

[2016-10-26 23:07] karelz commented on #12991
Sounds goof, thanks!

[2016-10-26 23:11] #13028 closed

[2016-10-26 23:16] Priya91 commented on #11598
There were no reports of this test failure for the past week, hence closing issue.

[2016-10-26 23:16] #11598 closed

[2016-10-26 23:26] jashook commented on #13033
@wateret this is a weird issue. I see the emulator path when creating vm manually; however, cannot see it from the machines jenkins is imaging. @mmitche I can sync up with you on this when you are free.

[2016-10-26 23:27] jashook commented on #13033
/cc @RussKeldorph

[2016-10-26 23:32] CIPop opened #13070 "Add actual net463 Target Framework Moniker"
Since it's not released yet, we're mapping `net463` to `.Net 4.6.2`.
We need to add a .Net 4.7 TFM to enable certain tests that require APIs available only in the new version.

[2016-10-26 23:39] shmao opened #13071 "ReflectionOnly Mode not Supporting ISerializable"
PR https://github.com/dotnet/corefx/pull/13068 enabled DCS/DCJS to serialize ISerializable types. We still need to make changes to enable reflection based serialization to support ISerializable. The following test in System.Runtime.Serialization.Xml.ReflectionOnly.Tests are failing,

[code]

To fix this, take a look at PR https://github.com/dotnet/corefx/pull/13068 first, and changes probably need

[2016-10-26 23:53] AlexGhiondea commented on #13062
@stephentoub from chatting with @yizhang82 it sounds like pulling Marshal up is not really possible. There is code in CoreLib that uses Marshal already.

What I was thinking is more along the lines of:
- Take the implementation of System.Security.SecureString and copy it down into System.Private.CoreLib. That implementation is already cross-plat and it would become **the** SecureString type.
- Exp

[2016-10-27 00:00] CIPop opened #13073 "Remove P2P package references"
After the packages have been published to myget, remove the P2P references required by projects using newly added APIs.

[2016-10-27 00:06] yizhang82 commented on #13025
Ah, I have a theory. Have we started recently running the tests together in-proc? This might be a case of leaking IErrorInfo in the same thread from a previous test. I can repro a similar issue with this two lines:
[code]

[2016-10-27 00:22] karelz commented on #13025
AFAIK xunit runs tests in-proc by default ...

What you described sounds like a real bug to me ... could it be recent regression?

[2016-10-27 00:30] yizhang82 commented on #13025
It's not a bug and not a regression (I can repro that in desktop CLR) - but a really unfortunate by-design. Marshal.GetHRForException is mainly meant to be used at interop boundary to return HR + IErrorInfo to native code and it's really easy to be used incorrectly.

The right way to write the code is simply (new FileNotFoundException()).HResult - no side effect.

[2016-10-27 00:39] #10445 closed

[2016-10-27 00:57] yizhang82 commented on #13025
I'll send a PR out to fix the System.Runtime.InteropServices\tests\System\Runtime\InteropServices\MarshalTests.cs. It needs to clear IErrorInfo by calling Marshal.GetExceptionForHR(hr).

[2016-10-27 01:58] stephentoub commented on #13025
Thanks, appreciated.

[2016-10-27 02:03] #11771 closed

[2016-10-27 02:14] #12795 closed

[2016-10-27 02:54] bartdesmet opened #13077 "CI failure in Matrix4x4Tests.Matrix4x4CreateFromYawPitchRollTest2"
See https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/2207.

[code]

[2016-10-27 03:01] stephentoub commented on #13077
Reoccurrence of https://github.com/dotnet/corefx/issues/4882

cc: @mellinoe, @RussKeldorph

[2016-10-27 05:52] MontyGvMC commented on #12987
I will.
But as mentioned the SQL Server is already patched in the currrnt setup and I am still getting the exception.
So Service Pack 3 for the SQL Server 2008 R2 alone seems not to fix the problem.

[2016-10-27 07:21] jiangzeng commented on #11364
Reopen this issues as this is happening in CoreFx build 20161026.02
Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20161026.02/workItem/System.Collections.Specialized.Tests

[2016-10-27 07:28] jiangzeng commented on #11685
Re-open this issue as it is happening in build 20161026.02.
Log:
Unhandled Exception of Type Xunit.Sdk.AllException
Message :
Assert.All() Failure: 1 out of 6 items in the collection did not pass.\r\n[0]: System.IO.InvalidDataException: The archive entry was compressed using an unsupported compression method.\r\n        at System.IO.Compression.ZipArchiveEntry.ThrowIfNotOpenable(Boolean needToUnco

[2016-10-27 07:31] jiangzeng commented on #11364
Log:
Unhandled Exception of Type Xunit.Sdk.ThrowsException
Message :
Assert.Throws() Failure\r\nExpected: typeof(System.IndexOutOfRangeException)\r\nActual:   typeof(System.ArgumentException): Insufficient space in the target location to copy the information.

Stack Trace :
   at System.Collections.Specialized.ListDictionary.NodeKeyValueCollection.System.Collections.ICollection.CopyTo(Array array,

[2016-10-27 07:36] jiangzeng commented on #10913
Re-open this as this is happening in CoreFx build 20161026.02
Log:
Unhandled Exception of Type Xunit.Sdk.EqualException
Message :
Assert.Equal() Failure\r\nExpected: -2147467259\r\nActual:   0

Stack Trace :
   at System.Net.WebSockets.Tests.WebSocketExceptionTests.ConstructorTests_NativeError_Exception_Success(Int32 nativeError, WebSocketError webSocketError, Int32 expectedHResult) in D:\A\_work\

[2016-10-27 07:38] jiangzeng commented on #10820
This is happening in CoreFx build 20161026.02.
Log:
Unhandled Exception of Type System.MethodAccessException
Message :
System.MethodAccessException : Attempt by method 'System.Collections.ObjectModel.Tests.Helper.GetDictionary<System.Int32,System.__Canon>(System.Collections.ObjectModel.KeyedCollection`2<Int32,System.__Canon>)' to access method 'System.Collections.ObjectModel.KeyedCollection`2<Syst

[2016-10-27 07:44] dotnet-mc-bot opened #13079 "Test failure: System.Runtime.InteropServices.RuntimeInformationTests.DescriptionNameTests/VerifyRuntimeDebugNameOnNetCoreUwp"
Opened on behalf of @jiangzeng

The test `System.Runtime.InteropServices.RuntimeInformationTests.DescriptionNameTests/VerifyRuntimeDebugNameOnNetCoreUwp` has failed.

Assert.Equal() Failure\r
                   ? (pos 5)\r
    Expected: .NET Native 4.6.1586.0\r
    Actual:   .NET Core 4.6.1586.0\r
                   ? (pos 5)

        Stack Trace:

           at System.Runtime.InteropServices.Runt

[2016-10-27 07:51] jiangzeng commented on #10887
Re-open this as it's happening in CoreFx build 20161026.02
Log:
Unhandled Exception of Type Xunit.Sdk.EqualException
Message :
Assert.Equal() Failure\r\nExpected: Byte[] [62, 23, 186, 150, 174, ...]\r\nActual:   Byte[] []

Stack Trace :
   at System.IO.Compression.Tests.DeflateStreamTests.<ValidateCompressedData>d__48.MoveNext() in D:\A\_work\31\s\corefx\src\System.IO.Compression\tests\DeflateStre

[2016-10-27 07:55] jiangzeng commented on #10890
Re-open as this is happening in CoreFx build 20161026.02
Log:
Unhandled Exception of Type Xunit.Sdk.TrueException
Message :
Assert.True() Failure\r\nExpected: True\r\nActual:   False

Stack Trace :
   at System.IO.Compression.Tests.DeflateStreamTests.<OverlappingFlushAsync_DuringFlushAsync>d__2.MoveNext() in D:\A\_work\31\s\corefx\src\System.IO.Compression\tests\DeflateStreamTests.cs:line 64
--- E

[2016-10-27 07:57] jiangzeng commented on #10888
Re-open as this is happening in CoreFx build 20161026.02
Log:
Unhandled Exception of Type Xunit.Sdk.ThrowsException
Message :
Assert.Throws() Failure\r\nExpected: typeof(System.InvalidOperationException)\r\nActual:   (No exception was thrown)

Stack Trace :
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSucc

[2016-10-27 08:01] jiangzeng commented on #10889
Re-open this as it's happening on CoreFx build 20161026.02
Log:
Unhandled Exception of Type System.IO.InvalidDataException
Message :
System.IO.InvalidDataException : Block length does not match with its complement.

Stack Trace :
   at System.IO.Compression.Inflater.DecodeUncompressedBlock(Boolean& end_of_block)
   at System.IO.Compression.Inflater.Decode()
   at System.IO.Compression.Inflater.Inf

[2016-10-27 08:04] jiangzeng commented on #10899
Re-open as this is happening on CoreFx build 20161026.02
Log:
Unhandled Exception of Type Xunit.Sdk.ThrowsException
Message :
Assert.Throws() Failure\r\nExpected: typeof(System.InvalidOperationException)\r\nActual:   typeof(System.IO.IOException): Pipe is broken.

Stack Trace :
   at System.IO.Pipes.NamedPipeClientStream.CheckPipePropertyOperations()
   at System.IO.Pipes.PipeStream.SetAccessContr

[2016-10-27 08:06] fitzchak commented on #13034
@karelz I'll add the trace statements where we need them and will show you.
For now, I'm not able to compile the (solution)[https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/System.Data.SqlClient.sln].
Can you point me to the guide how to do that?

[2016-10-27 08:08] jiangzeng commented on #7732
Re-open as this fails in AMD64 on CoreFX build 20161026.02.
Log:

Windows.10.Amd64-AnyCPU-Release 
Unhandled Exception of Type Xunit.Sdk.TrueException
Message :
Assert.True() Failure\r\nExpected: True\r\nActual:   False

Stack Trace :
   at System.Xml.Tests.XmlSystemPathResolverTests.AssertInvalidPath(String path) in D:\A\_work\31\s\corefx\src\System.Private.Xml\tests\XmlReader\XmlResolver\XmlSys

[2016-10-27 09:38] #11632 closed

[2016-10-27 14:08] bartonjs commented on #12983
@vors have you added the symlinks as documented on https://www.microsoft.com/net/core#macos?

[code]

You may need to `mkdir /usr/local/lib` first.

[2016-10-27 15:51] karelz commented on #13079
UWP F5 tests are not monitored at this moment.

[2016-10-27 15:51] #13079 closed

[2016-10-27 15:57] wangyanjun commented on #984
Since a lot of API brought back to netcore,  is it the time to bring SerialPort back to netcore? when we develope IOT related apps the serial port is a very  important .

[2016-10-27 16:09] karelz commented on #13034
@saurabh500 does it mean the code is not there today?
If the bug is about code which does not exist yet, I think we should close it for now (or make it dependend on "bring the code in" bug).
If the issue is about existing code, and it is reasonable for contributors to tackle it (i.e. it does not require deep internal knowledge), please mark it as "up for grabs" with brief guidance on what is neede

[2016-10-27 16:37] karelz commented on #11142
Moving design discussion from PR here:
Reposting https://github.com/dotnet/corefx/pull/12553#issuecomment-256526118 from @divega:

I have started looking into this and so far I tend to believe the current behavior is by design and we shouldn't change it, but I am not done with the analysis. Here are a few concerns I have so far:

1. There are other validation attributes that have similar behavior,

[2016-10-27 16:44] karelz commented on #11364
@Priya91 can you please take a look? Any idea why it is failing again? Is it the same problem or should we file a new bug?

cc: @ianhays

[2016-10-27 16:45] karelz commented on #11364
I take it back. It looks like this is UWP F5 test run. We should not have reopened the issue for that.

[2016-10-27 16:45] #11364 closed

[2016-10-27 16:57] saurabh500 commented on #13034
@fitzchak I can mark this as up for grabs and I would be glad to see the changes come in for the SqlTransaction type.

[2016-10-27 16:59] saurabh500 commented on #13034
@fitzchak

You should first compile the .Net core  completely and then you can compile each project iteratively by doing an msbuild from the folder that has the csproj file.

More building instructions at https://github.com/dotnet/corefx/tree/master/Documentation/building

[2016-10-27 17:19] #12837 closed

[2016-10-27 17:38] danmosemsft commented on #10076
@mellinoe if we have a run on Ubuntu 16.10 is that sufficient? It has kernel 4.8.

[2016-10-27 18:03] joperezr commented on #11321
The original issue was fixed since the workaround was removed, but I'll leave this open to track the updating of the mapping table in our docs.

[2016-10-27 18:07] Priya91 commented on #10820
We are not looking at UWP failures currently. Closing the issue.

[2016-10-27 18:07] #10820 closed

[2016-10-27 18:08] mellinoe commented on #10076
We have runs on Ubuntu 16.10, and soon Fedora 24, which should have newer kernels. I may need to update the Ubuntu 16.10 image soon, though, because it was created a couple of months ago and I think it is still on a pre-release version of 16.10. We should verify which kernel version they are using, though.

[2016-10-27 18:22] joperezr opened #13085 "Add netcoreapp1.1 test configurations for System.Private.Xml.Linq projects"
The following projects don't currently have a netcoreapp1.1 configuration which means that they are not being tested as part of CI. I tried adding it but a bunch of tests failed, so I left them as is for now, but this issue is to track the fixing of those tests and the addition of the netcoreapp1.1 configurations.

[code]

cc: @krwq @sepidehMS @danmosemsft

[2016-10-27 18:24] vors commented on #12983
Right, so about that. If I add these symlinks everything works. Meanwhile, that would mean that we are asking all customers (not only devs) to do the same. `brew` stopped support this scenario because it opens a [security vulnerability](http://stackoverflow.com/questions/38670295/brew-refusing-to-link-openssl). Our approach was to patch the rpath with `install_name_tool` in the dylibs directly:

[

[2016-10-27 18:33] karelz commented on #13034
@fitzchak can you please confirm you are working on the issue? We should assign it to you in such case ...

[2016-10-27 18:33] steveharter commented on #12926
Removing blocking (since tests disabled)

[2016-10-27 18:36] bartonjs commented on #12983
@vors Symlinking in the libraries with the version numbers does not create a security vulnerability.  The problems come from the headers being in /usr/local/include and the unversioned forwarder being in /usr/lib; because the compiler uses the new headers while the linker mates against the old library.

Since we only pull in the version-stamped assets there's no vulnerability, otherwise we wouldn'

[2016-10-27 18:41] vors commented on #12983
Thank you for the clarification!
We would still want to avoid creating symlinks because it complicates the installation instructions for customers. It's ok for devs, but not for users.
Changing rpath should be possible and seems cleaner.

[2016-10-27 19:00] karelz commented on #12195
Fixed by #13027

[2016-10-27 19:00] #12195 closed

[2016-10-27 19:39] danmosemsft commented on #984
We don't have this work scheduled right now so a community contribution would be welcome.

[2016-10-27 19:59] bartonjs commented on #12983
@vors The problem with the rpath approach is that a) MacPorts installs to a different location than Homebrew, so MacPorts users need a different rpath (and different symlinks, but they've to date not made as much of a fuss) and b) Homebrew even supports having a different path (and Homebrew users making use of that feature know enough to rewrite our instructions to suit their needs).

Our medium t

[2016-10-27 20:09] dagoods commented on #12195
folks: please be careful with @dagood vs. @dagoods

[2016-10-27 20:26] danmosemsft commented on #12075
https://github.com/dotnet/corefx/issues/12927

[2016-10-27 20:26] #12075 closed

[2016-10-27 20:28] danmosemsft commented on #12075
I meant to type: this seems to be tracked by the issue above.

[2016-10-27 20:31] danmosemsft commented on #7593
@KrzysztofCwalina can comment on plans for slices in CoreFX proper.

[2016-10-27 20:33] bartonjs commented on #12517
This was fixed by #13060.

[2016-10-27 20:33] #12517 closed

[2016-10-27 20:44] Priya91 commented on #12535
I'm working on this

[2016-10-27 20:44] Priya91 commented on #12526
I'm working on this

[2016-10-27 21:06] karelz commented on #12517
@jiangzeng I don't think this is something we would hit in our test runs. If you are hitting similar exceptions in test runs, please file a new bug, thanks!

[2016-10-27 21:12] blackdwarf commented on #12983
@bartonjs yep, I did.

[2016-10-27 21:41] #10858 closed

[2016-10-27 21:56] danmosemsft opened #13094 "Code coverage does not work for types implemented in corlib"
Unfortunately many libraries in CoreFX are facades over implementations in mscorlib/System.Private.Corelib so this means right now we cannot get automatic code coverage for much of the types exposed by CoreFX.

mscorlib is consumed via a nuget package from the CoreCLR repo. For code coverage to work mscorlib.pdb and System.Private.Corelib.pdb need to be placed next to their implementations (in the

[2016-10-27 21:56] danmosemsft commented on #13094
@crummel

[2016-10-27 21:57] danmosemsft commented on #10878
Removing test-run-core as this is a UWP run.

[2016-10-27 22:42] LukeInkster commented on #12560
This issue seems to come from a disagreement between ```Contains()``` on sets and ```Equals()``` on their elements.

[code]
If ```s1``` contains the single element of ```s2``` and ```s2``` contains the single element of ```s1```, that should imply that ```s1``` and ```s2``` contain elements which are equal.

This becomes a problem because:
- For sets with the same equality comparer, [the equality

[2016-10-27 22:49] karelz commented on #11685
Just one of lots of UWP test failures - no point to track it in bugs at this moment, more general effort has to happen.

[2016-10-27 22:49] #11685 closed

[2016-10-27 22:49] karelz commented on #10913
Just one of lots of UWP test failures - no point to track it in bugs at this moment, more general effort has to happen.

[2016-10-27 22:49] #10913 closed

[2016-10-27 23:04] alexperovich opened #13098 "Several System.Transactions types have no serialization constructors."
The following types are serializable but have no serialization constructors.
- System.Transactions.SubordinateTransaction
- System.Transactions.CommittableTransaction
- System.Transactions.DependentTransaction
- System.Transactions.Transaction

This came from running FxCop analyzers on corefx. Reproduce steps found [here](https://gist.github.com/alexperovich/eabc4e9053ee8aca5bcda8caa379ea87).

"E:

[2016-10-27 23:20] shmao opened #13099 "Compatiblity Issue of Serializing Custom Exceptions"
Opened the issue per @mconnew 's comments in PR #13068 on removing `ExceptionDataContract`,

[2016-10-27 23:23] alexperovich opened #13100 "FxCop: System.Text.Encodings.Web.TextEncoderSettings calls virtual methods in constructors"
This came from running FxCop analyzers on corefx. Reproduce steps found [here](https://gist.github.com/alexperovich/eabc4e9053ee8aca5bcda8caa379ea87).

The TextEncoderSettings type calls virtual methods in several of its constructors. This will not work if the class is overridden.

"E:\corefx\src\src.builds" (default target) (1) ->
"E:\corefx\src\System.Text.Encodings.Web\src\System.Text.Encodings

[2016-10-27 23:26] shmao opened #13101 "To Support Serializing System.Reflection.Pointer"

[2016-10-27 23:26] alexperovich opened #13102 "FxCop: 2 System.Security.Principal types have serialization constructors with incorrect accessibility"
This came from running FxCop analyzers on corefx. Reproduce steps found [here](https://gist.github.com/alexperovich/eabc4e9053ee8aca5bcda8caa379ea87).

"E:\corefx\src\src.builds" (default target) (1) ->
"E:\corefx\src\System.Security.Principal.Windows\src\System.Security.Principal.Windows.builds" (Build target) (418) ->
"E:\corefx\src\System.Security.Principal.Windows\src\System.Security.Principal

[2016-10-27 23:28] alexperovich opened #13103 "FxCop: 3 types in System.Security.Permissions have incorrect or missing serialization constructors"
This came from running FxCop analyzers on corefx. Reproduce steps found [here](https://gist.github.com/alexperovich/eabc4e9053ee8aca5bcda8caa379ea87).

"E:\corefx\src\src.builds" (default target) (1) ->
"E:\corefx\src\System.Security.Permissions\src\System.Security.Permissions.builds" (Build target) (415) ->
"E:\corefx\src\System.Security.Permissions\src\System.Security.Permissions.csproj" (Build

[2016-10-27 23:29] alexperovich opened #13104 "FxCop: X509Certificate needs to either be sealed or declare its serialization constructor as protected"
This came from running FxCop analyzers on corefx. Reproduce steps found [here](https://gist.github.com/alexperovich/eabc4e9053ee8aca5bcda8caa379ea87).

"E:\corefx\src\src.builds" (default target) (1) ->
"E:\corefx\src\System.Security.Cryptography.X509Certificates\src\System.Security.Cryptography.X509Certificates.builds" (Build target) (412) ->
"E:\corefx\src\System.Security.Cryptography.X509Certif

[2016-10-27 23:37] alexperovich opened #13105 "[uap101aot] FxCop: 2 System.IO types have incorrect serialization constructors"
This came from running FxCop analyzers on corefx. Reproduce steps found [here](https://gist.github.com/alexperovich/eabc4e9053ee8aca5bcda8caa379ea87).

"E:\corefx\src\src.builds" (default target) (1) ->
"E:\corefx\src\System.Runtime.WindowsRuntime\src\System.Runtime.WindowsRuntime.builds" (Build target) (377) ->
"E:\corefx\src\System.Runtime.WindowsRuntime\src\System.Runtime.WindowsRuntime.csproj"

[2016-10-27 23:44] alexperovich opened #13106 "FxCop: 4 System.Xml types rethrow caught exceptions without using the rethrow statement."
This came from running FxCop analyzers on corefx. Reproduce steps found [here](https://gist.github.com/alexperovich/eabc4e9053ee8aca5bcda8caa379ea87).

"E:\corefx\src\src.builds" (default target) (1) ->
"E:\corefx\src\System.Private.Xml.Linq\src\System.Private.Xml.Linq.builds" (Build target) (294) ->
"E:\corefx\src\System.Private.Xml.Linq\src\System.Private.Xml.Linq.csproj" (Build target) (295) ->

[2016-10-27 23:45] alexperovich opened #13107 "System.Uri locks on a string."
"E:\corefx\src\src.builds" (default target) (1) ->
"E:\corefx\src\System.Private.Uri\src\System.Private.Uri.builds" (Build target) (293) ->
"E:\corefx\src\System.Private.Uri\src\System.Private.Uri.csproj" (Build target) (44:7) ->
  System\Uri.cs(2427,19): error CA2002: Do not lock on a reference of type 'string' as it has weak identity. Replace that with a lock against an object with strong identi

[2016-10-27 23:46] alexperovich opened #13108 "FxCop: System.Net.Sockets.Socket rethrows caught exceptions without using the rethrow statement"
This came from running FxCop analyzers on corefx. Reproduce steps found [here](https://gist.github.com/alexperovich/eabc4e9053ee8aca5bcda8caa379ea87).

"E:\corefx\src\src.builds" (default target) (1) ->
"E:\corefx\src\System.Net.Sockets\src\System.Net.Sockets.builds" (Build target) (258) ->
"E:\corefx\src\System.Net.Sockets\src\System.Net.Sockets.csproj" (Build target) (259) ->
  System\Net\Socket

[2016-10-27 23:52] #11809 closed

[2016-10-28 00:02] karelz commented on #13102
@alexperovich can you please clarify context/source of this bug? (I don't think it is build break, probably some tool output?)

[2016-10-28 00:04] karelz commented on #13104
Is it netstandard2.0? Or what is the context/source of this bug?

[2016-10-28 00:05] karelz commented on #13108
What is context/source of this bug? Some tool?

[2016-10-28 00:05] karelz commented on #13107
What is the context/source of this bug?

[2016-10-28 00:06] karelz commented on #13106
What is the source/context of this bug?

[2016-10-28 00:07] karelz commented on #13100
What is the source/context of this bug?

[2016-10-28 00:19] hughbe commented on #7593
It would be pretty cool if we could call APIs taking `string` with `Slice<T>` without any additional substrings or allocations - i.e map `string[0]` to `slice[0]`.
Not sure if this will be possible or not, but it would certainly avoid the need to add a number of APIs!

[2016-10-28 00:31] divega commented on #11142
Here is a more complete list of validation attributes and whether they allow empty strings:

- `[Phone]`  no
- `[EmailAddress]`: no
- [`Url]`: no
- `[FileExtensions]`: no
- `[MinLength]`: no (unless the specified length is 0)
- `[Required]`: no by default, but controller by `AllowEmptyStrings` property
- `[CreditCard]`: yes
- `[EnumDataType]`: yes
- `[Range]`: yes
- `[Compare]`: yes
- `[RegularExp

[2016-10-28 00:32] alexperovich commented on #13107
FxCop analyzer code analysis. I will add repro steps.

[2016-10-28 00:37] alexperovich commented on #13100
FxCop roslyn analyzers. I have added steps to reproduce in the issue.

[2016-10-28 00:37] alexperovich commented on #13102
FxCop roslyn analyzers. I have added steps to reproduce in the issue.

[2016-10-28 00:37] alexperovich commented on #13104
FxCop roslyn analyzers. I have added steps to reproduce in the issue.

[2016-10-28 00:37] alexperovich commented on #13106
FxCop roslyn analyzers. I have added steps to reproduce in the issue.

[2016-10-28 00:37] alexperovich commented on #13108
FxCop roslyn analyzers. I have added steps to reproduce in the issue.

[2016-10-28 01:12] #13054 closed

[2016-10-28 01:30] CarolEidt commented on #1605
@mellinoe - sorry for the delay in response. I like the direction.
@nietras - I love the cheat sheet, thanks!
I think the right places to start, as @mellinoe proposes, is with Widen and Narrow between types where one is half the size of the other, and conversions to and from same-sized integer and float.
For narrowing conversions, I think we should attempt to follow the CLI (C#) semantics, which d

[2016-10-28 02:12] dotnet-mc-bot opened #13110 "Test failure: System.Net.Sockets.Performance.Tests.SocketPerformanceAsyncTests/SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync -- On *nix"
Opened on behalf of @jiangzeng

The test `System.Net.Sockets.Performance.Tests.SocketPerformanceAsyncTests/SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync` has failed.

System.AggregateException : One or more errors occurred. (This platform does not support connecting sockets to DNS endpoints via the instance Connect and ConnectAsync methods, due to the potential for a host name t

[2016-10-28 03:07] mikem8361 commented on #12467
Fix by PR https://github.com/dotnet/coreclr/pull/7856

[2016-10-28 03:30] stephentoub commented on #12467
Several tests are disabled due to this that will need to be turned back on once the fix is pulled in.

[2016-10-28 03:42] #12139 closed

[2016-10-28 06:52] jiangzeng commented on #10814
Also happen in build 20161027.05, run:  Full Framework Tests

[2016-10-28 06:52] jiangzeng commented on #10815
Also happen in build 20161027.05, run:  Full Framework Tests

[2016-10-28 06:53] jiangzeng commented on #10816
Also happen in build 20161027.05, run:  Full Framework Tests

[2016-10-28 06:54] jiangzeng commented on #10817
Also happen in build 20161027.05, run: Full Framework Tests

[2016-10-28 06:54] jiangzeng commented on #10821
Also happen in build 20161027.05, run: Full Framework Tests

[2016-10-28 06:58] jiangzeng commented on #10823
Also happen in build 20161027.05, run: Full Framework Tests

[2016-10-28 06:58] jiangzeng commented on #10886
Also happen in build 20161027.05, run: Full Framework Tests

[2016-10-28 07:02] jiangzeng commented on #10917
Just one of lots of UWP test failures, Close.

[2016-10-28 07:02] #10917 closed

[2016-10-28 07:04] jiangzeng commented on #10906
Just one of lots of UWP test failures, Close.

[2016-10-28 07:04] #10906 closed

[2016-10-28 07:04] jiangzeng commented on #10904
One of lots of UWP test failures, Close.

[2016-10-28 07:04] #10904 closed

[2016-10-28 07:04] jiangzeng commented on #10903
One of lots of UWP test failures, Close.

[2016-10-28 07:04] #10903 closed

[2016-10-28 07:05] jiangzeng commented on #10900
One of lots of UWP test failures, Close.

[2016-10-28 07:05] #10900 closed

[2016-10-28 07:05] jiangzeng commented on #10896
One of lots of UWP test failures, Close.

[2016-10-28 07:05] jiangzeng commented on #10892
One of lots of UWP test failures, Close.

[2016-10-28 07:06] jiangzeng commented on #10891
One of lots of UWP test failures, Close.

[2016-10-28 07:06] #10891 closed

[2016-10-28 07:07] jiangzeng commented on #10884
One of lots of UWP test failures, Close.

[2016-10-28 07:07] #10884 closed

[2016-10-28 07:07] jiangzeng commented on #10883
Just one of lots of UWP test failures, Close.

[2016-10-28 07:07] #10883 closed

[2016-10-28 07:08] jiangzeng commented on #10881
Just one of lots of UWP test failures, Close.

[2016-10-28 07:08] #10881 closed

[2016-10-28 07:08] jiangzeng commented on #10879
Just one of lots of UWP test failures, Close.

[2016-10-28 07:08] #10879 closed

[2016-10-28 07:09] jiangzeng commented on #10848
One of lots of UWP test failures, Close.

[2016-10-28 07:09] #10848 closed

[2016-10-28 07:09] jiangzeng commented on #10847
One of lots of UWP test failures, Close.

[2016-10-28 07:09] #10847 closed

[2016-10-28 07:09] jiangzeng commented on #10846
One of lots of UWP test failures, Close.

[2016-10-28 07:09] #10846 closed

[2016-10-28 07:10] jiangzeng commented on #10843
One of lots of UWP test failures, Close.

[2016-10-28 07:10] #10843 closed

[2016-10-28 07:10] jiangzeng commented on #10840
One of lots of UWP test failures, Close.

[2016-10-28 07:10] #10840 closed

[2016-10-28 07:11] jiangzeng commented on #10838
One of lots of UWP test failures, Close.

[2016-10-28 07:11] #10838 closed

[2016-10-28 07:11] jiangzeng commented on #10832
One of lots of UWP test failures, Close.

[2016-10-28 07:11] #10832 closed

[2016-10-28 07:11] jiangzeng commented on #10830
One of lots of UWP test failures, Close.

[2016-10-28 07:11] #10830 closed

[2016-10-28 07:12] jiangzeng commented on #10829
One of lots of UWP test failures, Close.

[2016-10-28 07:12] #10829 closed

[2016-10-28 07:12] jiangzeng commented on #10828
One of lots of UWP test failures, Close.

[2016-10-28 07:12] #10828 closed

[2016-10-28 07:12] jiangzeng commented on #10827
One of lots of UWP test failures, Close.

[2016-10-28 07:12] #10827 closed

[2016-10-28 07:12] jiangzeng commented on #10826
One of lots of UWP test failures, Close.

[2016-10-28 07:12] #10826 closed

[2016-10-28 07:13] jiangzeng commented on #10825
One of lots of UWP test failures, Close.

[2016-10-28 07:13] #10825 closed

[2016-10-28 07:13] jiangzeng commented on #10819
One of lots of UWP test failures, Close.

[2016-10-28 07:13] #10819 closed

[2016-10-28 07:13] jiangzeng commented on #10818
One of lots of UWP test failures, Close.

[2016-10-28 07:13] #10818 closed

[2016-10-28 07:13] jiangzeng commented on #10786
One of lots of UWP test failures, Close.

[2016-10-28 07:13] #10786 closed

[2016-10-28 07:14] jiangzeng commented on #10784
One of lots of UWP test failures, Close.

[2016-10-28 07:14] #10784 closed

[2016-10-28 07:14] jiangzeng commented on #10783
One of lots of UWP test failures, Close.

[2016-10-28 07:14] #10783 closed

[2016-10-28 07:14] jiangzeng commented on #10781
One of lots of UWP test failures, Close.

[2016-10-28 07:14] #10781 closed

[2016-10-28 07:14] jiangzeng commented on #10780
One of lots of UWP test failures, Close.

[2016-10-28 07:14] #10780 closed

[2016-10-28 07:15] jiangzeng commented on #10779
One of lots of UWP test failures, Close.

[2016-10-28 07:15] #10779 closed

[2016-10-28 07:15] jiangzeng commented on #10778
One of lots of UWP test failures, Close.

[2016-10-28 07:15] #10778 closed

[2016-10-28 07:15] jiangzeng commented on #10777
One of lots of UWP test failures, Close.

[2016-10-28 07:15] #10777 closed

[2016-10-28 07:25] hughbe commented on #13094
See: https://github.com/dotnet/corefx/blob/master/Documentation/building/facade-code-coverage.bat

[2016-10-28 07:57] wapac opened #13114 "Weird behavior of C# TcpClient/TcpListener - not read full input prevents sending before connection is closed"
I have described the issue I'm having here:
[http://stackoverflow.com/questions/40258230/explain-weird-behavior-of-c-sharp-tcpclient-tcplistener-on-netcore](http://stackoverflow.com/questions/40258230/explain-weird-behavior-of-c-sharp-tcpclient-tcplistener-on-netcore)

I am not sure if this is actually a bug or if it is meant to behave like this, but it is highly unexpected behavior and probably w

[2016-10-28 09:02] dotnet-mc-bot opened #13115 "Test failure: System.Security.Cryptography.EcDsa.Tests.ECDsaImportExportTests/TestExplicitCurves"
Opened on behalf of @jiangzeng

The test `System.Security.Cryptography.EcDsa.Tests.ECDsaImportExportTests/TestExplicitCurves` has failed.

System.DllNotFoundException : Unable to load DLL 'System.Security.Cryptography.Native': The specified module could not be found.
     (Exception from HRESULT: 0x8007007E)

        Stack Trace:

           at System.Security.Cryptography.EcDsa.Tests.Interop.Cryp

[2016-10-28 09:49] YongseopKim opened #13116 "Can't get System.Security.Cryptography.OpenSsl by nuget Install"
I can't get System.Security.Cryptography.OpenSsl by 'nuget.exe Install' since a few days.

[code]

Anybody knows how to solve this problem?

[2016-10-28 10:29] MontyGvMC commented on #12987
@saurabh500 I installed service pack 3

Well ladies and guys, i am back reporting my progress.

You can't imagine how much fun I had the last days.

I installed a fresh new Windows Server 2008 R2 including the latest service pack.
Then I started the always beloved game of checking for Windows Updates, Install them, reboot,
check for windows updates again, install them, reboot,...... over a slow in

[2016-10-28 10:55] MontyGvMC commented on #12987
Whatever update (to newest versions including previews) broke the build causing the problem searching the ProjectName.xml on /var/www/[ABSOLUTE PATH TO WINDOWS DEV ENVIRONMENT] was not in the project.json. It remains after reverting project.json to last working copy from the repository.

Now I can not build for Ubuntu anymore. Yeah.

Resume: do not try preview versions
reevaluating my/our project

[2016-10-28 12:48] CodesInChaos commented on #1151
Instead of adding `SinCos` I'd prefer teaching the JITter to optimize them, if it doesn't do so already.

[2016-10-28 12:57] stephentoub commented on #8538
This fails every time I run it locally, and it's failing in CI now that it's been re-enabled.

[2016-10-28 12:59] svick commented on #13107
I think this is a duplicate of https://github.com/dotnet/corefx/issues/11471.

[2016-10-28 13:00] stephentoub commented on #8945
I'm reopening this, as the test still needs to be re-enabled, and done so in a way that it'll either not run or pass on OSes without the fix.

[2016-10-28 13:33] jaredcnance commented on #9171
I'm not sure if this is the right place to post this, but I'm having this same issue. However, it seems isolated to a single project. The symlinks are in place (see below).

[code]

Trying to link:

[code]

[code]

[code]

[code]

The project restores perfectly fine, but crashes at runtime with the following error:

[code]

The project.json of the offending application:

[code]

I'm really unsure

[2016-10-28 14:29] bartonjs commented on #13115
@ericstj Looks like our packaging change didn't entirely work?  Though when I try to run locally it seems to work (though it did with the last problem, too).  Bizarrely it's only the S.S.C.Algorithms tests that failed, everything downstream of that passed.

[code]

Since it's looking for the old binary name that seems like a redist problem... but the old binary should be part of shared framework..

[2016-10-28 14:35] bartonjs commented on #9171
@jaredcnance I think you're hitting #12517.  If you check in your project.lock.json file you'll probably see that you're needing System.Security.Cryptography.Algorithms 4.3.0.  If so, it's the other issue.

[2016-10-28 15:14] jaredcnance commented on #9171
Thanks! That does appear to be the issue.

[2016-10-28 15:42] ericstj commented on #13115
Odd that it'd use the old shim, if I look at System.Security.Cryptography.Algorithms it only has the latest impl with the new shim.  Looking more.

[2016-10-28 15:43] ericstj commented on #13115
Huh, looks like the test itself is the thing p-invoking:
https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Security.Cryptography.Algorithms/tests/DefaultECDsaProvider.cs#L97

[2016-10-28 15:53] karelz commented on #13100
@tarekgh can you please take a look? We should fix it sooner rather than later.

cc: @danmosemsft

[2016-10-28 15:55] karelz commented on #13102
@bartonjs @steveharter can you please take a look? We should fix it sooner rather than later.

[2016-10-28 15:55] karelz commented on #13104
@bartonjs @steveharter can you please take a look? We should fix it sooner rather than later.

[2016-10-28 15:57] karelz commented on #13103
@steveharter can you please take a look?

[2016-10-28 15:58] karelz commented on #13106
@sepidehMS @krwq can you please take a look? We should fix it sooner rather than later.

[2016-10-28 15:58] karelz commented on #13106
cc: @danmosemsft

[2016-10-28 16:00] karelz commented on #11471
Also FxCop warning - tracking for 1.2 in #13107.

[2016-10-28 16:00] #11471 closed

[2016-10-28 16:02] karelz commented on #13105
@JeremyKuhne @ianhays can you please take a look? We should fix it sooner rather than later.

cc: @danmosemsft

[2016-10-28 16:10] tarekgh commented on #13100
@KrzysztofCwalina used to be the owner of Web encoding. could you please have a look?

[2016-10-28 16:10] stephentoub commented on #13102
@alexperovich, a good number of these FxCop warnings (in this and other issues) are suggesting changing already shipped APIs that we can't/shouldn't change.  For example, this issue is recommending changing ```public WindowsIdentity(SerializationInfo info, StreamingContext context)``` to be protected, but that would be a breaking change.

[2016-10-28 16:12] stephentoub commented on #13105
@alexperovich, what build did you run FxCop on to produce these warnings?  The EndOfStreamException.cs one is about a file only included in the uap101aot build: https://github.com/dotnet/corefx/blob/master/src/System.IO/src/System/IO/EndOfStreamException.cs

[2016-10-28 16:14] stephentoub commented on #13110
@AlexGhiondea, this was caused by #13058

[2016-10-28 16:33] mikem8361 commented on #12467
Can you re-enable them, Stephen?

[2016-10-28 16:34] stephentoub commented on #12467
Sure, once we pick up a new coreclr that has your fix.

[2016-10-28 16:35] danmosemsft commented on #13102
Breaking change.

[2016-10-28 16:37] danmosemsft commented on #13104
This already shipped as public. Breaking change. https://msdn.microsoft.com/en-us/library/e053d5fw(v=vs.110).aspx

[2016-10-28 16:44] danmosemsft commented on #13116
@bartonjs

[2016-10-28 16:46] danmosemsft commented on #13103
All 3 of these are valid issues.

[2016-10-28 16:49] danmosemsft commented on #13099
@weshaggard what is our compat level for cross-version binary serialization? I'm not aware that we attempt to test it. I understand we don't plan to support cross-framework.

[2016-10-28 16:50] jimcarley commented on #13098
This is due to the current lack of the ability to promote local transactions to distributed transactions.

SubordinateTransaction, CommittableTransaction, and DependentTransaction all derive from Transaction, which is the class that is marked as ISerializable.

Transaction has an implementation of GetObjectData, which calls InternalTransaction.State.GetObjectData.

In TransactionState.cs, there ar

[2016-10-28 16:56] bartonjs commented on #13116
@YongseopKim Do you only get an error for `runtime.alpine`, or are there several others?  And I'm guessing that your nuget install fails from local builds but (would) succeed from dotnet.myget.org?

@ericstj Is this a "need to build partial packages" thing?

[2016-10-28 16:57] danmosemsft commented on #12638
Seems Wes will remove these.

[2016-10-28 16:57] danmosemsft commented on #12638
Didn't mean to close.

[2016-10-28 16:57] karelz commented on #13107
From the dupe bug comment: https://github.com/dotnet/corefx/issues/11471#issue-175290581

https://github.com/dotnet/corefx/blob/ca9e2b068e75898a3b35860632b1fec01cc5af93/src/System.Private.Uri/src/System/Uri.cs#L2199-L2206
[code]
This is a scalability concern, e.g. this Uri could end up sharing the same lock as another that's locking on the same string instance, such as if the string is interned.

[2016-10-28 16:59] shmao commented on #12638
Sounds good. I will remove them from NetCore.

[2016-10-28 17:16] sepidehMS opened #13121 "UWP test runner does not allow resolving external paths"
There are UWP test failures on Helix which are failing due to not being able to resolve external paths. (Please re-enable tests labelled with ActiveIssue when this is fixed)

[2016-10-28 17:31] danmosemsft commented on #12637
We want to get and keep the Core run clean. @davidsh can you please help dispose of this - reassign, investigate, or disable ?

[2016-10-28 17:32] danmosemsft commented on #12778
We want to get and keep the Core run clean. @davidsh can you please help dispose of this - reassign, investigate, or disable ?

[2016-10-28 17:43] saurabh500 commented on #12987
cc @corivera
@MontyGvMC The first error that you have posted points to a failure in DNS resolution from Ubuntu to the Server machine
`System.Net.Internals.SocketExceptionFactory+ExtendedSocketException: No such device or address`

Can you provide the full stack trace for the new failure with .Net core 1.0 and Sql Server 2008 R2 with SP3?

We have recognized that Sql Server 2008 R2 with SP3 will he

[2016-10-28 17:52] #12810 closed

[2016-10-28 17:52] #13004 closed

[2016-10-28 17:52] #11707 closed

[2016-10-28 17:55] bartonjs commented on #2546
When we stopped building against 0.9.8 the warnings went away.  So this is pretty stale now :smile:

[2016-10-28 17:55] #2546 closed

[2016-10-28 17:56] bartonjs commented on #7870
Since it's been a long time since there was any discussion on this, and there haven't been similar complaints, this is presumed as having been fixed between RC1 and 1.0 RTM.

[2016-10-28 17:56] #7870 closed

[2016-10-28 17:59] bartonjs opened #13124 "Stop producing old S.S.C.Native shim and package"
Let's give things a couple weeks to bleed off the recent packaging changes, but everything should firmly be on System.Security.Cryptography.Native.OpenSsl or System.Security.Cryptography.Native.Apple now; so the "leaving the old name around just in case" shouldn't be needed anymore.

Time to stop producing the old binary, and the old package.

[2016-10-28 18:07] tarekgh commented on #13100
talked offline with @KrzysztofCwalina and he is going to look at this later as it is not urgent issue.

[2016-10-28 18:16] danmosemsft commented on #13100
@krwq is the actual primary owner of System.Text now. I agree this is not urgent.

[2016-10-28 18:21] #12369 closed

[2016-10-28 18:23] alexperovich commented on #13102
I will add suppressions to this then.

[2016-10-28 18:26] alexperovich commented on #13104
I will add suppressions.

[2016-10-28 18:27] alexperovich commented on #13105
I ran this on commit beb24dbe1b9dd63e8fbf8fdfe2d5ca6afd9d2429.

[2016-10-28 18:29] stephentoub commented on #13105
Sorry, I meant on what version of the binary?  It seems like this is getting run on the uap101aot binary, rather than on one that runs on coreclr.

[2016-10-28 18:30] CIPop opened #13127 "System.IO.Tests.FileLoadExceptionInteropTests.Fom_HR"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/2317/testReport/System.IO.Tests/FileLoadExceptionInteropTests/Fom_HR_hr___2146232799_/

Stacktrace

MESSAGE:
Assert.NotNull() Failure
+++++++++++++++++++
STACK TRACE:
at System.IO.Tests.FileLoadExceptionInteropTests.Fom_HR(Int32 hr) in D:\j\workspace\windows_nt_de---4526f5ff\src\System.Runtime\tests\System\IO\FileLoadExcep

[2016-10-28 18:32] alexperovich commented on #13105
This wasn't run on any binary, This is the FxCop roslyn analyzers. by msbuilding https://github.com/dotnet/corefx/blob/master/src/src.builds

[2016-10-28 18:33] stephentoub commented on #13105
Ok, then the source configuration that was being built.  My ultimate point is that we shouldn't be focused on the uap101aot configuration right now.

[2016-10-28 18:36] stephentoub commented on #13127
Dup of https://github.com/dotnet/corefx/issues/13025

[2016-10-28 18:44] CIPop commented on #13127
Closing as duplicate.

[2016-10-28 18:44] #13127 closed

[2016-10-28 18:49] ericstj commented on #13116
@bartonjs it looks like it.  @YongseopKim is building the package locally then trying to extract it with dependencies.

This would happen because it now has direct dependencies on the x-plat packages.  You can produce those by building:
msbuild /data/corefx/src/Native/pkg/runtime.native.System.Security.Cryptography.OpenSsl/runtime.native.System.Security.Cryptography.OpenSsl.builds /p:AllowPartialP

[2016-10-28 19:01] Petermarcu opened #13130 "Port: DateTime.ToString(“o”) allocates 32 objects"
This is a tracking issue to consider porting this PR to .NET Framework.

https://github.com/dotnet/coreclr/pull/7836

[2016-10-28 19:02] Petermarcu commented on #13130
@AlexGhiondea , did I file this right to get it tracked?

[2016-10-28 19:08] AlexGhiondea commented on #13130
@Petermarcu yes.

[2016-10-28 19:09] sepidehMS commented on #12222
Done by https://github.com/dotnet/corefx/pull/13122

[2016-10-28 19:09] #12222 closed

[2016-10-28 19:09] sepidehMS commented on #12221
Done by https://github.com/dotnet/corefx/pull/13122

[2016-10-28 19:09] #12221 closed

[2016-10-28 19:22] davidsh commented on #13107
I would not change this lock. It might change behavior and System.Uri has large impacts on the codebase.

[2016-10-28 19:22] davidsh commented on #13107
cc: @CIPop

[2016-10-28 19:23] wxb1 commented on #8654
@yizhang82
I cannot get load a vb6 style com dll at all. I get a class not registered even though it is. So a vb6 com dll is not supported at all?

`        public static void Main(string[] args)
        {
            var r = Ole32Methods.CoInitialize(new IntPtr(0));

            const uint CLSCTX_INPROC_SERVER = 1;

            Guid clsid = new Guid("C31CBF72-92C6-4A47-A4C4-935706C26D34");

[2016-10-28 20:09] nzubair opened #13135 "System.Diagnostics.Process.GetProcessById fails to retrieve process on Linux"
This was originally raised an issue on PowerShell repo under PowerShell/PowerShell#1851. When not running under sudo, `Get-Process -Id <number>` fails to get the process. This only happens if the target process is not owned by the current user.

After some digging, it seems like it's related to how `ProcessManager.Unix.cs` tries to figure out if the given process is running or not. It does so by t

[2016-10-28 20:12] SunnyWar commented on #1151
@CodesInChaos I dream of the day a compiler can use a solver to optimize things like trig functions to reduce them through symbolic logic to simpler/faster forms. Like sin(x) * sin(x) - cos(x)*cos(x) = -cos(2*x).

[2016-10-28 20:13] danmosemsft commented on #12780
Using the repro tool,

[code]
System.IO.IsolatedStorage.dll is not in the package, but other implementation dlls are.

I don't know how to diagnose this -- @ericstj where should I look?

[2016-10-28 20:16] alexperovich commented on #13105
Both configurations in S.R.WindowsRuntime.builds were built, so uap101aot and standard.

[2016-10-28 20:19] karelz commented on #13135
cc: @Priya91

[2016-10-28 20:27] stephentoub commented on #13105
Yes, and this warning would have only occurred in uap101aot, as this file is only compiled into that build.

[2016-10-28 20:27] alexperovich commented on #13098
Would it work to add the constructors and make them throw until the implementation is ready?

[2016-10-28 20:30] jimcarley commented on #13098
Yes, I suppose that's another alternative. Would it be sufficient from an FxCop perspetive to add that constructor to only the base Transaction class?

[2016-10-28 20:34] alexperovich commented on #13098
I think all of them need constructors.

[2016-10-28 20:36] stephentoub commented on #13098
Adding the ctors and having them throw sounds good to me.

[2016-10-28 20:36] dagood commented on #13094
I think the best way here is to download and extract the symbol package. We can rely on them being as available as the library package for dev builds, and if you know the package id + version to download, might as well use that instead of doing a lookup based on a DLL. There is also the Windows-only nature of symbol servers at the moment which downloading the symbol package works around.

There wa

[2016-10-28 20:39] shmao commented on #13101
The type is not in NetStandard2.0. Put the issue in future.

[2016-10-28 20:40] stephentoub commented on #13094
I'm not sure getting the symbols is going to be sufficient.  For code coverage to be usable (i.e. good reports), the symbols need to point to valid source files, which won't be included in the symbol package.

[2016-10-28 20:43] dagood commented on #13094
Hmm, symbol packages are designed to carry sources, and CoreFX managed symbol packages do. Maybe we should work towards including them in native and CoreCLR symbol packages.

[2016-10-28 20:46] shmao commented on #12901
IXmlMtomReaderWriterInitializer would be removed from NetStandard2.0. Closing the issue.

[2016-10-28 20:46] #12901 closed

[2016-10-28 20:52] shmao commented on #12840
I will remove the tests as the types have been removed from NetStandard2.0.

[2016-10-28 20:52] jimcarley opened #13137 "System.Transactions - remove serialization constructors from Transaction, DependentTransaction, CommittableTransaction, and SubordinateTransaction when distributed transactions are implemented."

[2016-10-28 20:56] yizhang82 commented on #13025
Fixed by https://github.com/dotnet/corefx/pull/13087

[2016-10-28 20:56] #13025 closed

[2016-10-28 20:58] shmao commented on #12799
Resolving this as a dup of #10579.

[2016-10-28 21:26] CIPop commented on #13110
@karelz @geoffkizer @davidsh Looks like the perf tests have been enabled, not only for Windows but for non-Windows too!

The failure is caused by a known limitation of the non-Windows systems: #5829. The fix should be relatively simple: we need to use the X-plat way to connect instead of connecting by name.

I'm marking this as an enhancement since I didn't design the tests to handle non-Windows s

[2016-10-28 21:29] #11609 closed

[2016-10-28 22:33] AlexGhiondea commented on #13062
Intial work (to port this into CoreCLR) is in PR: https://github.com/dotnet/coreclr/pull/7884

[2016-10-29 00:16] #12467 closed

[2016-10-29 00:25] shmao commented on #12840
I rethought the issue. As the method, CreateMtomWriter, is still in NetStandard2.0, I'd prefer to keep the test as is for tracking XmlDictionaryWriter.CreateMtomWriter throwing PNSE. As we agreed to let the method throw PNSE for 1.2.0, I'm moving the bug to future.

/cc: @zhenlan @huanwu

[2016-10-29 00:32] devlead opened #13146 "System.Environment.GetEnvironmentVariables() case sensitive but ProcessStartInfo.Environment/EnvironmentVariables insensitive"
So I'm one of the maintainers of the [Cake build system](http://cakebuild.net), a couple of days ago we got reports on the gitters that we had an issue (cake-build/cake#1319) on Windows where cake wouldn't start on a specific machine. I tracked down to user getting duplicate "home" environment variables just the casing was different from `System.Environment.GetEnvironmentVariables()`.

I just did

[2016-10-29 01:29] #11853 closed

[2016-10-29 01:34] sepidehMS commented on #7732
This should be fixed by https://github.com/dotnet/corefx/issues/13061

[2016-10-29 01:51] Priya91 commented on #13135
@nzubair Refer #13147

[2016-10-29 01:57] bartdesmet commented on #12753
Also occurred here: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/2337

[2016-10-29 03:37] #13135 closed

[2016-10-29 03:43] #13115 closed

[2016-10-29 04:58] AlexGhiondea commented on #13146
/cc @safern who is working on this area -- does the change we talked about solve this issue?

[2016-10-29 07:22] #12638 closed

[2016-10-29 07:48] CodesInChaos commented on #1151
@SunnyWar

The optimization I'm talking about is much easier to find than yours. It's essentially a form of *common sub-expression elimination*, and thus similar to existing optimizations.

Apart from the difficulty of finding them, optimizations like yours are often invalid for floats even when they're valid for real numbers. Avoiding degraded precision and handling all special cases correctly (N

[2016-10-29 10:54] stephentoub commented on #13102
Thanks, @alexperovich.  The WindowsIdentity one should be suppressed.  The IdentityNotMappedException one can just be changed from internal to private rather than suppressing it.

[2016-10-29 11:29] nzubair commented on #13135
Thanks for the quick fix.

Just curious, why use `kill` to see if processes are running, Instead of finding it among the running processes, similar to what Windows ProcessManager does?

[2016-10-29 14:02] #13108 closed

[2016-10-29 18:48] #5265 closed

[2016-10-29 18:48] #5755 closed

[2016-10-29 18:48] #12685 closed

[2016-10-29 18:48] #12808 closed

[2016-10-29 20:01] MontyGvMC commented on #12987
I will give it a try on wednesday (weekend and national holiday).

[2016-10-29 20:07] nzubair opened #13154 "How to use locally compiled corefx?"
Apologies if this is something very basic and I've missed some obvious documentation.

I have cloned and successfully built the corefx repo locally on a Ubuntu machine, following the directions from [Developer Guide](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md).

At this point, I'm at a loss on how actually I can build an app using the framework I jus

[2016-10-30 01:18] mikega commented on #2898
This bug is confusing. Given the checkboxes in Clockwork-Muse's post is it still correct that System.Threading (and all sub-namespaces?) is the only area that remains to be fixed? Not sure of a good way to do this but IMO part of solving this issue should be preventing new test files being created with namespaces that don't conform to what is agreed upon. Maybe a Roslyn code analysis check that co

[2016-10-30 01:19] SamuelEnglard commented on #1151
@SunnyWar In theory analyzers could do that. Some do things like (though much simpler)

[2016-10-30 02:10] stephentoub opened #13156 "ConvertTimeFromToUtc_UnixOnly test failing in CI"
Examples:
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.10_debug_prtest/6/consoleText

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/2394/

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/2363/consoleText

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/2430/

[code]

[2016-10-30 11:27] stephentoub commented on #12893
I have no idea how these tests ever passed; they seem to simply be broken:
The underlying SslState type is mocked out with a ProcessAuthentication method that's a nop:
[code]
That means the IAsyncResult being returned from SslStream.BeginAuthenticateAsClient never completes, which is why the Task that's wrapping it never completes, and blocking on it just waits forever.

[2016-10-30 11:35] stephentoub commented on #12893
Ah, I see, LazyAsyncResult is mock as well, and it's mocked to be completed synchronously.  But in the APM pattern, even for a synchronously completed IAsyncResult, the AsyncCallback still needs to be invoked.  So the mocked implementation should be fixed.

But that doesn't explain why this just started breaking... I have a theory, though.  TaskFactory.FromAsync has an optimization that was added

[2016-10-30 11:42] stephentoub commented on #12893
Yeah. I added a test that uses reflection to get at the properties on BinaryCompatibility and print out their values, and it prints out this:
[code]

[2016-10-30 11:45] stephentoub commented on #12893
https://github.com/dotnet/coreclr/issues/7892

[2016-10-30 11:51] fitzchak opened #13159 "How to locally compile corefx on Windows?"
When running the `build-managed.cmd` I'm getting the following error:

[code]

[2016-10-30 11:53] fitzchak commented on #13034
@saurabh500 I opened an issue about the error I'm getting: https://github.com/dotnet/corefx/issues/13159

@karelz Sure, I'm working on it.

[2016-10-30 11:54] fitzchak commented on #13154
I may have a related issue on Windows: https://github.com/dotnet/corefx/issues/13159

[2016-10-30 12:52] stephentoub commented on #13064
They're not reversed.  Rather, the parens are in the wrong place.  The line:
[code]
should instead be:
[code]

[2016-10-30 15:25] #11723 closed

[2016-10-30 15:30] jkotas commented on #12893
Likely introduced by https://github.com/dotnet/coreclr/pull/5708

[2016-10-30 18:25] AlexGhiondea commented on #12893
I think https://github.com/dotnet/coreclr/pull/5708 is about AppContext and not BinaryCompatibility. I suspect BinaryCompatibility never worked well with CoreCLR since it will default to 4.0 behavior when a TFM is not set (and we don't set one for CoreCLR).

I will take a closer look Monday.

[2016-10-30 19:13] #12893 closed

[2016-10-30 21:04] ctonger commented on #3760
I am getting this issue after publishing to AZURE and it is driving me mad for two days now:

the code which triggers this exception is in StartUp.cs when I try to configure app.UseRequestLocalization.

PS: Needless to say that it works perfect on my local machine, even when connecting to the AZURE DB,
`            var contextBuilder = new DbContextOptionsBuilder<DbContextForMigrations>();

[2016-10-30 22:01] stephentoub commented on #12893
FYI, with this program:
[code]
if I run this against what's in master, I get:
[code]
If I then revert https://github.com/dotnet/coreclr/commit/0e4869a6930cfb6278b51130bbccfc323ef61053 and run again, I get:
[code]
so that commit does appear to be the cause.

[2016-10-30 22:03] #13110 closed

[2016-10-30 22:12] stephentoub commented on #12939
Happened again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/48/consoleText

[2016-10-31 00:08] Priya91 commented on #13135
On Unix, we prefer to use POSIX compliant APIs if available. kill signal=0 is the preferred way to check if a process is alive. Enumerating the whole /proc filesystem to check if a process with pid is still running is a roundabout way and more work.

[2016-10-31 00:20] Priya91 commented on #9975
The current run-test.cmd does that, it executes the individual runtest.cmds

[2016-10-31 03:11] Clockwork-Muse opened #13169 "System.Net.WebSockets.Client - ReceiveAsync multiple-call failure behavior platform dependent."
As I chronicle at one point in #12487 , `ReceiveAsync` has very different failure behaviors between Windows and all other platforms (potentially to other Windows platforms, too).  Note this behavior is **not** the result of a race condition.
I expect that `SendAsync` is also affected by this, but haven't investigated fully.

The critical part for Windows is in [WinHttpWebSocket](https://github.com

[2016-10-31 03:12] Clockwork-Muse commented on #13169
cc @stephentoub , @CIPop

[2016-10-31 05:27] Petermarcu opened #13170 "Globalization Formatting Tests need to cover more input scenarios"
Noticed this when working on the DateTime and DateTimeOffset code. Most test just test max value and not important other cases.

It may be a good idea to have a theory with a variety of inputs would be best. It should be evaluated for all these tests, not just this format. Min value, Max value, combined with 0, min and max offsets. Now, and some interesting hard coded dates that exercise things in

[2016-10-31 05:30] Petermarcu opened #13171 "Consider porting perf fix for Formatting RFC 1123"
https://github.com/dotnet/coreclr/issues/7881

[2016-10-31 07:19] YongseopKim commented on #13116
@bartonjs, @ericstj  I get only an error for runtime.alpine and your guessing is right.

I'm trying the way that you answered.

I can get following files as a result.

[code]

However, I can't solve the problem until now.
[code]

(Source code isn't changed.)

[2016-10-31 07:20] YongseopKim commented on #13116
And I don't understand why I have to put the option, AllowPartialPackages because I just build managed corefx locally while not changing the latest code(surely including files for build). A few days ago, I could get the package without any additional commands like AllowPartialPackages. The current situation is expressing that I should add some commands for extracting System.Security.Cryptography.O

[2016-10-31 09:04] hughbe commented on #13170
I might take a look when I've got more time. Just a couple of questions:
- These tests belong in System.Runtime right?
- How culture sensitive are these tests? I'd hate to write tests that only work on en-GB and explode on different cultures!

[2016-10-31 11:16] cwe1ss opened #13172 "Send failed HTTP requests to DiagnosticSource"
HttpHandlers [currently send](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/netcore50/System/Net/HttpHandlerToFilter.cs#L52) the events `System.Net.Http.Request` and `System.Net.Http.Response` to DiagnosticSource. However, `System.Net.Http.Response` is only sent for successful requests - nothing is sent if sending fails with an exception.

Would it be possible to do this sim

[2016-10-31 11:25] stephentoub commented on #11571
I think there's more that can be done here.  Re-opening and assigning to myself.

[2016-10-31 14:06] GeirGrusom commented on #1151
@CodesInChaos

It doesn't but it would have the advantage of working retroactively.

They have had 14 years to implement that seemingly simple optimization though, so I wouldn't hold my breath. An intrinsic is the next best thing, and maybe it has less of a JIT performance impact, but I wouldn't know about that.

[2016-10-31 15:35] #13103 closed

[2016-10-31 15:47] ghost opened #13173 "Dns.GetHostAddressesAsync() Error: "Device Not Configured""
Hii,
I'm currently developing an ASP .NET Core Application on my mac using VS Code.
I'm trying to send an email using the MailKit and MimeKit packages but i keep receiving an error on GetHostAddressesAsync(), error message: Device not configured. I was told that this might be a bug on Stack Exchange or that i could get guidance here on the configuration steps i might have missed or need to take.

[2016-10-31 15:48] ericstj commented on #13116
https://github.com/dotnet/corefx/commit/2821f8e47cdee84551e663d84291d8c97e4367bb made these packages direct dependencies from the shim package so that building applications without a `runtime` specified in `project.json` would install the updates to the shim libraries.

[2016-10-31 16:41] danmosemsft commented on #13159
@fitzchak maybe try again? The connection works for me.

[2016-10-31 16:42] danmosemsft commented on #13170
Yes these tests would go with the implementation in System.Runtime. @tarekgh is an authority on globalization questions.

[2016-10-31 16:48] weshaggard commented on #9975
We should still try to figure out a way to avoid the duplicated information. In this case "netcoreapp1.0".

[2016-10-31 17:07] weshaggard commented on #11321
@joperezr can you point me at the fix that removed the workaround?

[2016-10-31 17:21] roncain commented on #12927
For the record, [WCF](https://github.com/dotnet/wcf) just synced with CoreFx to have the current buildtools and is having the same issue.  We see the same warnings about PDBs, and all the intermediate coverage XML files look like this:

[code]

/cc: @stephentoub @MattGal @crummel

[2016-10-31 17:25] #13106 closed

[2016-10-31 17:30] #10334 closed

[2016-10-31 17:30] safern commented on #13146
Yes it should solve the issue, I'm writing some tests for it now so that I make sure it does solve it. But my fix should do it

[2016-10-31 17:37] AlexGhiondea opened #13175 "Bring Process APIs requiring SecureString to netstandard2.0"
The following APIs need to be brought back once SecureString is available:

[code]

[2016-10-31 17:39] AlexGhiondea commented on #13146
Just to be clear - the fix will work for the re-introduced `ProcessStartInfo.EnvironmentVariables` property.

We are not going to change the implementation of `ProcessStartInfo.Environment`.

[2016-10-31 17:45] safern commented on #13146
Yes that is correct.

[2016-10-31 17:46] AlexGhiondea opened #13176 "Bring remaining *Exceptions types and members to netstandard2.0"
There are a few remaining exceptions (either entirely or to complete existing ones) that we need to bring over to netstandard2.0:

[code]

We should also rename the parameter from innerException to inner here:
[code]

[2016-10-31 17:50] weshaggard commented on #13099
I'm not sure we have stated our version-to-version serialization expectations. Perhaps @zhenlan or @stephentoub who implemented binary serialization for core would know.

[2016-10-31 17:51] AlexGhiondea opened #13177 "Make DoWorkEventArgs derive from CancelEventArgs"
This will require the move of CancelEventArgs from System.ComponentModel to System.ComponentModel.Primitives.

[2016-10-31 17:51] devlead commented on #13146
Is this fix targeted for both .NET core and regular .NET framework? Interestingly see that Mono had pulled in reference source so they likely have same issue on Windows.

[2016-10-31 17:52] saurabh500 commented on #12987
@MontyGvMC For Sql Server 2008 R2 with SP3 on Windows Server 2008 you may need to update the TLS 1.2 by changing the registry key.
https://technet.microsoft.com/en-us/library/dn786418(v=ws.11).aspx#BKMK_SchannelTR_TLS12

TLS 1.2
This subkey controls the use of TLS 1.2.
Note: For TLS 1.2 to be enabled and negotiated on servers that run Windows Server 2008 R2, you MUST create the "DisabledByDefault"

[2016-10-31 17:58] AlexGhiondea opened #13179 "Port remaining attributes to netstandard2.0"
[code]

[2016-10-31 18:01] AlexGhiondea commented on #13146
@devlead the fix is currently just for .NET Core. I suspect the Full .NET Framework does not have this issue.

[2016-10-31 18:05] devlead commented on #13146
@AlexGhiondea actually my repro was on full .net, so it's very much an issue on there too.

[2016-10-31 18:09] joperezr commented on #11321
no, this was a different fix. Take a look at PR #11689, specifically at the changes made in dir.targets. Those were the ones I wanted to track with this issue, but they are already removed. Thanks for pointing me to the right versions table, should I just add a link from the page in corefx to go to the standard one, or would you rather have the content in both places?

[2016-10-31 18:12] safern commented on #13146
I think it makes sense that in Windows the dictionary is not case sensitive, actually that is what I'm doing for ```ProcessStartInfo.EnviromnentVariables``` because the OS is not case sensitive, so home should be the same as HOME in Windows. So my fix is to bring this property back to .NET Core and the behavior will be the same, it will only be case sensitive for UNIX platforms.

I think to avoid

[2016-10-31 18:15] Petermarcu commented on #13170
@hughbe , I added a couple concrete example here: https://github.com/dotnet/corefx/pull/13180

Some are more culture sensitive than others but even ignoring that, getting more coverage with specific data for the invariant culture case would be useful. There is also plenty of cleanup opportunity in these tests to reduce duplication if you are so inclined.

[2016-10-31 18:22] krwq commented on #10527
Hello @cervengoc, this is simply work to be done. Also there is a lot of cases which needs to be considered and thought through, i.e: what happens when someone inherits from the class with this attribute; other attributes which are not currently applicable for classes - should they be applicable to classes too etc..

I'll mark this as Future for now. If you strongly feel like this should be here s

[2016-10-31 18:22] devlead commented on #13146
Issue it's that process envars clearly are case sensitive so you can get duplicates from `GetEnvironmentVariables()` which `ProcessStartInfo` lazy initializes within property getter only if it's changed/used in any way.
So even a `EnvironmentVariables.ContainsKey` would blow up.

[2016-10-31 18:28] mellinoe commented on #13077
Let's track this in the other issue. I'll reopen it.

[2016-10-31 18:28] #13077 closed

[2016-10-31 18:48] danmosemsft commented on #12780
@weshaggard I'm not sure where the authoring is for this -- any pointers? Presumably it should be in the shared framework and it's not (?)

[2016-10-31 18:58] ericstj commented on #12780
I believe all the tests run as standalone apps, so shared framework isn't an issue.  I suspect an issue with the test infrastructure here.  The project has a projectreference to the IsolatedStorage project, but the test infrastructure is likely deleting that but not correctly adding a package reference.  /cc @chcosta @karajas

[2016-10-31 19:03] gkhanna79 commented on #12625
@ryanbrandenburg Does this work as expected in .NET Core 1.0.0? I am not aware of any ResourceManager specific work in .NET Core 1.1.0, so I am trying to understand if this is a regression or not.

[2016-10-31 19:04] AlexGhiondea commented on #13146
While the process envvars are case sensitive, I don't think you can get (on Windows) entries from the GetEnvironmentVariable() call that only differ on case. That means you cannot get (from Windows) both PATH and path in the same call.

I agree with you assessment that we are taking whatever GetEnvironmentVariables() is returning and populating the ProcessStartInfo's member lazily -- we even call

[2016-10-31 19:04] ericstj commented on #12780
@karajas I see that you're using `"include": "compile"` in https://github.com/dotnet/corefx/tree/master/src/Common/test-runtime.  That's what's causing this.  By specifying include only the asset groups included will be used.  Since only `compile` is specified it makes it so that the runtime dll is missing.

[2016-10-31 19:06] danmosemsft commented on #12780
I see it on several others there.

[2016-10-31 19:12] ericstj commented on #12780
Yep, those could all create problems.  Looks to me like @karajas was trying to hack around restore problems.  I'll see if I can fix this up.

[2016-10-31 19:25] justinvp commented on #2869
The following two can be checked off:
 - #1756 Implement generic interfaces on Regex collections (fixed by #12596)
 - #2862 Add HashSet<T> ctors with capacity (fixed by #12600)

[2016-10-31 19:36] karajas commented on #12780
That's defeinitely the cause. I don't recall the reason for excluding the runtime dependency of System.IO.IsolatedStorage. I think it could possibly just be moved back into general dependencies section.

[2016-10-31 19:50] ajtowf commented on #12625
@gkhanna79 didn't work with 1.0.1, I don't know for 1.0.0 but my guess is that it doesn't work for 1.0.0 either. But then again, that's _very_ easy to test by cloning the example repo...

[2016-10-31 19:51] weshaggard commented on #13062
SecureString shouldn't be in System.Runtime contract. The Marshal APIs are in System.Runtime.InteropServices and so to expose those in the contracts we would need to move SecureString into that contract.

[2016-10-31 19:51] danmosemsft commented on #12780
Do you have time to make this change for us @karajas ?

[2016-10-31 19:52] weshaggard commented on #13062
We would need to take a closer look at those to see but hopefully they can depend either on System.Security.SecureString or System.Runtime.InteropServices.

[2016-10-31 19:53] karajas commented on #12780
Looks like @ericstj already has a PR out.

[2016-10-31 19:59] karelz commented on #2869
Marked as such, thanks @justinvp!

[2016-10-31 20:01] karelz commented on #13154
@joperezr @weshaggard do you know who can help here?
cc: @danmosemsft

[2016-10-31 20:08] tarekgh commented on #13170
@hughbe the tests #13180 that @Petermarcu adding mainly covering 'o', 'O', 'R' and 'r' cases which really kind of culture insensitive but in general I agree with you to add more specific culture sensitive tests. would you be interested in that?

[2016-10-31 20:10] weshaggard commented on #11321
A pointer would be good dotnet/standard repo would be best.

The hack that removed your workaround came from PR https://github.com/dotnet/corefx/pull/11763 which is still a hack that needs an issue tracking the proper fix. Perhaps another issue but we need one none-the-less.

[2016-10-31 20:21] shmao commented on #13099
Sorry for any confusion caused by the issue. The issue is not related to binary serialization. The compatibility issue is with DataContractSerializer (DCS) who has different behaviors when serializing exception types before/after PR #13068. After the fix, DCS requires exception types implement the following constructor,

[code]

[2016-10-31 20:29] KrzysztofCwalina commented on #13100
The ctors call TextEncoderSettings.GetAllowedCodePoints and AllowRanges. Making the methods non-virtual or removing calls to these methods from the existing ctors would be a breaking change at this point. Because of this, I think we should just leave code as-is.

[2016-10-31 20:29] #13100 closed

[2016-10-31 20:32] devlead commented on #13146
@AlexGhiondea well of course Cake can iterate over all environment variables and null out any duplicates, and that's actually what the user that reported the issue ended up doing after me suggesting so.

Personally though I still find this to be an issue as most users reading the documentation won't assume this can happen, and you normally via PowerShell/.NET/cmd.exe/Win32 it'll mostly preserve( o

[2016-10-31 20:55] stephentoub commented on #12753
Similar failure in a different test here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/2399/consoleText
[code]
@saurabh500, these are the mono tests, so I know you're unfamiliar with them.  But any insights as to why most of the time an msdata attribute is getting added, but then every once in a while it goes missing (and causes these string comparison failures)?  Is ther

[2016-10-31 20:57] danmosemsft commented on #2254
@KrzysztofCwalina is this issue redundant now - can you dupe it?

[2016-10-31 20:58] ericeil opened #13187 "Implement HttpListener for non-Windows platforms"
#11793 covers the general task of porting HttpListener; however, we will actually need *two* implementations: a Windows-specific implementation that takes advantage of http.sys, and a x-plat implementation.  Since this is more work than is implied by a single issue, I'm filing this new issue to cover the x-plat work.

[2016-10-31 21:00] weshaggard commented on #13154
Unfortunately to build an app there isn't a great way to do that with corefx alone as it requires other things from other repo's like coreclr and core-setup. The closest instructions we have are at https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingYourBuild.md but even those have rough edges.

This is one area we have plans to improve but there is a lot of work to get there

[2016-10-31 21:02] epignosisx commented on #11973
Based on this document:

https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1-preview1-commits.md

 this issue is going in 1.1.0, but this issue is in milestone 1.2.0.

Which one is correct? We are  affected by this issue.

[2016-10-31 21:04] davidsh opened #13188 "HttpClientHandlerTest.Proxy_BypassFalse_GetRequestGoesThroughCustomProxy failed in CI"
Failed in PR #13181

System.Net.Http.Functional.Tests.HttpClientHandlerTest.Proxy_BypassFalse_GetRequestGoesThroughCustomProxy(creds: null, wrapCredsInCache: False)

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/89/

System.AggregateException : One or more errors occurred. (Object reference not set to an instance of an object.) (An error occurred while sendi

[2016-10-31 21:07] shmao opened #13190 "Remove [SecuritySafeCritical] and [SecurityCritical] in System.Private.DataContractSerialization"
SecuritySafeCritical or SecurityCritical is a no-op on NetCore as there's no partial trust. The task is to remove all of these attributes from methods.

[2016-10-31 21:10] davidsh commented on #11973
I've reset the issue Milestone to 1.1 to clarify that the bug was back-ported to the 1.1 branch after being fixed in current (1.2 branch).

[2016-10-31 21:10] shmao opened #13191 "Add S.R.Serialization.DictionaryGlobals's missing Entires Back"
We should consider to add those missing entries that used for xml schema validation back as `System.Xml.XmlShema` is available now.

[2016-10-31 21:13] epignosisx commented on #11973
Great, thanks!

[2016-10-31 21:17] yizhang82 commented on #8654
@wxb1 My first guess is that you are running .NET Core app under 64-bit (that's the only flavor we support today officially) and your VB6 COM is registered under 32-bit (since it is 32-bit only).

[2016-10-31 21:29] KrzysztofCwalina commented on #2254
@danmosemsft,
Yes, @botaberg is working on such parsing library. I am not sure if he has the exact issue to dup, but I think it would be good to open such issue in corefxlab and assign it to @botaberg.

[2016-10-31 21:32] AlexGhiondea commented on #13146
@devlead do you know how you got duplicated environment variables that differ on case?
I don't expect the `GetEnvironmentVariables` call to return values that only differ on case.

If `GetEnvironmentVariables` on Windows starts returning keys that only differ from case, then I agree that we need to figure out a way to fix it.

And on Unix I belive this is already a non-issue, right? Since we would

[2016-10-31 22:02] devlead commented on #13146
Yes on unix this is a not an issue.

The Win32 API for create process is something like this
[code]
`lpEnvironment` is just a pointer to block of null terminated strings key and value separated by equals sign.
`Home=value\0HOME=value\0\0` is perfectly "valid".
So i.e. posix software just ported without taking this in consideration could potentially internally work in a case sensitive way, not on u

[2016-10-31 22:08] #12780 closed

[2016-10-31 22:10] nzubair commented on #13154
That's a starting point. Thank you for the link. I'll give it a shot and see how far I get. :)

[2016-10-31 22:22] AlexGhiondea commented on #13146
I see.

You are saying that if you control creating the process you can pass in whatever casing for the variables you want -- and even create duplicates (different only by casing). In that case, yes -- you are going to get into this weird state where you will get an exception if you try to use the ProcessStartInfo property.

But since you control the way the process is started, you can even pass t

[2016-10-31 22:27] karelz commented on #13154
Seems to be resolved for now ...

[2016-10-31 22:27] #13154 closed

[2016-10-31 22:51] saurabh500 commented on #12753
@stephentoub  I am not familiar with the Xml serialization code for DataSet and DataTable.
This will need debugging. The `EnforceConstraint` property of DataSet is not being modified in the tests and its default return val is `true`

I think this may have something to do with the conversion of DataSet to XML in xmlsaver.cs

[2016-10-31 23:02] saurabh500 commented on #12615
@fitzchak This problem can be extrapolated to any object and adding a guid to DbConnection will not solve this issue completely.
A private guid seems like a very platform specific solution and hard to maintain
.Net core may implement it but other frameworks based on netstandard may not add this private guid.

You can use `ObjectIDGenerator` to generate an Id for DbConnection.
@stephentoub @terrajo

[2016-10-31 23:09] ramarag commented on #12625
Summary:

The divergence in behavior in desktop and .net core is due to a Feature that supports `OS Fallback for looking up Resources` that was enabled only on coreclr from the time of Silverlight.
If we are to make the resource iteration logic compatible with desktop, then this would be a breaking change from .netcore 1.0

Details:

On desktop, if we are not able to lookup resources by walking up

[2016-10-31 23:11] ramarag commented on #12625
The implementation divergence is at https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Resources/ResourceFallbackManager.cs#L95

[2016-10-31 23:13] saurabh500 commented on #5689
With the ADO.Net interfaces coming back in with PR #6359 this issue should be fixed.

[2016-10-31 23:13] #5689 closed

[2016-10-31 23:16] #12386 closed

[2016-10-31 23:24] ajtowf commented on #12625
So what is the recommendation here? Could I just set my default language that I use in the views to be the invariant culture for the assembly as well and life is good?

[2016-10-31 23:53] tarekgh commented on #12625
@ajtowf what exactly the scenario you are talking about here? the repro sample is just returning the English resource when requesting resources with a language which not exist in the app. if the app has resources for this language it should be returned and you shouldn't get the English resources.

the only difference I am seeing compared to the desktop, in case not finding the resources coreclr wi

[2016-11-01 00:18] EmmaZhu commented on #10040
Has this been fixed? If yes, could you share the package version?

[2016-11-01 00:28] ckuhn203 commented on #13177
Some context for anyone stumbling across this and wondering "why", `DoWorkEventArgs` derives from `CancelEventArgs` in the last version of .Net framework.

https://msdn.microsoft.com/en-us/library/system.componentmodel.doworkeventargs(v=vs.110).aspx

[2016-11-01 00:30] davidsh commented on #10040
This issue is still open.  It has not been fixed yet.

[2016-11-01 01:19] sepidehMS opened #13201 "Add System.Private.Xml.Linq test coverage for Non-Windows platforms"
All of the tests under System.Private.Xml.Linq are windows-specific, which shouldn't be necessary. Remove the OSGroup from the builds file and fix any failing tests.

[2016-11-01 01:39] shmao opened #13202 "Enable S.R.Serialization.Xml and S.R.Serialization.Json Tests on Uap 10.1"
We need to properly condition the test code and/or projects as well to make sure they still build and work on older versions. We currently are not able to run these tests against uwp because it doesn't support netstandard1.7 yet.

[2016-11-01 02:35] #11571 closed

[2016-11-01 03:11] danmosemsft commented on #12509
@terrajobst thoughts? is this api ready for review?

[2016-11-01 05:05] devlead commented on #13146
Issue is for child processes, they don't have any control how their started. The reason we issue was raised with Cake was that a user used it in git repo hooks.

Duplicates keys with same casing would've been overwritten as `GetEnvironmentVariables` for each value does `table[key]=value`, the "easy fix" would've been to on Windows create  it's `HashTable` / `LowLevelDictionary<string, string>` wit

[2016-11-01 07:44] ajtowf commented on #12625
@tarekgh it's the scenario that originated this bug, https://github.com/aspnet/Localization/issues/293 it's very basic and it's the scenario that's described in the official documentation!

We have a view, the app is swedish (välkommen means welcome):
@Localizer["Välkommen"]

The user can switch to english, so there are only english resx files, since the default swedish language is in the views. N

[2016-11-01 09:38] NickCraver commented on #3760
@ctonger what does your `project.json` look like? That looks like some very out of date packages that just need some newer version love.

[2016-11-01 09:43] fitzchak commented on #12615
@saurabh500 We do need it just in .net core, as we have already support for the standard EntityFramework which uses the regular .net.

[2016-11-01 10:38] ctonger commented on #3760
@NickCraver this is what I thought but not really.

`  "dependencies": {
    "Microsoft.AspNetCore.Authentication.Cookies": "1.0.0",
    "Microsoft.AspNetCore.Diagnostics": "1.0.0",
    "Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore": "1.0.0",
    "Microsoft.AspNetCore.Identity.EntityFrameworkCore": "1.0.0",
    "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0",
    "Microsoft.AspNetCor

[2016-11-01 11:04] dasMulli commented on #3249
An additional benefit of a monotonic clock could be correct handling of leap seconds, which `DateTime` currently can't handle. So any code that currently takes two results of `DateTime.UtcNow` and compares them may be off by up to a second every few years which is unfortunate for checking short timeouts.

[2016-11-01 11:12] fitzchak commented on #13159
I found the issue, it's internal for us because of the router we have.

[2016-11-01 11:12] #13159 closed

[2016-11-01 11:25] wateret commented on #13033
@jashook @mmitche @RussKeldorph  Could you please take a look?

[2016-11-01 11:51] patricksadowski opened #13207 "System.IO.Compression: CreateEntryFromDirectory"
# Problem
When creating or updating zip archives there is no option to add a directory with its content. The content of a directory can only be added with custom code by hand. `ZipFile.CreateFromDirectory` is not an option when building complex zip archives.

# Proposed API
[code]

[2016-11-01 13:01] milla commented on #3633
Has there been any progress with XSD support in .NET Core?

[2016-11-01 14:03] stephentoub opened #13210 "ProcessThreadTests.TestStartTimeProperty test failure in CI on Ubuntu"
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug/654/consoleText
[code]

[2016-11-01 14:55] stephentoub commented on #12753
Turns out the test has its equals arguments reversed (what's marked as "expected" is actually what happened, and what's marked as "actual" is what the test was expecting), so the output actually contained ```msdata:EnforceConstraints="True"``` but the test wasn't expecting it.  The vast majority of the time this passes.

[2016-11-01 15:06] stephentoub opened #13213 "DualModeAcceptAsync.AcceptAsyncV6BoundToAnyV4_CantConnect failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/2476/consoleText
[code]

[2016-11-01 15:13] mmitche commented on #13033
@jashook What was the azure image that was used?

[2016-11-01 15:47] stephentoub commented on #12753
After taking a look at the DataSet/xmlsaver code, I suspect there's a race condition or the like somewhere in the PropertyDescriptor infrastructure that System.Data.Common is relying on.

[2016-11-01 16:03] tarekgh commented on #12625
@ajtowf @ryanbrandenburg

we are talking about 2 layers here, one layer is the ASP.NET localization model, the second layer is the net core localization layer.
my question was mainly concerning the second layer (net core localization). what I am trying to do is to isolate the problem. my question is, if you have simple net core app (not ASP.NET) and you have localized Swedish resources in this app

[2016-11-01 16:16] ericstj opened #13214 "UWP app consuming 1.1 packages fails WACK for CLRCompression on x64"
Copied from https://github.com/aspnet/EntityFramework/issues/6905

The aot clrcompression build is supposed to be redistributed from 1.0 while the non-aot build is being built live.  When this change was made, the incorrect RID was used for x64-aot, causing the non-aot build to be picked up, which fails the WACK.

The fix here is to correctly list the RID as win10-**x64**-aot.

[2016-11-01 16:24] ajtowf commented on #12625
@tarekgh right, and from what I can see [the sample repo](https://github.com/ryanbrandenburg/ResourceManagerNetCoreApp) created by @ryanbrandenburg in this thread does exactly that, i.e. using the net core localization layer _without_ aspnet, and outputting:

    Hello from resx

I guess I find it confusing that we're getting questions that is answered by simply running the sample repo. Or am I mi

[2016-11-01 16:25] gkhanna79 commented on #12625
In the basic repro, as @ramarag explained, the app comes with "en" resources and since we cannot find the Swedish resources, we ask the OS for a fallback culture list in netcore. This returns "en" and since we find the resources for the same, we return them. If "en" resources were not present, then you would get an exception as well.

Building further, what is application intending to do on net451

[2016-11-01 16:29] tarekgh commented on #12625
as @gkhanna79 mentioned when you compile the repro app we get English resources only. so there is no Swedish resources in the repro app. did you run the sample app yourself and see it has Swedish resources? or you just guessing this was the case?

[2016-11-01 16:33] stephentoub opened #13215 "TypeDescriptor.GetProperties full of race conditions"
There are a bunch of race conditions in the implementation that have a visible effect on consuming code, due to lazy initialization and lack of proper thread-safety around check-and-update operations.  For example, when TypeDescriptor.GetProperties is called, it ends up returning a weakly cached PropertyDescriptorCollection, so multiple threads accessing this could get the same collection.  Then w

[2016-11-01 16:34] stephentoub commented on #12753
I'm fairly certain this is being caused by https://github.com/dotnet/corefx/issues/13215.

[2016-11-01 16:35] davidsh commented on #13213
I will disable the test for now.

[2016-11-01 16:40] xoofx opened #13216 "Add Copy from ref T1 to ref T2 on System.Runtime.CompilerServices.Unsafe (Api)"
Hi,

I would like to introduce a new public method for `System.Runtime.CompilerServices.Unsafe`

Basically a method that allows to do something like:
[code]
that would translate to:

[code]

The usage scenario is to be able to efficiently copy a blittable data of type `TSrc` to a destination of type `TDest`, where we know that `TDest` has enough space to store `TSrc`. This method generates optimal

[2016-11-01 16:46] ajtowf commented on #12625
@gkhanna79 cool, thanks!

[2016-11-01 16:47] ajtowf commented on #12625
@tarekgh what do you think mate? I'm aware there's no swedish words in the sample app obviously, but we should see "Hello" instead of "Hello from resx"...

![image](https://cloud.githubusercontent.com/assets/3427270/19898161/2757c474-a05b-11e6-9424-1376fb245bb1.png)

[2016-11-01 16:51] ajtowf commented on #12625
@gkhanna79 what would you say is the recommended work around for the moment? To use const keys that we pass to the resource manager and always have resx files for all supported languages? Meaning no "default" language in the AspNet Razor View files. Right now, I'm putting the English translation into Norwegian resx-files to get around this.

[2016-11-01 16:51] tarekgh commented on #12625
@ajtowf

this is happening because that what has been specified in the resx file

[code]

I hope this can reduce the confusion.

[2016-11-01 16:52] gkhanna79 commented on #12625
@ajtowf ResourceManager.Getstring returns the value for the key you pass in the call to GetString (see https://msdn.microsoft.com/en-us/library/d17ax2xk(v=vs.110).aspx). Thus, you are returned the value from https://github.com/ryanbrandenburg/ResourceManagerNetCoreApp/blob/master/src/ResourceManagerNetCoreApp/Resources/Program.en.resx#L121.

[2016-11-01 16:53] benaadams commented on #13216
/cc @jkotas

[2016-11-01 17:00] ajtowf commented on #12625
@tarekgh right, that's in the Program**.en.**resx file, and I don't expect to get that value if the culture is set to **sv**. According to the following documentation I should get "Hello" since the culture is set to something different than "**en**":

https://docs.asp.net/en/latest/fundamentals/localization.html#view-localization and
https://docs.asp.net/en/latest/fundamentals/localization.html#pr

[2016-11-01 17:02] stephentoub commented on #13215
Temporarily assigning to myself, as I'm finishing a patch for at least a partial fix to stop the DataSet test failures.  We can then decide if we want to do something more comprehensive.

[2016-11-01 17:03] karelz commented on #13214
@ericstj @weshaggard will .NET Native customers automatically pick up the 1.1 libraries via UWP Meta package NuGet update?
Or does it affect "only" customers who explicitly grab 1.1 binaries into .NET Native project?

[2016-11-01 17:05] ericstj opened #13218 "Implement System.Runtime.InteropServices on UAP10.1 - NETNative"
Baselines have been created to suppress API compat warnings for InteropServices on UAP10.1.  Those need to be removed (include `-ignoreMissingTypes` setting) once implementing the missing API in NETNative.

[2016-11-01 17:07] ericstj commented on #13214
It's happening from folks who pick up the 1.1 packages either directly or indirectly (eg from an EntityFramework package that references the 1.1 packages).

This is a must fix, we'd service for this, just like we serviced for similar problems in 1.0.

[2016-11-01 17:09] jkotas commented on #13216
I do not think methods hiding unsafe casts are a good idea.

Why can't you use `Unsafe.As`?

[2016-11-01 17:11] ericstj commented on #13214
I double checked if there were any other similar instances where folks were doing "external" build shenanigans and couldn't find any other cases.

[2016-11-01 17:13] tarekgh commented on #12625
@ajtowf now we are switching to the first layer I talked about previously (which is APS Localization model). The issue as @gkhanna79 and @ramarag described before is in net core, the resource manager fallback to default UI language on your system (which is English) so you end up with English resources. in other word, the resource manager returned some value. I believe ASP.NET just return that valu

[2016-11-01 17:14] ericstj commented on #13214
Another consideration: this one could be fixed through repackaging if you want to avoid a rebuild.

[2016-11-01 17:17] sepidehMS commented on #12817
Done by https://github.com/dotnet/corefx/issues/13143

[2016-11-01 17:17] #12817 closed

[2016-11-01 17:17] sepidehMS commented on #13085
Done by https://github.com/dotnet/corefx/pull/13197

[2016-11-01 17:17] #13085 closed

[2016-11-01 17:23] karelz commented on #2089
It is not part of 1.1 (which is about to be finalized). @tquerec, can you please comment on your plans here?

cc: @danmosemsft

[2016-11-01 17:24] terrajobst commented on #10752
@robertmclaws

Sounds good. It would be good in the PR to call out how the following elements will be addressed/can be addressed:

* Will/can the APIs live on `ObservableCollection<T>` or on the base, `Collection<T>`?
    - If they live on the base, should they be virtual or should we follow the existing pattern where we have non-virtual public methods and protected virtual members.
* It seems som

[2016-11-01 17:24] xoofx commented on #13216
But, that's why it is unsafe, no? 😅 Every methods in unsafe are not a good idea if you use them without knowing what they do (e.g copy from a void* to a managed object for example).

`As<>` is not working because it is casting from object, while I'm working with value types.

I typically want to copy blittable valuetypes (e.g under for example 8 bytes) to a managed generic storage variable (e.g `l

[2016-11-01 17:27] karelz commented on #13214
Thanks for the fix @ericstj!
cc: @gkhanna79

[2016-11-01 17:33] jkotas commented on #13216
If you use C# 7 ref locals and returns, you can get the same result with `Unsafe.As`.

[2016-11-01 17:35] xoofx commented on #13216
Oh, Yes with C# 7 ref locals indeed, I'm still not using it... so ok, I will keep my unsafe code on my side until I can use ref locals. No problem.

[2016-11-01 17:35] #13216 closed

[2016-11-01 17:40] danmosemsft commented on #8429
@mellinoe good to add api-readyforreview?

[2016-11-01 17:41] danmosemsft commented on #10994
@tarekgh is this ready to be marked api-readyfor review?

[2016-11-01 17:47] danmosemsft commented on #8226
@AlexGhiondea thoughts? is this ready for review (in which case please change hte label) or do you have feedback.

[2016-11-01 17:48] tarekgh commented on #10994
@danmosemsft the issue is labeled with api-needs-work because we need to figure out how we can format dates with non English cultures. like for example if we format with Japanese culture how we can get the localized terms like "Q", "3rd quarter" and "Third Quarter".

Today we get all needed information from the underlying OS and currently Windows doesn't support this so we don't have a good way to

[2016-11-01 18:05] mellinoe commented on #8429
@danmosemsft sure

[2016-11-01 18:15] Clockwork-Muse commented on #3249
Computers/Programs have a bad time with leap seconds in general.  A monotonic clock doesn't actually handle leap seconds so much as it wouldn't notice there was anything different.  If you tried to translate it back to a readable date/time value, you'd still get translation errors (unless there was some sort of mapping).  `DateTime` has no ability to deal with leap seconds, though, so unless we ad

[2016-11-01 18:21] sepidehMS opened #13220 "Have all Xml/Xml.Linq tests reference System.Private.Xml.pkgproj/System.Private.Xml.Linq.pkgproj"
Right now none of the `Xml/Xml.linq` tests are testing the live changes in `System.Private.Xml/System.Private.Xml.Linq` and any possible failures caused by the most recent changes won't show in CI builds. To fix this, those tests need to reference the private pkgprojs instead.

cc: @danmosemsft

[2016-11-01 18:21] Daniel15 opened #13221 "SSL segfault on Debian Testing"
Moved from https://github.com/PowerShell/PowerShell/issues/2564

I'm using the Ubuntu 16.04 package, I suspect that some of the dependencies are incompatible and the version ranges on the .deb are too broad so it's not marking it as an incompatibility.

Repro:
[code]
Ubuntu has OpenSSL 1.0.2g while Debian has 1.0.2j. Maybe that's what's causing the issue? However, The dotnet package does not speci

[2016-11-01 18:23] gkhanna79 commented on #13214
CC @leecow @Petermarcu

[2016-11-01 18:37] jods4 commented on #10994
Glad to see some work on this! If Windows can't provide localizations for _Q_ and _Quarter_, having just `q` and `qq` would already be a great step forward in many scenarios.
In particular, many apps (notably LOB) are meant for a single audience and not globalized. In that context one could use a string format like `Qq yyyy` and get `Q4 2016`. That's immensely helpful in contexts where you can onl

[2016-11-01 18:52] danmosemsft commented on #11623
@davidsh this failed in last night's full test run. Could you please disable it.

If it starts to look like we're just disabling one networking test after another as they randomly fail, we'll have to rethink our approach.

[2016-11-01 18:56] danmosemsft commented on #8744
@CIPop could you please take a look or else disable this test?

It failed in several OS (Ubuntu 1604 debug, windows 10, windows 8) on last night's test build.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161101.01/workItem/System.Net.Security.Tests

Example log
https://mc.dot.net/#/product/netcore/master/source/official~2F

[2016-11-01 18:59] tarekgh commented on #10994
@jods4 there is another aspect here if we support such format which is the parsing. if we parse "3 2016" this can mean something else from what we have formatted especially if we use q, qq in more complicated pattern (e.g. "MMMM/yyyy mm:ss q").

if this needed urgently we can provide a sample helper method to do that till we figure out the complete story.

[2016-11-01 19:04] dasMulli commented on #3249
Exactly! The proposed API by @GSPP doesn't include a conversion to/from DateTime and so the type system will prevent you from doing just that. So comparing two instances of `MonotonicTime` could tell you how much metric time elapsed between them independent of how the system clock setting or even UTC behaves. If i'm not mistaken, resetting the clock is how leap seconds are handled on many systems

[2016-11-01 19:07] #13102 closed

[2016-11-01 19:07] #13104 closed

[2016-11-01 19:10] stephentoub commented on #12696
This continues to fail, e.g.
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_win10_release/14/
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_windows_nt_debug/14/

[2016-11-01 19:44] Priya91 commented on #12696
Oh just noticed this is failing in release/1.0.0 branch, the test was fixed in master, will port the change to release.

[2016-11-01 19:47] karelz commented on #12696
Ah, I didn't notice it either. Given the number of failures, I think we should fix it in 1.0.x - @leecow is that ok?

[2016-11-01 19:54] davidsh commented on #7812
Thanks for the updated info. It sounds like this is a problem with the low-level windows WinHTTP component.

Do you have a stack trace for where the error "The buffers supplied to a function was too small" is coming from?  It would be useful to catch this bug in a debugger since that is the only way to get actionable information to diagnose.

[2016-11-01 19:54] danmosemsft commented on #12747
It is a dupe, thanks

[2016-11-01 19:54] #12747 closed

[2016-11-01 20:02] danmosemsft commented on #13221
@bartonjs

[2016-11-01 20:12] sepidehMS commented on #4063
Won't fix as the behaviour needs to be consistent among Desktop and CoreFX

[2016-11-01 20:12] #4063 closed

[2016-11-01 20:16] jacksontbryan commented on #7812
How would you advise setting up the debugger?  This happens once every 2-3 days at seemly random times of day.

Stack:
at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)\r\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)\r\n   at System.Runtime.CompilerServices.ConfiguredTaskAwaitable`1.ConfiguredTaskAwaiter.GetResult()

[2016-11-01 20:59] jimcarley commented on #13098
In the pull request review for the changes, @stephentoub has indicated that we should probably just suppress the FXCop warning, given how we envision transaction serialization working when we finally get distributed transaction support.

So how do I go about suppressing the FXCop warning? Is it the same way is done on Desktop, with the SuppressMessage attribute?

[2016-11-01 21:04] jimcarley commented on #13098
I am thinking something like this on each of the classes:

        [SuppressMessage(FxCop.Category.Usage, FxCop.Rule. ImplementSerializationConstructors, Justification = "Serialization will be done when distributed transactions are supported and will be done through the exposed DistributedTransaction")]

[2016-11-01 21:12] alexperovich commented on #13098
The SuppressMessage works fine. Something like:

[2016-11-01 21:55] acotterell1973 commented on #3760
So I'm having the same exact issue after publishing to AZURE as well. I made sure that I have the latest and gr3atest and to no avail. This is driving me nuts for 2 days as well. The classic case of, it works on my machine and not prod! :(

The runtime is set for "win10-x64": {}

[2016-11-01 21:57] saurabh500 commented on #3760
@ctonger can you open a separate issue for the problem you are facing?

[2016-11-01 22:40] joperezr opened #13230 "Remove P2P reference from System.Dynamic.Runtime to S.L.Expressions"
PR #13194 added P2P references from System.Dynamic.Runtime to System.linq.Expressions since we had to move down System.Dynamic.Runtime to Expressions.

[2016-11-01 23:38] Clockwork-Muse commented on #3249
Heh.  `StartTime + Elapsed` still has its own problems, though.  We should definitely make use of this internally, and expose it for these types of scenarios, but it's going to need some warnings about blindly using the deltas it generates.  When you log, for example, you're almost certainly going to want to take current (UTC) time, and ignore this.

Not quite sure you're going with this.  Ignorin

[2016-11-01 23:57] tarekgh commented on #13171
@Petermarcu what exactly this issue is tracking now?

[2016-11-01 23:58] tarekgh commented on #13170
@Petermarcu is there is anything need to be done here or can we close this issue?

[2016-11-02 00:07] sepidehMS opened #13236 "Add Linux implementation for modifying SortKey in System.Xml.Xsl.Runtime.XmlCollation"
As SortKey is different on Linux and Windows, System.Xml.Xsl.Runtime.XmlCollation.CreateSortKey needs to be implemented differently for Linux.

[2016-11-02 00:19] Petermarcu commented on #13170
There is a lot more to do. I only added coverage for the two formatting cases I was changing.

[2016-11-02 01:10] RussKeldorph opened #13238 "Assertion failure: System.Reflection.Emit.Tests.ModuleBuilderDefineEnum.DefineEnum_ValueType(name: "a\0b\0c", visibility: NotPublic, underlyingType: typeof(byte))"
See dotnet/coreclr#7669

Corelib is asserting.  The proper fix is probably in there, but until that is resolved, we should disable this test.

[2016-11-02 02:14] wxb1 commented on #8654
Thanks yizhang82.  .Net core is 64-bit only?! I can't use it for my purposes then... Is there any plans for 32-bit? Is there is a time frame?

[2016-11-02 02:47] dotnet-mc-bot opened #13241 "Test failure: System.Collections.Tests.BitArray_GetSetTests/CopyTo_Byte_Hidden(label: \"Constructor\", bits: [True, True, True, True, True, ...])"
Opened on behalf of @jiangzeng

The test `System.Collections.Tests.BitArray_GetSetTests/CopyTo_Byte_Hidden(label: \"Constructor\", bits: [True, True, True, True, True, ...])` has failed.

Assert.Equal() Failure\r
    Expected: 31\r
    Actual:   255

        Stack Trace:

           at System.Collections.Tests.BitArray_GetSetTests.CopyTo_Byte_Hidden(String label, BitArray bits) in D:\A\_work\32\s\

[2016-11-02 02:53] dotnet-mc-bot opened #13242 "Test failure: System.Data.SqlClient.Tests.TcpDefaultForAzureTest/AzureNoProtocolConnectionTest"
Opened on behalf of @jiangzeng

The test `System.Data.SqlClient.Tests.TcpDefaultForAzureTest/AzureNoProtocolConnectionTest` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Data.SqlClient.Tests.TcpDefaultForAzureTest.AzureNoProtocolConnectionTest() in D:\A\_work\32\s\corefx\src\System.Data.SqlClient\tests\FunctionalTests\TcpD

[2016-11-02 02:59] dotnet-mc-bot opened #13243 "Test failure: System.IO.Compression.Tests.zip_CreateTests/CreateNormal(folder: \"empty\", seekable: False)"
Opened on behalf of @jiangzeng

The test `System.IO.Compression.Tests.zip_CreateTests/CreateNormal(folder: \"empty\", seekable: False)` has failed.

System.NotSupportedException : This stream does not support seeking

        Stack Trace:

           at WrappedStream.get_Position() in D:\A\_work\32\s\corefx\src\System.IO.Compression\tests\Utilities\WrappedStream.cs:line 91
       at System.IO.Comp

[2016-11-02 03:01] dotnet-mc-bot opened #13244 "Test failure: System.IO.Compression.Tests.zip_ManualAndCompatabilityTests/CompatibilityTests(zipFile: \"deflate64.zip\", zipFolder: \"normal\", requireExplicit: True, checkTimes: True)"
Opened on behalf of @jiangzeng

The test `System.IO.Compression.Tests.zip_ManualAndCompatabilityTests/CompatibilityTests(zipFile: \"deflate64.zip\", zipFolder: \"normal\", requireExplicit: True, checkTimes: True)` has failed.

Assert.All() Failure: 1 out of 6 items in the collection did not pass.\r
    [0]: System.IO.InvalidDataException: The archive entry was compressed using an unsupported compr

[2016-11-02 03:03] dotnet-mc-bot opened #13245 "Test failure: System.IO.Tests.Directory_Changed_Tests/FileSystemWatcher_Directory_Changed_WatchedFolder"
Opened on behalf of @jiangzeng

The test `System.IO.Tests.Directory_Changed_Tests/FileSystemWatcher_Directory_Changed_WatchedFolder` has failed.

System.IO.IOException : The process cannot access the file 'C:\\Users\\DotNetTestRunner\\AppData\\Local\\Temp\\Directory_Changed_Tests_uqrrm30o.aaf\\FileSystemWatcher_Directory_Changed_WatchedFolder_29\\dir' because it is being used by another process.

[2016-11-02 03:04] dotnet-mc-bot opened #13246 "Test failure: System.IO.Tests.FileSystemWatcherTests/FileSystemWatcher_NotifyFilter"
Opened on behalf of @jiangzeng

The test `System.IO.Tests.FileSystemWatcherTests/FileSystemWatcher_NotifyFilter` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   typeof(System.ComponentModel.InvalidEnumArgumentException): The value of argument 'value' (-1) is invalid for Enum type 'NotifyFilters'.\r
    Parameter name: value

        Stack Trace

[2016-11-02 03:05] JeremyKuhne opened #13247 "DateTimeFormatInfo tests need argument validation updated"
AbbreviatedDayNames_Set_Invalid() and the like check exception argument strings which have changed.

(System.Globalization)

[2016-11-02 03:05] dotnet-mc-bot opened #13248 "Test failure: System.IO.Tests.FileSystemWatcherTests/FileSystemWatcher_ctor_InvalidStrings"
Opened on behalf of @jiangzeng

The test `System.IO.Tests.FileSystemWatcherTests/FileSystemWatcher_ctor_InvalidStrings` has failed.

Assert.Equal() Failure\r
    Expected: path\r
    Actual:   (null)

        Stack Trace:

           at System.IO.Tests.FileSystemWatcherTests.FileSystemWatcher_ctor_InvalidStrings() in D:\A\_work\32\s\corefx\src\System.IO.FileSystem.Watcher\tests\FileSystemWatcher.u

[2016-11-02 03:06] dotnet-mc-bot opened #13249 "Test failure: System.IO.Tests.RenamedEventArgsTests/RenamedEventArgs_ctor(changeType: 0, directory: \"\", name: \"\", oldName: \"\")"
Opened on behalf of @jiangzeng

The test `System.IO.Tests.RenamedEventArgsTests/RenamedEventArgs_ctor(changeType: 0, directory: \"\", name: \"\", oldName: \"\")` has failed.

System.ArgumentException : Absolute path information is required.

        Stack Trace:

           at System.Security.Util.StringExpressionSet.CreateListFromExpressions(String[] str, Boolean needFullPath)
       at System.Se

[2016-11-02 03:32] Clockwork-Muse commented on #13241
If this is failing, you're using the coreclr version of BitArray; there's an additional one in corefx which is now the canonical version (with a fix for this).

[2016-11-02 06:09] dotnet-mc-bot opened #13250 "Test failure: System.PrivateUri.Tests.UriRelativeResolutionTest/Uri_Relative_SimplePartialPathWithScheme_Unicode_ReturnsPartialPathWithScheme"
Opened on behalf of @jiangzeng

The test `System.PrivateUri.Tests.UriRelativeResolutionTest/Uri_Relative_SimplePartialPathWithScheme_Unicode_ReturnsPartialPathWithScheme` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Uri.CreateUriInfo(Flags cF)
       at System.Uri.EnsureUriInfo()
       at System.Uri.

[2016-11-02 06:18] dotnet-mc-bot opened #13251 "Test failure: Several tests unders System.Reflection.Emit.Tests.CustomAttributeBuilderTests failed"
Opened on behalf of @jiangzeng

The test `System.Reflection.Emit.Tests.CustomAttributeBuilderTests/ConstructorParametersNotSupportedInAttributes_ThrowsArgumentException(type: typeof(System.IntPtr), value: 1)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Reflection.Emit.Tes

[2016-11-02 06:21] jiangzeng commented on #13251
Log for NullValueForPrimitiveTypeInConstructorArgs_ThrowsArgumentNullException

Assert.Throws() Failure\r\nExpected: typeof(System.ArgumentNullException)\r\nActual:   typeof(System.NullReferenceException): Object reference not set to an instance of an object.

Stack Trace :
   at System.Reflection.Emit.CustomAttributeBuilder.EmitValue(BinaryWriter writer, Type type, Object value)
   at System.Refl

[2016-11-02 06:22] jiangzeng commented on #13251
Log for _NotSupportedObjectInConstructorArgs_ThrowsArgumentException_

Unhandled Exception of Type System.ArgumentException
Message :
System.ArgumentException : The value passed in must be an enum base or an underlying type for an enum, such as an Int32.\r\nParameter name: value

Stack Trace :
   at System.RuntimeType.GetEnumName(Object value)
   at System.Enum.InternalFormat(RuntimeType eT, Objec

[2016-11-02 06:25] dotnet-mc-bot opened #13252 "Test failure: System.Reflection.Emit.Tests.DynamicMethodGetILGenerator1/GetILGenerator_Module(skipVisibility: False)"
Opened on behalf of @jiangzeng

The test `System.Reflection.Emit.Tests.DynamicMethodGetILGenerator1/GetILGenerator_Module(skipVisibility: False)` has failed.

System.FieldAccessException : Attempt by method 'DynamicClass.Method(System.Reflection.Emit.Tests.IDClass, Int32)' to access field 'System.Reflection.Emit.Tests.IDClass._id' failed.

        Stack Trace:

           at Method(IDClass , Int32

[2016-11-02 06:27] dotnet-mc-bot opened #13253 "Test failure: Assert failing for several tests under System.Reflection.Emit.Tests.AssemblyTests"
Opened on behalf of @jiangzeng

The test `System.Reflection.Emit.Tests.AssemblyTests/DefineDyamicModule_ModuleAlreadyDefined_ThrowsInvalidOperationException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.InvalidOperationException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Reflection.Emit.Tests.AssemblyTests.DefineDyamicModule_ModuleA

[2016-11-02 06:30] dotnet-mc-bot opened #13254 "Test failure: System.Collections.Specialized.Tests.HttpUtilityTest/UrlDecodeToBytes(decoded: \"http://127.0.0.1:8080/appDir/page.aspx?foo=b%ar\", encoded: \"http://127.0.0.1:8080/appDir/page.aspx?foo=b%%u00..."
Opened on behalf of @jiangzeng

The test `System.Collections.Specialized.Tests.HttpUtilityTest/UrlDecodeToBytes(decoded: \"http://127.0.0.1:8080/appDir/page.aspx?foo=b%ar\", encoded: \"http://127.0.0.1:8080/appDir/page.aspx?foo=b%%u00...` has failed.

Assert.Equal() Failure\r
                                     ? (pos 45)\r
    Expected: ···Dir/page.aspx?foo=b%ar\r
    Actual:   ···Dir/page.aspx?

[2016-11-02 06:33] dotnet-mc-bot opened #13255 "Test failure: CoreXml.Test.XLinq.FunctionalTests+XNodeBuilderTests+TCCData/WriteCDataWithTwoClosingBrackets_5"
Opened on behalf of @jiangzeng

The test `CoreXml.Test.XLinq.FunctionalTests+XNodeBuilderTests+TCCData/WriteCDataWithTwoClosingBrackets_5` has failed.

System.ArgumentException : Cannot have ']]>' inside an XML CDATA block.

        Stack Trace:

           at System.Xml.XmlTextWriter.WriteCData(String text)
       at System.Xml.XmlWriter.WriteNode(XmlReader reader, Boolean defattr)
       at Syst

[2016-11-02 06:35] dotnet-mc-bot opened #13256 "Test failure: System.Xml.Tests.AsyncReaderLateInitTests/ReadAfterInitializationWithUriOnAsyncReaderTrows"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.AsyncReaderLateInitTests/ReadAfterInitializationWithUriOnAsyncReaderTrows` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Xml.XmlException)\r
    Actual:   typeof(System.AggregateException): One or more errors occurred.

        Stack Trace:

           at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTa

[2016-11-02 06:36] dotnet-mc-bot opened #13257 "Test failure: System.Xml.Tests.AsyncReaderLateInitTests/ReadAsyncAfterInitializationWithUriThrows"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.AsyncReaderLateInitTests/ReadAsyncAfterInitializationWithUriThrows` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Xml.XmlException)\r
    Actual:   typeof(System.Net.WebException): The remote name could not be resolved: 'test.test'

        Stack Trace:

           at System.Net.HttpWebRequest.EndGetResponse(IAsyncResu

[2016-11-02 06:39] dotnet-mc-bot opened #13258 "Test failure: System.Xml.Tests.InsertAfterTests/InsertAfterRemovesDupRefAttrAtTheEnd"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.InsertAfterTests/InsertAfterRemovesDupRefAttrAtTheEnd` has failed.

System.ArgumentOutOfRangeException : Insertion index was out of range. Must be non-negative and less than or equal to size.\r
    Parameter name: index

        Stack Trace:

           at System.Collections.ArrayList.Insert(Int32 index, Object value)
       at System.Xml.

[2016-11-02 06:40] dotnet-mc-bot opened #13259 "Test failure: System.Xml.Tests.InsertAfterTests/InsertAfterReplacesDupRefAttr"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.InsertAfterTests/InsertAfterReplacesDupRefAttr` has failed.

Assert.Same() Failure\r
    Expected: XmlAttribute []\r
    Actual:   XmlAttribute []

        Stack Trace:

           at System.Xml.Tests.InsertAfterTests.InsertAfterReplacesDupRefAttr() in D:\A\_work\32\s\corefx\src\System.Private.Xml\tests\XmlDocument\XmlAttributeCollectionTe

[2016-11-02 06:41] dotnet-mc-bot opened #13260 "Test failure: System.Xml.Tests.NodeMap_SetNamedItemTests/NamedItemIsNull"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.NodeMap_SetNamedItemTests/NamedItemIsNull` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Xml.XmlAttributeCollection.SetNamedItem(XmlNode node)
       at System.Xml.Tests.NodeMap_SetNamedItemTests.NamedItemIsNull() in D:\A\_work\32\s\corefx\src\

[2016-11-02 07:51] MichaelVach commented on #11100
The problem is only becoming worse as more and more nuget packages from Microsoft take a dependency on the latest version of System.Net.Http. I am probably not the only one who constantly upgrades his Microsoft nuget packages to the latest pre-release version. For example packages that no longer work for me in their latest version:

Microsoft.IdentityModel.Clients.ActiveDirectory
Microsoft.TeamFou

[2016-11-02 08:50] jods4 commented on #10994
@tarekgh this is not needed urgently, in fact it's long past due. ;)
I have built some helpers to format quarters the way I want, that's not hard.

But as I pointed out the real pain point here is that you sometimes interact with libraries where a _format string_ is your only option (e.g. charting controls) and that's where it would really help to get framework support.

[2016-11-02 09:29] kouvel commented on #3364
After going through ReaderWriterLock in detail, it looks like there is no easy way to fix this bug there. There are a whole bunch of races to consider, and possibly a new state would be necessary to prevent certain checked invariants from changing while releasing waiting readers. It's probably not worth the risk or effort. The issue is fixed in ReaderWriterLockSlim, closing this issue again.

[2016-11-02 09:29] #3364 closed

[2016-11-02 09:34] eliezedeck opened #13261 "BufferManager (from System.ServiceModel.Channels) not available?"
I'm trying to use that class, but it doesn't appear to be available for use. I can see it in the API: https://docs.microsoft.com/en-us/dotnet/core/api/system.servicemodel.channels.buffermanager#System_ServiceModel_Channels_BufferManager

How and what do I do in order to make use of this feature?

Thank you.

[2016-11-02 09:48] stephentoub commented on #13238
I'm removing the test bug label; a test input is triggering it, but it's actually a product bug.

[2016-11-02 09:50] stephentoub commented on #13238
Oh, I see, the product bug is tracked by https://github.com/dotnet/coreclr/issues/7669... I'm going to close this issue, then, as we don't need a separate issue tracking disabling the test while that coreclr issue is outstanding.  Thanks.

[2016-11-02 09:52] stephentoub commented on #13247
cc: @tarekgh

[2016-11-02 10:11] dotnet-mc-bot opened #13262 "Test failure: System.Net.Http.Functional.Tests.CancellationTest/GetAsync_ResponseContentRead_CancelUsingTimeoutOrToken_TaskCanceledQuickly(useTimeout: False, startResponseBody: False)"
Opened on behalf of @venkat-raman251

The test `System.Net.Http.Functional.Tests.CancellationTest/GetAsync_ResponseContentRead_CancelUsingTimeoutOrToken_TaskCanceledQuickly(useTimeout: False, startResponseBody: False)` has failed.

System.TypeInitializationException : The type initializer for 'System.Net.Http.CurlHandler' threw an exception.
    ---- System.TypeInitializationException : The type i

[2016-11-02 10:12] venkat-raman251 commented on #13262
Created accidentally.

[2016-11-02 10:12] #13262 closed

[2016-11-02 10:14] dotnet-mc-bot opened #13263 "Test failure: System.Net.Http.Functional.Tests.CancellationTest/GetAsync_ResponseContentRead_CancelUsingTimeoutOrToken_TaskCanceledQuickly(useTimeout: False, startResponseBody: False)"
Opened on behalf of @venkat-raman251

The test `System.Net.Http.Functional.Tests.CancellationTest/GetAsync_ResponseContentRead_CancelUsingTimeoutOrToken_TaskCanceledQuickly(useTimeout: False, startResponseBody: False)` has failed.

System.TypeInitializationException : The type initializer for 'System.Net.Http.CurlHandler' threw an exception.
    ---- System.TypeInitializationException : The type i

[2016-11-02 10:15] venkat-raman251 commented on #13263
Created accidentally

[2016-11-02 10:15] #13263 closed

[2016-11-02 10:25] mobidev111 commented on #984
let's get together to prepare for e.g. a shared NuGet package

did anyone already do any work on this?
- what are your current findings to access the serial port?
- is https://github.com/dotnet/corefx/issues/984#issuecomment-76349671 still the starting point?

[2016-11-02 13:33] stephentoub commented on #13238
Reopening to track understanding why the test isn't failing for this test case and whether we're missing some validation in the test about the name getting truncated.

[2016-11-02 14:56] bartonjs commented on #13221
This looks suspiciously like the callstack in https://github.com/dotnet/core-setup/issues/545.  The reporter for that one gave information which suggests that their system has both `libcrypto.so.1.0.0` and `libcrypto.so.1.0.2`, and that libcurl uses the latter, we use the former.  This seems to cause problems when we're passed a pointer from one of the libraries and pass it into another.

Another

[2016-11-02 15:36] dotnetjunkie opened #13265 "ParameterInfo objects are not guaranteed to be unique."
After spending many hours tracking down [this bug](https://github.com/simpleinjector/SimpleInjector/issues/323) in Simple Injector, I came to the conclusion that:

 - `System.Type` instances are guaranteed to be unique within a single AppDomain.
 - `System.MemberBase` instances are guaranteed to be unique within a single AppDomain.
 - `System.ParameterInfo` instances are ***not*** guaranteed to be

[2016-11-02 15:43] karelz commented on #13265
cc: @AtsushiKan

[2016-11-02 15:44] tarekgh commented on #13247
need to look at these cases too:

[code]

[2016-11-02 15:54] ctonger commented on #3760
@saurabh500 Will do in a moment. Thanks!

[2016-11-02 16:00] tarekgh commented on #13247
this should be already fixed by @jkotas

https://github.com/dotnet/coreclr/pull/7950
https://github.com/dotnet/coreclr/pull/7951

[2016-11-02 16:06] #13247 closed

[2016-11-02 16:14] ctonger opened #13267 "ON AZURE: System.TypeInitializationException: The type initializer for 'System.Data.SqlClient.SNILoadHandle' threw an exception. ---> System.DllNotFoundException: Unable to load DLL 'sni.dll':"
After publishing my .net core mvc app to AZURE I get the following exception whenever an attempt is made to create an instance (doesn't matter if direct or via DI) of my data context:

[code]

My project.json of the web application looks like this:

[code]

I would like to stress that it works perfectly fine on my development environment. Even when I connect from my local machine to the Azure DB.

[2016-11-02 16:16] danmosemsft commented on #13242
@saurabh500 this is a desktop run (CoreFX tests, which are expected to also pass against the full framework). Later this month we will be making a push to get this run passing 100%.

[2016-11-02 16:17] ctonger commented on #13267
As an addition: The only difference to a normal data context is that I inherit from a "base" db context. I also have a couple of extention methods in concrete one, that provides a "Include" method on IQueryable that accepts a string parameter. But as I said, it all works perfect on my local environment. As soon as I publish to Azure, I get above mentioned exception

[2016-11-02 16:35] robertmclaws commented on #11100
I still don't understand why this package is still available. @terrajobst @coolcsh can we get this package taken down/fixed? It's REALLY causing issues with complex app environments. Wasted several hours trying to keep the offending package from creeping into the build. Thanks!

[2016-11-02 16:38] ctonger commented on #13267
I made a mistake on project.json. The one I posted is that of my integration testing project. The Application project.json is this one:
"dependencies": {
    "Microsoft.AspNetCore.Authentication.Cookies": "1.0.0",
    "Microsoft.AspNetCore.Diagnostics": "1.0.0",
    "Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore": "1.0.0",
    "Microsoft.AspNetCore.Identity.EntityFrameworkCore": "1.0.0",

[2016-11-02 16:44] stephentoub commented on #12939
I hit this locally after adding the additional diagnostics in #13168.  Here's the stack where the server was created:
[code]
so it's coming from the ClientAsyncAuthenticate_ServerRequireEncryption_ConnectWithEncryption test.

[2016-11-02 17:27] danmosemsft opened #13268 "Members of DataContractSerializer that are in NS2.0 are missing"
[code]

@zhenlan @shmao

[2016-11-02 17:29] danmosemsft opened #13269 "One constructor on SerializationInfo class needs exposing"
Needs adding to model.xml and possibly a test adding.

[code]

[2016-11-02 17:29] danmosemsft commented on #13269
@AlexGhiondea

[2016-11-02 17:38] saurabh500 commented on #13242
@danmosemsft This cannot pass on the desktop. That's because the feature is not present in any Desktop framework version.
We are planning to release this feature in .Net framework vNext.
What is the recommendation in this case? How do I flag this test to not run on Desktop till the feature makes its way into the desktop?

[2016-11-02 17:39] justinvp commented on #13261
`BufferManager` is part of WCF.

https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/BufferManager.cs

It should be available in the [System.ServiceModel.Primitives](https://www.nuget.org/packages/System.ServiceModel.Primitives) package, based on the documentation you linked to.

[2016-11-02 17:40] danmosemsft commented on #13242
It's easy to exclude. @Priya91 can you remind me of the test attribute to do this? I can't find it/remember the name.

[2016-11-02 17:42] saurabh500 commented on #13267
@ctonger Can you also provide the project.json.lock file generated for this project?

@ericstj @weshaggard @gkhanna79 This is an issue with .Net Core 1.0 where SNI.dll is not being loaded when an app is published to Azure. Any recommendations for information needed from @ctonger ?

[2016-11-02 17:42] saurabh500 commented on #13242
cc @geleems

[2016-11-02 18:03] kevin-david opened #13270 "FileStream.ReadAsync with FILE_FLAG_NO_BUFFERING at end of non-sector-aligned file causes ERROR_INVALID_PARAMETER"
I was doing some perf testing with `FILE_FLAG_NO_BUFFERING` and found that it doesn't seem to work with async whole-`FileStream` reads. I think the bug is FileStream.cs around [here](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/FileStream.Win32.cs#L919). `numBytes` gets set to a non-sector-aligned value and reused for the `ReadFileNative` which [is illegal wi

[2016-11-02 18:08] tijoytom commented on #12510
Fixed by https://github.com/dotnet/corefx/pull/13226

[2016-11-02 18:08] #12510 closed

[2016-11-02 18:10] gkhanna79 commented on #13267
At the outset, it will be good to get a repro of this independent of Azure especially if the issue is about file being missing on publish. Can we get such a repro that can be tried locally?

[2016-11-02 18:13] dluxfordhpf commented on #11100
We are looking at binding to the System.Net.Http in the NET Framework instead of this broken thing from NuGet.  I agree, this problem is ridiculous, and very expensive to deal with as you must synchronize NuGet versions between projects, prevent auto binding updates, and fix/check your app.config.  What surprises me is that it’s in such a widely used assembly.  Perhaps MS doesn’t really care about

[2016-11-02 18:17] saurabh500 commented on #13267
@ctonger can you share a repro app with the steps that you trying?

[2016-11-02 18:21] #12606 closed

[2016-11-02 18:23] eliezedeck commented on #13261
Thanks @justinvp. That **worked**!

Closing the issue.

[2016-11-02 18:23] #13261 closed

[2016-11-02 18:29] Priya91 commented on #13242
@saurabh500 @danmosemsft You can use ```[SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework)]``` attribute on the test.

[2016-11-02 18:45] yizhang82 commented on #8654
@gkhanna79 can you comment on 32-bit plan?

[2016-11-02 18:47] JessieWadman commented on #6086
This should be possible with a generic class and runtime specific implementations under the hood. Windows, Linux and Unix all have service concepts, with start and stop, and abstracting on top of that should be doable, right?

[2016-11-02 18:51] gkhanna79 commented on #8654
We do have .NET Core for Windows x86. The installers/downloads are available at https://www.microsoft.com/net/download#core.

[2016-11-02 19:10] sepidehMS commented on #9997
@tarekgh  Test re-enabled for Windows via https://github.com/dotnet/corefx/pull/13222. Please enable the test for other platforms when available. (look for ActiveIssue9997)
Cases where `UpperFirst=true` should also be tested

[2016-11-02 19:10] sepidehMS commented on #9997
Tracking: Cases where `UpperFirst=true` should also be tested

[2016-11-02 19:15] tarekgh commented on #9997
@sepidehMS

I am not sure I understand the ask here. this is Xml test and should be enabled by you. what exactly you want me to do here?

[2016-11-02 19:18] sepidehMS commented on #9997
@tarekgh IIRC you told me before that SortKey is not yet available on Linux and the test should be only enabled in Windows right now. If that's the case, please just notify me when SortKey is available in Linux as well. Thanks.