[2015-09-29 20:01] janhenke commented on #2988
Since this assembly has been shim'ed, I close this issue. It will be resolved once #3471 has been merged.

[2015-09-29 20:01] #2988 closed

[2015-09-29 20:08] ellismg commented on #3538
The major problem was that GenFacades is compiled against the .NET Core surface area (and we're trying to push more of our build tools to compile against this as well, e.g. BCL Rewriter) and Mono doesn't seem to support some of the new things in .NET 4.6 which are in .NET Core (e.g. Array.Empty<T> and there were some missing type forwards for some of the contracts).

[2015-09-29 20:16] akoeplinger commented on #3538
@ellismg I understand the motivation. Avoiding Array.Empty should be easy as GenFacades likely won't benefit much from it (Mono waits for the net46 referencesource drop to integrate the new APIs). Missing type forwards are an issue, we should look into adding the missing things to Mono, would love to get more details on them.

As I said, I think it's an important goal to still be able to build via

[2015-09-29 20:23] #3518 closed

[2015-09-29 20:38] mellinoe commented on #3534
Is the issue that VS is unable to categorize the source file into the correct project / configuration? I have noticed that the files will show up in the Solution explorer but be listed under "Miscellaneous Files". I agree that it is very annoying and a terrible experience.

[2015-09-29 20:45] ellismg opened #3542 "Should sockets performance tests be inner loop?"
These tests have failed to meet the baseline a few times, but they pass on re-run.

http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/4407/testReport/junit/System.Net.Sockets.Performance.Tests/SocketPerformanceAPMTests/SocketPerformance_SingleSocketClientAsync_LocalHostServerAPM/

When the CI System runs jobs, it can run multiple jobs on the same machine at the same time, could

[2015-09-29 20:49] pgavlin commented on #3542
I think that there's already been some discussion re: moving these tests to the outer loop and finding a better success metric.

[2015-09-29 21:08] ellismg commented on #3538
@akoeplinger

The problem is IIRC Roslyn can insert calls on your behalf (e.g. calling param methods with no arguments) so simply building against the .NET Core surface area can create binaries that won't run on Mono.

I think the problem was that IOException moved down into the System.Runtime contract (from System.IO) and Mono didn't have the change.

One other option would be to produce two tool

[2015-09-29 21:23] akoeplinger commented on #3538
Honestly I'd rather fix the issues in Mono that prevent it from running the .NET Core targeted package.

I don't think so. There are just so many of them that you can't really please everyone.

That sounds good.

[2015-09-29 22:06] CIPop commented on #3542
Yes, this is a duplicate of #3495.

I still think it's generally a bad idea to ever consider Perf tests as CI. (These are already marked as perf.)

[2015-09-29 22:08] pgavlin commented on #3542
I'll submit a PR today to move these into outer loop/benchmark

[2015-09-29 22:34] CIPop opened #3543 "Repo organization guidelines for Common\tests"
Currently, there's a free-for-all regarding how code is placed in `src/Common/tests` folders, unlike the `src/Common/src` folder tree which has clear guidelines.

There are a few proposals:
1) Mirror the `src/Common/src` idea and have everything properly aligned to the namespace. So, the folder paths would look like this:

`src/Common/tests/System/Net/Http/HelperClass.cs`.

Note that each namespac

[2015-09-29 22:45] davidsh commented on #3543
I like the first option 1).  We should have the paths be broken up per word, the same as the src tree.

[2015-09-29 23:32] dougbu opened #3544 "[Linux] Default locale is "Invariant Language (Invariant Country)""
Odd default locale with Core CLR on Linux: It is the invariant locale rather than the expected "English (United States)". Test just examines `Culture.CurrentCulture.EnglishName` and `Culture.CurrentUICulture.EnglishName`. Mono gets this right on the system system.

I'm using `System.Globalization/4.0.11-beta-23326`, `System.Globalization.Extensions/4.0.1-beta-23326` and `System.Runtime/4.0.21-beta

[2015-09-29 23:53] JonHanna opened #3546 "Stack overflow enumerating EnumerableQuery created from null enumerable"
`EnumerableQuery<T>` can be created passing null a `Expression`, an inappropriately typed `Expression`, a null `IEnumerable<T>`, or a null value of a derived type.

Blocking this would be a breaking change, especially since such objects can be usefully used as query providers.

Calling `GetEnumerator()` on most such cases result in an `ArgumentNullException` or `ArgumentException`, which could pro

[2015-09-30 00:23] pgavlin commented on #3460
Closed by #3541.

[2015-09-30 00:23] #3460 closed

[2015-09-30 01:12] kennywangjin commented on #3489
@nguerrera Thanks. Got it!

[2015-09-30 04:18] #3495 closed

[2015-09-30 06:01] colombod commented on #1653
Related but not quite the same.

[2015-09-30 06:02] weshaggard commented on #3018
@Clockwork-Muse I suspect this issue might be caused by the same root issue that was fixed with https://github.com/dotnet/corefx/pull/3413. Can you please verify that this helps or not?

[2015-09-30 10:16] nvivo commented on #3480
@JamesNK I see. But with .NET Core being a new API and ADO.NET API being quite stable over almost a decade. Also, talking about database access my guess is that the cost of virtual methods is dwarfed by the cost of the database access. Do you think this is still a valid concern?

@NickCraver, @roji, @FransBouma since you guys seem to have interest in the ADO.NET API, have anything to say about thi

[2015-09-30 10:37] FransBouma commented on #3480
In the process of executing a query on a remote database and processing results, the nanoseconds lost on a virtcall are negligible. Besides, ADO.NET uses this system since the beginning (so do lots of other APIs in .NET) and no-one complained that their DB code is so slow due to virtual method calls ;)

[2015-09-30 10:49] JamesNK commented on #3480
I can see async methods in your list so I'm guessing just a couple of years ago MS couldn't of added async to IDbCommand. Who knows what tomorrow will bring that will require a new method.

Interfaces don't version.

[2015-09-30 11:48] MaleDong commented on #1903
Well……In Java you know that it has NOT ONLY weak reference, but soft reference……and other types.
I need a class that can be both controlled by TimeSpan or let it "disposed" itself automatically when memory/CPU is busy or taken much on different levels.

[2015-09-30 12:20] nvivo commented on #3480
@JamesNK I think your concerns are valid, but there are 2 important points to consider:

1. ADO.NET has been pretty much stable since .NET 2.0, which a decade - although the async API was added later, it didn't change the behavior of the API, just added async counterparts - I don't see any big changes in the database driver paradigm anytime soon
2. CoreFx is supposed to have a different versioning

[2015-09-30 12:40] lo87 opened #3550 "Why HttpClient can't run on linux(coreclr-1.0.0-beta8-15776)"
It's not ready yet?
[code]

[code]

[2015-09-30 13:02] roji commented on #3480
I guess I don't have a very strong opinion here, but here are some remarks:

* Agree with the above that removing virtual vs. non-virtual is negligible in an API for database access
* Base classes do allow ADO.NET to provide implementations, I'm guessing that's what most the non-virtual non-abstract methods are about - the overload of ExecuteReader that doesn't accept a CommandBehavior passes `Com

[2015-09-30 13:09] FransBouma commented on #3480
I agree with @roji on all his points.

[2015-09-30 13:19] nvivo commented on #3480
@roji just a note, I'm not proposing droping the base classes, I'm proposing adding the interfaces as the default API. Base classes can still implement default behavior.

As for testing, I had huge issues testing if my API was calling the right methods. To check if ExecuteDataReader received the right parameters for example, you must check another protected method that is called internally. This i

[2015-09-30 13:31] roji commented on #3480
Sorry, I misunderstood that. In that case, isn't your proposition more or less keeping things the way they are in .NET (not that there's anything wrong with that)?

If I understand your scenario (not sure), Moq's `CallBase` is useful for this kind of scenario - default implementations are inherited from the base class

[2015-09-30 14:00] nvivo commented on #3480
@roji

Not exactly. The interface API was added in .NET 1.0 and deprecated on 2.0. Since 2.0, the interfaces are there for compatibility, but there is no interface for ProviderFactory or other classes in Data.Common.

Moq can only mock things that are mockable. There must be some method that is either virtual or abstract that it can override, or a protected method it can call. The current API prov

[2015-09-30 14:05] davidsh commented on #3550
This is a dupe of #2155.

The work of including cross-platform binaries into the NuGet packages has not yet been completed.  The team is actively working on it.

cc: @ericstj @chcosta

[2015-09-30 14:05] davidsh commented on #3550
I will close this issue since it is a dupe. Updated status will be posted to #2155.

[2015-09-30 14:05] #3550 closed

[2015-09-30 14:09] roji commented on #3480
@nvivo OK, thanks for the extra details - I admit I haven't gone very far with mocking ADO.NET.

The thing I don't understand, is why you would want to mock internal, private and otherwise out of reach methods of an API. Shouldn't you be mocking public methods that are directly available to your own application code (which is what you're trying to test)? I do see the issue with the non-virtual met

[2015-09-30 16:15] janhenke commented on #3538
Indeed one set of managed assemblies for all Unix-like platforms should be the goal. Then bootstrapping would also not be an issue. Native Shims + CoreCLR should be compilable on new platforms to bootstrap at any given time.

[2015-09-30 16:43] YoungGah commented on #3480
@nvivo We currently have no plan to bring interfaces in because of the versioning issue which was already pointed out by several people on this thread. Good example of interfaces getting behind is when async and streaming methods were added in .NET Framework 4.5. When we added those new features, we carefully looked into extending interfaces. The options we had at that time were either provide Int

[2015-09-30 16:48] nvivo commented on #3480
@roji I had cases where I want to ensure that a specific overload of ExecuteReader was called, and not that "any of the overloads". It's the kind of thing you have only in libraries, not on user code.

@YoungGah thanks for the info. I'm closing this then.

[2015-09-30 17:13] nvivo commented on #1098
I'm closing this, as this is probably not going anywhere based on similar requests.

[2015-09-30 17:13] #1098 closed

[2015-09-30 17:32] CIPop commented on #3495
@pgavlin Thanks for moving the tests to OuterLoop!

Was this investigated as well:

Only asking since we were tracking it with this issue although it isn't related. I could open another issue if it wasn't.

[2015-09-30 17:50] davidsh opened #3555 "System.Net.Http (Linux) allows insecure HTTPS -> HTTP redirect"
Discovered during PR #3554

Test failure: System.Net.Http.Functional.Tests.HttpClientHandlerTest.GetAsync_AllowAutoRedirectTrue_RedirectFromHttpsToHttp_StatusCodeRedirect

MESSAGE:
Assert.Equal() Failure Expected: Redirect Actual: OK
+++++++++++++++++++
STACK TRACE:
at System.Net.Http.Functional.Tests.HttpClientHandlerTest.<GetAsync_AllowAutoRedirectTrue_RedirectFromHttpsToHttp_StatusCodeRedirect>

[2015-09-30 17:50] neolithos opened #3556 "Interpreting dynamic expressions failed"
Hello,

a really Q&D example for showing the issue.

First the simple callsitebinder:

[code]

And the calling code:

[code]

If I run the code under Windows 8.1 Phone or the desktop .net framework, it works fine.

But under Windows 10 UWP (it should .net core) I get the following exception:

[code]

What is wrong?

[2015-09-30 17:52] davidsh opened #3557 "System.Net.Http (Linux) not passing credentials (in cache) during redirect"
Discovered during PR #3554

Test Failure:
System.Net.Http.Functional.Tests.HttpClientHandlerTest.GetAsync_CredentialIsCredentialCacheUriRedirect_StatusCodeOK

MESSAGE:
Assert.Equal() Failure Expected: OK Actual: Unauthorized
+++++++++++++++++++
STACK TRACE:
at System.Net.Http.Functional.Tests.HttpClientHandlerTest.<GetAsync_CredentialIsCredentialCacheUriRedirect_StatusCodeOK>d__5c.MoveNext() --- E

[2015-09-30 17:58] davidsh commented on #3555
cc: @stephentoub @vijaykota @SidharthNabar

[2015-09-30 17:58] davidsh commented on #3557
cc: @stephentoub @vijaykota @SidharthNabar

[2015-09-30 18:04] pallavit opened #3558 "Expose System.Console.WindowWidth"
Azure CLI would like us to expose WindowWidth property

[2015-09-30 18:05] pallavit opened #3559 "Expose System.Console.CursorVisible"
Azure CLI would like us to expose this property

[2015-09-30 18:06] davidsh commented on #3555
Reference build: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/4644/

[2015-09-30 18:06] davidsh commented on #3557
Reference build: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/4644/

[2015-09-30 19:56] davidsh commented on #3550
@lo87

Beta8 should be released soon.  You can try it out by using this MyGet feed which has cross-platform support in the packages.

https://www.myget.org/gallery/aspnetbeta8

[2015-09-30 20:37] pallavit commented on #1387
Closing this since #3536 removes System.Security.SecureString from .NetCore

[2015-09-30 20:37] #1387 closed

[2015-09-30 21:14] CIPop opened #3562 "Tracking issues for System.Net.NetworkInformation and System.Net.Utilities"
This issue is tracking TODOs and Shims removal for PR #:
- [ ] Replace Interop.\* with OS names from the SDK (iphlpapi)
- [ ] Unify error codes for Win32 (see Interop.ErrorCodes.cs in iphlpapi)
- [ ] Investigate DangerousAddRef then Dispose within `SafeCloseSocketAndEvent::CompleteInitialization(...)`
- [ ] In NetworkAddressChange.cs :

- [ ] In NetworkAddressChange.cs: StartHelper()

https://msdn

[2015-09-30 21:25] daveaglick opened #3563 "Add System.Collections.Concurrent.ConcurrentHashSet<T>"
We already have classes in the `System.Collections.Concurrent` namespace that provide (mostly) equivalent APIs to most of those in the `System.Collections.Generic` namespace. However, one omission is a concurrent equivalent for `System.Collections.Generic.HashSet<T>`. At the moment, if a thread-safe hash set is needed, we are left with one of three options:
- Creating a thread-safe collection clas

[2015-09-30 22:56] davidsh opened #3565 "System.Net.Http (Linux) doesn't support ChannelBinding"
Test (HttpClientHandlerTest.cs)
PostAsync_Post_ChannelBindingHasExpectedValue() fails because it returns a NULL value for ChannelBinding.

[2015-09-30 22:57] davidsh commented on #3565
cc: @CIPop @stephentoub @vijaykota @SidharthNabar

[2015-10-01 00:45] ianhays opened #3566 "Perf: Environment.ExpandEnvironmentVariables 4x slower on Linux"
Perf test:
[code]

Linux results:
[code]

Windows results:
[code]

[2015-10-01 00:48] ianhays opened #3568 "Perf: Environment.GetEnvironmentVariable 4x slower on Linux"
Perf test:
[code]

Linux results:
[code]

Windows results:
[code]

[2015-10-01 00:48] pgavlin opened #3569 "System.Runtime.Loader.Tests.AssemblyLoadContextTest.InitializeDefaultContextTest failing on Linux in CI"
For example:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2896/

[2015-10-01 00:48] pgavlin commented on #3569
@stephentoub: who should take a look at this one?

[2015-10-01 00:51] sokket opened #3570 "Fix Net.NameResolutionPal.Unix when sockaddr shim'ing work comes in"
The System.Net.NameResolutionPal.Unix::TryGetAddrInfo function does a lot of copying a bit twiddling according to sockaddr sizes per-platform. This should be cleaned up when the sockaddr struct is shim'd

[2015-10-01 00:53] ianhays opened #3571 "Perf: DateTime.Now 3x slower on Linux"
Perf test:

[code]

Linux results:

[code]

Windows results:

[code]

[2015-10-01 00:55] ianhays opened #3572 "Perf: new Random() 2x slower on Linux"
Perf test:
[code]

Linux results:
[code]

Windows results:
[code]

I expect this is due to the use of DateTime.Now as the seed for the default Random constructor, making this related to #3571

[2015-10-01 00:57] ianhays opened #3573 "Perf: Guid.NewGuid 200x slower on Linux"
Perf test:
[code]

Linux results:
[code]

Windows results:
[code]

[2015-10-01 00:59] ianhays opened #3574 "Perf: String.ToUpper and String.ToLower 3x slower on Linux"
Perf test and relevant helper methods:
[code]

Linux results (same for ToLower) for length=1000:
[code]

Windows results (same for ToUpper) for length=1000:
[code]

Results for other lengths are similar but less severe. I have excluded them for the conciseness but may post them if desired.

[2015-10-01 01:05] ianhays commented on #3574
I expect this could be an issue with the strings being generated being of a different format on different systems. Could also be some other problem involving the generated strings and the way ToUpper and ToLower treat them.

[2015-10-01 02:28] joshfree commented on #3569
/cc @Sridhar-MS

[2015-10-01 02:29] joshfree commented on #3563
/cc @terrajobst

[2015-10-01 02:32] joshfree commented on #3556
/cc @jaredpar

[2015-10-01 02:34] joshfree commented on #3546
/cc @jaredpar

[2015-10-01 02:47] joshfree commented on #3530
Hi @vdisasm thanks for the suggestion.  I'm not quite sure what you want us to fix.  Could take a look at the .NET API review process (https://aka.ms/apireview) and expand upon your post?  Also, here is a link to a good example of a good proposal from earlier: https://github.com/dotnet/corefx/issues/271

Thanks,
Josh

[2015-10-01 02:48] daveaglick commented on #3563
BTW - if this class is deemed appropriate, I certainly don't mind doing the initial legwork.

[2015-10-01 02:50] joshfree commented on #3506
/cc @Chrisboh

[2015-10-01 02:51] joshfree commented on #3501
@steveharter could you take a look at this while you're working on CLANG debug switches?

[2015-10-01 02:57] joshfree commented on #3481
/cc @jaredpar

[2015-10-01 03:01] joshfree commented on #3419
@terrajobst could you take a look please

[2015-10-01 03:07] joshfree commented on #3293
/cc @morganbr

[2015-10-01 03:13] davidsh commented on #3565
Discovered during PR #3554

[2015-10-01 03:17] morganbr commented on #3293
Marking it transparent sounds reasonable to me. I'd be pretty surprised if it ever calls into critical code.

@NArnott , per the caution at https://msdn.microsoft.com/en-us/library/c5tk9z76(v=vs.110).aspx , we advise against using that to run untrusted code. (We're working on putting that somewhere more obvious since it's easy to miss right now).

[2015-10-01 03:22] morganbr commented on #3573
This could be related to https://github.com/dotnet/coreclr/issues/1602 where we're using random in an iffy way instead of just asking the system for a UUID.

[2015-10-01 03:58] vijaykota commented on #3555
@kapilash, is this a new test? I think you didn't face an issue with existing tests, correct?

[2015-10-01 03:59] vijaykota commented on #3557
@kapilash, is this a new test? I think you didn't hit this in your normal test pass.

[2015-10-01 04:08] vijaykota commented on #3565
@kapilash, can you take a look? I didn't quite get how the binding is exposed to the user of HttpClientHandler.

[2015-10-01 04:46] andrew-vandenbrink commented on #1039
@youngGah I need DataTable as it is part of my data structure, just like anyone use list or stack. You can put WriteXml or WriteJson as extension method right?

[2015-10-01 05:04] davidsh commented on #3555
@vijaykota I added this new test. And when I added it today, it failed on Linux.  So, it's a new test.

[2015-10-01 05:05] davidsh commented on #3557
@vijaykota I added this test today in a PR where I added several new HTTP tests (ported from the ToF tests).  When I submitted the PR, the test failed on Linux.

[2015-10-01 05:07] davidsh commented on #3565
@vijaykota The binding is exposed via the protected SerializeToStreamAsync() method of HttpContent.  Developers can subclass the HttpContent class, override this method and get access to the TransportContext object.  This is what WCF does today to get access to the "blob" containing the ChannelBinding token (available on SSL/TLS connections).

[2015-10-01 05:09] rkeithhill commented on #381
I agree with @paulomorgado, having debugged code like:

[code]
I would explicitly disallow the two line (without braces) case.

Another alternative is **always** require braces but allow:

[code]
Then let line length dictate whether the above can be put on one line or if it should span four lines.  Always requiring braces would make it easy for a tool to flag when braces aren't being used.

[2015-10-01 05:13] rkeithhill opened #3576 "Is there a Resharper settings file for this coding style?"
I personally dislike the default R# C# coding style configuration.  It would be nice to have R# configured for this coding style.  Then I could use R#'s code reformatting functionality to bring code into line.  :-)  While the stand-alone CodeFormatter.exe is nice to have, for the rest of my team, if it isn't integrated into their VS workflow it might as well not exist.

[2015-10-01 05:27] pgavlin commented on #3543
I agree with @davidsh; it seems reasonable to be consistent here.

[2015-10-01 05:29] kapilash commented on #3557
@vijaykota  this particular test was an old one. David was cleaning up the tests and in the process he fixed a bug in the test which was hiding a bug in the curlhandler

Previous code was:

      var response = client.GetAsync(uri).Result;

New Code is:

                HttpResponseMessage response = await client.GetAsync(redirectUri);

Earlier test was not testing redirect under credential-Cache.

[2015-10-01 05:45] ericstj commented on #3262
+1 hitting the same error.

We should update the coreclr used by our tests to get this fix.

[2015-10-01 06:03] kapilash commented on #3557
Thanks @davidsh.
This was a regression caused by #3178  and wasn't caught by the test.

[2015-10-01 06:04] Kagamine opened #3577 "To make a dnx451 support for System.Xml"
There was no fx/System.XML on Mono platform.
When I dnu build, there was an error occurred.

[code]

I think making a dnx451 support for System.Xml will solve the problem.

[2015-10-01 06:54] svick commented on #3530
I think #3275 is one way of solving this problem, so this could be considered a duplicate.

[2015-10-01 07:05] akoeplinger commented on #3577
Try with System.Xml instead of System.XML, that should work.

[2015-10-01 07:14] Kagamine commented on #3577
Thanks, I'll have a try.

[2015-10-01 07:56] #3577 closed

[2015-10-01 09:04] vdisasm commented on #3530
#3275 seems exactly what I want.
Sorry for bad description and duplicate.

[2015-10-01 09:04] #3530 closed

[2015-10-01 10:43] vijaykota commented on #3565
Thanks @davidsh We missed this out when looking at xplat work for HttpClientHandler

[2015-10-01 12:18] stephentoub commented on #3569
@kouvel, I think you recently made some changes here.  Could you please take a look?  This is causing a bunch of corefx runs to fail, e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst/1052/testReport/junit/System.Runtime.Loader.Tests/AssemblyLoadContextTest/InitializeDefaultContextTest/

[2015-10-01 12:58] stephentoub commented on #3543
Yes, we should do (1).  With a few exceptions, the files in Common are essentially a big internal-only class library used by the rest of corefx, with files from e.g. System/IO used by multiple assemblies and not just System.IO.

I'll fix it up.

[2015-10-01 13:22] stephentoub commented on #3572
Might still be related inside of libcoreclr, but Random's ctor uses Environment.TickCount rather than DateTime.Now.

[2015-10-01 13:26] stephentoub opened #3580 "NullReferenceException in System.Net.Sockets.Tests.Disconnect.Success on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/4466/console
[code]
cc: @davidsh, @cipop, @pgavlin

[2015-10-01 13:32] robinsedlaczek commented on #381
I agree with @rkeithhill:

But one-liners are harder to read since you have to realize the condition and the expression(s) in the block. Regarding human perception, multi-line would speed it up because there is a visual structure for different syntax elements (code in the block is indented etc.).

Maybe this argumentation is a bit too academic... :)

[2015-10-01 13:39] sharwell commented on #381
Tools are already available to enforce the current rules. They haven't been incorporated into this repository yet, but I'm hoping they will be eventually.

Between Visual Studio's formatter and the codeformatter tool, this should never exist in this repository. If code like this cannot exist, then the primary argument for requiring braces fades a bit and you end up with the more flexible rule I de

[2015-10-01 14:23] stephentoub opened #3581 "Seg fault in X509Certificates in Linux CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2908/console
[code]

[2015-10-01 15:02] stephentoub commented on #3581
Another:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/2914/console

This one also appears to have a seg fault in System.Security.Cryptography.Encoding.Tests.

[2015-10-01 15:14] stephentoub commented on #3581
It's crashing here:
[code]

[2015-10-01 15:21] stephentoub commented on #3581
OBJ_nid2ln returns a const char*, but our interop signature for it is returning a string, so the CLR is going to try to free the native ptr.  I'll fix it.

[2015-10-01 16:07] #3581 closed

[2015-10-01 16:23] bartonjs commented on #3581
@stephentoub Did you get it to repro locally, or are the coredumps dropping and extractable?

[2015-10-01 16:38] VSadov commented on #3481
I think option 6 is not an option. It is an observable change for sideeffecting GetEnumerator implementations. That is not extremely common, but still possible for GetEnumerator to open a file or grab a lock. We would not want to change when that happens.

[2015-10-01 16:49] JonHanna commented on #3481
Yes, I already ruled that one out. I haven't had a chance to race the others yet, because it needs a time while my computer is neither turned off nor in such heavy use that could upset the measures, and it tends to be one of the other, but a holiday soon will be a fine time to have comparisons running away while I do other things.

[2015-10-01 17:00] joshfree commented on #3302
feel free to start chatting with @ianhays about perf infra when you're ready to work on this.

[2015-10-01 17:25] davidsh commented on #3555
Fixed with #3578.

[2015-10-01 17:25] #3555 closed

[2015-10-01 17:30] davidsh commented on #3557
Fixed with #3578.

[2015-10-01 17:30] #3557 closed

[2015-10-01 17:42] sokket opened #3583 "Timer_Change_BeforeDueTime_ChangesWhenTimerWillFire test fails"
A timer test failed on PR here:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/4494/testReport/junit/(root)/TimerChangeTests/Timer_Change_BeforeDueTime_ChangesWhenTimerWillFire/

MESSAGE:
Should have received a timer event after this new duration Expected: True Actual: False
+++++++++++++++++++
STACK TRACE:
at TimerChangeTests.Timer_Change_BeforeDueTime_ChangesWhenTimerWillF

[2015-10-01 17:44] VSadov commented on #3481
I tried to make some synthetic benchmarks measuring just overhead of iterator strategies between 1) ThreadID 2)Interlocked 3)enumerator/enumerable not merged.

Time-wise the results are very close with ThreadID approach being faster that Interlocked and separate enumerator being yet slightly faster. That is under ideal conditions for combined enumerable/enumerator - when enumerable is iterated jus

[2015-10-01 17:47] SunnyWar commented on #381
This has been studied a couple times. I recall (but could not find) a study that was done on C/C++ about 20 years ago. Then there is this study on Java: https://dzone.com/articles/omitting-braces-not-just-a-mat
The conclusions are always the same, use braces, even with a single statement after the if.

[2015-10-01 17:52] stephentoub commented on #3481
cc: @KrzysztofCwalina

[2015-10-01 18:10] stephentoub commented on #3581
Seg faulted for me every run locally.  My guess is that https://github.com/dotnet/coreclr/pull/1646 may have made this much more deterministic.

[2015-10-01 18:11] sokket commented on #2894
Part 3 was just fixed with #3471

[2015-10-01 18:12] CIPop commented on #3504
@stephentoub / @pgavlin Do you know if there are any recurrences of this issue?

[2015-10-01 18:13] pgavlin commented on #3504
I haven't seen it, no.

[2015-10-01 18:14] stephentoub commented on #3504
This is the only time I personally saw it.

[2015-10-01 18:19] CIPop commented on #3504
Thanks! Let's close for now. We can reopen if it's seen again.

In general, timeouts are normal for any kind of network operations and should be handled by the code.
In particular, these tests have been designed with certain assumptions:
  1. High performance host. We used to run these only on our dev machines.
  2. Sequential execution. No other test is allowed to ever execute in parallel.

Movin

[2015-10-01 18:27] joshfree commented on #3583
related https://github.com/dotnet/corefx/issues/3533

[2015-10-01 18:29] sokket commented on #3583
Looks like a dupe, closing this one

[2015-10-01 18:29] #3583 closed

[2015-10-01 18:34] davidsh commented on #3343
FYI, it should be fixed once https://github.com/dotnet/coreclr/pull/1645 is checked in.

[2015-10-01 18:42] sokket commented on #1626
#3471 was just merged :)

[2015-10-01 18:57] Priya91 commented on #381
The C# formatting guidelines in this repository was formulated based on VS default formatting rules. I tried the 3 code sample in the description box on VS, and on ctrl+k+d, VS doesn't alter the formatting, all 3 ways are accepted.
Having worked with roslyn and corefx, i have noticed we using the guidelines outlined by @sharwell  in this [comment](https://github.com/dotnet/corefx/issues/381#issuec

[2015-10-01 18:59] ellismg commented on #3574
@ianhays

Can you expand on what you mean by this?  Are you implying that when run on windows vs osx the benchmarks are not using the same strings?  If so, that seems like a bug in the infrastructure we should fix.

FWIW, We almost certainly can do better here.  Are there instructions yet on how to run these tests locally?  @stephentoub and I had some optimization ideas during the PR but we were w

[2015-10-01 19:00] davidsh commented on #381
The simplest rule, IMHO, is to ALWAYS use braces, period.

[2015-10-01 19:23] ianhays commented on #3574
That is correct. However, looking back at the code, I don't see how that could be the case - the strings should be the same as they are using the same Random seed.

There are but they're not adequate; a number of changes have been made to the workflow since I wrote them. I need to update buildtools/CoreFX to xunit 2.1.0 to consume some xunit-performance changes and I will update the docs (both on

[2015-10-01 19:47] #3533 closed

[2015-10-01 19:56] jasonwilliams200OK commented on #1626
@sokket, thanks for the update. I built master (f467911) on FreeBSD using this guide: https://gist.github.com/jasonwilliams200OK/6efa7907e66275df2d24. Current blocker is https://github.com/dotnet/buildtools/issues/292, which is fixed in upstream but waiting for next buildtools roll-out. :)

[2015-10-01 20:08] ianhays opened #3588 "Perf: System.Collections List, Dictionary default constructors 2x slower on Linux"
Perf Tests:
[code]

Linux perf results for Dictionary:
[code]

Windows perf results for Dictionary:
[code]

Linux perf results for List:
[code]

Windows perf results for List<object>
[code]

Note that these results are only for the default constructors. Results for ```new Dictionary(int size)```, ```new List(int size)```, and ```new List(IEnumerable enumerable)``` are even across platforms. I susp

[2015-10-01 20:20] ianhays opened #3590 "Perf: NonGeneric.HashTable default constructor 4x slower on Linux"
Perf test:
[code]

Linux results:
[code]

Windows results:
[code]

Probably somehow related to #3588. Confirmed results with Stopwatch.

[2015-10-01 20:34] ianhays opened #3591 "Perf: Directory.GetCurrentDirectory 20% slower on Linux"
Low priority, could use more investigation:

Perf test:
[code]

Linux results:
[code]

Windows results:
[code]

[2015-10-01 20:53] kouvel commented on #3569
It looks like this was caused by my change e780495d6e7575812fd5c42d4125c35b6054fa95. I had a clean test run on the PR though, so maybe in combination with another change. I'll investigate.

[2015-10-01 20:59] stephentoub commented on #3591
My guess this one is really just about the difference between the underlying system calls being made on Windows and Unix and that there's little we're going to be able to do about it in corefx.  We might be able to tweak certain paths to make them more inlineable, etc., but there's relatively little logic being executed here between the call to GetCurrentDirectory and the underlying call to getcwd

[2015-10-01 21:01] stephentoub commented on #3590
For all of these issues about ctor performance with objects that are purely managed code, I don't expect there's going to be anything to fix on the corefx side of thing.  It'd be good to come with some canonical example that can be used to open an issue against coreclr instead.  Hopefully we can fix it on the coreclr side of things.  If not, we might learn about certain operations that have differ

[2015-10-01 21:03] ellismg opened #3592 "System.Linq.Parallel test hanging in Linux CI"
The CTT_NonSorting_AsynchronousMergerEnumeratorDispose seems to hang sometime in CI with a callstack that looks like this:

[code]

Don't really have more details.  If you would like, next time see it in CI I can hold the machine for you.

[2015-10-01 21:24] weshaggard commented on #3534
@AtsushiKan can you give a specific project and repo steps so I can try to understand what is happening here? For example is it that it doesn't show up in the solution explorer correct or is it that intellisense in for code defined in these files doesn't show up?  If you use relative paths does that fix the problem?

[2015-10-01 21:33] AtsushiKan commented on #3534
Problem occurs when a project has two .cs files in the $(Common) path that reference types in each other.

For example, open up System.Security.Cryptography.Cng.sln

Open up Common\src\Internal\Cryptograpy\HashProviderCng.cs (this is in the Common path, mapped to Internal\Cryptography in the solution explorer.)

The file contains a type declaration:

     internal sealed class HashProviderCng : Ha

[2015-10-01 21:37] sokket commented on #3162
This doesn't repro on the latest from dnvm; version 1.0.0-rc1-15779. Please re-open if you see this repro again :)

[2015-10-01 21:37] #3162 closed

[2015-10-01 21:42] zhenlan commented on #1931
This is discussed with API review and here is current plan https://github.com/dotnet/apireviews/pull/16

[2015-10-01 21:44] joshfree commented on #3172
@sokket @eerhardt could you take a look?

[2015-10-01 21:52] weshaggard commented on #3534
@Pilchie is this a known limitation with intellisense in VS?

[2015-10-01 22:14] pgavlin opened #3596 "CI builds are failing due to a bad package for Xunit.netcore.extensions"
The version of xunit,netcore.extensions.dll shipped in the latest xunit.netcore.extensions package references 'xunit.core, Version=2.1.0.3168', but the latest version of xunit.core that is available seems to be 'xunit.core, Version=2.1.0.3029'.

[2015-10-01 22:15] pgavlin commented on #3596
e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx_mac_release_prtest/3867/consoleFull#-287117688a82fefab-f698-416f-8fca-58544c94cd4e, http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/4717/

[2015-10-01 22:15] pgavlin commented on #3596
@stephentoub @joshfree: any idea who should take a look at this?

[2015-10-01 22:18] stephentoub commented on #3596
It appears to have something to do, at least in part, with @vancem's recent change. I reverted it here https://github.com/dotnet/corefx/pull/3593 and it's green.

[2015-10-01 22:23] kouvel commented on #3569
It certainly was my change. The issue is that removing the PKT check in the binder when binding to assemblies on the TPA list means when the app executable is unsigned and alongside corerun, it's treated as a platform assembly and the assembly load context doesn't get locked.

This seems to be by design as far as the binder is concerned. If the app executable were signed or in a different director

[2015-10-01 22:25] pgavlin commented on #3596
FWIW, I hit this a few times in local builds when working on Sockets. Locking my version of xunit.netcore.extensions to 1.0.0-prerelease-00085 seemed to fix things. Seems like the newer package versions are busted, though.

[2015-10-01 22:36] joshfree commented on #3134
@ellismg could you look at adding support for elevated permission runs after you finish up Win7\Win10 CI runs?

[2015-10-01 22:44] stephentoub commented on #3569
Thanks, @kouvel. I already disabled the test this morning.

[2015-10-01 22:45] kouvel commented on #3569
Oh that's great, thanks!

[2015-10-01 23:31] morganbr commented on #3573
Giving to @gkhanna79 to reassign

[2015-10-01 23:38] bartonjs commented on #3596
I ran into similar failures when doing #3513, which is why I rolled back all the project.lock.json parts having to do with xunit.

@stephentoub if you just edit  src/System.Diagnostics.DiagnosticSource/tests/project.json
to use 00085 for the xunit package (instead of *), build, then edit project.json and project.lock.json to turn it back into *, and rebuild, everything'll probably be ok.

[2015-10-01 23:51] stephentoub commented on #3596
Thanks, @bartonjs.  I'd tried something similar at https://github.com/dotnet/corefx/pull/3597, but it didn't work... I likely just got it wrong.  @ellismg said he's trying out a fix he and @ericstj discussed.

[2015-10-02 00:15] MgSam commented on #381
Not to prod the sacred cow too much, but having an always-use-braces rule could be "less expensive" in terms of wasted space if the opening brace was on the same line as condition:
[code]

[2015-10-02 01:16] CIPop commented on #894
PR submitted: #3600.

[2015-10-02 01:44] stephentoub commented on #3566
As written, this test is really just a thin veneer over GetEnvironmentVariable.  I think this is essentially the same issue as #3568.

[2015-10-02 02:23] ellismg commented on #3576
We don't have an R# settings file, if you would like to contribute one, PRs are welcome!  We do have a regular vsssettings file (https://github.com/dotnet/corefx/blob/master/corefx.vssettings) which should codify some stuff.

I believe the long term plan is to get codeformatter to run as a roslyn analyzer so it can provide fixes in your editor as your develop, but @jaredpar would know more about t

[2015-10-02 03:35] YoungGah commented on #3423
Thanks for all your feedbacks and JSON is out, then. We will get back to you with another proposal.

[2015-10-02 04:44] jaredpar commented on #3576
@ellismg that's correct.  There is an effort underway to move the fixes to analyzers and have code formatter be a driver.  That way it can work equally as well as a command line tool and IDE feature.

[2015-10-02 04:44] ellismg commented on #3596
Fixed in master now.

[2015-10-02 04:44] #3596 closed

[2015-10-02 05:02] gkhanna79 commented on #3573
@janvorli Jan, can you please take a look?

[2015-10-02 05:50] weshaggard commented on #381
Thanks for all the feedback but I'm still inclined to keep the existing style guideline. We have a ton of preconditions that use this no-brace style and I think that is the primary use case for it and I don't feel it is worth adding 2 lines per precondition per method only containing braces in all our libraries. Yes there is some risk but I believe there is risk in any guideline we choose and that

[2015-10-02 05:50] #381 closed

[2015-10-02 07:13] janvorli commented on #3573
@ianhays, @gkhanna79 I've profiled the test and found that 90% of the time is spent in kernel reading /dev/urandom in the PAL_Random function.
Searching the internet for "/dev/urandom slow" reveals that many people are complaining about the /dev/urandom slowness.

[2015-10-02 07:31] davidfowl commented on #381
Always use braces to avoid things like this:

https://www.imperialviolet.org/2014/02/22/applebug.html

![image](https://cloud.githubusercontent.com/assets/95136/10241361/de6c8f02-689c-11e5-92cb-ecb4e970aebc.png)

:smile:

[2015-10-02 07:35] ellismg opened #3603 "Clean up remains of SecureString"
We seem to still have a project.lock.json file for SecureString's tests in src\System.Security.SecureString\tests

This library is also listed in the README.md file.

Can these be removed now?

[2015-10-02 12:11] JonHanna opened #3607 "QueryEnumerable only accepts expression features prior to Framework version 4.0"
Any expression type introduced after 3.5 will fail with an `ArgumentException`:

[code]

Expressions that existed with 3.5, but using features from 4.0 will also fail with an `ArgumentException`:

[code]

[2015-10-02 12:16] JonHanna commented on #3607
Rather than derive from `ExpressionVisitor`, `ExpressionWriter` derives from an internal class much as `ExpressionVisitor` was in 3.5, but not updated for the subsequent changes.

`ExpressionVisitor` depends on virtual generic methods, which were once not working, so that might be a reason why this was once, but is not now, necessary. Is there any other reason? Preliminary work on deriving from it

[2015-10-02 12:30] broudy3 opened #3609 "GSS-API bindings"
Are there any plans to implement GSS-API bindings? So that services running on linux could do domain authentication.

[2015-10-02 13:59] rkeithhill commented on #3576
@jaredpar Looking forward to having this functionality in the IDE.

[2015-10-02 14:22] Pilchie commented on #3534
Where is `$(CommonPath)` defined?  This should work as long as it works on command line builds.  We basically run msbuild to get the compiler command line to populate IntelliSense.

[2015-10-02 14:27] stephentoub opened #3610 "SendToRecvFromAsync_Single_Datagram_UDP_IPv6 failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_outerloop_windows_debug/721/console
[code]
cc: @davidsh, @cipop, @pgavlin

[2015-10-02 14:29] stephentoub commented on #3610
Another failure in outerloop on Windows that looks by name to be very similar:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_outerloop_windows_release/719/consoleFull
[code]

[2015-10-02 15:04] stephentoub commented on #3591
So as a follow-up, a significant portion of the time is being spent in getcwd and the kernel.  However, about a third of the time is being spent in string conversions, going from UTF8 to Unicode.  That might be something we could improve in coreclr.

[2015-10-02 15:26] joshfree commented on #3609
@davidsh @CIPop @vijaykota

[2015-10-02 15:29] AtsushiKan commented on #3534
The path is:

  <project-specific>.csproj

       <Import Project="$([MSBuild]::GetDirectoryNameOfFileAbove($(MSBuildThisFileDirectory), dir.props))\dir.props" />

Which jumps up two directory levels to src\dir.props

         <Import Project="..\dir.props" />

Which then brings us to $\dir.props

        <ProjectDir>$(MSBuildThisFileDirectory)</ProjectDir>
        <SourceDir>$(ProjectDir)src/</So

[2015-10-02 15:58] #3520 closed

[2015-10-02 16:23] stephentoub commented on #3610
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug/1399/console

I'm going to disable the test.

[2015-10-02 16:26] joshfree commented on #2882
Hi @singlewind, thank you for reporting this issue.  it looks like the azure storage reference mismatch issue is resolved (as of 3 days ago) in Azure Storage 6.0.1-preview.  I'm closing this corefx repo issue now.  Please feel free to reactivate it if you're still experiencing problems.  Thanks

[2015-10-02 16:26] #2882 closed

[2015-10-02 16:34] stephentoub commented on #2498
This hasn't failed again since https://github.com/dotnet/corefx/pull/3404 went in.  I'm going to close this now, and we can reopen it if we see it again.

[2015-10-02 16:34] #2498 closed

[2015-10-02 16:34] davidsh commented on #3609
cc: @SidharthNabar

[2015-10-02 16:37] joshfree commented on #3056
@bartonjs @chcosta

[2015-10-02 16:55] stephentoub commented on #3518
I would focus on areas we know have differences in their implementations in corefx between Windows and Unix, and in particular operations that are often done on hot paths.  Static usage analysis of how many times a particular function is used can tell you the frequency of how often it occurs in the code, but it doesn't tell you how often it's invoked, e.g. if a function is used in a tight loop it'

[2015-10-02 16:59] joshfree commented on #3014
I've pinged our msdn doc team offline.

[2015-10-02 17:01] bricelam commented on #3423
In case it's useful, I did an EF feature spec on a new [Schema Information](http://entityframework.codeplex.com/wikipage?title=Schema%20Information) API a few years ago. We never got around to implementing it, and it was definitely skewed toward EF, but it my be interesting to look at in the context of this issue.

[2015-10-02 17:04] VSadov commented on #3607
It could also be to protect preexisting query providers (like Linq to SQL) from unspecified behavior in case they see new nodes.

[2015-10-02 17:20] pgavlin commented on #3542
These tests were moved into [OuterLoop]  by #3548.

[2015-10-02 17:20] #3542 closed

[2015-10-02 17:20] pgavlin commented on #3610
Thanks; I'll look into the failures.

[2015-10-02 17:21] YoungGah commented on #3423
@bricelam Thanks for the spec! We will look into it.

[2015-10-02 17:27] joshfree commented on #2984
/cc @chcosta

[2015-10-02 17:33] terrajobst commented on #3482
The proposal looks good. I think what's missing is:

* Which type should we extend? Should we handle the read-only interfaces, should we handle the non-generic interface, too?
* Which type should it go into?

[2015-10-02 18:01] terrajobst commented on #3054
Just follow up, this feature was [approved](https://github.com/dotnet/apireviews/tree/master/2015-09-22-misc#3054-assemblyloadcontextloadunmanageddllfrompath).

[2015-10-02 18:01] #3054 closed

[2015-10-02 18:04] joshfree commented on #3014
this particular doc issue has been addressed – member signatures are auto-generated by reflection, and the build system evidently reflected over the wrong set of DLLs in this case. The fix was made on 9/30.  The change appears on MSDN now – the property is no longer virtual.

[2015-10-02 18:04] #3014 closed

[2015-10-02 18:07] pallavit commented on #3603
@ellismg Thanks for creating the issue. I am not sure why project.lock.json file was left behind since I removed the whole System.Security.SecureString directory! I will send a PR,.

[2015-10-02 18:11] tarekgh opened #3616 "Fix Serbian date formats"
In the following cultures

sr-Cyrl-XK
sr-Latn-ME
sr-Latn-RS
sr-Latn-XK

it has wrong date pattern as "d. M. yyyy.". the CLDR don't include spaces. the problem with that is parser get confused between the date and the time separator and fail parse these dates.
these cultures has time pattern as hh.mm.ss. so we'll have date separator as ". " and time separator as ".".

The fix is we need to remove t

[2015-10-02 18:12] tarekgh commented on #3616
@eerhardt please have a look and let me know if you can fix it in the data we read from Linux if not I'll try to look at fixing it in the parser.

[2015-10-02 18:13] jasonwilliams200OK commented on #3014
Thanks @joshfree!
Would be a good idea to have "last updated" date on MSDN pages as well.

[2015-10-02 18:14] CIPop commented on #381
:+1: to that! Simple rule, 0 risk.

[2015-10-02 18:41] redknightlois commented on #1991
@stephentoub Got some time to look into this while waiting until another issue which is blocking me. I am having a hard time to build in VS2015 CoreFX, if I manage to make it work I plan to add the .Reset( Stream stream ) to GZipStream/DefrateStream. However, that is a public API Change, should be done on the Future branch? Is there any formal API review work we should do before starting?

[2015-10-02 18:49] #3592 closed

[2015-10-02 19:04] ianhays commented on #3572
Adding results for the int constructor as well:

Perf test:
[code]

Linux results:
[code]

Windows results:
[code]

[2015-10-02 19:21] corivera opened #3620 "Add Return Value for SendControlPacket in SNIMarsHandle"

[2015-10-02 19:25] corivera opened #3621 "Add SetBufferSize Methods To All SNIHandle Classes"

[2015-10-02 19:26] corivera opened #3622 "Add Async Overrides to SslOverTdsStream"

[2015-10-02 19:31] ianhays commented on #3574
@ellismg updated docs coming in https://github.com/dotnet/corefx/pull/3619.

[2015-10-02 19:36] yishaigalatzer commented on #3103
What version of NuGet and visual studio are you using?

[2015-10-02 19:46] redknightlois opened #3623 "System.IO.Compression.Tests solution not building on Visual Studio 2015"
It does build with build.cmd, but if you open it and try to build it from the solution file with my current environment these are the errors.

[code]

From the error message it looks like there are issues with some of the dependencies. How build.cmd manages to work is a mystery at least to me (unless it is not building the Test projects).

Any idea on how to solve this?

[2015-10-02 19:46] stephentoub commented on #3580
Failed again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/4552/console

[2015-10-02 19:49] redknightlois commented on #3623
Scrap the is not succeeding part of the error. I do see now that they are, but Visual Studio report errors which is very misleading. Also noticed that the default from the solution file for some reason is Linux_Debug, the same happens on Windows_Debug though.

[2015-10-02 20:01] stephentoub commented on #3505
I'm reopening this, as there is an issue here to be dealt with.  Without sacrificing any behavioral similarities between Windows and Unix, I think I can at least improve the GetProcessesByName case significantly.  Assigning to myself to address.

[2015-10-02 20:05] Maoni0 commented on #2938
@stephentoub, is this the same test we were talking about last time wrt GetGeneration?

[2015-10-02 20:06] stephentoub commented on #2938
Yup

[2015-10-02 20:07] Maoni0 commented on #2938
then shouldn't we just disable this test?

[2015-10-02 20:24] stephentoub commented on #2938
We did, a month ago. This issue is from August. At this point the action is either to fix the test (or product) and enable it, or delete the test. Then the issue can be closed.

[2015-10-02 20:28] Maoni0 commented on #2938
can you please elaborate you meant by fixing the product? I don't recall anything in the product needs fixing for this...

[2015-10-02 20:32] stephentoub commented on #2938
I was trying to make a general point that when a test fails, it's either because the test is buggy and the product is fine or the test is fine and the product is buggy. In this case it's probably just that the test is buggy, but I was trying not to assume anything.

[2015-10-02 20:40] corivera opened #3624 "Improve Managed SNI Performance With Async Delegate Caching"

[2015-10-02 20:42] muratg opened #3625 "Beta 8 blocker: IPAddress.ToString and .Parse fails on OS X with DNX"
Example program:

[code]

Stack Trace:

[code]

There is no exception or stack trace from “IPAddress.Parse("1.1.1.1")”. The process just crashes.

Use the latest DNX (`dnx-coreclr-darwin-x64.1.0.0-beta8-15794`) from `aspnetrelease` feed.  There's a reference issue that we're fixing that you'll need to workaround. Just copy `runtime.unix.Microsoft.Win32.Primitives/4.0.1-beta-23326/lib/dotnet/Micros

[2015-10-02 20:43] muratg commented on #3625
@pgavlin

[2015-10-02 20:49] mellinoe commented on #3103
I tried this just now with version 3.2.60914.10516 (latest on the VS gallery), and it still repros.

[2015-10-02 21:21] yishaigalatzer commented on #3103
Added a comment on the nuget bug, this looks like a difference in behavior between the F# system and the C# project system. I'm currently assuming that the fix will come from F# or that we get guidance and roll it into NuGet 3.3. For now closing the Nuget bug, if we change our mind we can re-open it.

CC @Pilchie

[2015-10-02 21:35] tarekgh commented on #3391
Fixed with the PR #3613 also opened related issue #3616

[2015-10-02 21:35] #3391 closed

[2015-10-02 21:43] pgavlin commented on #3625
Okay. I've reproduced this, but I've also verified that it's fixed in newer builds of CoreFX.

[2015-10-02 22:00] pgavlin commented on #3625
We've decided to keep this open to track backporting the fix for beta8.

[2015-10-02 22:07] saurabh500 opened #3629 "Fix the System.Net.Sockets version on SqlClient"
We have changed the version of the System.Data.SqlClient to use System.Net.Sockets 4.0.10-beta-* from 4.0.10.0
This was happening due to a runtime error while resolving 4.0.10.0
This needs to be investigated.

https://github.com/dotnet/corefx/pull/3567

[2015-10-02 22:10] nguerrera opened #3630 "RenamedTests.FileSystemWatcher_Moved_NestedDirectoryRoot failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/4559/console

[code]

[2015-10-02 22:52] janvorli commented on #3568
Here is the top 10 from the profiler:
[code]

I have tried to experimentally replace the malloc / free in the GetEnvironmentVariableW by stack allocated arrays and it has resulted in 19% performance boost.
UnicodeToUTF8 looks like there could be an opportunity to optimize it better for the case when there are relatively long runs of ascii only characters, like in the env variables.
__memcmp_sse4_1

[2015-10-02 23:06] naamunds commented on #3538
What would be the cost of producing binary packages of CoreCLR for FreeBSD and other Linux distributions?  Might it be less work than option 3 that you gave?  Why do we only support Windows, Ubuntu, and OS X today?

One concern I have about option 2 is what happens if some piece of the CoreCLR build which is required for building CoreFX does not support Mono?  Does this option assume that all such

[2015-10-02 23:07] JonHanna commented on #2938
Or... The test is buggy **and** the product is buggy...

[2015-10-02 23:17] joshfree commented on #3625
@chcosta and @ellismg are pulling the fix into the VSO release branch now for a beta8 rebuild.

[2015-10-02 23:37] weshaggard commented on #3623
@redknightslois this is a known limitation with the different OS configurations. You will need to select Windows_Debug in order for this to work in VS. There isn't any good way to have VS default to Windows in that drop down. If you select Windows_Debug do things work as expected?

[2015-10-02 23:50] redknightlois commented on #3623
@weshaggard No, the same errors keep happening. There is no difference. The strange thing is it builds, it just reports error to Visual Studio.

[2015-10-03 00:03] mellinoe commented on #3623
I've seen this in a bunch of my (non-corefx) projects as well, but I don't know why it happens. I have 155 errors in the VS error list, but 4/4 projects succeeded building.

[2015-10-03 00:29] JonHanna commented on #3607
It shouldn't really affect other providers, unless maybe one delegates something to this provider, in which case it should gain.

[2015-10-03 00:30] #2965 closed

[2015-10-03 00:32] #3394 closed

[2015-10-03 01:31] ellismg commented on #3616
Some CLDR data has spaces in it (see http://www.unicode.org/repos/cldr-aux/charts/24/summary/sr.html).  Am I looking at the wrong data?

[2015-10-03 04:41] #1813 closed

[2015-10-03 04:41] #1863 closed

[2015-10-03 06:14] NightOwl888 opened #3633 "XSD Validation Support - Missing?"
As I [posted earlier on StackOverflow](http://stackoverflow.com/questions/32872684/how-do-i-validate-xml-against-xsd-separate-documents-in-dnx-core-5-0-asp-net?noredirect=1#comment53665404_32872684), I am attempting to port some older code to DNX core 5.0, but it seems that XSD validation support is missing from the library. Or if I am wrong, could someone please provide a sample or point me to th

[2015-10-03 08:26] roji commented on #3423
@bricelam, @YoungGah, this Schema Information definitely seems like a step in the right direction! Some immediate points that come to mind:

* The proposal handles schema table/view metadata, but not resultset metadata (i.e. from a DbDataReader). Of course it would be pretty trivial to extend the proposal for that.
* It's worth thinking about allowing providers to extend these classes to provide p

[2015-10-03 11:59] tthiery commented on #2394
I once also expressed my offer to help with an System.Activities port if it ends up in the corefx repo (no interest in creating a second/third party). If a good team can be established, I am in.

[2015-10-03 13:30] Charmatzis opened #3634 "Which is the System.Drawing replaement?"
Hi, guys.
I have a question... which way is to create images in .net core?

[2015-10-03 13:32] Maxwe11 commented on #3634
#2020
#1563

[2015-10-03 17:12] stephentoub commented on #2938
Sure, there are others as well (e.g. infrastructure). I was simply highlighting the most common reasons, not trying to be complete.

[2015-10-03 18:29] stephentoub opened #3635 "Enable the SocketPerformance tests"
[code]
cc: @davidsh, @cipop, @pgavlin

[2015-10-03 18:32] stephentoub commented on #3630
@JeremyKuhne, separate from the failure, should the path in the exception be using extended syntax like this, or should it be the path the developer specified?  I would have assumed the latter, but it's showing the former.

[2015-10-03 18:39] stephentoub commented on #3568
Thanks, @janvorli.

Regarding ```UnicodeToUTF8```, @ellismg and I were just talking about trying a similar optimization in both it and ```UTF8ToUnicode```, essentially doing a fast pass that assumes ASCII and then falling back to a slower path if necessary.  Lots of the cases where strings are marshaled will be all or mostly ASCII.

Sounds like a good thing to do regardless of any other optimizati

[2015-10-03 18:56] janvorli commented on #3568
@stephentoub - as for the UnicodeToUTF8 doing fast path assuming ASCII, that's exactly what I've tried yesterday. Basically, moving the ASCII processing to the front of the loop and adding another loop around it to make sure it is tight for fast ASCII processing. The perf. gain of the whole test was about 10%. I will make a similar change to the UTF8ToUnicode, ensure that we allocate / free only f

[2015-10-03 19:01] mfilippov commented on #3162
@sokket Yes on rc1 it worked. Thanks.

[2015-10-03 19:08] benaadams commented on #381
One line for simple ```if (test) return;``` or ```if (test) throw;``` tests at top of function or braces.

If its too big for one line; then should be braces, as it will fail at some point the future when someone edits or refactors.

Everything else with braces for exactly this reason:

Just our take...

[2015-10-03 19:08] JeremyKuhne commented on #3630
We probably should give back the original syntax. Need to update the helper to keep the context to know to pull the prefix if we throw.

[2015-10-03 23:58] jasonwilliams200OK commented on #2070
@sokket, is `System.Diagnostics.Process` anywhere on the shim radar? :)
( hopefully not, but ) I think this one is going to be bit more challenging than https://github.com/dotnet/corefx/pull/3471.

[2015-10-04 00:50] ZigMeowNyan opened #3636 "Any chance to integrate functionality from System.ComponentModel.Composition?"
A lot of `System.Composition` code has been [merged recently](https://github.com/dotnet/corefx/pull/1851), and lines up with the MEF 2 code from codeplex. Is any of the code from `System.ComponentModel.Composition` likely to be integrated? I have an old codebase that I've been refactoring and splitting out into separate components, and for some scenarios, I've had to use `System.ComponentModel.Com

[2015-10-04 04:29] ellismg commented on #3625
Just so everyone knows what we did, we cherry picked f3191981b3739742e4f728b6a13a880abe12c5a6 into our beta8 release branch (which is on VSO not on GitHub) since @pgavlin said this would address the issue.  New builds should be produced as part of our official build Sunday night, which ASP.NET will then pick up.

[2015-10-04 05:50] jasonwilliams200OK commented on #1626
Update: new buildtools with fix for dotnet/buildtools#292 has landed in CoreFX master. Next stopper from buildtools is https://github.com/dotnet/buildtools/issues/300: missing OS specific tool to be able to run the tests.

@janhenke, you have marked `System.Diagnostics.Process` (#2070) and `System.IO.FileSystem.Watcher` (#2046) as done; but they are neither implemented nor do they compile on FreeB

[2015-10-04 05:55] janhenke commented on #1626
As far as I recall I verified the associated shims compile. Since the managed code should be free of FreeBSD specific code. Those shims you mention should have been shimed out with the PRs linked above.

[2015-10-04 06:01] jasonwilliams200OK commented on #1626
Actually, PR https://github.com/dotnet/corefx/pull/3257 is not related to shim. There is still some PAL code within the managed projects (the old approach), therefore it is required to build managed assemblies to be absolutely sure.

[2015-10-04 06:05] janhenke commented on #1626
I disagree. It is refactoring the P/Invoke code to the System.Native shim. Also as I edited above, I am recalling at least some of the assemblies compiled in between.

[2015-10-04 06:21] jasonwilliams200OK commented on #1626
https://github.com/dotnet/corefx/pull/3257/files: see the instances of `.Unix.cs` and `.Linux.cs` for `System.Diagnostics.` and `.OSX.cs` are untouched.

Yes it does refactor some common helpers under `System.Native`, but not for `System.Diagnostics.*` et al.

[2015-10-04 11:23] stephentoub commented on #1626
Even when these assemblies are only P/Invoking to System.* libs, there may still be FreeBSD work required for some of them, e.g. System.Diagnostics.Process and System.IO.FileSystem.Watcher. They are using functionality specific to Linux and OS X, and we don't plan to try to abstract that behind native shims. The goal of the shims isn't to end up with a single managed binary for Unix, though that's

[2015-10-04 11:27] stephentoub commented on #1626
FYI, there are no corefx assemblies named System.Diagnostics.ProcessManager,
System.Diagnostics.ThreadInfo,
System.IO.FileSystemWatcher, or
System.Net.SocketAddress. Those are types in other assemblies.

[2015-10-04 11:33] Charmatzis commented on #3634
I tried to build it as the instructions says, but I use VS2015 x64 Native Tools Command Prompt and it fails....
Is there anything that we can do?
The errors are:
C:\Program Files (x86)\Windows Kits\10\include\10.0.10240.0\ucrt\stdio.h(1925): warning
C4005: 'snprintf': macro redefinition
c:\users\xr_xa_000\documents\github\libgd\src\gd.h(92): note: see previous definition of
 'snprintf'
C:\Program

[2015-10-04 17:18] Eilon commented on #3482
@terrajobst I would think that just `IDictionary<K,V>` and `IReadOnlyDictionary<K,V>` would be sufficient. As to the non-generic `IDictionary`, well, it would be nice to have the symmetry, but I don't see that type used much anymore. Generics have been around since 2005 (.NET 2.0, **ten** years ago, wow, that's a long time ago!), so nearly every API since then uses the generic flavors.

As to the

[2015-10-04 17:33] JonHanna commented on #3482
It's pointless on `IDictionary` as it's indexer is specified as returning `null` when the key isn't found, anyway. (Which was a great nuisance).

[2015-10-04 17:40] jasonwilliams200OK commented on #1626
Does that mean whenever Solaris and non-glibc (musl and  μlibc) targeting Linux such as Alpine supports will arrive, they will have separate binaries? And then different architectures ARM, MIPS, RISC, SPARC etc. would require another level of separation?

Wouldn't it make sense to converge them to POSIX interface / sys-calls as much as possible and feature-detect the differences using configs (via

[2015-10-04 18:44] stephentoub commented on #1626
We do. How do you propose doing file watching well via POSIX?

[2015-10-04 20:45] jasonwilliams200OK commented on #1626
We cannot do all of it POSIX, since inotify is Linux specific. FreeBSD/OSX offers a separate implementations.

#### Proposal:

From native binaries distribution viewpoint, every OS should receive equal set of binaries with same names, but different functionality.

Here is a proposed structure:

[code]

---

[code]

---

[code]
---

[code]

---

[code]
---

[code]

[2015-10-04 23:26] stephentoub commented on #1626
This is essentially what we have, e.g.
- "common_function_for_posix_compliants" are natively-shimmed 1:1 functions consumed from logic in a shared Unix managed binary
- "slightly_diverged_function" are natively-shimmed almost 1:1 functions with some native #ifdefs consumed from logic in a shared Unix managed binary
- "painfully_diverged_watch_function" are / will be natively-shimmed 1:1 functions

[2015-10-05 02:07] jakesays commented on #1797
What work needs to be done to restore this feature? I was looking at the coreclr repo and all the code to make this work seems to be in place. `StackTrace` and `StackFrame` are in mscorlib.dll, and the ecall method implementation of `StackTrace.GetStackFramesInternal()` is present in the clr. What else is needed?

[2015-10-05 13:20] stephentoub commented on #3568
Excellent.  Thanks, @janvorli; sounds like you're way ahead of us :)

[2015-10-05 13:35] stephentoub commented on #2704
The proposal is essentially to add either an instance method to CancellationToken:
[code]
or an extension method somewhere:
[code]
(names would obviously be flexible... WaitAsync, WhenCanceled, etc.)

Personally, I don't think we should add this, for the reasons called out on this thread.  In particular, making it easy for code to do:
[code]
with built-in support for this will make it very easy to

[2015-10-05 15:15] stephentoub opened #3641 "UdpClientTest.BeginSend_Success failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/4595/console
[code]
cc: @cipop, @pgavlin, @davidsh

[2015-10-05 15:17] AtsushiKan commented on #1965
Also failing (soon to be checked in) AesCornerTests.TransformStateSeparation(). It's likely these two are linked the to the same cause.

[2015-10-05 15:26] ianhays commented on #862
Completed in #2696?

[2015-10-05 15:26] stephentoub commented on #1991
@redknightlois, thanks.  The API review process is outlined at https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md.

[2015-10-05 15:28] stephentoub commented on #3542
Certainly if the tests weren't written to be run as part of a normal CI job then we shouldn't be doing so.

More generally, however, eventually I do believe we'll want perf legs as part of CI jobs, so that we can verify that core performance isn't regressed by a change in addition to functionality not being regressed.  I'm not sure whether this would apply to networking or not.

[2015-10-05 15:47] tarekgh commented on #3616
@ellismg

look at  the following links:
http://demo.icu-project.org/icu-bin/locexp?d_=en&_=sr_Cyrl_XK
http://demo.icu-project.org/icu-bin/locexp?d_=en&_=sr_Latn_ME
http://demo.icu-project.org/icu-bin/locexp?d_=en&_=sr_Latn_RS
http://demo.icu-project.org/icu-bin/locexp?d_=en&_=sr_Latn_XK

you'll find:
      Short Date d.M.yy. 5.10.15.

Also can download the raw CLDR data from http://www.unicode.org

[2015-10-05 16:09] bartonjs commented on #3542
Right now one potential problem with that is that we allow multiple PR jobs to run on the same machines, in parallel.  So wall-clock based performance metrics can be impacted by process switching.

[2015-10-05 16:13] stephentoub commented on #3542
I'm less interested in wall clock measurements for such things than I am in instructions retired and GC allocations.

[2015-10-05 16:27] joshfree commented on #522
@ericeil

[2015-10-05 16:35] stephentoub commented on #3284
@DamianEdwards, just wanted to check in on this.  Still investigating?

[2015-10-05 17:09] migueldeicaza commented on #3634
There is an open source System.Drawing implementation in Mono:

github.com/mono/mono/tree/master/mcs/class/System.Drawing

It requires this:

https://github.com/mono/libgdiplus

[2015-10-05 17:10] migueldeicaza commented on #2020
Perhaps it got lost in the noise, but you can use System.Drawing from Mono, it might require a change or two here and there:

https://github.com/mono/mono/tree/master/mcs/class/System.Drawing

It requires this:

https://github.com/mono/libgdiplus

[2015-10-05 17:46] pallavit commented on #3603
This should already be fixed as part of #3628

[2015-10-05 17:46] #3603 closed

[2015-10-05 18:07] ericeil commented on #522
What scenario is motivating this request?  This isn't there now because it's not clear what the right way to do it across all OS platforms would be.

[2015-10-05 18:33] ianhays commented on #3571
Posting results for DateTime.UtcNow.

Test:
[code]

Linux results:
[code]

Windows results:
[code]

[2015-10-05 18:35] ianhays commented on #3571
@stephentoub

[2015-10-05 18:35] joshfree commented on #142
I'm closing this request from last November; feel free to reactivate it when the additional info @ellismg asked for is ready.  Thank you

[2015-10-05 18:35] #142 closed

[2015-10-05 18:37] saurabh500 opened #3642 "Move strings to .Resx for managed SNi in Sql Client if needed"
Refer PR https://github.com/dotnet/corefx/pull/3567

Move the strings in Managed SNI to .resx if needed

[2015-10-05 18:50] stephentoub commented on #3571
Interesting.  This suggest that on Windows, DateTime.Now is 100x slower than DateTime.UtcNow (which makes some sense, given that Now is a wrapper for UtcNow that calls UtcNow and then does timezone translation), but that on Linux, DateTime.Now is approximately the same speed as DateTime.UtcNow...?  If that's true, that begs two questions:
- Why is TimeZoneInfo.GetDateTimeNowUtcOffsetFromUtc appare

[2015-10-05 18:54] eerhardt commented on #3571
Do we have some sort of profiler trace for these runs? (Do we have a profiler at all on Linux?) I don't see one, but I'm assuming we do given @stephentoub's comments above.

[2015-10-05 18:59] rpetrusha commented on #1407
I've fixed it. The revised version now appears at https://msdn.microsoft.com/en-US/library/9hhycxf3(VS.110).aspx.

[2015-10-05 19:01] stephentoub commented on #3571
My comments were simply based on the timings in Ian's data; I haven't profiled beyond that, but was planning to shortly.

I've been using oprofile

[2015-10-05 19:30] Maxwe11 commented on #1407
@rpetrusha nice, closing.

[2015-10-05 19:30] #1407 closed

[2015-10-05 19:50] jeffhandley opened #3646 "UriBuilder.Query property setter is not idempotent"
The `UriBuilder.Query` property setter prepends the supplied value with a `?` character, even if the supplied value already starts with `?`.

https://github.com/dotnet/corefx/blob/41e203011152581a6c65bb81ac44ec037140c1bb/src/System.Private.Uri/src/System/UriBuilder.cs#L277

This means that code calling the `Query` setter has to check to ensure the value it's passing doesn't already have the questi

[2015-10-05 20:13] joshfree commented on #2723
@ianhays @ericeil

[2015-10-05 20:14] stephentoub commented on #3571
@ianhays, I'm seeing very different results on my Linux machine, with DateTime.Now being 10x slower than DateTime.UtcNow (which makes sense).  Do you know why your numbers show them being basically the same?

[2015-10-05 20:25] ianhays commented on #3571
Hmm, odd. I ran only that particular test, so there wouldnt have been any interference from other tests. I"ll toy around with the runner a bit and try writing a test in the old style and compare the results.

[2015-10-05 20:30] joshfree commented on #157
/cc @CarolEidt

[2015-10-05 20:41] ianhays commented on #2723
No idea what this is. @mellinoe, @jhendrixMSFT any context?

[2015-10-05 20:46] mellinoe commented on #2723
Seems to be related to the old perf tools, which we don't use now.

[2015-10-05 20:46] ianhays commented on #2723
Thought so, thanks. Going to close it then.

[2015-10-05 20:52] joshfree commented on #2575
@saurabh500 can you follow up please

[2015-10-05 20:54] stephentoub commented on #2703
This essentially exists, it's just called ContinueWith, e.g.
[code]

This is very dangerous.  We do not want to expose tasks that never complete.

[2015-10-05 21:00] #3505 closed

[2015-10-05 21:02] ianhays commented on #3571
Hmmm. I'm still getting the same thing. Would you mind posting your results? I'm getting similar numbers regardless of the method used. Perhaps the xunit runner is messing with my results somehow?

Xunit tests:
[code]

LINUX results:
DateTime.Now: 00:00:00.0602122
DateTime.UtcNow: 00:00:00.0534786

I'm running the tests individually, so they arent being affected by other tests.

[2015-10-05 21:03] #2723 closed

[2015-10-05 21:14] YoungGah commented on #2575
@Phasiq The support for SQL alias has been intentionally removed from CoreFX.

[2015-10-05 21:39] stephentoub commented on #3571
For UtcNow:
[code]
produces output:
[code]

For Now:
[code]
produces output:
[code]

[2015-10-05 21:43] GSPP commented on #2704
Fair enough. From my own experience I would disagree with the assessment that "abandoned" resources around such a `cancellationToken.WaitAsync` task would be rare enough. But of course that depends on personal history and willingness to take API risk.

I have these scenarios in my codebase:

1. Synchronously waiting for a token to be signaled.
2. Using WhenAny and not wanting the call to throw. Ex

[2015-10-05 21:55] GSPP commented on #2703
OK, similar discussion as in the other issue.

The code really should be

    task.ContinueWith(_ => { }, TaskContinuationOptions.ExecuteSynchronously)

which is quite tedious. If there's a good way to have this built-in that would be useful to avoid misusing exceptions for control flow. Many beginners are doing that right now in combination with await and the TPL.

[2015-10-05 22:00] davidsh commented on #3646
cc: @CIPop @SidharthNabar

[2015-10-05 22:19] sharwell commented on #2703
You could use the [`Finally`](http://tunnelvisionlabs.github.io/dotnet-threading/docs-latest/html/Overload_Rackspace_Threading_CoreTaskExtensions_Finally.htm) extension method for this.

If you only want the code to execute if the task is successful, you can use the [`Select`](http://tunnelvisionlabs.github.io/dotnet-threading/docs-latest/html/Overload_Rackspace_Threading_CoreTaskExtensions_Select

[2015-10-05 22:20] weshaggard commented on #2801
I'm not sure I want to do this for the general case right now as most folks try and keep there git repo's self-contained. However people can do this on their own by setting some environment variables, in particular BinDir, ObjDir, TestingWorkingDir, PackagesDir, etc. They control where those outputs go.

[2015-10-05 22:24] jasonwilliams200OK commented on #1346
Isn't `ICustomMarshaler` already available since Jan 2015 via https://github.com/dotnet/coreclr/blob/4cf8a6b/src/mscorlib/src/System/Runtime/InteropServices/ICustomMarshaler.cs?

[2015-10-05 22:28] cwensley commented on #1346
@jasonwilliams200OK, yes but it's not public: https://github.com/dotnet/coreclr/blob/4cf8a6b082d9bb1789facd996d8265d3908757b2/src/mscorlib/model.xml#L10158

[2015-10-05 22:31] jasonwilliams200OK commented on #1346
Oh you are right. So should this issue be moved to CoreCLR repo, where it stands better chance to attract some reception? :smile:

[2015-10-05 22:47] ericstj commented on #2549
Actually, nuget will tell you this during a restore.  When restoring an incompatible package nuget will emit an error that the package not supported by netcore45 since it provides no implementation matching the reference assembly.  I think this functionality has not yet been enabled in DNX.

The problem here is that DNX isn't matching the MSBuild behavior that it is trying to replace.  For .NETCor

[2015-10-05 22:47] jasonwilliams200OK commented on #94
@Tragetaschen, all the required assemblies (https://github.com/dotnet/corefx/issues/94#issuecomment-63211643) can be tracked from CoreFX-Progress repo: https://github.com/dotnet/corefx-progress/blob/master/src-diff/README.md. Most of them are already "Done" and few are pending with "Coming" status. IMO, this (broader) issue can be closed as there are specific issues opened for porting remaining as

[2015-10-05 23:32] weshaggard commented on #1346
cc @yizhang82

[2015-10-06 03:04] #821 closed

[2015-10-06 03:04] #841 closed

[2015-10-06 03:25] nguerrera commented on #2604
Fixed by #3585.

[2015-10-06 03:25] #2604 closed

[2015-10-06 03:26] nguerrera commented on #2607
I have not see this for a long time, so assuming #2612 fixed it and we can reopen if there's a re-occurrence.

[2015-10-06 03:26] #2607 closed

[2015-10-06 04:33] saurabh500 opened #3656 "Instructions for using custom CoreFX with CLI"
I have made some changes to the CoreFX for SqlClient and I want to test those changes with an application which is executed using DNX.

How do I achieve this?
I have found some Windows instructions for creating custom DNX by a custom CoreCLR build at https://github.com/dotnet/coreclr/blob/master/Documentation/building/custom-dnx-instructions.md

I couldn't find anything about CoreFX.
I tried to re

[2015-10-06 04:42] christiannagel opened #3657 "Using System.Composition.*"
I tried to use the System.Composition packages, but didn't find them on a NuGet feed, and trying to open the solutions resulted in this error
"The <TargetFrameworkIdentifier> for a portable project must be .NETPortable."
How can I use these libraries? What's the roadmap for System.Composition.*?

Thanks!

[2015-10-06 05:41] pgavlin opened #3658 "System.Threading.Tasks.Dataflow.Tests hanging in CI"
For example:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/3031/console
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/3035/console
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/3036/console

[2015-10-06 07:19] Tragetaschen commented on #94
You are right. I'm already seeing a lot of progress and a lot of much more specific promises in focused issues (like the already referenced ones). Thanks!

[2015-10-06 07:19] #94 closed

[2015-10-06 07:38] ellismg commented on #3656
/cc @davidfowl

What version of DNX are you using?  I am not sure if we are still dropping assemblies in the runtime folder (unless DNX directly depends on them, which would not be the case here) or if you need to put them in the packages folder.

Does setting DNX_TRACE=1 produce any helpful output (e.g. is the runtime booting?)

[2015-10-06 07:38] ellismg commented on #3658
/cc @stephentoub

[2015-10-06 08:10] blobor commented on #522
@ericeil In case I want to invoke external native function that requires STA state.

[2015-10-06 08:16] blobor commented on #522
@ericeil As for multi-platform support you are right, it's suitable only for windows OS. So in case user tries to set apartment state in Linux OS, I guess the best way will be to throw an exception.

[2015-10-06 09:49] JanSichula commented on #2020
Thanks @migueldeicaza for pointing this out. Now may I ask what are the chances to get https://github.com/mono/mono/tree/master/mcs/class/System.Drawing working against CoreCLR?

[2015-10-06 11:25] stephentoub commented on #3658
I'll take a look... nothing's changed here in src or tests in very long time, so this is almost certainly due to some recent change in coreclr.

[2015-10-06 14:14] stephentoub commented on #3658
@janvorli, I believe https://github.com/dotnet/coreclr/pull/1677 broke this.  When I checkout the commit before yours, the tests all pass, and when I sync to include your commits, the tests hang.  Can you please take a look?  This (along with another deployment issue we're investigating) is blocking our CI runs.

[2015-10-06 14:15] Kagamine opened #3661 "Word spelling problem with “occurred”"
https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=occured

[2015-10-06 14:39] janvorli commented on #3658
I am looking into that.

[2015-10-06 15:56] ianhays commented on #3571
I figured out the issue. I was setting the time for my Linux machine by modifying /etc/timezone. Setting it to anything else made no difference in the results.

However, when I changed time in a different way:
[code]

I now get results more similar to yours.

DateTime.Now:
[code]

DateTime.UtcNow
[code]

So the reason they were the same time is because no conversion was happening in DateTime.Now.

[2015-10-06 16:48] eerhardt commented on #3571
Here are the rules for how the "Local" time zone is calculated on Linux:
[code]

[2015-10-06 16:50] eerhardt commented on #3571
So now if you compare DateTime.Now on Linux to Windows, are you seeing Linux being ~30x slower than Windows?

[2015-10-06 17:05] iamjasonp opened #3667 "System.Security.Claims.Claim..ctor parameter checks are too restrictive in CoreCLR"
There is a behaviour difference in `System.Security.Claims.Claim...ctor` that got introduced in CoreCLR but this check does not exist in Desktop. As such, there are scenarios such as creating an anonymous identity (i.e., GenericIdentity with no subject name) that now breaks in CoreCLR.

Sample Repro:

    public static void Main()
    {
        System.Security.Principal.GenericIdentity identity =

[2015-10-06 17:12] ianhays commented on #3571
Linux DateTime.Now shows as being 35x slower than Windows DateTime.Now.
Linux DateTime.UtcNow shows as being 71x slower than Windows DateTime.UtcNow
Linux DateTime.Now shows as being 10x slower than Linux DateTime.UtcNow
Windows DateTime.Now shows as being 28x slower than Windows DateTime.UtcNow

Results:

Linux DateTime.Now:
[code]

Windows DateTime.Now:
[code]

Linux DateTime.UtcNow:
[code]

Win

[2015-10-06 17:15] joshfree commented on #3667
@bartonjs is going to fix the two if-checks that were regressed;

[2015-10-06 17:24] sokket commented on #2070
Sorry for the late response, I was on vacation the last few days...

@jasonwilliams200OK Yup, my goal is to get all the native calls shim'd, ```System.Diagnostics.Process``` included :). Is this specific one blocking you guys?

[2015-10-06 17:28] sokket commented on #2046
I need to look again, but I believe the kqueue system works very similarly to the inotify system; if this is the case, we could potentially re-use the Linux implementation for FreeBSD. I'll dig in and find out more

[2015-10-06 17:39] mellinoe commented on #2020
I don't think it's terribly difficult to get at least the basics working. I've done a really crude port of our Windows System.Drawing (not the mono one), and didn't really hit any snags. I just ported a few things that I actually wanted to use, so I ignored all of the random stuff like Printing, etc. that weren't useful for me. By the way, @akoeplinger has a repo here that includes the System.Draw

[2015-10-06 17:42] jasonwilliams200OK commented on #2070
@sokket, welcome back! :D
Yup this is one of those assemblies, which are not building. Besides that there are some types which would probably require special `.FreeBSD.cs` partial classes:

* System.Diagnostics.ProcessManager
* System.Diagnostics.ThreadInfo
* System.IO.FileSystemWatcher
* System.Net.SocketAddress (alright, this one was added recently)

For the rest of the congress of assemblies, w

[2015-10-06 17:43] akoeplinger commented on #2020
Just a heads-up: this is in no way complete and I planned to update it with DNX beta7 but got sidetracked due to other things. I'll probably just update it to beta8 when it comes out next week :smile:

[2015-10-06 17:50] redknightlois opened #3669 "GZipStream & DeflateStream calling Flush after write or read is not equivalent to calling Dispose."
```.Dispose()``` will purge buffers and finish writing data while ```.Flush()``` will not force that to happen.
While in other Streams the ```.Flush()``` call will ensure that all the data is written, it is not the case for ```GZipStream``` and ```DefrateStream```.

For example if we modify ```RoundtripCompressDecompress``` in the ```System.IO.Compression.Tests``` project in the following way, all

[2015-10-06 17:53] saurabh500 commented on #2575
Closing issue as aliases are not supported in CoreFX

[2015-10-06 17:53] #2575 closed

[2015-10-06 18:17] ianhays opened #3672 "Perf: String.StartsWith Linux regression from 1x speed to 100x speed"
The perf test and all applicable helper methods:
[code]

Linux results after regression (today, 10/6/2015)
[code]

Windows results:
[code]

Linux results before Regression: (Unfortunately these are from before I was recording dates with my results, so I'm not sure when they're from or even how valid they are - the important thing is moreso the current Linux results vs Windows)
[code]

I verified t

[2015-10-06 18:21] ellismg commented on #3672
I assume this is actually due to the ICU work, not the change you pointed out.  Previously we would have just been doing a simple ASCII search.  Now we will be loading collators and doing a bunch more work per iteration.

[2015-10-06 18:55] eerhardt commented on #3571
My naïve question: How are we ensuring hardware equivalence between Windows and Linux machines?  Are they both physical machines with similar specs?  Both VMs on the same physical machine?
Do other low-level .NET APIs have roughly the same perf aspects between the two machines?

[2015-10-06 19:00] tmds opened #3674 "WebSocket concurrent Send/ReceiveAsync semantics unclear"
As observed by @mkosieradzki different WebSocket implementations have different behaviour when it comes to concurrent Send/ReceiveAsync operations: see https://github.com/aspnet/WebSockets/issues/42

I am creating a matching issue here since the semantics should be specified at the WebSocket level, so a user of a 'WebSocket' doesn't need to know what library provided the implementation.

\cc @davi

[2015-10-06 19:40] ianhays commented on #3571
Until we get a dedicated set of perf testing machines (~November), I'll just be running the tests on my local machine: Windows 10 with a Ubuntu 14.04 VM running in HyperV. I expect a bit of overhead from the VM and take that into account when deciding when to open new issues for perf. I will generally only open an issue for a test if the difference Linux is twice as slow as Windows and I can repli

[2015-10-06 19:54] davidsh commented on #3674
cc: @CIPop @SidharthNabar @pgavlin @mconnew

[2015-10-06 19:55] CIPop commented on #894
Some TODO items tracked by #3562 .

[2015-10-06 19:55] #894 closed

[2015-10-06 20:21] #3661 closed

[2015-10-06 20:23] #2938 closed

[2015-10-06 20:25] stephentoub commented on #3669
I believe this is by design, but @FiveTimesTheFun can comment.

[2015-10-06 20:26] stephentoub commented on #3672
(For reference, #1632 only touched the Ordinal case, whereas this test is using CurrentCulture.)

[2015-10-06 20:51] #69 closed

[2015-10-06 21:02] jasonwilliams200OK commented on #71
This is fixed by https://github.com/dotnet/corefx/pull/3649.

[2015-10-06 21:04] jasonwilliams200OK commented on #52
This belongs to https://github.com/microsoft/referencesource. Should this be closed from this repo and opened in reference source one instead?

[2015-10-06 21:40] FiveTimesTheFun commented on #52
Hi, the referencesource repro doesn't have issue tracking turned on, which is why I believe it was opened here.  I'll also ask @richlander to jump in with the definitive answer.

[2015-10-06 23:10] #71 closed

[2015-10-06 23:25] saurabh500 commented on #3656
I was using 1.0.0-rc1-15820
Today I got a new version 1.0.0-rc1-15828

In 1.0.0-rc1-15828 I could copy a few files over to the bin folder of the runtime and I could see the changes reflected in the libraries being used.

I haven't tested DNX_TRACE=1 yet.

[2015-10-07 00:10] stephentoub opened #3682 "ConnectAsyncV4IPEndPointToDualHost_Succes failed in CI on Linux"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/3091/console
[code]
cc: @cipop, @pgavlin, @davidsh

[2015-10-07 00:27] sokket commented on #2046
It looks like the kqueue system requires opening a handle per **file** whereas Linux requires per **directory**. The Linux implementation won't work here so there are a couple options:

1. Make a FreeBSD implementation using kqueues and error out if (read as **when**) the process hits the maximum handle limit
2. Have the FreeBSD implementation have an external dependency on other software (an inot

[2015-10-07 01:25] iamjasonp commented on #3667
Thanks :) Is there an ETA for this, @bartonjs? This one's quite pressing for at least one of our core scenarios.

[2015-10-07 04:45] bartonjs commented on #3667
Since it sounds like it's blocking I'll float it up in my priority queue.  Unless something catches fire while I'm asleep I'll probably start poking around at this in the morning :smile:.

[2015-10-07 10:13] roji opened #3688 "Better API for ADO.NET command batching"
ADO.NET currently supports batching several statements in one command by packing them into a single string as follows:

[code]

While workable, it's a problematic API. The PostgreSQL protocol, for example, needs to send each single SQL statement as a separate protocol message, forcing Npgsql to split CommandText by semicolon at the client side, a pretty complex task (need to understand when the se

[2015-10-07 12:20] stephentoub opened #3689 "RunThreadLocalTest8_Values failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/4721/console

[code]

[2015-10-07 13:33] akoeplinger commented on #3633
There was a thread in the .NET Foundation forums about XmlSchema which might be related: http://forums.dotnetfoundation.org/t/xmlschema-in-net-core/507/11

[2015-10-07 14:59] bartonjs opened #3690 "Consider what a LocalMachine\My X509Store might be on Unix"
Largely there's a permissions problem.

* File writes, without reaching into the PAL directly, are done as rwx------
* Windows has the flexible administrator concept, Unix has root.
    * There's sometimes the group wheel, but that's not universal.

There's a possibility of having someone create /etc/dotnet/corefx/cryptography/x509stores, setting the group to whatever they want, giving the group w

[2015-10-07 15:13] AtsushiKan opened #3691 "project.lock.json files are all out of date as of yesterday afternoon."
- git checkout master (no local changes)
- build.cmd
- git status
- Ponder the sea of red as the build process made local changes to every project.lock.json file in the project.

I assume fixing this is just a matter of checking in those changes, but since I don't know what caused it, I'm not blindly sticking my head out either.

[2015-10-07 15:28] stephentoub commented on #3690
Do you think the default permissions for new files created by System.IO.FileSystem should be something else?

[2015-10-07 16:26] weshaggard commented on #3691
We are hitting bug https://github.com/aspnet/dnx/issues/2771 where one bad project.lock.json file causes them all to be regenerated. We need to figure out which lock file really needs updated and update that one and this problem goes away. I will have a look.

[2015-10-07 16:58] davidsh opened #3693 "PostNonRewindableContentUsingAuth_NoPreAuthenticate_ThrowsInvalidOperationException fails on Linux"
System.Net.Http.Functional.Tests:
Reference PR: #3680
Reference build: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/4926/

PostNonRewindableContentUsingAuth_NoPreAuthenticate_ThrowsInvalidOperationException looks like it's failing because it's expecting an InvalidOperationException but is getting an HttpRequestException.

The InvalidOperationException should not be wrapped within a HttpR

[2015-10-07 17:02] davidsh opened #3695 "PostNonRewindableContentUsingAuth_PreAuthenticate_Success fails on Linux"
System.Net.Http.Functional.Tests:
Reference PR: #3680
Reference build: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/4926/

PostNonRewindableContentUsingAuth_PreAuthenticate_Success is failing with a CurlException "Send failed since rewinding of the data stream failed".
This is failing because it is trying to rewind a non-rewindable stream. BUT it shouldn't be attempting that. It shouldn'

[2015-10-07 17:03] weshaggard commented on #3691
For future reference if you look at your log file you will see something a long the lines of `Updating the invalid lock file with dnu restore --lock` in the BatchRestorePackages that will point to the individual project.lock.json file that is invalidated. If you build just that project it will update that lock file and the batch restore will no longer regenerate all the lock files.

[2015-10-07 17:04] davidsh commented on #3695
cc: @stephentoub @kapilash

[2015-10-07 17:05] davidsh commented on #3693
cc: @stephentoub @kapilash

[2015-10-07 17:16] stephentoub commented on #3504
This has failed a few more times, e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/4729/.

Should we disable it?  Increase the timeout? Etc.

[2015-10-07 17:27] CIPop commented on #3504
/cc @pgavlin

As a design change, we should extract a common config for Sockets tests and consolidate all configuration parameters there. We should include a retry pattern/internal API for tests that rely on TCP stack defaults (in case we see those fail).

For now, I will increase the timeouts to maybe somewhere around 1-2 seconds. This test has a 200ms timeout right now.

[2015-10-07 17:29] pgavlin opened #3697 "Add retry pattern for tests that rely on TCP/UDP"
See https://github.com/dotnet/corefx/issues/3504 for more details.

[2015-10-07 17:29] dougbu opened #3698 "[Linux] Incorrect output for "g" custom `DateTimeOffset` format specifier"
The following statement behaves differently on Windows and Linux when `CultureInfo.CurrentCulture` is `new Culture("en-GB")`. See [full test application](https://github.com/dougbu/CultureInfo) for more context.
[code]

On Windows using either `dnx451` or `dnxcore50` and on Linux using `dnx451` (i.e. Mono), the output is:
[code]

However on Linux using `dnxcore50`:
[code]

Note periods are missing

[2015-10-07 17:29] davidsh opened #3699 "PostRewindableContentUsingAuth_NoPreAuthenticate_Success is failing with a NotImplementedException on Linux"
System.Net.Http.Functional.Tests:
Reference PR: #3680
Reference build: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/4926/

PostRewindableContentUsingAuth_NoPreAuthenticate_Success is failing with a NotImplementedException.

See original discuss on PR #3680.  But CurlHandler should not be using `Seek` to rewind the HttpContent request body.  Instead, it should use the HttpContent.CopyToAs

[2015-10-07 17:29] pgavlin commented on #3504
SGTM. I've filed #3697 for tracking.

[2015-10-07 17:30] davidsh commented on #3699
cc: @stephentoub @kapilash

[2015-10-07 17:48] davidsh commented on #3699
Updated stack trace:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/4948/

MESSAGE:
System.Net.Http.HttpRequestException : An error occurred while sending the request. ---- System.NotImplementedException : CustomStream.Seek
+++++++++++++++++++
STACK TRACE:
at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task) at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSu

[2015-10-07 17:48] CIPop commented on #3674
At this point, most of the tests that we have for System.Net.WebSockets.Client validated the same behavior on both Desktop and CoreFX. (Unforuntately the majority of the tests have not yet been ported to GitHub: we're still figuring out how to set up servers, etc.)

It is expected to have different behaviors if you are using _different_ APIs (System.Web.WebSockets vs System.Net.WebSockets). The tw

[2015-10-07 18:22] bartonjs commented on #3667
@iamjasonp This is now fixed in TFS, so it should be in the packages that build tonight.

[2015-10-07 18:24] iamjasonp commented on #3667
Thanks @bartonjs! I'll keep an eye on this tonght

[2015-10-07 18:35] redknightlois commented on #2209
Another use of PopCount at CoreFX. https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/src/System/Reflection/Internal/Utilities/BitArithmetic.cs

[2015-10-07 18:42] tarekgh commented on #858
Added the missing fallback test with the PR #3665

[2015-10-07 18:42] #858 closed

[2015-10-07 19:14] stephentoub commented on #3588
I believe this is due to https://github.com/dotnet/coreclr/issues/1708

[2015-10-07 19:14] stephentoub commented on #3590
I believe this is due to https://github.com/dotnet/coreclr/issues/1708

[2015-10-07 19:15] roji commented on #3423
Note the current effort in EF7 to define a relational model produced by a reverse engineering provider. Ideally this could be the same model returned by an ADO.NET provider.

[2015-10-07 19:15] #2774 closed

[2015-10-07 19:21] mellinoe opened #3701 "build.sh issue on OSX, "Too many open files""
I'm getting the following error while running build.sh on Mac OSX, using a locally-built mono from source:

[code]
This occurs about halfway through my build, before which everything seems to be going fine. Has anyone encountered this? I can build everything individually it seems.

[2015-10-07 19:31] janhenke commented on #1626
@jasonwilliams200OK With today's update to mono I build corefx on FreeBSD itself again. There are a lot of new error messages since the last time I build it.
I am wondering if ```Interop.Libc``` will go away eventually?

@stephentoub It all comes down to packaging. Having all platform specific code in the native part has the benefit of having one managed assembly for all Unix-like platforms.
Besid

[2015-10-07 19:36] akoeplinger commented on #3701
Did you increase your `ulimit`? The default is pretty low.

[2015-10-07 19:43] mellinoe commented on #3701
Thanks, that's probably the issue. OSX newbie here...

[2015-10-07 19:43] #3701 closed

[2015-10-07 19:50] jasonwilliams200OK commented on #1626
@stephentoub, sorry I was mixing C++ with C#. Now i understand that native layer is just exposing those entry points (native libs funcitons or syscalls) and sanitizing IO and managed code is where we decide which platform-specific wrapped utility method / wrapped syscall to be consumed. Besides, both (native and managed) tiers can't be OS-agnostics where non-POSIX functionality is to be consumed.

[2015-10-07 19:56] jasonwilliams200OK commented on #1626
Here is the msbuild.log for commit 2d36889:

https://gist.githubusercontent.com/jasonwilliams200OK/18c846d67ee8f4b9662e/raw/39ec6f9a4d9da7579935a0c259ec23d59dc99917/corefx-msbuild.log

/cc: @akoeplinger

[2015-10-07 19:59] #3691 closed

[2015-10-07 20:05] redknightlois commented on #1991
```DefrateStream``` allocates on average 40Kb per instance just in usage buffers. When those Streams are used to encode short messages like HTTP messages in WebApi, a significant allocation stress happens on the GC. A 100 request/sec WebApi (very low throughput) using gzipped content will cause 236Mb of memory allocated per minute.

On a real scenario:

- Test time: Aprox 60 seconds (under the pro

[2015-10-07 20:07] bartonjs commented on #3667
@iamjasonp I'm going to go ahead and close this issue, if you don't see improved binaries show up feel encouraged to reopen it.

[2015-10-07 20:07] #3667 closed

[2015-10-07 20:22] bartonjs commented on #3690
@stephentoub The default default should assume user data, so I agree with it.  But for a machine-scoped thing it would likely need to be rw?rw?r-?; and chown'd to root.  I don't think those concepts exist in the public surface area.

If that was the only thing standing in the way it would really be an issue, that's what PALs are for :).  The initial directory creation is one big problem.  (Usually

[2015-10-07 20:48] janhenke commented on #1626
@jasonwilliams200OK Why so complicated. All it needs is a "if not Windows,Linux,OS X" condition in the project files. So either include a platform specific set of files in the build or the generic ones.

[2015-10-07 20:54] nguerrera commented on #1626
I don't think the fact that some assemblies can't build/work for FreeBSD should be a major blocker for testing the rest of them. We should probably just make it so that the ones with pending work (FileSystemWatcher, Process, Networking) are skipped in the build and test run on FreeBSD. Then we can bring those up individually while having a process to prevent regression in what already works.

[2015-10-07 20:57] tmds commented on #3674
CoreFX and aspnet/WebSockets both implement System.Net.WebSockets.WebSocket. CoreFX has a Client implementation and aspnet/WebSockets has both a Client and a Server implementation.

As a user of a WebSocket instance I would like to know what multi-threading behavior I can expect.

The documentation of ClientWebSocket says: don't expect anything.
The implementation of ClientWebSocket says: I suppor

[2015-10-07 21:02] stephentoub commented on #1626
Agreed

Or similar to what @janhenke suggested, just allow them to build, either by stubbing out with files that throw PlatformNotSupported, or just by mapping FreeBSD to one of the cases that does work, e.g. if FreeBSD is chosen, just build the Linux one (it won't work, but it'll build).

[2015-10-07 21:08] CIPop commented on #3674
@tmds Thanks for the detailed reply.
To clarify the expectation for he current CoreFX Windows (WinHTTP) implementation: it supports exactly one send and one receive on each WebSocket object in parallel.

/cc: @SidharthNabar

[2015-10-07 21:12] jasonwilliams200OK commented on #1626
With @ellismg recent changes (#3684), I am able to run tests by simplifying the previous method (https://github.com/dotnet/coreclr/issues/1633#issuecomment-143669303):

* After https://gist.github.com/jasonwilliams200OK/6efa7907e66275df2d24 (especially the step to build native shims separately *after* the build.sh exit with status 1), download [CoreCLR artifacts](http://dotnet-ci.cloudapp.net/job/

[2015-10-07 22:14] bbarry opened #3705 "TypeDescriptor.GetConverter, what is the expected result if there is no converter?"
in
https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.cs

I notice: `Assert.NotNull(converter);` on line 17. Based on my limited exploratory testing in .NET 4.5 I can't seem to get this method to ever return null. It always seems to at least return an instance of `System.ComponentModel.TypeConverter` (if a better converter cannot be found

[2015-10-07 22:28] corivera commented on #3622
Unnecessary since Stream's Async methods can't be overridden, and just end up using Read/Write anyway.

[2015-10-07 22:33] stephentoub commented on #3622
@corivera, I didn't understand this.  ReadAsync (https://msdn.microsoft.com/en-us/library/hh193669(v=vs.110).aspx), WriteAsync, and FlushAsync all have virtual overloads.  Can you clarify?

It's certainly possible that the base implementation is sufficient.  I just want to make sure we're choosing to not override them for the right reasons.

[2015-10-07 22:41] davidsh commented on #2155
This should be fixed now in ASP.NET Beta8

[2015-10-07 22:41] #2155 closed

[2015-10-07 22:45] corivera commented on #3622
The specific method signature I looked at wasn't virtual. Didn't notice the other one.

ReadAsync internally just creates async tasks that call Read(), so adding Async overloads to this class is unnecessary.

[2015-10-07 22:46] cesarbs opened #3708 "Debug.Assert(false) does not behave as expected compared to full CLR"
Redirecting issue https://github.com/aspnet/dnx/issues/2778

This is what we see in full CLR:

![image](https://cloud.githubusercontent.com/assets/924164/10353329/61ebdb1e-6d0a-11e5-8719-efbc0f723fb6.png)

CoreCLR does not give the user the option to ignore the problem or to attach a debugger to the process.

[2015-10-07 23:01] stephentoub commented on #3622
I think there's a disconnect here.

There's a reason these methods are virtual.  Yes, the base implementation queues a work item to call the corresponding synchronous method; that's the best it can do without knowing more about the concrete implementation.  But the whole point of these methods is to be able to avoid blocking worker threads like that.  If you're a stream that reads and writes over

[2015-10-07 23:13] joshfree opened #3709 "Beta 8 blocker: System.Net.Sockets nuget package authoring needs to be updated to support xplat"
We're not producing runtime packages for System.Net.Sockets.  This means that whatever version you restore via DNX will be windows specific.

/cc @chcosta @ericstj @saurabh500

[2015-10-07 23:17] joshfree commented on #3625
Closing this bug since the fix has been tested in a beta8 release build.

[2015-10-07 23:17] #3625 closed

[2015-10-07 23:22] mellinoe commented on #3708
Obviously it will be impossible to support this exactly on all platforms, but I wonder if we can let you somehow opt-in to this kind of behaviour, as it is quite a bit more useful than the current process termination.

[2015-10-07 23:23] sokket commented on #2070
I did an initial investigation into FileSystemWatcher and wrote about it in #2046, but the tldr; is that the FreeBSD version would work very differently from the OSX and Linux implementations today. We have some options for how to mitigate that written up in the bug.

I'm currently working on shim'ing the ProcessInfo and ThreadInfo native calls over, but it looks like FreeBSD does not have the OSX

[2015-10-07 23:49] joshfree commented on #3705
@pallavit could you take a look please?

[2015-10-07 23:51] joshfree commented on #3698
/cc @steveharter @tarekgh

[2015-10-08 00:01] tarekgh commented on #3698
CC @eerhardt

The framework depends on the OS for getting the values of the date formatting parts. So you can expect some differences like that as the framework don't really carry of such data (like the era names for instance).
Eric may talk more about that as spend some time on Linux reading such data but in general if we came across different data like that, the issue has to be raised to the OS

[2015-10-08 00:04] weshaggard commented on #3708
Yes this one is unfortunate but we don't have a good way to pop up a UI at this low level in all the platforms we are running on. It is something we should try and figure out some better experience around however.

[2015-10-08 00:06] noahfalk commented on #3708
@Djuffin and @mikem8361 you guys want to think about this a bit? Offhand this seems like a reasonable place to callback to our host and let it set the policy.

[2015-10-08 00:48] joshfree opened #3711 "Beta 8 blocker: System.Net.Security nuget package authoring needs to be updated to support xplat"
Same issue as https://github.com/dotnet/corefx/issues/3709 only for System.Net.Security.dll

/cc @bartonjs @chcosta @ericstj

[2015-10-08 00:49] stephentoub opened #3712 "Sporadic crash in System.Linq.Expressions on OSX"
While @janvorli and @ellismg investigate, we'll disable System.Linq.Expressions.Tests in the lab in order to hopefully get a clean run.

[2015-10-08 03:07] stephentoub commented on #3699
@davidsh, I appreciate the additional info, but I'm not following how your comment applies.

Is there any situation in which winhttp asks to start over such that you reinitiate the CopyToAsync?  If so, can you point us to where?  If not, how do you propose that happen for other implementations (like CurlHandler) that need to?  Presumably you're not encouraging buffering the entire request stream i

[2015-10-08 03:14] davidsh commented on #3699
The ReadAs* methods are similar but not the same.  I'll need to pull out the old design document.  But the ReadAs* methods were meant to consume the content and used mostly by endpoints wanting to read the transmitted data.

The CopyToAsync() API calls the protected SeralizeToStreamAsync() method which subclasses of HttpContent can override to provide custom streaming behavior from constructing th

[2015-10-08 03:16] davidsh commented on #3699
And regarding this question:

Yes, that happens all the time.  If you look at the code which calls `CopyToAsync` you will see it is in a loop (retry loop).  It loops when the request needs to be resent due to redirection and/or auth challenges.

[2015-10-08 03:28] stephentoub commented on #3699
Ugh, that's unfortunate.  This is going to lead to less efficient implementation for any system that is pull-based, as with libcurl.  We're going to need an adapter where we effectively stall the CopyToAsync until we're asked for the next piece, and to support restarts the logic is going to get convoluted due to the request coming from a callback rather than from a loop around the operation.

[2015-10-08 03:31] davidsh commented on #3699
@stephentoub Before we start re-working the CurlHandler, it would be good to 1) get input from @mconnew  and 2) run more WCF tests using the Linux CurlHandler and see what scenarios might be broken (or less performant) in WCF.

[2015-10-08 03:40] stephentoub commented on #3699
Thanks, @davidsh.  Sounds good.  @mconnew, any insights you can provide would be helpful.  I searched around wcf a bit, and from brief inspection it looks the HttpContent-derived types there would always have the same data surfaced through ReadAsStringAsync (via CreateContentReadStreamAsync) and through SerializeToStreamAsync, but maybe I misread the ones I saw or maybe I missed some others that a

[2015-10-08 03:42] #1963 closed

[2015-10-08 03:44] stephentoub commented on #3580
Failed again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/4775/console
[code]

[2015-10-08 03:45] stephentoub commented on #3682
Failed again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/3154/console
[code]

[2015-10-08 03:52] davidsh commented on #3699
And FWIW, I could implement the Seek() method in this test class to prevent this exception from occurring in the test.  Or CurlHandler could use ".Positiion=0" instead of Seek(0, ...) to rewind it's stream.

But we would only be covering up this nuanced issue about push vs. pull model for uploading request body and how if might impact Xplat compat.

[2015-10-08 04:19] #990 closed

[2015-10-08 06:21] josteink commented on #1626
I have to agree with this one. It's better to start QAing the work we have done, instead of waiting on everything to complete before starting testing.

[2015-10-08 06:36] #2521 closed

[2015-10-08 06:50] ellismg commented on #3708
@noahfalk IIRC, that's what we ended up doing in Silverlight.  I think that Debug.Assert would send a message to the host and they would decide how to handle the UI.

[2015-10-08 06:53] ellismg commented on #3698
In general we'll guarantee the same locale data is present for Invariant (note that sorts might be different across platforms), but we don't make any guarantees of stability across platforms (note you can construct applications that behave differently on different version of Windows on both CoreCLR and the Full Desktop Framework).

Applications shouldn't depend on this data being stable.

This mea

[2015-10-08 06:54] #3698 closed

[2015-10-08 07:08] saper commented on #2070
I have written the Mono implementation in https://github.com/mono/mono/pull/1864. Feel free to use that (I have added a comment to dedicate this to public domain). Actually you should be able to use a (superior in my opinion) `sysctl` interface also on MacOSX (with some little changes).

Mono currently does not even require `/proc` to be mounted on FreeBSD now and the use of `/proc` is discouraged

[2015-10-08 07:10] saper commented on #2046
`kevent/kqueue` is the best way and it's pretty easy in my opinion. So I'd go for option #1.

[2015-10-08 07:37] joshfree commented on #2342
/cc @piotrpMSFT

[2015-10-08 07:39] jasonwilliams200OK commented on #1626
beats me too. The tests are spawning out of test assemblies (managed dlls) and total number of tests is not visible.

[2015-10-08 08:16] vijaykota opened #3715 "Pending features/comments in xplat NegotiateStream"
1.1 Get the correct library to use on OSX and update Interop.Libraries.cs

[2015-10-08 09:22] manu-silicon opened #3716 "Inconsistent versioning"
When you build the CoreFX assemblies and you put them altogether, you realize that there are some inconsistent version number. For example System.Console.dll requires System.Runtime version 4.0.20 but System.Runtime is version 4.0.21.

Ideally it would be nice if all the generated assemblies were consistent with respect to the version.

[2015-10-08 09:28] Charmatzis commented on #3634
Finally I download the VS 2013 Community edition and build it successfully.

[2015-10-08 09:28] #3634 closed

[2015-10-08 10:20] vijaykota opened #3717 "Investigate feasibility of supporting NTLM protocol on non-Windows platforms"
Ubuntu distribution ships with a libheimntlm. Need to see if something similar is available for OSX as well. There may be other pieces needed to make NTLM work meaningfully on non-Windows (maybe winbind etc.)

[2015-10-08 10:22] vijaykota opened #3718 "Investigate feasibility of supporting NegotiateStream channel bindings on non-Windows platforms"
The gss_init_sec_context and gss_accept_sec_context APIs take channel binding as input. This support needs to be understood. This would be useful for NegotiateStream.Authenticate\* APIs

[2015-10-08 12:29] chintsan commented on #1514
Hi Justin,
thanks for the explanation ans benchmarks.

how does one include the above overloads. i mean defining a new class "System" throws error - no body implementation for the overload methods or they arent defined as abstract, partial, extern etc.

[2015-10-08 12:59] janvorli commented on #3712
@ellismg, after my change #1715 goes in, the test should no longer crash with `terminating with uncaught exception of type PAL_SEHException` message, but rather dump the specific unhandled exception.

[2015-10-08 13:50] stephentoub commented on #3268
This came from @cipop's comment at https://github.com/dotnet/corefx/pull/2473#discussion_r35718272.

It seems like HttpClient handles this for all handlers by doing the check in the public SendAsync:
https://github.com/dotnet/corefx/blob/3df365531591bc6b9e6743dac3d18b7387a3894c/src/System.Net.Http/src/System/Net/Http/HttpClient.cs#L342

I don't see WinHttpHandler doing an additional check beyond t

[2015-10-08 13:55] janvorli commented on #3712
So the change  #1715 didn't fix the problem. I am able to repro it. I am looking into it.

[2015-10-08 14:21] davidsh commented on #3609
Tracking with #3718.

[2015-10-08 14:21] #3609 closed

[2015-10-08 14:27] joshfree commented on #3717
related https://github.com/dotnet/corefx/issues/3609 and https://github.com/dotnet/corefx/issues/3718

[2015-10-08 14:32] davidsh commented on #3268
Since `HttpClient` checks for it, it is probably sufficient.  And anyways, the check for that (HttpRequestMessage.MarkAsSent) is internal to the System.Net.Http assembly.  So other handlers can't check for it anyways.

But I will say in looking at this now, it seems that we made a mistake when we did this.  We should actually be checking for this in the `HttpMessageInvoker` base class `SendAsync`

[2015-10-08 14:47] stephentoub commented on #3268
That's good background.  Thanks, David.

So it sounds like we can close this (I'll remove the TODO from the CurlHandler source) and then open a separate issue to look at moving that check from HttpClient.SendAsync down into HttpMessageInvoker.SendAsync.

[2015-10-08 15:38] davidsh commented on #3268
We'll also want to do this changein .NET Framework (Desktop) to be consistent. Our team would take care of that.

cc: @CIPop @SidharthNabar

[2015-10-08 16:01] ellismg commented on #1626
The number the script produces at the end is the number of test assemblies that failed.  xUnit should write the number of tests that failed per assembly to stdout as part of it's run.  The numbers should also be in the XML files it produces in each test assembly folder.

It could be the runtime is also just crashing and in that case there may not be logs produced per test assembly.

[2015-10-08 16:26] weshaggard commented on #3716
@manu-silicon this is intentional because we want our libraries to reference the lowest version they can work with in their dependencies. At runtime as long as you have a version of the library that is at or higher then the one requested things will unify up and work as expected.

I'm going to close this issue because I don't think there is any action to take but please feel free to ask follow-up

[2015-10-08 16:26] #3716 closed

[2015-10-08 16:50] KrzysztofCwalina commented on #2352
That would be a very nice addition. It's also a very simple API, and so I marked it "ready for API review" where we can discuss how to make this happen (mainly logistically).

[2015-10-08 16:51] KrzysztofCwalina commented on #2352
Assigned to @terrajobst to take it though the API review process.

[2015-10-08 16:51] #3268 closed

[2015-10-08 16:59] AArnott commented on #2392
The `AddRange` I can imagine has value for some customers.

`MoveToArray` sounds like it promotes use of the `ImmutableArray<T>+Builder` type to build ordinary arrays instead of building just `ImmutableArray<T>` instances. I understand our Builder is faster than List<T> because of the covariant type checks being skipped, but it isn't designed to be a replacement for List<T>. So I hesitate to start

[2015-10-08 17:44] Sridhar-MS commented on #2938
Thanks @stephentoub for fixing this,

[2015-10-08 17:51] VSadov commented on #3244
We have discussed this and it seems a good thing to have.
As for the entry point, the preferred shape would be "Compile(bool preferInterpretation)"

The reasons are:
1) Compile() does not necessary compile. It basically prefers compiling if available, but otherwise will interpret.
2) The method does not really start interpretation. Technically it still compiles into a delegate, just with a differe

[2015-10-08 17:52] davidsh commented on #3343
Just tested this. Even though dotnet/coreclr#1645 is fixed, this test still fails.  Looking at the other dependent issue #846 shows it is still open and waiting for #2774.  But #2774 is marked as closed now.

@ellismg @stephentoub What is the expected next steps for this?

Will this get fixed and what issue # is really tracking this?

[2015-10-08 17:53] VSadov commented on #3244
@terrajobst @stephentoub @jaredpar  - this will need to be officially reviewed. Addition of public API.

[2015-10-08 17:55] VSadov commented on #3244
CC @madstorgersen @billchi-ms @dinov

[2015-10-08 18:11] stephentoub commented on #3343
@davidsh, just to verify, you tested it by pulling the latest coreclr sources, rebuilding the Linux libcoreclr and mscorlib, and using those bits?  Or you submitted a PR that re-enabled the test?  Or something else?

[2015-10-08 18:14] davidsh commented on #3343
I submitted a private PR in Jenkins that re-enabled the test.  And the build failed.
http://dotnet-ci.cloudapp.net/view/PR%20and%20Private%20Jobs/job/dotnet_corefx_prtest/5016/

[2015-10-08 18:29] stephentoub commented on #3343
Looking at your job, I think it picked up a build from yesterday morning before Eric's change was merged.  I just tried running it locally with the test re-enabled and with my libcoreclr/mscorlib up-to-date, and all 252 tests passed.

[2015-10-08 18:37] davidsh commented on #3343
So, when will Eric's change be reflected on the CI servers?

[2015-10-08 18:39] stephentoub commented on #3343
@mmitche, do you know what the current set up is around which libcoreclr build we pick up in corefx?

[2015-10-08 18:51] mconnew commented on #3699
We've already needed to implement two different code paths to achieve the same end for the WinHTTP based handler and the UWP WinRT based handler. [WinHttpHandler uses HttpContent.CopyToAsync](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L1179) which can't be overridden. This [then calls SerializeToStreamAsync](https://github.

[2015-10-08 18:55] stephentoub commented on #3699
Thanks, @mconnew.  So if I'm understanding correctly, handlers that consume content via ReadAsStreamAsync will work correctly with WCF, both the one used in UWP and CurlHandler.  If that's the case, is there a good reason for CurlHandler to change in this regard?  It sounds like your implementation already handles the pull/push difference, so the only thing we'd be doing by changing the CurlHandle

[2015-10-08 18:58] stephentoub commented on #3699
Also, I noticed that the ProducerConsumerStream isn't seekable: https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/ProducerConsumerStream.cs#L27.  What does UWP do in the case where it needs to retry/resend, ask for a new stream?

[2015-10-08 19:07] stephentoub opened #3725 "HttpRequestMessage multiple-send checking should be done in HttpMessageInvoker"
From https://github.com/dotnet/corefx/issues/3268#issuecomment-146564360

[2015-10-08 19:27] janvorli commented on #3712
I will send a PR for a fix soon. This issue was a collision between hardware exception handling and activation injection on OSX where both were trying to create a helper frame and modify a thread context of the same thread at the same time.
@joshfree, since this issue came in on Sep 23 with my OSX activation changes, we will need to put the fix to beta 8.

[2015-10-08 19:29] davidsh commented on #3699
@mconnew This is good information.

@stephentoub Based on this discussion, I think we can 1) leave CurlHandler as-is using the 'putll' model, 2) Implement the "Seek()" method in the test class esp. since the Position property is implemented, and 3) re-activate the test.

[2015-10-08 19:31] #2385 closed

[2015-10-08 19:32] davidsh commented on #2385
Fixed with #3724.

[2015-10-08 20:16] joshfree commented on #3712
Thanks @janvorli.  To confirm, https://github.com/janvorli/coreclr/commit/278285afb2934d14ba12e68052b387fc29ef2158 is the fix for this active issue?

[2015-10-08 20:18] janvorli commented on #3712
@joshfree right, that's the fix.

[2015-10-08 20:23] weshaggard opened #3726 "System.Net.Sockets tests will behave differently when running in an elevated (admin) context"
[code]

I'm hitting this failure consistently on my local machine any ideas of what is happening?

[2015-10-08 20:30] mconnew commented on #3699
@stephentoub, if you have all the data buffered (e.g. MemoryStream) or already available in a seekable stream (e.g. FileStream), you don't need a ProducerConsumerStream as CurlHandler will be able to pull data whenever it's needed. This is only needed when you are producing the data as you are sending and the data production isn't an on-demand mechanism. In our case we need a stream that we can pa

[2015-10-08 20:45] stephentoub commented on #3699
This is what we're already doing: we get a Stream via ReadAsStreamAsync and read from it, and if it's a MemoryStream, we do additional optimizations.  This thread started because David initially suggested we shouldn't be using ReadAsStreamAsync, but should instead be using CopyToAsync, which means we'd always need such a ProducerConsumerStream to serve as the middle-man between CopyToAsync and our

[2015-10-08 20:47] davidsh commented on #3726
cc: @CIPop @pgavlin

[2015-10-08 20:50] tushargupta51 commented on #3667
@bartonjs I am still seeing the issue the 23408 version of System.Security.Claims here: https://www.myget.org/gallery/dotnet-core/. Is that supposed to have the fix?

[2015-10-08 20:51] janvorli commented on #3712
@ellismg, @stephentoub - the issue was fixed in the coreclr repo by https://github.com/dotnet/coreclr/pull/1720. I have verified that the System.Linq.Expressions tests now pass (I was able to repro the issue in about 9 out of 10 runs before).

[2015-10-08 20:52] #3712 closed

[2015-10-08 21:08] CIPop commented on #3726
@weshaggard Are you running them in an elevated prompt?

The following combination is expected to fail if you don't have full permissions but it'll probably work if you are an Admin:
`       new object[] { AddressFamily.InterNetwork, SocketType.Raw, ProtocolType.Tcp },`

[2015-10-08 21:12] bartonjs commented on #3667
@tushargupta51 Hmm, I just pulled down that package and extracted the dotnet flavor of the DLL; the IL looks like it was corrected to me:

[code]

It's just checking for null, not IsNullOrEmpty.

dnx-coreclr-win-x86.1.0.0-beta7 appears to have included System.Security.Claims.dll as part of the runtime package, so if you're using dnx you might need to update that package (though I couldn't really s

[2015-10-08 21:51] CIPop opened #3729 "WinHttpHandler MaxConnectionsPerServer default value"
Currently:

[code]

Opening this issue to discuss if this is the correct behavior given the RFC recommendation of a max of 2 connections/server and browser current settings of about 6-10 connections/server.

Throwing in a few articles about this:
http://stackoverflow.com/questions/985431/max-parallel-http-connections-in-a-browser
http://www.stevesouders.com/blog/2008/03/20/roundup-on-parallel-conn

[2015-10-08 21:55] davidsh commented on #3726
Is this a new requirement for our MSBuild window for CoreFx?

Do the CI machines always run in elevated mode?

[2015-10-08 21:56] davidsh commented on #3729
@SidharthNabar PTAL

[2015-10-08 21:58] CIPop commented on #3726
@davidsh No, actually the opposite although I didn't try to repro yet.

[2015-10-08 22:07] weshaggard commented on #3726
I am running from an elevated prompt. We should split these tests up correctly so we don't fail in different environments like this.

[2015-10-08 22:13] sokket commented on #2070
I had to roll back some of the refactoring changes so I won't be able to get this into my current pack, unfortunately :(

[2015-10-08 22:21] CIPop commented on #3726
/cc @pgavlin

I disagree with splitting the tests: having all combinations for complicated stacks such as networking is out of scope for these tests. I think that tests should be executed the same way as the CI system does.

My proposal is to add a new Capability check within `Capability.Sockets.cs`. This should ensure that the test is not running in an elevated prompt. If it does, it should fail

[2015-10-08 22:24] DinoV commented on #3244
This could also just be an extension method that the interpreter DLL makes available instead of being a new method on LambdaExpression.  Then users can add a reference.

[2015-10-08 22:50] davidsh commented on #3726
+1

My proposal is to add a new Capability check within  Capability.Sockets.cs . This should ensure that the test is not running in an elevated prompt. If it does, it should fail with a clear message instead of the assert. Note that adding these complicated Capability tests will complicate sharing test code across other platforms such as NetNative.

[2015-10-08 23:36] tushargupta51 commented on #3667
@bartonjs I have just this statement in my console app: Claim c = new Claim("test", string.Empty);

Included all these packages:
                "System.Console": "4.0.0-beta-23408",
                "System.Security.Claims": "4.0.1-beta-23408",
                "System.Security.Principal": "4.0.1-beta-23408",
                "System.Runtime": "4.0.21-beta-23408",
                "System.Runtime.Ext

[2015-10-08 23:44] manu-silicon commented on #3716
It does make sense, but I'm having an issue where I compiled assemblies against CoreCLR assemblies and then try to run them it doesn't do that, it still looks for the lower version even if I provided the high version. I'll look for a reproducible sample.

[2015-10-08 23:53] weshaggard commented on #3726
This is interesting as it is the opposite issue of other cases like https://github.com/dotnet/corefx/issues/3134 which require admin access to work. At a high level I agree that we should figure out a way to make the dev flow and the CI/official build flow be consistent but that to me doesn't mean this test should fail when run in a different context.

I do not believe we should make this test fai

[2015-10-09 00:45] dsplaisted commented on #3657
The current release of the System.Composition libraries is the [Microsoft.Composition](https://www.nuget.org/packages/Microsoft.Composition) NuGet package.

I think that the build infrastructure for the corefx repo doesn't currently work too well with Visual Studio 2015.  This is probably why you were not able to open the solution.  For now, you could open the project with VS 2013 (although if you

[2015-10-09 02:26] bartdesmet commented on #3244
An extension method is a design option indeed, and it'd keep the assembly size smaller, but there are a few hurdles to overcome if we decide to go that way:

- Every build flavor would need to have the method as an extension method in order for binaries compiled against it to be binary compatible / portable across multiple framework build flavors.
- The assembly would need InternalsVisibleTo acces

[2015-10-09 03:30] iamjasonp commented on #3667
I tried pulling this package earlier directly from Myget (beta-23408) decompiled, and verified the fix exists. However, I believe that the newest package is being clobbered by other dependencies in the chain

For example, in the WCF case, we depend on System.Security.Principal.Windows/4.0.0-beta-23324 which depends explicitly on S.Security.Claims/4.0.0

My read of the package resolution algo seems

[2015-10-09 04:29] weshaggard commented on #3580
Failed again:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/4839/console

[code]

[2015-10-09 05:32] bartdesmet opened #3737 "Expression interpreter - Missing support for OnesComplement nodes"
Found when porting an exhaustive test suite for cross-checking interpretation and compilation. I'll have a look at adding the support.

[2015-10-09 06:50] cnblogs-dudu opened #3739 "Get 8 build errors on Linux"
Get 8 errors when building latest corefx on ubuntu with dnx-coreclr-linux-x64.1.0.0-rc1-15838.
[code]

[2015-10-09 07:55] poizan42 opened #3740 "Can we lift the name length limitation on semaphores?"
Now that we have more-or-less gotten rid of the path length limitation (#645), could we also get rid of the semaphore name length restriction? The documentation for [CreateSemaphore](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682438%28v=vs.85%29.aspx) claims that the name is limited to MAX_PATH characters, however testing this shows that the documentation is wrong (at least on Wind

[2015-10-09 08:04] ReverseBlade opened #3741 "Change System.Numerics.Vector<T>'s unsafe constructors' access level to public."
Currently Vector<T>'s constructors that accept a pointer are marked as private, e.g:
private unsafe Vector(void* dataPointer, int offset)

Please consider making them public. Because at some point we might have only the pointers themselves in our own code but rather than arrays. Recreating an array from these pointers is costly. So allow us to use this constructor directly as it is.

[2015-10-09 09:21] kouvel commented on #3569
Fixed

[2015-10-09 09:21] #3569 closed

[2015-10-09 12:10] #3322 closed

[2015-10-09 12:24] stephentoub commented on #3494
Again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst/1128/console

I'm going to disable the test.

[2015-10-09 12:40] redknightlois commented on #3741
Agree!! Pretty common issue when dealing with numerical methods.

[2015-10-09 12:44] stephentoub opened #3744 "ConnectV4MappedIPEndPointToV4Host_Success failed in CI on Linux"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/3196/console
[code]

[2015-10-09 14:18] joshfree commented on #3726
/cc @ellismg on the need for elevated and non-elevated CI runs

[2015-10-09 14:22] joshfree commented on #3740
/cc @JeremyKuhne @ericeil

[2015-10-09 14:23] joshfree commented on #3741
/cc @mellinoe @terrajobst @CarolEidt

[2015-10-09 15:04] tushargupta51 commented on #3667
@iamjasonp We are creating a claim with an empty value in our tests and this issue is making a test fail. We cannot do the manual dll override. @bartonjs Do you know when the dependencies issue will be fixed?

[2015-10-09 15:33] joshfree commented on #3709
sha https://github.com/dotnet/corefx/commit/694f546b4e842eb395c271a1c8268aa891ace528 has been pulled into VSO.  Resultant 4.0.1-beta-23409 package is at https://www.myget.org/F/aspnetbeta8/api/v2/package

[2015-10-09 15:33] #3709 closed

[2015-10-09 15:34] joshfree commented on #3711
sha https://github.com/dotnet/corefx/commit/63155e1050ba52113699a41d5eabec4c2f9e8073 was pulled into the beta8 release branch yesterday.  resultant 4.0.1-beta-23409 package is published at https://www.myget.org/F/aspnetbeta8/api/v2/package

[2015-10-09 15:34] #3711 closed

[2015-10-09 16:41] bartonjs commented on #3667
@tushargupta51 Do you have a sample of what's failing? How are you running it? (dnx, corerun, some other thing I don't know about, etc)

[2015-10-09 16:45] tushargupta51 commented on #3667
@bartonjs I created a console app usign VS2015 and this is what I have in Program.cs

        public void Main(string[] args)
        {
            try
            {
                Claim c = new Claim("test", string.Empty);
                Console.WriteLine("heelo");
            }
            catch(Exception ex)
            {
                Console.WriteLine(ex.Message);
            }

[2015-10-09 17:16] bartonjs commented on #3667
That's the dependency problem you're running into.  DNX has a copy of the runtime, which functions similar to the GAC in that it always wins over a local DLL.  If you were to take the extracted version of an updated System.Security.Claims.dll and overwrite the one in ~/.dnx/runtimes/dnx-coreclr-linux-x64.1.0.0-rc1-\<yourversion\>/bin it would probably fix your problem locally.

I don't really have

[2015-10-09 17:18] iamjasonp commented on #3667
If you end up having a project.lock.json file, it might help with discovering what is happening. I did a bit of sleuthing to discover that our package refs were being clobbered.

[2015-10-09 17:25] khdang commented on #3301
I understand that IDictionary and Dictionary<,> has been used instead Hashtable to avoid the casting. Changing IDictionary to Hashtable would involve changes in both library and NetNative toolchain so I think this can be closed as won't fix.

[2015-10-09 17:25] #3301 closed

[2015-10-09 17:36] mellinoe commented on #3741
This is definitely something we've wanted to do, along with increasing usability with unsafe code in general. We will still need to put this through our regular design process, but I can take care of creating a proposal and walking it through that process.

[2015-10-09 17:38] ericeil commented on #522
We should consider this when we have a concrete motivating scenario that requires it.

[2015-10-09 17:38] #522 closed

[2015-10-09 18:03] stephentoub opened #3748 "ConnectAsyncV6IPEndPointToDualHost_Success failed in CI on Linux"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/3215/console
[code]

[2015-10-09 18:03] joshfree commented on #2295
/cc @krwq @KrzysztofCwalina @piotrpMSFT

[2015-10-09 18:05] stephentoub opened #3749 "GetAsync_ResponseContentAfterClientAndHandlerDispose_Success failed in CI on Linux"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/3215/console
[code]

[2015-10-09 18:08] bartonjs commented on #2008
This particular set of bad behaviors is aligned with desktop.  Test cases have been added to prevent regressions in https://github.com/dotnet/corefx/commit/35869b70716c61dca64c4546f61b30eb1bf7fd6d.

Since it's "always worked that way" we probably don't want to change it now, despite it being a bit of an eyesore.

[2015-10-09 18:08] #2008 closed

[2015-10-09 18:12] #2331 closed

[2015-10-09 18:18] bartdesmet opened #3750 "Expression interpreter - NegateChecked doesn't throw OverflowException"
Repro case:

`Expression.NegateChecked(Expression.Constant(short.MinValue))`

Issue seems to be that the checked(...) expression does not incorporate the conversion back after performing the negation.

I'll have a look at fixing it.

[2015-10-09 18:25] christiannagel commented on #3657
Thanks for the information.
Will the release for System.Composition be the same as Microsoft.Compositon, and I just need to change the namespace later on?
I'll install VS 2013 on a system and try out to open the project. However, I need to write C# 6 syntax - for a chapter of an upcoming C# 6 book with .NET Core.

[2015-10-09 18:29] christiannagel commented on #3657
And: I could open other projects of .NET Core with Visual Studio 2015, but not System.Composition

[2015-10-09 18:50] sokket opened #3753 "Switch OS X process information retrieval over to use sysctl"
Currently, OS X uses the platform-specific `proc_*` calls to retrieve process and thread information. By moving these calls over to use `sysctl`, we can support many more platforms (such as FreeBSD).

[2015-10-09 18:55] dsplaisted commented on #3657
@christiannagel The namespaces will stay the same.  Previously the NuGet package name did not match the namespace or assembly name.  Now for corefx packages we are using the assembly name as the NuGet package name.  For System.Composition, there are actually 5 different assemblies, so we may end up with 5 different NuGet packages.  Or we might decide to consolidate them.

In any case the APIs shou

[2015-10-09 18:58] mellinoe commented on #3739
I'm also seeing this on OSX and Linux. It seems to be the same projects as above

[2015-10-09 19:16] ericeil commented on #2329
Throttling thread creation is not only about the cost of creating a thread; it's mainly about the cost of having a large number of *running* threads on an ongoing basis.  For example:

- More threads means more context-switching, which adds CPU overhead.  With a large number of threads, this can have a significant impact.
- More threads means more active stacks, which impacts data locality.  The m

[2015-10-09 19:51] stephentoub commented on #3699
@davidsh, I've spent some more time understanding the HttpContent implementation, and it seems we're stuck between a rock and a hard place.

With ReadAsStreamAsync and seeking, we get the best performance.  It's extremely common for the stream that comes back to be a MemoryStream, which leads to an optimal implementation.  It's also common for it to be a FileStream or something else that's seekabl

[2015-10-09 19:58] joshfree commented on #2189
@piotrpMSFT can you comment

[2015-10-09 20:14] joshfree commented on #1089
Closing as we now have Windows7 rolling test runs for corefx.

[2015-10-09 20:14] #1089 closed

[2015-10-09 20:16] joshfree commented on #820
is this issue still tracking any pending work?

[2015-10-09 20:17] joshfree commented on #839
@jhendrixMSFT can you give an update on what we pieces we can expect for October?

[2015-10-09 20:17] danroth27 commented on #2089
@vibronet

[2015-10-09 20:30] #1021 closed

[2015-10-09 20:34] ericeil commented on #2329
Closing this, as it's not a CoreFx issue per se.  The ThreadPool implementation is part of [CoreCLR] (http://github.com/dotnet/coreclr).

[2015-10-09 20:34] #2329 closed

[2015-10-09 20:44] stephentoub commented on #3574
https://github.com/dotnet/coreclr/issues/1718 helped significantly reduce allocations in ToLower/ToUpper, and https://github.com/dotnet/coreclr/issues/1722 helped improve throughput by ~15%.

It looks like another ~25% of the throughput/time is going towards UTF16 validation costs in ICU (e.g. the difference between using U16_NEXT/U16_APPEND and U16_NEXT_UNSAFE/U16_APPEND_UNSAFE)... not clear we'r

[2015-10-09 20:52] ericeil commented on #3740
I think this would be nice, but am concerned about relying on undocumented OS behavior.  Also, this doesn't seem as compelling to me as the long file paths work; file paths are user-visible, so there are good reasons for them to be long.  Semaphore names are not visible, and so can be generated any number of ways, including the hashing scheme @poizan42 has already suggested.

[2015-10-09 21:04] saurabh500 commented on #3629
The version has been upgraded to 4.1.0-beta-* to take care of the xplat dependencies

[2015-10-09 21:04] #3629 closed

[2015-10-09 21:05] bartdesmet opened #3758 "Expression interpreter - Some issues with Increment and Decrement"
Three issues found with the interpreter code when cross-checking compiler and interpreter for Increment and Decrement nodes:

- [De|In]crement(T) != T for T = UInt16 and UInt32
- Missing implementation for UInt64
- Nullable support is lacking

I'll have a look.

[2015-10-09 21:18] davidsh commented on #3699
This is actually a known issue with ReadAsStreamAsync().  Will send offline email with link.

[2015-10-09 22:34] bartonjs commented on #2546
Really the problem is that for OSX we should be using CommonCrypto instead of OpenSSL, and that's what these deprecation warnings are trying to tell us.  This is something that we definitely need to do long-term, but we have to start somewhere.  Moving to "Future".

[2015-10-09 22:51] divega opened #3760 "SqlClient for Windows: Native SNI depends on MSVCR110.dll"
Using SqlClient can cause a DllNotFoundException on sni.dll. This has been reported a few times by customers trying to use SqlClient on coreclr-x64/x86 on Windows (see aspnet/Home#904 for detailed symptoms). One of the possible causes is that you may need the Microsoft Visual C++ 2012 Redistributable installed to get SqlClient to work.

Beta8 has not solved the problem, e.g. `link /dump /imports s

[2015-10-10 01:32] noahfalk opened #3766 "Corefx build fails in dnu restore on windows"
I am attempting to follow the instructions at: https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md

While building the corefx portion of the code in a windows enlistment I see this failure output:
[code]

Running a build with more diagnostics enabled reveals this:
[code]
... Omitting some hopefully irrelevant build ouput for brevity ...
[code]

[2015-10-10 01:48] #3750 closed

[2015-10-10 11:42] jasonwilliams200OK commented on #3739
I am getting same on FreeBSD. Here is the [msbuild.log](https://gist.githubusercontent.com/jasonwilliams200OK/b375ce52c7b0c90e24af/raw/c895d405a3044dd6acdb26ec49c4b0ced0c76d1a/corefx-msbuild.log).

[2015-10-10 11:45] GSPP commented on #2329
@ericeil what's the best way to proceed without dropping this ticket? Should I reopen at CoreCLR?

You are speaking of CPU bound threads. Most production apps are IO bound in some form. They do not approach anything like 100% CPU load. Context switches are less of a concern here.

Most apps are super boring ASP.NET apps that move data around.

This is the core issue and it should be addressed:

He

[2015-10-10 12:45] JonHanna commented on #2329
The particular case you mention @GSPP could perhaps be served well by setting a minimum thread count above the norm. If you could do that then the cool-down period would have wasted idle threads, but the morning warm-up would be much faster.

Of course the move generally is to avoiding threads having to block when a task is IO bound. The more that is done the better, though of little comfort to so

[2015-10-10 14:21] GSPP commented on #2329
@JonHanna true.

Regarding async IO: It has a productivity and thoughput cost. When threads can be used to solve the problem that is often the most adequate solution. It is also possible to mix sync and async IO. The more long running and frequent the operation the more attractive async IO becomes (e.g. web service calls). For typical database queries in the sub 100ms range async IO usually is a w

[2015-10-10 15:55] #3546 closed

[2015-10-10 17:08] weshaggard commented on #3739
Copying the snippet from @jasonwilliams200OK's log:
[code]

I assume the file `/root/corefx/packages/Microsoft.DotNet.BuildTools.1.0.25-prerelease-00104/lib/ECMA.snk` exists?

I'm not at all sure what is happening here. @akoeplinger @ellismg any ideas? My only guess is there is something going on with mono csc here.

[2015-10-10 17:12] ellismg commented on #3739
I think @pgavlin was seeing this, but he cleaned and rebuilt and it worked.

[2015-10-10 17:30] pgavlin commented on #3739
No, I'm still seeing this. Haven't had a chance to investigate yet.

[2015-10-10 17:31] pgavlin commented on #3739
FWIW, I verified that the key file exists and that it contains the ECMA key.

[2015-10-10 18:35] jasonwilliams200OK commented on #3739
Yup the `ECMA.snk` file exists. I just rebuilt the current master: commit 4554758fb from scratch and the occurrence of this error has increased from 8 (against 2d36889) to 12: [old](https://gist.githubusercontent.com/jasonwilliams200OK/b375ce52c7b0c90e24af/raw/c895d405a3044dd6acdb26ec49c4b0ced0c76d1a/corefx-msbuild.log) vs. [new msbuild.log](https://gist.githubusercontent.com/jasonwilliams200OK/b3

[2015-10-10 19:29] CIPop commented on #2898
Would it be ok to separate tests by their type? I think the following namespace identification makes sense given the various types of tests that we have for System.Net:

  * Various types of tests
    * _namespaceUnderTest_.Unit.Tests
    * _namespaceUnderTest_.Functional.Tests
    * _namespaceUnderTest_.Performance.Tests

  * Common code:
    * _namespaceUnderTest_.Common.Tests

We can't change t

[2015-10-10 19:36] davidsh commented on #2898
In terms of System.Net tests, we already have code in src/Common\tests\System\Net that has helper classes listed under the System.Net.Tests namespace.  So, we should consider that so if we decide to move those "Common" classes to "System.Net.Common.Tests", we need to update some other test libraries.

Personally, I like @CIPop idea of refining the original agreement.  However, note that most tests

[2015-10-10 19:50] jasonwilliams200OK commented on #3766
Not sure if the Linux docs are out of sync here, but AFAICT, with mono v4.0.3+, it build on both Linux and FreeBSD and "build managed code on Windows" bit is not required anymore. For example on Windows 10 with Hyper-V, I used [these steps](https://gist.github.com/jasonwilliams200OK/6efa7907e66275df2d24) to build CoreFX on FreeBSD.

Nit: You can always use https://gist.github.com/ to dump the full

[2015-10-10 20:04] akoeplinger commented on #3766
@jasonwilliams200OK docs update PR is pending here: https://github.com/dotnet/coreclr/pull/1601, but the error in this issue seems to be from something else.

[2015-10-10 21:30] jasonwilliams200OK commented on #3766
Commented on https://github.com/dotnet/coreclr/pull/1601/files#r41701702.

I have just built `linuxmscorlib` on Windows 10 x64 with VS2015 Community edition installed using `.\build.cmd linuxmscorlib skiptestbuild` command.

[2015-10-11 00:49] bartonjs opened #3769 "ECDsa Sign and Verify expect different data forms between Windows and Unix"
ECDSA's Sign operation, algorithmically, emits two values, `r` and `s`.

The values produced by Desktop, and CoreFX-Windows are equivalent to `r.Concat(s)`.

CoreFX-Unix is emitting (and expecting) the signature block:
[code]
These values will never be equal, differing by the ASN/DER structural information.  Since Desktop is the de facto standard here, we need to make the Unix version match.

[2015-10-11 08:44] poizan42 commented on #3740
I understand the concern about undocumented behaviour. On the other hand this is a compatibility constraint. There is already going to be applications out there that will stop working if the length limit is enforced, and I don't really see a reason why it should be in the future.

Maybe one of you Microsoft insiders could ask the relevant team whether it's ok to rely on (and in that case the docum

[2015-10-11 16:38] bartonjs opened #3771 "Windows GetECDsaPrivateKey fails on ECDsa PFX files created with OpenSSL"
When opening the private key NCrypt reports that the algorithm is ECDH_P384 instead of ECDSA_P384; then ECDsaCng rejects the key for being from the wrong algorithm group.

Commenting out these lines showed the key to be functional in this role, so perhaps the checks need to be relaxed a bit.

Taking a PFX generated from Windows which works and sending it through:
[code]
supplying both the PFX decr

[2015-10-11 17:24] bartonjs opened #3772 "Unix ECDsa doesn't support P-256"
Windows supports { 256, 384, 521 }
Unix supports { 224, 384, 521 }

I suspect the 224 was meant to be 256 (since 256 is a SuiteB curve).  256 should be added.

[2015-10-11 18:24] stephentoub commented on #3658
This was fixed by the exception handling fixes in coreclr.

[2015-10-11 18:24] #3658 closed

[2015-10-12 03:10] joshfree commented on #2221
/cc @terrajobst @nguerrera

[2015-10-12 03:12] joshfree commented on #2217
/cc @KrzysztofCwalina

[2015-10-12 03:21] joshfree commented on #2065
/cc @saurabh500

[2015-10-12 04:16] nguerrera commented on #2221
Assembly.GetCallingAssembly() has very bad semantics in the face of inlining: see remarks in https://msdn.microsoft.com/en-us/library/system.reflection.assembly.getcallingassembly(v=vs.110).aspx. If you're using this for logging/diagnostics, consider the much cheaper caller information attributes: https://msdn.microsoft.com/en-us/library/hh534540.aspx. If you're using this to make code-path decisi

[2015-10-12 04:19] jkotas commented on #2221
What does `Assembly.TryGetLocation()` return?

[2015-10-12 04:30] joshfree commented on #1058
closing this issue since @ellismg added automated win7 coverage to jenkins earlier this month

[2015-10-12 04:30] #1058 closed

[2015-10-12 04:35] jkotas commented on #2221
Assembly.Location deals with this case just fine - by returning empty string.

I do not have a problem with it. The signature is different, but it would otherwise do the exact same thing as Assembly.Location on CoreCLR - correct?

[2015-10-12 04:37] jkotas commented on #2221
We may want to let AssemblyLoadContext override what it returns ... I guess DNX may need it to handle the in-memory compilation, etc.

[2015-10-12 05:33] jeremymeng opened #3777 "Setting Socket.SendTimeOut throws SocketException on Linux"
The following code runs fine on Windows dnxcore50
[code]

However on an Azure Linux VM it throws with Success!
[code]

Here's my project.json

[code]

[2015-10-12 06:07] nguerrera commented on #2221
Yes. I actually meant `bool TryGetLocation(out string location)`, just be to draw more attention to the fact that you have to deal with it not being available, and opening up the possibility of putting it elsewhere than core reflection as an extension.

However, on second thought, exposing Assembly.Location as-is would be much simpler and .NET Native could simply return String.Empty.  Maybe that i

[2015-10-12 12:10] JimBobSquarePants opened #3778 "Current status of graphics library development."
Hi all,
I've been following the various conversations regarding graphics in corefx: #1563, #489, etc and also following the progress of the library in corefxlab https://github.com/dotnet/corefxlab/tree/master/src/System.Drawing.Graphics and I'm still left wondering what the overall plan is. Progress in the lab repo seems to have stopped and there seems to be no further discussion I can find anywhe

[2015-10-12 15:14] Rohansi opened #3779 "Collectible AssemblyLoadContext"
Collectible assemblies can be used for many different things but it usually comes down to some form of hot swapping code. Updating a plugin or compiling a new version of a Razor view, without restarting the process or leaking memory.

.NET Core currently has no way to unload assemblies from memory if they are no longer required. In the full .NET Framework you could load the assemblies into a separ

[2015-10-12 15:16] weshaggard commented on #1058
For completeness @ellismg can you point us to the Win7 jobs?

[2015-10-12 15:40] stephentoub commented on #1058
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_outerloop_windows_win7_debug/

http://dotnet-ci.cloudapp.net/job/dotnet_corefx_outerloop_windows_win7_release/

[2015-10-12 15:54] KrzysztofCwalina commented on #2217
cc @krwq

[2015-10-12 16:03] rainersigwald opened #3780 "IOException on recursive Directory.Delete of path with trailing backslash"
I observed this after we took a recent beta System.IO over in MSBuild.  Many of our tests create a directory and have a `finally` that deletes it, which suddenly started failing.  After debugging, I think this is a regression caused by 0721434, which added a call in [`RemoveDirectory`](https://github.com/dotnet/corefx/blob/0721434e19e7f9ecf8bf6dba7485f6c86827388c/src/System.IO.FileSystem/src/Syste

[2015-10-12 16:37] joshfree commented on #3780
/cc @Priya91 @JeremyKuhne can you please investigate this regression for rc1?

[2015-10-12 16:39] joshfree commented on #3778
/cc @terrajobst @dsplaisted @Priya91

[2015-10-12 16:42] JeremyKuhne commented on #3780
I'll fix the issue soon (and add a test)

[2015-10-12 16:45] nguerrera commented on #534
Fixed by #3517

[2015-10-12 16:47] rainersigwald commented on #3780
@JeremyKuhne For what it's worth I did both in PR #3781 (but I won't be offended if you want to go a different way).

[2015-10-12 16:50] #823 closed

[2015-10-12 16:50] #534 closed

[2015-10-12 16:59] JeremyKuhne commented on #3780
@rainersigwald Thanks! I'll merge it once we get a green CI build.

[2015-10-12 17:08] ericeil commented on #2329
@GSPP, yes, please reopen this at CoreCLR.

[2015-10-12 17:20] joshfree commented on #2249
/cc @YoungGah @saurabh500

[2015-10-12 17:27] joshfree commented on #2135
is there a tracking bug in one of the aspnet repos for the blocking bug(s)?

/cc @danroth27

[2015-10-12 17:31] tarekgh commented on #2217
@tmat when encoding UTF16 "\ud800" to UTF8 bytes, what you expect to get as bytes i few allow the encoding? I am asking because there could be a workaround you can use but before I propose it I need to understand what you expect.

[2015-10-12 17:55] nguerrera commented on #3779
cc @gkhanna79 @jkotas

[2015-10-12 17:57] nguerrera commented on #3779
I am fine with the proposed API change. If the implementation PR is approved, we can update the contract in corefx to match.

[2015-10-12 18:03] stephentoub commented on #3744
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/3285/console

[2015-10-12 18:07] joshfree commented on #1942
@terrajobst does this mean you can tag this as "feature approved"?

[2015-10-12 18:10] joshfree commented on #1891
tagging as 'ready for api review' so this bubbles up in @terrajobst 's query.

[2015-10-12 18:23] joshfree commented on #2161
@ramarag @gkhanna79

[2015-10-12 18:24] CIPop opened #3784 "ALINK : error AL1078: Error signing assembly -- Access is denied."
Getting build errors on Win10 + VS2015:

`ALINK : error AL1078: Error signing assembly -- Access is denied. [s:\c1\src\Microsoft.CSharp\src\Microsoft.CSharp.csproj]`

From the log:

[code]
[msbuild.log.txt](https://github.com/dotnet/corefx/files/11943/msbuild.log.txt)

[2015-10-12 18:37] mellinoe commented on #3779
A minor nit since this is a protected constructor, but I think our guidelines say something like "prefer a single flag parameter over multiple booleans". Would it make sense in this case to provide something like AssemblyLoadContextOptions? It would probably make the most sense if we expected there to be more combinable options in the future, but I think our guidelines suggest that it should alway

[2015-10-12 18:38] weshaggard commented on #2221
I would prefer we just add back Assembly.Location as opposed to adding the TryGetLocation.

[2015-10-12 18:57] #3780 closed

[2015-10-12 18:59] stephentoub opened #3785 "SendReceive.SendRecvAsync_Multiple_Stream_TCP_IPv4 failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/4952/console
[code]

[2015-10-12 19:09] #3543 closed

[2015-10-12 19:48] joshfree commented on #2152
@ianhays do we have good perf test coverage here?

[2015-10-12 19:53] joshfree commented on #1776
@JeremyKuhne does this issue still exist?

[2015-10-12 20:01] joshfree commented on #1787
@FiveTimesTheFun could you take a look please?

[2015-10-12 20:02] joshfree commented on #1844
@davidsh @CIPop @SidharthNabar @vijaykota

[2015-10-12 20:05] CIPop commented on #1844
Phase 1 complete: Added the contract and a temporary PlatformNotSupported implementation (will soon be added via @dotnet-bot automatic sync).

[2015-10-12 20:06] ianhays commented on #2152
No, we don't have any. System.Xml.XPath.XDocument didn't come up in any of my usage data (though System.Xml.XDocument did). I can add it to my list of places to perf test next though.

[2015-10-12 20:27] kouvel commented on #3588
Partially fixed by https://github.com/dotnet/coreclr/pull/1746. Here are my numbers in iterations per second, where each iteration consists of 10,000 allocations:
- Dictionary (Windows): 2327
- Dictionary (Linux): 891 (baseline), 1803 (fixed)
- List (Windows): 4576
- List (Linux): 1051 (baseline), 2643 (fixed)

[2015-10-12 20:35] JeremyKuhne commented on #1776
@joshfree It still exists.

[2015-10-12 20:37] kouvel commented on #3588
Leaving the issue open since there is still a considerable gap

[2015-10-12 20:38] kouvel commented on #3590
Partially fixed by dotnet/coreclr#1746. Here are my numbers in iterations per second, where each iteration consists of 10,000 allocations:
- Hashtable (Windows): 3200
- Hashtable (Linux): 829 (baseline), 1465 (fixed)
Leaving the issue open since there is still a considerable gap.

[2015-10-12 20:40] #3699 closed

[2015-10-12 20:54] nguerrera opened #3787 "Add unit test coverage for portable PDB"
There is test coverage in Roslyn for portable PDBs, but before we ship a stable System.Reflection.Metadata, we need sufficient unit tests in corefx.

We'll merge #3560 with Roslyn's sign-off now so that we can get them a -rc build out of master in time.

[2015-10-12 21:03] terrajobst opened #3788 "Complete Environmment.SpecialFolder"
Filed on behalf of [Joel Bennett](https://twitter.com/Jaykul).

Many of [the locations](https://msdn.microsoft.com/en-us/library/dd378457) added since Vista are missing.

[2015-10-12 21:22] Jaykul commented on #3788
If I understand the new APIs correctly, the problem isn't _simply_ that there are missing locations, the problem is that Environment.GetSpecialFolder is based on the fixed list of CSIDLs which have been deprecated since Windows Vista and replaced with an extensible list...

That is to say, the new IKnownFolderManager API which is now used in [SHGetKnownFolderPath](https://msdn.microsoft.com/en-us/

[2015-10-12 21:32] sokket opened #3789 "Get automated process to enforce coding rules"
Currently, we have code styling and formatting rules for both native and managed code but there is no process to enforce these rules. We should enforce these rules in an automated, easy way to ensure code cleanliness and styling

[2015-10-12 21:38] moozzyk opened #3790 "Sending http requests segfaults sometimes on Mac if the request fails"
I noticed this issue when trying dnx beta-8 bits on Mac. When I restore packages of my dnx app I frequently (~50% of the time) get a segfault if the request fails with an HTTP error (e.g. 404 or 400). I am not exactly sure if this is a bug in coreclr, libcurl or somewhere else. I was not able to repro this issue on Linux. I also don’t seem to be getting the segfault if the request succeeds.

Excep

[2015-10-12 21:56] joshfree commented on #3788
@terrajobst are you going to flush out the mini-speclet?

[2015-10-12 22:00] joshfree commented on #1613
@saurabh500 @YoungGah

[2015-10-12 22:01] joshfree commented on #1612
@saurabh500 @YoungGah

[2015-10-12 22:03] SidharthNabar commented on #2936
@markmnl - This effort is being tracked by PR #3655 - please take a look and let us know your feedback on the proposed API surface area.

[2015-10-12 22:03] joshfree commented on #1635
@bartonjs

[2015-10-12 22:05] SidharthNabar commented on #2934
New surface area for Sockets contract is tracked by PR #3655 - please take a look.

[2015-10-12 22:07] #1547 closed

[2015-10-12 22:10] SidharthNabar commented on #2505
@benaadams - Since your request was intended for server WebSockets which is not tracked in this repo, I am closing this issue. Please open an issue in the ASP.NET 5 repo that Cristian mentioned above.

[2015-10-12 22:10] bartonjs commented on #1635
@Bartmax Things have substantially changed since this was opened; have things gotten better now, or do you still see problems in our package hierarchies?

[2015-10-12 22:12] SidharthNabar commented on #1844
The implementation for NegotiateStream will likely not come in before RC. Till then, we will have a skeleton API surface which throws PlatformNotSupportedException, so that dependent libraries can build successfully in .NET Core.

[2015-10-12 22:12] twsouthwick commented on #1545
Yes, this is already available. Please update to the newest drop. Outputs for excel, html, and json are supported - if another format is desired, please submit a PR with an implementation of `Microsoft.Fx.Portability.IReportWriter` at http://GitHub.com/Microsoft/dotnet-apiport.

[2015-10-12 22:16] Bartmax commented on #1635
@bartonjs everything's good! thanks.

[2015-10-12 22:16] #1635 closed

[2015-10-12 22:18] joshfree commented on #1712
@pallavit could you take a look since you're already working in this area?

[2015-10-12 22:20] #1462 closed

[2015-10-12 22:20] SidharthNabar commented on #1751
Assigning to future milestone since we will not be able to make these changes before RTM timeline due to other higher priority issues.

[2015-10-12 22:23] terrajobst commented on #3788
@Jaykul, are you willing to sketch how you think the APIs should look like? It seems what we need is a different kind of interaction. May be it should be a separate, Windows specific library?

[2015-10-12 22:24] joshfree commented on #1616
I'm closing out this bug since it is fixed in beta7 (which shipped in September) according to @CarolEidt 's comment above; http://blogs.msdn.com/b/webdev/archive/2015/09/02/announcing-availability-of-asp-net-5-beta7.aspx

@mburbea feel free to reactivate if there are still any issues

[2015-10-12 22:24] #1616 closed

[2015-10-12 22:28] joshfree commented on #1244
changing state "ready for api review" => "needs more info" per @terrajobst remarks above.

[2015-10-12 22:31] bartonjs commented on #1635
@Bartmax Glad to hear it :smile:.

[2015-10-12 22:31] #1604 closed

[2015-10-12 22:33] #1545 closed

[2015-10-12 22:40] jaredpar opened #3793 "EventListener.DisposeOnShutdown crashing xunit processes"
Recently we've seen xunit failing due to a bug in EventListener.DisposeOnShutdown.  Here is the stack of the failure:

[code]

Here is the relevant code:

[code]

It appears this code is not accounting for the case that `s_EventSources` could be modified either by the `Dispose` call directly or indirectly via other methods in `EventListener`.  All of the other methods which modify / enumerate `s_E

[2015-10-12 22:40] joshfree commented on #1373
can this issue be closed out now?  Is there any further action to take?

[2015-10-12 22:56] #3383 closed

[2015-10-12 23:12] Clockwork-Muse commented on #1373
@joshfree - I was expecting somebody to close it after updating the documentation (which I haven't been checking).
We might also consider removing the separate LongCount operator (internally) and just cast the regular int up on return...

[2015-10-12 23:45] weshaggard commented on #3793
cc @vancem

[2015-10-12 23:58] vancem commented on #3793
cc @davmason

David, I have not looked at this carefully, but it looks like we just need to wrap DisposeOnShutdown in the EventListener lock (like everything else).

[2015-10-13 00:07] noahfalk commented on #1797
#1420 had many different contributors on it and not all their scenarios were identical. The code I see  in the repo right now supports scenarios where you want to programmatically inspect the stack trace from an exception. That part of the code was not present when the issue was first opened, so some of the scenarios have now been addressed.

The does not support other scenarios such as getting th

[2015-10-13 00:21] jeremymeng opened #3797 "Socket.Connect(dnsname, port) throws System.ArgumentException on Linux"
(Please see my project.json and a Program.cs template at https://github.com/dotnet/corefx/issues/3777)

The following code runs fine on Windows dnxcore50

[code]

On Linux it throws
[code]

[2015-10-13 00:26] jeremymeng opened #3799 "Socket.Connect(ipaddress, port) throws System.Net.Sockets.SocketException on Linux"
(Please see my `project.json` at https://github.com/dotnet/corefx/issues/3777)

The following code runs fine on Windows dnxcore50

[code]

On Linux it throws
[code]

[2015-10-13 00:57] joshfree commented on #1346
@yizhang82 @jkotas

[2015-10-13 00:57] joshfree commented on #1345
@jkotas can you comment on CERs

[2015-10-13 00:58] joshfree commented on #1347
@zhenlan can you comment please

[2015-10-13 01:05] joshfree commented on #1298
Closing since @FiveTimesTheFun went ahead and created https://github.com/dotnet/corefx-testdata back in April to store Compression, Packaging, and X509 Cert test data.

[2015-10-13 01:05] #1298 closed

[2015-10-13 01:15] nexussays commented on #1797
Could you drop a link? I can't seem to find this in the repo.

[2015-10-13 01:38] jkotas commented on #1345
CERs were primarily invented for SQL CLR, to ensure that user code cannot leak or otherwise damage the SQL process. The runtime was required to recover from OOM or thread abort in any spot.

We gave up on providing this level of robustness for .NET Core runtime and framework because of it is incredibly expensive to code and test for:

- Thread abort is not supported in .NET Core.
- OOM is on fail-

[2015-10-13 02:14] manu-silicon commented on #2584
Why was this entered in error? As of today, I do not see GetObject in ResourceManager and this is problematic for me.

[2015-10-13 03:04] Eilon commented on #1348
Hi folks, this is Eilon from the ASP.NET team. There are no current plans to bring the `System.Configuration` types to corefx.

The new [`Microsoft.Extensions.Configuration`](https://github.com/aspnet/Configuration/) is a great alternative way to have structured, layered, testable, DI-friendly configuration data and settings, including many built-in config sources, such as: command line args, envi

[2015-10-13 03:27] noahfalk commented on #1370
Adding @tmat
@davidfowl Have you talked to the Roslyn guys about this at all? Ostensibly the abstraction you are trying to restore comes in two parts:
1) The framework provides the Task libraries. The fact that TaskAwaiter.GetResult() has calls to TaskAwaiter.HandleNonSuccessAndDebuggerNotification is a framework detail, so it would seem reasonable that any algorithm to clean up that part of the s

[2015-10-13 03:37] noahfalk commented on #1797
The actual implementation is tucked down in mscorlib in the coreclr repo, making it harder to find : )
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Diagnostics/Stacktrace.cs

The reference assembly you would build against is here:
https://github.com/dotnet/corefx/tree/master/src/System.Diagnostics.StackTrace/ref

At build time for .Net Core we should be auto-generated the

[2015-10-13 04:21] vijaykota commented on #3790
cc: @kapilash  Please take a look.

Hemanth, IIRC we had a test case that checks for bad status code (maybe it is there only for HTTP) or the test case got missed in the move away from httpbin.org

[2015-10-13 04:45] joshfree commented on #1477
@Chrisboh can you share an update?

[2015-10-13 04:46] joshfree commented on #1512
/cc @morganbr

[2015-10-13 05:00] #1348 closed

[2015-10-13 05:01] Jaykul commented on #3788
Well, if you build it purely based on the Windows APIs, then it's obviously Windows specific -- however, I'm sure that most operating systems have similar common folder paths for at least some of them, and if you implement it based on the KnownFolderManager, you'd be in a sweet spot where each OS can register the folders that it supports and the APIs would basically work the way they're supposed t

[2015-10-13 05:33] nexussays commented on #1797
Ah, thanks, I had found the CoreFX one but the CoreCLR one eluded me.

So I suppose when anyone gets a chance to test and confirm this is working we can close the issue.

[2015-10-13 05:53] joshfree commented on #636
@ianhays could you track this one down please?

[2015-10-13 05:53] rajansingh10 opened #3802 "Test - Fix FakeNetwrokStream(System.Net.Security.Tests) read method for successive network read"
In SslStreamStreamToStreamTest.cs, SslStream_StreamToStream_Successive_ClientWrite_Success need to rely on DoNetworkRead() of FakeNetwrokStream because of the limitation of FakeNetworkStream. The read method in FakeNetworkStream does do NetworkRead on some condition which itself is wrong. As a result, in successive read, data is never read from the network.
So for now we have put a workaround meth

[2015-10-13 08:08] #3758 closed

[2015-10-13 08:26] kapilash commented on #3790
@moozzyk , Can you please share the details of your environment as well as the project.json  which gives you this error:

I am on OSX  Yosemite (10.10.5) and could not reproduce the problem neither with  1.0.0-rc1-15838 nor with 1.0.0-beta8-15653.

I tried the following scenarios:

Console App with http status code 40x
---------------------------------------------------
Tested using httpbin.org vi

[2015-10-13 08:36] Kukkimonsuta commented on #1345
Thank you for the explanation, I believe there is nothing to add and this issue can be closed.

[2015-10-13 10:07] Clockwork-Muse commented on #3133
At the moment, I'm going through System.Threading.Tasks as my fun project, as other people end up grabbing things.

[2015-10-13 11:19] davidfowl commented on #3049
@AlexGhiondea That sounds good

[2015-10-13 13:37] #1345 closed

[2015-10-13 13:55] joshfree commented on #423
I'm closing out this old issue as the cla-bot noise level was reduced several months ago (though the number of unique labels it uses remains high).

[2015-10-13 13:55] #423 closed

[2015-10-13 14:18] joshfree commented on #1218
Adding a ctor overload to specify the initial capacity seems pretty reasonable.  @dotnetchris Do you want to take a crack at the API proposal (https://aka.ms/apireview) and expand upon your post?

[2015-10-13 14:34] joshfree commented on #1415
I'm closing out this issue as the discussion ended ~6 months ago.  Please feel free to reactivate the issue if you disagree or if you have more to add (ie., how the index would be used).  Thank you

[2015-10-13 14:34] #1415 closed

[2015-10-13 14:55] joshfree commented on #1170
@rpetrusha could you follow up here?

[2015-10-13 15:18] tarekgh commented on #743
@joshfree, I thought the localization support was going to be added by @naamunds. am I wrong? you may look at #2713 which has the initial support I guess.

CC @weshaggard

[2015-10-13 15:44] aggieben commented on #1797
I don't think this issue should be closed until this scenario is addressed because it was the primary motivation behind #1420, which I opened.  In my particular case, having to throw an exception to get a stacktrace would make the diagnostic tool (miniprofiler) pretty intrusive and would make timings less meaningful.

I realize that I haven't contributed anything aside from the issue itself, and I

[2015-10-13 15:46] richlander commented on #52
Just enabled issue tracking.

[2015-10-13 15:51] #3772 closed

[2015-10-13 16:43] pgavlin commented on #3799
I cannot repro this on FC22. Trying Ubuntu now.

Which feed are you using?

[2015-10-13 16:45] pgavlin commented on #3777
I cannot reproduce this on FC22. Trying Ubuntu now.

[2015-10-13 17:01] joshfree commented on #1373
thanks @Clockwork-Muse. @rpetrusha can you give us an update on the docs?

[2015-10-13 17:03] joshfree commented on #743
@tarekgh I hadn't heard that - feel free to update / reassign

[2015-10-13 17:04] ianhays opened #3810 "Perf: Vector operations up to 200x slower on Linux"
Perf results for the individual iterations are available on my share, or I can post them here if requested. The tests that produced these results are currently in PR #3764. I included all Vector tests here (not just the slower ones) to simplify comparisons.

| test name                                                                 |  Windows time |  Linux time |  linux/windows |
|---------------

[2015-10-13 17:07] ianhays opened #3811 "Perf: DateTime.Parse(string, CultureInfo) 90x slower on Linux"
I can post or email the individual iteration results if desired; the values shown are the medians.

| test name                                                                      |  date ran  |  Windows time |  Linux time |  linux/windows |
|--------------------------------------------------------------------------------|------------|---------------|-------------|----------------|
| System.Globa

[2015-10-13 17:08] jeremymeng commented on #3799
Could it be related to the Azure?
[code]

[2015-10-13 17:10] jeremymeng commented on #3777
oh, I am still using dnx 1.0.0-beta7.  Is it too old?

[2015-10-13 17:14] pgavlin commented on #3777
Yes, I believe so.

[2015-10-13 17:15] stephentoub commented on #3810
@ianhays, what's the value of Vector.IsHardwareAccelerated in your Windows tests and in your Linux tests?

[2015-10-13 17:23] ianhays commented on #3810
False on Ubuntu, True on Windows. That explains that then.

[2015-10-13 17:26] ianhays commented on #3811
@eerhardt @ellismg

[2015-10-13 17:33] stephentoub commented on #3811
cc: @steveharter

[2015-10-13 17:35] terrajobst commented on #3244
We just reviewed this and it looks good as proposed.

[2015-10-13 17:45] ianhays opened #3813 "Perf: MemoryMappedFile.CreateFromFile ~20x slower on Linux"
| test name                                                                                  |  date ran  |  Windows time |  Linux time |  linux/windows |
|--------------------------------------------------------------------------------------------|------------|---------------|-------------|----------------|
| System.IO.MemoryMappedFiles.Tests.Perf_MemoryMappedFile.CreateFromFile(capacity: 10000)

[2015-10-13 17:48] ianhays opened #3814 "Perf: MemoryMappedFiles.CreateNew ~5x slower on Linux"
Probably related to #3813; possible duplicate

| test name                                                                             |  date ran  |  Windows time |  Linux time |  linux/windows |
|---------------------------------------------------------------------------------------|------------|---------------|-------------|----------------|
| System.IO.MemoryMappedFiles.Tests.Perf_MemoryMapped

[2015-10-13 18:20] ianhays opened #3815 "Perf: double.ToString(CultureInfo) 7x slower on Linux"
| test name | date ran | Windows time | Linux time | linux/windows |
| --- | --- | --- | --- | --- |
| System.Globalization.Tests.Perf_NumberCultureInfo.ToString(culturestring: "fr") | 10/13/2015 | 3.780472576 | 29.0264 | 7.677981896 |
| System.Globalization.Tests.Perf_NumberCultureInfo.ToString(culturestring: "da") | 10/13/2015 | 3.757379192 | 28.05800001 | 7.467439025 |
| System.Globalization.Te

[2015-10-13 18:33] bartonjs opened #3816 "Enable TestECDsaPublicKey_ValidatesSignature after new packages are published"
Since the test pulls the OpenSsl DLL from a nuget package it doesn't have the fix from #3800; so there's a bit of a lag in re-enabling this test.

[2015-10-13 18:43] moozzyk commented on #3790
This happens on a Mac Mini (Darwin Kernel Version 14.5.0). I tried beta8 candidate bits (beta-15858) as well as rc1-15838. I don't know what the difference is but it seems to happen less frequently on rc1 bits (I got it 'only' twice) than on beta8.
Here are the steps.
1. Clone https://github.com/aspnet/Security
2. Delete the global.json file
3. Go to samples/SocialSample folder
4. `dnu restore -s

[2015-10-13 18:45] krwq commented on #470
We do not recommend using optional args. Closing this thread as there is no actions expected.

[2015-10-13 18:45] #470 closed

[2015-10-13 19:39] #896 closed

[2015-10-13 19:39] #897 closed

[2015-10-13 19:46] CIPop commented on #2934
This enhancement was taken into consideration and will be included in the next version of the Sockets contract as a `SetSocketOption()` parameter. Please add your comments to #3655.

[2015-10-13 19:46] #2934 closed

[2015-10-13 19:52] ianhays opened #3818 "Perf: Console Color setting 5x slower on Linux"
| test name                                        |  Windows time |  Linux time |  linux/windows |
|--------------------------------------------------|------------|---------------|-------------|----------------|
| Perf_Console.ForegroundColor | 11.91903744   | 49.60640001 | 4.161946822    |
| Perf_Console.BackgroundColor | 12.05075527   | 62.62819999 | 5.197035257    |

Perf Test (same for Foregr

[2015-10-13 20:45] ianhays opened #3819 "Perf: Stringbuilder ctor 5x slower on Linux"
The constructor that takes a string is fine, but the default constructor is slow.

| test name                                                         |  date ran  |  Windows time |  Linux time |  linux/windows |
|-------------------------------------------------------------------|------------|---------------|-------------|----------------|
| System.Runtime.Tests.Perf_StringBuilder.ctor

[2015-10-13 20:51] stephentoub commented on #3819
Yes.  Constructing a StringBuilder() with the default constructor is essentially just a couple of object allocations, one for the StringBuilder itself and one for the underlying char[] array.  Having a different issue open for each different kind of object that's slower to construct probably isn't that worthwhile, since they all essentially boil down to the same set of issues, e.g. https://github.

[2015-10-13 20:52] jeremymeng commented on #3777
This does not reproduce using dnx 1.0.0-beta8.

[2015-10-13 20:52] #3777 closed

[2015-10-13 20:52] jeremymeng commented on #3797
This does not reproduce using dnx 1.0.0-beta8.

[2015-10-13 20:52] #3797 closed

[2015-10-13 20:52] jeremymeng commented on #3799
This does not reproduce using dnx 1.0.0-beta8.

[2015-10-13 20:52] #3799 closed

[2015-10-13 20:54] ianhays commented on #3819
Thanks @stephentoub, closing this then :)

[2015-10-13 20:54] #3819 closed

[2015-10-13 21:21] redknightlois commented on #3563
I just had to use this (http://pastebin.com/8REHRFFL) minutes ago. @daveaglick beat me to report it. :P

[2015-10-13 21:54] naamunds commented on #743
In September, we decided to postpone the localization work.  We will tentatively resume it around the beginning of December.

[2015-10-13 22:35] #3769 closed

[2015-10-13 22:41] TheNinjaCat opened #3823 "How can I create a DNX to use with dnvm?"
Hello,

I have compiled CoreFX following the instructions at:

https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md

And I have created the Hello World app following the instructions at:

http://dotnet.readthedocs.org/en/latest/getting-started/installing-core-windows.html

However, the instructions does not cover how to create and install a custom DNX. Is the

[2015-10-13 22:59] joshfree commented on #3823
I believe this issue is being tracked here https://github.com/dotnet/corefx/issues/3656

[2015-10-13 22:59] sokket commented on #3630
Pushing to RTM with the rest of these since they are based on the underlying (flaky) OS APIs

[2015-10-13 23:37] TheNinjaCat commented on #3656
I am using 1.0.0-rc1-15838.

Where do I need to drop the private binaries?

[2015-10-13 23:38] aL3891 commented on #721
Hey there, i took a stab at a .net version of the Rio apis over at https://github.com/aL3891/RioSharp, it's very early still but perhaps it can be useful

[2015-10-13 23:49] CIPop commented on #721
Really cool @aL3891! Thanks for sharing with us!

Please keep us updated. I'm really curious on how it performs vs [ctstraffic](http://ctstraffic.codeplex.com/) and vs the current implementation for Sockets.

[2015-10-13 23:49] paulomorgado commented on #470
:+1:

[2015-10-13 23:53] aL3891 commented on #721
Yeah i am as well :) my plan was to create a cts compatible server and client so i can test both ends of that. Hopefully i'll be able to spend some time on that this week, i'll be sure to keep you posted

[2015-10-14 00:22] morganbr commented on #1512
As I mentioned in #3293, making it transparent sounds reasonable to me.

[2015-10-14 00:54] davidsh commented on #3343
@mmitche - PING

[2015-10-14 00:56] mmitche commented on #3343
Sorry, we pick up the latest release build for the corefx testing (assuming that's what you mean)

[2015-10-14 00:59] davidsh commented on #3343
So, I still don't understand why this is still broken.  This issue is depending on #846.  But I don't think that dependent issue is still fixed yet.

[2015-10-14 01:08] stephentoub commented on #3343
The issue had been that we were pulling the latest build from an old coreclr build definition; Matt had revamped how CIs happened in coreclr, but we hadn't updated where we were pulling coreclr builds from, and thus we were pulling the latest from a feed that hadn't been updated in a while.  Matt fix that over the weekend I believe.  I just tried this test and it appears to be passing fine.

[2015-10-14 01:10] davidsh commented on #3343
Ok.  Great!  Then we can submit a PR to re-enable the test?

[2015-10-14 01:11] stephentoub commented on #3343
We should be able to, yes. If it still fails, we can dig in again to see why.

[2015-10-14 01:17] nguerrera opened #3826 "Unlist obsolete beta6/beta7 crypto packages from nuget.org"
Many packages are marked "obsolete" and need to be removed by RTM. (It would be nice if we didn't have them for RC1)

See packages marked obsolete here:
https://www.nuget.org/packages?q=System.Security.Cryptography

This is also throwing off corefx-progress results.

cc @bartonjs @chcosta @terrajobst

[2015-10-14 01:33] ellismg commented on #3739
I looked into this a little.

We don't actually use mono CSC, we use Roslyn and apparently Roslyn has never supported this when running on platforms other than windows (since it calls into mscoree to do stuff), see https://github.com/dotnet/roslyn/issues/2444 for more context.

We actually have code to work around this in dir.props by unconditionally setting `UseECMAKey` to false when the host pla

[2015-10-14 01:46] davidsh commented on #3343
@stephentoub I just submitted PR #3827.  But the CI system isn't kicking in with the test build.  Very strange.

[2015-10-14 01:48] stephentoub commented on #3343
Thanks for submitting that, David.  I believe @mmitche is already investigating the CI issue; he mentioned to me earlier this evening that it was experiencing some failures.

[2015-10-14 01:49] mmitche commented on #3343
@davidsh I am working on it.  There was a change made in the roslyn CI definition that screwed things up.

[2015-10-14 02:08] nguerrera commented on #3826
cc @joshfree

[2015-10-14 03:23] #3343 closed

[2015-10-14 03:38] kapilash commented on #3790
Thanks for the steps.
I am following them.  I do get a lot of ```Response status code does not indicate success: 400 (Bad Request)``` after step 5, but no seg fault yet.

[2015-10-14 04:11] ellismg opened #3831 "Intermittent System.Net.Security.Tests.SslStreamStreamToStreamTest.SslStream_StreamToStream_Authentication_Success failure"
See http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/5040/ for an instance when this failed.

[2015-10-14 04:11] ellismg commented on #3831
@bartonjs Who should take a look at this?

[2015-10-14 04:31] bartonjs commented on #3831
From Windows, I'd think @CIPop or @davidsh

[2015-10-14 07:13] nexussays commented on #1797
Good point. All that should require is adding a new constructor to [StackTrace](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.StackTrace/ref/System.Diagnostics.StackTrace.cs):
[code]
The implementation in CoreCLR seems to already fit the use-case if that API addition were made.

[2015-10-14 07:34] shrutigarg opened #3832 "Test: Add the Cipher Related tests to verify cipher Algorithms not present in the enum."
Add the Cipher Related tests to verify cipher Algorithms not present in the enum.

[2015-10-14 08:17] migig opened #3833 "Unseal System.Web.HttpCookie"
We can't subclass `System.Web.HttpCookie` as it's sealed.

Why is it sealed? We need to build a complex wrapper to do even simple things. Please consider unsealing it in the next version.

[2015-10-14 08:21] davidfowl commented on #3833
System.Web isn't part of corefx. You need to file a connect issue for .NET Framework changes

[2015-10-14 08:21] #3833 closed

[2015-10-14 08:58] #3737 closed

[2015-10-14 08:58] #3149 closed

[2015-10-14 09:07] bartdesmet opened #3834 "Expression interpreter - Some instructions lacking an InstructionName"
Makes it hard to debug the emitted code. E.g. AssignLocalInstruction lacks an override for InstructionName.

[2015-10-14 09:48] bartdesmet opened #3836 "Expression interpreter - Remove dead code"
There's some unused code in a variety of places of the expression interpreter that can be removed to reduce code size.

[2015-10-14 10:19] aevitas commented on #3740
As an aside, while a direct call to `CreateSemaphore` does work, calling the .NET equivalent: `new Semaphore(1,1, "Very long name here");` will indeed throw an `ArgumentException` if the name is more than 260 characters. Isn't this limitation imposed here by `ValidateNewName` simply arbitrary at this point if the platform invoked call does work (at least on Windows)?

[2015-10-14 10:25] poizan42 commented on #3740
Yes that is my point. However the documentation for CreateSemaphore claims that is should have a limit of 260 characters even though that isn't enforced. The real limit is probably 2^15 - 30 or a bit less depending on whether it's a global or local semaphore and what the session id is.

[2015-10-14 10:31] aevitas commented on #3740
@poizan42 Agree, it's even more conspicuous that enforcing this limitation or not differs depending on how you create the Semaphore.

[2015-10-14 10:33] bartdesmet opened #3838 "Expression compiler - No support for TryFault and TryCatch with Filter"
See CoreCLR https://github.com/dotnet/coreclr/issues/1764 for the underlying issue that causes this limitation. Note that this does work in the .NET Framework when emitting to a MethodBuilder that's not backed by a DynamicMethod.

We could either get the support for it in CoreCLR or consider an emulation strategy a la a try/catch/rethrow/finally with a Boolean flag to check whether an exception wa

[2015-10-14 10:35] manu-silicon opened #3839 "System.Security.Cryptography.Algorithms.dll appears multiple time in the reference assemblies"
When you build the reference assemblies, the assembly System.Security.Cryptography.Algorithms.dll appears 3 times:

./bin/ref/System.Security.Cryptography.Algorithms/4.0.0.0/System.Security.Cryptography.Algorithms.dll
./bin/ref/System.Security.Cryptography.Cng/4.0.0.0/System.Security.Cryptography.Algorithms.dll
./bin/ref/System.Security.Cryptography.X509Certificates/4.0.0.0/System.Security.Cryptog

[2015-10-14 10:48] bartdesmet opened #3840 "Expression interpreter - No support for TryFault"
This is not implemented right now. It may be possible to get it to work if we could get a try...fault... region in the interpreter code (in particular in EnterTryCatchFinallyInstruction.Run) but the C# compiler does not have this construct.

Some options are:
- Get it into the compiled binary using some ILASM magic, possibly by using a helper TryFault method that's self-contained and is parameteri

[2015-10-14 11:05] bartdesmet opened #3841 "Expression interpreter - No support for exception filters"
The expression interpreter lacks support for TryCatch with a CatchBlock whose Filter property is non-null. This is properly supported in the expression compiler though.

Support for this could be likely be added by unflattening the list of catch blocks that are processed by EnterTryCatchFinallyInstruction.Run and using C# 6.0's support for filters to run a region of interpreter instructions when a

[2015-10-14 12:33] #3739 closed

[2015-10-14 12:53] bartonjs opened #3843 "Unix AsnEncodedData.Format does not match Windows AsnEncodedData.Format"
(Apparently I missed this when moving x-plat crypto bugs from TFS to github back in April. Ouch.)

The biggest example that people will notice would have to do with Subject Alternative Names.  The examples below are `sanExtension.Format(true)`

Windows en-US:
[code]

Unix (non-localized):
[code]

And, for good measure, showing that Windows localizes this:
Windows es-ES
[code]

Windows ja-JP:
[code

[2015-10-14 12:56] JimBobSquarePants commented on #3778
Hello?

[2015-10-14 13:29] stephentoub opened #3844 "Crash in System.Net.Sockets.AsyncServer.Tests in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/5061/consoleFull

Not much to go on in the logs:
[code]

[2015-10-14 13:51] #3302 closed

[2015-10-14 14:16] #3445 closed

[2015-10-14 14:58] stephentoub opened #3845 "SslStream_StreamToStream_Authentication_Success failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/5049/console
[code]

[2015-10-14 15:02] bartonjs commented on #3056
@Grochni are you still seeing problems like this one?  I just tried this out using a fairly recent build and things seemed happy to me:

[code]

[2015-10-14 15:07] stephentoub commented on #3810
@mellinoe, am I correct in assuming that this is likely because Ian's running the Ubuntu tests in a VM? Or are there known JIT issues that would cause it to return false on Unix in general?

If it's likely due to the VM, Ian, it'd be good to try it out with Ubuntu installed natively on the hardware, rather than in a VM (and/or trying Windows in a VM).  If we're comparing hardware-accelerated on on

[2015-10-14 15:09] AArnott commented on #1414
The docs for [`IList.IndexOf`](https://msdn.microsoft.com/en-us/library/system.collections.ilist.indexof(v=vs.110).aspx) says it calls `object.Equals(object)` on each value in the collection. So assuming these never throw an exception, neither should `IList.IndexOf` just because the type isn't what was expected. So it sounds like we should alter `ImmutableList.IList.IndexOf` behavior to conform.

[2015-10-14 15:12] AArnott commented on #2036
This seems like a safe behavioral change to make, since it seems very unlikely to break anyone.
As for the precedent set by the .NET Framework, there are APIs where there are overloads with and without some parameter and if the overload with the parameter is called but with a null value, an exception is thrown. But I agree that's at least inconvenient, and not something we need to emulate.

[2015-10-14 15:34] naveensrinivasan commented on #2155
I tried it with the latest beta  and it still fails

[code]

I am using the apnetbeta8

[code]

[2015-10-14 15:57] davidsh commented on #2155
@naveensrinivasan
Is this on Windows on Linux?  This original issue was about the Linux version  not working correctly.  Your traces above show Windows OS.

[2015-10-14 16:00] naveensrinivasan commented on #2155
This is on windows. I tried on osx also.

[2015-10-14 16:27] davidsh commented on #2155
This issue tracked runtime xplat dependencies for Linux.

It sounds like you are having a different problem on Windows.

Please open up a NEW issue and open it up in the asp.net/dnx repo: https://github.com/aspnet/dnx

It looks like you are having some old packages being restored incorrectly.  Perhaps this is a package cache/corruption issue.  The DNX team would be best to troubleshoot this.

[2015-10-14 16:35] AArnott commented on #3293
I have sent a private build to @NArnott asking for verification of the fix.

[2015-10-14 16:51] joshfree opened #3849 "Investigate removing Homebrew dependency for ICU"
The experience when you don't have an ICU or have a mismatched ICU (anything other than version 55) today is not great.  Let's improve this experience for rc1

http://userguide.icu-project.org/design#TOC-ICU-Data-Compatibility

Starting in ICU 3.8 and later, the data library that comes with ICU is binary compatible and structurally compatible with versions of ICU with the same major and minor vers

[2015-10-14 16:57] joshfree commented on #3849
/cc @danroth27

[2015-10-14 17:11] #3834 closed

[2015-10-14 17:19] weshaggard commented on #3739
Thanks @ellismg I think this just started to break because we just started to build the ref folders recently (https://github.com/dotnet/corefx/commit/581a77341ea7fd3f8ed9897b5d2810eea87eb44b). I suspect it has been broken since then.

[2015-10-14 17:22] VSadov commented on #3840
could also be modeled as an all-catching  Try/Catch

[2015-10-14 17:34] mellinoe commented on #3810
That may be the case. I haven't had a chance to try to repro this myself, but I will take a look in the coming weeks. I chatted with @CarolEidt briefly and didn't think of anything that would be blocking this on Linux, so we will have to investigate further.

[2015-10-14 17:35] #3559 closed

[2015-10-14 17:35] #3558 closed

[2015-10-14 17:37] pallavit commented on #3294
This should be fixed as part of #3683

[2015-10-14 17:37] #3294 closed

[2015-10-14 17:38] pallavit commented on #3260
This has been enabled as #3650

[2015-10-14 17:38] #3260 closed

[2015-10-14 17:39] steveharter opened #3850 "Modify misc tests to use Invariant culture instead of current culture"
Also see issue #3759 for background

Some tests assume en-us or invariant and on a test machine which is not configured the tests will fail. These tests should not depend on a specific default locale.

Below is a set of tests that fail when LANG variable is not set in Linux. These should be fixed to explicitly use Invariant.

Note that some of these tests fail due to unrelated but known issue with

[2015-10-14 17:40] pallavit commented on #2251
This should be a non-issue after merging PR #3536

[2015-10-14 17:40] #2251 closed

[2015-10-14 18:13] #2278 closed

[2015-10-14 18:36] nguerrera commented on #3534
Do we think that $(CommonPath) is all that important to keep? I'd be fine just putting literal relative paths everywhere.

(The VS issue should be addressed, though -- @Pilchie should we file a bug on dotnet/roslyn?)

[2015-10-14 18:39] AtsushiKan commented on #3534
I vote for kicking $(CommonPath) out with extreme prejudice.

[2015-10-14 18:53] ellismg commented on #3849
@danroth27, I would like to better understand what pain points this is causing.  I understand that right now ICU is the only dependency we have on OSX that doesn't ship inbox, and it has to be acquired via homebrew.  If we solved this for OSX (by dynamically linking against a system provided ICU) is that sufficient?  This would remove the need for users to acquire ICU themselves on OSX.

I don't s

[2015-10-14 19:03] jasonwilliams200OK commented on #3849
Static linking for cross-platform might be a challenge too. We will need to check the dependencies `readelf -d /path/to/libicui18n.a`. Secondly, for cross-platform, it will require us to take their repo as submodule and build the lib as part of CoreFX build process, otherwise something linked with glibc (libc.so.x), ld-linux-x86-64 and/or libc++ will not work with other Unix-like OSes. The additio

[2015-10-14 19:37] joshfree commented on #2699
ping @EricWhiteDev

[2015-10-14 19:43] #1512 closed

[2015-10-14 19:43] #3293 closed

[2015-10-14 20:05] ellismg opened #3858 "Support all CompareOptions values"
For cross plat we don't currently support CompareOptions other than Ordinal, IgnoreCase, OrdinalIgnoreCase and None.

We need to understand how to support the other options on top of ICU, which has a different collation model than Win32.

[2015-10-14 20:08] AArnott commented on #1414
This applies to more than `IndexOf`. The `IList.Contains(object)` and `IList.Remove(object)` methods have the same problem. I'll fix them altogether.

[2015-10-14 21:34] CIPop opened #3862 "Investigate all Double-Check locked patterns and consider static or Lazy<T>"
Investigate all Double-Check locked patterns and consider alternative singleton implementations such as the `static` or `Lazy<T>` patterns.

See: http://csharpindepth.com/Articles/General/Singleton.aspx

[2015-10-14 21:50] jasonwilliams200OK commented on #3739
Thanks @ellismg! No more `ECMA.snk` errors on FreeBSD ([latest msbuild.log](https://gist.githubusercontent.com/jasonwilliams200OK/b375ce52c7b0c90e24af/raw/62c9aed2bcd3a2d816b5118b42a5883d6638e37a/corefx-msbuild.log) against 01fc685) :+1:

[2015-10-14 21:52] mellinoe commented on #3103
As this is an F# project system bug, I'm closing this for now.

[2015-10-14 21:52] #3103 closed

[2015-10-14 21:52] mellinoe commented on #3066
This should be fairly trivial to fix, but I haven't had time yet, moving to future milestone.

[2015-10-14 21:55] jazzdelightsme opened #3863 "Add System.Runtime.InteropServices.ICustomMarshaler to the contract"
c.f. [coreclr #1767](https://github.com/dotnet/coreclr/issues/1767)

The ICustomMarshaler interface needs to be added to the contract so that people can use it.

[2015-10-14 21:57] jasonwilliams200OK commented on #3863
dup https://github.com/dotnet/corefx/issues/1346

[2015-10-14 22:02] pallavit opened #3865 "Enable System.Diagnostics.Process.HandleCount property"

[2015-10-14 22:23] stephentoub commented on #3865
What's the driving desire behind exposing this?  I'm curious what decisions will be made based on the result.  We could implement this for Unix by trying to determine the number of open file descriptors, for example, but it's not clear what value that provides.

[2015-10-14 22:49] CIPop commented on #3114
Some code reorganization done in #3825.

[2015-10-14 22:59] weshaggard commented on #3262
@mellinoe @CarolEidt While the changes fixed some of the Vector tests I'm still seeing the following 2 values

[code]

I do believe it is related to JIT though because setting COMPLUS_EnableAVX=0 all the tests pass.

[2015-10-14 23:05] mellinoe opened #3866 "Implement System.Net.Utilities on OSX and Linux"
This is the library containing various Ping utilities.

[2015-10-14 23:10] mellinoe commented on #3866
Oops, dupe of https://github.com/dotnet/corefx/issues/2487

[2015-10-14 23:10] #3866 closed

[2015-10-14 23:25] mellinoe commented on #3262
Thanks Wes, that issue is tracked here: https://github.com/dotnet/corefx/issues/3066. I'm going to disable those two tests until I have time to fix them.

[2015-10-14 23:25] #3262 closed

[2015-10-14 23:30] pallavit commented on #3865
Powershell team has asked us for this behavior. They use it in their get-process cmdlet to display the no. of handles in the process

PS C:\windows\system32> get-process -name wsmprovhost

Handles  NPM(K)    PM(K)      WS(K) VM(M)   CPU(s)     Id  SI ProcessName
-------  ------    -----      ----- -----   ------     --  -- -----------
    467      29    62904      48292 ...79     1.67  14732   0 w

[2015-10-14 23:47] stephentoub commented on #3865
I mean, it's possible to return a number, but that number won't actually be the number of "handles", since "handles" don't exist on Unix.  We could make up something that we pretend is a handle, like a file descriptor, but it's really not the same thing and doesn't cover all of the same things that "handles" does on Windows.