[2018-10-26 16:22] norachuga opened #33071 "MultipartFormDataContent does not set ContentDisposition header fields if a header already exists"
https://github.com/dotnet/corefx/blob/a055f49d5eacf2022bdad255291e2a62c6cd6671/src/System.Net.Http/src/System/Net/Http/MultipartFormDataContent.cs#L78-L90

MultipartFormDataContent provides two overloads for setting the Name and FileName (and FileNameStar) fields on the ContentDisposition header when adding an HttpContent to the multipart content.

[code]
However, the underlying method, AddInterna

[2018-10-26 16:35] CameronGoodwin commented on #33018
Thanks all.  I agree that you shouldn't be using a disposed object.  As to why my code did that or how I stumbled across this...  Was learning more in .Net and been a while since I did C# so it was a learning mistake :).  Just wanted to call out the disparity between behavior on Windows vs Linux in .Net Core.  I think the two posts above properly call out that it should be returning an ObjectDispo

[2018-10-26 16:35] karelz commented on #33037
@Elufimov what do you mean by "everything was the same" on Windows 2016? Same problem experienced?
By DNS subsystem, I meant the one in OS, not .NET APIs ... I wonder if it is OS or .NET who is somehow sorting the addresses.

[2018-10-26 17:20] aspnerd commented on #18276
I wonder if the holdup is the fact that the encryption is proprietary and they can't open source it. If that is the cast then they should just create an add on nuget package for .net core so we can use it!

[2018-10-26 17:29] lsuarez5280 commented on #18276
@aspnerd that definitely isn't the problem. The existing SqlClient always encrypted support code is available right now in the Framework GitHub. There's nothing proprietary about that implementation.

[2018-10-26 18:16] jbhensley commented on #33004
You're saying that the second `Assert` is `true` in your test? I tried replicating this in `System.Reflection` [here](https://github.com/jbhensley/corefx/commit/4fb964d426773611b663cd78b4eb8c5a85101b35), but was not able to. What platform are you using?

[2018-10-26 18:17] Elufimov commented on #33037
@karelz yes, I have the same problem on windows 2016. You can find dig output in my previous message. I can run something else if it not what needed. But dig shows that consul returns ips in random order like in should. Also simple ping uses all ips in random order.

[2018-10-26 18:35] exyi opened #33074 "Linq.Expression.ArrayIndex is not writable"
I'm trying to create a System.Linq.Expression that assigns value to an array, but [the RequiresCanWrite method](https://source.dot.net/#System.Linq.Expressions/System/Linq/Expressions/Expression.cs,249) throws an exception at me saying that "Expression must be writeable". Should I somehow use the `IndexExpression` or is it a bug?

My code looks like this (it's reproducible on the interactive):
[co

[2018-10-26 18:51] David-Engel commented on #18276
@jxvalenz It's coming. Someone is actively working on the code. I don't have a timeline I can publicly share right now, though.

[2018-10-26 18:56] karelz commented on #33037
It looks like we are returning addresses in the order that is given to us by OS API:
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs#L159
Which I believe ends up calling to:
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Common/src/Interop/Windows/Winsock/Int

[2018-10-26 19:10] falahati commented on #26257
Any update on this?

[2018-10-26 19:11] karelz commented on #33071
Does it behave the same (potentially incorrect) way on both .NET Framework and .NET Core? Which versions did you try? (4.7.2 and 2.1)

[2018-10-26 19:16] jeffschwMSFT commented on #26257
@falahati we are working through deeper Windows COM scenarios for .NET Core 3.0.

[2018-10-26 19:34] falahati commented on #26257
Thanks, @jeffschwMSFT for answering so fast.

So we can expect a more complete support for WinCOM objects (or marshaling in general) on NetCore3 or a better rewrite and maybe with multiple missing features?

Meanwhile, I might be able to take a look at this issue, the whole `System.Runtime.InteropServices.CustomMarshalers` interface contains 4 classes (based on MSDN) and `EnumeratorToEnumVariantMa

[2018-10-26 19:42] jeffschwMSFT commented on #26257
Custom marshalers are in scope for 3.0.

cc @AaronRobinsonMSFT

[2018-10-26 19:51] jbhensley commented on #32987
Signature should probably match `List<T>`:

[code]

[2018-10-26 19:51] jkotas commented on #29842
Tracked by #29842

[2018-10-26 19:51] #29842 closed

[2018-10-26 20:18] Wraith2 commented on #33070
It's odd behaviour. Do you remember the details of why it was intended?

[2018-10-26 20:29] ericstj commented on #29900
Yeah, the fact that PCLs couldn't use that identity is interesting but doesn't really make it possible for us to remove this.  We try to make desktop assemblies work in core, and I can't convince myself that no-one used these types from a desktop assembly since we added WindowsBase.dll to the shared framework.

For now I think we'll need to stick with CoreFx building the shim for this and let WPF'

[2018-10-26 21:29] krwq commented on #16261
@willdean do you perhaps still remember the context on this?
Do you mean that Dispose takes a while to finish because it waits for BeginRead/BeginWrite and it waits until the operations complete instead of cancelling them or that Dispose completed but pending operations are still happening and are causing some issues?

[2018-10-26 21:33] krwq commented on #16050
I'm fixing this issue in this PR: https://github.com/dotnet/corefx/pull/33027/files#diff-773a9e01da688a99d805eb327e4b7012R22

[2018-10-26 21:36] houseofcat commented on #18276
@David-Engel thank you for the update and I understand you can't give specifics, however, what we really could us are some abstracts. Will we have a preview/release this year (2018), or in v2.2, >v2.2, 3.0. etc.

Can you let us know if there is intention to release it this year?

This isn't asking for a concrete delivery date, this is so we can plan our future NetCore empires and we have to protot

[2018-10-26 23:16] jhudsoncedaron commented on #33070
Back in the .NET Framework 1.0/2.0 days SqlConnection was a wrapper around a native library that did all the work including the pooling and had the "Inherit transaction isolation level behavior" they dared not fix in the native code for backwards compatibility. (I think a native caller could tell if it came out of the pool or not.) I filed the bug on MS Connect against .NET Framework 2.0/3.5 and w

[2018-10-26 23:29] #32907 closed

[2018-10-26 23:41] zmhh opened #33081 "FileOptions.Asynchronous causes Filestream.Write() to expand the file length before writing data, resulting in invalid data being read during a concurrent Read operation"
Windows 10
.NET Core 2.1.300

**Summary: FileOptions.Asynchronous causes a change in behavior of FileStream which results in incorrect Writes/Reads**

Background: I am implementing a persistent queue in which I write items to disk then read them off of disk. The purpose of this is so that on unexpected shutdown we don't lose data in the queue.

When testing I noticed a race condition where the byt

[2018-10-27 01:29] joshudson commented on #33081
This code does not look right. Adding FileOptions.Asynchronous and proceeding to call Read() and Write() like it were synchronous seems like an error.

[2018-10-27 03:07] JeffCyr opened #33084 "System.IO.Pipelines: The default MemoryPool is suboptimal"
`MemoryPool<byte>.Shared` is used as the default memory pool for pipes which is backed by `ArrayPool<T>.Shared` (`TlsOverPerCoreLockedStacksArrayPool<T>`).

`ArrayPool<T>.Shared` only keeps [8 arrays per bucket size per core](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Buffers/TlsOverPerCoreLockedStacksArrayPool.cs#L38). Typical usage of pipe will contain memory spik

[2018-10-27 03:19] stephentoub commented on #33084
Now that the default ArrayPool supports reclaiming stale buffers, based on experimentation we might want to consider upping the current limits.
cc: @JeremyKuhne

[2018-10-27 03:50] stephentoub commented on #31258
Replaced by https://github.com/dotnet/corefx/issues/32664

[2018-10-27 03:50] #31258 closed

[2018-10-27 04:09] stephentoub commented on #33081
It's functionally ok (though suboptimal in terms of performance) to use the synchronous Read/Write methods on a FileStream constructed with FileOptions.Asynchronous.

However, the repro has other problems.  In particular, the code is opening two streams to the same file, reading and writing concurrently.  It appears to be trying to use this as a form of message passing between the writer and reade

[2018-10-27 04:29] #32979 closed

[2018-10-27 05:01] stephentoub commented on #12037
Running the same test I previously ran shows SslStream is now vastly improved here, for a whopping zero allocations per operation on average :)  At this point it's not clear there's additional significant value to be had from a CopyToAsync override, so I'm going to close this.  If we find specific issues that could be addressed, we can re-open and/or address those individually.

For reference, her

[2018-10-27 05:01] #12037 closed

[2018-10-27 05:33] Clockwork-Muse commented on #32551
@tsvx - I've become less convinced that this is a necessary new feature, especially since the reason you're quoting is a red herring.

Essentially, `Lazy`'s position is that the resource should be initialized once (let's ignore threading issues, here), and that either the initialization succeeded, or it failed, just like normal object instance initialization.  The only difference is that the initi

[2018-10-27 06:48] facundofarias opened #33087 "SqlClient CryptographicException is back again on Mojave 10.14"
Hey guys, this seems related to #28652.

I was on OSX 10.13.* and it was all good. Then I've updated to Mojave (my mistake) and I am getting the following exception while trying to connect to MySQL:

[code]

I've already tried updating my dotnet installation as explained [here](https://www.microsoft.com/net/learn/dotnet/hello-world-tutorial), and I've also updated xcode to the latest release, not

[2018-10-27 08:06] willdean commented on #16261
@krwq I don't think I ever understood it properly, certainly not enough to propose a proper fix.   #16055 does have some quotes from old internal MS bug databases which are about the best context there is.

As far as I remember the issue is that if you close a port while async I/O is pending, then the close takes a while to actually complete properly (i.e. all the way down through the stack) altho

[2018-10-27 09:58] 1iveowl opened #33088 "TcpClient.LingerState Property does not behave as expected and documents w/ .NET core 2.1"
According to the documentation for [TcpClient.LingerState Property](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.tcpclient.lingerstate?view=netframework-4.7.2) it should be possible to control the way a `tcpClient.Close()` behaves.

Specifically, by setting `tcpClient.LingerState = new LingerOption (true, 0)`, the behavior is said to be [my bold-italic]:

Now, this is not the beh

[2018-10-27 10:58] GSPP commented on #33006
Maybe we should make a ticket to generally overhaul all collection classes with `Span`. That seems better than having a trickle of upgrades where each version just adds a few. We need to systematically see through all APIs and upgrade them.

Upgrading everything is necessary anyway, reduces the total amount of work, increases version predictability and helps with API consistency.

[2018-10-27 12:18] thargy opened #33089 "ReadOnlySequence<T>.GetPosition(<size>) behaviour"
## Current Behaviour
The current behaviour of `ReadOnlySequence<T>.GetPosition()` is demonstrated in the following code:
[code]
### Summary
The following behaviour is intuitive:
- `ReadOnlySequence<T>.End` appears to point after the end of the sequence (index = index.MaxValue, object is last segment).
- `ReadOnlySequence<T>.Start` points to first segment, index 0
- `ReadOnlySequence<T>.GetPosition

[2018-10-27 12:50] thargy commented on #33089
It is worth noting, that I think this can cause a related issue in `ReadOnlySequence<T>.TryGet()`.  If passed a position retrieved via `ReadOnlySequence<T>.GetPosition(<size>)`, `ReadOnlySequence<T>.TryGet()` will return `true`, but `output.Length` will be `0`.

[2018-10-27 13:02] Lakritzator commented on #32918
With the latest SDK version, 3.0.100-alpha1-009706, the NRE doesn't happen.
The PresentationFramework-SystemXmlLinq.dll is loaded from:
C:\Program Files\dotnet\shared\Microsoft.DesktopUI.App\3.0.0-alpha-27026-2

[2018-10-27 13:10] johndhunter opened #33091 "Mixed appsettings.json & appsettings.development.json"
I seem to be getting results from both appsettings.json and appsettings.development.json when I use the following:
`var users = _configuration.GetSection("AdministrationUsers");`

my appsettings.development.json is like:

`"AdministrationUsers": [
    {
      "Email": "Development@somewhere.com",
      "PasswordHash": "AQAAAAEAACcQAAAAEJqwmeQsHrAZySU8kIV8BJPsEGirVXddDhU0EWabuGdGzNj93/9MXQ17hsFhREN

[2018-10-27 14:12] thargol1 commented on #32928
@danmosemsft .Net core 3.0 seems fast enough for me.

I did some further investigation on .Net Framework and .Net core 2.2. A part of the performance difference is due to the fact that StartsWith internally calls a version of string compare ordinal ignorecase. When the characters do not match string compare performs an extra calculation to return a value less or greater than zero. For StartsWith a

[2018-10-27 15:12] kouvel commented on #32235
Exposed in https://github.com/dotnet/corefx/pull/32322

[2018-10-27 15:12] #32235 closed

[2018-10-27 15:12] kouvel commented on #32628
Exposed in https://github.com/dotnet/corefx/pull/32322

[2018-10-27 15:12] #32628 closed

[2018-10-27 15:42] hughbe commented on #33004
Example: https://dotnetfiddle.net/wSJVHX

[2018-10-27 15:50] karelz commented on #33087
@bartonjs can you please check it out?

[2018-10-27 15:53] karelz commented on #33088
Where is the documentation?
I don't think .NET can influence this level of TCP, we rely on underlying OS. We pass the LingerState as well to the OS (in its best approximation).
If docs are not accurate, we should fix them.

[2018-10-27 15:53] benaadams commented on #33089
As I understand it the `SequencePosition` sub properties are implementation dependent and shouldn't be directly used https://github.com/dotnet/corefx/issues/29001

/cc @pakrym

[2018-10-27 15:55] karelz commented on #33091
This issue was moved to aspnet/AspNetCore#3735

[2018-10-27 15:55] #33091 closed

[2018-10-27 16:00] jbhensley commented on #31570
Just to clarify, is this API approved for this:

[code]
or this:

[code]

[2018-10-27 16:03] 1iveowl commented on #33088
Apologies. I see that the first link I provided was incorrect. It now links to the documentation: [TcpClient.LingerState Property](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.tcpclient.lingerstate?view=netframework-4.7.2)

[2018-10-27 16:42] wjk commented on #32898
This PR seems to be implying that C++/CLI will now be officially supported on Core 3. This is news to me, as I've never seen any reference to this particular feature in any announcements. Is this accurate? Thanks!

[2018-10-27 16:44] nh43de commented on #26845
Looks like someone just finished an initial C# implementation of Arrow

[https://github.com/apache/arrow/tree/master/csharp](https://github.com/apache/arrow/tree/master/csharp)

[2018-10-27 17:33] jbhensley commented on #33004
Looks like thIs is the same as [coreclr issue 6977](
https://github.com/dotnet/coreclr/issues/6977)

[2018-10-27 18:48] thargy commented on #33089
I’ve read though that issue.  I can’t see any justification for `GetPostion(length)` not throwing an AOORException when `GetPosition(length+1)` and `GetPosition(-1)` do already.  Also the idea that you can have a `SequencePosition` returned from APIs that doesn’t point into the sequence (and isn’t `default` or an `EOS` indicator of some form) and appears ‘valid’ is a recipe for endless bugs.

That

[2018-10-27 18:54] benaadams commented on #33089
`SequencePosition` needs the methods public so it can be used by other data types other than `ReadOnlySequence<T>`; otherwise I assume they would have been internal.

 `GetIndex()` should have probably be called `GetToken()` though :-/

[2018-10-27 19:07] thargy commented on #33089
In which case, as puclic they form part of the Standard.  Therefore they have to actually mean something consistently otherwise the other code could not rely on them.

In reality, they are used throughout ROS to determine which sequence segment the position relates to.  So there’s at least an implied contract that if two SPs share the same Object then they are on the same segment; e.g. if SP.GetOb

[2018-10-27 19:29] MihaZupan opened #33094 "SocketAsyncEventArgs ThrowForNonFreeStatus when using HttpClient"
`InvalidOperationException: An asynchronous socket operation is already in progress using this SocketAsyncEventArgs instance` is thrown when calling SendAsync on an HttpClient.

Call stack:
[code]

Note that there may be multiple SendAsync calls on the same HttpClient instance from different threads.

I assumed that there shouldn't be any state-corruption when running concurrently since `SendAsync

[2018-10-27 19:44] smikis commented on #17905
Cleaning up dead code for:
 System.Diagnostics.DiagnosticSource
 System.Diagnostics.FileVersionInfo
 System.Diagnostics.Process
 System.Diagnostics.StackTrace
 System.Diagnostics.TextWriterTraceListener
 System.Diagnostics.Tools
 System.Diagnostics.TraceSource
 System.Diagnostics.Tracing
 System.Drawing.Primitives

#33095

[2018-10-27 19:44] stephentoub commented on #33094
Is it possible anything in your app previously tried to connect to http://0.0.0.0 or http://[::0] ? Did you get any other connect failures prior to this anywhere in the app?

[2018-10-27 19:59] nikoudel opened #33096 "WebProxy bypasses loopback despite of setting BypassOnLocal = false"
https://github.com/dotnet/corefx/blob/89ab1e83a7e00d869e1580151e24f01226acaf3f/src/System.Net.WebProxy/src/System/Net/WebProxy.cs#L203

[2018-10-27 20:29] MihaZupan commented on #33094
It will never call SendAsync of any url if `Dns.GetHostAddresses(url.Host)` fails, so urls with hosts like 0.0.0.0 should never get that far.
It could call SendAsync concurrently on multiple paths for the same host after it verified that it's resolvable.

The test suite will make many requests, one of them to https://expired.badssl.com to test the HttpRequestException case (if that's what you mean

[2018-10-27 20:52] stephentoub commented on #33094
Are you able to create a repro of the problem you can share? The only case I'm aware of (fixed for 3.0) where we didn't properly reset that in-use flag is when IPAddress.Any was used.

[2018-10-27 21:06] MihaZupan commented on #33094
The repo is public: https://github.com/MihaZupan/MarkdownValidator
The requests are only made in https://github.com/MihaZupan/MarkdownValidator/blob/master/src/MarkdownValidator/WebIO/WebIOController.cs

If you run the test suite rn, you will see the issue as WebRequestFailed warnings being shown instead of other warnings (since it will be cought by https://github.com/MihaZupan/MarkdownValidator/b

[2018-10-27 21:07] joshudson commented on #33069
So that was actually a bit embarrassing. Somebody fixed the Windows side before System.Diagnostics.Process was added into the github tree. The bug never got publicly acknowledged before. I've been adding defense code against this for no reason for a long time.

[2018-10-27 22:16] hernot commented on #32987
Agree

[2018-10-27 22:19] zmhh commented on #33081
Thanks for the replies. @stephentoub, I'm not sure that explanation makes sense to me.

First I check the file length before reading so I don't hit EOF:

`if (readerStream.Length - readerStream.Position < messageSize) continue;`

And I also check the return value of read to ensure I read the entire buffer length:

`while (read != buffer.Length)
                    {
                        read +=

[2018-10-27 22:37] jkotas commented on #33069
Still, it would be nice to change Windows to use the proper solution using `STARTUPINFOEX.` The lock is not ideal: It is potential perf bottleneck, and it handle the case when there is some other unrelated code creating the process as well.

[2018-10-27 22:47] stephentoub commented on #33081
You just edited the code an hour ago to change it from an `if` to a `while`.  That's a big difference.

When opened for async I/O, for better or worse FileStream expands the size of the file if it's not already long enough to accomodate the write, before it performs the write, so by allowing this to progress based on file length, you have a race condition where the file could end up being length e

[2018-10-27 22:50] thargy opened #33098 "[API Proposal] Add ReadOnlySequence<T>.TryGetChunk() extension method"
A common use case for a `ReadOnlySequence<T>` is to read data in packets of >1 element at a time. For example when reading an integer from a byte stream you need blocks of 4 bytes at a time, similar for a long (8 bytes).  Hashing and cryptography algorithms often work in chunks follow by a potential tail, where chunks are often relatively small of 2, e.g. 32 bytes.

Searching I couldn't find any A

[2018-10-27 22:53] joshudson commented on #33069
@jkotas : I thought significantly about that. If we change it there to use STARTUPINFOEX (and I believe we should) we have a lot more work to.

1) We should change both sides to use the same behavior. It would look horrible if all P/Invoke created handles are inherited on Linux/Mac/*BSD and none on Windows.

2) This is the backwards compatibility fight that started the big debate in #306 in the fi

[2018-10-27 22:55] stephentoub commented on #33094
How does one do that?  Can you provide step-by-step instructions?

Are you able to determine what the difference is?  Are they contacting different Uris?  Are they running on different numbers of cores?  Are they using IPv4 vs IPv6? Etc.  We can try to reproduce it locally using your repro, but it sounds like we probably won't be able to, given that you can't either locally.

[2018-10-27 23:02] zmhh commented on #33081
Thanks for the prompt response @stephentoub!

Yeah the if was incorrect so I changed it to while. Didn't mean for that to be sneaky or anything, just corrected it after seeing it was wrong and it reproduces the same issue both ways so I didn't mention the edit.

That makes complete sense and explains the issue! Thanks for pointing that out.

Since that race condition does not exist for synchronous

[2018-10-27 23:04] benaadams commented on #33098
Would this api help? https://github.com/dotnet/corefx/issues/32588

[2018-10-27 23:32] thargy commented on #33098
The proposed `SequenceReader` is extremely heavy weight in comparison and somewhat less flexible.  I could see it being built atop this proposal which is a much lower level API, working directly on a `ReadOnlySequence` and returning a `ReadOnlySpan`.  This proposal is really about making `ReadOnlySequence` much more readily usable as is, sitting alongside the existing `TryGet` method; without addi

[2018-10-28 01:33] MihaZupan commented on #33094
I just realized that it does call SendAsync for [::] once (turns out I only did the Dns check when host name was UriHostNameType.Dns)

When I restrict that address the issue seems to be resolved (ran the tests 30x on two digital ocean VMs).

I assume that makes this issue a duplicate of _something_?
Something that seems to only affects VMs?

[2018-10-28 01:46] stephentoub commented on #33094
https://github.com/dotnet/corefx/issues/32971
https://github.com/dotnet/corefx/pull/32972

[2018-10-28 01:50] paul1956 commented on #31181
In order to finish FileIO I need a few properties from System.Windows.Forms.ApplicationProperties. Is there a near term plan to port it? I will also need System.Windows.Forms.IWin32Window to finish MsgBox. Both these items don't have reference source but don't look very difficult to recreate. These are not blocking because I have disabled functions that depend on them but I think the FileIO librar

[2018-10-28 01:54] MihaZupan commented on #33094
Well, thank you so much for the very quick responses!

I wish I hadn't delayed the project for a month trying to debug everything, but at least now I can get back to actual code.

Do you know why my local machine wasn't affected by this?

[2018-10-28 01:55] #33094 closed

[2018-10-28 02:14] jkotas commented on #33069
Ok, I see. I have not realized that `STARTUPINFOEX` would not fork for the existing implementation.

[2018-10-28 02:51] jbhensley commented on #31291
It seems the easiest implementation would be to start at the end of the string and extract the port, working backwards until you reach the address/port delimiter. Whatever is left can be passed off to the existing `Parse` routines under `IPAddress`. Question: is there any precedent as to what may constitute the delimiter? [RFC 5952](https://tools.ietf.org/html/rfc5952), section 6 lists several for

[2018-10-28 03:33] Tratcher commented on #31291
`[2001:db8::1]:80`, `[2001:db8::1]`, and `2001:db8::1` are the primary use cases. I've never seen any of those other formats used.

[2018-10-28 04:00] davidfowl commented on #12037
@stephentoub do you have a screenshot of the profile you looked at?

[2018-10-28 05:44] #33081 closed

[2018-10-28 14:33] stephentoub commented on #31291
If there's a port, we should only accept the []: syntax. The RFC you linked to had a similar sentiment just after the quoted list:

"The [] style as expressed in [RFC3986] SHOULD be
   employed, and is the default unless otherwise specified.  Other
   styles are acceptable when there is exactly one style for the given
   context and cross-platform portability does not become an issue.  For
   URIs

[2018-10-28 14:53] NickCraver commented on #31291
Completely agree with the above 3 only. The other formats are ambiguous, I've never seen them in the wild (but don't claim to be an expert), and I bet they die off. If we haven't seen similar calls for support on the ASP.NET Core side, we shouldn't assume they're needed here. They could always be added later, if assumptions are wrong here.

[2018-10-28 15:57] stephentoub commented on #33084
Just to be clear, though, all buffers are available to all cores, this just impacts how quickly a buffer can be found.

If there's only one pipeline, sure, one thread producing (and renting arrays) and another consuming (and returning arrays) would make it more expensive, as the renter would end up fetching buffers from another queue. But if there are many pipelines, they're likely involving async

[2018-10-28 16:10] zmhh commented on #33081
Hey @stephentoub, I'm still not clear on why using FileStream as shown in the repro code is invalid, if we use a synchronous filestream. Could you help me clarify?

You described the reasons for it being invalid as being that we could reach EOF and return 0, and that a call to read does not guarantee it will return all of the requested bytes. We also saw that for an asynchronous filestream, there

[2018-10-28 16:33] jbhensley commented on #31291
Easy enough. The existing `IPAddress` parser for IPv6 already handles that syntax, we just need to make sure the syntax is used.

Our advantage is in knowing that the string value must include a port since this is `IPEndPoint` parse. No port == invalid. Basically, I envision `Parse`/`TryParse` using something like this at its core.

[code]

If not wildly off track, I'd like to take a crack at this

[2018-10-28 17:04] stephentoub commented on #12037
This is for the above test app that does 1M writes of 4K buffers to the client SslStream, which is connected over a NetworkStream to a server SslStream which is CopyToAsync'ing to Stream.Null:
![image](https://user-images.githubusercontent.com/2642209/47619146-dad10c80-dab1-11e8-9925-9868f759e975.png)
I don't yet know where some of those boxed value types are coming from, but those numbers are als

[2018-10-28 17:12] Drawaes commented on #12037
Looks pretty allocation free. To be honest the improvements made in SslStream now makes it a tough sell for a pipelines native version. (There are some gains but for the cost of doing it means it's unlikely to be worth it) ....

[2018-10-28 17:16] Tratcher commented on #31291
We already have an initial implementation [here](https://github.com/aspnet/BasicMiddleware/blob/f320511b63da35571e890d53f3906c7761cd00a1/src/Microsoft.AspNetCore.HttpOverrides/Internal/IPEndPointParser.cs#L8).

Also, I expect the port to be optional and default to 0.

[2018-10-28 17:18] stephentoub commented on #12037
I haven't yet tried, but my guess is that we'll still see one allocation per ReadAsync on SslStream for any that completes asynchronously, but that's something to be addressed with an overload of ReadAync that returns an ValueTask with a reusable IValueTaskSource, rather than trying to specialize CopyToAsync.

[2018-10-28 17:50] jbhensley commented on #31291
Ah, I see. Yes, the approach I outlined only works when it can be assumed that the port is included, which makes implementation fairly trivial.

[2018-10-28 18:52] jbhensley commented on #31291
@Tratcher You're implementation looks pretty good. After pondering a bit more though, I do think that the "backwards" way outlined above could be modified to handle optional port and avoid multiple `IndexOf` calls (i.e. hopefully process faster). Will look at this a bit later (when not in the middle of carving pumpkins with my kids ;) ... sorry).

[2018-10-28 21:11] zmhh commented on #33081
Thanks!

[2018-10-28 21:11] davidfowl commented on #12037
Wait this isn’t a test with async completions? We need something checked in that tests both scenarios. I’ll see what our benchmarks have

[2018-10-28 21:58] davidfowl commented on #12037
I’d also like to see a profile on our perf rig to make sure we test a more real scenario. Just to be sure it matches this

[2018-10-28 22:08] stephentoub commented on #12037
Sure. I'll look forward to seeing the results. Thanks.

[2018-10-28 23:59] ahsonkhan commented on #29683
Sure, I can try :)

If you have a performance test that captures the scenario you are interested in, you can run it by following the steps here:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md

You would have to write the relevant performance test first (if one doesn't exist). Let me know if you have any questions.

[2018-10-29 03:05] jbhensley commented on #31291
Ok, I think we're probably looking at something more like below (minimally tested). There's a complication here if we need to support port numbers in non-decimal numeric base (e.g. "[Fe08::1]:0xFA") which neither this nor the implementation presented by @Tratcher does. I think I can do that in parallel with processing as decimal as I will be unsure (working backward) of the base until I hit the le

[2018-10-29 12:38] pentp commented on #32665
Synchronously invoking `Dispose` in `Stream.DisposeAsync` looks like the best alternative.
If one day C# will support address-of for functions to detect overrides (https://github.com/dotnet/csharplang/issues/191#issuecomment-413007632) then it could be possible to skip the `Dispose` call even for derived classes.

[2018-10-29 12:40] artkpv commented on #32438
@ViktorHofer I guess this issue can be closed. I'm going to make another issue for the above comment.

[2018-10-29 13:45] stephentoub commented on #31291
Why would we need to do that?

[2018-10-29 15:06] Tratcher commented on #31291
@jbhensley note that test is only verifying IP parsing, not port parsing. The ports are ignored.

[2018-10-29 15:36] jbhensley commented on #31291
Noted. The presence of a hex port, however, does raise the issue of whether it is an expected, valid input. Don't misunderstand, I'm all in favor of base-10 only support; it makes coding this much easier. Just so long as we all know that it's an intentional decision.

[2018-10-29 16:05] rhyous commented on #27907
@joperezr I just saw this. I have a link to a sample project reproducing this issue: https://github.com/dotnet/corefx/issues/27907#issuecomment-371940323

[2018-10-29 16:08] bartonjs commented on #33087
I've tried building chains with a variety of success and failure conditions and haven't hit this (10.41.1 Beta 18B73a).  @facundofarias have you seen this against a host that I could connect to (I don't need credentials, just a host that's Internet-exposed)?

[2018-10-29 16:09] danmosemsft commented on #32985
cc @Chandrur-ms

[2018-10-29 16:09] #27606 closed

[2018-10-29 16:19] facundofarias commented on #33087
@bartonjs In my case, it's a MySQL database running inside a docker container (that we use for mainly for development).

The **docker-compose.yml** looks like this:
[code]
Thanks!

[2018-10-29 16:31] MattGal commented on #27333
Reactivating this issue since it's still a problem and seems to have not actually been addressed.  Unfortunately, VS 2015 tooling cannot tolerate an MSBuild project that does not have the namespace included, and the publish steps are still running this way currently:

[code]

[2018-10-29 16:35] MattGal commented on #27333
D'oh I already opened https://github.com/dotnet/corefx/issues/32983 but failed to find it.  Closing.

[2018-10-29 16:35] #27333 closed

[2018-10-29 16:43] MatthewLymer opened #33106 "Writing and reading http messages to stream verbatim"
I am trying to implement an HTTP mitm proxy that I can control programatically (change requests and responses).

Currently I'm handling sockets, intercepting the SSL handshake, serializing / deserializing http1.1 messages myself.  This works fine for now, but I know that both the kestrel team and corefx team are in the process of completing their H2 implementations for both SocketsHttpHandler and

[2018-10-29 16:44] nikoudel commented on #33096
I had a real issue before peeking the source code - my proxy was not used when accessing a web service on the localhost. Tested like this:

`var proxy = new WebProxy(Address: proxyUrl, BypassOnLocal: false);

if (proxy.IsBypassed(new Uri("http://localhost:5000")))
{
    throw new Exception("Proxy must not bypass localhost");
}`

[2018-10-29 16:47] bartonjs commented on #33087
@facundofarias Can you "pretend" that I've never actually used Docker and help me understand what to do with that? :smile:

[2018-10-29 16:47] joshfree opened #33107 "Trouble consuming System.ComponentModel.Annotations 4.5.0 in Powershell"
Filing an issue on behalf of a user who emailed 'Contact Owners' on https://www.nuget.org/packages/System.ComponentModel.Annotations/

The version on lib\netstandard2.0\System.ComponentModel.Annotations.dll is 4:2:1:0 The version on ref\netstandard2.0\System.ComponentModel.Annotations.dll is 4:2:0:0
Is this intended? I had problems consuming dlls built using this package in Powershell and had to u

[2018-10-29 16:49] MattGal commented on #32983
I went ahead and prepped https://github.com/dotnet/corefx/pull/33108/files as a suggestion since publishing has been broken for 9 days now.

[2018-10-29 16:54] marek-safar opened #33109 "An item with the same key has already been added. Key: System.Net.Http.Headers.HeaderDescriptor"
Run the following repro

[code]

When it hits race when setting up the request if terminates with the following exception
[code]

The code is racy but I think we should do better job by making the failure more obvious

[2018-10-29 16:54] karelz commented on #33096
Ah, thanks. This kind of unit test definitely helps.
It should be fairly straightforward to fix & write unit test. Are you interested to give it a try?

[2018-10-29 16:59] karelz commented on #33096
BTW: I just tried it on .NET Framework 4.7.2 and it behaves the same way there. It is not a regression in .NET Core against .NET Framework.
Unless there is some weird reason for this behavior I don't know about, it is a bug we should be fine fixing.

[2018-10-29 17:01] maryamariyan opened #33110 "[API Proposal] Debug.Provider property"
We would like to provide users with option to:
1) Customize UI Dialog to show during `Debug/Trace.Fail`, and/or
2) Control output sent to debugger. (The old [s_WriteCore and s_ShowDialog delegates](https://github.com/dotnet/coreclr/blob/85374ceaed177f71472cc4c23c69daf7402e5048/src/System.Private.CoreLib/shared/System/Diagnostics/Debug.cs#L345-L348) in Debug)

API Proposal:

[code]

cc: @eerhardt @

[2018-10-29 17:05] jbhensley commented on #31291
@Tratcher FYI: There are some errors in the logic on your parser, mainly centered around relative position of ":" and "]". Try running this address through:

"[3731:54:65fe:2::1]IAmNotValid65535"

You'll get address 3731:54:65fe:2::1 on port 0 because the code assumes it's IPv6 without a port. This is due to the fact that the last position of "]" is greater than the last position of ":". The input

[2018-10-29 17:09] ajcvickers commented on #33107
See also https://github.com/aspnet/EntityFrameworkCore/issues/13268 and https://github.com/dotnet/standard/issues/450

[2018-10-29 17:31] rmkerr commented on #33106
Sounds like an interesting project!

Unfortunately I'm not aware of any public classes we expose that can help you control serialization. You can of course take a look at the code we use in `SocketsHttpHandler` for serializing requests ([http/1.1](https://github.com/dotnet/corefx/blob/8305e5f139e83663b402673b71bb50e9fd0d2f31/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection

[2018-10-29 17:42] JeffCyr commented on #33084
I just finished going through PR https://github.com/dotnet/coreclr/pull/8209 and https://github.com/dotnet/coreclr/pull/17078, I see that there is a lot of thoughts and testing in the current design.

I have created a benchmark [here](https://gist.github.com/JeffCyr/05666375ba492ba287ed402a72c1ccbe) to reproduce the issue.

The benchmark reproduce a server workload sending medium sized message to

[2018-10-29 17:45] zamont commented on #32961
Regarding the `Microsoft.TargetingPack.Private.NETNative.1.1.0-rel-25728-00` and `Microsoft.TargetingPack.Private.NETNative.1.1.0-beta-27022-00` packages, I don't believe symbol packages are produced for these packages. Do we have mechanisms for an exclusion list to ignore these failures?

[2018-10-29 17:48] maryamariyan commented on #33110
Below two commits illustrate the requested change:
- https://github.com/maryamariyan/coreclr/commit/16f49160b69eb4bce8cba70f378a33e746de6497
- https://github.com/maryamariyan/corefx/commit/d1cc83c32a6676e630a117a58576641a3a5c83c0

They would be follow ups to the two open PRs below:
- https://github.com/dotnet/coreclr/pull/20581
- https://github.com/dotnet/corefx/pull/33020

[2018-10-29 17:53] weshaggard opened #33112 "Switch to StrongNameKeyId instead of AssemblyKey"
As part of the move to arcade we started using new properties for the strong name keys see https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/StrongName.targets#L29

We temporarily added a mapping (https://github.com/dotnet/corefx/pull/32921/files#diff-56f8482aeb786dd105fbf93dedf2615fR12) but we should instead just update all the libraries to use the new property na

[2018-10-29 17:59] jkotas commented on #33110
This is trying to address https://github.com/dotnet/corefx/issues/3708, correct? The proposal should work through the end-to-end scenario and describe how this would address the problem. Looking at the discussion in https://github.com/dotnet/corefx/issues/3708, I am not sure whether the proposed API works well.

Also, we should include alternative solution that does not involve adding a new public

[2018-10-29 18:09] maryamariyan commented on #33110
Applications can override default TraceListener and add their derived class to change the behavior of Trace.Fail, not Debug.Fail.

Currently there is no option for us to override the Debug.Fail behavior. The new Debug.Provider property can be set to change Debug.Fail behavior as we as DefaultTraceListener.Fail behavior. (through overriding ShowDialog)

[2018-10-29 18:14] ericstj commented on #32898
There are plans for Windows-only Managed C++ support, you can track it here: https://github.com/dotnet/coreclr/issues/18013

[2018-10-29 18:32] maryamariyan commented on #33110
That's on Desktop though. On .NET Core we don't have the Debug.Listeners API. My comment was purely on current .NET Core behavior

[2018-10-29 18:38] maryamariyan commented on #33110
That said, I see your point. Now that Trace.Listeners is shared with Debug we can expect a similar flow in .NET Core.
I'll need some time to go revisit this API proposal.

[2018-10-29 18:42] nikoudel commented on #33096
Sure, I'll create a PR.

[2018-10-29 18:54] jkotas commented on #33110
I mean to use `Trace.Listeners` in my example (updated). It is both in Desktop and .NET Core, and it should work the same way in both after the fixes you have in flight go in.

[2018-10-29 18:59] jeremymeng commented on #32457
I am hitting an error in a webtest that uses aspnetcore signalr client.  Since my webtest only outputs a dll there are no app.config/web.config. How could I use binding-redirects to fix the issue?

[code]

FusionLog failure

[code]

<details>
[code]
</details>

[2018-10-29 19:49] JeremyKuhne commented on #31570
@jbhensley: https://github.com/dotnet/corefx/issues/31570#issuecomment-424461314 has the approved API:

[code]

[2018-10-29 20:52] danmosemsft commented on #32898
Is it full functioning in the runtime now? Ie., https://github.com/dotnet/coreclr/issues/9204 is not because the runtime is not implemented but merely because we have not chosen to expose it.

[2018-10-29 20:56] jkotas commented on #32898
Yes, it should be functional on *Windows* only. The runtime work was done in https://github.com/dotnet/coreclr/pull/18373

[2018-10-29 21:09] stephentoub commented on #33084
Thanks.  This is worth investigating.  The ArrayMemoryPool/ConcurrentStackMemoryPool examples have effectively unlimited capacity, so they'll basically never throw arrays away.  When I switch ArrayPool's capacity to match, in your repro the Gen0/1/2 drops down to match these, and the CPU percentage drops down to ~150% instead of ~290%, but that's still 3x the 45% example of ConcurrentStackMemoryPo

[2018-10-29 21:34] danmosemsft commented on #29595
removing servicing-consider which is for PR's. if you think this should be serviced, please create a PR against 2.1.x and follow the usual process...

[2018-10-29 21:37] danmosemsft commented on #32898
OK. @maryamariyan another one for your list - expose for Windows, and add tests.

[2018-10-29 21:40] danmosemsft commented on #32797
@karelz broke CI again
https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/5651b5c2b7134c8ab662c5594b10f86db7f3cb9c

Can we please make it outer loop or disable for ARM until someone has time to robustify it?

[2018-10-29 21:45] terrajobst opened #33115 "The future of JSON in .NET Core 3.0"
JSON has become an essential part of virtually all modern .NET applications and in many cases even surpassed the usage of XML. However, .NET hasn't had a (great) built-in way to deal with JSON. Instead we've relied on [Json.NET] which continues to serve the .NET ecosystem well.

[Json.NET]: https://www.newtonsoft.com/json

Moving forward, we plan on making some changes to our JSON support:

* **We

[2018-10-29 21:47] #32983 closed

[2018-10-29 21:48] danmosemsft commented on #29331
@adamsitnik could you please help get better logs so we can figure this out?

[2018-10-29 21:56] thargy commented on #33089
Thanks for the information, where is that documented?  Also if that is the _only_ intent then there is no reason for those properties to be `public` and, at most, they should be `protected internal`.  As you say -

You then go to correct a throwaway comment in my code sample about a properties value that, apparently, I shouldn't use.

I'm so sorry, you're absolutely right, and I apologise for my m

[2018-10-29 22:05] steveoh commented on #33115
This is great. I am all for faster and less allocating json parsing.

Will there be a discussion about the features from json.net that the new json apis will support? If there is,I think the two major features that come to mind would be renaming/casing properties and ignoring null properties.

[2018-10-29 22:07] terrajobst commented on #33115
Yes. We've done some [early thinking](https://github.com/dotnet/corefxlab/tree/master/src/System.Text.JsonLab) that we will migrate to CoreFx. It will be a featured designed & build in the open as usual.

[2018-10-29 22:12] karelz commented on #32797
@wfurt @rmkerr how often does it fail?
@wfurt is in process to enable us debug test failures ...

[2018-10-29 22:14] garfbradaz commented on #33115
Hey @terrajobst. Will the new JSON appear as a netstandard API surface, or just integrated into Core for now?

[2018-10-29 22:16] terrajobst commented on #33115
Yes, the question is just which release train it can catch. 2.1 might be too early.

[2018-10-29 22:35] pakrym commented on #33089
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/SequencePosition.cs#L12

That was before System.IO.Pipelines shipped. It would be a breaking change to start throwing now.

`SequencePosition` is not tied to ROS. There were plans for adding other types that would use SP (https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Primitives/System/Collections/ISequen

[2018-10-29 22:41] danmosemsft opened #33117 "Add ref for folders that are missing one"
Some libraries in corefx have a `src` folder but no `ref` folder. In this case the src surface area will be used directly as the ref. This has some disadvantages such as
1. Ref folder is nice for quickly looking at the surface area and its history
1. Ref reduces the size of the references package
1. Possibly a build race, per #14291.

We should be consistent and have a ref folder. We already did a

[2018-10-29 22:42] seangwright commented on #33115
So the JSON parsing bits baked into the framework are planned to be available when v3.0 goes to RTM or will only the integration Apis in ASP.NET Core be complete (with just one implementation - JSON.NET) that will be swappable at a later date?

[2018-10-29 22:47] terrajobst commented on #33115
The plan for 3.0 is as follows:

1. Built-in high-performance JSON APIs. Low level reader/writer, a `Stream` based reader/writer, and a serializer.
2. ASP.NET Core is pluggable w.r.t. to the JSON component.

There is an open ended question what the templates for ASP.NET in 3.0 will use. Depending on fidelity we can provide by 3.0 we *might* have them pull in the Json.NET integration package. Howev

[2018-10-29 22:48] saurabh500 commented on #33070
@epignosisx  It would be good to provide the version of SqlClient that you are using as well, since SqlClient is a library that doesn't ship as part of .Net Core SDK.

1- It seems like something in the Connection Pool is getting corrupted once this happens. Since a restart fixes it.

2- The error seems related to some SSL issue based on the exception details (Provider SSL). However, our connection

[2018-10-29 22:49] krwq commented on #16261
@willdean I believe this should work correctly on Linux after my PR is merged (I got code handling that) but will be testing those scenarios (and cases when someone physically plugs out the cable) more later in case there are some issues I missed.

[2018-10-29 23:02] rmkerr commented on #32797
It doesn't appear to be failing at all in the daily runs, but it is failing regularly on PRs. It's failing ten to fifteen times a day, so we should fix it or move it to outerloop ASAP.

[2018-10-29 23:06] seangwright commented on #33115
Thanks - that helps clear things up. 👍

And some additional questions!

If an integration package is used, will it be used throughout the entire ASP.NET Core pipeline or only in some places?
I'm assuming Kestrel will always use the internal readers/writers.

Would the Api ergonomics be:
- Supply an integration only when you want to enhance the built-ins feature set.
- Supply an integration package

[2018-10-29 23:07] markrendle commented on #33115
Assuming that this new parser will be used for all the built-in JSON stuff like `appSettings.json`, could I put in an early request for comments to be supported?

Thanks.

[2018-10-29 23:07] thefringeninja commented on #33115
This is awesome news! Quick question: What packages will this library depend on?

[2018-10-29 23:15] JamesNK commented on #33115
@markrendle There is a opt-in setting to allow comments on the work in progress JsonReader. The configuration system will likely enable that setting by default.

[2018-10-29 23:15] markrendle commented on #33115
@Thorium Did you actually read the OP? It explains why not JSON.NET, and that JSON.NET will continue to be officially supported with an add-in package.

[2018-10-29 23:16] markrendle commented on #33115
@JamesNK 😄

[2018-10-29 23:20] JamesNK commented on #33115
@Thorium Json.NET isn't going away. You aren't losing anything. This is another option for simple and high performance scenarios.

[2018-10-29 23:32] Eirenarch commented on #33115
Are you planning on including a class like JObject and support for dynamic or this is out of scope for this feature?

[2018-10-29 23:34] rafaelsc commented on #33115
I recommend a look in excellent lib https://github.com/kevin-montrose/Jil this could be a really good lib to get inspirations.

[2018-10-29 23:35] #32641 closed

[2018-10-29 23:35] dotMorten commented on #33115
Will `DataContractJsonSerializer` have this new reader/writer used internally ?

[2018-10-29 23:36] mythz commented on #33115
Is there a reason why the 2nd most popular JSON library after JSON.NET - [ServiceStack.Text](https://github.com/ServiceStack/ServiceStack.Text) which has already [been refactored to be built on Span<T> APIs](https://docs.servicestack.net/releases/v5.2#spanified-servicestack) has been excluded? ServiceStack.Text serializers are what's used to power ServiceStack which is one of the most popular "Alt

[2018-10-29 23:43] #33064 closed

[2018-10-29 23:54] ctaggart commented on #33115
It may be worth reviewing the MIT licensed high-performance https://github.com/neuecc/Utf8Json

[2018-10-30 00:01] rizamarhaban commented on #33115
This is definitely what we need... my suggestion for the main class name, just use "**Json**".

[2018-10-30 00:06] jbhensley commented on #31291
PR #33119 opened for feedback.

[2018-10-30 00:10] galvesribeiro commented on #33115
@terrajobst I was wondering when this would happen...

I was always wondering why JSON.Net was added as a direct dependency rather than an abstraction (even considering it is the de-facto JSON package for .Net ecosystem).

However, I think add an abstraction for JSON-only is somehow a shoot on your feet. I think a _serializer_ abstraction like we have in [Orleans IExternalSerializer](https://githu

[2018-10-30 00:29] galvesribeiro commented on #33115
Yeah... I remember @migueldeicaza saying a while ago that someday, he will make .Net use `utf8` strings 😄

[2018-10-30 00:33] svick commented on #33115
@jges42 @galvesribeiro The proposal to add Utf8String is https://github.com/dotnet/corefx/issues/30503. It seems it's also planned for .Net Core 3.0.

[2018-10-30 00:49] pcdro commented on #33115
Hi @terrajobst,

There are any plans to get insights from ZeroFormatter?

https://github.com/neuecc/ZeroFormatter

[2018-10-30 01:09] JesperTreetop commented on #33115
Will these new JSON APIs have dedicated code paths for both `Utf8String` and `char`/`string`, or does the optimization involve flipping the status quo, so that everything that's not UTF-8 will have to be transcoded to it instead? (This doesn't necessarily involve a huge cost since nearly nothing is `string`'s native UCS-2 and still has to be adapted/accounted for, I'm just trying to get an idea of

[2018-10-30 01:23] gallivantor opened #33120 "Add NetDataContractSerializer to Windows Compat Pack"
Currently the Windows Compatibility Pack provides good coverage of the WCF client APIs for calling into existing WCF services.

However one thing that is missing is the NetDataContractSerializer; this means that from a .NET Core app it is not possible to call into an existing WCF service which returns data serialized in this format.

This request is to add this API to the Windows Compatibility Pac

[2018-10-30 02:10] JonasZ95 commented on #33115
@galvesribeiro
Actually I think you raise a good point. I think creating an efficient Serialization Framework and an efficient Json Decoder/Encoder are two kind of problems. I know there are some ways to mark a struct as Serializable but I've never seen it used for any Json Serialization.

The Serde project from Rust has actually a good concept by splitting the problem into 2 problems:
1. Serializ

[2018-10-30 03:13] poizan42 commented on #33115
@mythz The license of ServiceStack.Text is AGPL with some FOSS exception - it would probably prevent people from using it in proprietary software. Also I think it requires clearance from legal for Microsoft employees to even touch it, and any employees who has looked at the source might be barred from working on any other JSON library or related technology.

[2018-10-30 03:36] epignosisx commented on #33070
The System.Data.SqlClient version is 4.4.2.

Once this error occurs, subsequent requests start failing, it goes away once the app pool is recycled. This behavior, in addition to the stacktrace is what makes me think it might be something getting corrupted with the connection pool. There are other 3 instances of the app running in other physical servers and did not experience the issue. This helps

[2018-10-30 03:42] mythz commented on #33115
@poizan42 ServiceStack.Text is dual licensed with both OSS/commercial licenses free to use in both OSS and closed source commercial projects. But the license is irrelevant as MS is developing their own implementation.

The assertion was that MS was collaborating with the "ecosystem" to develop "pluggable" JSON serializer APIs - if ServiceStack which has been in active development in nearly a decad

[2018-10-30 04:32] dotMorten commented on #33115
I don't understand all this resentment. Asp.net forced you to use a specific version of json.net. They're changing it so you can pick which ever JSON parser you want (or mix it), and there's a default one OOB. ServiceStack should be happy about this change and monitor and provide feedback on this development, rather than just whine about how it had been overlooked, which rarely is an effective way

[2018-10-30 04:34] davidfowl commented on #12037
cc @sebastienros

[2018-10-30 04:34] abatishchev commented on #33115
Nope. How so?

[2018-10-30 05:02] gregsdennis commented on #33115
Seconded!

I am personally happy that we will finally be able to use the serializer of our choice without having to downloading JSON.Net only to not use it, but still need to ship it because ASP.Net has a hard reference to the library.

(Shameless plug: https://github.com/gregsdennis/Manatee.Json)

[2018-10-30 05:42] mythz commented on #33115
@dotMorten

Because you've either not read or understood my comments. Try to responding directly to my comments (i.e. use the quote feature) instead of making up your own narrative.

So like a magic "mix", they'll automatically choose the most optimal API and plugability options that existing .NET serializers are going to be able to plug straight in/out and mix into their internal customizability

[2018-10-30 05:54] abatishchev commented on #33115
Oh, come on!

(In the rest I mostly agree with your sentiments)

[2018-10-30 06:05] davidfowl commented on #33115
@mythz I'm surprised that this is causing any problems since we today bundle another 3rd party JSON library into the framework. There are only a handful of places where we bake JSON in and most of them have a provider model that users would reasonably replace (like MVC formatters).

I can already tell you that what we will ship will not support the gamut of features that JSON.NET supports. So that

[2018-10-30 06:13] mythz commented on #33115
@abatishchev

I really can't recall any, when has embedding or adopting a default implementation in their base framework (or projects) benefited the existing surrounding ecosystem? Everytime I've seen it bundled e.g. NuGet, MVC, ORMs, Unit Testing, Web API, etc it's only ever had a detrimental effect, effectively taking the oxygen and motivation for competing within that space.

There are times li

[2018-10-30 06:28] mythz commented on #33115
@davidfowl Not causing problems now because it's unreleased, but we still need to assess the disruption and scope of work it's going to cause. How much effort will it require to seamlessly support it, will we be able to apply customizations to the new impl to support our existing behavior, will we be able to support the new customization model and APIs, are we able to customize our serializer to s

[2018-10-30 06:32] davidfowl commented on #33115
@mythz I'm not following some of this. I'm trying to figure out how much is this discussing the APIs existing at all vs how they are going to be consumed. Maybe we could look at some concrete scenarios?

[2018-10-30 07:14] shahid-pk commented on #33115
@mythz the only real concern somewhat that i see for servicestack would be if this new api is not supported on .net framework classic, that way servicestack won't be able to support both .net core and .net classic.  Is that your concern ? i am asking because your concern as a concrete example is not clear.

Also this is a proposal in its very initial stage and the goal it want to achieve looks pre

[2018-10-30 07:17] Avemey opened #33122 "HttpWebResponse.Cookies different behavior in .net framework and .net core"
Environment:
OS: Windows 10 pro
.NET Core: 2.1
.NET Framework: 4.5.1

HttpWebResponse.Cookies should contains cookies that are associated with response but for .net core this property contains cookies from request and response both.

Example:
[code]

Result for .net framework 4.5.1 (as expected):
[code]

Result for .net core 2.1 (wrong):
[code]

[2018-10-30 07:19] vaintroub commented on #30203
Is not the need of SPN (must be registered, service run under machine account) too restrictive. Windows AD based servers  can use UPN , e.g machine$@DOMAIN.COM, even Linux based servers that join AD can use it.  GSSAPI supports that, if   gss_import_name is called with GSS_C_NT_USER_NAME

Currently UPN can be used as targetName in NegotiateStream.AuthenticateAsClient() on Windows, and I hope Linux

[2018-10-30 07:38] mythz commented on #33115
By ecosystem I'm referring to the surrounding .NET library ecosystem/communities (which presumably is also assuming the "ecosystem" in the OP is referring to) that it replaces which I'd also argue .NET Users also benefit from a healthy ecosystem with a variety of options and more competition (as-is the trait of healthier ecosystems like Python, Java, Node, Ruby, PHP, etc).

Soon after EF was relea

[2018-10-30 07:40] terrajobst commented on #33115
@mythz

The omission wasn't intentional. We've actively searched and worked with JSON library authors as part of the [CoreFxLab repo](https://github.com/dotnet/corefxlab/blob/e0082111b45c75ed4f4f35151c2caec3c507e56b/tests/Benchmarks/Benchmarks.csproj#L24-L35) and one of our devs started to benchmark our works against theirs. I believe the list got initially populated by using [basic search terms l

[2018-10-30 07:50] phillip-haydon commented on #33115
Isn't it time for the Templates to be modular? Like take vue.js for example.

![image](https://user-images.githubusercontent.com/895629/47703472-591ce280-dc5b-11e8-9d94-0d351548ab14.png)

Creating a new vue app allows you to pick the things you want. Why can't something similar be done for asp.net instead of creating 500 templates to cater for all scenarios.

[2018-10-30 07:52] Tornhoof commented on #33115
Here is a concrete example for a feature in .ASP NET Core 2.2 where non-JSON.NET JSON Input/Output Formatters will face problems and how a decoupled solution might help:
The **ProblemDetails** feature, which allows for a **RFC 7807** compatible error response:
https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/ProblemDetails.cs
[code]
The above code is annotated with

[2018-10-30 07:54] mythz commented on #33115
@terrajobst I think you answered before you read my previous comment which IMO clarifies more my concerns.

Where? Is there an API proposal/document, has an API been created, which repo is it being developed under?

[2018-10-30 08:00] CodeTherapist commented on #29683
Thanks to everyone that is elaborating this with me.

@ahsonkhan So far, there is no perf test for this project at all. When I understand you correctly, I would need to create it for my changed code *and* for the previous code (master), right? Otherwise I can't see how we could compare both implementations… Should we create an additional issue for the perf work or should this be tracked with this

[2018-10-30 08:30] terrajobst commented on #33115
I've read it but it seems you're opposing having any default, which, as @davidfowl explained, isn't practical for us. My point was that our plan is an improvement of what we currently have, i.e. a de facto hard-wiring to Json.NET. Hence my question.

We deliberately haven't done any coding/API design .NET Core because we wanted to get this announcement first. We didn't want people to read the tea

[2018-10-30 08:32] olmobrutall opened #33123 "Set clientDomain in SmtpClient"
(moved from https://github.com/dotnet/core/issues/2031)

The old implementation of SmtpClient (https://referencesource.microsoft.com/#system/net/System/Net/mail/SmtpClient.cs) was able to use the clientDomain from configuration `MailConfiguration.Smtp.Network.ClientDomain;`

[code]

solving problems like this one: https://stackoverflow.com/questions/37410598/fqdn-with-smtpclient-in-powershell

But

[2018-10-30 08:46] kant2002 commented on #33115
@terrajobst Whole impression for post that
1. Decision to make changes is done.

2. Some preliminary design is done

All this is means that direction is taken. All what is asked from "ecosystem" is to find obvious pain points which MS could not realistically account for.

Omission of ServiceStack and discussing it as some secondary-class .NET library is laughable. Even I solely on MS shipped libra

[2018-10-30 08:59] mythz commented on #33115
Never suggested that, JSON.NET was already the default before this. I've explained in more detail above but to reiterate this is positioned to take over the default and become the new defacto standard where effectively .NET Core will only have 2 JSON serializers in its future: this new defacto high-performance default and JSON.NET for custom features. Other JSON serializers are going to become nic

[2018-10-30 09:08] facundofarias commented on #33087
Haha, yes, sorry @bartonjs.

So, I've created a docker container with a MySQL instance, using the docker-compose file that I've attached, and then I am trying to connect to that database using EntityFramework (2.0.3) and Pomelo SQL Client (2.0.1).

And this is my `dotnet --info`:
[code]

[2018-10-30 09:11] Tornhoof commented on #33115
@mythz
It's not really developed internally (as to my knowledge), the Reader/Writer part is done in corefxlab (https://github.com/dotnet/corefxlab/tree/master/src/System.Text.JsonLab/System/Text/Json) and specifically there is no high-level API for it yet in corefxlab.

Personally, I'd except the extensible/pluggable API parts to be .NET Standard (i.e. attributes etc.). The library in corefxlab is

[2018-10-30 09:28] terrajobst commented on #33115
@mythz

You seem to be eager to take my statements and put them in a "the glass is half empty"-context. I get it, you're skeptical. I suggest we save ourselves a bunch of keystrokes and discuss concrete API proposals as opposed to in the abstract. I'm fairly convinced that our plan will make sense will provide the extension points you need.

[2018-10-30 09:48] mythz commented on #33115
@terrajobst Not trying to be skeptical, trying to know what are the high-level proposed capabilities are which I'm assuming has already been decided (or are they all still TBD?). This announcement is the first most of us has heard of it so I was after some clarification around on how plugable, extensible and reusable it is intended to be. Is [System.Text.JsonLab](https://github.com/dotnet/corefxla

[2018-10-30 10:05] Thorium commented on #33115
This might be a nice feature for library creators, but also you have to consider the enterprise developers using 50 libraries with dependency trees and trying to find compabilities between those. Will there be a binding-redirect-style mapping-configurations to try to manage the mismatches?

[2018-10-30 10:10] gregsdennis commented on #33115
This conversation seems on edge, whether because people have been offended in some way or because they are trying to defend an action that was taken or not taken.  It's hard to read.  Apologies around!  Please just let the current state be and move on.

It seems there are two reasons for this change.  First is the desire for improved performance utilizing new types within .Net Core.

Additionally,

[2018-10-30 10:11] sharwell commented on #33115
@mythz From everything I know and have seen from the people involved in making this proposal, you're going to get a long chance to review and comment on the proposed API and implementation before it is released as stable. One of the purposes of making this post at such an early stage was to find people like you for specifically this reason.

[2018-10-30 10:40] Tornhoof commented on #33115
@gregsdennis
I'm not sure what you mean with more generic?
Assuming your serializer has the concept of overriding json property names, changing their null behaviour and/or fallback/catch-all implementations and assuming that all three features are part of the shared specification for JSON serializers for .net core 3.0, then the implementation package maps those attributes to your internal implemen

[2018-10-30 10:51] thargy commented on #33089
Using that ROS (or something else) via that interface would have performance implications in breach of your justification for the design - you can't have it both ways.  Either it's supposed to be so performant that you need it to be a struct which holds those properties or you're happy accessing via the interface. A more obvious challenge is, if you're happy to pay the cost of using interfaces the

[2018-10-30 11:12] Tragetaschen commented on #31176
Im completing both Reader and Writer of my Pipe and run `Reset`. When I then start both read and write tasks for another round of data transfer, I get an IOE ("Reading is already in progress") from `PipeReader.ReadAsync`, but only if the Writer hasn't written anything yet.

That's the same thing, isn't it?

[2018-10-30 11:13] thargy commented on #33089
In summary (for anyone arriving new to the thread)

- `ROS.GetPosition` behaviour is not intuitive (or, as yet justified).  `GetPosition(size)` does not throw, yet `GetPosition(size+1)` and `GetPosition(-1)` do.
- `GetPosition(size) != GetPostion(ROS.End)` yet `GetPosition(size)` and `GetPosition(ROS.End)` are required to demonstrate the same behaviour when supplied to ROS.
- `TryGet(GetPosition(s

[2018-10-30 11:24] Shelim opened #33126 "[Bug] HttpListener returns 404 to browser on Linux x64/Ubuntu and never returns from GetContext()"
1. Steps to reproduce:

 - Use default example code from here:
https://docs.microsoft.com/en-us/dotnet/api/system.net.httplistener?redirectedfrom=MSDN&view=netframework-4.7.2
 - Compile it on .NET Core 2.1
 - Upload it to Linux x64/Ubuntu
 - Run it via dotnet Server.dll
 - Attempt to open server URL from browser

2. What I saw?
`Not Found (Not Found)` with HTTP header: `Server: Microsoft-NetCore/2

[2018-10-30 11:49] nulltoken commented on #32770
@MarcoRossignoli The outcome is .... wonderful. Thanks a lot! :heart:

![image](https://user-images.githubusercontent.com/92363/47716141-16024580-dc42-11e8-94d9-329a003911ab.png)

[2018-10-30 12:30] MarcoRossignoli commented on #32770
Thank's for clear and complete repro...essential

[2018-10-30 12:36] NainaChauhan opened #33127 "When calling a vb.net public method of .net standard 2.0 dll within .Net core 2.1 web api project throwing Runtime exceptions"
Could not load type 'Microsoft.VisualBasic.DateAndTime' from assembly 'Microsoft.VisualBasic, Version=10.0.4.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

It might be issue comes, because of .net 2.0 dll shared method is using 'Microsoft.VisualBasic.DateAndTime'  class methods/properties ex- now, datediff and DateInterval enum and we can not changes the existing DLL code because providing

[2018-10-30 12:48] vectorix commented on #33115
Any plans to use SIMD instructions in the new JSON parser, like in RapidJSON?

Reference: http://rapidjson.org/

[2018-10-30 13:16] benaadams commented on #33089
Current `SequencePosition` has `GetInteger()` rather than `GetIndex` and both `GetObject` and `GetInteger` are `[EditorBrowsable(EditorBrowsableState.Never)]`

`SequencePosition` is a more rich position; but it is like using `int` for the position on an array. Getting the `int` position from one array doesn't mean that that `int` position is valid for another array.

Looking at the output
[code]

[2018-10-30 13:41] thargy commented on #33089
I fully understand that, however, the existing Standard API's would return a -1, or throw an exception for anything outside the bounds of the array.  They wouldn't return a positive integer for the (size+1)th item.  This API does.

I keep saying exactly that, e.g.:

[2018-10-30 13:41] echofool commented on #29715
When will it be released?
I checked that [System.Reflection.Emit.Lightweight](https://www.nuget.org/packages/System.Reflection.Emit.Lightweight/) last updated time is 2016/11/15

[2018-10-30 13:57] benaadams commented on #33089
`ROS.End` directly returns `_sequenceEnd` which has a type flags on it; whereas `GetPosition` doesn't have that (and it starting at the other end which has a different marker); so perhaps `ROS.End` and `ROS.Start` should remove their type markers before returning?

[2018-10-30 13:59] svick commented on #29715
@echofool This issue has the .Net Core 3.0 milestone, so that's when I think this will be released.

[2018-10-30 14:15] thargy commented on #33089
No one has yet explained why `ROS.End` is exclusive anyway, and most of these issues flow from a desire to expose a position after the end of the sequence.  Given that it is, for some unexplained reason, required, then making `ROS.End == ROS.GetPosition(size)` would at least allow that comparison to be used.

Again, I still haven't seen a solid justification for the two `Getxxx` methods to be `pub

[2018-10-30 14:17] pakrym commented on #33089
@benaadams it's only one thing that makes them incomparable, there are others. For example: should end of one segment be equal to the start of next? What if ROS you got this position from doesn't include next segment, etc. etc. To implement correct comparison you need to have knowledge about data structure that created ROS.

[2018-10-30 14:45] stephentoub commented on #33096
@karelz, have you looked into why netfx is this way?  It's pretty explicit in the code, so there was probably a reason?
https://referencesource.microsoft.com/#System/net/System/Net/webproxy.cs,405

[2018-10-30 14:51] benaadams commented on #33089
Except it will give you a compile error

![image](https://user-images.githubusercontent.com/1142958/47726785-1820d000-dc53-11e8-8850-33b5cd9e342c.png)

[2018-10-30 14:53] stephentoub opened #33129 "No successful code coverage run in CI since July"
The last successful run was on July 17th, https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/, over three months ago.

cc: @danmosemsft

[2018-10-30 15:00] thargy commented on #33089
In what world is that a justification?  There's so many problems with that argument it's exhausting. `GetPosition` is not `Slice` any more than it is `End`; you can't argue it both ways (a common fallacy in your arguments so far). Get Position is far more equivalent to a Seek operation, or array accessor, than a slice operation.  You're comparing different paradigms as a justification.

That you d

[2018-10-30 15:01] thargy commented on #33089
It implements `IEquatable<SequencePosition>` (see [here](https://github.com/dotnet/corefx/blob/88a0580e61ea757db20347f114802e73375984dd/src/System.Memory/src/System/SequencePosition.cs#L14))

[2018-10-30 15:04] thargy commented on #33089
I think @davidfowl's [comment](https://github.com/dotnet/corefx/issues/29001#issuecomment-380517988) pretty much nails my view on this API design.

[2018-10-30 15:10] thargy opened #33130 "ReadOnlySequence<T>.TryGet() returns empty result"
When calling `ReadOnlySequence<T>.TryGet(ref position, out memory)` with a position of `sequence.End` or `sequence.GetPosition(size)` the result is `true` and `memory` is an empty slice.  As this effectively is _not_ returning a segment or byte, is should probably return `false`.

As per [this comment](https://github.com/dotnet/corefx/issues/33089#issuecomment-434321865) from @pakrym, I'm raising

[2018-10-30 15:13] thargy opened #33131 "Feature Request: ReadOnlySequence<T>.GetPosition(offset, origin) should support negative offsets."
Currently calling `ReadOnlySequence<T>.GetPosition(offset, origin)` with a negative `offset` results in an `ArgumentOutOfRangeException`.

Allowing negative offset's would allow code such as:
[code]

(Raised at request of @pakrym, see [this comment](https://github.com/dotnet/corefx/issues/33089#issuecomment-434321865))

[2018-10-30 15:15] benaadams commented on #33089
/sigh

Then `.End` and `.Start` should remove their markers or equality is inconsistent as the same things are not equal.

That's a different beast from whether the same position from the same sequence are equal; which it seems can vary

[2018-10-30 15:16] pakrym commented on #33089
If the returned SP can not be used to Slice/call TryGet with correct result then this is a bug.

[2018-10-30 15:19] thargy commented on #33089
It can be used, because calling `TryGet` with `default` just returns `false`.  That doesn't mean it's not a bug, but it does mean your statement was false -

As clearly `default` is not in the sequence.

[2018-10-30 15:21] pakrym commented on #33089
As repeated multiple times, what is store inside SequencePosition doesn't matter as long as when passed into ROS it exhibits the correct behavior.

[2018-10-30 15:23] pakrym commented on #33089
It's really not, you can get same position from the same sequence represented by two different SPs.
For example Slice(n) might not cross to the next segment when n == CurrentSegment.Lenght while TryGet would jump to begging of the next. Both of them would represent same logical location in ROS but would not be equal even if marker bits get cleared.

I would rather keep marker bits in to prevent pe

[2018-10-30 15:25] jhudsoncedaron commented on #28061
We're facing some horrendous internal debates here based on how to work around this not being fixed. We've known about it for ages and ages.

https://stackoverflow.com/questions/16347389/sqlserver-wedged-connection-due-to-network-drop

[2018-10-30 15:31] Pinox commented on #33115
The proposed suggestion looks good , but plse just try and smooth out "**breaking changes**"  I'm just a general user of 3rd party libs and recently had one of these experiences where reflection was suddenly excluded from UWP .net native release build process.

So none of my UWP apps could be build in release mode as I had to rewrite all the code that used reflection in 3rd party libs. I know many

[2018-10-30 15:33] thargy commented on #33089
Which is a justification for those methods to be internal and not publically accessible.  I've been coding for 36 years, and in C# since 2002.  I've been an MCP & MCT for 6 years.  I understand what you're saying perfectly well, and I don't think I've given any indication I misunderstand you.  You're not answering some pretty important questions:

- Why do you expose a position beyond the end of t

[2018-10-30 15:37] uffebjorklund commented on #19773
@jkotas Runnning `3.0.100-alpha1-009708` is assembly unloading expected to work in this version? Any pointers on how to test this in a good way?

[2018-10-30 15:42] nikoudel commented on #33096
Perhaps that's because it's hard to imagine why would anyone want to use a proxy for loopback-hosted web services? In my case the reason was monitoring web traffic with Fiddler (which is a proxy) during development of a web service.

[2018-10-30 15:48] benaadams commented on #33089
You can have zero length components in a ROS chain which makes things more complicated
[code]

[2018-10-30 15:53] pakrym commented on #33089
ROS/SP were designed as part of designing Pipe. We needed a way to indicate how much data was  consumed/examined and do it without re-walking the segment list so `int count` was not acceptable and SP was working great because it has direct references to segment allowing for O(1) Advance operation.

Additionally you have to be able to represent a situation when entire ROS got consumed and `.End` fi

[2018-10-30 15:59] jrb9249 commented on #28267
I am able to reproduce this issue in .NET Framework 4.6.1.

[2018-10-30 16:11] thargy commented on #33089
Thank you!  Parsing that, and combining with @pakrym means that `End` being exclusive allows us to effectively skip checking through a list of empty segments in some circumstances.  It doesn't explain why that concept needs to be surfaced in the API, and could easily have been left as an internal implementation detail.  Regardless, End and GetPosition(size) should still be equatable in that scenar

[2018-10-30 16:12] jkotas commented on #19773
@janvorli Could you please share a working example of what works in the current builds?

[2018-10-30 16:16] kevcunnane commented on #28061
@saurabh500 @corivera isn't this fixed in 2.2? The KeepAlive flag was added and we're using in Azure Data Studio with latest bits... correct?

[2018-10-30 16:31] pakrym commented on #33089
You don't because you usually don't get into that situation while parsing. But a case where entire ROS was consumed is very-very common.

We can't return default because then Pipe.Advance wouldn't be able to work. End of one ROS would be indistinguishable from the end of its slice and Pipe needs to know absolution position in segment list.

It's not slow if used only as a generic constraint (https

[2018-10-30 16:36] stephentoub commented on #33126
I just tried it and it worked for me.  The example you linked to isn't a complete program... can you please share the complete program you're using as well as the URL you're using to open it?

[2018-10-30 16:42] jhudsoncedaron commented on #28061
@kevcunnane : The diff of unmerged #33024 says definitely not fixed yet.

[2018-10-30 16:43] KathleenDollard commented on #31181
@KlausLoeffelmann can you help us connect with the right folks on the WinForms side for this?

[2018-10-30 16:45] saurabh500 commented on #28061
This is not fixed in 2.2 and the PR for master is undergoing  discussions about the unit of the API. For 2.2 the fix depends on networking APIs as well.

[2018-10-30 16:46] saurabh500 commented on #28061
@jhudsoncedaron have you had a chance to use the OS keepalive settings to alleviate this problem?

[2018-10-30 16:50] jhudsoncedaron commented on #28061
@saurabh500 : There is no OS setting that I know of to turn on keepalive for all sockets.

[2018-10-30 16:52] Shelim commented on #33126
@stephentoub

Okay, I just narrowed down the issue; I was specifing `localhost` as prefix and I was accessing the page through Apache proxy. I thought - incorrectly - that Apache will route it as local query, but it was passing the domain name from the external query instead.

Still 404 is quite misleading here :)

[2018-10-30 16:52] #33126 closed

[2018-10-30 17:15] saurabh500 commented on #28061
@wfurt mentioned  settings for macOS on the thread at https://github.com/dotnet/corefx/issues/32894#issuecomment-431189315

For Linux, http://tldp.org/HOWTO/TCP-Keepalive-HOWTO/usingkeepalive.html could help

[2018-10-30 17:16] saurabh500 commented on #28061
The recommended setting for Sql clients is mentioned at
https://github.com/dotnet/corefx/pull/33024#discussion_r229033019

@jhudsoncedaron , you are facing this issue on Linux/macOS. Is that right?

[2018-10-30 17:30] terrajobst commented on #26523
API looks reasonable.

[2018-10-30 17:33] terrajobst commented on #26523
Just noticed @stephentoub's alternative. Looks like @vancem  and @stephentoub should first decide which avenue to pursue.

[2018-10-30 17:34] terrajobst commented on #32866
Please first reconcile with  #26523 and decide on an approach.

[2018-10-30 17:37] chandrur-ms commented on #32985
Thanks!

[2018-10-30 17:39] stephentoub commented on #26523
This is effectively a subset of #32866 (the only difference as far as this proposal is concerned is an extra optional argument added in the other proposal).  We should do #32866.

[2018-10-30 17:40] stephentoub commented on #32866
#26523 is a subset of this proposal (the only difference between that API and the corresponding one here is that this one has an additional optional argument).

[2018-10-30 17:44] jhudsoncedaron commented on #28061
@saurabh500 : I don't need to set precise timeout values. I just need to turn keepalive on at all to keep threads from getting stuck forever inside SqlDataReader.Read(). Right now it doesn't matter what the OS is. While there's OS specific settings to tune the values, the SetSocketOption call needs to execute to turn it on per socket.

[2018-10-30 17:44] joperezr commented on #32457
@jeremymeng can you log a separate issue with a description of how your project is constructed, the error you are hitting, and a msbuild.binlog file of your build? In order to produce one, simply run the following form a developer command prompt `msbuild yourProject.csproj /t:rebuild /v:m /bl`. We don't know if this issue is what is impacting your project which is why we tend to instead ask for ne

[2018-10-30 17:55] terrajobst commented on #32950
Looks good.

* We should remove `StandardFormat.Parse(string)` because this type cannot be (realistically) used from languages that don't support `Span<T>`, so relying on the implicit conversion sems fine. However, we cannot remove the API from .NET Core because it already shipped in 2.1. We could decide not expose this API from .NET Standard but that seems heavy handed as this API will now always

[2018-10-30 17:55] kouvel commented on #29595
Still need to fix in master, after that I'll consider servicing 2.2, it wouldn't meet 2.1's bar

[2018-10-30 17:56] FrankPfattheicher commented on #33115
This is definitely the right step to do.
I am wondering for a while seeing this Json.Net reference.

[2018-10-30 17:59] vancem commented on #33013
Test for this case added with https://github.com/dotnet/corefx/pull/32777/files

[2018-10-30 17:59] saurabh500 commented on #28061
I don't think I follow. Based on the context of this issue, I understood that when you are trying to re-use a connection, after long idle period, the connection is failing.
Are your calls getting stuck in SqlDataReader.Read() ? I feel you are facing something other than what @kevcunnane  mentions in this issue.
Can you post an example usage to help understand what exactly you are facing? I want to

[2018-10-30 18:04] davidfowl commented on #33131
It’ll be inefficient for multi-segmented backed sequences since it’s a singly linked list.

[2018-10-30 18:05] gregsdennis commented on #33115
@Tornhoof I think there needs to be a defined separation: the interfaces which each provider would need to implement in order to be used with .Net Core 3.0, and the default implementation that's built in.

The interfaces should be as general-use as possible.  Perhaps add simplistic as defining only `Serialize ()` and `Deserialize()` methods.

Other details should be left to the implementation. If

[2018-10-30 18:07] terrajobst commented on #32348
We asked ourselves whether we need both overloads (`ReadOnlyMemory<T>` and `Memory<T>`). It seems the answer is we don't need the `Memory<T>` one because the compiler prefers the implicit conversion to `ReadOnlyMemory<T>` over the conversion to `object`.

Approved as proposed.

[2018-10-30 18:09] thargy commented on #33089
I'm guessing the issue here is that on completing a segment you don't want to move the pointer to the start of the next segment as that might trigger a potentially unnecessary or premature segment retrieval?

That same argument could have been used against exposing the `Getxxx` methods on SequencePosition, and instead relying purely on the `object.Equals()` overload, or the `IEquatable<SequencePos

[2018-10-30 18:18] wfurt commented on #32797
note that OSX has similar issues. For one, when OS returns EAGAIN do not retry.
But I have seen cases when OS simply returns "host not found".

[2018-10-30 18:19] Tornhoof commented on #33115
@gregsdennis Yes you're right, I was mainly looking at the IInput/OutputFormatter, which already exist currently in ASP.NET Core and specifically the problems regarding replacing them with non-JSON.NET versions.
Anyway as your and @mythz comments show, I guess the scope definition will get interesting and probably not that simple (I remember the problems with the DI interface specs). So it's bette

[2018-10-30 18:21] danmosemsft commented on #33129
The runs have been generating valid data, but one or more tests have failed, so the badge does not update. To see latest data, go to here

https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/

find the most recent number, then construct this URL eg

https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/712/Code_Coverage_Report/

Having said that the build

[2018-10-30 18:21] danmosemsft commented on #33129
In general code coverage work should be being tracked in https://github.com/dotnet/corefx/projects/9

[2018-10-30 18:31] terrajobst commented on #32866
Given the problematic design of the existing API it seems we don't want the first enum value, which means we'd get away with making the `bool`. We should default them to sane behavior, which is to root the timer.

[code]

[2018-10-30 18:32] terrajobst commented on #26523
Since we approved #32866 we can close this.

[2018-10-30 18:32] #26523 closed

[2018-10-30 18:35] danmosemsft commented on #30913
Debugger team supplied an internal build of VS with a fix, next step is to verify it.

[2018-10-30 18:38] danmosemsft commented on #32348
@eerhardt 	I guess we can mark this up for grabs?

[2018-10-30 18:38] davidfowl commented on #33115
Not that’s now how we’re doing things. The options are serializer specific and there’s no common interface for them. The formatters in MVC are already properly factored out and not coupled to anything. JsonResult will have breaking changes because it takes JsonSerializationOptions directly (the JSON.NET type).

[2018-10-30 18:41] thargy commented on #33131
Very true, though in many use cases I suspect it will not need to backtrack more than one segment, and will most commonly be able to return a result in the origin's own segment; as the most common negative offset will be `-1`. In it's simplest form it can be implemented as `GetPosition(Origin position - offset)` which requires a full scan to get the origin's position and a second scan to get the a

[2018-10-30 18:50] eerhardt commented on #32348
Yep - done.

[2018-10-30 18:53] rlisnoff commented on #31775
I'm experiencing the same problem, but when interacting with a table that has a HierarchyId column on it.

[2018-10-30 18:58] jhudsoncedaron commented on #28061
@saurabh500 : I did a version hunt. It was restored to working again on Windows by turning off SNI globally. https://github.com/dotnet/corefx/commit/23709d07c3cb8e5c4be36ffe7f480151becc54b3

[2018-10-30 18:59] rmkerr commented on #33122
Thanks for the report.

This looks like a consequence of HttpWebRequest being built on top of HttpClient in .NET Core. HttpClient maintains a CookieContainer that it uses to track all cookies that are sent and received.

So the following sequence of events is causing this issue:

(1) The request cookie container is copied into HttpClientHandler:
https://github.com/dotnet/corefx/blob/0bfc4f3cf62f6f

[2018-10-30 19:05] brianrob commented on #33129
I'm not aware of any reason why ProfileOptimization_CheckFileExists should fail for code coverage runs, but I'll admit that I don't know very much about how code coverage runs work.

Adding @noahfalk who owns ProfileOptimization.

[2018-10-30 19:21] rmkerr commented on #32826
Fixed in #32956

[2018-10-30 19:21] #32826 closed

[2018-10-30 19:33] ajaybhargavb opened #33141 "Path.GetTempPath returns a symlink path instead of the actual path on MacOS"
On MacOS, `Path.GetTempPath()` returns something like `/var/folders/pd/mny80ks961108l1fbtvznbmr0000gn/T/` which is a symlink to `/private/var/folders/pd/mny80ks961108l1fbtvznbmr0000gn/T/`

`/private/var/...` is the real directory and that is what I would expect to be returned.

It is not consistent with other things either. For example, `AppDomain.CurrentDomain.BaseDirectory` returns the actual di

[2018-10-30 19:34] MarcoRossignoli commented on #33129
FYI we disabled test on some distros weeks ago https://github.com/dotnet/corefx/pull/32737 for similar issue

[2018-10-30 19:36] hernancmartinez commented on #32960
Glad to hear that @jeffschwMSFT . Manually adding tlbimp'ed DLLs to my core app works.
Is there a plan to support nuget packages that only contain tlbimp'ed DLLs or TLBs ? Right now I keep getting error NU1202 even when those DLLs are in \lib\netstandard2.0\ folder tree.

[2018-10-30 19:43] saurabh500 commented on #28061
What about it? The diff you have mentioned here, turns off Managed SNI on Windows, which means that the SNI (SQL Network Interface) implementation written in C++, is being used on Windows.

[2018-10-30 19:45] maryamariyan commented on #33110
@jkotas, Yes, my intention for opening this API proposal was to address #3708.
Looking back at your example now, seems like if .NET Core could use Trace Listeners to override Debug.Fail, then we would have no reason then to add the above suggested new APIs.

In order to make your example work, all we need is to add a Fail API to DebugProvider and override it in TraceInternal.
This way we can just

[2018-10-30 19:45] #33110 closed

[2018-10-30 19:55] jeffschwMSFT commented on #32960
Nuget distribution is on our list of things to consider.

[2018-10-30 19:57] danmosemsft commented on #33129
Thanks @MarcoRossignoli but tht was specific to RedHat, whereas coverage is (currently - plans to add Linux) only on Windows.

[2018-10-30 20:00] jhudsoncedaron commented on #28061
@saurabh500 : This discussion is probably going to get degenerate. From our perspective, Managed SNI has switched on and off a few times and the bug comes and goes and we're using hardware workarounds and most of the time the thread that does get stuck isn't holding any locks. We're not willing to attempt to support environments w/o the hardware workarounds until the bug is really fixed. The code

[2018-10-30 20:03] saurabh500 commented on #28061
I can assure you that Managed SNI has not been turned on, on any released version of SqlClient, for Windows. It was turned on, in one of the preview releases.
Managed SNI is only operational on Linux and macOS.
You can't be facing issues on Windows because of turning on and off of managed SNI, unless you have been using one of the pre-2.0 preview release builds.

[2018-10-30 20:05] jhudsoncedaron commented on #28061
@saurabh500 : We used preview releases of stuff.

[2018-10-30 20:06] saurabh500 commented on #28061
There are lot of bug fixes after 2.0 preview releases and I do recommend upgrading to a newer released version of SqlClient.

[2018-10-30 20:07] saurabh500 commented on #28061
@jhudsoncedaron Can you tell me your version of SqlClient as well? There are 4.6.0-preview on nuget, which have a lot of bug fixes in them

[2018-10-30 20:11] jhudsoncedaron commented on #28061
The current version is 4.5.1 release. We've been on preview versions of SqlClient in the past after discovering that cross-versioned binaries normally work really badly and there's a critical fix only available in a preview release for something in .NET MVC so we move the entire framework as a unit.

[2018-10-30 20:33] stephentoub commented on #33141
It just returns whatever TMPDIR is set to:
https://github.com/dotnet/coreclr/blob/626def86af589734999a0e62d3a83c2acb9de54a/src/System.Private.CoreLib/shared/System/IO/Path.Unix.cs#L72-L85
It doesn't try to resolve it. That's true on Windows as well.  If I create a symbolic link to a directory and set TMP to the link, Path.GetTempPath returns the symbolic link, not the path to the target.

[2018-10-30 20:36] terrajobst commented on #33115
I was about to say the same thing. We don't plan on building an abstraction for a JSON reader/writer/serializer. It's not needed; frameworks either deal if IO primitives (such as `Stream`, `TextReader`) or plug into higher-level framework processing (such as the ASP.NET Core formatters).

[2018-10-30 20:55] ericstj commented on #32960
@hernancmartinez that should work today, these DLLs aren't really any different from regular .NET dlls from NuGet's perspective.  Can you share your package with me?

[2018-10-30 20:57] moodyan commented on #2538
Any update on this? I'm having the same issue where it works on my local Windows machine but when I deploy it to AWS Lambda it no longer works. Either of the options mentioned by @mj1856 would be helpful!

[2018-10-30 21:04] mrange commented on #33115
Speaking of pain points: Personally (and I am likely in a very small minority) I am concerned about the lax nature of many JSON parsers. There is a standard (tm) but most parsers chose to be lenient and accept non-conforming documents. What's bad about that in the long run is that developers don't implement towards a standard they implement towards a library. If the library allows non-conforming d

[2018-10-30 21:07] tarekgh commented on #2538
@moodyan no updates yet but I am wondering doesn't @mj1856 library https://github.com/mj1856/TimeZoneConverter help in your case?

[2018-10-30 21:10] mrange commented on #33115
Speaking about the API, I implicitly assume the most commonly used API will be a DOM like API but I also would find it very useful if there was a lower level API that allowed me to consume the token stream or get signaled on a visitor interface for those large documents from which I just want to extract a small portion of data.

[2018-10-30 21:17] christophertrml opened #33144 "Installing System.Threading.Tasks.Extensions to project changes what StreamContent.CopyToAsync does"
I'm not entirely sure if this makes any sense at all or if this is actually expected, but here it goes:

I have a project that utilizes `ByteRangeStreamContent` and thus uses a `ByteRangeStream`.

See this sample code:
[code]

The `CopyToAsync` call turns around and calls `ByteRangeStreamContent.SerializeToStreamAsync`. The `ByteRangeStreamContent` runs this code: `return _byteRangeContent.CopyToA

[2018-10-30 21:36] krwq opened #33146 "SerialPorts Linux issues"
Collective issue for all issues while work is still happening.
Most of the issues were identified when working on async implementation: https://github.com/dotnet/corefx/pull/33027

There are still lots of failures, all of them are marked with custom `[KnownFailure]` - most of the tests won't run on CI because it doesn't have physical port.

Things known to still be broken on Linux:
- Timeout 0-30m

[2018-10-30 21:48] ViktorHofer commented on #33129
The hacky solution I can think of would be to pass /p:xunitoptions to the code coverage run to disable that method.

[2018-10-30 21:50] stephentoub commented on #33144
I assume this is a desktop project rather than a core project? And are you sure this is related to System.Threading.Tasks.Extensions rather than to System.Net.Http?

We've seen this issue in relation to using System.Net.Http from a NuGet package on desktop, because HttpContent's CopyToAsync implementation changed in core and the NuGet package contains that core code.  There's a known bug in System

[2018-10-30 21:58] noahfalk commented on #33129
@kouvel actually owns ProfileOptimization now

[2018-10-30 22:01] terrajobst commented on #33089
To summarize our position:

* `SequencePosition` was designed to be an opaque data holder for a producer of a sequence.
* In an ideal world, it would be an abstract class and the derivative is private to the type producing and consuming it. Unfortunately, this design isn't viable as our goal is to reduce allocations.
* That's also the reason why the public data items are called `GetObject()` and `

[2018-10-30 22:01] #33089 closed

[2018-10-30 22:14] jeremymeng opened #33148 "Error loading System.Buffers, Version=4.0.2.0 when using AspNet Core SignalR C# client in a .NET Framework 4.7.1 Web test"
1. clone to get the signalr chat sample at https://github.com/aspnet/SignalR-samples/tree/master/ChatSample
2. open the solution, restore nuget package and Ctrl+F5 to run the service
3. clone the webtest repro project at https://github.com/jeremymeng/WebTestRepro
4. open `WebAndLoadTestProject2.sln`, restore then build the project. You will need the web test payload for your visual studio installa

[2018-10-30 22:15] jeremymeng commented on #33148
I've shared a msbuild.binlog at `\\scratch2\scratch\yumeng\WebTestRepro\msbuild.binlog`

[2018-10-30 22:17] Clockwork-Muse commented on #33115
@mrange - As much as I like making things as strict as possible.... doing so relies on the ability to make changes in the non-conforming code.

If you're interacting with a legacy service under the control of some other company, the ability to change the offending code is near zero.  Even strict-on-write, while more doable, isn't without its own problems here: what if the offending code expects to

[2018-10-30 22:28] bergmeister opened #33149 "System.Memory NuGet package does not offer ByRefLike Type extension property in full .Net"
The [System.Memory](https://www.nuget.org/packages/System.Memory/) NuGet package is also compatible with full .Net but on full .Net the [IsByRefLike](https://docs.microsoft.com/en-us/dotnet/api/system.type.isbyreflike?view=netcore-2.1) property on `System.Type` is not available, thus making usage of `Span<T>` hard in full .Net
Can we add an extension method for full .Net or is there a workaround?

[2018-10-30 22:34] christophertrml commented on #33144
And yeah, your comment has lead me down a path to show me that it's just the update of `System.Net.Http` that lead to this. I'm a bit unsure of why installing `System.Threading.Tasks.Extensions` forced the application to use an updated version of `System.Net.Http` though; could you shed a little light on that so I can have more understanding?

[2018-10-30 22:36] thefringeninja commented on #33115
@terrajobst thank you! `Func<Stream, CancellationToken, Task<T>>` and `Func<T, CancellationToken, Stream, Task>` is all that is needed here. With maybe some overloads for TextReader/Writer, Span, and string.

The downside however is when you want to serialize / deserialize another library's type, and that type is decorated with attributes from a json serializer that you are not using.

[2018-10-30 22:36] hanblee opened #33150 "Add netstandard-RID specific implementations of System.Diagnostics.EventLog & System.Management"
Unlike other packages in the Windows Compatibility Pack (e.g., `Microsoft.Win32.Registry`), `System.Diagnostics.EventLog` & `System.Management`  packages do not provide RID specific implementations for netstandard. Please provide RID specific implementations for netstandard.

Please see: https://github.com/dotnet/corefx/issues/32910#issuecomment-431468581

[2018-10-30 22:37] karelz commented on #33088
It helped. We just didn't get to it.

Reading Winsock documentation of [closesocket](https://docs.microsoft.com/en-us/windows/desktop/api/winsock/nf-winsock-closesocket), I think the word "resets" refers to winsock term, not to the TCP RST term:

From that perspective the documentation is correct.
Winsock itself does not promise use of TCP FIN or RST.

[2018-10-30 22:37] hanblee commented on #32910
Opened #33150 requesting RID specific implementations for netstandard for these two packages.

[2018-10-30 22:37] #32910 closed

[2018-10-30 22:55] gregsdennis commented on #33115
@thefringeninja if you're already using the third party library for the objects, then you already have a reference to the other serializer. Nothing has changed there.

[2018-10-30 23:05] ericstj opened #33151 "ApiCompat isn't running in CoreFx"
After a combination of recent build changes the ResolveMatchingContract property is not set before we import \<buildtools\>\build.common.props > resolveContract.targets.

I didn't track down what caused this, but it's likely a combination of changes made by folks working on arcade conversion.

[2018-10-30 23:16] jeremymeng commented on #33148
same test code runs find in a 4.7.1 WPF app
[code]

[2018-10-30 23:29] christophertrml commented on #33144
With your help I was able to create a new `ByteRangeStream` that overloads `ReadAsync` correctly and then implements `CopyToAsync`:

[code]

Probably not what you'll do exactly but it works until an updated version comes out. Thanks for your help! I'd still love an explanation about `System.Net.Http` though :)

[2018-10-30 23:29] #33144 closed

[2018-10-30 23:34] danmosemsft commented on #25779
@tannergooding can give an update here.

[2018-10-30 23:55] weshaggard commented on #33129
No we don't expect to update this SDK regularly. It will only be updated to a prerelease version if we absolutely need a fix for a release otherwise we will stay at the last released version of the toolset.

[2018-10-30 23:57] danmosemsft commented on #33129
Fair enough

[2018-10-31 00:09] ViktorHofer commented on #30913
I just validated our internal build and the issue is gone. I'm in close contact with the debugger team to discuss if a back port to Dev15 is possible but I doubt it as the complexity of the fix seems very high.

[2018-10-31 00:11] stephentoub commented on #33144
I wouldn't have expected that, and I'm not able to repro it.  Are you sure it wasn't just coincidence?  I created a new .NET Framework Console app, I added a NuGet reference to System.Threading.Tasks.Extensions, I built, and then I Console.WriteLine'd `typeof(HttpContent).Assembly.Location`, and got:
[code]
which is the .NET Framework implementation from .NET Framework 4.7.2.

When you do those sa

[2018-10-31 00:18] thargy commented on #33089
If it was opaque it would not require the Get methods to be public.

Rubbish, in an ideal world it would be a struct that implemented an Interface that was used solely to constrain the struct.  It would not have increased allocations any more than the current design.

That they have _no designated meaning_ only indicates that you could as well have exposed a 4 longs and called them `Data1-4`.  It

[2018-10-31 00:38] jkotas commented on #19773
Here is a simple example that loads, executed and unloads a simple "hello world" program in a loop:

[code]

[2018-10-31 00:42] stephentoub commented on #33129
Thanks, Dan.  That's good to know.  Can we get the badge to point to the latest run, successful or not, until this is addressed?  Otherwise, it's very undiscoverable.

[2018-10-31 00:43] stephentoub commented on #33129
I'll see if I can repro locally.

[2018-10-31 00:55] redknightlois commented on #33115
We are all-in in having a high-performance JSON library that we dont have to build ourselves. :)

Before discussing anything, consider leveraging the results of Microsoft Research on that area https://www.microsoft.com/en-us/research/publication/mison-fast-json-parser-data-analytics/

We are going in that direction for high performance JSON parsing --- besides `Span<T>` of course ---
cc @terrajobs

[2018-10-31 01:02] davidfowl commented on #33089
How so? How else would it work?

The generic design is viral and forces pipelines to also be generic over the sequence position. We actually went down this road and quickly abandoned it. It’s very c++ iteator esque.

I think we just added docs for ReadOnlySequence but I’m sure they can be improved. It’s worth doing.

Didn’t @pakrym describe that this would break advancing the PipeReader? What am I

[2018-10-31 01:21] karelz opened #33154 "Hash code of string is broken in .NET Core 2.1, but works in 2.0"
_From @mwikstrom on October 30, 2018 5:23_

I recently upgraded one of my projects from .NET Core 2.0 to .NET Core 2.1. After doing so several of my tests started to fail.

After narrowing this down I've found that in .NET Core 2.1 it is not possible to compute the hash code of a string using a culture aware comparer with the string sort compare option.

I've created a test that reproduce my probl

[2018-10-31 01:21] karelz commented on #33154
_From @mjwills on October 30, 2018 6:21_

The issue might be that https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Globalization/CompareInfo.cs#L53 and https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/StringComparer.cs#L177 (purposely or otherwise) are out of sync?

[2018-10-31 02:49] karelz commented on #33109
Looks like we need to use `TryAdd` here instead:
https://github.com/dotnet/corefx/blob/9302749dae5ee81e859c22a75623c06e7bbb95f2/src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs#L745

Should be fairly straightforward.

[2018-10-31 02:55] karelz commented on #33148
cc @joperezr @wtgodbe

[2018-10-31 03:37] phillip-haydon commented on #33115
:( all this discussion of JSON makes me feel my question on templates has gone amiss.

[2018-10-31 05:04] schungx commented on #26528
@svick I'm suspect a normal `foreach` will always allocate because the current state must be kept somewhere, even if you somehow come up with value-based iterators...

[2018-10-31 05:47] iSazonov commented on #17233
Could we start designing the simple case folding API?

[2018-10-31 06:35] NainaChauhan commented on #33127
@danmosemsft Thanks. So to process current development our team have to go back to .net framework 4.6.1. for web api project.

[2018-10-31 06:41] joefeser commented on #33115
I wish I had more time for this discussion because it has been hell but I see why it has become what it is. 4.6.1 has to stay consistent with upgrades and upgrades and breaking changes will be for the rest.

I have seen a lot of recalled packages for core and 461 and I  hope this type or change will fix it.

I am worried the cascading issue will haunt us, please prove us wrong.

//dot net devs eve

[2018-10-31 07:32] uffebjorklund commented on #19773
Works very well! No increase in memory usage at all. Well done 👍

Tested on
MacOS High Sierra
Intel Core i7
16 GB RAM

[2018-10-31 08:18] jptrxff opened #33157 "FatalExecutionEngineError in managed code"
I have experienced Access Violation Exceptions and Fatal Execution Engine Error (it seems to be the same error) in managed code in C#. I have narrowed it down to the following snippet. Am I missing something? I thought it should not be possible to these kind of exceptions in managed code. I have seen it both in .net 4.7 and 4.5 and on multiple different computers? Is this a known issue in .Net?

I

[2018-10-31 08:42] satyajit-behera opened #33158 "MEF - Composing a object having parameterless constructor"
Using MEF, is it possible to compose an object which itself has parameters in its constructor?

[2018-10-31 08:43] satyajit-behera opened #33159 "MEF - Composing a object having parameterless constructor"
Using MEF, is it possible to compose an object which itself has parameters in its constructor?

[2018-10-31 08:43] satyajit-behera opened #33160 "MEF - Composing a object having constructor with parameter"
Using MEF, is it possible to compose an object which itself has parameters in its constructor?

[2018-10-31 08:48] satyajit-behera opened #33161 "MEF - Composing an object having constructor with parameter"
Using MEF, is it possible to compose an object which itself has parameters in its constructor?

exportedDestinationType = Container.GetExports<T>().FirstOrDefault();

This method does not have any parameter where we can accept any constructor while creating an object.

[2018-10-31 08:48] satyajit-behera opened #33162 "MEF - Composing a object having constructor with parameter"
Using MEF, is it possible to compose an object which itself has parameters in its constructor?

exportedDestinationType = Container.GetExports<T>().FirstOrDefault();

This method does not have any parameter where we can accept any constructor while creating an object.

[2018-10-31 08:48] satyajit-behera opened #33163 "MEF - Composing a object having constructor with parameter"
Using MEF, is it possible to compose an object which itself has parameters in its constructor?

exportedDestinationType = Container.GetExports<T>().FirstOrDefault();

This method does not have any parameter where we can accept any constructor while creating an object.

[2018-10-31 08:48] satyajit-behera opened #33164 "MEF - Composing a object having constructor with parameter"
Using MEF, is it possible to compose an object which itself has parameters in its constructor?

[code]

This method does not have any parameter where we can accept any constructor while creating an object.

[2018-10-31 08:53] vitek-karas opened #33165 "Add API for resolving component dependencies"
This is a proposal to add new public API which would expose functionality to help with resolution of managed and unmanaged dependencies of components.

### Proposed Surface Area
[code]

### Functionality
Given the path to a component assembly (the main `.dll` of a given component, for example the build result of a class library project), the constructor creates a resolver object which can resolve

[2018-10-31 09:10] marek-safar commented on #33109
I am not sure that's the right fix, it'd just hide the exception and you'd still have problems in other methods (instead of Add you can call Clear, etc).

One solution would be to always throw when DefaultRequestHeaders is modified when there is a request in flight.

[2018-10-31 09:17] #33159 closed

[2018-10-31 09:17] #33158 closed

[2018-10-31 09:17] #33160 closed

[2018-10-31 09:17] #33161 closed

[2018-10-31 09:17] #33162 closed

[2018-10-31 09:17] #33163 closed

[2018-10-31 09:30] GSPP commented on #32866
The first enum value is there to specify the existing behavior. The existing behavior must be preserved for compatibility.

The first enum member could be removed but then the new constructors no longer offer a superset of the functionality of the old ones. That causes confusion. Keeping the enum value does not do much harm since the behavior must be supported anyway.

[2018-10-31 11:50] benaadams commented on #32866
The existing behaviour is undefined; sometimes would root sometimes would not. It can be achieved by using the existing .`ctor`s as they aren't going away.

[2018-10-31 11:54] GSPP commented on #32866
It does not matter whether it's documented or not. For compatibility it is set in stone. In fact it *should* be documented now.

[2018-10-31 11:57] MarcoRossignoli commented on #31570
@jbhensley are you on this issue or I can tackle it?

[2018-10-31 12:10] benaadams commented on #32866
Not sure I understand. The existing .ctor behaviour is not changing; these are completely new methods that no one is currently calling. How does compatibility feature?

[2018-10-31 12:34] GSPP commented on #33148
@jeremymeng this could be related to https://github.com/dotnet/corefx/issues/30642. There's currently a lot of trouble with wrong binding redirects being added by NuGet. I have made a list of related issues: https://github.com/dotnet/standard/issues/481#issuecomment-429643615

[2018-10-31 12:54] GSPP commented on #32866
@benaadams I understand your point, but did you see this?

It seems confusing to have to tell API users that they should not use the old constructors anymore when at the same time the new ones are not a superset of the old ones.

If we make the new ones a functional superset then all constructors are homogenous. They are just different overloads over the same functionality. This always seemed like

[2018-10-31 13:08] poke commented on #33115
@c0shea

I’m sure that will be the case. The docs already list alternative implementations for multiple topics, like [DI containers](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.1#default-service-container-replacement), [logging providers](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.1#third-party-logging-p

[2018-10-31 13:34] stephentoub commented on #32866
From my perspective, either:
a) We have the enum with all three modes, and we either don't have a default mode for Create (the parameter is non-optional) or we default to the same behavior as the ctor with the equivalent arguments.  We'd choose this approach if we want to make it explicitly clear in the new APIs that the Timer is capable of three different modes of operation, in hopes that even th

[2018-10-31 13:40] benaadams commented on #32866
The various options were discussed on the review https://youtu.be/1H3f1DbB_N8?t=3316 (from 55:16 to 1:19:30)

The bool in the `Create` method offers a specific behaviour; from what was explained in the review the `enum` would be more like:
[code]

[2018-10-31 13:43] stephentoub commented on #32866
The behavior is determinate: the implementation roots the delegate and the state object.  The challenge for the enum was coming up with a good name for that.

I'm not sure what this means... the bool just maps to the Rooted/Unrooted behavior from the enum.

[2018-10-31 13:43] svick commented on #26528
@schungx There's nothing really new to come up with. For example, `foreach` over a `List<T>` already does not allocate on the heap, because the current state is kept in the enumerator `struct` on the stack. A very similar approach can be used here.

[2018-10-31 13:47] stephentoub commented on #33109
DefaultRequestHeaders, like the rest of the properties on HttpClient, is not meant to be modified once any request has been issued; doing so is a bug in the user code (there are many other ways that failure could manifest, including other exceptions or just unannounced corruption of the data structures).  This doesn't appear to be documented, but should be.  The other properties all throw if used

[2018-10-31 13:50] jeff-pang commented on #33115
Maybe have a strict mode by default and able to explicitly switch it to a more lenient mode

[2018-10-31 13:58] benaadams commented on #32866
And what that means cannot be determined by the method signature alone; it depends on the delegate and `state` and whether they have a reference to the Timer.

I mean the method signiture is enough to determine what will happen without considering what is actually in `state` or what the delegate captures

[2018-10-31 14:01] stephentoub commented on #32866
Sure it can: the delegate and the state will be rooted.  As with everything else in .NET, anything they reference would be rooted, too.  Same goes for the resulting Timer keeping alive AsyncLocals, which aren't "in the signature".

[2018-10-31 14:12] marek-safar commented on #33109
I agree it's a bug in user code but we should make it easier for the developers to find it. The way it manifests today is quite random even if we know the behaviour is not allowed by design.

Another solution how to actually make it work is to copy all default headers in thread safe way at beginning of each request to the request headers.

[2018-10-31 14:17] benaadams commented on #32866
Well, yes :) Just mean its more explicit

Though not keeping AsyncLocals alive is in the signature via `Unsafe`

[2018-10-31 14:17] stephentoub commented on #33109
That's likely technically possible, but would also likely mean that not only would every mutation require taking a lock, but worse every request would need to hold a lock while copying all header data from the source collection to the destination collection.  We've tried to minimize such locking as we've seen it quickly become a scalability bottleneck, e.g. https://github.com/dotnet/corefx/pull/32

[2018-10-31 14:18] stephentoub commented on #32866
Different method ;)

[2018-10-31 14:27] marek-safar commented on #33109
That's correct but only if you are using shared HttpClient for multiple concurrent requests which I am not sure it's the recommended setup for highly scalable workloads.

[2018-10-31 14:28] stephentoub commented on #33109
That's exactly the recommended setup for highly-scalable workloads :)

[2018-10-31 14:31] qbit86 opened #33169 "Add List<T>.MoveToArray() method releasing ownership of inner buffer"
It would be convenient to have an efficient “array builder” for scenarios which require no redundant allocations and copies. Possible implementation is:
[code]

Usage:
[code]

It is already implemented in [Misnomer.Rist](https://www.nuget.org/packages/Misnomer.Rist), but this API looks quite useful to be included in standard BCL.

[2018-10-31 14:51] karelz commented on #33157
Duplicate of https://github.com/dotnet/coreclr/issues/20690

[2018-10-31 14:51] #33157 closed

[2018-10-31 14:52] jbhensley commented on #31570
Was going to take a look, but got sidetracked by something else and haven't actually started. All yours.

[2018-10-31 15:37] thargy commented on #33089
This issue has been closed, however to answer your questions:

As I explained above, they could be `internal`.

I really don't see how mystery methods are less code smell than generics, in fact allowing interchangeable unknown (at compile time types) with certain constraints is _what generics is for_.  Also you mitigate most of the issues by concrete type arguments at the end of the chain; e.g.

[

[2018-10-31 16:00] GSPP commented on #27625
There is a potential integer overflow here:

    int capacityToPreserve = Math.Min(Capacity, Math.Max(Length * 6 / 5, m_ChunkChars.Length));

The multiplication can overflow causing a negative result.

https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Text/StringBuilder.cs#L484

[2018-10-31 16:01] #33112 closed

[2018-10-31 16:02] stephentoub commented on #33129
Having trouble reproing this locally, unfortunately, which suggests it's not just some strange interaction with coverage and this particular test.

[2018-10-31 16:07] Joe4evr commented on #33164
Are the types of the constructor parameters also registered in the container?

[2018-10-31 16:16] tarekgh commented on #17233
@iSazonov wouldn't the supported string normalization and casing APIs are not enough in your case?

[2018-10-31 16:32] joperezr commented on #33148
I believe that what might be happening here is that the right binding redirects are not being added as System.Buffers might be an implementation-only dependency. In order to check if this is the case, @jeremymeng do you mind running fuslogvw when the error happens so that we can check who is trying to load System.Buffers? Also, do you have any binding redirects present in your App.config?

[2018-10-31 16:32] karelz commented on #33088
@GSPP but it does not seem that `LingerState` fullfills that capability even on OS level.
What would be the need to enforce RST on TCP connection. I thought that is rather part of the TCP protocol, not something that higher layers should worry about.

[2018-10-31 16:33] jaredpar opened #33170 "Archiving stable runtime packages"
There are several packages in dotnet/corefx where the package and supporting language features are mature and no longer evolving, and where the risk of code change likely exceeds the benefit. Those packages should be effectively archived.

Packages:
- Microsoft.CSharp
- Microsoft.VisualBasic
- System.Dynamic
- System.Linq.Expressions

When archived, we would not accept features contributions to th

[2018-10-31 16:40] karelz commented on #33170
Tagging some most active contributors in the area and in the repo for awareness (sorry if I missed anyone): @hughbe @JonHanna @justinvp @bartdesmet @jamesqo @MarcoRossignoli @AlexRadch @filipnavara @benaadams @jbhensley @svick @GSPP

[2018-10-31 16:46] joperezr commented on #33148
Actually now that I have tried to repro this, I do have a binding redirect created for me for System.Buffers so I can't really repro this. I've also just checked in your binlog and it looks like there was a binding redirect suggested as well for System.Buffers that would have fixed this. Do you have auto binding redirects turned on?

[2018-10-31 16:57] satyajit-behera commented on #33164
No.

[2018-10-31 16:57] danmosemsft commented on #33129
If there's a suspicion that TaskDropsExecutionContextUponCompletion is not actually stuck, but needs longer than 60 sec, we can use the approach of increasing the timeout, but making it fail and log the time taken if it's longer than 60 sec (actually this feature could be built into the remote executor code). I imagine it's unlikely it needs longer than 60 sec though... My other suggestion is to a

[2018-10-31 16:58] jeremymeng commented on #33148
I have tried with auto binding redirects on/off but didn't see any difference.  Where did you see the binding redirect created? In my webtest project I don't see any app.config or web.config.

[2018-10-31 17:02] wtgodbe commented on #30360
@ericstj this seems to related to what you were talking about in the standup today

[2018-10-31 17:07] jeremymeng commented on #33148
fusion logs are shared at \\scratch2\scratch\yumeng\fuslogs.  The error for System.Buffers

[code]

[2018-10-31 17:19] danmosemsft commented on #33129
Probably not. @mmitche right now by some magic, `https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report` goes to the result of the last successful build. Is there a way to point instead to the result of the last build that completed? Eg., `https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/712/Code_Coverage_Report/` where `712` is some

[2018-10-31 17:19] joperezr commented on #33148
If you check the ResolveAssemblyReferences target, RAR noticed there was a conflict with the versions of System.Buffers so it suggested a binding redirect that will force the 4.0.3 version to be loaded (which is the one that you found according to the fuslog). If you have auto binding redirects turned on, then we should be adding these binding redirects that RAR suggested into your resulting confi

[2018-10-31 17:20] ericstj commented on #30360
No, this is different.  APICompat is broken in master today.

This is about comparing ref\netcoreapp2.1 to ref\netstandard2.0 or comparing ref\netstandard2.0 to lib\netcoreapp2.1 (if a ref\netcoreapp2.1 also exists).

Today we only do one API-compat comparison and we miss coverage for the cross-framework scenario.

[2018-10-31 17:32] phillip-haydon commented on #33115
@poke I guess you really need to go try vue cli and then retry dotnew new. The current dotnet new... is... it’s...

[2018-10-31 17:33] jeremymeng commented on #33148
My project is a **WebTest** project (Output Type of Class Library).  I don't get any warnings or errors when building the project in Visual Studio. There are no *.config files under `bin\Debug` even I have auto generate binding redirects on

![image](https://user-images.githubusercontent.com/7583839/47806920-10ffcd80-dcf8-11e8-8f25-930d20603563.png)

[code]
The config files I saw from fuslog are
[

[2018-10-31 17:35] tarekgh commented on #33154
Yes, this  looks a regression from @AtsushiKan change in the commit: https://github.com/dotnet/corert/pull/3141/commits/c6c01251384ef92f89ca22066fec5444be94f4bf#diff-63aa554c73fc39ae34377cf46321a8b2R208

The original code used to do the following: https://github.com/dotnet/corefx/blob/release/2.0.0/src/System.Globalization.Extensions/src/System/Globalization/Extensions.cs#L80

@mwikstrom

Thanks f

[2018-10-31 17:59] GSPP commented on #33088
I just tested it on Windows 7 with .NET 4.7.2.

    var ipAddress = Dns.GetHostAddresses("github.com").Where(x => x.AddressFamily == AddressFamily.InterNetwork).First();

    Console.WriteLine($"Connecting to {ipAddress}...");

    using (var socket = new Socket(AddressFamily.InterNetwork, SocketType.Stream, ProtocolType.Tcp))
    {
        socket.Connect(new IPEndPoint(ipAddress, 80));

        C

[2018-10-31 18:15] saurabh500 commented on #33070
There are couple of nuances of connection pool, that should be mentioned here.
1. If an error occurs while getting a connection from the pool, then subsequent attempts to establish new connections to SQL Server fail for a period of time. More information here
https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql-server-connection-pooling
![image](https://user-images.githubusercontent.c

[2018-10-31 18:43] #33151 closed

[2018-10-31 18:57] geoffkizer commented on #32771
There's an unavoidable timing issue with these sorts of scenarios. The server is going to close an idle connection sooner or later. If it closes the connection just as we are trying to reuse it for a subsequent request, then things get complicated. We will retry the request on another connection if we are sure it is safe to do so. But if we've sent part of the request body then we won't resend the

[2018-10-31 19:01] karelz commented on #33088
Does .NET Core behave differently on Windows?

[2018-10-31 19:03] geoffkizer commented on #32576
How about option 5: If the CA check fails, check if the files have been updated, and if so, re-read and re-check. This would only impact perf in failure cases.

[2018-10-31 19:20] Tratcher commented on #32576
As long as that check was rate limited to once per minute or hour.

[2018-10-31 19:37] aseigler opened #33172 "System.Security.Cryptography.ECDsa.VerifyData fails sometimes with nistP521 curve"
Only seems to fail occasionally with nistP521, have not seen with nistP384 or nistP256 curves.

Sample failing data (template from https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDsa/ECDsaTests.NistValidation.cs):

[code]

OpenSSL is happy with the same data:

[code]

[2018-10-31 19:40] JeffCyr commented on #33084
@stephentoub
What about a global stack-ish queue?
- Take the ConcurrentQueue data structure with its lock-free ring buffer segment
- Keep a fixed segment size instead of exponential growth
- Implement the segment linked list as a stack instead of a queue

Then the shrinking logic could simply drop whole segments as needed.

[2018-10-31 19:44] thargy commented on #33098
Instead of taking an option buffer, it could also take an optional `ArrayPool<byte>`?

[2018-10-31 19:48] brianrob commented on #29331
@adamsitnik were you able to make any progress on this?  I'd like to get some results for Linux 2.2.  Thanks.

[2018-10-31 19:52] terrajobst commented on #33089
@thargy

I'm not appreciating the style in which [you converse with us here](https://github.com/dotnet/corefx/issues/33089#issuecomment-434517126). You're getting close to the boundary of what I consider acceptable. Before calling design suggestions rubbish and accusing me of not having context consider that this type of language isn't advancing your cause and will only cause the other side (in th

[2018-10-31 19:58] epignosisx commented on #33070
The connection string does not specify a Minimum Pool Size. It looks like this:

``
SERVER=XXXX;DATABASE=XXXX;UID=XXXX;PWD=XXXX;PACKET SIZE=4096
[code]

[2018-10-31 19:59] mwikstrom commented on #33154
The workaround I've come up with is to use the following class:

    internal sealed class CultureAwareStringSortComparer : StringComparer
    {
        public CultureAwareStringSortComparer(CompareInfo compareInfo)
        {
            this.SortComparer = compareInfo.GetStringComparer(CompareOptions.StringSort);
            this.HashCodeComparer = compareInfo.GetStringComparer(CompareOptions.Non

[2018-10-31 20:20] saurabh500 commented on #33070
Thanks @epignosisx for providing the information. Can you change your config to use the Min Pool Size so that you have ready TCP connections? Do you know how many concurrent connections are open to Sql Server when this issue happens? I am trying to rule out the possibility of Connection Pool max size being reached (viz 100 by default) and not getting a connection in a timely manner.
If you are not

[2018-10-31 20:32] vancem commented on #32866
Responding to @stephentoub  options (a) and (b) above.

First I dont view the current behavior as that bad.   From a practical standpoint, either

1. I am signed up to explicitly dispose of the timer when I no longer need it OR
2.  I am relying on the GC to figure out when the timer dies and turn it off then.

If you are in case (1) which should be the common case, the differnece between the curre

[2018-10-31 20:39] jhudsoncedaron commented on #33070
At one time the behavior on reaching the pool size was it throwing InvalidOperationException. The last time I tested this was in .NET Framework 2.0 though. We thought we were hitting the pool size legitimately. Much later we discovered we had a bug that leaked connections.

[2018-10-31 20:40] terrajobst commented on #32878
I think the point was that `None()` is easier to read that `!Any()`.

`Some()` would be identical to `Any()`, no?

[2018-10-31 20:51] valeriob commented on #6204
Given the announcement that apsnet core will not run on .net framework, this issue is now a priority for netcore 3.0, it will block a whole lot of nservicebus users !  https://github.com/aspnet/Announcements/issues/324

[2018-10-31 20:51] epignosisx commented on #33070
@saurabh500 I'm trying to get the concurrent connections to SQL Server when it happened. In the meantime, I can share the memory dump, but I checked your Github profile, but it is not showing an email address.

[2018-10-31 20:54] jnm2 commented on #32878
`Some()` would mean `Any()`, `OnlySome()` would mean `!All()`. Not sure it's any clearer than `!All()`.

[2018-10-31 20:57] saurabh500 commented on #33070
@epignosisx Something changed and my email was private . I have made the email available on the profile

[2018-10-31 20:58] jnm2 commented on #32878
`Some()` would mean `Any()`, `OnlySome()` would mean `!All()` which is what @omariom was after to complete the square (Any, All, NotAny, NotAll). As in, "only *some* of these object are red." I'm not sure it's any clearer than `!All()`, particularly when none (not some) are red.

[2018-10-31 21:06] tarekgh commented on #33154
You should implement Equals as follow:

[code]

StringSort can affect the result of the string comparisons. other than that it looks OK to me.

also you may write it in more generic way like

[code]

I am closing this issue but feel free to reply back with any question.

[2018-10-31 21:06] #33154 closed

[2018-10-31 21:08] thargy commented on #33089
@terrajobst

Firstly, I apologise, it was not my intent to offend, and written communication can frequently lead to miscommunication, particularly across multiple cultures.  I had clearly let myself get frustrated that your first contribution to this thread was to close it without giving an opportunity for response, I had put a lot of time and effort into the discussion and it felt like you disreg

[2018-10-31 21:09] gafter commented on #17233
@tarekgh What APIs are you suggesting approximate case folding?

[2018-10-31 21:15] mwikstrom commented on #33154
Excellent. Thank you!

[2018-10-31 21:33] karlra commented on #33115
Can I please request that you remember that the various browsers' parsing of JSON don't support int64 values properly, and give us the ability to serialize/deserialize longs as strings? It's one of those things you don't notice until it bites you hard. A variation on this is being able to decide whether numbers are deserialized into ints or longs by default.

[2018-10-31 21:33] karelz commented on #6204
@terrajobst @DamianEdwards can you please comment on the related plans / priority?

[2018-10-31 21:36] tarekgh commented on #17233
We already have a casing APIs on TextInfo and String class. I understand we use the underlying OS for that and this is by design as we need to avoid carrying any globalization data as possible. what exactly the scenario that is not working for you?

[2018-10-31 21:40] karelz commented on #33088
So the only difference is Windows vs. Linux?
Either we do not pass right arguments on Linux, or it is OS implementation detail behavioral difference which we cannot influence. I assumed we are in the 2nd option camp ...

[2018-10-31 21:42] terrajobst commented on #33089
@thargy

Thanks for taking my feedback on the communication style.

That's fair, point taken. Apologies for reading that into your comment.

I very rarely lock threads. The reason I locked the .NET Standard thread was (1) the API was already approved & merged and (2) I've pointed back here for the discussion. We do the same in the announcement repos. The purpose is to control *where* the conversat

[2018-10-31 21:44] akarnokd commented on #32640
After playing with the API for about two weeks and implementing dozens of operators, the main trouble I see is the inconvenience of external cancellation channel(s) required.

For example, let's see the `Amb` operator with two sources. The operator wants to relay items from the faster source, disposing the other one. Based on the rules, this has to await the other's `MoveNextAsync` which may take

[2018-10-31 21:49] gafter commented on #17233
The scenario is Case Folding as specified in the Unicode specification. See also

- http://unicode.org/faq/casemap_charprop.html
- http://www.unicode.org/versions/Unicode11.0.0/ch05.pdf#G21180 starting on page 240
- ftp://ftp.unicode.org/Public/UCD/latest/ucd/CaseFolding.txt

[2018-10-31 21:49] 1iveowl commented on #33088
@GSPP when you tested the above, are certain that the RST was not triggered by the application exiting?

I ran similar tests the other day, and I observed no RST was send when calling TcpClient.Close() on Windows 10. However, as soon as I exited the application (a console app) the RST was observed with WireShark.

I was running the test with the new `async Main()` capability in C# 7.3 after callin

[2018-10-31 22:00] tarekgh commented on #17233
I know that, I am asking about what is your scenario you need the case folding and case mapping is not enough?

[2018-10-31 22:05] bryanrcarlson commented on #26845
Good find, @nh43de.

Is this the way to go then; to build upon RecordBatch and implement an API on top (with array and index notation similar to pandas and/or data manip verbs similar to dplyr)?  Or should we still consider defining a DataFrame type that can load in Arrow format?

PyArrow has a Table class that is a "tool to help with wrangling multiple record batches..." [PyArrow Tables](https://

[2018-10-31 22:31] benaadams commented on #33098
It would also need to then return the `byte[]` if rented, otherwise there would be no handle to return the rented array and it would be a more expensive version of `new byte[]`

[2018-10-31 22:40] thargy commented on #33098
Oops, good point, I knew there was a reason I did it that way! Serves me right for commenting on my mobile.

[2018-10-31 23:15] gafter commented on #17233
The scenario is case folding for the purposes of comparing identifiers in a case insensitive programming language according to the rules described in the Unicode specification. Case mapping is not enough; that is explained in some detail in the Unicode specification. There is no case folding API today.

[2018-10-31 23:31] Clockwork-Muse commented on #33115
....Ah, EcmaScript, thanks for making everything doubles.  I'm sure that hasn't caused problems in some other part of code...

As a purist, I dislike stuff like this.
As a realist, I think I'm going to have to agree with this.

[2018-11-01 00:22] JustArchi opened #33179 "Interop+Crypto+OpenSslCryptographicException: error:0E076071:configuration file routines:MODULE_RUN:unknown module name"
Hello.

Since a few days I'm getting rather weird situation of internal OpenSSL failures on my machine. In particular, this is the exception that I'm encountering since a few days:

[code]

I've tried to solve this issue through various ways. Using `CLR_OPENSSL_VERSION_OVERRIDE=1.1` I'm getting a different one:

[code]

Using `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0` fixed the problem I was

[2018-11-01 00:33] stephentoub commented on #32878
I understand the original reasoning, but I don't think we should be in the business of adding new APIs that are effectively just differently-named forwarders to existing APIs.  They add very little value and could be done by any developer in any library with as good an implementation as the core libraries can provide.  While adding little value without downsides is something to consider, there are

[2018-11-01 00:37] jnm2 commented on #32878
If the BCL ever adds `Optional<>`, `Optional<>.None` would be more like `Enumerable.Empty<>` than like `IEnumerable<>.None`.

[2018-11-01 00:42] HenryQW commented on #17272
Not sure what situation you are in, but if you have a proxy, it's likely to be proxy-related.

[2018-11-01 02:35] joshudson opened #33182 "System.Diagnostics.TextWriterTraceListenerTests compares month of year only and has bad UTC vs. Localtime logic"
This bug is in the test case

src/System.Diagnostics.TextWriterTraceListener/tests/XmlWriterTraceListenerTests.cs

Failing test case (spurious failure):

    <failure exception-type="Xunit.Sdk.EqualException">
          <message><![CDATA[Assert.Equal() Failure\n           ↓ (pos 1)\nExpected: 11-DD-YY\nActual:   10-DD-YY\n           ↑ (pos 1)]]></message>
              <stack-trace><![CDATA[   at

[2018-11-01 02:50] dotnet-mc-bot opened #33183 "Test failure: System.Diagnostics.TextWriterTraceListenerTests.XmlWriterTraceListenerTests/TraceData_MultipleXPathNavigators"
Opened on behalf of @Sunny-pu

The test `System.Diagnostics.TextWriterTraceListenerTests.XmlWriterTraceListenerTests/TraceData_MultipleXPathNavigators` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20181101.01 (Core Tests)
Failing configurations:
- OSX.1014.Amd64-x64
  - Release
- OSX.1013.Amd64-x64
  - Release
- OSX.1012.Amd64-x64
  - Release

Details: https://mc.dot.ne

[2018-11-01 02:54] Sunny-pu commented on #33183
Failed tests: System.Diagnostics.TextWriterTraceListenerTests.XmlWriterTraceListenerTests/TraceData_MultipleXPathNavigators
System.Diagnostics.TextWriterTraceListenerTests.XmlWriterTraceListenerTests/TraceData_NullObjectArraySystem.Diagnostics.TextWriterTraceListenerTests.XmlWriterTraceListenerTests/TraceData_OneObject
System.Diagnostics.TextWriterTraceListenerTests.XmlWriterTraceListenerTests/Tra

[2018-11-01 03:05] danmosemsft commented on #33183
https://github.com/dotnet/corefx/issues/33182

[2018-11-01 03:07] #33096 closed

[2018-11-01 03:07] danmosemsft commented on #33169
Could you give examples of when this is useful? Ie when you need to progressively create an array, you don't know the length ahead of time, and the expanding behavior of List (doubling) is good enough? I can see how it's potential useful I just can't think of when I've needed this.

[2018-11-01 03:29] Joe4evr commented on #33164
Then register those types, as that's where the container will look to fill in constructor parameters.

[2018-11-01 03:30] benaadams commented on #27246
Or `input` / `output`

[2018-11-01 03:47] danmosemsft commented on #33182
@joshudson thanks, looks like it failed in official run today also

[2018-11-01 06:08] jkotas commented on #33149
The workaround is to check for presence of `IsByRefLikeAttribute`. The first class support for byref-like types is present in .NET Core only.

[2018-11-01 06:08] #33149 closed

[2018-11-01 06:10] jkotas commented on #17232
@bergmeister Correct, the workaround is to check for presence of IsByRefLikeAttribute. The first class support for byref-like types is present in .NET Core only.

Also see https://github.com/dotnet/corefx/issues/33149

[2018-11-01 07:21] veikkoeeva commented on #26845
One thing to note is that a lot of data is in [netCDF](https://en.wikipedia.org/wiki/NetCDF) or [geoTIFF](https://medium.com/planet-stories/a-handy-introduction-to-cloud-optimized-geotiffs-1f2c9e716ec3) format. By a lot I mean many of the scientific data sets having large amounts of data. It would be great if the .NET story working with these formats were better. If not otherwise, maybe reading so

[2018-11-01 07:57] Mogikan opened #33188 "Arithmetic operation resulted in an overflow"
I created .NET Core console app and added reference to System.Drawing.Common nuget. I'm trying to run the following code from [docs](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/how-to-determine-the-parameters-supported-by-an-encoder), but it fails on bitmap1.GetEncoderParameterList with System.OverflowException:

'Arithmetic operation resulted in an overflow.'

What is wron

[2018-11-01 08:35] GSPP commented on #33088
@1iveowl actually, I was not certain of that. I just retested by placing a breakpoint after the closing brace of my using statement and the reset is being generated. Can you try my repro code? Maybe there is some meaningful difference to yours.

http://deepix.github.io/2016/10/21/tcprst.html here is someone who confirmed that linger generates a reset on linux 4.8. This is an essential OS capabilit

[2018-11-01 08:40] 1iveowl commented on #33088
Thank you @GSPP, I will re-run the test I did the other day and return.

[2018-11-01 09:12] 1iveowl commented on #33088
You are correct GSPP. Now, I too see a RST send when close is called and before the application exits.

![rst](https://user-images.githubusercontent.com/12871120/47842766-f132dd00-ddbd-11e8-854e-a2aa1260de81.png)

I've only tested on Windows 10 (17763.55). My observations the other day must have been polluted by something else. What, I don't know yet.

By the way. The test shows that it makes no d

[2018-11-01 09:45] qbit86 commented on #33169
@danmosemsft

It's an intersection of scenarios when you do need **List&lt;T&gt;** and need to interact with APIs that consume arrays or their segments/spans. I believe a lot of current **List&lt;T&gt;.ToArray()** usages can immediately benefit from replacing with **List&lt;T&gt;.MoveToArray()** (no allocating or copying).

[code]

[2018-11-01 11:37] #32986 closed

[2018-11-01 11:57] Elufimov commented on #33037
I wrote simple test in `corefx\src\System.Net.NameResolution\tests\PalTests\System.Net.NameResolution.Pal.Tests.cs`

<details>
 <summary>Test code</summary>

[code]

</details>

Test output:
[code]
Also I can confirm that `SafeFreeAddrInfo.GetAddrInfo` returns 3 addresses ![](http://img.parcsis.net/i/6d5cea81fc7e7bfd3975bc53dd42c713.png)
There is no sorting code in `NameResolutionPal.TryGetAddrInf

[2018-11-01 13:34] iainnicol commented on #33170
This is understandable.  As said, these are mature assemblies, and there is risk to changing them.  Moreover, two of these assemblies are language specific.

However, I'm curious about how it affects issue #14344.  Namely, Microsoft.VisualBasic.dll as it existed in netcore v1 and v2 had low test coverage.  (Of course, for the netcore v3 additions, tests are being added).

So, for improving test co

[2018-11-01 13:48] OrbintSoft commented on #20812
ok the runtime read the correct value, but that value has no useful meaning.

How can I get the real virtual memory available for the process?

[2018-11-01 13:56] qbit86 commented on #33169
@drieseng

It's order of magnitude harder since it's [breaking change](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#members). Such extending the scope of this issue probably requires separate thread for discussion.

[2018-11-01 14:00] iainnicol commented on #31181
I'm thinking about the like operator.  Like is a builtin keyword, but the implementation is provided by the runtime.  The implementation is inside the namespace Microsoft.VisualBasic.CompilerServices.  Technically this namespace is public, but it feels like an implementation detail.

Now, it looks like an implementation of the like operator currently resides in  [StringType.vb](https://github.com/

[2018-11-01 14:01] iainnicol commented on #31181
Separately, I intend to finish Financial.vb at some weekend shortly.  Of course, I got distracted previously.

[2018-11-01 14:23] Elufimov commented on #33037
@stephentoub I am suggesting that `SafeFreeAddrInfo.GetAddrInfo` returns results sorted and not all of them. At least this is what I get in my environment.

[2018-11-01 14:31] Elufimov commented on #33037
My case is that I have consul as dns server and i have service with 4 ip addresses (172.18.2.20, 172.18.2.21, 10.50.0.72, 10.50.0.73). When I use domain name managed by consul in httpclient it do not provide a round robin load balancing like it should, it uses addresses from 172 subnet if they exist in dns response. I do not think that is something wrong with consul because dig and our jvm applica

[2018-11-01 14:35] janvorli commented on #20812
@OrbintSoft the Process.VirtualMemorySize64 doesn't return the amount of available VM for the process, but rather the amount of virtual memory currently used by the process. The total VM space available for a process is a fixed value (depending on the processor architecture and Windows version and it is described here: https://docs.microsoft.com/en-us/windows/desktop/Memory/memory-limits-for-windo

[2018-11-01 14:55] stephentoub commented on #33037
Ok.  In that case it's a question about Windows behavior, rather than .NET Core. SafeFreeAddrInfo.GetAddrInfo just P/Invokes to Windows:

https://github.com/dotnet/corefx/blob/61f51e6b2b26271de205eb8a14236afef482971b/src/Common/src/Interop/Windows/Winsock/SafeFreeAddrInfo.cs#L23

https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Common/src/Interop/Windows/Winsock/I

[2018-11-01 15:54] Elufimov commented on #33037
I have the same behavior on windows and on linux. I will be glad to collect additional data and samples.

[2018-11-01 16:07] karelz commented on #33179
@bartonjs is it a known problem?

[2018-11-01 16:09] karelz commented on #33182
@joshudson thanks for analysis. Do you want to submit a PR to fix the test?

[2018-11-01 16:10] karelz commented on #33183
Duplicate of #33182

[2018-11-01 16:10] #33183 closed

[2018-11-01 16:34] bartonjs commented on #33179
`CLR_OPENSSL_VERSION_OVERRIDE=1.1` tricks the loader into loading libssl.so.1.1, which .NET Core 2.1 is not capable of working with.

The error is coming out of OpenSSL's initialization.  Have you made any changes to /etc/ssl/openssl.cnf ?

[2018-11-01 16:37] Clockwork-Muse commented on #33169
Hrm.

The problem, I think, is that it's unusual to **consume** a list this way.  If your API takes a `List` (as with an `IEnumerable` or similar), most callers are going to expect that their list stays the same

@drieseng 's examples are all instances of using `List` as temporary filtering storage management (one wonders if `Linq` would work for some of that, but there's some extra overhead there

[2018-11-01 16:39] JustArchi commented on #33179
@bartonjs thank you for reply. Yes, I know that .NET Core isn't capable of using libssl.so.1.1 yet, I just mentioned it as a possibility.

I didn't do any changed to `openssl.cnf`, this is stock Debian install. Included full file for reference:

[code]

Thanks!

[2018-11-01 16:47] JustArchi commented on #33179
I've done a `diff` of `openssl.cnf` between stable (stretch) and testing (buster), here are the results:

[code]

Could it be related to `MinProtocol = TLSv1.2`? Perhaps Debian decided to no longer supply SSLv3 and .NET Core can't find appropriate SSLv2_v3 symbol? Just my blind uneducated guess, trying to help.

[2018-11-01 17:53] kevbry commented on #22324
With the announcement that asp.net core 3.0 won't support full framework, lack of always encrypted support in .net core is going to block our further development using the platform. Would be good to have some feedback on when/if this is going to be available so that we can start making plans.

[2018-11-01 18:06] karelz commented on #22324
@divega can you please help here to bubble it up?

[2018-11-01 18:07] kevbry commented on #18276
Seconding @houseofcat . With full framework support going away in asp.net core 3.0 we need to start making plans.

[2018-11-01 18:08] JustArchi commented on #33179
I can confirm that commenting out `ssl_conf` fixed the issue for me. Thank you so much @bartonjs for help, I really appreciate it.

I'll keep the issue open in case you'd want to add some fix in the .NET Core regarding this. If by any chance you're not interested in doing any of that, please feel free to close it anytime you want to.

Once again thank you! ❤️

[2018-11-01 18:11] svick commented on #33169
@Clockwork-Muse

[CoreFx does have one, but it's `internal`.](https://github.com/dotnet/corefx/blob/f866898/src/Common/src/System/Collections/Generic/ArrayBuilder.cs)

I would definitely prefer something that returned `Memory<T>` because I think the proposed `MoveToArray` is too easy to misuse: there is no indication that the returned array is only partially filled and that to use it correctly, yo

[2018-11-01 18:31] danmosemsft commented on #33169
I'm missing a piece here. Presumably your consuming API expects the array to be the correct size, but in the general case the List's array will have extra space. You have to set Capacity to the value of Count to cause List to trim the array, and at that point you've made the allocation/copy you want to avoid, except in the rare case it happens to be the correct size already. Can you clarify?

@svi

[2018-11-01 18:55] vcsjones commented on #33169
I think the issue is that the API proposal also resets the internal array back to an initial value. This method essentially clears out the list. So if you want to know exactly how many items are in the array (since the array's capacity is often bigger than the actual `Count`) you need to get the real count before it gets cleared out by this.

I'm leaning toward something simpler like an `ArrayBuil

[2018-11-01 19:01] svick commented on #33169
@danmosemsft Calling `Count`, doesn't trim anything, but `MoveToArray` does reset the `List`'s `Count`.

This means that e.g. if I did want to create `Memory<T>` from the API proposed here, `return new Memory<T>(list.MoveToArray(), 0, list.Count);` would not work. It calls `Count` after `MoveToArray()`, so it would always return an empty `Memory<T>`. Instead, you would have to write:

[code]

That

[2018-11-01 19:03] joshudson commented on #33182
I'll pass.

[2018-11-01 19:19] danmosemsft commented on #33169
@svick, I see, but that is a rare API that takes an array + the count to consume from it. Most .NET API of course just take the array therefore could not benefit from this efficient path, if I understand right.

Your point about incorrect use is good too.

[2018-11-01 19:21] danmosemsft commented on #33188
Same on .NEt Framework (with built in System.Drawing.*) ?

[2018-11-01 19:22] karelz opened #33199 "[Uri] Incorrect port parsed when space at the end of URI"
When space is at the end of URL with port number, we parse incorrect port:

[code]

Reproduced on .NET Framework 4.7.2 and .NET Core 2.1.

Originally filed here: https://developercommunity.visualstudio.com/content/problem/368745/uriport-returns-a-different-port-number-due-to-a-t.html

[2018-11-01 19:47] tannergooding commented on #32225
Resolved in #33184

[2018-11-01 19:47] #32225 closed

[2018-11-01 19:50] danmosemsft commented on #23542
As a datapoint, if you would consume this library please up-thumb the top comment..

[2018-11-01 20:18] OrbintSoft commented on #20812
I was porting a Java library to .NET, in the original library gets the available memory by JVM to determine how much cache to allocate.  In .NET I dunno how to reproduce this functionality, except to set a fixed amount of cache.

The  library is a .NET standard library so can work on many different platforms.
I remember for example that on UWP for windows mobile you have a limited amount of memory

[2018-11-01 20:43] OrbintSoft commented on #20812
@jkotas

`Runtime runtime = Runtime.getRuntime();`

the original library uses these APIs:

[code]

I was thinking to use WorkingSet64 for total memory and VirtualMemorySize64 for max size, but they have completely different meaning.

I am rethinking logic to adapt to the new environment, I dont need really to get equivalent values of Java API, but arguing how much cache I can allocate it's a big d

[2018-11-01 20:49] jkotas commented on #20812
There are no APIs like this today. https://github.com/dotnet/corefx/issues/25617 was start of a proposal to add them, but it did not get too much traction so far.

[2018-11-01 20:55] Clockwork-Muse commented on #33169
...I was going to point out earlier that, if we did this, we should be returning `ArraySegment` so that you didn't have to retrieve the count separately.
I just was more curious if a different builder type would be better.

[2018-11-01 21:12] karelz commented on #24683
We had internal report of the same problem (https://developercommunity.visualstudio.com/content/problem/359756/httpclient-sendasync-object-disposed-exception-whe.html), where we were able to get a minimal repro (using internal server returning 401):

## Repro
[code]

It does not repro in these cases:
* If POST request is without body (delete line `Content = new StringContent("a"),`)
* If `Credenti

[2018-11-01 21:19] #30341 closed

[2018-11-01 21:38] pietrodicaprio opened #33202 "ConcurrentDictionary initialized with an existing ConcurrentDictionary will act as pointer instead of new object"
When initializing a new ConcurrentDictionary starting from an existing ConcurrentDictionary, the new object will act as pointer.

[code]
based on this description I wrote the following code:
[code]
because i need to modify some data into ```tempDictionary``` without affecting ```startDictionary```.

What happens is that any edit to ```tempDictionary``` is reflected to ```startDictionary``` too. Am

[2018-11-01 21:39] yujayee commented on #32691
Hi @santiagocabrera96, thank you for reporting this issue.
The exception is supposed to be thrown in this case.
The derived class Obj2 gains property "elements" with XmlAnyElement attribute from base class Obj1. And it also has another property "elementos' with XmlAnyElement attribute. When there are more than one properties with `XmlAnyElement` attribute in a type, each property must have a disti

[2018-11-01 21:45] stephentoub commented on #33202
Can you share a repro?  I don't see how that's possible.  Adds/removes/etc. to startDictionary should definitely not be visible to tempDictionary.  But if TKey/TValue are classes and you mutate those instances, then yeah, as with any collection, the updates would be visible to both collections, because they're both storing the original object.

For example, if you write:
[code]
oldList will contai

[2018-11-01 21:51] epignosisx commented on #33070
@saurabh500 I emailed you early today a link to the memory dump.

[2018-11-01 21:57] #32017 closed

[2018-11-01 21:58] saurabh500 commented on #33070
Ack. I did reply back sometime ago. I will take a look into the dump.

[2018-11-01 22:13] pietrodicaprio commented on #33202
Share the repo is difficult because you would need my db and so on to have it running.

i have
[code]

What i don't understand is why the foreach ```// <-- THIS``` is affecting ```startDictionary``` too. Is it normal?

[2018-11-01 22:58] dotnetchris commented on #31126
GetOrAdd is far more useful than AddOrUpdate, Please don't lose GetOrAdd.

[2018-11-01 23:01] stephentoub commented on #33202
Yes. You're not modifying the dictionary. You're modifying an object stored in the dictionary. When you come the dictionary, you're copying over all of the object references the dictionary contains... if you change that object, that change will be visible everywhere. This is the same as the c1.Value change in my previous response.

[2018-11-01 23:11] qbit86 commented on #33169
@svick

Probably it's naming issue. I was inspired by [ImmutableArray&lt;T&gt;.Builder.MoveToImmutable()](https://docs.microsoft.com/en-us/dotnet/api/system.collections.immutable.immutablearray-1.builder.movetoimmutable?view=netcore-2.1#System_Collections_Immutable_ImmutableArray_1_Builder_MoveToImmutable). But can call it **Release()** like in **std::unique_ptr&lt;T&gt;**.

It's too abstract; and

[2018-11-01 23:12] danmosemsft commented on #33169
cc @stephentoub 	for thoughts.

[2018-11-01 23:13] Clockwork-Muse commented on #33169
@qbit86 -
Hey, I'd look askance at a library taking a `List` as a parameter too.  What I was really getting at is that you aren't actually interested in `List`, what you really want is a growable collection with array-like semantics.

As for `Populate(...)`... most of those are going to be explicit about modifying the parameter handed to them.  A `List` passed to a method that calls this are logic

[2018-11-01 23:15] Clockwork-Muse commented on #33202
AKA shallow-copy semantics (when you were expecting some form of deep copy).

[2018-11-01 23:16] pietrodicaprio commented on #33202
Uhm, i understand..
Could you kindly suggest a different approach to my needing?

The only idea i have is
[code]
but, I'm not sure this would solve my problem...

[2018-11-01 23:50] orobert91 commented on #30317
I would also like to know what is the ETA for this bug fix. It is a blocking issue with no workaround. It breaks the Open-XML SDK and prevents us from modifying Excel files in .NET Core.

[2018-11-01 23:52] svick commented on #33169
@qbit86

It's not a naming issue for me. The issue is that you're returning the whole array, when what you logically want to return is only the valid part of the array.

That's a good point. [It's possible to get array from `Memory<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.memorymarshal.trygetarray?view=netcore-2.1), but it's not exactly obvious. `ArraySegment

[2018-11-01 23:53] qbit86 commented on #33169
@Clockwork-Muse

It would be nice to have a clean minimalistic **ArrayBuilder&lt;T&gt;** too. But in reality **List&lt;T&gt;** is default and the most widely adopted collection over existing codebases. It is already a lot of lists here and there with all those `enumerable.ToList()` calls, in-place sorting and filtering. Adding yet another layer for creating **ArrayBuilder&lt;T&gt;** from existing

[2018-11-01 23:56] ufcpp commented on #31126
https://github.com/dotnet/corefx/issues/31598 ?

[2018-11-02 00:16] AnthonyLloyd commented on #31126
@dotnetchris @ufcpp We have RefDictionary (https://github.com/dotnet/corefxlab/pull/2458) which shows very good perf. Around 50% fast as thought above.

[2018-11-02 00:37] stephentoub commented on #33202
Your approach is fine: you're cloning the object to add to the second dictionary so that it's not the same object as the one stored in the first dictionary.

[2018-11-02 00:37] #33202 closed

[2018-11-02 00:45] ObsidianMinor commented on #31176
It can be related to this depending on if you assumed that reset actually reset the awaitables.

[2018-11-02 00:49] AfsanehR opened #33209 "Add additional KeepAlive checks in ManagedSNI for Windows"
Creating this issue to track a work item.

With pr #33024  setting `KeepAlive`, `TcpKeepAliveInterval `and `TcpKeepAlive `time values are possible in Unix for now. We should update the `SetKeepAliveValues()` method in `SNITcpHandle.Windows.cs` file to set values based on platform.

[2018-11-02 01:05] stephentoub commented on #33199
What is the expected behavior here?  Throw? Ignore the whitespace?

[2018-11-02 01:12] stephentoub commented on #33169
I'd be skeptical about adding this to `List<T>`: it's effectively exposing internal implementation detail, and I'm not actually convinced it's what's really wanted/needed.  If you're interested in avoiding allocations, then there's a good chance you also want to avoid the allocation for the `List<T>` itself.  I'm also not yet convinced by the arguments about `List<T>` being ubiquitous; in all of t

[2018-11-02 03:01] Clockwork-Muse commented on #33169
...uh, if _you're_ doing `ToList()`, why not `ToArray()` instead?  If somebody else's code is handing you a `List`, that's going to be in violation of those same guidelines you posted earlier (as opposed to `IList`), and even then, as @stephentoub says, ownership can be a problem (we're not Rust, here).

And while you _could_, potentially, splat a `List` into an `ArrayBuilder`, the "real" use case

[2018-11-02 03:58] JeffCyr commented on #33084
I think I'm on to something.

The idea is to create a stack-like data structure by relaxing the strict LIFO orderding. Buffers are allocated by segments (length:256 to get 1MB segments for 4096KB buffers). The segment implementation is based on a stripped down version of the ConcurrentQueue segment.

Push and Pop are decoupled in their own segments. When the write segment is full, it is moved to t

[2018-11-02 04:31] danmosemsft commented on #33188
Thanks for the information. It's a little surprising that Desktop behaves differently, since the code was ported mostly verbatim.
Just to set expectations it may be a while before we can look at this so if you wish to look at a fix that would be welcomed.

[2018-11-02 05:13] jkotas commented on #33084
Memory allocators benchmarks have to actually read/write the memory like the real workload to get accurate picture. The caches and processor affinity matters more than anything else.

This was a mistake made in the first version of ArrayPool. The microbenchmarks were producing awesome results because they did not actually touched the memory like real workloads. The actual performance in real workl

[2018-11-02 06:54] qbit86 commented on #33169
@Clockwork-Muse

`.ToArray()` in general makes one more array allocation and copy than `.ToList()` (but one less allocation for **List&lt;T&gt;** itself) — at least last time I've checked this. They are both aggregating items consuming some enumerable, but when it ends, `.ToList()` remains with that last buffer probably with some _extra_ capacity, while  `.ToArray()` has to return the array with _

[2018-11-02 07:12] qbit86 commented on #33169
@Clockwork-Muse

This is exactly what I've done in [Rist](https://www.nuget.org/packages/Misnomer.Rist) package.

[2018-11-02 07:41] qbit86 commented on #33169
@stephentoub

But it is [ArrayBuilder&lt;T&gt;](https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Collections/Generic/ArrayBuilder.cs) who exposes details in unsafe way via **Buffer** property. While **List&lt;T&gt;.MoveToArray()** perfectly preserves encapsulation of its instance (abandoned array is independent from **List&lt;T&gt;** instance anymore).

I agree, some form of new

[2018-11-02 07:49] schalkje commented on #8807
+1
is a depend for Azure Data Studio MFA logins to Azure DB

[2018-11-02 08:31] MaxDZ8 commented on #30689
I might have lost track of how this is progressing but it seems to me thresholds are getting most of the discussion.

What was the problem with

?

In this situation, we are looking for a way to go beyond FULL. To this degree, I would say `AdvanceTo(SequencePosition consumed, SequencePosition examined, long bytesNeeded)` provides a better way to finely adjust the over-full-capability. I definitely

[2018-11-02 09:51] #32280 closed

[2018-11-02 10:03] MaxDZ8 opened #33213 "System.IO.Pipelines: PipeReader.AdvanceTo is required to end a read operation, leading to InvalidOperationException"
This is possibly an intended design choice; documentation about pipelines a bit... essential to say the least; maybe I've missed a tidbit. What I have consulted:

1. [Original blog post](https://blogs.msdn.microsoft.com/dotnet/2018/07/09/system-io-pipelines-high-performance-io-in-net/)
2. docs.microsoft, [PipeReader.AdvanceTo](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipelines.piperea

[2018-11-02 10:11] NickCraver commented on #33213
Which version of the `System.IO.Pipelines` library are you using?

[2018-11-02 10:11] ilmax opened #33214 "[Discussion] TypeLoader & runtime reflection"
**Question/Idea**
I'm following TypeLoader implementation and I would like to know if there will be a way to quickly get a runtime reflection counterpart (e.g. get a RuntimePropertyInfo from a RoProperty) form the most used (IMHO) reflection types e.g. PropertyInfo, FieldInfo, MethodInfo, TypeInfo.

I poked around a bit and looks like for some types is kind of easy to get the runtime counterpart u

[2018-11-02 10:13] mgravell commented on #33213
My understanding is that yes, you are always meant to provide exactly one `AdvanceTo` after every `ReadAsync`, even if the `AdvanceTo` says "advance nowhere, I didn't consume anything". Yes, it is rare that the buffer is too small to contain your contents, but it will happen eventually due to fragmentation etc (hence it appears non-deterministic).

Re exception conditions: I wouldn't worry about `

[2018-11-02 10:21] mgravell commented on #33213
If I were to restate the question, then; would it be correct to say that you're proposing that:

?

[2018-11-02 10:34] MaxDZ8 commented on #33213
According to Nuget window from VS2018 latest stable version is installed: 4.5.2.
As a side note, my "Updates" tab in the Nuget explorer window is empty.

[2018-11-02 10:45] mshobohm commented on #20812
I Think Microsoft should add a seperate new class for all performance values, which the user needs. Most wanted for me is the "commit" value. These values should be clearly defined and kept stable, even if new feutures are added. A good example for performance analysis is the vmmap.exe frome the sysinternals suite. You should be able to get exact performance analysis value from inside a .NET Core

[2018-11-02 10:50] MaxDZ8 commented on #33213
Calls coming in pairs are not new. If this is the case, please update documentation to properly reflect this. For example, glBegin/glEnd were so tightly coupled they even get documented as a single thing.

I see this being orthogonal to the problem.

Quoting myself:

I disagree. If there is a requirement to match `ReadAsync`/`AdvanceTo` (which I find against every other API I can recall in 5 minut

[2018-11-02 11:32] MaxDZ8 commented on #33213
No, I was just asking if this behaviour is intended (because it does not look like anything desirable to me). After thinking at it, I suppose it could make sense but I'm not entirely sure (silently cancelling) is generally useful behaviour as it implies some sort of code inconsintency.

The fact is, when `await` returns, regardless of data being consumed or not, I would expect the reader to be rea

[2018-11-02 12:29] Wraith2 commented on #33213
I hit the same behaviour a while back and came to essentially the same conclusion, that it is correct based on the implementation but that it isn't what you would expect if you aren't looking at how it is implemented.

I found it easiest to model it by regarding the read operation as taking a snapshot and that any subsequent operation on the underlying pipeline as invalidating that snapshot.

As y

[2018-11-02 13:33] Sebazzz commented on #32354
@panesofglass The only options are not ugly, but really plain wrong. Either you manually extract and set the private fields of the randomizer or you need to wrap it with a class that holds the seed of the random, and on deserialization "replays" the calls on the `Random` instance.

In any case, the random algorithm is not part of the contract *I think* so it may change at any time.

[2018-11-02 14:48] karelz commented on #33199
Good question - @rmkerr can you suggest the right course of action? (based on other Uri behavior)

[2018-11-02 14:53] karelz commented on #33214
cc @jkotas

[2018-11-02 15:07] #32296 closed

[2018-11-02 15:32] jkotas commented on #33214
Yes, we know that mapping the reflection-only types back to the regular ones is likely to be common. Adding helper APIs to make the mapping easier sounds good to me.

cc @steveharter

[2018-11-02 15:40] MattGal opened #33219 "Race condition in usage of GenerateAssemblyInfo can cause test build breaks"
@dotnet-mc-bot commented on [Fri Nov 02 2018](https://github.com/dotnet/core-eng/issues/4538)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2176623
  - **Agent:** DDVSOWINAGE101
  - **Error log:** E:\A\_work\0\s\corefx\.dotnet\sdk\2.1.401\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.

[2018-11-02 15:41] MattGal commented on #33219
@ViktorHofer FYI, I've definitely seen you chase down and fix similar issues.

[2018-11-02 15:46] futuralogic commented on #25988
This seems to be an issue that may reflect more broadly with HttpClient. Oddly enough occurring in a WPF app targeting .NET Framework 4.6.2.  It didn't seem clear to me that the scenarios enumerated here were on .net framework but only on core.  However, I am observing this behavior on 4.6.2 as well.

My client code:
[code]

My error response was HTTP 401. Full exception:
[code]

Solution for me w

[2018-11-02 16:05] karelz commented on #30261
@jbhensley did you flow your changes back into CoreFX repo?

[2018-11-02 16:20] ViktorHofer commented on #33219
cc @weshaggard who brought the generate assembly info infrastructure over to corefx.

[2018-11-02 16:31] jbhensley commented on #30261
No. I looked at this briefly, but went on to something else. Still an open issue.

[2018-11-02 16:33] karelz commented on #25988
@futuralogic do you have problems with .NET Core? (2.1+)
Note that we do not track .NET Framework issues on GitHub (see our main page for guidance how to get help on .NET Framework)

[2018-11-02 16:35] #33069 closed

[2018-11-02 16:35] jzabroski commented on #29881
This Verex library is pretty sweet, I plan to give it a try.

[2018-11-02 17:43] zpodlovics commented on #32563
Could somebody please clarify why the ```public delegate void SpanAction<T, in TArg>(Span<T> span, TArg arg);``` designed in this way? The ```Span<T>``` argument itself is a readonly and immutable struct - at least from F# point of view - so we can change the content with the indexers but cannot change the span itself (so slicing is not possible). For some reason this is allowed in C# but not allo

[2018-11-02 17:46] karelz commented on #30261
Thanks for confirmation @jbhensley!

[2018-11-02 17:54] Wraith2 commented on #32348
This is easy to add but how do you test it? If you don't have the ROM overload it'll just fallback to the object overload which is the reason there's a problem in the first place and it'll succeed anyway. Should the test do a reflection check to find the specific overload wanted is present and assert if it isn't?

[2018-11-02 18:12] karelz commented on #32771
@dkhanaferov any luck on smaller repro we could verify locally?

[2018-11-02 18:14] karelz commented on #28448
I am curious if the repro above: https://github.com/liserdarts/NamedPipeServerStreamTest is still a problem on latest (now released) 2.1 bits.

[2018-11-02 18:15] karelz commented on #32976
@viveknaragude ping?

[2018-11-02 18:17] karelz commented on #32528
OK, closing it for now then as it is not actionable. If you have more information in future, ping us and we can reopen. Thanks!

[2018-11-02 18:17] #32528 closed

[2018-11-02 18:19] karelz commented on #31014
Closing as it does not seem to be a problem in CoreFX.

[2018-11-02 18:19] #31014 closed

[2018-11-02 18:21] karelz commented on #30989
Not actionable at the moment, closing. If there is more information available later, we can reopen the issue.

[2018-11-02 18:21] #30989 closed

[2018-11-02 18:23] karelz commented on #32238
Not actionable, closing. If you have more information available in future, we can reopen. Thanks!

[2018-11-02 18:23] #32238 closed

[2018-11-02 18:32] karelz commented on #31036
We need to figure out how to configure proxy globally, not just per HttpClient instance.
It has come up couple of times as feedback.

[2018-11-02 18:38] karelz commented on #31423
@davidsh did the PerfView trace help track down the root cause, or will we need more?

[2018-11-02 18:43] karelz commented on #33122
@Avemey how badly is it impacting your scenarios?
While there is a difference from .NET Framework, it is likely not too bad that we return all cookies merged. Or is it?

[2018-11-02 18:43] danmosemsft commented on #32797
Failing PR again
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/22c651c43edc1bda66ff93535eef073530f6b941/workItem/System.Net.NameResolution.Pal.Tests

@rmkerr can you please `move it to outerloop ASAP.` 😺

[2018-11-02 18:46] karelz commented on #31969
Looks like we dropped the ball on this one for 2.2.
Is it fixed in 3.0? Is everyone ok-ish if it does not get addressed earlier?

[2018-11-02 18:54] karelz commented on #30693
@stephentoub @bartonjs can you please help me understand what needs to happen here? Do we need a change in CoreFX?
If yes, is it important scenario (i.e. 3.0)?

[2018-11-02 19:05] stephentoub commented on #32563
What clarification are you looking for?  It's equivalent to if `Action<Span<T>, TArg>` were used, but `Span<T>` can't be used as a generic type argument, so a custom delegate was added to match.

Yes.  The whole point of this usage is so that a method like `string.Create` can allocate the string and allow the delegate to fill it in.  The string has already been allocated; there's nothing to slice.

[2018-11-02 19:08] stephentoub commented on #32348
The only benefit of the overload is performance, so you'd validate that benefit with a performance test.  Functionally we'd make sure we have StringBuilder.Append coverage that passes in both object and ReadOnlyMemory, and make sure they both behave correctly.

[2018-11-02 19:30] danmosemsft commented on #5444
@weshaggard 	is this still active after #31831 and the Arcade work?

[2018-11-02 19:38] swaroop-sridhar commented on #32015
There is one more API pending to be discussed: `RegisterDllImportResolver`

[2018-11-02 19:46] stephentoub commented on #31969
Yes

[2018-11-02 19:59] weshaggard commented on #33219
Looks like we have 2 assemblies with the same name which is causing this issue (https://github.com/dotnet/corefx/search?q=ForwardedTypesAssembly&unscoped_q=ForwardedTypesAssembly) We need to rename one or both of those projects to fix this race.

[2018-11-02 20:04] mconnew commented on #30331
I know I'm coming late to this game, but I have some questions, some specifically about how this would relate to WCF. The W3C spec only talks about how this pertains to HTTP, but in the discussion there's talk about grpc and amqp. WCF also has it's own protocols so anything that is done has to be transport agnostic.
The W3C spec also quickly breaks down and fails hard when WCF is used. The tracest

[2018-11-02 20:17] weshaggard commented on #5444
This can be closed now as we use the user wide cache by default but have an option "-ci" to scope it to the repo for our automated builds.

[2018-11-02 20:17] #5444 closed

[2018-11-02 20:18] benaadams commented on #31969
ASP.NET Core has improved on what it stores in the EC for 2.2 so that should greatly help before then

[2018-11-02 20:20] rmkerr commented on #32797
Yep, I'll do that now.

[2018-11-02 20:37] Wraith2 commented on #32348
StirngBuilder is in corelib so no ref project. How and where is the exposed surface checked?
I can add a perf test in System.Runtime.Performance.Tests but that will just start accumulating statistics allowing us to see future degradations. It won't validate that it compares favourably to object

[2018-11-02 20:57] karelz commented on #31969
OK, closing then.
If we see the imapct on 2.1 or 2.2 is still significant, we can create a new issue with clear evidence and bring it for servicing of 2.1/2.2.

[2018-11-02 20:57] #31969 closed

[2018-11-02 20:58] stephentoub commented on #32348
In corefx.

Add both and compare.

[2018-11-02 20:58] tannergooding commented on #32015
Right, but that shouldn't block the already approved subset, correct?

[2018-11-02 21:01] Tragetaschen commented on #31176
According to the debugger, the reader awaitable has completed set to true after `Reset` in my case which is the main change in the PR.
Re-creating the Pipe instead of `Reset`ting solves my use case for the time being.

[2018-11-02 21:04] juliobbv commented on #32376
Hi @stephentoub, I forced the HttpRequestMessage version of my 2.1 .NET Core build to 1.1, and I can confirm that it fixed the error. And vice versa, setting the HTTP version to 2.0 on my 2.0 build caused the 'Stream error in the HTTP/2 framing layer' to show up.

[2018-11-02 21:12] Pinox opened #33222 ".Net Core vnext"
Reading blogs about .net core 3.0 becoming leaner and meaner without json depencies etc, I always wonder about the future possibilities of the framework.  Currently Xamarin is running on mono and there is ongoing work where c# can also potentially work on WASM in the browser.

So on the one side you have Mono with all this cross platform capability and on the other side you have .Net Core that als

[2018-11-02 21:12] MohammadHamdyGhanem commented on #29881
@jzabroski
Thanks. Hope you find it useful.

[2018-11-02 21:33] ViktorHofer commented on #32348
You can use https://apisof.net/ to check in which assembly an API is exposed. StringBuilder is exposed in System.Runtime/ref, implemented in System.Private.CoreLib, tests for it are in System.Runtime.Tests and performance tests in System.Runtime.Performance.Tests.

[2018-11-02 21:45] drieseng commented on #33169
I'd prefer a public **ArrayBuilder\<T>** over **List\<T>.MoveToArray()**. The reason indeed being that the latter is effectively only something you'd call on a **List\<T>** instance that you constructed yourself (in order to end up with an array of **T**).  Even though it's not a good fit for a builder pattern, it would be great if **ArrayBuilder\<T>** could also expose a `bool Contains(T value)`

[2018-11-02 21:49] karelz commented on #25988
@futuralogic do you mean that it reproduces only on .NET Framework, or that reproduces on both .NET Framework and .NET Core? (which versions?)

[2018-11-02 21:57] karelz commented on #32376
@juliobbv are you able to work around the problem by forcing use of Http11 protocol?

Understood - we took it as calculated risk. Let's see first if there are no workarounds (fixing SocketsHttpHandler or using Http11).

[2018-11-02 22:37] ilmax commented on #33214
@jkotas I'm not able to find a way to get a RuntimePropertyInfo given a MetadataToken and a Module, not sure why module exposes few Resolve* methods, but a ResolveProperty is missing and ResolveMember for property throws. Is there any specific reason or can we add

[code]
in class Module and implement them in RuntimeModule?

So far the conversion from reflection-only property to runtime PropertyIn

[2018-11-02 23:18] steveharter opened #33228 "MetadataLoadContext to support dynamic assemblies"
As part of the review for feature #2800 and PR #33201, there was concern about the lack of support for assemblies not backed by a physical file.

From the comments @jkotas:

I am wondering whether there should be a LoadFrom method that takes MetadataReaderProvider to address both these problems and/or whether we should expose a resolver that can resolve the runtime loaded assemblies for you.

Impl

[2018-11-02 23:35] buddyspike commented on #25050
@davidsh is above explanation valid for .Net framework 4.6 as well?

[2018-11-02 23:36] TrieBr commented on #23518
I'm having the same problem when trying to connect to Apple APNS servers.

Setting the environment variable `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER` to 0 worked for me.

Would love to see this fixed with the default sockets implementation.

[2018-11-03 00:42] jkotas commented on #33214
The mapping via token works only if the runtime assembly and MetadataLoadContext assembly are exactly the same. If they are not exactly the same (e.g. the MetadataLoadContext operates on reference assemblies), the mapping has to be done by name.

I think these APIs should transparently handle both cases. The mapping via token for properties then becomes just missing minor performance optimization

[2018-11-03 02:07] #28013 closed

[2018-11-03 02:42] stephentoub commented on #32866
Moving back to api-ready-to-review to discuss again...

[2018-11-03 04:29] gulbanana commented on #18276
This has definitely become more urgent with the news that ASP.NET Core will no longer run on netfx - the plan of porting back to netfx which we had is no longer feasible!

[2018-11-03 04:38] liserdarts commented on #28448
I just updated my Debian9/Amd64 machine to version 2.1.5 and ran the sample project again. And I got the same results that I did with v2.1-preview1.

I've updated the output file in that repository to include this information.
https://github.com/liserdarts/NamedPipeServerStreamTest/blob/master/Output.md#v21-preview1debian9amd64

[2018-11-03 05:57] abhi18av commented on #29365
Would this be added to `.NET core 3.0` ?

[2018-11-03 07:03] zpodlovics commented on #32563
Thank you for the clarification. So the original intention was to have a preallocated memory + writable memory window (Span) and allow the delegate to fill it. Thats perfectly fine. The only missing piece to me is how / why C# allowed to mutate the writable memory window itself (the line: ```span = span.Slice(segment.Length);``` when based on the ```public delegate void SpanAction<T, in TArg>(Span

[2018-11-03 07:14] benaadams commented on #32563
The span is passed in by value, so its just mutating the function local argument; `byref` would have a totally different meaning.

Without mutating the argument the example method would look like the following
[code]

[2018-11-03 07:32] benaadams commented on #32563
Yeah, the Span is initially pointing at the window over the allocated string (of size `buffer.Length`).

The `foreach` loop is writing out each `segment` that makes up that length; then slicing the input `span` to advance its starting position (and reduce its remaining length) for the next `segment` to write into.

It doesn't want to be passed `byref` as that would suggest it was changing where th

[2018-11-03 07:41] alexiordan opened #33231 "Possible WebSocket problem - .NET Native different behavior"
I write this here because I have found: #17317

I run **Windows 10 IoT**  (17763.1.armfre.rs5_release.180914-1434)  on  a **DragonBoard 410C**.

My appllication is an **UWP application** (refenrces Microsoft.NetCore.UniversalWindowsPlatform ver. 6.1.7)  that runs as **BackgroundTask** (enabled to run on startup). The application uses SignalR to connect to a server. It tries to connect/reconnect wi

[2018-11-03 09:45] qbit86 commented on #33169
@svick

There are already existing such APIs in BCL, for example [MemoryStream.GetBuffer()](https://docs.microsoft.com/en-us/dotnet/api/system.io.memorystream.getbuffer?view=netstandard-2.0#remarks).

Comparing to this API, **List&lt;T&gt;.ReleaseBuffer()** is more safe. It does not provide access to internals of instance, because these internals immediately stop belonging to instance after the ca

[2018-11-03 10:53] MarcoRossignoli commented on #31570
I'm working on this...I got an issue on testing...I followed usual step to build my local CoreClr and added new api on [ApiCompat file](https://github.com/dotnet/corefx/compare/master...MarcoRossignoli:exposetrimendingdirectoryseparator) for netcoreapp to build. When I try to run tests I get:
[code]
What I'm missing?

/cc @JeremyKuhne @jkotas

[2018-11-03 12:09] stephentoub commented on #33169
But it makes strong assumptions about those internals. What if, for example, in the future we "optimized" List by having it store an array of arrays of elements rather than an array of elements, in order to avoid copying every time it grows. Then this MoveToArray method doesn't make sense, highlighting that it is depending on implementation details.

[2018-11-03 12:19] hughbe commented on #31281
Has this been fixed now support had been added to coverlet? Or do we need to update the libraries

[2018-11-03 12:30] qbit86 commented on #33169
@stephentoub

Isn't it explicitly stated that **List&lt;T&gt;** utilises growing array under the hood?

“It implements the **List&lt;T&gt;** generic interface [by using an array](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1?view=netstandard-2.0#remarks) whose size is dynamically increased as required.”

“Implements a variable-size List that [uses an array](https://

[2018-11-03 12:37] stephentoub commented on #33169
Both of those statements would remain true.

I'm not saying we would make such a change; it would hurt other aspects of performance. I'm saying:
a) This bolts on something

[2018-11-03 12:42] stephentoub commented on #33169
In remarks in docs. Where in the API itself?

[2018-11-03 13:05] davidsh commented on #25050
@joperezr Can you comment on this?

[2018-11-03 15:14] MarcoRossignoli commented on #31570
@jkotas I ran some tests but no luck...the issue raise only when I'm building with my local repo...I did this step:
CoreClr side:
[code]
CoreFx side:
[code]
Thank's in advance for your patience!

[2018-11-03 18:05] jkotas commented on #31570
@MarcoRossignoli It works fine for me (I just had to sync coreclr back to 4410262505 - there is a breaking change on its way from coreclr to corefx). No idea why it fails for you.

[2018-11-03 18:05] jkotas commented on #31570
I agree with @JeremyKuhne earlier comment that the `Memory<char>` overloads should be tackled separately. We would need a whole bunch of them to make the story hang together.

None of the existing APIs on Path support `Memory<char>`. One-off corner case Path API that takes `Memory<char>` does not look useful.

[2018-11-03 18:21] hughbe opened #33233 "typeof(RuntimeArgumentHandle) works with .NET Framework, throws with .NET Core"
Code:

[code]

Expected:

passes, matching .NET Framework

Actual:
[code]

[2018-11-03 18:29] svick commented on #33233
[`RuntimeArgumentHandle` is a `ref struct` on .Net Core](https://github.com/dotnet/coreclr/blob/a81d910/src/System.Private.CoreLib/src/System/RuntimeArgumentHandle.cs) since https://github.com/dotnet/coreclr/pull/15846, so I think this is the expected behavior. (Unless you think `RuntimeArgumentHandle` was marked as `ref struct` incorrectly?)

[2018-11-03 19:35] karelz commented on #29365
cc @steveharter @joshfree

[2018-11-03 20:12] MarcoRossignoli commented on #31570
Ok, I'll remove ROM overload and I'll try again local Clr build with your version and I'll let you know...weird I never had this problem. Thank's!

[2018-11-03 20:42] jkotas commented on #33233
Yes, this is expected. The error message is not very good though. I have submitted PR to fix the error message.

[2018-11-03 23:05] electricessence commented on #32742
@stephentoub
Just wrapped this up:
https://github.com/electricessence/Open.ChannelExtensions
https://www.nuget.org/packages/Open.ChannelExtensions

For the work I've been doing with throttling and pipelining, something like this seems quite valid:
[code]

I did my best to follow patterns you have inside Channels for early exit `ValueTask`s etc.
Would welcome any feedback or comments.

[2018-11-03 23:14] #33233 closed

[2018-11-04 02:52] StingyJack commented on #33222
I'd like to pass on that. I don't want the framework that is less tested, less feature complete, and that requires that much effort to switch to to rule anything.

[2018-11-04 02:55] danmosemsft commented on #31281
@ViktorHofer owns code coverage now and may know. It is not obvious that https://github.com/tonerdo/coverlet/pull/209 would fix it.

[2018-11-04 03:04] tonerdo commented on #31281
@ViktorHofer @danmosemsft out of curiosity, what extra stuff is needed to finalize coverage support from Coverlet?

[2018-11-04 03:48] JeffCyr commented on #33084
@jkotas Good point, writing to the buffer does affect negatively the perf of the stackish queue compared to the stacks of TlsOverPerCoreArrayPool. It must be cache locality, but since rented buffer are just overwritten without reading it first, I didn't think cache locality would matter. Do you have an explanation why?

[2018-11-04 04:06] davidfowl commented on #33213
We had a long argument about renaming ReadAsync to PeekAsync, anyways this is by design. The design forces you to say what was consumed everytime not just sometimes. This forces you into a pattern that avoids memory leaks. AdvanceTo returns buffers to the buffer pool and that's not something you want to forget.

It should fail every time if AdvanceTo isn't called,

[2018-11-04 05:34] pjanotti commented on #31281
Hi everyone, what is missing is to deploy latest coverlet.console as a global tool instead of a msbuild task (see https://github.com/dotnet/buildtools/pull/2184). Meanwhile if coverlet.msbuild is updated to latest you should be able to get coverage against CoreLib using coverlet (I did test it before leaving).

@danmosemsft here is the explanation on why the fix works: https://github.com/tonerdo/c

[2018-11-04 05:35] pjanotti commented on #31281
So closing this one...

[2018-11-04 05:35] #31281 closed

[2018-11-04 06:56] viveknaragude commented on #32976
Hi @karelz

**Its fix**

Actually the case is if your .netcore application hosting on IIS server bind with ssl certificate and on that same machine docker is install and other .detcore application hosting  using kestrel server in docker container they access iis hosted application url inside second app like (https:///...) that time error is occur its only happen on Linux container not on windows c

[2018-11-04 07:10] jkotas commented on #33084
I do not know. The implementation you have shared above is pretty complex - it is hard to predict all  interactions of different parts by just looking at the code. I think you would need to run this under profiler that can do cache profiling, like Intel VTune.

[2018-11-04 07:18] Pinox commented on #33222
@StingyJack Agree, probably a bit strong wording on my side. I edited the text.  I simply want to know the hurdles .net core face to make this work.  I see it as an alternative to all existing solutions in the market.

[2018-11-04 09:12] GSPP commented on #33182
In my experience the best date format for non-human processing is `yyyy-MM-dd`, fyi.

[2018-11-04 09:18] yulia-d commented on #33150
We are very interested in this as we build .NET standard library packages used as plugins loaded dynamically by both .NET Framework and .NET Core hosts, and these 2 WCP packages don't provide us a single entry-point assembly that can be used in both! (As opposed to, say, Microsoft.Win32.Registry.)

[2018-11-04 11:14] svick commented on #33222
I don't believe it is. Porting to a new platform is always lots of work. The teams are working on reducing differences between Mono and .Net Core by sharing code, but I don't think there are any plans to go much further beyond that.

What exactly would be the advantage of migrating Xamarin to .Net Core, that would justify all of that work? Especially since you can already have a single codebase fo

[2018-11-04 11:43] svick commented on #33222
@Pinox

Then I'm confused. What would be the advantage of having two separate ways to run C# code on iOS and Android?

It would be a lot of work. MS is not going to do that work, unless there is a clear benefit. The community might and I believe .Net Core already works in a limited fashion on Android (see [qmfrederik/coredroid](https://github.com/qmfrederik/coredroid) and https://github.com/dotnet

[2018-11-04 12:03] Wraith2 commented on #33213
Requiring a single advance isn't too surprising. Requiring exactly one is a little surprising.
If there are two structures in the input pipe I can't read the first, advance to the second (to free up the buffer) and then continue to read the second because when I reach the end of the second I'll get an error. I'm forced to do a single structure per advance which seems counter intuitive to the perfo

[2018-11-04 14:30] svick commented on #33222
I still don't understand why Xamarin is not an acceptable solution for you.

Even if it doesn't support the kind of mixing of native code with .Net that you want today (or maybe it does?), I think it would be much more easier to add that one capability to Xamarin, than adding full support for iOS and Android to .Net Core.

And if Xamarin is not performant enough for you, then I think the solution

[2018-11-04 14:48] Pinox commented on #33222
@svick  It's not about replacing Xamarin.   It's rather why can't it be done ?

For me, this completes the picture.

![default netcore](https://user-images.githubusercontent.com/5297255/47965553-6407b680-e051-11e8-9fd4-c25f8462edfb.PNG)

[2018-11-04 14:58] theAshenfire opened #33234 "Running .Net Core with permissions more restrictive than current user"
# Description

As part of our product we need to run untrusted code created by users. As such we use a runner process which loads the user assembly at runtime and executes the code.
Since the code is untrusted we would like to limit its access to resources such as network/File System etc. However, .Net Core does not support AppDomain/ACL in-program.

I have found in [this article](https://blogs.ms

[2018-11-04 15:11] MarcoRossignoli commented on #31570
@jkotas maybe I found the issue...but I don't understand why, if I launch test from
[code]
It fails(seems download some nuget packages related to .net core 3.0)
but if I launch from `tests` it works
[code]
However I get some fail for tests i.e. ` System.IO.Tests.PathTests_Windows.GetFullPath_CommonUnRooted_Windows(path: "C:tmp\\foo\\..", basePath: "C:\\git\\corefx", expected: "C:\\git\\corefx\\tmp

[2018-11-04 15:12] svick commented on #33222
That's never the question. The question that has to be answered is: Why should it be done?

There are lots of things that can be done and limited resources to do them. Because of that, any reasonable team will choose to do things that have good reasons in favor of doing them, not those that don't have any reasons against doing them.

[2018-11-04 15:28] joshudson commented on #33018
On Linux, forgetting to dispose your crypto keys is a security vulnerability.

[2018-11-04 15:30] davidfowl commented on #33213
Well if you cared about performance you wouldn't call AdvanceTo more than once when parsing 2 structures if they were in the buffered returned. You would read the buffer, and read the 2 structures from it, then call AdvanceTo.

Also, you're not freeing up the buffer if the buffer isn't fully consumed (we don't partially clear the buffer out based on the SequencePosition).

We need to write actual

[2018-11-04 15:36] #31176 closed

[2018-11-04 15:39] omariom commented on #33213
@davidfowl

You should've called them `BeginRead` and `EndRead` 🤪

[2018-11-04 15:46] davidfowl commented on #33213
Super early versions were called that, but it sounded too much like the old APM model 😄

[2018-11-04 16:15] saurabh500 commented on #30430
cc @Wraith2 This is the issue I was talking about.

[2018-11-04 16:18] danmosemsft commented on #31281
Thank you @pjanotti! Glad to see you again!

[2018-11-04 17:00] benaadams commented on #33234
Not sure what OS you need to run on; but you can use an [AppContainer](https://docs.microsoft.com/en-us/windows/desktop/secauthz/appcontainer-for-legacy-applications-) on Windows which is a per-user, per-app profile which you can lock down and then launch the process with [`CreateProcessA`](https://docs.microsoft.com/en-us/windows/desktop/api/processthreadsapi/nf-processthreadsapi-createprocessa)

[2018-11-04 17:05] jnm2 commented on #33018
You'd still not return a disposed object because disposed objects should not be interacted with.

[2018-11-04 19:15] joshudson commented on #33018
@jnm2 : All right, I'll be explicit. "Consider whether ExportParameters should work on Linux even after the object has been disposed". If you make this change you will have introduced a security vulnerability because the object must actually be disposed.

[2018-11-04 19:33] bartonjs commented on #33018
The bug on Windows is that Dispose put the object into a state that looked like no key had been generated again, so ExportParameters actually caused a new key to be generated, then exported (keys aren't generated by the ctor, so that Import isn't wasteful).  It's not that Dispose did nothing, or kept the key/keyref alive too long.

That said, the fix will be that both implementations should be thr

[2018-11-04 19:49] AraHaan opened #33236 "Fix xml documentation issues."
On my hacktoberfest PR to try to fix a up for grabs issue at
https://github.com/dotnet/corefx/pull/32934 the build kept failing because of the XML documentation being malformed, or just flat out wrong. In that case I have opened this issue as a prerequisite issue to be fixed before that pull request can be merged and the issue it fixes closed as well. And now that I think of it temporarily removin

[2018-11-04 20:28] qbit86 commented on #33169
@stephentoub

I supposed that stating in official documentation is enough 🤷 Like in case when documentation [says](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.sortedlist-2) that collection is sorted, but there cannot be any evidence in API.

The use case is to avoid premature pessimisation of using `list.ToArray()` where `list.ReleaseBuffer()` is enough. It's sufficient

[2018-11-04 20:47] stephentoub commented on #33169
Convention. And the 90% use case as far as I'm aware doesn't involve passing it around, just building it up in a single method. For others, you pass it around by ref and the user is responsible for using it correctly. Yes, there's the potential for bugs. That's often the case when trying to optimize things. It's the trade-off one makes for minimizing allocations as much as possible.