[2018-03-22 09:39] janvorli commented on #27662
The portable builds happen on the oldest system we support in portable - CentOS 7. It has kernel 3.10, as @danmosemsft already mentioned.
But the reason for all the time stat HAVE_xxx being false can be that there are some failure building the test file - missing header, define or library instead of the feature itself being not present.
I've tried it on my local CentOS 7 and my one is detecting HA

[2018-03-22 10:02] janvorli commented on #27662
Btw, on my CentOS 7, the member st_atim is defined in /usr/include/bits/stat.h which is included by the /usr/include/sys/stat.h.

[2018-03-22 10:09] VasiliyNovikov commented on #28343
Maybe there is some API for that... E.g. `stat -f /proc/stat` shows it:
[code]

[2018-03-22 10:11] nockawa commented on #28274
@ahsonkhan I use Visual Studio 2017 15.7 Preview 1, and I update the .csproj to set the projects (both lib and test) to `<TargetFramework>netcoreapp2.1</TargetFramework>`

I've created a [repo here](https://github.com/nockawa/corefxUnitTestBug) that demonstrate the bug.

A `dotnet test` gives the following results
[code]

I've tried with many different combination of dependencies but I end up with

[2018-03-22 10:39] AlexRadch commented on #28304
System.Runtime.Serialization.Json.ReflectionOnly.Tests have the same tests and fails.

[2018-03-22 11:22] ahsonkhan commented on #28274
Can you please add the full output from `dotnet --info` as well? I suspect there is some version mismatch happening between preview1/preview2 that is causing this issue. I am going to try and repro with the same setup you have, so I need to know the shared framework version that you are referencing (dotnet --info will show that).

@ektrah, mixing preview2 runtime with preview1 packages might lead

[2018-03-22 11:42] nockawa commented on #28274
@ahsonkhan
here you go:

[code]

[2018-03-22 11:44] ektrah commented on #28274
@ahsonkhan No reason. I just remembered that I got the exactly same error message as @nockawa, who's apparently trying to mix a preview3 package with a preview2 runtime.

[2018-03-22 11:45] nockawa commented on #28274
@ektrah aligning versions leads to the same result.

[2018-03-22 12:04] tmds commented on #25809
https://github.com/dotnet/corefx/pull/28362 fixes the issue by making enter return '\r' on Unix.

[2018-03-22 12:10] tmds commented on #28343
You mean, stat shows the Type 'proc'? This behavior isn't limited to the proc file system, any file system can do this.

[2018-03-22 12:19] 4creators opened #28363 "Enable AVX2, SSE42 HW intrinsics: remove unimplemented API surface and mark ISAs as fully implemented"
Decision to disable not fully implemented Intel HW intrinsics was made due to the fact that corefx already exposed full ISA API while RyuJIT only partially supported them what would interfere with proper use of `ISA.IsSupported` check see issue:  https://github.com/dotnet/coreclr/issues/14930 and PR resolving it  https://github.com/dotnet/coreclr/pull/15514.

AVX2 and SSE42 intrinsics are partiall

[2018-03-22 12:22] VasiliyNovikov commented on #28343
Yes

What else can behave this way? [Here](https://linux.die.net/man/2/stat) is only proc mentioned:

And I also tried to get size of files under /sys - it returns non-0 size

[2018-03-22 12:36] tmds commented on #28343
Any file system can. I have seen application that export a file system via fuse (https://github.com/libfuse/libfuse) which behave the same way.

[2018-03-22 12:45] VasiliyNovikov commented on #28343
I see. Thanks
What if we have some hardcoded list of well-know file systems - for all of them we know the behavior of file size. If file system is not in that list then assume file size is not reliable?

[2018-03-22 12:47] dmitriyse commented on #28025
@tarekgh I still cannot edit the topic.
Please replace this text "TODO: put link here" with this link https://github.com/dotnet/corefxlab/issues/2168

[2018-03-22 12:49] VasiliyNovikov commented on #28343
Would it make sense to fix it not 100% of cases but 99 - only for known file systems?

[2018-03-22 12:50] stephentoub commented on #28354
I don't believe this is specific to these tests.  We've seen the same "Access to path ..." errors in other unrelated tests recently, e.g.
https://github.com/dotnet/corefx/issues/28338
https://github.com/dotnet/corefx/issues/28240
https://github.com/dotnet/corefx/issues/28191

@dotnet/dnceng, are you aware of issues here?

[2018-03-22 13:09] svick commented on #28343
@tmds

And there isn't a good way afaik to distinguish between these files.

Would it work if you tried to read a single byte (or read into a small stack-allocated buffer)? If that succeeds, you know the file size is lying and you have to deal with it in a special way.

This would mean some seemingly unnecessary allocations and copying for `proc` and similar cases, but I think that's still better

[2018-03-22 13:11] benaadams commented on #24093
Really there are two components of this and both would be required (CodeUnit in https://github.com/dotnet/corefxlab/issues/1799 by @GrabYourPitchforks)

[code]
`CodeUnit`/`ubyte` are important for representing variable width encoding and for use in `Span<ubyte>` to ensure text apis are available on text types but not raw bytes.

`CodePoint`/`uchar` is important for sensible processing; e.g. `.Inde

[2018-03-22 13:28] VasiliyNovikov commented on #28343
Another thing we could try is to use the fact that seeking from the end fails for such files (but this needs to be tested with other file systems that return 0 size to make sure they behave the same way)

[2018-03-22 13:32] tmds commented on #28343
@svick it depends on the file system, but I think it should work for special file systems from the kernel. A small stack-allocated buffer would be good. Then we may have the full data already and we only need to copy it into a byte array.

[2018-03-22 13:33] VasiliyNovikov commented on #28343
And we can combine 2 approaches - for well-known file systems use hardcoded behavior, for unknown - test the file itself

[2018-03-22 13:52] brendandburns opened #28365 "SSL TLS protocol mis-match not handled cleanly on Linux"
Hello,

I had a situation where I specified `SslProtocls.Tls` and tried to talk to a server with `Tls` (aka `Tlsv1`) but the server was configured to not speak that protocol.

Understandably, the handshake failed, but the exception stack trace I got was pretty opaque and it took me a while to debug.  This is on Linux. Not sure if there is more information that we can use to improve the error messa

[2018-03-22 13:58] stephentoub commented on #28198
If there's a possibility that writes will happen concurrently with other writes or with reads, you need to lock on all accesses, both reads and writes.

[2018-03-22 13:59] eerhardt commented on #28363
Agreed.  We should remove any APIs that are not implemented in 2.1, and then return `true` for all `ISA.IsSupported` properties when running on capable hardware.

[2018-03-22 14:21] pjanotti commented on #28149
Fixed by #28165

[2018-03-22 14:21] #28149 closed

[2018-03-22 14:29] VasiliyNovikov commented on #28343
Maybe I'm going to crazy with checking file system type. Probably reading just small buffer is even cheaper than determining file system type and it is definitely much simpler in terms of implementation
Q. Can Windows & OSX have the same behavior for some special file systems/files?

[2018-03-22 14:32] tmds commented on #28343
Yes, a stackalloced read should be enough.
If you implement this, please verify it gives the same result for every file in proc (when using a tiny stackalloced buffer).

I don't know for sure, but I'd assume this is Linux specific behavior.

[2018-03-22 14:37] VasiliyNovikov commented on #28343
B.T.W. You mentioned FUSE and I found this: https://osxfuse.github.io/ . Could this mean that OSX can also have the same behavior for those file systems?

[2018-03-22 14:43] tmds commented on #28343
Probably it can. It's fine if the change applies to all Unixes.

[2018-03-22 14:44] VasiliyNovikov commented on #28343
Thanks!

[2018-03-22 15:19] #25632 closed

[2018-03-22 15:31] #28133 closed

[2018-03-22 15:49] Mike-EEE commented on #2394
Thought I would post here for the sake of awareness.  I was reading over the following documentation and it made me think of this thread:
https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/custom-workflow-activities-workflow-assemblies

Looks like Dynamics365 and PowerApps are doing a mind meld and are using Windows Workflow in some capacity for its workflow handling now.

[2018-03-22 15:56] weshaggard commented on #28355
This looks very similar to an issue @bartonjs recently fixed https://github.com/dotnet/buildtools/pull/1952 where we weren't getting symbols for partial facades. you might what to try it on a recent build.

[2018-03-22 15:57] 4creators commented on #28363
Working on it

[2018-03-22 16:05] tannergooding commented on #28363
@4creators, are you working on just the CoreFX side?

@fiigii, @CarolEidt: Now that https://github.com/dotnet/coreclr/pull/17030 is merged, we need one more CoreCLR change that marks all ISAs as "feature complete" (or at the very least all partially implemented ISAs).

[2018-03-22 16:08] 4creators commented on #28363
@tannergooding I am starting in coreclr and will change corefx once it will appear in dogfooding update.

[2018-03-22 16:09] 4creators commented on #28363
Will fix it as well.

[2018-03-22 16:09] karelz commented on #28365
I believe we are just throwing the error we get from libcurl and there is not much more we can do with that :(. I have seen similar problems when people use certificates with TLS-version-incompatible crypto algorithms. Not a great troubleshooting experience either.

cc @wfurt @stephentoub @geoffkizer if they have any ideas.

Closing as there is likely not any action on our side. We can reopen if w

[2018-03-22 16:12] tannergooding commented on #28363
I don't believe we need (or want) to remove the methods from System.Private.Corelib. (@eerhardt or @CarolEidt might be able to confirm)

[2018-03-22 16:12] safern commented on #28355
I actually tried it on a very recent build, I freshly cloned a new repo yesterday that had buildtools version = 2.1.0-preview3-02620-10 which was updated 2 days ago in:

https://github.com/dotnet/corefx/commit/d747c95923d7008bec2a734bf455097d0eb26aca#diff-147da41923871d566b1f00c259256eb5

[2018-03-22 16:13] karelz commented on #27629
I let @JeremyKuhne @pjanotti decide.

[2018-03-22 16:15] karelz commented on #11494
Please file a new bug, typically we do not monitor old issues. Tips: Provide a minimal repro anyone can run. Post the exception call stack.

[2018-03-22 16:17] 4creators commented on #28363
OK waiting for answer.

IMO argument in favor of removing this APIs is that it is possible by using Roslyn without SDK to reference System.Private.CorLIB directly and use any method which is exposed there.

[2018-03-22 16:19] stephentoub commented on #28365
@karelz, this isn't related to libcurl; as the call stack shows, it's coming our interactions with OpenSSL.

@brendandburns, what version are you using?  If not 2.1, can you try with 2.1?

In general we do try to propagate error codes/messages when we can:
https://github.com/dotnet/corefx/blob/525ba72827cbadce4e70e8d16e843b6cc6e66deb/src/Common/src/Interop/Unix/System.Security.Cryptography.Native/

[2018-03-22 16:20] bobuva commented on #28230
We are still investigating but it appears that the SSL handshake is not finishing with a completion.

[2018-03-22 16:21] andreycha commented on #20331
@vancem back to the incorrect data I see in PerfView. Here is a simple project (event source definition is taken from https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/documentation/EventCounterTutorial.md):

[code]

Here is how I start PerfView:

`PerfView collect /OnlyProviders=*Samples-EventCounterDemos-Minimal:EventCounterIntervalSec=1`

Here is my input:

First issue

[2018-03-22 16:21] tannergooding commented on #28363
In which case they will get a `NotSupportedException`, which is probably acceptable.

The reason to keep it is so that work can continue happening to implement the remaining intrinsics (as we can also just directly reference S.P.Corelib from the CoreCLR tests).

[2018-03-22 16:24] 4creators commented on #28363
My understanding is that development work will be done in `master` while `2.1` release will live in its own branch.

It's not that bad but neither not that good.

[2018-03-22 16:25] Clockwork-Muse commented on #28335
Because the culture of the running process on your travis CI machine has a culture set that includes that date format.  This is not guaranteed to be the same culture as whoever ends up using your code - so it might work fine elsewhere, or fail in a similar manner.  Under some circumstances you could use the `InvariantCulture`, but `SqlDateTime.ToString(CultureInfo)` doesn't exist (and having a lib

[2018-03-22 16:28] tarekgh commented on #28025
@dmitriyse I have updated it and fixed some typos too. if you want to edit it more, would be better we close this one and you can create a new issue that you can edit and manipulate. let me know if you want to do that.

[2018-03-22 16:30] karelz commented on #27907
Can you point me to some evidence showing the impact? That would help us prioritize a fix.

The unit test project is missing bindingRedirects, that's why there are 2 assemblies loaded leading to type inequality. @joperezr can you please help find out what's wrong in this scenario? See simple repro steps above - https://github.com/dotnet/corefx/issues/27907#issuecomment-371942153 (4.6.1 library + 4

[2018-03-22 16:31] #28024 closed

[2018-03-22 16:36] GeorgeAlexandria opened #28366 "System.Security.Cryptography.Algorithms has reference on the .net4.6.3"
Hi,

I'm tried to include to the project that targets .net462 **System.Security.Cryptography.Algorithms** 4.3.1 nuget package using nuget package manager and I was surprised when found the reference on the ***.NETFramework4.6.3*** instead of ***.NETFramework4.6.2***, and that package manager added to the project the corresponding assembly for ***.NETFramework4.6.1.***

Does it a small mistake?

[2018-03-22 16:45] tarekgh commented on #25960
@tcables it looks you are using version 2.0.5 of the net core

[code]

You need 2.0.6 which has the fix.

@benhysell, did you able to tell if you still seeing the problem in 2.0.6? please make sure in your app to follow the instruction mentioned in the following comment too:

https://github.com/dotnet/corefx/issues/26292#issuecomment-362656712

[2018-03-22 16:49] danmosemsft commented on #28342
#27662

[2018-03-22 16:53] joperezr commented on #25773
They are all of them. We don't expect to find any additional ones and we have done testing to ensure this is the case.

As long as your app has some dependency that is .NET Standard based (.NET Standard 2.0 or 1.x) you will need the 12 facades and the binding redirects. We have logic in our tooling that will basically walk all of your dependencies in order to determine if this is the case or not,

[2018-03-22 16:53] fiigii commented on #28363
Yes, I guess the changes (corefx and coreclr both) should be pill requests to the branch 2.1-release instead of master. @eerhardt could you confirm?

Yes, I prefer to retain the APIs in System.Private.Corelib and just remove the unimplemented ones from the corefx package if we can.

[2018-03-22 16:54] keeratsingh commented on #27605
Hi @atiato ,

Which of the two suggestions did you try ? Did you try setting the thread pools in the aspnetcoreapp?

Regards,
Keerat

[2018-03-22 17:05] commonsensesoftware commented on #26996
I'm running 15.6.3 and I'm hitting a related issue. My project uses CPS with TargetFrameworks for **net452** (using full .NET refs only) and **net461** (using NuGet refs). Everything compiles, but I get MissingMethodException from `ZipFile.OpenRead` at runtime in the **net461** build. The **net452** build runs fine.

[2018-03-22 17:07] danmosemsft commented on #25960
This procedure is also described in https://github.com/dotnet/announcements/issues/62

[2018-03-22 17:14] 4creators commented on #28363
Agree

[2018-03-22 17:16] danmosemsft commented on #28360
@v-haren this failure is in release/2.0.0 branch, so the milestone should be 2.0.0 please.

[2018-03-22 17:16] danmosemsft commented on #28360
Below the bar for servicing unless it keeps reproing

[2018-03-22 17:16] #28360 closed

[2018-03-22 17:17] danmosemsft commented on #28359
Below bar for 2.0

[2018-03-22 17:17] #28359 closed

[2018-03-22 17:18] danmosemsft commented on #28356
@soc are there any other FOLDERID_xx that are not already represented in our CSIDL list?

[2018-03-22 17:26] joshfree commented on #28366
@joperezr

[2018-03-22 17:29] brendandburns commented on #28365
This was in 2.1 thanks

--brendan

________________________________
From: Stephen Toub <notifications@github.com>
Sent: Thursday, March 22, 2018 9:20:14 AM
To: dotnet/corefx
Cc: Brendan Burns; Mention
Subject: Re: [dotnet/corefx] SSL TLS protocol mis-match not handled cleanly on Linux (#28365)

@karelz<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fkarelz&data=04%7C0

[2018-03-22 17:32] stephentoub commented on #28365
@brendandburns, ok, thanks.  Then next question, do you see a similarly vague error in 2.0, if you could possibly try it there?  I just want to confirm we weren't previously returning a better error and we somehow broke it.  One of the changes made in 2.1 involves how the OpenSSL error queue is cleared out, so it's possible we've lost something. cc: @Drawaes

[2018-03-22 17:34] Drawaes commented on #28365
If it's confirmed a behavioral change I will take a look for sure. If it's the same as before then I am not sure it's worth rushing in a fix before 2.1?

[2018-03-22 17:47] huanwu commented on #27516
@jorive Could you provide more context/details about this issue

[2018-03-22 17:48] huanwu commented on #27513
@jorive Could you provide more context/details about this issue

[2018-03-22 17:48] huanwu commented on #27512
@jorive Could you provide more context/details about this issue

[2018-03-22 17:48] huanwu commented on #27484
@jorive Could you provide more context/details about this issue

[2018-03-22 18:07] #21398 closed

[2018-03-22 18:07] geleems commented on #27974
@saurabh500
I talked to Wes about the command for updating the baseline, and found out there doesn't exist such a command. I have to manually remove the violations in the MatchingRefApiCompatBaseline.txt. Build will complain if anything is not fixed properly in MatchingRefApiCompatBaseline.txt.

[2018-03-22 18:14] saurabh500 commented on #27974
@weshaggard What is the build target to check if the MatchingRegApiCompatBaseline is in sync with the compat issue?

[2018-03-22 18:16] JeremyKuhne commented on #27629
@bartonjs Can you comment on the `IdentityReference` comments @AlexRadch brought up?

[2018-03-22 18:17] #20245 closed

[2018-03-22 18:17] rmandvikar commented on #28335
I should simply check the `DateTime` value and its `Kind` instead of round-tripping. You can close this issue if required.

I understand why and how culture works. I should have mentioned this before. On travis ci machines, I get `yy` format dates even when I give the `en-US` culture and/or `"G"` format. This threw me off. On my local machine, I always get `yyyy` format dates ( [full travis log](h

[2018-03-22 18:17] karelz commented on #27907
@joperezr you mentioned this is turned on by default in newer VS, can you please chime in more details?

[2018-03-22 18:18] karelz commented on #27907
The overall end-to-end scenario is worrisome - cc @AlexGhiondea @weshaggard

[2018-03-22 18:18] filipnavara commented on #28352
It may work if libgdiplus on the system is built with Pango support. That's usually not the default though.

[2018-03-22 18:21] bartonjs commented on #27629
https://referencesource.microsoft.com/#mscorlib/system/security/principal/ntaccount.cs,222 and http://source.dot.net/#System.Security.Principal.Windows/System/Security/Principal/NTAccount.cs,199 agree that it's just a string comparison.  I don't know enough about the real-world usage to know if it's a good idea to change that or not.

[2018-03-22 18:28] joperezr commented on #27907
I'm not 100% sure but I believe that SDK projects have this turned on by default. I'll double check.

[2018-03-22 18:35] karelz commented on #27907
From a brief chat with @AlexGhiondea it also seems that running on 4.7.2 (which is in Early access preview) will not hit the problem. Given that it is developer-only scenario which is broken, it should be acceptable workaround (and it will "fix itself" going forward).

@rhyous we are still interested to hear more details about the impact of this specific problem. To our knowledge it is not that wi

[2018-03-22 18:42] soc commented on #28356
@danmosemsft Yes, quite a few actually. Mostly `FOLDERID_PublicXyz` folders.

Someone implemented a workaround for my library (https://github.com/soc/directories-jvm/commit/9fb0661619c13ed78e392802e615c251abde3049#diff-fefdba6fdb964f5eaacffc4774798803R100) so it's not that pressing anymore for me, but I'm still happy to help get this improvement shipped (if there is interest).

[2018-03-22 18:43] krwq commented on #28358
Yes, this is some legacy in the old xml test infa. There is likely some kind of Console.WriteLine or similar which lurked in

[2018-03-22 18:46] danmosemsft commented on #27662
[code]
Looking at the stat.h

[2018-03-22 18:54] joshfree commented on #26768
@muratg can we reconsider this for preview2 given that ROS doesn't have good test coverage on corner cases and the most recent test PR did uncover a nasty bug?

[2018-03-22 18:57] danmosemsft commented on #27662
Ah, I'm not in the docker container...

[2018-03-22 19:03] davidsh commented on #18000
It turns out this is caused by a bug in WinHTTP. When a redirect response occurs, WinHTTP prefers to reuse the same connection to follow the redirect. In order to do that, the entire response must be drained.  The number of bytes drained is controlled by the `WinHttpHandler.MaxResponseDrainSize` property:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/ref/System.Ne

[2018-03-22 19:05] #18000 closed

[2018-03-22 19:07] madelson commented on #26623
@EgorBo @saurabh500 can we label this as a bug?

[2018-03-22 19:11] madelson opened #28370 "StringComparers should return 0 rather than throwing for GetHashCode(null)"
`EqualityComparer<string>.Default.GetHashCode` returns `0` when provided with null.

The various `StringComparer`s, however, throw `ArgumentNullException`. This is frustrating because it means you can't always swap in something like `StringComparer.OrdinalIgnoreCase` for the default comparer.

Additionally, it feels inconsistent for `StringComparer`s to throw on null for `GetHashCode` because all

[2018-03-22 19:31] danmosemsft commented on #27662
In the container, it does fail
[code]

[2018-03-22 19:34] danmosemsft commented on #24751
Moving to Future as we completed 2.1 work except for the compat pack which is separately tracked

[2018-03-22 19:34] danmosemsft commented on #24747
Completed 2.1 work

[2018-03-22 19:34] danmosemsft commented on #24739
No more for 2.1

[2018-03-22 19:35] saurabh500 commented on #26302
I looked through the code on Framework.
A change was ported to 4.7.1 for API compat between NetStandard and NetFx in System.Data.Common. The port relies on the provider to implement IDbColumnSchemaGenerator else throws a not supported exception.
The consuming APIs should be checking for `DbDataReader.CanGetColumnSchema()` before actually retrieving the schema using the GetColumnSchema() API.
For 4

[2018-03-22 19:39] saurabh500 commented on #27222
Some of the Task based continuations were moved to async await
The rest need some analysis. Moving this to future as it is not critical for 2.1.0

[2018-03-22 19:39] danmosemsft commented on #27891
@GrabYourPitchforks can you please drive htis to consensus one way or another so we can get it closed by 30th?

[2018-03-22 19:40] danmosemsft commented on #19998
@wtgodbe are you taking this? Can you please find an owner so it can get closed by 30th or move to future if appropriate?

[2018-03-22 19:43] danmosemsft commented on #28356
@soc if you update your list to include all the ones you think are worthwhile, then we could run this past API review folks

[2018-03-22 19:44] #7855 closed

[2018-03-22 19:50] #24466 closed

[2018-03-22 19:55] saurabh500 commented on #26623
@madelson Thanks for the explanation. We will be looking into this issue. The code samples and comparisons are appreciated.
We considered all issues as bugs and mark the feature requests with enhancement.

[2018-03-22 19:55] geleems commented on #24175
@Diablofan Are you getting the same error with recent version of .NET Core?

[2018-03-22 19:58] #28097 closed

[2018-03-22 19:58] #28156 closed

[2018-03-22 20:05] brianrob commented on #7335
I put together a quick test for this and it did not throw.  Instead, it wrote an EventSourceMessage into the trace that writing the event failed.  Here is the test case:

[code]

Closing this since this no longer repros.

[2018-03-22 20:05] #7335 closed

[2018-03-22 20:05] JeremyKuhne commented on #27629
Presumably using `new SecurityIdentifier(WellKnownSidType.LocalSystemSid, null)` in the tests would get the proper localized behavior? Can you validate @AlexRadch?

Probably not doable as this behavior has always been this way. Adding new behavior to `IdentifyReference` or `GetAccessRules` might be possible with an overload, but changing the existing behavior of the current APIs is likely to wreak

[2018-03-22 20:06] omajid commented on #28353
I would ask for the opposite, though: please do not carry around another copy of a well known library.

It's really good to be able to build .NET Core from source. In fact, I would say something is not open source if it can't be build.

But there is a tangential problem of bundling: the more copies of a library exist on a system, the harder it is to fix them if a problem comes up. Common libraries

[2018-03-22 20:07] bartonjs commented on #27629
SID-equality should be more stable, and should be a reasonable change to the tests (to fix the test i18n problem)

[2018-03-22 20:10] AlexRadch commented on #27629
I created issue because that is not only tests issue.

[2018-03-22 20:10] brianrob commented on #5982
I'm going to close this issue since there is another one that also tracks the same thing, and there is a good amount of discussion on this issue around non-TraceSource functionality.  If you're interested in following the TraceSource discussion, please follow #24829.

Duplicate of #24829

[2018-03-22 20:10] #5982 closed

[2018-03-22 20:15] AlexRadch commented on #27629
I think it would. I will created such PR later.

[2018-03-22 20:15] brianrob commented on #24829
From #5982: In general, we are not expanding support for TraceSource. However, if there is someone who is interested in contributing support for System.Configuration, I think that is OK.

I am marking this up-for-grabs.  Next step is to propose a design.

[2018-03-22 20:16] ajaybhargavb opened #28371 "NamedPipeServerStream throws UnauthorizedException when creating multiple server streams on windows with PipeOptions.CurrentUserOnly"
Repro:
[code]

cc @pjanotti @rynowak

[2018-03-22 20:16] #26165 closed

[2018-03-22 20:16] jnm2 commented on #28370
Am I remembering wrong, or do Roslyn and ReSharper generate implementations of GetHashCode that delegate to `EqualityComparer<string>.Default.GetHashCode` as a way to avoid the branch in `str != null ? 0 : str.GetHashCode()`?

[2018-03-22 20:16] JeremyKuhne commented on #27629
Thanks!

I assume the only issue is what I've described (that you can't reliably compare `NTAuthority` directly).  If I'm missing something please let me know.

[2018-03-22 20:16] joshfree commented on #28370
/cc @tarekgh

[2018-03-22 20:17] pjanotti commented on #28371
Thanks @ajaybhargavb. I'm investigating and will get back to you soon.

[2018-03-22 20:18] brianrob commented on #25764
Looks like this was fixed by #27005.

[2018-03-22 20:18] #25764 closed

[2018-03-22 20:22] JeremyKuhne commented on #24829
If/when somebody picks this up feel free to contact me about how to make the relevant changes to System.Configuration. It isn't very easy to navigate.

[2018-03-22 20:22] brianrob commented on #5126
If I understand correctly, this becomes an issue if by chance the resource file name changes.  We could do something to detect this and have a different error message, but that would still be at runtime.  What would be needed is something at compile time.  I suspect that the complexity required is not going to merit such a change.  Closing.

[2018-03-22 20:22] #5126 closed

[2018-03-22 20:22] geleems commented on #27974
@weshaggard
My PR for fixing this issue (https://github.com/dotnet/corefx/pull/28369) failed with `Packaging All Configurations x64 Debug Build` test.
[code]
Because there is no `IDbColumnSchemaGenerator` and `DbColumn` interface in NETFramework.v4.6.1.
How can I fix this?

[2018-03-22 20:24] davidsh commented on #24954
Most likely this issue is resolved in .NET Core 2.1 since it uses the new SocketHttpHandler HTTP stack by default.

Please try out the latest .NET Core 2.1 to use the new HTTP stack.  Thx.

[2018-03-22 20:24] #24954 closed

[2018-03-22 20:29] joperezr commented on #28366
I'm not sure what do you mean by:

I just tried this locally and it correctly resolves the 4.6.1 assembly:
[code]

If what you refer is to why do we add the reference to a 4.6.1 implementation instead of 4.6.2 then that is by design. NuGet will automatically add a reference from a package to the asset that best applies to the framework you are targetting. In this case, it the asset that best appli

[2018-03-22 20:29] #28366 closed

[2018-03-22 20:29] davidsh commented on #22196
Given the work happening in the new SocketHttpHandler, it doesn't make sense to invest in these types of fixes for edge cases in UAP HTTP stack.

Long term, UAP will also use the SocketsHttpHandler (instead of using the WinRT Windows.Web.Http APIs underneath). So, the behavior will be aligned between non-UAP and UAP as a result.

[2018-03-22 20:29] #22196 closed

[2018-03-22 20:32] joperezr commented on #26996
`ZipFile` is a very specific case that won't be fixed by VS 15.6.3. For this very particular issue, do you mind adding a binding redirect into your net461's app.config?
[code]

[2018-03-22 20:37] davidsh commented on #26684
cc; @stephentoub @karelz

We should make this change.  It only made sense for `EnsureSuccessStatusCode` to dispose the request content when HttpClient was doing it while sending requests.

However, we changed that behavior in PR #19082

So, to be consistent, we need to fix EnsureSuccessStatusCode() as well.

[2018-03-22 20:38] pjanotti commented on #28371
The DACL was being set to read and write and that doesn't allow it to create multiple server instances. I am going to give full-control to the owner, this still enforces the current user only.

[2018-03-22 20:39] adiaaida commented on #27580
This is an intermittent failure. Per discussion with @danmosemsft, I'm waiting until #26475 is checked in to see if that fixes the issue.

[2018-03-22 20:41] stephentoub commented on #26684
I'm fine with changing EnsureSuccessStatusCode, but isn't it disposing of the response content, not the request content?

[2018-03-22 20:42] tarekgh commented on #28370
Although I agree on the principle of consistency here, but this can break libraries which taken a dependency on such behavior for different comparers. Hopefully, this is not the case :-)

Also, I other people can create their own custom comparers and throw on null strings too. So, if your code allows custom comparers, then your code needs to handle such cases anyway.

[2018-03-22 20:46] joperezr commented on #27679
@ViktorHofer agreed 😄

[2018-03-22 20:46] davidsh commented on #26684
Ugh...you're right.  I read this wrong. I thought it was referring to request content. :(

But in reviewing, we probably should still change this here to follow the same principles we did in #19028 and not proactively dispose something.

I would still be in favor of not doing an explicit Dispose() here of the response body content.  It would get disposed later anyways when the enclosing HttpRespon

[2018-03-22 20:48] joperezr commented on #21920
image that should be used is: microsoft/dotnet-buildtools-prereqs:alpine-3.6-3148f11-20171119021156

[2018-03-22 20:49] stephentoub commented on #26684
SGTM

[2018-03-22 20:49] davidsh commented on #27207
We are not able to reproduce this problem.  If this still happens on latest .NET Core, please re-open the issue and also attach a full Visual Studio solution containing the repro code. It would be best if the solution could be easily built with F5 and run-able to reproduce the bug.

[2018-03-22 20:49] #27207 closed

[2018-03-22 20:51] jnm2 commented on #28370
The [breaking change rules](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#property-field-parameter-and-return-values) say:

It sounds like in general it's okay to assume that people don't depend on argument validation exceptions.

[2018-03-22 20:51] rmkerr commented on #28065
Summary:
------
I've investigated the five test failures that occur on `WinHttpHandler`. The first two are test case issues -- the examples are invalid. I've done my best to describe why I think this is the case below.

I believe that the last three cases are the result of incorrect code in the loopback server that results in a hang. All three cases expect a 401 Unauthorized in response, and all o

[2018-03-22 20:53] danmosemsft commented on #27496
It'd be great when we open issues like this to include relevant benchview links to get a jump start.

master
https://benchview/trendline?build_selector=latest&count=1000&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=[957,1121]&archids=[23]&mpids=[1292]&cfgids=[2706]&testids=[63752,63751,63754,63753,63756,63755,60281,63059,63111,61559,61598,60271,61483,61505,

[2018-03-22 20:54] davidsh commented on #26848
The question seems to be answered.  .NET Core 2.1 will support a new default HTTP stack (SocketsHttpHandler) that won't have this restriction regarding the use of client TLS/SSL certificates.

[2018-03-22 20:54] #26848 closed

[2018-03-22 20:55] AtsushiKan commented on #19998
This is test cleanup - no deadline needed.

[2018-03-22 20:55] danmosemsft commented on #27495
@jorive do we have ETL traces from before and after? Manually setting up machines and reproing to get traces would take a long time.

[2018-03-22 20:56] danmosemsft commented on #25132
@gleems is this still on track for 3/30?

[2018-03-22 20:56] benhysell commented on #25960
@tarekgh I just tested with version 2.0.6 and it worked!

Tested with a machine on and off the domain, both calls completed as expected.

I'm happy to close this issue at this time.

[2018-03-22 20:57] MarcoRossignoli commented on #27580
@adiaaida @danmosemsft  #26475 after some discussion fix only a race. I don't expect resolve the issue of "registry delay". Read all thread to understand what i mean. Cross finger!

[2018-03-22 20:57] danmosemsft commented on #27518
@valenis @adamsitnik are you already planning to investigate?

If not can you please share a benchview link showing the improvement, and point to ETL for us?

[2018-03-22 20:58] pjanotti commented on #28371
/cc @rainersigwald @jeffkl @agocke

[2018-03-22 20:58] #25960 closed

[2018-03-22 21:00] jorive commented on #27495
@danmosemsft I doubt we still have Etl traces.

[2018-03-22 21:01] Clockwork-Muse commented on #28335
[The travis machine probably has a local override](https://stackoverflow.com/questions/46934175/net-datetime-tostring-culture-en-us-outputs-4-digit-years-on-some-boxes-and-2-d).

Culture is one of the most insidious runtime dependencies, which is why a library can't blindly do text work (it should rely on either an explicit parameter, or use a permanent one - and ignore all/most overrides - which

[2018-03-22 21:02] danmosemsft commented on #27495
@jorive is there a way to get them without manually setting up machines? Since we presumably can't use VM's that could take all day. Is there a way to set up 2 perf machines, one with each OS, taht we can use?

[2018-03-22 21:03] jorive commented on #27495
Yes, we can reserve two of the machines in the lab for each OS, and start private runs.

[2018-03-22 21:03] danmosemsft commented on #27495
Can we go ahead and do this please

[2018-03-22 21:04] jorive commented on #27495
OK

[2018-03-22 21:04] Petermarcu commented on #28353
We are not going to bundle libcurl. Your points are extremely valid (especially for libcurl). We have done work in 2.1 to not need libcurl anymore by default. You don't need it in your OS or in your app. We have a full .NET based client networking stack. This issue is about reacting to the fact that its not necessary. Its not to bundle it.

[2018-03-22 21:05] weshaggard commented on #27974
You cannot expose those APIs in the netstandard ref's if they don't exist on .NET Framework. So you have to decide if these APIs are import to be exposed for other scenarios like .NET Core then you will need to add a netcoreapp specific configuration for those APIs or decide that they aren't needed any you remove them or make them private in the implementation.

[2018-03-22 21:24] bobuva commented on #28230
@karelz It turns out that creating a `TcpClient` object and connecting using that was unnecessary since the `grpc` implementation was creating the connection itself. Being new to `grpc`, I didn't realize that, and the `grpc` sample files misled me. Maybe I'll reach out to them on that. In any case, I'm able to make the SSL/ALPN connection (via grpc).

[2018-03-22 21:24] rmandvikar commented on #28335
Ah, I did not know that. Even
[code]
does not override the culture and I still get date in `yy` format ([travis log](https://travis-ci.org/rmandvikar/csharp-extensions/builds/357099193#L696-L699)). So I gave up and am comparing datetime's value and kind (which is what I should have done in first place).

[2018-03-22 21:24] #28335 closed

[2018-03-22 21:26] rmkerr opened #28378 "SocketsHttpHandler will attempt digest authentication with an empty nonce"
The nonce is an important part of the digest authentication protocol, and we should not attempt to authenticate without one. We currently have some incorrect test cases demonstrating this issue that pass only on SocketsHttpHandler:
https://github.com/dotnet/corefx/blob/ce4ebdfbf2080a38855ab8df5c9bb553db8724af/src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs#L561-L565

Without a

[2018-03-22 21:28] JeremyKuhne opened #28379 "API Proposal: Add a ValueStringBuilder"
We should consider making a value based StringBuilder to allow low allocation building of strings.  While Span allows you to provide a writable buffer, in many scenarios we have a need to get or build strings and we don't know precisely how much space will be needed ahead of time. Having an abstraction that can grow beyond a given initial buffer is particularly useful as it doesn't require looping

[2018-03-22 21:29] JeremyKuhne commented on #28379
@jkotas, @stephentoub, @KrzysztofCwalina, @danmosemsft, @ahsonkhan

[2018-03-22 21:34] karelz commented on #28230
OK, sounds like we can close it here then.

Yet another example how minimal repro with unnecessary dependencies is valuable to route issues :)

[2018-03-22 21:34] #28230 closed

[2018-03-22 21:40] GeorgeAlexandria commented on #28366
@joperezr, I know that the Nuget by design uses the asset that best applies to the framework that I'm targeting, so for a .net462 it will apply a .net461 for the current nuget package.

I'm sorry, if I didn't clarify my question, but my question was why does this nuget package contain reference to .net461 and .net463 (as I know .net463 [doesn't exists](https://docs.microsoft.com/en-us/dotnet/frame

[2018-03-22 21:48] bartonjs commented on #28366
Because we built that nupkg before the version after net462 got named net47

[2018-03-22 21:55] davidsh commented on #28378
This means we should fix it in 2.1.

[2018-03-22 21:55] davidsh commented on #28378
cc: @karelz @stephentoub @geoffkizer

[2018-03-22 22:11] stephentoub commented on #28379
I didn't see that we'd added these arguments. I don't think we should have them.  If you want to null terminate, you can call `Append('\0')`.

[2018-03-22 22:11] geleems commented on #27974
@weshaggard `GetColumnSchema` method is for netcoreapp API, but the problem is we don't have build configuration for netcoreapp in System.Data.SqlClient. Should we create build configuration for System.Data.SqlClient? Is this right way to do?

[2018-03-22 22:15] wtgodbe commented on #19998
@AtsushiKan thanks - I can take this on when I have time, but wouldn't have had it done by the 30th

[2018-03-22 22:18] weshaggard commented on #27974
Currently that API isn't exposed to the customers and is only the implementation and cannot be exposed as netstandard, so if this API is needed then yes you will need to create a netcoreapp configuration in both the ref and the src projects.

[2018-03-22 22:20] danmosemsft opened #28382 "perf.groovy should be archiving ETL"
Right now we appear to be only archiving test results, but we have never archived perf traces

https://github.com/dotnet/corefx/blob/master/perf.groovy#L132

[2018-03-22 22:20] muratg commented on #26768
@joshfree Unfortunately, I don't think anyone from my side will be able to pick this up in the next few weeks.

[2018-03-22 22:22] danmosemsft commented on #28382
Assigning per discussion with @jorive

[2018-03-22 22:28] #27433 closed

[2018-03-22 22:30] JeremyKuhne commented on #28379
Discussed this one at length with @jkotas in https://github.com/dotnet/coreclr/pull/16921. The problem with appending a null is that it changes the `Length` and breaks the convention on what `Length` means for `strings` & `StringBuilder` (i.e. doesn't include the terminator).  It is incredibly error prone as a result (as my need for the mentioned pull demonstrates).

`StringBuilder` always termina

[2018-03-22 22:31] stephentoub commented on #28379
The `bool terminate` is also changing the Length.

[2018-03-22 22:34] JeremyKuhne commented on #28379
No, it leaves Length as is. It _might_ increase Capacity.

[2018-03-22 22:36] joperezr commented on #28203
The new capabilities have now been installed on tests machines so this should’nt be an issue any longer

[2018-03-22 22:36] #28203 closed

[2018-03-22 22:37] stephentoub commented on #28379
Hmm, I see, ok.

[2018-03-22 22:44] CarolEidt commented on #28363
I agree; I think that's the approach we should use.

@eerhardt can confirm WRT corefx, but I don't think we need to change coreclr.

With regard to getting a `NotSupportedException`, I think that is perfectly reasonable for an experimental feature that someone has gone spelunking into SPC.dll to find APIs to call.

[2018-03-22 22:46] AlexRadch commented on #26768
@joshfree I wrote before that I started to Add tests for ReadOnlySequence longer than int.Max

But I was interrupted by issue in ReadOnlySequence https://github.com/dotnet/corefx/pull/28095. Now it is fixed.
Also now I am fixing those issues https://github.com/dotnet/corefx/issues/28136. So when I am complete with this I will finish ReadOnlySequence longer than int.Max tests.

[2018-03-22 22:48] rmkerr commented on #28378
The behavior I was seeing may actually be the result of another bug in the loopback server causing it to look like authentication was succeeding when it was not. I'll do some more investigation, but if that is the case I'll close this issue. Sorry for the noise.

[2018-03-22 22:56] mairaw commented on #28306
To answer your question @karelz, this is how we started doing this:
https://github.com/dotnet/docs/pull/3852

In the future, we'll have conditional content, so the format might change, but this is how we started capturing the differences. And I'm open to feedback if anyone thinks there's a better way to do this.

[2018-03-22 23:00] madelson commented on #28370
I agree that it's true that any particular custom comparer could throw for any particular argument. That said, in my case (and I'll bet in many others) I'm not using "anyone's" comparer, I'm explicitly choosing .NET's built-in custom comparer for case-insensitivity. It feels like that, at least, should be expected to work seamlessly as a replacement for `EqualityComparer<string>.Default`.

[2018-03-22 23:00] rmkerr commented on #28378
Looks like my initial analysis of this issue was wrong. Closing.

[2018-03-22 23:00] #28378 closed

[2018-03-22 23:00] 4creators commented on #28363
There are 2 PRs to the branch `release/2.1` in corefx and coreclr implementing changes required to enable all ISAs with partial implementations.

#28377 and https://github.com/dotnet/coreclr/pull/17134

[2018-03-22 23:02] #28251 closed

[2018-03-22 23:18] ahsonkhan opened #28390 "Test failed: System.Net.NetworkInformation.Tests.PingTest / SendPingAsyncWithHostAndTimeoutAndBuffer_Unix"
From https://github.com/dotnet/corefx/pull/28320

OSX.1012.Amd64.Open-x64-Debug
System.Net.NetworkInformation.Tests.PingTest/SendPingAsyncWithHostAndTimeoutAndBuffer_Unix
https://mc.dot.net/#/user/sputier/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/aed8e7936300a0290bb29844f967876525ca9ffb/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformati

[2018-03-22 23:20] weshaggard commented on #24739
Dan I don't see any reason to keep this open so closing.

[2018-03-22 23:20] #24739 closed

[2018-03-22 23:24] Petermarcu opened #28392 "Inconsistent compile behavior for out parameters"
@marce155 commented on [Thu Mar 22 2018](https://github.com/dotnet/core/issues/1373)

When declaring an out parameter on a method I’m used to having to assign the parameter a value before leaving the method:
[code]

Today I encountered a behavior which was at least unexpected and feels inconsistent. When I’m targeting netcoreapp2.0 there are some cases where the program will compile and work even

[2018-03-22 23:28] weshaggard commented on #28355
@mikem8361 do you think this is an issue between portable vs windows pdbs?

[2018-03-22 23:32] AlexRadch opened #28393 "Can not load UnloadableAssembly in System.Runtime.Tests"
When I run System.Runtime.Tests, the log contains `System.BadImageFormatException` exception with messages that UnloadableAssembly can non be loaded. Is it issue?

[2018-03-22 23:34] wfurt commented on #28203
did you see sucesfull run @joperezr The mc.dot.net. still shows failures.

[2018-03-22 23:37] stephentoub commented on #28392
Dup of https://github.com/dotnet/corefx/issues/6185
cc: @weshaggard

[2018-03-22 23:40] AlexRadch commented on #28136
@karelz I created separated fixes or issues for this issue. Should it be closed?

[2018-03-22 23:40] omariom commented on #28379
Are they needed if there is an overload taking ROSpan?

public void Append(string s);
public unsafe void Append(char* value, int length);

[2018-03-22 23:43] JeremyKuhne commented on #28379
No, they aren't.  I'll add a proposed section.

[2018-03-22 23:44] karelz commented on #28136
Yes, thank you!

[2018-03-22 23:44] #28136 closed

[2018-03-22 23:45] joperezr commented on #28203
it will continue to run failures until after tonight's run, which will be the first run with the new changes.

[2018-03-22 23:45] joperezr commented on #28203
I didn't try running the tests, I took that with your fix the tests would succeed.

[2018-03-22 23:45] mikem8361 commented on #28355
We have been producing portable PDBs in our 2.1/master builds for a while now.  Not sure what is going on.  I try to take a look by building a recent corefx on Linux and looking at the dlls/pdbs.

@safern What distro/version of Linux? What version of VSCode?

FYI, there is a beta version of the VSCode C# extension that supports symbol severs, source link, etc. https://github.com/OmniSharp/omnishar

[2018-03-22 23:48] rhyous commented on #27907
Ahh...Priority discussion.

So for me, it cost 1 week of dev time and it is still costing me time. We couldn't deploy because unit tests are not passing. We couldn't make our unit tests pass until I figured this out. I beat my head against it for a while.  We found a workaround, to modify the .csproj directly. That cost is in the past, so it is not a future cost.

We use HttpClient heavily. So man

[2018-03-23 00:25] #26390 closed

[2018-03-23 00:27] omariom commented on #28379
There is a proposal https://github.com/dotnet/csharplang/issues/93
It would be even better with this one https://github.com/dotnet/csharplang/issues/114

[2018-03-23 00:31] weshaggard commented on #28355
As a note for the libraries that get re-written by GenFacades are likely still using windows pdbs, as the tool only supports windows pdbs.

[2018-03-23 00:31] joperezr commented on #28200
Image has been updated and scripts as well, so this issue should be resolved by tonight's run. Closing for now.

[2018-03-23 00:31] #28200 closed

[2018-03-23 00:34] weshaggard commented on #28392
Yes this was an issue in the ref assemblies that is getting addressed this release with #6185.

[2018-03-23 00:34] #28392 closed

[2018-03-23 00:51] mikem8361 commented on #28355
It does look like System.Buffers.dll, system.reflection.primitives.dll and many others don't have pdbs generated and don't have a debug directory in the dll hence the "Binary was not built with debug information" message.

/cc: @vancem

[2018-03-23 00:56] safern commented on #28355
Ubuntu 16.04 in a docker container. This reproes in the latest VSCode and Visual Studio 2017 (also using symbol servers)

[2018-03-23 01:40] ahsonkhan commented on #23291
Failed again here: https://github.com/dotnet/corefx/pull/28389
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/8ed94f0eae5b9dcee1b8bc23b9adaae381c0c69a/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.SslStreamCredentialCacheTest~2FSslStream_SameCertUsedForClientAndServer_Ok

[2018-03-23 01:41] ahsonkhan commented on #27580
Failed again here: https://github.com/dotnet/corefx/pull/28389
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/8ed94f0eae5b9dcee1b8bc23b9adaae381c0c69a/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.Diagnostics.Tests.InstanceDataTests~2FInstanceDataCollectionCollection_Contains_Valid

[2018-03-23 01:45] ahsonkhan opened #28398 "LoadedFiles_NonStaticallyReferencedAssembly fails in CI with NotEmptyException"
From https://github.com/dotnet/corefx/pull/28320

OSX.1012.Amd64.Open-x64-Debug
https://mc.dot.net/#/user/sputier/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/47503888725962aaad41a7b1384de12938aae16c/workItem/System.ComponentModel.Composition.Tests/analysis/xunit/System.ComponentModel.Composition.DirectoryCatalogTests~2FLoadedFiles_NonStaticallyReferencedAssembly

[code]

[2018-03-23 01:59] safern commented on #28398
This test was just added here: https://github.com/dotnet/corefx/pull/28173/files

@MarcoRossignoli would you mind taking a look?

[2018-03-23 02:08] akashkc commented on #28198
Now, got it. Thank you @stephentoub .

[2018-03-23 02:10] stephentoub commented on #28240
Again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a0624196042e612e9fb6a7abec7da6739eab73ea/workItem/System.ServiceModel.Syndication.Tests/analysis/xunit/System.ServiceModel.Syndication.Tests.BasicScenarioTests~2FAtomFeedPositiveTest

[2018-03-23 02:36] #27996 closed

[2018-03-23 02:40] #25403 closed

[2018-03-23 02:51] #28002 closed

[2018-03-23 02:53] #28118 closed

[2018-03-23 03:02] stephentoub commented on #22807
Failed again here:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/10319/consoleText
[code]

[2018-03-23 03:11] #28343 closed

[2018-03-23 03:16] zhenlan commented on #27393
@huanwu please make sure we close completed sprints.

[2018-03-23 03:16] #27393 closed

[2018-03-23 03:29] stephentoub commented on #26691
The Task.IsCanceled list is incomplete; there are other reasons a task might end in the canceled state. For example:
[code]
If `a` completes successfully, then `b` will be canceled, and there's no cancellation token provided to ContinueWith.

This really isn't about Tasks in general; it's about that specific overload of Task.Run.  That same behavior doesn't manifest for Task.Factory.StartNew, for

[2018-03-23 03:55] stephentoub commented on #15033
Not really.  Once https://github.com/dotnet/corefx/issues/24430 is implemented, then the support on NetworkStream will "just work".

[2018-03-23 05:16] superriva commented on #27433
Could you add the patch to myget version package to testing.

[2018-03-23 05:20] safern commented on #27433
@superriva the package will be produced on the next build, tomorrow it will be available and will be the latest version with the preview3 label on it, and obviously this fix will make it to the NuGet stable version.

[2018-03-23 05:29] dotnet-mc-bot opened #28400 "Test failure: System.Tests.StringGetHashCodeTests/GetHashCodeWithStringComparer_UseSameStringInTwoProcesses_ReturnsDifferentHashCodes(getHashCodeIndex: 0)"
Opened on behalf of @Sunny-pu

The test `System.Tests.StringGetHashCodeTests/GetHashCodeWithStringComparer_UseSameStringInTwoProcesses_ReturnsDifferentHashCodes(getHashCodeIndex: 0)` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Tests.StringGetHashCodeTests.GetHashCodeWithStringComparer_UseSameStringIn

[2018-03-23 05:31] #27973 closed

[2018-03-23 05:35] GrabYourPitchforks commented on #24093
I've been using `UnicodeScalar` in my prototype implementations to refer to a Unicode scalar value (values in the range U+0000..U+10FFFF, inclusive; excluding surrogate code points) and `Utf8Char` to refer to the UTF-8 code unit. Seems like a lot of people prefer _Rune_ instead of _UnicodeScalar_ because it's less of a mouthful. I don't care too much, but I will point out that the term "Unicode sc

[2018-03-23 05:46] ahsonkhan commented on #28274
I installed that exact version of the dotnet cli and was able to reproduce the issue that you guys reported.
The issue is not reproducible on the latest dotnet cli (2.1.300-preview3-008391).

**Here are some workarounds (any of these should work):**
1) If your library and tests are targeting netcoreapp2.1, you don't need to explicitly reference System.Memory at all (since it is inbox for 2.1). If

[2018-03-23 06:48] superriva commented on #27433
@safern it's very good. Thanks.
I have tested 4.5.0-preview3-26323-01 and it seems to me it's patched already.

[2018-03-23 07:12] danmosemsft commented on #28400
@maryamariyan ptal

[2018-03-23 07:40] MarcoRossignoli commented on #28398
@safern @ahsonkhan sorry for delay(in my timezone i was in bed,  inefficiencies of the human body). It's weird in last CI i saw no issue:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/osx-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/10268/
(unrelated System.Net.Sockets.Tests).
I'm in trouble, i can dev/test code on Win and Ubuntu(VM) but i don't have a OSX.
Do you have a

[2018-03-23 07:42] mdw211 opened #28402 "default XmlDictionaryReader.Close implementation causes a stack overflow with an open reader"
in XmlReader:
public void Dispose()
{
    Dispose(true);
}
protected virtual void Dispose(bool disposing)
{
    if (disposing && ReadState != ReadState.Closed)
    {
        Close();
    }
}

in XmlDictionaryReader:
public override void Close()
{
	base.Dispose();
}
= stack overflow

This causes issues with ported code as in the .NET framework implementation XmlDictionaryReader's Close does not cal

[2018-03-23 07:52] #23759 closed

[2018-03-23 08:38] atiato commented on #27605
it doesn't work when I did below
![image](https://user-images.githubusercontent.com/652472/37819061-e81d30b4-2e84-11e8-920b-9828a03b5d26.png)

but when added

export COMPlus_ThreadPool_ForceMinWorkerThreads=200;
export COMPlus_ThreadPool_ForceMaxWorkerThreads=10000;

it worked.

[2018-03-23 08:57] ufcpp commented on #24093
A bit off-topic:
Should the "text element" be the segmentation defined by ["Grapheme Cluster Boundaries" in UAX #29](http://unicode.org/reports/tr29/#Grapheme_Cluster_Boundaries)?

[code]

expected result:
👩🏻‍👦🏼
👨🏽‍👦🏾‍👦🏿
👩🏼‍👨🏽‍👦🏼‍👧🏽
👩🏻‍👩🏿‍👧🏼‍👧🏾

actual result:
👩
🏻
‍
👦
🏼
👨
🏽
‍
👦
🏾
‍
👦
🏿
👩
🏼
‍
👨
🏽
‍
👦
🏼
‍
👧
🏽
👩
🏻
‍
👩
🏿
‍
👧
🏼
‍
👧
🏾

[2018-03-23 09:30] Mutuduxf opened #28403 "When the System.Reflection.DispathProxy subclass's access modifier is not public it throw Access is denied"
The repo is [here](https://github.com/Mutuduxf/DispatchProxyDemo)

   at System.Reflection.Emit.TypeBuilder.CreateTypeNoLock()
   at System.Reflection.Emit.TypeBuilder.CreateTypeInfo()
   at System.Reflection.DispatchProxyGenerator.ProxyBuilder.CreateType()
   at System.Reflection.DispatchProxyGenerator.GenerateProxyType(Type baseType, Type interfaceType)
   at System.Reflection.DispatchProxyGener

[2018-03-23 11:14] kasper3 commented on #28353
Starting from .NET Core 2.1, `System.Net.Http.SocketsHttpHandler` is default which does not require libccurl. The CurlHandler is opt-in using `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLE` environment variable: https://github.com/dotnet/corefx/blob/d7548549/src/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs, (inverted in 2b850f6).

With proposed approach, by allowing corefx to compile wit

[2018-03-23 11:15] AndrewZ1989 commented on #28270
@saurabh500  Actually I've considered both options which you mentioned.
In the long term using of `ArrayPool` is more perspective because we will be able to replace all `new byte[]` constructions by ArrayPool's methods calling (instead of using a new field for each case).
But I'm not sure which approach is better : creating a new instance of `ArrayPool` for each new `TdsParser` object or using `Ar

[2018-03-23 11:19] himejisyana commented on #26966
none of the workarounds worked for me, I had to write an extra script with the same name called dotnet and the contents are:

[code]

Then make sure only this script is on the PATH, not the real dotnet executable so that vscode can only call this script. The exec line replaces the process in place so that everything keeps working properly even in debug.

[2018-03-23 11:20] AndrewZ1989 commented on #28270
I'm going to try both of mentioned solutions and evaluate performance with the help of **BenchmarkDotNet** library.

[2018-03-23 11:33] luigiberrettini commented on #25040
Should checks like the following ones be implemented?

OS X version >= 10.7.0 i.e. Darwin kernel version >= 11.0.0:
[code]

Windows version >= 10.0.1709:
[code]

[2018-03-23 11:59] jnm2 commented on #24093
`UnicodeScalar` is still super easy to type. <kbd>u</kbd><kbd>s</kbd><kbd>c</kbd><kbd>Space</kbd> (autocompletes) Since that's the correct, most self-descriptive term, I really hope we get that.

[2018-03-23 12:06] luigiberrettini commented on #25040
Should we throw an exception if `isKeepAliveSupported` is false?
To add an exception message is it sufficient to edit the resx file?

OS X version >= 10.7.0 i.e. Darwin kernel version >= 11.0.0:
[code]

Windows version >= 10.0.1709:
[code]

[2018-03-23 12:58] walro opened #28406 "[Desktop] Uri(Uri, String) throws NullReferenceException for certain relativeUri values"
Short reproduction from C# interactive in Visual Studio 2017 15.6.4 on Windows 10 1709 (I'd assume this runs under .NET 4.7.1):

[code]
[code]

The exception type is unexpected, I would expect a `UriFormatException` to be thrown.

* Changing `:` to `%3a` works fine
* Changing `%c3%b6` to `a` yields a better exception: `System.UriFormatException: Invalid URI: The Authority/Host could not be parsed.

[2018-03-23 13:07] stephentoub commented on #28406
With .NET Core, this results in:
[code]
as expected.

[2018-03-23 13:15] davidsh commented on #28406
cc: @rmkerr

[2018-03-23 13:48] serialseb commented on #28156
The stream would be empty in this scenario, are you saying streamcontent would trigger TE on request and then encode 0 causing the bug? I can detect a CL of 0 and null the content and à TE on request?

[2018-03-23 13:48] welkie commented on #26966
Yeah, it is crazy how much this bug affects .NET Core on Linux. I ended up giving up on using Linux for it and just use Windows for now. But I don't know if that's going to be an option for me in the future, so I'm hoping something like this doesn't happen again.

[2018-03-23 13:52] davidsh commented on #28156
Yes.  When you create a StreamContent object, there is no default Content-Length created.  When this request is sent there is also no TE as well.  CL is attempted first by asking the HttpContent object (StreamContent) to calculate its size via the TryComputeLength() method on the StreamContent object.  However, this particular StreamContent was created from an HttpContext object and the 'CanSeek'

[2018-03-23 14:06] dasMulli commented on #28010
@blowdart instead of `application.runtime.config`, did you mean `{ApplicationName}.runtimeconfig.json`? that would pin the shared fx version and should have been generated for each .NET Core application.

[2018-03-23 14:11] blowdart commented on #28010
@leecow what's the right thing here?

[2018-03-23 14:28] atanasa commented on #3843
Do you know of any workaround other than implementing a parser for the raw data? Is there a parser type in .Net standard that can be reused to parse the raw format (in the AsnEncodedData.RawData)? I assume you would add a new API for this, as the Format method's intention was probably to present it to a user instead of produce text to be parsed.

[2018-03-23 14:50] Petermarcu opened #28409 "Formating of double to string using G29 format sometimes returns wrong result"
@Eneuman commented on [Fri Mar 23 2018](https://github.com/dotnet/core/issues/1376)

# Issue Title

Formating of double to string using G29 format sometimes returns wrong result.

# General

Using .Net core 2.0 latest, Windows 10 Pro, Swedish Version

Running this
[code]

results in this:

[code]

I was expecting this:
[code]

[2018-03-23 14:50] ChristianHaase commented on #27951
No of course not. I apologize. I'm waiting for my server technician to boot up our test environment so I can test the project. I'll get back to you once I've tested it.

[2018-03-23 14:58] adiaaida commented on #27580
@ahsonkhan I'm not seeing failures with that link, only skipped tests (we don't run on Nano)

[2018-03-23 14:58] bartonjs commented on #3843
For the general case we do want to expose an ASN.1 BER/CER/DER reader.  The current state of implementation exists at https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Security/Cryptography/AsnReader.cs.  It's not currently public API, but could be a useful start if you need to go this route.  (This extension isn't too bad)

For SAN in particular we want to expose rich API, but th

[2018-03-23 15:35] serialseb commented on #28156
Awesome I owe you a bunch of bears, gonna go back and fix that :)

[2018-03-23 15:39] jzabroski opened #28410 "Regex Match, Split and Matches should support RegexOptions.EnvironmentNewLine as (?=[\r\n]|\z)"
From [MSDN](https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-options#Multiline):

This is by far one of the biggest gotchas with using .NET Regex class. I suggest adding a RegexOptions.EnvironmentNewLine which treats $ as matching Environment.NewLine - it can be not set by default, even though this is almost ALWAYS what EVERYONE wants!

[2018-03-23 15:52] GrabYourPitchforks commented on #24093
@ufcpp That is a good point. Feel free to open a new issue for that. If we cannot change the behavior for compat reasons then I'd suggest we deprecate that type and create a spec-compliant grapheme enumerator.

[2018-03-23 15:58] tarekgh commented on #26691
I have logged the doc issue https://github.com/dotnet/docs/issues/4756 and I am going to close this one.

[2018-03-23 15:58] #26691 closed

[2018-03-23 16:07] Clockwork-Muse commented on #28335
I'm a little fuzzy on all the details (especially since the travis machine seems to be running linux, which I missed earlier), but it's possible that the _only_ "short" format it knows about generates a 2-digit year.  I'm not sure how to set the culture/formats for the travis process, though....

[2018-03-23 16:09] chester89 commented on #25773
@joperezr <https://github.com/joperezr> I'll try the new VS version on
Monday. Meanwhile, what's your advice to get this working on build machines?

‌

2018-03-22 19:54 GMT+03:00 Jose Perez Rodriguez <notifications@github.com>:

--
Yours faithfully,
Gleb

[2018-03-23 16:27] kasper3 commented on #26966
It sounds to me like dotnet package in AUR repository should require max supported version specified for ncurses and other native dependencies so the package manager informs the user that "hey, updating ncurses will break such and such dependent packages". The way dependency handling stuff usually works in distro packages.

[2018-03-23 16:34] jogleasonjr commented on #26966
@himejisyana are you building from the integrated terminal in VSCode, or using the debugger? If the former, you can just set `TERM=xterm` once in the integrated terminal. If the latter, what you're doing is possible in `tasks.json`. See what I wrote above for an example of that.

In both case you wouldn't need to hijack your PATH or the dotnet executable.

Side note - if you use `xterm-256color` i

[2018-03-23 16:40] dotnet-mc-bot opened #28411 "Test failure: System.IO.Tests.Perf_Directory/RecursiveCreateDirectory(depth: 1000, times: 1)"
All RecursiveCreateDirectory tests are failing

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180323.06/workItem/System.IO.FileSystem.Performance.Tests

The test `System.IO.Tests.Perf_Directory/RecursiveCreateDirectory(depth: 1000, times: 1)` has failed.

System.Exception : Benchmark did not execute any iterations.  Please

[2018-03-23 16:41] #28191 closed

[2018-03-23 16:41] #28240 closed

[2018-03-23 16:41] #28338 closed

[2018-03-23 16:41] #28354 closed

[2018-03-23 16:43] Clockwork-Muse commented on #28409
Assuming [this code](http://www.yoda.arachsys.com/csharp/DoubleConverter.cs) is accurate, the real values are:

[code]
...and those 8s start at index 18.  It looks like it's being rounded up, which would be expected (try it with a precision of 1, all of them get 2).

Given [the documentation for the G format string](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-forma

[2018-03-23 16:43] danmosemsft commented on #28411
All RecursiveCreateDirectory tests are passing on Windows, failing on Unix.

I thought it could be this (you can't do this -- you have to filter out using attributes or it gives this error that it didn't get any iterations)
[code]
.. except that tests with other depths are failing also.

Suggest you remove these two lines and break up test/use attributes to filter by OS, if needed.

@Anipik

[2018-03-23 16:46] wfurt commented on #28202
all sockets tests passed after #28203 was fixed. There are still failing HTTP tests and that should be investigated separately.

[2018-03-23 16:46] #28202 closed

[2018-03-23 16:52] safern commented on #28352
@flipnavara can we fix this in libgdiplus to make it work by default?

Marking as future as this is libgdiplus behavior.

[2018-03-23 16:53] wfurt commented on #28411
Linux has MAXPATH around 4k and that leaves you about 3 characters per name. This should be predictable and easy to verify with strace,.

[2018-03-23 16:57] Anipik commented on #28411
I am on it

[2018-03-23 16:58] soualid commented on #23401
We are migrating a .net application (4.5 under windows) to dotnet core and we also noticed that `HttpClient` is ~20 times slower using dotnet core (2.0.5) under linux.

Our application is using a lot of microservices, we'll have wait for this issue to be addressed (hopefully in dot net core 2.1) before moving forward.

[2018-03-23 17:06] wfurt commented on #25040
.netcore is supported on OSX 10.12 and above. Even if we don't add explicit check, the socket call should fail and return error.

[2018-03-23 17:07] KrzysztofCwalina commented on #28379
There are several related efforts in corfxlab. We should try to unify (or make them consistent). See:
https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.ReaderWriter/System/Buffers/Writer/BufferWriter.cs
https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.ReaderWriter/System/Buffers/Writer/BufferWriterT_ints.cs
https://github.com/dotnet/corefxlab/blob/master/src/Syst

[2018-03-23 17:11] wfurt commented on #28353
Even if not default, the curl handler is part of the product. Also, you should probably not mix runtime and build time settings. This should probably be moved to source-build to make build more flexible.
Once can possibly argue this for there dependencies like kerberos or ssl. I would expect practical impact only one very small embedded system @kasper3 .

[2018-03-23 17:14] joshfree commented on #28274
/cc @joperezr

[2018-03-23 17:15] filipnavara commented on #28352
@safern I think that's a question for Linux distro maintainers. There are two text rendering backends in libgdiplus. The default one is using Cairo (https://cairographics.org/manual/cairo-text.html), which explicitly calls the text API unsatisfactory for any serious use:

The other one uses the Pango library for text layout and supports some more advanced scenarios. It's a matter of pushing the di

[2018-03-23 17:15] whynotme8998 commented on #11224
var sp = ServicePointManager.FindServicePoint(new Uri("http://foo.bar/baz/123?a=ab"));
sp.ConnectionLeaseTimeout = 60*1000; // 1 minute

This code is placed in the constructor?

[2018-03-23 17:15] ahsonkhan commented on #27580
Ah yes, you are right. I must have linked to the wrong place. I can't seem to get the pass/fail data from that run anymore.
From https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netcoreapp+CGroup_Release+AGroup_x86+TestOuter_false_prtest/10498/

The following links no longer show any failures:
Failed Test Runs
[Windows.10.Amd64.Open](https://mc.dot.net/#/user/dotnet-maestro-bot/

[2018-03-23 17:28] terrajobst commented on #28328
@maryamariyan

Our primary goal with the comment was to ensure we’re applying the concept consistently across our core types. If the concept doesn’t make sense for a specific type I see no problem with dropping it. However, if they just happen to not be applicable due to the current implementation but they make sense, we should consider tweaking the implementation to enable the scenario too. But i

[2018-03-23 17:28] #28328 closed

[2018-03-23 17:35] danmosemsft commented on #27580
@dotnet/dnceng for @ahsonkhan question above.

[2018-03-23 17:41] dotnet-mc-bot opened #28414 "Test failure: System.IO.Tests.Perf_Directory/RecursiveCreateDirectory(depth: 100, times: 10)"
@anipik please disable RecursiveCreateDirectory perf test for .NET Framework, as it hits path limit.

The test `System.IO.Tests.Perf_Directory/RecursiveCreateDirectory(depth: 100, times: 10)` has failed.

System.IO.PathTooLongException : The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248

[2018-03-23 17:42] danmosemsft commented on #28204
`[ping6: permission denied (are you root?)` @wfurt do you need to be root on alpine to do ping?

[2018-03-23 17:52] karelz commented on #28114
Progress on bugs: https://twitter.com/ziki_cz/status/977239890642391040
Highlights:
* Awesome progress on 2.1 bugs in both bug fixes and triage - we asked the teams to properly apply 2.1 bar and push nice-to-have, non-critical issues into Future.
    * Thanks all contributors for helping us with 2.1 bugs!!!
* Issues without milestone are under control, kept low. We have only 2 issues without miles

[2018-03-23 17:53] geoffkizer commented on #22885
This is just a test issue so I don't think it's a must-have for 2.1.

[2018-03-23 17:57] wfurt commented on #28204
The calling process needs to have NET_ADMIN capability (or be root)
This is needed as ping sends ICMP packets and that is privileged operation.

Now, on "normal" distribution this is done by setting "suid" bit on the ping binary so ordinary super will get that granted for "free".

furt@net-dale:~$ ls -al /bin/ping
-rwsr-xr-x 1 root root 60288 Jun 15  2016 /bin/ping

Now, on Alpine, ping is only li

[2018-03-23 17:58] ufcpp opened #28416 "grapheme enumeration"
ported from https://github.com/dotnet/corefx/issues/24093#issuecomment-375585062

[A document of `TextElementEnumerator `](https://msdn.microsoft.com/en-us/library/system.globalization.textelementenumerator(v=vs.110).aspx) says that the .NET Framework defines a text element as a grapheme. However, what exactly does this "grapheme" means? Should the grapheme be the same as defined in ["Grapheme Clu

[2018-03-23 18:01] caesar1995 commented on #22885
Ok, I will pick other 2.1 test issues.

[2018-03-23 18:01] geoffkizer commented on #28045
Agreed.  Also, if we add digest support to this cache, then (a) we need to cache the token, not just the credentials, and (b) we need to cache the auth type (basic vs digest) so we know which one to use for pre-auth.

[2018-03-23 18:02] benaadams commented on #28416
/cc @GrabYourPitchforks

[2018-03-23 18:03] saurabh500 commented on #28337
With SqlConnection, a connections can be made to servers which do not have any activity for extended periods of time, where a transaction request is sent and the client is waiting for server to finish a long running transaction and return after 15-20 minutes.
As a result, the connection can go idle. This leads to network devices drop connections to Sql Server and is very prevalent in case of conne

[2018-03-23 18:03] filipnavara commented on #28352
On a second thought I think most of the Linux distributions already have Pango installed, so maybe it should just be used when available without an extra configuration option. I am no expert on autoconf/automake to make that possible. Additionally, the Pango backend needs some serious testing.

[2018-03-23 18:10] MichaelSimons opened #28418 "Segmentation fault (core dumped) with microsoft/dotnet:2.0-runtime-stretch-arm32v7"
@Zuendelmeister commented on [Fri Mar 23 2018](https://github.com/dotnet/dotnet-docker/issues/443)

## Steps to reproduce the issue
1. Install docker ce on a raspberry pi 3
2. Start microsoft/dotnet:2.0-runtime-stretch-arm32v7 container with dotnet core code. Code uses http client that sends via post to a rest endpoint several times.
3. Code:
[code]

## Expected behavior
The code should just send

[2018-03-23 18:12] MichaelSimons commented on #28418
This looks to be a general issue with the FX on raspberry pi rather than an issue specific to the microsoft/dotnet Docker image.

[2018-03-23 18:14] JeremyKuhne commented on #28379
@KrzysztofCwalina thanks for the links! I've updated the text with design goals and will review the other efforts.

[2018-03-23 18:16] jnm2 commented on #28410
Ohhhh.... 😮

[2018-03-23 18:22] Eilon opened #28419 "Porting AppDomain to AssemblyLoadContext issue with ApplicationBase and PrivateBinPath"
_From @DomZZ on March 23, 2018 9:10_

I'm aware that AppDomain is deprecated and replaced partially by AssemblyLoadContext.
But I'm facing to a new problem that I'm not able to resolve  :

I have this code in .Net Framework 4.6.2 :
[code]

I've replaced this by that :
[code]

RunInThread method call an override of AssemblyLoadContext and proper instanciate method and load dependencies, this is wor

[2018-03-23 18:22] Eilon commented on #28419
_From @natemcmaster on March 23, 2018 16:30_

Hey @DomZZ, it looks like this issue belongs on https://github.com/dotnet/corefx. I don't see anything specific in this about ASP.NET Core. We can move the issue for you, or you can re-open it yourself it you'd like.

[2018-03-23 18:24] Eilon opened #28420 "Localization: using resource files when switching CurrentUICulture ignores the translations"
_From @maxmantz on March 23, 2018 8:1_

Hi,

I have an issue while trying to work with `CurrentUICulture`. Based on a Pluralsight course, I have created a console app which should use resource files to translate an enum into both English and German.

However, even after changing the `CurrentUICulture` to German, the translation is not picked up by my machine. The weird thing is, that the official

[2018-03-23 18:27] MattGal commented on #27580
I took a quick look at this.  Everything behaved as expected, I'll try to explain and give some recommendations:

First I went and found the failing tests directly from the linked Jenkins log's console output:

17:44:35 [Windows.10.Amd64.Open] [{"Key":{"job.name":"ce9dc65d-60e6-4d06-807b-854c37d77eb2"},"Data":{"Analysis":[{"Name":"xunit","Status":{"pass":313686,"fail":10,"skip":1273}}],"WorkItemSt

[2018-03-23 18:31] #28371 closed

[2018-03-23 18:40] #26901 closed

[2018-03-23 18:41] Anipik commented on #24728
@stephentoub is anything left here ? Coreclr and Corefx are merged. Corert doesnt have anything except the common folder

[2018-03-23 18:43] karelz commented on #23401
@soualid you can try 2.1 right now. It has the new networking stack mentioned above, which is faster, esp. on Linux.
* Try .NET Core 2.1 Preview1 - it is opt-in there (see [details](https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-net-core-2-1-preview-1/)):
    * Environment variable: `COMPlus_UseManagedHttpClientHandler=true`
    * AppContext: `System.Net.Http.UseManagedHttpClientHan

[2018-03-23 18:46] ajaybhargavb commented on #28371
Thanks @pjanotti

[2018-03-23 18:55] jkotas commented on #28419
This issue was moved to dotnet/coreclr#17156

[2018-03-23 18:55] #28419 closed

[2018-03-23 18:57] stephentoub commented on #24728
I still see some uses of source/destination after your changes:
[code]
so it'd be good to clean those up, too.

If the only streams in corert are in shared, then there's nothing special to be done there.

Thanks.

[2018-03-23 19:08] Eneuman commented on #28409
The usecase I’m working on is the following:
A user wants to calculate the correct dosage of medication that shoud be prescribed. The user enters numbers into text boxes that are later used in calculations. It’s important that the number entered is exactly the same even after the convert. Maby I shouldn’t use decimal but another type instead?
The scale and precision of the number  entered in the t

[2018-03-23 19:10] davidsh opened #28423 "PlatformHandler_HttpProtocolTests.GetAsync_Chunked_VaryingSizeChunks_ReceivedCorrectly fails"
Discovered this while running System.Net.Http Outerloop tests:

[code]

[2018-03-23 19:14] filipnavara commented on #20884
@akoeplinger How feasible would it be to run the CoreFX System.Drawing.Common tests as part of the CI for libgdiplus?

[2018-03-23 19:16] BredStik commented on #24786
Anyone noticed that the resourceCulture static private field is always null?  I think this is what leads to always retrieving the default culture resource.

See:

`private static global::System.Globalization.CultureInfo resourceCulture;`

Has this been resolved?  Still observing this as of today.

[2018-03-23 19:19] fanoI commented on #28409
Use decimal to avoid double troubles...

[2018-03-23 19:23] davidsh opened #28424 "Test failure: PlatformHandler_HttpClientHandler_ResponseDrain_Test / GetAsyncWithMaxConnections_DisposeBeforeReadingToEnd_KillsConnection"
Discovered this while running System.Net.Http Outerloop tests:

[code]

And after getting this exception, the test hangs due to some await problem regarding the loopback server response.  It looks like a loopback server bug or a place where a SocketException needs to be handled better.

## Failures history

Build | OS | Details
-- | -- | --
20180225.01 | Win7 | SocketException: An existing connect

[2018-03-23 19:27] kasper3 commented on #28353
Maybe make libcurl dependency same as libssl using shim https://github.com/dotnet/corefx/blob/051f53b874ad7eb16c817d72c7ee8aa5a4fa1c79/src/Native/Unix/System.Security.Cryptography.Native/opensslshim.h. Though the build machine still needs to have libcurl (like in case of openssl) to <ins>build</ins>, the target system will continue to <ins>work</ins> on runtime.

[2018-03-23 19:34] Eneuman commented on #28409
Will the same conversion behaviour occur if I do string -> decimal -> double?

[2018-03-23 19:35] stephentoub commented on #28353
That is the plan.

[2018-03-23 19:50] satano commented on #21129
@safern I am ready for feedback. :)

[2018-03-23 20:25] caesar1995 commented on #26725
Dupe #25676

[2018-03-23 20:25] #26725 closed

[2018-03-23 20:27] #26145 closed

[2018-03-23 20:36] stephentoub commented on #23782
The issue has to do with StreamContent.  There are two ways of getting out the stream:
- Via SerializeToStreamAsync, which is used by HttpContent.CopyToAsync
- Via CreateContentReadStreamAsync, which is used by HttpContent.ReadAsStreamAsync

When a StreamContent is created, its ctor stores the stream's Position.  SerializeToStream rewinds the stream to that Position; CreateContentReadStreamAsync d

[2018-03-23 20:38] divega commented on #23899
@jhudsoncedaron If we changed the implementation of IDbParameter.Precision and IDbParameter.Scale to preserve the value passed as you ask that would make this simple test pass:

[code]
But SqlClient 4.3.0 would still have a bug because it would not use the new stored value. The [implementation](https://github.com/dotnet/corefx/blob/de7ae0edd4ad53a1142f2cf9fdfa944bca7dbc8c/src/System.Data.SqlClient

[2018-03-23 20:48] jhudsoncedaron commented on #23899
@divega : I think you didn't check what my patch actually does. It just changes it so the implementation of IDBDataParameter calls the virtual method so that override in the derived class picks up either call.

[2018-03-23 20:48] divega commented on #23899
@ajcvickers @roji @bricelam @bgrainger @cincuranet this seems to be a subtle issues that could affect any provider that was written for .NET Core 1 (with the notable exception of Microsoft.Data.Sqlite which ignores Precision and Scale anyway :smile:). Probably worth having a "spec test" for this.

[2018-03-23 20:49] divega commented on #23899
@jhudsoncedaron I missed that you have submitted a patch. Can you pleas point me to it?

[2018-03-23 20:51] jhudsoncedaron commented on #23899
(scrolls up)
https://github.com/joshudson/corefx/commit/d3599fcc23be92987b2374c29a24187ed025db42
https://github.com/dotnet/corefx/pull/23902

[2018-03-23 21:05] Clockwork-Muse commented on #28409
The scale and precision of the number entered in the text box depends on what type of medication that is prescribed.

.... eh... it's complicated.

On the one hand, having a specific precision and decimal floating point is more accurate from a "record" view.  On the other hand, since the numbers here are likely a _measurement_, floating point is probably more correct, in the sense that minor error

[2018-03-23 21:14] divega commented on #23899
@jhudsoncedaron it would be really nice if we could simplify things like this. Unfortunately that would break the existing providers that like SqlClient [don't override the properties from the base class but instead re-implement the interface](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlParameter.cs#L547): If you use the base class to set pre

[2018-03-23 21:17] benaadams commented on #28044
`ThrowHelper.ThrowArgumentValidationException(startSegment, startIndex, endSegment);`

`endIndex` isn't required, we know its wrong, the other three params are checked by the handler, if its none of them then it can be inferred its `endIndex` that is the problem:

[code]

[2018-03-23 21:24] danmosemsft opened #28430 "Last API review nits for 2.1"
Aside from the regularlization of span related parameters completed recently by @Anipik , there were some other nits identified in new APIs that we want to fix before release.

These are described here
https://github.com/dotnet/apireviews/pull/63

The line numbers in the comments reference this API list
https://raw.githubusercontent.com/terrajobst/apireviews/a1671f88d1219d2a16e0abfc47e79e3d4c7ed82

[2018-03-23 21:30] divega commented on #23899
@jhudsoncedaron That wouldn't work because you are not going to be able to change all existing providers. I disagree that there is a defect here. The defect was in SqlClient 4.3.0, because it had not transitioned to the correct pattern, and I would like to understand why can you just move to 4.4.0.

[2018-03-23 21:52] jhudsoncedaron commented on #23899
No matter how many times I rewrite this it still comes out sounding rude. Boo.

Having to re-impalement the interface in the derived class defeats the purpose of having the base class. That's the defect I'm trying to get rid of and you already acknowledged it. I am quite capable of searching this tree and fixing all the providers within. As for providers not in this tree, some of them will be brok

[2018-03-23 21:58] divega commented on #23899
@jhudsoncedaron I don't disagree that making this simple would have been nice. We wanted to do it in .NET Core 1.0 and we did. But compatibility comes with a baggage of complexity.

[2018-03-23 22:40] karelz commented on #28403
Simplified repro - it repros on .NET Core 2.0. I wonder if it is by design.

[code]

[2018-03-23 22:42] caesar1995 commented on #26091
Not able to repro locally in VM. Checked the history, no failure since 12/23.

I'm not super sure about the query I used:

[code]

And the only results are the above two in problem description. Does this look right?

/cc: @davidsh @wfurt

[2018-03-23 22:44] caesar1995 commented on #26091
If the query is correct, I think we can close the issue.

[2018-03-23 22:47] karelz commented on #28418
@Zuendelmeister can you try latest .NET Core 2.1? (Preview 1 - ideally also with the new stack)
If it still repros, please provide stack trace from the core dump.

[2018-03-23 22:47] #28344 closed

[2018-03-23 22:49] karelz commented on #28423
@davidsh did it fail once or reliably?

[2018-03-23 22:50] davidsh commented on #28423
Fails 100% every time I run it on my dev box.

[2018-03-23 23:09] eerhardt commented on #28409
See also the excellent answer by @tannergooding here:  https://github.com/dotnet/corefx/issues/19521#issuecomment-302486502.

This is how IEEE floating points behave, and the behavior is the same as far back as .NET Framework 2.0.  (I couldn't test any further back on this machine.)

Closing as this behavior can't be changed.

[2018-03-23 23:09] #28409 closed

[2018-03-23 23:10] tarekgh commented on #28430
@maryamariyan will be able to work on this during next week?

[2018-03-23 23:18] divega commented on #23899
I noticed the issue @bgrainger filed. @roji, at first glance your provider has the same issue, correct?

Since the correct pattern is hard to enforce without common tests, we may have ended with .NET Core providers that were built for 1.0 and don’t work correctly in 2.0. We should consider our options.

[2018-03-23 23:18] krwq commented on #28402
cc: @shmao @zhenlan @huanwu @yujayee

[2018-03-23 23:28] rmkerr commented on #28406
This will also throw the expected exception on .NET Framework 4.7.2
[code]
This situation is actually quite interesting. For compatibility reasons, we usually allow creation of relative URIs when there is a scheme but no host. That's based on [section 5.4.2](https://tools.ietf.org/html/rfc3986#section-5.4.2) of the RFC:
[code]
It looks like we're running into a situation where we're disallowing th

[2018-03-23 23:32] caesar1995 commented on #27527
There are 45 occurrences from 2018/02/20 to 2018/03/13. (The most recent failure is in 2018/03/13).

Not able to repro in my Ubuntu VM.

[2018-03-23 23:33] stephentoub commented on #28402
I put up a fix at #28408 this morning.

[2018-03-23 23:49] karelz commented on #27527
Can you try it via repro tool?

[2018-03-24 00:00] caesar1995 commented on #27527
I'll try it.

I will work on Windows issue #25640 first.

[2018-03-24 00:20] dangi12012 opened #28433 "System.Numerics.Vectors and Span<T>"
Vector3.CopyTo(Span<T> span)

[2018-03-24 00:25] sdmaclea opened #28435 "[Arm64] System.Globalization.Tests.InvariantModeTests 79 tests are failing"
[code]
7 x
[code]
1x
[code]
5x
[code]
5x
[code]
8x
[code]
5x
[code]
5x
[code]
...

[2018-03-24 00:29] sdmaclea opened #28436 "System.IO.Pipes.TestsAnonymousPipeTest_Specific.Linux_BufferSizeRoundtrips needs elevated priviledges to pass"
[code]

Passes if run as sudo.

@jkotas

[2018-03-24 00:33] sdmaclea opened #28437 "System.Net.Tests.HttpWebRequestTest.KeepAlive_CorrectConnectionHeaderSent"
Looks like should be marked Conditional on `LocalServerAvailable`

[code]

[2018-03-24 00:35] sdmaclea opened #28438 "[Arm64] System.Text.Tests.EncodingTest.TestRoundtrippingSpecificCodepageEncoding fails"
[code]

[2018-03-24 00:45] tmat commented on #25739
I believe the test failures have been fixed by https://github.com/dotnet/corefx/pull/28185.

[2018-03-24 00:45] #25739 closed

[2018-03-24 00:51] tarekgh commented on #28420
I just cloned the repro and tried it and it is working fine. I didn't change anything at all in the repro code. I have used .net core 2.1 preview 1

[code]

[2018-03-24 00:58] tarekgh commented on #28420
@maxmantz I am not sure why this didn't work for you but please try to ensure the folder ```de-DE``` exist after you compile the app and placed under the app output folder. e.g. in my case

[code]

[2018-03-24 01:00] #28420 closed

[2018-03-24 01:09] davidfowl commented on #28436
It's pipes not pipelines 😄

[2018-03-24 01:20] maxmantz commented on #28420
Restarting my machine and installing the latest preview build of the SDK seemed to work. Mysterious indeed, but I'll take it. Thanks for your help!

[2018-03-24 01:28] eerhardt commented on #28363
Sorry, I didn't get back to this sooner - I've been super swamped.

As I've replied on the PRs - they should both target `master`.  `master` is still on `2.1` versioning and will be integrated into `release/2.1` again in the near future.  So `2.1` related changes should all go into `master` first, and then if it is necessary to go into `release/2.1` before the integration, they can be ported.  But

[2018-03-24 01:36] #24728 closed

[2018-03-24 01:42] #22626 closed

[2018-03-24 01:59] sdmaclea commented on #28437
Removed [Arm64] Because I think this is a testbug.

[2018-03-24 03:03] davidsh commented on #28437
This is a test bug.  The test should only be testing what the client sent to an endpoint. But it currently does this via sending a request to the echo server which echoes back the request headers.

However, this test seems to be running through a proxy server.  The "Via:" header sent in the request proves that.  And the proxy server is changing the request headers before they reach the final endpo

[2018-03-24 03:06] sdmaclea commented on #28437
And also marked outerloop because it requires a special server configuration.

This was run inside QDT firewall.  That is probably the proxy you are seeing.

[2018-03-24 03:07] sdmaclea commented on #28437
@jkotas

[2018-03-24 03:12] maxmantz commented on #28420
The error has reappeared - and the mystery deepens.

Continuing through the course, the use of `IStringLocalizer<T>` was demonstrated. Following along, I encountered the same error in an ASP.NET Web project. The localization doesn't get picked up. As with the previous error, in this one too, the official source files of the course don't work either. I've pushed changes to my repo containing the co

[2018-03-24 03:18] maxmantz commented on #28420
My output directory:
[code]

[2018-03-24 04:11] welkie commented on #26966
That's very true. I should make it clear that I don't expect the maintainers of these packages to foresee how the various distros will use them. The onus is on me to handle my own software installs. I chose to use a rolling distro without fully understanding the ramifications of that.

[2018-03-24 04:19] maryamariyan commented on #28430
@danmosemsft @tarekgh yes sure.

[2018-03-24 05:42] ahsonkhan commented on #21037
From https://github.com/dotnet/corefx/pull/28441
System.Net.Internals.SocketExceptionFactory+ExtendedSocketException
OSX.1012.Amd64.Open-x64-Debug
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/d0ee469325e596ff559cea916b08670f94ca84a4/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerResponseHeader

[2018-03-24 05:48] ahsonkhan commented on #28433
Thanks for the suggestion @dangi12012. Can you please the API review process guidelines [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

For reference. here are the existing CopyTo methods on Vector3:
[code]
cc @eerhardt

[2018-03-24 05:53] #28400 closed

[2018-03-24 09:38] davidfowl opened #28445 "ManagedWebSocket implementation doesn't efficiently support reading when small buffer size used"
The end to end scenario is to allocate as little memory as possible for idle websockets since it's possible to have more concurrent websockets if we don't burn memory if there's no data (http://goroutines.com/10m). Today, the websocket implementation has an internal buffer that can be controlled during creation of the websocket. This buffer can be 14 bytes minimally (size of the largest websocket

[2018-03-24 09:38] davidfowl commented on #28138
I think for 2.1 we'll do this:
- Fix the issue described here https://github.com/dotnet/corefx/issues/28138#issuecomment-373773307. I just opened https://github.com/dotnet/corefx/issues/28445
- Design this API in 2.1 and if it doesn't make it, it's not the end of the world. We can look at adding it in 2.2. It just means we won't be able to avoid the send buffer in the short term.

[2018-03-24 12:31] svick commented on #28410
I don't like that this would depend on `Environment.NewLine`. Transferring files between different OSes is common, so I think there is a good chance you will need to process files with different line endings than those that are native to your OS. Instead, I think a setting that would match any line ending (independent of the current OS) would be better. It could be called something like `AnyNewLin

[2018-03-24 14:38] madelson commented on #26623
@saurabh500 thanks. I thought I'd seen some issues with the label "bug" so I wanted to make sure that this wasn't being considered "by design" per some of the earlier discussion.

[2018-03-24 15:36] bgribaudo commented on #26691
Thanks, @tarekgh!

[2018-03-24 16:10] jzabroski commented on #28410
Petr, that is exactly what I meant if you looked at how I defined it:
(?=[\r\n|\z) can match any mix of line endings, even files trashed by mixed
line endings. AnyNewline is a MUCH better name than what I came up with.
Love teamwork!

Adding a portable sigil for Environment.NewLine probably isn't a bad idea,
but the only pragmatic way I could think of doing it would be to export all
Regex sigils a

[2018-03-24 16:15] jzabroski commented on #28410
Actually, I see now that in my original description my description of the behavior is inconsistent. Thank you for that wonderful table. I will update the first post with it.

[2018-03-24 17:36] jwisener commented on #25773
what a nightmare!

[2018-03-24 17:56] tarekgh commented on #28420
I am not seeing the de-DE folder, so I guess there is something wrong in the build process and not in picking up the resources. if you can share the exact project repro the issue that will help to diagnose what could be wrong.

[2018-03-24 18:00] maxmantz commented on #28420
The code is in the original [repo](https://github.com/maxmantz/CurrentUICultureDemo) under `StringLocalizersDemo`. The culture used in that example is `en-US`, and the resources.dll appears to be in the output folder.

[2018-03-24 18:05] tarekgh commented on #28438
@jkotas who can look at this one as it looks arm64 specific issue?

[2018-03-24 18:09] kasper3 commented on #28353
`dotnet new` fails without libcurl even when CurlHandle is disabled.

With new Ubuntu minimal installation (e.g. `docker run -it ubuntu`), installed dotnet using generic linux tarball

[code]

Then running `dotnet new console -n test` fails with:

[code]

Perhaps changing the libcurl binding in a lazy manner (shim/dlopen approach used in `opensslshim.cpp`) would prevent it from requiring libcurl e

[2018-03-24 18:13] tarekgh commented on #28420
ok, now this is ASP.et specific. I'll reactivate the original ASP.Net issue as this is not the corefx issue now.

[2018-03-24 18:24] kasper3 commented on #28420
I also tested with dotnet-cli 2.1.103 and 2.1.300-preview3-008414 on Windows 10 and got the expected result:

[code]

For ASP.NET localization, you can go through this article to understand how to configure localization in app builder pipeline: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization.

[2018-03-24 18:27] maxmantz commented on #28420
Sorry to cause confusion, the `Globalisation` project works fine and is solved - the error appears in the second project `StringLocalizersDemo`. There the issue still persists. Please read the readme of the repo for the explanation.

[2018-03-24 18:27] Petermarcu commented on #28353
I don't think there has been a complete end to end build of the SDK with the curlhander off by default. I've been waiting for one. Did you try setting the env var?

[2018-03-24 18:29] kasper3 commented on #28420
@maxmantz, your StringLocalizerDemo is ASP.NET Core application for which I have shared a documentation link with you. Please read

[2018-03-24 18:35] maxmantz commented on #28420
@kasper3 I've seen the documentation, and I understand it.

Even if there is an error in my small example (which you are welcome to check and point out because I spent hours trying to find it), it doesn't explain why the external source files I downloaded have the same issue.

[2018-03-24 18:42] karelz commented on #28065
Test `System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_Authentication_Test` / `HttpClientHandler_MultipleAuthenticateHeaders_PicksSupported` failed consistently on RedHat69 only, before it was disabled - see [test history](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180323.01/workItem/System.Net.Http.Fun

[2018-03-24 18:47] MarcoRossignoli commented on #28379
In case of growable could be useful to have a boolean properties to know if VSB has grown? In a hot path could be useful avoid to add pressure to underlying pool(today) and improve performance by choosing the right size of initial buffer.

[2018-03-24 18:51] kasper3 commented on #28353
Ah that change was made 11 days ago, thought CLI must have picked up.
Tried with
`rm -rf test; DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLE=true dotnet new console -n test`
and (with old environment name https://github.com/dotnet/corefx/pull/26763)
`rm -rf test; COMPlus_UseManagedHttpClientHandler=true dotnet new console -n test`
same error (unless I run `apt install libcurl4-openssl-dev`)

[2018-03-24 18:58] bcronce opened #28447 "Dequeue growth method optimizations"
The [Grow()](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Channels/src/System/Collections/Generic/Dequeue.cs#L94) method some peculiarities that could potentially help with reading or optimizations.

First off `Debug.Assert(_size == _array.Length);` guarantees that these two values are synonymous. Instead of a mix and match of using `_array.Length` in some areas and `_size` in

[2018-03-24 19:10] kasper3 commented on #28420
@maxmantz, with `dotnet run -p StringLocalizerDemo` I am getting `This is our company` output at `http://localhost:52855/?about=company`, and `StringLocalizersDemo\bin\Debug\netcoreapp2.0\en-US\StringLocalizersDemo.resources.dll` exists.
Also tried with

[code]

then with port 5000 `http://localhost:5000/?about=company` , same result.

I would check Event Viewer in Windows to find if there is some

[2018-03-24 19:16] maxmantz commented on #28420
@kasper3 I've looked through the logs and the following error appears under `System` when I start the app:

[code]
Apart from that, no errors get logged.

[2018-03-24 19:28] jkotas commented on #28438
This issue was moved to dotnet/coreclr#17192

[2018-03-24 20:15] Petermarcu commented on #28353
There are changes happening to the build system so the flow is not ideal right now. It could have made it through though. I do see merges into the cli repo that say it should have picked up the changes.

[2018-03-24 20:40] maxmantz commented on #28420
With the help of @kasper3 I was able to resolve the issue. Thanks again!

[2018-03-24 21:20] liserdarts opened #28448 "NamedPipeServerStream.EndWaitForConnection throws SocketException on x86/Linux"
I've been running the same code one multiple platforms (amd64/Win 10, amd64/Debian 9, arm64/Rasbian, and x86/Debian 9). In every case making a call to NamedPipeServerStream.Dispose will cause EndWaitForConnection to throw ObjectDisposedException. However when I move the same dll to x86/Debian 9 it throws System.Net.Sockets.SocketException.

Unexpected exception in background thread caused a crash.

[2018-03-24 21:56] bcronce opened #28449 "ConcurrentBag resize simplification"
In the [internal void LocalPush(T item)](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentBag.cs#L748) method, I think the array growth logic is doing extra work.

`Else` is preserving order
[code]

Bags do not guarantee order, just do away with the extra order preserving logic.
[code]

[2018-03-24 22:01] sputier commented on #28281
I'd like to help on this one 😄

[2018-03-24 23:07] bcronce opened #28450 "ConcurrentStack PushRange idea"
[ConcurrentStack](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentStack.cs) has a `PushRange` method that takes in an array/set of items.
[code]

`PushRange` has a very useful optimization in that it creates a pre-made linked list, then attaches the tale to the current head, which makes it very efficient at adding the entir

[2018-03-24 23:47] creyke commented on #15661
Please reconsider this. An explicit SSLv3 "opt-in" option is fundamental to enabling the developing of new services with dependencies on old systems (often owned by other entities). This single issue is preventing our company from using only .NET Core, adding huge complexity to CI and CD when trying to support both .NET Core and, in this edge case, .NET Framework.

[2018-03-25 00:05] stephentoub commented on #28449
While that's true, there's still a performance benefit to the order. Specifically, ConcurrentBag uses a work-stealing queue, where a thread pushes/pops from it, meaning a thread is often going to be operating on data it recently operated on or near, providing cache coherency benefits. That can be very valuable.  These queues grow only rarely, and it's not worth losing that benefit to save on an Ar

[2018-03-25 00:05] #28449 closed

[2018-03-25 00:09] stephentoub commented on #28447
Or when the multiplication overflows, which is why the code referred to exists.

[2018-03-25 00:14] danmosemsft commented on #15661
@pmarcu

[2018-03-25 00:19] stephentoub commented on #15661
I still believe we already have the API, e.g. SslProtocols. We default to system defaults, and then if the dev overrides that by explicitly specifying something else, we respect that choice. We should just ensure we're doing that if we're not already.

[2018-03-25 00:25] creyke commented on #15661
Also, in the meantime, I still get the same error if I'm using plain old HTTP...

The service I want to consume is exposed over both HTTP and HTTPS... these work fine on my local box (64bit win10) over either HTTP or HTTPS and fails on 32bit Win10 in Azure Web Jobs (even though I've configured HTTP, not HTTPS). Can't therefore find any short term workaround :confused:

Works:
[code]
Fails:
[code]

[2018-03-25 00:28] ahsonkhan commented on #28281
Great. Go for it :)

[2018-03-25 03:10] sdmaclea opened #28452 "[Arm64] System.Memory.Tests MissingMethodException"
[code]

[2018-03-25 03:12] sdmaclea commented on #28452
Run on Arm64, but this doesn't really look like an arm64 specific issue.

[2018-03-25 04:42] sdmaclea commented on #28452
This may be a case of mismatches tests...

[2018-03-25 05:01] benaadams opened #28453 "CI Failure: System.Reflection.PortableExecutable.Tests.DebugDirectoryTests/EmbeddedPortablePdb_Loaded"
Windows.7.Amd64.Open-x86-Release
[code]
[code]
[code]

[2018-03-25 05:02] benaadams commented on #28453
Seen in https://github.com/dotnet/corefx/pull/25510#issuecomment-375945813

 https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netcoreapp+CGroup_Release+AGroup_x86+TestOuter_false_prtest/10601/

[2018-03-25 05:06] danmosemsft commented on #28453
I have seen the same symptom with unrelated tests...

[2018-03-25 05:57] Eilon commented on #28420
@maxmantz , I'm glad you got it working, and thanks @kasper3 for helping out!

If you do have further issues with ASP.NET Core localization (such as `IStringLocalizer`), please feel free to log a new issue at https://github.com/aspnet/Home/issues

[2018-03-25 06:36] ranouf opened #28454 "ClaimTypes.Sid has a different behaviour than the other ClaimTypes"
Hi,

I m using the namespace System.Security.Claims to generate a new JWT

[code]

When I decode the JWT (for exemple on https://jwt.io/) I can see:

[code]

Is there a specific reason to encode *http://schemas.xmlsoap.org/ws/2005/05/identity/claims/sid* in the JWT instead of *sid*?
In my opinion, the behaviour must the same for all the ClaimsType.

Can you fix that?

[2018-03-25 08:36] phillip-haydon commented on #22781
I downvoted, I upgraded to latest version of VS this morning (15.6.4) and then updated all my projects to 4.7.1 and the binding redirect never happened, had to manually do it. So i don't believe it's fixed in 15.6.3

[2018-03-25 09:36] tompazourek commented on #22781
@joperezr It's not really just an inner implementation detail if all the assembly binding redirects rely on having correct assembly versions. If the assemblies in GAC have their versions all wrong (e.g. it says it is 4.0.0.0 instead of 4.2.0.0), it's expected that there will be all kinds of problems with it, like the stuff that we're discussing in this thread.

Can you please shed some light on wh

[2018-03-25 12:58] stephentoub commented on #28138
And we'll be shipping a new API we don't believe in.  If we don't think this new API added in 2.1 is right, let's try hard to get it fixed for 2.1.

[2018-03-25 13:17] Joe4evr commented on #28379
Some questions, I guess...

* Are these the only methods to build with, or will there be more parity with the existing `StringBuilder` API (`AppendLine`, `string` parameter, et al.) and those are omitted from the post for brevity?
* Is there a reason these don't return the `this` instance to enable fluent building?

[2018-03-25 13:46] deepumi opened #28456 "The type or namespace name 'SocketsHttpHandler' could not be found."
**IDE** - Microsoft Visual Studio Community 2017 Preview (2) Version 15.7.0 Preview 2.0
![image](https://user-images.githubusercontent.com/554039/37875669-afa9afc2-3010-11e8-8aac-26ff1f003fed.png)
**Environment** - Windows 10

**Program.cs(10,49): error CS0246: The type or namespace name 'SocketsHttpHandler' could not be found (are you missing a using directive or an assembly reference?)**

[code]

[2018-03-25 13:57] stephentoub commented on #28456
It's not public in Preview 1; it will be in Preview 2.  In Preview 2 it'll also be used under the covers if you use `new HttpClient()` or `new HttpClientHandler()`.

See the blog post at https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-net-core-2-1-preview-1/ for details on how to try it out in Preview1, which involves setting an environment variable or an appcontext switch.

[2018-03-25 13:57] #28456 closed

[2018-03-25 14:04] danmosemsft commented on #28452
Maybe worth building clean?

[2018-03-25 14:06] #28452 closed

[2018-03-25 14:39] khellang commented on #28379
Speaking of related efforts... There's also the [`InplaceStringBuilder`](https://github.com/aspnet/Common/blob/dev/src/Microsoft.Extensions.Primitives/InplaceStringBuilder.cs) from Microsoft.Extensions.Primitives, which is used in MVC and the HTTP abstractions. Might want to sync up with them as well.

// @pakrym @Tratcher

[2018-03-25 15:17] hopdizzle commented on #14346
@saurabh500 , @danmosemsft: is there a mechanism for running code coverage + report generator locally? I'm looking into contributing on this issue and hoping such a mechanism exists. Thanks.

[2018-03-25 15:24] stephentoub commented on #14346
When you run the tests locally, instead of just doing:
[code]
you can do:
[code]
See https://github.com/dotnet/corefx/blob/968cfcf373633a82e1dc1850e9852e0c491112dd/Documentation/building/code-coverage.md for more details.

[2018-03-25 16:21] stephentoub commented on #28453
https://github.com/dotnet/coreclr/pull/17148

[2018-03-25 16:21] #28453 closed

[2018-03-25 16:40] hopdizzle commented on #14346
@stephentoub thanks. If its fine with you, I'm going to start working this issue. This is my first time contributing and I was wondering if it is acceptable to use the AAA pattern when writing unit tests?

[2018-03-25 17:12] #28435 closed

[2018-03-25 17:12] tarekgh commented on #28435
Issue moved to [dotnet/coreclr #17210](https://github.com/dotnet/coreclr/issues/17210) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-25 17:12] dangi12012 commented on #28433
`static void Showcase()
        {
            Vector3 v = (3, 2, 1); //Asume we have vector or vector<T> SIMD

            Span<float> span = stackalloc float[3]; //Now we want to implement our own operator not implemented in SIMD
            v.CopyTo(span); //getting single element is very slow for vector<T>. Creating an array is also VERY slow compared to c++ SIMD. Solution: SPAN<T>

[2018-03-25 17:16] stephentoub commented on #14346
That's fine. Though we don't need each "section" named with a comment as some people do, and it's also fine to collapse them (I personally disagree with folks that it's a test smell doing so).

[2018-03-25 17:23] JeremyKuhne commented on #28379
Perhaps we should add an EventSource log for this?

[2018-03-25 17:33] JeremyKuhne commented on #28379
@Joe4evr

These were the most critical/obvious (based on current usage). I didn't want to start the discussion with too much complexity. Attacking this in priority order seemed like it would go a little quicker.

Hadn't considered it is all. I'll take a look.

[2018-03-25 17:33] dangi12012 commented on #27707
You were faster than me on this one. .Net team please create support for:
new Vector3(Span<float> Elements)
new Vector<float>(Span<float> Elements)
CopyTo(Span<float> Elements) //Performance!!
public void Deconstruct(out float x, out float y, out float z) //Valuetuple: var (x,y,z) = myvector

[2018-03-25 17:58] dangi12012 opened #28457 "System.Numerics.Vectors missing intrinsics"
There are 100s of Vector<T> commands that would map to a single AVX or SSE instruction that are not present in System.Numerics.Vector. Also there are no Vertical Operators except Dot and BiggerThanAll.
Here are all:
https://software.intel.com/sites/landingpage/IntrinsicsGuide/#

Would help performance if some Vertical Operators would be supported. Like Max, Min, Sum,
[code]
Vector could also be a

[2018-03-25 18:06] karelz commented on #15661
@creyke I don't understand your last comment about HTTP and same error. How is any error over HTTP related to support of SSLv3?
Also, where did you get .NET 4.6.26* versions from? That looks like full .NET Framework version, not .NET Core.

[2018-03-25 18:27] creyke commented on #15661
@karelz Those versions are what the RuntimeDescription.FrameworkDescription returns on .NET Core... there’s no .NET Framework in sight.

It appears when I define an endpoint over HTTP the WCF ServiceClient internally attempts to “upgrade” the protocol to HTTPS regardless... at least, I get the same error as I did over HTTPS. Extremely bizarre.

[2018-03-25 18:30] jkotas commented on #28379
Fluent pattern adds overhead, and it does not work for structs that needs to be disposed.

[2018-03-25 18:35] afnpires commented on #11224
@whynotme8998 I think not. If you're `HttpClient` is singleton and you access multiple enpoints the constructor would not be the correct place to place it.
Check [this implementation]( https://github.com/NimaAra/Easy.Common/blob/master/Easy.Common/RestClient.cs). Also in the README of the project there's a link to a blog post explaining the problem. That article also points to this thread.

[2018-03-25 18:43] karelz commented on #15661
@creyke do you mean [RuntimeInformation.FrameworkDescription](https://apisof.net/catalog/System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription)?

Regarding WCF upgrade to HTTPS - it would be best to ask about it on wcf repo if there is a workaround / setting / something to avoid that. It seems rather remotely related to this issue (in the end-to-end sense, but not in the technical

[2018-03-25 18:48] karelz commented on #15661
OK, I confirmed that .NET Core 2.0 returns `.NET Core 4.6.26020.03` in `RuntimeInformation.FrameworkDescription`.

[2018-03-25 19:18] Joe4evr commented on #28379
Does it, now? Surely, it's less overhead than display class allocation or something.
![](https://i.imgur.com/Uxv8e1Y.png)

[2018-03-25 20:25] mjsabby commented on #22957
The right thing to do is for the C# Compiler to just implement the ability to emit `calli`, it's been a while since the intrinsic proposal was first initially floated.

I even have a working implementation I've been using for a year or so that we use internally at Bing.

https://github.com/mjsabby/roslyn/commit/e6123e0451b26c578a02e677a8a4b3e65d583d61 (or as a nuget package like Microsoft.Net.Comp

[2018-03-25 20:46] bradleypatton commented on #28139
I'm having the same issue. App works fine locally but throws the missing file exception once pushed to Azure. All of the to SqlClient that I can see are to 4.4.3. Is there a workaround that I am missing?

[2018-03-25 21:43] kasper3 commented on #28379
Combining two of @khellang's comment https://github.com/dotnet/corefx/issues/20378#issuecomment-304400894 & https://github.com/dotnet/corefx/issues/28379#issuecomment-375975366, it would be super helpful for almost all the .NET developers if we get a comprehensive blog article or Channel 9 video on all these newly optimized string related types in .NET Core and ASP.NET Core detailing when to use w

[2018-03-25 21:47] liserdarts commented on #28448
After having time to think about this more, I realised that I was running the v2.1-preview1 code on x86/Linux and 2.0.5 everywhere else. So I made a build of the v2.0.5 branch and installed that on my x86/Linux machine. Then the exception went back to an ObjectDisposedException and was caught by my original code.

So it turns out this has nothing to do with the platform but is a difference between

[2018-03-25 21:50] khellang commented on #28379
I think the general guidance (once `Span<T>` and friends officially hits the streets) is to use `Span<T>` (or `ReadOnlySpan<T>`, `Memory<T>`, `ReadOnlyMemory<T>` etc.) whenever you can. `StringSegment`, `ArraySegment<T>` and various other related types (some of which has been around for some time) are all efforts to achieve some of the same benefits as the System.Memory types.

[2018-03-25 21:59] stephentoub commented on #28448
I don't know that we consistently threw ODE for this case previously (disposing while in use is generally considered bad, and as such there are likely race conditions), but if we did and now we're throwing something else, that's something to investigate.

[2018-03-26 01:02] twest820 opened #28466 "[Desktop] FileStream.ReadAsync() fails with System.IO.IOException: The media is write protected."
This occurs sporadically when copying files from an SD card whose write protect tab is not engaged. The FileStream is the only handle opened on the file and is created using

    new FileStream(filePath, FileMode.Open, FileAccess.Read, FileShare.Read, 1024 * 1024, FileOptions.Asynchronous | FileOptions.SequentialScan)

.NET 4.7.1, Windows 10 Fall Creators Update, Lenovo T440s built in Realtek PCI-

[2018-03-26 01:41] jnm2 commented on #28379
Obsolete? https://github.com/dotnet/corefx/issues/20378

[2018-03-26 02:12] bcronce commented on #28447
As long as `MinimumGrow` is a power of 2 and the growth factor is doubling, it should throw a `System.OutOfMemoryException` before it overflows, which makes it functionally identical. I think this assumption is safe since .Net doesn't allow objects larger than 2^31 unless using some large object allocations and `new byte[int.Max]` fails because the included object metadata makes it larger than 2^3

[2018-03-26 03:02] bcronce commented on #28447
Few thoughts come to mind.

1. As long as the type of the array is 2 bytes or larger, it will throw a `System.OutOfMemoryException` before overflowing. *Not sure how `gcAllowVeryLargeObjects` plays into this.
2. The current code will overflow before it reaches `System.OutOfMemoryException` for type `byte`. It starts off at a value of 4, then doubles up to 2^30. At which point `capacity` will overf

[2018-03-26 03:16] bcronce commented on #28447
Maybe something more like

[code]

[2018-03-26 03:57] stephentoub commented on #28447
Oh, this is about the `Dequeue<T>` from the channels library; I read your comment quickly and thought you were talking about `Queue<T>`. Is there a reason you're trying to optimize this method? I'm having trouble imagining a scenario where this kind of difference would be measurable or impactful.

[2018-03-26 06:05] liserdarts commented on #28448
Agreed, but in this case the call to EndWaitForConnection is made before a call to Dispose. EndWaitForConnection is a blocking call made by a background thread. The only other way I know of to cancel the call is with the Close function, which includes this bit of information.

I don't know what other options there are. I started doing this after seeking advice on how to properly shutdown NamedPipe

[2018-03-26 06:36] khellang commented on #28379
No, but with the other new APIs, it's arguable how much value yet another part-or-string type would bring vs the overhead of the type existing at all. So I would say "redundant" 😉

[2018-03-26 07:00] mconnew commented on #15661
@creyke, I can assure you that WCF does NOT change an http address into an https address under any circumstances for a client. Look at the inner exception, we always preserve the original exception thrown by any framework code such as HttpClientHandler.

[2018-03-26 07:14] dotnet-mc-bot opened #28468 "Test failure: System.IO.Tests.DirectoryInfo_GetFiles_str/SearchPatternWithTrailingStar"
Opened on behalf of @Sunny-pu

The test `System.IO.Tests.DirectoryInfo_GetFiles_str/SearchPatternWithTrailingStar` has failed.

Assert.Contains() Failure
    Not found: /tmp/DirectoryInfo_GetFiles_str_zl3nq3px.5uf/SearchPatternWithTrailingStar_75_30e9b6fc/Test1Dir2
    In value:  String[] [\"/tmp/DirectoryInfo_GetFiles_str_zl3nq3px.5uf/Searc\"...]

        Stack Trace:

           at System.IO.Tes

[2018-03-26 07:54] dotnet-mc-bot opened #28470 "Test failure: System.IO.Tests.Perf_Directory/RecursiveCreateDirectory(depth: 100, times: 10)"
Opened on behalf of @Sunny-pu

The test `System.IO.Tests.Perf_Directory/RecursiveCreateDirectory(depth: 100, times: 10)` has failed.

System.IO.PathTooLongException : The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters.

        Stack Trace:

           at System.IO.PathHelper.G

[2018-03-26 08:08] #28470 closed

[2018-03-26 09:15] luigiberrettini commented on #25040
Ok I will use that approach for both OSX and Windows 10.

[2018-03-26 10:33] soualid commented on #23401
We just tried and we can confirm that .NET Core 2.1 Preview 1 is way more performant than 2.0 under linux using docker containers, it now takes around 90ms for `HttpClient` to call our microservices, where it tooks ~400ms using 2.0.5.

Congrats, we are now eagerly waiting for the 2.1 GA versions. :-)

[2018-03-26 10:58] luigiberrettini commented on #25040
On versions below Windows 10 1709 it is not possible to retrieve the keep-alive values set via IOControl and an exception will be thrown when calling the getter of the KeepAliveOption 😞

[2018-03-26 12:24] nfdevil commented on #26891
I've updated my library to 4.5.0-preview3-26326-02 and it suddenly works on ASP.NET Core 2.0.
This can be closed.

[2018-03-26 12:49] los93sol commented on #15661
Is it possible that the unexpected change from http to https is caused by HSTS?

[2018-03-26 13:06] Joe4evr commented on #28379
:confused: The API proposal itself clearly states:

[2018-03-26 13:10] khellang commented on #28379
I'm assuming @terrajobst is referring to the stack-only-ness of `ReadOnlySpan<T>`. That doesn't apply to `ReadOnlyMemory<T>`.

There might be valid reasons for yet another slice-of-string type, but as I mentioned in #20378, the number of these types are getting a bit out of hand and it's hard to know which to use and which to support in libraries.

[2018-03-26 13:15] quasarea commented on #3576
seen .NET Core 2.0.6 released but no DotSettings file there

[2018-03-26 13:16] ppekrol opened #28473 "Discrepancy between Ubuntu and Windows when converting negative numbers to string"
Windows:
[code]

Ubuntu:
[code]

Test:
[code]

On Windows everything is fine, but on Ubuntu I'm getting:
[code]

Also when '−1' is used as a header to 'Kestrel' the response status code is set to 400, but this might be expected, because this is a special character?

[2018-03-26 13:29] ppekrol commented on #28473
Found https://github.com/dotnet/coreclr/issues/1734
Closing...

[2018-03-26 13:29] #28473 closed

[2018-03-26 13:39] bartonjs commented on #28454
Is that `Microsoft.IdentityModel.Tokens.SecurityTokenDescriptor`?  If so, that belongs at https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet.  But a quick check turned up https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/421, which is theoretically fixed in the current version (5.2.1)

[2018-03-26 14:09] #28299 closed

[2018-03-26 15:38] jzabroski commented on #28410
@jnm2 @svick  I updated the original description. Please give feedback.

[2018-03-26 15:43] tmds commented on #26569
@couven92 try building with an openssl 1.0 devel package.

[2018-03-26 15:47] karelz commented on #28448
Can you post a minimal repro reproducing the exception change in 2.1 vs. 2.0?

[2018-03-26 16:05] karelz commented on #27846
The test was disabled here: https://github.com/dotnet/corefx/pull/27821/files#diff-142a110ba6941456cc5d5b7c34ab6b58R87 (switch to SocketsHttpHandler).

The regression seems to be after #27777 - @stephentoub do you have any insights?
Should we consider it 2.1 blocking? (cc @caesar1995)

[2018-03-26 16:05] tannergooding commented on #20714
CC. @eerhardt.

I think I proposed this before you took over the System.Numerics area. It may be worth some discussion.

Basically, this is proposing that we provide a (general purpose) set of APIs that will take advantage of the underlying hardware, where possible, but for which we cannot just make the existing methods work due to back-compat concerns (or IEEE compliancy concerns).

[2018-03-26 16:17] liserdarts commented on #28448
Sure will, as soon as I have time. Will probably get it done tonight.

[2018-03-26 16:30] rmkerr commented on #28065
It's interesting that the failure was only on RedHat. @wfurt do you know of any differences that might cause that? If not I'll go ahead and set up a VM to see if I can repro this.

[2018-03-26 16:37] joperezr commented on #25773
I would either try to get build machines on latest VS tools, or if that is not possible then perhaps I would manually add the binding redirects for now on the app.config until the VS tools get updated.

[2018-03-26 16:38] leecow commented on #28010
@dasMulli is correct on the config file name. `application.runtime.config` should be updated to `{ApplicationName}.runtimeconfig.json`

[2018-03-26 16:42] karelz commented on #15661
Looks like we are still strict on allowing only certain protocols:
https://github.com/dotnet/corefx/blob/1ae37add7583acebfa21bbc2074ab627a2f765a7/src/Common/src/System/Net/SecurityProtocol.cs#L20-L26

Not sure if SocketsHttpHandler enforces that as well, I see calls only from WinHttp and Curl handlers: https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=ThrowOnNotAllowed&type=

[2018-03-26 16:45] danmosemsft commented on #28468
Not caused yb https://github.com/dotnet/coreclr/pull/17148 as it's not Windows.

@Anipik

[2018-03-26 16:48] joperezr commented on #28204
@wfurt did you try running the tests after installing iputils on top of the docker image to see if this actually fixes them? If so then I can add the new requirement to the image.

[2018-03-26 16:52] Joe4evr commented on #28450
Is there a reason to have a codepath *specifically* for `IList<T>`? If not, then I'd like to suggest to lower that down to taking in an `ICollection<T>`, since `IList<T> : ICollection<T>` and it'd be better to ask for the lowest common denominator in terms of API surface needed.

[2018-03-26 16:52] danmosemsft commented on #18073
If all that is needed for Unix is a PNSE, that is not a reason to omit this. We should check whether there was a compelling reason eg relating to dependencies.

@stephentoub

[2018-03-26 16:56] dotnet-mc-bot opened #28479 "Test failure: System.Diagnostics.Tests.ProcessTests/TestProcessStartTime"
Opened on behalf of @danmosemsft

The test `System.Diagnostics.Tests.ProcessTests/TestProcessStartTime` has failed.

Assert.InRange() Failure\r
    Range:  (3/26/18 12:54:34 PM - 3/26/18 12:54:36 PM)\r
    Actual: 3/26/18 12:54:34 PM

        Stack Trace:

           at System.Diagnostics.Tests.ProcessTests.TestProcessStartTime() in /root/corefx-1520178/src/System.Diagnostics.Process/tests/Process

[2018-03-26 16:56] danmosemsft commented on #28479
@maryamariyan could you please do this quick one

[2018-03-26 16:58] maryamariyan commented on #28479
sure looking at it.

[2018-03-26 17:03] caesar1995 commented on #27846
I don't think it's regression, because the test [was disabled](https://github.com/dotnet/corefx/pull/27777/files#diff-142a110ba6941456cc5d5b7c34ab6b58L86) against `TargetFrameworkMonikers.Netcoreapp` before we enable it. (It was disabled test before)

I don't know yet. Since it only fails on Win7, I don't think it's high priority. I can setup a Win7 VM and try to repro.

[2018-03-26 17:07] stephentoub commented on #18073
This whole assembly throws PNSE on Unix:
https://github.com/dotnet/corefx/blob/master/src/System.Security.Principal.Windows/src/System.Security.Principal.Windows.csproj#L10
so that as a justification for a few members missing doesn't make sense :)

[2018-03-26 17:14] karelz commented on #27846
@caesar1995 if it is not a regression, then I am fine moving it to Future. @stephentoub any push back?

[2018-03-26 17:24] blowdart commented on #28010
Thank you @dasMulli - updated

[2018-03-26 17:24] joperezr commented on #22781
@phillip-haydon do you mind sharing a diagnostic log of your build? I have definitely tested and made sure that 15.6.3 produces binding redirects automatically, so I believe that there might be something else going on. A diag log would help diagnose what the problem is.

[2018-03-26 17:40] bartonjs commented on #28116
https://dotnetjobresults.blob.core.windows.net/build-f5dca727e75b46eeb1f32c5125045cc8/OSX.1013.Amd64.Open/System.Net.Http.Functional.Tests/e0003ff2-1a82-468f-b4e3-6df991f259b1.log?sv=2015-04-05&sr=c&sig=Pv4nF8xkD90VrwsW5bB%2BCrKVmgQBeQB1Lsnx0djdgcI%3D&st=2018-03-26T16%3A51%3A30.8015020Z&se=2018-04-25T16%3A51%3A30.8015060Z&sp=r

2018-03-26 10:13:11,063: ERROR: executor(399): _execute_command: Execu

[2018-03-26 18:07] Anipik commented on #28468
I am on it

[2018-03-26 18:13] davidsh commented on #26091
I would suggest re-activating the test and watching for new failures.

[2018-03-26 18:16] caesar1995 commented on #26091
This is not disabled test. I think we can close the issue.

[2018-03-26 18:18] caesar1995 commented on #25640
This test will hang forever if run locally. Investigating.

[2018-03-26 18:20] karelz commented on #26091
Agreed. I also don't see any failure after 12/23.

[2018-03-26 18:20] #26091 closed

[2018-03-26 18:32] tdinucci commented on #1244
I would be happy to take this issue on, but it seems to have stalled.  Has there ever been a decision on naming, etc?

I've been doing some digging just to get my head around things.  I _think_ I've a handle on everything apart from the unit tests.  I know I can't just go and submit a PR today but my thinking is that I'd work off CoreClr (mscorlib/System.Private.CoreLib.sln) and this would then ge

[2018-03-26 18:45] JeremyKuhne commented on #28379
The key thing we're missing that this addresses is a low allocation expandable `Span<T>` provider. We could go super simple with something like `ref SpanProvider<T>` cutting all string-like methods and perhaps just providing the functionality as extensions. I'm not fundamentally opposed to going that route, but the fact is that we do provide `StringBuilder`. It is a concept that people are familia

[2018-03-26 19:02] karelz commented on #27217
The test was disabled in #27181

[2018-03-26 19:10] karelz commented on #27217
And it was re-enabled in #27360. Closing.

[2018-03-26 19:10] #27217 closed

[2018-03-26 19:11] tdinucci commented on #1244
@joperezr, @tarekgh

Thanks for clarification on the tests.  Understood in terms finalising the design, I'll pick up once this has been done.

[2018-03-26 19:30] caesar1995 commented on #27211
I disable the test because I saw consistent failure in CI.

I'll take a look.

[2018-03-26 19:41] AlexRadch commented on #28393
I have Windows 10 x64. I run `..\..\..\build . >test.log` command in `C:\Code\corefx\src\System.Runtime\tests` folder. The full log is next:
[code]

[2018-03-26 19:45] AlexRadch commented on #28393
Also you can run `..\..\..\..\build . >test.log` in `C:\Code\corefx\src\System.Runtime\tests\UnloadableAssembly` folder to get short log with errors.

[2018-03-26 19:51] caesar1995 commented on #25640
Yes, this test will hang forever with WinHttpHandler as well.

[2018-03-26 19:54] joperezr commented on #25652
I do believe this is a dupe of #23972 as @jkotas suggests, so closing this one for now.

[2018-03-26 19:54] #25652 closed

[2018-03-26 19:57] davidsh commented on #25640
This is probably a test bug with the loopback (proxy) server.

[2018-03-26 20:12] joperezr commented on #23734
Closing since this is supposed to be fixed by now. Please re-open if the issue persists.

[2018-03-26 20:12] #23734 closed

[2018-03-26 20:18] mconnew commented on #28321
@tannergooding, I understand that there are many bit representations of `NaN` but the value `NaN` is treated more conceptually than as a literal single value in .Net. The change is to switch to using the [`Equals`](https://github.com/dotnet/coreclr/blob/dev/release/2.0.0/src/mscorlib/src/System/Double.cs#L193) method which internally relies on [`double.IsNaN`](https://github.com/dotnet/coreclr/blo

[2018-03-26 20:25] #28209 closed

[2018-03-26 20:34] danmosemsft commented on #27496
This shows a clear view of the whole timeline (may take 30 sec to draw)
https://benchview/trendline?jobgroup=CoreFX&branchId=42&count=2000&jobtype=rolling&rtids=[957]&archids=[23]&mpids=[1292]&cfgids=[2706]&testids=[63752,63751,63754,63753,63756,63755]&

There was a large regression 11/21 but it was reversed 12/15 and is not relevant.
![image](https://user-images.githubusercontent.com/6385855/3793

[2018-03-26 20:35] #26952 closed

[2018-03-26 20:45] danmosemsft commented on #27496
The cause of the regression in WriteCharArray(writeLength: 2) looks like the cause of the 8.5% win in WriteCharArray(writeLength: 100).

![image](https://user-images.githubusercontent.com/6385855/37931763-8aabd5ce-30fb-11e8-8e2d-ee0ed692f60f.png)

Incidentally WriteCharArray(writeLength: 100) has regressed 11% very recently.

[2018-03-26 20:56] benaadams opened #28482 "Test failure: System.Net.Sockets.Tests.ExecutionContextFlowTest / ExecutionContext_FlowsOnlyOnceAcrossAsyncOperations"
Seen in https://github.com/dotnet/corefx/pull/28225#issuecomment-376299061
Fedora.26.Amd64.Open-x64-Debug
[code]
[code]
[code]
/cc @stephentoub

## History of failures

Day | Build | OS | Details
-- | -- | -- | --
3/14 | 20180314.05 | Centos.74 | Actual: 99
3/26 | ? | Fedora.26 | https://github.com/dotnet/corefx/pull/28225#issuecomment-376299061  - Actual: 117

[2018-03-26 21:20] caesar1995 commented on #27527
Just a note: the test is not failing in CI after I enable it in the test PR #28481

[2018-03-26 21:41] Petermarcu commented on #28353
Great to have confirmation that you don't see the runtime dependency. My understanding is that we are planning to use 2.0 to build 2.1 and then 2.1 to build 2.2. I think that means we don't have a great path to removing the build time dependency in 2.1.

[2018-03-26 21:44] karelz opened #28485 "[Regression] System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_SslProtocols_Test / GetAsync_UnsupportedSSLVersion_Throws"
## Failure type

### GetAsync_UnsupportedSSLVersion_Throws - The operation was canceled

[code]

## Failure history

Day | Build | OS | Details
-- | -- | -- | --
3/1 | 20180301.04 | Win10 | 2x
3/2 | 20180302.04 | Win10 |
3/3 | 20180303.03 | Win10 | 2x
3/4 | 20180303.04 | Win10 |
3/11 | 20180311.02 | Win10 |
3/12 | 20180312.02 | Win10 | 2x
3/15 | 20180315.04 | Win10 | 2x
3/23 | 20180323.01 | Win10

[2018-03-26 22:13] pjanotti opened #28486 "Uri.LocalPath in Unix when path contains '#'"
During #28475 2 failures on Unix were detected:

[code]

See https://github.com/dotnet/corefx/pull/28475/files#r177095732 for more info

[2018-03-26 22:22] joperezr commented on #28393
I see. We don't really consider the UnloadableAssembly project to be a test project, although we do use it for running tests. If you check here https://github.com/dotnet/corefx/blob/master/src/tests.builds#L29-L34 you can see that we will only ever supposed to run tests of projects that end with the pattern: `*.Tests.csproj`. That said, I did find that as part of our [documentation](https://github

[2018-03-26 22:37] rmkerr commented on #28486
Moving this to future since it isn't a regression and we have no customer reports. I'm looking forward to diving into the wonderful world of OS specific path parsing at some point in the future, but today is not the day.

[2018-03-26 22:43] karelz commented on #27527
History of failures updated - there are couple of clustered failures. I wonder if it may be a problem due to external server?

[2018-03-26 23:00] karelz commented on #22434
History updated above with latest failures.

[2018-03-26 23:03] smasherprog opened #28488 "httpclient requests to dns address that resolves to self causes authentication error"
Scenario:

I am using httpclient to send log events that are generated in website A to website B.
both website A and B are using net core 2.0.6 and on the SAME IIS instance.
When sending https requests from website A to website B using defaultcredentials the client FAILS to authenticate. I have windows authentication enabled and verified that its working.

If I change one of the websites to be on

[2018-03-26 23:04] smasherprog commented on #28488
Also, each website resolves to the SAME IP address through DNS as well.

[2018-03-26 23:04] danmosemsft commented on #27724
-> Future as this seems to haev a workaround. cc @pjanotti

[2018-03-26 23:06] JeremyKuhne commented on #26797
Closing as we can't get a local repro. As mentioned, I've added a Mac specific test to see if we can flush out when our case sensitivity analysis isn't what we expect.

[2018-03-26 23:06] #26797 closed

[2018-03-26 23:11] JeremyKuhne commented on #27504
Haven't seen any new references to this in a month and careful review of the code isn't revealing where we might be getting this wrong. Closing.

[2018-03-26 23:11] #27504 closed

[2018-03-26 23:13] JeremyKuhne commented on #28096
Couldn't get a repro for this. Closing.

[2018-03-26 23:13] #28096 closed

[2018-03-26 23:19] danmosemsft commented on #27534
Per discussion with @JeremyKuhne this hasn't happened since, given code churn this is not worth investigating further unless ith appens again.

[2018-03-26 23:19] #27534 closed

[2018-03-26 23:26] #25820 closed

[2018-03-26 23:27] bcronce commented on #28447
1. I personally found this method a bit difficult to read.

2. Scaling beyond 2^30 is abysmal,  going from O(N Log(N)) to O(N^2)

Log N is in relation of how many times `Grow()` is called

N is the number of entries, which all need to be copied every time `Grow()` is called

3. Int32 overflow edge case could be made clearer by detecting it and throwing a descriptive error message instead of overfl

[2018-03-26 23:40] #27396 closed

[2018-03-26 23:47] AlexGhiondea commented on #22781
@tompazourek let me try and answer your question.

The way we version .NET Standard is by rev’ing the assembly version when a new API is added. That helps keep versioning somewhat sane. When a platform implements .NET Standard, it has to add the assemblies that make up .NET Standard to its implementation.

So far so easy. The challenge is that in .NET Framework we cannot easily bump assembly versi

[2018-03-26 23:47] Anipik commented on #28468
The bug is not getting reproduced locally or on CI. will reopen it if it reappears.

[2018-03-26 23:47] #28468 closed

[2018-03-26 23:53] danmosemsft commented on #27495
Looked briefly at this with @JeremyKuhne . You see the same regression in eg GetTempPath -- which regressed ~50% and presumably does little or no work on disk (lack of noise in it is consistent with this). Our theory is that it is because Server 2016 upgraded many of these API's to support long paths. So something that previously did very little work like GetTempPath now has to check whether the p

[2018-03-26 23:56] AlexGhiondea commented on #22781
@tompazourek let me try and answer your question.

The way we version .NET Standard is by rev’ing the assembly version when a new API is added. That helps keep versioning somewhat sane. When a platform implements .NET Standard, it has to add the assemblies that make up .NET Standard to its implementation.

So far so easy. The challenge is that in .NET Framework we cannot easily bump assembly versi

[2018-03-27 00:15] pjanotti commented on #27740
@MattGal how can I get an updated list like you gave [here](https://github.com/dotnet/corefx/issues/27740#issuecomment-371332777). Thanks.

[2018-03-27 00:24] tarekgh commented on #28393
@joperezr do you know who can help fixing the doc?

[2018-03-27 00:38] bcronce commented on #28450
`IList<T>` supports the indexer and you can loop over `IList<T>` without allocating an `Enumerator`. Technically the `T[]` signature could be done away with because it would be covered by `IList<T>`, but it would break the API. But it does make the implementations really easy.

[code]

In before someone points it out. The compiler can optimize a `foreach` into a `for` in some cases, but I don't th

[2018-03-27 00:56] MattGal commented on #27740
@pjanotti if you can get access to our Kusto instance (engsrvprod), it's this query:
[code]
SG is **.NET Engineering Infrastructure Kusto Read**

Recent-er results: Looking less crashy!?
Finished	QueueName
2018-03-17 19:15:57.0850000	RedHat.74.Amd64.Open
2018-03-14 23:04:55.3280000	Ubuntu.1804.Amd64
2018-03-10 06:02:24.9300000	RedHat.74.Amd64.Open
2018-03-09 17:12:26.8350000	Ubuntu.1404.Amd64.Open

[2018-03-27 01:24] roydukkey opened #28491 "DataAnnotation exposes readonly Dictionary on ValidationContext"
https://github.com/dotnet/corefx/blob/2242e106f7695578ccaa1dcc35e438a14f9be1f1/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/ValidationContext.cs#L32

`ValidationContext` exposes the readonly dictionary as `IDictionary Items`. Should this property be changed from `IDictionary` to `IReadOnlyDictionary`?

https://github.com/dotnet/corefx/blob/2242e106f7695578ccaa1dc

[2018-03-27 01:31] anurse opened #28492 "Unexpected behavior with canceled CancellationToken passed to PipeWriter.FlushAsync"
The program below never terminates. It's passing a canceled CancellationToken in to `FlushAsync`, catching the exception, and then completing the pipe. However, the `ReadAsync` call on the other end is never completed. If you comment out the cancellation, the pipe is completed properly and the `ReadAsync` completes. I wouldn't have expected the pipe to be un-completable after cancelling an action

[2018-03-27 01:46] danmosemsft commented on #28492
Seeing `PipeReader` my first thought was that it related to Ssyrem.IO.Pipes. Do we have the right name...

[2018-03-27 01:54] #28363 closed

[2018-03-27 02:02] davidfowl commented on #28492
Sorta but not really 😬😂

[2018-03-27 02:15] stephentoub commented on #28447
The `Dequeue` type is primarily used in Channels to manage blocked readers/writers.  If you've got 2^30 of those, you have way bigger problems.

We don't need an issue to track this.  You're welcome to submit a PR if there's something to be cleaned up.

[2018-03-27 02:19] pjanotti commented on #28436
@sdmaclea this test is passing on CI and I just tried it in Ubuntu 16.04 and it passed without requiring sudo. Could you please provide more details so I can try to get a repro? What Linux were you using?

[2018-03-27 02:25] #28479 closed

[2018-03-27 02:33] Sunny-pu opened #28496 "Test System.Text.RegularExpressions.Tests.RegexGroupTests failed in CI."
Test System.Text.RegularExpressions.Tests.RegexGroupTests failed.
details:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/417/testReport/System.Text.RegularExpressions.Tests/RegexGroupTests/GroupsBasic/

MESSAGE:
Exit code was 32899 but it should have been 42\nExpected: True\nActual: False
+++++++++++++++++++
STACK TRACE:
at System.Diagnostics.RemoteExecutorTestBase.RemoteInv

[2018-03-27 02:37] pjanotti commented on #27740
@MattGal thanks!  Yes, it looks less crashy...

[2018-03-27 02:46] Sunny-pu opened #28497 "Test System.Threading.Threads.Tests.ThreadTests.ApartmentState_AttributePresent failed in CI."
Test System.Threading.Threads.Tests.ThreadTests.ApartmentState_AttributePresent failed.

Details: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/417/testReport/System.Threading.Threads.Tests/ThreadTests/ApartmentState_AttributePresent_AppName____STAMain_exe____mode____GetApartmentState___/

MESSAGE:
Assert.Equal() Failure\nExpected: 2\nActual: 32899
+++++++++++++++++++
STACK

[2018-03-27 03:16] sdmaclea commented on #28436
I am using linux-arm64 ubuntu 16.04
Do you know what device it opens?  I can check the default permissions?

[2018-03-27 03:41] roydukkey commented on #16305
Just out of curiosity how do solutions compile these changes against netstandard1.4?

[2018-03-27 03:44] pjanotti commented on #28436
It opens an anonymous pipe, via the standard pipe functions using this wrapper  https://github.com/dotnet/corefx/blob/09b3cc02d85c5c963af50567cb89b6d67beebc49/src/Native/Unix/System.Native/pal_io.c#L431.

[2018-03-27 03:53] sdmaclea commented on #28436
@janvorli Do you know a reason why some platforms would need elevated privilege to open/use anonymous pipes?

I haven't run the pal tests on arm64 in over a year.  Maybe it is time to run them again.

[2018-03-27 04:18] caesar1995 commented on #27846
TLDR: Windows 7 has issue to get the **_value_** of the remote certificate for the loopback server (which is client certificate). We can push this issue to future, because the wss connection can be established and server & client can communicate fine.

Basically, what this test does is that, a ClientWebSocket sends the client certificate to the loopback server, we want to confirm that server will

[2018-03-27 04:35] wfurt commented on #28436
You can try it with strace @sdmaclea That would give you clue if it is actually pipe creation or if it is some ioctl after. Also note that things may be weird in qemu containers or when SELinux is enabled.

[2018-03-27 04:51] wfurt commented on #28436
btw also check ulimit -a for the pipe size.
pipe size            (512 bytes, -p) 8

x86 Ubuntu gives me 4K.

[2018-03-27 04:59] #28411 closed

[2018-03-27 04:59] #28414 closed

[2018-03-27 05:00] sdmaclea commented on #28436
pipe size            (512 bytes, -p) 8

[2018-03-27 05:03] sdmaclea commented on #28436
[code]

[2018-03-27 05:18] wfurt commented on #28436
You will need -f as well to see everything. You can grep for pipe in the log...

[2018-03-27 05:24] wfurt commented on #28204
no, I did not as I did not have Alpine payload ready. As I mentioned above, the 's' bit will give the binary administrative rights so I'm pretty sure it would fix it.
We could possibly disable the test on Alpine or detect i the permissions are set appropriately.

[2018-03-27 05:30] danmosemsft commented on #28466
IO isn't my area, but if the driver is buggy such that it mounts as read only, Occam's Razor might suggest it's somehow causing the read failures as well? Can you try a different driver?

[2018-03-27 05:31] sdmaclea commented on #28436
I didn't happen to see it spawn additional processes....
This is the function returning an error.
If I had to guess....  `fcntl(87, F_DUPFD_CLOEXEC, 0)           = 88`

[2018-03-27 05:34] Zuendelmeister commented on #28418
Hi you guys,
@MichaelSimons I also tried this on a 32Bit ARM machine (which is why I need the 32Bit Image) and had the same problem.
@karelz I think these images are x64 based right? For the pi this is ok, but for my other machines not. Also I'd love to provide the stack trace from the core dump but don't know how to get this. In the code it is not even catchable.

Thanks you 2!
Best regards,
Zuen

[2018-03-27 05:35] wfurt commented on #28436
I don't think this is the failure. This call duplicates FD.

[2018-03-27 05:36] sdmaclea commented on #28436
OK so 88 is the new FD

[2018-03-27 05:43] #24425 closed

[2018-03-27 05:43] #26364 closed

[2018-03-27 05:49] borrrden commented on #26593
I have some of this work done in my [own library](https://github.com/couchbase/couchbase-lite-net/blob/feature/proxy-support/src/Couchbase.Lite.Support.NetDesktop/Support/MacProxy.cs).  The only further steps needed are to react to the auto proxy url.  The work will be on this branch until it is merged.  I tried to navigate through the proxies once in corefx, but I got lost on the way through the

[2018-03-27 06:19] soyemi opened #28499 "System.Numerics.Vector4 calculates incorrect in some inlining situations."
Sample Code
[code]
Excepted output: `<110, 120, 100, 30>`
Incorrect output: `<10, 20, 100, 30>` using release build.

After attatching `MethodImplOptions.NoInlining` to the method Test(), it prints right answer.
It seems like the operator '+=' affects the result.

Test on .netcore 2.1.103, windows.

[2018-03-27 06:33] joshfree commented on #28499
@CarolEidt @eerhardt

[2018-03-27 06:34] sdmaclea commented on #28436
[code]

From the man page
[code]
[code]

Per the comment here....  Error could simply be ignored.
[code]

[2018-03-27 06:35] sdmaclea commented on #28436
This is a corefx functional bug.

[2018-03-27 06:54] tompazourek commented on #22781
@AlexGhiondea Thank you for explaining this, I understand it a bit better now.

Can you please provide a list of those 12 assemblies that might need the binding redirects on 4.7.1?

[2018-03-27 07:44] Tornhoof opened #28501 "EmailAddressAttribute behaves differently in .NET Core vs. NetFx"
It behaves differently for the following Unit Tests and I think both behaviours are not 100% correct:
Just for reference:
https://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.emailaddressattribute(v=vs.110).aspx

[code]
In NetFX 4.7 all tests succeed.
In NetCore 1.0/2.0 the tests for "test@test" and "test@test." fail.

In #25129 @PeterSmithRedmond said that atleast test@t

[2018-03-27 07:53] Tornhoof commented on #28501
If this is again a duplicate of https://github.com/dotnet/corefx/issues/27323, then please add a doc comment  regarding the checking algorithm, the comment how it works is only an inline comment somwhere in the method.

[2018-03-27 08:02] ahsonkhan opened #28502 "Build failing with 'CancellationTokenRegistration' does not contain a definition for 'TryDeregister'"
From https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1524090

System\Threading\Tasks\AsyncInfoToTaskBridge.CoreCLR.cs(73,29): error CS1061: 'CancellationTokenRegistration' does not contain a definition for 'TryDeregister' and no extension method 'TryDeregister' accepting a first argument of type 'CancellationTokenRegistration' could be found (are you missing a us

[2018-03-27 08:10] jkotas commented on #28502
This was fixed by https://github.com/dotnet/corefx/pull/28489

[2018-03-27 08:10] #28502 closed

[2018-03-27 09:48] ViktorHofer commented on #28496
Many Regex tests failed because of the RemoteExecutor invocation.

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/417/consoleText

As even the most primitive tests failed (StaticCtor), I'm closing this.

[2018-03-27 10:01] ViktorHofer commented on #28410
I like the idea and its cross-platform benefit.

How is _any line ending_ defined? The name suggests that it can handle *any* line ending, are there more than Unix and Windows line ending chars? We could probably refine the name.

[2018-03-27 10:06] #27577 closed

[2018-03-27 10:06] ViktorHofer commented on #27577
Fxied by https://github.com/dotnet/corefx/pull/27278

[2018-03-27 10:08] ViktorHofer commented on #27086
I believe this is already addressed.

[2018-03-27 10:08] #27086 closed

[2018-03-27 10:20] ViktorHofer commented on #26779
You propose to change the local search behavior from case sensitive to case insensitive, is that right? If so, I'm not sure this isn't a breaking change as you could get more results back than before. We should check if there's documentation that outlines the current behavior.

[2018-03-27 10:27] ViktorHofer commented on #11836
We had a discussion about this some weeks ago and unfortunately we can't change the default behavior which uses an _infinite_ timeout without breaking someone.

We will consider this if we make substantial changes to Regex i.e. introducing a new engine.

[2018-03-27 12:34] gtaylor1981 commented on #24895
See #26201 for `application/json` and `application/xml`

[2018-03-27 13:12] hozjanmarko opened #28504 "System.Security.Cryptography.Pkcs '1.2.840.113549.1.1.5' is not a known hash algorithm."
i'm trying to compute a cms SHA1RSA using the pre release version(4.5.0-preview1-26216-02) of System.Security.Cryptography.Pkcs.

Oid.FromFriendlyName("SHA1RSA",OidGroup.SignatureAlgorithm) returns the corect digest algorithem, but upon calling encode, i get the exception that i,m not using any known hash algorithm.

Is there any short term plan to incorporate it?

Encoding snippet:----------
prot

[2018-03-27 13:33] eerhardt commented on #28499
I can't seem to repro this.  I tried with both `2.0.6` and `2.1.0-preview2-26228-02` runtimes on Windows.  Similarly, I couldn't repro it on my macOS either.

@soyemi - can you give more information on your environment?  What processor?  What Windows version, etc?

/cc @tannergooding - in case he has any ideas.

[2018-03-27 13:36] markgibaud commented on #19914
I changed my Nunit project to target .NET framework version 4.7.1 and that resulted in the error disappearing (ie. the correct version of HttpClient being used).

[2018-03-27 14:14] soyemi commented on #28499
system-Windows10 1709 16299.309, CPU-i7 4790, dotnet version 2.1.100.
I have reproduced these on two different Windows10 devices.

test command line outputs.
[code]
Here is the project files, see if anything helps.
[NumericTest.zip](https://github.com/dotnet/corefx/files/1852297/NumericTest.zip)

[2018-03-27 14:34] eerhardt commented on #28499
Ok, I know my mistake, I was running against a `Debug` build of my project.  Using `dotnet run -c Release` I was able to repro this on the `2.0.6` runtime on Windows, but not on macOS.

The good news is that this appears to be fixed in the latest .NET Core `2.1` runtime builds.  I used `2.1.0-preview2-26228-02` on Windows, and it no longer repro'd.

@CarolEidt @AndyAyersMS @RussKeldorph @jkotas -

[2018-03-27 14:43] CarolEidt commented on #28499
Since there is a workaround, and it appears to be fixed in 2.1, it doesn't seem critical to fix it in a service release, but it would be good to verify that the problem has been fixed, rather than simply hidden by some other change.

[2018-03-27 14:47] wfurt commented on #28436
this could also be test bug: OS does support the change but test is trying to set it to value not permitted by system limits. In either case, it is good we know why this is failing.

[2018-03-27 15:09] ViktorHofer commented on #27618
@CyrusNajmabadi

We fixed that some weeks ago. Can you please update your forked off RegexParser with the fix?

[2018-03-27 15:15] wfurt commented on #28501
The '.' at the end means root of the DNS tree. 'test.' is top level domain (like 'com.') where as
'test' is unqualified host test. So the meaning is different even  if the string looks similar.

[2018-03-27 15:30] luigiberrettini commented on #25040
I created a branch and [implemented](https://github.com/dotnet/corefx/compare/master...luigiberrettini:keep-alive) the features requested to close this issue, but would like to know if there is a way to test them better or to try them (e.g. the F5 way like in simple .NET projects), before opening a PR

[2018-03-27 15:36] wfurt commented on #25040
First step is to get API approved @luigiberrettini. I did not see that in the debates. Is this something you can take on @karelz and pitch that to the committee?
Having working prototype is certainly good step.

[2018-03-27 15:38] ranouf commented on #28454
Thanks @bartonjs , this is a perfect answer!

[2018-03-27 15:38] #28454 closed

[2018-03-27 15:38] pjanotti commented on #28436
I have the same values for pipe sizes (from ulimit -p and pipe-max-size), the difference seems that the default size that the buffer is created, in my case it was 65,536, but per log it seems that it was 1MB in @sdmaclea case which is already the max size. The test attempts the next operation by doubling the buffer size that's when we got the failure.

[2018-03-27 15:44] karelz commented on #28418
@Zuendelmeister check out debugging steps on Linux via lldb & SOS - https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md

[2018-03-27 15:50] karelz commented on #27846
OK, is the failing server call test-code only or is it product code?
I agree that the impact is probably low, so pushing to Future.

[2018-03-27 15:56] twest820 commented on #28466
10.0.10125.21277 is the most recent version signed by Microsoft hardware quality and is also the version available from Lenovo. Realtek's [driver package](www.realtek.com/Downloads/downloadsView.aspx?Langid=1&PNid=15&PFid=25&Level=4&Conn=3&DownTypeID=3&GetDown=false) may offer an update but, even if it resolves the issue on my test machine, asking customers to change out a driver isn't realistical

[2018-03-27 16:01] #28436 closed

[2018-03-27 16:04] ViktorHofer commented on #27618
A lot of these tests are negative tests which need Assert.Throws around it. The current situation where we always throw ArgumentException isn't ideal in the source code. We might want to refactor the exception handling in RegexParser to understand what's going on internally. I will create a separate issue for that.

[2018-03-27 16:10] karelz commented on #28488
Can you narrow down which part of your repro is causing the trouble?
Is it DefaultCredentials? Is it HttpClient side? Or server side? ... Did you try to peek at Fiddler/Wireshark traces?

[2018-03-27 16:11] ViktorHofer opened #28508 "Improve exception handling in RegexParser"
Related to https://github.com/dotnet/corefx/issues/27618

Currently RegexParser always throws ArgumentExceptions with a custom text when something's going wrong.  Do differentiate error cases (in tests) and make other uses cases like TryParse or Validate possible we should refactor the current exception handling. I'm thinking about the following options:

a) Introduce a RegexParseException which i

[2018-03-27 16:13] tannergooding commented on #28499
Here are the disassembly and dumps for the program using release/2.0.0 and release/2.1 in x64 Checked mode:
* [JitDisasm_2.0.txt](https://github.com/dotnet/corefx/files/1852787/JitDisasm_2.0.txt)
* [JitDisasm_2.1.txt](https://github.com/dotnet/corefx/files/1852788/JitDisasm_2.1.txt)
* [JitDump_2.0.txt](https://github.com/dotnet/corefx/files/1852789/JitDump_2.0.txt)
* [JitDump_2.1.txt](https://gith

[2018-03-27 16:20] danmosemsft commented on #27369
@kouvel @AlexGhiondea I suggest closing this as I don't see subsequent reports and we have no dump.

[2018-03-27 16:23] danmosemsft commented on #27952
Is there any further action here or has this been resolved and we can close it?

[2018-03-27 16:26] danmosemsft opened #28509 "Wire up lldb into Unix test run scripts"
Similar to wiring up of GDB in https://github.com/dotnet/buildtools/pull/1948 we want LLDB to be wired up

It's being added to test images in https://github.com/dotnet/core-eng/issues/2998  and it already exists on some machines. You can install it locally on your Linux box to test your change, of course.

LLDB should be scripted to open the dump, do `clrstack -all` and probably `pe -nested` , and

[2018-03-27 16:26] ByronAP commented on #12282
this should be re-opened as it is still an issue

[2018-03-27 16:26] tarekgh commented on #27952
I believe this can be closed as there is no farther action needed here.

[2018-03-27 16:27] danmosemsft commented on #28509
I'm not sure whether `pe -nested` will give anything here -- @mikem8361 does an unhandled managed exception give a dumpfile on Linux? I seem to remember you said that was future work.

[2018-03-27 16:28] danmosemsft commented on #28509
I wonder if it would have any value for lldb to also get a native stack trace, same as gdb. There might be cases where one works and the other doesn't. I suggest we do this - last in the sequence.

[2018-03-27 16:31] danmosemsft commented on #27518
@tarekgh here is a view of the history of these tests (does it seem to you that we might need more perf tests for globalization?)

https://benchview/trendline?build_selector=latest&count=2000&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=[957]&archids=[23]&mpids=[1292]&cfgids=[2706]&testids=[60201,60203,60202,60204,60212,60210,60209,60211,60208,60206,60205,6

[2018-03-27 16:32] joperezr commented on #28393
I guess  anybody could do it, those particular instructions where added by @weshaggard when we moved to the new infrastructure. What do you think Wes? should we change the docs to say you are only supposed to build .Tests projects?

[2018-03-27 16:33] danmosemsft commented on #28509
Although LLDB works on macOS, SOS does not work on dumps on macOS currently. So there is no point trying to use it on macOS.

[2018-03-27 16:33] BrendanGrant commented on #27952
Agreed, fingers crossed on https://github.com/dotnet/cli/issues/8776 getting fixed.

[2018-03-27 16:33] #27952 closed

[2018-03-27 16:34] joperezr commented on #28204
If this is running on the rest of the Linux distros I would suggest to run it on Alpine as well. Could you please try adding that package to the container and running them to see if the issue is fixed? If so let me know and I can add that package.

[2018-03-27 16:36] pjanotti commented on #28436
@wfurt yes, if we assume that the buffer size is created already as max in the affected box we also need to change the test, I will take a look at it soon.

[2018-03-27 16:36] ajcvickers commented on #28491
@roydukkey This would be a breaking change to existing code, so unfortunately it is not something we can do at this time. /cc @divega

[2018-03-27 16:36] #28491 closed

[2018-03-27 16:37] joperezr commented on #22781
List is:
[code]

[2018-03-27 16:39] danmosemsft opened #28511 "Dictionary_ContainsValue_String* regressed 112%"
Dictionary_ContainsValue_Int* dropped 42% but the various string ones rose ~100%.

https://benchview/trendline?build_selector=latest&count=2000&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=[957]&archids=[23]&mpids=[1292]&cfgids=[2706]&testids=[59909,59910,59911,59939,59915,59916,59918,59917,59928,59929,59930,59900,59901,59902,59894,59895,59896,59903,59904,5

[2018-03-27 16:40] caesar1995 commented on #27846
Product code. `sslStream.RemoteCertificate` returns null, because `QueryContextAttributes` returns `SEC_E_NO_CREDENTIALS` on server side on Win7.

[2018-03-27 16:42] danmosemsft commented on #28511
These changes did not regress Contains**Key** ...

[2018-03-27 16:43] tannergooding commented on #28499
I logged a couple of bugs for the most obvious codegen issues.

[2018-03-27 16:50] weshaggard commented on #28393
If I understand the issue it seems like we should mark those libraries as not being test libraries, via IsTestLibrary=false to avoid this issue. I think that is better then the documentation update.

[2018-03-27 16:51] danmosemsft commented on #28508
For (b) how would you wrap the enum - put it in the message? Stuff it into Data field?

In customer scenarios (as opposed to unit tests) how interesting is this detailed error data? If not much I'd be inclined to stuff it into Data and not add yet another S.T.RE type.

[2018-03-27 17:03] tarekgh commented on #27518
CC @AlexGhiondea @krwq

@danmosemsft there is always areas for improvements :-) the question is, should this improvement be done in 2.1? One area that I think we should add perf tests for is string comparisons and searching.

[2018-03-27 17:04] mikem8361 commented on #28509
Yes, unhandled managed exceptions do an “abort()” which will cause a core dump on Linux. “pe -nested” should dump that exception.

From: Dan Moseley <notifications@github.com>
Sent: Tuesday, March 27, 2018 9:28 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Mike McLaughlin <mikem@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Wire up lldb into Unix test run

[2018-03-27 17:09] ahsonkhan commented on #27560
@pakrym, do we want this API for 2.1? If so, consider changing it to api-ready-for-review, when it is.

[2018-03-27 17:13] davidfowl commented on #27560
Moving to future

[2018-03-27 17:16] joperezr commented on #28393
sounds good, I'll take care of it.

[2018-03-27 17:24] roydukkey commented on #28491
@ajcvickers Can we agree, though, that this is a flaw? And, if it wasn't a breaking change, the code should be changed in some manner?

[2018-03-27 17:39] svick commented on #28410
@ViktorHofer

According to [Wikipedia's summary of the Unicode standard](https://en.wikipedia.org/wiki/Newline#Unicode), there are 8 character sequences that form a line break (7 single characters, including CR and LF, and the sequence CR+LF).

Though I think those other characters are not widely used, so supporting only either LF and CR+LF (Unix and Windows) or CR, LF and CR+LF (old Mac, Unix and

[2018-03-27 17:45] smasherprog commented on #28488
Never mind Its an obscure problem documented here
https://support.microsoft.com/en-us/help/926642/error-message-when-you-try-to-access-a-server-locally-by-using-its-fqd

When a server talks to itself effectively, windows authentication does not work. I fixed it by adding hostnames to the BackConnectionHostNames  registry.

Thanks for the quick response though

[2018-03-27 17:45] #28488 closed

[2018-03-27 17:54] ViktorHofer commented on #28508
With b) we don't need to stuff the enum into the ArgumentException, we only need the enum for the string message construction. I agree with not introducing a new type if it doesn't bring any value to the end user. I will look into how feasible b is.

[2018-03-27 17:54] ianhays commented on #28511
Probably this one: https://github.com/dotnet/corefx/commit/926183e3cba0cb9b24685fb0fa308b386fed61df

[2018-03-27 17:56] danmosemsft commented on #28511
It makes sense that ContainsValue is hit much harder, as ContainsKey should only hit Equals roughly once, rather than for n/2 elements.

[2018-03-27 18:01] ianhays commented on #28511
we also stopped caching the comparer in containsvalue: https://github.com/dotnet/corefx/commit/926183e3cba0cb9b24685fb0fa308b386fed61df#diff-72146f1d0ccb2f246a39b3aaceef746dR298

[2018-03-27 18:06] Tratcher commented on #24553
@terrajobst The current design works pretty well for ASP.NET, I've already submitted a PR https://github.com/aspnet/KestrelHttpServer/pull/2425.

It's easy to explain that you set ServerCertificate XOR ServerCertificateSelector. I don't see a need for fallback behavior.

[2018-03-27 18:09] benaadams commented on #28511
`EqualityComparer<TValue>.Default` is an intrinsic and caching it to var would regress? https://github.com/dotnet/coreclr/pull/14125

[2018-03-27 18:14] benaadams commented on #28511
Unless... because its a shared generic it won't devirtualize?

[2018-03-27 18:16] caesar1995 commented on #27211
Have run the test 500 times locally, no failure. The test didn't fail in CI in my test PR #28481.

The test is that, a ClientWebSocket connects to a external server, send some data, then close the connection. We expect client side initiates the close or transfers into the invalid state first (since we explicitly calls `cws.CloseAsync`); however, we get the "remote party close the WebSocket connect

[2018-03-27 18:18] CyrusNajmabadi commented on #27618
My parser didn't have the problem :)   It supports all those cases i reported as bugs :)

[2018-03-27 18:20] ianhays commented on #28511
I missed that it's an intrinsic. Maybe not then.

Here's the test: https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Performance/Perf.Dictionary.cs#L301

[2018-03-27 18:26] benaadams commented on #28511
Oh my days... just realized what `ContainsValue` does, it searches every entry in the dictionary for the value. Can see why that might be sensitive to changes :)

[2018-03-27 18:28] joperezr commented on #25916
I can repro this using the latest build of release/2.1. @joshfree I'm not sure when I will have some time to look at this one, do you think it should target 2.1?

[2018-03-27 18:28] PeterSmithRedmond commented on #28501
Looking again at the email addresses: AFAICT, wfurt is correct. Going back to some of the earlier RFCS, [RFC 822](https://tools.ietf.org/html/rfc822) is pretty clear that you can't end a domain name with a period. The email-oriented RFCs agree: [RFC 5322](https://tools.ietf.org/html/rfc5322) section 3.4.1, Addr-spec specification concurs: you can't end a domain name with a dot.

Just to make life

[2018-03-27 18:29] pjanotti commented on #28436
PR #28512 for the test aspect of it.

[2018-03-27 18:33] ianhays commented on #28511
lol yeah, it just goes over every entry and uses the comparer against the value.

[2018-03-27 18:34] joperezr commented on #27402
Looks like the test has passed consistently lately on release/2.1 runs so I'm closing this for now.

[2018-03-27 18:34] #27402 closed

[2018-03-27 18:46] benaadams commented on #28511
Looking at this, feel a little responsibility from the commits @danmosemsft highlighted 😄

[2018-03-27 18:47] Tornhoof commented on #28501
I can provide a PR for the fix in the EmailAddressAttribute.cs, the corefx version does not have the monstrous regex, so it should be fairly simple to check that the last char is not a '.'.
I would add two test cases:
1. Failure Case: Testing that "test@test." is not valid
2. Success Case: Testing that "test@test" is valid (this one is missing from the tests in https://github.com/dotnet/corefx/blo

[2018-03-27 18:53] danmosemsft commented on #28511
That wasnt my intent @benadams and for the record the data also shows big wins from some of those changes.

[2018-03-27 19:03] joshfree commented on #25916
While I'd love to fix every bug in 2.1, I think this can move to the next release given no other reports of the issue thus far (less impact) since we're running out of time.

[2018-03-27 19:06] jzabroski commented on #28410
I'll write some test cases with XUnit and use that as a specification. We can then tweak the test cases to come up with a final specification/acceptance criteria. [Fare](https://github.com/moodmosaic/Fare) could also be used to confirm.

[2018-03-27 19:13] karelz commented on #12282
Given the back and forth above, I think we should open a new issue with link to this one and with minimal repro demonstrating the behavior.
Can you please check it repros also on 2.1? Thanks!

[2018-03-27 19:29] muaddubby commented on #28356
Adding the 'Downloads' path would be seriously appreciated.

[2018-03-27 19:33] AndyAyersMS commented on #28511
We can probably specialize `ContainsValue` for ref types and cache the comparer only for that case,.

It looks like the extra cost of comparer lookup is indeed the root cause, as this has to access a generic static and that is costly, and the jit can't reason that it is safe to hoist all that out.

Inner loop for ref type value:
[code]

inner loop for int type value
[code]

[2018-03-27 19:39] kasper3 commented on #25916
In addition to mac, it is reproducible on Linux (tried Debian and Alpine) as well, but not on Windows.
Interestingly, it only happens when we type the input. If we redirect to stdin (which is lightning fast), line-by-line for example, then it doesn't show those number.

Debian:

Simple redirect:

[code]

Line by line redirect:

[code]

@tmds, @omajid, might have some insights, otherwise just fyi.

[2018-03-27 19:40] dangi12012 commented on #22440
Oh yes. I see.  hope Span<T> support will be enabled for vectors soon. To define your own operators instead of this:
`
        /// Floor
        public static Vector<float> _mm256_floor_ps(Vector<float> x)
        {
            var rslt = new float[Vector<float>.Count];
            for (int i = 0; i < rslt.Length; ++i)
                rslt[i] = (float) Math.Floor(x[i]);
            return new Vect

[2018-03-27 19:45] AndyAyersMS commented on #28511
Hmm, maybe the jit can mark the call to `get_Default ` as safe to hoist as we basically know this is true since it is an intrisnic. Let me see if that is viable.

[2018-03-27 19:50] danmosemsft commented on #28356
Just pending someone to share a proposed list. This would not happen for 2.1. Meantime I suggest doing a pinvoke, you can copy our code:

https://github.com/dotnet/corefx/blob/050bc33738887d9d8fcc9bc5965b7d9ca65bc7f4/src/System.Runtime.Extensions/src/System/Environment.Win32.cs#L275
https://github.com/dotnet/corefx/blob/afcbd9a5b9e4ecde2db3a69afd093631f1db91c5/src/Common/src/Interop/Windows/shell3

[2018-03-27 19:50] ajcvickers commented on #28491
@roydukkey Yes, at least to the depth that I have investigated this, I agree that it would be better not to expose an IDictionary here.

[2018-03-27 19:57] danmosemsft commented on #28508
I recall the System.Xml team way back declining to add error codes into their XmlException because they noted that refactoring their code (eg changing their parser) could easily change the code, which would have the effect of a breaking change. I don't know whether that is as important as it was perceived to be back then. I think the key question to ask is what the user actually needs. For our own

[2018-03-27 20:20] kouvel commented on #27369
Sounds good to me, it may also have already been fixed elsewhere.

[2018-03-27 20:20] #27369 closed

[2018-03-27 20:37] AndyAyersMS commented on #28511
Being able to hoist calls to `get_Default` is probably the right approach longer term but it looks like we'd have to rework a bunch of assumptions in the jit to make this work.

Let me see what a source fix looks like as that would certainly be less risk.

I think any fixes here whether in jit or in Dictionary need to originate in CoreCLR ... so perhaps we need a companion issue over there.

[2018-03-27 20:45] benaadams commented on #28511
Same with `FindEntry` etc then..?

Can do something with ye'olde `default(T) != null`?

[2018-03-27 20:48] #27871 closed

[2018-03-27 20:53] ahsonkhan commented on #27094
Fixed in https://github.com/dotnet/coreclr/pull/17106 / https://github.com/dotnet/corefx/pull/28460 / https://github.com/dotnet/coreclr/pull/17214 / https://github.com/dotnet/coreclr/pull/17245 / https://github.com/dotnet/corefx/pull/28515

[2018-03-27 20:53] #27094 closed

[2018-03-27 20:55] ahsonkhan commented on #28274
@nockawa, did the suggested workarounds fix the issue you were seeing?

[2018-03-27 20:55] benaadams commented on #28511
[code]
Produces (also drops one range check)
[code]

[2018-03-27 20:56] AndyAyersMS commented on #28511
Yes, via `default(T) == null` or similar.

I am puzzled why some methods like `ContainsValue` refer only to `EqualityComparer<T>.Default` and don't look at the `_comparer` value. Anybody know why?

`FindEntry` I suppose should be fixed in the same way. We will only loop in there if there are collisions so perhaps the extra overhead only shows up cases that are already in a bad way.

[2018-03-27 20:56] wfurt commented on #25916
This is probably race before reseting TTY. When stdin is terminal, it may have control logic attached to it. If somebody wants to experiment, "stty" may be useful.
Some applications have explicit option to be either interactive (and perhaps for allocating pseudo TTY)   or not. 'dotne' does not make that distinction as far as I know.

[2018-03-27 20:56] nockawa commented on #28274
sorry, I forgot to answer, yes it did. Aligning all the versions are working fine now. Thanks!

[2018-03-27 20:58] benaadams commented on #28511
Comparer is only for the key, not the value

[2018-03-27 20:58] AndyAyersMS commented on #28511
Ah never mind, keys vs values.

[2018-03-27 20:58] huanwu commented on #28219
@digitalnoiz This is by design. During serialization, properties of the data contract will get serialized in alphabetical order. Same for deserialization, the order of the members in the XML need be alphabetical.  If you want to manage the order of serialization/deserialization, you need to use Order attribute of DataMember. In your case, it will work if the class is like the following.

[code]

[2018-03-27 21:05] benaadams commented on #28511
Added issue https://github.com/dotnet/coreclr/issues/17273

@AndyAyersMS I'm happy to do the C# workarounds?

[2018-03-27 21:07] kouvel commented on #28497
This exit status 32899 is odd, according to [this](https://developer.apple.com/library/content/documentation/OpenSource/Conceptual/ShellScripting/ResultCodes,Chaining,andArgumentParsing/ResultCodes,Chaining,andArgumentParsing.html), they are supposed to be in 0-255 range. In the System.Native Process PAL, it looks like [here](https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Nati

[2018-03-27 21:09] ahsonkhan commented on #28274
Since this issue is not reproducible on any sdk/package versions we have already shipped (nor on what's in master today), I am closing it. Feel free to re-open if that isn't the case.

[2018-03-27 21:09] #28274 closed

[2018-03-27 21:28] roji commented on #23899
As mentioned above the issue exists for Npgsql and is tracked in https://github.com/npgsql/npgsql/issues/1867.

FWIW having the provider-specific parameter class extend IDbDataParameter as a fix isn't pretty but seems OK to me: we know that ADO.NET isn't ideal in that it has this kind of baggage, but there's no actual visible downside to this fix AFAIK.

[2018-03-27 21:33] caesar1995 commented on #25640
re-assign to Max: likely loopback server proxy authentication issue.

[2018-03-27 21:35] karelz commented on #25040
Sadly, it is too late for 2.1. We are busy finishing the release for next Preview. Let's open the API discussion next week for post-2.1 release.

[2018-03-27 21:44] AndyAyersMS commented on #28511
Yes, please do so. A change in C# is going to be much more tractable then trying to fix this in the jit.

if it's ok with you I'll probably adapt dotnet/coreclr#17273 since what we really want is for common caching/non-caching patterns to work equally well across value/ref type `T`. Getting there will require a fair amount of work in the jit.

Right now caching is good for ref type `T` and bad for

[2018-03-27 21:58] benaadams commented on #28511
Fine by me :)

[2018-03-27 21:59] joperezr commented on #25916
I actually just looked into this. The main problem in here is that on Linux, by default, all input is echoed. We basically had two options when designing the Console.Read functionality, which was either initializing the terminal with the echo bit off or have it on and then just turning it off when we are reading stuff.

Turning it off for the whole terminal has a bunch of cons, mainly that this wo

[2018-03-27 22:01] joperezr commented on #25916
In case anybody is interested in helping fixing this, the next steps for this is to investigate what would it take to have Console use curses library.

[2018-03-27 22:06] ajcvickers commented on #27820
@gabrielimmich Can you confirm whether or not the approach suggested by @lajones above is working for you?

[2018-03-27 22:23] rmkerr opened #28521 "WinHttpHandler does not authenticate when unknown parameters are present with basic auth"
The [RFC](https://tools.ietf.org/html/rfc7617#section-2
) for Basic authentication states that unknown parameters must be ignored:

parameters MUST be ignored by recipients, and new parameters can
only be defined by revising this specification.

There are two cases that test this which are failing on `WinHttpHandler`:
[code]
The above cases look like additional auth schemes, but since they are not

[2018-03-27 22:23] rmkerr opened #28522 "[WinHttpHandler] Digest authentication resubmit differences between WinHttpHandler & SocketsHttpHandler"
This behavior difference causes a hang in the HTTP authentication tests. I'll summarize the issue here, with my thoughts at the bottom. I've been wrong about this particular failure before, so I'll try to stick to just the facts :)

In two of the `WWW-Authenticate` header test cases, an invalid `Digest` scheme will cause `WinHttpHandler` to resubmit the original request. `SocketsHttpHandler` will

[2018-03-27 22:23] rmkerr opened #28523 "Digest parsing on SocketsHttpHandler is not as robust as on WinHttpHandler"
In one of the `WWW-Authenticate` header test cases, unquoted digest parameters are successfully parsed by `WinHttpHandler`, but not by `SocketsHttpHandler`.  The test case was written to expect a `401` response, but failed on WinHttpHandler when the request successfully authenticated.

https://github.com/dotnet/corefx/blob/00547db7233076da50db7b4d6e1a8e7ff1710ed0/src/System.Net.Http/tests/Function

[2018-03-27 22:24] rmkerr commented on #28065
There's a lot here, so I am going to start breaking this out into separate issues as I investigate and root cause the failures. I've started by splitting out all of the Windows failures into three issues. Two (#28521, #28522) are present in WinHttpHandler, and I think both can be pushed out to future since they've never been reported. One (#28523) is actually in SocketsHttpHandler, and I am waitin

[2018-03-27 22:27] joperezr commented on #28497
@kouvel do you have a consistent repro of this? I'm not sure exactly why you would get that error code back, but this still feels like a Threading issue to me.

[2018-03-27 22:32] karelz commented on #28065
Thanks! Is there anything left here to track? Or is everything moved out to separate issues?

[2018-03-27 22:33] danmosemsft commented on #27496
We should check back on http://benchview in a few days when this has had a chance to percolate, to verify it's fixed.

[2018-03-27 22:35] joperezr commented on #27929
@sywhang are you still planning to work on this? we only have 3 days to go to ZBB so if you don't plan to do this yet I believe we can push it to Future for now.

[2018-03-27 22:38] rmkerr commented on #28065
All of the failures we saw on WinHttpHandler have been moved out, but the two CurlHandler cases are still here. I strongly suspect that the timeout issues on CurlHandler are going to be the same as #28523 but for missing commas rather than missing quotes, and that the rest of the digest failures are because of known pre-authentication behavior. All together I would be comfortable moving this issue

[2018-03-27 22:38] sywhang commented on #27929
I'm planning on adding more tests (or porting from Desktop) for this and some other changes I've made to the general ExceptionTracing but I don't know if I can get it in the next 3 days, so I moved it to future for now. Thanks for the reminder!

[2018-03-27 22:40] joperezr commented on #27889
I agree with @jkotas comment above so I'm closing this one for now. @GrabYourPitchforks feel free to re-open if you think we should do something different here.

[2018-03-27 22:40] #27889 closed

[2018-03-27 22:42] kouvel commented on #28497
It doesn't look like a consistent repro, the test has been around for a few months and is not disabled. Unless I'm missing something, the threading part seems pretty straightfoward - it's basically just testing the behavior of a function that returns a constant value in a child process. On Unix, GetApartmentState() returns ApartmentState.Unknown (https://github.com/dotnet/corefx/blob/master/src/Sy

[2018-03-27 22:56] joperezr commented on #28497
sounds good to me. Closing.

[2018-03-27 22:56] #28497 closed

[2018-03-27 22:58] kasper3 commented on #25916
Some related techniques https://stackoverflow.com/a/41933275

[2018-03-27 23:01] karelz commented on #28523
I am fine resolving it as By Design. If we have real-world usage for unquoted strings for realm/nonce (which directly violates the RFC - https://tools.ietf.org/html/rfc2617 page 3 & 8), we can adjust.
@geoffkizer @stephentoub @davidsh thoughts?

[2018-03-27 23:02] benaadams commented on #28511
As @AndyAyersMS pointed out the equality could be `object.Equals` or `IEquatable<T>.Equals(T)` which may be different implementations so think will have to fallback to caching in local as previous (for non-value types)

[2018-03-27 23:04] wfurt commented on #25916
Is there something "dotnet" binary can do @joperezr ? It would be also interesting to see what stand-alone app does. If this is concern for particular application we should provide enough functionality to reset terminal to expected state before reading. That would make this predictable. Switching to curses is whole different impact IMHO and adds unnecessary dependency - unless we want to do ASCII

[2018-03-27 23:10] wfurt commented on #28523
I think it nice to be liberal unless that creates security problem. Ability to accept token without requiring quotes would increase interoperability. However I would not expect to be priority for 2.1.
We can also test netfx as we take it as base line in many cases.

[2018-03-27 23:15] kasper3 commented on #25916
@wfurt, you are spot on. I am unable to reproduce this issue if i execute the assembly directly:

[code]

instead of `dotnet run`.

+1 on avoiding dependency on ncurses (if we can).

[2018-03-27 23:22] pjanotti commented on #27740
10 days without hitting this issue while previously it was about once a day. Big speculation: the "fix" may have come from CoreCLR via commit 6cf7a0f2a9ee57977ccd9950153319856813b7ec since the issue _seems_ related to jitting and there were no more failures after that. Closing it...

[2018-03-27 23:33] knocte commented on #19914
Ironically, @cosminstirbu's workaround only works for me if I replace the '/' path separators with '\' (and I'm using VS4Mac...).

[2018-03-27 23:53] kasper3 commented on #28418
Also `strace -f -o logfile dotnet /path/to/dll` or `strace -f -o logfile dotnet run` (it will be a huge log file, that can be shared through [github comment file attachment](https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/)). It may require you to install `strace`: `apt install strace`.

You can also try latest preview of .NET Core 2.1 for arm32: `docker pull microsof

[2018-03-27 23:55] tarekgh commented on #28271
@oneilj  can you use System.Threading.Tasks.Dataflow package and target at least 4.5? this is the min version of the supported framework.

[2018-03-28 00:04] tarekgh commented on #27518
@valenis @danmosemsft could you please clarify the ask here for this issue? Yes, I am aware of different improvements in the globalization area which is done by different people for a different feature. what investigation is this issue asking here?

[2018-03-28 00:08] danmosemsft commented on #27518
That is a question for @valenis : perhaps he wants to check the win is real and not a bad test? If so this issue can probably be just closed.

[2018-03-28 00:11] tarekgh commented on #27518
ok, the perf tests are reliable enough. I am going to close the issue and let @valenis reopen if he wants to do something more.

[2018-03-28 00:11] #27518 closed

[2018-03-28 00:15] kasper3 commented on #25916
@wfurt, @joperezr, I have asked a question at https://github.com/dotnet/cli/issues/8917. Maybe there is something that can be optimized at dotnet/muxer level for `dotnet run --no-build -c Release` to mitigate (if not permanently fix) this issue?

[2018-03-28 00:20] yujayee opened #28530 "Use DataContractSerializer to serialize Lazy<T> object"
When serialize Lazy<T> object, the output xml is not as expected.

           `var value = new Lazy<int>(() => 1);
            DataContractSerializer dcs = new DataContractSerializer(typeof(Lazy<int>));
            using (MemoryStream ms = new MemoryStream())
            {
                Console.WriteLine(value.Value);  //1
                Console.WriteLine(value.IsValueCreated);  //true

[2018-03-28 00:28] kouvel commented on #16934
It looks like WriteAsync is not there in the desktop framework, how does it compile? Also I guess any cancellation support would have to be done in Stream first, moving to System.IO/Pipelines.

[2018-03-28 00:38] #28402 closed

[2018-03-28 00:41] stephentoub commented on #16934
We should probably change those tests from ActiveIssue to SkipOnTargetPlatform.  The tests are validating a feature that's not yet in desktop.

Which method are you referring to?  Stream.WriteAsync(byte[], int, int, CancellationToken) exists in desktop.

[2018-03-28 00:59] kouvel commented on #16934
Oops missed that, guess it would be in PipeStream

[2018-03-28 01:06] ajcvickers commented on #28501
@Tornhoof That sounds like a reasonable change, however since we are closing down on 2.1 features I'm going to move this to Future for now. @divega @lajones Any thoughts?

[2018-03-28 01:28] stephentoub opened #28537 "ProxyExplicitlyProvided_DefaultCredentials_Ignored failed in CI"
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/11a515405be4fbf1cfe81c881b2ed702594ed40c/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_DefaultProxyCredentials_Test~2FProxyExplicitlyProvided_DefaultCredentials_Ignored
[code]
cc: @wfurt

[2018-03-28 02:07] MisinformedDNA opened #28538 "Mega-solution needed"
As a newbie to this repo, I find it very difficult to figure out where anything is. And when I do finally find what I need, I then have to try finding out where the test classes are. I'm sure it makes sense once you get it, but I don't get it. Beyond just finding classes, I'd love to able to navigate from project to project using F12 and Shift-F12, to see where the member was defined or what other

[2018-03-28 02:25] divega commented on #23899
We discussed this also with @ajcvickers and we agreed we will have to live with this pattern now: the provider-specific parameter object needs to implement the interface and hide the methods in the base class.

This would be a good thing for a suite of “ADO.NET spec tests” to check for. Although we don’t have such thing here, @bgrainger has been putting together one that looks promising so I filed

[2018-03-28 02:25] #23899 closed

[2018-03-28 02:31] eerhardt commented on #28499
Closing since this bug is fixed in `.NET Core 2.1`.

If this needs to be back ported to `.NET Core 2.0.x`, please open an issue in `dotnet/coreclr` for it.

[2018-03-28 02:31] #28499 closed

[2018-03-28 02:38] eerhardt commented on #20714
Would it make more sense to put these new APIs in the `System.Runtime.Intrinsics` namespace first?  That way people could take advantage of the instruction, if they needed.

After that, if necessary, we add a "general purpose" API once we get feedback?

[2018-03-28 02:41] eerhardt commented on #28333
I'm not sure myself.  @ericstj @weshaggard - do you have ideas to why these `reports` files contain extra info?

[2018-03-28 02:45] divega commented on #28501
@ajcvickers I agree. No other thoughts.

[2018-03-28 02:52] tannergooding commented on #20714
@eerhardt, most of these will be already available via `System.Runtime.Intrinsics` as singular instructions.

We can certainly wait to see if there is more feedback to expose a general API that has better performance than the System.Math implementation.

[2018-03-28 02:54] bartonjs commented on #28227
What I understand from @DrewScoggins is that the stress mixes will run `[Fact]` tests (but not, currently, `[Theory]` tests).

Span currently has many (~500) `[Fact]` tests and ~10 `[Theory]` methods, which are mostly on `AsSpan`, based on `src\System.Memory\tests\Span\*` as of 821f44ea4650f178f9ada3d85e54b1088a27e14d.

So I think we're in good shape.

[2018-03-28 02:54] #28227 closed

[2018-03-28 03:36] ahsonkhan opened #28539 "GetTaskSchedulersForDebugger_ReturnsDefaultScheduler tests failing in CI with NullReferenceException for Unix"
From https://github.com/dotnet/corefx/pull/28536
System.Threading.Tasks.Tests.TaskSchedulerTests/GetTaskSchedulersForDebugger_ReturnsDefaultScheduler
OSX.1013.Amd64.Open-x64-Debug
Ubuntu.1604.Amd64.Open-x64-Release
...
Centos.74.Amd64.Open-x64-Release
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/2c74aa99ae6f5bcb1048ef1450dc9894a

[2018-03-28 04:44] stephentoub commented on #28539
@ahsonkhan, presumably this is failing consistently?

@jkotas, is it possible the linker is removing this method on unix now that InternalsVisibleTo was removed?
https://github.com/dotnet/coreclr/commit/4b95b41d93e7b267c972fe60e0fe9f2068cbeb1c#diff-c2ad4c1a6dafaad71d39f285681f7384R631

[2018-03-28 05:18] jkotas commented on #28539
Yes, the linker is removing the method now. I have disabled the test and will submit a fix to CoreCLR.

[2018-03-28 06:32] quan01994 opened #28542 "same project dotnet build -c release on linux is fail"
same project .
on linux
![image](https://user-images.githubusercontent.com/20533465/38012499-47a4bfbc-3294-11e8-9cec-7a3aa58990ec.png)

on windows
![image](https://user-images.githubusercontent.com/20533465/38012526-5e74c6b0-3294-11e8-9491-3a7f7cce620a.png)

but on linux ,run " dotnet build -c release " is fail
![image](https://user-images.githubusercontent.com/20533465/38012581-a0aa5842-3294-11e8

[2018-03-28 06:45] joshfree commented on #28542
@livarcocc should this go to dotnet/cli?

[2018-03-28 07:11] benaadams commented on #28511
Resolved by https://github.com/dotnet/coreclr/pull/17285

Dictionary size 10,000
Pre
[code]
Post
[code]
https://gist.github.com/benaadams/e7ec75119ec5eb98f56f17cfbaf2f0d4

[2018-03-28 07:17] stephentoub opened #28543 "Fix perf hit from WinHttpGetProxyForUrl"
The recent addition of calling WinHttpGetProxyForUrl by default for each SocketsHttpHandler request on Windows is adding non-trivial overhead, at least 5% to each request in a local measurement.  We should avoid that.  For example, by using WinHttpDetectAutoProxyConfigUrl to see if there's an autoproxy, and if there isn't, caching that knowledge and then skipping WinHttpGetProxyForUrl for all subs

[2018-03-28 07:19] dotnet-mc-bot opened #28544 "Test failure: System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest/PostAsync_CallMethod_EmptyContent(remoteServer: https://corefx-net.cloudapp.net/Echo.ashx)"
Opened on behalf of @Sunny-pu

The test `System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest/PostAsync_CallMethod_EmptyContent(remoteServer: https://corefx-net.cloudapp.net/Echo.ashx)` has failed.

Assert.Equal() Failure\r
    Expected: (null)\r
    Actual:   Byte[] [172, 187, 137, 202, 24, ...]

        Stack Trace:

           at System.Net.Http.Functional.Tests.TestHelper.Ver

[2018-03-28 07:34] dmitriyse commented on #28025
Sandbox for this proposal:
https://github.com/dmitriyse/ClrCoder/tree/master/src/ClrCoder/Threading/Channels

Probably (after some time) we needs to push this issue back to CoreFXLab to something like System.Threading.Channels.Extensions

[2018-03-28 07:37] dotnet-mc-bot opened #28545 "Test failure: System.Net.Security.Tests.ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_EachServerUnsupportedProtocol_Fail(protocol: Ssl3)"
Opened on behalf of @Sunny-pu

The test `System.Net.Security.Tests.ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_EachServerUnsupportedProtocol_Fail(protocol: Ssl3)` has failed.

Assert.Throws() Failure
    Expected: typeof(System.NotSupportedException)
    Actual:   typeof(System.TimeoutException): Task timed out after 240000

        Stack Trace:

           at System.Threading.Tasks.TaskTi

[2018-03-28 07:51] Sunny-pu commented on #28082
failed again:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20180328.01/workItem/System.Console.Tests/analysis/xunit/ReadAndWrite~2FOutputEncodingPreamble

[2018-03-28 08:25] davidfowl commented on #28492
This was fixed

[2018-03-28 08:25] #28492 closed

[2018-03-28 08:31] luigiberrettini commented on #25040
I am sorry it took me too long to implement it 😞

[2018-03-28 09:34] nockawa opened #28546 "ValueTask<T> and ValueTask should implement the same common interface"
Both class could implement an interface like this one
[code]
Another method could be added to the interface to access the underlying Task, returning a `Task` object which is possible as `Task<T>` derived from `Task`.
[code]

This way we could store `IValueTask` fields in our custom types that would address either `ValueTask` or any kind of `ValueTask<T>`

I'm aware this would introduce Boxing to d

[2018-03-28 10:21] davidfowl commented on #28546
You wouldn’t use this if you cared about performance...

[2018-03-28 10:36] nockawa commented on #28546
Yes I know and agree, but what if you care about storage?

[2018-03-28 10:39] davidfowl commented on #28546
Convert it to a task.

[2018-03-28 11:09] nockawa commented on #28546
My understanding was that `AsTask()` could trigger unnecessary code if the ValueTask could be completed fairly quickly. An interface wouldn't hurt in any way, right?

[2018-03-28 11:13] davidfowl commented on #28546
Would it have to be awaitable? What’s your scenario exactly?

[2018-03-28 11:25] nockawa commented on #28546
I do async read/write operations from a FileStream. The File is split into many clusters, and I can read/write to each of them, so it means storing the Task for the running IO operation (can't be both read and write at the same time on the same cluster).

I do care about the overall size of storage of the data stored, I do agree it's borderline, storing one ValueTask<T> for read and another ValueT

[2018-03-28 12:21] filipnavara commented on #28352
I have updated the Pango code in libgdiplus and submitted PRs for problems that I could find. It is still nowhere near as tested as the equivalent Cairo text rendering, so any help with that will be greatly appreciated.

[2018-03-28 12:56] sepehr1014 commented on #25800
Any updates on this issue?

[2018-03-28 13:25] joemey commented on #28542
this looks like https://github.com/dotnet/cli/issues/8048

for some reason the compiler tries to write the XML file to [code]/data/projects/Hyw/src/bin/**R**elease/netcoreapp2.0/Hyw.Api.xml[/code] when the directory only exists with an lowercase "r"

[2018-03-28 13:38] fanoI commented on #28379
I have a question regarding the Dispose() of this structure it should be always called?
If so the posted examples are not risking to leaking memory?

[2018-03-28 14:08] soc commented on #28356
@danmosemsft Yes, I'm doing that already:

[code]

The main idea of fixing the gaps is not having to do this anymore. :-)

What would be the next time frame to get this merged (2.2?) and what would this mean for availability in .NET/Powershell?

[2018-03-28 14:11] soc commented on #28356
@danmosemsft @muaddubby I'll try to sit down and find some time to document the differences between `KnownFolderId` and `SpecialFolder`, so that we have the full picture to make decisions on.

[2018-03-28 14:21] deinok opened #28548 "BitConverter - Select Endianness"
Add a way to set the Endianness of the methods. Something like:
[code]

Where the default parameter points to the system default endianness

[2018-03-28 14:24] cyberphone opened #28549 "(Out)dated JS escaping rules in JsonValue.cs"
https://github.com/dotnet/corefx/blob/master/src/System.Json/src/System/Json/JsonValue.cs

Edge, Chrome, Firefox:
Input: JSON.stringify("</script>")
Result: ""</script>""

I can't verify that U+2028 (LINE SEPARATOR), U+2029 (PARAGRAPH SEPARATOR) needs to be escaped either.  Only Firefox does that at the moment.

[2018-03-28 14:36] svick commented on #28546
I'm not sure it makes sense to ask that question. If you care about performance, you're not going to do either one, because both allocate. If you don't care about performance, then converting to `Task` is fine.

The case where boxing `ValueTask` is acceptable, but converting to a `Task` is not, is likely going to be narrow, so I don't think it makes sense to add API just for that.