[2018-04-03 17:27] krwq commented on #27483
cc: @mconnew

[2018-04-03 17:37] ericstj commented on #28781
I inspected the code and I actually think it is sorted, though by a slightly different identifier than one might expect.

The data is stored by framework : framework version : assembly version.  The framework gets sorted by the identifier (full form, sometimes prefixed with a dot) and profile.  This leads to things like .NETCoreApp appearing before monotouch, even though their short forms have the

[2018-04-03 17:37] #28781 closed

[2018-04-03 17:38] Anipik commented on #28590
@xlegalles feel free to re-open the issue :)

[2018-04-03 17:38] #28590 closed

[2018-04-03 17:40] Anipik commented on #21857
@danmosemsft its been done a long time ago https://github.com/dotnet/corefx/pull/28401

[2018-04-03 17:50] bartonjs commented on #28625
Got a repro.  Odds of failure were worse than 1 in 65536 (There's a second scaling parameter that I'm not bothering to calculate right now, so I'll stick with two 1/256s that had to happen together).

Looks like OpenSSL treated it as if it were the same as having enough leading zero-bytes, and when the padding works out it lets it go.  Since we have enforced minimum length checks on Windows (by Wi

[2018-04-03 17:57] danmosemsft opened #28782 "Difference in code and documentation of BlockingCollection.BoundedCapacity"
@nerai commented on [Tue Apr 03 2018](https://github.com/dotnet/coreclr/issues/17395)

[.NET framework reference source of `BlockingCollection.BoundedCapacity`](https://referencesource.microsoft.com/#System/sys/system/collections/concurrent/BlockingCollection.cs,72) says:

However, if no capacity is supplied in the ctor, it is called:

    Initialize(collection, NON_BOUNDED, collection.Count);

wi

[2018-04-03 18:00] divega commented on #28769
**System.Data Triage:** This proposal has a lot in common with ideas we have been discussing as part of the [data access performance effort](https://github.com/aspnet/dataaccessperformance/), in particular the "shaper" API that materializes objects straight out of buffers that @anpete has prototyped.

We can use this issue to track the general idea, so moving to the Future milestone for now.

cc a

[2018-04-03 18:02] Anipik commented on #21857
Done !

[2018-04-03 18:03] ericstj opened #28784 "Cannot save settings in .NETCore app"
System.Configuration.ConfigurationManager exposes settings and I was able to make these work for read, but they fail to save.

I see:
[code]

This appears to be a bug in `ImplicitMachineConfigHost` where it assumes the caller of `IInternalConfigConfigurationFactory.Create` will always specify a `ConfigurationFileMap` as the first parameter.  This is not the case for `ClientSettingsStore.OpenExeCon

[2018-04-03 18:14] divega commented on #28769
Here are a couple of initial comments:

In https://github.com/aspnet/dataaccessperformance/, we happened to do some analysis of the inherent overhead of the ADO.NET API itself: we built a simple but very fast provider for PostgreSQL that exposes a somewhat similar API to what is described in this proposal, then we created a façade ADO.NET API over it. When we ran some benchmarks using both APIs, a

[2018-04-03 18:28] EmmaZhu commented on #28713
@Anipik  What do you mean about the full framework? Anyway I can change it?

[2018-04-03 18:32] pakrym commented on #28750
/cc @GrabYourPitchforks

[2018-04-03 18:44] ahsonkhan commented on #28750
In what scenario would you use such a constructor? Do we ever need to create a ReadOnlySequence from a MemoryManager (through MemoryMarshal or otherwise)? Please provide a code sample that shows use of that constructor.

[2018-04-03 18:49] #17522 closed

[2018-04-03 18:50] TravisEz13 commented on #19110
@danmosemsft I'm not saying it worked before.  I was basing the "again" part on the "seems to be fixed" statement.

[2018-04-03 19:02] danmosemsft commented on #19110
@TravisEz13 ah right. I have an email out...

[2018-04-03 19:09] buddyabaddon commented on #28761
@danmosemsft I did offer a fix: #28762

@wfurt It appears Ubuntu (verified in a docker container) returns the arch for both 'uname -p' and 'uname -m' which I'm guessing is why this code is originally like this.
I ran this on a Gentoo distro which does what I would expect to be the correct thing and return the processor type for 'uname -p' and the arch infor for 'uname -m'.

[2018-04-03 19:47] wfurt commented on #28204
I verified that the suggested change fixes the problem @joperezr
(used repro tool to get test bits from 1560c491-6370-4750-8c48-b9597a3f408f)

before:

than I installed iputils and got clean run:

[2018-04-03 19:56] rmkerr commented on #28759
I think that not nulling out those fields sounds like a reasonable change. I'm in the process of setting up a mac now, and can test that fix as soon as I am done.

[2018-04-03 20:10] tmds commented on #28668
@danmosemsft indeed it looks as if these processes exited, I don't have any thoughts why. I'll try to reproduce this somewhere next week.

[2018-04-03 20:11] stephentoub commented on #28733
Do we know why the default is Off for 1.1 and 1.2 on Win7/2008R2?

I'm wondering if rather than doing this in SocketsHttpHandler, we should do it in SslStream.

[2018-04-03 20:15] davidsh commented on #28733
At the time of release of Win7/Win2K8R2, TLS 1.1 and 1.2 weren't supported.  Servicing updates of these OS versions added the support.  But the use of the 'SystemDefaultTlsVersions' setting didn't include them as default since many older apps might break if the defaults were changed like that. We can follow-up with the SCHANNEL team internally if you need more info.

That is another option.  We co

[2018-04-03 20:15] joshfree commented on #27434
related https://github.com/dotnet/corefx/pull/27338

[2018-04-03 20:18] ahsonkhan commented on #28752
Can you please provide a scenario or code snippet where such a ctor would be useful? Why do we need it?

See example of "Rationale and Usage": https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2018-04-03 20:27] karelz commented on #26846
No response, closing. Let us know if/when there is more info and we can reopen.

[2018-04-03 20:27] #26846 closed

[2018-04-03 20:34] Anipik commented on #28713
by full framework I meant .NET Framework. How are you using NetCoreApp2.1 ? you can try updating it to the most recent build. Because I am not able to repro in NetCoreApp2.1. You can download the latest version of netcoreapp2.1 from https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2018-04-03 20:48] caesar1995 commented on #28749
The root cause for this issue is as @wfurt mentioned, [this line of code](https://github.com/dotnet/corefx/pull/28578/files#diff-2675d24b3a3482c87ea2b9a41e2bdfb7R200) caused trouble.

Uri.IdnHost will return `fe80::e077:c9a3:eeba:b8e9%18`.
Uri.Host will return `[fe80::e077:c9a3:eeba:b8e9]`.

After we change to `isIPv6Address ? uri.Host : uri.IdnHost`, the `uri.Host` will be returned if IPv6 addres

[2018-04-03 20:49] krwq opened #28787 "Investigate redundant IdnMapping calls"
https://github.com/dotnet/corefx/pull/28725 is adding IdnMapping call in SslStream which have made IdnMapping call in HttpClient (SocketsHttpHandler) redundant.

cc: @davidsh

[2018-04-03 20:51] karelz commented on #28749
BTW: The test is failing in nightly runs massively - see updated top post.
If we can't have proper fix right away, please disable the test first to avoid the noise, thanks!

[2018-04-03 20:56] davidsh commented on #28749
Also, regarding IPv6 link-local addresses (LLA), these are problematic for UWP.  For example, we disabled some tests for UWP because while System.Uri can handle scope-id's in LLA's, Windows.Foundation.Uri cannot.  So, you might want to try these tests against outerloop UWP as well and disable if needed.

See: #22158 which is tracking against Windows internal bug as well.

[2018-04-03 21:00] roji commented on #28769
Just to state the obvious, it's important to test with another provider before determining that the chattiness of the DbDataReader API is a major cause of slowdown. I don't know how things work with SQL Server/TDS, but at least in PostgreSQL the protocol overhead really shouldn't be that big a factor. It's definitely worth profiling to see with other database (SQLite, PostgreSQL, MySQL) before goi

[2018-04-03 21:33] divega commented on #28700
@Anipik @ViktorHofer @danmosemsft what do you think the plan be for this issue?

From reading the comments at #27286 and https://github.com/dotnet/corefx/issues/26472#issuecomment-359152205 it seems that this was broken for .NET Core before the change and it was known that the change would break compatibility with other frameworks.

Unless something has changed and we can have a different fix that

[2018-04-03 21:44] caesar1995 commented on #28749
Test disabled here: https://github.com/dotnet/corefx/pull/28789

To reduce the noise.

[2018-04-03 21:50] #28585 closed

[2018-04-03 22:07] karelz opened #28790 "[Regression][RedHat69] System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_SslProtocols_Test / GetAsync_AllowedSSLVersion_Succeeds"
## Type of failures

Test case: `acceptedProtocol: Ssl3, requestOnlyThisProtocol: True`

[code]

## History of failures

Day | Build | Details
-- | -- | --
3/31 | 20180331.05 |
4/1 | 20180401.01 |
4/1 | 20180401.02 |
4/2 | 20180402.01 |
4/2 | 20180402.02 |
4/2 | 20180402.05 |
4/3 | 20180403.01 |
4/3 | 20180403.04 |

All test cases are `acceptedProtocol: Ssl3, requestOnlyThisProtocol: True`

[2018-04-03 22:09] rainersigwald opened #28791 "NamedPipeClientStream.Connect(int) does not respect timeout on UNIX domain sockets"
On Windows, if you connect to a `NamedPipeServerStream` that was created with `maxNumberOfServerInstances=1` from one process, and attempt to connect to it from another process with `NamedPipeClientStream.Connect(timeout: 0)`, it throws.

On .NET Core 2.1 on Linux, the call to `Connect` hangs indefinitely instead. Internally, it's successfully called `connect()` and is waiting on `recvmsg()`.

Rep

[2018-04-03 22:09] rainersigwald commented on #28791
cc @stephentoub @pjanotti

[2018-04-03 22:12] winzig commented on #28652
Thanks @bartonjs, now that the build issue was resolved, I was able to implement your steps and get back up and running!

[2018-04-03 22:28] karelz opened #28793 "[Regression] System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_ResponseDrain_Test / GetAsync_DisposeBeforeReadingToEnd_DrainsRequestsAndReusesConnection"
## Type of failures

OSX failures:
[code]

## History of failures

Day | Build | OS
-- | -- | --
3/14 | 20180314.05 | OSX10.13
3/14 | 20180314.07 | OSX10.13
3/23 | 20180323.01 | OSX10.13
3/24 | 20180324.03 | OSX10.13
3/26 | 20180326.01 | OSX10.13
3/27 | 20180327.01 | OSX10.13
3/27 | 20180327.04 | OSX10.13
3/29 | 20180329.05 | OSX10.13
3/30 | 20180330.01 | OSX10.13
3/30 | 20180330.06 | OSX10.13
3/3

[2018-04-03 22:28] karelz commented on #28793
It looks very similar to #27528 - @geoffkizer any ideas?

[2018-04-03 22:51] morganbr commented on #23213
System.Type (or anything else reflection-related) is unlikely to become serializable for a couple of reasons:
1. It doesn't translate well across runtimes, platforms, and versions. A given type may or may not exist, be in the same assembly, or have the same members.
2. While .NET Core doesn't promise that binary serialization is more secure than it is with .NET Framework, reflection types are part

[2018-04-03 23:15] danmosemsft commented on #28700
I agree, the `DataType` field was changed to `DataType_AssemblyQualifiedName` because we do not want to make Type binary serializable. That means DataTable when serialized with `dt.RemotingFormat = SerializationFormat.Binary` cannot be exchanged between .NET Core and .NET Framework. (Nor with .NET Core 2.0). As noted in #26742, if you want to exchange with .NET Framework you have to serialize Data

[2018-04-03 23:31] MisinformedDNA opened #28798 "Test failure in System.Security.Principal.Windows"
WindowsPrincipalTests.CheckUserClaims [FAIL]
        System.ObjectDisposedException : Safe handle has been closed
        Stack Trace:
              at System.Runtime.InteropServices.SafeHandle.DangerousAddRef(Boolean& success)
           E:\A\_work\10\s\src\mscorlib\src\System\StubHelpers.cs(1639,0): at System.StubHelpers.StubHelpers.SafeHandleAddRef(SafeHandle pHandle, Boolean& success)

[2018-04-03 23:36] danmosemsft commented on #28791
@pjanotti are you planning to look at this one (I believe there was an email thread already)?

[2018-04-03 23:50] danmosemsft commented on #28798
Is this https://github.com/dotnet/corefx/issues/16511 ... if so maybe it needs a change like https://github.com/dotnet/corefx/pull/28317/files ?

[2018-04-03 23:53] pjanotti commented on #28791
Yes, we are already discussing this one. I will update as appropriate.

[2018-04-04 00:03] caesar1995 commented on #28793
Similar callstack here: https://github.com/dotnet/corefx/issues/28703#issuecomment-378117161

[2018-04-04 00:18] Jlalond commented on #15554
Hey all, an update. I am still working on this, but took a small Hiatus (I moved and everything has been crazy!) Just wanted to give everyone an update. I hope to send our a PR next week

[2018-04-04 00:35] divega commented on #28700
@danmosemsft @marek-safar should we consider increasing compatibility moving forward by updating .NET Framework and Mono to understand and produce DataType_AssemblyQualifiedName in addition to DataType, and by introducing some sort of flag to control the behavior on all implementations?

[2018-04-04 01:41] nerai opened #28799 "Build failed requiring cmake, but cmake seems to be present"
I am having a little trouble getting corefx to build. I ran the VS 2017 updater and freshly cloned master, then ran the sync script.

Cmake 3.11.0 was installed and I verified that its bin directory is listed when running the PATH command. Yet, there is an error `CMake is a pre-requisite to build this repository but it was not found on the path. Please install CMake...` followed by `Failed to gene

[2018-04-04 01:55] stephentoub commented on #15554
Thanks for the update.

[2018-04-04 02:17] phu2524 opened #28801 "https://www.account.microsoft.com"

[2018-04-04 02:45] stephentoub commented on #28790
@karelz, with what inputs?  GetAsync_AllowedSSLVersion_Succeeds is a theory.

[2018-04-04 02:48] stephentoub commented on #28793
We were guessing at the draining behavior of WinHttpHandler and CurlHandler; seems like we just guessed wrong and should simply disable the test for them, e.g. by removing the `&& mode == ContentMode.BytePerChunk` at https://github.com/dotnet/corefx/blob/4a549f7fe7e8ea19f4fea8a233e525ebe0df7abb/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs#L48.

[2018-04-04 02:49] #28801 closed

[2018-04-04 03:00] MisinformedDNA commented on #28798
It may be related. Indeed, my computer is not domain joined. But based on other builds I've done, I would think something changed over the last few days.

I'm at commit e43901d03a3183c62dba9f354e51130a5c514a30, and I have verified that the referenced commit is included in my code. I synced up today.

[2018-04-04 03:21] sdmaclea opened #28802 "LongRunning System.IO.FileSystem.Tests should be [OuterLoop]"
@JeremyKuhne, @pjanotti System.IO.FileSystem.Tests runtime is dominated by the following 10 testcases.  These should move to `[OuterLoop]` to make it practical to run on `arm` and `arm64`

cc/ @BruceForstall

[code]

[2018-04-04 03:42] sdmaclea opened #28803 "LongRunning System.Xml.RW.XmlConvert.Tests should move to [OuterLoop]"
@krwq, @pjanotti The following 13 tests cases account for 50% of the runtime and should probably move to `[OuterLoop]` to make it practical to run the tests on `arm` and `arm64`

cc/ @BruceForstall

[code]

These 18 case represent most of the rest of the test time.  They should also be considered for `[OuterLoop]`

[code]

[2018-04-04 04:09] danmosemsft commented on #28802
They are fast on x64, right? Would be a shame to reduce CI coverage for other architectures. Perhaps we need a slow-on-arm trait.

[2018-04-04 04:09] danmosemsft commented on #28803
Again aren't they fast on x64? We should not globally move to outer if we can do it just for arm.

[2018-04-04 04:11] sdmaclea opened #28804 "System.Linq.Expressions.Tests is 2nd longest running corefx test suite"
@VSadov @OmarTawfik System.Linq.Expressions.Tests is currently the 2nd longest test suite.  This will make it difficult to run on `arm` & `arm64`.  It would be good to find some mechanism to shorten the tests.

Options:
- Split the test into multiple smaller tests
- Move longest running tests to `[OuterLoop]`

There are current 35K tests in this test suite.  Recent run took ~10 minutes.  Unfortuna

[2018-04-04 04:34] sdmaclea commented on #28802
For x64, these are the 8 slowest tests.  They seem to correlate at least somewhat.

[code]

The total run time is substantially different.  This could be due to several factors

- Arm64 data above was run with `checked` CoreCLR build
- Arm64 data above was run on runtime which had not been crossgened (x64 runtime is crossgened)
- Arm64 JIT is immature and maybe be missing important optimizations
-

[2018-04-04 05:03] sdmaclea commented on #28804
This suite is 10x faster on x64, release, crossgened.

These are the slower tests there.

[code]

[2018-04-04 05:03] bartonjs commented on #28798
@Tratcher The Internet suggests you've seen (effectively) this callstack before.  I don't suppose you know what the actual problem is? :smile:

[2018-04-04 05:05] sdmaclea commented on #28802
I just realized, my arm64 numbers were taken with StressLog enabled too...

[2018-04-04 05:13] Tratcher commented on #28798
Seen it, yes, understood it, no. https://github.com/aspnet/HttpSysServer/issues/426

[2018-04-04 05:51] wfurt commented on #21037
In attempt to reproduce, I got
Assertion failed: (numEvents != 0), function WaitForSocketEventsInner, file /Users/build/github/wfurt-corefx/src/Native/Unix/System.Native/pal_networking.c, line 2229.

and core file was generated. I'll try to build libsosplugin so we can get managed frames from the core.

cc: @stephentoub @geoffkizer in case they have some suggestions.

[2018-04-04 05:54] roji commented on #28769
@divega of course, you're right - in my response above I concentrated on the `IEnumerable` instance itself, but of course that's much less important.

There's the theoretical possibility of returning the same `T` from `Enumerator<T>.Current`, and caching T. However, that's going to break the usual enumerable behavior (stuff like `ToList()`, `ToArray()` will totally fail). I do wonder if there's an

[2018-04-04 06:41] benaadams commented on #21052
Resolved by https://github.com/dotnet/corefx/pull/25738?

[2018-04-04 07:01] alrz commented on #21052
Yes, thanks

[2018-04-04 07:01] #21052 closed

[2018-04-04 07:15] Sunny-pu opened #28805 "Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Cancellation_Test / GetAsync_CancelDuringResponseBodyReceived_Buffered_TaskCanceledQuickly"
Test System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Cancellation_Test.GetAsync_CancelDuringResponseBodyReceived_Buffered_TaskCanceledQuickly has failed.

MESSAGE:
Elapsed time 00:00:31.6655081 should be less than 30 seconds, was 31.6655081\r\nExpected: True\r\nActual: False
[code]
Details: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/45

[2018-04-04 08:12] welkie commented on #26966
@kasper3 I just realized what you meant by your comment after revisiting this issue. The dotnet-sdk package has actually made it's way into Arch's official repos now (community), it no longer lives in the AUR. The package's dependency list makes no mention of ncurses at all. Do you think adding it to the dependency lost would help this situation? If so, should we be proposing the Arch package main

[2018-04-04 08:27] pantonis commented on #28711
@joperezr Since this is an enterprise system I cannot post binlon publicly here. Could you provide me with an email address please?

Thanks

[2018-04-04 09:12] QtRoS commented on #28764
@karelz if you take in account my example it more looks like a bug than a question...

[2018-04-04 09:14] iSazonov opened #28807 "Custom string format "h" throw"
From official [docs](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings) and [docs](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#the-h-custom-format-specifier):
"h" The hour, using a 12-hour clock from 1 to 12.
2009-06-15T01:45:30 -> 1
2009-06-15T13:45:30 -> 1

Really `datetime.ToString("h")` throw with

[2018-04-04 09:37] iSazonov opened #28808 "Calender.GetWeekOfYear is not compatible with ISO 8601 and date Unix utility"
`System.Threading.Thread.CurrentThread.CurrentCulture.Calendar.GetWeekOfYear()` return values that are not compatible with ISO 8601 and `date` Unix utility in some edge cases.

ISO related [link](https://en.wikipedia.org/wiki/ISO_week_date#Relation_with_the_Gregorian_calendar)

The issue was discovered in PowerShell repo https://github.com/PowerShell/PowerShell/pull/6542 (You should use the build

[2018-04-04 10:12] svick commented on #28807
This is specifically called out in [the documentation you linked to](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#using-single-custom-format-specifiers) as the correct behavior:

[2018-04-04 10:19] divega commented on #28769
@roji yes, I was thinking the same thing re preparation.

[2018-04-04 10:27] iSazonov commented on #28807
@svick Thanks for clarify! I skipped the notes - "%h" is resolved my issue.

Yes, the exception message could be better.

[2018-04-04 10:27] #28807 closed

[2018-04-04 10:32] armitagemderivitec commented on #25773
@karelz @joperezr my issues are indeed with Asp.Net web projects, we have both an API and  MVC site with the issue

[2018-04-04 10:44] MarcoRossignoli commented on #28714
If i understood well this behaviour seems by design. `TraceSource`  create local instance of [`TraceListenerCollection`](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceSource.cs#L93) on first `TraceEvent` call. In [this phase](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceList

[2018-04-04 12:03] stephentoub commented on #21037
@wfurt, thanks.  Even without libsosplugin, it'd be good to know from the core file how we ended up here, e.g. what's the value of `numEvents` and `*count`.  The comment on this assert seems valid and the code above it looks correct, so if the man pages are correct for kevent, it's not clear to me how we could have ended up here.

[2018-04-04 12:35] Timovzl commented on #23629
@Sidshetye has made [a detailed proposal](https://github.com/dotnet/corefx/issues/23629#issuecomment-368179118) that I believe addresses all the requirements. The single criticism, regarding RUP, has been addressed with no further opposition. (Specifically, RUP may be prevented in one of several layers, and the low-level API should not dictate which; and offering _no_ streaming is expected to have

[2018-04-04 12:43] jwisener commented on #25773
Same for us

On Wed, Apr 4, 2018 at 5:33 AM armitagemderivitec <notifications@github.com>
wrote:

[2018-04-04 13:45] bartonjs commented on #23629
Windows allows streaming.  OpenSSL does, too.  Both of those mostly pigeonholed it into existing concepts (though they both threw in a wrench with "and there's this thing on the side you have to deal with or I'll error out").

Go does not, and libsodium does not.

It seems like the first wave allowed it, and later ones don't.  Since we're inarguably in a later wave, I think that we're going to sti

[2018-04-04 14:02] sdmaclea commented on #28802
Created https://github.com/dotnet/coreclr/issues/17410

[2018-04-04 14:02] #28802 closed

[2018-04-04 14:09] sdrapkin commented on #23629
GCM specification does not allow release of *anything* other than **FAIL** on tag mismatch. NIST is quite clear about that. The original GCM paper by McGrew & Viega also says:

None of the prior comments addressed RUP - they merely hand-waved it away ("the higher layer will take care of it" - yeah, right).

It's simple: GCM encryption can stream. GCM decryption cannot stream. Anything else is no l

[2018-04-04 14:10] sdmaclea commented on #28803
Opened https://github.com/dotnet/coreclr/issues/17411

[2018-04-04 14:10] #28803 closed

[2018-04-04 14:10] mabead opened #28810 "memory reported by lldb does not match memory reported by `top`"
We have memory issue with a .net core 2.0.5 service that runs in a linux container. The service consumes too much memory. After some struggling, I was able to create a memory dump using the following commands:

[code]
Where `1` is the PID of the process that consumes too much memory. I also executed the `top` and `htop` commands before generating this dump. Here's what it looked like:

![image](ht

[2018-04-04 14:42] pjanotti commented on #25676
In hindsight I should have started with Steve's indication that this problem was related to #25646, anyway, with a modified test (loop+forced_delays+outerloop) that was hitting either the Ssl error or the other stack above in at most 10 runs with the original code, did not hit any issue in 330 runs during the night running against a preliminary version of the fix.

I want to do some more tests and

[2018-04-04 14:49] oliverw commented on #1626
I suppose Freebsd 11 "pkg install" support for netcore 2.1 (once released) won't happen, right?

[2018-04-04 15:10] aherrick commented on #11224
Can someone help me understand exactly what `ConnectionLeaseTimeout `means?

If in my App I set it for 1 minute, does that mean every minute the connection lease will timeout? What exactly does that mean for talking with my back-end?

I see people are talking about the DNS updating on the back-end? On a standard Azure Web App, would publishing my ASP.NET back-end cause a DNS refresh?

Wouldn't a 1

[2018-04-04 15:12] MohammadHamdyGhanem commented on #28714
@MarcoRossignoli
Thanks for your explanation.
I think you give a workarround, and mine in fact is shorter.
I think the best way to deal with this issue, is to add TraceSource.IndentLevel property, or make the TraceSource.TraceX methods update the listeners indent at every call.
I expect also this doesn't happen when adding new listeners,  so the Listeners.Add methould should make the default inden

[2018-04-04 15:16] MarcoRossignoli commented on #28714
maybe another workaround could be add same `new DefaultTraceListener()` to global `Trace.Listeners` and to `mySource.Listeners`, but i didn't try.

[2018-04-04 15:25] VSadov commented on #28804
We should run “debug” under profiler. Considering 10x difference, it could be something obvious - like an expensive assertion on a common codepath.

[2018-04-04 15:40] karelz commented on #28764
@QtRoS I let area owners to make the final call here.

[2018-04-04 15:42] marek-safar commented on #28700
@divega @danmosemsft @karelz The [MSDN page](https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization#binary-serialization-in-net-core) explicitly lists DataTable to be

which I think is no longer true after the change. We should either fix the code to support what we promised or not give such promises.

[2018-04-04 15:42] shaunluttin commented on #28655
Thank you for taking a look at this. The decision not to fix makes sense. The current documentation is confusing ([it lead to this conversation on StackOverflow](https://stackoverflow.com/questions/49523954/why-do-we-not-get-a-performance-improvement-with-pseq)) but it isn't the end of the world.

[2018-04-04 15:50] karelz commented on #28810
EEHeap is ExecutionEngine Heap, i.e. managed memory only.
`top` reports `VIRT` also as similar number 49MB. Is it possible that `RES` (1.474g) means reserved memory, but not committed? (or whatever the terms are on Linux when you reserve virtual memory block, but don't ask the OS to block real memory for it just yet)

IMO it would be totally understandable if there was a memory spike in your appli

[2018-04-04 15:52] MohammadHamdyGhanem commented on #28714
I think they only focused on initializing the indent from the config file. But missing indent methouds and propertied can make TraceSource class behave oddly as it depends on another class to change the indent. This will be worest in multi-thread tasks beause the Trace.IndentLevel can affect different instances of the TraceSource class. So, I understand why they use this design to isolate TraceSou

[2018-04-04 15:54] karelz commented on #25773
Thanks for confirmation @armitagemderivitec @jwisener.
@AlexGhiondea @joperezr do you want to create a new bug to track the ASP.NET web project bug? Then we can close this one.

[2018-04-04 16:04] karelz commented on #28790
All test cases are `acceptedProtocol: Ssl3, requestOnlyThisProtocol: True` - I assume it is fallout from Ssl2/Ssl3 being now enabled.
I assume we should just disable the test case on RedHat69 as it is not supported there at all ...

[2018-04-04 16:06] danmosemsft commented on #28700
@ViktorHofer can you please get the doc fixed? It should say "unless you set RemotingFormat to SerializationFormat.Binary in which case it can only be exchanged with .NET Core 2.1 and later versions."

[2018-04-04 16:09] danmosemsft commented on #28668
2nd issue again on RH7.4. Seems RH/Centos specific so far.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180404.02/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FProcessStart_OpenFileOnLinux_UsesSpecifiedProgram(programToOpenWith:%20%5C%22nano%5C%22)

[2018-04-04 16:09] weliwita commented on #28780
I'm also having proxy issues with MacOs.
`
static void Main(string[] args)
        {
            HttpClientHandler handler = new HttpClientHandler();
            var client = new HttpClient(handler);
            string baseUrl = "http://www.bbc.com";

            try
            {
                HttpResponseMessage res = client.GetAsync(baseUrl).Result;
                if (res.IsSuccessStatusCode

[2018-04-04 16:14] danmosemsft commented on #28799
Hi @nerai this is coming from here https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Native/Windows/probe-win.ps1#L53
Perhaps by adding some "printf" to this file you can figure out what is going on. Perhaps it is not finding cmake in the registry keys for some reason: https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Native/Windows

[2018-04-04 16:15] wfurt commented on #28780
On OSX You have to "export http_proxy http://proxy.server.com:3128"
curl library we use under the cover does not know how to read  system settings.
Future work is tracked in https://github.com/dotnet/corefx/issues/26593

[2018-04-04 16:15] MisinformedDNA commented on #17905
I filed my first PR, but 2 of the builds failed. Both build failures seem to indicate a timeout. What action should I take to resolve this?

See https://github.com/dotnet/corefx/pull/28795

[2018-04-04 16:30] janvorli commented on #28810
@karelz The number reported as VIRT is in kB, so it is 4.9GB :-).

[2018-04-04 16:32] karelz commented on #28810
Oooops 😊

[2018-04-04 16:35] sandorfr commented on #11224
Waiting for that https://www.stevejgordon.co.uk/introduction-to-httpclientfactory-aspnetcore or implementing bits of it yourself.

[2018-04-04 16:36] janvorli commented on #28810
@mabead the RES being 1.4G is really strange. Given the sizes reported by the EEHeap, it would either have to be a native memory allocated by our runtime or by some native component that your app is using either directly or indirectly. I think I've seen similar problem with openssl holding on a huge amount of memory due to the fact that related data structures in the managed code were being held r

[2018-04-04 16:46] mabead commented on #28810
@janvorli The investigations that I did this morning also point toward problems with unmanaged memory. We use CoreCompat.System.Drawing which calls libgdi+ (unmanaged code) under the hood. I was also able to easily memory usage increase and exhaustion by exercising this library more intensively than usual.

Our memory issues started when we migrated to .net core 2.0.5. When doing this migration, w

[2018-04-04 16:53] joperezr commented on #28711
Sure, my email is joperezr@microsoft.com

[2018-04-04 16:59] #28733 closed

[2018-04-04 17:02] sdmaclea commented on #28804
👍  https://github.com/dotnet/coreclr/issues/17414

[2018-04-04 17:02] tarekgh commented on #28808
Yes, we are not fully compatible with ISO 8601, you may look at the blog https://blogs.msdn.microsoft.com/shawnste/2006/01/24/iso-8601-week-of-year-format-in-microsoft-net/ for more info which also suggests how you can get the compatible ISO 8601 behavior.

If you want the framework support ISO 8601, please feel free to open new API proposal issue for that. Thanks for reporting the issue.

[2018-04-04 17:02] #28808 closed

[2018-04-04 17:02] huoyaoyuan opened #28813 "Cannot connect named pipe in UWP"
##### Environment
OS: Windows 10 Pro 17133.1
SDK: 16299 used; 17110 installed
Microsoft.NETCore.UniversalWindowsPlatform 6.0.8
##### Code
Mostly copied from [NamedPipeTest](https://github.com/dotnet/corefx/blob/master/src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.Read.cs)
[code]

##### Symptom
Get `IOException` that "pipe is closing" in `serverPipe.WaitForConnection`
If parameters except

[2018-04-04 17:07] stephentoub commented on #28790
@tmds, would you expect SSL3 to work on RedHat69, or was support for it even then removed?

[2018-04-04 17:11] tarekgh commented on #28810
Issue moved to [dotnet/coreclr #17415](https://github.com/dotnet/coreclr/issues/17415) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-04 17:11] #28810 closed

[2018-04-04 17:12] tarekgh commented on #28810
@mabead I have moved this issue to coreclr repo for better handling. please follow up there. Thank you.

[2018-04-04 17:40] safern commented on #28813
cc: @joperezr (who worked on the tests)

[2018-04-04 17:43] #26606 closed

[2018-04-04 17:46] sidshetye commented on #23629
@bartonjs you're literally ignoring all technical and logical analysis and instead using the **dates** of the Go and libsodium projects as a weak proxy for the real analysis? Imagine if I make a similar argument based on the **names** of the projects. Plus we are deciding on the interface AND implementations. You do realize that deciding on a non-streaming *interface* for AEAD precludes all such *

[2018-04-04 17:50] SamNutkins commented on #25773
I'm seeing this issue as well (using VS 15.6.4).

I have a .NET 4.7.1 class library referencing a nuget package that has a reference to a .NET Standard 2 component.  The class library is referenced by a Windows Forms application, although I'm not sure that is relevant because these 12 System.* assemblies are deployed to the bin folder when only the class library is built.

@rokleM 's suggestion of

[2018-04-04 17:57] ElasticCoder commented on #8165
I've repeated the tests again today, this time running the emulator in a VM and the client on the host laptop.

### ServicePointManager doesn't work in .NET Core
The code below works if you compile as a normal .NET Console app, but fails if you compile it as a .NET Core app.  The `ServicePointManager` callback is not called and SSL verification fails. `ServicePointManager` does not work for .NET c

[2018-04-04 18:01] #28761 closed

[2018-04-04 18:02] krwq commented on #19110
Please reenable when fixing it or leave so comment why it is ok to be disabled when fixing/closing this:
[code]

Reopening it while investigation is pending

[2018-04-04 18:05] safern opened #28816 "[NetFX] System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/ValidateAgainstBlobs fails when running on .NET 4.7.1"
We just upgraded our Helix machines to have .NET 4.7.1 and updating netfx alias in corefx to target .NET 4.7.1 as well, when trying to update the CI queues to use these machines, this test is failing:

[code]

I can't get a local repro, but using the repro tool I did.

https://mc.dot.net/#/user/safern/pr~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fdesktop~2Fcli/20180402.5433/workItem/System.Runtime.S

[2018-04-04 18:06] krwq commented on #21123
This issue is no repro because test case is disabled:

[code]

[2018-04-04 18:07] krwq commented on #21404
No repro because test case is disabled:

[code]

[2018-04-04 18:08] krwq commented on #21413
This was closed as a dupe and dupe was closed because test case was gone. Here is the test case:

[code]

[2018-04-04 18:24] rmkerr commented on #28365
@Drawaes do you have any thoughts on what might be causing this? I've gone through the obvious possibilities and have not found anything. I can see that the exception is being thrown here:
https://github.com/dotnet/corefx/blob/bb5c46859048bfcefca281d7c303540c1217da41/src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs#L187-L197
But this code hasn't been modified rece

[2018-04-04 18:25] ColinNg commented on #25773
Thanks @karelz for the explanation. I will notify these two package maintainers who are including the NuGet package for System.Net.Http as a dependency.

https://www.nuget.org/packages/Google.Apis/
https://www.nuget.org/packages/Sendgrid

[2018-04-04 18:27] danmosemsft commented on #28816
`2018-04-02 20:56:03,601: INFO: proc(54): run_and_log_output: Output:     System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests.ValidateAgainstBlobs(obj: CultureAwareComparer { }, blobs: [System.Runtime.Serialization.Formatters.Tests.TypeSerializableValue, System.Runtime.Serialization.Formatters.Tests.TypeSerializableValue, System.Runtime.Serialization.Formatters.Tests.TypeSerializabl

[2018-04-04 18:27] RussellHaley commented on #1626
@wfurt was able to get the CLR and the FX to build using Linux but it was largely untested. I was able to get the 'native' parts to build on FreeBSD but stalled out getting the managed parts to build on Windows (for FreeBSD). The whole thing was a mess of transferring files between operating systems.

Separately on the freebsd-mono@freebsd.org mailing list, @dragonsa has imported a binary version

[2018-04-04 18:33] krwq commented on #23037
I think this is no longer reproing because test case is disabled:
[code]

[2018-04-04 18:34] danmosemsft commented on #28813
It looks like connecting to named pipes from UWP requires a workaround:

@ptorr-msft do you have other information/

[2018-04-04 18:38] oliverw commented on #1626
@russellhadley Thanks for the writeup Russell.

[2018-04-04 18:45] halter73 opened #28819 "SslStream.AuthenticateAsClientAsync sometimes throws an UnauthorizedAccessException on Linux"
SslStream.AuthenticateAsClientAsync sometimes throws an UnauthorizedAccessException on Linux. See aspnet/KestrelHttpServer#2456.

[code]

This is the call that sometimes fails:

https://github.com/aspnet/KestrelHttpServer/blob/70ce0447781bfca57f6945e6a5f056045073e6ec/test/Kestrel.FunctionalTests/HttpsConnectionAdapterTests.cs#L303

At first I thought this might be caused by concurrent access to ou

[2018-04-04 18:49] AlexGhiondea commented on #25773
@SamNutkins those 12 files present in the bin folder are expected if you are targeting 4.7.1. We have documented this as a known issue [here](https://github.com/Microsoft/dotnet/blob/master/releases/net471/KnownIssues/514195-Targeting%20.NET%20Framework%204.7.1%20copies%20extra%20files%20to%20your%20bin%20directory.md).

@joperezr will file a separate issue for the asp.net web projects issue.

[2018-04-04 19:06] bartonjs commented on #23629
No, I am using the advice of professional cryptographers who say it's extraordinarily dangerous and that we should avoid streaming AEAD.  Then I'm using information from the CNG team of "many people say they want it in theory, but in practice almost no one does it" (I don't know how much of that is telemetry vs anecdotal from fielding assistance requests).  The fact that other libraries have gone

[2018-04-04 19:07] wfurt commented on #21037
Now, according to man page:

We pass in  NULL for timeout and it should wait indefinitely. I'm wondering if something changed in 10.13...

[2018-04-04 19:11] ktarbet commented on #27610
I'm also needing DataTableExtensions in .net core for my projects.  I have copied files from link below , and hacked some String Resources named  'SR' to compile.  There may be a better way?

https://github.com/dotnet/corefx/tree/master/src/System.Data.DataSetExtensions/src

[2018-04-04 19:13] wfurt commented on #21037
Also in another attempt to reproduce my tests simply hang.
Most threads are in

and the one stuck is waiting for write event.

<img width="1138" alt="osx" src="https://user-images.githubusercontent.com/14356188/38329089-92475274-3801-11e8-8e51-e48c987ff4f0.png">

[2018-04-04 19:35] kasper3 commented on #26966
@welkie, I believe so. The next patch version of 2.0 will be released few days from now with the fix (17th April perhaps?). After that the package can require ncurses 6.1 as a run-time dependency (as opposed to build-time). Whenever ncurses 6.2 is released, and if we have breakage in dotnet with it, dotnet package on Arch will continue to work as ncurses 6.1 will be installed as part of dotnet pac

[2018-04-04 19:36] krwq commented on #16945
No failures because test case is disabled:

[code]

[2018-04-04 19:41] krwq commented on #21000
@danmosemsft this is closed as a dup of itself. There are 4 testcases releated to this - I'm not sure if they should be reenabled or this is by design:

[code]

[2018-04-04 19:43] krwq commented on #18058
The testcase is disabled and likely that's why it is not reproing:

[code]

[2018-04-04 19:51] kouvel commented on #18058
Oops, thanks for pointing that out, will fix

[2018-04-04 19:51] saurabh500 commented on #16940
We had ported the tests without server dependencies to FunctionalTests

[2018-04-04 19:51] #16940 closed

[2018-04-04 19:51] krwq commented on #27740
@pjanotti there are 3 test cases related to this:

[code]

should we reenable?

[2018-04-04 19:55] krwq commented on #23800
@danmosemsft @ViktorHofer #23800 and #23548 seem to be closed as dups of each other but there are still test cases disabled:

[code]

[2018-04-04 19:59] saurabh500 commented on #5503
Closing until a defect is proven in this case.

[2018-04-04 19:59] #5503 closed

[2018-04-04 20:05] bartonjs commented on #28819
`Bad file descriptor`?  Does that mean someone/something created `my` as a file instead of a directory?

I'm not sure what we'd do here.  If you want to open a store and it's corrupt I can't just do nothing.  But if we had more data on how we got into this state (whatever it is) then maybe there'd be something more actionable.  (I could wrap it in a CryptographicException, I guess; but I feel like

[2018-04-04 20:17] krwq commented on #21598
@corivera there seems to be a test case related to this issue, should it be reenabled?
cc: @keeratsingh, @afsanehr, @david-engel

[code]

[2018-04-04 20:26] karelz commented on #26617
Not actionable. Closing. If there is a repro on .NET Core 2.1, feel free to reopen.

[2018-04-04 20:26] #26617 closed

[2018-04-04 20:27] krwq commented on #28727
@karelz I've sent e-mails to owners with short investigation and reopened bugs where it was closed by mistake (or closed because there was no repro because test case was disabled).

[2018-04-04 20:28] krwq commented on #15455
Reopening because following test case is still disabled:
[code]

[2018-04-04 20:28] krwq commented on #15455
cc: @ViktorHofer @danmosemsft

[2018-04-04 20:31] karelz commented on #28727
Great, thanks!

[2018-04-04 20:31] #28727 closed

[2018-04-04 20:49] pjanotti commented on #27740
Ops, forgot to re-enable them...

[2018-04-04 20:55] pantonis commented on #28711
I have sent it,

Thanks

[2018-04-04 21:02] safern opened #28825 "AllConfigurations leg failing with race condition"
It has happened twice on my PR now.

[code]

https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_all+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/10842/console

cc: @ericstj @joperezr

[2018-04-04 21:03] corivera commented on #21598
@saurabh500 has more context on this

[2018-04-04 21:12] #18058 closed

[2018-04-04 21:12] ktarbet commented on #27610
Thanks @danmosemsft  -- I was able to use the Compat pack.

[2018-04-04 21:17] danmosemsft commented on #27610
@ktarbet great! Please do open issues here with any bugs or feedback on .NET Core.

[2018-04-04 22:02] kasper3 commented on #26966
@welkie, or maybe 2.0.x next patch is coming up with with more crucial bug fixes along with this one, which the package mantainers across the distros should just update mid-arpil anyway for multiple reasons..

[2018-04-04 22:14] sdmaclea commented on #28804
I was debugging failures.
So I ran the with `xunit.console.netcore.exe` options `-parallel none -showprogress` It serialized the tests and shows a time for each.  `-showprogress` looks like it works OK alone too.

It could probably be added by default to the CI runs.

[2018-04-04 22:18] sdmaclea commented on #28804
I actually the per testcase runtime is already in the testResult.xml file in each test directory.

[2018-04-04 22:26] rmkerr commented on #28365
@pjanotti, does this look similar to the SSL issues you have been looking into?

[2018-04-04 22:26] krwq commented on #26092
Please paste if you got any more recent failures here as it seems helix has lost repros for anything before March 20. I'll try to get local repro for this for now

[2018-04-04 22:40] pjanotti commented on #28365
Yes, this is the part that I was mentioning that we need to grab the errors from the queue and actually display them. The code is using SSL_get_error to retrieve the error but that only peeks at the error and always returns SSL_ERROR_SSL or SSL_ERROR_SYS_CALL if there is any error on the queue. If there are no errors on the queue it can return errors related to BIO like SSL_ERROR_WANT_READ in the

[2018-04-04 22:41] welkie commented on #26966
@kasper3 That's what I was referring to I think. I don't know much about creating and maintaining packages for distros, so I may not know the terminology 100%, but I'm just suggesting that the next release our particular distro has (which you say will be a patch release soon), they should explicitly list the ncurses dependency.

[2018-04-04 22:59] bartonjs commented on #28365
OpenSSL is/should-be pushing `SSLerr(SSL_F_SSL23_GET_SERVER_HELLO, SSL_R_UNSUPPORTED_PROTOCOL);` in this case (server responded with a protocol version not allowed by the client mask).

That suggests that the error queue is either being cleared between the push and the read, or that the push and the read happened on different native threads.

[2018-04-04 23:20] sebastienros opened #28830 "Perf regression on Linux SSL (ASP.NET plaintext)"
As seen on this KPI from 785K RPS before the regression:

![image](https://user-images.githubusercontent.com/1165805/38339602-eac8a23c-3823-11e8-877c-0505885462b1.png)

Between `2.1.0-preview3-26330.03` and `2.1.0-preview3-26331-01` as shown on this graph:

![image](https://user-images.githubusercontent.com/1165805/38339549-99f6a5fc-3823-11e8-954f-435919be9d8f.png)

The regression only occurs on L

[2018-04-04 23:32] karelz commented on #26092
@krwq you can check Kusto. Moreover, you don't need recent repro to get Helix repro machine ;)

[2018-04-04 23:35] krwq commented on #26092
@karelz, just got machine from similar run, will be trying to get a repro now 😄

[2018-04-04 23:41] sidshetye commented on #23629
@bartonjs months back we had already decided that the goal was to target two customer profiles by having a low level API (powerful but unsafe under certain conditions) and a high level API (foolproof). It's even in the title. It's certainly a free country but it's disingenuous to now move the goalpost by claiming otherwise. I don't think it's a good way to manage projects or people/community Jerem

[2018-04-04 23:46] danmosemsft opened #28831 "Failure in Debian on System.Diagnostics.Tests.ProcessThreadTests/TestStartTimeProperty"
Debian.87.Amd64.Open-x64-Release - probably just outside the 1 sec window this test allows

[code]
[code]

[2018-04-04 23:54] #23768 closed

[2018-04-05 00:01] karelz commented on #23768
Thank you @pjanotti!

[2018-04-05 00:13] joperezr opened #28833 "Problems with ASP.NET projects when consuming .NET Standard assets"
It has been reported by users that if you are building an ASP.NET web app which consumes an asset that is .NET Standard-based, the app may encounter errors at runtime given that it can't find assemblies. This is an example of the errors one might get when hitting this issue:
[code]

One other symptom of this is that your project will complain that it needs some binding redirects added to your web.

[2018-04-05 00:14] karelz commented on #28830
cc @geoffkizer @stephentoub @davidsh @wfurt

[2018-04-05 00:15] joperezr commented on #25773
Created #28833 to track the ASP.NET scenario and closing this one as previously discussed. @jwisener @ColinNg feel free to chime in on that one in case I missed anything so that we have all the info when coming up with fixes/workarounds.

[2018-04-05 00:15] #25773 closed

[2018-04-05 00:15] sebastienros opened #28834 "Regression impacting ASP.NET MVC"
Testing on a fixed aspnet version and varying dotnet runtime, we see a 6% regression on the MVC Plaintext scenario between these versions:
`2.1.0-preview2-26324-02` https://github.com/dotnet/corefx/tree/23165cee77ae4dd7a7645b7927872948bb27a73e
and
`2.1.0-preview2-26316-06` https://github.com/dotnet/corefx/tree/8130620b542457ca4e72eb2bc81c3eae50192a33

![image](https://user-images.githubusercontent

[2018-04-05 00:15] joperezr commented on #28833
cc: @AlexGhiondea @karelz FYI

[2018-04-05 00:30] joperezr commented on #28813
cc: @pjanotti @JeremyKuhne

[2018-04-05 00:37] karelz commented on #28830
Do you have perf traces we can look at? (ideally diff)

[2018-04-05 00:37] ptorr-msft commented on #28813
@danmosemsft no that's all we have right now. Future OS releases should enable pipe creation via `CreateFileFromApp` (and then an even future-er release should let you call `CreateFile` itself).

[2018-04-05 00:45] sebastienros commented on #28830
I don't have the ability to get traces on linux right now.

[2018-04-05 00:52] karelz commented on #28830
Is there a way to map the build numbers above to commits? We can review what happened between them ...

[2018-04-05 02:02] amerzafar commented on #22453
yes this is back on High Sierra 10.13.4, is there any work around?

[2018-04-05 02:48] mark-cordell opened #28841 "WinHttpHandler perf optimization for ClientCertificates, ServerCertificateValidationCallback"
In a larger server app, there may be scenarios where different parts of the code need to use different client certificates on a per-request basis. Same with ServerCertificateValidationCallback. The native WinHttp library lets you efficiently pool connections across a session, and set client certificates and perform custom certificate validation on a per-request basis within that session, but the m

[2018-04-05 02:54] mark-cordell commented on #28841
I created a pull request as an example of this could be fixed here:
#28842
https://github.com/dotnet/corefx/pull/28842

[2018-04-05 03:43] stephentoub commented on #28830
In addition to Karel's question:
- what distro / version is this on?
- and is it possible for you to see what SSL protocol / cipher / etc. was getting negotiated before and after? I'm wondering if that may have changed.

[2018-04-05 04:08] pjanotti commented on #28365
The error is being cleared when Ssl.SslGetError is called: it contains a ERR_clear_queue call since #25646 (see [CryptoNative_SslGetError](https://github.com/dotnet/corefx/blob/3cc6fda0c6abe76eea222c165ebdf816e83df564/src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.cpp#L113)).

CreateOpenSslCryptographicException() relies, via [CryptoNative_ErrGetErrorAlloc](https://github.com/dotnet/c

[2018-04-05 04:21] Drawaes commented on #28365
Okay so the issue is that the sslgeterror should actually use the error there rather than relying on the function to do it for it.

I can fix it but won't be back in mobile/wifi until tomorrow night. I wonder if the connection error we are seeing with the http client will be better diagnosed with this fixed as well.

[2018-04-05 04:42] stephentoub commented on #28819
Presumably that's an errno value coming from a readdir call, in which case EBADF means "Invalid directory stream descriptor dirp."  In other variants of the man pages, I see slightly more descriptive text, e.g. "Indicates that the DirectoryPointer parameter argument does not refer to an open directory stream", "The file descriptor determined by the DIR stream is no longer valid. This results if th

[2018-04-05 04:48] pjanotti commented on #28365
@Drawaes we also have another bug (#25676) related to the same PR but that one requires a bit of code inspection: the issue is that *at least* one call is not checking and clearing if it added errors to the queue, later when we try to decrypt and call Ssl.SslGetError it reports SSL_ERROR_SSL because of that earlier error while it should have proceeded with one of the cases of https://github.com/do

[2018-04-05 05:01] stephentoub commented on #28819
It looks like we enumerate some directory paths and push them onto a queue, and then later when we go to open the next directory in the traversal:
https://github.com/dotnet/corefx/blob/b96c29aedf9b2f4197d161f632b4387a17be72f8/src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs#L200-L204
we might get IntPtr.Zero if we fail to open the directory:
https://github.com/dotnet

[2018-04-05 05:53] nerai commented on #28799
@danmosemsft  Thank you, I believe I found the culprit.

I believe cmake was installed correctly and its key appeared in the registry. However, two conditions apply:

a) I used a non-default install location (not C:\Program Files or such)
b) cmake did not append its version number to its registry directory name

The latter caused the reg key to not be enumerated. Fixing that is easy, however, the

[2018-04-05 05:58] bartonjs commented on #22453
@amerzafar See #28652.  The fix is in master, and in the release branch.  You can locally build the shim library, grab the latest runtime, rollback the update, or wait a week or two for the update to drop.

[2018-04-05 05:59] danmosemsft commented on #28799
Great. Would you like to offer a PR?

[2018-04-05 06:03] #28625 closed

[2018-04-05 06:06] bartonjs commented on #28365
Hm.  I noticed the "while the queue seems to have more than one thing keep popping" part, but missed the "read one more". (I wonder if that was also true when I reviewed the change back then)  I'd keep the cost of the two P/invokes over changing the signature on the shim methods; but perhaps I slide back and forth across commits more than the average bear.

[2018-04-05 06:12] pi3k14 opened #28846 "Move/create authorization classes in .Net Core"
The Microsoft.AspNetCore.Authorization namespace contains classes that are useful in .Net Core and is not dependent on ASP.Net Core, please make them available in a .Net Core namespace. Ref. [Make Authorization available outside of ASP.NET Core](https://github.com/aspnet/Security/issues/1480)

[2018-04-05 06:26] wfurt opened #28847 "HttpClientHandler.UseDefaultCredentials does not work on Unix platforms"
When this this is set to True, we should use identity of currently logged user for authentication to HTTP(s) severs or proxies.

Note, that on Windows  this works only for NTLM and NEGOTIATE as there is no way how to extract clear text password for  Basic or Digest authentication.

On Unix, there is typically not centralized identity management nor strong cryptographic ID.

However when Kerberos i

[2018-04-05 06:45] Drawaes commented on #28365
I would also be for keeping two p/invokes. At this point it is an error condition anyway and the pinvoke will likely be dwarfed by the exception throw anyway.

[2018-04-05 07:14] pantonis commented on #26302
Is there any workaround?

[2018-04-05 08:24] stevenguh opened #28848 "[Proposal] Use Bitmapped Vector Tries for ImmutableList"
I'm wondering why aren't we using bitmapped Vector Tries for ImmutableList? Forgive me if this question has been asked.

As far as I know, this data structure is used in Closure's PersistentVector, and ImmutableJS's List. I have a preliminary implementation and it shows that it's faster than the current implementation of the current ImmutableList. For getting sequential or random elements in the l

[2018-04-05 08:38] am11 commented on #28799
This was fixed in CoreRT and ported to CoreCLR https://github.com/dotnet/coreclr/pull/16328. Can this file be shared between repos?

[2018-04-05 08:52] davidfowl commented on #28834
Hmm, nothing changed in pipelines namespace during those commits.

[2018-04-05 08:54] davidfowl commented on #28834
This commit was made to System.Memory in that timespan https://github.com/dotnet/corefx/commit/6cc11f5ab58900628d1b83edc55447ccb45cdf38.

[2018-04-05 09:00] jrgcubano commented on #23213
In case someone is in the same situation and finish looking at this issue. As a guide, I end up using a similar approach to [Microsoft.Bot.Builder](https://github.com/CXuesong/BotBuilder.Standard/blob/netcore20%2Bnet45/CSharp/Library/Microsoft.Bot.Builder/Fibers/NetStandardSerialization.cs), using Surrogates to serialize System.Type and MemberInfo for BinaryFormatter.

[2018-04-05 09:10] FransBouma commented on #23213
@jrgcubano that's a nice solution, thanks for sharing!

[2018-04-05 09:30] BredPet opened #28850 "[Linux] Build tests part hangs"
corefx release version 2.0
dotnet-cli version 2.0.0-preview1-002111
When I try to build managed part, it's successfully complete:
`./build-managed.sh -release -RuntimeOS=ubuntu.14.04 -- /p:BinPlaceNETCoreAppPackage=true`
But when I run:
`./build-tests.sh -release -Outerloop -SkipTests`
it hangs. I waited a few hours, no result.
Logs:
[code]

Does anyone know how to solve this problem?
It seems lik

[2018-04-05 10:37] fredericDelaporte commented on #22293
@karelz's `IsNetCore` link is now dead due to the file having moved [here](https://github.com/dotnet/corefx/blob/master/src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs). A more permanent link could be [this](https://github.com/dotnet/corefx/blob/v2.1-preview1/src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs#L23-L25) (tag based link).

[2018-04-05 11:44] aobatact commented on #25334
Can't we use "in" at operators in Matrix4x4 ?

[2018-04-05 12:17] tomeks666 commented on #28614
@danmosemsft
No it does not block adoption. It was just testing.

[2018-04-05 12:34] jnm2 commented on #28769
I'd love the ability to obtain an `IAsyncEnumerable<T>` from a query. Most of the time I do this, `T` will either be a primitive type or an immutable struct or immutable class, so rather than setting properties or fields I'd expect the API to pass the values to the constructor.

[2018-04-05 12:37] jnm2 commented on #28769
I'd absolutely love the ability to obtain an `IAsyncEnumerable<T>` from a query. Most of the time I do this, `T` will either be a primitive type or an immutable struct (or less frequently, immutable class). So I'd expect the API to pass the values to the constructor in those cases rather than setting properties or fields.

To me performance is secondary. The real win is that the data conveniently

[2018-04-05 12:56] #28825 closed

[2018-04-05 14:53] nerai commented on #28799
The related patch (https://github.com/dotnet/coreclr/commit/66f840939e81a6e240a01edfea61976363bc51d6) is pretty much identical with mine. Should I still upload a PR? Either way is fine with me.

[2018-04-05 15:10] Dmitry-Me commented on #5503
@saurabh500 How does one prove `t` is not the best variable name in the world?

[2018-04-05 15:14] saurabh500 commented on #5503
We won't be changing a variable name as a part of this issue. I would much rather have them stay what they are as comparison with .Net framework code is easier this way.
 The comment was more on your question to the statement wondering if this is a bug.

[2018-04-05 15:36] davidsh commented on #28841
Thank you for opening this issue.  I think this idea of having flexibility in the ServerCertificateValidationCallback on a per-request basis, but keeping connections pooled per handler is interesting.

We might want to consider doing this as part of the new SocketsHttpHandler, though. In addition, it might be best to view these API changes directly in HttpRequestMessage as well.  SocketsHttpHandle

[2018-04-05 15:41] stephentoub commented on #28841
Can you elaborate on the behavior of this?  What does it mean to pool connections used by requests with different validation callbacks, which is really about establishing the connection.  Do you mean it uses different pools for each callback?  And if so, since the main resource maintained by an instance of a SocketsHttpHandler is the connection pool, would it not be simpler to just have a differen

[2018-04-05 15:42] danmosemsft commented on #28799
Yes please -- a cherry pick sounds good.

[2018-04-05 15:50] karelz commented on #22293
@fredericDelaporte thanks! Link updated in my post above to avoid further confusion. Thanks!

[2018-04-05 16:01] danmosemsft commented on #13210
@joshfree we aren't energetically porting test fixes to 1.x as there's quite a few failures there. You can port #28852 if you want, or close this...

[2018-04-05 16:14] danmosemsft opened #28853 "GetILOffset() returning 0 on NETFX"
[code]

All these are failing
[code]

[2018-04-05 16:29] danmosemsft commented on #28853
Actually NETFX

[2018-04-05 16:29] sebastienros commented on #28834
You can get the two traces here: \\scratch2\scratch\sebros\investigation-mvcplaintext-3.27

[2018-04-05 16:39] safern commented on #28853
Do you have a link to the failure? Was this on CI?

[2018-04-05 16:55] TurinTurambar commented on #24175
I'm having the same problem. I can connect to the server with everything: Management Studio, Visual Studio, dotNetFramework apps, telnet... everything works except SqlClient library in dotNetCore.

[2018-04-05 17:00] danmosemsft opened #28856 "[arm32] corefx Microsoft.Win32.Registry.Tests failure in CI"
@BruceForstall commented on [Wed Apr 04 2018](https://github.com/dotnet/coreclr/issues/17423)

All arm32 corefx test jobs are failing Microsoft.Win32.Registry.Tests with:
[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/8/consoleText

---

@RussKeldorph commented on [Thu Apr 05 2018](https://github.com/dotnet/corec

[2018-04-05 17:15] joshfree commented on #13210
We can won't fix it if you feel strongly; but anytime something fails in CI, we should open or reactivate an issue instead of ignoring it (like this).  Else we're going to drown under flaky tests.

[2018-04-05 17:33] danmosemsft commented on #25998
Some are fixed already, some we will track separately.

[2018-04-05 17:34] danmosemsft opened #28858 "Some FileSystemSecurityTests still fail in non en-US"
[code]
need the same fix as applied in 56f02f35235606415c8773be6d8c26e41653c767
[code]

cc @AlexRadch @Anipik

[2018-04-05 17:36] danmosemsft commented on #27626
We have added a non en-US leg, all that remains to enable by default is this and https://github.com/dotnet/corefx/issues/28858

https://mc.dot.net/#/user/MattGal/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/43268a17bdfff218828507b0f7a4faa2e4147c19/workItem/System.Data.Common.Tests

Perhaps @Anipik you can fix it? The test probably needs to do call culture-specific formatti

[2018-04-05 17:51] Anipik commented on #28858
I am on it

[2018-04-05 17:54] Eilon opened #28860 "Loading a X509Certificate2 causes a CGI exception on Azure App Service"
_From @ricklove on October 19, 2016 14:39_

I am trying to load a .p12 file into a X509Certificate2 object.

**The code runs fine on my local machine.**

Whenever, I run the following line **on Azure, it crashes the asp.net process with a CGI error**:

`var certificate = new X509Certificate2(fileBytes, "notasecret", X509KeyStorageFlags.Exportable);`

The following line does **not** crash:

`var ce

[2018-04-05 17:54] Eilon commented on #28860
_From @muratg on October 19, 2016 15:13_

Can you check if your cert is expired?  And try with a non-expired cert?   On a desktop/laptop machine, this works fine, but on Azure App Service, this seems to be failing.  See [App Service forum entry](https://social.msdn.microsoft.com/Forums/en-US/54618916-1953-44cd-b426-14ab1caa59d2/creating-new-x509certificate2-instance-crashes-clr-in-azure-appservice

[2018-04-05 17:54] Eilon commented on #28860
_From @ricklove on October 19, 2016 16:45_

The cert was just generated yesterday, so I don't know how it would be expired.

[2018-04-05 17:54] Eilon commented on #28860
_From @mpospisil on December 25, 2016 12:34_

Have you found any solution. I have the same problem - framework net461?

[2018-04-05 17:54] Eilon commented on #28860
_From @williamfunchal on January 27, 2017 17:31_

The problem is the Azure Web Apps restricts access to the machines private key store. Please note that this only works for Basic Tier and above (not Free or Shared tier). Are you in this case?

[2018-04-05 17:54] Eilon commented on #28860
_From @NoemiLindqvist on June 16, 2017 13:48_

Hej,
I have the same issue but with Azure Functions. The certificate works perfectly in my local machine but It does not work in Azure Portal. It throws the following exception. Do you have any idea?

Error in OnTriggerAuditCenterOperationStatus : Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: in

[2018-04-05 17:54] Eilon commented on #28860
_From @mpospisil on June 19, 2017 13:3_

I solved this issue by generating a new ssl certificate using command makecert. Something was missing in my original certificate (I can not remember details now)

[2018-04-05 17:54] Eilon commented on #28860
_From @nickverschueren on December 21, 2017 9:37_

This still is not fixed in .Net Core 2.1.2, I have the exact same issue. A certificate generated with OpenSSL crashes the process when it is used to create an instance an X509Certificate2. It works perfectly on premise under Win10 and fails when running in an Azure WebApp.

[2018-04-05 17:56] krwq commented on #26092
I think this one also might be similar: https://github.com/dotnet/corefx/issues/28696

[2018-04-05 17:58] FlorianRainer opened #28861 "Microsoft.Windows.Compatibility: Problem loading NetStandard 2.0 Library with net462 AppDomain and Assembly.Load"
Project Setup:

1: `netstandard2.0` ClassLibrary used for `netcoreapp2.0` and `net462`
2: `net462` Project, Console App in my case.

The netstandard2.0 class uses the `Microsoft.Windows.Compatibility` Package for Image processing `System.Drawing.Image.FromStream`.

The net462 App loads the `netstandard2.0` Lib at runtime in a separated AppDomain.
This works without problem for `netstandard2.0` but

[2018-04-05 18:24] #28831 closed

[2018-04-05 18:24] caesar1995 opened #28863 "Correctly format IPv6 address in uri layer"
While we closed the #28557, we were fixing the issue in `System.Net` layer, i.e., `request.RequestUri.HostNameType == UriHostNameType.IPv6 ? request.RequestUri.Host : request.RequestUri.IdnHost` (#28578), or directly appending `[]` around `uri.IdnHost` for IPv6 address (#28849).

Ideally we can fix the issue in URI layer, instead of adding workaround in the `System.Net`.

For example, this approac

[2018-04-05 18:53] huanwu opened #28864 "Area-Serialization Sprint 134"
The issue is for tracking issues to be done in sprint 134 (due by 4/27/2018)

[2018-04-05 19:13] #28729 closed

[2018-04-05 19:32] joshfree commented on #28834
I believe that's the initial Preview2 integration from corefx:master to corefx:/release/2.1; prior to that (preview1) pipelines was coming from https://github.com/dotnet/corefxlab/tree/release/2.1

[2018-04-05 19:41] matekm commented on #17905
I will look at the System.Private.Uri

[2018-04-05 19:47] AlexGhiondea commented on #28833
Adding @AngelosP who is going to help with this.

[2018-04-05 20:28] pjanotti commented on #28365
@Drawaes and @rmkerr I'm going to pick this up because I need it for #28862

[2018-04-05 20:37] danmosemsft commented on #6318
I see a limited use internal one exists. https://github.com/dotnet/corefx/blob/103639b6ff5aa6ab6097f70732530e411817f09b/src/Common/src/CoreLib/System/Diagnostics/Tracing/TraceLogging/ConcurrentSet.cs

[2018-04-05 20:39] krwq commented on #26092
@karelz, I haven't a single repro on Win7 machine since I started running these tests in a loop 4h ago. The only repro I got was https://github.com/dotnet/corefx/issues/28696 but after locally disabling that test I got only clean runs (later even that stopped reproing for no reason). I'm not sure if it makes sense to continue this..

[2018-04-05 20:43] AngelosP commented on #28833
Internal work item ID 595443. Scheduled meeting for Monday to discuss next steps.

[2018-04-05 20:48] danmosemsft commented on #28856
Suspect a Windows bug? %ProgramFiles% is apparently "C:\Program Files (Arm)" but if you feed it to ::ExpandEnvironmentStrings you get "C:\Program Files (x86)".
@RussKeldorph @jfree is there a way to access an ARM32 machine so we can confirm this and file an OS bug?

[2018-04-05 20:50] karelz commented on #26092
The issue keeps happening in CI and @rmkerr was able to reproduce it on his machine in August-ish timeframe, so we need to find out how to catch this thing :)

[2018-04-05 20:51] danmosemsft commented on #28861
@weshaggard any thoughts about this? Why is it loading the netstandard dummy assembly and not type forwarding to the NETFX implementation?

[2018-04-05 20:51] RussKeldorph commented on #28856
@danmosemsft Yes, will reach out through email.

[2018-04-05 20:52] danmosemsft commented on #28853
It was on CI, but now i see it in official runs and clearly it's NETFX:

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20180405.01/workItem/System.Diagnostics.StackTrace.Tests

[2018-04-05 20:53] danmosemsft commented on #28848
Interesting. @AArnott are you familiar with these?

[2018-04-05 20:56] safern commented on #28853
Yes, it is failing on one of my PRs now: https://mc.dot.net/#/user/safern/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/2def00456d2fb9d1162bd2934eb6423c60585a88/workItem/System.Diagnostics.StackTrace.Tests/analysis/xunit/System.Diagnostics.Tests.StackFrameTests~2FCtor_Filename_LineNumber(fileName:%20%5C%22FileName%5C%22,%20lineNumber:%201)

I'm trying to find why it is happ

[2018-04-05 21:00] JeremyKuhne commented on #28713
@EmmaZhu can you give a step-by-step repro? I'll take a look as well to see if I can replicate your issue. Other data that might be useful:

- What OS/version are you using?
- Is the user account part of the administrator's group? Are you running as admin or not?
- Can you run `diskpart` and `list volume`?

Example diskpart output:

[code]

You can then select the volume (e.g. `select volume 1` fo

[2018-04-05 21:10] huanwu commented on #27561
cc @mconnew

[2018-04-05 21:15] TheMinefighter opened #28868 "Feature Request: Math.Pow for uint"
It would often be pretty neat to have an overload of Math.Pow for (int x, uint pow) that returns x^pow.
That could be implemented as follows:
[code]
Credit to [Vilx-](https://stackoverflow.com/users/41360/vilx) for the [original code](https://stackoverflow.com/a/383596/6730162)

[2018-04-05 21:29] safern commented on #28853
Weird, I couldn't get a local repro... I wonder now why this is happening. I want to see if after we build using the .nET 4.7.1 targeting pack this is still happening

[2018-04-05 21:38] danmosemsft commented on #28853
Could you disable the tests for netfx while you figure it out so CI is clean?

[2018-04-05 21:40] wtgodbe commented on #5443
@mmitche is this still actionable?

[2018-04-05 21:41] wtgodbe commented on #6702
Closing as a dead issue, @krytarowski please re-open if I'm mistaken

[2018-04-05 21:41] #6702 closed

[2018-04-05 21:46] safern commented on #28853
Done: https://github.com/dotnet/corefx/pull/28869

[2018-04-05 21:47] mmitche commented on #5443
In corefx, this isn't as applicable any longer since we don't gather logs in the same fashion (pipeline vs. classic jobs).  I don't think we should focus on this.

[2018-04-05 21:49] wtgodbe commented on #5443
In that case I will close this

[2018-04-05 21:49] #5443 closed

[2018-04-05 22:03] wtgodbe commented on #10856
I believe this has been resolved as of https://github.com/dotnet/corefx/pull/24076, @chcosta please reopen if I'm mistaken

[2018-04-05 22:03] #10856 closed

[2018-04-05 22:06] wtgodbe commented on #13394
Looks like these are much more reliable now, closing.

[2018-04-05 22:06] #13394 closed

[2018-04-05 22:07] TicoDePano commented on #17412
News on PGID?

I really need it to cleanly close a console Process started from another console application in NETCORE.

And a way to find parent and children processes from the Process class, including evaluating PGID, would be nice in the Process class API.

[2018-04-05 22:13] AArnott commented on #28848
I'm not familiar with the proposed data structure myself, but we've heard feedback around trie's being significantly better performers than AVL trees a few times. https://github.com/dotnet/corefx/issues/15413 tracks one such discussion. I can't find it now, but there was another discussion where someone had implemented and given a *lot* of metrics about their rewrite that looks really promising.
O

[2018-04-05 22:17] #28609 closed

[2018-04-05 22:29] davidsh commented on #28603
The DiagnosticHandler is a wrapper for DiagnosticSource.  It is high-level HTTP request/response tracing.

For detailed tracing output, one should use the EventSource tracing.  Instructions for turning that on and viewing traces are here: https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md

Using these EventSource traces, you can get many different System.N

[2018-04-05 23:11] stephentoub commented on #28863
This issue is marked as future, but isn't there a bug here in SocketsHttpHandler we need to fix in 2.1? That we're incorrectly dropping the scope from a link-local address?

[2018-04-05 23:30] #28858 closed

[2018-04-05 23:57] sebastienros commented on #28834
Sharing the commands I used as I have been asked

[code]

and

[code]

[2018-04-06 00:17] karelz commented on #28846
If you have an API concept in mind, please describe the concept for us who don't know anything about Microsoft.AspNetCore.Authorization.
If you just need the API surface shipped under different namespace, then it should happen where the code lives to avoid code duplication.

[2018-04-06 00:29] ahsonkhan opened #28870 "Add a dummy int field in the reference assembly for Span (and other structs containing private fields)"
We need to update the logic in buildtools (within IsOrContainsReferenceType) and regenerate the reference assemblies:
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.Cci.Extensions/Extensions/CSharp/CSharpCciExtensions.cs#L114

**Update to the ref assembly generation rules:**
- If a struct contains any private field, a dummy valuetype field needs to be created.
- If a struct contain

[2018-04-06 01:50] gafter commented on #28870
My amendment to my previously suggested rules is

For a struct type:
- If there are any private **or internal** fields that are or contain any value **or reference** type members, add a single private field of type int
- If there are any private **or internal** fields that are or contain any reference type members, add a single private field of type object.
- If the type is generic, then for every

[2018-04-06 01:51] gafter commented on #28870
The phrase "private or internal" should also be read to include `private protected` fields.

[2018-04-06 02:27] Lexcess commented on #27468
We're re-using an HttpClient (v4.3.3) on .Net 4.6.1 without a cancellation token and seem to be seeing the same memory leak. We only recently updated to 4.3.3 so this seems to be an issue introduced relatively recently (we were previously several versions behind, and I can get the exact prior version if it will help diagnosis)..

[2018-04-06 04:27] pjanotti commented on #28365
PR #28862 has a fix for this. Basically a return to what it was before, i.e.: managed side in charge of cleaning up the queue when a SSL_ERROR_SSL. It is implicit, we may want to revisit that again later and perhaps consider thing like capturing the whole queue and not only the last error. Anyway, as of now the PR is not ready to be merged due to test failures in the other issue being addressed in

[2018-04-06 04:51] Anipik opened #28878 "System.Diagnostics.PerformanceCounter tests fail on spanish Windows 10 (Non English CI)"
https://mc.dot.net/#/user/Anipik/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/c9dded080a169148f306c0310c1a7e14d520f63b/workItem/System.Diagnostics.PerformanceCounter.Tests

The assertion fail is same for all the tests
[code]
The tests affected are
InstanceDataCollectionCollection_Contains_Valid
InstanceDataCollectionCollection_Contains_inValid
InstanceDataCollectionCollect

[2018-04-06 05:34] Anipik opened #28879 "System.Runtime.Extensions.Performance.Tests failed on spanish Windows 10 (Non English CI)"
[code]

Couple of failures ocur on new spanish windows 10 CI leg cc @danmosemsft

[2018-04-06 05:38] #24585 closed

[2018-04-06 05:57] pi3k14 commented on #28846
Yes, and it should live in .Net Core, because there is nothing ASP.Net specific about it.
The ASP.Net specific parts are in the Microsoft.AspNetCore.Authorization.Policy namespace (some concepts there are also more generic).

There is a common concept her between .Net Framework, ASP.Net Core and .Net Core.
Eg. in .Net Framework you would implement the Policy check with the help of  CodeAccessSecur

[2018-04-06 06:08] BredPet commented on #28850
dotnet

[2018-04-06 06:34] safern opened #28881 "NETFX System.ServiceProcess.ServiceController tests hang"
There are 2 tests under this project hanging are under `ServiceBaseTests`:

- `LogWritten`
- ` LogWritten_AutoLog_False`

They both show the following pop-up that requires user interaction, since in Helix there is no one to click on it, they will hang there.

![image](https://user-images.githubusercontent.com/22899328/38406302-37aae190-3929-11e8-9cc9-f67c1c68acdf.png)

Also once you click on the p

[2018-04-06 06:39] safern opened #28882 "[Desktop] System.Net.Http.Functional and System.Net.Sockets tests fail on NETFX when running on .NET 4.7.1"
There are 12 total failures under this test projects when running this tests on .NET 4.7.1 (installed on machine when running them). Note that this is a combination of Outerloop and Innerloop failures. When running Innerloop tests only System.Net.Http.Functional.Tests fail, with 7 failures (all of them present in the Outerloop run).

I will disable this tests to have a clean CI and official builds

[2018-04-06 07:44] JB4GH opened #28884 "SemaphoreSlim and Wait(0)"
Hi,

I am very new with C# so I apologise in advance if this is dumb. I read a lot of docs and conversation threads and it is pretty clear that the "wait(0)" is supposed to return immediately with either true or false.

Problem is that when I make basic test, I can see that the "wait" calls can take a lot of time (multiple seconds) to return.

Might just be the way I run the multiple threads test,

[2018-04-06 07:48] Anipik commented on #28881
@safern i know about this failure and in my last discussion with @danmosemsft . he told me its okay to disable it for netfx, if it fails on the CI (it was failing locally and not on the CI). I have tested the test behavior manually with the service.
For the  hang, i have encountered the message before, i should be able to resolve it tomorrow

[2018-04-06 08:47] FenrisWolfAtMiddleEarth commented on #26223
I hear many clever suggestions.
Does that mean that there will be support for re-using NTLM-based http-connections in .net Core ?

[2018-04-06 09:49] JanEggers commented on #28833
i had this issue and had to install vcredist2015/2017 to fix it

[2018-04-06 12:24] stevenguh commented on #28848
The bitmapped array trie can have a builder too (I am thinking the use of transient). It doesn't have 0 GC pressure, but it reuses the objects when it can while maintaining the data structure's integrity when using transient.

The sets and gets on the trie will be around O(log32 N), and O(1) for push and pop operation.

I haven't done an extensive profiling yet, but I have a feeling the trie will

[2018-04-06 12:28] svick commented on #28884
Can you post a complete example that reproduces the issue?

[2018-04-06 12:53] kasper3 commented on #26966
@danmosemsft, frankly based on the impact of this issue, this should had been prioritized and shipped by now (the merge in release/2.0 branch happened 31 days ago) and folks are still waiting and opening duplicate issues all over the place.

[2018-04-06 12:59] JB4GH commented on #28884
As said the example is pretty basic and I might just do it wrong, but here it goes. Note that I had to run couple of times (abort and restart), and now after that it shows at every run.

[code]

And my last run produced this
[code]

So as an example we get this one (taking 20 seconds)
Enter Wait: 20 04/06/2018 15:54:58
Exit Wait:20 04/06/2018 15:55:18

[2018-04-06 13:02] donchak opened #28886 "System.Drawing.Common 4.5.0 isn't added to references in a Xamarin.Android project while adding the package from nuget.org"
I tried to add one package to a Xamarin.Android application. This package has System.Drawing.Common 4.5.0 in its dependencies.
After that, the project compilation is stopped with an error:
[code]
The packages.config file contains the correct record:
[code]
But **System.Drawing.Common** is absent in the reference list.
 
It seems that **Visual Studio** tries to get **System.Drawing.Common.dll** for

[2018-04-06 13:54] svick commented on #28884
I find it suspicious that lines with timestamps that are 20 seconds later appear earlier in the output. Though I can't think of what could be causing that.

What OS are you using? And what is your version of .Net Core?

[2018-04-06 14:08] JohnKoz commented on #18276
@corivera : Similar to @mattd73uk, we've started an enterprise project and just found out always encrypted is not supported in .Net Core. Basically we will have to switch back to the .Net Framework unless we hear otherwise. Is there any indication on when this feature would likely be added?

[2018-04-06 14:08] JB4GH commented on #28884
OSX .NET Framework 4.5

[2018-04-06 14:26] svick commented on #28848
@stevenguh Do I understand it correctly that with that implementation, `list.RemoveAt(0)` would effectively have to reallocate the whole tree (in other words, it would allocate O(n) memory)? That doesn't seem acceptable to me, considering that, AFAICT, the current implementation would allocate only O(log n) memory for that operation.

[2018-04-06 14:28] se7vanj commented on #18276
We had the same demand during mid of 2017 in one of our enterprise project that uses Always Encrypted DB from a .NET Core API, reached through the Microsoft premier support, but could not find any timelines for this functionality, I don't think its even present in their future milestones.

Wondering when they will add support for column encryption in CoreFX sql client.

Finally, we had to target t

[2018-04-06 14:29] sharwell commented on #28848
See #1502 for an alternate proposal, and tunnelvisionlabs/dotnet-trees#58 for the implementation basis.

[2018-04-06 14:31] stephentoub commented on #28884
Your main method:
[code]
is creating an unbounded number of threads as quickly as it can.  I'm surprised your machine isn't entirely falling over.  Then all of those threads are synchronizing on the same semaphore; that's going to create a huge log jam.

This is a contradiction :smile: .NET Framework 4.5 doesn't run on mac.

[2018-04-06 14:48] JB4GH commented on #28884
Well, the 4.5 was from our project file config :)

The test on the other hand seems to be using the 2.0.0 NETCore version. Anyway, it's running on Mac with the latest Visual Studio.

I have the same test with a 10 threads limit (while (i < 10)) and got this kind of output:

Enter Wait: 2 04/06/2018 17:39:22
Exit Wait:2 04/06/2018 17:39:22
True 2
Enter Wait: 1 04/06/2018 17:39:22
Exit Wait:1 04/06/

[2018-04-06 14:54] svick commented on #28884
@stephentoub

My Windows machine can handle that code just fine. I suspect it's because the vast majority of those threads run for a very short time.

I don't see why it would create a jam on the semaphore, since I think most threads are going to ["fail fast"](https://github.com/dotnet/coreclr/blob/76ba8d5/src/mscorlib/src/System/Threading/SemaphoreSlim.cs#L327-L332).

Though all the threads are g

[2018-04-06 15:42] karelz commented on #28886
@joperezr @weshaggard can you please advise?

[2018-04-06 15:47] stevenguh commented on #28848
@svick Yes, you are correct that insert/remove in general will re-index and re-reallocate the tree. However, there can be some tricks for shifting.
Maybe this structure should not be replacing the current ImmutableList implementation, but instead it should be a separate structure like https://github.com/tunnelvisionlabs/dotnet-trees/pull/58.

[2018-04-06 16:00] pakrym commented on #28834
I did a bit more digging. Ran benchmarks with `"Providers:.NETFramework:0:0,.NETTasks:0:0,*Microsoft-Diagnostics-DiagnosticSource:0:0;BufferSizeMB=1024;CircularMB=1024"` to remove all diagnostics source noice.

It also normalized module names so the current diff looks like (`\\scratch2\scratch\sebros\investigation-mvcplaintext-3.27\pakrym-no-ds`):

![image](https://user-images.githubusercontent.co

[2018-04-06 16:30] danmosemsft commented on #28856
The older builds we have seem to not repro this. So we have to ignore for now.

@Anipik could you please cause these tests to skip when envVariableName=ProgramFiles and RuntimeInformation.OSArchitecture=Architecture.Arm?

[2018-04-06 16:33] bartonjs commented on #28584
Without a repro it'll be really hard to tell why our call to Windows CMS returned "internal error" (probably NTE_FAIL).  I did some digging but didn't turn anything up.

I'm going to close this until a) it becomes habitual or b) someone lucks into a semi-stable repro.

[2018-04-06 16:33] #28584 closed

[2018-04-06 16:37] bartonjs commented on #28652
Since the fixes for 2.0 and 2.1 are both already in, and things are just waiting on releases to happen, I'm going to close this issue.  Closed != locked, so feel free to add information if things like grabbing a latest daily 2.1 (or manually patching 2.0) don't fix the issue for you.

[2018-04-06 16:37] #28652 closed

[2018-04-06 16:42] bartonjs commented on #28724
The fix I have in mind is to change the processing loop so that the failure code and the file reference are closer together (so that "oh, maybe I should delete this file..." makes sense).  That's a bit too risky to do for 2.1 at this point, but this is definitely a "+1" on "tidy up chain processing".

[2018-04-06 16:44] bartonjs commented on #28798
@MisinformedDNA Is this a recurring failure for you, or is it intermittent?

[2018-04-06 17:01] eltiare commented on #28784
I'm getting this on a Windows UWP app as well. I believe I'm using the latest .NET version.

[2018-04-06 17:03] karelz commented on #26092
@rmkerr is going to take a look ...

[2018-04-06 17:04] karelz commented on #28882
@krwq can you please take a look when you have a chance?

[2018-04-06 17:06] ericstj commented on #28886
This is typically what is done with the assemblies that overlap with Xamarin types.  @safern did this here: https://github.com/dotnet/corefx/pull/24758.  I believe he's discussed it with @marek-safar and Xamarin will be adding the facade for this assembly.

[2018-04-06 17:28] rmkerr commented on #28759
@stephentoub, @bartonjs, do you have any thoughts on testing this? I wasn't able to construct a repro to verify the change.

[2018-04-06 17:29] ericstj commented on #28784
Yes, the implementation is the same.  /cc @JeremyKuhne

[2018-04-06 17:40] bartonjs commented on #28759
@rmkerr It'll be hard to make a repro that doesn't involve either freeze threads or introducing latency in the callbacks.  Just removing all of the null-assignments in Dispose is sufficient to declare this fixed (by logical argument)

[2018-04-06 17:41] rmkerr commented on #28759
Great, thanks Jeremy. I'll open that PR now.

[2018-04-06 17:57] davidsh commented on #28882
The CI system used to run NETFX tests against .NET 4.6.2. So, the question is really potentially what changed since .NET 4.6.2.

However, the real answer is that these tests weren't actually running against NETFX anyways until recently when this work was done to change the CI machines to use 4.7.1.  And these tests in particular test for a change made in .NET Core but not in .NET Framework.  I.e.,

[2018-04-06 17:58] ViktorHofer commented on #28816
cc @Anipik for CultureAwareComparer.

[2018-04-06 17:58] karelz commented on #28365
@pjanotti can you split off the known fixes from the testing part in the PR?
As we discussed - it would be great to flow known targeted fixes in (assuming they do not regress anything else).
It is hard to keep track of PR which does bunch of additional testing and experiments as well. It will help us improve things in isolation from each other.

[2018-04-06 18:00] ViktorHofer commented on #28700
Right, please ignore my initial comment here, I was confused. Sure, I'll send a PR to docs to refine the message.

[2018-04-06 18:11] MisinformedDNA commented on #28798
I saw it once (maybe twice), and then it wouldn't repro anymore.

[2018-04-06 18:52] FeodorFitsner opened #28890 "Environment.ExpandEnvironmentVariables on Linux has Windows behavior"
`Environment.ExpandEnvironmentVariables()` on Linux expands variables in `%VAR_NAME%` format rather than `$VAR_NAME`.

SDK version: 2.1.4
OS: Ubuntu 16.04

A simple test:

    Environment.ExpandEnvironmentVariables("$HOME/test");

Expected value: `/home/{user}/test`
Actual value: `$HOME/test`

However running:

    Environment.ExpandEnvironmentVariables("%HOME%/test");

gives expanded result `/hom

[2018-04-06 18:56] AArnott commented on #28848
That may be a non-starter then. Incremental updates of the immutable structures are `O(log n)` right now in CPU and GC pressure. Changing that to `O(log n)` would likely have significant negative impact on scenarios already shipping that depend on this.

[2018-04-06 19:09] stephentoub opened #28892 "Port/improve Mono's managed Dns implementation?"
@migueldeicaza highlighted to me today that Mono has a managed DNS implementation:
https://github.com/mono/mono/tree/0bcbe39b148bb498742fc68416f8293ccd350fb6/mcs/class/System/Mono.Net.Dns
We should look into whether it would make sense to port and improve upon that, so as to be able to avoid depending on the DNS resolution capabilities built into specific OSes (e.g. we rely on Windows for its over

[2018-04-06 19:10] marek-safar commented on #28886
We didn't ship any Xamarin version which provides the assembly yet.

@ericstj as the nuget is still in preview and has been for many months how confident are you we can ship a version with matching API and not to break on the future updates.

[2018-04-06 19:16] ericstj commented on #28886
The API is a subset of API exposed by desktop in `System.Drawing`, so no API breaking changes are possible as we would defeat the purpose.  The most that can happen is some new types will be added in the future but we just react to that if it happens.  I don't expect that to happen for the current release given where we are at.

[2018-04-06 19:33] danmosemsft commented on #28602
@weshaggard as far as I know this isn't 2.1 material. feel free to correct.

[2018-04-06 19:36] kasper3 commented on #28892
What are the restrictions in it for not being able to run on mobile device: https://github.com/mono/mono/blob/2f211770198d741a35cf1f713e639cc66505db44/mcs/class/System/System.Net/Dns.cs#L47 ?

[2018-04-06 19:42] danmosemsft commented on #28890
My guess is this was done intentionally -- so existing code passing %VAR_NAME% "just works" when used on Unix. For code written for Unix, it is certainly unexpected.
The API could also respect `$` - if it is worth diverging further and becoming potentially confusing.
Another option is an API
[code]
with better names...

Maybe @stephentoub recalls context.

[2018-04-06 19:49] danmosemsft commented on #28848
@AArnott "Changing that to O(log n)"  did you mean "O(n)" ?

[2018-04-06 19:50] stephentoub commented on #28890
Mainly because that's how it's documented:
https://docs.microsoft.com/en-us/dotnet/api/system.environment.expandenvironmentvariables?view=netframework-4.7.2
[code]

I could be convinced that you'd never do that on unix and this is really just surfacing a Windows-ism and so we should use $ on unix instead of %.  But we'd want to understand how badly breaking that would be.

[2018-04-06 20:09] danmosemsft commented on #18276
@divega @corivera could you please share thoughts? Clearly it's a blocking issue for a number of folks here. Is it something community could help port?

[2018-04-06 20:15] rmkerr commented on #28603
Closing this issue since the problem preventing fiddler from working has been fixed, and David has explained how to collect logs in more detail. I think those address the main points here :)

[2018-04-06 20:44] krwq commented on #28882
Talked with @safern offline and the repro is actually only on his branch, i.e. (also updating issue):

[code]

[2018-04-06 20:46] safern commented on #28882
Yes, this needs to be built against .NET 4.7.1 targeting pack instead to get a repro. However corefx doesn't support that yet. Here is the PR where I'm enabling that: https://github.com/dotnet/corefx/pull/28883#discussion_r179860124

[2018-04-06 20:48] danmosemsft commented on #23588
@ahsonkhan

[2018-04-06 21:01] bartonjs commented on #28724
No, when we get the "this CRL doesn't seem to match" error we'd just delete the cached entry and try again.

The Windows certificate chain APIs apparently handled this case.  And the macOS version may also be fine (also a black box) but on Linux we have a bit more of an active role in making the system behave the same way it did for .NET Framework (aka the Windows API).  The code you spotted was i

[2018-04-06 21:10] ghost opened #28897 "Native UTF16 in regex"
The note under https://en.wikipedia.org/wiki/Comparison_of_regular_expression_engines#API_features says:

![image](https://user-images.githubusercontent.com/33230602/38444348-8480c326-39f7-11e8-8879-2ca14b6b5b8c.png)

Any chance to extend regex support from UCS2's 64K to UTF16's 1,112,064 chars in .NET Core?

[2018-04-06 21:25] krwq opened #28898 "HttpClient.GetAsync/PostAsync sets different error code on SocketException on Windows 7 when host could not be resolved"
On all platforms except Windows 7 when host name could not be resolved we get `HttpRequestException` with inner `SocketException` with `SocketException.SocketErrorCode` set to `SocketError.HostNotFound` while on Windows 7 we get `SocketErrorCode.NoData`.

This is problematic in Wcf scenarios where they wrap our exception and would like to throw `System.ServiceModel.EndpointNotFoundException` but t

[2018-04-06 21:28] AArnott commented on #28848
Yes, thanks. Corrected above.

[2018-04-06 21:30] karelz commented on #28898
@krwq what is the behavior on Win7 on .NET Core 2.0?

[2018-04-06 21:30] stakx opened #28899 "System.Buffers: XML doc in NuGet package (version 4.4.0 and later) differs from source code XML doc"
**TL;DR:** Something appears to be wrong with the XML documentation included in the `System.Buffers` NuGet package, versions 4.4.0 and later. (4.4.0-preview2-25405-01 and earlier appear to have been fine*.) It doesn't match the XML documentation in the source code files.

----

I was reading the documentation for parameter `clearArray` of the method `ArrayPool<T>.Return(T[] array, bool clearArray)

[2018-04-06 21:32] krwq commented on #28898
@karelz I do not have data but can check if that is important. I do not expect 2.0 to have any special casing for different OS behavior.

[2018-04-06 21:36] davidsh commented on #28898
It would have different behavior because .NET Core 2.0 would use a different HTTP stack (WinHTTP) on Windows.

If this ends up working ok Win7 with .NET Core 2.0 but broken on Win7 with .NET Core 2.1, then this would be an app-compat behavior difference (due to using the new SocketsHttpHandler). So, we should consider that as part of triaging this issue.

[2018-04-06 21:43] krwq commented on #28898
@davidsh, I'll try to get some info on that soon in this case

[2018-04-06 21:46] joshfree opened #28901 "tracking: re-enable Tizen in CI"
tracking issue for the Tizen build failures; temporarily disabling the leg; and for later re-enabling the leg.

example PRs:

https://github.com/dotnet/corefx/pull/28873

https://github.com/dotnet/core-setup/pull/3992

@RussKeldorph

/cc @hqueue @hseok-oh

[2018-04-06 22:02] krwq commented on #28898
@davidsh on 2.0.0 exception is following:
[code]

so we don't even get SocketException. The only common behavior is HttpRequestException

[2018-04-06 22:03] joshfree commented on #28901
@ianhays can you please temporarily disable the Tizen build legs in CI (not in the official build) for the core and core-setup repos to unblock PRs today for the .NET Core 2.1 RC milestone?

/cc @dotnet/arm32-contrib as FYI.  Once the Tizen leg is back up, then the CI legs can be re-enabled.

[2018-04-06 22:17] TheMinefighter opened #28903 "Feature Request: Support namof() for parameters of the following method in attributes"
It would be really cool if the "nameof()" function in attributes for methods would allow the name of parameters as follows:
[code]

[2018-04-06 22:27] ianhays commented on #28901
Sure:

https://github.com/dotnet/corefx/pull/28902
https://github.com/dotnet/core-setup/pull/3996

[2018-04-06 22:41] danmosemsft commented on #28903
@TheMinefighter I believe this is a request for the C# language. Can you please open this in https://github.com/dotnet/csharplang ?

[2018-04-06 22:41] #28903 closed

[2018-04-06 22:47] karelz commented on #28899
I don't think NuGet XML documentation originates from CoreFX repo source code. @weshaggard?

[2018-04-06 22:56] danmosemsft commented on #23588
Incidentally @ahsonkhan please update with what you find out. It would be great if you have time to at least figure out the area the problem is in.

[2018-04-06 22:58] weshaggard commented on #28899
That's correct the xml docs come from our docs repo @rpetrusha @mairaw

[2018-04-06 23:05] Wraith2 commented on #27124
I've been investigating the EnsureStorage function. While it seems to be possible to rewrite it to use stackalloc spans I'm not sure if the benefit is going to be worth the effort. Altering stack and track (at minimum, possibly crawl as well) to be span requires all the associated functions (push, pop, peek and overloads for all of them) to change to take the span parameters which is going to add

[2018-04-06 23:09] danmosemsft commented on #27124
@wraith2, @viktorhofer can show you his  private branch with his spanification work which may be interesting  to you

[2018-04-06 23:28] karelz commented on #28114
Quick update:
* We decided to keep master branch in lock down for 2.1 release until Fri 4/13. We will merge only PRs which are critical for 2.1 release.
    * Controversial or risky changes without significant value will be on hold until the branch is reopened for 2.2 work (~Mon 4/16).
* We plan (another) last integration master->release/2.1 on Fri 4/13.

We created 2.2.0 (placeholder) milestone i

[2018-04-06 23:32] karelz commented on #28898
.NET Core 2.0 exception on Win10 is the same as on 2.0 Win7:
[code]

[2018-04-06 23:33] mconnew commented on #28898
For .Net Core 2.0:
Linux: Inner exception has HResult value ERROR_INVALID_HANDLE (0x6)
Windows: Inner exception has HResult value WININET_E_NAME_NOT_RESOLVED (0x80072EE7)
UWP: Inner exception has HResult value WININET_E_NAME_NOT_RESOLVED (0x80072EE7)

For .Net Core 2.1:
Linux: Inner exception is SocketException with SocketError HostNotFound
Windows 8+ : Inner exception is SocketException with Sock

[2018-04-06 23:36] mconnew commented on #28898
@krwq, in 2.0, you didn't need to worry about what type the inner exception was as the error value was always available on HError. With 2.1, as the app developer can make things revert to 2.0 implementations, we need to maintain error handling code for 2.0 Http handlers. This means we need to switch logic on the inner exception type and retrieve the error from different places depending on the inn

[2018-04-06 23:42] mairaw commented on #28899
Do you want to move this to dotnet/docs repo? We can investigate.

[2018-04-07 00:09] krwq commented on #28898
@mconnew @davidsh
On 2.0 Win7 HResult set to WININET_E_NAME_NOT_RESOLVED (80072EE7).
On 2.1 Win7 HResult is set to E_FAIL (80004005).

On one hand translating errors is probably not something we want to do but on other assuming this is expected behavior from the OS and user cares how HttpClient failed it might be something we'd want to consider fixing as this logic will have to be somewhere.

Do w

[2018-04-07 00:57] karelz commented on #28898
@mconnew if HResult is SUCCESS in case of a failure, please file a new bug with repro and details. Let's not mix it in here.

@krwq where is the HResult from? The exceptions on each version are different ...

[2018-04-07 01:04] davidsh commented on #28898
For background on HResult, we did explicit work to set the HResult field of WinHttpException so that we would have something that WCF could use on .NET Core so that their UAP vs. non-UAP code could have similar behavior.

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpException.cs#L14-L41

By default, HResult is either SUCCESS or E_FAIL.

[2018-04-07 01:09] karelz commented on #28898
OK, I see - both exceptions inherit from `Win32Exception` - [SocketException](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Net.Primitives/src/System/Net/SocketException.Windows.cs#L10) and [WinHttpException](https://github.com/dotnet/corefx/blob/ce4ebdfbf2080a38855ab8df5c9bb553db8724af/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpExcept

[2018-04-07 01:15] joshfree commented on #28890
I think we should add a new overload that supports this.

ps - string.Replace('$', '%') would add $ suffixes to your expanded env vars 😉

[2018-04-07 01:36] MisinformedDNA commented on #17905
Here's [an app(s)](https://github.com/MisinformedDNA/corefx-issue-17905) I wrote to download all the files, combine them and then filter out all those that are likely false positives. Hopefully, it will be helpful to others.

[2018-04-07 03:39] EssenRoc opened #28909 "How to use "RSA/ECB/PKCS1Padding" and "RSA/ECB/OAEPPadding""
I need to use these two algorithms but I don't know how to use the .net core
help me!!!

[2018-04-07 04:38] rosdi commented on #8688
For those like me, `RSACng` is available as nuget package. There seems some issue in Visual Studio not able to install this package properly in my project. I had to remove the package, delete bin and obj folder, rebuild and it finally works.

[2018-04-07 05:45] StingyJack commented on #26222
@karelz - The report was...

Where could I possibly receive that error?  It seems kind of obvious, but it was explained again on 1/2 (Jan 2)

then again on 1/10

and on 1/11

and on 3/4

@zhenlan went right to a stack trace for a secondary problem that you have and missed the title.  It happens, I'm not upset about that, everyone gets a bit of tunnel vision from time to time. I am cheesed at the f

[2018-04-07 06:43] wfurt commented on #28204
test passed on recent CI runs.

[2018-04-07 06:43] #28204 closed

[2018-04-07 07:38] xoofx commented on #17135
Hey, I'm super interested also in something similar, as I have being writing xplat LoadLibrary/dlopen countlessly and this is very annoying that we don't get this through the underlying .NET framework. Just wondering, I can see that this proposal is going beyond what we are usually using (dlopen...etc.) and what if we could at least get the few core methods to `System.Runtime.InteropServices.Marsh

[2018-04-07 07:55] roji commented on #28769
Regarding `IAsyncEnumerable<T>`, see #27684

[2018-04-07 09:32] donchak commented on #28886
So what is a right workaround for this case?
And when I can expect the fix?
Thank you!

[2018-04-07 10:08] stakx commented on #28899
Can any one of you migrate this issue for me, or should I manually re-post over at dotnet/docs?

[2018-04-07 10:11] ChadJessup opened #28911 "Hover Text for Span<T>/Memory<T> in Visual Studio ignores 'Hexadecimal Display' setting."
Not sure if this is a Visual Studio bug (if so, not sure where to submit that) - but, this issue seems to be happening with at least `System.Memory.Span<T>` and `System.Memory.Memory<T>` from what I can tell.
(Might have to do with #27338 / #16450 ?)

When hovering over one of these objects in Visual Studio the hover text ignores the User's Setting of 'Hexadecimal Display' and always displays the

[2018-04-07 10:41] stephentoub commented on #28911
cc: @ahsonkhan

[2018-04-07 11:56] MohammadHamdyGhanem opened #28912 "What API souuld I use to consume ETW?"
What API souuld I use to consume ETW:
1. System.Diagnostics.Tracing.EventSource (BCL)
2. Microsoft.Diagnostics.Tracing.EventSource (NuGet)
3. Microsoft.Diagnostics.Tracing.TraceEvent (NuGet)
4. krabsetw (NuGet)

?
And where Microsoft.Diagnostics.Tracing.Logging fits in?

I read this at https://blogs.technet.microsoft.com/office365security/hidden-treasure-intrusion-detection-with-etw-part-2/:

Is t

[2018-04-07 12:14] jnm2 commented on #28769
Isn't #27684 about `IAsyncEnumerable<DbDataReader>`, or soes it cover `IAsyncEnumerable<ImmutableDTO>` too?

[2018-04-07 12:53] stephentoub commented on #28912
issues in corefx aren't a great place to ask questions like this. Please instead ask on sites like stackoverflow.com. Issues are meant to be for reporting problems, proposing features, etc.

[2018-04-07 13:33] ricklove commented on #28860
This was almost 2 years ago. I believe that I provided all the information I had at the time. If I remember correctly, the only information I had available was an error message that simply said: "cgi error".

[2018-04-07 13:35] MohammadHamdyGhanem commented on #28912
So, I also asked it in stackoverflow:
https://stackoverflow.com/questions/49707913/what-api-souuld-i-use-to-consume-etw
I wait your ansewer there :)
Thanks.

[2018-04-07 13:42] gfoidl commented on #28890
For cross-platform development both variants should be allowed, similar to the path-separator (`\` vs. `/`).

_Batch_ allows the `$` as valid variable name, but then it would have to be quoted by `%`, so `%$%`. This case can be handled.
In _Bash_ the `%` isn't allowd in variable names, so this case can be handled too.

Further there wouldn't be any breaking changes, since `%var%` and `$var` would

[2018-04-07 13:50] stephentoub commented on #28890
Except $var on Windows may start to be reinterpreted, changing output in some cases.

[2018-04-07 14:12] MohammadHamdyGhanem commented on #28912
@stephentoub
This is the stackoverflow response:

As I said before, no one can give a real anwer about such a question but Microsoft team!
Thanks.

[2018-04-07 14:33] danmosemsft commented on #28912
@brianrob thoughts?

[2018-04-07 15:12] calboy89 opened #28913 "Virtual money"

[2018-04-07 15:15] calboy89 opened #28914 "Breaking passwords and money AppStore"

[2018-04-07 15:26] roji commented on #28769
#27684 is about making "DbDataReader implement IAsyncEnumerable", I don't really know what `IAsyncEnumerable<DbDataReader>` would mean (an enumeration of resultsets?).

The question is still whether that IAsyncEnumerable would be of some sort of general record API (like a modern DbDataRecord) or of a user-provided DTO type. In any case, #27684 suffers from the same design issue as this proposal -

[2018-04-07 15:32] joshfree commented on #28912
/cc @vancem

[2018-04-07 15:33] jnm2 commented on #28769
Right now it's `IEnumerable` and returns itself (or a proxy object implementing IDataRecord?) as `enumerator.Current`, right? I would have said `IAsyncEnumerable<IDataRecord>` but I'd want to use the async getters which are only available on `DbDataReader`. That's where that came from.

Anyway, my interest is _really_ in materialized immutable read model objects. Even though `IAsyncEnumerable<DbDa

[2018-04-07 15:47] roji commented on #28769
Ah OK, I understand better. Yeah, the current `IEnumerable` implementation returns `IDataRecord`, which exposes pretty much the same API as `DbDataReader`.

Regarding implementing `IAsyncEnumerable<T>` vs. `IAsyncEnumerable<IDataRecord>`, the two could be useful. Once again, rather than (or in addition to) `IAsyncEnumerable<T>`, DbDataReader could simply have something like `ReadRows<T>(T[] rows)`

[2018-04-07 15:47] joshfree commented on #28913
Closing as this appears to be a spam issue based on user's activity across various github repos.

[2018-04-07 15:47] #28913 closed

[2018-04-07 15:47] joshfree commented on #28914
Closing as this appears to be a spam issue based on user's activity across various github repos.

[2018-04-07 15:47] #28914 closed

[2018-04-07 16:01] jnm2 commented on #28769
`ReadRows<T>(T[] rows)` works if the DTOs are mutable. You can still be allocation-free with `IAsyncEnumerable<ImmutableStructDTO>`, `IAsyncEnumerable<int>`, etc.

How ORMy? I like the idea of ADO.NET staying close to the metal with this. Having relationships between objects seems like something you'd use EF for. I'm envisioning ASO.NET mapping a row to a constructor call, forcing each column name

[2018-04-07 16:07] jnm2 commented on #28912
@MohammadHamdyGhanem So far I've only consumed ETW in code for testing purposes to make sure that no async void methods are unfinished by a certain point in the test.

Once I figured out how to use it, I was happy that I didn't need anything third-party.

If you're interested, you can [see what I'm doing](https://gist.github.com/jnm2/9c2b5d74d144852718e5b788d22b7fc0) with `eventListener`.

[2018-04-07 16:17] mklement0 opened #28915 "Support for enumerating non-default code pages added with RegisterProvider (System.Text.Encoding)"
The [documentation for `System.Text.Encoding.GetEncodings()`](https://docs.microsoft.com/en-us/dotnet/api/system.text.encoding.getencodings?view=netframework-4.7.1#System_Text_Encoding_GetEncodings) tells us (emphasis added):

Is there no way to enumerate these additional encodings?

Unfortunately, [`System.Text.CodePagesEncodingProvider.Instance`](https://docs.microsoft.com/en-us/dotnet/api/syste

[2018-04-07 16:28] TheMinefighter commented on #28903
@danmosemsft Done: https://github.com/dotnet/csharplang/issues/1445

[2018-04-07 16:34] karelz commented on #28899
Here's the [doc page](https://docs.microsoft.com/en-us/dotnet/api/system.buffers.arraypool-1.return?view=netcore-2.0#System_Buffers_ArrayPool_1_Return__0___System_Boolean_).

Looking at history, it was already fixed in [this commit](https://github.com/dotnet/dotnet-api-docs/commit/b73fb6d7c45c7fe11d14c99c5eff0bcbb6ade13f#diff-b4cc564f29bf82db45a7915928c34864) on 2017/12. I assume it is just matter

[2018-04-07 16:34] #28899 closed

[2018-04-07 16:44] karelz commented on #26222
@StingyJack it seems there is a significant disconnect here. You claim it is "clear" how to reproduce the problem, but honestly, I have **no clue**. (as I said above - https://github.com/dotnet/corefx/issues/26222#issuecomment-370251707)
I'll be happy to take further look / route it, but I need simple step-by-step repro steps (starting with freshly opened VS session) to be able to do that.

[2018-04-07 16:45] jnm2 commented on #28769
Absolutely, if the APIs enable the same abilities. `ReadRows` won't be an option for me because it won't work with immutable structs or immutable classes.

Yes, please! 😃

I'm sorry, I didn't mean to ask for such a restriction. I'd use both immutable structs and immutable classes depending on the size and scenario. Hopefully that resolves that question?

ADO.NET already has a concept of mapping in

[2018-04-07 16:46] philcarbone commented on #25773
This is occurring for us in Service Fabric projects as well as ASP.NET projects (and the bindings need to be flipped if we run EntityFramework migrations in the Package Manager Console. Then flipped back if we want to run our app). Also, every time a package updates it reverts to a binding we DON'T want, it is super annoying and all of our developers are frustrated with it - myself included ;)

[2018-04-07 16:49] philcarbone commented on #28833
This is occurring for us in Service Fabric projects as well as ASP.NET projects (and the bindings need to be flipped if we run EntityFramework migrations in the Package Manager Console. Then flipped back if we want to run our app). Also, every time a package updates it reverts to a binding we DON'T want, it is super annoying and all of our developers are frustrated with it - myself included ;)

Al

[2018-04-07 17:37] jnm2 commented on #28769
True, if it decides to call the constructor. Then it will incur allocations if it doesn't act differently depending on whether `T` is a struct or classes, but that's fine. What happens if `T` is a class and you pass an array of nulls?

There are two benefits of IAsyncEnumerable which I'm looking forward to: `foreach async` in C#, and LINQ composability. That could be implemented as an extension me

[2018-04-07 17:47] StingyJack commented on #26222
I had a project with this nuget package referenced that was created several months prior to this report. It had a TFS vNext build def, and compiled fine. The codebase and build def had no changes since the last time the build was run.

In prepping for some upcoming work, I ran the build on the on-prem tfs server. It got the error stated in the title.

I tried locally in VS, and got the same error.

[2018-04-07 17:48] jnm2 commented on #28769
Guessing from the open questions in https://github.com/dotnet/csharplang/blob/master/proposals/async-streams.md, it would be something like this:

[code]

Another question you'd have to answer if ADO.NET touched IAsyncEnumerable is whether you'd dispose the reader when the enumerator is disposed. It can't always dispose or this API could only be used with the final result set. Maybe `DbDataReader.

[2018-04-07 17:58] iSazonov commented on #28915
I would say that it is very surprising that after registering a new provider we can not get the full list of supported code pages.

[2018-04-07 18:50] lobster2012-user commented on #9768
Add https/socks5 for SocketsHttpClient.
Thank you.

[2018-04-07 19:40] MohammadHamdyGhanem commented on #28912
@jnm2
Thaanks, I will look at it and sure I will get more experience.
I was updating my textbook about. Net framework (now I'm adding hints about. Net core as well) published since 2010 for Arabic readers. I decided to add some pages about Debug abd Trace classes, but I ended up with a compleate chapter about what can be called a tracing framework! The EventProvider class lead me to read about ETW

[2018-04-07 19:46] MohammadHamdyGhanem commented on #28912
@stephentoub @danmosemsft @brianrob @vancem
why don't you bring krabsetw advantages to EventSource?
https://github.com/Microsoft/krabsetw/issues/44#issuecomment-379477652

[2018-04-07 21:18] shravan2x opened #28917 "Add Interlocked.Exchange overload for ulong, uint"
_From https://github.com/dotnet/csharplang/issues/1446._

Can overloads be added to atomically exchange ulongs and uints? I had a use case for them earlier today and couldn't understand why they didn't exist.

Is there some technical issue?

[2018-04-07 22:50] stephentoub commented on #28917
https://github.com/dotnet/corefx/issues/26378

[2018-04-07 23:26] Eilon commented on #28860
@ricklove indeed, sorry for taking so long to get back to you on this.

CGI error could mean that IIS for some reason was unable to communicate with the web app. Ultimately I think that's less relevant than the stack trace that was provided, because that stack trace is likely closer to the root cause, and the CGI error is just a symptom.

[2018-04-07 23:44] shravan2x commented on #28917
@stephentoub My bad, I checked the csharplang repo for duplicates, but forgot to do so before I ported the issue here.

[2018-04-07 23:44] #28917 closed

[2018-04-08 00:11] stephentoub commented on #28917
Not a problem :)

[2018-04-08 00:37] stephentoub opened #28920 "Use of Unsafe.As in ReadOnlySequence can result in breaking type safety"
In multiple places, the ReadOnlySequence struct checks a flag set in one field and then uses that to determine how to cast an object in another field, using Unsafe.As, e.g.
https://github.com/dotnet/corefx/blob/da1322d90a1412290a82a5ace157da4cc58dabf4/src/System.Memory/src/System/Buffers/ReadOnlySequence_helpers.cs#L39-L42
If the ReadOnlySequence suffers a torn read/write, we could end up with the

[2018-04-08 00:51] ahsonkhan commented on #28920
I recommended removing the Unsafe.As and use regular type casting as part of this PR (at least for the method being optimized): https://github.com/dotnet/corefx/pull/28760#discussion_r179703474

[2018-04-08 02:00] danmosemsft commented on #28915
@tarekgh

[2018-04-08 02:19] Sunny-pu opened #28921 "Test System.Data.Tests.SqlTypes.SqlInt64Test.ReadWriteXmlTest failed with "System.NullReferenceException : Object reference not set to an instance of an object.""
Test System.Data.Tests.SqlTypes.SqlInt64Test.ReadWriteXmlTest has failed.

MESSAGE:
System.NullReferenceException : Object reference not set to an instance of an object.
[code]

Details:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_release/364/testReport/System.Data.Tests.SqlTypes/SqlInt64Test/ReadWriteXmlTest/

[2018-04-08 03:05] Sunny-pu opened #28922 "Test System.Data.Tests.DataSetTest/SqlTypes failed with "Exit code was 32899 but it should have been 42\nExpected: True\nActual: False""
Tests failure:
System.Data.Tests.DataSetTest2.DataSetSpecificCulture (from (empty))
System.Data.Tests.AppDomainsAndFormatInfo.Bug82109
System.Data.Tests.DataSetTest.WriteXmlSchema (from (empty))
System.Data.Tests.DataSetTest.WriteXmlModeSchema1
System.Data.Tests.SqlTypes.SqlStringTest.Properties
System.Data.Tests.DataSetReadXmlSchemaTest.LocaleOnRootWithoutIsDataSet
System.Data.Tests.DataTableTest

[2018-04-08 05:05] WinCPP commented on #25344
Hi. I think I have figured out how to pass the `vectorLength` (for showing in exception message) to the function `CodeGen::genJumpToThrowHlpBlk` ([here](https://github.com/dotnet/coreclr/blob/94510ef330ad1ecb31540a949a68d4e09c164c64/src/jit/codegencommon.cpp#L2802)). I plan to have a following overload, mostly identical to original, that will accept the IR tree of the `index` (generated [here](htt

[2018-04-08 08:54] trondhindenes opened #28923 "Dependency conflict on Ubuntu 18.04"
Attempted install of deb package for ubuntu 17 on Ubuntu 18.04
output of lsb_release -a:

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu Bionic Beaver (development branch)
Release:	18.04
Codename:	bionic
It seems like .Net core is dependent on libcurl3. Ubuntu 18.04 uses libcurl4, which seems to conflict with libcurl3. This makes it impossible to have .Net  and the bundle

[2018-04-08 09:09] #28923 closed

[2018-04-08 09:10] trondhindenes opened #28924 "Installation guidance for Ubuntu 18.04"
Ubuntu 18 is listed as supported, but there doesn't seem to be any apt feed or deb package download link for it.
I've tried taking the 17.10 links/feeds and replacing version numbers / os codenames, but they all 404.

Please provide download links/install instructions for Ubuntu 18.

[2018-04-08 09:26] kasper3 commented on #9855
Some folks have called it obnoxious, some are suggesting OpenSSL 1.1 should've been called OpenSSL 2.0, so generally not everyone is happy the way 1.0->1.1 transition went down: https://news.ycombinator.com/item?id=13284648. But this has become a fact of life that needs to be supported (and imo revisit the no-libressl decision at the same time as that one is saner).

While building CoreFX..

In th

[2018-04-08 10:41] ShalokShalom commented on #9855
This is the reason, why .Net does not build on my distribution since 2 years.

[2018-04-08 10:52] benaadams commented on #23689
Raised issue for automatic conversion via escape analysis https://github.com/mono/linker/issues/296

However it wouldn't cover all cases; i.e. where escape analysis couldn't be performed, manual opt in.

[2018-04-08 11:38] kasper3 commented on #28924
I used (the fifth) way of installing dotnet:

[code]

Now you can run `dotnet new mvc --name MyWebApp` etc. on Ubuntu bionic-beaver / 18.04.

Ubuntu 18 will be released on April 27 (https://wiki.ubuntu.com/BionicBeaver/ReleaseSchedule) and aiui (from https://github.com/dotnet/corefx/issues/28114#issuecomment-379410199), .NET Core 2.1 final will be a bit earlier.

https://github.com/dotnet/corefx/p

[2018-04-08 12:46] iSazonov commented on #28915
First we discussed this in PowerShell Core repo. Some cmdlets have `-Encoding` parameter. If we want to add IntelliSense support for full set of code pages then we have the problem.

[2018-04-08 15:03] konne opened #28925 "update of nuget packages like System.Net.WebSockets.Client"
Hi,

I din't found any documentation what is your policy of updating these kind of nuget packages.
@stephentoub has added some days ago the import feature of RemoteCertificateValidationCallback as connect option and I like to understand when I can expect a new nuget packege.

bye
Konrad

[2018-04-08 18:10] bartonjs commented on #9855
@kasper3 Ubuntu 18.04 had curl backed by OpenSSL 1.0 until fairly recently (when I checked the package index on around March 1st it still ended up at 1.0 for Bionic; their changelog says 21 Feb, so there must have been a delay in that version showing up on the feed).

Theoretically `apt-get install --nodeps libssl1.0-dev libcurl-openssl1.0-dev` would put you in a buildable state.

[2018-04-08 21:29] davidsh commented on #5715
This was already completed via PR #19943

[2018-04-08 21:29] #5715 closed

[2018-04-08 21:29] davidsh commented on #2509
We no longer use WinHTTP for System.Net.WebSockets.Client.

[2018-04-08 21:29] #2509 closed

[2018-04-08 21:30] davidsh commented on #2506
This has been obsoleted since we no longer use WinHTTP for System.Net.WebSockets.Client.

[2018-04-08 21:30] #2506 closed

[2018-04-08 21:31] davidsh commented on #2508
This has been obsoleted since we no longer use WinHTTP for System.Net.WebSockets.Client and use SocketsHttpHandler for HTTP stack.

[2018-04-08 21:31] #2508 closed

[2018-04-08 21:33] davidsh commented on #13773
This has been obsoleted since we no longer use WinHTTP for System.Net.WebSockets.Client and use SocketsHttpHandler for the HTTP stack.

[2018-04-08 21:33] #13773 closed

[2018-04-08 21:35] davidsh commented on #7198
This has been obsoleted since we no longer use WinHTTP for System.Net.WebSockets.Client. Instead we use a managed implementation and use SocketsHttpHandler for the HTTP stack.

[2018-04-08 21:35] #7198 closed

[2018-04-08 21:51] davidsh commented on #17852
Now that we use a new HTTP stack (SocketsHttpHandler) as the default for .NET Core 2.1, SNI is now working.  By default, the SNI will be the DNS name of the Uri used in the request.  If a custom, "Host:" request header is added, then the SNI will use that name in the TLS/SSL handshake.

If there are further questions regarding this, please open up a new issue. Thx.

cc: @karelz

[2018-04-08 21:51] #17852 closed

[2018-04-08 22:36] bcronce commented on #28450
@Joe4evr
I don't quite follow the argument. I think you're saying to use `ICollection<T>` over `IList<T>` because the programmer might unknowingly pass in a structure that is not indexer friendly? That's the programmer's responsibility. I addressed this by saying they could force the usage of the `IEnumberable<T>` signature by explicitly casting the object.

This is why I was advocating to at leas

[2018-04-08 22:48] davidsh commented on #25520
This issue is being caused by a bug/limitation in the the TLS/SSL low-level protocol stack (SCHANNEL) in Windows Server 2012 R2 (a.ka. Windows 8.1 "server").

The analysis by ssllabs.com is correct about this:

[code]

Due to the cipher suite problem (DH parameters > 4096 bitsRSA), the connection can't be completed. And failure to negotiate the cipher suites will prevent further processing of the

[2018-04-08 22:48] #25520 closed

[2018-04-09 01:13] kevinjpetersen commented on #24480
Hello, seems like this issue is still a thing.

I have built a .NET Core Application on the latest preview 2.1.0-preview1-26216-02, and EF = 2.1.0-preview1-final which seems to include the latest version of System.Data.SqlClient.dll.

I have created a local SQL Server 2017 (With Developer License) on Ubuntu 16.0.4 and I'm trying to use EF Core to write 10,000 rows of data to a table using the DbCo

[2018-04-09 01:15] kevinjpetersen commented on #24480
@geleems @wfurt @stephentoub

Hello, seems like this issue is still a thing.

I have built a .NET Core Application on the latest preview 2.1.0-preview1-26216-02, and EF = 2.1.0-preview1-final which seems to include the latest version of System.Data.SqlClient.dll.

I have created a local SQL Server 2017 (With Developer License) on Ubuntu 16.0.4 and I'm trying to use EF Core to write 10,000 rows of

[2018-04-09 01:31] JamesNK opened #28929 "Unbound channel + calling complete with zero items written = poor performance"
SignalR is using an unbound channel in a benchmark and we have noticed odd performance.

Writing one item and then calling complete is significantly faster than writing zero items and calling complete.

[code]

Code:

https://github.com/aspnet/SignalR/blob/bd78785f8d36be6e650ac60813b8d9c1ca9983d3/benchmarks/Microsoft.AspNetCore.SignalR.Microbenchmarks/DefaultHubDispatcherBenchmark.cs#L144-L158

[c

[2018-04-09 01:56] ShalokShalom commented on #9855
Such issues can get solved elegantly by Linuxbrew.

This is currently my favorite generic package manager for GNU/Linux and it lets you provide always the current release for all the distros.

The so called formulas, which you write in order to get it working are very descriptive and concise.

They install the packages into a separate directory, so nothing collides with the existing distro package

[2018-04-09 02:29] davidsh commented on #28206
.NET Framework has a max of 64K bytes for drain and a timeout of 500 ms.  Since this test is adding delays in the response output (by awaiting each character write to the client), it's probably exceeding the timeout. So, the connection is dropped.  The exception being reported in the above stacktrace is due to the loopback server hitting an I/O error trying to write back on the same TCP connection

[2018-04-09 04:19] Thaina opened #28930 "Implicit conversion between KeyValuePair and Tuple"
Please add implicit conversion from Tuple to KeyValuePair

Should be able to
[code]

[2018-04-09 05:13] #28504 closed

[2018-04-09 05:27] Thaina opened #28932 "`Linq.Enumerable.Any` should return false on null"
For `Any` function on collection, we should treat null collection as empty

And I think `predicate` should be `null` as default parameter

It could be another similar name for compatibility catch but please contain it within corefx

[2018-04-09 06:55] iSazonov opened #28933 "Add GetISOWeekOfYear()"
## Rationale

.Net don't implement [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_week_date#Relation_with_the_Gregorian_calendar) - it have alternative scheme in:
[code]

Unix `date` utility implements ISO 8601:
[code]

In [PowerShell repo ](https://github.com/PowerShell/PowerShell/pull/6542) we use workaround described [here](https://blogs.msdn.microsoft.com/shawnste/2006/01/24/iso-8601-we

[2018-04-09 06:56] iSazonov commented on #28808
@tarekgh Thank for great link!

Issue for API proposal #28933

[2018-04-09 07:00] amrmahdi commented on #13773
@davidsh Even though the implementation changed to SocketHttpHandler, the main problem of not propagating an appropriate exception with the upgrade response still exits. See https://github.com/dotnet/corefx/blob/14435e14d39bf70697956535b8ac6c96b49e9cea/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs#L175 where it throws generic exception without any details. S

[2018-04-09 07:43] okodron commented on #28901
I think, docker image should be updated to the officially supported ubuntu 16.04 with the latest [qemu](https://github.com/dotnet/coreclr/issues/12972) (with ARM `membarrier()` syscall support).
As I understand, @hqueue created that docker image.

[2018-04-09 09:53] Gimly opened #28935 "Add Time value type in System"
# Rationale
Today, we have a `DateTime` struct in System that represents a specific date and time, which supports time zones. We also have a `TimeSpan` object that represents a duration (for example the time between two `DateTime`). I feel that we are missing a simple `Time` object that represents a time of day, without it being linked to a particular day.

There are a lot of reasons for represent

[2018-04-09 10:09] khellang commented on #28935
This is already implemented in [corefxlab](https://github.com/dotnet/corefxlab/tree/8309ca4e7a7ba30829e355631349b20f0ca9da2e/src/System.Time). Also, see https://github.com/dotnet/corefx/issues/2116 and https://github.com/dotnet/corefxlab/issues/1740 it'll probably make its way into corefx Very Soon™ 😄

[2018-04-09 11:32] khellang commented on #28933
@svick And then ignore `firstDayOfWeek` (unless it's Monday)? ISO 2105 (and subsequently 8601) specifies Monday as first day of week.

It's basically the existing `GetWeekOfYear` with `CalendarWeekRule.FirstFourDayWeek` + `DayOfWeek.Monday` and a tiny bit of behavior change. See https://blogs.msdn.microsoft.com/shawnste/2006/01/24/iso-8601-week-of-year-format-in-microsoft-net/

[2018-04-09 11:58] louislewis2 commented on #18276
Ouch, this has burned me today horribly. Tomorrow we are deploying to production. Which means that today we start migrating users across from an old system across to a new one.

Then I get hit by this......

[2018-04-09 12:08] svick commented on #28933
@khellang

Probably a better choice would be to require that `firstDayOfWeek` is Monday (and throw otherwise).

But at that point, the original proposal of adding a new method might be better.

[2018-04-09 12:50] jnm2 commented on #28935
I totally wish this was possible, but that would make people's existing code crash at runtime or break on recompile:

[code]

[2018-04-09 12:57] jnm2 commented on #28930
@Thaina [`.Cast<>` cannot use implicit conversions.](https://sharplab.io/#v2:C4LgTgrgdgPgAgBgARwIwDoAyBLKBHAbgFgAoUuAZhVQDYUAmagdlIG9SlOUq064AWagA4AFAEoOXdiS6ykAMwD2YAKYBDAMYALJCIBuasEgBGSXEigqA7kgCCAbVQBddAGE1AZ2AAeAEIA+cQkZOU5pUNDJUIBfKKRYkgTyKi9IDWA7NjjKajpsAFsABwAbbA1sDMVClTA1YGUkXxFbJDUxJABefyQAExV5NQhi4AJZUiSSHNSIdMaskM4c3jMi0vLK6tr6o1sRXxN2rt7+weHiRKA=)

https://github.com/dotnet/corefx/blo

[2018-04-09 13:04] jnm2 commented on #28930
@Thaina [`.Cast<>` cannot use implicit conversions.](https://sharplab.io/#v2:C4LgTgrgdgPgAgBgARwIwDoAyBLKBHAbgFgAoUuAZhVQDYUAmagdlIG9SlOUq064AWagA4AFAEoOXdiS6ykAMwD2YAKYBDAMYALJCIBuasEgBGSXEigqA7kgCCAbVQBddAGE1AZ2AAeAEIA+cQkZOU5pUNDJUIBfKKRYkgTyKi9IDWA7NjjKajpsAFsABwAbbA1sDMVClTA1YGUkXxFbJDUxJABefyQAExV5NQhi4AJZUiSSHNSIdMaskM4c3jMi0vLK6tr6o1sRXxN2rt7+weHiRKA=)

In order to respect C# implicit conv

[2018-04-09 13:04] khellang commented on #28935
The current proposed implementation of `System.Time` has an [explicit cast from `TimeSpan`](https://github.com/dotnet/corefxlab/blob/8309ca4e7a7ba30829e355631349b20f0ca9da2e/src/System.Time/System/Time.cs#L1586-L1597), [which calls this out](https://github.com/dotnet/corefxlab/blob/8309ca4e7a7ba30829e355631349b20f0ca9da2e/src/System.Time/System/Time.cs#L1575-L1581)

[2018-04-09 13:05] jnm2 commented on #28932
Same principle as https://github.com/dotnet/corefx/issues/11029.

[2018-04-09 13:39] EssenRoc opened #28938 "how to use "AES/CTR/NoPadding""
I need to call a web API, but the other party uses this algorithm, so what should I do?

[2018-04-09 13:46] jnm2 commented on #28938
Answers here: https://stackoverflow.com/questions/6374437/can-i-use-aes-in-ctr-mode-in-net

[2018-04-09 14:25] AtsushiKan commented on #26053
This is a subset of https://github.com/dotnet/corefx/issues/15960 (15960 covers all existing Invoke methods, not just `PropertyInfo.GetValue`. So I'm closing this as a dupe of that.

[2018-04-09 14:25] #26053 closed

[2018-04-09 14:27] AtsushiKan commented on #26053
Any preference for what should happen if the method returns a null ref?

Here are the possibilities (ranked in descending order of my preference)

1. Return `System.Reflection.Missing.Value`
2. Throw `NullReferenceException`
3. Return `null`

[2018-04-09 14:28] AtsushiKan commented on #15960
Any preference for what should happen if the method returns a null ref?
Here are the possibilities (ranked in descending order of my preference)

1. Return System.Reflection.Missing.Value
2. Throw NullReferenceException
3. Return null

[2018-04-09 14:33] jkotas commented on #15960
This sounds reasonable to me. Is `System.Reflection.Missing.Value` used as argument going to turn into a null ref?

[2018-04-09 14:36] #28938 closed

[2018-04-09 14:40] vincentkam commented on #28724
Thank you for the clarification! (My apologies, I had misinterpreted "failure code" as "error code" e.g. error code 44).  Deleting the cached entry and trying again sounds fantastic to me.

I agree that this won't be a super common problem when a new issuing CA is stood up because it's usually given a disambiguator in the name. However, as you already know, I think the problem can also occur if a

[2018-04-09 14:41] AtsushiKan commented on #15960
I think we could swing that. Today, passing `Missing.Value` to a `ref Object` parameter throws `ArgumentException: Missing parameter does not have a default value`. And I can't see how we would  support default values for `ref` parameters so there isn't a chance for a conflict. Or we could invent a new sentinal value if necessary.

[2018-04-09 14:45] Gimly commented on #28935
Great! Didn't find #2116 when I did a search, clear that I wasn't the first to think about that issue :smile:.

So... should I close this issue?

[2018-04-09 15:38] tarekgh commented on #28933
I believe it is better to add a new member to CalendarWeekRule enum. Something like Iso8601 or so. I don't think we need to add a new API for that. if you agree, could you please update the proposal?

CC @shawnsteele

[2018-04-09 16:18] #28759 closed

[2018-04-09 16:26] karelz commented on #28925
In general, we stopped shipping quite a few nuget packages as standalone packages. They are part of meta-package now. They are updated via .NET Core ship train (potentially also via UWP - not sure about details there).

System.Net.WebSockets.Client nuget seems to be in the bucket of packages we stopped shipping standalone: https://www.nuget.org/packages/System.Net.WebSockets.Client/

@weshaggard c

[2018-04-09 16:28] luqunl commented on #17135
@xoofx , Your idea is similar to what We are going to do next for x-platform Pinvoke support
1. Expose few methods in Marshal as builder block
2. [Optional] Enable others higher level support in libraries: such as DllMap etc..

[2018-04-09 16:30] tarekgh commented on #28915
Although I can see the issue, generally people interested in specific codepage encoding they already knew this codepage number and can just use it. another scenario would be getting the codepage name or number from some contents (like Xml, html, network stream,...etc.) and create encoding object. in such cases enumeration is not needed anyway.

Could you tell exactly your scenario you want this? I

[2018-04-09 16:36] karelz commented on #28924
@trondhindenes out of curiosity: Where did you find Ubuntu 18 listed as supported? Which 17.10 links/feeds did you use and try to adapt?

@kasper3 can you please clarify what you think should be prioritized for 2.1? General Ubuntu 18.04 support? Or something specific?

BTW: I see Ubuntu 18.04 in [daily builds of master](https://github.com/dotnet/core-setup/blob/master/README.md#daily-builds) - wou

[2018-04-09 16:45] davidsh commented on #13773
Yes, please open up a new issue.  Please be specific in terms of what additional information you would like to see propagated to the exception and under what conditions.

[2018-04-09 16:46] brianrob commented on #28912
@MohammadHamdyGhanem let me introduce each of these packages:

**System.Diagnostics.Tracing.EventSource**: This is the copy of EventSource that lives in the .NET frameworks (full, core, uwp) and can be used by frameworks, libraries, and applications to log events that can be sent to platform loggers (ETW, LTTng) and EventListeners.  It is strictly used for producing events and does not consume eve

[2018-04-09 16:48] tarekgh commented on #28933
The other idea could be adding the new member Iso8601 to the CalendarWeekRule enum

And then, have an overload to the method

System.Globalization.Calendar.GetWeekOfYear(DateTime time, CalendarWeekRule rule);

which assume Monday is the first day of the week.

And Make System.Globalization.Calendar.GetWeekOfYear(DateTime time, CalendarWeekRule rule, DayOfWeek firstDayOfWeek); to throw if firstDayO

[2018-04-09 17:00] karelz commented on #28830
@sebastienros any chance to get the info above? Otherwise I am not sure it will be actionable for us :(

[2018-04-09 17:03] kasper3 commented on #28924
@karelz, following the steps in previous comment, I can run .NET Core on  Ubuntu 18.04 with socket HTTP handler. The conflicting native dependency is `libcurl-openssl1.0-dev`, that is used to build CoreFX, as well as when we try to use CurlHttpHandler at runtime (https://github.com/dotnet/corefx/issues/28353). So if we have cmake, curl etc. installed (dev machine) on Ubuntu 18.04, and try to insta

[2018-04-09 17:04] xoofx commented on #17135
Good to know! 👍

The only thing I'm uncertain of the behavior is, how far `IntPtr LoadNativeLibrary(string libraryPath);` handles prefix and postfix (extension) automatically? I would expect it to handle this automatically if you don't pass a valid extension for shared library for the current platform, something like this:

- If you pass `myShared.dll` on Windows, it would use `myShared.dll` direc

[2018-04-09 17:30] MohammadHamdyGhanem commented on #28912
@brianrob
Thanks a lot for your detailed answer. It helped.

I got an answer from krabsetw team, stating it was needed after the other APIs faild to handle more than 10 providers in office 365:
Microsoft/krabsetw#44
I wonder why they didn't report this to you, to talk advantage of their work! At the end you are a one big happy corporation :)
Thanks again.

[2018-04-09 17:34] mklement0 commented on #28915
@tarekgh:

To elaborate on the scenario mentioned by @iSazonov:

PowerShell Core users may want to _discover_ available encodings and/or be assisted in selecting a specific encoding with _tab completion_:

[code]

The above is currently limited to the .NET Core default encodings, even though PowerShell registers additional encodings on startup.

[2018-04-09 17:38] tarekgh commented on #28915
@mklement0 I understand this and I am not objecting it. my point is this is not a real app scenario or real user scenario. in another word, my experience is not many people need to enumerate the code pages.

Feel free to submit an API proposal as I mentioned in my previous reply.

[2018-04-09 17:40] karelz commented on #28924
@kasper3 OpenSSL 1.1 support is not practical for 2.1. Security area owners will decide when & how to support it (we have to keep in mind we need to support older distros with OpenSSL 1.0 only as well).
I am a bit confused about mixing CoreFX-dev scenario (building CoreFX) vs. runtime scenario. Can you please separate them?

Do you have concerns about runtime scenario? By default we do not need li

[2018-04-09 17:42] rmkerr commented on #6863
Closing this issue since the use case isn't valid. URL encoding requires that any non-ascii characters be converted to UTF-8 before being percent encoded. From [section 3.2.2 of RFC 3986](https://tools.ietf.org/html/rfc3986#section-3.2.2):
[code]
Since %B6 is not a valid character on its own, the encoding is invalid and we should not decode it.

[2018-04-09 17:42] #6863 closed

[2018-04-09 17:45] ianhays commented on #27215
Done.

[2018-04-09 17:45] #27215 closed

[2018-04-09 17:45] iSazonov commented on #28933
Assume that the third parameter should be Monday and otherwise throw an exception - this case does not look convenient. I don't see the benefit of this exception.
We could ignore the third parameter silently if the second parameter is `Iso8601`.
Or we could make the third parameter optional with Monday  default.

[2018-04-09 17:45] mklement0 commented on #28915
@tarekgh:

Thanks; I am glad you understand. It sounded like you wanted more details, based on this  question of yours, in response to which I posted my elaboration.

As for deeming this  not a real-world scenario:

Of course, it's impossible to see usage from the PowerShell side of things yet, given that the feature currently _doesn't exist_ - for lack of API support.

I will submit an API propos

[2018-04-09 17:49] tarekgh commented on #28933
@iSazonov this why I suggested the other idea to have the overload

[code]

which assume Monday as the first day of the week.

I would list all alternative design options in the description of this issue and then we can choose the best of them when discussing it with the design committee.

[2018-04-09 17:50] rmkerr commented on #3055
Closing as this issue has been fixed in .NET Core 2.1 (PR #25993), and .NET Framework 4.7.2.

[2018-04-09 17:50] #3055 closed

[2018-04-09 17:58] iSazonov commented on #28915
Also we have a request to implement new cmdlet for converting encoding like [iconv](https://linux.die.net/man/1/iconv). iconv has `--list` parameter so users can get a list of supported code pages. Today we can't do this effectively.
I suppose we could add a new overload (maybe with optional parameter) `GetEncodings(bool IncludeExtendedCodePages = false)`.

[2018-04-09 17:59] tarekgh commented on #28915
Does the desktop version of power shell support ```Get-Content file.txt -Encoding ```?

if so, this would be a good thing to look at the usage of this functionality in power shell there.

[2018-04-09 18:00] iSazonov commented on #28933
I'll update the proposal with your ideas.

[2018-04-09 18:10] mklement0 commented on #28915
@tarekgh:

Unfortunately, _Windows PowerShell_ (the `Desktop` edition of PowerShell built on the full .NET framework) does _not_ support `Encoding` instances directly (only a limited set of enumeration values that map onto a handful of common encodings).

In _PowerShell Core_'s cross-platform world, encoding conversions strike me as more common, and presumably that's why that ability was added.

@

[2018-04-09 18:17] rmkerr commented on #1751
This probably isn't feasible, just because of the broad set of use cases for System.Uri. For example, it's perfectly legal to name a file system folder like this: `Folder.With.Dots`. If we create a relative file path using system URI, the suggested change would result in `HostNameType` evaluating to DNS. While this change would be _convenient_ in web only scenarios, it would impact _correctness_ i

[2018-04-09 18:17] #1751 closed

[2018-04-09 18:24] brianrob commented on #28912
Thanks @MohammadHamdyGhanem.  I'll follow-up and see if I can find out what the issue was.  I'll go ahead and close this issue.

[2018-04-09 18:24] #28912 closed

[2018-04-09 18:33] kevinjpetersen commented on #24480
Addition to my previous comment: It's about the same speed remotely also (Very slow), I even tried with just 1000 rows, also very slow.

[2018-04-09 18:44] sebastienros commented on #28830
I am running the benchmarks on Ubuntu 16.04, in a docker image. I don't know the answers about the SSL details, but all can be reproduced very easily, it's in the aspnet/benchmarks repository.
The commit numbers can somehow be induced by the build numbers, I assume you can also use mc.dot.net to get the precise commits that went into these runtimes.

2.1.0-preview3-26330.03 => 03/30
2.1.0-preview3

[2018-04-09 18:48] rmkerr commented on #21559
The HTTP 1.1 RFC describes how to compare http URIs. From [section 3.2.3](https://tools.ietf.org/html/rfc2616#section-3.2.3):
[code]
While queries are often made up of name-value pairs, as far as I know there is no formal specification that describes the format. Without that a lot of things are unclear. What should the separators be? Should sequence matter? Should casing matter? Those kinds of dec

[2018-04-09 18:48] #21559 closed

[2018-04-09 19:29] #28365 closed

[2018-04-09 19:37] karelz commented on #28830
There a few potentially suspicious changes around that time: [first batch](https://github.com/dotnet/corefx/commits/master?before=a036d70307f7d9dabb7fcb9d9d2b3d3a23011469+120) and [second batch](https://github.com/dotnet/corefx/commits/master?after=a036d70307f7d9dabb7fcb9d9d2b3d3a23011469+119)

Commits remotely related:
* SNI feature (2d39212fc69a6c0a78c48a3ad8e191ca94872548)
* SslStream mutates s

[2018-04-09 19:39] stephentoub commented on #28830
`Stop blocking explicit opt-in to Ssl2/3 in SslStream and HttpClient` is why I asked about the protocol/cipher/etc. that ended up getting negotiated.  I'm wondering if maybe the connection is ending up with a different protocol than it previously did, and that different protocol is slower for reading/writing / encrypting/decrypting.

[2018-04-09 19:49] Clockwork-Muse opened #28941 "HttpWebResponse.LastModified no longer throws"
Discovered during the work for #28843

(System.Net.Request) [`HttpWebResponse.LastModified`](https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/src/System/Net/HttpWebResponse.cs#L143-L157) no longer throws `ProtocolViolationException`:

[code]

It looks like this occurred during the port, as [the file containing the original code was split](https://referencesource.microsoft.com/#

[2018-04-09 19:51] sebastienros commented on #28830
If you give me custom builds of these changes I can test them and let you know if that was it.

If I had the time to do it I would gladly create custom builds reverting all these commits one by one and find which one is causing it, but right now I don't have much experience with building the corefx repos, and too many things to do in parallel.

[2018-04-09 19:53] wfurt commented on #28830
There was also https://github.com/dotnet/corefx/pull/28666 in that time frame.

[2018-04-09 19:57] karelz commented on #28830
That is the second one on my list ;)

[2018-04-09 20:06] wfurt commented on #28830
you beat me while I was looking @karelz ;(

[2018-04-09 20:26] ahsonkhan commented on #28911
We changed the debug view on Span/Memory to call ToString now (if you use the latest preview2 package), so it no longer shows the length in the hover text as an integer, but rather as a string containing the type and length (see [Memory.cs](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Memory.cs#L22)). So, with the newer packages, the hover text won't change due to the

[2018-04-09 20:46] krwq commented on #28898
@karelz, I think we should close this or move this to Future for reconsideration.

[2018-04-09 20:48] bartonjs commented on #28924
From a clean install of 18.04 beta2, I got to the point where thing were building with

[code]

Not a great story, but it works (as long as you don't independently need the OpenSSL 1.1 headers)

I haven't made it to "finish building and run tests" yet since there are a bunch of new warnings/errors from clang about our existing code.

[2018-04-09 20:59] mklement0 opened #28944 "Add a GetEncodings method to System.Text.EncodingProvider"
This API proposal arose out of #28915.

## Rationale and Use Cases

As of this writing:

* [`System.Text.Encoding.GetEncodings()`](https://docs.microsoft.com/en-us/dotnet/api/system.text.encoding.getencodings?view=netcore-2.1#System_Text_Encoding_GetEncodings) only ever enumerates the _default_ encodings available.

* [`System.Text.CodePagesEncodingProvider.Instance`](https://docs.microsoft.com/en

[2018-04-09 21:01] mklement0 commented on #28915
@tarekgh:

Please see my API proposal at #28944.

[2018-04-09 21:01] #28915 closed

[2018-04-09 21:04] kasper3 commented on #28924
PR is ready, pending review https://github.com/dotnet/corefx/pull/28919 :)

[2018-04-09 21:10] jkotas commented on #28944
This cannot be abstract method. Adding abstract method to existing type is a breaking change.

I do not think we need a new overload for `GetEncodings()`. `GetEncodings()` should just return all encodings available.

[2018-04-09 21:10] tarekgh commented on #28944
@mklement0 thanks for the proposal.

For the open question, System.Text.Encodings.GetEncodings() should report all encodings including the provider encodings. I am not sure why this will be a compatibility issue? I cannot think in any breaking scenario here as we are going to return a superset from what we used to return. could you please elaborate more on that?

[2018-04-09 21:15] #27626 closed

[2018-04-09 21:26] mklement0 commented on #28944
@tarekgh, @jkotas:

To be clear, my preference too is  for `System.Text.Encodings.GetEncodings()` to return all _available_ encodings, at least by default.

If there's no concern about backward compatibility (see below) and no need to support discovering _just_ the default encodings _while additional ones happen to be registered_, then I'm happy to

* make do without a new `System.Text.Encodings.G

[2018-04-09 21:29] tarekgh commented on #28944
please remove the open question then.

make the method virtual instead of abstract.

[2018-04-09 21:39] karelz commented on #28898
@davidsh can you please work with @mconnew to make a recommendation?

[2018-04-09 21:39] karelz commented on #28790
@rmkerr can you please take look?

[2018-04-09 21:40] karelz commented on #28830
@wfurt can you please try to reproduce it in house? Please make sure @rmkerr knows how to do it as well (for the time you will be OOF).

[2018-04-09 21:42] rmkerr commented on #28790
Taking a look at this now.

[2018-04-09 21:53] stephentoub commented on #28930
I agree with @jnm2.  Not worthwhile.

[2018-04-09 22:03] mklement0 commented on #28944
@tarekgh:  Thanks - done. I've also added details re return behavior (enumeration order); let me know if that makes sense.

[2018-04-09 22:12] tarekgh commented on #28944
@mklement0

System.Text.Encodings.GetEncodings documentation doesn't promise for any sort order. From where you got that?
https://msdn.microsoft.com/en-us/library/system.text.encoding.getencodings(v=vs.110).aspx#Remarks

[2018-04-09 22:16] mklement0 commented on #28944
@tarekgh:

You're right - I didn't check the docs, I just inferred it from the de facto behavior.

Do you want me to say that the order is unspecified? What about when forming the union between default and registered encodings?

[2018-04-09 22:31] tarekgh commented on #28944
I prefer not mentioning anything about the order. we just promise to return the whole set supported by the core and the providers.

[2018-04-09 22:36] mklement0 commented on #28944
@tarekgh: Done (I've added a note that no particular enumeration order is guaranteed).

[2018-04-09 22:41] AlexRadch opened #28948 "Local building issues on Windows"
I tyr to build Corefx by using `clean.cmd` and then `build.cmd`
Local building on Windows returns next warnings in `msbuild.wrn` file:
[code]

[2018-04-09 22:47] tarekgh commented on #28944
Thanks @mklement0

I have added the following statement too to the proposal integration section. let me know if you have any concern with that.

[code]

[2018-04-09 22:48] tarekgh commented on #28944
CC @krwq

[2018-04-09 22:50] mklement0 commented on #28944
Thanks, @tarekgh - good addition (I've streamlined the wording a bit).

[2018-04-09 22:56] joshfree opened #28950 "SqlClient SqlConnectionBasicTests failures in 2.0.x CI"
Tracking issue for flaky test failure.  Is there a surgical improvement that can be backported from master to /release/2.0.0 to improve CI reliability for that queue?

https://github.com/dotnet/corefx/pull/27919

https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.0.0~2F/test~2Ffunctional~2Fcli~2F/7aa45b89ca5ae46cb15fce46921f40dd925d736b/workItem/System.Data.S

[2018-04-09 23:05] CHeavyarms opened #28951 "SocketsHttpHandler mangling "User-Agent" header"
When testing a .NET Core application against the 2.1 preview with the new `SocketsHttpHandler` using the latest build of the .NET Core SDK (info output from CLI listed below), requests sent through an `HttpClient` to a local HTTP echo or capture service shows the new implementation of the `HttpMessageHandler` / `HttpClientHandler` is modifying the "User-Agent" agent header value before sending (or

[2018-04-09 23:33] saurabh500 commented on #28950
@geleems had made some changes to improve the test. @geleems can you port the fixes to release branch?

[2018-04-09 23:47] Anipik opened #28953 "StartInfo_TextFile_ShellExecute test failing for spanish windows (Non English CI)"
[code]

[2018-04-09 23:48] #28879 closed

[2018-04-09 23:55] ahsonkhan opened #28954 "Make CreateFromPinnedArray visible and move it to MemoryMarshal"
Marking the method has `EditorBrowsableState.Never` hurts usability for users (like ASP.NET) who want to [use the API](https://github.com/aspnet/Common/blob/7fd3a209704efe9eb4303fce99062ac2f71d5c6c/shared/Microsoft.Extensions.Buffers.Sources/MemoryPoolBlock.Release.cs#L28).

Since the developer needs to be careful with the use of this API (it can be considered unsafe, for instance, if someone call

[2018-04-10 00:00] stephentoub commented on #28951
As a simpler repro, this:
[code]
outputs:
[code]
on .NET Framework 4.7, .NET Core 2.0, and the latest .NET Core 2.1.

In contrast, on all of those platforms, this:
[code]
outputs:
[code]

So using different APIs on HttpHeaders appears to be produce different outcomes.

[2018-04-10 00:00] stephentoub commented on #28951
cc: @davidsh, @geoffkizer

[2018-04-10 00:04] stephentoub commented on #28954
There's another reason to move it.  I don't see any way to write Memory.Pin in a way that's safe against torn reads/writes with Memory created from this API.  A Memory could be created using CreateFromPinnedArray, stored in a field, and then concurrently with some thread calling Pin on that memory in the field, another thread writes to it, and the original thread ends up reading part of one Memory

[2018-04-10 00:36] GrabYourPitchforks commented on #28954
I agree that it should move to `MemoryMarshal`, but for different reasons than what @stephentoub stated. From my perspective it's not safe to use `Memory<T>.Pin` _at all_ if the underlying struct could be mutated unexpectedly, regardless of how the `Memory<T>` was constructed.

Here's the scenario for why I'm not worried too much about this for `Pin`.

1. The structure is fully self-consistent.
2.

[2018-04-10 01:24] davidsh commented on #28941
Yes, this is a bug.

That code for the getter of  `HttpWebResponse.LastModified` property should be:

[code]

[2018-04-10 01:26] davidsh commented on #28941
cc: @karelz

[2018-04-10 02:19] ahsonkhan opened #28959 "Remove SequenceMarshal.TryGetMemoryManager for ReadOnlySequence"
This API was added as part of https://github.com/dotnet/corefx/issues/27097 when we had a ReadOnlySequence ctor that takes a MemoryManager. Based on the `Memory<T>` [usage guidelines](https://gist.github.com/GrabYourPitchforks/4c3e1935fd4d9fa2831dbfcab35dffc6), ReadOnlySequence is a consumer of Memory and not an owner. Therefore, we removed that ctor, when we split OwnedMemory into MemoryManager a

[2018-04-10 02:44] pulkjr opened #28960 "DataSet ReadXmlSchema Error when uri filename contain special character"
When running .net core on mac was unable to pass string with special character to ReadXmlSchema, specifically a '#'. The error return path not found stopping the given path before the special character. Workaround using %23 works, but using '#' on windows system works fine. Attempted to use %23 on windows system and was unable to resolve path. Appears to be error coming from XmlTextReaderImpl or X

[2018-04-10 02:45] pjanotti commented on #28878
I got these failures in RS2:
https://mc.dot.net/#/user/pjanotti/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/dc8d5a6921ce7125f4697fd02d5061201e0b2be8/workItem/System.Diagnostics.PerformanceCounter.Tests

[2018-04-10 03:04] davidfowl commented on #28959
No this is needed to support things like RIO in the future. That’s why it was originally added.

[2018-04-10 03:10] ahsonkhan commented on #28959
We can always add it back in the future when necessary. However, I don't understand why we would need this on ReadOnlySequence, specifically, to support RIO.

[2018-04-10 03:21] wfurt opened #28961 "SocketsHttpHandler: NTLM auth does not work by default on Unix"
HttpClient with credentials explicitly set. SocketHttpHandler throws on NTLM authentication requested by server:

[code]

**Workarounds:**
1. Install package called `gss-ntlmssp` (plugin into MIT Kerberos GSSAPI layer)
2. Install Heimdal (alternative Kerberos implementation with NTLM support): https://www.h5l.org/manual/heimdal-1-5-branch/ntlm/

One of the options installed is sufficient to make S

[2018-04-10 03:25] mark-cordell commented on #28841
@davidsh adding these fields to HttpRequestMessage would be great if that works.

@stephentoub when you create a new http request, you don't know if it's going to get one out of the pool or establish a new connection. I'm assuming here that consumers will typically want to the same validation callback logic for a given host/scheme/port destination, so they just always specify host/scheme/port + va

[2018-04-10 03:28] AlexRadch commented on #28935
I do not see any advantages on TimeSpan. It seems like to add FourBits type. Also some days can have additional seconds https://en.wikipedia.org/wiki/Leap_second .
Can TimeOfDay return more then 24 hours or not?

[2018-04-10 03:35] wfurt opened #28963 "SocketsHttpHandler: unable to use pre-authenticated kerberos ticket for auth on Unix"
This is fllow-up on #27876

I have setup where Linux machine joined domain (using MIT krb5)

Unlike curl handler, SocketsHttpHandler is not able to use it for authentication.
Explicit authentication works when specified in user@FQDN and DNS is configured properly.
(not that for Kerberos time and name services are essential)

[2018-04-10 03:46] iSazonov commented on #28944
There may be another scenario if the user wants to get only the default list:
[code]

[2018-04-10 03:54] davidfowl commented on #28959
Oh wait you’re right. We only need the other one for RIo

[2018-04-10 04:03] pakrym commented on #28959
Removing it should be fine. Closes the circle with previous change.

[2018-04-10 05:07] ahsonkhan opened #28968 "[Windows] Test hang: System.Net.Http.Functional.Tests"
From https://github.com/dotnet/corefx/pull/28962

https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a206cf92c713b91e74bf786ef3f980ce29c2b4bb/workItem/System.Net.Http.Functional.Tests/wilogs
Windows.7.Amd64.Open-x64:Debug

[code]
...
[code]

cc @davidsh, @wfurt, @caesar1995, @rmkerr, @karelz

[2018-04-10 05:36] Plasma commented on #21796
Just hit this bug in production NET FX 4.6.1

[2018-04-10 06:28] khellang commented on #28935
I don't think so. None of the BCL date and time types supports leap seconds, AFAIK.

[2018-04-10 08:37] MonikaMalik123 commented on #17272
Hi @karelz Thanks for the reply,, I don't have idea how to debug .NetCore 2.0 application inside Container. If you could suggest any example. Would be great

Thanks

[2018-04-10 08:59] tmds commented on #28790
@stephentoub @rmkerr I have no idea.
The test is checking this condition:
https://github.com/dotnet/corefx/blob/3cc6fda0c6abe76eea222c165ebdf816e83df564/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.Unix.cs#L19-L21
On RH7 the backend is NSS, so this test will be skipped. Is RH6 using libcurl with openssl backend by default? Or is there a custom libcurl package on the

[2018-04-10 09:26] marek-safar commented on #28886
@donchak there is no simple workaround for now, you need to get copy System.Drawing.Common.dll manually to the output folder.

The fix should be available as part of dev15.7 release

[2018-04-10 09:55] donchak commented on #28886
@marek-safar Thank you!

[2018-04-10 10:06] Timovzl commented on #23629
@bartonjs Wait, what happened to a low-level primitive? I thought the aim of this particular issue was flexibility over babysitting. Definitely let us know if the plan has changed, so that we're all talking about the same thing.

Also, are per-block methods still under consideration, or just one-shot methods?

Seeing all the examples, this does start to look more and more futile - especially for a

[2018-04-10 12:25] stephentoub commented on #28841
For WinHTTP, maybe.  But that's not a feature/complication of SocketsHttpHandler.

[2018-04-10 12:34] jnm2 commented on #28935
Noda Time doesn't support leap seconds either.

[2018-04-10 12:53] mklement0 commented on #28944
@iSazonov:  This was discussed above, but both @jkotas  and @tarekgh think it's not necessary.

(On a side note: My guess is that _separate method overloads_ are preferred to _optional parameters_; may be worth adding a clarification to the [coding style](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md) document.)

[2018-04-10 13:04] #28963 closed

[2018-04-10 13:08] #28763 closed

[2018-04-10 13:14] gabrielimmich commented on #27820
Hi @ajcvickers and @lajones , thanks you for repply, temporarily resolved. I would like something more automatic, as in MVC 5 where I downloaded the package mVC pt.Br (https://www.nuget.org/packages/Microsoft.AspNet.Mvc.pt-br) from the nuget which translated all messages. But I understand that asp.net core is still in development and I'm sure that in the future this will be implemented.

Thank you

[2018-04-10 13:15] MohammadHamdyGhanem commented on #28912
@brianrob
EventLog class reads and writes events to windows logs. I think an ETW class (or any other name) that reads and writes to ETW can make things easier. It can be just a wrapper arround other classes at least to do basic tasks, and who wants to go deeper can use those classes.
 Also, I see a problem in naming these namespaces and classses. Most of them contain Trace, Event and Source. We ha

[2018-04-10 13:25] bartonjs commented on #23629
As mentioned in https://github.com/dotnet/corefx/issues/23629#issuecomment-378605071, we feel like the risk vs reward vs expressed-use-cases say that we should only allow one-shot versions of AE.

[2018-04-10 13:56] hrushib commented on #8647
@weshaggard, @danmosemsft what is present recommendation for generating C# classes based on xml schema for CoreCLR projects built on Linux?

[2018-04-10 14:06] maike9 commented on #17833
Following up on this.   Was SqlDependancies added to .net core 2.1?

[2018-04-10 14:30] iSazonov commented on #28933
@tarekgh Proposed API updated. Feel free to correct if I skipped something.

[2018-04-10 14:44] JuniorCtba opened #28974 "Impersonation"
I need to do a impersonation in one of my services, but this service will run on a linux container.

In windows i use like that
[DllImport("advapi32.dll", SetLastError = true, CharSet = CharSet.Unicode)]

I could not find any reference do this situation, could you have example of that?

[2018-04-10 15:13] migueldeicaza commented on #12628
the issue is this, the folder is documented as:

“The directory that serves as a common repository for application-specific data that is used by all users.” on https://msdn.microsoft.com/en-us/library/system.environment.specialfolder(v=vs.110).aspx

This directory with those capabilities does not seem to exist in Unix.

It would need to be a directory with permissions 1777 for security purposes.

[2018-04-10 15:17] tmds commented on #28668
@danmosemsft I think it is due to nano exiting when stdin is not a terminal.

To reproduce I add a sleep:
[code]
And I execute the test with `</dev/null` on the command line.
This makes the test fail with the exception `Process has exited, so the requested information is not available.`.

`vi` behaves different, it does not exit when stdin is not a terminal.

[2018-04-10 15:38] karelz commented on #28974
Duplicate of #3187.

[2018-04-10 15:38] #28974 closed

[2018-04-10 15:40] karelz commented on #28968
Yep, that is a known problem, mostly happens on Win7.

[2018-04-10 15:44] karelz commented on #28960
@pulkjr can you please provide a simplified repro? Which version of .NET Core do you use?

[2018-04-10 15:55] tarekgh commented on #28933
Thanks, @iSazonov I have modified it a little but didn't change anything in the proposal.

[2018-04-10 16:18] eerhardt commented on #28974
Instead of using `[DllImport("libc")`, I would recommend using the [Mono.Posix.NETStandard](https://www.nuget.org/packages/Mono.Posix.NETStandard/) package.  It takes care of the interop for you, and has some good wrapper/helper APIs over top of the metal POSIX APIs.

Another related issue that has been resolved in .NET Core 2.1 is https://github.com/dotnet/corefx/issues/26268.  You can start a ne

[2018-04-10 16:24] kasper3 commented on #28974
@eerhardt, thanks for mentioning Mono.POSIX! I was thinking about suggesting `[DllImport("System.Native")` from runtime directory, as it is always present where dotnet-cli's sdk directory, but Mono.POSIX package would a better choice.

[2018-04-10 16:28] eerhardt commented on #28974
`[DllImport("System.Native")` is even less recommended than `[DllImport("libc")`.  It is actually strongly suggested to never do this.  The `System.*.Native` assemblies in corefx are not for public consumption. Their APIs are not stable and they can change just like any internal or private method.

[2018-04-10 16:28] karelz commented on #28941
Let's fix it in 2.1 - as compat with Framework.

[2018-04-10 16:30] Clockwork-Muse commented on #28935
Also, for the most part, at the level we're dealing with, we're only concentrating on "human" time, where, while leap seconds are part of (some standards of) official civil time, most people don't know or care about them.

That's if the host system even gives you a way to detect them in the first place.  On Windows, it essentially says, "hey, the value I got from NTP says I'm a second off now, for

[2018-04-10 16:34] davidsh commented on #28898
After researching this, it is valid for a SocketException to have SocketErrorCode of either HostNotFound or NoData values for "host not found" scenarios.

We actually test for this:
https://github.com/dotnet/corefx/blob/2e82c748da654905e29609804393e028a06d78fa/src/System.Net.Sockets/tests/FunctionalTests/DnsEndPointTest.cs#L57-77

The recommendation is for WCF to change their code here and add a c

[2018-04-10 16:35] meixger commented on #8647
@hrushib I'm using https://github.com/mganss/XmlSchemaClassGenerator successfully.

[2018-04-10 16:43] ericstj commented on #28886
You might be able to use the net4* copy of that DLL, but it may not be compatible if the Xamarin types are in different assemblies than in desktop.

[2018-04-10 16:47] tarekgh commented on #28933
@ShawnSteele what exactly your suggestion here regarding your peculiar note?  I think Windows may need to start flagging the locales which need ISO weeks and the framework would map these locales to use the new enum value we introduce.

[2018-04-10 16:53] weshaggard commented on #28925
Yes System.NET.WebSockets.Client is one of the packages we stopped shipping individually. To figure that out you can look under the library folder for a pkg folder and if there isn't one then we don't build/ship a nuget package for it but if there is then we do. You can see https://github.com/dotnet/corefx/tree/master/src/System.Net.WebSockets.Client doesn't have a pkg folder but https://github.co

[2018-04-10 16:54] karelz commented on #28841
How common is the pattern to have special ClientCertificate / ServerCertificateValidationCallback per request?
Can you help me understand the scenario better? How often will the values of ClientCertificate / ServerCertificateValidationCallback change? Is it periodic update - providing smooth transition, or is it about multiplexing several values all the time?
How much perf wins does the WinHTTP op

[2018-04-10 16:54] ShawnSteele commented on #28933
@tarekgh Two things:
1) Apps that explicitly want ISO week rules because that's how the app works probably need GetISOWeekOfYear().  It seems silly to me for an app that "needs" the ISO behavior to get a calendar for a culture/language and then try to correct it.  They want explicit behavior, it should be reasonably easy.
2) Some cultures intend to have ISO week behavior.  The framework should pro

[2018-04-10 16:56] karelz commented on #28925
Thanks @weshaggard! I'll try to keep that in mind for future ;).
@konne the package will be part of .NET Core 2.1. Let me know if you have further questions.

[2018-04-10 16:56] #28925 closed

[2018-04-10 17:00] KrzysztofCwalina commented on #28954
We should make sure that all MemoryMarshal APIs have good doc comments explaining the dangers and requirements for using the APIs safely/correctly.

[2018-04-10 17:00] tarekgh commented on #28933
Thanks, @ShawnSteele

So you are suggesting the new API shouldn't be part of the calendar class. it can be a static API on DateTimeFormInfo for instance. right?

This is implementation details, we can talk more about that when we are going to implement it. thanks for the feedback.

[2018-04-10 17:05] ShawnSteele commented on #28933
That would probably be more appropriate, yes.

[2018-04-10 17:10] luqunl commented on #17135
Current CoreCLR implementation of DllImport will append .dll/.so/.dylib if the file name itself doesn't contain '.'. see https://github.com/dotnet/coreclr/issues/17150

[2018-04-10 17:25] VSadov commented on #15960
I'd prefer NullReferenceException.

Missing.Value is used for many other purposes. DLR and VB latebinders, for example use Missing.Value to propagate the fact that user did not pass a particular argument to expected optional parameters.

Returning Missing.Value in a case of a failure will lead to situations where it will be impossible to whether the invocation failed or succeeded and returned a Mi

[2018-04-10 17:33] krwq commented on #8647
@hrushib if you're doing it in automated way then we do not have any way to do that, if you're planning to generate and modify it by hand you can generate them on full framework on Windows and with minimal modification they should be usable.

[2018-04-10 17:44] luqunl commented on #17135
@qmfrederik, Sorry for confusion. My original thinking is that If We can't make a good API for this scenario, how about expose some basic builder blocks as API -- at least it can unblock others.

[2018-04-10 17:50] ShawnSteele commented on #28933
@tarekgh - I think that depends on what the main use case(s) are.  In my experience many apps explicitly desire the ISO week, and the culture dependent behavior is irrelevant.

It is less clear to me if there is a reasonable use case where the culture's preference for an ISO week counting mechanism is interesting to an app even though other cultures may use different systems.  The majority of apps

[2018-04-10 18:03] khellang commented on #28933
Is there such a thing as culture-dependent ISO week behavior? Doesn't that defeat the entire point of the standard? :thinking:

Personally, I like where we're heading now much better than adding an enum value and throwing for some combination of arguments.

[2018-04-10 18:14] tarekgh commented on #28933
good, I'll update the proposal to have the new static API (I thinking to have it in the Calendar class for discoverability) and I'll remove the enum proposals. I believe that will be much clearer.

[2018-04-10 18:15] huanwu opened #28978 "Enable DCS_TypeWithPrimitiveKnownTypes"
Need enable [DCS_TypeWithPrimitiveKnownTypes](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs#L4019) test on UWP since #24265 has been closed.

[2018-04-10 18:16] rmkerr opened #28979 "SocketsHttpHandler does not work on single core machines"
While trying to repro an issue on Win7 I have been running into consistent failures in all tests using Http. I think that it is a result of the changes introduced in PR #28638.

The assertion being hit is on line 48 of ConcurrentQueue_Segment.cs. `boundedLength` has a value of 1.
https://github.com/dotnet/corefx/blob/943e316297df4b0767e46dbb87f97ea861c6817e/src/Common/src/System/Collections/Concur

[2018-04-10 18:44] qmfrederik commented on #17135
@luqunl I'm all for exposing the basic building blocks as an API. Anything which is a tiny wrapper around `dlopen`/`LoadLibrary` will work for me, and I guess for @xoofx and @Ruslan-B as well. In particular, it will also help fix a couple of issues related to System.Drawing.Common on platforms such as CentOS.

Do you have an idea of what the API could look like (either an API speclet or sample cod

[2018-04-10 18:45] yzorg commented on #22891
@stephentoub Can you break out the options, or is there a place the community can vote?

I vote for the last option.  I would prefer to explicitly convert `Task` to `IObservable<Unit>` via `.ToObservable()` (in my experience that composition is rare, the biggest value IMO is seamlessly composing `Task<T>` with `IObservable<T>`).

[2018-04-10 18:45] brianrob commented on #28912
@MohammadHamdyGhanem, in general, we've tried to move towards a model where you log once and can have multiple consumers.  EventSource is the source of such events.  And then there are multiple consumers.  EventSources can write to EventListeners, ETW (on Windows), LTTng (on Linux), and the EventLog.  Furthermore, EventListeners are just programmatic consumers of event sources and can be implement

[2018-04-10 18:49] xoofx commented on #17135
First time I'm seeing this. Do you know why they have been using `-` instead of `.` on Windows? If this is something that common, that could be supported, otherwise it is not really realistic to support any naming inconsistencies.

[2018-04-10 18:52] xoofx commented on #17135
I concur. This basic block functionality is what will unlock a lot more complex scenarios. And if it can help also to get this more easily into the PR process for corefx, that's a double win. 😉

[2018-04-10 18:55] krwq commented on #28882
Moving the target to 2.2. Based on investigation the old tests were not running against netfx. @davidsh/@karelz have more details in the offline conversation along with my analysis based on bad assumption it was running on 4.6.1.

[2018-04-10 18:56] #3063 closed

[2018-04-10 19:02] mellinoe commented on #17135
It's quite common. Vulkan binaries follow this pattern and have other inconsistencies:

https://github.com/mellinoe/vk/blob/master/src/vk/Commands.cs#L23

The other common inconsistency is many libraries append their name with a ".version" suffix. Some platforms/distributions omit the suffix in some cases, others don't. Some have different suffixes for the same library. Vulkan has a little bit of

[2018-04-10 19:02] yzorg commented on #22891
@kentcb True, but would it avoid allocations.  I don't know if there is a coherent _"low allocation async"_ story for dotnet (i.e. `Span<ValueTask<T>>`) but my intuition says being able to seamlessly compose `Task<T>` and `IObservable<T>` with less allocations would be a performance win for my apps.

[2018-04-10 19:08] krwq commented on #28882
Here is my analysis:

[code]

[2018-04-10 19:10] xoofx commented on #17135
Thanks, so that's a good example: I'm fine with inconsistencies, as long as it is handled by the caller, and not by the underlying `Marshal.LoadLibrary`. The vulkan bindings shows that this can't be covered in a generic way. The LoadLibrary should at least cover the common pattern. Also I would not mind having an helper method that returns a list of possible shared lib extensions for the running p

[2018-04-10 19:16] xoofx commented on #17135
One thing about the versions used in dylib names (so.1 ...etc.)... I would expect that a `1` or `2` would provide a different API (likely only an extension but not breaking the previous API?)... but can we expect that the LoadLibrary could choose whatever is available.? I don't know well the different Linux discrepancies, but how this is working? Is there cases where you can have a `so.1` without

[2018-04-10 19:21] Petermarcu opened #28984 "Allow HTTPListener to grab unprotected ports on Windows"
@doyouevensunbro commented on [Mon Apr 09 2018](https://github.com/dotnet/core/issues/1413)

Currently, to get HTTPListener in .Net Core 2 I have to run the following block of code:

[code]

I'm assuming that this is for security reasons (I'm more familiar with Linux over Windows, and HTTPListener works without issue on those platforms). So I tried listening to the port using TcpListener and had n

[2018-04-10 19:22] Petermarcu opened #28985 ".NET Core 2.0: FileLoadException"
@Krakean commented on [Tue Apr 10 2018](https://github.com/dotnet/core/issues/1416)

Hello.
Using Win 10 x64 Fall Creators Update and .NET Core 2.1.104
I'm getting this when trying to run my game launcher:
https://i.imgur.com/WCzLzah.png (previously it was: BadImageException bla bla reference assemblies should not be loaded for execution bla bla; but after I downgraded System.Numerics.Vector to 4.

[2018-04-10 19:22] Petermarcu opened #28986 ".NET Core 2.0: FileLoadException"
@Krakean commented on [Tue Apr 10 2018](https://github.com/dotnet/core/issues/1416)

Hello.
Using Win 10 x64 Fall Creators Update and .NET Core 2.1.104
I'm getting this when trying to run my game launcher:
https://i.imgur.com/WCzLzah.png (previously it was: BadImageException bla bla reference assemblies should not be loaded for execution bla bla; but after I downgraded System.Numerics.Vector to 4.

[2018-04-10 19:29] krwq commented on #28951
@karelz while I 100% agree this is something we want to fix, I'm seeing identical behavior on full framework (tested with 4.7) which suggests this is not a regression and thus not 100% convinced we want to address it in 2.1 time-frame. I'm suspecting because ToString works correctly we might have not been affected by it before. I'll be happy to fix it in 2.1 but IMO this is more appropriate for 2.

[2018-04-10 19:30] kasper3 commented on #17135
@xoofx, yes it is possible https://github.com/dotnet/corefx/blob/1c974c975d7c354c8dadd96b449847b6ad01180f/src/Native/Unix/System.Security.Cryptography.Native/opensslshim.cpp#L18 and https://github.com/dotnet/coreclr/blob/e5a17bac5f0fd0b0137be7c8cf23391adc59958f/src/pal/src/loader/module.cpp#L1636-L1655 etc. Same lib, different OS, same or different kernel having different numeric suffix.
Usually t

[2018-04-10 19:32] geoffkizer commented on #28951
@krwq

You're seeing that WinHttpHandler mangles the header in the same way?

[2018-04-10 19:32] kasper3 commented on #17135
(even libc doesn't have consistent extension across the unices)

[2018-04-10 19:33] krwq commented on #28951
@geoffkizer I've tested the simpler repro from @stephentoub. I'll check if the original scenario also repros

[2018-04-10 19:36] xoofx commented on #17135
Fair enough, all good cases that confirm that this can't be realistic to support all these discrepancies. This can be only part of higher level usage of `Marshal.LoadLibrary` and this will work as well in this case (you could have also different loading path...etc.)

[2018-04-10 19:37] davidsh commented on #28984
On Linux, HttpListener is implemented as a pure System.Net.Sockets implementation.  On Windows, HttpListener uses the http.sys APIs.  As such, adding "url reservations" such as this are required and usually need Admin elevation.

I don't see a way around this on Windows as long as the .NET Core Windows implementation continues to use http.sys native APIs.

[2018-04-10 19:38] rmkerr commented on #28790
On one of the RH6 CI machines `curl -V` gives me the following output:
[code]

But in the default RH6 install I can see that an earlier version is installed:
[code]
I'm still learning about how we use libcurl and openssl, so I don't know what kind of consequences this would have. Any thoughts @tmds?

[2018-04-10 19:39] geoffkizer commented on #28951
Relevant code in ProductInfoHeaderParser:

[code]

ProductInfoHeaderParser seems to be the only header parser that does this.

This seems kinda ugly to me, especially since ProductInfoHeaderParser is the only parser that actually does this.  It would be much cleaner and more consistent to just have ProductInfoHeaderParser parse the raw value itself and not actually treat these as different "header

[2018-04-10 19:39] stephentoub commented on #28951
My point was meant to be that SocketsHttpHandler is using one approach and netfx and the other handlers is using the other, so they differ.

[2018-04-10 19:40] davidsh commented on #28941
These are references to .NET Framework implementation

https://github.com/Microsoft/referencesource/blob/master/System/net/System/Net/HttpWebResponse.cs#L280

https://github.com/Microsoft/referencesource/blob/master/System/net/System/Net/Internal.cs#L1975

[2018-04-10 19:43] krwq commented on #28951
@stephentoub makes sense, my bad - also confirming netfx works correctly

[2018-04-10 19:50] geoffkizer commented on #28951
I think we can detect this case in HttpConnection.WriteHeadersAsync and do the special handling for `descriptor.Parser.Separator`.  We already have the HeaderDescriptor there, so we just need to add a bit of logic similar to GetHeaderString above that retrieves this and handles it correctly.

Or we could just check for User-Agent specifically in WriteHeadersAsync and handle it specially.  This see

[2018-04-10 19:51] kasper3 commented on #17135
In fact, that numeric format is actually `libFOO.so.MAJOR.MINOR` (from https://unix.stackexchange.com/a/481 &
https://www.ibm.com/developerworks/linux/library/l-shlibs/index.html (section ` Compatibility's not just for relationships`))

[2018-04-10 19:59] qmfrederik commented on #17135
Please, no. There is no common pattern across distro's or even within a single distro. There will be at least one scenario in which the "common pattern" will have unexpected side-effects and you want to access the underlying API.

I think most of us are fine with writing our own probing mechanism (be it for FFmpeg, Vulkan or libgdiplus) as long as we have a way to invoke `dlopen` and `GetFunctionP

[2018-04-10 20:11] ahsonkhan commented on #19223
From: https://github.com/dotnet/corefx/pull/28906
System.ServiceProcess.Tests.SafeServiceControllerTests/GetServices
https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/861be5af2020327c2f421368b14689a9aa30e505/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.SafeServiceControllerTests~2FGetServic

[2018-04-10 20:13] tmds commented on #17135
+1 @qmfrederik The numbers version the API, the caller must understand and deal with the semantics.

[2018-04-10 20:30] ahsonkhan commented on #28948
I am getting the same warnings (started recently):
[code]

cc @dotnet/dnceng

[2018-04-10 20:36] JuniorCtba commented on #28974
Tks a lot guys, i will test it

[2018-04-10 20:38] pulkjr commented on #28960
I'm executing this via PowerShell.

[code]
This does work though
[code]

[2018-04-10 20:38] xoofx commented on #17135
I would tend to agree with that... but my main grip is that for the common case where you develop and deploy your own native library (and you control the way the naming is performed), we should be able to write xplat code without having to make a if (platform_blabla) { use_stupid_extension_naming} else {...}. I still think that `Marshal.LoadLibrary` should provide a minimalist default behavior tha

[2018-04-10 20:39] dagood commented on #28948
I forgot that CoreFX depends on CoreCLR symbol packages being available on MyGet. This recent change to publish symbols on the official MSDL endpoint removed the MyGet symbol package publish: https://github.com/dotnet/coreclr/pull/17463.

The new place to get these is the blob feed, for example:
https://dotnetfeed.blob.core.windows.net/dotnet-core/assets/symbols/runtime.win-x64.Microsoft.NETCore.R

[2018-04-10 20:40] #28881 closed

[2018-04-10 20:46] qmfrederik commented on #17135
I agree, and the good news is you can already do so today - actually .NET Core has a pretty good story there.

If you control the naming of your native library, you can something like `[DllImport("mylibrary")]|` and that will automagically resolve to `libmylibrary.so`, `libmylibrary.dylib` and `mylibrary.dll`.

Since you control the naming, you also control the distribution, in which case you can

[2018-04-10 20:47] xoofx commented on #17135
Yep, and that was my proposal just above (to make LoadLibrary acting similar to DllImport behavior) So you agree a bit then? 😅

[2018-04-10 20:48] wfurt commented on #27876
I this long thread into separate issues. Here is final summary:

 -1 NTLM support is tracked by #28961. There is trivial workaround by adding OS package. When installed, SocketHttpHandler works as expected without any other changes.
I also opened issue to fix our docker images so it should work there without any additional work for consumers.

- 2 using domain\user format for kerberos
This turn ou

[2018-04-10 20:48] #27876 closed

[2018-04-10 20:50] ahsonkhan commented on #28948
cc @weshaggard, @joperezr, @danmosemsft

[2018-04-10 20:54] weshaggard commented on #28948
@safern did this work originally. By the way this shouldn't impact the build for normal use, it only impacts debugging and code coverage for corelib.

[2018-04-10 20:58] safern commented on #28948
It also impacts core dumps on tests crashes in Helix. Seems like a simple fix. Assigning to myself.

[2018-04-10 21:03] joperezr commented on #23072
Since it hasn't failed in a while, I'm going to close this one. If it fails again, I will set property `XunitPerfMaxIteration` to 2 as discussed above so that we would attempt running this twice before failing.

[2018-04-10 21:03] #23072 closed

[2018-04-10 21:06] qmfrederik commented on #17135
Yes!

[2018-04-10 21:28] VSadov commented on #15960
It could be nice if `PropertyInfo.SetValue` method worked with ref-returning properties/indexers.

[2018-04-10 21:34] karelz commented on #28979
@rmkerr can you please check if the same bug is in Preview2? We might need to add it to release notes just in case ...

[2018-04-10 21:34] VSadov commented on #15960
For methods, the scenario would imply `MethodInfo.SetValue`, but that would be a new API.
I assume this issue is just about generalizing existing ones and new APIs will be handled separately.

[2018-04-10 21:35] AtsushiKan commented on #15960
Right, and we're principally interested in the data-binding scenario. Getting ref-return support on non-property invokes is more of a "falls out of the implementation" bonus.

[2018-04-10 21:37] rmkerr commented on #28979
The bug was introduced 11 days ago and is in the Release/2.1 branch, so it is probably in Preview 2. I think adding it to the release notes is a good idea.

[2018-04-10 21:38] danmosemsft commented on #28668
Aha thank you @tmds. @maryamariyan I suggest you change this test to only use vi. (Not sure it's on Alpine though...)

[2018-04-10 21:43] karelz commented on #28979
OK, it is in Preview2 then. @rmkerr can you please confirm the behavior (on release) on single-core? Please write description what we should put to release notes based on it, then we can pass it further. Thanks!

[2018-04-10 21:50] VSadov commented on #15960
One thing to mention - properties/indexers may have getters that are `ref readonly`. - they do return by reference, but the references are "readonly" and are not supposed to be used for assignments.

`SetValue` should not work with those.

[2018-04-10 22:00] #28870 closed

[2018-04-10 22:03] rmkerr commented on #28979
The exception I was seeing was a Debug.Assert, which would not show up in a release build. I'm not sure exactly how the issue would manifest if not caught by the assert, but I can do some testing to find out.

[2018-04-10 22:06] VSadov commented on #15960
A ref-returning property/method would have  `System.Runtime.CompilerServices.IsReadOnlyAttribute` applied and the return type would have `modreq[System.Runtime.CompilerServices.IsReadOnlyAttribute]`

You can probably just key off the attribute. The modreq is for signature matching across overrides and to make sure old compilers cannot simply ignore the attribute and party on the ref that is suppos

[2018-04-10 22:30] #28979 closed

[2018-04-10 22:32] #15455 closed

[2018-04-10 22:34] pakrym opened #29001 "Remove SequencePosition comparison operators or change their description"
We do not guarantee that any comparison of sequence positions would have any meaning but that they contain same values.

https://github.com/aspnet/SignalR/pull/1916/files/1ca2e5f2638f498bb4b57a9d2c69084ecf99bc8f#diff-00c0a7c2117eaeddb8f9964fbdda240aR79

/cc @ahsonkhan  @davidfowl  @KrzysztofCwalina

[2018-04-10 22:43] stephentoub commented on #28986
Dup of https://github.com/dotnet/corefx/issues/28985

[2018-04-10 22:43] #28986 closed

[2018-04-10 22:52] karelz commented on #28960
Does it fail also with C#?
[code]

It works fine for me with .NET Core 2.0 on Win10.

[2018-04-10 22:56] karelz commented on #28960
Seems to be duplicate / similar to #25820

[2018-04-10 23:08] #28667 closed

[2018-04-10 23:16] ahsonkhan commented on #29001
cc @joshfree, @terrajobst

[2018-04-10 23:17] ahsonkhan commented on #29001
@pakrym, what do you mean by this?

Any suggestions or would it be easier to just remove the comparison operators all together?

[2018-04-10 23:31] JustArchi opened #29005 "Unobserved websocket task exceptions when attempting to read/write on non-existent connections"
Valid repro: [WebSocketRepro.zip](https://github.com/dotnet/corefx/files/1896745/WebSocketRepro.zip)

Firstly start server with `dotnet run -c Release`, then keep starting client with `dotnet run -c Release` until server app prints the exception we're looking for. Reproducing it might require a few tries, but I've never needed more than 3.

I reproduced it on both latest stable `2.1.103` SDK, as w

[2018-04-10 23:57] pakrym commented on #29001
I think removing all together is better.

All it does is `a.GetObject() == b.GetObject() && a.GetValue() == b.GetValue()` and it doesn't mean that you can compare positions logically (`ros.Length ==0` doesn't mean `ros.Start==ros.Length` etc.)

[2018-04-11 00:18] Anipik opened #29007 "Performance Counter tests failing on spanish CI"
A couple of the tests are failing
[code]
CounterSample_Calculate_CalculateCounterSample
CounterSample_Calculate_CalculateCounterSampleCounterSample

[2018-04-11 01:00] karelz commented on #28985
@joperezr it sounds similar to existing problems on 4.7.1 ...

@Krakean if you're running on .NET Framework 4.7.1, then you don't use .NET Core. Can you please clarify?

[2018-04-11 01:30] #28959 closed

[2018-04-11 01:41] Anipik commented on #29007
These tests were not reproducible through repro tool but was reproducible through local Spanish machine

[2018-04-11 02:16] karelz commented on #28984
We are discussing the option to use managed HttpListener as default also on Windows (and moving http.sys-based HttpListener into separate nuget package, under different namespace).
Until that happens, this is by design and nothing can be done, so closing.

[2018-04-11 02:16] #28984 closed

[2018-04-11 02:17] StanislawSwierc opened #29011 "Constructor System.Uri(Uri baseUri, string relativeUri) fails if relativeUri is long and contains a colon"
I observed strange behavior when working with OData queries. When I tried to debug this problem I found that the root cause it most likely in `System.Uri.CreateThis` which validates scheme before actually checking if the scheme is necessary.

[code]

Output:
[code]

[EDIT] Add syntax highlighting by @karelz

[2018-04-11 02:53] danmosemsft commented on #28948
@ahsonkhan is this sufficient to fix code coverage for corelib? Is certainly necessary.

[2018-04-11 03:00] davidsh commented on #29011
cc: @rmk

[2018-04-11 03:00] davidsh commented on #29011
cc: @rmkerr

[2018-04-11 03:02] davidsh commented on #29005
cc: @stephentoub

[2018-04-11 03:13] ahsonkhan commented on #28948
I tried the steps from https://github.com/dotnet/corefx/blob/master/Documentation/building/code-coverage.md#code-coverage-with-systemprivatecorelib-code but couldn't get the code coverage for corelib (with or without `set COMPlus_ZapDisable=1`).

Also tried:

[2018-04-11 03:48] iSazonov commented on #28933
If we are going in the direction I believe it make sense consider all ISO801 objects and compatibility with Unix `date` utility.
https://en.wikipedia.org/wiki/ISO_week_date#Relation_with_the_Gregorian_calendar
- first week
- last week
- weeks per year
- weeks per month

http://man7.org/linux/man-pages/man1/date.1.html
- `-I` output date/time in ISO 8601 format
- `%g` last two digits of year of ISO

[2018-04-11 03:51] Thaina commented on #16010
ufcpp has suggest this

[code]

Work like charmed

[code]

Just need to put it in BCL for tuple

[2018-04-11 03:51] EmmaZhu commented on #28713
Thanks all for your help.

I've tried with upgraded to the latest daily build, and the issue doesn't exist anymore. Seems it should have been fixed.

I'll close this issue.

[2018-04-11 03:51] #28713 closed

[2018-04-11 03:54] Thaina commented on #16010
But then again would it possible to have a mixed mode?

I mean

[code]

Which then we need permutation of all task/tuple combination?

[2018-04-11 05:26] EmmaZhu opened #29014 "Value of Environment.CommandLine is different with the actual input"
Hi,
We are porting a .Net application to .Net Core. The application will run on Windows and we'd want it to have the same behavior with the origin one. In the application, we implemented a command line parser which reads command line from `Environment.CommandLine`. We'd want to reuse the code, while found `Environment.CommandLine` returns different value with .Net. In .Net, it can return exactly t

[2018-04-11 05:53] AlexRadch commented on #28948
@safern, thank you for fixing this issue because my VS did hangup on corefx while this issue was active. So I paused work on corefx. Now I can work on corefx without VS hangups.

[2018-04-11 05:59] Sunny-pu commented on #27963
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20180411.01/workItem/System.ComponentModel.Annotations.Tests/analysis/xunit/System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests~2FDotDecimalExtremaAndInvalidValuesInvariantParse(type:%20typeof(double),%20min:%20%5C%221.0%5C%22,%20max:%20%5C%223.0%5C%22,%2

[2018-04-11 06:11] dotnet-mc-bot opened #29015 "Test failure: WindowAndCursorProps/Title_Get_Windows"
Opened on behalf of @Sunny-pu

The test `WindowAndCursorProps/Title_Get_Windows` has failed.

System.IO.IOException : The data area passed to a system call is too small.\r

        Stack Trace:

           at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
       at System.Console.get_Title()
       at WindowAndCursorProps.Title_Get_Windows() in E:\A\_work\3\s\corefx\src\System

[2018-04-11 06:43] Zuendelmeister commented on #28418
Thank you guys so much for these hints and the patience. It realy took me a while to find the time.
Here is the file. I hope this helps.

[CoreDumpLogFile.txt](https://github.com/dotnet/corefx/files/1897541/CoreDumpLogFile.txt)

Best regards,
Zuendelmeister

[2018-04-11 06:46] dotnet-mc-bot opened #29016 "Test failure: System.Collections.Generic.Tests.EqualityComparerTests/NullableEquals(left: 0, right: 128, expected: False)"
Opened on behalf of @Sunny-pu

The test `System.Collections.Generic.Tests.EqualityComparerTests/NullableEquals(left: 0, right: 128, expected: False)` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Nullable$1<System.__UniversalCanon>.get_HasValue() in f:\dd\ndp\fxcore\CoreRT\src\System.Private.CoreLib\sh

[2018-04-11 06:50] Sunny-pu commented on #29016
[23386](https://github.com/dotnet/corefx/issues/23386)

[2018-04-11 06:55] Sunny-pu commented on #29016
[23386](https://github.com/dotnet/corefx/issues/23386)

[2018-04-11 07:10] Sunny-pu commented on #23499
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20180411.01/workItem/System.ComponentModel.TypeConverter.Tests

[2018-04-11 07:15] gabornemeth commented on #26886
I have experienced problem with no quotes on form-data names when trying to use [this service].(http://developers.strava.com/docs/reference/#api-Uploads-createUpload)
It definitely does not recognize parameters without quotes. I had a hard time to figure out this is the problem (comparing with Postman's request).
Although workaround can be to manually apply "" around the parameter name in ```Multi

[2018-04-11 07:26] Sunny-pu commented on #25263
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20180411.01/workItem/System.Threading.ThreadPool.Tests/analysis/xunit/System.Threading.ThreadPools.Tests.ThreadPoolTests~2FSetMinThreadsTo0Test

[2018-04-11 07:33] dotnet-mc-bot opened #29017 "Test failure: MonoTests.System.Configuration.ConfigurationSectionGroupTest/EditAfterAdd"
Opened on behalf of @Sunny-pu

The test `MonoTests.System.Configuration.ConfigurationSectionGroupTest/EditAfterAdd` has failed.

System.Configuration.ConfigurationErrorsException : An error occurred loading a configuration file: The process has no package identity. (Exception from HRESULT: 0x80073D54)\r
    ---- System.InvalidOperationException : The process has no package identity. (Exception fro